[2022-07-18 15:51] elasticmachine commented on #136554
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-18 15:57] #133368 closed

[2022-07-18 16:15] #131419 closed

[2022-07-18 16:18] JiaweiWu commented on #135599
thanks @XavierM, definitely a better approach

[2022-07-18 16:22] teresaalvarezsoler commented on #136428
Solution: add scroll after certain number of characters

[2022-07-18 16:30] stratoula commented on #61748
@ThomThomson yes we have this one https://github.com/elastic/kibana/issues/127247 It doesn't mention the integration with controls, it is mostly focused on the unified search changes (the filter bar UI and the backend)
Maybe we need a separate issue for tracking the integration with controls, wdyt?

[2022-07-18 16:40] elasticmachine commented on #136459
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-18 16:44] stratoula commented on #61748
Sounds fair, we can close this!

[2022-07-18 16:45] #61748 closed

[2022-07-18 16:56] kibanamachine commented on #136541
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18514#01821219-634c-4eae-9407-98028a31d4ee)

[2022-07-18 16:56] kibanamachine commented on #136542
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18514#01821219-634c-4eae-9407-98028a31d4ee)

[2022-07-18 16:59] #130647 closed

[2022-07-18 17:04] kibanamachine commented on #136541
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18515#01821220-cec5-4706-9035-a01945a0880e)

[2022-07-18 17:04] kibanamachine commented on #136542
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18515#01821220-cec5-4706-9035-a01945a0880e)

[2022-07-18 17:10] kibanamachine opened #136558 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group3/drag_and_drop·ts - lens app - group 3 lens drag and drop tests basic drag and drop should combine two multi terms dimensions"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18516#0182122a-5175-4c75-ab36-59f878ea627d)

[2022-07-18 17:40] bhavyarm commented on #135985
@1Copenut this test has multiple successful runs in ci and local including flaky test runner. Can we please get some help on why its failing? Here is the PR where I am skipping this particular test - https://github.com/elastic/kibana/pull/136550 Thanks!

[2022-07-18 17:49] mistic commented on #136542
Skipped.

main: [b4d985e](https://github.com/elastic/kibana/commit/b4d985ec9185ab93c81397862cf02c009073ac26)

[2022-07-18 17:50] ymao1 commented on #66908
The refactoring in [this PR](https://github.com/elastic/kibana/pull/131718) includes an `onConnectorCreated` callback that returns the newly created connector (including ID) when the flyout is closed. Closing this issue as done.

[2022-07-18 17:50] #66908 closed

[2022-07-18 17:53] #132719 closed

[2022-07-18 17:59] nreese opened #136561 "[maps] Geo containment alert trimming results with high cardinality on entity_id field"
Geo containment alert query uses ["other" bucket](https://github.com/elastic/kibana/blob/main/x-pack/plugins/stack_alerts/server/alert_types/geo_containment/es_query_builder.ts#L132) to track when entities are no longer contained in any boundary. The problem is that the "other" bucket sub buckets on entity id field (terms aggregation). High cardinality on entity id field will result in "other" buc

[2022-07-18 17:59] elasticmachine commented on #136561
Pinging @elastic/kibana-gis (Team:Geo)

[2022-07-18 17:59] bhavyarm opened #136562 "Need a replacement for esArchiver.emptyKibanaIndex();"
I am [migrating](https://github.com/elastic/kibana/pull/136535)  test/api_integration/fixtures/es_archiver/management/saved_objects/scroll_count to kbnArchiver (kibana/test/api_integration/apis/saved_objects_management/scroll_count.ts)   And this test is using await esArchiver.emptyKibanaIndex();.

I tried to replace it with await kibanaServer.savedObjects.cleanStandardList(); but the test failed.

[2022-07-18 18:05] #135147 closed

[2022-07-18 18:34] jbudz opened #136563 "[CI] Windows artifact testing"
This is for adding a pipeline step to deploy against a Windows base OS.  We should run our smoke test suite and our fs tests against the deployment.

[2022-07-18 18:43] mattkime commented on #136248
@gsoldevila I think I was thrown by a space between the colon and quote. I'm glad to see this working - thanks for checking!

[2022-07-18 19:08] kpollich commented on #136259
Opened upstream issue. Closing for now. If the result of the issue is that we can make a fix on our end I will re-open this. https://github.com/elastic/eui/issues/6060

[2022-07-18 19:08] #136259 closed

[2022-07-18 19:12] kobelb commented on #136213
Separating the concepts of "revision" and "version" makes total sense to me and I completely agree with the differences in behavior that you've outlined @xcrzx.

However, I think we should use the name `prebuilt_version`, `epm_version` or some other better name as opposed to just `version` for the field on the `alert` saved-object that maintains a reference to the `security-rule` saved-object. Thi

[2022-07-18 19:18] mikecote commented on #136213
I agree, the use of `prebuilt_version` and `epm_version` or along those lines makes sense to me as well. Given the rule already tracks different "versions" already like the migraiton version and the version the API key was last modified, keeping the naming more precise will remove confusion 👍

[2022-07-18 19:32] #135791 closed

[2022-07-18 19:38] jen-huang commented on #133740
@nchaulet Is there anything left for this feature before we close this issue out?

[2022-07-18 19:40] nchaulet commented on #133740
@jen-huang No just closed the last PR for that today, and there is an issue for doc already (where I need to had more info)

[2022-07-18 19:40] #133740 closed

[2022-07-18 19:43] smith commented on #106650
No further failures on this. Closing.

[2022-07-18 19:43] smith commented on #127850
No recent failures on this. Closing.

[2022-07-18 19:43] yagely80 opened #136565 "Add alerts to case in bulk"
**Describe the feature:**
As a soc analyst, sometimes i need to add a large amount of alerts to a case at once , which i cant to in the current version.
**Describe a specific use case for the feature:**
A lot of alerts are trigerring at once, and they all need to go into a certian case for a follow-up

[2022-07-18 20:41] spalger commented on #136562
I'm pretty sure the problem is that there are so many saved objects to delete, and there isn't any bulk delete API. @elastic/kibana-core can we discuss the option of closing https://github.com/elastic/kibana/issues/30503 again?

[2022-07-18 20:43] spalger commented on #30503
https://github.com/elastic/kibana/issues/30503 is a case where we're trying to use the saved obejcts API instead of the esArchiver in some functional tests but the issue is that the tests create 10k objects for some capacity tests, making this limitation really problematic when we need to cleanup after the test.

[2022-07-18 20:49] jonathan-buttner commented on #93936
I think this is what Steph is working on right?

[2022-07-18 20:51] jonathan-buttner commented on #109286
This one might be harder than I'm imagining. It depends on whether we have some easily accessible UI privileges that govern the alert table behavior.

[2022-07-18 20:53] jen-huang commented on #124779
Flakiness should be better after #136438.

[2022-07-18 20:53] hbharding commented on #135147
Gray cards represent disabled monitors.

I'll get back to you on this soon

[2022-07-18 21:04] mitodrummer opened #136574 "[Kubernetes Security] Kubernetes dashboard page isn't remembering url in address bar."
**Kibana version:**
Unreleased feature

**Elasticsearch version:**
8.4

**Server OS version:**
All

**Browser version:**
All

**Browser OS version:**
All

**Describe the bug:**
Typically, when a page has a global KQL search bar up top, changing said search or adding quick filters would update the address bar query params to store the state. This is either broken or not implemented on the kubernete

[2022-07-18 21:10] benironside opened #136575 "[Kubernetes Security] Responsive design bug with Container Images widget in Kubernetes dashboard"
**Kibana version:**
8.4

**Browser version:**
Tested in Chrome Version 103.0.5060.114 (Official Build) (x86_64)

**Browser OS version:**
Tested in macOS

**Describe the bug:**
See screenshot

**Steps to reproduce:**
1. Access the Kubernetes dashboard
2. Use a long image name
3. Make the browser window small

**Screenshots (if relevant):**
![kubernetes-dashboard-responsive-bug](https://user-images.

[2022-07-18 21:12] cjcenizal commented on #136440
Thanks Jeff! Going to skip tracking it for now.

[2022-07-18 21:18] jamster10 opened #136576 "Remove external alert trend chart from overview page and update name of 'Detections Alert trend' to 'Alert trend'"
**Describe the feature:**
We are removing the External Alerts table, and renaming the Detections alert trend table to Alert trend.

**Describe a specific use case for the feature:**

[2022-07-18 21:18] elasticmachine commented on #136576
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-18 21:54] sethmlarson opened #136581 "Set a default User-Agent field value when making HTTP requests"
**Describe the feature:**

Currently HTTP requests made using the elasticsearch-js client use the default `User-Agent` field of the client instead of setting a value that identifies Kibana to be the product in use. The `User-Agent` field typically is hierarchical so a potential choice for Kibana could be:

`User-Agent: Kibana/{kibana version} elasticsearch-js/{client version}`

**Describe a specif

[2022-07-18 21:54] elasticmachine commented on #136581
Pinging @elastic/kibana-core (Team:Core)

[2022-07-18 22:11] alex-fedotyev commented on #133383
@cyrille-leclerc - this improvement has been implemented and it is available on the **edge** environment now.
Could you please take a look to double-check if everything looks correct?

[2022-07-18 23:51] JiaweiWu commented on #132506
That seems good to me! Are those the finalized tooltip texts? If so I can add them in, thanks!

[2022-07-19 00:38] JiaweiWu opened #136587 "[RAM] Create a new API endpoint that returns action failures given the rule ID and the rule run ID"
parent issue: https://github.com/elastic/kibana/issues/135864

Split up the existing execution log aggregation function into 2 separate functions:

- First function is the existing execution log aggregation, but without the action error logs
- Second function is just the action error logs

We are doing this because, in order to consolidate the run history table and the error log table, we are movi

[2022-07-19 00:44] JiaweiWu commented on #135945
closing in favor of https://github.com/elastic/kibana/issues/135954

[2022-07-19 00:44] #135945 closed

[2022-07-19 02:40] axw opened #136590 "[Metrics] Visualise and alert on query-time runtime fields"
**Describe the feature:**

I would like to be able to define a metric in Kibana as a runtime field, and make this available for both visualisation and alerting, without modifying index mappings.

**Describe a specific use case for the feature:**

Elastic APM Server emits [CFS](https://en.wikipedia.org/wiki/Completely_Fair_Scheduler) statistics in stack monitoring docs, and we calculate CPU usage f

[2022-07-19 02:40] elasticmachine commented on #136590
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-19 03:12] nicpenning commented on #136549
By checking all of our data stream mappings, we found a few indices .ds* that were custom datastreams that were using the data_stream.dataset type as `keyword` which was different than most of the other datastreams which were set to type `constant_keyword`, so intuitively we went ahead and checked the templates and it appeared we did not have the data_stream ECS mappings set. Fortunately there was

[2022-07-19 05:25] samratbhadra-qasource commented on #136533
Hi @MadameSheema

We have shared the **8.4.0-snapshot** environment Details through email.

**Subject**: [Environments Details for: **[#136533](https://github.com/elastic/kibana/issues/136533)** ]

Also, we have installed the Linux endpoint to ingest the data.

Please let us know if anything else is required from our end.

Thanks!!

[2022-07-19 05:44] harshitgupta-qasource opened #136592 "[BUG] No validation on negative or invalid process IDs."
**Describe the bug**
No validation on negative or invalid process IDs.

**Build Details**

[code]
**Preconditions**
- Kibana should be deployed
- Endpoint should be deployed

**Steps**
- Navigate to Endpoint tab.
- Open Responder.
- Open the console and type ``` kill-process --pid <-ve pid> ``` or ``` suspend-process --pid <-ve pid> ```
- Observe that negative pid is accept by responder console.

[2022-07-19 05:44] elasticmachine commented on #136592
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-19 06:05] muskangulati-qasource commented on #128873
Hi @paul-tavares,

We have validated this issue on **8.4.0 SNAPSHOT** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:
**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/60252716/179676860-a0efb159-8fba-4817-b87a-aaff2c881ef0.png)

Hence, We are closing this issue and marking it as QA Validated
cc: @kevinlog

Thanks!!

[2022-07-19 06:05] #128873 closed

[2022-07-19 06:06] harshitgupta-qasource opened #136593 "[BUG] The action logs never show an entry for a non-eligible PID."
**Describe the bug**
The action logs never show an entry for a non-eligible PID.

**Build Details**

[code]
**Preconditions**
- Kibana should be deployed
- Endpoint should be deployed

**Steps**
- Navigate to Endpoint tab.
- Open Responder.
- Open the console and type ``` kill-process --pid <wrong PID> ``` or ```suspend-process --pid <wrong PID>```
- Then click on Action Log button
- Observe that

[2022-07-19 06:06] elasticmachine commented on #136593
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-19 06:07] harshitgupta-qasource commented on #136592
@manishgupta-qasource Please review

[2022-07-19 06:07] harshitgupta-qasource commented on #136593
@manishgupta-qasource Please review

[2022-07-19 06:09] muskangulati-qasource commented on #136593
Related issue: https://github.com/elastic/kibana/issues/136592

[2022-07-19 06:25] simranvaseer-qasource commented on #129318
Hi @jen-huang
We have revalidated this feature on latest 8.3.3 Snapshot Kibana cloud environment and found it **working fine**.

- We are able to reinstall integration on clicking `Reinstall <integration_name>` button and getting appropriate successful toast message
- Thanks for the confirmation on the feature.

**Build Details:**
BUILD: 53654
COMMIT: 1849d85d1e3688368038481b7215d3fb441357b6

**Sc

[2022-07-19 06:26] simranvaseer-qasource commented on #134482
Hi @kpollich
We have revalidated this feature on latest 8.4 Snapshot Kibana cloud environment and found it **working fine**.

- All the agent tags are available under agent details page

**Build Details:**
BUILD: 54585
COMMIT: f9e2ed4d9f38424676a558c34b74f0a031746c9e

**Screenshot:**
![image](https://user-images.githubusercontent.com/102019374/179677424-290a1235-3acc-40ae-adca-455ba77d247a.png)

P

[2022-07-19 06:48] manishgupta-qasource commented on #136592
Reviewed & assigned to @kevinlog

[2022-07-19 06:48] manishgupta-qasource commented on #136593
Reviewed & assigned to @kevinlog

[2022-07-19 06:50] #122729 closed

[2022-07-19 06:55] pgayvallet commented on #136581
Overall, I don't see any downside of having our own extended `User-Agent` value for the client instantiated in Kibana, so I think this could only be beneficial.

Just to make sure, which telemetry data are you referring to exactly? Telemetry from ES itself, or is the ES client sending telemetry data too?

As you prefer. The team can do it too.

ATM the client options generation is done here:

http

[2022-07-19 07:00] prachigupta-qasource commented on #135791
Hi @jen-huang,

Thank you for confirming the expected behavior. We will be creating our test content as per above information.

Thanks!

[2022-07-19 07:02] miltonhultgren commented on #136047
As a stop gap we're going to hide this column for now and follow up on this issue with either a real fix or some other metrics.

[2022-07-19 07:11] pgayvallet commented on #136213
The proposal makes total sense ihmo, and the workflow / scenarios examples seems fine.

++. We already have 99 things called `version` (or `context`, or `client`, or...). A more specialized naming seems preferable.

Just for my information, what is the current `version` / future `revision` functionally used for? Concurrency write protection, or more than just that?

[2022-07-19 07:19] cyrille-leclerc commented on #133383
@gbamparop overall GUI looks great, many thanks.
Can we please look at giving more width to the "Configuration Value" column? Ideally to have the "configuration value" cell of the `OTEL_EXPORTER_OTLP_ENDPOINT` and `OTEL_EXPORTER_OTLP_HEADER` settings fitting on one single row for Elastic ESS values.

![image](https://user-images.githubusercontent.com/459691/179689688-99fa5e80-1273-4ce7-84c0-ca2999

[2022-07-19 07:23] cnasikas commented on #93936
This is correct!

[2022-07-19 07:24] cnasikas commented on #109286
@kobelb may help on that 🙂

[2022-07-19 07:28] sudonima commented on #24906
this is important for our company! please add this feature!

[2022-07-19 07:28] sudonima commented on #82414
this is important feature! please add this

[2022-07-19 07:29] pgayvallet commented on #136562
I tend to agree that this is the issue here. Deleting 10k objects without bulk APIs will likely take quite some time.

I can close the issue for sure, but you probably meant to resolve it :trollface: ?

[2022-07-19 07:32] pgayvallet commented on #30503
We've been postponing this issue for literally years because we never had any high enough reasons to prioritize it. Seems like https://github.com/elastic/kibana/issues/30503 may actually be the ~~excuse~~ opportunity to finally tackle this `bulkDelete` API.

[2022-07-19 07:43] teresaalvarezsoler commented on #136474
I confirm we don't have plans to improve the legacy controls. They will be deprecated soon. @paras-lehana can you tell the user to migrate to the new controls? They are available in 8.3. Thanks.

[2022-07-19 07:45] juliaElastic commented on #136092
I couldn't reproduce this so far on staging environment, today's 8.4 snapshot (commit hash f9e2ed4d9f).

[2022-07-19 07:46] miltonhultgren commented on #136590
Somewhat related is that we should also replace our system index mappings with component templates etc. to make it more easy to extend safely.

[2022-07-19 07:59] gbamparop opened #136600 "[APM] Increase width of "Configuration Value" column in OpenTelemetry tutorial"
Increase the width of the "Configuration Value" column in the OpenTelemetry tutorial to display the values for `OTEL_EXPORTER_OTLP_ENDPOINT` and `OTEL_EXPORTER_OTLP_HEADER` for Elastic ESS in a single row.

<img width="772" alt="image" src="https://user-images.githubusercontent.com/5831975/179698838-d3e87dfd-4860-442b-ad1a-0d006c7d6592.png">

Originally posted in https://github.com/elastic/kibana/

[2022-07-19 07:59] elasticmachine commented on #136600
Pinging @elastic/apm-ui (Team:apm)

[2022-07-19 08:10] samratbhadra-qasource commented on #131614
Hi @vitaliidm
We have validated this issue on the latest **8.4.0-Snapshot** build and observed that the issue is **fixed**. Please find below the testing details:

- Tooltip is shown for long full name and description of the Timeline Template on the Templates drop-down on 'Apply Timeline template' flyout
- 'Black Star' is shown in front of favorite Timeline Templates on the Templates drop-down hav

[2022-07-19 08:10] #131614 closed

[2022-07-19 08:14] afharo commented on #120422
Closing this issue based on my last comment. Please, feel free to reopen if you think we should spend more time in it.

[2022-07-19 08:16] muskangulati-qasource opened #136602 "[Security Solution] The isolation can be performed again and again from the console responder"
**Description:**
The isolation can be performed again and again from the console responder

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. An endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on three dots of any

[2022-07-19 08:16] elasticmachine commented on #136602
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-19 08:16] muskangulati-qasource opened #136603 "[Security Solution] The error for FDA on mac should bubble up under the policy error logs"
**Description:**
The error for FDA on mac should bubble up under the policy error logs

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Deploy a newly created Mac VM on which there is no access given for Elastic-endpoint to run

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the le

[2022-07-19 08:17] elasticmachine commented on #136603
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-19 08:17] elasticmachine commented on #136603
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-19 08:17] muskangulati-qasource commented on #136602
@manishgupta-qasource please review!

[2022-07-19 08:17] muskangulati-qasource commented on #136603
@manishgupta-qasource please review!

[2022-07-19 08:37] manishgupta-qasource commented on #136602
Reviewed & assigned to @kevinlog

[2022-07-19 08:37] manishgupta-qasource commented on #136603
Reviewed & assigned to @kevinlog

[2022-07-19 08:49] elasticmachine commented on #136565
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-19 08:51] amolnater-qasource commented on #136092
Hi Team
We have revalidated this issue on 8.4 Snapshot with more than 19k agents and found it working fine:
- We are successfully able to add/remove/rename/delete tags to a large amount of agents

**Build details:**
BUILD: 54585
COMMIT: f9e2ed4d9f38424676a558c34b74f0a031746c9e

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/179706714-6a7dc8fc-d6d1-49d4-9fe3-9581c361db2b.

[2022-07-19 08:52] amolnater-qasource commented on #135233
Hi @nchaulet
We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
-  User is getting `Invalid Integer` error on adding non-integer characters into the "max connections" and "max agents" fields.

**Build details:**
BUILD: 54585
COMMIT: f9e2ed4d9f38424676a558c34b74f0a031746c9e

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/179693749-7b4a6ff0-c1f

[2022-07-19 08:54] cnasikas commented on #136565
Hi @yagely80! Thank you for your feedback. We added this feature in 8.3 in this PR https://github.com/elastic/kibana/issues/128875. I am closing the issue as it is already implemented. Let me know if have in mind a different user flow. Also, could you please tell me how many alerts you want to add in a case? This will help us to understand your use cases so that in the future we can use the inform

[2022-07-19 08:54] #136565 closed

[2022-07-19 08:58] #136441 closed

[2022-07-19 09:20] rudolf commented on #134366
instead of increasing the complexity of the startup script having to coordinate when it's safe to start the background-tasks process I think it's better that the background-tasks just block until the migration was finished. Once we move background tasks into it's own container this would mean the orchestration layer can just start all the containers without any coordination/synchronization.

So ba

[2022-07-19 09:22] deepikakeshav-qasource opened #136606 "[Security Solution] Dashboard page is opened on same page instead of new tab"
**Describe the bug**
Dashboard page is opened on same page instead of new tab

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Dashboard should be displayed in the custom section

**Steps to Reproduce**
1. Navigate to Dashboard page.
2. Click on dashboard link
3. Observed that dashboard page is opened on same page instead of new tab

**Actual Result**
Dashboard page is ope

[2022-07-19 09:22] elasticmachine commented on #136606
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-19 09:26] afharo commented on #99381
Closing this issue because it feels like #97787 already covered it

[2022-07-19 09:26] #99381 closed

[2022-07-19 09:31] bhavyarm commented on #136033
Fixed by https://github.com/elastic/kibana/pull/136353

[2022-07-19 09:34] bhavyarm commented on #135339
Closed by https://github.com/elastic/kibana/pull/136550

[2022-07-19 09:34] #135339 closed

[2022-07-19 09:37] azasypkin opened #136609 "Make migrations of the encrypted saved objects less error prone"
## Summary

Migrating encrypted saved objects from one version to another is an involved process as it requires decryption of the saved object before performing migration and re-encryption after migration is complete. To simplify this process for consumers, `Encrypted Saved Objects` plugin exposes a helper [`createMigration` function](https://github.com/elastic/kibana/blob/1bfeab7553899efcfa9a6e46

[2022-07-19 09:37] elasticmachine commented on #136609
Pinging @elastic/kibana-security (Team:Security)

[2022-07-19 09:47] kibanamachine opened #136610 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/event_filters/view - When on the Event Filters list page should search using expected exception item fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18533#018215af-ccae-48bd-a973-b550545e8518)

[2022-07-19 09:47] elasticmachine commented on #136610
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-19 09:53] pgayvallet commented on #134366
Technically it's either `if the node role is exclusively background-task` or `if the node roles do not contain ui`

Ihmo this should be more based on a time-based timeout than a number of retries. Maybe we could introduce a new config setting and defaulting it either to infinity or a very large duration?

[2022-07-19 09:59] legrego commented on #132645
I'm going to remove `Support for viewing another user's avatar https://github.com/elastic/kibana/issues/132636` from this meta issue since it's not directly related to the review feedback we received from the initial User Profile redesign. It's still important, I just want to decouple the work.

[2022-07-19 10:07] prachigupta-qasource commented on #133390
Hi @nchaulet,

We have re-validated this issue on the latest **8.4.0-SNAPSHOT** build and observed that the issue is **fixed**.

**Build details:**

[code]
**Below are the observations:**

**Scenario: Selecting more than 1 agent**

- User is not able to upgrade agents without selecting `Maintenance window available` field.
  - "x" button is removed from the maintenance window dropdown.

**Screen R

[2022-07-19 10:31] kibanamachine commented on #136033
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18534#018215cd-b131-45d4-bd94-dd3b9a4e0a7a)

[2022-07-19 10:43] samratbhadra-qasource opened #136616 "[Security Solution]: Bulk selection count doesn't get updated and bulk selection retains while user uncheck bulk selected rules checkbox."
Describe the bug
Bulk selection count doesn't get updated and bulk selection retains while user uncheck bulk selected rules checkbox.

**Build Details:**
[code]

**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Rules tab.
2. Now, bulk select all the rules.
3. Uncheck the selected rules checkbox.
4. Observe that bulk selection count doesn't get updated and bulk

[2022-07-19 10:43] elasticmachine commented on #136616
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-19 10:44] teresaalvarezsoler commented on #70131
I'm going to close this one if it's fine because the sample data will change in the near future.

[2022-07-19 10:45] axw opened #136617 "[Fleet] Installing an uninstalled bundled package should not require a reachable EPR in integrations UI"
Some integration packages, like APM, are bundled with Kibana. These can be installed using the Fleet preconfiguration settings. I would also expect them to be usable when not using preconfiguration, and installing the package via the Integrations UI.

When navigating to the Integrations UI with EPR inaccessible, the UI presents a spinner and the well-defined Elastic integrations at the top:

![ima

[2022-07-19 10:45] elasticmachine commented on #136617
Pinging @elastic/fleet (Team:Fleet)

[2022-07-19 10:46] mlunadia commented on #134747
@dimadavid have a look at https://github.com/elastic/kibana/issues/136014 and let us know your thoughts.

[Windows] [Mac] [Linux Tar] [RPM] [DEB] [Kubernetes]
@MichaelKatsoulis check this comment from @dimadavid to discuss order in https://github.com/elastic/kibana/pull/136109

[2022-07-19 10:47] teresaalvarezsoler commented on #70373
This seems fixed, @nreese can we close it?

[2022-07-19 10:49] teresaalvarezsoler commented on #69199
This seems fixed too, closing the issue
<img width="705" alt="image" src="https://user-images.githubusercontent.com/99645649/179733160-1742dfc0-dbbb-4e7c-bcce-79236599e5a3.png">

[2022-07-19 10:49] #69199 closed

[2022-07-19 11:09] teresaalvarezsoler commented on #38394
@alexfrancoeur can we close this issue?

[2022-07-19 11:13] kevinlog commented on #136592
@harshitgupta-qasource we cannot validate pids before sending them to the Endpoint because we are not sure what they are beforehand.  If the user sends a pid that is not found, the Endpoint will still return a success message because any process that potentially had that pid will already be terminated.

However, I believe we can reject on a negative number, so I'll keep this open to track what to

[2022-07-19 11:16] kevinlog commented on #136593
@harshitgupta-qasource does the console ever return on the pending status when you enter the negative pid?

I think the API throws an error which we need to reflect in the UI.  This would explain why it doesnt show in the action log

[2022-07-19 11:18] #133937 closed

[2022-07-19 11:18] #132399 closed

[2022-07-19 11:19] teresaalvarezsoler commented on #35808
This is done already

[2022-07-19 11:19] #35808 closed

[2022-07-19 11:20] jsanz commented on #70373
Unfortunately no, when cloning a layer while editing it, the focus stay on the original layer editing panel.

![Peek 2022-07-19 13-19](https://user-images.githubusercontent.com/188264/179738093-3ec44a30-4a3f-486d-b08e-587e723df5cd.gif)

[2022-07-19 11:21] prachigupta-qasource opened #136621 "[Question][Fleet]: Inconsistent behavior for dropdown expanding on clicking title of dropdown on Actions flyout"
**Description:** Inconsistent behavior for dropdown expanding on clicking title of dropdown on Actions flyout on Fleet > Agents tab

**Question:**

- **Scenario 1:** Drop down is not shown on clicking title of dropdown on Old action flyout such as ` Assign to new policy` and `Create enrollment token` dropdown under Enrollment tokens tab

https://user-images.githubusercontent.com/97870262/179737345

[2022-07-19 11:21] kevinlog commented on #136602
@muskangulati-qasource it's okay that the user can send multiple isolate requests, the Endpoint will just continue to stay isolated.

Can you reproduce the unhealthy state consistently?

[2022-07-19 11:22] prachigupta-qasource commented on #136621
Please review @manishgupta-qasource

[2022-07-19 11:23] elasticmachine commented on #136610
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-19 11:24] elasticmachine commented on #136621
Pinging @elastic/fleet (Team:Fleet)

[2022-07-19 11:28] sqren commented on #135970
@mattkime Was this intended for APM or fleet?

[2022-07-19 11:32] jasonrhodes commented on #133132
Does this only happen with the Ruby agent or is it a limitation of any app running inside K8S?

[2022-07-19 11:46] deepikakeshav-qasource opened #136625 "[Security Solution] Dashboards are displayed under Security Dashboards when user create the tags with name `security <anything>`"
**Describe the bug**
Dashboards are displayed under Security Dashboards when user create the tags with name `security <anything>`

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Dashboard should be exist under Kibana
3.  **Security tag should not be created**

**Steps to Reproduce**
1. Navigate to stack management create the tag say: `security new`
2. Assign the dashboard

[2022-07-19 11:46] elasticmachine commented on #136625
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-19 11:49] teresaalvarezsoler opened #136626 "[Maps] Automatically display the maps legend"
**Problem:**
The first time a user adds a categorical field to color the documents (or other layers) it's very difficult to find where the legend is. It's also very difficult to understand that Elastic automatically groups the field values under "Other" if the field has >5 values.
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/99645649/179740351-859100dc-5489-4d57-a02

[2022-07-19 11:49] elasticmachine commented on #136626
Pinging @elastic/kibana-gis (Team:Geo)

[2022-07-19 11:50] manishgupta-qasource commented on #136621
Secondary review for this ticket is Done

[2022-07-19 11:54] lizozom commented on #136521
In the call where this came up, we mentioned to @Dosant that using a **custom plugin** for testing and reporting any metrics from it is an easy workaround in case we want to report metrics (doesn't have to be performance related) that we don't want in production.

Since we're in the early stages of using EBT, could we defer this discussion to a later stage?

[2022-07-19 12:03] Mpdreamz opened #136627 "[APM] Move integration and e2e tests over to use datastreams"
Today the integration tests and e2e tests still rely on indexing to legacyIndices (`forceLegacyIndices`) see:

https://github.com/elastic/kibana/blob/708d6d077812f7ee8f578e3fd85b25d0ff81d354/x-pack/plugins/apm/ftr_e2e/cypress/plugins/index.ts#L45

https://github.com/elastic/kibana/blob/708d6d077812f7ee8f578e3fd85b25d0ff81d354/x-pack/test/apm_api_integration/common/synthtrace_es_client_service.ts#L

[2022-07-19 12:12] cnasikas opened #136629 "[Cases] Default the newly created connector on the configuration page"
A user can create a connector from the configuration page of cases. The newly created connector should be selected as the default one. Before issue https://github.com/elastic/kibana/issues/66908 it was not possible because the `triggers_ui_actions` plugin did not return the connector's information. The issue is resolved and we can select the new connector as the default one.

[2022-07-19 12:12] elasticmachine commented on #136629
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-07-19 12:12] elasticmachine commented on #136629
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-19 12:23] criamico commented on #136504
@dborodyansky I'm thinking that in this case we could just use an icon to indicate the default:

![Screenshot 2022-07-19 at 14 21 38](https://user-images.githubusercontent.com/16084106/179749021-0e1b757d-aa72-42ae-a2f2-e9c3fe054f51.png)

We could also use a badge but I think it would be weird to duplicate the text "default" on the badge and on the column.
What do you think?

[2022-07-19 12:40] cristina-eleonora commented on #125193
Closing this project since it led nowhere

[2022-07-19 12:40] #125193 closed

[2022-07-19 12:50] ymao1 opened #136630 "[Response Ops] Allow rule types to identify execution warnings."
As a rule type author, I would like to surface warnings in the alerting UI.

[code]

We currently have an `error` and a `warning` status for rule execution. If a rule type throws an error during execution, we'll set the status to `error` but there's currently no way for the rule type to send back a `warning` message and have it persisted in the execution status (where it will automatically show up

[2022-07-19 12:50] elasticmachine commented on #136630
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-19 12:53] xcrzx commented on #136213
Currently, the revision could be used to refer to a specific historical version of a rule. For example, I have an alert generated by a rule that was edited/deleted. Using revision, I could find that specific historical version of the rule when needed (if I have backups). And in the future, we're also planning to implement features like rollback to a previous revision.

[2022-07-19 12:54] miltonhultgren commented on #133132
As far as I know it only happens for the Ruby agent (since that's the only one we see in Edge, while we do get data from other agents too).

I don't know if this is also impacted by https://github.com/elastic/apm-server/issues/8118 in some way.

[2022-07-19 12:56] nreese opened #136631 "[maps] warn users if geo containment alert has trimmed results"
geo containment alert uses a terms aggregation to split by entity. The entity split is limited by a size argument. If the cardinality is high for entity field, it's possible that there could be trimmed results and alerts not created for all entities. Users should be notified in the alerting UI when this occurs.

<strike>Blocked by https://github.com/elastic/kibana/issues/136630</strike>
unblocked

[2022-07-19 12:59] elasticmachine commented on #136625
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-19 12:59] suchcodemuchwow commented on #136033
Skipped.

main: https://github.com/elastic/kibana/commit/36ace3059bf0425130d8171201d1b0ea7fc5b597

[2022-07-19 13:04] nchaulet commented on #134165
I was able to reproduce this, by starting Kibana before the es server is up, going to investigate a little more on this and how we can fix it.

[2022-07-19 13:12] jsanz commented on #136626
Related #65274

[2022-07-19 13:15] afharo commented on #56498
FWIW, this is not a hard requirement in the `telemetry` plugin. TBO, [it used to be a UI Setting](https://github.com/elastic/kibana/blob/452193fdba7c77815472889d1715b1ca341530ba/src/plugins/telemetry/server/handle_old_settings/handle_old_settings.ts#L35-L57).

I'm more concerned about the `global` UI Setting and having a hook so we can react to changes.

[2022-07-19 13:20] semd commented on #136606
Hi, this is the expected behavior. Thanks

[2022-07-19 13:20] #136606 closed

[2022-07-19 13:22] kobelb commented on #136213
I completely agree that we should be caution about removing fields that our users rely on. However, we also need to show some caution in changing the semantics of existing fields. For non-prebuilt rules, the `version` field is incremented every time that the user modifies the security detection rule, so changing the situations when the `version` is incremented would also be a breaking change.

[2022-07-19 13:31] Kunzetsov commented on #104317
Tested on main (v8.4.0). Can't reproduce this issue. Closing it due to the current information.

https://user-images.githubusercontent.com/22456368/179761924-26e6ddc8-46e0-4027-9641-fb2f610b7df1.mov

cc @ThomThomson.

[2022-07-19 13:32] afharo commented on #123217
Resolved by #134748.

[2022-07-19 13:37] MiriamAparicio opened #136637 "[APM] Add Beta label to the Infrastructure tab"
Follow-up work for https://github.com/elastic/kibana/issues/120325

<img width="880" alt="image" src="https://user-images.githubusercontent.com/31922082/180180483-6cb20dab-536f-42ed-b40f-58b057882fe8.png">

### To be done

- Add the Beta label to the Infrastructure tab
- Set the feature flag as enable by default
- Update e2e tests for the FF and the Infrastructure page

[2022-07-19 13:37] elasticmachine commented on #136637
Pinging @elastic/apm-ui (Team:apm)

[2022-07-19 13:42] kertal commented on #134593
Thx @AndrewMcQuerry for reporting, will close this because it was already addressed and won't be back ported to 7.x

[2022-07-19 13:42] #134593 closed

[2022-07-19 13:43] mdefazio commented on #136350
Yes, that's fine.  This will be replaced in 8.5 with O11y table? or later?

[2022-07-19 13:46] kertal commented on #135357
so brackets it should be, just a note that those should just be displayed if there are >  1 elements in the array

[2022-07-19 13:46] #134125 closed

[2022-07-19 13:54] #128093 closed

[2022-07-19 13:54] elasticmachine commented on #136616
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-19 13:56] kibanamachine commented on #135099
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18544#0182169e-f841-4257-b484-f445c7825d2c)

[2022-07-19 14:01] Mpdreamz opened #136640 "[APM] Use disabled state for tabs instead of hiding tabs"
**Describe the feature:**

Today these tabs show up dynamically (depending if there is data and the type of service) causing layout shifts.  I think it would be better to always load all tabs and only enable those that have data? or explicitly design for the empty states prompting users to enrich their experience?

![image](https://user-images.githubusercontent.com/245275/179768362-846f1a08-8c82-4

[2022-07-19 14:02] MiriamAparicio commented on #136637
@boriskirov can you please help me with the copy that we need to show in the message for the beta label?

[2022-07-19 14:05] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18544#0182169e-f81f-4702-af0d-c1fbaf98936e)

[2022-07-19 14:19] jsanz commented on #35257
Checked against 8.3.2, tooltips will show up for the following layers:

* Cluster layer (grid of cluster): the `count` metric will show up by default
* Choropleth layer (both from documents or EMS): the `count` metric will show up by default
* EMS datasets: empty tooltip will show even without any join configured

Document layers won't trigger a tooltip if there are no fields configured.

[tooltip

[2022-07-19 14:24] teresaalvarezsoler opened #136642 "[Maps] Change wording so it's easier to understand for first-time users"
**Problem:**
The first thing a user sees is "Road map - desaturated" and "Add layer" which may be confusing for a non-geo power user
<img width="836" alt="image" src="https://user-images.githubusercontent.com/99645649/179772645-8210edf4-70ed-44b2-a431-e55c5d8f2865.png">

**Solution:**
Change "desaturated" by ...grey?
Remove "Tile Service" label
<img width="445" alt="image" src="https://user-images

[2022-07-19 14:25] elasticmachine commented on #136642
Pinging @elastic/kibana-gis (Team:Geo)

[2022-07-19 14:25] sethmlarson commented on #136581
@pgayvallet Thanks for your reply! Here are some answers to clear things up:

This data is being aggregated from Elastic Cloud proxy logs so not from the client itself. Let me know if you have further questions about this we can discuss.

I'm okay with the Kibana team tackling this if there's free time, I suspect the change isn't too large. The change would only be on the Kibana side.

Setting a d

[2022-07-19 14:26] #134098 closed

[2022-07-19 14:26] bhavyarm commented on #136033
Wow ops team so sorry.  This is a rotating cast of failures on this particular test. Will talk to EUI team. Thanks!

[2022-07-19 14:27] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18544#018216c7-7282-4a1f-be1f-4ea2448e5e27)

[2022-07-19 14:27] jsanz commented on #82514
I've been hitting this issue from time to time but I haven't been able to reproduce it consistently. Still, I was able to record an instance of the issue for posterity:

[ems_switch_inconsistency.webm](https://user-images.githubusercontent.com/188264/179774873-54cf8b60-facb-49cc-885d-e52b6b27c54f.webm)

[2022-07-19 14:31] #117371 closed

[2022-07-19 14:35] xcrzx commented on #136213
Yes, unfortunately, the current field usage is ambiguous. So its behavior will inevitably change either for prebuilt rules or for custom.

If we want to play very safe, we could keep the semantics of `version` for custom rules, as I mentioned before:

[2022-07-19 14:38] #119110 closed

[2022-07-19 14:41] flash1293 commented on #132406
@Dosant any update on this?

[2022-07-19 14:45] elasticmachine commented on #135259
Pinging @elastic/kibana-security (Team:Security)

[2022-07-19 14:46] afharo commented on #135259
Pinging Security folks because it feels like related to the SOC wrapper as well?

[2022-07-19 14:58] mikecote commented on #132506
From what I recall, triggered actions represents a subset of the generated actions after going through the snoozing logic, circuit breaker limit, etc. I'll defer for proper wording but maybe something along the lines of `The number of actions the system anticipates to run.` which over time will equal succeeded + errored action counts when they all ran.

[2022-07-19 15:03] lcawl commented on #132506
Perhaps for a brief tooltip, the "Triggered actions" can just be "The subset of generated actions that will run" and I can cover the finer details of generated vs triggered in the docs

[2022-07-19 15:10] TinaHeiligers commented on #135346
We have a [publically available document](https://support.elastic.co/knowledge/bcab6ba7) that warns about this behavior.

[2022-07-19 15:12] EricDavisX commented on #136630
There is an argument for this to be higher-urgency as it can lead to missing Alerts.  Recommend to review any level-of-effort for the fix or quicker short-term mitigations that may be available, so it can be prioritized and scoped correctly.

[2022-07-19 15:18] flash1293 opened #136650 "Preset input controls via filters on dashboard to dashboard navigation"
When navigating from one dashboard to another via drilldown, filters shouldn't be set as regular filters but instead preset the input controls. This can be made configurable via a flag in the drilldown configuration.

[2022-07-19 15:18] elasticmachine commented on #136650
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-19 15:18] elasticmachine commented on #136650
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-19 15:20] yctercero commented on #136224
@MadameSheema Ready for QA check!

[2022-07-19 15:24] wayneseymour opened #136654 "Abandoned Tests"
We've tests that seem abandoned, within the `disabled` stanza of [.buildkite/ftr_configs.yml](https://github.com/elastic/kibana/blob/main/.buildkite/ftr_configs.yml#L1)

We need to track them down and annotate:

- If they are run in another ci besides builkite
- perhaps who the code owner is
- etc

One attempt of thinking about this problem is: https://github.com/elastic/kibana/pull/136820

[2022-07-19 15:25] elasticmachine commented on #136654
Pinging @elastic/kibana-qa (Team:QA)

[2022-07-19 15:25] nchaulet commented on #135801
@juliaElastic it's already possible to get multiple action with the same `action_id`, I think we just missed to use the same action for every batch, and the endpoint that is used to show the current upgrade is already supporting this, I can come with a PR to fix that if you think it make sense.

[2022-07-19 15:28] #136258 closed

[2022-07-19 15:29] kibanamachine commented on #135099
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18557#018216f5-c985-46ab-9cf2-897fd0a4c8f4)

[2022-07-19 15:30] #136416 closed

[2022-07-19 15:39] EricDavisX commented on #136304
Thanks for logging this.  We can reference some testing material in [this issue](https://github.com/elastic/kibana/issues/131230)
It amounts to:
- Create a Stack Case called 'Search For Case'
- In the Stack Management Cases list search for `Sear` and find it does not show it
- If you search for `Sear*` it will.

[2022-07-19 15:43] TinaHeiligers commented on #129585
@trentm your proposed next steps seem like the logical way to progress here.

[2022-07-19 15:48] elasticmachine commented on #135970
Pinging @elastic/fleet (Team:Fleet)

[2022-07-19 15:48] mattkime commented on #135970
@sqren Looks like I mislabeled it - the fleet team seems more appropriate.

[2022-07-19 15:54] pgayvallet commented on #129585
Renovate already took care of that: https://github.com/elastic/kibana/pull/136657

[2022-07-19 15:57] kibanamachine commented on #136152
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18563#01821716-627f-4c57-87e1-ec2757338dee)

[2022-07-19 15:58] maryam-saeidi commented on #136554
My guess is this is the PR that we need to check for the issue:
https://github.com/elastic/kibana/pull/136163/files
Especially changes regarding timeline component.

[2022-07-19 16:04] maryam-saeidi commented on #136301
Related comment: https://github.com/elastic/kibana/issues/136282#issuecomment-1189241037

[2022-07-19 16:11] #134852 closed

[2022-07-19 16:13] afharo commented on #135346
@TinaHeiligers I get access denied 😢

[2022-07-19 16:15] #131969 closed

[2022-07-19 16:16] trentm commented on #129585
Ha thanks. I hadn't yet managed to bootstrap a kibana clone. :)

[2022-07-19 16:39] gregoireco commented on #136008
[Here](https://github.com/elastic/machine-learning-data/issues/576#issuecomment-1189039609) is a comparison of 2 strategies for using random sampling on date_histogram aggregation.
First strategy is exactly what @dgieselaar  described : 1. get total_hits 2. run the query with random sampler and optimal probability (computed using total_hits)
Second strategy is : 1. run the query with default proba

[2022-07-19 16:40] paras-lehana commented on #136474
Hi @ThomThomson and @teresaalvarezsoler,

Thank you so much for replying. Yes, I very well know about the banner too that mentions legacy controls. It guided me to open the issue, so I did.

Even before the reply of @ThomThomson, I read his update about new Controls as I had commented on one other issue regarding [Parental Controls](https://github.com/elastic/kibana/issues/17301#issuecomment-11141

[2022-07-19 16:42] jsanz opened #136662 "[Maps] Other is always shown in legend for category styling rules"
**Kibana version:**
7.x 8.x

**Browser version:**
Chromium: 103.0.5060.114 (Official Build) (64-bit)

**Browser OS version:**
Ubuntu 20.04LTS

**Original install method:**
7.17.5 on Docker, 8.3.2 and 8.2.3 on Cloud

**Describe the bug:**
The `Others` category on data driven styles is always displayed in a slightly different color even when it's not needed because the map is showing all data bucket

[2022-07-19 16:48] bmorelli25 commented on #136637
I know that elsewhere in the Observability apps, we use this beta text:

I'm surprised to see that there's no [EUI writing guidelines](https://elastic.github.io/eui/#/guidelines/writing/guidelines#labels) for beta text though.

This text is used elsewhere in APM, which I like:

[2022-07-19 16:58] mdefazio commented on #136017
Just mentioning again the work happening from the Content Management project for bulk editing.  My understanding is the result of that will provide solutions an easy way to adopt the pattern.  Hopefully avoiding any duplicate work on our side.

[2022-07-19 17:14] #136504 closed

[2022-07-19 17:24] EricDavisX commented on #131230
In the Cases Search, the wildcard is required to find partial text, and is being considered in the issue above.

If we want to split an issue or two issues the concern in the Rules pages for the asterisk * toast error and one for the lack of support for special chars like _ let me know.  @XavierM thanks!

[2022-07-19 17:39] #136574 closed

[2022-07-19 17:53] htwing opened #136667 "[Security Solution] K8s interactive session not shown cloud instance name in Metadata Cloud section"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
An interactive session in the kubernetes session view, cloud instance name is missing in metadata Cloud section.

Steps to reproduce:

1. On a GKE cluster running elastic security, start an nginx co

[2022-07-19 18:02] kertal commented on #50482
had another look at it and I'm pretty sure this is an issue with cross cluster search. closing it since in the meantime 7.17 is our last minor of our previous major. feel free to reopen with additional information about your cross cluster setup.

[2022-07-19 18:02] #50482 closed

[2022-07-19 18:07] ppawel commented on #50482
It was a bug in Kibana's URL handling for anchors, not anything backend side...

[2022-07-19 18:14] #136080 closed

[2022-07-19 18:14] #136079 closed

[2022-07-19 18:22] kertal commented on #18647
I've checked and it works in our latest upcoming release 8.14 and also in 7.13. Therefore I'm closing this issue

[2022-07-19 18:22] #18647 closed

[2022-07-19 19:04] angorayc opened #136672 "Review the use case of totalCount = -1 in search strategy"
I know this is what was there before but find it a little odd. It's not related to your PR, but i think we should set this to 0. and change code elsewhere that would be problematic because of that.

In public/common/components/paginated_table/index.tsx we have
`  const pageCount = Math.ceil(totalCount / limit);`
which is why I think we have a `-1` as default as otherwise, if it were 0 this calcula

[2022-07-19 19:04] elasticmachine commented on #136672
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-19 19:17] cleydyr opened #136674 "When using a keyboard layout with dead keys Kibana's query string input will insert more matching characters than needed"
**Kibana version:**
main

**Elasticsearch version:**
main

**Server OS version:**
macOS Monterrey 12.4

**Browser version:**
Chrome Version 103.0.5060.114 (Official Build) (arm64)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
When using a keyboard layout with dead keys Kibana's query string input will insert m

[2022-07-19 19:26] mistic commented on #136152
Skipped.

main: [8c844d8](https://github.com/elastic/kibana/commit/8c844d8b49fb0c37873efa50351579ac012a2e81)

[2022-07-19 19:54] kibanamachine opened #136679 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/telemetry/alerting_telemetry·ts - alerting api integration security and spaces enabled - Group 2 Alerting and Actions Telemetry alerting telemetry should retrieve telemetry data in the expected format"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18587#018217ed-fce2-4938-94fa-3a2093658048)

[2022-07-19 19:54] elasticmachine commented on #136679
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-19 19:56] ThomThomson opened #136680 "[Response Required][Dashboard] Tabs Project Meta"
## Initial Tabs design / UI
- [ ] Place [EuiTabs](https://elastic.github.io/eui/#/navigation/tabs#monosodium) at top of dashboard, under Toolbar, and Unified search bar.
- [ ] Design - Explore ways to reduce vertical space usage
  - Do not show tab bar if only one tab is defined

## Tab Management System
- [ ] Toolbar item for tabs.

**Manage tabs flyout**
- [ ] Delete tab
  - Delete all visualiza

[2022-07-19 19:56] elasticmachine commented on #136680
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-19 19:56] ThomThomson commented on #15120
This will be a larger project, so closing this issue in favor of the more detailed meta issue https://github.com/elastic/kibana/issues/136680

[2022-07-19 19:56] #15120 closed

[2022-07-19 19:58] cjcenizal opened #136682 "Add support for S3 intelligent tiering to Restore"
Support was added to ES in 7.2 via https://github.com/elastic/elasticsearch/pull/39376. We need to update the Repository form to support this option:

![image](https://user-images.githubusercontent.com/1238659/179837585-7ed4c729-58ac-4a53-8d45-6b685811e20d.png)

[2022-07-19 19:58] elasticmachine commented on #136682
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-19 20:00] kibanamachine commented on #136679
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18587#01821806-82f5-47a6-afa8-00fc56dd31dc)

[2022-07-19 20:08] mistic commented on #136679
Skipped.

main: [5644e20](https://github.com/elastic/kibana/commit/5644e204784a5262c9c9bc39f48eb75e68c69c72)

[2022-07-19 20:09] TinaHeiligers commented on #119862
I'm enabling Jira sync to get this issue on the team's roadmap. We're long past the platform migration initiative and should be removing anything legacy-related.

[2022-07-19 20:13] kertal commented on #50482
There were 2 issue described here, the one @SSmale mentioned, and  the one @Leaf-Lin mentioned, which was fixed, and was caused by URL handling

[2022-07-19 20:26] kibanamachine commented on #136679
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18588#0182180b-7d68-494c-8d7c-fbbd24ae5d02)

[2022-07-19 20:35] kibanamachine commented on #136679
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18588#01821823-bb6b-4174-82e7-c8484075e6aa)

[2022-07-19 20:40] dimadavid commented on #134747
Yes, the consolidated step 3 looks way better and feels more streamlined. There are some UI improvements I would make tho. I asked for Figma file if it exists.

[2022-07-19 21:08] davismcphee commented on #135357
@andreadelrio @kertal Initially while implementing this I just added brackets which worked well for most arrays, but it looked strange when the array elements had newlines in them, so I tried a couple alternatives:

Just brackets:
![basic](https://user-images.githubusercontent.com/25592674/179847024-65e4ca13-6bad-41fa-9181-59d0bb990015.png)

With newlines:
![newline](https://user-images.githubuser

[2022-07-19 21:13] dominiqueclarke opened #136687 "[Synthetics UI] Add/Edit Page - Add Enabled toggle"
As a Synthetics user, I'd like to be able to enable/disable my monitor from the add monitor page or the edit monitor page.

@hbharding to add designs for an enabled toggle to the Synthetics add/edit page.

An example can be found in Uptime UI:
<img width="1084" alt="Screen Shot 2022-07-19 at 5 24 32 PM" src="https://user-images.githubusercontent.com/11356435/179851141-5e189cd1-6449-48db-82eb-622f2

[2022-07-19 21:13] elasticmachine commented on #136687
Pinging @elastic/uptime (Team:uptime)

[2022-07-19 21:26] hbharding commented on #136687
Thanks Dominique - I'll work on a mockup for this when I get time and update here.

[2022-07-19 21:29] kibanamachine opened #136688 "Failing test: X-Pack Security API Integration Tests (Session Idle Timeout).x-pack/test/security_api_integration/tests/session_idle/extension·ts - security APIs - Session Idle Session POST /internal/security/session should extend the session"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18591#01821827-d2e6-4217-abcd-0af67f416503)

[2022-07-19 21:30] elasticmachine commented on #136688
Pinging @elastic/kibana-security (Team:Security)

[2022-07-19 23:19] gchaps opened #136695 "[Console] Improve text in Welcome screen"
Console got a lot of nice improvements in 8.x, but the Welcome screen remained the same.  Can we make some improvements in the Welcome screen and bring it up to EUI writing guideline standards.? Here is a suggestion for including an animated gif and improving the text:

<img width="1124" alt="Screen Shot 2022-07-20 at 8 14 04 AM" src="https://user-images.githubusercontent.com/33642766/180018876-f4

[2022-07-19 23:40] elasticmachine commented on #136695
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-19 23:52] #128959 closed

[2022-07-20 01:12] pjbertels opened #136698 "50k with server.timeouts.checkin_timestamp at 30 dies"
Stack 8.3.2

Framework command:

TF_VAR_cluster_name=Scooby832_4 TF_VAR_apikey=XzNtYzM0RUJ6WGkzbmdMRHRqdVc6NE5OSWdsRnZRN2V6Z2ZrNGhYUlVFdw== TF_VAR_cluster_mem_fleet=16G TF_VAR_cluster_mem_es=16G TF_VAR_stack_version=8.3.2 TF_VAR_docker_image=docker.elastic.co/observability-ci/elasticsearch-cloud:8.3.2  pytest  ./framework/suites/test_perf02.py --conf ~/elastic/obs-configs/perf.toml_rxbme --harness

[2022-07-20 01:12] elasticmachine commented on #136698
Pinging @elastic/fleet (Team:Fleet)

[2022-07-20 04:05] karanbirsingh-qasource commented on #136382
Hi @andrew-goldstein

we have re-tested this issue as per the discussion done over slack and now on latest build the issue is not occuring with the specific mentioned runtime field and all 3 alert chart view data populates correctly.

**Build Details:**
[code]
**Screen-Cast/Shoot**

![image](https://user-images.githubusercontent.com/59917825/179894102-9d5d39d9-e088-4e24-b6c1-acfbdaa0c1e3.png)

htt

[2022-07-20 04:05] #136382 closed

[2022-07-20 04:56] harshitgupta-qasource commented on #136511
Hi @kevinlog,

We have validated this issue on the latest **8.4.0 SNAPSHOT** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/179754972-8dc586e3-3718-4241-84f3-944f5b53a4f3.mp4

Hence, We are closing this issue and marking it as QA Validated

Thanks!!

[2022-07-20 04:56] #136511 closed

[2022-07-20 05:03] #136348 closed

[2022-07-20 05:07] peluja1012 commented on #136533
Hi @samratbhadra-qasource, I used the environment above to create a new rule by following the steps provided in the bug description. However, the rule executes successfully and I see no error. Were there any additional steps you took before you saw the error? Are you able to reproduce the error now in the same environment?

[2022-07-20 06:07] #121003 closed

[2022-07-20 06:08] #128026 closed

[2022-07-20 06:22] axw commented on #136590
I just learnt that you can create alerts against Data Views through Discover, which means we can do what we want. It would be great if this was made available in the Observability UI.

[2022-07-20 07:06] harshitgupta-qasource opened #136704 "[BUG] When user clicks on any area under the Console, the description box is highlighted"
**Describe the bug**
When user clicks on any area under the Console, the description box is highlighted

**Build Details**

[code]
**Preconditions**
- Kibana should be deployed
- Endpoint should be deployed

**Steps**
- Navigate to Endpoint tab.
- Open Responder console.
- Then Click on Help button.
- Observe that user clicks on any area under the Console, the description box is highlighted

**Act

[2022-07-20 07:14] #136366 closed

[2022-07-20 07:18] samratbhadra-qasource commented on #136533
Hi @peluja1012
We have revalidated this issue and below are our observation:

- We have successfully created rule and the rule is not failing.
- No error is shown under preview result.
- No error is shown under rule detail page after rule creation.

 Please find below the testing details:

**Build Details:**
[code]

Screen-Recording:

https://user-images.githubusercontent.com/84007952/179917480-23

[2022-07-20 07:18] #136533 closed

[2022-07-20 07:20] harshitgupta-qasource commented on #136704
@manishgupta-qasource Please Review

[2022-07-20 07:20] pgayvallet commented on #135261
Closing as I can't reproduce. Feel free to reopen with further details if necessary.

[2022-07-20 07:22] pgayvallet commented on #134708
Closing as the logs seems normal to me. Feel free to reopen with further details if necessary.

[2022-07-20 07:22] #134708 closed

[2022-07-20 07:23] pgayvallet commented on #134301
Fixed by https://github.com/elastic/kibana/pull/134628 in `8.2.4`, `8.3.1` and `8.4.0+`

[2022-07-20 07:23] #134301 closed

[2022-07-20 07:27] manishgupta-qasource commented on #136704
Reviewed & assigned to @kevinlog

[2022-07-20 07:27] #134032 closed

[2022-07-20 07:32] kertal commented on #135357
+1 for newlines and indentation

One additional ask, what about coloring the added brackets + commas in a different color, e.g, some sort of gray ... this would be additional help to differ between the values and the markup we're adding.

[2022-07-20 07:32] MiriamAparicio commented on #136637
Thanks @bmorelli25
I will change the copy 👍

[2022-07-20 07:48] govindrai commented on #83743
In line with this change, it would be great to be able to edit a chart's title and description without needing to click "save as" in the visualization editor. A chart's title/description should be first class citizens like any other aspect of a viz.

[2022-07-20 07:54] simranvaseer-qasource commented on #133828
Hi @kpollich
We have revalidated this feature on the latest 8.4 Snapshot Kibana Cloud environment and found it **working fine**.

- The other host can be added under **agent binary download** section other than default host.
- The added host is visible under the same section in policy settings.

**Build Details:**
BUILD: 54585
COMMIT: f9e2ed4d9f38424676a558c34b74f0a031746c9e

**Screenshots:**
![1]

[2022-07-20 07:55] simranvaseer-qasource commented on #129318
Hi @joshdover and @jen-huang
We have created 01 test case for this feature ticket and uploaded the same on testrail under `Installed Integration tab` section.

The test case link is:

- **[C167289
](https://elastic.testrail.io/index.php?/cases/view/167289&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=30797)**

Please review the test case and let us know if anything is

[2022-07-20 08:07] #136283 closed

[2022-07-20 08:22] kertal commented on #129020
Some quick research, because  of the upcoming SQL in Discover which should show a more helpful inline error message

The error in this issue is only displayed when loading Discover, and in our latest version there are even more error messages in this case. Those errors are triggered by the following code:

https://github.com/elastic/kibana/blob/3730dd0779ed8efd74aee88f57422781ec1ac122/src/plugins/

[2022-07-20 08:29] #136505 closed

[2022-07-20 08:54] vinaychandrasekhar commented on #129878
Adding a couple scenario tests. We can discuss usefulness and feedback on how we make these better when we meet next.

cc @emma-raffenne @fkanout @maryam-saeidi

S1
A user is getting too many alerts from a rule someone else created. This user does not have write access to the rule.
From one of those alert flyouts, they click to see the rule details
Expected outcome: Upon entering the rule details

[2022-07-20 09:09] banderror commented on #136138
I was under the impression that the platform's execution status is always successful since we don't re-throw execution failures as exceptions from executors and so the Framework doesn't know about them. We have https://github.com/elastic/kibana/issues/106482 for fixing that. Maybe I'm just not getting something @spong or something has changed since then?

[2022-07-20 09:21] prachigupta-qasource commented on #132776
Hi @criamico,

We have a query related to this ticket:

For which scenario/scenarios Upgrade warning callout `Rolling upgrade only available for Elastic Agent versions 8.3+` should be available on the 'Schedule upgrade agent' flyout.

**Kibana environment: 8.4.0 SNAPSHOT**

- **Scenario 1**: Selecting **one/more than one agent**  < 8.3.x version
- **Scenario 2**: Selecting **one/more than one agen

[2022-07-20 10:06] Dosant commented on #132406
@flash1293, I am stabilizing the feature branch here https://github.com/elastic/kibana/pull/134983,
I suggest we sync on this end of this week or early next week and start adding back the TSVB/timelion support in a pr against that feature branch

[2022-07-20 10:13] boriskirov commented on #132684
The proposal looks good to me, we already use this in a few places in the UI.

[2022-07-20 10:29] elasticmachine commented on #136674
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-20 10:58] kertal commented on #9531
FYI @davismcphee, I think we would have everything in place for this improvement , last time we didn't move forward because of performance issues https://elastic.github.io/eui/#/layout/resizable-container#resizable-panel-options

[2022-07-20 11:11] kevinlog commented on #136704
@harshitgupta-qasource can you test this again in the next build?  We merged a change recently that changes the way the focus behaves.

It should work that when you click on the Help panel then focus is removed from the input bar.  When you click on one of the commands in the help panel, focus is returned.

[2022-07-20 11:27] harshitgupta-qasource commented on #136704
Thank you for the update @kevinlog.

Once we receive the updated snapshot build, we will revalidate the issue!

[2022-07-20 11:32] #132645 closed

[2022-07-20 11:33] karanverma-qasource opened #136713 "[Security Solution] Timestamp override is not working for ML rule."
**Describe the bug:**
Timestamp override is not working for ML rule.

**Build Details:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. ML jobs should be running

**Steps to reproduce**

1. Navigate to security--> Rules.
2. Create custom ML rule with enabled jobs.
3. Enter all the required fields.
4. Override the timestamp value under adva

[2022-07-20 11:38] vipulsrivastava-qasource opened #136714 "[Security Solution] No item found not displayed when search filter with incorrect value on Endpoints page"
**Description:**
"No item found" not displayed when search filter with incorrect value on Endpoints page.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Elastic Agent with Endpoint Integration exists.

**Steps to Reproduce:**
1. Click on the "Manage" link from the L.H.S menu section and navigate to the "Endpoints" page.
2. Search filt

[2022-07-20 11:38] elasticmachine commented on #136714
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-20 11:48] vipulsrivastava-qasource commented on #136714
@karanbirsingh-qasource : Please review the Bug

[2022-07-20 11:48] sqren opened #136715 "[DataViews] It should be possible to create multiple dataviews for the same index pattern"
**Describe the feature:**

It should be possible to create multiple dataviews for the same index pattern. This would allow users to add runtime fields without upsetting users of the primary data view.

**Problem**
Currently it is only possible to create one data view per index pattern.

![image](https://user-images.githubusercontent.com/209966/179974238-9d04dbe5-3df9-42f3-93f3-7ded611e92d3.png)

T

[2022-07-20 11:48] elasticmachine commented on #136715
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-20 11:48] bytebilly opened #136716 "Highlight editor and viewer built-in roles"
### Description

We introduced `editor` and `viewer` built-in roles, that are useful to provide an easy getting started experience.
They can be used to grant access to your deployments to other users without granting `superuser` privileges or spending time to understand and craft a custom role.

In the future, these roles will be even more relevant and leveraged by Elastic Cloud.

In the user mana

[2022-07-20 12:09] semd commented on #136625
Hi @deepikakeshav-qasource, this problem will be solved on https://github.com/elastic/kibana/pull/136671

[2022-07-20 12:19] pgayvallet commented on #135820
Self-assigning, planning on work on extracting the common types (shared between server and browser) to a common package first to stop the imports from browser-side code to `src/core/server/types`

[2022-07-20 12:21] mibragimov opened #136717 "[Console] Syntax highlighting for triple quotes broken"
**Kibana version:**
v8.4

**Describe the bug:**
While working on https://github.com/elastic/kibana/issues/136055, I found that syntax highlighting for triple quoted strings is broken. However, sending requests with triple quotes in the request body works as expected.

**Steps to reproduce:**
Paste the following request into Console editor
[code]
**Expected behavior:**
Should not display error mark

[2022-07-20 12:21] elasticmachine commented on #136717
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-20 12:23] qcorporation opened #136718 "[Kubernetes Security] Expanded session view is confusing when user selects another entry within the tree view"
**Kibana version:**
8.4.0-Snapshot

**Describe the bug:**
When a user expands the session view from the session leader within the k8s dashboard, and then selects another item within the tree view, it's confusing to the user because the session view isn't associated with the selection within the tree view. Additionally, the breadcrumb at the top of the session leaders list control has changed.

**S

[2022-07-20 12:32] qcorporation opened #136720 "[Kubernetes Security] Filtering out events should also filter out cluster names"
**Kibana version:**
8.4.0 - Snapshot

**Describe the bug:**
Within the K8s dashboard, if you filter out for certain values, for example `NOT container.image.name: xxxxx`
If the cluster does not have those entries anymore then the entire cluster entry should be filtered out.

**Steps to reproduce:**
1. Navigate to the k8s dashboard, for this instance navigate to the infrastructure view
2. Expand th

[2022-07-20 12:40] lizozom opened #136721 "Add an EBT context provider to add a customer identifier to each event's context (on cloud)"
Kibana receives a `telemery.yml` file on cloud, that contains a customer identifier.
If we add an EBT context provider that passes this information on EBT events, we could then measure per customer statistics.

[2022-07-20 12:45] mattkime commented on #136715
This should be the case, reopen if you find its otherwise. This PR was merged about a week ago - https://github.com/elastic/kibana/pull/136071

[2022-07-20 12:45] #136715 closed

[2022-07-20 12:52] elasticmachine commented on #136713
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-20 13:16] davismcphee commented on #135357
Good idea, I will experiment with this and post some screenshots.

[2022-07-20 13:35] gbamparop commented on #121062
@sqren closing this as it was fixed by https://github.com/elastic/kibana/pull/125165

[2022-07-20 13:35] #121062 closed

[2022-07-20 13:43] #136299 closed

[2022-07-20 13:49] ferullo commented on #88952
This is an Endpoint issue. Everything is working correctly in Endpoint, but it is reporting confusing information. I'll fix it and follow up here describing the change.

[2022-07-20 14:00] lizozom commented on #129585
@trentm @danielmitterdorfer

I'm so glad to see that this issue ended up yielding some performance improvements. Thank you so much for investing the time into this. I'm OOO in the next couple of weeks, but maybe @pgayvallet could run the benchmarks to verify?

More broadly speaking, we want to start running some capacity benchmarks in the foreseeable future, so we will obviously track this as well

[2022-07-20 14:03] lizozom commented on #132629
As per @xcrzx working on this issue was postponed.
Moving back to backlog.

[2022-07-20 14:04] #129719 closed

[2022-07-20 14:06] elasticmachine commented on #129742
Pinging @elastic/ml-ui (:ml)

[2022-07-20 14:07] lizozom commented on #98339
@suchcodemuchwow what are we trying to achieve with this issue? And is it's status correct?
Can you please update.

[2022-07-20 14:18] gbamparop commented on #129900
Closing this as this is now imported from `@kbn/kibana-react-plugin/public`.

[2022-07-20 14:18] #129900 closed

[2022-07-20 14:35] lizozom opened #136726 "[Perfomance] Add documentation for adding performance metrics"
We want teams and devs to be able to report their own telemetry, add their own journeys and add custom panels to the performance dashboards.

We need to create a guide \ turorial (under `dev_docs/tutorials`?) that will cover the following parts:
 - How to add telemetry (EBT)
   - Intorduction to the `AnalyticsClient`
   - General EBT vs `MetricEvent` - pros and cons
   - What can be an event, what

[2022-07-20 14:37] legrego commented on #136688
@thomheymann I'm assigning this to you since you're on support rotation this week

[2022-07-20 14:38] kertal opened #136727 "[Discover][Explorer] Relabel documents to records"
Currently Discover Document explorer's wording is using primarily 'document(s)' to refer to it's displayed data. But since we've got a significant change (PR #136702) upcoming, allowing Discover to display SQL results, we should label it more 'neutral', I'd suggest to use `record(s)` instead

<img width="1261" alt="Bildschirmfoto 2022-07-20 um 16 31 14" src="https://user-images.githubusercontent.c

[2022-07-20 14:38] philippkahr opened #136728 "ECK and Kibana APM, NodeJS & RUM settings are not leveraged"
**Kibana version:** 8.3.2

**Elasticsearch version:** 8.3.2

**Server OS version:** GKE / ECK

**Describe the bug:**

When using this manifest as an example:
[deployment.txt](https://github.com/elastic/kibana/files/9150772/deployment.txt)

I set the

[code]

However when you load the Kibana and look into the developer console of the browser you can see that the `serverUrl` is not properly used:

[

[2022-07-20 14:38] elasticmachine commented on #136728
Pinging @elastic/kibana-core (Team:Core)

[2022-07-20 14:38] elasticmachine commented on #136727
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-20 14:39] lizozom commented on #129589
To clarify, this issue was to show that many plugins register request \ response listeners  that effect the response time of static asset delivery.

I think there are several potential solutons to this:
1. Stop serving static assets from the dev server and use a cdn \ separate process
2. Make sure that no custom listeners run on static asset delivery.

If you don't think this is a priority, feel f

[2022-07-20 14:44] lizozom commented on #63848
Closing for now, lets reopen if needed

[2022-07-20 14:44] #63848 closed

[2022-07-20 14:46] lizozom opened #136731 "[Performance] Pass in EBT labels from CI"
In https://github.com/elastic/kibana/pull/135682 @afharo  added the ability to label telemetry from `kibana.yml`.
We need to make sure that CI runs specify said labels so we can then slice and dice the data.

[2022-07-20 14:46] elasticmachine commented on #136731
Pinging @elastic/kibana-operations (Team:Operations)

[2022-07-20 14:52] #120804 closed

[2022-07-20 14:55] TinaHeiligers commented on #135346
I deleted the comment with the link. I _think_ there's a dev doc somewhere about this or an RFC. I'll try to find some public reference that summarizes the issue.

[2022-07-20 14:56] lizozom commented on #109060
Closing for now. We will reopen if and when we have telemetry on this.

[2022-07-20 15:01] lizozom commented on #78351
@kobelb @lukeelmers what is the status on this issue?

[2022-07-20 15:04] dhurley14 commented on #136367
Okay so when the custom user role was updated to have the index patterns split out individually, the rule executed successfully? If that is the case I think we can close this out as resolved. Let me know if I'm missing a step though.

[2022-07-20 15:07] semd opened #136732 "[Security Solution] Enable grouped navigation by default"
**Describe the feature:**

The new navigation is currently disabled by default in the `New streamlined navigation` advanced setting.

It should be enabled by default for 8.4.0. So it will be displayed to all users unless they explicitly disable it.

![new_nav](https://user-images.githubusercontent.com/17747913/180016744-feb6ff36-e02c-40f7-847d-b618a90a428d.png)

[2022-07-20 15:08] elasticmachine commented on #136732
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-20 15:13] markov00 opened #136733 "[Lens] New Metric vis aesthetics enhancements"
I'd like to list some possible aesthetic enhancements, please @gvnmagni double check them:

- [x] The metric doesn't need a panel title, it is self-explanatory and the title lives in the vis itself. I think we can remove the ability to edit the title and we can also remove the white title bar in edit mode (we can probably overlay the panel controls at the top-right on top of the metric without sac

[2022-07-20 15:13] elasticmachine commented on #136733
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-20 15:13] elasticmachine commented on #136733
Pinging @elastic/datavis (Team:DataVis)

[2022-07-20 15:24] jonathan-buttner opened #136738 "[Saved Objects][Cases] Expose lenient option"
Cases currently leverages the saved object `find` API to provide search capability. Cases would like to allow wildcard queries while also leveraging keyword fields as part of the `search_fields`. If a wildcard query is used with a keyword field an error from Elasticsearch is thrown. I believe one solution is to ignore these errors by providing the `lenient` option when the SO framework calls Elast

[2022-07-20 15:24] elasticmachine commented on #136738
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-07-20 15:26] kpollich opened #136739 "[Fleet] Fix typo in Fleet Server installation command"
Missing space between `./elastic-agent install--url`

![image](https://user-images.githubusercontent.com/6766512/180021461-6a02355c-5064-4329-a989-aae953348c83.png)

Reported by @nimarezainia

[2022-07-20 15:26] elasticmachine commented on #136739
Pinging @elastic/fleet (Team:Fleet)

[2022-07-20 15:26] LBoraz commented on #96648
any progress on this? it would be good to have the "bytes" format like in all other visualization types

[2022-07-20 15:28] alexisimp opened #136740 "Visualizing sql query in Kibana"
**Describe the feature:**
Hello!
I have some indices with following fields
[code]
I want to get events with status `None` if they are not in `Succeeded` set. This can be checked by `user_id`. So I need to collect all `user_id`s for `status=Succeeded` and check if the `user_id` of a `None` is not in that set. Similar to this sql query:

[code]
I need to do some visualization on this specific set. I

[2022-07-20 15:30] Kiscitkahutta opened #136741 "..."
...

[2022-07-20 15:30] elasticmachine commented on #136741
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-07-20 15:46] kertal opened #136744 "[Discover][Explorer] Fix column width handling"
Currently, when scaling a column in Document explorer, it can be a floating number like 67.666666666666..
<img width="1203" alt="Bildschirmfoto 2022-07-20 um 17 17 06" src="https://user-images.githubusercontent.com/463851/180025571-b07c5e3f-d18f-48c7-8b7f-dbfa31e2eb80.png">

This should be rounded

Furthermore, when removing a column the value is still in state which is redundant

<img width="1430

[2022-07-20 15:46] elasticmachine commented on #136744
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-20 15:50] #136558 closed

[2022-07-20 16:03] maryam-saeidi commented on #136554
It seems we have functional test for this part but in order to reproduce this issue, we need to have `nodeType` in the alert data which is not the case in our mock data.

Also, Xavier pointed out that we probably have issue in another plugin as well:
[code]
I will create a separate issue after more investigation about the root cause of the current ticket.

[2022-07-20 16:12] spalger commented on #136412
This test is now failing the forward compatibility tests because the tests in 7.17 are also breaking when run against the now-promoted 8.4 snapshot. Skipping in 7.17 too: https://github.com/elastic/kibana/commit/c85770edfc199206488f49d0e97a06e15053bd22

[2022-07-20 16:44] learhy commented on #136720
@nick-alayil will add status and milestone TODAY

[2022-07-20 16:49] marshallmain commented on #136713
Hi @karanverma-qasource,

The `@timestamp` column shown in the screenshare is always the time when the alert was generated by Kibana and is not affected by the choice of `timestamp_override`. The timestamp override controls the `date` field in the source document that is used to determine if a document is within the time range the rule is supposed to cover. In this case `latest_record_time_stamp`

[2022-07-20 16:56] kobelb commented on #78351
@lizozom `@kbn/config-schema` is still slow

[2022-07-20 17:04] semd commented on #128620
Yes, we can not render anything on top of a modal, it has to close to open the flyout. This is the expected behavior.
Thanks @karanbirsingh-qasource. Closing

[2022-07-20 17:04] #128620 closed

[2022-07-20 17:04] kibanamachine opened #136751 "Failing test: Interpreter Functional Tests.test/interpreter_functional/test_suites/run_pipeline/esaggs_significanttext·ts - runPipeline esaggs_significanttext aggSignificantText can execute aggSignificantText"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18624#01821c5c-fb88-40f7-abfc-ab0ab8705783)

[2022-07-20 17:06] petrklapka opened #136752 "test task"
Test issue Jira side.

[2022-07-20 17:09] bhavyarm opened #136754 "Cannot run tests with node scripts/functional_tests_server.js --config "test/new_visualize_flow/config.ts""
**Kibana version:** 8.4.0

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:** I was trying to migrate  test/new_visualize_flow/fixtures/es_archiver/kibana  to kbnArchiver and ran into config breaking test server.
[code]

Fails with

[code]

@dmlemeshko also ran into same problem.

[2022-07-20 17:09] elasticmachine commented on #136754
Pinging @elastic/kibana-operations (Team:Operations)

[2022-07-20 17:12] #132860 closed

[2022-07-20 17:19] vitaliidm commented on #125512
link to security docs PR: https://github.com/elastic/security-docs/pull/2210

[2022-07-20 17:19] #125512 closed

[2022-07-20 17:27] spalger commented on #136751
5 failures in the last day, something might have lead to this being flaky in the latest ES snapshot

<img width="3322" alt="image" src="https://user-images.githubusercontent.com/1329312/180045007-1ff1e0e8-fa4d-4bb4-8cc5-6982fd0d4e9c.png">

[2022-07-20 17:27] spalger commented on #136751
/skip

[2022-07-20 17:28] kibanamachine commented on #136751
Skipped

main: c47cf1bb76af0813336e632c492485825e4ef0cc

[2022-07-20 17:28] spalger commented on #136751
Assigning @Dosant since he wrote these tests initially

[2022-07-20 17:28] #120253 closed

[2022-07-20 17:40] #89588 closed

[2022-07-20 17:40] #97788 closed

[2022-07-20 17:49] #136739 closed

[2022-07-20 17:50] marius-dr opened #136757 "Data view name auto-set does not work for wildcard CCS index patterns"
**Kibana version:** 8.4.0

**Original install method (e.g. download page, yum, from source, etc.):** snapshot build

**Describe the bug:**  When using a wildcard pattern for a Data View that stars with "*" while not adding a specific name for it, it will throw an error and not create the pattern.
Example index patter that we're using: `*:makelogs工程-*`

**Steps to reproduce:**
1. Setup CCS
2. Try t

[2022-07-20 17:50] elasticmachine commented on #136757
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-20 17:50] MadameSheema opened #136758 "[Security Solution] Rules page does not refresh after importing a rule"
**Describe the bug:**
- Rules page does not refresh after importing a rule. **Note that this is just happening with an empty rules page**

**Kibana/Elasticsearch Stack version:**
- main (a0df571b2cf13663a6ee91dba33d147a417b0aa7)

**Initial setup:**
- A clean instance without any rule on it

**Steps to reproduce:**
1.  Navigate to `Rules` page
2. Click on `Import rules`
3. Select or drag and drop a

[2022-07-20 17:50] elasticmachine commented on #136758
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-20 17:50] elasticmachine commented on #136758
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-20 18:11] kibanamachine commented on #136751
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18629#01821c9a-b4bc-4c33-963b-fd23fa92186a)

[2022-07-20 18:15] kibanamachine commented on #136751
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18629#01821cce-e5fd-4f63-8842-39662edbbf5e)

[2022-07-20 18:17] MadameSheema opened #136760 "[Security Solution] Wrong success message when importing a rule with an exception"
**Describe the bug:**
- Wrong success message when importing a rule with an exception

**Kibana/Elasticsearch Stack version:**
- main (a0df571b2cf13663a6ee91dba33d147a417b0aa7)

**Initial status:**
- To have a rule with one exception exported into an ndjson file

**Steps to reproduce:**
1. Navigate to `Rules` page
2. Click on `Import rules`
3. Select or drag and drop an ndjson containing a rule
4.

[2022-07-20 18:43] andrewctate commented on #136733
All of this except removing the white title bar in edit mode is complete in v1.

[2022-07-20 19:20] #136754 closed

[2022-07-20 19:30] kibanamachine commented on #86544
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18640#01821ce8-5716-44aa-bd16-ae7fdd66804e)

[2022-07-20 19:37] legrego commented on #86544
It's the same seemingly unrelated error in this latest failure:

[2022-07-20 19:51] davismcphee commented on #135357
So I tried a few different options and here's what I came up with:

Using subdued text colour -- I don't find there's enough contrast to differentiate:
![subdued](https://user-images.githubusercontent.com/25592674/180067933-a858d0dc-e361-4504-8893-2ffcca9c6abe.png)

Using medium shade colour -- this one is my preference, but I'm not sure if it's high enough contrast against the white background:
!

[2022-07-20 19:59] ThomThomson opened #136767 "[Portable Dashboards] Remove Saved Object Class"
The Saved Object Class that dashboard is using in `src/plugins/dashboard/public/saved_dashboards/saved_dashboard.ts` has been deprecated for quite some time. Every other plugin has migrated to the Saved Objects Client, and it's about time that we do the same.

We should likely look to Lens, to see how their Saved Object is set up.

This issue will likely require more fleshing-out as we look into h

[2022-07-20 20:09] ThomThomson commented on #92877
Copying from #91950, and will close that issue, because everything _except for_ the services abstraction is finished.

[2022-07-20 20:09] ThomThomson commented on #91950
Closing this, as most of the required changes have been made. The services abstraction layer is the only missing piece, and that will be tracked in https://github.com/elastic/kibana/issues/92877

[2022-07-20 20:09] #91950 closed

[2022-07-20 20:16] ThomThomson opened #136770 "[Portable Dashboards] Make Dashboard Container By Value / By Reference"
**Prerequisite** https://github.com/elastic/kibana/issues/136767

**What should change**
Following the pattern established in Lens, Visualize, and Maps, the Dashboard Embeddable should be made into a `by reference` or `by value` embeddable.

What this means in practice is that:
- Dashboard Embeddable Input is renamed `DashboardByValueInput`
- A new Dashboard Input type called `DashboardByReference

[2022-07-20 20:16] elasticmachine commented on #136770
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-20 20:16] EricDavisX commented on #131230
tested this out in the pr and it looks great.  very excited to get it in.  I will test again after merge.

[2022-07-20 20:21] ThomThomson opened #136771 "[Portable Dashboards] Make Dashboard Container Use Redux Embeddable Tools"
**Prerequisite** https://github.com/elastic/kibana/issues/133681

The specialized redux implementation used in the Dashboard App should be replaced with the more universal Redux Embeddable tools. This will allow us to store dashboard **input**, **output**, and **state** in redux with automatic syncing, and context tools to enhance interactivity between the embeddable container class and its react

[2022-07-20 20:21] elasticmachine commented on #136771
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-20 20:28] marshallmain opened #136772 "[Security Solution][Timeline] Threshold rule exceptions are no longer included when sending alerts to timeline"
When sending a threshold alert to timeline, we attempt to fetch the exception list for the rule and include those as a filter for the resulting timeline. However, the exceptions are not being properly fetched or included.

The `exceptions_list` appears to be entirely missing from `ecsData` [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/detections/compone

[2022-07-20 20:28] elasticmachine commented on #136772
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-20 20:28] spalger commented on #86544
@legrego this is caused by using the esArchiver for managing the .kibana index. In order to do this we have to run migrations while Kibana is online, which opens us up to a lot of race conditions and is something we're intentionally trying to move away from. In most cases we are able to move things to the kbnArchiver, which uses the saved objects API so it's able to migrate saved objects one-by-on

[2022-07-20 20:52] #136738 closed

[2022-07-20 20:55] #128041 closed

[2022-07-20 20:58] ThomThomson opened #136773 "[Portable Dashboards] Manage Control Group Inside Dashboard Container"
The control group is currently created and managed by the dashboard app and is passed into the dashboard container to be rendered.

Instead, the control group should be created, managed, and rendered internally.

[2022-07-20 20:59] elasticmachine commented on #136773
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-20 21:25] #131230 closed

[2022-07-20 21:42] kibanamachine opened #136779 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using the kill-process action from response actions console and when console is closed (not terminated) and then reopened should show exit modal when action still pending"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18646#01821d66-95f9-4668-a302-3647573e610b)

[2022-07-20 21:43] elasticmachine commented on #136779
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-20 22:03] spalger commented on #136779
Jest timeouts are a pretty strong indication of a test that is testing too much in a single unit test, and jest tests should never be flaky.

This test was added 2 days ago in https://github.com/elastic/kibana/pull/136281 so skipping. @ashokaditya can you please take a look at this?

main/8.4: https://github.com/elastic/kibana/commit/35f13999f01bf5b25724944a3476445c5c0c7fa5

[2022-07-20 22:55] madirey opened #136784 "[Security Solution] Threshold Rule dupe detection does not fall back to `@timestamp` in case of missing timestamp override field"
Threshold Rules rely on a `max` aggregation on the timestamp for each bucket in order to filter out duplicates on subsequent requests. This ensures that events are not double-counted across more than one Threshold Alert.

Additionally, we use a `min` aggregation to ensure that the correct source events are loaded in the timeline for a specified Threshold Alert.

However, the `max` and `min` aggreg

[2022-07-20 22:55] elasticmachine commented on #136784
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-20 23:00] peluja1012 commented on #134293
@watsoninfosec could you please verify that those indices (apm--transaction, auditbeat-, endgame-, filebeat-, logs-, packetbeat-, traces-apm, winlogbeat-*, -elastic-cloud-logs-) exist and that you have data in them? This error is usually encountered in Event Correlation rules when none of the configured indices exist in the system.

[2022-07-20 23:27] cjcenizal opened #136786 "Update "Copy as cURL" to interpolate variables and strip request-body comments"
Currently, if you use the "Copy as cURL" action on a request with variables in it, the variable references are preserved instead of being replaced with values, and request-body comments are also preserved.

For example, this request:

[code]

Becomes this:

[code]

But it should be this:

[code]

[2022-07-20 23:27] elasticmachine commented on #136786
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 01:44] dedemorton opened #149170 "Improve doc links in step-based add agent/integrations workflow"
The documentation links in the new step-based workflow (added in https://github.com/elastic/kibana/pull/132809) point to pages that may be confusing to new users. When the user follows the links, they'll see steps and a screenshot that does not match the UI they're using.

As a quick fix, I propose that we modify the links. This might be difficult if we are reusing code, but let's decide what work

[2022-07-21 02:10] JiaweiWu opened #136789 "[RAM] Rule event log calls the aggregate endpoint 3 times on mount"
When navigating to the rule details page, the `_execution_log` API is called 3 times, which is not particularly efficient.

I am able to reproduce this on the main branch

![execution_log](https://user-images.githubusercontent.com/74562234/180114554-4cacc0de-ae52-46b8-bc21-edb1beb8864c.png)

[2022-07-21 02:10] elasticmachine commented on #136789
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-21 03:28] #129895 closed

[2022-07-21 05:52] matschaffer opened #136794 "Hide uptime from container/pods"
https://github.com/elastic/kibana/pull/136596

[2022-07-21 05:52] elasticmachine commented on #136794
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 06:05] nick-alayil commented on #136720
Done. Will target for 8.4.0 milestone with severity as major.

[2022-07-21 06:15] #130545 closed

[2022-07-21 06:28] deepikakeshav-qasource commented on #102858
Hi @machadoum,

We have validated above issue on **8.3.3 BC1** and observed that issue is **Fixed**  🟢

Please find the below testing details

**Build info:**

[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/61860752/180144440-d94457bf-20dd-4c23-97f1-eb485d750f97.png)

Thanks!!

cc: @MadameSheema

[2022-07-21 06:34] philippkahr opened #136795 "Show runtime fields in data view, overview as an additional tab"
**Describe the feature:**
When I look into the data view for an index, I want to quickly be able to tell how many runtime fields there are.

**Describe a specific use case for the feature:**
<img width="1361" alt="Screenshot 2022-07-21 at 08 31 49" src="https://user-images.githubusercontent.com/12175559/180145350-41db2572-5143-4fc6-a1a1-6b7efa890636.png">

[2022-07-21 06:34] MichaelKatsoulis commented on #136014
Unfortunately there is none, at least from my side.

[2022-07-21 06:36] samratbhadra-qasource commented on #135827
Hi @semd
We have validated this issue on the latest **self-managed 8.3.3-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

- `Create field` option is available while user select `Fields` from timeline with an alert added.

**Build Details:**
[code]

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/180142838-9608231a-e33d-4308-ac5

[2022-07-21 06:36] #135827 closed

[2022-07-21 06:47] flash1293 opened #136796 "Optimize request fetching for filters and filter aggs"
Filters specified in the filter or filters agg use a linear scan through all documents matching the top level query of the request - depending on how many documents are matching this top level query, this can be dramatically slower than sending separate requests to fetch those parts individually.

Example, tested with ~3M documents:
Date histogram of a ratio of sum of some field (filter vs. no fil

[2022-07-21 06:47] elasticmachine commented on #136796
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-21 06:47] elasticmachine commented on #136796
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 06:49] katrin-freihofner commented on #119610
This has been fixed.
<img width="423" alt="Screenshot 2022-07-21 at 08 49 41" src="https://user-images.githubusercontent.com/20965076/180148427-f4dc10b4-3b2e-4457-a850-76258955537b.png">

[2022-07-21 06:49] #119610 closed

[2022-07-21 06:52] MadameSheema commented on #135515
Thanks @dhurley14!! :)

Can you please sync with @yiyangliu9286 and @jethr0null about that? I think they should be the ones taking the decision about it.

[2022-07-21 06:53] #136713 closed

[2022-07-21 07:09] deepikakeshav-qasource commented on #125354
Hi Team,

We have validated above issue on **8.3.3 BC1** and observed that issue is **Fixed**  🟢

Please find the below testing details

**Build info:**

[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/61860752/180148559-825a8dd2-6bb8-4096-b037-9f24ed6746e9.png)

**User Privileges**
![image](https://user-images.githubusercontent.com/61860752/180148689-c2c3cc79-0751-4855-9

[2022-07-21 07:24] kertal commented on #135357
great work Davis, showing all options! this would also be my preference, dear @andreadelrio would you agree moving forward with this?

thinking beyond that, maybe one day we could switch to react based rendering allowing to user to view a compact and a formatted view, for large lists rendering just a view elements, letting the user decide to view all und such stuff

[2022-07-21 07:31] kibanamachine opened #136797 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group3/drag_and_drop·ts - lens app - group 3 lens drag and drop tests basic drag and drop should combine field to existing horizontal dimension"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18657#01821f8e-e9a9-4798-8e38-ea833963ae91)

[2022-07-21 07:31] elasticmachine commented on #136797
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 07:35] flash1293 commented on #136797
This is a timing issue - it does say "Top values of clientip + 1 other" in the screenshot:
<img width="837" alt="Screenshot 2022-07-21 at 09 34 31" src="https://user-images.githubusercontent.com/1508364/180156633-c3c2b7ee-b038-4b12-827b-f5f2ac55745b.png">

It's another place where we check for the global loading indicator instead of `waitForVisualization`: [waitForVisualization](https://github.com

[2022-07-21 07:44] flash1293 opened #136798 "[Lens] Deprecate and remove Lens field list sampling strategy"
In 8.1 we switched to the field caps API to determine whether fields are shown in the Lens field list by default or not. The old strategy relying on sampling of 500 documents was retained behind an advanced settings flag. Till then only 0.27% of active Lens users switched back to the old sampling strategy.

Due to this low usage and maintenance effort required to keep the sampling strategy functio

[2022-07-21 07:44] elasticmachine commented on #136798
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 08:10] #136371 closed

[2022-07-21 08:14] karanbirsingh-qasource commented on #136224
Hi @MadameSheema

we have validated this issue on 8.3.3-BC1 and found the issue to be fixed now . now for @timestamp and index the match filter is not present under rule exception.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/180164543-d539c391-9245-4d5a-a765-adb3ffe35e95.mp4

Hence we are closing this issue and adding "QA:Validated" tag to it.

[2022-07-21 08:14] #136224 closed

[2022-07-21 08:20] juliaElastic opened #136801 "[Fleet] Change agent policy delete API from POST to DELETE"
Change the following API to DELETE and make POST deprecated:

https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/main/x-pack/plugins/fleet/common/openapi/bundled.json#/default/delete-agent-policy
[code]
To:
[code]

_Originally posted by @simitt in https://github.com/elastic/kibana/issues/132263#issuecomment-1131655853_

[2022-07-21 08:20] elasticmachine commented on #136801
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 08:30] afharo commented on #135251
I think this is a bug with the FTR helper `common.navigateToApp('home')`. By default, the method should skip the Welcome page (`disableWelcomePrompt = true` by default). However, if the test does not require login (typically in non-x-pack tests), the Welcome page may show up. So the expected controls on the `home` page are not available.

Proof of that is the screenshot provided in the test failur

[2022-07-21 08:36] juliaElastic opened #136804 "[Fleet] Create a DELETE API to delete a package policy"
There is an existing POST API to delete multiple package policies:
https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/main/x-pack/plugins/fleet/common/openapi/bundled.json#/default/delete-package-policy

It would be more intuitive to create a DELETE API to delete a single package policy:

[code]

The existing POST API could be changed to DELETE by passing the ids as

[2022-07-21 08:36] elasticmachine commented on #136804
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 08:48] juliaElastic opened #136805 "[Fleet] Change agent action APIs to PUT instead of POST"
Fleet Agent action APIs are not consistent.
Reassign uses PUT, the others use POST: https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/main/x-pack/plugins/fleet/common/openapi/bundled.json#/default/reassign-agent

Change the following APIs to PUT, and make the POST versions deprecated.

https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana

[2022-07-21 08:48] elasticmachine commented on #136805
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 08:53] kibanamachine opened #136806 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group3/drag_and_drop·ts - lens app - group 3 lens drag and drop tests dropping between layers should move formula to empty dimension"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18661#01821fd5-6e1c-4dd9-b691-a5141c03a7aa)

[2022-07-21 08:53] elasticmachine commented on #136806
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 08:54] juliaElastic opened #136807 "[Fleet] Document missing APIs in OpenAPI spec"
Some APIs are missing from OpenAPI spec, should be documented:

- Description missing of [new agent action](https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/main/x-pack/plugins/fleet/common/openapi/bundled.json#/default/new-agent-action)
- [Cancel agent action](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/common/constants/routes.ts#L114)

[2022-07-21 08:54] elasticmachine commented on #136807
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 09:00] karanbirsingh-qasource commented on #131382
Hi @MadameSheema

we have validated this issue on 8.3.3 BC1 and found the issue to be fixed now ✔️ . Multiple log state events are showing with multiple filter.

**Build Details:**
[code]
**Screen-Shoot:**

https://user-images.githubusercontent.com/59917825/180174186-d6855ad9-0d17-483c-8d1d-bf59a73d3fdc.mp4

![image](https://user-images.githubusercontent.com/59917825/180174224-77342ebe-a77d-4b4d-9

[2022-07-21 09:00] #131382 closed

[2022-07-21 09:03] MadameSheema opened #136810 "[Security Solution] Error displayed when adding an exception with `matches` operator under certain conditions"
**Describe the bug:**
- Not able to add an exception with `matches` operator when the field contains an array of values , the `Close all alerts that match this exception` is selected and the value of the field of one of the alerts is composed by an array.

**Kibana/Elasticsearch Stack version:**
- main (96e284fdf49d04b561aa6b6e20e5c4c5b0ab0282)
- 8.4.0

**Initial setup:**
- To have alerts generate

[2022-07-21 09:03] elasticmachine commented on #136810
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-21 09:03] elasticmachine commented on #136810
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-21 09:20] afharo commented on #109294
From Grooming on 19-07-2022: We'd like to follow up with Product to understand the expected behaviour (from the lowest level of effort to the highest):

1. **Current behaviour:** Each application can set its own scoring system. This means that an application setting a score of 100 will always be presented on top of others setting a lower score. This could be good for promoting/marketing some apps/

[2022-07-21 09:35] banderror commented on #136006
@vitaliidm @dhurley14 -- just FYI that we have this bug. I think we should get it fixed in the next dev cycle, but please feel free to do it sooner if you like.

Also, I'm thinking about what we could have done to prevent it from happening - maybe rule params schema could be expressed in a different way?..

[2022-07-21 09:40] banderror commented on #136616
cc @vitaliidm

[2022-07-21 09:41] banderror commented on #136758
Yep, noticed that a few days ago too 👍

[2022-07-21 09:57] elasticmachine commented on #136795
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-21 10:13] amolnater-qasource opened #136814 "[Bug]: Sublist font is greater than main title under Agent details page>Endpoint Security>Policy Response categories."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Agent should be installed with Endpoint Security.

**Steps to reproduce:**
1. Navigate to Fleet>Agent details page.
2. Click `>` with `Endpoint Security` and collapse Policy Response.
3.

[2022-07-21 10:13] elasticmachine commented on #136814
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 10:13] elasticmachine commented on #136814
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-21 10:14] amolnater-qasource commented on #136814
@manishgupta-qasource Please review.

[2022-07-21 10:18] banderror commented on #124918
cc @MadameSheema

[2022-07-21 10:28] manishgupta-qasource commented on #136814
Reviewed & assigned to @kevinlog

[2022-07-21 10:33] muskangulati-qasource opened #136816 "[Security Solution] The log message for Policy logs is not truncated"
**Description:**
The log message for Policy logs is not truncated

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
3. Click on the policy status and observe the message is truncated and full log is not d

[2022-07-21 10:33] elasticmachine commented on #136816
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-21 10:33] elasticmachine commented on #136816
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-21 10:33] muskangulati-qasource commented on #136816
@manishgupta-qasource please review!

[2022-07-21 10:40] klacabane opened #136818 "[Stack Monitoring] Allow sub minute interval for CPU usage rule"
### Summary

The cpu usage rule only [supports minute as an interval unit](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/alerts/fetch_cpu_usage_node_stats.ts#L40) and will convert any specified period to a minute. When dealing with a sub-minute interval this leads to a fraction and will break the execution with the following error:

`x_content_parse_exception: [x

[2022-07-21 10:40] elasticmachine commented on #136818
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 10:47] manishgupta-qasource commented on #136816
Reviewed & assigned to @kevinlog

[2022-07-21 11:00] afharo commented on #136728
Hi @philippkahr, thank you for opening the issue. I have a follow-up question: does ECK set the environment variable `ELASTIC_APM_SERVER_URL` when launching Kibana?

AFAIK, Kibana prioritizes the config coming from Environment variables over the `kibana.yml` or CLI options: https://github.com/elastic/kibana/blob/c97bfc8e3a539db6a3dc07d69f64b35dc419fdf2/packages/kbn-apm-config-loader/src/config.ts#

[2022-07-21 11:06] watsoninfosec commented on #134293
Yes they do exist it was a default install. So all the indices are the default after install.

Sent from Proton Mail for iOS

On Thu, Jun 23, 2022 at 11:47 AM, Pedro Jaramillo ***@***.***> wrote:

[2022-07-21 11:14] kevinlog commented on #136814
@dasansol92 can you take a look at this?  What was the font like in the original mock?

[2022-07-21 11:16] kevinlog commented on #136816
@dasansol92 can you take look?  I don't think we should truncate, but can we wrap long lines like this?

[2022-07-21 11:22] legrego commented on #86544
@spalger thanks for explaining, that makes a lot of sense. We'll see if we can convert this to use `kbnArchiver` + security APIs

[2022-07-21 11:25] miltonhultgren commented on #136818
The error itself is just normal stuff from the date_histogram aggs, fractional units of any size are not supported.

That comment is very vague but I wonder if it's due to rounding issues?

[2022-07-21 11:33] #134422 closed

[2022-07-21 11:43] ari-aviran commented on #134423
We will keep using our own breadcrumbs implementation for the rules page, since it involves async data fetching for the breadcrumb title. We'll opt out from the security solution implementation only for that specific route.

[2022-07-21 11:56] legrego opened #136824 "Reusable User Search component"
This issue is tracking the UI counterpart to https://github.com/elastic/kibana/pull/135063.

Now that we can search for user profiles, we should expose a set of reusable UI components which allow us to surface this functionality in a consistent manner.

Mockups available at https://www.figma.com/proto/yUBQXeXvs0j4hsax2ZM9Mo/Case-Assignment-%26-User-Search-%2F-Version-1-%5BIn-Progress%5D?page-id=0%

[2022-07-21 11:56] elasticmachine commented on #136824
Pinging @elastic/kibana-security (Team:Security)

[2022-07-21 11:57] legrego commented on #136824
@thomheymann here's a public issue to track the work you've started

[2022-07-21 11:57] semd commented on #135936
Hi @spong , I can't reproduce it in `main` anymore. Presumably, it has been fixed by @andrew-goldstein here https://github.com/elastic/kibana/commit/0301d201ee4b6d33dcd4c21794d8a98ac1f02c2f#diff-bf6c49e28dab0725846cd1449fcbb52d8e0670265d752322451d76a6dd1153c3R373

@codearos The same behavior has been applied for the new Alerts page "group by" selector, width fixed to 400px.
I think this is consist

[2022-07-21 12:02] gbamparop commented on #126094
This is happening because `agentName` and `runtimeName` are `undefined` the first time that `ServiceOverview` component renders and as a result the type of agent or whether the service runs in a serverless context is not known. We could add conditionals to render the components making the API calls only when these are defined but this will result in a change of behaviour for example when this info

[2022-07-21 12:02] #126094 closed

[2022-07-21 12:02] elasticmachine commented on #136740
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 12:07] philippkahr opened #136825 "Lens Visualisation, Static Value should be influence by the timestamp bucket"
**Describe the feature:**

For example the Kibana Task manager has a limit of 200 tasks per minute. I create a static value of 200 as an upper bound. This works as long as the `@timestamp per ..` is in the `< 1m` range. If I set this to `last 24 hours`, I get `30 minutes buckets`, thus the maximum of `200 per minute` is incorrect, as the static value should be lifted to  `200 * 30`.

<img width="1

[2022-07-21 12:07] elasticmachine commented on #136825
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 12:10] yuliacech opened #136826 "[Guided onboarding] Observability tour: last step highlights the wrong button"
The last step of the Observability onboarding tour needs to have smaller offset to not highlight the Refresh button instead of the Guided setup button (from code review comments in https://github.com/elastic/kibana/pull/136329)

![180135729-7294c6c9-c7c8-4d63-bd2a-feb5036a2109](https://user-images.githubusercontent.com/6585477/180210096-d903d4b8-2fd4-44f1-8260-d8b8627b5f35.png)

[2022-07-21 12:10] elasticmachine commented on #136826
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-21 12:21] deepikakeshav-qasource commented on #136367
Thank you for the confirmation!! @dhurley14

Yes, rule is executed without any warning when index patterns split out individually.

Hence, We are closing this issue!!

[2022-07-21 12:21] #136367 closed

[2022-07-21 12:25] joshdover commented on #136022
@amolnater-qasource @dikshachauhan-qasource Could we test this one on 8.3.3?

[2022-07-21 12:32] kibanamachine opened #136827 "Failing test: X-Pack Security API Integration Tests (User Profiles).x-pack/test/security_api_integration/tests/user_profiles/bulk_get·ts - security APIs - User Profiles Getting user profiles in bulk can get multiple profiles"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18666#0182208a-505a-4fd2-a4bb-7c56eb801cb2)

[2022-07-21 12:32] elasticmachine commented on #136827
Pinging @elastic/kibana-security (Team:Security)

[2022-07-21 12:47] azasypkin commented on #136827
Array sorting.... :grimacing: Will try to prepare fix today.

[2022-07-21 12:59] flash1293 commented on #136825
This is like a "normalize by unit" for the static value - it's further complicated by the fact that the interval is defined on another layer, but I guess it's still theoretically possible

[2022-07-21 13:07] dasansol92 commented on #135794
PR: https://github.com/elastic/kibana/pull/136829

[2022-07-21 13:13] dasansol92 commented on #136814
@kevinlog Yeah, it should have the same font size, will fix it

[2022-07-21 13:14] #136779 closed

[2022-07-21 13:16] pgayvallet commented on #78351
How dare you.

[2022-07-21 13:17] dominiqueclarke opened #136832 "[Synthetics and Uptime UI] Add timeout to Browser monitors"
Uptime and Synthetics UI currently does not allow defining timeouts for browser monitors.

We should add a new field, timeout, to both the Uptime and Synthetics UI. The default for browser monitors should be 15m.

[2022-07-21 13:17] elasticmachine commented on #136832
Pinging @elastic/uptime (Team:uptime)

[2022-07-21 13:26] kpollich opened #136834 "[Fleet] Support version overriding for bundled APM package"
Ref https://github.com/elastic/apm-server/issues/8491

The APM team would like to continuously publish updates to the APM package in the new Package Storage v2 architecture. To support this, Fleet's bundled package process should be able to handle the following:

- Fetch the latest compatible version of the `apm` package, which may be a prerelease (e.g. provide `?experimental=true` in the EPR requ

[2022-07-21 13:26] elasticmachine commented on #136834
Pinging @elastic/fleet (Feature:EPM)

[2022-07-21 13:26] elasticmachine commented on #136834
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 13:33] kibanamachine opened #136835 "Failing test: Jest Tests.x-pack/plugins/watcher/__jest__/client_integration - <ThresholdWatchEdit /> create route on component mount create actions should simulate a webhook action"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18672#018220c9-f16d-4ec4-ad6c-0f16c3e4650f)

[2022-07-21 13:33] kibanamachine opened #136836 "Failing test: Jest Tests.x-pack/plugins/watcher/__jest__/client_integration - <ThresholdWatchEdit /> create route on component mount create actions should simulate a Jira action"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18672#018220c9-f16d-4ec4-ad6c-0f16c3e4650f)

[2022-07-21 13:33] kibanamachine opened #136837 "Failing test: Jest Tests.x-pack/plugins/watcher/__jest__/client_integration - <ThresholdWatchEdit /> create route on component mount create watch visualize data payload should send the correct payload"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18672#018220c9-f16d-4ec4-ad6c-0f16c3e4650f)

[2022-07-21 13:34] elasticmachine commented on #136835
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 13:34] elasticmachine commented on #136836
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 13:34] elasticmachine commented on #136837
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 13:53] gvnmagni commented on #17707
A couple of screenshots might be helpful here but I think I get the point.

My consideration, from the design perspective, is that zooming in and out should be a feature related to accessibility issues and not about style issues. I believe the problem is somewhere else.

I can totally understand that reducing everything can create more elegant and clean dashboards (more white space, smaller fonts,

[2022-07-21 13:54] n0othing opened #136839 "CSV downloads can result in shifted column values"
**Kibana version:** `7.17.4`

**Elasticsearch version:** `7.17.4`

**Describe the bug:**

CSV column values can shift when a user doesn't explicitly select columns on the table.

**Steps to reproduce:**

Set `xpack.reporting.csv.scroll.size: 1` in the `kibana.yml`
[code]

Create a `someindex` index pattern in Kibana > view in Discover > generate a CSV without specifying any field columns.

Results

[2022-07-21 14:01] kpollich opened #136841 "[Fleet] Support release badges for beta/experimental data streams"
In the package spec, a data stream can be designated with a `release` property, e.g.

https://github.com/elastic/integrations/blob/2dbcf9870b0a521c6f0eea453baa6d34deb98493/packages/aws/data_stream/billing/manifest.yml#L2

However, this release value is not surfaced in the Fleet UI policy editor. We should add support for beta/experimental badges similar to how we display them beta/experimental int

[2022-07-21 14:01] elasticmachine commented on #136841
Pinging @elastic/fleet (Team:Fleet)

[2022-07-21 14:01] elasticmachine commented on #136841
Pinging @elastic/fleet (Feature:EPM)

[2022-07-21 14:11] #131677 closed

[2022-07-21 14:19] #136337 closed

[2022-07-21 14:24] jbudz commented on #136827
/skip

[2022-07-21 14:25] kibanamachine commented on #136827
Skipped

main: 25e5657a653dfb9d57745c88501a34c6cb400383

[2022-07-21 14:40] kibanamachine commented on #131830
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18678#01822103-5714-4590-8f30-a944a8888067)

[2022-07-21 14:49] davismcphee commented on #135357
I think this would be a good idea. It would also allow us to use Emotion to generate a class rather than importing the theme vars directly and inlining the styles, which is what I did here.

[2022-07-21 14:50] azasypkin commented on #136827
/fix-the-code-and-unskip-test

[2022-07-21 14:52] yuliacech opened #136846 "[Guided onboarding] Security tour: copy updates for the new side nav steps"
In https://github.com/elastic/kibana/pull/132641 we updated the Security onboarding tour to work with the new side navigation. The copy needs to be reviewed and finalised.

Step 1

<img width="1469" alt="Screenshot 2022-07-20 at 14 28 36" src="https://user-images.githubusercontent.com/6585477/179993001-b0af9011-89fb-4867-88bf-d71729f1ca73.png">

Step 2

<img width="1469" alt="Screenshot 2022-07-20

[2022-07-21 14:52] jbudz commented on #134938
This was fixed by temporarily downgrading Chrome to 102

[2022-07-21 14:52] #134938 closed

[2022-07-21 14:53] elasticmachine commented on #136846
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-21 14:58] matthiasledergerber opened #136847 "[Kibana] Searching for fields in mapping menu of component template breaks search"
OS: macOS 12.5
Browser: Edge 103.0.1264.62
Browser2: Safari15.6 (17613.3.9.1.5)

Install: Apt
Kibana: 8.3.2
Elasticsearch: 8.3.2
Fleet-Agents: 8.3.2
OS Elastic Server: Debian 11.4

**Describe the bug:**
Searching for "Client" in the component template mapping view breaks the search and page (see gif). The page goes blank.

**Steps to reproduce:**
1. Download Cisco ASA Integration Package
2. Go to

[2022-07-21 14:58] tinnytintin10 commented on #134836
instead of showing a giant error in the middle of the page, maybe we mimic what the discover page does:

![Image](https://user-images.githubusercontent.com/53792284/180246059-3385c08d-b8be-4afd-a1c2-f557ee9e54be.png)

cc @kfirpeled

[2022-07-21 15:01] tinnytintin10 commented on #135683
Let's fix this- let's make sure deselecting one doesn't deselecting everything else on pages we can't see.

[2022-07-21 15:04] yuliacech opened #136848 "[Guided onboarding] Observability tour: move Traces step to Services"
Follow up to https://github.com/elastic/kibana/pull/136329

As per review [comment](https://github.com/elastic/kibana/pull/136329#issuecomment-1189330790) we will move the Traces step to the Services menu item.

<img width="1637" alt="Screenshot 2022-07-21 at 17 03 37" src="https://user-images.githubusercontent.com/6585477/180247341-a10df0b9-1fa7-4e34-a414-305a75868c94.png">

cc @katrin-freihofner

[2022-07-21 15:04] elasticmachine commented on #136848
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-21 15:06] #135927 closed

[2022-07-21 15:08] jbudz commented on #75962
Looks to be stabilized, closing this out.

[2022-07-21 15:08] #75962 closed

[2022-07-21 15:12] teresaalvarezsoler commented on #122930
Closing becuase the time to rend the basemap is fine acoording to our Kibana standards

[2022-07-21 15:12] #122930 closed

[2022-07-21 15:13] kibanamachine commented on #122827
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18684#01822127-9753-4529-bbaa-d4353d92a9c3)

[2022-07-21 15:20] kibanamachine commented on #136827
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18683#01822122-7890-4e65-8553-381e068992b9)

[2022-07-21 15:20] kibanamachine commented on #136827
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18682#01822121-6371-484b-8902-9fac60764820)

[2022-07-21 15:23] kertal commented on #135357
but it sadly this will take some time, for now I think the coloring should work similar like that: https://github.com/elastic/kibana/blob/d605f31b3ab802bb91db982b3fd8d151589207fd/src/plugins/field_formats/common/converters/string.ts#L136

[2022-07-21 15:25] jbudz commented on #131830
/skip

[2022-07-21 15:25] kibanamachine commented on #131830
Skipped

7.17: 76abd80430ed0260648668203f6ef7deea33b3da

[2022-07-21 15:25] #135716 closed

[2022-07-21 15:29] nathanrstacey opened #136850 "Elasticsearch Enrollment Token injection via Kibana's CLI"
**Describe the feature:**
When starting Kibana for the first time, provide an option like the following to inject the Elasticsearch Enrollment Token into Kibana
-a parameter option added to the "./bin/kibana" command
-an option like 'click on http://localhost:5601:code=4532 to add the Elasticsearch Enrollment Token OR click enter and add the token here'

**Describe a specific use case for the feat

[2022-07-21 15:38] yuliacech opened #136852 "[Guided Onboarding] Security tour: end the tour by clicking "Add integrations" button"
Follow up to https://github.com/elastic/kibana/pull/132641

The last step of the tour points to the "Add integrations" button. If the user clicks on the button, they are redirected to the Integrations page. When they come back to Security, the tour should not still display the last step.

<img width="604" alt="Screenshot 2022-07-21 at 17 35 40" src="https://user-images.githubusercontent.com/658547

[2022-07-21 15:39] cjcenizal commented on #135088
Following up here, the UI doesn't allow changes to policies that have `max_primary_shard_docs` set. This is a bug. To reproduce, create a policy in Console:

[code]

Edit this policy in the ILM UI by adding a new phase or setting. Attempt to save the policy. The client-side validation rejects the policy as invalid:

![image](https://user-images.githubusercontent.com/1238659/180254704-b905f6c6-15c9

[2022-07-21 15:39] #136374 closed

[2022-07-21 15:42] kibanamachine commented on #132855
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18688#0182215e-4797-4f5b-9a38-d5c60b1fa8ad)

[2022-07-21 15:42] andrew-goldstein commented on #136374
@deepikakeshav-qasource, this issue auto-closed when the fix in https://github.com/elastic/kibana/pull/136787 was merged.

Would you be willing to verify [the fix](https://github.com/elastic/kibana/pull/136787)?

[2022-07-21 15:42] jbudz commented on #132855
/skip

[2022-07-21 15:43] kibanamachine commented on #132855
Skipped

7.17: ba07cfe552104c90e87d8d5df2b5979239d4e7f2

[2022-07-21 15:48] teresaalvarezsoler commented on #111313
@ghudgins I think you were working in a solution for this issue. It would be great if the solution could be centralize so we can use it in Maps - are you thinking about doing it this way?

[2022-07-21 15:55] kertal opened #136854 "Improve performance of searchsource flattening"
**Kibana version:**

reported for 7.17.4
introduced in 7.12 with the migration to fields API

**Describe the bug:**
When lots of fields are available in a data view this can lead to very long execution time of flattening in search_source.ts

https://github.com/elastic/kibana/blob/5af2a49b9d1230e499888f979e300d3c1f0d8db9/src/plugins/data/common/search/search_source/search_source.ts#L761

The reason

[2022-07-21 15:55] elasticmachine commented on #136854
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-21 16:00] kibanamachine commented on #135099
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18688#0182215e-4786-467d-b943-44f6f00a66d5)

[2022-07-21 16:06] kibanamachine commented on #135238
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18685#0182214d-96f8-4e20-95ed-043f2e3b0ed6)

[2022-07-21 16:06] kibanamachine commented on #135239
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18685#0182214d-96f8-4e20-95ed-043f2e3b0ed6)

[2022-07-21 16:06] kibanamachine commented on #135240
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18685#0182214d-96f8-4e20-95ed-043f2e3b0ed6)

[2022-07-21 16:07] justinkambic opened #136855 "[UX Dashboard] APM `viewer` role cannot access UX Dashboard"
**Kibana version:**
latest

**Elasticsearch version:**
latest

**Server OS version:**
macOS

**Browser version:**
Chrome 103

**Browser OS version:**
macOS Monterey

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
The `viewer` role cannot access the UX Dashboard

**Steps to reproduce:**
1. Create a `viewer` user. Run the `create_apm_user

[2022-07-21 16:07] mikecote commented on #78704
Closing due to lack of interest and activity.

[2022-07-21 16:07] #78704 closed

[2022-07-21 16:12] flash1293 commented on #136806
Same problem like https://github.com/elastic/kibana/issues/136797#issuecomment-1191144981

[2022-07-21 16:12] tommyers-elastic commented on #136841
thanks for creating the issue @kpollich !

on this point - I don't think the described behavior is quite right. we can have GA integrations, but with new beta data streams. those data streams are surfaced on the search results page as if they were first-class citizens along side the top level packages. for example here, the package is 'Azure Resource Metrics', and 'Azure Database Account Metrics',

[2022-07-21 16:12] jbudz commented on #135099
Skipped

7.17: 97a70a789a73f781f2c4a0bfd9c99e7a76106293

[2022-07-21 16:16] kibanamachine opened #136856 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/saved_objects_management/scroll_count·ts - Saved Objects Management scroll_count saved objects with hidden type "before all" hook for "only counts hidden types that are importableAndExportable""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18688#0182215e-477e-46b7-a9da-7cd8677f9303)

[2022-07-21 16:19] joshdover commented on #135337
Thanks for digging in here. Avoiding the perf cost makes sense. I think it'd be nice to have some sort of feedback in the UI that some agents were skipped, but I think it's lower priority.

I wonder if we should at least have some feedback if _all_ of the agents in the kuery don't pass the validation. What happens today in that case?

[2022-07-21 16:21] alvarezmelissa87 opened #136858 "[ML] Data Visualizer - saved search not manually clearable from search bar"
**Kibana version:**
Found in latest kibana

**Describe the bug:**
When viewing a saved search in the Data Visualizer and attempting to clear the search via the search bar there is no change - the search remains applied even when the bar is cleared.

When the 'x' in the search bar is used the search is no longer applied on the page but when deleting it manually it does not apply the clearing action

[2022-07-21 16:21] elasticmachine commented on #136858
Pinging @elastic/ml-ui (:ml)

[2022-07-21 16:25] mikecote commented on #82722
Closing due to lack of interest for this request. We've done prior improvements to dynamically load the forms to help reduce the bundle size.

[2022-07-21 16:25] #82722 closed

[2022-07-21 16:25] joshdover commented on #136841
+1 we shouldn't put the beta label on the package just because it contains a beta data stream. GA packages will want to expose beta data streams / features and we still want it to be clear that the package itself is stable.

For the AWS Fargate example, I think we need the ability to make policy_templates marked as beta so one policy template can be beta without making the whole package beta.

[2022-07-21 16:28] pjbertels commented on #136698
Update: for 8.3.2 we were using a combination of zones and mem args in main.tf for the `Elasticsearch hot tier` that resulted in instances that were too small and not enough zones used. With a lot of experimentation we were able to figure out how to influence cluster sizing in a reasonable way. Now that we have figured out what the issue was and have a more appropriately sized cluster we can get p

[2022-07-21 16:28] #136698 closed

[2022-07-21 16:29] kpollich commented on #136841
Ah I understand the distinction. This behavior is not true of all integrations with `beta` data streams - only those that expose multiple `policy_templates` like AWS, Azure, Kubernetes, etc. These cards are not tied data streams, but they are tied to each entry in the `policy_templates` array exposed by the Azure package, e.g. https://github.com/elastic/integrations/blob/main/packages/azure/manife

[2022-07-21 16:29] mikecote commented on #83748
Closing in favour of https://github.com/elastic/kibana/issues/49410.

[2022-07-21 16:29] #83748 closed

[2022-07-21 16:30] kpollich commented on #136841
I suppose we _could_ implement logic to derive the `beta` status of a `policy_template` based on its child `data_streams` and their `release` values, but that feels hacky compared to just directly allowing integration maintainers to toggle the badge on their policy template cards via a `release` field on the template.

[2022-07-21 16:37] thiagosouza-zh commented on #126805
We also have the same exact issue. Here is at least one offending document:
[code]

[2022-07-21 16:38] kibanamachine commented on #122827
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18694#01822174-3769-4e9a-a6b8-1b0edfc8a399)

[2022-07-21 16:40] mikecote commented on #85634
Closing as we feel it's best to keep the rules running as much as possible so when the license does get renewed, the rules start running agian.

[2022-07-21 16:40] #85634 closed

[2022-07-21 16:44] kibanamachine commented on #131871
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18688#0182218b-a25f-448a-899c-792600663121)

[2022-07-21 16:45] marius-dr commented on #136757
Attached a HAR file for this
[localhost_Archive [22-07-21 12-41-25].zip](https://github.com/elastic/kibana/files/9161200/localhost_Archive.22-07-21.12-41-25.zip)

[2022-07-21 16:45] mikecote commented on #86697
As discussed: we should repurpose this issue to develop a confirmation pop-up letting the users know of the impact deleting the connector.

[2022-07-21 16:52] mikecote commented on #88388
@EricDavisX have you experienced issues communicating to Cloud APIs the deployment sizes when running tests? Trying to see if this issue is still relevant or not.

[2022-07-21 16:53] mikecote commented on #88389
Closing a already completed 🎉

[2022-07-21 16:53] #88389 closed

[2022-07-21 16:56] jbudz commented on #122827
/skip

[2022-07-21 16:56] mikecote commented on #89023
Closing in favour of the rule run history tab in the UI and lack of requests to GA event log access.

[2022-07-21 16:56] #89023 closed

[2022-07-21 16:56] kibanamachine commented on #122827
Skipped

main: e57e18f1bd2cbfc8998fd04de830c94522aa3020

[2022-07-21 17:09] andreadelrio commented on #135357
I agree!

[2022-07-21 17:17] yctercero commented on #136188
@mjraa I can't speak to the original design tradeoffs considered, but I can say that we are actively examining the design to hone in on performance improvements. I believe that part of the intent in having the default elastic security data view that encompasses all indices was to make it easier for junior analysts to interact with the application as, under the hood, sourcerer (the logic behind the

[2022-07-21 17:25] #132776 closed

[2022-07-21 17:34] LeeDr opened #136866 "Discover shows wrong values for rollup indices"
**Kibana version:** 8.4.0 (main)

**Elasticsearch version:** 8.4.0 (main)

**Server OS version:** osx

**Browser version:** Chrome

**Browser OS version:** osx

**Original install method (e.g. download page, yum, from source, etc.):** main snapshot rpm packages

**Describe the bug:**. I rolled up kibana_sample_data_logs getting the bytes.avg and bytes.sum at 5m intervals.  Both a Lens, and a legac

[2022-07-21 17:34] elasticmachine commented on #136866
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-21 17:44] elasticmachine commented on #136850
Pinging @elastic/kibana-security (Team:Security)

[2022-07-21 17:48] legrego commented on #136850
@nathanrstacey, we offer a "detached enrollment mode" which allows you to use a CLI to complete the enrollment process (see [Step 5 in the setup docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-stack-security.html#stack-start-with-security)). It doesn't use the existing `bin/kibana` command like you're suggesting, but would this be a viable solution for you?

[code

[2022-07-21 17:48] TinaHeiligers commented on #136728
@afharo FYI, the prioritization is applied in [`serve`](https://github.com/elastic/kibana/blob/c97bfc8e3a539db6a3dc07d69f64b35dc419fdf2/src/cli/serve/serve.js#L57)

[2022-07-21 18:00] kibanamachine commented on #136797
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18699#018221cc-9913-4773-9c96-8c8764e2018e)

[2022-07-21 18:18] EricDavisX opened #136867 "Update IBM Resilient connector names + docs to 'IBM Security QRadar SOAR'"
**Kibana version:** 8.4-SNAPSHOT

**Describe the bug:**
We should update our Docs and some in-product references to IBM Resilient connector.  Resilient changed names to 'IBM Security QRadar SOAR' in December 2021

**Steps to reproduce:**
Referencing: https://www.ibm.com/support/pages/ibm-security-qradar-soar-release-changelog
1.  create a new connector for IBM Resilient and see the Elastic term is

[2022-07-21 18:18] elasticmachine commented on #136867
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-21 18:26] EricDavisX opened #136868 "[Docs] xMatters connector docs link missing from main list"
**Kibana version:** 8.4-SNAPSHOT

**Describe the bug:**
The main list of connectors supported doesn't list xMatters.

**Steps to reproduce:**
1. browse to the connectors doc page - https://www.elastic.co/guide/en/kibana/current/action-types.html
2. note xMatters is not listed.

**Screenshots (if relevant):**
... it is small in order to show context and the full page:
![xMatters](https://user-image

[2022-07-21 18:26] elasticmachine commented on #136868
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-21 18:32] rylnd commented on #136449
Related: https://github.com/elastic/kibana/issues/129966

[2022-07-21 18:37] jbudz commented on #136797
/skip

[2022-07-21 18:38] kibanamachine commented on #136797
Skipped

main: 08ddf5567051c187af4694b0e2490a5c6ee1ab1e

[2022-07-21 18:45] elasticmachine commented on #136867
Pinging @elastic/kibana-docs (Team:Docs)

[2022-07-21 18:51] elasticmachine commented on #136839
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-07-21 19:00] lcawl commented on #136867
I think assuming that there are no other underlying changes in functionality that require us to keep the instructions and interfaces split off in parallel, that it makes sense to update the docs and UI to the new name.

[2022-07-21 19:26] mikecote commented on #99487
Closing as done with PR: https://github.com/elastic/kibana/pull/126902.

[2022-07-21 19:26] #99487 closed

[2022-07-21 19:31] mikecote commented on #93826
Capability resolved by `node.roles: ['ui']` https://github.com/elastic/kibana/pull/134388. Closing.

[2022-07-21 19:31] #93826 closed

[2022-07-21 19:39] #128368 closed

[2022-07-21 19:40] tsullivan commented on #128368
test is no longer failing

[2022-07-21 19:41] tsullivan commented on #128367
test is no longer failing

[2022-07-21 19:41] #128367 closed

[2022-07-21 19:43] tsullivan commented on #127553
test is no longer failing

[2022-07-21 19:44] #127553 closed

[2022-07-21 19:56] jen-huang commented on #136368
@juliaElastic Might this be fixed with the changes for https://github.com/elastic/kibana/issues/136366?

[2022-07-21 19:59] liza-mae opened #136875 "[test-failed]: Chrome X-Pack UI Functional Tests - ML anomaly_detection.x-pack/test/functional/apps/ml/anomaly_detection/custom_urls·ts - machine learning - anomaly detection custom urls adds a custom URL to Dashboard in the edit job flyout"
**Version: 8.3.3**
**Class: Chrome X-Pack UI Functional Tests - ML anomaly_detection.x-pack/test/functional/apps/ml/anomaly_detection/custom_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning - anomaly detection custom urls tests other type custom URL
- machine learning - anomaly detection custom urls edits other type custom URL
- machine learning - anomaly detection cus

[2022-07-21 19:59] jen-huang commented on #136621
Looking at similar [EUI doc examples](https://elastic.github.io/eui/#/forms/form-layouts) I think the first behavior is expected (for the dropdown to NOT appear when title is clicked). However, I don't mind the behavior in the upgrade modal either. This is not very impactful so I will close as won't fix.

[2022-07-21 19:59] #136621 closed

[2022-07-21 20:00] elasticmachine commented on #136875
Pinging @elastic/ml-ui (:ml)

[2022-07-21 20:00] kibanamachine opened #136876 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/infra/tour·ts - InfraOps App Onboarding Observability tour Tour enabled can complete tour"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18705#01822228-9ef7-426d-aa2b-f033f553a10f)

[2022-07-21 20:00] #119038 closed

[2022-07-21 20:00] cuff-links opened #136877 "Fleet Accessibility Tests"
This is part of https://github.com/elastic/kibana/issues/51456

- [x] Overview
- [x] Integrations
- [x] Policies
- [x] Agents
- [x] Data steams
- [x] Settings

[2022-07-21 20:00] elasticmachine commented on #136877
Pinging @elastic/kibana-qa (Team:QA)

[2022-07-21 20:00] elasticmachine commented on #136877
Pinging @elastic/fleet (Feature:Fleet)

[2022-07-21 20:01] yctercero commented on #129521
@rylnd I think that my [PR](https://github.com/elastic/kibana/pull/133067) does fix this for the lists indices. I tried it out by creating a space with the following name:

[code]

Didn't get the error @sophiec20 saw, but not sure if I just didn't hit the same limit.

[2022-07-21 20:02] liza-mae opened #136878 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/cluster/list·js - apis Monitoring cluster list with trial license clusters should load multiple clusters"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:03] liza-mae opened #136879 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js - apis Monitoring cluster list mb with trial license clusters should load multiple clusters"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:03] liza-mae opened #136880 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js - apis Monitoring Standalone Cluster cluster should get cluster data"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:04] liza-mae opened #136881 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_policies·ts - apis management index lifecycle management snapshot policies returns empty array if no policies"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_policies·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis management index lifecycle management snapshot policies returns policies

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:04] liza-mae opened #136882 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_repositories·ts - apis management index lifecycle management snapshot repositories returns repositories"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_repositories·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:04] liza-mae opened #136883 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/results/get_category_definition·ts - apis Machine Learning ResultsService get category_definition "before all" hook for "should produce the correct category for the job""
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/results/get_category_definition·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:05] liza-mae opened #136884 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/discover/_data_grid_doc_table·ts - discover app discover data grid doc table should show rows by default"
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/discover/_data_grid_doc_table·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover app discover data grid doc table should refresh the table content when changing time window
- discover app discover data grid doc table should show popover with expanded cell content by click on expand button
- discover app disco

[2022-07-21 20:05] liza-mae opened #136885 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/control_group_chaining·ts - dashboard elements dashboard elements Controls Dashboard control group hierarchical chaining "before all" hook for "Shows all available options in first Options List control""
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/control_group_chaining·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:05] elasticmachine commented on #136884
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-21 20:05] liza-mae opened #136886 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/replace_controls·ts - dashboard elements dashboard elements Controls Replacing controls Replace options list "before each" hook for "with range slider""
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/replace_controls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard elements dashboard elements Controls Replacing controls Replace options list "after each" hook for "with range slider"
- dashboard elements dashboard elements Controls Replacing controls Replace range slider "befo

[2022-07-21 20:05] elasticmachine commented on #136883
Pinging @elastic/ml-ui (:ml)

[2022-07-21 20:06] elasticmachine commented on #136885
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-21 20:06] liza-mae opened #136887 "[test-failed]: X-Pack Endpoint API Integration Tests.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts - Endpoint plugin test metadata apis get metadata transforms correctly returns stopped transform stats"
**Version: 8.3.3**
**Class: X-Pack Endpoint API Integration Tests.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Endpoint plugin test metadata apis get metadata transforms correctly returns started transform stats

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:06] mattkime opened #136888 "[data views] When there's a runtime field AND a mapped field, the runtime field can't be modified yet it still used in search request"
When there's a runtime field AND a mapped field, we're supposed to ignore the runtime field. However, the runtime field is still sent with search requests. Steps to reproduce -

1. Create an index and associated data view, for example:
[code]

2. Create a runtime field for that data view: <img width="1037" alt="Screen Shot 2022-07-21 at 8 32 13 AM" src="https://user-images.githubusercontent.com/76

[2022-07-21 20:06] liza-mae commented on #133428
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/console/_vector_tile·ts**
**Stack Trace:**
[code]
**Other test failures:**
- console app console vector tiles response validation "after all" hook for "should validate response"

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:06] liza-mae opened #136889 "[test-failed]: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group1/reporting/screenshots·ts - dashboard Reporting Dashboard Reporting Screenshots Print PDF button is available if new"
**Version: 8.3.3**
**Class: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group1/reporting/screenshots·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Dashboard Reporting Screenshots Print PDF button is available when saved
- dashboard Reporting Dashboard Reporting Screenshots Print Layout downloads a PDF file
- dashboard Reporting Dashboard Re

[2022-07-21 20:06] elasticmachine commented on #136888
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-21 20:07] elasticmachine commented on #136886
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-21 20:07] liza-mae opened #136890 "[test-failed]: Chrome X-Pack UI Functional Tests - ML short_tests.x-pack/test/functional/apps/ml/short_tests/model_management/model_list·ts - machine learning - short tests model management trained models for ML power user renders trained models list"
**Version: 8.3.3**
**Class: Chrome X-Pack UI Functional Tests - ML short_tests.x-pack/test/functional/apps/ml/short_tests/model_management/model_list·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning - short tests model management trained models for ML power user displays the built-in model and no actions are enabled

 _Test Report: https://buildkite.com/elastic/estf-cloud-k

[2022-07-21 20:07] elasticmachine commented on #136890
Pinging @elastic/ml-ui (:ml)

[2022-07-21 20:07] liza-mae commented on #133431
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard/group6/dashboard_query_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:07] liza-mae opened #136891 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/management/_field_formatter·ts - management field formatter field format editors Date format edit formats , and check available formats types"
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_field_formatter·ts**
**Stack Trace:**
[code]
**Other test failures:**
- management field formatter field format editors Date format edit formats "after each" hook for ", and check available formats types"
- management field formatter field format editors Date format check formats check field format of "0" field

[2022-07-21 20:08] liza-mae commented on #133430
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_exclude_index_pattern·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:08] liza-mae commented on #135578
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_data_view_relationships·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:08] liza-mae opened #136892 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/visualize/group3/_pie_chart·ts - visualize app pie chart other bucket should apply correct filter on other bucket by clicking on a legend"
**Version: 8.3.3**
**Class: Chrome UI Functional Tests.test/functional/apps/visualize/group3/_pie_chart·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app pie chart other bucket should show two levels of other buckets

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:08] liza-mae opened #136893 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js - apis Monitoring APM list mb should load multiple clusters"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:08] elasticmachine commented on #126074
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 20:08] liza-mae opened #136894 "[test-failed]: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js - apis Monitoring APM instance detail mb should get apm instance data"
**Version: 8.3.3**
**Class: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/432_

[2022-07-21 20:08] elasticmachine commented on #136892
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-21 20:10] elasticmachine commented on #136878
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 20:11] elasticmachine commented on #136879
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 20:11] elasticmachine commented on #136880
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 20:11] elasticmachine commented on #136881
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 20:12] elasticmachine commented on #136882
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 20:13] elasticmachine commented on #136889
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-21 20:14] elasticmachine commented on #136891
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-21 20:14] elasticmachine commented on #136893
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 20:14] elasticmachine commented on #136894
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 20:27] nreese commented on #136741
Closing issue, please re-open with description and title.

[2022-07-21 20:27] #136741 closed

[2022-07-21 20:33] kibanamachine commented on #136876
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18707#01822248-d7e1-45d6-b6f1-eef591a63957)

[2022-07-21 20:46] jbudz commented on #136876
/skip

[2022-07-21 20:46] elasticmachine commented on #136876
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-21 20:46] kibanamachine commented on #136876
Skipped

main: 3c7695946476f11709ee0b705c6736a7c5f48a5c

[2022-07-21 20:59] #134772 closed

[2022-07-21 20:59] tsullivan commented on #133434
Hi @liza-mae is there a way we can get a screenshot of the page as it was when the failure triggered? Is there a way to link to the instance's server logs?

This test is not failing in other contexts: it seems specific to the configuration in `elastic+estf-cloud-kibana-tests/JOB/xpackGrp2`.

[2022-07-21 20:59] nreese commented on #127191
Closed with https://github.com/elastic/kibana/pull/136451

[2022-07-21 20:59] #127191 closed

[2022-07-21 20:59] tsullivan commented on #133056
Hi @liza-mae is there a way we can get a screenshot of the page as it was when the failure triggered? Is there a way to link to the instance's server logs?

This test is not failing in other contexts: it seems specific to the configuration in `elastic+estf-cloud-kibana-tests/JOB/xpackGrp2`.

[2022-07-21 21:06] EricDavisX opened #136900 "Elasticsearch Query Rule doesn't have 'dark mode' view for query"
**Kibana version:** 8.3.2 GA - tested on long-term test cluster from mlr-qa team

**Server OS version:**
Deployed via cloud prod

**Browser version:**
Chrome on macOS - Version 103.0.5060.114 (Official Build) (x86_64)

**Describe the bug:**
The white background of the query entry box is startling amongst all the black of the 'dark mode'.  It should be inverted colors.

**Steps to reproduce:**
1.

[2022-07-21 21:06] elasticmachine commented on #136900
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-21 21:12] rylnd commented on #127429
@aarju I was able to reproduce this by:

1. Creating a normal query rule
2. Editing that rule and loading a saved query into the rule
3. Attempting to save the rule

The error is due to the fact that we assume you're trying to make this a `Saved Query` rule, and modify some hidden fields accordingly. However, since in 8.x you cannot change a rule's type, this understandably fails.

We can fix this

[2022-07-21 21:32] jonathan-buttner commented on #123225
I looked into this, we actually won't allow the `external_service` fields to be changed in the PATCH request. This is because the patch request only supports the basic fields:

https://github.com/elastic/kibana/blob/main/x-pack/plugins/cases/common/api/cases/case.ts#L56-L89
[code]

I was expecting to get a decode error, but we actually get an error that all the fields are identical:

<img width="7

[2022-07-21 21:33] #127659 closed

[2022-07-21 21:34] kibanamachine opened #136901 "Failing test: Firefox UI Functional Tests.test/functional/apps/console/_console·ts - console app console app with folded/unfolded lines in request body should restore the state of folding/unfolding when navigating back to Console"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18711#01822291-39b0-4f47-9612-2629afd910fb)

[2022-07-21 22:17] elasticmachine commented on #136901
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-21 22:39] liza-mae commented on #133434
hi @tsullivan this last failed in 8.3.0 and hasn't failed since, so we can close.

[2022-07-21 22:39] #133434 closed

[2022-07-21 22:39] liza-mae commented on #133056
hi @tsullivan this last failed in 8.2.2 and hasn't failed since, so we can close.

[2022-07-21 22:39] #133056 closed

[2022-07-21 22:42] rylnd opened #136905 "[Security Solution] Saved Query Rule: rule-modified queries are shown in the UI, but do not affect rule execution"
## Description
Given a Saved Query rule whose query corresponds to a persisted Saved Query SO, when the query is updated via the rule (as opposed to through the Saved Query), the rule is left in an inconsistent state, where the UI reflects the updated query, but the rule execution does not.

## Steps to Reproduce
1. Create a Saved Query
2. Create a Saved Query Rule from the Saved Query above
3. Ed

[2022-07-21 22:42] elasticmachine commented on #136905
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-21 23:03] jen-huang commented on #136014
The general idea makes sense to me, @MichaelKatsoulis. Thanks for filing this. @criamico, what do you think? Any caveats or other considerations?

[2022-07-21 23:05] davismcphee commented on #135357
Thanks for the suggestion, that's a much better solution!

[2022-07-21 23:09] jen-huang commented on #123150
@juliaElastic @kpollich Would this one make sense to include? https://github.com/elastic/kibana/issues/136308

[2022-07-21 23:15] jen-huang commented on #123150
@kpollich We've had a couple of recent issues related to the data stream API, we've discussed putting some time here to make it more fault-tolerant. Could improvements here be a candidate? Related issues:
* https://github.com/elastic/elastic-agent/issues/654
* https://github.com/elastic/kibana/issues/136549
* https://github.com/elastic/kibana/issues/116428

[2022-07-21 23:18] jen-huang commented on #136617
@axw Thanks for filing! We actually had this tracked in #134326 but I'm going to close that one in favor of yours as yours also includes the problem on the package detail page.

[2022-07-21 23:18] jen-huang commented on #134326
Superseded by #136617.

[2022-07-21 23:18] #134326 closed

[2022-07-21 23:21] jen-huang commented on #135704
@aarju Thank you for filing this. I'm going to close this in favor of #134757 as I have already been referencing that ticket in other places :)

[2022-07-21 23:21] #135704 closed

[2022-07-21 23:26] jen-huang commented on #135169
@pjbertels Glad you got this fixed. I'm going to close this issue but will ask @juliaElastic to distill if there is anything we should improve wrt to validating values in the package policy API.

[2022-07-21 23:27] #135169 closed

[2022-07-21 23:36] jen-huang commented on #135688
Thanks for the feedback @aarju! Some of the steps here can be skipped. Agent policies do not have to set up before going into Integrations. At the time of adding an integration, a new agent policy can be created on-the-fly.

Clicking "Add integration" from within an agent policy _should_ be preserving the context of that agent policy so that you do not have to search for the policy in the Existing

[2022-07-21 23:45] jen-huang commented on #135068
@kpollich I assume the slowness is present in the UI as well as APIs?

I wonder what the typical use case is for 100s of integration policies on a single agent policy. Would those use cases be better served by spreading them across more agent policies?

[2022-07-21 23:48] jen-huang commented on #136834
@kpollich Is it the end user who wishes to upgrade their APM package that is manually executing a bundling process, or are you suggesting for Kibana to execute it at run time?

[2022-07-21 23:50] marshallmain opened #136910 "[Security Solution][Alerts][Rules] Force optional fields to be accounted for in conversion to rule response schema"
https://github.com/elastic/kibana/pull/136774 fixes a bug where an optional field was missed in the conversion between the internal rule schema and the HTTP API response schema. The internal schema defines all optional fields as `[field]: <type> | undefined` instead of truly optional like `[field]?: <type>`, which causes a type error in the conversion function between HTTP request and internal sch

[2022-07-21 23:50] elasticmachine commented on #136910
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-21 23:59] ironsalsa commented on #132535
I ran into this with Cloudflare Tunnels, and clearing the Cloudflare domain cache helped as well.

[2022-07-22 00:14] axw commented on #136617
@jen-huang not sure if it warrants two separate issues or not, but I think they're a bit different. #134326 is about listing installed integrations without EPR access, whereas this issue is about listing uninstalled but bundled packages without EPR access.

[2022-07-22 00:18] TinaHeiligers commented on #131871
@jsanz you are correct with the team assignment. The tests were added in https://github.com/elastic/kibana/pull/90178

[2022-07-22 00:47] peluja1012 commented on #134293
@watsoninfosec The indices above are not created by default when the Security Solution application is installed. Could you please run the following query using [Kibana Dev Tools](https://www.elastic.co/guide/en/kibana/current/console-kibana.html) and share the results with us? Thank you.

[2022-07-22 01:00] peluja1012 commented on #136006
hmm wouldn't the user also get this bug if they bulk delete all of index patterns configured for a regular rule (not necessarily a "data view" rule)?

[2022-07-22 02:34] matschaffer commented on #136876
Guessing this came in with either https://github.com/elastic/kibana/pull/136329 or https://github.com/elastic/kibana/issues/135927

@alisonelizabeth are you able to investigate?

[2022-07-22 03:33] matschaffer commented on #105902
Pretty sure this has been fixed as part of work on https://github.com/elastic/kibana/issues/125686 - build URLS are 404 now so closing out.

[2022-07-22 03:33] #105902 closed

[2022-07-22 03:37] matschaffer commented on #120292
Noticed this is in the current cycle but not "ready", so I'll take it out of the cycle. @smith feel free to change it if I'm mistaken.

[2022-07-22 04:40] karanbirsingh-qasource commented on #136006
sure @peluja1012  in that scenario issue is not occuring and the selected index got removed from the rule index pattern.

Please find below detailed observations
- created rule with default ES index pattern
- performed Bulk index delete operation and deleted auditbeat index ( _without selecting the data view rule checkbox_ )
- auditbeat index removed from the index pattern of rule and rule remain

[2022-07-22 04:47] mattkime commented on #136795
@philippkahr Under `Schema type` you can select `runtime`.

Do you just want to see the runtime fields or is there a particular reason you need a count? Is there a larger problem you're working on?

[2022-07-22 05:40] prachigupta-qasource opened #136915 "[Fleet]: Upgrade warning callout is available on the Schedule upgrade agent and Upgrade Agent pop-up on selecting more than one agent (>= 8.3.x version)"
**Kibana version:** 8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Pre-requisite:**

1. Current Elastic version, say 8.4.0-SNAPSHOT environment should be deployed.
2. Few higher and equal to 8.3.x agents should be installed.

**Steps to reproduce:**

1. Click on "Fleet" link from L.H.S menu section and navigate to "Fleet" page.
2. Na

[2022-07-22 05:41] elasticmachine commented on #136915
Pinging @elastic/fleet (Team:Fleet)

[2022-07-22 05:42] harshitgupta-qasource opened #136916 "[QUESTION] For advanced policy setting values, user is allowed to enter/save any random value."
**Description:**
For advanced policy setting values, user is allowed to enter and save any random value.

**Preconditions:**
- Kibana build for 8.4.0 should exist
- Endpoint should be Deployed

**Steps to Reproduce:**
- Navigates to Endpoint tab and Click on Policy Name.
- Navigates and click on Show Advance setting
- Then enter any random value and Click on save button.
- Observe that user is all

[2022-07-22 05:42] elasticmachine commented on #136916
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-22 05:48] harshitgupta-qasource commented on #136916
@manishgupta-qasource Kindly review

[2022-07-22 05:53] prachigupta-qasource commented on #136915
Please review @manishgupta-qasource

[2022-07-22 06:01] manishgupta-qasource commented on #136916
Reviewed & assigned to @kevinlog

[2022-07-22 06:02] manishgupta-qasource commented on #136915
Secondary review for this ticket is Done

[2022-07-22 06:07] azasypkin opened #136917 "Activate user profiles for the Elastic Cloud managed users"
## Summary

In https://github.com/elastic/kibana/pull/136845 we explicitly disabled activation of the user profiles for the Elastic Cloud managed users since Cloud didn't maintain stable user profile identifiers. Once this changes (presumably not later than 8.5.0) we should revert https://github.com/elastic/kibana/pull/136845.

[2022-07-22 06:07] elasticmachine commented on #136917
Pinging @elastic/kibana-security (Team:Security)

[2022-07-22 06:22] aarju commented on #127429
Hi @rylnd, from a detection engineering point of view we really don't like the 'saved_query' rule types and would prefer the logic of always copying the saved query into the rule on creation instead of linking the saved query.

Over the last couple years we've run into multiple issues and bugs due to the logic of how the saved queries work. One of the bigger issues we've had is when we create a ru

[2022-07-22 06:57] #135888 closed

[2022-07-22 07:08] kibanamachine opened #136918 "Failing test: X-Pack Security API Integration Tests (User Profiles).x-pack/test/security_api_integration/tests/user_profiles/suggest·ts - security APIs - User Profiles User profiles suggestions "before all" hook for "can get suggestions in a default space""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18712#01822488-bb87-4b64-850d-c50dc7cd8c57)

[2022-07-22 07:08] elasticmachine commented on #136918
Pinging @elastic/kibana-security (Team:Security)

[2022-07-22 07:13] crespocarlos commented on #135196
I've run the accessibility test 50x with flaky test runner and the error didn't happen (https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/906). I've also tried locally, but the test passed too.

@bhavyarm and @rashmivkulkarni is this something you can look into? I've seen some stuff around wrapping the assert in a `retry` function, but since I'm not able to catch the error, I'm n

[2022-07-22 07:17] simranvaseer-qasource opened #136920 "[Fleet]: Kuery is readded to the search bar on hard refresh, even on clearing it under Logs tab"
**Kibana version:**  8.3.3 BC1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.3.3 BC1 Kibana cloud environment should be available.
2. Agent should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents Logs tab.
3. Add Kuery in the Search bar and edit it.
4. Clear the search bar and har

[2022-07-22 07:18] elasticmachine commented on #136920
Pinging @elastic/fleet (Team:Fleet)

[2022-07-22 07:18] azasypkin commented on #136918
Failed in `before` hook, and doesn't sound like something that's in our control. But I'll keep this issue open for a week or so to see how frequent the problem is.

[2022-07-22 07:19] gbamparop commented on #135366
@butlerx I've backported it to 7.17 https://github.com/elastic/kibana/pull/136503

[2022-07-22 07:22] juliaElastic commented on #135169
I had a look and the description field is [optional](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/types/models/package_policy.ts#L81). Maybe the problem was that you explicitly set it to `null`?

Wrt the integer variable, we could improve the [validation](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/types/models/package_policy.ts#L25) to give a

[2022-07-22 07:26] manishgupta-qasource commented on #136920
Secondary review for this ticket is Done

[2022-07-22 07:49] cnasikas commented on #136867
Hi! I think before updating the name we should test our integration to the new version. With the new naming, the users may assume that our integration works with the latest version. Though we do not specify until which version our integration is tested.

[2022-07-22 08:05] obi134 opened #136924 "[Feature Request] Metric visualisation: Select color for each range"
**Describe the feature:**
In the metric visualisation you can specify ranges and apply a color scheme to color e.g. the background of the metrics based on the values. It would be helpful if you could select colors for each range of metrics as alternative to apply a color scheme.

**Describe a specific use case for the feature:**
In our application we are showing status values on the dashboard. In

[2022-07-22 08:07] flash1293 commented on #136892
This is a very strange error - it hit the filterOut instead of the filterIn button in the legend. In the screenshot it's filtering _out_ the other bucket instead of filtering for the other bucket.

The popover is not always 100% stable, maybe it jumped a bit right before the click and it went to the wrong element - the test doesn't wait at all between the click to open the popover and the click on

[2022-07-22 08:18] flash1293 commented on #136924
You can do exactly this with the Lens metric visualization:
<img width="768" alt="Screenshot 2022-07-22 at 10 17 59" src="https://user-images.githubusercontent.com/1508364/180395861-bde004af-1736-4e0d-9cb8-7cb5ee17afd3.png">

[2022-07-22 08:18] #136924 closed

[2022-07-22 08:22] flash1293 opened #136929 "[TSVB] formatted date field label in markdown missing"
**Kibana version:** 8.3

**Describe the bug:** There has been a regression of the behavior introduced in https://github.com/elastic/kibana/pull/75555

**Steps to reproduce:**
1. Split the series by terms of a time field
2. In the markdown editor, there is `<timestamp>.label` which is the number itself, but no `<timestamp>.formatted` variable

**Expected behavior:**

There should be a ``<timestamp>

[2022-07-22 08:25] #136637 closed

[2022-07-22 08:30] #135366 closed

[2022-07-22 08:40] kertal opened #136932 "[Discover] Add empty fields + meta fields section to Discover sidebar"
Lens has a much better handling of empty fields. In Discover you have to disable "Hide empty fields" in the filter. In Lens they have their own section, same with meta fields. Let's be like Lens.

Before:

![Bildschirmfoto 2022-07-22 um 10 35 28](https://user-images.githubusercontent.com/463851/180399648-17c9fdcf-c62a-4844-bbac-a43771c193f4.png)

After:
<img width="311" alt="Bildschirmfoto 2022-07

[2022-07-22 08:40] elasticmachine commented on #136932
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-22 08:53] kertal opened #136933 "[Discover] Fix document explorer callout icon alignment"
When viewing the Document explorer callout  in Discover, it seems the alignment of the icon isn't correct anymore
![Bildschirmfoto 2022-07-22 um 10 51 21](https://user-images.githubusercontent.com/463851/180402502-1d9e33c5-0fa2-4a76-90a9-2aa1dea742fb.png)

[2022-07-22 08:53] elasticmachine commented on #136933
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-22 09:10] vitaliidm commented on #135199
Draft version is already available [Bulk edit test plan](https://docs.google.com/document/d/116x7ITTTJQ6cTiwaGK831_f6Ox7XB3qyLiHxC3Cmf8w) (internal)

cc: @banderror @MadameSheema

[2022-07-22 09:15] mjraa commented on #136188
@yctercero Thank you very much for this!

In my current organization we are using the Security solution. We have yearly data retention requirements and, due to high-volume nature of some data sources, this results in a fairly large cluster(s) with many indices/shards (we also bought the enterprise license to benefit from the frozen tier, for more cost effective solutions).

Due to the high number

[2022-07-22 09:22] cnasikas commented on #123225
Hey @jonathan-buttner! I managed to reproduce it and change the external service information.

Steps:

1. Create a case
2. Push
3. Update the `external_id` or/and `external_title`. It does not matter what fields you will choose. Example:

[code]

[2022-07-22 09:49] dasansol92 commented on #136816
PR: https://github.com/elastic/kibana/pull/136935

[2022-07-22 09:49] dasansol92 commented on #136814
PR: https://github.com/elastic/kibana/pull/136935

[2022-07-22 10:04] crespocarlos commented on #135379
How would this tool work? Is the idea similar to what is described here https://github.com/elastic/kibana/issues/120414?

[2022-07-22 10:05] afharo commented on #136184
I agree with everything said by @Bamieh.

From that piece of the comment, I understand that we can discuss if it's worth adding each piece of info on an ad-hoc basis.

I'll go ahead and close this issue. Feel free to reopen if it's worth it.

[2022-07-22 10:05] #136184 closed

[2022-07-22 10:12] prachigupta-qasource commented on #136621
Hi @jen-huang,

Thank you for confirming the expected behavior.

[2022-07-22 10:22] Zacqary commented on #135060
@mdefazio Switching to displaying `HH:mm` when the snooze start time is within 24 hours leads to this problem. This screenshot was taken on July 22 at 12:19pm local time:
![Screen Shot 2022-07-22 at 12 18 57 PM](https://user-images.githubusercontent.com/1445834/180419224-3d68335e-0363-4f9b-a175-f2d2cb5beacb.png)

The first snooze starts on July 23rd at 12:11pm, and the second snooze starts on July

[2022-07-22 10:24] karanbirsingh-qasource commented on #136006
correct @vitaliidm yes in that case we face the error on bulk delete with normal rule created with index pattern.

https://user-images.githubusercontent.com/59917825/180419640-697bc8ae-6ed5-460b-af46-9d2d53d7c741.mp4

[2022-07-22 10:24] klacabane commented on #135379
I think the easiest is to translate these mappings as json objects and run a simple diff to detect drifts. Now for the question of how to create the json representation, for metricbeat it's the native format and for agent data streams we could maybe reuse [this logic that installs the packages](https://github.com/klacabane/metrics-mappings-to-monitoring/blob/main/scripts/generate-templates.js#L40)

[2022-07-22 10:31] Zacqary commented on #135060
Just want to point out that the Last Run column doesn't currently obey Kibana settings, so this looks mismatched:
![Screen Shot 2022-07-22 at 12 25 45 PM](https://user-images.githubusercontent.com/1445834/180420251-235425dc-6b9f-46b6-9020-2346edba93ba.png)

Default Kibana `dateFormat` settings unfortunately seem to be to show milliseconds in the timestamp, though:
![Screen Shot 2022-07-22 at 12 28

[2022-07-22 10:44] afharo commented on #48352
#135684 will resolve this issue 🧡

[2022-07-22 10:45] dannycroft opened #136939 "[APM] 8.4.0 Test Plan"
# Test Plan 8.4.0

## Phase 1 - Manual Testing: Monday 1st August

- Pick an issue from the [curated list](https://github.com/elastic/kibana/issues?q=label%3Aapm%3Atest-plan-8.4.0+is%3Aclosed+-label%3Aapm%3Atest-plan-done)
- After testing apply `apm:test-plan-done` label. If a problem is found a new issue should be opened and labelled `apm:test-plan-regression` and moved to "Ready" column.

### Ru

[2022-07-22 10:46] elasticmachine commented on #136939
Pinging @elastic/apm-ui (Team:apm)

[2022-07-22 11:19] amolnater-qasource commented on #133740
Hi @nchaulet @joshdover

Could you please share some more detailed information for the feature, like use case and how it will enhance user experience.

Could you please explain us the working of pipeline as mentioned in above statement.

Further, we would be requiring more guidelines for feature validation.

Thanks

[2022-07-22 11:22] samratbhadra-qasource opened #136942 "[Security Solution]: Scroll bar is not present on Edit Endpoint Exception flyout."
Describe the bug
Scroll bar is not present on `Edit Endpoint Exception` flyout and user is unable to cancel and save the Endpoint exception and to close the alerts that matches the exception.

**Build Details:**
[code]

**Preconditions**

1. Kibana should be running.
2. Endpoint alert should be available.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Go to Exception lists page.
4. Click on

[2022-07-22 11:22] elasticmachine commented on #136942
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-22 11:23] samratbhadra-qasource commented on #136942
@karanbirsingh-qasource Please review.

[2022-07-22 11:27] kevinlog commented on #136916
@harshitgupta-qasource this is intentional as the advanced section is meant to be an area only for users who know exactly what they're doing. Often, users may work with us directly or read specific documentation to use this section

[2022-07-22 11:46] fkanout opened #136943 "[Actionable Observability] - Add unit test for Alert Summary"
## Summary

Related to #135805
Part of #129878

Add unit test for Alerts Summary and its related hook

[2022-07-22 11:46] elasticmachine commented on #136943
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-22 12:06] muskangulati-qasource opened #136944 "[Security Solution] The comment should be updated for Host Release instead of Host Isolation"
**Description:**
The comment should be updated for Host Release instead of Host Isolation

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the three dots for the endpoint deployed
3. Click on

[2022-07-22 12:06] elasticmachine commented on #136944
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-22 12:06] elasticmachine commented on #136944
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-22 12:08] muskangulati-qasource commented on #136944
@manishgupta-qasource please review!

[2022-07-22 12:24] criamico commented on #132776
Hi @prachigupta-qasource,
based on the changes introduced by @kpollich with https://github.com/elastic/kibana/pull/136764/, the callout should be visible in case of Scenario 1 and 3, as both have at least one agent having version < 8.3.0.

Please check that the PR is already available on your test environment as it was merged 2 days ago.

[2022-07-22 12:25] juliaElastic commented on #123150
I think the Optimize issue does not change the API itself, so it can be done independently of moving to GA.
The deprecate issue can be included in this.

[2022-07-22 12:27] juliaElastic commented on #123150
@kpollich I added a few more enhancements to this issue:
- https://github.com/elastic/kibana/issues/136801
- https://github.com/elastic/kibana/issues/136804
- https://github.com/elastic/kibana/issues/136805
- https://github.com/elastic/kibana/issues/136807

[2022-07-22 12:34] juliaElastic opened #136945 "Add validation to package policy input variables"
We had some occurrences when it was hard to debug what is wrong with the package policy create request.
Input variables have a type, and Fleet could do a validation that the value is valid for that type.
For example, integer type variable should have a valid integer value.

This would help debugging when the package policy creation fails on an invalid value.
E.g. trying to create a package policy

[2022-07-22 12:35] elasticmachine commented on #136945
Pinging @elastic/fleet (Team:Fleet)

[2022-07-22 12:39] manishgupta-qasource commented on #136944
Reviewed & assigned to @kevinlog

[2022-07-22 13:15] crespocarlos commented on #135196
Tried running it 200x https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/912#018224cb-187f-463e-a549-db7c997fc128, but still no errors

[2022-07-22 13:26] kpollich commented on #135068
@jen-huang - Yes the slowness is present in the UI as well when we do things like update a package policy and save it.

I don't think this is a very common use case, but I recall in the SDH that spawned this issue the customer was managing many synthetics configurations. e.g. they had a server hosting 100 websites, each with a synthetics monitor. This might be something that could be fixed with ho

[2022-07-22 13:30] kpollich commented on #136834
@jen-huang - I think we're looking to do this at build-time when Kibana fetches bundled packages. So the workflow would be

1. Kibana build starts
2. "Bundle fleet packages" task is kicked off
3. APM package is designated with some flag in `fleet_packages.json`, e.g. `force_stack_aligned_version: true`
4. When bundled packages task fetches APM package, it performs the unpack -> version update -> r

[2022-07-22 13:33] elasticmachine commented on #136942
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-22 13:35] stratoula opened #136950 "[Discover][Unified search] Enable text based queries - Follow ups"
Here is a list of remaining things that need to be done / investigated for the SQL in Discover feature

- [ ] Change the error state to be closer on the design mockups, field list should be hidden when dataview is not found https://whimsical.com/wireframes-v3-esql-HYqLYJgDKhKeioAUxRSjKD (have to talk with design team first and do something that makes sense for Lens too)

- [x] Monaco investigation

[2022-07-22 13:35] elasticmachine commented on #136950
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-22 13:35] elasticmachine commented on #136950
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-22 13:38] kpollich commented on #136915
The commit SHA for this issue is https://github.com/elastic/kibana/commits/f9e2ed4d9f38424676a558c34b74f0a031746c9e which is from 4 days ago and doesn't contain the fix for this issue that landed in https://github.com/elastic/kibana/pull/136764.

This is the latest snapshot build according to the artifacts link: https://artifacts-api.elastic.co/v1/versions/8.4-SNAPSHOT/builds/latest/projects/kiban

[2022-07-22 13:38] #136915 closed

[2022-07-22 13:57] nchaulet commented on #133740
Hi @amolnater-qasource this feature allow a user to edit custom ingest pipeline and custom mappings for a datastream from the package policy editor under the advanced section.

I recorded a small demo of the feature here maybe it could help you to better understand the feature let me know if you have more questions,

https://user-images.githubusercontent.com/1336873/180454684-84d3dd81-ccd3-4112-ae

[2022-07-22 14:06] #136827 closed

[2022-07-22 14:10] #106315 closed

[2022-07-22 14:27] #136369 closed

[2022-07-22 14:27] ymao1 commented on #136152
[code]

[2022-07-22 14:34] dhurley14 commented on #135516
Fixed here: 6a55019cb651d6e00b0c2c9af575f8df94211915

[2022-07-22 14:40] xcrzx opened #136957 "[Security Solution] Migrate hooks that fetch data and mutate server state to react-query"
**Related to: https://github.com/elastic/kibana/issues/136962**

### Summary

For effective HTTP requests caching and deduplication, we must ensure that we fetch and mutate server data exclusively using `useQuery` and `useMutation` hooks from `react-query`.

Make sure that all API methods used in the detection engine (see
`security_solution/public/detections/containers/detection_engine/rules/api.t

[2022-07-22 14:40] elasticmachine commented on #136957
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-22 14:40] elasticmachine commented on #136957
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-22 14:45] #136732 closed

[2022-07-22 14:58] kibanamachine opened #136961 "Failing test: Jest Tests.x-pack/plugins/apm/public/components/shared/redirect_with_default_environment - RedirectWithDefaultEnvironment eventually renders the child element"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18725#01822643-d304-457a-8ccd-5b989dcd3e7c)

[2022-07-22 14:59] elasticmachine commented on #136961
Pinging @elastic/apm-ui (Team:apm)

[2022-07-22 15:00] rylnd commented on #127429
That's great feedback! I think that reinforces the sentiment of not switching between rule types. That also feels more consistent with the way Saved Queries are treated throughout Kibana: they're more of a "shortcut" to be applied to other configuration than a standalone query (Discover, global Query Bar, etc.).

@jethr0null it sounds like this "upgrading" behavior is a bug on rule edit. However,

[2022-07-22 15:00] EricDavisX commented on #136867
ok - let's put this on hold and have a separate testing discussion off-line to work it.  Thanks for the quick communication.

[2022-07-22 15:00] #74910 closed

[2022-07-22 15:12] juliaElastic commented on #136193
I am using the `onMouseEnter` and `onMouseLeave` events to detect if the tag is hovered. I found that when moving the mouse very quickly, sometimes the `onMouseLeave` events are not firing, so the state of the tag remains hovered.
Spent some time to find a solution, couldn't find so far.
I think this is a low priority bug since it only comes up when moving the mouse very quickly.

[2022-07-22 15:19] xcrzx opened #136962 "[Security Solution] Organize data fetching hooks in one place"
**Related to: https://github.com/elastic/kibana/issues/136957**

### Summary

Organize react-query hooks that fetch data similarly to how we organize API clients. The idea is to make them more visible and to give developers a hint that fetching data using react-query hooks is the preferred way.

1. Coallocalte query/mutation hooks together; grouped by domain
2. Queries should be highly reusable, i

[2022-07-22 15:19] elasticmachine commented on #136962
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-22 15:19] elasticmachine commented on #136962
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-22 15:25] #136401 closed

[2022-07-22 15:30] #120019 closed

[2022-07-22 15:35] andresrc commented on #132818
@joshdover for the specific case of synthetic source, given that the change does not depend on specific fields, etc. Do you think it would be feasible, as a first step, to introduce this toggle (package or data-stream level, whatever we think it's better) just on the Fleet side without requiring any new setting in the packages? This would remove the need to do an additional release of every existi

[2022-07-22 15:39] mdefazio commented on #135060
Working through this one.  We should try to adhere to kibana settings, but will post a better direction as this is a bit nuanced and effects several aspects of rules/ snoozing

[2022-07-22 15:47] #133315 closed

[2022-07-22 15:52] joshdover commented on #132818
@andresrc I think starting with synthetic source would make the most sense. We could use that to build out the plumbing I described in https://github.com/elastic/kibana/issues/132818#issuecomment-1178990671 and then leverage it for other opt in features in the future.

One tricky thing about synthetic source is the limitation on keyword fields that have `ignore_above` configured. Synthetic source

[2022-07-22 15:53] #136868 closed

[2022-07-22 15:57] dhurley14 commented on #135511
cc: @dplumlee Is it possible this bug is related to that slack thread on the preview alerts table not appearing?

[2022-07-22 15:59] mdefazio opened #136969 "[Response Ops] Rules and Connectors: Current page in breadcrumbs shows as link"
## Problem:
The breadcrumbs in Rules and Connectors show the last item (current page) as a link.

<img width="672" alt="image" src="https://user-images.githubusercontent.com/3756330/180430565-6220fefb-2870-4df6-b6a8-cda349fdcb29.png">

<img width="653" alt="image" src="https://user-images.githubusercontent.com/3756330/180430591-050eb61d-5bec-4b12-adf7-a1a97c011361.png">

<img width="678" alt="imag

[2022-07-22 15:59] elasticmachine commented on #136969
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-22 16:18] benironside opened #136973 "[Kubernetes Security] K8s Dashboard has Incorrect column labels"
**Kibana version:**
8.4

**Describe the bug:**

In the Kubernetes dashboard, one of the widgets has incorrect column labels. Currently it's "Container Images Session" and "Count", but it should be "Container image" and "Session count" (see screenshot).

**Steps to reproduce:**
1. Access the Kubernetes dashboard

**Expected behavior:**

The columns for this widget should be titled "Container image"

[2022-07-22 16:24] #136797 closed

[2022-07-22 16:24] #136806 closed

[2022-07-22 16:27] #136717 closed

[2022-07-22 16:30] joshdover commented on #136022
Sounds great, thanks!

[2022-07-22 16:31] benironside opened #136975 "[Kubernetes Security] Inconsistencies between the "More actions" and "Take action" buttons in Kubernetes dashboard Sessions table"
**Kibana version:**
8.4

**Describe the bug:**
In the Kubernetes dashboard's Sessions table, there are inconsistencies between which options appear when you click a session's "More actions" button on the table, and the "Take action" button when you view the same session's "Event details" flyout.

The "More actions" menu shows "Run Osquery", but the "Take action" menu does not. The "More actions" m

[2022-07-22 16:33] andrewvc commented on #136832
The service won't allow timeouts longer than 15m. I think the easy approach here would be to disallow any timeout greater than 15m at the API layer and in the UI use a dropdown to only allow preset timeouts, maybe 1m,3m,5m,10m,15m.

Thoughts @hbharding @drewpost

[2022-07-22 16:37] peteharverson opened #136976 "[ML] Latest timestamp column rendered in the wrong place in the anomaly detection jobs list"
A regression was introduced in https://github.com/elastic/kibana/pull/134893 in the ordering of columns in the Anomaly Detection jobs list, where the `Latest timestamp` column is moved along one position to the right, ending up in the middle of the two action columns, and the `Latest timestamp` heading is lost.

The `Latest timestamp` column should be moved back to the left of the `Actions` column

[2022-07-22 16:37] elasticmachine commented on #136976
Pinging @elastic/ml-ui (:ml)

[2022-07-22 16:44] peteharverson opened #136977 "[ML] Unable to remove a query in the Anomaly Explorer if viewing a job with no influencers"
The query bar is currently hidden in the Anomaly Explorer if viewing a job with no influencers. This can lead to a situation where you are unable to clear an influencer filter that was previously applied for a job with influencers.

To reproduce:
- View two jobs in the Anomaly Explorer, one with influencers and one without
- Apply an influencer filter
- Edit the job selection to remove the job wit

[2022-07-22 16:44] elasticmachine commented on #136977
Pinging @elastic/ml-ui (:ml)

[2022-07-22 16:59] #136878 closed

[2022-07-22 16:59] #136879 closed

[2022-07-22 16:59] #136880 closed

[2022-07-22 16:59] #136893 closed

[2022-07-22 16:59] #136894 closed

[2022-07-22 16:59] #98419 closed

[2022-07-22 16:59] #105355 closed

[2022-07-22 16:59] #105356 closed

[2022-07-22 16:59] #98420 closed

[2022-07-22 16:59] #105357 closed

[2022-07-22 17:12] tsullivan commented on #119176
@mattkime Is the scope of this issue just to allow a user to provide a verbose description? Do we need visual design for this, or do you have a mockup in mind already?

[2022-07-22 17:17] #129603 closed

[2022-07-22 17:24] andrewkroh opened #136982 "[Fleet] ignore_above should not be added to fields with 'index: false'"
**Kibana version:** main / 8.4.0-SNAPHSOT / ac15ee4540b3449bc14c25284453ede9ee24d87e

**Describe the bug:**

EPM adds a default `ignore_above: 1024` to fields when they are not indexed. If a field is defined with `index: false` then EPM should not add `ignore_above`. We can see in this in `event.original` which is not indexed:

[code]

**Any additional context:**

- https://github.com/elastic/ecs/

[2022-07-22 17:24] elasticmachine commented on #136982
Pinging @elastic/fleet (Team:Fleet)

[2022-07-22 17:25] matthiasledergerber commented on #131458
@stratoula Thanks for the information and sorry for the late response. Yes i also see it as an enhancement. When i generate the table i Analytics -> Discover. There i don't have the option to fit the rows automatically, maybe the logic could be implemented there too. I've got this feedback from customers i'm working with. Aligning the width to the optimal amount of space that not too much relevant