[2022-09-02 18:36] tsullivan opened #139987 "[Drilldown] filters from dashboard controls are not carrying over"
**Kibana version**: 8.4

**Description of the problem including expected versus actual behavior**:
In "Go to Dashboard" drilldowns, a user can navigate from a "main" dashboard to a "detail" dashboard. The user's selection of filters, query, date range on the control dashboard can optionally be carried to the detail dashboard.

This issue explains that if the main dashboard uses Controls, filters t

[2022-09-03 11:36] sudonima commented on #82414
yes this good feature! for big data in large indices!

[2022-09-03 15:57] jacksoonsmith opened #139989 "Sum Aggregation for Threshold Rule Type"
Currently, the Threshold rule type only supports count and cardinality aggregations -- alerting for instances where the set aggregation goes over or is equal a certain threshold. I imagine a sum aggregation could be implemented to the rule type as well, adding up the values of an integer / long field type over a set of logs / events.

This would be useful for:
- Detecting Exfiltration and C&C thre

[2022-09-03 16:29] jack-morrison commented on #126795
+1, I would be very happy to see numeric sorted options in Controls! This is a case I use quite a lot with unique ID numbers not suited for a range slider.

[2022-09-04 13:22] rayafratkina commented on #104100
I am a big +1 on the integration test path: it feels like we are not utilizing integration tests to be defensive enough. It gives other teams a clear early warning and a reminder to make their saved objects "safer" by adding more related tests.

[2022-09-04 19:31] #139465 closed

[2022-09-04 20:03] kibanamachine opened #139991 "Failing test: Jest Tests.x-pack/plugins/cases/public/components/edit_connector - EditConnector displays the callout message when none is selected"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20489#018309fd-ca58-44b3-beab-b7302ea4c40c)

[2022-09-04 20:03] elasticmachine commented on #139991
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-05 00:03] matthiasledergerber commented on #139518
Kibana -> Discover -> Alerts
![image](https://user-images.githubusercontent.com/22050363/188338683-13632c94-e96c-4cef-b9d1-74cfb91d0250.png)

[2022-09-05 01:08] matschaffer commented on #136047
Moving back to “ready”

[2022-09-05 01:14] matschaffer commented on #138211
Reopening while I fix the backports.

[2022-09-05 03:16] liu-xiao-guo opened #139992 "Kibana does not show the users created using command line"
**Kibana version:** all

**Elasticsearch version:** all

**Server OS version:** all

**Browser version:** all

**Browser OS version:** all

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.  use the command line to create a user "liuxg":   bin/elasticsearch-users useradd liuxg -p password -r superuser
2.  I can successfully

[2022-09-05 04:54] #131417 closed

[2022-09-05 05:32] deepikakeshav-qasource commented on #132106
Hi Team,

We have validated this issue on **8.5.0 SNAPSHOT** build and observed that issue is **Fixed.** .

Please find the below Testing Details:

**Build info**

[code]

**Screen-cast**

https://user-images.githubusercontent.com/61860752/188365889-253fea9c-7de6-46a6-9be4-1e984b817630.mp4

Hence, We are marking is as QA Validated

Thanks!!

[2022-09-05 05:35] matschaffer commented on #139883
I booted 7.17 in dark mode today for another issue and saw that the banner is a much more expected shade of blue.

<img width="1159" alt="Screen Shot 2022-09-05 at 14 33 58" src="https://user-images.githubusercontent.com/690/188367615-459f5094-3816-426b-b0b8-d1d2223b5811.png">

[2022-09-05 05:38] matschaffer commented on #139965
Closing in favor of https://github.com/elastic/kibana/issues/138211

[2022-09-05 05:38] #139965 closed

[2022-09-05 05:42] matschaffer commented on #139518
https://github.com/elastic/kibana/issues/139883 is open for the opt-in banner as well.

Thinking this should into a follow-up meta issue for https://github.com/elastic/kibana/issues/118866 since as @matthiasledergerber has found, there are a lot of places where attention is still needed.

[2022-09-05 06:22] elasticmachine commented on #139979
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-05 06:22] stratoula commented on #139979
We are working on allowing the users to color their visualizations by terms (keywords) and not only by the metric value (possible atm). We are currently on the design review. Here is the issue that we are tracking it https://github.com/elastic/kibana/issues/101942.

With that being said I am closing this as duplicate of the above.

[2022-09-05 06:22] #139979 closed

[2022-09-05 06:44] amolnater-qasource commented on #131031
Hi Team
 We have revalidated this enhancement ticket on latest 8.5 SNAPSHOT self-managed environment and found it **fixed** now.
- Sequence of steps is updated for Logstash output.

**Build details:**
VERSION: 8.5.0
BUILD: 55953
COMMIT: 0f09b0eea3201a30896c2a1b22266028351ce512

**Screenshots:**
![10](https://user-images.githubusercontent.com/77374876/188381016-1bfbafbb-94e9-4888-8a16-5f9a816ba735.

[2022-09-05 06:58] elasticmachine commented on #139991
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-05 07:13] samratbhadra-qasource commented on #139368
Hi @michaelolo24

We have validated this issue on the latest **8.5.0-SNAPSHOT** build and observed that the issue is **fixed**. Please find below the testing details:

**Build Details:**
VERSION: 8.5.0-SNAPSHOT
BUILD: 55993
COMMIT: 436b2874794a6ffc05ad3b9ef28c298ff5384ca4

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/188373323-26791860-519d-4028-91e1-0e04410506b9.mp4

[2022-09-05 07:28] fcofdez commented on #139896
That repository setting is meant to be used only in Elastic's cloud, so I'm not sure if we should document it there.

[2022-09-05 07:31] flash1293 commented on #139958
Somehow the annotation fetching is flaky, but I'm not sure where the flakiness is coming from. It's not always the same test but it's always about the query based annotations returning an empty array instead of the expected rows. In general it's not super bad but it happens more often than expected:
<img width="1178" alt="Screenshot 2022-09-05 at 09 27 12" src="https://user-images.githubuserconten

[2022-09-05 07:39] flash1293 commented on #139958
Ah, I think I know what's going on and it's an actual bug. The first response of `handleRequest` in https://github.com/elastic/kibana/blob/dc43193d73c5869335a239c7012528bb1fffd509/src/plugins/event_annotation/common/fetch_event_annotations/request_event_annotations.ts#L100 is not necessarily the one with the data, it can emit multiple times. I think instead we need to wait for observable to comple

[2022-09-05 07:40] flash1293 commented on #139958
The first reponse might come from this branch: https://github.com/elastic/kibana/blob/90033537295b7e63b98b9f2b60eb1f321911935d/src/plugins/data/common/search/search_source/search_source.ts#L540

But not all data has arrived yet in this case

[2022-09-05 07:48] pgayvallet commented on #138591
Introduced by mistake by #132525, before that, the `tags` column wasn't searchable.

Long story short, the only possible fix right now would be to change the `tags` column to be non-sortable as prior to #132525.

Long story long, the table component is performing server-side pagination, so any column used for sorting should also be able to be converted to an ES's `sort` parameter. However the `tag

[2022-09-05 07:50] afharo opened #139997 "`@kbn/docs-utils/api_docs` unreferenced API report"
To count the number of unreferenced APIs, the API Docs script performs the following check: https://github.com/elastic/kibana/blob/0c46b0dda966523b65d800c0985e46b99a6c6807/packages/kbn-docs-utils/src/api_docs/stats.ts#L62-L64

However, `references` are populated here: https://github.com/elastic/kibana/blob/92a8636f0ff63ab072527574e96e6616327b2ea4/packages/kbn-docs-utils/src/api_docs/build_api_decl

[2022-09-05 07:50] elasticmachine commented on #139997
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-05 08:07] sukhwindersingh-qasource opened #139998 "[Security Solution]View hosts button is not working correctly."
**Describe the bug:**
View hosts button is not working correctly.

**Build Details:**
[code]
**Preconditions**
1. Kibana should be running.
2. Hosts should be added.

**Steps to Reproduce**
1. Navigate to security in kibana.
2. Click on Overview.
4. Click on View hosts.

**Actual Result**
User is navigated to all hosts > authentication tab and is not able to see the number of added hosts.

**Expec

[2022-09-05 08:07] elasticmachine commented on #139998
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-05 08:08] sukhwindersingh-qasource commented on #139998
@karanbirsingh-qasource  Please review this bug.

[2022-09-05 08:22] afharo opened #140000 "`@kbn/docs-utils/api_docs` avoid re-reading files for counting `eslint-disabled` lines."
Based on the following comment:

_Originally posted by @spalger in https://github.com/elastic/kibana/pull/138366#discussion_r961024694_

We should try to reuse the already-read files instead of re-reading them only to count the lines including `eslint-disable`.

[2022-09-05 08:23] elasticmachine commented on #140000
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-05 08:35] pgayvallet commented on #139883
Yea, will be fixed by https://github.com/elastic/kibana/pull/139911.

[2022-09-05 08:36] formgeist commented on #139893
@constancecchen Thanks for already resolving the worst of the bunch 👍 I'm fine with opening whatever remains as separate issues that we can handle after the merge of your PR. And thanks for keeping these components up to date - we're just mostly running the old stuff. I'll make sure that the UI dev teams are aware of the deprecations and that they open their own tech debt issues to fix when conven

[2022-09-05 08:36] kpatticha commented on #138527
I was able to set up an environment and test the new datastream so I'm unblocking the ticket.
@Mpdreamz if there is anything which could block the ticket please let me know

[2022-09-05 08:41] pgayvallet commented on #56498
Or just use a namespace-agnostic SO type, seems more appropriate tbh!

[2022-09-05 08:45] #139883 closed

[2022-09-05 08:49] formgeist opened #140002 "[Infrastructure UI] Missing padding from the page header to the main content in Inventory"
**Kibana version**:

main (after https://github.com/elastic/kibana/pull/139524 is merged)

**Description of the problem including expected versus actual behavior**:

![image](https://user-images.githubusercontent.com/4104278/188408421-564bf897-adeb-4a80-91a1-727092f0df9f.png)

Page content area padding is missing since converting to the new `EuiPageTemplate` (see https://github.com/elastic/kibana/

[2022-09-05 08:49] elasticmachine commented on #140002
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-05 08:50] formgeist commented on #139893
Closing this issue since no other regressions have been found during our testing. I've opened https://github.com/elastic/kibana/issues/140002 to follow up on the only remaining issue.

[2022-09-05 08:50] #139893 closed

[2022-09-05 09:03] vitaliidm opened #140003 "[Unified search] Add readonly mode for search_bar component"
**Describe the feature:**

Add readonly mode for [search_bar](https://github.com/elastic/kibana/blob/main/src/plugins/unified_search/public/search_bar/search_bar.tsx) component.
Currently SearchBar component doesn't support mode when search input/menus/or filters bar could be disabled.
It only can be configured to not display some of the components by using following properties: showQueryBar, show

[2022-09-05 09:05] Mpdreamz commented on #138527
Not that I can think of ATM. I will create a follow up to https://github.com/elastic/apm-server/pull/8607 today moving it to its own datastream and add TSDB support which might introduce a small change in the datastream to query but the query itself should mostly stay intact.

[2022-09-05 09:17] LBoraz commented on #46185
the solution above does not work because the underlying index .monitoring-es-8-mb is a data-stream and an upsert is not supported.

[2022-09-05 09:26] jcger opened #140004 "[RAM] Show count of alerts in Alerts Table"
o11y requested us to show the count of alerts in the alerts table as shown by **number 2** in the screenshot

![image](https://user-images.githubusercontent.com/17549662/188415577-d36051fd-4f77-469b-9f4c-1731e53d1808.png)

[2022-09-05 09:27] elasticmachine commented on #140004
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-05 09:41] #136751 closed

[2022-09-05 09:41] elasticmachine commented on #140003
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-05 09:49] peteharverson opened #140008 "[ResponseOps][Cases] Increase default page size for cases list page from current value of 5"
The default page size is currently set to 5 for the cases list page (Security, Observability, Stack Management). This seems quite low for many screen sizes, which would comfortably display 10 on a page without a vertical scrollbar.

If a user changes the page size, for example to `10`, the setting is not remembered when navigating away from the page. It would be nice to persist this setting, for e

[2022-09-05 09:49] elasticmachine commented on #140008
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-05 09:49] elasticmachine commented on #140008
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-05 10:14] joshdover commented on #135539
I think we should consider this for 8.6. Upgrades can fail for a number of reasons and right now there's no way to force a clean state from the UI. We should at least allow users to do this after the original upgrade action has expired.

[2022-09-05 10:16] joshdover commented on #135539
We should also consider short-circuiting this a bit. If the agent is already on the requested version (based on `local_metadata` field in .fleet-agents) and the force upgrade API is called, we should probably just update the `upgraded_at` and `upgrade_started_at` fields instead of doing a full upgrade again.

But this is probably a secondary optimization to make.

[2022-09-05 10:46] joshdover opened #140014 "[Fleet] Add periodic logs for agent status"
It'd be helpful in troubleshooting cases to have some amount of logging around the status of the Fleet. We currently have no live visibility around this without requesting information from the end-user but we could make this available in the logs.

We can likely re-use the same code path we use to collect this for product telemetry: https://github.com/elastic/kibana/blob/94b1267c389c6cf0451781ad21

[2022-09-05 10:46] elasticmachine commented on #140014
Pinging @elastic/fleet (Team:Fleet)

[2022-09-05 10:47] sebelga commented on #115307
You are right, we should clean up and wrap the state change inside `act()` calls. cc @elastic/platform-deployment-management as those tests fall under their team.

I don't either. I don't even see what error is thrown. Should we increase the timeout manually in those component integration tests that run slower than unit tests?

[2022-09-05 11:09] #116970 closed

[2022-09-05 11:10] karanbirsingh-qasource opened #140015 "[Security Solution]Error occuring on adding runtime field on session table"
**Describe the bug**
Error occuring on adding runtime field on session table

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Host > Session ( make sure to have session alert on the table )
- Add the runtime field on the session table using below query
`emit(doc['@timestamp'].value.getDayOfWeekEnum().toString())`
- Observed that error is observed on the session table

**W

[2022-09-05 11:10] elasticmachine commented on #140015
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-05 11:14] deepikakeshav-qasource opened #140016 "[Security Solution] Notification message is not displayed when delete the exception from rule exception tab"
**Describe the bug**
Notification message is not displayed when delete the exception from rule exception tab

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Exception should be added in any rule

**Steps to Reproduce**
1. Navigate to security > Rules page
2. Navigate to above created exception under rule details page
3. Delete the exception
4. Observe that notification me

[2022-09-05 11:14] elasticmachine commented on #140016
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-05 11:21] gbamparop commented on #138604
After discussing different chart types with @markov00 @gvnmagni @boriskirov we decided to use a stacked area chart for now.

[2022-09-05 11:34] aarju opened #140017 "[Security Solution][Bug] Cases Webhook Connector Add Comment has broken JSON"
**Describe the bug:**
When configuring a custom Webhook connector within the Security App Cases feature the JSON output is broken when the `{{{external.system.id}}}` variable is used. The `{{{case.comment}}}` variable can be used when updating a comment in a case, but when the `{{{external.system.id}}}` variable is added to the connector it results in a JSON error each time.

<img width="313" alt=

[2022-09-05 11:34] elasticmachine commented on #140017
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-05 11:54] samratbhadra-qasource opened #140018 "[Security Solution]: Timeline notification UI breaks when user add fields to timeline investigations."
**Describe the bug:**
Timelines notification UI breaks when user add fields to timeline investigations.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Go to timelines tab.
3. Now, add an filter to the timelines.
4. Select an field and add to timeline investigation.
5. Observe that timeline notification UI breaks when

[2022-09-05 11:54] samratbhadra-qasource opened #142804 "[Security Solution]: Timeline notification UI breaks when user add fields to timeline investigations."
**Describe the bug:**
Timelines notification UI breaks when user add fields to timeline investigations.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Go to timelines tab.
3. Now, add an filter to the timelines.
4. Select an field and add to timeline investigation.
5. Observe that timeline notification UI breaks when

[2022-09-05 11:54] elasticmachine commented on #140018
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-05 11:57] aarju commented on #140017
I'm also running into another issue with this connector that may be related. If not then I can open a separate bug report for it.

When configuring the connector I added a header for `Content-Type: application/json` that it appears gets ignored by the `Add Comment` action within the cases connector. The other actions work properly, but the Add Comment action fails.
<img width="957" alt="Screenshot

[2022-09-05 12:04] vitaliidm opened #140019 "[Security Solution] refactor rule variables helper in rule actions form"
Currently, rule variables helper utility used in rule actions form [has hardcoded rule fields within its body.](https://github.com/elastic/kibana/blob/8.4/x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.tsx#L382-L407)

[code]
If new field gets added for any rule type, it needs to be added there as well

In UI:
<img width="1294" alt="Screenshot 2022-09-05 at

[2022-09-05 12:04] elasticmachine commented on #140019
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-05 12:04] elasticmachine commented on #140019
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-05 12:06] teresaalvarezsoler commented on #139987
@tsullivan thank you for raising the issue. We already have an issue opened for this one and we will take care as soon as we can https://github.com/elastic/kibana/issues/139807. I'm closing this issue if that's fine.

[2022-09-05 12:14] thomheymann commented on #138209
@legrego The error is handled gracefully in the UI so I don't see this as an issue.

Additionally, user avatars will be supported for cloud users further down the line so I'd suggest to close this issue. Do we already have an issue we can link to?

[2022-09-05 12:18] dgieselaar opened #140020 "[APM] Deep-linking to transactions/spans is broken"
When deep-linking to transactions and spans (via the `/services/{serviceName}/transactions/view` URL) with a pre-selected sample(via the `traceId` and `transactionId` query parameters), the UI will redirect to a different sample.

The following steps happen when the user lands on the transaction detail view page:

- if a traceId and transactionId are set, check if the sample is found in the loaded

[2022-09-05 12:23] dgieselaar opened #140021 "[APM] Trace sample index is not updated when navigating back and forth"
We display a trace sample index in the waterfall page that indicates the index of the currently displayed trace in the set of loaded samples:

<img width="334" alt="CleanShot 2022-09-05 at 14 22 26@2x" src="https://user-images.githubusercontent.com/352732/188448160-b3b6cbd4-62b1-4039-a9f7-f49eafff4eea.png">

However, when using the browser history to navigate back and forth between pages, the inde

[2022-09-05 12:23] elasticmachine commented on #140021
Pinging @elastic/apm-ui (Team:APM)

[2022-09-05 12:32] #138893 closed

[2022-09-05 12:36] azasypkin commented on #138209
Here it's https://github.com/elastic/kibana/issues/136917. Once it's closed, we'll have 404 only for anonymous users and users authenticated with HTTP authentication.

[2022-09-05 13:03] chrisdistasio opened #140023 "[APM] Update "onboarding" flow to clarify APM Server status and fleet management"
We have received several points of feedback regarding how confusing it is to follow the current "onboarding flow"--especially as it relates to the first stated steps around APM Server.

(Especially cloud) users report getting lost in the "Manage APM integration in Fleet" flow as the first step, when it is not required (as in cloud apm server has been auto-installed and appropriate policy created).

[2022-09-05 13:05] elasticmachine commented on #140023
Pinging @elastic/apm-ui (Team:APM)

[2022-09-05 13:22] dannycroft commented on #137205
Blocked by https://github.com/elastic/kibana/issues/137196. We will wait for the v2 design to be accomplished before adding to the service overview page.

[2022-09-05 13:37] elasticmachine commented on #139603
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-05 13:47] eyalkraft opened #140025 "Missing rule number tags on findings page"
**Kibana version:**
8.4

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**

CSP Findings page,
Missing rule number on rules from the format `CIS x.y` (vs the working tags `CIS x.y.z`)

**Steps to reproduce:**
1. run cloud security integration
2. wait for findings
3. go to findings page

**Expected behavior:**

Show the proper rule number

[2022-09-05 13:47] elasticmachine commented on #140025
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-05 13:59] elasticmachine commented on #139851
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-05 14:00] elasticmachine commented on #139870
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-05 14:01] elasticmachine commented on #139902
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-05 14:01] slhck opened #140026 "Display all controls values (e.g. through pagination)"
**Describe the feature:**

Using Kibana 8.4, I am using controls to filter for one or more particular features as an options list.

I am shown that there are 13 available options, yet the dropdown shows only 10 entries:

<img width="588" alt="image" src="https://user-images.githubusercontent.com/582444/188465825-59948a68-eccf-41cf-9cff-60a6cb91d05d.png">

This is confusing for several reasons:

1.

[2022-09-05 14:02] JordanSh commented on #140025
This happens because we have a regex checks for [sementic versioning](https://ihateregex.io/expr/semver/)
Should be an easy fix

[2022-09-05 14:02] miltonhultgren commented on #136047
I'll put this back into refining since there isn't a clear choice of what to do.

[2022-09-05 14:07] ablnk commented on #136092
@juliaElastic I reproduced it with 100k agents.
![image](https://user-images.githubusercontent.com/34958359/188467320-0639b782-031d-4120-a2af-9a5a4928c688.png)

That's happening when I try to assign or unassign multiple tags at once.

_bulk_update_agent_tags_ request fails:
[code]

There is an error in browser console:
[code]

[2022-09-05 14:12] flash1293 opened #140028 "Capture dashboard app setup time"
In the current EBT based performance measurements in dashboards there's an event for the kibana platform load time (from bootstrap to start phase finished) as well as for the dashboard panel load time (from `render` of the dashboard container to all panels having loaded data and having rendered fully).

However, the time in between is not captured right now. As non-trivial things are happening in

[2022-09-05 14:12] elasticmachine commented on #140028
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-05 14:14] #102115 closed

[2022-09-05 14:16] MadameSheema commented on #81299
@samratbhadra-qasource can you please validate if the above issue is still happening after following this?: https://github.com/elastic/kibana/issues/137709#issuecomment-1205783338 Thanks!!! :)

[2022-09-05 14:18] elasticmachine commented on #139966
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-05 14:19] MadameSheema commented on #132016
@vipulsrivastava-qasource can you please validate if this is completely fixed on latest main? Thanks!

[2022-09-05 14:23] rriemvis opened #140029 "Map reloads when modifying Kibana time filter with Vega"
**Kibana version: 8.4.0/8.4.1**

**Elasticsearch version: 8.4.0/8.4.1**

**Server OS version:**

**Browser version: Chrome 105.0.5195.102 64 bits**

**Browser OS version: Window 10 Pro 21H2**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

When you include a map on a Vega custom script and you modify the Kibana Time filter with the function kibana

[2022-09-05 14:23] jsanz commented on #139792
Hi thanks for creating an issue but this type of problems should be addressed in our community forum until a clear problem has been detected.

I checked out the `7.12.0` tag and I could run from sources without issues (on Ubuntu 20.04).

Are you sure you are running with node `14.16.0`? Maybe you can restart your environment with `yarn kbn clean && yarn kbn boostrap --force-install`?

[2022-09-05 14:25] fkanout opened #140030 "[Actionable Observability] - Create the header and the actions for the Alert Details page"
# 📝 Summary

Part of #138645

The Alert Details page has a header that contains three pieces of information related to a given alert:
- Title
- Tags
- Actions

<img width="816" alt="Screenshot 2022-09-05 at 16 14 08" src="https://user-images.githubusercontent.com/6838659/188469040-dbb6736e-1277-4fb3-8148-ae42740efc46.png">

For more info look at the [design file](https://www.figma.com/file/son9gUx

[2022-09-05 14:25] elasticmachine commented on #140030
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-05 14:26] elasticmachine commented on #140026
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-05 14:28] elasticmachine commented on #139992
Pinging @elastic/kibana-security (Team:Security)

[2022-09-05 14:28] MadameSheema commented on #121754
@deepikakeshav-qasource can you please validate on latest main when you have the chance? Thanks!

[2022-09-05 14:29] elasticmachine commented on #139989
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-05 14:30] elasticmachine commented on #139983
Pinging @elastic/kibana-core (Team:Core)

[2022-09-05 14:31] jsanz commented on #139977
This seems to be an issue for the docs team at the Elasticsearch repo (since the Docker documentation is hosted there) but someone from @elastic/docs can confirm.

[2022-09-05 14:32] elasticmachine commented on #139977
Pinging @elastic/kibana-docs (Team:Docs)

[2022-09-05 14:43] elasticmachine commented on #140029
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-05 14:44] banderror commented on #135199
[Bulk Editing of Detection Rules](https://docs.google.com/document/d/116x7ITTTJQ6cTiwaGK831_f6Ox7XB3qyLiHxC3Cmf8w/edit) is finished. Scenarios for bulk editing rule actions and schedule will be added separately, as part of working on the corresponding user stories.

[2022-09-05 14:44] #135199 closed

[2022-09-05 14:47] joshdover commented on #135539
@nimarezainia Could you help us define exactly how the UX should work here?

[2022-09-05 14:49] elasticmachine commented on #140018
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 14:50] lizozom commented on #140028
Looks great.
I would suggest a generic event name like `app-setup` and using the existing appName field to distinguish between apps.

[2022-09-05 14:57] elasticmachine commented on #140016
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-05 14:59] elasticmachine commented on #140015
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 14:59] abolfazlakbarzadeh commented on #139792
Hi @jsanz , thanks for you reply

Yes i'm sure it's running by node v14.16.0, since i didn't try bootstrap that on ubuntu, i'll try it and inform you on here!

thanks again 🙏

[2022-09-05 15:01] elasticmachine commented on #139998
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 15:03] lizozom opened #140037 "Kibana Performance - Overall shows no `dashboard-loaded` events"
The `Kibana Performance - Overall` dashboard shows no `dashboard-loaded` events.
I see that no events of that type have `labels` in them.
We need to figure out where they went (not running? not reported? reported without labels?)

[2022-09-05 15:10] #126798 closed

[2022-09-05 15:14] azasypkin commented on #139992
Hi @liu-xiao-guo,

Thanks for reporting. I know, it might be confusing, but the Users page works as expected: [`elasticsearch-users`](https://www.elastic.co/guide/en/elasticsearch/reference/current/users-command.html) tool adds users to the Elasticsearch **file realm** and these users aren't returned from the [Elasticsearch Get User API](https://www.elastic.co/guide/en/elasticsearch/reference/8.4/

[2022-09-05 15:14] #139992 closed

[2022-09-05 15:15] sabarasaba commented on #139851
@mibragimov could you have a look at this whenever you can?

[2022-09-05 15:16] elasticmachine commented on #139785
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 15:16] elasticmachine commented on #139784
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 15:19] elasticmachine commented on #139904
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 15:23] paulb-elastic commented on #134950
@dominiqueclarke is this a case we need to handle, won't we only ever expect to connect to the service over a trusted connection?

[2022-09-05 15:25] crespocarlos opened #140039 "[Stack Monitoring] Agent fails to publish docs to metrics-elasticsearch.stack_monitoring.enrich index"
# Summary

While testing https://github.com/elastic/integrations/issues/3929 it was observed that for logstash metrics collection, the Logs UI shows an entry about an error when publishing to `metrics-elasticsearch.stack_monitoring.enrich` index. Apparently, the agent lacks some privilege

![Image](https://user-images.githubusercontent.com/2767137/188480511-07053e19-4ac3-4f51-92e7-1dc38f71ef43.png

[2022-09-05 15:36] elasticmachine commented on #139796
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-05 15:51] flash1293 commented on #110298
@MichaelMarcialis I was looking into this and there is one scenario I'm wondering about:
What if there was no preselected quick function (e.g. when the visualization is part of a dashboard and the user just opened it to edit or when they were coming from TSVB?) Should we treat this as if the user would have clicked a new empty dimension slot? It would look like this:
<img width="435" alt="Screensh

[2022-09-05 16:11] elasticmachine commented on #139699
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-05 16:12] elasticmachine commented on #139697
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 16:15] elasticmachine commented on #139374
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-05 16:20] kibanamachine commented on #130802
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/20503#01830e3c-39a4-48af-8940-3834fc22db98)

[2022-09-05 16:20] jennypavlova commented on #135874
[WIP] Questions/Notes:
- Should we announce only the page title after redirection from the main left navigation or also the titles of the pages inside the app (if the user clicks a button and he lands on a page with different tittle)
- Is there an example of `EuiScreenReaderLive` in an actual project or it will be used for the first time in this task? (I found only the example inside the docs)
- H

[2022-09-05 16:25] MadameSheema commented on #139175
hi @janmonschke I saw that there is a PR linked to the ticket, is the issue fixed or do we have work pending to be finished?

[2022-09-05 16:26] elasticmachine commented on #139175
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-05 16:30] #131916 closed

[2022-09-05 16:41] emilioalvap opened #140042 "[Uptime][Synthetics UI] Monitor edit page throws exception when location is removed from manifest"
**Kibana version:** `8.5.0-SNAPSHOT`

**Original install method (e.g. download page, yum, from source, etc.):** From source

**Describe the bug:** Kibana throws an exception when editing a monitor after removing an enabled location from the manifest.

**Steps to reproduce:**
1. Set up your own manifest file with two dummy locations:
[code]
3.  Host it so Kibana can access it locally:
[code]
4. Poi

[2022-09-05 16:41] elasticmachine commented on #140042
Pinging @elastic/uptime (Team:uptime)

[2022-09-05 16:55] #137056 closed

[2022-09-05 19:36] janmonschke commented on #139175
@MadameSheema This issue hasn't been fixed yet. The attached PR is some prior cleanup work.

[2022-09-06 01:12] matschaffer commented on #138211
8.4 backport is merged, closing out.

[2022-09-06 01:12] #138211 closed

[2022-09-06 01:56] Schiffsradar commented on #60231
Here is a Website that uses a Leaflet Map with Day and Night Layer. [Link to Website ](https://schiffsradar-marinetraffic.de/aktuelle-position-mein-schiff-1)
There you can see the shaded overlay with civil twilight, nautical twilight, astronomical twilight and night.

[2022-09-06 02:22] karanbirsingh-qasource opened #140045 "[Security Solution]Custom Count not updating on Rule Page Refresh Button"
**Describe the bug**
Custom Count not updating on Rule Page Refresh Button

**Build Details:**
[code]
**Build Details:**
![image](https://user-images.githubusercontent.com/59917825/188533181-5759b8f5-f724-44cb-8ffe-96dfa97bf0d3.png)

**Steps**
- Login to kibana deployment
- Go to Rule Page
- select 680 preuilt rule and make duplicate from them ( Count of Custom will be 680 )
- import another 14 ru

[2022-09-06 02:22] elasticmachine commented on #140045
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 03:29] karanbirsingh-qasource commented on #132016
Hi @MadameSheema

we have validated this issue on main and now the complete issue is fixed ✔️

**Build Details:**

![image](https://user-images.githubusercontent.com/59917825/188541053-09f5ff29-6f09-4906-92ff-3155bdc2764d.png)

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/188541022-82eb0f79-741a-443a-bead-02c8c9a06b4d.mp4

[2022-09-06 03:30] #132016 closed

[2022-09-06 05:14] deepikakeshav-qasource commented on #121754
Hi @MadameSheema ,

We have validated this issue on **Main branch** build and observed that issue is **Fixed.**  ✔️

Please find the below Testing Details:

**Build info**

[code]

**Screen-shots**
![image](https://user-images.githubusercontent.com/61860752/188552089-a5cbea65-cade-4489-bfe1-a27e1c169d37.png)

![image](https://user-images.githubusercontent.com/61860752/188552102-066794fa-55a5-4fba-

[2022-09-06 05:14] #121754 closed

[2022-09-06 06:26] samratbhadra-qasource commented on #81299
Hi @MadameSheema

We have tested this issue on the latest **8.5.0-Snapshot** build and observed that the issue is still **occurring**. Please find below the testing details:

**Build Details:**
VERSION: 8.5.0-SNAPSHOT
BUILD: 55993
COMMIT: 436b2874794a6ffc05ad3b9ef28c298ff5384ca4

**Screenshot:**

- **When turned on the autocomplete use time range option.**

![Screenshot (930)](https://user-images.

[2022-09-06 06:27] MadameSheema commented on #81299
Thanks @samratbhadra-qasource!!

@yctercero can you please take a look at the above issue when you have the chance?

[2022-09-06 06:44] #137545 closed

[2022-09-06 06:59] muskangulati-qasource commented on #139785
Hi @michaelolo24,

We have validated this issue on **Main branch** build and observed that issue is **Fixed.**  ✔️

Please find the below Testing Details:

**Build info**

[code]

**Screenshot**
![1one](https://user-images.githubusercontent.com/60252716/188567424-f521dfb1-cb0b-41bf-b901-3c470368f288.png)

Hence, We are closing this issue and marking as QA Validated!!

Thanks!!

[2022-09-06 06:59] #139785 closed

[2022-09-06 07:00] maxcold commented on #139928
@jsanz seems like it has been fixed in https://github.com/elastic/kibana/commit/d83720f5f16f018a2929f363fbc410f854ef7a44

[2022-09-06 07:01] muskangulati-qasource commented on #139784
Hi @michaelolo24,

We have validated this issue on **Main branch** build and observed that issue is **Fixed.**  ✔️

Please find the below Testing Details:

**Build info**

[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/188567841-c61404a9-f052-4a1a-9f19-5e68274e220e.mp4

Hence, We are closing this issue and marking as QA Validated!!

Thanks!!

[2022-09-06 07:01] #139784 closed

[2022-09-06 07:05] jughosta commented on #135678
Dima is working on API refactoring https://github.com/elastic/kibana/pull/139453

[2022-09-06 07:09] pgayvallet commented on #139983
In theory, this is not possible unless manually tampering with export files (which is unsupported), given that even on a system using CRLFs, the exports generated by Kibana are using unix line endings.

https://github.com/elastic/kibana/blob/34c228b0c941308e01298e31223e7af0a5a2cee9/packages/core/saved-objects/core-saved-objects-server-internal/src/routes/export.ts#L210-L211

However, as stated, th

[2022-09-06 07:22] elasticmachine commented on #140045
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-06 07:44] matschaffer commented on #134764
I saw this in the "In Review" column, so I figured I'd mention my ¥2.81 would be to go with scenario 2 since it avoids special cases and divergence.

Though I'm sure there's a conversation to be had with discover maintainers to see how we can weave that into other efforts.

[2022-09-06 07:45] afharo opened #140051 "[meta] A/B testing - LaunchDarkly"
This meta issue is to track the effort of integrating Kibana with LaunchDarkly.

Here's the list of items we need to tackle for the MVP:

- [ ] Requirement gathering: define the use cases we want to cover during the MVP
- [ ] Design document
- [ ] Short RFC process: it will be short because the project is small-ish and the deadlines are tight
- [ ] Implementation of the experiment APIs
- [ ] Test

[2022-09-06 07:45] elasticmachine commented on #140051
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 07:46] matschaffer commented on #140039
I _think_ this points to a missing data stream in the elasticsearch package to cover enrichment data. Ideally the agent shouldn't have to create anything since the package installation should create all the required data streams.

[2022-09-06 07:46] afharo opened #140052 "LaunchDarkly - Implementation of the experiment service"
Add the new plugin `cloudExperiments`, exposing 3 APIs:

* `identifyUser`: Identify the user in LaunchDarkly. This API will likely be called by the Cloud plugin providing the necessary user ID (hashed deployment ID) and user metadata (TBD).
* `getVariation`: Returns the value for the requested config key/feature flag.
* `reportMetric`: Reports custom metrics to LaunchDarkly to help analyze the win

[2022-09-06 07:53] karanbirsingh-qasource opened #140054 "[Security Solution]Insight Data not visible under timeline investigation of session alert"
**Describe the bug**
Insight Data not visible under timeline investigation of session alert

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to session table
- investigate the session alert inside the timeline
- go to alert view side panel
- Observed that insight data is not viewable however insight of same alert is visible under session view

**Screen-Cast:**

![image](http

[2022-09-06 07:53] elasticmachine commented on #140054
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 07:53] afharo opened #140055 "LaunchDarkly - Retrieve user metadata"
In order to build better targeting in our A/B testing experiments, Kibana needs to identify the user with extended user metadata like:

* `is_elastic_staff_owned`: is the owner of the deployment an Elastician?
* `in_trial`: is the owner of the deployment using a trial license on Cloud?
* `trial_end_date`: When will/did the Cloud trial license expire?
* `has_data`: `false` if there is no user data

[2022-09-06 07:54] ghost opened #140056 "[Security Solution]: Import value lists retains even after user cancel importing the value list."
**Describe the bug:**
Import value lists retains even after user cancel importing the value list.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Go to Rules tab.
3. Now, click on import value lists.
4. Select the file and click on import list.
5. Now, cancel importing the file.
6. Close the import value lists flyout

[2022-09-06 07:54] elasticmachine commented on #140056
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 07:55] elasticmachine commented on #140055
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 07:56] flash1293 commented on #134377
@MichaelMarcialis just to make sure I got this correctly - are these the layouts you imagine?
![Untitled drawing (2)](https://user-images.githubusercontent.com/1508364/188577503-9e83112a-4ea8-4446-8cfa-721ea6725d09.png)

If yes, I have a question:

Since this issue was created, the data view picker was moved into the unified search header. Moving the field list below the chart preview would split

[2022-09-06 07:57] afharo opened #140057 "LaunchDarkly - Test utils (jest mocks and FTR helpers)"
Add the necessary jest mocks and FTR helpers to help folks test their A/B testing code.

Ideally, it should be implemented alongside #140052, but creating an explicit issue to ensure it's done.

[2022-09-06 07:59] elasticmachine commented on #140057
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 07:59] kertal commented on #134764
I agree that scenario 2 would have plenty of advantages, but also like Felix mentions correctly:

* collision with other Discover efforts
* complex planning:
  * requires in-depth survey of existing functionality
* incremental steps hard to carve out

maybe we find a way to follow **scenario 1** to tech preview before we can go to **scenario 2**  which is a pretty big change in  Discover

[2022-09-06 07:59] afharo opened #140058 "LaunchDarkly - Implementation of the first use case in the Security Solutions onboarding page"
This issue tracks the implementation of the first use case for our A/B testing capabilities:

In the Security Solutions app, the buttons `Add integrations` and `Add security integrations` would direct to a different place depending on the feature flag `security-solutions.add-integrations-url`:
<img  alt="image" src="https://user-images.githubusercontent.com/5469006/185940066-74275cd5-b5bc-47b9-b10

[2022-09-06 08:00] kertal commented on #134764
KUDOS for this great diagram, that I think @Kerry350 drew?

[2022-09-06 08:02] elasticmachine commented on #140058
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 08:02] afharo opened #140059 "LaunchDarkly - Documentation guides"
This issue tracks the effort to write the documentation guide on how to implement A/B testing in Kibana.

The design document already provides the User flow and the APIs to call, so it should be _easy_ to move them to our doc system.

The scope of this issue:

* \[ ] Create the documentation guide in the Kibana Developer Guides
~* -\[ ] (optional) Since it involves some telemetry to analyze the ex

[2022-09-06 08:10] elasticmachine commented on #140059
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 08:10] afharo opened #140060 "LaunchDarkly - Telemetry indexers"
For A/B testing, we may send some information to our telemetry services. This issue is to track the creation of the necessary indexer configs.

- [ ] Snapshot telemetry might report some information
~- [ ] LaunchDarkly's Data Export capabilities might make some information available.~

We may want to create a basic dashboard to demonstrate the data. Ideally, comparing variations (although this inf

[2022-09-06 08:11] deepikakeshav-qasource opened #140061 "[Security Solution] Incorrect count is displayed under external chart for event.category"
**Describe the bug**
Incorrect count is displayed under external chart for event.category

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. External alerts should be generated

**Steps to Reproduce**
1. Navigate to security > host page
2. Select the check box of Show only external alerts
3. Select the event.category from external alert chart drop down
4. Observe that incorr

[2022-09-06 08:11] elasticmachine commented on #140061
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 08:15] teresaalvarezsoler commented on #140028
@flash1293 is this time something the user experiences? Could you describe it from the user perspective please so I understand what we are trying to capture here?

[2022-09-06 08:17] elasticmachine commented on #140060
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 08:26] teresaalvarezsoler commented on #139870
I checked that the new controls work this way too. However, we should change the way the top filters work instead of controls. If a user selects "is between" X and Y, the user would expect that both X and Y values to be included in the result. The way filters work now is that X is included but Y is excluded which doesn't make sense. @ghudgins what do you think?

[2022-09-06 08:28] flash1293 commented on #140028
This is about improving telemetry so we have better insight in how long Kibana dashboards take to render. The problem I'm describing is that the current measurements do not capture the full time it takes. So based on the current telemetry we can't really tell how long the whole process takes because there is a gap of unknown length in between:
![Untitled drawing (5)](https://user-images.githubuser

[2022-09-06 08:32] teresaalvarezsoler commented on #140028
Thanks for the explanation. These phases (since system bootstrap until render) includes then the **whole time every user experiences every time they open a given dashboard**?

[2022-09-06 08:36] afharo opened #140063 "LaunchDarkly - Implement the relevant metrics required for the Security Solutions experiment"
According to the definition of the success criteria in this experiment, we need to collect the following metrics:

- [ ] Ingest rate
- [ ] Data volume ingested (GB)
- [ ] # of integrations configured
- [ ] # of agents configured
- [ ] Time-to-ingest
- [ ] # of rules enabled
- [ ] # of alerts
- [ ] # of cases

[2022-09-06 08:37] flash1293 commented on #140028
There are two cases to consider:
* External navigation (User navigates to dashboard from another website or opens Kibana in a new tab / browser window): User experiences all of the phases from system bootstrap to render
* Internval navigation (User navigates to dashboard from another dashboard, from Discover or from a solution app): User does not experience the phases captured by `kibana-loaded` a

[2022-09-06 08:41] juliaElastic opened #140065 "[Fleet] Bug in package_policies/upgrade API"
**Kibana version:** 8.2.3, 8.4.1 and possibly earlier

**Describe the bug:** Upgrade 2 package policies gives an error for the second one.

**Steps to reproduce:**
1. Install an older version of a package e.g. system 1.11.0
2. Add at least 2 package policies
3. Upgrade package
4. Call API to upgrade the 2 package policies at once.
5. The second upgrade fails with a duplicate name error.

**Expecte

[2022-09-06 08:41] elasticmachine commented on #140065
Pinging @elastic/fleet (Team:Fleet)

[2022-09-06 08:45] semd opened #140066 "[Security Solution] Tines action connector"
## Summary

Create a new action connector for [Tines](https://www.tines.com/).

## Description

Implement an out-of-the-box integration that customers can leverage to send alerts from Elastic to Tines. Users can then take actions or run playbooks (Tines calls them stories, example [here](https://hub.tines.com/docs/quickstart/simple-story)) based on these alerts.

Tines provides a webhook action, w

[2022-09-06 08:45] elasticmachine commented on #140066
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-06 08:47] miltonhultgren commented on #135874
@elastic/kibana-accessibility might be best able to advice here.

[2022-09-06 08:51] teresaalvarezsoler commented on #140028
Ah great, then in the second case (navigating from dashboard to dashboard), they will experience `dashboard-setup` + `dashboard-loaded` correct?

[2022-09-06 08:52] xcrzx commented on #137420
Hey @rudolf, thanks for joining the discussion!

I think it would be easier to remove the mapping for the `istalled_kibana` field as it is currently not used so that we don't need to meddle with the Elasticsearch settings altogether.

Thanks, that setting could be very useful for our use case. That said, I think we should measure the impact of importing large sets of saved objects on memory consum

[2022-09-06 08:55] flash1293 commented on #140028
That's right.

[2022-09-06 08:57] flash1293 commented on #140028
Maybe one other nuance for this internal navigation - if the user already visited a dashboard in the current tab without navigating away from Kibana, then both `dashboard-setup` and `dashboard-loaded` are expected to be faster because it has to lazy-load less additional code in this case.

[2022-09-06 08:58] juliaElastic commented on #136092
I think this is the same root cause as https://github.com/elastic/ingest-dev/issues/1204#issuecomment-1237112006

[2022-09-06 09:12] miltonhultgren commented on #112938
I'm closing this as a duplicate of https://github.com/elastic/kibana/issues/47477, which I will start working on now 👍🏼

[2022-09-06 09:13] #112938 closed

[2022-09-06 09:37] ghost opened #140071 "[Security Solution] Extra space in pop up while opening timeline under timelines."
**Describe the bug:**
Extra space in pop up while opening timeline under timelines.

**Build Details:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to reproduce**

1. Navigate to Security-->Timelines.
2. Open any created timeline or timeline templates.
3. Click on + icon on top left side.
4. Select open timeline.

**Expected resu

[2022-09-06 09:37] elasticmachine commented on #140071
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-06 09:37] elasticmachine commented on #140071
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 09:42] m-adams commented on #134377
just to throw in omy 2c There is a difference between "small screens" and these layouts. When I hit some of the layout issues it was simply:
1. Large 5k monitor
2. Reduced resolution/increased text size which may impact (I'm not sure how the scaled settings affect the resolution on Macs)
3. Multi tasking so using a window using only 1/3 to 1/2 of the screen

So you can hit some of these issues whe

[2022-09-06 09:54] flash1293 commented on #134377
Valid points, what do you think @MichaelMarcialis ? Is this worth a more detailed design phase?

[2022-09-06 09:54] elasticmachine commented on #140054
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-06 09:55] Kerry350 commented on #134764
@matschaffer

Indeed, conversations are ongoing with the Discover folks.

This seems like a good compromise. My preference would also be scenario 2, but I appreciate there is a **huge** planning overhead. Pushing the POC to a preview state with no (that we know of 👀) bugs, and trying to share even more code seems like a fair next step. One thing to mention is that Felix and I were keen to stay inv

[2022-09-06 09:57] elasticmachine commented on #140061
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-06 10:24] prachigupta-qasource commented on #123904
Hi @juliaElastic,

We have re-validated this feature on latest **8.5.0 SNAPSHOT** Kibana Staging Environment and found that it's **working fine**.

**We had below observations:**

- Creating a policy and automatic tags such as Managed, System and Elastic Agent are created on Tags page
- Tag is created on adding new integration namely Apache HTTP Server and linked to the Apache package's assets on

[2022-09-06 10:48] lizozom commented on #131131
[Staging (CI data)](https://telemetry-v2-staging.elastic.dev/s/kibana-performance/app/dashboards#/view/97f45ff0-2226-11ed-b77a-bd29ecb21612?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-7d%2Fd,to:now)))

[2022-09-06 11:10] lizozom commented on #139087
We want to use `ciBuildName` instead, right?

[2022-09-06 11:11] lizozom commented on #112832
@Dosant is this issue still relevant? Think we can close it in the meanwhile

[2022-09-06 11:13] pgayvallet opened #140075 "Migrate core domain services to packages: Server-side uiSettings service"
Part of https://github.com/elastic/kibana/issues/134112

Now that all dependencies have been migrated, we can move the content of `src/core/server/ui_settings` to packages

[2022-09-06 11:13] elasticmachine commented on #140075
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 11:15] lizozom commented on #78351
I think it would be interesting to benchmark the impact of validation on several APIs, so we can quantify the problem.
@kobelb @pgayvallet do you have an intuition as per which APIs might be heavily impacted by validation?

[2022-09-06 11:15] lizozom commented on #127789
Closing for now, reopen if needed

[2022-09-06 11:15] #127789 closed

[2022-09-06 11:18] vitaliidm commented on #139250
@marshallmain
A few observations while working on it

1. [It's possible to save rule with type](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/helpers.ts#L442-L449) `query` with `saved_id` property and rule with type `saved_query` with `query` , `filters` property. Would it make sense do not store `saved_id` if rul

[2022-09-06 11:19] #138384 closed

[2022-09-06 11:19] kamilbudziewski opened #140077 "Permission denied accessing Fleet on Elastic Cloud"
**Kibana version:**
8.4.1

**Elasticsearch version:**
8.4.1

**Server OS version:**
Elastic Cloud

**Browser version:**
Chrome 104

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**

I have a role:
![image](https://user-images.githubusercontent.com/17469698/188622790-bd353f1e-ffac-43dd-b392-488b761c338

[2022-09-06 11:38] banderror commented on #140019
I could be missing something here, but the `rule variables` we show in this dropdown is something that the rule executor function injects into the code that triggers actions on the BE side. Not sure it's a good idea to introduce a dependency on the [FE forms schema](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.t

[2022-09-06 11:57] #138257 closed

[2022-09-06 12:03] sukhwindersingh-qasource opened #140081 "[Security Solution]Text box and Scroller is not working properly for +1 more icons under host page."
**Describe the bug:**
Text box and Scroller is not working properly for +1 more icons under host page.

**Build Details:**
[code]
**Preconditions**
1. Kibana should be running.
2. Auditbeat should be installed

**Steps to Reproduce**
1. Navigate to security in kibana.
2. Click on Hosts
4. Click on Uncommon processes and then click on +1 more icon.

**Actual Result**
Text box and Scroller is not wo

[2022-09-06 12:03] elasticmachine commented on #140081
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 12:04] sukhwindersingh-qasource commented on #140081
@deepikakeshav-qasource Please review this bug

[2022-09-06 12:15] #140065 closed

[2022-09-06 12:15] vitaliidm commented on #140019
Sorry, the wrong link in description. It indeed was supposed to be a link to [BE schema](https://github.com/elastic/kibana/blob/8.4/x-pack/plugins/security_solution/common/detection_engine/schemas/request/rule_schemas.ts). Thanks for catching it 👍

[2022-09-06 12:19] boriskirov commented on #136640
Can we do something nicer, and provide some skeleton or loading experience instead of loading it in two groups first and second or all of them at the same time, as in some cases some will not be needed at all?

[2022-09-06 12:19] #115374 closed

[2022-09-06 12:24] lizozom opened #140084 "Report navigator connection, deviceMemory and hardwareConcurrency if available on kibana-loaded event"

[2022-09-06 12:30] vadimkibana commented on #105268
It seems it has been fixed in recent 8.x versions, cannot reproduce it anymore.

[2022-09-06 12:30] #105268 closed

[2022-09-06 12:31] elasticmachine commented on #140081
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-06 12:37] sqren commented on #136640
Skeletons could work. We might also want to show the fixed tabs first, and then adding the dynamic tabs to the end without re-ordering the fixed tabs.

[2022-09-06 12:42] mikecote commented on #113987
Closing as last occurrence is Dec 15, 2021.

[2022-09-06 12:42] #113987 closed

[2022-09-06 12:42] dgieselaar commented on #136640
@sqren there's no infrastructure tab for RUM or mobile right?

[2022-09-06 12:43] boriskirov commented on #136640
I like the idea of re-order but if that's the case I'd like to explore and think a bit more what would be the best order.

[2022-09-06 12:45] mikecote commented on #116561
Closing as last occurrence is Mar 25.

[2022-09-06 12:46] mikecote commented on #125142
Closing as last occurrence is Feb 9.

[2022-09-06 12:46] mikecote commented on #127559
Closing as last occurrence is Mar 13.

[2022-09-06 12:46] #127559 closed

[2022-09-06 12:46] mikecote commented on #132439
Closing as last occurrence is May 18.

[2022-09-06 12:46] #132439 closed

[2022-09-06 12:47] mikecote commented on #132438
Closing as last occurrence is May 18.

[2022-09-06 12:47] #132438 closed

[2022-09-06 12:51] legrego commented on #138209
This technically includes the Reporting/screenshotting service. I don't think that changes our decision, but I noticed that it adds a not-insignificant amount of noise to our logs anytime a PDF/PNG report is generated. I could see this leading to increased load on our team to interpret server logs when Reporting issues come in.

To draw a parallel: how many times have we had to explain that https:

[2022-09-06 12:55] mikecote opened #140086 "Best practices for connector type development"
Similar to https://github.com/elastic/kibana/issues/98246, we should document the best practices that developers should follow when developing and reviewing connector types.

[2022-09-06 12:55] elasticmachine commented on #140086
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-06 12:59] rudolf commented on #129016
Closing as all the individual issues have been addressed

[2022-09-06 12:59] #129016 closed

[2022-09-06 12:59] Dosant commented on #112832
Further work is not planned. we can close and reopen when needed

[2022-09-06 12:59] #112832 closed

[2022-09-06 13:08] kibanamachine opened #140089 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group3/dashboard_state·ts - dashboard app - group 3 dashboard state Overriding colors on an area chart is preserved"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20518#018312c0-0933-4ef6-9c3c-bad7b899b0cf)

[2022-09-06 13:09] elasticmachine commented on #140089
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-06 13:09] elasticmachine commented on #139280
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-06 13:14] mikecote opened #140090 "Standardize the default alert-as-data fields"
Summary
- Gain consensus on all the fields
- Create and document common schema for all alerts and rule types

The goal of this issue is to standardize the default list of alert fields in preparation for the framework to persist alerts-as-data documents. All ECS fields will be part of the default alert fields. As a result, this effort will be solely concerned with standardized the use of the ECS fi

[2022-09-06 13:14] elasticmachine commented on #140090
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-06 13:15] banderror commented on #139732
Needs UX design consultation. Could be something we're ok with.

[2022-09-06 13:15] #136917 closed

[2022-09-06 13:16] Patrick-Martello commented on #139983
It was encountered because we have a file checked in to our git repo that we update with newer versions of our kibana spec.
Rather than delete and read the file the developer copy pasted the content into the old file on a windows machine,

[2022-09-06 13:28] michaelolo24 commented on #135427
Closing as this was fixed in this PR: https://github.com/elastic/kibana/pull/138331

[2022-09-06 13:28] #135427 closed

[2022-09-06 13:28] pgayvallet commented on #78351
By APIs, you mean HTTP APIs, right?

I don't really have any idea honestly. IIRC:
- The validation cost depends on whether it fails or pass, with failures being significantly higher in term of execution time
- The validation cost scale linear(-ish)-ly with the amount of properties to validate within the schema
- By nature, the effect of validation on overall % of CPU cycles is more visible on APIs

[2022-09-06 13:39] Ravina-Deogadkar commented on #140030
Can I take this issue?

[2022-09-06 13:40] elasticmachine commented on #139889
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-06 13:41] banderror commented on #139889
Could be caused by the same reasons as this one: https://github.com/elastic/kibana/issues/136138

[2022-09-06 13:42] jgowdyelastic commented on #49565
Looks like this can be closed. There are no overrides for ml in `.eslintrc.js` anymore.
We are suppressing quite a few `exhaustive-deps` errors in the code, which we'll work our way through fixing.

[2022-09-06 13:46] banderror commented on #139889
@karanverma-qasource If you have any other details to share about your setup and steps, that could help. I wasn't able to reproduce it using the Steps to Reproduce from the description. It showed only warnings as expected:

<img width="1598" alt="Screenshot 2022-09-06 at 15 44 56" src="https://user-images.githubusercontent.com/7359339/188651234-eb70d3d0-3cd9-4b3b-bf18-de94c70e5719.png">

[2022-09-06 13:50] rudolf commented on #78351
I don't think doing a bottom-up approach to performance is fruitful. We need to start at the business level and work down to achieve our objectives. I would recommend we start by:
1. Ask teams to define Service Level Objectives (SLO) for each of their APIs
2. Track and report on the measured performance vs SLO using cloud proxy logs
3. Investigate instances where we didn't meet our SLO
4. Reproduc

[2022-09-06 13:50] elasticmachine commented on #139903
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-06 13:52] kpollich opened #140095 "[Fleet] Add UI toggle for synthetic `_source` to data streams"
## Summary

Add a UI toggle that enabled synthetic `_source` for a given data stream to the policy editor.

Parent issue https://github.com/elastic/kibana/issues/132818
Ref https://github.com/elastic/kibana/issues/139862

### Implementation

- [x] Add an `Indexing Options (Experimental)` section to the policy editor at the end of each data stream's settings section
  - [x] Include a switch element

[2022-09-06 13:52] elasticmachine commented on #140095
Pinging @elastic/fleet (Team:Fleet)

[2022-09-06 13:53] cnasikas opened #140096 "[Cases] Filter cases activity"
Cases show the activity (user actions) of the case. Along with pagination, it would be useful to filter the user actions by category. Examples:

- Show all user actions
- Show only alerts attached
- Show only lens / ml embeddable / osquery
- Show only user comments
- Show only actions (edit/change of status etc)

[2022-09-06 13:55] rudolf commented on #131525
Is this really the behaviour we're looking for? When a users clicks "upgrade Kibana" they should know that if the upgrade succeeded everything is in a working state. Do they need to comb through the upgrade logs to verify that the upgrade really was successful and wouldn't have an impact on their business? It's much more painful to discover three weeks later that a certain rule was left disabled s

[2022-09-06 13:58] jsanz opened #140097 "CSV Export not available when xpack.reporting.roles.enabled set to false"
Since the report at [this discuss post](https://discuss.elastic.co/t/csv-export-not-available-when-xpack-reporting-roles-enabled-set-to-false/313445) was well written I've taken the liberty to post it here directly. Feels related to https://github.com/elastic/kibana/issues/123058#issuecomment-1092313320 but I can't confirm.

---

Hi, since the xpack.reporting.roles settings are deprecated since v7

[2022-09-06 13:58] elasticmachine commented on #140097
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-09-06 13:58] ThomThomson opened #140098 "[Legacy Input Controls] Apply Kibana Theme"
In Kibana 8.4, the Kibana Theme isn't properly applied to the legacy Input Controls. This results in a nasty visual bug when using dark mode.

![Bug](https://user-images.githubusercontent.com/14276393/188654407-38d12e43-3a9d-41a0-ba26-1af3cc4ce29a.png)

[2022-09-06 13:58] elasticmachine commented on #140098
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-06 14:00] elasticmachine commented on #140077
Pinging @elastic/fleet (Team:Fleet)

[2022-09-06 14:01] kdelemme commented on #139213
This spike has been completed and implementation started

[2022-09-06 14:01] #139213 closed

[2022-09-06 14:02] lucabelluccini opened #140100 "[DOCS] Document Mustache features currently supported by Kibana Alerting"
Kibana Alerting allows to use Mustache templating.

There are documentation examples available in different sections but it would be nice to have a dedicated page.
Also we should clarify Mustache templating in Elasticsearch implementation is different from Kibana one.

Current available methods:
- Iterations `{{#variablename}}{{.}}{{/variablename}}` when `variablename` is a list
- Context `{{#some

[2022-09-06 14:02] elasticmachine commented on #140100
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-06 14:05] #139466 closed

[2022-09-06 14:14] hendry-lim commented on #140098
same as #139518

[2022-09-06 14:16] ThomThomson commented on #140098
Ah, good to see all of these issues are being collected! Do we know if this is the responsibility of the individual code-owning teams? I wonder if this is something that can / should be fixed from the EUI side.

[2022-09-06 14:20] elasticmachine commented on #139956
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:21] elasticmachine commented on #139938
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:21] elasticmachine commented on #139947
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:21] elasticmachine commented on #139948
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:22] elasticmachine commented on #139773
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:24] elasticmachine commented on #139954
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:24] elasticmachine commented on #139949
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:24] elasticmachine commented on #139952
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 14:26] banderror commented on #140019
Ah, awesome! 👍

[2022-09-06 14:28] #138864 closed

[2022-09-06 14:30] #139424 closed

[2022-09-06 14:34] rudolf commented on #137420
Yes, it makes sense to explore the tradeoff here between how much of the processing happens in Elasticsearch vs Kibana.

We have a handful of clusters with > 500k saved objects without any complaints of performance. But the size of the saved objects are a bigger problem than the amount, there's one report where an 11GB `.kibana` index with just 60k saved objects is causing slow startup times of mo

[2022-09-06 14:43] juliaElastic commented on #139704
I raised the draft prs, the change looks working fine, I can't reproduce the error.

[2022-09-06 14:47] michel-laterman commented on #139704
Maybe I'm missing the historical information for this; but why does the agent/fleet-server not have an explicit `UPGRADING` status?

[2022-09-06 14:49] flash1293 commented on #61966
@MichaelMarcialis I started working on this but I realized I need design support. Could you assist with the following questions?

* We talked about having a context menu per layer, but where should the user enter the layer name? Have a "Set layer name" action in the context menu which opens a modal? Something else?
* Where to show the layer in the UI? I don't immediately see a good place for it:
<

[2022-09-06 15:07] pmeresanu85 commented on #136047
@miltonhultgren  I assume when you mean unclear what to do, you mean it still needs a bit of reflecting on the solution approach.

[2022-09-06 15:12] ghudgins commented on #139870
++ agree - sounds wrong. I expect Y to be included in this control

<img width="888" alt="image" src="https://user-images.githubusercontent.com/5465514/188671268-274b76fc-dbc5-477b-ab17-8052b74b515e.png">

If we want to fix this in the Search bar, we should add additional teams to this issue. this would be a breaking change and should get some consideration on how to handle existing dashboards wit

[2022-09-06 15:14] lizozom opened #140106 "Creatre mappings and space for production telemetry cluster"

[2022-09-06 15:23] jbyroads commented on #139807
@ThomThomson Wanted to add this is impacting us pretty significantly as well.  We did not use the legacy input controls because we had issues with them.  We're undergoing a complete overhaul where we are leveraging the new controls, so reverting back to legacy input controls is not really an option.

Is there another ticket created specifically for this shorter term solution that I can track?

[2022-09-06 15:26] miltonhultgren commented on #136047
Yes, I see 3 options:

1. Invest the time into actually calculating the real uptime (requires reading the right set of documents and tracing the transitions to get the actual uptime and then joining that data into the other metrics rows)
2. Keep it hidden and forget about it (for now, maybe we can follow a track to move this computation to the agent/ingest side to make the future easier)
3. Replac

[2022-09-06 15:33] elasticmachine commented on #130802
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-06 15:34] #139087 closed

[2022-09-06 15:36] elasticmachine commented on #140037
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-06 15:36] #139216 closed

[2022-09-06 15:37] criamico opened #140108 "[Fleet] Bug - Integration overview pages not rendering codeblocks and tables"
#### Description
On latest main, `Integration overview` pages for any integration have broken `codeblocks` and `tables`.
For instance, Apache HTTP Server shows:

![Screenshot 2022-09-06 at 17 22 52](https://user-images.githubusercontent.com/16084106/188674056-29957bcf-c55f-4012-99ab-0a9cc1705b5a.png)

#### Root cause
I did some investigation and it seems that it started happening after React was u

[2022-09-06 15:37] elasticmachine commented on #140108
Pinging @elastic/fleet (Team:Fleet)

[2022-09-06 15:42] pmeresanu85 commented on #136047
@miltonhultgren thank you for sharing your thought! Let me take it into the 1:1 with @alex-fedotyev  and see how to proceed on this topic.

I will update this issue after the 1:1

[2022-09-06 15:45] #134892 closed

[2022-09-06 15:49] elasticmachine commented on #140056
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-06 15:56] constancecchen commented on #139893
Sounds great. Thanks a million Casper!! 🙌

[2022-09-06 16:13] #139422 closed

[2022-09-06 16:19] ThomThomson opened #140112 "[Controls] Individually Pre-Filter Available Results"
### Feature Request
Controls currently are filtered by the Dashboard Context, and by selections made in previous controls. There is no other way for a dashboard author to narrow down the available options.

There are many use-cases in which a field has many values, but only a certain subset of those values are relevant to the dashboard.

### Fix
In the editor for Data Controls, we should add a sel

[2022-09-06 16:19] elasticmachine commented on #140112
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-06 16:20] ThomThomson commented on #62115
Closing this in favour of https://github.com/elastic/kibana/issues/140112.

[2022-09-06 16:20] #62115 closed

[2022-09-06 16:22] ThomThomson commented on #140112
It's important to note that there is a workaround to this issue raised by @llermaly, in which a [pre-filtered alias](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html) is used to fetch the values for the control.

[2022-09-06 16:23] ThomThomson commented on #122036
Closing this in favour of the more general https://github.com/elastic/kibana/issues/140112

[2022-09-06 16:23] #122036 closed

[2022-09-06 16:32] kibanamachine opened #140113 "Failing test: Interpreter Functional Tests.test/interpreter_functional/test_suites/run_pipeline/event_annotation/fetch_event_annotations·ts - runPipeline fetch event annotation tests query and manual annotations calculates correct timebuckets, counts skippedCount, passes fields and styles for single group with only query annotations"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20533#01831375-2591-40b1-bf0d-506230b17a52)

[2022-09-06 16:34] #49565 closed

[2022-09-06 16:40] spalger commented on #139997
IMO, I think that if the `captureReferences` CLI option is `false` then we can't properly determine APIs without any references, so I think this array/stat shouldn't be reported.

[2022-09-06 16:41] elasticmachine commented on #140113
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-06 16:42] spalger commented on #139997
Is there any indication why `captureReferences` defaults to `false`? Was it previously true but needed to be disabled to limit memory usage? Sometime tells me that was the case, but that disabling it didn't actually improve memory usage that much and we should turn it on by default.

[2022-09-06 16:56] kibanamachine opened #140115 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_data_view_management·ts - machine learning - data visualizer data view management "before each" hook for "sets custom label for existing field""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20535#0183138f-3e53-42ea-b3f0-e3557246e2e2)

[2022-09-06 16:57] elasticmachine commented on #140115
Pinging @elastic/ml-ui (:ml)

[2022-09-06 16:59] spalger commented on #115307
I'd prefer that they are moved to `integration_tests` directories and run as integration tests instead of unit tests, but if you want to just increase the timeout I can turn away and pretend I didn't see anything 😅

[2022-09-06 17:00] spalger commented on #139260
Fixed by https://github.com/elastic/kibana/pull/139964

[2022-09-06 17:00] kpollich commented on #140095
Making some pretty solid progress on this but ran into another mapping incompatibility when trying to enable synthetic source for the `logs-nginx.access` data stream

![image](https://user-images.githubusercontent.com/6766512/188696227-10b719d1-5692-4bd6-8235-34f4de820c74.png)

Not sure how to resolve this one off the top of my head. Will have to investigate further.

[2022-09-06 17:09] #139075 closed

[2022-09-06 17:10] kevinlog commented on #139260
Thank you for looking at this @spalger !

cc @paul-tavares

[2022-09-06 17:14] elasticmachine commented on #140097
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-09-06 17:23] yctercero commented on #137709
I think we can close - there's just doc updates that have been filed here - https://github.com/elastic/security-docs/issues/2284

[2022-09-06 17:26] yctercero commented on #81299
Thanks! I'll put it in for 8.6 - I'm not sure we'll get to it 8.5 but will prioritize if we can.

[2022-09-06 17:28] constancecchen opened #140118 "[meta][shared-ux] Follow up to EUI v63.x upgrade"
Follow-up various TODOs added by Caroline in the EUI upgrade that makes breaking changes to `EuiPageTemplate` and `KibanaPageTemplate`: https://github.com/elastic/kibana/pull/139524

- [ ] https://github.com/elastic/kibana/pull/139524#discussion_r962095972
- [ ] https://github.com/elastic/kibana/pull/139524#discussion_r962096158

@clintandrewhall feel free to take over this issue or close it and o

[2022-09-06 17:28] yctercero commented on #140016
This is fixed in this PR - https://github.com/elastic/kibana/pull/138770

Just waiting on a few codeowners to merge.

[2022-09-06 17:31] yctercero commented on #139699
Gonna try for 8.5, but may be pushed to 8.6 unless you think it should be prioritized @peluja1012

[2022-09-06 17:32] kibanamachine opened #140119 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using the suspend-process action from response actions console and when console is closed (not terminated) and then reopened should display completion output if done (no additional API calls)"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20540#018313b2-0d3a-4fbc-8854-217f37bd3636)

[2022-09-06 17:33] elasticmachine commented on #140119
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 17:36] clintandrewhall opened #140122 "[Shared UX][EUI] Fix "dark mode" inconsistencies in Kibana"
## Problem

Dark mode is not consistently applied within Kibana.  There are two known reasons this is the case:

- Async, Portal-ed or otherwise rendered components in Kibana are sometimes rendered without `EuiThemeProvider` surrounding it.
- Teams are rendering their content without a Kibana-driven dark mode enabled root context.

Today, the [`useEuiTheme`](https://github.com/elastic/eui/blob/mai

[2022-09-06 17:36] elasticmachine commented on #140122
Pinging @elastic/kibana-core (Team:Core)

[2022-09-06 17:36] elasticmachine commented on #140122
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-06 17:36] elasticmachine commented on #140122
Pinging @elastic/eui-design (EUI)

[2022-09-06 17:37] 1Copenut commented on #135874
Great questions. I'll answer each bullet point as a point of its own.

* We should announce each page title after redirection from the main left nav and titles of pages within the apps. So if I clicked "Integrations" from the left menu, I should hear it announced. If I clicked "pfSense" from the list of integrations, I should hear that announced too. My general rule of thumb is if the route / URL

[2022-09-06 17:52] elasticmachine commented on #140119
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-06 18:11] XavierM commented on #138058
I discussed with the team, I think my idea to add a `all` status in the status to show all the errors related is wrong because you can still have a success execution and have some errors on the action and that won't help anything and might be super confusing after talking to the team.

I created [a meeting](https://calendar.google.com/event?action=TEMPLATE&tmeid=N2IzOTJyOWc3MjVzZGg0dm41c3RvZWNtMDE

[2022-09-06 18:20] pmuellr commented on #101503
Perhaps.  I seem to remember some discussion of a Kibana CLI at some point - in which case we'd want it to "match" that - command / parameter / options / style / etc.  And we also have kibana support in Dev Tools now, so we could lean on that and teach people how to use Dev Tools for light API usage.

There is likely some new function to add as well - this was written in ancient days and I don't t

[2022-09-06 18:23] XavierM commented on #137988
Sorry just came back from vacation, and still catching up. I will like to say that we are not going to use anymore the beat fields, the response ops team does not want to maintain the beat fields file. We decided that we won't show the description of a field for now and we will build the category attribute in our new API. Since we are not going to maintain the description attributes in our alert t

[2022-09-06 18:25] rashmivkulkarni commented on #95707
@elastic/security-detections-response-alerts  does this belong to you ? I believe there is a POC for an equivalent Cypress test for this . Can it be linked here? Once that test is merged, this particular test can be closed out /deleted .

[2022-09-06 18:27] michaelolo24 commented on #140054
@karanbirsingh-qasource Can you please confirm that the same error occurs if you open the details panel from the alert table rather than the session view component?

[2022-09-06 18:34] lukeelmers commented on #121992
Rescoping this meta issue to cover the Event-based telemetry MVP, which is already complete. We will track EBT post-MVP & backlog items is separate individual tasks based on priority.

[2022-09-06 18:34] #121992 closed

[2022-09-06 18:40] kibanamachine commented on #140113
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20544#018313e8-7892-4d1a-b294-87286e92b5bf)

[2022-09-06 18:48] jbudz commented on #140113
/skip

[2022-09-06 18:49] kibanamachine commented on #140113
Skipped

main: 5ebefbb3e5d9ae2fa3f25f54ae8870139f10b25a

[2022-09-06 18:53] sophiec20 commented on #137988
It is worth clarifying if ECS belongs as an elasticsearch first class citizen - worth having this conversation before we design the implementation?

[2022-09-06 18:59] hbharding commented on #136687
# Update

I updated the Figma designs so that users can enable/disable monitors via an EuiSwitch at the bottom of the Monitor Details described form group. This is very similar to what we have today, except for a few copy changes. cc @colings86 @florent-leborgne if either of you want to provide input on the help text and label name.

![image](https://user-images.githubusercontent.com/847805/188716

[2022-09-06 19:32] marshallmain commented on #139250
I think that would be good. Eventually we may want to look at making that breaking change as well and removing the unused fields from the schema entirely, but it's not an immediate concern.

I don't think there's any reason as far as how the rules actually execute - the `saved_id` should only be used for `saved_query` rules. It's included in the schema though because prior to the [conversion](http

[2022-09-06 19:55] paul-tavares commented on #139260
Thanks @spalger . Appreciate you taking a look.

[2022-09-06 20:05] 1Copenut commented on #135874
The EUI team also put together a screen reader testing matrix that outlines what screen readers we support, and testing tiers: https://github.com/elastic/eui/blob/main/wiki/screen-reader-testing-matrix.md

[2022-09-06 20:10] ThomThomson opened #140131 "[Controls] On Drilldown Apply Control Selections as Filter Pills"
### Problem
Currently, when a user navigates from one dashboard to another via a dashboard to dashboard drilldown, the Filter Pills are moved across, but the Control Selections are not. This makes it very difficult to use Controls and Drilldowns together.

### Solution
The ideal solution to this problem would involve creating or updating Controls on the destination dashboard to match which control

[2022-09-06 20:11] elasticmachine commented on #140131
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-06 20:12] ThomThomson commented on #139807
@jbyroads, I've just created [this issue](https://github.com/elastic/kibana/issues/140131) to outline the shorter term solution. We have also discussed this with product management today, and have decided to prioritize it! You can follow along there.

[2022-09-06 20:18] javanna commented on #139340
Thanks for making this connection @mattkime . Please ping us whenever you hit this kind of problems around calling field_caps (or any other API really), otherwise we don't even get to know that there are issues that you folks are looking to work around :)

[2022-09-06 20:30] kpollich commented on #140095
Another example of an error from the `akamai` integration

![Image](https://user-images.githubusercontent.com/6766512/188731893-6527380d-4818-45c0-8dbe-5a26a8424cbd.png)

I wonder if we should only allow opt-in to synthetic source on `metrics` data streams for now. It seems like it'll take a decent chunk of time to track down every possible mapping conflict w/ synthetic source.

Alternatively we c

[2022-09-06 20:32] #135136 closed

[2022-09-06 20:34] kpollich commented on #139862
Description here needs to be rewritten since we've captured synthetic source as its own issue in https://github.com/elastic/kibana/issues/140095

[2022-09-06 20:41] nreese opened #140135 "[Controls] range slider control crashes when popover is open and range increases"
Originally discovered by @teresaalvarezsoler and posted in [time slider PR review](https://github.com/elastic/kibana/pull/139228#issuecomment-1237129447)

<img width="500" alt="Screen Shot 2022-09-06 at 2 31 06 PM" src="https://user-images.githubusercontent.com/373691/188732553-c5540eb4-3fe4-4f0f-a735-778510d92dbc.png">

Problem is that [RangeSliderPopover](https://github.com/elastic/kibana/blob/m

[2022-09-06 20:41] elasticmachine commented on #140135
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-06 21:18] kibanamachine opened #140140 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/components - When on the host isolation exceptions entry form and creating a new exception should render the form with empty inputs"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20555#01831483-36a9-4e8f-afe7-6aebe40c5842)

[2022-09-06 21:19] elasticmachine commented on #140140
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-06 21:24] elasticmachine commented on #140140
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-06 21:25] dominiqueclarke commented on #128766
After discussion, https://github.com/elastic/kibana/issues/126280#issuecomment-1103850432, we will remove the state variables from being exposed in the user-facing connectors, while still keeping the variables themselves in tact. Updating AC.

[2022-09-06 21:26] yctercero commented on #139374
@dhurley14 I think we can remove tour completely for 8.5.

[2022-09-06 21:28] marshallmain opened #140142 "[Security Solution][Alerts] Clean up searchAfterBulkCreate function"
[searchAfterAndBulkCreate](https://github.com/elastic/kibana/blob/8.4/x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.ts) has accumulated a number of little coding issues that should be addressed to make it easier to follow and reason about.

- Multiple consecutive calls to the ruleExecutionLogger with messages that could be more descriptive
- `mergedS

[2022-09-06 21:48] neptunian commented on #139391
Thanks for looking into this @Kerry350 .  So for the two potential issues it sounds like we'd need to dig into the UI and see exactly how we are using them?  Was hoping that could be done as part of this issue though not sure you'll have time before 8.5.  I can take that over if need be.

Was thinking we could also test by changing the mappings and ingesting data https://github.com/elastic/elastic

[2022-09-06 23:16] marshallmain opened #140145 "[Security Solution][Alerts] Refactor security rules to use more similar coding patterns"
We now have 6 different types of security rules, and although they all follow the same rough pattern of "search for data, build alert documents based on data, index the alert documents" it can be hard to apply knowledge of how one security rule type works to other rule types. We can try to make this knowledge more transferable by using the same patterns and organization style across different rule

[2022-09-07 00:11] alvarezmelissa87 commented on #139021
Doing some testing to work out what's causing this bug and found that when there are no results and the spike analysis table isn't rendered the brush style is never applied:

<img width="1182" alt="image" src="https://user-images.githubusercontent.com/6446462/188761275-bab8a4b9-2218-4d1f-bddd-a6eb06abbde6.png">

[2022-09-07 00:49] liza-mae commented on #138629
I met last week with @tylersmalley and @alexh97 (cc: @LeeDr) and we agreed that it is worth it to evaluate Percy for a visual regression test suite on cloud release builds, per the idea I described in this comment: https://github.com/elastic/kibana/issues/138629#issuecomment-1224361472.  For this evaluation new tests will be written, stability analyzed and existing tests used as a data point.  I a

[2022-09-07 01:20] Kerry350 commented on #139391
I didn't have time to look at this in depth in the UI earlier (I wanted to do a pass on the code first, as there's sometimes combinations / states that get missed testing via the UI), but I had some time this evening.

For the ML issue the influencers are always `reduce`d to an array of strings on the server side. So at least the surface area is reduced to there. I haven't been able to test the ML

[2022-09-07 01:30] matschaffer opened #140149 "[Tech Debt] [Infra O11y UI] remove uses of deprecated EUI page with new components introduced in 63.0.0"
## Description:

Remove usages of EUI `*_deprecated` components for Page template components and replace them with [new page template](https://elastic.github.io/eui/#/templates/page-template).

### Background:

See this PR for reference:  https://github.com/elastic/kibana/pull/139524 and https://github.com/elastic/kibana/pull/139524#issuecomment-1239584296 for a rough migration overview.

From it:

[2022-09-07 01:30] elasticmachine commented on #140149
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-07 01:30] karanbirsingh-qasource commented on #140045
yes @banderror we found it later, closing the issue as dupe https://github.com/elastic/kibana/issues/137969

[2022-09-07 01:30] #140045 closed

[2022-09-07 01:49] karanbirsingh-qasource commented on #140054
Hi @michaelolo24 please find below observation for above comment

**Issue is not occuring from below areas**

- Alert Table
- Investigate Session Alert from Alert Table
- Session Table

https://user-images.githubusercontent.com/59917825/188770467-a960b3c3-2acf-46aa-9b64-11b42b2b92f2.mp4

**Issue is Occurring** : when we investigate the session alert under timeline and then check insight of alert d

[2022-09-07 03:10] vk036968 commented on #2284
Is it possible to add a checkmark to display "local" (to the panel) percentages?
![image](https://user-images.githubusercontent.com/38704714/188779723-3d4c8fb7-ea02-440b-822c-0ab44121cd79.png)
![image](https://user-images.githubusercontent.com/38704714/188780142-a954bb8a-37c0-4c37-9ce9-fddac0bcda2d.png)
38.42% + 22.56% + 39.02% = 100%

[2022-09-07 05:17] #138721 closed

[2022-09-07 05:17] #139409 closed

[2022-09-07 05:20] kibanamachine opened #140153 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/policy/view - When on the policy list page and data exists endpoint count link should navigate to the endpoint list filtered by policy"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20558#0183164a-241b-40a5-9f53-8775e36efafa)

[2022-09-07 05:20] elasticmachine commented on #140153
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 05:35] karanbirsingh-qasource opened #140154 "[Security Solution]Host Isolation Exception tab inside under policy not loading"
**Describe the bug**
Host Isolation Exception tab inside under policy not loading

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Endpoint and click on Policy
- Click on Host Isolation Exception
- Observed that page keep on loading and not loads

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/188796774-db96dd45-1cf9-4021-b5c6-be01df860d66.mp4

[2022-09-07 05:35] elasticmachine commented on #140154
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 05:37] elasticmachine commented on #140154
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-07 05:37] muskangulati-qasource commented on #140154
Reviewed & assigned to @kevinlog.

[2022-09-07 06:05] amolnater-qasource opened #140155 "[Fleet]: Valid integration not gets searched on removing category not having that integration."
**Kibana version:**  8.5 SNAPSHOT Kibana cloud environment

**Host OS:**  All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56016
COMMIT: a93f5d9986a19277826c9e35a37ccb984caeabcc

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.

**Steps to reproduce:**
1. Navigate to Fleet>Browse integrations tab.
2. Select category `AWS` and search `Nginx`.
3. Observe Nginx int

[2022-09-07 06:06] elasticmachine commented on #140155
Pinging @elastic/fleet (Team:Fleet)

[2022-09-07 06:06] amolnater-qasource commented on #140155
@manishgupta-qasource Please review.

[2022-09-07 06:22] manishgupta-qasource commented on #140155
Secondary review for this ticket is Done

[2022-09-07 06:28] elasticmachine commented on #140153
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-07 06:36] kpatticha commented on #139821
There is an issue with `opbean-go` data on edge. The other services and environments look correct.

[2022-09-07 06:36] #139821 closed

[2022-09-07 06:43] juliaElastic commented on #139704
@michel-laterman I'm not sure about why, but we don't have an explicit agent status field on agent documents, status is a calculated field on Fleet UI based on several other fields (active, upgraded_at, etc.)

[2022-09-07 06:51] ghost opened #140156 "[Security Solution] Wrapping of default data view index not done on Rule Details page (Firefox)"
**Describe the bug**
Firefox :Wrapping of default data view index not done under rule details page

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Rule page
- Create rule with default data view
- Fill in all the steps of rule creation
- Observed the index names not wraps under Firefox browser

Notes:
- Issue is not occuring on Chrome browser

**Screen-Shoot:**

![image](

[2022-09-07 06:51] elasticmachine commented on #140156
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 07:17] simranvaseer-qasource commented on #133828
Hi @criamico
We have validated this feature on 8.4.1 Release build and 8.5 latest Kibana cloud environment.

**Observations:**
Curently, we have found that appropriate url is selected under Agent logs form 'Agent Binary Download Sources'.

- Further, we will revalidate the same scenario on 8.5 BC.

**Build Details:**
VERSION: 8.4.1
BUILD: 55434
COMMIT: 415cecc1c67ed775c4d9f6592fe5acc35dc9dce5

VER

[2022-09-07 07:17] jlind23 opened #140157 "Display a warning banner when Elastic Agents receives a high number of 429 from Elasticsearch"
**Describe the feature:**
In order to make Elastic Agent more easily debuggable, it would be great to display a warning message in a banner just like the one below:
"Elasticsearch is currently not able to keep up with the number of requests"

This banner would be enabled based on the number of "429(too many request)" error code sent by Elasticsearch.

cc @joshdover @kpollich @cmacknz

[2022-09-07 07:17] elasticmachine commented on #140157
Pinging @elastic/fleet (Team:Fleet)

[2022-09-07 07:19] amolnater-qasource commented on #136471
Hi Team
We have revalidated this feature on latest 8.5 SNAPSHOT and had below observations:
- `Badge` is added on selecting category under Browse and Installed integrations.
- On searching under search bar category is not removed.
- User is able to remove badge on clicking `x` icon on the same.

Further we have raised an issue at https://github.com/elastic/kibana/issues/140155 for valid integratio

[2022-09-07 07:21] deepikakeshav-qasource opened #140158 "[Security Solution] Wrong page navigated when External Alert tab link accessed by manual URL Navigation"
**Describe the bug**
Wrong page navigated when External Alert tab accessed by manual URL Navigation

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Old external tab link should be exist
`<kibana_url>/app/security/hosts/externalAlerts?sourcerer=(default:(id:security-solution-default,selectedPatterns:!(%27logs-*%27)))&timerange=(global:(linkTo:!(timeline),timerange:(from:%2

[2022-09-07 07:21] elasticmachine commented on #140158
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 07:30] aarju opened #140159 "[Feature Request][Security App] Add a 'investigate in Timeline' link to Analyzer view"
**Describe the feature:**
Within the Analyzer view there should be an icon ( <img width="27" alt="Investigate in Timeline" src="https://user-images.githubusercontent.com/14032876/188814870-3297ef96-a906-471a-b542-b58111f66f1c.png"> ) that users can click to investigate different field values in a timeline. On the process object within the Analyzer the default action should add the Entity ID to the

[2022-09-07 07:31] andresrc commented on #140095
@kpollich I agree we should add this initially just on metrics datasets. We don't expect this to be very useful initially for logs integrations as `event.original` is only in the `_source`.  /cc @ruflin

[2022-09-07 07:35] sukhwindersingh-qasource opened #140160 "Not able to add all the created users in Run As privileges under Roles."
**Describe the bug:**
Not able to add all the created users in Run As privileges under Roles.

**Build Details:**
[code]
**Preconditions**
1. Kibana should be running.
2. Create users with same username but different case i.e - Usernames : Sukha , SukhA

**Steps to Reproduce**
1. Navigate to Management in kibana.
2. Click on Stack management.
3. Click on roles and then Click on create roles.
4.  N

[2022-09-07 07:35] elasticmachine commented on #140160
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 07:36] sukhwindersingh-qasource commented on #140160
@karanbirsingh-qasource please review this bug.

[2022-09-07 07:40] pgayvallet commented on #139773
Sorry, may we get some insight regarding why our team was assigned to this issue?

[2022-09-07 07:41] elasticmachine commented on #139773
Pinging @elastic/fleet (Team:Fleet)

[2022-09-07 07:41] elasticmachine commented on #139773
Pinging @elastic/apm-ui (Team:APM)

[2022-09-07 07:46] #139928 closed

[2022-09-07 08:04] ppisljar commented on #114520
after some investigation i can't find any actual places that would handle this wrong so I am closing this issue.

[2022-09-07 08:04] #114520 closed

[2022-09-07 08:24] aarju commented on #137114
We use the webhook connector to send our alerts to our SOAR system internally. I responded to this discuss post with how we do it. https://discuss.elastic.co/t/elastic-rule-connector-sends-a-string-instead-of-json-to-the-webhook/313833

We send the entire contents of the alert body as an ndjson with this action template:
[code]

[2022-09-07 08:25] juliaElastic commented on #123904
@prachigupta-qasource The tags are created at package install time.
In the scenario you mentioned, the tags are not recreated on adding a new integration policy, and that is expected.
The tags should be recreated on package reinstall.

[2022-09-07 08:31] #137094 closed

[2022-09-07 08:31] fkanout commented on #140030
Hi @Ravina-Deogadkar thank you so much for your interest in contributing to the Kibana project, but this issue has already been assigned.
If you would like to contribute to Kibana, please feel free to keep an eye on https://github.com/elastic/kibana/contribute and check our developer guide https://www.elastic.co/guide/en/kibana/master/development.html
Have a great day!

[2022-09-07 08:45] colings86 commented on #136687
@hbharding I'm not sure if I was pinged in error on this? I don't have any context on synthetics so will need a bit of general context and some guidance on what you need from me if pinging me was actually your intention

[2022-09-07 08:48] gbamparop opened #140163 "[APM] Change EuiPageTemplate to KibanaPageTemplate in Infra failure prompt"
The old `EuiPageTemplate` is deprecated (https://github.com/elastic/kibana/pull/139524) and renamed to `EuiPageTemplate_Deprecated`. [Infra failure prompt](https://github.com/elastic/kibana/blob/a5a4884658edb0e68805d90d1a5636c7a565b139/x-pack/plugins/apm/public/components/app/infra_overview/infra_tabs/failure_prompt.tsx#L14) should be updated to use  `KibanaPageTemplate` from `@kbn/shared-ux-page-

[2022-09-07 08:48] elasticmachine commented on #140163
Pinging @elastic/apm-ui (Team:APM)

[2022-09-07 08:55] #129054 closed

[2022-09-07 09:13] elasticmachine commented on #140156
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-07 09:14] paulb-elastic opened #140165 "[Synthetics UI] Improved flow when deleting Private Locations"
The fix in https://github.com/elastic/kibana/issues/140042 improves error handling for when monitors are configured to run on a private location that has since been deleted.  We should improve this behaviour rather than just handling the error condition.

ACs:
* When deleting a private location, if there are monitors configured to run on that location, the _”are you sure”_ dialog should include th

[2022-09-07 09:14] elasticmachine commented on #140165
Pinging @elastic/uptime (Team:uptime)

[2022-09-07 09:16] jsanz commented on #139944
watching the history of the `apm-config-loader` file I'll assign this to @elastic/kibana-operations

[2022-09-07 09:18] jsanz commented on #139953
@dmlemeshko should this be assigned to the Operations team as well? please add the `Team:xxx` that makes more sense to you, thanks!

[2022-09-07 09:21] elasticmachine commented on #140159
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 09:22] elasticmachine commented on #140160
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-07 09:34] dasansol92 commented on #140154
Hi @karanbirsingh-qasource, thanks for reporting that! I could reproduce this locally.
As we updated react-query version here https://github.com/elastic/kibana/pull/137429 we cannot rely on `.isLoading` state for calls that are not dispatched like [this](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/management/pages/policy/view/tabs/policy_tabs.tsx#L83-L94).
W

[2022-09-07 09:49] #139851 closed

[2022-09-07 10:03] shanisagiv1 commented on #134382
I agree with the fact that we need better troubleshooting on our current rule executions.
Do we expose all the errors in this log today? if so, can we notify a user when there are errors/ more than x errors in a period of time?
I'd suggest considering the "User Notification" capability that pushes notification for users when there are important stuff (like case assignment/mention).
WDYT @XavierM ?

[2022-09-07 10:17] banderror commented on #140156
@yctercero do you want to add this one to the Platform's backlog?

[2022-09-07 10:24] cnasikas opened #140172 "[Cases] Add "My recently assigned Cases" to the recent cases widget"
The recent cases widget, currently used by the Security Solution, shows the recently created cases and the recently created cases by the current user. We should add another tab that shows the recently assigned cases to the current user.

<img width="790" alt="Screenshot 2022-09-07 at 1 22 10 PM" src="https://user-images.githubusercontent.com/7871006/188855420-8e5fb110-94f5-4841-9c51-c050f48b6f1e.p

[2022-09-07 10:24] elasticmachine commented on #140172
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-07 10:24] elasticmachine commented on #140172
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-07 10:24] joshdover commented on #134971
One concern about using the package-level `allow_routing` flag for this feature is that it would make upgrading to the APM package quite a disruptive change by widening the API privileges significantly in ways that may not be necessary or obvious to the user.

It's also not clear to me what should happen with the `namespace` parameter in the package policy.

Instead of a package level setting, I t

[2022-09-07 10:25] afharo opened #140173 "`cloud` plugin disabled by default"
Currently, the `cloud` plugin is always enabled, even for non-ESS distributions.

It was disable-able until 8.0 https://github.com/elastic/kibana/pull/113495, but it was still enabled by default.

Should we allow this plugin to be disable-able?
Also, should it be disabled by default?

[2022-09-07 10:25] elasticmachine commented on #140173
Pinging @elastic/kibana-core (Team:Core)

[2022-09-07 10:39] teresaalvarezsoler opened #140174 "[Controls] Options List Add Alphabetical Sorting"
**Describe the feature:**
Currently control values are sorted by cardinality in descending order (values with more documents first) but users would like to choose sorting values alphabetically. We will add a configuration option where users can select either alphabetical order or number of documents.

Needs design: @andreadelrio

[2022-09-07 10:39] elasticmachine commented on #140174
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-07 10:40] teresaalvarezsoler commented on #17299
Closing this issue in favour of: https://github.com/elastic/kibana/issues/140174

[2022-09-07 10:40] #17299 closed

[2022-09-07 10:45] teresaalvarezsoler opened #140175 "[Controls] Pagination for Options List Results"
**Describe the feature:**
Controls are displaying the first top 10 values by default. Users would like to configure that number. We agreed the upper limit should be 50 values to avoid performance issues.

We will implement this in the context of merging Controls with Unified Search.

Needs design @andreadelrio

**Update**:

It might be possible to add server-side pagination to the Options List dro

[2022-09-07 10:45] elasticmachine commented on #140175
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-07 10:47] teresaalvarezsoler commented on #47453
Closing this one in favour of this one https://github.com/elastic/kibana/issues/140174

[2022-09-07 10:48] teresaalvarezsoler commented on #140026
@slhck thank you for raising this request. We have been discussing it internally and we decided to add an option to configure the number of values displayed in the filter. Unfortunately, we should always have a maximum of values displayed (around 50) due to performance issues. Closing this one in favour of this one https://github.com/elastic/kibana/issues/140174

[2022-09-07 10:48] #140026 closed

[2022-09-07 10:52] orouz opened #140176 "[Cloud Posture] improve `/update_rules_config` API integration test"
our api to [update a package policy rules ](https://github.com/elastic/kibana/blob/main/x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts#L319) was updated in #137325 to take an array of `rules` to toggle (enable/disable).

its [api integration test](https://github.com/elastic/kibana/blob/main/x-pack/test/api_integration/apis/cloud_security_posture/upd

[2022-09-07 10:53] elasticmachine commented on #140176
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-07 11:03] teresaalvarezsoler commented on #17301
Closing in favour of: https://github.com/elastic/kibana/issues/140112

[2022-09-07 11:03] #17301 closed

[2022-09-07 11:03] crespocarlos commented on #140039
It happens also with elasticsearch package when Enrich is enabled. The datastream is created, but the error still happens
<img width="1442" alt="image" src="https://user-images.githubusercontent.com/2767137/188862975-8ff4a7d6-dc9a-4bc0-b656-11eb121b64b6.png">

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/2767137/188863087-7c38ff57-67a8-48a5-b634-00cb57bf4824.png">

[2022-09-07 11:04] teresaalvarezsoler commented on #26056
Closing in favour of: https://github.com/elastic/kibana/issues/140112

[2022-09-07 11:04] #26056 closed

[2022-09-07 11:09] joshdover commented on #140157
What we're trying to solve here is the ability to help users know when they need additional ES capacity to serve the size of their Fleet. This will help in scenarios where customers see some amount of agents as offline due to ES not being able to keep up.

The way I think this would need to work is to have Fleet Server report when it's receiving 429s from ES via the v2 control protocol which allow

[2022-09-07 11:13] joshdover commented on #139704
Not sure either.

This could be an option as well. I do want to make sure we can still report the ingest/integration status separately from the agent, but I think we have enough in the new input status fields for this to be able to calculate an overall status for ingest. If it's simpler to just add a new enum to the existing `last_checkin_status` that may be fine.

@michel-laterman I do think we s

[2022-09-07 11:22] dmeeversscholte opened #140179 "Heatmap bug - info not displayed"
**Kibana version:** v 7.15.1

When in a dashboard, hovering over a heatmap visual, the top row doesn't show the information:

Expected behaviour:
<img width="685" alt="Screenshot 2022-09-07 at 13 12 55" src="https://user-images.githubusercontent.com/97592051/188865469-25497a5b-a7d2-4fdf-a4b2-755ef9496140.png">

Current behaviour:

<img width="556" alt="Screenshot 2022-09-07 at 13 20 51" src="https

[2022-09-07 11:28] ruflin commented on #140095
As this is an experimental feature, I think the errors above are fine and I would not put artificial limitation in places to just show it for metrics-*. Part of being able to enable the feature is finding all these limitations. My take is, lets just bubble it up.

[2022-09-07 11:33] samratbhadra-qasource opened #140180 "[Security Solution]: Selected few rules doesn't get unselect while user refresh the rule list page."
**Describe the bug:**
Selected few rules doesn't get unselect while user refresh the rule list page.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Go to Rules tab.
3. Bulk select all available rules.
4. Now, refresh the rule list page.
5. Observe that selected few rules doesn't get unselect while user refresh the ru

[2022-09-07 11:33] elasticmachine commented on #140180
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 11:37] #139739 closed

[2022-09-07 11:56] slhck commented on #140174
I just wanted to note that in #140026 you said:

… which is missing here, just for completeness' sake 🙂

I think it would make sense to still have the maximum number be configurable by the user, even if it incurs a performance penalty. Maybe it won't even affect some customers with performant nodes.

Anyway, this feature seems very useful! (We have a list of devices with ascending IDs, and the ord

[2022-09-07 12:06] cnasikas opened #140183 "[Cases] Use `EuiContextMenuPanel` for case actions"
Cases use the `PropertyActions` to display available user actions in various places. For example to delete or edit a comment or to delete a case. The `PropertyActions` constructs the actions by using the `EuiButtonEmpty`. It should use the [`EuiContextMenu`](https://elastic.github.io/eui/#/navigation/context-menu) component.

Examples:

<img width="433" alt="Screenshot 2022-09-07 at 3 04 03 PM" sr

[2022-09-07 12:06] elasticmachine commented on #140183
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-07 12:06] elasticmachine commented on #140183
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-07 12:14] crespocarlos commented on #123508
After looking at `node_setup_status.ts`, If I consider that this endpoint is only called by Kibana, it seems that this endpoint is not being used anymore.

This endpoint is only called [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/public/lib/setup_mode.tsx#L43). But calls to `updateSetupModeData` never the pass the `uuid` argument (see [1](https://github.com/elastic/

[2022-09-07 12:29] elasticmachine commented on #140179
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 12:31] sebelga opened #140185 "[TableListView] Add option to render metadata + bulk actions in header"
As part of the work the improve UX for the <TableListView /> in Kibana (the page rendering the list of dashboards, visualisations, maps) we want to render a "selection info" bar on top of the `<EuiBasicTable />` with the following functionalities

* Display how many items are being viewed (e.g. "Showing 1-10 of 45 Dashboards")
* Once one or multiple items are selected
  * Render a context menu to

[2022-09-07 12:31] stratoula commented on #140179
@dmeeversscholte thanx for submitting this issue. I can't reproduce it. Can you share with us the settings you have used and the mapping of the fields used in each dimension? Thanx a lot

[2022-09-07 12:36] #140037 closed

[2022-09-07 13:06] ofiriro3 opened #140187 "Kibana - Upgrading package causes ingest manager error"
**Describe the bug:**
When running Kibana locally and trying to upgrade the CSP integration version, the ingest manager throws an error.

**Steps to reproduce:**
1. Run the stack locally (`elastic-package stack up --version 8.5.0-SNAPSHOT -v -d`)
2. Kill Kibana and [run Kibana locally](https://github.com/elastic/security-team/blob/main/docs/cloud-security-posture-team/kibana/Local_Setup_Using_Elas

[2022-09-07 13:06] elasticmachine commented on #140187
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-07 13:08] elasticmachine commented on #140180
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-07 13:09] miltonhultgren commented on #47477
After digging into the code for this I have some questions.
Maybe @sophiec20 is the best person to answer these.

1. What needs to be in the job ID to make it unique?
Today we include a prefix, the space id, the logs/metrics source configuration id and the job name.

2. Can I somehow migrate old jobs so that their old ids are renamed to use the new pattern?
That would make the UI code a lot simple

[2022-09-07 13:15] mikecote commented on #138933
Thanks for the recap @marshallmain! I'm interested to see from a security product perspective what the expectation of the user is once they see this warning (disable rules, scale kibana, contact their administrators, just to let them know rules are behind, etc)

[2022-09-07 13:43] jsanz opened #140192 "Saved Search panel in dashboard rendering issue"
**Kibana version:**
8.4.1

**Elasticsearch version:**
8.4.1

**Server OS version:**
Cloud and running locally with Docker on Ubuntu 20.04

**Browser version:**
Chromium 105.0.5195.102

**Browser OS version:**
Ubuntu 20.04

**Original install method:**
Cloud and Docker

**Describe the bug:**
The saved search visualization on dashboards fails to render when adding another visualization (at least).

[2022-09-07 13:43] elasticmachine commented on #140192
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-07 13:48] doakalexi commented on #139914
Going to close this, as It looks like this is being populated in `x-pack/plugins/alerting/server/task_runner/rule_loader.ts`

[2022-09-07 14:06] elasticmachine commented on #140179
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-07 14:06] stratoula commented on #140179
I found it! So this is another case of this https://github.com/elastic/kibana/issues/131969

The @elastic/kibana-presentation team has solved it in 8.4 so I am closing it!

[2022-09-07 14:06] #140179 closed

[2022-09-07 14:10] juliaElastic commented on #139704
I think it is a bigger refactor if we want to use the `last_checkin_status` for other statuses like `upgrading`, `upgrade_completed`, `upgrade_retrying`. Currently I am not sure what are the possible transitions of the status, I see it is updated in Fleet Server during checkin. For example, I wouldn't want to set the status to `upgrade_completed` if it might be set to `degraded` by an agent at the

[2022-09-07 14:12] 1Copenut commented on #139773
@pgayvallet My apologies. I was tagging issues too quickly and mistakenly added `Team:Core` to this one. Thank you for re-routing it.

[2022-09-07 14:21] twanva commented on #103777
Hi, we are also interested in this issue. It's very frustrating to work with the Alerts overview from the Security Solution and filter out fields, which then result in nothing happening or all alerts being filtered out because the field "does not exist".

[2022-09-07 14:24] kibanamachine commented on #139641
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20574#01831833-aebc-431b-968a-147b98828ced)

[2022-09-07 14:26] jloleysens opened #140196 "[File Storage] Integrate files with EBT"
Files service has the following events:

* Upload
* Download
* Public (share) download
* Delete
* Share
* Unshare

For each of these we should record:

* The file kind
* The duration of the event (required input for EBT atm)
* Event specific data, like size for upload

## References

* Usage of EBT https://github.com/elastic/kibana/blob/8d2bd6fe45720d4ce418c2bd0b5e2cbf4f8c0c9f/src/core/server/serv

[2022-09-07 14:26] elasticmachine commented on #140196
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-09-07 14:34] elasticmachine commented on #140192
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-07 14:35] stratoula opened #140197 "[Unified search] Visually distinguish the adhoc dataviews from the permanent ones on the picker"
**Describe the feature:**
As we are working on supporting ad-hoc dataviews on the Lens and Discover it will be good to enhance our picker with this icon
https://www.figma.com/file/jTlFQTwx0B2SWK16LW32AP/Data-View-Menu?node-id=4%3A109293 (can export and use as svg) to visually distinguish the permanent dataviews from the ad-hoc ones.

It should look like that
<img width="638" alt="Bildschirmfoto 20

[2022-09-07 14:35] elasticmachine commented on #140197
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 14:36] stratoula commented on #140197
@flash1293 I think we can add it on 8.6 planning as we are also going to work on the ad-hoc dataviews UI. Wdyt?

[2022-09-07 14:43] ThomThomson commented on #140192
Pretty sure this is only a data discovery issue. Will remove `team:presentation` label. Feel free to re-add it if something is discovered!

[2022-09-07 14:54] gbamparop opened #140199 "[APM] Add tests for storage explorer"
### API tests: https://github.com/elastic/kibana/pull/141391
- [x] `GET /internal/apm/storage_explorer`
- [x] `GET /internal/apm/services/{serviceName}/storage_details`
- [x] `GET /internal/apm/storage_explorer/privileges`
- [x] `GET /internal/apm/storage_explorer_summary_stats`

### End-to-end tests:
When navigating to storage explorer:
- [x] It has a list of services
- [x] It has a list of envir

[2022-09-07 14:54] elasticmachine commented on #140199
Pinging @elastic/apm-ui (Team:APM)

[2022-09-07 14:56] spalger commented on #139641
Jest unite tests [should never be flaky](https://docs.elastic.dev/kibana-dev-docs/ops/flaky-tests#how-often-is-this-test-failing), skipped

main/8.5: https://github.com/elastic/kibana/commit/76052ff4de022aeb148d3fa515961ab86664e1d1

[2022-09-07 14:57] dej611 opened #140200 "[Lens][Query annotations] Revisit tooltip design"
Improve tooltip design for Query annotations in Lens.

Topics to discuss:
* timestamp format
  * right now is hardcoded, is that ok?
  * Should that be editable? How?
* what about annotation groups?
  * what about `textField` in this case?
* ...add more

[2022-09-07 14:57] elasticmachine commented on #140200
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 14:58] dej611 opened #140201 "[Lens][Query annotations] TSVB to Lens"
Enable migration from TSVB annotations to Lens.

[2022-09-07 14:58] elasticmachine commented on #140201
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 15:00] dej611 opened #140202 "[Lens][Query annotations] Revisit query input UI"
Revisit the query input UI in query annotations to be more like the Filters popover query input. That should provide more space to the user to express a longer query.

Also, consider to apply auto-focus on the input when switching from Static to Query based annotations.

[2022-09-07 15:00] elasticmachine commented on #140202
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 15:03] dej611 opened #140203 "[Lens][Query annotations] Auto open field picker when adding new ones in the tooltip section"
When clicking `Add a field` in the query based annotation panel, the new field picker should be open and with the focus to let the user to type right away the field name.

Consider to apply the same logic also for the `Decoration label` field-based?

[2022-09-07 15:03] elasticmachine commented on #140203
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 15:04] dej611 opened #140204 "[Lens][Query annotations] Add "ignore global filters" option"
1. Add a "ignore global filters" option to the query based annotations as new control in the UI (and propagate it in the esaggs underneath).
2. Make sure to modify TSVB -> Lens code to also pass the ignore global filters setting correctly to Lens when converting.

[2022-09-07 15:04] elasticmachine commented on #140204
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 15:19] jbyroads commented on #139807
@ThomThomson - great news.  Thank you sir!

[2022-09-07 15:32] castal01 commented on #15355
I would also like to see this feature.

While I'm using discover or building a visualization, I'd like the ability to exclude certain hours. I have customers world wide, and would like to exclude hours on an ad hoc basis in respect of where the customer is located around the world.

[2022-09-07 15:38] dej611 opened #140206 "[Lens][Query annotations] When creating a new annotation assign the default time field when available"
**Describe the bug:**

On annotation creation the `timeField` is automatically populated with the default dataView time field as fallback, which leads to an automatic field change on dataView change, unless the user picks some other field in the panel.
This "magic" behaviour is not easy to spot unless the user opens each single annotation (query based) event after switching layer dataView, which i

[2022-09-07 15:39] elasticmachine commented on #140206
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-07 15:44] MichaelMarcialis commented on #110298
@flash1293: I'm not sure I'm understanding. Wouldn't this be exactly how the transition between formula and quick functions works today, just without the callout notifying users that the formula is still in effect?

[2022-09-07 15:45] kibanamachine commented on #139626
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20579#01831874-3f3b-4a44-bfa9-96c8b6792a3f)

[2022-09-07 15:53] afharo commented on #140063
We got confirmation from @osmanis that all this information is already available via the current telemetry channels, and there is no need to send it via LaunchDarkly as the analysis will be done in our internal telemetry systems.

Closing this issue. Feel free to reopen if we still need to take any action on this.

[2022-09-07 15:53] #140063 closed

[2022-09-07 15:56] elasticmachine commented on #139882
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-07 16:01] MichaelMarcialis commented on #134377
Yes, my original layout adjustment proposal would no longer make sense, given that data view selection was moved out of the field list section and is now part of the unified search header.

I like the idea of offering an alternative, condensed means of searching for fields and applying fields to your visualization. I do think it's worth a more formal design phase, but it's something we'll have to

[2022-09-07 16:02] yctercero commented on #140156
@banderror no preference. Probably wouldn't get to it until 8.6

[2022-09-07 16:08] clintandrewhall opened #140207 "Coalesce SimpleMarkdown + Markdown from kibana_react to package"
There are two Markdown components, both in `kibana_react`: [`Markdown`](https://github.com/elastic/kibana/blob/main/src/plugins/kibana_react/public/markdown/markdown.tsx) and [`SimpleMarkdown`](https://github.com/elastic/kibana/blob/main/src/plugins/kibana_react/public/markdown/markdown_simple.tsx).  The first uses `markdown-it` and the second uses `react-markdown`.

Further, [`EuiMarkdownFormat`]

[2022-09-07 16:15] kibanamachine commented on #139586
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20581#01831897-ee01-4a65-b0ac-248926c601b1)

[2022-09-07 16:19] flash1293 commented on #110298
Yes, my question is about keeping this behavior if there is no "last selected quick function"

[2022-09-07 16:24] MichaelMarcialis commented on #61966
@flash1293: Forgive me, as this is the first time I'm seeing this issue and likely don't have the full history of the decisions made. Out of curiosity, why was it determined that the solution to this issue should be to allow users to add a custom name to the visualization layers? Instead, could we simply use the related dimension's name as the string used to prepend/append to the duplicative terms

[2022-09-07 16:26] flash1293 commented on #61966
Good idea @MichaelMarcialis - Would you imagine this as a setting of the breakdown dimension or an automatic thing as soon as there are multiple layers using breakdowns?

[2022-09-07 16:27] tylersmalley commented on #139586
/skip

[2022-09-07 16:29] MichaelMarcialis commented on #61966
My first instinct is to say that applying the prepend/append automatically as soon as multiple layer breakdowns are in play is probably the most user-friendly approach. However, I'll defer to you and @ghudgins if there are some cases that I'm not considering where it wouldn't be ideal.

[2022-09-07 16:32] clintandrewhall opened #140209 "Research `CodeEditor` use cases, prepare for CodeEditor package"
[`CodeEditor`](https://github.com/elastic/kibana/tree/main/src/plugins/kibana_react/public/code_editor) is a component within `kibana_react` that needs to be extracted out into a package.

This issue tracks discussions to make sure there aren't any enhancements planned, and if there are, incorporate those into the package.

- chat with @flash1293 and @stratoula regarding ESSQL/"text-based" languag

[2022-09-07 16:46] banderror commented on #140180
@samratbhadra-qasource I'm not sure about that. From my perspective the expected result, in this case, should be:

"All rules on the page should stay selected after the table is refreshed."

[2022-09-07 16:49] banderror commented on #140180
@vitaliidm Do you think it's a regression after fixing https://github.com/elastic/kibana/issues/135297 or a separate (unrelated to https://github.com/elastic/kibana/issues/135297) bug?

[2022-09-07 16:51] legrego commented on #77269
Resolved via https://github.com/elastic/kibana/pull/139217

[2022-09-07 16:51] #77269 closed

[2022-09-07 17:00] xcrzx commented on #140180
Note: it would probably make sense to implement https://github.com/elastic/eui/issues/6184 first to make table row selection logic more straightforward. That could help to prevent more selection bugs in the future

[2022-09-07 17:01] vitaliidm commented on #140180
It's not regression, those ticket covered only losing selection after auto-refresh, by pausing it.
Here, user forces refresh by pressing `Refresh` button.

I would say, we probably should just remove selection from all rules when `Refresh` button is pressed.
OR
We can disable refresh button, when there is any selected rule, similar to auto-refresh control
<img width="1508" alt="Screenshot 2022-09-

[2022-09-07 17:02] JiaweiWu commented on #138035
I was able to reproduce this issue, snoozing indefinitely seems to work but snoozing for a set duration does not.

[2022-09-07 17:04] vitaliidm commented on #140180
I think, items are losing their selection here due to changed order of rules in  Elastic response. More details [here](https://github.com/elastic/kibana/issues/135297#issuecomment-1168924022)

[2022-09-07 17:14] neptunian commented on #139924
From the Metrics UI side I would prefer we not have the added complexity of having to keep track and query different fields for metrics.  I think that would be a big effort.   @ruflin mentioned to me that is a push to get APM server to start pushing the system metrics they collect to the system / ecs fields instead of maintaining their own metricset.  That would make things easier, though some fie

[2022-09-07 17:27] #139750 closed

[2022-09-07 17:28] mikecote opened #140212 "Remove action subgroups from alerting framework"
I did a quick POC (https://github.com/elastic/kibana/pull/139312) and CI didn't complain about the removal of action subgroups. Given that, it feels like no rule types are using this feature anymore (originally developed for kibana maps team) and we should be able to clean up our codebase from the complexity.

Original PR adding subgroups: https://github.com/elastic/kibana/pull/84751.

[2022-09-07 17:29] elasticmachine commented on #140212
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-07 17:33] #134579 closed

[2022-09-07 17:39] gbamparop commented on #139773
@1Copenut this sounds good! We are keen on improving accessibility in the APM UI. Is there a plan for a team outside of solutions to look at the reports and raise issues accordingly or is this something that we will have to plan ourselves?

[2022-09-07 17:52] exalate-issue-sync[bot] opened #140216 "[File Storage] Documentation"

[2022-09-07 18:04] #140216 closed

[2022-09-07 18:07] exalate-issue-sync[bot] opened #140217 "This is a sync test Jira-GH with closed issue."

[2022-09-07 18:08] #140217 closed

[2022-09-07 18:14] GTB3NW commented on #132535
Any tips on how to get around this issue?

[2022-09-07 18:15] klacabane commented on #123508
Looks like dead code, metricbeat does not consume the api and it's unlikely any other stack component does. Should we  keep it for the moment and investigate removing it in a separate issue ?

[2022-09-07 18:26] ymao1 commented on #138316
Closing as POC has been shared for internal feedback. Since the POC indicates no severe blockers for implementation, we will tackle implementation once phase 1 is complete and standardized fields are determined.

[2022-09-07 18:26] #138316 closed

[2022-09-07 18:38] jamster10 commented on #140158
Hey @deepikakeshav-qasource! I hope yopre doing well!

I don't think this one is a bug, but rather expected outcome. We removed external alerts as a route in the application so it's impossible to route there.

What youre seeing is the application interpreting `externalAlerts` as the name of the host. You could put any string you want in that position in the url and it would do the same thing.

The

[2022-09-07 18:40] tsullivan commented on #140097
I left a reply on the discuss post to get more feedback

[2022-09-07 18:45] cqliu1 opened #140220 "[Canvas] Disable refresh interval in time filter"
**Kibana version:**
8.2.0+

There’s a button in the timepicker that allows the user to select a refresh interval, but this is a noop because the refresh interval can’t be set from the time filter element. We need to disable this button.

[2022-09-07 18:45] elasticmachine commented on #140220
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-07 18:48] jamster10 commented on #129697
Seems like negative times should simply not be allowed, even 0 or 1 seem like a bad a idea, 5 seconds seems reasonable but some queries don't even finish in 5 seconds  🤣  if theres a lot of data.

[2022-09-07 18:53] lcawl opened #140222 "[DOCS] Improve connectors content"
## Goals

* Make it easier to find all the connector configuration (reference) information at appropriate point of use
* Remove outdated or redundant information

## Units of work

- [ ] Interim cleanup: Clarify method for creating connectors and how/when to use preconfigured settings per https://github.com/elastic/kibana/issues/100268
    - [ ] Add tasks about creating and managing connectors fro

[2022-09-07 18:53] elasticmachine commented on #140222
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-07 18:58] ymao1 commented on #104745
@doakalexi Did you fix this for another issue?

[2022-09-07 18:59] 1Copenut commented on #139773
@gbamparop Great questions! There is a plan, and it's big and it's ambitious. The `tl;dr` version is QA and accessibility specialists want to bring automated a11y tests to all Kibana products.

I've started a meta issue #139956 to capture the three main workstreams for this project.

Adding this custom `violations` callback and string for reporting-only tests gives us a unified way to start adding

[2022-09-07 19:00] doakalexi commented on #104745
Yes I did! Here is the issue https://github.com/elastic/kibana/issues/128041

[2022-09-07 19:01] #104745 closed

[2022-09-07 19:05] mholttech commented on #123550
This is impacting our ability to load OOB dashboards installed by Fleet Integrations to additional Spaces causing us significant issues in onboarding new customers in my company. Release Notes for 8.0.0 stated that this would be fixed in 8.0.1/8.1.0 but here we are at 8.4.1 and this continues to persist. Can we get an ETA on when this BUG will be fixed?

[2022-09-07 19:32] vitaliidm commented on #136178
@rylnd , if I understand correctly the proposal is keeping in rule object instead of `saved_id` a new property, let's say, `saved_query_name`?
We would need a migration to move existing rules from `saved_id` to `saved_query_name` then?

Rule with **saved_query** type always uses saved query and saved query filters while executing. So to display actual values, we would need to fetch saved query and

[2022-09-07 19:35] pradeep577 commented on #131778
This is good request so we dont have to parse 10 pages... I was directed here by support Case Update for #01026854.

Please consider this a feature request. Kindly give us option to manage the fields via GUI and not through code.

[2022-09-07 19:50] michaelolo24 commented on #138382
Thanks @logeekal! Closing this issue

[2022-09-07 19:50] #138382 closed

[2022-09-07 19:54] #136798 closed

[2022-09-07 19:55] #135550 closed

[2022-09-07 20:05] lcawl commented on #100268
These are all really good recommendations, thanks!  We're aiming to massively overhaul the connector pages (and alerting at large) and the phases are shown at a high level in https://github.com/elastic/kibana/issues/140222.  I will integrate these suggestions into the meta-issue too.

[2022-09-07 20:15] smith commented on #139341
Taking this out of the refining column because it's blocked.

[2022-09-07 20:41] michel-laterman opened #140225 "[Fleet] show upgrade retries"
Part of the proposal for https://github.com/elastic/elastic-agent/issues/778 would be to allow agents to retry certain actions (starting with the `UPGRADE` action).
In https://github.com/elastic/kibana/issues/139704 we suggest adding a new `upgrade_status` attribute to the agent documents in order to show when an agent is updating, or has completed its update.
When an agent is scheduled to retry a

[2022-09-07 20:41] elasticmachine commented on #140225
Pinging @elastic/fleet (Team:Fleet)

[2022-09-07 20:49] matthiasledergerber commented on #140192
op here,

The issue above in the Screenshot looks very much like the issue we encounter.

We are encountering this issue since about Kibana 8.4.0. It only happens on the table view while initially loading the dashboard. Reproduction of the issue is possible. Not deterministic. The dashboard is sometimes blank, sometimes, content sometimes "aborted".
Elastic-Stack 8.4.0 Cluster with 7 Nodes, 2 Kiba

[2022-09-07 20:52] elasticmachine commented on #131778
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-07 21:03] ymao1 commented on #90931
This should probably be split up into several steps:
* Move server side code from `actions/server/built_in_action_types` into new plugin
* Move client size code from `triggers_actions_ui/public/built_in_action_types` into new plugin
* Split functional test suites

[2022-09-07 21:48] FrankGutierrez commented on #140131
We have noticed this in our environment too on 8.4 and would like to have control filter pills working with drill downs.

[2022-09-07 23:07] elasticmachine commented on #139954
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-07 23:08] elasticmachine commented on #139952
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-07 23:23] #139425 closed

[2022-09-07 23:35] andrewctate commented on #137057
I'm mulling what the interface should do if the user adds an "extra" breakdown in this manner and then turns off collapse-by. Do we kick the last dimension off? Maybe warn the user with a modal?

[2022-09-08 01:18] flash1293 commented on #137057
I think it should render an error in the workspace (you can do this via vis validation “getErrorMessage”) to prompt the user to delete a dimension manually

[2022-09-08 03:20] axw commented on #134971
@joshdover that would solve our immediate needs for routing data to different APM data streams.

Between when I opened this issue and now, there have been some conversations going on about potentially using APM Server's OTLP intake for receiving infrastructure metrics and logs. For that use case, we would ideally want to use document-based ingest routing mentioned by Felix above, to send logs/metr

[2022-09-08 03:49] lukeelmers commented on #139947
What exactly are we looking for here? This meta issue doesn't seem to link out to anything or have concrete use cases, so it's hard to tell which team should own it.

[2022-09-08 03:56] lukeelmers commented on #139949
By "kibana routes" do you mean all routes that are created in the browser? If so, those aren't stored in a centralized way: each application is mounted independently from a base path for that app, and the app can create any number of routes which kibana's core is unaware of.

[2022-09-08 04:11] romain-chanu commented on #137368
Also related to https://github.com/elastic/elasticsearch/issues/86606

[2022-09-08 04:24] lukeelmers commented on #139956
Heya @1Copenut - love that you are looking to bring automated accessibility tests to Kibana! This is exciting stuff and I think would be a huge win.

Looks like you've opened a flurry of issues with some very specific, prescriptive asks. I'm wondering if it might be better to step back and have a chat with someone from the Kibana platform team about your goals here so that we can recommend a path

[2022-09-08 04:51] lukeelmers commented on #140122
Just to make sure I understand the plan here, the idea would be to add a global var that EUI would then check to determine whether to throw errors from any given component that doesn't have the right provider in their tree? Would this only be running in dev mode?

Note that a change like this would also affect any 3rd party plugin which uses EUI.

[2022-09-08 06:06] pgayvallet commented on #140122
How exactly? Would this throw in FTR tests, or are we speaking about manual/human testing / detection here?

[2022-09-08 06:17] pgayvallet commented on #140173
IIRC, the reasoning to not add the `cloud` plugin to the list of disable-able plugins was that is wasn't necessary:
- the plugin is aware of whether we're running on cloud or not, and therefor can decide which features it needs to enable / logic it needs to execute accordingly.
- consumers can rely on the `cloudSetup.isCloudEnabled` property to follow the same logic.

So, to reverse the question:

[2022-09-08 06:43] #138604 closed

[2022-09-08 07:03] deepikakeshav-qasource commented on #140158
Hi @jamster10 ,

I am good!! Hope the same for you!!

Thank you for providing the detailed information!!

We can navigate the user to host/user/network page when user enter the old external tab URL manually.

**For instance:**
![image](https://user-images.githubusercontent.com/61860752/189056557-5308a6de-bcad-4de2-8486-bdcc028d1d3d.png)

Thanks!!

[2022-09-08 07:10] #133994 closed

[2022-09-08 07:13] sebelga commented on #115307
I'll leave that decision to the @elastic/platform-deployment-management team 😄

[2022-09-08 07:29] orouz opened #140240 "add UI feature control tests"
in #134564 we've added our plugin as part of the security solution [feature controls](https://www.elastic.co/blog/introducing-kibana-feature-controls-curating-and-securing-feature-access)

we should test users ability to view/edit matches their assigned privileges.
currently we only limit users with `read` privileges from updating rules:
https://github.com/elastic/kibana/blob/d804a8421e5f892393761

[2022-09-08 07:29] elasticmachine commented on #140240
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-08 07:29] jlind23 commented on #139704
I think that would be the best option.

[2022-09-08 07:32] kibanamachine opened #140241 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/group2/embeddable/dashboard·js - maps app embeddable embed in dashboard should apply new container state (time, query, filters) to embeddable"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20604#01831bd3-5bf4-47da-ad85-0611c026a428)

[2022-09-08 07:35] jennypavlova commented on #135874
Notes (for myself this time 😄):
- `EuiScreenReaderOnly` route level use document title (double check if it can be accessed there?)
   - set `focusRegionOnTextChange` to true ( Make sure that there is no autofocus on other elements - like the search in inventory)
- Implement `skipLink`
- Make sure the sub-pages routes are announced as well
- Unit testing - check focus
-

[2022-09-08 07:57] flash1293 opened #140243 "Do not block dashboard SO loading on default data view loading"
In
https://github.com/elastic/kibana/blob/00c8cf9e56860b681f0b86a3299cd8d077cf9c7f/src/plugins/dashboard/public/application/hooks/use_dashboard_app_state.ts#L148
and

https://github.com/elastic/kibana/blob/00c8cf9e56860b681f0b86a3299cd8d077cf9c7f/src/plugins/dashboard/public/application/hooks/use_dashboard_app_state.ts#L154

first, the request is done to check whether there is data. Then, the defa

[2022-09-08 07:57] elasticmachine commented on #140243
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-08 07:59] kibanamachine opened #140244 "Failing test: Accessibility Tests.test/accessibility/apps/filter_panel·ts - a11y tests using flights sample data Filter panel a11y test on invert inclusion of all filters view"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/20606#01831c13-ed1a-4bb4-b41f-f17d84b40413)

[2022-09-08 08:05] miltonhultgren commented on #139924
I like the idea of trying to make it "one overlapping dataset" rather than working around having two datasets.

[2022-09-08 08:21] deepikakeshav-qasource opened #140247 "[Security Solution] Timeline Drag and drop area is displaying on alerts page"
**Describe the bug**
Timeline Drag and drop area is displaying on alerts page

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to security > Alert page
2. Scroll the page
3. observe that Timeline Drag and drop area is displaying

**Actual Result**
Timeline Drag and drop area is displaying on alerts page

**Expected Result**
Timeline Drag an

[2022-09-08 08:21] kertal commented on #140192
Ok, we triaged and reproduced it. It's a race condition, when fetching of data is finished before  then the rendering of the saved search is triggered the first time. working on a fix

[2022-09-08 08:21] elasticmachine commented on #140247
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-08 08:36] ruflin commented on #139924
The mental model I have is, if it is the same dataset, it should go into the same data stream. AFAIK apm-server today has a limitation to only be able to send data to metrics-apm.* but it is something also under discussion in the context of otel host metrics (@lalit-satapathy , @axw ).

Historically there have been a lots of back and forth between if we should have 10 different system metrics data

[2022-09-08 08:38] #137741 closed

[2022-09-08 08:48] aarju commented on #140017
I figured out what I was doing wrong. The Response from the webhook has to be a json and I was sending a `200 OK` response from the webhook. After I changed the response to `{}` the connector works.

I think the only bug here is that the error code could be more descriptive. When testing the webhook connector a better error code is provided that pointed to what was wrong.
<img width="1089" alt="Sc

[2022-09-08 08:48] kibanamachine opened #140248 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/pages/alerts/index·ts - ObservabilityApp Observability alerts Alerts table Flyout Can be opened"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20608#01831c1c-641e-4455-b071-b900f86d4c1e)

[2022-09-08 08:54] elasticmachine commented on #140247
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-08 09:02] dokmic opened #140249 "[Timepicker] Align the `timepicker:refreshIntervalDefaults` setting with the documentation"
After merging #66040, we have a schema definition for the `timepicker:refreshIntervalDefaults` setting, which is missing the `display` property.
This property is still present in the [documentation](https://www.elastic.co/guide/en/kibana/current/advanced-options.html#kibana-general-settings) example, but it doesn't seem to be used anywhere in the code.

We should either update the documentation or

[2022-09-08 09:02] elasticmachine commented on #140249
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-08 09:04] #135382 closed

[2022-09-08 09:09] muskangulati-qasource opened #140250 "[Security Solution] The message should not show filters need to be changed as no filter is applied"
**Description:**
The message should not show filters need to be changed as no filter is applied

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the three dots for an endpoint
3. Click on the

[2022-09-08 09:09] elasticmachine commented on #140250
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-08 09:09] muskangulati-qasource opened #140252 "[Security Solution] Any number after decimal is not allowed except zero for the timer"
**Description:**
Any number after decimal is not allowed except zero for the timer

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the three dots for an endpoint
3. Click on the launch respo

[2022-09-08 09:09] elasticmachine commented on #140252
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-08 09:09] muskangulati-qasource commented on #140250
@karanbirsingh-qasource please review!

[2022-09-08 09:16] lizozom opened #140253 "[BUG] Journeys close too early and events don't get sent"
Events don't have enough time to be sent to the server because the browser closes too quickly:

https://github.com/elastic/kibana/blob/fc517956b40387e53f067af63502732e5e896376/x-pack/test/performance/journeys/flight_dashboard/flight_dashboard.ts#L56

[2022-09-08 09:16] Dosant commented on #140249
@dokmic, I am not sure what `display` was for. Also, if I am ready this right, `display` was already not supported in https://github.com/elastic/kibana/pull/66040. If you'd set it, you'd not get any effect.
Maybe we should just update the documentation

[2022-09-08 09:16] flash1293 commented on #140253
Related: https://github.com/elastic/kibana/pull/140074#discussion_r964956844

[2022-09-08 09:23] flash1293 opened #140254 "[Lens][Query Annotations]Respect date format advanced setting"
Respect the existing advanced setting for date format for the detailed timestamp in the tooltip

[2022-09-08 09:23] elasticmachine commented on #140254
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-08 09:24] #139423 closed

[2022-09-08 09:25] #140003 closed

[2022-09-08 09:31] dgieselaar opened #140255 "[APM] Use _force_synthetic_source instead of fakeSyntheticSource"
We currently simulate synthetic source for metric documents by flattening and de-flattening _source. This is to get more guarantees about our UI being synthetic source-compatible. However, there is a better way to do this: Elasticsearch supports a `force_synthetic_source` [query parameter](https://github.com/elastic/elasticsearch/pull/87068) that enforces re-hydration of _source in Elasticsearch.

[2022-09-08 09:31] elasticmachine commented on #140255
Pinging @elastic/apm-ui (Team:APM)

[2022-09-08 09:57] #139925 closed

[2022-09-08 10:07] aarju commented on #140017
After fixing the Webhook's response I was still having an issue but only when I try to include the `{{{external.system.id}}}` variable in the `Add Comment` JSON. When I add it like this it breaks the json before it is ever sent to the webhook.
[code]

I found that I could get the webhook working by wrapping the `{{{external.system.id}}}` variable in quotes. This is not consistent with the other va

[2022-09-08 10:20] paulb-elastic commented on #130681
Lower priority than those defined in https://github.com/elastic/synthetics-dev/issues/146

[2022-09-08 10:21] harshitgupta-qasource opened #140258 "[Security Solution] Date Format should be correct under Action Log."
**Description:**
[Security Solution] Date Format should be correct under Action Log.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Endpoint should be Deployed.

**Steps to Reproduce:**
1. Navigate to the Endpoint tab under the Manage section from the left-hand side navigation bar
2. Click on view details icon for selected Endpoint.
3.

[2022-09-08 10:21] elasticmachine commented on #140258
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-08 10:21] elasticmachine commented on #140258
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-08 10:31] dasansol92 commented on #140154
PR: https://github.com/elastic/kibana/pull/140261

[2022-09-08 10:39] banderror opened #140263 "[Security Solution] Persistent Rules table state"
**Related to:** https://github.com/elastic/kibana/issues/126085, https://github.com/elastic/kibana/issues/126086

## Summary

Currently, when the user refreshes the Rule Management page or navigates to another page, the state of the Rules table gets lost. When the user returns to the Rule Management page, they need to recover their filters, sorting, pagination, etc from scratch.

We want to:

1. M

[2022-09-08 10:39] elasticmachine commented on #140263
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-08 10:39] elasticmachine commented on #140263
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-08 10:41] muskangulati-qasource commented on #140258
Reviewed & assigned to @kevinlog

[2022-09-08 10:48] kibanamachine commented on #139762
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20616#01831c8a-48bf-4d8a-b714-893e0f687ba8)

[2022-09-08 10:57] efegurkan commented on #139773
I have added a PR to include a custom reporter.

[2022-09-08 10:59] rockdaboot opened #140266 "[KQL] Improve support for 'ip' type fields"
**Describe the feature:**
The autocomplete feature of KQL input field does not support expanding on the value of `ip` type fields.
Having this feature would improve UX.

**Describe a specific use case for the feature:**
The profiling part of APM (hopefully the technical preview comes as part of ES 8.5) allows the user to filter by field and field values.
Examples for the fields are `host.name`, `h

[2022-09-08 10:59] #111193 closed

[2022-09-08 11:00] elasticmachine commented on #140266
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-08 11:05] karanverma-qasource commented on #139889
Hi @banderror,

I have used small runtime like 10 seconds with non existing index, and  `Empty string` entry came, can you please check this with small runtime. Please let us know if are missing something.

![image](https://user-images.githubusercontent.com/91867110/189106605-94b733e5-f5d9-4933-9102-50f809fad36a.png)

![image](https://user-images.githubusercontent.com/91867110/189106682-16bd5f99-e

[2022-09-08 11:16] juliaElastic opened #140267 "[Fleet] Agent activity flyout"
UI changes coming out of https://github.com/elastic/fleet-server/issues/1660
Given the changes of bulk actions, the execution of large agent batches are going to be async, so the users are not immediately notified of the action outcome.
In order to improve the UX, there is going to be a new Flyout added on Agent list, to show the progress of the user actions.

[Figma designs](https://www.figma.com

[2022-09-08 11:16] elasticmachine commented on #140267
Pinging @elastic/fleet (Team:Fleet)

[2022-09-08 11:22] juliaElastic commented on #140267
@jen-huang @kpollich As discussed with Jen, created a separate issue for the Agent activity UI changes, separated stretch goals out. Please review.

[2022-09-08 11:27] kevinlog commented on #140252
@muskangulati-qasource I think this one is the behavior of the timer component itself, so I don't believe this is a bug and is expected. We can close this one

[2022-09-08 11:28] samratbhadra-qasource opened #140269 "[Security Solution]: Extra unnecessary space under create case button on the create case page."
**Describe the bug:**
Extra unnecessary space under create case button on the create case page.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Cases tab.
2. Click on create case button.
3. Under create case page, scroll down.
4. Observe that extra unnecessary space under create case button on the create case page.

**Actual Result*

[2022-09-08 11:28] elasticmachine commented on #140269
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-08 11:31] #137310 closed

[2022-09-08 11:42] crespocarlos commented on #123508
Sounds like a good plan. I'll open a ticket for that.

[2022-09-08 11:46] bwatkiss opened #140271 "Storage All Summary Dashboard"
**Kibana version:** - 7.17.1

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** The Storage All Summary Dashboard is not pulling in all the devices, only 90 devices are being pulled in and there should be close to 300 devices being pulled in.

**Steps to

[2022-09-08 11:47] bwatkiss commented on #140271
I am part of the Storage team for CVSHealth

[2022-09-08 11:52] bwatkiss commented on #140271
FYI- Bellenoit, Daniel J. use to help us with issues for this Dashboard, but I think he left.

[2022-09-08 11:54] banderror commented on #140156
@yctercero Of course. Alright, I added it to both backlogs.

[2022-09-08 11:57] bwatkiss commented on #140271
The last successful attempt at pulling the data for this dashboard was done at beginning of August, a little over a month ago, so something has changed in the past month, where not all the data is being pulled in.

[2022-09-08 11:57] amolnater-qasource commented on #135194
Hi Team
We have revalidated this feature on latest 8.5 SNAPSHOT and found it **working fine** now.
- 10k Agents goes to updating state on assigning to new policy.
- After sometime all agents gets back to healthy state.

**Build details:**
BUILD: 56016
COMMIT: a93f5d9986a19277826c9e35a37ccb984caeabcc

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/189114249-a1b0f9f1-98bc-

[2022-09-08 11:57] #135194 closed

[2022-09-08 12:03] banderror commented on #140180
@vitaliidm Thanks, I re-read the ticket and comments there, and now I get it 👍

Let's discuss the options we have when someone starts working on a fix.

[2022-09-08 12:10] azasypkin opened #140274 "Migrate Spaces Selector to a new `KibanaPageTemplate` component"
## Summary

According to https://github.com/elastic/kibana/pull/139524#issuecomment-1233424768 we need to migrated Spaces Selector to a new `KibanaPageTemplate` component (provided by `@kbn/shared-ux-page-kibana-template`).

The deprecated `KibanaPageTemplate` we rely on right now will be removed by **August 2023**.

[2022-09-08 12:10] elasticmachine commented on #140274
Pinging @elastic/kibana-security (Team:Security)

[2022-09-08 12:17] jasonrhodes commented on #139924
I could be wrong, but I think having something like this would be the only way this type of system could reliably work without causing complexity in the UI regardless. Without that, we can search across metrics-* for host-related documents, but we end up with a situation like this:

* **Integration A** reports data about a running host. It sends system metrics for **CPU, memory, and network traffi

[2022-09-08 12:23] afharo commented on #140173
* IMO, smaller bundle size.
* consumers already use `cloudSetup?.isCloudEnabled` across Kibana.
* if a plugin should only run on `cloud`, it can set it as a required dependency and it won't load (smaller bundle size++).
* simplification of the code in the `cloud` plugin (it's polluted with tons of `if (this.isCloudEnabled)`).
* `cloud` also exposes other APIs like `cloudSetup.instanceSizeMb`. Cons

[2022-09-08 12:29] prachigupta-qasource commented on #123904
Hi @juliaElastic,

We have re-validated the scenario shared by you on **latest 8.5.0 SNAPSHOT** Kibana Staging Environment and found that it's **working fine**.

**Build details:**

[code]

**Below are the observations:**

**Scenario 1:**

- Create a policy, say Policy 1
- Add 'Windows' integration
- Navigate to Stack Management > Tags page
- Delete the 'Windows' integration tag
- Delete the above

[2022-09-08 12:33] elasticmachine commented on #140269
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-08 12:33] elasticmachine commented on #140269
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-08 12:40] #139977 closed

[2022-09-08 12:47] jsanz commented on #140244
@bhavyarm should this failed test to be assigned to the QA or the Operations team?

[2022-09-08 12:51] flash1293 opened #140277 "[TSVB / VEGA / TABLE] UI render counter doesn't track renders"
**Kibana version:** 8.4.0

**Describe the bug:** There are no ui counter events collected for TSVB renders.

**Steps to reproduce:**
1. Go to a dashboard with TSVB vis
2. Check `_report` request
3. No TSVB counters

**Expected behavior:**
TSVB counters should be included.

**Any additional context:**

The `usageCollection` is always undefined, that's why the logic is skipped: https://github.com/el

[2022-09-08 12:51] elasticmachine commented on #140277
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-08 12:54] elasticmachine commented on #140244
Pinging @elastic/kibana-qa (Team:QA)

[2022-09-08 12:54] jsanz commented on #140271
@bwatkiss thanks for reporting Have you contacted the Elastic support team about this issue? This feels more something the Support Engineers could help you with.

[2022-09-08 13:00] smith commented on #128643
Closing this. If we do need to show some messaging we'll open a more specific issue at that time, otherwise we'll just show data that doesn't need a message.

[2022-09-08 13:08] #128643 closed

[2022-09-08 13:08] elasticmachine commented on #140248
Pinging @elastic/kibana-qa (Team:QA)

[2022-09-08 13:12] juliaElastic commented on #139704
Added an open task to issue description to come back to the workaround discussed [here](https://github.com/elastic/kibana/pull/140078#issuecomment-1239398455) after FF.

[2022-09-08 13:15] rudolf commented on #118192
I'm going to close this because it's hard to write useful documentation without knowing exactly what error logs a user might see. If we run into another occurrence of this problem we can re-open this issue.

[2022-09-08 13:16] lizozom commented on #140028
I would suggest adding a `meta` parameter to distinguish these flow. There's more about it in the [docs](https://github.com/elastic/kibana/blob/main/dev_docs/tutorials/adding_performance_metrics.mdx).

[2022-09-08 13:16] elasticmachine commented on #140248
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-08 13:20] smith commented on #133338
Closing this. We'll be providing this functionality in the future by providing packages with dashboards that can be manipulated as described above.

[2022-09-08 13:20] #133338 closed

[2022-09-08 13:23] flash1293 opened #140279 "Add functional tests for ui counters"
Ui counter telemetry for renders are an important part of telemetry, so we should make sure they are functioning as intended. For this reason a new functional test suite should be created to do a basic check whether events are counted as expected: Loading a dashboard with various kinds of panels, then checking whether the expected events are counted.

We have to figure out a stable way to assert t

[2022-09-08 13:28] jbudz commented on #139762
/skip

[2022-09-08 13:28] kibanamachine commented on #139762
Skipped

main: 4c3d562a73daf62c35e7a14339ca413ac12406b3

[2022-09-08 13:32] pgayvallet commented on #140173
Fair one.

FWIW, that's not how our plugin dependency system works. In such scenario, Kibana would just refuse to start.

Not gonna disagree on this one, but these checks are only here because of bad architectural / API design ihmo. It could be worked around by wrapping the cloud API altogether and just not returning it at all from the plugin's contracts when not in cloud, as some bridge plugins a

[2022-09-08 13:42] nchaulet opened #140280 "[Fleet] Upgrade dry run errors should not block package editor UI"
## Description

When an error happen in the upgrade dry run call this block the UI.

Like this for example

<img width="878" alt="Screen Shot 2022-09-08 at 9 40 48 AM" src="https://user-images.githubusercontent.com/1336873/189137418-c9268b28-ba17-427f-a20c-5de775ce20f6.png">

We should probably still render the UI, I am also wondering why we call the dry run upgrade on package edit?

## How to rep

[2022-09-08 13:42] elasticmachine commented on #140280
Pinging @elastic/fleet (Team:Fleet)

[2022-09-08 13:44] flash1293 opened #140281 "[Lens][Query annotations] Inspector data table integration"
The annotation table should show up in the inspector next to the data series tables

[2022-09-08 13:44] elasticmachine commented on #140281
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-08 13:51] #138591 closed

[2022-09-08 13:54] kdelemme opened #140282 "[Actionable Observability] Refactor types"
## 📝 Summary

Part of #137323

We currently have some duplication of types between the model definition (under `/types/models`) and the API definition (under `/types/schema`).
We could introduce some common base schemas for the SLO and SLI, and then define the API and model schema

## ✅ Acceptance Criteria

- [ ] Duplication is removed.

[2022-09-08 13:54] elasticmachine commented on #140282
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-08 13:59] #137658 closed

[2022-09-08 13:59] andrewctate commented on #137057
<img width="437" alt="Screen Shot 2022-09-08 at 8 58 14 AM" src="https://user-images.githubusercontent.com/315764/189141590-9fa79c84-4b4f-42e5-ad5c-e722a01557f0.png">

Is the idea that the user could collapse by any/all of these dimensions (i.e. the collapse setting functions per-column)?

[2022-09-08 14:06] terrancedejesus commented on #139926
Reading over this, I have a few questions that will help me have a better understanding of what actions TRADE needs to take on our end.

1. Will the latest pre-built detection rules package need to be at the CDN prior to creating a PR to Kibana to update the `fleet_packages.json` file? Typically we update Kibana and then the integration package, so we I want to confirm we need to re-arrange the or

[2022-09-08 14:10] flash1293 commented on #140197
sounds good. We should discuss with @ppisljar how to implement it. There are a few ideas

[2022-09-08 14:12] gbamparop opened #140288 "[APM] calculateThroughput function is identical to calculateThroughputWithRange"
[calculateThroughput](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/lib/helpers/calculate_throughput.ts#L11) function is deprecated and identical to [calculateThroughputWithRange](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/lib/helpers/calculate_throughput.ts#L24).

We should remove it in favour of `calculateThroughputWithRange`.

[2022-09-08 14:12] smith commented on #115235
This is shipping as beta in 8.5. Closing this issue. We can prioritize any follow-up issues as needed.

[2022-09-08 14:12] #115235 closed

[2022-09-08 14:15] pmeresanu85 commented on #126999
@katrin-freihofner could you please check if there is anyone who could assist with the team here?

[2022-09-08 14:18] clintandrewhall commented on #140122
@lukeelmers That's the idea, yes.  @thompsongl has a draft PR, above.

I think limiting it to dev mode and functional tests is fine.  In terms of 3rd party plugins, if they don't have the context, they can't honor dark mode, either.  So they also don't have a way of knowing they're "broken".  I'm open to suggestions about how to better mitigate.

@spalger and I spoke about whether to log/warn or t

[2022-09-08 14:20] #121605 closed

[2022-09-08 14:20] pmeresanu85 commented on #121605
Closed as duplicate of https://github.com/elastic/kibana/issues/121261

[2022-09-08 14:23] juliaElastic opened #140290 "[Fleet] Add workaround for upgrade_status not updated to completed if client runs a FS old version"
Related to https://github.com/elastic/kibana/issues/139704

Add fix for the edge case when clients might use the new kibana version with old FS version.
To avoid leaving the agent in `upgrade_status: started` state, kibana could do a check that `upgraded_at > upgrade_started_at` and update `upgrade_status: completed` as a fallback.
We could do this as a scheduled task or some other place (maybe` /

[2022-09-08 14:23] elasticmachine commented on #140290
Pinging @elastic/fleet (Team:Fleet)

[2022-09-08 14:31] pmeresanu85 commented on #133135
Added the enhancement label on this one

[2022-09-08 14:34] flash1293 opened #140293 "[Lens] Add filter buttons to field popovers"
To be consistent with Discover, after https://github.com/elastic/kibana/pull/139072 is merged the `onAddFilter` callback should be provided to the field popover component so filter buttons are shown

[2022-09-08 14:34] elasticmachine commented on #140293
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-08 14:38] EricDavisX opened #140294 "Rule Details incorrectly shows first connector of a given type in summary list"
**Kibana version:** 8.4.1 GA and 8.5.0-SNAPSHOT
 - Tested on Cloud deploy

**Describe the bug:**
Note: this is only seen If the system has multiple connectors of the same type - like 2 or 3 different email connectors for instance.  The bug is: is user sets the 2nd webhook connector listed (alphabetically) in a rule, when you save and view it the detail summary listing all of the different connecto

[2022-09-08 14:39] lizozom commented on #140196
I would also suggest adding `meta` fields for a `fileid` or a hash of the `filename`, so you can count the files.

[2022-09-08 14:46] pmeresanu85 commented on #133123
@miltonhultgren looking at the container level the metrics we should show would be:

Kernel

Metric: docker.cpu.kernel.pct

Description: The total amount of kernel time, expressed in CPU utilization percentage, that CPU is busy executing system calls on behalf of the application.

User

Metric: docker.cpu.user.pct

Description: The total amount of user time, expressed in CPU utilization percentage

[2022-09-08 14:52] Dosant commented on #140266
As mentioned in the description, currently we don't even send a suggestions requests because we early return here:

https://github.com/elastic/kibana/blob/8c760aca269761137c389985ae4292061077141d/src/plugins/unified_search/public/autocomplete/providers/value_suggestion_provider.ts#L110

I tried to fallback to terms agg, but also no luck because `include` for ip types doesn't support wildcards

htt

[2022-09-08 14:53] MichaelMarcialis commented on #110298
Are you saying in situations where there is no selected quick function (such as when a user manually adds a dimension to a visualization layer, prior to a field being selected) that we continue to show it in its unselected state when transitioning from formula to quick functions? If so, yes, I believe that makes sense.

However, if a field has indeed been selected, I fear that allowing the quick f

[2022-09-08 14:53] EricDavisX opened #140296 "Rule detail view summary of actions list is incomplete"
**Kibana version:** 8.4.1 GA and 8.5.0-SNAPSHOT
Tested on cloud deploy

**Describe the bug:**
If the Rule users multiple of the same connector type, the 2 places where we show the summary of actions will list only one of them.  Is this correct in both cases?
 - the top 'Actions' summary next to the rule it may suffice as we only show the action type.
 - the right hand side listing of individual co

[2022-09-08 14:54] elasticmachine commented on #140296
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-08 15:04] flash1293 commented on #110298
Yes, exactly

Agreed.

I think we are on the same page here, I will try to implement this (there are some code structure issues with this, this is why we split it out back then) and open a PR where we can iterate in case it's necessary

[2022-09-08 15:12] dasansol92 commented on #137577
I'm closing this since the [pr](https://github.com/elastic/kibana/pull/139618) has been merged. Let me know if anything else is needed from our end. Thanks!

[2022-09-08 15:12] #137577 closed

[2022-09-08 15:15] gbamparop opened #140300 "[APM] Synthtrace: Write targets of service latency aggregator are not cleaned when using --clean"
[Write targets](https://github.com/elastic/kibana/blob/8c760aca269761137c389985ae4292061077141d/packages/kbn-apm-synthtrace/src/lib/apm/aggregators/service_latency_aggregator.ts#L98) of service latency aggregator are not cleaned when using `--clean` (`metrics-apm.service-default` is not deleted).

[2022-09-08 15:15] elasticmachine commented on #140300
Pinging @elastic/apm-ui (Team:APM)

[2022-09-08 15:20] lukeelmers commented on #140122
In that case, if we want to take an approach like this, I'd recommend limiting it to functional tests. Aside from community plugins, we have large customers who build their own 3rd party plugins too, some likely with EUI. I don't think it's a great idea to introduce a hard break for all plugins if it can be avoided. So if we can have this limited to functional tests (which won't affect 3rd party p

[2022-09-08 15:20] pmeresanu85 commented on #133123
@miltonhultgren i believe we are missing key metrics memory saturation, NW Utilisation and DiskIO. Can't speak for others but I am happy to share with you what I believe we should add (based on input from our own SRE team)

[2022-09-08 15:23] #136029 closed

[2022-09-08 15:27] JordanSh opened #140303 "[Cloud Posture] Get shared rules shared values from integration"
## Follow up on - https://github.com/elastic/kibana/issues/138789

At the linked task, we are asked to display the `Integration`, `Type`, and `Benchmark` in a shared values UI.

The `short name` for the `Integration` should probably come from the integration itself since we would prefer not to hold and maintain a map in the FE which decides short names for our integrations.
Similarly, We might wan

[2022-09-08 15:28] elasticmachine commented on #140303
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-09-08 15:31] semd opened #140304 "[Ssecurity Solution] POC hover actions in embedded dashboards"
## Summary:

Create a POC including the "add to timeline" hover action in the Kibana dashboard using the current (old) component:
`getDashboardContainerByValueRenderer`

[2022-09-08 15:31] elasticmachine commented on #140304
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-08 15:37] elasticmachine commented on #139989
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-08 15:42] XavierM commented on #134382
@shanisagiv1, I agree with you but discussing with the team, I think we can also add a stack monitoring rule to do that in the mean time. We just need to figure out what is the priority and what we can do.

[2022-09-08 15:42] #139231 closed

[2022-09-08 15:44] XavierM commented on #136050
ok I want over it again, I think that we already offering a way to refresh the table every amount of times. We think that's sufficient enough for now to get the last update around a rule.

<img width="457" alt="image" src="https://user-images.githubusercontent.com/189600/189166343-ee2fc66b-4920-47b9-9562-689b4b362ae0.png">

[2022-09-08 15:44] #136050 closed

[2022-09-08 15:45] mikecote commented on #140296
cc @XavierM seems related to recent changes to the rule details page?

[2022-09-08 15:54] wayneseymour opened #140307 "Login Page does not show "Global" banner (set in kbn server args)"
**Kibana version:**
latest main

**Elasticsearch version:**
latest main

**Server OS version:**
Mac OS X

**Browser version:**
Latest MSFT Edge

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
from source
**Describe the bug:**
Login Page does not show global banner

**Steps to reproduce:**
1.  Set global banner via server args:
[code]
2. Login

**

[2022-09-08 15:54] elasticmachine commented on #140307
Pinging @elastic/kibana-core (Team:Core)

[2022-09-08 15:59] #132045 closed

[2022-09-08 16:00] wayneseymour opened #140309 "Space Selector should show the global banner instead of the default space banner"
**Kibana version:**
latest main

**Elasticsearch version:**
latest main

**Server OS version:**
Mac OS X

**Browser version:**
Latest MSFT Edge

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
from source
**Describe the bug:**
Space Selector shows the global banner set via kbn server args:
[code]
**Steps to reproduce:**
1.  Set "global" banner tex

[2022-09-08 16:02] Zacqary commented on #137995
As per discussion in Slack with @ymao1, we're not limiting this switch to superusers, we're just adding a toggle switch and relying on authorization filters to show whatever the currently logged in user is allowed to see, just not filtered by namespace.

[2022-09-08 16:13] mikecote commented on #113334
Closing as done!

[2022-09-08 16:13] #113334 closed

[2022-09-08 16:15] #113747 closed

[2022-09-08 16:16] JiaweiWu commented on #140296
We added this component in 8.4. I can take a look at this

[2022-09-08 16:18] mikecote commented on #114148
Closing issue for now until we have concrete requirements.

[2022-09-08 16:18] #114148 closed

[2022-09-08 16:19] ThomThomson commented on #140304
Looks great! We should also note that the current `getDashboardContainerByValueRenderer` will be replaced soon, but if you use it for a POC before the renderer is replaced, we will upgrade it in place for you.

[2022-09-08 16:24] #114497 closed

[2022-09-08 16:24] Heenawter opened #140311 "[Shared UX] Fullscreen does not exit when back button is pressed"
**Describe the bug:**
When migrating Dashboard over to the new Shared UX `ExitFullScreenButton` component from the old Kibana React `ExitFullScreenButton`, I found that clicking the back button on the browser no longer exits fullscreen mode as it used to.

**Steps to reproduce:**
1. Navigate to the Maps listing page (note that this is the only plugin that is using the new version for now, since I

[2022-09-08 16:27] dmlemeshko opened #140312 "Functional test runner: add possibility to redirect server logs into the file"
We use FTR to [run](https://github.com/elastic/kibana/blob/main/x-pack/test/performance/scalability) Kibana server scalability benchmarking and that includes managing ES and Kibana servers.

While running these benchmarks the log output is impressively huge and it complicates viewing run logs (especially on CI). Since we might need the logs for later investigation, it would be helpful if FTR can c

[2022-09-08 16:28] elasticmachine commented on #140312
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-08 16:36] ymao1 commented on #101739
Closing in favor of https://github.com/elastic/kibana/issues/115099

[2022-09-08 16:36] #101739 closed

[2022-09-08 16:36] mikecote commented on #116454
Closing as done recently by adding functional tests to telemetry.

[2022-09-08 16:36] #116454 closed

[2022-09-08 16:47] mikecote commented on #118544
Closing for now as not needed, may be necessary when exploring graceful shutdowns.

[2022-09-08 16:47] #118544 closed

[2022-09-08 16:48] mikecote commented on #121334
Linking with https://github.com/elastic/kibana/issues/117521.

[2022-09-08 16:48] mikecote commented on #117521
Linking with https://github.com/elastic/kibana/issues/121334.

[2022-09-08 16:50] mikecote commented on #122548
Closing as we now display this information in the UI.

[2022-09-08 16:50] #122548 closed

[2022-09-08 16:54] mikecote commented on #122708
Closing as not necessary at this time given we have a functional test using `shard_delay`.

[2022-09-08 16:54] #122708 closed

[2022-09-08 17:00] #123275 closed

[2022-09-08 17:04] flash1293 commented on #138386
Done by elastic-charts update

[2022-09-08 17:04] #138386 closed

[2022-09-08 17:12] nreese opened #140317 "[Maps] percentile aggregation not working with vector tiles"
Steps to view problem
1) install sample web logs data set
2) create new map
3) add "Clusters" layer, and click "Add layer"
4) change aggregation to "percentile" on bytes field.
5) change "Resolution" to high. Notice how features are no longer displayed

Regression caused in 8.0 when switching over to Elasticsearch vector tiles.

[2022-09-08 17:12] elasticmachine commented on #140317
Pinging @elastic/kibana-gis (Team:Geo)

[2022-09-08 17:15] ThomThomson commented on #58228
Closing this issue for now, as the new [Controls](https://www.elastic.co/guide/en/kibana/master/add-controls.html) show up in the fullscreen view, and allow for a simplified interaction for non-technical users.

[2022-09-08 17:15] #58228 closed

[2022-09-08 17:16] ThomThomson commented on #61191
Closing this as I can confirm that it is no longer a problem.

[2022-09-08 17:16] #61191 closed

[2022-09-08 17:19] ThomThomson commented on #68057
Closing this in favor of https://github.com/elastic/kibana/issues/136680, because we decided not to collapse dashboard panels without warning, and are planning on allowing dashboard authors to organize their panels in better ways: e.g. Panel Groups, Tabs, to avoid filter selections causing `no data` on parts of the dashboard.

[2022-09-08 17:19] #68057 closed

[2022-09-08 17:28] ThomThomson commented on #69945
Closing this as can confirm that the time range is validated before it is applied:
![Validated timeRange](https://user-images.githubusercontent.com/14276393/189186982-b4230c02-233c-4e96-a006-fef92a4f2422.gif)

[2022-09-08 17:28] #69945 closed

[2022-09-08 17:34] ThomThomson commented on #69997
If we add a setting `auto select top option on first load` to the Options List Control, we can give the author a way to make the dashboard always load with a selection in place, without having to specify which option should be selected.

If we combine this with sorting options, we unlock a lot of potential features, like a Control always selecting the latest Date, or always selecting the first dep

[2022-09-08 17:34] 1Copenut commented on #139956
@lukeelmers I agree a conversation with the Kibana platform team is the right first step. I gambled a little on making the issue requests, so taking a step back and reviewing is a good call.

I will find some time on the calendars of folks mentioned here to discuss. Much appreciated!

[2022-09-08 17:35] ThomThomson commented on #74857
Closing this issue, as the new [Controls](https://www.elastic.co/guide/en/kibana/master/add-controls.html) support **hierarchical chaining** where controls on the left always filter controls on the right no matter how many controls are configured.

[2022-09-08 17:35] #74857 closed

[2022-09-08 17:37] cuff-links commented on #132628
Closed via https://github.com/elastic/kibana/pull/140234

[2022-09-08 17:38] ThomThomson commented on #132969
Closing this in favor of https://github.com/elastic/kibana/issues/140112 which describes adding the ability to pre-filter specific controls.

@robcowart - I'm not sure if you've found this yet, but the new version of [Controls](https://www.elastic.co/guide/en/kibana/master/add-controls.html) can be filtered by the global filter pills, the query bar, and the time range. In addition, Controls in the

[2022-09-08 17:38] #132969 closed

[2022-09-08 17:40] ThomThomson commented on #78622
Closing this as the sample data link is no longer present in the blank dashboard screen.

[2022-09-08 17:40] #78622 closed

[2022-09-08 17:41] ThomThomson commented on #84531
With the new [Controls](https://www.elastic.co/guide/en/kibana/master/add-controls.html) parent / child relationships work better. Closing this issue, as the legacy controls have been marked deprecated.

[2022-09-08 17:41] #84531 closed

[2022-09-08 17:43] ThomThomson commented on #70549
Keeping this open for now, as it could be possible in the future for us to add the new Controls system to Canvas, but we have not prioritized it at the moment.

[2022-09-08 17:47] ThomThomson commented on #94564
Labeled this one appropriately. This is part of a larger effort in aligning the use-cases for the dashboard iframe embedding feature, but we haven't prioritized it.

[2022-09-08 17:48] ThomThomson commented on #112967
Closing this in favour of https://github.com/elastic/kibana/issues/139733. We will be adding this feature to the new [controls](https://www.elastic.co/guide/en/kibana/master/add-controls.html) system

[2022-09-08 17:48] #112967 closed

[2022-09-08 17:53] ThomThomson commented on #139774
I am assigning this one an loe of `week` because I think it's important for us to build a system that can render read-only versions of the entire filter context as text.

This should include Query, Time range, filter pills and Control selections. In short, everything that might affect what is rendered on the dashboard. We should also make this optional, but selected by default.

[2022-09-08 18:01] 1Copenut commented on #139949
Yes, I'd like to see if there's a way to map all routes that are created in the browser for Kibana. I can appreciate this is tricky for apps that use client-side routing. The use case would be to map a11y test coverage and determine what routes do have automated a11y checks, and when new routes are added or reported.

[2022-09-08 18:16] ThomThomson commented on #96533
I am going to close this issue for now. This is not a Presentation team issue because it has to do with the contents of a type of panel, but no information is provided about which panel type.

Additionally, the number of steps required make this seem like a major edge case.

[2022-09-08 18:16] #96533 closed

[2022-09-08 18:20] ThomThomson opened #140329 "[Controls] Customize Decimal Places & Step Size On Range & Time Sliders"
**Describe the feature:**
We should allow dashboard authors to set the step size, and configure the number of decimal places for their range slider controls. This was supported in the legacy Controls, and should be supported in the new ones.

Related to https://github.com/elastic/kibana/issues/96341

[2022-09-08 18:20] elasticmachine commented on #140329
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-08 18:20] ThomThomson commented on #96341
Closing this in favour of https://github.com/elastic/kibana/issues/140329, which involves adding these customization options to the range slider in the new [Controls](https://www.elastic.co/guide/en/kibana/master/add-controls.html)

[2022-09-08 18:20] #96341 closed

[2022-09-08 18:30] ndmitch311 commented on #140329
The "related to", and recently closed ticket was submitted by a customer.  Please re-evaluate impact assessment.

[2022-09-08 18:33] Zacqary commented on #137995
I'm able to list rules from all spaces simply by removing the `namespaceQuery`  from the logs filter. The problems arise with:

- I can't easily look up the Rule Name from the Rule ID across a different space
- Clicking a link to the Rule would necessarily require switching Spaces, otherwise we get a Rule Not Found error

[2022-09-08 18:35] cuff-links commented on #139295
Closed by https://github.com/elastic/kibana/pull/140234

[2022-09-08 18:35] #139295 closed

[2022-09-08 18:52] mattkime commented on #139340
@miltonhultgren Yes, although these aren't necessarily mutually exclusive paths. What is the use case for loading a data view without the fields?

[2022-09-08 18:54] nreese opened #140332 "[Maps] cluster layer disappears when switching from resolution "high" to resolution "low""
Regression caused by https://github.com/elastic/kibana/pull/138275

Steps to view problem
1) Install sample web logs
2) create new map
3) add clusters layer, click add layer
4) change resolution to "high"
5) change resolution to "low". Notice how layer disappears.

https://github.com/elastic/kibana/pull/138275 added `this._descriptor = AbstractVectorLayer.createDescriptor(layerDescriptor);` to `Ab

[2022-09-08 18:54] elasticmachine commented on #140332
Pinging @elastic/kibana-gis (Team:Geo)

[2022-09-08 19:06] robcowart commented on #132969
@ThomThomson Unfortunately the new controls do not solve the filtering issue. In fact they are a step backwards from the existing Input Controls.

- The chaining is less flexible than being able select a parent in the previous Input Controls. As a result some of our dashboards will loose functionality if using the new Control.
- You also loose the ability to arrange the Controls vertically on dash

[2022-09-08 19:13] spalger commented on #140122
I was trying to take a shortcut in implementation by not making it configurable but this is a pretty great reason to only enable this in functional tests.

[2022-09-08 19:40] ThomThomson commented on #140329
Hi @ndmitch311, thank you for reaching out - and good point - the closed issue was opened by a customer, so I've raised this to `impact:medium` and edited the issue description.

That said, this is related to the new Controls system, which doesn't currently support the Decimal places setting at all - which is why I've created a new issue, rather than keeping the issue describing a bug with that se

[2022-09-08 19:44] ThomThomson commented on #129913
Closing this, because most of the issues have been solved!

[2022-09-08 19:44] #129913 closed

[2022-09-08 19:52] ThomThomson commented on #132969
Hi @robcowart, thanks for the feedback, and I'm glad you have used the new Controls. There are a number of initiatives in progress to address some of your feedback, but first I want to preface by saying that the legacy controls still exist, and will not be removed until long after we are confident that the new Controls work well for every use-case.

- **Chaining is less flexible** - Can you elabor

[2022-09-08 20:16] #140277 closed

[2022-09-08 20:26] bhavyarm commented on #139246
apologies this one slipped past me. I am attaching the har file. Cheers!
[har_graph_no_complete.har.zip](https://github.com/elastic/kibana/files/9530379/har_graph_no_complete.har.zip)

[2022-09-08 20:30] rshen91 commented on #140311
I'm investigating and I'm thinking aloud

I think something might have been missed with the prop `chrome=getCoreChrome()` refactoring from the previous ExitFullScreenButton kibana_react component. https://github.com/elastic/kibana/pull/126055 is the PR where maps refactored from the kibana_react exit full screen to the shared ux one.

My next steps are to investigate the Provider for the shared ux

[2022-09-08 20:50] spalger commented on #140153
Jest tests should never be flaky, skipped

main/8.5: https://github.com/elastic/kibana/commit/d3d994e42e2b55edf62adbf180515dcefab9a297

[2022-09-08 20:52] lukeelmers commented on #140173
++ This was the primary reasoning for not making plugins disable-able by default. The thinking was that unless there is a valid use case for for using it which could be tested separately (like an experimental new plugin), it only adds more complexity to the system.

IMO the two most compelling arguments for making the `cloud` plugin disable-able would be:
- bundle size
- avoiding loading any cloud

[2022-09-08 21:36] elasticmachine commented on #70461
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-08 21:42] rudolf commented on #70461
I agree with the previously expressed opinions https://github.com/elastic/kibana/issues/70461#issuecomment-658088829 and https://github.com/elastic/kibana/issues/70461#issuecomment-658088829 that this would be best implemented on a per-application level. "Read-only" can first of all be a UI-only concept and if we want stronger guarantees these could be implemented on the API-level.

[2022-09-08 21:54] rudolf commented on #140173
I agree with the summary and theoretical benefits so I believe this is something we might want to re-evaluate in the future. But if the end-user benefit is just 11k then I'm not sure it justifies spending time on it right now.

[2022-09-08 23:11] spalger opened #140346 "x-pack/test/functional/apps/ml/anomaly_detection/config.ts is taking over 40 minutes"
Noticed an alert on a recent build of main that the `x-pack/test/functional/apps/ml/anomaly_detection/config.ts` FTR config is now over the limit for how long an FTR config should take. FTR configs should take about 10 minutes, but can take up to 40 minutes without hurting the overall speed of CI. Once they take longer than 40 minutes though they will lead to CI being stuck running that one FTR co

[2022-09-08 23:12] elasticmachine commented on #140346
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-09 00:12] dedemorton opened #140347 "Allow users to skip step-based workflow for installing integrations + agents"
**Describe the feature:**

Experienced users who are accessing a new deployment (perhaps for testing) may not want to deploy Elastic Agent before they configure integrations. In fact, it's possible they might want to create a policy without immediately deploying the agent. We should provide a way for them to exit out of the onboarding workflow if it's not right for their use case.

**Describe a sp

[2022-09-09 00:12] elasticmachine commented on #140347
Pinging @elastic/fleet (Team:Fleet)

[2022-09-09 01:42] kibanamachine opened #140349 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules - usePrePackagedRules can NOT createPrePackagedRules because canUserCrud === false"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/20653#01831fc4-0ad4-4b74-98a7-15fc5baa9851)

[2022-09-09 01:42] elasticmachine commented on #140349
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-09 03:36] kertal commented on #139246
@bhavyarm thx, I can confirm. the request for the field values you've attached has a time range filter for the last 15 minutes. that's why no values are suggested, might be an issue with the query bar in this case. In any case: yes, it's a bug, thanks for reporting!

[2022-09-09 04:49] karanverma-qasource opened #140351 "[Security Solution] "Enable Host Risk Score" button is disabled under Entity analytics dashboard while "Enable User Risk Score" button is enabled when alerts are not present."
**Describe the bug:**

`Enable Host Risk Score` button is disabled under Entity analytics dashboard while `Enable User Risk Score` button is enabled when alerts are not present.

**Build Details:**
[code]

**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. `entityAnalyticsDashboardEnabled` feature flag should be added.
4. Alerts should not be presen

[2022-09-09 04:49] elasticmachine commented on #140351
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-09 04:49] elasticmachine commented on #140351
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-09 05:15] #137084 closed

[2022-09-09 05:16] #140288 closed

[2022-09-09 06:19] karanbirsingh-qasource commented on #140154
thanks @dasansol92  for the update currently there is open blocker bug for endpoint installation as soon that got fixed we will regress this issue and close it accordingly.

_Blocker issue :_ https://github.com/elastic/fleet-server/issues/1836

[2022-09-09 06:29] ruflin commented on #134971
Having logic specific to 1-2 packages would be something that concerns me. But I doubt we need it, as similar problems apply to all input packages.

[2022-09-09 07:22] #136054 closed

[2022-09-09 07:30] rriemvis commented on #140029
@flash1293 : in my opinion this is still a bug: why should a map reload occur when you update the Kibana time filter from within the Vega script (while not changing any map settings/signals)? This behavior is not logical and prevents dynamic updates in combination with a map. Correct functioning of this allows for live updates of data on a map dashboard for example.

[2022-09-09 07:43] mbondyra opened #140353 "[Lens][Query annotations] Inspector integration"
We have to make the query annotations to be displayed by inspector.

[2022-09-09 07:43] elasticmachine commented on #140353
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-09 07:44] #140353 closed

[2022-09-09 07:59] #137992 closed

[2022-09-09 08:06] formgeist opened #140354 "[Actionable Observability] Alert status health is not consistent from alerts table to rules table"
# Summary

I found that the rules and alerts table are not consistent when it comes to describe the alert health.

![CleanShot 2022-09-09 at 10 04 27@2x](https://user-images.githubusercontent.com/4104278/189302980-c7eab260-ed82-4a06-9824-18c64118587f.png)

![CleanShot 2022-09-09 at 10 04 16@2x](https://user-images.githubusercontent.com/4104278/189302988-c742e31b-440b-4723-a876-cd68dee5caba.png)

c

[2022-09-09 08:06] elasticmachine commented on #140354
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-09 08:18] azasypkin commented on #131525
I don't think we ever considered this as an ideal solution. Based on https://github.com/elastic/kibana/issues/101582#issuecomment-880800539 it was picked as an intermediate "lesser evil" solution at that time. Moreover, ESS should be immune to this issue (incompatible encryption key during upgrade) since encryption keys are managed by ESS and users cannot change them. It's mostly about self-manage