[2021-07-09 09:14] flash1293 commented on #105017
Closing as this works as expected - the specified interval is a "minimum interval" as it says in the UI and is subject to be scaled up to match the maximum allowed buckets configured in advanced settings. I'm closing this in favor of https://github.com/elastic/kibana/issues/75198 which is tracking a similar thing and left a note there.

[2021-07-09 09:14] #105017 closed

[2021-07-09 09:24] arisonl commented on #80310
How about something like this icon or similar?
<img alt="Screenshot 2021-07-09 at 12 12 09" src="https://user-images.githubusercontent.com/5412240/125055808-44ea3e00-e0b0-11eb-9ac7-565c49f21309.png" width="50"> Surely not perfect but at least you can't confuse it with hiding something from the UI and it's probably less busy than the entire word "muted"

[2021-07-09 09:25] arisonl commented on #80310
More importantly, I noticed that RAC uses the term `triggered` here: https://github.com/elastic/kibana/issues/67597 Is this the same as our `active`? We should make sure we use a consistent language across. In fact we were discussing with Yuliia independently that the term triggered may be more descriptive than our `active` (we use this term in other places e.g. "Notify when the alerts become acti

[2021-07-09 09:41] amolnater-qasource opened #105035 "[Endpoint][Fleet]: Two Endpoints on UI after agent upgrade from 7.13.3 Snapshot to 7.14.0 Snapshot under Endpoints tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. 7.13.3 Snapshot Agent must be installed using Default policy having System and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents

[2021-07-09 09:41] elasticmachine commented on #105035
Pinging @elastic/fleet (Team:Fleet)

[2021-07-09 09:42] amolnater-qasource commented on #105035
@manishgupta-qasource Please review.

[2021-07-09 09:44] dokmic opened #105036 "[Canvas] Element shifts on drag-and-drop in Firefox"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Firefox 89.0.2
**Browser OS version:** macOS 11.2.3, Windows 10
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
Elements shift while dragging them in Firefox. The problem persists on both Windows and macOS.

**Steps to reprod

[2021-07-09 09:44] elasticmachine commented on #105036
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-09 09:46] deepikakeshav-qasource commented on #104371
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC2 build and observed that issue is **Not occurring**. Values are populated on Rule exception for both in custom rule as well as elastic rule.

Build Details:
[code]

**Screenshot:**
**Custom Rule**
https://user-images.githubusercontent.com/61860752/125057942-61de3b80-e0c7-11eb-8af5-2e650ff49a9e.mp4

**Elastic Rule:**

https://user-i

[2021-07-09 09:50] peteharverson commented on #104296
Point 1 in https://github.com/elastic/kibana/issues/104296#issuecomment-877030508 has been addressed (tested against 7.14), with the underlying reason displayed to the user:

![image](https://user-images.githubusercontent.com/7405507/125059642-73ade780-e0a3-11eb-9495-5817f8d9a59e.png)

[2021-07-09 10:04] manishgupta-qasource commented on #105034
Reviewed & assigned to @MadameSheema

[2021-07-09 10:05] manishgupta-qasource commented on #105035
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-09 10:07] deepikakeshav-qasource commented on #103949
Hi @MadameSheema ,

We have validated this ticket on **7.14.0** BC2 build and observed that issue is **Fixed**. No Error is displayed when we open the alerts details panel from alerts to non-alerts.

Build Details:
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/125053383-aa472a80-e0c2-11eb-81d9-2f69ad7f6e9e.mp4

Hence, We are marking this issue as QA Validated.

Thanks

[2021-07-09 10:13] #101837 closed

[2021-07-09 10:14] flash1293 commented on #95079
Discussed offline:
* Warn on inaccuracies (have to transport this information through the data table) in the editor
* Put a “fix it” action in the warning to turn on rare terms for ascending sorting
* Put a “fix it” action in the warning to turn into static terms for descending sorting
* Show “rare terms” as a new entry in the option list of ranking
* What about max_doc_count? Expose to the user a

[2021-07-09 10:29] pgayvallet opened #105039 "[Saved Objects] `create`/`bulkCreate`: add validation for custom ids"
We're not currently performing any kind of validation when the consumer provides custom ids when invoking the `create` or `bulkCreate` APIs. We're just generating a random id if the value was not provided (`undefined` for `create` and `undefined` or `null` for `bulkCreate`)

https://github.com/elastic/kibana/blob/196531502f8cea18e484e05205fcb47990617300/src/core/server/saved_objects/service/lib/re

[2021-07-09 10:29] elasticmachine commented on #105039
Pinging @elastic/kibana-core (Team:Core)

[2021-07-09 10:30] pgayvallet commented on #105039
cc @jportner Do you know what characters should be allowed for custom ids? I just know that it wouldn't be as simple as restricting to alphanum, as if I remember correctly, some special chars such as `:` are allowed.

Also
- what should be the max length of custom ids?
- Do we want to enforce that ids starts with an alpha (or alphanum) char?

[2021-07-09 10:41] paulb-elastic opened #105042 "[Stack monitoring] Test packages from Integrations team"
The Integrations team will be creating Agent packages for:
* Elasticsearch https://github.com/elastic/integrations/issues/367
* Kibana https://github.com/elastic/integrations/issues/368
* Logstash https://github.com/elastic/integrations/issues/369

These need to be tested by the Stack Monitoring team, pointing the current integration tests at the data created by these new packages.

[2021-07-09 10:42] elasticmachine commented on #105042
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-09 10:46] xcrzx commented on #104802
Fix merged!

[2021-07-09 10:46] xcrzx commented on #102029
Fix merged!

[2021-07-09 11:08] Dosant opened #105046 "[Alerting] Alert might stuck in active status if rule disabled and re-enabled"
Found during 7.14 testing spike

**Kibana version:** 7.14 candidate

**Original install method (e.g. download page, yum, from source, etc.):** cloud staging

**Describe the bug:**

I played with disabling an alert while it is inactive state and looks like from the 1st attempt got in the state where the alert stays active forever:

**Steps to reproduce:**
1. Create a rule, trigger an alert. In my c

[2021-07-09 11:09] elasticmachine commented on #105046
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-09 11:09] walterra opened #105047 "[APM] Latency correlations: Error Unknown NamedWriteable category"
**Versions**
Kibana: 7.14
Elasticsearch: 7.14

**Note:** So far this is not reproducable on `master`, only on `7.14`.

This can be reproduced both on showcase as well on local instances using the `apm-correlations` dataset. For certain queries to get correlations, we receive a `Unknown NamedWriteable category` error message.

<details>
<summary>Example query triggering the error on 7.14:</summary>

[2021-07-09 11:09] elasticmachine commented on #105047
Pinging @elastic/apm-ui (Team:apm)

[2021-07-09 11:10] elasticmachine commented on #105047
Pinging @elastic/ml-ui (:ml)

[2021-07-09 11:10] mikecote commented on #104977
I was also wondering if there's a reason the detection rules can only utilize a subset of available actions?

[2021-07-09 11:20] VladLasitsa opened #105048 "[TSVB] Shows result on gauge visualization with wrong aggregation"
**Kibana version:**

master

**Describe the bug:**

When we use `top hit` aggregation we can use *string* fields for Metric tab but don't for Gauge as a gauge should work only with number fields. If we after configure aggregation with string field for metric we are moving to gauge visualization we will see UI error fo string field but visualization will be rendered with data. We should show error

[2021-07-09 11:20] elasticmachine commented on #105048
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 11:24] weltenwort commented on #104958
The description above talks about some advanced setting that can be used to change the index. Which is that?

And on a related note, when do we plan to restore the functionality of the `xpack.ruleRegistry.index` setting, which the alerts data client doesn't respect due to the hard-coded index list?

[2021-07-09 11:24] sophiec20 opened #105049 "[APM] Latency correlations: Do not include comparison date range"
**Kibana version:**
Found in 7.14.0 BC1

**Describe the bug:**
When clicking "View Correlations" from the Overview tab for a service, the analysis date range appears to be from the start of the comparison window to the end of the main date picker.

The comparison option is not available in the Transaction or Errors tab, and clicking on "View Correlations" from here will only include the main date

[2021-07-09 11:24] elasticmachine commented on #105049
Pinging @elastic/apm-ui (Team:apm)

[2021-07-09 11:24] elasticmachine commented on #105049
Pinging @elastic/ml-ui (:ml)

[2021-07-09 11:26] deepikakeshav-qasource opened #105050 "[Security Solution] Cloud build is crashed when create the indicator rule with indicator index pattern: *"
**Describe the bug**
Cloud build is crashed when create the indicator rule with indicator index pattern: *

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2.Filebeat should be installed

**Steps to Reproduce**
1. Go to Security App.
2. Create the indicator rule with below data:
Custom query: *:*
Indicator index pat

[2021-07-09 11:26] elasticmachine commented on #105050
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-09 11:27] deepikakeshav-qasource commented on #105050
@manishgupta-qasource Please review!!

[2021-07-09 11:45] manishgupta-qasource commented on #105050
Reviewed & assigned to @MadameSheema

[2021-07-09 12:07] kibanamachine commented on #105016
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15397/)

[2021-07-09 12:08] CruzMarcio commented on #100518
Hi @nchaulet.
Our proxy is Symantec ASG-S500-20. We do not have any `proxyHeaders` on our actions configurations.

[2021-07-09 12:09] kibanamachine opened #105052 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/import·ts - saved objects security and spaces enabled _import dual-privileges readonly user within the space_1 space with overwrite enabled should return 403 forbidden [isolatedtype/space1-isolatedtype-id]"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15398/)

[2021-07-09 12:09] kibanamachine opened #105053 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/import·ts - saved objects security and spaces enabled _import dual-privileges readonly user within the space_1 space with overwrite enabled "after all" hook for "should return 403 forbidden [sharedtype/conflict_1,sharedtype/conflict_1a,sharedtype/conflict_1b,sharedtype/conflict_2c,sharedtype/conflict_2d]""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15398/)

[2021-07-09 12:13] jloleysens commented on #104362
Looks like this happened a bunch of times for the first time this year on 2021-03-26 went quiet and then started happening again
:

[2021-07-09 12:17] estermv commented on #102067
Updated the table with the load time. These are averages from 10 executions from a cluster on cloud with 7.12.1 and a cluster with 7.13.3.

Feel free to reopen it if you need more details.

[2021-07-09 12:17] #102067 closed

[2021-07-09 12:21] flash1293 commented on #105016
Screenshot looks like the formula is typed correctly:
<img width="993" alt="Screenshot 2021-07-09 at 14 09 08" src="https://user-images.githubusercontent.com/1508364/125075698-42dbab80-e0bf-11eb-91e4-c194f07410d2.png">

I think this is what's happening: The formula editor is debounced by a quarter of a second. This test types the final thing to complete the formula (`*`), then waits for the loadin

[2021-07-09 12:23] kpollich commented on #104241
Looking into the Docker build for the `elastic-package stack up` command above, it looks like we set the package registry URL to a dockerized instance of the package registry service via:

[code]

The actual Docker image for this service is built using a Dockerfile at `~/.elastic-package/stack/Dockerfile.package-registry` (at least that's where it is on my local machine). Here are the contents of

[2021-07-09 12:26] nchaulet commented on #101710
Running this in the devtool should unstuck you, adding the fields we missed during the migration, then you should be able to navigate to the package and upgrade it.
[code]

[2021-07-09 12:28] elasticmachine commented on #105053
Pinging @elastic/kibana-security (Team:Security)

[2021-07-09 12:29] elasticmachine commented on #105052
Pinging @elastic/kibana-security (Team:Security)

[2021-07-09 12:31] walterra commented on #105047
Further testing with the query from the issue description with ES 7.14 only (using Postman to do the request, no Kibana involved):

- startup ES with `apm-correlations` already available
- first request via postman: WORKS!
- second request via postman: FAILS! -> includes error reason part `"[doc_count] must be a positive value"`
- third request via postman: FAILS! -> doesn’t include the part about

[2021-07-09 12:37] jportner commented on #105053
Looks like a transient failure because the connection to ES was refused. Closing

[2021-07-09 12:37] #105053 closed

[2021-07-09 12:40] marius-dr commented on #104515
If it helps with anything looks like it's also happening when having 7.14.0 and  6.8 as a remote cluster.

[2021-07-09 12:57] jportner commented on #105039
Whoops! Makes sense :+1:

We don't currently implement any restrictions, and if we did it would potentially be a breaking change. I think the only limiting factor is what the `_id` field in Elasticsearch supports, and the docs only indicate that it is [limited to 512 bytes in size](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-id-field.html).

I did some rudimentary testi

[2021-07-09 13:34] flash1293 opened #105061 "[Search Sessions] Session shown as "complete" if secondary request gets added"
**Kibana version:** 7.14

**Describe the bug:** If a dashboard contains a panel doing a secondary request (e.g. other bucket) and the session is sent to background before the second request starts, the session is shown as complete when going to the dashboard, waiting for the secondary request to start, then going back to session management

**Steps to reproduce:**
1. Create dashboard with panel us

[2021-07-09 13:34] elasticmachine commented on #105061
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-09 13:49] kibanamachine commented on #105016
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15256/)

[2021-07-09 13:53] #104829 closed

[2021-07-09 14:06] elasticmachine commented on #105050
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-09 14:08] elasticmachine commented on #105034
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-09 14:12] paulb-elastic commented on #102067
@estermv I don't seem to be able to find the performance figures, where are they?  Thanks.

[2021-07-09 14:15] droberts195 commented on #105047
@benwtrent I think this is being caused by an omission from the backport of #72133.  In that PR `namedWriteables.addAll(new CorrelationNamedContentProvider().getNamedWriteables());` was added to `MachineLearning.getNamedWriteables()`.  In the backport PR, #72896, it wasn't, which is correct because it needs to go in `XPackClientPlugin.getNamedWriteables()` instead 🎉 .  But it wasn't added there ei

[2021-07-09 14:17] flash1293 commented on #103251
Blocked for now by https://github.com/elastic/kibana/pull/101853

[2021-07-09 14:21] mistic commented on #105016
This test looks flaky and I think it will keep failing. I'm skipping it for now.

master/8.0: 3cbea1b
7.x/7.15: 6d376e7

[2021-07-09 14:30] ecezalp commented on #105050
hmm setting the indicator pattern to `*` is ... not a great idea, that's every document ever (instead of just a select number of documents that contain indicators). I think we could probably implement a check to show the user an error message saying that they need to narrow down the query if they try to put a `*` in there. pinging @shimon and @rylnd for some product ideas around the fix

[2021-07-09 14:42] estermv commented on #102067
No idea what happened... I updated the table again (from the issue description). Probably I got an error when saving, didn't see it, and close the tab directly. Thanks for letting me know!

[2021-07-09 14:44] chrisronline commented on #100671
Yes sounds good!

[2021-07-09 14:44] #100671 closed

[2021-07-09 14:57] ecezalp commented on #104386
#104979

[2021-07-09 14:57] thompsongl opened #105071 "Migrate styles from `styled-components` to `emotion`"
#98157 solves the immediate need of enabling `@emotion/react` in Kibana for the purposes of EUI and (more immediately) Canvas. We will want to convert components currently using `styled-component` to the [`emotion` ecosystem](https://emotion.sh/docs/introduction), but there is further discussion to be had on the correct approach. For instance, a 1:1 conversion is possible from `styled-components`

[2021-07-09 14:59] thompsongl commented on #105071
@smith likely has insight on the current state of `styled-component` use
@cqliu1 and @clintandrewhall are currently exploring `emotion` in Canvas

[2021-07-09 15:02] kobelb commented on #104690
My preference is to go with option 2 in the short term. I fully acknowledge that this is the kick the can down the road option, and we're going to have to deal with this problem in the future as soon as we allow saved-object IDs to be regenerated.

My thinking is that this will buy us time to figure out what upgrade scenarios we need to support, evaluate our options against those upgrade scenarios

[2021-07-09 15:19] ecezalp commented on #104382
#105074

[2021-07-09 15:28] ecezalp commented on #104077
was able to address the issue with #104979 while recalibrating spacing to fit in the external link icon. Thanks for your patience!

Overview panel in its smallest form
<img width="403" alt="Screen Shot 2021-07-09 at 11 26 59 AM" src="https://user-images.githubusercontent.com/18617331/125101892-b6be8980-e0a8-11eb-9351-0152628e13f4.png">

[2021-07-09 15:28] #104077 closed

[2021-07-09 15:34] benwtrent commented on #105047
OK, big miss from me. The named writeable serialization in 7.x is different than in 8.x

Additionally, there are no multi-node tests for these aggregations. I think this is a larger gap in the testing frame work for the aggregations team, but I think for this fix, I will add some specific multi node agg tests for the ML aggs.

[2021-07-09 15:41] adam-stokes opened #105078 "[Fleet] Agents can enroll with a deleted enrollment api key within a 60s window"
**Kibana version:**

8.0.0-SNAPSHOT

**Elasticsearch version:**

8.0.0-SNAPSHOT

**Server OS version:**

Ubuntu 20.04/18.04

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

For about 60 seconds after deleting an enrollment token new agents are able to enroll with that deleted token. It seems like there

[2021-07-09 15:44] nreese opened #105079 "[maps] super fine geotile grid resolution can overflow max buckets and does not provide user feedback."
Steps to view issue:
* ingest tornadoes shapefile: https://github.com/nreese/presentations/blob/master/tornadoes
* Create map and create grid/clusters layer.
* Set resolution to "super fine". Notice that no tiles are generated.
* View server logs and see messages like "[warning][maps][plugins] Cannot generate grid-tile for 3/0/2: status_exception".

Expected output: Users should get feedback tile

[2021-07-09 15:44] elasticmachine commented on #105079
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 15:50] elasticmachine commented on #105078
Pinging @elastic/fleet (Team:Fleet)

[2021-07-09 15:51] nreese opened #105080 "[maps] can not create custom color ramp where first stop is zero or less then zero"
<img width="437" alt="Screen Shot 2021-07-09 at 9 50 34 AM" src="https://user-images.githubusercontent.com/373691/125104997-36455c00-e09b-11eb-9123-5fc54a023eb7.png">

[2021-07-09 15:51] elasticmachine commented on #105080
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 16:00] dhurley14 opened #105082 "[RAC] [RBAC] Authz can be enhanced for consistent API response between authorized and unauthorized users"
When a user queries for an alert, we first fetch the alert with the system user and subsequently utilize the components of that alert data as parameters for the `ensureAuthorized` function. Typically if, even if an alert is not found, we would want to determine if the user is authorized at all before fetching. This is difficult to accomplish without first acquiring the pieces necessary for determi

[2021-07-09 16:01] elasticmachine commented on #105082
Pinging @elastic/kibana-security (Team:Security)

[2021-07-09 16:10] kibanamachine opened #105087 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts - apps machine learning basic license data visualizer index based with farequote lucene saved search displays index details"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15402/)

[2021-07-09 16:18] wylieconlon opened #105090 "[Lens] Bug in overall_average, overall_min and overall_max"
It appears that in the columns that the Lens formula generates, the `operationType` is always set to `overall_sum` instead of the correct type. This is a bug that gives users incorrect numbers.

[2021-07-09 16:18] elasticmachine commented on #105090
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 16:22] elasticmachine commented on #105087
Pinging @elastic/ml-ui (:ml)

[2021-07-09 16:35] liza-mae commented on #92887
Ah ok that makes sense thanks @timroes !

[2021-07-09 16:35] liza-mae commented on #92887
Requires a test fix.

[2021-07-09 16:40] josephtillman11 commented on #12562
Would absolutely love to see this feature for dashboards!
@timductive, is there a guide for how to embed visualizations into Canvas for us users who are not familiar with Canvas?

[2021-07-09 17:00] Conky5 opened #105099 "Uptime monitor status documentation link broken"
**Kibana version:** 7.13.3

**Elasticsearch version:** n/a

**Server OS version:** n/a

**Browser version:** Firefox 89.0.2

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** elastic cloud instance

**Describe the bug:** Uptime alerting link to documentation 404's

**Steps to reproduce:**
1. Stack Management
2. Rules and connectors
3. Create rul

[2021-07-09 17:04] #104483 closed

[2021-07-09 17:07] devonakerr commented on #105050
Ece, I think that's a very good suggestion - for users who think they have discovered an undocumented shortcut, an error would help prevent issues with performance.

[2021-07-09 17:13] FrankHassanabad commented on #104371
I have also validated this for BC2, but to leave a note here, this issue was due to problems with autocomplete and a newer algorithm called `terms_enum` being used. So all of auto complete across the application was malfunctioning.

As of BC2, you still can see autocomplete malfunctioning with one usecase which is if you use `logs-*` it will give errors in the network panel since `logs-*` adds thi

[2021-07-09 17:13] nreese opened #105102 "[maps] choropleth wizard - auto select join fields when using EMS boundaries"
When using the choropleth wizard, the wizard should fetch first x documents from the right source and use those values to find matching join field from EMS and then auto populate both fields.

[2021-07-09 17:13] elasticmachine commented on #105102
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 17:17] nreese opened #105103 "[maps] provide feedback when term join fails to find any matches"
There is not very good user feedback when term joins fails to find any matches. The layer just shows no data with the message "No matching results found in term join"

<img width="403" alt="Screen Shot 2021-07-09 at 11 14 22 AM" src="https://user-images.githubusercontent.com/373691/125114169-d48aef00-e0a6-11eb-9b1e-a4acbe453202.png">

It would be more helpful to show an error icon with a message c

[2021-07-09 17:17] elasticmachine commented on #105103
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 17:18] #104988 closed

[2021-07-09 17:23] shaunmcgough commented on #103667
Closing as this is not as helpful as some other avenues we are tracking these changes.

[2021-07-09 17:23] #103667 closed

[2021-07-09 17:29] shaunmcgough opened #105109 "[Stack Management] Modal does not go away after choosing Inspect on a Search Session"
**Kibana version:**
7.14

**Elasticsearch version:**
7.14

**Server OS version:**

**Browser version:**
Safari Version 14.1.1 (16611.2.7.1.4)

**Browser OS version:**
Big Sur 11.4 (20F71)

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
From Discover, save your search session, then go into manage sessions from the modal. Click the ellipses men

[2021-07-09 17:29] elasticmachine commented on #105109
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-09 17:33] nreese opened #105110 "[maps] allow creating phrase filter from EMS property"
In screen shot below, create phrase filter button should be visible and allow for creating a phrase filter from the property name

<img width="800" alt="Screen Shot 2021-07-09 at 11 31 42 AM" src="https://user-images.githubusercontent.com/373691/125116034-55e38100-e0a9-11eb-96cf-7ed8da2236a1.png">

[2021-07-09 17:33] elasticmachine commented on #105110
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 17:33] kindsun opened #105111 "[Maps] Consider making EMS basemap replace layer if already present and put at bottom of layer order"
Currently adding an EMS Basemap works the same way other layers do:
1. Adds to the top and clobbers other layers since it's opaque w/ 100% coverage
2. Adds layer irrespective of current basemap layers added

However arguably the primary use case would nearly always be to replace the existing basemap and add it to the bottom. It's very unlikely a user would ever want more than one EMS Basemap on a

[2021-07-09 17:33] elasticmachine commented on #105111
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 17:34] nreese commented on #105110
Closing, tooltip not locked

[2021-07-09 17:34] #105110 closed

[2021-07-09 17:36] FrankHassanabad commented on #104371
Another open issue for the terms_enum fyi:
https://github.com/elastic/elasticsearch/pull/75190

which auto-complete has changed its algorithm to

[2021-07-09 17:42] nreese commented on #92541
Here is another example. It would be nice to be able to only apply labels as certain zoom levels.

<img width="600" alt="Screen Shot 2021-07-09 at 11 41 18 AM" src="https://user-images.githubusercontent.com/373691/125116906-a7404000-e0aa-11eb-81eb-d3579b890054.png">

[2021-07-09 17:46] #104946 closed

[2021-07-09 17:50] spalger commented on #105087
This test is not very flaky, though it has failed 4 times in the last 30 days and three of those times have been in the last 2 days, all on master and PRs to master:

![image](https://user-images.githubusercontent.com/1329312/125117687-701a6080-e0a3-11eb-97ca-4a5cae5de789.png)

[2021-07-09 17:53] evanfreed commented on #98539
Just ran across this, I agree the container ID isn't very readable.  I'd love to see the node name here

[2021-07-09 17:59] elasticmachine commented on #105109
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 18:00] cjcenizal commented on #105109
Relabeling to Kibana App, since they own Discover, and I'm guessing this is a bug in the consuming code, not in the Inspector code (owned by App Services). cc @elastic/kibana-app-services

[2021-07-09 18:00] paulb-elastic commented on #102021
Following up on @andrewvc's suggestion, can you try adding `--connect-timeout 7` to your `curl` command?

Also, do you have multiple A records configure for your host?

[2021-07-09 18:01] rylnd commented on #105050
💯 this kind of user feedback is discussed in https://github.com/elastic/security-team/issues/1451. However, a warning for `*` is probably always going to be useful, and that'd be an easy one to implement 👍

[2021-07-09 18:11] kobelb commented on #103841
Building on what @joshdover articulated, ideally, we'd be able to run these migrations scripts "exactly once". However, this is a hard problem to solve when working with a distributed system. In this situation, we have a distributed system because Kibana controls the API calls that need to be made against Elasticsearch.

One of the common tricks to getting "exactly once" semantics is to couple "at

[2021-07-09 18:14] yiyangliu9286 commented on #104408
Thanks for tagging @spong!

Agreed that this is a jarring UX... an idea is that we could probably add an "edit" button on the actions, but the order would be "edit" and "delete".

<img width="1792" alt="Exception list_Edit" src="https://user-images.githubusercontent.com/81987435/125119918-bd0c3000-e0bf-11eb-8b57-e8faf58b0817.png">

(cc: @bfishel @monina-n @adamwdraper)

[2021-07-09 18:15] nreese opened #105115 "[maps] saved object migration to migrate tile_map and region_map visualizations to maps"
tile_map and region_map visualizations are getting replaced with maps in 8.0. Saved object migration required to migrate tile_map and region_map visualizations to maps

[download saved object export](https://github.com/nreese/notes/blob/master/tile_map_region_map_saved_objects.ndjson)

<details>
  <summary>- tile_map visualization saved object</summary>

[code]
</details>

<details>
  <summary>- t

[2021-07-09 18:15] elasticmachine commented on #105115
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 18:17] lukeelmers opened #105117 "[Watcher UI]: Allow configuring time ranges when viewing watch history"
In the current Watcher UI, when viewing the history for an individual Watch, you can configure specific time windows starting from `now`:
- last 1 hour
- last 24 hours
- last 7 days
- last 30 days
- last 6 months
- last 1 year

![Screen Shot 2021-07-08 at 4 38 31 PM](https://user-images.githubusercontent.com/1608770/125120344-91814980-e0af-11eb-9f0e-ed4b8cde9b4e.png)

However, once a watch has acc

[2021-07-09 18:17] elasticmachine commented on #105117
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-09 18:23] nreese commented on #105115
ping @pgayvallet

[2021-07-09 18:23] elasticmachine commented on #105115
Pinging @elastic/kibana-core (Team:Core)

[2021-07-09 18:32] bhavyarm opened #105118 "Fit to data should handle restrictive zooms better and show data."
**Kibana version:** 7.14.0 BC2

**Elasticsearch version:** 7.14.0 BC2

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user has restrictive zoom set up on data with global scale - fit to data doesn't seem to work.  Its implemented correctly but because it zooms out -

[2021-07-09 18:32] elasticmachine commented on #105118
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 18:34] cauemarcondes commented on #104676
The problem of not filtering the suggestion values is because we are using `terms_enum` to run the query. The current implementation of the data plugin sets by default this value, that doesn't support document level filter.

We should instead use `terms_agg` to perform the query. The problem is that currently there's no way to change this value.

[2021-07-09 18:34] tsullivan opened #105119 "[Lens] UX of geo_point and geo_shape integration needs refinement"
**Kibana version:** 7.14.0-bc2

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**
Users _could_ build a workflow based on reaching Maps by dragging-and-dropping a geo_point or geo_shape field into Lens.

In general, it feels like the appearance of the geo_point field should make it clear the data type doesn't have _entire_ support in Lens itsel

[2021-07-09 18:35] nreese opened #105120 "table borders disappearing in list tables after mouse over"
**Kibana version:** master

**Browser version:** Version 91.0.4472.114 (Official Build) (x86_64)

**Browser OS version:** macOS 10.15.7 (19H15)

**Original install method (e.g. download page, yum, from source, etc.):** built from source

**Describe the bug:**
Border between rows disappears in listing pages.

**Steps to reproduce:**
1. Install sample data set
2. Open visualize listing table
3. Mous

[2021-07-09 18:35] elasticmachine commented on #105120
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-09 18:35] elasticmachine commented on #105120
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-09 18:36] elasticmachine commented on #105119
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 18:36] elasticmachine commented on #105119
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-09 18:42] mikecote commented on #97755
After doing a bit of research, this sounds like a limitation of ILM at this time. However, I came across https://github.com/elastic/elasticsearch/issues/73349, which requests the rollover process to also clean up empty indices. What are your thoughts on relying on that ES ticket and add our +1 instead of developing a workaround?

[2021-07-09 18:42] #95557 closed

[2021-07-09 18:42] travisby commented on #93432
We are currently on e/k 7.9.2.  We are attempting an upgrade to 7.13.3, and even tried 7.12.1 of ES and started experiencing this issue.

It looks like somewhere between elasticsearch 7.9.2 and 7.12.1 something introduced this!

[2021-07-09 18:51] bryce-b commented on #104943
this might be a result of weird data captured a long time ago? I've started using a cloud instance and I'm not seeing this.
maybe something needs to be done to prevent data point from outside the time window from showing up in the breakdown legend?

[2021-07-09 18:54] bryce-b commented on #104530
@shahzad31 looks like the original issue is resolved, but the device distribution page is still broken: looks like there's a type issue with label.device_id:

<img width="1185" alt="Screen Shot 2021-07-09 at 11 53 24 AM" src="https://user-images.githubusercontent.com/75274611/125124011-4ca7e380-e0ac-11eb-89e7-8a4c4df2ded1.png">

opening up in lens shows this:

<img width="1464" alt="Screen Shot 20

[2021-07-09 19:08] justinkambic commented on #103390
I'm marking this as `test-plan-ok` because the test remains unskipped in the 7.14 branch.

[2021-07-09 19:10] justinkambic commented on #102122
I'm marking this as having passed the test plan because the test remains unskipped in the 7.14 branch.

[2021-07-09 19:14] Conky5 commented on #103394
I came across this and found it confusing as well.

[2021-07-09 19:32] justinkambic commented on #102004
I'm marking this issue as passing the test plan because the test is still un-skipped in the 7.14 branch.

[2021-07-09 19:39] spalger commented on #103233
Yeah, in that case I think you're going to need to do a little feature detection to determine if the basepath proxy is in use

[2021-07-09 19:51] elasticmachine commented on #103394
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-09 19:55] myasonik opened #105131 "[Dashboard] Pass in title to Charts"
A dashboard already allows titles to be set. We "just" need to pass this title down to the chart.

Docs are incoming in https://github.com/elastic/eui/pull/4916 (first draft is already written here, just polishing now before merging) and the capability in the Charts library is already merged into Kibana.

CC @timroes @stratoula

[2021-07-09 19:55] elasticmachine commented on #105131
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-07-09 19:55] elasticmachine commented on #105131
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-09 19:55] elasticmachine commented on #105131
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-09 19:58] myasonik commented on #10726
Tagging in @timroes and @stratoula to lead implementation on this.

It should eventually be roped into the user setting stuff but that can be migrated down the line.

Probably makes sense for the setting to be registered in the charts plugin?

[2021-07-09 20:00] elasticmachine commented on #83743
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-07-09 20:00] myasonik commented on #83743
On other thing to note, is that we should also pass this down to the Chart as an accessible description. Really similar to https://github.com/elastic/kibana/issues/105131 overall.

CC @timroes @stratoula

[2021-07-09 20:01] justinkambic commented on #103469
Tested this in 7.14, looks like we're displaying as a percentage.

![image](https://user-images.githubusercontent.com/18429259/125130386-e1233d80-e0ce-11eb-992b-1a4d34e3e30b.png)

[2021-07-09 20:14] MichaelMarcialis commented on #105120
I was not able to reproduce using the same version of Chrome. Could someone else on @elastic/kibana-design give it a shot and see if you're able to reproduce?

[2021-07-09 20:14] tsullivan opened #105133 "[Lens] No indication given when "number of values" for Top Values is too high"
**Kibana version:** 7.14.0-bc2

When building a table in Lens and splitting the table rows by "Top values", there is an arbitrary limit of 1000 as the "Number of values" to aggregate.

![image](https://user-images.githubusercontent.com/908371/125131125-13c13c00-e0b7-11eb-83a1-832d7fa5bd34.png)

When the user enters a larger number, there is no indication that the input is invalid. If the user then

[2021-07-09 20:15] elasticmachine commented on #105133
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-09 20:25] justinkambic commented on #102476
Just checked this on the dev cluster for 7.14, looking good.

![image](https://user-images.githubusercontent.com/18429259/125132354-33199280-e0d2-11eb-81da-528746651a31.png)

[2021-07-09 20:26] justinkambic commented on #100474
We can skip this for the test plan, because it's a duplicate of https://github.com/elastic/kibana/issues/101122.

[2021-07-09 20:30] justinkambic commented on #98475
Verified this is working on 7.14 dev cluster:

![image](https://user-images.githubusercontent.com/18429259/125132712-b509bb80-e0d2-11eb-9a01-5dbf49a1041d.png)

Also locally:

![image](https://user-images.githubusercontent.com/18429259/125132889-fd28de00-e0d2-11eb-935b-1e215078134e.png)

[2021-07-09 20:33] #98074 closed

[2021-07-09 20:33] justinkambic commented on #98758
Tested this locally on the 7.14 branch:

![image](https://user-images.githubusercontent.com/18429259/125133166-6e689100-e0d3-11eb-8a69-4ed73472f2be.png)

[2021-07-09 20:42] nreese commented on #105120
Try playing around with the zoom as well.  Looks like the issue is fine at zoom 90% and 110% but the problem exists at zoom 100%

[2021-07-09 20:49] jimczi commented on #104515
The issue is fixed in ES and backported to 7.14:
https://github.com/elastic/elasticsearch/pull/75190

[2021-07-09 20:59] kibanamachine commented on #103039
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15264/)

[2021-07-09 21:01] spalger commented on #104466
FYI, updated skips now apply to three suites:

- `test/functional/apps/discover/_data_grid_field_data.ts`
- `test/functional/apps/discover/_field_data_with_fields_api.ts`
- `test/functional/apps/discover/_field_data.ts`

master/8.0: https://github.com/elastic/kibana/commit/ce48b73dc8f215eb7761f896b1bdaa4d584e5121
7.x/7.15: https://github.com/elastic/kibana/commit/080efede4a0f332430f0a505eba9cecee6

[2021-07-09 21:04] tsullivan opened #105143 "[Reporting/CSV] Randomly seeing jobs fail with "unable to decrypt""
**Kibana version:** 7.14.0-bc2

Using a vagrant instance with 1GB of RAM and ES running on the host machine. Then schedule 20 CSV reports at once.

![image](https://user-images.githubusercontent.com/908371/125134951-0eff8680-e0bd-11eb-9088-a3804da217f5.png)

[2021-07-09 21:04] elasticmachine commented on #105143
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-09 21:04] elasticmachine commented on #105143
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-09 21:23] ecezalp opened #105147 "[CTI] Format large numbers on the CTI Dashboard Link Panel"
smallest semi-responsive view with possible formatting examples
<img width="392" alt="Screen Shot 2021-07-09 at 11 53 17 AM" src="https://user-images.githubusercontent.com/18617331/125105357-60534a00-e0ac-11eb-9cde-81d2b5fc10ba.png">

Hey @ecezalp, thanks for tagging! Personally I like the idea of adding` m `and` k `to show large numbers, in that case it won't truncate any other columns/info that

[2021-07-09 21:24] spalger commented on #103039
Hmm.... it seems that networking on the worker failed at this point several times, or something like that?

Out of nowhere we start seeing `ECONNREFUSED` errors talking to ES over 127.0.0.1, as well as failures sending APM errors to the centralized APM server...

[code]

Looks like maybe ES died at some point without logging anything? I'll see if we can get some confirmation of that in subsequent

[2021-07-09 21:25] elasticmachine commented on #105147
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-09 21:52] #101095 closed

[2021-07-09 21:55] dplumlee commented on #96537
At the moment, the issue within the code is the `EuiComboBox` not supporting case sensitive custom options. With certain fields, there's a `.caseless` suffix that solves this on the detection engine side of things but for now there's no workaround with our current setup. I'll speak to the EUI team about getting a fix in for this functionality

[2021-07-09 22:16] tsullivan opened #105155 "[Reporting] A job attempt that errors does not decrement the job counter"
**Kibana version:** 7.14.0-bc1

**Describe the bug:**
Reporting has an internal counter to track the number of jobs currently running, as a troubleshooting check to ensure that **Reporting only runs one job at a time**.

When an job attempt results in an error, the internal counter does not get decremented. The log messages will show an incorrect number for the `Reports running: N` message.

**Ste

[2021-07-09 22:16] elasticmachine commented on #105155
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-09 22:16] elasticmachine commented on #105155
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-09 22:23] #100433 closed

[2021-07-09 22:29] LeeDr commented on #98413
The last failure on this test that I see in build-stats was on June 17th, 2021.  But the failures seemed rather intermittent so I can't really tell if the issue has been fixed or not.

[2021-07-09 23:06] #101235 closed

[2021-07-09 23:37] kenwdelong commented on #104978
Just ran into it again. When I hid the chart, I could scroll to the bottom of the list.  When I showed the chart again, I could not get to the bottom.

This is a fine work-around until I can upgrade, thanks!

[2021-07-09 23:37] #104978 closed

[2021-07-10 01:02] spalger commented on #104466
Okay, this is impacting a lot of discover tests and after four attempts to squash all the failing suites I've just committed a skip for the entire set of discover tests until we can get this resolved

master/8.0: https://github.com/elastic/kibana/commit/d776c0940ee47098bef21a129a03445e5fbf3eda
7.x/7.15: https://github.com/elastic/kibana/commit/7e2991010db7cbb8690090e42fa0ed890a2a8f99

[2021-07-10 05:52] kibanamachine commented on #105087
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15273/)

[2021-07-10 07:27] #101408 closed

[2021-07-10 18:38] bnkamalesh commented on #102021
@paulb-elastic I'm sorry, but I can't do anymore troubleshooting. We decided to not proceed with ELK :(

Thank you for all the help.

[2021-07-10 18:54] kibanamachine opened #105171 "Failing test: Accessibility Tests.test/accessibility/apps/dashboard·ts - Dashboard add a visualization"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15286/)

[2021-07-10 18:54] kibanamachine commented on #88929
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15286/)

[2021-07-10 18:54] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15286/)

[2021-07-10 20:51] kibanamachine commented on #104804
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15288/)

[2021-07-11 01:37] thelink2012 commented on #104466
Hey. I had a bit of trouble in setting up Kibana, so instead I tried to find a clue in the Elasticsearch request @tsullivan sent. I guess this is the culprit: `"fragment_size":2147483647`.

Could you try applying [this patch](https://github.com/jusbrasil/elasticsearch/commit/ff1895f0396e61aba1e87e8e7fec9b07c4c4b7f0) and see if the issue persists?

[2021-07-11 03:01] kibanamachine opened #105174 "Failing test: Jest Tests.src/core/server/core_app/bundle_routes - getFileHash sets the value in the cache if not present"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15295/)

[2021-07-11 04:59] kibanamachine commented on #105174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15297/)

[2021-07-11 12:41] pgayvallet commented on #105115
We already have an issue about allowing type renaming (here: https://github.com/elastic/kibana/issues/91143).

However in the existing issue, the only need was to rename the type of **ALL** SOs of a given type to another in a given release, without further changes.

In theory, the SO migrator does already allow to change the type of a document during its migration. E.g during a `7.9.2` to `8.3.4`

[2021-07-11 22:58] kibanamachine opened #105175 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should allow creation of lens xy chart"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15314/)

[2021-07-12 00:22] elasticmachine commented on #105035
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-12 00:22] elasticmachine commented on #105035
Pinging @elastic/esecurity-onboarding-and-lifecycle-mgt (Feature:Endpoint)

[2021-07-12 00:22] jen-huang commented on #105035
@kevinlog Sending your way to triage.

[2021-07-12 02:06] geekpete opened #105176 "Provide info in the Snapshot and Restore UI to notify the user if SLM is currently stopped"
**Describe the feature:**

If you're looking at your Snapshots in the Snapshots UI and wondering why you have SLM policies configured correctly, repositories without issues but you're not seeing any regular snapshots, it'd be nice to clearly see if SLM is currently stopped from the UI.
_
**Describe a specific use case for the feature:**

Provide some clear information to show if SLM service is cur

[2021-07-12 02:59] michaelhyatt opened #105177 "[APM] Broken traces view when mixing OpenTelemetry and Elastic APM transactions"
**Versions**
Kibana: 7.13.2
APM Server: 7.13.2
Elasticsearch: 7.13.2

In APM UI, clicking on some of the bars of the latency distribution histogram produces broken waterfall visualisation.

Broken viz:
![image](https://user-images.githubusercontent.com/15670925/125223764-a825db80-e30f-11eb-9bc5-8abd9bbda80e.png)

Correct viz:
![image](https://user-images.githubusercontent.com/15670925/125223805-b9

[2021-07-12 02:59] elasticmachine commented on #105177
Pinging @elastic/apm-ui (Team:apm)

[2021-07-12 03:14] kaiyan-sheng commented on #104241
Thanks @kpollich! Seems like the package registry snapshot is defined [here](https://github.com/elastic/elastic-package/blob/bcc188057f7e94e749472b0db349c5bc2df678c0/internal/profile/static_package_registry_dockerfile.go#L12). @mtojek Do you know if this is the right version of package registry to use here?

[2021-07-12 04:04] elasticmachine commented on #105176
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-12 05:12] tylersmalley commented on #103891
@adam-stokes we will be updating the Docker docs as part of https://github.com/elastic/kibana/issues/67407 to cover providing arrays in our next sprint.

[2021-07-12 05:51] deepikakeshav-qasource commented on #104371
Hi @FrankHassanabad ,

We have validated this on **7.14.0** BC2 build and We are able to reproduce this issue. Error is displaying in dev tool network.

Build Details:
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/125236369-77d74080-e301-11eb-868c-5079ec69811f.png)

Thanks!!

cc: @MadameSheema

[2021-07-12 06:01] mtojek commented on #104241
The docker tag `docker.elastic.co/package-registry/distribution:snapshot` is exactly the same as here: https://epr-snapshot.elastic.co/ .

The reason why the package-registry is getting rebuilt, is because it needs to include additional packages (local development). In the end it's the same image as for snapshot endpoint with a couple of additional packages.

As far as I can see, the snapshot dist

[2021-07-12 06:18] stratoula commented on #92887
On 7.14 the legacy pie charts have their own setting `visualization:visualize:legacyPieChartsLibrary`. It defaults to off, so this should also be taken under consideration here.

[2021-07-12 06:35] elasticmachine commented on #105175
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 07:02] #98298 closed

[2021-07-12 07:15] pgayvallet commented on #105039
After a sync discussion with @jportner (and even if I just hate the idea of allowing the whole UTF-8 range in our ids), we came to the conclusion that ensuring a pattern was going to be an issue for BTW, as it would cause importing docs with 'now invalid' ids to no longer be possible.

The scope of the issue will then only be to forbid empty ids (either `null` or empty string) and to throw an erro

[2021-07-12 07:17] stratoula opened #105180 "[Dicover] Error when selecting specific filters"
**Kibana version:**
master

**Describe the bug:**
I am using the sample e-commerce data and I have added the following columns:

![image](https://user-images.githubusercontent.com/17003240/125246174-19f32a80-e2fa-11eb-92f5-110051d75d05.png)

When I try to click the category column I get an error `offset out of bounds` and when I refresh I see this:
![image](https://user-images.githubusercontent.co

[2021-07-12 07:17] elasticmachine commented on #105180
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 07:17] rish2410 commented on #103609
Thanks @stratoula for considering this request . I just wanted to know is there any update by when this enhancement will be done . It will be help for us to update our application also and put the latest version of ELK in place .

[2021-07-12 07:20] stratoula commented on #103609
@rish2410 unfortunately not yet. This is quite tricky for vega as it doesn't work with index patterns. We have to evaluate it first. I will update the issue when I have more feedback!

[2021-07-12 07:22] elasticmachine commented on #10726
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 07:25] timroes commented on #10726
@stratoula do you think we could add this still to the 7.15 roadmap (at least as a stretchgoal) to add the setting and use it in all chart renderers that support that feature?

I'd recommend we group it in advanced settings under "Accessibility" and call it something like `accessibility:texturedCharts` (@markov00 @myasonik any opinion on the name of this setting?)

[2021-07-12 07:28] amolnater-qasource commented on #102483
Hi @jen-huang
We have found this issue **still reproducible** on 7.14.0 Snapshot.

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/125247069-2a160480-e310-11eb-966f-cbddb380e710.mp4

Thanks

[2021-07-12 07:31] pgayvallet commented on #102957
Great! then it's almost done, just have to implement the whole thing now.

Oh, definitely. I mean, what could possibly go wrong here 😅

Seriously though, this doesn't sounds like **that much** changes (for a SOR features impacting all its APIs, that is)

Do you know the current parameters that should be converted to `internal`? The first obvious answer is `namespace` I guess, but do you see any ot

[2021-07-12 07:34] stratoula commented on #10726
@timroes I think that we can :)
but I have some questions about the implementation. I see that Texture https://elastic.github.io/elastic-charts/?path=/story/stylings--with-texture has multiple settings.

How is this advanced setting going to work? When it is true, all the XY bars will be applied to a default texture? Which is it? Are we going to give more capabilities to the users?

[2021-07-12 07:39] timroes commented on #10726
Good call I haven't actually looked at the implementation in elastic-charts beforehand. So this is nothing where we can just set a setting in elastic-charts and it figures out best disitrbution of textures etc. I think in this case, looking at the story we'll need to have significantly more work on our side to do, so I am also not sure if we should still squeeze that into 7.15.

I don't think we s

[2021-07-12 07:40] mgiota commented on #104440
@neptunian Can you clarify in which environment I need to do the testing? Doing the testing on cloud.elastic.co with 7.14 is equivalent to do the testing on staging?

[2021-07-12 07:43] stratoula commented on #10726
Yes, I think that we need to define the scope of this task and how it is going to work and then decide if we can squeeze it in 7.15. For now, I moved it to 7.16.

[2021-07-12 08:15] jloleysens commented on #104362
I ran this in the flaky test runner (only the discover suite) and it passed 42 times - we consider unskipping if new failures don't appear in the next week or so - WDYT @mistic?

[2021-07-12 08:30] timroes opened #105182 "Visualizations request wrongly default index pattern on dashboard"
When having a dashboard with just one TSVB visualization at it that's not using the default index pattern, TSVB will still send out a request to load the fields of the default index pattern:

![screenshot-20210712-102512](https://user-images.githubusercontent.com/877229/125255645-efa26c80-e2fb-11eb-8b8c-09734ded3979.png)

In this screenshot the default index pattern is `ecommerce` but the vis uses

[2021-07-12 08:30] elasticmachine commented on #105182
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 08:42] timroes commented on #91128
More information can be found in https://gist.github.com/flash1293/ef51b9d97a5522c802ea60e75867eb29

[2021-07-12 08:50] MadameSheema commented on #104382
@mandeepkaur-qasource @deepikakeshav-qasource please validate the fix of the issue on the next BC, thanks :)

[2021-07-12 08:52] MadameSheema commented on #104055
@karanbirsingh-qasource please validate the fix of the issue on the next BC, thanks :)

[2021-07-12 08:53] MadameSheema commented on #104406
@mandeepkaur-qasource @deepikakeshav-qasource please validate the fix of this issue on the next BC, thanks :)

[2021-07-12 08:53] MadameSheema commented on #104419
@mandeepkaur-qasource @deepikakeshav-qasource please validate the fix of this issue on the next BC, thanks :)

[2021-07-12 08:54] MadameSheema commented on #104389
@mandeepkaur-qasource @deepikakeshav-qasource please validate the fix of this issue on the next BC thanks :)

[2021-07-12 08:55] MadameSheema commented on #104386
@mandeepkaur-qasource @deepikakeshav-qasource please validate the fix of this issue on the next BC, thanks :)

[2021-07-12 08:55] MadameSheema commented on #104580
@mandeepkaur-qasource @deepikakeshav-qasource please validate the fix of this issue on the next BC, thanks :)

[2021-07-12 09:01] deepikakeshav-qasource opened #105186 "[Security Solution] Values are not populated in data_stream.*: fields for both Threshold Rule and ML rule."
**Describe the bug**
Values are not populated in data_stream.*: fields for both Threshold Rule and ML rule.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana users should be logged in.
2. Only endpoint should be installed.

**Steps to Reproduce**
1. Go to Security App.
2. **Create the Threshold rule with below data:**
Index pattern : logs-*
C

[2021-07-12 09:01] elasticmachine commented on #105186
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-12 09:02] deepikakeshav-qasource commented on #105186
@manishgupta-qasource Please review!!

[2021-07-12 09:07] manishgupta-qasource commented on #105186
Reviewed & Assigned to @MadameSheema

[2021-07-12 09:25] pheyos commented on #104042
Fixed with #104387

[2021-07-12 09:25] #104042 closed

[2021-07-12 09:29] pheyos commented on #100183
More occurrences of the Jenkins network issue - no issue with the ML app or the tests.

[2021-07-12 09:29] pheyos commented on #100184
More occurrences of the Jenkins network issue - no issue with the ML app or the tests.

[2021-07-12 09:32] pheyos commented on #104231
The Jenkins job details are not available anymore, but this happened during the initial login, so it's not an issue with the ML app. I suspect it's another occurrence of the Jenkins network issue that we've seen. Closing for now.

[2021-07-12 09:32] #104231 closed

[2021-07-12 09:35] pheyos commented on #104174
The Jenkins job details are not available anymore, but this happened around the time where we've seen a number of Jenkins network issues, so I suspect it's another occurrence of that. Closing for now.

[2021-07-12 09:36] pheyos commented on #104247
The Jenkins job details are not available anymore, but this happened around the time where we've seen a number of Jenkins network issues, so I suspect it's another occurrence of that. Closing for now.

[2021-07-12 09:38] pheyos commented on #105087
At glance this looks like sometimes the saved search isn't applied correctly. I'll take a closer look.

[2021-07-12 09:40] pheyos commented on #104576
Same as #105087, just on trial license. Will post all updates in the other issue.

[2021-07-12 09:46] #104753 closed

[2021-07-12 09:52] Kunzetsov opened #105190 "[Canvas] Storybook for `DatasourceComponent` is crashing."
Branch: `master`.
OS version: `macOS Catalina, v.10.15.7.`
Browser version: `Google Chrome: Version 91.0.4472.114 (Official Build) (x86_64)`
Original install method: `from source`.
Describe the bug:
When opening `Components/datasource/DatasourceComponent/datasource with expression arguments`, the application is crushing.

**Steps to reproduce:**
1. Start storybook with a command:
[code]
2. Open ta

[2021-07-12 09:52] elasticmachine commented on #105190
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 10:08] estermv opened #105191 "[Stack Monitoring] [Test Scenario] Config testing"
# Testing

## monitoring.kibana.collection.enabled
- [ ] Kibana does not crash when this is enabled
- [ ] Kibana does not crash when disabling collection in kibana.yml (setting is monitoring.kibana.collection.enabled:)
- [ ] Ensure there are new Kibana monitoring documents (`.monitoring-kibana-*`) (For this to work, you need to ensure monitoring is enabled on the cluster which can be done through

[2021-07-12 10:08] elasticmachine commented on #105191
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 10:21] estermv opened #105192 "[Stack Monitoring] [Test Scenario] Remote clusters"
This involves running two separate clusters and connecting them together through the Remote Clusters feature in Kibana. The Stack Monitoring UI supports searching across remote clusters to show all known monitoring data.

# Testing
- [ ] Ensure you can see a remote cluster's monitoring data in the Stack Monitoring UI
- [ ] Ensure the Stack Monitoring UI still works if that remote cluster is remove

[2021-07-12 10:24] estermv opened #105193 "[Stack Monitoring] [Test Scenario] Multi-cluster monitoring"
# Testing

- [ ] Ensure loading page shows when navigating to Stack Monitoring
- [ ] Ensure cluster listing page loads when after loading screen
- [ ] Ensure each cluster link properly resolves to that cluster's overview screen
- [ ] In relation to the above, ensure there is no rison error toast message when navigating to a specific cluster https://github.com/elastic/kibana/issues/83212

[2021-07-12 10:24] elasticmachine commented on #105193
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 10:25] elasticmachine commented on #105192
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 10:28] estermv opened #105194 "[Stack Monitoring] [Test Scenario] Cloud"
## Testing

- [ ] Create two cloud deployments (`A` and `B`), and have `A` send their monitoring data to `B`. Go into the Kibana of `A` and visit the Stack Monitoring UI. Ensure the error message is relevant to cloud https://github.com/elastic/kibana/issues/81860

[2021-07-12 10:28] elasticmachine commented on #105194
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 10:31] #101495 closed

[2021-07-12 10:34] stratoula commented on #105131
@myasonik we should take under consideration that the title is not required for the by value visualizations. Will there be any fallback text if the title is not provided?

[2021-07-12 10:56] gmmorris commented on #103111
If a type is removed, its tasks are marked as unrecognized and left in the index.
It might be that we need a new mechanism for retiring task types, but there isn't anything in place right now.

This shouldn't have an impact on migrations though 🤔
Any thoughts @mikecote ?

[2021-07-12 10:58] gmmorris commented on #103111
AFAICT This doesn't appear to be a TM issue? Should this be labeled as Saved Objects instead?

[2021-07-12 11:02] stratoula opened #105199 "[Visualize][Lens] Rename Index pattern to data view"
**Describe the feature:**
Part of https://github.com/elastic/kibana/issues/94244

We want to rename the index patterns to data views. For now, we want to address it on the UI. The copies that need to change are:

- **TSVB**, there are some mentions on the Options tab, on the panel options (dropdown to select data view) and on annotations:
![image](https://user-images.githubusercontent.com/17003240

[2021-07-12 11:02] elasticmachine commented on #105199
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 11:09] peteharverson commented on #18005
Closing issue, as from 7.14 the datafeed preview in the UI uses the Elasticsearch [datafeed preview](https://www.elastic.co/guide/en/elasticsearch/reference/7.14/ml-preview-datafeed.html) API, done in https://github.com/elastic/kibana/pull/101780.

[2021-07-12 11:09] #18005 closed

[2021-07-12 11:12] estermv opened #105201 "[Stack Monitoring] [Test Scenario] Metricbeat monitoring"
# Testing
- [ ] Ensure that the Stack Monitoring UI works as expected with both `metricbeat-*` data and `.monitoring-*` data (https://github.com/elastic/kibana/pull/77099). This involves using either legacy or Metricbeat-based collection in addition to using Metricbeat for non-stack monitoring data. The easiest way to do this is to setup monitoring via Metricbeat and ensure the `system` module is

[2021-07-12 11:12] elasticmachine commented on #105201
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 11:18] thomasneirynck commented on #105111
I totally get this frustration. tbh not 100% sure if adding complexity to the "layered-model" is worth it. But maybe it is!

One an additional suggestion for the pile:
- if there is already an EMS-basemap on the map, hide the add-EMS layer-card or show some extra mess in the UX that you will add "two basemaps". There is already the layer-settng for EMS layers where a user can select the basemap on

[2021-07-12 11:24] mikecote commented on #103111
++ I don't believe the saved objects migration system supporting deletion at this time.

[2021-07-12 11:29] elasticmachine commented on #105186
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-12 11:29] MadameSheema commented on #105186
@peluja1012 @spong can you please help to prioritise this? Thanks :)

[2021-07-12 11:30] mgiota opened #105205 "[Stack Monitoring] Edit rule configuration popup overlapping with Edit rule flyout"
While performing the [Stack monitoring test plan](https://github.com/elastic/kibana/issues/104440) on cloud with 7.14, the Edit rule configuration popup would appear on top of the Edit rule flyout, making it hard to update the rule data. When clicking anywhere outside the flyout, would close the flyout, making it impossible to update the rule data.

https://user-images.githubusercontent.com/285270

[2021-07-12 11:30] elasticmachine commented on #105205
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 11:31] MadameSheema commented on #97786
@karanbirsingh-qasource can you please validate the fix on the current BC? thanks :)

[2021-07-12 11:39] lizozom commented on #28776
Ran into the same problems in https://github.com/elastic/kibana/pull/103530, trying to generate the `kuery` peg file.
Was resolved by adding

[code]
to the build arguments.

[2021-07-12 11:47] stratoula commented on #102179
I just tested it on the new BC (I created a new 7.14 instance) and it has been resolved. I am closing it.

[2021-07-12 11:47] #102179 closed

[2021-07-12 11:55] ymao1 commented on #97755
@mikecote Nice find! I only managed to find [this issue](https://github.com/elastic/elasticsearch/issues/46161) where it looked like an issue that would not be addressed. I am in agreement that we should wait for that issue vs developing a workaround.

[2021-07-12 11:59] gmmorris commented on #104961
lol, money down what's happened is there's a check that prevents an empty string being set in the variable, which is exactly what the user is trying to do when they hit backspace on that last char 😆

I've built too many UIs.... seen this happen so many times. :p

Good catch @nickpeihl , thanks!

[2021-07-12 12:04] elasticmachine commented on #105035
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-12 12:09] samratbhadra-qasource commented on #102875
Hi @kevinlog,

We tested this issue on the latest 7.14.0 BC2 build and found that the issue is partially fixed. Please find below the testing details.

**Build Details**:
[code]

## Observations:
**Windows**
- The status for 'Isolating' is removed when the endpoint is successfully but there is no status for 'Isolated' for some time.
- After some time the 'Isolated' status shows up
- After a succes

[2021-07-12 12:18] mbarretta opened #105209 "[Maps] Add ability to change the max number of terms used by the Tracks layer"
As of v7.13, a Tracks layer will only build tracks for up to 250 entities. The underlying query adds:
[code]

250 seems like an arbitrary number, and one that should be configurable as part of the layer definition or as a kibana setting

[2021-07-12 12:18] elasticmachine commented on #105209
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-12 12:21] legrego commented on #105082
@dhurley14,

If I understand correctly, this is the same problem we encounter with Object Level Security (not yet implemented). During the RFC phase, we discussed a couple of possible outcomes, and came to the conclusion that an inconsistent API response is tolerable.

There's a diagram in the `Authorization changes` section of the RFC that outlines the proposed approach. As long as RAC is aligned

[2021-07-12 12:21] mikecote commented on #97755
Great, I'm +1 if we want to close this issue in favour of the Elasticsearch ones and forward any feedback to those.

[2021-07-12 12:29] zraider7 commented on #103679
Any thoughts?

[2021-07-12 12:34] kevinlog commented on #102875
@samratbhadra-qasource thank you for the update.

- The status for 'Isolating' is removed when the endpoint is successfully but there is no status for 'Isolated' for some time.
- After some time the 'Isolated' status shows up
- After a successful release, the status shows as 'Isolated' for some time and then disappears

This issue is covered here: https://github.com/elastic/kibana/issues/104295
Th

[2021-07-12 12:36] muskangulati-qasource opened #105212 "[Security Solution] The comments for Host Isolation/Release disappears when isolating/releasing the host from the alert added to the Case."
**Description:**
The comments for Host Isolation/Release disappears when isolating/releasing the host from the alert added to the Case.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Case should be created with any connector say Jira

**Steps to Reproduce:**
1. Navigate to Detection tab of security
2. Click on events tab
3. Attach th

[2021-07-12 12:36] elasticmachine commented on #105212
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-12 12:36] muskangulati-qasource commented on #105212
@manishgupta-qasource please review!

[2021-07-12 12:42] manishgupta-qasource commented on #105212
Reviewed & Assigned to @kevinlog

[2021-07-12 12:50] joshdover commented on #104690
In some offline discussions, we decided to go with option (2) for the remainder of the 7.x series and add a few things to make the 8.0 upgrade smoother & improve long-term data integrity:
- In 7.14, start logging a warning for unknown document types detected during migration, but do not fail the upgrade. Retain these documents in the index and migrate them if the document type becomes available or

[2021-07-12 12:59] legrego commented on #104893
The first option sounds more holistic to me, but I think it'd be worth drawing a diagram first to make sure we understand what the flow would look like, and how we would handle all possible outcomes at each step of the request lifecycle.

[2021-07-12 13:01] ymao1 commented on #97755
Closing in favor of waiting for https://github.com/elastic/elasticsearch/issues/73349 to be resolved

[2021-07-12 13:01] #97755 closed

[2021-07-12 13:08] neptunian commented on #104440
@mgiota You can do it on staging cloud: https://staging.found.no/

[2021-07-12 13:11] legrego commented on #27047
@m-tomar thanks for the suggestion. It's unfortunately not that simple. All of the code that we write directly does not require `unsafe-eval`. Rather, some dependencies that Kibana pulls in use `unsafe-eval` internally. Examples of such dependencies include (but are not limited to):
- Handlebars (when compiling templates)
- Vega (when interpreting its visualization syntax)
- Lodash (via the `_.tem

[2021-07-12 13:17] mostlyjason opened #105218 "[Fleet] Enable agent monitoring when the hosted agent has >= 1GB of memory"
We are planning to increase the default size of APM & Fleet nodes to 1GB so that we can enable agent monitoring. This is critical to give users observability into the agent's logs and metrics, troubleshoot and scale the node. We need Fleet to detect when the APM & Fleet slider has enough memory to enable agent monitoring, and then turn it on by default.

As a APM & Fleet user, I want to:
- [ ] Ena

[2021-07-12 13:17] elasticmachine commented on #105218
Pinging @elastic/fleet (Team:Fleet)

[2021-07-12 13:19] karanbirsingh-qasource commented on #97786
Hi @MadameSheema

we have validated this issue on 7.14.0 BC2 and found it fixed 🟢 . Now Case count starts showing in the delete box description for multiple cases.

**Build Details:**
[code]
**Snap-Shoot:**

- _Single case deletion_
![image](https://user-images.githubusercontent.com/59917825/125294253-bf7dbc80-e341-11eb-9fa6-f2c0e91541e2.png)

- _multiple cases deletion_
![image](https://user-imag

[2021-07-12 13:19] #97786 closed

[2021-07-12 13:21] azasypkin commented on #104893
Yep, it's a good point, there can be a plenty of different "sub-flows" and outcomes.

[2021-07-12 13:21] ThomThomson commented on #103561
@flash1293, the more errors that are caught correctly the better, and I can look into implementing `data-render-error` on the error embeddables to expose the error message.

@ppisljar, I agree that once we figure out persistable URLs - whether the solution is clientside migrations or not - this issue will disappear. In the meantime, better error reporting seems like a good direction to take this.

[2021-07-12 13:25] legrego commented on #104298
What does `Client hostname` mean? My machine could have multiple names on my network, or different names on different networks. Either way, this information wouldn't be available to the Kibana server, so I don't think we can include this in the audit logs.

In theory, we could attempt to resolve the hostname from the IP address, but that would not reliably work in all cases, and more importantly i

[2021-07-12 13:37] mostlyjason commented on #105218
@jen-huang this is a candidate for 7.15. Ideally, we'll do this before or at the cloud milestone release where we increase the size. I don't see a hosted agent meta issue yet so I'll just tag you to track it.

[2021-07-12 13:38] jonathan-buttner commented on #90761
@machadoum I think we fixed this one right?

[2021-07-12 13:50] mgiota opened #105220 "[Stack Monitoring]"
While performing the [Stack monitoring test plan](https://github.com/elastic/kibana/issues/104440) on cloud with 7.14, there was a UI issue with the Indices Panel and multiple alerts, where not all of them were visible in the screen.

<img width="1030" alt="Screenshot 2021-07-12 at 12 47 47" src="https://user-images.githubusercontent.com/2852703/125296355-7d934d00-e326-11eb-911f-59fa3cf933d6.png">

[2021-07-12 13:52] Mauro-Rizzi commented on #17789
+1 This has been requested over 3 years ago and still hasn't been implemented. It's really annoying not being able to show different time ranges on my dashboards because the global filter breaks them

[2021-07-12 13:59] smith commented on #105071
It looks like there's about a 50/50 split between using [the typed `euiStyled` from kibanaReact](https://github.com/elastic/kibana/blob/0c0d659697299359de2c02ced7041f91c608467a/src/plugins/kibana_react/common/eui_styled_components.tsx#L47) and just using `import styled from 'styled-components'`.

If we could get more usage of `euiStyled` it might make it easier to make a change all in one place.

[2021-07-12 14:00] marius-dr commented on #104515
Fix from ES made it in the last master snapshot, but it seems that the filtering doesn't work any more now. With the filters set we get the same amount of documents filtered.

[2021-07-12 14:02] mgiota commented on #104440
@neptunian Thanks! For some reason staging was miserably failing, so I already did the testing on cloud with 7.14 and here are my findings:

Apart from some small UI issues I found https://github.com/elastic/kibana/issues/105220 and https://github.com/elastic/kibana/issues/105205 (one more will follow up) everything I tested so far worked fine.

I need a few clarifications. I noticed that when ent

[2021-07-12 14:03] elasticmachine commented on #105220
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 14:20] alisonelizabeth commented on #99625
Hi @Bamieh! Is this something core will still be able to implement? I think it will greatly improve the user experience.

[2021-07-12 14:25] #101705 closed

[2021-07-12 14:25] droberts195 commented on #105047
@walterra this is fixed in the 7.14 branch by https://github.com/elastic/elasticsearch/pull/75234.  That should be in the next 7.14.0 build candidate later this week, and also in a promoted ES snapshot for Kibana CI within 24 hours.

[2021-07-12 14:29] alisonelizabeth commented on #98476
Hi @Bamieh! Is this something the core team is still able to work on? I've also created a similar issue on the ES side for ES deprecations: https://github.com/elastic/elasticsearch/issues/73091.

[2021-07-12 14:36] weltenwort opened #105227 "[Observability RAC] Improve alerts table columns"
## :memo: Summary

The new alerts table merged with #103270 should be improved in several way to match the intended UX.

:link: extracted from #104269

## :heavy_check_mark: Acceptance criteria

- The content of the "duration" column is right-aligned.
- Units in the "duration" column are abbreviated in a useful way.
- The "reason" columns uses up the remaining width.
- The "actions" column (on the

[2021-07-12 14:36] elasticmachine commented on #105227
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 14:37] #102021 closed

[2021-07-12 14:40] weltenwort opened #105228 "[Observability RAC] Avoid unknown alerts table severity values"
## :memo: Summary

Showing "unknown" for every observability alert without an explicit severity attached (which is most of them) clutters the table unnecessarily.

:link: extracted from #104269

## :heavy_check_mark: Acceptance criteria

- The "Severity" column renders an empty cell for alert rows without an explicit severity.

[2021-07-12 14:47] myasonik commented on #105131
No, we don't need a fallback

[2021-07-12 14:48] elasticmachine commented on #105228
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 14:49] weltenwort commented on #105228
@cyrille-leclerc @katrin-freihofner Can you help us determine what we should render instead of "unknown"?

[2021-07-12 14:49] weltenwort opened #105229 "[Observability RAC] Align the alerts table pagination with the envisioned designs"
## :memo: Summary

The alerts table pagination introduced with #103270 should be changed to...

:link: extracted from #104269

## :heavy_check_mark: Acceptance criteria

- The styling should mimic what is in the [EUI docs](https://elastic.github.io/eui/#/navigation/pagination)
- The 'Updated X minutes ago' also is moved out of the table footer and placed between the search bar and table.

[2021-07-12 14:51] elasticmachine commented on #105229
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 14:57] Dosant commented on #104309
Related (possible duplicate): https://github.com/elastic/kibana/issues/98698

[2021-07-12 14:58] #103526 closed

[2021-07-12 15:01] weltenwort commented on #105229
@katrin-freihofner @mdefazio Can you help us determine what the intended pagination UX is?

[2021-07-12 15:03] MadameSheema commented on #90761
@deepikakeshav-qasource can you please try to reproduce it on the current BC? Thanks :)

[2021-07-12 15:05] jportner commented on #105082
Thanks for pointing that out, it slipped my mind!

It's similar, but not exactly the same.

For HTTP routes that use the SOC, you have:
1. Check authZ for route -- fail (403) or continue
2. Check authZ for object type -- fail (403) or continue
3. Check if object exists -- fail (404) or continue
4. Check authZ for object instance -- fail (403) or return success (200)

In the alerting client, you ha

[2021-07-12 15:06] weltenwort opened #105235 "[Observability RAC] Improve alerts table filter text box placeholder"
## :memo: Summary

The KQL query input in the alerts table filter bar should show a placeholder which represents a query appropriate to the table.

:link: extracted from #104269

## :heavy_check_mark: Acceptance criteria

- The KQL query input has a useful example placeholder which uses fields present in the alert documents.

[2021-07-12 15:06] elasticmachine commented on #105235
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 15:07] MadameSheema commented on #102904
@stephmilovic do you happen to know if this bug is fixed? thanks :)

[2021-07-12 15:09] MadameSheema commented on #104450
@michaelolo24 is this issue fixed or is there any pending work in progress? thanks :)

[2021-07-12 15:11] weltenwort opened #105237 "[Observability RAC] Remove the experimental callout and badge when appropriate"
:warning: Please see the open questions before working on this.

## :memo: Summary

Currently the observability alerts page shows a badge and callout that mark it as experimental. These should be removed when the feature is deemed non-experimental.

:link: extracted from #104269

## :heavy_check_mark: Acceptance criteria

- The "experimental" badge is not shown anymore.
- The callout about experim

[2021-07-12 15:11] elasticmachine commented on #105237
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 15:11] MadameSheema commented on #104456
@mandeepkaur-qasource can you please validate this again on BC2? Thanks :)

[2021-07-12 15:11] weltenwort commented on #105237
@cyrille-leclerc Can you help us understand what the criteria for moving out of experimental status should be?

[2021-07-12 15:13] timroes opened #105238 "Conflicting fields don't show correctly in Discover even with readFromSource"
When having a conflicting field where a field is in one index a string type and in another index an object type Discover will no longer show the value in the expanded document for the documetns where it's an object type.

To reproduce execute the following commands in the dev tools:

[code]

Now create an index pattern for `discover*`. When going to Discover you will see the documents as follows:

[2021-07-12 15:13] elasticmachine commented on #105238
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 15:13] MadameSheema commented on #104964
@karanbirsingh-qasource can you please validate if this is happening on the current 7.14 BC? Thanks :)

[2021-07-12 15:13] weltenwort commented on #104269
:information_source: I broke the tasks down into several issues so they can be tackled individually. Some need PM and design input.

[2021-07-12 15:14] cyrille-leclerc commented on #105228
@weltenwort the choice made by metrics & Infrastructure rules is "alert" and "warning" severities with "alert" being the default severity. I'm wondering if we want to default to "alert" or to blank?

I would tend to say "alert". Do we know what the APIs return?

[2021-07-12 15:14] MadameSheema commented on #104616
@stephmilovic do you happen to know if this is fixed? Thanks

[2021-07-12 15:15] jonathan-buttner commented on #104964
Looks like this does exist on 7.14. I was able to reproduce using the cloud staging environment.

[2021-07-12 15:15] joshdover commented on #104080
Worth noting that after #105213 merges, we will be continuing to allow unknown types to be migrated until 8.0. So we cannot make this change (or #103731) until that behavior changes.

[2021-07-12 15:18] MadameSheema commented on #104056
Closing since is working as expected.

[2021-07-12 15:18] #104056 closed

[2021-07-12 15:22] tylersmalley opened #105240 "Change kbn build kbn watch defaults to use Bazel"
https://github.com/elastic/kibana/issues/104519

[2021-07-12 15:22] elasticmachine commented on #105240
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-12 15:23] tylersmalley opened #105241 "Remove legacy build support from @kbn/pm"
https://github.com/elastic/kibana/issues/104519

[2021-07-12 15:23] elasticmachine commented on #105241
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-12 15:23] #103670 closed

[2021-07-12 15:24] tylersmalley opened #105243 "Create WSL documentation and start sunsetting Windows dev support"
https://github.com/elastic/kibana/issues/58069

[2021-07-12 15:24] elasticmachine commented on #105243
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-12 15:25] MadameSheema commented on #104964
Thanks @jonathan-buttner! ping @XavierM

[2021-07-12 15:26] FrankHassanabad commented on #104371
Thanks, let's wait for BC3 and see if it's fixed there. I expect this part to still be broken BC2 but fixed BC3 🤞 as the issue is further down the stack from the security solutions team and within ElasticSearch.

[2021-07-12 15:27] tylersmalley opened #105248 "Start iBazel with Kibana dev server and Storybooks"
https://github.com/elastic/kibana/issues/104519

[2021-07-12 15:27] elasticmachine commented on #105248
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-12 15:33] mgiota opened #105249 "[Stack Monitoring UI] Edit rule flyout closes when selecting the value of an input field"
While performing the [Stack monitoring test plan](https://github.com/elastic/kibana/issues/104440) on cloud with 7.14, the Edit rule flyout would close, when selecting the value of an input field in an attempt to update it.

https://user-images.githubusercontent.com/2852703/125312275-6b201000-e334-11eb-86e7-58037b0db3ac.mov

The flyout closes when the mouse moves outside of the flyout, where as it

[2021-07-12 15:34] elasticmachine commented on #105249
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 15:34] elasticmachine commented on #105174
Pinging @elastic/kibana-core (Team:Core)

[2021-07-12 15:35] jsanz opened #105251 "View in Index Management for follower index does a full reload"
**Kibana version:**
7.14.0-SNAPSHOT

**Browser version:**
`Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)`

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Staging cloud

**Describe the bug:**

The `View in Index Management` button in the follower index fly out is causing a full reload of Kibana.

**Steps to reprodu

[2021-07-12 15:35] elasticmachine commented on #105251
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-12 15:43] tsullivan commented on #105143
Oops, this was my fault. I had another instance of Kibana running in the stack and the encryption keys were not in sync.

[2021-07-12 15:43] #105143 closed

[2021-07-12 15:49] kindsun opened #105254 "[ML] Link to ml app goes through several redirects before getting to app"
**Kibana version:**

7.14

**Describe the bug:**

Clicking on the ML app link sometimes goes through several redirects before landing on a blank page, but not always. Sometimes it gets the app correctly but a user still can't navigate back correctly (maybe a redirect that should replace instead of adding to history?). Seems like there might be a race condition (not entirely sure how to consistentl

[2021-07-12 15:49] elasticmachine commented on #105254
Pinging @elastic/ml-ui (:ml)

[2021-07-12 15:49] weltenwort commented on #105228
:thought_balloon: For consistency with other Kibana apps (ML and Security), either "Critical" or blank would seem reasonable.

[2021-07-12 15:56] #104474 closed

[2021-07-12 15:56] #104524 closed

[2021-07-12 16:01] machadoum commented on #90761
It was fixed by this MR: https://github.com/elastic/kibana/pull/100487

[2021-07-12 16:05] elasticmachine commented on #105239
Pinging @elastic/apm-ui (Team:apm)

[2021-07-12 16:05] elasticmachine commented on #105242
Pinging @elastic/apm-ui (Team:apm)

[2021-07-12 16:08] mgiota opened #105259 "[Stack Monitoring] Issues while updating input values in the Edit rule flyout"
https://user-images.githubusercontent.com/2852703/125319879-7591d800-e33b-11eb-8e1a-c6da7f3fecfa.mov

[2021-07-12 16:08] elasticmachine commented on #105259
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 16:10] scunningham commented on #105078
This is by design in the Fleet Server.  The round trip to revalidate the same enrollment key over and over at scale is expensive.  The server caches the result from the last validation for a period of time.

There's a configuration item to specify how long the TTL is for the enrollment key cache.  Code is [here](https://github.com/elastic/fleet-server/blob/master/internal/pkg/config/cache.go#L35).

[2021-07-12 16:14] alisonelizabeth opened #105260 "Support for testing with multi-version clusters"
**Describe the feature:**
We’d like to have more robust automated test coverage for the Upgrade Assistant. In order to do so, we need the ability to run multi-version clusters, i.e., do X in old version, upgrade cluster, then do Y in new version. Elasticsearch offers similar capabilities with its backwards compatibility tests.

**Describe a specific use case for the feature:**
For the 8.0 Upgrade

[2021-07-12 16:14] elasticmachine commented on #105260
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-12 16:17] aaronjcaldwell opened #105261 "User must navigate twice to get back to Kibana home"
**Kibana version:**

7.14

**Describe the bug:**

Possibly due to a redirect (maybe should replace history entry?), a user must click back twice to get back to Kibana home

**Steps to reproduce:**
1. From Kibana home page, click Monitor the stack
2. Navigate back

**Screenshots (if relevant):**

![Peek 2021-07-12 10-13](https://user-images.githubusercontent.com/1728976/125321733-000e1380-e30b-11eb

[2021-07-12 16:17] elasticmachine commented on #105261
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-12 16:24] aaronjcaldwell opened #105262 "[ML] Issue reading 'appId' when navigating away from ML app"
**Kibana version:**

7.14

**Describe the bug:**

There's a consistent console error when navigating away from the ML app. It doesn't appear to affect page behavior in any way.

**Steps to reproduce:**

1. Navigate from Kibana home page to ML app
2. Navigate back to home page

**Provide logs and/or server output (if relevant):**

[code]

**Any additional context:**

[2021-07-12 16:24] elasticmachine commented on #105262
Pinging @elastic/ml-ui (:ml)

[2021-07-12 16:28] andrew-goldstein commented on #94385
With the rest of the AC satisfied, the team agreed to close this issue, because we're removing duplicated code as part of the current effort to migrate to `EuiDataGrid`.

[2021-07-12 16:28] #94385 closed

[2021-07-12 16:29] nickpeihl opened #105264 "[Alerting] Jira and ServiceNow connectors UI should display API connection errors"
**Kibana version:**

7.14.0-BC

**Original install method (e.g. download page, yum, from source, etc.):**

Cloud

**Describe the bug:**

Somewhat related to https://github.com/elastic/kibana/issues/104783. When improperly configured with a user password rather than an API key or with an incorrect password, the Jira and ServiceNow connectors test UI only returns a generic toast error like "Unable t

[2021-07-12 16:29] elasticmachine commented on #105264
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-12 16:31] weltenwort commented on #103394
I agree that we should display something to indicate that in the UI.

Regarding the docs, in the page you linked to it already says:

Any ideas how to clarify that more?

[2021-07-12 16:32] #104802 closed

[2021-07-12 16:37] joshdover commented on #105115
If we can make it work, I strongly prefer going with a solution that is handled directly by the Saved Object migration infrastructure over one that requires type owners to implement any custom interactions with Elasticsearch or SavedObjectsClient. I fear that opening that box would only increase the fragility of this system and make auditing our migration code for issues much harder. The more cent

[2021-07-12 16:41] cjcenizal commented on #104569
Jenkins logs indicate that ES wasn't available, and the screenshot shows Kibana failing to load at all. I'm going to chalk this one up as a transient failure, possibly something related to the network.

[2021-07-12 16:52] petrklapka commented on #69720
**Steps to reproduce:**

1. Start from a 7.6.2 stack

1. Create a document with a single field and a very long value (sub 1MB) into the index `crazyindex`

<details>
<summary> Request </summary>

[code]

</details>

1. Create an index pattern against this index (e.g. `crazyindex`).

1. Enable the setting `state:storeInSessionStorage` in `Advanced Settings`

1. Go in `Discover`

1. Select the `craz

[2021-07-12 17:02] bhavyarm opened #105268 "Kibana auto-selects all the "Go to Dashboard" in copy existing drilldowns list when user tries to select just one"
**Kibana version:** 7.14.0 BC2

**Elasticsearch version:** 7.14.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user has more than one "Go to Dashboard" drilldowns & while creating another dashboard drilldown - tries to copy

[2021-07-12 17:02] elasticmachine commented on #105268
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 17:27] marshallmain opened #105271 "[Security Solution] Elastic Security can not always use Pre-configured Kibana Connectors in Alert actions"
**Kibana version:**
7.13.0

**Describe the bug:**
Preconfigured connectors defined in kibana.yml can't be used in the Security Solution if the ID of the connector is not a valid UUID. For example, the preconfigured connector
[code]
causes the following error to display if you attempt to use it as an action for a rule in the security solution:
![image](https://user-images.githubusercontent.com/5571

[2021-07-12 17:27] elasticmachine commented on #105271
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-12 17:28] joshdover opened #105272 "Add Upgrade Assistant deprecation warning for unknown Saved Object types"
Follow up per https://github.com/elastic/kibana/issues/104690#issuecomment-878252349
Depends on decision in https://github.com/elastic/kibana/issues/107678

We need to add a new Upgrade Assistant deprecation warning that will be displayed to users who have documents from unknown types present in their `.kibana` index. This deprecation(s) should allow users to delete these documents directly from t

[2021-07-12 17:28] elasticmachine commented on #105272
Pinging @elastic/kibana-core (Team:Core)

[2021-07-12 17:35] FrankHassanabad commented on #105186
Some of the documents can have non-existent fields and you will want to do a few things to ensure we have a valid bug or not here.

**For Threshold rules**
---

For step 2 for each of the individual threshold rules, use this query for each type:

* data_stream.dataset
* data_stream.namespace
* data_stream.type

Then this query for each type, so 3 threshold rules. One for each:
[code]

<img width="

[2021-07-12 17:35] aaronjcaldwell opened #105275 "Default indexes logs-* and metrics-* created on app load"
**Kibana version:**

7.14

**Describe the bug:**

Clicking on "Add Elastic Agent integrations" from the home page auto-creates `logs-*` and `metrics-*` index patterns. For a user clicking around exploring, this can lead to unexpected behavior in discover or anywhere in Kibana where you might load an index pattern expecting backing indexes.

**Steps to reproduce:**
1. From Kibana Home, click "Add E

[2021-07-12 17:35] elasticmachine commented on #105275
Pinging @elastic/fleet (Team:Fleet)

[2021-07-12 17:35] elasticmachine commented on #105275
Pinging @elastic/fleet (Feature:EPM)

[2021-07-12 17:54] #102483 closed

[2021-07-12 18:00] aaronjcaldwell opened #105282 "Home breadcrumb replaced by ellipsis on mobile"
**Kibana version:**

7.14

**Browser**

Chrome

**Describe the bug:**

The `Home` breadcrumb is replaced by an ellipsis on mobile, but based on the length of the word, this shouldn't necessarily happen. Maybe just requires a css tweak?

**Screenshots (if relevant):**

![image](https://user-images.githubusercontent.com/1728976/125334326-41a5bb00-e319-11eb-943a-ee308af2e335.png)

[2021-07-12 18:00] elasticmachine commented on #105282
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 18:00] elasticmachine commented on #105282
Pinging @elastic/kibana-core (Team:Core)

[2021-07-12 18:00] kmartastic opened #105283 "[Dashboard][Docs] Link from Markdown editor for help goes to a stale URL"
The link on the Markdown editor for a Text panel does not go to a helpful link. The url target is no longer valid and the fallback is not immediately helpful.

![image](https://user-images.githubusercontent.com/65553677/125334050-c8e63500-e2ff-11eb-81eb-a5d08af7dbbd.png)

![image](https://user-images.githubusercontent.com/65553677/125334076-d1d70680-e2ff-11eb-9419-606f52c32d91.png)

The URL ends u

[2021-07-12 18:00] elasticmachine commented on #105283
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 18:09] jakommo commented on #103394
Ha, I actually didn't see this at all. I think it would help to move this further up on the doc page. Currently there are two code blocks with example queries above this and that makes it easy to miss it.
How about adding a note in the `Fields and comparators` paragraph and then link to https://www.elastic.co/guide/en/observability/7.13/logs-threshold-alert.html#settings from that?

[2021-07-12 18:10] jakommo commented on #103394
Also, if we could have a hint in the UI, that would help even more I think.

[2021-07-12 18:14] michaelolo24 commented on #104456
@mandeepkaur-qasource & @MadameSheema It should appear on BC3. Apologies for the late notice here. The backport was made here: https://github.com/elastic/kibana/pull/104856

[2021-07-12 18:18] FrankHassanabad opened #105285 "[Security Solutions] Exception Operator dropdown throws exception on backspace"
**Steps to reproduce:**
* Create a new detection rule
* Go to "Exceptions"
* Enter any option such as "is"
* If you hit backspace you get a stack trace in dev tools console:
<img width="1754" alt="Screen Shot 2021-07-12 at 12 06 17 PM" src="https://user-images.githubusercontent.com/1151048/125336418-fa183280-e30a-11eb-8cf0-6cf8b9225299.png">

[code]

**Kibana version:**
7.14.0-BC2, master

**Expec

[2021-07-12 18:18] elasticmachine commented on #105285
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-12 18:18] jportner commented on #105115
@pgayvallet Yeah that's intentional.

We only use the `convert` transforms (to change an object's ID, add origin ID, and add an alias) during an index migration. So it follows that we only use core-generated `reference` transforms during an index migration too.

If you have exported an object from 7.14, and that is converted in 8.0, and then you want to import it in 8.1: the import code will check

[2021-07-12 18:24] wylieconlon commented on #105175
This looks like it's the the classic `net::ERR_NETWORK_CHANGED` error, which typically means that there's a Jenkins failure. I don't think this is related to code that we wrote.

[2021-07-12 18:24] #105175 closed

[2021-07-12 18:27] ecezalp commented on #100181
Repoening as discussed during the RAC sync today - we have established that #102104 didn't address the issue documented in this ticket, and we need to determine whether we want to address the change described in here.

[2021-07-12 18:47] cchaos commented on #103148
@pgayvallet Can you double-check that this was fixed in master with the most recent upgrade of EUI?

[2021-07-12 18:54] kibanamachine commented on #105016
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/66/)

[2021-07-12 18:56] jportner commented on #102957
In addition to the `namespace` option for all objects:

https://github.com/elastic/kibana/blob/d920682e4e341eb43a5561531c111821e8e56fd0/src/core/server/saved_objects/service/lib/update_objects_spaces.ts#L39-L50

This `SavedObjectsUpdateObjectsSpacesObject` interface (used for the `updateObjectsSpaces` method) has two fields that are meant to be internal only. But if we implemented some sort of "pr

[2021-07-12 19:00] mostlyjason commented on #104583
Adding a comment field sounds like a great idea. Tagging @bradenlpreston to help prioritize this from a security use case perspective.

[2021-07-12 19:03] pmuellr opened #105296 "[alerting] document that using es-security-runas-user prevents API keys from being created correctly"
We have a Kibana user who is using a reverse proxy doing some kind of authentication, which then forwards request with the `es-security-runas-user` header, but doing the actual authentication with a fixed user / pass provided by the proxy.

Unfortunately, this doesn't work as the user hoped - alerting ended up creating an API key for the fixed user, when it was intended that it would be created us

[2021-07-12 19:03] elasticmachine commented on #105296
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-12 19:08] jportner commented on #97085
Removing the blocker label as the 7.13.0 release has already passed. This is still in our backlog to work through!

[2021-07-12 19:11] bhavyarm opened #105298 "Better UX when dashboard panels have drilldowns with legend filters"
**Kibana version:** 7.14.0 BC2

**Elasticsearch version:** 7.14.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If lens or viz panel has a drill-down the interaction with legend filters becomes a confusing two-step interaction.

[2021-07-12 19:11] elasticmachine commented on #105298
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 19:11] elasticmachine commented on #105298
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 19:14] jbudz opened #105299 "Dashboard visualization without title overlaps legend"
This was noted in - https://discuss.elastic.co/t/bug-in-visualization-without-title-in-dashboard/278461  - thanks to the author for reporting.

Browser: Firefox 89
Kibana: 7.12.1 and 7.13.3

- Create dashboard
- Edit
- "Create Visualization" button
- "Save and Return"
- Switch to view mode

![image](https://user-images.githubusercontent.com/3143860/125342972-25a31900-e31b-11eb-913b-cfec97617382.pn

[2021-07-12 19:15] liza-mae commented on #92887
Fixed with https://github.com/elastic/kibana/pull/105116 and https://github.com/elastic/kibana/pull/104993.

[2021-07-12 19:15] #92887 closed

[2021-07-12 19:16] mikecote opened #105300 "Alerting plugin "alerts client" terminology is confusing"
## Problem Statement
The alerting framework is transitioning to use [new terminology](https://github.com/elastic/kibana/issues/90375), but currently, there are two flavours of the alerts client that are clashing names. The alerts client provided by the alerting plugin actually refers to rules and clashes with the RAC alerts as data client designed to manage alerts.

[2021-07-12 19:16] elasticmachine commented on #105300
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-12 19:19] mikecote commented on #100667
Marking as blocked until the research in https://github.com/elastic/kibana/issues/100067 confirms this is still necessary and with what requirements.

[2021-07-12 19:20] mikecote commented on #100666
Marking as blocked until the research in https://github.com/elastic/kibana/issues/100067 confirms this is still necessary and with what requirements.

[2021-07-12 19:21] mikecote commented on #103600
Blocked by #87992 and #99741

[2021-07-12 19:22] mikecote commented on #103599
Blocked until the following issues are resolved: https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3A%22Epic%3A+Stack+Monitoring+Alerting+Alignment%22

[2021-07-12 19:23] bradenlpreston commented on #104583
The "nickname" portion of this seems similar to the tagging/grouping concepts we've discussed in past roadmap discussions. The "comment" field should likely be considered separate as it would have more information than a nickname/tag.

On the security side we see both as valuable management features. Endgame customer found the tagging and grouping functions implemented valuable.

[2021-07-12 19:25] lukeelmers opened #105303 "[lens] Field preview shows error for runtime fields when using a RT field in the query bar"
There is some odd behavior happening when you use a runtime field in the query bar in lens, and then try to click and preview that field from the field selector.

So far I've been able to reproduce as follows:
1. On a fresh install (I'm seeing this on 7.13.2 and 7.14 BC), install `kibana_sample_data_logs`
2. Add 2 runtime fields to the `kibana_sample_data_logs` index pattern: `test1` and `test2`
3

[2021-07-12 19:26] jportner commented on #100570
Removing this as a blocker -- decision took place in a Slack conversation.

CC @legrego @bhavyarm

[2021-07-12 19:26] jportner commented on #99581
Removing this as a blocker -- decision took place in a Slack conversation.

CC @legrego @bhavyarm

[2021-07-12 19:26] lukeelmers commented on #105303
pinging @elastic/kibana-app  (since elasticmachine appears to have forgotten)

[2021-07-12 19:28] jportner commented on #55953
It's not clear to me if this is actually blocking anything, so I am removing the blocker label.

[2021-07-12 19:30] chrisronline opened #105306 "[Research] Next steps for O11y of Alerting - Create issues for known future enhancements"
WIP

[2021-07-12 19:49] pmuellr commented on #94956
I had assigned this to myself, as I wanted to see if I could take a crack at doing something, but ... it's hard.  I'm going to unassign myself and add a discuss label, since I think there's some discussion-worthy items here>

- I'm not sure whether the existing documentation "shape" is really amenable to documenting these shapes.  For example, the [definition for the create rule definition](https:

[2021-07-12 19:51] jasonrhodes commented on #84550
This is great feedback in the ticket here. Next steps: create implementation ticket with clear AC, then close this one. We'll do that during backlog refinement.

[2021-07-12 19:52] #96318 closed

[2021-07-12 20:01] spalger commented on #55953
We label skipped tests with blocker to make sure that teams get the tests back in place ASAP because the `onPostAuthInterceptor` logic has been untested since 7.7

[2021-07-12 20:04] elasticmachine commented on #105306
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-12 20:05] tylersmalley opened #105310 "test"

[2021-07-12 20:05] elasticmachine commented on #105310
Pinging @elastic/kibana-security (Team:Security)

[2021-07-12 20:09] elasticmachine commented on #105271
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-12 20:10] jasonrhodes commented on #102067
Thanks for this, @estermv ! I think we expect that the larger chunk of time is now being spent in the UI rendering, rather than query optimization. For that reason, I think looking at [the suggestions you made here](https://github.com/elastic/kibana/issues/99897) would be a good "next step" on performance improvements, whenever we decide to prioritize those.

[2021-07-12 20:12] elasticmachine commented on #105099
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-12 20:12] elasticmachine commented on #105171
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 20:14] #101550 closed

[2021-07-12 20:14] liza-mae opened #105312 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_discover·ts - discover app discover test usage of discover:searchOnPageLoad should fetch data from ES initially when discover:searchOnPageLoad is true"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_discover·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #97537
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_popularity·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result popularity "after each" hook for "should update the popularity input"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae opened #105313 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page allows to update the saved object when submitting"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #105313
Relates to: elastic/kibana#96947

[2021-07-12 20:14] liza-mae opened #105314 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js - timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for split argument when index pattern set"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae opened #105315 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_markdown_vis·ts - visualize app visualize ciGroup4 markdown app in visualize app "before all" hook in "markdown app in visualize app""
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_markdown_vis·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae opened #105316 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visualize ciGroup12 visual builder switch index patterns should be able to switch using text mode selection"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app visualize ciGroup12 visual builder switch index patterns should be able to switch combo box mode selection

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #92303
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #76181
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #86524
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard

 _Test Report: https://internal-ci.elastic.co/view/St

[2021-07-12 20:14] liza-mae opened #105317 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_doc_table_newline·ts - discover app discover doc table newline handling should break text on newlines"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_doc_table_newline·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #97540
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter from unrelate

[2021-07-12 20:14] liza-mae commented on #92307
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #92309
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-07-12 20:14] liza-mae opened #105318 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/reporting_management/report_listing·ts - reporting management app Listing of Reports "before each" hook for "Confirm single report deletion works""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/reporting_management/report_listing·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae commented on #63792
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/smoke_test·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae opened #105319 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts - discover app index pattern with unmapped fields unmapped fields exist on a new saved search"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae opened #105320 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/expression·ts - Canvas app expression editor "before all" hook for "updates when element is changed via side bar""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/expression·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:14] liza-mae opened #105321 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/filters·ts - Canvas app filters "before all" hook for "filter updates when dropdown is changed""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/filters·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae opened #105322 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/custom_elements·ts - Canvas app custom elements "before all" hook for "creates a custom element from an element when prompted""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/custom_elements·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae commented on #87713
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/reports·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Canvas app Canvas PDF Report Generation Print PDF button downloaded PDF base64 string is correct without borders and logo

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testRepo

[2021-07-12 20:15] liza-mae commented on #97535
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_create_index_pattern_wizard·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae commented on #72165
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-07-12 20:15] liza-mae commented on #98418
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae commented on #102008
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae commented on #98419
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae commented on #98420
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] liza-mae commented on #98403
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result field sort "after all" hook in "index result field sort"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 20:15] elasticmachine commented on #101541
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 20:17] elasticmachine commented on #105322
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 20:17] elasticmachine commented on #105321
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 20:17] elasticmachine commented on #105320
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 20:17] elasticmachine commented on #105319
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 20:18] elasticmachine commented on #63792
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 20:18] elasticmachine commented on #105318
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-12 20:18] elasticmachine commented on #105318
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 20:18] elasticmachine commented on #105317
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 20:19] elasticmachine commented on #105316
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 20:19] elasticmachine commented on #105315
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 20:19] elasticmachine commented on #105314
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 20:20] elasticmachine commented on #105313
Pinging @elastic/kibana-core (Team:Core)

[2021-07-12 20:20] elasticmachine commented on #105312
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 20:23] tylersmalley commented on #105016
Skipped on 7.14: 20e0ea9ed24c6e566a025800c33c7fa3a46607fd

[2021-07-12 20:29] chrisronline opened #105325 "[Task Manager] [Docs] Update TM troubleshooting docs to include 7.14 changes"
In 7.14, we introduced two new configs in https://github.com/elastic/kibana/pull/102804 that help users diagnose and troubleshoot performance issues with Task Manager (which usually is reported as issues with alerting). We need to update the troubleshooting docs to include information about these new configs, how to use them, and how they help diagnose problems.

[2021-07-12 20:29] elasticmachine commented on #105325
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-12 20:37] nreese commented on #105115
Another route would be to avoid the SO migration.

https://github.com/elastic/kibana/pull/105326 is a proof of concept of creating a tile_map visualization implementation that is just a thin wrapper around the MapEmbeddable. If we go this route, then the saved objects can stay as-is. Thoughts?

<img width="600" alt="Screen Shot 2021-07-12 at 2 28 43 PM" src="https://user-images.githubusercontent.c

[2021-07-12 20:39] mgiota commented on #104440
@neptunian I tried to do the testing on staging, but staging is quite broken. I can not even enable Logs and Metrics, I keep getting Interval Server Error.

I did one more time my testing on Cloud with 7.14 and I still didn't get the modal on the listing page (I had no default rules enabled and I had cleared my localStorage and sessionStorage before).

Regarding the `Alert Per Cluster Rules` I man

[2021-07-12 20:47] jasonrhodes commented on #64148
I think it's difficult because it's hard to know the difference between "a long query that is taking a while because it's running against frozen indices or cold tier storage and it's fine, we planned for this" vs. "a query that is taking way too long and the user wants to make it stop". That's what makes it seem like automated heuristics are going to be tough here. But maybe some kind of default t

[2021-07-12 20:49] elasticmachine commented on #104781
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 20:59] Mauro-Rizzi opened #105330 "Stacked Area Graphs keeps show dots settings from line graph"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Windows Datacenter

**Browser version:** Google Chrome 91.0.4472.124

**Browser OS version:** Windows 10 OS Version 2009 (Build 19042.1083)

**Original install method (e.g. download page, yum, from source, etc.):**  Download page

**Describe the bug:**
Whenever you activate the Show dots settings for line graphs

[2021-07-12 21:01] #90311 closed

[2021-07-12 21:02] parkiino commented on #104087
https://github.com/elastic/kibana/pull/105331

[2021-07-12 21:03] parkiino commented on #104820
https://github.com/elastic/kibana/pull/105331

[2021-07-12 21:04] elasticmachine commented on #103459
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-12 21:05] XavierM commented on #103459
I investigated the code, I think the error belong in this function `getThresholdAggregationData` in this file `x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.tsx`. I think @madirey would be best to debug

[2021-07-12 21:10] #95092 closed

[2021-07-12 21:14] jasonrhodes commented on #31287
@weltenwort do you think this ticket is still relevant? I know we've done a lot to split the two apps but I don't know if we ever got so far as to de-tangle their RBAC permissions.

[2021-07-12 21:15] jasonrhodes commented on #65380
@Zacqary can you confirm if this is still an issue and close if not?

[2021-07-12 21:16] #79882 closed

[2021-07-12 21:17] jasonrhodes commented on #99536
@Kerry350 is this related to the work we outlined for the Logs rule type, for high-cardinality groupings? Can we link these together if they're related?

[2021-07-12 21:21] mgiota commented on #104349
@Kerry350 @weltenwort I created this ticket as a placeholder for one of you to fill out the description with the appropriate test scenarios. If you think it makes more sense to include the new solution navigation as part of other Metrics and Logs scenarios as @estermv suggested, feel free to close this issue and update other scenarios accordingly.

[2021-07-12 21:21] jasonrhodes commented on #104094
@katefarrar is there more to add to this description re: prototype coming?

[2021-07-12 21:21] jasonrhodes commented on #104093
@katefarrar is there more to add to this description re: prototype coming?

[2021-07-12 21:27] wylieconlon commented on #105303
Okay, the bug here is that the `field_stats` endpoint in Lens was only providing a single `runtime_mappings` entry for the field you clicked, instead of using the whole mapping which could be used by filters.

[2021-07-12 21:28] tylersmalley commented on #104466
@thelink2012, I have tested your patch against this singular test locally and it worked. I am running all of CI against it here: https://github.com/elastic/kibana/pull/104571

[2021-07-12 21:32] liza-mae opened #105335 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/feature_controls/canvas_security·ts - Canvas app security feature controls global canvas all privileges "before all" hook for "shows canvas navlink""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/feature_controls/canvas_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:33] liza-mae opened #105336 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/feature_controls/canvas_spaces·ts - Canvas app spaces feature controls space with no features disabled shows canvas navlink"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/feature_controls/canvas_spaces·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Canvas app spaces feature controls space with no features disabled landing page shows "Create new workpad" button
- Canvas app spaces feature controls space with no features disabled allows a workpad to be created

[2021-07-12 21:33] liza-mae opened #105337 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/lens·ts - Canvas app lens in canvas "before all" hook for "renders lens visualization""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/lens·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:33] liza-mae opened #105338 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts - discover app discover integration with runtime fields editor "before all" hook for "allows adding custom label to existing fields""
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:33] liza-mae opened #105339 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts - discover feature controls discover feature controls security global discover read-only privileges doesn't show CSV reports"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover feature controls discover feature controls security global discover read-only privileges with url_create Permalinks shows create short-url button

 _Test Report: https://internal-ci.elastic.co/view/S

[2021-07-12 21:34] liza-mae opened #105340 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/lens_reporting·ts - lens app lens reporting should not cause PDF reports to fail"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/lens_reporting·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:34] liza-mae opened #105341 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/infra/metrics_source_configuration·ts - InfraOps App Metrics UI Infrastructure Source Configuration with metrics present can change the metric indices back to a pattern that matches something"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/infra/metrics_source_configuration·ts**
**Stack Trace:**
[code]
**Other test failures:**
- InfraOps App Metrics UI Infrastructure Source Configuration with metrics present renders the waffle map again

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/

[2021-07-12 21:34] liza-mae opened #105342 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/infra/metrics_anomalies·ts - InfraOps App Metrics UI Metrics UI Anomaly Flyout with anomalies present renders the anomaly table with anomalies"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/infra/metrics_anomalies·ts**
**Stack Trace:**
[code]
**Other test failures:**
- InfraOps App Metrics UI Metrics UI Anomaly Flyout with anomalies present renders the anomaly table after a date change with no anomalies
- InfraOps App Metrics UI Metrics UI Anomaly Flyout with anomalies present renders more ano

[2021-07-12 21:34] liza-mae commented on #105342
Relates to: elastic/kibana#100444

[2021-07-12 21:34] liza-mae opened #105343 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/infra/logs_source_configuration·ts - InfraOps App Logs UI Logs Source Configuration Allows indices configuration can change the log indices back to a pattern that matches something"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/infra/logs_source_configuration·ts**
**Stack Trace:**
[code]
**Other test failures:**
- InfraOps App Logs UI Logs Source Configuration Allows indices configuration renders the default log columns with their headers
- InfraOps App Logs UI Logs Source Configuration Allows indices configuration can change the

[2021-07-12 21:35] liza-mae opened #105344 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows configuring http advanced options"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:35] liza-mae opened #105345 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation·ts - machine learning data frame analytics outlier detection creation iowa house prices edits the analytics job and displays it correctly in the job list"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning  data frame analytics outlier detection creation iowa house prices displays the analytics job in the map view

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elas

[2021-07-12 21:35] liza-mae opened #105347 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/visualize/feature_controls/visualize_security·ts - Visualize visualize feature controls security global visualize all privileges shows visualize navlink"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/visualize/feature_controls/visualize_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:36] liza-mae opened #105350 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/creation_runtime_mappings·ts - transform creation with runtime mappings batch transform with pivot configurations and runtime mappings navigates through the wizard and sets all needed fields"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/creation_runtime_mappings·ts**
**Stack Trace:**
[code]
**Other test failures:**
- transform creation with runtime mappings batch transform with pivot configurations and runtime mappings runs the transform and displays it correctly in Discover page
- transform creation with runtime mappings batch t

[2021-07-12 21:36] liza-mae opened #105351 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/cloning·ts - transform cloning clone transform navigates through the wizard, checks and sets all needed fields"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/cloning·ts**
**Stack Trace:**
[code]
**Other test failures:**
- transform cloning clone transform runs the clone transform and displays it correctly in the job list
- transform cloning clone transform with latest function navigates through the wizard, checks and sets all needed fields
- transform

[2021-07-12 21:36] liza-mae opened #105352 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/search/session·ts - apis search search session in non-default space should complete and delete non-persistent sessions"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/search/session·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:36] liza-mae opened #105353 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/privileges·ts - apis security Privileges GET /api/security/privileges should return a privilege map with all known privileges, without actions"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/privileges·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:37] liza-mae opened #105354 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js - apis Monitoring APM overview mb should summarize apm cluster with metrics"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:37] liza-mae opened #105355 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js - apis Monitoring APM list mb should load multiple clusters"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:37] liza-mae opened #105356 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js - apis Monitoring APM instance detail mb should get apm instance data"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:37] liza-mae opened #105357 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js - apis Monitoring cluster list mb with trial license clusters should load multiple clusters"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2013/testReport/_

[2021-07-12 21:38] liza-mae opened #105358 "[test-failed]: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/security_roles_privileges·ts - Reporting APIs Security Roles and Privileges for Applications Dashboard: CSV download file does allow user with the role privilege"
**Version: 7.14.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/security_roles_privileges·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Reporting APIs Security Roles and Privileges for Applications Dashboard: Generate PDF report does allow user with the role-based privilege
- Reporting APIs Security Roles and Privileges fo

[2021-07-12 21:41] elasticmachine commented on #105358
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 21:41] elasticmachine commented on #105357
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-12 21:41] elasticmachine commented on #105356
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-12 21:42] elasticmachine commented on #105355
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-12 21:42] elasticmachine commented on #105353
Pinging @elastic/kibana-security (Team:Security)

[2021-07-12 21:42] elasticmachine commented on #105352
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 21:43] elasticmachine commented on #105351
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-12 21:43] elasticmachine commented on #105350
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-12 21:43] elasticmachine commented on #105347
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 21:43] elasticmachine commented on #105345
Pinging @elastic/ml-ui (:ml)

[2021-07-12 21:43] elasticmachine commented on #105344
Pinging @elastic/uptime (Team:uptime)

[2021-07-12 21:44] elasticmachine commented on #105343
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 21:44] elasticmachine commented on #105342
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 21:44] elasticmachine commented on #105341
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-12 21:44] elasticmachine commented on #105340
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 21:45] elasticmachine commented on #105339
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 21:45] elasticmachine commented on #105338
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-12 21:45] elasticmachine commented on #105337
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-12 21:45] elasticmachine commented on #105336
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 21:45] elasticmachine commented on #105335
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-12 21:51] elasticmachine commented on #105354
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-12 22:12] #99606 closed

[2021-07-12 22:25] jen-huang commented on #105275
This is a core piece in Fleet's current architecture, the index patterns need to be created because Fleet also installs default packages which contain dashboards and visualizations that need to read on an existing index pattern to work. In the future it might be possible to embed an index pattern into other assets "as value", but closing as this is not something we will move away from in the near

[2021-07-12 22:25] #105275 closed

[2021-07-12 22:29] jen-huang commented on #105078
Thanks @scunningham for the clarification. cc @nimarezainia for awareness if this is something we should improve from a product perspective.

Closing this bug for now as, well, it's not a bug :)

[2021-07-12 22:29] #105078 closed

[2021-07-12 22:30] jen-huang commented on #104280
@amolnater-qasource I think that should work.

[2021-07-12 23:04] ekibicho opened #105371 "Commanderjs version used by kibana not properly parsing argument value starting with -"
Kibana version: 7.13.0

Elasticsearch version: 7.13.0

Custom built kibana docker  with version 7.13.0 was used.

Using an elasticsearch.password that starts with a dash(-) character results in commanderjs trying to use the password as an option to kibana instead as the password and results in an error:

 ERROR  Extra serve options "--elasticsearch.password" must have a value.

I believe this woul

[2021-07-12 23:43] elasticmachine commented on #105272
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-12 23:54] cjcenizal commented on #105350
@liza-mae Transforms are owned by the ML team, I believe

[2021-07-12 23:54] elasticmachine commented on #105350
Pinging @elastic/ml-ui (:ml)

[2021-07-12 23:55] elasticmachine commented on #105351
Pinging @elastic/ml-ui (:ml)

[2021-07-13 00:02] vigneshshanmugam commented on #104208
The issue seems to be coming when we migrated all synthetics network events to be ECS compatible which means for every browser request, Synthetics agent writes all the TLS related security details under the ECS format which would be under `tls.server` in the root `journey/network_info` documents.

However, we don't create hash for those certificates under `tls.server.hash.*` as the agent does not

[2021-07-13 00:07] marcelvarallo-leidos opened #105377 "Show query button which exposes how a search is constructed from the UI"
**Describe the feature:**
When you create a search in "Discover" using the UI there should be a button that you can click which then shows you the underlying code for the search you just created.

**Describe a specific use case for the feature:**
This would allow you to build a search in the UI, copy the code and use the API to add extra functionality to the search by adding code that the UI would

[2021-07-13 00:15] FrankHassanabad opened #105378 "[Security Solution][Detection Engine] Pull out duplicated code from lists and security_solution into a package"
**Describe the bug:**
We have duplicated code from `lists` and `security_solution` around a `autocomplete` feature. Some of these files have bug fixes and modifications that are not the same between the copies and will have to reviewed for the hopes we don't introduce a regression.

We should try and pull out `autocomplete` feature into its own package and then re-ingest and share those between `l

[2021-07-13 00:15] elasticmachine commented on #105378
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 00:15] elasticmachine commented on #105378
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-13 00:26] dhurley14 commented on #104958
@weltenwort I am forgetting what was the reasoning for the customizability of that setting again? Given this is a system index we probably should not allow users to change the name, especially given we are trying to move away from index-level privileges which, given a custom setting, would force us to resort to searching with `current user` and not the kibana system user as the kibana system user

[2021-07-13 00:41] jasonrhodes commented on #104958
@dhurley14 there are two "settings" that I know about, I'll try to provide context for both so that anyone following along can understand the difference:

1. Security solution advanced setting: this is something the security solution will manage on its own which allows the "namespace" value of the index to be configured to be the space ID automatically, to maintain backwards compatibility for user

[2021-07-13 01:30] #103459 closed

[2021-07-13 02:16] marcelvarallo-leidos opened #105381 "Shell script and powershell connector for watcher alerts"
**Describe the feature:**
A powershell and Shell/bash script connector for watcher alerts

**Describe a specific use case for the feature:**
In the event of certain alerts, trigger a shell script or powershell command parsing in detail from the alert.

I currently have an intermittent issue with one of my servers and I'd like to run a diagnostic script when it happens but it disappears before I no

[2021-07-13 03:07] harsha-gsai commented on #101705
Awesome!. Thanks a lot to all the contributors.

[2021-07-13 04:03] cjcenizal commented on #105381
@marcelvarallo-leidos By "connector" do mean a new type of [Watcher action](https://www.elastic.co/guide/en/elasticsearch/reference/current/actions.html)? If so, then I believe you're requesting an [Elasticsearch](https://github.com/elastic/elasticsearch) enhancement.

[2021-07-13 04:08] marcelvarallo-leidos commented on #105381
Apologies, I use several versions of Elasticsearch and it appears I got a little confused.  In the Alerts and Actions section, there's a tab to create new Connectors and contains items like webhook, email, jira etc.  That's the area I was thinking of.  But a watcher action would be good too :)

[2021-07-13 04:26] tylersmalley commented on #104466
@thelink2012, there are still quite a few tests failing. I really think we should consider reverting your PR to unblock all the downstream teams relying on ES being up-to-date with Kibana while we work these failures out.

[2021-07-13 04:34] axw opened #105383 "[APM] APM agent config created prior to Fleet migration is not injected into integration policy"
Kibana: 7.14-SNAPSHOT

If you create APM agent config in the UI, and subsequently run the Fleet ("schema") migration, then the agent config is not injected into the integration policy initially.

Steps to reproduce:
1. Create a 7.14-SNAPSHOT deployment in cloud QA
2. Navigate to the APM app in Kibana, create an agent config for "All"

![image](https://user-images.githubusercontent.com/843579/12539

[2021-07-13 04:34] elasticmachine commented on #105383
Pinging @elastic/apm-ui (Team:apm)

[2021-07-13 04:41] axw opened #105384 "[APM] editing the migrated "apm" Fleet policy fails when selecting advanced options"
Kibana: 7.14-SNAPSHOT

Editing the migrated "apm" Fleet policy fails when selecting advanced options.

Steps to reproduce:
1. Create a 7.14-SNAPSHOT deployment in cloud QA
2. Navigate to the APM app, run Fleet/schema migration ("Switch to data streams")
3. Navigate to the Fleet app, edit the integration policy
4. Expand "Collect application traces"
5. Expand "Advanced options" underneath RUM

![im

[2021-07-13 04:41] elasticmachine commented on #105384
Pinging @elastic/apm-ui (Team:apm)

[2021-07-13 04:44] axw commented on #105384
I also tried creating a new agent policy and adding the integration, and the error does not occur when later editing the policy. I suspect it has something to do with how we're creating the policy in code.

[2021-07-13 05:56] cuff-links opened #105385 "[Snapshot and Restore] Snapshots tab does not show instructions for creating first snapshot"
### Kibana version
7.14 BC2

### Elasticsearch version
7.14 BC2

### Browser
All

### Prerequisites
Start ES with the flag `path.repo` set so creation of a filesystem repository is possible.
### Steps to reproduce

1. Go to Navigation Drawer > Stack Management > Index Management > Snapshot and Restore
2. Click on the Snapshots Tab
3. Verify that there are no snapshots and there is a prompt to crea

[2021-07-13 06:21] karanbirsingh-qasource opened #105386 "[Security Solution]Field info not showing along with hand grab icon under the timeline"
**Describe the bug**
Field info not showing along with hand grab icon under the timeline

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
Firefox : 89.0.2
Chrome : 91.0.4472.124

**Preconditions**
- Few Detection Alerts should be generated.
- Auditbeat and Endpoint Security should be installed.

**Steps to Reproduce**
1. log in to Kibana.
2. Go to Timeline.
3. Click on Crea

[2021-07-13 06:21] elasticmachine commented on #105386
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 06:22] karanbirsingh-qasource commented on #105386
@manishgupta-qasource please review

[2021-07-13 06:28] stratoula commented on #88927
Network changed error again

[2021-07-13 06:29] stratoula commented on #88929
![image](https://user-images.githubusercontent.com/17003240/125402161-c09fff80-e3bc-11eb-94d9-895db9f979ef.png)
Network changed error

[2021-07-13 06:29] #88929 closed

[2021-07-13 06:31] elasticmachine commented on #105315
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-13 06:42] stratoula commented on #105347
@liza-mae same here
![image](https://user-images.githubusercontent.com/17003240/125403760-8c2d4300-e3be-11eb-968f-4015cb97d3e2.png)

[2021-07-13 06:42] stratoula commented on #105316
@liza-mae I see this configuration missing in all these test failures. Does it ring a bell? I don't think that the tests are flaky.
![image](https://user-images.githubusercontent.com/17003240/125403043-bd594380-e3bd-11eb-9963-ce7fa514c7a6.png)

[2021-07-13 06:44] manishgupta-qasource commented on #105386
Reviewed & assigned to @MadameSheema

[2021-07-13 07:25] karanbirsingh-qasource opened #105388 "[Security Solution][Firefox 89.0.2 ]Copy to Clipboard icon not clickable due to text alinging issue for more than 2 event cards"
**Describe the bug**
Copy to Clipboard icon not clickable due to text aligning issue for more than 2 event cards

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Few Detection Alerts should be generated.
- Auditbeat and Endpoint Security should be installed.

**Steps to Reproduce**
1. log in to Kibana.
2. Go to Host > Events.
3. Click on the Analyze

[2021-07-13 07:25] elasticmachine commented on #105388
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 07:26] karanbirsingh-qasource commented on #105388
@manishgupta-qasource please review

[2021-07-13 07:29] manishgupta-qasource commented on #105388
Reviewed & Assigned to @MadameSheema

[2021-07-13 07:32] pheyos commented on #105345
In the failure screenshot (see below) I can see error toasts around index pattern fields fetching that are showing a `shard_not_found_exception`. The error toasts are hiding the row actions button, which makes the tests fails. Looks like a temporary deployment / ES issue to me and we should keep an eye on it to see if it happens again. I'm closing this issue for now, let's re-open it if we see tha

[2021-07-13 07:32] #105345 closed

[2021-07-13 07:32] sabarasaba opened #105389 "[TSVB] Large numbers overlap with gauge viz"
**Describe the bug:**

Having a value with at least 10 characters can end up overlapping with the gauge visualisation.

<img width="768" alt="Screenshot 2021-07-13 at 10 10 35" src="https://user-images.githubusercontent.com/1191206/125407940-0cee3e00-e3c3-11eb-81b7-e3f3072f11c9.png">

<img width="871" alt="Screenshot 2021-07-13 at 10 26 57" src="https://user-images.githubusercontent.com/1191206/12

[2021-07-13 07:32] elasticmachine commented on #105389
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-13 07:35] pheyos commented on #105350
In the failure screenshot (see below) I can see a warning toast about a missing `server.publicBaseUrl` configuration, which hides a button and makes the test fail.
@liza-mae could you please check if the cloud cluster used for the tests is configured correctly?

![image](https://user-images.githubusercontent.com/1945390/125410626-5c317000-e3bd-11eb-8124-a3fc934ab44b.png)

[2021-07-13 07:37] pheyos commented on #105351
Same as #105350, see my comment in that issue https://github.com/elastic/kibana/issues/105350#issuecomment-878852060.

[2021-07-13 07:50] afgomez commented on #104622
@michalpristas Could you collect that list for me? :)

[2021-07-13 08:07] majagrubic commented on #105238
As for reading from source bit, that is indeed a bug, as multifields should always be shown in that case.

[2021-07-13 08:07] kibanamachine commented on #105174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15491/)

[2021-07-13 08:32] pgayvallet commented on #105174
@mistic This just started failing out of nowhere. Could it be related to the new presets?

[2021-07-13 08:48] elasticmachine commented on #105282
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-13 08:48] paulb-elastic commented on #102067
@sorantis over to you to review the improvements and determine if future enhancements should be prioritised.

[2021-07-13 08:48] pgayvallet commented on #105282
cc @elastic/kibana-design are we accepting UI issues related to mobile layout, or should this just be closed? I'm assuming the latest?

[2021-07-13 08:50] deepikakeshav-qasource commented on #105186
Hi @FrankHassanabad,

Thank you for providing the details for Threshold rule and ML rule. Please find our below observations:

**For Threshold Rule:**

We are able to get the values in data_stream.*:fields for threshold rule:

**Screenshot**
![image](https://user-images.githubusercontent.com/61860752/125403144-cbfe2580-e3d2-11eb-90bf-ca174bef8306.png)

**For ML rule:**

We are unable to get the da

[2021-07-13 08:53] pgayvallet commented on #103111
I confirm that this is not a TM issue, but a migration one, and was resolved by https://github.com/elastic/kibana/pull/104507 in `7.14` (or https://github.com/elastic/kibana/pull/105213 which will land in the same version)

Closing.

[2021-07-13 08:53] #103111 closed

[2021-07-13 08:57] amolnater-qasource commented on #103612
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot and found it **fixed** now.

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/125420415-541bc348-5648-4285-abf4-bfc03c6b5262.JPG)

**Build details:**
Build: 42479
Commit: 7f950fbe0d37a576158ad19f5c7c8244628d67e6

Thanks
QAS

[2021-07-13 09:03] AlexanderWert commented on #105177
Some analysis shows that this is due to duplicated transaction / span documents.
So not a UI issue, but something with data ingestion that leads to doc duplication.

[2021-07-13 09:15] karanbirsingh-qasource opened #105399 "[Security Solution]Case updation notification not generated on changing case with the alert state to closed from the Case list page"
**Describe the bug**
Case updation notification not generated on changing case with the alert state to closed from the Case list page

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Few Detection Alerts should be generated.
- Auditbeat and Endpoint Security should be installed.

**Steps to Reproduce**
1. log in to Kibana.
2. Create Case with any co

[2021-07-13 09:15] elasticmachine commented on #105399
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 09:15] karanbirsingh-qasource commented on #105399
@manishgupta-qasource please review

[2021-07-13 09:19] david-kow opened #105400 "Kibana ignores new values of xpack.fleet.agent.* keys in the config"
**Kibana version:** `7.14.0-SNAPSHOT`

**Elasticsearch version:** `7.14.0-SNAPSHOT`

**Original install method (e.g. download page, yum, from source, etc.):** ECK

**Describe the bug:**

The settings specified with the below keys are not updated when Kibana restarts.

[code]

**Steps to reproduce:**
1. Start Kibana with invalid values of `xpack.fleet.agents.elasticsearch.host` and ` xpack.fleet.ag

[2021-07-13 09:20] manishgupta-qasource commented on #105399
Reviewed & Assigned to @MadameSheema

[2021-07-13 09:21] pgayvallet commented on #103148
@cchaos confirming that this is fixed on master, thanks you.

Closing

[2021-07-13 09:21] #103148 closed

[2021-07-13 09:23] walterra opened #105401 "[APM] Latency correlations: Hard coded apm-* prevents application of setting overrides"
The requests for the latency correlation flyout are hard coded to request the `apm-*` index only. This prevents the request to pick up custom settings like alternative custom index names or cross cluster search.

[2021-07-13 09:23] elasticmachine commented on #105401
Pinging @elastic/apm-ui (Team:apm)

[2021-07-13 09:23] elasticmachine commented on #105401
Pinging @elastic/ml-ui (:ml)

[2021-07-13 09:23] pgayvallet commented on #104080
Yea. also given https://github.com/elastic/kibana/issues/105115#issuecomment-877793176, it's possible that we may need the temporary index anyway for some migration improvement.

That, plus the fact that the 'one index per type' approach is a better perf improvement anyway long-term, makes me think that we could ignore this one.

[2021-07-13 09:28] karanbirsingh-qasource commented on #104964
yes @MadameSheema this is occurring still on 7.14.0 BC2 and we have also reported the issue for it earlier but in a different way , that is case feature even after enabling in Role configuration is not showing on the Observability app here is the link to it https://github.com/elastic/kibana/issues/103464

we take care of this issue pr merge fix and regress it

[2021-07-13 09:37] Mpdreamz opened #105402 "[APM] Migration check greyed out on 8.0.0-SNAPSHOT"
**Versions**
Kibana: 8.0.0-SNAPSHOT
APM Server: 8.0.0-SNAPSHOT
Elasticsearch: 8.0.0-SNAPSHOT

This one is hard to reproduce and I have only seen it once so I suspect a race condition could trigger this one.

On an empty new cluster immediately go to schema settings and potentially you are faced with a grayed out migration screen.

![image](https://user-images.githubusercontent.com/245275/125428828

[2021-07-13 09:43] #90709 closed

[2021-07-13 09:45] dikshachauhan-qasource opened #105403 "[Question]: About Notification on Add Agent flyout for Linux and deb agents"
**Description:**
A note for Linux rpm and deb agent is displayed on Add agent flyout.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/125429940-4b4d37cc-9b5a-4815-a0e6-5118aa2b36a1.png)

**Query:**
As per our understanding we use enroll command for  Linux rpm and deb agent installation and also that these agent are non-upgradable through Kibana UI. So could anybody con

[2021-07-13 09:46] elasticmachine commented on #105403
Pinging @elastic/fleet (Team:Fleet)

[2021-07-13 09:46] dikshachauhan-qasource commented on #105403
@manishgupta-qasource Please review

[2021-07-13 09:51] Kerry350 commented on #104117
I think we need to come up with an Observability wide solution here. The problem we have is things like flex groups, flex items, tables etc come with responsive styles for free, but the breakpoints are now skewed because of the space taken up by the side navigation. I did at one point ask EUI if they were planning on adding adjusted breakpoints to the `KibanaPageTemplate`, but that's not the plan.

[2021-07-13 09:59] #98379 closed

[2021-07-13 09:59] #104857 closed

[2021-07-13 10:01] stratoula commented on #105389
Thank you for reporting this! I am closing it as a duplicate of https://github.com/elastic/kibana/issues/87811

[2021-07-13 10:01] #105389 closed

[2021-07-13 10:05] thomasneirynck commented on #55611
Deprecation message added with in https://github.com/elastic/kibana/pull/103740

Will leave this open to keep track of removal.

[2021-07-13 10:05] thomasneirynck commented on #41469
First beta version added in 7.14. Closing in favor of https://github.com/elastic/kibana/issues/96836

[2021-07-13 10:05] #41469 closed

[2021-07-13 10:06] thomasneirynck commented on #102909
bumping. Will do change in 7.15.

[2021-07-13 10:20] cnasikas commented on #104964
Fixed by https://github.com/elastic/kibana/pull/10529

[2021-07-13 10:29] manishgupta-qasource commented on #105403
Reviewed & Assigned to @EricDavisX

[2021-07-13 10:35] #104690 closed

[2021-07-13 10:37] muskangulati-qasource opened #105408 "[Security Solution] Mac OS goes to the offline state after successful host isolation and never comes back healthy"
**Describe the feature**
Mac OS goes to the offline state after successful host isolation and never comes back healthy

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Mac Os should be deployed with Endpoint Security integration added

**Steps to Reproduce**
1. Navigate to the Administration Tab
2. Isolate the endpoint
3. Observe the host is succes

[2021-07-13 10:37] elasticmachine commented on #105408
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 10:37] elasticmachine commented on #105408
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-13 10:37] muskangulati-qasource opened #105409 "[Security Solution] Agent status shows as Inactive in the alerts tab if we reinstall the agent"
**Describe the feature**
Agent status shows as Inactive in the alerts tab if we reinstall the agent

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Deploy an agent and then uninstall the same
3. Re-deploy the above agent and then generate an alert

**Steps to Reproduce**
1. Navigate to the Alerts Tab
2. Observe the agent status is shown as inactiv

[2021-07-13 10:37] elasticmachine commented on #105409
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-13 10:37] elasticmachine commented on #105409
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 10:37] muskangulati-qasource commented on #105408
@manishgupta-qasource please review!

[2021-07-13 10:38] muskangulati-qasource commented on #105409
@manishgupta-qasource please review!

[2021-07-13 10:39] weltenwort commented on #31287
Mostly yes :innocent: Since we're still sharing the source config saved objects the permissions still overlap. Except for the GraphQL part this still applies.

[2021-07-13 10:40] dej611 opened #105410 "[Lens] Add Heatmap option to show cell values"
**Describe the feature:**

Add new control option to show/hide cell values in heatmaps.

Elastic-charts reference: https://elastic.github.io/elastic-charts/?path=/story/heatmap-alpha--categorical

[2021-07-13 10:40] elasticmachine commented on #105410
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-13 10:42] weltenwort commented on #105343
This is part of a broad wave of 79 failures across different apps, so I guess the cause could be test infrastructure problem? Most seem to be related to elements not being clickable, so maybe there's something wrong with the automated browser?

[2021-07-13 10:46] manishgupta-qasource commented on #105408
Reviewed & Assigned to @kevinlog

[2021-07-13 10:47] manishgupta-qasource commented on #105409
Reviewed & Assigned to @kevinlog

[2021-07-13 10:51] jsanz opened #105411 "ILM is still present after disabling index management"
**Kibana version:**
7.14.0-SNAPSHOT

**Browser version:**
`Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)`

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
According to test `T585308`, disabling the Index Management app in Kibana should also disable ILM interface.

**Steps to reproduce:

[2021-07-13 11:04] estermv commented on #104440
I tried this too. I was able to see the alert in the Kibana Server log, but not in Stack Monitoring UI or Stack Management. @neptunian did you manage to see the alert in the UI?
I guess that we only see the alert in the UI when is in `active` state. Could it be that the alert is in `active` state for such a short period of time that we don't see anything in the UI?

[2021-07-13 11:11] mistic commented on #105174
@pgayvallet I haven't merged the PR yet, so it isn't 😃

[2021-07-13 11:11] muskangulati-qasource opened #105413 "[Bug] Typo error: sending is spelt as sendind on unenroll agent modal"
**Describe the feature**
Typo error: sending is spelt as sendind on unenroll agent modal

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Mac Os should be deployed with Endpoint Security integration added

**Steps to Reproduce**
1. Navigate to the Administration Tab
2. Isolate the endpoint
3. Observe the host is successfully isolated and endpoint g

[2021-07-13 11:11] elasticmachine commented on #105413
Pinging @elastic/fleet (Team:Fleet)

[2021-07-13 11:11] gmmorris commented on #49412
UX has historically been led by @mdefazio

I'd say talk to @mikecote and he can drive this in our team once the priority is clearer

[2021-07-13 11:12] muskangulati-qasource commented on #105413
@manishgupta-qasource please review !

[2021-07-13 11:14] alexwizp commented on #105182
@timroes  For me it looks more like a `Dashboard` problem. I think the root cause of that issue in lazy initialization of embeddable visualizations, as a result, at the initial moment we do not have an understanding of which indexes will be used. And then after the visualization is ready we update our state. This might explain the query for getting the default index

To test my theory, I created a

[2021-07-13 11:15] robin13 opened #105416 "Select text to copy buffer does not work on Linux for Dev Console"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Ubuntu 20.04.2 LTS with kernel 5.4.0-77-generic

**Browser version:** Mozilla Firefox 89.0.2

**Browser OS version:** Ubuntu 20.04.2 LTS with kernel 5.4.0-77-generic

**Original install method (e.g. download page, yum, from source, etc.):** Docker image

**Describe the bug:**

On Linux you can generally select an

[2021-07-13 11:28] manishgupta-qasource commented on #105413
Reviewed & Assigned to @jen-huang

[2021-07-13 11:32] elasticmachine commented on #105182
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-13 11:37] timroes commented on #105238
You're right, the actual problem here is, that `field.subfield` is wrongly detected as a multi-field, while it isn't one. Since I believe the primary issue here of wrongly detecting multi-fields might fix that behavior for both implementations, let's use this issue to keep track of not detecting conflicting fields wrongly as multi-fields.

[2021-07-13 11:37] elasticmachine commented on #105238
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-13 11:46] estermv commented on #102067
@jasonrhodes the query still takes a considerable amount of time to respond (if I remember correctly, for 10K nodes it's around 8s - 10s), but I think that improving the time spent in the rendering requires less effort and we can get great improvements from a user perspective.

Couple of things I think it's worth mentioning:
* Times were measured from a page load, loading directly the Inventory pa

[2021-07-13 11:59] muskangulati-qasource commented on #102875
Hi @kevinlog,

Yes, the status does disappear after some time.

We tried this scenario again and observed that after isolation is successful, the endpoint goes to the offline state and never comes back to the healthy state. And hence, the status keeps on showing as 'Isolating'. After releasing the endpoint, it starts showing 02 tasks are pending.

We have reported the issue for the same here: http

[2021-07-13 12:04] kevinlog commented on #105409
@muskangulati-qasource this one is expected because if you uninstall and reinstall the agent, you will get a new Agent ID and history.

I'm going to close this one.

fyi @caitlinbetz

[2021-07-13 12:11] Dosant commented on #104385
Just to sum up:

I think we can’t do anything about it, I think we can only delete search sessions from previous kibana versions.
There are two ways to do it:
1. The simplest way is to drop search sessions when migrating kibana index (we already drop non-persisted sessions) . I think the caveat is that any existing async searches will stay running in es.
2. Or do manual clean-up as part of our bac

[2021-07-13 12:13] thelink2012 commented on #104466
Sure thing, sounds good to me.

On Tue, Jul 13, 2021, 1:26 AM Tyler Smalley ***@***.***>
wrote:

[2021-07-13 12:15] jsanz opened #105423 "Rollover alias is not mandatory when assigning ILM policy to template"
**Kibana version:**
7.10.0-SNAPSHOT

**Browser version:**
`Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)`

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Staging cloud

**Describe the bug:**
When an ILM policy includes a rollover action, assigning it to an index template includes the `index.lifecycle.rollover_alia

[2021-07-13 12:16] elasticmachine commented on #105423
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-13 12:34] elasticmachine commented on #105399
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-13 12:35] axw commented on #105384
I've noticed the same kind of error while working on the apm-server system tests, which also create policies programmatically. I believe the issue is that the "var" default values aren't being set (or aren't set correctly). I think this is the code that Fleet uses for setting the appropriate default:

https://github.com/elastic/kibana/blob/654300bc42df778b08b512bfd13e93108985617a/x-pack/plugins/fl

[2021-07-13 12:42] samratbhadra-qasource opened #105424 "While we navigate to the recent timelines from the overview tab and go back to the previous page it redirects the user to Administration tab."
**Describe the bug**
While we navigate to the recent timelines from the overview tab and go back to the previous page it redirects the user to Administration tab.

**Build **Details:****
VERSION:7.13.4-BC1
BUILD:41018
COMMIT:48917ccc760d7d6d850dce5027bd783cc3dcbbb5
ARTIFACT:https://staging.elastic.co/7.13.4-6c235bed/summary-7.13.4.html

**Preconditions**
Elastic 7.13.4-BC1 environment should be de

[2021-07-13 12:42] elasticmachine commented on #105424
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-13 12:42] samratbhadra-qasource commented on #105424
@manishgupta-qasource please review.

[2021-07-13 12:44] elasticmachine commented on #105424
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-13 12:45] manishgupta-qasource commented on #105424
Reviewed this issue

[2021-07-13 12:45] elasticmachine commented on #105388
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-13 12:45] elasticmachine commented on #105377
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-13 12:45] joshdover commented on #105115
Sounds like we're generally in agreement that option 3 is likely the most viable path forward to supporting this feature before 8.0 given the current design of the system. In order to make a decision here we're going to need answers to:
- How much effort is required to switch to the "second-pass" approach for reference migrations?
  - Reading over the notes here and digging through the code, this

[2021-07-13 12:46] elasticmachine commented on #105386
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-13 12:46] elasticmachine commented on #105330
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-13 12:48] stacey-gammon commented on #101946
cc @tylersmalley - any thoughts on fixing this?

[2021-07-13 12:49] #103428 closed

[2021-07-13 12:51] joshdover commented on #105115
I agree 100%. We need to be performing migrations in the most deterministic way possible so that we can be sure that they continue working regardless of the upgrade path a cluster takes. As it is, we already have too many variables (eg. disabled plugins) that can impact what operations will happen during a migration.

I think this change will need to be a focus for the team during 8.x so that we c

[2021-07-13 12:58] mgiota commented on #104440
@estermv

Thanks for clarifying!

`Could it be that the alert is in active state for such a short period of time that we don't see anything in the UI?`

That was also my guess.

[2021-07-13 13:00] ghudgins commented on #103088
Sorry I was late on the follow-up

offline we decided to make this its own issue and tackle it first because it doesn't have any design implications overall. https://github.com/elastic/kibana/issues/103246

overall, this idea of layer level filters makes sense as a convenience feature but I am always worried about the usability impact of all the places we can set filters....but that all comes down

[2021-07-13 13:04] afgomez commented on #104622
@michalpristas I took a list from @ruflin's work in https://github.com/elastic/integrations/pull/1298. I applied the changes in https://github.com/elastic/kibana/pull/105419

Can you confirm if the values are correct?

[2021-07-13 13:12] alisonelizabeth commented on #105385
Great catch @cuff-links! Looking into this one. I think it's related to the changes made in https://github.com/elastic/kibana/pull/103331.

[2021-07-13 13:18] jen-huang commented on #105403
What is the question here exactly? The note is accurate and tracks with the documentation: installers provide upgrade functionality, RPM and DEB do not.

[2021-07-13 13:18] #105403 closed

[2021-07-13 13:22] Dosant commented on #104309
I tried to reproduce, while I see the underlying problem, I wasn't able to see a log in kibana server.
Looks like this log is already muted: https://github.com/elastic/kibana/blob/32e6b1edb6241ffcb8d3cb1428b2c0ac6c459c34/x-pack/plugins/data_enhanced/server/search/session/check_non_persiseted_sessions.ts#L90-L94
It also should be muted in 7.14, but then I wonder @flash1293, what version have you te

[2021-07-13 13:24] ferullo commented on #105408
@muskangulati-qasource what version of macOS is that VM? Is it still in that state? If so can I log in to it and can you privately share me credentials to log into your stack?

[2021-07-13 13:30] tylersmalley opened #105435 "Kibana Performance working group: Datasets workstream"
Lead: @tylersmalley

Goal: Identify datasets we want to use for testing and benchmarking. We will be using these both to simulate Elasticsearch ingesting data while we run various performance tests and for environment setup, so we could run expensive queries ourselves.

[2021-07-13 13:34] tylersmalley commented on #105435
Because of our performance testing work, we have been having bi-weekly syncs with the ESPerf team. The current plan is to get us more in line with that team, which is using Rally Tracks. In doing so, it allows that team to further track and investigate underlying queries which affect Elasticsearch directly that we find. At this time, I don't see a need to have regular syncs on this workstream unti

[2021-07-13 13:36] jportner opened #105436 "[Docs] Update Saved Objects docs for sharing saved objects"
The [Managing Saved Objects docs](https://www.elastic.co/guide/en/kibana/current/managing-saved-objects.html) doesn't include a section on Sharing Saved Objects. In 8.x once we have shareable objects and we enable the "Share" column, we will need to update the docs to reflect this.

[2021-07-13 13:37] justinkambic commented on #99798
Passing test plan:
![image](https://user-images.githubusercontent.com/18429259/125461565-8254391d-780a-4af3-b540-6da1ef66e5cc.png)

[2021-07-13 13:38] nreese commented on #105115
I will keep on pushing it to make sure there are no unseen implementation problems.

The tile_map visualization saved object is converted to maps configuration in code when run. We will add functional tests make sure changes to either visualization saved objects or maps configurations do not break things. Then we can just update the logic that converts  tile_map visualization saved object is conve

[2021-07-13 13:44] MadameSheema commented on #99611
@deepikakeshav-qasource please validate the fix of this issue on the next BC. Thanks :)

[2021-07-13 13:45] jgowdyelastic commented on #105254
I've been unable to reproduce the first scenario in this issue.
I've tried master, 7.14.0 local and 7.14.0 cloud.
I've also tried various degrees of network throttling.

[2021-07-13 13:46] justinkambic commented on #100944
Checked this against the 7.14 dev cluster, map is showing data:

![image](https://user-images.githubusercontent.com/18429259/125462973-f55b4fcc-b8cd-4084-a3c0-0eadc608f5a9.png)

[2021-07-13 13:50] nreese commented on #105115
IMO, this seems like a pretty confusing UX unless we could make it more automatic. For instance, is it possible to automatically redirect the user to the Maps application with the converted legacy map when they try editing a tile_map or region_map?

I think the UI concerns are limited. For users consuming tile_map and region_map visualizations in Dashboard and Canvas, there will be no UI problems

[2021-07-13 13:51] justinkambic commented on #100867
Checked this on dev cluster, passing test plan:

![image](https://user-images.githubusercontent.com/18429259/125463709-6458242f-f80d-4b77-8d40-d2d4d97f77f8.png)

[2021-07-13 13:51] stacey-gammon opened #105439 "Plugin system should fail if Setup lifecycle functionality is called after the setup lifecycle completes."
Using setup functionality after the setup lifecycle completes is a common anti-pattern I've seen.

Consider the following code:
[code]

Plugins should be able to assume that by the time the `start` lifecycle runs, no functionality on `setup` will be used. In other words, the return value of `start.getSum` from above is stable and will not change.

Unfortunately, it's very easy for devs to do somet

[2021-07-13 13:51] elasticmachine commented on #105439
Pinging @elastic/kibana-core (Team:Core)

[2021-07-13 13:59] Dosant opened #105441 "[Search] Review searches clean up"
We should review how and when our searches are currently cleaned up. This includes a strategy for handling discarded searches and reviewing our timeout settings

related: https://github.com/elastic/kibana/issues/106395, https://github.com/elastic/kibana/issues/106400

Currently, all sessions (both persisted and non-persisted) are cleaned up in the monitoring task https://github.com/elastic/kibana/

[2021-07-13 13:59] elasticmachine commented on #105441
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-13 14:00] joshdover commented on #105272
One thought: we may be able to get away without supporting this depending on the performance characteristics of `_delete_by_query`. I'll do some testing this week and see how fast this operation is for 100k objects. If it's reasonable enough, making these changes to the Upgrade Assistant may not be strictly necessary (though may still be something we need in the future?)

[2021-07-13 14:03] #105411 closed

[2021-07-13 14:04] weltenwort opened #105442 "[Security Solution] The shared alerts table breaks in Observability with heterogeneous alerts document schemas"
## :memo: Summary

The `timelineEventAll` search strategy handler makes assumptions about the documents that don't hold for Observability use-cases. Specifically, when converting hits to "edges" it assumes the field list contained in the first hit is the same as for every other hit, which cause additional fields in subsequent hits to be discarded by `formatTimelineData()`.

:hash: Kibana `master`

[2021-07-13 14:04] elasticmachine commented on #105442
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-13 14:04] elasticmachine commented on #105442
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-13 14:05] weltenwort commented on #105442
I might have a PR later today that fixes it.

[2021-07-13 14:07] kibanamachine commented on #105174
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15497/)

[2021-07-13 14:10] Bamieh commented on #105262
i've started debugging if this is an ML issue only or a broader issue with how we're tracking application usage. I will provide an update here once i finish debugging.

[2021-07-13 14:19] justinkambic commented on #100045
This is a dupe, so I'll review #99901 instead.

[2021-07-13 14:20] justinkambic commented on #100044
This is a dupe so I will review #99901 for the test plan.

[2021-07-13 14:21] pgayvallet commented on #105174
Not sure why this symbol mutates then, but will use another approach

[2021-07-13 14:24] walterra commented on #105047
Note after testing: Quite same error will trigger in CCS scenarios where a current `7.14` with the new Latency correlations queries a pre-7.14 cluster. We will track this and think of useful error messages in the UI. For example, if this exact error triggers and we know the index pattern used has a `:` in it like `my_remote_cluster:apm-*` then we could display a hint about possible CSS issues in a

[2021-07-13 14:26] justinkambic commented on #99901
Test plan looking good:

![image](https://user-images.githubusercontent.com/18429259/125469541-61d99c9a-43ef-4149-a441-d62398666006.png)

![image](https://user-images.githubusercontent.com/18429259/125469585-a90f5c89-8d9e-4851-aa4e-ada0c7b2b9b7.png)

[2021-07-13 14:41] elasticmachine commented on #105099
Pinging @elastic/uptime (Team:uptime)

[2021-07-13 14:47] michalpristas commented on #104622
will take a look

[2021-07-13 14:48] pheyos opened #105453 "[ML] AD result views - take result retention configuration into account"
When viewing long running AD jobs with a configured result retention in the Anomaly Explorer, the automatically selected time frame is much bigger, which doesn't look ideal (in the example screenshot below the result retention is 30 days):

![image](https://user-images.githubusercontent.com/1945390/125470797-95eb2a71-b11e-4100-88b7-b4d461b85f91.png)

I'd suggest to start the time frame at the begi

[2021-07-13 14:48] elasticmachine commented on #105453
Pinging @elastic/ml-ui (:ml)

[2021-07-13 14:52] benwtrent commented on #105047
This is to be expected. While serializing pipeline aggregations are not TECHNICALLY required to search against remote clusters, it still occurs.

Its a bit of techdebt: https://github.com/elastic/elasticsearch/issues/73680

[2021-07-13 14:54] justinkambic commented on #100318
Tested this on Dev cluster and was seeing the legend display incorrect labels:
![image](https://user-images.githubusercontent.com/18429259/125474132-b749ad1e-8a72-4913-802d-a3fc6c710893.png)

This was recently fixed and is present in the 7.14 branch; I tested it locally and it looks good.

![image](https://user-images.githubusercontent.com/18429259/125474359-518b9604-74da-43ad-a6ae-c1b37ce21885.pn

[2021-07-13 14:58] michaelolo24 commented on #104450
@MadameSheema sorry, forgot to close. Was fixed with: https://github.com/elastic/kibana/pull/104475

[2021-07-13 14:58] #104450 closed

[2021-07-13 15:01] clintandrewhall commented on #105439
Something else to consider, and why I'd be a fan of discussing expanding the plugin lifecycle... Canvas has no dependents, (at the moment).  We expose nothing of use or to be used by other plugins, and yet our `setup` code-- all 500k of it-- is added to the page bundle, code that is only used in the Canvas UI after Canvas loads.

So it might make sense to consider a lifecycle option that uses setu

[2021-07-13 15:07] jasonrhodes commented on #82020
Taking a look at this plan again, I'm noticing that this section is probably the only solution for Kibana developers who want to connect multiple Kibana instances to the same ES cluster for the purpose of sharing data, is that right? If that's correct, I don't think we've been able to get this to work and I think it's unlikely that this will be a sufficient model for Kibana development.

That said

[2021-07-13 15:10] joshdover opened #105454 "Add CI credentials for FullStory integration tests"
In #102390 we added an integration test that is not currently enabled in CI. To get this enabled we need to:
- Get the appropriate credentials populated into the `FULLSTORY_ORG_ID` and `FULLSTORY_API_KEY` env vars on Jenkins
- Add `x-pack/test/cloud_integration/config.ts` to one of the functional test scripts that are executed by Jenkins in `test/scripts/*.sh`
- Verify that the test gets run by in

[2021-07-13 15:10] muskangulati-qasource commented on #105408
@ferullo gave all the information via slack!

Please let me know in case anything else is required from my end!

Thanks!

[2021-07-13 15:12] mistic commented on #105174
The test keeps failing. While you're working on it, I've skipped the suite for now.

master/8.0: 4ae6dd3
7.x/7.15: 488840a

[2021-07-13 15:16] ferullo commented on #105408
I spoke with @muskangulati-qasource. I am not sure what is going on because I tested this exact same thing and did not reproduce it. Below is a screenshot of the agent and endpoint details where it worked for me.

<img width="861" alt="image" src="https://user-images.githubusercontent.com/56368752/125478098-d4e9df27-5cd3-4f52-937a-d813661d7624.png">

I have logs from Muskan's reproduction and can

[2021-07-13 15:23] kuisathaverat commented on #82020
@jasonrhodes The proposal we are working on uses ESS to deploy the shared clusters with data, and an ES cluster configured for CCS. Each developer would have an ephemeral CCS ES cluster connected to the shared cluster. The process to request a CCS ES cluster would be a simple command and it will take less than 5 min, the clusters would be destroyed on weekends. The developer would have a kibana.ym

[2021-07-13 15:30] justinkambic commented on #100318
Also tested against edge to make sure distribution was working properly:
![image](https://user-images.githubusercontent.com/18429259/125480527-d25df958-cc21-4f33-9914-b5b532951d2b.png)

[2021-07-13 15:32] aaronjcaldwell commented on #105254
Thanks for checking @jgowdyelastic. If I can repro it I'll try to better capture the circumstances. As it stands, I can't repeat that behavior today :man_shrugging:. Maybe scenario 2 will be the only real takeaway from this issue, which thankfully isn't too critical.

[2021-07-13 15:39] ymao1 commented on #101582
@mikecote Correct me if I'm wrong, but since alerting came out in 7.x, I'm assuming that we will need to be supporting beta alerting users on older version for a while, making the original intent of the try/catch still valid?

If this is the case, I think disabling the saved objects on decrypt errors is the more correct option.

[2021-07-13 16:07] justinkambic opened #105459 "[Exploratory View] Scrubbing toast not appearing for performance distribution charts"
**Kibana version:**

7.14

**Elasticsearch version:**

7.14

**Server OS version:**

macOS

**Browser version:**

Chrome 91

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The exploratory view should show a toast when a user attempts to scrub across non-timeseries data.

**Steps to reproduce:**
1. Navig

[2021-07-13 16:07] elasticmachine commented on #105459
Pinging @elastic/uptime (Team:uptime)

[2021-07-13 16:07] justinkambic commented on #105459
Related to https://github.com/elastic/kibana/pull/98623.

[2021-07-13 16:27] simianhacker opened #105461 "[Metrics UI & Stack Monitoring] Basic Test Plan for 7.14.0"
## Instructions

Load the Docker configuration in the setup below and visit each section. The goal is to "play" around with the different UIs until you feel confident that the it "basically works".

## Setup

1. Clone this Gist: https://gist.github.com/simianhacker/8aa14e79af5a296d66ffd8834da88bc7
2. Run `ELASTIC_VERSION=7.14-SNAPSHOT docker compose up`

### Observability Overview

- [x] Visit [Ob

[2021-07-13 16:33] #99249 closed

[2021-07-13 16:36] #93925 closed

[2021-07-13 16:40] liza-mae commented on #105350
Thanks @pheyos - should be fixed by https://github.com/elastic/elastic-stack-testing/pull/935.

[2021-07-13 16:40] #105350 closed

[2021-07-13 16:40] liza-mae commented on #105343
Thanks @weltenwort  - should be fixed by https://github.com/elastic/elastic-stack-testing/pull/935.

[2021-07-13 16:40] #105343 closed

[2021-07-13 16:40] liza-mae commented on #105351
Thanks @pheyos - should be fixed by https://github.com/elastic/elastic-stack-testing/pull/935.

[2021-07-13 16:40] #105351 closed

[2021-07-13 16:46] liza-mae commented on #105316
Hi @stratoula the configuration has been fixed by https://github.com/elastic/elastic-stack-testing/pull/935.  Does that resolve this test issue?  I see an error displayed that the field timestamp is not found, is that because of the server.publicBaseUrl not being set?  I thought that setting was only for alerts.  If you think by setting this value, it resolves this test failure, then we can close.

[2021-07-13 16:47] shimonmodi commented on #103639
@ecezalp @yiyangliu9286  - we should sort this alphabetically. Users are more familiar with the names of the sources and sorting alphabetically will provide a consistent experience. if we get feedback after 7.14 release we can modify it.

[2021-07-13 16:48] smith opened #105467 "[APM] Analyze data shows no data when all environments are selected"
When viewing a mobile service with "Environment: All" selected, when you click Analyze Data to go to exploratory view, it shows "ENVIRONMENT_ALL" in the definition section but does not show any data, since the exploratory view does not understand this value.

Creating a link with no environment specified in this case should fix it.

[2021-07-13 16:48] elasticmachine commented on #105467
Pinging @elastic/apm-ui (Team:apm)

[2021-07-13 16:49] liza-mae commented on #105347
Hi @stratoula the configuration has been fixed by elastic/elastic-stack-testing#935. Does that resolve this test issue?  If you think by setting this value, it resolves this test failure, then we can close.  Let me know.

[2021-07-13 16:57] #104185 closed

[2021-07-13 17:01] paulb-elastic commented on #104208
Discussed with the team and the query will be updated to only include those documents with a hash (which will exclude these incorrect Synthetic documents from both the reporting UI and the alert mechanism)

[2021-07-13 17:03] ogupte opened #105469 "[APM] Update the APM static index pattern regardless of fleet migration status"
For the fleet migration, we currently update the index pattern after the migration completes (#10109) in the Schema settings, but we should update the index pattern with the new title (matching both classing APM indices and data streams) regardless of migration status.

Rel: #101095

[2021-07-13 17:03] elasticmachine commented on #105469
Pinging @elastic/apm-ui (Team:apm)

[2021-07-13 17:04] elasticmachine commented on #105461
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-13 17:14] jsanz commented on #104069
A bit of a side note but related.

I am testing stuff on the Stack Management side and just realized we don't support `geo_point` or `geo_shape` in the Index Pattern `Add Field` component

![image](https://user-images.githubusercontent.com/188264/125496062-9405bd04-d674-4672-9614-170c8839d19e.png)

Or in the create runtime field UI for Index Templates

![image](https://user-images.githubuserconten

[2021-07-13 17:15] yuliacech opened #105472 "[License Management] Gold license upload fails on non secured clusters"
**Kibana version:**
7.14.0 BC2
**Elasticsearch version:**
7.14.0 BC2
**Server OS version:**
macOS Catalina
**Browser version:**
Version 91.0.4472.114 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):**
Download from a build candidate page
**Describe the bug:**
When the traffic between Kibana and Elasticsearch is not encrypted, Kibana will fail when

[2021-07-13 17:15] elasticmachine commented on #105472
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-13 17:18] kibanamachine commented on #92116
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15499/)

[2021-07-13 17:19] ymao1 commented on #101582
If we want to fully and correctly disable a rule on failed migration without leaving any dangling references, we should also be removing the scheduled task associated with the rule and invalidating the API key

[2021-07-13 17:27] smith opened #105476 "[APM] Hide analyze data link when user has no lens permissions"
On a service that shows the analyze data link, we should only show the link if the user has permissions to access Lens, since if they do not the exploratoryview has no controls or data.

[2021-07-13 17:27] elasticmachine commented on #105476
Pinging @elastic/apm-ui (Team:apm)

[2021-07-13 17:28] smith commented on #100759
Follow-up issues found in testing:

* https://github.com/elastic/kibana/issues/105467
* https://github.com/elastic/kibana/issues/105242
* https://github.com/elastic/kibana/issues/105476

[2021-07-13 17:34] liza-mae commented on #105347
I confirmed that the configuration missing alert is not related to this test failure.

[2021-07-13 17:34] kevinlog opened #105477 "Fleet actions/responses periodically respond with "application action timed out", but action routed to Endpoint is successful"
**Kibana version:**
7.14

**Elasticsearch version:**
7.14

**Describe the bug:**
When we send actions via Fleet actions to the Endpoint, periodically we'll get a responses inside of the `.fleet-actions-results` index that have an error that says "application action timed out".

Here is an example of an action/response from when the bug was reproduced:

Action send to `.fleet-actions`
[code]

Respo

[2021-07-13 17:34] elasticmachine commented on #105477
Pinging @elastic/fleet (Team:Fleet)

[2021-07-13 17:34] elasticmachine commented on #105477
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-13 17:39] stratoula commented on #105347
Perfect thanx @liza-mae i will look into them!

[2021-07-13 17:39] jen-huang opened #105480 "[Fleet] Fleet server setup instructions do not show if there is an unenrolled Fleet Server agent"
It's important to show the Fleet server setup instructions when a user removes a Fleet server and wants to use Fleet again later.  This is because in Elastic Cloud, we'll give users a Fleet Server by default when they start a trial. If it becomes inactive, we plan to autoscale it down https://github.com/elastic/cloud/issues/85810. If users come back to their trial later they will no longer see the

[2021-07-13 17:39] elasticmachine commented on #105480
Pinging @elastic/fleet (Team:Fleet)

[2021-07-13 17:40] kevinlog commented on #105477
fyi @ferullo

[2021-07-13 17:42] jen-huang commented on #105480
@urso @scunningham @blakerouse Does it make sense to add a top-level status field to `.fleet-server` documents?

[2021-07-13 17:46] estermv commented on #105193
Closing this as we already have some functional tests for this https://github.com/elastic/kibana/blob/master/x-pack/test/functional/apps/monitoring/cluster/list.js

[2021-07-13 17:46] #105193 closed

[2021-07-13 17:55] liza-mae commented on #105316
For this one looks like it has been skipped for being flaky on ```master```, but it is not skipped on ```7.14```

Relates to: https://github.com/elastic/kibana/issues/103252

https://github.com/elastic/kibana/blob/18780bceceb65bb872345db0f65ba993420afdc1/test/functional/apps/visualize/_tsvb_chart.ts#L202

[2021-07-13 18:03] mikecote commented on #75584
We have an existing example now where MS Exchange will remove basic authentication support and "break" existing functionality for those using the email connector with MS Exchange (https://github.com/elastic/kibana/issues/93466). To fix this, we may need to enhance the email connector to support OAuth (https://github.com/elastic/kibana/issues/93466#issuecomment-859956225). If this exercise were to

[2021-07-13 18:17] scunningham commented on #105477
As far as I can tell, the agent is kicking out the error if the endpoint does not respond within one minute:

https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/application/pipeline/actions/handlers/handler_action_application.go#L57

[2021-07-13 18:18] scunningham commented on #105477
The expiration in the .fleet-action record has to do with when the action will no longer attempt to be delivered. It is not related to the above timeout in the comms between agent and endpoint.

[2021-07-13 18:19] #105303 closed

[2021-07-13 18:22] thesmallestduck commented on #77624
I had a chat with @ryankeairns briefly. There's no objections to simply suppressing core plugin status or splitting the plugin status list into sections as we see fit. If we decide we want to do something more fancy with the UI we can loop in kibana-design formally and get some wireframes and what not.

[2021-07-13 18:24] ryankeairns commented on #77624
+1 and if you'd like feedback on this initial PR (or any for that matter), just mention us with @ kibana-design

[2021-07-13 18:28] kobelb commented on #82020
@jasonrhodes - @kuisathaverat,  @Mpdreamz, and I met last week to discuss in more detail. Let me know whether or not I can help out in any other way. The plan that @kuisathaverat just outlined was as I understood the immediate plan of action, but there's a potential fallback we can use to give you all a bit more time if it's needed.

[2021-07-13 18:36] ecezalp commented on #105147
closed with #105269