[2021-06-10 20:47] elasticmachine commented on #101964
Pinging @elastic/kibana-core (Team:Core)

[2021-06-10 20:47] elasticmachine commented on #101964
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-10 20:47] elasticmachine commented on #101964
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-10 20:48] kobelb commented on #101964
/cc @cachedout

[2021-06-10 20:49] kibanamachine commented on #94043
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14566/)

[2021-06-10 20:56] simianhacker commented on #100489
@weltenwort Yes... good catch!

[2021-06-10 20:59] simianhacker opened #101966 "[Metrics UI] Add references to source configuration for Metrics Explorer and Inventory Views for 8.0"
The source configuration references `inventoryDefaultView` and `metricsExplorerDefaultView` but doesn't list these saved views in the `references` section. We need to update the saved objects to include the references key before 8.0 per #100489

[2021-06-10 20:59] elasticmachine commented on #101966
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-10 21:17] cuff-links commented on #80058
I will run with this one, @bhavyarm

[2021-06-10 21:30] #99101 closed

[2021-06-10 22:26] sqren opened #101970 "[APM] Add owner properties to kibana.json file"
Every plugin should have **owner.name**, **owner.githubTeam,** and **description** attributes filled out in its [kibana.json](https://github.com/elastic/kibana/blob/b24276565483ac3ecc156d9eadb2e5647bcf1e37/x-pack/plugins/apm/kibana.json) file. We will soon make these properties required*.*

Example:
[code]

[Check out](https://elasticdocstest.netlify.app/kibana-dev-docs/dataPluginApi) how this inf

[2021-06-10 22:26] elasticmachine commented on #101970
Pinging @elastic/apm-ui (Team:apm)

[2021-06-10 22:47] kibanamachine commented on #101449
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14567/)

[2021-06-10 22:48] #101346 closed

[2021-06-10 23:18] spong opened #101975 "[Security Solution][Detections] Migrate to using Saved Object References array to reference Exception Lists from Rules"
Once usage of the `SO Reference Array` is made available to alerts (https://github.com/elastic/kibana/issues/87992), we can then start leveraging this field for joining `Exception Lists`, which will allow for faster lookups (https://github.com/elastic/kibana/issues/85173) and the ability for the `SO Mgmt Import/Export` UI to export Exception Lists along with Rules.

This effort can be bundled with

[2021-06-10 23:18] elasticmachine commented on #101975
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-10 23:18] elasticmachine commented on #101975
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-11 01:34] sayeeguru opened #101982 "circuit breaker error - internal server error"
**Kibana version:** 7

**Elasticsearch version:** 7.6

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
internal server error on kibana

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provid

[2021-06-11 02:18] jportner commented on #81605
One important thing has changed since we first made this issue -- we changed the `delete` action to actually delete the object, instead of just removing it from the current space.

The old mockup above shows two buttons: "Delete everywhere" and "Remove from space". We won't be able to do the latter if the Spaces plugin is not enabled, because the Spaces plugin exposes the HTTP route to handle this

[2021-06-11 03:34] osmanis commented on #101866
If that is the primary drawback for the `A) Have the elastic logo take users to the portal` scenario, perhaps we can consider logic that only links back to the Cloud home page if the user did not specify aa custom home page. That way the Cloud logo link would not disturb those customers that are redirect the logo link to a different page.

[2021-06-11 03:47] kibanamachine opened #101984 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/uptime/alert_flyout·ts - Uptime app with real-world data uptime alerts overview page alert flyout controls can save alert"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14572/)

[2021-06-11 04:58] GrahamHannington opened #101985 "Columns in a saved search not sorting"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** Linux Ubuntu 20.04

**Browser version:** Google Chrome Version 91.0.4472.77 (Official Build) (64-bit)

**Browser OS version:** Microsoft Windows 10 Enterprise, Version 1909 (OS Build 18363.1556)

**Original install method:** Docker image ([sebp/elk](https://hub.docker.com/r/sebp/elk))

**Describe the bug:** In a

[2021-06-11 06:21] Sjaak01 opened #101986 "[Feauture]URL formatter image not found image replacement"
tl:dr Show a default image if a image link returns a 404.

I really like the image url formatter feature and use it a lot to show static images on our dashboards. However one downside is that if an image doesn't exist, nothing is shown apart from the small broken image icon.

From a end user perspective it would be better if Kibana could be fed a replacement link/image so that (in my case) its cle

[2021-06-11 07:53] #93016 closed

[2021-06-11 11:30] stacey-gammon commented on #94034
I like the idea of using something like `@kbn-ref` over absolute file paths because it will let us rearrange our folder hierarchy without needing to refactor all the import paths.

[2021-06-11 13:09] BenB196 opened #101990 "[Security Solution] Detections fail when an index is missing a primary shard"
**Describe the bug:**

If there is an index that is used in a detection rule, and that index is missing a primary shard (cluster in red state), the detection rules that use that index will fail with the error:

[code]

This results in the detection rule(s) not running, and therefore not detecting things.

**Kibana/Elasticsearch Stack version:**

Elasticsearch: 7.13.1
Kibana: 7.13.1

**Server OS ve

[2021-06-11 13:09] elasticmachine commented on #101990
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-11 13:29] bhavyarm opened #101991 "Kibana fails come up with fatal error against ES 7.14.0 snapshot because of [mapper_exception]: the [enabled] parameter can't be updated for the object mapping [ingest-package-policies.inputs] while migration"
**Kibana version:** 7.13.2 BC1

**Elasticsearch version:** 7.14.0 snapshot from June 9th

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging and snapshots

**Describe the bug:** Kibana 7.13.2 BC1 fails to come up against Elasticsearch_7.14.0 snapshot because o

[2021-06-11 14:05] kibanamachine commented on #101449
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14724/)

[2021-06-11 14:47] elasticmachine commented on #101991
Pinging @elastic/kibana-core (Team:Core)

[2021-06-11 14:52] tylersmalley commented on #101991
Being tracked here: https://github.com/elastic/kibana/issues/101836

[2021-06-11 14:54] bhavyarm commented on #101991
closing mine. thanks @tylersmalley

[2021-06-11 14:54] #101991 closed

[2021-06-11 17:37] cnasikas opened #101994 "[Cases] Setting `fields` query argument returns an error"
Find requests supports the `fields` query argument. A user can set this query argument to limit the attributes being returned by the response. Setting the `fields` argument leads to an internal server error.

Step to reproduce:

`GET https://localhost:5601/api/cases/_find?fields=title&fields=description`

Response:

[code]

The reason that this error occurs is because we encode (`CasesFindResponse

[2021-06-11 17:37] elasticmachine commented on #101994
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-11 17:37] elasticmachine commented on #101994
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-11 17:47] cnasikas opened #101995 "[Cases] Improve performance when fetching unbounded savedObjects"
A lot of API requests require all saved objects to be fetched. For example, getting all comments of a case, getting all available reporters or tags, find all open cases, or delete all comments of a case. For that reasons, PR https://github.com/elastic/kibana/pull/95058 bounded the number of savedObjects that can be fetched on a single call to 10K. Nevertheless, the following improvements should be

[2021-06-11 17:47] elasticmachine commented on #101995
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-11 17:47] elasticmachine commented on #101995
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-11 17:58] peluja1012 commented on #101572
@deepikakeshav-qasource could you please validate that this is fixed? Thank you!

[2021-06-11 18:34] YulNaumenko commented on #99444
Based on the discussion with Dario, here is some details about setup a local environment:
1. Configure your local Kibana `kibana.dev.yml` with the next options:
[code]
2. `yarn es snapshot --ssl`
3. `yarn start --ssl`
4. Create Rule with actions. I'm using `es-apm-sys-sim -r 40 15 es-apm-sys-sim https://elastic:changeme@localhost:9200` for the data
5. Makes sure it run successfully
6. Open https:/

[2021-06-11 19:18] tylersmalley commented on #101449
Skipped

master: 8ffebe8c75fb561935847a1b68f717b69e128a16
7.x: 32b7329c62dc491d7ddcb34f11e375cfbfd3b364

[2021-06-11 20:03] liza-mae commented on #97555
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #98404
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_scripted_fields·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #98405
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae opened #101997 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·ts - visualize app tile map visualize app complete config tile map chart Fit data bounds should zoom to level 3"
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #97538
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_vertical_bar_chart_nontimeindex·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  vertical bar chart with index without time filter should have inspector enabled
- visualize app  vertical bar chart with index without time filter should show correct chart
- visualize app  vertical bar chart

[2021-06-11 20:03] liza-mae commented on #98407
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  visual builder switch index patterns should be able to switch combo box mode selection

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #92303
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae opened #101998 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts - discover app discover integration with runtime fields editor doc view includes runtime fields"
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #101998
Relates to: elastic/kibana#100966

[2021-06-11 20:03] liza-mae commented on #76181
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #86524
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard

 _Test Report: https://internal-ci.elastic.co/view/St

[2021-06-11 20:03] liza-mae commented on #97540
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter from unrelate

[2021-06-11 20:03] liza-mae commented on #92307
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #98409
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using legacy data dashboard listing page search by title title match is case insensitive

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #97535
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_create_index_pattern_wizard·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae commented on #92309
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-06-11 20:03] liza-mae commented on #98410
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/async_scripted_fields·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae opened #101999 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should create a pie chart and switch to datatable"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens smokescreen tests should allow formatting on references

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:03] liza-mae opened #102000 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/add_to_dashboard·ts - lens app lens add-to-dashboards tests should allow new lens to be added by value to a new dashboard"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/add_to_dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens add-to-dashboards tests should allow new lens be added by value to an existing dashboard
- lens app  lens add-to-dashboards tests should allow new lens to be added by reference to a new dashboard
- lens app  lens ad

[2021-06-11 20:03] liza-mae commented on #72165
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-06-11 20:10] liza-mae opened #102002 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/dashboard·ts - lens app lens dashboard tests should be able to drill down to discover"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae opened #102003 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/chart_data·ts - lens app lens chart data should render metric"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/chart_data·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae opened #102004 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows configuring http advanced options"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae opened #102005 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with no data loaded (ft_ml_poweruser) should display the ML file data vis link on the Kibana home page"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae opened #102006 "Reporting: [test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts - dashboard Reporting Dashboard Reporting Screenshots PNG Layout downloads a PNG file: large dashboard"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Dashboard Reporting Screenshots Preserve Layout downloads a PDF file: large dashboard

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testRep

[2021-06-11 20:10] liza-mae opened #102007 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/drilldowns/explore_data_panel_action·ts - dashboard drilldowns Explore underlying data - panel action action exists in panel context menu"
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/drilldowns/explore_data_panel_action·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard drilldowns Explore underlying data - panel action is a link <a> element
- dashboard drilldowns Explore underlying data - panel action navigates to Discover app to index pattern of the panel on ac

[2021-06-11 20:10] liza-mae commented on #97559
**Version: 7.13.2**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae commented on #98418
**Version: 7.13.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae opened #102008 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js - apis Monitoring APM list should load multiple clusters"
**Version: 7.13.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae commented on #98419
**Version: 7.13.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae commented on #98420
**Version: 7.13.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:10] liza-mae commented on #98424
**Version: 7.13.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/create_doc_source·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Maps endpoints  doc source creation should fail to create index and pattern with invalid index

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:11] liza-mae commented on #98425
**Version: 7.13.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/index_data·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Maps endpoints  index feature data should add shape data to an existing index
- apis Maps endpoints  index feature data should fail if data is invalid
- apis Maps endpoints  index feature data should fail if index does not exist

[2021-06-11 20:11] liza-mae commented on #98403
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result field sort "after all" hook in "index result field sort"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:11] liza-mae commented on #98426
**Version: 7.13.2**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Reporting APIs CSV Generation from SearchSource Exports CSV with all fields when using defaults
- Reporting APIs CSV Generation from SearchSource date formatting With filters and timebased da

[2021-06-11 20:11] liza-mae commented on #97537
**Version: 7.13.2**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_popularity·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result popularity "after each" hook for "should update the popularity input"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1907/testReport/_

[2021-06-11 20:15] elasticmachine commented on #102008
Pinging @elastic/apm-ui (Team:apm)

[2021-06-11 20:16] elasticmachine commented on #102007
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-11 20:16] elasticmachine commented on #102006
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-11 20:16] elasticmachine commented on #102006
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-11 20:17] elasticmachine commented on #102005
Pinging @elastic/ml-ui (:ml)

[2021-06-11 20:17] elasticmachine commented on #102004
Pinging @elastic/uptime (Team:uptime)

[2021-06-11 20:17] elasticmachine commented on #102003
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-11 20:17] elasticmachine commented on #102002
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-11 20:17] elasticmachine commented on #102000
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-11 20:18] elasticmachine commented on #101999
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-11 20:18] elasticmachine commented on #101998
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-11 20:18] elasticmachine commented on #101997
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-11 20:23] jmunson opened #102009 "`http.registerStaticDir` should cache served assets"
**Describe the feature:**
Most static assets are now served with cache-control headers allowing caching, but the font files are not
**Describe a specific use case for the feature:**
Loading the kibana UI after having recently loaded it still takes a surprising amount of time to become interactive.
Having the fonts cached should speed things up a bit.

[2021-06-11 23:29] YulNaumenko commented on #93466
### **Investigation results:**

There are two options:
1. Implement Exchange Online specific OAuth approach, which does not require a user interaction: use the [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/auth-v2-service#2-configure-permissions-for-microsoft-graph);

2. Implement more generic approach, which require a *single user interaction: use OAuth 2.0 [authorization code flow

[2021-06-12 06:46] kibanamachine commented on #98249
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14599/)

[2021-06-12 06:46] kibanamachine commented on #89031
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14599/)

[2021-06-12 06:46] kibanamachine commented on #101984
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14599/)

[2021-06-12 12:48] kibanamachine opened #102012 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/ml/alert_flyout·ts - ML app anomaly detection alert overview page alert flyout controls can create an anomaly detection alert"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14605/)

[2021-06-12 12:48] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14605/)

[2021-06-12 13:03] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14747/)

[2021-06-12 13:03] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14747/)

[2021-06-12 13:48] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14606/)

[2021-06-12 13:48] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14606/)

[2021-06-12 13:49] tylersmalley commented on #102012
Skipped

master: 344b6310d74a6896048d85b2bb13e9747ce8e67b
7.x: 7b476b7e380a79d184ad132a3dcad0092881fbc0

[2021-06-12 13:49] elasticmachine commented on #102012
Pinging @elastic/ml-ui (:ml)

[2021-06-12 13:50] tylersmalley commented on #102012
These tests seem to have suddenly begun failing pretty consistently.

[2021-06-12 14:07] romain-chanu opened #102013 "`bin/kibana-encryption-keys.bat` is missing in the Windows package"
**Kibana version:** 7.13.1

**Elasticsearch version:** N.A

**Server OS version:** Windows

**Browser version:** N.A

**Browser OS version:** N.A

**Original install method (e.g. download page, yum, from source, etc.):** download page

**Describe the bug:** `bin/kibana-encryption-keys.bat` is missing in the Windows package. This was reported by a user in [Discuss](https://discuss.elastic.co/t/kiba

[2021-06-12 14:59] kibanamachine commented on #94043
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14609/)

[2021-06-12 15:09] mukeshelastic opened #102014 "Support runtime field editor in Logs UI"
Kibana UIs such as Discover, Lens support runtime field creation through the runtime field editor as shown here:

<img width="1780" alt="Screen Shot 2021-06-12 at 8 09 59 AM" src="https://user-images.githubusercontent.com/59452300/121780557-be484c80-cb55-11eb-85b6-7b79414810b3.png">

Logs UI should support creating runtime field in Logs UI. The editor may need to be customized for logs use case so

[2021-06-12 15:10] mistic commented on #94043
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 012bb44
7.x/7.14: e41594e

[2021-06-12 15:19] mukeshelastic opened #102015 "Support data parsing UX in Logs UI"
**Describe the feature:**
Runtime field editor is working on supporting creating multiple runtime fields from a single script to facilitate fields extraction experience. The UX will something on the lines of:

<img width="1271" alt="Screen Shot 2021-06-12 at 8 17 20 AM" src="https://user-images.githubusercontent.com/59452300/121780770-ae7d3800-cb56-11eb-84cd-78f607a97b94.png">

Logs UI will need t

[2021-06-12 15:21] elasticmachine commented on #102014
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-12 15:21] elasticmachine commented on #102015
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-12 19:16] kibanamachine commented on #93188
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14613/)

[2021-06-12 20:02] elasticmachine commented on #102013
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-12 23:27] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/242/)

[2021-06-12 23:27] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/242/)

[2021-06-13 00:57] kibanamachine commented on #100296
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14620/)

[2021-06-13 01:48] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14620/)

[2021-06-13 03:34] tylersmalley commented on #102012
Also skipped the suite on the 7.13 branch (https://github.com/elastic/kibana/commit/3ce4f22094b755ed28d9380992b60fe1e5c7f125). It's important we understand if this issue is related to the test or the actual code.

[2021-06-13 05:03] kibanamachine commented on #101984
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14764/)

[2021-06-13 07:43] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14626/)

[2021-06-13 13:59] kibanamachine commented on #101454
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14633/)

[2021-06-14 01:46] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14644/)

[2021-06-14 02:04] kibanamachine commented on #100438
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14785/)

[2021-06-14 02:41] leegengyu commented on #89960
@peluja1012 I would like to clarify upon what you said: If **none of the indices exist** we display the error you posted above. This error is valid because **none of the indices exist** and thus the rule will also fail upon rule execution.

In my case, I am seeing the same error (with a small variant):

![image](https://user-images.githubusercontent.com/35021368/121832471-aeb73800-ccfc-11eb-907e-9

[2021-06-14 05:54] kunisen commented on #75377
Not only the logo, but could we also make the "text" on the login page to be edittable?
Thanks!

[2021-06-14 06:24] pgayvallet commented on #94414
Are `script-src`, `worker-src` and `style_src` sufficient for the initial implementation, or do we foresee more CSP directive being necessary initially?

[2021-06-14 06:31] andreadelrio commented on #86757
@kertal I can provide some mocks for this. I can't remember... did we consider the EuiBadge+tooltip combo to label multifieds?

[2021-06-14 06:32] bnkamalesh opened #102021 "Uptime monitor reporting false negatives"
**Kibana version: 7.13.1

**Elasticsearch version: 7.13.1

**Server OS version: docker.elastic.co/beats/heartbeat:7.13.1 running on Google cloud K8s  1.19.9-gke.1900

**Browser version: N/A

**Browser OS version: N/A

**Original install method official Docker image

**Describe the bug: Uptime monitor using heartbeat is reporting false negatives (no fixed interval, seemingly random).

**Steps to re

[2021-06-14 06:43] AlexanderWert commented on #96284
@sqren , see table above (in the description). Is that what you were asking for?

[2021-06-14 07:04] amolnater-qasource commented on #91454
Hi @EricDavisX
We have observed this issue reproducible on 7.13.2 BC-1 Kibana cloud environment.

**Observation:**
- Blank enrollment token field for policies under "Add Agent" flyout if their associated enrollment tokens are revoked.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/121851264-8aaf2300-cd0b-11eb-8c1c-ec0c23c95767.JPG)

**Build details:**
Build: 40943
Commit:

[2021-06-14 07:32] ruflin commented on #77333
@DartShinigami Lets move this to discuss: https://discuss.elastic.co/ Feel free to ping me there. Please also provide the kibana logs for debbuging.

[2021-06-14 07:35] simitt opened #102022 "[fleet] arrays of strings are parsed as string for input variables"
## Summary
Defining multiple entries in an array of strings results in one combined string, for example `["a","b"]` results in `"a, b"`.  This happens for input variables that are defined with `type: text`, `multi: true`

## How to reproduce
* define multiple entries for a variable of type array of strings, for example [apm -  rum_allowed_server_names](https://github.com/elastic/package-storage/bl

[2021-06-14 07:35] elasticmachine commented on #102022
Pinging @elastic/fleet (Team:Fleet)

[2021-06-14 07:41] romseygeek commented on #101836
This should be enough for me to work with, I'll try and get a fix asap

[2021-06-14 07:41] simitt opened #102023 "[fleet] storing multiple entries with '*' for an input variable results in an error"
## Summary
Defining an `'*'` for an input variable requires to add `"`, for example `"test-*"`. Specifying one of these strings works fine, but defining multiple in an array of text results in an error.

Might be related to another bug when storing arrays of strings https://github.com/elastic/kibana/issues/102022.

## How to reproduce
Define multiple entries with an `*` for a variable of type arra

[2021-06-14 07:41] elasticmachine commented on #102023
Pinging @elastic/fleet (Team:Fleet)

[2021-06-14 07:45] MadameSheema commented on #101572
@deepikakeshav-qasource most likely is the latest changes to not be available in the snapshot, so please, validate it in master branch, thanks :)

[2021-06-14 07:57] elasticmachine commented on #102008
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-14 07:58] sqren commented on #102008
Changing this from APM to Stack monitoring.

[2021-06-14 08:02] kertal commented on #86757
well, don't think we considered it. think an badge or icon with explanations would be fine 👍

[2021-06-14 08:42] pheyos commented on #102005
This is a known issue and related to #93623.
Sometimes, the license is not loaded yet at this stage, so the UI doesn't display some of the components. A page refresh fixes the problem so there's an easy workaround. We're still trying to find a solution for it.

[2021-06-14 08:47] jgowdyelastic commented on #93623
This should be fixed by https://github.com/elastic/kibana/pull/101393
The file upload link is now registered by the new file data visualizer plugin and is not dependent on a license check

[2021-06-14 08:47] #93623 closed

[2021-06-14 08:47] pheyos commented on #102005
@jgowdyelastic pointed out that this has already been fixed as part of #101393 for 7.14+.
I think there won't be a fix for the 7.13 branch (given the easy workaround), so I'll close this issue now.

[2021-06-14 08:47] #102005 closed

[2021-06-14 08:50] sqren commented on #59144
Already implemented

[2021-06-14 08:50] #59144 closed

[2021-06-14 08:50] karanbirsingh-qasource commented on #99339
Hi @MadameSheema

We have validated this on master 8.0.0 and found that issue is now Fixed. Cancel text is now present on create case modal opened from detection alert.

**Build Details:**
[code]

**Snapshot:**

![image](https://user-images.githubusercontent.com/59917825/121864880-fe0c6100-cd1a-11eb-8060-d94fbb0cf7f5.png)

Hence Closing this issue and adding "QA:Validated" to it.

thanks !!

c.c @

[2021-06-14 08:50] #99339 closed

[2021-06-14 08:50] sqren commented on #100999
Closing due to inactivity

[2021-06-14 08:50] #100999 closed

[2021-06-14 09:00] karanbirsingh-qasource commented on #99324
Hi @MadameSheema

we have validated this issue on 8.0.0 master and seen that now we are **getting network log** of GET once user clicked on deleted attached timeline  but response section of API hit is empty

However **still no user pop-up** ( "Error prompt should come as timeline no longer exist)  is getting generated on UI

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.

[2021-06-14 09:09] deepikakeshav-qasource commented on #101572
Hi @MadameSheema and @peluja1012,

We have validated this ticket on **7.14.0** Master branch and observed that issue is **Fixed**. data_stream fields "Filter for value" and "filter out value" are working correctly.

Build Details:
[code]

**Screenshot:**
![filter_for_value_working](https://user-images.githubusercontent.com/61860752/121866199-555f0100-cd1c-11eb-949d-87a856fba142.jpg)

![filter_out_

[2021-06-14 09:12] MadameSheema commented on #101572
Issue validated. Thanks @deepikakeshav-qasource :)

[2021-06-14 09:12] #101572 closed

[2021-06-14 09:16] elasticmachine commented on #101997
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-14 09:18] sqren commented on #96284
@AlexanderWert That's perfect, thanks!

[2021-06-14 09:22] deepikakeshav-qasource opened #102029 "[Security Solution] Validations message is still displaying for connectors after added the values when creating the rule"
**Description**
Validations message is still displaying for connectors after added the values when creating the rule

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be created.

**Steps to Reproduce:**
1. Navigate to the Detections tab under security.
2. Click on Manage and detection tab.
3. click on the custom query r

[2021-06-14 09:22] elasticmachine commented on #102029
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-14 09:22] flash1293 commented on #102003
Error screenshot is showing empty loading screen. Not sure what this is about - maybe another test unloading data and logging out this user?

[2021-06-14 09:23] deepikakeshav-qasource commented on #102029
@manishgupta-qasource Please review!!

[2021-06-14 09:25] flash1293 commented on #102002
Drilling down to discover is disabled by default in 7.13: https://github.com/elastic/kibana/pull/98039

We can set the yml setting `xpack.discoverEnhanced.actions.exploreDataInContextMenu.enabled` to true to get it back (this is what is happening for the test locally) or skip this test for cloud. @liza-mae what would you prefer? Not sure whether it's possible to change settings like this for the t

[2021-06-14 09:28] elasticmachine commented on #102029
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-14 09:37] flash1293 commented on #101999
Not sure what's going on here - maybe some other test left the data in a dirty state?
<img width="879" alt="Screenshot 2021-06-14 at 11 32 06" src="https://user-images.githubusercontent.com/1508364/121871257-32c0ee00-cd04-11eb-879e-a8e1fb43b4a8.png">

[2021-06-14 10:02] manishgupta-qasource commented on #102029
Reviewed the issue

[2021-06-14 10:04] #101720 closed

[2021-06-14 10:09] weltenwort opened #102032 "[Logs+Metrics UI] Add `owner` properties to plugin manifest"
## :memo: Summary

The `infra` plugin's `kibana.json` file should contain values for the `owner.name`, `owner.githubTeam`, and `description` fields.

## :heavy_check_mark: Acceptance criteria

- The file `x-pack/plugins/infra/kibana.json` contains sensible values for the following fields:
  - `owner.name`
  - `owner.githubTeam`
  - `description`

## :art: Example

[code]

[2021-06-14 10:09] elasticmachine commented on #102032
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-14 10:26] peteharverson commented on #91870
This will happen when trying to create an outlier job in the wizard against any index pattern where none of the documents in the index contain all of the mapped fields. For example it will also happen against the `cloudwatch` data set.

The current workaround is to switch to the JSON editor and manually add a field to the `includes` list (by default it is created as an empty array). You can then s

[2021-06-14 10:29] flash1293 opened #102034 "[Lens] Allow palette configuration for heatmap"
There is a nice palette configuration UI for table coloring, but heatmaps are statically using the temperature palette. We should expose the same palette configuration UI to allow the user to change the coloring scheme of the heatmap in a way they are accustomed to.

[2021-06-14 10:29] elasticmachine commented on #102034
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 10:32] flash1293 opened #102035 "[Lens] Allow palette configuration for metric"
There is a nice palette configuration UI for table coloring, but metric visualizations can't be colored based on the value. We should expose the same palette configuration UI to allow the user to set the coloring scheme in a way they are accustomed to.

The UI has to be restricted in some ways and defaults have to be found, because as there is just a single value it's not possible to default to "p

[2021-06-14 10:32] elasticmachine commented on #102035
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 10:33] geekpete commented on #99438
As mentioned in https://github.com/elastic/elasticsearch/issues/72786#issuecomment-860571702, putting a validation for a shard level max docs limit into ILM that has an index level context isn't useful and depending on the shard count of your index, might be incorrectly validating.

[2021-06-14 10:36] flash1293 opened #102036 "[Lens] Get Heatmap out of experimental status"
The following items should get addressed before heatmap can be called non-experimental

#### elastic-charts related

- Value formatting doesn't apply to the legend labels. It's been [fixed](https://github.com/elastic/elastic-charts/pull/1190) in the elastic-charts, should be part of the upcoming patch release.
- Intervals don't work 100% reliably (https://github.com/elastic/elastic-charts/issues/1

[2021-06-14 10:36] elasticmachine commented on #102036
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 10:40] karanbirsingh-qasource commented on #100325
Thanks @angorayc for sharing the details.
**Build Details:**
[code]
**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/121879674-c0173900-cd2a-11eb-884c-dad63c059823.png)
![image](https://user-images.githubusercontent.com/59917825/121879881-f785e580-cd2a-11eb-9c3a-ed8e63f6c814.png)

we are closing this issue as it is working as expected.

[2021-06-14 10:40] #100325 closed

[2021-06-14 10:44] flash1293 opened #102037 "[Lens] Expose texture settings for bars and areas in Lens"
https://github.com/elastic/elastic-charts/pull/1138 adds textures to elastic-charts
<img width="569" alt="Screenshot 2021-06-14 at 12 42 19" src="https://user-images.githubusercontent.com/1508364/121880173-fbefd580-cd0d-11eb-9082-7e2ffcb6a77a.png">

As this is a useful feature to improve a11y, it should be exposed in Lens as a setting.

I propose to not allow the user to edit every minor detail of

[2021-06-14 10:44] elasticmachine commented on #102037
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 10:53] amolnater-qasource commented on #101656
Hi @EricDavisX
We have observed this issue is occurring on 7.14.0 Snapshot Kibana Cloud environment.

**Observations:**
- On clicking "Create Agent Policy" user is navigated to Fleet>Overview tab.

Further we will revalidate this issue on next Snapshot build.

**Build details:**
Build: 41559
Commit: 9838db392e7fcfc12f004b68fb1b09739f131148

Thanks
QAS

[2021-06-14 10:58] karanbirsingh-qasource commented on #99891
Hi @MadameSheema

We have validated this on master 8.0.0 and found that issue is now Fixed. Show top Destination and Source is now displaying data without any error.

**Build Details:**
[code]

**Snapshot:**

![image](https://user-images.githubusercontent.com/59917825/121881967-8e53a180-cd2d-11eb-8fc6-e91f1dfaa348.png)
![image](https://user-images.githubusercontent.com/59917825/121881979-90b5fb80-

[2021-06-14 10:58] #99891 closed

[2021-06-14 11:09] elasticmachine commented on #101986
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-14 11:19] joshdover commented on #101351
@pgayvallet are you 👍 on the above plan?

[2021-06-14 11:26] karanbirsingh-qasource commented on #88446
Hi @MadameSheema

we have validated this issue on 8.0.0-master and found it Fixed. Full screen is working correctly on `Host Tab > Event Section`.

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/121885058-53ec0380-cd31-11eb-9521-0d17b0bb919b.png)
![image](https://user-images.githubusercontent.com/59917825/121885090-5e0e0200-cd31-11eb-9148-f9

[2021-06-14 11:26] #88446 closed

[2021-06-14 11:33] muskangulati-qasource commented on #101458
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and the issue is now **fixed**.

**Build Details**:
[code]

**Screenshot**:
![AdminTab](https://user-images.githubusercontent.com/60252716/121880550-c35ef480-cd2b-11eb-8e73-821b6b8d99eb.JPG)

Hence, closing this ticket & marking it as "Validated".

Thanks!!

[2021-06-14 11:33] #101458 closed

[2021-06-14 11:33] muskangulati-qasource commented on #101376
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and the issue is now **fixed**.
However, we have 1 query, please look into the same and confirm if it is expected:

**Query**
`The Name on Trusted Apps is truncated and a tooltip shows up for the same when we hover on it. However, for the Filter Event Filter Tab, the name is extended and divided. Is it expected? Since both th

[2021-06-14 11:33] muskangulati-qasource commented on #100137
Hi @dasansol92,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and the issue is now **fixed**.

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/121882156-cc50c580-cd2d-11eb-9048-98e0bc4c05c0.mp4

Hence, closing this ticket & marking it as "Validated".

Thanks!!

[2021-06-14 11:33] #100137 closed

[2021-06-14 11:35] jsanz commented on #57271
Sharing a new resource on accessibility for Mapbox/Maplibre

https://texturemap.org/ | https://github.com/azavea/texturemap

[2021-06-14 11:41] toby-sutor opened #102043 "Options list control should not search on formatted numbers"
**Kibana version:** 7.13.1

**Describe the bug:**
If we create an (experimental) "options list" control in the visualization app, then the `format:number:defaultPattern` is applied to this control. While this is feasible when displaying data, it is not when searching for data.

For example, looking at the Kibana sample logs data `machine.ram` field, which is a number, in a format like `20401094656

[2021-06-14 11:43] kibanamachine commented on #101451
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14794/)

[2021-06-14 11:45] elasticmachine commented on #102043
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-14 11:53] mistic commented on #100438
This test keeps failing and looks flaky. Skipping for now.

master/8.0: b60a438
7.x/7.14: 81a3ef5

[2021-06-14 11:55] flash1293 commented on #101451
The previous fix has a very long `tryForTime` timeout on the inner check for `lnsApp` which prevents the outer retry loop which is clicking the link again from actually running. I will prepare a fix for that.

[2021-06-14 11:58] muskangulati-qasource opened #102044 "[Security Solution] The drop-down is not accessible to the user for selecting a value for the query: 'file.hash.sha256 using operator exists'. However, the user gets an error for an undefined value thrown on the UI."
**Describe the feature**
The drop-down is not accessible to the user for selecting a value for the query: 'file.hash.sha256 using operator exists'. However, the user gets an error for an undefined value thrown on the UI.

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Go

[2021-06-14 11:58] elasticmachine commented on #102044
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-14 11:58] elasticmachine commented on #102044
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-14 11:58] muskangulati-qasource opened #102045 "[Security Solution] The pagination does not reset when we delete a single entry from the second page"
**Describe the feature**
The pagination does not reset when we delete a single entry from the second page

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Go to the Event Filter Tab
3. Add 11 entries in the Event Filter
4. Go to second page and delete the entry
5. Observe

[2021-06-14 11:58] elasticmachine commented on #102045
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-14 11:58] elasticmachine commented on #102045
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-14 11:59] muskangulati-qasource commented on #102044
@manishgupta-qasource please review!!

[2021-06-14 11:59] muskangulati-qasource commented on #102045
@manishgupta-qasource please review!!

[2021-06-14 12:07] manishgupta-qasource commented on #102044
Reviewed & Assigned to @kevinlog

[2021-06-14 12:07] manishgupta-qasource commented on #102045
Reviewed & Assigned to @kevinlog

[2021-06-14 12:13] dgieselaar opened #102047 "[APM] Environment is not being respected for the latency chart"
When the user selects a different environment than "All", the selected environment is being passed to the API endpoint for the latency chart data, but it is not added as a term query in the Elasticsearch request. This means that data for the latency chart is **not** filtered by transaction.

[2021-06-14 12:13] elasticmachine commented on #102047
Pinging @elastic/apm-ui (Team:apm)

[2021-06-14 12:23] ghudgins commented on #89859
interesting requirement in this discuss issue for a dynamic threshold on a goal visualization https://discuss.elastic.co/t/use-field-of-a-document-as-ranges-value-in-a-goal-visualization/275799

[2021-06-14 12:31] sqren commented on #96284
@AlexanderWert fyi, these are the supported types/subtypes after my changes:

![image](https://user-images.githubusercontent.com/209966/121892503-27c68780-cd1d-11eb-88e7-97e69db7a8c0.png)

[2021-06-14 12:33] sqren commented on #102047
Apart from fixing this: how can we write tests that catch this?

[2021-06-14 12:52] #98625 closed

[2021-06-14 13:06] romseygeek commented on #101836
I have found the problem but the fix isn't obvious, so I will revert the commit which caused the failures to unblock Kibana while I work out what's going on.

[2021-06-14 13:11] romseygeek commented on #101836
I've opened https://github.com/elastic/elasticsearch/pull/74069 to revert

[2021-06-14 13:14] lizozom opened #102057 "Allow restored session to run missing searches and show a warning"
## Summary

Following customer feedback, and after discussing the issue, we want to allow restored session to run missing searches. We will show a warning to let the user know what's happening.

To make things more transparent, we also want to add an extra column to the Search Sessions table - # Searches

[2021-06-14 13:14] elasticmachine commented on #102057
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-14 13:26] #101760 closed

[2021-06-14 13:30] kpollich commented on #101781
Going to bake a fix for this into #101828 since I'm touching a lot of layout stuff. Tracked this down to a regression where we removed a calc with EUI's `euiHeaderHeightCompensation` from our top-level wrapping components when we moved files around for the Integrations UI.

[2021-06-14 13:36] flash1293 commented on #42385
This is possible by using formula - leaving the issue open to track the feature request for a quick function UI for this

[2021-06-14 13:38] flash1293 commented on #50420
We made a decision for this in https://github.com/elastic/kibana/issues/54183 - I assume it's valid for this action as well. Closing; if some objects, feel free to re-open

[2021-06-14 13:38] #50420 closed

[2021-06-14 13:38] flash1293 commented on #53544
This is available in Lens - closing

[2021-06-14 13:38] #53544 closed

[2021-06-14 13:39] mostlyjason commented on #95424
@nchaulet this is closed, but don't we need to update the mappings int he telemetry cluster too?

[2021-06-14 13:40] flash1293 commented on #68969
Implement by formula

[2021-06-14 13:40] #68969 closed

[2021-06-14 13:43] flash1293 commented on #64416
This is handled much better in the current version:
<img width="1427" alt="Screenshot 2021-06-14 at 15 42 13" src="https://user-images.githubusercontent.com/1508364/121901953-2bf7a280-cd27-11eb-8ab6-dcf07debd2d3.png">

Closing - if something thinks something else should be done about this, feel free to re-open

[2021-06-14 13:43] #64416 closed

[2021-06-14 13:44] DanRoscigno commented on #70081
@sayden I opened a [Kibana PR](https://github.com/elastic/kibana/pull/102065) to fix this, but I do not have a dev environment to test in.  Please let me know if I can help with this.

[2021-06-14 13:44] jasonrhodes opened #102067 "[Metrics UI] Performance improvement report for 7.12 v 7.13"
We need to run 7.12 and 7.13 and compare the average load time for the Metrics UI Inventory page for the following states:

| Number of nodes  |  7.12 average load time | 7.13 average load time  |
|---|---|---|
| 10  |   |   |
| 100  |   |   |
| 1000  |   |   |
| 10000  |   |   |

"Average load time" should be the time taken from when you come to the page (on first load, no browser cache), until t

[2021-06-14 13:44] elasticmachine commented on #102067
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-14 13:45] flash1293 commented on #74800
The general feature is provided by formula - additions for quick functions should be added individually (there is an issue for filter ratio already)

[2021-06-14 13:45] #74800 closed

[2021-06-14 13:46] flash1293 commented on #83466
This isn't possible anymore in current version of Lens

[2021-06-14 13:46] #83466 closed

[2021-06-14 13:47] shahzad31 opened #102069 "[User Experience App] Environment filter is broken"
**Kibana version:**
Master

**Elasticsearch version:**
Master

User Experience app environment filter is broken, when we change it data remains same, it seems like it got broken somewhere around 7.12 with this PR https://github.com/elastic/kibana/pull/90900

![image](https://user-images.githubusercontent.com/3505601/121902227-6b25f380-cd27-11eb-88d4-390ca13528c9.png)

[2021-06-14 13:47] elasticmachine commented on #102069
Pinging @elastic/uptime (Team:uptime)

[2021-06-14 13:48] flash1293 commented on #85035
Fixed by only re-rendering if expression actually changes

[2021-06-14 13:48] #85035 closed

[2021-06-14 13:50] flash1293 commented on #89856
Heatmaps are supported in Lens

[2021-06-14 13:50] #89856 closed

[2021-06-14 13:53] flash1293 commented on #94673
Part of https://github.com/elastic/kibana/pull/99297

[2021-06-14 13:53] #94673 closed

[2021-06-14 13:57] elasticmachine commented on #101574
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 13:57] elasticmachine commented on #101705
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 13:57] elasticmachine commented on #101985
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 14:00] elasticmachine commented on #102009
Pinging @elastic/kibana-core (Team:Core)

[2021-06-14 14:12] peteharverson commented on #84045
Note when testing https://github.com/elastic/kibana/pull/101316 also found that if a custom label is set for a field, no row appears for that field in the data visualizer. See also https://github.com/elastic/kibana/issues/53480.

[2021-06-14 14:12] mikecote commented on #101849
Correct, the entire execution is wrapped in a try/catch by the alerting framework and sets the last execution status to `error` when something is thrown. The event log captures the error message as well, though the extraction of the message string might need improvement in some cases. cc @elastic/kibana-alerting-services

[2021-06-14 14:15] nchaulet commented on #95424
Thanks for catching this @mostlyjason just create the PR for the mappings in the telemetry cluster here https://github.com/elastic/telemetry/issues/538

[2021-06-14 14:18] kertal commented on #101985
Is there a time columns in the saved search? and is there a sort arrow displayed? If this is the case, if you click on `CPU time`, the document table is sorted 1. by time column and 2. by `CPU time`. So you would need the click on the time column's array again, to unsort by it.

[2021-06-14 14:27] nchaulet commented on #101309
@ruflin @andrewkroh Does this make sense to you?

To be sure we can update and upgrade in the future

We can store the version as constants in Kibana and use the following naming convention for the Kibana fleet installed pipeline and component template

`.fleet-final-pipeline-{version}`
`.fleet-component-template-{version}`

For 7.14 I plan to implement it like this

### How the initial install wo

[2021-06-14 14:31] hbharding commented on #95442
## Update:

I put together another video to document how we can provide a path for viewing data for the 4 “assetless” integrations we’ve discussed: Endpoint, Synthetics, APM, and Custom logs. You can view the [designs here](https://www.figma.com/file/O01KihAW76RtX1ZqbsEotV/Path-to-view-Integration-Data?node-id=51%3A0).

https://user-images.githubusercontent.com/847805/121906575-3d29ba80-ccf9-11eb-

[2021-06-14 14:36] mar-mrd opened #102073 "Use field of a document as range’s value in a Goal Visualization"
**Describe the feature:**
To use a field's value of a document as superior range's value in a visualization of kind `Goal`.
**Describe a specific use case for the feature:**
To make a custom visualization which represents how much servers are online compared with the total.
Currently, it's necesary indicate manually the range's values that the graphic will take of kind `Goal`, my objetive is autom

[2021-06-14 14:36] jen-huang commented on #91454
@amolnater-qasource / @dikshachauhan-qasource The fix is not expected to be present for 7.13 releases, it should be present for 7.14.

[2021-06-14 14:39] #92536 closed

[2021-06-14 14:47] mikecote opened #102076 "[8.0 only] Remove `xpack.task_manager.index` setting"
See https://github.com/elastic/kibana/issues/101964.

[2021-06-14 14:47] elasticmachine commented on #102076
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-14 14:48] mikecote commented on #101964
I've created https://github.com/elastic/kibana/issues/102076 to remove `xpack.task_manager.index` setting and linked it to this issue.

[2021-06-14 14:56] pgayvallet commented on #101579
Is there a regexp somewhere for the `host-source` allowed values? Or will we be forced to use a denylist of the 'special' values instead?

[2021-06-14 14:59] cachedout commented on #101964
We've [run into some difficulties](https://github.com/elastic/observability-test-environments/issues/915#issuecomment-860702446) during our exploration of the workaround previously recommended by the Kibana folks to use either CCR or CCS.

Our next step will be to explore ways that we can spin up ES instances for each developer in Observability which comes complete with a sample data set large eno

[2021-06-14 15:14] romseygeek commented on #101836
This has been reverted on both master and 7.x

[2021-06-14 15:14] #96284 closed

[2021-06-14 15:25] jasonrhodes commented on #101712
Do we have any way of introspecting whether a node is ephemeral or persistent, so we could only alert on the non-existence of a persistent node?

[2021-06-14 15:26] hbharding commented on #99319
I think a simple callout above the logs stream w/ instructions for enable log collection could work:
![image](https://user-images.githubusercontent.com/847805/121917553-3acc5e00-cd03-11eb-9f87-12ba5797eac0.png)

[2021-06-14 15:28] dasansol92 commented on #101376
@muskangulati-qasource @kevinlog This is because the card component used in trusted apps is different that the ones used in event filters. We could unify those cards to be displayed in the same way but would need a coordination with the detections team as the event filters card is used for other exceptions

[2021-06-14 15:33] #100869 closed

[2021-06-14 15:47] hbharding commented on #98505
I think we can add a "View agent dashboard" button to the page header of the agent details page.

![image](https://user-images.githubusercontent.com/847805/121919574-21c4ac80-cd05-11eb-9384-c40dfe2142ea.png)

Since the header area is starting to get crowded with information and causing layout issues for agent's with long names, I'm also proposing that we move the meta information into the "Overvie

[2021-06-14 15:55] mukeshelastic commented on #98498
If it helps, do take a look at the docs proposed [here](https://github.com/elastic/observability-docs/issues/586) and understand the complexity in setting up fleet-server in self-managed non-prod and prod environments.

[2021-06-14 15:56] jen-huang commented on #97114
Closing in favor of #100031.

[2021-06-14 15:56] #97114 closed

[2021-06-14 15:56] jen-huang commented on #100031
There was a previous report in #97114, not sure if root cause is same or different. FYI for investigation.

[2021-06-14 15:58] tylersmalley commented on #101836
Many thanks, @romseygeek. We have kicked off a re-build/verify job. Is a backport for the revert in the works as well?

[2021-06-14 16:00] romseygeek commented on #101836
Already done!

[2021-06-14 16:03] dgieselaar opened #102089 "[RAC] Make sure index names comply with design architecture"
## :memo: Summary

### Index names

For RAC, the index names should take the following format:

[code]

`datasetSuffix` will be `alert` for the mutable/changeable alert document, which is what we are focusing in on for now. It will likely be `event` for the other document, but that is still largely TBD. `namespace` is user defined, so it can/should be ignored by the component and index templates.

[2021-06-14 16:16] neptunian opened #102090 "[Monitoring] Cluster listing doesn't load when nodes don't exist"
Connecting to the Edge cluster and navigating to SM, the app doesn't load.  This issue appears to be because there are 2 instances and one does not have an ES cluster attached to it.
<img width="1681" alt="Screen Shot 2021-06-09 at 4 45 22 PM" src="https://user-images.githubusercontent.com/1676003/121925021-7b7ba580-cd0a-11eb-9381-f6efcc4f01f0.png">

I believe this is what the view should look lik

[2021-06-14 16:16] elasticmachine commented on #102090
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-14 16:23] ymao1 commented on #87992
Currently working on this issue and am taking the approach of providing a framework level hook to allow individual rule types to register functions for extracting/injecting saved object references from and into a rule's parameters.

[code]

Then in the `alerts_client`, the `extractReferences` hook would be called on `create` and `update` and the `injectReferences` would be called on `get` and `fin

[2021-06-14 16:25] legrego commented on #101579
I'm not aware of a ready-to-go regex. I think we'd have to do our best to ensure that the input conforms to the [`host-source` specification](https://www.w3.org/TR/CSP3/#grammardef-host-source)

[2021-06-14 16:33] #100351 closed

[2021-06-14 16:34] #95397 closed

[2021-06-14 16:47] chrisronline commented on #98902
For 7.14, we are aiming to deliver:

- Gain insight into task manager health apis when a problem occurs : https://github.com/elastic/kibana/issues/101505
- Improve event log data to include when the rule execution starts  https://github.com/elastic/kibana/issues/101507

We are confident these two items (in addition to internal training around existing tools/solutions) will help us answer impossibl

[2021-06-14 16:49] #95398 closed

[2021-06-14 16:50] clintandrewhall commented on #40160
# June 14, 2021

- Files: `87%`
- LOC: `79%`

[code]

[2021-06-14 16:55] mikecote opened #102100 "Should we restrict the alerting and task manager health APIs further?"
Currently, both health APIs are available to any Kibana user.
1. Should the alerting framework health API work only for users who access the alerting APIs?
2. Should the task manager health API work only for system administrators (+superusers)?

[2021-06-14 16:55] elasticmachine commented on #102100
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-14 17:14] gmmorris commented on #98902
Thanks @chrisronline

As this Epic is being worked on across multiple streams, I feel it's worth taking stock of what we have decided to prioritise and why.

As Chris noted above, in order to deliver on the success criteria stated for this Epic we decided to focus on problems that are currently either "impossible" to resolve in customer deployments, or at least extremely difficult.

With that in m

[2021-06-14 17:17] lizozom commented on #51659
Dependencies
Current dependencies of `es_query/es_query`:
- JsonObject
- KueryNode
- IFieldType
- IIndexPattern
  - id
  - fields

[2021-06-14 17:28] crob611 opened #102105 "[Canvas] Migrate away from `history-extra` package"
Now that we are migrated to React Router, we should migrate away from the `history-extra` package that we use to create our history object.

I don't think it's as simple as migrating to the history package as we use pushState for our undo/redo functionality on a workpad, and the base history.createHashHistory does not allow pushState.

Perhaps we need to switch from hash history to pure url histor

[2021-06-14 17:28] elasticmachine commented on #102105
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-14 17:40] jen-huang commented on #100617
Hi @jfsiii, I updated the AC here.

[2021-06-14 17:50] gchaps commented on #81605
I got confused over "shared objects" and "saved objects", so how about making this distinction in the text:

Title:  2 of your saved objects are shared
          2 saved objects are shared

Description: Shared objects are deleted from every space they are in.

Button: Delete  x objects
             Delete 1 object

[2021-06-14 18:14] kevinlog commented on #101376
Thanks for the insight @dasansol92

@muskangulati-qasource I think we can close this one as is and open an enhancement to unify the cards.  @bfishel wanted to redesign them at some point in any case.

[2021-06-14 18:19] alisonelizabeth opened #102109 "[Snapshot + Restore] Missing breadcrumbs for privileges check"
**Describe the bug:**
The breadcrumbs do not render correctly when fetching privileges or if there is a privileges error.

<img width="1530" alt="121553445-4526e900-c9df-11eb-9fea-86ee09efab9f" src="https://user-images.githubusercontent.com/5226211/121939528-1da38980-cd1b-11eb-812a-22dfecba7746.png">

<img width="1530" alt="121553452-46581600-c9df-11eb-88dd-70de4b53ef18" src="https://user-images.g

[2021-06-14 18:19] elasticmachine commented on #102109
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-14 18:25] #100966 closed

[2021-06-14 18:28] #99966 closed

[2021-06-14 18:28] #99968 closed

[2021-06-14 18:28] #99970 closed

[2021-06-14 18:28] #99971 closed

[2021-06-14 18:45] wylieconlon opened #102115 "[Lens] Allow cell contents to be clickable when drilldowns are enabled"
This is an idea [proposed by a discuss user](https://discuss.elastic.co/t/dashboard-drilldowns-do-not-work-in-data-table-7-13-1/275878) to have the entire table cell be a clickable area, instead of having a set of action icons on the side.

[2021-06-14 18:45] elasticmachine commented on #102115
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-14 18:45] elasticmachine commented on #102115
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 18:48] ghudgins opened #102116 "[Lens] Improve time shift's "custom" interval discoverability"
**Describe the feature:**
 Revise the timeshift interval UX to make it more obvious you can enter custom values

**Describe a specific use case for the feature:**
**When** I am setting up a time shift in Lens for the first time
**I need** a more obvious way of discovering you can enter your own interval
**And** a more clear understanding of the interval syntax options (days, weeks, etc)
**So I can

[2021-06-14 18:48] elasticmachine commented on #102116
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 18:48] wylieconlon opened #102117 "[Drilldowns] Document drilldowns with tables, not just pie charts"
The [drilldown docs](https://www.elastic.co/guide/en/kibana/7.13/drilldowns.html) use only one example of drilldowns in pie chart, but based on [user feedback in Discuss](https://discuss.elastic.co/t/dashboard-drilldowns-do-not-work-in-data-table-7-13-1/275878) this is not clear enough. A table drilldown example would be helpful for explaining that drilldowns are actually connected to filters.

[2021-06-14 18:48] elasticmachine commented on #102117
Pinging @elastic/kibana-docs (Team:Docs)

[2021-06-14 19:06] kibanamachine opened #102122 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows configuring http advanced options"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14802/)

[2021-06-14 19:09] andreadelrio commented on #86757
![Screen Recording 2021-06-14 at 12 00 14 PM](https://user-images.githubusercontent.com/4016496/121945838-13788f80-cd09-11eb-849a-6975197b782a.gif)

Attaching a mock for this. How do you all feel about moving the `Actions` columns to the end? Many apps show actions on hover on the right (e.g. Gmail when hovering emails on your inbox).

@kertal what content would make sense for the tooltip?

[2021-06-14 19:40] kevinlog commented on #102045
@dasansol92 @paul-tavares how do Trusted Apps work today?  Is this problem solved there?  If not, I think we can lower priority on this one and solve the problem for both cases.

cc @caitlinbetz

[2021-06-14 19:42] ThomThomson opened #102128 "Dashboard Snapshot Share Lacks Migrations For By Value Panels"
**Issue**
If a user is using snapshot URLs for _long term state storage_, there is a potential for missing migrations to cause failures. This is because snapshot URLs can contain `by value` panels, and currently no migrations will be run on them. For instance, a user could run into a [Lens migration failure](https://github.com/elastic/kibana/issues/100756) if:
- They created a new dashboard in 7.1

[2021-06-14 19:42] kevinlog commented on #102044
@dasansol92 thoughts on this?  How do Exceptions work?

[2021-06-14 19:42] elasticmachine commented on #102128
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-14 19:42] legrego opened #102129 "Support logging into Kibana without any "feature" privileges"
Kibana currently requires some level of access to at least 1 feature within at least 1 space.
This has worked well historically, but some features (such as Enterprise Search) live within Kibana, but don't rely on Kibana privileges.

We should support logging into Kibana with a "login only" privilege, which doesn't grant access to any features, but allows basic access to 1 or more spaces.

[2021-06-14 19:42] elasticmachine commented on #102129
Pinging @elastic/kibana-security (Team:Security)

[2021-06-14 19:50] smith opened #102131 "Broken breadcrumbs in observability"
Current behavior:

* Navigate to Observability Cases
* Click the "Create new case" button
* The breadcrumb now says "Kibana"

Expected behavior:

* The breadcrumb says "Observability > Cases > Create"

This is most probably caused by the fact that the Observability plugin is handling breadcrumbs in two places:

* [An effect when the app renders](https://github.com/elastic/kibana/blob/master/x-pack

[2021-06-14 19:54] shaunmcgough opened #102132 "[Discover] Refresh interval hidden in non time series data sets"
### Description
If you select an automatic refresh interval in Discover for a time series data set, and then change to a non time series data set, the data set will still refresh as per your setting, and there is no way to change it back unless you re-open the time series data set. This is due to the fact the date picker is hidden in non time series data sets. The behavior is noticed in this case

[2021-06-14 19:54] elasticmachine commented on #102132
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-14 20:00] nreese commented on #78420
Looks like this an issue with EuiComboBox. https://github.com/elastic/eui/pull/4879 should resolve the issue.

[2021-06-14 20:10] ThomThomson opened #102133 "[RFC] Deprecate Dashboard Snapshot URLs in 8.X"
## What are Dashboard Snapshot URLs?
Dashboard Snapshot URLs contain a serialized representation of the entire dashboard state. These URLs can be created from newly created dashboards, previously saved dashboards, or previously saved dashboards with unsaved changes. Any unsaved changes will be serialized into the URL, and any time this URL is opened, the snapshot state will _overwrite_ subsequent

[2021-06-14 20:10] elasticmachine commented on #102133
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-14 20:37] #69316 closed

[2021-06-14 21:26] jasonrhodes commented on #100133
The management UI is where they delete rules for now. Hopefully, we will enable create/edit in that management flow soon, as well, but for now, it's where they can remove them.

I don't think we should allow users to do something we know they can't do, so we can leave the option there "greyed out" if we don't want it to disappear in certain states.

[2021-06-14 21:26] thekofimensah commented on #96029
I also will add that the UX of this feature is quite bad. I can't stand looking at the discover tab anymore and any visual that uses it, I must change now.

[2021-06-14 21:51] #100330 closed

[2021-06-14 22:12] simianhacker opened #102143 "[Monitoring] Migrate to new Elasticsearch Client for 8.0"
We need to migrate to the new ES Client for Stack Monitoring for 8.0 per #83910

[2021-06-14 22:12] elasticmachine commented on #102143
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-14 22:24] #98210 closed

[2021-06-14 22:56] spong opened #102146 "[Security Solution][Detections] ML Rules configured with incorrect ML Job ID"
When the 7.13 rules were added (https://github.com/elastic/kibana/pull/98975), there were four ML Rules that ended up with incorrectly configured ML Job ID's, using `-`'s instead of `_`'s. As a result, when enabled the rule will fail to execute and display the following error message:

Workaround is to duplicate the rule (since pre-packaged rules cannot be edited), and to select the correct ML Job

[2021-06-14 22:56] elasticmachine commented on #102146
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-14 22:56] elasticmachine commented on #102146
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-14 23:17] peluja1012 commented on #100433
This is caused by our misuse of `missing` in our queries described [here](https://github.com/elastic/kibana/issues/98350).

[2021-06-14 23:32] peluja1012 commented on #99440
Implemented by https://github.com/elastic/kibana/pull/100554

[2021-06-14 23:32] #99440 closed

[2021-06-14 23:37] TinaHeiligers commented on #91107
I created a new fixture using the default distribution with the flights sample data. PR https://github.com/elastic/kibana/pull/102139 passed 100/100 times on the flaky test runner. See PR for details.

[2021-06-15 00:32] alisonelizabeth opened #102147 "[Ingest Node Pipelines] Remove default value for error_distance param in circle processor"
**Describe the bug:**
When configuring a circle processor in the Ingest Node Pipelines UI, the form provides a default value of `1` for the `error_distance` parameter OOTB, or `0` if the field is left blank.

[Per the docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest-circle-processor.html), the `error_distance` parameter is a required field and does not have a default val

[2021-06-15 00:32] elasticmachine commented on #102147
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-15 00:40] #97657 closed

[2021-06-15 02:27] ssli08 commented on #70081
Hey, anybody fix this? i've also got a stuck here, with kibana version 7.13.1 , elasticsearch 7.13.1

[2021-06-15 04:46] kycfeel commented on #77864
Hi guys. I'm also having this issue. I'm on the latest ES Cloud `7.13.1` with `v3.15.0` `elastic-apm-node` library.

I'm seeing that there are some errors but the error rate graph is just stuck at 0%.

![image](https://user-images.githubusercontent.com/22075051/121994312-04b0dc00-cde0-11eb-8cb2-5dd61065a88e.png)

Any idea or progress?

[2021-06-15 05:13] #76474 closed

[2021-06-15 06:29] #22382 closed

[2021-06-15 06:29] #89523 closed

[2021-06-15 06:29] #93664 closed

[2021-06-15 06:29] #93665 closed

[2021-06-15 06:29] #94043 closed

[2021-06-15 06:29] #95539 closed

[2021-06-15 06:46] ruflin commented on #101309
Rolling over all the data streams will create a lot of new indices and shards. Instead I think we should follow the same logic we have for upgrading packages. We update the mappings and settings of the datastream that is current written to any only rollover if there is a conflict.

I assume only the component template has to be added as the pipeline is in the settings of this component template?

[2021-06-15 07:21] flash1293 commented on #102116
I see how it would help with discoverability, but it's loosing two nice properties of the current design:
* Offer a list of "good" shifts - this list is not arbitrary, it's the intervals the date histogram will pick as well and it's a good idea to stick with them if possible. I'm not sure how a two input form could achieve that
* Allows the user to enter a shift with a single change - we are using

[2021-06-15 07:25] flash1293 commented on #102116
This is how the EUI combo box looks like - the only affordance hinting at custom options is the blinking cursor:
![Kapture 2021-06-15 at 09 23 16](https://user-images.githubusercontent.com/1508364/122010577-86424300-cdbb-11eb-9579-49a4385f8f2c.gif)

Maybe there's something else we could do at this level to make it more obvious typing is possible?

[2021-06-15 07:28] #101815 closed

[2021-06-15 07:33] #100874 closed

[2021-06-15 07:43] flash1293 opened #102156 "[Lens] Focus is reset to body on hiding column via header action menu"
**Kibana version:** 7.13

**Describe the bug:** On hiding a column by using the header action popover menu, the focus is reset to the body. It should stay on the grid element instead

**Steps to reproduce:**
1. Go to Lens
2. Configure table with two columns
3. Click column header
4. Click "hide"
5. Focus is set to the body

**Expected behavior:**
Focus should stay on the table

[2021-06-15 07:43] elasticmachine commented on #102156
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 07:43] elasticmachine commented on #102156
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-06-15 07:44] #101451 closed

[2021-06-15 07:46] Sjaak01 opened #102158 "Logs app fit column width to data size (remove unnecessary whitespace)"
Hi,

The current logs app has excessive white space between columns. It appears column width is fixed based on the amount of columns you have rather than the space the data takes up. In my case I only have three columns, timestamp, id and a system log message but half my screen is white space. If the timestamp and id column width would be fixed to the size of the data displayed in them, the messag

[2021-06-15 08:12] #95776 closed

[2021-06-15 08:29] dasansol92 commented on #102045
@kevinlog I've tested it with a lower version of kibana and the search was refreshed when there was no results on the page after the remove action. I think this was introduced (in both, event filters and trusted apps) with the new `paginated_content.tsx` component, the ones used to handle the pagination of both pages. I'll take a look on this.

[2021-06-15 08:34] #101038 closed

[2021-06-15 08:34] #98644 closed

[2021-06-15 08:35] formgeist opened #102164 "[Logs UI] Add link to the Anomaly detection flyout in the main Kibana header menu links"
# Summary

Transferred from https://github.com/elastic/kibana/issues/88082

## Anomaly detection

Metrics UI already has an Anomaly detection link in the header -- when clicked, it opens a flyout:

<img width="1338" alt="Screen Shot 2021-01-12 at 1 53 12 PM" src="https://user-images.githubusercontent.com/159370/104360393-fb44e000-54de-11eb-89a4-582e97bd9d9c.png">

Logs UI keeps these links inside

[2021-06-15 08:35] elasticmachine commented on #102164
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-15 08:35] formgeist commented on #88082
Mostly resolved in https://github.com/elastic/kibana/pull/101239 except for the anomaly detection link in the header links menu and further ML improvements which has been transferred to a new issue https://github.com/elastic/kibana/issues/102164

[2021-06-15 08:35] #88082 closed

[2021-06-15 08:38] formgeist opened #102167 "[Logs UI] Alerts: Change dropdown options"
# Summary

Transferred from https://github.com/elastic/kibana/issues/88082

In Logs UI, the Alerts link in the header opens a dropdown that says "Create alert" and "Manage alerts", and "Create alert" creates a Logs threshold alert. For consistency and scalability, we should probably switch to the way APM handles this dropdown, which contains all available APM alert types by name:

<img width="312"

[2021-06-15 08:38] elasticmachine commented on #102167
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-15 08:39] formgeist commented on #88082
Opened another separate issue for the Alerts alignment https://github.com/elastic/kibana/issues/102164

[2021-06-15 08:39] kertal commented on #101232
@andrewkroh thx for opening this issue, we will investigate

[2021-06-15 08:40] #101363 closed

[2021-06-15 08:43] amolnater-qasource commented on #91454
Hi @jen-huang
Thank you for the confirmation. As shared by @muskangulati-qasource at https://github.com/elastic/kibana/issues/91454#issuecomment-855819831 ,  this is fixed for 7.14.0 Snapshot.

Thanks
QAS

[2021-06-15 09:04] pgayvallet commented on #101351
Yea, that sounds good to me. Fail fast and avoid altering the source index's meta.

[2021-06-15 09:07] giladgal commented on #101485
We are also developing a [Field usage API #73944](https://github.com/elastic/elasticsearch/issues/73944) which will support similar decisions and requires a UI for the admin. We may want to consider including both in the same UI.

[2021-06-15 09:13] pgayvallet commented on #94502
After `8.0`, there will no longer be minor/major distinctions, at least regarding breaking changes, meaning that if we do want to declare that the SO model/schema (and other Kibana system indices) is no longer an implement  detail, we'll be forced to wait an undetermined amount of time before being able to effectively change it. Not saying this is not necessarily an option, but we need to be aware

[2021-06-15 09:30] GrahamHannington commented on #100778
Argh! I've been using `.kibana` as the index pattern, with no time field, for TSVB Markdown visualizations, as a safe/innocuous solution where I'm only using TSVB because I want custom CSS, and the "normal" Markdown panel doesn't yet support that. This bug badly breaks my dashboards ("No results found" on all those TSVB Markdown panels :( ). Thanks for fixing it quickly, though.

[2021-06-15 09:48] #99963 closed

[2021-06-15 09:48] dasansol92 commented on #102045
PR: https://github.com/elastic/kibana/pull/102173

[2021-06-15 09:52] flash1293 opened #102175 "[Lens] Time shift does not work for non date-histogram chart, previous shift and dynamic time range"
**Kibana version:** master

**Describe the bug:** When "previous" shift is used on a chart which is not including a date histogram, the shift is not applied and the current time range is used instead

**Steps to reproduce:**
1. Configure Lens metric count of records
2. Shift by previous
3. Set time range to "Last 7 days"
4. Data is loaded for "Last 7 days"

**Expected behavior:**
Data should be lo

[2021-06-15 09:52] elasticmachine commented on #102175
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-15 09:52] elasticmachine commented on #102175
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 09:56] flash1293 opened #102176 "[Lens] Clicking number histogram bar applies time filter"
**Kibana version:** 7.12

**Describe the bug:** Clicking a bar in a Lens number histogram chart applies the filter as time filter instead of adding a number range filter pill

**Steps to reproduce:**
1. Configure bar chart with number histogram on x axis
2. Click bar
3. Time filter is set

**Expected behavior:**
Number filter pill is added

[2021-06-15 09:56] elasticmachine commented on #102176
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 09:57] pgayvallet opened #102177 "[KPT] Kibana Persistence Toolkit design"
This issue is a retranscription of the Kibana Persistence ToolKit (aka `KPT`) proposal that was initially presented during a company event.

The main problems KPT is trying to solve are:
- Access to ES feature via the SO APIs is too limited
- The SO document format does not play nice with data

## Some background

### Why does Saved Objects need to restrict access to Elasticsearch features

- Mode

[2021-06-15 09:57] elasticmachine commented on #102177
Pinging @elastic/kibana-core (Team:Core)

[2021-06-15 09:58] pgayvallet commented on #102177
cc @elastic/kibana-security @kobelb

[2021-06-15 10:04] xcrzx commented on #98287
Verified the rule table's behavior after these two PRs were merged: https://github.com/elastic/kibana/pull/99678, https://github.com/elastic/kibana/pull/100554

The maximum available number of rows has changed to 100. But switching to 100 rows still takes a sufficient amount of time, 2-3 seconds of network IO and 2-3 seconds of the main thread work.

<img width="824" alt="Screenshot 2021-06-15 at

[2021-06-15 10:08] stratoula opened #102179 "[TSVB] Metric count is depicted as `-` instead of 0"
**Kibana version:**
master

**Describe the bug:**
I have a TSVB metric viz with Count aggregation. When there is no data, I want the value to be displayed as zero and not as dash.

Now the metric is displayed with a dash
![image](https://user-images.githubusercontent.com/17003240/122034763-830a7f80-cdda-11eb-9e26-24f93a3c46ed.png)

while the timeseries is displayed with zero
![image](https://user-

[2021-06-15 10:08] elasticmachine commented on #102179
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 10:14] VladLasitsa opened #102180 "[TSVB] Index pattern select field disappear in Annotation tab"
**Kibana version:**

8.0

**Describe the bug:**

When we navigate to Annotation tab in TSVB index pattern select field is disappearing

**Steps to reproduce:**
1. Create TSVB visualization
2. Open annotation tab
3. Index pattern select field is missing
![image](https://user-images.githubusercontent.com/16915480/122035688-63278b80-cddb-11eb-8c0a-5569bacf4411.png)

**Expected behavior:**

We should

[2021-06-15 10:15] afgomez commented on #96026
Alright, a small update regarding this. These are the benchmarks for all different steps for the default packages. I tried my best to represent what happens in parallel and what sequentially

- function calls that start with `=` happen in parallel.
- function calls lthat start with `-` happen sequentially after the previous.
- Identation means grouping

Most of the time is spent in the last two pa

[2021-06-15 10:16] elasticmachine commented on #102180
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 10:21] kibanamachine opened #102183 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/formula·ts - lens app lens formula should insert single quotes and escape when needed to create valid KQL"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14676/)

[2021-06-15 10:21] kibanamachine commented on #102183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14676/)

[2021-06-15 10:41] #102069 closed

[2021-06-15 11:01] karanbirsingh-qasource commented on #99774
Hi @MadameSheema

We have validated this on master 8.0.0 and found that issue is now Fixed. Endpoint Security [ Duplicate ] Rule get successful activated after deactivation.

**Build Details:**
[code]

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/122041869-118cfa00-cdf7-11eb-8c8d-9cf49070b925.png)

Hence Closing this issue and adding "QA:Validated" to it.

thanks !!

[2021-06-15 11:01] #99774 closed

[2021-06-15 11:04] dasansol92 commented on #102044
@kevinlog @muskangulati-qasource
The `exists` option disables the value dropdown as it is self-valued. If you want to filter by `exists === false` you can chose the `does not exists` option (it will disable the dropdown too).

About the API error when trying to save it's so strange.
This error is not happening to me locally, maybe it's because the snapshot you are using? I'm trying to figure out w

[2021-06-15 11:14] karanbirsingh-qasource commented on #101382
Hi @MadameSheema

we have validated this issue on 8.0.0 master and found is Fixed. Now data_stream.* fields present under Alert details are also showing under custom columns and data is also showing on adding those column.

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/122043409-f02d0d80-cdf8-11eb-82b0-14d75a191b13.png)
![image](https://use

[2021-06-15 11:14] #101382 closed

[2021-06-15 11:19] kibanamachine commented on #93188
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14677/)

[2021-06-15 11:24] Kerry350 opened #102187 "[Metrics UI] Inventory page enhancements following the Observability page template"
## Summary

There are some enhancements that should be added to the Metrics Inventory page now that the Observability page template work has merged (https://github.com/elastic/kibana/pull/101239).

![inventory-changes](https://user-images.githubusercontent.com/471693/122044044-f3fa6900-cdd3-11eb-92f4-8a1e4cd2ac5f.png)

## Acceptance criteria

- Saved views button / switcher has moved.
- Scale has

[2021-06-15 11:24] elasticmachine commented on #102187
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-15 11:25] Kerry350 commented on #102187
I've added this to 7.14, please push to 7.15 if needed.

[2021-06-15 11:26] muskangulati-qasource opened #102188 "[Enhancement] Event Filter Name should be truncated and a tooltip should be displayed for the same."
In continuation with https://github.com/elastic/kibana/issues/101376

**Describe the feature:**
Event Filter Name should be truncated and a tooltip should be displayed for the same.

**Describe a specific use case for the feature:**
- Trusted App Tab:
![TrustedApp](https://user-images.githubusercontent.com/60252716/121881831-65331100-cd2d-11eb-8a4b-cabd59171b90.JPG)

- Event Filter Tab:
![FilterEv

[2021-06-15 11:26] elasticmachine commented on #102188
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-15 11:35] Kerry350 commented on #98010
I'm going to implement this quick win, which will at least dramatically improve the more than scenario. I'll also increase the composite size. And lastly add a note about high cardinality fields to the docs (more of a stop gap until we provide some UI options).

[2021-06-15 11:36] mshustov commented on #101587
@jtibshirani @imotov I have a couple of questions about the integration with ES slow query logs:
- What header should Kibana use to propagate context with? We can start with `x-opaque-id` or `stats` and switch to the standard observability headers (baggage, for example) later.
- In what format should the data be transmitted? We can start with something as simple as JSON.
[code]
But I'm open to any

[2021-06-15 11:37] manishgupta-qasource commented on #102188
Reviewed & Assigned to @kevinlog

[2021-06-15 11:39] felixbarny commented on #97934
These should be addressed with https://github.com/elastic/apm-agent-nodejs/issues/2101 and by adding traceparent-based log correlation to both Kibana and Elasticsearch.

Using log correlation, it will be possible to correlate the logs form Kibana and Elasticsearch to a particular request.
The way I see it, this is more powerful than propagating proprietary/custom context to the `baggage` header.
A

[2021-06-15 11:50] elasticmachine commented on #102183
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 11:51] elasticmachine commented on #102073
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 11:52] elasticmachine commented on #101762
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 11:54] stratoula commented on #101762
This is not Elastic's kibana product but the opendistro distribution. I suggest reporting it there! I am closing it 🙂

[2021-06-15 11:54] #101762 closed

[2021-06-15 11:55] elasticmachine commented on #101552
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-15 11:56] #101250 closed

[2021-06-15 11:58] chenslrv commented on #102179
@stratoula This confusing behavior also happens with Cardinality aggregation

[2021-06-15 12:04] #73304 closed

[2021-06-15 12:05] timroes commented on #101232
Blocked on: https://github.com/elastic/elasticsearch/issues/74121

[2021-06-15 12:12] mandeepkaur-qasource opened #102194 "[Security Solution]'Exit Full Screen' button is getting displayed on 'Inspect' pop-up modal."
**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be installed
- Detection alerts should be generated

**Steps to Reproduce:**
1. Navigate to 'D

[2021-06-15 12:12] elasticmachine commented on #102194
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-15 12:13] stacey-gammon commented on #102133
Do we have telemetry on this feature?

To be clear, is your proposal to _deprecate_ the feature in 8.0, or _remove_ the feature in 8.0?

I think we need ample deprecation warning time, there may not be sufficient time left between now and 8.0, but having telemetry on usage would help a lot.

[2021-06-15 12:14] manishgupta-qasource commented on #102194
Reviewed & Assigned to @MadameSheema

[2021-06-15 12:16] ruflin commented on #96026
Thanks for putting together all this data, this is great!

One thing that caught my attention is the time it takes to install all the pipelines and templates. I'm aware there are a few pipelines and templates to be loaded but the number seems higher than what I would expect. It would be interesting to know what the time of just loading a single pipeline into ES with the direct ES call and how much

[2021-06-15 12:17] mandeepkaur-qasource opened #102195 "[Security Solution]'Isolate Host' menu option is getting scrolled up/Down on 'Alert Detail' flyout"
**Description:**
'Isolate Host' menu option is getting scrolled up/Down on 'Alert Detail' flyout

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent sho

[2021-06-15 12:17] elasticmachine commented on #102195
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-15 12:17] elasticmachine commented on #102194
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-15 12:17] mandeepkaur-qasource commented on #102195
@manishgupta-qasource Please review.

Thanks!

[2021-06-15 12:20] elasticmachine commented on #102195
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-15 12:23] deepikakeshav-qasource opened #102197 "[Security Solution]An error occurs while creating a case if we select the connector at the time of creation of the case"
**Description**
An error occurs while creating a case if we select the connector at the time of creation of the case

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be installed.

**Steps to Reproduce:**
1. Navigate to the case tab under security.
2. Click on edit external connection.
3. Add any connector. [Note: do no

[2021-06-15 12:23] elasticmachine commented on #102197
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-15 12:27] Dosant commented on #53266
I think this is possible today by registering a custom field format editor on `indexPatternFieldEditor` plugin.

[2021-06-15 12:27] #53266 closed

[2021-06-15 12:29] elasticmachine commented on #102195
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-15 12:30] kevinlog commented on #102195
Assigning to @parkiino since our team (Onboarding and Lifecycle Mgt) introduced the Take Action dropdown

[2021-06-15 12:36] mandeepkaur-qasource opened #102200 "[Security Solution]'Confirm and Cancel' button are getting lost on resizing the Text editor under 'Comment' section on 'Alert Detail' flyout."
**Description:**
'Confirm and Cancel' button are getting lost on resizing the Text editor under 'Comment' section on 'Alert Detail' flyout.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist

[2021-06-15 12:36] elasticmachine commented on #102200
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-15 12:36] mandeepkaur-qasource commented on #102200
@manishgupta-qasource Please review!

[2021-06-15 12:38] deepikakeshav-qasource commented on #85543
Hi @MadameSheema and @peluja1012,

We have validated this on **master 8.0.0** and found that issue is now **Fixed**. The "Add filter" modal is properly displayed after clicking on "Edit as Query DSL" under the timeline.

Build Details:
[code]

**Screenshot:**
![filter](https://user-images.githubusercontent.com/61860752/122053637-8ca8dd00-ce04-11eb-902e-d66cd107da92.jpg)

Hence, Closing this issue

[2021-06-15 12:38] #85543 closed

[2021-06-15 12:43] sqren commented on #100657
@ogupte One more thing that came up:

To make the migration you are working on work, the cloud APIs needs some changes. This should be handled on ESS for 7.14. But ECE doesn't follow the same versioning, so ECE might ship with Kibana 7.14 but and an older version of Cloud.

Therefore, in APM ui we will need to check the version of the environment we are running in, and only show the migration scre

[2021-06-15 12:47] #99910 closed

[2021-06-15 12:49] dej611 opened #102202 "[Lens] Filters get lost when transitioning from a calculation to incomplete regular operation"
**Describe the bug:**

Quite similar to #99910 , but it applies for the transition to an incomplete state.

From @flash1293 comment in #101872:

[2021-06-15 12:49] elasticmachine commented on #102202
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 12:53] danhermann commented on #101587
I don't have information on the slow logs, but the recently-added [HTTP client stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-stats.html#cluster-nodes-stats-api-response-body) in ES report the first observed `x-opaque-id` for each HTTP client. Additional context from Kibana would be great and if implemented in the `x-opaque-id` field as proposed here, the HTTP

[2021-06-15 12:53] MadameSheema commented on #102197
@deepikakeshav-qasource this is happening with all the connectors type? Thanks :)

[2021-06-15 12:53] elasticmachine commented on #102197
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-15 12:56] muskangulati-qasource opened #102205 "[Security Solution] The Link for 'Back to Endpoint Integration' should take the user to the Endpoint Security Integration"
**Describe the feature**
The Link for 'Back to Endpoint Integration' should take the user to the Endpoint Security Integration

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Integration Tab
2. Select the Endpoint Security Integration
3. Navigate to the Advanced Tab
4. Click on Manage Trusted Application
5. Obse

[2021-06-15 12:56] elasticmachine commented on #102205
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-15 12:56] elasticmachine commented on #102205
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-15 12:56] muskangulati-qasource opened #102206 "[Security Solution] The long name is not truncated on the Delete form for the Event Filter"
**Describe the feature**
The long name is not truncated on the Delete form for the Event Filter

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Go to the Event Filter Tab
3. Add a new filter Event entry by adding a long name without any space & save the value
4. Delete th

[2021-06-15 12:56] elasticmachine commented on #102206
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-15 12:56] elasticmachine commented on #102206
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-15 12:56] muskangulati-qasource commented on #102205
@manishgupta-qasource please review !!

[2021-06-15 12:56] muskangulati-qasource commented on #102206
@manishgupta-qasource please review !!

[2021-06-15 12:59] muskangulati-qasource commented on #101376
Hi @kevinlog,

Thank you for the update. We have created a new Enhancement ticket to track here: **https://github.com/elastic/kibana/issues/102188**

Hence, closing this ticket & marking it as "Validated".

Thanks!

[2021-06-15 12:59] #101376 closed

[2021-06-15 12:59] afgomez commented on #96026
@ruflin good questions. I haven't digged into each function, and to be fair all these timings are running against a local ES instance, so that might affect the speed as well.

I will take a look at what the functions are doing nonetheless

[2021-06-15 13:03] sqren commented on #77864
Hi @kycfeel

Error rate is the relative number of transactions with `event.outcome=failed`. It's possible that the two errors you are seeing on the right occurred outside of a transaction. Or perhaps they occurred in a transaction, but were caught, and thus not causing the transaction to fail.

Can you open Discover and look for transactions in given time range, and see if they have `event.outcome

[2021-06-15 13:06] elasticmachine commented on #102200
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-15 13:12] ghudgins commented on #102116
brainstorming: here's a cheaper option `Time shift` --> `Type anything` placeholder
![image](https://user-images.githubusercontent.com/5465514/122058596-c86a8500-cdb9-11eb-8214-326f97fb19a7.png)

[2021-06-15 13:14] manishgupta-qasource commented on #102205
Reviewed & Assigned to @kevinlog

[2021-06-15 13:22] manishgupta-qasource commented on #102206
Reviewed & Assigned to @kevinlog

[2021-06-15 13:25] #100439 closed

[2021-06-15 13:33] mbondyra opened #102216 "[Add data] Padding between the title and the content is too big"
**Kibana version:**
master
1. Open http://localhost:5601/lqo/app/home#/tutorial_directory
2. Dismiss the fleet notification
<img width="1020" alt="Screenshot 2021-06-15 at 19 33 08" src="https://user-images.githubusercontent.com/4283304/122098003-97696f00-ce10-11eb-9c36-bec324da850b.png">

3. The space between "Add data" and "All Logs etc." is too big.

<img width="993" alt="Screenshot 2021-06-15

[2021-06-15 13:42] wylieconlon commented on #102179
@stratoula It looks like this is a regression, the change that I implemented was showing 0 for count and `-` for empty series.

[2021-06-15 13:43] stratoula commented on #102179
Yes, @wylieconlon I agree. I am pretty sure that I had tested all scenarios back then

[2021-06-15 13:52] mshustov commented on #97934
@felixbarny we [are going](https://github.com/elastic/kibana/issues/101627) to switch to APM solution as soon elastic/apm-agent-nodejs#2101 is done. As I can see, the APM agent team is planning to work on it during `v7.15`. In the meantime, Kibana can start with a custom solution not being blocked by APM agent improvements. I believe the APM-based solution will be able to reuse most of the logic i

[2021-06-15 13:53] weltenwort commented on #102164
@formgeist thanks for splitting this up. Could you somehow specify the acceptance criteria? Is this just about moving the button to trigger the flyout to the header or about turning it into a full page?

[2021-06-15 13:55] deepikakeshav-qasource commented on #102197
Hi @MadameSheema

yes Glo, This issue is occurring for all 3 connectors [IBM, JIRA, Service now]

**Screenshots:**
![jira_case](https://user-images.githubusercontent.com/61860752/122064795-0ba31300-ce0f-11eb-9948-794cec47bf6d.jpg)

![SN_case](https://user-images.githubusercontent.com/61860752/122064812-0e9e0380-ce0f-11eb-92c7-c1af56adce6a.jpg)

Thanks!!

[2021-06-15 13:56] weltenwort commented on #102167
Do I interpret the description correctly that the desired outcome be:

- The alerts menu in the Logs UI contains an entry "Log rate", which triggers a sub-menu.
- The "Log rate" sub-menu contains an entry "Create threshold alert".

The "Manage Alerts" entry in the alerts menu would remain?

[2021-06-15 14:05] joshdover commented on #97965
Based on discussion and path forward in https://github.com/elastic/kibana/issues/101351, we no longer need this step since we will be throwing an error on any unknown types in the index prior to upgrade.

[2021-06-15 14:05] #97965 closed

[2021-06-15 14:09] rw-access commented on #102146
@spong are you okay if I move this issue to detection-rules and we fix it there?

[2021-06-15 14:18] joshdover opened #102223 "Add deprecation docs for dashboard import/export API"
We're already logging deprecation messages when the legacy dashboard import/export API is used, but we have not yet documented this deprecation. We should add docs.

Related: https://github.com/elastic/kibana/issues/41439

[2021-06-15 14:18] elasticmachine commented on #102223
Pinging @elastic/kibana-core (Team:Core)

[2021-06-15 14:19] alisonelizabeth commented on #102109
I noticed a similar issue for the Ingest Node Pipelines UI (and possibly our other apps).

[2021-06-15 14:31] laurentiubanica commented on #100470
Hi,

This is the POST URL:

https://link/api/reporting/generate/csv_searchsource?jobParams=%28browserTimezone%3AUTC%2Ccolumns%3A%21%28%29%2CobjectType%3Asearch%2CsearchSource%3A%28fields%3A%21%28%28field%3A%27%2A%27%2Cinclude_unmapped%3Atrue%29%29%2Cfilter%3A%21%28%28meta%3A%28index%3A%279af5b780-7d7d-11ea-813a-35e6418f1055%27%2Cparams%3A%28%29%29%2Crange%3A%28%27%40timestamp%27%3A%28format%3Astri

[2021-06-15 14:33] #101625 closed

[2021-06-15 14:34] alvarezmelissa87 commented on #18328
@sophiec20 - Just a clarification question for this comment regarding clearing job messages https://github.com/elastic/kibana/issues/18328#issuecomment-395030846
Would the clear all actually hide the messages themselves or just convert the warning icons to info icons?

[2021-06-15 14:37] laurentiubanica commented on #100470
This would be a sample log related to the last report I ran:

{"type":"log","@timestamp":"2021-06-15T14:26:06+00:00","tags":["info","plugins","reporting","queue-job"],"pid":952,"message":"Queued csv_searchsource report: kpy51o2600qgdfc2101bsx4h"}
{"type":"response","@timestamp":"2021-06-15T14:26:06+00:00","tags":[],"pid":952,"method":"post","statusCode":200,"req":{"url":"/api/reporting/generate/cs

[2021-06-15 14:38] ThomThomson commented on #101552
I am unable to recreate this on `6.8.16`.

@qizhelongdeyang, When you've selected an option in the parent control, it should filter the child control down so only records which have the parent's value in the parent's field show up as options. Is it possible that only 10 out of the 100 options are associated with the option that you chose in the parent? Do the available options in the child change

[2021-06-15 14:40] laurentiubanica commented on #100470
{"type":"response","@timestamp":"2021-06-15T14:26:08+00:00","tags":[],"pid":952,"method":"get","statusCode":200,"req":{"url":"/api/reporting/jobs/list?page=0&ids=kpy51o2600qgdfc2101bsx4h","method":"get","headers":{"connection":"Keep-Alive","proxy-connection":"Keep-Alive","host":"servers","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0","accept":"*/*","a

[2021-06-15 14:45] joshdover commented on #101654
@tylersmalley Any updates here? I want to make sure that we get ahead of any races if we do indeed have any.

[2021-06-15 14:56] kibanamachine commented on #102183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14821/)

[2021-06-15 14:56] spong commented on #102146
So long as we still have a Kibana issue open for tracking them making it into the kibana pre-packaged rules that's okay with me. 👍

[2021-06-15 15:01] kevinlog commented on #102205
@dasansol92 my guess is that this link was broken when Integrations moved to it's own app.

[2021-06-15 15:02] estermv commented on #100133
After a quick chat with @jasonrhodes in zoom, we decided that we are going to make the modal space agnostic as we feel that showing it per space could be more confusing for users.
As we have the "Create default rules" option in the navigation bar, they can always create them if they want.

The modal will be shown if the user doesn't have alerts created and they didn't decide anything in the modal

[2021-06-15 15:04] erms77 commented on #100982
Any idea what happens with the Kibana import / export module? Are we the only ones with this problem?

[2021-06-15 15:06] pmuellr commented on #98634
- task drift would be `runAt` - `now()`?
- current average duration would be pulled from the current stats being collected?

I think the first - task drift - is likely more interesting than the average, but both do seem interesting.

When looking at the [existing event log schema](https://github.com/elastic/kibana/blob/master/x-pack/plugins/event_log/scripts/mappings.js) (these are the extensions

[2021-06-15 15:12] ymao1 commented on #98634
Not sure how difficult it is to tap into the current task manager stats, but if it is difficult, we could achieve the same thing if we had the just the calculated drift (`schedule_delay`) value in the event log, using ES aggs, right?

[2021-06-15 15:15] stacey-gammon commented on #98764
@lukasolson - do you have any update on this?

[2021-06-15 15:22] stratoula opened #102230 "[Home] Add data section is not displayed correctly"
**Kibana version:**
master

**Describe the bug:**
This is a ui bug and has to do with the way that some sections of the Add data page are rendered.
When I dismiss the message I would expect the whole section to move at the top. But as you see on the screenshot they are depicted on the bottom.

![image](https://user-images.githubusercontent.com/17003240/122079753-6126f200-ce06-11eb-88a5-474792d3117

[2021-06-15 15:22] elasticmachine commented on #102230
Pinging @elastic/kibana-core (Team:Core)

[2021-06-15 15:29] rashmivkulkarni opened #102231 "Internal Server Error\n at HapiResponseAdapter.toInternalError - seen in the Kibana logs."
Kibana- 8.0 snapshot build

While running our end to end integration tests, while I `grep` for errors in the logs, I do catch this exception

`
{"type":"error","@timestamp":"2021-06-14T23:00:39+00:00","tags":[],"pid":11651,"level":"error","error":{"message":"Internal Server Error","name":"Error","stack":"Error: Internal Server Error\n    at HapiResponseAdapter.toInternalError (/usr/share/kibana/sr

[2021-06-15 15:29] elasticmachine commented on #102231
Pinging @elastic/kibana-core (Team:Core)

[2021-06-15 15:30] felixbarny commented on #97934
What's your timeline to add that to Kibana? If we'd add that in the early 7.14 or early 7.15 time frame, can we avoid the interim solution?

I fear that working on a custom solution now will make it much harder to migrate to an APM-based solution in the future.

I don't think it's completely clear what functionality you'd need from the RUM agent. Could you open a ticket on https://github.com/elast

[2021-06-15 15:35] flash1293 commented on #102116
I like that @ghudgins - it won't "work" for the cases where a value is set already, but by then they should have learned how it works anyway.

[2021-06-15 15:57] jbudz commented on #100112
This should be resolved now.  Closing this out.

[2021-06-15 15:57] #100112 closed

[2021-06-15 16:00] tylersmalley commented on #102012
Skipped

master: 035f617b58bb00d978c272ad8df28bfd99d7ac27
7.x: 874d51c3713278efa3c7cde01d7657cc30b63556
7.13: 900c99171ba9f1ac4c1a93ecd2db514d69777128

[2021-06-15 16:02] jbudz commented on #92224
This is running now with option 1).  Performance is fine - Kibana doesn't perform a significant amount of IO.

https://kibana-ci.elastic.co/job/elastic+kibana+package-testing/

[2021-06-15 16:02] #92224 closed

[2021-06-15 16:02] #102002 closed

[2021-06-15 16:05] jbudz commented on #79465
I'm closing this out now - there's incremental improvements to be done, but for the most part this is running.

https://kibana-ci.elastic.co/job/elastic+kibana+package-testing/

[2021-06-15 16:05] #79465 closed

[2021-06-15 16:18] Dosant opened #102239 "[meta] Dealing with Numeral.js"
Meta issue to plan and execute on moving away from Numeral.js in field formatters.

-[ ] TODO @Dosant add more details. All credit goes to https://github.com/elastic/kibana/issues/39211#issuecomment-596683281, https://github.com/elastic/kibana/issues/8583#issuecomment-583046206

- Sum up on numeral limitations: https://github.com/elastic/kibana/issues/8583#issuecomment-583046206
- [Remove external

[2021-06-15 16:18] elasticmachine commented on #102239
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-15 16:21] jbudz commented on #26905
This is stale, there's probably some utility here but without discussion I'm going to close it out.

[2021-06-15 16:21] #26905 closed

[2021-06-15 16:23] spalger commented on #99005
Resolved by https://github.com/elastic/kibana/pull/99009, best long term solution would include https://github.com/elastic/kibana/issues/95107 but for now I think it's fair to close this issue.

[2021-06-15 16:23] #99005 closed

[2021-06-15 16:25] jbudz commented on #98366
Closing this out as a duplicate of https://github.com/elastic/kibana/issues/69061

[2021-06-15 16:25] #98366 closed

[2021-06-15 16:27] jbudz commented on #97690
Closing this out as a duplicate of https://github.com/elastic/kibana/issues/65693

[2021-06-15 16:27] #97690 closed

[2021-06-15 16:39] jsoriano commented on #82273
@ph @ruflin @Zacqary the elasticsearch team is going to add new mapping parameters to annotate dimensions and metrics (https://github.com/elastic/elasticsearch/issues/74014). When compared to meta, parameters have the advantage of allowing to implement hard validation, apart of giving metrics the level of first class citizens in ES indexes.

There will be a parameter for the metric type, that woul

[2021-06-15 16:46] ymao1 commented on #87992
There are two approaches we can take with migrations:

#### Approach 1 - Framework handles migrations

Alerting framework detects whether `useSavedObjectReferences.extractReferences` hook is implemented for a rule type and applies it to rules of this rule type.

**Pros**
- Rule type would not need to write its own migration, they would just need to implement the `useSavedObjectReferences.extractRe

[2021-06-15 16:49] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14683/)

[2021-06-15 16:49] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14683/)

[2021-06-15 16:53] wylieconlon opened #102245 "[Lens] Bug when transitioning to formula in non-default locale"
Steps to reproduce:

1. Start Kibana with `--i18n.locale=en-xa`
2. Open Lens and configure Count as your function
3. Switch to formula and you'll see `count(Ŕéççôŕððš)` instead of `count()`

The fix is to change the `getSafeFieldName` function to not use `=== 'Records'` and instead check the i18n string.

[2021-06-15 16:53] elasticmachine commented on #102245
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 16:54] chandlerprall commented on #98644
@MichaelMarcialis I don't think we have an existing for that

[2021-06-15 17:01] tsullivan commented on #81544
@jloleysens take a look at this issue as well - https://github.com/elastic/kibana/issues/101438 our built-in policies will have an indication that they are `managed` in the listing page for policies.

[2021-06-15 17:04] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14824/)

[2021-06-15 17:04] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14824/)

[2021-06-15 17:18] nchaulet commented on #101309
Yes it will totally make sense

Actually it will be more exact to phrase it like:  change the `composed_of` property of the index template to use the new component template.

[2021-06-15 17:19] machadoum commented on #99358
Closing this issue because #100487 was merged.

[2021-06-15 17:19] #99358 closed

[2021-06-15 17:19] kpollich commented on #101723
I spent some time attempting to resolve this and I'm coming up empty. This seems like an issue with Fleet + Integrations uses of `HashRouter`, potentially. I went back to dc1d98ba177ce8dfdf312b9dd5c0b8c7404d147d - before the separation of the Integrations UI - and confirmed that this issue still occurs when re-clicking `Fleet` in the Kibana sidebar.

[2021-06-15 17:28] chrisxaustin opened #102247 "Discover sort order reversed for the new table view, or menu item text should be more intuitive"
**Kibana version:** 7.12.0, 7.13.1

**Elasticsearch version:** 7.12.0, 7.13.1

**Browser version:**
Firefox 89.0
Chrome 91.0.4472.106

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** ECK

**Describe the bug:**
The new table layout for the Discover component has a "Sort New-Old" and "Sort Old-New" option.

When I click the "Sort New-Old"

[2021-06-15 17:30] mikecote commented on #100068
Removing `[8.0 only]` as this may not be considered a breaking change.

[2021-06-15 17:31] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/252/)

[2021-06-15 17:31] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/252/)

[2021-06-15 17:35] mikecote opened #102248 "[8.0 only] Rename alerting SO attributes to reflect new terminology"
Part of https://github.com/elastic/kibana/issues/90375.

We should migrate our SO mappings and attributes to use the new terminology.

Example
- `alertTypeId` -> `ruleTypeId`
- `actionTypeId` -> `connectorTypeId`

[2021-06-15 17:35] elasticmachine commented on #102248
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-15 17:36] wylieconlon opened #102249 "[Lens] Throw error on array values in formulas"
Formulas can't handle array valued data, specifically coming from last_value functions. The `math` function is not allowed to return array values, so formulas also cannot return array values. It should be treated as an error to evaluate a formula on an array value column.

Steps to reproduce:

1. Use the ecommerce sample data
2. Type the formula `last_value(products.base_price)`
3. Get the error `

[2021-06-15 17:36] elasticmachine commented on #102249
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 17:41] mikecote opened #102251 "Ensure support can leverage new observability of alerting 7.14 features"
## Problem Statement
We have delivered numerous enhancements as part of [Observability of Alerting efforts](https://github.com/elastic/kibana/issues/98902) and support isn't aware of nor benefiting from these.

---

We should ensure support is aware and leveraging the [Observability of Alerting efforts](https://github.com/elastic/kibana/issues/98902) that we have made in the 7.14 release. This wil

[2021-06-15 17:41] elasticmachine commented on #102251
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-15 17:49] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14684/)

[2021-06-15 17:49] kibanamachine commented on #102012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14684/)

[2021-06-15 17:54] formgeist opened #102255 "[APM] Bug: Errors view is broken, just shows blank"
Kibana version: master

# Summary

When clicking any Errors link in any selected Service the errors view just returns empty.

![2021-06-15 at 19 52 21 - Gold Limpet](https://user-images.githubusercontent.com/4104278/122100345-5cb50600-ce13-11eb-9262-6719ec75ffd6.gif)

### Console output

[code]

[2021-06-15 17:54] elasticmachine commented on #102255
Pinging @elastic/apm-ui (Team:apm)

[2021-06-15 17:59] pmuellr commented on #98634
IIUC that would would actually be the drift aggregated over every server, where the current task manager stats are per server.  I'm curious how we'll identify when these are wildly different, due to some machines behaving differently than others (presumably some much slower than others, so their drift would be higher). :-)

It's also nice to actually have this value for the specific task, since we

[2021-06-15 18:01] LeeDr commented on #101406
We probably need to know the version of Kibana being used.  And also if this ever worked correctly on a previous version which would make this a regression.

[2021-06-15 18:02] imotov commented on #101587
Yes, since https://github.com/elastic/elasticsearch/pull/31539

[2021-06-15 18:06] #94585 closed

[2021-06-15 18:14] TinaHeiligers opened #102260 "Home page add sample data UI contains a lot of blank space"
**Kibana version:**
master

**Elasticsearch version:**
master

**Browser info**
Chrome Version 91.0.4472.101 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
The add data page has a lot of free space when the tutorial content doesn't have many rows, causing the flex above the content to stretch too far vertically.

*

[2021-06-15 18:14] elasticmachine commented on #102260
Pinging @elastic/kibana-core (Team:Core)

[2021-06-15 18:14] gonzo919 commented on #101406
@LeeDr I have forwarded your questions to customer.

[2021-06-15 18:15] #69964 closed

[2021-06-15 18:15] jen-huang commented on #100731
Fixed by #101450 and beta badges will be removed in #101828 as well. Closing.

[2021-06-15 18:15] #100731 closed

[2021-06-15 18:26] ymao1 commented on #98634
@pmuellr I think we are saying the same thing :)

I think what you're calling `schedule_delay` is easy to calculate and useful (and you've already added it in your draft PR!). I think what you're calling `average_duration`, *if* it's difficult to pass it from the task manager, we could get using ES aggs on the event log. We could group by specific rule id, rule type id and even by kibana instance

[2021-06-15 18:36] stratoula commented on #101406
Moreover, can they add some screenshots? The timeseries chart depicts the series on the entire timerange while on the Gauge it depends on the timerange mode setting
![image](https://user-images.githubusercontent.com/17003240/122105146-1ebede80-ce21-11eb-83ca-c5257a750a21.png)

"Entire timerange" will match all the documents selected in the timepicker.
"Last value" will match only the documents for

[2021-06-15 18:37] elasticmachine commented on #101406
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 18:43] timroes commented on #89925
For reference: the release note tool that is currently used by the Kibana team is https://github.com/elastic/kibana-release-notes and deployed under https://release-notes.kibana.team/

Release note generation requires quiet a lot of manual "preprocessing" of the merged PRs, and categorizing them properly. Thus we have a UI tool allowing our tech writers to do exactly that. I think - as you pointed

[2021-06-15 18:46] #91107 closed

[2021-06-15 18:53] #96559 closed

[2021-06-15 18:56] pmuellr commented on #98634
But we don't want to do that for every connector / rule execution - and so I was thinking ... do we even need this in the actual event docs, since we CAN do aggs over the event docs ad hoc?  And I believe we print these out in the TM health metrics anyway (if not, we should!).

I haven't looked to see if it's hard to get the metrics out, guessing it might not be too difficult, but I'd probably hav

[2021-06-15 19:01] tsullivan commented on #100470
I just noticed that your `xpack.reporting.csv.scroll.size: 1048576000` is really high. Elasticsearch is likely having problems returning search results with that many hits in a  single response. Can you try setting it back to the default of `500`?  Once doing that, if it is still not working, can you see if a report with 500 documents or fewer can be generated?

I parsed the search that Discover i

[2021-06-15 19:03] ymao1 commented on #98634
Yes! I meant ad hoc aggregations! Sorry for the confusion

[2021-06-15 19:05] simianhacker commented on #92185
Is there a replacement API we should be using that will accept a `IClusterClient`? There seems to be a discrepancy between the type definition and the implementation.

[code]
vs
[code]
OR should I just update `createLicensePoller` and `fetchLicense` to use the new `IClusterClient` interface?

[2021-06-15 19:09] #90477 closed

[2021-06-15 19:09] alvarezmelissa87 commented on #18328
@droberts195 - sounds like we need to add mappings for 2 additional fields to implement this.
1) a flag whether for whether a message has been cleared - `cleared`
2) for the user name - for this one maybe we can be consistent with annotations (which calls it `create_username`) - so we can call it `cleared_username` or something?

That should be all we need since we'll create a new message for when

[2021-06-15 19:13] anyasabo commented on #101712
@henningandersen given what we were discussing about potentially informing ES about the "desired state" of the cluster, I wonder how/if that would relate to Jason's question above? I don't think there's any way for stack monitoring to know "this is a node that we expect to be dead" vs "yes i would like to know if this node goes down" at the moment though.

[2021-06-15 19:13] gchaps commented on #76774
@gtback Do you have an update on this?

[2021-06-15 19:15] #73484 closed

[2021-06-15 19:18] rashmivkulkarni opened #102266 "EncryptionError: Unable to decrypt attribute \"secrets - error seen in Kibana logs"
kibana- 8.0 snapshot

seeing the following error in the kibana logs when I grep for `error`  when I run end to end integration tests ( alerting tests involved.)  Worth investigating ..( we could close it too later- just wanted it to be documented) This could happen if you have different Kibanas configured with different encryption keys accessing the same Kibana at the same time.

`
{"type":"log","

[2021-06-15 19:18] elasticmachine commented on #102266
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-15 19:34] #102266 closed

[2021-06-15 19:45] elasticmachine commented on #100969
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-15 19:45] elasticmachine commented on #100970
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-15 19:49] wylieconlon commented on #95291
I am reopening this bug because I have tested this and found that it is impossible to use the row and column faceting operators in Vega-Lite in Kibana, even though these operators are working correctly without Kibana's modifications.

[2021-06-15 19:49] elasticmachine commented on #95291
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-15 19:52] pmuellr commented on #102231
I _assume_ this is a problem with the actions plugin - though it's not quite clear - it _could_ be a core problem in the http handling - my guess is it's the actions plugin though.

@rashmivkulkarni do you happen to know what it might have been doing at this point?  This could be from the web ui using the "test" functionality of the connector edit view.  Or it could be an explicit http request to

[2021-06-15 19:55] pmuellr commented on #102231
Ah, just realized this is coming from the tests, not a typical deployment.  Do we know what test?

[2021-06-15 19:55] jen-huang commented on #69571
@EricDavisX I think it's a good idea to run these e2e tests automatically but have them as non-blocking. So that a developer can open a PR, have it pass the main CI suite, and be able to merge it. The notification whether the e2e tests passed or not can happen after merging. I'm thinking this way because we often have much smaller PRs that won't affect what's covered by the e2e tests, so I don't w

[2021-06-15 19:55] elasticmachine commented on #102231
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-15 19:56] pmuellr commented on #102231
There's a Team:Core label on this issue right now, but really seems like an alerting issue, so will remove that label ...

[2021-06-15 19:59] ghudgins commented on #57241
+1 from a customer who'd like to have image upload support in dashboard. IT administrator was checking before spending the energy to host images somewhere in their infrastructure / network.

[2021-06-15 20:01] nchaulet commented on #101119
@jen-huang Do we plan to keep the migration that automatically unenroll saved objects agent for 7.14.0?

[2021-06-15 20:02] EricDavisX commented on #69571
Thanks.  I agree on leaving them non-blocking.  I like having them run automatically, as we'll want to know if we break something.  :)

[2021-06-15 20:02] pmuellr commented on #102266
It's entirely possible - and hope it's the case - that this is expected.  I believe we do have some tests where we "damage" some encrypted saved objects deliberately, to make sure we handle the case when that does happen, and in such cases, I'd expect we may see these in the logs.

If that's the case, is there some way we should "mark" these in the tests as "expected"?  I believe we do that someti

[2021-06-15 20:12] stacey-gammon opened #102269 "Ensure dashboard runs migrations for every embeddable, or drilldown migrations won't be called"
The Dashboard plugin uses `EmbeddableSetup.migrate` functionality to run migrations on the saved objects. This logic has a flaw in it that will result in any drilldown migrations not being run on by reference embeddable.

This isn't a problem for 7.14, but will be a problem as soon as a drilldown migration is registered.

[2021-06-15 20:12] elasticmachine commented on #102269
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-15 20:49] #77958 closed

[2021-06-15 20:56] stacey-gammon commented on #98108
Don't forget the example plugins! :)

[2021-06-15 20:57] tsullivan opened #102271 "[Reporting] Add more unit tests"
A quick glance at the listing of files under Reporting shows that the code needs more unit tests. The top files needing tests are:

[code]

[2021-06-15 20:57] tsullivan commented on #68724
Replacing with https://github.com/elastic/kibana/issues/102271

[2021-06-15 20:57] #68724 closed

[2021-06-15 20:58] elasticmachine commented on #102271
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-15 20:58] elasticmachine commented on #102271
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-15 21:12] tsullivan commented on #89658
Closing this as we have heard from users on the older versions that this file is using up a lot of disk space on the server.

[2021-06-15 21:12] #89658 closed

[2021-06-15 21:16] tsullivan commented on #100209
Closing this as we removed the option to create this file in 7.9.0. We considered adding it again, but I don't think that would be a good idea, given that using up disk space is an issue. https://github.com/elastic/kibana/issues/89658

[2021-06-15 21:16] #100209 closed

[2021-06-15 21:22] jen-huang commented on #101119
@nchaulet Good question, I would say the simple answer here is "yes" since users may upgrade between any versions, so it's possible that they "skip" 7.13 and go straight to 7.14 (or later). I assume keeping the migration code around makes it challenging to remove the agent saved object type?

[2021-06-15 21:28] rashmivkulkarni commented on #102266
This error was intentional in our tests - we made it to fail and caught the exception.
Test : x-pack/test/stack_functional_integration/apps/alerts/alerts_encryption_keys.js

Hence closed.

[code]

[2021-06-15 21:33] rashmivkulkarni opened #102272 "Error: Saved object [space/default] not found error seen in kibana logs when the migrations were going on."
Kibana 8.0 snapshot

When I grep for errors in the kibana logs, happened to come across this error
`
{"type":"log","@timestamp":"2021-06-15T20:41:24+00:00","tags":["error","http"],"pid":11651,"message":"Error: Saved object [space/default] not found\n    at Function.createGenericNotFoundError (/usr/share/kibana/src/core/server/saved_objects/service/lib/errors.js:125:37)\n    at SavedObjectsReposito

[2021-06-15 21:33] elasticmachine commented on #102272
Pinging @elastic/kibana-core (Team:Core)

[2021-06-15 21:41] spalger opened #102273 "Investigate migrating functional test services to synthetics powered testing solution"
We have spent a lot of time writing functional testing services and page objects, and if we can migrate them to work on a system like synthetics then we could continue to leverage those services with another solution which allows us to collect and correlate the APM data from relevant services for performance testing purposes. This issue is a reminder to try and get some of the base level PageObjec

[2021-06-15 21:41] elasticmachine commented on #102273
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-15 21:49] tsullivan commented on #38074
This hasn't been seen in awhile and I'm not able to reproduce it.
[code]

I am going to close it as stale.

[2021-06-15 21:49] #38074 closed

[2021-06-15 22:42] nchaulet commented on #101119
Yes we keeping the migration code will force us to keep the saved object mapping.

[2021-06-15 22:47] spalger opened #102279 "[discuss] Build on top of synthetics or use playwright directly?"
[`@elastic/synthetics`](https://github.com/elastic/synthetics) is a package which wraps [microsoft/playwright](https://github.com/microsoft/playwright) by allowing users to define `journey()`s which are made up of `step()`s, and run against an instance of headless Chrome. Beyond defining the test structure, the fundamental API is provided by playwright via the [`page`, `browser`, `client`, and `co

[2021-06-15 22:47] elasticmachine commented on #102279
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-15 22:56] spalger commented on #102279
# Journeys/Synthetics wrapper around playwright

Pros:
 - Runner is distinct from "test" runners, the nouns are pretty great IMO (journey/step vs describe/it)
 - APM data is automatically correlated once https://github.com/elastic/synthetics/issues/265 is complete
 - ES indexing is automatically handled once https://github.com/elastic/beats/pull/25972 is complete
 - Data follows the observability

[2021-06-15 23:10] Zacqary commented on #82273
@jsoriano As this change is already merged I think we should go with the migration approach once the `metric_type` parameter gets pushed. Let's keep tabs on that ES issue and implement the migration when it's ready.

[2021-06-15 23:11] spalger commented on #102279
# Consume playwright directly

Pros:
 - Well documented API
 - No runner provided, so we could build our own with the semantics we want for functional/performance testing
 - Starting Kibana/ES, services, runner, can all coexist in the same process
 - No need to download heartbeat or track versions there

Cons:
 - If we wanted to provide a report online somewhere about what happened we would need t

[2021-06-15 23:29] gtback commented on #89925
@timroes, yep, I think that would be fine. I haven't figured out exactly where we'll keep this JSON for archival purposes (and so teams that want to can directly submit edits to that data), but I think we're far from the point where, and will get a lot of value even before, this is a fully automated CI-driven process that's part of a release.

[2021-06-16 00:05] spong commented on #87992
Heya @ymao1, so all of the above sounds good to me from the Security Solution perspective, but let experiment a little bit tomorrow just to make sure there aren't any corner cases I'm missing. I think we should be good with Approach 2 as outlined for migrations as well.

For some context from the migration perspective, I'm thinking we can just add the associated SO references during the migration

[2021-06-16 01:02] kibanamachine opened #102282 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/modules/index·ts - apis Machine Learning modules "before all" hook in "modules""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14832/)

[2021-06-16 01:02] kibanamachine opened #102283 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/modules/index·ts - apis Machine Learning modules "after all" hook in "modules""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14832/)

[2021-06-16 01:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14832/)

[2021-06-16 01:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14832/)

[2021-06-16 01:42] pmuellr commented on #98634
Looked into accessing the task manager stats:

- there's a good example of gathering the tm stats in the health route: https://github.com/elastic/kibana/blob/master/x-pack/plugins/task_manager/server/routes/health.ts
- since that code is running all the time, we should make it's `lastMonitoredStats` available via an API provided in the task manager start API, and/or via task instances, so any code

[2021-06-16 01:51] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14692/)

[2021-06-16 02:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14833/)

[2021-06-16 02:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14833/)

[2021-06-16 02:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14833/)

[2021-06-16 02:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14833/)

[2021-06-16 02:50] pmuellr commented on #98634
I was looking at the task manager docs of a running system:

![image](https://user-images.githubusercontent.com/25117/122149820-b1b04680-ce2a-11eb-81ed-2c8aa10e3ce2.png)

Occurs to me - at least based on this - that it's not clear how we would do "average duration" for rules and connectors.  Given the raw fields, we could do this for rules via `_id` - but of course the `_id` of a rule's task will

[2021-06-16 03:04] kibanamachine opened #102287 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/canvas/reports·ts - Canvas app Canvas PDF Report Generation Print PDF button downloaded PDF base64 string is correct without borders and logo"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14834/)

[2021-06-16 03:04] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14834/)

[2021-06-16 03:04] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14834/)

[2021-06-16 03:16] kibanamachine opened #102288 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/add_to_dashboard·ts - lens app lens add-to-dashboards tests should allow existing lens be added by value to an existing dashboard"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14693/)

[2021-06-16 03:28] jasonrhodes commented on #102089
I clarified a little. Thanks for the ticket, we definitely need to incorporate these.

[2021-06-16 04:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14835/)

[2021-06-16 04:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14835/)

[2021-06-16 04:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14835/)

[2021-06-16 04:02] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14835/)

[2021-06-16 04:09] axw opened #102289 "[Fleet] add support for the `dynamic_template` field property"
**Describe the feature:**

We would like Fleet to be understand a new field property, "dynamic_template". This will be a boolean field which indicates the "field" represents a named dynamic template. Upon seeing `dynamic_template: true` when creating a mapping template, Fleet will create a named dynamic_template instead of a concrete field.

See also https://github.com/elastic/package-spec/issues/

[2021-06-16 04:09] elasticmachine commented on #102289
Pinging @elastic/fleet (Team:Fleet)

[2021-06-16 04:32] tylersmalley commented on #102282
[code]

[2021-06-16 04:33] elasticmachine commented on #102282
Pinging @elastic/ml-ui (:ml)

[2021-06-16 04:34] tylersmalley commented on #102282
Skipped

master: 752609dc477c1e82817c0093c255bd14745a24b6

[2021-06-16 05:02] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14836/)

[2021-06-16 05:03] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14836/)

[2021-06-16 05:03] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14836/)

[2021-06-16 05:03] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14836/)

[2021-06-16 05:49] simitt commented on #102289
@jen-huang can you take a look if this can be scheduled for `7.15` please.

[2021-06-16 06:04] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14837/)

[2021-06-16 06:04] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14837/)

[2021-06-16 06:04] kibanamachine commented on #102282
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14837/)

[2021-06-16 06:04] kibanamachine commented on #102283
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14837/)

[2021-06-16 07:10] pgayvallet commented on #100489
I'm not sure to understand then? What will be the behavior when sharing an object that references tags?

[2021-06-16 07:12] pgayvallet commented on #91615
@jportner Just for our roadmap / prioritization, do you know when you're planning to work on https://github.com/elastic/kibana/issues/101904?

[2021-06-16 07:15] GrahamHannington commented on #100778
7.13.2 does not fix this issue for me 😞.

[2021-06-16 07:27] stratoula commented on #100778
@GrahamHannington I assume that you are using `.kibana` as an es index, not as an index pattern, right?

[2021-06-16 07:31] stratoula opened #102294 "[TSVB] Measure the usage of the different TSVB charts"
**Describe the feature:**
With TSVB you can create various types of charts:
1. Timeseries
2. Metric
3. Gauge
4. TopN
5. Table
6. Markdown

While we have analytics about the number of TSVB visualizations created, we don't track the type. It would be extremely useful to also track the type of TSVB charts created.

We should not forget to also track the by panel created visualizations!

cc @AlonaNadl

[2021-06-16 07:32] elasticmachine commented on #102294
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 07:40] stratoula opened #102296 "[Timelion Viz] Add functional tests"
**Describe the feature:**
Right now, we have functional tests for timelion app (which uses the old flot implementation) but we don't have anything regarding the timelion viz.

We should add functional tests for the timelion viz and the es-charts implementation (the flot implementation will be removed in a future version).

Es-charts offers a debug state flag which can be used to fetch the charts d

[2021-06-16 07:40] elasticmachine commented on #102296
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 07:52] cyrille-leclerc commented on #100253
Thanks @sqren . CC @michaelhyatt & @mikktoki

[2021-06-16 08:16] dej611 commented on #98644
@chandlerprall the issue has been just addressed on the Lens/consumer side using the `EuiDataGridColumn['display']` prop

[2021-06-16 08:21] formgeist commented on #100759
Added some documentation on how to create dynamic URLs that can open a specific service name, environment and report type in the Exploratory view for the selected service - and also added that we need to add the same Analyze data links for RUM services going to the RUM reports available.

[2021-06-16 08:22] #94597 closed

[2021-06-16 08:24] #90921 closed

[2021-06-16 08:28] flash1293 commented on #102249
+1 for short-term (7.14) improving the error message and long term providing a way to work around it

[2021-06-16 08:28] hansh0801 commented on #100253
thanks @sqren !

[2021-06-16 08:44] samratbhadra-qasource opened #102308 "Date & Time is shown for the "Modified by" field instead of "User Name" under the Trusted Application."
**Describe the bug**
Date & Time is shown for the "Modified by" field instead of "User Name" under the Trusted Application.

**Build Details**

Version: 7.14.0-SNAPSHOT
Commit: 9838db392e7fcfc12f004b68fb1b09739f131148
Build number: 41559
Artifact: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Preconditions**
Elastic 7.14.0-SNAPSHOT environment should be deployed.

**Steps to Reprod

[2021-06-16 08:44] elasticmachine commented on #102308
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 08:45] samratbhadra-qasource commented on #102308
@manishgupta-qasource please review.

[2021-06-16 08:47] dasansol92 commented on #102206
PR: https://github.com/elastic/kibana/pull/102307

[2021-06-16 08:47] elasticmachine commented on #102308
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-16 09:10] formgeist opened #102311 "[Uptime] Bug: Page template background doesn't extend to the full height"
Kibana version: 7.15

# Summary

The page template component is supposed to be extending the background panel to the full height of the viewport, but in this case, it doesn't.

<img width="1942" alt="Screenshot 2021-06-16 at 10 55 43" src="https://user-images.githubusercontent.com/4104278/122189845-90cf0c00-ce91-11eb-9018-ddb57f23f8fe.png">

@cchaos offered this in the original issue:

[2021-06-16 09:10] elasticmachine commented on #102311
Pinging @elastic/uptime (Team:uptime)

[2021-06-16 09:17] mshustov commented on #92185
@simianhacker should be done in https://github.com/elastic/kibana/pull/92143 @pgayvallet any ETA for this?

[2021-06-16 09:20] dasansol92 commented on #102205
PR: https://github.com/elastic/kibana/pull/102312

[2021-06-16 09:20] formgeist commented on #102311
APM had a similar issue which was resolved by adding `class="kbnAppWrappers"` to all containing divs including `EuiPage`.

There's a constant available in EUI for this called `APP_WRAPPER_CLASS`.

`import { APP_WRAPPER_CLASS } from '../../../../../src/core/public';`

Here's some examples where it was implemented in APM

https://github.com/sqren/kibana/blob/36a758b0e880c9e792122b69e5f27d271630b393/

[2021-06-16 09:21] Bamieh commented on #98240
I've replaced the `timeout` logic to wait for the SO to get updated into ES with `retry` logic so i'm surprised this is failing again 🤔

[2021-06-16 09:27] peteharverson commented on #98605
This regression has been fixed for 7.14.0 by https://github.com/elastic/eui/pull/4768. Tested on Chrome, FF and Edge, and the filter list description and add item popovers now receive initial focus as expected. https://github.com/elastic/eui/pull/4768 was in eui v33.0.0.

[2021-06-16 09:27] #98605 closed

[2021-06-16 09:41] peteharverson opened #102315 "[ML] Convert ML Jobs and Transforms Management pages to the new layout"
Issue to cover the work on the Machine Learning Jobs and Transforms pages under Stack Management to convert them to the new management page layout. This work is part of #101336, and will cover the page panels, headers and error states.

- [x] Machine Learning Jobs #103117
- [x] Transforms #102648

[2021-06-16 09:41] elasticmachine commented on #102315
Pinging @elastic/ml-ui (:ml)

[2021-06-16 09:43] sophiec20 commented on #18328
Upon "clear - the highlighter icons that appear in the tab title and the main job list, should not be visible for this job.

Within the table in the Job Messages tab, the row should remain visible with its original icon. There is no need to make changes here.

Any subsequent warnings/errors that arrive after clearing, should become visible again as hightligther icons for this job.

With hindsight,

[2021-06-16 09:51] dasansol92 commented on #102044
@kevinlog For endpoint exceptions only `is` and `is one of` options are available. In rule exceptions are the same options as event filters. Adding a gif with the examples and an example of how save an event filter with an exists operator works in master:

![exceptio operator options](https://user-images.githubusercontent.com/15727784/122198064-1b673980-ce99-11eb-82b1-0cecc8f29d46.gif)

cc: @muska

[2021-06-16 10:20] weltenwort commented on #102089
The `-000001` suggests this is an ILM-controlled index. Do the shared component templates ensure that?

[2021-06-16 10:21] henningandersen commented on #101712
@anyasabo the desired nodes API should help here in that stack monitoring could then compare the desired nodes to the actual nodes. In fact, part of the [document](https://docs.google.com/document/d/1aTzcBtMGmxZOagY2MqtEcEL88pD8qNN-mTH_6t2kbA4/edit#heading=h.m43ugqhe26q1) describes a health check. I imagine including more health info into cluster health or a new API and it could there list missing

[2021-06-16 10:28] amolnater-qasource opened #102317 "Description not available under Integrations tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Observe no description is available for Integrations tab.

**Expected Result:**
Description

[2021-06-16 10:28] elasticmachine commented on #102317
Pinging @elastic/fleet (Team:Fleet)

[2021-06-16 10:28] amolnater-qasource commented on #102317
@manishgupta-qasource Please review.

[2021-06-16 10:31] #100936 closed

[2021-06-16 10:37] Dosant commented on #87304
I wonder if on top of a new URL service / URL locators we could progress on documenting Kibana URLs https://github.com/elastic/kibana/issues/4338?

Maybe we could auto-generate a doc page from all the locators' interfaces?
This was probably brought up before but didn't see this mentioned.

[2021-06-16 10:40] manishgupta-qasource commented on #102317
Reviewed & Assigned to @EricDavisX

[2021-06-16 10:55] manishgupta-qasource commented on #102308
Reviewed & assigned to @kevinlog

[2021-06-16 11:02] michaelhyatt commented on #100253
I am using AWS Distro for OTel with Java lamdas and pointing it at our APM server's OTel intake. In addition to 1 transaction and 1 span I am getting about 30 metrics documents (as per the attached file) that contain various JVM and GC metrics. Can be a great addition to populate the APM UI with.
[lambda+metrics.json.txt](https://github.com/elastic/kibana/files/6662483/lambda%2Bmetrics.json.txt)

[2021-06-16 11:09] karanbirsingh-qasource opened #102319 "[Security Solution]Blank Page on manually navigating to Case url with user having read case privilege"
**Describe the bug**
Blank Page on manually navigating to Case Create URL with user having read case privilege

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Create a new user and assign below role to it.
3. Create a Role with **All application to All and Case to Read** .

![image](https://user-images.githubuse

[2021-06-16 11:09] elasticmachine commented on #102319
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 11:09] karanbirsingh-qasource opened #102320 "[Security Solution]Empty Timeline result for **process.args** field with value `C:\WINDOWS\system32\notepad.exe`"
**Describe the bug**
Empty Timeline result for **process.args** field with value `C:\WINDOWS\system32\notepad.exe`

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Notepad process should be runing on the machine.

**Steps to Reproduce**
1.Go to Case Tab.
2.Create Timeline.
3.Enter `process.name : "notepad.exe"` i

[2021-06-16 11:09] elasticmachine commented on #102320
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 11:09] karanbirsingh-qasource opened #102321 "[Security Solution]Case list disappears under recent case section for user having read case privilege"
**Describe the bug**
Case list disappears under recent case section for user having read case privilege

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Create a new user and assign below role to it.
3. Case should be exist on above kibana environment. (create with help of superuser)
4. Create a Role with **All a

[2021-06-16 11:09] elasticmachine commented on #102321
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 11:11] dikshachauhan-qasource opened #102408 "[Fleet] Integration's Settings page displayed Blank when integration with lower package version is uninstalled."
**Kibana version:** 7.14.0 Snapshot Kibana staging environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14.0 Snapshot Kibana staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Integrations tab.
3. Using Below API change the integration package version.
curl -X POST -u el

[2021-06-16 11:13] elasticmachine commented on #102321
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-16 11:15] elasticmachine commented on #102319
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-16 11:16] manishgupta-qasource commented on #102321
Reviewed the bug

[2021-06-16 11:17] manishgupta-qasource commented on #102320
Reviewed & Assigned to @MadameSheema

[2021-06-16 11:17] elasticmachine commented on #102320
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-16 11:17] manishgupta-qasource commented on #102319
Reviewed the bug

[2021-06-16 11:18] Bamieh commented on #102230
duplicate of https://github.com/elastic/kibana/issues/102260

[2021-06-16 11:24] pgayvallet opened #102322 "Add missing csp directives configuration"
Follow-up of https://github.com/elastic/kibana/issues/94414

In https://github.com/elastic/kibana/pull/102059, we introduced `csp.script_src`, `csp.worker_src` and `csp.style_src`, as a replacement for `csp.rules`.

However, to totally get rid of `csp.rules`, we need to also add the other `csp` directive, to allow customers to configure them if required.

We don't necessarily need to support all d

[2021-06-16 11:24] elasticmachine commented on #102322
Pinging @elastic/kibana-core (Team:Core)

[2021-06-16 11:25] dikshachauhan-qasource commented on #92612
Hi @EricDavisX

Whenever merges for are above will be available. We will start testing accordingly.

@Zacqary It could be better if you could share some mock UI design with us whenever feature is ready.

Thanks
QAS

[2021-06-16 11:30] kevinlog commented on #102308
@academo can you take a look?

[2021-06-16 11:34] ruflin commented on #82273
++ on moving forward with the metric_type as we already have it in packages and it took some time to get it in. My assumption is that we will be able to have an overlap of the two approaches for some time.

[2021-06-16 11:38] stratoula opened #102323 "[TSVB] Document better the new index pattern mode"
**Describe the feature:**

We want to create a new section on the TSVB docs to describe the new index pattern mode, introduced on 7.13.0.
The new mode is really awesome as it unlocks many great features such as:
- runtime fields
- better performance
- Url drilldowns
- Filter by click
- More features to come

The problem is that we can't migrate the old TSVB visualizations to use the new mode. As a

[2021-06-16 11:38] elasticmachine commented on #102323
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 11:44] formgeist opened #102324 "[UX] Bug: URL filter search input focus removed upon popover display"
Kibana version: master

# Summary

Clicking on the field, the focus is removed when the popover opens, so the user has to click inside the field again to do a text search. Furthermore, whenever typing the suggested list of URLs is removed and re-rendered which makes the experience of typing a little noisy.

![image](https://user-images.githubusercontent.com/4104278/122213174-f7abef80-cea8-11eb-800

[2021-06-16 11:44] elasticmachine commented on #102324
Pinging @elastic/uptime (Team:uptime)

[2021-06-16 11:47] stratoula opened #102325 "[TSVB] Option to change the series color on percentiles"
**Describe the feature:**
Right now when the user has set a percentiles or percentiles rank aggregation, the series created have the same color. This makes the chart unreadable

![image](https://user-images.githubusercontent.com/17003240/122213342-87ee3280-ceb1-11eb-91f4-ad3732a9bb05.png)

I suggest to give the user the ability to select different color per series. We can add next to each percent

[2021-06-16 11:47] elasticmachine commented on #102325
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 11:48] karanbirsingh-qasource opened #102326 "[Security Solution]Duplicate warning pop-up are shown on attaching existing case to timeline when user have none access privilege to case."
**Describe the bug**
Duplicate warning pop-up are shown on attaching existing case to timeline when user have none access privilege to case.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Create a new user and assign below role to it.
3. Create a Role with **All application to All and Case to None** .
4. Case s

[2021-06-16 11:48] elasticmachine commented on #102326
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 11:49] ferryversteeg commented on #89481
+1
We are interested in this feature too!

[2021-06-16 11:51] manishgupta-qasource commented on #102326
Reviewed & Assigned to @MadameSheema

[2021-06-16 11:52] stratoula opened #102327 "[TSVB] Change the percentiles legend"
**Describe the feature:**
Right now, when the user creates a TSVB chart with percentiles, the legend is not readable.

![image](https://user-images.githubusercontent.com/17003240/122214027-4b6f0680-ceb2-11eb-83bb-3ebe1706a5a0.png)
![image](https://user-images.githubusercontent.com/17003240/122214185-79544b00-ceb2-11eb-855b-1af9128bcf8f.png)

It would be more readable if the percent appeared first

[2021-06-16 11:52] elasticmachine commented on #102327
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 12:02] marius-dr opened #102328 "TSVB metrics that have legend (percentiles and percentile ranks) don't resize the text size properly"
**Kibana version:** 7.13.2

**Describe the bug:**
When trying to resize a TSVB metric that contains a legend on the 3rd row (like Percentile and Percentile ranks) they don't scale down as well as any other TSVB metric panels, keeping the font size too big and adding scroll bars.

**Steps to reproduce:**
1. Create a TSVB percentiles metric.
2. Add it to a dashboard.
3. Resize it to make it smaller.

[2021-06-16 12:02] elasticmachine commented on #102328
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-16 12:02] elasticmachine commented on #102328
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 12:10] GrahamHannington opened #102329 ""No results found" in TSVB Markdown panels that use .kibana index pattern with no time field"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Linux Ubuntu 20.04

**Browser version:** Google Chrome Version 91.0.4472.77 (Official Build) (64-bit)

**Browser OS version:** Microsoft Windows 10 Enterprise, Version 1909 (OS Build 18363.1556)

**Original install method:** Docker image ([sebp/elk](https://hub.docker.com/r/sebp/elk))

**Describe the bug:** In 7.

[2021-06-16 12:10] karanbirsingh-qasource opened #102330 "[Security Solution]"View Documentation" button navigation to more helpfull documentation page that is "Kibana role management" page instead Elastic Security Solution"
**Describe the bug**
"View Documentation" button navigation to more helpful documentation page that is "[Kibana role management](https://www.elastic.co/guide/en/kibana/current/kibana-role-management.html)" page instead of current [Elastic Security Solution](https://www.elastic.co/guide/en/security/7.x/index.html)

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preco

[2021-06-16 12:10] elasticmachine commented on #102330
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 12:13] ghudgins commented on #102327
tangentially related elastic-charts issue https://github.com/elastic/elastic-charts/issues/580

[2021-06-16 12:15] GrahamHannington commented on #100778
@stratoula wrote:

I have defined `.kibana` as an _index pattern_. For details, including a screenshot that shows `.kibana` being used as an index pattern, see issue #102329.

[2021-06-16 12:16] deepikakeshav-qasource opened #102331 "[Security Solution] Case 1 is displayed instead of Case name when add the "host isolation" under the cases tab."
**Description**
Case 1 is displayed instead of Case name when add the "host isolation" under the cases tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to detection tab of security.
2. Attach the alert to case.
3. Navigate to the case tab under security.
2. Click on c

[2021-06-16 12:16] elasticmachine commented on #102331
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 12:16] kibanamachine opened #102332 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/add_to_dashboard·ts - lens app lens add-to-dashboards tests should allow existing lens be added by reference to an existing dashboard"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14702/)

[2021-06-16 12:17] deepikakeshav-qasource commented on #102331
@manishgupta-qasource Please review.

[2021-06-16 12:17] deepikakeshav-qasource opened #102333 "[Security Solution] Wrong link for agent id is configured in the comment section of case when click on Case1 under the isolate host."
**Description**
Wrong link for agent id is configured in the comment section of case when click on Case1 under the isolate host.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to detection tab of security.
2. Attach the alert to case.
3. Navigate to the case tab under se

[2021-06-16 12:17] elasticmachine commented on #102333
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 12:17] deepikakeshav-qasource commented on #102333
@manishgupta-qasource Please review

[2021-06-16 12:17] manishgupta-qasource commented on #102330
Reviewed & Assigned to @MadameSheema

[2021-06-16 12:18] stratoula commented on #102329
@GrahamHannington if you go to the panel options, which is the status of this setting (`Use only kibana indexes`)?

![image](https://user-images.githubusercontent.com/17003240/122217403-0d73e180-ceb6-11eb-80cd-ccec8bde2113.png)

If it is off, can you enable it and tell me if you see the `.kibana` on the dropdown?

[2021-06-16 12:19] manishgupta-qasource commented on #102331
Reviewed & Assigned to @kevinlog

[2021-06-16 12:19] mshustov commented on #102230
@Bamieh can it be closed?

[2021-06-16 12:19] elasticmachine commented on #102333
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-16 12:19] manishgupta-qasource commented on #102333
Reviewed & Assigned to @kevinlog

[2021-06-16 12:21] elasticmachine commented on #102330
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-16 12:22] elasticmachine commented on #102326
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-16 12:23] MadameSheema commented on #102326
Thanks @karanbirsingh-qasource , I think this is the expected behaviour since we are getting an error per each one of the calls performed.

@cnasikas @jonathan-buttner can you please confirm?

[2021-06-16 12:24] muskangulati-qasource opened #102334 "[Security Solution] The endpoint page does not show the link for "Endpoints are enrolling""
**Describe the feature**
The endpoint page does not show the link for "Endpoints are enrolling"

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Wait for the endpoint to enroll

**Test data**
N/A

**Impacted Test case(s)**
N/A

**Actual Result**
The endpoint page does not

[2021-06-16 12:24] elasticmachine commented on #102334
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 12:24] elasticmachine commented on #102334
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-16 12:24] muskangulati-qasource opened #102335 "[Security Solution] Error pop-ups come up while we open a flyout for Hostname or Policy status under the Endpoints Tab for Admin tab"
**Describe the feature**
Error pop-ups come up while we open a flyout for Hostname or Policy status under the Endpoints Tab for Admin tab

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Click on the Hostname
3. Observe error pops start showing up

**Test data**
N/A

**Imp

[2021-06-16 12:24] elasticmachine commented on #102335
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 12:24] elasticmachine commented on #102335
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-16 12:28] mikecote commented on #87992
I'm +1 on Approach 2. To mitigate the cons of this approach, we could make our documentation clear not to forget about migration in such use cases.

[2021-06-16 12:30] manishgupta-qasource commented on #102334
Reviewed & Assigned to @kevinlog

[2021-06-16 12:30] manishgupta-qasource commented on #102335
Reviewed & Assigned to @kevinlog

[2021-06-16 12:30] AlonaNadler commented on #102294
Thanks fantastic initiative thanks :)
I don't know if it's possible but I think it will be helpful to collect initial saved chart type

[2021-06-16 12:35] GrahamHannington commented on #102329
In my Kibana 7.13.2 instance, that "Use only Kibana index patterns" setting is off. (I'm sure you know this, but just so you know I know this 🙂: in Kibana 7.11.2, where I am successfully using `.kibana` as an index pattern in this context, there is no such setting on the **Index pattern** dropdown.)

When I enable it, I see `.kibana` in the dropdown:

![image](https://user-images.githubusercontent

[2021-06-16 12:38] #89037 closed

[2021-06-16 12:38] #101468 closed

[2021-06-16 12:39] formgeist commented on #100881
The header menu links update in Observability has been merged https://github.com/elastic/kibana/pull/101472

[2021-06-16 12:39] pgayvallet opened #102336 "[SO mig v2] log the root stack trace in case of document transform failures"
ATM, when a (or more since https://github.com/elastic/kibana/pull/96986) document migration/transform fails, we're failing the migration and logging the failure's message and stack.

However, we're currently only logging the stack of the top-level `TransformSavedObjectDocumentError` created when a lower layer throws.

This effectively makes this whole logging kinda useless for support or debugging

[2021-06-16 12:39] elasticmachine commented on #102336
Pinging @elastic/kibana-core (Team:Core)

[2021-06-16 12:41] stratoula commented on #102329
Interesting case indeed! I have never tried that :D

Just FYI (to explain the change that you see with the dropdown), on 7.13.0 we introduced the dual mode on TSVB https://github.com/elastic/kibana/issues/91367

This enables TSVB to work both for indexes and index patterns. Note here that it is recommended to work with index patterns. Working with index patterns unlocks many cool features such as

[2021-06-16 12:48] blakerouse commented on #100617
I have created a pull request to elasticsearch to add the required fields to the indexes. https://github.com/elastic/elasticsearch/pull/74180

I went with `ephemeral` boolean on the `.fleet-agents` and `ephemeral_ttl` integer (in seconds) on the `.fleet-policies`.

[2021-06-16 12:50] sebelga opened #102338 "[Form lib] Error when validating the form with non blocking validations"
## Non blocking validation

The form lib allows consumer to declared "non blocking" validations by setting `isBlocking: false` to a validator.

Let's imagine we have a field with an array of "Tags". In this case, we allow an empty array (no tags needs to be provided) but we want to have a validation when adding a tag to the array (for example: the tag cannot contain the `$` character otherwise we

[2021-06-16 12:50] elasticmachine commented on #102338
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-16 12:52] stratoula commented on #102329
Yes I have tested it, it should work for markdown. @GrahamHannington thanx for reporting this, we will try to fix t for 7.13.3

@alexwizp it seems that we missed markdown.

[2021-06-16 12:54] elasticmachine commented on #102329
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 13:05] formgeist opened #102339 "[Logs UI] Design: Add Machine Learning configuration into Settings"
Originally created by @jasonrhodes in https://github.com/elastic/kibana/issues/88082

# Summary

In APM, when that link is clicked, the user is taken to the settings section to manage their Machine Learning integration settings:

<img width="1336" alt="Screen Shot 2021-01-12 at 2 04 28 PM" src="https://user-images.githubusercontent.com/159370/104360472-1b749f00-54df-11eb-9c3f-452ef1754521.png">

I

[2021-06-16 13:05] elasticmachine commented on #102339
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-16 13:06] formgeist commented on #102164
@weltenwort I've created https://github.com/elastic/kibana/issues/102339 to continue the discussion about moving the configuration to Settings instead of inside the flyout like it is in APM. In general, I think we're talking about consolidating all Anomaly detection in Observability in one place so it's easier for the user to manage the jobs related to each app. This issue should merely be about a

[2021-06-16 13:08] cristina-eleonora commented on #101866
Thanks @osmanis. How would that work if a user has multiple deployments and has configured a home page for one of them, but not the rest?

@alexfrancoeur, @legrego @ryankeairns - do we have an estimated date for the deployment switcher?

[2021-06-16 13:09] trympet opened #102340 "Version field type is unsupported"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Ubuntu 20.04.2 LTS

**Browser version:** Google Chrome 91.0.4472.101

**Original install method (e.g. download page, yum, from source, etc.):** apt

**Describe the bug:**
The `version` field type is unsupported in Kibana, despite being supported in the main branch of Elasticsearch for some time. See [this issue](

[2021-06-16 13:11] trympet commented on #102340
dupe #93248

[2021-06-16 13:11] #102340 closed

[2021-06-16 13:13] formgeist commented on #102167
@weltenwort Yes, that's it - it seems a little overkill for the current case where there's only a single rule type for Logs, but it will follow the other app consistently. I've added your wording to the description to clarify.

[2021-06-16 13:15] formgeist commented on #102167
IMO this might be something we hold off doing until there are additional rule types added to the Logs UI.

[2021-06-16 13:16] ghudgins commented on #41418
+1 from cloud observability teams

[2021-06-16 13:16] #98949 closed

[2021-06-16 13:18] elasticmachine commented on #102331
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-16 13:20] ghudgins commented on #102294
++ This would be very valuable!

[2021-06-16 13:21] kevinlog commented on #102335
@ashokaditya fyi - I know this feature is still in flight, but this looks related to Activity log.  Feel free to just close this when the feature is done if this will be fixed.

[2021-06-16 13:21] Dosant opened #102343 "[FieldFormatters] Context-aware field formatters"
**Describe the feature:**

Field formatters are not context-aware. There are multiple existing cases where we need to change formatting depending on the context. For example, formatting labels on the axis of time-series charts.

In the scope of this need to propose/implement a way for formatters to support context in general. Then date and bytes formatters are the first candidates to support conte

[2021-06-16 13:21] elasticmachine commented on #102343
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-16 13:26] elasticmachine commented on #102283
Pinging @elastic/ml-ui (:ml)

[2021-06-16 13:30] tylersmalley commented on #102283
Skipped

master: 3236f3fafa83447c99271a4260dd996b2424d128

[2021-06-16 14:00] #101999 closed

[2021-06-16 14:00] #102003 closed

[2021-06-16 14:00] jonathan-buttner commented on #102326
This is expected behavior, and as soon as this PR is merged: https://github.com/elastic/kibana/pull/101325

Readonly users will not see a button to attach cases from timeline. @manishgupta-qasource once my PR is merged can you confirm that this issue is resolved?

[2021-06-16 14:01] jonathan-buttner commented on #102319
The expected behavior is that the user will be automatically navigated back to the cases list page. This should be fixed in my PR here: https://github.com/elastic/kibana/pull/101325

[2021-06-16 14:04] jonathan-buttner commented on #102326
Oops I mean @karanbirsingh-qasource could you confirm that it's resolved after my PR is merged.

[2021-06-16 14:10] GrahamHannington commented on #102329
@stratoula asked:

Unfortunately not (in my 7.13.2 instance).

[2021-06-16 14:12] pmuellr commented on #100451
I would think you would want to update the alert doc whenever the alerting rule runs, to note the last date of when the rule ran, and it's current "status".

I'm not sure if the second question is "can we do an update, or do we need to overwrite the doc".  We actually do a mix of both for alerts.  "Updates" are problematic in that they are "partial" updates, so that it's impossible to "delete" a f

[2021-06-16 14:15] GrahamHannington commented on #102329
I would be happy if 7.13.3 "unbroke" my existing TSVB Markdown panels that use the `.kibana` index pattern for this purpose; happier still if, in the near future, Kibana rendered this "workaround" obsolete. (Frankly, to me, although I'm happy it worked, I consider it to be an ugly kludge.)

[2021-06-16 14:17] pmuellr commented on #100451
Should also take into account OCC.  For alerting rules, there is both back-end code that updates rules (update the rule status after the executor runs) as well as user-based update (user updates an alert parameter).  Which gets messy, since either of these can happen at any time.  I suspect we'll have potential user-based updates here as well - for example, ack'ing an alert.

I believe the differe

[2021-06-16 14:19] stratoula commented on #102329
Interesting, I just created the .kibana index pattern with `updated_at` as a timefield and my markdown works 🤔

[2021-06-16 14:20] Dosant commented on #102043
Probably related: https://github.com/elastic/kibana/issues/83858

[2021-06-16 14:20] elasticmachine commented on #102332
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 14:21] elasticmachine commented on #102288
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 14:23] Dosant opened #102351 "[FieldFormatters] React field formatters"
Parent: https://github.com/elastic/kibana/issues/65993

Currently, field formatters expose sync API:

[code]
We should investigate the feasibility of implementing and integrating:
- Async or stream API.
- Maybe a field formatter react-renderer wrapper component

We need this to:

* Reduce data plugin bundle size - https://github.com/elastic/kibana/issues/84788#issuecomment-831817294
* Dynamic rela

[2021-06-16 14:23] elasticmachine commented on #102351
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-16 14:23] stratoula commented on #102216
@mbondyra I also created this yesterday https://github.com/elastic/kibana/issues/102230. I will close it in favour of the other as a duplicate!

[2021-06-16 14:23] #102216 closed

[2021-06-16 14:25] ymao1 opened #102353 "Add explicit error type for SavedObjectsRepository for 404 errors that do not originate from Elasticsearch"
In `src/core/server/saved_objects/service/lib/repository.ts`, requests using the ES client use the `ignore: [404]` option, which wraps 404 errors in a success response and provides extra handling of these errors.

Example
https://github.com/elastic/kibana/blob/036c157f10081a39ba0a260f191c37794ed90a2a/src/core/server/saved_objects/service/lib/repository.ts#L1031-L1040

There may be cases where a 40

[2021-06-16 14:25] elasticmachine commented on #102353
Pinging @elastic/kibana-core (Team:Core)

[2021-06-16 14:26] tylersmalley commented on #95857
Canvas is now over half a megabyte. Any chance to get this work on the roadmap to reduce the initial page load of Canvas. This is loaded on ALL requests to Kibana and affects the overload page-load of the application.

[2021-06-16 14:26] #101785 closed

[2021-06-16 14:28] mikecote commented on #102353
cc @elastic/kibana-alerting-services as we've had some support issues related to saved objects not found which may relate to this.

[2021-06-16 14:29] formgeist commented on #102255
For whatever reason this is no longer an issue

<img width="1702" alt="Screenshot 2021-06-16 at 16 29 14" src="https://user-images.githubusercontent.com/4104278/122237975-0baf1b80-cec0-11eb-862f-eb1c0693f45a.png">

[2021-06-16 14:29] #102255 closed

[2021-06-16 14:37] jbudz commented on #11095
This is mostly done - closing this out.

[2021-06-16 14:37] #11095 closed

[2021-06-16 14:44] Dosant opened #102357 "[Field Formatters] Field Formatters 👉 Formatters"
Field formatters are used independently from index pattern fields.

We should look into re-branding them and promoting them separately from index pattern fields.

This would include:
* Rename
* Polishing API
* Example plugins
* Docs

[2021-06-16 14:49] chrisronline opened #102358 "[Alerting] [o11y] Improve event log data to include when the action execution starts"
Relates to https://github.com/elastic/kibana/issues/101507
Relates to https://github.com/elastic/kibana/issues/98902#issuecomment-855003936

We do not currently write to the event log when an action starts execution (only when the action finishes execution) so it's not possible for us to stitch together the timeline of action execution to understand if one is starting and not finishing or somethin

[2021-06-16 14:49] elasticmachine commented on #102358
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-16 14:57] mikecote commented on #102353
To add visibility into the impact of this problem: The task manager creates a space agnostic task for every space aware alerting rule. When the task runs and sees the alerting rule SO not found error, the task deletes itself.

We do this because in scenarios a user deletes a space with rules, the rules will automatically get deleted via the spaces plugin. Unfortunately, the tasks are space agnosti

[2021-06-16 15:02] elasticmachine commented on #16983
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-16 15:03] nugroho-expereo commented on #90414
We have similar requirement to have a different Elasticsearch URL for some policies (in our case to use Private link when available). It would be nice if we can override Elasticsearch URL at policy level.

Discussion link: https://discuss.elastic.co/t/fleet-override-elasticsearch-url-at-policy-level/275982

[2021-06-16 15:04] stephmilovic commented on #102321
This will be fixed by https://github.com/elastic/kibana/pull/101325

[2021-06-16 15:06] jportner commented on #54537
We originally intended to throw an error starting in 8.0, but in the interests of making upgrades easier, we are opting not to make that change.
The existing warning doesn't mention that this will be removed in 8.0, so we can safely close this issue.

[2021-06-16 15:06] #54537 closed

[2021-06-16 15:06] elasticmachine commented on #16821
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-16 15:07] MadameSheema commented on #102330
Closing the issue because it is the expected behaviour for now. In a newer version you are not going to see the cases tab when you don't have permission. Thanks for reporting it :)

[2021-06-16 15:07] #102330 closed

[2021-06-16 15:09] cnasikas opened #102361 "[Security Solution] Cannot navigate with keyboard when creating a case in detections"
Attaching an alert to a case opens a flyout where you can fill the title and the description of the case. If you try to navigate through the text inside the description with the keyboard you will be navigated through the alert's table instead of the text.

![bug](https://user-images.githubusercontent.com/7871006/122243658-f7bde680-cecc-11eb-962e-f2263bef722d.gif)

[2021-06-16 15:09] elasticmachine commented on #102361
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 15:09] elasticmachine commented on #102361
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-16 15:09] GrahamHannington commented on #102329
@stratoula wrote:

Back in 7.11.2, when I originally created the `.kibana` index pattern, I didn't "select a primary time field for use with the global time filter", because I wasn't interested in using time-based data in that index pattern. And then, later, when I used that index pattern for a TSVB Markdown panel, I *definitely* didn't want it to be sensitive to the global time filter; I didn't w

[2021-06-16 15:09] Dosant opened #102362 "[Field Formatters] URL field formatter revamp"
URL field formatter has more enhancement requests than all other formatters combined. This meta issue groups them as this likely better to be looked at a higher level:

Possible shorter term:

* Better Kibana links integration https://github.com/elastic/kibana/issues/53763 **(can we integrate with drilldowns?)**
  * Base path / spaces issues https://github.com/elastic/kibana/issues/99171
  * Don't

[2021-06-16 15:09] elasticmachine commented on #102362
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-16 15:13] MadameSheema commented on #102320
@karanbirsingh-qasource can you please try to reproduce this on 7.13.2? Do you happen to share in private the instance details to connect to it?

[2021-06-16 15:17] jen-huang commented on #102317
@kpollich Looks like this might have been dropped during the shuffle?

[2021-06-16 15:18] kibanamachine opened #102366 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard_mode/dashboard_empty_screen·js - dashboard mode empty dashboard redirects via save as button after edit, renaming itself"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14846/)

[2021-06-16 15:19] kpollich commented on #102317
I'll add this to the integrations UI issue and take a look.

[2021-06-16 15:21] MadameSheema commented on #101873
@monina-n can you please take a look at this? the team does not know if we need a tooltip or not. Detections page, looks like it has one on the title.

[2021-06-16 15:27] kpollich commented on #102317
@hbharding - It looks like this description is omitted in the designs. Can you confirm whether the Integrations subtitle "Browse Integrations for apps and services" should no longer appear in the new, separate integrations UI?

https://www.figma.com/proto/G3jnu6rub6x8YExOfTWoO9/Integrations-UI-%2B-Fleet?node-id=802%3A23&scaling=min-zoom

[2021-06-16 15:28] MadameSheema commented on #100701
@monina-n can you please take a look to this? We think it needs design. Thanks :)

[2021-06-16 15:29] jportner commented on #97348
Changing the default headers is potentially too disruptive for users, and we don't have a great way to display useful errors / help users fix these problems in failure scenarios.

A better alternative would be to display a prominent warning in a Security Checkup screen and tell them to set these headers.

[2021-06-16 15:31] jen-huang commented on #92612
@dikshachauhan-qasource Thanks for the diligence! For 7.14 we are doing purely concept exploration and no work will be merged, so this is not something to test for 7.14.

[2021-06-16 15:37] alexwizp commented on #102329
@GrahamHannington let me clarify, you are using `TSVB Markdown` to display some static styled text , right? I want to make it clear that all visualizations in TSVB are based on `date_histogram` / `auto_date_histogram` aggregation. This means that the value for the field must be filled in.

I checked how the TSVB behaves in version `7.12.1` and yes instead of `No Data` user see some empty values. I

[2021-06-16 15:39] jen-huang commented on #86171
@jloleysens I found this old issue that would be closed by your PR #102227 :) The AC here talks about the subpages too, but now that Integrations is separated out, I'm comfortable with just Integrations + Fleet present in the search results.

[2021-06-16 15:42] melnikaite opened #102369 "Discover shows less logs than loaded"
**Kibana version:**
7.11.1

**Elasticsearch version:**
7.11.1

**Server OS version:**
Ubuntu 20.04

**Browser version:**
Chrome 91

**Browser OS version:**
macOS Catalina

**Original install method (e.g. download page, yum, from source, etc.):**
docker

**Describe the bug:**
Shows only 60 log items for last minute

**Steps to reproduce:**
1. Open Discover tool
2. Scroll down

**Expected behavior:*

[2021-06-16 15:44] GrahamHannington commented on #102329
I wrote:

The dashboard didn't allow me to edit the viz with that error, but I could edit it independently of the dashboard, via the saved objects list.

Tired and. hence, a little reckless, I used the Kibana UI to "inspect" the underlying JSON definition of the TSVB Markdown viz, and replaced the original index pattern ID with the new ID.

That worked: when I returned to a dashboard containing th

[2021-06-16 15:45] GrahamHannington commented on #102329
Yes.

[2021-06-16 15:49] tylersmalley commented on #101538
I will see if I can take care of this.

[2021-06-16 15:49] academo commented on #102308
@samratbhadra-qasource

I did a test with a fresh elastic search instance on the exact same commit reported in the branch 7.x and I could not reproduce this bug.

Attached a video of my test

![Peek 2021-06-16 17-48](https://user-images.githubusercontent.com/227916/122251894-3652a180-cecb-11eb-97b5-2804626d6106.gif)

[2021-06-16 15:50] tylersmalley commented on #101538
I have removed this Wiki from the Kibana Github project.

[2021-06-16 15:52] academo commented on #102308
@samratbhadra-qasource

even though I could not reproduce the issue, after checking further in the code I can see a case where this error can happen. I will be pushing a fix soon.

[2021-06-16 15:52] alexwizp commented on #102329
ok ... i think you can create a  static `Runtime Field`. But I want to remind that this is not the correct use of `TSVB` and `Runtime Fields`.
1) Open Stack Management -> Index patterns -> .kibana
2) Press `Add Field`
3) Create a static `Date` field without value
![image](https://user-images.githubusercontent.com/20072247/122252175-d280a680-ced3-11eb-9434-55ea232670f7.png)

4) Update your TSVB vis

[2021-06-16 15:53] ThomThomson commented on #102133
The proposal is to deprecate the feature as soon as possible, with at least a warning that snapshot URLs aren't meant for long term storage. Then the feature could be removed in the 8.X timeframe.

Right now, I am picturing the deprecation to be a new unified UI in the permalinks & embed code share sections, where the user chooses which pieces of state to add into the sharable URL. If they were in

[2021-06-16 15:54] mikecote commented on #98732
We should research some leverage points.

[2021-06-16 15:56] elasticmachine commented on #102366
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-16 15:58] #101538 closed

[2021-06-16 15:59] spalger commented on #102366
5 failures all at once across PRs and a master build, curious but seems like it could be a weird timing thing so I'm going to hold off on skipping until we get another failure
![image](https://user-images.githubusercontent.com/1329312/122253566-21e9b700-ce81-11eb-8ae3-ab324f2053a5.png)

[2021-06-16 15:59] kibanamachine commented on #100296
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14707/)

[2021-06-16 16:04] AlexanderWert commented on #97934
@mshustov we reprioritized https://github.com/elastic/apm-agent-nodejs/issues/2101 and will address this next (after current in progress stuff on Node.js Agent), so you can hopefully move forward with that very soon.

[2021-06-16 16:04] jportner commented on #91615
I plan to work on it as soon as my current PR is ready for review. Will probably be tomorrow!

[2021-06-16 16:07] jbudz commented on #42699
We can close this out - hasn't been an issue since we've merged this into webpack.

[2021-06-16 16:07] #42699 closed

[2021-06-16 16:07] #100106 closed

[2021-06-16 16:09] elasticmachine commented on #101521
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-16 16:09] elasticmachine commented on #98456
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-16 16:10] jen-huang commented on #92612
@Zacqary The move to packages exporting granular integrations is the biggest "breaking change" scenario that we have encountered (well, technically we haven't encountered it yet as those package changes aren't released, but they will be soon!). For instructions on how to get these changes, see the testing steps in this PR: https://github.com/elastic/kibana/pull/101531

Curious to see what happens

[2021-06-16 16:11] austinsonger opened #102376 ""IP Reputation Links" Should Also Appear on the Threat Intel Tab of an Alert"
**Describe the feature:**

Advanced Settings "IP Reputation Links" Should Also Appear on the Threat Intel Tab of an Alert, there should be a Source and Destination IP Block on the Tab.

**Describe a specific use case for the feature:**

![](https://i.imgur.com/m5EZ0KT.png)

![](https://i.imgur.com/1bFkbd3.png)

### Source IP Block
![](https://i.imgur.com/7ee92gt.png)

### Destination IP Block
![](

[2021-06-16 16:13] jbudz commented on #42905
I'm going to close this out as stale - approaching 2 years on this.  We've had a few node upgrades in the interim and haven't had recent reports.  Lets reopen if there's further issues.

[2021-06-16 16:13] #42905 closed

[2021-06-16 16:16] jen-huang commented on #102289
@simitt Ack'ed. This doesn't look like a big change so we should be able to do it.

[2021-06-16 16:17] nchaulet commented on #102022
@simitt multi variables need to be manually handled in the handlebar template I created a PR for the apm package to try to fix this (https://github.com/elastic/apm-server/pull/5469)

[2021-06-16 16:19] jen-huang commented on #72959
@jfsiii Assigning to you as it sounds like you have already made some progress here.

[2021-06-16 16:20] jen-huang commented on #102023
This looks like the same issue as #102022, closing.

[2021-06-16 16:20] #102023 closed

[2021-06-16 16:26] jbudz commented on #26381
This doesn't appear to be an issue anymore.  Closing this out.

[2021-06-16 16:26] #26381 closed

[2021-06-16 16:28] jbudz commented on #23540
No activity here - order of operations is fairly standard so I'm okay with closing this.

[2021-06-16 16:28] #23540 closed

[2021-06-16 16:30] jbudz commented on #22859
Closing this out as stale - lets reopen if there's further issues.

[2021-06-16 16:30] #22859 closed

[2021-06-16 16:31] jbudz commented on #31809
Closing this out as stale.