[2021-11-03 17:55] poffdeluxe commented on #87710
No failures on recent builds.

[2021-11-03 17:55] #87710 closed

[2021-11-03 17:56] poffdeluxe commented on #87712
No failures on recent builds.

[2021-11-03 17:56] #87712 closed

[2021-11-03 17:56] poffdeluxe commented on #91236
No failures on recent builds.

[2021-11-03 17:56] #91236 closed

[2021-11-03 17:56] poffdeluxe commented on #92308
No failures on recent builds.

[2021-11-03 17:56] #92308 closed

[2021-11-03 17:58] kibanamachine commented on #44575
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2511#8b490303-87b9-4611-abcf-7b76d773297f)

[2021-11-03 17:59] mostlyjason commented on #74353
@joshdover thanks I missed that the first time! Our proposal on user roles is to have an admin role for Fleet and Integrations that will have access to all spaces. The admin role is required to uninstall packages. Do we still need to consider this case if we go that route?

[2021-11-03 18:03] lucasfcosta commented on #116226
Hey everyone, I was about to push the error boundary for this, and as I was discussing with @justinkambic a few questions came up:

1. It seems a bit concerning to me that by adding the error boundary we'd just be masking the issue instead of fixing the underlying cause. However, fixing the underlying cause may not be straightforward too.
    Also, for agreeing on priorities, we may need to confir

[2021-11-03 18:03] lizozom commented on #25719
This would be incredibly helpful as `kibana` now started using custom markers to [track it's own performance](https://github.com/elastic/kibana/pull/115410)

[2021-11-03 18:09] pmuellr opened #117394 "[licensing] intermittent "license is not available" causing alerting rules to fail to execute"
We currently do license checks when running alerting rules, to ensure the rules can be run with the given license.  We track the licensing state in this code: [x-pack/plugins/alerting/server/lib/license_state.ts](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/lib/license_state.ts).

We've see errors in logs occasionally, especially when Kibana is under stress, where the

[2021-11-03 18:09] elasticmachine commented on #117394
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-03 18:09] elasticmachine commented on #117394
Pinging @elastic/kibana-core (Team:Core)

[2021-11-03 18:10] poffdeluxe commented on #98408
No failures on recent builds.

[2021-11-03 18:10] #98408 closed

[2021-11-03 18:10] #98409 closed

[2021-11-03 18:11] poffdeluxe commented on #102000
Fixed by https://github.com/elastic/kibana/pull/111887

[2021-11-03 18:11] #102000 closed

[2021-11-03 18:12] poffdeluxe commented on #102007
No recent failures

[2021-11-03 18:12] #102007 closed

[2021-11-03 18:22] dominiqueclarke commented on #116226
@lucasfcosta My responses to your points

1. The primary issue is the underlying bug. The original thought was that the error boundary could be added in the same PR as part of the fix, but if the fix is going to be more complex to determine, we can 100% separate this into two tickets. When creating this issue, I did test on Kibana instances not created with CCS, using the `apm-integration-testing`

[2021-11-03 18:30] yctercero opened #117399 "[Security Solution][Platform] - Make exceptions importable with rules"
**Description**

Right now rules export alongside exceptions, but do not yet import. They are ignored on import at the moment.

**Test Criteria**

- [ ] User can import rules with exception lists
- [ ] User can import rules with exception list items

[2021-11-03 18:30] elasticmachine commented on #117399
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-03 18:30] banderror commented on #117192
I just read the description properly, and I think "An error/warning message is displayed during the rule execution informing about the current situation" is a great idea and we could actually try to do both:

- Enhance the Rule Create/Edit UI with a warning in the described case - if that's possible.
- AND enhance the monitoring part. When we have an improved [Rule Execution Log UI](https://github

[2021-11-03 18:37] spalger opened #117401 "[Logs UI] Support custom/disabled fields?"
**Describe the feature:**

The Logs UI should show `object` type fields with `enabled: false` as fields in the field list. Discover show them, but they're being ignored by Logs UI for some reason.

**Describe a specific use case for the feature:**

I my logs I sometimes like to include arbitrary data which isn't indexed in ES but is stored in _source. I am currently using an `object` field with `e

[2021-11-03 18:41] tsullivan commented on #117245
Hi @liza-mae thanks for reporting this. I want to note that the upgrade steps have nothing to do with the issue. I have reproduced it using a fresh setup of 7.16.0

[2021-11-03 18:44] tsullivan commented on #117245
This should be fixed as of https://github.com/elastic/kibana/pull/116430 which was merged to the 7.16 branch 7 days ago. I reproduced this in BC2, which has a build date of
[code]

The fix could have just barely missed the commit point for BC2. We should on this again once BC3 is availble.

[2021-11-03 18:45] tsullivan commented on #117245
cc @jloleysens @ThomThomson

[2021-11-03 18:51] cnasikas commented on #115490
Run it locally 100 times without any failures

[2021-11-03 18:51] #115490 closed

[2021-11-03 18:51] spalger commented on #117366
DefinitelyTypes is definitely intimidating, but yeah, it would be helpful to everyone if we pushed some basic type definitions for the modules we're using

[2021-11-03 18:52] jsoriano commented on #116914
@P1llus regular expressions have appeared also in https://github.com/elastic/package-spec/pull/241#discussion_r741453291, but there are some open questions, see https://github.com/elastic/package-spec/pull/245.

[2021-11-03 18:54] cjcenizal commented on #67270
This was my thought as well. As a consumer, I'd like to specify whether a toast is `groupable` and provide a `groupId`, to identify which toasts can be collapsed into a group, knowing that the toasts service will do the rest for me. This provides a simple interface and encapsulates complexity (ID comparison, editing vs. removing toasts).

By encapsulating the complexity of how this manifests as be

[2021-11-03 18:54] cjcenizal commented on #67270
Cross-referencing https://discuss.elastic.co/t/spammed-by-deprication-warnings-on-scripted-fields/286032. User complained of being spammed by toasts. The toasts themselves were helpful, but the quantity and frequency was not.

[2021-11-03 18:55] kibanamachine opened #117404 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/heatmap·ts - lens app lens heatmap should render heatmap chart with the temperature palette"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2510#e0c7bd60-76b4-4448-9194-5913ffd69af8)

[2021-11-03 18:56] spalger commented on #113043
Looks like this is the first failure since the fix went in, including PRs, but probably a good idea to take another look @stratoula

[2021-11-03 18:57] justinkambic commented on #117067
Picked this up because of its position in the to do column, dropping it because it's labeled as `Good first issue`.

[2021-11-03 18:59] spalger commented on #115415
Looks like the fix [made it back to 7.16](https://github.com/elastic/kibana/commit/51c7ef5a9c019c7f5a3260c98fdf7e04cb49ff70), first failure in 14 days since the fix, but probably worth taking a look @pheyos

[2021-11-03 19:00] poffdeluxe commented on #105315
No recent failures

[2021-11-03 19:00] #105315 closed

[2021-11-03 19:01] poffdeluxe commented on #105337
No recent failures

[2021-11-03 19:01] #105337 closed

[2021-11-03 19:02] poffdeluxe commented on #110355
No recent failures

[2021-11-03 19:02] #110355 closed

[2021-11-03 19:05] tsullivan commented on #82891
I agree. For historical context, there used to be something like this in Reporting, but it was eventually removed. It was implemented in a problematic way that relied on the toast messages to be available through certain DOM selectors.

https://github.com/elastic/kibana/pull/25482

[2021-11-03 19:06] cjcenizal commented on #116616
++ Agreed.

I think we should bring in a designer to figure out this UX and work backwards to implementation. It seems like users would find it surprising to see information in the deprecation issues tables that's not related to breaking changes.

One possibility is to expand Upgrade Assistant's information architecture to differentiate between "data" and "deployment" upgrade blockers. Deprecation

[2021-11-03 19:06] poffdeluxe commented on #110356
No recent failures

[2021-11-03 19:06] #110356 closed

[2021-11-03 19:07] poffdeluxe commented on #110358
No recent failures (but we should keep an eye on this if it fails again)

[2021-11-03 19:07] #110358 closed

[2021-11-03 19:08] mostlyjason commented on #100413
@n0othing is there any reason this needs to be set in the UI or would a setting in kibana.yml work just as well? I'm guessing users who run in air-gapped environments are not afraid of YAML, and they may prefer it since its easier to automate.

[2021-11-03 19:08] poffdeluxe commented on #110359
Possibly related to https://github.com/elastic/kibana/issues/111615. No recent failures

[2021-11-03 19:08] #110359 closed

[2021-11-03 19:10] poffdeluxe commented on #110363
Flaky and skipped: https://github.com/elastic/kibana/issues/116881

[2021-11-03 19:11] scottdfedorov commented on #100413
@mostlyjason as the user on who's behalf @n0othing entered this, can confirm that would be acceptable for us. We just don't want to have to enter it in every agent's elastic-agent.yaml file.

[2021-11-03 19:18] mikecote commented on #117133
As discussed during triage, if the bug relates to `requiresAppContext` being `true`, we cannot provide edit experience but we should still provide enable / disable / mute / unmute functionality. Otherwise, if the bug relates to RBAC, we should reflect RBAC in the UI accordingly.

[2021-11-03 19:20] mikecote commented on #117199
We added this issue to To-Do in case there's a validation / quick-fix for this specific case. I will open another issue to do umbrella testing of CCS in alerting.

[2021-11-03 19:23] #114396 closed

[2021-11-03 19:29] #116946 closed

[2021-11-03 19:33] tsullivan opened #117418 "[Reporting] Investigate the error logs with PDF report on 1GB VM"
PDF reporting does not work with 1GB of system RAM. We need to optimize this as 1GB is the default in Cloud.

This issue is not about making Reporting work in 1GB, but is to track confusing log messages when testing in 1GB. The order of the logs indicates the operations in the screenshot capturing observable chain. When something gets logged in a confusing way, it could indicate a problem with the

[2021-11-03 19:37] ghudgins commented on #111873
@flash1293 I was talking about this with @mfinkle and are we sure that client side sorting is the same as legend-sorting and they shouldn't be separate issues? This might just be me but:

_i'm using top values_
**when** i'm using top values sorted on the data descending
**I need** to specify a separate sort for _just the legend_
**so I can** have sorted bars (top values) and a legend that is in a

[2021-11-03 19:42] spalger commented on #44575
3 failures in the last day, two in PRs, sounds like this is becoming flaky again. Mind taking another look @LeeDr?

Skipping

main/8.1: https://github.com/elastic/kibana/commit/3d867400d847d4a89a6ceaa738a78673436364cf
8.0: https://github.com/elastic/kibana/commit/a9144b98a50d9d21a57be62b8a1c306119b06768

[2021-11-03 19:43] vadimkibana commented on #72880
I see `impact:low` label, IMO, I would assign the highest impact to this.

[2021-11-03 19:43] tylersmalley opened #117419 "[vscode] Exclude tsconfig.tsbuildinfo from search"
Saw this was being included
![image](https://user-images.githubusercontent.com/40265/140181494-3e61effb-5eb7-40d1-a203-5043d0240d6d.png)

Add `**/tsconfig.tsbuildinfo` to `search.exclude`

[2021-11-03 19:43] elasticmachine commented on #117419
Pinging @elastic/kibana-operations (Team:Operations)

[2021-11-03 19:59] tsullivan opened #117423 "[Reporting] Task Manager triggers report tasks when Kibana is not fully available"
**Kibana version:** 8.1.0-SNAPSHOT

1. Using a [Linux VM](https://github.com/tsullivan/vagrant/blob/56c5ccf49d02fcbd93ce0a5f37187424a582cf15/Vagrantfile) with 1GB total RAM, and Kibana restricted to 512MB of RAM in the `config/node.options` file.
2. Trigger a PNG report of a dashboard from sample data
3. Stop the server will the report is executing
4. Wait a minute, then restart Kibana

Results: R

[2021-11-03 20:06] tsullivan opened #117425 "[Reporting] "wait for elements to be in DOM" phase drags the system down when RAM is low."
**Kibana version:** 8.1.0-SNAPSHOT

When testing report execution on low RAM VM, the "wait for elements to be in the DOM" pahse is where things fall apart during job execution. The rate of these wait for elements logs should be much higher, but they rapidly slow down as waiting drags on. That could indicate some inefficiencies in the way screenshots are captured.

Steps to reproduce:
Steps to Repr

[2021-11-03 20:19] hbharding commented on #117260
Thanks for the ping @fkanout. Make sure that the `EuiButton` does not have the `fill` prop set. It defaults to false, which should get you the desired result.

![image](https://user-images.githubusercontent.com/847805/140186163-e14179cf-24de-4f8b-92b2-8a63ba3142a7.png)

I noticed 2 small things in the screenshot you posted, and am hoping we could also fix those here to match the design:
- in callo

[2021-11-03 20:25] hbharding commented on #117260
Also, I was thinking the "dismissed" state could be stored in the user's local browser storage. But i'll leave the implementation up to you. The desired behavior is that the message should not appear after it's been dismissed. This state should be saved to a user, meaning if `user a` closes the callout and then `user b` visits the page for the first time, `user b` should still see the callout unti

[2021-11-03 20:41] elasticmachine commented on #117404
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-03 20:42] spalger commented on #117404
Seems related to https://github.com/elastic/kibana/issues/113043 so pinging @stratoula

[2021-11-03 20:45] jethr0null commented on #115537
For 7.16, let's go with the suggested copy and we can open a subsequent issue if we want to add information about actions and exceptions import once all of that functionality has been released.

[2021-11-03 20:48] flash1293 commented on #117404
First thing I suspect is median being an approximate aggregation so it's inherently flaky. Maybe we should switch to average or sum for this test

[2021-11-03 20:54] #116484 closed

[2021-11-03 20:59] tsullivan commented on #113472
I tried to reproduce the issue with these steps:
[code]

I am finding that the extremely low system memory doesn't stop Chromium from launching, but it does cause the browser to be unable to load the Kibana app.

[2021-11-03 21:02] danielkhan commented on #116847
@simitt I generally agree but we would need to create a flow that checks for a cloud install and then guides to the settings page to switch the deployment. I propose to handle this independently from this PR to expedite getting this important change merged.

[2021-11-03 21:03] tsullivan opened #117432 "[Reporting] Incorrect timeout errors are logged in PNG capture when resources are too low"
**Kibana version:** 8.1.0-SNAPSHOT

Steps to reproduce:
1. Use a [Vagrantfile](https://github.com/tsullivan/vagrant/blob/56c5ccf49d02fcbd93ce0a5f37187424a582cf15/Vagrantfile) to create a 1GB VM for Linux
2. Run an 8.1.0-SNAPSHOT build in the VM. Elasticsearch is not running in the VM.
3. Use free -m to find the amount of system memory (980MB)
4. In config/node.options, set --max-old-space-size=980

[2021-11-03 21:30] MikePaquette commented on #116399
Team, should this issue be raised as a blocker in 7.16.0 in https://github.com/elastic/dev/issues/1809 ?  It's a show-stopper for users upgrading the CCS cluster with remotes at 7.15.

[2021-11-03 21:44] #117175 closed

[2021-11-03 22:16] yiyangliu9286 commented on #117034
This is a great proposal and agree that we should align on the date format that is in the table cell across Security tables. Here are the aligned general direction from the Security UX team on how we should treat the date format in the table cell in Security:

cc: @jethr0null

[2021-11-03 22:17] ryankeairns commented on #116590
Something to consider: A 'quick fix' may be reverting to icon-only buttons on smaller screens.

[2021-11-03 22:32] kobelb commented on #116399
@MikePaquette, in my opinion, this should be a blocker for 7.16, I'll add it as such.

[2021-11-03 22:37] lukeelmers commented on #104088
As I've started looking into this, one trade-off we will need to decide on is whether to run the type validations _before_ or _after_ the object is migrated during `SOR.create`.

If we validate _before_, devs would need to worry about writing a `schema` that maintains BWC, as for example field names could be changed when the object is migrated. This would be a pain. It also means we'd need a map o

[2021-11-03 22:49] tsullivan commented on #111780
I've crossed out the need to re-introduce `x-pack/test/api_integration/apis/security/license_downgrade.ts` with the non-legacy configuration. But looking again - that test is very specific to security and the existing test that doesn't cover Reporting stuff is fine.

[2021-11-03 22:50] cjcenizal commented on #67915
Seems like this is obsolete now? @kobelb Please feel free to reopen if this issue is still in active use.

[2021-11-03 22:50] #67915 closed

[2021-11-03 22:56] #114175 closed

[2021-11-03 23:07] tsullivan commented on #111780
I've crossed out the second half of the description because we already have tests that validate the touchpoints of the various applications for users that do/don't have reporting application privilege: https://github.com/elastic/kibana/blob/c6db4986ed9eb930b0825c096590df5d2f9aef03/x-pack/test/reporting_functional/reporting_and_security/security_roles_privileges.ts#L27-L119

[2021-11-03 23:08] tsullivan commented on #111780
Fix on the way: https://github.com/elastic/kibana/pull/117443

[2021-11-03 23:10] tsullivan opened #117445 "[Reporting] Update the CSV API tests to use the non-deprecated export type"
Currently many API integration tests still use the legacy endpoint for CSV Export: `/api/reporting/generate/csv`. This export type will be phased out ASAP. Meanwhile, we can change these API tests to use the new `csv_searchsource` export type.

[2021-11-03 23:16] liciavale opened #117446 "[Exploratory View] Replace Copy series with Duplicate series in the tooltip"
Copy series vs. duplicate series tooltip

Copy series feature is more of a duplication interaction. Replace the "Copy series" with "Duplicate series"

<img width="369" alt="Screenshot 2021-11-03 at 23 11 41" src="https://user-images.githubusercontent.com/8301088/140231679-f9911151-8202-40bb-9ffd-f17b261a4711.png">

[2021-11-03 23:16] elasticmachine commented on #117446
Pinging @elastic/uptime (Team:uptime)

[2021-11-03 23:20] liciavale opened #117447 "[Exploratory View] Show tooltip for report metric"
Show a tooltip for the selected report type. It should just say "Report type" just to indicate whenever something is selected.

<details>
<summary>View screens</summary>

![CleanShot 2021-11-02 at 09 27 42](https://user-images.githubusercontent.com/4104278/139811758-3294e3dc-ccca-4c82-8ddc-933355899135.gif)

</details>

[2021-11-03 23:20] elasticmachine commented on #117447
Pinging @elastic/uptime (Team:uptime)

[2021-11-03 23:30] liciavale opened #117448 "[Exploratory View] Kibana header actions are the same button style"
According to EUI [guidelines](https://elastic.github.io/eui/#/layout/header#header-links), the header actions should only have a single primary action and the rest should be the default style, so we should replace the button style.

Current:
<img width="429" alt="CleanShot 2021-11-02 at 10 24 43@2x" src="https://user-images.githubusercontent.com/4104278/139820880-ca004d7f-1f8f-47e1-aeda-8d1caa3e19

[2021-11-03 23:30] elasticmachine commented on #117448
Pinging @elastic/uptime (Team:uptime)

[2021-11-03 23:35] liciavale opened #117449 "[Exploratory View] Series name form field doesn't submit changes when hitting `return` on the keyboard"
Would be great to allow for hitting `return` on the keyboard to save and exit focus mode (the same behaviour we have in the edit name in the script recorder)

![CleanShot 2021-11-02 at 10 49 18](https://user-images.githubusercontent.com/4104278/139824342-4933132c-75a1-466c-9b03-4e22ba4baa52.gif)

[2021-11-03 23:35] elasticmachine commented on #117449
Pinging @elastic/uptime (Team:uptime)

[2021-11-03 23:42] nickofthyme opened #117450 "[elastic-charts] Amsterdam theme support"
Currently, `@elastic/charts` uses many styles from eui but not yet the Amsterdam theme. This causes issues within the chart legend when `:focus` states styles are overridden at a root level, such as here....

https://github.com/elastic/kibana/blob/21931116cfe9ed157f1673b33c9467e86b64ba41/src/core/public/styles/_base.scss#L8-L17

The fix is for elastic-charts to adopt the Amsterdam theme natively s

[2021-11-03 23:42] elasticmachine commented on #117450
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-11-04 00:53] spalger commented on #116825
This has failed 14 times on CI in the last 7 days

![image](https://user-images.githubusercontent.com/1329312/140239203-3b9ed726-dec8-485c-9e21-652a49b626c5.png)

[2021-11-04 00:53] tsullivan commented on #117425
When testing report execution on low RAM VM, this is where things fall apart during report execution. The rate of these `wait for elements` logs should be much higher, but they rapidly slow down as waiting drags on. That could indicate some inefficiencies in the way screenshots are captured.

[2021-11-04 01:38] kibanamachine commented on #116065
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2538#c2d1cef7-0d13-4804-8f73-66d83b631d1e)

[2021-11-04 01:43] kibanamachine commented on #44575
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2537#fa954920-dec5-4ab0-baaf-4cf905d274db)

[2021-11-04 01:47] yiyangliu9286 opened #117460 "[Meta] [UX] Table truncation / UI enhancements for Rules / Rule monitoring / Exceptions tables"
## Summary
After conducting a full audit of the long text usage and other UI misalignments of different Tables in the Security app (e.g. Date format in table cells, long text behaviour etc.), the UX team as aligned on a general guidance (see detailed info in this [doc](https://docs.google.com/document/d/1WmqOAHG61AYCwauN150NvYvSlJY2rM9A9ozri3_wACQ/edit?usp=sharing)). This meta issue is trying to a

[2021-11-04 01:47] elasticmachine commented on #117460
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-04 01:47] elasticmachine commented on #117460
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-04 02:31] kibanamachine commented on #117404
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2536#241b5277-bdd6-4dae-90c0-b50bcc761f97)

[2021-11-04 02:37] kibanamachine commented on #116048
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2539#e47bfd8b-a62c-44a7-802b-76144d1bb2ad)

[2021-11-04 02:39] #116235 closed

[2021-11-04 02:54] kibanamachine opened #117462 "Failing test: X-Pack Timeline plugin API Integration Tests.x-pack/test/timeline/security_and_spaces/tests/trial/events·ts - timeline security and spaces enabled: trial Timeline - Events logging logs success events when reading alerts"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2536#e6f7452c-2563-4b3d-889f-1a2d594ba693)

[2021-11-04 03:18] kibanamachine commented on #117462
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2537#939d8ba8-03d7-4858-b8a3-34bbf34edb2d)

[2021-11-04 03:20] kibanamachine opened #117465 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/chart_data·ts - lens app lens chart data should render xy chart"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2541#cc81e4f6-712c-499b-9717-8a06700da464)

[2021-11-04 03:53] cwh1te commented on #3402
+1

[2021-11-04 03:58] #117419 closed

[2021-11-04 05:26] kibanamachine commented on #117462
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2545#f677d977-4cfd-4bf0-bb4a-cc2507ca6cc9)

[2021-11-04 05:32] mukeshelastic commented on #115235
This is ingested in metrics-* datastreams via agent and not by APM server.

pardon my ignorance, but what is a node type in this context? If by node_type you meant, VM host, K8s pod or docker/CRI container then it is all of them, right from the beginning. If node_type is something else, then please let me know what that means.

My first instinct is that we can begin with just embedding the tabular

[2021-11-04 07:26] pantelis-karamolegkos commented on #117371
FWIW the problem went away after deleting the system indices the ones starting with (`.`).

The process that lead to the issue was the following

- Create an empty cluster (using `ECK` operator)
- Dump a full cluster snapshot from another cluster (hosted in elastic.co)
- At this point everything seemed to be working fine
- Perform a disk [expansion](https://www.elastic.co/guide/en/cloud-on-k8s/mas

[2021-11-04 07:26] kibanamachine commented on #117462
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2554#53bfa0ba-aa36-4bab-ae91-33e1f3d331d8)

[2021-11-04 07:33] kibanamachine commented on #117404
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2555#3eea94db-69ed-4027-ba66-46132a8bc81a)

[2021-11-04 07:42] aarju opened #117471 "[Feature Request] - Add 'run rule' option to the Security API"
**Describe the feature:**

Add a `run rule` endpoint to the [Detections API](https://www.elastic.co/guide/en/security/current/rule-api-overview.html) that lets analysts run an existing rule with custom options without changing the settings of the rule on the cluster. When calling this API endpoint the user should be able to specify custom options such as `from`, `to`, `risk_score`, `severity`, `ta

[2021-11-04 07:54] tobiasstadler opened #117472 "Support for YouTrack"
**Describe the feature:**
It would be nice if Kibana could support YouTrack in the alerting/actions/cases plugins.

**Describe a specific use case for the feature:**
We are using YouTrack for our incident management. It would be nice if Kibana could create issues in YouTrack.

[2021-11-04 08:32] gk-fschubert commented on #116034
@flash1293 regarding the aggregation based visualization:
The shown data is also not accurate but in a other way. Now only the data which is shown, is from the last 2 hours but everything above is not shown.

And it's the same as with a lens visualization. When the Metric is username and the bucket is datetime, everything is working

[2021-11-04 08:38] kibanamachine commented on #116903
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2561#1755b42d-5f1b-43b5-9539-c14ad361d4a1)

[2021-11-04 08:56] mshustov commented on #72880
`impact:low` description is `Long-term priority, unless it's a quick fix`.
The highest priorities are for tasks planned for the current or the following release. We don't plan this work yet.

[2021-11-04 08:58] flash1293 commented on #116034
@gk-fschubert Great, thanks. In the aggregation based vis, there's an "inspect" button in the top right. Could you copy/paste the request and response from there?

[2021-11-04 09:12] cnasikas commented on #116825
Thank you @spalger! We stress test it locally without being able to reproduce it. Any ideas of how we can test it?

[2021-11-04 09:20] gk-fschubert commented on #116034
Ok now i'm confused...

I haven't saved the test for the aggregation based vis. So i created a new now to export the request and response. But now everything is working, with timestamp as metric.

[2021-11-04 09:22] flash1293 commented on #108260
Fixed by elastic-charts update

[2021-11-04 09:22] #108260 closed

[2021-11-04 09:22] flash1293 commented on #100757
Fixed by elastic-charts update

[2021-11-04 09:22] #100757 closed

[2021-11-04 09:22] mgiota commented on #116759
Update: No date screen appears also in case user selects `All` privileges for an Observability app. `infra_logs` hasData is undefined in this simple setup with `All` privileges for `Logs` app.

<img width="632" alt="Screenshot 2021-11-04 at 10 20 35" src="https://user-images.githubusercontent.com/2852703/140288727-35b4e10b-4620-4219-9b2b-4b0270bd3e68.png">

<img width="1252" alt="Screenshot 2021-1

[2021-11-04 09:23] stratoula opened #117475 "[Timelion] Enable multilayer time axis"
**Describe the feature:**
We should consider enabling the multilayer time axis for the timelion charts that work with the new implementation (elastic-charts).

A note after discussing it with @markov00:

the timelion default parameters for bars are not suitable to be used with the multilayer time axis. We can enable it only for area/line charts for now.

[2021-11-04 09:23] elasticmachine commented on #117475
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-04 09:26] stratoula opened #117476 "[Lens] Disable x-axis orientation settings if multilayer axis is used"
**Describe the feature:**
On v8.0 we introduced the new multilayer time axis (the default one) on Lens.
The time axis works when the time field is on the horizontal axis but the labels orientation are not applied.

![image](https://user-images.githubusercontent.com/17003240/140289380-b470f3c0-aae0-4e6c-8893-a8e3aa2dcae2.png)

In these cases, the settings should be disabled (possibly with a tooltip

[2021-11-04 09:26] elasticmachine commented on #117476
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-04 09:26] kibanamachine commented on #117462
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2562#2cbf2509-37ca-4e33-b2ed-f0e2ef3188e9)

[2021-11-04 09:28] MadameSheema commented on #114954
Closing as duplicate of: https://github.com/elastic/kibana/issues/109796

[2021-11-04 09:28] #114954 closed

[2021-11-04 09:43] gmmorris commented on #106292
This really chimes with me. Sure, it doesn't fix the race condition, but:
![racecondition](https://user-images.githubusercontent.com/386208/140291980-c5b92d52-3441-45c3-ab2f-7bdb0db315ff.jpeg)

I'm +1 on using this issue as an opportunity to reduce the cases where we regenerate an API Key.
Any thoughts @mikecote @arisonl ?

[2021-11-04 09:46] pheyos commented on #115415
The failure screenshot shows a different area of the page, so it's not helpful here:
![image](https://user-images.githubusercontent.com/1945390/140292366-ee17d386-9f3c-47e9-b8e8-cbb77d1b27d7.png)

I'll take a closer look - maybe we need to fold the unused sections or scroll the current section into view, such that failure screenshots are showing relevant details.

[2021-11-04 09:47] flash1293 commented on #117476
@nickofthyme I vaguely remember at some point you handled that in another way - if the user picks an orientation other than horizontal, it opts out of the multi layer time axis and renders the a regular axis instead. Is there a reason we are not doing that? It seems like a good approach as well. No strong opinion on it though.

[2021-11-04 09:55] flash1293 commented on #116733
I don't want to argue against changing this behavior, but it's working as intended, as least for now (even if it's a bit confusing).

Graph is different than other apps in Kibana - the bar on top is not a way to scope down the data visible in the workspace, it's a way to add new data to it. In the same way, the fields bar below it is about configuring which connections should be added to the graph

[2021-11-04 10:03] kibanamachine opened #117479 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/add_to_dashboard·ts - lens app lens add-to-dashboards tests Capabilities dashboard no-access privileges should not display add-to-dashboard options"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2565#ec1e1019-ff98-4356-8abb-479fd50ebd5b)

[2021-11-04 10:07] mgiota commented on #116759
@claudiopro I specified indices and privileges as described here https://github.com/elastic/kibana/issues/90806 and I could see the alerts page (in a local ES setup, CCS setup is another story)

So I would say this is not a bug. Unless you want to test it with apm roles and privileges to make sure everything works fine.

[2021-11-04 10:09] joshdover commented on #116715
Sure I can open the issue. Generally, the security team has been more comfortable granting broad access to dot-prefixed indices since these are well communicated as being managed by the system. For instance, kibana_system has access to `.kibana*` and `.fleet*`.

It does, we had to do a similar thing here for kibana_system: https://github.com/elastic/elasticsearch/pull/80140. I'll mention both prob

[2021-11-04 10:10] jlind23 commented on #116715
@ruflin shall we create an issue to add a warning message accordingly?

[2021-11-04 10:19] afgomez commented on #117344
@weltenwort I commented a possible approach in [another place](https://github.com/elastic/kibana/issues/97108#issuecomment-959545412) that might work well for all observability solutions, not only `infra`. I would appreciate your perspective 🙇

[2021-11-04 10:26] fkanout commented on #117260
@hbharding Many thanks for your feedback! I've fixed the button color, callout title, and icon.
I'm working on finding the best approach for the dismiss-per-user.

[2021-11-04 10:36] kibanamachine commented on #115685
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2566#750b679a-3941-4dba-83f5-b902e96dc482)

[2021-11-04 10:37] joshdover commented on #109870
@juliaElastic Is this now closed by #115180?

[2021-11-04 10:49] peteharverson commented on #116996
To me it would make sense for the organization of the rule types in the [docs](https://www.elastic.co/guide/en/kibana/7.16/rule-types.html#domain-specific-rules) to match the organization in the UI - currently APM, Logs, Machine Learning, Metrics, Stack monitoring, Stack rules, Uptime.

I wonder if the groupings in the UX(and therefore the docs) should better align to the groupings in the side nav

[2021-11-04 10:56] rudolf commented on #117084
https://github.com/elastic/kibana/blob/master/src/plugins/telemetry/public/services/telemetry_sender.ts#L86

We try to send usage data and if successful store the timestamp in localstorage. Every minute that the browser is open we check if 24 hours has expired since the last success timestamp.

Given the urgency simple server-side caching is a good first step but I think we can do more here like a

[2021-11-04 11:01] joshdover commented on #116626
@lukeelmers Thanks for letting me know. I plan to submit a PR in the next week or so.

[2021-11-04 11:04] michaelolo24 commented on #99324
@karanbirsingh-qasource can you verify this is fixed in 7.16?

Linking this PR: https://github.com/elastic/kibana/pull/113795

[2021-11-04 11:07] rudolf commented on #117084
Given that the browser retries every 60s and that usage collection could theoretically take longer than 60s to complete, we should also consider what will happen if the cache isn't primed. In such a case we would want to start usage collection only once regardless of how many browsers are requesting it.

[2021-11-04 11:11] michaelolo24 commented on #112581
Closing as this work has been completed

[2021-11-04 11:11] #112581 closed

[2021-11-04 11:11] claudiopro commented on #116759
Thanks for sharing your investigation @mgiota 👍  I have to acquire some knowledge on the permission model of Kibana and ES, and then dive deep in the authorization check code in order to understand what is happening. It is a great opportunity to learn.

[2021-11-04 11:13] michaelolo24 commented on #113944
Closing as it was fixed here: https://github.com/elastic/kibana/pull/113795

[2021-11-04 11:13] #113944 closed

[2021-11-04 11:14] rudolf opened #117489 "Usage collection has a high Kibana/ES performance cost for some clusters"
Meta issue to collect all efforts to improve the performance of usage collection for outlier clusters with e.g. > 30k saved objects.

- Cache usage data to prevent expensive collection queries https://github.com/elastic/kibana/issues/117084

- Browser retries failed telemetry requests every 60s https://github.com/elastic/kibana/issues/115221

- Visualization collectors iterate over all visualizati

[2021-11-04 11:14] elasticmachine commented on #117489
Pinging @elastic/kibana-core (Team:Core)

[2021-11-04 11:15] phanithinks commented on #117246
Hi @cqliu1 ,

I want to  work on this task. But I have some questions related to fontSize input. It looks like only these fonts are valid options for fontSize [0, 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 24, 30, 36, 48, 60, 72, 96]. If that is true does the EuiSelect is more sutiable than the EuiFieldNumber.

If that is not true what should be the range for the fontSize input value ?

[2021-11-04 11:19] gmmorris commented on #116996
Thanks Pete!

@arisonl / @alexfrancoeur - any thoughts?

[2021-11-04 11:27] mshustov opened #117490 "Enabling compression between Kibana <--> Elasticsearch servers"
Kibana relies on the `elasticsearch-js` client defaults with `compression: false` https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/basic-config.html

While enabling compression adds some runtime performance overhead, it might drastically reduce transmission time and increase network bandwidth.
We should conduct load testing for Cloud and on-prem instances to decide wheth

[2021-11-04 11:27] elasticmachine commented on #117490
Pinging @elastic/kibana-core (Team:Core)

[2021-11-04 11:29] weltenwort commented on #115235
Thanks for clarifying some of the points.

yes, it's `host`, `container` or `pod`

so it would only contain the name column and no metrics initially?

That's good to keep in mind as a goal, but can you imagine an acceptable smaller step that we can take first? It would help if we could come up with a sequence of additions that can be tackled incrementally.

[2021-11-04 11:32] claudiopro commented on #116759
There is still something odd (at least to me): `hasAnyData` is false, but `hasDataMap.alert.hasData` is set:

<img width="600" alt="Screenshot 2021-11-04 at 12 26 39" src="https://user-images.githubusercontent.com/860099/140305899-69d5d821-4e8c-402e-86d2-da720b0ffdd1.png">

[2021-11-04 11:34] kibanamachine opened #117491 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/reference_lines·ts - lens app lens reference lines tests should add a reference layer with a static value in it"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2568#2692a166-ab4b-4705-b484-d814884c3399)

[2021-11-04 11:34] lizozom opened #117492 "Default APM Configurations for monitoring of kibana clusters"
We are in the process of enabling APM monitoring on some of our own internal clusters (such as telemetry, gh-stats, ci-builds etc).

To clarify, enabling APM in this context means that data collected by `apm-rum` and `apm-node` is **sent out** to another kibana cluster ("the monitoring cluster") where we can review the actual performance of each monitored cluster.

We want to have a well defined,

[2021-11-04 11:35] delvedor commented on #117490
The v7 client has two compression options:
- `suggestCompression`: if true, asks ES for compressed data via accept-encoding header.
- `compression`: if true, sends compressed data to ES

The v8 client has a single `compression` option, which does both.

Furthermore, if you enable compression and are using `maxResponseSize`, remember to configure `maxCompressedResponseSize` as well.

The client def

[2021-11-04 11:37] joshdover commented on #74353
I don't believe that's quite where we've landed now. Users with admin access to Fleet will have access to Fleet in _every space they also have access to_ but not necessarily access to Fleet in _all_ spaces. So in theory, a user with access to different Spaces could have installed the package and its Kibana assets.

IMO we should just delete the objects anyways, regardless of which Spaces the user

[2021-11-04 11:41] claudiopro commented on #116759
Relaxing the check from `=== true` to `!= null` fixes the no data page:

https://github.com/elastic/kibana/blob/main/x-pack/plugins/observability/public/context/has_data_context.tsx#L149-L151

But I wonder if `hasData` should be an `Array` and not a `boolean` in the first place?

[2021-11-04 11:42] markharwood commented on #116733
I wrote the first version of this UI and @flash1293 captures the logic correctly.

In a [typical fraud detection scenario](https://www.youtube.com/watch?v=liMhiiyQ9co) users are investigators and saved workspaces are cases of interest. The graph of saved nodes and edges is intended to be preserved and so won't even disappear if the underlying documents that originally gave rise to them are deleted

[2021-11-04 11:45] joshdover commented on #116975
Interesting, I haven't seen 502s before with this problem, only 404s when there's been a EPR connectivity issue. If anyone encounters this, it'd be helpful to get a HAR or just the response body from dev tools. 502s point towards a Cloud issue I believe.

One thing we could do to also improve the loading of these SVG files is to use `Cache-Control: max-age` headers on the response to avoid re-fetc

[2021-11-04 11:48] philippkahr opened #117494 "Kibana file upload for json should lowercase all keys"
**Describe the feature:**
When uploading a file to Elasticsearch through Kibana e.g. Data visualizer or on the Kibana Maps, it will take the provided ndjson / geojson and just upload it.

Usually, we recommend that every key is in lowercase just like in ECS. I personally think that it would be a good improvement to lowercase all provided keys.

[2021-11-04 11:52] arisonl commented on #117133
I think that enable/disable/mute are logically separate from the ability to edit the rule. My understanding is that this is consistent with the implementation (if I understand correctly `requiresAppContext:` is set by the producer), correct me if I am wrong. If that's the case indeed (and if this is not an RBAC related bug), enable/disable/mute should be available. But I will confirm with the solu

[2021-11-04 11:53] claudiopro commented on #116759
The test expects `hasAnyData` to be `false` when alerts are returned:

https://github.com/elastic/kibana/blob/f647fb352cb9488c3de04635c325c6ca1df26e6e/x-pack/plugins/observability/public/context/has_data_context.test.tsx#L551-L559

At this point I have to bring it up for discussion with @weltenwort and @afgomez 🙏

[2021-11-04 11:56] mikecote commented on #117133
++ it's worth noting that we added `requiresAppContext` as an escape hatch a while ago because we realized late in the release some O11y rules couldn't load the edit flyout in the centralized rule management view. The goal back then was to fix any rules using `requiresAppContext` so that any rule can be edited/enabled/disabled/mute/unmuted via the centralized management view. But let us know if th

[2021-11-04 11:58] mshustov commented on #117490
Ok, we have to set `compression: true` explicitly then. Since Kibana doesn't configure the `cloud` option.

[2021-11-04 12:15] walterra opened #117501 "[ML] Increase Test Coverage 8.1.0"
Follow up to #110949 and #117930.

Meta issue to summarize improvements to test coverage for `8.1.0`.

## Jest unit tests

## API integration tests

- [x] POST /api/ml/datafeeds/:datafeedId/_update (including spaces test) (JG)
        https://github.com/elastic/kibana/pull/124540
- [x] POST /api/ml/anomaly_detectors/:jobId/_forecast (PH)
       https://github.com/elastic/kibana/pull/125214
- [x] G

[2021-11-04 12:16] elasticmachine commented on #117501
Pinging @elastic/ml-ui (:ml)

[2021-11-04 12:18] weltenwort commented on #117344
Thanks for pointing out that issue. I remembered it existed somewhere but failed to find it.

[2021-11-04 12:24] timroes commented on #116733
I've synced with Joe offline, and we decided this is def the behavior we currently expect from Graph. While we see there might be some use-case why you would want fields removed from the graph once it's deleted from the top, it would be a larger behavioral change than we're comfortable introducing at the moment. Closing this thus.

[2021-11-04 12:24] #116733 closed

[2021-11-04 12:33] ymao1 commented on #116321
Just a comment that although post 7.11, we are marking the task as `failed` if it has no `schedule` and has reached its `maxAttempts`, prior to this, in 7.10, task manager would still not claim these types of tasks. So if a pre-7.10 alerting rule reached `attempts:3`, it would stop getting claimed by task manager:

https://github.com/elastic/kibana/blob/b555a22bbef9eeb68b2c6d90116bb47fc8e97da5/x-p

[2021-11-04 12:33] weltenwort commented on #97108
A significant downside I see of the registry approach compared to a direct import is that it prevents the compiler from automatically enforcing type safety. Given that we want this collection of components to grow I see this as a pretty big maintenance burden, because it makes tracking down usages of a component more difficult.

I'd also like to add that the mechanism should ideally work for more

[2021-11-04 12:34] timroes commented on #12665
Also the original issue is 4 years old, so I'd say we're closing it and in case some more specific issues come up we'll open individual more specific issues for those.

[2021-11-04 12:34] #12665 closed

[2021-11-04 12:36] pheyos commented on #115415
With #117503 we're scrolling the feature influence section into view, so the failure screenshot shows the relevant part of the screen and hopefully gives us more details. But maybe the job config change in this PR already fixed this issue. We'll monitor this.

[2021-11-04 12:36] dgieselaar commented on #97108
@weltenwort we're using a registry pattern to register type safe routes, but the routes (in this scenario, the components/hooks etc) have to be registered at a central location.

[2021-11-04 12:39] rayafratkina opened #117506 "[Dashboard] Add visual indicator to dashboard panels to help user understand when filters don't apply"
**Describe the feature:**
If the time range or other filters do not apply to an individual visualization on the dashboard, we should make that apparent to the user somehow

**Describe a specific use case for the feature:**
A dashboard may contain multiple visualizations using different data views underneath. When using the time filter or adding other filters, the options user selects may not apply

[2021-11-04 12:39] elasticmachine commented on #117506
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-11-04 12:39] elasticmachine commented on #117506
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-11-04 12:40] weltenwort commented on #97108
With that limitation I don't quite see the advantage over statically exporting the components from a central location.

[2021-11-04 12:42] dgieselaar commented on #97108
@weltenwort what are the downsides to statically exporting the components from a central location? (ie, why are we considering a registry pattern?)

[2021-11-04 12:42] weltenwort commented on #97108
For UI elements Kibana already has the "embeddable" concept, which is a registry. It has some downsides in my opinion (e.g. components need to re-establish a new react root), but it's a Kibana-wide standard. Maybe worth investigating?

[2021-11-04 12:45] rudolf commented on #117367
That would reduce the impact on Kibana, but keeping a PIT open for a long time is also expensive on Elasticsearch so I don't think it would really be an improvement overall.

In one case a customer had 27000 visualizations and returning all of them was 27MB so every time usage collection happens we query for and need to parse > 100MB. On it's own this is no problem for Kibana/ES but together with

[2021-11-04 12:45] weltenwort commented on #97108
The registry pattern would be our workaround to prevent circular imports between plugins. So the registrations would have to happen in each plugin. Otherwise the place of the central registration (i.e. the observability plugin) would become the location that closes the import cycle.

[2021-11-04 12:51] shahzad31 commented on #97108
Registry pattern has one more advantage like we can enforce that all the dependencies needed by the component like contexts, plugins can be injected when component is being fetched from the observability plugin.

[2021-11-04 12:53] shahzad31 commented on #97108
Good example of the shared component i have is LenEmbeddable `https://github.com/elastic/kibana/blob/main/x-pack/plugins/lens/public/plugin.ts#L349` it takes care of all the contexts, contracts it needs when it's exposed via a contract, that would be very hard to go via a direct import.

[2021-11-04 12:55] elasticmachine commented on #117462
Pinging @elastic/siem (Team:SIEM)

[2021-11-04 12:55] lizozom commented on #117492
@tylersmalley once you get that subsomain for our server url, mind updating it here?

[2021-11-04 12:55] jportner commented on #98252
There was another open issue for this test suite: #99581
The whole suite was previously skipped, but we unskipped it and ran the flaky test runner in #117372 so I think this issue can be closed for now.

[2021-11-04 12:55] #98252 closed

[2021-11-04 13:01] joshdover commented on #117492
I believe we need to have `captureSpanStackTraces: false` unless the performance and overhead of this has recently improved?

[2021-11-04 13:03] lizozom commented on #117492
@joshdover what does `captureSpanStackTraces` change that effects performance?

[2021-11-04 13:10] joshdover commented on #117492
@trentm can probably comment in more detail, but in [performance testing we did earlier this year](https://github.com/elastic/kibana/issues/78792#issuecomment-785845837), we saw a pretty dramatic increase in overhead when this is enabled. I believe it creates stack traces for every span and sub-span which has memory, network, and CPU overhead.

[2021-11-04 13:15] VladLasitsa commented on #116735
Cannot reproduce it, seems it was fixed by another PR.

[2021-11-04 13:15] #116735 closed

[2021-11-04 13:26] kibanamachine commented on #117462
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2571#b69d58a1-3e4c-4328-ba1a-d1ac0098f603)

[2021-11-04 13:27] stratoula opened #117512 "[Lens] Heatmap problem with colouring cells with value equal to the min value"
**Describe the bug:**
I create a lens heatmap and I see that if a cell has a metric value equal to the min value of the bands, then it is not coloured correctly.

![image](https://user-images.githubusercontent.com/17003240/140321353-2d289322-2091-4fa1-82cc-aa78e72c5093.png)

Here the color of the right cell shpuld be blue but is transparent instead

[2021-11-04 13:27] elasticmachine commented on #117491
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-04 13:27] elasticmachine commented on #117512
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-04 13:27] elasticmachine commented on #117479
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-04 13:28] mikecote opened #117513 "Discuss expected behaviour on background tasks when Kibana shuts down"
We should document the current behaviour and create an RFC to gain alignment on what the expectations are on background tasks when Kibana shuts down.

Some things come to mind:
- For running tasks, task manager will use "timeout" logic before considering the execution a failure. This impacts alerting rules that have a high-frequency schedule.

Questions:
- Should we add logic on shutdown to turn o

[2021-11-04 13:28] elasticmachine commented on #117513
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-04 13:29] mikecote commented on #117513
@pmuellr feel free to add to the description with some of your thoughts as well 👍

[2021-11-04 13:32] mistic commented on #117404
This test looks flaky. Skipping for now.

main/8.1: b121681
8.0: e7ca0c2

[2021-11-04 13:32] mistic commented on #113043
This test looks flaky. Skipping for now.

main/8.1: b121681
8.0: e7ca0c2

[2021-11-04 13:33] elasticmachine commented on #117462
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-11-04 13:35] azasypkin commented on #111377
Scheduled a 50x flaky test run to see if it's still flaky: https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/153#5da5678d-876a-4ec5-a899-d23f759d8945

[2021-11-04 13:37] mistic commented on #117462
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 03999ab
8.0: cbd8bef
7.16: e7b573c

[2021-11-04 13:41] smith opened #117516 "Fix flaky dependencies e2e test"
There was an intermittent failure on a dependencies e2e test. Fix it.

[2021-11-04 13:41] elasticmachine commented on #117516
Pinging @elastic/apm-ui (Team:apm)

[2021-11-04 13:47] nickofthyme commented on #117476
@flash1293 I think you are thinking of disabling the multilayer time axis (MLTA) when the rotation of the chart/axis put the MLTA on the left or right, which in this case we disable it.

![Screen Recording 2021-11-04 at 08 43 50 AM](https://user-images.githubusercontent.com/19007109/140324333-60da9802-5e6b-4eab-8aaa-cbd96ffcc90a.gif)

---

Regarding the tick label rotation, I don't think that is s

[2021-11-04 13:49] legrego opened #117517 "Collect usage data on proxy-based authentication mechanisms"
Most users who run with security enabled login using Kibana's built-in login flows, for both internal and external authentication realms.

Some setups are a bit more esoteric. Users with unique auth needs will sometimes place a reverse-proxy in front of Kibana, and have the proxy pass an `Authorization` header to Kibana. This will cause us to bypass the login form altogether.

Users authenticating

[2021-11-04 13:49] elasticmachine commented on #117517
Pinging @elastic/kibana-security (Team:Security)

[2021-11-04 13:52] dej611 commented on #117512
This can be easily replicated via the `kibana_sample_data_flights` dataset, using the `Cancelled` field for the Horizontal axis and the `AvgPricePerTicket` as metric/cell value.

What happens is that the value is something like `491.688888881111` or similar, but the color ranges generated are rounded up to the second decimal digit `492.69` and this makes the comparison fail, leaving the cell witho

[2021-11-04 13:52] madirey commented on #117471
Related: https://github.com/elastic/kibana/issues/110735

[2021-11-04 13:55] marxello commented on #117084
Hi Rudolf, I highly recommend making the cache refresh time configurable so that everyone can adjust its value according to their environment

[2021-11-04 13:55] richardgilm commented on #117489
@rudolf could we make so that the polling frequency of telemetry is a configurable parameter, exposed in kibana.yml?

[2021-11-04 13:55] mukeshelastic commented on #115235
That is my take but I'd like to align with Alex, Casper, Daniel and Kate before we make a final call whether MVP should contain it or not. Alex, Casper have done lot of prior thinking on it so I'd like to make sure we make the right UX call here in alignment with APM.

Definitely worth exploring the incremental and yet acceptable steps we could take to ship something sooner. I am operating under a

[2021-11-04 14:00] mikecote opened #117521 "Test cross cluster search for index threshold and Elasticsearch query rule types"
We should set up a cross-cluster search environment and test how our rule types behave with such configuration. We should file issues, if necessary, on the steps necessary to officially support cross-cluster searching.

[2021-11-04 14:00] elasticmachine commented on #117521
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-04 14:05] elasticmachine commented on #117492
Pinging @elastic/apm-ui (Team:apm)

[2021-11-04 14:06] kevinlog opened #117523 "[Security Solution] When disabling `endpoint.metadata_united-default-1.2.1` transform, Endpoint list message names `endpoint.metadata_current-default-1.2.1` transform"
**Kibana version:**
7.16

**Describe the bug:**
When the `endpoint.metadata_united-default-1.2.1` transform is disabled, the message on the Endpoint list to alert users of the problem names the `endpoint.metadata_current-default-1.2.1` transform

**Steps to reproduce:**
1. Deploy an Agent running Endpoint Security
2. See the Endpoint in the list
3. Disable `endpoint.metadata_united-default-1.2.1`

[2021-11-04 14:06] elasticmachine commented on #117523
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-11-04 14:11] jloleysens commented on #116708
It would be unfortunate to lose this test coverage in CI, but if there is no relatively low-effort path to keeping it I think this sounds reasonable too.

[2021-11-04 14:11] azasypkin commented on #63276
@liza-mae when we adjust our tests, how are we supposed to test them before merging? Is there any way to set up testing environment similar to what you use locally?

[2021-11-04 14:12] rudolf opened #117527 "Saved objects management cannot export if more than 10k saved objects"
Related to https://github.com/elastic/kibana/issues/116776

If a user has more than 10k saved objects it's no longer possible to export their saved objects from the saved objects management UI

[2021-11-04 14:13] weltenwort commented on #115235
It could certainly be made to work, but not with zero effort. Here are some variations I could think of that have different complexities:

1. There is no interaction with a row. This is likely the least effort.
2. Clicking the row navigates to the node detail page on the metrics UI.
3. Clicking the row shows a popover of some sort. For this we might have to specify additional requirements, e.g whi

[2021-11-04 14:15] weltenwort commented on #97108
@shahzad31 so you're already using the embeddable registry? how does it handle the type safety for the parameters?

[2021-11-04 14:18] tvlieg commented on #17726
Is this still considered? We would like to use this feature as well.

[2021-11-04 14:20] azasypkin commented on #111300
Scheduled a 50x flaky test run to see if it's still flaky: https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/159#c61a8cb5-a42f-482a-bbf0-922940e9f923

[2021-11-04 14:23] mikecote commented on #106292
I think the main problem here is that rules are running when the rule is disabled. From what I recall, rules can either not have an API key and be disabled, or have an API key and be enabled. If we add guardrails to ensure rules don't run when disabled, I believe this problem goes away.

We could also consider my scenario above (https://github.com/elastic/kibana/issues/106292#issuecomment-89548831

[2021-11-04 14:27] timroes opened #117532 "[Discover] Enable threshold alerts"
We want to enable threshold alerts in Discover. Those should be able to take a configured search (filter/query) in Discover and allow to setup an alert that will trigger if the value of found documents is above or below a configured threshold.

We want to approach the implementation in 3 phases:

* [x] **Phase 1** - Simple POC that allows configuring an alert and see that alerting triggered (#1178

[2021-11-04 14:27] elasticmachine commented on #117532
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-04 14:27] timroes commented on #71097
Closing in favor of https://github.com/elastic/kibana/issues/117532

[2021-11-04 14:27] #71097 closed

[2021-11-04 14:28] timroes commented on #71099
Closing in favor of https://github.com/elastic/kibana/issues/117532

[2021-11-04 14:28] #71099 closed

[2021-11-04 14:28] timroes commented on #71098
Closing in favor of https://github.com/elastic/kibana/issues/117532

[2021-11-04 14:28] #71098 closed

[2021-11-04 14:29] #113414 closed

[2021-11-04 14:35] #115624 closed

[2021-11-04 14:43] sqren opened #117535 "[APM] Replace environment selector with `EuiSuggest` or similar"
**Problem**
Currently environments are displayed in a dropdown. This doesn't scale well if the cluster has 100s or 1000s or unique environment values. By default 100 environments are displayed. While this is configurable via `xpack.apm.maxServiceEnvironments` increasing this number will only make this list harder to navigate and performance will be affected.

![image.png](https://zube.io/files/ela

[2021-11-04 14:43] elasticmachine commented on #117535
Pinging @elastic/apm-ui (Team:apm)

[2021-11-04 14:46] shahzad31 commented on #102602
@paulb-elastic i lost track of this one, i don't have any design specific.

@liciavale any help here would be appreciated.

[2021-11-04 14:48] jgowdyelastic opened #117536 "[ML] Data frame analytics data view error toast if job isn't started"
Toast error appears after creating DFA job and on the jobs list when a DFA job is created but not started
![image](https://user-images.githubusercontent.com/22172091/140334735-671fd9c1-0630-4de2-82d4-bc09525ca601.png)

**Steps to reproduce:**
1. Create a DFA job using the wizard ensure to select the "Create data view" option,
2. At the last step deselect "Start immediately"
3. Press "Create"

The

[2021-11-04 14:48] elasticmachine commented on #117536
Pinging @elastic/ml-ui (:ml)

[2021-11-04 14:50] flash1293 commented on #117476
Yeah, I was referring to the tick label rotation. It's fine for me to disable the settings, I was just wondering.

[2021-11-04 14:50] ryankeairns opened #117538 "[Discover] Field Statistics rollout by default"
_Meta issue to track remaining work for Field Statistics by default rollout._

## Required for rollout by default

- [x] https://github.com/elastic/kibana/pull/107184
- [ ] Design fixes #117602
- [ ] Enumerate research tasks (need to draft plan; otherwise hidden in adv settings)
- [x] Fix for data views with lots of fields https://github.com/elastic/kibana/issues/119759

**Noted in [PR above as fo

[2021-11-04 14:50] elasticmachine commented on #117538
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-04 14:52] #116443 closed

[2021-11-04 14:53] vigneshshanmugam commented on #117492
@lizozom Approving from the RUM agent side. Looks good interns of perf and data concerns.

[2021-11-04 14:53] ghudgins commented on #117476
Disable tooltip copy idea: "Axis orientation is not compatible with a time axis. Update the field on this axis to control the orientation"

[2021-11-04 14:54] ymao1 commented on #116321
@mikecote I think we could possibly update the `updateByQuery` to take the task type into consideration and never mark alerting tasks as failed?

Do you think this scenario is common enough to add a fix for it? I

[2021-11-04 14:56] justinkambic commented on #115928
I was able to reproduce this locally, thank you for bringing it to our attention.

Steps to repro are just what the description says. Create a browser monitor, configure a Monitor Status rule with `n` downs within a timespan. When the monitor fails the first time, the rule will become active.

![image](https://user-images.githubusercontent.com/18429259/140336930-b490e072-7078-4136-a1bd-6ea2c021e23

[2021-11-04 15:03] stratoula commented on #117476
It is compatible with the old time axis (legacy). Should we mention this on the tooltip?

[2021-11-04 15:11] lukeelmers commented on #104088
Just discussed this as a team, and we decided that moving toward per-version schemas would make sense for us longer term, as (among other things) it could improve the migration authoring experience if a version-specific validation could be run before each migration function.

However, this would significantly blow up the scope of this effort, and we want to start small here.

So we agreed a good p

[2021-11-04 15:12] lizozom commented on #117492
@vigneshshanmugam can you help me understand the parts marked with `???` - I don't fully understand the reasoning behind:

- elastic.apm.breakdownMetrics: false
- elastic.apm.captureSpanStackTraces: false
- elastic.apm.metricsInterval: '120s'

(read the docs, still not sure)

Also, what is the intent behind the `environment` option. Should we use it to store the name of each cluster (and have a dr

[2021-11-04 15:15] 1Copenut opened #117540 "[KEYBOARD]: Additional chart data should be available by mouse hover and keyboard navigation"
**Steps to reproduce**

1. Log into a Kibana test instance dashboard
2. Mouse over a chart like a time series or pie chart, verify the additional data popover appears
3. Tabbing will skip over the chart and likely land on the chart controls or next panel

<img width="851" alt="Screen Shot 2021-11-04 at 9 56 09 AM" src="https://user-images.githubusercontent.com/934879/140341371-0a5a030e-0a3f-48d1-b

[2021-11-04 15:15] elasticmachine commented on #117540
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-11-04 15:15] elasticmachine commented on #117540
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-11-04 15:15] elasticmachine commented on #117540
Pinging @elastic/datavis (Team:DataVis)

[2021-11-04 15:18] mshustov commented on #117492
https://github.com/elastic/kibana/issues/78792#issuecomment-705505168

https://github.com/elastic/kibana/issues/78792#issuecomment-776747028

It reduces the network communication overhead at the cost of higher memory consumption
https://github.com/elastic/kibana/issues/78792#issuecomment-705516033

Are you going to use `propagateTracestate: true` as discussed today in Slack?  https://www.elastic.c

[2021-11-04 15:19] pmuellr opened #117541 "[rule registry] alerts-as-data indices need to be hidden to avoid deprecation warning"
**Kibana version:** 7.16.0 BC2

Seen in the ES deprecation log `.logs-deprecation.elasticsearch-default`:

`index name [.internal.alerts-observability.logs.alerts-default-000001] starts with a dot '.', in the next major version,
index names starting with a dot are reserved for hidden indices and system indices`

It's the same issue as reported for the event log, here: https://github.com/elastic/ki

[2021-11-04 15:19] elasticmachine commented on #117541
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-04 15:20] rudolf commented on #104088
👍

Adding validations to migrations would also mean that upgrades fail when we encounter invalid documents. Whereas some migrations are written in a way that ignores invalid data to allow the migration to succeed even with corrupt data.

So we would want to have API validation in place for a long time, then perhaps warn on failed migration validation and perhaps only then enforce it.

[2021-11-04 15:26] lucasfcosta opened #117543 "[User Experience] Errors within the UX dashboard cause the whole application to crash"
**Kibana version:** v8.0.0-SNAPSHOT

**Elasticsearch version:** v8.0.0-SNAPSHOT

**Server OS version:** MacOS Big Sur 11.6

**Browser version:** Version 95.0.4638.69 (Official Build) (x86_64)

**Browser OS version:**  MacOS Big Sur 11.6

**Original install method (e.g. download page, yum, from source, etc.):**

Kibana is running from source and connecting to a remote ES intance on `gcp-us-west2` c

[2021-11-04 15:26] elasticmachine commented on #117543
Pinging @elastic/uptime (Team:uptime)

[2021-11-04 15:26] lizozom commented on #117492
Thanks @mshustov I will add `propagateTracestate` to the config.

However I still would love a real clarification of what each thing does. For example `breakdownMetrics` is explained as: `Used to disable reporting of breakdown metrics which records self time spent in each unique type of span.`. But what is the "self time"? What can those metrics be used for?

I think that the existing docs require

[2021-11-04 15:28] lucasfcosta commented on #116226
@dominiqueclarke as you've mentioned, I've split this issue into two, and created a separate issue for the error boundary itself, which you can see at https://github.com/elastic/kibana/issues/117543.

Indeed, this doesn't seem to happen straightaway on the `edge-oblt` cluster itself.

Furthermore, I've unassigned myself from this one as you mentioned you were already looking into the underlying ca

[2021-11-04 15:37] #84957 closed

[2021-11-04 15:37] kibanamachine commented on #98910
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2581#29e9c6c5-4ea2-47c7-b866-3c47dbf153bd)

[2021-11-04 15:38] simitt commented on #116847
SGTM

[2021-11-04 15:38] mshustov commented on #104088
Can we start with emitting a warning in the dev mode and collecting production telemetry to track the number of such malformed docs?

[2021-11-04 15:41] kibanamachine opened #117547 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> error indicators clears all error indicators if last erring field is unmounted"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2580#a2f8cc8f-cf02-4cc6-bcc2-a87bcb495580)

[2021-11-04 15:42] jportner commented on #116889
Now that this is skipped, closing again in favor of the other issue

[2021-11-04 15:42] #116889 closed

[2021-11-04 15:42] jportner commented on #117081
Now that this is skipped, closing again in favor of the other issue

[2021-11-04 15:42] #117081 closed

[2021-11-04 15:42] jportner commented on #115474
Now that this is skipped, closing again in favor of the other issue

[2021-11-04 15:42] #115474 closed

[2021-11-04 15:42] jportner commented on #116890
Now that this is skipped, closing again in favor of the other issue

[2021-11-04 15:42] #116890 closed

[2021-11-04 15:47] tylersmalley commented on #116755
@sqren, totally agree with setting this and probably other APM settings by default on Cloud. But shouldn't that change happen in the Cloud repository? Not sure what the ask is from Ops here.

[2021-11-04 15:48] mshustov commented on #117492
yes, I've had the same problem so it required some time to dig through the APM repo, but I found this doc describing this specific setting
https://docs.google.com/document/d/1-_LuC9zhmva0VvLgtI0KcHuLzNztPHbcM0ZdlcPUl64/edit#heading=h.2k0fyzig00jf

[2021-11-04 15:53] mistic commented on #116708
@jloleysens is up to you guys to decide what to do here, but I think the best option is to remove the dependency from our pkg.json and disable the test for now, contribute upstream on https://github.com/Automattic/node-canvas to introduce https://github.com/prebuild/prebuildify so we dont need any local dependency to install that node module and then re-introduce the dep and the test again 😃

[2021-11-04 15:58] omegahack0 opened #117548 "Timespan user variable"
**Describe the feature:**
the duration of whatever timespan is selected to be used as a variable
**Describe a specific use case for the feature:**
With the timespan being a field that can be read from the user side of things such as within a tsvb visualization, the user can more easily use the timespan to make charts for things like utilization that will scale with whatever time span is selected.

[2021-11-04 15:58] mikecote commented on #117541
@elastic/rac

[2021-11-04 15:58] andrew-goldstein opened #117549 "[Security Solution] No retry mechanism for a titled Timeline in an `Unsaved` state"
**Describe the bug:**

A user reports that a timeline open for multiple days entered a state where it displayed both a title, and the `Unsaved` indicator, per the screenshot and report below:

![title_and_unsaved_state](https://user-images.githubusercontent.com/4459398/140359460-9d374cb3-0fe9-4080-9d9b-a70fca78ff24.png)

_Above: The timeline displays both a title and the `Unsaved` indicator_

The

[2021-11-04 15:58] elasticmachine commented on #117549
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-04 15:59] 1Copenut opened #117550 "[COGNITION]: Consider adding an underline to the KQL link in Syntax Options popover"
**Description**
A customer has identified the KQL link is difficult to identify in some situations because the text is not underlined and the blue color has less than a 3:1 contrast ratio to the black text around it.

<img width="771" alt="Screen Shot 2021-11-04 at 10 54 01 AM" src="https://user-images.githubusercontent.com/934879/140374205-530125ef-fbb5-473e-a8f3-5ee01b5ff9a1.png">

**Actual Resu

[2021-11-04 15:59] elasticmachine commented on #117550
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-11-04 16:01] #117516 closed

[2021-11-04 16:14] 1Copenut opened #117554 "[TSVB][COLOR CONTRAST]: Default label colors should have 4.5:1 color contrast ratio"
**Steps to reproduce**

1. Log into a Kibana sample instance
2. Create a new TSVB > Metric visualization
3. Inspect the visualization with Chrome or Firefox dev tools. Note the color contrast ratio in light and dark themes.

<img width="1073" alt="Screen Shot 2021-11-04 at 11 06 44 AM" src="https://user-images.githubusercontent.com/934879/140376846-c7f0465a-45f0-40cd-ba15-3488e5ca7c60.png">

---
<

[2021-11-04 16:14] elasticmachine commented on #117554
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-11-04 16:15] nchaulet commented on #116985
Just tested with the latest SNAPSHOT and looks like the issue is still here.

[2021-11-04 16:16] nchaulet commented on #116985
@ruflin The issue seems to be related to the fact we now auto upgrade the system package policies and a data stream as been removed since 7.12.

[2021-11-04 16:21] flash1293 commented on #116034
Sounds like this is maybe due to Elasticsearch. Let me know if you can reproduce it in a robust way. I'm going to close this issue for now but feel free to re-open if there's something coming up.

[2021-11-04 16:21] #116034 closed

[2021-11-04 16:21] fkanout commented on #117260
@hbharding, regarding the dismiss-per-user, unfortunately, this is not feasible due to how local storage is designed.

And I double-checked with the Kibana security team and other folks who implemented similar functionality (using local storage), and they confirmed that we don't have a utility to scope the local storage.

Other alternatives:
- 🚫 **session storage**: it's feasible. However, the cav

[2021-11-04 16:22] simianhacker commented on #116944
They need a Simulate API... `const results = alertService.simulate({ id: ALERT_ID, period: "1h" })`

[2021-11-04 16:28] kking124 opened #117556 "After upgrading Kibana from 7.14.2 to 7.15.1 Kibana fails to start with TypeError: Cannot read property 'schema' of undefined"
**Kibana version:** 7.14.2 -> 7.15.1

**Elasticsearch version:** 7.15.1

**Server OS version:** Linux ip-XXX-cloud-amd64 #1 SMP Debian 4.19.208-1 (2021-09-29) x86_64 GNU/Linux

**Browser version:**  Microsoft Edge Version 95.0.1020.30 (Official build) (64-bit)

**Browser OS version:**  Windows 10 Pro 21H1 19043.1288 x64

**Original install method (e.g. download page, yum, from source, etc.):**

Bi

[2021-11-04 16:32] jethr0null opened #117557 "[Feature Request] Add 'run rule' for time range option to the Security API"
**Describe the feature**: As a user, I want the ability to run a rule for events that occurred between a specified starting date/time and ending date/time.

For Example:
Outage starts: 1200
Outage resolved: 1800
We need a capability to run all of our detection rules between any log events between 1200-1800

[2021-11-04 16:32] elasticmachine commented on #117557
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-04 16:32] azasypkin commented on #111377
All 50 runs were successful, I think it's safe to close this issue for now.

[2021-11-04 16:35] elasticmachine commented on #117471
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-04 16:37] flash1293 commented on #116424
Stretch goal: Saving within Lens should overwrite a by-value panel on dashboard/canvas - in case of by reference, Lens should treat it as unsaved visualization.

[2021-11-04 16:45] 1Copenut opened #117559 "[TSVB]: Explore additional HTML editing in Markdown visualization"
**Describe the feature:**
Some users have asked for the ability to edit or enter HTML into the TSVB > Markdown editor where we currently only allow the [GitHub flavored subset of Markdown](https://guides.github.com/features/mastering-markdown/).

**Describe a specific use case for the feature:**
* Create tables that can be used for layout only be entering a `role="presentation"` into the `<table>`

[2021-11-04 16:49] #97085 closed

[2021-11-04 16:50] ymao1 commented on #116636
Spun up some BC3 deployments:

[7.16-BC3 empty](https://logging.europe-west1.gcp.elastic-cloud.com/app/kibana#/dashboard/Compute-Applications-containers-overview?_g=(time:(from:now-20h,to:now))&_a=(query:(language:kuery,query:'ece.cluster:e5e2bb65dd414345840237e8b0bbf0d6')))

[7.16-BC3 rules](https://logging.europe-west1.gcp.elastic-cloud.com/app/kibana#/dashboard/Compute-Applications-containers-o

[2021-11-04 16:52] elasticmachine commented on #117547
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-04 16:53] weltenwort opened #117562 "[Infra UI] Set deprecation level for index config key removal"
## :notebook: Summary

:warning: This explicitly targets version 7.16 and is not applicable to 8.0.

According to #115344 all registered deprecation should have a `level`. This is not the case for the deprecations of the `logAlias` and `metricAlias` keys.

part of #115344

## :heavy_check_mark: Acceptance criteria

- All deprecations that the `infra` plugin registers have an appropriate `level` se

[2021-11-04 16:53] elasticmachine commented on #117562
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-04 16:54] jbudz commented on #98910
Re-closing.  That backport went through after ^ started

[2021-11-04 16:54] #98910 closed

[2021-11-04 16:54] #116195 closed

[2021-11-04 16:55] kuisathaverat commented on #63123
I am start using the fleet aPI and I have notice that return JSONs does not follow the same pattern to return the root list of results for different calls, for example `/api/fleet/agent_policies` returns `items[]` , `/api/fleet/enrollment-api-keys` return `item[]` , and `/api/fleet/agents` returns `list[]`

[2021-11-04 17:00] #112749 closed

[2021-11-04 17:05] flash1293 commented on #116555
Just had a single failure yet, closing for now

[2021-11-04 17:05] #116555 closed

[2021-11-04 17:11] trentm commented on #117492
This is a value that we can tune up and down between 0.0 and 1.0 based on a balance between lower measured load (on the traced Kibana and on the receiving kibana-cloud-apm.elastic.dev infra) and having more complete trace data.

@mshustov Found the original design document.
The `breakdownMetrics: false` setting tells both APM agents to stop collecting/calculating breakdown metrics.
For the Node.js

[2021-11-04 17:14] flash1293 commented on #117353
@VladLasitsa @chandlerprall It seems like `wrapper.update()` is not 100% reliable for the data grid - is this happening because of some internal debouncing / asynchronous stuff inside of the component which might not be visible to enzyme? Do you have an idea how to work around this?

[2021-11-04 17:15] flash1293 commented on #117352
Just happened once - closing for now

[2021-11-04 17:15] #117352 closed

[2021-11-04 17:23] flash1293 commented on #113792
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-11-04 17:23] #113792 closed

[2021-11-04 17:25] flash1293 commented on #100301
@markov00 Do you think it would make sense to fix this in the visualization itself (elastic-charts in this case)? Basically allowing a non-categorical axis for the y axis in heatmaps and passing in the interval and the fills in the missing rows even if they don't have data.

[2021-11-04 17:29] alexfrancoeur opened #117570 "Modify text for Analytics empty state"
Today the analytics empty state says "Elastic Analytics". This sounds as if it's a solution. While there is a broader discussion as to whether or not we should be prefixing solutions with "Elastic" in their empty states, at a minimum, we'll need to remove "Elastic" from the title.

![image](https://user-images.githubusercontent.com/25181823/140389410-d7b2df27-6014-4c41-b720-46c0d26b07bb.png)

@sni

[2021-11-04 17:33] pmuellr commented on #116321
For some reason I was thinking it would be as easy as adding a migration to "fix" these failed rules, by clearing the fails and ensuring they have a scheduled interval.  But I guess ... what interval?  Maybe we need to mark the tasks with a new field "needs an interval!", and then let alerting fix it in a cleanup task or next time it runs the rule executor.

[2021-11-04 17:42] mikecote commented on #116321
Since this issue is a research issue, I think we could come up with a proposal on how we envision this getting fixed and create a follow-up issue to prioritize accordingly.

I think @ymao1 and @pmuellr you're onto something; maybe some per-task-type logic, maybe task types can define themselves as single occurrences (run once) or recurring occurrences (run on interval) and leverage that in the upd

[2021-11-04 17:50] ymao1 commented on #116321
I think it's important to note that this scenario shouldn't happen on 7.11+ rules. They should never be marked as failed and they will continue getting claimed because they have a `schedule` field.

I think if we want to go back and fix pre-7.11 rules, perhaps we could have a task manager migration that looks for alerting task types with no schedule and resets their number of attempts to 0 and res

[2021-11-04 17:51] ryankeairns commented on #117570
Yes. Backport to both 7.16 and 8.0 then?

[2021-11-04 17:55] vigneshshanmugam commented on #117492
@trentm Has covered most of the RUM stuff as well.

Breakdown metrics calculatiion depends totally on the number of different types of spans a given transaction contains when it comes to RUM agent. Kibana being heavy on the number of network requests, Its good to keep it simple and not do that. Page load transactions are different category as we don't rely on number of spans, instead use the metri

[2021-11-04 17:57] #115257 closed

[2021-11-04 17:57] #115259 closed

[2021-11-04 17:57] #115252 closed

[2021-11-04 17:57] #115254 closed

[2021-11-04 18:01] alexfrancoeur commented on #117570
👍

[2021-11-04 18:06] alexfrancoeur commented on #116975
I can't seem to reproduce again, even with a cleared cache. Should we keep this open to track just in case? I can add a HAR if I see it again.

I would think that may have some positive (albeit minimal) impact on performance as well.

[2021-11-04 18:15] mimitsu opened #117575 "review Kibana course outline"
Request to have new course outline for Data Analysis with Kibana reviewed by Kibana docs team.

To be shared with Education GTM team and web team.

[2021-11-04 18:15] elasticmachine commented on #117575
Pinging @elastic/kibana-docs (Team:Docs)

[2021-11-04 18:27] #116759 closed

[2021-11-04 18:39] kibanamachine commented on #116532
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2590#bd9b530c-b5ae-4832-b80b-f06bce1a8f29)

[2021-11-04 18:47] #117038 closed

[2021-11-04 18:47] katefarrar commented on #93957
@mukeshelastic tagging you in case you want to add anything

[2021-11-04 18:49] #116758 closed

[2021-11-04 19:07] tylersmalley opened #117586 "SecuritySolution test makes Jest exit 1"
Config paths and the skipped test are only valid after https://github.com/elastic/kibana/pull/117188 is merged.

When running the `event details` describe block in `x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.test.tsx` with Jest using `--runInBand`. Jest will return an exit code 1, even though all tests pass. This is possibly related to https://github.com/

[2021-11-04 19:18] pmuellr commented on #116321
Ya, this sounds better than my idea!  They will have a YUUUGE task delay/drift, once they run!  My only concern is that if it ends up failing again 3 times, the interval still wouldn't be set, and so it would be in a zombie state again.  Maybe add a check when we run the rule, if the schedule isn't in the task, do a one-time update on it to set it?

[2021-11-04 19:47] brianseeders commented on #117586
https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.test.tsx#L192

This function needs to be `await`ed (and the test will need to be async).

If you `await` that, you'll actually see that the test is failing. So, it must be failing asynchronously and Jest is handling it in a weird way.

[2021-11-04 19:49] ymao1 commented on #116321
That makes sense sounds pretty straightforward! I'll create a follow up issue for these items.

[2021-11-04 20:19] ymao1 opened #117593 "[Alerting] Gracefully restore failed rules from pre-7.11"
In [this issue](https://github.com/elastic/kibana/issues/116321) we have determined that for rules created prior to 7.11, the associated task manager document does not contain the `schedule` field:

<details>
<summary> Example pre-7.11 rule task doc </summary>

[code]

</details>

When rules are running normally and Kibana is upgraded to 7.11+, after the next normal execution, the task manager doc

[2021-11-04 20:19] elasticmachine commented on #117593
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-04 20:20] ymao1 commented on #116321
Created https://github.com/elastic/kibana/issues/117593 to implement the suggestions from this research issue. Closing this issue.

[2021-11-04 20:20] #116321 closed

[2021-11-04 20:24] thomasneirynck commented on #115436
Closing, dupe of https://github.com/elastic/kibana/issues/115564

[2021-11-04 20:24] #115436 closed

[2021-11-04 20:24] thomasneirynck commented on #115564
For the correct copy, see https://github.com/elastic/kibana/issues/115436#issuecomment-946858013

[2021-11-04 20:26] tylersmalley commented on #117586
Thanks @brianseeders! Fixed in https://github.com/elastic/kibana/pull/117188/commits/043a2fb88c8f9e11bac13d79d9525c4fa0afc0bd

[2021-11-04 20:26] #117586 closed

[2021-11-04 20:48] pmuellr commented on #116636
_(OMG, this comment has been sitting in my browser for DAYS!!! Wops! So not really relevant anymore, but figured I'd note how I figured out marks were leaking)_

Here's a script that will count how many performance "marks" you can make before it OOMs w/1GB old space.  First run is on node v16 (OOMs), second is on node v14 (doesn't OOM).

<details>
<summary><code>perf-mark.js</code></summary>

[cod

[2021-11-04 20:50] rudolf commented on #117489
@richardgilm once we implement https://github.com/elastic/kibana/issues/117084 we will reduce the polling frequency of Kibana polling Elasticsearch to the cache duration. We still need to decide on the cache duration but this will likely be in the order of 12 or 24 hours. When we poll only once a day I don't think configuring this to poll e.g. once every 3 days is likely to provide any further per

[2021-11-04 20:55] rudolf commented on #116636
@ymao1 It doesn't look like you've enabled monitoring from the BC3, could you send the monitoring logs to https://ymao-monitoring.kb.europe-west1.gcp.cloud.es.io:9243/app/monitoring#/home?_g=(refreshInterval:(pause:!f,value:10000),time:(from:now-8d,to:now))

[2021-11-04 20:56] kibanamachine opened #117599 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/add_to_dashboard·ts - lens app lens add-to-dashboards tests should allow new lens to be added by reference to a new dashboard"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2598#cc4af645-c371-43c1-b57f-c9b8b9b48359)

[2021-11-04 21:00] ymao1 commented on #116636
@rudolf Oops! Just enabled.

[2021-11-04 21:21] andreadelrio opened #117602 "[Discover] Field statistics design issues"
- [x] Improve layouts of expanded rows, the following are some examples of what we could improve

![image](https://user-images.githubusercontent.com/4016496/140416061-98da4247-6cb6-4c92-a30a-32c11de84c78.png)
![image](https://user-images.githubusercontent.com/4016496/140416135-c00a2581-edfb-4828-93b0-587170cb1ab9.png)
![image](https://user-images.githubusercontent.com/4016496/140416347-1f95234f-d4

[2021-11-04 21:22] elasticmachine commented on #117602
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-04 21:52] #115965 closed

[2021-11-04 21:52] #117007 closed

[2021-11-04 21:52] #117009 closed

[2021-11-04 21:59] kibanamachine opened #117606 "Failing test: Jest Tests.x-pack/plugins/canvas/storybook - Storyshots components/Shapes/ShapePicker default"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2598#4b22ba2f-1c86-426b-a5b2-1ca3d6db427c)

[2021-11-04 21:59] kibanamachine opened #117607 "Failing test: Jest Tests.x-pack/plugins/canvas/storybook - Storyshots components/Shapes/ShapePickerPopover default"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2598#4b22ba2f-1c86-426b-a5b2-1ca3d6db427c)

[2021-11-04 22:54] elasticmachine commented on #117570
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-11-04 22:59] kibanamachine commented on #113105
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2601#4db711c6-2783-4d7c-ba88-e6f57595b37d)

[2021-11-05 00:43] andrewctate commented on #114625
@flash1293 I have some ideas about this one, so maybe you can tell me if I'm on the right track.

## UI Changes

Getting the actions to show up in the column dropdown menus is a matter of removing these `isReadOnly` [checks](https://github.com/andrewctate/kibana/blob/46e91f3d12e16d29d621d994792c3529fb1984ed/x-pack/plugins/lens/public/datatable_visualization/components/columns.tsx#L218-L231).

## S

[2021-11-05 04:16] matschaffer opened #117614 "[Stack Monitoring] Make sure SM queries can handle both `process` and `processes` metrics across 7.x and 8.x indices"
In https://github.com/elastic/kibana/issues/113149 we'll add support for `procesess` metrics.

In this issue we need to address how to handle `process` metrics coming from older kibanas into kibana 8.0 stack monitoring UI.

We're anticipating the use of runtime fields to "upgrade" `process` metrics to `processes`  but it's unclear if this has been attempted anywhere in the stack yet.

[2021-11-05 04:16] elasticmachine commented on #117614
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 04:20] matschaffer opened #117615 "[Stack Monitoring] Create simulator for stack monitoring data"
In order to test new kibana metrics formats (https://github.com/elastic/kibana/issues/113149) ahead of metricbeat being available (https://github.com/elastic/beats/issues/27569) we'll need a way to generate fake data.

It'd be great to have this in general for things like testing pagination updates, mixed version scenarios, or even answering SDHs that involve tricky data collection models (mixed m

[2021-11-05 04:21] elasticmachine commented on #117615
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 04:21] elasticmachine commented on #113149
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 04:22] matschaffer commented on #113149
@jasonrhodes I guess I should have read the "Ac" more carefully. I've identified the changes (`process: {}` to `processes: [{}]`.

I've adapted this issue to handle adding graphing but maybe I should close this one and open a new one to address graphing. Let me know what you think.

[2021-11-05 04:39] #78543 closed

[2021-11-05 04:54] lukasolson opened #117616 "Lens shows "empty dataset" when time range includes only frozen indices"
**Describe the bug:**

Lens shows "empty dataset" when all data in the selected range is frozen.

**Screenshots (if relevant):**

Lens showing empty dataset:

![image](https://user-images.githubusercontent.com/1178348/140459924-95f44388-e16f-4328-b0d5-53e1b5226a20.png)

Actual data:

![image](https://user-images.githubusercontent.com/1178348/140460025-73443187-a17b-4789-bb67-13af9b82eaf4.png)

[2021-11-05 04:55] elasticmachine commented on #117616
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-05 05:10] flash1293 commented on #117616
this is the query we are building: https://github.com/elastic/kibana/blob/main/x-pack/plugins/lens/server/routes/existing_fields.ts#L193

It seems safe to add the ignore_throttled: false parameter here since this query is not the actual data presented the user (only used for determining field availability) and anyway times out after 5s - in this case we simply render the field list without availab

[2021-11-05 07:11] Tsukiand opened #117617 "Kibana "Discover" default sorting policy"
**Kibana version:*7.14.0*

**Elasticsearch version:*7.14.0*

**Server OS version:*Centos7*

**Browser version:*Google Chrome 95.0.4638.69 (x86_64)*

**Browser OS version:*macOS Big Sur*

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Add a new index pattern, and use other field(we have field(not @timestamp) For example:

[2021-11-05 07:13] azasypkin commented on #111300
49 runs completed successfully, 1 run failed because of unrelated tests, role mapping tests didn't fail. Considering this and that the Jenkins build information is no longer available, I think we can close this one. Buildkite will indefinitely store the build information that will give us more data to debug if it fails again.

[2021-11-05 07:13] #111300 closed

[2021-11-05 07:15] rdrgporto opened #117618 "[APM] Add setting xpack.apm.autocreateApmIndexPattern in Kibana documentation"
### Kibana version

7.14.2

### APM Server version (if applicable)

7.14.2

### Elasticsearch version (if applicable)

7.14.2

### Steps to Reproduce

_No response_

### Expected Behavior

Documentation should contain an explanation about the setting `xpack.apm.autocreateApmIndexPattern` in [Kibana documentation](https://www.elastic.co/guide/en/kibana/7.14/apm-settings-kb.html).
### Actual Behavio

[2021-11-05 07:15] elasticmachine commented on #117618
Pinging @elastic/apm-ui (Team:apm)

[2021-11-05 07:25] matschaffer commented on #117615
@jasonrhodes let me know if this approach makes sense to to you. I could alternatively put this on ice until the beats work is done, then use a real stack to do dev UI work.

[2021-11-05 07:29] matschaffer commented on #117615
Just wanted to note I also tried out some other data generator tooling:

1. `essiem` - this has an `esexport` function I thought might be useful for exporting real data, but the randomization seemed very fixed on replacing only agent host name information
1. https://github.com/elastic/kibana/tree/main/packages/elastic-apm-synthtrace - this might work, but seemed to have some baked in assumptions a

[2021-11-05 07:46] #117285 closed

[2021-11-05 07:55] mshustov commented on #117492
As a side note: Kibana allows users to configure CORS.
[code]
use https://www.elastic.co/guide/en/kibana/current/settings.html for references.

Note that CORS is disabled by default.

[2021-11-05 07:56] elasticmachine commented on #117556
Pinging @elastic/kibana-core (Team:Core)

[2021-11-05 08:13] mshustov commented on #117282
Do we really need another public extension point for a case when a plain old CSS does the trick?
A notification can have a well-known CSS class that can be used by Reporting plugin:
[code]

[2021-11-05 08:16] mshustov commented on #63742
Do we have an appropriate issue in the EUI repo?

Shouldn't we close it when the problem is fixed in the EUI?

[2021-11-05 08:36] kibanamachine opened #117620 "Failing test: Jest Tests.x-pack/plugins/cases/public/components/connectors/servicenow - useGetChoices it calls onSuccess"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2631#c4a5bcb7-72e3-4679-8e2f-d03dbb3858d7)

[2021-11-05 08:59] elasticmachine commented on #117617
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-05 09:05] #116631 closed

[2021-11-05 09:15] kertal commented on #117617
Thx @Tsukiand for reporting! I've 2 questions for this:
1. Is `@timestamp` also a valid field in the index pattern containing `@ts_nano` ?
2. Before you switched to the new index pattern, was there an index pattern selected sorted by `@timestamp`
3. If you click on `New` in Discovers toolbar, is the sorting still wrong?
Thx!

[2021-11-05 09:18] #114983 closed

[2021-11-05 09:28] #116078 closed

[2021-11-05 09:48] dgieselaar commented on #117492
@alex-fedotyev care to comment about the configuration proposed here?

[2021-11-05 09:59] jloleysens commented on #117282
@mshustov , that is a good alternate to the proposed approach. However, reporting is trying to minimise its use of injected CSS/JS into pages as this has historically been a source of maintenance when things outside of Reporting's control change (e.g. https://github.com/elastic/kibana/issues/111696).

Perhaps this is an instance where it is OK to use CSS, but I would argue leaves us open, again, t

[2021-11-05 10:04] joshdover commented on #116985
Ok if it doesn't affect 7.14 GA -> 7.16 then I don't think it should be a release blocker but we'll likely get a fix in before release anyways.

[2021-11-05 10:22] ruflin opened #117629 "[Fleet] Filtering for elastic agent package does not work as expected"
* Version: 8.0.0-SNAPSHOT

Today I did some modifications to the Elastic Agent package and wanted to do some manual test by looking at the package itself. I opened the integrations UI and typed in Elastic Agent and nothing really happened (see screenshot). Likely the reason is, that every single package also contains in the description "Elastic Agent" and the filtering happens on title and descrip

[2021-11-05 10:22] elasticmachine commented on #117629
Pinging @elastic/fleet (Feature:Fleet)

[2021-11-05 10:22] elasticmachine commented on #117629
Pinging @elastic/fleet (Team:Fleet)

[2021-11-05 10:33] cnasikas opened #117630 "[Cases] Attachment framework"
Cases support different types of attachments (comments). Each type has its own schema, types, and UI representation. If a solution wants to add its own case attachment cases files need to be modified. Developers need to know the internals of the Cases architecture to be able to create their own attachment. Also, the developers of the Cases team need to review the changes every time. A framework, p

[2021-11-05 10:33] elasticmachine commented on #117630
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-05 10:33] sqren opened #117631 "[APM] ML jobs don't start if some of the indices are unavailable"
ML jobs created from APM will not start if one or more indices index the index pattern don't exist.

**Solution**

Add `indices_options.ignore_unavailable: true` to the `jobOverrides` section in:

https://github.com/elastic/kibana/blob/2603f9d0b31c6a12301300c10f7094b3451a93ae/x-pack/plugins/apm/server/lib/anomaly_detection/create_anomaly_detection_jobs.ts#L102-L112

[2021-11-05 10:33] elasticmachine commented on #117631
Pinging @elastic/apm-ui (Team:apm)

[2021-11-05 11:09] afgomez opened #117638 "[Unified Observability] Refine the data presence checks for the overview page"
The observability overview page performs a series of checks for each of the solutions to determine if they have data. This is used to show the data onboarding page, or summary graphs.

[The data structure for this keeps a boolean `hasData`](https://github.com/elastic/kibana/blob/debdfd2fd6e1d6ed19425f4073013c8642dd35ac/x-pack/plugins/observability/public/context/has_data_context.tsx#L27) that dete

[2021-11-05 11:12] lucasfcosta commented on #107994
Hey everyone, as I was implementing the fix for this issue, I noticed that the designs @liciavale provided contain two callouts: one to inform users about needing a license, and another one to inform users about the necessary roles and privileges.

In the messages @andrewvc and @justinkambic suggested, it seems like the first one mixes `role` requirements with `license` requirements, while the sec

[2021-11-05 11:19] cnasikas opened #117639 "[Cases] Kibana tags"
Cases use their own tag system. Cases should migrate to the [Kibana Tags](https://www.elastic.co/guide/en/kibana/current/managing-tags.html). This will help users to associate cases with other saved objects of the same tag.

[2021-11-05 11:19] elasticmachine commented on #117639
Pinging @elastic/security-threat-hunting-cases (Feature:Cases)

[2021-11-05 11:19] elasticmachine commented on #117639
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-05 11:25] cnasikas opened #117640 "[Cases] Add Telemetry"
Adding telemetry to cases will give us a better understanding of how users are using Cases. The statistics could be very helpful for breaking change decisions.

## Tasks

- [x] Add telemetry for the Cases API routes (https://github.com/elastic/kibana/issues/125923, https://github.com/elastic/kibana/pull/126433)
- [x] Add telemetry for the Cases saved objects (https://github.com/elastic/kibana/pull

[2021-11-05 11:25] elasticmachine commented on #117640
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-05 11:37] kibanamachine opened #117642 "Failing test: Jest Tests.src/core/server/http - Graceful shutdown any requests triggered while stopping should be rejected with 503"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2642#3432a58e-b3f7-44d9-b0e7-785134db0e93)

[2021-11-05 11:49] #112036 closed

[2021-11-05 12:07] ymao1 commented on #116636
Looking good so far! Last 20 hours:

No `MaxPerformanceEntryBufferExceededWarning` messages in the logs. I see "Booting at" but they are from the instance reboots when I applied updated configs and turned on Logs & Metrics.

[7.16-BC3 empty](https://logging.europe-west1.gcp.elastic-cloud.com/app/kibana#/dashboard/Compute-Applications-containers-overview?_g=(time:(from:now-20h,to:now))&_a=(query:(l

[2021-11-05 12:22] pgayvallet commented on #117123
https://github.com/elastic/kibana/pull/117259 is going to remove the last javascript files from `/src/core`.

I checked our owned plugins and packages, and the only ones still having javascript files are:

- `/src/plugins/home/` **30** files

- `/src/plugins/kibana_overview/` (TIL we own this thing) **3** files
  - such as `src/plugins/kibana_overview/public/components/synopsis/synopsis.js`

- `pa

[2021-11-05 12:24] simitt opened #117645 "[APM] Fleet: API Key config is dropped when switching to data streams in Cloud"
Similar to https://github.com/elastic/kibana/issues/116385, the `apm-server.api_key.enabled` configuration is dropped when switching to Elastic Agent.

### version
7.16.0-SNAPSHOT

### Steps to Reproduce

1. Create a Cloud deployment with APM
2. Switch to Elastic Agent in the APM app
3. Observe that the config option is listed as unsupported
<img width="833" alt="Screenshot 2021-11-05 at 13 21 12"

[2021-11-05 12:24] elasticmachine commented on #117645
Pinging @elastic/apm-ui (Team:apm)

[2021-11-05 12:25] mshustov commented on #117123
😭

ok, I hope we can do it https://github.com/elastic/kibana/issues/116415. Also, in the future, all the functional tests will be under appropriate domain folders.

[2021-11-05 12:30] jloleysens commented on #115881
I looked into this a little bit and it looks like the issue for the open handles is the combination of `jest` and `mock-fs` (see https://github.com/tschaub/mock-fs/issues/341).

This is not limited to Reporting tests as I was able to reproduce this in other tests using `mock-fs`. We could try and fix this upstream, create a patch for the module, or create a custom FS mock using `jest`. I think we

[2021-11-05 12:31] afgomez commented on #97108
@weltenwort those are good points.

When I first worked with the `<LogStream />` component we couldn't export it from observability because it used the REST APIs for logs. That meant the `infra` plugin had to be active, and that the `observability` plugin depended on it, creating a circular dependency.

Right now it's no longer possible to disable any of the observability plugins, so maybe this is

[2021-11-05 12:51] peteharverson opened #117648 "[ML] Data frame analytics jobs list doesn't use auto refresh setting"
**Kibana version:** 8.0.0-beta1

The data frame analytics jobs list doesn't react to changes in the auto refresh interval and keeps refreshing at the default refresh interval of 30 seconds.

![image](https://user-images.githubusercontent.com/7405507/140512380-4c0d0ab0-5379-4425-857b-757f9b8f77fb.png)

Also if you load the page from a URL in which the refresh interval is something other than `30s`,

[2021-11-05 12:51] elasticmachine commented on #117648
Pinging @elastic/ml-ui (:ml)

[2021-11-05 12:53] rudolf commented on #107678
We have reached the following decision to be implemented in 8.0

Doing nothing in 8.0 is problematically lenient: if we don't implement a way to handle these cases, we risk causing data loss or corruption for users. Rather than allowing this, we'd prefer to fail fast with a clear message outlining the problem.

[2021-11-05 13:02] rudolf commented on #117556
I wonder if the problem isn't this instruction:
[code]

Could you try to instead do:
[code]

Given that your configuration shows `path.data: /data/kibana/data` there's nothing in the old `kibana` installation directory that needs to be maintained.

[2021-11-05 13:07] peteharverson opened #117651 "[ML] Transforms: Display managed badge against transforms in management page"
Since [7.16](https://github.com/elastic/elasticsearch/pull/79003), a `_meta` field can be added to a transform configuration. This will mainly be used for transforms managed by Fleet.

A `managed` property in the `_meta` field `_meta.managed: true` will be used to indicate that the transform has been deployed and managed by elastic and will likely have important dependencies. To warn users that th

[2021-11-05 13:07] elasticmachine commented on #117651
Pinging @elastic/ml-ui (:ml)

[2021-11-05 13:12] stacey-gammon commented on #97108
Drive-by commenting (didn't read the whole thread)

We should be figuring out why there is a circular import and the best way to resolve it rather than working around it. The circular dependency is there, just hidden, by going through the base registry. You _are_ depending on that plugin.

I don't think we have this written down (I should put it on my TODO list!) but if you know at compile time th

[2021-11-05 13:20] kibanamachine commented on #89397
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2648#aa48ce55-0e9a-43d2-8171-6164880c208f)

[2021-11-05 13:33] joshdover commented on #117317
One thought I had: since we'll now be exposing additional Elasticsearch outputs (for the same cluster) to the user, should we be trying to validate that the Elasticsearch host is for the same cluster? It's tricky because we may not always have network access, but I think we could do a best effort to at least validate that the `kibana_system` user's credentials work on the cluster and the same clus

[2021-11-05 13:34] elasticmachine commented on #117620
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-05 13:35] kking124 commented on #117556
File permissions were an issue, but otherwise the update works., thank you.

[2021-11-05 13:35] elasticmachine commented on #117642
Pinging @elastic/kibana-core (Team:Core)

[2021-11-05 13:40] rudolf opened #117656 "Fail saved object migrations when encountering embeddable state from an unknown embeddable factory"
When a saved object contains persistable state from an unknown embeddable, the persisted state won't be migrated when Kibana gets upgraded.

This is because `embeddables.getEmbeddableFactory` returns an `id: 'unknown'` factor with `migrations: {}` when an embeddable isn't known https://github.com/elastic/kibana/blob/main/src/plugins/embeddable/server/plugin.ts#L139-L147

Even if the embeddable is

[2021-11-05 13:58] walterra opened #117659 "[APM] Correlations: Improve "Log-log plot" description"
The latency distribution chart in the APM app has the following help text:

**Problem**
A few people have mentioned in Slack that this text is confusing and perhaps too technical. I'm opening this issue to discuss potential alternatives.

**Background for "log-log"**
We opted for having `Log-log plot` in the description to highlight that this is not a standard chart. We need to either do it in the

[2021-11-05 13:58] elasticmachine commented on #117659
Pinging @elastic/ml-ui (:ml)

[2021-11-05 13:58] nchaulet commented on #117317
I think it's always a good idea to validate user input. What do you have in mind validating before creating or updating and show a toast warning if Kibana was not able to reach ES or the cluster UUID is different?

We could try to reach the output, but I guess there will a be a few time where we cannot reach ES. Also which credentials should we use to call ES? the user one?  Is there any security

[2021-11-05 14:01] kking124 commented on #117556
I have referred Bitnami to this thread for future reference.

see: [https://community.bitnami.com/t/upgrading-kibana-to-7-15-1-in-elk-fails/100796](https://community.bitnami.com/t/upgrading-kibana-to-7-15-1-in-elk-fails/100796)

[2021-11-05 14:01] #117556 closed

[2021-11-05 14:04] jgowdyelastic opened #117660 "[ML] Data frame analytics continue button remains disabled"
When creating a new DFA job, if you change job type, it appears the dependent variable selection isn't recorded and it's not possible to proceed.
This only happens if you have an index with one selectable field.

![2021-11-05 14-00-47 2021-11-05 14_02_14](https://user-images.githubusercontent.com/22172091/140522669-9a7e8b69-9c6e-4cf3-ae8b-15fe59a0784f.gif)

[2021-11-05 14:04] elasticmachine commented on #117660
Pinging @elastic/ml-ui (:ml)

[2021-11-05 14:07] MadameSheema commented on #113607
Fixed on 7.16BC3

[2021-11-05 14:07] #113607 closed

[2021-11-05 14:10] yuliacech opened #117663 "Last breadcrumb should always be disabled in Kibana header"
## Problem
There is currently inconsistency in Kibana regarding the last section of breadcrumbs: some apps disable the last breadcrumb and some keep it enabled. I think the enabled last breadcrumb happens when there are more routes that are available to navigate to. For example, "Remote Clusters" app has "Remote Clusters / Add" route and so when the user is on the main page "Remote Clusters" bread

[2021-11-05 14:10] formgeist commented on #77591
Closing because these menu options have been made consistent across Observability apps in prior releases

[2021-11-05 14:10] #77591 closed

[2021-11-05 14:11] elasticmachine commented on #117663
Pinging @elastic/kibana-core (Team:Core)

[2021-11-05 14:11] elasticmachine commented on #117663
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-11-05 14:11] yuliacech commented on #117663
cc @elastic/kibana-stack-management

[2021-11-05 14:12] formgeist commented on #64277
The tutorials are going away from 7.16 onwards and relying fully on the new Integrations feature to support onboarding and instrumentation.

[2021-11-05 14:12] #64277 closed

[2021-11-05 14:13] MadameSheema commented on #113912
Fixed on 7.16BC3

[2021-11-05 14:13] #113912 closed

[2021-11-05 14:15] MadameSheema commented on #115534
@karanverma-qasource can you please validate the fix of this issue on 7.16BC4? Thanks :)

[2021-11-05 14:18] weltenwort opened #117664 "[Monitoring UI] Set levels for deprecations"
## :notebook: Summary

:warning: Some deprecations only exist in 7.16.x and not 8.0.0, so manual backports or separate PRs might be required.

According to #115344 all registered deprecation should have a `level`.

part of #115344

## :heavy_check_mark: Acceptance criteria

- All deprecations that the `monitoring` plugin registers have an appropriate `level` set.

[2021-11-05 14:18] elasticmachine commented on #117664
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 14:21] #117025 closed

[2021-11-05 14:22] #116296 closed

[2021-11-05 14:26] formgeist opened #117665 "[APM] Bug: Comparison option doesn't sync selected options across views"
Kibana version: 8.0 (main)

# Summary

I noticed that persistence in the selected options for the comparison feature in APM view isn't very stable when moving between views or changing one option (day before, week before).

![CleanShot 2021-11-05 at 15 21 50](https://user-images.githubusercontent.com/4104278/140525806-39f2a66f-f571-4702-bf3b-d871c0fe9331.gif)

# Steps to reproduce

1. Enter the Se

[2021-11-05 14:26] elasticmachine commented on #117665
Pinging @elastic/apm-ui (Team:apm)

[2021-11-05 14:27] formgeist commented on #117072
Finally had a chance to test it against `main` and still reproducible

Created a new issue to track this bug https://github.com/elastic/kibana/issues/117665

[2021-11-05 14:30] darnautov commented on #116233
@matschaffer I still can't get over the re2 issue, even after yarn clean and re-bootstrapping 🤔

[2021-11-05 14:32] MadameSheema commented on #116256
Fixed in 7.16 BC3

[2021-11-05 14:32] #116256 closed

[2021-11-05 14:33] MadameSheema commented on #116395
@muskangulati-qasource can you please validate the fix of this issue on 7.16 BC4? Thanks :)

[2021-11-05 14:34] peteharverson commented on #116696
As per suggestion in https://github.com/elastic/kibana/pull/117208#issuecomment-961896614, the following should be added to the manifest `query` for all the data recognizer modules, in a `bool` query combining it with the other conditions that are already there:

[code]

This also needs to be done for the ML modules in the apache and nginx integration packages.

[2021-11-05 14:34] MadameSheema commented on #116558
@karanbirsingh-qasource can you please validate the fix of this issue on 7.16 BC4? Thanks :)

[2021-11-05 14:43] peteharverson commented on #101734
Note that when re-implementing the changes made in https://github.com/elastic/kibana/pull/111957, the following additions should also be made:

- Add `ignore_unavailable: true` to the datafeed config `indices_options` as done for the previous version of the job in https://github.com/elastic/kibana/pull/117632
- Add `"terms": { "_tier": [ "content", "hot", "warm" ]}` to the query in the module `man

[2021-11-05 14:43] nathansalter commented on #101054
This is also happening for me. After adding a join column, it's automatically mapped in the index pattern as 'unknown'. Navigating to this index pattern on Discover fails when querying shards, in the same way as described above. This was working in version `7.10.1` as that version doesn't use the fields API.

[2021-11-05 14:46] nathansalter commented on #101054
You can fix this in current versions by setting the Kibana flag `discover:searchFieldsFromSource` to On. The default is Off.

[2021-11-05 15:03] brianseeders opened #117674 "Failing ES Promotion: API Integration Tests.test/api_integration/apis/console/proxy_route·ts - apis core POST /api/console/proxy system indices behavior returns warning header when making requests to .kibana index"
**API Integration Tests**
**test/api_integration/apis/console/proxy_route.ts**

**apis core POST /api/console/proxy system indices behavior returns warning header when making requests to .kibana index**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the u

[2021-11-05 15:03] #116793 closed

[2021-11-05 15:04] brianseeders commented on #117674
Possibly related to https://github.com/elastic/elasticsearch/pull/79633

[2021-11-05 15:08] MadameSheema commented on #110844
@karanbirsingh-qasource can you please validate the fix of this issue on 7.16 BC4? Thanks :)

[2021-11-05 15:13] elasticmachine commented on #89397
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-05 15:15] elasticmachine commented on #117494
Pinging @elastic/kibana-gis (Team:Geo)

[2021-11-05 15:16] elasticmachine commented on #117494
Pinging @elastic/ml-ui (:ml)

[2021-11-05 15:23] brianseeders commented on #117674
The warning level here https://github.com/elastic/kibana/blob/main/test/api_integration/apis/console/proxy_route.ts#L24 is now 300 instead of 299.

The easiest way to deal with this will be to skip the test, then address in a PR after the new snapshot is live.

[2021-11-05 15:24] brianseeders commented on #117674
Skipped

main: c480fb8172c73429254519ffd385d3572137106b
8.0: d7e5cee4f1099cc4cae441c50a75f5546a8a9efa
7.16: 9514392fdf2be172bc51d3c76ab72bebc565eeee

[2021-11-05 15:25] elasticmachine commented on #117674
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-11-05 15:28] paulewing commented on #114965
@MadameSheema (cc: @michaelolo24) Yes. I'd recommend prioritizing this fix to have a more consistent experience.

[2021-11-05 15:28] cjcenizal commented on #117674
This was expected and noted in https://github.com/elastic/kibana/issues/95769. We'll address this. Thanks @brianseeders!

[2021-11-05 15:52] justinkambic commented on #107994
I am ok with this as long as the license-related callout shows up whenever the license level is not Platinum or Trial.

[2021-11-05 16:00] #114745 closed

[2021-11-05 16:01] cauemarcondes commented on #117665
@formgeist this has been fixed here https://github.com/elastic/kibana/pull/117413

[2021-11-05 16:11] jgowdyelastic commented on #107994
It isn't just `machine_learning_admin` which can grant a user permission to use ML. A user can assign Machine Learning Kibana privileges to a role which allows them to use ML with no ml specific cluster privileges.

ML shares our capabilities via our setup contract. This has a very granular list of user capabilities but also has two high level flags which you could use here:
[code]

It would proba

[2021-11-05 16:22] vinaychandrasekhar opened #117686 "Replace alert workflow status (open/acknowledged/closed) and filter with alert status filter (active/recovered) in Alerts View"
![image](https://user-images.githubusercontent.com/91484167/140546159-66b08300-1ba1-4e72-9f4a-7325d6ca54b5.png)

On the alerts page, we want to replace the "workflow status" `EuiButtonGroup` to show "alert status" instead. So, instead of "Open / Acknowledged / Closed", we'll have "Show all / Active / Recovered" instead.

Also, we should hide or remove the acknowledge/close/reopen actions in the ta

[2021-11-05 16:25] vitaliidm commented on #117042
@banderror, @yiyangliu9286
just wanted to add regarding copying text: if text is truncated, even though it's not visible fully, it can be copied by user.

small demo video attached

https://user-images.githubusercontent.com/92328789/140544342-f96176cd-1989-4f12-bea0-402d2817ffcc.mov

:

[2021-11-05 16:26] lucasfcosta opened #117689 "[User Experience] Search bar gets cut-off on mobile"
**Kibana version:** 8.0.0 (SHA `7504668f8bb09f6fd96e7cd20954ca197378d478`).

**Elasticsearch version:** 8.0.0-SNAPSHOT

**Server OS version:** MacOS Big Sur 11.6

**Browser version:** Version 95.0.4638.69 (Official Build) (x86_64)

**Browser OS version:** MacOS Big Sur 11.6

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** The search bar within the U

[2021-11-05 16:26] elasticmachine commented on #117689
Pinging @elastic/uptime (Team:uptime)

[2021-11-05 16:35] FrankHassanabad opened #117693 "[Security Solution] Cannot easily clone ML jobs until Kibana Index Pattern (KIP) is created"
**Kibana version:**
7.15.1

**Elasticsearch version:**
7.15.1

**Describe the bug:**

Users are reporting it is not easy to clone machine learning jobs. The reason is that currently ML jobs, used in the UI, rely on Kibana index patterns (KIP). The machine learning UI/API cannot clone the job unless that KIP is present. When creating a job using one of the ML wizards, the index pattern’s title is s

[2021-11-05 16:38] jen-huang commented on #117629
Yep, we used to only filter on titles, and now we filter on descriptions to as part of improving discoverability in unified integrations. I'll keep this issue around as additional rationale for better relevancy sorting, which is already an item on the roadmap (cc @alexfrancoeur).

[2021-11-05 16:39] vinaychandrasekhar opened #117696 "Provide a path back from the alert to the rule that generated it"
When looking at an alert, users should be able to pivot to the rule that generated the alert. There are two places we can provide a path for users to do so. Both of these places should point users to the corresponding rule page, currently in stack management.

**Action menu on alerts page:**

![image](https://user-images.githubusercontent.com/847805/140587712-6bb7c9ba-df65-44f9-b73e-bae0239174e2.p

[2021-11-05 16:41] kibanamachine commented on #86602
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2659#e7d1d03e-9363-4959-b46c-5e47b69c1c6b)

[2021-11-05 16:45] vinaychandrasekhar opened #117697 "[RAC] Review readability of Alert Reason Messages"
# Summary

After reviewing our current alert reason mesages, we want to improve and standardize our alert reason messages across Observability. The messages should be limited in length while conveying the same bits of important information. When applicable, reason messages should convey the following parts:

1. **Metric** - The name of the metric. E.g. “CPU usage”, “Log entries”, “Latency”, etc.
2

[2021-11-05 16:47] vitaliidm commented on #117034
As discussed with @banderror a good starting point for design guideline would be security-team repo: https://github.com/elastic/security-team/pull/2104

[2021-11-05 16:48] kibanamachine commented on #115398
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2657#1d445270-bba3-48cc-9795-8663ec836fc1)

[2021-11-05 16:51] vinaychandrasekhar opened #117698 "RAC: Alerts View - remember Alerts View settings when navigating away and back to the Alerts View"
**Describe the feature**:
Remember the Alerts View settings so that the presentation of the alerts table and fields remains unchanged when navigating away and then back to the Alerts View
- Filter selections (active/recovered/all)
- Alerts table settings (column size, rearranging, sorting, fields selected, etc.)
- Store these in local storage

[2021-11-05 16:54] #117570 closed

[2021-11-05 16:58] yiyangliu9286 commented on #117042
Thanks for showing the video @vitaliidm! I think that's a great capability to provide to users, and we should allow this ability for users to copy full text even though it's truncated in table cells.

[2021-11-05 17:00] andrew-goldstein opened #117703 "[Security Solution] Hide alert context menu actions when they are not applicable to the current alert state (`Open` | `Acknowledged` | `Closed`)"
**Describe the bug:**

On the Alerts page (and in Timeline), context menu actions applicable to the current state of an alert (`Open` | `Acknowledged` | `Closed`) should be hidden, per the screenshot from `7.14` below:

![7-14-open-alerts](https://user-images.githubusercontent.com/4459398/140545064-8da09a42-ea0f-42ca-8c0b-a49be283e283.png)

_Above: In `7.14` the `Mark as open` context menu action

[2021-11-05 17:00] elasticmachine commented on #117703
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-05 17:05] #116985 closed

[2021-11-05 17:12] peluja1012 opened #117706 "[Security Solution][Detections] Add support for Value Lists within exceptions to Threshold Rules"
This enhancement is for adding support for Value Lists within exceptions to Threshold Rules.

More details about implementation challenges in [this comment](https://github.com/elastic/kibana/issues/84385#issuecomment-784718379).

Related: https://github.com/elastic/kibana/issues/84385

[2021-11-05 17:12] elasticmachine commented on #117706
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-05 17:22] monina-n commented on #115726
pointing out an additional issue about all these actions - the hit boxes/ hover areas are different for each of the buttons and the analyze icon is not centered compared to the other once as well.

We need to make all buttons consistent. I think each button should follow the same pattern as the overflow menu (three boxes icon) since that gives more space to click each action.

https://user-images.

[2021-11-05 17:29] 1Copenut opened #117708 "[FilterView][AXE-CORE]: Global filter group buttons must not have nested focusable elements"
**Description:**
Global filter group buttons must not have nested focusable elements. The nested SVG icon has no `tabindex` attribute

**Steps to reproduce**

1. Log into a Kibana instance
2. Add a filter to a sample dashboard
3. Inspect the filter `X` button with browser dev tools. There is an SVG icon with a `tabindex="-1"` inside the button.

<img width="1590" alt="Screen Shot 2021-11-05 at 12

[2021-11-05 17:29] elasticmachine commented on #117708
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-11-05 17:54] timroes commented on #101054
@majagrubic do you know if we have a corresponding issue on ES side? It feels like this should be fixed or have an option to be ignore on ES side, since all field types should work with the fields API.

[2021-11-05 18:00] elasticmachine commented on #117693
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-11-05 18:01] YulNaumenko opened #117716 "[Actions] Implement generic support for OAuth JWT authentication flow for the action connectors."
Inspired by the research issue https://github.com/elastic/kibana/issues/79372 results where we did a couple of POCs for the comparison of the different OAuth flows which is supported by the existing connectors integrations and the most urgent OAuth implementation requirements (for ServiceNow).
Current solution is to add a reusable connectors support for OAuth JWT flow as an alternative to the OAut

[2021-11-05 18:01] elasticmachine commented on #117716
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-05 18:08] YulNaumenko commented on #79372
Based on the comparison of the different OAuth flows which supports server-to-server communication (not require a user consent interaction like OAuth Authorization Code flow), without a complicated handling of the access/refresh tokens lifetime bottlenecks, meets the customers security requirements (not use OAuth `password` grant type) and supported by the major of the systems integrations we have

[2021-11-05 18:08] #79372 closed

[2021-11-05 18:21] flash1293 opened #117719 "Test issue please ignore"
**Describe the feature:**

**Describe a specific use case for the feature:**

[2021-11-05 18:21] elasticmachine commented on #117719
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-05 18:21] #117719 closed

[2021-11-05 18:24] justinkambic commented on #107994
@jgowdyelastic thanks for adding that color; @lucasfcosta @andrewvc we should take this into consideration with the implementation of the fix that closes this issue. I'm happy to sync on this next week sometime as I realize it's quite close to EOD.

[2021-11-05 18:28] bhavyarm commented on #112621
@lukasolson I upgraded ES to 7.16.0 BC3 from 7.15.2 BC1 and ran it with Kibana 7.15.2 BC1 and see this all over. Do we plan to fix this in 7.16? Thanks!
![Uploading Screen Shot 2021-11-05 at 2.27.44 PM.png…]()

[2021-11-05 18:36] kibanamachine opened #117724 "Failing test: Jest Tests.x-pack/plugins/uptime/public/components/overview/monitor_list/columns - MonitorListStatusColumn provides expected tooltip and display times"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2661#49fdb092-6125-4302-a618-6ebcd125429b)

[2021-11-05 18:43] chandlerprall commented on #117353
I wonder if `act()` from _react-dom/test-utils_ would be enough to align all that movement?

[2021-11-05 18:58] tylersmalley commented on #63848
@suchcodemuchwow is also working to capture page load time currently in an isolated environment simulating a real-world user.

[2021-11-05 19:01] claudiopro commented on #115781
As agreed with @snide, I'll address by adding a button (maybe `EuiButtonEmpty`?) to better set the expectation for the user.

[2021-11-05 19:08] dominiqueclarke commented on #116226
@elastic/kibana-app-services

Is anyone able to help further debug this error? One of the example fields we are trying to receive from the APM data view on the remote cluster is `client.geo.country_iso_code`. You can see that the value is present in the data view when inspecting it in Stack Management.

<img width="1488" alt="Screen Shot 2021-11-05 at 2 47 10 PM" src="https://user-images.githubuse

[2021-11-05 19:13] elasticmachine commented on #41444
Pinging @elastic/kibana-security (Team:Security)

[2021-11-05 19:15] elasticmachine commented on #16905
Pinging @elastic/kibana-core (Team:Core)

[2021-11-05 19:18] elasticmachine commented on #5046
Pinging @elastic/kibana-core (Team:Core)

[2021-11-05 19:19] tylersmalley commented on #5046
Re-assigning this to Core - not sure if this is something we want to do.

[2021-11-05 19:20] #117072 closed

[2021-11-05 19:23] tylersmalley commented on #6508
This seems to be resolved. We can [log all ES queries](https://www.elastic.co/guide/en/kibana/current/logging-settings.html#log-elasticsearch-queries), and you can use search sessions to view the queries in the UI.

[2021-11-05 19:31] nastasha-solomon opened #117726 "[Security Solution] Clarify SN roles needed when setting up SN ITSM and SecOps connectors"
[7.15 ServiceNow connector docs](https://www.elastic.co/guide/en/kibana/current/servicenow-action-type.html) about the minimum roles/perms required when setting up SN ITSM and SecOps connectors are a bit vague. Recommend moving the instructions to the beginning of the topic to increase visibility and revising the text to clearly indicate both roles are needed.

@jmikell821 @cnasikas

[2021-11-05 19:31] elasticmachine commented on #117726
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-05 19:31] elasticmachine commented on #117726
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-11-05 19:36] mattkime commented on #116226
@dominiqueclarke I think it would be worth stepping through the code to figure out why `dataView.getFieldByName(field)` is returning `undefined` by stepping through the code. I can't help but wonder if `dataView` isn't referencing what you expect.

[2021-11-05 19:37] neptunian opened #117728 "[Stack Monitoring] Convert files in server/kibana_monitoring to typescript"
Convert files/code in [server/kibana_monitoring](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/kibana_monitoring) to typescript

I only saw one file in this directory:

server/kibana_monitoring/lib/monitoring_bulk.js

[2021-11-05 19:37] elasticmachine commented on #117728
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 19:38] KOTungseth commented on #117575
Review is complete. Thanks Mimi!

[2021-11-05 19:38] #117575 closed

[2021-11-05 19:42] neptunian opened #117729 "[Stack Monitoring] Convert files in server/routes to typescript"
Convert files/code in [server/routes/api/v1](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1) to typescript.

I've separated these out into different issues but if some end up being very small, feel free to combine into one PR.

- [x] https://github.com/elastic/kibana/issues/117755
- [x] https://github.com/elastic/kibana/issues/117756
- [x] https://github

[2021-11-05 19:42] elasticmachine commented on #117729
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 19:48] nimarezainia opened #117730 "[Fleet] Removing the "-f" flag from the Add Agent page in Fleet UI."
**Describe the feature:**
Removing the "-f" flag from the Add Agent page in Fleet UI.

**Describe a specific use case for the feature:**

We have had a few cases where the -f option has been misused. We are cleaning up the docs but would also like to remove the "-f" option that is recommended in the elastic agent installation string shown here:

![Attachment](https://user-images.githubusercontent.

[2021-11-05 19:48] elasticmachine commented on #117730
Pinging @elastic/fleet (Feature:Fleet)

[2021-11-05 19:53] KOTungseth commented on #115345
To avoid making users open the docs separately from the UI, it would be a good idea to add in-product help instead. Similar to Lens Formulas:

<img width="1354" alt="Screen Shot 2021-11-05 at 2 53 05 PM" src="https://user-images.githubusercontent.com/38990715/140570607-bc5a460c-a7a4-4da2-83ab-02ca42edaae5.png">

[2021-11-05 19:54] elasticmachine commented on #115345
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-05 20:14] paul-tavares commented on #117255
@kevinlog  Sorry I missed this. I have added this to our board and also added my name to the assignee list. I will take a look

[2021-11-05 20:35] joeypoon commented on #117523
fixed in https://github.com/elastic/kibana/pull/117608.

[2021-11-05 20:35] #117523 closed

[2021-11-05 20:37] FrankHassanabad commented on #117255
@paul-tavares , @rylnd , @tylersmalley if this helps I spent the afternoon reading through reasons why it can be a memory leak. A lot of things.

However, I think some test files leak and some do not.

I made this small script utility which copies a targeted test file multiple times and then executes that one particular test multiple times in order to see if there is leak. It looks to allow me to

[2021-11-05 20:46] andrewvc commented on #107994
@justinkambic I'm up for using the more precise check @jgowdyelastic . Is there more we need to sync on? If not, I'm glad to just incorporate @jgowdyelastic 's suggestions

[2021-11-05 20:53] gchaps commented on #116996
+1 The organization of the rule types in the docs should match the organization in the UI.

[2021-11-05 21:02] #113019 closed

[2021-11-05 21:10] kevinlog commented on #116715
Confirmed fixed in the latest BC for 7.16

[2021-11-05 21:10] #116715 closed

[2021-11-05 21:44] kibanamachine commented on #113418
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/334#477053ca-ac5d-4114-bb65-a441f2c91014)

[2021-11-05 21:56] akshay-saraswat opened #117747 "Misleading overview for granular integrations in Integrations UI"
**Kibana version:** 7.16

**Elasticsearch version:** 7.16

**Server OS version:** N/A

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** N/A

**Describe the bug:** Kibana is not looking at the data stream level manifest. There are some granular integrations that are actually data streams of a package. Those integrations

[2021-11-05 22:02] justinkambic commented on #107994
We actually already leverage these flags in Uptime, so we should be able to get the at the component in question for free. I'll send @lucasfcosta some instruction offline on how to get at them.

[2021-11-05 22:18] kaiyan-sheng commented on #117747
@mtojek Is it a problem to fix in the package registry? I don't see `release` displayed at the policy template level from `/search?package=aws` endpoint:
[code]

[2021-11-05 22:22] #114814 closed

[2021-11-05 22:23] tylersmalley commented on #117492
I am updating the APM server in https://github.com/elastic/kibana/pull/117749, and checking that our settings match, which looks like they do. I think we should avoid setting things that are the same as the default. With that PR, we should be able to just set:

[code]

v7.16 > will be able to drop `serverUrl` and `secretToken` since it's a default.

I was going to add `propagateTracestate` to the

[2021-11-05 22:26] kibanamachine commented on #89397
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2676#e6532891-0ebe-467d-9f4e-2eccf09e4eb2)

[2021-11-05 22:31] tylersmalley commented on #117492
A clarification, https://kibana-cloud-apm.elastic.dev/ is the Kibana instance for us to access the data, while https://kibana-cloud-apm-server.elastic.dev is the underlying APM server we will configure to collect the data.

[2021-11-05 22:39] spalger opened #117754 "[Mac arm]: Build node-sass, re2 for ARM"
When running `yarn kbn bootstrap` you need to run `cd node_modules/node-sass && npm run build` and `cd node_modules/re2 && npm run rebuild` in order to build node-sass, and re2 binaries for ARM macs. Maybe we could do this automatically in bootstrap?

[2021-11-05 22:39] elasticmachine commented on #117754
Pinging @elastic/kibana-operations (Team:Operations)

[2021-11-05 22:56] neptunian opened #117755 "[Stack Monitoring] Convert files in server/routes/alerts to typescript"
Convert files/code in [server/routes/api/v1/alerts](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/alerts) to typescript

This looks mostly done

[2021-11-05 22:56] elasticmachine commented on #117755
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 22:59] neptunian opened #117756 "[Stack Monitoring] Convert files in server/routes/apm to typescript"
Convert files/code in [server/routes/api/v1/apm](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/apm) to typescript

[2021-11-05 22:59] elasticmachine commented on #117756
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:02] neptunian opened #117757 "[Stack Monitoring] Convert files in server/routes/beats to typescript"
Convert files/code in [server/routes/api/v1/beats](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/beats) to typescript

`io-ts` should also be used for route validation, e.g.: https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/routes/api/v1/apm/instance.ts#L26

[2021-11-05 23:02] elasticmachine commented on #117757
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:05] neptunian opened #117758 "[Stack Monitoring] Convert files in server/routes/check_access,cluster to typescript"
Convert files/code in [server/routes/api/v1/check_access](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/check_access)  and [server/routes/api/v1/cluster](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/cluster) to typescript

[2021-11-05 23:05] elasticmachine commented on #117758
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:08] neptunian opened #117760 "[Stack Monitoring] Convert files in server/routes/elasticsearch to typescript"
Convert files/code in [server/routes/api/v1/elasticsearch](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch) to typescript

[2021-11-05 23:08] elasticmachine commented on #117760
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:10] neptunian opened #117761 "[Stack Monitoring] Convert files in server/routes/elasticsearch_settings to typescript"
Convert files/code in [server/routes/api/v1/elasticsearch_settings](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch_settings) to typescript

`io-ts` should also be used for route validation, e.g.: https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/routes/api/v1/apm/instance.ts#L26

[2021-11-05 23:10] elasticmachine commented on #117761
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:12] neptunian opened #117762 "[Stack Monitoring] Convert files in server/routes/kibana to typescript"
Convert files/code in [server/routes/api/v1/kibana](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/kibana) to typescript

`io-ts` should also be used for route validation, e.g.: https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/routes/api/v1/apm/instance.ts#L26

[2021-11-05 23:12] elasticmachine commented on #117762
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:14] neptunian opened #117763 "[Stack Monitoring] Convert files in server/routes/logstash to typescript"
Convert files/code in [server/routes/api/v1/logstash](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/logstash) to typescript

`io-ts` should also be used for route validation, e.g.: https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/routes/api/v1/apm/instance.ts#L26

[2021-11-05 23:14] elasticmachine commented on #117763
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:17] neptunian opened #117764 "[Stack Monitoring] Convert files in server/routes/setup, ui.js to typescript"
Convert files/code in [server/routes/api/v1/setup](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/setup) and [server/routes/api/v1/ui.js](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/ui.js) and to typescript

`io-ts` should also be used for route validation, e.g.: https://github.com/elastic/kibana/blob/main/x

[2021-11-05 23:17] elasticmachine commented on #117764
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-11-05 23:21] kibanamachine commented on #89397
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2678#13518042-15aa-4532-b6ad-057847f38a92)

[2021-11-05 23:25] yakhinvadim opened #117765 "Pinned web crawler card doesn't link directly to web crawler url."
Pinned web crawler card links to
`http://localhost:5601/app/enterprise_search/app_search`
while a small web crawler card links to
`http://localhost:5601/app/enterprise_search/app_search/engines/new?method=crawler`

Using the first link doesn't open the crawler as an ingestion method and requires a few extra clicks from users.
Is this intentional or should we use the second link instead?

See the v

[2021-11-05 23:36] spalger commented on #116233
@darnautov I needed to run `npm run rebuild` in `node_modules/re2` to get re2 to work. I'm adding support for automatically running that and `npm run build` in `node_modules/node-sass`: https://github.com/elastic/kibana/issues/117754

[2021-11-06 00:43] kibanamachine opened #117768 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/event_filters/view - When on the Event Filters List Page And data exists should show modal when delete is clicked on a card"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2682#8260c17e-c430-4ec2-95a6-c17bef765d2c)

[2021-11-06 02:19] kibanamachine commented on #89397
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2688#c242738e-f283-46ba-bf63-15377b8880c6)

[2021-11-06 03:26] kibanamachine commented on #88796
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2691#75e7eacb-e5a2-4460-9723-89e32586e501)

[2021-11-06 03:48] brianseeders commented on #89397
Skipped

main: 3fc3f36c9a3174135614816345474f9535cc243e
8.0: e6f391cc9bce9b37e55db2481ba92157e769fa6a

[2021-11-06 04:35] kibanamachine commented on #116048
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2695#f2353832-69ae-4c6f-9f54-9f57c8269ba1)

[2021-11-06 05:35] kibanamachine commented on #116556
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2696#6aab7ffe-5b9a-437c-80ca-0a1d8faef917)

[2021-11-06 06:26] kibanamachine opened #117769 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/formula·ts - lens app lens formula should transition from count to formula"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2699#ce709f64-6702-4af3-a241-191a2dc6af4f)

[2021-11-06 09:11] kibanamachine opened #117770 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/dashboard·ts - lens app lens dashboard tests should be able to add filters/timerange by clicking in XYChart"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2709#9a8c70ab-9daa-43fd-b768-bda3e172fd33)

[2021-11-06 11:37] kibanamachine commented on #116825
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2715#9dd75a91-5df3-4c7c-9b19-c30da50250ed)

[2021-11-06 16:12] elasticmachine commented on #117770
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-06 16:12] elasticmachine commented on #117769
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-06 16:16] mistic commented on #116048
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 1428791

[2021-11-06 16:23] flash1293 commented on #117770
Seems like the click in the chart to open the filter popover didn't work - we can probably stabilize this by checking whether the popover actually opens, the retrying if it doesn't appear (similar to how we do it already when waiting for the popover to disappear) https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/x-pack/test/functional/apps/lens/dashboard.ts#L72

[2021-11-06 16:32] flash1293 commented on #117769
In the screenshot it seems like the button we want to click is not fully scrolled into view. Not sure how this can happen - the "scroll into view if necessary" helper should theoretically take care of that.

[2021-11-06 16:34] elasticmachine commented on #86602
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-06 17:03] flash1293 commented on #88927
Same underlying problem as https://github.com/elastic/kibana/issues/115614

[2021-11-06 17:18] zaidizeeshan opened #117771 "[Logs UI] reproduce the "deprecated configuration option" warning in observability settings to select multiple indices"
**Kibana version:**
7.13.0
**Elasticsearch version:**
7.13.0
**Server OS version:**
CentOS Linux 7 (Core)
**Browser version:**
Chrome version 95.0.4638.69, Firefox 78.10.0
**Browser OS version:**
Windows 10 Pro, CentOS Linux 7 (Core)
**Original install method (e.g. download page, yum, from source, etc.):**
yum
**Describe the bug:**
[Logs UI] Unable to select multiple indices in Observability>Logs

[2021-11-06 18:24] dgieselaar commented on #94280
@dosant @ppisljar I'm not sure why this was tagged with `impact:low`. My perception is that it's low effort, high impact. With https://github.com/elastic/kibana/issues/94280, the impact will be even bigger, especially if we enable this for Kibana as a whole. @jimczi any thoughts from the ES side about the impact of this?

[2021-11-06 18:34] kibanamachine commented on #116065
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2737#46e4683a-d80a-46c6-8e3f-47d045972893)

[2021-11-06 18:36] kibanamachine commented on #116433
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2736#1e3ceb29-a447-4cd8-9d06-c05185e615aa)

[2021-11-06 19:24] zzssg commented on #44327
Hi @weltenwort
I see you are the one who could make some progress on the columns width management in Kibana Logs described here.
Just wondering if there is some timelines to solve the problem which makes sad tons of Kibana users including me..

[2021-11-06 21:13] sqren opened #117772 "[APM] Synthtrace: Add support for log events"
### Context
In https://github.com/elastic/apm-server/issues/6544 @stuartnelson3 was trying to get log events to show up in APM (under the Logs tab). He was initially seeing some problems that could indicate that log correlation wasn't working as it should. Even though the log events eventually showed up in APM, this reminded me that we don't have any automated tests (api or e2e) for this feature.

[2021-11-06 21:13] elasticmachine commented on #117772
Pinging @elastic/apm-ui (Team:apm)

[2021-11-06 21:36] #117665 closed

[2021-11-07 00:00] kibanamachine opened #117773 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/value_suggestions·ts - discover value suggestions useTimeRange disabled show up"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2754#cffe04e7-dc4c-43db-b4a9-aec5a18ab7fb)

[2021-11-07 00:37] kibanamachine commented on #116532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2752#d2f0f846-f93f-43da-9aba-8eb8768180c7)

[2021-11-07 00:40] hisashinz opened #117775 "Safari 15.0 with i18n.locale set to "ja-JP" cannot display a data in the discovery"
**Kibana version:** 7.15.1

**Elasticsearch version:** 7.15.1

**Server OS version:**

**Browser version:** Safari 15.0

**Browser OS version:** macOS Big Sur 11.6

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
When i18n.locale set to "ja-JP", when trying to open a document with the discover, it fails to load the page.
The following error message

[2021-11-07 00:58] kibanamachine opened #117776 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/management/snapshot_restore/snapshots·ts - apis management Snapshot and Restore Snapshots pagination returns pageSize number of snapshots"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2757#8c92a40e-fd11-4d12-9e76-67224c3c776a)

[2021-11-07 02:38] kibanamachine commented on #115366
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2758#38653914-2cd8-45ad-b25a-e7ebda65059f)

[2021-11-07 04:12] kibanamachine commented on #116065
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2763#0b8ecb87-606a-4c50-9bab-1b98cb0c3431)

[2021-11-07 05:59] kibanamachine opened #117778 "Failing test: Chrome X-Pack UI Functional Tests.unknown - "before each" hook: global before each for "should allow creation of lens xy chart""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2763#415fbac5-1e14-4bc3-ad66-000d144a6046)

[2021-11-07 05:59] kibanamachine commented on #115654
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2763#415fbac5-1e14-4bc3-ad66-000d144a6046)

[2021-11-07 05:59] kibanamachine commented on #75961
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2763#415fbac5-1e14-4bc3-ad66-000d144a6046)

[2021-11-07 05:59] kibanamachine commented on #75962
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2763#415fbac5-1e14-4bc3-ad66-000d144a6046)

[2021-11-07 06:35] kibanamachine opened #117779 "Failing test: Jest Tests.x-pack/plugins/security/public/management/roles/edit_role/privileges/es - it renders a IndexPrivilegeForm for each privilege on the role"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2771#60169f05-510c-464a-bdaa-ed72a8c98bfe)

[2021-11-07 07:10] kibanamachine opened #117780 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/embeddable/tooltip_filter_actions·js - maps app embeddable tooltip filter actions apply filter to current view should create filters when create filter button is clicked"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2773#061176cb-aa1f-4b01-bf99-f1ba89921a6c)

[2021-11-07 09:21] Shubhamnmdv commented on #90551
@mistic Hey Bro, I am facing the same issue while installing dependencies through **yarn kbn bootstrap**

<img width="960" alt="Error_Snapshot" src="https://user-images.githubusercontent.com/50195638/140639385-f63d0a9d-e438-4893-bdca-5211e02bac4a.PNG">

Please Contact on : Email : shubhamnmdv@gmail.co,  Whatsapp : +91-9770479461

Please help me, I need urgent help @mistic  @samuelmr @elasticmachin

[2021-11-07 14:12] lizozom commented on #117492
@tylersmalley I updated the issue with the smaller block for 7.16+. I saw that your PR includes the `serverUrl` and `secretToken` so I ommitted those too.
Are you also the owners of that APM server we're reporting to? Could you please enable CORS there as @mshustov had [suggested](https://github.com/elastic/kibana/issues/117492#issuecomment-961691406)?

@mshustov @trentm  thanks for the explanatio

[2021-11-07 14:33] lizozom commented on #117535
Awesome, thanks!
I think that the UI should depend on what `environment` should be used for, and it's good to have tracking for this.
I think that for now, it's ok. Lets see where this integration takes us!

[2021-11-07 14:58] kibanamachine commented on #83824
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2798#abb2c644-c1cb-4b78-80df-a00ca9889c74)

[2021-11-07 16:21] lizozom commented on #72880
I do agree with @vadimkibana that the `impact:low` priority is misleading.
We'll have to prioritize this in the `performance` project

[2021-11-07 16:24] #75961 closed

[2021-11-07 16:40] kibanamachine commented on #115576
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2801#25839870-d334-4d75-a119-81359e134638)

[2021-11-07 16:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2798#035a8336-5634-478b-9846-801e8b134f65)

[2021-11-07 17:55] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2801#2ccde877-0e82-4095-8c1c-cfd0025ff3d0)

[2021-11-07 18:05] kibanamachine opened #117783 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions fetchIndices resolves right empty record if no indices were found"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117784 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions fetchIndices resolves right record with found indices"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117785 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions setWriteBlock resolves right when setting the write block succeeds"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117786 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions setWriteBlock resolves right when setting a write block on an index that already has one"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117787 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions setWriteBlock once resolved, prevents further writes to the index"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117788 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions setWriteBlock resolves left index_not_found_exception when the index does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117789 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions removeWriteBlock resolves right if successful when an index already has a write block"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117790 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions removeWriteBlock resolves right if successful when an index does not have a write block"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117791 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions removeWriteBlock rejects if there is a non-retryable error"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117792 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions waitForIndexStatusYellow resolves right after waiting for an index status to be yellow if the index already existed"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117793 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions cloneIndex resolves right if cloning into a new target index"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117794 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions cloneIndex resolves right after waiting for index status to be yellow if clone target already existed"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117795 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions cloneIndex resolves left index_not_found_exception if the source index does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117796 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions cloneIndex resolves left with a retryable_es_client_error if clone target already exists but takes longer than the specified timeout before turning yellow"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117797 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves right when reindex succeeds without reindex script"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117798 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves right and excludes all documents not matching the unusedTypesQuery"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117799 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves right when reindex succeeds with reindex script"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117800 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves right, ignores version conflicts and does not update existing docs when reindex multiple times"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117801 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves right and proceeds to add missing documents if there are some existing docs conflicts"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 18:05] kibanamachine opened #117802 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves left incompatible_mapping_exception if all reindex failures are due to a strict_dynamic_mapping_exception"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2808#ec83085e-4202-461e-b5ee-d43c92c0c4d3)

[2021-11-07 19:03] dgieselaar opened #117803 "[APM] Don't load data for components outside of viewport"
I've noticed that for the service overview [the search thread pool](https://www.elastic.co/guide/en/elasticsearch/reference/current/cat-thread-pool.html) is immediately exhausted, and shard requests are queued, leading to everything slowing down. There's only a couple of components above the fold, I suggest we only load those and postpone the others (either based on time or when they enter the vie

[2021-11-07 19:03] elasticmachine commented on #117803
Pinging @elastic/apm-ui (Team:apm)

[2021-11-07 21:09] kibanamachine commented on #117770
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2815#337c538b-2399-4d06-bc58-9bf0acc78eec)

[2021-11-07 21:19] pgayvallet commented on #117394
Yea, atm the `licensing` plugin does not perform any kind of retry operation in case of network error, or if ES returns an error of any kind, meaning that that kind of (potentially temporary) upstream outages results on the `license$` observable emitting an error until the next (successful) license fetch.

https://github.com/elastic/kibana/blob/3c8fa527a7765723d3851afe067315359a4763e7/x-pack/plugi

[2021-11-07 21:29] pgayvallet commented on #117490
We could start by exposing this new `elasticsearch.compression` config property while preserving the current default value of `false`, and then, depending on the results of the perf/load testing, decide if we want to switch the default to `true` later. It would allow customers really wanting/needing this feature to use it asap.

[2021-11-07 22:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2816#343092cc-e44b-44f9-9bab-01709e275923)

[2021-11-08 00:13] mistic commented on #90551
@Shubhamnmdv that error seems different than the one listed above.

Please make sure you have followed our documents to develop on windows https://www.elastic.co/guide/en/kibana/current/development-getting-started.html#developing-on-windows

Other option and our future recommendation is to use WSL instead. We are preparing the recommendations to do this and you can preview it at: https://github.co

[2021-11-08 00:54] kibanamachine commented on #111821
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2829#11630bd6-4733-4bb6-a456-fa781b19effe)

[2021-11-08 00:59] kibanamachine commented on #111821
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/2827#e82387a6-6e4d-4777-a36d-bafdf2cfec53)

[2021-11-08 01:03] kibanamachine commented on #111821
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2828#4e127d5a-31f3-4d6f-8d33-f212402472de)

[2021-11-08 01:16] jbudz commented on #111821
skipped

main: fca8cbff6a6b9a5cdd04d9865168396d065713e7
8.0: e5960af1ad9867371c07a54c94aa2c49330b00ae
7.16: d4d931c9f4de483ab1856ac536c5a790990b0761

[2021-11-08 01:57] Tsukiand commented on #117617
1. Yes
2. Yes
3. When i use "New" in Discover toolbar, the sorting is right.

------

Is this a feature by design? Or this is a kibana bug?

[2021-11-08 04:24] Shubhamnmdv commented on #90551
Hey, @mistic  I tried many times but continuously faced the same error, **BOOTSTRAP FAILED** Can you please help me with solving the error.  please contact me on email: shubhamnmdv@gmail.com & Whatsapp: +919770479461 It will very helpful for me.

And I also followed each step mentioned in
link https://www.elastic.co/guide/en/kibana/current/development-getting-started.html#developing-on-windows

[2021-11-08 05:24] kibanamachine opened #117808 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_timelion·ts - visualize app new charts library visualize ciGroup7 Timelion visualization expression typeahead dynamic suggestions for argument values .es() should show index pattern suggestions for index argument"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/2839#bcebf374-a9fb-4109-af5a-72b62eec2fb7)

[2021-11-08 06:06] dhineshbabuelango commented on #2349
I am still searching for this, anyone found this out?

[2021-11-08 06:39] matschaffer commented on #116233
I'll unsubscribe here since I got my i9 back from the shop and will be returning my loaner M1 later this week. Good luck and godspeed friends!

[2021-11-08 06:44] elasticmachine commented on #117808
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-08 06:48] dikshachauhan-qasource opened #117809 "[Question]: Unable to update managed policy settings for Logs collection."
**Kibana version:** 7.16 BC3

**Browser OS version:** Windows 10, Chrome

While performing testing on 7.16 BC3 build, we observed that we are unable to update Logs and metrics collection under managed policy "Elastic Cloud agent policy".

Though, a notification is still displayed to update settings under Logs tab for enabling logs colection.

**Screenshots:**
![image](https://user-images.githubuse

[2021-11-08 06:49] elasticmachine commented on #117809
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 06:49] dikshachauhan-qasource commented on #117809
@manishgupta-qasource Please review

[2021-11-08 07:07] karanbirsingh-qasource commented on #99324
Hi @michaelolo24  thanks for the update.

we have validated this on `7.16.0 BC3` and found that issue is Fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/140698510-9e9e2a96-a75e-4b14-9060-9571f85eb6e0.png)

![image](https://user-images.githubusercontent.com/59917825/140698502-01757fb7-dbb4-46c6-a6de-3cf6adbe3489.png)

Hence we are c

[2021-11-08 07:07] #99324 closed

[2021-11-08 07:12] karanbirsingh-qasource commented on #113904
Hi @michaelolo24  thanks for the update.

we have validated this on `7.16.0 BC3` and found that issue is Fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/140699006-8114e1a3-b75f-4bef-855a-f6601a3bb81e.png)

Hence we are closing this issue.

thanks!!

[2021-11-08 07:12] #113904 closed

[2021-11-08 07:22] karanverma-qasource opened #117810 "Pinned events are not getting displayed under timeline after importing it from 7.14.2 to 7.16.0"
**Describe the bug:**
Pinned events are not getting displayed under timeline after importing it from 7.14.2 to 7.16.0

**Build Info:**
Version: [7.16.0 BC3](https://github.com/elastic/security-team/issues/1872)
Commit: acaa761f4ce46680fd7cfbeba03a652c72dc786b
Build: 45816

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to reproduce:**

1. C

[2021-11-08 07:22] elasticmachine commented on #117810
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-08 08:11] MadameSheema commented on #117810
@karanverma-qasource can you please check if this behaviour happens as well from the latest 7.15 to 7.16? Thanks

[2021-11-08 08:15] MadameSheema commented on #99742
@deepikakeshav-qasource can you please validate this again on 7.16BC4?? Thanks!

[2021-11-08 08:25] deepikakeshav-qasource commented on #115705
Hi @MadameSheema ,

This issue is occurring on **7.15.2 BC1** build. Event Analyze icon colliding with cell action for alerts under Event Rendered view

**Build Details:**
[code]

**Screenshots:**
**7.15.2**
**Alerts Page**
![image](https://user-images.githubusercontent.com/61860752/140705505-d0bf5841-1c23-477c-847e-f20ddd41804c.png)

**Rule Details Page**
![image](https://user-images.githubuserco

[2021-11-08 08:29] MadameSheema commented on #115705
@deepikakeshav-qasource can you please validate if the issue is happening on 7.15.1?? Thanks!

[2021-11-08 08:32] kertal commented on #117617
Thx, well, I'd call it a usability bug, and the good news here is: PR to fix it is on the way: #115705

[2021-11-08 08:38] kertal commented on #86602
this is the error, it's not very helpful and seems unrelated to this test:
<img width="863" alt="Bildschirmfoto 2021-11-08 um 09 37 27" src="https://user-images.githubusercontent.com/463851/140709957-557640f4-72da-402b-b820-9603d68c9a8a.png">

[2021-11-08 08:51] katrin-freihofner opened #117812 "[Fleet] Downloads page button navigates to 404"
**Kibana version:**
internal release environment

**Describe the bug:**
URL to agent downloads page delivers 404.

**Steps to reproduce:**
1. go to add agent flyout in Fleet
2. Click the `Go to download page` button

**Expected behavior:**
I expect to be linked to the latest downloads page. https://www.elastic.co/downloads/elastic-agent

**Screenshots (if relevant):**
![add-agent](https://user-ima

[2021-11-08 08:51] elasticmachine commented on #117812
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 08:51] elasticmachine commented on #117812
Pinging @elastic/fleet (Feature:Fleet)

[2021-11-08 08:51] deepikakeshav-qasource commented on #115705
Hi @MadameSheema ,

We have validated this issue on **7.15.1** build. This issue is not occurring on 7.15.1 as analyze event option is displayed under more action.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/140711851-6ee9bb4c-3e62-40a3-9e82-122364d33e87.png)

Please let us know if anything else is required from our end.

Thanks!!

[2021-11-08 08:56] majagrubic commented on #81576
I can't reproduce this neither locally nor on Cloud. It looks like the test failure is due to an exception in Discover and the only place where it could happen is the test setup itself. Will keep investigating.

[2021-11-08 09:04] amolnater-qasource commented on #113081
Hi @mostlyjason
We have revalidated this issue on latest 7.16.0 Snapshot and found it **fixed** now.

**Observations:**
- System integration version numbers are available on Upgrade System Integration page.

**Screenshots:**
![1](https://user-images.githubusercontent.com/77374876/140703807-5af0c739-0c49-4214-9320-f9ae46480371.JPG)
![2](https://user-images.githubusercontent.com/77374876/140703810-1

[2021-11-08 09:08] zez3 commented on #81353
Can we also have the path also, we will store this disk queue on a raid1 disk for more redundancy.
https://www.elastic.co/guide/en/beats/filebeat/current/configuring-internal-queue.html#configuration-internal-queue-disk-reference

I subscribe to have this in the agent policy.

[2021-11-08 09:10] karanverma-qasource commented on #117810
Hi @MadameSheema

We have validated the same issue on latest 7.15 to 7.16 build, and its occurring here as well.

**Build Info:**

[code]
[code]
**Screen Records:**

https://user-images.githubusercontent.com/91867110/140714348-e34087a5-2e4f-464f-a78a-b09a8495f3c6.mp4

Thanks.

[2021-11-08 09:15] MadameSheema commented on #115705
True! Thanks, @deepikakeshav-qasource!! I think I need more coffee :)

I'm going to close this ticket because on 7.16 is working fine, we don't have more bug fixes planned for 7.15 and there are no more BCs planned for this bugfix release.

[2021-11-08 09:15] #115705 closed

[2021-11-08 09:16] MadameSheema commented on #117810
@paulewing @MikePaquette do you agree with `impact medium` for this issue? Thanks!

[2021-11-08 09:17] zez3 commented on #81353
Max size is anyway required
https://www.elastic.co/guide/en/beats/filebeat/current/configuring-internal-queue.html#_max_size_required

[2021-11-08 09:31] jloleysens opened #117814 "[Reporting] CI test coverage for generating PDFs (both print-optimized and preserve layout)"
## Summary

Reporting has the capability of generating both PNGs and PDFs. We have coverage for generating PNGs by running a comparison against a baseline image but do not have the same coverage for PDFs. We should add:

* A test generating a "preserve layout" PDF and testing this against a baseline
* A test generating a "print-optimized" PDF and testing this against a basline

## Additional conte

[2021-11-08 09:31] elasticmachine commented on #117814
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-11-08 09:32] jloleysens commented on #116708
Closing this issue in favour of https://github.com/elastic/kibana/issues/117814 so Reporting team can track this work.

Feel free to re-open for Kibana operations' purposes 👍🏻

[2021-11-08 09:32] #116708 closed

[2021-11-08 09:36] stratoula opened #117815 "[TSVB] TopN with drilldown on a dashboard with filters, not updates the filter"
**Kibana version:**
7.15+

**Describe the bug:**
TSVB topN and table allow the users to create drilldowns to other applications. If I create a drilldown to a dashboard and I want to set the query from the topN value, something like:
[code]
you will see that when is embedded on a dashboard it doesn't work as expected. If I click a topN bar, it will navigate me to the bar with the correct swarch que

[2021-11-08 09:36] elasticmachine commented on #117815
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-08 10:03] deepikakeshav-qasource opened #117816 "[Security Solution]Data source drop down is not displayed under host tab if no endpoint and beats are installed."
**Describe the bug**
Data source drop down is not displayed under host tab if no endpoint and beats are installed.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running.
2. No endpoint and beat should be installed

**Steps to Reproduce**
1. Navigate to Hosts or Network tab
2. Data source drop down is not displayed under host tab.

**Actual Result**
Dat

[2021-11-08 10:03] elasticmachine commented on #117816
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-08 10:14] katrin-freihofner opened #117817 "[Integrations UI] prevent user errors: integration name needs to be unique"
**Kibana version:**
Tested in internal release environment

**Describe the bug:**
As a user, when installing an integration one have to give the integration a name. This name needs to be unique, otherwise, the system will display an error. The name suggested is violating that.

**Steps to reproduce:**
1. Navigate to the integrations UI
2. Choose an integration (for example: system)
3. Try to insta

[2021-11-08 10:14] elasticmachine commented on #117817
Pinging @elastic/fleet (Feature:Fleet)

[2021-11-08 10:14] elasticmachine commented on #117817
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 10:15] amolnater-qasource opened #117818 "[Fleet]: Incomplete description for `Exported fields`- log.level under Nginx integration overview page."
**Kibana version:**  8.0 beta-1 BC-2 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0 beta-1 BC-2 Kibana Cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Nginx integration overview page.
3. Observe `Exported fields`- log.level description is incomplete.

**Expected

[2021-11-08 10:15] elasticmachine commented on #117818
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 10:17] lucasfcosta commented on #107994
Thank you for your input @jgowdyelastic 🙌

Having had a look at the messages above and what @justinkambic sent me yesterday on Slack, I believe no further changes are needed to the selectors and flags themselves, as we're currently already using those state selectors. Instead, I believe we only need to make the messages accurate because, as @jgowdyelastic pointed out, they weren't really correct w

[2021-11-08 10:19] MadameSheema commented on #117816
I think this behaviour is expected since the `Data Sources` are directly related to the data you have on your instance. @stephmilovic can you please confirm? Thanks

[2021-11-08 10:21] dej611 opened #117819 "[TSVB] Lag field in serial difference shows NaN on invalid values"
**Kibana version:** `master`

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

When typing in the `Lag` field for the `Serial difference` metric, any invalid value (non-numeric) leads to `NaN` be shown.

**Steps to reproduce:**
1. Type any number followed by any letter in the `Lag` field

**Expected behavior:**

I think the pattern of showing

[2021-11-08 10:21] elasticmachine commented on #117819
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-08 10:27] katrin-freihofner opened #117821 "[Fleet UI] Product and docs provide inconsistent description for adding an agent"
## Add agent flyout
When adding an agent the following is displayed in the flyout.

<img width="818" alt="Screenshot 2021-11-08 at 09 40 01" src="https://user-images.githubusercontent.com/20965076/140723197-8b025c0f-25d5-4330-8ba2-dd820e4a5c31.png">

## Docs
When navigating to the [Elastic Agent docs](https://www.elastic.co/guide/en/fleet/8.0/install-fleet-managed-elastic-agent.html), it looks lik

[2021-11-08 10:27] elasticmachine commented on #117821
Pinging @elastic/fleet (Feature:Fleet)

[2021-11-08 10:27] elasticmachine commented on #117821
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 10:43] #117260 closed

[2021-11-08 10:44] AlexM566 opened #117822 "Embedded Kibana Canvas into static web-site"
**Kibana version:** 7.15.1

**Elasticsearch version:** 7.15.1

**Server OS version:** Red Hat Enterprise Linux 8.4

**Browser version:** Chrome; Version 95.0.4638.69 (Official Build) (64-bit)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** docker

**Describe the bug:**
Hello everyone,

I have a problem. I want to share a canvas in static website,

[2021-11-08 10:49] Dosant commented on #94280
@dgieselaar, not at all, this was a jira integration misconfiguration

[2021-11-08 11:02] manishgupta-qasource commented on #117818
Reviewed & mention to @jen-huang

CC: @EricDavisX

[2021-11-08 11:03] manishgupta-qasource commented on #117809
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-11-08 11:06] Dosant commented on #116399
@karanbirsingh-qasource,

I just tested with the recent BC3 in cloud, the issue seems to be fixed, I'll leave the issue open for you to confirm and close

[2021-11-08 11:25] joshdover commented on #117765
+1 to using the second one instead.

[2021-11-08 11:34] karanverma-qasource commented on #116399
Hi Team,

We have validated the issue on 7.16.0 BC3 build and issue is fixed.

**Build Details:**

[code]
**Screen Records:**

https://user-images.githubusercontent.com/91867110/140734471-b77eeff1-21f6-4217-92ee-b501380dca7f.mp4

Please let us know if anything else is required from our end.

Thanks!!

[2021-11-08 11:34] #116399 closed

[2021-11-08 11:34] jakommo opened #117826 "Add configs setting for default heartbeat / Uptime aliases, similar to " xpack.infra.sources.default.*Alias ""
**Describe the feature:**

In https://github.com/elastic/kibana/issues/20428 we added two settings to configure the default aliases for Metrics (` xpack.infra.sources.default.metricAlias `) and Logs (` xpack.infra.sources.default.logAlias `) UI.
Since then we regrouped this under the Observability umbrella together with Uptime / heartbeat, but there is no such setting to configure the default patt

[2021-11-08 11:36] dej611 opened #117827 "[Lens] Reference line: default static value for xAccessor is wrong"
**Kibana version:** `master`

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

The computation for the `xAccessor` dimension is wrongly considered as "Stacked", which leads to a wrong default value for the static value function.

**Steps to reproduce:**
1. Add a histogram as Horizontal axis (i.e. `Interval of hour_of_day` for `kibana_sample_d

[2021-11-08 11:36] elasticmachine commented on #117827
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-11-08 11:39] #101208 closed

[2021-11-08 11:40] kibanamachine commented on #117312
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2859#41999f40-c235-4f31-8418-f291ad07dc67)

[2021-11-08 11:45] deepikakeshav-qasource opened #117829 "[Security Solution] Validation message is displayed for a second for actions while editing the imported rule after removing the message from "params" field in .ndjson json file"
**Describe the bug**
Validation message is displayed for a second for actions while editing the imported rule after removing the message from "params" field in .ndjson json file

**Build Details:**
Version:[7.16.0 BC3 ](https://github.com/elastic/security-team/issues/1873)
Build: 45816
COMMIT: acaa761f4ce46680fd7cfbeba03a652c72dc786b

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be

[2021-11-08 11:45] elasticmachine commented on #117829
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-11-08 11:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/2854#c1356180-deae-4fe7-934f-baec4fda2438)

[2021-11-08 11:56] karanbirsingh-qasource commented on #116399
Hi Team,

Validated the issue on other old version too and there too success in remote cluster and index pattern creation ✅

- `7.16.0 BC3` Parent and `7.14.2` Child

![image](https://user-images.githubusercontent.com/59917825/140737506-4cca827c-4f2b-45a5-be8a-8351875817f4.png)

- `7.16.0 BC3`  Child and `7.14.2` Parent

![image](https://user-images.githubusercontent.com/59917825/140737498-576bde7

[2021-11-08 11:56] weltenwort commented on #44327
Hey @zzssg :wave: Thanks for the ping. It's definitely at the top of my personal wish list as well, but I can't predict to which degree I'll be able to push that onto the roadmap. I'll try :crossed_fingers:

[2021-11-08 11:57] muskangulati-qasource commented on #116740
Hi @kevinlog,

We have tested this issue on the latest 7.16.0 BC3 environment and found that the issue is now fixed. Please find below the testing details:

**Build Details** :
[code]

**Screenshot**
![1](https://user-images.githubusercontent.com/60252716/140737953-28459baf-7b8e-4d8c-a852-043758aff485.JPG)

Hence, we are closing this issue and marking it as Validated.

cc: @academo

Thanks!!

[2021-11-08 11:57] #116740 closed

[2021-11-08 12:01] timroes opened #117832 "[Discover] Enable tags for saved searches"
Discover should allow assigning tags when storing a saved search and it should be able to filter via tags in the Open flyout.

Part of #85741

[2021-11-08 12:01] elasticmachine commented on #117832
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-11-08 12:13] #116139 closed

[2021-11-08 12:13] #117221 closed

[2021-11-08 12:13] #117222 closed

[2021-11-08 12:14] peteharverson opened #117834 "[ML] No warning shown if attempting to clone a job for which there is no data view"
**Kibana version:** 8.0.0-beta1

When attempting to clone an anomaly detection job for which there is no matching data view for the `indices` configured in the datafeed, a toast notification is no longer shown to the user to say that the job could not be cloned because no data view exists.

Regression introduced by https://github.com/elastic/kibana/pull/116455.

[2021-11-08 12:14] elasticmachine commented on #117834
Pinging @elastic/ml-ui (:ml)

[2021-11-08 12:17] bhavyarm commented on #116399
Thanks @karanbirsingh-qasource

[2021-11-08 12:25] weltenwort commented on #97108
@stacey-gammon, thanks for chiming in. That's good advice. It probably doesn't solve our problem, though, because it also require declaring circular dependencies between plugins (for example if the Logs UI and APM want to embed each other's embeddables).

![image](https://user-images.githubusercontent.com/973741/140741701-4b1fa283-2250-42a2-a4ef-2689c6d2fd09.png)

Do you have any recommendation fo

[2021-11-08 12:46] ymao1 commented on #116636
The last 80 hours:

No `MaxPerformanceEntryBufferExceededWarning`  or `Booting at` messages in the logs.

[7.16-BC3 empty](https://logging.europe-west1.gcp.elastic-cloud.com/app/kibana#/dashboard/Compute-Applications-containers-overview?_g=(time:(from:now-80h,to:now))&_a=(query:(language:kuery,query:'ece.cluster:e5e2bb65dd414345840237e8b0bbf0d6')))
<img width="1265" alt="Screen Shot 2021-11-08 at

[2021-11-08 12:47] #116636 closed

[2021-11-08 12:49] vadimkibana commented on #115881
I see @jloleysens you already have a fix PR for upstream dependency, which is great. Just wanted to check with you one more idea: what do you think about not mocking the file system? Instead using the real file system, then cleaning up one tests finish.

[2021-11-08 12:49] gmmorris opened #117843 "[Alerting] The "Recent execution durations" graph is cut short for small rule intervals"
**Kibana version:** 7.16 BC1

**Describe the bug:**
The "Recent execution durations" graph doesn't actually return the last 30 executions if the period we need to query exceeds the interval-based window of the Event Log query.

**Steps to reproduce:**
1. Create a rule that executes every `1s`
2. Navigate to the Rule Details page and wait for the rule to execute more than 20 times
3. You will see t

[2021-11-08 12:49] elasticmachine commented on #117843
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-08 12:51] flash1293 commented on #117353
Thanks @chandlerprall - closing for now as it only failed once in total, but we can address like this if it becomes are recurring issue.

[2021-11-08 12:51] #117353 closed

[2021-11-08 12:52] gmmorris opened #117844 "[Alerting] The timeframe of "Recent execution durations" isn't clear"
We recently added a "Recent execution durations" graph in the Rule Details page.

The executions slowly fill in from the left with the newest execution being on the right- but this isn’t totally intuitive or obvious to me as we don’t have an X-axis.

<img width="666" alt="Screenshot 2021-11-08 at 12 12 06" src="https://user-images.githubusercontent.com/386208/140745159-79b6bc74-8337-44c9-aa88-29a1

[2021-11-08 12:52] elasticmachine commented on #117844
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-08 12:52] flash1293 commented on #117808
Same problem as with https://github.com/elastic/kibana/pull/116909 - we have to roll this out for all of the suggestion tests.

[2021-11-08 12:56] gmmorris opened #117846 "[Alerting] The execution status isn't expressed in the "Recent execution durations" graph"
We recently added a "Recent execution durations" graph in the Rule Details page.

It occurs to me that it would be helpful to add some more indication on this graph with regards to the execution itself:

1. Did it complete successfully or perhaps fail?
2. Was it cancelled due to running for too long?

Perhaps other health indicators?

cc @mdefazio

[2021-11-08 12:56] elasticmachine commented on #117846
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-11-08 12:59] joshdover commented on #117812
I believe this is expected until the 7.16 release is published. Maybe one day we could have some URL that automatically redirects to the latest release-manager build when a release isn't published yet?

[2021-11-08 13:16] stacey-gammon commented on #97108
That's one option, or, if they are really that tightly coupled, maybe it _does_ make sense to combine them into one big plugin? I'm not familiar enough with the UIs or code to offer a good opinion. Why does each UI reuse components from the other UIs?  If each app is showing the same components from other apps, what makes the apps unique?
Or are the components generic enough to be used in differen

[2021-11-08 13:16] MadameSheema commented on #110802
@FrankHassanabad can you please take a look at the above when you have the chance? Thanks!

[2021-11-08 13:20] MadameSheema commented on #109191
@dhurley14 can you please take a look at the above when you have the chance? Thanks!

[2021-11-08 13:24] jportner commented on #100570
We revisited this test by re-enabling it and running it through the flaky test runner.
That didn't fail at all, and we're at a bit of a loss as to what else we can change to make this test more reliable.

Given that we don't have the (Jenkins) ƒailure logs anymore, I think our best course of action is to proceed by re-enabling this test suite. If it starts to fail again, we'll have better Buildkit

[2021-11-08 13:26] #117088 closed

[2021-11-08 13:33] #106053 closed

[2021-11-08 13:35] jsoriano opened #117853 "[Fleet] Stop using the internal flag in queries to EPR"
The `internal` flag is not used by any package and is not part of the package-spec, so the registry is going to ignore it (see https://github.com/elastic/package-registry/pull/765). Kibana/Fleet can stop using it.

In development versions of Fleet, the `internal` flag was used to identify "internal" packages. This was only used for the special case of the `base` package, that was originally needed

[2021-11-08 13:35] elasticmachine commented on #117853
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 13:39] banderror commented on #117042
Thank you @yiyangliu9286 and @vitaliidm for your comments.

I think we can close this ticket, I agree that other table UI enhancements would be more important to address, and this ticket is too arguable.

Leaving just a few comments:

I completely agree, but that seems like a next-level thing imho 🙂 Elastic Security is complex and I think more in-app links to more docs wouldn't hurt in general. It

[2021-11-08 13:42] elasticmachine commented on #117780
Pinging @elastic/kibana-gis (Team:Geo)

[2021-11-08 13:45] mistic opened #117856 "Failing ES Promotion: migration actions cloneIndex resolves left with a retryable_es_client_error if clone target already exists but takes longer than the specified timeout before turning yellow"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/354#6890

[2021-11-08 13:45] elasticmachine commented on #117856
Pinging @elastic/kibana-core (Team:Core)

[2021-11-08 13:47] mistic commented on #117856
Skipped.

main/8.1: c6fc16f

[2021-11-08 13:51] mistic commented on #117770
The test failed again. Skipping for now.

main/8.1: 4739397
8.0: 16b3523

[2021-11-08 13:52] banderror commented on #117034
@yiyangliu9286 could you please clarify what do you mean by the `xx.xx.xx` format? Is it `DD.MM.YY` or `MM.DD.YY` or something else?

Should we render datetime values as short dates in cells, but as a full date+time in tooltips? Currently it seems like we render date+time+milliseconds in some cases in cells.

[2021-11-08 13:53] mdefazio commented on #117844
@gmmorris I like the idea of having a timestamp of each in the tooltip (this seems like fairly standard practice for our charts, right?)

I'm not opposed to having an x-axis either.  I don't believe there was a specific reason this was omitted originally.  We were focusing on keeping these somewhat brief/short to save vertical space—but I think it's worth trying with an x-axis.

[2021-11-08 13:55] claudiopro commented on #115781
Hi @hbharding , please review the updated design:
<img width="1306" alt="Screenshot 2021-11-08 at 14 53 44" src="https://user-images.githubusercontent.com/860099/140754102-ab7b57a6-8c75-4896-bf4c-0aaf9665df34.png">

I placed the **Select** button on the last column. Should we maybe move it to the first?

[2021-11-08 13:55] #116981 closed

[2021-11-08 13:57] mdefazio commented on #117846
@gmmorris Thanks for getting this down and tracked.  We had some initial thoughts around this, but I will put it on our list to continue thinking on it.

[2021-11-08 13:57] weltenwort commented on #117664
closed via  #117691 (8.1 and 8.0) and  #117709 (7.16)

[2021-11-08 13:57] #117664 closed

[2021-11-08 14:04] stephmilovic commented on #117816
Not a bug, a feature. Like @MadameSheema says, Data Sources dropdown has no function without first initializing data on your instance. This was part of the landing page redesign feature by @kevinlog 's team

[2021-11-08 14:04] claudiopro commented on #115781
Should we still add a **Cancel** button to the footer?

[2021-11-08 14:05] MadameSheema commented on #117816
Thanks, @stephmilovic, closing the ticket.

[2021-11-08 14:05] #117816 closed

[2021-11-08 14:09] cconboy opened #117860 "[Fleet UI] Improve consistency of terminology between Add Agent Flyout and Agent Downloads Page for tar download"
In Add agent Flyout, the comment recommends to users to "use the installer (TAR)" -- when the user gets to downloads page there is no item called "installer" or "TAR". I'm sure people figure out, but it could probably be better aligned.

![Screen Shot 2021-11-08 at 9 00 13 AM](https://user-images.githubusercontent.com/81974926/140755096-c08d05f5-958a-4a43-8e62-6b2452444b9f.png)

![Screen Shot 2021

[2021-11-08 14:09] elasticmachine commented on #117860
Pinging @elastic/fleet (Feature:Fleet)

[2021-11-08 14:09] elasticmachine commented on #117860
Pinging @elastic/fleet (Team:Fleet)

[2021-11-08 14:18] azasypkin opened #117862 "Kibana crashes when no authentication providers are enabled"
## Summary

I noticed that Kibana crashes when we don't have any enabled authentication providers:
[code]
[code]

It may look like an invalid configuration, but it's completely valid. Especially if user puts Kibana behind an authenticating proxy and wants to leverage HTTP authentication only. For example:
[code]

When we fix this we should verify that:
* User can log in with the HTTP authenticatio

[2021-11-08 14:18] elasticmachine commented on #117862
Pinging @elastic/kibana-security (Team:Security)

[2021-11-08 14:29] elasticmachine commented on #117255
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-11-08 14:29] weltenwort commented on #97108
We're working on making more "bundles" of information available to display in other observability apps. This could be showing log entries and metrics for the entities related to a trace right in the APM app. But that goes both ways since it would make sense for the Logs UI to show APM information about a trace that a log entry is tagged with. So each app would like to provide embeddables/component

[2021-11-08 14:41] ersin-erdal commented on #117696
How should we open the Rule Details page? Ina new window or same window?
@hbharding can you help us here please?

[2021-11-08 14:43] Bamieh commented on #114508
@pgayvallet yes it is only sent if the user sets it (even if they set it manually to match the exact default value). I've used existing apis from core to do this

[2021-11-08 14:56] azasypkin opened #117869 "It's impossible to use interactive setup to manually connect to Elasticsearch in Elastic Cloud deployment"
## Summary

Elasticsearch in the Elastic Cloud deployment is just an easy example, we'll likely have exactly the same problem with other deployments as well. Here is what I see in the log if I try to use manual configuration mode to connect to Elastic Cloud:

[code]

The "Let's Encrypt" certificate chain we use in Elastic Cloud consists of 3 certificates, we send just one to the `/configure` endpo