[2021-09-28 17:23] elasticmachine commented on #113299
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-28 17:36] RedBeardDev commented on #15355
After some research and testing, I was able to create 'Today Business Hours' and 'Yesterday Business Hours' filters (Kibana 7.2.0):
Here they are :

`{
  "from": "now-0d/d+8h",
  "to": "now-1d/d+18h",
  "display": "Today (Business Hours)"
}`

`{
  "from": "now-1d/d+8h",
  "to": "now-2d/d+18h",
  "display": "Yesterday (Business Hours)"
}`

I don't know why '**now**' **for** 'to' property is always

[2021-09-28 17:40] #112064 closed

[2021-09-28 17:46] tsullivan opened #113306 "[Reporting] Update the documentation for 8.0"
**Kibana version:** 8.0

1. "Grant access with a custom index" is no longer relevant: system indices are not configurable in 8.0.
https://www.elastic.co/guide/en/kibana/current/secure-reporting.html#_grant_access_with_a_custom_index

2. This note should be removed:

    In 8.0, setting "0" as the hostname stops Kibana from starting and the logs explain why. This is not specific to Reporting.

[2021-09-28 17:47] tsullivan opened #113307 "[Reporting] Guide users to the diagnostic tool in the troubleshooting guide"
**Kibana version:** 7.x

To troubleshoot the problem, start the Kibana server with environment variables that tell Chromium to print verbose logs. For more information, refer to Puppeteer debug logs.

This section of text should mention there is a diagnostic tool that detects what packages are missing in the system.

[2021-09-28 17:48] elasticmachine commented on #113307
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-28 17:48] elasticmachine commented on #113306
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-28 17:48] lukasolson commented on #112865
Related: https://github.com/elastic/kibana/issues/80406

[2021-09-28 17:50] elasticmachine commented on #86425
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-28 17:58] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/607#cdd0f0bf-2d75-4661-b96e-549cfdc96169)

[2021-09-28 18:01] ogupte opened #113308 "[APM] Garbage collection time spent per minute chart has incorrect values"
In JVM metrics, the "Garbage collection time spent per minute" chart shows values are are off by a factor of 1000.
![Screen Shot 2021-09-28 at 1.52.44 PM.png](https://zube.io/files/elastic/ab1cb582e21297dc6ef4646c202e574d-screen-shot-2021-09-28-at-1-52-44-pm.png)

This these values are based on the field `jvm.gc.time` where the value is in milliseconds, but the UI displays it as microseconds.

The

[2021-09-28 18:01] elasticmachine commented on #113308
Pinging @elastic/apm-ui (Team:apm)

[2021-09-28 18:05] #112703 closed

[2021-09-28 18:07] aag6z commented on #110889
Interesting @nreese when I followed the asset tracking demo as is - the orientation field was greyed out. Any idea why that might be?

[2021-09-28 18:07] dbuijs commented on #82020
The reason we need to stand up multiple instances of Kibana attached to the same Elasticsearch cluster is to support different localizations. With this ticket that strategy will no longer work.

Will spaces be able to have different locale settings?

[2021-09-28 18:26] jportner commented on #112221
Another use case for this is when consumers use the Deprecations Service to register deprecations (example: #110960).

[2021-09-28 18:28] alexfrancoeur commented on #113285
I can't seem to resize the popover, but this is what I was thinking. Not committed to the text changes, was just looking to make room on the top 😄

![Frame 565 (1)](https://user-images.githubusercontent.com/25181823/135144541-31c2f1c1-cd93-472c-87a5-789b3b556f52.png)

Basically, just looking to add some more context between those buttons. But otherwise, I think the design is good. My only concern

[2021-09-28 18:45] pmuellr opened #113316 "[actions] xpack.actions.proxyUrl is not validated as a URL at startup"
**Kibana version:** 7.15

The config key `xpack.actions.proxyUrl` is currently validated as just a string:

https://github.com/elastic/kibana/blob/3dcfd447d2477e2bc259ed827dd0cb08b608b45f/x-pack/plugins/actions/server/config.ts#L78

At usage time, we check that it's a valid URL, and ignore it if it's not:

https://github.com/elastic/kibana/blob/3dcfd447d2477e2bc259ed827dd0cb08b608b45f/x-pack/plugi

[2021-09-28 18:45] elasticmachine commented on #113316
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-28 18:50] #111233 closed

[2021-09-28 18:52] jportner commented on #101966
Okay, I spoke with @simianhacker about the Metrics UI team's single-namespace saved object types:

* `infrastructure-ui-source` - this is a singleton (basically a config object, one per space) -- does not need to be converted, similar to `uptime-dynamic-settings` in the linked meta-issue
* `metrics-explorer-view` - these objects can be created or loaded on the Metrics Explorer page to customize th

[2021-09-28 18:53] ymao1 commented on #112087
@pmuellr was able to provide me with the task manager documents that have `task.ownerId`, `status: running`, `retryAt: null` and `scheduledAt: a while in a past`

It looks like all of these tasks are actions, which do not set a `retryAt` value since we currently execute actions at most once. Since their status is still `running`, Kibana must have crashed mid-action execution. I was able to recreat

[2021-09-28 18:57] TinaHeiligers commented on #103915
I confirmed that none of these settings are registered with the `coreDeprecationProvider` and am not to sure how we should proceed with them:
- Do they already appear as deprecations and all we need to do is remove them?
- or do we first need some sort of deprecation notice period?

If it's the latter, we should probably have done that a few minors ago. 🙍‍♀️

[2021-09-28 18:57] cjcenizal commented on #93408
In https://github.com/elastic/kibana/pull/107053/files#diff-38bb33f6dabc02e8eac580c904c73e5bfabfb237e5962df945d67bcdd5e4ffacL76 we made changes to the code which was causing this error, so the code no longer expects `ml_settings` to be defined. I believe this addresses the error that's being reported. We'll test scenarios in which no deprecations are being reported from ES, to ensure a similar err

[2021-09-28 18:57] #93408 closed

[2021-09-28 18:58] kobelb commented on #82020
Hey @dbuijs, you can have multiple Kibana nodes/processes with different `i18n.locale` settings using the default `kibana.index`, `xpack.reporting.index` and `xpack.task_manager.index` settings. Is there a reason why you changed the `*.index` settings in addition to the `i18n.locale` settings for the Kibana nodes/processes?

[2021-09-28 19:03] sqren opened #113319 "[APM] Run APM e2e's when Cypress version is bumped"
**Problem**
The PR that [bumped Cypress](https://github.com/elastic/kibana/pull/104301) inadvertently broke the apm e2e's because they are only run for APM changes.

**Solution**
The APM e2e's should run whenever cypress is updated.

[2021-09-28 19:03] elasticmachine commented on #113319
Pinging @elastic/apm-ui (Team:apm)

[2021-09-28 19:13] #113248 closed

[2021-09-28 19:36] akshay-saraswat opened #113780 "[Fleet] Remove Enterprise license requirement from EPR"
Lots of tech enthusiasts and/or Federal customers who wish to try our offline EPR would need it to be covered under the basic license instead of Enterprise. It would be difficult and discouraging for them to try a new software if they have to go through a regular procurement cycle for the enterprise license.

Let's remove the Enterprise license requirement from EPR at least the offline version (do

[2021-09-28 19:54] sqren opened #113323 "[APM] Make sure to document all APM options"
Closes https://github.com/elastic/kibana/issues/104861

Unless otherwise stated, every config option in APM should be publicly documented. The options can be found here:
https://github.com/elastic/kibana/blob/4fe8605c7b50e4a94e99fc63f64f05870ad449eb/x-pack/plugins/apm/server/index.ts#L72-L106

And documentation is located here:
https://github.com/elastic/kibana/blob/4fe8605c7b50e4a94e99fc63f64f058

[2021-09-28 19:54] elasticmachine commented on #113323
Pinging @elastic/apm-ui (Team:apm)

[2021-09-28 20:01] lukeelmers commented on #103915
Yes, because they are using the config deprecation provider, they should already be surfaced via the deprecations API & therefore in the UA.

So basically we'd need to:
- Doublecheck we are seeing the deprecations in UA on the 7.x branch (we should be)
- Remove the deprecations themselves
- Update schemas if needed (for example if a plugin has both an old and `rename`d key in the schema, the old o

[2021-09-28 20:01] lukeelmers commented on #103915
This issue is getting hard to follow, I'm going to combine the lists Pierre and I have into the description

[2021-09-28 20:12] dominiqueclarke commented on #112860
@drewpost ![image](https://user-images.githubusercontent.com/11356435/135158813-e6712a89-bda2-4647-8c1c-20d854e745a6.png)In order to create a breakdown by percentile ranks, we need to apply the percentile operation. This means that the other operation types are no long able to be applied. Did you want us to hide the operation option when percentile breakdowns are applied?

![image](https://user-im

[2021-09-28 20:16] dominiqueclarke opened #113326 "[Observability] [Exploratory View] Changing time range auto applies in multi series"
Auto apply is currently disabled for exploratory multi series. Users must explicitly click "Apply" to update their chart.

However, changes made to the time range still apply automatically without hitting Apply. This behavior should be removed.

[2021-09-28 20:16] elasticmachine commented on #113326
Pinging @elastic/uptime (Team:uptime)

[2021-09-28 20:18] dominiqueclarke opened #113327 "[Observability] [Exploratory View] Percentile operations are missing metric type in chart labels"
Relates to elastic/uptime#361

When applying a percentile operation to a chart in exploratory view, the metric type is missing in the chart labels, providing poor context for our users. We should append the metric type to the label.

![image](https://user-images.githubusercontent.com/11356435/135159677-156d4390-8656-42a8-9bdc-6a99b83dd045.png)

[2021-09-28 20:19] elasticmachine commented on #113327
Pinging @elastic/uptime (Team:uptime)

[2021-09-28 20:24] lukeelmers commented on #103915
IMO we should go ahead and remove all of these other `unused` ones:
  - ❔ `savedObjects.indexCheckTimeout`
  - ❔ `server.xsrf.token`
  - ❔ `elasticsearch.preserveHost`
  - ❔ `elasticsearch.startupTimeout`

The one I have questions about is `rewriteBasePathDeprecation`. @elastic/kibana-core does anyone have more context than me on this one? The deprecation is confusing to me:
https://github.com/ela

[2021-09-28 20:34] smith commented on #112976
@sqren the latest changes are in 7.15, where it's much less likely that text will be cut off and it will no longer completely disappear.

It looks like the dependencies table and service inventory are not using the `TruncateWithTooltip` component, but the rest of the tables are:

![CleanShot 2021-09-28 at 15 32 36](https://user-images.githubusercontent.com/9912/135161473-be51a251-0055-42bb-93de-e0

[2021-09-28 20:44] seanbirdsell commented on #30738
Any movement on this issue/request?

[2021-09-28 20:48] #112591 closed

[2021-09-28 20:48] jportner opened #113330 "Upgrade assistant shows duplicate plugin names for `fetch_error` deprecation level"
**Kibana version:** 7.16 (unreleased)

**Describe the bug:**

If a plugin registers multiple `fetch_error` level feature deprecations, the callout at the top of the Upgrade Assistantw ill show the plugin name multiple times.

**Steps to reproduce:**
1. Start Kibana using this branch: #110960
2. Add a new role that grants only the `manage` ES cluster privilege
3. Add a user that has the new role an

[2021-09-28 20:48] elasticmachine commented on #113330
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-28 20:49] pmuellr commented on #112193
Mike had proposed an option 6: wait for elasticsearch "join" capability in search, at which point we could do a query to join rules against some other SO containing the rule-specific data.  May be a long wait :-). But honestly, that would be the cleanest solution. And we'd need to wait for SO's to support "join" as well ...

Options 2 and 3 require SO support runtime fields in the SO client `find(

[2021-09-28 21:01] dbuijs commented on #82020
We were concerned that different Kibana nodes that shared the same kibana.index would overwrite each other because this happened with earlier versions of elasticsearch. Note that we need to make changes in index patterns and runtime fields in the different locales. Will different Kibana nodes sharing a kibana.index be able to maintain separate index patterns and display settings for the same elast

[2021-09-28 21:15] pmuellr opened #113334 "[eventlog] add fields for use in RBAC filtering"
At some point, we'd like to implement "RBAC filtering" over the event log.  Currently, the event log implements RBAC in a crude fashion - the query over the event log needs to pass a list of Saved Object ids; we do a query over those SO ids to make sure the current user can read those SO's, and if they can, we construct a filter for their query which filters over those SO ids (which are stored in

[2021-09-28 21:15] elasticmachine commented on #113334
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-28 21:20] jportner opened #113335 "Prevent creating legacy URL conflicts"
_Note: this enhancement was discussed and approved via an internal RFC dated Sep 23, 2021. The executive summary of the RFC is shown below._

## Problem statement

To support the Sharing Saved Objects effort (#27004), we need to [regenerate many saved object IDs](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-faq-changing-object-ids). That has severa

[2021-09-28 21:20] elasticmachine commented on #113335
Pinging @elastic/kibana-security (Team:Security)

[2021-09-28 21:20] elasticmachine commented on #113335
Pinging @elastic/kibana-core (Team:Core)

[2021-09-28 21:26] kobelb commented on #82020
They will not. Our recommendation would be to use spaces to segment your index patterns. Using Kibana's RBAC model you can grant a subset of your users access to different spaces.

[2021-09-28 21:28] jportner commented on #111196
The RFC was approved and I created an issue for the work, which I plan to begin this week: #113335

Given that, our concerns regarding conflict scenarios are largely alleviated, since they should not be able to happen organically either by using the Kibana app or using its HTTP APIs.

I think we should leave this issue open to track that work needs to be done, but it's safe to say that we can proc

[2021-09-28 21:44] elasticmachine commented on #113050
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-28 21:47] ryankeairns commented on #113050
@MichaelMarcialis I chatted with @snide and, if possible, let's see if we can devote some time in 7.16 to address some of the issues outlined above. Namely, the scalability and perhaps some indicator of 'size' (e.g. # of objects, # of indices, etc. - not sure what is available here).

[2021-09-28 22:22] cjcenizal commented on #113330
This sounds like a duplicate of https://github.com/elastic/kibana/issues/111854, which was fixed by https://github.com/elastic/kibana/pull/111888 a couple weeks ago (after the referenced PR was opened). @jportner Could you try bringing that PR up to date with 7.x and verifying this bug still exists?

[2021-09-28 22:23] neptunian opened #113339 "[Stack Monitoring] migrate elasticsearch node overview page to React"
https://github.com/elastic/kibana/issues/112822

[2021-09-28 22:28] elasticmachine commented on #113339
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-28 22:54] lukeelmers commented on #67270
Discussed this with @elastic/kibana-core today. Overall we are worried about the complexity of automatic deduplication, for [the reasons I enumerated above](https://github.com/elastic/kibana/issues/67270#issuecomment-926123283). It's not quite as simple as it seems on the surface if we want to handle this globally.

We think that a better possible solution could be introducing some sort of `edit`

[2021-09-28 23:53] cjcenizal opened #113345 "Remove plugins.scanDirs from default cluster configuration in 7.16"
Creating a fresh 7.16 cluster and navigating to Upgrade Assistant shows this setting in use. We should improve this UX for users who are trying out Kibana for the first time in 7.16 by configuring Kibana to no longer use this deprecated setting, and to use supported settings instead.

![image](https://user-images.githubusercontent.com/1238659/135180623-f5b5f627-2f74-4469-8b5c-10a8c355a3a8.png)

[2021-09-28 23:53] elasticmachine commented on #113345
Pinging @elastic/kibana-core (Team:Core)

[2021-09-28 23:54] kibanamachine commented on #113043
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/617#8df1c120-831a-4d16-8449-2ec330a32907)

[2021-09-28 23:55] cjcenizal opened #113346 "Remove xpack.reporting.roles from default cluster configuration in 7.16"
Creating a fresh 7.16 cluster and navigating to Upgrade Assistant shows this setting in use. We should improve this UX for users who are trying out Kibana for the first time in 7.16 by configuring Kibana to no longer use this deprecated setting, and to use supported settings instead.

![image](https://user-images.githubusercontent.com/1238659/135180856-99b05d2e-cbbf-4716-8f94-c9bc86341a9d.png)

[2021-09-28 23:55] elasticmachine commented on #113346
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-28 23:56] cjcenizal opened #113347 "Remove monitoring.cluster_alerts.email_notifications.email_address from default cluster configuration in 7.16"
Creating a fresh 7.16 cluster and navigating to Upgrade Assistant shows this setting in use. We should improve this UX for users who are trying out Kibana for the first time in 7.16 by configuring Kibana to no longer use this deprecated setting, and to use supported settings instead.

![image](https://user-images.githubusercontent.com/1238659/135180902-4813ea8f-c843-4dba-b648-7d520e7fe1d9.png)

[2021-09-28 23:56] elasticmachine commented on #113347
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-29 00:43] TinaHeiligers commented on #103915
@Bamieh, the upgrade assistant surfaces deprecations for `ui_metric.enabled` and `ui_metric.debug` but Kibana throws with `usageCollection.uiMetric.enabled` and `usageCollection.uiMetric.debug` are [configured](https://github.com/elastic/kibana/blob/master/src/plugins/usage_collection/server/config.ts#L35-L36).

Was this always the case or is there something else going on in the 7.x branch?

[2021-09-29 00:58] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/622#0081785b-2568-4b13-b060-d8ae774eb20b)

[2021-09-29 01:18] Salmani commented on #113295
Thanks @crob611 based on your comment I applied the following css as a global css override to our canvas workpads and it seems to have fixed the issue
[code]

[2021-09-29 01:24] yiyangliu9286 commented on #110549
@jethr0null @peluja1012 @rylnd (cc: @adamwdraper) here are the proposed mocks / user flows for the 3 proposed options (see [figma](https://www.figma.com/file/GbELAvNS9XXgsr6jHLMXed/[7.16]-Duplicated-rules_Exception-list-config?node-id=6%3A9) file for the design details):

- When users select rule(s) actions to **duplicate rule(s)**, proposed to have a modal asking if users would like to duplicate

[2021-09-29 01:46] snide commented on #113285
Designs look good. Only comment might be to make the text for the button a little more clear. "View deployment and Elasticsearch details"? I'm just worried folks won't know what deployment means in this context. @gchaps might have some suggestions.

[2021-09-29 02:15] Salmani commented on #113226
As noted here based on https://github.com/elastic/kibana/issues/113295#issuecomment-929743504 we applied a css override as a workaround on our canvases to fix the issue.

[code]

[2021-09-29 02:58] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/625#575a9b56-4fff-4904-b06e-565dc389ab45)

[2021-09-29 04:17] jasonrhodes commented on #113197
From what I'm reading in the attached implementation PR from that linked ticket (https://github.com/elastic/elasticsearch/pull/55047/), it sounds like `ignore_throttled` wasn't removed, but restricted so that it only refers to frozen indices. Seeing how that's how we were using it in Kibana, with an explicit "Frozen Indices" name, should this value be deprecated?

[2021-09-29 04:23] drexciyaforever commented on #72069
Hey team, any chance we've made progress on this? Wondering if the[ added support for `event.original`](https://github.com/elastic/enhancements/issues/10258#issuecomment-917955948) in Elastic Agent might be a solution!

[2021-09-29 04:25] karanbirsingh-qasource opened #113351 "[Security Solution]Connectors need to update after exporting the deleted case"
**Describe the bug**
Connectors need to update after exporting the deleted case

**Build Details**
[code]
**Steps**
1. Create case with connector

2. Update the connector

![image](https://user-images.githubusercontent.com/59917825/135203046-01f56016-3314-470f-b021-67a3a06c7ee5.png)

3. Export the case

4. Delete the case

5. Import the case

![image](https://user-images.githubusercontent.com/5991

[2021-09-29 04:25] elasticmachine commented on #113351
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-29 04:26] karanbirsingh-qasource commented on #113351
@manishgupta-qasource please review

[2021-09-29 04:59] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/629#7d69d266-5dad-411c-b2a2-0c2c50500fea)

[2021-09-29 05:20] jasonrhodes commented on #112926
I've been looking into this for a bit. There are a number of problems with the above query from Chris, when it comes to the metricbeat _mappings_, which cause problems even when the data is directly reindexed.

1. `"cluster_uuid": "{CLUSTER_UUID}"` this is probably a copy/paste error but it won't work here
2. The metricbeat mappings don't have `beats_stats`, they only have `beat`, so `beat_stats.b

[2021-09-29 06:00] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/632#53ff61ec-c109-478b-a59c-0aacc8a6a17e)

[2021-09-29 06:52] kibanamachine commented on #112922
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/633#97635b48-8017-4e8c-8c1a-d35c5d31bc11)

[2021-09-29 06:55] #107849 closed

[2021-09-29 06:55] #107865 closed

[2021-09-29 06:59] pgayvallet commented on #112492
@rudolf @jportner Do you think the perf improvement is significant enough that we want to prioritize this for early 8.x?

[2021-09-29 07:03] pgayvallet commented on #112756
cc @delvedor this should be as easy as changing the `agent.maxSockets` option we're using when instantiating the `Client`, right? I see this option is receiving `number ? undefined`. I'm guessing passing `undefined` will fallback to the default value of `256`, so is there a way to provide a value to remove the limit on the number of sockets, or should we just use a very high number instead?

[2021-09-29 07:14] thomheymann commented on #111349
That's different though. If we mistakenly show interactive setup due to a flakey connection the first time you start Kibana that's acceptable. The user wouldn't even be aware that it should have automatically connected to localhost.

Once the user configured Kibana though and we show interactive setup (even if only for a brief period of time) that will look like quite a catastrophic error. As a us

[2021-09-29 07:16] delvedor commented on #112756
Correct.

You should configure a higher socket number. Be aware that if you configure `Infinity`, a new socket will be used for each request, increasing the memory pressure. I would recommend finding a good enough finite number, so you can keep the memory under control.

Some info about how the `maxSocket` option works can be found here: https://github.com/nodejs/node/issues/26357.

[2021-09-29 07:28] #113283 closed

[2021-09-29 07:37] bilelmeddeb commented on #100956
hello ,
please can you help me more
I followed all these steps
sorry i'm new il elasticsearch

[2021-09-29 07:40] formgeist opened #113359 "[APM] Display partial data buckets differently and message in the chart tooltips"
# Summary

The way we display time-series today means that we have partial data buckets shown because we're typically showing the last minute/hour/day and it will continue to be updated with data if the user has refresh interval on. But we want to ensure the user doesn't get surprised to see a sudden dip or empty bucket at the beginning or tail-end of the selected time range.

<img width="642" alt

[2021-09-29 07:40] formgeist commented on #18314
Superseeded by https://github.com/elastic/kibana/issues/113359

[2021-09-29 07:40] #18314 closed

[2021-09-29 07:43] formgeist commented on #20659
We fixed most of the issues with long trace waterfalls by implementing https://github.com/elastic/kibana/pull/106862 so no need to continue with the threshold approach at this time.

[2021-09-29 07:43] #20659 closed

[2021-09-29 07:48] mgiota commented on #109619
@jasonrhodes I just read this message. I had to come back to this to verify which fields are needed for implementing RBAC. We need consumer and I need to verify if producer is needed as well. In this PR it looks like producer is being used to determine alert permissions. I can walk you through this and you can give me a bit more context on your current knowledge regarding consumers and producers.

[2021-09-29 07:59] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/635#53c649fc-f0f5-4aa2-b717-10fe829caf88)

[2021-09-29 08:10] #112790 closed

[2021-09-29 08:21] azasypkin commented on #111349
Sounds like a pure messaging/UX problem to me. Cannot we tweak copy and UX to make it clear that "Kibana isn't able to connect to ES yet. If it's expected, proceed to interactive setup. If not, wait a bit, and Kibana will automatically redirect you to home/target page as soon connection is established."?

We can, but the default value is already there - we ship docker images with pre-filled `kiban

[2021-09-29 08:22] pgayvallet commented on #112756
@kobelb I guess the best option is, as you suggested, to allow users to configure this value via the config file. Would the current `256` client's default be suitable for the config's default value?

[2021-09-29 08:32] DziyanaDzeraviankina commented on #49611
Was fixed by replacing `NumberInputOption` with `RequiredNumberInputOption` in https://github.com/elastic/kibana/pull/62957

[2021-09-29 08:32] #49611 closed

[2021-09-29 08:34] watson commented on #112221
Btw, if possible, we need this for 7.16 as we want to make sure those running 7.16 once 8.0 comes around still sees the right deprecation URLs

[2021-09-29 08:35] sulemanof commented on #49611
Nice to see it @DziyanaDzeraviankina
Hope you are doing well 🙂

[2021-09-29 08:51] jpountz commented on #113197
@jasonrhodes This has been done in several phases where `ignore_throttled` was first repurposed to only apply to frozen indices in the PR you linked, which end up matching the Kibana semantics since the setting is called `search::includeFrozen`. But more recently this parameter has also been [deprecated](https://github.com/elastic/elasticsearch/pull/77479).

@martijnvg Do you know what the migrati

[2021-09-29 08:58] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/637#01a6ae9f-2cbb-4380-b4c2-5fbeebf9f8ae)

[2021-09-29 09:08] simitt commented on #113088
Picking up @bmorelli25 's comment about _standalone_. How about something like:

[2021-09-29 09:10] droberts195 opened #113365 "[ML] Delete annotation method assumes annotation is in current write index"
The `deleteAnnotation` function in ML assumes that the annotation to be deleted is in the index that the annotations write alias currently points to:

https://github.com/elastic/kibana/blob/a251dbf1f8435d6e7a9630eb6262cafe99468b1e/x-pack/plugins/ml/server/models/annotation_service/annotation.ts#L409-L418

This assumption is incorrect.  The annotation to be deleted could be in any one of the indice

[2021-09-29 09:20] mshustov commented on #112756
Let me be the devil's advocate.
It is an option with great flexibility but not the best UX. First of all, a Kibanauser has to detect the problem with socket starvation somehow. It requires some effort to set up monitoring and keep an eye on it. Then when the user found out the problem, one needs to spend some time reading Kibana docs to find a soliton (to increase `maxSockets` value).

I'd suggest

[2021-09-29 09:29] rudolf commented on #103231
To fix the initial failures I used a data archive with a lot more data which avoided the race condition where the reindex operation completes in `"0s"`. But now tests seem to be flaky because the larger index takes longer to become available. So I'll be adding a check to only start the reindex once the larger index is "yellow".

[2021-09-29 09:35] #109381 closed

[2021-09-29 09:44] #113120 closed

[2021-09-29 09:49] ppisljar opened #113370 "make index pattern saved object "share-capable""
make index pattern saved object "share-capable"

step 4 of https://github.com/elastic/kibana/issues/100489
more info: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-step-4

[2021-09-29 09:50] ppisljar opened #113371 "make saved queries SO share-capable"
make queries saved object "share-capable"

step 4 of #100489
more info: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-step-4

[2021-09-29 09:52] ppisljar opened #113372 "short url saved object should extract/inject references and perform migrations"
short url saved object contains serialized locator information. As the service doesn't own the locator information it should make sure it extracts/injects references from/to it when saving/loading as locatorParams might contain references to other saved objects.

step 1 of #100489
more info: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-step-4

[2021-09-29 09:54] ppisljar opened #113373 "search sessions saved object should be retrieved using soc.resolve"
search sessions saved object should be retrieved using SavedObjectsClient.resolve (instead of .get)

step 2 of #100489
more info: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-step-2

[2021-09-29 09:56] lchdev opened #113374 "Kibana docker image does not respond to SIGTERM"
**Kibana version:**

Tested with latest 7.15.0 and 8.0.0-alpha2

**Original install method (e.g. download page, yum, from source, etc.):**

Using the official docker.elastic.co/kibana/kibana image

**Describe the bug:**

The container does not respond to SIGTERM, making it impossible to gracefully shutdown Kibana.

**Steps to reproduce:**
1. Execute `docker run --rm docker.elastic.co/kibana/kibana

[2021-09-29 09:57] delvedor commented on #112756
The agent is configured to use the available sockets in a lifo fashion, which means that if there is a peak of requests and many sockets get opened, then most of those will be closed quickly, so it's not a big issue having a higher number of `maxSockets`. I agree with @mshustov that from a UX point of view this value should be configured in core. You can try with `512` and see how it goes.

[2021-09-29 09:58] ppisljar opened #113376 "short url saved object should be retrieved using soc.resolve ("
short url saved object should be retrieved using SavedObjectsClient.resolve (instead of .get)

step 2 of #100489
more info: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-step-2

[2021-09-29 09:58] mbondyra opened #113377 "[Lens] Infinite loop when loading rejected index pattern"
**Kibana version:**
master, probably 7.15

1. add sample data
2. add a second index pattern that points to the sample data index
3. add a lens that uses the second index pattern
4. delete the second index pattern
5. navigate to the lens
Behavior: the lens will load, then it will try to load the second index pattern but it is not found. it triggers the infinite loop in getIndexPatternsObjects

[2021-09-29 09:58] gmmorris commented on #112749
@ymao1 - was this moved back to triage on purpose?

[2021-09-29 10:10] azasypkin opened #113378 "[Discuss] Handle `Kibana Not Ready` mode"
## Summary

*ISP - Interactive Setup Plugin

If ISP is NOT enabled and Kibana isn't ready yet, the preboot server will reply with `503 Kibana Not Ready` whenever user tries to access Kibana in browser (aka `GET` non-XHR request).

If ISP is enabled, the preboot server will serve its UI instead and implicitly delegate handling of the `Kibana Not Ready` mode to ISP. There are three possible scenario

[2021-09-29 10:20] ppisljar opened #113379 "remove expressions fork in favor of namespacing"
Expressions service exposes a `fork` function, which creates a copy of current expression service and allows consumer to keep their isolated version. The main intention behind that was to allow apps to have isolated functions which don't pollute the global functions registry.

There are several drawbacks to the current approach:
- memory overhead, due to keeping some functions in multiple registri

[2021-09-29 10:28] martijnvg commented on #113197
Yes, it boils down to stop using `ignore_throttled` parameter.

If that turns out to be tricky (e.g. not being able to detect when not to use the `ignore_throttled` parameter) then we can think about adding a hidden/internal parameter that can be used to stop the deprecation warning from happening.

[2021-09-29 10:30] shahzad31 opened #113380 "[Data] Allow passing inspector adpator to data.search just like data.search.searchSource"
Data plugin provides search utilities, using `data.search.search` method and `data.search.searchSource` method.

Using search source you can pass an inspector adaptor and it will auto add those request into the adaptor. You can pass the same adaptor using data.search.search mehtod as well. but it doesn't populate the inspecotr with requests information.

We should make this behavior consistent acc

[2021-09-29 10:31] ppisljar opened #113381 "search sessions should switch from url generators to url locators"
url generators are deprecated and will be removed in the future. search sessions should move to the new url locators service and make use of its migration and reference extraction/injection capabilities

[2021-09-29 10:38] formgeist commented on #113088
Sounds clear to me 👍

[2021-09-29 10:39] stratoula commented on #112965
@legrego I think we are already working on this, right?

[2021-09-29 10:42] klacabane commented on #111767
I'll get started with the Instance page following the steps defined [here](https://github.com/elastic/kibana/issues/111309#issuecomment-925890863).

[2021-09-29 10:47] #106121 closed

[2021-09-29 10:47] #113215 closed

[2021-09-29 10:50] sqren opened #113383 "[APM] Prefix internal APM APIs with `/internal/`"
All APM apis with very few exceptions should be marked as internal. We can do that easily by prefxing a route with `/internal/`.

Public APIs:
 - [Agent configuration APIs](https://www.elastic.co/guide/en/kibana/master/agent-config-api.html)
 -  [Annotations APIs](https://www.elastic.co/guide/en/kibana/master/apm-annotation-api.html)\
 - tbd

[2021-09-29 11:02] legrego commented on #112965
Thanks for the ping @stratoula, and thanks for raising this issue @drenze-athene --

Yes we are working on this. It's a more complex problem than you might expect, as Kibana/Elasticsearch does not have the notion of an individual user today: the same individual might have multiple credentials to authenticate to ES, so we can't rely on username/password alone to determine identity.

We've been work

[2021-09-29 11:02] #112965 closed

[2021-09-29 11:08] MiriamAparicio opened #113386 "[APM] Split setupRequest into several smaller helpers"
After removing start and end from ```setupRequest``` only ```apmEventClient``` is remaining in most of the endpoints.

We can then split ```setupRequest``` into several smaller helpers like getApmEventClient, getInternalClient, getMLClient. And use them only where needed instead of all the setup object.

## Usages of `setup`:

[code]

[2021-09-29 11:09] rudolf commented on #112492
At this point it's just an uninformed guess, but my guess is that most plugins and most users won't see a significant performance benefit. However, heavy users of performance critical plugins like alerting/task manager might and having an escape hatch for them would reduce the potential impact.

So I think we should start by trying to quantify if it would introduce a performance regression for ale

[2021-09-29 11:15] mistic commented on #103231
This test keeps failing and looks flaky. Skipping for now.

master/8.0: bc504b6

[2021-09-29 11:25] ppisljar commented on #112533
handlers has a `hasCompatibleActions` method which you can call with the event you would want to emit:

`return handlers.hasCompatibleActions(event);`

[2021-09-29 11:27] jpountz commented on #113197
But this would only help until we need to deprecate/remove that other internal parameter? The alternative I was considering consisted of waiting until frozen indices are removed to deprecate `ignore_throttled`, so that `ignore_throttled` would always be a no-op and client applications could safely stop using it.

[2021-09-29 11:40] ymao1 commented on #112749
It was in triage and I thought it was related to another flaky test I was working on so I assigned myself but it is not

[2021-09-29 11:46] Kunzetsov commented on #112533
@ppisljar, thanks a lot for your response)

[2021-09-29 11:48] ruflin commented on #113245
This issue likely needs to be fixed in the fleet-server and not in Kibana. @joshdover @blakerouse Should we move this over to the fleet-server repo?

[2021-09-29 11:50] thomheymann commented on #113378
Agreed, we should serve "not ready" until we have established whether kibana has been configured and can connect with ES.

As discussed in #111349, I'm not sure whether we should treat first time setup and intermittent connectivity issues the same way. First time setup users should get the configuration screen without requiring additional clicks. Intermittent connectivity issue users (e.g.  after

[2021-09-29 11:53] kibanamachine opened #113390 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/feature_controls/spaces_security·ts - Spaces app security feature controls Non default space and role specific privilege "before all" hook for "shows management navlink""
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/644#9736251e-f5d2-4043-8fab-fa2681280cb7)

[2021-09-29 12:11] #113192 closed

[2021-09-29 12:11] #113193 closed

[2021-09-29 12:12] Conchisan opened #113397 "Canvas-Dropdown select"
**Kibana version:** 7.9.2

**Elasticsearch version:** 7.9.2

**Server OS version:**

**Browser version:** Chrome 94.0.4606.61

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** Don´t work the filter Drpdownn select in any browser

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Error

[2021-09-29 12:21] azasypkin commented on #113378
++

Correct, the long-term plan is to have this right in the core, but we're not there yet and might need to find a reasonable short-term solution inside of the ISP itself. Unfortunately, ISP cannot currently "release" root "/" route so that Core could take it over.

[2021-09-29 12:23] kpollich opened #113400 "[Fleet] "Package policy is invalid: inputs.logfile.streams.log.log.vars.paths: Invalid format" when preconfiguring custom logs integration"
**Kibana version:** 7.15

Ref https://github.com/elastic/cloud-on-k8s/pull/4873#issuecomment-927792858

## Summary

When attempting to preconfigure the custom logs integration, Kibana throws an error during Fleet setup: `Package policy is invalid: inputs.logfile.streams.log.log.vars.paths: Invalid format`:

![Screen Shot 2021-09-29 at 8 21 36 AM](https://user-images.githubusercontent.com/6766512/1

[2021-09-29 12:24] mdefazio commented on #111805
Apologies that I've missed this somehow.  I will go back and re-read our comments, but my question is still whether this execution duration is similar to Security's Last Query Time value.  I have the Stack rule management view open now and we are currently adding in these monitoring cues.

[2021-09-29 12:29] thomheymann commented on #113378
@andreadelrio Do you have thoughts on the use cases described by Oleg and recommendations how we should handle it from a UX perspective? (i.e. could we handle intermittent connection issues the same way as first time configuration? what would the messaging be?)

[2021-09-29 12:29] ymao1 commented on #111805
@mdefazio The last query time is a more granular measurement that execution duration that stack doesn't currently offer. Typically rule execution involves decrypting the rule, running the rule executor, and scheduling actions and the execution duration captures the length of time all of these steps take. The query time is a measurement of how long ES queries take, within the rule executor and it's

[2021-09-29 12:30] afgomez commented on #113003
If I understand correctly, what happens there is that we get the runtime fields from the source indices (i.e. `foobar*`) and store them as regular fields in the `.alert*` indices, correct?

In our scenario, we fetch the `fields` from the `.alert*` indices and store them back as regular fields in the same document. This might cause problems if we ever add a runtime field or other virtual fields to

[2021-09-29 12:47] #113178 closed

[2021-09-29 12:49] drenze-athene commented on #112965
@legrego - Thanks for taking a look and the links to the current issues. You're correct, this is covered under the issues you linked above, as well as some use cases that I didn't consider. I especially can't believe I missed #17888 and #48687 in my search.

[2021-09-29 12:51] dej611 opened #113406 "[Lens] Thresholds: rename to Reference lines"
**Describe the feature:**

As discussed by @flash1293 and @monfera thresholds is not the correct name for the feature implemented in Lens.
Rename it (UI + codebase) into `Reference Lines`

[2021-09-29 12:53] #111779 closed

[2021-09-29 12:54] legrego commented on #112965
@drenze-athene there are over 5 thousand _open_ issues in this repository, I don't at all blame you for missing these!

[2021-09-29 12:57] jportner opened #113407 "Spruce up legacy URL alias conflict callout"
The Sharing Saved Objects feature added a "legacy URL alias conflict" callout component. It could be displayed in certain rare edge cases after the 8.0 upgrade.

Here is an example:
![image](https://user-images.githubusercontent.com/5295965/135272435-f966e6ef-3a65-40d7-bb69-134b8a80a640.png)

We have received feedback that this message is a bit too technical, and it doesn't explain how the user wo

[2021-09-29 13:00] pmuellr commented on #110080
Re-looking at this after ~3 weeks ... thought I'd summarize the short-term options we could look at:

- when a rule is disabled, generate `recovered-instance` event log events for the current instances
- stop deleting the task documents when a rule is disabled; they will only be deleted when the rule is deleted

I'm not sure which of these is actually easier, or what other side effects they might

[2021-09-29 13:05] dej611 opened #113408 "[Lens] Thresholds: auto horizontal axis gets converted into threshold horizontal top axis when in horizontal charts"
**Describe the bug:**

The Horizontal axis in the data layer is set to auto (=bottom), but the threshold one gets translated into horizontal top

<img width="1089" alt="Screenshot 2021-09-29 at 15 02 20" src="https://user-images.githubusercontent.com/924948/135273861-41c90ec8-2e44-4810-b51f-7ba19756d0ef.png">

[2021-09-29 13:14] pmuellr commented on #110080
Should have pointed out - it's buried in other comments - that Yuliia has a POC for the first option of emitting recovered events on disable, in [PR 111671](https://github.com/elastic/kibana/pull/111671).

[2021-09-29 13:22] droberts195 opened #113409 "[ML] Annotations searches can generate errors due to incorrect mappings"
Populating the annotations table in the ML UI can result in errors being displayed to the end user due to problems with the mappings of the underlying index:

![image](https://user-images.githubusercontent.com/7405463/133968008-210e5851-a30a-4c5d-a4fc-9c2684dce76d.png)

![image](https://user-images.githubusercontent.com/7405463/133968251-94aed3dc-74ed-451d-9bd2-9afa934f48ee.png)

The underlying pr

[2021-09-29 13:29] #113272 closed

[2021-09-29 13:30] #104053 closed

[2021-09-29 13:32] dej611 commented on #112921
@MichaelMarcialis would you propose a specific design to fit the text marker?
Main concerns, to me, are:
* should we allow exclusive icon vs text or both?
* where the truncation should be applied? Upfront in the tet input or rather on the visualiation at the end?

[2021-09-29 13:39] timroes opened #113414 "[Discover] Move truncate-by-height into Discover"
We currently have a `truncate-by-height` CSS class we're only using in Discover and the source field formatter in `kibanaLegacy`. We should restructure htis a bit, to help getting rid of the `kibanaLegacy` plugin (see https://github.com/elastic/kibana/issues/76905):

* Move _source field formatter into Discover and have that code inline, the same as we do for the new data grid implementation.
* Mo

[2021-09-29 13:39] smith commented on #113383
Is this a duplicate of #112273?

[2021-09-29 13:45] timroes commented on #47035
@flash1293 @kertal Is this something we still would see any value in doing, or should we close this issue?

[2021-09-29 13:46] klacabane commented on #111767
While testing the graphs in the overview page it looks like we have a regression on the zoom-out action which seems to be a no-op atm. Steps to reproduce:
- Pick a period on a graph to trigger the zoom-in action. Action behaves properly with the timepicker being updated to be in-sync with the url query.
- Click 'Zoom out' on a graph. Url query is updated to reflect to n-1 timeframe but the timepic

[2021-09-29 13:47] kpollich commented on #113400
Interestingly, I'm able to successfully create a custom logs policy via the Fleet UI, but it generates a package policy where `paths` is a text array field.

[code]

This makes sense, considering `paths` is configured with `multi: true` per https://github.com/elastic/integrations/blob/a818e388efe60ca0dd2f88026a6fa5a2d742f76a/packages/log/data_stream/log/manifest.yml#L13

Updating the YML in the pr

[2021-09-29 13:52] pgayvallet commented on #112221
With such short-time notice, our only option would be to go the hacky way and simply expose the version to the config deprecation provider, at least for now.

[code]

could become

[code]

which would also have the upside to not be breaking the existing usages of this type/API

[2021-09-29 13:52] jasonrhodes commented on #111767
@klacabane do you mean there is a regression in the existing code or only in the migrated code? And on which page do you see this?

[2021-09-29 13:58] tsullivan commented on #108963
Duplicate of https://github.com/elastic/kibana/issues/106873

[2021-09-29 13:58] #108963 closed

[2021-09-29 14:01] kpollich commented on #113400
It looks like this error is expected behavior on Fleet's side. Previously, we weren't validating package policy inputs during the preconfiguration/setup process, but as of [this PR ](https://github.com/elastic/kibana/pull/108924), we validate package policies any time we perform our input overriding logic whether it's on the client as part of the policy editor UI or on the server as part of precon

[2021-09-29 14:06] kibanamachine opened #113418 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text_array·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type text "is in list" operator will return only the empty array for results if we have a list that includes all text"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/129#510baca5-711d-4c21-bdad-dde2e2d342c5)

[2021-09-29 14:11] kertal commented on #113414
Here's the PR enabling emotion in Kibana: https://github.com/elastic/kibana/pull/98157

[2021-09-29 14:12] angorayc commented on #112581
https://github.com/elastic/kibana/pull/113419

[2021-09-29 14:13] Dosant commented on #113381
This is duplicate of https://github.com/elastic/kibana/issues/85126

[2021-09-29 14:13] #113381 closed

[2021-09-29 14:13] #103978 closed

[2021-09-29 14:14] rayafratkina commented on #109037
The underlying issue was fixed in https://github.com/elastic/kibana/pull/112302. Do we still think this documentation is needed?

[2021-09-29 14:15] dominiqueclarke opened #113421 "[Observability] [Exploratory View] Limit breakdowns to a single series"
As an analyst, I want to be able to breakdown series data by available filters, without getting confused about which series the breakdown belongs to.

Due to lens/chart limitations in the legend, breaking down multi series at one time results in a legend that is unreadable with data that cannot be sufficiently analyzed. To avoid this, we should limit breakdowns one of the following ways:

Option 1

[2021-09-29 14:17] lukasolson commented on #113371
This was already completed in https://github.com/elastic/kibana/pull/111462.

[2021-09-29 14:17] #113371 closed

[2021-09-29 14:17] mattkime opened #113422 "[data views] add data view rest endpoints in addition to index pattern endpoints"
Part of https://github.com/elastic/kibana/issues/94244

We'll add new data view API endpoints in addition to the index pattern API endpoints. The index pattern ones will eventually be deprecated.

[2021-09-29 14:19] Dosant commented on #109746
I would like to close it assuming https://github.com/elastic/kibana/pull/109702 indeed fixed this.
Lee, please reopen if you'll still notice this 🙏

[2021-09-29 14:19] #109746 closed

[2021-09-29 14:25] #113226 closed

[2021-09-29 14:29] kertal commented on #47035
well there are discussions around that are more advanced than this issue:

https://github.com/elastic/kibana/issues/72098
https://github.com/elastic/kibana/issues/72098#issuecomment-919275950

So I do think we need this, question is, what's the best issue to track it?

[2021-09-29 14:29] Dosant opened #113423 "[Meta][Search] Cancel search requests"
Search service provides API for canceling search requests.

Search service, SearchSource, and expressions consumers should explicitly search in the following scenarios:

#### Client-side usage:
1. When the user navigates away before the search completes
2. When a new search is requested before the prior one completes

#### Server-side usage:
1. When `KibnaRequest` aborts https://github.com/elastic

[2021-09-29 14:30] ymao1 opened #113424 "[Alerting] Investigate side effects of long running actions"
As a corollary to [investigating side effects of long running rules](https://github.com/elastic/kibana/issues/111259), we should also investigate the behavior of long running actions. What happens when an action task times out? Does it get cancelled or does it continue running? What are the implications if it continues running and completes a long while later?

[2021-09-29 14:30] jportner commented on #112624
Here's a screenshot of the failure:
![image](https://user-images.githubusercontent.com/5295965/135288511-73e74575-1eda-432b-9048-3f02cf06ffe5.png)

No other logs look suspect. This appears to be a transient network error that happens in CI from time to time (the user avatar and space selector both did not load). I'll close this and if it reopens we can investigate further.

[2021-09-29 14:30] #112624 closed

[2021-09-29 14:32] #96278 closed

[2021-09-29 14:37] ThomThomson commented on #109037
Yes the underlying issue is fixed, so I would say that this doesn't need to be documented! It is true that this wasn't something done intentionally, it was an unforeseen consequence of removing state from the URL.

[2021-09-29 14:41] nchaulet opened #113426 "[Fleet] Settings UI is broken with multiple outputs"
## Description

In case you have multiple outputs (defined via the preconfigure service) the settings UI is broken and not display the default output ES hosts.

It seems we are taking the first output and not the the default one.

Note: We should verify if there other place where we access the default output like this.

[2021-09-29 14:41] chrisronline commented on #111914
Some thoughts after researching two separate possible ways to implement this.

## Store on the connector

In [the PoC](https://github.com/elastic/kibana/pull/113262), we explored adding an additional field to the existing "actions" mapping that includes oauth token information. This encrypted field sits alongside the "secrets" field (which stores user/pass) and works in a similar fashion, with one

[2021-09-29 14:46] lukasolson commented on #85126
Can we write a migration to move existing saved search sessions to move to locators?

[2021-09-29 14:59] pmuellr commented on #112087
They certainly don't sound like they're as bad as the previous failed tasks we kept around.  And perhaps leaving them as tombstones for diagnosis later is a good thing.

I could live with leaving them and augmenting the cardinality agg with a date limit of some sort.  A month seems kinda long though ...

[2021-09-29 15:05] #113377 closed

[2021-09-29 15:08] pmuellr commented on #113316
Note that if we change the behavior to fail on startup with a bad proxy config, we may break existing customers who have an invalid setting - their Kibana won't start whereas before it would.

So we'd need a release note on this behavior change ...

[2021-09-29 15:09] flash1293 commented on #47035
I still think it makes sense to unify it - I expect with more features added to data views it's going to grow in complexity

[2021-09-29 15:10] mikecote commented on #112749
Assigned to @ymao1 to see if another PR will cause this flaky test to go away when unskipped.

[2021-09-29 15:15] dominiqueclarke opened #113433 "[Observability] [Exploratory View] Only show y axis label when there is a single series"
As an analyst, I want to be able to view multi series and understand the data types of each series, without confusing y axis labels.

The y axis labels for multi series exploratory view can currently get confusing. For example, when adding a second series with a different operation type, the y axis label keeps the the operation type of the first series.

![image](https://user-images.githubusercont

[2021-09-29 15:22] joshdover opened #113434 "Fix breadcrumbs on "add data" pages to emulate Integrations app"
Part of #93084

Once we're linking to Beats module tutorials (#113291) the breadcrumbs shown to users will no longer make sense and could lead to users falling out of the primary onboarding flow. We should 'hack' the breadcrumbs on these tutorial pages to emulate being inside the integrations app.

Current beats module breadcrumbs:

<img width="1053" alt="Screen Shot 2021-09-29 at 17 13 30" src="h

[2021-09-29 15:30] chrisronline opened #113436 "[Actions] Store Microsoft Graph access token in a separate saved object"
Relates to https://github.com/elastic/kibana/issues/111914

We are currently fetching a new access token each time we send an email through the Microsoft Exchange graph API, which is not ideal as rules can potentially schedule hundreds of actions during each rule execution.

After [some research](https://github.com/elastic/kibana/issues/111914#issuecomment-930243295), the best path forward is to s

[2021-09-29 15:32] thompsongl commented on #100192
Line numbers now available in Kibana: https://elastic.github.io/eui/#/editors-syntax/code#line-numbers
(Visual line highlighting coming soon to Kibana)

[2021-09-29 15:34] dej611 commented on #112797
@MichaelMarcialis I've done a first attempt at this, but there is probably some more in depth investigation to do.

The overall data bounds is known only by the visualization at the very end of it: this is computed based on a composition of chart attributes.
Because in Lens the XY visualization can be composed by multiple layers and chart types, the user may end up in a scenario where there are mi

[2021-09-29 15:39] nickpeihl commented on #30738
We are currently exploring options for supporting custom icons in https://github.com/elastic/kibana/pull/113144. But we're still very early in the process so we don't know now when the feature will be released.

@seanbirdsell does your use case require dynamically styling the icons (color, orientation, etc) based on attributes? Would you be using SVG icons, PNG icons, or both?

[2021-09-29 15:41] chrisronline commented on #111914
Closing in favor of https://github.com/elastic/kibana/issues/113436

[2021-09-29 15:41] #111914 closed

[2021-09-29 15:45] spalger opened #113439 "[Failing ES Promotion] Ingest pipelines app Ingest Pipelines Loads the app"
We're seeing failures in CI caused by the `Ingest pipelines app Ingest Pipelines Loads the app` test failing, seemingly because the management ingest pipelines were removed in https://github.com/elastic/elasticsearch/pull/77459 which causes the pipelines UI to load the empty view and prevent the tests from progressing because they expect to see some pipelines in the UI.

Skipping the tests for now

[2021-09-29 15:48] #109037 closed

[2021-09-29 15:56] mattkime opened #113440 "[data views] moving more functionality server side"
Original issue - https://github.com/elastic/kibana/issues/90076

The [`IndexPatternsService`](https://github.com/elastic/kibana/blob/master/src/plugins/data/common/index_patterns/index_patterns/index_patterns.ts#L57) is currently being called both [client side](https://github.com/elastic/kibana/blob/master/src/plugins/discover/public/application/angular/context.js#L43) and [server side](https://gi

[2021-09-29 15:58] mattkime commented on #90076
closing in favor of https://github.com/elastic/kibana/issues/113440 - we'll work out the improved definition over there.

[2021-09-29 15:58] #90076 closed

[2021-09-29 16:04] cskowronnek commented on #33959
Any news on this?

[2021-09-29 16:18] #106786 closed

[2021-09-29 16:20] andrewvc commented on #112757
Let's see how far back we can go without breaking schema changes, we can probably look at the changelog for the heartbeat mappings to determine it.

[2021-09-29 16:26] andrewvc commented on #112757
Will do a follow-up discussion with @justinkambic @drewpost to refine

[2021-09-29 16:32] ravikesarwani opened #113445 "Enhance "Cluster health" stack monitoring rule to allow user configuration for Yellow/Red/Both"
As part of "Cluster health" rule allow users to configure if they want to receive alert for Yellow, Red, or Both yellow and red.
The default configuration value for the rule will stay as "Both yellow and red".

Combining with our changes in 7.15 to allow multiple rules of the same type users can now configure different actions for Yellow(say email) and Red(say pagerduty), if they want.

Currently

[2021-09-29 16:34] d4rk-d4nph3 opened #113446 "Color change is not working in TSVB"
**Kibana version: 7.14.2**
**Elasticsearch version: 7.14.2**
**Platform: Elastic Cloud**
**Browser: Chrome v94.0.4606.61**

**Bug:**
Color change is not working in TSVB.

**Steps to reproduce:**
1. Create a TSVB
2. Change the color of any data point.

**Expected behavior:**
Color change should have been reflected in the graph.

**Screenshots:**
<img width="1440" alt="Screen Shot 2021-09-29 at 22 1

[2021-09-29 16:34] jportner commented on #113330
Oh dang, yes that looks to be the case, sorry for the duplicate!

[2021-09-29 16:34] #113330 closed

[2021-09-29 16:35] MadameSheema commented on #113351
Closing since this is a expected behaviour. The username and password is not exported.

[2021-09-29 16:36] MadameSheema commented on #113229
Closing since this is the expected behaviour. Thanks :)

[2021-09-29 16:36] #113229 closed

[2021-09-29 16:39] LucaWintergerst opened #113447 "[APM] HTTP Status Code in Throughput Chart"
**Describe the feature:**

7.14 used to show the http code in the throughput charts. In 7.15 those are displayed nowhere.

Imagine a user getting a lot of 403 or 404 responses. That's definitely something important to be investigated, so we should display this somewhere.
Especially combined with the fact that 4xx codes are not considered an Error by Elastic APM, users will loose the ability to exp

[2021-09-29 16:39] arisonl opened #113448 "[Research] DLS/FLS API keys changes impact"
Elasticsearch Security is tightening up the behaviour DLS/FLS with API keys. Changes include adding a license check when creating API keys with DLS/FLS: https://github.com/elastic/elasticsearch/pull/77400

We should research how alerting is impacted.

[2021-09-29 16:41] michaelolo24 commented on #112395
@semd this actually hasn't been fixed yet. Do you mind putting in your fix for it?

[2021-09-29 16:46] MadameSheema commented on #109796
@jonathan-buttner any update on this? if you are currently working on this please remove the triage needed label, thanks!

[2021-09-29 16:47] arisonl commented on #113448
Thoughts: Alerting API keys are created when a rule is created or disabled/enabled. A rule which was created by a user that used to have FLS/DLS would be impacted, if FLS/DLS was taken away from them, and they proceed to update or disable/enable the rule. However, since alerting API keys are generated automatically by the framework with the role's privileges and roles are not impacted by the chang

[2021-09-29 16:52] #111037 closed

[2021-09-29 16:52] #112799 closed

[2021-09-29 16:53] MadameSheema commented on #107123
@karanbirsingh-qasource can you please validate this on master and 7.15.1 BC1? Thanks!

[2021-09-29 16:54] MadameSheema commented on #106099
@deepikakeshav-qasource  can you please validate the fix for this issue on the latest version? (7.15.0) Thanks :)

[2021-09-29 17:01] #113160 closed

[2021-09-29 17:05] MadameSheema commented on #102460
@yctercero can you please take a look at this? As an output on the bug sync was mentioned to create a general hook through the app to get the user information. Thanks!

[2021-09-29 17:16] spalger commented on #113043
Skipped

master/8.0: https://github.com/elastic/kibana/commit/f79a96fe7fb581b5387a722175e7303ecfdd5e81
7.x/7.16: https://github.com/elastic/kibana/commit/66d90fda66559dfe2b9b2e007ac7e80b485d02c0

[2021-09-29 17:24] jportner commented on #112492
Agreed.

[2021-09-29 17:27] jasonrhodes commented on #112926
OK so I think I've narrowed this down. The data stored in `.monitoring` indices is in an old format, field-path-wise. So things like `beats_stats.beat.version`, or anything in `beats_stats`, are "old" field paths. The Metricbeat mappings don't include those, so reindexing docs from one to the other won't work ... _yet_.

This will work when the aliases are installed and backported (if you run Metr

[2021-09-29 17:30] jasonrhodes commented on #112926
As for this point from @simianhacker:

This is true for now. I've talked with @simitt about this and if there is no way to write to .monitoring or to a new data stream with the aliases installed, then we will have to continue reading from metricbeat for this case, but we would very much like to remove that due to large performance and error-handling costs that it introduces, for no benefit.

[2021-09-29 17:30] ymao1 opened #113457 "[Alerting] Update Task Manager to consider the result of expired tasks to be invalid"
As part of [this investigation](https://github.com/elastic/kibana/issues/111259), we have identified an issue in the way that task manager handles the result of expired tasks if the task is not properly cancelled (which is the case for most tasks).

Because Task Manager updates the task state whenever a task finishes running, even if it has technically timed out, a single task that finishes long a

[2021-09-29 17:31] ymao1 commented on #113457
Blocked until RFC is approved.

[2021-09-29 17:32] kobelb commented on #112756
That's great information, @delvedor. It's revealed another difference in the defaults between the modern and the legacy clients. The legacy Elasticsearch client defaults to `keepAlive: true` as well: https://github.com/elastic/elasticsearch-js-legacy/blob/f505170491887229a25ca5a015cf76e01161a94a/src/lib/connectors/http.js#L48

As a result, the legacy client will allocate as many sockets as needed

[2021-09-29 17:34] MichaelMarcialis commented on #112921
As long as Elastic Charts supports both simultaneously (which I believe it does), I don't see any reason not to allow both. Thoughts, @ghudgins?

I think this depends on what sort of truncation we intend to implement. If it will be some form of dynamic truncation (ex. one that takes into account the visualization canvas size and proximity to other thresholds), I imagine we could only apply that on

[2021-09-29 17:39] ymao1 opened #113459 "[Alerting] Implement alerting task `cancel()` hook"
As part of [this investigation](https://github.com/elastic/kibana/issues/111259), we have identified improvements in the way the alerting framework can respond to being cancelled. Currently, task manager offers a way to register behavior on cancellation but the framework does not register any such behavior.

[POC here](https://github.com/elastic/kibana/pull/111639)

The first step is for the frame

[2021-09-29 17:39] ymao1 commented on #113459
Blocked until RFC is approved.

[2021-09-29 17:39] dborodyansky commented on #113285
Design updated.

@KOTungseth, thank you for helping us with Unified Integrations copy so far. Would you mind taking a look at this button and popover as well, and letting us know your thoughts?

![image](https://user-images.githubusercontent.com/3674406/135320000-1ace6f8c-7e14-45b9-848c-e8829133cfe6.png)

[2021-09-29 17:44] kevinlog commented on #109634
Verified in 7.15.0

[2021-09-29 17:44] #109634 closed

[2021-09-29 17:47] ymao1 opened #113462 "[Alerting] Provide framework services to enable rule executors to short-circuit execution"
As part of [this investigation](https://github.com/elastic/kibana/issues/111259), we have identified improvements in the way the alerting framework can respond to being cancelled. With [this issue](https://github.com/elastic/kibana/issues/113459), we have taken the first steps to logging the cancellation in the event log and in the rule execution status. We now want to provide some helper function

[2021-09-29 17:47] ymao1 commented on #113462
Blocked by https://github.com/elastic/kibana/issues/113459

[2021-09-29 17:48] arisonl commented on #110080
We decided to move forward with the recovery option for the short term, with a solution that will not trigger resolve-on-recovery for disabled alerts that are set up to resolve incidents on recovery. We also discussed to flag that somehow on the event log, if possible (I understand from Patrick's comment that it is currently not, but it can be added either as an event or attribute).

[2021-09-29 17:55] ymao1 opened #113463 "[Alerting] Configurably skip action scheduling if alerting task is cancelled"
As part of [this investigation](https://github.com/elastic/kibana/issues/111259), we have identified improvements in the way the alerting framework can respond to being cancelled. With [this issue](https://github.com/elastic/kibana/issues/113459), we have taken the first steps to logging the cancellation in the event log and in the rule execution status. We now want to skip scheduling actions if a

[2021-09-29 17:55] ymao1 commented on #113463
Blocked by https://github.com/elastic/kibana/issues/113459

[2021-09-29 18:08] ymao1 opened #113465 "[Alerting] Telemetry for long running rules"
We want to track the following data points for long running rules:
* Information about how often rule execution duration are exceeds the task timeout. This should include what the timeout is set to and what rule type it is so we can use it to determine whether a rule type or alerting needs to increase their timeout.
* Information about how often rule execution duration exceeds the configured sched

[2021-09-29 18:08] elasticmachine commented on #113465
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-29 18:09] ymao1 opened #113466 "[Alerting] Telemetry for long running rules, pt 2"
We want to track the following data points for long running rules:
* Usage counter for how often actions are scheduled after the alerting task has expired. This data point will inform our decision as to whether to enable by default the proposed feature flag for skipping actions when tasks are cancelled.
* If the proposed feature  flag for skipping actions when tasks are cancelled is enabled, add a

[2021-09-29 18:09] elasticmachine commented on #113466
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-29 18:09] dominiqueclarke commented on #112757
@andrewvc You mentioned at one point that users who have custom index patterns may have edited them a long time ago and may not understand why they aren't seeing new data in 8.0.0. One option is we could display a small callout somewhere in overview that states which indexes the data is being pulled from.

[2021-09-29 18:10] elasticmachine commented on #113378
Pinging @elastic/kibana-security (Team:Security)

[2021-09-29 18:10] ymao1 commented on #113466
Blocked by https://github.com/elastic/kibana/issues/113463

[2021-09-29 18:11] smith opened #113468 "[APM] Use SuggestionsSelect in settings"
The [SuggestionsSelect](https://github.com/elastic/kibana/blob/a7874ff8a5b2ee15c0ec298ff1a90b13f1e1b3ac/x-pack/plugins/apm/public/components/shared/suggestions_select/index.tsx) component was added in elastic/kibana#111883.

This component can also be used in other places:

- [x] Agent configuration selection of service and environment
- [x]  Anomaly detection setup selection of environment -- it'

[2021-09-29 18:11] elasticmachine commented on #113468
Pinging @elastic/apm-ui (Team:apm)

[2021-09-29 19:05] jportner opened #113470 "Improve docs link for embeddable legacy URL conflict"
When an embeddable detects a legacy URL conflict, it displays an error. For example, this can happen when a Dashboard includes a panel with a Lens visualization -- the Lens panel in that case displays the error.

However, the current implementation uses a hardcoded URL to the master branch docs. That needs to be updated to use the doc links service, which will result in a URL for the docs of the c

[2021-09-29 19:05] elasticmachine commented on #113470
Pinging @elastic/kibana-security (Team:Security)

[2021-09-29 19:08] LeeDr commented on #112175
I've been spending time over the last few days trying to ingest kibana logs (and audit logs) with filebeat and struggling with a few items.  They'll probably be resolved in this issue but I'll mention them here anyway.

1. For the audit.log there's a mismatch between the Kibana and filebeat Kibana module.  [Our docs](https://www.elastic.co/guide/en/kibana/current/security-settings-kb.html#audit-lo

[2021-09-29 19:12] dbuijs commented on #82020
I can't do that unless I can have different locale settings for different spaces on the same Kibana instance. Has this been considered by the Kibana team? Would it be helpful for me to create a new issue for this?

[2021-09-29 19:19] tsullivan opened #113472 "[Reporting] Low memory on the server should not cause an unhandled promise rejection"
**Kibana version:** 7.12+

**Describe the bug:**
A system with low memory (1) may not be able to launch Chromium. If that happens, the rejected promise should be handled. Not handling errors thrown in async code could lead to the server crashing, and causes logs and error messages to not contain relevant information.

[1] Low memory in this particular case is, 1GB to 2GB, but with Kibana memory us

[2021-09-29 19:19] elasticmachine commented on #113472
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-29 19:29] rylnd commented on #106876
CCing @arisonl here for visibility on the above POC; we're planning on continuing the POC to identify any blockers with using `role_descriptors` as described above.

Another note here is that [service accounts](https://www.elastic.co/guide/en/elasticsearch/reference/current/service-accounts.html) were floated as an alternative solution to this problem, wherein rules could specify the service accou

[2021-09-29 19:31] #110636 closed

[2021-09-29 19:31] ghudgins commented on #112921
++ as long as there's room this makes sense.

In weekly last week I believe we had envisioned this as a re-use of the display name for the threshold. Value might be cool too for dynamic thresholds but I don't think it needs to be in this iteration if that helps you make a call.

[2021-09-29 19:34] #100819 closed

[2021-09-29 19:37] lukeelmers commented on #7043
Closing this issue in favor of https://github.com/elastic/kibana/issues/9767, which is a duplicate and has a bit more activity on it.

[2021-09-29 19:37] #7043 closed

[2021-09-29 19:47] MichaelMarcialis commented on #112921
@ghudgins: Sounds good. So in summary:

- Support for threshold icon, text, or both simultaneously.
- Add an `EuiSwitch` to optionally render the current `Display name` on this threshold in the visualization. Default will be off.
- `Display name` will continue to be a static text string (though we may consider supporting injection of dynamic variable values at a later time).
- Since we are repurpo

[2021-09-29 20:05] rylnd commented on #99238
Hi @roofdiver,

The error you see here is due to those `winlogbeat` indexes not being ECS compliant, which is a [requirement](https://www.elastic.co/guide/en/security/current/es-overview.html#ecs-compliant-reqs) of Security Solution app.

`host.name` is [specified](https://www.elastic.co/guide/en/ecs/current/ecs-host.html) as a keyword in ECS, and so both `host.name` being mapped as `text`, and `h

[2021-09-29 20:05] #99238 closed

[2021-09-29 20:15] rylnd commented on #99238
@roofdiver I may have spoke too soon about not finding any relevant issues; there was [this discuss post](https://discuss.elastic.co/t/elastic-7-9-1-security-siem-your-visualization-has-error-s-illegal-argument-exception/250265/13) and the subsequent [bug](https://github.com/elastic/beats/issues/21725) that was filed from it. If this is the underlying cause, you can find steps to fix in that discu

[2021-09-29 20:21] kobelb commented on #82020
@dbuijs that's being tracked in https://github.com/elastic/kibana/issues/57629

[2021-09-29 20:24] JiaweiWu commented on #111846
I will take a look at this :smiley:

[2021-09-29 20:26] jen-huang commented on #111944
According to https://github.com/elastic/eui/issues/5202#issuecomment-930469073, this can be solved by using `executeQueryOptions` prop, which I missed initially. Removing this from blocked but leaving in backlog :)

[2021-09-29 20:29] jen-huang commented on #113081
This part is not in scope as we have discussed multiple times. The rest of this bug report appears to be valid.

[2021-09-29 20:33] zizhouW commented on #86095
I can look into this issue :)

[2021-09-29 20:33] katefarrar commented on #108263
After discussing with @jasonrhodes & @simianhacker we have decided to postpone this effort until after we have looked at the user experience of Saved Views and how that will fit into these side navigation links.

[2021-09-29 20:34] jen-huang commented on #113261
We had another report of table columns breaking on Integrations > Policies tab:
![image](https://user-images.githubusercontent.com/1965714/135344374-af9c6233-5af5-4e02-85dc-e839df2bab88.png)

I wonder if something generic changed with EUI tables?

[2021-09-29 20:35] jportner commented on #51101
I changed this issue title and description --
We still plan to make this breaking change eventually, just not in 8.0.

However, we will add a deprecation message in the Upgrade Assistant starting in 7.16.

[2021-09-29 20:43] #113018 closed

[2021-09-29 20:56] #85105 closed

[2021-09-29 20:57] dbuijs commented on #57629
Having this capability is important before removing the ability to override kibana.index because having two different locales is the reason why we run more than one Kibana instance on the same elastic cluster. We would very much like to use Spaces for this but cannot until we can set different locales for different spaces.

[2021-09-29 21:03] kevinlog commented on #86095
thanks @zizhouW !  Feel free to reach out if you have any questions

[2021-09-29 21:07] seanbirdsell commented on #30738
Thank you for the clarification. On your question regarding dynamic styling: yes. Given that, I'd think SVGs are the way to go, no?

[2021-09-29 21:12] ppf2 commented on #7104
http2 support may also help with the large number of concurrent .js files we try to download that tend to stall because of the per-server limit in many common browsers of no more than 6 file downloads at a time.

![image](https://user-images.githubusercontent.com/7216393/135348700-71c68d69-d6c9-47a6-af76-18379c8cd43f.png)

[2021-09-29 21:18] mshustov commented on #7104
In prod mode Kibana loads them only once.  on the next visit, they are loaded from the browser cache.

[2021-09-29 21:40] #113148 closed

[2021-09-29 21:45] kibanamachine opened #113486 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/alerts/pagination·ts - Observability specs Observability alerts pagination When 10 alerts are found Pagination controls Goes to previous page"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/662#15500070-6466-4cc8-86ca-1137309cd43a)

[2021-09-29 22:25] monina-n commented on #109396
I have not been able to reproduce this bug on kibana.siem.etsc.dev but judging from the description, @karanbirsingh-qasource is correct in the expected result and no further design work is needed.

[2021-09-29 22:40] monina-n commented on #98793
I agree with @stephmilovic's point. Users should have the ability to delete comments (only comments, not the description or any status, meta info changes) in a case from the menu.

<img width="267" alt="Screen Shot 2021-09-29 at 3 37 38 PM" src="https://user-images.githubusercontent.com/67915896/135358049-0d628c6a-38ab-4b44-b98a-4e5f9d130f04.png">

And for the API, when a comment is deleted in the

[2021-09-29 22:44] ThomThomson opened #113489 "[Controls] Options List Selection Management"
## Options List Control Selection Management
Users may need faster ways to manage or see their selections. Because the typeahead feature allows users to change what appears in the dropdown, and the full text of the entry can potentially be cut off due to the configured control sizing, situations could arise where a user no longer knows what they have selected.

There are three potential changes th

[2021-09-29 22:44] elasticmachine commented on #113489
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-29 22:58] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/663#77217a43-b114-4258-8019-29b4c7b9c3df)

[2021-09-29 23:00] sqren commented on #112273
Replaced by https://github.com/elastic/kibana/issues/113383

[2021-09-29 23:00] #112273 closed

[2021-09-29 23:06] mukeshelastic opened #113491 "Fields exploration enhancements in Logs UI"
**Describe the feature:**
During some user conversations, it became apparent that, in discover:

- you see all the available fields on the left panel and it is really easy to click on a + button along side a field to add it to display.
- Adding a filter it relatively obvious as shown in the screenshot below
- Creating a visualization from simple but useful statistics like Top 5 values is desirable

[2021-09-29 23:15] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/662#ce8c52aa-b9f1-4453-8062-9dd629f852d2)

[2021-09-29 23:43] kibanamachine commented on #112749
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/665#3202972f-d8cc-4d9f-8128-478e267e6a68)

[2021-09-30 00:13] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/665#706b00d5-2a24-489a-8098-03ee2394a216)

[2021-09-30 00:21] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/663#cddf6fdb-1107-46b1-bf92-a9e518f28245)

[2021-09-30 00:26] spalger commented on #113486
Skipped

master/8.0: https://github.com/elastic/kibana/commit/9c00debcd5d3fb68dd75634489fb3df7289a7cd5
7.x/7.16: https://github.com/elastic/kibana/commit/2411c46b64430e82ef26709b5bdb7ba0b9aaf1f8

[2021-09-30 00:31] spalger commented on #113486
I'm guessing this is caused by https://github.com/elastic/kibana/pull/112617 as it seems to be the only related PR that was new in the first failed run. @mgiota would you please take a look?

Thanks!

[2021-09-30 00:59] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/667#f7c03a1b-163d-4036-8d9b-ef41ee465e74)

[2021-09-30 01:27] andrewvc commented on #112757
@dominiqueclarke the good news is that if no indexes are matched that is already the empty data screen today (though now I'm wondering if that recently changed with new no data screens?)

Either way, I concur.

I've edited the description to point out that we can support heartbeat versions as old as 7.14.0, since that was the last schema change in 7.x heartbeat.

[2021-09-30 01:58] kibanamachine opened #113493 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/alerts/pagination·ts - Observability specs Observability alerts pagination When less than 10 alerts are found Does not render page size selector"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/670#db873b95-aa45-4376-87d7-5333bd22b788)

[2021-09-30 01:58] kibanamachine opened #113494 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/alerts/pagination·ts - Observability specs Observability alerts pagination When less than 10 alerts are found "after all" hook for "Does not render pagination controls""
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/670#db873b95-aa45-4376-87d7-5333bd22b788)

[2021-09-30 02:26] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/667#9052f990-6f26-486b-984f-e16bb05697df)

[2021-09-30 03:18] kibanamachine commented on #113486
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/670#1d9e0638-aa9e-4534-8c53-c76453acbbe0)

[2021-09-30 03:54] kibanamachine opened #113496 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/visualize/reporting·ts - Visualize Visualize Reporting Screenshots Print PDF button becomes available when saved"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/676#3d06cd11-2375-41dd-b497-ce668f086a3b)

[2021-09-30 04:00] kibanamachine commented on #113130
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/676#621cefd0-3a5b-48b2-baad-f6221317712b)

[2021-09-30 05:04] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/677#a9443ec9-39b4-45e8-bc7e-fa6a365aeff7)

[2021-09-30 05:06] matschaffer commented on #111767
@klacabane good you found that one :) yeah right now any zoom/brush/zoomout can trigger this. I think it's okay to move on and we can address it later. Maybe even after angular removal.

[2021-09-30 05:55] pgayvallet commented on #113345
Fixed by https://github.com/elastic/kibana/pull/113366

[2021-09-30 05:55] #113345 closed

[2021-09-30 06:03] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/678#8cbf79df-5541-46aa-ae0b-3d7f1ed5bcfc)

[2021-09-30 06:14] deepikakeshav-qasource commented on #106099
Hi @MadameSheema,

We have validated this ticket on **7.15.0 Latest** build and observed that issue is **Still occurring**. Threat Intelligence Overview card not supported on CCS setup

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/135383861-fb5fdc88-6505-4058-b606-6893bf752ade.mp4

![image](https://user-images.githubusercontent.com/61860752/135396

[2021-09-30 06:15] #113102 closed

[2021-09-30 06:20] elasticmachine commented on #113496
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-30 06:22] MadameSheema commented on #106099
@deepikakeshav-qasource can you please retest again adding the CCS index on the `Threat Indices` placed on the Kibana advanced settings? Thanks

[2021-09-30 06:24] stratoula commented on #113446
Hey! You are grouping by terms. When a terms aggregation is applied in TSVB then the colors are managed by the `Split color theme` in the Options tab
![image](https://user-images.githubusercontent.com/17003240/135398511-92ea56aa-a05e-4047-b392-2affc92a0cc3.png)

You haven't selected any field as I can see from the screenshot. If you don't want to split your series, then select Group by everything.

[2021-09-30 06:24] #113446 closed

[2021-09-30 06:25] elasticmachine commented on #113446
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-30 06:43] karanbirsingh-qasource commented on #107123
Hi @MadameSheema

we have validated this issue on kibana local master and found it Fixed.

**Build Details:**
[code]
**Snap-Shoots:**
- **_Detect Group_**
![image](https://user-images.githubusercontent.com/59917825/135400741-8c458c5b-9d0f-40ee-9af3-7806f792d488.png)
- **_Explore Group_**
![image](https://user-images.githubusercontent.com/59917825/135400755-5db7dbf2-9624-4b4c-a663-283cbb41f228.png)

[2021-09-30 06:43] #107123 closed

[2021-09-30 06:46] d4rk-d4nph3 commented on #113446
That was it. Thank you.

[2021-09-30 07:04] deepikakeshav-qasource commented on #106099
Hi @MadameSheema

Thank you for the update!!

We have added CCS index in Threat indices placed on the Kibana advanced settings and observed that data is displayed under Threat Intelligence overview card. However, dashboard button is disable. Could you please confirm if it is expected or we are missing something?

**Screenshots**

https://user-images.githubusercontent.com/61860752/135402863-8909657

[2021-09-30 07:08] martijnvg commented on #113197
So keeping this parameter throughout the 8 release line and start deprecating this parameter in 9.0?

[2021-09-30 07:13] MadameSheema commented on #106099
@deepikakeshav-qasource did you follow the guide to `Enable a kibana dashboard` that is linked on the card?

[2021-09-30 07:18] RoyzLevy commented on #111918
Hey @jsanz ,

The level of detail that my users would like to use is house addresses and also place names, again as the Google service permits, although as you've noted I've only used Google service as an example for the plugin.

Yes, the suggested feature will displace the map to the wanted address, so my term was not right using "filtering", as you cannot filter data by the address.

Thanks alot

[2021-09-30 07:27] jpountz commented on #113197
Yes. This is just thinking out loud though, I'd be curious to know how challenging it would be for Kibana to only set the `ignore_throttled` request parameter when the `search:includeFrozen` option is set to true.

[2021-09-30 07:52] cyrille-leclerc opened #113506 "[Alerting] Add more context in kibana rule execution traces"
## Feature Description

Add more context to the traces and spans captured on alert rule executions.

* Transaction name
   * Actual: rule type identifier (e.g. `alerting:apm.transaction_duration`)
   * Expected
      * Contains a human readable identifier of the rule
      * Prefixed by a verb referring to the concept of alerting rule execution
      * Idea: `Execute Alerting Rule '((rule.name))'`

[2021-09-30 08:02] deepikakeshav-qasource commented on #106099
Hi @ecezalp and @MadameSheema ,

Dashboard button is disable Threat Intelligence overview card for source machine. Please find the below detailed steps:
1. Install the filebeat on remote machine
2. Run the command ```.\filebeat.exe setup --dashboards``` on Remote machine
![image](https://user-images.githubusercontent.com/61860752/135411278-adc3443e-5821-4fe6-bfd4-84c58f1a60b6.png)
3.  Create the r

[2021-09-30 08:20] cnasikas commented on #107800
PR https://github.com/elastic/kibana/pull/105440 will do it for ServiceNow (ITSM & SIR)

[2021-09-30 08:21] nkhristinin commented on #76592
Update that with [this PR](https://github.com/elastic/kibana/pull/109253) merged we will ignore savedQuery for Threshold and Indicator Match, and just use the custom query from rule configuration.

So, when you create/edit these rules, you can use a saved query, but it just copies the query value into a custom query and then will ignore saved_id.

[2021-09-30 08:22] aarju opened #113507 "Security app doesn't properly display array fields"
**Kibana version:**
7.15

**Browser version:**
chrome 94

**Browser OS version:**
MacOS

**Describe the bug:**

When viewing a field that is an array of values the security app places all of the values next to each other without any whitespace or commas separating the values.

Example from the Security App:
<img width="626" alt="Screen Shot 2021-09-30 at 10 14 15" src="https://user-images.githubus

[2021-09-30 08:29] cnasikas commented on #98793
Thank you @monina-n for your feedback.

We cannot distinguish between users using the API directly or the UI. The UI also uses the API to delete comments.

I think we should show in the UI comments deleted by using directly the API. The reason is that user actions are used for traceability and traceability. It is an immutable append-only list
. If someone has the ability to delete comments without

[2021-09-30 08:30] paulb-elastic commented on #112655
Will this also implement the `Inspect` option like you've done for User Experience in https://github.com/elastic/kibana/issues/113120?

[2021-09-30 08:34] elasticmachine commented on #110836
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 08:36] elasticmachine commented on #109286
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 08:37] dikshachauhan-qasource opened #113508 "[8.0]: Custom inputs link under integration tab is inactive."
*Kibana version:**  8.0 snapshot Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 8.0 snapshot Kibana cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to Kibana with superuser.
- Navigate to Integrations>browse tab.
- Select custom category tab from LHS under Browse section.
- Observe, Cust

[2021-09-30 08:37] MadameSheema commented on #113507
Closing as duplicate of https://github.com/elastic/kibana/issues/109796

[2021-09-30 08:37] #113507 closed

[2021-09-30 08:38] dikshachauhan-qasource commented on #113508
@manishgupta-qasource Please review

[2021-09-30 08:38] MadameSheema commented on #109796
This issue was reported by @aarju as well.

[2021-09-30 08:39] elasticmachine commented on #108656
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 08:43] cnasikas commented on #108656
This PR https://github.com/elastic/kibana/pull/107776 changed the labels back. Reason for this decision: https://github.com/elastic/kibana/issues/104783 @MadameSheema should we close this as it is not a bug?

[2021-09-30 08:44] #113190 closed

[2021-09-30 08:44] cnasikas commented on #108656
cc @nastasha-solomon

[2021-09-30 08:46] MadameSheema commented on #99742
@deepikakeshav-qasource can you please validate the fix of this issue on master and 7.16BC1? Thanks!

[2021-09-30 08:46] MadameSheema commented on #99742
@peluja1012 @rylnd should this be release in 7.15.1?

[2021-09-30 08:48] #108656 closed

[2021-09-30 08:51] VladLasitsa commented on #46435
Hi all, What about to keep some static helper methods which we use in some places in code (move to another place):

- `src\plugins\saved_objects\public\saved_object\helpers\check_for_duplicate_title.ts`,
- `src\plugins\saved_objects\public\saved_object\helpers\save_with_confirmation.ts`
- method `isErrorNonFatal` from `src\plugins\saved_objects\public\saved_object\helpers\save_saved_object.ts`

[2021-09-30 08:57] elasticmachine commented on #109822
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 08:58] elasticmachine commented on #108671
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 08:59] elasticmachine commented on #104391
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 08:59] #109396 closed

[2021-09-30 09:01] #107561 closed

[2021-09-30 09:02] #110854 closed

[2021-09-30 09:03] manishgupta-qasource commented on #113508
Reviewed & Assigned to @kpollich

CC: @EricDavisX

[2021-09-30 09:05] flash1293 commented on #113496
<img width="715" alt="Screenshot 2021-09-30 at 11 01 37" src="https://user-images.githubusercontent.com/1508364/135422205-3d7f612f-38d0-467d-a325-e73eaebb4557.png">

for some reason the time picker is half in "data range" and half in "no data range".  This seems related to the way the date is set via timepicker.

[2021-09-30 09:08] cnasikas commented on #107067
This is done in https://github.com/elastic/kibana/pull/104221 and https://github.com/elastic/kibana/pull/108272

[2021-09-30 09:08] #107067 closed

[2021-09-30 09:11] elasticmachine commented on #100537
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:11] cnasikas commented on #100537
Any news on that? Should we close it?

[2021-09-30 09:12] #99386 closed

[2021-09-30 09:12] #97124 closed

[2021-09-30 09:13] elasticmachine commented on #95469
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:14] elasticmachine commented on #94498
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:14] elasticmachine commented on #94120
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:16] elasticmachine commented on #91937
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:16] elasticmachine commented on #91292
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:17] #90905 closed

[2021-09-30 09:18] #78293 closed

[2021-09-30 09:18] elasticmachine commented on #90880
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:18] elasticmachine commented on #90878
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:19] elasticmachine commented on #87440
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 09:20] philippkahr opened #113511 "[Alerting] [Connector] Index connector suggests wildcard usage"
**Kibana version: 7.15**
**Original install method (e.g. download page, yum, from source, etc.): ESS**

**Describe the bug:**

Go to Kibana, Rules and Connectors create a new index Connector. It suggests to use wildcard `*` in the name for writing. Additionally, it autosuggests such indices with a `*` in it.
<img width="920" alt="Screenshot 2021-09-30 at 11 15 33" src="https://user-images.githubus

[2021-09-30 09:30] mshustov commented on #112102
notes for myself:
after loading the `flight` sample set, the dashboard app doesn't see any data available, a test fails on waiting `[Flights] Global Flight Dashboard` to be loaded.

[2021-09-30 09:38] kibanamachine commented on #113079
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/688#a8b1eaae-a929-44d9-b28b-8227595d3926)

[2021-09-30 09:53] dgieselaar opened #113517 "[APM] Generate synthetic trace/metric data for API tests"
For the purpose of more reliable API tests, we want to generate completely synthetic data, with predictable characteristics, e.g. a fixed transaction rate or span failure rate. To that end, we want to implement a library that can generate this data, either as a standalone tool or a library to be used in API tests.

In essence, it should work by:

- allowing the consumer of the library to specify a

[2021-09-30 09:56] pheyos commented on #113079
Same as above.

[2021-09-30 10:04] dikshachauhan-qasource opened #113518 "[8.0 snapshot]: URL not updated as per query made in search bar under installed integration tab."
*Kibana version:**  8.0 snapshot Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 8.0 snapshot Kibana cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to Kibana with superuser.
- Navigate to Integrations>Installed integrations tab.
- Insearch query bar, search any integration say 'Fleet'.
-

[2021-09-30 10:06] dikshachauhan-qasource commented on #113518
@manishgupta-qasource Please review

[2021-09-30 10:09] timroes commented on #104578
This is an interesting one. Looking at the failure screenshots, it always failed to apply the "from" date in the time picker. The "to" date always is the one applied via the test, but the "from" is not changed. This looks like a way more central error in the `PageObjects.timePicker.setAbsoluteRange` method, that shoulds theoretically be able to happen anywhere.

@LeeDr have you seen any other fail

[2021-09-30 10:12] Maksimkovalenk commented on #111743
Reopening this issue for
https://elastic.my.salesforce.com/5004M00000lUysq

[2021-09-30 10:22] timroes opened #113520 "Can't set timerange correctly during functional tests"
It seems recently we're seeing a lot of test failures caused by the time range not being set correctly. I've seen a couple of test failures where the "to" date is correctly set, but the "from" date is not set correctly. Failure screenshots might then look like the following (pay attention to the dates in the timepicker):

![discover feature controls spaces space with no features disabled shows _vi

[2021-09-30 10:22] elasticmachine commented on #113520
Pinging @elastic/kibana-qa (Team:QA)

[2021-09-30 10:22] timroes commented on #104578
I've created https://github.com/elastic/kibana/issues/113520 to track the root cause here.

[2021-09-30 10:23] timroes commented on #99587
Have not been failing for quiet some while, so closing this for now.

[2021-09-30 10:23] #99587 closed

[2021-09-30 10:24] Maksimkovalenk commented on #111743
missed that it was fixed in
https://github.com/elastic/kibana/issues/111743
closing

[2021-09-30 10:24] #111743 closed

[2021-09-30 10:26] sqren opened #113521 "[APM] Add documentation for common APM metrics and how to query for them"
Explanation the purpose and how to query for the following metrics:
 - latency
 - throughput
 - transaction failure rate
 - error occurrence
 - system metrics (cpu / memory)
 - service destination metrics
 - breakdown metrics
	 - `metricset.name : "span_breakdown" OR span.self_time.sum.us: *`
	 - `metricset.name : "transaction_breakdown" OR transaction.breakdown.count: *`

[2021-09-30 10:26] elasticmachine commented on #113521
Pinging @elastic/apm-ui (Team:apm)

[2021-09-30 10:36] semd commented on #112395
@michaelolo24 I could not reproduce it, the cypress is always passing. My guess is this situation might be an intermediate application state that happens randomly. I created a PR that prevents the error crash https://github.com/elastic/kibana/pull/113522

[2021-09-30 10:37] #113408 closed

[2021-09-30 10:38] MikePaquette commented on #111804
Thanks @ymao1 for pointing out this ticket!
@gmmorris

Yes.  As users adopt frozen tier data, it is reasonable to expect that they'll have a few rules that query that data tier, for example looking for matches of new threat indicators against archived events, and they might be OK if that rule takes longer to run, say 15-minutes, so we would not want their rule to be cancelled/fail after 5 minutes.

[2021-09-30 11:09] peteharverson opened #113524 "[ML] Query to load anomalies for Single Metric Viewer chart should aggregate at chart interval"
The anomaly records for the main chart area in the Single Metric Viewer are currently obtained by a search to get the top 500 records, by `record_score`. This does not use an aggregation, which depending on the bucket span of the job and the time range shown in the chart, will result in anomaly markers not being plotted for some points in the chart if the anomaly record for the point is not in the

[2021-09-30 11:09] elasticmachine commented on #113524
Pinging @elastic/ml-ui (:ml)

[2021-09-30 11:11] lchdev commented on #113374
Actually, I had missed it, this this can be achieved by `tini` using the `-g` flag:

[code]

[2021-09-30 11:13] majagrubic commented on #113105
Looking into this, I don't think it's a legit failure, as I see no reason why this would start failing now

[2021-09-30 11:15] hop-dev commented on #110063
@dborodyansky @mostlyjason Just had a thought! The designs above show the user adding an integration from the integrations view and then being redirected back to that package. A user can also add an integration to an empty policy from the policy view, where they are redirected back to the empty policy:

https://user-images.githubusercontent.com/3315046/135445223-5e2a760d-fe5b-40db-93ca-9aee27e29a0

[2021-09-30 11:15] ppisljar opened #113526 "[expressions] select_filter and remove_filter functions"
Add functions to expressions (from data plugin) to allow selecting and removing filters from `Filters[]` array on expressions `SearchContext`:

- `selectFilter` function should accept `group` argument to allow selecting filters belonging to certain group, `from` argument to allow selecting filters controlled by specified id and `ungruped` argument to allow selecting ungrouped filters.
- `removeFil

[2021-09-30 11:36] manishgupta-qasource commented on #113518
Reviewed & assigned to @thomasneirynck

CC: @EricDavisX

[2021-09-30 11:46] ppisljar opened #113530 "[canvas] remove `filters` function"
Canvas implements filtering a bit different than the rest of kibana:
- panels (renderers) can be added to canvas, which can create filters and add them to canvas store
- `filters` expression function reads from canvas store to get the stored filters which are in form of expressions
- those expressions are executed to get a canvas `Filter` structure which is a linked list of canvas filters
- canvas

[2021-09-30 11:51] samratbhadra-qasource commented on #111849
## Bug Conversion

- Test-case not required as it is expected behavior!

Thanks!

[2021-09-30 11:51] samratbhadra-qasource commented on #111694
## Bug Conversion

- Test-Case updated:
    -  https://elastic.testrail.io/index.php?/cases/view/149935

Thanks!

[2021-09-30 11:53] samratbhadra-qasource commented on #111517
## Bug Conversion

- Test-Case updated:
    -  https://elastic.testrail.io/index.php?/cases/view/149928

Thanks!

[2021-09-30 11:54] samratbhadra-qasource commented on #111270
## Bug Conversion

- Test-Case updated:
    -  https://elastic.testrail.io/index.php?/cases/view/149935

Thanks!

[2021-09-30 11:56] samratbhadra-qasource commented on #111210
## Bug Conversion

- Test-Case updated:
    -  https://elastic.testrail.io/index.php?/cases/view/76948
Thanks!

[2021-09-30 11:57] samratbhadra-qasource commented on #111106
## Bug Conversion

- Test-Case updated:
    -  https://elastic.testrail.io/index.php?/cases/view/147455

Thanks!

[2021-09-30 11:58] #112777 closed

[2021-09-30 12:00] samratbhadra-qasource commented on #110933
## Bug Conversion

- Test-case not required as it is expected behavior!

Thanks!

[2021-09-30 12:08] jasonrhodes opened #113532 "Timeline grid/Alerts table: Consider splitting the data layer from the view layer"
**This is a working draft ticket for exploring what this might look like, it's not yet complete**

Ideally, we would have an alerts table that looks like this:

[code]

So that data fetching and updating could be handled separately.

[2021-09-30 12:09] samratbhadra-qasource commented on #110585
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/149920

Thanks!

[2021-09-30 12:09] samratbhadra-qasource commented on #109634
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147411

Thanks!

[2021-09-30 12:10] samratbhadra-qasource commented on #109633
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147456

Thanks!

[2021-09-30 12:17] ruudkenter commented on #76242
We need this feature as well

[2021-09-30 12:19] mistic commented on #113496
The test started to failing and looks flaky. Skipping for now.

master/8.0: 2548f9b
7.x/7.16: 99c800f

[2021-09-30 12:20] cavokz commented on #112395
Thanks! I'm quite sure we'll notice improvements in the Jenkins runs.

[2021-09-30 12:33] michaelolo24 commented on #113196
@marshallmain - after speaking with @MadameSheema, would we also need to notify users to update any existing rules that reference the `siem-signals` index pattern to the new `.alerts-security.alerts` pattern?

[2021-09-30 12:53] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/694#7064bcc0-f4fc-4cf0-8f58-46e231695e58)

[2021-09-30 12:55] #111812 closed

[2021-09-30 12:57] stacey-gammon commented on #85869
Since plugins aren't supposed to access other plugin's HTTP APIs directly, what about exposing the API via two paths, one which uses `internal`, and having the internal plugin leverage the `internal` path?

[2021-09-30 13:23] jonathan-buttner commented on #95469
Closing this as it is already completed

[2021-09-30 13:23] #95469 closed

[2021-09-30 13:26] stratoula commented on #113077
Reserved for mob programming

[2021-09-30 13:28] #111497 closed

[2021-09-30 13:31] elasticmachine commented on #113508
Pinging @elastic/fleet (Team:Fleet)

[2021-09-30 13:31] EricDavisX commented on #113508
it would be helpful to tag it as regression and confirm if this is existing in shipped 7.15 or in 7.16 code @dikshachauhan-qasource can you check it and report back for us please?

[2021-09-30 13:33] jonathan-buttner commented on #113351
Hey @MadameSheema I think the issue you're referring to might be a different one. This is a legitimate bug that @cnasikas and I are aware of but didn't have an issue tracking it yet. It likely won't be fixed for the 7.16 release but we can use this issue to track the work in the future.

[2021-09-30 13:35] jonathan-buttner commented on #113351
The solution to this will likely rely on refactoring how we identify if a case needs to be pushed and we have some ideas for that but it's not going to be a simply fix.

[2021-09-30 13:35] jportner commented on #106900
I spoke with Peter today offline to get a sense of all the individual Sharing Saved Objects-related tasks that need to be accomplished for App Services saved objects. Notes from our chat below.

----

**Question:** does the object type ever need to become shareable? Or, does the object have any inbound references from other objects that will be shareable in the future?

-   `index-pattern` - Yes,

[2021-09-30 13:37] jportner commented on #113376
Since we don't plan to convert short URLs to become share-capable (https://github.com/elastic/kibana/issues/106900#issuecomment-931329254), we can close this issue.

[2021-09-30 13:37] #113376 closed

[2021-09-30 13:37] jportner commented on #113373
Since we don't plan to convert search sessions to become share-capable (https://github.com/elastic/kibana/issues/106900#issuecomment-931329254), we can close this issue.

[2021-09-30 13:37] #113373 closed

[2021-09-30 13:44] jonathan-buttner commented on #110863
@MadameSheema this is ready to test if we want QA to verify the AC

[2021-09-30 13:49] dej611 commented on #112921
Ok, so I think I have almost everything I need to complete this task.

The last question I have is about label positioning: should the label positioning change with the presence/absence of the icon, or not?

Fluid marker layout:
<img width="736" alt="Screenshot 2021-09-30 at 15 42 11" src="https://user-images.githubusercontent.com/924948/135467575-4d1b1b41-f918-414b-beff-8a78ddaffa5b.png">

Fixed

[2021-09-30 14:10] kobelb commented on #57629
Hey @dbuijs, realistically we will not have this issue addressed before we remove the `kibana.index` setting. We haven't begun work on this issue, and from what I understand, it's a considerable amount of work.

I'd like to figure out whether or not the following configuration would work around the limitations of having different language support for different spaces.

Even after we remove the abi

[2021-09-30 14:13] cnasikas commented on #113351
Thanks, @jonathan-buttner. That is the case indeed.

[2021-09-30 14:13] justinkambic commented on #112757
It sounds like we are able to resolve this then, by adding the additional index patterns.

Preface: this is a bit of a tangent rabbit hole. I actually like this idea a lot, it could be helpful to enable users to debug problems they're having without needing to do as much querying themselves. Perhaps we could enable it in the settings page, and lazily load it? I.e. user clicks "show my indices" and

[2021-09-30 14:18] kibanamachine commented on #70928
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/142#256e1632-40e7-4e5a-8353-a6fe8902f1d4)

[2021-09-30 14:32] kibanamachine commented on #112749
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/142#916a103c-19e7-418b-8806-580b21205220)

[2021-09-30 14:54] flash1293 commented on #76242
@stratoula Will this be possible once dynamic row height lands?

[2021-09-30 14:57] stratoula commented on #76242
I am not 100% sure, I want to test it first. We definitely need to add the dynamic heights to support this. I am not sure if it will be supported without any change from our side. I will check it and update the issue :)

[2021-09-30 15:03] ghudgins commented on #113140
I was thinking it could just be applied (and removed by the user if they want) as a default post setting a new field.

yeah on the transition on clear if it's the exists filter for a previous field (if possible)

[2021-09-30 15:04] elasticmachine commented on #112044
Pinging @elastic/kibana-core (Team:Core)

[2021-09-30 15:10] friol opened #113547 "TSVB from 7.11.2 with "Override index pattern" option enabled not migrated correctly to 7.14.2"
**Kibana version:**
7.11.2 migrated to 7.14.2

**Elasticsearch version:**
7.11.2 migrated to 7.14.2

**Server OS version:**
Linux CentOS

**Browser version:**
Chrome latest version

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Download page

**Describe the bug:**
We migrated a test environment from 7.11.2 to 7.14.2, and some views ar

[2021-09-30 15:19] mbondyra opened #113548 "[Graph] Workspace breaks with no user message when index pattern was removed"
**Kibana version:**
master

1. Add any index pattern, any sample data is ok
2. create a graph workspace on this index pattern
3. remove index pattern in stack management section
4. come back to the vis: it just doesn't load. Console log throws an error.

<img width="673" alt="Screenshot 2021-09-30 at 17 16 20" src="https://user-images.githubusercontent.com/4283304/135483405-e4ef57fe-d33c-4c9f-82e7

[2021-09-30 15:19] elasticmachine commented on #113548
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-30 15:23] jonathan-buttner opened #113549 "[SavedObjects] Exclude non-exportable references when exporting a saved object"
Cases currently allows adding timelines as a comment within a case. The Timeline is currently stored as a string URL like this:

[code]

This is going to cause issues when cases are sharable across spaces because we have a deep link to the timeline URL. We will be solving this by resolving the timeline URL. Ideally we'd like the backend to build the URL so that we don't always have to resolve it f

[2021-09-30 15:23] elasticmachine commented on #113549
Pinging @elastic/kibana-core (Team:Core)

[2021-09-30 15:23] elasticmachine commented on #113549
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-09-30 15:27] jonathan-buttner commented on #110836
To complete this feature we'll need to resolve this issue first: https://github.com/elastic/kibana/issues/113549

[2021-09-30 15:38] kibanamachine commented on #112749
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/698#cc46ce96-c5b4-4959-863c-1c907a8d0664)

[2021-09-30 16:11] gbamparop commented on #104861
@sqren Do you think that it should have min and max values? I can see that it defaults to 1000

[2021-09-30 16:13] kobelb commented on #112756
@mshustov if we default to using `maxSockets: Infinity` and `keepalive: true`, are you opposed to us allowing users to configure these settings using their `kibana.yml`?

IMO, there's benefit in allowing users to do so. There are situations where it could benefit Kibana's performance by setting `maxSockets` to a lower number; however, this is largely dependent on how many Kibana nodes there are, h

[2021-09-30 16:17] Zacqary commented on #113165
Related: https://github.com/elastic/kibana/issues/54057

[2021-09-30 16:21] martijnvg commented on #113197
It is possible, but this would complicate the logic that triggers the deprecation warning, since the logic doesn't know whether there are any frozen indices in the cluster (and whether the search request would target frozen indices)

[2021-09-30 16:28] jasonrhodes commented on #113167
We have decided not to proceed with this, and instead to leave the redirect logic in place. We will also implement similar redirect logic for Stack Monitoring when we are able to convert their URLs to remove the "#" as well, sometime in 8.x.

[2021-09-30 16:28] #113167 closed

[2021-09-30 17:20] garyjblackwell commented on #112510
Please see attach
[request_Elastic.txt](https://github.com/elastic/kibana/files/7261360/request_Elastic.txt)
ed

[2021-09-30 17:26] jbudz commented on #112749
skipped

main: 6ad596f402c9700d0e0f0b21aec1dbbf4953a9a3
7.x: ea7ce5cad8f97b252aea4cabcde5ac6331554e80

[2021-09-30 17:27] tsullivan commented on #63073
This seems to be no longer an issue as of #98688

[2021-09-30 17:27] #63073 closed

[2021-09-30 17:33] alexfrancoeur commented on #110638
Just wanted to ping this again as I noticed this bug in a 7.15 production trial deployment. Can we prioritize this fix in a patch release by any chance?

Responding to the comments above, I'm not sure if we need to show the "learn more" link. This is presented to them as part of the EULA they agree to when signing up for Cloud. It seems like duplicative information and from my previous experience,

[2021-09-30 17:52] nickpeihl commented on #30738
Yes, SVGs will also be easier to scale and style in the legend. So I think supporting SVG icons is the goal. If necessary, we can examine PNG icon support in the future.

[2021-09-30 17:55] ymao1 opened #113562 "[Alerting] Investigate performing gap analysis at a framework level"
Related to the investigation into [long running rules](https://github.com/elastic/kibana/issues/111259), we should look into bringing the gap analysis that security solutions is doing in their rules into the framework. This would allow us to see the gaps of data that might be missed for rules configured to run on a short interval that consistently run for a long time.

For example, a rule configur

[2021-09-30 17:55] elasticmachine commented on #113562
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-30 17:59] dborodyansky commented on #110063
Great thought @hop-dev. I think we might be able to adapt existing "0 agents" label to a call-to-action. Here is a mockup and a link to more detailed flow.

https://www.figma.com/file/RVYNk5W3gyJdWOGDj8ixPH/Fleet?node-id=1937%3A404594

![image](https://user-images.githubusercontent.com/3674406/135507041-2a6eaa85-0933-4313-b62a-e046cba2eee4.png)

[2021-09-30 18:09] pgayvallet commented on #112221
We discussed with the team during today's weekly, and decided to go with the quickest approach for `7.16`, by introducing a new `DeprecationContext` to the `ConfigDeprecationProvider` and exposing the current `version` and `branch` from it.

We'll include this issue in our current sprint

[2021-09-30 18:14] jportner commented on #85869
Sure we could do that, it does sound like potentially a lot of work just to improve our usage data though.

FWIW, since I opened this issue, all of our docs have been updated to instruct consumers to use `kbn-xsrf`.

[2021-09-30 18:18] jportner commented on #112221
That's great, do you think we can expose those fields in the existing `GetDeprecationsContext` as well?

https://github.com/elastic/kibana/blob/249c5fbf9a1807baeac09ef48bc27790dc3b6e90/src/core/server/deprecations/types.ts#L81-L84

[2021-09-30 18:31] hop-dev commented on #112626
Hi @dikshachauhan-qasource, there have been two of additions to the scope of this ticket (last two points in the description), we will want to add tests for these, let me know if you need me to clarify further 👍

[2021-09-30 18:34] EricDavisX commented on #64522
@chrisronline I think this can be closed?  just making sure if there was any reason for it to be open, I see a pr was backported to 7.x in Oct last year.

[2021-09-30 19:39] cauemarcondes commented on #112240
It's being difficult to test the fix with the current archive. I'm blocking this until we have a more reliable dataset, which must be available in the next couple of weeks.

[2021-09-30 19:40] #111414 closed

[2021-09-30 19:41] sqren commented on #104861
@gbamparop Good question. I can't think of some obvious min/max values so let's just leave it unbounded.

[2021-09-30 19:47] TinaHeiligers commented on #103915
@jportner @legrego Could you [please let us know](https://github.com/elastic/kibana/issues/103915#issuecomment-929597255) if we should keep these deprecations or if they're safe to remove for 8.0?:
- rewriteCorsSettings (server.cors moved to server.cors.enabled
- cspRulesDeprecation

[2021-09-30 20:10] jportner commented on #103915
Sorry I missed this!

* `rewriteCorsSettings` - I don't feel strongly about this. FWIW I think the impact of keeping it around is low, so in the interest of Make It Minor we might want to just keep it.
* `cspRulesDeprecation` - Interestingly enough, `csp.rules` is _supposed_ to be superseded by the new additive CSP configuration (#94414). In the PR that closed that issue (#102059) we included a [r

[2021-09-30 20:23] dbuijs commented on #57629
This is extremely helpful, thank you. It's less than ideal but that will be
workable.

The use case is for dashboards that connect to the same elastic search
indices, but in different languages. The locale setting on Kibana covers
the interface elements, but we need different index pattern settings to
cover translated fields in the indexed content. This needs to be
customizable because some fields

[2021-09-30 20:25] ganesh-s05 commented on #13653
+1

[2021-09-30 20:34] TinaHeiligers commented on #103915
UA is showing the `cspDeprecation`:
![csp_basepath_banners_welcomescreen_deprecations](https://user-images.githubusercontent.com/11909450/135525398-06136c06-1ed3-4132-9a24-ee3ead8c4f73.png)

The first two deprecations in that shot are for `CONFIG_PATH` and `DATA_PATH`. The warning message isn't very descriptive for those and we'll want to improve that for 7.16 (if they're going to stay). They do,

[2021-09-30 20:41] cauemarcondes opened #113572 "[APM] Improve test scripts"
There are still some things that could be improved in the current e2e and API tests scripts.

**High impact**
* Server should not restart when changing a test file

**Medium**
* Forward arguments from custom scripts to ftr
* Add ability to run single test (`spec` / `grep` argument)
* API tests: Run both trial and basic tests by default. Currently, it only runs basic.

**Low**
* Improve readme file

[2021-09-30 20:41] elasticmachine commented on #113572
Pinging @elastic/apm-ui (Team:apm)

[2021-09-30 21:05] jportner commented on #103915
Sorry, I should have been clearer 😅
The current config deprecations for CSP rules are conditional on specific rules (can't include `nonce`, must include `self`). So if you have for example `csp.rules: ['self']`, I believe nothing will currently show up in the Upgrade Assistant.

Whereas we really need to change that deprecation so that _any usage of `csp.rules`_ shows in the Upgrade Assistant. And

[2021-09-30 21:06] LeeDr commented on #113520
Test automation on the timepicker has been a pain for quite some time.  Many people including me have spent hours and hours trying to get automation on it to work reliably.

1. @dmlemeshko is looking at wrapping the setAbsoluteTime method in a retry with verification
2. @wayneseymour has it on his TODO list to start replacing many instances of setting the timepicker by setting the `timepicker:defa

[2021-09-30 21:11] rashmivkulkarni commented on #106650
@simianhacker The linked PR fixes the issue also on Flaky test runner . Closing this ticket for now.

[2021-09-30 21:11] TinaHeiligers commented on #103915
Changing the deprecation is going to need a different issue. The one I'm working on is purely to remove the ones we need to get rid of in 8.0.

Let's see where we're all at in a week from now. As it is, I'm sure we all have a lot to do in the new couple of weeks.

[2021-09-30 21:12] jportner commented on #103915
Nevermind, there is already a different deprecation from the one that Luke linked above:

https://github.com/elastic/kibana/blob/672653776d0361ddf2fe6c501520bdf42949be00/src/core/server/csp/config.ts#L135-L154

So I think that deprecation is fine and doesn't need any changes :+1:

[2021-09-30 21:21] rylnd commented on #83645
@yctercero I'm assigning this to @qcorporation as an opportunity for new team members to get familiar with our processes.

[2021-09-30 21:22] rylnd commented on #82668
I'm assigning this to @qcorporation as an opportunity for new team members to get familiar with our processes.

[2021-09-30 21:22] rylnd commented on #84836
I'm assigning this to @qcorporation as an opportunity for new team members to get familiar with our processes.

[2021-09-30 21:23] spong commented on #113196
This issue (https://github.com/elastic/kibana/issues/106629) provides some details around the steps planned for addressing existing rules referencing the `.siem-signals` index. While scoped to `alerts on alerts` this should be relevant for any rule using `.siem-signals` as a source index.

[2021-09-30 21:26] jen-huang commented on #113508
I do not think there is an issue here. I tested on 8.0 and found that the behavior is correct: the `custom inputs` link is supposed to navigate the user to the `Custom` category. There is not supposed to be a tooltip for this link. This test case is odd because you are already navigating to the Custom category before clicking the link, so the link won't do anything since you are already there. Thi

[2021-09-30 21:26] #113508 closed

[2021-09-30 21:32] spong commented on #82668
I've gone mad and ended up creating a duplicate of this a month ago (https://github.com/elastic/kibana/issues/111214), going to go ahead and close that one, but please reference it for additional details, as this description is slightly out of date since we no longer parse fields from the threshold query. So just filtering suggestions to the fields aggregated on should suffice for this ER.

[2021-09-30 21:33] spong commented on #111214
Closing as duplicate of https://github.com/elastic/kibana/issues/82668.

[2021-09-30 21:33] #111214 closed

[2021-09-30 21:43] sqren commented on #111068
fyi: This is needed for https://github.com/elastic/kibana/pull/113567 scheduled for 7.16

[2021-09-30 22:31] yoqwerty commented on #112458
Hi @sqren , is this still available to grab?

[2021-09-30 22:33] yoqwerty commented on #107775
Hi @alisonelizabeth , is it available to grab?

[2021-09-30 23:53] LeeDr opened #113586 "[Lens] Session timeout on unsaved Lens chart gets stuck"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Server OS version:** CentOS 7

**Browser version:** Chrome 94

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** rpm files

**Describe the bug:** If I work on Lens and don't save my changes, and then your session times out, I get stuck.  When the dialog comes up to keep my session al

[2021-10-01 00:17] madirey opened #113587 "[Security Solution] Threshold rule performance fixes"
There are 2 known issues which can impact performance of a threshold rule over large indices. I've outlined some steps below that should be addressed ASAP:

- [x] Limit `fields` in Threshold `top_hits` aggregation to only include necessary fields (or none at all if we can get away with it)
- [ ] Ensure that the user does not try to count the cardinality of a field that's included in the Threshold

[2021-10-01 00:17] elasticmachine commented on #113587
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-01 00:37] cjcenizal commented on #107775
@yoqwerty Yes it is! Please request a review from me once you submit a PR. Thanks!

[2021-10-01 01:38] linyaru opened #113588 "Canvas dropdown not usable in Chrome"
**Kibana version:** 7.12.1

**Elasticsearch version:** 7.12.1

**Server OS version:**

**Browser version:** Chrome Version 94.0.4606.61 (Official Build) (64-bit)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** macOS Big Sur 11.5.2

**Steps to reproduce:**
1. Open existing Canvas with drop down element
2. Click on drop down

[2021-10-01 02:03] lukeelmers commented on #111068
Thanks for the heads up @sqren. We don't know for sure yet if we'll be able to get this feature in for 7.16, so I'd recommend merging your deprecation without a link as the first step.

[2021-10-01 02:27] ravikesarwani opened #113589 "Allow Standard+ monitoring cluster to show stack monitoring data from any license monitored cluster"
Stack monitoring UI should show data from any monitored cluster if its own license is Standard+.

Multi-stack monitoring is available on Standard+ license. It is not available on "FREE AND OPEN - BASIC" license.
https://www.elastic.co/subscriptions/ & https://www.elastic.co/subscriptions/cloud
Currently the monitoring cluster SM UI code validates the license for all the monitored clusters and show

[2021-10-01 02:27] elasticmachine commented on #113589
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-01 02:27] elasticmachine commented on #113589
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-10-01 02:30] lukeelmers commented on #110638
@alexfrancoeur Yep, I think we can likely get this in a 7.15.x patch release, just not sure which one. We are still focused on critical 7.16 priorities, but we have this on our list of items to pick up when we have the capacity.

This part is a little tricky. As Pierre mentioned in his comment above, this creates a circular dependency: the `cloud` plugin already depends on `home`, so we can't let

[2021-10-01 06:05] elasticmachine commented on #113547
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-01 06:06] stratoula commented on #113547
cc @alexwizp

[2021-10-01 06:18] pgayvallet commented on #112221
Would make sense, will look at it too

[2021-10-01 06:32] tobiasstadler opened #113596 "[APM] The service overview is missing some instances"
### Kibana version

7.15.0

### APM Server version (if applicable)

7.15.0

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

* Start a Java application with the Elastic APM agent
* Wait until the service appears in the APM app

### Expected Behavior

The instances table in the service overview and the JVM tab both list the same instances/jvms.

### Actual Behavior

[2021-10-01 06:32] elasticmachine commented on #113596
Pinging @elastic/apm-ui (Team:apm)

[2021-10-01 07:07] kertal commented on #112510
I see what's happening, it's just sorting by `_score` ... this is odd. Is this an index pattern with timefield? could you share the saved object of the saved search "New-InboxRule". many thx!

[2021-10-01 07:29] kertal commented on #113548
thx @mbondyra , agreed, it should not fail silently

[2021-10-01 07:35] mshustov commented on #112044
@jonny77 Do you see any errors in the logs?
What license do you run Kibana with?

[2021-10-01 07:44] mshustov commented on #85869
What problem do we want to solve? If we want to prevent `pluginA` from accessing `pluginB` endpoints, Core can extend `http` client-side service to include a plugin-specific header (ie, `x-kbn-plugin-origin`). With that, the server-side `http` service can reject a request originated from another plugin.
It won't break public API providing server-side `http` service doesn't reject incoming requests

[2021-10-01 07:47] deepikakeshav-qasource commented on #99742
Hi @MadameSheema,

We have validated this ticket on **Master** branch and observed that issue is **Fixed**. Validation message is displaying for URL that does not contain http:// and https://

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/135583242-3db85e9f-8ae9-44d3-ae5c-3a4921e8f044.png)

![image](https://user-images.githubusercontent.com

[2021-10-01 08:05] kibanamachine commented on #113082
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/149#1b8b80f7-f5e2-46c9-8eff-a483e94a2cc1)

[2021-10-01 08:10] #107170 closed

[2021-10-01 08:16] #112796 closed

[2021-10-01 08:17] gbamparop commented on #104861
@sqren What if we just add "1" as min value to avoid having negative numbers (e.g. same as `xpack.apm.ui.maxTraceItems`)

[2021-10-01 08:20] #111757 closed

[2021-10-01 08:36] timroes commented on #113105
Looked into this too, would agree with that. It seems a service method `timefilter.getTime()` suddenly returned `undefined` in a test, but only that one time and never again. This seems like a very weird side-effect that I haven't seen beforehand. I'd close this for now, and only dig deeper if this happens again and the issue gets reopened.

[2021-10-01 08:36] dej611 commented on #113269
Fixed by #112853

[2021-10-01 08:36] #113269 closed

[2021-10-01 08:55] timroes opened #113601 "[TSVB] Breaks requests when series id or metric id is purely digits"
When the `visState` of a TSVB visualization contains series ids or metric ids that are purely containing digits, e.g. `"2"`` the request won't be built correctly.

We're using lodash.set to call something like: `set(doc, `aggs.${series.id}.aggs.timeseries.aggs.${metric.id}`, bucket);`. If `metric.id` or `series.id` is now an integer value (even if it's a string by type), lodash.set will interpret

[2021-10-01 08:55] elasticmachine commented on #113601
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-01 08:58] mbondyra opened #113602 "[Lens] Lens with conflict id for index pattern should display the proper messaging"
1. In Lens editor, when it uses a conflict url for index pattern, we should that inform the index pattern wasn’t found.
2. In the dashboard, if index pattern conflict appears, we should prioritize the legacy URL conflict error message over not found index pattern

For reference, check how maps handle it.

[2021-10-01 08:58] elasticmachine commented on #113602
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-01 08:59] mbondyra opened #113603 "[Lens] add a functional test for missing index pattern"
When index pattern was removed from visualization, it displays an error message in the Lens editor. This case should be tested.

[2021-10-01 08:59] elasticmachine commented on #113603
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-01 09:01] pgayvallet commented on #112221
@jportner After taking I look, I'm not sure about the need to add these info to `GetDeprecationsContext`.

Config deprecations are 'statically' registered via the `PluginConfigDescriptor`, which makes it impossible to access `branch` and `version` from `Env`.

Feature deprecations, on the other hand, are registered from the plugin's `setup` method, which already has access to `env` via the plugin

[2021-10-01 09:04] flash1293 commented on #113601
This should be fixed by looking through the saved object during load and prefixing all series and metric ids parseable as number with a character to `set` will be able to handle them correctly. The existing `updateOldState` function can be extended for this https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/plugins/visualizations/public/legacy/vis_update_state.js#L

[2021-10-01 09:15] formgeist commented on #112994
@simitt @bmorelli25 I imagine we'd want to align the "standalone" with the "APM Server binary" like we did in this [issue](https://github.com/elastic/kibana/issues/113088#issuecomment-929988396)? So replaced **standalone** with **APM Server binary** or do we have a better term in this case?

[2021-10-01 09:19] mshustov commented on #112756
I managed to find a precise number neither in ES docs https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html#tcp-settings nor in ES codebase. Do you know if there is any limit at all? Maybe it's an environment-specific configuration value?

I'm not opposed to it considering that I was the default value in the Legacy ES client.

ES client falls back to ` keepAlive: tru

[2021-10-01 09:23] gmmorris commented on #111259
Turning this issue into a `meta` issue now that the RFC is nearing approval and we have a bunch of follow-up issues.

Thanks for all the hard work @ymao1 !

Follow up issues:

- [ ] https://github.com/elastic/kibana/issues/113424
- [ ] https://github.com/elastic/kibana/issues/113457
- [ ] https://github.com/elastic/kibana/issues/113459
- [ ] https://github.com/elastic/kibana/issues/113462
- [ ] ht

[2021-10-01 09:33] sqren commented on #104861
That sounds reasonable 👍 And then leaving out the upper limit.

[2021-10-01 09:37] sqren commented on #112458
@ogupte did you start this yet?

[2021-10-01 09:42] muskangulati-qasource commented on #92693
**Bug Conversion:**

Issue is API related . Hence adding TC_API Label to it.

[2021-10-01 09:42] muskangulati-qasource commented on #106051
**Bug Conversion:**

Issue is API related . Hence adding TC_API Label to it.

[2021-10-01 10:11] mshustov commented on #112175
fileName: ./audit.log. But the filebeat kibana module (at least for an RPM on CentOS) is looking for
Configured paths: [/var/log/kibana/*_audit.json]

cc @elastic/kibana-security

Yes, these are added to ECS-JSON logs.
response code as [http.response.status_code](https://www.elastic.co/guide/en/ecs/current/ecs-http.html#field-http-response-status-code)
method as [http.request.method](https://www.e

[2021-10-01 10:14] dikshachauhan-qasource commented on #113508
Hi @jen-huang

Thanks for clarifying the feature and flow of link related to this.

We have validated it on below builds and found it working fine.
- 8.0 snapshot
- 7.16 snapshot
- 7.15 shipped build

Further, we have created 01 test case for above feature as per confirmed behavior.

Test case link: [C150199](https://elastic.testrail.io/index.php?/cases/view/150199)

cc @EricDavisX

Thanks
QAS

[2021-10-01 10:24] joshdover commented on #113518
@thomasneirynck I don't think this is really a necessary change for 7.16. The reason we needed this functionality was for when users navigate from Integrations -> Home and then try to go back. I don't believe that flow is possible from the "Installed" tab so I think we'd be ok not supporting this for now and consider this as a future enhancement that could be considered for that tab if needed late

[2021-10-01 10:40] joshdover opened #113606 "[Fleet] Fix layout shifting on Integrations app page load"
**Kibana version**: 8.0.0, master

**Elasticsearch version**: 8.0.0, master

**Server OS version**:

**Browser version**: Safari 15.0, Chrome 93.0

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Load Integrations app `/app/integrations`
 2. Obs

[2021-10-01 10:40] elasticmachine commented on #113606
Pinging @elastic/fleet (Team:Fleet)

[2021-10-01 10:45] deepikakeshav-qasource opened #113607 "[Security Solution] Full Rule name is not displayed on the Rules page. Even no tool tip is displayed."
**Describe the bug**
Full Rule name is not displayed on the Rules page. Even no tool tip is displayed.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Endpoint should be installed on Kibana
2. Install the elastic prebuilt rules

**Steps to Reproduce**
1. Navigate to rules tab
2. observe that Full rule name is not displayed on rule page.
3. Even no tool tip is displayed.

[2021-10-01 10:45] elasticmachine commented on #113607
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-01 10:46] deepikakeshav-qasource commented on #113607
@manishgupta-qasource Please review!!

[2021-10-01 10:46] stratoula commented on #76242
@flash1293 with the new auto-height we can have this result
![image](https://user-images.githubusercontent.com/17003240/135606447-cd080b49-931f-48b5-86a8-ad5d20b2b7ac.png)

but with double `\n`. For example the above screenshot is generated for this text: `X Street \n\n Y Apt \n\n Z State`

With a single `\n`I get them in the same line:
![image](https://user-images.githubusercontent.com/17003240/1

[2021-10-01 10:51] formgeist opened #113608 "[APM] Update URL route for Dependencies from `backends` to `dependencies`"
Kibana version: master

# Summary

The URL route for Dependencies used to be named Backends, but was changed sort of last minute, which means the route in Kibana is still named `backends`. We should update this to `dependencies`.

![CleanShot 2021-10-01 at 12 49 47@2x](https://user-images.githubusercontent.com/4104278/135608212-c0f24e8f-1613-4153-92af-9938c808e62c.png)

[2021-10-01 10:51] elasticmachine commented on #113608
Pinging @elastic/apm-ui (Team:apm)

[2021-10-01 11:00] gmmorris commented on #87048
I have updated the description above with the next steps we've discussed synchronously: to explore the two complementary options discussed and propose concrete follow up issues.

[2021-10-01 11:00] klacabane commented on #111767
Will do the Instances page next. Planning to use the docker setup to have n kibana instances in order to enable and test pagination.

[2021-10-01 11:01] rudolf commented on #98650
Unfortunately this doesn't seem to be the case:

given a file `test.js`:
[code]

`node test.js` (using node v16.10.0) produces the following log:
[code]

So you can identify where the error originates from but not where the unhandled promise was constructed 😢

https://github.com/grantila/trace-unhandled aims to solve this problem by instrumenting the promise constructor, but doesn't recommend runn

[2021-10-01 11:07] manishgupta-qasource commented on #113607
Reviewed & assigned to @MadameSheema

[2021-10-01 11:29] muskangulati-qasource commented on #105985
## Bug Conversion

- Test-Case updated:
    -  https://elastic.testrail.io/index.php?/cases/view/34346

Thanks!

[2021-10-01 11:31] joshdover opened #113609 "[Fleet] Package policy upgrades can fail with unrecoverable errors on disabled streams"
**Kibana version**: 7.15.0

**Elasticsearch version**: 7.15.0

**Original install method (e.g. download page, yum, from source, etc.)**: Cloud

**Description of the problem including expected versus actual behavior**:

Certain package policy upgrade paths can lead to a situation where the UI shows errors on a stream that appears to be disabled and this error cannot be fixed from the UI. In my init

[2021-10-01 11:31] elasticmachine commented on #113609
Pinging @elastic/fleet (Team:Fleet)

[2021-10-01 11:33] danielmitterdorfer commented on #110512
The paper [Statistically Rigorous Java Performance Evaluation](https://dri.es/files/oopsla07-georges.pdf) (PDF) offers guidance about the number of iterations in section 3.2.1 (in the context of evaluating confidence intervals for the mean). They propose >= 30 iterations.

[2021-10-01 11:34] muskangulati-qasource commented on #107002
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/147414

Thanks!

[2021-10-01 11:35] muskangulati-qasource commented on #106970
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/147414

Thanks!

[2021-10-01 11:40] joshdover commented on #113245
If I'm understanding correctly, I think this would need to be fixed in Kibana since the UI is where the user copies the command for enrolling new agents, which includes the `--url=<fleet host>` field. What I'm not sure about is how we could be sure that the user who executes this command does so in a round-robin fashion (or if that's really even desirable). I'd expect that our recommendation would

[2021-10-01 11:46] elasticmachine commented on #113390
Pinging @elastic/kibana-security (Team:Security)

[2021-10-01 11:51] dikshachauhan-qasource commented on #112626
Hi @hop-dev

Thanks for the updates. I have added the required test cases at link below.

- https://elastic.testrail.io/index.php?/cases/view/150210
- https://elastic.testrail.io/index.php?/cases/view/150211

Please let me know if any changes are required.

Thanks
QAS

cc @EricDavisX

[2021-10-01 11:51] dikshachauhan-qasource commented on #110063
Hi @EricDavisX

We are unable to check out mocks at Figma. Could you please look out and provide us access to validate other UI changes.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/135612087-8f607a97-3bfe-429d-9c9f-769bedffce01.png)

Thanks
QAS

[2021-10-01 11:51] mistic commented on #112910
The test looks flaky. Skipping for now.

master/8.0: a4903ac
7.x/7.16: 17a4b74

[2021-10-01 11:51] #52722 closed

[2021-10-01 11:54] pgayvallet commented on #110638
This will definitely not be ready for any 7.15 patch or even 7.16, but for more mid-term considerations: Should I open an issue to discuss about exposing some cloud related API (thinking about `isCloudEnabled` mostly) from `core`?

[2021-10-01 11:58] muskangulati-qasource commented on #107129
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the test case :
        - https://elastic.testrail.io/index.php?/cases/view/149908

Thanks!

[2021-10-01 11:59] sqren opened #113612 "[APM] Errors table is empty on Service Overview"
## Problem
Sometimes the Errors table on Service Overview is empty even though there are errors in the dedicated Errors section (clicking the "Errors" tab).

![image.png](https://zube.io/files/elastic/b13817946f583f87e9f6d8ae641b3949-image.png)
_Service Overview_

![image.png](https://zube.io/files/elastic/8b605a3f8b7d7b7622b91a696d31b0af-image.png)
_Errors section_

## Cause

The problem is cause

[2021-10-01 11:59] elasticmachine commented on #113612
Pinging @elastic/apm-ui (Team:apm)

[2021-10-01 12:03] muskangulati-qasource commented on #108151
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the test case :
        - https://elastic.testrail.io/index.php?/cases/view/76948

Thanks!

[2021-10-01 12:17] #8552 closed

[2021-10-01 12:18] muskangulati-qasource commented on #107736
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the test case :
        - https://elastic.testrail.io/index.php?/cases/view/147435

Thanks!

[2021-10-01 12:23] gmmorris commented on #102100
We have decided to treat how open these health endpoints are as _a bug_.

This means we no longer consider this a breaking change, but rather correcting a broken implementation.

[2021-10-01 12:24] thomasneirynck commented on #113518
@joshdover agreed, this is navigation path is not possible from the "installed-integrations" tab. I think this is OK to track as future enhancement, just so the implementations are aligned.

[2021-10-01 12:28] stuartnelson3 commented on #112926
@jasonrhodes I've confirmed that if we expose `/stats` and `/state` from the elastic-agent subprocess monitoring endpoint (`/processes/<subprocess>/{stats,state}`, https://github.com/elastic/beats/pull/28165), and a managed apm-server becomes aware of its `cluster_uuid` (https://github.com/elastic/beats/issues/28164), then we can use the `beat` module in metricbeat with `xpack.enabled` to index do

[2021-10-01 12:30] samratbhadra-qasource commented on #109387
## Bug Conversion

- No Test case is required since it is expected behavior!

Thanks!

[2021-10-01 12:30] samratbhadra-qasource commented on #109376
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/149908

Thanks!

[2021-10-01 12:30] samratbhadra-qasource commented on #109248
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the 'Isolate & Release Host from Alert Details Flyout' section:
    - https://elastic.testrail.io/index.php?/cases/view/147442

Thanks!

[2021-10-01 12:31] samratbhadra-qasource commented on #108866
## Bug Conversion

- Test-Case updated:
     - https://elastic.testrail.io/index.php?/cases/view/450

Thanks!

[2021-10-01 12:31] samratbhadra-qasource commented on #108864
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the 'Isolate & Release Host from Endpoint Details Page Flyout ' section:
    - https://elastic.testrail.io/index.php?/cases/view/147455

Thanks!

[2021-10-01 12:32] samratbhadra-qasource commented on #108595
## Bug Conversion

 - No Test case is required as a new ticket is opened for this ticket.

Thanks

[2021-10-01 12:32] samratbhadra-qasource commented on #108511
## Bug Conversion

- No Test case is required since the UI is updated.

Thanks!

[2021-10-01 12:32] samratbhadra-qasource commented on #108363
## Bug Conversion

- Test-Case updated:
       -https://elastic.testrail.io/index.php?/cases/view/149910

Thanks!

[2021-10-01 12:33] samratbhadra-qasource commented on #108497
## Bug Conversion

- Test-Case updated :
       -https://elastic.testrail.io/index.php?/cases/view/76948

Thanks!

[2021-10-01 12:39] samratbhadra-qasource commented on #109397
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the 'Windows & MacOS Malware Protection' section :
        -https://elastic.testrail.io/index.php?/cases/view/35317

Thanks!

[2021-10-01 12:50] michaelolo24 commented on #110862
Part 1: https://github.com/elastic/kibana/pull/113157

[2021-10-01 12:51] neptunian opened #113617 "[Stack Monitoring] Node Advanced view and tabs"
- Elasticsearch Node Advanced ivew
- Template for Overview/Advanced tab to be used by Node and Index

[2021-10-01 12:51] elasticmachine commented on #113617
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-01 12:53] LeeDr commented on #113586
Another issue is if you have Kibana open in multiple tabs, possibly from different Kibana instances, you can't tell which tab the `Leave site?` dialog is for.  Its stays on top as you switch tabs.

[2021-10-01 12:54] dikshachauhan-qasource commented on #113518
Hi @thomasneirynck  and @joshdover

Thanks for the feedback on feature. For now, we have updated our test case as per current feature functionality.

Test case link: https://elastic.testrail.io/index.php?/cases/view/150171

Thanks
QAS

[2021-10-01 12:54] gmmorris commented on #111452
@ymao1 @mikecote and I held a sync call on this issue and decided not to rush into implementing this UX based on the POC.

The main blockers for us are questions around whether the UX will actually answer more questions than it raises, and how it fits into our long term visions for Observability of Alerting.
We've learned A LOT from this effort, and the next steps are for @arisonl, @mikecote and I

[2021-10-01 13:20] stacey-gammon commented on #85869
If the plugin is calling these APIs from the server-side, it won't work properly (from my understanding it will fail but in a non-obvious way). If the plugin is attempting to access from the client-side, they lose out on the benefit of type checking. I have a PR out to document these guidelines here: https://github.com/elastic/kibana/pull/113313/files#diff-3c4e9b75014f3ada216e36cecccffe18d91845574

[2021-10-01 13:29] elasticmachine commented on #102043
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-01 13:32] petrklapka opened #113622 "Test Sync On Create For Core Jira Integration"
This is a test.

[2021-10-01 13:32] elasticmachine commented on #113622
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 13:39] jportner commented on #105677
Chat today mapping the steps in the [Sharing Saved Objects dev guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html) to each SO type:

|  | Step 1 | Step 2 | Step 3 | Step 4 |
|---|---|---|---|---|
| cases | #107561 | #110854 | #110854 | PR #113552 |
| cases-comments | N/A | N/A | N/A | PR #113552 |
| cases-configure | #107561 | N/A | N/A | PR #113552 |
| cases-connector

[2021-10-01 13:40] smith commented on #113608
We should probably add a redirect since this is in a release and we can avoid breaking existing bookmarked URLs.

[2021-10-01 13:40] perrinal opened #113623 "Observability - Stream - Highlights Arrows can grey out when loading new data"
**Kibana version: ** 7.14.1

**Elasticsearch version: **7.14.1

**Server OS version: **

**Browser version:**  FF 92.0

**Browser OS version: **MacOs 10.14.6

**Original install method (e.g. download page, yum, from source, etc.): **Elastic Cloud

**Describe the bug:**
Observability - Stream - Highlights Arrows can grey out when loading new data

**Steps to reproduce:**
Observability --> Logs -->

[2021-10-01 13:48] ymao1 commented on #112087
@pmuellr I set it to look back 1 week in [this PR](https://github.com/elastic/kibana/pull/113557). What do you think re that time range?

[2021-10-01 13:53] Kunzetsov opened #113624 "[Canvas] & [Lens] metricVis integration."
## Investigation

### Vis `metric`

`metricVis` expression is accepting further arguments:

[code]

And the further input:

[code]

---

### Lens `metric`

`lens_metric_chart` expression is accepting further arguments:

[code]

And the further input:

[code]

This chart is accepting `lens_multitable` and processing only the first table from the `tables` property.

#### Description of the `lens_met

[2021-10-01 13:53] elasticmachine commented on #113624
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-01 13:53] elasticmachine commented on #113624
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-01 13:57] kibanamachine commented on #60559
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/151#89fffd9c-cee4-4f3f-820b-87dd09161cf9)

[2021-10-01 14:10] Bamieh commented on #112221
@pgayvallet i think it makes sense to expose them to both contexts especially since we might need this information for config deprecations. I believe it is possible to access this information in there.

[2021-10-01 14:17] pgayvallet commented on #112221
This is handled by https://github.com/elastic/kibana/pull/113600. I was specifically asking about feature deprecations here, as the info are already accessible for them (even if it do require to propagate info from the initializer context down to the logic in the plugin handling feature deprecations), so it's not, technically, blocking.

[2021-10-01 14:18] rudolf commented on #113472
I've opened https://github.com/elastic/kibana/pull/113614 to add the stack traces to our unhandled rejection logging. It's not perfect because the stack trace will point to the error, not to the rejected promise, but it might help narrow this down.

[2021-10-01 14:21] ghudgins commented on #112921
I think fixed covers the mixed icon / no icon case better. but i'd like if there are no icons at all to not have the wasted space in the "fixed" scenario (if that makes sense)

[2021-10-01 14:38] garyjblackwell commented on #112510
You'll have to give me some details on getting the "saved object of the saved search".  In my mind, that is the same thing as the query I posted above.

[2021-10-01 14:40] dej611 commented on #112921
Makes sense.

[2021-10-01 14:41] neptunian opened #113631 "[Stack Monitoring] Convert Elasticsearch Index views to React"
#111756

[2021-10-01 14:41] elasticmachine commented on #113631
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-01 14:47] bmorelli25 commented on #112994
++ from me

[2021-10-01 14:59] ghudgins opened #113632 "[Lens] second metric gets reference line color by default"
**Kibana version:** 7.16-unreleased

**Elasticsearch version:** 7.16-unreleased

**Server OS version:** OSX

**Browser version:** Chominium edge

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:** Second metric is getting the wrong color assigned when it's added

**Steps to reproduce:**
* add a series
* add a reference line
* add a second m

[2021-10-01 14:59] elasticmachine commented on #113632
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-01 15:13] cjcenizal opened #113635 "Delete deprecation log cache when resetting the deprecation logs checkpoint"
ES has implemented a deprecation log cache to reduce noise. It will suppress logs that are duplicates of existing logs. Users expect to see new logs appear after they reset the logging checkpoint, which UA is unable to meet if the log cache is suppressing logs.

To help us fix this problem, the ES team has implemented an API for deleting the log cache in https://github.com/elastic/elasticsearch/pu

[2021-10-01 15:13] elasticmachine commented on #113635
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-10-01 15:14] #112966 closed

[2021-10-01 15:15] cjcenizal commented on #112622
Fixed by https://github.com/elastic/kibana/pull/113344

[2021-10-01 15:15] #112622 closed

[2021-10-01 15:32] timroes commented on #113601
This was actually caused by us upgrading `set-value` (and worked in 7.14 and beforehand, though never tested, since we cannot end up with those ids by just using Kibana).

**set-value version in 7.14:**
![screenshot-20211001-172452](https://user-images.githubusercontent.com/877229/135647158-021fa4fc-8ec6-4e0d-b6ab-c9354979cd4c.png)

**set-value version in 7.15**
![screenshot-20211001-172505](https

[2021-10-01 16:04] lukeelmers commented on #110638
++ To be clear, I was suggesting getting a fix in 7.15.x where we remove the opt in/out link. The learn more link is a bigger question.

Yeah IMHO we should... this just keeps coming up so it might be time to make a decision on it.

[2021-10-01 16:05] kobelb commented on #112756
As far as I'm aware, it's environment-specific. Warning, I am not an expert of the following. For most network interfaces, there's a [maximum limit of 65,535 sockets for each application](https://www.ibm.com/docs/en/zos/2.1.0?topic=domain-maximum-number-sockets), but to even get near this limit you have to first increase the [maximum number of file descriptors that a process can use](https://www.e

[2021-10-01 16:13] spong opened #113645 "[Security Solution][Detections] Change in `set-value` behavior affecting Security ML Detection Rule"
In `7.15` the `set-value` dependency [was updated](https://github.com/elastic/kibana/pull/111988) to `4.1.0` (from `3.0.2`), which introduced a huge behavioral change when numbers are provided as the 2nd parameter. When a field name is something like `123.788` this will no longer generate an object: `{ 123: { 788: { ... } }` but instead `{ 123: [ , , , , /* 788 empty elements */, { ... } ] }`.

No

[2021-10-01 16:13] elasticmachine commented on #113645
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-01 16:14] elasticmachine commented on #72437
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-01 16:14] timductive commented on #72437
adding @jb1b84 and @poffdeluxe here to decide if this is a duplicate

[2021-10-01 16:33] Zacqary opened #113646 "[Stack Monitoring] Elasticsearch ML Jobs View Migration from Angular"
As part of #111756 in https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/elasticsearch/ml_jobs

[2021-10-01 16:33] elasticmachine commented on #113646
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-01 16:38] delvedor commented on #112756
The client uses `keepAlive: true` by default. My point is that if you set `maxSockets` to `Infinity`, there is the risk of having a memory leak, as too many socket gets opened. If you configure a finite number there is the risk of request that will wait some more time, but the memory pressure is constant.

[2021-10-01 16:45] joshdover commented on #113285
@alexfrancoeur I suspect that for Self-Managed we don't have any Elasticsearch URL to display here that we can definitely say will be publicly available, nor can we even really safely expose to the browser (cc @elastic/kibana-security can check me on this). Reason being that admins may not want the `elasticsearch.hosts` config to be viewable to end-users for security reasons. This is likely the sa

[2021-10-01 16:51] jasonrhodes commented on #108543
Closed as dupe

[2021-10-01 16:51] #108543 closed

[2021-10-01 17:17] #111452 closed

[2021-10-01 17:19] EricDavisX commented on #110063
@jen-huang who is the contact for Figma, is it IT or an individual team?  Are you able to help with this please?

[2021-10-01 18:27] kibanamachine commented on #106650
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/753#eb9607e4-881b-4f17-bfbd-3d1ed5837270)

[2021-10-01 18:28] jportner commented on #112221
Yeah, I was aware, it just seems like all consumers of feature deprecations will need to know the current branch, so we might as well expose that from the context if it's not too much trouble. If it's going to be a headache I don't think it's critical though.

[2021-10-01 18:35] jportner commented on #113390
Here is the screenshot that Buildkite shows:

![image](https://user-images.githubusercontent.com/5295965/135670048-b3b9486d-1f44-4c76-afd3-2fb5effd489c.png)

This seems unrelated to the test failure

[code]

I'll close this as it seems like a transient failure. If it happens again we'll attempt to reproduce and triage.

[2021-10-01 18:46] jethr0null commented on #110549
This looks fantastic to me @yiyangliu9286 and reflects everything we've chatted about. I do have one question about whether it's possible to link to the exception tab for the rule that we're directing users to from the prompt (when users select option 3). It might make the flow a bit smoother if it is possible. Not a hard requirement if it adds significant complexity though.

[2021-10-01 19:13] lukeelmers commented on #112175
@LeeDr Alternatively you could post a note to the beats issue that's tracking the 8.0 upgrade of the kibana filebeat module: https://github.com/elastic/beats/issues/24136

[2021-10-01 19:24] mholttech commented on #87048
I'm also running into an issue with this. When creating an Uptime alert with integration into ServiceNow (SNOW) we would like to set the Message Key going into the SNOW Event Management Platform to {{state.url}} so that all alerts for a specific URL would roll up to a single alert. Using {{alert.id}} is not a good solution because the AlertID also contains the name of the checkpoint that performed

[2021-10-01 19:28] jportner commented on #113285
Agreed.

[2021-10-01 19:28] kibanamachine commented on #106650
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/755#480610fe-8006-4d9d-b5c2-f996b4ccf44f)

[2021-10-01 20:01] MichaelMarcialis commented on #112921
+1 to what @ghudgins said.

[2021-10-01 20:03] #104932 closed

[2021-10-01 20:06] kibanamachine commented on #107034
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/155#d549b8d6-bde9-4240-a74b-3205a8afbc45)

[2021-10-01 20:11] jportner opened #113670 "Reduce Security plugin's async chunk size (static assets)"
I've noticed recently that the size of the Security plugin's async chunks have been growing, example: https://github.com/elastic/kibana/pull/113460#issuecomment-931458048

To analyze the chunk sizes, you first need to make sure the optimizer has run. Then you can build a stats file:
[code]
Find the stats file (`x-pack/plugins/security/target/public/stats.json`) and feed it into a tool to analyze i

[2021-10-01 20:11] elasticmachine commented on #113670
Pinging @elastic/kibana-security (Team:Security)

[2021-10-01 20:27] rylnd commented on #98689
@rashmivkulkarni how did you perform the license downgrade/upgrade? Was it via the License Management page? What permissions did your user have?

[2021-10-01 20:47] rashmivkulkarni commented on #98689
Used `test_user` - who has `superuser` permissions. However on latest 8.0 snapshot unable to reproduce the bug . Able to switch the License from Trial to Basic ( from the License Management Page) and able to navigate to Security >Overview without the error message popping up.

[2021-10-01 21:09] elasticmachine commented on #91654
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:13] elasticmachine commented on #33589
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:13] elasticmachine commented on #35463
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:13] elasticmachine commented on #37984
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #42241
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #44975
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #50027
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #52173
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #53285
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #55759
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #55907
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #68220
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #69269
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #73779
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #82065
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #32798
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #36645
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #36647
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #38234
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #38642
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #39299
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #46928
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:14] elasticmachine commented on #49726
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #53982
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #55900
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #57629
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #58062
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #59427
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #60195
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #60857
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #62921
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #63317
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #63742
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #69360
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #71387
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #73497
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #81862
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #84252
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #84872
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #93554
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:15] elasticmachine commented on #96717
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:24] rylnd commented on #98689
I was not able to reproduce this behavior on either `master` or with the 7.13 releases for [kibana](https://www.elastic.co/downloads/past-releases/kibana-7-13-0) and [elasticsearch](https://www.elastic.co/downloads/past-releases/elasticsearch-7-13-0).

@peluja1012 @MadameSheema I think we can close this for now, but I'll defer to you on how to proceed here.

[2021-10-01 21:30] spong commented on #110549
Here's an ER I wrote awhile back for deep-linking to specific views within pages like the Exception tab on Rule Details: https://github.com/elastic/kibana/issues/92345

As you mention this is really nice for improved UX in features like this, but it also allows for users to build custom links within their Rule Actions, which can go a long way in improving the response/triage flow from notification

[2021-10-01 21:32] andrewvc commented on #112831
Apologies for the delay. This is clearly an improvement, but I'm worried about users being able to disable auto-upgrade. I'd like @dominiqueclarke 's input on this.

My worry is that it means that the custom UI for the integration now must support old versions of the integration if that is the case. What are your thoughts @dominiqueclarke is this something we can work with?

[2021-10-01 21:43] elasticmachine commented on #82066
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #82166
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #82963
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #83521
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #83622
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #83625
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #83626
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #89744
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #91687
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #112845
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #70180
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #70622
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #70940
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #70966
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #74240
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #74625
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #74840
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #74861
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #74929
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #75237
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #75273
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #75637
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #75384
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #75689
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #75875
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #76073
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #76149
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #76193
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #79142
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #79265
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #79452
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #79637
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #79859
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:43] elasticmachine commented on #81597
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #57123
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #57782
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #58023
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #58249
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #59761
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #59883
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #60922
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #61347
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #62587
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #63061
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #63953
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #64156
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #64442
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #65776
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #66011
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #66059
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #66783
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #67590
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #68603
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #68942
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #68998
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #69291
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #69518
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #69543
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:45] elasticmachine commented on #69835
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #50826
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #50960
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51141
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51490
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51515
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51522
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51833
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51982
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #51995
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #52095
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #52515
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #52737
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #52630
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #53584
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #53779
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #54290
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #54294
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #54372
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #54464
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #54968
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #55786
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #56730
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #56967
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #27922
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #32519
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:46] elasticmachine commented on #42777
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:47] elasticmachine commented on #49204
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:47] elasticmachine commented on #49933
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:47] elasticmachine commented on #50428
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:47] elasticmachine commented on #50676
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:47] elasticmachine commented on #50732
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:47] elasticmachine commented on #50741
Pinging @elastic/kibana-core (Team:Core)

[2021-10-01 21:48] jen-huang commented on #113606
The header image is also misaligned, looks like it needs to be shifted up a bit.

[2021-10-01 22:03] andrewvc commented on #112831
I'd like to make a further point, I still don't understand how we can support people running older packages indefinitely. If a user can run old packages (and therefore mappings) indefinitely, in a few years time we could find users with very old mappings that we no longer want to support running 'new' versions of the stack (think an 8.21.0 version of the agent with 8.3.0 era mappings).

If other p

[2021-10-01 22:53] kibanamachine opened #113682 "Failing test: Jest Tests.src/plugins/vis_types/timelion/server/series_functions - legend.js should create the _global object if it does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/762#f623e3e3-11ec-4252-b196-3a805257e097)

[2021-10-02 01:02] cchaos commented on #94178
PR is up #113648

[2021-10-02 01:16] simianhacker commented on #106650
Is this failing on the same server every time? How is it that it runs successfully for a week or so then starts failing again?

This just seems fishy to me.

[2021-10-02 01:18] kibanamachine commented on #106650
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/767#d2217f3d-1f91-41d0-9b6d-519158ad9e06)

[2021-10-02 02:04] kibanamachine commented on #107057
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/769#8e78caeb-8fa6-4d58-892d-c80abcc1deed)

[2021-10-02 07:17] kibanamachine commented on #106650
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/779#edd1b890-11f2-4925-9863-6e9c21383ef6)

[2021-10-02 07:20] lucabelluccini opened #113693 "Overwriting a Saved Search introduces columns parameter with invalid values and affects CSV exports"
**Kibana version:** 7.13.0, 7.14.1

**Describe the bug:**

Overwriting a Saved Object introduces a URL parameter `columns` with `_source`.

This is not playing well with the new features in Kibana which no more grab fields from `_source.`

For this reason, CSV Exports following the overwrite of a Saved Search generates a column containing `-`.

**Steps to reproduce:**

How to reproduce:
- Install

[2021-10-02 07:21] elasticmachine commented on #113693
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-02 08:29] kibanamachine commented on #96372
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/782#0950f668-f34d-4928-b47b-047e7f784e45)

[2021-10-02 08:40] kibanamachine commented on #68400
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/782#d8205e87-3247-4f8d-aff2-25ab7a621f8c)

[2021-10-02 09:16] kibanamachine commented on #106650
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/782#ba061045-fd6a-4975-9f07-ac5c904472b3)

[2021-10-02 15:43] teezzan commented on #113383
Can I hop on this? @sqren And us there anything else to note before attempting to fix this? Thanks

This is my first issue 😃

[2021-10-02 19:43] kibanamachine commented on #101984
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/804#a11353d2-933f-49f0-a8e9-cc4a2bca506e)

[2021-10-02 21:45] cpmoore opened #113694 "[Reporting] Ability to export CSV without saved object"
It would be nice to have the ability for users to export their search results without the need for saving a filter first.
We have a lot of users that have the ability to search in Kibana but they don't have write authority in order to save a filter. These users could benefit from still being able to export search results.

[2021-10-03 03:53] kibanamachine opened #113695 "Failing test: Jest Tests.x-pack/plugins/apm/public/components/shared/Links/MachineLearningLinks - MLExplorerLink should produce the correct URL with jobId"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/821#5b3c2a41-8fe9-4f4a-9ee8-483b7eaab578)

[2021-10-03 04:48] dbvan commented on #737
I custom css in these file and it's working.
echo ".euiTableRowCell{min-width:120px}" >> /usr/share/kibana/src/core/server/core_app/assets/legacy_light_theme.css \
echo ".euiTableRowCell{min-width:120px}" >> /usr/share/kibana/node_modules/@kbn/ui-shared-deps/shared_built_assets/kbn-ui-shared-deps.v8.light.css \
echo ".euiTableRowCell{min-width:120px}" >> /usr/share/kibana/node_modules/@kbn/ui-shar

[2021-10-03 07:15] kibanamachine commented on #106650
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/826#5814b6cc-8c60-4c68-8760-b37847f98fa6)

[2021-10-03 12:24] lizozom opened #113696 "Allow filtering by tag when adding visualizations to a dashboard"
I have some tagged visualizations I created
![image](https://user-images.githubusercontent.com/3016806/135753449-367f291e-8372-4fbc-89c7-2533943baf9c.png)

But when I want to add them to a dashboard, I can't filter the list by tag:
![image](https://user-images.githubusercontent.com/3016806/135753471-1bda92c7-fb41-4383-8d56-4737c6150dc8.png)

It would be immensly useful to be able to filter this li

[2021-10-03 12:24] elasticmachine commented on #113696
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-03 12:58] kibanamachine opened #113697 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions waitForPickupUpdatedMappingsTask resolves left wait_for_task_completion_timeout when the task does not complete within the timeout"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/838#04c49a7f-c0b1-4607-a971-9ef70649b04d)

[2021-10-03 15:13] lizozom opened #113698 "Allow filtering fields list to find runtime fields"
Currently, it's impossible to filter the list of fields on the index patterns management screen to show only runtime fields.
It's very hard to find a runtime field if you don't remember its name.

![image](https://user-images.githubusercontent.com/3016806/135760308-620e6836-b1fd-4f51-9361-5e658196c2ef.png)

It would be great to have a filter to show runtime fields (maybe also show **non** runtime

[2021-10-03 17:40] yctercero opened #113700 "[Security Solution][Platform] - Clean up es-lint disables (no-continue)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://eslint.org/docs/rules/no-continue) -

Simply search "no-continue" within the `security_solution` folder. When creating this ticket, there were 3 instances of i

[2021-10-03 17:40] elasticmachine commented on #113700
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 17:48] yctercero opened #113701 "[Security Solution][Platform] - Clean up es-lint disables (react-hooks/rules-of-hooks)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://reactjs.org/docs/hooks-rules.html) -

Simply search "react-hooks/rules-of-hooks" within the `security_solution` folder. When creating this ticket, there were 1

[2021-10-03 17:48] elasticmachine commented on #113701
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 17:57] yctercero opened #113702 "[Security Solution][Platform] - Clean up es-lint disables (react-hooks/exhaustive-deps)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://reactjs.org/docs/hooks-effect.html#tip-optimizing-performance-by-skipping-effects) -

It's important we not rely on any weird side effects of not adding all de

[2021-10-03 17:57] elasticmachine commented on #113702
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 18:00] yctercero opened #113703 "[Security Solution][Platform] - Clean up es-lint disables (react/no-unused-prop-types)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Simply search "react/no-unused-prop-types" within the `security_solution` folder. When creating this ticket, there were 3 instances of it being disabled.

[2021-10-03 18:00] elasticmachine commented on #113703
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 18:04] yctercero opened #113704 "[Security Solution][Platform] - Clean up es-lint disables (import/no-nodejs-modules)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-nodejs-modules.md).

Simply search "import/no-nodejs-modules" within the `security_solution`

[2021-10-03 18:04] elasticmachine commented on #113704
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 18:10] yctercero opened #113705 "[Security Solution][Platform] - Replace ts-ignore in favor of ts-expect"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-9.html#ts-ignore-or-ts-expect-error) -

Simply search "ts-ignore" within the `security_solution

[2021-10-03 18:10] elasticmachine commented on #113705
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 18:15] yctercero opened #113706 "[Security Solution][Platform] - Clean up es-lint disables (react/display-name)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/display-name.md).

When disabled, components are all just referenced as `Component` when debugg

[2021-10-03 18:15] elasticmachine commented on #113706
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 18:19] yctercero opened #113707 "[Security Solution][Platform] - Clean up es-lint disables (require-atomic-updates)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Per eslint (https://eslint.org/docs/rules/require-atomic-updates) -

Simply search "require-atomic-updates" within the `security_solution` folder. When creating this ticket, there

[2021-10-03 18:19] elasticmachine commented on #113707
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 18:24] youccefkilp opened #113708 "help"
show legend in maps

[2021-10-03 18:30] yctercero opened #113709 "[Security Solution][Platform] - Clean up es-lint disables (@elastic/eui/href-or-on-click)"
In an effort to improve code quality, platform team looked through team's linter rules and our use of `es-lint-disable`. There are some low hanging fruit where we could remove these instances where we've disabled rules.

Looks like there are some known/valid use cases of this in Kibana. Not all instances may need to be removed but might want to double check that we're following the suggested metho

[2021-10-03 18:30] elasticmachine commented on #113709
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-03 21:03] pburkholder commented on #101009
Whoops. Looks like I missed a month checking in on this. Any updates?

[2021-10-03 22:09] lejara commented on #113705
hello! is it okay if i can work on this?

[2021-10-03 22:12] lejara commented on #113705
heyo! is okay if i can work on this?

[2021-10-03 22:29] kibanamachine commented on #96372
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/858#9ef64132-047c-476b-a0bb-78f7fe3973e5)

[2021-10-03 23:03] dominiqueclarke opened #113711 "[Observability] [Exploratory View] EuiDatePicker is cut off in subsequent series series"
The DateRangePicker used in series 2 and beyond is cut off.

The DateRangePicker should always be visible in order to allow users to configure the date range for their series.

<img width="1195" alt="Screen Shot 2021-10-04 at 12 06 19 PM" src="https://user-images.githubusercontent.com/11356435/135885577-6619ab45-2b04-4c1a-b6c7-693bb3946ad6.png">

[2021-10-03 23:03] elasticmachine commented on #113711
Pinging @elastic/uptime (Team:uptime)

[2021-10-03 23:10] dominiqueclarke opened #113712 "[Observability] [Exploratory View] Always show legend"
As an analyst, I wan the width of my charts to remain static, so that when I apply breakdowns I don't lose context when viewing the updated chart.

Currently, the legend appears only when applying a breakdown. It takes up a good amount of the screen, decreasing the width of the exploratory view chart. This causes the data to shift when going from a breakdown to a non breakdown chart. To mitigate t

[2021-10-03 23:10] elasticmachine commented on #113712
Pinging @elastic/uptime (Team:uptime)

[2021-10-03 23:13] dominiqueclarke commented on #112831
@joshdover I have two questions that will help me better think about this issue

1. When upgrading packages, does the upgrade logic respect the `conditions.kibana.version` specified in the package spec?
2. When upgrading package policies, does the upgrade logic respect the `conditions.kibana.version` key specified in the package spec?

[2021-10-04 01:01] kibanamachine commented on #106053
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/862#0846cdff-cbaf-4a1f-aa5c-7457a420894e)

[2021-10-04 02:14] daichenglong opened #113714 "Discover error"
**Kibana version:**
7.15.0
**Elasticsearch version:**
7.15.0
**Server OS version:**
centos 7.6 1810
**Browser version:**
chrome 94.0.4606.61
**Browser OS version:**
chrome 94.0.4606.61
**Original install method (e.g. download page, yum, from source, etc.):**
rpm
**Describe the bug:**
![error](https://user-images.githubusercontent.com/8833046/135783804-2b8fde60-6778-4939-9ef8-af1e1bb1c4f1.PNG)

**S

[2021-10-04 02:36] matschaffer opened #113715 "[Stack Monitoring] Confirm if all shard states are viewable on ES index overview"

[2021-10-04 02:39] VijayDoshi commented on #108794
Is this being actively worked on?

[2021-10-04 05:41] matschaffer commented on #77530
Is there a way to get the popup to follow as well? If not maybe I'll open an issue for it. I can see the cursor tracking across graphs, but it's not as useful to have to eyeball the Y axis value.

I'd be okay if this was an option that need to be enabled, not on by default. But when you need it, you need it :)

![Internet_speeds_-_Elastic](https://user-images.githubusercontent.com/690/135799561-85

[2021-10-04 05:53] #104377 closed

[2021-10-04 07:01] pgayvallet commented on #111068
What if the deprecation owner uses markdown syntax outside of this subset? We keep it unchanged? We strip it to plain text?

Yea, I think most markdown libraries supports passing an allowlist of syntax nodes.

If this markdown subset officially becomes a supported feature of the deprecations api, we'll probably want something integrated in a more elegant way. We'd probably want the deprecation cli

[2021-10-04 07:38] timroes opened #113718 "[Graph] Use ExternalUrl service for checking drilldown URL links"
See https://github.com/elastic/kibana/issues/85975 for more details.

We should validate Drilldown URLs configured in Graph using this service. Not yet clear what we should do, if a configured URL breaks with this list.

@flash1293 Do you have discussed this already for TSVB, how we're handling URLs that are not in the allowlist?

[2021-10-04 07:38] elasticmachine commented on #113718
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-04 07:39] timroes commented on #108794
@VijayDoshi We're currently not actively implementing this. As soon as there is a decision about the wording and the illustration we can pick this up.

[2021-10-04 07:42] stratoula commented on #107096
I am closing it as it hasn't failed again but if it fails again I will investigate it

[2021-10-04 07:42] #107096 closed

[2021-10-04 07:45] markov00 commented on #77530
@flash1293 I think we should talk and open a discussion with the @elastic/kibana-presentation to configure this at the dashboard level, rather than at a chart level. The user should be able to select when and where to display the shared cursor and tooltip in the dashboard

[2021-10-04 07:48] flash1293 commented on #77530
Agreed, @matschaffer could you open a separate issue? Thanks for binging this up, this would indeed be a very nice feature.

[2021-10-04 07:51] flash1293 commented on #113718
@timroes The way I understood this setting is to allow everything not in the list (just how Graph and TSVB are doing it today). The issue you linked also includes this sentence:

[2021-10-04 07:53] kibanamachine commented on #112922
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/876#d40e139c-2b35-4f33-ba49-08ea0a6893cc)

[2021-10-04 07:58] stratoula commented on #110394
This doesn't seem to be extrelemely flaky. I am closing it and I am going to investigate it if it reopens. Unfortunately right now I dont have all the information needed to understand what goes wrong.

[2021-10-04 07:58] #110394 closed

[2021-10-04 08:02] timroes commented on #113714
Looking at those errors it seems that you might have instable internet or your server shut down in the middle or was not reachable. There are a couple of 404 for some APIs also the connection to Google translate timed out. Could you check it might be related to your network?

Also did you try to use Google translate to translate Kibana? This might not work fully and might cause errors similar to t

[2021-10-04 08:02] matschaffer opened #113719 "[Lens] Synchronize cursor Popup for X-axis across all Lens visualizations in a dashboard"
## Description of feature

https://github.com/elastic/kibana/issues/77530 introduced a synchronized cursor position for all Lens graphs in a dashboard.

This is a great step forward, but it'd be also good to have (possibly configurable) synchronized popups as well.

![Internet_speeds_-_Elastic](https://user-images.githubusercontent.com/690/135799561-850403d9-71bf-48eb-96ab-c370ccba078f.png)

Witho

[2021-10-04 08:02] elasticmachine commented on #113719
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-04 08:02] elasticmachine commented on #113714
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-04 08:02] matschaffer commented on #77530
Sure thing! I opened up https://github.com/elastic/kibana/issues/113719 - feel free to adjust as needed

[2021-10-04 08:03] matschaffer commented on #17134
Follow up issue for pop up context on Lens: https://github.com/elastic/kibana/issues/113719

https://github.com/elastic/kibana/issues/77530 introduced only the synchronized cursor.

[2021-10-04 08:04] elasticmachine commented on #113719
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-04 08:26] stratoula commented on #111594
Ci gives us this screenshot
![image](https://user-images.githubusercontent.com/17003240/135815088-dd183d11-ec55-4c9d-ae9b-8bb78b0e7265.png)

while it should be like that
![image](https://user-images.githubusercontent.com/17003240/135818241-81e7a00e-7aa2-4d5d-aa42-f8e974615b31.png)

It seems that the breakdown by filters hasn't been applied

[2021-10-04 08:43] timroes commented on #113718
Okay, sorry then let me rephrase the question. I meant less the behavior of the list but the behavior of our apps. I.e. what would happen if a graph/tsvb drilldown contains a URL that has `allow: false`? Have you made any plans around that already for TSVB? Will we remove the link? Will we build an error UI showing that it's forbidden to go there? Will the UI prevent creating new links that are in

[2021-10-04 08:46] flash1293 commented on #113520
cc @stratoula I think we had a case of this as well, right?

[2021-10-04 08:48] stratoula commented on #113520
Yes we had this one https://github.com/elastic/kibana/issues/113496
I am not sure about the solution I provided https://github.com/elastic/kibana/pull/113535 but it seems that it stabilizes it. Of course I have ran it only 100 times.

[2021-10-04 08:48] amolnater-qasource opened #113721 "[Fleet]: Agent count is `1` in confirmation modal which appears on clicking `Upgrade to latest version` under Integration settings, when no agent is installed."
**Kibana version:**  7.16.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.16.0 Snapshot Kibana Cloud environment should be available.
2. Lower version Elastic apm integration should be available, say `0.1.0`.
3. No Agent should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower versi

[2021-10-04 08:48] elasticmachine commented on #113721
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 08:49] amolnater-qasource commented on #113721
@manishgupta-qasource Please review.

[2021-10-04 08:56] stratoula commented on #111594
@flash1293 could this happen due to the warning popups?

[2021-10-04 09:00] flash1293 commented on #113718
Got it, good point. we didn't discuss it explicitly, I assumed it would work the same way as vega which is simply not rendering the text as link. Not sure whether a good fit for Graph