[2022-04-04 06:35] elasticmachine commented on #129281
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-04-04 06:35] elasticmachine commented on #129281
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 06:51] karanbirsingh-qasource opened #129282 "[Security Solution]Action like Filter In/Out and Investigate in User Details page are not present for more view value"
**Describe the bug**
Action like Filter In/Out and Investigate in User Details page are not present for more view value

**Build Details:**
[code]

**Browser Details:**
N/A

**Steps to Reproduce**
1. Navigate to User tab of security tab
2. Click on user name to go to the details page and check the operating system
3. Observe that Action like Filter In/Out and Investigate in timeline are not presen

[2022-04-04 06:51] elasticmachine commented on #129282
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 06:54] formgeist commented on #125872
@cyrille-leclerc OK, that's so weird. And it only happens when you copy + paste from those tables?

[2022-04-04 06:58] formgeist commented on #113920
@dgieselaar Assuming since https://github.com/elastic/elasticsearch/issues/77734 is now merged this is unblocked?

[2022-04-04 07:00] formgeist commented on #113920
Or I guess this was actually closed by https://github.com/elastic/kibana/pull/119709?

[2022-04-04 07:00] elasticmachine commented on #129226
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-04 07:01] elasticmachine commented on #128786
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 07:01] dgieselaar commented on #113920
@formgeist ah yes, we can close this.

[2022-04-04 07:02] #113920 closed

[2022-04-04 07:02] formgeist commented on #129279
@cyrille-leclerc Isn't this a duplicate of https://github.com/elastic/kibana/issues/111325?

[2022-04-04 07:02] elasticmachine commented on #128110
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-04-04 07:02] elasticmachine commented on #128110
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-04 07:18] pheyos opened #129284 "[ML] Allow to edit job selection on data frame analytics results and map pages"
In the new data frame analytics results and maps entry points, when the job selection flyout is closed without selection, there's no obvious way to get it back:
![image](https://user-images.githubusercontent.com/1945390/161492184-10e92878-28f6-48aa-879a-1a7055976167.png)

Clicking the menu entry again doesn't work, the user has to navigate away and come back to the page.

Suggestion: Add a button

[2022-04-04 07:25] karanbirsingh-qasource opened #129285 "[Security Solution]Sorting not working on preview rule alert table"
**Describe the bug**
Sorting not working on preview rule alert table

**Build Details**

[code]

**Steps**
- Login to Kibana
- Create a Rule and generate some alert
- Click on Edit rule and scroll down to preview rule
- Alert table show up and change sorting on the timestamp field
- Observed that sorting is not working under the timestamp

**Screen-Cast**

https://user-images.githubusercontent.com

[2022-04-04 07:26] elasticmachine commented on #129285
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 07:30] karanbirsingh-qasource opened #129286 "[Security Solution]Additional Field data not showing under preview rule alert table"
**Describe the bug**
Additional Field date not showing under preview rule alert table

**Build Details**

[code]

**Steps**
- Login to Kibana
- Create a Rule and generate some alert
- Click on Edit rule and scroll down to preview rule
- Click on Field and search for `process.pid` and add this field  to table
- Observed that field got added but date inside it does not show up

**Screen-Cast**

![im

[2022-04-04 07:30] elasticmachine commented on #129286
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 07:39] jughosta commented on #127884
Hi @VijayDoshi ! I would like to clarify some requirements regarding "Copy column" feature.

- How many rows should be exported: current page (100 rows), displayed pages (500 rows), selected rows only, or all?
- Can we show “Copy column” action for any columns or only for columns with “string”, “number” field types? Not sure if we can format all raw data into text.

[2022-04-04 07:46] MadameSheema commented on #129286
@karanbirsingh-qasource can you please provide the JSON of the alert? Thanks :)

[2022-04-04 07:50] karanbirsingh-qasource commented on #129286
@MadameSheema  Please find the required details

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/161498111-d557fc7a-d5e8-4e5d-93d9-168846f00367.mp4

**JSON:**

[code]

[2022-04-04 07:54] manishgupta-qasource commented on #129281
Reviewed & assigned to @kevinlog

[2022-04-04 07:55] manishgupta-qasource commented on #129282
Reviewed & assigned to @MadameSheema

[2022-04-04 07:55] manishgupta-qasource commented on #129285
Reviewed & assigned to @MadameSheema

[2022-04-04 07:55] manishgupta-qasource commented on #129286
Reviewed & assigned to @MadameSheema

[2022-04-04 07:56] samratbhadra-qasource commented on #129011
Hi @kpollich,
Thanks for update on the issue.

[2022-04-04 08:00] pgayvallet commented on #129050
There's no `preboot` stage for plugins, but apart from that, +1

That totally makes sense, just some remarks:

- ` The execution time of each hook registered to the http service: PreAuth, Auth, PostAuth, PreRouting, PreResponse`

ATM we're basically just converting our hook format to HAPI's, e.g:

https://github.com/elastic/kibana/blob/d5416ed4aeed0bc19f4016aa5a4b63d911393f1b/src/core/server/http/

[2022-04-04 08:01] elasticmachine commented on #129286
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-04 08:01] amolnater-qasource commented on #122625
Hi Team
Thanks for the detailed information.
However could you please check screenshot at: https://github.com/elastic/kibana/issues/122625#issuecomment-1009723382
This screenshot refers to the agent installed using Production mode of security.
There with Elasticsearch url, Fleet-Server url is also used.
We are getting different patterns of installation failure with http and https for fleet-server

[2022-04-04 08:02] MadameSheema commented on #129286
@karanbirsingh-qasource can you please create a rule that generates that alert, and check if the value is displayed or not on the alerts table?? Thanks ^^

[2022-04-04 08:02] karanbirsingh-qasource opened #129288 "[Security Solution]Cases information not available under preview result alert flyout"
**Describe the bug**
Cases information not available under preview result alert flyout

**Build Details**

[code]

**Steps**
- Login to Kibana
- Create a Rule and generate some alert
- Attach new case to the alert and remember the alert entry ( _in our case we noted the process.pid_)
- Edit the Rule and click on preview
- Click on Alert details for above alert entry which is attached with case
- O

[2022-04-04 08:02] elasticmachine commented on #129288
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 08:06] flash1293 commented on #94215
Fixed by new multi-layer time axis
<img width="612" alt="Screenshot 2022-04-04 at 10 05 52" src="https://user-images.githubusercontent.com/1508364/161500970-82449771-84ba-479f-a686-b4bfe73a7f69.png">

[2022-04-04 08:06] #94215 closed

[2022-04-04 08:06] karanbirsingh-qasource commented on #129286
Yes , Glo information of `process.pid `is present on the Alert Table on Alert Page

![image](https://user-images.githubusercontent.com/59917825/161500861-c4701963-5f18-4fad-a805-f9f07dfeb81d.png)

![image](https://user-images.githubusercontent.com/59917825/161500976-ed7be4cb-4019-40b2-8ed5-6e3929fe5f5d.png)

![image](https://user-images.githubusercontent.com/59917825/161500991-fb0b7722-2919-4990-a

[2022-04-04 08:08] formgeist commented on #127444
Additionally, we need to disable the direct app links from the Guided setup flyout content as well.

![CleanShot 2022-04-04 at 10 03 58@2x](https://user-images.githubusercontent.com/4104278/161501353-bf8b11dc-219c-4aba-8319-26c522936d1e.png)

[2022-04-04 08:11] gvnmagni commented on #108442
I'm personally always like the concept of having a little margin on top on charts, having it at the bottom as well in this case could be interesting and visually pleasing

[2022-04-04 08:12] stratoula commented on #129256
This happens in all visualize pie charts. The problem is the css. The settings panel is below the absolute div and as a result unreachable. Also these panels can not be dragged.

<img width="638" alt="image (17)" src="https://user-images.githubusercontent.com/17003240/161501852-023e2a47-7e56-4fb6-9613-fc5ebf1ac350.png">

This bug exists on 8.2+ only (not released yet) and was created with the unif

[2022-04-04 08:13] formgeist opened #129289 "[Unified Observability] Guided setup: Hide the status bar when all the steps are completed"
# Summary

Since our current steps are ultimately down to whether or not the user has data for the individual data sources (and rules for alerts), we could implement a simple exception that if the user does have all signals available we opt to hide the Guided setup status bar. Since its primary use-case is to ensure users that are still onboarding are directed to the Guided setup content in the fi

[2022-04-04 08:13] elasticmachine commented on #129289
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-04 08:17] flash1293 commented on #34838
Set a static min cell height based on font size, then render a pagination component to change currently shown rows. Still blocked for categorical x axis

[2022-04-04 08:23] kertal commented on #119759
Fixed by #124898

[2022-04-04 08:23] #119759 closed

[2022-04-04 08:40] MadameSheema commented on #129285
@karanbirsingh-qasource can you please confirm if this is happening on the alerts table after creating a rule and generating alerts for it?

[2022-04-04 08:45] axw opened #129293 "Kibana 8.2.0-BC1 bundles APM 8.1.2 integration"
We should be bundling the APM 8.2.0 integration with Kibana 8.2.0, but we are currently bundling 8.1.2:

https://github.com/elastic/kibana/blob/8.2/fleet_packages.json#L18

This prevents any events sent by APM Server from being indexed.

[2022-04-04 08:45] elasticmachine commented on #129293
Pinging @elastic/apm-ui (Team:apm)

[2022-04-04 08:46] elasticmachine commented on #129282
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-04 08:47] karanbirsingh-qasource commented on #129285
@MadameSheema This is occuring on both the scenarios

- **after rule creation** ( _details of it is present in bug_)
- **before rule creation**

https://user-images.githubusercontent.com/59917825/161507903-3d0dcc77-b284-4353-a52d-6ff7fc33021e.mp4

[2022-04-04 08:50] deepikakeshav-qasource opened #129294 "[Security Solution] Unable to reset to none if rule contains any timeline template under bulk apply timeline template"
**Describe the bug**
Unable to reset to none if rule contains any timeline template under bulk apply timeline template

**Build Details:**
[code]

**preconditions**
1. Rule should be exist with any timeline template
2. Timeline templates should be exist

**Steps to Reproduce**
1. Navigate to Rules tab
2. Select any custom rule
3. Click bulk actions and then click on Apply timeline template
4. Sele

[2022-04-04 08:50] elasticmachine commented on #129294
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 08:51] deepikakeshav-qasource opened #129295 "[Security Solution] Unable to change the timeline template from drop down if already select any timeline under bulk apply timeline template."
**Describe the bug**
Unable to change the timeline template from drop down if already select any timeline under bulk apply timeline template.

**Build Details:**
[code]

**preconditions**
1. Rule should be created
2. Timeline templates should be exist

**Steps to Reproduce**
1. Navigate to Rules tab
2. Select any custom rule
3. Click bulk actions and then click on Apply timeline template
4. Select

[2022-04-04 08:51] MadameSheema commented on #129285
Thanks @karanbirsingh-qasource!! not sure if I was clear in my previous question, I want to know if the user is able to sort alerts, once the rule is created on the alerts table of the rule description, not on the alert preview table :)

[2022-04-04 09:00] karanbirsingh-qasource opened #129296 "[Security Solution]Extra empty row under Fly-Out for Rule with investigation guide"
**Describe the bug**
Extra empty row under Fly-Out for Rule with investigation guide

**Build Details**

[code]

**Steps**
- Login to Kibana
- Create a Rule with investigation guide details and  generate some alert
- Click on Alert Fly-Out
- Observed that extra blank row under the Highlighted Field section

**Screen-Shoot**

![image](https://user-images.githubusercontent.com/59917825/161510314-77d

[2022-04-04 09:00] elasticmachine commented on #129296
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 09:03] shahzad31 opened #129297 "[Uptime] Fix missing migration in uptime settings"
Since we have started using synthetics service, we need to include `synthetics-*` index in the index pattern string for querying data.

Now we include this by default in the index pattern, but in case if some user has already saved settings and have created the saved object they will need to manually update the index patterns string.

We should write saved object migration for uptime settings save

[2022-04-04 09:03] elasticmachine commented on #129297
Pinging @elastic/uptime (Team:uptime)

[2022-04-04 09:06] shahzad31 commented on #129297
The same use case also applied if user upgrades to heartbeat-8, we need to write migration to include heartbeat-8 in the index.

[2022-04-04 09:07] afharo commented on #129050
Huge +1 to this!

I have questions about how to best implement this?

We currently set up `transactions` during `preboot`, `setup` and `start`. Should we _simply_ call `apm.startSpan(pluginName)` so we'll see `transaction: setup and span: discover` or do we want to follow any other specific naming convention to the spans like `${pluginName}-setup`?

Is it enough to set a span to measure each lifec

[2022-04-04 09:13] elasticmachine commented on #129296
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-04 09:18] manishgupta-qasource commented on #129288
Reviewed & assigned to @MadameSheema

[2022-04-04 09:19] vadimkibana commented on #128133
How would it work? How I see it:

1. If you hover the error badge, you still see that popover in screenshot.
2. If you click on the error badge, something should appear from where the error can be copied, e.g. a modal or a flyout.
3. Alternatively, if you click on the error badge, it could immediately copy the error message to the clipboard.

cc @sixstringcode

[2022-04-04 09:25] MiriamAparicio commented on #120325
**Implementation details**

- If the service is not based on infrastructure that is related to Kubernetes or other containerized systems, we just show the Hosts tab.
- The tables components have a prop `filterClauseDsl`, we can filter using a terms filter passing an array of `host.name`, `container.id`, `pod.name`.
- We have an [endpoint](https://github.com/elastic/kibana/blob/d916a37cdfb29372e36e

[2022-04-04 09:31] jloleysens commented on #128230
I believe this is intentional - it is showing a keyboard shortcut `ctrl + /` I believe to open up the search bar. Perhaps the caret symbol is what is confusing non-macOS users. @cchaos I see this was added in https://github.com/elastic/kibana/pull/127903, pinging for visibility.

I am going to re-assign this to the core team since they own that code - feel free to re-assign though!

[2022-04-04 09:31] elasticmachine commented on #128230
Pinging @elastic/kibana-core (Team:Core)

[2022-04-04 09:32] mbondyra opened #129299 "[Lens] Query based event annotations"
### Phase 1

1. Refactor drag and drop https://github.com/elastic/kibana/issues/128506
2. Reshape code for existing manual annotations:
a. move fetching inside event_annotation plugin
b. utilize event_annotation_group expression following the simplified expression call from the design doc:
[code]
3. Introduce query-based event annotations
a. add data view as a dependency for event annotation group

[2022-04-04 09:32] elasticmachine commented on #129299
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 09:36] kertal commented on #129226
Thx for reporting, will be fixed in 8.2 by https://github.com/elastic/kibana/pull/127588

[2022-04-04 09:36] #129226 closed

[2022-04-04 09:39] jloleysens commented on #128568
Hey @ifrimere ! Perhaps another way to solve for this UX is to provide toggle-able, non-editable filters. In that way the user can only remove or add the filters captured in the embed.

Would that also solve your use case?

[2022-04-04 09:47] Dosant commented on #128133
4. Maybe we should ditch error badge and tooltip all-together and implemented an alternative. I think Lens uses a custom error handling approach where it render an error component? Maybe we should have the same UI for all other embeddables.

[2022-04-04 09:49] flash1293 opened #129301 "[Lens] Improve default of Lens metric vis"
The current default for Lens visualizations is often not a good pick.
<img width="347" alt="Screenshot 2022-04-04 at 11 48 30" src="https://user-images.githubusercontent.com/1508364/161519191-076b2f83-1b79-4dee-b50d-2ac9258b4a9d.png">

Instead, lets use the following defaults:
<img width="236" alt="Screenshot 2022-04-04 at 11 48 44" src="https://user-images.githubusercontent.com/1508364/161519219-

[2022-04-04 09:49] elasticmachine commented on #129301
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 09:53] fkanout commented on #119100
@katrin-freihofner, could you help me understand what the tags in the Rules alerts table are representing. I couldn't find any details.

[2022-04-04 09:54] flash1293 opened #129303 "By value migration script"
Right now, a lot of integrations dashboards are still built "by value". This means there are separate saved objects for each visualization. To ease migration to "by value" dashboards which don't have this issue, a helper script should be provided that performs the following tasks given a folder:
* Check for visualization saved objects in individual json files
* Check for dashboard saved objects in

[2022-04-04 09:54] elasticmachine commented on #129303
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 09:54] flash1293 commented on #129303
cc @ruflin

[2022-04-04 09:57] joshdover commented on #122625
@jen-huang @nchaulet I do think we should consider removing the `--fleet-server-insecure-http` option from the default instructions for setting up Fleet Server when using Quick Start. Fleet Server will generate a self-signed certificate automatically when this option is omitted and no certificate was provided, as seen from the logs:

[code]

If we agree on this, then I'd also recommend we stop sup

[2022-04-04 09:57] peteharverson opened #129304 "[ML] Display markers for scheduled events in distribution type anomaly charts"
Calendars contain a list of scheduled events for which you do not want to generate anomalies, such as planned system outages or public holidays. Grey rectangular markers are added to the anomaly charts in the Anomaly Explorer for the single metric type of charts to indicate periods of scheduled events. However no markers are added to the distribution type of charts, as displayed for population or

[2022-04-04 09:57] elasticmachine commented on #129304
Pinging @elastic/ml-ui (:ml)

[2022-04-04 09:59] machadoum commented on #129282
Even though it makes sense to allow filtering In/out, I don't think it is a bug. Instead, we should consider it a feature request because this feature isn't implemented anywhere else.

![Screenshot 2022-04-04 at 11 46 35](https://user-images.githubusercontent.com/1490444/161519877-0109425f-d486-4e7d-92af-2b0dd748ad89.png)
_Print Screen of the host page with multiple IP addresses values but no filt

[2022-04-04 10:03] #122576 closed

[2022-04-04 10:08] flash1293 opened #129308 "[Lens] Extended bounds for number histogram"
It should be possible to explicitly specify the bounds for the number histogram to stabilize a histogram visualization on a visualization with known data bounds (e.g. memory used) similar to how Visualize is supporting it.

[2022-04-04 10:08] elasticmachine commented on #129308
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 10:14] afgomez commented on #127444
if the app is not enabled should we show the graph at all?

[2022-04-04 10:14] joshdover opened #129309 "[Fleet] Update bundled packages for 8.2.0 release"
Could each package owner check which version they expect to be shipping and ensure that the `fleet_packages.json` file is updated with the correct version number on the `8.2` branch? It's recommended to make the change to `main` and backport to `8.2`. This needs to be completed before the final BC build.

These versions only need to be published to snapshot prior to merging this change.

Contents

[2022-04-04 10:14] elasticmachine commented on #129309
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 10:14] flash1293 opened #129310 "[TSVB] Telemetry for convertible TSVB visualizations"
A ui counter should be implemented to track certain events relative to "convertible" TSVB visualizations (TSVB visualizations which can be turned into Lens visualizations):
* Save TSVB which could have been converted
* Save Lens of converted TSVB
* View TSVB / TSVB that could have been converted?

[2022-04-04 10:14] elasticmachine commented on #129310
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 10:24] weltenwort commented on #129279
@cyrille-leclerc could you specify what "log line details" are? A specific subset of the source fields? a subset of mapped fields? all of them?

[2022-04-04 10:29] afharo commented on #128230
I agree with @jloleysens, I think it's the keyboard shortcut hint. On macOS, the symbol shown refers to the `Cmd + /` shortcut:
<img width="487" alt="image" src="https://user-images.githubusercontent.com/5469006/161525780-16e0688b-3fec-4290-82b8-12ef51327e8a.png">

Tagging the Platform Design team just in case they want to revisit the design to avoid this confusion.

[2022-04-04 10:31] kibanamachine opened #129314 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/cases/configure·ts - Cases Configure Closure options change closure option successfully"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14371#a8ba95b9-eefe-4cad-9b74-a390062440db)

[2022-04-04 10:32] flash1293 commented on #129240
Blocked on https://github.com/elastic/elastic-charts/issues/1411

[2022-04-04 10:38] flash1293 commented on #57708
@fbaligand Does https://github.com/elastic/kibana/issues/94619 cover your use case?

[2022-04-04 10:38] emma-raffenne opened #129315 "Basic Telemetry on Alerts, Cases, and Rules management views"
As new functionality is added to alerting, its performance, usage, and adoption need to be monitored and tracked via Kibana telemetry.

As a first step, we would like to collect basic insights on the adoption of alerting by counting user clicks to get to alerting views.

- [x] #129339
- [x] #129340
- [x] #129341

About Usage collection service in Kibana, see:
- [REAME](https://github.com/elastic/k

[2022-04-04 10:38] elasticmachine commented on #129315
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-04 10:44] flash1293 opened #129316 "Fix imports from restricted paths"
There are a bunch of imports of restricted paths in the `lens` and `visualizations` plugins which should be fixed:
[code]

[2022-04-04 10:44] elasticmachine commented on #129316
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 10:45] #126459 closed

[2022-04-04 10:51] weltenwort commented on #125872
:thought_balloon: I'm not familiar with MacOS's clipboard, but is it possible that the copy operation puts the content into the clipboard with multiple different MIME types? And which MIME type is chosen is up to the application it's pasted into?

[2022-04-04 10:54] joshdover opened #129318 "[Fleet] Add a package reinstall / reset button"
There are some cases where reinstalling an integration package can help customers resolve problems, such as:
1. They made manual edits to a managed asset and want to reset it back to the original state
2. Something temporary went wrong (eg. network issue) during a package install or upgrade
3. A package was installed in a prior version that had a bug in the install code

Currently, customers have

[2022-04-04 10:54] elasticmachine commented on #129318
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 10:55] emma-raffenne opened #129319 "Advanced Telemetry on Alerts, Cases, and Rules management views"
Continuation of work started in #129315 to instrument Alerting in order to get insights on adoption, usage, and performance of Alerting features.

The events collected should be related to o11y Alerting exclusively, and not include stats related to Security rules, alerts, or cases.

See original problem statement at elastic/observability-product#184

## Issues in epic
- [x] https://github.com/elas

[2022-04-04 10:59] ruflin commented on #129303
@elastic/ecosystem Lets collaborate with the team from @flash1293 on this script. @joshdover You are likely interested in this too as it will speed up the installation of packages.

[2022-04-04 11:02] kertal commented on #23231
We've removed `_type` of the URL in the meantime, also I've tested if it would work with `/` in the id like this:

POST _bulk
{ "index" : { "_index" : "test", "_id" : "1/3" } }
{ "field1" : "value1", "timestamp":"2022-04-01T12:12:12Z" }

Works as expected, closing this

[2022-04-04 11:02] #23231 closed

[2022-04-04 11:03] flash1293 commented on #129303
The https://github.com/flash1293/legacy_vis_analyzer script is already doing the easy part of this (finding dashboards and visualizations and associating them by id)

[2022-04-04 11:04] amolnater-qasource opened #129320 "[Inconsistent]: No logs under Agents>Logs tab for long time after installation."
**Kibana version:**  8.2 BC-1 Kibana cloud environment

**Host OS and Browser version:**
Ubuntu
Inconsistently on: Windows

**Build details:**
[code]

**Preconditions:**
1. 8.2 BC-1 Kibana cloud environment should be available.
2. Windows and Ubuntu agents must be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents>Agent logs tab.
3. Observe no logs avai

[2022-04-04 11:04] elasticmachine commented on #129320
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 11:05] amolnater-qasource commented on #129320
@manishgupta-qasource Please review.

[2022-04-04 11:06] fbaligand commented on #57708
Hi @flash1293,

Yes, it is the idea.
That said, with more possible bucket aggregations.
This is actual bucket aggregations list in "Average/Min/Max/Sum Bucket" metric aggregation:
![image](https://user-images.githubusercontent.com/3750300/161531114-3fd8d3b9-33ea-4d05-9e66-a41e52eafa5c.png)
![image](https://user-images.githubusercontent.com/3750300/161531314-0e9828ef-451b-4fdc-8d2b-b01847a049a9.png

[2022-04-04 11:06] kertal commented on #50028
I've tested "View surrounding documents" of Discover with the following data containing a whitespace in the id

[code]
Works as expected, so this was fixed

[2022-04-04 11:06] #50028 closed

[2022-04-04 11:07] deepikakeshav-qasource opened #129321 "[Security Solution] UI is distorted when warning message is displayed under rule execution logs"
**Describe the bug**
UI is distorted when warning message is displayed under rule execution logs

**Build Details:**
[code]

**preconditions**
1. Rule should be exist
2. More than 1000 enteries should be exist under rule execution logs tab

**Steps to Reproduce**
1. Navigate to rule page
2. Click on above created rule
3. Navigate to rule execution logs tab
4. Observe that Updated <10 seconds> ago

[2022-04-04 11:07] elasticmachine commented on #129321
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 11:10] amolnater-qasource commented on #127710
Hi @juliaElastic
We have revalidated this issue on 8.2 BC-1 Kibana cloud environment and found it **fixed** now.
- Spelling for View Documentation button under Add Output>Logstash>View Instructions is now correct.

**Build details:**
[code]

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374876/161531944-81d8119d-4900-4a70-a184-639b9eed2eb0.JPG)

Hence marking this as QA:Validate

[2022-04-04 11:14] flash1293 commented on #94619
The issue with the idea presented above is that it will only work for "top values". Maybe we should think about another approach to allow the full flexibility (and even going beyond) of min/max/avg/sum bucket aggs.

One idea is to not solving this within formula but instead having a separate dimension group:
<img width="427" alt="Screenshot 2022-04-04 at 13 10 05" src="https://user-images.githubus

[2022-04-04 11:16] xcrzx opened #129324 "[Security Solution] Instrument Security frontend code to collect performance data"
**Epic:** https://github.com/elastic/kibana/issues/130971

## Overview

Currently, with enabled APM integration, we collect too little data to assess the performance of Security Solution. Here are a couple of examples:

**Route change transactions**
<img width="600" src="https://user-images.githubusercontent.com/1938181/161530908-e02a9c10-ed6e-4ccf-8606-40ac756c5475.png" />

**User interaction tra

[2022-04-04 11:16] elasticmachine commented on #129324
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-04 11:16] elasticmachine commented on #129324
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 11:19] muskangulati-qasource opened #129325 "[Security Solution] Host Isolation Exception link is available on the Advanced tab on Basic license, when there is no entry added for the same"
**Description:**
Host Isolation Exception link is available on the Advanced tab on Basic license, when there is no entry added for the same

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. The license should be downgraded to Basic

**Steps to Reproduce:**
1. Navigate to Integrations tab under Management from the left hand side navigati

[2022-04-04 11:19] elasticmachine commented on #129325
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 11:19] elasticmachine commented on #129325
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-04-04 11:20] cyrille-leclerc commented on #129279
@formgeist correct this request is a duplicate of the APM part of
* https://github.com/elastic/kibana/issues/111325

The fields of the log line are the things that matter the most to me, I wouldn't filter them to be sure we don't forget any and to be consistent with other visualizations of details (e.g. document details in Discover, span details in APM...). So I would say "all of them". Do you rec

[2022-04-04 11:27] weltenwort commented on #129279
I didn't realize this is duplicate of https://github.com/elastic/kibana/issues/111325. Which one will be the source of truth?

[2022-04-04 11:29] kevinlog commented on #129325
@paul-tavares does this have to do with the artifact list changes in any way?  Can you take a look?

[2022-04-04 11:30] muskangulati-qasource opened #129327 "[Security Solution] The Save message is inconsistent for the artifacts under Endpoints Tab"
**Description:**
The Save message is inconsistent for the artifacts under Endpoints Tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints tab under Security from the left hand side navigation.
2. Add an entry for all the artifacts
3. Observe the Save message is different for Blocklist

**Im

[2022-04-04 11:30] elasticmachine commented on #129327
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 11:30] elasticmachine commented on #129327
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-04-04 11:41] jughosta commented on #121347
This issue was already reported in EUI https://github.com/elastic/eui/issues/5404

We could [fix it in Discover](https://github.com/elastic/kibana/pull/129305) but I think we better wait for a fix in EUI.

[2022-04-04 11:44] formgeist commented on #127444
@afgomez I mentioned in the description that I don't see a problem with showing the charts as they are now, but we'll have to reconsider as soon as we have more detailed information available in these charts and the deep links that they provide won't work (e.g. the service inventory for APM deep-linking to a specific service, when the user doesn't have access to the inventory). The other benefit o

[2022-04-04 11:47] legrego opened #129328 "Remove docs reference to ephemeral encryption key"
We do not generate an ephemeral encryption key anymore. This was removed in https://github.com/elastic/kibana/pull/81511, so we should update our docs to reflect our new reality.

https://github.com/elastic/kibana/blob/d4530e15c602f6415adff82e17ae658f0e5720c8/docs/user/security/secure-saved-objects.asciidoc#L17-L20

_Originally posted by @legrego in https://github.com/elastic/kibana/pull/129131#di

[2022-04-04 11:47] elasticmachine commented on #129328
Pinging @elastic/kibana-security (Team:Security)

[2022-04-04 11:52] #129256 closed

[2022-04-04 11:54] ifrimere commented on #128568
@jloleysens -  Curious what the UX/UI implementation would be for your suggestion, both for the 'admin' (defining the embed rules) and the customer consuming the Dashboards, but your idea sounds about right. Thanks.

[2022-04-04 11:57] afgomez commented on #127444
I'm not sure how spaces are used but my gut feeling is that the user accessing the given space is not the same user that can enable the apps in the space. I'm also guessing that the second user has disabled the apps for a reason and may not be happy that we show data of the disabled apps.

Maybe I'm being overly cautious or paranoid, but I feel the right call here is to not show the data.

[2022-04-04 11:59] manishgupta-qasource commented on #129320
Secondary review for this ticket is Done

[2022-04-04 11:59] afgomez commented on #127444
...With that said, I also think that in an unified observability world in which all apps are pulling data from each other these permissions should be simplified.

[2022-04-04 11:59] manishgupta-qasource commented on #129321
Reviewed & assigned to @MadameSheema

[2022-04-04 12:00] manishgupta-qasource commented on #129327
Reviewed & assigned to @kevinlog

[2022-04-04 12:02] karanbirsingh-qasource opened #129332 "[Security Solution]Refresh every parameter can be set in negative under Rule Execution Log"
**Describe the bug**
Refresh every parameter can be set in negative under Rule Execution Log

**Build Details**

[code]

**Preconditions**
- Any Rule with generated alert should exist on the build

**Steps**
- Login to Kibana
- Navigate to Rule Execution Tab of the Precondition rule
- Click on Calendar icon
- Enable Refresh Every parameter with positive number let say 2 second
- Now add minus in f

[2022-04-04 12:02] elasticmachine commented on #129332
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 12:04] jughosta opened #129333 "[Discover][KEYBOARD] Copy to clipboard item in context menu is not highlighted when navigating up and down with keyboard"
"Copy to clipboard" item in context menu is not highlighted when navigating up and down with keyboard.

**Steps to reproduce**

1. Navigate to Discover
2. Select some rows and open context menu "N documents selected" with `SPACE`
3. Try to go through context menu items with keyboard `DOWN` key (or up)
4. Notice that "Copy documents to clipboard (JSON)" is skipped

![Apr-04-2022 13-54-50](https://u

[2022-04-04 12:04] elasticmachine commented on #129333
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-04 12:04] elasticmachine commented on #129333
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-04 12:06] formgeist commented on #127444
OK, agreed - perhaps we should consider using the Guided setup to inform the user that the app is not enabled instead of showing the charts and the links as disabled. Here's my suggestion; hide the charts but leave the checks in the Guided setup in 8.2, and then we follow up with an enhancement where we can clearly describe to the user that the checks are either true or false, and if the data chec

[2022-04-04 12:06] manishgupta-qasource commented on #129332
Reviewed & assigned to @MadameSheema

[2022-04-04 12:14] afgomez commented on #127444
Yes!

For example right now we disable the `<LogStream/>` shared component if the user cannot access logs... but that cripples the plugin using the integration on the first place. If we depend more and more on data from different solutions there will be a point where it doesn't make sense to give the current granularity anymore.

Imagine an APM inventory list that consides the CPU/memory metrics o

[2022-04-04 12:15] danielkhan commented on #127444
Is there a way to collect data for this. E.g. traces present + APM disabled? Maybe @alex-fedotyev can help with this.

[2022-04-04 12:15] elasticmachine commented on #129288
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-04 12:17] danielkhan commented on #127444
I agree. We might end up with showing one message indicating that users should first enable what's missing before they move on, reducing the branching inside the overview dashboard.

[2022-04-04 12:21] stratoula commented on #129260
The assumption is correct. What happens here is that when you create a vislib pie by default the legendOpen (uiState) is undefined. Undefined means that the legend is shown.

But on the new implementation we have a useEffect that sets the property always https://github.com/elastic/kibana/blob/main/src/plugins/chart_expressions/expression_partition_vis/public/components/partition_vis_component.tsx

[2022-04-04 12:22] samratbhadra-qasource opened #129335 "[Fleet]: On installing agent the "view agent dashboard" button gets enable on hosted agent."
**Describe the bug:**
On installing agent the "view agent dashboard" button gets enable on hosted agent.

**Build Details:**
VERSION: 8.2.0-BC1
COMMIT: d18a093a2cf03991b93ea3de6a1054d580d3e82f
BUILD: 51685
ARTIFACT LINK: https://staging.elastic.co/8.2.0-8ea0c40f/summary-8.2.0.html

**Preconditions:**
1. Elastic 8.2.0-BC1 environment should be deployed.

**Steps to Reproduce:**
1. Login to Kibana e

[2022-04-04 12:23] elasticmachine commented on #129335
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 12:26] machadoum commented on #129152
**Root cause:** This bug is happening because the "ML transform" stores a different value for 'rule_id' than expected by the UI.

<img width="1766" alt="Screenshot 2022-04-04 at 13 47 48" src="https://user-images.githubusercontent.com/1490444/161541446-b51c0326-44d0-4891-99db-25cba5cde75c.png">

<img width="1474" alt="Screenshot 2022-04-04 at 13 48 33" src="https://user-images.githubusercontent.co

[2022-04-04 12:28] kibanamachine opened #129337 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/details·ts - Actions and Triggers app Rule Details Header should reenable a disabled the rule"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14377#b8f79537-6bcc-43e2-bb6d-a844bf919f25)

[2022-04-04 12:30] joshdover opened #129338 "[Fleet] Add separate fields to /api/fleet/agent_status for policy updates and binary upgrades"
As part of Fleet scaling / performance testing, we need to be able to detect how many agents are in the "upgrading binary" state vs. the "updating policy" state. Today the API combines these into a single fields. This is useful for producing graphs like this:

![image](https://user-images.githubusercontent.com/1813008/161543607-772f02e2-0559-48b6-baab-ea6d71869514.png)

Proposal:
- Leave the `upda

[2022-04-04 12:30] elasticmachine commented on #129338
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 12:30] elasticmachine commented on #129332
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-04 12:32] emma-raffenne opened #129339 "Usage of Rule Management view"
Related to #129315

To get insights on adoption of alerting, we want to monitor its usage. The objective of this task is to instrument Kibana to count the number of user clicks to get to the new Rules management view

[2022-04-04 12:34] emma-raffenne opened #129340 "Usage of Alerts view"
Part of https://github.com/elastic/kibana/issues/129315

To get insights on adoption of alerting, we want to monitor its usage. The objective of this task is to instrument Kibana to count the number of user clicks to get to the new Alerts view

[2022-04-04 12:35] elasticmachine commented on #129321
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-04 12:35] emma-raffenne opened #129341 "Usage of Cases view"
Part of https://github.com/elastic/kibana/issues/129315

To get insights on adoption of alerting, we want to monitor its usage. The objective of this task is to instrument Kibana to count the number of user clicks to get to the new Cases view

[2022-04-04 12:45] kevinlog commented on #129281
@deepikakeshav-qasource @muskangulati-qasource I'm pretty sure this is a result of this bug: https://github.com/elastic/fleet-server/issues/1293

cc @ferullo

[2022-04-04 12:49] #12053 closed

[2022-04-04 12:53] stacey-gammon commented on #93962
Since KO-464 isn't in GitHub, and this is still needed, reopening.

As I understand it, @brianseeders basically implemented this but pulled it out at the last minute because of concerns over the frequency of doc changes it caused and potentially merge conflicts.

[2022-04-04 12:53] #93795 closed

[2022-04-04 12:59] paul-tavares commented on #129325
@kevinlog will take a look. my guess is that this has to do with some of the refactoring that David did in this area to consolidate the code that generates these cards

[2022-04-04 13:10] spong commented on #129321
Will be resolved once https://github.com/elastic/kibana/pull/129003 is merged

[2022-04-04 13:13] spong commented on #129332
We'll likely want to address this in the reusable refresh/date component we're using so it's fixed everywhere, but for the Rule Execution log I'll look to setting a lower bound (was going to make it 1min based on team feedback) and address in https://github.com/elastic/kibana/pull/129003.

[2022-04-04 13:16] #127063 closed

[2022-04-04 13:17] matschaffer commented on #128757
This is also in a similar ballpark, but I think they're not cloud ESTF runs so the nuance might be different:

https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3Afailed-test+sort%3Aupdated-desc+label%3A%22Team%3AInfra+Monitoring+UI%22+monitoring

[2022-04-04 13:23] joshdover opened #129344 "[Fleet] dynamic_template mappings for wildcard field names are not installed"
Integration packages have support for configuring wildcard field names in data streams. These fields are supposed to have an associated `dynamic_template` added to their mappings, however today, Fleet does not generate mappings for these. AFAICT, we have never had support for this in Fleet EPM code.

From @jsoriano:

Here's an example of how this works in Beats. A field defined like this:

[code]

[2022-04-04 13:26] joshdover commented on #129344
We should consider backporting a fix for this to 7.17.x depending on impact

[2022-04-04 13:30] mtojek commented on #129303
Hey Joe,

FYI We use `elastic-package export dashboards` to dump all Kibana saved objects and put them in separate directories, so in this case, I have a few questions:
1. Does this format change (always inline saved objects)?
2. Do you plan to deprecate the current one (always separate saved objects)?
3. Should we adjust the `export` command we use to dump objects differently?

[2022-04-04 13:31] joshdover commented on #128130
@hop-dev was able to reproduce some slowness (6+ minutes) in the case where Kibana can connect to the EPR endpoint but doesn't get a response back from the server. This could indicate an issue with a proxy or other network configuration. It'd be nice if we could provide a better experience here with a more aggresive timeout (2 minutes?), but I think this is fairly low priority for now unless we se

[2022-04-04 13:43] jsoriano commented on #129344
Actually, looking to beats mappings, the field doesn't need to have a wildcard. A field with `object_type` and without wildcards is assumed to have the wildcard at the end:
[code]
[code]

+1 to backport this to 7.17.

[2022-04-04 13:44] cchaos commented on #128230
Correct this is a symbol based visual for introducing the keyboard shortcut. I concluded this from PCMag that states:

If it's truly that confusing, for Windows users we could spell out `CTRL` but we have the full text in the footer of the search dropdown.

[2022-04-04 13:51] Kunzetsov commented on #127712
@flash1293, during my digging into the code of `xy` from `vis_editors` I've found a lot of places, where it is relying on the `aggType`, as it has been before. That was not hidden from me, but forgotten. It seems to me, that during the integration it will be shown a lot of underwater stones. I can't say, that there are no conflicts. There are a lot of places, where the visualization will work diff

[2022-04-04 13:52] jsoriano commented on #129344
Another case that can produce dynamic mappings, the use of the `dynamic_template` flag can configure a normal mapping as dynamic instead: https://github.com/elastic/package-spec/issues/171

[2022-04-04 13:55] matschaffer opened #129351 "[Stack Monitoring] Investigate any already-collected data we might have regarding ingest pipelines"
We've had some requests to get more information bout ingest pipeline performance.

This is an initial issue to investigate what might already be available in the data set if anything.

## Summary

Do we have anything ingested today? No. At least as far as Mat can tell.

Elasticsearch's `_nodes/_local/stats` endpoint is already called by metricbeat ([doc](https://github.com/elastic/beats/blob/main/

[2022-04-04 13:55] elasticmachine commented on #129351
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-04 13:59] joshdover commented on #129344
@jsoriano What might be helpful is to have the Beats source code to look at. Do you know where this lives?

[2022-04-04 13:59] joshdover commented on #129344
Changed the wording to be more clear that this is really a bug

[2022-04-04 14:08] #129328 closed

[2022-04-04 14:17] ajosh0504 commented on #129152
@machadoum I don't see how the transform might be picking up the wrong rule id- it merely reads the `signal.rule.rule_id` from the alert documents. The issue here seems to be that the `kibana.alert.rule.uuid` field and the `signal.rule.rule_id` fields have different values.

[2022-04-04 14:17] joshdover commented on #129344
@elastic/integrations It would be helpful to understand the impact of this issue on the integrations listed above so that we can prioritize appropriately.

[2022-04-04 14:20] flash1293 commented on #129303
@mtojek Thanks for reaching out.

The old format is still supported, this is just an addition (and it's compatible with all tooling). Using the inlined variant should be the default choice though and there should be a specific reason if separate saved objects are used.

No, there are still good use cases to support this (e.g. one-off visualizations not part of a dashboard or visualizations which s

[2022-04-04 14:30] nickofthyme commented on #108442
Yeah I like the axis padding which we already have as an option in charts, see https://codesandbox.io/s/naughty-heyrovsky-2u0z2l?file=/src/App.tsx.

![Screen Recording 2022-04-04 at 09 18 49 AM](https://user-images.githubusercontent.com/19007109/161564063-bcf6d6e5-01f6-4b51-a760-b4eb4e8329b2.gif)

So is the suggestion to always place single values at the centre of the axis?

Currently the axis `pa

[2022-04-04 14:45] ThomThomson commented on #122868
Closing this, as I can confirm that it has been fixed by https://github.com/elastic/kibana/pull/120815 in both 8.0.0 and 8.1.0. This must have been caused by the release candidate missing the PR.

[2022-04-04 14:45] #122868 closed

[2022-04-04 15:05] SHolzhauer commented on #126574
I have manually opened and saved the rules; However, as we manage our rules through Git and CI-CD using the CLI and the toml format this isn't very feasable.

Looking at the meta field (exported after saving) this should be relatively simple to setup. But then you are duplicating information in the toml I feel. (the query).

_Will update this thread if opening and saving it worked_

[2022-04-04 15:10] machadoum opened #129365 "[Security Solution] Fix alerts and external alerts filters on Hots and Users pages"
The Alert table and external alert table should filter by alerts where `host.name` or `user.name` exists on the Hosts and Users page.

*** Hosts Page - external alerts table is the only place where it is currently working.
*** Make sure that the Histogram is using the same filter.

[code]

[2022-04-04 15:10] elasticmachine commented on #129365
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-04 15:10] elasticmachine commented on #129365
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-04 15:24] alvarezmelissa87 commented on #126541
Looks like this was probably fixed on the maps side - going to go ahead and close it as we can't reproduce. @lcawl - happy to reopen if you see this again 👍

[2022-04-04 15:24] #126541 closed

[2022-04-04 15:27] cyrille-leclerc commented on #129279
I would say that this ticket is not specifying the solution, it's more an enhancement request, so I don't think it could contradict #111325 .
When we prioritize adding details to log lines, I guess we will clarify what the flyout will actually look like. Reusing the flyout of Observability / Logs / Stream makes a lot of sense to me. I think we would just have to confirm that we prefer to extend th

[2022-04-04 15:33] joshdover opened #129367 "[Fleet] Preconfiguration integration test is brittle"
When working on updating bundled packages, I noticed that our large Jest snapshot assertions are tied directly to package versions and can be somewhat brittle. This adds a bit of manual work to updating bundled packages once pre-release versions have been promoted to stable versions as in https://github.com/elastic/kibana/pull/129352

Example test failure log:
[code]

[2022-04-04 15:33] elasticmachine commented on #129367
Pinging @elastic/fleet (Team:Fleet)

[2022-04-04 15:37] joshdover commented on #129320
Are the logs showing up in Discover?

[2022-04-04 15:38] estermv commented on #127444
Is not only happening on the overview page, it also happens on other places, like the inventory page:
<img width="300" alt="Screenshot 2022-04-04 at 15 47 20" src="https://user-images.githubusercontent.com/2249229/161579019-75528200-0bdb-47b2-9e59-bb66a0d877f0.png">

Or in APM:
<img width="300" alt="Screenshot 2022-04-04 at 15 53 30" src="https://user-images.githubusercontent.com/2249229/161577696

[2022-04-04 15:43] shivindera commented on #127210
Fixed by https://github.com/elastic/kibana/pull/124898

[2022-04-04 15:43] #127210 closed

[2022-04-04 15:49] cauemarcondes opened #129372 "[APM] Service maps popover detail metrics don't match service inventory values"
Related to https://github.com/elastic/kibana/issues/125429

The throughput metric doesn't match the same value on the `Service inventory` and `Service Maps`.

<img width="2632" alt="Screen Shot 2022-04-04 at 11 47 01 AM" src="https://user-images.githubusercontent.com/55978943/161582306-95251073-fd1d-4726-8059-9a32f96185c8.png">

[2022-04-04 15:49] elasticmachine commented on #129372
Pinging @elastic/apm-ui (Team:apm)

[2022-04-04 15:50] cauemarcondes commented on #125429
Bug opened: https://github.com/elastic/kibana/issues/129372

[2022-04-04 15:54] CohenIdo commented on #128743
### WIP
- [ ] add new callback type `packagePolicyPostCreate`
- [ ] Add Tests
- [ ] types issue in the dynamic function `runExternalCallbacks`, `x-pack/plugins/fleet/server/services/package_policy.ts`

PR:
- https://github.com/elastic/kibana/pull/128744

[2022-04-04 16:07] MadameSheema commented on #128451
@dhurley14 @dplumlee @marshallmain @yctercero is there any action pending to be made regarding this ticket? Do we know if this could be a legitimate issue? Thanks!!

[2022-04-04 16:27] kibanamachine opened #129380 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/alert·ts - alerting api integration spaces only Alerting builtin alertTypes es_query alert runs correctly: use epoch millis - threshold on hit count < > for searchSource search type"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14399#295feed4-4594-4050-a49d-c050b01afde1)

[2022-04-04 16:31] monina-n commented on #129282
I agree with @machadoum - I'd consider it a feature request instead of a bug so we can make a issue for this and add it to our backlog

[2022-04-04 16:35] afharo opened #129381 "[Logging] Legacy and new system configuration"
In our user-facing docs about the logging feature (for 7.17, since it was removed for 8.0): https://www.elastic.co/guide/en/kibana/7.17/logging-settings.html

It looks like we don't make a big emphasis on the key differences, and neither warns of the potential unexpected issues that may occur if we have settings for both logging systems.

An example is a use case we recently knew about a user had

[2022-04-04 16:35] elasticmachine commented on #129381
Pinging @elastic/kibana-core (Team:Core)

[2022-04-04 16:35] elasticmachine commented on #129381
Pinging @elastic/kibana-docs (Team:Docs)

[2022-04-04 16:40] alexfrancoeur commented on #127705
An early snapshot was spun up with French enabled and it looks like the Enterprise Search description on the home page is not translated. Adding here to track as we work through the 8.2 translation.

<img width="1776" alt="image (95)" src="https://user-images.githubusercontent.com/25181823/161591270-5cbdb325-ee67-404e-91de-1747e6e1ec72.png">

[2022-04-04 16:41] #127987 closed

[2022-04-04 16:43] inqueue commented on #128410
Reopening. Toggling the column now works from the field list, it does not work within the document as shown in the screen recording.

https://user-images.githubusercontent.com/6099128/161591010-a7768761-a0db-4139-8af6-d1517d655d03.mov

[2022-04-04 16:45] kibanamachine commented on #129337
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14401#be68e856-884a-4802-a2f5-5719e4aa5890)

[2022-04-04 16:45] TinaHeiligers commented on #129381
At the time we enabled the new logging config we had to [retain support](https://www.elastic.co/guide/en/kibana/7.17/logging-settings.html#log-settings-compatibility) for the legacy logging system while deprecating it. The new logging system has an entirely different approach and I don't think we knew what issues could be caused when both were enabled, especially when it comes to using the file-ty

[2022-04-04 16:48] #125832 closed

[2022-04-04 17:03] nchaulet opened #129383 "[Fleet] Package policy external callback are not called for preconfigured policies"
## Description

Fleet allow other plugin to register callback that are called when a package policy is created/updated, these callbacks are actually called in the API handler and are not called for preconfigured policies, it seems a bug to me.

[2022-04-04 17:06] stephmilovic commented on #128580
@deepikakeshav-qasource can you please retest this? it has been fixed by https://github.com/elastic/kibana/pull/129000

[2022-04-04 17:19] smith commented on #128060
It looks like this is something that can be enforced and solved by the cloud UI and APIs. Please reopen if there's something we need to do here.

Also the Kibana repo probably isn't the best place for this; perhaps it should be in the cloud repo.

[2022-04-04 17:19] #128060 closed

[2022-04-04 17:21] ThomThomson commented on #95135
Reopening this, because the fix was not properly backported to the following versions: **7.13, 7.14, 7.15, 7.16, 7.17**.

When all the backports are completed, this will be closed again

[2022-04-04 17:24] parkiino commented on #129173
Hi I also checked this out locally off the main branch and created a cloud server with a 8.2.0-SNAPSHOT and was able to see endpoint count.
Could someone from QA source re-verify on their end? Maybe the original build to test this did not have the latest code.

<img width="1670" alt="image" src="https://user-images.githubusercontent.com/56409205/161598129-9882bbc5-d581-4504-bfc1-0e69f7a0fa57.png">

[2022-04-04 17:24] elasticmachine commented on #93432
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-04 17:28] smith commented on #93432
Closing this as a duplicate of #120384.

[2022-04-04 17:28] #93432 closed

[2022-04-04 17:29] ThomThomson opened #129386 "[Dashboard] Add Migration to transform Blank panel titles into Explicitly Hidden TItles"
### **Problem**

 In versions pre 7.10, hidden panel titles were serialized as blank strings. After 7.10, the `hidePanelTitles` key was used to be more explicit about which panels had their titles hidden.

 After https://github.com/elastic/kibana/pull/95355, is backported to all relevant 7.x versions these blank strings _should_ work properly to hide titles for backwards compatibility.

That said,

[2022-04-04 17:29] elasticmachine commented on #129386
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-04-04 17:30] ThomThomson commented on #122878
Editing this issue to become a general description of the flakiness surrounding the missing panel titles as a whole.

Fixing this issue will have 3 parts:
- **Part 1:** Fixing https://github.com/elastic/kibana/issues/129267 and backporting it to the following minors: **main, 8.2, 8.1, 7.17, 7.16, 7.15, 7.14, 7.13, 7.12**
- **Part 2**: Backporting https://github.com/elastic/kibana/pull/95355 to **7

[2022-04-04 17:44] smith commented on #128649
@miltonhultgren would you be ok with closing this, assuming the improvements we make in #127616 might make it so it's not relevant?

[2022-04-04 17:47] jen-huang commented on #115742
Looks like we did this in https://github.com/elastic/kibana/pull/123960.

[2022-04-04 17:47] #115742 closed

[2022-04-04 17:58] lukasolson commented on #41150
Just realized I created a duplicate here: https://github.com/elastic/kibana/issues/41150

Since it is linked by GH projects, I'm going to close this one.

[2022-04-04 17:58] #41150 closed

[2022-04-04 18:14] drewdaemon opened #129392 "[Lens] take breakdown information to Discover as disabled filters"
In the same vein as https://github.com/elastic/kibana/pull/127253 I could see passing break-down-by categories to discover as disabled filters. Take the following visualization:
<img width="1563" alt="Screen Shot 2022-04-04 at 1 01 06 PM" src="https://user-images.githubusercontent.com/315764/161605671-46985fef-ab0e-41d5-9c0f-906b3b5c1670.png">

Clicking "Explore raw data" would open Discover to sh

[2022-04-04 18:15] elasticmachine commented on #129392
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 18:23] abprash commented on #24870
@joshdover @rudolf , is anyone working on this?
I'm a beginner in contributing to open source. Can I work on this?

[2022-04-04 18:35] nchaulet opened #129396 "[Fleet] Settings defined at the index template level are not correctly set in the index template"
## Description

While testing that that feature #121184 I found the following bug

We allow to set mappings at the index template level like here https://github.com/elastic/apm-server/blob/main/apmpackage/apm/data_stream/app_logs/manifest.yml but these fields are not in the final template (they where before 8.2)
Also looks like the default pipeline is not set

For the `logs-apm.app` template I got

[2022-04-04 19:07] elasticmachine commented on #122766
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-04 19:32] nchaulet commented on #129396
Actually I think this was due to a wrong version of the APM package installed, I tried to reproduce this in cloud and snapshot and did not get the error again.

[2022-04-04 19:32] #129396 closed

[2022-04-04 19:37] Heenawter opened #129403 "[Controls] Unselect field when data view changes"
**Describe the bug:**
When editing an **existing** control, switching from one data view to another will not cause the editor to be in an invalid state - therefore, this allows users to create invalid controls where they are referencing a field from a different data view than the one they selected.

**Steps to reproduce:**
1. Create a new control with one data view
2. Edit that control and switch

[2022-04-04 19:37] elasticmachine commented on #129403
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-04-04 19:52] nchaulet commented on #121184
@hop-dev @joshdover  Just tested the upgrade from 8.x and 7.x to 8.2 and the new `@package` component template is well created, during the upgrade the old and now unused `@mappings` template are keep it something we want to address and clean or it's an acceptable side-effect?

<img width="888" alt="Screen Shot 2022-04-04 at 3 50 50 PM" src="https://user-images.githubusercontent.com/1336873/1616212

[2022-04-04 20:05] liza-mae commented on #128103
**Version: 8.2.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:05] liza-mae commented on #105356
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:05] liza-mae commented on #98419
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:05] liza-mae commented on #105357
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:05] liza-mae commented on #124599
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get one monitor should get by id

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3

[2022-04-04 20:05] liza-mae opened #129406 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·ts - management creating and deleting default index data view creation with exclusion"
**Version: 8.2.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:06] liza-mae commented on #120392
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:06] liza-mae commented on #124602
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dev_tools/breadcrumbs·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:06] liza-mae opened #129407 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should transition from a multi-layer stacked bar to a multi-layer line chart and correctly remove all layers"
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:06] liza-mae commented on #125276
**Version: 8.2.0**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**
- APM API tests trial apm_mappings_only_8.0.0 Sorted and filtered services "before all" hook in "Sorted and filtered services"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testRe

[2022-04-04 20:06] liza-mae commented on #102008
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:06] liza-mae commented on #105355
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:06] elasticmachine commented on #129407
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-04 20:13] liza-mae commented on #126369
**Version: 8.2.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3071/testReport/_

[2022-04-04 20:13] liza-mae commented on #129406
Test was renamed, closing in favor of https://github.com/elastic/kibana/issues/126369

[2022-04-04 20:13] #129406 closed

[2022-04-04 20:20] kevinlog commented on #129281
@muskangulati-qasource here is the official ticket for tracking the root cause as opened by the Agent team: https://github.com/elastic/elastic-agent/issues/285

[2022-04-04 20:22] bvader commented on #128666
Good Gravy Batman!! @kertal
Wow that was TOOO simple .. that is awesome!!!

@andreadelrio I guess we can close this ... hopefully we can put that in the docs somewhere

[2022-04-04 20:25] elasticmachine commented on #102008
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-04 20:35] paul-tavares commented on #129325
PR opened for fix: https://github.com/elastic/kibana/pull/129408

[2022-04-04 21:22] afharo commented on #129381
IMO, this is a special case of deprecated config parameters because, as opposed to other params that are either not used or renamed, they actually affect 2 coexisting services that may interfere to each other.

That's why I think we need special handling of this situation: either via docs, making it very clear that it should be "all-or-nothing". Or we could even go one step further and crash Kiban

[2022-04-04 21:47] richkuz opened #129424 "8.2.0 BC1: "Bad Request" error when searching saved objects"
**Kibana version:** 8.2.0 BC1

**Elasticsearch version:** 8.2.0 BC1

**Server OS version:** (Cloud)

**Browser version:** Chrome Version 99.0.4844.84 (Official Build) (x86_64)

**Browser OS version:**  MacOS BigSur 11.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud, GCP Los Angeles us-west-2 region

**Describe the bug:**

I see a "Bad Request" error whene

[2022-04-04 22:05] tsullivan commented on #124024
Closing this as the issue was filed against 7.12 and the implementation has changed drastically since 7.16.

[2022-04-04 22:07] #69962 closed

[2022-04-04 22:09] Elastic-Steve commented on #109525
Hi Team - is there any visibility on which milestone/stack release this is (_or could be_) targeted for?

In addition to the continued ERs & Support Cases we see being opened as a result of Cloud SSO not working with features like PrivateLink, adoption of those features continues to accelerate as security conscious customers integrate their cloud environments with Elastic Cloud. In the last 4 mont

[2022-04-04 22:09] kibanamachine opened #129425 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/cases/list_view·ts - Cases cases list deleting deletes a case correctly from the list"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14426#09e9c6ee-6464-4590-8d86-1e7ea8a899f5)

[2022-04-04 22:09] #106873 closed

[2022-04-04 22:12] spong commented on #122490
Awesome details @madirey! So glad we can start testing and seeing breakdowns like this! 😀 🙌

As for next steps, I'm not sure I'm the one to make a call here, but based on your comment in the linked thread:

I would say we could expose a `thresholdRule:maxGroupBy` setting and let the user crank it up as they please with a warning it'll affect search performance. Might not even need to be a setting

[2022-04-04 22:53] tsullivan commented on #106873
duplicate of https://github.com/elastic/kibana/issues/100461

[2022-04-04 23:27] #128081 closed

[2022-04-05 00:03] kibanamachine commented on #129337
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14432#fb699693-2ec9-47ea-b004-9d8de67c3ca0)

[2022-04-05 00:10] marshallmain commented on #128451
As far as I can tell everything seems to be working correctly, the `_has_privileges` API just has more capabilities than we thought. I don't see any actions to take here.

[2022-04-05 00:35] jportner commented on #109525
This work hasn't been prioritized yet and we haven't made any decisions on what exactly the implementation will be, but it's likely to align pretty closely with the issue description.

[2022-04-05 01:28] matschaffer opened #129432 "Review: Upgrade RxJS to 7"
Tracking issue for review of https://github.com/elastic/kibana/pull/129087

[2022-04-05 01:28] elasticmachine commented on #129432
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-05 01:54] tsullivan commented on #127460
Closed by https://github.com/elastic/kibana/pull/128015

[2022-04-05 02:06] mattkime commented on #104000
closing in favor of https://github.com/elastic/kibana/issues/107235

[2022-04-05 02:09] alexfrancoeur commented on #30738
This is awesome, thank you @nickpeihl 🙏

[2022-04-05 02:40] mattkime opened #129433 "[data views] type cleanup [IIndexPattern, DataViewBase] => DataView and [IFieldType, DataViewFieldBase] => DataViewField"
1) Move DataView and DataViewField interfaces to package
2) Replace DataViewBase and DataViewFieldBase with non base versions
3) Replace IIndexPattern and IFieldType with DataView and DataViewField
    - This may require changes by other teams in their apps

[2022-04-05 02:40] elasticmachine commented on #129433
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-05 03:54] karanbirsingh-qasource commented on #129285
Yes @MadameSheema  sorting is working on alerts once rule is created on the Alert table

- **Alert Page / Alert Table**

https://user-images.githubusercontent.com/59917825/161675512-e7172b27-b3ba-421a-8f70-dd2cb6ebeaa5.mp4

- **Rule Details Page / Alert Table**

https://user-images.githubusercontent.com/59917825/161675625-6be14639-a50a-4586-addd-debbf5540e25.mp4

[2022-04-05 03:54] manishgupta-qasource commented on #129335
Secondary review for this ticket is Done

[2022-04-05 04:16] mattkime commented on #124381
I also found `x-pack/plugins/data_visualizer/public/application/file_data_visualizer/components/import_view/import_view.js` which I believe is also the responsibility of the ml team. It would be great to see these resolved in 8.3 as this one one of the remaining places where the data view saved object is being read directly.

[2022-04-05 05:09] matschaffer commented on #123898
Manual backports open:
- https://github.com/elastic/kibana/pull/129436
- https://github.com/elastic/kibana/pull/129435

[2022-04-05 05:22] daixque opened #129437 "Translation issue on ja-JP.json for "selected" and "unavailable""
**Kibana version:**
8.1

**Describe the bug:**

Translation of "selected" for Japanese is wrong. It displays as "利用不可" but should be "選択済み".
I found translation for selected and unavailable are inverted on ja-JP.json.

Current:

[code]

But it should be:

[code]

**Steps to reproduce:**
1. Go to rule creation page of security

**Expected behavior:**

**Screenshots (if relevant):**
<img width="307"

[2022-04-05 05:26] matschaffer commented on #127224
I addd to bugs from https://github.com/elastic/support-known-issues/issues/1050 to the bug list on this issue.

[2022-04-05 06:17] daixque commented on #129437
In addition, I found one more issue in value list creation popup.

Current: (This means "Value list was NOT uploaded")

[code]

But it should be (meaning: "Value list WAS uploaded")

[code]

![image](https://user-images.githubusercontent.com/622436/161690915-225210df-0816-4649-be81-d9f336024a86.png)

[2022-04-05 06:30] formgeist commented on #120108
We discussed this in our product design sync and decided that we need to ensure the messaging and timing of this aligns with the overall strategy of the APM server standalone deprecation. cc @chrisdistasio This is moved to the backlog for moment

[2022-04-05 06:59] formgeist commented on #85470
The use-case for adding this summary to the list has been updated to support the default environment option mentioned in https://github.com/elastic/kibana/issues/126100. Additionally, we discussed another use-case in our product design weekly that users would always want to have a top-level aggregate of all the services available in the cluster for a solution owner to monitor the instrumentation o

[2022-04-05 07:02] formgeist commented on #126100
In our discussion in the product design weekly yesterday we discussed whether or not this enhancement is urgent and necessary at this time, because we don't know how many users will actually be taking advantage of this default environment option since we're also implementing other measures like service groups to help users maintain their service inventories. We would like to validate this option a

[2022-04-05 07:03] dgieselaar commented on #85470
Displaying a count of services for other environments requires us to iterate over all of the data (possibly with the exclusion of the currently selected environment, but that depends on where we should be getting the "of n services" count from).

[2022-04-05 07:17] kertal opened #129440 "[Discover] Migrate indexPattern to dataView naming"
In our code there are still plenty of **indexPattern** named variables + files. This should be changed to the use of **dataView** based naming. When searching for `indexPattern` in `src/plugins/discover` there are more than 100 matches.

<img width="835" alt="Bildschirmfoto 2022-04-05 um 09 09 32" src="https://user-images.githubusercontent.com/463851/161698542-17ed94fe-f9e4-41cd-b4c9-c9b3b9925a05.

[2022-04-05 07:17] elasticmachine commented on #129440
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-05 07:36] stratoula commented on #74309
This is still valid but only for scripted fields. This doesn't happen for runtime fields so I would propose to decrease the impact to low cc @ppisljar

[2022-04-05 07:44] semd commented on #123838
@andrew-goldstein @michaelolo24
I detected that the `&query=` parameter only works with a full-page load. When navigating from other pages in the application (using `navigateToApp`/`navigateToUrl` from kibana ) it does not work, the parameter change in the URL does not take any effect when the Alerts page opens, and we lose the consistency between the URL and the page contents.

Would it be possib

[2022-04-05 07:46] matschaffer commented on #123898
8.1 is merged. 8.0 has no further releases planned. Closing out.

[2022-04-05 07:46] #123898 closed

[2022-04-05 07:53] machadoum opened #129441 "Add hover actions to more values on details pages"
[Original issue](https://github.com/elastic/kibana/issues/129282)

**Describe the feature:**
Add hover actions to values that are displayed when the user clicks on  '+ {x} More' on details pages.

Impacted pages:
* User details and flyout
* Network details and flyout
* Host details and flyout

**Describe a specific use case for the feature:**
It will allow more pivot points for users, and it is mo

[2022-04-05 07:53] elasticmachine commented on #129441
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-05 07:53] elasticmachine commented on #129441
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-05 07:55] machadoum commented on #129282
Closed in favor of issue: https://github.com/elastic/kibana/issues/129441

[2022-04-05 07:55] #129282 closed

[2022-04-05 07:56] pgayvallet commented on #129381
Definitely not ihmo. The legacy and new logging system were meant to be able to coexist during the 7.x 'transition' period. AFAIK, it may even be quite complex to try to identify if configurations are provided for both, given most of the config conversion is done in the lower-level legacy config adapter (please don't ask), before core even accesses it. Also, some of our tests on 7.x were effective

[2022-04-05 08:01] kpatticha commented on #125632
This one was rejected so I'm removing the label for testing

[2022-04-05 08:01] mtojek commented on #129303
@ruflin @joshdover I don't know what was the reason to separate Kibana objects into different directories. Maybe we should iterate on this?

[2022-04-05 08:12] prachigupta-qasource opened #129442 "[Security Solution] Error is shown on clicking 'Preview results' button intermittently"
**Describe the bug:**

Error is shown on clicking 'Preview results' button intermittently

**Kibana/Elasticsearch Stack version:**

[code]
**Pre-conditions:**

1. Elastic Search should be up and running
2. Kibana should be up and running

**Steps to reproduce:**

1.  Navigate to Rules tab under Security
2.  Create a new rule
3.  Click on 'Edit rule settings' button
4.  Click on 'Preview Results' b

[2022-04-05 08:13] elasticmachine commented on #129442
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-05 08:16] MadameSheema commented on #129442
@prachigupta-qasource can you please attach the json of the rule to the ticket? Can you please let us know which type of data were you ingesting? Thanks! :)

[2022-04-05 08:19] jloleysens commented on #128889
Seems related https://github.com/elastic/kibana/issues/128568

[2022-04-05 08:22] ruflin commented on #129303
By the time the package-spec was created, by value did not exist yet. So this was the only option. I think moving forward, the majority of our dashboards with the visulisations inside should be just in the `kiabna/dashboards` directory. But there will still be some cases where users maybe only want to ship a visualization or index-pattern as a standalone asset.

[2022-04-05 08:22] flash1293 commented on #129303
It's less about the directory structure within the integrations repo and more about how it translates into saved objects within Kibana. The current approach of having a single saved object per visualization has some downsides:
* It's slower to create all of the saved objects instead of increasing the payload of the dashboard saved object
* Every individual visualization will show up in the "Visual

[2022-04-05 08:23] flash1293 commented on #129303
One small note to add - saved searches can't be done "by value" yet, so they will definitely stay, at least in the mid-term. map, lens and visualization saved objects can be inlined.

[2022-04-05 08:29] flash1293 commented on #129407
Entering the search string didn't work:
<img width="521" alt="Screenshot 2022-04-05 at 10 27 43" src="https://user-images.githubusercontent.com/1508364/161711983-7307b13a-0b01-4492-b59c-545d15ce542b.png">

As the black outline indicates, the focus moved from the input to the whole popover. In https://github.com/elastic/kibana/blob/3dd27be411eb1430fd0fa42c887a8af6e0904539/x-pack/test/functional/pag

[2022-04-05 08:32] danielkhan commented on #124370
+1

[2022-04-05 08:40] danielkhan commented on #127444
I don't think handling these exceptions for all apps separately makes sense.
Especially with unified user journeys, this approach is bound to fail eventually.

I would even go so far as to block all observability if any of its apps are disabled.
It should be a prerequisite.

WDYT @estermv, @formgeist, @afgomez?

[2022-04-05 08:40] prachigupta-qasource commented on #129442
Thanks @MadameSheema,

- **JSON of the rule:** [rules_export (30).zip](https://github.com/elastic/kibana/files/8416304/rules_export.30.zip)

- **Data Ingested:** Auditbeat, Filebeat

Moreover, This issue is occurring intermittently.

Thanks!

[2022-04-05 08:42] danielkhan commented on #127999
I agree.

[2022-04-05 08:50] lizozom commented on #129050
@afharo I would consult with the @elastic/apm-agent-node-js team.
I'm sure they would be able to help.

Maybe hit up the [#apm-instrumentation-of-stack](https://elastic.slack.com/archives/C02N6H8HPM2) channel and ask there?

[2022-04-05 09:13] elasticmachine commented on #129442
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-05 09:15] MadameSheema commented on #125770
@monina-n can you please take a look at this and share your thoughts? Thanks! :)

[2022-04-05 09:16] formgeist commented on #127444
I agree that it makes our solution much easier to manage if we don't have to think about plugin availability to ensure the **unified** observability experience.

Curious what @jasonrhodes thinks about this from the perspective of Kibana plugins. I know that previously Kibana core has had an opinion about being able to disable plugins (this is why they're available individually in the Observability

[2022-04-05 09:36] dikshachauhan-qasource commented on #129186
Hi @jen-huang

Let me correct the issue that I wanted to address here is related to textual description provided on "View deployment details" flyout. Earlier, I missed to mark the area that needs to be updated and might have cause some confusion. Here is the updated screenshot captured on latest 8.2 BC1 build.

![image](https://user-images.githubusercontent.com/72375798/161724745-b0723717-9278-4d0

[2022-04-05 09:53] juliaElastic commented on #127915
@kuisathaverat I tried this preconfig locally on the latest main, and I am getting an error message in WARN logs about the variable having invalid format. Did you not get this?
[code]

[2022-04-05 10:07] kpatticha opened #129445 "[APM] Service environment should be selected when you edit the agent configuration"
related to https://github.com/elastic/kibana/issues/113468

**Kibana version**:
8.2

**Steps to reproduce**:
 1. go to Settings
 2. click on Agent Configuration tab
 3. click on Create configuration
 4.  Select Service name & Environment
 5.  Next step
 6.  Edit

https://user-images.githubusercontent.com/3369346/161730798-80e5d125-d2ae-4881-885d-7eb7ced48909.mov

**Expected**:

https://user-images

[2022-04-05 10:08] #124318 closed

[2022-04-05 10:11] kpatticha commented on #113468
opened a bug https://github.com/elastic/kibana/issues/129445

[2022-04-05 10:13] flash1293 commented on #129303
Another good point by @joshdover about why inlining is beneficial: On using the global search bar, it's harder than necessary at the moment to find the dashboard because there will always be lots of visualizations matching the same search.

[2022-04-05 10:13] Dosant commented on #128920
duplicates https://github.com/elastic/kibana/issues/128921

[2022-04-05 10:13] #128920 closed

[2022-04-05 10:13] kpatticha commented on #126673
This one was rejected so I'm removing the label for testing

[2022-04-05 10:15] kpatticha commented on #78764
As mentioned, the ticket was closed in favor of https://github.com/elastic/kibana/issues/126091 so I'm removing the label for testing

[2022-04-05 10:21] stratoula commented on #129333
This happens on the EUI side, every time the `<EuiContextMenuItem />` is wrapped inside another component. In this case, we are wrapping it in the `EuiCopy` but it also happens if I wrap it in `EuiTooltip` for example. My proposal is to be solved on the eui side.

cc @chandlerprall @kertal

[2022-04-05 10:24] emma-raffenne commented on #119102
@vinaychandrasekhar and @mgiota
Is this addressed by #127015?

[2022-04-05 10:36] mtojek commented on #129303
It means that in most cases it would be recommended to switch to the inline form dashboards objects. That's what I expected and hence was my follow-up question regarding adjustments in elastic-package. If we decide to migrate all dashboards and don't update the `export` command, the old format will still sneak in.

I guess that we can evaluate which object types can be included in the dashboards b

[2022-04-05 10:46] danielmitterdorfer commented on #126687
Thanks for sharing this. In the end I used the indices stats output from a freshly created Cloud cluster. This does not contain any personally identifyable data but is complex enough for this case (~ 5000 properties with 6 nested levels).

[2022-04-05 10:46] kuisathaverat commented on #127915
no, I did not have that WARN in the logs, with that WARN, I think is enough to figure out what is going on. Does it still create a (wrong) policy like in my case?

[2022-04-05 10:57] juliaElastic commented on #127915
@kuisathaverat It creates an agent policy without apm integration policy if that is what you mean.
So the expectation is that the agent policy shouldn't be created either if integration policy has an error, right?

[2022-04-05 11:10] joshdover commented on #129320
Related to https://github.com/elastic/elastic-agent/issues/281 and https://github.com/elastic/fleet-server/issues/1285. Let's wait for investigation on those to complete before spending time on this one

[2022-04-05 11:11] Max-Iskra commented on #120287
**Here are mockups to reduce dead space in headings across the rest of the security pages: https://ela.st/mockups**

- Following logic:

![Consistancy](https://user-images.githubusercontent.com/91196877/161741427-e24404d9-c0e7-429d-a881-76c82debc7c1.png)

[2022-04-05 11:13] flash1293 commented on #129303
@mtojek It would be nice to introduce some kind of linting rule to prevent accidentally adding by reference visualizations in the future. However, I'm not sure how common it will be - if an integration author is going to put together a dashboard for a new integration by going to Kibana and configuring them through the UI, they will end up with by value visualizations not with saved objects, becaus

[2022-04-05 11:19] weltenwort commented on #129279
Ok - I'm still slightly confused which of these issues would serve as the implementation issue for the infra monitoring team.

Using the fly-out from the Logs UI would be pretty easy because it already uses a specialized search strategy for log entries. It would be my recommended approach.

[2022-04-05 11:22] weltenwort commented on #129432
I just performed the review

[2022-04-05 11:22] #129432 closed

[2022-04-05 11:38] prachigupta-qasource commented on #128451
Hi @marshallmain,

Can you please provide your valuable inputs to below queries:

**Scenario 1:**

- Warning message is shown on rule execution when ‘CCS privileges warning enable switch’ is disabled in ‘Advanced settings’.  But, according to the ticket no warning message should show for the above mentioned scenario.

Is this intended functionality? Please confirm.

![image](https://user-images.gi

[2022-04-05 11:48] kpatticha commented on #125211
seems duplicate with https://github.com/elastic/kibana/issues/123399. closing it

[2022-04-05 11:49] #127591 closed

[2022-04-05 11:50] #125211 closed

[2022-04-05 11:53] amolnater-qasource commented on #129320
Hi @joshdover
We have revalidated this issue on 8.2 BC-2 Kibana cloud environment.
We have observed that when there are no logs under Agent>Logs tab, then we haven't observed any logs under Discover tab too.

**Screenshots:**
![3](https://user-images.githubusercontent.com/77374876/161747184-e1ade228-fb19-488f-bcd4-79bc91750f38.JPG)
![4](https://user-images.githubusercontent.com/77374876/161747192-

[2022-04-05 11:54] mbondyra commented on #124017
Do we know which icon should be used?

[2022-04-05 12:00] Dosant commented on #124017
Specifically for the `version` field, the icon in the left-field list is correct.

I think we need to compare how `FieldIcon` is used on the left and on the right and make sure the usage on the right is the same as on the left

[2022-04-05 12:25] vinaychandrasekhar commented on #119102
Hi @emma-raffenne , I will look to @mgiota for the authoritative answer. My thoughts are that #127015 will answer the requirements in this ticket partially. The other part will be to link the filtered views to the summary stats displayed in the Alerts view.

[2022-04-05 12:28] danielkhan opened #129455 "[Unified Observability] [Tracking] Unified Search with Observability"
# About

[Unified search ](https://github.com/elastic/kibana/issues/126095) is an initiative to unify the search experience across Elastic with a composable and extensible query bar.

This issue serves to track this effort within Observability and will be updated as soon as there is work to be picked up by the Unified Observability team.

[2022-04-05 12:28] elasticmachine commented on #129455
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-05 12:33] gmmorris opened #129458 "Type mismatch in alerting task runner"
The typing in alerting is wrong and a potential null pointer exception waiting to happen.

When we schedule the rule task the typing of the `spaceId` is `string | undefined`.

https://github.com/elastic/kibana/blob/1ee566603350ff4fb6fdc3978630a69b394c79f2/x-pack/plugins/alerting/server/rules_client/rules_client.ts#L2057

But when we read the `spaceId` in the task runner, it's `string`.

https://gi

[2022-04-05 12:33] elasticmachine commented on #129458
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-05 12:34] dgieselaar commented on #127294
A bug was created earlier: https://github.com/elastic/kibana/issues/128749, I've opened a PR w/ a fix here: https://github.com/elastic/kibana/pull/129457

[2022-04-05 12:34] dgieselaar commented on #126091
A bug was created earlier: https://github.com/elastic/kibana/issues/128749, I've opened a PR w/ a fix here: https://github.com/elastic/kibana/pull/129457

[2022-04-05 12:44] emma-raffenne commented on #128449
@katrin-freihofner
Those buttons have different behaviour. The smaller button allows to set an automatic refresh period (see screenshot below), while the bigger one at the top right is to force refresh.
Do you confirm that we still want to remove the smaller one for automatic refresh?

<img width="450" alt="rules-view-refresh-button1" src="https://user-images.githubusercontent.com/97166868/1617560

[2022-04-05 12:52] kertal commented on #129333
thx for investigating @stratoula , there's another way to solve it in Discover by using the `copyToClipboard` function of EUI https://eui.elastic.co/#/utilities/copy#copy-to-clipboard-function

[2022-04-05 12:53] elasticmachine commented on #129437
Pinging @elastic/kibana-core (Team:Core)

[2022-04-05 12:55] Bamieh commented on #129437
Hey @daixque thanks for opening this. I will pass this feedback on to the translators. Currently, we do not accept external contributions since we haven't fully standardized the process for that yet. I have a google sheet that I share with the translators and I've added your notes. Hopefully, we'll have them updated in the next release (8.3 or 8.2.1)

[2022-04-05 12:57] dokmic opened #129462 "[Expressions] Fix expressions loader to immediately emit a final value when partial results are throttled"
After bumping RxJS to 7.5.5 in #129087, the loader [emits](https://github.com/elastic/kibana/blob/3b2774bad9d1b22ce333c98eaab0762ad7e0ab9a/src/plugins/expressions/public/loader.test.ts#L162) values after timeout even though the outer observable is already completed.

That is a performance regression and may have a negative impact on UX.

[2022-04-05 12:57] elasticmachine commented on #129462
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-05 13:09] kibanamachine commented on #129337
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14443#a9b81806-47a1-4318-972f-99694b2ee2e9)

[2022-04-05 13:17] Bamieh commented on #127705
I will keep this issue open until 8.2 GA to allow more feedback until the next extraction in May. After this issue is closed I will create another issue for `8.x` to have a place for people to submit hardcoded strings for the teams to update.

[2022-04-05 13:33] dannycroft opened #129465 "[APM] Fix telemetry reporting datastreams"
Looking at our [telemetry usage trends](https://kibana.telemetry.elastic.co/s/observability-team/app/dashboards#/view/964d3e40-b199-11ec-bbc8-e12edaf0b6de?_g=(filters:!(),query:(language:kuery,query:''),refreshInterval:(pause:!t,value:0),time:(from:now-1y%2Fd,to:now))) we can see that our telemetry is missing some information. @Mpdreamz suggested that we don't include datastreams when determining

[2022-04-05 13:33] elasticmachine commented on #129465
Pinging @elastic/apm-ui (Team:apm)

[2022-04-05 13:34] boriskirov opened #129466 "(Accessibility)"
Items in the rows in the table of History in Uptime Monitoring are not accessible via keyboard.

**Steps to reproduce**

1. When you go the Observability > Uptime > Monitors
2. You have to pick Scheme > Browser from the top-level filtering
3. Click on any Monitors to go one step deeper
4. Scroll down and select a step from the history container
5. Once it loads you can see that Step duration and V

[2022-04-05 13:34] elasticmachine commented on #129466
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-05 13:34] elasticmachine commented on #129466
Pinging @elastic/uptime (Team:uptime)

[2022-04-05 13:36] #122098 closed

[2022-04-05 13:46] #114053 closed

[2022-04-05 13:49] #129437 closed

[2022-04-05 13:50] kibanamachine opened #129467 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/auto_fit_to_bounds·js - maps app auto fit map to bounds initial location should automatically fit to bounds on initial map load"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14449#a578e571-5127-4ff5-8981-12ce11bb710e)

[2022-04-05 13:51] elasticmachine commented on #129467
Pinging @elastic/kibana-gis (Team:Geo)

[2022-04-05 13:54] nchaulet commented on #129335
Good catch! I think we can disable the view agent dashboard if the agent policy do not have logs or metrics monitoring enabled. Going to work on a PR for that

[2022-04-05 13:54] jasonrhodes opened #129468 "[Unified Observability] Overview page: APM service map"
⚠️ This is currently blocked on the "sharing components" problem.

## Acceptance Criteria

* The new overview page in observability displays the APM service map

![Service Map](https://user-images.githubusercontent.com/159370/161768649-2610e03f-958b-405d-ae02-85e0c6d3b83c.png)

**Note:** While in general, we want to use "any means necessary" to get data onto this page, in this case we likely will

[2022-04-05 13:54] elasticmachine commented on #129468
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-05 13:59] jasonrhodes opened #129469 "[Unified Observability] Overview page: Log events"
## Acceptance Criteria

* The new overview page in observability displays the Log events visualization

![Log Events](https://user-images.githubusercontent.com/159370/161770263-7a913568-711a-4653-94b6-40ea96ff7839.png)

[2022-04-05 13:59] elasticmachine commented on #129469
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-05 14:00] bhavyarm opened #129470 "Event annotation auto-selecting Dec 31, 1969 @ 19:00:00.000 with global timepicker set to last 15 years."
**Kibana version:** 8.2.0 BC1

**Elasticsearch version:** 8.2.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** When user tries to add event annotation - it's preselecting Dec 31, 1969 @ 19:00:00.000 with the global timepicker se

[2022-04-05 14:00] jasonrhodes opened #129471 "[Unified Observability] Overview page: Uptime"
## Acceptance Criteria

* The new overview page in observability displays the Uptime visualization

![Uptime](https://user-images.githubusercontent.com/159370/161770999-4f0915fc-4d9f-4d63-8392-fa9c1ba369c4.png)

[2022-04-05 14:05] jasonrhodes opened #129472 "[Unified Observability] Overview page: Page load distribution"
## Acceptance Criteria

* The new overview page in observability displays the Page load distribution visualization by Top 5 applications (most views)
* Percentile markers are not shown because we're showing 5 separate applications.

![CleanShot 2022-04-27 at 10 48 32](https://user-images.githubusercontent.com/4104278/165479875-59e132b6-a898-4af2-9993-481c55ecffb7.png)

[2022-04-05 14:07] jasonrhodes opened #129473 "[Unified Observability] Overview page: Core web vitals"
## Proposed solution

* Display the top 5 applications by views and their metrics (such as page load duration + page views) for the selected time range.
* Display the core web vitals for each application.
* Direct links to view the applications in the UX app dashboard

## Acceptance Criteria

* The new overview page in observability displays the Core web vitals visualization

![CleanShot 2022-04-2

[2022-04-05 14:07] elasticmachine commented on #129473
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-05 14:14] andrewkroh commented on #129344
I think we need to go through the process to update the `package-spec` schema for fields.yml files. This way we have a clear definition of the expected behavior of the options. This will help both the developers of integrations and implementors of the specification in Fleet.

(I've started updating the specification to match what the code actually does in Fleet EPM today by looking at the typescri

[2022-04-05 14:16] ghudgins opened #129474 "[Lens] Default legend size to fixed"
**Describe the feature:**
Update the Lens/Agg-based visualizations to use a fixed legend by default

**Describe a specific use case for the feature:**
**When** I'm building a dashboard with multiple vertically arranged visualizations (common)
**I need** legend size to default to a fixed size instead of auto
**So I can** avoid having to set legend size on every visualization to get a consistent lay

[2022-04-05 14:16] elasticmachine commented on #129474
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-05 14:17] smith commented on #129279
+1 to that. I'm very skeptical that the Discover flyout could be used in another context, as it probably wasn't designed with that in mind.

[2022-04-05 14:19] ghudgins commented on #3189
we have added a legend resize option to Lens and aggregation-based visualizations in 8.2 🎉

<img width="404" alt="image" src="https://user-images.githubusercontent.com/5465514/161758648-d42eac44-62bb-4a54-a46a-e3930ede4dfb.png">

Also in discussion to make this the default so you don't have to change the settings on every panel on your dashboard https://github.com/elastic/kibana/issues/129474

[2022-04-05 14:19] #3189 closed

[2022-04-05 14:19] lukeelmers commented on #128061
We believe the root cause has been addressed in https://github.com/elastic/kibana/pull/128324, so we will go ahead and close this issue.

@EricDavisX Feel free to reopen or open a new issue if you find there is something we have missed!

[2022-04-05 14:22] marshallmain commented on #128451
**Scenario 1**
The ticket is specifically referring to the warning message `This rule may not have the required read privileges to the following indices/index patterns: ...`. The displayed warning message here is for the `.lists` and `.items` indices which don't have `@timestamp`, so a different warning message is being displayed (and is expected).

**Scenario 2**
The warning message we expect is

[2022-04-05 14:25] ppisljar opened #129478 "[expressions] new sql expression function"
in https://github.com/elastic/kibana/pull/127859 we added a search strategy that uses async sql api to query elasticsearch.

- [ ] essql expression function should be updated to consume async sql search strategy
  - [ ] move to data plugin
  - [ ] make it a `common` implementation available on server and client
  - [ ] update to receive `kibana_context` as input and convert it to es query DSL
  -

[2022-04-05 14:27] ppisljar opened #129479 "[data.query] implement PersistableStateInterface for QueryState"
QueryState should expose PersistableStateInterface as we plan on saving it in discover.

[2022-04-05 14:28] elasticmachine commented on #129479
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-05 14:30] ppisljar opened #129480 "[DataViews] implement PersistableStateInterface"
As data view configuration could be saved outside of Data Views saved object (ad-hoc dataviews) it should implement PersistableStateInterface. Same should be done for RuntimeField to allow ad-hoc (local) runtime fields.

- [ ] implement PersistableStateInterface for DataViews
- [ ] implement PersistableStateInterface for RuntimeField

[2022-04-05 14:30] elasticmachine commented on #129480
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-05 14:32] banderror opened #129482 "[Security Solution] Wrong line breaks in Investigation Guides"
**Kibana version**: 8.0.1
**Location**: Security Solution / Rule Details page / About / Investigation guide

## Summary

Investigation Guides are now breaking lines with a single `\n`, instead of `\n\n`. 7.17.2 is fine, but 8.X+ is presenting this behavior.

<table>
  <tr>
    <td><img src="https://user-images.githubusercontent.com/7359339/161775994-09f5be04-b2be-4720-ad4c-16624effb97b.png"></td>

[2022-04-05 14:32] elasticmachine commented on #129482
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-05 14:35] weltenwort commented on #127219
Looking back at several weeks of SDH reports the following common themes can be observed. They made up about half of the cases with the other half being assorted bugs and misconfigurations.

## Incorrect monitoring index templates

### Initial symptoms

- no new monitoring data shown (often after upgrade from 7.x to 8.x)

### Observed variations

- indexing metrics fails because production cluster

[2022-04-05 14:39] ppisljar opened #129483 "[data] provide toExpressionAst function on SearchSource"
SearchSource should have an `toExpressionAst` function to allow easy transition from SearchSource to expression.
Currently this logic is implemented in two places (and done in two separate ways), visualize editor and lens.

Function should produce a expression of the following shape `kibana_context filter=... query=... timeRange=... | esdsl index=... dsl=...`

possibly blocked on https://github.co

[2022-04-05 14:40] elasticmachine commented on #129483
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-05 14:40] xcrzx opened #129484 "[Security Solution] Add telemetry to gather usage statistics of Security API routes"
## Summary

We started [deprecating some of our API endpoints](https://github.com/elastic/kibana/issues/127756), and to be fully confident that it is safe to delete those APIs in future releases, we need to gather usage statistics.

Ideally, we want to collect usage of all Security Solution APIs with the ability to differentiate whether a request was sent from Kibana or not.

There's also a discus

[2022-04-05 14:41] elasticmachine commented on #129484
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-05 14:41] elasticmachine commented on #129484
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-05 14:42] ppisljar opened #129486 "[data] queryStateToExpressionAst"
data plugin should expose an utility function that will given a QueryState produce an expression of form `kibana_context filter=... query=... timeRange=...`

This will allow easy conversion of the state provided from `data.query` to expression

[2022-04-05 14:42] elasticmachine commented on #129486
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-05 14:44] ppisljar opened #129487 "[data.query] expose API to retrieve whole QueryState"
Currently we require consumers to reach into three places to construct whole QueryState (filters, query, timeRange).
We should expose API that will allow for easy retrieval of the whole QueryState

[2022-04-05 14:49] weltenwort commented on #127219
@jasonrhodes let me know if you want me to add any additional information

[2022-04-05 15:04] kertal commented on #126687
I think this is a better way than using generated data

[2022-04-05 15:04] pburkholder commented on #101009
Hi @TinaHeiligers -- I hope you had a good month. I have federal compliance obligations to inquire on progress here. Meanwhile, here's a calming gif for your day:

![calming waves](https://media.giphy.com/media/xT0GqcCJJJH12hJvGM/giphy.gif)

[2022-04-05 15:06] MichaelMarcialis commented on #129474
Is the thinking here that we would do away with "Auto" as an option for visualization legend width in Lens (and instead apply one of the static options such as "Medium" as the default)? If so, that sounds good off the top of my head.

With the removal of "Auto," it would also allow us to add prepend and append buttons to allow users the ability quickly decrease/increase legend width on the width s

[2022-04-05 15:09] nastasha-solomon commented on #128823
@yctercero apologies for the late reply.

Looking over these scenarios again, I believe number 2 (`All` Security privs and `All` Saved Objects Management privs) is the only one that's not covered in the Security docs. Numbers 3 and 4 are described in the [Enable and access detections](https://www.elastic.co/guide/en/security/master/detections-permissions-section.html#enable-detections-ui) table in

[2022-04-05 15:13] janmonschke commented on #128960
@mitodrummer At which resolution did you take the screenshot?

In my local env I noticed that the width given to the alert flyout is really small when it's opened next to session view.

I reckon we could shrink the session view a little more, wdyt?

[2022-04-05 15:19] jughosta commented on #129333
@constancecchen `EuiCopy` has a nice feature: it shows "Copied" tooltip after it's pressed. Is there a way to trigger a similar tooltip if we don't wrap a menu item with `EuiCopy`?

[2022-04-05 15:28] stratoula commented on #129333
Yes in that case we have to also add the implementation for the tooltip, otherwise there is no indication that the text is copied. If you wrap the EuiContextMenu in a tooltip it won't work but I guess it could work if you wrap the FormattedMessage instead.

[2022-04-05 15:29] neptunian commented on #120384
@matschaffer @jasonrhodes Any objection to having it as a string with a maxLength?:

`monitoring.ui.ccs.remotePatterns: myremote-*, myremote2-*` instead of as an array suggested above.

Similar to how we had the metricbeat.index as just a string:
`monitoring.ui.metricbeat.index: my-custom-remote-pattern-*:.monitoring-*`

It would make replacing it in the code easier and would guarantee no path len

[2022-04-05 15:30] stratoula commented on #129333
@constancecchen hmmm I see but as soon as you can wrap an EucontextMenuItem into another component (for example a tooltip) this error shouldn't be triggered.

[2022-04-05 15:32] markov00 commented on #129474
I'm a big fan of a consistent and aligned design but, as commented in multiple places, I think we should consider this option at the dashboard level, not at a single chart level because:
- you will not get a "consistent layout" on your preexisting dashboard or not with any new dashboard that are using pre-existing visualizations. You have to manually change each legend configuration on every chart

[2022-04-05 15:37] jsoriano commented on #129344
Thanks @andrewkroh! Could you open a PR with this change so we can continue the discussion there?

In any case we need to support dynamic templates, and this brings the need of wildcards in names and supporting the `object_type` options.

[2022-04-05 15:47] #129267 closed

[2022-04-05 16:20] #128811 closed

[2022-04-05 16:21] vadimkibana commented on #88678
AppServices is the main user of `rison-node`.

[2022-04-05 16:22] kibanamachine commented on #129130
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14460#98fc738c-7d32-4a16-9dd2-323e5352e224)

[2022-04-05 17:01] chandlerprall commented on #128098
Tested the EUI custom drop handler in the same responsive setup as above, with no issues. May still be something around the vis/agg implementation of the custom handler, tho.

[2022-04-05 17:11] michaelolo24 commented on #125948
This was completed here: https://github.com/elastic/kibana/pull/127520

[2022-04-05 17:14] michaelolo24 commented on #127466
completed here: https://github.com/elastic/kibana/pull/127520

[2022-04-05 17:14] #127466 closed

[2022-04-05 17:37] #128961 closed

[2022-04-05 17:42] sophiec20 opened #129514 "Security App fails when trying to create an ML job which exists in another Space"
**Kibana version:**
8.2.0-SNAPSHOT

**Describe the bug:**
A failure occurs if the Security App tries to create an ML job which already exists in another Space. The error is not descriptive and the page requires a hard refresh before the Security App can be used again.

**Steps to reproduce:**
1. Setup Kibana to have 2 spaces, A and B
2. In Space A, enable Security job `auth_high_count_logon_events

[2022-04-05 17:45] opauloh opened #129515 "[Session View][Hosts Page] Sessions tab: Duplicated Events - it needs to be grouped by process.entity_id"
**Kibana version:**
8.2

**Describe the bug:**
Currently, on the Sessions Table, it's showing multiples entries for the same `process.entity_id` according to how many events it has, it should be grouped by `process.entity_id`. Also, when grouping, one must take into consideration that `process.end` needs to be changed to infer its value from the `@timestamp` of the event where event.action == 'end

[2022-04-05 18:18] ThomThomson commented on #95135
Closing this again as the fix is now [backported to 7.17](https://github.com/elastic/kibana/pull/129411)

[2022-04-05 18:18] #95135 closed

[2022-04-05 18:33] kibanamachine commented on #122050
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14472#6ca2be61-8073-4355-a8ce-500546681520)

[2022-04-05 18:34] mitodrummer commented on #128960
I have a 34" monitor, so 3440x1440.

Should it not be dynamic? as you increase width of alert flyout should the session view shrink to make room?

[2022-04-05 18:36] mitodrummer commented on #128960
Ideally the alert flyout would appear like it does in other pages, where it covers the session view. I'm unsure why the UX is different on this page.

[2022-04-05 18:38] kibanamachine commented on #129337
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14475#948e77b0-f68b-416d-905a-6af1dd56894d)

[2022-04-05 18:40] constancecchen commented on #129333
I'm looking into this now, as honestly we (EUI) probably do want to support all nested interactive elements within the `items` array, but it's worth noting that tooltips within EuiContextMenu have a specific `tooltipTitle`/`tooltipContent` property it looks like:

<img width="859" alt="" src="https://user-images.githubusercontent.com/549407/161826324-b832d6c5-67f4-44cf-9d95-3a1cefb3d07d.png">

See

[2022-04-05 18:41] mitodrummer commented on #128960
Another funny issue:
- load session view from timeline event
- open an alert flyout via session view
- close session view
- open analyzer for the same event

Alert fly out is still open and covers most of the screen:
![image](https://user-images.githubusercontent.com/16198204/161826952-137905f1-79b9-417e-9640-1b32c9bc1207.png)

[2022-04-05 18:49] kuisathaverat commented on #127915
yes, creating something that does not honor the configuration you set is confused

[2022-04-05 18:49] kibanamachine commented on #126394
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14480#cffb14c2-1f98-4a0b-8391-6d3221ced264)

[2022-04-05 19:11] sophiec20 opened #129521 "Security App does not load if space name is very long"
**Kibana version:**
8.2.0-SNAPSHOT

**Describe the bug:**
Cannot use Security App with very long space names
or ..
Space names can be unusably long

**Steps to reproduce:**
1. Create a Space with a long name
2. Go to this Space
3. Open the Security app

**Expected behavior:**

I do not actually think we should support very long Space names, because I suspect other things break, but there is a mism

[2022-04-05 19:26] jughosta commented on #129333
@constancecchen Thanks for considering extending `EuiContextMenuItem` properties! This would definitely help us to have both: visible focus and "Copied" tooltip.

Would it possible to find a solution which could also work for `additional` actions in `EuiDataGridColumnActions` (`EuiListGroupItemProps` type)? We are adding ["Copy" actions](https://github.com/elastic/kibana/issues/127884) to the grid

[2022-04-05 19:29] llermaly opened #129524 "[Reporting/CSV Export] issues with high search latency in ES"
**Kibana version:**

8.1.2

**Elasticsearch version:**

8.1.2

**Server OS version:**

Elastic Cloud

**Browser version:**
Latest Chrome

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

Cloud

**Describe the bug:**

Exporting large saved searches will show a toast saying your download will be ready shortly. And never finishes, no way to see the e

[2022-04-05 20:13] qcorporation opened #129528 "[Security Solution][Session View] Some user entered commands are hidden when verbose mode is OFF"
**Kibana version:**
8.2 Snapshot BC1

**Describe the bug:**
Some user commands such as `ls`, as seen on the screenshot, get filtered out when Verbose Mode is == OFF

**Expected behaviour:**
Any user type commands should be shown

**Screenshots (if relevant):**
![Screen Shot 2022-04-05 at 4 11 08 PM](https://user-images.githubusercontent.com/1783202/161840961-7ef6332a-84be-4b44-b942-d29ff6e2f5ee.pn

[2022-04-05 20:14] ghudgins commented on #129474
agree - only solves for new dashboards. but it does help with alignment by default without the larger overarching feature?

it's a good point. I am not sure if it would be weird to start introducing some visual options in one place and not the other. will be a good one to think through.

[2022-04-05 20:17] qcorporation opened #129529 "[Security Solution][Session View] '0' after the exit code when there is a user change"
**Kibana version:**
8.2 - SNAPSHOT BC1

**Describe the bug:**
As seen within the screenshot, there is a `0` after the exit code, looks out of place

**Screenshots (if relevant):**
![Screen Shot 2022-04-05 at 4 16 57 PM](https://user-images.githubusercontent.com/1783202/161841715-dd37edcf-81e4-4733-9524-5912df17698a.png)

[2022-04-05 20:32] TinaHeiligers commented on #129016
Do we want to build on what we already have for the [actions/es_errors](https://github.com/elastic/kibana/blob/main/src/core/server/saved_objects/migrations/actions/es_errors.ts) or implement something entirely new?
For example, we have a rather nicely-readable error format for the [saved objects service](https://github.com/elastic/kibana/blob/main/src/core/server/saved_objects/service/lib/errors.

[2022-04-05 20:34] qcorporation opened #129531 "[Session View] Full-Screen mode does not work from Host / Session leads page"
**Kibana version:**
8.2 - SNAPSHOT BC1

**Describe the bug:**
Clicking full screen on session view when coming from Hosts / Sessions leads to the session view only taking up half of the page

**Screenshots (if relevant):**
![full-screen-not-working](https://user-images.githubusercontent.com/1783202/161844338-be98b9a3-7a51-452a-89e7-4df08549ccd1.gif)

[2022-04-05 20:38] qcorporation opened #129532 "[Session View] Full-Screen mode content larger than 100vh does not scroll"
**Kibana version:**
8.2 SNAPSHOT - BC1

**Describe the bug:**
Scrolling within full-screen mode, session view content is not working when content is larger than 100vh

**Screenshots (if relevant):**
https://user-images.githubusercontent.com/1783202/161844983-fc6e2474-0345-4d02-8a52-c77699c5662b.mp4

[2022-04-05 20:43] TinaHeiligers commented on #128585
I commented in #129016 but mentioned it here again: We need a strategy for assigning error codes, does this already exist somewhere?

Also, linking to the online documentation should be easier once we've handled https://github.com/elastic/kibana/issues/126864. For now, the best we can start with is link to the docs we already have or, if they're yet to be written, link to the ES docs and come back

[2022-04-05 20:45] qcorporation opened #129534 "[Session View] Mouse over highlighting has a gap against the border"
**Kibana version:**
8.2 SNAPSHOT - BC

**Describe the bug:**
- Navigate to host page and sessions tab
- Open session view of one of the sessions
- Hover onto a process in the session viewer
- Make sure the few pixel gap for the mouse hover highlighting shown in the screenshot is fixed

**Screenshots (if relevant):**
![Screen Shot 2022-04-05 at 4 44 45 PM](https://user-images.githubusercontent.com/

[2022-04-05 20:48] qcorporation opened #129535 "[Session View] Matching search entries within verbose mode are found"
**Kibana version:**
8.2 - SNAPSHOT - BC1

**Describe the bug:**
In session search when verbose mode is off >> matching commands from verbose mode are shown.
It is unexpected behaviour and can be confusing especially when a lot of addition commands are suddenly shown.
If users want to search in verbose events, they can just enable it.

**Screenshots (if relevant):**
![Screen Shot 2022-04-05 at 4 47

[2022-04-05 20:48] markov00 commented on #129474
new dashboards and new visualizations

IMHO not as much as the dashboard level manual configuration or an automatic one that automatically aligns all legends to a nice size for all.

[2022-04-05 20:52] qcorporation opened #129536 "[Session View] Clearing of search hides commands"
**Kibana version:**
8.2 SNAPSHOT - bc1

**Describe the bug:**
When the user clears the search box, all auto-expanded commands are hidden.
The behaviour is unexpected as we do not want to collapse trees due to search text being cleared
We see within the screen shots that the text was cleared and the child process tree was collapsed

**Screenshots (if relevant):**
![Screen Shot 2022-04-05 at 4 51 40

[2022-04-05 20:56] qcorporation opened #129537 "[Session View] Inconsistency with Info icon between Timestamp and Verbose mode selection"
**Kibana version:**
8.2 SNAPSHOT-bc1

**Describe the bug:**
view icon is behaving insistently. When time selected, icon doesn’t change. When verbose mode selected icon change. Must be consistent per design

**Screenshots (if relevant):**
![Screen Shot 2022-04-05 at 4 55 44 PM](https://user-images.githubusercontent.com/1783202/161847575-fa21117e-dcdc-42ec-9059-7b048ed56896.png)

[2022-04-05 21:04] qcorporation opened #129539 "[Session View] z-index problems on closing of Timeline"
**Kibana version:**
8.2 SNAPSHOT - BC 1

**Describe the bug:**
It is possible to get the details pane stuck in the z-index when closing the timeline.

**Screenshots (if relevant):**
https://user-images.githubusercontent.com/1783202/161848748-9df07656-822a-4c19-8a4a-852f0607769f.mp4

[2022-04-05 21:20] andrewctate commented on #128080
Hmmm... I'm having trouble reproducing this as well. @stiltz you don't have any browser extensions or user scripts that could be leaking some styling, right?

It might help if you could send the styling information you see on your end for one of the spans that contain those buttons. They have the class `kbnDocTableCell__filter`. Here are the styles I see
<img width="329" alt="Screen Shot 2022-04-0

[2022-04-05 21:25] mitodrummer commented on #129528
not a session viewer bug.

https://github.com/elastic/security-team/issues/3438

[2022-04-05 21:29] mitodrummer commented on #129535
This is where requirements would be great. In all honesty I think not surfacing stuff when verbose mode is off could be a blind spot. But I guess that is just one person's opinion.

[2022-04-05 21:30] thateriksson commented on #123912
Not sure if related seems to happen on alerts page as well found this case while searching out an issue from my client as well.  Added a field and sorted and it removes results.

[elastic_sort_problem.zip](https://github.com/elastic/kibana/files/8421975/elastic_sort_problem.zip)

[2022-04-05 21:31] spong commented on #129332
https://github.com/elastic/kibana/pull/129003 is merged, so this'll now be fixed for the Rule Execution Log SuperDatePicker in 8.2-BC2. Note, there's not much control on our end for specifying the units within the SuperDatePicker's refresh options (will need to open an EUI issue or check with them), so I just forced any value under 60000ms to be 60000ms, which is what we wanted the minimum refresh

[2022-04-05 21:31] mitodrummer commented on #129535
cc @dimadavid I can fix this, just want to make sure this is considered. Especially if one forgets verbose mode is OFF..

[2022-04-05 21:35] stiltz commented on #128080
I have no extensions/plugins in Firefox which has the same issue as in Chrome (now version `100.0.4896.60 (Official Build) (x86_64)`) and none of the plugins I have in Chrome should be doing anything to change the style.

This is what I see for `kbnDocTableCell__filter`

<img width="662" alt="image" src="https://user-images.githubusercontent.com/16760856/161853403-2831eee6-3531-4b2a-baa1-0c999aac7

[2022-04-05 21:39] andrewctate commented on #124017
@mbondyra are you thinking of taking this one?

[2022-04-05 21:41] spong opened #129542 "Surface `Recently used searches` UI for showing the last few search queries/filters/dateranges that the user has performed"
**Describe the feature:**
Similar to the `SuperDatePicker` component's `Recently used date ranges` UI which will show the last ~10 dateranges that have been selected, a similar UI for the Unified Search Component would be extremely beneficial to users that may want to quickly revert to a combination of search string/filters/dateranges that they have recently used. This functionality would be separ

[2022-04-05 21:41] elasticmachine commented on #129542
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-05 21:46] andrewkroh commented on #129344
Here's that change as a PR to package-spec https://github.com/elastic/package-spec/pull/314. The goal there will be to sync up the spec to the current implementation. Then we can do a separate PR propose how dynamic mappings should work.

[2022-04-05 21:53] TinaHeiligers commented on #128585
I'm trying to figure out the best approach here to cover the most ground and thinking "aloud" about a potential implementation.

From how I'm seeing this, we already fail fast when there's an issue with cluster routing allocation, so we don't need to make any code changes to the `fetch_indices` calls.
This should be sufficient to cover the call to create the temporary index too, or do we need to a

[2022-04-05 22:21] #128951 closed

[2022-04-05 22:21] AndrewMcQuerry commented on #123071
Same issue observed on 7.16.3 and 8.1.0 as well.

All of the following special characters seem to trigger this uncaught exception.

[code]

[code]

[2022-04-05 22:28] tsullivan commented on #123058
@nreese Reporting controls are not adjusted to the user's permissions, unless the user manually disables legacy auth controls in Reporting with `xpack.reporting.roles.enabled: false`.

Can I confirm that you are testing with the default (deprecated) option? If you add `xpack.reporting.roles.enabled: false` to kibana.yml, I believe you will get the behavior you expect.

[2022-04-05 22:40] seanstory opened #129544 "Ingest Pipeline processor dropdown doesn't list plugin processors"
**Kibana version:**
8.1.2

**Elasticsearch version:**
8.1.2

**Server OS version:**
Mac OSX 12.3.1

**Browser version:**
Google Chrome 99.0.4844.84

**Browser OS version:**
Mac OSX 12.3.1

**Original install method (e.g. download page, yum, from source, etc.):**
tarball download

**Describe the bug:**
When creating an Ingest Pipeline via Kibana, the processors dropdown does not include the `attach

[2022-04-05 22:40] elasticmachine commented on #129544
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-05 22:41] seanstory commented on #129544
CC @serenachou @DianaJourdan . Talking with @cjcenizal , he offered that our team could work on fixing this, with guidance and review from his team if a quicker turnaround is necessary.

[2022-04-05 22:53] matschaffer opened #129546 "[Stack Monitoring] Missing remote_cluster_client role is reported as "access denied""
This was originally reported as https://github.com/elastic/kibana/issues/125756 to which https://github.com/elastic/kibana/issues/120384 will provide a workaround, but the error case is still quite confusing.

When attempting to load Stack Monitoring UI with `monitoring.ui.ccs.enabled: true` (the current default and proposed ongoing default in https://github.com/elastic/kibana/issues/120384) but m

[2022-04-05 22:53] elasticmachine commented on #129546
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-05 23:56] mitodrummer commented on #128962
same_as_process should now be available in the latest endpoint-dev code.

[2022-04-06 01:23] kibanamachine commented on #129337
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14495#c0df4cb6-976f-47f5-b899-59a8301fbc8e)

[2022-04-06 02:51] jamster10 opened #129553 "Implement alert severity by user query (alerts agg)"

[2022-04-06 02:51] jamster10 opened #129554 "Implement alert severity by host and user queries"
see: https://github.com/elastic/kibana/issues/127649

Describe the feature:

Implement the table sections for vulnerable hosts and vulnerable users:
![image](https://user-images.githubusercontent.com/28942857/162000856-c71713f1-2bbd-41af-a8ee-76d63df9fa37.png)

Both queries are quite similar:

User:
[code]

Host:
[code]

[2022-04-06 06:20] pgayvallet commented on #129016
I don't think we should be using the SO service errors for SO migrations. SO errors are errors that are meant to be surfaced to the client via http transport, and therefor are directly bound to a specific http error code and structure.

For SO migration failures, the only thing we need ihmo is a unique error identifier that will be surfaced in the logs and can be used to search the error in our do

[2022-04-06 06:30] pgayvallet commented on #128585
replied in https://github.com/elastic/kibana/issues/129016#issuecomment-1089865950

Ihmo that's sufficient. The only thing is, I think we need a mechanism to make sure that if a problem is detected, either proactively in our 'fail fast' logic OR later during the actual migration steps, we will always be able to identify the error.

E.g for cluster allocation, we ideally want to be sure that the er

[2022-04-06 06:36] stratoula commented on #92641
I am closing this as I cant reproduce it in main. It might have been fixed with all the changes we did on the tables (maybe de-angularization (?))

[2022-04-06 06:36] #92641 closed

[2022-04-06 07:25] TBragi commented on #129148
Could this be linked to the switch from Centos to Ubuntu as base image? We ran into some issues with entrypoint/commands when Logstash switched from Centos bash to Ubuntu dash.

[2022-04-06 07:39] #129407 closed

[2022-04-06 07:51] karanbirsingh-qasource commented on #125647
yes @janmonschke the agent version is 7.17.0 which we used after upgrade to 8.1.0 to generate new alerts.

![image](https://user-images.githubusercontent.com/59917825/161906549-fde901fc-6b8e-477f-b6c2-4c2a1a4609d6.png)

Also we today retested the issue on upgrade path **7.17.0** to **8.2.0** and observed that on 7.17.0 also now `process.executable.text` and `file.text` both field dont show data in

[2022-04-06 07:54] stratoula commented on #128410
This was indeed a bug in 8.1 but I cant introduce it in 8.2. I am closing this!

[2022-04-06 07:54] #128410 closed

[2022-04-06 07:57] stratoula commented on #80765
I can't reproduce it in main with the steps described above.

![discover](https://user-images.githubusercontent.com/17003240/161924688-6b510e64-4dd5-49a1-ac67-20ec6c7337d1.gif)

I also see that the EUI bug has been closed and merged in kibana. I am closing this!

[2022-04-06 07:57] #80765 closed

[2022-04-06 08:12] stratoula commented on #127243
The plugin was created here https://github.com/elastic/kibana/pull/127651. I am closing this as this was the goal of this issue.
Every addition/improvement we want to make for the new plugin, should be a new issue.

[2022-04-06 08:12] #127243 closed

[2022-04-06 08:16] dgieselaar opened #129559 "[APM] Inventory displays "no services' right before data is loaded"
When there is no health data available, and optimized sorting is *disabled*, the service inventory will briefly display "no services" right before services show up. It's a little hard to see but you can see the screen jump:

https://user-images.githubusercontent.com/352732/161928619-f806bd8c-6dd6-4bef-b9e4-c5d3a9844161.mp4

[2022-04-06 08:16] elasticmachine commented on #129559
Pinging @elastic/apm-ui (Team:apm)

[2022-04-06 08:20] formgeist commented on #129559
I was about to report this as well - I think on a slower environment it might be hanging for much longer which is not good. Would like to see if we can fix this somehow for the current release.

[2022-04-06 08:34] jughosta commented on #94898
If `Context size step` is 0, then `successorCount` or `predecessorCount` does not change. A data fetch is not performed [by code logic](https://github.com/elastic/kibana/blob/c36b0b579e7e7ff3362b0f2886623e8ad23d64d1/src/plugins/discover/public/application/context/context_app.tsx#L83-L86) and it seems to be reasonable.

Maybe we should disable "Load" button when "step" is 0 and enable it only if va

[2022-04-06 08:45] teresaalvarezsoler commented on #129474
Having level-dashboard settings to build consistent visualizations makes sense to me. However, when a legend is set as default, it has always the same size for all the charts created, doesn't it? I can't reproduce the issue here, do you have a screenshot?

Some other questions @ghudgins :
- What is the context of this request (customer/s asked for it -how often?-, something you observed...)?
- How

[2022-04-06 08:55] kibanamachine commented on #129380
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14500#f1e68c14-a654-4af5-a414-4debeed7eed1)

[2022-04-06 08:59] al-ah commented on #128161
I also installed 18 and 20 on Ubuntu and there is still a problem. What could be the reason? What does that status code 1 mean?

[2022-04-06 09:00] stratoula commented on #85512
The double click bug is not reproducible any more. I checked on an 8.2 instance. The bug also mentions that when you are refreshing the context page and go back to Discover the time filter has the default value (15 mins)

But I think that this makes sense. When I am clicking on the surrounding documents, the time is irrelevant.
Am I right @kertal ?

[2022-04-06 09:05] pgayvallet commented on #101009
@pburkholder thanks for the gif, it totally did inspire me!

Proof being, I'm glad to announce that I just opened a PR to address this issue: https://github.com/elastic/kibana/pull/129564

This should be fixed shortly, and will be available on `8.2.0+`, and backported to `7.17.3`

[2022-04-06 09:11] kertal commented on #85512
Yes, I think we can close this, thank you!

[2022-04-06 09:16] #85512 closed

[2022-04-06 09:24] kertal commented on #85512
@stratoula thx for opening this in 2020  ... and closing it in 2022 🙈
It reeky helps cleaning up old stuff

[2022-04-06 09:33] kertal commented on #94898
sounds good 👍

[2022-04-06 09:34] kertal commented on #128410
we back ported it, but maybe it was not part of 8.1.2 ...

[2022-04-06 09:38] mbondyra commented on #124017
@andrewctate you can take it, I am still working on something else 👌🏼

[2022-04-06 09:38] estermv commented on #127444
I think that before taking a decision we have to answer some questions, for example:
* Why apps can be disabled and why this was done?
* How many spaces have an app disabled?

For us, it's probably easier to manage observability as a whole, but taking a decision like this can potentially affect users so we have to think about what will happen to users that already have some apps disabled.

[2022-04-06 09:40] kertal commented on #128410
Sorry folks turned out, we missed the 8.1.2 with this fix, it was back ported to the 8.1 branch.  labeled it 8.1.3 now, anyway, fixed in 8.2.0

[2022-04-06 09:41] kertal commented on #128410
It works when using the new Document Explorer which will be the default document table in 8.2 btw

[2022-04-06 09:44] kertal commented on #124017
@elastic/kibana-data-discovery 🍰 for you both, no matter who takes care of it

[2022-04-06 09:51] tarek-vader commented on #128589
i found the error, it was the mapping format in elastic search , it was MM-DD but it should be MM-dd
but in kibana settings its correct MM-DD

[2022-04-06 09:51] #128589 closed

[2022-04-06 09:55] #129028 closed

[2022-04-06 10:01] amolnater-qasource opened #129568 "[Self-Managed]: Security is not enabled by default on setting up self-managed 8.2 Snapshot."
**Kibana version:**  8.2 Snapshot Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 kibana self-managed environment should be available.

**Steps to reproduce:**
1. Run elasticsearch.bat.
2. Copy the self-generated configuration from command prompt.
3. Run kibana.bat and setup kibana using kibana enrollment token.
4

[2022-04-06 10:03] amolnater-qasource commented on #129568
@manishgupta-qasource Please review.

[2022-04-06 10:11] criamico commented on #125920
I added the buttons when the APM and other integrations are added, but I didn't add any button when installing in Fleet, since it would be a duplicate of the button in the step above linking to the agents.

[2022-04-06 10:14] fkanout commented on #119090
@vinaychandrasekhar, all the tech issues are done. Do you like to close this one, or wait to finish the Doc part?

[2022-04-06 10:25] manishgupta-qasource commented on #129568
Reviewed & assigned to @jkakavas

[2022-04-06 10:27] flash1293 opened #129569 "[Table] Table crashes when hovering over empty table cell of range agg column"
**Kibana version:** 7.17

**Describe the bug:** When a cell in a range agg column is empty, hovering over the cell crashes the visualization

**Steps to reproduce:**
1. Go to agg based table vis with sample logs data
2. Set time range to a really small value without any data
3. Configure a table like this:
<img width="748" alt="Screenshot 2022-04-06 at 12 19 35" src="https://user-images.githubuser

[2022-04-06 10:27] elasticmachine commented on #129569
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-06 10:27] elasticmachine commented on #129569
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-06 10:44] arvindersingh-qasource opened #129571 "[Security Solution] "Error fetching data" is shown for adding Alert to new Case."
**Describe the bug**
"Error fetching data" is shown for adding Alert to new Case.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana must be available.
2. Few Alerts must be present.
3. User with the below privilege must be present.
![1](https://user-images.githubusercontent.com/78947943/161953778-1d9ba884-90e4-4af6-bd69-b7823d05cc1

[2022-04-06 10:44] elasticmachine commented on #129571
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-06 10:46] arvindersingh-qasource commented on #129571
@karanbirsingh-qasource Please review this bug.

Thanks.

[2022-04-06 10:46] #128695 closed

[2022-04-06 10:52] kibanamachine commented on #129337
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14502#f472039c-b75a-4505-b5b4-f2c79a059ca7)

[2022-04-06 10:57] Dmitriynj opened #129575 "[Discover] Field present filter does not work correctly in expand view of Document Explorer"
**Kibana version:**

8.2 (main branch)

**Steps to reproduce:**
1. Open Discover with Document Explorer
2. Expand the document
3. Apply filter of field present

**Actual behavior:**
Filter out value applied

**Expected behavior:**
Filter of field present should be applied

https://user-images.githubusercontent.com/39378793/161959730-69a59637-f87b-4236-83ba-9debdecc1056.mp4

[2022-04-06 10:59] elasticmachine commented on #129575
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-06 11:00] glucaci commented on #124204
There is any update on this?
I think showing the unparsed stack trace it will be very useful until it's implemented for each framework.

Thanks!

[2022-04-06 11:00] formgeist commented on #127444
@estermv I agree there's more at play here than just the technical aspect of enabling/disabling apps in Kibana. I propose that we discuss this in our weekly sync later and come to an agreed path forward before merging @afgomez's [PR](https://github.com/elastic/kibana/pull/129513)

[2022-04-06 11:03] mbondyra opened #129576 "[Maps][Lens] Region map visualization throws a silent error"
**Kibana version:**
master

1. Create a lens visualization as on the screenshot:
<img width="770" alt="Screenshot 2022-04-06 at 12 59 32" src="https://user-images.githubusercontent.com/4283304/161960681-87f739bd-d4ff-46d7-923f-61a02ce81fc5.png">

2. Open dev tools and switch to the region map using a chart switcher or suggestions.
3. Quickly switch back to the xy chart
4. The error is thrown - pro

[2022-04-06 11:03] elasticmachine commented on #129576
Pinging @elastic/kibana-gis (Team:Geo)

[2022-04-06 11:13] rudolf commented on #128585
I'm not sure if adding an error code has much value. Error codes are usually used as a way to lookup more information about an error, but if we include a doc link that should fix that problem. I believe there was an internal Elasticsearch discussion around introducing error codes and they decided against it.

Understanding _why_ a shard is unassigned (index doesn't become yellow) is actually very

[2022-04-06 11:16] rudolf commented on #118934
Because the output of this API isn't easy to understand and act on, and because the JSON output would be even harder to read when it's not pretty printed as part of a server log line, I don't think this would really help users.

Instead, linking to documentation that asks users to call the cluster allocation explain API for themselves could be more helpful since they'll see the pretty printed outp

[2022-04-06 11:23] joshdover commented on #129568
Let's investigate this from the Fleet side first and see if there's an issue with our security check screen.

[2022-04-06 11:28] vinaychandrasekhar commented on #119090
@fkanout I think we can close this, since doc is tracked in a separate ticket.

cc @emma-raffenne

[2022-04-06 11:31] #129211 closed

[2022-04-06 11:49] kertal commented on #127884
3 more good question, as discussed offline:
- Format of exported data: text-based or raw?
- Format of separators: new line? or as a JSON array with raw items?
- Do we allow to copy data in some other places on Discover page? Seems like it’s more common to offer JSON copy.

[2022-04-06 11:56] juliaElastic commented on #129568
@amolnater-qasource is this happening in only Windows or other platforms too like Mac?

This is an existing testcase that was working on earlier versions, right?

[2022-04-06 11:56] formgeist opened #129583 "[Infrastructure Monitoring] Logs app: Anomaly detection features are showing error message but I have no ML jobs created nor can I create them"
**Kibana version**:

8.3.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:

As I'm navigating to the Anomalies and Categories sections in the Logs app, I get an error message on the screen. I don't have any ML jobs configured yet, but the app isn't showing me any option to create jobs either.

![localhost_5601_cuk_app_logs_anomalies](https://user-images.githubus

[2022-04-06 11:57] elasticmachine commented on #129583
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-06 11:58] formgeist commented on #129583
This may be resolved by https://github.com/elastic/kibana/pull/129570 cc @weltenwort ?

[2022-04-06 11:58] lizozom opened #129584 "[Bug] Metrics service limits server capacity"
While [benchmarking](https://github.com/elastic/kibana-capacity-test) our server capacity and running a node profiler, we saw that our `ServerMetricsCollector` registers two listeners to track requests and responses.

Disabling the collector increases our server's capacity (how many concurrent requests can we handle) about x3.

Side note, seems like `telemetry.enabled: false` does not turn off the

[2022-04-06 11:58] elasticmachine commented on #129584
Pinging @elastic/kibana-core (Team:Core)

[2022-04-06 11:59] formgeist commented on #129583
Duplicate of https://github.com/elastic/kibana/issues/128092

[2022-04-06 11:59] #129583 closed

[2022-04-06 12:00] michaelolo24 commented on #129288
I agree that it is a genuine issue, but not sure what the potential fix is here. If the alert in the preview index has a different id, then it won't appear in the flyout no matter what we do unless there's a way to do a look up in the back end from the preview table and return the id of the matching alert from the alerts index. Alternative is to not show the cases section from the flyout, but we s

[2022-04-06 12:00] lizozom opened #129585 "Does APM contextPropagationOnly limit server capacity?"
While [benchmarking](https://github.com/elastic/kibana-capacity-test) our server capacity and running a node profiler, we saw that our server side apm node integration (defined in `src/cli/apm.js`, and toggled on by `src/cli/dist.js`) is active, even if no APM configs are provided (It is enabled with `contextPropagationOnly`).

This enabled integration reduces server capacity (how many concurrent

[2022-04-06 12:01] prachigupta-qasource commented on #128451
Thanks @marshallmain for your valuable inputs.

Can you please provide your valuable inputs to below query:

**Scenario: When the role doesn't have CCS index privileges**

**Steps to reproduce:**

1.  Navigate to Stack Management > Roles
2. Create a Role with below configuration

![image](https://user-images.githubusercontent.com/97870262/161962935-e9eb29b5-0011-4e04-9823-5f3fac6ab529.png)

3. Cre

[2022-04-06 12:03] kertal commented on #127884
Here are my 2 cents

I'd suggest to export displayed pages, also it makes sense to just export selected rows, if the user configured just to view those. Maybe we could show a message to the user how much records were copied to not lead to the impression, several millions, where copied

I'd suggest to export all data field types , if the column contains structured data like object, we should string

[2022-04-06 12:04] weltenwort commented on #129583
Oh, this mentions yet another state called `resetting` :thinking: my fix is for `reverting`, but I can fix this one as well once I know what `resetting` means. Thanks for pointing it out!

[2022-04-06 12:05] weltenwort commented on #129583
I guess `resetting` is for the `_reset` API while `reverting` is for the model `_revert` API.

[2022-04-06 12:10] jkakavas commented on #129568
The elasticsearch part of the configuration looks fine and this is further reinforced by the fact that kibana can enroll successfully.

@manishgupta-qasource for future reference, please tag @elastic/es-security instead of me in these kind of issues when input from Elasticsearch security is needed !

[2022-04-06 12:25] lizozom opened #129589 "[Meta] Enabling xpack plugins limits Kibana server capacity"
While benchmarking our server capacity and running a node profiler, we saw that disabling xpack plugins impacts server capacity.

Plainly disabling them increases our server's capacity (how many concurrent requests can we handle) about x2.
Disabling oss plugins does nothing to server capcacity.

I'm currently not sure which plugin is causing this, but it would be easier to troubleshoot if we have

[2022-04-06 12:25] dannycroft commented on #125394
Sorry for the delay here.

@afgomez I think it's more of a case that the service inventory is an big area of improvement for us thus likely to change to meet these improvements. Currently, we are the only ones using these APIs and can manage migrations fairly simply. With other people also using these APIs it will make migrations harder and riskier for all.

@jasonrhodes we don't have a lot of roo

[2022-04-06 12:37] michaelolo24 opened #129591 "[Security Solution][Investigations] - Add investigate in timeline functionality to alert prevalence"
### Background:

In 8.2 functionality was added to the `Highlighted fields` section of the alert details flyout to show prevalence of specific fields across all alerts within the given time range. Now, to help analysts in their investigative workflow, we would like to add functionality for users to be able to investigate the alerts listed by prevalence in timeline.

### Goal

We will add the inves

[2022-04-06 12:50] elasticmachine commented on #74614
Pinging @elastic/fleet (Feature:EPM)

[2022-04-06 13:04] kibanamachine commented on #129467
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14510#ba1c4b9c-e392-4aa2-9296-b44b338c389c)

[2022-04-06 13:11] nchaulet commented on #129568
Looks like we introduced a regression when merging #129131 we show the requirement page if no encryption key is set.
This should be fixed by https://github.com/elastic/kibana/pull/129593

In the mean time testing can be unlocked by setting `xpack.encryptedSavedObjects.encryptionKey` in kibana config file

[2022-04-06 13:19] banderror commented on #129484
@yctercero ping 👋

[2022-04-06 13:21] criamico commented on #125920
Implemented in https://github.com/elastic/kibana/pull/128381/files - this ticket can be closed once it's merged.

[2022-04-06 13:25] juliaElastic commented on #129568
This error message was misleading because it was caused by a completely different "missing requirement" than ES security.
We could improve the logic to only show the ES security callout if "security_required" or "api_keys" requirement is missing.
Related code: https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.tsx#L76

Alternatively the

[2022-04-06 13:32] criamico opened #129595 "[Fleet] Do not show select API key step when only one token is available"
Part of https://github.com/elastic/kibana/issues/80841

In the redesigned agent flyout, when only one enrollment token is available, the whole step should be hidden.

![Screenshot 2022-04-06 at 15 28 29](https://user-images.githubusercontent.com/16084106/161985914-f52001ce-0db5-4dec-b1ba-a7e82bc29f06.png)

[2022-04-06 13:32] elasticmachine commented on #129595
Pinging @elastic/fleet (Team:Fleet)

[2022-04-06 13:32] andystroz opened #129596 "Index Threshold Alert Filter"
**Describe the feature:**

The alert rule 'Index Threshold' should have a box like the 'Elastic Search Query' that lets you specify a query that scopes the aggregation being done.

**Describe a specific use case for the feature:**

I have an index with logs from multiple deployments being dumped in it that all have the field "deployment". I would like to specify different rules for certain deploym

[2022-04-06 13:34] MadameSheema commented on #129332
@karanbirsingh-qasource can you please follow @spong instructions and open a separate ticket?? Thanks!! ^^

[2022-04-06 13:37] jughosta commented on #129333
We could also make it even more generic by using the existing `tooltipTitle` prop together with a new prop something like `tooltipTrigger` with possible values: `focused` or `clicked` for our case.

[2022-04-06 13:43] #129335 closed

[2022-04-06 13:45] elasticmachine commented on #129571
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-06 13:45] elasticmachine commented on #129057
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-06 13:47] MadameSheema commented on #129295
Closing since the functionality is not ready to be tested.

[2022-04-06 13:47] #129295 closed

[2022-04-06 13:47] MadameSheema commented on #129294
Closing since the functionality is not ready to be tested.

[2022-04-06 13:48] emma-raffenne commented on #128750
@katrin-freihofner and @vinaychandrasekhar
The `Reason` column is displayed as a link but that column could also be removed by the user (it would be an unusual configuration of columns but it is not impossible). In this case, there wouldn't be any way left for the user to access the detail of the alert. Should we still remove it? What do you think?

[2022-04-06 13:55] ghudgins commented on #129474
A few users on discuss and one user on the community slack were upset when we changed from vislib (old datavis library) to elastic-charts for the pie chart because the new one had an "Auto" legend and was causing alignment issues.

I don't have a percentage but venturing a guess that stacking similar visualizations vertically is fairly common - would guess @ 50% but it's not very scientific at all

[2022-04-06 14:00] kibanamachine commented on #129219
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14515#0be4fd89-7358-43b1-9929-268442238ebe)

[2022-04-06 14:15] michaelolo24 commented on #129288
Also @marshallmain wanted to link this issue with: https://github.com/elastic/kibana/issues/129286 as a general question of How should the preview table behave relative to the full fledged alert table?

[2022-04-06 14:18] #128494 closed

[2022-04-06 14:35] ghudgins commented on #127308
@teresaalvarezsoler - we could be more explicit about this intent if we made an issue to prevent editing of dashboards that are embedded via iframe. something to 🤔...we discussed in talking about this issue during planning

[2022-04-06 14:38] #129553 closed

[2022-04-06 14:41] kevinlog commented on #126661
We may be able to fix this now that this PR is in: https://github.com/elastic/kibana/pull/129408

[2022-04-06 14:43] #126508 closed

[2022-04-06 14:43] elasticmachine commented on #129286
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-06 14:45] elasticmachine commented on #129288
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-06 14:58] dainperkins opened #129603 "[Security Solution] Timeline fails to show hits for docs missing chosen sort by fields"
ESS - 8.1.0, Chrome V100, FF 98.0.2

**Describe the bug:**
Timeline fails to show docs when those docs are missing selected sorting fields

**Steps to reproduce:**
1. Create Timeline
2. add search to populate timeline with docs missing e.g. event.action  (apm data works well)
3. Sort on event.action

**Expected behavior:**
show docs even if missing sort field

**Screenshots (if relevant):**
<img w

[2022-04-06 15:04] fkanout opened #129605 "Add functional tests for new o11y Rule page"
# Summry
Related to https://github.com/elastic/kibana/issues/119100.
Add function test for the new o11y Rules page.

[2022-04-06 15:08] cyrille-leclerc opened #129607 "[APM Service Logs] Show `_id` field on log entry flyout"
**Describe the feature:**

Desire to see the log line details including the `_id` field being listed with other fields for consistency with the Kibana Discover flyout and to simplify copy-pasting  field values.

![image](https://user-images.githubusercontent.com/459691/162006326-ef9a8261-d3ca-4b6f-899a-311e6eb84d01.png)

Dependency on:
* https://github.com/elastic/kibana/issues/111325

**Describe

[2022-04-06 15:15] alexwizp commented on #128098
@chandlerprall I played around with this problem today and found that it was probably related to using `D&D` with the `EuiAccordion` component. At the moment, I can't tell where exactly this problem occurs, but if we don't render the body, everything works fine.

This PR just for testing, not sure that we can go with that solution #129606

even with a simple body like ⬇️  there is a problem
[code]

[2022-04-06 15:18] nreese commented on #129576
Thanks for opening this issue. I have submitted a fix https://github.com/elastic/kibana/pull/129608

[2022-04-06 15:19] cyrille-leclerc opened #129609 "[APM Service Logs] Show link to log line in context in log entry flyout"
**Describe the feature:**

Desire to see the log line details including an hyperlink to share the context with colleagues (e.g. Slack) or in a support ticket.

![image](https://user-images.githubusercontent.com/459691/162009115-186341f4-8cad-4a39-87f0-722b84b54884.png)

Dependency on:
* https://github.com/elastic/kibana/issues/111325

**Describe a specific use case for the feature:**

[2022-04-06 15:20] #125786 closed

[2022-04-06 15:21] elasticmachine commented on #129609
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-06 15:22] cyrille-leclerc opened #129610 "[APM Service Logs] Link to "open in Kibana" in log entry detail flyout"
**Describe the feature:**

Display log line details as a flyout including a link "open in Kibana" for consistency with APM traces flyouts who offer an "Open In Kibana" navigation.

![image](https://user-images.githubusercontent.com/459691/162010013-a7b28025-eb3b-4f5c-83c1-989977a9ea77.png)

Dependency on:
* https://github.com/elastic/kibana/issues/111325

**Describe a specific use case for the fea

[2022-04-06 15:26] Bamieh opened #129613 "[meta][i18n] French translations text assessment"
### Internal assessment of the quality of the French translations

Since we've just introduced French (beta) to Kibana `8.2`, we will be doing an internal round of quality assessment. This issue is to list any mistranslations that require retranslation. Provide the text in french, location in the UI (screenshots), and feedback on why you think the text needs a retranslation.

We are trying to keep

[2022-04-06 15:26] elasticmachine commented on #129613
Pinging @elastic/kibana-core (Team:Core)

[2022-04-06 15:28] cyrille-leclerc opened #129614 "[APM Service Logs] Display log line details as a flyout including fields as a table or as JSON"
**Describe the feature:**

Display log line details as a flyout including a switch "view as table | view as JSON" for
* easier copy paste in a support ticket...
* consistency with Kibana Discover

![apm-logs-flyout](https://user-images.githubusercontent.com/459691/162011297-82dc153c-af8b-41e3-bd70-c3e4d6ad0980.png)

Example of Kibana Discover Flyout with "View as JSON"

<img width="200px" alt="ima

[2022-04-06 15:29] elasticmachine commented on #129614
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-06 15:31] hop-dev commented on #104986
@dborodyansky I have just realised something missing from the output form design. We will need to instruct the user how to create the service token to paste in the box. There are 2 ways they will be able to do it which I've outlined below.

With the Logstash output we have inline instructions in the create output form, I guess we could do something similar here, but maybe using tabs for the 2 opti

[2022-04-06 15:33] cyrille-leclerc opened #129615 "[APM Service Logs] Allow navigation between log lines on log entry flyout"
**Describe the feature:**

Display log line details as a flyout including a navigation bar between log lines for better exploration.

![apm-logs-flyout](https://user-images.githubusercontent.com/459691/162012208-93160351-5e6c-4bd2-bb8c-f6dd91ce9ed8.png)

Dependency on:
* https://github.com/elastic/kibana/issues/111325

**Describe a specific use case for the feature:**

**Existing solution in Kiban

[2022-04-06 15:33] elasticmachine commented on #129615
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-06 15:36] katrin-freihofner commented on #128750
@emma-raffenne yes, I still think we should remove it.

[2022-04-06 15:42] #94898 closed

[2022-04-06 15:47] criamico opened #129616 "[Fleet] Aggregate two steps of standalone instruction flow in agent flyout"
Part of https://github.com/elastic/kibana/issues/80841

In the redesigned agent flyout, the standalone flow still has two separate steps for configuring the agent (`Configure agent step`) and installing the agent (`Install agent to your host`).

The two steps need to be consolidated to a single one, removing the `Configure agent` step and adding a new instruction instead to the other step:

![Scre

[2022-04-06 15:47] elasticmachine commented on #129616
Pinging @elastic/fleet (Team:Fleet)

[2022-04-06 15:49] elasticmachine commented on #129380
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-06 15:52] spalger commented on #129380
Looks like this test is new as of 5 days ago from https://github.com/elastic/kibana/pull/124534 cc @Dmitriynj

<img width="3351" alt="image" src="https://user-images.githubusercontent.com/1329312/162015896-396d9d1b-cb3f-41ce-95c9-c8af9c20718c.png">

This has failed a ton in PRs, skipping for now

Skipped
main/8.3: https://github.com/elastic/kibana/commit/f5d008e1083f04c0829310be4fb8c681d17a5d01

[2022-04-06 15:56] wayneseymour opened #129617 "[QA][Code Coverage] wrong id ingested"
Currently the build system id is being ingested as a guid, we prefer a number.

For reference, I found the following in a recent run:
[code]

Currently, we are ingesting `BUILDKITE_BUILD_ID`, but we should be using `BUILDKITE_BUILD_NUMBER`

[2022-04-06 15:56] elasticmachine commented on #129617
Pinging @elastic/kibana-qa (Team:QA)

[2022-04-06 15:59] janmonschke commented on #125647
After talking to the team we came to the conclusion that this is not an issue and the flyout table is now behaving as expected. It should not display those fields actually. Fields that end in `.text` are special Elasticsearch fields that are not needed for investigations.

In fact, these fields neither show up in other parts of Kibana (e.g. Discover) anymore. The fact that they did show up in the

[2022-04-06 15:59] #125647 closed

[2022-04-06 16:01] TheRiffRafi opened #129620 "[Data Views] Conflict clickable does nothing and we receive error in dev console"
**Kibana version:** 8.1.2

**Elasticsearch version:** 8.1.2

**Browser version:** Any browser

**Browser OS version:** any version

**Describe the bug:**
When looking at a Data View with conflicts, one can choose to show all field types with conflicts, clicking on "Conflicts" does nothing and we receive an error in dev console

**Steps to reproduce:**
1. Go to Data Views
2. Select Data View with c

[2022-04-06 16:02] stiltz commented on #128080
I cannot load different data to the cluster, it is a production cluster and I don't have permissions to load any data. This is occurring on at least 3 different clusters (I've only checked 3) and they have data being ingested with different mechanisms (1 Filebeat, 1 Auditbeat, and 1 Endgame Streaming).

[2022-04-06 16:07] mshustov commented on #129585
there was a suggestion to disable APM instrumentation for the static asset routes. see [the old issue](https://github.com/elastic/kibana-team/issues/494)

This suggestion was revoked on today's call with the APM client team. @elastic/kibana-core, there are no other actionable items until the APM team finishes their investigation.

[2022-04-06 16:26] dborodyansky commented on #104986
@hop-dev What do you think about the following approach?

![image](https://user-images.githubusercontent.com/3674406/162022208-4aa39fbc-32c7-4fdc-9daa-852461f1dd9e.png)

[2022-04-06 16:31] mshustov opened #129624 "Control http-request transactions of APM RUM agent manually"
Performance WG relies on the APM agent to capture traffic between the Kibana browser app and the Kibana server. During the  APM transaction tree analysis, we noticed that some AJAX requests or static assets loading might be marked as a child of other AJAX requests.
![2022-04-04_14-45-46](https://user-images.githubusercontent.com/3198181/162022158-0ed21539-010a-46ac-b5e8-4175bd5b1738.png)
@vigneshs

[2022-04-06 16:31] elasticmachine commented on #129624
Pinging @elastic/kibana-core (Team:Core)

[2022-04-06 16:45] kertal opened #129625 "[Discover] Improve Document explorer callout"
We should fine - tune the Document explorer callout.

<img width="749" alt="Bildschirmfoto 2022-04-06 um 18 33 54" src="https://user-images.githubusercontent.com/463851/162023885-b15736eb-d226-43ea-89ea-75e3ef0d078f.png">

Here's the suggested text by @gchaps :

**Exploring your data just got better**
Quickly sort, compare, and view data in fullscreen with [Document Explorer](https://www.elastic.c

[2022-04-06 16:45] elasticmachine commented on #129625
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-06 16:47] emma-raffenne commented on #128750
@katrin-freihofner Ooops! Apologies for missing that important part of the description. I'll add your suggestion as a separate task.

[2022-04-06 16:49] marshallmain commented on #129288
@michaelolo24 Generally the preview table should behave as a "read only" version of the full alerts table. The table supports paging, sorting, choosing columns, and viewing alert details, but does not support any stateful actions on alerts. Users can't add exceptions, add preview alerts to cases, or open/close preview alerts.

[2022-04-06 16:50] marshallmain commented on #129288
I think we should remove the cases info from the preview flyout. cc @dplumlee

[2022-04-06 16:54] jportner commented on #127659
Having a `backport:previous-major` label would be great for our usage of the Renovate bot to upgrade dependencies. Folks have started using Renovate but have been forgetting to backport to 7.17, so if Renovate issues had `backport:previous-major` to begin with, it would save us a lot of headaches in the future 😄

[2022-04-06 16:56] emma-raffenne opened #129627 "Remove the "View Details" button from actions"
Part of #128750

Remove the "View details" icon button as the same action is available when clicking the reason link and having three icon buttons (using pretty ambiguous icons) next to each other is not great UX.

[2022-04-06 16:56] elasticmachine commented on #129627
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-06 16:58] #129568 closed

[2022-04-06 16:59] marshallmain commented on #128451
@prachigupta-qasource Currently each rule execution only stores and displays the first warning it encounters. The `read privileges` warning is calculated by the rule before the `timestamp field` warning, so if the `read privileges` warning is written then we don't expect the `timestamp field` warning to be written - even if the indices are missing the timestamp field.

After a user resolves the `r

[2022-04-06 17:01] emma-raffenne opened #129628 "Add "View alert details" to the overflow menu"
Part of #128750

#129627 removes the "View details" icon button as the same action is available when clicking the reason link and having three icon buttons (using pretty ambiguous icons) next to each other is not great UX.

Since there is this edge case where a user could decide to remove the column with the reason message and therefore would no longer be able to get to the alert details flyout, a

[2022-04-06 17:17] ryankeairns commented on #129625
@gchaps I like the wording you have as it is crisp and to the point. My only other considerations would be if we're highlighting the most impactful things...

For example, the sort is now multi-column (aka advanced sorting). Other long-requested capabilities now being addressed were for column resizing and reordering. Now, that may be a mouthful, so I'm not certain we can fit that in, but it may r

[2022-04-06 17:19] vitaliidm commented on #124715
@XavierM
I have discovered one limitation with current implementation of  applying `operation` to `tags` field.

Currently, each rule on our side has so called internals tags

GET /.kibana/_doc/alert:9c4bbac0-b5cb-11ec-8f1e-adaa7d7d57e5

[code]

Here is tags:

[code]

These tags cannot be rewritten by user and set internally by calling this method
https://github.com/elastic/kibana/tree/main/x-pack

[2022-04-06 17:20] emma-raffenne opened #129631 "Show Rule Detail View within Observability Context"

[2022-04-06 17:20] mikecote commented on #127802
I came across this issue as well, in my case, it happened whenever an alert has been active for longer than 112 days.

[2022-04-06 17:24] nreese opened #129632 "[Maps] filter drawing and freature drawing broken in 8.2"

[2022-04-06 17:25] clintandrewhall opened #129634 "[tech-debt] Make @kbn/storybook the sole dependency for Storybook in Kibana"
Storybook has an issue where `file-system-cache` does not have a Typescript type.  To mitigate, we've added a module declaration to our ambient types.  This is one of a myriad of issues we're having including Storybook packages in source.

`@kbn/storybook` needs to encapsulate these types and create a one-stop-shop for Storybook integration in Kibana.

[2022-04-06 17:25] elasticmachine commented on #129634
Pinging @elastic/kibana-operations (Team:Operations)

[2022-04-06 17:25] afgomez commented on #128129
@mgiota I pair with @jasonrhodes and we found a way to do this. I've opened a PR already for it (linked here in the sidebar).

[2022-04-06 17:29] emma-raffenne opened #129636 "Alerts and Rules Views to GA"
Remove _Technical Preview_ flag and disclaimer for Observability Alerts and Rules views, remove experimental feature flags from source code and update documentation accordingly.

_Should_ include:

- #129777
- #133584

# Implementation

- [x] #132598
- [x] #133583
- [x] #134161

[2022-04-06 17:30] dedemorton commented on #125534
@criamico

For installation docs, that's right.... I would send users to this link because it drops them into the top-level installation docs where they can see minimum system requirements and all the installation options: https://www.elastic.co/guide/en/fleet/current/elastic-agent-installation.html

For the download link, I thought there was a requirement to send users to the correct version of t

[2022-04-06 17:32] trentm commented on #129585
I think it depends. If it turns out the Node.js APM agent overhead is mostly due to its `async_hooks` usage, then there isn't a way to turn that off for particular routes. However, if there is some significant APM agent overhead due to capturing transactions/spans/errors and sending those for static routes then there might be something to gain from using `transactionIgnoreUrls`.

[2022-04-06 17:37] Heenawter opened #129638 "[Controls] Changing the field of an existing control will keep old selections"
**Describe the bug:**
When changing the field of an existing control, any old selections that were made using the previous field will remain.

**Steps to reproduce:**
1. Create a new control
2. Make some sort of selection with that control
3. Edit the control
4. Change the field that it is referencing
5. Notice how the old selections remain

**Expected behavior:**
The old selections should be clea

[2022-04-06 18:05] teresaalvarezsoler commented on #127308
Makes sense. I'm adding this to the issues tracking.

[2022-04-06 18:22] rashmivkulkarni opened #129646 "Cases- Can we suppress the error message to just one pop up when the encryption key is not set."
**Kibana version:** 8.2.0 BC1

I have not yet set the required encryption key in `kibana.yml`, but when I click on cases it shows up so many pop ups which convey the same message. Can we suppress this error message to just one pop up ?
`Unable to create actions client because the Encrypted Saved Objects plugin is missing encryption key. Please set xpack.encryptedSavedObjects.encryptionKey in the k

[2022-04-06 18:24] lizozom commented on #129585
Lets see what comes up and then we consider our alternatives?

[2022-04-06 18:27] TinaHeiligers commented on #128585
Thank you both! For now, I'm going to integrate the doclinks service and use that to point to the online documentation.

What I meant was that this might have to happen in two steps for the new section to handle this issue because we can't link to an online doc if it doesn't exist yet (unless that's changed). I'll take care of it.

So true! After spending a couple of hours adding the new task for

[2022-04-06 18:29] rashmivkulkarni opened #129647 "ILM- when the ILM form is invalid, no request should be sent hence there should be no toast."
**Kibana version:** 8.2.0 BC1

If the ILM form is invalid no request should be sent to the host. The validation should show only one error message. I don't think the toast notification is necessary.
<img width="1317" alt="Screen Shot 2022-04-05 at 1 49 01 PM" src="https://user-images.githubusercontent.com/11466284/162043651-26bf9c86-0abb-46cb-ad94-95512a7a4364.png">

cc @alisonelizabeth @yuliacech

[2022-04-06 18:29] elasticmachine commented on #129647
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-06 18:46] asnehalb opened #129649 "[Security Solution][Meta] Updates in Users Page"
This meta issue groups all User Page engineering issues.
https://github.com/elastic/security-team/issues/2828
[User Page 8.2 doc](https://docs.google.com/document/d/1HJizFYY26GZ8keWPA7GPfivJ65PPtkgmj-1B73n51dk/edit#heading=h.vcozv4ihbn3b)

Tasks

8.x issues:
- [x] #128362
- [x] #129046
- [x] #129047

[2022-04-06 18:47] elasticmachine commented on #129649
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-06 19:03] KOTungseth commented on #100674
We're working on updating the homepages as part of the onboarding journey work, so this issue is no longer needed.

[2022-04-06 19:03] #100674 closed

[2022-04-06 19:06] jen-huang commented on #121184
@nchaulet Thanks for testing! Could you open an issue for following up on the cleanup of `@mappings`? I suspect that we will probably want to clean them up (I assume we have cleaned up the old `@settings` templates?), but we can discuss in the new issue.

[2022-04-06 19:12] jasonrhodes commented on #127835
@ravikesarwani FYI, I think this likely confirms it's too risky to unpublish the monitoring packages, to close this loop. I suggest we move forward with the experimental packages and clear documentation as much as possible.

[2022-04-06 19:25] andrew-goldstein commented on #129603
## Summary

@dainperkins the team is closing this issue (with no changes), but per the details below, there's a separate issue for addressing scenarios where Elasticsearch "fails open", returning a `200` OK status when partial results are returned due to:
- shard failures
- network partitions
- any other scenario where Elasticsearch is capable of returning partial results

## Details

- There are

[2022-04-06 19:35] ravikesarwani commented on #127835
okay, thanks for following up on this and giving it a try.

[2022-04-06 19:41] cyrille-leclerc commented on #125872
Good catch, I don't think I saw this copy/paste problem in other cases.

I think I understand what you mean and I have no clue on how to check this. hopefully, if someone else faces this problem, he will find this ticket and understand he is not alone but it's a very uncommon bug that seem to be related to the web browser.

[2022-04-06 19:42] lukasolson commented on #17648
Closing as duplicate of https://github.com/elastic/kibana/issues/121750 (which contains additional discussion).

[2022-04-06 19:42] #17648 closed

[2022-04-06 19:45] jen-huang commented on #125534
@criamico For the download page, let's use the versioned download page that we were already using prior to this redesign, i.e. https://www.elastic.co/downloads/past-releases/elastic-agent-8-1-0

That page is not as good as the "main" download page but it at least will provide the right version. There is a related discussion here about it: https://github.com/elastic/observability-docs/issues/1630

[2022-04-06 19:48] lukasolson commented on #124733
Can you work around this by escaping the reserved characters? e.g. `kibana.alert.reason : *\>\=*`?

[2022-04-06 19:49] LeeDr opened #129654 "bad link to Advanced Settings when visualizations listingLimit exceeded"
**Kibana version:** 7.17.0 and 8.2.0

**Describe the bug:** When you have enough visualizations in the visualize library that it exceeds the listingLimit (default 1000) you get a message telling you that you can change this setting under `Advanced Settings`.  But that link is bad and shows an error

"Page not found
Visualize application doesn't recognize this route: [/management/kibana/settings](h

[2022-04-06 19:49] elasticmachine commented on #129654
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-06 20:09] andrewvc commented on #127677
I've consolidated our requirements in the top comment (including copying a good chunk of what you wrote @dominiqueclarke ) to resolve some questions.

I've clarified the error handling and defaults stuff given our recent discussions on other issues, and clarified the naming of locations as well. I think the bulk API can remain unspecified for now, I don't know if it's a requirement for our first p

[2022-04-06 20:12] yctercero commented on #81299
For whoever grabs this one - needs to be revisited as it was a known issue (core issue) when originally coded up.

[2022-04-06 20:16] yctercero commented on #86261
@MadameSheema

This was by design at the time we built it to limit users to not mix value list exception items with regular exception items. It was a limitation of what we could do backend side when processing exceptions.

@marshallmain You think this can be revisited? The ability of the detection engine to process exception items with a mix of value list and non value list types?

[2022-04-06 20:21] mitodrummer commented on #129529
It seems this bug is fixed in the latest code.

[2022-04-06 20:21] #129529 closed

[2022-04-06 20:35] dplumlee commented on #129210
So for threshold rules, this is actually a correct display of what the table and histogram should show, I unintentionally lied when I said they should match sorry 😬 . They should match most of the time, for most rule types, but what's displaying here is 5 results grouped into 2 categories so the histogram displays 2 hits. We're looking to change the layout for the threshold rule display in [this P

[2022-04-06 20:40] nchaulet opened #129662 "[Fleet] Migrating to 8.2 keep old @mappings and @settings component templates"
Related to https://github.com/elastic/kibana/issues/121184

While testing the upgrade from 8.x and 7.x to 8.2 to the new `@package`. I found that the `@package` component template is well created, during the upgrade the old and now unused `@mappings` and `@settings`  templates are kept around. We should delete these old managed component templates.

<img width="888" alt="Screen Shot 2022-04-04 at

[2022-04-06 20:41] elasticmachine commented on #129662
Pinging @elastic/fleet (Team:Fleet)

[2022-04-06 20:42] dplumlee opened #129664 "[Security Solution] Preview Histogram displays duplicate alerts based on `stackBy` field"
### Overview

There is a bug currently in the rule preview feature with the histogram and alert table having incongruent alert/hit counts. The bug is caused by the `stackBy` field in the histogram (currently set as `event.category`) counting certain alerts multiple times if they have 2 or more `event.category` fields. Discussion needs to be held as to what the best approach to fixing this within t

[2022-04-06 20:42] elasticmachine commented on #129664
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-06 21:30] dedemorton opened #129671 "Mention other ways to set encryption key for saved objects"
**Describe the feature:**

The docs about [setting an encryption key](https://www.elastic.co/guide/en/kibana/current/xpack-security-secure-saved-objects.html) for saved objects should mention other ways to set the key (besides setting `xpack.encryptedSavedObjects.encryptionKey` in kibana.yml).

From what I understand, you can use the [kibana-encryption-keys](https://www.elastic.co/guide/en/kibana/

[2022-04-06 21:30] elasticmachine commented on #129671
Pinging @elastic/kibana-docs (Team:Docs)

[2022-04-06 21:41] ThomThomson opened #129672 "[Controls][Dashboard] Decouple Control Width from Fill Available Space"
**Current system:**
Currently the control width is controlled with the settings: `auto, small, medium, large`. With `auto` being the only size which grows to fill maximum space. In CSS land, this just means that the control's `min-width` is set to the small size, and the `flex grow` setting is turned on. In any other width mode, the `width` is set specifically, and the `flew grow` setting is off.

[2022-04-06 21:41] elasticmachine commented on #129672
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-04-06 21:49] #129632 closed

[2022-04-06 22:02] #128965 closed

[2022-04-06 22:02] #129537 closed

[2022-04-06 22:12] gchaps commented on #129625
@ryankeairns makes a good point about addressing known limitations.  I prefer "structure" over "characteristics", but only because it is a shorter word and easier to read.  Ryan also suggested using "Dismiss" for the button name.

**Exploring your data just got better**
Perform advanced sorting, resize columns, adjust density, and view data in fullscreen with [Document Explorer](https://www.elasti

[2022-04-06 22:22] ThomThomson opened #129675 "[Controls][Dashboard] Options List Case insensitive Search"
## Problem
@teresaalvarezsoler

Related to https://github.com/elastic/kibana/issues/50171

Fields used by the new options list control are **required** to be of type `keyword`  in order to search for terms. One problem with that is that keyword fields are inherently case-sensitive because they are not tokenized.

<img width="423" alt="Screen Shot 2022-04-06 at 6 00 44 PM" src="https://user-images.

[2022-04-06 22:22] elasticmachine commented on #129675
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-04-06 22:24] jen-huang opened #129677 "[Fleet] Add a find orphaned integration policies API"
**Describe the feature:**

Similar to #121887. We've had several reports where the root cause is that somehow an integration policy became orphaned. That is, its parent agent policy does not exist.

**Proposal**
[code]

This would return a list of all orphaned policies - but not delete them yet. I think subsequent deletion should be up to the user as there might be information they want to capture

[2022-04-06 22:24] elasticmachine commented on #129677
Pinging @elastic/fleet (Team:Fleet)

[2022-04-06 22:28] jen-huang commented on #129662
@joshdover @hop-dev I assume we should delete `@mappings` in the same way we delete `@settings`, but welcome your input.

[2022-04-06 22:53] #129403 closed

[2022-04-06 23:30] jen-huang opened #129683 "[Fleet] Integration policy doesn't get deleted if it is orphaned"
Discovered while working on a case related to #129677.

If an integration policy is orphaned (its parent agent policy does not exist), this can cause various issues in the UI. The obvious solution is to bulk delete these policies using `/api/fleet/package_policies/delete`, but this does not work (even with `force: true`) due to that API attempting to update the non-existent agent policies. An exam

[2022-04-06 23:30] elasticmachine commented on #129683
Pinging @elastic/fleet (Team:Fleet)

[2022-04-06 23:53] jasonrhodes commented on #125394
@dannycroft thanks for the update! I think a call makes sense, I'll set something up.

[2022-04-07 00:20] VijayDoshi commented on #129625
Perhaps some further simplifications/clarifications:

I don't think we need to brand "Document Explorer" in this context.

Should the button say something like "See how..."

[2022-04-07 00:21] #129259 closed

[2022-04-07 00:31] rseldner commented on #127705
A user has graciously provided a list of Japanese translations.  Based on Kibana 8.1.0.

  |   | default | i18n.locale:   "ja-JP" |   |  
--- | --- | --- | --- | --- | ---
No. | location | string | current   string | desired   string | note
1 | home   title | Welcome   home | ようこそホーム | ようこそ | "ようこそホーム"   is strange as Japanse
2 | home   menu | Home | Home | ホーム |  
3 | home   menu | Analytics | An

[2022-04-07 01:05] alisonelizabeth commented on #129544
Thanks for opening this @seanstory!

AFAIK the UI does not yet support processor plugins via the dropdown, so this would be an enhancement.

I can see how that's confusing! I think the original idea behind the "custom" option was to still allow a user to add a processor even if the UI did not support it yet. I think we were expecting the user to mimic the processor name as it would appear in the E

[2022-04-07 02:16] #126574 closed

[2022-04-07 02:47] #129539 closed

[2022-04-07 03:02] yctercero commented on #127711
Sorry, had to re-remember the exceptions code. Still debugging. But did narrow down the issue to it occurring on the creation of the initial rule's list container (which is why it only occurs on new rules - not just new instance). Figuring out the fix now.

[2022-04-07 03:08] karanbirsingh-qasource commented on #125647
Right @janmonschke agreed with you !!! 👍

[2022-04-07 03:09] kunisen commented on #128959
Thanks @matschaffer !! ❤️

That's what I proposed in an internal ticket, we should be at least guided if the cluster is using remote monitoring.
Otherwise there's no way to tell if it's being monitored, or it's just not turning on the monitoring.

[2022-04-07 03:13] lukeelmers opened #129689 "[Discuss] `exposeToBrowser`: controlling which vars are included on anonymous pages"
### Background

In https://github.com/elastic/kibana/pull/129555, we added an `enabledOnAnonymousPages` option to the `kibana.json` plugin manifest. The purpose of this setting was to allow plugins to opt-in to being loaded on unauthenticated/anonymous pages, such as the login page, or the status page (when `status.allowAnonymous: true`).

The primary reason this feature was introduced was to prev

[2022-04-07 03:13] elasticmachine commented on #129689
Pinging @elastic/kibana-core (Team:Core)

[2022-04-07 04:42] spalger opened #129691 "Package base tsconfigs in packages"
Part of https://github.com/elastic/kibana/issues/128012 will be moving everything to packages, but I think we should move tsconfig.json base files into packages sooner rather than later. This will allow us to define a dependency in bazel on the base config file and get the deps listed in "types" along with the config.

For instance:
tsconfig.base.json references the following modules in it's `type

[2022-04-07 04:42] elasticmachine commented on #129691
Pinging @elastic/kibana-operations (Team:Operations)

[2022-04-07 05:01] nick-alayil opened #129692 "[Security Solution] Wrong tooltip text(Default: auto) for linux.advanced.kernel.capture_mode in advanced settings of Endpoint Security integration"
**Kibana version:**
8.2.0 BC2

**Describe the bug:**
Wrong tooltip text(Default: auto) for linux.advanced.kernel.capture_mode in advanced settings of Endpoint Security integration. It seems the default capture mode is kprobe.

[code]

**Steps to reproduce:**
1. Create a new agent policy with endpoint security integration.
2. Navigate to the above created endpoint security integration's settings pa

[2022-04-07 05:01] elasticmachine commented on #129692
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-04-07 05:01] elasticmachine commented on #129692
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-07 05:04] deepikakeshav-qasource commented on #128580
Hi Team,

We have validated this issue on **8.2.0 BC2** and observed that issue is **Fixed** 🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/162123743-8c8ce258-84d0-4adf-b64b-5f75ccd9d6f6.mp4

Hence, We are closing this issue and marking as QA Validated.

Thanks!!

[2022-04-07 05:04] #128580 closed

[2022-04-07 05:27] #128749 closed

[2022-04-07 05:48] amolnater-qasource opened #129695 "[Self-Managed]: User gets Fleet Installation command for Quickstart mode without creating any policy."
**Kibana version:**  8.2 BC-2 Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 BC-2 Kibana self-managed environment should be available.
2. No Policy should be available.

**Steps to reproduce:**
1. On fresh Kibana setup navigate to Fleet tab.
3. DO-NOT create policy under Agents tab and scroll down.
4. Select Quic

[2022-04-07 05:48] elasticmachine commented on #129695
Pinging @elastic/fleet (Team:Fleet)

[2022-04-07 05:49] amolnater-qasource commented on #129695
@manishgupta-qasource Please review.

[2022-04-07 05:54] samratbhadra-qasource opened #129696 "[Fleet]: Error is displayed on accessing Fleet Server and Elastic APM integration."
**Describe the bug:**
Elastic APM and Fleet server integration is not accessible and an error displays while accessing the integrations.

**Build Details:**
VERSION: 8.2.0-BC2
COMMIT: 3535a206838845689639344afaf64a58c663b3c1
BUILD: 51772
ARTIFACT LINK: https://staging.elastic.co/8.2.0-1bde7c3b/summary-8.2.0.html

**Preconditions:**
1. Elastic 8.2.0-BC2 environment should be deployed.

**Steps to R

[2022-04-07 05:54] elasticmachine commented on #129696
Pinging @elastic/fleet (Team:Fleet)

[2022-04-07 05:56] karanbirsingh-qasource opened #129697 "[Security Solution]Refresh every parameter causing page unresponsive under security pages"
**Describe the bug**
Refresh every parameter causing page unresponsive under security pages

**Build Details**

[code]

**Preconditions**
- Any Rule with generated alert should exist on the build

**Steps**
- Login to Kibana
   - Navigate to Overview page
   - Navigate to Host page
   - Navigate to Endpoint page
- Set refresh every time to negative
- Observed that page got unresponsive for differe

[2022-04-07 05:56] elasticmachine commented on #129697
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-07 05:56] karanbirsingh-qasource commented on #129332
separate issue logged https://github.com/elastic/kibana/issues/129697 as per the request

[2022-04-07 05:58] samratbhadra-qasource commented on #129696
@manishgupta-qasource Please review.

[2022-04-07 06:01] manishgupta-qasource commented on #129695
Secondary review for this ticket is Done

[2022-04-07 06:03] manishgupta-qasource commented on #129696
Secondary review for this ticket is Done

[2022-04-07 06:06] deepikakeshav-qasource commented on #129321
Hi @spong ,

We have validated this issue on **8.2.0 BC2** and observed that issue is **Still Occurring**

Please find below the testing details:

**Build Details:**
[code]
**Screenshot**

![image](https://user-images.githubusercontent.com/61860752/162131265-52208cab-0876-49d5-839c-e96a7c6f8daa.png)

Thanks!!

[2022-04-07 06:16] ogupte commented on #129465
I can confirm that this discrepency is related to the value of `has_any_services`:
![Screen Shot 2022-04-07 at 1 52 20 AM](https://user-images.githubusercontent.com/1967266/162131609-4cfe991d-4866-4b34-b6e5-04dca251616a.png)
It's possible that the inclusion of data streams in the default values of the the APM indices are skewing the service counts here: https://github.com/elastic/kibana/blob/main/

[2022-04-07 06:21] ogupte commented on #129465
Another odd thing i found is that the shape of the unique cluster count (by day) for enterprise only license has a distinct change in shape (two-toned) around mid august of last year:
![Screen Shot 2022-04-07 at 1 25 11 AM](https://user-images.githubusercontent.com/1967266/162132660-5e383d68-2787-4dcd-94e7-4fa787cc97c2.png)

While platinum licensed clusters don't exhibit the same 2-toned pattern:

[2022-04-07 06:29] kibanamachine commented on #129337
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14568#67ecdeaf-d983-4980-9580-359d6877c414)

[2022-04-07 06:42] deepikakeshav-qasource commented on #129281
Hi @kevinlog ,

We have validated this issue on **8.2.0 BC2** and observed that issue is **Fixed** . We are able to get Endpoints alerts.

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/162132758-c10dd3cd-ee6c-4236-9aff-874b00f4b671.mp4

Hence, We are closing this issue and marking as QA Validated

Thanks!!

[2022-04-07 06:42] #129281 closed

[2022-04-07 07:06] karanverma-qasource commented on #128851
Hi Team,

We have validated above issue on 8.2.0 BC2 build and it's working fine. 🟢

**Build Info:**

[code]

**Screen-records:**

https://user-images.githubusercontent.com/91867110/162137774-d5b774d7-60f8-4991-bfbc-79851ce7c341.mp4

Thanks !

[2022-04-07 07:13] kertal commented on #129625
my 2 cents about `adjust density` think you mean `configure/change row height` ?

[2022-04-07 07:27] dgieselaar commented on #129465
The built-in `kibana_system` role does not have access to the APM data streams:

<img width="1008" alt="CleanShot 2022-04-07 at 09 21 37@2x" src="https://user-images.githubusercontent.com/352732/162142855-dab6632a-4772-4c76-be96-2efdb716cbf4.png">

These privileges are [defined in Elasticsearch](https://github.com/ogupte/elasticsearch/blob/efa09632c0bb5230353d28fdc0c32cbe59b81f02/x-pack/plugin/cor

[2022-04-07 07:34] kertal commented on #128080
dear @stiltz, would you have time for a short zoom sync so we could have a look at it together? I think this would speed up the investigation, many thx!

[2022-04-07 07:42] flash1293 commented on #129474
Discussed offline - for now we can go with setting the legend width to a fixed value by default and taking away the "auto" setting. For existing visualizations auto will stay in place, but it's not possible to configure for new visualizations.

[2022-04-07 08:03] markov00 commented on #129474
can you please add telemetry to that? it will be great to know what is the ratio of users changing the default legend size?
It will be great if we can correlate this to the time the visualization was created, to partially understand if that change was caused by a subsequent usage of the chart, or was intentional during the single chart creation/analysis

[2022-04-07 08:18] harshitgupta-qasource opened #129705 "[Security Solution] In Policy setting user is blocked to access blocklist link present in left hand side navigation bar under Endpoint"
**Description:**
 In Policy setting user is blocked to access blocklist link present in left hand side navigation bar under Endpoint.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint Should be Deployed.

**Steps to Reproduce:**
1. Navigate to Endpoint Tab from the left hand side navigation
2. Select the policy name for the Sec

[2022-04-07 08:18] elasticmachine commented on #129705
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-07 08:25] harshitgupta-qasource commented on #129705
@manishgupta-qasource Please review and assign to kevin!

[2022-04-07 08:28] karanbirsingh-qasource commented on #129030
Hi @machadoum

we have validated this issue on 8.2.0 BC2 and found it fixed .

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/162155382-f58c2d8d-ee31-4bb8-95c1-3b5baccecf89.mp4

Hence we are closing this issue and adding "QA:Validated" label to it.

thanks !!

c.c @MadameSheema

[2022-04-07 08:28] #129030 closed

[2022-04-07 08:31] manishgupta-qasource commented on #129705
Reviewed & assigned to @kevinlog

[2022-04-07 08:31] jloleysens opened #129706 "[Reporting] Potentially calling `share.register` more than once for the same panel"
**Kibana version:** Checked on master `bcccda13650`

**Describe the bug:**

The reporting plugin is potentially calling `share.register` multiple times for the same panels:

See https://github.com/elastic/kibana/blob/0790fd01d947761b6caf19050e91fde43c0583f7/x-pack/plugins/reporting/public/plugin.ts#L231

**Expected behavior:**

We should never be calling `share.register` more than once.

[2022-04-07 08:31] elasticmachine commented on #129706
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-04-07 08:31] arvindersingh-qasource opened #129707 "[Security Solution] "Pagination" and "Page Navigation" options are getting hidden under Timeline option bar for Preview Results of New Rule."
**Describe the bug**
```Pagination``` and ```Page Navigation``` options are getting hidden under Timeline option bar for Preview Results of New Rule.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana must be available.

**Steps to Reproduce**
1. Navigate to ```Security``` -> ```Rules```
2. Click on ```Create new Rules``` option.
3.

[2022-04-07 08:31] elasticmachine commented on #129707
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-07 08:32] machadoum opened #129708 "User page tabs Events and External alerts should have the new visualisation action itens"
Both User page tabs visualizations show the old inspect icon instead of the new action icon, not allowing users to open the visualization in Lens.

<img width="1513" alt="Screenshot 2022-04-07 at 10 30 55" src="https://user-images.githubusercontent.com/1490444/162156643-db8c3edf-db53-4a9a-ba0e-22c7e9319efd.png">
<img width="1507" alt="Screenshot 2022-04-07 at 10 31 02" src="https://user-images.git

[2022-04-07 08:32] arvindersingh-qasource commented on #129707
@manishgupta-qasource  Please review this bug.

Thanks.

[2022-04-07 08:32] #118260 closed

[2022-04-07 08:33] #127020 closed

[2022-04-07 08:36] dikshachauhan-qasource commented on #129186
I understand that's why we also marked it as low priority and Thank you for the Feedback @jen-huang

[2022-04-07 08:38] afgomez commented on #125394
@dannycroft thanks for your reply!

The ideal scenario would be option 3, and that's (AFAIK) the end goal, but last time we checked we were not fully there yet.

We wanted to use your APIs to build a simplified versions of the inventory list to show something to the users while APM has the time to build a ready-to-use component.

[2022-04-07 08:39] karanbirsingh-qasource commented on #129365
Hi @machadoum

we have validated this issue on `8.2.0 BC2` and found it fixed . Now data is getting correctly filtered on Alert and External Alert Table for below filters

**Build Details:**
[code]

**Screen-Cast:**

![image](https://user-images.githubusercontent.com/59917825/162157757-6bf0dfd9-9645-41a1-86d6-e18da8687bcd.png)

![image](https://user-images.githubusercontent.com/59917825/162157841-

[2022-04-07 08:39] #129365 closed

[2022-04-07 08:43] danielkhan commented on #125394
I would also go for (1) in 8.3 and then use (3) as soon as it's available.
I am wondering if it would make sense to work together on (3) - @jasonrhodes do you have an appetite for your team to also building embeddables if we rely on them to progress?

[2022-04-07 08:50] stratoula commented on #125930
This could simplify TSVB to Lens implementation too for 'positive_only' Here https://github.com/elastic/kibana/blob/main/src/plugins/vis_types/timeseries/public/trigger_action/metrics_helpers.ts#L207
and here https://github.com/elastic/kibana/blob/main/src/plugins/vis_types/timeseries/public/trigger_action/metrics_helpers.ts#L216
I am setting as max the metric value. It can be omitted with this en

[2022-04-07 08:52] afgomez commented on #100057
@elastic/infra-monitoring-ui is this still relevant? Can I close it?

[2022-04-07 09:05] vadimkibana opened #129714 "Search session management page font size"
The font size in search session management table is unexpectedly too large. The table uses 16px font size:

<img width="1401" alt="image" src="https://user-images.githubusercontent.com/82822460/162163207-e216a87a-fafc-4ef6-9efd-a78349ebffe3.png">

Whereas all other places in Kibana, to best of my knowledge, use smaller font size.

Saved objects:

<img width="1108" alt="image" src="https://user-ima

[2022-04-07 09:11] banderror commented on #124715
@vitaliidm Perhaps the best place for ensuring these internal tags are always there would be the `validateMutatedParams` function?

The presence of these internal tags is an invariant that must be always respected. Actually, there are two invariants:

- every rule must have a global `rule_id` and a corresponding `__internal_rule_id` tag containing it
- every rule must have an `__internal_immutable