[2020-06-22 09:47] kibanamachine commented on #68400
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6095/)

[2020-06-22 10:00] alexwizp commented on #67754
Hi @sorantis, could you please clarify your request? Cause TSVB already allowed to work with more than one index patterns

![image](https://user-images.githubusercontent.com/20072247/85274921-46869b00-b488-11ea-9b98-12c0ad4f1d11.png)

[2020-06-22 10:43] sastorsl commented on #69621
It fails in a similar fashion with `xpack.reporting.enabled: true`.

This is from a docker container running kibana version 7.8.0. The container ID is 7bd2290b8fd0.

    Jun 22 12:40:44 <hostname> 7bd2290b8fd0[1559]: {"type":"log","@timestamp":"2020-06-22T10:40:44Z","tags":["fatal","root"],"pid":9,"message":"{ Error: [config validation of [xpack.reporting].enabled]: definition for this key is miss

[2020-06-22 11:35] novando03 opened #69637 "How to use regex function on kibana for Ordered Search / match multiple keyword(sentence)"
Hi, Sorry i'm beginner in kibana. I will ask something about search, and will this work on kibana?

I want to use the regex function with the goal to order search / matching 2 sentences or maybe more in just 1 field.
I have data like this :

0,25, HP
1500 RPM
380 V
0,7A Clase B S43
2.3.
600:1
1400 K----FALSE-----------------EN:---------------------------------------SP:------------MOTORREDUCTOR PAR

[2020-06-22 11:35] timroes opened #69638 "[Lens] Show description in dashboard title"
For classical visualizations the description when saving it will be shown as an information on the dashboard:

![screenshot-20200622-133425](https://user-images.githubusercontent.com/877229/85283144-2e654a80-b48d-11ea-9ce9-3f7c6d076b4b.png)

For Lens visualizations the saved description will not be shown here. This should behave the same as for visualizations.

Related: https://discuss.elastic.co/

[2020-06-22 11:35] elasticmachine commented on #69638
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-22 11:39] elasticmachine commented on #69596
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-22 11:40] elasticmachine commented on #69606
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-06-22 11:41] elasticmachine commented on #69611
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-22 11:41] elasticmachine commented on #69612
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-06-22 11:41] elasticmachine commented on #69613
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-22 11:41] elasticmachine commented on #69614
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-22 11:42] elasticmachine commented on #69617
Pinging @elastic/kibana-gis (Team:Geo)

[2020-06-22 11:42] elasticmachine commented on #69621
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-06-22 11:43] elasticmachine commented on #69624
Pinging @elastic/ml-ui (:ml)

[2020-06-22 11:44] elasticmachine commented on #69623
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-22 11:46] elasticmachine commented on #69633
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-22 11:46] nicenemo opened #69639 "Migration from Kibana 7.7.1 to 7.8 fails with : Document contains at least one immense term ... whose UTF8 encoding is longer than the max length 32766"
**Kibana version:** 7.7.1 to 7.8

**Elasticsearch version:** 7.8

**Server OS version:** Debian 10

**Original install method (e.g. download page, yum, from source, etc.):**
apt install

**Describe the bug:**

When upgrading our stack fro 7.7.1 to 7.7.8 the Kibana index migration fails and Kibana refuses to continue starting up.

Upgrade Elasticsearch, Logstash just with apt update && apt upgrade

[2020-06-22 11:46] elasticmachine commented on #69635
Pinging @elastic/siem (Team:SIEM)

[2020-06-22 11:47] timroes commented on #69637
Hi,

thanks a lot for engaging with the Kibana community. We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests) in Kibana. Thus it's unlikely your question will get the attention it deserves here - and unfortunately also makes it a bit harder to track our issues, why I would kindly please you to use our [forums](https://discuss.elastic.co/c/elastic-stack/

[2020-06-22 11:47] #69637 closed

[2020-06-22 11:48] elasticmachine commented on #69632
Pinging @elastic/siem (Team:SIEM)

[2020-06-22 11:51] elasticmachine commented on #69630
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-22 11:52] timroes commented on #69630
@flash1293 I am pretty sure I saw a similar issue recently where you already commented on, but I am unable to find it. Could you maybe link it and close as a duplicate if it's the same?

[2020-06-22 11:52] elasticmachine commented on #69636
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-22 11:54] elasticmachine commented on #69639
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-22 12:00] RasmusGodske commented on #39605
I agree with @TJM aswell on this as well. ElasticSearch already supports this [ElasticSearch Secrets](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/docker.html#docker-configuration-methods).

[2020-06-22 12:09] flash1293 commented on #69630
@timroes it was just a slack thread - more context: in 7.7 Timelion switched to the v2 version of the worldbank api. The problem occurs when the time range includes 2020 (till 2019 it works exactly the same as far as I can tell)

One way would be to roll back to v1, butt he website states it’s deprecated, so we should check whether there’s a better way to resolve this

[2020-06-22 12:39] sastorsl commented on #43462
Re my last:
This issue is _not_ present in `7.8.0` as far as I can see.

[2020-06-22 13:07] timroes commented on #69609
I'll close this as a duplicate of https://github.com/elastic/kibana/issues/36744. While this issue here describes a more specific use-case, we would rather want to go with the more generic solution, to give users in general more control over the filter creation and items in the list.

[2020-06-22 13:07] #69609 closed

[2020-06-22 13:14] n0ox opened #69640 "Kibana 7.8.0 Index Lifecycle Policies error - 400: Bad Request. [illegal_argument_exception] duration cannot be negative, was given [-4922780]"
**Kibana version:** 7.8.0

**Elasticsearch version:** 7.8.0

**Server OS version:** Centos-release-8.2

**Describe the bug:**

After updete from 7.7.1 to 7.8.0 i can't use Index Lifecycle Policies function.  I am adding images.

**Screenshots (if relevant):**

Index Lifecycle Policies

![image](https://user-images.githubusercontent.com/66729728/85290659-07654380-b4a2-11ea-9646-d98f986407c1.png)

I

[2020-06-22 13:39] daanaerts opened #69641 "[TSVB] Add "First value" to Data timerange mode"
**Describe the feature:**
Recently the Data time range mode was added to some TSVB visualisations (e.g. metric). 💪   Similarly, I'd like to select the "first value".

**Describe a specific use case for the feature:**
I'd like to display the first value of a timeseries.

[2020-06-22 14:18] elasticmachine commented on #69640
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-06-22 14:26] timroes commented on #69641
Could you describe the use-case of showing the "first value" of a timeseries? We basically introduced the "Entire timerange mode", so that those visualizations showing basically data NOT over time, will use the (intuitive) way of showing all the data within the selected time range. The "last Value" is just there, because it was the old (very unintutive) behavior, that we need to keep for backwards

[2020-06-22 14:26] elasticmachine commented on #69641
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-22 14:29] timroes commented on #69545
@kertal I marked this as a blocker for 7.8.1

[2020-06-22 14:45] timroes commented on #69547
Autofocusing input fields is something rather questionable in terms of accessibility. We had some discussion in https://github.com/elastic/kibana/issues/11515 and https://github.com/elastic/kibana/issues/11856.

There are currently no changes to what has been discussed back then, so I'll close this as won't fix, since the current behavior is intentional.

[2020-06-22 14:45] #69547 closed

[2020-06-22 14:47] timroes commented on #66051
From a technical perspective, I think it would be very use-full to have items that can have sub-menus here @streamich. We currently experimenting with some Dashboard sections, where we would need an action here: "Move to other section", that should ideally directly lead to a submenu with all available sections, instead of throwing the user out of their flow with popping up a modal.

[2020-06-22 15:03] clyfish opened #69642 "apm_user role has no access to observability-annotations index"
**Kibana version:**
7.8.0

**Elasticsearch version:**
7.8.0

**Server OS version:**
CentOS 7

**Browser version:**
Chrome 83

**Browser OS version:**
Win 10

**Original install method (e.g. download page, yum, from source, etc.):**
helm

**Describe the bug:**
User with apm_user role and kibana_admin role has no access to observability-annotations index, so the `/api/apm/services/xxx/annotation/sea

[2020-06-22 15:08] clyfish commented on #69642
Workaround:
Create a role `apm_user_extra` with `read` and `view_index_metadata` privileges to `observability-annotations` index, or set kibana config `xpack.observability.annotations.index` to `apm-observability-annotations`

[2020-06-22 15:44] DonHansDampf commented on #69625
Same problem here: Created a new cluster with three master nodes and one Control node + Kibana. Activated logstash legacy monitoring. `.monitoring-logstash` gets filled up, but cannot view logstash pipelines/nodes in Kibana.

[2020-06-22 15:58] tsullivan commented on #69621
Apologies, this bug came about from the Reporting plugin migration to the new Kibana platform. It is fixed in 7.x but looks like it was fixed after the 7.8 release cut off. The fix will be in 7.8.1

[2020-06-22 16:02] tsullivan commented on #69621
https://github.com/elastic/kibana/pull/68288

[2020-06-22 16:24] elasticmachine commented on #69642
Pinging @elastic/apm-ui (Team:apm)

[2020-06-22 16:32] timroes opened #69646 "[Side nav] Icon only mode"
I know that we had this discussion already on Slack, but since I see this issue come up with users more often, I want to raise this also as an issue, that users can follow.

The new side nav introduces in 7.8 currently only has two modes: fully docked and fully collapsed. The old mode where you only have docked item, does no longer exist. This mode is incredible useful for users who are known to K

[2020-06-22 16:32] elasticmachine commented on #69646
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-06-22 16:44] timroes commented on #4673
@archon810 This seems like a separate issue from this here, around how we generate the Elasticsearch DSL from the KQL you enter, while this issue is about adding UI capabilities in the filter UI for it. Could you please open a separate issue for this, with the information you shared here?

[2020-06-22 16:56] NadeemAfana commented on #48687
In the meantime, you can use the following javascript which **switches** between **light** and **dark** modes.

Simply create a new bookmark on your browser's toolbar with the following code
[code]
and click on it once Kibana loads. I tested it and it works on v7.8.0.  Please note not everything will flip 100%, such as charts background color.

[2020-06-22 19:01] Uasantos opened #69647 "Display Values ​​in Area and Line Charts"
**Describe the feature:**
The bar and pie charts already show the values ​​directly on the chart, is there a forecast to add to the line and area charts?

**Describe a specific use case for the feature:**
Many users question the possibility of using the feature in line and area charts.

Thank you for your support.

[2020-06-22 19:50] sqren commented on #69642
Can confirm. Logging in with `apm_read_user` (custom user in APM testing process) I get the same response

![image](https://user-images.githubusercontent.com/209966/85321642-4b1d7480-b4c5-11ea-9791-fac34936dd1a.png)

Summarising my thoughts (similar to what's already been said above):
By default the observability index is `observability-annotations`. Since it is not a system index we should not qu

[2020-06-22 20:02] dgieselaar commented on #69642
@sqren:

This should already be the case - did you see something different?

WRT adding those permissions to the `apm_user` role: I'm a bit on the fence if we should do this, as the name is configurable, and permissions need to be set anyway when using the API (see https://www.elastic.co/guide/en/kibana/current/apm-app-api-user.html). I'm not sure if we have any documentation around using it in th

[2020-06-22 20:05] dgieselaar commented on #69642
@clyfish have you indexed any annotations through the API by any chance? or does this always fail?

[2020-06-22 20:22] chemalopezp commented on #69611
I have a very similar use case for this, only with logs. The alert conditions is:
[code]

[2020-06-22 21:05] sqren commented on #69642
No, just wanted to emphasize that we don't want to use the internal user in this case like we are doing in other places (agent configuration for instance).

[2020-06-22 21:07] dgieselaar commented on #69642
FWIW, I just checked a 7.8 cluster without annotations and do not see a request failure or a toast.

[2020-06-22 21:34] sqren commented on #69642
I think this is similar to the `apm-*` indices which are also configurable. We grant access to the `apm_user` anyway to provide a better OOTB experience.

Good point. OTOH they might simply use the superuser (`elastic`) for data ingestion and then expect it to work for users with read access to APM.
This is also similar to how ml works: you need extra privileges to write to ml indices but the `apm

[2020-06-22 21:37] dgieselaar commented on #69642
Agreed, this sucks, and the error message is not actionable at all.

[2020-06-22 22:21] archon810 opened #69649 "Multiple OR statements, such as a list of IPs very slow (due to nested query?)"
**Kibana version:**
7.8

**Elasticsearch version:**
7.8

**Server OS version:**
OpenSUSE 15.1

This is a follow-up to https://github.com/elastic/kibana/issues/4673#issuecomment-647200864. I'll quote it here again.

[2020-06-22 22:22] archon810 commented on #4673
Opened up a separate ticket above. I'm not sure if it's an issue with how DSL is built from KQL or if ES isn't capable of a more optimized search, but I'm all ears to test any solutions.

[2020-06-23 02:19] clyfish commented on #69642
No.
There is no `observability-annotations` index in my cluster, but there are derived annotations in `apm-*` indices.

Yes

[2020-06-23 05:09] dgieselaar commented on #69642
Thanks! Disregard what I wrote before about the 7.8 cluster, I have
superuser credentials there 🤦‍♂️.

Op di 23 jun. 2020 04:19 schreef clyfish <notifications@github.com>:

[2020-06-23 05:45] bmorelli25 commented on #69130
This looks great @asawariS and @renuhermon. Thanks for your help! I'll open a PR tomorrow per Casper's request.

[2020-06-23 05:57] kamalpreetpahwa-qasource opened #69651 "[Ingest Manager]: Add a toast message after successful deletion of enrollment token"
**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
Chrome 83

**Original install method (e.g. download page, yum, from source, etc.):**
From Download page.

**Description**
[Ingest Manager]: Successful deletion toast message does not appear after deleting enrollment token.

**Preconditions**
1.Elasticsearch should

[2020-06-23 05:57] kamalpreetpahwa-qasource commented on #69651
@manishgupta-qasource : Please review the bug.

[2020-06-23 06:00] kamalpreetpahwa-qasource opened #69652 "[Ingest Manager]: Delete icon incorrectly appears next to default token and user is able to delete the same."
**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
Chrome 83

**Original install method (e.g. download page, yum, from source, etc.):**
From Download page

**Description**
[Ingest Manager]: Delete icon incorrectly appears next to default token and user is able to delete the same.

**Preconditions**
1.Elasticsearch

[2020-06-23 06:01] kamalpreetpahwa-qasource commented on #69652
@manishgupta-qasource : Please review the bug

[2020-06-23 06:14] kamalpreetpahwa-qasource opened #69653 "[Ingest Manager]: IE11: Text "Ingest Manager" appears overlap with below description under "Overview" tab."
**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
- IE 11

**Original install method (e.g. download page, yum, from source, etc.):**
From Download page

**Description**
[Ingest Manager]: IE11: Text "Ingest Manager" appears overlap with below description under "Overview" tab.

**Preconditions**
1.Elasticsearch shou

[2020-06-23 06:15] kamalpreetpahwa-qasource commented on #69653
@manishgupta-qasource : Please review the bug.

[2020-06-23 06:20] kamalpreetpahwa-qasource opened #69654 "[Ingest Manager]: IE11: Text "Default Config" appears truncated on clicking "config.." filter under "Fleet" tab."
**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
IE11

**Original install method (e.g. download page, yum, from source, etc.):**
From Download page.

**Description**
[Ingest Manager]: IE11: Text "Default Config" appears truncated on clicking "config.." filter under "Fleet" tab.

**Preconditions**
1.Elasticsearch

[2020-06-23 06:20] kamalpreetpahwa-qasource commented on #69654
@manishgupta-qasource : Please review bug.

[2020-06-23 06:32] pheyos opened #69655 "[ML] Display cards for recognized modules in a fixed order"
When more than one module matches an index pattern on job creation, the recognized modules are not displayed in a particular order and the order may change when the same index pattern is selected again:

![recognized_module_order](https://user-images.githubusercontent.com/1945390/85368587-c9146680-b52b-11ea-8f56-32d1f996515a.gif)

Suggestion: Display the recognized module cards with a fixed (e.g.

[2020-06-23 06:32] elasticmachine commented on #69655
Pinging @elastic/ml-ui (:ml)

[2020-06-23 06:43] ruflin commented on #66551
Updated the issue with the most recent renaming to dataset fields and unassigned myself.

[2020-06-23 07:18] sorantis commented on #67754
@alexwizp Looks like it does work with multiple! It takes considerable amount of time to update the Time Field dropdown though. In my tests I wanted to visualize metricbeat-* and apm-* data: when I was adding an addition apm-* index the Time field would render empty for ~ 10 with no indication that the dropdown is still loading, hence my GH request.

We can close this one.

[2020-06-23 07:19] #67754 closed

[2020-06-23 07:21] kertal commented on #69545
Elasticsearch in 7.8 seems to have changed the `docvalue_fields` of search result. So the following request with the data @spalger provided returns:

Request in 7.8:

[code]

Hits in response in 7.8
[code]

Hits in 7.7:
[code]

[2020-06-23 07:21] flash1293 commented on #69568
@wylieconlon What do you think about debouncing the input field, keeping a transient local state and only call `setState` once every x milliseconds?

[2020-06-23 07:29] flash1293 commented on #69630
@timroes Seems like rolling back to v1 is out of question - right now the v1 api is returning a generic 404 error - this breaks <= 7.7 as well, with only >= 7.7 working if your timerange ends before 2020.

[2020-06-23 07:31] philippkahr opened #69656 "[Side Nav] Closes when opening tabs"
**Kibana version:**
7.8.0
**Elasticsearch version:**
7.8.0
**Server OS version:**
7.8.0
**Browser version:**
Edge: 83.0.478.54
Chrome: 83.0.4103.106
**Browser OS version:**
macOS
**Original install method (e.g. download page, yum, from source, etc.):**
docker
**Describe the bug:**
When clicking on a link, cmd + left click, in the non docked side nav, the side nav closes.
When right-clicking on a l

[2020-06-23 07:42] stratoula opened #69657 "Warning on required prop `sorting.sort.direction` on Vis Editor Table"
**Kibana version:**
v7.90+
**Elasticsearch version:**
v7.90+
**Browser version:**
Chrome 83.0.4103.61
**Describe the bug:**
On Visualize Editor when the user clicks to increase the rows per page (from 20 to 50) a warning appears to the console.
<img width="534" alt="Screenshot 2020-06-23 at 10 23 03 AM" src="https://user-images.githubusercontent.com/17003240/85374850-100b5780-b53e-11ea-8ad8-04a2c5

[2020-06-23 07:43] elasticmachine commented on #69657
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-23 07:52] elasticmachine commented on #69656
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-06-23 07:53] elasticmachine commented on #69652
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 07:54] elasticmachine commented on #69654
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 07:54] elasticmachine commented on #69653
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 07:56] darnautov commented on #69152
@ThomThomson Yes, this is the exact flow we have in mind. The ability to attach embeddable without redirecting (i.e. modifying a saved object) is not related to this issue, but a nice-to-have feature

[2020-06-23 07:58] rahulgupta-qasource opened #69658 "[Ingest Manager]: 'All' Link count changes as user navigates to Logs, Metrics and Security on Integrations page"
[Ingest Manager]: 'All' Link count changes as user navigates to Logs, Metrics and Security on Integrations page

**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
All

**Original install method (e.g. download page, yum, from source, etc.):**
From Download page.

**Description**
[Ingest Manager]: Inline Count to 'A

[2020-06-23 08:02] elasticmachine commented on #69658
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-06-23 08:06] chintancparekh opened #69659 "KQL Filter is not applying in Controls Visualization"
**Kibana version**: 7.6.0

**Elasticsearch version**:  v7.6.0

**Server OS version**: Cloud Deployment on Azure E32sV3

**Browser version**: Chrome Version 83.0.4103.106 (Official Build) (64-bit)

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:
These visualization is already available in Kibana Version 7.6.0

**Description of the problem including

[2020-06-23 08:07] pgayvallet opened #69660 "Delete the testbed plugins"
The `testbed` plugins don't really provide any value to the developer experience and should be deleted:
- `src/plugins/testbed`
- `src/legacy/core_plugins/testbed`
- the specific exclusion of these plugins in the build steps

[2020-06-23 08:07] elasticmachine commented on #69660
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-23 08:10] rahulgupta-qasource commented on #69658
@manishgupta-qasource Please review the bug.

[2020-06-23 08:11] timroes commented on #69659
Duplicate of https://github.com/elastic/kibana/issues/17301

[2020-06-23 08:11] #69659 closed

[2020-06-23 08:12] elasticmachine commented on #69651
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 08:12] elasticmachine commented on #69649
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-23 08:12] rudolf commented on #46705
We should move `csp` to `server.csp` https://github.com/elastic/kibana/blob/614bde927efc34c9d90b0984da3e1f2a51a784b1/src/core/server/csp/config.ts#L28

[2020-06-23 08:15] timroes commented on #69649
Just to have it directly available here, let's copy the query sent over here:

<details>
<summary><strong>Query send</strong></summary>

[code]

</details>

This looks indeed weird, that we convert a flat query like `source.ip:IP1 or source.ip:IP2 or source.ip:IP3 or source.ip:IP4` into a kind of arbitrary nested query like that. Did you use any kind of parantheses in the query, or was the query r

[2020-06-23 08:16] manishgupta-qasource commented on #69651
Reviewed & assigned to @EricDavisX

[2020-06-23 08:17] elasticmachine commented on #69647
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-23 08:19] timroes commented on #55262
Closing this as duplicate of https://github.com/elastic/kibana/issues/69100

[2020-06-23 08:19] timroes commented on #69647
Related to the issue in Lens: https://github.com/elastic/kibana/issues/69100

[2020-06-23 08:22] cauemarcondes commented on #68532
@jasonrhodes here is an example of how you can register your function.

MetricsFetchDataResponse:
https://github.com/cauemarcondes/kibana/blob/obs-api/x-pack/plugins/observability/public/typings/data_handler/index.d.ts#L41:L41

[code]

[2020-06-23 08:24] cauemarcondes commented on #68531
@jasonrhodes here is an example of how you can register your function.

LogsFetchDataResponse: https://github.com/cauemarcondes/kibana/blob/obs-api/x-pack/plugins/observability/public/typings/data_handler/index.d.ts#L36

[code]

[2020-06-23 08:30] elasticmachine commented on #66537
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-23 08:32] jloleysens commented on #69093
@jbudz This looks like it is being caused by a different change to the data streams endpoint. This time the `timestamp_field` response is no longer returning a string, but an object. Causing the test assertion to fail. This will also cause issues for our UI. I will make a PR to fix the affected areas.

[2020-06-23 08:34] sorantis commented on #66537
@mostlyjason sure, I can see that @sgrodzicki has already adding it to our backlog.

[2020-06-23 08:35] ppisljar commented on #69349
my proposal is that canvas uses expression functions direclty. Its fine that there is a way to add embeddable, but if embeddable is based on expression canvas should allow you to "inline" the embeddable, basically replacing embeddable with actual expression powering it. This is when canvas users would get full control over pallets, fonts, all the settings pretty much.

when using embeddables, i am

[2020-06-23 08:37] sgrodzicki commented on #66537
I'd keep it in a single issue for now as we'll probably cover both at the same time.

[2020-06-23 08:42] manishgupta-qasource commented on #69658
Reviewed & assigned to @EricDavisX

[2020-06-23 08:46] manishgupta-qasource commented on #69652
Reviewed & assigned to @EricDavisX

[2020-06-23 08:48] manishgupta-qasource commented on #69653
Reviewed & assigned to @EricDavisX

[2020-06-23 08:49] manishgupta-qasource commented on #69654
Reviewed & Assigned to @EricDavisX

[2020-06-23 08:51] jloleysens commented on #69093
And there is another issue that is still lingering from the original PR creating a stricter check on creating of composable index templates. Will also address that. The newer issue seems to be coming from https://github.com/elastic/elasticsearch/pull/58400

[2020-06-23 08:55] ppisljar commented on #68457
i prefer to leave this really a `esdsl` function allowing you to provide full dsl. For maximum flexibility. I think introducing a new datatype is not an issue. and if lens is not using multitable and just esdsl is it won't use multitable either, but rather do something like:

- `esdsl` returns `raw_response`
- `raw_response` can automatically convert to `datatable` (and `kibana_table`). it will ta

[2020-06-23 09:09] rudolf commented on #41439
We didn't want to mark this API as deprecated before 8.0 because that would mean that users using a completely up to date stack would receive deprecation warnings they can't do anything about.

[2020-06-23 09:11] pgayvallet commented on #69592
Note that the way we are reading/merging the config from file relies on `_.set`, meaning that atm, the dotted properties are expanded.

https://github.com/elastic/kibana/blob/415e3bca27a8e2d6dc0da555c6627a6de1d682bc/src/core/server/config/read_config.ts#L39-L49

[code]

would become
[code]

[2020-06-23 09:13] droberts195 commented on #69624
@slightlybent this is a valid enhancement request in its own right, but we might be able to do more to help.

Which version are you using?  If it's 6.6.1 or above you can use the change made in elastic/elasticsearch#38191 to maybe get a clue about why it took so long.

If you run from the command line you'll see the "explanation so far" in the timeout exception.  For example:

[code]

Often when y

[2020-06-23 09:17] flash1293 commented on #68457
@ppisljar +1 for solving that as part of the `esdsl` function and not influencing how other functions work.

[2020-06-23 09:30] timroes opened #69664 "[Side Nav] Show icons in recents list"
In the old navigation entries in the "Recently viewed" list had an item of the application they belong to in front of them:

![screenshot-20200623-095208](https://user-images.githubusercontent.com/877229/85386917-7b582800-b544-11ea-8a1f-4d095d092789.png)

In the new navigation there are no icons anymore:

![screenshot-20200623-112742](https://user-images.githubusercontent.com/877229/85387025-9aef5

[2020-06-23 09:30] elasticmachine commented on #69664
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-06-23 09:31] kertal commented on #59949
Linking #69614, also line numbers are missed

[2020-06-23 09:36] kertal commented on #59949
I can see 3 ways how we could proceed in this case:

1) Improve `EuiCodeBlock` with line numbers and expanding
2) Step back to `EuiCodeEditor` (Using Ace under the hood) https://elastic.github.io/eui/#/forms/code-editor
3) Use Monaco which is now available in Kibana to create something new

[2020-06-23 09:38] kertal commented on #69614
This is a result of our move to `EuiCodeBlock`, discussion about this can be found in #59949

[2020-06-23 09:41] gmmorris opened #69665 "Alerting appears under management even when users can't use them"
This is a follow up issue that came out of the RBAC work, specifically @legrego 's comment here: https://github.com/elastic/kibana/pull/67157#discussion_r440858106

It seems we should be limiting the appearance of the Alerting UI under Management to users who have privileges to use alerts, but at the moment we don't.

So, here are the question we need to answer:

1. Do we want to limit this UI fro

[2020-06-23 09:42] elasticmachine commented on #69665
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-23 09:50] stratoula opened #69667 "[TSVB] Background color doesn't render correctly on timeseries"
**Kibana version:**
v7.90+

**Elasticsearch version:**
v7.90+

**Browser version:**
Chrome 83.0.4103.61

**Describe the bug:**
On timeseries when the user chooses the background color to not be transparent, a border is added but the bg color of the chart remains transparent.
**Steps to reproduce:**
1. Open TSVB timeseries
2. Change the background color
3. Check that it is not applied to the chart

[2020-06-23 09:51] elasticmachine commented on #69667
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-23 09:54] stratoula commented on #69667
@markov00 I think it has to do with the es-charts. The background color is applied but is not rendered correctly. Does it ring a bell? Maybe we should change the configuration on the timeseries vis.

[2020-06-23 09:57] cnasikas commented on #67884
This PR https://github.com/elastic/kibana/pull/68372 persists the dismissal of case's callouts to local storage. It can be used by signals and probably by the timeline. I can work on this issue in this PR and fix coloring and context.

[2020-06-23 10:08] arisonl commented on #69436
Discuss issue on action types: https://github.com/elastic/dev/issues/1432

[2020-06-23 10:19] elasticmachine commented on #68443
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-23 10:33] kertal commented on #69545
This is a regression in ES, and the PR is already in the works to fix it, will link it here once available

[2020-06-23 10:42] kertal commented on #69545
Should by fixed by https://github.com/elastic/elasticsearch/pull/58418

[2020-06-23 11:17] afharo commented on #64156
Oh! Hahaha! I see the confusion here: I guess the title should have been:
"[Pulse] UsageCollection: Add new APIs to report to channels".

UsageCollection APIs are already available to any plugin that requires it. Moving it to core will simply remove the need to require it in the `kibana.json` file, but the APIs would still be the same, so plugins won't be able to proactively send "events" to "chan

[2020-06-23 11:25] stacey-gammon opened #69673 "New flag to build example plugins distributable archive, alongside build artifact"
Example plugins aren't included in the artifact but it would be useful in some situations (like hosting an instance online with these examples so we can link to it from our documentation. Then users can explore without having to download the repo).

[2020-06-23 11:25] elasticmachine commented on #69673
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-23 11:34] jasonrhodes commented on #50265
Hey all, in our observability alerting use case (and I imagine most places), our earliest users say that a programmatic API for managing alerts in bulk, or managing them from declarative code, etc. will be necessary for them to adopt us. Do we have a release in mind for customer-facing dev docs for this kind of thing? Thanks!

[2020-06-23 11:38] P1llus opened #69674 "[Enhancement Request][Anomaly Detection Job UX] Making it easier to understand what Threshold rules exists"
After working more on creating ML jobs for testing, customer demo's and such, there was one thing I found myself constantly doing with threshold rules.

This is a list of issues or scenarios I found, though a bit unsure how we want to resolve it (and if we want to):

1. I could not set a threshold in the UI during the creation of the first job, if I already know the dataset and its structure, but

[2020-06-23 11:38] #67469 closed

[2020-06-23 11:44] elasticmachine commented on #69596
Pinging @elastic/endpoint-response (Team:Endpoint Response)

[2020-06-23 11:45] elasticmachine commented on #69623
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-23 11:46] elasticmachine commented on #69633
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-23 11:46] mtojek opened #69677 "IngestManagement: can't enable the fleet"
I'm proceeding with the README steps as described in: https://github.com/elastic/kibana/blob/master/x-pack/plugins/ingest_manager/README.md#getting-started

Unfortunately I can't start the Elasticsearch correctly:

[code]

as it fails with:

[code]

The same issue affects the docker-compose setup.

[2020-06-23 11:47] elasticmachine commented on #69677
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 11:47] elasticmachine commented on #69611
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-23 11:48] elasticmachine commented on #69674
Pinging @elastic/ml-ui (:ml)

[2020-06-23 11:49] skh commented on #69677
Does this error also happen when you add `--license trial` to the `yarn es snapshot` command?

[2020-06-23 11:49] cnasikas opened #69678 "[SIEM][CASES] Improve labelling on JIRA's connectors flyout fields"
Self-hosted JIRA server does not support authentication with API tokens. Case's JIRA connector uses basic authentication as an authentication mechanism. So, if you put your username in the `email` field and your password in the `API token` field the connector can push incidents to a self-hosted JIRA server.

The labeling of the two fields should be improved in a way to make it clear to the user th

[2020-06-23 11:49] elasticmachine commented on #69678
Pinging @elastic/siem (Team:SIEM)

[2020-06-23 11:50] legrego commented on #25879
@flo-ryan thanks for letting us know! I opened https://github.com/elastic/elasticsearch/issues/58422 to track this.

[2020-06-23 11:51] mtojek commented on #69677
Just checked, unfortunately yes :(

[code]

[2020-06-23 11:52] sqren opened #69679 "[APM] Show accurate metrics for containerized applications (cgroup)"
Related: https://github.com/elastic/apm/issues/291

## Background
Currently the memory metrics displayed in the APM uses the following fields:

https://github.com/elastic/kibana/blob/6cc8ea1861fa087199193b337db03c9144fc7687/x-pack/plugins/apm/common/elasticsearch_fieldnames.ts#L67-L68

And memory usage is calculated in a scripted field:
https://github.com/elastic/kibana/blob/8a6a55097da187f07ca8c6

[2020-06-23 11:52] elasticmachine commented on #69679
Pinging @elastic/apm-ui (Team:apm)

[2020-06-23 12:08] rahulgupta-qasource opened #69680 "[Ingest Manager]:'View more details.' link text is not highlighted on main app tabs (ie Fleet)"
[Ingest Manager]:'View more details.' link text is not highlighted on Overview, Integrations, Configurations, Fleet and Data streams tab of Ingest Manager page

**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
All

**Original install method (e.g. download page, yum, from source, etc.):**
From Download page.

**De

[2020-06-23 12:11] adriansr opened #69682 "[Ingest Manager] can't deal with large configurations in packages"
**Kibana version:** master

**Elasticsearch version:** 7.7.1

**Server OS version:** Darwin

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

Testing a Filebeat package with a "large" JS pipeline (~2700 lines, 140KB), I get the following error when adding the datasource:

[code]

This is

[2020-06-23 12:11] elasticmachine commented on #69682
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 12:11] elasticmachine commented on #69680
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-06-23 12:21] rahulgupta-qasource commented on #69680
@manishgupta-qasource Please review the bug.

[2020-06-23 12:26] NerdSec commented on #68409
Hi @spong ,

This is really encouraging and definitely a required feature. I just had a question on how do we handle data that is coming with a delay?

I agree that this is a broad question, and not really something that should concern the log aggregator. But in reality, getting logs in realtime is not always feasible. An obvious workaround would be to increase the timeframe, but then you have to

[2020-06-23 12:33] mikecote commented on #50265
@jasonrhodes no specific release yet though targeting 7.10 with server side GA.

[2020-06-23 12:36] manishgupta-qasource commented on #69680
Reviewed & Assigned to @EricDavisX

[2020-06-23 12:36] pmuellr commented on #50267
A quick peek through NPM shows some popular proxy libraries

- https://www.npmjs.com/package/proxy-agent
- https://www.npmjs.com/package/socks-proxy-agent
- https://www.npmjs.com/package/socks

The first two are related - the first calls the second - and the first seems to cover "http and https proxies" and not just SOCKS proxies.  I'm guessing that watcher supports just SOCKS, but I haven't peeke

[2020-06-23 12:38] skh commented on #69677
Are you using this with an existing `data` directory?

When I start up `elasticsearch` with
[code]
it successfully enables security:
[code]
Connecting with Kibana to it, logging in and enabling fleet with the `Enable Fleet` button in the UI works as expected.

I'm on Kibana `master` at b00deeb7543512c7af59619ad07a00776d58e274 .

[2020-06-23 12:48] ruflin commented on #69677
On `6cc8ea1861fa087199193b337db03c9144fc7687` on my end and things work as expected. The only part I din't use is the `-E network.host=localhost`. Will try with this flag.

[2020-06-23 13:00] EricDavisX commented on #69654
we can check and see if this is working any better in the 8.0 line, so we could close it if so.  if it is not, and it is only in IE 11 we can prioritize it as such.  IE 11 is likely to be lower priority moving forward

[2020-06-23 13:00] elasticforme commented on #69646
1+

[2020-06-23 13:02] EricDavisX commented on #69680
we can check and see if this is working any better in the 8.0 line, significant feature hardening and development has been done there already.  With that info, then we can prioritize it for 8.0 / 7.9 assessment.  Please assign to PH after this review

[2020-06-23 13:12] EricDavisX commented on #69652
Can you help confirm where it was indicated that this is not allowed?  It may seem strange, but it is expected behavior that it can be deleted.  I confirmed with dev team.

So, I will close this and if we have any docs or wiki or git issue to update to reflect the same we can proceed to update that.  Thank you @kamalpreetpahwa-qasource

[2020-06-23 13:12] #69652 closed

[2020-06-23 13:12] nickofthyme commented on #69667
Yes most definitely, I'll look into this issue this morning. Thanks @stratoula

[2020-06-23 13:25] mikecote commented on #69029
@XavierM with the direction we discussed last week, I believe we're good to close this issue for now?

[2020-06-23 13:50] kertal commented on #64799
Was taken care with #68213

[2020-06-23 13:50] #64799 closed

[2020-06-23 14:02] #62866 closed

[2020-06-23 14:05] nchaulet opened #69686 "[Ingest Manager] Allow to filter agent list by the package they are running"
## Description

We want to allow users, and other plugins (endpoint) to filter agent by the packages they are running.

# Implementation

We can populate a field `packages: string[]` when the agent ack for a config change. Users will be able to filter agents with a kuery like `fleet-agents.packages:endpoint`

cc @nnamdifrankie

[2020-06-23 14:05] elasticmachine commented on #69686
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 14:26] nchaulet commented on #69416
I was not able to have a repro locally, @bmorelli25 do you mind pinging me if you still have the issue to debug it in your environment.

[2020-06-23 14:29] Crazy1van opened #69690 "Add top_hits aggregation to Transfrorms"
It would be great if Transforms supported top_hits aggregation (or something similar).  We have many use cases where Transforms are very useful, but we also need some contextual data in the output.  For example, if we are grouping by file hash, we cannot also include a corresponding file name/path.  This makes Transforms much less viable for the very use cases for which they were intended - namely

[2020-06-23 14:29] pgayvallet commented on #41439
Makes sense. Should we just remove it in 8.0 as a 'breaking' change then, or do we want to support it for a time after 8.0 is out?

[2020-06-23 14:34] pgayvallet commented on #69110
After sync discussion with the team:
- We will be implementing the `exactRoute` option for `7.9`
- Depending on the need from other apps/teams, we will see post `8.0` if we implement an equivalent of legacy's `NavLink` to allow registering multiple navLinks pointing to different paths of the same app. If we do so, we would then probably deprecate the `exactRoute` option in favor of using this new

[2020-06-23 14:35] cchaos opened #69691 "[Nav] Custom plugin images that are url's do not display properly in the nav drawer"
Ported from EUI:

---

My implementation is working fine till 7.6.x release. I am facing issue while migrating plugin to 7.7.x. I have attached my plugin screenshot of custom plugin icons. It looks bigger than default EUI icons. As per my analysis 'class="euiIcon euiIcon--medium euiIcon--app euiIcon-isLoaded euiListGroupItem__icon"' is not getting included for custom icon which are implemented usi

[2020-06-23 14:37] cchaos commented on #69691
I think I narrowed it down to this function
https://github.com/elastic/kibana/blob/cc893f3da4ad92c6ec10cfc96d5a2ad362789775/src/core/public/chrome/ui/header/nav_link.tsx#L31-L33

EuiIcon supports custom url's as the `iconType` and so the nav drawer should continue to render it as an EuiIcon. Instead EuiImage with `size='s'` has an inherit size of `120x120px` which is way too large.

[2020-06-23 14:38] elasticmachine commented on #69691
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-06-23 14:41] philippkahr opened #69697 "[Enhancement] Multi close toast notifications"
Hi,

sometimes you run into such issues, displaying a lot of toast notifications. (especially when using async searches, since TSVB, timelion do not work with it)
![image](https://user-images.githubusercontent.com/12175559/85416726-1b2aab80-b56f-11ea-9fbf-540ceb0ca609.png)

You can now just reload the entire page, which takes time and kicks off the same search again (since you cannot change the se

[2020-06-23 14:42] cauemarcondes commented on #69130
@bmorelli25 I assigned you to this issue since you mentioned you'd open a PR fixing it. Can you also tag it to be closed when you merge the PR, please?

If you need help just let me know!

[2020-06-23 14:47] nnamdifrankie commented on #69686
This will work, we will have another ticket for status changes.

[2020-06-23 14:47] nnamdifrankie commented on #69686
https://github.com/elastic/endpoint-app-team/issues/451

[2020-06-23 14:54] mikecote commented on #69665
In theory everyone has access to alerting so there wouldn't be a UI to limit?

The goal is to give everyone access to this UI. It may not appear for those who don't have access to management but anyone who can should see the "alerts and actions" section to create and manage built in alerts at a minimum. For those who can't access the management app, the HTTP APIs will still work for them until we

[2020-06-23 15:04] wylieconlon commented on #55262
@timroes This is not a duplicate, it's asking for a different feature which elastic-charts does not yet support: https://github.com/elastic/elastic-charts/issues/635

[2020-06-23 15:08] Kerry350 opened #69696 "[Logs UI] [Alerting] Expand documentation"
The following updates should be made to the docs:

- Make it clear which query types are used by which comparators

The current logs alerting docs (https://www.elastic.co/guide/en/logs/guide/current/create-log-alert.html) make it clear that different fields will result in different comparator options, but it's not 100% clear which query types these comparators use.

We should expand the docs to cl

[2020-06-23 15:08] elasticmachine commented on #69696
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-23 15:12] dhurley14 opened #69698 "[Security Solution] [Detections] Consider changing alerting permissions from 'all' to 'read'"
When the alerting RBAC pr is merged (https://github.com/elastic/kibana/pull/67157), we can consider modifying the permission for the alerting plugin in SIEM from 'all' to 'read' https://github.com/elastic/kibana/pull/67157/files#r438039912

[2020-06-23 15:12] elasticmachine commented on #69698
Pinging @elastic/siem (Team:SIEM)

[2020-06-23 15:12] chrisronline commented on #33496
One possible way to handle this to create this default saved objects that are read-only, but allow a way in the UI to "copy" the SO to the users space and then they can edit it and have the appropriate permissions established. This would work well for Stack Monitoring and our concept of "out of the box alerts" - something that is there by default and functional for all users/spaces, but an option

[2020-06-23 15:19] nchaulet commented on #68587
I will close this one in favor of https://github.com/elastic/kibana/issues/60865

[2020-06-23 15:19] #68587 closed

[2020-06-23 15:37] wylieconlon commented on #3387
I've just updated the title of this issue because it's specific to the pie chart.

[2020-06-23 15:44] aisantos opened #69700 "[Security Solution] Security App Button on Auditbeat tutorial page not navigating to Security App"
**Elasticsearch version:**
8.0

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug**
On the Auditbeat tutorial page, clicking on the Security App button redirects to an Application Error page due to the url link not being updated to new navigation

**To Reproduce**
Steps to reproduce the behavior:
1. Start elasticsearch instance
2. Start Kiban

[2020-06-23 15:45] elasticmachine commented on #69700
Pinging @elastic/siem (Team:SIEM)

[2020-06-23 15:48] legrego commented on #69665
_Everyone_? Just to make sure I understand, you would expect a user with read-only access to Canvas (and _nothing else_) to be able to see alerts and actions?

The management app itself isn't something that's directly controllable. We don't have a way to turn off the management app altogether, but rather, we are relying on access to the individual features inside to figure out of management should

[2020-06-23 15:49] wylieconlon commented on #69568
@flash1293 sounds like the first thing to try!

[2020-06-23 15:49] flash1293 opened #69702 "License management doesn't load without telemetry plugin"
**Kibana version:** master

**Describe the bug:** If telemetry is disabled using the yml setting (`telemetry.enabled: false`), the License management screen won't load at all

**Steps to reproduce:**
1. `telemetry.enabled: false` in yml file
2. Start server
3. Log in and go to Management > License managemet
4. Blank screen

**Errors in browser console (if relevant):**

[code]

**Provide logs and/o

[2020-06-23 15:49] elasticmachine commented on #69702
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-23 15:55] ogupte opened #69704 "[APM] Breakdown chart shows gaps with short date range filter"
The breakdown stacked line chart shows intermittent gaps when the user decreases the date range to ~1 hour or less:
![image.png](https://zube.io/files/elastic/f97b02bc6c60771219d38ba1256cab03-image.png)

Also, when hovering in these gaps, there are some points which have data but are not displayed since there is no adjacent data:
![image.png](https://zube.io/files/elastic/78d6992bb0be14056247c9790

[2020-06-23 15:55] elasticmachine commented on #69704
Pinging @elastic/apm-ui (Team:apm)

[2020-06-23 15:58] TinaHeiligers commented on #58249
We need to see if this has any influence on the solutions usages pipelines

[2020-06-23 16:00] mistic opened #69706 "Use Bazel for Kibana builds"
We are planning to slowly introduce and using [Bazel](https://bazel.build/) as our main build tool.
That issues summarises the steps we plan to take during the process.

### Phase 1 (COMPLETED) https://github.com/elastic/kibana/issues/79757 https://github.com/elastic/kibana/issues/92220

#### Goals

- Introduce the first building blocks in order to be possible to use bazel into the project
- Build

[2020-06-23 16:00] elasticmachine commented on #69706
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-23 16:09] #68901 closed

[2020-06-23 16:12] mchopda commented on #65946
@spong does this also include the quick filters for endpoint view?

[2020-06-23 16:17] webmat commented on #69491
Looking forward to see what you come up with.

If any of the fields selected aren't in ECS, please open an issue to have them added! The common fields should be in ECS. When something's not in ECS, it only means it's not in ECS **yet** :-)

In a recent unrelated discussion I was suggesting the following high level fields:

* event.module and event.dataset together (the "module.dataset" convention

[2020-06-23 16:21] #67512 closed

[2020-06-23 16:34] shahzad31 opened #69712 "[RUM Dashboard] Charts breakdown"
**Describe the feature:**
On Rum dashboard we need to add charts breakdown by location, device and browser.
Breakdowns will be added on page load distribution chart and page view chart.

**Describe a specific use case for the feature:**
### Page load distribution
Breakdown menu allowing breaking down into individual series for Country, Device Type, Browser Family + Major Version and OS Family + Ma

[2020-06-23 16:34] elasticmachine commented on #69712
Pinging @elastic/uptime (Team:uptime)

[2020-06-23 16:47] alexfrancoeur commented on #25734
I know as part of this discussion, we also have explored adding or not adding an interstitial page. I wanted to note here, that we will need to provide notice of telemetry that is captured in the first run of Kibana. Happy to provide more details when we start building the Elastic home page out.

![image](https://user-images.githubusercontent.com/25181823/85431364-7482e280-b54f-11ea-9aa9-b33111319

[2020-06-23 17:00] andrewvc opened #69716 "[Uptime] Add Data Connector for observability homepage"
We'll need to add a connector to support the data in https://github.com/elastic/kibana/issues/68176 for Uptime. Also see https://github.com/elastic/kibana/issues/68531 and https://github.com/elastic/kibana/pull/69257

AC:
* On plugin start, we register a function using `plugins.observability.dashboard.register()` returning the following data:
  * `pings` for the time series chart showing pings ove

[2020-06-23 17:00] elasticmachine commented on #69716
Pinging @elastic/uptime (Team:uptime)

[2020-06-23 17:00] LeeDr commented on #22221
This is in place now.  Closing.

[2020-06-23 17:00] #22221 closed

[2020-06-23 17:03] joshdover opened #69717 "Track developer telemetry stats for kbn/optimizer"
Mostly a placeholder issue right now for collecting ideas and thoughts on how we could use telemetry in development to track optimizer build times, CPU usage, and memory usage on developer machines.

cc @spalger

[2020-06-23 17:03] elasticmachine commented on #69717
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-23 17:07] lukeelmers commented on #69379
Reposing [my comment](https://github.com/elastic/kibana/pull/68844#discussion_r444362879) from the index patterns serialization PR.

TLDR I think as part of this issue we should also move the `initFromSpec` operations into the IndexPattern constructor, if it hasn't already been done so in that other PR.

[2020-06-23 17:07] kertal commented on #67732
@otisg yes, it was merged back and will be part of 7.7.2

[2020-06-23 17:26] clintandrewhall commented on #69349
@wylieconlon While a provided UI is useful, it won't be everything Canvas needs.  We'll want to default colors/font/etc programmatically as well as to the user.

@ppisljar We shouldn't limit this to the realm of expressions, (e.g. "we'll place a parameter in the expression").  I agree that having these customizations there is useful as well as germane... but we can't discount programmatic customiz

[2020-06-23 17:36] spong commented on #69319
@randomuserid & @blaklaybul -- Do you think we're good to remove the `Beta` labeling on these jobs as well?

[2020-06-23 17:37] EricDavisX commented on #69651
removing 'impact:high' label, the toast is low priority as I'd assess the feature

[2020-06-23 17:38] lucabelluccini opened #69720 "Saved object migration halts due to too long shortened url saved objects"
**Kibana version:** Reproduced on 7.6.2 to 7.8.0 (others might be affected). **Cannot reproduce updating to 7.7.1.**

**Elasticsearch version:** Aligned with Kibana

**Describe the bug:**

Kibana fails to finalize the saved object migration showing the errors:
[code]

If auto-restart (e.g. Elastic Cloud or ECE), it will trigger:
[code]

Deleting the `.kibana_10` will not solve the issue as it will

[2020-06-23 17:44] cjcenizal commented on #69640
Thanks for raising this @n0ox. I'll need a little more information to understand the root of the problem. Could you please copy and paste the results of these two requests? (Copy and paste is better than screenshots because then I can use the text).

[code]

[code]

[2020-06-23 17:49] #65968 closed

[2020-06-23 18:19] XavierM commented on #67884
For the timeline's call out, the team agreed that it should always be there so user know that it is not being persisted.
For case's call out, we agreed that we should only do it for info call out and we will keep the other ones since it can be an error/warning that we want the user to be aware of.

[2020-06-23 18:20] tylersmalley commented on #69720
@stacey-gammon, is this something which the URL shortener can avoid? If so, mind tagging this for the correct team - I am not sure if it falls under AppArch.

[2020-06-23 18:27] philippkahr opened #69729 "Kibana Painless Lab does not honor system shortcuts"
**Kibana version:**
7.8.0
**Elasticsearch version:**
7.8.0
**Server OS version:**
Docker container
**Browser version:**
Chrome: 83.0.4103.106
**Browser OS version:**
macOS 15.5
**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
Kibana does not honor macOS default shortcuts such as `ctrl+k` which would delete the current line.

**Steps to reprodu

[2020-06-23 18:27] EricDavisX commented on #69651
the spec did not include a 'toast' here, I checked with 'dev' so it is not a bug and I've removed that label.  If we have it listed in wiki or other docs we can update that, @kamalpreetpahwa-qasource please do so to reflect current code.

the ingest team will consider putting this in for consistency across screens in a coming release.  thanks.

[2020-06-23 18:30] lukasolson commented on #69049
I believe `version` is required in discover because if auto-refresh is on, and a document is updated in ES, we will only see the updated doc if we request the `version` (see https://github.com/elastic/kibana/pull/10385).

Regarding `stored_fields`, I think that has been included historically just in case there are fields that are stored in the mapping... We might be able to have an advanced option

[2020-06-23 18:36] lukasolson commented on #69649
Just FYI, the following syntax is supported:

[code]

However, I believe it still generates in the nested structure. Are you sure the bottleneck is caused by how the query is written (i.e. the query runs more quickly when sending it in a single `bool`)? If so, we could potentially change things so that it doesn't, but it seems like Elasticsearch should be more intelligent in how it processes the q

[2020-06-23 18:38] elasticmachine commented on #69720
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-23 18:39] stacey-gammon commented on #69720
Interesting. I'm not aware of why that code was changed in 7.8. Url shortener is on the App Arch team, added their label

[2020-06-23 18:42] lukasolson commented on #59193
It would be easy to keep `service.name` in the list of suggestions. It was originally left out for the reasons specified above (i.e. you've already typed out the whole field name, so why include it in the suggestions?) but I think it's useful just so the end user knows that `service.name` is the correct field name.

As for why the other fields are showing up, that was by design. We don't want user

[2020-06-23 18:47] archon810 commented on #69649
I also tried this syntax before reporting, just forgot to mention it `source.ip:(IP1 or IP2 or IP3 or...)` and observed what you did that it didn't change the query.

[2020-06-23 18:50] lukasolson commented on #41436
Haven't seen any response to get more details regarding reproducing this error, so closing it out. Feel free to re-open with additional details on how to reproduce.

[2020-06-23 18:50] #41436 closed

[2020-06-23 18:53] lukasolson commented on #20364
Closing this out as we've refactored courier and the querying infrastructure in the new data.search service, which essentially works in the same way this discussion led to.

[2020-06-23 18:53] #20364 closed

[2020-06-23 18:53] myasonik commented on #69656
@cchaos, what do you think? Is this a bug, valid feature request, or a UX we're not supporting?

I ask because the EUI demo isn't fully wired up (given that clicking on a link without opening in a new tab doesn't close the nav either and doesn't do anything).

[2020-06-23 18:55] EricDavisX commented on #69658
This looks a little strange as it is.  I think either a bug or not, we can improve it to be more natural and informative as to what the 'All' number relates as the user filters thu the list.  re-assigning to PH to assign to the team when we do our next bug-triage

[2020-06-23 18:55] EricDavisX commented on #69658
removing 'high' impact label

[2020-06-23 18:55] wylieconlon commented on #69349
@ppisljar Your proposal of using the Lens functions directly is not something that I'm comfortable doing until we are GA, because we intend to change the API soon. The same goes for Visualize: we should find a solution that lets us style the embeddable from the outside.

@clintandrewhall If we don't provide an editor for use by apps like Canvas, then Canvas will have to provide the same kind of st

[2020-06-23 19:05] wylieconlon opened #69734 "[Lens] Datapanel disappears when typing invalid KQL syntax"
Because we use the filter bar filters to determine field existence, invalid KQL syntax ends up throwing an uncaught error in the datapanel.

Example syntax: `@timestamp : NOT *`

Error screenshot:

<img width="332" alt="Screenshot 2020-06-23 15 02 59" src="https://user-images.githubusercontent.com/666475/85446826-eca6d380-b562-11ea-855c-35d8c0dc1094.png">

[2020-06-23 19:05] elasticmachine commented on #69734
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-23 19:06] mikecote commented on #68913
@joshdover is the scope of work of this issue to include task manager and event log or should I create another issue for the alerting team to work on those?

[2020-06-23 19:10] alexfrancoeur commented on #69656
I actually ran into this too and it felt like a bug to me, I just forgot to log it 😄

[2020-06-23 19:12] #68821 closed

[2020-06-23 19:14] #44001 closed

[2020-06-23 19:14] #44122 closed

[2020-06-23 19:14] #46509 closed

[2020-06-23 19:16] bmorelli25 opened #69739 "[APM] docs: Update documentation to reflect new errors overview"
Update documentation to reflect the changes to the errors overview page.

* PR: https://github.com/elastic/kibana/pull/67327
* Issue: https://github.com/elastic/kibana/issues/65619

[2020-06-23 19:16] elasticmachine commented on #69739
Pinging @elastic/apm-ui (Team:apm)

[2020-06-23 19:28] hbharding opened #69740 "[Ingest Manager] Designs for enabling experimental packages"
Per https://github.com/elastic/kibana/issues/64869, we need a way to enable the use of experimental packages. This will be useful for development purposes, but users may be interested in trying these out too. Currently, we display experimental packages by default, which makes the registry look a bit messy.

In addition to being able to toggle their display, we should indicate whether a package is

[2020-06-23 19:28] elasticmachine commented on #69740
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 19:44] bmorelli25 commented on #69642
Right now we only have documentation around the permissions needed for the annotations API. I can definitely add docs for the permissions required for derived annotations. Is `read` and `view_index_metadata` privileges for `observability-annotations` correct?

[2020-06-23 19:51] stacey-gammon commented on #41833
I'll leave this issue open till the end of the week for any more comments.  If nothing big comes up, the plan forward is:

- Migrate `contributing.md` content into asciidoc, move it into our hosted developer guide, clean up the current content, and outline the directory structure. (https://github.com/elastic/kibana/pull/67764)
- Create `kibana/dev_docs` and move `kibana/docs/developer` content int

[2020-06-23 19:52] cchaos commented on #69656
Seems like a valid experience to me.

[2020-06-23 19:54] arisonl commented on #57446
- To which of the three instances does this histogram correspond?
- Is this the alert details page for all types of alerts? In that case, a histogram is not necessarily applicable to all types of alerts?
- Is a histogram the right choice if you have a large window selected with the time picker? In that case you might have a more continuous picture (dense data points).
- Should the status values co

[2020-06-23 20:03] spong commented on #65946
@mchopda -- Just checked with product/design and verified that we won't be having a quick filter for `Endpoint alerts`, so the current filters (`Open alerts` / `In-progress alerts` / `Closed alerts`) are 👍 .

Going to close this issue now that #67731 has been merged.

[2020-06-23 20:03] #65946 closed

[2020-06-23 20:04] lukasolson commented on #47314
Duplicate of https://github.com/elastic/kibana/issues/47314.

[2020-06-23 20:04] #47314 closed

[2020-06-23 20:09] mshirley commented on #47314
@lukasolson looks like you closed this as a duplicate of itself.

[2020-06-23 20:11] lukasolson commented on #22206
Closing this out. We are encouraging all applications and solutions to migrate to the data plugin search service, which properly sets this parameter.

[2020-06-23 20:11] #22206 closed

[2020-06-23 20:13] aaronjcaldwell commented on #69372
Thank you for bringing this to our attention! :pray:

[2020-06-23 20:13] elasticmachine commented on #18901
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-06-23 20:14] lukasolson commented on #18901
If this is a matter of sending `ignore_unavailable=true` in the request, it should be just a matter of using the data plugin search service in the CSV reporting functionality.

[2020-06-23 20:14] lukasolson commented on #16998
This has been resolved.

[2020-06-23 20:14] #16998 closed

[2020-06-23 20:15] lukasolson commented on #16951
Closing for inactivity. Please feel to re-open if this is still an issue.

[2020-06-23 20:15] #16951 closed

[2020-06-23 20:19] #69502 closed

[2020-06-23 20:23] lukasolson commented on #47314
Oops, thanks! Meant to close as a duplicate of https://github.com/elastic/kibana/issues/36630.

[2020-06-23 20:33] shahzad31 opened #69747 "[Uptime] Dark theme broken for charts"
Dark theme for charts is broken on uptime app

![image](https://user-images.githubusercontent.com/3505601/85458354-4e862e00-b5a1-11ea-9d0e-ba9dbb03480a.png)

[2020-06-23 20:34] spong commented on #68409
Hey there @NerdSec -- thanks for commenting! 🙂

To better handle delayed events we'll be adding the ability to specify a `Default Timestamp` setting as part of the rule (https://github.com/elastic/kibana/issues/65941) so users can specify which timestamp field the rule will use during it's execution phase. This'll allow us to specify which timestamp is closest to ingest time, so if any data is del

[2020-06-23 20:34] elasticmachine commented on #69747
Pinging @elastic/uptime (Team:uptime)

[2020-06-23 20:40] lukasolson commented on #48480
Hmm, the error message here is not super useful but there is actually a problem with your scripted field. Some values for your scripted field are not returning any value whatsoever (see how there isn't any terminating `else` condition?).

We might be able to more gracefully handle this situation, so I'm going to leave this open, but you might try adding a terminating `else` condition to see if tha

[2020-06-23 20:45] lukasolson commented on #48797
Reopening. Requests are being cancelled in the second scenario, but not when users navigate away.

[2020-06-23 20:45] #61976 closed

[2020-06-23 20:51] mostlyjason opened #69750 "[Ingest Manager] Required fields should be auto-expanded in Config UI"
In the integration configuration editor UI, the streams with required fields are collapsed by default. This makes it difficult for users to know what is being collected, or if they need to edit any of the fields.

This is particularly true for custom logs, where the path of the log file is blank by default but it cannot operate without a valid path. The streams should be expanded so that the user

[2020-06-23 20:51] elasticmachine commented on #69750
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-23 21:03] jen-huang commented on #69750
If streams are all expanded by default, the page can get very long due to number of streams.

IIRC the decision was made to collapse streams by default so that the flow for user adding a data source is a simple as possible (most of the complexity is hidden). cc @hbharding for further input.

[2020-06-23 21:06] jen-huang commented on #69658
FYI This bug was filed as #64981 already, @EricDavisX can you close either this one or that one? Thanks!

[2020-06-23 21:16] cjcenizal opened #69751 "[Mappings editor] Add UI form for constant keyword datatype"
Currently, the mappings editor does not have a UI form for the `constant_keyword` datatype (https://www.elastic.co/guide/en/elasticsearch/reference/master/constant-keyword.html).

We need to add this type to the type dropdown select and also create a form to support editing the parameters of this field.

[2020-06-23 21:16] elasticmachine commented on #69751
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-06-23 21:20] thomasneirynck opened #69752 "[Maps] Add pointer to max_result_window index config"
Maps should provide a little pointer or call-out explaining where the default 10k setting is coming from.

![image](https://user-images.githubusercontent.com/1833023/85464332-811a3180-b575-11ea-89d8-6fcaf3a55de5.png)

Some information that this is the `max_result_window` config would be helpful (e.g. users could set it differently).

[2020-06-23 21:20] elasticmachine commented on #69752
Pinging @elastic/kibana-gis (Team:Geo)

[2020-06-23 21:21] neptunian commented on #67760
if a user wants to change a field in the index pattern, should we be overriding it?  it seems like we should not go through all the logic of creating the index pattern for already installed packages in any case.

[2020-06-23 21:26] #69317 closed

[2020-06-23 21:28] joshdover commented on #68913
TBD, but I suspect doing this for task manager (or any SO-managed index) would be trivial or automatic if we do this for the main SO index.

For other indices, let's see if there's a real need. This is sort of a nice-to-have that keeps Kibana responsive enough to make it useful for diagnosing the issues with the ES cluster. I don't think the auxiliary indices should have the same priority as the p

[2020-06-23 21:39] EricDavisX commented on #69658
Thanks Jen! We usually do duplicate issue searches but are just getting used to the repos and languages to use to query.  And so while the wording in the ticket is nice, by usual QA process we'll close this out to the one that was logged earlier.  It brings a new idea to mind - we could do a search across git as:

https://github.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22Ingest+Management%3Abeta

[2020-06-23 21:39] #69658 closed

[2020-06-23 21:42] #69093 closed

[2020-06-23 21:59] sqren commented on #59193
Agreed! Are you still working on kql?

[2020-06-23 22:31] thomasneirynck opened #69763 "[Maps] Should not create filter-pill for source-layer when apply-global is turned off"
For layers with term-joins, when clicking the (+)-filter-creation in a tooltip, it creates an invalid filter pill.

Steps
1. upload geosjon the world-countries file from maps.elastic.co
2. create a term-join agains `iso2` and `kibana_sample_logs.geo.dest` field
3. turn off apply-global filter
4. click on a country to open the tooltip
5. click the (+) button next to the iso2 field

-> it creates tw

[2020-06-23 22:31] elasticmachine commented on #69763
Pinging @elastic/kibana-gis (Team:Geo)

[2020-06-23 22:36] nreese commented on #69763
closing, duplicate https://github.com/elastic/kibana/issues/64861

[2020-06-23 22:36] #69763 closed

[2020-06-23 23:32] joelgriffith commented on #48182
Closing in favor of https://github.com/elastic/kibana/issues/68724, which covers untested modules.

[2020-06-23 23:33] nickpeihl commented on #53127
[tiny-sdf](https://github.com/mapbox/tiny-sdf) might be useful here. AFAICT, it uses fonts available in the browser to create glyphs that can be used in webgl.

[2020-06-23 23:34] EricDavisX commented on #69677
the fix seemed to be to add:
xpack.encryptedSavedObjects.encryptionKey: "01234567890123456789012345678901"
to your start up script for ES...  Interesting, I didn't know this option. Is it new after 7.8 GA @nchaulet ?

Does this indeed need to go into public docs?  @dedemorton I think it does, lets see what version info comes from team and more usage info.  I don't know if we need recommendation fo

[2020-06-23 23:34] #67784 closed

[2020-06-24 00:22] kibanamachine commented on #65016
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6134/)

[2020-06-24 00:22] #69130 closed

[2020-06-24 03:06] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6081/)

[2020-06-24 06:52] kamalpreetpahwa-qasource commented on #69651
Hi @EricDavisX

Thanks for sharing your feedback on this.

We have updated corresponding 02 test cases under "Ingest Manager Kibana Oriented Proposed Smoke Test Cases" Wiki page.

Test Case 1: click thru to create a new one, then delete it right after by clicking the 'Action' trash can icon in the right side of the row.
Test Case 2: click the trash can icon to delete it.

As this will consider for

[2020-06-24 06:52] #69651 closed

[2020-06-24 06:53] kamalpreetpahwa-qasource commented on #69653
Hi @EricDavisX ,

We noticed that  Kibana 8.0 cloud environment is not accessible on IE 11 browser, as it does not support IE 11 anymore.

So, we are closing this issue.

Thanks

[2020-06-24 06:53] #69653 closed

[2020-06-24 06:54] kamalpreetpahwa-qasource commented on #69654
Hi @EricDavisX ,

We noticed that Kibana 8.0 cloud environment is not accessible on IE 11 browser, as it does not support IE 11 anymore.

So, we are closing this issue.

Thanks

[2020-06-24 06:54] #69654 closed

[2020-06-24 07:08] aisantos commented on #69429
I was still seeing this error today while testing VM's against a cloud instance. Paired with @kevinlog on the issue and we discovered it could be related to the policy information missing from the `elasticendpoint.yaml` file. Keeping this issue open to retest after adding policy info in `elasticendpoint.yaml`

[2020-06-24 07:09] NerdSec commented on #63290
I think all the options discussed have their trade-offs. In a sense the issue is with the implementation of the current SIEM, where the data is indexed first and then queried in a periodic manner. So delays in log ingestion cannot be accounted for in the queries, without accepting a global delay of some sort. In a sense we are running smaller chunks of a report in a shorter timeframe and not reall

[2020-06-24 07:12] rahulgupta-qasource commented on #69680
Hi @EricDavisX

Thank you for the feedback.

We have tested this issue on latest working 8.0 snapshot and found that issue is also occurring on it.

'View more details.' link text is not highlighted on Overview, Integrations, Configurations, Fleet and Data streams tab of Ingest Manager page.

Assigning this issue to PH.

[2020-06-24 07:22] NerdSec commented on #68409
One small input here. In most of the use cases we have implemented, we ended up needing the `terms`, `date_histogram`, `cardinality`, and `bucket_selector` aggs. We did not the ESQL implementation, rather built the agg queries in the console, which wasn't quite user friendly.

### Some use cases:
* Multiple logon failures from single source IP
* Concurrent user logins from multiple regions/geo loc

[2020-06-24 07:38] markov00 commented on #14715
This will come as part of the bigger picture of general attribute sharing across multiple visualizations on a dashboard
see https://github.com/elastic/kibana/issues/61977

[2020-06-24 07:52] ruflin opened #69775 "[Ingest Manager] Use new downloads paths in Package Registry"
In https://github.com/elastic/package-registry/pull/512 the API for the downloads in the package registry was changed. In Ingest Manager the logic to grep the download paths should be adjusted.

As soon as the change is done, a follow up issue in the package registry should be filed to remove the all `download` entry.

[2020-06-24 07:56] timroes commented on #67732
@otisg Since 7.8.0 is already released there is no further 7.7 patch release planned unless significant severe security issues will pop up. So I fear you'll not get a 7.7.2 with that fix in it, but need to update to 7.8.0 to get it.

[2020-06-24 08:04] ruflin commented on #67760
In the best case, these index patterns would be read only so users can't modify them. For now, I think our only option is to override them?

[2020-06-24 08:06] elasticmachine commented on #69729
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-06-24 08:11] elasticmachine commented on #69697
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 08:16] elasticmachine commented on #69690
Pinging @elastic/ml-ui (:ml)

[2020-06-24 08:17] elasticmachine commented on #69497
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 08:20] #66414 closed

[2020-06-24 08:20] #68533 closed

[2020-06-24 08:21] #67981 closed

[2020-06-24 08:25] #69344 closed

[2020-06-24 08:38] elasticmachine commented on #69702
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-24 08:39] #61218 closed

[2020-06-24 08:40] pgayvallet commented on #69702
@spalger I guess this is an optimizer / public dir thing?

[2020-06-24 08:47] pgayvallet commented on #69639
@rudolf Do we have any way to find which SO type / migration is causing this error?

[2020-06-24 09:07] pgayvallet commented on #68562
Drawback of this option is that the state of the currently mounted app would be accessible from any plugin, whereas using the `scopedHistory` instead would restrict this access to the active application, which may be safer? OTOH I agree that having the API directly on the application service may be a better dev exp.

I quite agree with Josh on that one. As the typeguard function would have to be p

[2020-06-24 09:25] pgayvallet commented on #46705
Should this be moved to an earlier release then? It's currently on our `8.0 - Tentative` board.

[2020-06-24 09:26] #61308 closed

[2020-06-24 09:26] #66878 closed

[2020-06-24 09:26] #68147 closed

[2020-06-24 09:44] peteharverson commented on #69690
See https://github.com/elastic/elasticsearch/issues/53095 which relates to support for the top_hits aggregation on the Elasticsearch side.

Other users of transforms have asked for some sort of "latest state" information to provide context, which is what top hits can be used for since it gives you the last full document. Until support for `top_hits` is added to Transforms, the [comment](https://gi

[2020-06-24 10:02] kibanamachine opened #69783 "Failing test: X-Pack Jest Tests.x-pack/plugins/rollup/public/test/client_integration - Create Rollup Job, step 6: Review save() with starting job after creation should call the "create" and "start" Api server endpoints"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6144/)

[2020-06-24 10:02] elasticmachine commented on #69783
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-24 10:07] arisonl commented on #56280
Latest mockup for alert details page with the chart:

![alertdetail](https://user-images.githubusercontent.com/5412240/85533875-90eb5180-b619-11ea-8a7a-5948faf7e9cc.png)

- The histogram shows the monitored metric at any given point in time when the alerting condition is evaluated, for the time window which is selected through the time picker.
- The chart should show the threshold(s) as line(s) an

[2020-06-24 10:07] arisonl commented on #57446
Notes on the chart: https://github.com/elastic/kibana/issues/56280#issuecomment-648727602

[2020-06-24 10:33] pgayvallet commented on #68524
I also think this pragmatic approach is the best compromise to have the feature on time.

BTW, do we have any idea on when the UI part of the new header is going to be delivered, to be able to start working on this specific issue?

[2020-06-24 10:40] elasticmachine commented on #69006
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-24 10:42] mikecote commented on #66608
Closing as duplicate of #50216 and will mention this issue / comments in the other one.

[2020-06-24 10:42] #66608 closed

[2020-06-24 10:42] mikecote commented on #50216
Some additional comments in issue #66608

[2020-06-24 11:03] pgayvallet commented on #35508
It is.

[code]

Also note that the new ES client is supposed to have an exhaustive list of ES endpoint/commands. So I'm not even sure we would really have any need of using this, but I did not do an audit of current usages of custom plugins in our codebase. Does anyone have a better vision than me on that. @kobelb maybe?

[2020-06-24 11:03] mikecote commented on #69665
I had a chat with @legrego and I'm thinking of backtracking some of my answers above.

For now, users will need to have access to alerting via a sub-feature of an application (SIEM, Metric, etc) and if they want general alerting, we could create a sub feature under actions to grant them access to alerting. This would mean not any user can create alerts, they will need a sub-feature privilege somew

[2020-06-24 11:08] mikecote commented on #68839
What would be the proposed changes for the connectors management view? Disallow creating JIRA and ServiceNow connectors but still display them in the table and allow edits?

[2020-06-24 11:16] ghost opened #69788 "[Ingest Manager]: FF 77> User is unable to click links from "View Dashboard" pop up, as it get closed"
**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**OS and Browser version:**
Window 10, Firefox 77

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.8 cloud environment

**Description**
[Ingest Manager]: FF 77> User is unable to click hidden links from "View Dashboard" pop up, as it get closed when scr

[2020-06-24 11:16] kamalpreetpahwa-qasource commented on #69788
@manishgupta-qasource : Please review the bug.

[2020-06-24 11:19] philippkahr opened #69789 "Kibana graphs x axis do not line up properly"
Hi,

I am not sure whether this is something for EUI team or Kibana. This could be a bug or enhancement, I do not know how it was supposed to be built in the first place.

In the monitoring tab, the x-axis of the graphs does not align properly. I find it kinda disturbing and on a quick view, this could lead to potential misinterpretation.

![Screenshot 2020-06-24 at 13 13 39](https://user-images.g

[2020-06-24 11:26] stacey-gammon commented on #63358
Blocking https://github.com/elastic/kibana/issues/54837

[2020-06-24 11:27] manishgupta-qasource commented on #69788
Reviewed & assigned to @EricDavisX

[2020-06-24 11:28] elasticmachine commented on #69788
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-06-24 11:32] ruflin commented on #69682
This looks like an error from Elasticsearch. It seems we index the content into Elasticsearch but I think we shouldn't. Instead we should set `index: false` for this. @jen-huang @nchaulet How is this working with Saved objects? Is this a mapping issue on the definition of the saved object?

[2020-06-24 11:33] mdefazio commented on #69006
Will try and get another update with the feedback out this week.

[2020-06-24 11:34] kibanamachine commented on #69617
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6145/)

[2020-06-24 11:40] restrry commented on #35508
Maybe it's okay? Since it's meant to be used for development purposes only when you need to play around with a new experimental endpoint. When an endpoint officially supported, we bump the library version and use type-safe library API instead.

[2020-06-24 11:42] tsouza opened #69792 "[doc] Wrong Shortening URL category"
Starting with 7.5, the [Shortening URL](https://www.elastic.co/guide/en/kibana/7.5/url-shortening-api.html) documentation went under `Logstash configuration management APIs` category, which seems wrong.

[2020-06-24 11:52] rahulgupta-qasource opened #69793 "[Ingest Manager]: Clicking 'Clear Filters' does not clear the selected filters on Ingest Manager 'Fleet' tab"
**Kibana version:**
Kibana: 8.0

**Elasticsearch version:**
Elasticsearch: 8.0

**Agent version:**
Agent: 7.8.0

**Browser version:**
All

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0 cloud environment

**Description**
[Ingest Manager]: Clicking 'Clear Filters' does not clear the selected filters on Ingest Manager 'Fleet' tab

**Preconditions**
1. Kibana 8.0 c

[2020-06-24 11:53] elasticmachine commented on #69793
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-06-24 11:56] rahulgupta-qasource commented on #69793
@manishgupta-qasource Please review the bug

[2020-06-24 12:04] pgayvallet commented on #35508
That's SGTM.  I feel like we can wait and see if we really need to implement plugin support for the new client, as `transport.request` is an acceptable workaround (or even alternative).

[2020-06-24 12:04] paul-tavares commented on #69750
Something I have notice that applies to this topic. Personally, I also like
the collapsed state for its simplicity and user experience, but what I have
found is that some of these collapsed streams have required fields and
those are not visible to the user until they try to save at which point you
get errors. I think that the ones that have the need for required user
interaction should be expanded

[2020-06-24 12:09] eyalkoren commented on #69679
Looks good, just needs to be updated based on https://github.com/elastic/observability-dev/issues/910#issuecomment-648780307

[2020-06-24 12:14] walterra commented on #67365
I'm investigating the issue and can reproduce it on Cloud. So far I wasn't able to reproduce it on a local install regardless of it being a dev environment or installed from a released version.

[2020-06-24 12:21] kamalpreetpahwa-qasource commented on #69793
Reviewed & assigned to @EricDavisX

[2020-06-24 12:29] flash1293 opened #69796 "[Lens] XY chart -long legend overflows chart in editor"
**Kibana version:** master

**Describe the bug:** When there are a lot of entries in the legend, the container will overflow and push the suggestions below the fold without a way to scroll

**Steps to reproduce:**
1. Create lens vis
2. Configure a chart with lots of series (e.g. high number of top values):
<img width="291" alt="Screenshot 2020-06-24 at 14 28 39" src="https://user-images.githubuser

[2020-06-24 12:29] elasticmachine commented on #69796
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-24 12:34] elasticmachine commented on #69792
Pinging @elastic/kibana-docs (Team:Docs)

[2020-06-24 12:43] nchaulet commented on #69682
@ruflin Yes we can set `index: false` for a field in saved object

[2020-06-24 12:43] legrego opened #69798 "Security nav links not hidden properly"
The nav changes introduced in https://github.com/elastic/kibana/pull/68862 ended up exposing the security navigation links to all users, not just users who are authorized to access the security solution. Here is a screenshot of the nav with a user who is only authorized to access the Canvas application:

![image](https://user-images.githubusercontent.com/3493255/85558059-63d97780-b5f6-11ea-92e2-8f

[2020-06-24 12:43] elasticmachine commented on #69798
Pinging @elastic/siem (Team:SIEM)

[2020-06-24 12:58] ruflin commented on #69686
Should this information be per agent or per config? We know on the config level for which packages it contains configs. Do we really need to duplicate the data? I understand that the query is run agains the agent but this could forward the request to the config object. Issue with that is perhaps speed?

[2020-06-24 13:11] ruflin commented on #69682
@nchaulet I think this should be our default and we should only index fields we really need.

[2020-06-24 13:22] kamalpreetpahwa-qasource opened #69799 "[Ingest Manager]: Error in visualization appears intermittently on refreshing the "Dashboard" page after keeping it ideal for 10-15 minutes."
**Kibana version:**
Kibana:7.8.0

**Elasticsearch version:**
Elasticsearch:7.8.0

**Agent version:**
Agent:7.8.0

**Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.8 cloud environment

**Description**
[Ingest Manager]: Error in visualization appears intermittently on refreshing the "Dashboard" page after keeping it ideal for 1

[2020-06-24 13:23] kamalpreetpahwa-qasource commented on #69799
@manishgupta-qasource : Please review the issue.

[2020-06-24 13:30] manishgupta-qasource commented on #69799
Reviewed & Assigned to @EricDavisX

[2020-06-24 13:31] elasticmachine commented on #69799
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-24 13:35] restrry commented on #35508
@delvedor Can new https://github.com/elastic/elasticsearch-js client work in browser env? I see this in the official repo https://github.com/elastic/bower-elasticsearch-js#submit-issues-pull-requests-etc-to-elasticsearch-js

@elastic/kibana-app-arch Is there a specific reason why we need to use `elasticsearch-browser`?
https://github.com/elastic/kibana/blob/78ebb6250a47047d88e3f0c94c9545f633f7c454

[2020-06-24 13:52] #68636 closed

[2020-06-24 13:54] #66125 closed

[2020-06-24 14:02] adriansr commented on #69682
I applied that change (`index: false`), now I'm getting this:

<img width="913" alt="image" src="https://user-images.githubusercontent.com/15056957/85570274-81790200-b633-11ea-849a-00cdd72119de.png">

Which a quick G'search suggest I should index as _text,_ but then it's breaking access to this field (originally is _flattened_):

[code]

[2020-06-24 14:03] cchaos commented on #68524
The only thing left to deliver for this is a pattern. All of the components exist in EUI at this point. The menu links should simply be a list of EuiHeaderLink(s) which you can see an example from the POC. There may be some tweaks to the existing component like better mobile/a11y support but there won't be anything new created.

<img width="1311" alt="Screen Shot 2020-06-24 at 10 00 21 AM" src="ht

[2020-06-24 14:10] delvedor commented on #35508
@restrry the legacy client was compatible with the browser environment, the new one is not.
It *could* work, but it's not tested nor supported.
The reason is that we want to discourage people from connecting to Elasticsearch from the browser, as it could easily expose them to security issues.

___

The new client does support the entire Elasticsearch API surface, unless an API is not defined in th

[2020-06-24 14:25] tsullivan opened #69805 "[Reporting] Increase the default of `xpack.reporting.capture.timeouts.openUrl`"
**Kibana version:** 7.9

Some environments are having a hard time updating the Kibana config to increase the wait time for Kibana to load on the  server-side headless browser. We should increase the default of `xpack.reporting.capture.timeouts.openUrl` to try to help more use cases.

[2020-06-24 14:25] elasticmachine commented on #69805
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-06-24 14:27] #48182 closed

[2020-06-24 14:29] tsullivan commented on #69621
Fixed in https://github.com/elastic/kibana/pull/69645 for 7.8.1 release

[2020-06-24 14:29] #69621 closed

[2020-06-24 14:32] pmuellr commented on #50646
I believe this was fixed for 7.7 or a patch of that, but would be good to re-test with 7.8 manually to make sure things are still working, since we don't have an automated test for this.

[2020-06-24 14:39] afgomez commented on #64754
That is correct :)

I'll go ahead and write the content

[2020-06-24 14:45] sastorsl commented on #69621
@tsullivan just to be clear, does this mean we should add this option again (provided we want it)?

[2020-06-24 14:54] stacey-gammon opened #69806 "[Meta] Developer Url & linking documentation & guidelines"
We need to clarify:

- `core.navigateToApp` vs url generators
- Document guidance around when to use url generators, and when to use `core.navigateToApp('settings', {..})`  vs `settings.navigateTo({..})`.
- How to handle migrations and what state is part of a public API.
- How to avoid a full page refresh when building hrefs to other parts of Kibana (like in Markdown)

etc, etc.  Opening this as a

[2020-06-24 14:54] elasticmachine commented on #69806
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-24 14:54] elasticmachine commented on #69806
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 14:58] stacey-gammon opened #69807 "[Meta] Plugin Examples & Recipes"
List plugin examples and recipes we would like to provide:

- [x] Routing
- Search services
  - [x] Search strategies
  - [ ] `in progress` Background sessions
- [x] Inter-app linking
- [ ] Migrations
- [ ] Registries
- [ ] Expressions

[2020-06-24 14:58] elasticmachine commented on #69807
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-24 14:58] elasticmachine commented on #69807
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 14:59] jportner opened #69808 "Add ability to share a saved-object in all current and future spaces"
_This feature is based on the outcome of our investigation in #58756._

## Overview

#27004 is an enhancement to allow Kibana's saved objects to be shared to multiple spaces. This feature is currently in the process of being implemented in multiple phases. In the current approach, consumers are required to specify each space explicitly.

We want to support the ability to share a saved object to _a

[2020-06-24 14:59] elasticmachine commented on #69808
Pinging @elastic/kibana-security (Team:Security)

[2020-06-24 15:17] neptunian commented on #67760
What if they decide to "refresh" the index patterns?
Instead of overriding them we can get the existing saved object and add/remove fields from it.

[2020-06-24 15:33] nickofthyme opened #69813 "[TSVB] Broken color picker defaults"
**Kibana version:**
`8.0.0`

**Elasticsearch version:**
`8.0.0`

**Browser OS version:**
Chrome `85.0.4163.0`

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**

When creating new TSVB visualization, the default series color is set to white or actually `6800` (see gif) in the bottom series pannel. Then changing the color sets the color with tra

[2020-06-24 15:33] elasticmachine commented on #69813
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-24 15:35] wylieconlon opened #69814 "[Discover] Field list should wrap long field names instead of truncating"
There are other issues about making the design of the field list more similar in Discover and Lens, and this is one of the elements that has bothered me the most. The field list in Discover is truncated, making it hard to read the field names:

<img width="300" alt="Screenshot 2020-06-24 11 28 47" src="https://user-images.githubusercontent.com/666475/85585468-08b37f00-b60e-11ea-8939-c7f4a9a113d5.p

[2020-06-24 15:35] elasticmachine commented on #69814
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-24 15:40] wylieconlon commented on #41107
I'm going to close this issue since we don't actually have a filter ratio implementation.

[2020-06-24 15:40] #41107 closed

[2020-06-24 15:43] kertal commented on #69814
cc @andreadelrio

[2020-06-24 15:46] smith opened #69817 "Add RedirectAppLinks component to APM"
elastic/kibana#67595 added the `RedirectAppLinks` component, which wraps intra-Kibana anchor tags to they redirect properly without causing a full page refresh.

* Add this to APM at the root of the application
* Remove unnecessary `navigateToApp` usage
* Ensure all intra-Kibana links work without page refreshes where possible
* Ensure all in-app links continue to work as well.

`RedirectAppLinks`

[2020-06-24 15:46] elasticmachine commented on #69817
Pinging @elastic/apm-ui (Team:apm)

[2020-06-24 15:47] bhavyarm opened #69818 "FTR configurable test users for maps functional tests"
Meta issue - https://github.com/elastic/kibana/issues/60815

[2020-06-24 15:50] wylieconlon commented on #68315
Community request to change and hide X axis title: https://discuss.elastic.co/t/lens-request-for-improvement/238285/3

[2020-06-24 15:50] wylieconlon commented on #68314
Community request to change and hide Y axis title: https://discuss.elastic.co/t/lens-request-for-improvement/238285/3

[2020-06-24 15:51] adriansr commented on #69682
It worked with:

I'm ingesting documents now.

[2020-06-24 15:56] clintandrewhall commented on #69492
Hmm... odd.  Is this still failing somewhere, @spalger?  What's the best way to track this down ATM?

[2020-06-24 16:02] nickofthyme commented on #69813
@stratoula FYI

[2020-06-24 16:08] #67838 closed

[2020-06-24 16:12] mikecote commented on #69665
Another issue to allow users to not have access to management (probably same with alerts): https://github.com/elastic/kibana/issues/35040.

[2020-06-24 16:26] JimReprogle commented on #69625
Same problem here.

![Screen Shot 2020-06-24 at 11 26 22 AM](https://user-images.githubusercontent.com/65737617/85594430-8aef7380-b60d-11ea-85ef-30fdca78284f.png)

[2020-06-24 16:36] hbharding commented on #69750
I think what @paul-tavares and @mostlyjason described is a bug. We discussed this awhile ago and decided at the time to collapse all inputs which **do not** have any require fields. I.e. if an input has required fields, it should be expanded by default. The goal was to simplify the UX so users don't have to scroll through and see every possible field. We do this again at the stream level by hiding

[2020-06-24 16:52] mostlyjason commented on #69750
I think it'd be a fine solution to expand streams with required fields. It looks like the logs integration does make this field required https://github.com/elastic/package-storage/blob/master/packages/log/0.1.0/dataset/log/manifest.yml#L13. The issue is that it didn't expand this required field.

I'll update the issue to mark this as a bug.

[2020-06-24 17:00] mikecote commented on #50257
Linking this issue with the ability to send alert summaries (ex: bulk the actions into a single email or slack message) https://github.com/elastic/kibana/issues/68828.

[2020-06-24 17:01] mikecote commented on #68828
Linking this issue with alert digest / scheduled reports https://github.com/elastic/kibana/issues/50257. There may be some overlap.

[2020-06-24 17:13] tsullivan commented on #18901
Relevant PR for consolidating the Reporting CSV generation code: https://github.com/elastic/kibana/pull/67027

I'm not sure if the data plugin is ready to be used on the server for replacing Reporting's CSV generation logic. Right now Reporting has to duplicate a lot of functionality built-into Discover, and we have had to reverse engineer Discover's features to build them into the server-side for

[2020-06-24 17:25] TinaHeiligers commented on #68603
@mindbat there hasn't been a direct request for node-level data because it was [assumed the data is already collected](https://github.com/elastic/telemetry/issues/340#issuecomment-638955018) and reported.

[2020-06-24 17:34] tsullivan commented on #69621
If you want to configure Kibana to disable Reporting, unfortunately, you'll have to wait for 7.8.1 to come out so the `xpack.reporting.enabled` setting can be used without interfering with Kibana startup.

Until then, it is a known issue (7.8.0) that the `xpack.reporting.enabled` setting can't be accessed.

[2020-06-24 17:35] Zacqary commented on #68492
Tested this on 7.8 and I wasn't able to reproduce. When alerting per `host.name` I was always able to see one instance per matched `host.name` regardless of how many `NOT` clauses I added to the filter. Maybe there's something else going on with your data that I'm not seeing on my end?

What happens when you go to the Metrics Explorer and search for the data like this?
<img width="1330" alt="Scree

[2020-06-24 17:37] mikecote opened #69829 "UI for search alert"
UI portion of https://github.com/elastic/kibana/issues/61313.

Allow users to create / edit / manage their search alerts in the management UI.

[2020-06-24 17:37] elasticmachine commented on #69829
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-24 17:38] mikecote commented on #61313
Splitting out the UI portion of this issue into #69829. This would make this issue scoped to server side / HTTP API support for search alerts and later on build a UI with #69829.

[2020-06-24 18:12] wylieconlon opened #69832 "[Lens] Unique count aggregation should have control for precision threshold and warning about estimates"
The default precision value of the Cardinality aggregation is 3,000 documents: above 3,000, the precision will drop off. The max value is 40,000 in Elasticsearch. Users should be able to tune this parameter in Lens. I propose that we use a **numeric text input with validation** instead of a slider, but the second-best option would be **grouped button at 1000, 3000, 10000, and 40000** thresholds.

[2020-06-24 18:12] elasticmachine commented on #69832
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-24 18:18] jasonrhodes opened #69835 "Usage collection methods should be available during start and not just during setup"
Currently, the UsageCollection plugin makes some methods available on its plugin setup contract, but doesn't return anything from its start lifecycle method. For other plugins to use these methods on the client, they need to reference a setup dependency from within a mount callback, like so:

[code]
This is an anti-pattern because setup APIs should not be called after the setup lifecycle is comple

[2020-06-24 18:18] elasticmachine commented on #69835
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2020-06-24 18:18] jasonrhodes commented on #69835
Linked issue: https://github.com/elastic/kibana/issues/58014

[2020-06-24 18:23] hbharding commented on #69740
## Update:

[Screencast explanation](https://www.loom.com/share/6dac642a562a46cfaf59407e5d506c37)

![image](https://user-images.githubusercontent.com/847805/85610102-b03bac00-b624-11ea-8392-28f89b56d800.png)
We can add a switch toggle on the integrations page to hide/show experimental integrations. This will be turned off by default. If an integration is experimental, we use a badge on the card at

[2020-06-24 18:36] mikecote commented on #50267
Added note: the goal of this issue is for all the action types to work when using a proxy.

[2020-06-24 18:45] #69747 closed

[2020-06-24 18:55] lukasolson commented on #35508
We want to remove any usages of the legacy browser APIs. That effort is tracked here: https://github.com/elastic/kibana/issues/55139. Once that is completed we can get rid of the dependency altogether.

[2020-06-24 19:03] erelling commented on #69625
Same problem here, set up the logstash monitoring through metricbeat.
[works] Cluster -> Cluster name -> Logstash -> Overview
[works] Cluster -> Cluster name -> Logstash -> Pipelines
[statusCode:404] Cluster -> Cluster name -> Logstash -> Pipelines -> pipeline_name

However, this works:
curl -X GET "logstash_node:9600/_node/pipelines?pipeline_name?pretty"

Noted that also:
[works] Cluster -> Clust

[2020-06-24 19:13] sqren commented on #67180
The prototype @blaklaybul has made goes a long way by promoting `service.name` and `transaction.type` to first-class fields (via `by_field_name` and `partition_field_name`). These are added to the ML job and are propagated to ML results which is great! We were however not able to find a similar solution for `service.environment`, and still need to be able to query for ML jobs that belongs to a par

[2020-06-24 19:14] cchaos commented on #69832
To understand your sentence here:

How would you be able to limit the input in a numeric input?

[2020-06-24 19:16] #68698 closed

[2020-06-24 19:22] restrry commented on #55139
We need to remove elasticsearch-browser workaround from kbn-ui-shared-deps as well

[2020-06-24 19:22] neptunian commented on #69275
This was all default, literally just starting fresh with ES and Kibana on master.  Now I don't seem to be getting it anymore, so I'm going to close it.

[2020-06-24 19:22] #69275 closed

[2020-06-24 19:25] wylieconlon commented on #69832
By using the `isInvalid` property and not updating the state when it's invalid? Even if we didn't limit it on our end, Elasticsearch would cap the value at request time.

[2020-06-24 19:37] thomasneirynck opened #69842 "[Maps] Icon palettes are not working"
Icon palettes are not being displayed on the map.

Steps
1. add sample log data
2. select by-value icon styling. select `machine.os.keyword` field
3. use first palette
-> icons are not showing

They show correctly in the legend.

![image](https://user-images.githubusercontent.com/1833023/85619773-c3ed0f80-b630-11ea-912f-539a6d4d3407.png)

Custom icon palettes do work correctly.

[2020-06-24 19:37] elasticmachine commented on #69842
Pinging @elastic/kibana-gis (Team:Geo)

[2020-06-24 19:50] jen-huang opened #69843 "[Ingest Manager] Two default configs are created after app loads"
Using Kibana **master** and a fresh ES instance, two default configs are created instead of one:

![image](https://user-images.githubusercontent.com/1965714/85620658-f25ef080-b618-11ea-9677-b6337f46c14f.png)

I am seeing this consistently with every ES data wipe and Kibana restart.

If I revert 5e3798c, the problem goes away and I am back to having one default config created. Could this be an issu

[2020-06-24 19:50] elasticmachine commented on #69843
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-24 19:51] jen-huang commented on #69843
cc @jfsiii, can you see if you are able to reproduce this problem?

[2020-06-24 19:53] #69329 closed

[2020-06-24 19:57] nreese commented on #69842
Regression caused by https://github.com/elastic/kibana/pull/60570

That PR changed DynamicIconProperty._getPaletteStops to return for custom icon ramps `{ fallbackSymbolId, stops }` instead of `{ fallback, stops }`. The PR failed to make the same change for provided icon palettes so they still returned  `{ fallback, stops }`. Typing would have caught this. For a fix, I am going to type script the

[2020-06-24 20:10] neptunian commented on #69843
consistently reproduced.

[2020-06-24 20:10] cjcenizal opened #69845 "Plugin lifecycle methods that return undefined block dependents from inferring the plugin's disabled state"
Plugins that declare other plugins as dependencies will commonly inspect the `plugins` argument to see if that plugin is enabled or not.

[code]

However, plugins have the option of returning no value from their lifecycle methods. In this case, the above condition will never evaluate to true because `plugins.dependencyPlugin` is `undefined`. Currently, the only way to fix this is to update the dep

[2020-06-24 20:10] elasticmachine commented on #69845
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-24 20:23] kibanamachine opened #69847 "Failing test: Creates a new case with timeline and opens the timeline - Cases Creates a new case with timeline and opens the timeline"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] kibanamachine opened #69848 "Failing test: Creates and activates a new custom rule - Detection rules, custom Creates and activates a new custom rule"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] elasticmachine commented on #69847
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-24 20:23] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] elasticmachine commented on #69848
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-24 20:23] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] kibanamachine opened #69849 "Failing test: Exports a custom rule - Export rules Exports a custom rule"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6154/)

[2020-06-24 20:23] elasticmachine commented on #69849
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-24 20:27] ogupte commented on #67180
Another reason something like system tags would be beneficial: since they are indexed, any filtering can be done in ES. Right now in order to implement something similar with job groups, you have to fetch all ML jobs, and do any filtering/matching of group strings in app code.

[2020-06-24 20:31] #69478 closed

[2020-06-24 20:50] mattkime opened #69851 "Index patterns api - throw (and catch) errors instead of using callbacks"
The index patterns api uses a number of callback to isolate client and server specific code. These are largely error states. We should throw and catch errors instead of using callbacks.

Warning - kibana front end code has a habit of swallowing thrown errors. Carefully trace through all paths that potentially throw errors.

[2020-06-24 20:50] elasticmachine commented on #69851
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 21:17] rylnd commented on #69184
Closed by #69736.
7.x: https://github.com/elastic/kibana/pull/69824
7.8: https://github.com/elastic/kibana/pull/69826

[2020-06-24 21:17] #69184 closed

[2020-06-24 21:19] smith opened #69854 "Console warnings when navigating away from logs/metrics"
I've getting been getting a few different errors when navigating away from logs/metrics UIs by pressing the back button. They don't happen consistently but I can get all of them to show up by trying it multiple times. See screenshots from console warnings below.

![image](https://user-images.githubusercontent.com/9912/85628785-52b05b00-b636-11ea-8eb8-79835ff11877.png)

![image](https://user-images

[2020-06-24 21:19] elasticmachine commented on #69854
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-24 21:22] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:22] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6155/)

[2020-06-24 21:37] thomasneirynck opened #69856 "Add ability to detect if index-pattern implements ECS"
It would be useful if we could determine if an index-pattern implements ECS.

This is especially relevant because ECS has tighter semantics on some of the fields.

e.g. in ECS (https://www.elastic.co/guide/en/ecs/current/ecs-geo.html), the `*.geo.country_iso_code` and `*.geo.region_iso_code` fields contain `iso-3166-1` and `iso-3166-2` identifiers respectively. The UX can use these for initializin

[2020-06-24 21:43] elasticmachine commented on #69856
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 21:57] cjcenizal commented on #56776
Addressed by https://github.com/elastic/kibana/pull/68505

[2020-06-24 21:57] #56776 closed

[2020-06-24 22:02] cjcenizal commented on #53621
Related to https://github.com/elastic/kibana/issues/59462.

[2020-06-24 22:08] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6100/)

[2020-06-24 22:08] #65089 closed

[2020-06-24 22:11] igoristic commented on #69625
I am able to repro this on `master`. Taking a look now

[2020-06-24 22:11] elasticmachine commented on #69625
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-06-24 22:11] mattkime commented on #69856
This definitely sounds like something index patterns should help with.

Index pattern content is very closely tied to the _field_caps api call. It would be helpful if the info we needed somehow fit into its results. It certainly should be available somewhere in ES since index pattern lists need to be regenerated.

Maybe we can figure out how this might work and take a guess at the effort level. Th

[2020-06-24 22:13] chrisronline commented on #69625
Possible duplicate of https://github.com/elastic/kibana/issues/69321

[2020-06-24 22:22] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6156/)

[2020-06-24 22:22] mostlyjason commented on #69573
I created an issue with the metadata. Would appreciate your input.

Also, we could deep link to the data streams page in ingest manager with a param to filter for the desired datastream. That might work even before we have detail pages.

[2020-06-24 22:46] rudolf commented on #69639
@nicenemo Thanks for reporting this, it looks like a regression introduced by https://github.com/elastic/kibana/pull/64043 because the mappings for the `url` field of the url saved object type no longer includes the `ignore_above: 2048`.

[2020-06-24 23:02] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:02] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6101/)

[2020-06-24 23:18] tylersmalley commented on #69848
[code]

[2020-06-24 23:18] tylersmalley commented on #69849
Related to: https://github.com/elastic/kibana/issues/69848#issuecomment-649122801

[2020-06-24 23:18] tylersmalley commented on #69847
Related to: https://github.com/elastic/kibana/issues/69848#issuecomment-649122801

[2020-06-24 23:24] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #69848
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #63897
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #69847
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:24] kibanamachine commented on #69849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6157/)

[2020-06-24 23:25] elasticmachine commented on #69849
Pinging @elastic/siem (Team:SIEM)

[2020-06-24 23:27] tylersmalley commented on #69848
Not sure if this is caused by the SIEM tests, but they are the only ones failing. In the meantime, I have disabled all SIEM Cypress tests.

Also related to https://github.com/elastic/kibana/issues/69848 and https://github.com/elastic/kibana/issues/69847

Skipped:
8.0/main: bcc62095f0bb90e063cd46eaefac59f429c08f82
7.x/7.9: bdd66be0ec99fb5da2949a31c585cdb8bd820e32

[2020-06-24 23:30] rudolf opened #69867 "Inspector imports code from the share plugin without declaring explicit dependency"
Because the inspector plugin imports code but doesn't declare an explicit dependency on the share plugin, disabling the share plugin causes Kibana (public) to crash with the error `__kbnBundles__ does not have a module defined for "plugin/share/public"`

https://github.com/elastic/kibana/blob/b87eefc75381438311c08146472f818597443d8e/src/plugins/inspector/public/views/data/components/data_table.tsx

[2020-06-24 23:30] elasticmachine commented on #69867
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-24 23:30] jen-huang commented on #69750
++ on treating this as a bug for required fields

[2020-06-24 23:31] rudolf commented on #69867
This prevents disabling the share plugin as a workaround for https://github.com/elastic/kibana/issues/69639

[2020-06-24 23:46] jen-huang commented on #69686
++ to the above comment. The PR (https://github.com/elastic/kibana/pull/69731) implements this in such a way that package information is written to the agent saved object when the agent acknowledges a config change. If a package was added to an agent config _but the agent has not yet picked up the change_, the results of a query for configs that use that package vs. a query for agents that use tha

[2020-06-25 00:05] YulNaumenko commented on #49908
I did a research of possibility to use [EuiMarkdownEditor](https://github.com/elastic/eui/tree/markdown-editor) for adding message templates with images and chart snapshots for actions like Slack and Email. There are a few blockers which doesn't allows to use it as a template builder for action messages:

1. Markdown editor Chart component supports only canvas usage for getting an image snapshot (

[2020-06-25 00:06] hendry-lim commented on #68492
The filters and grouping work fine in both Inventory and Metrics Explorer. However, no alert instances are created if we apply the same filter in an alert.
We have also tried creating the Metric Threshold alert manually and through the Metrics Explorer UI, but we saw the same result.

We have also noticed there are discrepancies between the chart shown on the alert flyout with the Metrics Explorer

[2020-06-25 00:08] tsullivan commented on #18901
Will be fixed in https://github.com/elastic/kibana/pull/67027

[2020-06-25 00:10] tylersmalley opened #69869 "Explosion of mapping fields exceeds default 1k limit on upgrade"
We recently had a failure on CI due to our total fields exceeded 1k during an upgrade.

`Error: Limit of total fields [1000] in index [.kibana_2] has been exceeded`

In this situation, the security solution is [defining a mapping](https://github.com/elastic/kibana/blob/master/x-pack/test/security_solution_cypress/es_archives/custom_rules/mappings.json) for the Kibana index from a few months ago. D

[2020-06-25 00:10] elasticmachine commented on #69869
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-25 00:11] tylersmalley commented on #69848
Created an issue with more details to what we're seeing here: https://github.com/elastic/kibana/issues/69869.

I am planning on updating the mappings and re-enabling the tests.

[2020-06-25 01:11] aaronjcaldwell commented on #69869
Sorry for the trouble! This ended up being slightly more than a revert so I
have a PR up (https://github.com/elastic/kibana/pull/69871) that should
address any issues from our end. In the meantime, we'll see if we need to
tackle this a different way.

On Wed, Jun 24, 2020 at 6:10 PM Elastic Machine <notifications@github.com>
wrote:

[2020-06-25 01:39] hbharding commented on #69740
I updated the screenshots to show 2 additional things:
- Integrations can also be `Beta`. If so, use a beta badge on the integration card and in the integration detail page header.
- I added a tooltip to the experimental toggle and the badge

[2020-06-25 02:14] tylersmalley commented on #69847
Closing in favor of tracking in https://github.com/elastic/kibana/issues/69848

[2020-06-25 02:14] #69847 closed

[2020-06-25 02:14] tylersmalley commented on #69849
Closing in favor of tracking in https://github.com/elastic/kibana/issues/69848

[2020-06-25 04:14] mattkime opened #69876 "Plugin generator should work for directories outside of kibana"
Plugin developers not working within the kibana repo would like to use the plugin generator as well. In v7.7.1, you'll see an error if you attempt to generate a plugin to a directory outside of kibana - https://gist.github.com/s-newman/99a6ca7d0ff1868852f2416b3976ddde

[2020-06-25 04:15] elasticmachine commented on #69876
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-25 04:22] #69321 closed

[2020-06-25 04:22] #69625 closed

[2020-06-25 07:19] restrry commented on #69845
@pgayvallet I like your proposal for simplicity. OTOH I'm wondering if it semantically closer to the status service and should be part of it.

[2020-06-25 07:22] stratoula commented on #69813
Thanx @nickofthyme

[2020-06-25 07:23] azasypkin commented on #68621
@legrego do you happen to know if there can be any other reason that can mask itself under `Error: Multiple versions of Kibana are running against the same Elasticsearch cluster, unable to authorize user.\`? I can't think of any except for the one this message implies.

[2020-06-25 07:24] kamalpreetpahwa-qasource opened #69884 "[Ingest Management]: Agent is not enrolled successfully, as file beat application is not running and status changed to Failed."
**Kibana version:**
Kibana:8.0

**Elasticsearch version:**
Elasticsearch:8.0

**Agent version:**
Agent:8.0

**Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 8.0 snapshot

**Description**
[Ingest Management]: Agent is not enrolled successfully, as file beat application is not running and status changed to Failed.

**Precondition

[2020-06-25 07:24] kamalpreetpahwa-qasource commented on #69884
@manishgupta-qasource : Kindly review the bug.

[2020-06-25 07:39] formgeist opened #69888 "[Observability] Update landing page illustration"
Awaiting new illustration from creative services.

# Summary

Replace the placeholder illustration with a new and improved illustration.

[2020-06-25 07:39] formgeist commented on #69130
Moved replacing the illustration to https://github.com/elastic/kibana/issues/69888

[2020-06-25 07:45] pgayvallet commented on #69869
Yea. This is far from being something we can easily change atm tbh.

@rudolf correct me if I'm wrong, but this is not even something that's scoped in the improved SO migration, right?

[2020-06-25 07:54] fkelbert opened #69890 "Autocompletion for `boxplot` aggregation in Kibana Dev tools."
**Describe the feature:** Implement autocompletion for `boxplot` aggregation in Kibana Dev tools.

[2020-06-25 07:58] pgayvallet commented on #69806
Directly related: https://github.com/elastic/kibana/issues/66682

[2020-06-25 08:11] fkelbert opened #69891 "Dev tools: Autocomplete for `t_test` aggregation"
Describe the feature: Implement autocompletion for the new `t_test` aggregation in Kibana Dev tools.

[2020-06-25 08:18] #64921 closed

[2020-06-25 08:21] rudolf commented on #69639
The best workaround is to remove all url objects, perform the upgrade, update the mappings, and then import all the url objects again. I'll flesh out and test the full instructions for this.

You might just have one or two url's that are long enough to cause this problem in which case you can delete just those objects.
Find and delete sharing short url's which link to very long url's:
`curl -u ela

[2020-06-25 08:22] sastorsl commented on #69621
Roger that.

[2020-06-25 08:57] rudolf commented on #69639
1. Rollback to the last working version of Kibana
2. Take a backup snapshot of the `.kibana*` indices
3. Use the saved objects management UI of your outdated Kibana to export and then delete all `url` saved object types.
4. Upgrade to Kibana 7.8.0, this time the migration should succeed
5. After Kibana has started up, update the mappings with:
`curl -u elastic:changeme -X PUT "localhost:9200/.kiba

[2020-06-25 09:19] #69110 closed

[2020-06-25 09:31] ruflin commented on #69682
@adriansr Thanks for fiddling around in KB to get it fixed. Change LGTM. I wonder if we then still need the `flattened` type?

@nchaulet I think we should do the same for vars as we don't need to index these I assume?

[2020-06-25 09:35] ruflin commented on #67760
Read only would be best, I hope we get there one day or don't need the index pattern at all.

The part I think is not going to work is remove just the fields from a package when it is removed. Because we don't know if this field is also used by other packages.

[2020-06-25 09:43] Quentin2B commented on #18331
It would be cool if there is something to solve this issue, I have a site with my own access control/authentification and I would like to not have to authentificate again on an embed dashboard.

My superior dont really want to use a proxy and he suggested instead to create an SAML authentification between my site and our kibana instance. Do you guys know if this can work ?

Thanks,

[2020-06-25 09:48] dgieselaar commented on #69642
@bmorelli25 Yeah, that would be correct. I've opened [a PR to add those to the `apm_user` role by default](https://github.com/elastic/elasticsearch/pull/58530), but we should at least document that those permissions would need to be added if the user changes the configured index name for `observability.annotations.index`.

[2020-06-25 09:53] n0ox commented on #69640
@cjcenizal thanks for your answer. I'm fixed my problem by removed old Kibana configuration.

[2020-06-25 09:53] #69640 closed

[2020-06-25 09:54] azasypkin commented on #18331
Yes, SSO authentication mechanisms like [SAML](https://www.elastic.co/guide/en/kibana/current/kibana-authentication.html#saml) or [OpenID Connect](https://www.elastic.co/guide/en/kibana/current/kibana-authentication.html#oidc) are supposed to solve that exact problem.

[2020-06-25 10:06] cnasikas commented on #56586
This bug is fixed. Kibana is not crushing in development mode when creating this type of rule.

[2020-06-25 10:06] #56586 closed

[2020-06-25 10:12] ChrsMark opened #69902 "Ingest Manager and Dynamic mappings"
Trying to Add data source with dynamic mapping like:
[code]
getting the following error:
`[illegal_argument_exception] composable template [metrics-prometheus.collector] template after composition is invalid`

[2020-06-25 10:12] elasticmachine commented on #69902
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-25 10:20] thomheymann commented on #43020
`EuiLink` component has an `external` prop that's worth adding to show a popup icon next to the link.

However, the voice over text for that icon is "external link" rather than "open in new window" so it doesn't really help with the screenreader issue mentioned here.

It also seems that screen readers handle this situation differently. On Chrome with MacOS VoiceOver enabled I am getting "new windo

[2020-06-25 10:25] ruflin commented on #69902
@ChrsMark Could you share a link to the full mapping to better understand where the conflict might be?
@dakrone I assume this is somehow related to the merging. Anything obvious you can spot?

[2020-06-25 10:45] kuisathaverat opened #69903 "[Ingest Management] a user with the role kibana_admin cannot login"
**Kibana version:**
8.0.0-SNAPSHOT
**Elasticsearch version:**
8.0.0-SNAPSHOT
**Server OS version:**
Linux  #1 SMP Tue Sep 3 02:58:08 PDT 2019 x86_64 x86_64 x86_64 GNU/Linux (SNAPSHOT Docker container)
**Browser version:**
Chrome 83
**Browser OS version:**
MacOS 10.15.5
**Original install method (e.g. download page, yum, from source, etc.):**
Helm chart
**Describe the bug:**

Users that are not sup

[2020-06-25 10:45] elasticmachine commented on #69903
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-25 10:46] ChrsMark commented on #69902
To make it more clear this Package does not bring any mapping/template along, but just the fields' definition (https://github.com/elastic/integrations/pull/114/files#diff-948f56a29706943613bb0d8897e45881R1). It is supposed that Ingest Manager creates the mapping out of the fields 🤔 ? cc: @skh

[2020-06-25 10:47] jfsiii commented on #69843
I can look into this this later today.

[2020-06-25 10:51] l0x-c0d3z opened #69904 "Discover scrolling back to top of the page on Firefox"
**Kibana version:** 7.8.0

**Elasticsearch version:** 7.8.0

**Server OS version:** Debian 10

**Browser version:** Firefox 68.5.0esr

**Browser OS version:** Debian 10

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud for Kubernetes

**Describe the bug:**

When using the discover app, I unfold a document and scroll down a bit. Within a few second, I get scro

[2020-06-25 11:19] Crazy1van commented on #69690
Thank you.  I tested the workaround you suggested and it seems to work well.  Top_hits agg will be better since it will allow us to select specific fields as opposed to dumping whole documents into the transform indices.  As noted in [elastic/elasticsearch#53095](https://github.com/elastic/elasticsearch/issues/53095), Transforms are very useful for visualizations and saved searches but not without

[2020-06-25 11:24] peteharverson commented on #69690
Thanks for the update @Crazy1van. Glad the workaround is working for now. I will keep this issue open as work will be needed on the ML UI once support for `top_hits` is added on the elasticsearch side as requested in https://github.com/elastic/elasticsearch/issues/53095.

[2020-06-25 11:39] andrewvc opened #69907 "[Uptime] Add availability alerts"
**Personas / User Stories**
As a system administrator
I want to be proactively notified if my availability breaches SLAs and SLOs

Susie Sysadmin is in charge of deploying and monitoring  20-30 internal services that her organization runs. She uses uptime to provide alerts for when these services fail. She'd also like to know about when these services are not meeting SLOs. She'd like to know if se

[2020-06-25 11:39] elasticmachine commented on #69907
Pinging @elastic/uptime (Team:uptime)

[2020-06-25 11:43] legrego commented on #68621
Nope, we haven't discovered any other causes for this specific error (and indeed that's the _intent_ of this error message).

@Sjaak01 can you provide the output of the following command against Elasticsearch (replacing the placeholder host & credentials with your own)?

**note** this assumes you haven't changed the default value of the `kibana.index` setting in your `kibana.yml` (default = `.kiba

[2020-06-25 11:59] kertal opened #69908 "[Discover] Allow custom labels via index pattern fields"
This issue describes a way to allow the user to enter a custom label in the index pattern management, and its usage in Discover.

So the user could enter a custom label for a field in the index pattern management

![category_-_kibana_sample_data_ecommerce_-_Elastic](https://user-images.githubusercontent.com/463851/85714760-06732280-b6eb-11ea-9dc1-900ec1085065.png)

Usage in Discover
<img width="17

[2020-06-25 12:00] andrewvc opened #69909 "[Uptime] Add 'Create alert per' option to uptime Up/Down"
It would be useful in Uptime to have the up/down alerts add a 'Create alert per' option, similar to the 'Metric Threshold' alert with two options:

1. Monitor
2. All Monitors

[2020-06-25 12:00] elasticmachine commented on #69909
Pinging @elastic/uptime (Team:uptime)

[2020-06-25 12:02] aaronjcaldwell commented on #69869
@rudolf Ok, good to know. It also may not be necessary in this case. Per @afharo's recommendations I've reverted the SO name from `maps` back to `maps-telemetry` in https://github.com/elastic/kibana/pull/69871 and rather than remove the dynamic fields or change their enablement, revised them to not be dynamic. Feel free to comment on this PR if you think this covers us or if there's anything furth

[2020-06-25 12:07] sqren commented on #69491
@mostlyjason: `dataset.*` is not a field APM consumes but I imagine that it could be relevant for Logs or Metrics?
If so, is it a field the APM agents should be populating to create parity across the solutions?

[2020-06-25 12:08] elasticmachine commented on #69908
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-25 12:10] grahamrhay commented on #52091
I followed the instructions [here](https://www.elastic.co/guide/en/kibana/current/docker.html), and hit the same issue. Adding `--user 1000` or `--user kibana` to the docker run incantation had no effect.

Am I missing something obvious?

[2020-06-25 12:16] kertal commented on #69908
FYI: @mattkime @AlonaNadler

[2020-06-25 12:24] drum7 commented on #52091
I believe I edited the Dockerfile and built it locally.  You can see this referenced in their [template](https://github.com/elastic/kibana/blob/6ea1b2cceef630b3e6ea4a84e24ba4d86d6b18e1/src/dev/build/tasks/os_packages/docker_generator/templates/dockerfile.template.js#L92) or at the [prebuilt file](https://raw.githubusercontent.com/elastic/dockerfiles/7.8/kibana/Dockerfile).

Instead of `USER kibana

[2020-06-25 12:50] nchaulet opened #69917 "[Ingest Manager] Review saved object mappings indexed fields"
## Description

We should probably not index all the field we index in our saved object mapping, this can cause bug like #69682 and probably performance issues.

Let's figure which fields should not be indexed.

[2020-06-25 12:50] elasticmachine commented on #69917
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-25 12:51] nchaulet commented on #69682
Yes we should do this for all the vars we do not need to index, we should probably keep the flattened type, otherwise we need to map this field as text, and JSON stringify|parse them ourself

[2020-06-25 12:52] Dosant commented on #69697
Closing this as duplicate: https://github.com/elastic/kibana/issues/67270
Thanks @philippkahr for suggestions 👍, I'll copy them into #67270

[2020-06-25 12:52] #69697 closed

[2020-06-25 12:53] Dosant commented on #67270
I closed #69967 as duplicate,
Carrying over from there nice suggestions from @philippkahr:

-----

I can think of two improvements:

1.  there should be some `close all toasts` button somewhere.
2. Stack toasts notifications and add `close all` something like this:

![Untitled](https://user-images.githubusercontent.com/12175559/85417602-1adee000-b570-11ea-89f5-633691e58c03.png)
When stacking we co

[2020-06-25 13:04] ruflin commented on #69682
I assume these are objects? If yes, couldn't we just use `enabled: false` on the object? https://www.elastic.co/guide/en/elasticsearch/reference/current/enabled.html

[2020-06-25 13:06] #67861 closed

[2020-06-25 13:12] #69678 closed

[2020-06-25 13:14] #69835 closed

[2020-06-25 13:14] nchaulet opened #69922 "[Ingest Manager] Agent 8.0 can connect to 7.8 Kibana"
## Description

Related to https://github.com/elastic/beats/issues/18430

Agent should not be able to connect to a Kibana version that is < to agent version.

If an agent try to connect to Kibana with an incorrect version we should respond with a 400.

[2020-06-25 13:14] elasticmachine commented on #69922
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-25 13:16] ph commented on #69903
@ruflin I think we do require the super user on everything should we try to require the _kibana_admin_ role?

[2020-06-25 13:33] #60466 closed

[2020-06-25 13:34] #61132 closed

[2020-06-25 13:35] #61686 closed

[2020-06-25 13:35] #62763 closed

[2020-06-25 13:35] #63897 closed

[2020-06-25 13:35] #65488 closed

[2020-06-25 13:35] #65495 closed

[2020-06-25 13:36] #65509 closed

[2020-06-25 13:44] #69639 closed

[2020-06-25 13:50] thomasneirynck commented on #69856
thanks @mattkime ,happy to help evaluate this. Maps would have an immediate use for it. We're adding more&more layer-templates to Maps (e.g. SIEM, APM, ...), which aim to "auto-magically" configure layers requiring the least manual intervention. The latest example is where this would be useful would be here https://github.com/elastic/kibana/pull/69699/

[2020-06-25 13:53] nchaulet commented on #69903
We require user to be `superuser` and `Kibana_admin` is not enough to use ingest manager right now, but I think you should see a screen that display that, I am going to investigate

[2020-06-25 14:00] kindsun opened #69935 "[Maps] Support LDAP auth for proxied access to EMS"
**Describe the feature:**

Some users behind proxies require LDAP Authentication to access any external resources. While [Maps does support proxied access](https://www.elastic.co/guide/en/kibana/current/maps-connect-to-ems.html), there are currently no provisions in place for handling authentication (if required) to enable that access.

**Describe a specific use case for the feature:**

User lever

[2020-06-25 14:00] elasticmachine commented on #69935
Pinging @elastic/kibana-gis (Team:Geo)

[2020-06-25 14:06] kuisathaverat commented on #69903
@ph the thing is that only superusers can login after enable ingest management, all the rest fail to login.

[2020-06-25 14:14] thomasneirynck commented on #69935
Related https://github.com/elastic/kibana/issues/29825

[2020-06-25 14:20] FrankHassanabad commented on #59956
This has been fixed by other work involving `wait_for` and timeline table fixes generically.

[2020-06-25 14:20] #59956 closed

[2020-06-25 14:29] kertal opened #69941 "Invalid time range in URL causes exception in TopNavMenu"
**Kibana version:**
master to 7.7
**Describe the bug:**

Providing an invalid time range by URL causes an Exception in the Query bar in Discover, Visualize, Dashboard

Going to this URL:
`app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:nafdsdsfow))&_a=(columns:!(_source),filters:!(),index:'90943e30-9a47-11e8-b64d-95841ca0b247',interval:auto,query:(language:k

[2020-06-25 14:29] elasticmachine commented on #69941
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-06-25 14:29] nnamdifrankie commented on #69686
I think it is preferable to know what is actually running because that is more likely to have corresponding event history inside in metadata index. i.e. the agent may have also transmitted some data. The downside of the "should be running" is waste of processing events that may not produce any work on the endpoint side.

[2020-06-25 14:31] alvarezmelissa87 opened #69942 "[ML] DF Analytics results - prompt for creating an index pattern"
1. Warning text in the wizard if they switch off the create index pattern option
2. If no dest index pattern - show warning message in the results page with option to navigate to index pattern management

[2020-06-25 14:31] elasticmachine commented on #69942
Pinging @elastic/ml-ui (:ml)

[2020-06-25 14:34] AlonaNadler commented on #69908
Is there an approach to do that in Discover per specific saved search and not globally?

[2020-06-25 14:35] mostlyjason commented on #25734
@alexfrancoeur in 7.10 we should promote the add data pages more since the ingest manager is still in beta. I like having it included though, especially with text describing it as beta.

[2020-06-25 14:36] flash1293 commented on #53660
Synced with @wylieconlon and @mbondyra about this and as a first version to get the functionality in quickly, we will just provide the color picker in the dimension popover, without the extra indicator in the config panel itself.

Some details about how it works:
* To use this, we need to handle the round-robin color assignment ourselves (currently elastic-charts is doing it based on the theme) -

[2020-06-25 14:37] Dosant commented on #51553
I look into it a bit trying to triage,

3rd filter is already missing when emitted from `src/plugins/vis_type_vislib/public/vislib/lib/handler.js`, so it is definitely not UiActions level issue, removed that label and added `Feature:Visualizations`.

[2020-06-25 14:39] wylieconlon commented on #69908
Linking to the previous discussions: https://github.com/elastic/kibana/issues/15246 https://github.com/elastic/kibana/issues/47659

[2020-06-25 14:41] lucabelluccini commented on #19535
Any date filtering requires the date to be in a `format` defined in the field mapping of the underlying indices.

Example data:
[code]

![image](https://user-images.githubusercontent.com/87379/85739584-35948e80-b701-11ea-9aad-06c8e44a2cd1.png)

Clicking on one of the bars (to filter):
![image](https://user-images.githubusercontent.com/87379/85740185-b2c00380-b701-11ea-8c11-2c7c1d3b6cac.png)

End u

[2020-06-25 14:44] kertal opened #69945 "[Dashboard] Providing an invalid time range in URL causes data fetching gte:null - lte:null"
**Kibana version:**
master

**Describe the bug:**
When you provide an invalid time range via url, this causes data fetching with a time range of `gte:null` to `lte:null`, which means the whole data is queried, which can lead to performance issues under circumstances with large data sets (imagine user frequently fetches dashboards with a tool and provides an invalid timestamp).

<img width="1809" a

[2020-06-25 14:44] elasticmachine commented on #69945
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-25 14:44] Bamieh commented on #48353
We will be reworking ui_metrics in 7.10 and 7.11, once we have the new api we'll open a new issue for lens to migrate their implementation to the new ui_metrics which should solve our current needs. Lens is currently running their own task and storing usage into localstorage separete from ui_metrics and what the telemetry team is maintaining. This makes it harder to maintain this part of code and

[2020-06-25 14:44] #48353 closed

[2020-06-25 14:55] nchaulet commented on #69903
Oh got it, I think we are doing some api calls in the ingest manager client side plugin start, that we should not do if the user do not have the right permission.

[2020-06-25 14:55] myasonik commented on #43020
Most screen reader/browser combos fail at identifying this with just `target=_blank` ([source](https://www.powermapper.com/tests/screen-readers/navigation/a-target-blank/)) so we should definitely add something.

I'll open an issue in EUI and EUI should be able to key off of whether or not `target` was passed in so you hopefully won't have to do anything to support it. Only use the `external` prop

[2020-06-25 14:57] kertal commented on #69908
@AlonaNadler this approach would be the first step (no prerequisites for the implementation, and multiple plugins could benefit from it without much adaption, speaking of discover, only a few lines of code), the specific saved search would be a follow up (much more prerequisites), a good second step.

[2020-06-25 15:01] TinaHeiligers commented on #68603
The stack-monitoring team gives the high-level steps on how to add data to the `.monitoring-es-*` indices [here](https://github.com/elastic/stack-monitoring-dev/issues/87#issuecomment-601748407)

[2020-06-25 15:04] kevinlog commented on #69429
@ferullo @EricDavisX @aisantos

I've been able to confirm that the Endpoint is sending the correct structure:
[code]

However, the id isn't populated when I provide it in a config.  The one I'm using is below:
[code]

Using the above, the `policy.applied.id` isn't populated yet.  Spoke with @ferullo offline and he said that they're working on getting it added in.  Will test again with a new endpoi

[2020-06-25 15:06] #69656 closed

[2020-06-25 15:06] #69691 closed

[2020-06-25 15:08] jasonrhodes commented on #66577
Closing this in favor of the single issue #66537, we can re-open if we decide to split into 2 for Metrics vs Logs

[2020-06-25 15:08] #66577 closed

[2020-06-25 15:09] brianseeders opened #69949 "[CI] Failed Test Automation"
Automatically assign `failed-test` issues to appropriate teams, automate some or all of test skipping.

Test skip could be submitted automatically as a PR and still require a human to click the merge button, or respond via comment

[2020-06-25 15:09] elasticmachine commented on #69949
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:10] afharo commented on #68603
I think, at some point, we should split the difference between Monitoring and Usage Telemetry. Pushing data to the `.monitoring-*` indices only for telemetry purposes seems to me like a hack.
Maybe we can discuss it on #68998

[2020-06-25 15:16] nnamdifrankie commented on #69686
Also if you don't mind me asking which approach is a larger effort, hopefully the running approach. I am asking so we can gauge how we are tracking for 7.9 on delivering the services.

[2020-06-25 15:18] peteharverson commented on #18496
Closing issue. Model snapshot management has been added to the Jobs list for 7.9 in https://github.com/elastic/kibana/pull/68182.

[2020-06-25 15:18] #18496 closed

[2020-06-25 15:20] brianseeders opened #69953 "[CI] 'merge upstream' only good changes"
`@elasticmachine merge upstream` or possibly `@kibanamachine merge upstream` should, by default, only pull in commits up to the latest one that has passed CI (e.g. has a `success` commit status with the `kibana-ci` context).

[2020-06-25 15:20] elasticmachine commented on #69953
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:20] brianseeders opened #69954 "[CI] Version bump automation / improvements"

[2020-06-25 15:20] elasticmachine commented on #69954
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:20] brianseeders opened #69955 "[CI] Better e-mail alerts"

[2020-06-25 15:20] elasticmachine commented on #69955
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:20] brianseeders opened #69956 "[CI] Ability to easily run CI with latest unverified snapshot"

[2020-06-25 15:20] elasticmachine commented on #69956
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:20] brianseeders opened #69957 "[CI] Disable Changes section in Jenkins for PRs"

[2020-06-25 15:20] elasticmachine commented on #69957
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:20] brianseeders opened #69958 "[CI] Flaky test suite runner bug: junit reports"

[2020-06-25 15:20] elasticmachine commented on #69958
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:21] brianseeders opened #69959 "[CI] Codify our GCP infra"
Terraform or Pulumi

[2020-06-25 15:21] elasticmachine commented on #69959
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:21] brianseeders opened #69961 "[CI] Slack notification formatting improvements"

[2020-06-25 15:21] elasticmachine commented on #69961
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:21] brianseeders opened #69962 "[CI] Create machine-readable list of currently-maintained tracked versions/branches"

[2020-06-25 15:21] elasticmachine commented on #69962
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:21] brianseeders opened #69963 "[CI] Add a check to make sure a PR isn't closed/merged before running CI"

[2020-06-25 15:21] elasticmachine commented on #69963
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:21] brianseeders opened #69964 "[CI] 6.8 pipeline backports"

[2020-06-25 15:21] elasticmachine commented on #69964
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:24] jasonrhodes commented on #67975
I believe this is fixed, we are confirming now and will link the PR that closed it and close this.

[2020-06-25 15:24] EricDavisX commented on #69571
Ruflin, hi - indeed, we have a ticket open for Integrations repo, here: https://github.com/elastic/integrations/issues/102
 - Manu says its within their purview so he can easily help get it set up.

Thanks Spencer for the pointers. I can look at this... sometime.  And maybe get help from some Elastic Security testers talent pool, especially when we can show them it will help test Elastic Endpoint

[2020-06-25 15:25] myasonik commented on #67270
So many toasts really feels like abuse of what toasts are meant to be... It really seems like we're trying to screw in a nail or a hammer a screw or otherwise misuse our tools.

To actually solve our Toast problems, we need a notification center of some sort and not continue to overload Toasts with more actions and complexity.

[2020-06-25 15:26] nchaulet commented on #69903
This PR merged yesterday will fix that https://github.com/elastic/kibana/pull/69505

Just tested with a `kibana_admin` user

<img width="830" alt="Screen Shot 2020-06-25 at 11 25 36 AM" src="https://user-images.githubusercontent.com/1336873/85749164-9d81af80-b6d6-11ea-83e2-db844a711243.png">

[2020-06-25 15:26] #69903 closed

[2020-06-25 15:27] brianseeders commented on #67501
I created issues for all of these and added them to the CI board: https://github.com/elastic/kibana/projects/34

[2020-06-25 15:38] mostlyjason commented on #69491
We have an open PR to add the dataset.* fields to ECS https://github.com/elastic/ecs/pull/845. They are not generated by Beats currently, only by Elastic Agent because they are part of the new indexing strategy. They are used to indicate the type of data being sent, the dataset (diskio, cpu, nginx access, etc.) and the namespace which is a user-defined string to partition data how they like. They

[2020-06-25 15:45] kibanamachine commented on #69632
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6118/)

[2020-06-25 15:49] TinaHeiligers commented on #68998
When monitoring is enabled, `cluster_stats` usage data is read from the `.monitoring-es-*` indices. This means that any usage data not collected from Kibana needs to be added to those indices (pushed by elasticsearch and beats) in order to retain parity between local and monitoring collection. We need to decide if this is appropriate and, if not, determine the best path forward for monitoring-ship

[2020-06-25 15:55] brianseeders opened #69970 "[CI] TeamCity research and planning"
- Document everything CI currently does
- Learn about TeamCity, how jobs can be structured, DSL, etc
- Start planning "CI 2.0" in the context of moving to TeamCity
- Start RFC document for plan
- Work with Infra on our desired features

---

- Include RPM/dev/Docker/etc testing in design

[2020-06-25 15:55] elasticmachine commented on #69970
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 15:58] walterra commented on #67365
25.06.2020, testing with Kibana's `7.7` branch:

- Cannot reproduce the issue when running Kibana via `yarn start` (dev start with optimize/watcher)
- But I can reproduce the issue when running Kibana via `node scripts/kibana`

I cannot reproduce in a way to proof the following 100%, but I have one suspicion:

The PR #59275 changed how the plugin initializes licensing information in `7.7` (The iss

[2020-06-25 16:02] angorayc opened #69972 "Enhancement for timeline templates"
- [x] More unit test - https://github.com/elastic/kibana/pull/72399
- [x] Happy path in integration test - move to 7.10 - https://github.com/elastic/kibana/pull/75537
- [ ] Properly delete immutable timeline (check if it is linked to rules and handle it properly) - move to 7.10
- [x] Internal api for on boarding template timeline
- [ ] The error message from importing timeline should be more obvio

[2020-06-25 16:03] elasticmachine commented on #69972
Pinging @elastic/siem (Team:SIEM)

[2020-06-25 16:03] AlonaNadler commented on #69908
Got it, thanks @kertal that will give at least a workaround for these specific asks 👍

[2020-06-25 16:08] hbharding commented on #67705
## Update:
cc @nchaulet @ruflin @mostlyjason @jen-huang @ph

[Video explanation](https://www.loom.com/share/96aa0efae56f4a50867c8dd503cc8967)

![image](https://user-images.githubusercontent.com/847805/85753407-3a921780-b6da-11ea-841e-de4a02260daa.png)

We want to improve the information we provide to users when they have missing requirements for running Fleet. I used the "prerequisites" section fr

[2020-06-25 16:15] the-zucc opened #69975 "Values from Math aggregation to be used in subsequent aggregations"
**Describe the feature:**
Could be very useful to be able to use the values from a Math aggregation in subsequent aggregations. Not sure if this is possible though.

**Describe a specific use case for the feature:**
An example use case would be to get an estimation of a minimum number of value changes (**not to be confused with cardinality**) in a time window for a field. An example is shown below

[2020-06-25 16:26] lcawl commented on #41833
I think from the latest comments in this issue a separate "book" is no longer the strategy. Just in case it is, however, please note that we're actively working on an extensive documentation redesign that moves away from our current book-focused product-specific docs. Instead, we're organizing content around our 3+1 solutions and then further grouping it based on the user-role and content type. We

[2020-06-25 16:29] rstriedl5c commented on #58226
any updates on this fix?

[2020-06-25 16:31] legrego commented on #43020
Thanks @myasonik. I'm going to close this out since it's in fact an upstream issue. Solving that will solve this and every other link in Kibana which opens in a new window

[2020-06-25 16:31] #43020 closed

[2020-06-25 16:38] #69869 closed

[2020-06-25 16:48] #62476 closed

[2020-06-25 16:51] stacey-gammon commented on #41833
I think, with the recommendations we are proposing, we could do either (a separate book, or inlined)?

 Short term, I was just going to inline them, to keep the `Developer Guide` where it is hosted now, even if I change where it lives in the Kibana rep (e.g. inside `docs/index.asciidoc`, instead of `include::developer/index.asciidoc[]`, it'd be `include::../dev_docs/index.asciidoc[]`)

We may have

[2020-06-25 17:01] #60659 closed

[2020-06-25 17:09] lcawl commented on #41833
There are indeed cool ways of manipulating the nesting of pages without altering the pages themselves: [leveloffsets](https://asciidoctor.org/docs/user-manual/#include-partitioning). I think this is something we're hoping to move to across the library in general (i.e. controlling the navigation/nesting at the highest level of the tree, not down in the leaves/pages). I've been using these offsets l

[2020-06-25 17:19] joshdover commented on #41833
As part of the initial move to `kibana/dev_docs` I'd really like to see us prioritizing creating a simple index of links to all the existing documentation, ideally for all plugins. I'm thinking a table like:

| Component Name | Short Description                                       | README                                | Client Reference                            | Server Reference

[2020-06-25 17:25] LeeDr opened #69984 "[FTR] [Jenkins CI] multiple config files overwrite test results in same ciGroup"
**Describe the bug:** I just discovered that test results from [x-pack/test/functional/apps/dev_tools/searchprofiler_editor.ts](https://github.com/rashmivkulkarni/kibana/blob/search_profiler_security/x-pack/test/functional/apps/dev_tools/searchprofiler_editor.ts) aren't in the Jenkins CI job `Test results > Chrome X-Pack UI Functional Tests` output.

What I think is happening is that those dev_too

[2020-06-25 17:27] joshdover opened #69985 "Remove support for dynamic mappings in SavedObject types"
As we continue to add more SavedObject types, we are starting to push up against the default field limit of 1000 mapped fields in Elasticsearch.

One common culprit that causes this is the usage of dynamic mappings in SavedObject schemas that cause the mappings to grow over time and eventually hit the 1000 limit. This failure scenario mappings are hard to test for since it depends on the shape of

[2020-06-25 17:27] elasticmachine commented on #69985
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-25 17:35] simianhacker commented on #69491
For metrics I think filter by the following would be important:
- `cloud.availability_zone`
- `cloud.region`
- `cloud.machine_type`

[2020-06-25 17:37] aisantos commented on #69429
@kevinlog - looks like that fix was recently merged. curious - where is the `policy.applied.id` coming from?

[2020-06-25 17:38] dgieselaar opened #69987 "[APM] Service maps fail to load when user has no access to ML"
`cluster:monitor/xpack/ml/job/get` is needed to load service maps:

[code]

To reproduce, create a new user that has only the `apm_user` role on a 7.8 instance. When navigating to service maps (when there is data), you should see a 500:

![image](https://user-images.githubusercontent.com/352732/85771300-13f4d080-b71c-11ea-8d1a-547b9147ab00.png)

[2020-06-25 17:38] elasticmachine commented on #69987
Pinging @elastic/apm-ui (Team:apm)

[2020-06-25 17:44] stacey-gammon commented on #41833
+1 @joshdover!  I could see that going under the `kibana/dev_docs/architecture` section.

[2020-06-25 17:46] #69660 closed

[2020-06-25 18:01] cjcenizal commented on #69845
@pgayvallet @restrry I can understand the desire to use TS to force plugin maintainers to do the right thing. From the phrasing of "correct way to assert if a plugin is available", I'm also inferring that we're seeking a canonical way for developers to determine plugin availability, which I can understand.

But I have a strong desire that we consider the developer experience foremost when consider

[2020-06-25 18:21] madirey opened #69992 "[Ingest Manager] Provide for conflict detection/resolution on Datasource update"
**Describe the feature:**
The Datasource service does not currently provide for a way to detect conflicts when multiple updates are performed at once. This opens us up to potentially nasty race conditions, as we have several places within the app where non-atomic datasource updates are performed.

**Describe a specific use case for the feature:**
One potential race condition is the following scena

[2020-06-25 18:21] elasticmachine commented on #69992
Pinging @elastic/endpoint-app-team (Feature:Endpoint)

[2020-06-25 18:21] elasticmachine commented on #69992
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-25 18:21] ph commented on #67989
@ron @jfsiii I think we can close this issue, with the change to saved object and us moving away from using EQL.

[2020-06-25 18:21] #67989 closed

[2020-06-25 18:26] kevinlog commented on #69429
@paul-tavares we could put an ErrorBoundary here in management so it doesn't bubble up.

[2020-06-25 18:44] jasonrhodes commented on #69281
Hey all, two things about this:

1. Make sure when you are making telemetry collection available to your front-end app, you use the _start_ contract and not the setup contract. Details here: https://github.com/elastic/kibana/issues/69835
1. The observability plugin makes some hooks available for using ui_metric to track something like page views https://github.com/elastic/kibana/blob/master/x-pack

[2020-06-25 18:46] jen-huang commented on #69740
@hbharding Are `Beta` integrations affected by the Experimental toggle?

[2020-06-25 19:14] AlonaNadler commented on #53660
That make sense to me. Thanks for the details @flash1293

[2020-06-25 19:19] YulNaumenko commented on #49908
In addition to the previous comment about posting images to Slack, I want to extend it with the info:

We have two different approaches on how to post a Slack message with an image. Both is implemented in my [PR](https://github.com/elastic/eui/pull/3658)

1. **Upload image directly with message**:
Upload an image directly to Slack and share it in a channel. Within that request you can also add a c

[2020-06-25 19:22] mattkime opened #69997 "Controls visualization should have option to automatically select first option"
This will reduce the number of clicks for a user to see correct data in some circumstances.

[2020-06-25 19:46] rashmivkulkarni opened #70000 "When you give just `manage_ccr` role to the user to access cross cluster replication, the error which appears on the screen is `Error checking permissions Cannot read property 'push' of undefined`"
Kibana -master branch

Create a role and call it as `ccr_role` with just `manage_ccr` cluster privileges and assign it to the user created.
When you login as that user and navigate to Cross cluster replication - you see the following error message displayed on the screen

[code]

This is a bad error message - It does not indicate that the user is missing any privileges. if you don’t have `manage`,

[2020-06-25 19:46] elasticmachine commented on #70000
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-06-25 20:00] joshdover commented on #68859
Is this caused by having different plugins enabled in Cloud vs in our normal FTR setup? I'm not 100% sure but I think these SOs may come from Ingest Manager (which is disabled by default) packages being installed? How else would these be getting created?

@liza-mae is the configuration for the Kibana instance in Cloud exactly the same as we have defined in the FTR config?

[2020-06-25 20:28] wylieconlon commented on #68852
We've made multiple improvements to this test, but haven't backported them to 7.8- closing as I think this is resolved.

[2020-06-25 20:28] #68852 closed

[2020-06-25 20:40] hbharding commented on #67692
@kevinlog @caitlinbetz can you confirm this copy is good to go? Not sure if "Endpoint App" should be something else like Elastic Security Solution.

![image](https://user-images.githubusercontent.com/847805/85793045-6a551580-b702-11ea-8104-ab331166e69a.png)
![image](https://user-images.githubusercontent.com/847805/85793054-704af680-b702-11ea-9b31-8bd4721c0ce8.png)

[2020-06-25 20:45] joshdover opened #70006 "Rename `server.xsrf.whitelist` to `server.xsrf.allowlist`"
In support of our effort to use more neutral terminology in our product, we should rename the `server.xsrf.whitelist` config key to `server.xsrf.allowlist`, deprecating the old name in 7.x and removing support completely in the main/8.0 branch.

[2020-06-25 20:45] elasticmachine commented on #70006
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-25 20:46] hbharding commented on #69740
Sorry yup, should have included that :)

[2020-06-25 21:23] MichaelMarcialis commented on #25734
Great questions, @alexfrancoeur. Apologies for the delayed response.

This is a tricky one. In thinking about it briefly, I believe we have three possible directions to take:

1. **Hide solution boxes.** While the most obvious choice, it does have the potential to create problems with the current design. For example, if a user only had permission to the Kibana applications, would they just see a h

[2020-06-25 21:31] #68436 closed

[2020-06-25 22:10] spong commented on #41589
Closing as no longer relevant since we now use the ML Recognizer API to display compatible jobs.

[2020-06-25 22:10] #41589 closed

[2020-06-25 22:11] hbharding commented on #67692
Accidentally closed this issue

[2020-06-25 22:14] spong commented on #41609
Closing as `kibana_user` is now deprecated and there has also been quite a bit of rework around the FTUE as part of 7.6 and the re-designed overview.

[2020-06-25 22:14] #41609 closed

[2020-06-25 22:15] spong commented on #44455
@MadameSheema I think this is still relevant, but will defer to @elastic/security-design for reviewing usability changes.

[2020-06-25 22:17] wylieconlon opened #70017 "[Lens] Sort the field existence query by timestamp to get ES shard optimization"
This is a performance optimization on the query that Lens runs on behalf of users. We should sort by the timestamp in descending order, which is optimized by Elasticsearch to route to only the correct shards instead of all shards. This is in theory much faster, but I haven't tested it.

There is also a separate issue with cross-cluster-search in the field existence endpoint, should anyone want to

[2020-06-25 22:17] elasticmachine commented on #70017
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-25 22:19] hbharding commented on #67692
Ahhh apologies for that. @parkiino I just realized this is the design issue. Our fault for not having the implementation issue ready for you. You can close out this issue with your PR and i'll update our spreadsheet.

[2020-06-25 22:19] spong commented on #45021
@MadameSheema this is still an issue -- verified on 7.9.0-snapshot.

[2020-06-25 22:19] jen-huang opened #70018 "[Ingest Manager] Rename and restructure data source saved object"
PR: https://github.com/elastic/kibana/pull/70259

## Summary

As part https://github.com/elastic/beats/issues/19082, `datasources` have been removed from package registry and agent config yaml. There are already some Kibana changes to support this removal: https://github.com/elastic/kibana/pull/69226, https://github.com/elastic/kibana/pull/69864

The existing Kibana changes so far have not signifi

[2020-06-25 22:19] elasticmachine commented on #70018
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-25 22:22] spong commented on #49510
@MadameSheema this behavior is still present on 7.9.0-snapshot.

[2020-06-25 22:24] LeeDr commented on #69984
cc/ @dmlemeshko @brianseeders

[2020-06-25 22:24] spong commented on #49753
@MadameSheema this behavior is still present on 7.9.0-snapshot, albeit a little different... 😅
<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/85801509-3e389500-b700-11ea-9acd-3244032c614f.png" />
</p>

<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/85801498-35e05a00-b700-11ea-9dc4-dec6b719a3ef.png" />
</p>

[2020-06-25 22:31] spong commented on #51845
@MadameSheema further testing is required here, but revisiting the thread in the description doesn't point to this being fixed.

[2020-06-25 22:33] spong commented on #54382
@MadameSheema this is still relevant, and should be prioritized as we continue to add more ML jobs.

[2020-06-25 22:35] kevinlog commented on #67692
@hbharding apologies, I was under the impression that we wanted to go ahead and implement this.  We can conform to this design and work with @caitlinbetz and @bfishel to finalize the text.

[2020-06-25 22:36] spong commented on #54677
@MadameSheema this is still relevant, will defer to @elastic/security-design on preferred standardization.

[2020-06-25 22:38] spong commented on #54897
@MadameSheema the behavior above is still present in 7.9.0-snapshot.

[2020-06-25 22:38] liza-mae opened #70021 "ES docker snapshot"
From a discussion with @tylersmalley on ECE Kibana PR testing, it was mentioned that Kibana PRs are pinned to a verified snapshot of elasticsearch in this job:  https://kibana-ci.elastic.co/job/elasticsearch+snapshots+build/

Although I can get the manifest, for example: https://console.cloud.google.com/storage/kibana-ci-es-snapshots-daily/7.8.1/manifest-latest.json and build the elasticsearch doc

[2020-06-25 22:38] elasticmachine commented on #70021
Pinging @elastic/kibana-operations (Team:Operations)

[2020-06-25 22:39] spong commented on #55760
@MadameSheema this is still relevant as of the latest 7.9.0-snapshot.

[2020-06-25 22:48] spong commented on #56991
@MadameSheema in attempting to reproduce the above using a user/role with the detailed permissions I was unable to view the Alerts page as the app would get stuck on the `/spaces/space_selector` route and never load any spaces.

<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/85802951-480fc780-b703-11ea-9a42-28a3395ea4dd.png" />
</p>

[2020-06-25 22:50] spong commented on #57071
@MadameSheema this should still be relevant as of the most recent 7.9.0-snapshot.

[2020-06-25 22:52] spong commented on #63155
@MadameSheema this is still relevant as of the most recent 7.9.0-snapshot and should be prioritized with the addition of new ML Jobs to improve UX.

[2020-06-25 22:53] spong commented on #63343
@MadameSheema this is currently being worked for 7.9 by @marshallmain

[2020-06-25 22:57] spong commented on #63470
@MadameSheema this is still relevant as of the most recent 7.9.0-snapshot. Looks like @patrykkopycinski's changes here (#69433) may help with this.

[2020-06-25 23:00] spong commented on #63865
@MadameSheema this is still relevant as of the latest 7.9.0-snapshot and should be prioritized a usability enhancement as this behavior is misleading to the user.

[2020-06-25 23:02] spong commented on #64034
@MadameSheema this is still an issue as of the latest 7.9.0-snapshot.

[2020-06-25 23:03] spong commented on #64698
@MadameSheema this is still an issue as of the latest 7.9.0-snapshot.

[2020-06-25 23:03] YulNaumenko commented on #67383
POC PR is https://github.com/elastic/eui/pull/3658
In addition to the previous comment about posting images to Slack, I want to extend it with the info:

We have two different approaches on how to post a Slack message with an image. Both is implemented in my [PR](https://github.com/elastic/eui/pull/3658)

1. **Upload image directly with message**:
Upload an image directly to Slack and share it in

[2020-06-25 23:04] #67383 closed

[2020-06-25 23:05] spong commented on #64961
@MadameSheema this is still an issue as of the latest 7.9.0-snapshot.

[2020-06-25 23:06] spong commented on #66484
@MadameSheema this is still an issue as of the latest 7.9.0-snapshot.

[2020-06-25 23:06] spong commented on #66495
@MadameSheema this is still an issue as of the latest 7.9.0-snapshot.

[2020-06-25 23:07] spong commented on #67504
@MadameSheema this is still an issue as of the latest 7.9.0-snapshot.

[2020-06-25 23:17] dedemorton opened #70023 "[Ingest Manager] Edit ingest manager text strings"
The text strings in the alpha version do not conform to EUI writing guidelines. I'll work with the Kibana writers to provide editorial guidance.

Related PR: https://github.com/elastic/kibana/issues/67634

cc @gchaps

[2020-06-25 23:38] hbharding opened #70024 "[Ingest Manager] Name changes tracking issue"
# Summary

This issue tracks all the name changes we've discussed and want to implement for Ingest Manager beta 1. Most importantly, we want to remove all references to **data sources** and **data streams / streams** in the UI, but this list includes a few others for tracking purposes. If you find something that's not covered here, please add it to the list!

For each item in the list, we can link

[2020-06-25 23:38] elasticmachine commented on #70024
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 00:03] hbharding commented on #70018
I created this issue for tracking names we want to change in the UI https://github.com/elastic/kibana/issues/70024

[2020-06-26 00:10] #51453 closed

[2020-06-26 00:34] hbharding opened #70026 "[Ingest Manager] Show beta/experimental badges and tooltips on integrations"
See [design issue](https://github.com/elastic/kibana/issues/69740) for more information.

Related to #64869.

**Requirements**
- ~By default, experimental integrations will not be shown.~
- When enabled, show an "experimental" badge on the integration card
- On integration detail page, show "experimental" badge in header area next to the name of the integration. Hovering on the experimental badge

[2020-06-26 00:34] elasticmachine commented on #70026
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 00:47] kimjavier43 opened #70027 "Charts: Hide chart labels when field value is empty on filters aggregation"
**Describe the feature:**
Filter aggregation should also hide labels when values are empty like term aggregation.
**Describe a specific use case for the feature:**
When filters aggregation is used, labels with empty values mess up the charts flooding with unnecessary labels that has empty values.

elastic discuss: https://discuss.elastic.co/t/kibana-hide-chart-label-and-values/229806

[2020-06-26 00:51] hbharding opened #70029 "[Ingest Manager] Implement improved Endpoint data source creation and edit mode"
See [design issue](https://github.com/elastic/kibana/issues/67692) for more information.

[2020-06-26 00:51] elasticmachine commented on #70029
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-06-26 00:51] elasticmachine commented on #70029
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 00:54] hbharding commented on #67692
We do want you to implement this! To keep things clean, I went ahead and created an [implementation issue](https://github.com/elastic/kibana/issues/70029). I wanted to mark this as "done" on my end in Zube, but looks like it got caught in a weird loop.

I assigned @parkiino and used the same labels, so hopefully it appears on your end.

[2020-06-26 01:04] hbharding opened #70030 "[Ingest Manager] Simplify "add" and "edit" integration pages"
Per discussion, there are a few things we wanted to improve on the "Add integration" and "edit integration" pages.
- When adding an integration from an integration detail page, the header should say "Add {integration_name} integration"
- Combine steps 2 + 3 into a single step
- Remove steps from the edit experience
- Remove "Define your data source" language
- Remove "X/X streams enabled" for each

[2020-06-26 01:04] elasticmachine commented on #70030
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 01:41] hbharding opened #70033 "[Ingest Manager] Implement changes to "add" and "edit" integration pages"
See [design issue](https://github.com/elastic/kibana/issues/70030) for details.

[2020-06-26 01:41] elasticmachine commented on #70033
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 01:45] hbharding opened #70034 "[Ingest Manager] Implement the display of requirements for running Fleet on-prem"
See [design issue](https://github.com/elastic/kibana/issues/67705) for details.

[2020-06-26 01:45] elasticmachine commented on #70034
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 02:21] #69842 closed

[2020-06-26 02:25] #69400 closed

[2020-06-26 04:51] #68087 closed

[2020-06-26 05:02] vasanth-gmp opened #70038 "Error fetching user privileges from the server on elasticsearch 7.7.0 for snapshot and restore"
**Kibana version:*7.7.0*

**Elasticsearch version:*7.7.0*

**Server OS version:*ubuntu 16.04*

**Browser version:*chrome latest*

**Original install method (e.g. download page, yum, from source, etc.):"deb"

**Describe the bug:"In elasticsearch snapshot and restore is disabled, "[exception] Security must be explicitly enabled when using a [basic] license. Enable security by setting [xpack.security

[2020-06-26 06:11] Sjaak01 commented on #68621
The output is below. There are a couple of things I need to mention though.

1) I have a EC2 instance with Kibana connecting to Elasticsearch on the Elastic cloud.
2) Originally I had the Kibana cloud instance stopped.
3) Somewhere along the line I think something changed on the Elastic cloud side. Support "fixed" my Kibana instance the other day but this caused it to upgrade to 7.4.2 for some rea

[2020-06-26 06:38] #69813 closed

[2020-06-26 06:45] kibanamachine opened #70043 "Failing test: X-Pack Jest Tests.x-pack/plugins/rollup/public/test/client_integration - Create Rollup Job, step 6: Review save() without starting job after creation should call the "create" Api server endpoint"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6134/)

[2020-06-26 06:45] kibanamachine commented on #69783
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6134/)

[2020-06-26 06:45] elasticmachine commented on #70043
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-26 06:57] kertal commented on #63025
@liza-mae there was a change/fix recently merged to stabilize the test, so it should be fixed (https://github.com/elastic/kibana/pull/68771)

[2020-06-26 07:38] #67384 closed

[2020-06-26 07:45] restrry commented on #69845
@pgayvallet right.
@cjcenizal I reasoned that a plugin might be available at the start, but unavailable later due to an error, so you will have to check a dependency availability via status service.

[2020-06-26 07:50] #69452 closed

[2020-06-26 08:23] walterra commented on #67365
I could verify that the race-condition-theory from the previous comment is indeed the root cause:

- The bug triggered a redirect to Kibana Home which also refreshed the web developer console, so we couldn't see any console output before the redirect
- I created a version that avoids the redirect and just outputs console logs.
- When the page loads successfully, we get the following output:

[code

[2020-06-26 08:58] rudolf commented on #69720
Thanks for the detailed report @lucabelluccini This seems to be a duplicate of https://github.com/elastic/kibana/issues/69639#issuecomment-649360215 I've also added some instructions for a workaround that doesn't require deleting all the failing documents.

I think we can keep this issue open until the @elastic/kibana-app-arch team investigates the other issue you brought up:

[2020-06-26 09:01] pnowak85 opened #70048 "[Logs UI] Using cross cluster index not showing log data"
**Kibana version:** 7.8.0

**Elasticsearch version:** 7.8.0

**Browser version:** Chrome 83.0

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** official docker image

**Describe the bug:**
Logs UI does not show data from a `cross cluster index`, instead it shows: ```Looks like you don't have any logging indices.
Let's add some!```
Logs a

[2020-06-26 09:36] restrry commented on #70006
`server.xsrf.whitelist` has been already deprecated in https://github.com/elastic/kibana/pull/58717 and supposed to be removed in 8.0
I believe we can close the issue

[2020-06-26 10:21] hyprstack commented on #52324
For those of us using elasticsearch7.4 on AWS and that need the flattened type for a field, how do we work around this?

[code]

[2020-06-26 10:22] kibanamachine commented on #69617
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6137/)

[2020-06-26 10:38] watson opened #70051 "Finding an alternative for hapi"
The hapi project, which Kibana uses internally, [has announced](https://twitter.com/hapijs/status/1275887984114413569) that it's EOL by the end of the year. While it's possible to purchase an enterprise license to extend this support for a [few years](https://twitter.com/hapijs/status/1276063627972194305), I think it's best that we start working towards a replacement ASAP.

Of the backend framewor

[2020-06-26 11:04] #68994 closed

[2020-06-26 11:32] streamich opened #70055 "[Discuss] Index patterns in discover"
TLDR; currently, when viewing data in Discover app, user selects a single Kibana index pattern (defined in management app). Maybe Discover could extend this to allow selecting multiple index patterns and/or any Elasticsearch multi index API strings.

---

![image](https://user-images.githubusercontent.com/9773803/85843055-e9992680-b7a0-11ea-804c-d34c1cdaacae.png)

In the above screenshot you can s

[2020-06-26 11:49] elasticmachine commented on #70048
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-26 12:43] streamich commented on #70055
/cc @elastic-jb @AlonaNadler

[2020-06-26 12:44] jloleysens commented on #58322
The Monaco-based editor supports """sql  <Type your SQL> """ at the moment.

We will need to add collapseStringLiteral support for these cases.

[2020-06-26 12:57] #69543 closed

[2020-06-26 12:59] timroes commented on #50267
I would like to cc @elastic/kibana-platform on this one. It feels for me like we should start having a general proxy setting, and a client on the serverside available that takes care of proxying requests, so every code that needs to make outbound requests take care of it, and you don't need to configure a separate proxy for all the separate applications.

Leaving aside whether we need to find an i

[2020-06-26 13:00] elasticmachine commented on #63028
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-26 13:00] timroes commented on #63028
Moved to platform, since they own the saved object UI.

[2020-06-26 13:07] timroes commented on #63059
Moving to platform. While Kibana App owns the advanced settings UI, the platform team owns all the services and APIs around config settings.

[2020-06-26 13:07] elasticmachine commented on #63059
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-26 13:08] elasticmachine commented on #68861
Pinging @elastic/kibana-platform (Team:Platform)

[2020-06-26 13:23] mcollina commented on #70051
I'm happy to facilitate in any way, but I expect @delvedor to do most of the work :P. One thing to note is to use Fastify v3 (currently in release candidate): `npm i fastify@next`. There are quite a few important changes and the types have all been rewritten to better support the framework.

[2020-06-26 13:28] ph commented on #69282
@skh Could we also add this information in the collected data?

- Ability to see OS type
- Ability to see OS version

cc @stevewritescode

[2020-06-26 13:38] XavierM commented on #63345
that's still valid

[2020-06-26 13:47] mbarretta commented on #17298
Yes, sticky and always visible

Yes, single text string, no title. The "title" could be done via a \n
[code]

Think I threw out MD as a means of giving basic formatting like bold, underline, and italics. It isn't a requirement for my users, AFAIK, but I have seen it used. Real example:
![image](https://user-images.githubusercontent.com/1015404/85863602-645a4580-b791-11ea-8d16-356bc9b2ac9d.png)

Ye

[2020-06-26 14:00] ypid-geberit commented on #25439
Hi @chrisronline

I am confused about this statement. The setting is still present in Elastic 7.8 (tested locally) and 7.7 (https://demo.elastic.co/) with no deprecation note.

I then checked where this setting is actually used by the system watches. Seems Stack monitoring somehow copies it to `.monitoring-kibana-7-*` where painless ultimately uses it for alerting (`ctx.payload.kibana_settings.hit

[2020-06-26 14:27] pmuellr opened #70075 "[alerts][docs] change "Elastic" to "Elastic Alerts" in Pagerduty action doc"
In the [Pagerduty action doc](https://www.elastic.co/guide/en/kibana/current/pagerduty-action-type.html#pagerduty-integration-walkthrough), we reference the PagerDuty Integration Type / Select Tool option as **Elastic**, but it's actually **Elastic Alerts**:

![image](https://user-images.githubusercontent.com/25117/85867617-28c27a00-b797-11ea-836c-b4d103b9659b.png)

I see two references, but didn'

[2020-06-26 14:27] elasticmachine commented on #70075
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-26 14:27] chrisronline commented on #25439
Hi @ypid-geberit,

Thanks for raising your concerns.

You are right, this particular setting still does appear in 7.7 and 7.8, as https://github.com/elastic/kibana/pull/33603 was not backported, due to breaking change concerns.

So it is a broken experience in 7.x where [the code no longer reads this setting](https://github.com/elastic/kibana/blob/7.x/x-pack/plugins/monitoring/server/kibana_monito

[2020-06-26 14:28] pmuellr commented on #68065
Concur that the last issue here is a doc issue to change *Elastic* to *Elastic Alerts* as the PagerDuty integration name.

I've opened issue https://github.com/elastic/kibana/issues/70075 for that.

I'm going to go ahead and close the issue; @romain-chanu feel free to re-open if there is more for us to do here.

[2020-06-26 14:28] #68065 closed

[2020-06-26 14:33] #61757 closed

[2020-06-26 14:37] spong commented on #54899
Looks like this was resolved as part of https://github.com/elastic/kibana/pull/55969, closing... 🙂

[2020-06-26 14:37] #54899 closed

[2020-06-26 14:37] ypid-geberit commented on #25439
Thanks. Then only one thing is unclear to me. What is the recommended way to set the admin email (for the system watches) then? I only found https://www.elastic.co/guide/en/cloud/current/ec-manage-kibana-settings.html `xpack.monitoring.cluster_alerts.email_notifications.email_address`. Setting this in Kibana seems confusing to me. The watches using this setting live in ES. The cluster settings wou

[2020-06-26 14:52] cchaos commented on #53660
I'm mostly fine with this if we can try to keep it as a single control. I don't want to have to introduce a toggle or something for users to have to first switch into manual mode in order to change colors. Happy to talk options about what EUI has in order to support this.

[2020-06-26 14:53] Dosant commented on #66051
We discussed that a bit from implementation perspective, noting down 1 possible approach:

----

1. We add ability to add `options` when attaching action to a trigger

Before:

[code]

After:

[code]

`CONTEXT_MENU_TRIGGER` will have optional meta:

[code]

2. Then when rendering context menu, `groupId` and other meta will be used to put action in correct place

---

⬆️ in the example `groupId` in

[2020-06-26 14:56] wylieconlon commented on #68315
cc @flash1293 @mbondyra - this is closely related to the X axis styling options https://github.com/elastic/kibana/issues/68314

[2020-06-26 15:03] wylieconlon commented on #52324
@hyprstack The flattened field is available in the free Basic distribution that Elastic offers, but is not available in Amazon Elasticsearch. You could switch to purchasing Elastic instances [from the Amazon marketplace](https://aws.amazon.com/marketplace/pp/Elasticsearch-Inc-Elasticsearch-Service-on-Elastic/B01N6YCISK), or from https://elastic.co directly.

[2020-06-26 15:13] wylieconlon commented on #67310
I agree with @cchaos that hiding the legend would cause a subset of charts to be less readable in a dashboard, but that doesn't necessarily mean we should skip this feature. The users who are asking for this want it because it's a denser display, and because they primarily use the tooltips to investigate the data, so we should enable that use case.

I'm not sure we should support a "show legend" o

[2020-06-26 15:14] DanRoscigno opened #70081 "Wrong URL in MySQL Metrics instructions in Kibana Home > Add Metrics >MySQL"
**Kibana version:**
7.8

**Elasticsearch version:**
7.8

**Metricbeat Version**
7.8

**Describe the bug:**
When following the instructions to deploy the MySQL Metricbeat module the link for the dashboard fails with `Could not locate that dashboard (id: 66881e90-0006-11e7-bf7f-c9acc3d3e306-ecs)`

**Steps to reproduce:**
1. Kibana Home > Add Metrics > MySQL
2. Launch the dashboard from the bottom of

[2020-06-26 15:31] gmmorris commented on #69442
We had a call to discuss this on the 25th of June and came up with the following direction:

- [ ] Turn this issue into a meta issue to track the different steps we'd like to take towards achieving this requirement.
- [ ] Align the terminology in the code with the terminology we use externally and in the UI by changing "Actions" to "Connectors". This isn't a whole sale find-and-replace, as we'll s

[2020-06-26 15:32] gmmorris opened #70082 "The Actions terminology in the code has diverged from the terminology we use verbally and in the UI"
This is a step towards addressing  https://github.com/elastic/kibana/issues/69442

Align the terminology in the code with the terminology we use externally and in the UI by changing "Actions" to "Connectors". This isn't a whole sale find-and-replace, as we'll still have an Actions feature, client etc. But we'll separate between the Connector entity and the Action entity as they are treated differe

[2020-06-26 15:33] gmmorris opened #70083 "It isn't possible to reuse a single connector across multiple actions"
This is a step towards addressing  https://github.com/elastic/kibana/issues/69442

Make it possible for an ActionType (which by that point might be a ConnectorType) to register multiple `executors` each of which represents a potential kind of _action_ that might be taken using the connector.

[2020-06-26 15:34] gmmorris opened #70084 "It isn't possible to assign different privileges to different actions when they are based off of the same connector"
This is a step towards addressing  https://github.com/elastic/kibana/issues/69442

RBAC for connectors/actions such that you can (perhaps) apply different privileges across these actions.

[2020-06-26 15:45] pmuellr opened #70086 "[event log] can't find events since action/alert saved object are now hidden"
Since PR https://github.com/elastic/kibana/pull/67109 was merged, the event log hasn't been able to return any events since the alert and action saved objects are now hidden.  The savedObjectsClient that's created in the event log needs to be tweaked to look for hidden types for actions and alerts.

There is already a "fix" for this in the branch for PR https://github.com/elastic/kibana/pull/68437

[2020-06-26 15:45] elasticmachine commented on #70086
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-06-26 15:58] jasonrhodes opened #70088 "Support metrics-* pattern in Metrics UI"
The default of the metrics UI is using the metricbeat-* index pattern. With the new indexing strategy and the Elastic Agent, these indices will follow the `metrics-*` pattern, which should be added to the defaults.

AC:
* `metrics-*` is added to the default source configuration
* existing users who have `metricbeat-*` in their source configuration get `metrics-*` appended

[2020-06-26 15:58] elasticmachine commented on #70088
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-06-26 15:59] #67995 closed

[2020-06-26 16:02] jasonrhodes commented on #66537
In order to track across the milestones, I created a Metrics ticket #70088

[2020-06-26 16:03] elasticmachine commented on #70088
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-06-26 16:04] nickofthyme opened #70089 "[SIEM] Broken SIEM app link in tutorials"
**Kibana version:**
`8.0.0`

**Elasticsearch version:**
`8.0.0`

**Browser version:**
Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
Broken SIEM app link in tutorials

**Steps to reproduce:**
1. Run kibana with SIEM enabled

[code]

2. Go to auditbeat tutorial `http://localhost:5601/fgr/app/home#/tutorial/auditbeat`
3. Click `Securit

[2020-06-26 16:04] elasticmachine commented on #70089
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-06-26 16:04] elasticmachine commented on #70089
Pinging @elastic/siem (Team:SIEM)

[2020-06-26 16:06] nchaulet commented on #69686
@ruflin @jen-huang I think endpoint want to know what is currently running on one agent, (this will allow to detect when endpoint is added/removed). Also from an end-user perspective I think it's a nice feature too.

[2020-06-26 16:26] joshdover commented on #70006
Ah I missed that.

[2020-06-26 16:26] #70006 closed

[2020-06-26 16:36] hyprstack commented on #52324
Thanks :) How easily would this integrate with existing AWS infrastructures?
Also before I recommend any purchase of extra services to my employer, could having a single level list (array) also lead to memory explosion?
It seems to be stored as a text data type.

[2020-06-26 16:43] #67203 closed

[2020-06-26 16:44] jen-huang commented on #69992
I'm assigning myself for now as the current task I'm on will take some time, so opening this up for anyone else who has the bandwidth.

[2020-06-26 17:34] Zacqary commented on #68492
Still trying to figure out how to reproduce this result on my end, but in the meantime I can answer:

Correct, we only show you one sample group on the chart and don't yet have a way to paginate through all the rest of them. We do have https://github.com/elastic/kibana/pull/67684 coming up in 7.9 which can at least tell you if some of your matched groups will cause the alert to fire, but we can ta

[2020-06-26 17:40] chrisronline commented on #25439
The only way it will work (until we patch this) for 7.7 and beyond is to set it inside of `kibana.yml` under `monitoring.cluster_alerts.email_notifications.email_address`. We will have a fix for this soon so it will continue to work from the advanced setting, but that same PR will also mark that as deprecated and suggest to use the `kibana.yml` setting instead.

Does that help?

[2020-06-26 17:47] fbaligand commented on #68718
@tsullivan
I add that "Download CSV" generates "Raw data" export, and "Export CSV" generates "Formated Data".
That is particularly important for numbers, where a custom locale is chosen in advanced settings.

[2020-06-26 17:52] fbaligand commented on #4060
Hi there,

Waiting that very helpful feature, you can use enhanced-table community plugin, that includes a "Document Table" visualization, to visualize simple documents as table, with custom column name, custom document count per page, custom total documents listed, and enhanced features like filter bar and computed columns.

[2020-06-26 18:03] kibanamachine opened #70103 "Failing test: X-Pack Jest Tests.x-pack/plugins/lens/public/indexpattern_datasource - loader loadInitialState should load a default state when lastUsedIndexPatternId is not found in indexPatternRefs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6201/)

[2020-06-26 18:03] elasticmachine commented on #70103
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-26 18:03] kibanamachine opened #70104 "Failing test: X-Pack Jest Tests.x-pack/plugins/lens/public/indexpattern_datasource - loader loadInitialState should load lastUsedIndexPatternId if in localStorage"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6201/)

[2020-06-26 18:03] elasticmachine commented on #70104
Pinging @elastic/kibana-test-triage (failed-test)

[2020-06-26 18:06] neptunian commented on #64213
Because installing is not atomic and updating is a process of overwriting assets with the same names, there is not a way to guarantee the installation is going to be successful before assets are installed/updated.  "Rolling back" during an unsuccessful update would be trying to reinstall the previous package.  So long as we use the same name for the assets, we can't install two versions at the sam

[2020-06-26 18:07] fbaligand commented on #17950
I fully agree with @mikeh688
Then, I have several users that ask me to have alerting with a Kibana table visualization as CSV attachment.
And today, I can't address this need, that is very useful to be able to open data in Excel, and even, simply copy the text of the data table.
Formatted data is necessary for me. Particularly to use number format locale. Microsoft Excel expects number format loca

[2020-06-26 18:10] ph commented on #67409
cc @blakerouse @michalpristas

[2020-06-26 18:18] cjcenizal commented on #69845
@restrry Ah, I see! Thanks for explaining.

I think I'd like to have the error case clearly defined and understood. If we're only speculating at this point, then I think the pragmatic course would be to ignore this possibility. If we were to update plugin code to be robust in the event of any plugin dependency failure, then I think we'll an introduce a non-trivial amount of complexity into the cod

[2020-06-26 18:23] wylieconlon commented on #52324
@hyprstack This issue is not the right place to ask questions about our products: there are multiple ways of getting started depending on your needs. I recommend you read about it on https://www.elastic.co/ to see which one is best for you.

[2020-06-26 18:28] ph commented on #69799
@andresrc @fearful-symmetry Have you seen this error before? One thing that come to mind would be high CPU usage would cause a timeout but I doubt the testing instance is really under load.

@EricDavisX what instance they are using for testing?

[2020-06-26 18:29] wylieconlon opened #70109 "[Lens] Update screenshots in docs for 7.9"
Now that we've merged a new design for the field list using accordions, we need to update the docs. The PR is https://github.com/elastic/kibana/pull/68871

cc @mbondyra @KOTungseth

[2020-06-26 18:29] elasticmachine commented on #70109
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-06-26 18:30] ph commented on #67409
@nchaulet It is possible that the "graceful" and "force" is the same thing with different timeout value?

[2020-06-26 18:32] neptunian commented on #59910
This was completed for alpha and is more of a meta issue to document how installation works

[2020-06-26 18:36] neptunian commented on #67760
Should other packages depend on the existence of fields from other packages to exist (other than base package)?