[2020-10-29 21:06] elasticmachine commented on #82045
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-29 21:06] IsaakRubin commented on #41460
very nice, thank you!

worked with
https://artifacts.elastic.co/downloads/kibana/kibana-7.9.3-amd64.deb
and
https://nodejs.org/dist/v10.22.1/node-v10.22.1-linux-arm64.tar.xz
too!

[2020-10-29 21:12] wylieconlon commented on #62193
Closing as we have made a decision about this: https://github.com/elastic/kibana/issues/81976

[2020-10-29 21:12] #62193 closed

[2020-10-29 21:14] thomasneirynck commented on #80865
+1 on warning to console. It'd be helpful agreed.

[2020-10-29 21:17] alexfrancoeur commented on #81970
++ and that's what was originally proposed in the mocks I believe. This is probably more of an edge case, but I could see potentially having write permissions for tag management and none for saved objects. That is why I was leaning to having one option for bulk tag assignment to be done through the tag management UI.

I agree that most users would prefer to assign from the application themselves.

[2020-10-29 21:24] alexfrancoeur commented on #81980
@pgayvallet can I add this one into the mix? https://github.com/elastic/kibana/issues/81847

[2020-10-29 21:24] neptunian commented on #77466
@ph Seems like this needs to go into 7.10?

[2020-10-29 21:31] elasticmachine commented on #66085
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-29 21:32] thomasneirynck commented on #55611
If on-prem will be the goto, we can then also deprioritze https://github.com/elastic/kibana/issues/69935 and https://github.com/elastic/kibana/issues/29825 accordingly

[2020-10-29 21:46] kobelb opened #82086 "Encrypted saved-object attributes cause issues for import/export"
Encrypted saved-object attributes were originally implemented to store end-user provided secrets that only needed to be consumed by the Kibana server. Since the secrets are only consumed by the Kibana server, we intentionally prevented them from being disclosed to end-users because they contain sensitive information. For example, Alerting's connectors store credentials for third-party services, an

[2020-10-29 21:46] elasticmachine commented on #82086
Pinging @elastic/kibana-security (Team:Security)

[2020-10-29 21:46] elasticmachine commented on #82086
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-29 21:48] kobelb commented on #82086
Pinging @elastic/kibana-alerting-services

[2020-10-29 22:13] jonathan-buttner opened #82088 "[Fleet][EPM] Upgrade rollback fails because the previous package is out of date"
As we have made recent improvements to package install failures in `/setup` handling, this issue is now to research what the behavior is now after running the scenario below.

---

This bug exists in master, and 7.10 of kibana.

If a non-ingest manager failure (aka not a registry 4xx or 5xx error) occurs during an upgrade (using `/setup` or the upgrade API), the upgrade process will attempt to rol

[2020-10-29 22:13] elasticmachine commented on #82088
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-29 22:20] LeeDr commented on #28891
I think we can close this now.  We not supporting IE11 as the 7.9 release.

We never supported what is now referred to as Legacy Edge browser.

We are supporting the new Edge browser based on Chromium (currently around version 86)?

[2020-10-29 22:20] #28891 closed

[2020-10-29 22:20] kobelb opened #82089 "Allow hidden saved-objects to be imported/exported"
It's becoming more and more common for developers to make saved-objects `hidden` and write a custom client that consumers must use when interacting with these saved-objects. This restricts consumers from using the standard SavedObjectsClient and HTTP APIs to interact with these saved-objects. This is currently being done for a number of reasons:

- Implement custom authorization
- Enforce validati

[2020-10-29 22:21] elasticmachine commented on #82089
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-29 22:44] kobelb commented on #82089
Dupe of https://github.com/elastic/kibana/issues/82027

[2020-10-29 22:44] #82089 closed

[2020-10-29 22:59] TinaHeiligers commented on #74428
@alexfrancoeur https://github.com/elastic/kibana/pull/81827 adds `ui_metrics` that are in the format we're familiar with for `ui_metrics`:
<details>
<summary>`ui_metric.Kibana_home`</summary>

[code]

</details>

Once https://github.com/elastic/telemetry/issues/465 has been handled (scoped for 7.11), and we have a new index in Telemetry-Next that will transform the data, we'll be reporting metrics

[2020-10-29 23:16] #80629 closed

[2020-10-29 23:18] dhurley14 commented on #74393
1 + 2 gets us to about 90% coverage so thank you for that :)

The last 10% of coverage would come from the scenario I think @hmnichols mentioned during one of the RBAC meetings where our users may not even log into the detections page to check if their rules are failing. 3 could feasibly get the security solution to a place where we could notify the users through an action with a summary of failur

[2020-10-29 23:20] rudolf commented on #82064
Using the DDD terminology of "entity" vs "value object" might be useful here. A value object has no identity (id field) so it's usually embedded in an entity (in a relational db it's inlined instead of being in it's own table). In your example, Dashboards are always entities, whereas visualizations can be an entity if it's shared with other dashboards or a value object if used only in a single das

[2020-10-29 23:50] legrego commented on #66621
What if we took a middle ground, and allowed "solution" plugins to be disabled, while preventing "platform" plugins from being disabled? That would allow all of our solutions to depend on the core features that make up the platform, while still giving us the flexibility to disable features which are either not needed by a particular install, or are found to be vulnerable.

I haven't enumerated all

[2020-10-29 23:56] pmuellr commented on #80719
I believe this is a DUP of https://github.com/elastic/kibana/issues/81849 .  In terms of the screen going blank.

Is there a specific accessibility issue here as well?

It would be interesting to know what text was entered in the "body" section of the webhook form, but I suspect it was similar in some way to the text referenced in the referenced issue.

[2020-10-30 00:36] tylersmalley commented on #41460
@IsaakRubin we provide an ARM build on the download page starting in 7.9: https://www.elastic.co/downloads/kibana

https://artifacts.elastic.co/downloads/kibana/kibana-7.9.3-linux-aarch64.tar.gz

[2020-10-30 00:54] lykims commented on #81979
Hi! I'd like to work on this.

[2020-10-30 01:55] cuff-links opened #82097 "[Ingest Node Pipelines] Start Test Data List at the First Document"
### Summary

This is a suggestion that I came up with that just makes the UX feel a bit more natural to me. While testing #74964, I added 10 or so documents of test data to test the pipeline by following the steps in the issue. I noticed that when I got to the point of verifying each processor's output, the dropdown that displays the test data persists the last document chosen even when you move t

[2020-10-30 01:55] elasticmachine commented on #82097
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 02:05] elasticmachine commented on #80599
Pinging @elastic/apm-ui (Team:apm)

[2020-10-30 02:06] elasticmachine commented on #80209
Pinging @elastic/eui-design (EUI)

[2020-10-30 02:06] elasticmachine commented on #80209
Pinging @elastic/datavis (Team:DataVis)

[2020-10-30 02:11] myasonik commented on #64035
Closing this as it cannot be reproduced.

[2020-10-30 02:11] #64035 closed

[2020-10-30 02:12] elasticmachine commented on #63361
Pinging @elastic/eui-design (EUI)

[2020-10-30 02:14] elasticmachine commented on #58838
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-30 02:22] myasonik commented on #28146
If we're using EUI here, we can close this Kibana issue. Someone needs to confirm.

[2020-10-30 02:22] myasonik commented on #28147
If we're using EUI here, we can close this Kibana issue. Someone needs to confirm.

[2020-10-30 02:34] #81597 closed

[2020-10-30 03:13] louisong opened #82100 "[SIEM] - Duplicate / Imported rules are not activated by default"
**Describe the feature:**
- Duplicate rules are not activated when created even if the original rules were in activated state at the time of duplication.
- Imported rules are not activated after import even if the original rules were in activated state at the time of export.

**Describe a specific use case for the feature:**
- To avoid duplicated rules from potentially affecting Elasticsearch perf

[2020-10-30 03:13] elasticmachine commented on #82100
Pinging @elastic/siem (Team:SIEM)

[2020-10-30 03:43] kibanamachine commented on #81460
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9273/)

[2020-10-30 06:20] micookie commented on #70081
v7.9.0   same  problem

[2020-10-30 06:28] pgayvallet commented on #81847
Is that the total number of tag objects that are at least assigned to 1 object?

The `core` usage collector is currently returning, per SO index, the docCount info.

Not sure about this one. @elastic/kibana-telemetry can you help us here?

atm we can't, I did not plug these meta to the tag object. I think other kind of SO already are though, so it should probably not be a technical issue.

TBH, I

[2020-10-30 06:29] pgayvallet commented on #81980
Added to the list

[2020-10-30 07:12] ruflin commented on #77466
@neptunian The synthetics package was not shipped in 7.10 so we do not require it AFAIK. @andrewvc Can you confirm?

[2020-10-30 07:13] knightian commented on #32469
Hi, is it possible yet to add colour text to metric? I can't see any style options Kibana 7.9.3

[2020-10-30 07:43] ruflin commented on #81110
Before we add a cache, we should first test if we really need it. Having a cache will speed up things but also make things more complicated.

Quite a few of the large assets are images and are only used when run through the browser. I assume the browser cache will also help use here to only load it once per user?

[2020-10-30 07:55] flash1293 opened #82103 "DefaultFormatEditor is not exported from IndexPatternManagement plugin"
**Kibana version:** 7.9

**Describe the bug:** The `DefaultFormatEditor` base class component is not re-exported from the top level of the index pattern management plugin. The api to register additional field format editors `indexPatternManagement.fieldFormatEditors.register` uses `typeof DefaultFormatEditor`. This makes it pretty hard to use the API correctly, because a consumer has to rebuild th

[2020-10-30 07:55] elasticmachine commented on #82103
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-30 07:59] ruflin commented on #70461
@rudolf I guess we need a new one here: `Neededfor:fleet`.

[2020-10-30 08:18] ruflin commented on #82009
@ThorbenJ The problem with this is that the next time the package is upgraded, it will overwrite / rewrite the template and with it also the component template list. @neptunian can confirm if this is correct.

But there is an other workaround. The new indexing strategy is `{type}-{dataset}-{namespace}`. All the templates apply to `{type}-{dataset}-*`. It is now possible to create a template for `{

[2020-10-30 08:19] flash1293 commented on #81979
Hi @lykims thanks for offering support 💚 Unfortunately there is a PR open currently fixing something in the same area which would conflict with this work: https://github.com/elastic/kibana/pull/81752

I'll let you know when this issue is unblocked.

[2020-10-30 08:20] ruflin commented on #82010
@skh Haven't been thinking of your last point so far that even if we store it, the user could "wipe" the storage index. Lets make sure we plan for this.

[2020-10-30 08:48] ruflin commented on #81947
I think even if a package is not compatible anymore, at least under installed packages it should still be shown so the user can remove it. This allows us to also tell the user what happens when the package is removed, for example 3 policies will have to be updated first. That a package is not compatible anymore will happen, latests with 8.0 I assume.

[2020-10-30 08:55] dgieselaar commented on #81454
These spans record almost the same information as the spans that we use to build the service map. The following fields are available:

- `service.name`
- `span.destination.service.resource`
- `span.type`
- `span.subtype`

However, we also need `trace.id`, to be able to download the traces in the second request. @elastic/apm-server is this something that we can add to the span metrics? It would hel

[2020-10-30 09:26] IsaakRubin commented on #41460
@tylersmalley even better, thank you for the hint. Dont know why I didnt notice.

[2020-10-30 09:36] cnasikas opened #82106 "[Actions] Third party plugins cannot register action types with license below gold."
Hi,

I would like to create a case connector where a user can create or update cases through the connector. The license of the case connector should be `basic` like the `es_index`  and `server_log` connectors. I register the action type calling `plugins.actions.registerType(...)` on cases plugin `setup`. Setting the `minimumLicenseRequired` to `basic` produces the following error:

`Error: Third p

[2020-10-30 09:36] elasticmachine commented on #82106
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-10-30 09:37] jalvz commented on #81454
Certainly, feel free to open an issue on apm-server :+1:

[2020-10-30 09:39] #74767 closed

[2020-10-30 09:39] MadameSheema commented on #74767
Fixed on 7.10BC4

[2020-10-30 09:49] flash1293 opened #82110 "Saved search embeddable fetches twice on time range change"
**Kibana version:** master

**Describe the bug:** When chaning the time range on a dashboard with a saved search, the data gets fetched twice

**Steps to reproduce:**
1. Create dashboard
2. Add saved search to dashboard
3. Change time range
4. Two fetch requests are sent

**Expected behavior:**
Just a single fetch request is sent

[2020-10-30 09:49] dgieselaar commented on #81454
https://github.com/elastic/apm-server/issues/4371

[2020-10-30 09:49] elasticmachine commented on #82110
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-30 09:52] arisonl commented on #81532
RBAC?

[2020-10-30 09:55] #65764 closed

[2020-10-30 09:57] #67504 closed

[2020-10-30 10:04] axw commented on #81454
What's missing from the span metrics that you extract from trace events? If possible I think we should consider moving away from walking traces, and instead store enough information in the metrics to reconstruct the aggregated graph structure.

[2020-10-30 10:14] dgieselaar commented on #81454
@axw Without a trace ID we can't get paths, only connections (one hop downstream). Agree that storing the path (somewhere) is a better approach, as this is essentially just a performance optimisation of an untenable strategy (walking traces).

[2020-10-30 10:20] #58485 closed

[2020-10-30 10:20] #79933 closed

[2020-10-30 10:20] jloleysens commented on #82097
This is an interesting one @cuff-links ! As I understand it the idea with the document dropdown is that it is scoped to the entire pipeline, not per processor. So even though the drop down is inside of the flyout, when the selected document changes it changes for the entire pipeline.

I'd be interested to hear @alisonelizabeth thoughts here, perhaps removing the document selector in the flyout wou

[2020-10-30 10:24] rudolf commented on #7444
We should weigh up the pro's and con's for this specific area, but we have a similar snake case vs camelcase problem with API's. In the case of API's we decided the overhead of trying to convert between the standards is not worth it https://github.com/elastic/kibana/issues/52284#issuecomment-566593049. It also makes it much harder to track down a variable in the code base as it might not be obviou

[2020-10-30 10:30] MadameSheema commented on #73304
@jonathan-buttner I'm able to reproduce the issue on 7.10-BC5, can we please take a look to this together to check if I'm missing anything? Thanks 😊

[2020-10-30 10:31] azasypkin opened #82113 "[Breaking change] New format for the authentication config"
## Change description

**Which release will ship the breaking change?**

~8.0~ (Edit Joe 9/1/21: this is deprecated but we are not sure when we will get rid of it)

**Describe the change. How will it manifest to users?**

In 8.0 we dropped support for `xpack.security.authProviders` and `xpack.security.public` settings and _going to_ drop  `xpack.security.authc.{saml | oidc}.realm` and remove suppo

[2020-10-30 10:31] elasticmachine commented on #82113
Pinging @elastic/kibana-security (Team:Security)

[2020-10-30 10:31] elasticmachine commented on #82113
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 11:15] weltenwort commented on #71746
I was unable to reproduce with 7.8.1 on an ESS instance on Cloud. Could you specify the exact version you're using?

[2020-10-30 11:16] #73576 closed

[2020-10-30 11:18] deepikakeshav-qasource opened #82115 "[Security Solution] Search field is not searching the timeline under the comment section of Cases."
**Describe the bug**
The search field is not searching the timeline under the comment section of Cases.

**Build Details:**
Elastic-Cloud : 7.10.0 BC4
Commit: 3f7bbe02a2f08f0ad1c7f5a9b35235a4aa066a32
Build: 35887
Artifacts: https://staging.elastic.co/7.10.0-c650b297/summary-7.10.0.html

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.10.0 environment should be deployed
2. Auditbeat s

[2020-10-30 11:19] #81640 closed

[2020-10-30 11:19] deepikakeshav-qasource commented on #82115
@manishgupta-qasource Please review

[2020-10-30 11:20] paulb-elastic commented on #79270
Ok, thanks @formgeist.  I'll close this and have added the capital `E` requirement to the https://github.com/elastic/kibana/issues/82034 issue (currently marked for 7.11).

cc @shahzad31

[2020-10-30 11:20] #79270 closed

[2020-10-30 11:34] jfsiii commented on #81110
I agree we should profile. The additional work/complexity is low so we can add it later.

The browser cache will also need some work (setting headers) but we can look at that when profiling.

[2020-10-30 11:44] manishgupta-qasource commented on #82115
Reviewed & assigned to @MadameSheema

[2020-10-30 11:58] jonathan-buttner commented on #73304
Hey @MadameSheema saw your message in email just wanted to double check that it was resolved.

[2020-10-30 11:59] #75797 closed

[2020-10-30 12:01] dej611 commented on #79119
Cannot reproduce this issue on `master`. A previous fix was shipped with #79309 .

[2020-10-30 12:04] #70457 closed

[2020-10-30 12:28] #76818 closed

[2020-10-30 12:33] neptunian commented on #81947
@ruflin Makes sense.  I think we should also include the outdated packages fields as part of the index patterns?

[2020-10-30 12:33] #81592 closed

[2020-10-30 12:36] #81322 closed

[2020-10-30 12:45] mikecote commented on #82086
From an alerting perspective, I have a few notes below:

In regards to connectors, we are exploring the option of exposing encrypted attributes to the end user (https://github.com/elastic/kibana/issues/78704). If ever we go that approach, it would play nicely with the `Include the attributes in the export` option proposed.

More specifically to import / export, the @elastic/kibana-alerting-service

[2020-10-30 12:49] jfsiii commented on #81947
I think the UI issue is because we start by fetching from the Registry then adding a flag to each for their installation status.

We can/will update the logic to include the multiple sets of package sources and that will allow us to differentiate installed vs available

More information at https://github.com/elastic/kibana/issues/81995

[2020-10-30 12:52] mikecote commented on #82086
This is sort of the path I've been thinking for a while and we've been tracking it here: https://github.com/elastic/kibana/issues/50266. I agree about the fragmented experience and hopefully we can come up with something better.

[2020-10-30 12:57] deepikakeshav-qasource commented on #81129
Hi @MadameSheema

We have observed that Cross Icon is overlaid on doing text search in 'Timeline' under the comment section of Cases.

**Precondition:**
Case should be created under the cases tab.

**Steps:**
1. Navigate to Cases Tab of Security.
2. Select the created case.
3. Select the insert timeline link icon under the comment section.
4. Write any created Timeline under the search field of Ti

[2020-10-30 13:05] flash1293 commented on #81979
@lykims That was a short wait - #81752 is merged, so feel free to work on this. I'm going to assign the issue to you, let me know if you can't work on it anymore for any reason.

[2020-10-30 13:05] ph commented on #82088
@jonathan Is this really need for 7.10?

@neptunian Can you take a look?

[2020-10-30 13:07] deepikakeshav-qasource commented on #81322
Hi @MadameSheema

We have gone through the ticket and below are the observations:

**Build Details:**
[code]

**Steps:**
1. Install the agent
2. Configure the elastic endpoint on administrations tab.
3. Endpoint is displaying on Administration tab.
4. Now click on policy link
5. Observation: In protection level field "View related detection rules. Prebuilt rules are tagged “Elastic” on the Detecti

[2020-10-30 13:11] #79119 closed

[2020-10-30 13:11] elasticmachine commented on #79119
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-30 13:13] chrisronline opened #82128 "[Monitoring] Access denied page is not working"
On master:

<img width="2037" alt="Screen Shot 2020-10-30 at 9 12 41 AM" src="https://user-images.githubusercontent.com/56682/97709032-17181880-1a90-11eb-8129-453a3e9be062.png">

I'm guessing the new Loading page doesn't account for this situation well.

[2020-10-30 13:13] elasticmachine commented on #82128
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-30 13:16] jbudz commented on #81460
skipped
master: b10979c
7.x: 735d71a

[2020-10-30 13:17] #75211 closed

[2020-10-30 13:23] MichaelMarcialis commented on #82058
Haha, we have too many Michaels! Thanks for putting this together @mdefazio. @shaunmcgough, let me know if you'd like me to update the above mockup to account for the import functionality, or if you've already passed along to the team for implementation.

[2020-10-30 13:26] Dosant commented on #71409
Checked that with the #80966 the export and copy to space part works as expected 🙌
To continue, need to address #80973 (cc @ppisljar)

[2020-10-30 13:27] MichaelMarcialis commented on #81970
Yeah, good point. Once we know which direction we'd be able to implement first, let me know and I'll be happy to mock it up.

[2020-10-30 13:28] thomasneirynck opened #82132 "[Breaking change] Remove proxyElasticMapsServiceInMaps yml setting"
## Change description

**Which release will ship the breaking change?**

8.0

**Describe the change. How will it manifest to users?**

Remove the `map.proxyElasticMapsServiceInMaps` option. See https://github.com/elastic/kibana/issues/55611

**How many users will be affected?**

Not known. Kibana does not collect telemetry on this setting. Anecdotally (Discuss, sdh, ...), this seems a rarely used

[2020-10-30 13:28] elasticmachine commented on #82132
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 13:28] Dosant commented on #80973
As discussed on services sync:

[2020-10-30 13:35] ruflin commented on #81947
@neptunian Probably. In the case of going from 7.9 to 7.10, the index pattern data is compatible. But going from 7.x to 8.0, it could be that the data is not compatible (I hope this is not the case). What are we doing in this case?

[2020-10-30 13:37] MadameSheema commented on #82115
@XavierM can you please help to label the impact and prioritise the issue? thanks

[2020-10-30 13:38] alisonelizabeth commented on #82097
Thanks for bringing this up @cuff-links! This is interesting. @jloleysens is correct; the document is scoped to the entire pipeline. I'm not sure if removing the selector from the flyout would be beneficial either, as then you would only be able to change it from the main processors view. At least now, in your case, you could manually change it back to the first document.

One suggestion I receive

[2020-10-30 13:39] MadameSheema commented on #81983
@peluja1012 @spong can you please help to prioritise this? Thanks :)

[2020-10-30 13:40] lykims commented on #81979
Thank you, Joe!

[2020-10-30 13:58] nchaulet commented on #81971
@ravikesarwani @mostlyjason So we can probably collect status from the agent directly without interacting with Fleet.

I have some concerns of doing it like this:
* The connection Elastic Agent -> Elasticsearch do not exists before the agent receive that first policy, in the lifecycle of an agent: the agent enroll first -> create the connection to fleet, and later get the first policy that is goin

[2020-10-30 14:04] jfsiii commented on #82088
I see both a `PackageOutdatedError` and `[security_exception] token expired`.

adding `force: true` will suppress  the `PackageOutdatedError`, but what about `[security_exception] token expired`?

Not strictly related, but I'd like to update the `force` param to something more descriptive like `allowOutdated`

[2020-10-30 14:05] mikecote commented on #65146
NOTE: It could be worth investigating some start plugin APIs that return flyouts for other plugins to use (ex: `getCreateAlertFlyout({..})`. That way they don't have to pass in all the dependencies our plugins already have and require code directly from our plugins.

[2020-10-30 14:06] jonathan-buttner commented on #82088
@ph oh sorry, I shouldn't have labeled this as 7.10. I meant that as "it is a bug that exists in 7.10". I think it's fine to push this to 7.11 or a 7.10.1 bug fix if we wanted.

[2020-10-30 14:07] mostlyjason commented on #81971
++ agree @nchaulet. We might want to consider duplicating some minimal status information through Fleet to help with these scenarios. This might suggest adding an extra user story:

Users should be able to see problems with the agent policy and connectivity to elasticsearch in Fleet

[2020-10-30 14:09] pheyos opened #82136 "[ML] DFA results view - infinite loading indicator for search text without results"
**Found in version**
- 7.10.0-bc4

**Browser**
- Chrome

**Steps to reproduce**
- Navigate to a data frame analytics results view
- Enter a search string that doesn't match any results

**Expected result**
- The results table shows no entries or it shows a `no results found` (or similar) placeholder

**Actual result**
- The results table shows an infinite loading indicator even though the `es_sear

[2020-10-30 14:09] elasticmachine commented on #82136
Pinging @elastic/ml-ui (:ml)

[2020-10-30 14:10] ph commented on #82088
@jfsiii ++ good point force isn't explicit enough.

@jonathan OK, I am going to change it and put in ready items to work on.

[2020-10-30 14:12] jonathan-buttner commented on #82088
I think the `[security_exception] token expired` is a legitimate error that came back from Elasticsearch saying my browser session expired. I actually had to log back in. I think that was just poor timing on my browser token's part. If a user logs into kibana and initiates an upgrade of a package and then their token expires midway through a package install process, we'll get this security error I

[2020-10-30 14:13] ryankeairns commented on #82058
@shaunmcgough if you could also clarify the priority of actions. The current templates are rather limited and, I suspect, not often used. Additionally, @crob611 is working on a new UX for bringing in solution templates, right?

Perhaps the order is: 1) Create workpad (primary)  2) solution templates and then 3) the canvas templates?
Depending on the state of Corey's work, it might make sense to wo

[2020-10-30 14:17] kobelb commented on #82064
@rudolf, I don't think it has any practical impact on the matter, and I think we're on the same page about the benefits/drawbacks here.  Also, it's been years since I read the DDD book, so I'm a bit out of practice thinking in these terms. Even if we determined that we're only dealing with entities and there are no value objects, doesn't the concept of aggregates still apply here? For example, if

[2020-10-30 14:17] afgomez commented on #72600
@katrin-freihofner I'm not sure I understand this point. Is this what you mean?

<img width="1269" alt="Screenshot 2020-10-30 at 15 17 17" src="https://user-images.githubusercontent.com/57448/97715709-05039d80-1ac3-11eb-8074-43f2055dda4e.png">

[2020-10-30 14:26] peteharverson opened #82140 "[ML] Error when using a duplicate job ID is not shown in data recognizer wizard"
**Kibana version:** 7.10.0

When creating anomaly detection jobs in the data recognizer wizard, full details on why job creation has failed are no longer displayed when attempting to create jobs with IDs that already exist.

![image](https://user-images.githubusercontent.com/7405507/97716413-7d666080-1abb-11eb-92c3-072c9e5bb1c9.png)

This is a regression from previous behavior, where the reason su

[2020-10-30 14:26] elasticmachine commented on #82140
Pinging @elastic/ml-ui (:ml)

[2020-10-30 14:26] neptunian commented on #82009
@ruflin yes, that is correct.  the whole index template would be recreated `composed_of` would only include the `-mappings` and `-settings` component templates.

[2020-10-30 14:32] neptunian commented on #81947
If there is no compatible package, we do not include it in the index patterns.

[2020-10-30 14:36] cchaos commented on #58838
I read through the linked spec for data grids, and I can't find anywhere they mention that you can't have buttons within header cells. Their examples are adding `role="button"` to a span in the header, but using `<button>` s inside the body cells. I checked with @myasonik and he hasn't heard of any issues with `<button>`s in header cells either. So I think we can skip that portion of this issue.

[2020-10-30 14:39] alex-fedotyev commented on #80307
Agreed.
This would have to be HOST + PID type of filter as well as time information.
In this use case, user is starting on the host and looking at the list of processes looking for highest consumption... so processes are expected to be unique.

[2020-10-30 14:43] stratoula commented on #58838
Perfect, so this will close too 😄

[2020-10-30 14:49] ravikesarwani commented on #81971
Thanks @nchaulet and @mostlyjason. I agree with both of you. The ES **connection** failure needs to be shown via the Fleet connection.

I see this in 2 stages:
- Initial setup (or follow on policy updates): Here the information will be conveyed by the Agent to Fleet connection and its status. Agent to Fleet status changes from Online, Got new policy, Applying changes, Error... In applying changes

[2020-10-30 14:50] #74822 closed

[2020-10-30 15:00] thomasneirynck commented on #82132
@cjcenizal actually, that would be a good idea. +1

[2020-10-30 15:01] chrisronline opened #82143 "[Monitoring] Improve UX around a single CCS cluster that goes down"
If you have any remote clusters that contain monitoring data, and the main cluster (the cluster that the Kibana instance is directly talking to) doesn't have monitoring data, disconnecting all of the remote clusters creates a jarring UX for the user in the Stack Monitoring UI.

Ideally, we detect none are available and redirect back to the no data page.

[2020-10-30 15:01] elasticmachine commented on #82143
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-10-30 15:07] shaunmcgough commented on #82058
@MichaelMarcialis Yes, you can add the import functionality to this mock, and per Ryan's suggestion, change the primary call to action "Create from scratch".
@ryankeairns @MichaelMarcialis, the templates will all be in one spot, so the "Start from a template" should be the secondary item, which will call @crob611 screen.  @crob611 can you share the link to your current work here please, and confir

[2020-10-30 15:18] peteharverson commented on #75295
Feedback from testing of https://github.com/elastic/kibana/pull/81666:

- Format the `create_time` in the flyout as a date / time
- Add ability to create new DFA jobs off nodes in the map e.g. select transform node, and create classification job off the index created by the transform

[2020-10-30 15:29] jfsiii commented on #82088
@jonathan-buttner totally agree re: security error behavior; just confirming

[2020-10-30 15:30] FrankHassanabad opened #82148 "[Security Solutions][Detection Engine] indexes with a mapping of signal causes clashes"
**Describe the bug:**
If you have a source index value which contains the name `signal` and run the detection engine you will get an error showing up that says:

[code]

Workaround while this is still "open" is to not use the keyword of `signal` in the source index but rather a different field and then re-index all of your data.

**Kibana/Elasticsearch Stack version:**
`7.8.0-7.10.0`

**Server OS

[2020-10-30 15:31] MadameSheema commented on #80417
Tested and working on 7.10BC4

[2020-10-30 15:31] #80417 closed

[2020-10-30 15:35] scinconovetta opened #82149 "Plugin-helpers build not packaging correct files/folders for 7.x"
**Kibana version:**
7.7.1 and 7.9.3 (the only versions of 7.x that I've used, so far)

FWIW: I added the kbn-plugin-helpers package via: `yarn add --dev link:../../packages/kbn-plugin-helpers` for 7.9.3 and re-ran `yarn kbn bootstrap` to get `plugin-helpers` to work from the CLI (keep in mind that I removed the elastic version via `yarn remove @elastic/plugin-helpers`, so I am running the appropri

[2020-10-30 15:35] timroes opened #82151 "Make visualize editor pie chart behave like Lens"
We had a discussion across the Datavis, Product and Kibana App team around the different behavior of pie charts.

In Lens pie charts inner circles are always representing the sum of all slices of the outer circle, while in the visualize editor they are representing whatever metric was returned from Elasticsearch for that bucket. The behavior can vary especially when using fields on the outer layer

[2020-10-30 15:35] elasticmachine commented on #82151
Pinging @elastic/datavis (Feature:ElasticCharts)

[2020-10-30 15:35] elasticmachine commented on #82151
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-30 15:41] wylieconlon commented on #82151
This issue also implies that we can make more changes:

* We can stop requesting hierarchical metrics for vislib pie charts
* We don't need to implement a new type of sizing method for elastic-charts https://github.com/elastic/elastic-charts/issues/876

One question is that we are planning on changing Lens to default to the Other bucket: https://github.com/elastic/kibana/issues/77749, should we do

[2020-10-30 15:44] LeeDr opened #82152 "Canvas failing based on query in past history"
**Kibana version:** 7.10.0

**Elasticsearch version:** 7.10.0

**Server OS version:** CentOS 7

**Browser version:** Chrome 86

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** rpm default distribution

**Describe the bug:** I tried a query in a Elasticsearch SQL data source which attempted to use the same table twice via 2 different ali

[2020-10-30 15:49] Dosant opened #82153 "[Index Patterns] Excessive index patterns fetching on a dashboard"
**Kibana version:** 7.9.3

**Describe the bug:**

On cold load of a dashboard with multiple visualisations each visualisation get its index patterns. It is often the case that index pattern is the same.

Multiple visualisation in parallel calling: https://github.com/elastic/kibana/blob/master/src/plugins/data/common/index_patterns/index_patterns/index_patterns.ts#L360 for the same index_pattern.

[2020-10-30 15:49] elasticmachine commented on #82153
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-10-30 15:50] Dosant commented on #82153
@elastic/kibana-platform, do you think it makes sense to improve on SO client level?

[2020-10-30 16:12] smith opened #82154 "[APM] Clicking error count in waterfall item causes full page reload"
On a waterfall item with errors, clicking the error count takes the user to the errors overview filtered by the trace/transaction.

Clicking this should navigate to the overview but causes a full page reload. This is because the `ErrorCount` component has an `onClick` handler that does a `stopPropagation`, and the `WaterfallItem` container also does `stopPropagation`.

These `stopPropagation` call

[2020-10-30 16:12] elasticmachine commented on #82154
Pinging @elastic/apm-ui (Team:apm)

[2020-10-30 16:12] elasticmachine commented on #82149
Pinging @elastic/kibana-operations (Team:Operations)

[2020-10-30 16:17] jeffvestal opened #82156 "[uptime] Allow timepicker selection when creating anomaly detection monitor duration jobs"
**Describe the feature:**
When a user selects _Create anomaly detection_ from a **Monitor duration** panel, the job is auto created starting now-2w. I would like to have the option of selecting a different `start_date`.

**Describe a specific use case for the feature:**

1. Working with a data set that is exists only farther back that two weeks will allow an anomaly detection job to be run over th

[2020-10-30 16:17] elasticmachine commented on #82156
Pinging @elastic/uptime (Team:uptime)

[2020-10-30 16:18] smith opened #82158 "Internal links registered with `core.chrome.setHelpExtension` cause full page reload"
When adding a link to the upper-right help menu using `core.chrome.setHelpExtension`, links internal to Kibana cause a full page reload.

APM example: https://github.com/elastic/kibana/blob/bf73bcf5d5773ea098f3f147a771a0b2aaf09713/x-pack/plugins/apm/public/setHelpExtension.ts#L21-L30

The expected behavior is a navigation without the full page reload.

[2020-10-30 16:18] elasticmachine commented on #82158
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-30 16:19] pgayvallet commented on #81009
You are right. Did not thought about `inputs` being an array...

Waiting on @elastic/kibana-app-arch insight then.

[2020-10-30 16:22] LucaWintergerst commented on #81997
I had a feeling that this might be intentional. And it's not a huge problem.

Elasticsearch itself tends to be good at caching, but will invalidate its cache once the underlying data changes.
That being said, I'm sure there are other reasons why you did the caching client side.

In my case I'm modifying older data for demo purposes, but I'm sure that there are users that may run into this as well.

[2020-10-30 16:26] pgayvallet commented on #82158
We would just need to use `application.navigateToUrl` in a `onClick` handler in addition to the current href

[2020-10-30 16:29] jfsiii opened #82160 "[Fleet] Reduce bundle sizes"
## Goal
Aim for individual bundles under 250k uncompressed.

## Why

-- [Web Fundamentals docs](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/javascript-startup-optimization#parsecompile
)

Reducing the uncompressed size of JS (in total & per-file) greatly reduces the work for the browser and provides a better experience for the user. There are variables

[2020-10-30 16:33] elasticmachine commented on #82160
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-30 16:36] #81682 closed

[2020-10-30 16:38] #65051 closed

[2020-10-30 16:39] jfsiii commented on #81995
Linking https://github.com/elastic/kibana/issues/70860 and https://github.com/elastic/kibana/issues/66777 for awareness

[2020-10-30 16:44] MadameSheema commented on #70570
Update on 7.10BC5: Now does not shows the error but locks the page.

[2020-10-30 16:47] streamich commented on #78289
Variables for row trigger:

[code]

[2020-10-30 17:09] legrego opened #82166 "Telemetry endpoint does not handle authorization errors correctly"
The endpoint to record if the telemetry notice has been seen does not account for users who do not have write access to Kibana.

Users with read-only access are not allowed to update the `telemetry` saved object, but this endpoint assumes that everyone is authorized to do so.

This results in a rather cryptic error from the end-user's perspective:

![2020-10-30 at 12 52 PM](https://user-images.git

[2020-10-30 17:41] nreese opened #82173 "[lens] unhandled promise rejection when saving Lens with duplicate title"
Steps:
1) Install sample data set
2) create and save a new lens visualization in visualize app.
2) create another lens visualization in the visualize app. Save with the same title. Notice in console that there is an uncaught promise rejection.

<img width="2045" alt="Screen Shot 2020-10-30 at 11 36 19 AM" src="https://user-images.githubusercontent.com/373691/97738892-9a436980-1aa4-11eb-8071-97f5c0

[2020-10-30 18:05] cjcenizal opened #82174 "Decorate Ingest Node Pipelines with ui-metric telemetry"
We're currently missing telemetry for this plugin. We can add a utility like Observability's [https://github.com/elastic/kibana/blob/master/x-pack/plugins/observability/public/hooks/use_track_metric.tsx](use_track_metric hook) to make it easier to instrument the code. @jethr0null could you provide guidance on the metrics you'd like to track?

See [previous PRs ](https://github.com/elastic/kibana/p

[2020-10-30 18:05] elasticmachine commented on #82174
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 18:06] cjcenizal opened #82175 "Decorate undecorated areas of Index Management with ui-metric telemetry"
We're currently missing telemetry for data streams, composable template, and component templates. We can add a utility like Observability's [https://github.com/elastic/kibana/blob/master/x-pack/plugins/observability/public/hooks/use_track_metric.tsx](use_track_metric hook) to make it easier to instrument the code. @jethr0null could you provide guidance on the metrics you'd like to track?

See [pre

[2020-10-30 18:06] elasticmachine commented on #82175
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 18:07] cjcenizal opened #82176 "Decorate Upgrade Assistant with ui-metric telemetry"
**Note that this work is blocked on the eventual UI and UX work we plan to do for the 8.0 upgrade.**

We're currently missing telemetry for this plugin. We can add a utility like Observability's [use_track_metric hook](https://github.com/elastic/kibana/blob/master/x-pack/plugins/observability/public/hooks/use_track_metric.tsx) to make it easier to instrument the code.

See [previous PRs ](https://

[2020-10-30 18:07] elasticmachine commented on #82176
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 18:08] spong commented on #81983
This is a simple copy update that anyone on the team can quickly pick up -- adding to the 7.11 meta.

[2020-10-30 18:13] kevinlog commented on #80241
This will be fixed when this is merged: https://github.com/elastic/kibana/pull/82177

[2020-10-30 18:18] fw-at-elastic opened #82180 "Promoting the Elastic Contributor Program on contributing to Kibana page"
Hi there! I'd like to add a line to [this page](https://www.elastic.co/guide/en/kibana/master/contributing.html) about the Elastic Contributor Program.

Contributing:

Whether you want to fix a bug, implement a feature, or add some other improvements or apis, the following sections will guide you on the process. After committing your code, check out the [Elastic Contributor Program](https://www.el

[2020-10-30 18:35] kmartastic commented on #34478
I think adding an inverted ramp for every ramp is more clutter than one option to "reverse ramp". We also need more ramps.

[2020-10-30 18:43] kmartastic commented on #52232
We need more ramps.
Similar/Identical to the library provided by Carto: https://carto.com/carto-colors/

[2020-10-30 19:00] alisonelizabeth commented on #82174
There is some telemetry for this plugin already, but it's limited to CRUD actions.

[2020-10-30 19:00] kmartastic commented on #31262
Agree with @thomasneirynck. We want a search-box experience. If customers can plug their own provider in, that's great. In the end, the majority of customers (especially not Public Sector) will expect Elastic to provide this out of the box (no 3rd party required).

[2020-10-30 19:03] shaunmcgough opened #82183 "Tags on Add Panel fly-out"
Tagging is being implemented in Dashvboard, and we should add the ability to view tags and filter by them on the Add Panel fly-out.  Tags would need a filter, and also display in one of the columns if space / design permits.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/6256687/97746505-cc62c480-1ac0-11eb-9ac0-46304a8b9b35.png">

@MichaelMarcialis @ThomThomson

[2020-10-30 19:09] elasticmachine commented on #82180
Pinging @elastic/kibana-docs (Team:Docs)

[2020-10-30 19:13] pmuellr commented on #74393
Sounds interesting.  An alert based on some internal Kibana state. Would we have an alert per different state thing that could be checked?  Or could we have some general "Kibana state" alert, where maybe you could select the things you were interested in being informed about?

Perhaps we could start with an alert specifically for Kibana state, as it has a lot of potential "inner" things you could

[2020-10-30 19:15] shahzad31 commented on #36294
![image](https://user-images.githubusercontent.com/3505601/97747593-828fd380-1aec-11eb-930c-e8e8954219d5.png)

This is apparently already fixed, there is a placeholder, it will say 'Search port' instead of 'Edit'

[2020-10-30 19:30] myasonik commented on #36294
Placeholder text is not typically read to screenreaders. Is there an associated `aria-label` for that `<input />`?

[2020-10-30 19:41] shahzad31 commented on #36294
@myasonik i did test with Vox screenreader

[2020-10-30 19:43] chetan-hr commented on #13943
Hello Kibana team, can i search for a pattern ending with or exact match? I have a parameter name 'request' which contains request url and I am interested to search for a exact match to be able to confirm if I can deprecate it based on the usage, but the search results give a huge list in which my pattern word is in between, which is not useful. As I am interested in exact match.

[2020-10-30 19:48] neptunian commented on #81947
@jfsiii @ruflin I think the issue with listing installed versions in the UI is partly because there is the requirement that we don't show the installed package in the installed integrations tab, but rather the latest compatible version available and then add the installed status flag, in order to inform the user its upgradeable or not.  We didn't actually want to show the "out of date" version of

[2020-10-30 19:54] cjcenizal commented on #80508
@restrry According to the [docs](https://github.com/elastic/kibana/blob/master/docs/developer/best-practices/typescript.asciidoc) migration order matters, so plugins at the leaves of the dependency tree won't be able to begin migration until their dependencies have been migrated. Because of the sequential nature of this work, I'd like to set expectations. There are 6 weeks until feature freeze, an

[2020-10-30 19:58] AlonaNadler commented on #79925
I like the direction I offer a slight change
We don't want users by default to add to the visualization library unless they explicitly want to.

The default should be `add to existing dashboard` (will likely be the most common need) with the ability to `add to a new dashboard `or `add to the visualization library` if the users are adding to a new or existing dashboard the ability to add tags is no

[2020-10-30 19:59] nreese opened #82189 "[Maps] show maps in visualize listing page"
Embeddable saved objects expose the ability to "Save to library" and "Unlink from library" where "library" is the visualization application. If an embeddable panel is in the "library", then it shows up in visualize listing page and is a by reference saved object.

How will these actions work for Maps?
1) Change the text for map embeddable actions to "Save to maps" and "Unlink from maps". If a map

[2020-10-30 19:59] elasticmachine commented on #82189
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-30 20:02] legrego commented on #80508
It's also very likely that the security team's plugins won't be migrated either, as we first have to resolve the circular dependency between security and spaces. I've been working on a POC for this, but time has not been on my side this week. And based on CJ's list ^, we are one of the teams blocking their work.

I am rather surprised that Index Management has a dependency on the spaces plugin tho

[2020-10-30 20:04] ymao1 commented on #56478
To summarize the comments I've seen so far, I will be adding:

`xpack.task_manager.monitored_task_execution_thresholds`
`xpack.actions.proxyUrl`
`xpack.actions.proxyHeaders`
`xpack.actions.proxyRejectUnauthorizedCertificates`
`xpack.actions.rejectUnauthorized`

[2020-10-30 20:05] cjcenizal commented on #81504
I am not in the 👍  camp but I'm also not against it because I don't know if the proposal will introduce any new friction for me. I already run `node scripts/precommit_hook` manually, but I also do rely on the automated precommit hook catching mistakes when I forget, so I'll be one of those to install it with `node scripts/register_git_hook`. I think we should try the proposed approach out and be p

[2020-10-30 20:09] myasonik commented on #36294
The Vox plugin unfortunately is not a good screen reader to test with.

It is entirely unique in how it works (it uses the DOM, instead of the Accessibility Tree) and is now in maintenance mode so it hasn't been updated in some time.

If you can test in VoiceOver (on Mac) or NVDA (on Windows) that would give us more accurate results.

[2020-10-30 20:11] AlonaNadler commented on #82189
If I try to look at it from users' perspective. Users don't know what is embeddable (and what is not embeddable). Visualizations can be optionally added to the `Visualization library`. If visualization is added to the visualization library it will appear on the visualizations library listing page.

When it comes to Maps, do we want to use maps as by value which means they are part of the dashboard

[2020-10-30 20:13] cjcenizal commented on #80508
@legrego Yes, it's a transient dependency. Here's the [package.json](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/kibana.json). It has an optional dependency upon `security`, which is probably the cause of the `spaces` transient dependency.

[2020-10-30 20:13] thomasneirynck opened #82194 "[Maps] Add TS project references for plugins"
Add TS project references for the Maps-owned plugins.

See https://github.com/elastic/kibana/issues/80508

[2020-10-30 20:13] elasticmachine commented on #82194
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-30 20:14] cuff-links commented on #82097
Thanks for clarifying the use case for me, @alisonelizabeth and @jloleysens! That definitely helps me understand what I should have been doing. I truly believe that most users would have already known what they were doing and not have bumped into the issues that I did. But one thing we can do to be a little more explicit is perhaps make the header for the section a little more descriptive. Current

[2020-10-30 20:17] neptunian commented on #81995
@skh The reason why we added the add the property “installed: (false|true)” to each package is because the requirement was to not fetch the version they have installed, but the latest version available, and adding the installed attribute was a way of indicating they have some version of this package installed and and it may not be the latest, and they need to update it.  This behaviour might be a

[2020-10-30 20:31] #80241 closed

[2020-10-30 20:34] pmuellr commented on #82106
We'll need to fix this once we split the existing actions into a plugin separate from the existing actions plugin, currently blocked by https://github.com/elastic/kibana/issues/64659 .

I think I saw some discussion on this suggesting a pre-defined list of actionTypeIds, in the actions plugin, which we would allow to be < gold licensed.  Seems like that would work in the future as well, when we mo

[2020-10-30 20:35] cuff-links opened #82199 "[Index Management][Index Templates] Client Side Error on Index Patterns Doesn't Stop Me From Moving To Next Step"
### Kibana Version
7.10 BC5

### Elasticsearch Version
7.10 BC5

### Browser
All

### Steps to reproduce

1. Go to Navigation Drawer > Stack Management > Index Management > Index Templates
2. Create a new Policy
3. Use a valid name
4. Use |* as the index pattern.
5. Verify you see the error that the | character is not allowed in the index pattern.
6. Try to move to the next step by clicking next.

[2020-10-30 20:35] elasticmachine commented on #82199
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-10-30 20:59] mdefazio commented on #76521
Apologies for the slow reply on this.  I will bring this up with the team next sync. We are reviewing how to improve partial results / loading across pages and visualizations.  With the addition of async UI (https://github.com/elastic/kibana/pull/81793), we may be able to remove this behavior.  But we'll look into it.

[2020-10-30 21:24] jportner opened #82203 "Avoid redundant saved objects authorization checks"
As of Kibana 7.9 (via #67644), saved objects all have a `namespaces` response field. This is redacted to remove any space IDs that the user is not authorized to see.

Unfortunately, these additional authorization checks can add up very quickly and clog up the audit logs. Instead, we should avoid authorization checks for space IDs that we have already checked during that request.

[2020-10-30 21:46] #81737 closed

[2020-10-30 21:48] brianseeders opened #82206 "Failing ES Promotion: test/functional/apps/getting_started/_shakespeare·js.Getting Started Shakespeare should configure Terms aggregation on play_name"
This failing test is preventing the promotion of a new 7.11 and master snapshot of ES.

[code]

See https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1687/testReport/junit/Chrome%20UI%20Functional%20Tests/test_functional_apps_getting_started__shakespeare%C2%B7js/Kibana_Pipeline___kibana_oss_agent___Getting_Started__Shakespeare_should_configure_Terms_aggregation_on_play_name/

[2020-10-30 21:50] elasticmachine commented on #82206
Pinging @elastic/kibana-qa (Team:QA)

[2020-10-30 21:52] brianseeders opened #82207 "Failing ES Promotion: x-pack/test/api_integration/apis/security_solution/network_dns·ts.apis SecuritySolution Endpoints Network DNS With packetbeat Make sure that we get Dns data and sorting by uniqueDomains ascending"
This failing test is preventing the promotion of a new 7.11 and master snapshot of ES.

[code]

See https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1687/testReport/junit/X-Pack%20API%20Integration%20Tests/x-pack_test_api_integration_apis_security_solution_network_dns%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___apis_SecuritySolution_Endpoints_Network_DNS_With_packetbeat_Make_sure

[2020-10-30 21:57] AlonaNadler opened #82208 "[Lens] Support for multiple breakdown by"
A customer is looking to do multiple splits in visualizations, similar to what they currently do with Area visualization in Visualize.
When done in Visualize it creates multiple nesting combination `fieldA - fieldB` as a series

![image](https://user-images.githubusercontent.com/32550316/97760333-20b97480-1ac0-11eb-9e24-6489bab71518.png)

[2020-10-30 21:57] elasticmachine commented on #82208
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-30 22:11] #57289 closed

[2020-10-30 22:11] jfsiii commented on #81947
@neptunian agreed it's unexpected that "installed" tab doesn't show installed packages. Pinging @hbharding and @mostlyjason for awareness

[2020-10-30 22:17] wylieconlon commented on #82208
This is technically possible, but haven't we heard users complain about how confusing this feature of Visualize is? Is there a way we can provide it in Lens, but without the confusing parts? I would consider this an open question.

[2020-10-30 22:20] AlonaNadler commented on #82208
Opening it to track this request. This is still planned for the future. We want to allow users to breakdown by multiple level and allow them to chose whether to use split series or split chart

[2020-10-30 23:00] jfsiii commented on #76502
+ @hbharding

[2020-10-30 23:08] kibanamachine commented on #77567
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.9/518/)

[2020-10-31 01:52] Ares3266 opened #82216 "Add data-tier concepts into the monitoring app"
With the final formalization of the data-tier concepts into Elasticsearch with [this][(https://github.com/elastic/elasticsearch/issues/60848) issue, I think there is value in also formalizing this concept into the Monitoring app of Kibana.

The primary use case in question here, is adding views over the "disk available" section of the overview component. Overall a cluster might still have 50% of i

[2020-10-31 04:51] iankoetter commented on #14177
This would be useful when you're filtering by a specific time field from an existing selection.

[2020-10-31 07:18] restrry commented on #80508
It's okay. It's not a user-facing feature at the end of the day. All the teams have some space in 7.12 to wrap up this work until @elastic/kibana-operations team starts introducing the new building chain.

[2020-10-31 09:38] restrry opened #82218 "Do not overwhelm Elasticsearch with UiSettings requests"
@gingerwizard analysed APM data and noticed the high number of `_security/user/has_priveleges` requests to Elasticsearch. Some of them as caused by the Platform code reading uiSettings See `_doc/config`:
![2020-10-31_12-08-43](https://user-images.githubusercontent.com/3198181/97775574-1059d600-1b62-11eb-8a11-35ad1217512b.png)
![2020-10-31_12-05-58](https://user-images.githubusercontent.com/3198181

[2020-10-31 09:38] elasticmachine commented on #82218
Pinging @elastic/kibana-platform (Team:Platform)

[2020-10-31 10:45] knightian commented on #13653
Yep I have same problem. I have a donut wit 2 slices shown from filters. The filters are generated from "now" so now - now-5m for example. Because "now" changes value on refresh (updates to current time" it is automatically refreshing the colours of my donut slices. This is really annoying.

[2020-10-31 12:24] jfsiii opened #82220 "[Fleet] TS project references migration"
## Summary

Now that the Kibana build system supports using TypeScript project references (#46773), the `fleet` plugin must be migrated to participate. This is part of the overall effort tracked at #80508.

## Acceptance criteria
See PR at https://github.com/elastic/kibana/pull/87574
The `fleet` plugin can be referred to using a project reference, which means it...
- [x] has a `tsconfig.json` file

[2020-10-31 12:24] elasticmachine commented on #82220
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-10-31 12:32] jfsiii commented on #82220
Tagged as 7.11 & 7.12 see https://github.com/elastic/kibana/issues/80508#issuecomment-719765559 & https://github.com/elastic/kibana/issues/80508#issuecomment-719896473

[2020-10-31 15:00] elasticmachine commented on #82203
Pinging @elastic/kibana-security (Team:Security)

[2020-10-31 19:10] liza-mae opened #82221 "Uncaught FieldFormatNotFoundError in heat map"
**Kibana version**: 8.0.0-SNAPSHOT

**Elasticsearch version**: 8.0.0-SNAPSHOT

**Server OS version**: Ubuntu

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Snapshots

**Description of the problem including expected versus actual behavior**:
Loading ```[Logs] Web Traffic``` sample data dashboards throws an error on ```[Logs] Heatmap```

[2020-10-31 19:10] elasticmachine commented on #82221
Pinging @elastic/kibana-gis (Team:Geo)

[2020-10-31 19:17] elasticmachine commented on #82221
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-10-31 19:18] nreese commented on #82221
Closing, duplicate of https://github.com/elastic/kibana/issues/82029.

Also, heatmap in this case is an XY visualization so I removed the geo tag

[2020-10-31 19:18] #82221 closed

[2020-10-31 19:19] nreese commented on #81206
Closing, duplicate of https://github.com/elastic/kibana/issues/81206

[2020-10-31 19:19] #81206 closed

[2020-10-31 20:04] liza-mae opened #82222 "Global search does not work"
**Kibana version**: 7.10.0 BC4

**Elasticsearch version**: 7.10.0 BC4

**Server OS version**: Ubuntu

**Browser version**: Chrome Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Staging

**Description of the problem including expected versus actual behavior**:
Using search menu results in error and search box disappearing.

**Steps to reproduce**:
 1. Install Es a

[2020-10-31 20:06] elasticmachine commented on #82222
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-10-31 20:09] liza-mae commented on #82221
Thanks @nreese

[2020-11-01 06:05] hendry-lim commented on #77574
A manual workaround for this issue will be to replace the index pattern to `*:apm-*` for index pattern ID `apm_static_index_pattern_id` .

[2020-11-01 09:41] restrry commented on #82222
@liza-mae is it considered as a blocker for v7.10?

[2020-11-01 09:45] kibanamachine opened #82226 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/kibana_overview·ts - Kibana overview "after all" hook for "Overview view""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9327/)

[2020-11-01 09:50] #71060 closed

[2020-11-01 12:31] msadish opened #82227 "Navigation from grafana to kibana fails due to epoch time format in the url"
Kibana dashboard query params in the web url does not support epoch time format which fails drilling down on logs based on time range.
Here is a sample data link that we store in grafana for logs navigation.
`https://mykibana.org/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:${__from},to:${__to}))`

In the above url, ${__from} & ${__to} variables are filled by grafana in e

[2020-11-01 16:55] elasticmachine commented on #4530
Pinging @elastic/datavis (Feature:ElasticCharts)

[2020-11-01 16:58] shaunmcgough commented on #4530
While considering this, we should also consider Scale Factor for the Log Scale. There should be a selectable choice of options in a drop-down to scale as such:

<img width="154" alt="image" src="https://user-images.githubusercontent.com/6256687/97809181-71081200-1c39-11eb-85d4-d0ec9c35eb3b.png">

[2020-11-01 18:13] liza-mae commented on #82222
@restrry I would consider it a blocker under the category that it's embarrassing, let me get @LeeDr to weigh in also.

[2020-11-01 19:06] liza-mae commented on #82222
I did some additional testing and it looks like only the predefined apps drop-down does not work.  If you enter another search term it does work, so maybe not blocker, thoughts?

[2020-11-02 01:09] hbharding commented on #81872
[Link to wireframes](https://whimsical.com/JVjqqXA8gVH8jxVmVH617o) (in progress, will review with team this week)

[2020-11-02 02:24] kibanamachine opened #82233 "Failing test: X-Pack Jest Tests.x-pack/plugins/uptime/server/lib/requests/__tests__ - getPingHistogram returns expected result for no status filter"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/9247/)

[2020-11-02 03:02] Prabakaran427 opened #82235 "Need to change override the scaleformat date for each visualization"
**Describe the feature:*Need to change the date format for each visualization*

**Describe a specific use case for the feature:* if taking a report based on month, then format should be MM-YYYY
If taking report based on day, then format should be DD-MM-YYYY*

[2020-11-02 03:32] mattkime commented on #82153
Thanks for finding this @Dosant - very helpful. I think it would be worthwhile to alter the Index Pattern service cache to address this, independent of the decision to fix this at a saved object client level.

[2020-11-02 04:00] mattkime commented on #81001
@andreadelrio - I'm curious if you have a solution for this. We need something to show the user even though the content hasn't changed.

[2020-11-02 04:04] mattkime commented on #78910
Closing as there's been no further discussion. Reopen if desired.

[2020-11-02 04:04] #78910 closed

[2020-11-02 06:59] kertal commented on #69908
@kennethlwk we're working on it, you can track the progress here: https://github.com/elastic/kibana/pull/70039

[2020-11-02 07:05] restrry commented on #82222
@pgayvallet would you mind taking a look, please?

[2020-11-02 07:15] mshustov opened #82240 "[core.logging] Remove dependency on @hapi/good, @hapi/good-squeeze, @hapi/podium"
@watson update Hapi to v18 in https://github.com/elastic/kibana/issues/54168 However, the core logging system leverages `@hapi/good-squeeze`, `@hapi/good`, and `@hapi/podium` packages, which is EOL on 31.12.2020

[2020-11-02 07:18] restrry commented on #54168
@watson I created an issue for our team https://github.com/elastic/kibana/issues/82240
we need find owners for `@hapi/wreck` (Kibana operations?) & `apollo-server-hapi` version updates

[2020-11-02 07:46] flash1293 commented on #66841
Closed by https://github.com/elastic/kibana/pull/66894

[2020-11-02 07:46] #66841 closed

[2020-11-02 08:11] #81881 closed

[2020-11-02 08:23] flash1293 commented on #77567
This failure occured on 7.9 (which I didn't backport the logging PR to), so no new information unfortunately

[2020-11-02 08:35] skh commented on #81995
@ruflin Can you comment?

[2020-11-02 08:43] kibanamachine opened #82242 "Failing test: X-Pack Jest Tests.x-pack/plugins/remote_clusters/__jest__/client_integration - <RemoteClusterList /> when there are no remote clusters should display an empty prompt"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9351/)

[2020-11-02 09:00] flash1293 commented on #67525
Looked into this with @dej611 and discovered a confusing behavior around that at the moment:
If there are no metrics configured, `esaggs` just returns an empty table as long as `metricsAtAllLevels` are set to false, but it crashes with an uncaught exception if it's set to true. This will probably be fixed once we support metric-less esaggs calls explicitly.

[2020-11-02 09:08] gmmorris commented on #81532
Added

[2020-11-02 09:11] watson commented on #54168
Quick update regarding `@hapi/wreck`: I just checked again, and while I didn't intentionally upgrade wreck in the hapi upgrade PR, it is actually upgraded in the sense that we no longer depend on `wreck` - without the prefix - which we depended upon indirectly via hapi.

However, we still have a direct dependency on `@hapi/wreck` which is used here:

https://github.com/elastic/kibana/blob/a6dc527a

[2020-11-02 09:15] flash1293 opened #82243 "[Lens] Build index pattern field map for O(1) access"
Currently the Lens-specific `IndexPattern` type only contains an array of field which is used in a lot of places to find a field by name.

This is problematic if the index pattern has a lot of fields.

To improve performance, the loader should expose the `data` index pattern object already providing this functionality by `getFieldByName`.

 By completely removing the local index pattern type we ca

[2020-11-02 09:15] elasticmachine commented on #82243
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-02 09:21] stratoula commented on #81548
I think that this is a duplicate of #82173

[2020-11-02 09:34] MadameSheema commented on #82148
@spong @peluja1012 can you please help to prioritise this and label the impact? Thanks :)

[2020-11-02 09:40] restrry commented on #54168
@watson my point was that maybe we can use nodejs API to remove this dependency. WDYT @elastic/kibana-operations ?

[2020-11-02 09:42] Bamieh commented on #70210
@kunisen most of the missing translations are fixed in `7.10`. We have a few bugs to be fixed in `7.11` to completely resolve this issue. (most notable: Some React i18n components in the sidenav not getting i18n context).

[2020-11-02 10:05] timroes commented on #80508
@restrry Same heads-up from Kibana App side. This was not part of our 7.11 planning. We will try to squeeze some things where possible in, but I'd expect the majority of our plugins not to be migrated in the 7.11 time frame and hopefully we'll be able to get the majority done up to 7.12.

[2020-11-02 10:19] fdartayre opened #82250 "Vertical cursor is not displayed across Timelion visualizations of a dashboad"
**Kibana version:** 7.9.3

**Describe the bug:**
In 7.6, a synchronized vertical bar was shown across Timelion visualizations of a dashboard. It doesn't work anymore in 7.9.3. A similar issue has been previously reported (https://github.com/elastic/kibana/issues/76954) for TSVB visualizations and fixed in 7.9.3 by https://github.com/elastic/kibana/pull/77306.

For Timelion visualizations, it seems

[2020-11-02 10:22] pgayvallet commented on #82222
cc @elastic/kibana-core-ui @myasonik This is the same error I encountered a few weeks back (see discussion on the core=ui channel on slack on October 8th). Seems I'm not the only one encountering it.

[2020-11-02 10:51] timroes commented on #81022
@KOTungseth It would be very nice if you could open a PR for this, explaining (maybe in a footnote) that the `auto` interval in date histogram only works for the primary time field (and also not for aliases to the primary time field), in Visualizations and Data Table. (Lens and TSVB don't have this restriction.)

[2020-11-02 10:53] #81757 closed

[2020-11-02 10:54] timroes commented on #80228
Closed via https://github.com/elastic/kibana/pull/80939

[2020-11-02 10:54] #80228 closed

[2020-11-02 10:58] dej611 opened #82253 "[Lens] Switching from Donut to Pie chart with only one bucket (no metric)"
**Kibana version:** `master` at 1482dd41c4b930536aced7f16b0ee36cddb68048

**Describe the bug:**

The app crashed with a stacktrace when switching between Donut to Pie type of chart. Same apply for any direction switch between TreeMap, Donut, Pie .

The workpanel clears up and the following stacktrace appear in the console:

[code]

**Steps to reproduce:**
1. Open Lens
2. Pick Donut chart
3. Add a

[2020-11-02 10:59] pgayvallet commented on #82222
Like last time, I couldn't really find a proper reproduction scenario. Not sure what the exact cause is creating this 'broken' state, but the consequence is an absence of selected items in the EUI component. Will be fixed by https://github.com/elastic/kibana/pull/82252.

[2020-11-02 11:01] dej611 commented on #82253
From a quick investigation it looks like the `frame.datasourceLayers` content wiped out in this specific context - logged in the `getPreviewExpression` method on switching -, leading the suggestion panel to crash when generating the suggestions.

[2020-11-02 11:08] majagrubic commented on #70211
Closed with 3 PRs above

[2020-11-02 11:08] #70211 closed

[2020-11-02 11:11] pgayvallet commented on #82153
Well, short answer would be no. `bulkGet` does what it is supposed to do, it bulkGets from ES, convert to SO and return the result. Also other consumers may be using the same API, and expects the number or resulting objects to have the same length as the requested objects, changing this behavior to remove dupes would be a breaking changes for them.

It's really at the consumer discretion to have t

[2020-11-02 11:11] sqren commented on #28147
We have replaced watcher with alerting so this issue no longer applies.

[2020-11-02 11:11] #28147 closed

[2020-11-02 11:17] pgayvallet commented on #82218
Seems reasonable to at least expose this method and document that it should be favoured when retrieving multiple settings.

Yea, that seems kinda dangerous to me for that exact reason. OTOH I'm unsure of the need to have 'real time' / 'fresh' access to UISettings. Would it be acceptable to have a per-instance cache with a very short lifespan (like, 60 / 120 seconds or so)? If it does, it could pro

[2020-11-02 11:18] Bamieh commented on #81862
@jen-huang We dont support template literals to avoid devs injecting variables using `${}` instead of using `values`. You can escape the single quotations inside the string by using `\'` (`can\'t`). Although it is preferred to use the full word `cannot` instead.

I dont think we should support this to avoid these extra unexpected errors.

[2020-11-02 11:26] Bamieh commented on #82166
Thanks for reporting this. We'll have it fixed.

[2020-11-02 11:36] rahulgupta-qasource opened #82259 "Success toast 'Upgraded Agent' is not displayed once agent upgrade is complete"
**Kibana version:**
Kibana: 7.11.0 Snapshot cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0 Snapshot cloud environment

**Host OS and Browser version:**
Windows 10 x64 , All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11 Snapshot cloud environment from https://staging.found.no

**Description**
Success toast 'Upgraded Agent' is not displayed once

[2020-11-02 11:36] elasticmachine commented on #82259
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-02 11:40] rahulgupta-qasource commented on #82259
@vipulsrivastava-qasource Please review the bug

[2020-11-02 11:41] sqren commented on #81997
@elastic/apm-ui Any thoughts? Is it time to remove the client side caching layer?

[2020-11-02 11:43] vipulsrivastava-qasource commented on #82259
Reviewed and Assigned to @EricDavisX

[2020-11-02 11:46] sqren commented on #28146
The integrations popup has been updated and we now use EUI. Closing

[2020-11-02 11:46] #28146 closed

[2020-11-02 11:51] #57782 closed

[2020-11-02 12:04] sqren opened #82261 "[APM] Show error rate in transactions list"
When selecting a service the user is presented with a list of the transaction groups.

![image.png](https://zube.io/files/elastic/38b47edb386f97ea73d20cbb214ad1b3-image.png)

This list should include "Error rate" so the user is able to sort by this metric, and find the transaction groups with the highest error rate.

[2020-11-02 12:04] elasticmachine commented on #82261
Pinging @elastic/apm-ui (Team:apm)

[2020-11-02 12:12] #80442 closed

[2020-11-02 12:14] MadameSheema opened #82264 "[Security Solution] Last timeline column cannot be resized to show more data and cannot be dragged and dropped"
**Reporter:** @aarju

**Describe the bug:**
When viewing an alert the last column in the view cannot be resized to show more data. You can also see in the video that the columns do not automatically drop into place when they are being dragged around. This is the same type if issue I’m seeing in the Timeline UI where the dragged object won’t drop into place unless I ‘pick up’ a different object.

I

[2020-11-02 12:16] Dosant commented on #82153
* Is it still possible to make inner optimization without changing the behavior, correct?
* Alternatively this probably could also be improved on `processBatchQueue` level

[2020-11-02 12:18] #54168 closed

[2020-11-02 12:22] denismaxim0v commented on #81749
I would like to take a look at that if that's still available and not conflicting with any ongoing work

[2020-11-02 12:29] stratoula commented on #61719
I will close this issue as the newer versions of kibana support this feature. Below is a screenshot from TSVB that plots boolean field on a timeseries.

<img width="1657" alt="Screenshot 2020-11-02 at 2 18 29 PM" src="https://user-images.githubusercontent.com/17003240/97868079-bdc21a80-1d17-11eb-91bb-09188c1bcbec.png">

[2020-11-02 12:29] #61719 closed

[2020-11-02 12:29] MadameSheema opened #82267 "[Security Solution] Rule execution fails for exceptions when the exception value has a quote on it"
**Describe the bug:**
Rule execution fails for exceptions when the exception value has a quote on it

**Kibana/Elasticsearch Stack version:**
7.10BC4

**Initial status:**
- To have a rule created

**Steps to reproduce:**
1. Add an exception to the rule i.e. `process.command_line` `is` `schtasks.exe "Microsoft\Office"`
2. Save the exception
3. Wait for the rule to be executed

**Current behavior:**

[2020-11-02 12:32] jbudz commented on #58086
Current status of this is the migration to the new elasticsearch client is logging all queries under `logging.verbose: true` and `elasticsearch.logQueries`.

stdout
[code]

json
[code]

The gap looks like https://github.com/elastic/kibana/issues/57546 for changing the kibana.yml setting name, and the performance metrics listed in the top comment.  Audit logging won't include performance metrics.

[2020-11-02 12:35] #77474 closed

[2020-11-02 12:56] pgayvallet commented on #81970
You're right, this is probably an edge case, but I guess if we were to only have one initial way to assign tags, it probably makes more sense to do so from the tags management instead of SO management, so it is probably better to start with that. (even if we should be able to implement both for 7.11)

@MichaelMarcialis could you start working on mockups for this workflow then?

Bonus question to @

[2020-11-02 12:58] skh commented on #81995
@ruflin @neptunian I have added a list of scenarios and possible behavior to the initial description, as a starting point for discussion.

[2020-11-02 12:59] jbudz commented on #43539
We've moved the keystore to `/etc/kibana/kibana/yml` and it should now respect KBN_PATH_CONF.  The data path is backwards compatible if a keystore exists in that location but when we get a chance we'll want to update homebrew
[code]

[2020-11-02 12:59] #43539 closed

[2020-11-02 12:59] ph opened #82273 "[Fleet] Add support for meta in fields.yml"
In https://github.com/elastic/elasticsearch/pull/61941 a standardised way on how to use `meta` information on fields is documented. Recent support on `meta` was added on the package-spec in https://github.com/elastic/package-spec/issues/42. When installing the template we should also take care of the [meta](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-field-meta.html) fi

[2020-11-02 12:59] elasticmachine commented on #82273
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-02 13:00] ymao1 commented on #80141
Issue should be fixed with https://github.com/elastic/eui/issues/3172

[2020-11-02 13:00] #80141 closed

[2020-11-02 13:00] ph commented on #82273
@exekias Can you verify I didn't do any mistakes in the transformation?

[2020-11-02 13:08] gmmorris opened #82274 "[Alerts] There is no way to assign actions to a specific Action Group in the Add / Edit flyouts"
part of https://github.com/elastic/kibana/issues/64077

Addresses the UX for attaching actions to specific action groups, see Meta issue for details

[2020-11-02 13:09] gmmorris opened #82275 "Display Action Group in Alert Details page"
part of https://github.com/elastic/kibana/issues/64077

Addresses:
- Including the Action Group in Event Log when Instances are activated
- Display Action Group on Alert Instances in Alert Details page

see Meta issue for details

[2020-11-02 13:12] elasticmachine commented on #82275
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-02 13:12] elasticmachine commented on #82274
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-02 13:23] elasticmachine commented on #82226
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-11-02 13:24] elasticmachine commented on #82233
Pinging @elastic/uptime (Team:uptime)

[2020-11-02 13:25] elasticmachine commented on #82242
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-02 13:27] rudolf commented on #81904
I think the reason users use import/export for "psuedo snapshot" is because they rely on the ability to do a _partial_ snapshot restore. While you could restore individual documents from an Elasticsearch snapshot there is no UI for it and because you have to follow all of a document's references it's complex enough for it to be outside of the reach of most users.

[2020-11-02 13:27] katrin-freihofner commented on #72600
@afgomez

🙈 my bad - `text-align:left` is what I meant. Sorry about that.

[2020-11-02 13:32] exekias commented on #82273
LGTM, thank you!

[2020-11-02 13:33] mikecote commented on #81532
Do we know who is planning to work on the 7.10 issues? The public release is targeting next week. This issue was primarily for GA items that @bmcconaghy could work on in the coming months.

[2020-11-02 13:43] shahzad31 commented on #75852
@vigneshshanmugam @jahtalab i am having second thoughts about the upgrade url, is that right?

 elastic.co/guide/en/apm/agent/rum-js/master/upgrade-to-v5.html#v5-update-rum-agent.

shouldn't it be latest update? instead of hard coded

[2020-11-02 13:44] pgayvallet commented on #82158
Changing from `bug` to `enhancement`, as I missed that it was already possible to work around that by manually providing an `onClick` handler

https://github.com/elastic/kibana/blob/159369b71999b1f9d8df5645c0935044d25bb8bc/src/core/public/chrome/ui/header/header_help_menu.tsx#L87

[2020-11-02 13:47] rudolf commented on #54837
When would a plugin prefer to use `SavedObjectsClient::get` over `SavedObjectsClient::resolve`? I'm concerned that we have two methods that are very similar, but choosing the wrong one could resolve in bugs with a high impact on users.

How do aliases work with the Saved Objects HTTP API? Unless we resolve ID's for all operations I think this will break any existing integrations (where a hardcoded

[2020-11-02 13:55] mostlyjason commented on #81947
I imagine if a user has a package version that is incompatible with Kibana, they cannot edit and must upgrade it before making changes? If so, the UI should make it clear / strongly guide the user down this path.

I think its more applicable for the use case where an upgraded package is not required because the current version is still compatible with Kibana. Even once we have auto-upgrade, some u

[2020-11-02 13:58] ppisljar commented on #72880
another usecase for this is reporting, currently we generate report (csv/pdf) and store it back into elasticsearch, which is very inefficent and also bring limits on the size of report we can generate. Having a CDN where we could put the reports would be great.

[2020-11-02 14:01] ppisljar commented on #79669
in the UI currently you can select the index pattern. I suggest to extend that dropdown with the capability to type in a `custom pattern`

[2020-11-02 14:01] rudolf commented on #54837
Do we intend to add a reference from a saved object to it's alias so that the alias is also exported?

[2020-11-02 14:01] vigneshshanmugam commented on #75852
@shahzad31 Yeah you are right, we could point to the release notes and let the user choose the latest one  - https://www.elastic.co/guide/en/apm/agent/rum-js/current/release-notes.html

[2020-11-02 14:03] timroes commented on #81548
Closing as duplicate of #82173

[2020-11-02 14:03] #81548 closed

[2020-11-02 14:05] timroes commented on #79669
@ppisljar I think that is a reasonable idea, as soon as we can request "index patterns on the fly" without the user having created them in advance. Do we have an issue we can crosslink here for this?

[2020-11-02 14:05] Dosant commented on #81004
Latest visual suggestions from @mdefazio:
![image (1)](https://user-images.githubusercontent.com/7784120/97876962-d123b480-1d1c-11eb-8c52-bce89d1a53fb.png)

[2020-11-02 14:08] flash1293 commented on #81749
@denismaxim0v Hey, sure, sounds great, thanks for contributing 💚 I'll assign the issue to you, let me know if you can't continue to work on it for any reason.

[2020-11-02 14:08] MichaelMarcialis commented on #82183
Hey @shaunmcgough! Thanks for pointing this out; you're correct. I'll add it to my list to update the saved object tagging mockups and prototype to account for the Canvas add panels flow. Stay tuned for those updates.

As a side note, additional areas where the new tagging feature should be accounted for within Canvas (i.e. for workpad tagging and filters) can be viewed at this point in the Figma

[2020-11-02 14:13] #80823 closed

[2020-11-02 14:16] ppisljar commented on #80510
lets cleanup expression loader as it shouldn't be using those types most likely

[2020-11-02 14:18] majagrubic commented on #81577
Hi, could you post questions like these in our [Discuss forum](https://discuss.elastic.co/c/elastic-stack/kibana/7) in the future? You will get a faster reply there

Assigning this to @elastic/kibana-alerting-services so they can check if this is an actual bug or something that needs further action on.

[2020-11-02 14:19] shahzad31 commented on #75852
@vigneshshanmugam how we will know that current one isn't the latest? and user need to upgrade?

[2020-11-02 14:23] elasticmachine commented on #81577
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-11-02 14:26] ppisljar commented on #79669
as mentioned above we do have index-patterns on the fly ready

[2020-11-02 14:27] #82103 closed

[2020-11-02 14:27] chrisronline opened #82286 "[Monitoring] Localization issue with threadpool alerts"
[This term](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/common/constants.ts#L389) is not properly localized and I'm not exactly sure the goal of this code pattern but we need the terms `search` and `write` to be localized.

[2020-11-02 14:27] elasticmachine commented on #82286
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-11-02 14:29] ruflin commented on #82273
@exekias Do you know if we already have an issue in Kibana to add support for this to the Kibana index patterns (or similar)?

[2020-11-02 14:32] #80005 closed

[2020-11-02 14:32] #82222 closed

[2020-11-02 14:33] elasticmachine commented on #81581
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-02 14:33] majagrubic commented on #81581
I managed to reproduce this on Cloud instance 7.9.0

[2020-11-02 14:34] mikecote commented on #80120
Option 4 looks reasonable as well. I should have said I'm less in favour of option 1.

I think it will come down to a product question (cc @arisonl) and hopefully we have a better idea what the ratio of users is for needing such feature.

[2020-11-02 14:34] jportner opened #82291 "Using "Copy to Space" with Read privileges results in 403 error"
**Kibana version:** 7.10

**Describe the bug:** If a user only has Read access to a space, when they attempt to use the "Copy to Space" flyout they will receive a 403 error

**Steps to reproduce:**

1. Start a fresh instance of Kibana
2. Create a role and user that only has Read access to the Default space
3. Do not create any additional spaces
4. As the aforementioned user, navigate to Saved Obje

[2020-11-02 14:34] elasticmachine commented on #82291
Pinging @elastic/kibana-security (Team:Security)

[2020-11-02 14:36] MichaelMarcialis commented on #81970
Yeah, I'll plan to work up some mockups for this.

[2020-11-02 14:39] mikecote commented on #80310
The same applies to muted: https://github.com/elastic/kibana/issues/81412. Updating title / description.

[2020-11-02 14:39] mikecote commented on #81412
Merged with https://github.com/elastic/kibana/issues/80310.

[2020-11-02 14:39] #81412 closed

[2020-11-02 14:44] mikecote commented on #74393
From what I recall, we decided to not rely on our framework to notify when something is wrong but rather have a set of health APIs that a 3rd party service could monitor and itself notify users if something is wrong. We are still planning to work on [meta alerts](https://github.com/elastic/kibana/issues/49410) in the future but it wouldn't be a 100% solution more than what we have with health APIs

[2020-11-02 14:47] flash1293 commented on #67464
cc @ThomThomson @lizozom

This might not be the right approach after all - soon there will be a specific API to fetch auto complete values, so we can just use that instead of using the search service in a hacky way.

[2020-11-02 14:52] MichaelMarcialis opened #82293 "[Lens] Embeddable includes White Background When Added to Canvas Workpad"
**Kibana version:**
8.0.0

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
macOS 10.14.6

**Browser version:**
Chrome 86.0.4240.111

**Browser OS version:**
macOS 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
I noticed that all visualizations added to Canvas workpads have transparent backgrounds by default, e

[2020-11-02 14:52] shahzad31 commented on #80133
@paulb-elastic this can use some refinement, seems like we have few unanswered questions here, design doesn't cover those, like TLS certificate column, status alert and name, i am not sure, what name represents here? is it the name of the journey? will we have a separate way to display name for browser monitors?

[2020-11-02 14:54] timroes opened #82294 "Add automation to create issues for new aggs and new field types"
As discussed with @spalger via chat, we would like to automate issue creation for new aggregation types and field types a bit more. We just added the two labels `>new-aggregation` and `>new-field-mapper` to the [Elasticsearch repository](https://github.com/elastic/elasticsearch/labels?q=new+). Those will be used on PRs that introduce new aggregation types or new field types into Elasticsearch, so

[2020-11-02 14:54] elasticmachine commented on #82294
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-02 14:56] EricDavisX commented on #82259
@neptunian @hbharding - did we expect this functionality to be in place?  QA is interpreting the spec to be that... we'd see 2 toasts it sounds like.  Please confirm spec and update the ticket (we can remove the 'bug' label if it was never implemented) and we can decide if we want to work on it more

[2020-11-02 14:58] afharo commented on #82166
Hmm, I thought it was fixed in https://github.com/elastic/kibana/pull/76883. Maybe I missed something?
I'll take a closer look at it.

[2020-11-02 14:58] jsanz commented on #57271
Leaving here a resource recently published by Esri on accessibility for basemaps

https://www.esri.com/arcgis-blog/products/arcgis-living-atlas/mapping/towards-an-accessible-basemap/

cc. @kmartastic

[2020-11-02 15:00] skh commented on #81110
When a package is uninstalled from the system, I'd propose it will be removed from the storage index as well.

That way the storage index doesn't silently turn into a secondary installation source that we need to check during package listings and installations.

[2020-11-02 15:05] #69526 closed

[2020-11-02 15:08] elasticmachine commented on #82253
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-02 15:09] paulb-elastic commented on #80133
**Name**
* My understanding is that `Name` is the existing column (as we have today), but with the additional description as to the type of monitor, underneath it
* @katrin-freihofner is that right?
* @drewpost what are the label names for HTTP, ping, Synthetics etc.?

**Certificate status**
* Does this just require the existing label/link for `Certificate status` to be changed to a button as in t

[2020-11-02 15:09] elasticmachine commented on #82293
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-02 15:12] EricDavisX commented on #68310
just confirming 2 items:
 - confirmed with the team: we never implemented the support to pre-introspect the individual selected Agents to help render the bulk-action menu list - as was considered above.
 - confirmed with the team: we didn't implement the horizontal progress bar to track upgrade status
 - and there is only one success 'toast' that comes, when the upgrade is successfully initiated.

[2020-11-02 15:13] EricDavisX commented on #82259
discussed with team:
we expect only one success 'toast' to come, when the upgrade is successfully initiated.

There is no subsequent toast, just information in the Activity Timeline for the individual Agents.  This ticket is logged, so we can leave it open for feature work, on the chance we wish to do this.

@rahulgupta-qasource for now, can you update the test content to expect only the one?

I a

[2020-11-02 15:15] nchaulet opened #82298 "[Fleet] Support reporting policy status"
## Description

The current way we report status (from agent events) is not optimal, we are not able to have status per inputs|integrations.

Agent status should be responsible of reporting their status: Agent are going to report their status during checkin

We should allow agents to report status per input.

Status will be persisted on the agent status Saved Object

## Format details

We could us

[2020-11-02 15:15] elasticmachine commented on #82298
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-02 15:16] marrasherrier commented on #77830
@dhurley14 definitely agree that sorting and descriptions would be helpful. I can recommend some text -- is there any existing documentation explaining these columns? if not, would you be willing to explain them here? :)

[2020-11-02 15:18] sqren opened #82299 "[APM] Indicate on trace waterfall whether a span failed"
Currently on the trace waterfall it is not possible to see whether a span failed or not. In the following example the first four spans ("ES POST /py-orders/_search") have `event.outcome: false`:

![image.png](https://zube.io/files/elastic/6ce0bf29fdc4da5a0a3f9a757cedf113-image.png)

This can be seen i Discover:
![image.png](https://zube.io/files/elastic/2075c56013335326989635ea86f4c276-image.png)

[2020-11-02 15:18] elasticmachine commented on #82299
Pinging @elastic/apm-ui (Team:apm)

[2020-11-02 15:21] bradquarry commented on #57712
Upvote from a team at Verizon who is asking for Allow creation of visualization from saved search .

[2020-11-02 15:21] bradquarry commented on #55896
Upvote from a team at Verizon

[2020-11-02 15:25] sqren opened #82301 "[APM] Show Error tab on Transaction Details flyout"
When a user is analysing a trace and sees a failed transaction they have to navigate to the error page to view the stack trace. This is disruptive, since it pulls them out of the trace.

It would be better if we didn't link to the error, but instead had a "Exception stack trace" tab in the Transaction details flyout.

*This is how the transaction details flyout currently looks*
![image.png](https:

[2020-11-02 15:25] elasticmachine commented on #82301
Pinging @elastic/apm-ui (Team:apm)

[2020-11-02 15:27] KOTungseth commented on #82180
@fw-at-elastic this is a great idea! Did you want to open the PR for this? Or, if you'd like, we can open a PR too. Just let us know!

[2020-11-02 15:32] #81555 closed

[2020-11-02 15:34] andrewvc commented on #75852
Add "Public Version API" to description

[2020-11-02 15:42] elasticmachine commented on #81772
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-02 15:42] elasticmachine commented on #81771
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-02 15:47] ymao1 commented on #81771
I originally reverted the commit that caused this test failure: https://github.com/elastic/kibana/commit/9d602e364ecec1c73616c21726158efdb3cab1f8

And then re-did the PR with the fix here: https://github.com/elastic/kibana/pull/81778

Doesn't look like there have been any test failures since I made these changes.

[2020-11-02 15:47] ymao1 commented on #81772
I originally reverted the commit that caused this test failure: https://github.com/elastic/kibana/commit/9d602e364ecec1c73616c21726158efdb3cab1f8

And then re-did the PR with the fix here: https://github.com/elastic/kibana/pull/81778

Doesn't look like there have been any test failures since I made these changes.

[2020-11-02 15:47] pgayvallet commented on #81785
As a reminder, Tagging is not available on OSS. We would probably need a way to have distinct dataset for our test data if we want to do that. Adding tags relations would not really be an issue, but any attempt to create a `tag` type SO on OSS will result in an error.

[2020-11-02 15:48] fw-at-elastic commented on #82180
Yes! That would be great @KOTungseth! I appreciate it!!

[2020-11-02 15:52] pgayvallet commented on #81846
I don't see any technical blocker to enhance SO search results with tags. I don't know the `EuiSelectableTemplateSitewide` EUI component we are using for the search bar well enough though. @myasonik, on the UI side, does that seems doable? I see we are using a `meta` attribute to display the category. I guess we could do the same to display the tags?

[2020-11-02 15:52] spalger commented on #82149
Hey @scinconovetta, 7.7-7.9 is right in the middle of the transition we've been working on to get to our new Kibana Platform architecture. Most 3rd party plugins can migrate to the new plugin system by generating a new plugin using the tooling in the 7.x or 7.10 branch (which should be released soonish) then migrating your code over to the newly generated plugin and referencing [the migration guid

[2020-11-02 15:53] nchaulet commented on #81464
@EricDavisX  What do you think of closing it as it's not an error that we can really fix?

[2020-11-02 16:06] jasonrhodes opened #82310 "[Metrics App] Waffle map auto-refresh loading state is too disruptive"
When a user sets the waffle map to "Auto Refresh", each load redraws the entire map (and hides the existing map while loading is in progress). See the below image, especially as I try to interact with the hover-state tooltips and click a link to investigate the metrics/logs/etc of a specific node.

![metrics-ui-loading-disruption](https://user-images.githubusercontent.com/159370/97889662-9e68c480-

[2020-11-02 16:06] elasticmachine commented on #82310
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-11-02 16:09] kevinlog commented on #80281
assigning to @efreeti to take a closer look at the CI set up in this case.  This is a common failure across a handful of tests in this setup.

These tests require that our transform moves data from one index in ES to a destination index.  I wonder if that is the difference between a test in this environment vs. a test that runs in normal CI.

Also FYI @paul-tavares @nnamdifrankie

[2020-11-02 16:11] alexfrancoeur opened #82311 "Visualize misplaced in navigation"
Looks like visualize jumped up again! Any chance we can fix and backport? I'm not sure if this constitutes as a blocker for `7.10` but it looks like we'll be spinning up a 7.5.

![image](https://user-images.githubusercontent.com/25181823/97890261-58603080-1cfb-11eb-9720-bc87ae7c4b4a.png)

@ryankeairns @myasonik is this something quick we could do?

cc: @VijayDoshi @AlonaNadler

[2020-11-02 16:11] elasticmachine commented on #82311
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-11-02 16:13] jasonrhodes opened #82312 "[Metrics App] Make more space for scrolling up at the bottom of the waffle map"
When there are enough hosts, pods, etc. in the waffle map to have them go off the bottom of the screen, they are covered by the fixed bottom toolbar. When you scroll down, we have not given enough space at the bottom of the page to be able to uncover them all, which makes someone who is OCD like me want to throw their computer into the ocean. 😭😆

![metrics-ui-scroll-space](https://user-images.gith

[2020-11-02 16:13] elasticmachine commented on #82312
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-11-02 16:16] jloleysens commented on #78906
@cjcenizal @Vastzhang97 I tested locally on 7.9.2 and 7.9.3 with the input from the screenshot (and any other input) and was able to get the error message to appear in the dialog as before.

Not sure how this is appearing in 7.9.2 since the fix is included in the commit tagged for that release. Closing for now since the issue is definitely fixed in later releases.

[2020-11-02 16:16] #78906 closed

[2020-11-02 16:18] alexfrancoeur commented on #82311
@kobelb, this is a UI regression with our navigation. If needed, would we consider this a blocker?

[2020-11-02 16:19] jasonrhodes opened #82313 "[Metrics App] Waffle map scale is sometimes in the wrong order"
There are times when the waffle map scale's 3 values are not in the right ascending order (or descending order, for that matter!). Here are two examples:

<img width="1440" alt="Screen Shot 2020-10-30 at 12 06 03 PM" src="https://user-images.githubusercontent.com/159370/97891770-323b9000-1cfd-11eb-8cb5-9d514294ef4e.png">

<img width="500" alt="Screen Shot 2020-10-29 at 8 16 40 PM" src="https://use

[2020-11-02 16:21] liza-mae commented on #82222
Thanks for fixing @pgayvallet @restrry

[2020-11-02 16:22] ryankeairns commented on #82311
For reference, last time this happened: https://github.com/elastic/kibana/pull/74145

[2020-11-02 16:23] #82032 closed

[2020-11-02 16:26] shahzad31 commented on #80133
@paulb-elastic status alert column can remain as is. That's the only place it will be useful/meaningful.

I will start work on this and sync with @katrin-freihofner to refine it.

[2020-11-02 16:29] myasonik commented on #82311
At this point, it's unlikely to be a regression that we caused and likely that indvidual teams need to be more cognizant of the nav when they make changes to their app registration. @elastic/kibana-app, is this something you've been changing recently?

(Full disclosure, I haven't dug into this, so it _could_ still be a Core UI issue but just very unlikely)

[2020-11-02 16:32] ryankeairns commented on #82311
I poked around a bit and I think the original backports got missed or missed the cutoff. Here is [another related PR](https://github.com/elastic/kibana/pull/74145/files) that had a missing backport which was later relabeled. The order is correct on master, so I'm not sure how to resolve this... does one of these old PRs needs backported to 7.10?

[2020-11-02 16:41] ryankeairns commented on #81846
On the surface, it seems like this might get very noisy. I wonder if the more optimal UX thing to do with tags is work them into the [search syntax idea](https://github.com/elastic/kibana/issues/74290). For example `tag: tagname` and get SOs with that tag (and perhaps show that single tag in the meta).

If the consensus is to go the 'display tags by default' route, then let's have a designer itera

[2020-11-02 16:44] myasonik commented on #81846
Technically, we can achieve this pretty easily though it isn't built into the component as is right now.

For the meta data, there are 5 types ('application', 'deployment', 'article', 'case', 'platform') which I think each just align to specific colors. But we could create a custom type of meta data (e.g., 'tag') and render it however we wanted to.

[2020-11-02 16:44] timroes commented on #69134
This comment (https://github.com/elastic/kibana/issues/76307#issuecomment-717279415) has a couple of more up-to-date details on the splitting of queries.

[2020-11-02 16:46] wylieconlon opened #82318 "[Index patterns] Store field-specific metadata from mappings"
Elasticsearch now has [standard metadata entries](https://github.com/elastic/elasticsearch/pull/61941) which we expect to use throughout the stack. The first step to integrating this in Kibana is to store [field meta information](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-field-meta.html) which is part of [field caps](https://www.elastic.co/guide/en/elasticsearch/refer

[2020-11-02 16:46] elasticmachine commented on #82318
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-02 16:47] #81319 closed

[2020-11-02 16:47] EricDavisX commented on #81464
it sounds like an unreproducible problem that... we don't need to plan to attempt fixing or improving (if the cpu is going stressed and low on resources there is only so much the applications running can protect against).

with the recent passing tests, I think we should close it out.

[2020-11-02 16:47] EricDavisX commented on #81464
closing per above.

[2020-11-02 16:47] #81464 closed

[2020-11-02 16:50] roaksoax commented on #80066
@bhavyarm Unfortunately we can't. We don't currently have any UI engineers in the team nor plans to have one. Is this something you can help with?

[2020-11-02 16:50] MadameSheema opened #82320 "[Security Solution] Rule execution marked as failed when the rule is modified meanwhile is executed"
**Describe the bug:**
Rule execution fails when the rule is modified meanwhile is executed. This is more likely to happen with rules that takes time to be processed.

**Kibana/Elasticsearch Stack version:**
- 7.10.0 - BC4

**Initial status:**
- To have an `indicator match` rule created with a big `look-back time` (i.e. `30000 hours`) and a small execution time (i.e. `10 seconds`)

**Steps to repro

[2020-11-02 16:51] jportner commented on #54837
I had conversations offline with @stacey-gammon and @rudolf. Summary:

**How users can interact with Aliases:** There is not much real benefit to allowing users to create and edit Aliases. Many URLs in Kibana are quite long (Dashboard, Visualization, etc.) because of our current reliance on storing state in the URL. These users are better served by existing short URL functionality. In a nutshell:

[2020-11-02 16:52] myasonik commented on #82311
That all having worked in 7.8, 7.9, and master should mean that at least at that moment in time, 7.10 was correct and I don't think we've touched anything around app order since then... Either way, not a large fix. I'll throw up a PR today if someone from kibana app doesn't get to it before I do.

[2020-11-02 16:53] myasonik commented on #82311
That all having worked in 7.8, 7.9, and master should mean that at least at that moment in time, 7.10 was correct and I don't think we've touched anything around app order since then... Either way, not a large fix. I'll throw up a PR today targeting 7.10 if someone from kibana app doesn't get to it before I do.

[2020-11-02 16:56] afharo commented on #82166
@legrego I've just tested it on `master` and it is working on my end:
![2020-11-02 17-39-08 2020-11-02 17_46_18](https://user-images.githubusercontent.com/5469006/97894942-0b944e00-1d2b-11eb-999d-f195157bf9e1.gif)
For starters, the bit _To stop collection, disable usage here_ is not shown when we detect the user can't update the `telemetry` saved objects. And the method is not called either.

The

[2020-11-02 17:02] scinconovetta commented on #82149
@spalger I tried installing the plugin helpers in 7.10 via `yarn add --dev link:../../packages/kbn-plugin-helpers`, but I get this error:
`error Couldn't find package "@kbn/dev-utils@1.0.0" required by "../../packages/kbn-plugin-helpers" on the "npm" registry.`

I tried to add dev-utils (and subsequent packages that give the "Couldn't find package" error) through `yarn add --dev link<package path>

[2020-11-02 17:10] rylnd commented on #81857
Closing as per https://github.com/elastic/kibana/pull/81965#discussion_r516124052

[2020-11-02 17:10] #81857 closed

[2020-11-02 17:19] kevinlog commented on #82298
@nchaulet thanks for creating this ticket, I'm excited to see this feature.

I'm wondering if we should add the `agent.id` as it refers to the underlying beat/endpoint.  I'm thinking of ways other beats or apps could extend this to add more Policy Status information at some point.  So the Fleet app would support this entry point, but the other apps (such as Security) would be able to pull more det

[2020-11-02 17:19] jportner opened #82324 "Change defaults for Import and Copy APIs to use new "createNewCopies" mode"
The optional `createNewCopies` flag was added to the Import and Copy APIs in 7.10 via #75444. This is accompanied by corresponding UI changes:

![image](https://user-images.githubusercontent.com/5295965/97898174-7e8ace00-1d05-11eb-9766-e541f36fe60c.png)

Starting in 7.11, we want to change this to default to the new mode (the "Create new objects with random IDs" option). We also want to change the

[2020-11-02 17:19] elasticmachine commented on #82324
Pinging @elastic/kibana-security (Team:Security)

[2020-11-02 17:20] #42467 closed

[2020-11-02 17:20] #81408 closed

[2020-11-02 17:20] wylieconlon commented on #81408
We just confirmed that this is the same issue as the issue where the bucket has dashes. This is a duplicate.

[2020-11-02 17:25] nchaulet commented on #82298
@kevinlog for now this will probably be saved on the agent saved object the agent id is probably not mandatory here.
I think in the future (or in parallel) we want the agent to also save this directly to ES in this case we will have agent.id and also probably other agent metadata

[2020-11-02 17:28] afgomez commented on #79288
I made a list of features that we have right now in the log stream, and if the `EuiDataGrid` satisfies them or not.

<table>
<tr>
	<td>The datagrid has scroll
	<td>✅
    <td>The body of the datagrid can be made scrollable with a `<EuiDataGrid style={{ height: "1234px" }} />` prop
<tr>
	<td>The scroll of the body is independent of the header
	<td>✅
	<td>
<tr>
	<td>The component reports scroll posit

[2020-11-02 17:37] paulb-elastic commented on #77466
No, it's hasn't, but this has been merged: https://github.com/elastic/elasticsearch/pull/62193

[2020-11-02 17:42] MadameSheema opened #82327 "[Security Solution] Slow load time for Detection rules page when you have several `Indicator Match` rules created"
**Describe the bug:**
Detection rules pages start to be slow when you have several `Indicator Match` rules created

**Kibana/Elasticsearch Stack version:**
- 7.10.0-BC4

** Initial status:**
- To have at least 6 `indicator match` rules created with a big `look-back time` (i.e. `30000 hours`) and a small execution time (i.e. `10 seconds`)

**Steps to reproduce:**
1. Load the `Detections rule` page

[2020-11-02 17:45] wylieconlon opened #82328 "[data.search.aggs] Other bucket is not correct for multi-value array fields"
Was talking with @timroes about [bugs in the other bucket](https://github.com/elastic/kibana/issues/42467) and found this edge case. Imagine that we are tracking the arguments to a process, and every process has its own document like this:

[code]

The results are currently:

Top 2 args | Count
-- | --
/path/to/executable | 1
--verbose | 1
Other | 0

But they should actually be:

Top 2 args | Coun

[2020-11-02 17:48] TinaHeiligers commented on #82166
@legrego Can you verify that the issue impacts many users or is it an edge case as we suspect? I don't believe another 7.9 build is going out and there is a fix being released in 7.10.

[2020-11-02 17:49] #46001 closed

[2020-11-02 17:53] travisestill opened #82329 "Cannot Create Legacy Index template trough Kibana. Blank page on review step."
**Kibana version:**7.9.3

**Elasticsearch version:**7.9.3

**Server OS version:** ESS

**Browser version:** Chrome 86.0.4240.111 (latest), FF Version 82.0.1 (64-bit)(latest)

**Browser OS version:** Mac OS 10.15.7 (Catalina)

**Original install method (e.g. download page, yum, from source, etc.):** ESS Cloud deployment (Docker)

**Describe the bug:**
When trying to create a new legacy template thr

[2020-11-02 17:57] #82066 closed

[2020-11-02 18:00] #82065 closed

[2020-11-02 18:00] kobelb commented on #82311
If this continues to happen, we really should add a test that catches this.

The closest criteria from our definition of a blocker that applies to this situation is:

This criterion is rather loose, so at the end of the day, it's a judgement call. I'd argue the frustration is more annoying than embarrassing, but that's just me :)

[2020-11-02 18:10] cjcenizal commented on #81904
To clarify, it sounds like the original guidance of taking snapshots of saved objects and then restoring those snapshots to create saved object state will be a degraded UX from the current functionality of importing a saved objects file, because users will lose the ability to easily select the saved objects they want to restore. Is that right?

If so, then maybe we should add a note that this depr

[2020-11-02 18:11] spalger opened #82335 "[CI] [TeamCity] PR dashboard/report comment"
Based on discussion in https://github.com/elastic/kibana/issues/82335

When we move to TeamCity we have the opportunity to create our own integration with TeamCity for PRs because the built in PR functionality doesn't support some important features we need, and we also have the following problems with the way we're interacting with CI from PRs:

 - comments like `@elasticmachine merge upstream` n

[2020-11-02 18:11] #81845 closed

[2020-11-02 18:11] mattkime commented on #82318
@wylieconlon Thanks for bringing this to my attention. Its definitely something we should do. Can you help me figure out the priority? What would be built on top of this and is it roadmapped?

[2020-11-02 18:14] elasticmachine commented on #82335
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-02 18:14] elasticmachine commented on #57760
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-02 18:15] tsullivan commented on #81504
Is there any way that a shell environment variable could be used to flag bootstrap to automatically register the git hook?

I like the pattern that the `KBN_OPTIMIZER_THEMES` variable introduced, which sets me up automatically to customize optimizer behavior, no matter which repo of Kibana I am working in (e.g a separate clone of Kibana to work in 7.x). I exported it from a shell init script and n

[2020-11-02 18:16] elasticmachine commented on #58681
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-02 18:18] spalger opened #82338 "[CI] [TeamCity] Send slack notifications to alerting channel when tests fail or are flaky"
Using the ci-stats service and webhooks from TeamCity we will monitor the status of CI jobs and report failures and flaky status to a slack channel configured with the following TC build parameters:

 - `elastic.slack.enabled: "true"`
 - `elastic.slack.channels: "#channel-one,#channel-two"`

Slack notifications should be sent as soon as failures start, and should update the slack message if necess

[2020-11-02 18:18] elasticmachine commented on #82338
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-02 18:18] #82338 closed

[2020-11-02 18:18] spalger commented on #82338
Implemented in the ci-stats bot

[2020-11-02 18:21] spalger opened #82339 "[CI] [TeamCity] Capture job and test stats in ci-stats bot"
We currently rely on the `runbld` tool to record build and test stats in an ES Cluster for reporting purposes. We have hacked the tool to work for TeamCity too, but it's time to replace this tool with a customized implementation that tracks the data we actually report on regularly in a schema that makes it easier to understand what's going on in CI and how failures relate to PRs, builds, and each

[2020-11-02 18:21] elasticmachine commented on #82339
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-02 18:24] spalger opened #82340 "[CI] [TeamCity] Abort in-progress teamcity jobs when a PR triggers a new job"
When a build for a PR is in progress and a new build is scheduled for some reason, regardless of the state the existing build is in we should cancel the existing build. This doesn't really work with Jenkins but should be implemented correctly in the PR triggering bot we're building the TeamCity.

[2020-11-02 18:24] elasticmachine commented on #82340
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-02 18:28] mdefazio commented on #64077
Here are the latest mockups for this: Per our recent discussion, I've added a badge to the collapsed state of the action that signifies to which action group it belongs.
![image](https://user-images.githubusercontent.com/3756330/97904895-28228d00-1d0f-11eb-94a4-c1d1ca80b3e7.png)

[2020-11-02 18:31] Matt-Yorkley opened #82341 "[Alerts] Server log action: log level cannot be set"
**Kibana version:**

7.9.2 (also tried in 7.9.3)

**Elasticsearch version:**

7.9.2 (also tried in 7.9.3)

**Server OS version:**

Ubuntu 18.04

**Browser version:**

Firefox 82.0

**Browser OS version:**

Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**

apt

**Describe the bug:**

When setting up an alert and using the "Server log" action, the log level opt

[2020-11-02 18:32] spalger commented on #79476
I've summarized what I think is the outcome of the discussion in https://github.com/elastic/kibana/issues/82335

[2020-11-02 18:35] #82173 closed

[2020-11-02 18:38] elasticmachine commented on #81476
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-11-02 18:59] nathanrstacey opened #82346 "Toggle off/on error messages visibility. Or something equivalent"
**Describe the feature:**
Toggle off/on error messages visibility. Or something equivalent

**Describe a specific use case for the feature:**
At this time, when internal issues occur the error messages continue to grow up the right side of the screen. These errors usually pertain to a shard that cannot be located or object not able to be stored or request timeout. Sometimes I need these messages,

[2020-11-02 19:04] wylieconlon opened #82347 "[Lens] When field metadata indicates a metric_type: counter, default to suggesting counter rate"
Lens should use the [standard metadata](https://github.com/elastic/elasticsearch/pull/61941) that is defined across the stack in a few ways. For numbers that we know are counters, the simplest option is to change our suggestion logic to always recommend a counter rate.

This issue depends on:

1. [Storing meta in the index pattern](https://github.com/elastic/kibana/issues/82318)
2. [Implementing c

[2020-11-02 19:04] elasticmachine commented on #82347
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-02 19:04] EricDavisX commented on #30403
I was doing general reviewing over 7.10 issues and found this - @LeeDr removing the 7.10 label as I understand it is not the last in the 7.x line at this point.

[2020-11-02 19:07] wylieconlon opened #82348 "[Index patterns] Provide a default field formatter based on the field metadata"
The [standard metadata](https://github.com/elastic/kibana/issues/46627) includes formatting information that Kibana should use by default. Instead of using the default number formatter, the index pattern should assign formatters based on the following logic:

Metadata | Format chosen
-- | --
percent | Percent
byte | Bytes
Time unit | Duration format, with the input and output units defined to this

[2020-11-02 19:07] elasticmachine commented on #82348
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-02 19:08] IgorGuz2000 commented on #68274
This test does not exist any more closing the issue

[2020-11-02 19:08] #68274 closed

[2020-11-02 19:15] #81437 closed

[2020-11-02 19:15] #81860 closed

[2020-11-02 19:18] nathanrstacey opened #82352 "Canvas: Set default refresh settings for the canvas"
**Describe the feature:**
Specific to canvas. Allow an admin to set the default refresh settings themself and for all other users

**Describe a specific use case for the feature:**
At this time, the "Change auto-refresh interval" needs to be set every time the user goes to the canvas screen. If they leave said canvas and go back to it, the refresh settings are removed again

It would be nice for t

[2020-11-02 19:21] #82128 closed

[2020-11-02 19:25] wylieconlon commented on #82318
@mattkime I added some links to this issue from the related issues. Now that the decisions is made at the stack level, solutions like Observability are planning on adding metadata in a few places as early as 7.11. The most basic implementation I would hope for is that we would assign a different field formatter when the metadata indicates the type

[2020-11-02 19:27] cjcenizal commented on #58681
Hasn't reoccurred in awhile. I think this was fixed by https://github.com/elastic/kibana/pull/58768.

[2020-11-02 19:27] #58681 closed

[2020-11-02 19:29] cjcenizal commented on #57760
https://github.com/elastic/kibana/pull/58768 was added after the last time this test failed, so I think that might have fixed this one.

[2020-11-02 19:29] #57760 closed

[2020-11-02 19:43] timroes commented on #82328
While I think that approach would pretty much solve the issue and result in what we define correct behavior, I am a bit concerned about performance. Adding a painless filter on each level that contains "Other bucket" for each parent value, sounds like something that could leave us in larger clusters with a significantly decreased performance than we have today.

I think if we would want to go that

[2020-11-02 19:45] cjcenizal commented on #82294
ES UI is interested in new field types, but not new aggregations. Could we create a separate issue for each, and add the `Team:Elasticsearch UI` label to the ones for new field types?

[2020-11-02 19:46] wylieconlon commented on #82328
Synced with @polyfractal and there might be a much more performant API that we could implement in Elasticsearch to handle the two branches without Painless.

[2020-11-02 19:49] wylieconlon commented on #17087
We now have an agreement to have [standard metadata](https://github.com/elastic/elasticsearch/pull/61941) for numeric fields in the stack, which is a good place to start. It's not yet part of ECS but it will soon be part of many solutions.

[2020-11-02 19:49] wylieconlon commented on #82273
Yes, here https://github.com/elastic/kibana/issues/82318

[2020-11-02 20:00] wylieconlon commented on #55896
We're blocked on this because there are both technical and product questions that need time to research before we can start on this. It's also potentially a larger technical effort than it sounds because so much of our code depends on index pattern IDs.

[2020-11-02 20:06] wylieconlon commented on #81147
As part of the time offsets we'll need to do basic date math to present the times as if they are overlapping: this is something that should be shared, not exclusive to APM. Can it be put in a shared place in Kibana code? We already have one implementation of this logic in Timelion, and we need it as part of an upcoming [esaggs feature](https://github.com/elastic/kibana/issues/71287) that is intend

[2020-11-02 20:10] mikecote opened #82366 "Static resolved action group to fire when an alert instance is resolved"
Part of https://github.com/elastic/kibana/issues/49405.

This issue covers the server side portion of the meta issue.

[2020-11-02 20:10] elasticmachine commented on #82366
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-02 20:13] mikecote opened #82367 "Ability to assign alert actions to resolved action group in UI"
Part of https://github.com/elastic/kibana/issues/49405.

This issue covers the UI portion of the meta issue:

[2020-11-02 20:13] elasticmachine commented on #82367
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-02 20:13] TinaHeiligers commented on #81944
@chrisronline the actions, alerts and lens collectors explicitly comment that they're fine with not returning any usage data the first time that their collectors' `fetch` methods are called. I could still follow up with them with draft "fixes" to double check that they're ok with skipping data.

[2020-11-02 20:14] mikecote commented on #82367
Issue is blocked until #64077 and #82366 are closed.

[2020-11-02 20:19] wylieconlon commented on #82243
I agree this would be nice, but also want to point out that this is another place where we're duplicating effort in Lens + the Index Pattern service. Would be nice if we could start removing some of the Lens-specific handling, and it might even improve performance if we did. As a reminder this is tech debt because Lens was started before the index pattern service was easily shareable.

[2020-11-02 20:34] #80986 closed

[2020-11-02 20:43] #51345 closed

[2020-11-02 20:43] wylieconlon commented on #82328
Link to the ES discussion: https://github.com/elastic/elasticsearch/issues/64506

[2020-11-02 20:46] wylieconlon commented on #81789
@flash1293 fine with me

[2020-11-02 20:51] spalger commented on #81504
@timroes Maybe you want to use an alias instead of calling bootstrap directly, I plan to change my `kbs` alias to:

[code]

[2020-11-02 20:59] spalger commented on #82149
Unfortunately not, the plugin-helpers and other `@kbn/*` packages are not published to any repository and instead require the repository to be checked out and bootstrapped to work correctly. We've made certain exceptions to that and migrated `@kbn/*` packages to the `@elastic` namespace. That said, `@kbn/plugin-helpers` is integrated with the rest of the repo and pushing new versions to npm would

[2020-11-02 21:04] wylieconlon commented on #79189
We've run into this before because Lens is the app using the `flattened` mapping: https://github.com/elastic/kibana/issues/52324

The users there were mostly confused about the error message. I like the idea of checking the license level early and printing a clear message.

[2020-11-02 21:18] #76412 closed

[2020-11-02 21:47] alexfrancoeur commented on #70513
Heya, I wanted to share a thought I had when I heard that the logs viewer may be being built to be embeddable in APM. I wonder what the additional work effort could be put in to introducing it as a dashboard embeddable. I'm sure it's non-trivial, but it might be worth exploring a bit further. I can see a ton of value in providing a similar experience that the ML team did with swimlanes. There are

[2020-11-02 21:49] lukasolson commented on #81009
Hmm, yeah this seems like a bug that falls on our team. What's the priority of fixing this?

[2020-11-02 21:51] tbragin commented on #70513
+1 on understanding whether a Logs viewer should eventually be exposed natively on a Kibana Dashboard. Today, to my knowledge, a user has to "add a saved search" to a Dashboard to display logs in a table format. I'd be curious if we have requests from users to expose logs in a more compact and custom format for logs. cc @AlonaNadler may have some thoughts here in terms of Dashboard priorities.

[2020-11-02 21:51] roaksoax commented on #80508
@restrry The Logstash team doesn't currently have any UI engineers and we will need someone to take over this work. Is this something you or your team can help with?

[2020-11-02 22:12] smith commented on #80508
@roaksoax I''ll help out, but logstash depends on home, and data transitively, so it's probably going to be blocked from getting its own tsconfig set up until those are done.

[2020-11-02 22:15] neptunian commented on #81947
@jfsiii @ruflin @mostlyjason Sorry, I basically got this backward and confused myself.  The installed tab DOES link to the installed version.  But what I found a bit unexpected was the "All integrations" tab also directs you to the installed version.  I remember we were weighing the pros and cons of each with the con of the current implementation being they don't have much encouragement to upgrade

[2020-11-02 22:16] smith commented on #80508
The data plugin is the big rock sitting in the way of this work. I'd say 90% of plugins can't be completed right now because of dependencies on data.

Once that one has the circular dependencies resolved and its references set up it will make things a lot smoother. I've been working a bit on this so I'll try to help out where I can.

[2020-11-02 22:48] FrankHassanabad opened #82384 "[Security Solution] Severity/Risk override does not work with arrays"
**Describe the bug:**

When the source index you are trying to create detections from has their severity or risk override contained in an array then they will not be correctly detected and the fallbacks of the non-overrides will end up taking effect.

**Steps to reproduce:**

1. Add a lightweight mapping and two record sets for this from dev tools:

[code]

[code]

2. Create a rule that has a _ver

[2020-11-02 22:56] AlonaNadler commented on #70513
In general we do want to allow users a path to create `single pane of glass` combining their solutions widgets next to their custom charts in a dashboard. We already started that by working with the different teams and adding Maps and ML anomalies into a dashboard which acts like a regular panel.

We are hoping to enhance it in the future and have a toolbar within the dashboard that makes adding s

[2020-11-02 23:30] sqren opened #82386 "[APM] Filtering by "Type" on error overview sometimes causes an error"
It is possible to filter errors by type by clicking on an error type in the table:
![image.png](https://zube.io/files/elastic/d992c950326919a41c1b126a42f7cb9b-image.png)

However, the type is not enclosed in `"` (quotes) causing the page to fail if the type contains special characters

![image.png](https://zube.io/files/elastic/d93d9f781b2ca434035c32a88fdf70b4-image.png)

[2020-11-02 23:30] elasticmachine commented on #82386
Pinging @elastic/apm-ui (Team:apm)

[2020-11-02 23:32] #74428 closed

[2020-11-02 23:34] tbragin commented on #70513
@mukeshelastic I'd love your thoughts on the use case around exposing a native action in Kibana Dashboards to add a Logs panel.

[2020-11-03 00:00] sqren opened #82388 "[APM] Investigate embeddable use cases for APM components"
As of today, none of the components used inside the APM app are available to use on dashboards.

Some of the components that are hardest to recreate outside APM ui (and therefore would add the most value as embeddables) are:
 - Trace waterfall
 - Service map
 - Exception stack trace renderer
 - breakdown chart

Related: https://github.com/elastic/kibana/issues/70513

[2020-11-03 00:00] elasticmachine commented on #82388
Pinging @elastic/apm-ui (Team:apm)

[2020-11-03 00:02] sqren commented on #70513
Fyi: Created an issue to track and discuss which APM components would be useful as embeddables: https://github.com/elastic/kibana/issues/70513

[2020-11-03 00:02] TinaHeiligers commented on #81944
@YulNaumenko the [`actions`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/actions/server/usage/actions_usage_collector.ts#L27) usage collector should be using [`getLatestTaskState`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/actions/server/usage/actions_usage_collector.ts#L61) to return if the collector `isReady` or not. The same goes for the `alerts` usage collec

[2020-11-03 00:20] cjcenizal opened #82389 "Console test coverage audit"
### UI behavior

#### Help

- [ ] Help flyout appears by default
- [ ] Help flyout is dismissed when "Dismiss" button is clicked
- [ ] "Help" button opens help flyout

#### History

- [ ] History is loaded from local storage
- [ ] History menu opens and closes
- [ ] Recent requests are surfaced in history
- [ ] Hovering over a history item previews the request
- [ ] Double-clicking a history item

[2020-11-03 00:20] elasticmachine commented on #82389
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-03 02:10] #81942 closed

[2020-11-03 02:25] alex-fedotyev opened #82397 "[APM] Service overview: Research service instances visualization using scatter plot chart"
### Summary
Related design issue [elastic/apm#300](https://github.com/elastic/apm/issues/300) and part of [meta issue](https://github.com/elastic/kibana/issues/81135).

The service overview introduces a new view for the selected service that encompasses a lot of the service data from existing views like metrics, transactions, and errors. The primary goal of the view is to aid in troubleshooting a

[2020-11-03 02:25] elasticmachine commented on #82397
Pinging @elastic/apm-ui (Team:apm)

[2020-11-03 03:12] elasticmachine commented on #82227
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-03 05:46] kibanamachine commented on #82035
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9372/)

[2020-11-03 05:49] WuGUOJ commented on #53829
I have the same problem, I try install some lib and solve this problem by the link. https://www.elastic.co/guide/en/kibana/current/reporting-troubleshooting.html#reporting-troubleshooting-system-dependencies

[2020-11-03 06:10] dikshachauhan-qasource commented on #82259
Hi @EricDavisX

Thank you for the feedback.

We have updated the required testcase for this change. Testcase link: https://elastic.testrail.io/index.php?/cases/view/34219

Also, we will create a new testcase whenever this enhancement/feature gets done. Till then this ticket will remain open as per above comment https://github.com/elastic/kibana/issues/82259#issuecomment-720532573

[2020-11-03 08:40] flash1293 commented on #82243
Good point @wylieconlon - I agree it's probably a better approach to move away from the Lens-specific index pattern type and just use `data` index pattern objects directly. I will change the description to reflect this.

[2020-11-03 08:44] pgayvallet opened #82403 "SavedObjects management: importing an invalid NDJSON files causes the server to crash."
From the SO management section, importing an `.ndjson` file in an invalid format causes the Kibana server to just crash.

For example, a file named `import.ndjson` with this content: `This is not a ndjson file` causes the following stack trace when imported:

[code]

[2020-11-03 08:44] elasticmachine commented on #82403
Pinging @elastic/kibana-platform (Team:Platform)

[2020-11-03 08:49] sqren commented on #81147
@wylieconlon

This is broadly how I see this being implemented:

1. Time range 1 is derived from the time range 2 (specified by the user)
2. Time series for both time ranges are retrieved from ES
3. x-axis values for time series 1 are replaced with x-axis values for time series 2 (they now have the same date range but different y-axis values)
4. A custom tooltip uses the original timestamps (repla

[2020-11-03 09:02] milkfinch commented on #82153
Hi,

One note here is that the same dashboard is loading very fast in Kibana 6.8.3 and in the bulk_get the request JSON has the index pattern ids only once and not as many times as many panels are on the dashboard.

The behavior in 6.8.3:
- you have 3 panels with 2 indexA and 3 indexB patterns
- bulk_get sends only one indexA and one indexB IDs in the request JSON
The behavior in 7.9.3:
- you have

[2020-11-03 09:08] ruflin commented on #81947
Overall SGTM. Do we need some designs for this? @ph

For the navigation to installed / not installed package: I think we need to dig deeper here on what the expected flow is. Lets say you have Apache 1.2.3 installed and Apache 1.3.0 is out. You click on Apache from the Available packages, I guess you should at least see now that you can update to it? Also there is some work ongoing around integrat

[2020-11-03 09:11] katrin-freihofner commented on #28492
As I don't see this on our short-term roadmap I'm going to close this issue.

[2020-11-03 09:37] rudolf commented on #81560
Also worth mentioning that even if we increase the limit, this limit is not per object but per import file. So even if we increase the limit, if a user makes 3 copies of the default template they will again be unable to import their NDJSON file.

[2020-11-03 09:43] #79502 closed

[2020-11-03 09:43] pgayvallet opened #82408 "SavedObjects management: add compressed/gzip support to import / export"
Currently, we are exporting files in a raw, uncompressed `.ndjson` format. This

We should
- Export files in a compressed format (gzip or other, TBD). I think it should be done by default, but maybe we may want to add an option to the UI when performing the export to allow users to choose between compressed/uncompressed file.
- Add support to import files in this compressed format (in addition, no

[2020-11-03 09:43] elasticmachine commented on #82408
Pinging @elastic/kibana-platform (Team:Platform)

[2020-11-03 10:34] timroes commented on #80947
Closing as duplicate of https://github.com/elastic/kibana/issues/34690

[2020-11-03 10:34] #80947 closed

[2020-11-03 10:39] timroes commented on #78828
Closing this for now, since my assumption would also be that it's the issue fixed in 7.9.1 Please let us know if this still appears once upgraded. We'll happily reopen this issue again.

[2020-11-03 10:39] #78828 closed

[2020-11-03 10:39] deepikakeshav-qasource opened #82411 "[Security Solution] Global KQL search bar is not displaying for events on hosts page"
**Describe the bug**
Global KQL search bar, Date picker is not displaying for events on hosts page

**Build Details:**
Elastic-Cloud : 7.10.0 BC4
Commit: 3f7bbe02a2f08f0ad1c7f5a9b35235a4aa066a32
Build: 35887
Artifacts: https://staging.elastic.co/7.10.0-c650b297/summary-7.10.0.html

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.10.0 environment should be deployed
2. Auditbeat should

[2020-11-03 10:39] elasticmachine commented on #23263
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-11-03 10:40] timroes commented on #71024
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2020-11-03 10:40] #71024 closed

[2020-11-03 10:40] deepikakeshav-qasource commented on #82411
@manishgupta-qasource Please review

[2020-11-03 10:40] timroes commented on #70405
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2020-11-03 10:40] #70405 closed

[2020-11-03 11:09] gmmorris opened #82412 "There's no framework level UI for defining conditions for Action Groups"
part of https://github.com/elastic/kibana/issues/64077

If an Alert Type wants the user to provide conditions for bucketing certain detections into specific Action Groups they ae forced to implement this themselves.

We want a framework level implementation that standardises this ability.

<img width="784" alt="Screenshot 2020-11-03 at 11 08 09" src="https://user-images.githubusercontent.com/38620

[2020-11-03 11:09] elasticmachine commented on #82412
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-03 11:14] gingerwizard opened #82413 "Manual APM instrumentation of the _search and _async_search endpoints to capture request body"
Since 7.9 Kibana has been instrumented with the APM agent to assist with [issue diagnostics](https://www.elastic.co/guide/en/kibana/7.9/kibana-debugging.html).

Whilst requests to Elasticsearch are captured, the request body is only captured in cases where the [older](https://www.npmjs.com/package/elasticsearch) ES client is used. The more [recent client ](https://www.npmjs.com/package/@elastic/el

[2020-11-03 11:24] drewpost commented on #80133
Labels: Browser, HTTP Ping, TCP Ping, ICMP Ping

[2020-11-03 11:26] flash1293 commented on #81058
This is currently not fixable in a nice way due to an EUI limitation: https://github.com/elastic/eui/issues/4216

[2020-11-03 11:35] ppisljar opened #82414 "ability to limit timepicker range"
**Describe the feature:**

In order to prevent users from creating very expensive queries lets introduce a new ui setting `max_timepicker_range` which if set and user tries to select a range larger that the one in the setting we would show an error (notification, or inside timepicker itself) saying that the range is larger than the maximum allowed,

**Describe a specific use case for the feature:*

[2020-11-03 11:35] elasticmachine commented on #82414
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-03 11:35] manishgupta-qasource commented on #82411
Reviewed & Assigned to @MadameSheema

[2020-11-03 11:49] rudolf commented on #81904
Yes. This will definitely remove existing functionality that we know users are currently relying on and as such needs to be carefully considered. We don't know how many users use this functionality, so #81907 could shed some light on the impact. I think that's the intention, but @jportner could we update the issue to make it clear that this is blocked blocked until we can collect more telemetry?

[2020-11-03 11:51] rudolf commented on #81904
This could also potentially impact https://github.com/elastic/kibana/issues/2310 (use-case is explained in more detail in https://github.com/elastic/cloud-on-k8s/issues/3598).

[2020-11-03 11:58] jgowdyelastic opened #82415 "[ML] [Meta] Spaces follow up tasks"
- [x] API tests https://github.com/elastic/kibana/issues/82415#issuecomment-729633900 - #84789 (7.11)
- [x] Saved objects initialisation, assign Logs jobs to correct space. Check group name and parse job id to get space. https://github.com/elastic/kibana/pull/83127 (7.11)
- [x] Deleting jobs management. When deleting a job, it should untag from current space. until job has only one space left.
  -

[2020-11-03 11:58] elasticmachine commented on #82415
Pinging @elastic/ml-ui (:ml)

[2020-11-03 12:05] mikecote commented on #81771
I'm good closing this and waiting until it happens again 👍 Closing for now

[2020-11-03 12:05] #81771 closed

[2020-11-03 12:05] mikecote commented on #81772
I'm good closing this and waiting until it happens again 👍 Closing for now

[2020-11-03 12:05] #81772 closed

[2020-11-03 12:08] mikecote commented on #81591
Issue was split into two parts:
- Combining the audit into https://github.com/elastic/kibana/issues/56478
- Documentation portion into https://github.com/elastic/kibana/issues/81532

[2020-11-03 12:08] #81591 closed

[2020-11-03 12:18] afharo commented on #81645
I love this proposal! Thank you Tina for creating this issue so we can tackle it! I sincerely think that we need to provide an easy way for other plugins to count events.

As far as I understand, I can see the server-side telemetry in 2 ways:
1. The current situation: The plugin registers the `fetch` method that is called when the telemetry payload is about to be sent to the server. Usually, the i

[2020-11-03 12:26] #79328 closed

[2020-11-03 12:29] mbondyra opened #82417 "[Lens] Dimension Panel: Keyboard reorder doesn't update accessibility focus"
To be solved after merging https://github.com/elastic/kibana/pull/80547
1. Enable VoiceOver functionality on MacBook.
2. Go to lens table visualization with at least 2 fields in metric group.
3. Tab to second element of the metric group
4. Press space to select element
5. Arrow Up to move element
6. Press space to confirm

Expected behavior - accessibility focus will move to first, reordered eleme

[2020-11-03 12:29] elasticmachine commented on #82417
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 12:33] restrry commented on #82020
@kobelb should we add https://github.com/elastic/kibana/issues/82086 to the Task list?

[2020-11-03 12:39] vigneshshanmugam commented on #81984
There is a PR already to fix this issue - https://github.com/elastic/synthetics/pull/122

[2020-11-03 12:43] pgayvallet commented on #81846
Another subtask of https://github.com/elastic/kibana/issues/74571 regarding the navigational search integration is `Add tags to search results`. I wonder where the user should be redirected when selecting a `tag` from the search though. @alexfrancoeur ?

[2020-11-03 12:43] akosiaris opened #82418 "Moving average help link points to elasticsearch search moving average, whereas the implementation uses moving functions"
**Kibana version:**

7.9.2 at least, probably multiple 7.x versions

**Elasticsearch version:**

7.9.2

**Server OS version:**

Irrelevant

**Browser version:**

Irrelevant

**Browser OS version:**

Irrelevant

**Original install method (e.g. download page, yum, from source, etc.):**

kibana:7.9.2 docker image from dockerhub

**Describe the bug:**

The doc for the Moving Average aggregation leads

[2020-11-03 12:44] Dosant opened #82419 "[Search][State Management] Restoring background session and back button"
Part of https://github.com/elastic/kibana/issues/61738

In scope of https://github.com/elastic/kibana/pull/81633, https://github.com/elastic/kibana/pull/81489 we implemented initial `?searchSessionId` query parameter support in discover and dashboard.

Initial implementation is simple and in terms of when we remove this query parameter this works in following way:

Current behavior:

1. Land into

[2020-11-03 12:44] elasticmachine commented on #82419
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-03 12:59] lizozom commented on #76307
@timroes @AlonaNadler
Loading the documents themselves should be very fast, shouldn't it, as it's only a small chunk of documents each time?

[2020-11-03 13:01] elasticmachine commented on #82418
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 13:08] MadameSheema opened #82421 "[Security Solution] The data displayed on some histogram axis of hosts pages is overlaid"
**Describe the bug:**
-  The data displayed on some histogram axis of hosts pages is overlaid

**Kibana/Elasticsearch Stack version:**
- 7.10-BC4

**Initial status:**
- To have an instance with data populated

**Steps to reproduce:**
1. Navigate to hosts pages

**Current behavior:**
- The data on the axis is overlaid

<img width="1616" alt="Screenshot 2020-11-03 at 14 05 15" src="https://user-imag

[2020-11-03 13:15] pgayvallet commented on #81009
I'll let @nchaulet answer that, but I think this is required for a feature they are planning for 7.11

[2020-11-03 13:17] MadameSheema commented on #81284
Thanks for the fix @banderror!!

When a bug is fixed we label it with the `fixed` label and we keep it open until we can validate it on the next release process ;)

@spong @peluja1012 as this is already fixed what to do you think about targeting 7.10.1 as well?

[2020-11-03 13:19] nchaulet opened #82426 "[Fleet] Make Agent Policy inputs ids unique"
## Description

During the effort of reporting agent status, we found that input ids are not unique, we plan to use input id to report policy status, so we should probably fix this.

Current Policy
<img width="764" alt="Screen Shot 2020-11-03 at 8 12 01 AM" src="https://user-images.githubusercontent.com/1336873/97989499-9ff2c500-1dac-11eb-8850-d6eda4532aa5.png">

## Possible solution

We could pre

[2020-11-03 13:19] elasticmachine commented on #82426
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 13:22] #80511 closed

[2020-11-03 13:29] #80164 closed

[2020-11-03 13:35] mshustov opened #82431 "Deprecate legacy logging configuration in favour of new logging system"
The new logging system uses a different configuration model https://github.com/elastic/kibana/blob/master/src/core/server/logging/README.mdx which is already available to the end-users but not documented nor marked as experimental. Several blockers need to be addressed https://github.com/elastic/kibana/issues/58261 before we consider the new logging system to have feature parity with the legacy ve

[2020-11-03 13:35] elasticmachine commented on #82431
Pinging @elastic/kibana-platform (Team:Platform)

[2020-11-03 13:40] afharo opened #82432 "[Breaking change] Move `xpack.telemetry.*` config to `telemetry.*`"
## Change description

**Which release will ship the breaking change?**

8.0

**Describe the change. How will it manifest to users?**

The configuration parameters prefixed by `xpack.telemetry` in the `kibana.yml` file will make the config validation to be rejected and Kibana will crash.

In the logs, it will show:

[code]

**How many users will be affected?**

The deprecation warning has been the

[2020-11-03 13:41] nchaulet commented on #81009
Yes we would like to have this for 7.11 it will allow us a better filtering of Fleet agents

[2020-11-03 13:44] kevinlog commented on #82426
We'll need to access the package policy ID in some predictable way, so if they're prefixed, we could strip that and use it to make changes to the policy.  Will this change the policy APIs in Ingest?  Will we now make updates using the new input ID with the prefix?

@paul-tavares @parkiino can you also comment on the above?  Any other ways you'll see it impact our UI?

[2020-11-03 13:46] nreese opened #82433 "[Maps] Use monacco editor in the inspector request map style panel"
We should use Monaco as a read-only editor instead of `EuiCodeBlock` to present the request and response in the inspector requests panel, since `EuiCodeBlock` has very poor performance for larger responses and can easily freeze your page for some time (also it has no collapsing, which might be useful there).

https://github.com/elastic/kibana/pull/82272 replaces editor in inspector panel. We need

[2020-11-03 13:46] elasticmachine commented on #82433
Pinging @elastic/kibana-gis (Team:Geo)

[2020-11-03 13:48] neptunian commented on #81947
Yes, using nginx as an example you are taken to the version you have installed (0.2.4 installed, 0.3.5 latest version) and there is a little icon with a tooltip:
<img width="1215" alt="Screen Shot 2020-11-03 at 8 38 57 AM" src="https://user-images.githubusercontent.com/1676003/97991974-16dd8d00-1db0-11eb-83a7-efa8b470c317.png">
Then they would have to know to navigate to the Settings tab, and clic

[2020-11-03 13:48] nreese opened #82434 "[Maps] add support for SavedObjects tagging"
https://github.com/elastic/kibana/pull/79096 rolled out saved object tagging for visualize and dashboard. We need to update Maps application to include tags on maps listing page and when saving maps

[2020-11-03 13:48] elasticmachine commented on #82434
Pinging @elastic/kibana-gis (Team:Geo)

[2020-11-03 13:52] pmuellr opened #82435 "[alerts] add doc on the event log ILM policy"
A recent post to the community Slack channel asked about cleaning up the event log indices:

my response

Stack Management -> Index Lifecycle Policies -> kibana-event-log-policy

We should add some docs about this, I don't think we have any currently.  If I had to pick a page to put it on, I'd put it here:

https://www.elastic.co/guide/en/kibana/current/alerting-scale-performance.html

I do kind o

[2020-11-03 13:52] elasticmachine commented on #82435
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-03 13:54] shahzad31 commented on #80133
![image](https://user-images.githubusercontent.com/3505601/97993318-32628b00-1de4-11eb-9783-2565f2bb6fca.png)

Regarding Status column, it says Checked 09:45, i believe we are displaying relative time here which is more useful instead of displaying when check happened , it's more useful, how long ago check happened.

like 15s ago or 15m ago, so i am going to keep that, let me know if you have any

[2020-11-03 13:54] chrisronline commented on #81944
Sure, but we don't have to settle for that and I don't know why we would. We have a way to ensure the telemetry data can always be consistent. My guess is that the authors of those collectors aren't aware that a "miss" might mean there is no telemetry data for that user the entire day.

[2020-11-03 13:55] shahzad31 commented on #80133
Also another thing regarding status column, i think it will more friendly for users on smaller devices, if we can display time alongside badge and display "in 2/2 locations" info in next line, please let me know if you have objections to that as well.

![image](https://user-images.githubusercontent.com/3505601/97993605-96854f00-1de4-11eb-8805-4057f98a97f0.png)

[2020-11-03 13:56] shahzad31 commented on #80133
@katrin-freihofner can we also display those labels as badges instead of simple text alongside text name?  Browser, HTTP Ping, TCP Ping, ICMP Ping

[2020-11-03 13:57] ymao1 commented on #82275
A few questions:

1. Currently, if an alert instance is muted, the actions don't run when the instance becomes active. The logic is skipped altogether so we won't know which action group would have run. Do we want to change that so that we do know what would have been run without actually running the action? Or skip showing the action group for muted alert instances?

2. Will there ever be a case

[2020-11-03 13:58] #53467 closed

[2020-11-03 14:01] vigneshshanmugam commented on #82413
@elastic/kibana-platform Team, can someone help here with adding the ES queries for both `_search` and `async_search` calls in the kibana ES client code? As we don't have support for the new ES client, having the query in the context could work as a temporary solution.

[2020-11-03 14:03] neptunian commented on #81995
In my previous comment, I had it a bit backward.  We do send the user to the version they have installed, however to get the latest version available we do still need to fetch for the latest packages because in the list, it was desired that we use the latest version's logo (probably will not change from version to version much) but send them to the version they have installed. We were also going t

[2020-11-03 14:08] nchaulet commented on #82426
Yes the package policy API be impacted and only accept the package policy Id as identifier `/package-policies/{packagePolicyId}`
I guess we can have some "magic" on our side to support both package policy id and input id but if we can avoid that.

[2020-11-03 14:16] mikecote commented on #82275
My guess would be the former where we do track in some way while not executing the actions. From what I recall, this is the primary difference between muting and disabling  (we still log and track what group the alert would be part of yet don't execute the actions). Though I'm sure @pmuellr has put more thought on this than I have.

Not at this time, we have safety-guards in place to prevent that

[2020-11-03 14:19] LeeDr commented on #80765
@chandlerprall should Kibana 7.10.0 be updated to EUI 29.3.1 to get this fix?

FYI, I see the same problem in the new Navigational Search.

[2020-11-03 14:19] ryankeairns commented on #81846
Re: clicking, I didn't invision tags as being search results themselves, but rather used as (non-clickable) metadata or as a search syntax key/term. If, in the future, we have an advanced results page, then I could see a tag result taking you there to a filtered list of 'stuff'.

[2020-11-03 14:30] stratoula opened #82438 "[TSVB] Visualize runtime fields"
**Describe the feature:**
With the current implementation of TSVB, index patterns are not supported. This creates some limitations, for example, if we want to support **runtime fields** and save them to index patterns and not visualizations.

TSVB uses the **low-level Search API** and
- if the user doesn't specify an index pattern, loads the default
- user can specify multiple index patterns or al

[2020-11-03 14:30] elasticmachine commented on #82438
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 14:30] stratoula commented on #82438
@alexwizp I would love your thoughts on that.

[2020-11-03 14:32] alexfrancoeur commented on #81846
I was thinking of supporting tags in two ways
1. Visual identifiers - this SO has tag x, y and z
2. Additional filtering capabilities when we have more advanced syntax. `type:dashboard and tag:alex`

I had been thinking we can focus on the first item first, but it seems like there are some design concerns. @ryankeairns @MichaelMarcialis do we think this would be too busy? I was aiming for consiste

[2020-11-03 14:34] #81636 closed

[2020-11-03 14:35] sqren opened #82439 "[APM] Replace average with median (50th percentile)"
We currently mix percentiles and average numbers. We can simplify the UX and implementation by using median (50th percentile) instead of average and thereby using percentiles everywhere (50th, 95th and 99th).

*Example: In this screen we use "Metric" to refer to Avg, 95th and 99th percentile. We can instead refer to this as "Percentile".:*
![image.png](https://zube.io/files/elastic/b253b0d5d8caf06

[2020-11-03 14:35] alexfrancoeur commented on #81980
Thank you and great work getting tags merged! If I had to prioritize these post-mvp improvements, it'd look something like this:

1. Bulk actions on tags (https://github.com/elastic/kibana/issues/81970)
  * @ryankeairns @MichaelMarcialis @pgayvallet we should touch base on what the ideal experience is, and what's feasible for 7.11
2. Usage analytics (https://github.com/elastic/kibana/issues/81847)

[2020-11-03 14:35] elasticmachine commented on #82439
Pinging @elastic/apm-ui (Team:apm)

[2020-11-03 14:45] formgeist commented on #82439
Average and median (50th percentile) are two very different things. Just so I understand the issue, where calling it "metric" where you want to consistently make it percentiles only?

[2020-11-03 14:46] yuliacech opened #82440 "Navigation issues with dollar sign in names"
**Kibana version:**
Current master [branch](https://github.com/elastic/kibana/tree/58a5b1f5b99ccd85e082eeb9ac6b386c34943419)

**Describe the bug:**
Navigation doesn't work correctly for resources with names containing dollar sign with other special characters or containing `%25` sequence. The issue occurs in plugins:
- ILM
- Index Management

The issue occurs because `history` package (`react-rout

[2020-11-03 14:47] kibanamachine commented on #82035
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9381/)

[2020-11-03 14:47] elasticmachine commented on #82440
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-03 14:50] myasonik commented on #81846
Maybe this gets into the realm of more UI configuration than we typically support, but it would be kind of neat if users could opt-in/out of showing the tagging. I imagine it'll be more important to some users rather than others.

[2020-11-03 14:55] TinaHeiligers commented on #81944
Gotcha! I'll update the README and change the example code to make it clearer.

[2020-11-03 14:56] #82418 closed

[2020-11-03 14:57] tylersmalley commented on #82035
Skipped

master: 19ab542c4f757820e6d4bb0e4a4b8145c25f0537
7.x: 93917fe50a01db483c1feb172ad2537dfc389537

[2020-11-03 14:57] nchaulet commented on #81617
@ph yes it's related to observability having correct ids for stream and inputs there is also this issue to fix for input id https://github.com/elastic/kibana/issues/82426

[2020-11-03 15:24] LeeDr commented on #80765
Actually, #81227 IS the PR which updated Kibana to EUI 29.3.1, but it didn't fix the problem.  Is that why this issue is still open?

[2020-11-03 15:28] kibanamachine opened #82445 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_doc_table·ts - discover app discover doc table add and remove columns should remove columns from the table"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/9284/)

[2020-11-03 15:29] dgieselaar commented on #81454
As it stands, span (service map edge) metrics are not sufficient to build a service map. Discussion continues in https://github.com/elastic/apm/issues/364.

[2020-11-03 15:29] #81454 closed

[2020-11-03 15:29] dgieselaar commented on #75366
Needs https://github.com/elastic/apm/issues/364.

[2020-11-03 15:43] #36294 closed

[2020-11-03 15:50] neptunian commented on #81110
I'm not sure at what point during the package installation process we want to update the storage index, but if possible, it seems like it'd be easiest to add it to the storage index only if installation has successfully completed.  Then during rollback we can perhaps use the storage index if the previous version is not available in the registry.  If we update the storage index as we are installing

[2020-11-03 15:51] alexfrancoeur commented on #24906
Linking to a similar concept, but not an index level. Instead, as an advanced setting per space: https://github.com/elastic/kibana/issues/82414

[2020-11-03 16:01] F-PMOR commented on #3189
+1

[2020-11-03 16:04] AlonaNadler commented on #76307
I think the main advantage in having partial results in Discover is having it for the results of the raw documents (in the red square):
![image](https://user-images.githubusercontent.com/32550316/98009737-be57c100-1daa-11eb-986e-180a1c3483e0.png)

Mainly since it will allow users who have long queries to see intermediate results while they wait instead of waiting for the query to complete.
Partial

[2020-11-03 16:05] scinconovetta commented on #82149
@spalger I managed to get my local Kibana instance to setup with the 7.10 branch and run the `plugin-helpers` script. The plugin built, but Kibana fails when loading the UI due to:
`react_devtools_backend.js:2450 TypeError: Cannot read property 'template' of undefined`
^ that's coming from the following line in my compiled plugin:
`var doTemplate = Object(external_kbnSharedDeps_Lodash_["template"]

[2020-11-03 16:12] arisonl opened #82449 "Onboard Saved Objects tags"
The saved objects tagging feature has now been merged (https://github.com/elastic/kibana/pull/79096). This will enable users to tag saved objects for organisation purposes in a multi-space manner (tags are SOs themselves). This issue is about migrating the current alert tags to the new SO tagging capability.

[2020-11-03 16:12] elasticmachine commented on #82449
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-03 16:20] tylersmalley commented on #81504
@mistic and I have also discussed ensuring that the equivelant of the pre-commit hook is run early on CI and the error message to include information on registering the pre-commit hook.

Another thought on allowing the pre-commit hook to be more owned by the developer and not overwritten is that it would allow them to also add things like running Jest with `--onlyChanged` if they choose to have th

[2020-11-03 16:20] spalger commented on #82149
Are there earlier errors maybe? Sounds like the `kbn-ui-shared-deps` script didn't build or load correctly. Are you fully bootstrapped in the Kibana repo? Is that the only error in the console (besides the expected csfr errors)?

Sounds like a bug, I'll get a fix in for that

[2020-11-03 16:21] #55187 closed

[2020-11-03 16:21] #55188 closed

[2020-11-03 16:21] #75193 closed

[2020-11-03 16:21] #58838 closed

[2020-11-03 16:21] kobelb commented on #82020
@restrry yup, good call. Will do so now. I'll be creating GitHub issues for the other known situations where import/export doesn't work and linking them to the problems they need solved to be able to use it.

[2020-11-03 16:24] scinconovetta commented on #82149
I found the issue with `kbn-ui-shared-deps` in v7.9.3: it doesn't have lodash listed in `packages\kbn-ui-shared-deps\index.js`

So I built for v7.9.3 from 7.10, where 7.10 has lodash included in `kbn-ui-shared-deps`.

[2020-11-03 16:28] spalger commented on #82149
Ah, okay, that makes sense... hmm... thinking through options...

[2020-11-03 16:30] ryankeairns commented on #81846
Yeah, we can do some mockups and see where it goes.

[2020-11-03 16:33] kertal commented on #81559
I thing this was fixed in 7.10 https://github.com/elastic/kibana/pull/76986 ... but will double check for this use case

[2020-11-03 16:34] elasticmachine commented on #82445
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 16:35] spalger commented on #82149
Sorry about this @scinconovetta, like I said we're kind of in the middle of a transition and really hope that folk will just be able to use 7.10 once that's released. In the meantime if you setup a 7.9 checkout too, copy or symlink you plugin into the 7.9 checkout, then you should be able to run `node scripts/build_kibana_platform_plugins --dist` and get the `target/public` directory populated wit

[2020-11-03 16:35] clintandrewhall commented on #81560
@rudolf Would you consider this a duplicate of https://github.com/elastic/kibana/issues/66129 ?

[2020-11-03 16:37] chrisronline commented on #81944
FWIW, we've had this ability for some time now and there is some history in the original PR: https://github.com/elastic/kibana/pull/36153

[2020-11-03 16:37] skh commented on #81995
@neptunian Totally agreed, I don't see a reason not to fetch the latest versions from the registry.

[2020-11-03 16:38] mdefazio commented on #81004
Updated screenshot in description with tweaked UI and copy

[2020-11-03 16:39] timroes commented on #76307
Clarified with Liza, that "Top hits" in this case was indeed referring to the "top search results" we're using and not the "top hits" aggregation. Since Elasticsearch does not support partial results on those - and as confirmed by Jim also this query will be super fast once we split it up - there is no place in Discover partial results would still make sense. I am closing this.

If we have the fee

[2020-11-03 16:40] flash1293 opened #82455 "[Lens] Dimension flyout reopens when closed by click outside while filter/range popover is open"
**Kibana version:** master

**Describe the bug:**

The dimension flyout reopens when closed by either click outside or by header click if a filter popover is currently open

**Steps to reproduce:**
1. Go to Lens
2. Add Intervals operation
3. Switch to custom intervals
4. Open popover of first range
5. Click outside
6. Flyout closes and immediately opens again

**Expected behavior:**
Flyout stays c

[2020-11-03 16:40] elasticmachine commented on #82455
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 16:41] yctercero commented on #81284
Sorry @MadameSheema I went through the merge process with @banderror  and it seems to have closed the ticket automatically on merge because it was linked in the PR. Wonder if there's a setting to prevent automatic closure of tickets on merge.

[2020-11-03 16:44] myasonik opened #82457 "(Accessibility) Filter bar tags need focus state"
Delete button on tags has no focus state.

The `aria-label` could also be improved to instead of simply reading delete if it would also say what it was deleting, as in `aria-label=`Delete ${tag.name}`.

Can either copy the styles from EUI ([badges with onclick events](https://elastic.github.io/eui/#/display/badge#badge-with-onclick-events)) or we should probably actually just use EUI...

[2020-11-03 16:44] elasticmachine commented on #82457
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2020-11-03 16:44] elasticmachine commented on #82457
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-11-03 16:44] flash1293 opened #82458 "Router: Add option to check unknown payload for prototype pollution"
It's required to define a validation schema for each route added via core router, with an option to allow unknown keys. In theory it makes sense for all routes to use strict validation schemes. But that's not always possible (e.g. when piping through Elasticsearch dsl) - for these cases there's no protection at all at the moment for prototype pollution. It would be helpful to introduce a new optio

[2020-11-03 16:44] elasticmachine commented on #82458
Pinging @elastic/kibana-platform (Team:Platform)

[2020-11-03 16:46] thomasneirynck commented on #82194
This is currently blocked by not all dependencies having their ts-project files defined. notably _data_  and _chart_ plugins for now.

[2020-11-03 16:49] elasticmachine commented on #81674
Pinging @elastic/kibana-security (Team:Security)

[2020-11-03 16:49] elasticmachine commented on #81680
Pinging @elastic/kibana-security (Team:Security)

[2020-11-03 16:50] scinconovetta commented on #82149
@spalger no worries. That was my backup plan, too, if there was no "official" way to get it working. I appreciate your help!

[2020-11-03 16:52] ryankeairns commented on #81980
Regarding 1. - Michael will be doing some mockup updates, and I'll set up a meeting for us to catch up next week when Michail is back.

[2020-11-03 16:52] timroes commented on #55975
Liza has done some measures of different queries (see [this comment](https://github.com/elastic/kibana/issues/46054#issuecomment-708968847)) which gives us a good understanding of HOW FAST actually we'll get by not using the document query anymore to load the exact hit time.

We can improve the performance potentially 10 times (look at the "LATEST w/totals, w/sort" vs "LATEST wo/total, w/sort" col

[2020-11-03 16:56] tsullivan commented on #61741
@lizozom @lukasolson @mdefazio

Question:
When the user cancels a session, should the status change to "Cancelled"? If so, what color would the badge show up as and how would other things in the row look?

[2020-11-03 16:58] pmuellr commented on #82275
I agree.  Would be super nice to know what _would_ be getting triggered, during a mute.  No idea how we might make this happen tho.  I think an `active-instance` event log record should be available, which should eventually have the action group in there (doesn't today).  That doesn't sound like fun though, looking for those ...  Another thought would be expecting this info in the alert state inst

[2020-11-03 17:03] hbharding commented on #78844
Whoops sorry about that. Just updated my comment above - https://github.com/elastic/kibana/issues/77189 is the correct issue I meant to link to

[2020-11-03 17:05] mdefazio commented on #61741
Am I able to restart a cancelled session? There are no other actions I can perform on this session once I cancel it, correct? I will update the mockups to include this scenario (and which badge/color should show).

[2020-11-03 17:06] AlonaNadler commented on #29786
we have discussed it and decided that given the low usage of Timelion application we will not be migrating old objects. Users can still use the Timelion chart type

[2020-11-03 17:06] #29786 closed

[2020-11-03 17:16] AlonaNadler commented on #76307
@elastic-jb @lizozom can you open an elasticsearch issue on the what Kibana needs to support intermediate results in discover results? and link it here

[2020-11-03 17:18] pmuellr commented on #82044
This may be a DUP of issue https://github.com/elastic/kibana/issues/75601, haven't looked closely

[2020-11-03 17:23] ph commented on #82298
Is there any reason not to go the ES route directly?

[2020-11-03 17:24] spalger opened #82466 "[kbn/plugin-helpers] Building Kibana Platform plugins for 7.9"
The plugin helpers only support legacy plugins until 7.10, and only support KP plugins starting in 7.10. This has caused issues for a number of plugin developers who are trying to build their plugins for 7.9. If 7.10 was released we would just ask users to upgrade to 7.10 and use the tools there, but we still probably need a solution for building 7.9 plugins.

I've been suggesting to folks that th

[2020-11-03 17:24] elasticmachine commented on #82466
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-03 17:25] spalger commented on #82149
Opened https://github.com/elastic/kibana/issues/82466 to create a temporary resource for other plugin authors trying to build plugins for 7.7-7.9

[2020-11-03 17:26] legrego opened #82467 "[Breaking change] Prevent disabling the spaces plugin"
# Change description

We would like to remove the ability to disable the Spaces plugin in 8.0 (`xpack.spaces.enabled`)

**Which release will ship the breaking change?**

8.0

**Describe the change. How will it manifest to users?**

Users who have explicitly disabled Spaces via `xpack.spaces.enabled` will no longer be able to do so.

**How many users will be affected?**

Telemetry indicates that th

[2020-11-03 17:27] elasticmachine commented on #82467
Pinging @elastic/kibana-security (Team:Security)

[2020-11-03 17:27] elasticmachine commented on #82467
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-03 17:32] hbharding opened #82470 "[Logs UI] Fields with arrays values cause validation error when filter is applied"
Applying a filter with a field that has an array of values causes an invalid search query. I'm not sure how we want to solve this, but one solution could be:

if `host.ip` has values `ip.1`, `ip.2`, `ip.3`, etc.
a valid query could be `host.ip:ip.1 and host.ip:ip.2 and host.ip:3`

![Kapture 2020-11-03 at 12 09 53](https://user-images.githubusercontent.com/847805/98017644-8a41c780-1dcd-11eb-8805-25

[2020-11-03 17:32] elasticmachine commented on #82470
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-11-03 17:33] erik-bizzdo commented on #82388
Our use case is that we have a logs dashboard with histograms and quick filters for env, service and loglevel. On that dashboard we show a stored query based on selected filters. The query shows columns containing trace.id and transaction.id.
Those columns have a kibana pattern that transform the value to an URL pointing towards the trace page inside the APM app with the {{value}} as query param:

[2020-11-03 17:34] hbharding commented on #82470
Also, I believe this is also an issue with values that are objects. I'm not sure how we'd want to solve for these scenarios. Perhaps we just don't include the filter icon button?

[2020-11-03 17:34] thomasneirynck commented on #78314
removing 7.10 label for now. unlikely this will make it.

[2020-11-03 17:41] nnamdifrankie commented on #82298
The change will impact Endpoint Agent and Fleet for now?

[2020-11-03 18:25] pmuellr commented on #82275
Ya, it does look like _maybe_ it's in the alert state today.  This is from an alert with one active instance:

[code]

I'm _think_ `lastScheduledActions` implies "this is the state the last time the executor ran", vs "here's a list of every instance (eg, `host-1`) and the info about the last time it scheduled an action".

But of course, we aren't scheduling an action, so this field likely isn't se

[2020-11-03 18:34] cnasikas commented on #64537
Closed as ServiceNow and Jira connectors are part of the `actions` plugin.

[2020-11-03 18:34] #64537 closed

[2020-11-03 18:35] pgayvallet commented on #72028
While working on SO Tagging, I came to very similar observations. Overall, the generic SO http apis are not really suited for domain-based endpoints. Most obvious reasons being:

- The fact that `create` and `update` APIs do not support validation, while being officially the 'good' way to interact with SOs caused our developers to move validation logic where they could, that being the client-side,

[2020-11-03 18:40] ph commented on #72610
going to close this as we move to the go server implementation.

[2020-11-03 18:40] #72610 closed

[2020-11-03 18:45] kobelb commented on #60647
Closing this, a more productive conversation is happening in https://github.com/elastic/kibana/issues/72028

[2020-11-03 18:45] #60647 closed

[2020-11-03 18:45] kibanamachine commented on #75127
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9385/)

[2020-11-03 18:52] kobelb commented on #72028
When saved-objects have references to each other, this can introduce some complexities because developers would have to use the specialized clients to `get` the related saved-objects. Perhaps this should be solved by the programmatic abstraction that allows that saved-object to be referenced in the first place?

[2020-11-03 18:53] tylersmalley opened #82474 "[build] Allow for crypto-policies to be upgrade in Docker"
We introduced pinning in https://github.com/elastic/kibana/pull/82475 to overcome a version incompatibility. We should revisit this when that has been resolved.

[2020-11-03 18:55] elasticmachine commented on #82474
Pinging @elastic/kibana-operations (Team:Operations)

[2020-11-03 18:56] ymao1 commented on #82275
I like the idea of adding a `lastActiveGroup` property to keep track of the actions that would have been executed if the alert hadn't been muted. That way we could still use `lastScheduledActions` to know when the last scheduled action execution was, which may be useful to know.

[2020-11-03 19:00] tylersmalley commented on #82445
Skipped

master: ca53f774bae7ced5d627fe2b8c5ae8a415d70294
7.x: cb5f5a87ad35287e0f0035c7e3b8f509ba61d522

[2020-11-03 19:03] paul-tavares opened #82478 "[Fleet] Support for UI Extension Points"
Part of: Integration Specific Policy Views Feature

### Description

Expose an interface to other Plugins _(that have a dependency on Fleet)_ that allows them to register a UI extension point which fleet will use when the associated page/view is rendered in the browser. Initial support will include:

- Support for Integration Details "Custom" view
This will be a new view that the Integration Detai

[2020-11-03 19:03] elasticmachine commented on #82478
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 19:03] thomasneirynck opened #82479 "[Maps] Enable distance filtering on geo_shape"
**Describe the feature:**

The circle-draw tool should also be activated if there are layers with a `geo_shape` field

**Describe a specific use case for the feature:**

the geo_distance filter is now supported for geo_shape in Elasticsearch.

[2020-11-03 19:03] elasticmachine commented on #82479
Pinging @elastic/kibana-gis (Team:Geo)

[2020-11-03 19:05] pgayvallet commented on #82027
Regarding tags: the `tag` SO type is currently `hidden: false, importableAndExportable: true` as we needed to be able to include tags when exporting objects assigned to them. The side effect being them listed in the SO management section, which we want to avoid.

Your suggestion would work, as long as `hidden` types will still be considered as non-visible from the SO management section. In that ca

[2020-11-03 19:06] thomasneirynck opened #82480 "[Maps] Enable geo_bounding_box queries for geo_shape fields"
Maps has two code-paths for bounding-box filters. one for geo_point (using `geo_bounding_box` ES-filter) and one for geo_shape (using a geo_shape filter).

ES supports `geo_bounding_box` now for ES-queries as well, so should align implementation.

[2020-11-03 19:06] elasticmachine commented on #82480
Pinging @elastic/kibana-gis (Team:Geo)

[2020-11-03 19:08] tylersmalley commented on #75127
This first re-occurred on the SavedObject tagging PR [here](https://github.com/elastic/kibana/pull/79096#issuecomment-720999324). Not sure if it's related (cc @pgayvallet)

![image](https://user-images.githubusercontent.com/40265/98029795-f1a74980-1dc4-11eb-9ead-65923dd9596b.png)

[2020-11-03 19:09] omarmarquez commented on #22897
Im seeing this same problem in Kibana 7.9.3 with filebeat indexes.
I have a cluster with around 3 months of daily filebeat-* indexes

request:
`
{
  "aggs": {},
  "size": 0,
  "stored_fields": [
    "*"
  ],
  "script_fields": {},
  "docvalue_fields": [
    {
      "field": "@timestamp",
      "format": "date_time"
    },
    {
      "field": "aws.cloudtrail.digest.end_time",
      "format": "date

[2020-11-03 19:11] pmuellr commented on #82275
Ya, we'll have to take a closer look at `lastScheduledActions`, and see if it's doing what it says on the tin (only noting last time it was scheduled, vs last time it was active) - it may already be doing what we want, and is just not named well.  But I'd guess that's not the case, and a set of peer objects for instances that are active but not scheduled would make sense.

[2020-11-03 19:12] paul-tavares opened #82482 "[Fleet] Refactor existing Agent 'Policies - Integration - Edit' view to support using a UI extension point if one is available"
Part of: Integration Specific Policy Views
Dependent on: https://github.com/elastic/kibana/issues/82478

## Description

Refactor the Edit Integration Policy View to check for if a registered UI extension point exists for the given Integration and if so, render that custom UI extension on the Edit form

In addition,
Remove the Endpoint specific exception from the Create Integration form:

https://

[2020-11-03 19:12] elasticmachine commented on #82482
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 19:14] pgayvallet commented on #75127
@tylersmalley seems unlikely, this test suite in running on OSS, where the tagging feature is totally disabled, so it should be a coincidence. Saving the issue though to keep an eye on it, thanks for the ping.

[2020-11-03 19:16] legrego commented on #82166
@afharo / @TinaHeiligers, thanks for your feedback on this issue. I can also verify that https://github.com/elastic/kibana/pull/76883 solves the issue locally for me.

I suspect that this is an edge case as well, and I'm comfortable with a fix landing in 7.10. It's really our only option anyway :)

Thanks again!

[2020-11-03 19:16] #82166 closed

[2020-11-03 19:17] paul-tavares opened #82483 "[Fleet] Move the 'Integrations - integration - Detail' view section to a tabbed interface"
Part of: Integration Specific Policy Views

## Description
Change the Integration Details View to a Tabbed interface. The current links found the left side of the view should be become tabs.

![image](https://user-images.githubusercontent.com/56442535/98030580-3dff8300-1ddf-11eb-97c1-070a42751f15.png)

[2020-11-03 19:17] elasticmachine commented on #82483
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 19:22] paul-tavares opened #82485 "[Fleet] New Integration Details Policies Tab to display list of all policies (across Agent Policies) for given Integration"
Part of: Integration Specific Policy Views

## Description

Create new Integration Details Policies tab and display list of Policies for the given Integration

**AC:**
- [x] Create a new tab for each Integration type (e.g. Endpoint) that displays each Integration Policy of the selected type
- [x] Standard pagination
- [x] Sort order is updated at
- [x] Pagination is stateful to the URL
- [ ] "Used

[2020-11-03 19:22] elasticmachine commented on #82485
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 19:24] pgayvallet commented on #82458
We did, at some point, some preliminary work to allow that kind of 'security' checks to be performed by default on all routes

https://github.com/elastic/kibana/blob/f593455a62c5a3e3537b7538f0d105eb85794fa6/src/core/server/http/router/validator/validator.ts#L224-L232

Even if no-op for now, these validations are enabled by default, and must manually be opted out, via

[code]

We should add prototy

[2020-11-03 19:27] pmuellr commented on #82275
hahahahaha - issue https://github.com/elastic/kibana/issues/57173 (but different naming concern)

took a quick look at the code, looks like the name is correct in that it only captures info on instances with scheduled actions, not muted or throttled ones:

https://github.com/elastic/kibana/blob/eb43158bddf1a8501de4978526e3d7eceab8a378/x-pack/plugins/alerts/server/task_runner/task_runner.ts#L237-L2

[2020-11-03 19:31] legrego commented on #59960
@ppisljar based on what you're saying above, is https://github.com/elastic/kibana/issues/63358 going to supersede this issue, or is https://github.com/elastic/kibana/issues/63358 just the underlying infrastructure that will enable us to resolve this issue?

I'm trying to get a sense of a timeline for this, as it's necessary in order for virtually any of our existing saved objects to become sharabl

[2020-11-03 19:32] pmuellr commented on #82275
Another thought on the implementation - while a "peer" object of `lastScheduledActions` sounds appealing, it's going to be a bit of PITA I'd think trying to combine or pull the data from two separate objects, for use in the UI.  I wonder if we should put all the instances in there, and add some additional properties to the object, indicating if the instance didn't get scheduled because it the aler

[2020-11-03 19:34] rudolf commented on #81560
Yes, closing in favour of #66129

[2020-11-03 19:34] #81560 closed

[2020-11-03 19:36] pmuellr commented on #82435
@kobelb indicated in our triage meeting that such a doc does not _currently_ exist, so I think just doc'ing this where I suggested would be fine for now.

[2020-11-03 19:36] legrego commented on #82218
A per-request cache doesn't feel all that dangerous to me, at least for a vast majority of requests. Having a cache timeout makes sense for the longer running requests, like those that we'd see with Fleet.

[2020-11-03 19:40] ymao1 commented on #82275
I was thinking we should try to get the action group id into the event log when `event.action` = `active-instance` vs using the alert state directly in the alerts details (which is what I think you're suggesting?) The reason being that the alert state is a current snapshot in time of the alert whereas if we will eventually be adding time filtering to the alert details view, we'll want to be pullin

[2020-11-03 19:44] pgayvallet commented on #82413
We are directly using (exposing to consumers) raw instances of the 'new' ES client without any wrapping around it, so I doubt this would be doable without heavy changes?

[2020-11-03 19:51] cjcenizal opened #82489 "Move ES UI form lib from es_ui_shared plugin into a package"
After discussing this, ES UI has decided this move is worth the following benefits:

1. **Enable lazy loading.** The form lib has a dependency upon `brace/mode/json` which adds 48kb to the page load bundle size (https://github.com/elastic/kibana/pull/78571#issuecomment-701283798). Moving the lib to a package will reduce the page load bundle size by more than this amount.
2. **Clarify purpose of co

[2020-11-03 19:51] elasticmachine commented on #82489
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-11-03 19:52] paul-tavares opened #82492 "[Fleet] Create support in Integration Details pages for a Custom view"
Part of: Integration Specific Policy Views

## Description

Create support in Integration Details pages for a Custom view
View (and tab) is driven by whether an extension point has been registered for that specific Integration

**AC:**
- [x] Integrations can register a "Custom" tab which will render with the Integration specific view.
- [x] "Custom" tab will render an entirely custom component pro

[2020-11-03 19:52] elasticmachine commented on #82492
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 19:55] ymao1 commented on #82275
Do you think it would be clearer to have a `lastActiveActionGroup`
[code]

[2020-11-03 19:59] pmuellr commented on #82275
Ah, hmmm. Maybe ...

So, then the next question is, do we write `active-instance` event log docs for muted / throttled instances ...

It seems like we should, if we aren't.  So ... yeah, I think any instance that shows up on this page will be from one of the `***-instance` event log docs, and so if they have an action group in them, seems like this would work ...

There's an advantage to keeping t

[2020-11-03 20:00] nickofthyme opened #82493 "Add telemetry to vis_type_xy plugin"
**Describe the feature:**
Add telemetry to `vis_type_xy` plugin (See #46599)

Metrics include:
- All telemetry being collected from `vis_type_vislib`, if any.
- Usage of all new editor options. Currently only `detailedTooltip` and `fittingFunction `.
- Users with advanced setting (`visualization:visualize:chartsLibrary`) enabled.

**Describe a specific use case for the feature:**
To capture data a

[2020-11-03 20:00] elasticmachine commented on #82493
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 20:00] paul-tavares opened #82494 "[Fleet] Create (new) 'Integration Details - Policy Details' view (from Integrations area of Fleet)"
Part of: Integration Specific Policy Views

## Description

Create (new) Integration Policy Details view (from Integrations area of Fleet)
This view would be presented when user clicks on an Integration Policy from the new Integration Details Policies Tab.

**AC:**
- [ ] When user clicks an Integration name from the Integration policy list (implemented in this ticket #82485), they are presented wi

[2020-11-03 20:00] elasticmachine commented on #82494
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-11-03 20:01] pmuellr commented on #82275
Let's see if we can plumb the data we need just through the event log for now, will be the least disruptive change I think.  And we def want the action group in the event log docs anyway.  If we do need to put something in the state, we'll probably want to evaluate a couple of different shapes ...

[2020-11-03 20:03] nickofthyme opened #82495 "Refactor vis_type_xy plugin to use palette service"
**Describe the feature:**
Refactor `vis_type_xy` plugin to use new palette service in `charts` plugin. See https://github.com/elastic/kibana/pull/75309

[2020-11-03 20:03] elasticmachine commented on #82495
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 20:06] nickofthyme opened #82496 "Small multiples in vis_type_xy plugin"
**Describe the feature:**
Allow split chart aggressions in visualize with newChartUi enabled. Waiting on https://github.com/elastic/elastic-charts/pull/793

- [ ] Remove existing warning message.
- [ ] Update advanced setting wording.

[2020-11-03 20:06] elasticmachine commented on #82496
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 20:08] nickofthyme opened #82497 "Match vislib sorting of series in vis_type_xy"
**Describe the feature:**
Match vislib sorting of series. Currently blocked by https://github.com/elastic/elastic-charts/issues/860

### Vislib
![image](https://user-images.githubusercontent.com/19007109/109550451-e9ba9600-7a94-11eb-979b-f6bb581933f7.png)

### XY Charts
![image](https://user-images.githubusercontent.com/19007109/109550482-f5a65800-7a94-11eb-9cfb-49f7f4fdaefb.png)

[2020-11-03 20:08] elasticmachine commented on #82497
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 20:10] nickofthyme opened #82498 "Add unit tests to vis_type_xy plugin"
**Describe the feature:**
Add unit tests for new vis_type_xy plugin.

[2020-11-03 20:13] vigneshshanmugam commented on #82413
@pgayvallet Ahh, thanks for the info. I thought we had a single instance of ES client exposed from the Kibana core which is used by all plugins. I agree it would be hard to get this done with less changes.

[2020-11-03 20:18] pgayvallet commented on #74632
Note that the client-side signature of `update` is misleadingly declaring `attributes: T` instead of `Partial<T>`:

https://github.com/elastic/kibana/blob/0a02ac13277a94c22dd077471bd30bad505a3af7/src/core/server/saved_objects/service/saved_objects_client.ts#L382-L389

https://github.com/elastic/kibana/blob/caa5da26f07bdce5dbc8c8f8928d28336af09640/src/core/public/saved_objects/saved_objects_client.

[2020-11-03 20:18] #67226 closed

[2020-11-03 20:32] ymao1 commented on #81943
In projects I've worked on in the past, we've generally moved away from placeholder labels because they are hard to read and can be confused with form input. It seems like we only have placeholder text in form fields that require a URL value. Is that because we want users to remember to prepend an `http` or `https`? Would it be better just to have that as part of the form validation?

[2020-11-03 20:35] cnasikas opened #82502 "[Actions] Cleanup hidden action types"
The case connector introduced at https://github.com/elastic/kibana/pull/80870 can be used, for the moment, only by the detection engine of Security Solution. For that reason, in the same PR, the case connector is being hidden from the `Alerts and Insights` section inside `Stack management`.

When the case connector is being available across Kibana then the logic should be removed.

[2020-11-03 20:35] elasticmachine commented on #82502
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-11-03 20:39] kobelb commented on #82027
I think it's an interesting suggestion. From the authorization perspective, I think we could make it work as we have a "Saved Object Management" feature which conceptually allows the user to import/export anything that we consider to be a saved-object. So even if we end up skipping the authorization implemented in the custom clients, we could still ensure that the end-user is authorized for the im

[2020-11-03 20:44] lukeelmers commented on #80508
Data plugin is next thing on my list to look at; we know it's holding up everyone else. Will report back here with updates.

[2020-11-03 20:47] kobelb commented on #82489
@elastic/kibana-operations do you know how far away we are from effectively no longer requiring that static-code that wants to be shared reside in the `packages/` folder?

[2020-11-03 20:51] myasonik opened #82503 "(Accessibility) Removing a filter bar tag should place focus somewhere sensible"
When removing a filter tag, focus is reset to the body because the element that was focused was removed from the DOM.

We need to ensure that focus stays somewhere that makes sense for this action instead of resetting it.

Top option is the list of tags. Focus can be placed on a list by adding `tabindex={-1}` to the `<ul>`. If that's not an option for some reason, the "Change all filters" button i

[2020-11-03 20:51] elasticmachine commented on #82503
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2020-11-03 20:51] elasticmachine commented on #82503
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 20:53] jbudz commented on #11303
This is stale, we have CI as code upstream.

[2020-11-03 20:53] #11303 closed

[2020-11-03 20:56] myasonik opened #82505 "(Accessibility) Nested buttons in visualization editor"
Nested interactive elements can really throw keyboard-only and screenreader users for a loop. On top of that, this outermost faux button we've created doesn't actually do anything further causing issues. It should be removed.

<img width="1305" alt="Screen Shot 2020-11-03 at 15 51 49" src="https://user-images.githubusercontent.com/4188087/98039326-2676c900-1de4-11eb-8d1e-d18571a96112.png">

When t

[2020-11-03 20:56] elasticmachine commented on #82505
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 20:57] jbudz commented on #10076
Starting in 8.0 we'll ship only the systemd service.  Logs before the logger has started will output to the journal, logs after (most with a few exceptions) will go to `/var/log/kibana/kibana.log`

[2020-11-03 21:00] #10076 closed

[2020-11-03 21:13] spalger commented on #82489
@kobelb can you give me some more details about what you mean by "static-code that wants to be shared"?

I think the code sharing we've enabled between plugins qualifies, but I could interpret that a number of ways and I don't think that packages improve our ability to share code other than the fact that prevents us from needing to use relative import paths. Is that what you mean?

[2020-11-03 21:13] jbudz commented on #39223
babel/register was removed in 7.10 with https://github.com/elastic/kibana/pull/79379 so babel writes should no longer be a source of permission errors.  Closing this out

[2020-11-03 21:13] #39223 closed

[2020-11-03 21:15] jbudz commented on #39602
babel/register was removed starting in 7.10 with #79379 so babel writes should no longer be a source of permission errors. Closing this out.

[2020-11-03 21:15] #39602 closed

[2020-11-03 21:17] jbudz commented on #13053
babel/register was removed starting in 7.10 with #79379 so babel writes should no longer be a source of permission errors. +1 on the comment above as a workaround in the interim.  Closing this out

[2020-11-03 21:17] #13053 closed

[2020-11-03 21:23] jbudz commented on #26377
We're reloading now with https://github.com/elastic/kibana/pull/73001.  Closing this out.

[2020-11-03 21:23] #26377 closed

[2020-11-03 21:26] jbudz commented on #51961
babel/register was removed starting in 7.10 with #79379 so babel writes should no longer be a source of permission errors. All writes should go to /var/lib/kibana from now on, lets reopen if there's any further issues.

[2020-11-03 21:26] #51961 closed

[2020-11-03 21:29] jbudz commented on #33422
We have [3 seconds](https://github.com/elastic/kibana/blob/eeb314e2db8219851261656547dfc2e2600cdea5/src/dev/build/tasks/os_packages/service_templates/systemd/etc/systemd/system/kibana.service#L20) set now, and babel/register has been removed which should help start time.  Closing this out.

[2020-11-03 21:29] #33422 closed

[2020-11-03 21:33] myasonik opened #82513 "(Accessibility) Date picker relies on color for error states"
<img width="810" alt="Screen Shot 2020-11-03 at 16 31 27" src="https://user-images.githubusercontent.com/4188087/98042744-b10df700-1de9-11eb-9eed-0302b5bd2ab5.png">

Date picker error state has no indication other than color. EUI, though not incredibly clear, at least provides an underline when errored ([example](https://elastic.github.io/eui/#/forms/date-picker#date-picker-range)).

[2020-11-03 21:33] elasticmachine commented on #82513
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2020-11-03 21:33] elasticmachine commented on #82513
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 21:35] kobelb commented on #82489
@spalger apologies for the vague phrasing. It's my understanding that as part of the move to Bazel, that we'll be removing the differences between `packages/` and the code that currently resides in the `plugins/` folders, and both of these will just be considered a "project".

Long-term, we plan to change the code organization entirely and use a domain-based approach per https://github.com/elastic

[2020-11-03 21:38] kmartastic opened #82514 "Basemap choice is not always true/in sync with what is displayed in the Map."
I captured the gif below to show that my basemap choice is not always in sync with what is displayed.

I don't think it would be hard to repro, although I cannot nail down specific steps to reproduce.
Often I will change the default basemap to Dark, give it a new title, change it to desaturated, maybe change it back.

![basemap](https://user-images.githubusercontent.com/65553677/98042936-481e8300-

[2020-11-03 21:40] myasonik opened #82515 "Can arrow key "past" the limits of the resizer"
If you keep resizing to the right, you hit a min width and it won't visually change anything anymore. If you keep pressing the right arrow key, it doesn't do anything visually but then appears broken when you go back left.

Pressing left arrow key, you then have to "undo" all of your right keypresses making it seem like it's broken.

<img width="1119" alt="Screen Shot 2020-11-03 at 16 39 59" src="

[2020-11-03 21:40] elasticmachine commented on #82515
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-11-03 21:40] lukeelmers commented on #77241
I have a POC up which introduces the fields API in `SearchSource`: https://github.com/elastic/kibana/pull/82383

It isn't intended to merge as-is, but rather to align on the exact behavior we want so that we can move forward with a final implementation and unblock https://github.com/elastic/kibana/issues/77107.

[2020-11-03 21:45] lukeelmers commented on #75813
Somehow I had missed this issue until now -- I'm planning to address this as a part of the work for https://github.com/elastic/kibana/issues/77241.

[2020-11-03 21:49] kibanamachine commented on #75127
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/9388/)

[2020-11-03 21:50] spalger commented on #82489
Hmm, sounds like a question for @mistic and @tylersmalley then, I don't think that Bazel will be removing _all_ of the differences between packages and plugins, and but I'm not super up-to-date with those plans and maybe we'll be accessing plugins as top-level node modules in the future like we do with packages today...

[2020-11-03 21:52] tylersmalley commented on #75127
Skipped

master: 9f776a2342d95218b9b111e32fe184436608164b
7.x: 90cf81fda6a1c97cb6b3b9b5a84b195309779ba4

[2020-11-03 21:55] myasonik opened #82516 "(Accessibility) Many buttons need more descriptive labels"
Just about every icon button in the new visualization editor has a generic name such as "Remove dimension". This makes it hard for screen reader users to quickly find the action they're looking to do. Creating a more specific `aria-label` such as "Remove Y-axis count metric" would create unique names for each of these buttons making navigation much easier.
<img width="349" alt="Screen Shot 2020-11