[2022-01-12 16:57] kibanamachine commented on #50388
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#50db982e-f780-43eb-a9a0-3c380a590eaa)

[2022-01-12 16:57] kibanamachine commented on #122822
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#250b8615-4536-4f4a-a5cf-8f0e5a5afedb)

[2022-01-12 16:57] kibanamachine opened #122823 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/index·ts - dashboard app using legacy data "before all" hook: loadLogstash in "using legacy data""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#4211dd81-c334-44b3-85c9-48589f91c25c)

[2022-01-12 16:57] kibanamachine opened #122824 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/date·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type date "before all" hook in "Rule exception operators for data type date""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#f351887a-d974-4b29-8a90-6f84799a858f)

[2022-01-12 16:57] kibanamachine commented on #75962
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#250b8615-4536-4f4a-a5cf-8f0e5a5afedb)

[2022-01-12 16:57] kibanamachine commented on #122815
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#733250bb-2655-4de8-b3db-023c6bf9c1e5)

[2022-01-12 16:57] kibanamachine commented on #122816
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#75150b70-2228-4abb-9409-e3c9e4a36c2f)

[2022-01-12 16:57] kibanamachine opened #122825 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime - Uptime app with generated data "before each" hook: load heartbeat data for "loads the default settings""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#514c7672-6dc2-4b49-bc6b-abc74ff5ae54)

[2022-01-12 16:57] kibanamachine opened #122826 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/index·ts - dashboard elements "before all" hook in "dashboard elements""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#05b02b56-d32e-48ab-9354-52d9b418bd0d)

[2022-01-12 16:57] kibanamachine opened #122827 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/bulk_create·ts - saved objects security and spaces enabled _bulk_create user with no access within the default space "before all" hook for "should return 403 forbidden [isolatedtype/defaultspace-isolatedtype-id]""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#e408c0a1-ecf6-4057-87fb-386a95c671b3)

[2022-01-12 16:57] kibanamachine opened #122828 "Failing test: Firefox UI Functional Tests.test/functional/apps/dashboard/index·ts - dashboard app using current data "before all" hook: loadCurrentData in "using current data""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#ff4e51e4-922e-43c8-9fb5-bf8bc7708346)

[2022-01-12 16:57] kibanamachine opened #122829 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/bulk_create·ts - saved objects security and spaces enabled _bulk_create user with no access within the default space "after all" hook for "should return 403 forbidden [hiddentype/any]""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#e408c0a1-ecf6-4057-87fb-386a95c671b3)

[2022-01-12 16:57] kibanamachine commented on #50460
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#1c076f87-bd36-40e3-af91-827edf1a6184)

[2022-01-12 16:57] kibanamachine commented on #88579
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a10acf23-ac13-4598-9aef-8ba967ab535a)

[2022-01-12 16:57] kibanamachine commented on #86214
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a10acf23-ac13-4598-9aef-8ba967ab535a)

[2022-01-12 16:57] kibanamachine commented on #111920
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#b237ed80-d961-40d4-b058-b1554f9f60c6)

[2022-01-12 16:57] kibanamachine commented on #122823
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#990a1d3e-6cb7-4d71-b772-a7f3e0d9f2b0)

[2022-01-12 16:58] kibanamachine commented on #50382
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#d1678ddc-d516-4761-9069-8b84b78f162d)

[2022-01-12 16:58] fxdgear opened #122830 "[ML] Transforms: Messages should display in reverse chrono order or be sortable"
**Describe the feature:**

In the Transform UI when looking at the messages from a given transform, it would be ideal to see the "newest" messages first. It would also be nice to have the ability to sort by message date.

**Describe a specific use case for the feature:**

[2022-01-12 16:58] kibanamachine opened #122831 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/advanced_settings/feature_controls/advanced_settings_spaces·ts - Advanced Settings spaces feature controls "before all" hook in "spaces feature controls""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c04af508-9066-414e-8faf-ba37842b8f43)

[2022-01-12 16:58] kibanamachine opened #122832 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/settings/calendar_creation·ts - machine learning settings calendar creation "before all" hook for "creates new calendar that applies to all jobs""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#012c67e9-7743-48f6-a2c5-9b80297d491d)

[2022-01-12 16:59] kibanamachine opened #122833 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dev_tools/feature_controls/dev_tools_security·ts - console feature controls security "before all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#5e5a4771-89d1-4901-ad1b-636c1e302e50)

[2022-01-12 16:59] kibanamachine opened #122834 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dev_tools/feature_controls/dev_tools_security·ts - console feature controls security "after all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#5e5a4771-89d1-4901-ad1b-636c1e302e50)

[2022-01-12 17:00] kibanamachine commented on #50387
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#e31f7d39-ac66-413d-b484-3cac38df120a)

[2022-01-12 17:01] kibanamachine commented on #50388
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#e31f7d39-ac66-413d-b484-3cac38df120a)

[2022-01-12 17:02] kibanamachine opened #122835 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type ip "before all" hook in "Rule exception operators for data type ip""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#218a9b46-01d9-4495-bf40-9ec497224a82)

[2022-01-12 17:02] kibanamachine opened #122836 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/security_and_spaces/tests/common/client/update_alert_status·ts - cases security and spaces enabled: basic Common update_alert_status "before each" hook for "should update the status of multiple alerts attached to multiple cases using the cases client""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#bcaf8243-6a51-4cbf-ac88-72793b2f8f57)

[2022-01-12 17:02] kibanamachine commented on #50337
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#0d5ec558-0032-4562-8db4-904af2cb530f)

[2022-01-12 17:02] ThomThomson commented on #50382
Thanks for closing this @flash1293, that CI build looks a little... broken in general.

[2022-01-12 17:04] kibanamachine commented on #98463
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a448d25e-ac52-4c6e-b774-ae47685ff923)

[2022-01-12 17:04] kibanamachine commented on #122809
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a448d25e-ac52-4c6e-b774-ae47685ff923)

[2022-01-12 17:06] kibanamachine commented on #86216
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#0f25c4ff-4338-4668-bbfb-63a60e270bab)

[2022-01-12 17:06] jsanz opened #122837 "[Maps] Point to point and Tracks layers label properties not showing in the legend"
**Kibana version:**
8.0.0-rc1

**Elasticsearch version:**
same

**Server OS version:**
Cloud

**Browser version:**
Firefox 95

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
Label data-driven properties (color, size, border) are not showing in the legend in the `Point to point` and `Tracks` layer types.

[2022-01-12 17:06] elasticmachine commented on #122837
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-12 17:07] kibanamachine commented on #122816
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#3a08a943-41a5-484f-bdb7-a14b73c1b4f6)

[2022-01-12 17:07] kibanamachine commented on #122823
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#83bf06e5-4bff-4664-a1fd-3d0c7d90554d)

[2022-01-12 17:07] kibanamachine commented on #122815
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#5d91c19a-ecb5-4bae-b8ec-4acf4b0ef589)

[2022-01-12 17:07] kibanamachine commented on #122811
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#773b33ad-265f-4c1a-978d-428e00ea95df)

[2022-01-12 17:07] kibanamachine commented on #122812
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#773b33ad-265f-4c1a-978d-428e00ea95df)

[2022-01-12 17:07] kibanamachine commented on #122810
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#85ae3316-4600-49d8-b546-df0630c0ca5b)

[2022-01-12 17:07] kibanamachine commented on #122820
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a250a98e-2071-4bfb-bf3b-18f049eb4771)

[2022-01-12 17:07] kibanamachine commented on #122822
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#2c96c59d-6813-4bab-9745-88f2898e15fd)

[2022-01-12 17:07] kibanamachine commented on #75962
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#2c96c59d-6813-4bab-9745-88f2898e15fd)

[2022-01-12 17:07] kibanamachine commented on #122821
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a250a98e-2071-4bfb-bf3b-18f049eb4771)

[2022-01-12 17:07] kibanamachine commented on #122816
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c8692972-7923-4701-8f9b-88cf21a86eb0)

[2022-01-12 17:07] kibanamachine commented on #50388
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#d4c288eb-3ea0-42be-aa82-d594e85b43f0)

[2022-01-12 17:07] kibanamachine commented on #122825
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#4243618c-c9d3-4c2c-a25d-7d7dc879c068)

[2022-01-12 17:07] kibanamachine commented on #117059
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#4157bf14-9db6-424a-879f-3dc232557275)

[2022-01-12 17:07] kibanamachine commented on #122817
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#16375e25-2fb4-45b8-a8cf-8372aa1a0dbe)

[2022-01-12 17:07] kibanamachine commented on #50382
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a7253f7f-d01d-4ef1-9a1a-32c0f513608d)

[2022-01-12 17:07] kibanamachine opened #122838 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional_basic/apps/ml/permissions/full_ml_access·ts - apps machine learning basic license permissions for user with full ML access (ft_ml_poweruser) "before all" hook for "should display the ML entry in Kibana app menu""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c300770d-7f74-4056-a193-56cce85a9c59)

[2022-01-12 17:07] kibanamachine commented on #50460
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#b4750e7d-ecc2-4a27-bf9f-39e9930fff28)

[2022-01-12 17:07] kibanamachine commented on #122827
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#4acb4104-f185-46d8-91ac-29ee3d88fd39)

[2022-01-12 17:07] kibanamachine commented on #50387
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#e4280825-e69c-4f61-ba0f-9b368d7900f7)

[2022-01-12 17:07] kibanamachine commented on #122829
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#4acb4104-f185-46d8-91ac-29ee3d88fd39)

[2022-01-12 17:07] kibanamachine commented on #122823
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#53dd5714-e27b-4c34-ac81-852fdd0520f4)

[2022-01-12 17:07] kibanamachine commented on #122826
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#66936a45-1647-4751-b4d7-714b7d950d63)

[2022-01-12 17:07] kibanamachine commented on #50388
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#e4280825-e69c-4f61-ba0f-9b368d7900f7)

[2022-01-12 17:08] kibanamachine commented on #122822
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#6035440b-bfeb-45de-9088-b81a29ad071f)

[2022-01-12 17:08] kibanamachine commented on #122818
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#26f48476-7199-41a2-a068-d6529ddb0586)

[2022-01-12 17:08] kibanamachine commented on #75962
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#6035440b-bfeb-45de-9088-b81a29ad071f)

[2022-01-12 17:08] kibanamachine commented on #122819
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#26f48476-7199-41a2-a068-d6529ddb0586)

[2022-01-12 17:08] kibanamachine commented on #122815
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#83b00437-87f2-4504-95a0-de6614291316)

[2022-01-12 17:08] jmw992 opened #122839 "Kibana Bootstrap Error on Git Fetch"
**Kibana version:** 17.16.2

**Elasticsearch version:** 17.16.2

**Original install method (e.g. download page, yum, from source, etc.):** Download and unpacked zip of 17.16.2

**Describe the bug:**  I am getting an error when running `yarn kbn bootstrap` on an existing project, I tried starting from a freshly downloaded package and I was getting the same error

**Steps to reproduce:**
1. Clone /

[2022-01-12 17:08] kibanamachine commented on #88579
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#38607797-9fc2-4a87-a5ad-e5c9caf8c7f9)

[2022-01-12 17:08] kibanamachine commented on #86214
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#38607797-9fc2-4a87-a5ad-e5c9caf8c7f9)

[2022-01-12 17:09] kibanamachine commented on #111920
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#618f08b1-f8ba-47dc-99e7-6a222373a8df)

[2022-01-12 17:09] kibanamachine opened #122840 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with data loaded "before all" hook in "with data loaded""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c51ac0e2-c7e5-4beb-bcbc-704b33243841)

[2022-01-12 17:09] kibanamachine commented on #122832
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#525251ec-ef65-402c-b76e-47f387e8daae)

[2022-01-12 17:10] kibanamachine opened #122841 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/core/deprecations·ts - core deprecations service "before all" hook in "deprecations service""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#882cad21-b340-478f-808c-a633fbb9c836)

[2022-01-12 17:10] kibanamachine opened #122842 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/core/deprecations·ts - core deprecations service "after all" hook in "deprecations service""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#882cad21-b340-478f-808c-a633fbb9c836)

[2022-01-12 17:10] kibanamachine opened #122843 "Failing test: X-Pack Endpoint API Integration Tests.x-pack/test/security_solution_endpoint_api_int/apis/resolver/entity·ts - Endpoint plugin Resolver tests Resolver tests for the entity route winlogbeat tests "before all" hook for "returns a winlogbeat sysmon event when the event matches the schema correctly""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a9a6a9e8-1bf5-45cd-8025-735fe76d5131)

[2022-01-12 17:10] kibanamachine commented on #122834
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#4a9570ea-90ed-49ed-a28e-309ba018bf59)

[2022-01-12 17:11] kibanamachine commented on #50387
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#b5bd6ea9-da28-4af1-8fa5-494ae7142c92)

[2022-01-12 17:11] kibanamachine commented on #50388
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#b5bd6ea9-da28-4af1-8fa5-494ae7142c92)

[2022-01-12 17:11] kibanamachine commented on #122814
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#deec7fe2-3360-44a6-b95c-3ee27e481e97)

[2022-01-12 17:11] kibanamachine commented on #50337
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c23a17d2-5d6a-4697-afc9-6bccccbbc04b)

[2022-01-12 17:13] kibanamachine commented on #122828
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#f58847c1-2ef1-4bed-9fcc-f407d624a10c)

[2022-01-12 17:13] #90761 closed

[2022-01-12 17:13] nreese commented on #122404
closed by https://github.com/elastic/kibana/pull/122540

[2022-01-12 17:13] #122404 closed

[2022-01-12 17:15] #50382 closed

[2022-01-12 17:15] kibanamachine opened #122846 "Failing test: X-Pack Rule Registry Alerts Client API Integration Tests.x-pack/test/rule_registry/spaces_only/tests/trial/get_alert_by_id·ts - rule registry spaces only: trial Alerts - GET - RBAC "before all" hook for "should return a 404 when superuser accesses not-existent alert""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#6c032906-9be2-48c5-871c-ed0ecf8aa82e)

[2022-01-12 17:16] kibanamachine commented on #122835
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#304814f0-22fd-4c2a-90d3-239c2829143f)

[2022-01-12 17:16] kibanamachine commented on #122836
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#8d34903c-725e-4a9d-a0d3-7e86b1806fa0)

[2022-01-12 17:19] elasticmachine commented on #122710
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-12 17:20] ghudgins opened #122849 "[Lens] Legend - Configuration to disable "filter for/out value""
**Describe the feature:**
Allow users to enable or disable the "filter for value" functionality in visualizations that support it today (break down by)

**Describe a specific use case for the feature:**
_Primary use case - solutions_
**When** I am integrating visualizations with break down by's in my application
**I need** to disable "Filter for value" / "Filter out value"
**So I can** avoid showi

[2022-01-12 17:26] #122810 closed

[2022-01-12 17:26] #122811 closed

[2022-01-12 17:26] #122813 closed

[2022-01-12 17:26] #122815 closed

[2022-01-12 17:26] #122816 closed

[2022-01-12 17:26] #122817 closed

[2022-01-12 17:26] #122818 closed

[2022-01-12 17:26] #122822 closed

[2022-01-12 17:26] #122823 closed

[2022-01-12 17:26] #122824 closed

[2022-01-12 17:26] #122825 closed

[2022-01-12 17:26] #122826 closed

[2022-01-12 17:26] #122828 closed

[2022-01-12 17:26] #122832 closed

[2022-01-12 17:26] #122833 closed

[2022-01-12 17:26] #122835 closed

[2022-01-12 17:26] #122836 closed

[2022-01-12 17:26] #122840 closed

[2022-01-12 17:26] #122843 closed

[2022-01-12 17:26] kibanamachine opened #122850 "Failing test: Accessibility Tests.test/accessibility/apps/management·ts - a11y tests not using sample data Management "before all" hook for "main view""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#f8537f74-240f-48fe-b895-d11a8f0fdd44)

[2022-01-12 17:36] LeeDr opened #122853 "Testing actions should show Basic license error in UI or be disabled completely"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Server OS version:** CentOS 8

**Browser version:** Chrome

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** rpm packages

**Describe the bug:** If you try to test email connectors but currently have a Basic license the UI just shows `Forbidden`.  But if you look in the browser cons

[2022-01-12 17:36] elasticmachine commented on #122853
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-12 17:49] peluja1012 commented on #122227
Hi @MadameSheema, I think that we should disable the button in the Rule Details page. I suspect the issue has been around since 7.15 or 7.16 when we introduced changes to the Kibana privileges settings.

[2022-01-12 17:50] andreadelrio commented on #117538
@ryankeairns Regarding the placement, Quynh and Peter seemed to like the option I mocked where we add a "Switch to field statistics" link to DataGrid but we agreed it would be better to wait until DataGrid is turned on by the default.

@qn895 was also going to follow up with their docs person regarding what text we can use in the tooltip for `text fields`. I'll follow up with her when she's back i

[2022-01-12 17:51] MadameSheema commented on #122227
@deepikakeshav-qasource can you please confirm if this issue is present on latest 7.17? Thanks!

[2022-01-12 17:55] #122704 closed

[2022-01-12 17:56] kibanamachine opened #122860 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation·ts - machine learning data frame analytics classification creation bank marketing loads the data frame analytics wizard"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7573#3cbcd1f7-3f22-4ec7-b8cf-a97cc83e58bb)

[2022-01-12 18:04] dej611 opened #122861 "[Controls] Input Controls range layout issue"
**Kibana version:** 8.0

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

Controls layout logic seems to not avoid range inputs overlappings, as shown in the picture:

(Safari)
<img width="1416" alt="Screenshot 2022-01-12 at 18 56 49" src="https://user-images.githubusercontent.com/924948/149196336-7d55158e-3531-400c-a4b2-95c6329fa578.png">

(C

[2022-01-12 18:05] flash1293 commented on #122710
Did you mean the team responsible for the maps visualizations? It's `Team:Geo`, VisEditors is not owning this.

[2022-01-12 18:10] pmuellr commented on #122853
Wanted to note that while Lee found this while testing 8.0.0, I suspect this bug has existed for every release we've had the test capability for connectors.  We just found it now.

The problem occurred because the rule was created in a deployment with a license that allowed creation of an email connector (anything but basic), but then was imported/migrated/whatever into a deployment with a Basic l

[2022-01-12 18:15] flash1293 commented on #118066
Fixed by now

[2022-01-12 18:15] #118066 closed

[2022-01-12 18:16] flash1293 commented on #116777
Not blocked anymore - reducing impact because it works correctly in most places now

[2022-01-12 18:17] jbudz opened #122865 "[CI] Test docker build contexts"
There's currently limited testing before releases with our docker build contexts.  We should verify that `docker build` works before these get promoted to https://github.com/elastic/dockerfiles.  We've had two bugs introduced by a folder change and a base image change respectively that didn't occur in the image builds.

[2022-01-12 18:17] elasticmachine commented on #122865
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-12 18:26] elasticmachine commented on #122710
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-12 18:26] Heenawter commented on #122710
@flash1293 I did indeed! Sorry about that - it's fixed 🙇

[2022-01-12 18:45] #122743 closed

[2022-01-12 18:46] bhavyarm opened #122868 "Kibana triggers discard changes warning on dashboards if user tries to show/hide panel titles for panels with saved objects from the library after save"
**Kibana version:** 8.0.0_RC1/7.17

**Elasticsearch version:** 8.0.0_RC1/7.17

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana is triggering discard changes warning on dashboards if user tries to show/hide panel titles for obje

[2022-01-12 18:46] elasticmachine commented on #122868
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-12 18:48] #75044 closed

[2022-01-12 18:52] ghudgins commented on #121335
@elastic/datavis @gvnmagni this was discussed in a weekly late last year. what should the limit itself be?

[2022-01-12 18:52] Heenawter commented on #122868
Looks like this bug was fixed in https://github.com/elastic/kibana/pull/120815 - I tested this on the main branch, and it works fine. I guess that PR just didn't quite make it in to the 8.0 cloud builds?

[2022-01-12 18:58] mgiota opened #122874 "[Actionable Observability] Inventory rule type doesn't trigger alerts"
### 📝 Summary

When creating an inventory rule type with sensitive thresholds, no alerts get triggered, although chart shows differently.

<img width="1421" alt="Screenshot 2022-01-12 at 19 52 07" src="https://user-images.githubusercontent.com/2852703/149203489-0e5d0f09-5d01-4ea8-a76c-68c06346499e.png">

### Steps to reproduce

1. Create an Inventory rule type
2. For conditions select `CPU usage a

[2022-01-12 18:58] tshayan commented on #121298
Just wanted to report that I just encountered this issue after upgrading Kibana from 7.13.4 to 7.16.2. Everything seems to be working normally but I see the below message **every time** that Kibana is restarted:

[2022-01-12 18:59] bhavyarm commented on #122868
@Heenawter not sure whats happening here. will keep the issue updated after testing on BC1 of 8.0.0. This was on 8.0.0_RC1. Thanks! cc @ThomThomson

[2022-01-12 19:00] yctercero commented on #121758
@gavinwye @snide how do the updates here look? https://github.com/elastic/kibana/pull/122870

[2022-01-12 19:01] tsullivan opened #122875 "[Reporting] Add latency indication to diagnostics tool"
This is a meta issue to discuss new functionality that can be added to the Reporting Diagnostics tool.

Some possibilities:

* -Add a button that installs curated dashboards monitor the Reporting event log-
* Show any error or warnings that were logged at Kibana server startup
* -Check the status of the reporting tasks in Task Manager and help users resolve the problem if the status is `unrecogniz

[2022-01-12 19:01] elasticmachine commented on #122875
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-12 19:01] elasticmachine commented on #122875
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-12 19:10] nreese opened #122876 "[discover] unable to save "Rows per page" changes in dashboard"
**Kibana version:**
8.0.0-rc1

**Elasticsearch version:**
8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Steps to reproduce:**
1. install sample data set
2. create saved search
3. add saved search to dashboard
4. Set "rows per page" to 25
5. Save dashboard.
6. Refresh page. "Rows per page" setting is not saved with dashboard. This effects reporting as

[2022-01-12 19:10] elasticmachine commented on #122876
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-12 19:12] #120312 closed

[2022-01-12 19:12] #121038 closed

[2022-01-12 19:12] #122149 closed

[2022-01-12 19:21] bhavyarm opened #122878 "[Dashboard] Hidden panel titles from various versions are no longer hidden when imported"
**Kibana version:** 7.17.0 BC1

**Elasticsearch version:** 7.17.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user deletes the panel titles from dashboard panels in 6.8 and saves the dashboard and imports it in 7.17 - Kiba

[2022-01-12 19:21] elasticmachine commented on #122878
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-12 19:22] ghudgins opened #122879 "[Lens] Allow metric visualization to drill down"
**Describe the feature:**
Allow a user to configure a lens metric vis to drill down passing an _exists_ filter for the selected metric (and including any global filter state)

**Describe a specific use case for the feature:**
**When** I see a metric is not performing well on a dashboard
**And** I have a separate "drilldown dashboard" that details a single metric's performance holistically
**I need

[2022-01-12 19:22] elasticmachine commented on #122879
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-12 19:56] dokmic opened #122881 "[Dashboard] Copy and go to dashboard does not work in Safari"
**Kibana version:** 8.0.0
**Elasticsearch version:** 8.0.0
**Server OS version:** macOS 11.2.3
**Browser version:** Safari 14.0.3
**Browser OS version:** macOS 11.2.3
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**

**Steps to reproduce:**
1. Add sample data.
2. Open `[Logs] Web Traffic` dashboard.
3. Click on "Copy to dashboard" action.

[2022-01-12 19:56] elasticmachine commented on #122881
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-12 19:57] dominiqueclarke commented on #119943
Moving straight to Done Done as this was fixed after FF.

[2022-01-12 19:58] pmuellr commented on #122389
Have we looked at using a [`terms` query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html) to filter out task types a particular TM doesn't know about?  That seems like a simple answer, so there must be some reason we're not doing it :-)

One problem is that it won't be obvious why these tasks aren't running, when we look at task manager.  But I think we'

[2022-01-12 19:58] dominiqueclarke commented on #119933
Moving this straight to Done Done as it was fixed after FF.

[2022-01-12 19:58] dominiqueclarke commented on #122086
Moving straight to Done Done as this was discovered/fixed after FF.

[2022-01-12 19:59] dominiqueclarke commented on #121919
Moving straight to Done Done as this was discovered/fixed after FF.

[2022-01-12 20:07] pmuellr commented on #122390
So we really just need to pick a number, right? 5 minutes feels about right to me.  If the interval is < 5m, let it run on it's existing schedule.  Otherwise retry in 5m.

It probably doesn't make sense to bake this kind of logic into task manager (yet anyway), right?  Especially since rules do kind of wacky scheduling anyway ... and not sure TM could recognize ES connectivity errors.

Just thinki

[2022-01-12 20:10] #122288 closed

[2022-01-12 20:23] tsullivan commented on #122710
Hi @Heenawter, are you using this project to run the snapshot version in cloud? https://github.com/lukeelmers/terraform-kibana-dev/tree/main/gcp

Are you able to find any errors in the server logs by ssh'ing to the instance and running `tail -f /var/kibana/kibana.log` ?

[2022-01-12 20:25] crob611 opened #122883 "[Canvas] Uploaded asset not being saved?"
**Kibana version:**
8.0.0-rc0, main

Add an image to a workpad.  From the sidebar, change the image by uploading an asset.

Refreshing the page will result in one of two things happening.  1) The image is reverted back to the default image
2) There are no assets, so there is a render error of could not get asset of id ....

Maybe this is a race condition of some kind where if the asset upload fini

[2022-01-12 20:38] Heenawter opened #122885 "[User Experience] Mobile view causing multiple small display issues"
**Kibana version:** 8.0.0-rc1

**Browser:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

## Bug 1

**Describe the bug:**

When uploading a CSV file using a mobile display, the "Import" button is partially obstructed by the bottom panel.

**Steps to reproduce:**

https://user-images.githubusercontent.com/8698078/149215361-2437d34b-6b96-4ee8-b2c5-4906e794d

[2022-01-12 20:38] elasticmachine commented on #122885
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-12 20:40] tsullivan opened #122886 "[Screenshotting] Functional test needed for report generation of dashboard with Maps embeddable"
This issue is to close a gap in testing: there are no functional tests on dashboard reports that use a dashboard with a Maps embeddable.

Related: https://github.com/elastic/kibana/issues/122710

[2022-01-12 20:41] elasticmachine commented on #122886
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-12 20:41] elasticmachine commented on #122886
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-12 20:46] asazallesmilner commented on #12562
This would be a feature we would find very beneficial to us as well.  Would love to see some progress on it, any updates?

[2022-01-12 20:50] ryankeairns commented on #118381
Marking this one as complete in the sense that we've, in some form, explored each of these. Perhaps a little thin on the last bullet, but some design work has been done with regards to embedding Lens in Discover and Dashboard.

[2022-01-12 20:50] #118381 closed

[2022-01-12 20:57] Heenawter commented on #122710
@tsullivan

I'm using [Elastic Cloud](https://staging.found.no/) - originally the bug was present on the snapshot version of 8.0, but it's also present on rc1.

![image](https://user-images.githubusercontent.com/8698078/149220021-5e7d4125-55e5-4470-ad23-9e14ec0175a2.png)

Sorry, I'm not sure how to do this :(

[2022-01-12 21:07] asazallesmilner commented on #120422
We are seeing the exact same issue log error when we try to import dashboards into the cloud on 7.16.2...

[2022-01-12 21:14] ThomThomson commented on #122881
Closing this as a duplicate of https://github.com/elastic/kibana/issues/105831

[2022-01-12 21:14] #122881 closed

[2022-01-12 21:19] dominiqueclarke commented on #122404
I tested this personally in 8.0 since our team did not test this directly. LGTM!

<img width="760" alt="Screen Shot 2022-01-12 at 4 18 01 PM" src="https://user-images.githubusercontent.com/11356435/149223023-c40582a4-fdff-4cae-b704-905f3acb116e.png">

[2022-01-12 21:47] stacey-gammon commented on #118180
Going to close this out as I think https://github.com/elastic/kibana/issues/118736 will be sufficient moving forward, assuming that the customer had the`skip-unavailable-clusters` setting in ES set to true.

[2022-01-12 21:47] #118180 closed

[2022-01-12 22:01] mostlyjason opened #122892 "[Fleet] Add input settings at the agent policy level"
We've had several use cases for adding input settings at the agent policy level. This provide a way for more advanced users to customize the behavior of inputs. While we could offer UI features for these capabilities, a YAML block would allow us to solve for many use cases at once. Assuming this is for more advanced users, they are more likely to invest the time in configuring YAML.

- https://git

[2022-01-12 22:01] elasticmachine commented on #122892
Pinging @elastic/fleet (Team:Fleet)

[2022-01-12 22:24] ryankeairns opened #122896 "[Discover] Display current interval setting"
Currently, the interval setting for the chart histogram is only visible under **Chart options**. With more information having been added to this portion of the UI - with more to come - we've opted to consolidate elements under this menu.

Given some recent feedback, it may be beneficial to have the current interval setting in an always visible location. For example, we could add it on to the end o

[2022-01-12 22:24] elasticmachine commented on #122896
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-12 23:06] gwbrown opened #122899 "Data View does not pass configured `expand_wildcards` value to Elasticsearch when querying field caps"
**Kibana version:** 8.0 branch, git hash `4a711e2914907627ff2785d94c1c9191f06db3c0`

**Elasticsearch version:** 8.0 branch, git hash `8d4512f1ebf44521a49f52633f3a1d91e51ad363`

**Server OS version:** MacOS 11.6

**Browser version:** Firefox 95.0.1

**Browser OS version:** MacOS 11.6

**Original install method (e.g. download page, yum, from source, etc.):** Source

**Describe the bug:** When a data

[2022-01-12 23:14] tsullivan commented on #122710
@Heenawter it's quite alright. For some reason, I had assumed you were running a custom deployment in a cloud provider. Getting the server logs from your deployment will be iffy. I will work on reproducing this error in another 8.0/GCP environments.

[2022-01-12 23:19] thomheymann commented on #120422
The error seems to occur when Metricbeat is trying to collect usage stats from the `/api/stats` route.

For some reason Elasticsearch responds with a 403 when Kibana is trying to list all available spaces:

<img width="770" alt="Screenshot 2022-01-12 at 23 09 44" src="https://user-images.githubusercontent.com/190132/149238204-47814507-0c88-4ece-a6c0-e18672d69cba.png">

It looks like it's a permiss

[2022-01-12 23:27] gwbrown commented on #122899
I found this via a bug report from @bytebilly, and tracked it down using a custom build of ES that logs all requests, including their paths & parameters. Happy to help track this down from the ES side if that would be useful.

[2022-01-12 23:34] asazallesmilner commented on #120422
We see it when we try and use the saved objects import API with object exported with the export API.
We see that error in the kibana log.

[2022-01-13 00:03] elasticmachine commented on #122860
Pinging @elastic/ml-ui (:ml)

[2022-01-13 00:29] yctercero commented on #122227
@MadameSheema @peluja1012

PR with fix is [here](https://github.com/elastic/kibana/pull/122902). @peluja1012 I hid instead of disabled these actions as that's what UX has suggested to do when it comes to features that user does not have privileges for. Let me know if I should go back to just disabling.

For reference on the UX part - https://github.com/elastic/kibana/issues/121761#event-5867567291

[2022-01-13 01:38] yctercero commented on #121761
@MadameSheema PR merged and in 8.1

https://github.com/elastic/kibana/pull/122844

[2022-01-13 02:24] andreadelrio commented on #122896
I think this solution works and that adding the current value when the interval is set to `Auto` would be a nice addition.

[2022-01-13 02:39] hktalent commented on #121864
re-downloaded the 7.16.2 version, and it’s okay now
@shyim

[2022-01-13 02:52] #121156 closed

[2022-01-13 03:11] andrewctate opened #122906 "[Lens] Data views show to user without permissions to the underlying indices"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Describe the bug:**
If a user doesn't have access to the underlying index, maybe we shouldn't allow them to select the data view for that index in Lens.

**Steps to reproduce:**
1. Create a user with no read permission on one of the indexes
2. Sign in with that user
3. New Lens
4. Select the data view for that forbidden index from the drop

[2022-01-13 03:11] elasticmachine commented on #122906
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-13 04:09] justinkambic commented on #121348
Should this change effect the certs page as well? Or, perhaps more targeted, should the change only impact the detail page?

[2022-01-13 04:39] pmuellr commented on #119258
It appears this is failing here: https://github.com/elastic/kibana/blob/6c72063531de26c63f16b84a055007e34ae72404/x-pack/test/plugin_api_integration/test_suites/task_manager/health_route.ts#L272-L275

`sampleTask` is a test fixture task type, and this test is expecting it to have run by the time the stats are taken.  Given the dump of the stats returned during the test, we've got waaaaay more tasks

[2022-01-13 04:50] jportner commented on #83650
Hi @50shashwat, in the future please refrain from asking for support in GitHub, especially on closed issues/PRs. GitHub should only be used for reporting bugs and requesting enhancements.

You can always get assistance from Elastic engineers and other community members on our discuss forums! https://discuss.elastic.co/c/elastic-stack/kibana/7

The documentation you’re looking for is here: https://

[2022-01-13 05:16] shubhamkanwar-qasource opened #122908 "[Security Solution]Wrong validation message is displayed when remove the added tag under Cases"
**Describe the bug**
Wrong validation message is displayed when remove the added tag under Cases

**Build Details**
Version:8.0.0-SNAPSHOT
Commit:0668b86594c26a088cd166c70b860eeb4e6938dc
Build: 48841

**Steps**
1.Create a Case in Cases tab .
2.Tags should be added to the Case while creating Case.
3.Remove the added tags from the tag field by clicking on cross button.
4.Observe that validation mess

[2022-01-13 05:16] elasticmachine commented on #122908
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-13 05:20] shubhamkanwar-qasource commented on #122633
thanks @spong for looking into the issue . Yes our reported issue is for `8.0.0-RC1` and above shared dupe bugs are logged for 8.1 Main.
so please let us known if we need to keep this bug open due to different builds or we can also close this one and comment on dupe bug ( similar issue is occuring on 8.0.0)

thanks !!

[2022-01-13 05:43] shubhamkanwar-qasource commented on #121990
Hi @cnasikas  & @banderror

please find the separate issue logged for case part here https://github.com/elastic/kibana/issues/122908

Thanks!!

[2022-01-13 05:51] matschaffer commented on #121975
I haven't written one, but I've used reindexing steps as part of the kibana upgrade assistant in the past.

Not sure timing aligns well though. We'd need to get the assistant code merged and released as part of 7.(final) ahead of 8.0 release.

Not sure if @jasonrhodes, @smith, or maybe another participant in this issue can recommend a person/approach to get a reindex step built into the upgrade as

[2022-01-13 05:53] shubhamkanwar-qasource commented on #121504
Hi @MadameSheema

we have validated this issue on `8.0.0-SNAPSHOT` and found it Fixed 🟢 . However as currently `7.17.0 BC2` is not arrived so we will be keeping this bug until then.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/149272479-c8333d54-94a9-4dd1-8090-f99b6145e2ad.mp4

thanks !!

[2022-01-13 06:07] brokensound77 commented on #120712
I will be pushing a package to package-storage for 8.0+ packages this week, which should resolve this

[2022-01-13 06:33] amolnater-qasource opened #122909 "[Fleet]: KPI count is not updated when `Upgrade available` filter is applied on Fleet tab."
**Kibana version:**  8.0.0 Snapshot Kibana could-staging environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana could-staging environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet tab and apply `Upgrade available` filter.
3. Observe if no agents are available still KPI c

[2022-01-13 06:33] elasticmachine commented on #122909
Pinging @elastic/fleet (Team:Fleet)

[2022-01-13 06:34] amolnater-qasource commented on #122909
@manishgupta-qasource Please review.

[2022-01-13 06:36] manishgupta-qasource commented on #122909
Reviewed and mention to @kpollich

[2022-01-13 07:04] pheyos commented on #122860
This is the same failure already reported in #122485.

[2022-01-13 07:35] matschaffer commented on #121261
@LeeDr pretty sure that's https://github.com/elastic/kibana/issues/121192

[2022-01-13 07:40] pgayvallet opened #122910 "`elasticsearch.requestHeadersWhitelist` should not filter headers coming from the auth hook"
`elasticsearch.requestHeadersWhitelist` currently filters headers internally attached to the request / auth state, in addition to the headers coming from the request itself.

Headers internally bound to the request are an implementation detail of Kibana authc mechanism, and should not be filtered

Our documentation confirms it, as it states that this config property is used to filter **client-side

[2022-01-13 07:40] elasticmachine commented on #122910
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 07:48] deepikakeshav-qasource commented on #121390
Hi @marshallmain ,

Thanks for providing the details:

We have follow the above steps and able to see the "Data view" Selector on alerts tab.

**Steps:**
1. Upgrade the build from 7.17 snapshot to 8.0.0 snapshot
2. Navigate to alerts tab as an admin user
3. Observe that data view option is not displayed under alerts tab after upgrade the build.
4. Refresh the page using the browser refresh button

[2022-01-13 08:29] Alex3k commented on #118180
@stacey-gammon would it not make sense to keep it open until your linked issue is completed? I feel closing this issue implies that it is solved.

[2022-01-13 08:30] cnasikas commented on #121990
Thanks, @shubhamkanwar-qasource!

[2022-01-13 08:30] elasticmachine commented on #122908
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-13 08:30] elasticmachine commented on #122908
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-13 08:34] pgayvallet commented on #98463
Failure:

[code]

[2022-01-13 08:37] pgayvallet commented on #121624
Making the migration algo more resilient is always a good thing, however given we get the confirmation the error was caused by a manual intervention / index creation, I wonder if it's really worth it in this specific case? Kibana system indices are not meant to be manually created by a user.

[2022-01-13 08:40] elasticmachine commented on #122899
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2022-01-13 08:40] elasticmachine commented on #122899
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-13 08:41] #120722 closed

[2022-01-13 08:41] elasticmachine commented on #122839
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-13 08:42] elasticmachine commented on #122842
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 08:42] pheyos commented on #111920
Looks like there was a general issue as basically all CI groups failed in those runs (this seems to be a new CI job `7.latest ES 8.0 forward compatibility`). I'll keep this issue open to monitor the next runs.

[2022-01-13 08:44] MadameSheema commented on #120725
@deepikakeshav-qasource can you please check again on latest 8.0.0?? Thanks!

[2022-01-13 08:45] pgayvallet commented on #91615
removing my assignment as we're no longer actively working on this one

[2022-01-13 08:49] MadameSheema commented on #121491
@marshallmain can you please confirm if the above behavior is correct? Thanks!

[2022-01-13 08:49] pgayvallet commented on #122728
Yea, it would definitely be better 😅

This one is already tracked by https://github.com/elastic/kibana/issues/86707

[2022-01-13 08:50] MadameSheema commented on #121982
@deepikakeshav-qasource can you please validate the fix on latest 8.0.0? Thanks!

[2022-01-13 08:50] elasticmachine commented on #122834
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-13 08:51] deepikakeshav-qasource commented on #120596
Hi @MadameSheema ,

We have validated this issue on **8.0.0 master branch** and observed that issue is **not fixed**.

**Build Details:**
[code]

**Screencast**

https://user-images.githubusercontent.com/61860752/149296560-3d522cf6-8144-48ee-87fd-0fdc07ffe36b.mp4

Thanks!!

[2022-01-13 08:55] elasticmachine commented on #122829
Pinging @elastic/kibana-security (Team:Security)

[2022-01-13 08:56] elasticmachine commented on #122821
Pinging @elastic/kibana-security (Team:Security)

[2022-01-13 08:56] zez3 commented on #122616
I think we should define "large" first. Since my deployment is not that large.
One observation here: In my case only the KPI Unique IPs is affected by this slow response, the Hosts and User Auth is very quick

![image](https://user-images.githubusercontent.com/22619253/149297565-56884864-a755-472f-91a3-b51b709f64e5.png)
VS
![image](https://user-images.githubusercontent.com/22619253/149297893-c3c79

[2022-01-13 08:57] elasticmachine commented on #122819
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-13 08:57] elasticmachine commented on #122814
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 08:57] elasticmachine commented on #122812
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-13 08:58] elasticmachine commented on #122809
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 08:58] elasticmachine commented on #122806
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 08:58] elasticmachine commented on #122752
Pinging @elastic/kibana-security (Team:Security)

[2022-01-13 09:00] #122750 closed

[2022-01-13 09:01] pgayvallet commented on #92689
I'd say yes.  If a deployment just doesn't use the default space, we'll never know about any potential overridden uiSetting, so it feels like a bug to me.

It's not impacting the end user in any way though, only our telemetry collection, so it's only impacting us.

Sounds fair. In that case, I guess the first proposal is the correct one, wdyt?

[code]

++ however if we don't want to include the sp

[2022-01-13 09:01] elasticmachine commented on #122684
Pinging @elastic/unified-observability (Team:Observability)

[2022-01-13 09:01] gvnmagni commented on #121335
I don't remember exactly but I believe the decision should revolve around the size of those data categories. The problems arose when we try to display categories with values close to 1%, so close to one square. Due to rounding in values we would end up with issues.

This could be a way to see his, we could prevent these errors putting all categories with value below 1% into a generic "other" or so

[2022-01-13 09:06] karanverma-qasource commented on #122161
Hi @MadameSheema ,

We have validated above issue on 8.0.0 branch and issue it's fixed. ✔️

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/149294501-1f5c53df-ffad-4626-b6c8-2c938d9e1746.png)

![image](https://user-images.githubusercontent.com/91867110/149294608-d654c0c9-e319-4144-8837-d03b6d0d5b9b.png)

![image](https://user-images.githubusercontent.com/91867

[2022-01-13 09:15] deepikakeshav-qasource commented on #120725
Hi @MadameSheema ,

We have validated this issue on **8.0.0 Production**  and observed that issue is **Fixed**.

Please find the below testing details:

**Build Details:**
[code]
**Screencast:**

https://user-images.githubusercontent.com/61860752/149298810-33b13723-f96f-48fa-857f-9cc24d5d4e49.mp4

Hence, We are closing this issue and Marking as QA Validated
Thanks!!

[2022-01-13 09:16] #120725 closed

[2022-01-13 09:27] cnasikas commented on #122210
Fixed by: https://github.com/elastic/kibana/pull/122912

[2022-01-13 09:38] pheyos opened #122913 "[ML] Edit transform retention policy fails with default field value"
**Found in version**
- 7.16.2
- Could also reproduce in main / 8.1

**Browser**
- Chrome

**Steps to reproduce**
- Create a transform without retention policy
- Edit the transform and add a retention policy while not changing the pre-filled / default value of the `Field` dropdown

**Expected result**
- The transform update can be saved correctly

**Actual result**
- An error occurs during transfor

[2022-01-13 09:38] elasticmachine commented on #122913
Pinging @elastic/ml-ui (:ml)

[2022-01-13 09:46] flash1293 commented on #122849
This is already possible (setting `disableTriggers` to true on the embeddable component)

[2022-01-13 09:46] #122849 closed

[2022-01-13 09:52] carlosdelest commented on #121975
**TLDR;** We need to make work in Metricbeat, Elasticsearch and Enterprise Search to do this change using Metricbeat 8.0. I suggest we use a Metricbeat 7.16 vendored version in Enterprise Search 8.0, and then transition to Metricbeat 8.0 once we can get the needed work done.

### Metricbeat 8.0 needed work

Some things have changed for Metrictbeat 8.0 that makes difficult to change the indices use

[2022-01-13 09:57] kibanamachine commented on #122860
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7620#aa4bb4b4-d4c5-422e-aa72-921a2708d34b)

[2022-01-13 10:02] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7622#8b09ebbb-ebfb-42c6-995e-be7b22d86755)

[2022-01-13 10:04] carlosdelest commented on #121975
Added @sayden into the loop for review of the above approach

[2022-01-13 10:06] juliaElastic commented on #108456
@ruflin For the first point, I think we can recommend these users to add a step to their automation to create the policies first (can be done with API, as I have done in our automation tests).

As for the cloud change, I think the change is not destructive, it will ignore the system package or default policy if exists.

@joshdover @mostlyjason please correct me if I'm wrong.

[2022-01-13 10:07] deepikakeshav-qasource commented on #121982
thanks @MadameSheema  for reminding the bug regress

We have validated this issue on `8.0.0-SNAPSHOT` cloud as well as `8.0.0-Branch` testing. Please find the below observations:

**Observation 1** Issue is fixed on `8.0.0-Branch`. Tool tip is displaying 🟢

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/149309100-39d6e3f2-b18d-49fb-ad80-b15ed7

[2022-01-13 10:10] juliaElastic opened #122914 "Clean up is_default and is_default_fleet_server flags"
While implementing https://github.com/elastic/kibana/issues/108456 we removed the creation of default policies as part of startup.
The intention was to remove the concept of default policies as well.

However, it turned out there is a functionality in Elastic Agent that allows an agent (fleet server) to enroll to Fleet without specifying a policy_id. In this case, Agent is looking for a default po

[2022-01-13 10:10] elasticmachine commented on #122914
Pinging @elastic/fleet (Team:Fleet)

[2022-01-13 10:15] simitt commented on #112095
@kpollich defining the flow in more detail, we suggest to even fetch from `snapshot` instead of `staging`, which gives some advantages. The package registry allows to republish a package with the same version for the`snapshot` branch (but not for staging or production). This allows us to push packages with the actual release version instead of a pre-release version, simplifying the process.
Furthe

[2022-01-13 10:22] MadameSheema commented on #121982
@deepikakeshav-qasource if the fix is available on 8.0 it will be eventually available as well on 8.0 snapshot, hence, we can close the issue. Thanks :)

[2022-01-13 10:22] #121982 closed

[2022-01-13 10:25] flash1293 commented on #122906
We should probably avoid letting the user do that but I don't see an easy way to do so. We would have to "probe" each index pattern to check whether the current user can access it which seems sub-optimal (e.g. if there are a lot of index patterns which can totally happen).

Maybe another way is to handle the error more gracefully than just showing an error toast.

[2022-01-13 10:26] MadameSheema commented on #122013
@deepikakeshav-qasource can you please validate the fix of this issue on 8.0.0 branch? Thanks! :)

[2022-01-13 10:28] sebelga commented on #104003
Probably related this is what I found when testing with a rollup index

* The `_index` meta field is empty and thus the `Differences` does not work

<img width="606" alt="Screenshot 2022-01-12 at 14 42 15" src="https://user-images.githubusercontent.com/2854616/149310468-2e867780-e3d1-4bae-81bf-41fd58310a9b.png">

<img width="1098" alt="Screenshot 2022-01-12 at 14 42 34" src="https://user-images.gi

[2022-01-13 10:32] thomheymann commented on #120422
Is there a way to reproduce this issue? I don't get the error when importing and exporting saved objects on 7.16.0 so finding it quite difficult to try and work out what the problem could be.

The issue is definitely usage stats related. We'd need to understand which user is making the request to `/api/stats` and what their permissions are. Can you provide me with the permissions for the user this

[2022-01-13 10:39] afharo opened #122916 "Discover doesn't abort searches when navigating out"
**Kibana version:** 8.0.0-rc1

**Browser version:** Firefox 96.0

**Browser OS version:** macOS 12.1

**Original install method (e.g. download page, yum, from source, etc.):** Cloud deployment

**Describe the bug:**
When navigating outside Discover, the `bsearch` queries keep happening until the query is resolved

**Steps to reproduce:**
1. Go to Discover
2. Select a large dataset to ensure that t

[2022-01-13 10:39] elasticmachine commented on #122916
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-13 10:59] kertal commented on #118465
I'll reopen this issue for visibility, and will have a look at it (when I can)

[2022-01-13 11:04] deepikakeshav-qasource commented on #122013
Hi @MadameSheema ,

We have validated this issue on **8.0.0 branch** and observed that issue is **Partially Fixed**. Rule information is displayed. however, error message is displayed under rule details of deleted rule

Please find the below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/149317759-782b6470-3a96-4afc-8c65-f35703ab52e

[2022-01-13 11:08] MadameSheema commented on #120596
Thanks @deepikakeshav-qasource!!

@madirey I've double checked on 8.0 branch and the behaviour is still broken there. Can you please check if there was any problem with the fix backport? Thanks :)

[2022-01-13 11:11] stratoula opened #122918 "[Lens] Remove the `indexpattern-datasource-current-indexpattern` from the SO as it is not used anywhere"
**Describe the feature:**

Right now, we save on the SO dataviews references the data view per layer and the current selected dataview. This is the dataview that the user has selected on the dropdown.
![image](https://user-images.githubusercontent.com/17003240/149319046-034bbea8-6cf0-4fd9-aeeb-33e5b5d7f262.png)

For example on this SO I have a different dataview for my layer and another one select

[2022-01-13 11:11] elasticmachine commented on #122918
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-13 11:12] mateskoo commented on #118465
Hello @kertal, thank you, no problem :)

[2022-01-13 11:17] weltenwort commented on #122819
All CI groups failed here, so I guess it's not anything specific to these tests.

[2022-01-13 11:17] #122819 closed

[2022-01-13 11:23] monfera opened #122920 "[Maps] a11y and usability issue: "Save and close" is abrupt"
**Steps to reproduce**

1. Change some option in the layer
2. User wants to see the results of that
3. The user's only option is "Save and close" which is poor user experience

![saveandclose](https://user-images.githubusercontent.com/1548516/149321026-2a7bdcb0-c06e-47a1-92d3-4646020ae8dd.gif)

**Expected Result**
The user should be able to see the results without having to exit the config view, w

[2022-01-13 11:23] elasticmachine commented on #122920
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-01-13 11:27] mateskoo commented on #118465
1. It doesn't make any change, so your guess was right.
2. The results stay in the just in the ascending order, even if the `Request` says `desc`.

[2022-01-13 11:30] deepikakeshav-qasource commented on #121169
Hi @kqualters-elastic,

We have validated this issue on **8.0.0 branch** and observed that issue is **Still Occurring**

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/149322370-2c3ede4a-3153-42f4-abe1-18e9970ff230.png)

Hence, We are re-opening this issue.

Thanks!!

cc: @MadameSheema

[2022-01-13 11:30] #119413 closed

[2022-01-13 11:33] samratbhadra-qasource opened #122922 "[Security Solution] The message on the `Activity log` gets removed when the user refresh the page and shows `'Nothing more to show'`."
**Describe the bug:**
 The message on the Activity log gets removed when the user refresh the page and shows 'Nothing more to show'.

**Build Details:**

VERSION: 7.17.0-BC1
BUILD: 46386
COMMIT:  c9b31753ccda9d79ad1f6f7b106674a7ba430000
ARTIFACT: https://staging.elastic.co/7.17.0-2a228a35/summary-7.17.0.html

**Preconditions:**
Elastic 7.17.0-BC1 environment should be deployed.

**Steps to Reprodu

[2022-01-13 11:33] elasticmachine commented on #122922
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-13 11:33] elasticmachine commented on #122922
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-01-13 11:34] samratbhadra-qasource commented on #122922
@manishgupta-qasource Please review.

[2022-01-13 11:35] machadoum opened #122925 "Hosts Risk Step 4 - Add host risk tab to Hosts page"
## Overview
Because we can't implement a global host risk filter now, we must provide a way for the users to identify risky hosts. We are introducing a new tab to the Hosts page that lists the content of `ml_host_risk_score_default` index.

<img width="829" alt="Screenshot 2022-01-13 at 08 23 23" src="https://user-images.githubusercontent.com/1490444/149322287-fd4fab4d-16f9-4e3f-8586-42fc1f75f656.

[2022-01-13 11:35] elasticmachine commented on #122925
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-01-13 11:35] kertal commented on #118465
how do the sort values of the result look like? are they all the same?

[code]

About the logstash configuration:

[code]

Are the values of "DateCreated" in the format `yyyy-MM-dd HH:mm:ss`? do you use the `date` filter also for `DateCreated`? If not why don't you just assign the value of 'DateCreated' to `@timestamp`

[2022-01-13 11:35] kibanamachine commented on #96947
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7627#4a24ac5a-dee6-42fb-83ed-18abce020797)

[2022-01-13 11:36] manishgupta-qasource commented on #122922
Reviewed & assigned to @kevinlog

[2022-01-13 11:37] #122123 closed

[2022-01-13 11:38] kertal commented on #122916
thx for catching this!

[2022-01-13 11:43] MadameSheema commented on #122013
@spong can you please take a look at the above observation? Thanks :)

[2022-01-13 11:46] #122161 closed

[2022-01-13 11:48] MadameSheema commented on #120898
@karanbirsingh-qasource can you please validate the fix on the latest 8.0.0? Thanks!

[2022-01-13 11:48] MadameSheema commented on #121265
@karanverma-qasource can you please validate the fix of this issue on latest 8.0?

[2022-01-13 11:48] #121168 closed

[2022-01-13 11:49] #121504 closed

[2022-01-13 11:49] kertal commented on #122876
to be sure, you are using the Document explorer, right? So far we didn't add the rows per page settings to the saved search states so it could also be the same on a dashboard, the question is: should we? FYI: @shaunmcgough @ryankeairns

I'm open for that, I would have considered this to be a setting persisted in the local state of the users browser.

[2022-01-13 11:50] MadameSheema commented on #121169
@kqualters-elastic can you please make sure the fix was correctly backported? Thanks :)

[2022-01-13 11:54] banderror commented on #121990
Thank you!

[2022-01-13 11:56] kibanamachine opened #122927 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation·ts - machine learning data frame analytics regression creation electrical grid stability loads the data frame analytics wizard"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7626#3790f698-6d5d-4d2b-8bd4-f91fbe2ed39d)

[2022-01-13 12:01] #121186 closed

[2022-01-13 12:01] rudolf commented on #122814
Since it fails in the after each hook it seems like this is coming from https://github.com/elastic/kibana/blob/7.17/test/functional/apps/saved_objects_management/edit_saved_object.ts#L68-L70

[2022-01-13 12:02] glucaci opened #122928 "APM Dependencies Downstream services"
- When using messaging the `traces` are splitted between the sender service and the receiver service. In the bellow example the `gateway api` is calling `todo api` which is sending a message and the `user api` is receiving it.
![image](https://user-images.githubusercontent.com/13761704/149324689-24cef09e-876f-4aea-ac29-d84cc5d2a110.png)

- In this case is there only one way navigation possible, fr

[2022-01-13 12:10] flash1293 commented on #122678
I found the problem - when Lens is mounted the first time, this `emptyState` is recorded: https://github.com/elastic/kibana/blob/9d662b77bec867247421376ecb60a07202ed45f9/x-pack/plugins/lens/public/app_plugin/mounter.tsx#L189

It will inline whatever the currently configured time range is.

If you are saving a Lens vis and the editor reloads, it will execute this line: https://github.com/elastic/ki

[2022-01-13 12:12] monfera opened #122930 "[Maps] Layer un-hide involves slow tile re-fetch of layer data"
**Kibana version:**
8

**Browser version:**
Tried and experienced it with Safari and Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud instance

**Describe the bug:**
It's not a bug (there's no label for non-functional improvement requests, the current options are: bug and feature request)

Hide and immediate reveal ideally do not require tile re-fetch, as use

[2022-01-13 12:12] elasticmachine commented on #122930
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-13 12:24] afharo opened #122931 "[Search Sessions] Expiration badges should use correct singular/plural words"
**Kibana version:** 8.0.0-rc1

**Describe the bug:**
When there's 1 hour left to the expiration of a Search Session, the badge reads "1 hours" in plural.
<img width="1106" alt="image" src="https://user-images.githubusercontent.com/5469006/149328947-279d9968-5ca4-4a2d-87b0-78d9e68047cc.png">

**Steps to reproduce:**
1. Identify a Search Session that will expire in 1 hour (you can use either Kibana'

[2022-01-13 12:24] elasticmachine commented on #122931
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-13 12:26] monfera commented on #122920
Closing it as it updates nicely in place (the change was subtle and I didn't catch it, but it's visible even on the gif)

[2022-01-13 12:26] #122920 closed

[2022-01-13 12:27] academo opened #122932 "[Cases] Disable Lens from the create case form (including flyout)"
Based on the issues reported in https://github.com/elastic/kibana/issues/122211 and https://github.com/elastic/kibana/issues/115330 we confirmed the new case flyout doesn't behave as expected when a visualization (lens plugin) is added.

## Context
From the alerts table or a timeline a user can create a new case from an alert using the "add to new case" action like this:

![image](https://user-ima

[2022-01-13 12:27] elasticmachine commented on #122932
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-13 12:28] rudolf opened #122933 "7.x Index management compatibility with ES 8.x"
Index management uses the deprecated `include_type_name` parameter in a couple of places:

https://github.com/elastic/kibana/blob/7.17/x-pack/plugins/index_management/server/routes/api/mapping/register_mapping_route.ts#L33
https://github.com/elastic/kibana/blob/7.17/x-pack/plugins/index_management/server/routes/api/templates/register_get_routes.ts#L30
https://github.com/elastic/kibana/blob/7.17/x-

[2022-01-13 12:28] elasticmachine commented on #122933
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-13 12:30] kibanamachine commented on #122927
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7626#8691311b-f74f-4c95-87be-c7d015a86665)

[2022-01-13 12:48] #108325 closed

[2022-01-13 12:48] kevinlog commented on #122922
@ashokaditya for this, it seems like we should just show the empty state if there are no logs available for that Endpoint.  That seems like that's what's happening in the video that's shared.  Let me know your thoughts

[2022-01-13 12:49] cjcenizal commented on #122933
I'd consider this a bug but not a blocker, because the user can still use Console to access the underlying ES APIs and perform operations on indices and index templates. So we can ship a fix in a 7.17.patch release. See https://github.com/elastic/kibana/issues/122459#issuecomment-1006881689 for a reference to how folks are solving this problem elsewhere.

[2022-01-13 12:50] mistic commented on #122927
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 2cc7af0

[2022-01-13 12:51] kibanamachine opened #122935 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional/apps/transform/cloning·ts - apps transform basic license transform cloning clone transform with latest function navigates through the wizard, checks and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7629#818eead8-9dff-40d3-bb0b-6a8121970b4a)

[2022-01-13 12:51] janmonschke commented on #121265
@MadameSheema It was validated on 8.0 before: https://github.com/elastic/kibana/issues/121265#issuecomment-998529948 👍

[2022-01-13 12:52] sebelga commented on #122933
I am not sure I follow on this. Why is this a bug? We are using a 7.x API in `7.17`. We need to use it (and set it to `true`) because ES still support mappings type in 7.x. and the UI must too.

https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html

[2022-01-13 12:52] #121265 closed

[2022-01-13 12:55] mgiota commented on #117697
I have a question regarding `{monitorName} failed 6 times in the last 15 min. Alert when > 5. The 30 day availability is 55%. Alert when < 99%.` and specifically regarding `failed 6 times` part. With current implementation when we index an alert, we keep updating the same alert until it recovers without saving all the evaluations in between. So in this example we only know that a monitor failed, b

[2022-01-13 12:56] Bamieh commented on #118891
I've assigned a task to myself this sprint to debug and add tests in case we do have missing strings in the navigation to ensure this doesn't pop up again

[2022-01-13 12:58] klacabane commented on #121975
I'm wondering if we can omit that branch completely and write directly to `.monitoring-ent-search-*`. New major version is a good opportunity to make that breaking change but I don't know much about user expectations and metricbeat's contract regarding the indice destination (ie should it always be possible for a metricbeat module to write to `metricbeat-*` ?) cc @sayden @kvch

Agree with this alt

[2022-01-13 13:04] cjcenizal commented on #122933
@sebelga The related issue #122459 has more context, but the summary is that during the upgrade process to 8, some or all ES nodes will be on 8.x while Kibana is still on 7.last. We want Kibana to continue to function in this situation. So we need to ensure any requests from Kibana 7.last won't fail if ES is on 8.x.

[2022-01-13 13:14] elasticmachine commented on #121563
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-13 13:15] cjcenizal commented on #121220
Fixed by https://github.com/elastic/kibana/pull/121875

[2022-01-13 13:15] #121220 closed

[2022-01-13 13:26] pmuellr commented on #113152
Just taking a peek at this issue again.  Rudolf raises a number of valid issues in his comment above, but none of those issues are relevant to my use case.  I'm not actually suggesting we let **users** make use of a runtime field - we'd like to use it internally.  We'd be perfectly happy with the requirement that we'd have to know how to do those mappings with the `attributes` property explicitly,

[2022-01-13 13:35] legrego commented on #109525
Something else that comes to mind is the External URL service. I believe it assumes that there is only one canonical public URL, and that is the location that the browser currently has open. This should account for the fact that there may be multiple public URLs. Otherwise, it will incorrectly think that some links back into Kibana are external when they're in fact internal:

https://github.com/el

[2022-01-13 13:36] buzzdeee commented on #121298
saw these as well after upgrading from 7.15.0 -> 7.16.2

[2022-01-13 13:37] sebelga commented on #122933
Thanks @cjcenizal. I haven't been part of the decision process on this but it does seem that supporting this scenario is adding a lot of potential headaches and I am not sure I see the benefit (but again maybe I am missing something).
So our goal is to support a fully functional `7.17` Kibana against an `8.0` Elasticsearch?

From what we have been doing in the stack management team during the 7.x

[2022-01-13 13:42] stacey-gammon commented on #118736
This is the current experience:

ClusterA has ClusterB configured as a remote cluster.

## Findings with skip-unavailble-clusters set to true

**Current behaviour**: The visualisation only returns partial results without any indication that ClusterB has failed
**Expected behaviour**: Kibana returns partial records and shows an error/notification _in the visualisation_ stating that some clusters ca

[2022-01-13 13:46] stacey-gammon commented on #118180
Not closed because it is solved, but closed because it is a duplicate of https://github.com/elastic/kibana/issues/118736. I just don't think we should keep duplicate tickets open, or it becomes more difficult to find the right one, imo.

[2022-01-13 13:53] weltenwort opened #122941 "[Infra UI] Plugin registrations pull in UI components too eagerly"
## :notebook: Summary

The `infra` plugin's registration imports too many chunks eagerly.

**Kibana version**: `master` as of c9dcd93

## :footprints: Steps to reproduce

1. Navigate to Kibana's login screen.
2. Observe that many `infra.chunk.N.js` bundles are loaded.

## :heavy_check_mark: Acceptance criteria

- Only the initial `infra.plugin.js` bundle is loaded before navigating to the `Logs` o

[2022-01-13 13:53] elasticmachine commented on #122941
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-13 13:53] markov00 commented on #121335
Together with the reasoning provided by Giovanni, we need also to consider the number of colors used. We can have a full rainbow carousel because we are showing 100 different 1% series: the rule 5 ± 2 to me always applies, it's a good compromise and allow the user to clearly discern the colors, link them to a name in the legend and remember that name when watching again the chart next time.

[2022-01-13 13:54] paul-tavares commented on #122183
This PR will fix this issue: https://github.com/elastic/kibana/pull/122454
The message will not be exactly the same, but the API will catch it and return back this message:

![image](https://user-images.githubusercontent.com/56442535/149342829-0de3384e-4894-4081-b0d7-e11ffb057c77.png)

We'll see if we have time to improve the messages to be more user friendly

[2022-01-13 13:55] Dosant opened #122942 "Dashboard drilldown "open in a new tab" not working"
**Kibana version:** 7.16.0

**Describe the bug:**

Dashboard-to-dashboard drilldown right click -> open in new tab navigation is broken

**Steps to reproduce:**
1. Create a dashboard-to-dashboard drilldown
2. Try to execute the drilldown using "right click -> open in a new tab"
3. See that drilldown doesn't work as expected

**Expected behavior:**

Drilldown works as expected (it worked prior to 7

[2022-01-13 13:55] elasticmachine commented on #122942
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-13 13:55] Dosant commented on #122233
Hi @dcolazin, thanks for the feature request and thanks for pointing out the bug. Filled it in separately here: https://github.com/elastic/kibana/issues/122942

[2022-01-13 14:24] #121887 closed

[2022-01-13 14:25] flash1293 commented on #122906
@jportner Is this something that can/should be solved by reading all of the permissions associated with the current user and parsing the index permissions to see whether it will be possible to access a certain index pattern? Is this kind of thing done somewhere else?

[2022-01-13 14:31] andrewctate commented on #122906
The text in the error toast implies that if a user doesn't have read permissions for index X, there's no way for them to even see that it exists from the Elasticsearch side. That tells me that
- Kibana leaks information about the indices in the cluster
- This same behavior would occur if the index for a data view was deleted. I'm not sure if this scenario would ideally be treated the same as if th

[2022-01-13 14:37] flash1293 opened #122944 "[TSVB] Shard failures are not reported"
**Kibana version:** all versions

**Describe the bug:** TSVB does not report shard failures as long as there's at least one shard successfully returning data. This can make it hard to debug issues and bears a risk of misinterpreting charts because parts of data are silently missing

**Steps to reproduce:**

This can be observed for any case where the request TSVB is building will succeed for some

[2022-01-13 14:37] elasticmachine commented on #122944
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-13 14:39] m-adams commented on #73283
I was just discussing this requirement today.

The requirement is you have a dashboard and you use elements to filter the data until you find an interesting item. You then want to shift to a detailed analysis view dashboard using drilldown but filtered on an element of that document.
Maybe you want to only see that specific document in a detailed view so you could pick the doc id. There may also b

[2022-01-13 14:40] stephmilovic commented on #122009
Can you please post your users permission? This is all expected behavior. It is obviously not ideal, I'm just not sure how to handle it yet. The user permissions are where we need to look first

To be clear: The Security Default Data View is **never** generated on the Data Views page by the user. It is generated on app launch, and it uses the user's security permissions on whether or not they can

[2022-01-13 14:41] stephmilovic commented on #122009
FWIW I do think this is a corner case that can be handled in documentation, however it is confusing to document.

We should have documentation on user permissions as it relates to the Security Data View for this case.

[2022-01-13 14:44] cnasikas opened #122945 "[Lens] Disabling triggers does not work for tables"
The `disableTriggers` prop of the `EmbeddableComponent` (exposed by the lens kibana service) does not work for tables

Example attaching a table visualizaiton to a case:

<img width="1626" alt="Screenshot 2022-01-13 at 4 04 07 PM" src="https://user-images.githubusercontent.com/7871006/149351364-10054a60-991f-4524-9134-4328825d28aa.png">

[2022-01-13 14:45] Dosant commented on #46353
@elastic/kibana-vis-editors, just FYI, while testing on a cluster on with a lot of data, I noticed that TSVB seem to send a request on every change in an editor. As requests are not canceled it is very easy to spam elasticsearch with long-running requests while typing into "painless script" editor and get denial of service errors

![Screen Shot 2022-01-13 at 15 44 59](https://user-images.githubuse

[2022-01-13 14:46] dannycroft opened #122946 "Add support for feature flagging new infrastructure view"
TBC

[2022-01-13 14:46] elasticmachine commented on #122946
Pinging @elastic/apm-ui (Team:apm)

[2022-01-13 14:46] dannycroft opened #122947 "Add support for feature flagging new infrastructure view"
Create an APM feature flag for the enabling/disabling of the page (preferably available in the Advanced Settings in Kibana)

[2022-01-13 14:46] dannycroft opened #122948 "Create new Infrastructure page"
Add new Infrastructure tab to the selected service navigation for all services (and agent types).

![image](https://user-images.githubusercontent.com/31922082/149505241-3c1b2db8-7898-4e5c-9b7e-b23ce2b056db.png)

[2022-01-13 14:46] flash1293 commented on #122906
Yeah, good point - I think we just lived with this so far and IIRC nobody complained. An admin can avoid this by defining multiple spaces and making sure the permissions line up with the data views configured per space.

Let's wait for a response from the @elastic/kibana-security team, maybe there's a relatively simple way to achieve this and we can at least indicate it in the UI.

[2022-01-13 14:47] #122946 closed

[2022-01-13 14:48] cnasikas opened #122949 "[Lens] Crop legend on visualization when disabling the triggers"
A user can attach a visualization to a case. We use `disableTriggers` to disable filtering when rendering the embeddable. The legend is being cropped when using the `disableTriggers` prop.

Screenshot:
<img width="1165" alt="Screenshot 2022-01-13 at 11 08 03 AM" src="https://user-images.githubusercontent.com/7871006/149351820-3506a9fa-366a-4ce1-9e0d-b478aa6f5ef9.png">

Reduced width to verify that

[2022-01-13 14:48] elasticmachine commented on #122949
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-13 14:49] elasticmachine commented on #122948
Pinging @elastic/apm-ui (Team:apm)

[2022-01-13 14:49] legrego commented on #122906
@flash1293 this is a long outstanding issue (https://github.com/elastic/kibana/issues/23294) -- we don't have a great solution for this today, other than taking the spaces route that you mentioned.

[2022-01-13 14:52] cnasikas commented on #122210
By working on this bug we found two more bugs that we reported on the Lens team. Regarding cases, the issue has been mitigated accordingly.

Issues:
https://github.com/elastic/kibana/issues/122945
https://github.com/elastic/kibana/issues/122949

[2022-01-13 14:58] #122906 closed

[2022-01-13 15:20] Dosant opened #122955 "Dangling async searches when with identical requests"
**Kibana version:** 8.0

**Describe the bug:**

This is a bit artificial, but I still think this could occur in real world and should be fixed:

When there are multiple identical search requests during a search session, only last one will be added to search session object.
This happens because information about searches is stored in a map where key is hash from a search payload.

This means that t

[2022-01-13 15:20] elasticmachine commented on #122955
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-13 15:20] Dosant commented on #106395
One more case that reveals how fragile this is: https://github.com/elastic/kibana/issues/122955

[2022-01-13 15:25] cjcenizal commented on #122933
@sebelga Right. This is a very late-breaking requirement.

[2022-01-13 15:29] Alex3k commented on #118180
Makes sense :)

[2022-01-13 15:31] monfera opened #122956 "[Maps] Using the color picker may trigger text highlight"
**Kibana version:**
8

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**

**Steps to reproduce:**
1. Use the color picker (continuous color pick rectangle)
2. Hold down the left mouse button and move the mouse to the desired color
3. UI highlight occurs elsewhere

**Expected behavior:**
No highlight

**Screenshots (if relevant):**
![image](https

[2022-01-13 15:31] elasticmachine commented on #122956
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-13 15:36] mateskoo commented on #118465
Changing the Time Field in the Kibana Index Pattern seems to do the trick. It was set to DateCreated as the main Time field, now I tried to set it to @timestamp.

I will need to run more test in the following days, also need to check if any of the dashboards are affected. But so far it seems good.

Thank you for your ideas @kertal

[2022-01-13 15:38] yctercero commented on #122456
PR has been merged and backported to 7.17. https://github.com/elastic/kibana/pull/122610

Thanks @FrankHassanabad !

[2022-01-13 15:40] bluttringer opened #122957 "[Maps][WMS] Unable to load layers for a specific URL"
**Kibana version:**
7.15.2

**Elasticsearch version:**
I 7.15.2

**Server OS version:**
ECS deployment

**Browser version:**
Google Chrome 97.0.4692.71

**Browser OS version:**
macOS BigSur 11.6

**Original install method (e.g. download page, yum, from source, etc.):**
ECS deployment

**Describe the bug:**
When specifiying this WMS URL : https://datacarto.datara.gouv.fr/wms (which responds properl

[2022-01-13 15:44] MadameSheema opened #122958 "[Security Solution] .alerts-security.alerts-default index not created"
**Describe the bug:**
- .alerts-security.alerts-default index is not created under certain conditions, this impacts other functionalities like timeline.

**Kibana/Elasticsearch Stack version:**
- 8.0.0

**Initial context:**
- A fresh instance

**Steps to reproduce:**
1. Create a rule with the needed details to generate alerts
2. After clicking on `create and activate` rule and before being redirec

[2022-01-13 15:44] elasticmachine commented on #122958
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-13 15:48] jportner commented on #122829
Full errors from log:
[code]

@mshustov I think this isn't necessarily a problem specific to Security tests, but it's a problem with Saved Objects loading/unloading?

Seems like it's coming from https://github.com/elastic/kibana/blob/c16480e849389cc064ecae012dc925b0eae348b5/x-pack/test/saved_object_api_integration/common/suites/bulk_create.ts#L169-L178

Related: #122814

[2022-01-13 15:48] elasticmachine commented on #122829
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 15:58] mgiota commented on #117697
I dig into it the uptime code more and it looks like they already have a `count` number I could use. I'll open a PR and uptime team can verify if this number represents what we want.

[2022-01-13 16:00] monfera opened #122960 "[Maps][Meta] Usability issues on LAYERS and the layer config modal flyouts"
**Kibana version:**
8

**1. LAYERS panel flies left and right, when the layer config sidebar comes and goes**
A UI principle is that hotspots, buttons and other affordances are not supposed to fly out from underneath the user's pointer on activation. Right now, when clicking the little pencil icon, the entire LAYERS panel flies away from underneath the pointer
Irrespective of this, and the current

[2022-01-13 16:00] elasticmachine commented on #122960
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-13 16:21] rshen91 opened #122961 "[Meta][Shared UX] component inventory for transition to SharedUX plugin"
Following the example of https://github.com/elastic/kibana/pull/122499, this issue is created to track and document other components that will also migrate to SharedUX.

- [x] Exit fullscreen button
- [ ]

[2022-01-13 16:32] dej611 opened #122964 "[Visualize] Loading a visualization with a missing dataview will hide save/inspect/share buttons"
**Kibana version:** 8.0

**Original install method (e.g. download page, yum, from source, etc.):** cloud

**Describe the bug:**

Opening a visualization with a missing indexpattern won't show any action on the top right menu bar ( Inspect + Share + Save ):

<img width="1205" alt="Screenshot 2022-01-13 at 17 19 55" src="https://user-images.githubusercontent.com/924948/149369632-15a83be8-8026-4d4b-9

[2022-01-13 16:32] flash1293 opened #122965 "[Lens][Visualize] Allow multi-line headers in table"
In case of a lot of columns in a grid it's possible the headers get truncated. Expanding the column width is one option, but it leads to horizontal scrolling which is sometimes not necessary if the values in the cells are much shorter than the headers. In these situations multi-line headers would help to keep the table dense.

<img width="948" alt="Screenshot 2022-01-13 at 17 31 36" src="https://u

[2022-01-13 16:32] elasticmachine commented on #122964
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-13 16:32] elasticmachine commented on #122965
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-13 16:34] msvechla commented on #122664
We have the same issue, Kibana also stops in this case due to:

I also enabled `bfetch:disableCompression`, which shows some query results in Kibana, however Kibana still crashes with the error described above.

I can fetch the documents via the dev console, but I am unsure about how to identify the malicious document. Do you have any suggestions?

[2022-01-13 16:36] danparisi commented on #121298
Same for me, after upgrading to v. 7.16.2

[2022-01-13 16:44] Dosant commented on #122664
Hm, I don't think this is exactly the same. Not sure what is a culprit, but I'd try to increase memory first: https://www.elastic.co/guide/en/kibana/current/production.html#memory
For further help on this, I think [discuss](https://discuss.elastic.co/c/elastic-stack/kibana/7) would be a better channel until narrowed down

[2022-01-13 16:45] ryankeairns commented on #102461
@mdefazio you can add your filter designs here

[2022-01-13 16:46] madirey opened #122966 "[Security Solution] Extra event is included in Threshold alert timeline view"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Server OS version:**
any

**Browser version:**
any

**Browser OS version:**
any

**Original install method (e.g. download page, yum, from source, etc.):**
N/A

**Describe the bug:**
When viewing a timeline for a threshold alert that has already been alerted on (on an overlapping rule interval), the last event from the previous alert is inc

[2022-01-13 16:46] elasticmachine commented on #122966
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-13 16:55] msvechla commented on #122664
The issue only happens on a specific index, fetching months of data for other indices works without issues.
This leads me to doubt that this is related to insufficient memory, especially as we are also getting the: `Invalid string. Length must be a multiple of 4` error.

We are on version `7.16.1` FYI.

We will continue via other channels as you suggested and will monitor this thread in case the i

[2022-01-13 16:56] EricPSU opened #122968 "Kibana privilege for Analytics > Visualize Library > Read allows users to create new visualizations but not save"
The current implementation of the "Read" privilege for new analytics just disables the "Save" button.  The user is still able to go to Kibana > Analytics > Visualize Library and click the "Create new visualization" button.  This causes confusion and frustration for end users who end up being able to create new visualizations but are not able to save them.  This also gives those users a way of runn

[2022-01-13 17:04] Dosant commented on #122942
This would be also the case for any other place where dashboard locator is used to get a full URL to a dashboard with some `_a` level state. I didn't other such places with a quick search

[2022-01-13 17:12] #114482 closed

[2022-01-13 17:13] #120180 closed

[2022-01-13 17:17] Dosant opened #122971 "No data views redirect breaks back button"
**Kibana version:** 8.0

**Describe the bug:**

@qn895: No data view redirect breaks back button. You can get back via back button to the original location after navigating to Discover and then to mgmt to create a data view

**Steps to reproduce:**
1. You are in ML
2. Navigate to discover
3. Redirected to mgmt because no data views
4. Click back - you are stuck in mgmt

**Expected behavior:**

Sho

[2022-01-13 17:17] elasticmachine commented on #122971
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-13 17:18] #122932 closed

[2022-01-13 17:20] Dosant commented on #122664
@msvechla, Oh, I didn't realize that you also have this error in console

Would you be able to share a HAR? (check there is no sensitive data)?

[2022-01-13 17:27] justinkambic commented on #121348
Some context from an offline discussion:

**TLDR;** it's been decided that we will exclude monitor filtering from all pages other than monitor detail.

To give a little more context into why this happens, I can explain what’s happening in memory under the hood/bonnet:
---
When the overview page loads, we allocate a field called selectedMonitor in our state store. It’s initialized as an empty field

[2022-01-13 17:31] jsoriano opened #122973 "[Fleet] Add option to toggle search of prerelease packages"
In order to simplify the ways package developers can specify the stability of a package, we are going to rely completely on [SemVer](https://semver.org/). This means that any package version over `1.0.0` and without a prerelease label (like `1.0.0-rc1`) will be considered stable, `0.x.x` versions or versions with prerelease labels, will be considered prereleases.

This means that we are going to d

[2022-01-13 17:31] elasticmachine commented on #122973
Pinging @elastic/fleet (Team:Fleet)

[2022-01-13 17:33] EricDavisX commented on #121872
resolved in the above pr - shall we close this issue out or wait for merge & back-ports to be (merged) confirmed.?

[2022-01-13 17:36] TinaHeiligers commented on #120422
@asazallesmilner are you importing the saved objects into the same space as they were exported from?

The logs given in the issue's description don't give us much to go on here, we ideally need verbose logs.

The steps to reproduce also don't mention exporting an importing saved objects so we need more info on how you came across the bug please.
**For example:**
- Does the new cluster have any dat

[2022-01-13 17:38] elasticmachine commented on #120422
Pinging @elastic/kibana-core (Team:Core)

[2022-01-13 17:43] crob611 opened #122975 "[Canvas] ESDocs Index argument not being initially applied."
**Kibana version:**
7.16, 8.0.0 Cloud

The initial index value is not saved, so it defaults to "all" under the hood and leads to unexpected results.

https://user-images.githubusercontent.com/515272/149381411-d30e894a-bc16-4b25-909b-72945efcac70.mov

[2022-01-13 17:43] elasticmachine commented on #122975
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-13 17:45] mikecote commented on #121872
Thanks for the PR @EricDavisX , this issue will auto close once the main PR merges. It's automated whenever the description contains things like `Fixes #121872`, where GitHub will close the linked issue at the same time.

[2022-01-13 17:46] jportner commented on #120422
Closing the loop on this issue based on an offline discussion we had a month ago.

This error can occur when a consumer uses `openPointInTimeForType` or `createPointInTimeFinder` (which uses the former under the hood).

In a nutshell: in this issue (and likely the separate problem that @asazallesmilner is experiencing), the Spaces SOC wrapper is probably throwing the 400 Bad Request error based on

[2022-01-13 17:54] ghudgins commented on #22478
some notes on this issue - we'd need to add additional options
![image](https://user-images.githubusercontent.com/5465514/149383043-fdddeee7-f6ce-406f-9c46-269a7e8a3919.png)

...and there is a good pattern in EUI to more actions
![image](https://user-images.githubusercontent.com/5465514/149383214-d9b2362a-2f75-4474-ba80-e5733c49dfee.png)

https://github.com/elastic/eui/discussions/5089#discussionc

[2022-01-13 18:03] jasonrhodes commented on #119100
@katrin-freihofner / @vinaychandrasekhar do you all mind getting images of the screens we want to focus on for the first "MVP" of this idea and adding them as images to this epic (as opposed to Figma)? That would be a big help to further our refinement of implementation tickets. Thanks!

[2022-01-13 18:22] mattkime commented on #122899
@gwbrown I'm having trouble reproducing the problem. In step #5 its possible that there's a race condition of some sort. Could you share a har file while reproducing the problem?

I'm running 8.0.0-rc1

[2022-01-13 18:23] semd commented on #122151
This warning in the Remove dialog seems to indicate that this situation can happen.
![warning](https://user-images.githubusercontent.com/17747913/149386972-38dd6c60-4834-45aa-af8d-35ab6be71728.png)

But I understand this can be confusing anyway. I created [a fix](https://github.com/elastic/kibana/pull/122976) to clean these zombie custom fields from the timeline. It is not ideal but it solves the

[2022-01-13 18:34] mattkime commented on #122971
First, I think its a ML bug if there's a link to discover without an existing data view.

Past that, we're moving toward creating data views via a modal. Hopefully Discover can implement this sometime soon. @elastic/kibana-data-discovery

I'm hesitant to change this logic out of fear of creating new problems.

[2022-01-13 18:40] mshustov commented on #122829
@jportner some adjustments to data archives are necessary. covered by https://github.com/elastic/kibana/pull/122962

[2022-01-13 18:44] ymao1 opened #122984 "[Alerting] Investigate recurring task to detect broken rules"
As part of the research to [identify when rules stop running continuously](https://github.com/elastic/kibana/issues/119650), we have proposed creating a recurring task to detect and possible repair broken rules. This single task could check for a variety of scenarios:
* Ensure there is a task manager task for each alerting rule. If there does not exist a task for each enabled alerting rule, create

[2022-01-13 18:44] elasticmachine commented on #122984
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-13 18:50] ymao1 opened #122985 "[Alerting] Add telemetry to count number of `failed` or `unrecognized` rule tasks"
As part of https://github.com/elastic/kibana/issues/119650 we've identified the current scenarios where a rule task might become `failed` or `unrecognized` (causing the rule to silently stop being claimed) and determined that these cases are very limited. However, we should add telemetry to track the counts of rule tasks in these states to try to pro-actively identify when we've introduced a bug o

[2022-01-13 18:50] elasticmachine commented on #122985
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-13 18:52] ymao1 commented on #119650
After some research, we've concluded that there are two types of problems that alerting rules can encounter:
* Task manager related problems - These are problems with the task that backs an alerting rule. If these tasks get deleted, duplicated, or into a state where they are no longer picked up by task manager, alerting rule execution will be impacted. This is especially egregious because we can o

[2022-01-13 18:52] #119650 closed

[2022-01-13 19:06] spalger commented on #122839
Hey @jmw992, we don't support developing out of an archive. Please clone the repo and run `yarn kbn bootstrap` in the local repository after checking out the version you want to work on.

[2022-01-13 19:06] ymao1 opened #122988 "[Alerting] Provide services to set context for recovered alerts"
POC here: https://github.com/elastic/kibana/pull/119080/files

As a framework, we want to provide rule executors the ability to specify context variables for recovered alerts. Typically, recovered alerts are determined by the framework and provide no context. We've seen an uptick of user requests wanting context information in their recovery notifications and we want to enable rule executors to do

[2022-01-13 19:06] spalger commented on #122839
I'm going to close this issue, but feel free to respond if you have more questions, or open a new issue with other things that pop up.

[2022-01-13 19:06] #122839 closed

[2022-01-13 19:08] ymao1 opened #122989 "[Alerting] Remove `state` variables from action variable menu in UI"
We currently do not pass state variables for recovered alerts but they do show up in the action variable menu dropdown when the `Recovered` action group is selected. This should be hidden, similar to how `context` variables are hidden for `Recovered` action groups.

[2022-01-13 19:08] elasticmachine commented on #122989
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-13 19:08] spong commented on #108940
Additional [community request](https://discuss.elastic.co/t/variables-in-webhook/294092?u=spong) that would benefit from inline examples/documentation outlined here.

[2022-01-13 19:10] ymao1 commented on #87048
An RFC has been submitted and approved for this. We've created two followup issues to handle implementation:
* https://github.com/elastic/kibana/issues/122988
* https://github.com/elastic/kibana/issues/122989

Closing this research issue as done. Please track the implementation issues for current status

[2022-01-13 19:10] #87048 closed

[2022-01-13 19:13] mshustov commented on #120124
Why is it necessary if we aren't going to generate `request id` anymore? This value from `ClusterClient` will be overwritten by `getExecutionContext`, I'm not even sure we need this logic in `getScopedHeaders` anymore.

I suppose it's because an end-user can set any `x-opaque-id` value, so we can't rely on the format of the value.

We can do it since `elasticsearch-js` uses this naming as well. An

[2022-01-13 19:17] jmw992 commented on #122839
@spalger Ok yeah thanks for that context.  Cloning the repo does have it work for me, thanks!

[2022-01-13 19:21] nreese commented on #122956
This problem is reproducible on EUI color picker docs page - https://elastic.github.io/eui/#/forms/color-selection#color-picker. Lets move the issue to EUI since it effects all uses of EUI color picker component.

Replacing with issue, https://github.com/elastic/eui/issues/5539, in EUI

[2022-01-13 19:21] #122956 closed

[2022-01-13 19:23] nreese commented on #122960
@monfera Thanks for suggesting some usability issues. Do you have any suggestions on ways to avoid these issues?

[2022-01-13 19:29] stephmilovic opened #122990 "[Security Solution] Runtime field columns added to timeline should disable sorting"
**Describe the bug:**
Sorting is not possible on runtime fields, but Security app allows for it in timeline/alerts table. We should disable sorting for runtime field columns

**Kibana/Elasticsearch Stack version:**
8.0

**Steps to reproduce:**

1. Add runtime field from field browser "Add field" flyout in timeline or alerts
2. Attempt to sort on the runtime field column that is added to timeline

[2022-01-13 19:36] andrewctate opened #122991 "[Lens] "Other" column doesn't get a label when field has custom inline format"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Describe the bug:**
When a function generates an "Other" group (e.g. Top Values), and the field has a custom format, the "Other" label disappears.

**Steps to reproduce:**
1. Create new "Bar Vertical" Lens with `kibana_sample_data_logs`
2. Vertical axis = "Sum of bytes"
3. Horizontal axis = "Top values of memory"

**Result:** Will see four

[2022-01-13 19:42] jportner commented on #120422
@TinaHeiligers I can replicate this error in the 7.17 branch by hitting `/api/stats?extended` without the appropriate privileges. I haven't tested 7.16, 8.0, or main, but I believe all of them will behave the same way.

One way to easily reproduce this.

1. Start ES and Kibana
2. Try to get extended stats from Kibana using the `kibana_system` user: `curl http://localhost:5601/api/stats\?extended -

[2022-01-13 20:04] melissaburpo commented on #120745
Thanks for raising this issue @arvindersingh-qasource. This screenshot is now updated, here: https://www.elastic.co/guide/en/kibana/current/osquery.html#osquery-view-history

[2022-01-13 20:07] melissaburpo commented on #120746
Thanks for raising this issue @arvindersingh-qasource. This section title is now revised and the section content adjusted to be more precise: https://www.elastic.co/guide/en/kibana/current/osquery.html#osquery-manage-query

[2022-01-13 20:07] #120746 closed

[2022-01-13 20:07] melissaburpo commented on #120747
Thanks for raising this issue @arvindersingh-qasource. This section has been revised to improve the items you called out. https://www.elastic.co/guide/en/kibana/current/osquery.html#osquery-manage-query

[2022-01-13 20:07] #120747 closed

[2022-01-13 20:17] TinaHeiligers commented on #120422
Def something we should look into. @afharo this is another issue we need to investigate.

[2022-01-13 20:59] mostlyjason commented on #118751
@jen-huang should we pass any of these to the journey team, since they own unified integrations UI now?

[2022-01-13 21:09] justinkambic commented on #121258
@miltonhultgren I've implemented a locator for Uptime to use; would you prefer us to go ahead and merge that PR, and then your team can resolve this issue by running the locator in Infra?

[2022-01-13 21:12] cyrille-leclerc commented on #96562
@katrin-freihofner would it make sense to refine this ticket referring to
* The Inventory View + inventory alerts"  rather than "Metrics App"
* The metrics explorer view with the generic Metric Threshold alerts.

As discussed, I wouldn't be surprised if we decoupled the 2 problems and focused first on visualizing inventory alerts in the inventory view.
For the generic Metrics threshold Alerts, the

[2022-01-13 21:24] tsullivan commented on #122703
This solution wouldn't work for automated reports that were set up using a different version of the dashboard, but then edited to remove all of the panels. Automation will continue to open the dashboard referenced in the report job parameters.

Going this way will remove the ability for users to understand the problem with the report. Previously, Reporting would "eject" when it detected problems o

[2022-01-13 21:29] tsullivan commented on #122778
@dokmic do you think it would be possible at some point in the future, to allow a controlled number of screenshots to be taken simultaneously? If so, would we want to re-use Chromium instances for all simultaneous tasks, or would we be OK with launching multiple chromium instances simultaneously?

[2022-01-13 21:40] stephmilovic commented on #122654
news feed url isnt valid anymore it appears? https://feeds.elastic.co/security-solution

[2022-01-13 21:40] rudolf commented on #121624
yeah, I agree that this feels like a low priority and I'd suggest we only work on this if we see more users running into this problem

[2022-01-13 21:48] #121624 closed

[2022-01-13 21:59] jasonrhodes commented on #96562
@cyrille-leclerc this ticket is only Inventory alerts. I'll update the title.

[2022-01-13 22:22] jamster10 commented on #75012
After talking with @spong ,

We came to the conclusion that if a user does not have maps privileges, the map is hidden entirely.

If they do have the privilege, they get the option of it being expanded or collapsed. This selection is stored in local storage, so a user can have the map collapsed or expanded for the entirety of their session.

[2022-01-13 23:16] spong commented on #122013
Checked out latest `8.0` and tried to reproduce locally and was unable to repro `500` error. Instead I was seeing a `404` (as expected) for `/kbn/internal/detection_engine/rules/_find_status` which is suppressed from being displayed as an error toast in the UI:

https://github.com/elastic/kibana/blob/6c3dcb67950a00a251d108840669e60ccd7d7c1d/x-pack/plugins/security_solution/public/detections/contai

[2022-01-13 23:20] spong commented on #122633
Of course @shubhamkanwar-qasource! 🙂 We can go ahead and keep this issue since it has more details and I'll go ahead and close out the other as a dupe. Will also update the description here to include the `Alerts` page as well.

[2022-01-13 23:22] spong commented on #122411
Closing in favor of https://github.com/elastic/kibana/issues/122633

[2022-01-13 23:22] #122411 closed

[2022-01-13 23:37] tsullivan opened #123007 "[Reporting] Update internal APIs marked as deprecated"
See full list of Reporting's deprecated API usage: https://docs.elastic.dev/kibana-dev-docs/api-meta/deprecated-api-list-by-plugin#reporting

This issue is to switch ~~`data.fieldFormats` usage in Reporting to the new fieldFormats plugin rather than data plugin.~~ all of the remaining deprecated APIs to their replacements.

[2022-01-13 23:38] elasticmachine commented on #123007
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-13 23:38] elasticmachine commented on #123007
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-13 23:49] kibanamachine commented on #122502
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7663#64a0e4fb-48a2-4dac-b35b-1bc7eef65335)

[2022-01-13 23:52] #122886 closed

[2022-01-14 00:16] stephmilovic commented on #122151
We should run the fix by @paulewing. We also need this for timeline if we are going to remove any deleted/edited fields
![rtf_bug](https://user-images.githubusercontent.com/6935300/149429253-86c95d5e-4b86-4284-8e9a-b50f700b83cb.gif)

[2022-01-14 02:01] gwbrown commented on #122899
Sure, HARs attached - I did one for each of the repro cases I put in the ticket. If there's a race condition I've been super lucky, as it's quite reliable for me.

HARs taken on Kibana git hash `4a711e2914907627ff2785d94c1c9191f06db3c0` run via `yarn start`:
[Kibana-122899-repro-hars.zip](https://github.com/elastic/kibana/files/7867114/Kibana-122899-repro-hars.zip)

[2022-01-14 02:51] kibanamachine commented on #110938
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7671#1e033fdc-9a2c-40c7-9dd1-879caef08645)

[2022-01-14 04:22] BlackMetalz commented on #109970
I run it in the private network, so I prefer to use IP: Port instead. xD

[2022-01-14 04:48] kibanamachine commented on #116059
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7679#a447a2c8-32f1-4aaa-9a84-3ffb911fce95)

[2022-01-14 06:02] deepikakeshav-qasource commented on #122009
Thank you @stephmilovic for looking into this issue again for our asked question.

We have not created any custom user and have been performing all steps mentioned in this issue with super user.

please let us known if we need to share more details to clear our issue or to easy find out

[2022-01-14 07:08] pheyos commented on #122927
This is the same failure already reported in #122485.

[2022-01-14 07:17] karanbirsingh-qasource commented on #120898
Hi @MadameSheema

We have validated this issue on 8.0.0-Branch and found that issue is still occuring 🔴 .

**Build Details:**
[code]
**Screen-Cast:**

![image](https://user-images.githubusercontent.com/59917825/149466834-ad3b8e0c-8847-44e3-af0d-361bddbbe1d2.png)

https://user-images.githubusercontent.com/59917825/149466941-f14ed334-2bd5-4c5a-87db-ce03c7498db5.mp4

thanks !!

[2022-01-14 07:37] kertal commented on #122876
I'll relabel it as enhancement, since it currently works as expected (from our side), we need to discuss how we should handle this case

[2022-01-14 07:40] arvindersingh-qasource commented on #120748
Hi @melissaburpo ,
 Thanks for the update,
We have validated this ticket on Kibana v7.16 release build and observed that issue is now fixed.
### Please find below observations
#### Guide Link
https://www.elastic.co/guide/en/kibana/7.16/osquery.html

#### Screenshot.
![1](https://user-images.githubusercontent.com/78947943/149466736-9222f690-aa89-4cf0-8888-ea116c5cf5cb.png)

Thanks.

[2022-01-14 07:40] arvindersingh-qasource commented on #120747
Hi @melissaburpo ,
 Thanks for the update,
We have validated this ticket on Kibana v7.16 release build and observed that issue is now fixed.
### Please find below observations
#### Guide Link
https://www.elastic.co/guide/en/kibana/7.16/osquery.html

#### Screenshot.
![2](https://user-images.githubusercontent.com/78947943/149466751-65197cad-52f5-4782-8838-aa65911396d4.png)

Thanks.

[2022-01-14 07:40] arvindersingh-qasource commented on #120746
Hi @melissaburpo ,
 Thanks for the update,
We have validated this ticket on Kibana v7.16 release build and observed that issue is now fixed.
### Please find below observations
#### Guide Link
https://www.elastic.co/guide/en/kibana/7.16/osquery.html

#### Screenshot.
![3](https://user-images.githubusercontent.com/78947943/149466783-867fb9ca-2e46-4cc6-8a63-2765f265982c.PNG)

Thanks.

[2022-01-14 07:40] arvindersingh-qasource commented on #120745
Hi @melissaburpo ,
 Thanks for the update,
We have validated this ticket on Kibana v7.16 release build and observed that issue is now fixed.
### Please find below observations
#### Guide Link
https://www.elastic.co/guide/en/kibana/7.16/osquery.html

#### Screenshot.
![4](https://user-images.githubusercontent.com/78947943/149466801-0ff3085b-6dc5-4012-898a-e6794f7cc898.PNG)

Thanks.

[2022-01-14 07:47] #122456 closed

[2022-01-14 07:52] kibanamachine opened #123016 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation·ts - machine learning data frame analytics outlier detection creation iowa house prices loads the data frame analytics wizard"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7686#c5f1e99f-54aa-492a-813f-978627502122)

[2022-01-14 08:17] muskangulati-qasource opened #123017 "[Security Solution] Endpoint is not installed if namespace has characters other than default"
**Description:**
Endpoint is not installed if namespace has characters other than default

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Policy with characters like `+=` should be created

**Steps to Reproduce:**
1. Install an agent with the same policy and add Security integration
2. Observe the endpoint security integration fails t

[2022-01-14 08:17] elasticmachine commented on #123017
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-01-14 08:17] elasticmachine commented on #123017
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-14 08:18] muskangulati-qasource commented on #123017
@manishgupta-qasource please review!!

[2022-01-14 08:37] carlopuri commented on #30982
Please go on deploying this feature... very very loved feature

[2022-01-14 08:41] flash1293 commented on #122991
Good catch! This is happening because the terms agg is using a nested formatter (the outer formatter to format the "Other" and "Missing" label and a user-configurable "inner" formatter to format the value labels):
https://github.com/elastic/kibana/blob/079db9666e9c230e4958f8484954807538cdd37c/src/plugins/data/common/search/aggs/buckets/terms.ts#L66

However the Lens format overwrite is not conside

[2022-01-14 08:54] afharo commented on #120422
@jportner thanks for finding what the underlying issue is. It makes perfect sense!

FYI, we've been planning to run these requests using the `kibana_system` user for a long time. However, https://github.com/elastic/kibana/issues/96538 is needed to allow that because we don't want to expose stats to users that are not supposed to see/know that those features are enabled.

--------------------------

[2022-01-14 09:02] dasansol92 commented on #123017
Hi @muskangulati-qasource , what do you mean by namespace, a policy name with special characters? Thanks!

[2022-01-14 09:09] afharo opened #123021 "[Telemetry] The caching mechanism also caches failed payloads"
The caching mechanism introduced in https://github.com/elastic/kibana/issues/117084 caches the full report. This means that if a collector fails during that report generation, the incomplete report will be cached.

This is important because of the scenario detailed by @jportner in this comment https://github.com/elastic/kibana/issues/120422#issuecomment-1012450650. It could result in a user with l

[2022-01-14 09:09] elasticmachine commented on #123021
Pinging @elastic/kibana-core (Team:Core)

[2022-01-14 09:17] ruflin commented on #108456
The problem with this is that a user upgrading from 8.0 to 8.1 will assume no changes to the automation are needed. Ideally there is a migration path that works across a few versions meaning the user can do the change to the automation in 8.0 and the changes don't have to be made at the same time as the upgrade. Likely by already coding in the id this should be possible?

[2022-01-14 09:34] deepikakeshav-qasource commented on #122013
Hi @spong ,

No, We did not performed any additional steps. We created the custom query rule then generate the alerts and delete the rule.

No, Not any historical failures is displayed in Failure history tab before deleted. Please find below screencast for same.

This is not upgrade path, we have tested on `8.0.0 branch `

No, We only able to see this error on deleted rule. please find the below s

[2022-01-14 09:40] academo commented on #115330
This issue was fixed on this PR: https://github.com/elastic/kibana/pull/122937

The solution for now is to disable the lens plugins in the cases create form (flyout and non-flyout).

Fixing this specific functionality to work as expected requires big changes in different plugins that we can't implement at the moment.

[2022-01-14 10:12] miltonhultgren commented on #121258
@justinkambic That sounds good to me!

[2022-01-14 10:33] ashokaditya commented on #122922
@kevinlog @manishgupta-qasource so I don't see this as a bug! The first callout message is shown when the activity log page is loaded for the first time with the default/old set of date range from a previous search). The user performs a refresh action to fetch more data (although on the same set of dates) and that shows a different message (nothing more to show).

Although, I am going to change th

[2022-01-14 10:38] MadameSheema commented on #120898
@karanbirsingh-qasource the fix was validated with the snapshot or with the latest 8.0 branch?

[2022-01-14 10:39] kertal opened #123027 "[Discover][Field statistics] Number of searches in SearchSession Management"
**Kibana version:**
8.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**

When using search sessions in Discover's Field statistics tab with a large dataset, I've encountered a mismatch between the number of searches in the management session. So when saving the session and switching to management, I've got 2 searches. Then, after opening

[2022-01-14 10:39] elasticmachine commented on #123027
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-14 10:41] deepikakeshav-qasource commented on #90761
Hi Team,

We have validated this issue on **8.0.0 branch** and observed that issue is **Fixed**

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/149333937-98857f83-6dd5-44b0-978e-c72ca61743d0.mp4

Thanks!!

[2022-01-14 10:44] petermorin123 commented on #90761
Awesome news! What is involved in updating my current version to include this fix?

[2022-01-14 11:00] kibanamachine commented on #88796
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7695#79f3052a-4c54-4c0f-b898-9cd861b4e0ce)

[2022-01-14 11:01] kibanamachine commented on #121208
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7697#ee3c506c-d16b-4517-b082-340b4895542d)

[2022-01-14 11:02] dej611 opened #123028 "[Dashboard] Visualization are not correctly migrated when importing dashboard with viz by ref in 8.0"
**Kibana version:** 8.0

**Original install method (e.g. download page, yum, from source, etc.):** cloud

**Describe the bug:**

I've exported the attached SO from a 7.12 instance, which contains:
* `MyOldMetric` legacy metric visualization
* `MyOldLine` Line chart visualization
* `MyLegacyDashboard2` Dashboard with the visualization above embedded
* `MyOldDashboard3` Dashboard with the visualizat

[2022-01-14 11:02] elasticmachine commented on #123028
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-14 11:05] Dosant commented on #123027
Sometimes this could happen because when you restore a session, client side cache kicks in: https://github.com/elastic/kibana/issues/106074#issuecomment-947598532

To make sure this is not happening when reproducing the bug - suggest to reload the page before navigating from search session management (to purge client side cache)

It wasn't always the case, but I also encountered a state where the

[2022-01-14 11:08] kertal commented on #123027
ok , I see, so I think this is nothing new, so it can be closed, right?

[2022-01-14 11:33] #122008 closed

[2022-01-14 11:35] afharo opened #123030 "[Lens] `bsearch` not aborted after changing the layers"
**Kibana version:** 8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):** Cloud deployment

**Describe the bug:**
After adding a field to break-down by in Lens, the main viz finished loading, but one of the suggestions in the graph kept loading. I changed my mind and changed/removed the break-down by field. The previously cached viz loaded instantly (including the su

[2022-01-14 11:35] elasticmachine commented on #123030
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-14 11:36] karanbirsingh-qasource commented on #120898
Latest 8.0 branch @MadameSheema

[2022-01-14 11:41] Dosant commented on #123027
Yes, looks like all is known.
Good to know about this newish use-case though 👍

[2022-01-14 11:41] #123027 closed

[2022-01-14 11:42] Dosant commented on #97825
Added new use-case:

-  #123027

[2022-01-14 11:42] karanbirsingh-qasource commented on #120898
Latest ` 8.0.0-SNAPSHOT` Staging Cloud has also issue occuring observation.

Also JFI 8.0.0-SNAPSHOT build creation are failing on Release ( LA region ) and QA Cloud Platform

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/59917825/149509945-1f7654ff-aa9a-4a73-af86-0b72c4f293bb.png)

[2022-01-14 11:48] karanbirsingh-qasource commented on #122210
Hi @cnasikas

We have validated this issue on `8.0.0-Branch` and found that issue is fixed 🟢 , now filter in and filter out action are no longer showing under lens visualization.

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/59917825/149510778-0740728c-38bd-4dde-8928-54ae3f2b287f.png)

Hence we are closing this issue.

thanks !!

[2022-01-14 11:48] #122210 closed

[2022-01-14 11:51] deepikakeshav-qasource commented on #122227
Hi @MadameSheema ,

We have Validated this issue on Latest **7.17.0 SNAPSHOT** build and observed that issue is **still occurring** due to the PR is not merged

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/61860752/149506262-44338783-7074-417a-8421-f12699110e43.png)

We will regress this issue again, once the above mentioned PR got merged.

Please let us know if we

[2022-01-14 11:57] Dosant commented on #122971
I agree to not do anything since we plan to remove the redirect soon 👍

[2022-01-14 11:57] #122971 closed

[2022-01-14 12:12] elasticmachine commented on #122885
Pinging @elastic/unified-observability (Team:Observability)

[2022-01-14 12:13] elasticmachine commented on #122714
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-14 12:14] elasticmachine commented on #122703
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-14 12:15] muskangulati-qasource commented on #123017
Hi @dasansol92,

Namespace here is the grouping technique used to manage data streams. It is a part of policy and not the policy name :)
![image](https://user-images.githubusercontent.com/60252716/149513939-02a47265-9e2f-46a3-95e3-7390193b6979.png)

Thanks!

[2022-01-14 12:16] vadimkibana commented on #122703
Maybe there should be ability to hide the share menu when dashboard is empty.

[2022-01-14 12:42] juliaElastic commented on #108456
@ruflin I'm not quite following, could you rephrase?

[2022-01-14 12:51] gavinwye commented on #121761
@yctercero Thanks 😄

[2022-01-14 13:28] afharo commented on #111589
I'll go ahead and close this issue. Please, feel free to reopen in case it happens again.

[2022-01-14 13:28] #111589 closed

[2022-01-14 13:34] sebelga opened #123040 "[UA] Check and validate node disk space"
While doing upgrade testing from `7.17` to `8.0.0` an Elasticsearch log caught my attention.

[code]

It seems that for ES my local node disk is almost full (even if I still have `88GB` of disk space) and this could potentially prevent the upgrade to succeed.

For context, the cluster is almost empty (the `data` folder is `89.8MB`), I just installed the e-commerce sample data.

<img width="855" al

[2022-01-14 13:34] elasticmachine commented on #123040
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-14 13:43] MadameSheema commented on #120898
@karanbirsingh-qasource can you please check if the issue you are facing now could be related to the following one? https://github.com/elastic/kibana/issues/122958 Thanks!

[2022-01-14 13:43] #122674 closed

[2022-01-14 13:47] MadameSheema commented on #90761
Hi @petermorin123! the fix should be present on 7.17.

[2022-01-14 13:52] gavinwye commented on #121758
Updates on #122870 LGTM :)

I agree with @snide that we could fix that tooltip. I'm inclined to suggest removing it seeing as it's duplicating content that's on the page. Is there anything in the code that would imply that it would ever contain anything other than the same content?

[2022-01-14 13:55] #112732 closed

[2022-01-14 13:55] #112913 closed

[2022-01-14 13:55] #122741 closed

[2022-01-14 13:57] afharo commented on #121208
It may be related to https://github.com/elastic/kibana/issues/105758

[2022-01-14 14:05] cauemarcondes opened #123045 "[APM] Service groups UI changes"
Related to https://github.com/elastic/kibana/issues/122430

[Figma](https://www.figma.com/proto/GdIOjqqJVouyNat3vg7EGB/120-%2F-Service-Groups?page-id=0%3A1&node-id=2%3A40104&viewport=331%2C48%2C0.74&scaling=min-zoom&starting-point-node-id=2%3A40104)

- [x] add 'Create groups' button
- [x] Create modal with form to create groups
  - name, color (~~@formgeist what are the colors available?~~ https:/

[2022-01-14 14:05] elasticmachine commented on #123045
Pinging @elastic/apm-ui (Team:apm)

[2022-01-14 14:13] #121872 closed

[2022-01-14 14:23] caitlinbetz commented on #116252
Yes this is right. Thank you @dasansol92

[2022-01-14 14:24] jportner commented on #120422
By that I assume you mean you've been meaning to run those requests using the _internal saved objects client_ (without the Security SOC wrapper / without the end user's credentials)?

Makes sense :+1:

[2022-01-14 14:28] academo commented on #122693
the PR to address this issue: https://github.com/elastic/kibana/pull/123050

The fix is to enforce a max-width in the content and show scrollbars for these extreme cases. the scrollbars will only show when necessary.

[2022-01-14 14:30] #88077 closed

[2022-01-14 14:35] justinkambic opened #123051 "[Exploratory View] User with no permissions on Heartbeat indices triggers infinite request loop"
**Kibana version:**

8.1

**Elasticsearch version:**

8.1

**Server OS version:**

macOS

**Browser version:**

Chrome 97

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

When a user with read access to observability (but no heartbeat ES permissions) attempts to view data in Exploratory View, they see an

[2022-01-14 14:35] elasticmachine commented on #123051
Pinging @elastic/uptime (Team:uptime)

[2022-01-14 14:43] jasonrhodes opened #123053 "[Observability Alerting][R&D] Implement/verify cancellation for observability rules"
The alerting team (@elastic/kibana-alerting-services) has recently implemented new tools for auto-canceling/timeouts[1][2] for alerting rules. We should (a) become familiar with these new APIs, and (b) determine if we should be adjusting our rule configs or executor logic to take advantage of these new APIs.

- [x] #113462
- [x] #113487
- [x] #122550

## Acceptance Criteria
* Implementation ticket

[2022-01-14 14:46] mikecote commented on #123053
cc @elastic/response-ops

[2022-01-14 14:46] #119073 closed

[2022-01-14 14:48] #122485 closed

[2022-01-14 14:48] #122860 closed

[2022-01-14 14:48] #122927 closed

[2022-01-14 14:49] jasonrhodes commented on #116941
This can really only be solved by removing the metric from the inventory view and/or rethinking the inventory data model.

[2022-01-14 14:49] #116941 closed

[2022-01-14 14:53] kibanamachine commented on #118538
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/527#ee6b6cc4-9b7c-4f72-99bc-8b89845df48f)

[2022-01-14 14:54] ymao1 commented on #113964
Closing as duplicate of https://github.com/elastic/kibana/issues/123053

[2022-01-14 14:54] #113964 closed

[2022-01-14 14:58] nreese opened #123058 "[discover] generate CSV button shown when user does not have reporting permissions"
**Kibana version:**
8.0.0-rc1

**Elasticsearch version:**
8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Describe the bug:**

**Steps to reproduce:**
1. Create role "discover_readonly". For index privileges, provide `read` and `view_index_metadata` to `kibana_sample_data_logs` index. For Kibana privileges, provide `read` to discover and `none` for all

[2022-01-14 14:58] elasticmachine commented on #123058
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-14 14:59] chrisronline opened #123059 "[ReponseOps] Scheduled task id archive data is affecting subsequent tests"
In one of our tests suites, [the scheduled task id](https://github.com/elastic/kibana/blob/main/x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts#L44) test is near the end of the list. It appears this is necessary because any tests imported after this will fail with `403` errors when trying to communicate with the rules API

 I think it's related to [the archive data used](h

[2022-01-14 14:59] elasticmachine commented on #123059
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-14 15:19] jbudz commented on #116059
/skip

[2022-01-14 15:19] kibanamachine commented on #116059
Skipped

7.17: 32cb07c347e34791e4d0e003127579d8f39ec225
8.0: ab38a7073c75e6bae1d0cb654a1d3d386f77a278
main: 11aabdcf8ef2573914ce1bab767f9b984e3ba1bc

[2022-01-14 15:21] jbudz commented on #116059
:) I'll get those cleaned up and see if I can find the bug.

[2022-01-14 15:22] juliaElastic commented on #108456
@ruflin Thanks, I understand now. So are you suggesting that we can't remove the default policies in 8.1, as it might break automation scripts?
This means the whole [feature](https://github.com/elastic/kibana/pull/121628) has to be delayed?
I'm concerned since this feature is part of our 8.1 priorities.
What should we do @joshdover @mostlyjason @jen-huang ?

[2022-01-14 15:31] ruflin commented on #108456
My main point is to make sure this has been thought through from a user upgrade / migration perspective.

[2022-01-14 15:36] jonathan-buttner opened #123061 "[ResponseOps][Cases] Reduce timestamp granularity"
The timestamps in cases are displayed with millisecond granularity. We should only display seconds granularity

## List page
![image](https://user-images.githubusercontent.com/56361221/149541998-f3ede49e-747b-45d0-b310-5f8af49e9807.png)

## Single case view
![image](https://user-images.githubusercontent.com/56361221/149542177-12a3c107-ee1f-4e90-a633-ad2e4af99238.png)

[2022-01-14 15:36] elasticmachine commented on #123061
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-14 15:36] elasticmachine commented on #123061
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-14 15:41] rudolf opened #123062 "[7.17] Search session tests fail against 8.0"
When testing 7.17 against Elasticsearch 8.0:

[code]

The following tests fail (requires unskipping https://github.com/elastic/kibana/blob/no-include_type_name/x-pack/test/api_integration/apis/search/search.ts#L18):

Related https://github.com/elastic/kibana/pull/122962

[2022-01-14 15:41] elasticmachine commented on #123062
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-14 15:47] mshustov opened #123063 "Upgrade Assistant tests consider ES version in tests"
**Describe the feature:** We are working on enabling a test scenario when a Kibana instance `v7.last` is running against Elasticsearch `v8.x`. This scenario is short-lived and mostly it's needed for the rolling-upgrade cases.
As expected, some UA tests relying on API removed from `v8.0` started failing. These failures can cloak real problems, so we need to make sure that UA tests consider the ES v

[2022-01-14 15:47] elasticmachine commented on #123063
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-14 15:53] #122975 closed

[2022-01-14 16:17] pmuellr commented on #115973
Thanks for raising this!  Way back, we realized the lack of consistency was going to be a problem, but we also didn't really have any experience to know what we _should_ be doing here.  Seems like we have some now!

We already have a "free" action group (any rule can use it) - `recovered`.  "no data" has been on the radar for a while now, but I can't remember the issues surrounding it.  And IIRC t

[2022-01-14 16:44] monfera opened #123064 "[Maps] Opacity setting where color can be specified"
**Describe the feature:**
Currently, colors can only be opaque in many cases, such as with paths, yielding a hairball:
![image](https://user-images.githubusercontent.com/1548516/149552208-c179962a-be51-420d-9285-7232df8bff5e.png)

**Describe a specific use case for the feature:**
There's an already too flexible color picker (note: letting users pick colors directly from the full continuity of the

[2022-01-14 16:44] cjcenizal commented on #123040
Possibly related to https://github.com/elastic/cloud/issues/94949

[2022-01-14 16:44] elasticmachine commented on #123064
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-14 16:45] awahab07 commented on #121117
Moved this to 8.1 board as the sort functionality is needed to curb a UI issue before tech preview.

[2022-01-14 16:48] monfera opened #123065 "[Maps] The opacity slider doesn't work"
**Kibana version:**
8

**Browser version:**
Safari 15 on OS X

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud instance

**Describe the bug:**
Using the opacity slider does not change the opacity

**Steps to reproduce:**
1. Go to eg. the paths layer, add a layer
2. Stye it
3. Slide the opacity slider (see snapshot); nothing changes

**Expected behavior:**
Effect tak

[2022-01-14 16:48] elasticmachine commented on #123065
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-14 16:57] monfera opened #123066 "[Maps] Issues encountered with the point to point in case of the `nyc_taxis` dataset"
**Kibana version:**
8

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud instance

**Describe the bug:**
The point-to-point geometry in case of pickup/dropoff with the nyc taxi dataset generates journey lines that'd be impressive even for NY cabbies

**Steps to reproduce:**
1. Add a point-to-point layer with the `nyc_taxis` dataset
2. Observe the lines all over the wo

[2022-01-14 16:57] elasticmachine commented on #123066
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-14 17:02] shahzad31 commented on #117093
This component isn't owned by us.

[2022-01-14 17:08] shahzad31 commented on #117093
Tagging security solution, i think they work on cases plugin,

[2022-01-14 17:11] elasticmachine commented on #123016
Pinging @elastic/ml-ui (:ml)

[2022-01-14 17:19] elasticmachine commented on #122710
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-14 17:24] #119528 closed

[2022-01-14 17:31] shahzad31 commented on #117724
Seems like on off failure, closing, Will take action if it happens again..

[2022-01-14 17:31] #117724 closed

[2022-01-14 17:36] madirey opened #123069 "[Security Solution][Upgrade] Alerts-on-legacy-alerts are missing ancestors"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Server OS version:**
any

**Browser version:**
any

**Browser OS version:**
any

**Original install method (e.g. download page, yum, from source, etc.):**
N/A

**Describe the bug:**
When alerts are generated in 8.0 based on pre-8.0 (legacy) alerts, the ancestors of the legacy alert are not included in the new alert's ancestry tree.

**Step

[2022-01-14 17:36] elasticmachine commented on #123069
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-14 17:58] cjcenizal commented on #123063
In https://github.com/elastic/kibana/pull/112907 we introduced a UX that prevents users from interacting with the UI during a rolling upgrade. We also wrap each API endpoint in a guard to prevent calling any ES APIs if there's a rolling upgrade.

We have UI tests to verify the UI change, but I think we could also add API integration tests for each endpoint to verify the API guard.

[2022-01-14 18:08] bhoskins7 opened #123071 "Watcher Search Breaks when using Special Character"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** N/A

**Browser version:** Chrome

**Browser OS version:** Latest

**Original install method (e.g. download page, yum, from source, etc.):** Download Page & Cloud

**Describe the bug:**  When searching for watches in Cluster Management > Watcher using special characters (#!%$*) the page goes blank

**Steps to repr

[2022-01-14 18:12] justinkambic opened #123073 "[Uptime] Enhance the Uptime locator functionality"
**Describe the feature:**

As part of https://github.com/elastic/kibana/pull/123004 we implemented a [locator](https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/src/plugins/share/common/url_service/locators/README.md#locators) for the Uptime plugin's Overview page.

We should add additional functionality to this as soon as we have the bandwidth, because it will make i

[2022-01-14 18:12] elasticmachine commented on #123073
Pinging @elastic/uptime (Team:uptime)

[2022-01-14 18:43] elasticmachine commented on #123071
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-14 19:01] justinkambic commented on #121258
@miltonhultgren we've merged the PR for adding a locator to our overview page. The locator's [API](https://github.com/elastic/kibana/pull/123004/files#diff-61b686494e111bec1b5254f550b6ccb1aa8d18d270b5b784594f09d20c6799e2R13) has `ip` and `hostname` so far, so it should be enough for your team to resolve this issue the rest of the way.

LMK if we can support you in this.

[2022-01-14 19:10] nreese commented on #123065
Closing, unable to reproduce in 8.0.0-rc1 in cloud.

In the screen shot provided, the open layer editor is for "Flight origin location" layer. This layer is not the point to point layer so adjusting the opacity of this layer will not adjust the opacity of the point-2-point layer.

[2022-01-14 19:10] #123065 closed

[2022-01-14 19:13] #122837 closed

[2022-01-14 19:16] jmp601 commented on #122664
I have this error to and it's actually causing all of our ingest pipelines to fail as well. I will be putting in a support ticket, but will report back here to help others!

[2022-01-14 19:17] kevinlog commented on #123017
@muskangulati-qasource I tried to reproduce this on my end and when I use a simple word for a namespace, everything works as expected.

For instance, I used `east` as the namespace.

See the namespace here:
![image](https://user-images.githubusercontent.com/56395104/149571299-edd40531-52f8-428d-8e40-7d0d2c09ee91.png)

You can see the Endpoint deployed properly:
![image](https://user-images.githubu

[2022-01-14 19:25] EricDavisX commented on #103634
I never made time for this, apologies.  @dikshachauhan-qasource if you want to follow though, the right path is to confirm as Jen notes that the problem is not specific to Fleet and to ensure this isn't logged elsewhere for general-Kibana side.  If it is indeed not, we can remove Fleet labels and pass it to the general Kibana team for review .

[2022-01-14 19:31] TinaHeiligers opened #123080 "[7.17] Dashboard functional tests fail against 8.0"
When testing 7.17 against Elasticsearch 8.0:

**input controls tests**
[code]
The following tests fail (requires unskipping https://github.com/elastic/kibana/blob/no-include_type_name/test/functional/apps/dashboard_elements/input_control_vis/input_control_range.ts#L21)

- dashboard elements dashboard elements ciGroup10 input controls input control range should add filter with scripted field
- dash

[2022-01-14 19:31] elasticmachine commented on #123080
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-14 19:34] EricDavisX commented on #91804
I recommend this is still a useful exercise to perform, ideally we'd leave an Agent up for a period of time (hours or more) and hopefully perform various non-destructive testing / usage on it, and then check the error logs (and add issues for the new discrete error log messages we see).

I am un-assigning myself, but Diksha and Sagar will continue on the testing here for each minor / major release

[2022-01-14 19:35] mostlyjason commented on #108456
Can you explain how this affects agent enrollment on upgraded clusters? I believe we are not deleting any agent policies so users should be able to continue enrolling agents into the "default policy". We're not creating new default policies, but that shouldn't affect existing policies.

For the scenario when a new cluster is set up using automation, if they attempt to use the Fleet API to enroll a

[2022-01-14 19:36] lukeelmers opened #123081 "[7.17] Vega functional tests fail when run against ES 8.0"
When testing 7.17 Kibana against 8.0 Elasticsearch, we get some Vega-related failures from CI:

[code]

https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-0-forward-compatibility/builds/15

In 7.17, basic Kibana functions are still expected to work when run against ES 8.0, because during an upgrade process users will upgrade ES first. So we need to identify any failures from these builds a

[2022-01-14 19:36] elasticmachine commented on #123081
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-14 19:39] #121348 closed

[2022-01-14 19:44] lukeelmers opened #123082 "[7.17] Some CSV reporting tests fail when run against ES 8.0"
When testing 7.17 Kibana against 8.0 Elasticsearch, we get some CSV reporting-related failures from CI:

[code]

https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-0-forward-compatibility/builds/15

In 7.17, basic Kibana functions are still expected to work when run against ES 8.0, because during an upgrade process users will upgrade ES first.

So the ask here is to:
- investigate the fail

[2022-01-14 19:44] elasticmachine commented on #123082
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-14 19:48] lukeelmers opened #123083 "[7.17] Some UA & Stack Management tests fail when run against ES 8.0"
When testing 7.17 Kibana against 8.0 Elasticsearch, we get some UA & stack mgmt-related failures from CI:

**Index Management**
[code]
CJ believes these are known issues with Index Management's use of a deprecated ES API (https://github.com/elastic/kibana/issues/122933). Seb might know more about this.

**Upgrade Assistant**
[code]
CJ suspects that these failures are due to the test design. He doe

[2022-01-14 19:48] elasticmachine commented on #123083
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-14 19:50] chrisronline commented on #122362
cc @arisonl @kobelb for thoughts on this list for the first verison

[2022-01-14 19:59] lukeelmers opened #123084 "[7.17] Some Endpoint tests fail when run against ES 8.0"
When testing 7.17 Kibana against 8.0 Elasticsearch, we get some endpoint-related failures from CI:

[code]

https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-0-forward-compatibility/builds/15

In 7.17, basic Kibana functions are still expected to work when run against ES 8.0, because during an upgrade process users will upgrade ES first.

So the ask here is to:
- investigate the failures

[2022-01-14 19:59] elasticmachine commented on #123084
Pinging @elastic/esecurity-onboarding-and-lifecycle-mgt (Feature:Endpoint)

[2022-01-14 20:00] nreese commented on #121567
closed by https://github.com/elastic/elasticsearch/pull/82404

[2022-01-14 20:00] lukeelmers commented on #123084
Pinging @elastic/security-solution (sorry for hitting such a large group, I'm not sure which team owns these tests)

[2022-01-14 20:19] spong commented on #122013
Hrmm, still no luck reproducing against latest (commit 29165d54148cd4e5a56b352bc78c4f60e1ddf688). Still getting `404`'s, which are suppressed in the UI.

When you say `Build:9007199254740991` -- where is this build number coming from? I'm not seeing it over on https://buildkite.com/elastic. Do you have a corresponding commit hash from this build so I can verify I'm testing against the same? Thanks

[2022-01-14 20:42] tsullivan commented on #123082
@lukeelmers thank you for including the commands to run the test locally!

I am guessing these Reporting CSV tests are failing due to a problem with the test themselves. They error out as soon as I try to load the es archive: https://github.com/elastic/kibana/blob/no-include_type_name/x-pack/test/reporting_api_integration/services/scenarios.ts#L54

That triggers this rejection:
[code]

Is there an

[2022-01-14 20:50] ThomThomson commented on #123080
I'm still looking into the Input controls failure, but I've figured out what is causing the View Mode tests to fail. The view mode tests are for a feature `dashboard_only_user` which has been deprecated for a long time, but was finally [removed in 8.0.0](https://github.com/elastic/kibana/pull/108103). The reserved role was removed from Elasticsearch which is what is causing this failure. I am not

[2022-01-14 21:05] lukeelmers commented on #123080
@ThomThomson The goal is to have read operations in Kibana continue to work wherever possible when it is running against an 8.0 cluster. However, as this was a breaking change on the Kibana side as well, I'm not sure if there's really anything we can do to fix it since we can't just backport a breaking change to 7.17.

This might fall under the category of things we just need to document ("dashboa

[2022-01-14 21:13] gtback commented on #122654
It seems like this might be an issue specific to the RC:

https://github.com/elastic/kibana/blob/8.0/x-pack/plugins/security_solution/public/common/components/news_feed/helpers.ts#L23-L40

`v8.0.0.json` exists, but there's no RC-specific file, so requesting https://feeds.elastic.co/security-solution/v8.0.0-rc.json will return a 404. I'm guessing the best solution would be to strip any version suff

[2022-01-14 21:34] henrikno commented on #121167
I don't think this is an edge case, I think this should be the default when picking a date and clicking relative.

[2022-01-14 21:34] jsanz commented on #123066
This is a data issue. That dataset is known to have spurious points (including thousands in Null Island). @kertal was highlighting this recently 😁

[2022-01-14 21:37] TinaHeiligers commented on #123080
@ThomThomson  there's [another failure](https://buildkite.com/organizations/elastic/pipelines/kibana-7-dot-latest-es-8-dot-0-forward-compatibility/builds/13/jobs/b9f0c904-150c-4dec-80fb-b829e9b6e586/artifacts/51f8620a-68d0-4c61-8bf9-ea789c65b5e7) that's dashboard related in CI group19.

[2022-01-14 21:38] tsullivan commented on #122710
Root cause: this seems to be introduced by https://github.com/elastic/kibana/pull/119583

@Dmitriynj @kertal could you take a look?

[2022-01-14 21:39] jbudz commented on #121552
May be related to https://github.com/uhop/node-re2/issues/92

[2022-01-14 21:46] tsullivan commented on #122575
Root cause: this seems to be introduced by https://github.com/elastic/kibana/pull/119583

@Dmitriynj @kertal could you take a look?

[2022-01-14 21:50] jonathan-buttner opened #123089 "[ResponseOps][Cases] Alert attachments reference rule saved objects by id"
When a user attaches an alert to a case, the rule's information is saved in the case attachment saved object. The information that is saved is the `rule.id` and `rule.name` fields. The `rule.id` refers to a saved object's id field. This field will be modified when a user upgrades to 8.0.0 and will changes.

The case field that holds the information: https://github.com/elastic/kibana/blob/main/x-pa

[2022-01-14 21:50] elasticmachine commented on #123089
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-14 21:50] elasticmachine commented on #123089
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-14 21:54] XavierM opened #123090 "[RAM] Need to hide monitoring.* from our public API"
We will like to not return any `monitoring.*` fields from our rules saved object in our public API like GET and FIND. We will not allow any filtering/searching/filtering on `monitoring.*` fields.

We will create two new internal API GET/FIND which will return rule's monitoring information and we will allow filtering/searching/filtering functionality on top of our monitoring fields.

Route impacted

[2022-01-14 21:54] elasticmachine commented on #123090
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-14 21:54] betosales commented on #36266
I have exactly same issue here, to fixed that I do the rollback to 3.25.0 and everything works again.

[2022-01-14 21:57] cjcenizal commented on #123083
@lukeelmers If these turn out to be issues with test design, do we need to fix them and if so do we have a deadline?

[2022-01-14 22:02] cjcenizal commented on #122933
Let's pause any work on this until we've made a Kibana-wide decision on how to address these types of bugs.

[2022-01-14 22:04] #118875 closed

[2022-01-14 22:06] cjcenizal commented on #123083
@elastic/platform-deployment-management Let's investigate these failures, figure out what's causing them, and record that information here, but hold off on writing any code until we have a better understanding of what's required.

[2022-01-14 22:22] jen-huang commented on #108456
I think Jason is correct for the upgraded cluster scenario. We are not deleting any existing policies (default or otherwise) so any user automation should still work. There is the chance that their automation relies on the ability of Elastic Agent to pick up the "default policy" (without explicitly passing along a policy ID), but the flags that tell the agent which policy is the default policy is

[2022-01-14 22:29] ThomThomson commented on #123080
@TinaHeiligers, this latest one looks like a maps problem. I was able to look into it a little bit with @thomasneirynck .This seems like it's related to [this breaking change](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#changed-default-geo-shape-index-strategy).

I couldn't find the `tree` mapping that was causing the failure, because it looks like it

[2022-01-14 23:00] Heenawter commented on #122714
**FYI:** I was unable to replicate this on `main/8.0` locally so it seems to be a cloud-specific issue.

[2022-01-14 23:03] ThomThomson commented on #123080
Also for the controls failures, it looks like those tests were skipped in https://github.com/elastic/kibana/issues/113744 for 8.0 / Main for causing very similar failures to the ones we're running into here. I can't find any differences between 7.17 and 8.0.0 in the scripted fields which would cause this failure, but the `element non-interactive` error that causes the failure is due to an ES error

[2022-01-15 01:17] #116460 closed

[2022-01-15 08:24] philippkahr opened #123101 "The Searchbars throughout Kibana behave differently everywhere."
**Kibana version:** 7.16.3

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**

1. Explicit search is not working as expected. Searching for `logs-*` should only give everything that contains / starts with `logs-` but it also gives searches where `logs` is in the name.
2. Dashboard searchbar cannot deal with any non A-Z sign like `[`. Whe

[2022-01-15 10:49] samuelmr opened #123102 "timelion yaxis range not respected in dashboards"
**Kibana version:**
7.16.3
**Elasticsearch version:**
7.16.3

**Describe the bug:**
Even if you explicitly set vertical axis bounds for a Timelion chart, they are ignored when the chart is placed to a dashboard - at least when the height of the chart in the dashboard  is small. Probably related: https://github.com/elastic/kibana/issues/121890

**Steps to reproduce:**
1. Fresh install of elasticsea

[2022-01-15 11:14] samuelmr commented on #123102
Turning on `timelion:legacyChartsLibrary` in the advanced settings is a workaround.
Hopefully solving #121890 before removing legacy timelion (#116915) also solves this issue.

[2022-01-15 11:35] kibanamachine commented on #118728
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7772#c8d07fce-3754-4bb9-a0e6-ed7bf7e2d17a)

[2022-01-15 18:37] kibanamachine commented on #92567
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7791#2e5f2c3f-1852-48de-af38-be4436fc7130)

[2022-01-15 22:14] kibanamachine opened #123103 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Fleet preconfiguration rest Reset all policy Works and reset all preconfigured policies"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7802#82ce7cc6-ddb9-4a27-b6d0-f37c752d1bbc)

[2022-01-15 22:14] kibanamachine opened #123104 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Fleet preconfiguration rest Reset one preconfigured policy Works and reset one preconfigured policies if the policy is already deleted (with a ghost package policy)"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7802#82ce7cc6-ddb9-4a27-b6d0-f37c752d1bbc)

[2022-01-15 22:14] kibanamachine opened #123105 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Fleet preconfiguration rest Reset one preconfigured policy Works if the preconfigured policies already exists with a missing package policy"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7802#82ce7cc6-ddb9-4a27-b6d0-f37c752d1bbc)

[2022-01-16 11:11] fgjensen commented on #33959
Any new issue - Moment.js is outdated and Kibana should not use outdated libraries?

[2022-01-16 15:39] kibanamachine commented on #121044
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7855#4ddfc9fc-c9bc-48f4-bc47-a2aca7b25f0a)

[2022-01-17 00:46] dominiqueclarke opened #123108 "[Uptime] Discrepancy between number of down monitors reported in Donut chart vs monitor list table"
**Kibana version**: 8.1.0

**Elasticsearch version**: 8.1.0

**Original install method (e.g. download page, yum, from source, etc.)**: Source

**Description of the problem including expected versus actual behavior**:

The number of reported down monitors on the Donut chart differs from the number displayed in the monitor list. Table. Here, you can see that the table displays 10 down monitors, wher

[2022-01-17 00:46] elasticmachine commented on #123108
Pinging @elastic/uptime (Team:uptime)

[2022-01-17 00:47] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7883#e083d7ec-f638-4ecd-b15a-9eea05abae50)

[2022-01-17 01:10] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7883#10ccb930-bb2c-4a2f-81fc-2b188ff29a7c)

[2022-01-17 01:11] axw opened #123109 "[APM] agent config applied indicator does not work with Fleet integration"
### Kibana version

8.0.0

### APM Server version (if applicable)

8.0.0

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

1. Install APM Fleet integration
2. Run an instrumented service
3. Define agent config for that service
4. Wait until agent config has been received (tail agent logs)

### Expected Behavior

UI indicates agent config has been applied.

### Actu

[2022-01-17 01:11] elasticmachine commented on #123109
Pinging @elastic/apm-ui (Team:apm)

[2022-01-17 01:14] dominiqueclarke opened #123110 "[Uptime] UI Monitor Management - Loading error does not always appear when locations are unable to be fetched"
**Kibana version**: 8.1.0

**Elasticsearch version**: 8.1.0

**Original install method (e.g. download page, yum, from source, etc.)**: Source

**Description of the problem including expected versus actual behavior**:
When locations cannot be fetched for UI Monitor Management, a loading error does not always appear.

When locations are unable to be fetched, a loading error should appear.

![image (

[2022-01-17 01:14] elasticmachine commented on #123110
Pinging @elastic/uptime (Team:uptime)

[2022-01-17 01:15] axw commented on #123109
When running as a Fleet integration, agent config is delivered to APM Server rather than APM Server actively querying Kibana for the config. Thus, we cannot actively mark agent config as having been applied, as we did in the past. Instead, APM Server produces `agent_config` metric documents which the UI should search for.

The docs have the following fields that may be used:
- `metricset.name: age

[2022-01-17 01:45] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7884#cc941b82-782d-41ff-8366-1373d5027295)

[2022-01-17 02:00] kibanamachine commented on #119257
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7885#fbb3be3f-3158-42c2-8975-4a3df25d5f4a)

[2022-01-17 02:04] #121549 closed

[2022-01-17 02:09] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7884#e492379a-e290-4448-b047-7f97d121f3bf)

[2022-01-17 02:46] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7889#dfee5ea4-0c01-4fe4-a025-0c22b8c7a2dd)

[2022-01-17 03:10] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7889#a497a479-c4cc-4b45-92f6-cbfdff9eadbb)

[2022-01-17 03:46] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7890#97c9ecff-004b-4b86-9076-0b96cbc2ee28)

[2022-01-17 04:09] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7890#6620b707-6cb9-4ef4-af6e-558911e05505)

[2022-01-17 04:46] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7895#6a45907a-9a67-43b3-85d1-d7e9cb4bb34b)

[2022-01-17 05:10] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7895#527b2725-b1f5-4e40-a01f-7701e4102dd3)

[2022-01-17 05:40] deepikakeshav-qasource commented on #122157
Hi Team,

We have validated this issue on latest **8.0.0 SNAPSHOT** and observed that issue is **Fixed**. Please find below testing details:

- User is navigated to selected policy when create or change the policy from Add integration.

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/149711642-b50a565b-70b8-43a2-9f61-ea9e06da2ad1.mp4

Thanks!!

[2022-01-17 05:45] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7896#dabbc876-86c2-4cf3-b274-37880d4d3e2c)

[2022-01-17 06:09] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7896#2426c1e0-3409-4479-9f32-5d63a5b4f8e2)

[2022-01-17 06:11] deepikakeshav-qasource commented on #121169
Hi @MadameSheema ,

We have validated this issue on latest **8.0.0 SNAPSHOT** and observed that issue is **Fixed**. Please find below testing details:

**Build Details:**
[code]

**Screencast:**
![image](https://user-images.githubusercontent.com/61860752/149716681-87fe99dd-6e8d-402c-8f78-980ed9735071.png)

Hence, We are closing this issue and marking as QA Validated

Thanks!!

[2022-01-17 06:11] #121169 closed

[2022-01-17 06:39] karanbirsingh-qasource commented on #122211
Hi @academo thanks for the update.

we have validated this issue on 8.1.0-SNAPSHOT and found that issue is Fixed 🟢 as per the made decisions. Now Add to Lens is disabled for Lens Plugins.

**Build Details:**
[code]

**Snap-shoot:**

![image](https://user-images.githubusercontent.com/59917825/149719884-0a793921-4ab8-4d77-b67c-3d2eddcbca47.png)

![image](https://user-images.githubusercontent.com/599

[2022-01-17 06:39] #122211 closed

[2022-01-17 06:47] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7901#bacf2ec8-b1f2-4ee1-9c71-94824483cfdd)

[2022-01-17 06:58] #121930 closed

[2022-01-17 07:00] kibanamachine opened #123112 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/formula·ts - lens app lens formula should apply a global filter to the current formula"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7900#912ad44a-5084-4e88-b61b-4047c510ff4b)

[2022-01-17 07:09] elasticmachine commented on #122935
Pinging @elastic/ml-ui (:ml)

[2022-01-17 07:15] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7901#3bceaf47-a391-4594-99cf-b0ab3f38dd7b)

[2022-01-17 07:17] deepikakeshav-qasource commented on #122013
Hi @spong ,

Earlier latest changes were not merged to the cloud build. So we tested this ticket on `8.0.0 branch`.

We use the `localhost:5601/status` URL to check the build details.

Today, the latest changes are merged on cloud and we also tested the same on cloud build and facing the same issue.

Please find the below details:

**Build Details:**
[code]

**Screencast:**

https://user-images.gi

[2022-01-17 07:20] karanbirsingh-qasource commented on #122211
@academo just to update you the issue is still occuring on 8.0.0-SNAPSHOT , so we hope we are taking care of this bug fix backport to 8.0.0-SNAPSHOT too

[2022-01-17 07:35] deepikakeshav-qasource commented on #115330
Hi @academo Thank you for the update.

We have validated this issue on **8.1.0-SNAPSHOT** and found that issue is Fixed 🟢 as per the made decisions. Now Add to Lens is disabled for Lens Plugins.

**Build Details:**
[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/149726625-afcb7436-c366-4efc-b8a7-3b596f23b48d.png)

Could you please confirm are we taking care of

[2022-01-17 07:39] mtojek opened #123113 "[8.0] [8.1] Error: [config validation of [elasticsearch].username]: value of "elastic" is forbidden"
Hi Team,

this weekend we managed to build a new Docker image for Kibana, which was supposed to include a few fixes we're waiting for. Unfortunately, it brought another problem:

[code]

It's a huge blocker for [Elastic Integrations](https://github.com/elastic/integrations), as we're unable to start the development stack 8.0-SNAPSHOT and 8.1-SNAPSHOT. Last time we has a similar discussion with the

[2022-01-17 07:39] elasticmachine commented on #123113
Pinging @elastic/fleet (Team:Fleet)

[2022-01-17 07:47] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7902#0205996b-000c-419a-aa88-df0b026900eb)

[2022-01-17 07:48] molsza opened #123114 "After editing the security details of the user go back to the page where the edited user was"
**Describe the feature:**

After editing the security details of the user go back to the page where the edited user was. Now the view is reset to the 1 page, and it makes it inconvenient to editing multiple users and navigating.

**Describe a specific use case for the feature:**

* Navigate to `/app/management/security/users/`
* Have enough users to fill multiple pages (minimal 11, if you change t

[2022-01-17 07:51] mtojek commented on #123113
@jportner This [PR](https://github.com/elastic/kibana/pull/122722) caused a lot of troubles for us. Would you mind reverting it temporarily?

cc @pgayvallet @rudolf

[2022-01-17 07:53] juliaElastic commented on #108456
@mostlyjason @jen-huang
Thanks for your thoughts, you are right, existing policies are not being changed/removed, so on upgrade, we are not expecting any breaking change.
Only for new deployments, users would need to add a step to create a policy before enrolling agents.

Cloud deployments with version < 8.1 will not be affected, the change will be conditional for >= 8.1 versions only: https://git

[2022-01-17 07:54] gavinwye commented on #121756
@yctercero Hmm, interesting... I'll talk to the rest of @bfishel and the rest of @elastic/security-design tomorrow about this. IMO `Exception lists` is a more accurate description of the content on the page.

[2022-01-17 07:55] kertal commented on #122576
I'm fine removing the arrows of surrounding documents `Load` button for better consistency, wdyt @andreadelrio

[2022-01-17 08:00] pgayvallet commented on #123113
How much time are we talking about here? This **has** to go with 8.0.0-GA and 8.1.0

[2022-01-17 08:02] mtojek commented on #123113
What's the safe period on your side? We need ~1 week to research it and switch to service tokens.

[2022-01-17 08:04] stratoula opened #123115 "[Lens] Lower bound warning appears only on the left axis"
**Kibana version:**
main

**Describe the bug:**
In Lens we allow the users to add custom bounds but for a vertical bar for example, the bounds shound include zero. So for example if I select as a lower bound a value > 0 then a warning appears.

![image](https://user-images.githubusercontent.com/17003240/149729895-0d2d218f-ae00-4f75-a5f2-f06fbf34c95b.png)

If I change my axis position to the right

[2022-01-17 08:04] elasticmachine commented on #123115
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-17 08:09] pgayvallet commented on #123113
One week would probably be fine, but I'll let @jportner have the final word on this one.

Btw, why can't you just switch to using the `kibana` user instead? This one only logs a warning and would work.

[2022-01-17 08:10] mtojek commented on #123113
Let me check that if it's fine.

[2022-01-17 08:18] pgayvallet commented on #92689
As long as the space's name is hashed, this would be fine.

Still, as @Bamieh already said,

it would be great to have some insight on the expected usage of the data before deciding on a final shape.

[2022-01-17 08:28] pgayvallet commented on #120124
if `execution_context.enabled` is `false`, `getAsHeader` returns `undefined`,

https://github.com/elastic/kibana/blob/4681a80317176543535bfdb2188d94aa40d741fc/src/core/server/execution_context/execution_context_service.ts#L155-L156

which makes the ES client use the header value specified by `getScopedHeaders`.

If we modify the execution context service to return a static value when it's disabled

[2022-01-17 08:29] ruflin commented on #108456
Ok, it sounds like only fresh clusters will hit an automation issue here.

I assume you referring to the title here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/common/openapi/README.md I think this something we should urgently fix. One of the core principles when we built Fleet is to always have everything based on API's. Every feature that goes GA means the API must go GA to

[2022-01-17 08:33] kibanamachine opened #123116 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/single_metric_job·ts - machine learning anomaly detection single metric deletes the cloned job"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7907#9e9a1dc3-e32b-4412-8ad1-00078e296871)

[2022-01-17 08:38] #122910 closed

[2022-01-17 08:46] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7907#455d4362-e4d3-47c9-9e78-768891b3e3bb)

[2022-01-17 08:46] mtojek commented on #123113
@pgayvallet I tried your suggestion to use `kibana_system` and it failed with:

[code]

Is it something we can easily workaround with config?

[2022-01-17 08:48] deepikakeshav-qasource commented on #120596
Hi @MadameSheema

We have validated this issue on latest **8.0.0 SNAPSHOT** and observed that issue is **Fixed**. 🟢

Please find below testing details:

- Able to investigate the threshold alerts

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/149736854-50451cc5-a6b3-4406-874d-4023520a37a8.mp4

Hence, we are closing this issue and marking as QA Valid

[2022-01-17 08:53] muskangulati-qasource commented on #123017
Hi @kevinlog,

Yes, the issue is only occurring when we have special characters in the namespace. Sorry for the confusions!

Thanks!

[2022-01-17 09:09] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7907#7def79e2-b393-4ec5-b25e-a083cdc51bc9)

[2022-01-17 09:09] molsza opened #123118 "[APM] On Traces page only traces from main type are presented from each service"
### Kibana version

7.16.2

### APM Server version (if applicable)

7.16.2

### Elasticsearch version (if applicable)

7.16.2

### Steps to Reproduce

Index some transactions for specific service in a way that you have a multiple types of it (like request and messaging). Open the Traces page `/app/apm/traces` and you can see that only transactions of one type are visible.

### Expected Behavior

A

[2022-01-17 09:09] elasticmachine commented on #123118
Pinging @elastic/apm-ui (Team:apm)

[2022-01-17 09:10] JordanSh opened #123119 "[csp_task] [FE] [BE] Risks Panel"
**Motivation**

As part of the dashboard's planned changes in sprint 5, the dashboard will benefit from a `Table Component` which will be used for the `Risks` panel.

**Definition of done**

- `Resource ID` should be added to BE
- Risk panel should be displayed in a table view

**Optional Tasks**

- `View Findings` button should navigate to findings
- `Resource ID` column items should be clickable

[2022-01-17 09:13] JordanSh commented on #123119
sorry was open by mistake in the wrong place

[2022-01-17 09:13] #123119 closed

[2022-01-17 09:21] Bamieh commented on #120422
@afharo We are caching usage for 4 hours so any failed collectors will not be reported until the next caching cycle. This is not a bug but by how we've implemented the caching logic which worked at the top level of the service.

It makes sense to disable caching for unencrypted requests to resolve this.

[2022-01-17 09:26] elasticmachine commented on #123112
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-17 09:26] #122948 closed

[2022-01-17 09:26] elasticmachine commented on #50460
Pinging @elastic/kibana-graph (Feature:Graph)

[2022-01-17 09:26] elasticmachine commented on #50460
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-17 09:27] elasticmachine commented on #50337
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-17 09:27] #120137 closed

[2022-01-17 09:29] Bamieh commented on #123021
We are caching usage for 4 hours so any failed collectors will not be reported until the next caching cycle. This is not a bug but by how we've implemented the caching logic which worked at the top level of the service.

I'm also +1 on this approach.

Since we already sending 1 daily report the caching is only useful now for retry logic and such hence disabling it will resurface some issues there

[2022-01-17 09:36] flash1293 commented on #50337
Seems like flakiness of the CI

[2022-01-17 09:36] #50337 closed

[2022-01-17 09:38] pheyos commented on #123016
This has already been fixed in #123025, the failing build above ran a few hours before the fix was merged.

[2022-01-17 09:38] #123016 closed

[2022-01-17 09:39] flash1293 commented on #123112
Just like the other one, this test uses `PageObjects.header.waitUntilLoadingHasFinished` but should actually use `PageObjects.lens.waitForVisualization` - the former is not waiting for the vis to update, but the former does.

[2022-01-17 09:46] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7908#90cd8ca8-b5db-4652-884c-6fa68f3b9894)

[2022-01-17 09:56] karanbirsingh-qasource commented on #120898
@MadameSheema i have checked this issue and its been present on old builds too as in 7.16.3 so i am not sure this [#122958](https://github.com/elastic/kibana/issues/122958) can be the reason for this issue . However we will be keeping any eye on this issue too.

![image](https://user-images.githubusercontent.com/59917825/149747927-0b418aad-0eff-4499-becf-cc76d50236f9.png)

[2022-01-17 10:06] amolnater-qasource commented on #122290
Hi @juliaElastic
We have revalidated the docs and found it **fixed** now.
- Install command is available with "--fleet-server-insecure-http" flag for self-managed 7.16.x under docs.

**Screenshot:**
![10](https://user-images.githubusercontent.com/77374876/149738056-bcf1d8df-df39-471f-b4bb-eb967f1d4e02.JPG)

Thanks

[2022-01-17 10:06] rudolf commented on #123021
This means metricbeat could still add a lot of usage collection load. Does metricbeat call this API when you enable monitoring for a Kibana cluster, or do users need to specifically configure this? How often will metricbeat hit this API? We should ensure that a common feature like monitoring a Kibana cluster doesn't end up adding a lot of additional load.

[2022-01-17 10:09] mgiota commented on #121275
@drewpost @vinaychandrasekhar I put here the exact reason message we currently have for the 3 cases you wrote above to be sure we are on the same page:

1. Monitor `My Monitor - inline` with url `https://www.elastic.co/` is `down and also below threshold with 50% availability expected is 90%` from `au-heartbeat`. The latest error message is `error executing step: TimeoutError: page.goto: Timeout 3

[2022-01-17 10:10] peteharverson commented on #119443
Closing as fixed by #122306

[2022-01-17 10:10] #119443 closed

[2022-01-17 10:18] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7908#a1cc2336-0942-47cf-9121-72bed478f948)

[2022-01-17 10:19] MadameSheema commented on #120898
thanks @karanbirsingh-qasource!! can you please confirm if the issues is fixed on main branch?

[2022-01-17 10:25] mshustov opened #123127 "[Meta] Kibana v7.last test suits are compatible with ES v8.x"
After https://github.com/elastic/kibana/pull/122627 Kibana `v7.last` must be compatible with ES `v8.x`.
The Operations team added a CI check to verify the compatibility on CI.
Some functional tests using deprecated API (removed in `v8.0`) started failing. You can find the actual list of failing test suites [here](https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-0-forward-compatibility)
h

[2022-01-17 10:25] elasticmachine commented on #123127
Pinging @elastic/kibana-core (Team:Core)

[2022-01-17 10:26] academo commented on #115330
The backport PR for 8.0 https://github.com/elastic/kibana/pull/123124

[2022-01-17 10:26] academo commented on #122211
The backport PR for 8.0 https://github.com/elastic/kibana/pull/123124

[2022-01-17 10:27] karanbirsingh-qasource commented on #122211
thanks @academo 👍

[2022-01-17 10:29] DziyanaDzeraviankina commented on #116913
Closing this issue as the bug was fixed in https://github.com/elastic/kibana/pull/104422

[2022-01-17 10:29] #116913 closed

[2022-01-17 10:32] MadameSheema commented on #120863
@deepikakeshav-qasource can you please check if this issue is still happening on latest 8.0 branch? Thanks!

[2022-01-17 10:33] deepikakeshav-qasource commented on #120872
Hi @banderror Thank you for the update

We have validated this issue on latest **8.0.0 SNAPSHOT** and observed that issue is **Fixed** as per the PR. Please find below testing details:

- Able to see the Details of rule if rule is failing and able to enable or disable the rule.

**Build Details:**
[code]

**Screencast:**
![image](https://user-images.githubusercontent.com/61860752/149747243-0c008ff

[2022-01-17 10:38] ruflin commented on #108456
Thinking about this again, this will very likely break ECK (@david-kow ) and elastic-package (@mostlyjason @jsoriano ). Before this changes goes in, please coordinate with these teams to make sure their services are not suddenly broken.

[2022-01-17 10:41] MadameSheema commented on #122111
@deepikakeshav-qasource can you please validate the fix of this issue on 7.17 and 8.0 branch? Thanks!

[2022-01-17 10:45] mshustov opened #123129 "[7.17] Security tests fail against Elasticsearch v8.0"
When testing 7.17 against Elasticsearch 8.0.
The  `[job] [logs] Default CI Group #7 / security app users should show the default roles` test fails. with

[code]

See https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-0-forward-compatibility/builds/19
We need to verify it's not a regression preventing rolling upgrades (when Kibana `v7.last` is running against Elasticsearch `v8.x`) and fix t

[2022-01-17 10:45] elasticmachine commented on #123129
Pinging @elastic/kibana-security (Team:Security)

[2022-01-17 10:45] Bamieh commented on #123021
@rudolf metricbeat uses a different API (stats API) which is not cached. The caching mechanism we introduced is solely for our telemetry.

We'd need to coordinate with folks consuming this API before we introduce any caching mechanisms to the collectors there (CC @seanstory @yakhinvadim). Adding a caching layer on the stats API might be awkward since users might be expecting more 'real-time' data

[2022-01-17 10:46] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7913#ca2608c1-e499-411d-a8ff-31b63d6c7631)

[2022-01-17 10:47] janmonschke commented on #122111
@MadameSheema It appears the autp0backport to 7.17 didn't work, so I've added a manual backport here: https://github.com/elastic/kibana/pull/123130

[2022-01-17 10:48] ppisljar opened #123133 "[Maps] maps stores searchosurceparams...."
Maps stores searchsource configuration and should correctly use searchsource migration and reference extraction/injection persistable state utilities

partially addresses https://github.com/elastic/kibana/issues/116098

[2022-01-17 10:50] elasticmachine commented on #123133
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-17 10:51] MadameSheema commented on #122111
Thanks @janmonschke!! :)

@deepikakeshav-qasource for now just check it on 8.0 branch until the fix got merged into 7.17, thanks!

[2022-01-17 10:54] joshdover commented on #122700
I think we need to be smarter about which types of exceptions we catch and decide to attempt a rollover. Today we just try to execute a rollover if any exception happens during the putMappings call: https://github.com/elastic/kibana/blob/314ae9a9617d40263345b8e2ee3b3c99cb6c2a2d/x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts/#L528-L540

Instead, I think we should only a

[2022-01-17 10:54] elasticmachine commented on #123127
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-17 10:54] mtojek commented on #123113
Ok, so I tried to [switch](https://github.com/elastic/elastic-package/pull/650) to service tokens and failed with:

[code]

@pgayvallet Is there something I missed here?

[2022-01-17 10:54] dikshachauhan-qasource opened #123135 "[Enhancement]: Remove Add agent option duplicacy under Fleet>Policies tab"
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.
2. No agent should be installed under Default policy.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Fleet> Policies>Integrations/Settings tab.
- Observe, a

[2022-01-17 10:55] elasticmachine commented on #123135
Pinging @elastic/fleet (Team:Fleet)

[2022-01-17 10:55] dikshachauhan-qasource commented on #123135
@manishgupta-qasource Please review

[2022-01-17 11:05] MadameSheema commented on #120898
@karanbirsingh-qasource can you please check it again on 8.0 and also in main branch? Thanks

[2022-01-17 11:07] karanverma-qasource opened #123136 "[Security Solution] Able to create Detection rules with 0 seconds schedule run."
**Describe the bug:**
Able to create a Detection rule with 0 seconds schedule run.

[code]

**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce:**

1. Navigate to Rules under security tab.
2. Click on create new rule.
3. Select the Custom query rule.
4. Enter all the fields and set the Runs every timer to 0 seconds under schedule t

[2022-01-17 11:07] elasticmachine commented on #123136
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-17 11:10] afharo commented on #123021
@rudolf Metricbeat should not collect usage anymore starting `7.11.0`: https://github.com/elastic/beats/pull/22732

Prior to that version, it should collect it only once every 24h. So, even if the user runs a previous version of Metricbeat, it shouldn't cause too much of an issue (or we can suggest them to upgrade their Metricbeat agent).

@Bamieh I think that the change needs to occur to the `GET

[2022-01-17 11:15] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7913#64214a72-c5e3-44e2-963d-3069fa801d95)

[2022-01-17 11:16] #122806 closed

[2022-01-17 11:16] kertal commented on #122665
confirmed, it should be rendered without brackets and quotation marks, thx!

[2022-01-17 11:16] #122809 closed

[2022-01-17 11:19] karanverma-qasource opened #123138 "[Security Solution] Double navigation links are present under security news section for each article."
**Describe the bug:**
Double navigation links are present under security news section for each article.

[code]

**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Overview tab under Security section.
2. Go through the Security News section.
3. Double navigation link is there for every article.

**Expected Result

[2022-01-17 11:19] elasticmachine commented on #123138
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-17 11:23] #122850 closed

[2022-01-17 11:24] #122829 closed

[2022-01-17 11:42] karanbirsingh-qasource opened #123140 "[Security Solution]Agent Status showing as Unenrolled under Alert details under 8.0.0-SNAPSHOT Setup"
**Describe the bug**
Agent Status showing as `Unenrolled `under Alert details under `8.0.0-SNAPSHOT` Setup

**Build Details**
[code]

**Steps**

**Child Build**
- Install Agent + Endpoint on the Build

![image](https://user-images.githubusercontent.com/59917825/149761646-5648c7bf-b525-4bdd-a5ad-7a9842588aea.png)

- Generate some detection alert on it and check the agent status in alert details und

[2022-01-17 11:42] elasticmachine commented on #123140
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-17 11:47] dasansol92 commented on #123140
Hi @karanbirsingh-qasource , is the agent status `healthy` on the endpoint list under management tab or is the status `unhealthy` everywhere? (included on the agents list under the fleet tab)
Thanks!

[2022-01-17 11:48] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7914#5121fe55-72bb-44b2-8537-99be511ae0c6)

[2022-01-17 11:49] manishgupta-qasource commented on #123135
Reviewed & assigned to @jen-huang

[2022-01-17 11:50] manishgupta-qasource commented on #123140
Reviewed & assigned to @MadameSheema

[2022-01-17 11:53] karanbirsingh-qasource commented on #123140
Hi @dasansol92  thanks for your quick response . please find below details.

- Child

_Agent is only installed on Child build and yes status of it is active_

![image](https://user-images.githubusercontent.com/59917825/149764643-73049d09-ee77-40d1-8e9b-9976cc3786cc.png)

![image](https://user-images.githubusercontent.com/59917825/149764887-36974b1e-6463-4252-af11-851cf8884e96.png)

- Parent

_No a

[2022-01-17 11:58] hsm-ci opened #123142 "Plot all values with a lens"
**Describe the feature:**
What we do right now is that we use the "last_value" aggregation with a low time interval to hopefully display all values. However, this is kind of error prone,,, Using Vega and/or a canvas is possible, but having a "none" aggregation in a lens, would be much easier.

**Describe a specific use case for the feature:**
We have some data for which we need to display all valu

[2022-01-17 12:06] Dosant commented on #98098
No activity for a while

[2022-01-17 12:06] #98098 closed

[2022-01-17 12:08] Dosant commented on #91239
close as duplicate of https://github.com/elastic/kibana/issues/119660 where we will unskip the suite

[2022-01-17 12:08] #91239 closed

[2022-01-17 12:09] juliaElastic commented on #108456
One more dependency was raised:
Azure VM extension relies on default policy to be present: https://github.com/elastic/azure-vm-extension
It has to be updated to create a default policy with API if not exists. (@ravikesarwani )

[2022-01-17 12:11] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7914#79206f4c-addb-44c4-81b6-b87c2be84e76)

[2022-01-17 12:12] deepikakeshav-qasource commented on #122111
Hi @MadameSheema ,

We have validated this issue on latest **8.0.0 Branch** and observed that issue is **Fixed**. Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/149767311-8c9d6ea1-9913-474a-8ac2-ce0c4898028d.mp4

Thanks!!

[2022-01-17 12:12] Dosant commented on #98417
close as a duplicate of #119660 where we will unskip the suite

[2022-01-17 12:12] #98417 closed

[2022-01-17 12:13] lizozom opened #123144 "APM data shows telemetry being called ~30 times a day"
We recently enabled APM on the `overview-aws-eu-west-1` kibana (QA environment used to monitor all the other QA deployments).
While analyzing the data, I noticed something interesting and after talking to @Bamieh I wanted to open an issue to track this.

This cluster is running 7.16.0 (meaning https://github.com/elastic/kibana/pull/117955 is already merged into it) and it seems like it's calling t

[2022-01-17 12:17] kertal commented on #122645
confirmed, researching the reason for this behavior

[2022-01-17 12:23] MadameSheema commented on #123136
@karanverma-qasource can you please confirm if this is possible on 7.16.3 and 7.17 as well? Thanks

[2022-01-17 12:25] lizozom opened #123146 "[APM] RUM events call returns "queue is full""
### Kibana version

7.16

### APM Server version (if applicable)

7.16

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

_No response_

### Expected Behavior

_No response_

### Actual Behavior

We enabled APM data collection for the QA overview cluster.
While working with it, I noticed that occasionally, RUM events fail with the following errors:

![image](https:/

[2022-01-17 12:25] elasticmachine commented on #123146
Pinging @elastic/apm-ui (Team:apm)

[2022-01-17 12:26] deepikakeshav-qasource commented on #120863
Hi @MadameSheema ,

We have validated this issue on latest **8.0.0 Branch** and observed that issue is **Still occurring**. Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/149768837-ac0f7267-1514-4bb1-94aa-58f8ebc80f9e.mp4

Thanks!!

[2022-01-17 12:26] karanbirsingh-qasource commented on #120898
HI @MadameSheema issue is still occuring on 8.0.0-SNAPSHOT and main branch too.

- main branch

![image](https://user-images.githubusercontent.com/59917825/149767365-fc10b875-52d8-48e7-959a-85a2d532e28e.png)

https://user-images.githubusercontent.com/59917825/149767393-a9757f3a-74f4-4447-a870-caeac161e856.mp4

- 8.0.0-SNAPSHOT

[code]
![image](https://user-images.githubusercontent.com/59917825/149

[2022-01-17 12:33] elasticmachine commented on #123144
Pinging @elastic/kibana-core (Team:Core)

[2022-01-17 12:33] dikshachauhan-qasource commented on #103634
Hi @EricDavisX

This issue is still noticeable on our machines. So we are tagging Kibana team for review.

Thanks
QAS

[2022-01-17 12:33] elasticmachine commented on #103634
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2022-01-17 12:53] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7918#b3393790-f462-4f60-94a1-d24bced8ab01)

[2022-01-17 12:55] karanverma-qasource commented on #123136
Hi @MadameSheema ,

We have checked above issue on 7.16.3 and 7.17.0 build and it's occurring on both builds.

[code]

[code]

**7.16.3 Screenshot**

![image](https://user-images.githubusercontent.com/91867110/149772170-994c08f2-ebea-4cd3-90d5-fa201112a21a.png)

**7.17.0 Screenshot**

![image](https://user-images.githubusercontent.com/91867110/149772249-f4ed196c-0e8b-4504-9b6e-1e831d686709.png)

T

[2022-01-17 13:07] jportner commented on #123113
@mtojek i made the change to fail fast at config time because Kibana will not work anymore due when configured with the elastic super user — this is due to an elasticsearch change (elastic/elasticsearch#81400).
I’m pretty sure if I reverted that PR, you’d still have a problem on your hands 😔

[2022-01-17 13:17] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7918#4529c8b9-8a59-4da7-acc7-b88021549762)

[2022-01-17 13:21] darnautov commented on #122300
@ThomThomson Yes, sounds good. Can you please point out an example with the usage of the embeddable transfer state service with the Dashboard app?

[2022-01-17 13:27] elasticmachine commented on #123102
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-17 13:27] joshdover opened #123150 "[Fleet] Prepare Fleet API for promotion to GA"
One design goal of Fleet is to be 100% API-based in our business logic. This allows for easy external integration and management of the Fleet platform and paves the way for future 1st class features, such as Infrastructure-as-Code (IaC) tooling support (Terraform, etc.).

Today, Fleet publishes an [OpenAPI spec](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/common/openapi/README

[2022-01-17 13:28] stratoula commented on #123102
@samuelmr thanx for submitting this! As you mention we already track it here https://github.com/elastic/kibana/issues/121890.

I am closing it as a duplicate :)

[2022-01-17 13:28] #123102 closed

[2022-01-17 13:30] joshdover commented on #108456
This requires that the user used by the VM extension has access to the Kibana/Fleet API for creating an agent policy. This user can either be a superuser or, assuming https://github.com/elastic/kibana/pull/122347 makes it for 8.1 as well, the user can have Fleet privileges granted. I'm not sure what the current privilege requirements are today, but I hope this wouldn't be a problem.

I suspect it

[2022-01-17 13:31] afharo opened #123151 "Usage tracking increments should be non-blocking"
Analyzing some APM data, I noticed that we are increasing the usage counter and `await`ing the request to complete. This blocks the normal execution of the code.

https://github.com/elastic/kibana/blob/f4b117a276a98745fda41546613adb72d5c0d17d/src/core/server/saved_objects/service/lib/internal_bulk_resolve.ts#L215-L220

@jportner as the dev who implemented this. Any reasons to await this but not th

[2022-01-17 13:31] elasticmachine commented on #123151
Pinging @elastic/kibana-core (Team:Core)

[2022-01-17 13:36] joshdover commented on #108456
@narph Would be able to comment on how feasible it is for the VM extension to make this API call above?

[2022-01-17 13:38] elasticmachine commented on #122968
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-17 13:44] kibanamachine commented on #115488
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7921#dceb22fc-cfa8-4aeb-9761-f5caa130051c)

[2022-01-17 13:48] afharo opened #123154 "[Maps] Usage collector is refreshing the Data Views on every run"
Passing the parameter `true` in this method causes all the Data Views to be refreshed. Causing an important hit in performance. Especially for large clusters.

https://github.com/elastic/kibana/blob/586a8fd9fafc50e33850ff5b2c36100f3a99de2e/x-pack/plugins/maps/server/maps_telemetry/index_pattern_stats/index_pattern_stats_collector.ts#L58

APM data that highlighted this issue:
![image](https://user-

[2022-01-17 13:49] elasticmachine commented on #123154
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-17 13:50] stratoula commented on #122968
This seems legit to me.
One note on this. If `Dashboard:save` is allowed this should be available though, because the user can navigate from the visualize library, create a viz and then embed it as a by value chart in a dashboard.

But if `dashboard:save` and `visualize:save` are disabled, I don't think that there is any reason to allow the users to create a new viz.

@flash1293 wdyt? Am I missing

[2022-01-17 13:56] stratoula opened #123156 "[Lens] Remove nested legend option from waffle"
**Kibana version:**
8.1 - Not released yet

**Describe the bug:**
Nested legend switch is available on waffle partition chart but it doesn't affect the legend as I cant have a waffle with a nested legend.

We should remove it specifically for waffles because it might cause confusion to the users or disable it with a tooltip.

![image](https://user-images.githubusercontent.com/17003240/149781627-33