[2021-01-14 15:25] #15046 closed

[2021-01-14 15:27] chrisronline commented on #81020
@ravikesarwani Sure, sounds good

[2021-01-14 15:27] joshdover commented on #72325
Since we have not been able to reproduce and there were no follow on reports, I am closing.

[2021-01-14 15:27] #72325 closed

[2021-01-14 15:29] mostlyjason commented on #76843
For an individual agent action an error message would work fine, but what about bulk actions? Rather than showing individual errors for each agent that fill up the screen, it'd be nice to have a single error. Perhaps something like this?

We can do something more sophisticated like showing which agents are affected, but we can do it later.

[2021-01-14 15:32] joshdover commented on #82877
Since `currentAppId$` was only intended for consumption by reporting services like Telemetry, this usage is a bit unintended. I'm going to remove the bug label, but we could also consider just closing this if @ThomThomson you were able to find a workaround.

[2021-01-14 15:33] #71577 closed

[2021-01-14 15:34] joshdover commented on #84864
Duplicate of #79189

[2021-01-14 15:34] #84864 closed

[2021-01-14 15:38] bhavyarm commented on #88296
We could reproduce it consistently while scrolling.

[2021-01-14 15:40] joshdover opened #88345 "Advanced settings UI does not support localized search terms"
Related to #56498

Search terms for advanced settings cannot be localized. @afharo to validate how this all hooks together.

[2021-01-14 15:40] elasticmachine commented on #88345
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-14 15:41] legrego commented on #87901
I think `localStorage` and `sessionStorage` should cover our needs.

[2021-01-14 15:41] bhavyarm commented on #88296
I can reproduce this on 7.10.1 too.

[2021-01-14 15:48] LeeDr commented on #88296
I'm on Dell laptop running Windows 10.
I can't reproduce it using my mouse unless I also move the scroll wheel at the same time.
I couldn't reproduce it at all using the trackpad.

[2021-01-14 15:48] formgeist commented on #84526
I've been discussing with the (RUM) UX app team about how this affects the UI filters in that application and I imagine we'd need to move over the UI filters code as they will continue to use them in lieu of not having a search bar and there's no replacement for the filtering experience at this time. Any thoughts @sqren ? cc @shahzad31

[2021-01-14 15:52] jportner commented on #88325
Notes on the workaround in versions >= 7.11.0...

As of Kibana 7.11, the default `server.ssl.supportedProtocols` is `TLSv1.1, TLSv1.2, TLSv1.3`, as stated [in the docs](https://www.elastic.co/guide/en/kibana/7.11/settings.html).

In addition to the Kibana configuration, Node restricts the minimum TLS version that can be used. Kibana 7.11 ships with Node 14, which uses a minimum of TLSv1.2 by defau

[2021-01-14 15:54] #88282 closed

[2021-01-14 15:59] nickofthyme opened #88354 "Scaled interval not used in filter action"
**Kibana version:**
`master`

**Describe the bug:**
When creating a histogram chart in visualize. Setting an explicit interval of

**Steps to reproduce:**
1. Load kibana sample flight data
2. go to this [example](http://localhost:5600/app/visualize#/create?type=histogram&indexPattern=d3d7af60-4c81-11e8-b3d7-01146121b73d&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-90d,to:now))

[2021-01-14 16:00] rudolf commented on #32237
Without continuous polling we can't detect an index being changed/restored and unless the polling window is really small we won't be able to prevent the problems from happening. So I don't think we will ever be able to support Kibana running while it's indices are removed/restored to a previous version, but we should aim to reduce the impact.

To reduce the impact:
 - Kibana will stop auto-creatin

[2021-01-14 16:03] rudolf commented on #65612
Once we complete https://github.com/elastic/kibana/issues/75780 Kibana will only create a new index once for every version. So although Kibana will still attempt to migrate such a document every time it's restarted, it won't create new indices.

[2021-01-14 16:04] elasticmachine commented on #86320
Pinging @elastic/kibana-core (Team:Core)

[2021-01-14 16:05] rudolf commented on #68913
Will be done as part of https://github.com/elastic/kibana/issues/75780

[2021-01-14 16:09] #88274 closed

[2021-01-14 16:13] cjcenizal commented on #38942
@joshdover Do we already have a system in place for testing doc links and ensuring they're valid? If not do you think this is worth testing?

[2021-01-14 16:19] #88267 closed

[2021-01-14 16:19] #88286 closed

[2021-01-14 16:19] mostlyjason commented on #76843
As for exposing this in the UI beyond the error messages such as in the agent policy settings, can we track that on a separate issue? That allows us to prioritize/implement it separately.

[2021-01-14 16:36] #85603 closed

[2021-01-14 16:51] gmmorris opened #88367 "[Alerting] Alerting RBAC relies on complex queries that exceed the default max depth of nested bool queries"
ES have backported https://github.com/elastic/elasticsearch/commit/9169e5ae3339643808410781ee4886d6ced9b841 to 7.x and it is tripping up over the complexity of the bool filters created by `AlertsAuthorization.getFindAuthorizationFilter()`.

The new limits on bool query nesting is set to 20 by default... Seems likely that bool could extend past 20 levels deep due to the complexity of our RBAC.

@sp

[2021-01-14 16:51] elasticmachine commented on #88367
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-14 16:57] azasypkin opened #88368 "Restore "Secure Spaces" messaging"
**Kibana version:** 7.11.0

**Describe the bug:** in 7.11.0 we removed circular dependency between Spaces and Security plugins, but accidentally forgot to migrate "Secure Spaces" messaging functionality.

**Expected behavior:** Spaces management screens should offer user to secure Spaces with our security features.

**Any additional context:** To unblock our migration to dedicated TS projects we r

[2021-01-14 16:57] elasticmachine commented on #88368
Pinging @elastic/kibana-security (Team:Security)

[2021-01-14 16:58] gmmorris opened #88369 "[Task Manager] Shift mechanism can cause a cascade throughout a cluster"
In 7.11 we've [introduced](https://github.com/elastic/kibana/commit/5e4402c37453a6cc0f0bf1c7e80375ccc0d005e2) a _self-balancing_ mechanism into Task Manager so that multiple Kibana can detect when their task claiming is causing _version_conflicts_ and shift their polling mechanism to avoid this.

While this has helped by improving the performance of the Alerting Framework, it has also introduced a

[2021-01-14 16:58] elasticmachine commented on #88369
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-14 17:01] sqren commented on #84526
I think it should be doable to only remove ui filters from the APM codebase.

[2021-01-14 17:08] igoristic commented on #85841
@Zacqary [This](https://github.com/elastic/kibana/issues/85841#issuecomment-755475827) won't work for triggering the alert. This is because that number/value is actually a cumulative counter. So, by the time you test the query it will be replaced by a more recent document that has it set as zero, thus you won't get the min and max delta that the query was designed for.

The only way to do this is

[2021-01-14 17:17] #85883 closed

[2021-01-14 17:46] timroes commented on #11790
@mmguero We just announced a license change for Elasticsearch/Kibana: https://www.elastic.co/blog/licensing-change Going forward all Kibana distributions will contain Lens.

[2021-01-14 17:47] mmguero commented on #11790
That is terrific news! Thank you for the update!

[2021-01-14 17:50] spalger commented on #88367
FYI, the override of the max depth had to be applied globally to the ES instances started by `@kbn/es`, which makes this temporary fix an absolute non-starter as a possible solution for 7.12.

[2021-01-14 18:02] TinaHeiligers commented on #86162
@pgayvallet In my draft for this work, I've gone with logging the data under the `info` level, as this makes it compatible with legacy logging.

[2021-01-14 18:04] spalger commented on #88134
Okay, that makes more sense. This package is not maintained or supported by the Kibana team or Elastic. I think you would be better served by installing Kibana using the options available from https://www.elastic.co/downloads/kibana. Doing so will use a dedicated version of Node.js just for Kibana, which means it won't produce any conflicts with Node versions required by other things running on yo

[2021-01-14 18:12] droberts195 commented on #85129
It's only permitted to use this option when per-partition categorization is enabled, and it only stops categorization for those partitions where the status is `warn`.  The idea is that each partition is a particular type of log file.  You feed them all in and after a while categorization is ignoring the types of log file where it didn't work well but continuing on the types where it did work well.

[2021-01-14 18:18] MadameSheema commented on #81189
reopening the ticket in order to don't forget to validate it in 7.12.0-BC1

[2021-01-14 18:19] paulb-elastic commented on #88223
Discussed in the design sync:
* We will do this under 7.11 as there is concern that users won’t even know they can get to the new waterfall chart
* Leave the current link from the step name, but add a primary button above step script with the label "View performance breakdown"

![image](https://user-images.githubusercontent.com/70908889/104632041-093c6180-5695-11eb-8530-45f6542b2458.png)

[2021-01-14 18:26] paulb-elastic opened #88382 "[Uptime] Don’t show both UP and DOWN badges on the overview page"
As discussed in the design sync, showing both UP and DOWN badges when expanding the monitor on the overview page is confusing

![image](https://user-images.githubusercontent.com/70908889/104632707-042be200-5696-11eb-96ef-aa2db2bd0fdc.png)

This should only show the last test result.

[2021-01-14 18:26] elasticmachine commented on #88382
Pinging @elastic/uptime (Team:uptime)

[2021-01-14 18:28] MrKuip commented on #35860
stale!

[2021-01-14 18:32] paulb-elastic commented on #80156
Added a reference to https://github.com/elastic/kibana/issues/88223 to ensure we use the same implementation for the click through to the waterfall chart

[2021-01-14 18:35] paulb-elastic commented on #80156
For clarity, as discussed in the design sync, this new page will be accessible by clicking on the time of the test rom the history view:
![image](https://user-images.githubusercontent.com/70908889/104633537-2ffb9780-5697-11eb-8a1b-c06bad14831d.png)

[2021-01-14 18:57] BaconFries opened #88384 "[Embeddable] Disable greying out visualizations while they update"
**Describe the feature**:
Please provide the ability to disable greying out visualizations while they update.

[2021-01-14 19:04] kibanamachine opened #88385 "Failing test: Firefox UI Functional Tests.test/functional/apps/dashboard/dashboard_save·ts - dashboard app using legacy data dashboard save Does not warn when you save an existing dashboard with the title it already has, and that title is a duplicate"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11026/)

[2021-01-14 19:14] chrisronline commented on #85990
@afgomez Per the slack thread, we need to make additional changes here.

Cloud is now using Metricbeat to collect and ship monitoring data so users should not see any option to enable it via cluster settings. In addition, there really isn't any error message we can show now as Kibana does not have knowledge of Metricbeat or any potential issues there. This test needs to change to simply verify the

[2021-01-14 19:18] alex-fedotyev commented on #87673
Do we already have an issue for adding anomalies to the latency timeline in 7.12?
I can't find one for anomalies, though found one for alerts.

![image](https://user-images.githubusercontent.com/61838744/104637394-95c92e80-5659-11eb-908d-9c3e11f30a3d.png)

And I do agree that we should show both "yellow" and "red" anomalies on the same timeline, to visualize how issue was progressing over time.

[2021-01-14 19:19] mikecote opened #88388 "Automatic deployment sizing conversion in kbn-alert-load tool"
When building the [kbn-alert-load](https://github.com/pmuellr/kbn-alert-load) tool, we've continuously had to change the RAM options when changing Cloud environments (see [here](https://github.com/pmuellr/kbn-alert-load/blob/88288582b4697b95940b255608578941fd52aa75/lib/deployment.js#L102-L103)). It would be nice to have this automated.

[2021-01-14 19:19] elasticmachine commented on #88388
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-14 19:21] mikecote opened #88389 "Move kbn-alert-load tool into Kibana alerting"
This issue is to move the [kbn-alert-load](https://github.com/pmuellr/kbn-alert-load) tool into Kibana.

[2021-01-14 19:21] elasticmachine commented on #88389
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-14 19:25] mikecote commented on #40264
I'm closing this issue now that we have the [kbn-alert-load](https://github.com/pmuellr/kbn-alert-load) tool built to measure performance benchmarks.

There are two follow up issues created that will be prioritized separately:
- Automatic deployment sizing conversion in kbn-alert-load tool #88388
- Move kbn-alert-load tool into Kibana alerting #88389

[2021-01-14 19:25] #40264 closed

[2021-01-14 19:31] mikecote commented on #56773
There is also a request from the Kibana App Services team for such a feature. They would be able to use this for scheduled reports and potentially other services. I talked to them about the requirement of TLS between Elasticsearch and Kibana, and they seem ok with such a limitation. It would also make it consistent for background tasks between alerting and scheduled reports to have the same requir

[2021-01-14 19:37] katefarrar commented on #79298
@neptunian I like this option the best - can we increase the padding a bit so that the metric name isn't right up against the metric itself?

i _think_ if we change the `gutterSize` to `4` [here](https://github.com/elastic/kibana/blob/0a7462dc4acb79bc28873b4ce82a510aa624397c/x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.tsx#L96) that should do it

[2021-01-14 19:47] #88268 closed

[2021-01-14 19:47] neptunian commented on #87575
Here is an example where the user has installed the `system` package before ingesting any data.  The index pattern fields are not returned from the api, though they exist in the saved object:

<img width="2488" alt="Screen Shot 2021-01-14 at 1 54 15 PM" src="https://user-images.githubusercontent.com/1676003/104635576-14c96180-5670-11eb-941c-0b40629711c6.png">

I think the only other concern is wha

[2021-01-14 19:49] pmuellr commented on #88389
for whoever picks this up, I did a quick pass in Dec of moving the package into kibana, here - https://github.com/elastic/kibana/pull/84003 .  I can't remember what all I had to change, but remember I had to switch out the `meow` CLI arg parser for whatever we use in Kibana (didn't want to add another dependency).

[2021-01-14 19:55] adoerrES opened #88394 "Add JSON body example to Alerts and Actions webhook connector docs"
**Describe the feature:**
Add an example of the JSON Body payload for the webhook connector in Alerts & Actions, so users will know how to format the JSON:

https://www.elastic.co/guide/en/kibana/current/webhook-action-type.html#webhook-action-configuration

For example, the following could be used, and does not need to be wrapped in qutoes, nor do all the quotes need to be escaped (we've seen att

[2021-01-14 19:55] jasonrhodes commented on #79298
Hey all, just a couple of thoughts:

* The ellipsis or wrapped solution seems fine to me, expanding the size of the tooltip is a pandora's box, I imagine
* If we are only showing the selected metric (which I agree is a good option to guard against more "select all" problems), what exactly is the point of including it in the tooltip? Won't it be the number that's displayed on the node itself in tha

[2021-01-14 19:57] nreese commented on #88296
I have found the root cause of the problem and it is caused by scrolling or doing something change redux layerList state while drawing.

The problem occurs because when redux layerList state is changed, `MBMap`, our react component wrapping mapboxgl, calls [removeOrphanedSourcesAndLayers](https://github.com/elastic/kibana/blob/7.11/x-pack/plugins/maps/public/connected_components/mb_map/utils.js#L9

[2021-01-14 20:00] elasticmachine commented on #88394
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-14 20:03] pmuellr commented on #88394
We should also note here the escaping that we do (so the variables don't contain double-quotes, \n chars, etc)

[2021-01-14 20:04] LeeDr opened #88395 "[tags] tags should allow the full set of alphanumeric characters"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:** Tags currently only support a limited set of the lower (7-bit) ascii character set.  I don't think there's any technical reason we should limit tag chara

[2021-01-14 20:04] elasticmachine commented on #88395
Pinging @elastic/kibana-core (Team:Core)

[2021-01-14 20:06] LeeDr opened #88396 "[tags] tags should allow the full set of alphanumeric characters"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:** Tags currently only support a limited set of the lower (7-bit) ascii character set.  I don't think there's any technical reason we should limit tag chara

[2021-01-14 20:06] elasticmachine commented on #88396
Pinging @elastic/kibana-core (Team:Core)

[2021-01-14 20:06] mattkime commented on #87575
@neptunian - What about the screenshot is wrong? I see two fields displaying 'field not found' errors - not ideal. Is there anything else?

Yes, I think this is the case. If there was anything that was being lost it would have been evident in the past if an index pattern had been refreshed.

[2021-01-14 20:07] LeeDr opened #88397 "[tags] tags should allow the full set of alphanumeric characters"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:** Tags currently only support a limited set of the lower (7-bit) ascii character set.  I don't think there's any technical reason we should limit tag chara

[2021-01-14 20:08] LeeDr opened #88398 "[tags] tags should allow the full set of alphanumeric characters"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Describe the bug:** Tags currently only support a limited set of the lower (7-bit) ascii character set.  I don't think there's any technical reason we should limit tag characters to that set and should include the extended ascii set and multi-byte characters for international support.

https://github.com/elastic/kibana/blob/master/x-

[2021-01-14 20:09] LeeDr commented on #88398
Hmm, github made me create duplicates

[2021-01-14 20:09] #88398 closed

[2021-01-14 20:10] LeeDr commented on #88397
Hmm, github made me create duplicates

[2021-01-14 20:10] #88397 closed

[2021-01-14 20:10] LeeDr commented on #88396
Hmm, github made me create duplicates

[2021-01-14 20:10] #88396 closed

[2021-01-14 20:11] bhavyarm opened #88399 "Kibana shouldn't let user create tags with the same name"
**Kibana version:** 7.11.0 BC3

**Elasticsearch version:** 7.11.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):**  From staging
<img width="1792" alt="Screen Shot 2021-01-14 at 3 10 54 PM" src="https://user-images.githubusercontent.com/7074629/104643684-c077af00-56

[2021-01-14 20:11] elasticmachine commented on #88399
Pinging @elastic/kibana-core (Team:Core)

[2021-01-14 20:13] alexfrancoeur commented on #88395
@pgayvallet @ryankeairns I'd say this was an oversight on my part. I'm not sure the level of effort here, but even though it's listed as an enhancement, it'd be great to add support for multi-byte characters sooner rather than later.

[2021-01-14 20:15] LeeDr commented on #88395
I'm on the fence bug/enhancement.  I'd say you can change the label to "bug" if you want to fix it in 7.11.0.  I'm assuming the fix would be pretty trivial.

[2021-01-14 20:22] LeeDr opened #88400 "[maps] tags changed in Maps Save dialog don't refresh until the map is reopened"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** Ubuntu 16

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** default tar.gz install

**Describe the bug:** When you are in a Map, and click Save, you can add or remove tags (or create new ones to add).  But when you click Sav

[2021-01-14 20:22] elasticmachine commented on #88400
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-14 20:27] neptunian commented on #87575
As far as I know, that is all.

[2021-01-14 20:29] bradquarry opened #88401 "[Lens] Allow custom annotation (or a suffix) for Y axis range values"
Today in Time Series Visual Builder you can add custom fixed values to the Y axies range values of a chart. This allows dashboard chart data to be more relatable. Lots of customers use this all over dashboards today and I'm sure would like to see it in lens. I have attached screenshots showing how TSVB annotated the negative values of the Y axis using a data formatter panel and adding {{value}} dB

[2021-01-14 20:30] elasticmachine commented on #88401
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-14 20:31] bradquarry opened #88402 "[Lens] Enable custom prefix and suffix for Y axis range values"
Today in Time Series Visual Builder you can add custom fixed values to the Y axis range values of a chart. This allows dashboard chart data to be more relatable. Lots of customers use this all over dashboards today and I'm sure would like to see it in lens. I have attached screenshots showing how TSVB annotated the negative values of the Y axis using a data formatter panel and adding {{value}} dBM

[2021-01-14 20:31] elasticmachine commented on #88402
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-14 20:34] mattkime commented on #87575
Thats something I'd like to see addressed. It may be possible for those visualizations to hide the error and simply display 'no data'. IF thats all thats needed, I think we could simplify other portions of how `allowNoIndex` is handled. Our strategy becomes about hiding errors instead of preserving fields.

[2021-01-14 20:34] pmuellr commented on #88388
I started looking into how to do this, so this is from memory.

One of `listStacks()` or `listTemplates()` can be used to list all the available options that can be used when generating the json we send to create the deployment, including available RAM sizes.  The `createDeployment()` function first passes the args you want to `ecctl deployment create` with the `--generatePayload` option, which wi

[2021-01-14 20:38] wylieconlon commented on #88401
Duplicate of https://github.com/elastic/kibana/issues/88402

[2021-01-14 20:38] #88401 closed

[2021-01-14 20:41] wylieconlon commented on #88402
More general issue for doing this across Kibana: https://github.com/elastic/kibana/issues/8984

[2021-01-14 20:42] bhavyarm commented on #88400
Same behaviour on dashboard.

[2021-01-14 20:42] elasticmachine commented on #88400
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-14 20:44] LeeDr opened #88404 "[Monitoring] deprecation dialog link doesn't enter setup mode"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** Ubuntu 16

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** default tar.gz

**Describe the bug:** If you have multiple clusters with self monitoring, when you first go to Monitoring page you get the deprecation dialog.  It h

[2021-01-14 20:44] elasticmachine commented on #88404
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-14 20:51] mikecote commented on #74788
I'm going to close off this issue now that the work items for GA are complete. There is just the documentation task remaining, which will be tracked under https://github.com/elastic/kibana/issues/81532. Alerting is GA in 7.11 🎉

[2021-01-14 20:51] #74788 closed

[2021-01-14 21:14] #28776 closed

[2021-01-14 21:19] #87726 closed

[2021-01-14 21:24] kevinlog opened #88408 "When upgrading existing Policies in 7.9, Trusted Applications artifacts are not added"
**Kibana version:**
7.10+

**Elasticsearch version:**
7.10+

**Describe the bug:**
When a user creates Endpoint Policies in 7.9 and upgrade, the Trusted Apps artifacts are not added to existing Policies.  This causes newer Endpoints to send an Error in the Policy Response for User Artifacts.

If you view the Policies migrated from 7.9, you will see that the Trusted App policies do not contain the

[2021-01-14 21:39] #85374 closed

[2021-01-14 21:53] pmuellr commented on #83612
I think that's about as good as you can get - I'll take it!

[2021-01-14 21:55] #87832 closed

[2021-01-14 22:02] jen-huang commented on #85785
@EricDavisX I tried locally and couldn't reproduce. The demo instance also doesn't have any agents on it any more. Could you try to reproduce this again? If you can reproduce it, please make note of:
* What the full agent logs UI URL is
* What the full Logs UI URL is

A video screen capture might be useful too. This will help me determine if there is an issue in the query parameters for filters an

[2021-01-14 22:21] elasticmachine commented on #88384
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-14 22:22] poffdeluxe commented on #80584
Added a few tests that specifically have to do with creating/editing visualizations from their app (Viz/Lens) and adding to a dashboard by-value using the new modal

[2021-01-14 23:30] cuff-links opened #88417 "Component Template console autocompletions not working"
Upon testing the autocomplete definitions I found that there are endpoints that are not working.

- `HEAD _component_template/`
   - No templates show up
   - No indices show up
- `GET _component_template/`
   - No templates show up
   - No indices show up

[2021-01-14 23:30] elasticmachine commented on #88417
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-14 23:36] #87647 closed

[2021-01-14 23:53] cjcenizal commented on #88417
@cuff-links It looks like you're hitting the path `_component_templates`, but according to the [API](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-component-templates.html) the correct path is `_component_template` (singular). I also don't see any mention of the `HEAD` method for this API so I'm not sure if it's even supported.

[2021-01-14 23:58] LeeDr commented on #83592
I'm digging my way back through my email and came across this.  The functional tests use EsArchiver for 2 kinds of data;
1. test data like logstash_functional, etc which is not a system index kind of thing - this could potentially be replace with snapshots
2. .kibana index data.  Back when we started automating functional tests, the save object import/export didn't include everything in the .kiban

[2021-01-15 00:19] cjcenizal commented on #26492
Stale.

[2021-01-15 00:19] #26492 closed

[2021-01-15 00:32] cuff-links commented on #88417
Ah,my bad. I typed that in. It was a typo. I fixed it above. Still does't work. In terms of the HEAD method, this file here `src/plugins/console/server/lib/spec_definitions/json/generated/cluster.exists_component_template.json` was added to the definitions [here](https://github.com/elastic/kibana/pull/86590/files#diff-a376796703501458379c6bf2d5684647e91b7d2ac94adf3f6a70757e83f24ebf). Let me know i

[2021-01-15 00:46] cuff-links commented on #88417
I found that if I type the template name in manually, the URL parameters still work.

[2021-01-15 01:22] EricDavisX commented on #87979
@rahulgupta-qasource this can be tested - would you do so and update test content pls

[2021-01-15 01:24] EricDavisX commented on #86882
confirmed - @rahulgupta-qasource please mark this for testing in BC4 of 7.11

[2021-01-15 02:10] bharvidixit opened #88423 "Elastic Cloud - Changing slack connector in one monitoring setup impacts the other one"
**Kibana version:**
7.10.1

**Elasticsearch version:**
7.10.1

**Server OS version:**

**Browser version:**
Google Chrome Version 77.0.3865.120

**Browser OS version:**
Linux Ubuntu 20

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud Enterprise Edition

**Describe the bug:**
I have two separate deployments (One for production and one for staging) on my Elast

[2021-01-15 05:10] alex-fedotyev commented on #86460
For my understanding, will those values be assigned to span.name?

@dgieselaar - do you think this improvement is generic enough to work well for ES node.js client?
Or is it specific to how Kibana queries ES?

[2021-01-15 06:11] YulNaumenko commented on #87340
@daohodac do you have any other details to reproduce the bug, maybe some space Features is disabled?
I currently tried to do the steps which is described on the issue in the Cloud environment and don't have a luck to reproduce it:
<img width="1631" alt="Screen Shot 2021-01-14 at 10 05 37 PM" src="https://user-images.githubusercontent.com/55110838/104687909-eb7ef480-56b4-11eb-8a2c-074427bc82d7.png"

[2021-01-15 06:54] pgayvallet commented on #88399
Gonna move this into enhancement. We decided not to do this in the initial version because there are some scenarios where such check is fairly complex, such as when copying a tag to a space already containing a tag with the same name.

[2021-01-15 06:55] pgayvallet commented on #88395
So, should we just remove the character validation altogether and just keep the max-length validation for the tag's name?

[2021-01-15 07:47] mbondyra opened #88424 "[Visualize] Percentiles are not displayed for new charts library"
**Kibana version:**
master
1. Configure Vertical bar vis like on the screenshot:
<img src="https://user-images.githubusercontent.com/4283304/104696092-03369700-570e-11eb-82c0-52d50c604bf1.png" data-canonical-src="https://user-images.githubusercontent.com/4283304/104696092-03369700-570e-11eb-82c0-52d50c604bf1.png" height="700"  />

When legacy chart library is on, it works fine:
![image](https://us

[2021-01-15 07:47] elasticmachine commented on #88424
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-15 07:54] timroes commented on #24090
@joshdover could you please explain why this got closed? Have we made a final decision not to implement this? Is this now tracked by some other issue?

[2021-01-15 07:55] timroes commented on #23430
@joshdover is this now tracked somewhere else? This issue is still valid and a request from our side?

[2021-01-15 07:57] timroes commented on #35210
@joshdover have we decided to not implement this, or is this now tracked buy some other issue?

[2021-01-15 08:03] majagrubic opened #88426 "[Discover] Remaining work on Fields API"
# 7.12

- [x] Unknown/unmapped fields should show in source mode in the sidebar (https://github.com/elastic/kibana/issues/91697)
- [x] **Default column behavior is broken when switching between reading from source and fields API** (fixed with: https://github.com/elastic/kibana/pull/89826)
- [x] Fields filter doesn't work (elastic/kibana#88193); broken on current master as well ([PR](https://github

[2021-01-15 08:09] timroes commented on #29250
@joshdover Do we no longer consider this to be relevant or is this tracked somewhere else? I think as the UI grow this issue is still persistent and we bundle a lot of text (i18n descriptions) into our frontend bundles that we know are totally unnecessary.

[2021-01-15 08:24] deepikakeshav-qasource commented on #85748
Hi  @MadameSheema

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . "Open alert" is displaying on alert if an alert is already in "in progress" state.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![in-Progress](https://user-images.githubusercontent.com/61860752/104688024-574d7580-5726-11eb-

[2021-01-15 08:24] #85748 closed

[2021-01-15 08:26] deepikakeshav-qasource commented on #87090
Hi  @peluja1012

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . Correct spellings of tag 'Continuous Monitoring' is leads to elastic rule "Microsoft 365 Exchange Safe Link Policy Disabled".

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![continuous_monitoring](https://user-images.githubuse

[2021-01-15 08:26] #87090 closed

[2021-01-15 08:27] deepikakeshav-qasource commented on #87459
Hi  @MadameSheema

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . Continue button is working under custom query rule even after clicking on threshold rule and remove the data from threshold field.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![threshold](https://user-images.githubusercont

[2021-01-15 08:27] #87459 closed

[2021-01-15 08:35] #86423 closed

[2021-01-15 08:39] dgieselaar commented on #86460
@alex-fedotyev I've been thinking about a slightly different approach that might be more generally useful: using the stack traces of all the items in the waterfall to get the most unique call site in a stack trace for a specific span and use that to display as a name. If I have some time I'll see if I can get a POC up and running just to see what the results are like, I don't think it would be tha

[2021-01-15 08:48] #87643 closed

[2021-01-15 08:49] muskangulati-qasource commented on #87980
Hi @spong,

Thank you for the information.

[2021-01-15 08:54] cnasikas opened #88432 "[Security Solution][Case] Observe alert's status update when updating a case."
Failed tests https://github.com/elastic/kibana/issues/87988 and https://github.com/elastic/kibana/issues/88130 showed that a change in the status of an alert takes time to be populated across all ES nodes.

When there is a status change on a case and the sync alerts option is on, then all alerts attach to a case must change their status to match the case's status. This is done as:

[code]

Because

[2021-01-15 09:04] cnasikas commented on #88130
@spalger @tylersmalley https://github.com/elastic/kibana/pull/88311

[2021-01-15 09:10] #87853 closed

[2021-01-15 09:35] formgeist opened #88437 "[UX] Bug: Browser back option doesn't work, just re-renders the current page."
Kibana version: master

# Summary

The user might come to the UX app from another app within Observability or Kibana, and the natural experience is to be able to go back in your browser history and return to the previous place or app you visited, but that's not possible within the UX app at the moment. Back links return the same page with some minor flashing.

https://user-images.githubusercontent

[2021-01-15 09:35] elasticmachine commented on #88437
Pinging @elastic/uptime (Team:uptime)

[2021-01-15 09:42] #86770 closed

[2021-01-15 09:44] MadameSheema commented on #84610
Closing the issue sin 7.10.2 was already released and the issue is fixed on 7.11

[2021-01-15 09:44] #84610 closed

[2021-01-15 09:47] #88160 closed

[2021-01-15 10:04] yuliacech opened #88441 "[ILM] Backing indices of hidden data streams don't have ilm policy information"
**Kibana version:**
Current [master](https://github.com/elastic/kibana/commit/951aa66fe4356086be5dc393d9fb55f42fad7e2f)

**Describe the bug:**
Found when testing [87960](https://github.com/elastic/kibana/pull/87960)
When a hidden data stream is created and an ILM policy is attached to it, its backing indices should have this information in Index Management plugin. Currently, ILM policy information

[2021-01-15 10:04] elasticmachine commented on #88441
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-15 10:06] formgeist commented on #87673
Anomalies (anomaly score >= 75) are already shown in the latency chart on both the Service overview and Transactions view.

Right now, we're displaying anomalies based on max score, not on the basis of service health status. I think we should consider whether or not it makes more sense to indicate service health change instead of simply displaying anomalies as an indicator of unexpected increase i

[2021-01-15 10:07] deepikakeshav-qasource commented on #85558
Hi  @patrykkopycinski

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . Customize Columns table is displaying properly on 100% resolution

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![customize_column](https://user-images.githubusercontent.com/61860752/104688793-5ec14e80-5727-11eb-8130-d7c

[2021-01-15 10:07] #85558 closed

[2021-01-15 10:08] deepikakeshav-qasource commented on #85933
Hi  @XavierM

Thank you for the feedback.

We have updated the test case in our manual Security Solution Suite.
- [C35220](https://elastic.testrail.io/index.php?/cases/view/35220)

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

Thanks!!

[2021-01-15 10:34] stratoula commented on #88424
@mbondyra thanx! It is important ❤️

[2021-01-15 10:37] gmmorris commented on #87808
<img width="1465" alt="Screenshot 2021-01-15 at 10 35 54" src="https://user-images.githubusercontent.com/386208/104714843-9b884800-571d-11eb-8804-b95dbf1a455a.png">

[2021-01-15 10:47] sorantis commented on #79298
I'm realizing that we'll have the same issue with field length on [Metrics tab](https://github.com/elastic/kibana/issues/80304), where we the tab size is fixed, so we won't get around it with simple resizing. +1 on ellipsis, should the customer find it hard to read they can add a label.
@jasonrhodes we introduced metrics on a tooltip was because customer weren't able to ready what's on the node wh

[2021-01-15 10:57] weltenwort commented on #85129
Good point. Does the existing telemetry on ML jobs enable us to make that determination? Should we add something for that purpose in the solution plugin or the ML plugin?

[2021-01-15 11:23] Dosant opened #88442 "[Search Sessions][Lens] Explicitly opt-in to "send to background UI""
Lens started using search sessions for `now` syncing: https://github.com/elastic/kibana/pull/86297/

If to enable feature flag:

[code]

The  "send to background UI"I will appear in lens, but this feature wouldn't properly work there, because integration is not complete.

We plan to turn on this flag in 7.12 and no plans to finalize lens editor integration. We should allow Lens and other apps to e

[2021-01-15 11:23] elasticmachine commented on #88442
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-15 11:25] rudolf commented on #87900
If the "metadata" doesn't change often, it might be simpler to have it duplicated, but I think you're probably in the best position to make this design tradeoff.

Splitting an object during migrations is technically possible and not a huge amount of effort for us, but it is a risky change. So if you choose a design that requires this we'll just need to discuss timelines.

Changing a saved object t

[2021-01-15 11:29] manishgupta-qasource opened #88444 "Steps Required to make agent in Unhealthy status for testing the Filters"
As per below comment
https://github.com/elastic/kibana/issues/84962#issuecomment-742524042

We need to make Agent into Unhealthy state to test the filters

[2021-01-15 11:30] elasticmachine commented on #88444
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-15 11:30] rudolf commented on #83592
Yes this is still true, but all saved objects will become importable/exportable as part of removing `kibana.index` https://github.com/elastic/kibana/issues/81536

Snapshots could work well. The only downside is that they're not easily inspectable, so if you make a change and update the snapshot, it won't be possible to code review the snapshot changes.

[2021-01-15 11:31] manishgupta-qasource commented on #84962
Created separate Question ticket https://github.com/elastic/kibana/issues/88444  for Steps for Unhealthy state

Hence, We are closing this ticket

[2021-01-15 11:31] #84962 closed

[2021-01-15 11:32] MadameSheema commented on #88211
@XavierM can you please take a look at this? Thanks :)

[2021-01-15 11:35] MadameSheema commented on #87793
@XavierM can you please help with this? thanks :)

[2021-01-15 11:41] deepikakeshav-qasource opened #88446 "[Security Solution] Resolver is not displaying on full screen under Events tab."
**Description**
Resolver is not displaying on full screen under Events tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Events should exist with enabled analyze event

**Steps to Reproduce:**
1. Navigate to the Hosts tab of security
2. Click on the Events tab
3. Enter the follow

[2021-01-15 11:42] deepikakeshav-qasource commented on #88446
@manishgupta-qasource Please review!!

[2021-01-15 11:45] muskangulati-qasource commented on #87979
Hi @EricDavisX,

We validated this ticket on the latest 7.11.0 BC3 and found that changes are not yet merged.

**Build Details**:
[code]

**Observation**:
The message is still not updated.

**Refer Screenshot**:
![RevokeEnrollmentToken](https://user-images.githubusercontent.com/60252716/104693392-959b6280-572f-11eb-9fc8-0e3c91c74368.PNG)

We will be validating this ticket again once the changes ar

[2021-01-15 11:45] muskangulati-qasource commented on #87980
Hi @spong,

Thank you for the information. We validated this ticket on the latest 7.11.0 BC3 and found that issue is now **Fixed.**

**Build Details**:
[code]

**Observation**:
The default endpoint_list can to be deleted under the exception list tab.

**Refer Screenshot**:
![DefaultException](https://user-images.githubusercontent.com/60252716/104703076-e5ccf180-573c-11eb-9ae4-80692d6f583f.png)

He

[2021-01-15 11:45] #87980 closed

[2021-01-15 11:52] tveasey commented on #88248
Some suggestions for what feedback you can give in these cases.

The time and resource warnings are going to be a function of all of num_top_classes, training percent, num rows and columns. However, while memory is somewhat predictable, the runtime will vary in a non-trivial way depending on how hard it is predict the target.

My inclination would be along the lines of:
1. If `training_percent x r

[2021-01-15 12:11] amolnater-qasource opened #88447 "KPI count is not updated while un-enrolling the agent under Agents tab."
**Kibana version:**
Kibana:7.11.0 Cloud environment

**Elasticsearch version:**
Elasticsearch:7.11.0 Cloud environment

**Host OS and Browser version:**
Windows 10, All

**Original install method (e.g. download page, yum, from source, etc.):**
7.11.0 Cloud environment

**Preconditions:**
1. Artifacts for 7.11.0 Agent should be available.
    Link used: https://staging.elastic.co/7.11.0-e9e2951f/su

[2021-01-15 12:11] manishgupta-qasource commented on #88446
Reviewed & Assigned to @MadameSheema

[2021-01-15 12:14] MadameSheema commented on #88446
@jonathan-buttner @kqualters-elastic @michaelolo24 can you please take a look at this? Thanks :)

[2021-01-15 12:17] muskangulati-qasource opened #88449 "[Security Solution] No notification pop up message for successful export under Exception list tab."
**Describe the bug**
No notification pop up message for successful export under Exception list tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Detections" tab under Security from the left navigation bar.
3. Click on 'Manage Detection Rules' and loa

[2021-01-15 12:17] muskangulati-qasource opened #88450 "[Security Solution] Search button does not filter data under the exception list tab."
**Describe the bug**
Search button does not filter data under the exception list tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Detections" tab under Security from the left navigation bar.
3. Click on 'Manage Detection Rules' and load all the pre-

[2021-01-15 12:17] muskangulati-qasource commented on #88450
@manishgupta-qasource Please review!

[2021-01-15 12:17] muskangulati-qasource commented on #88449
@manishgupta-qasource Please review!

[2021-01-15 12:19] bhavyarm opened #88451 "Kibana should display better error message on relationships panel in saved objects table and not undefined response"
**Kibana version:** 7.11.0 BC3

**Elasticsearch version:** 7.11.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana displays undefined response on relationships panel for a file imported from 6.8.13 and logs
The saved object

[2021-01-15 12:19] elasticmachine commented on #88451
Pinging @elastic/kibana-core (Team:Core)

[2021-01-15 12:21] elasticmachine commented on #88447
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-15 12:22] manishgupta-qasource commented on #88447
Reviewed & Assigned to @EricDavisX

[2021-01-15 12:29] manishgupta-qasource commented on #88450
Reviewed & Assigned to @MadameSheema

[2021-01-15 12:33] mostlyjason commented on #76841
I prefer the second approach as well because it allows the user to push out a change, particularly in an urgent situation. The allowlist is a dynamic and can change at runtime, which means an agent could become non-compliant at any time. The service owner trying to add/edit and integration may not have permission to unenroll that agent. The warning allows them to update most of the agents, with ho

[2021-01-15 12:34] kevinlog commented on #88249
from @jfsiii in an email thread - we can try this to get more info

I'm curious what more we can learn from traces. Can someone try this and post back?
- Start kibana with ELASTIC_APM_ACTIVE=true
- trigger the error
- Visit https://ela.st/kibana-ops-ci-stats & log in with Okta
- go to APM > Services > kibana > Transactions (/app/apm/services/kibana/transactions) and filter for your host (see image

[2021-01-15 12:34] deepikakeshav-qasource commented on #87456
Hi @kqualters-elastic

We have shared the environment credentials through email.
**Subject:** [Environments Details for: #87456]

Please let us know if anything else is required from our end.

Thanks!!

[2021-01-15 12:34] cnasikas opened #88454 "[EUI] Setting the value to undefined does not select the blank option."
A `EuiSelect` with `hasNoInitialSelection` creates a black option at the begging of the `select`. That is very useful when you don't want to preselect a value. If you select a value, and then you set it to `undefined` the black option is not selected. Example:

[code]

If I change `value={subcategory ?? undefined}` to `value={subcategory ?? ''}` (empty string) then the black option is selected.

I

[2021-01-15 12:34] elasticmachine commented on #88454
Pinging @elastic/eui-design (EUI)

[2021-01-15 12:39] kevinlog commented on #88249
from @skh in an email thread - there is also an installation status field on the saved object.  We could potentially use that to ensure we don't trigger concurrent installations.

[2021-01-15 12:44] ruflin commented on #76843
@mostlyjason Not sure I follow. I assume the Elastic Agents which can't be unenrolled would not even show this option. They could not be checked even for bulk actions.

++ on moving these discussions to separate issue(s).

[2021-01-15 12:50] MadameSheema commented on #88450
@peluja1012 @spong can you please help to prioritise this? Thanks :)

[2021-01-15 12:51] MadameSheema commented on #88449
@peluja1012 @spong can you please help to prioritise this? thanks :)

[2021-01-15 13:13] legrego commented on #78222
This approach sounds reasonable to me. I think it'd be worthwhile for us to make it explicit in the UI that this API Key will have the same permissions as the user who creates it, but otherwise I'm +1.

[2021-01-15 13:26] sqren opened #88460 "[APM] Show a tooltip explaining "unknown" service health"
Afaict service health is displayed as "unknown" if:
 - the service does not have "request" or "page-load" type, or
 - there are no Ml data for the ML job
 - no ML job exists

We should add a tooltip that explains this to the user. Preferably showing a separate message per state to distinguish between them.

![image.png](https://zube.io/files/elastic/b0ecd0a3f3c33e6cbd596d1d0a9993b6-image.png)

[2021-01-15 13:26] elasticmachine commented on #88460
Pinging @elastic/apm-ui (Team:apm)

[2021-01-15 13:52] bradquarry commented on #68458
+1 - time series visual builder has this capability and it's used extensively within our customer base.

[2021-01-15 14:04] dej611 commented on #86276
I think we can close this

[2021-01-15 14:04] #86276 closed

[2021-01-15 14:07] XavierM commented on #87988
duplicate of this #88130

[2021-01-15 14:07] #87988 closed

[2021-01-15 14:08] XavierM commented on #86103
https://github.com/elastic/kibana/pull/88377

[2021-01-15 14:10] shahzad31 commented on #88437
@smith any idea, what's going on? i remember you refactoring the router history part in APM/UX.

[2021-01-15 14:10] XavierM commented on #86098
@muskangulati-qasource can you check if this fixed in the latest BC?

[2021-01-15 14:10] formgeist commented on #88460
Adding a tooltip when hovering the health status badge would suffice. Just need the appropriate copy that goes in each status. @bmorelli25 do you think you can cook up some short descriptions for different statuses (healthy, warning, critical and unknown)?

[2021-01-15 14:12] #84013 closed

[2021-01-15 14:33] #66226 closed

[2021-01-15 14:33] kibanamachine opened #88466 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_point_series_options·ts - visualize app point series custom labels and axis titles should preserve saved axis titles after a vis is saved and reopened"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11158/)

[2021-01-15 14:33] kibanamachine opened #88467 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule - StepAboutRuleComponent is valid if both "name" and "description" are present"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11158/)

[2021-01-15 14:33] cauemarcondes opened #88468 "[APM] Disable Create custom link button on Transaction details page for read-only users"
![Screenshot 2021-01-15 at 15.32.40.png](https://zube.io/files/elastic/89e0cd3bb2575018391fab82dea4d8f4-screenshot-2021-01-15-at-15-32-40.png)

[2021-01-15 14:33] elasticmachine commented on #88468
Pinging @elastic/apm-ui (Team:apm)

[2021-01-15 14:33] pzl opened #88469 "[Security Solution] Failed to fetch package policies log line"
**Describe the bug:**

Seeing this log line in kibana master:

[code]

Need to look into internal-user SO client used here

[2021-01-15 14:38] mostlyjason commented on #76843
@ph My understanding when you said "we will initially develop this feature hidden in the UI" that meant we aren't making any changes to the UI. We are just showing error messages returned from the API using our current error reporting UI. This seems like the the minimal requirement to protect the agents on Elastic Cloud and communicate to the user.

@ruflin  Writing special functionality in the UI

[2021-01-15 14:48] paul-tavares commented on #88408
I will take a look at this. The work around here might be to just add a trusted app entry - since that will trigger artifacts to be generated and manifest in the policies to be updated.

[2021-01-15 14:49] LeeDr commented on #88395
I think we should give some consideration to characters that would split the tag names into multiple terms such as spaces, dashes, etc.  I could be wrong but it seems if we use tags in the global search bar, we don't have a way to parse the line correctly if the tag is analyzed.

For example, if I create a tag `foo bar` and I have a visualization with that tag named `hello` I might want to enter i

[2021-01-15 14:58] smith commented on #88437
@shahzad31 no I don't know. The CSM part does routing a little bit differently than APM does. If I go straight from Home to UX via the side menu it looks like it's making 3 entries into the history:

![image](https://user-images.githubusercontent.com/9912/104742204-c7043600-570f-11eb-8858-4b86aa336a9c.png)

so we might want to look into where the router is redirecting and replacing the history.

[2021-01-15 14:58] azasypkin commented on #80508
Platform Security team completed migration (Security, Spaces and ESO plugins).

[2021-01-15 15:02] mtojek opened #88475 "Fleet: It's possible to install a broken package"
Hi,

It happened that the apache-0.3.0 package was broken and it wasn't possible to install it in Kibana 7.10.2. Once the user submitted the form, Kibana informed about this: (...The last known version is [7.9.3]). The user submitted it again, Kibana installed the broken package somehow.

Error log:

[code]

I'm not convinced about the uninstalling procedure. It may happen that the user manually d

[2021-01-15 15:02] elasticmachine commented on #88475
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-15 15:11] nreese commented on #43697
Closing, charts palette service is starting to provide this functionality.

[2021-01-15 15:11] #43697 closed

[2021-01-15 15:12] mikecote opened #88476 "Display last execution date in the alert list and/or details page"
It would be nice to see the last execution date of each alert in the alerts list and be able to sort by this field.

[2021-01-15 15:12] elasticmachine commented on #88476
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-15 15:15] elasticmachine commented on #88467
Pinging @elastic/siem (Team:SIEM)

[2021-01-15 15:16] elasticmachine commented on #88466
Pinging @elastic/datavis (Team:DataVis)

[2021-01-15 15:29] mostlyjason commented on #72707
I think a lot of these use cases could be covered by status reporting on the agent list and agent details page. The user will see an unhealthy status if the agent version is not compatible with an integration. We discussed doing the same for hosted agents here https://github.com/elastic/kibana/issues/76841. We haven't defined status reporting for input conditions yet, but I imagine that would also

[2021-01-15 15:29] Dosant opened #88480 "Using point in time API instead of client side time conversion"
part of https://github.com/elastic/kibana/issues/80406

Kibana converts relative time range to absolute on a client and search executed with absolute time range.
This is used for multiple things:

* Sync time on a dashboard between different panels
* Generating reports using `forceNow` query param to set original client's time `now`  https://github.com/elastic/kibana/issues/110568
* Caching in veg

[2021-01-15 15:29] elasticmachine commented on #88480
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-15 15:33] alexfrancoeur commented on #88395
As I understand it, it's not trivial to move away from an exact match for tag searching. But I do agree we may be able educate users about spaces during tag creation. I'd defer to @ryankeairns and @MichaelMarcialis on how best to make that visible though.

I think we should still instill a length restriction until we hear enough feedback from our end users. I don't know if there are guidelines for

[2021-01-15 15:33] ryankeairns opened #88482 "[Dashboard] Improve the handling of panels with data grid content"
**Describe the feature:**
With `EuiDataGrid` replacing instances of tables with regards to displaying data, we are encountering what could be perceived as unintended consequences as a result of the column resize capability. For example, see the [discussion in this PR](https://github.com/elastic/kibana/pull/88069#pullrequestreview-569326169) where Lens is converting their usage.

**Describe a speci

[2021-01-15 15:33] elasticmachine commented on #88482
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-15 15:38] snide commented on #88454
EuiSelect is just a regular HTML select in disguise. Regular selects do not allow undefined values. If you want one, you need to pass them as an empty option in your array and assign it.

[2021-01-15 15:40] snide commented on #88454
Sorry, I read this one too quickly. I forgot about the extra prop we add!

[2021-01-15 15:47] ThomThomson commented on #88482
I do like the 'reset column width' button. My concern with it though is where the button will appear and when it will be saved to the saved object vs just being part of the state. For instance, if the 'reset' button appeared on the dashboard, we wouldn't necessarily want to apply it to the actual saved object of the panel - but if it were only available in the editor, you wouldn't see the issue as

[2021-01-15 15:48] LeeDr commented on #88395
I'm OK with allowing any chars (as long as they don't break any functionality of course).  Whether users use spaces or other splitting chars in their tag names can evolve as a best practice over time.  I haven't used tags enough to really say how much impact it will have.

[2021-01-15 15:58] mostlyjason commented on #86879
It sounds like the use case is to have visibility to the agent details page when troubleshooting problems that happened in the past. The inactive status is not shown because these are filtered out by default, and the user has to enable it to seem them. I think that's a fine UX.

I think in this case we can do the simple fix which is just to have a different color. Perhaps a darker grey @hbharding?

[2021-01-15 16:03] #75106 closed

[2021-01-15 16:04] pheyos opened #88484 "Kibana user can't change own password in cloud deployments"
**Found in version**
- 7.11.0-bc3 cloud deployment

**Browser**
- Chrome

**Steps to reproduce**
- Create a user and login with that user
- Go to the user profile page and change the password

**Expected result**
- The password can be changed without errors

**Actual result**
- The password is not changed
- An error taost is displayed
- The network tab shows that the request returns with a `404`

[2021-01-15 16:09] ryankeairns commented on #88395
+1 the suggestions thus far: don't restrict characters, keep max length validation

For Lee's example, you can achieve the search like: `tag:("has space" or nospace)`

That said, would allowing `(` , `)`, or `"` break this syntax?

[2021-01-15 16:11] ph commented on #85428
@skh Nice! thanks :)

[2021-01-15 16:13] neptunian commented on #79298
Looks like we'll go with this for now. Using ellipsis to show all custom metrics and I've widened the gutter a little as @katefarrar suggested.  Will open a PR based on these changes:

<img width="1607" alt="Screen Shot 2021-01-15 at 11 11 43 AM" src="https://user-images.githubusercontent.com/1676003/104750786-8eba2300-5722-11eb-95cf-4c2094fd54bb.png">

[2021-01-15 16:13] ryankeairns commented on #43697
@nreese We've been considering how/where to add a base set of colorblind safe palettes for use across Kibana, as well. Can you point me at this charts palette service? Thank you.

[2021-01-15 16:14] rashmivkulkarni commented on #88484
cc @elastic/kibana-security

[2021-01-15 16:20] pmuellr commented on #87344
The only broken alerts here seem to be the observability ones - having the links "not rendered" (ie, the markdown formatting is rendered literally) is going to be acceptable for now, with a long term goal of reorganizing the context variables and templates.

So, going to close this one out.  Any further discussion on the monitoring alerts can go here: https://github.com/elastic/kibana/issues/84819

[2021-01-15 16:20] #87344 closed

[2021-01-15 16:20] rashmivkulkarni commented on #88484
able to reproduce it consistently on 7.11 cloud deployment BC3
<img width="1778" alt="Screen Shot 2021-01-15 at 8 20 17 AM" src="https://user-images.githubusercontent.com/11466284/104751655-88b84800-570a-11eb-882e-09484404086a.png">

[2021-01-15 16:21] mostlyjason commented on #75236
Just want to describe the goal for the next phase is to so expose improved status for inputs in the Agent details page, filtered by integration. That applies to the second user story:

[2021-01-15 16:23] jportner commented on #88484
HAR attached.

Interestingly enough, when using **Stack Management** > **Users** to change a password:
* Changing your own password yields the same 404 error
* Changing another user's password works fine

[2021-01-15 16:34] nreese commented on #43697
Your plugin can access charts palette service by the exposed `palettes`
 key in the start contract, https://github.com/elastic/kibana/blob/master/src/plugins/charts/public/plugin.ts#L70

@flash1293 Can you provide some more details or documenation?

[2021-01-15 16:58] #84989 closed

[2021-01-15 16:59] #79352 closed

[2021-01-15 17:01] mbondyra commented on #82846
The issue got automatically closed when my PR got merged to Kaarina's branch, but it should be as the work is not finished. It'll be merged to master next week.

[2021-01-15 17:09] pmuellr commented on #87340
I tried a repro as well.  Once the alert is created, it will show as Pending in the list, but when I refresh the page (by clicking the "Connectors" tab, then clicking back to the "Alerts" tab), it shows as "Ok".  We are planning on adding a "Refresh" button, but not yet planning on adding an "auto" refresh capability.

In the case above tho, there are two "Pending" alerts - which means presumably

[2021-01-15 17:10] Kerry350 commented on #79770
I've been working on this, and after playing with a few solutions (including the ones outlined here) I think the optimal UX is to just incorporate the category pattern as part of the **anomaly** column. It looks like this:

![Screenshot 2021-01-15 at 17 00 23](https://user-images.githubusercontent.com/471693/104756234-76aec780-5753-11eb-8ee5-23e17688e39d.png)

(It doesn't have to be a colon separa

[2021-01-15 17:19] jasonrhodes commented on #79770
I am very much in favor of keeping this in one column, as @Kerry350 describes. @mukeshelastic @jeffvestal was there more context to why you both preferred the separate column instead?

[2021-01-15 17:31] bmorelli25 commented on #88460
Here's a starting point. I'm out for a while, so cc @EamonnTP for any additional input.

Healthy: No anomalous activity detected. Maximum anomaly score is ≤25.
Warning: Anomalous activity detected; service may be degraded. Maximum anomaly score is >26 and <74.
Critical: Anomalous activity detected; service is unhealthy. Maximum anomaly score is ≥75.

So, three total tooltips for Unknown?

Unknown

[2021-01-15 17:33] gmmorris commented on #87874
At its root, there are three problems here:

1. We don't validate the interval when the task type is registered, and this task shouldn't have been schedulable in the first place.
2. When the invalid interval causes an exception in `TaskRunner.markTaskAsRunning()` its execution fails, but this happens before we update the SO, which means that this failure does not count towards the `failures` on th

[2021-01-15 17:52] #79323 closed

[2021-01-15 17:55] #81342 closed

[2021-01-15 17:55] #81366 closed

[2021-01-15 18:02] igoristic commented on #74820
@ravikesarwani Thank you for addressing this!

So, to clarify: In the drawer UI we will only have the following inputs:
- Our current default inputs like: `Check every X`, `Notify every X`, etc
- `range` (date) - How far back we want to look
- `index-pattern` (text) eg: `.monitoring-*,metricbeat-*,data-*`
- `threshold` (number) X number of GB

And, we will only have 1x `threashold` and 1x `index-p

[2021-01-15 18:10] afharo opened #88497 "[Discuss] `SavedObjects.incrementCounter` in the UI?"
Would it make sense to add the `incrementCounter` API to the `public` contract?

It could help plugins needing to maintain a counter in the UI (i.e.: for telemetry purposes), instead of creating an HTTP API and run the method on the server end.

What do you think?

[2021-01-15 18:10] elasticmachine commented on #88497
Pinging @elastic/kibana-core (Team:Core)

[2021-01-15 18:11] #85428 closed

[2021-01-15 18:27] ph opened #88499 "Fleet EPM Supported Assets for integration"
## EPM supports the following assets:

- Template installation
- Elasticsearch transform
- Lens
- Dashboard
- Visualization
- Ingest pipeline

## Not supported (need prioritization):

- Elasticsearch
  - ML Job
  - Sample Data
- Kibana
  - Alert
  - Action
  - Canvas Template
  - SIEM rules

[2021-01-15 18:27] elasticmachine commented on #88499
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-15 18:31] rashmivkulkarni commented on #88484
This has been caught by the cloud test failure : https://github.com/elastic/kibana/issues/86520

[2021-01-15 18:32] ph commented on #88499
@mukeshelastic and @mostlyjason There is a list of supported assets for packages.

@skh Since you are close to the close can you do a double check?

[2021-01-15 18:33] sqren commented on #88460
I was a little unclear but that's exactly what I meant 👍

[2021-01-15 18:38] jportner commented on #88484
This appears to be a problem with the Cloud proxy. We cannot reproduce this locally in Kibana, only in the Cloud environment.

We tested the following scenarios within Kibana:

* **Account Management** : Change your password, results in 404 error
* **Stack Management** > **Users** : Change your own password, results in 404 error
* **Stack Management** > **Users** : Change someone else's password,

[2021-01-15 18:42] chrisronline commented on #74820
I wonder if we should support index pattern inclusion _and_ exclusion. ES supports this (using a `-` sign in front of the index pattern) and I imagine some users might find it more useful to apply to all, but a single index. WDYT?

[2021-01-15 18:44] ravikesarwani commented on #74820
Yes

I didn't have this in my definition. I don't think "How far back we want to look" really applies for shard size.
We can say "Look at the average over last X minutes" to account for any fluctuations we may see in the shard size but I don't think this is a must in my viewpoint. WDYT?

Yes

Yes

I see the UI to look something like (other than the normal top and Actions section):

Notify when sha

[2021-01-15 18:59] AlexP-Elastic commented on #88484
Is there any evidence (eg in the Kibana logs) that Kibana issued the request that is never received by ES? (Eg if the proxy was the issue presumably the request errors out in Kibana - is the error logged?)

The proxy definitely doesn't parse the header so it would be very unexpected if the presence or not of an auth header changes the HTTP-level behavior within Cloud.

Also the proxy doesn't know

[2021-01-15 19:12] ravikesarwani commented on #74820
Supporting all the functionality around the creation of index pattern looks like is a complex task. See [doc](https://www.elastic.co/guide/en/kibana/7.11/index-patterns.html).
That is why I was wondering if rather than supporting all the functionality around creation of the index pattern we limit the selection of already created index pattern in this UI.
User needs to create the index pattern in t

[2021-01-15 19:13] sorantis commented on #74810
cc: @katefarrar

[2021-01-15 19:14] alexnelson-es commented on #33928
I can use Vega as a workaround, but a GUI builder is much preferred.
I wish that after a few years of waiting, elastic.co would've finally documented the Series Aggs available in TSVB as well.

[2021-01-15 19:18] jportner commented on #88484
Yes, Kibana makes a call to the Elasticsearch client which returns a 404 error. This is present in the Kibana logs, but the same request does not show up in the Elasticsearch proxy logs.

[code]

We did start using the new ES client in 7.11 (PR #84528), but it is making the same request. And it works locally, without a proxy in front of ES.

[2021-01-15 19:21] thomasneirynck opened #88515 "[Maps] Baselayer loads slowly - showing error"
**Kibana version:**

master

**Describe the bug:**

The baselayer does not load right away, briefly showing an error message.

**Steps to reproduce:**
1. Open Maps > create new map

-> it might take a few seconds for the basemap to load, showing a warning sign in the layer control

Resizing the screen or panning/zooming will resolve the issue

**Expected behavior:**

No error message is shown

**S

[2021-01-15 19:32] nchaulet commented on #88447
@EricDavisX it has been merged yesterday not sure if it made it into BC3 https://github.com/elastic/kibana/pull/88272

[2021-01-15 19:32] elasticmachine commented on #88515
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-15 19:34] spalger commented on #83592
Using a filesystem repository for snapshots would mean that our tests would no longer be compatible with cloud, so I don't think that's going to work unless we also add the ability to get those snapshots in cloud somehow...

[2021-01-15 19:41] jportner commented on #88484
We did this in the test case above "**Dev Tools** : Change your own password, results in success", it's a short request:
[code]

[2021-01-15 19:51] jportner commented on #88484
We did this in the test case above "**Dev Tools** : Change your own password, results in success", it's a short request:
[code]

It does work in 7.11 through Kibana dev tools (and we see that request in the proxy logs). It doesn't work when changing your own password via Kibana's ES client (we don't see the request in the proxy logs).

Edit: I recreated the same command to my staging deployment us

[2021-01-15 19:56] chrisronline commented on #74820
I don't think we need to support the creation of index patterns, but we can support a simple text field to allow the user to specify them. I also don't mind if we source the list from known index patterns in Kibana. Either way, we can support inclusion and exclusion fairly easily if it's desirable from a product perspective.

[2021-01-15 20:01] #88468 closed

[2021-01-15 20:03] AlexP-Elastic commented on #88484
I looked in the proxy application error logs and couldn't find anything that lined up with the counts/times for 404s occurring. There were a few "content-length is wrong" errors and a few "connection reset by peer" errors at similar, but I don't think they are related.

It might be necessary to run a local Kibana hitting a Cloud ES so you can see exactly what the ES client is doing?

[2021-01-15 20:05] jportner commented on #88484
OK, good idea, I'll try that and report back here, thanks.

[2021-01-15 20:06] wylieconlon commented on #68458
It's important to note that this feature would be more powerful than what TSVB offers because we would also support calculations across time periods- in TSVB you can only _view_ data with different offsets, but you can't subtract the two series or divide the series.

[2021-01-15 20:41] #85546 closed

[2021-01-15 20:49] EricDavisX commented on #88447
Ah!  Perfect - this is NOT in BC3, yesterday was too late to make the cut.  Thanks Nicolas.  Let us re-test in BC4.

[2021-01-15 20:53] ogupte opened #88527 "[APM] Show service dependencies table for RUM services in service overview"
The Dependencies section is currently hidden for RUM services since a complete list of dependencies can not be derived with the current RUM Agent not populated the required fields (https://github.com/elastic/apm-agent-rum-js/issues/307) Once these fields are available, this section can be shown by removing the RUM agent check here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/p

[2021-01-15 20:53] elasticmachine commented on #88527
Pinging @elastic/apm-ui (Team:apm)

[2021-01-15 21:03] ogupte opened #88529 "[APM] Hide the User Experience callout after interaction"
The User Experience callout on the service overview and transactions pages for RUM services should be hidden once the user interacts with it. Also the user should be able to dismiss the callout without navigating to User Experience app. This state should be persisted in localStorage.
![Screen Shot 2021-01-15 at 3.59.16 PM.png](https://zube.io/files/elastic/aabd22c30ba5d4c4f9cbbd705625b09b-screen-s

[2021-01-15 21:03] elasticmachine commented on #88529
Pinging @elastic/apm-ui (Team:apm)

[2021-01-15 21:17] #85513 closed

[2021-01-15 21:21] mikecote commented on #88367
I took a look into how the query translates into ES DSL. I think the problem sits there. When using the `or` function, it nests each condition within a new should condition.

<details><summary>Example:</summary>

[code]

</details>

The optimization doesn't seem hard, I did a POC here: https://github.com/elastic/kibana/compare/master...mikecote:kql-nesting-optimization-poc and Kibana doesn't fail

[2021-01-15 21:34] #87028 closed

[2021-01-15 21:35] elasticmachine commented on #88145
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-15 21:36] elasticmachine commented on #88253
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-15 21:36] elasticmachine commented on #88310
Pinging @elastic/kibana-core (Team:Core)

[2021-01-15 22:20] jportner commented on #88484
It appears that the source of our problems is this line: https://github.com/elastic/kibana/blob/9eb993aaef03302c0b876a2a15b6101b5b5b7e7a/x-pack/plugins/security/server/routes/users/change_password.ts#L48

It is intended to ensure that the password is provided in the Authorization header, regardless of what authentication provider is used (e.g., Token provider). However, it has the unintended side

[2021-01-15 22:24] katefarrar opened #88541 "[Metrics UI] Enhanced Host Details - Anomalies"
Add Anomalies tab to the Enhanced Host Details
<img width="647" alt="Screen Shot 2021-01-15 at 3 17 10 PM" src="https://user-images.githubusercontent.com/455281/104784558-cbe3dc80-5745-11eb-982a-0ae652063bac.png">

[Figma prototype](https://www.figma.com/proto/oLm8x6KdKm973Woda0nKDJ/Metrics-ML?node-id=2619%3A3404&viewport=499%2C-2082%2C0.39424243569374084&scaling=min-zoom)

**Interactions:**
- Act

[2021-01-15 22:24] elasticmachine commented on #88541
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-15 22:24] pmuellr commented on #49410
One note on a situation a customer found themselves in recently - after a migration, all of their alerts were in a "Pending" state, due to some authorization issues after the migration.  This would be a good condition to check!

I guess it would be something like, is the alert capable of running (not disabled), is it in "Pending" state, and should it have run by now (that's the hard calculation!);

[2021-01-15 22:29] elasticmachine commented on #35779
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-15 22:32] pmuellr commented on #88367
hmmm ... I didn't realize this was generated from KQL.  Does that mean customers using complex KQL could run into the same problem - seems possible.

[2021-01-15 22:39] wylieconlon commented on #35779
Closing as a dupilcate of a much older request: https://github.com/elastic/kibana/issues/3326

[2021-01-15 22:39] #35779 closed

[2021-01-15 22:43] rashmivkulkarni opened #88543 "Should be able to search with a partial text tag followed by an asterix to get the results"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** OSX

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** BC3 - 7.11.0

**Describe the bug:**

If you have a really long tag name associated with a saved object and find it by the tag name, The UI should be able to allow the user to use (*) and s

[2021-01-15 22:44] elasticmachine commented on #88543
Pinging @elastic/kibana-core (Team:Core)

[2021-01-15 22:44] wylieconlon commented on #13016
I'm pretty sure that this is _not_ a duplicate of the request to have playback on all types, this appears to be specifically for the Graph feature at Platinum and higher license levels.

https://github.com/elastic/kibana/issues/3326

[2021-01-15 22:50] katefarrar commented on #88541
cc @sorantis

[2021-01-15 22:52] jportner commented on #86520
This will be fixed by the PR linked above.

[2021-01-15 22:52] jportner commented on #86519
This will be fixed by the PR linked above.

[2021-01-15 23:36] katefarrar opened #88548 "[Metrics UI] Add anomaly severity threshold in Settings"
Add Machine Learning section with Anomaly severity threshold to Settings

<img width="1023" alt="Screen Shot 2021-01-15 at 4 34 38 PM" src="https://user-images.githubusercontent.com/455281/104788527-a0fe8600-574f-11eb-9720-b7ad560df4c1.png">

[Figma Prototype](https://www.figma.com/proto/oLm8x6KdKm973Woda0nKDJ/Metrics-%2B-ML?node-id=195%3A8768&scaling=min-zoom)

[2021-01-15 23:36] elasticmachine commented on #88548
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-15 23:36] igoristic commented on #74820
The [doc](https://www.elastic.co/guide/en/kibana/7.11/index-patterns.html) starts out with...

What if they don't want to "explore" the production data/cluster they're monitoring? Seems like these are different use cases, and we should keep them separate. I think providing an index pattern field with a default value of `*` (all indices) would suffice (for now) and remove a lot of assumptions/compl

[2021-01-15 23:42] katefarrar commented on #74810
@sorantis just reopened this because we're still needing to implement the two tabs (Jobs and Anomalies) in the Anomaly Detection flyout. I will have an updated prototype early next week.

[2021-01-15 23:43] katefarrar commented on #74810
@hbharding can you clarify the functionality of the `Node type` section? Thanks!
<img width="141" alt="Screen Shot 2021-01-15 at 4 42 42 PM" src="https://user-images.githubusercontent.com/455281/104788910-b6c07b00-5750-11eb-9f2b-b4e034847944.png">

[2021-01-15 23:51] katefarrar opened #88549 "[Meta] [Metrics UI] Anomaly Detection UI Enhancements"
Anomaly Detection UI changes & enhancements for 7.12

- [ ] **Add anomaly severity threshold in Settings** - https://github.com/elastic/kibana/issues/88548
- [ ] **Anomaly Detection flyout enhancements** - https://github.com/elastic/kibana/issues/88649
- [ ] **Timeline enhancements** - https://github.com/elastic/kibana/issues/88550

[2021-01-15 23:51] elasticmachine commented on #88549
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-15 23:52] katefarrar commented on #88549
@sorantis can you double check that I'm not missing anything here? Thanks.

[2021-01-16 00:10] katefarrar opened #88550 "[Metrics UI] Timeline Enhanacements"
Clicking on an anomaly in the timeline will update the time and view of the waffle map

<img width="1431" alt="94442825-052e1780-016a-11eb-892c-65293934d0b7" src="https://user-images.githubusercontent.com/455281/104790498-97c3e800-5754-11eb-9af1-b8d323c78ffa.png">

[2021-01-16 00:10] elasticmachine commented on #88550
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-16 00:41] spong commented on #88449
Added to our longterm board and `impact:medium` is fine here. Removed from `7.11` and we can address in a future release.

[2021-01-16 00:51] spong commented on #88450
If simple we should fix for 7.11, and if not, hide the search bar until this can be fixed. @yctercero, would you be able to take a look at this next week please?

[2021-01-16 02:05] #88296 closed

[2021-01-16 03:20] mukeshelastic commented on #79770
Don't think same or diff column will matter as long as we are able to show category name.

[2021-01-16 03:50] ravikesarwani commented on #74820
I was assuming that using the already created index pattern in stack management should be easier. I agree the main use described in the document is for exploring the data in Kibana but it serves our purpose very well as well. That UI also has functionality like showing in real time when indexes are selected as you describe the filter which is real great and removes lots of user errors.

If you thi

[2021-01-16 07:57] elasticmachine commented on #76152
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2021-01-16 18:48] daviduss2 commented on #75715
any news on this one?

[2021-01-16 21:25] chrisronline commented on #74820
I imagine we'd do the same as Metrics does (as well as other observability solutions):

<img width="1123" alt="Screen Shot 2021-01-16 at 4 17 35 PM" src="https://user-images.githubusercontent.com/56682/104823297-39ac0900-5817-11eb-9a8b-5521f710c9b4.png">
<img width="948" alt="Screen Shot 2021-01-16 at 4 19 47 PM" src="https://user-images.githubusercontent.com/56682/104823299-3add3600-5817-11eb-920

[2021-01-17 02:19] dminovski0 commented on #57083
@daohodac The cloud Kibana instance on https://elastic.co accepts `xpack.reporting.enabled: false` with a colon and space after the parameter name instead of the equality sign. It works and the cloud instance doesn't queue the reporting jobs from the other hosted instance.

[2021-01-17 02:30] bnewbold commented on #88138
This comment contains more information gathered. The summary is that package installation took about 7.5 minutes with default settings, on a modern spinning hard disk. Running dpkg with a special `--force-unsafe-io` flag sped up installation dramatically, to 30 seconds total.

I don't have detailed log of my >15 minute experience previously, and didn't reproduce such a long install time, or timeou

[2021-01-17 02:40] bnewbold commented on #88138
Per my above findings, the default install process on spinning disk is still pretty slow (7+ minutes), though not as long as initially thought. The root of the problem seems to be `dpkg` doing an `fsync()` call after every file creation, which is slow with ext4 on spinning disk, even when throughput is fast.

I generally find apt/deb/dpkg installation quick and reliable to work with; this is the f

[2021-01-17 03:45] ravikesarwani commented on #74820
Let's use the the text field and get this alert coded, tested and delivered.

[2021-01-17 04:34] austinsonger opened #88562 "[Security Solution] - Connector - Severity-to-Priority Sync"
**Describe the feature:**

When you add a action (Connector) to a detection rule and click on a connector like JIRA, that it will pull severity and post that severity to the corresponding JIRA Priority

**Describe a specific use case for the feature:**

![](https://i.imgur.com/bDGT74H.jpg)

![](https://i.imgur.com/PSk2Z7H.jpg)

[2021-01-17 04:50] austinsonger opened #88563 "[Security Solution] - Load Elastic Prebuilt Rules Enhancement + [Separate All Rules and New Rules]"
**Describe the feature:**
Do not automatically load all the rules and give option to choose from all the rules and the new rules since last release

**Describe a specific use case for the feature:**
![](https://i.imgur.com/ryH1ksf.jpg)

[2021-01-17 09:26] elasticmachine commented on #88310
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-17 09:39] dgieselaar opened #88565 "Pasting JSON in advanced settings adds opening/closing brackets"
When I paste a JSON snippet in an advanced setting field that supports JSON, additional opening/closing brackets are added at the end, resulting in an invalid value.

https://user-images.githubusercontent.com/352732/104836741-4a5c8d80-58b0-11eb-854b-5fead04b99fe.mov

[2021-01-17 09:39] elasticmachine commented on #88565
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-17 14:52] sqren commented on #77718
Let's tackle this for 7.12. Seems pretty straightforward.

[2021-01-17 17:17] lizozom opened #88567 "[SearchSessions] initialState should not contain the searchSessionId"
The state stored in `initialState` by `Discover` and `Dashboard` should not include `searchSessionId`, so that when it is used to load the session, it loads exactly like it was originally intended.

[2021-01-17 17:22] lizozom opened #88568 "[SearchSessions] Restoring a session of a dashboard that had auto refresh enabled"
To reproduce use https://github.com/elastic/kibana/pull/81707 where management is available:
 - Open a dashboard that has Auto Refresh on
 - Turn it off
 - Save the search session,
 - Go to management
 - Restore the session - auto refresh gets re-enabled

https://user-images.githubusercontent.com/3016806/104850701-456ffc00-58f9-11eb-9cd4-b381a29306b9.mp4

[2021-01-17 17:22] elasticmachine commented on #88568
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-17 17:24] lizozom opened #88569 "[SearchSession] Extend from management"
**Update after meeting with team and @mdefazio**

While we agree that in a future release we might want to build a UI to choose by how much to extend a session, we have decided for the initial release to stick to extending the session's expiration by the default interval defined in `kibana.yml`

[2021-01-17 17:24] elasticmachine commented on #88569
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-17 17:29] lizozom opened #88570 "[SearchSessions] Improve the restore errors on Discover and Dashboard"
Improve error messages on Discover and Dashboard labels

![image](https://user-images.githubusercontent.com/3016806/104850845-245bdb00-58fa-11eb-8a8e-8ee94e66be4b.png)
![image](https://user-images.githubusercontent.com/3016806/104850866-46edf400-58fa-11eb-9970-8a30572b7bbe.png)

[2021-01-17 17:29] elasticmachine commented on #88570
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-17 21:27] kibanamachine commented on #77289
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11213/)

[2021-01-18 02:21] kibanamachine commented on #76245
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/465/)

[2021-01-18 02:39] jodinathan opened #88571 "TLS shouldn't be needed for basic index/log alert"
I am trying ELK and now I am at the alert feature.
It is asking me to turn on TLS stuff, however, as I am testing, I would like only for the alert to be inserted into an index.
From what I understood, the need for the TLS is because it may expose API keys, however, in my initial use case, API key is not needed.
Having to call the certutil and changing my clients to use a certificate is somewhat pa

[2021-01-18 07:30] ruflin commented on #88499
We also support ILM policies and templates for hidden indices. (@kevinlog can you confirm).

For saved objects I think there are a few more: Kibana index patterns, Kibana search and there might be a few more.

[2021-01-18 07:44] elasticmachine commented on #88193
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-18 07:55] ruflin commented on #88475
@skh @neptunian Not sure if something goes wrong here with the rollback? For testing here is the package in the "broken" state for 7.10.2: https://github.com/elastic/package-storage/tree/51477da1f52cd588c9f23f1c8a96ef1e330a6a5f/packages/apache/0.3.0

[2021-01-18 07:59] #88130 closed

[2021-01-18 08:05] flash1293 commented on #43697
@ryankeairns There's a little more documentation in the readme of the service: https://github.com/elastic/kibana/blob/master/src/plugins/charts/public/services/palettes/README.md

However this is considered a starting point, not the finished service. Let me know if you have something specific in mind around this

[2021-01-18 08:17] azasypkin commented on #84609
I see also a bunch of things in the latest 7.11 snapshot archive that we may not need (just few excerpts):
[code]

[2021-01-18 09:03] katrin-freihofner commented on #79770
@Kerry350 I think your proposal works much better compared to a separate column. Thanks for addressing this.

One tiny thing, could you please make sure the text is aligned (the arrow icon stands out)? I think this would make it easier to read.
<img width="379" alt="Screenshot 2021-01-18 at 10 00 57" src="https://user-images.githubusercontent.com/20965076/104893867-41cd8b00-5974-11eb-9a46-ccda414b

[2021-01-18 09:54] formgeist commented on #16423
Elastic Charts have just released an alpha version of the flame chart https://github.com/elastic/elastic-charts/pull/965

[2021-01-18 10:07] matanrabi commented on #17544
+1

[2021-01-18 10:08] kibanamachine opened #88579 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security "before all" hook in "dashboard feature controls security""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11113/)

[2021-01-18 10:08] kibanamachine commented on #86214
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11113/)

[2021-01-18 10:30] weltenwort commented on #58796
Quite a few things have changed since 7.6, so I wonder if this still happens. (cc @elastic/metrics-ui)

[2021-01-18 10:36] alexwizp commented on #87704
@DziyanaDzeraviankina  could you please have a look?

[2021-01-18 10:39] sulemanof opened #88583 "[Saved Objects] Can't view a saved object from the edit page"
**Kibana version:**
master

**Describe the bug:**

On the edit page of a saved object, the button `View visualization` or `View dashbord` does not navigate to a desired app with the exploring saved object:

- saved visualization :
![image](https://user-images.githubusercontent.com/31325372/104903341-ed84d400-5990-11eb-8db4-e786340e4dbc.png)

- saved dashboard :

![image](https://user-images.github

[2021-01-18 10:41] dikshachauhan-qasource opened #88584 "[Ingest Manager]: 'System.auth' and 'system.syslog' information not available for linux agent under system integration v10.7 detail page."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Linux centos, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

**Preconditions**
1.  8.0 Snapshot Kibana Cloud environment  should be available.
[code]
2. Default policy hav

[2021-01-18 10:44] dikshachauhan-qasource commented on #88584
@manishgupta-qasource Please review

[2021-01-18 10:48] manishgupta-qasource commented on #88584
Reviewed & Assigned to @EricDavisX

[2021-01-18 10:49] elasticmachine commented on #88584
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-18 10:57] azasypkin commented on #88484
Good find @jportner!

@AlexP-Elastic is there any way to track down issues like this via proxy or any other available type of logs (ES API endpoint in the Cloud is being accessed with an invalid/not-allowed `Host` HTTP header)? Or such requests are just silently discarded by the proxy?

[2021-01-18 11:02] sorantis commented on #74810
The actions dropdown should provide the following:
- Show on inventory
- Open in Anomaly Explorer
- Create alert (depends on anomaly alerting)

[2021-01-18 11:03] chronicc commented on #55988
Can confirm the issue in Kibana 7.10.1.

[2021-01-18 11:06] norgro2601 opened #88585 "Alert and Actions - context.reason shows wrong text"
**Kibana version:**
7.10.2

**Elasticsearch version:**
7.10.2

**Server OS version:**
Elastic Cloud

**Browser version:**
Google Chrome 87.0.4280.141

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**
In an Inventory Alert, we check CPU usage. The Alert works correct, but the context.reason text in the Alert show

[2021-01-18 11:21] skh commented on #88249
If you are using EPM methods to install packages, you're already using that lock. The logic has been implemented in this PR: https://github.com/elastic/kibana/pull/85131

Please note that concurrent installations still can happen, see the initial description of that PR.

(cc @jonathan-buttner )

[2021-01-18 11:26] weltenwort commented on #88145
Thank you for describing your use-case so well. This is highly related to #20662 and a solution to it would hopefully also work for you. After #84725 there will be some significant changes to the way the Logs UI is configured, so it might be a good opportunity to also finally add support for multiple source configurations in the UI. (Technically it already is supported.)

[2021-01-18 11:37] lizozom commented on #82626
Resolved by https://github.com/elastic/kibana/pull/84405

[2021-01-18 11:37] #82626 closed

[2021-01-18 11:37] #68082 closed

[2021-01-18 11:41] Kerry350 commented on #79770
@katrin-freihofner Thanks for the input — I'll tweak the alignment 👍

[2021-01-18 11:44] elasticmachine commented on #88585
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-18 11:48] skh commented on #88499
We currently handle the following asset types:

Kibana https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/common/types/models/epm.ts#L43-L50 :
* Dashboard
* Visualization
* Search
* Index Pattern
* Map
* Lens

Elasticsearch https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/common/types/models/epm.ts#L64-L71 :
* Component template
* Ingest pipeline
* Index template

[2021-01-18 11:57] elasticmachine commented on #88571
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-18 11:58] markov00 commented on #88571
Hi @jodinathan, the TLS is a prerequisite as stated here https://www.elastic.co/guide/en/kibana/7.10/alerting-getting-started.html#alerting-setup-prerequisites because is Kibana alerting that is using API keys to secure background alert checks and actions, and the API keys require TLS on the HTTP interface.
I don't know if this could even be exposed in a different way for a simpler use case.
I wil

[2021-01-18 12:13] mostlyjason opened #88589 "[ILM] ILM UI doesn't add delete actions"
**Kibana version:**
7.10.1

**Elasticsearch version:**
7.10.1

**Server OS version:**
debian

**Browser version:**
Firefox

**Browser OS version:**
Windows

**Original install method (e.g. download page, yum, from source, etc.):**
download page

**Describe the bug:**
It appears that the ILM policy editor in the Stack management UI does not apply any actions to the delete phase. As a result, indice

[2021-01-18 12:13] elasticmachine commented on #88589
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-18 12:17] skh opened #88590 "[EPM] Treat all ILM policies equal"
We currently have two different asset types for ILM policies: `ilm_policy` and `data_stream_ilm_policy` ( in https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/common/types/models/epm.ts#L64-L71 ).

As Elasticsearch doesn't make that difference, we should only have one asset type here.

[2021-01-18 12:17] elasticmachine commented on #88590
Pinging @elastic/fleet (Feature:EPM)

[2021-01-18 12:17] elasticmachine commented on #88590
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-18 12:27] sorantis opened #88591 "[Metrics UI] Add support for severity levels to threshold alerts"
**User story**
As a DevOps engineer I want to be able to set multiple threshold values based on severity levels, so that I could channel notifications based on the severity levels.

**Describe the feature:**
Today our threshold alerts support only one default severity level. Customers are asking to introduce multiple severity levels, e.g. `warning`, `critical`. The Kibana alerting team has been wo

[2021-01-18 12:27] elasticmachine commented on #88591
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-18 12:28] skh commented on #88499
For ILM Policy vs. Data Stream ILM Policy I've just opened https://github.com/elastic/kibana/issues/88590 . ES only has one asset type here, so we probably should as well.

[2021-01-18 12:40] pheyos opened #88592 "[ML] Stabilize and re-enable a11y tests"
The ML a11y tests showed some flaky behavior and have been disabled in order to not blocker other PRs with CI failures.

Commits to disable the tests:
master f0d20097a18
7.x/7.12 7cd2f8d804d

TODO: stabilize and re-enable the tests.

[2021-01-18 12:40] elasticmachine commented on #88592
Pinging @elastic/ml-ui (:ml)

[2021-01-18 12:47] #77289 closed

[2021-01-18 12:50] elasticmachine commented on #88579
Pinging @elastic/kibana-security (Team:Security)

[2021-01-18 12:50] elasticmachine commented on #86214
Pinging @elastic/kibana-security (Team:Security)

[2021-01-18 12:53] elasticmachine commented on #86214
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-18 12:54] elasticmachine commented on #88579
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-18 12:54] jloleysens opened #88593 "[ILM] Refactor client integration tests"
## Summary

Currently, ILM has a non-standard + standard structure for its client integration tests. Additionally, in both of these cases, the tests that cover the `edit_policy` section have grown to ~2000 lines in total. We should try to refactor these tests to be **more contained** and **integrate the non-standard test coverage into the standard test coverage** for ES UI plugins.

## Integrate t

[2021-01-18 12:54] elasticmachine commented on #88593
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-18 13:01] elasticmachine commented on #86214
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-18 13:01] elasticmachine commented on #88579
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-18 13:04] skh commented on #84656
Closing, the endpoint now returns a `409` error when a concurrent installation is detected.

[2021-01-18 13:04] #84656 closed

[2021-01-18 13:14] #87007 closed

[2021-01-18 13:16] #86995 closed

[2021-01-18 13:16] #86983 closed

[2021-01-18 13:16] #86982 closed

[2021-01-18 13:20] EricDavisX commented on #88584
Hi @manishgupta-qasource thanks for the ticket.  I don't fully follow the 'Logs heading is not provided as metrics' concern, that sounds like a separate issue to the main one logged - if so please split it to a separate ticket.

About the .auth and .syslog, if you could test with the 'Linux' integration at the same time that might explain - I do think the System integration had some few datasets s

[2021-01-18 13:21] pgayvallet commented on #88543
Moving from bug to enhancement.

1. The GS api automatically performs prefix search when searching for terms. Manually appending `*` is unecessary and unsupported.

2. However for filters (tag/type), we are currently just reverse-mapping the tag name to its ID to use it as reference when using the SO's `find` API. Allowing any kind of smarter lookup, for both the `tag` and `type` filter, is non tr

[2021-01-18 13:23] kibanamachine opened #88596 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/ml·ts - ml for user with full ML access with data loaded data frame analytics create job configuration step for outlier job"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1129/)

[2021-01-18 13:35] elasticmachine commented on #88596
Pinging @elastic/ml-ui (:ml)

[2021-01-18 13:35] pheyos commented on #88596
Flaky tests have already been disabled in #88592

[2021-01-18 13:36] shahzad31 opened #88598 "[UX App] Impact page load errors are not correctly displayed"
**Kibana version:**

in UX app kibana master,

For test edge olbt data, impacted page loads goes above 100%, seems like errors on same page are accumulated.

It should count if same error is happening multiple times on same page as only once.

![image](https://user-images.githubusercontent.com/3505601/104922060-794f2e00-599a-11eb-88e5-db39cb216abd.png)

[2021-01-18 13:36] elasticmachine commented on #88598
Pinging @elastic/uptime (Team:uptime)

[2021-01-18 13:43] #86979 closed

[2021-01-18 13:43] #86975 closed

[2021-01-18 13:43] #86554 closed

[2021-01-18 13:43] #86552 closed

[2021-01-18 13:43] #86553 closed

[2021-01-18 13:43] #86548 closed

[2021-01-18 13:44] #86356 closed

[2021-01-18 13:44] lizozom opened #88599 "[Discuss][Search Sessions] Synchronizing async_search keepslive updates"
In order to avoid having "abandoned" searches that keep running, after a user has closed Kibana, In https://github.com/elastic/kibana/pull/73712, we started extending the `keep_alive` of `async_search` requests by `1m` every time we poll them.

However, with the release of `Search Sessions` coming upon us, this workaround creates a problem. When a `Search Session` is being stored, we need to exten

[2021-01-18 13:45] #85691 closed

[2021-01-18 13:45] #85683 closed

[2021-01-18 13:45] #85684 closed

[2021-01-18 13:47] #87149 closed

[2021-01-18 13:47] #85682 closed

[2021-01-18 13:48] #85680 closed

[2021-01-18 13:48] #85681 closed

[2021-01-18 13:48] #85679 closed

[2021-01-18 13:48] #85678 closed

[2021-01-18 13:48] #85677 closed

[2021-01-18 13:48] #85676 closed

[2021-01-18 13:48] #85675 closed

[2021-01-18 13:49] #85674 closed

[2021-01-18 13:49] #85673 closed

[2021-01-18 13:49] #85672 closed

[2021-01-18 13:49] #85670 closed

[2021-01-18 13:50] #85671 closed

[2021-01-18 13:50] #85669 closed

[2021-01-18 13:50] #85668 closed

[2021-01-18 13:50] #85314 closed

[2021-01-18 13:54] #85313 closed

[2021-01-18 13:54] #85311 closed

[2021-01-18 13:54] #85310 closed

[2021-01-18 13:55] #85217 closed

[2021-01-18 13:55] #85216 closed

[2021-01-18 13:55] #85215 closed

[2021-01-18 13:55] #85098 closed

[2021-01-18 13:56] #84025 closed

[2021-01-18 13:56] #83793 closed

[2021-01-18 13:56] #83775 closed

[2021-01-18 13:56] #83774 closed

[2021-01-18 13:56] #83773 closed

[2021-01-18 13:56] #83772 closed

[2021-01-18 13:56] #80569 closed

[2021-01-18 13:56] #79522 closed

[2021-01-18 13:58] #79389 closed

[2021-01-18 13:58] #75794 closed

[2021-01-18 13:58] #71299 closed

[2021-01-18 13:59] #69595 closed

[2021-01-18 13:59] #68607 closed

[2021-01-18 13:59] #65497 closed

[2021-01-18 13:59] #62060 closed

[2021-01-18 14:08] pgayvallet commented on #88395
`"` is the delimiter separator for EUI's `Query`, and would need to be escaped with `\"` probably. Other cars should be fine when inside double quotes.

[2021-01-18 14:16] michaelpietzsch commented on #3118
Is any  update on this??

[2021-01-18 14:22] simitt commented on #77966
Cross linking https://github.com/elastic/kibana/issues/78222 to ensure efforts are aligned (or conciously kept separated).

[2021-01-18 14:34] elasticmachine commented on #88475
Pinging @elastic/fleet (Feature:EPM)

[2021-01-18 14:41] dej611 commented on #87068
This fix should be done on the elastic-chart side.

[2021-01-18 15:18] weltenwort opened #88607 "[Logs UI] Use Kibana index patterns in the source configuration"
:warning: **This is work in progress.**

## Summary

Kibana index patterns will be the basis for analyst-created runtime fields and related features. The Logs UI wants to make use of that and should therefore base its index configuration on Kibana index patterns.

## Background

The indices read by the Logs UI are currently set as a plain Elasticsearch index ane pattern in the `logAlias` field of

[2021-01-18 15:18] elasticmachine commented on #88607
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-18 15:19] markov00 opened #88608 "Canvas element fails on resizing"
**Kibana version:**
7.10.0

**Browser version:**
Chrome 87

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**

If after editing a table, I resize it, the following error is thrown:

[code]

I can resize the table element only if I exit the current canvas and go back

**Steps to reproduce:**
1. create a new workpad
2. add a table
3. change the s

[2021-01-18 15:19] elasticmachine commented on #88608
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-18 15:30] kevinlog commented on #88499
@ruflin

Yes, this is correct.  See these PRs:
- Can add ILM policy per data stream: https://github.com/elastic/kibana/pull/85492
- Add hidden indices: https://github.com/elastic/kibana/pull/85703
- Ensures indices are amended with a leading dot in Fleet: https://github.com/elastic/kibana/pull/86277

[2021-01-18 15:40] ThomThomson commented on #82877
I was able to work around this issue by cleaning up the active session here:

https://github.com/elastic/kibana/blob/53f4b21a8158d0becbd7874f75c0d3a85ceefbe5/src/plugins/dashboard/public/application/dashboard_router.tsx#L232

We can close this, but it does seem like a natural DX to want to use `currentAppId$` in this sort of way, so it might be a good idea to mention in the contract that this is n

[2021-01-18 15:46] flash1293 commented on #83591
@myasonik I just re-tested this in Firefox on Mac and it seems like even though the container is still scrollable (I'm not sure why that's even the case...), tabbing doesn't seem to stop. Could you check latest master to confirm the current behavior is fine?

[2021-01-18 15:51] angorayc commented on #85403
Hello @XavierM , I had a look to this issue too, seems that it's the basic timeline created by `PersistTimelineFavouriteMutation` is always `default` under this situation. Therefore causing a failure `You cannot convert a Timeline template to a timeline, or a timeline to a Timeline template`.

Fixing this might have some change to GraphQL, not sure if it is the good timing to do so, as in https://

[2021-01-18 15:58] #87049 closed

[2021-01-18 15:59] elasticmachine commented on #88466
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-18 16:11] flash1293 commented on #84941
Seems like this can still happen:
<img width="1280" alt="Screenshot 2021-01-18 at 17 05 21" src="https://user-images.githubusercontent.com/1508364/104938481-73177c80-59af-11eb-82c1-0a5609f3b55c.png">

I checked the code and I realized we are doing this to simulate dragging:
[code]

@wylieconlon Do you think it's possible the 50ms just haven't passed yet and the drag is not completed but still in p

[2021-01-18 17:37] gmmorris commented on #54697
Given the implementation of [this issue](https://github.com/elastic/kibana/issues/65553) can we close _this_ issue? 🤔

[2021-01-18 17:41] sophiec20 commented on #85129
@weltenwort The existing ML telemetry is designed to be generic and takes the sum/min/max/avg of counters across all jobs. ML does not yet have any categorization specific telemetry but this would be designed to be general purpose for all categorization jobs.

If you wish for some specific telemetry for the Logs UI job (e.g. if job_id=xxx or if solution=xyz), then this would be best captured in so

[2021-01-18 18:21] #58314 closed

[2021-01-18 18:26] arisonl opened #88624 "Alerts and Actions empty view in 7.11"
**Version:**
7.11

**Deployment:**
Elastic Cloud: europe-west1 (Belgium)

**Describe the bug:**
_Alerts and Actions_ view empty despite the user having the required privileges to access it.

<img width="1483" alt="Screenshot 2021-01-18 at 19 43 31" src="https://user-images.githubusercontent.com/5412240/104948120-77e72b00-59c5-11eb-846f-d3964487e872.png">

**Steps to reproduce:**
1. Create a role w

[2021-01-18 18:26] elasticmachine commented on #88624
Pinging @elastic/kibana-core (Team:Core)

[2021-01-18 18:26] elasticmachine commented on #88624
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2021-01-18 18:26] elasticmachine commented on #88624
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-18 18:26] elasticmachine commented on #88624
Pinging @elastic/kibana-security (Team:Security)

[2021-01-18 18:26] gmmorris opened #88625 "[Meta][Task Manager] It's possible to clog up the Task Manager's throughput"
As a result of the performance testing and recent experimentation I've began to notice a variety of situations where we can clog up the Task Manager throughput and I think we need to prioritise work to mitigate this from several perspectives.

# From the User's Perspective

We should assume a user is naive when it comes to creating alert, and they have little to no understanding of the relationshi

[2021-01-18 18:26] elasticmachine commented on #88625
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-18 18:36] moadh commented on #31804
Kibana v7.9.2 and we are facing the same issue on the SQS filter that comes with Metricbeat dashboard. I know this is an experimental type but Is there any workaround ? Thx !

[2021-01-18 18:51] #52682 closed

[2021-01-18 19:42] AlexP-Elastic commented on #88484
@azasypkin this issue did make it clear that we need to log the "no matching id", we discussed a bit in cloud slack - @dtuck9 when you get a moment could you create an issue?

[2021-01-18 21:16] kevinlog opened #88630 "[Bug] Endpoint package 0.16.2 -> 0.17.0 upgrade can't proceed when it can't find corresponding Transform"
**Kibana version:**
7.10, 7.11

**Elasticsearch version:**
7.10, 7.11

**Describe the bug:**
When attempting to install the Endpoint package, sometime it fails stating that it cannot find a transform with a corresponding id.

**Steps to reproduce:**
1. Have a Fleet server with an Endpoint package transform already installed
2. Upgrade the server from 7.10 -> 7.11, this will trigger a package upgra

[2021-01-18 21:16] elasticmachine commented on #88630
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-18 21:20] kevinlog commented on #88630
cc\ @EricDavisX @kuisathaverat @pzl @jonathan-buttner

[2021-01-18 22:31] cjcenizal commented on #88565
@dgieselaar Thanks for raising this! Could you provide a screenshot that shows which app you're in? I'm afraid I'm not quite sure where you are in Kibana.

[2021-01-18 22:54] ansell opened #88632 "Feature: Processing of threshold detection events"
**Describe the feature:**

I would like a way to enrich detection events using processors. In particular, I would like to enrich detection events generated from threshold rules, where only a single source field is passed through to the detection event from the original document set.

**Describe a specific use case for the feature:**

In my specific case, I would like to process threshold detection

[2021-01-18 23:06] dgieselaar commented on #88565
@cjcenizal /app/management/kibana/settings:

![image](https://user-images.githubusercontent.com/352732/104969912-0ff70b80-59ea-11eb-8086-07139255c738.png)

(wrong team/label?)

[2021-01-18 23:10] darey-io commented on #9783
You mentioned that there is already self signed certs for ES and Kibana before the error. Then you also said that "With proper self signed certs in place for ES and Kibana..." Can you be a little more specific? What extra configurations did you have to do to make this work?

[2021-01-18 23:31] austinsonger opened #88633 "[Security Solution] - "Add Rule Exception" Enhancement - Automatic Populate Fields and Values from a Detection"
### Describe the feature:

### Describe a specific use case for the feature:

**Step 1**
![](https://i.imgur.com/C62k8wB.jpg)

**Step 2**
![](https://i.imgur.com/WLvEKS0.jpg)

**Step 3**
![](https://i.imgur.com/ToScdAq.jpg)

[2021-01-19 00:00] #88484 closed

[2021-01-19 00:00] #86519 closed

[2021-01-19 00:00] #86520 closed

[2021-01-19 01:22] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11241/)

[2021-01-19 02:38] kibanamachine opened #88638 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/cloning·ts - machine learning data frame analytics jobs cloning supported by UI form classification job supported by the form runs the clone analytics job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11242/)

[2021-01-19 05:03] kmartastic commented on #67822
Hi @mikecote @arisonl -- just wanted to add my vote to this issue. I struggle with this input every time.

- It seems I have to choose from the list, I cannot just type in the name of my index.
- When I accidentally make the wrong choice, or simply want to choose another index with a similar name -- I just want to click my cursor back into the text input, but when I do, it removes my choice and I

[2021-01-19 05:38] kibanamachine opened #88639 "Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/visualize_integration·ts - saved objects tagging - functional tests visualize integration editing allows to assign tags to an existing visualization"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11245/)

[2021-01-19 06:14] muskangulati-qasource commented on #86098
Hi @XavierM,

We tested this issue on the latest 7.11.0 BC3 build and found that issue is now **fixed**. We can see the scroller and data correctly.

Please find below the testing details:
**Build Details**:
[code]

**Screenshot**:
![JSON data view](https://user-images.githubusercontent.com/60252716/104835283-949f3800-58cb-11eb-9698-2b9cc2bec795.PNG)

Hence, closing this ticket.

Thanks!

[2021-01-19 06:15] #86098 closed

[2021-01-19 06:22] deepikakeshav-qasource commented on #85749
Hi  @cnasikas

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . Count of In-progress is displaying in select case pop up under the detection alert.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![in-Progress](https://user-images.githubusercontent.com/61860752/104928548-c813bc80-59c8-11eb-8a1

[2021-01-19 06:22] deepikakeshav-qasource commented on #84888
Hi  @michaelolo24

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Not Fixed** . Long text is not wrapped in the grey box for events under the resolver

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![Registry_events](https://user-images.githubusercontent.com/61860752/104928750-07420d80-59c9-11eb-946e

[2021-01-19 06:23] deepikakeshav-qasource commented on #84446
Hi  @patrykkopycinski

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . Host name value is displaying properly under timeline table view

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![Host_name](https://user-images.githubusercontent.com/61860752/104929017-60aa3c80-59c9-11eb-85a0-232ef2e2300

[2021-01-19 06:23] deepikakeshav-qasource commented on #86102
Hi  @cnasikas

We have validated this ticket on  **7.11.0 BC3** and found that issue is **Fixed** . Alert information is displaying in incidents[Jira, IBM. Service Now] after adding the alert on cases.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-e9e2951f/summary-7.11.0.html

**Screenshot:**
![Alert_information](https://user-images.githubusercontent.com/61860752/10492932

[2021-01-19 06:27] elasticmachine commented on #88638
Pinging @elastic/ml-ui (:ml)

[2021-01-19 06:48] muskangulati-qasource opened #88640 "[Security Solution] 'Register As AV' is enabled in the policy and successful. The logs show an incorrect message for an incomplete request for AV"
**Describe the bug**
'Register As AV' is enabled in the policy and successful. The logs show an incorrect message for an incomplete request for AV

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Clic

[2021-01-19 06:48] muskangulati-qasource opened #88641 "[Security Solution] Host Tab shows the incorrect count for total hosts if multiple hosts have the same name."
**Describe the bug**
Host Tab shows the incorrect count for total hosts if multiple hosts have the same name.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Multiple agents should be deployed with the same names.

**Steps to Reproduce**
1. Click on the Agents tab and view all the agents successfully deployed.
2. Click on the h

[2021-01-19 06:49] muskangulati-qasource commented on #88640
@manishgupta-qasource please review!!

[2021-01-19 06:49] muskangulati-qasource commented on #88641
@manishgupta-qasource please review!!

[2021-01-19 07:02] pheyos commented on #88638
It seems the DFA job needed much more time to finish than usual, the error screenshot shows that it was still in `Phase 5/8`.
I suspect this is a transient issue, but will monitor it.

[2021-01-19 07:31] pgayvallet commented on #17298
Even if that probably means that it is unlikely to have the feature ready for `7.12`, I think it's the correct option here. Trying to hack our way into displaying a static footer would be a nightmare to maintain, and having proper development from the EUI/design teams that we could leverage for the feature seems a way better solution.

I think nothing is blocking us from doing so, but I agree that

[2021-01-19 07:39] manishgupta-qasource commented on #88640
Reviewed & assigend to @kevinlog

[2021-01-19 07:41] pgayvallet commented on #88497
FWIW, even on the server-side, `incrementCounter` is not exposed on `SavedObjectsClient`, and is only available when directly working with a `SavedObjectsRepository`. Exposing this API on the client-side client means exposing it on its server-side counterpart too (not that this is necessarily an issue).

I'm not really sure what was the idea behind the decision of not exposing this API on the serv

[2021-01-19 07:44] manishgupta-qasource commented on #88641
Reviewed & Assigned to @MadameSheema

[2021-01-19 07:55] MadameSheema commented on #88641
Closing the ticket since is a duplicate of https://github.com/elastic/kibana/issues/77964

Ping @XavierM

[2021-01-19 07:55] #88641 closed

[2021-01-19 08:06] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11135/)

[2021-01-19 08:09] angorayc commented on #85403
I have a draft just incase if we want to fix it in 7.11 https://github.com/elastic/kibana/pull/88642

[2021-01-19 08:24] #87296 closed

[2021-01-19 08:45] flash1293 commented on #77567
Thanks @rudolf if there's nothing better to do we can try that approach. @spalger Is there an easy way to upgrade the file without manually copying stuff around?

[2021-01-19 08:51] elasticmachine commented on #88633
Pinging @elastic/kibana-security (Team:Security)

[2021-01-19 08:52] elasticmachine commented on #88632
Pinging @elastic/kibana-security (Team:Security)

[2021-01-19 09:05] elasticmachine commented on #88632
Pinging @elastic/siem (Team:SIEM)

[2021-01-19 09:17] sgrodzicki commented on #74810
Can we please create a new issue for this?

[2021-01-19 09:22] sgrodzicki opened #88649 "[Metrics UI] Anomaly Detection flyout enhancements"
Anomaly Detection flyout enhancements including Jobs and Anomalies tab ~~and visual indicator when new anomalies are detected~~. (anomalies detection indicator moved to https://github.com/elastic/kibana/issues/90654)

[Figma prototype](https://www.figma.com/proto/oLm8x6KdKm973Woda0nKDJ/Metrics-ML?node-id=2668%3A1&viewport=1286%2C-149%2C0.6282229423522949&scaling=min-zoom)

# Jobs tab
<details>
<su

[2021-01-19 09:23] sgrodzicki commented on #74810
I've created a new issue to track this: https://github.com/elastic/kibana/issues/88649

[2021-01-19 09:23] #74810 closed

[2021-01-19 09:23] elasticmachine commented on #88649
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-19 09:30] jgowdyelastic opened #88652 "[ML] Revert snapshot chart broken label"
It looks like an upstream change in elastic charts has caused the label which shows the model snapshot date to be positioned off the page.

**Where it is** (only the `27` is visible) :
![image](https://user-images.githubusercontent.com/22172091/105014642-95091180-5a38-11eb-9a04-d7aaa79367f8.png)

**Where it should be:**

![image](https://user-images.githubusercontent.com/22172091/105014776-bcf8750

[2021-01-19 09:30] elasticmachine commented on #88652
Pinging @elastic/ml-ui (:ml)

[2021-01-19 09:37] deepikakeshav-qasource opened #88653 "[Security Solution] Message pop up for deleting the value list exception file shows related rule that is already deleted from the rule list."
**Description**
Message pop up for deleting the value list exception file shows a related rule that is already deleted from the rule list.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Rule should be created.
4. Value list should be uploaded

**Steps to Reproduce:**
1. Navigate to

[2021-01-19 09:37] deepikakeshav-qasource commented on #88653
@manishgupta-qasource Please review

[2021-01-19 09:57] angorayc commented on #85403
The expected behaviour is still different from the description above in my PR. As auto saved for title and description is deprecated, and we don't want to show a template without a title in the list. So the result in the PR above is just fixing the functionality of manually saving a template after it's `favourite button` is clicked.

[2021-01-19 10:00] gmmorris commented on #88369
A couple of possible directions of investigation that came to me:

1. Perhaps we can change the mechanism so that the average version-clash required to shift is different for a Task Manager than has already shifted in the past few cycles than from a Task Manager that's experiencing clashes for the first time in a while? This would bias for constant shifting of one TM until it finds a good slot, in

[2021-01-19 10:20] rudolf commented on #88497
`incrementCounter` uses scripting. For 7.x having scripts enabled on Elasticsearch is not a requirement. Although many features rely on it, the intention has been to have most features continue to work without scripting (it's possible that Kibana is anyway completely broken when scripting is disabled we just don't know it, but AFAIK that was the thinking behind this when this API was introduced ~2

[2021-01-19 10:23] pgayvallet commented on #88497
AFAIK it probably is 🙈

[2021-01-19 10:27] rudolf commented on #88497
Although even if we decide that this API is "safe" to use outside of telemetry, I would not want to expose it on `public` because of the discussion in https://github.com/elastic/kibana/issues/84729#issuecomment-737170558 Although we still need to flesh out a more detailed roadmap for working towards that goal, I think it makes sense to not introduce any new API's on the public SavedObjectsClient b

[2021-01-19 10:50] pgayvallet commented on #88451
Closing in favor of https://github.com/elastic/kibana/issues/88009

[2021-01-19 10:50] #88451 closed

[2021-01-19 10:54] simitt opened #88659 "[APM] Link to Fleet APM Server Configuration when managed by Elastic Agent w/Fleet"
This is a temporary solution for ~7.13~ 7.x only

---

**Background**
When [APM Server is managed by Elastic Agent with Fleet](https://github.com/elastic/apm-server/issues/4558) the configuration for the APM Server will happen in the Fleet UI in Kibana, instead of directly configuring an `apm-server.yml` file when starting APM Server.

**Link from legacy getting started guide to Fleet Configuratio

[2021-01-19 10:54] elasticmachine commented on #88659
Pinging @elastic/apm-ui (Team:apm)

[2021-01-19 10:54] elasticmachine commented on #88659
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-19 11:13] dej611 opened #88661 "[Lens] (Accessibility) Legend items have duplicate ids"
**Steps to reproduce**

1. Create a Lens XY chart with multiple layers
2. Execute this JS in the console: `document.querySelectorAll('#dot-a').length`
3. Notice the result being > 1

**Expected Result**

Result be 1 or less (dynamic id)

This is a cross-tracking issue for elastic-chart.

[2021-01-19 11:13] elasticmachine commented on #88661
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 11:13] elasticmachine commented on #88661
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-19 11:20] #85572 closed

[2021-01-19 11:25] rudolf commented on #83056
Closing this as vega only went GA in 7.10 https://github.com/elastic/kibana/pull/75157 and this bug only applies to vega saved objects created before 7.3.

[2021-01-19 11:25] #83056 closed

[2021-01-19 11:25] elasticmachine commented on #83056
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 11:48] rudolf commented on #35860
By v7.2 exporting a saved object will also export other referenced objects like index-patterns

[2021-01-19 11:51] muskangulati-qasource opened #88666 "[Security Solution] Event resolver does not show the event.category for which the alerts are filtered"
**Describe the bug**
Event resolver does not show the event.category for which the alerts are filtered

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agents should be deployed & events/ alerts should be triggered.

**Steps to Reproduce**
1. Click on the search KQL bar and write the query: `event.category: "network"`
2. Observe

[2021-01-19 11:51] muskangulati-qasource opened #88667 "[Security Solution]"
**Describe the bug**
Event resolver does not show the event.category for which the alerts are filtered

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agents should be deployed & events/ alerts should be triggered.

**Steps to Reproduce**
1. Click on the search KQL bar and write the query: `event.category: "network"`
2. Observe

[2021-01-19 11:52] #88666 closed

[2021-01-19 11:52] gmmorris opened #88668 "Help core team use new Elasticsearch type definitions in Task Manager"
"I think we need to refactor this code to stop using the types defined in `x-pack/typings/elasticsearch` and use the client-provided types instead (`import { estypes } from '@elastic/elasticsearch'`)."

https://github.com/elastic/kibana/pull/83808#issuecomment-761097489

[2021-01-19 11:55] muskangulati-qasource commented on #88667
@manishgupta-qasource Please review!!

[2021-01-19 11:57] manishgupta-qasource commented on #88653
Reviewed & Assigned to @MadameSheema

[2021-01-19 12:02] manishgupta-qasource commented on #88667
Reviewed & Assigned to @MadameSheema

[2021-01-19 12:29] kevinlog commented on #88640
@muskangulati-qasource @manishgupta-qasource In my experience testing this feature, this a part of the process and is an intermediate step when applying register as AV.  Eventually, the Endpoint should send another response with a success message.  There will be some lag between what you see on the Endpoint and the latest Policy Response showing up in the UI.

Does the Policy Response eventually g

[2021-01-19 12:30] afharo commented on #88497
Makes sense to me! Thank you both for explaining! FWIW, I'm happy to close this issue.

[2021-01-19 12:31] #88497 closed

[2021-01-19 12:39] elasticmachine commented on #88585
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-19 12:46] dikshachauhan-qasource opened #88670 "[Ingest Manager]: Logs heading is not provided as metrics for datasets going to be generated under Logs dataset type."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Linux centos, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

[Ingest Manager]: Logs heading is not provided as metrics for datasets going to be generated under Logs datase

[2021-01-19 12:51] JDPC commented on #80313
Hi All, I am unable to edit my alerts even though I am a superuser. Any ideas as to why?
![image](https://user-images.githubusercontent.com/32999728/105036867-68b3bc00-5a5d-11eb-88dc-706f8abae666.png)

[2021-01-19 12:55] legrego commented on #88624
I think the root cause is an API call to `/api/features`, which was introduced via https://github.com/elastic/kibana/pull/81876.

@elastic/kibana-alerting-services this specific API is only callable by users with the "Global All" Kibana Privilege. Users with a subset of privileges are not currently authorized to hit this endpoint.

[2021-01-19 13:05] mistic commented on #85208
Looks like the test is failing again. Skipped for now

master/8.0: 659c157
7.x/7.12: c94529e

[2021-01-19 13:11] mikecote commented on #88367
It would only apply to queries built with `nodeBuilder`. I did an audit and only the alerting team and app services team (in [search sessions](x-pack/plugins/data_enhanced/server/search/session/session_service.ts)) are impacted.

[2021-01-19 13:19] manishgupta-qasource commented on #88670
Reviewed & Assigned to @EricDavisX

[2021-01-19 13:19] elasticmachine commented on #88670
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-19 13:21] mbarretta commented on #17298
Correct, this would be a gesture of sorts, showing we're going to meet this requirement, but users would still need custom plugins to achieve accreditations.

[2021-01-19 13:24] #63358 closed

[2021-01-19 13:27] dikshachauhan-qasource commented on #88584
Hi Eric

Thanks for the feedback.

Further, System integration datasets more specific to OS support were getting displayed as expected on 8.0 snapshot kibana Cloud build. Build details:
[code]
Report was shared in separate email. System datasets generated were as follows:
- For Linux(system.syslog and system.auth)  and
- For Windows (system.security, system.system and system.application)

Also, we

[2021-01-19 13:31] ruflin commented on #88590
Going through the code reminded me of one of the key differences. The data stream related ILM policies are always overwritten, the global ones are not. The assumption is that the global ones are controlled by the user vs the data stream ones by the package. Still, there should be one code path.

[2021-01-19 13:34] rudolf commented on #56166
The last bit of work to enable this is described in #84907 and likely to be merged soon so I think we can close this discussion.

[2021-01-19 13:34] #56166 closed

[2021-01-19 13:40] ferullo commented on #88640
An updated message is sent if registration ends up failing but not if it succeeds. We can change that text to anything you like. Do you have suggestions @kevinlog ? Perhaps "Antivirus registration enabled"?

[2021-01-19 13:44] kevinlog commented on #88249
From @jonathan-buttner

https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/remove.ts#L18

and the one that Ivan was talking about. I think we should do some testing around the ignore:[404] because I’m wondering if for some reason the 404's aren’t being ignored (edited)

It looks like we should be sure that we're ignoring 404 errors.  We s

[2021-01-19 13:52] kevinlog commented on #88640
@ferullo I've seen this in the UI before, was something changed?

![image](https://user-images.githubusercontent.com/56395104/105043593-b5829d00-5a33-11eb-9406-dd07427d2fa5.png)

[2021-01-19 13:59] EricDavisX commented on #88584
@rahulgupta-qasource and @dikshachauhan-qasource I'm uncertain with your note, are you saying that if you use both integrations that all the expected functionality is found and is working?  Just making sure.

[2021-01-19 14:03] EricDavisX commented on #87493
@dikshachauhan-qasource would you like to run another upgrade test to verify?

[2021-01-19 14:09] EricDavisX commented on #86742
we are waiting for BC4 to test this hoped (at least partial) fix for the socket hang up.  It should be built this week and testable in a few (3-4?) days.

[2021-01-19 14:09] michaelolo24 commented on #84888
Hmm, I tested it with this text 🤔. I'll try it again, thanks for the notice!

[2021-01-19 14:27] elasticmachine commented on #80514
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-19 14:27] elasticmachine commented on #80516
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-19 14:33] #65722 closed

[2021-01-19 14:33] elasticmachine commented on #58506
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-19 14:34] elasticmachine commented on #44543
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-19 14:36] elasticmachine commented on #38980
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-19 14:43] Bamieh opened #88678 "[Meta issue] Reducing kibana bundle size"
I was checking opportunities for us to improve page load perofmance for kibana. This is a meta issue with some of my findings. We can create PRs or separate issues for tackling each one on the list individually. I only looked at package.json dependencies; maybe we can get rid of some devDependencies as well to reduce yarn install time in the future.

- [x] Webpack and some of its plugins are in de

[2021-01-19 14:43] hbharding commented on #86879
Sorry just seeing. Here's a quick fix:

![image](https://user-images.githubusercontent.com/847805/105048680-d221d380-5a39-11eb-95a2-878668bb2c57.png)

Question: what is the difference between `offline` and `inactive`? When I worked on the status bar, I hadn't intended for it to visualize inactive agents because, at the time, inactive agents were hidden behind a "Inactive" filter button. I see now

[2021-01-19 14:44] #75329 closed

[2021-01-19 15:01] pmuellr commented on #54697
Seems fine to close this, but let's wait for Frank, since I know he was interested in this.

IIRC, one of the early thoughts on this was to "spread out" the alerts so they wouldn't all be scheduled at the same time.  I think this will actually occur naturally given the worker count / polling interval - only so many alerts can run at a time, and alerts are scheduled to run based on their interval a

[2021-01-19 15:02] bitonp commented on #7879
+1 .. I have a detailed scripted_metric that returns a string based on certain values.. would be great to get that into a table and/or visualisation

[2021-01-19 15:11] skh commented on #86932
Thanks for reporting. There is indeed some inconsistency.

In the dropdown, we have (as shown in the initial description):

![image](https://user-images.githubusercontent.com/189073/105052721-7d4d7f80-5a70-11eb-9bfa-8908a750bb93.png)

In the UI above the agent list, we have:

![image](https://user-images.githubusercontent.com/189073/105052782-90604f80-5a70-11eb-8095-9bc13f08461a.png)

On the Overv

[2021-01-19 15:12] elasticmachine commented on #88678
Pinging @elastic/kibana-core (Team:Core)

[2021-01-19 15:30] dominiqueclarke opened #88686 "[Uptime] Waterfall - Unmapped MIME types show as undefined"
For unmapped mine types, we are showing undefined in the tooltip.

<img width="967" alt="Screen Shot 2021-01-19 at 10 23 45 AM" src="https://user-images.githubusercontent.com/11356435/105055699-4f9d1200-5a41-11eb-871c-edebf091d962.png">

We bucket mime types together into specific groups in order to provide color coding for specific types of data, i.e. CSS, JS, HTML, Fonts, and Media. But some com

[2021-01-19 15:30] elasticmachine commented on #88686
Pinging @elastic/uptime (Team:uptime)

[2021-01-19 15:39] jloleysens commented on #88589
Hi @mostlyjason! Thanks for opening this issue. This should be fixed in 7.10.2 and in 7.11.0+. See https://github.com/elastic/kibana/pull/85258 and https://github.com/elastic/kibana/pull/84870

[2021-01-19 15:39] #88589 closed

[2021-01-19 15:45] spalger commented on #77567
The easiest way would probably be to load them into es and then save them again:

Run `node scripts/functional_tests_server --config x-pack/test/api_integration/config.ts` in one tab and in another
[code]

[2021-01-19 15:48] nchaulet commented on #86879
Offline is agent that did not checked in in the last n amount of time
Inactive is unenrolled agents

[2021-01-19 15:53] spalger commented on #88310
Opened https://github.com/sqren/backport/issues/244 in the backport tool repo.

[2021-01-19 15:56] spalger commented on #84609
I think it's probably safe to remove `__fixtures__` files, as well as any `.ts` files, but anything matching `test` feels likely to be a problem.

[2021-01-19 15:59] spalger commented on #84609
Actually, looks like we do drop `.ts` files already, but not `.tsbuildinfo` files.

[2021-01-19 16:03] globuslab opened #88692 "[UI] In "View surrounding documents" page line "expand arrow" button and inline "add filter" buttons are missing."
**Kibana version**: 7.10.2

**Elasticsearch version**: 7.10.2

**Server OS version**: Debian 10

**Browser version**: Google Chrome Version 87.0.4280.66 (Official Build) (64-bit) and Firefox 78.6.1 ESR

**Browser OS version**: Windows 10 20H2

**Original install method (e.g. download page, yum, from source, etc.)**: Elastic apt repo

**Description of the problem including expected versus actual be

[2021-01-19 16:08] jfsiii commented on #76843
@ph & @ruflin I started a branch on Friday. I just put it as a draft PR https://github.com/elastic/kibana/pull/88688 to get CI. We'll talk more in that issue and this week, but it's there if you want to follow along

[2021-01-19 16:10] justinkambic commented on #77935
@paulb-elastic we should assign a status to this issue.

[2021-01-19 16:11] kertal commented on #62736
There has been a change recently with the rise of data grid, so the real fieldname is added
<img width="579" alt="Bildschirmfoto 2021-01-19 um 17 09 09" src="https://user-images.githubusercontent.com/463851/105060986-4465d880-5a79-11eb-99fb-9164076a9ec9.png">
FYI @andreadelrio , wonder if we should change this to the use of an icon? like it's discussed here

[2021-01-19 16:13] nickofthyme opened #88693 "[Vislib] Use explicit histogram interval not filtered data interval"
**Kibana version:**
`7.x`

**Describe the bug:**
When creating a non-date histogram visualization using vislib with a split chart column. Setting an explicit interval may not be correctly applied to the visualization. This occurs when the data from ES is filtered for non-empty buckets which creates an inflated interval that is used to render the histogram chart.

**Steps to reproduce:**
1. Run `no

[2021-01-19 16:15] rashmivkulkarni commented on #88624
Note: We may have to make the end to end test which currently runs as administrator to tweak it and use a specific user with limited privileges to cover this scenario.

[2021-01-19 16:19] shahzad31 commented on #77935
i think work for this is already done, we should close this.

[2021-01-19 16:20] #77935 closed

[2021-01-19 16:23] jasonrhodes commented on #84344
As far as things we can easily track today, we should make sure we are tracking events for when anomaly detection is being set up and, if possible, when it's being interacted with after it's been collected. @phillipb / @elastic/metrics-ui  feel free to ping me for more information about this if you need it.

[2021-01-19 16:37] #84907 closed

[2021-01-19 16:49] pmuellr commented on #88571
IIRC, you can run without TLS, but then you cannot run with Security on.  When Security is on, we use API keys, which require a TLS connection between Kibana and Elasticsearch.

[2021-01-19 16:50] timroes opened #88702 "Make listing pages (Visualizations, Dashboards) to actually use links"
Currently the listing pages as shown below are using a `button` with a click listener to navigate to their entries.

![screenshot-20210119-174823](https://user-images.githubusercontent.com/877229/105065877-a412b280-5a7e-11eb-8ea9-5a8d02466c0c.png)

This prevents using the "open in new tab" feature of your browser on it. We should change that component to actual render links.

[2021-01-19 16:50] elasticmachine commented on #88702
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 16:53] nreese opened #88703 "[Maps] Map react component"
To embed a map in Kibana, one must create an embeddable container and then a map embeddable. This is a more involved process then it should be. Maps should expose a map react component that can be used any where that internally handles all of the embeddable infrastructure.

Lens is working on a similar concept - https://github.com/elastic/kibana/pull/84416

[2021-01-19 16:53] elasticmachine commented on #88703
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-19 16:55] pmuellr commented on #88625
I don't think we have a specific issue for it, but at some point I realized that we probably want to run the connector actions in the same task as the alert.  This would become important if we have actions that pass data between them (eg, Jira connector opens an issue, email connector sends an email with the link to the Jira issue).

I suspect it would "help" with this particular issue as well.  T

[2021-01-19 17:00] pmuellr commented on #88369
IIRC, we are only shifting "forward" (adding a delay).  I suspect it won't actually help, but I wonder if we'd considering shifting "backwards" (running a little sooner) as well.  I don't think we'd want to "undelay" much, like no more than a second, and so I suspect this will have little effect.

[2021-01-19 17:05] fearful-symmetry commented on #88584
Yah, I'm a tad confused. Is this an issue with the doc page, or is there some data missing?

[2021-01-19 17:14] ryankeairns commented on #80516
Not specific to this issue, but @liza-mae provided some quick thoughts on how this might be implemented (or what to consider in a proof of concept). In particular, whomever goes first (i.e. takes on the PoC) should consider the possibility of this being a separate plugin which provides a way to manage tours from a central location as opposed to sprinkling EuiTour wrappers throughout numerous appli

[2021-01-19 17:19] clintandrewhall opened #88709 "[8.0 Research] Filter Improvements and Alignment"
## Summary of Exploration or Proposed Change

## Findings

- Proposed Priority:
- Level of Effort:
- Dependencies (if any):
  - [Teams/Projects]
- Proposed development: [7.x]

[2021-01-19 17:19] elasticmachine commented on #88709
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:19] clintandrewhall opened #88710 "[Dashboard][Research] Refactor Grid and Layout Systems"
## Summary of Exploration or Proposed Change

In the 8.x timeframe, the dashboard app should move away from [react grid layout](https://github.com/STRML/react-grid-layout) as its layout engine, and towards a custom system which allows for greater flexibility and customizability for users while retaining the ease of use and structured 'website-like' layouts dashboard is currently known for.

**Prob

[2021-01-19 17:19] elasticmachine commented on #88710
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:20] clintandrewhall opened #88711 "[8.0 Research] Dashboard UI Refresh"
## Summary of Exploration or Proposed Change

Changes to how a Dashboard looks are considered a breaking change.  Therefore, we need to target any redesign of Dashboards for 8.0.

While design conversations are ongoing, we should be considering the technical approach early on.

### Proposal: "Dashboard Themes"

1. Identify all probable/possible style factors in a Dashboard as a "Theme", e.g. borde

[2021-01-19 17:20] elasticmachine commented on #88711
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:21] clintandrewhall opened #88712 "[Research] UIState Per-panel Removal"
## Summary of Exploration or Proposed Change

the `uiState` key is currently used to store inconsequential dashboard panel specific information. This includes whether or not to show the legend, and the color scheme.

As part of the Inline Editing project, it was decided that we would remove the existing UiState key in order to simplify where state is stored for embeddables, and minify the number o

[2021-01-19 17:21] elasticmachine commented on #88712
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:24] clintandrewhall opened #88714 "[8.0 Research] Remove Dashboard-only Mode"
## Summary of Exploration or Proposed Change

## Findings

- Proposed Priority:
- Level of Effort:
- Dependencies (if any):
  - [Teams/Projects]
- Proposed development: [7.x]

[2021-01-19 17:24] elasticmachine commented on #88714
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:28] clintandrewhall opened #88715 "[8.0 Breaking Change] Emotion CSS-in-JS"
## Summary of Exploration or Proposed Change

Canvas needs to remove public classnames from its elements in favor of strict contract.  At present, users can inspect the DOM and write custom styles against the structure.  While probably useful, it means that any changes to DOM structure or CSS classname is a breaking change between minor releases.

1. EUI is pursuing Emotion CSS-in-JS.  Canvas shou

[2021-01-19 17:28] elasticmachine commented on #88715
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:28] clintandrewhall opened #88717 "[meta] 8.0 Research Projects"
For the next few weeks, the Presentation Team will be researching feasibility, scope, impact and dependencies for a number of 8.0 Breaking Changes:

### Ecosystem
- [ ] Filter Improvements and Alignment - https://github.com/elastic/kibana/issues/88709
- [ ] Refactor Grid / Layout Systems - https://github.com/elastic/kibana/issues/88710

### Dashboard
- [ ] Dashboard UI Refresh - https://github.com

[2021-01-19 17:28] elasticmachine commented on #88717
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 17:37] andreadelrio commented on #62736
@kertal I think we could go with the icon + tooltip and show the real fieldname only.

[2021-01-19 17:38] nickofthyme commented on #88693
This appears to be related to the use of `"min_doc_count": 1` in the `histogram` aggression in the ES request. Removing this returns the correct interval keys of `[30, 35, 40, 45, ...]`.

[2021-01-19 17:43] justinkambic commented on #84084
@shahzad31 any advice on repro steps? It looks like it's probably the result of some `io-ts` assertion not matching up, which means we'd need to adjust our typing or fix the API response to match it.

[2021-01-19 17:45] shahzad31 commented on #84084
![image](https://user-images.githubusercontent.com/3505601/105072778-77fb2f80-5a86-11eb-9b40-bb5d1b77888a.png)

oopppss

[2021-01-19 17:45] #84084 closed

[2021-01-19 17:52] legrego opened #88719 "Lens "Add to dashboard" is appearing for underprivileged users"
**Kibana version:** 7.11

**Describe the bug:**

Lens has a new "Save to dashboard" feature, which allows a Lens user to save their visualization within either a new or existing dashboard.

This display of this feature is not respecting the current user's privileges, so it give users an option that will ultimately fail.

**Steps to reproduce:**
1. Create a role which grants `All` access to Visuali

[2021-01-19 17:52] elasticmachine commented on #88719
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 18:03] #87042 closed

[2021-01-19 18:04] kibanamachine opened #88721 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_save·ts - dashboard app using legacy data dashboard save Does not warn when you save an existing dashboard with the title it already has, and that title is a duplicate"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11145/)

[2021-01-19 18:12] legrego opened #88723 "Users without access to Maps should not have the option to create them"
**Kibana version:** tested on `master`

**Describe the bug:**

The visualize application has a link to create Maps from their create workflow. Users who aren't authorized to create Maps specifically shouldn't be given this option.

**Steps to reproduce:**
1. Create a role with just `All` access to `Visualize`
2. Create a user, and assign them the role created in step 1
3. Login as this user, and n

[2021-01-19 18:12] elasticmachine commented on #88723
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 18:12] elasticmachine commented on #88723
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-19 18:14] elasticmachine commented on #88721
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 18:14] tylersmalley commented on #88721
Only seeing two failures in the past week, both on the 7.x branch.

[2021-01-19 18:15] legrego opened #88724 "Users without access to Dashboards should not be given the option to create them"
**Kibana version:** tested on `master`

**Describe the bug:**

The Visualize grid page displays a callout informing users about the Dashboard feature. This should not appear if the user can't create Dashboards.

**Steps to reproduce:**
1. Create a role with just `All` access to `Visualize`
2. Create a user, and assign them the role created in step 1
3. Login as this user, and navigate to Visualize

[2021-01-19 18:15] elasticmachine commented on #88724
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 18:50] #86723 closed

[2021-01-19 18:51] jeffvestal commented on #79770
I don't remember exactly, but the thought was something around since there were two different ml jobs, there would be different info to display. I definitely wanted ".. in this category.." to be replaced with or supplemented with the actual category pattern on that summary line. Which you have.

I think the sample you have looks really nice.
Will the rows for the rate anomalies continue to just sa

[2021-01-19 19:07] #85863 closed

[2021-01-19 19:07] #84931 closed

[2021-01-19 19:08] skirven4 opened #88733 "Bug in Kibana 7.10.1 - Slack URL sent as HTTP"
**Kibana version:**
7.10.1
**Elasticsearch version:**
7.10.1
**Server OS version:**
Centos 7
**Browser version:**
Chrome
**Browser OS version:**
Windows
**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud Enterprise running on Docker
**Describe the bug:**
The xPack Alert for Slack allows the user to type "https://", but once the entry is saved, it is saved as ht

[2021-01-19 19:16] gmmorris commented on #88369
If you have a `3s` interval, what's the difference between delaying by `-1s` and delaying by `2s`?
Isn't it the same? 🤔 Since all TM's are running at a `3s` interval.... in my head those sound the same....

[2021-01-19 19:18] tsullivan opened #88736 "[Data] Write documentation for users on Kibana Search Sessions"
**Kibana version:** 7.12+

This is a tracking issue to mark that user-facing documentation must be written on Kibana Search Sessions.

This will be a new page of Kibana documentation that is relevant to Search Sessions as seen in Kibana.

PR review comment that brought up this issue: https://github.com/elastic/kibana/pull/81707/files#r551031536

[2021-01-19 19:19] elasticmachine commented on #88736
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-19 19:31] kanika-builton opened #88740 "Stack Monitoring not getting enabled"
**Kibana version:**7.10

**Elasticsearch version:** 7.10.1

**Describe the bug:**
I am getting following error while I am trying to access `Stack Monitoring`.
[code]

Not understanding what `Exporters are disabled: __no-default-local__.`  means.

[2021-01-19 19:42] thomasneirynck commented on #88723
@legrego this is presumably a space/role issue? Is there API in the security application to check this?

[2021-01-19 19:51] legrego commented on #88723
@thomasneirynck the role is configured correctly, but Maps (or Visualize?) presumably isn't checking the user's privileges. The best way to check this is via UI Capabilities, which is exposed via `CoreStart` on the client side:
https://www.elastic.co/guide/en/kibana/current/development-security.html#_using_ui_capabilities.

Based on the UI Capabilities [registered for Maps](https://github.com/elas

[2021-01-19 19:55] jportner opened #88744 "[Docs] Create release note guide for Sharing Saved Objects breaking changes"
The Sharing Saved Objects feature (#27004) will introduce a breaking change for existing saved object types.

Before existing object types are converted to become shareable, we will need to regenerate some object IDs to ensure that there are no collisions. When we regenerate these object IDs, consumers of the saved objects HTTP APIs will need to check if object IDs have changed before attempting t

[2021-01-19 19:55] elasticmachine commented on #88744
Pinging @elastic/kibana-security (Team:Security)

[2021-01-19 19:57] mikecote commented on #88625
Similar issue: https://github.com/elastic/kibana/issues/75041

[2021-01-19 19:57] nreese commented on #88723
This is a visualize problem since that menu is created by visualize. The menu needs to check that users have maps save capabilities

[2021-01-19 19:58] pmuellr commented on #88369
Isn't it the same?

Yeah, there is that :-).  I guess I was thinking that if we only ADD delays, then (I think) we are adding a bit of latency _somehow_. And maybe if we also went backwards in time instead of forward, sometimes, and in very small increments, may have the same effect of "spreading things out" without any additional latency.  I think tho, the way we are implementing the "shift" now,

[2021-01-19 20:00] jportner commented on #86300
Note: in #80945 we add support for defining additional transforms based on a common `coreMigrationVersion` saved object field that is tied to the current Kibana version. After that is merged, we can define a new `'core'` transform type and a migration that would add this tie_breaker field to all existing and new saved objects.

[2021-01-19 20:03] mikecote commented on #88369
Note from triage: this issue needs some research on what we should do to solve the problem and review it with the team.

[2021-01-19 20:13] legrego commented on #88723
Thanks, this is the part I wasn't sure about. I didn't know if Maps should conditionally register itself, or if Visualize needed to conditionally render. In any case, all the relevant parties are pinged on this issue 🙂

[2021-01-19 20:21] bhavyarm opened #88749 "Leave Visualize editor with unsaved changes warning pops up on visualize listing table"
**Kibana version:** 7.11.0 BC3

**Elasticsearch version:**  7.11.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana warns the user about "leaving visualize editor with unsaved changes" on visualize listing table.

Please no

[2021-01-19 20:21] elasticmachine commented on #88749
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 20:21] elasticmachine commented on #88749
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 20:37] FrankHassanabad commented on #82327
This issue is going to persist for a while. The indicator rules are heavy and intensive and running lots of rules at 10 second intervals will be an issue even with optimizations. However, I did take the opportunity to remove duplicate REST based calls which were some of the heaviest so this is an improvement.

Please feel free to either re-open this or open a new one if we need more improvements t

[2021-01-19 20:37] #82327 closed

[2021-01-19 20:47] sqren commented on #88310
Cross-posting:

---

I think this is a duplicate of https://github.com/sqren/backport/issues/233 which was closed in https://github.com/sqren/backport/pull/241 (released as 5.6.4). I updated the version in Kibana in https://github.com/elastic/kibana/pull/88428.

tldr: updating to 5.6.4 should fix it 🤞
If not please lmk!

[2021-01-19 21:22] kevinlog commented on #88630
relevant comment from @jonathan-buttner https://github.com/elastic/kibana/issues/88249#issuecomment-762847689

Going to keep both this and https://github.com/elastic/kibana/issues/88249 open for now, since I think they're different issues and would have different solutions.

[2021-01-19 21:25] EricDavisX commented on #88584
I spoke with Diksha via chat.  She reports:
"Eric there is no issue in datasets generation on Data stream page."

So, the team has logged 2 issues for documentation on system integration ( this is one of them )

Also - I can confirm from their report via email that nothing else untowards was found during the test of mac, linux and windows System Integration (and Linux + Windows integrations).  So

[2021-01-19 21:26] myasonik opened #88762 "[GS] results with identical `type:xxx` result don't navgiate when using keyboard"
When selecting the custom Lens navigational search item, instead of being routed to Lens, the search gets replaces with a search filter of `type:lens` (essentially acting the same way as the `type:lens` result above

<img width="903" alt="Screen Shot 2021-01-19 at 16 24 24" src="https://user-images.githubusercontent.com/4188087/105094857-7c195400-5a6a-11eb-99ca-2a7560c43f24.png">

[2021-01-19 21:26] elasticmachine commented on #88762
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 21:28] myasonik commented on #83591
Don't seem to be able to reproduce it anymore! Closing the issue!

[2021-01-19 21:28] #83591 closed

[2021-01-19 21:48] bhavyarm opened #88766 "Moving function aggregation help link gets displayed instead of moving average aggregation help"
**Kibana version:** 7.11.0 BC3

**Elasticsearch version:** 7.11.0 BC3

**Browser version:** chrome latest

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Found the bug while testing this PR - https://github.com/elastic/kibana/pull/82423 - Kibana still displays moving function aggregation documentation link instead of moving average.

<

[2021-01-19 21:48] elasticmachine commented on #88766
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-19 21:50] #88515 closed

[2021-01-19 21:54] rylnd commented on #83765
I haven't gotten a chance to look at this yet, but I ran a verbose version on the flaky test runner and finally managed to [reproduce the failure](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1128/).

[2021-01-19 22:00] poffdeluxe commented on #88719
I spoke with @ryankeairns today about what the fix for this should look like. If the user is missing create new dashboard privileges, don't show the add to new dashboard option. If the user is missing edit privileges, don't show the add to existing dashboard option. If the user is neither or doesn't not have any dashboard access, then don't show the "add to dashboard" options and default to add to

[2021-01-19 22:01] stratoula commented on #88723
@nreese the wizard displays the Maps card only if it is registered from the maps plugin. So I think that the check should happen on the maps plugin and only register the alias if it has the permissions https://github.com/elastic/kibana/blob/master/x-pack/plugins/maps/public/plugin.ts#L142

[2021-01-19 22:03] pzl commented on #88630
from the epm API call, it looks like fleet believes the current endpoint package that is installed is `0.16.2`. And it is attempting or in the process of installing `0.17.0` (`-dev3`? perhaps?).

Perhaps the 0.16.2 transform got deleted by one upgrade step, and a concurrent job (#88249) goes to delete it, and gets a 404 for that package. Perhaps we're in no-mans land at that point, as maybe they b

[2021-01-19 22:13] rashmivkulkarni opened #88770 "Further tweak the alerting functional test to use limited privileges."
As a follow up to https://github.com/elastic/kibana/pull/88727, we could further tweak this test to use limited set of privileges ( roles) assigned to the `test_user` instead of giving it `all` . Here is a Meta issue linked for this effort: https://github.com/elastic/kibana/issues/60815

It would also be prudent to convert other such tests which fall under Alerting umbrella

cc @LeeDr @elastic/kib

[2021-01-19 22:14] sqren commented on #81147
Looks like a decision was made to not have comparisons for date ranges longer than 8 days. I'm not necessarily against it but interested to hear the reasoning behind this.

[2021-01-19 22:40] yctercero commented on #87110
Thanks for all the great details on the ticket! PR with fix has been merged to master, will merge into 7.11 branch when ready. https://github.com/elastic/kibana/pull/88232

[2021-01-19 22:43] #86964 closed

[2021-01-19 22:51] #88382 closed

[2021-01-19 23:05] #82846 closed

[2021-01-19 23:05] #68107 closed

[2021-01-19 23:05] #81022 closed

[2021-01-19 23:14] #88624 closed

[2021-01-19 23:26] ThomThomson opened #88776 "Dashboard Multiple History Entries Added By Save as New"
**Kibana version:** master

**Describe the bug:** Many actions on a dashboard result in too many history entries being added.

For instance

**Steps to reproduce:**
1. Create a new dashboard
2. Save that blank dashboard
3. See that there are 3 history entries added

**Steps to reproduce:**
1. Open an existing dashboard
2. Save that dashboard as new.
3. See that there are 3 history entries added

*

[2021-01-19 23:26] elasticmachine commented on #88776
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-19 23:28] bhavyarm opened #88778 "Maps should display better error message instead of EsError when there is no data for tracks data source"
**Kibana version:** 7.11.0 BC3

**Elasticsearch version:** 7.11.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If there is no data for a particular period of time for tracks data source maps - Maps is displaying **ES error**

[2021-01-19 23:28] elasticmachine commented on #88778
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-19 23:30] cjcenizal commented on #88417
Closing in favor of https://github.com/elastic/kibana/issues/75967

[2021-01-19 23:30] #88417 closed

[2021-01-19 23:31] cjcenizal commented on #75967
Note that we also want to suggest the names of existing component templates for the `_component_template` API.

[2021-01-20 00:23] kibanamachine commented on #88639
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11151/)

[2021-01-20 00:24] LeeDr commented on #82206
This seems like an actual Elasticsearch bug to me.  Either that or there's something wrong with our query.

The play_name in this data which has the expected unique count of 71 is `Richard III`.  It *should* be the first bar in this vertical bar graph but doesn't appear in the results at all until I change the terms agg size up to 12 (from the default of 5).

When the size for the terms agg is les

[2021-01-20 01:07] wylieconlon commented on #88762
@myasonik I wasn't able to reproduce this in Firefox on master. Is there somewhere you see this consistently?

[2021-01-20 01:12] wylieconlon opened #88786 "[Lens] Error message for missing fields is not bubbled up from dimension level"
I think this is a regression on master, but it's also possible that this never behaved the way I remember. I was testing out some of the new Metricbeat 7.11 dashboards that include Lens visualizations, and found this one:

<img width="1364" alt="Screen Shot 2021-01-19 at 8 08 27 PM" src="https://user-images.githubusercontent.com/666475/105113063-36708180-5a92-11eb-8a44-163214458edf.png">

As you c

[2021-01-20 01:12] elasticmachine commented on #88786
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 01:28] clintandrewhall opened #88787 "[8.0 Research] Canvas Reporting Settings"
## Summary of Exploration or Proposed Change
The proposed change is to change the default of the "Full page layout" option to be set to "true" so that by default Canvas workpad pdfs will be generated without any border or margin. The reason this is potentially a "breaking change" and not modified sooner is that there were concerns around modifying a pretty important user-facing default in a minor

[2021-01-20 01:28] elasticmachine commented on #88787
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 01:30] jasonrhodes opened #88788 "[Observability discussion] How do we untangle our dependencies between plugins?"
@smith and @weltenwort, I know you two have thought about this a lot already. Primarily, we need to untangle our dependencies between each of our plugins because of Typescript, but I think it's a good idea to do this work for lots of reasons. 

I'd just like to make sure we have a somewhat consistent way to manage breaking out shared pieces of our apps so that they can be imported across other Kib

[2021-01-20 01:30] clintandrewhall opened #88789 "[8.0 Research] Workpad Schema Updates"
## Summary of Exploration or Proposed Change

## Findings

- Proposed Priority:
- Level of Effort:
- Dependencies (if any):
  - [Teams/Projects]
- Proposed development: [7.x]

[2021-01-20 01:30] elasticmachine commented on #88789
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 01:31] clintandrewhall opened #88790 "[8.0 Research] Expression Caching / User-defined Expressions"
## Summary of Exploration or Proposed Change

### Problems to solve
1. When loading a workpad, you get a bunch of blank loading elements while waiting for the batched requests to finish (no progressive loading or caching — even in app navigation causes elements to reload)
2. Lots of elements used similar or the same starting queries. This means there's a lot of repetition across elements and also

[2021-01-20 01:31] elasticmachine commented on #88790
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 01:32] clintandrewhall opened #88791 "[8.0 Research] Saved Elements Architecture Review"
## Summary of Exploration or Proposed Change

Problem:

For storing custom elements, we store the entire serialized grouped elements object generated by Canvas’s layout engine as text. Only the layout engine in Canvas can render this grouped element, which makes it unlikely usable as an embeddable in other applications, like Dashboard.

Proposed Change:

I’d like Create new expression functions to

[2021-01-20 01:32] elasticmachine commented on #88791
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 01:39] #88714 closed

[2021-01-20 02:14] myasonik commented on #88762
Uhhhh.... no... Everything works now... That's what I get for not taking a video when I was seeing it.

Carry on!

[2021-01-20 02:37] katefarrar commented on #88649
@sorantis I have designs for the Jobs tab with all the ML jobs listed, but I'm assuming we aren't going to do that for this release? If we are I can update the prototype and mocks. Thanks.

[2021-01-20 05:13] yugeswaran-kinesso opened #88792 "Unable to search"
**Kibana version:** v 7.7.0

**Elasticsearch version:**

**Server OS version:** Windows 10

**Browser version:** Chrome

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** Unable to search from the logs

**Steps to reproduce:**
1. I had a failure in in MIE tool with error code "TRID: 44603".
2. I tried to look for it in Kibana

[2021-01-20 06:20] kibanamachine opened #88796 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors·ts - Actions and Triggers app Connectors should test a connector and display a successful result"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11270/)

[2021-01-20 06:20] kibanamachine opened #88797 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/kpi_hosts·ts - apis SecuritySolution Endpoints Kpi Hosts With filebeat Make sure that we get KpiAuthentications data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11270/)

[2021-01-20 07:02] muskangulati-qasource opened #88799 "[Security Solution] The default value not displayed for logging levels under the advanced settings for the policy"
**Describe the bug**
The default value not displayed for logging levels under the advanced settings for the policy

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab un

[2021-01-20 07:02] muskangulati-qasource commented on #88799
@manishgupta-qasource please review!

[2021-01-20 07:04] pgayvallet commented on #88788
That's the most common adopted pattern when there are some bi-directional dependencies between 2 plugins

e.g

[code]

[2021-01-20 07:18] elasticmachine commented on #88678
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-20 07:35] alexwizp commented on #88310
after updating to 5.6.4 it works fine, thank you

[2021-01-20 07:35] #88310 closed

[2021-01-20 08:11] elasticmachine commented on #88721
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 08:15] manishgupta-qasource commented on #88799
Reviewed & assigned to @kevinlog

[2021-01-20 08:18] flash1293 commented on #88766
The PR you linked is changing it to moving function on purpose because "Moving Avg" is using the moving function under the hood, not moving average

https://github.com/elastic/kibana/pull/82423/files

This is done on purpose because the special moving average aggregation will get deprecated on Elasticsearch side: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-pi

[2021-01-20 08:18] #88766 closed

[2021-01-20 08:20] flash1293 commented on #88786
Pretty sure this is a regression - did you test on the 7.11 BC or on master @wylieconlon ?

[2021-01-20 08:31] formgeist commented on #81147
@sqren The reasoning was primarily trying to scope the comparison feature to an essentials-only feature in order to get this in along-side the Service overview. We have a bit more time now, and I don't see any technical reasoning for not allowing 7+ day comparison other than we need to reconsider our option labels. "A week ago" loses its clarity when you've selected a range longer than 7 days. We

[2021-01-20 08:40] pgayvallet commented on #88009
That would avoid the server's 500 yea.

I think we may also want to return the invalid references to the client-side to display them, instead of just filtering/removing them on the server-side

[2021-01-20 08:48] ruflin commented on #88630
Do we have any automated tests around these upgrades from one Kibana version to an other? @EricDavisX ? The reason I'm asking is because we keep seeing issues around upgrade. Some are related to manual fiddling, some conflicting versions, race conditions and all the things we don't know. So having automated tests running on this could at least uncover some of the race conditions and help us to red

[2021-01-20 09:13] paulb-elastic opened #88803 "[Uptime][Bug] Pressing back from the waterfall loses context back on the history page"
When going back in the browser from looking at a waterfall chart, you are taken back to the default history page for the monitor, where the expanded row of the specific test you were looking at, is no longer expanded or in view.

This is jarring and means that you lose context of the monitor you were looking at.
![Jan-19-2021 16-52-26](https://user-images.githubusercontent.com/70908889/105152939-b

[2021-01-20 09:13] elasticmachine commented on #88803
Pinging @elastic/uptime (Team:uptime)

[2021-01-20 09:16] muskangulati-qasource opened #88804 "[Security Solution] Malware message is displayed empty on the 'View Policy' flyout under the Policy tab"
**Describe the bug**
Malware message is displayed empty on the 'View Policy' flyout under the Policy tab

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Securi

[2021-01-20 09:16] muskangulati-qasource opened #88805 "[Security Solution] Inconsistencies while displaying the message 'Out of date' after updating a policy."
**Describe the bug**
Inconsistencies while displaying the message 'Out of date' after updating a policy.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Securi

[2021-01-20 09:17] muskangulati-qasource commented on #88804
@manishgupta-qasource please review!!

[2021-01-20 09:17] muskangulati-qasource commented on #88805
@manishgupta-qasource please review!!

[2021-01-20 09:25] dej611 opened #88806 "[Lens] First save operation of chart redirects the app without triggering an unmount leading to some leak"
**Kibana version:** `master` as f718e90a815d031a37ddfb2de9872a281b47a600

**Describe the bug:**

When a chart is saved for the first time in Lens (fresh new chart, not save as copy, or save changes) the app gets refreshed with an app redirects to a new URL with the newly created `savedObjectId`.
This particular flow prevents the Lens app to unmount properly and leads to some component leaking arou

[2021-01-20 09:25] elasticmachine commented on #88806
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 09:28] formgeist commented on #81147
This jogged my memory a bit, I think I misunderstood the details of the description of the different scenarios. We should not disable comparison even beyond 7 days, but we will disable (set to `readOnly`) the option within the dropdown to display the absolute date range of the comparison. I've updated the description with examples to hopefully clarify this further.

cc @cauemarcondes @alex-fedotye

[2021-01-20 09:32] manishgupta-qasource commented on #88804
Reviewed & assigned to @kevinlog

[2021-01-20 09:32] paulb-elastic commented on #88803
This issue may go away with https://github.com/elastic/kibana/issues/80156, which is going into 7.12

[2021-01-20 09:32] manishgupta-qasource commented on #88805
Reviewed & assigned to @kevinlog

[2021-01-20 09:32] kibanamachine commented on #88796
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11273/)

[2021-01-20 09:42] gmmorris commented on #88796
Here is the error I saw in the build log:
[code]

Looks like it failed because the action failed (and the test is for the UI when the action. succeeds:
[code]

[2021-01-20 09:44] elasticmachine commented on #88693
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 09:47] deepikakeshav-qasource opened #88807 "[Security Solution]Search panel is overlaid on alerts details panel when Alert detail panel is already expended."
**Description**
Search panel is overlaid on alerts details panel when Alert detail panel is already expended.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Alerts should be generated.

**Steps to Reproduce:**
1. Navigate to the detections tab of the security
2. Click on view detai

[2021-01-20 09:48] deepikakeshav-qasource commented on #88807
@manishgupta-qasource Please review

[2021-01-20 09:50] deepikakeshav-qasource opened #88808 "[Security Solution] Description tooltip is hidden under the customize column."
**Description**
Description tooltip is hidden under the customize column.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to the detections tab of security
2. Click on customize columns icon.
3. Hover on the description and observe that tooltip is h

[2021-01-20 09:51] deepikakeshav-qasource commented on #88808
@manishgupta-qasource Please review!!

[2021-01-20 09:55] manishgupta-qasource commented on #88807
Reviewed & assigned to @MadameSheema

[2021-01-20 09:56] manishgupta-qasource commented on #88808
Reviewed & assigned to @MadameSheema

[2021-01-20 09:59] dikshachauhan-qasource opened #88809 "[Ingest Manager]: Toggle options headings are starting with naming as system for Linux integration."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Linux centos, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

**Preconditions**
1.  8.0 Snapshot Kibana Cloud environment  should be available.
[code]
2. Default policy hav

[2021-01-20 10:00] elasticmachine commented on #88809
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-20 10:01] MadameSheema commented on #88653
Closing since is a duplicate of: https://github.com/elastic/kibana/issues/87973

[2021-01-20 10:01] #88653 closed

[2021-01-20 10:03] MadameSheema commented on #88667
@jonathan-buttner @kqualters-elastic @michaelolo24 can you please take a look at this? Thanks :)

[2021-01-20 10:06] MadameSheema commented on #88807
@XavierM can you please help to prioritise this bug? Thanks :)

[2021-01-20 10:06] MadameSheema commented on #88808
@XavierM can you please help to prioritise this? Thanks :)

[2021-01-20 10:10] dikshachauhan-qasource opened #88810 "[Ingest Manager]: System Integration headings is displayed for Linux integration on Linux integration detail page."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Linux centos, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

**Preconditions**
1.  8.0 Snapshot Kibana Cloud environment  should be available.
[code]
2. Default policy hav

[2021-01-20 10:11] elasticmachine commented on #88810
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-20 10:13] walterra opened #88811 "[ML] Increase Test Coverage 7.12"
Meta issue to summarize increased test coverage for 7.12

## Jest unit tests

- [x] Data Grid Mini Charts #88176 (WR)

## API integration tests

part of #63700

- [x] Spaces API #84789 (RO)
- [x] /api/ml/data_frame/analytics #92101 #92532 (MA)
- [x] /api/ml/ml_capabilities #92786 (JG)

## Functional tests

- [x] Data Grid Mini Charts #88176 (new `canvasElement` service) (WR)
- [x] Scatterplot Matr

[2021-01-20 10:13] elasticmachine commented on #88811
Pinging @elastic/ml-ui (:ml)

[2021-01-20 10:22] kibanamachine opened #88812 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/kpi_network·ts - apis SecuritySolution Endpoints Kpi Network With filebeat Make sure that we get KpiNetwork tlsHandshakes data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11274/)

[2021-01-20 10:22] kibanamachine commented on #88796
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11274/)

[2021-01-20 10:22] sorantis commented on #88649
@katefarrar correct, the current scope includes the anomalies tab and new anomalies indicator.

[2021-01-20 10:24] dikshachauhan-qasource commented on #88810
@manishgupta-qasource
Please review

[2021-01-20 10:24] dikshachauhan-qasource commented on #88809
@manishgupta-qasource Please review

[2021-01-20 10:29] dikshachauhan-qasource opened #88813 "[Ingest Manager]: System Integration headings is displayed for Linux integration on Linux integration detail page."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Linux centos, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

[Ingest Manager]: System Integration headings is displayed for Linux integration on Linux integration detail p

[2021-01-20 10:29] #88437 closed

[2021-01-20 10:38] jamiehynds commented on #83141
@ph @aleksmaus - @leehinman has submitted a PR to the package-spec: https://github.com/elastic/package-spec/pull/110

[2021-01-20 11:08] afharo opened #88816 "[chore] Add telemetry plugins to the core eslint rules"
We should list all the telemetry-related plugins in https://github.com/elastic/kibana/blob/170a2956c84d46262a3ae310f89aee6f2580860a/.eslintrc.js#L1208-L1220

[2021-01-20 11:08] elasticmachine commented on #88816
Pinging @elastic/kibana-core (Team:Core)

[2021-01-20 11:10] legrego commented on #88723
@stratoula Is it possible to unregister viz types? I ask because Maps will not know the user's privileges until the `start` phase, but viztype registration happens during the `setup` phase.

So I expect that Maps would need a way to conditionally unregister or hide their viztype, rather then not register it at all.

[2021-01-20 11:14] stratoula commented on #88723
@legrego yes, there is ;) You can see here https://github.com/elastic/kibana/blob/master/x-pack/plugins/maps/public/plugin.ts#L166 that the maps plugin unregister the OSS alias on the start phase. (This will be removed btw as we don't need it anymore)

[2021-01-20 11:16] manishgupta-qasource commented on #88809
Reviewed & Assigned to @EricDavisX

[2021-01-20 11:16] dikshachauhan-qasource opened #88817 "[Ingest Manager]: 'linux.users' dataset metrics not available under datastreams page for agent deployed on linux centos 7."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Elasticsearch version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Linux centos 7, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0 Snapshot Kibana Cloud environment

[Ingest Manager]: 'linux.users' dataset metrics not available under datastreams page for agent deployed on l

[2021-01-20 11:17] elasticmachine commented on #88817
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-20 11:17] dikshachauhan-qasource commented on #88817
@manishgupta-qasource Please review

[2021-01-20 11:17] manishgupta-qasource commented on #88810
Reviewed & Assigned to @EricDavisX

[2021-01-20 11:18] manishgupta-qasource commented on #88813
Reviewed & Assigned to @EricDavisX

[2021-01-20 11:19] yuliacech commented on #88565
Hi @dgieselaar , I believe _Advanced Settings UI_ is owned by KibanaApp team. I'll add their label here.

[2021-01-20 11:19] elasticmachine commented on #88565
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 11:21] Kerry350 commented on #79770
That's correct, yeah. `dataset` can provide some supplementary info there.

[2021-01-20 11:23] dgieselaar commented on #88565
@yuliacech cheers, my bad!

[2021-01-20 11:30] manishgupta-qasource commented on #88817
Reviewed & Assigned to @EricDavisX

[2021-01-20 11:37] sqren commented on #77966
Thanks @simitt. Even with a centralized UI for managing API keys in Kibana, I still think it makes sense to have a dedicated APM view that only shows apm api keys.

[2021-01-20 11:45] AlexanderWert opened #88822 "[APM] Fleet: Include APM Agents on the integrations page"
Design issue: https://github.com/elastic/observability-design/issues/77

To improve the onboarding experience, installation of APM agents should be included in the integrations page in Kibana.
As described in https://github.com/elastic/apm/issues/381 we would follow an iterative approach to realize this.

The scope of this issue is to provide a UI in Kibana's integration page that provides install

[2021-01-20 11:46] elasticmachine commented on #88822
Pinging @elastic/apm-ui (Team:apm)

[2021-01-20 11:49] sqren commented on #87801
@dgieselaar Okay with closing this?

[2021-01-20 11:49] amolnater-qasource commented on #87493
Hi @EricDavisX
Today we have revalidated this issue for 7.11.0 BC-3 Agent as per feedback provided at: [#23462_Comment](https://github.com/elastic/beats/issues/23462#issuecomment-759520774)

**Below are our observations:**
Scenario | OS | Environment | Build details | Upgrade status
-- | -- | -- | -- | --
Attempted to upgrade 7.11.0 BC-3 agent on 8.0.0 | Windows 10 x64bit | 8.0.0 Snapshot Kibana c

[2021-01-20 11:53] dgieselaar commented on #87801
@sqren close it or change it so it covers adding a hardcoded `fit` property to our charts?

[2021-01-20 11:55] sqren commented on #72778
Closing since we will be moving forwards with removing the ui filters in 7.12: https://github.com/elastic/kibana/issues/84526

[2021-01-20 11:55] #72778 closed

[2021-01-20 12:11] kevinlog commented on #88799
@ferullo what should we add as the default value for logging level?  Is it `info`?  I can add it into the description

[2021-01-20 12:14] kevinlog commented on #88804
@muskangulati-qasource I agree this is confusing, but it actually won't cause any issues because sending an empty message to the Endpoint will cause it to use the default.

@parkiino could we send the default Endpoint message down to the Endpoint as it shows in the UI?  This would make it more consistent and less confusing to any user who looked at the Agent policy yaml.

cc\ @ferullo

[2021-01-20 12:20] kevinlog commented on #88805
@muskangulati-qasource Does the "out of date" message show on the table as well at some point?  And am I correct in that the "out of date" message in the fly out eventually goes away?  Presumably after closing and reopening the fly out.

my guess is that we poll the table information, but not the Endpoint details fly out.  I think we have a few issues with possible inconsistencies while data is up

[2021-01-20 12:25] kibanamachine opened #88826 "Failing test: Chrome UI Functional Tests.test/functional/apps/home/_navigation·ts - homepage app Kibana browser back navigation should work detect navigate back issues"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11276/)

[2021-01-20 12:25] sqren commented on #88659
Cross-linking sounds like the most simple solution first. Would the be instead of the Getting Started guides we have today?

[2021-01-20 12:46] nreese commented on #88723
thanks @legrego and @stratoula. I will put up a PR to fix this issue

[2021-01-20 12:47] dikshachauhan-qasource opened #88828 "[Ingest Manager]: 'windows.forwarded', 'windows.powershell_operational' and 'windows.sysmon_operational' dataset metrics not available under datastreams page for agent deployed on Windows 2012."
**Kibana version:**
8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:**
Windows server 2012, All

**Preconditions**
1.  8.0 Snapshot Kibana Cloud environment  should be available.
[code]
2. Default policy having **windows** integration should exist.[No change in namespace].
3. Agent should be deployed using above policy.
4. Data streaming is available for the above agent.

**St

[2021-01-20 12:48] elasticmachine commented on #88828
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-20 12:51] shahzad31 commented on #80167
From offline discussion it's decided that search will be offline on already fetched up to 1000 network requests.

[2021-01-20 12:51] manishgupta-qasource commented on #88828
Reviewed & assigned to @EricDavisX

[2021-01-20 13:19] muskangulati-qasource commented on #88805
Hi Sir,

Please review comment for the ticket: https://github.com/elastic/kibana/issues/88805

Hi @kevinlog,

Yes, the 'out of date' message does show once we close the flyout and open it again. The page refreshes itself only once flyout is closed. Otherwise, it does not show the message at all.

Please let us know if anything else is required from our end.

Thanks!

[2021-01-20 13:20] elasticmachine commented on #88797
Pinging @elastic/siem (Team:SIEM)

[2021-01-20 13:21] elasticmachine commented on #88639
Pinging @elastic/kibana-core (Team:Core)

[2021-01-20 13:22] elasticmachine commented on #88812
Pinging @elastic/siem (Team:SIEM)

[2021-01-20 13:24] elasticmachine commented on #88826
Pinging @elastic/kibana-core (Team:Core)

[2021-01-20 13:25] elasticmachine commented on #88796
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-20 13:27] Kerry350 commented on #88015
After a break away from ML work, and returning to it recently, I can't remember why the current visualisation was deemed unsuitable. I don't see any technical limitation, so I believe this was purely a time limited decision. At the time of the anomalies table refactor (which pulled category anomalies in) FF was approaching, and there wasn't enough time to redo the top visualisation.

To shed a lit

[2021-01-20 13:32] mistic commented on #88796
The test keeps failing and looks flaky. Skipping for now.

master/8.0: 55d4331
7.x/7.12: 2a1adac

[2021-01-20 13:40] pmuellr opened #88832 "[actions] extend Slack support with Block Kit"
Currently the Slack action only supports using a Slack markdown-formatted `message` parameter, in terms of the content posted to Slack.

We should extend this with [Block Kit](https://api.slack.com/messaging/composing/layouts).

Looking at some existing usage of Watcher alerts within an elastic project, you can see the following sort of structure is used heavily:

[code]

Also note that ["dynamic

[2021-01-20 13:52] jasonrhodes commented on #84849
@Zacqary is the screenshot in this description accurate? I get that we want to add an APM link/button but I don't know what the screenshot is that I'm seeing there...

[2021-01-20 13:54] smith commented on #88788
Adding TS project references will be a big help here, since currently dependencies between plugins are tracked through kibana.json, which is basically a guess, as I've discovered quite a few dependencies that weren't declared in those files.

#81003 is where we're tracking this migration in APM. I'm working through the tree of dependencies, currently working on the observability plugin and its dep

[2021-01-20 13:57] timroes commented on #88193
Blocked by https://github.com/elastic/elasticsearch/issues/67751

[2021-01-20 13:57] jasonrhodes commented on #84494
Ellipsis plus tooltip and/or title seems like the easiest solution. Long-term, I think we should be aware of values that tend to be like this and treat them differently than "titles" because there isn't any solution that looks great for a title in these cases. Design mockups may just need to pretend like every value in these cases is "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2021-01-20 14:00] formgeist commented on #88659
Yeah, I imagine we can replace the Add data link with a "Manage Elastic Agent" link to Fleet instead.

<img width="1428" alt="Screenshot 2021-01-20 at 14 59 55" src="https://user-images.githubusercontent.com/4104278/105184947-3e7efe80-5b30-11eb-8caf-8a713edb31dd.png">

_Example of the button link in the header_

[2021-01-20 14:08] jonathan-buttner commented on #88667
Yeah this is a limitation in the analyze event view right now. It's something that we've wanted to address but haven't had time to yet. I'm going to switch the ticket to a feature request.

[2021-01-20 14:09] elasticmachine commented on #88667
Pinging @elastic/endpoint-app-team (Feature:Resolver)

[2021-01-20 14:20] kibanamachine commented on #88796
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11278/)

[2021-01-20 14:20] kibanamachine commented on #88796
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11278/)

[2021-01-20 15:09] kibanamachine commented on #88796
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/201/)

[2021-01-20 15:17] kevinlog commented on #88630
Spoke about this in grooming,

@pzl said that he can make this more robust by handling `404`'s properly.  We understand that this is likely addressing a symptom and not a root cause, but hopefully gets us less user issues when upgrading packages.

Agreed with @ruflin about better integration/automated tests.  We should work to get a good testing framework around this.  We may need to build a new f

[2021-01-20 15:19] kibanamachine commented on #88796
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11166/)

[2021-01-20 15:23] nickofthyme opened #88843 "Improve Advanced setting search"
**Describe the feature:**

If you paste the whole name of an advanced setting into the search field, the setting will not be included in the search results. For example, entering `autocomplete.userTimeRange` will search each setting based on the sentence case only so `autocomplete user time range` will not match `autocomplete.userTimeRange`.

https://user-images.githubusercontent.com/3016806/10431

[2021-01-20 15:23] elasticmachine commented on #88843
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 15:27] crob611 opened #88844 "[Dashboard] Provide "find by value panels by type" method"
For solutions whose embeddables can be added byValue to a dashboard, the dashboard plugin should offer them a way to extract those by value embeds so that they can properly report telemetry if they need to.

[2021-01-20 15:27] elasticmachine commented on #88844
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 15:30] #72442 closed

[2021-01-20 15:33] pmuellr commented on #88571
A little more background.

When running with security on, the background tasks we run for alerting (alerting functions, when an alert "runs" - and action functions when actions are run because an alert triggered) are run with an Elasticsearch API key generated from the privileges of the last person who updated the alert.  This gives the alert function the authorization of that person, so they can

[2021-01-20 15:34] Dosant opened #88846 "[Search Sessions] Search session inspector"
**Describe the feature:**

Part of https://github.com/elastic/kibana/issues/61738

Search sessions are a mechanism that allows to store search results and restore them.
e.g. loading dashboard using previously-stored searches

Searches that run inside the app are grouped under a search session.
We should introduce a new type of inspector: search session inspector.

**Describe a specific use case fo

[2021-01-20 15:34] elasticmachine commented on #88846
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-20 15:38] chrisronline commented on #81020
@ravikesarwani Currently, these legacy cluster alerts are limited to gold+ customers, primarily because they relied on watcher which is a gold+ feature. With this change, I'm assuming we'll bring these back down to basic (along with the rest of monitoring) and just wanted to double check that with you.

[2021-01-20 15:40] alexfrancoeur commented on #49330
@cjcenizal @jethr0null I wanted to follow up on this issue. I realize it's an old ask, but the number of API's in Kibana are growing. Specifically, we'll have a number of API's that will be helpful to call directly for some users for our alerting framework. I'm assuming support for a Kibana endpoint in Console is not on the priority list, but am wondering if it's something we can start prioritizin

[2021-01-20 15:45] #83594 closed

[2021-01-20 15:45] #88806 closed

[2021-01-20 15:58] pmuellr commented on #88796
Huh, did ES change so that indices must have mappings now?  If so, we should probably set the mappings when we create the connector, since it appears the index is always going to be a new index, given the connector generated (connectorName and indexName are UUID-based):

https://github.com/elastic/kibana/blob/7297cc3b1d8f2ac47e3430c5983d696abde009f1/x-pack/test/functional_with_es_ssl/apps/triggers

[2021-01-20 16:07] #81720 closed

[2021-01-20 16:09] smith opened #88852 "[APM] Tooltips for instances latency distribution chart"
Enable tooltips to the instances latency distribution chart. Should show latency, throughput, and instance name.

Follow-up for #81720.

[2021-01-20 16:09] elasticmachine commented on #88852
Pinging @elastic/apm-ui (Team:apm)

[2021-01-20 16:10] ravikesarwani commented on #81020
Yes, in subscription page we will remove the following row in 7.12 (Automatic stack issue alerts). We added "Kibana alerting and actions" and has check mark in Basic.

We should account for doc changes related to this change as well.

[2021-01-20 16:11] #83600 closed

[2021-01-20 16:11] #83730 closed

[2021-01-20 16:15] smith opened #88854 "[APM] Box selection for instances latency distribution chart"
Allow box selection on instances latency distribution chart.

Selecting an area should filter by the selected instances or properties that select those instances.

We may need to store some additional state to be able to show the rectangle annotation on the chart.

[2021-01-20 16:15] elasticmachine commented on #88854
Pinging @elastic/apm-ui (Team:apm)

[2021-01-20 16:24] #88598 closed

[2021-01-20 16:29] aaronjcaldwell opened #88855 "Geo alerts tracking index description should say "geo point" instead of "geo shape/point""
Historically the geo alerts were originally going to track both geo point and geo shape features. This was changed for phase 1 to focus only on geo points. The index description for both the Tracking Containment and Tracking Threshold alerts should be updated to reflect this.

![alert-types-tracking-containment-conditions](https://user-images.githubusercontent.com/1728976/105204822-c699df80-5b01-1

[2021-01-20 16:29] elasticmachine commented on #88855
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-20 16:30] #86522 closed

[2021-01-20 16:32] #61741 closed

[2021-01-20 16:44] kindsun opened #88862 "[Maps] Update telemetry to capture by value Maps embedded in dashboards"
The Presentation Team is making available a function that returns the current "by value" maps embedded in Dashboards. We should leverage this capability to capture telemetry on this usage. Depends on resolution of https://github.com/elastic/kibana/issues/88844

[2021-01-20 16:44] elasticmachine commented on #88862
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-20 17:25] sqren commented on #87801
Ah, change ofc. Thought this was an additional issue.