[2021-08-24 04:11] stratoula commented on #109213
No, it is not documented somewhere as far as I know. It is an elastic-charts capability https://github.com/elastic/elastic-charts/pull/51. But it makes sense to make this option more prominent
cc @ghudgins

[2021-08-24 04:40] tylersmalley commented on #107422
Great, thanks @TinaHeiligers!

[2021-08-24 04:40] #107422 closed

[2021-08-24 05:00] clintandrewhall commented on #32937
From #109767:

[2021-08-24 05:42] karanbirsingh-qasource opened #109768 "[Security Solution]Utility Bar: Showing x Alerts is showing for the Host Event tab"
**Describe the bug**
Utility Bar: Showing x Alerts is showing for the Host Event tab

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate few prebuilt detection Alerts .
2. Go to Host tab then Events sub tab.
3. Observed that showing x alerts is showing in utility bar for the Events tab.

**Actual Result**
U

[2021-08-24 05:42] elasticmachine commented on #109768
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 05:42] karanbirsingh-qasource commented on #109768
@manishgupta-qasource please review

[2021-08-24 05:44] manishgupta-qasource commented on #109768
Reviewed & assigned to @MadameSheema

[2021-08-24 05:48] pgayvallet commented on #109197
True, but if we achieve that at some point, the whole spaces wrapper should go away, no?

So, if the security team think this `currentNamespace` refactoring is acceptable, what's the best way to move forward with this specific issue (that is a blocker for multi-NS import/export)? I suspect that if we do change the current `namespace` option to `currentNamespace`, we'd want to do it for all SOR API

[2021-08-24 05:56] azasypkin commented on #109202
Sent PR that removes `request` package from all tests in Kibana: https://github.com/elastic/kibana/pull/109225

[2021-08-24 06:13] kibanamachine commented on #88211
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16503/)

[2021-08-24 06:19] clintandrewhall commented on #80671
Looks like this has been fixed, likely by @crob611's work on routing.

[2021-08-24 06:19] #80671 closed

[2021-08-24 06:52] clintandrewhall commented on #92251
Fixed by #70370.

[2021-08-24 06:52] #92251 closed

[2021-08-24 06:54] clintandrewhall commented on #88608
This appears to have been fixed; I cannot reproduce it on 7.10.2

[2021-08-24 06:54] #88608 closed

[2021-08-24 07:10] deepikakeshav-qasource opened #109772 "[Security Solution] "Add Endpoint event filter" and "Investigation timeline" in take action is not working under "events tab" and "external tab"."
**Describe the bug**
"Add Endpoint event filter" and "Investigation timeline" in take action is not working under "events tab" and "external tab".

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Host tab.
2. Click on event tab
3. Click on

[2021-08-24 07:10] elasticmachine commented on #109772
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 07:10] clintandrewhall commented on #43715
@nreese This code is no longer being called, but if you have a test case to show we've missed an error case, let me know.  I even threw random errors and didn't fire "the ugliness".

[2021-08-24 07:12] clintandrewhall commented on #92586
Fixed by #109161

[2021-08-24 07:12] #92586 closed

[2021-08-24 07:37] #105665 closed

[2021-08-24 07:37] Pranjal-dew commented on #107751
Hi, is this issue still open? Care if I take it?

[2021-08-24 07:45] manishgupta-qasource commented on #109772
Reviewed & assigned to @MadameSheema

[2021-08-24 07:46] formgeist commented on #109237
I think we can change the EuiCombobox to have `suggestions` [disabled](https://elastic.github.io/eui/#/forms/combo-box#custom-options-only-with-validation) so we don't show the empty dropdown for selecting options that won't be there.

![CleanShot 2021-08-24 at 09 37 45](https://user-images.githubusercontent.com/4104278/130577393-9007fd10-8c69-4982-b658-0a4b6c6eb20d.gif)

[2021-08-24 07:48] formgeist commented on #109309
That's fine with me - it seemed like that was the most straight-forward option to start with anyways according to @sqren

[2021-08-24 07:50] clintandrewhall commented on #46041
Fixed by #102446

[2021-08-24 07:50] #46041 closed

[2021-08-24 07:54] clintandrewhall commented on #56666
This has been fixed by @crob611 and his work on the router for Canvas.  It is no longer reproducible.  Please let us know if there is a case where it can be reproduced, and we'll jump on it right away.

[2021-08-24 07:54] #56666 closed

[2021-08-24 08:19] elasticmachine commented on #109639
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-08-24 08:38] elasticmachine commented on #109680
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 08:41] deepikakeshav-qasource commented on #106233
Hi @MadameSheema ,

We have validated this ticket on **7.15.0 BC1** build and observed that issue is **Fixed**. No error is displyaing when activate and deactivate the rule after upgrade the build from 7.8.0 to 7.15.0

**Build Details:**

[code]

**Screenshot:**

**7.8.0: Rule created**
![7_8_0](https://user-images.githubusercontent.com/61860752/130582145-3ccafe2b-a28e-4e3b-9707-754598a52928.jpg)

[2021-08-24 08:41] #88812 closed

[2021-08-24 08:41] #100630 closed

[2021-08-24 08:45] #106233 closed

[2021-08-24 08:46] jloleysens opened #109785 "[Dashboard/Reporting] Report generated in "Edit mode" contains non-vis UI"
**Kibana version:**
7.15.0 (possibly earlier)

**Describe the bug:**

When generating a dashboard report while dashboard is in "Edit" state includes buttons/borders/etc. that are not intended to be included in the resulting PDF (did not test with PNG, but assume the bug would be the same).

**Steps to reproduce:**
1. Create a new dashboard, adding one or two vis.
2. While in Edit mode, request a r

[2021-08-24 08:46] elasticmachine commented on #109785
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-24 08:46] elasticmachine commented on #109785
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-24 08:48] mbondyra commented on #105812
I started working on this one, but let's wait till graph is deangularized before continuing. I will pick up the next one.

[2021-08-24 08:55] sqren commented on #107751
Hi @Pranjal-dew , yes, please take it. I'll assign it to you. Let me know if you need some help. For setting up Kibana and APM please follow: https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/readme.md#local-environment-setup

[2021-08-24 08:57] formgeist opened #109787 "[APM] Improve anomaly detection results in APM (Meta)"
# Summary

We have a number of related tickets that would improve the current experience of analyzing the ML anomaly detection jobs in APM. This meta issue will track the overall progress of those tickets to ensure a full enhancement.

# Issues

The following list is unprioritised for the moment and we'll need to possibly break the tasks into "ready for implementation" and "awaiting design/decisio

[2021-08-24 08:57] elasticmachine commented on #109787
Pinging @elastic/apm-ui (Team:apm)

[2021-08-24 08:59] sqren commented on #109309
Yes, is is fairly straightforward but it requires changes for every API we want to add it to so I suggest we start small with a single view and built a POC from there.

[2021-08-24 09:07] MadameSheema commented on #109772
@stephmilovic is this related with: https://github.com/elastic/kibana/issues/109772? Thanks :)

[2021-08-24 09:07] elasticmachine commented on #109772
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 09:10] afharo commented on #105758
Also this other failed test might be related: #98463

[2021-08-24 09:17] estermv opened #109791 "[Stack monitoring] Angular migration clean-up"
~⚠️ DEPENDS ON: https://github.com/elastic/kibana/issues/111309~

### Required to clean to remove angular app from Stack Monitoring
- [x] #115207

### Required to remove Angular from `package.json`
- [x] #115142
- [x] #115143
- [x] #115500
- [x] #115499

### After angular is removed
- [x] Refactor setup mode https://github.com/elastic/kibana/pull/115556
  - [x] Old [renderer](https://github.com/el

[2021-08-24 09:17] elasticmachine commented on #109791
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-24 09:21] hop-dev commented on #107920
I believe I need to add infra as a requiredPlugin of fleet so I can call `infra.defineInternalSourceConfiguration` however that causes the following cyclical dependency:

fleet -> infra -> osquery -> fleet

Going to start looking at my options

[2021-08-24 09:31] muskangulati-qasource opened #109794 "[Security Solution] No arguments displayed for Memory Alert under rendered view"
**Description:**
No arguments displayed for Memory Alert under rendered view

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Memory Alerts should be triggered

**Steps to Reproduce:**
1. Navigate to the Alerts tab.
2. Select the rendered view option
3. Observe the arguments that do not show up for the Memory Alert

**Impacted Test cas

[2021-08-24 09:32] elasticmachine commented on #109794
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-24 09:32] elasticmachine commented on #109794
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 09:32] muskangulati-qasource opened #109795 "[Security Solution] The risk score shows correctly on Alerts Tab but does not show under Host Tab> External Alerts tab for Memory Detection & Prevention alert"
**Description:**
The risk score shows correctly on Alerts Tab but does not show under Host Tab> External Alerts tab for Memory Detection & Prevention alert

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Memory Alerts should be triggered

**Steps to Reproduce:**
1. Navigate to the Alerts tab.
2. Observe the risk score is mentioned for

[2021-08-24 09:32] elasticmachine commented on #109795
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 09:32] elasticmachine commented on #109795
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-24 09:32] muskangulati-qasource opened #109796 "[Security Solution] The table format is broken under the Host > External Tab for columns having multiple values in the alert table"
**Description:**
The table format is broken under the Host > External Tab for columns having multiple values in the alert table

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be triggered

**Steps to Reproduce:**
1. Navigate to the Hosts tab and select External alerts
2. Observe the table is not formatted for columns ha

[2021-08-24 09:32] elasticmachine commented on #109796
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 09:32] muskangulati-qasource commented on #109794
@manishgupta-qasource please review!!

[2021-08-24 09:32] muskangulati-qasource commented on #109795
@manishgupta-qasource please review!!

[2021-08-24 09:32] muskangulati-qasource commented on #109796
@manishgupta-qasource please review!!

[2021-08-24 09:35] Dosant commented on #109746
Want to confirm, we observe this problem only for CCS patterns and we haven't seen similar instabilities for non-CCS patterns?
Could you point us to the test which is failing?

[2021-08-24 09:42] #20654 closed

[2021-08-24 09:42] elasticmachine commented on #109796
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 09:44] #20917 closed

[2021-08-24 09:45] MadameSheema commented on #109796
Closing as this is the expected behaviour: https://eui.elastic.co/#/tabular-content/data-grid

[2021-08-24 09:45] peteharverson commented on #105254
Unable to reproduce this on 7.15.0 (local install). Tried using basic and trial license, on Chrome and Firefox. Removing `7.15.0` label, but leaving issue open to track if anyone else sees something similar.

[2021-08-24 09:51] elasticmachine commented on #109768
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 09:51] MadameSheema commented on #109768
Tested on latest 7.15 branch (d5cfb34c3758564351b1c56b84dfce8b268ea108) and found it fixed.

@karanbirsingh-qasource please retest on 7.15BC2, thanks :)

[2021-08-24 09:56] karanbirsingh-qasource commented on #106380
Hi @ryankeairns

Yes this same issue is there on Discovery and Dashboard application for firefox browser.

![image](https://user-images.githubusercontent.com/59917825/130596862-e7ed8fc8-9183-43ca-be35-dd59d8c3d8f2.png)
![image](https://user-images.githubusercontent.com/59917825/130596911-d0a765d3-a67d-4444-9aeb-6ed1e473c76e.png)

[2021-08-24 09:57] Pranjal-dew commented on #107751
Thanks, @sqren for responding. I'll get back to you if I stuck somewhere.

[2021-08-24 09:59] amolnater-qasource opened #109799 "[Fleet][Nginx]: Upgrade available for integrations under Agent Policy with same version as latest installed integration."
**Kibana version:**  7.15.0 BC-1 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-1 Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.2.4`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Nginx integration to Default Policy.
3. Obse

[2021-08-24 09:59] elasticmachine commented on #109799
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 10:00] amolnater-qasource commented on #109799
@manishgupta-qasource Please review.

[2021-08-24 10:01] manishgupta-qasource commented on #109794
Reviewed & assigned to @paul-tavares

[2021-08-24 10:02] deepikakeshav-qasource commented on #108662
Hi @jonathan-buttner,

We have created a new environment for this ticket's required test data and shared the credentials for the same on email.

In discover tab the IPs are displaying with commas. Please find below the screenshot for the same:

**Screenshot:**
![ip](https://user-images.githubusercontent.com/61860752/130590913-e6b6001f-f9bf-4347-a049-0d84c22e5325.jpg)

Please let us know if anythin

[2021-08-24 10:02] manishgupta-qasource commented on #109795
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-08-24 10:03] manishgupta-qasource commented on #109799
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-24 10:06] arvindersingh-qasource opened #109802 "[Security Solution] Unable to Navigate in application through "Timeline" when additional filter is applied from Alert"
**Describe the bug**
User is unable to navigate is application through ```Timeline``` when user applied additional filter from ```Alerts``` page.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana 7.15.0 must be available and running.
2. Few Alerts must be present on the Environment.
3. Few Timelines must be present on the Environme

[2021-08-24 10:06] elasticmachine commented on #109802
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 10:07] arvindersingh-qasource commented on #109802
@manishgupta-qasource please review this bug .

Thanks.

[2021-08-24 10:07] MadameSheema commented on #109796
Reopen it since it is not related with the format of the header, it is related with the content of the column since is not properly formated.

[2021-08-24 10:08] manishgupta-qasource commented on #109802
Reviewed & assigned to @MadameSheema

[2021-08-24 10:11] katrin-freihofner commented on #109227
Yes, we just improved the column and users will still be able to enable the column if they want to see it. The reason for hiding it by default is that I think the various alert states (workflow status and alert status) are confusing (even internally we got that feedback).

I suggest removing the alert status column and therefore focusing the alerts table on the main question:
What do I (as a user)

[2021-08-24 10:11] muskangulati-qasource commented on #109796
Json file for the same:
[json.txt](https://github.com/elastic/kibana/files/7038378/json.txt)

**NOTE**:

- It does not work for alerts table under Alerts Tab and Host > External Tab
![UIBrokenForAlertTable](https://user-images.githubusercontent.com/60252716/130599024-94e47ba0-d7b7-4493-8fd7-002e223743cc.png)

- Works fine for the timeline tab:
![Timeline Tab](https://user-images.githubusercontent.

[2021-08-24 10:12] elasticmachine commented on #109802
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 10:15] MadameSheema commented on #109796
@jonathan-buttner I think this issue may be directly related with: https://github.com/elastic/kibana/issues/108662

[2021-08-24 10:19] afharo opened #109804 "`eventLog` delaying Kibana from shutting down"
I noticed on the main branch a bug in the plugin `eventLog` that prevents Kibana from shutting down (until Kibana times out and finally stops):

[code]

To reproduce the bug:
1. Make sure that ES is not running
2. Start Kibana (`yarn start`)
3. Wait for Kibana to log `Unable to retrieve version information from Elasticsearch nodes. connect ECONNREFUSED 127.0.0.1:9200`
4. Send the signal `SIGINT` t

[2021-08-24 10:19] elasticmachine commented on #109804
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 10:29] afharo commented on #104124
I created this issue for the Metricbeat team to track them: https://github.com/elastic/beats/issues/27569

[2021-08-24 10:33] afharo commented on #104124
Also adding that this may be a breaking change to `GET /api/status` since it also shares the Ops Metrics.

[2021-08-24 10:35] MadameSheema commented on #103441
@samratbhadra-qasource can you please validate the fix of this issue on 7.15BC2? Thanks :)

[2021-08-24 10:35] MadameSheema commented on #89966
@karanbirsingh-qasource please check this on 7.15BC1, thanks :)

[2021-08-24 10:36] peteharverson commented on #104706
Closing issue as a search can be done on a value containing the `@` character, if the string is enclosed within double quotes - as made possible by https://github.com/elastic/eui/pull/3432.

For example, the following correctly searches for jobs containing `author:@randomuserid` inside `job_tags`:

[code]

![image](https://user-images.githubusercontent.com/7405507/130602072-68c1a284-1780-44a6-a7df

[2021-08-24 10:36] #104706 closed

[2021-08-24 10:43] amolnater-qasource opened #109805 "[Fleet][Nginx]: Unable to upgrade Nginx integration from v0.2.4 to v0.7.0."
**Kibana version:**  7.15.0 BC-1 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-1 Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.2.4`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Nginx integration to Default Policy.
3. Obse

[2021-08-24 10:43] elasticmachine commented on #109805
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 10:43] amolnater-qasource commented on #109805
@manishgupta-qasource Please review.

[2021-08-24 10:44] dikshachauhan-qasource opened #109806 "Log level value not displayed for generated APM log."
**Kibana version:**
7.15 BC1 Kibana Cloud Cloud-prod environment

**Host OS and Browser version:**
APM & Fleet, All

**Preconditions**
1.  7.15 BC1 Kibana Cloud Cloud-prod environment should be available.
[code]
2. Managed host should be available under Agents tab.

**Steps to reproduce:**
1. Enable logs and metrics at cloud deployment.
2. Wait for 1-2 mins for action to complete.
3. Got to stack

[2021-08-24 10:45] elasticmachine commented on #109806
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 10:46] dikshachauhan-qasource commented on #109806
@manishgupta-qasource Please review

[2021-08-24 10:53] manishgupta-qasource commented on #109806
Reviewed & assigned to @simitt

CC: @EricDavisX

[2021-08-24 10:56] afharo commented on #99464
I've checked the current usage of this info:
1. Monitoring is definitely not using it for anything
2. Metricbeat does not rely on it either
3. There's only a potential question mark on any visualizations on the Remote Telemetry Service relying on this data: @alexfrancoeur @thesmallestduck, since you've been involved in auditing the fields that are currently used, would you mind helping me if any o

[2021-08-24 10:56] karanbirsingh-qasource opened #109807 "[Security Solution]Breadcrumb information slowness in updating and broken UI"
**Describe the bug**
breadcrumb information slowness in updating and broken UI

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Create a Case

**Steps to Reproduce**
1. Create a Timline.
2. Attach above timeline to case.
3. Click on timeline and timeline opens up.
4. Observed that breadcrumb information for timeline get broken

Note:

-

[2021-08-24 10:56] elasticmachine commented on #109807
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 10:57] amolnater-qasource opened #109808 "[Fleet][Nginx]: Hyperlink available under Warning while upgrading Nginx integration is not clickable."
**Kibana version:**  7.15.0 BC-1 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-1 Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.2.4`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Nginx integration to Default Policy.
3. Obse

[2021-08-24 10:57] elasticmachine commented on #109808
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 10:58] amolnater-qasource commented on #109808
@manishgupta-qasource Please review.

[2021-08-24 10:59] manishgupta-qasource commented on #109807
Reviewed & assigned to @MadameSheema

[2021-08-24 11:00] deepikakeshav-qasource opened #109811 "[Security Solution] User with read alert privileges is able to update the alert status from dev tools"
**Describe the bug**
User with read alert privileges is able to update the alert status from dev tools

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated
4. User with read alerts privileges should be exist

**Steps to Reproduce**
1. Login with the user with read alert privileges

[2021-08-24 11:00] elasticmachine commented on #109811
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 11:00] manishgupta-qasource commented on #109805
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-24 11:00] deepikakeshav-qasource commented on #109811
@manishgupta-qasource Please review!!

[2021-08-24 11:01] manishgupta-qasource commented on #109808
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-24 11:02] manishgupta-qasource commented on #109811
Reviewed & assigned to @MadameSheema

[2021-08-24 11:08] #88211 closed

[2021-08-24 11:08] sqren opened #109814 "[APM] Waterfall: Ability to navigate to related error from span"
https://github.com/elastic/kibana/pull/109812 added badges to spans so they now more clearly show which spans have `event.outcome=failure`. However, there is no way to navigate to the error event (if such an event exist).

**Solution**
Make it possible to navigate to the related error event. The related error can be found by retrieving error events where `parent.id === span.id`.

[2021-08-24 11:08] elasticmachine commented on #109814
Pinging @elastic/apm-ui (Team:apm)

[2021-08-24 11:09] karanbirsingh-qasource commented on #89966
Hi @MadameSheema

We have validated this issue on `7.15.0 BC1` and found it fixed ✔️ . Following elements (date picker, refresh button, and add data) shows correctly on Docking Navigation's.

**Build Details**
[code]
**Screen-Cast**

https://user-images.githubusercontent.com/59917825/130606522-8390b36b-8b12-446e-817f-4b3e79e1268f.mp4

Hence Closing this issue .

thanks !!

[2021-08-24 11:09] #89966 closed

[2021-08-24 11:11] karanbirsingh-qasource commented on #109430
Thanks for the confirmation , we will document this behavior as a note in tc 👍

[2021-08-24 11:12] pheyos commented on #109687
In the test log I can see the known CI network issue `ECONNREFUSED`:
[code]
So no issue with the app or the tests, closing.

[2021-08-24 11:13] karanbirsingh-qasource commented on #109390
thanks for taking up the followup and sharing the current expected result 👍

[2021-08-24 11:15] pheyos commented on #109747
In the test log I can see the known CI network issue `ECONNREFUSED`:
[code]
So no issue with the app or the tests, closing.

[2021-08-24 11:15] #109747 closed

[2021-08-24 11:23] pheyos commented on #109688
Looks like an issue with the test environment, something decided to kill the ML autodetect process:

[code]

[2021-08-24 11:25] rudolf opened #109815 "Truncate lastFailureMessage for siem-detection-engine-rule-status documents"
`siem-detection-engine-rule-status` documents stores the lastFailureMessage a string which is indexed as `type: "text"` but some failure messages are so large that these documents are up to 26MB.

These large documents cause migrations to fail because a batch of 1000 documents easily exceed Elasticsearch's `http.max_content_length` which defaults to 100mb.

Even though we're fixing the root proble

[2021-08-24 11:25] elasticmachine commented on #109815
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-24 11:29] xcrzx opened #109816 "[RAC][Rule Registry] BUG: Component template bootstrapping fails on conflicting fields"
**Parent ticket: https://github.com/elastic/kibana/issues/101016**

### Summary

Rule Registry resources bootstrapping fails when component templates update lead to conflicting fields during the upgrade process.

#### How to reproduce

Let's say we want to update mappings by moving a field from a solution-specific component template to a common one and changing the field's type in the process. For

[2021-08-24 11:29] elasticmachine commented on #109816
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 11:29] elasticmachine commented on #109816
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-24 11:53] katrin-freihofner commented on #108432
@mdefazio this seems to be done from the design side, can we close it?

[2021-08-24 12:00] katrin-freihofner opened #109822 "[RAC] Case details header: adjust header to better support timestamp"
1. Update the sizing of the flex items so the timestamp is not breaking on two lines:

## Current state
![image](https://user-images.githubusercontent.com/3756330/129715777-1733fcc0-ef0f-4434-ab15-0bce58410694.png)

## Goal
<img width="1376" alt="Screenshot 2021-08-24 at 13 59 42" src="https://user-images.githubusercontent.com/20965076/130612673-80377d75-7b47-4950-ad04-b904d19e9e1e.png">

2. Updat

[2021-08-24 12:00] elasticmachine commented on #109822
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 12:13] Bamieh commented on #99625
@cjcenizal Core prioratized this task for this sprint and I've started working on it today.

[2021-08-24 12:13] mshustov commented on #107641
Discussed offline: yes, I suggested getting this information from an Elasticsearch response because data structure size might be different in JS (Kibana) and Java (Elasticsearch), so libs like `json-size` may provide inaccurate data.

We can start by providing a warning about excessive size in dev mode to prevent such cases https://github.com/elastic/kibana/issues/109815

[2021-08-24 12:20] arvindersingh-qasource opened #109824 "[Security Solution] On navigating to different pages in "Select Case" modal , new modal is opening for each page and overlapping one another."
**Describe the bug**
On navigating to different pages in "Select Case" modal , new modal is opening for each page and overlapping one another instead of opening as new page within the modal.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana 7.15 must be available.
2. Few Malware Alerts must be present.
3. More than 5 Cases must be

[2021-08-24 12:20] elasticmachine commented on #109824
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 12:21] arvindersingh-qasource commented on #109824
@manishgupta-qasource  Please review this bug.

Thanks.

[2021-08-24 12:23] hop-dev commented on #107920
@jen-huang I think this may end up being quite a lot of work unless there's a simple solution to the cyclical dependency that I'm missing.

 I would've liked to add it to the agenda for one of our engineering meetings but the next one isn't until the 14th Sept, I will try link up with @nchaulet when he gets back he may have some ideas. I am moving to blocked for now.

[2021-08-24 12:23] #108602 closed

[2021-08-24 12:25] samratbhadra-qasource commented on #94557
Hi @MadameSheema

We tested this ticket & found that the issue exists on the 7.15.0-BC1 environment too. Please find below the testing details:

**Build Details:**
[code]

**Steps to Reproduce:**

1. Navigate to Detection tab under Security App.
2. Go to the count tab.
3. Select stack by signal.rule.risk_score , signal.rule.severity , signal.rule.name and signal.rule.type.
4. Observe that for stac

[2021-08-24 12:29] ymao1 opened #109828 "[Alerting][Docs] Add de-duplication explanation to Elasticsearch query rule type docs"
The de-duplication logic applied in the Elasticsearch query rule type (so that a unique document is matched at-most once) is not properly explained in the docs. We've had a few SDHs where the behavior was unexpected and a more detailed explanation was required. We should update the docs to include more details.

[2021-08-24 12:29] elasticmachine commented on #109828
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 12:35] Kerry350 opened #109829 "[Logs] ML setup status can break in some situations"
## Summary

It's possible to get into a permanent `unknown` setup status on the Log's anomalies and categories page. Producing the following:

![Screenshot 2021-08-24 at 13 16 05](https://user-images.githubusercontent.com/471693/130614892-7ae30988-2363-46fb-8148-207f2703252c.png)

However, it's unclear at the moment how this state occurs. I haven't been able to replicate this locally, but there is

[2021-08-24 12:35] elasticmachine commented on #109829
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-24 12:38] zeuhl opened #109830 "[Security Solution] - Detection rule EQL index date math fail after save the rule"
**Describe the bug:**
When i use an index like <logs-*-auditbeat*-{now/d}> in rule index définition for EQL only, the rule does not run after saving.
EQL query work fine when using preview mode or using API.
It's really strange, there are no logs related to this behavior in Elasticsearch and Kibana.
I have also check the Kibana index and the rule is stored whitout error.
I have also checked the Ru

[2021-08-24 12:38] elasticmachine commented on #109830
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 12:39] joshdover commented on #107920
For circular dependencies in Kibana, we generally have two options:
- Invert one of the dependencies so that one plugin registers itself with another plugin
- Hoist whatever the common dependency is (eg. a UI component) into a separate plugin that 2 or more of these plugins can depend on. This can also be done by having a new plugin that acts as a "registry" of items that can be plugged into. I ge

[2021-08-24 12:39] ryankeairns commented on #109107
@timroes Is the plan to add this piece of UI even before the auto-height PR is completed?
One benefit to doing this earlier is that we can put it in front of some users.

cc:/ @shaunmcgough

[2021-08-24 12:41] zeuhl commented on #109830
I forgot to mention that Index Date Math works for other types of detection rules.

[2021-08-24 12:49] joshdover commented on #109805
cc @kpollich

[2021-08-24 12:50] ryankeairns opened #109831 "[Discover] Review Full Screen mode for Data Grid in Discover"
After reviewing the EUI data grid bugs, we noted several originated from the Full Screen view. While none were considered blockers, it would be good to review this area more thoroughly as it is often overlooked in testing.

[2021-08-24 12:50] elasticmachine commented on #109831
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-24 12:55] mikecote commented on #107898
I'm -1 to the idea. This way we could remain focused on supporting MS Exchange for now given the short deadline we have and try our best to meet the target. Then, we could prioritize generalizing this code with the next implementation of OAuth.

---

Regarding these new properties, I'm thinking we may want to store them within a new or existing attribute (`oauth` or `auth`?) to keep root attribute

[2021-08-24 12:55] joshdover commented on #108959
Great, didn't realize this API existed. This works even better 😄

Thanks for calling this out, it sounds like a very ugly situation for we could run into for users who upgrade or install a package into a non-default Space for the second time after the ID re-write migration has been run. I'll update the issue description to reflect this.

Currently, we plan on pursuing Option 1 since it's the smoot

[2021-08-24 12:57] pgayvallet commented on #109197
As a reminder, `bulkDelete` is only required by https://github.com/elastic/kibana/issues/91615 as a side-effect, as we're kinda forced to adapt other parts of the SOM UI when adding the multi-NS import/export.

The priority remains to implement the multi-NS support for `bulkGet`, as this API is directly used by the by-id export. @jportner do you have any visibility on when your team would be able

[2021-08-24 13:08] mostlyjason commented on #109281
@bytebilly we've put some work recently into supporting integrations that can surface multiple tiles in the integrations browse tab. This is to provide better discoverability for different keywords and use cases. We believe some users will search keywords with the name of the system they want to integrate with. An example of that is AWS which surfaces tiles for EC2, RDS, etc. I'm also talking to t

[2021-08-24 13:17] rayafratkina commented on #89584
++ to @stratoula comment. We may want to have this flexibility ourselves as we work towards transitioning from old vis editors to Lens.

[2021-08-24 13:23] EricDavisX commented on #109799
@kpollich - when we're looking at this, it would be helpful to confirm if we have API tests that cover the feature yet.  thank you.

[2021-08-24 13:23] alisonelizabeth opened #109834 "[ILM] Remove hard-coded snapshot_restore URLs"
In https://github.com/elastic/kibana/pull/109543, a locator to the `snapshot_restore` plugin was added. Once this change is forward-ported to `master`, we should update ILM to consume this [instead of hard-coding URLs to Snapshot and Restore](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fiel

[2021-08-24 13:23] elasticmachine commented on #109834
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-24 13:25] axw commented on #102289
We no longer need this. It occurred to me that we an define the dynamic templates directly in the data stream manifest, like so:

[code]

This is added to the `@mappings` component template.

[2021-08-24 13:25] #102289 closed

[2021-08-24 13:29] jonathan-buttner commented on #109796
Can you check the json in the discover app to see if it is stored in Elasticsearch as an array or a string?

[2021-08-24 13:33] jonathan-buttner commented on #108662
Looks like it is a valid array in Elasticsearch then, so the flyout is not displaying it correctly. Looks like a valid bug on our side. Thanks for finding it!

[2021-08-24 13:37] hop-dev commented on #107920
Thanks @joshdover this is incredibly useful!

Hi @patrykkopycinski I see that you did the osquery work for https://github.com/elastic/kibana/pull/104272, I wondered if you had any thoughts on option 2 above, and whether it would hinder any future work you have planned.

[2021-08-24 13:44] MadameSheema commented on #109811
This is the expected behaviour since the read alert privilege is done at kibana level. When you change the status using the dev tools, you are bypassing it doing the change directly to the index. If the index has the proper privileges, although you have the aler read privilege, you can change the status.

@yctercero @dhurley14 can you pleas confirm? Thanks

[2021-08-24 13:48] jportner commented on #109544
I am worried about the "whack-a-mole" effect of this. We can fix things on a case-by-case basis but doing this may uncover additional scenarios where these fields break other app experiences. Then we've got multiple Kibana versions that handle this differently for different plugins, and support becomes a nightmare.

If we can't stomach the transformation (seemed like a palatable idea at first but

[2021-08-24 13:49] yctercero commented on #109811
@MadameSheema I'd want to confirm that the user in this case has ES privileges to the `.siem-signals` index. There's two levels of privileges as you point out in your comment. If they do have ES privileges, then yes, this is expected behavior. If they do not have any ES privileges, and just Kibana read only privileges for alerts, then there's something to investigate.

[2021-08-24 13:50] kpollich commented on #109799
@EricDavisX - We have API integration tests for the package policy upgrade flow here: https://github.com/elastic/kibana/blob/9857cac494d9a9b8c5f32388272036b5261e5765/x-pack/test/fleet_api_integration/apis/package_policy/upgrade.ts.

Certainly room to expand these, but it's a start!

[2021-08-24 13:50] elasticmachine commented on #109830
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-24 13:50] MadameSheema commented on #109830
@spong @peluja1012 can you please take a look at this issue? Thanks :)

[2021-08-24 13:51] MadameSheema commented on #109811
@deepikakeshav-qasource can you please confirm which ES privileges your user has? Thanks :)

[2021-08-24 13:52] mshustov commented on #109544
Considering @mattkime wants to land a fix in `7.15`, we can apply this simplest option if we agree that we can leave with a few drawbacks:
- we will have to create custom instances for all the API dealing with user-supplied data (or wait for a problem to be reported by users)
-  it's easy to misuse a wrong client instance in the plugin code (for example, pass an instance created by Core, instead o

[2021-08-24 13:53] elasticmachine commented on #109824
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 13:56] sqren commented on #51257
@dgieselaar Can this be closed?

[2021-08-24 13:56] MadameSheema commented on #109796
@muskangulati-qasource can you please provide Jonathan the above information? Thanks :)

[2021-08-24 13:57] elasticmachine commented on #109811
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-24 13:58] MadameSheema commented on #94557
@angorayc can you please take a look at this? Thanks :)

[2021-08-24 14:04] dominiqueclarke opened #109842 "[User Experience] Filter by url input popover does not apply filter when clicked"
**Kibana version**: 8.0.0, 7.15.0

**Server OS version**: MacOS

**Browser version**: Chrome 92

**Original install method (e.g. download page, yum, from source, etc.)**:
Source, Edge

**Description of the problem including expected versus actual behavior**:

![chrome-capture (21)](https://user-images.githubusercontent.com/11356435/130630767-f0bf20e1-465d-4bef-99b9-cf28478c1556.gif)

When using th

[2021-08-24 14:04] ferullo commented on #109633
@muskangulati-qasource please retest with BC2. thanks!

[2021-08-24 14:09] #109503 closed

[2021-08-24 14:10] #33622 closed

[2021-08-24 14:11] #109454 closed

[2021-08-24 14:11] dgieselaar commented on #51257
@sqren hmm, yeah, not sure if we did exactly as proposed but APMRequestContext does not exist anymore.

[2021-08-24 14:12] jportner commented on #108959
Good to know, but that won't be achievable in 8.0, since we don't plan on making index patterns, dashboards, etc. shareable in that release. So perhaps Option 2 could be a stepping stone in the 8.0 release, thoughts?

[2021-08-24 14:12] cauemarcondes opened #109846 "[APM] Transaction samples callout is not shown on transaction detail page"
Steps to reproduce:
- open apm
- select any service
- select any transaction to navigate to the transaction details page
- the callout is missing on this page.

![Screen Shot 2021-08-24 at 10.10.43.png](https://zube.io/files/elastic/8cdf6f6d040269b7ac54b8b3ec369ff3-screen-shot-2021-08-24-at-10-10-43.png)

[2021-08-24 14:21] cauemarcondes commented on #107477
Test regression opened:
https://github.com/elastic/kibana/issues/109846

Other than that tests are okay.

[2021-08-24 14:21] darnautov opened #109852 "[Alerting] Create rule flyout crops off longer rule descriptions"
**Kibana version:**
latest `master`

**Describe the bug:**
The text of the description is cropped off if it doesn't fit the width of the flyout.

**Expected behavior:**
The line break or ellipsis at the end.

**Screenshots (if relevant):**

![image](https://user-images.githubusercontent.com/5236598/130632965-522b9fbc-6be5-4241-95b0-3716dcf651d3.png)

[2021-08-24 14:21] elasticmachine commented on #109852
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 14:23] weltenwort commented on #109015
I can follow that argument :+1:

[2021-08-24 14:37] Mauro-Rizzi commented on #101942
I'm the OP of that post and I wanted to say that being able to assign any color to any parts of your visualizations is really important. While it might not seem so important from a data scientist point of view from a commercial point of view some companys will definetlly feel the app isn't appropiate if it can't use the company color scheme.

Plus a lot of times you have different visualizations t

[2021-08-24 14:40] thomasneirynck opened #109853 "[Maps] Remove * exports"
Some maps plugins are exporting public api with `export *`. This is no longer allowed.

See https://github.com/elastic/kibana/pull/109357

[2021-08-24 14:40] elasticmachine commented on #109853
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-24 14:42] weltenwort commented on #109227
Ok, sounds like I need to learn some more about the intended workflows. Do you think this is something we need for 7.15.0 or can we take more time to see if we need additional measures to achieve the desired UX?

[2021-08-24 14:42] Mauro-Rizzi opened #109854 "[Lens] Add option to hide filters in visualizations when they have 0 results"
**Describe the feature:** This already happens with legacy visualizations, when you make a list of filters to break down a visualizations and one of them has no results they're automatically removed from the visualization. With lens the filter still appears with nothing inside it.

**Describe a specific use case for the feature:** This is specially usefull for bar charts since now if you have hori

[2021-08-24 14:51] #109465 closed

[2021-08-24 14:52] parkiino opened #109856 "[Trusted applications] Match validation with Event filters"
When creating a new trusted application, red underlines show up on fields before the user interacts with the form. We want the validation to start after the user clicks on the field.

[2021-08-24 14:53] elasticmachine commented on #109856
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-24 14:53] sabarasaba commented on #107464
I spent a few minutes checking this up, there's an `onMappingsEditorUpdate` function passed to the [MappingsEditor](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/public/application/components/shared/components/wizard_steps/step_mappings.tsx#L40) that gets called infinitely by several hooks that depend on it and also invoke it. I was also able to replicate this bug f

[2021-08-24 15:04] Bamieh commented on #100544
I was looking at the code this week. If we want to move the fixtures from `src` into `packages` we'd need to also move the `collectorSet` code into a package as these fixtures require the `usageCollection.registerCollector` and `usageCollection.collectorSet` APIs.

I see the following options:
1. 'hack' the fixtures to act like they are coming from core while they are just psuedo text files. We'd

[2021-08-24 15:08] cyrille-leclerc opened #109861 "Make the "Experimental" badge dismiss-able on the "alerts screen""
**Kibana version:**

7.15

**Elasticsearch version:**

7.15

**Describe the enhancement request**

Make the "Experimental" badge dismiss-able on the new Observability Alerts" screen so that the "experimental" badge can be hidden, ideally in a durable method on the browser of the user.

![image](https://user-images.githubusercontent.com/459691/130641297-6806392e-284b-4c55-9f64-047ae680d837.png)

[2021-08-24 15:09] elasticmachine commented on #109861
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-24 15:09] pmuellr commented on #106854
Seeing the formatting, I'm wondering if you think these messages will be in a UI.  Currently, this message only occurs in the Kibana logs.  There's no fixed length, but it's nice to be shorter of course.  And no notion of "bolding" anything.  And link would need to be displayed in full.

For example, the log message could be (this is my preferred version so far):

Super-long, but I think captures

[2021-08-24 15:34] yiyangliu9286 commented on #109121
PR: #109178

[2021-08-24 15:35] justinkambic commented on #107994
The ML flyout:
![image](https://user-images.githubusercontent.com/18429259/130646189-8bbf98d0-9597-4d00-87dd-b12d423e73c7.png)

[2021-08-24 15:36] elasticmachine commented on #109815
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 15:39] joshdover opened #109870 "[Fleet] Add usage telemetry for package policy upgrade conflicts"
In https://github.com/elastic/kibana/issues/106048 we're adding the ability to upgrade package policies, both manually and automatically when possible. During some package policy upgrades, users will be required to take manual action when a package's inputs change in a way that make the updated package policy fail validation. This can happen due to changes like:
- An input field name was changed
-

[2021-08-24 15:39] elasticmachine commented on #109870
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 15:40] cjcenizal opened #109872 "[Breaking change] Add deprecation from removed proxyConfig and proxyFilter Console settings"
## Change description

**Which release will ship the breaking change?**

8.0

**Is this a Kibana or Elasticsearch breaking change?**

Kibana breaking change

**Describe the change. How will it manifest to users?**

See https://github.com/elastic/kibana/issues/39494 for more info. Requires more research.

**How many users will be affected?**

These settings have been deprecated and undocumented sin

[2021-08-24 15:40] elasticmachine commented on #109872
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-24 15:42] paul-tavares commented on #109794
Probably should be assigned to someone on the Detections and Response team 😃

[2021-08-24 15:44] paul-tavares commented on #109795
@manishgupta-qasource , @muskangulati-qasource - This looks like something the Detections and Response team should look since it's in the Detections side. can you re-assign it

[2021-08-24 15:46] joshdover commented on #108959
My thinking is that we can implement it in a way that it will 'just work' once these types become shareable by using the `isShareable()` API. But that won't work if something else is going to break when these types become "share-capable", I must be a missing a detail there on what exactly the difference between these two modes are.

[2021-08-24 15:48] paul-tavares commented on #109856
@parkiino FYI - this is standard functionality from EUI. The red line actually implies a required field and not a validation error. This is the only indication we have on Form to inform user of required fields.

[2021-08-24 15:53] parkiino commented on #109856
@paul-tavares  gotcha that makes sense, i can change the wording, but i think we would still want to make it so that the required field reminder shows up after the user interacts with the field element right?

[2021-08-24 15:57] paul-tavares commented on #109856
I don't think so. With out having a visual on what's required on the screen the user will not know what to do. They will need to visit every field (even optional fields) trying to figure what will enable to create/update button.  In some UI frameworks, the label sometimes include a visual indicator for required fields (like a red `*`). With EUI, this red line is the indicator.

[2021-08-24 15:57] pmuellr commented on #106854
We don't yet have a [docLinks service server-side](https://github.com/elastic/kibana/issues/95389), so not sure about including a link now.  We could point to `current` - for now, until we do, or we could just name the chapter in the doc.  Using the `current` version sounds better, we can open an issue to fix that to use a docLink, once we have docLinks server-side.

Oooh, I hate this! :-).  Some

[2021-08-24 15:57] mshustov commented on #100544
Does it compatible with the Bazel sandboxing model?

`kbn-analytics` doesn't have README file, so it's hard to reason about the purpose of this package.

Is `collectorSet` presence absolutely necessary for `kbn-telemetry-tools` tests? Maybe we can decouple static dataset from `CollectorSet`? I don't see any package importing `CollectorSet` directly

[2021-08-24 16:09] jportner commented on #108959
Yes that's doable, the problem is that the objects won't be fully shareable until sometime in 8.x -- again, the work to move from "share-capable" to "fully shareable" has not yet been planned.
The differences are outlined in detail in the new [Sharing Saved Objects developer guide](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-overview).

For the sa

[2021-08-24 16:15] #102271 closed

[2021-08-24 16:20] kobelb commented on #89584
Thanks for the additional explanation @stratoula. You all are the subject matter experts for these plugins, so I largely defer to your expertise here, but I would like to elaborate on the intent of making fewer plugins disable-able to see if it alters your alls thinking at all.

It goes without stating that all decisions have a downside. In this particular situation, we've found that the general d

[2021-08-24 16:22] peteharverson opened #109879 "[ML] APM correlations tabs do not update when changing transaction type control"
The content in the 'Latency correlations' and 'Failed transactions correlations' tabs do not update when changing the value in the transaction type control at the top of the page. The content only updates when changing tabs. The same also applies to the Latency distribution chart in the Trace samples tab.

![apm_transaction_type_control](https://user-images.githubusercontent.com/7405507/130653298-

[2021-08-24 16:22] elasticmachine commented on #109879
Pinging @elastic/ml-ui (:ml)

[2021-08-24 16:22] elasticmachine commented on #109879
Pinging @elastic/apm-ui (Team:apm)

[2021-08-24 16:38] #109352 closed

[2021-08-24 16:43] joshdover commented on #108554
From our discussion this week, it appears the main use case that we're trying to solve is allow users to view (and possibly configure) the ILM policy that applies to an _integration_ for the configured _namespace_. In other words, the level of granularity we're trying to achieve is integration-specific and namespace-specific. The rest of this comment assumes this is still the use case that we want

[2021-08-24 16:45] tylersmalley commented on #95859
Currently 809,786 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:46] tylersmalley commented on #95863
Currently 465,315 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:46] tylersmalley commented on #95858
Currently 337,138 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:46] tylersmalley commented on #106802
Currently 314,535 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:47] tylersmalley commented on #95872
Currently 237,064 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:47] tylersmalley commented on #95862
Currently 219,136 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:49] tylersmalley commented on #95860
Currently 187,404 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:50] elasticmachine commented on #95864
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-24 16:50] tylersmalley commented on #103748
Currently 136,170 bytes. Can someone confirm what work here is planned?

[2021-08-24 16:51] mdefazio commented on #108988
@semd Thanks for the update! No other changes for column widths.

[2021-08-24 16:57] mattkime commented on #95859
@tylersmalley yes, work is planned. Its slow going, particularly with 8.0 priorities.

[2021-08-24 17:07] jportner commented on #106900
Related: #108335

[2021-08-24 17:10] nastasha-solomon opened #109888 "[DOCS] New securitySolution:defaultThreatIndex field needs to be doc'd"
The `securitySolution:defaultThreatIndex` field is being added to the Kibana advanced settings in 7.14.1 and will need to documented in the [Advanced settings](https://www.elastic.co/guide/en/kibana/7.14/advanced-options.html#kibana-siem-settings) topic.

cc: @jmikell821

[2021-08-24 17:10] elasticmachine commented on #109888
Pinging @elastic/kibana-docs (Team:Docs)

[2021-08-24 17:13] jportner commented on #91615
I think restricting to full admins is the best thing to do, at least for now. Otherwise you may have a situation where you have permission to import to only a subset of the specified spaces, for example. How would we handle that? Just fail the whole import, I guess?

Well, we still want users to be able to export/import without `namespace/s` metadata, right? (the way it functions today)
So how wil

[2021-08-24 17:16] simianhacker opened #109890 "[Monitoring] Document the fields and aggregations used for Stack Monitoring metrics"
We should add a section to the documentation that lists every field we use along with the aggregation/calculations used for each metric visible in the UI.

https://www.elastic.co/guide/en/kibana/current/xpack-monitoring.html

[2021-08-24 17:16] elasticmachine commented on #109890
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-24 17:19] mattkime opened #109891 "[uiActionsEnhanced] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:20] elasticmachine commented on #109891
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:20] elasticmachine commented on #109806
Pinging @elastic/apm-ui (Team:apm)

[2021-08-24 17:21] mattkime opened #109892 "[uiActions] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:21] #108188 closed

[2021-08-24 17:21] elasticmachine commented on #109892
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:22] mattkime opened #109893 "[kibanaUtils] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:22] elasticmachine commented on #109893
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:24] mattkime opened #109897 "[reporting] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:24] elasticmachine commented on #109897
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-24 17:25] mattkime opened #109898 "[kibanaReact] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:26] mattkime opened #109900 "[inspector] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:26] elasticmachine commented on #109900
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:27] asnehalb commented on #108168
@karanbirsingh-qasource could you please test it on BC2? Thanks

[2021-08-24 17:27] mattkime opened #109901 "[fieldFormats] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:27] elasticmachine commented on #109901
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:29] asnehalb commented on #108154
@karanbirsingh-qasource could you please test on BC2? Thanks

[2021-08-24 17:31] mattkime opened #109902 "[expressions] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:31] elasticmachine commented on #109902
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:32] mattkime opened #109903 "[embeddable] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:32] elasticmachine commented on #109903
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:36] mattkime opened #109904 "[data] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:36] elasticmachine commented on #109904
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:37] mattkime opened #109905 "[bfetch] remove reliance on `eslint-rule-no-export-all`"
addresses https://github.com/elastic/kibana/issues/57370
more info https://github.com/elastic/kibana/pull/109357

[2021-08-24 17:37] elasticmachine commented on #109905
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-24 17:42] #103918 closed

[2021-08-24 17:46] ryankeairns opened #109906 "Limit to a single action on Reason field"
To avoid a lot of mis-clicking that a user might make I'd suggest turning off the cell actions for this column, and instead putting those actions (as text link actions) within the popup you are loading.

The primary reason to do this is because this focuses the user towards only one-action for that cell (which is loading the popup). Further actions, if needed, can be doing within that popup, rathe

[2021-08-24 17:47] elasticmachine commented on #109906
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 17:47] elasticmachine commented on #109906
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 17:51] cauemarcondes opened #109907 "[Fleet UI] Improve fleet ui error message"
While implementing the feature https://github.com/elastic/kibana/pull/109516, I had to make some changes to the APM fields located at https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/lib/fleet/get_apm_package_policy_definition.ts#L60. But when I was trying to edit the APM integration, fleet threw this error:

<img width="828" alt="Screen Shot 2021-08-24 at 13 43 17" src="htt

[2021-08-24 17:52] elasticmachine commented on #109907
Pinging @elastic/fleet (Team:Fleet)

[2021-08-24 17:58] lukeelmers opened #109910 "[docs] Port existing plugin performance page to new docs system"
Currently we have a [Keep Kibana Fast](https://www.elastic.co/guide/en/kibana/7.x/plugin-performance.html) best practices page in our docs.

In the new docs system, we'd like to have a "key concepts" section which discusses performance considerations at a higher level. But as a first step, we should port the existing docs over to the new system.

[2021-08-24 17:58] elasticmachine commented on #109910
Pinging @elastic/kibana-core (Team:Core)

[2021-08-24 18:00] alisonelizabeth commented on #73142
I'm going to close this issue. The functional tests are being re-enabled and refactored via https://github.com/elastic/kibana/pull/109909. The deprecation logging logic is now being tested [via our client-integration tests](https://github.com/elastic/kibana/blob/master/x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview/fix_deprecation_logs_step/fix_deprecation_logs_step.test.tsx

[2021-08-24 18:00] #73142 closed

[2021-08-24 18:01] joshdover commented on #95863
This isn't yet planned, I'll bring up with the team next week as part of our 7.16 planning.

[2021-08-24 18:24] #107458 closed

[2021-08-24 18:25] kpollich commented on #109907
Thanks for raising this! I can take a look at this as we're actively working on and testing this package policy validation code for 7.15/16.

[2021-08-24 18:28] stephmilovic commented on #109428
fixed by https://github.com/elastic/kibana/pull/109339

[2021-08-24 18:35] parkiino commented on #109856
So this issue was actually pulled from this original trusted apps ui update ticket: https://github.com/elastic/security-team/issues/1532. Whatever we end up doing, I feel like it would be better to match trusted apps and event filters since they both have pretty similar looking forms.

@caitlinbetz @kevinlog @bfishel thoughts?

[2021-08-24 18:44] lukeelmers commented on #109197
++ Since we have a clear path forward with `bulkDelete` now, and it is needed in order to progress on #91615, I agree we should just press ahead and revisit `currentNamespace` as a separate issue.

[2021-08-24 18:51] #64861 closed

[2021-08-24 18:58] mikecote opened #109916 "Research username/password flow with MS Exchange OAuth"
We should do a bit of research to understand better the implications of using the [password credentials flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc) and why it is or isn’t a better idea (pros/cons) to pursue compared to authorization code flow or Graph API.

[2021-08-24 18:58] elasticmachine commented on #109916
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 18:59] mikecote opened #109917 "Research Graph API with MS Exchange OAuth"
We should do a POC to understand better the implications of using the [Graph API](https://docs.microsoft.com/en-us/graph/auth-v2-service) with [client credentials flow](https://docs.microsoft.com/en-us/graph/auth-v2-service) and why it is or isn’t a good idea to pursue compared to authorization code flow or password credentials flow.
The main points to discover:
- how generalizing could be HTTP im

[2021-08-24 18:59] elasticmachine commented on #109917
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 19:01] mikecote opened #109918 "Research access and refresh tokens behaviours"
We should leverage the authorization code flow POC ([#107446](https://github.com/elastic/kibana/pull/107446))  to research and understand what happens to access tokens after we refresh them. Do previous access tokens still work?

With the same POC, we should research how we plan to detect when an access token is expired. This logic will help us understand when to refresh an access token. Is there

[2021-08-24 19:01] elasticmachine commented on #109918
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 19:02] mikecote opened #109919 "Research OAuth flow failure paths"
We should research what user experience will be like for each OAuth authorization code flow step when a failure is detected. How do we plan on supporting or helping with failures at each step? It would be great to cover and check the basic use cases when the entry params is wrong (like Client ID or Secret), when the access/refresh token is expired, or redirect URL is missing in the configured app,

[2021-08-24 19:02] elasticmachine commented on #109919
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 19:15] lukeelmers commented on #89584
If the concern here is mostly around simplifying the UI for users when they go to create a new visualization, I wonder if it would be more appropriate to use feature controls or an advanced setting to toggle visibility of each vis type on and off? Changing the yml config seems like a very low-level solution for something that's more or less a UX issue.

[2021-08-24 19:22] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16367/)

[2021-08-24 19:48] pmuellr opened #109937 "[task manager] change link in "Task Manager detected a degradation in performance" message to be version specific"
In PR https://github.com/elastic/kibana/pull/109741, we're adding a link to the Kibana Task Manager docs in a message that Kibana logs, as part of the message.  Sadly, the `docLinks` plugin is only available client-side, and that issue is tracked here: https://github.com/elastic/kibana/issues/95389, so we can't generate the link we really want, which would be the version for the current version of

[2021-08-24 19:48] elasticmachine commented on #109937
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 19:56] jonathan-buttner opened #109940 "[Cases][Observability] Sync alerts toggle is shown"
The sync alerts toggle and text should be removed within the Cases in Observability. It should be shown for security solution.

![image](https://user-images.githubusercontent.com/56361221/130681265-0cb3177a-dbe3-49ce-8bc8-773a95986d1e.png)

[2021-08-24 19:56] elasticmachine commented on #109940
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 20:01] pmuellr opened #109941 "[task manager] investigate false positives, spamming of task manager health warning"
PR https://github.com/elastic/kibana/pull/109741 removes some of the "observability of task manager", by "hiding" the "potential performance problem" log warning, by turning it into a debug warning.

The original issue that spawned the PR is here https://github.com/elastic/kibana/issues/109095 and contains references to other issues where this message has appeared and caused undo alarm.

It would

[2021-08-24 20:04] pmuellr commented on #109941
I should mention, it's possible that some of the changes made in PR https://github.com/elastic/kibana/pull/109741 will end up improving the situation - for instance, cutting down on the number of times the message is generated over time (because we relaxed the conditions considered problematic).  But I think we'll need to see over time.

[2021-08-24 20:04] elasticmachine commented on #109941
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-24 20:07] sqren commented on #51257
Yeah, I'm not sure either. I'll close and then we can open another issue if needed.

[2021-08-24 20:07] #51257 closed

[2021-08-24 20:11] ghudgins commented on #3189
+1 necessary to preserve alignment of multiple pies
![image](https://user-images.githubusercontent.com/5465514/130683126-6ef0b20c-4f00-4a36-b6ac-0698c37ae831.png)
vs.
![image](https://user-images.githubusercontent.com/5465514/130683142-9aa35b34-6fd2-404a-a384-386117178b51.png)

[2021-08-24 20:19] kibanamachine opened #109943 "Failing test: Jest Tests.x-pack/plugins/transform/public/app/hooks - Transform: <DataGrid /> with useIndexData() Cross-cluster search warning"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16518/)

[2021-08-24 20:21] elasticmachine commented on #106802
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 20:21] spong commented on #106802
cc @asnehalb for prioritization here.

[2021-08-24 20:24] cauemarcondes opened #109946 "[APM] Fleet: Duplicate settings information"
We have the fleet settings fields defined in different locations across APM UI and apmpackage repository (manifest file).

- To be able to [redesign the APM integration page](https://github.com/elastic/kibana/issues/91412) I had to define the fields here https://github.com/elastic/kibana/tree/master/x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings.

- To migrate to d

[2021-08-24 20:24] elasticmachine commented on #109946
Pinging @elastic/apm-ui (Team:apm)

[2021-08-24 20:27] dominiqueclarke opened #109947 "[Uptime] [Synthetics integration] Browser monitors - Some inline scripts are not able to be saved"
**Kibana version**: 7.15.0, 8.0.0

**Server OS version**:

**Browser version**: Chrome 92, Firefox 91

**Original install method (e.g. download page, yum, from source, etc.)**:
Source

**Description of the problem including expected versus actual behavior**:
When adding **certain** inline scripts, fleet will not allow the integration policy to be saved. Fleet is reporting the error as `invalid YAM

[2021-08-24 20:27] elasticmachine commented on #109947
Pinging @elastic/uptime (Team:uptime)

[2021-08-24 20:28] smith opened #109948 "Many toast messages appear when license is about to expire"
**Kibana version:** master

**Describe the bug:** If your license is near expiration, many pages give you a whole load of toast messages about it.

**Steps to reproduce:**
1. Have a license that will expire in 3 days
2. Open Discover or Dashboards
3. Get bombarded

**Expected behavior:**
1. Have a license that will expire in 3 days
2. Open any page
3. Get one unobtrusive yet clear message about th

[2021-08-24 20:29] jbudz opened #109949 "[Reporting] Add chromium darwin arm64 builds"
Current browsers at https://github.com/elastic/kibana/blob/master/x-pack/plugins/reporting/server/browsers/chromium/paths.ts

Part of https://github.com/elastic/kibana/issues/83946

[2021-08-24 20:29] elasticmachine commented on #109949
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-24 20:37] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16517/)

[2021-08-24 20:40] thomasneirynck opened #109954 "[Maps] Use elasticsearch _mvt implementation"
**Describe the feature:**

Use the elasticsearch _mvt implementation to read mvt vector tiles, instead of the current Kibana Maps implementation.

Need to determine if this fits into the 7.x line, or 8.x is a better fit, given the potential for breaking changes.

[2021-08-24 20:40] elasticmachine commented on #109954
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-24 20:41] thomasneirynck commented on #79868
Closing. Open items from this meta-issue can be tracked individually.

[2021-08-24 20:43] mgiota opened #109957 "[RAC][Observability][Security Solution] Popover icon is broken"
https://user-images.githubusercontent.com/2852703/130686643-5e80d4c2-bfd8-41aa-90d8-e0b945c03826.mov

[2021-08-24 20:43] elasticmachine commented on #109957
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-24 20:43] elasticmachine commented on #109957
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-24 20:44] thomasneirynck commented on #92672
https://github.com/elastic/kibana/issues/92672 closes this for ES-data. The effort to solve this for 3rd party services, which do not provide any metadata  about the geometries in the tile is likely not worth the benefit.

i

[2021-08-24 20:44] #92672 closed

[2021-08-24 20:44] elasticmachine commented on #109957
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-24 20:50] ycombinator opened #109960 "[Regression] Telemetry Usage Stats API no longer honor `timeRange` parameter"
**Kibana version:**

`7.11.0`

**Elasticsearch version:**

`7.11.0`

**Describe the bug:**

Up through version `7.10.0`, the `POST /api/telemetry/v2/clusters/_stats` API used to accept a `timeRange` parameter in the request body like so:

[code]

Starting from version `7.11.0`, however, the same API call returns the following error response:
[code]

**Steps to reproduce:**
[code]

**Expected behav

[2021-08-24 20:50] elasticmachine commented on #109960
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-08-24 20:57] dominiqueclarke opened #109965 "[Uptime] [Synthetics Integration] Content has a typo"
**Kibana version**: 7.14, 7.15, 8.0.0

**Description of the problem including expected versus actual behavior**:

There's a bug in the content of the Elastic Synthetics integration page. `tab` should be `tag`

![image](https://user-images.githubusercontent.com/11356435/130688768-33410ba3-9d96-4974-8f88-b89199adc760.png)

[2021-08-24 20:57] elasticmachine commented on #109965
Pinging @elastic/uptime (Team:uptime)

[2021-08-24 21:21] mdefazio commented on #109906
See this issue for full write-up for Reason column as well as other columns: https://github.com/elastic/stack-design-team/issues/85

[2021-08-24 21:29] rayafratkina commented on #89584
Can we disambiguate who 'user' is in Stratoula's comment? I believe she is talking about system administrators disabling these features for every user. In that case, the configuration needs to be done programmatically and be deployable, so I think yml setting is in fact the most appropriate place to do this.

[2021-08-24 21:36] ecezalp commented on #89784
did a little investigation around this bug, and here are my findings. To sum up, I believe the currently observed behavior isn't related to indicator match rules so to say, and is related to which index alerts are written to, and which index timeline queries, so the nature of the bug is different this time around even though the expression of the bug appears to be similar.

# Setup (reproduction)

[2021-08-24 21:47] pmuellr opened #109970 "[core] publicBaseUrl warning seems too scary"
**Kibana version:** 7.14

In PR https://github.com/elastic/kibana/pull/85344, a toast was added when the `publicBaseUrl` config is not set:

![image](https://user-images.githubusercontent.com/25117/130693469-23885973-c597-45b8-aaf3-c78d6df275e1.png)

It's a bit scary though!  AFAIK, Kibana operates correctly when this is not set.  But if it **IS** set, the customers may see some value-add.  For in

[2021-08-24 21:47] elasticmachine commented on #109970
Pinging @elastic/kibana-core (Team:Core)

[2021-08-24 22:02] debadair commented on #108601
Proposed pattern for the params:

utm_source = kibana
utm_medium  = learn_more, help_menu, docs
utm_campaign = <app>_<page>: dev_tools_console, management_ingest_pipelines, ml_jobs, etc.

[2021-08-24 22:09] #109940 closed

[2021-08-24 22:14] poffdeluxe commented on #94075
I looked into this and there are a few different compounding issues here:
1. There's a bug I discovered that if there is no workpad CSS, the workpad does not render properly in fullscreen mode and has a "zoomed in effect" which causes parts of the workpad to not to be shown. This will be fixed in #109961
2. On wide workpads, there seems to be an issue where the workpad does not want to center prop

[2021-08-24 22:30] #109237 closed

[2021-08-24 22:31] rylnd commented on #89784
@karanbirsingh-qasource @MadameSheema I agree with @ecezalp 's findings above; it looks like this is working as expected for mapped fields, nested or no.

One contributor to the behavior seen here is the fact that `threat.indicator.domain` is no longer an ECS CTI field, and has moved instead to `threat.indicator.url.domain`. We had been using this for many CTI examples; I would suggest updating sc

[2021-08-24 23:24] cmer86 opened #109980 "Full index pattern on mouse over"
Hello,
We have some fairly long index patterns that have a similar prefix that we use due to cross cluster searching and I was hoping we could get some sort of "on mouse over" in the dropdown combo box event to show the full pattern in the bread crumb bar (next to "Discover"). Waiting for the tool tip to display is our current work around for this but it can impede workflow a bit.

[2021-08-24 23:34] jen-huang commented on #94340
Once the policy conflicts are resolved, when do we check `epm-package-assets` for deletion eligibility again?

[2021-08-24 23:36] elasticmachine commented on #109948
Pinging @elastic/kibana-core (Team:Core)

[2021-08-24 23:40] #43715 closed

[2021-08-24 23:51] kobelb commented on #89584
If this does end up being the case, I'd be interested to hear more about what would require us to use `kibana.yml` settings to disable these features. In other situations, we've been comfortable with removing the `kibana.yml` settings as long as the "admin" in a super general sense has some method of not allow other users to use a feature. For example, we've been comfortable saying that if an "adm

[2021-08-25 00:42] alisonelizabeth opened #109984 "[ILM] Layout issues with loading/empty states"
**Kibana version:**
7.15

**Describe the bug:**
The loading and empty prompt states are no longer centered on the page. I believe this was introduced via https://github.com/elastic/kibana/pull/106734. We should be able to use the same fix in https://github.com/elastic/kibana/pull/109726, and add the `APP_WRAPPER_CLASS` to `RedirectAppLinks`.

Example:
[code]

**Screenshots**
<img width="1315" alt=

[2021-08-25 00:42] elasticmachine commented on #109984
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-25 00:57] graphaelli commented on #77966
pagination has landed, description updated accordingly - this is no longer blocked.

[2021-08-25 02:03] mdefazio commented on #108432
@katrin-freihofner , I don't think there's additional design work at the moment.  It seems like the POC solves this issue. However, is there a separate issue to track this from the engineering side so we know when this is fixed?

[2021-08-25 02:29] mdefazio commented on #108987
What is the recommended path forward here?  Would we be able to provide a more broad reason statement that reads similarly to our others, but just doesn't include severity or risk score? (Though I believe it was mentioned that there _should_ be a severity on these).

[2021-08-25 02:57] cuff-links commented on #109173
Closed by #109353

[2021-08-25 02:57] #109173 closed

[2021-08-25 04:13] peluja1012 commented on #109385
Hi @deepikakeshav-qasource, what happens when you click the "Load Elastic Prebuilt Detection Rules" button? If the prebuilt rules get loaded after clicking on that button, this is most likely expected behavior. I don't think we we automatically load the rules for the user but we make them available for them to load. I'll confirm with @spong.

[2021-08-25 04:20] parkiino commented on #109248
https://github.com/elastic/kibana/pull/109991

[2021-08-25 04:28] deepikakeshav-qasource commented on #109385
Hi @peluja1012 ,

When we click on "Load Elastic Prebuilt Detection Rules" button. Prebuilt rules get loaded successfully.

Please keep us posted of any changes.

Thanks!!

[2021-08-25 04:45] rashmivkulkarni opened #109992 "SyntaxError: Unexpected token < in JSON at position 0 seen on console - on Analytics and Security screen"
Kibana 7.15 BC1/snapshot

When you click on Home> Security> Add Data with Beats  `https://localhost:5601/app/home#/tutorial_directory/security` , on the console I see the following error . Doesnt prevent from adding the data. I think its coming from ```newsfeed``` ( maybe?) Also seen on Analytics tab.

[code]

<img width="1447" alt="Screen Shot 2021-08-24 at 9 45 00 PM" src="https://user-images.gi

[2021-08-25 05:11] ogupte commented on #109846
The transactions list page does show the fallback badge/callout. The transactions details however does not use the metrics data since it depends on the selected transaction events for the trace items. Will close issue.

[2021-08-25 05:31] rashmivkulkarni opened #109993 "Clicking browser back button from the set up mode of Monitoring causes error in the console"
Kibana 7.15 BC1/snapshot

Clicking on browser back button when you are in the set up mode of Monitoring , causes
[code]
<img width="1435" alt="Screen Shot 2021-08-24 at 10 30 53 PM" src="https://user-images.githubusercontent.com/11466284/130731902-f44f6347-0d2a-4b42-9253-3b3d63417bef.png">

[2021-08-25 05:31] elasticmachine commented on #109993
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-25 05:34] zhujunjieit opened #109994 "linux/arm64/v8 上使用又bug"
Used image url is ：https://hub.docker.com/layers/kibana/library/kibana/7.14.0/images/sha256-4826c5665c879272cb0fedb4e654d45dc16666b4f8df9c0850c511166acfb342?context=explore
System: centos7.9
OS/ARCH: linux/arm64/v8
error:
docker: Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: rootfs_linu

[2021-08-25 06:23] ssfructuoso515 commented on #47019
Updating Kibana it's not possible for us to make it right now, unfortunately.

Do you know any point to check in order to possibly fix it?

Thanks!

[2021-08-25 06:32] deepikakeshav-qasource commented on #109811
Hi @MadameSheema,

Thank you for the update!!

1. We have provided "All" ES privileges with Kibana Read alert sub feature privileges. Please find the below screenshot:
![image](https://user-images.githubusercontent.com/61860752/130734301-d59aa368-331c-4813-be1d-fa0b6f00b517.png)

2. We are unable to update the status of alerts in dev tools if we provide the ".siem-signals" index with READ privileg

[2021-08-25 06:32] #109811 closed

[2021-08-25 06:38] pgayvallet opened #109996 "SO Repository: Adding multi-NS support to remaining non-bulk operations"
If most of the `bulk` APIs of the SOR now support handling either multiple namespaces (e.g `find`) or to specify the target namespace for each object (e.g `bulkCreate`), we're lacking the equivalent for most of the non-bulk operation (`get` or `delete` for example).

From my understanding, this state is mostly caused by two factors:
- We decided to not alter each individual API until we have a rea

[2021-08-25 06:38] elasticmachine commented on #109996
Pinging @elastic/kibana-security (Team:Security)

[2021-08-25 06:38] elasticmachine commented on #109996
Pinging @elastic/kibana-core (Team:Core)

[2021-08-25 06:47] pgayvallet commented on #109197
Ok, I will switch to implementing `bulkDelete` once https://github.com/elastic/kibana/pull/109196 is blocked again (some things were unblocked by https://github.com/elastic/kibana/pull/109258 and https://github.com/elastic/kibana/issues/99044)

I created https://github.com/elastic/kibana/issues/109996 to discuss the specifics. Also renamed the current issue to reflect the new scope.

[2021-08-25 06:48] kertal opened #109998 "[Discover] Sidebar search performance regression"
**Kibana version:**
7.14, 7.15, master

**Describe the bug:**
When there are lots of fields in Discover, searching the fieldlist takes forever and leads to a 100% CPU peak
**Steps to reproduce:**
1. Go to Discover
2. Choose an index pattern with lots of fields (1k+)
3. Try to search for a field in the sidebar

**Expected behavior:**
It should be fast

**Screenshots (if relevant):**

https://user-i

[2021-08-25 06:48] elasticmachine commented on #109998
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-25 07:02] sourcx commented on #77072
Oh no it has been removed! :(

[2021-08-25 07:08] karanbirsingh-qasource commented on #108697
Hi @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it fixed ✔️ . Add field to column option under more action no more available for available for array field as they cant be added as alert column.

**Build Details:**
[code]

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/130742824-bbdf4a64-f631-4282-a2ce-5086bb5c5d86.png)

Hence adding "QA:Validated

[2021-08-25 07:08] banderror commented on #109815
A note on why this can happen:

Every rule execution runs a loop under the hood. During each iteration of this loop Detection Engine queries source indices (containing source events), a small time period per iteration. If it finds any events matching the rule criteria, it creates detection alerts from them and attempts to bulk index them.

When querying and bulk indexing within an iteration, it’s

[2021-08-25 07:18] marius-dr commented on #109948
I guess this can be bundled together with this error message as well, since the same thing should happen in this case too (security not explicitly disabled, just disabled by default in 7.x and lower). And the same solution, messages like this that come from ES should be bundled together:
![metricbeat app check metricbeat Dashboard _Metricbeat System_ Overview ECS should match snapshot](https://use

[2021-08-25 07:23] banderror commented on #109815
A note on how to truncate:

1. Truncate on write:
    - get unique error messages from the list
    - truncate the list (leave max 10-20 errors, for example)
    - join its items to a string
    - truncate the resulting string (leave max 1024 characters, for example)
2. Write a migration for `siem-detection-engine-rule-status` that would truncate existing status documents:
    - truncate the exist

[2021-08-25 07:26] banderror commented on #109815
A note on the impact and which version to target from @rudolf:

This has a high impact on users and causes downtime for them and support escalations. Even if we are fixing some of the problems already this is also causing OOM errors for users with smaller 1GB Kibana instances which is harder to address. At the moment it doesn't seem to be affecting a large number of users, but I suspect this will

[2021-08-25 07:31] pgayvallet commented on #109948
I'm not sure exactly where these messages are coming from to be honest. The licensing plugin's check only show a banner when the license is really expired:

https://github.com/elastic/kibana/blob/3b3327dbc3c3041c9681e0cd86bd31cf411dc460/x-pack/plugins/licensing/public/plugin.ts#L94-L97

[2021-08-25 07:40] pgayvallet commented on #89584
It could even be a config option that would halt the plugin from registering the vis type instead of totally disabling it.

[2021-08-25 07:44] #108711 closed

[2021-08-25 07:44] simitt commented on #109946
I believe we still need the `policy_templates.[].inputs.template_path` but we might be able to remove the `policy_templates.[].inputs.vars` section. What are the implications on the APM switching from standalone to managed apm-server logic?

Another topic that comes to mind is automated test setup, where we currently fetch the apmpackage and install it via API calls. When removing input vars from

[2021-08-25 07:45] bytebilly commented on #109281
Thanks @mostlyjason, I'm glad to see that we are iterating so fast on this project!
I like the idea of discoverability by keyword, is that something achievable with a single-tile integration by using multiple tags, or is it based on the display name only?

Do you have a preview environment to play with, or some animation of the multi-tile AWS integration and search flow? 🙂

@philkra and @sethpayne

[2021-08-25 07:49] muskangulati-qasource commented on #109796
Hi @jonathan-buttner,

Here is the screenshot from the JSON in Discover Tab:
![image (1)](https://user-images.githubusercontent.com/60252716/130749274-d5723ef6-e866-48e2-82d4-886d464e425d.png)

Json file:
[Discover.txt](https://github.com/elastic/kibana/files/7044861/Discover.txt)

Please let us know if anything else is required from our end.

cc: @MadameSheema
Thanks!

[2021-08-25 08:00] afharo commented on #99464
@haywoood I can see them in the repo for the legacy cluster. Do you mean they are not mapped in the new system?

[2021-08-25 08:02] karanbirsingh-qasource opened #110002 "[Security Solution] Remove "add to timeline" button from non-ECS-compliant fields"
**Describe the bug**
Remove "add to timeline" button from non-ECS-compliant fields

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Hit the below HIT in Dev Toll

**Steps to Reproduce**
1. Create a Indicator Match custom rule for `indicator` and `mydata` as index pattern.
2. Indicator Matching `threatintel.indicator.domain` MATCHES `myda

[2021-08-25 08:02] elasticmachine commented on #110002
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 08:03] karanbirsingh-qasource commented on #89784
Thanks @ecezalp for looking into the issue and provide the detailed observation for the same .

As per the suggestion from Ryland i am opening up the seperate ticket for the above conclusion enhancement planned for the add unmapped fields to the alerts table, and then send those columns to the timeline .

Here is the ticket link for it https://github.com/elastic/kibana/issues/110002

[2021-08-25 08:03] karanbirsingh-qasource commented on #89784
Thanks @rylnd for sharing the update of the change of the ECS CTI Field from the earlier one we were using.

The issue is Fixed ✔️ for the `threat.enrichments.matched.atomic` filed .

we have updated the old related test-case for it with the new filed that is `threat.enrichments.matched.atomic` .
- [C608370](https://elastic.testrail.io/index.php?/tests/view/608370)

**Observations:**

Please find

[2021-08-25 08:03] #89784 closed

[2021-08-25 08:07] Dosant commented on #109092
Consider [lz-string](https://pieroxy.net/blog/pages/lz-string/index.html) fore compressing
saw here: https://github.com/elastic/kibana/pull/109923

[2021-08-25 08:17] #109402 closed

[2021-08-25 08:23] katrin-freihofner commented on #108432
I will add the labels so engineering can pick it up.

[2021-08-25 08:26] pgayvallet commented on #109970
@kobelb @joshdover I think you were the main actors behind the decision of enabling this warning. What do you think about disabling it until core really uses it?

[2021-08-25 08:29] katrin-freihofner opened #110005 "[RAC] update reporter column in cases list"
To help clean up this table view, we should move the reporter name to a tooltip from the avatar.

## Current status
![image](https://user-images.githubusercontent.com/3756330/129717114-033fe817-9d0c-4d45-9869-0c35d16efbf6.png)

## Goal
![image](https://user-images.githubusercontent.com/3756330/130656778-f08a6565-8780-4c6e-907f-3b82a3e5ed54.png)

[Design issue](https://github.com/elastic/stack-desi

[2021-08-25 08:29] elasticmachine commented on #110005
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-25 08:34] muskangulati-qasource opened #110006 "[Security Solution] Linux shows a deadlock error after sometime"
**Description:**
Linux shows a deadlock error after sometime

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Linux Malware Alerts should be triggered

**Steps to Reproduce:**
1. Navigate to the Endpoints tab.
2. Select the policy response
3. Observe the error logs

**Impacted Test case:**
N/A

**Actual Result:**
Linux shows a deadlock

[2021-08-25 08:34] elasticmachine commented on #110006
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-25 08:34] elasticmachine commented on #110006
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 08:36] timroes opened #110007 "Filter out fields containing `*` in their name from field_caps"
Currently you can have fields in Elasticsearch containing `*` as a name. Those fields though will not behave very well across ES APIs since the `*` is treated as a wildcard in most APIs and thus will cause a wide range of problems, from e.g. us asking for date formatting on a field containing a `*` will accidentally ask for date formatting on all fields matching that wild card, which might not all

[2021-08-25 08:37] elasticmachine commented on #110007
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-25 08:49] mgiota commented on #109619
There was a merged PR https://github.com/elastic/kibana/pull/109759 that most probably fixes this issue.

[2021-08-25 09:11] manishgupta-qasource commented on #110002
Reviewed & assigned to @MadameSheema

[2021-08-25 09:15] manishgupta-qasource commented on #110006
Reviewed & assigned to @kevinlog

[2021-08-25 09:16] dgieselaar commented on #109102
LGTM

[2021-08-25 09:19] dgieselaar commented on #109103
LGTM

[2021-08-25 09:22] MadameSheema commented on #89784
Thanks @ecezalp @rylnd

@rylnd taking into account this issue opened by @peluja1012  https://github.com/elastic/kibana/issues/90346, unmapped fields should be displayed in the alert details view, even we have test covering that area. It has been any change on the behaviour of unmapped fields I'm not aware of?

[2021-08-25 09:23] dgieselaar opened #110016 "[APM] Links in tables cannot be clicked when refreshing"
### Kibana version

7.15

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

- Go to the service overview page
- Wait until data is loaded
- Select a different time range
- Click on a link in the transactions table when it's still loading

### Expected Behavior

User should be navigated to the transaction detail

[2021-08-25 09:23] elasticmachine commented on #110016
Pinging @elastic/apm-ui (Team:apm)

[2021-08-25 09:24] dgieselaar commented on #103645
It's fixed for the spark plots, but not for refreshing data (e.g. by selecting a different time range). Opened another issue for that: https://github.com/elastic/kibana/issues/110016

[2021-08-25 09:26] elasticmachine commented on #109795
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-25 09:27] elasticmachine commented on #109794
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-25 09:28] Seek-knowledge commented on #108006
Hello, is there a solution?
be deeply grateful.

[2021-08-25 09:30] #108159 closed

[2021-08-25 09:39] sophiec20 opened #110019 "[ML] Data viz does not allow you to reset field name picker"
Found in 7.15.0. Likely existed in prior versions since data visualizer was refreshed.

Usability issue, data dependent.

The field name selector in the Data Viz will only show fields which exist for the date range and query selected. It does not allow you to reset this easily, if the fields are not part of the current query and date range.

If the index being analyzed contains different fields de

[2021-08-25 09:39] elasticmachine commented on #110019
Pinging @elastic/ml-ui (:ml)

[2021-08-25 09:40] #109616 closed

[2021-08-25 09:41] #109624 closed

[2021-08-25 09:49] sebelga commented on #107464
It would be interesting to understand what cause the `useEffect` to enter into an infinite loop. Is it the `onChange` or the `value` that gets sent a new reference each time? (you can debug it by creating a `useRef` and compare the old ref with the new).

I'd say that the `useEffect` had a purpose for multi type mappings but if your manual testing show that it does not then I guess it could be rem

[2021-08-25 09:50] karanbirsingh-qasource commented on #110002
Opened a separate ticket for this as per the comment from @rylnd [here](https://github.com/elastic/kibana/issues/89784#issuecomment-905020181)

[2021-08-25 09:51] elasticmachine commented on #110002
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-25 09:55] karanbirsingh-qasource commented on #108942
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️ .

**Build Details:**
[code]

**Snap shoot:**
![image](https://user-images.githubusercontent.com/59917825/130769863-27001876-7281-4c82-8ea0-7056912f0eb2.png)

Hence closing this issue.

thanks !!

[2021-08-25 09:55] #108942 closed

[2021-08-25 10:03] karanbirsingh-qasource opened #110021 "[Security Solution]Red banner on clicking on hit enter icon available under Hover actions"
**Describe the bug**
Red banner on clicking on hit enter icon  available under Hover actions

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate detection alert.
2. Hover over any alert field.
3. Click on last action present over hover action that is hit enter icon.
4. Observed that Red banner occurred just

[2021-08-25 10:03] elasticmachine commented on #110021
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 10:09] deepikakeshav-qasource commented on #109398
Hi @MadameSheema ,

We have validated this ticket on **7.15.0 BC2** build and observed that issue is **Fixed**. However, Notification pop shows that the alert status is still synced with the case status

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/130769174-fa88a61f-48fd-4cb9-8ce8-13980105b6dd.png)

Thanks!!

[2021-08-25 10:12] #103441 closed

[2021-08-25 10:21] karanbirsingh-qasource commented on #108981
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

- [x] single entry for data under event rendered pop-up
![image](https://user-images.githubusercontent.com/59917825/130773188-583c5db8-4cd9-4a8c-af56-b7e611062b37.png)
![image](https://user-images.githubusercontent.com/59917825/130773252-60a6d7d0-527c-4070-a5ad-51fe5a2cb2d0.png)

- [x] Stop Rendered field drag an

[2021-08-25 10:21] #108981 closed

[2021-08-25 10:21] manishgupta-qasource commented on #110021
Reviewed & assigned to @MadameSheema

[2021-08-25 10:22] muskangulati-qasource opened #110024 "[Security Solution] UI distorts after clicking on the full screen for an analyzer and then closing the analyzer without closing the full screen for the analyzer"
**Description:**
UI distorts after clicking on the full screen for an analyzer and then closing the analyzer without closing the full screen for the analyzer

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be triggered

**Steps to Reproduce:**
1. Navigate to the Alerts tab.
2. Click on the analyzer
3. Click on the full-s

[2021-08-25 10:22] elasticmachine commented on #110024
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 10:22] deepikakeshav-qasource commented on #108692
Hi @MadameSheema ,

We have validated this ticket on **7.15.0 BC2** build and observed that issue is **Still occurring**. UI is distorted on "Show Top" modal for fields having longer name on 'Table' tab.

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/130769137-d5debc80-a528-47d4-9619-bc54aab6770e.png)

Thanks!!

[2021-08-25 10:23] marius-dr commented on #109948
I can help point in the right direction: https://github.com/elastic/elasticsearch/pull/70114  I assume they come from the REST response from Elasticsearch and Kibana somehow displays them for every single request.

[2021-08-25 10:26] #78519 closed

[2021-08-25 10:32] manishgupta-qasource commented on #110024
Reviewed & assigned to @MadameSheema

[2021-08-25 10:34] Bamieh opened #110027 "[Usage collection] Add readme to kbn-analytics package"
`kbn-analytics` provides browser-side tools for basic tracking (user-agent, application usage, ui and counters). Currently there is no README file in the package which makes it harder for devs to use or reason about the purpose of this package.

Ideally the README would highlight the purprose and content of this package and linking to our main `usage_collection` README file which includes examples

[2021-08-25 10:34] elasticmachine commented on #110027
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-08-25 10:34] elasticmachine commented on #110027
Pinging @elastic/kibana-core (Team:Core)

[2021-08-25 10:35] karanbirsingh-qasource commented on #108914
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

- [x] Stop Alert Count Canvas field drag and drop functionality
![image](https://user-images.githubusercontent.com/59917825/130774116-3e117b5d-e0ec-473b-9ea5-9be7ccdd772d.png)
- [x] Permanent Scroll ( Horizontal Scroll bar are removed , Vertical Scroll bar is present  )
![image](https://user-images.githubusercont

[2021-08-25 10:35] #108914 closed

[2021-08-25 10:36] VladLasitsa commented on #74888
@nreese, Now timelion vis is using elastic-charts and this issue is gone. I close this issue but feel free re-open it if you find this problem again.

[2021-08-25 10:36] #74888 closed

[2021-08-25 10:38] Bamieh commented on #100544
I cant think of a reason why not. since the tool statically parses the ts files it is OK if the file has invalid import to the `collectorSet`.

You're right. I've opened an issue to track this: https://github.com/elastic/kibana/issues/110027

TLDR; `kbn-analytics` provides browser-side tools for basic tracking (user-agent, application usage, ui and counters).

`kbn-telemetry-tools` has an typescri

[2021-08-25 10:40] karanbirsingh-qasource commented on #108850
Hi @monina-n requested changes are now available in the `7.15.0 BC2` under this issue work https://github.com/elastic/kibana/issues/108914

**Build Details:**
[code]
**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/130776366-c5ad0975-e209-46f4-a904-85972351b499.png)

so we are closing this question ticket.

c.c @MadameSheema

[2021-08-25 10:40] #108850 closed

[2021-08-25 10:40] semd commented on #108154
I had a problem with the backport, this may be the reason why it was not fixed there. Here it is https://github.com/elastic/kibana/pull/110025

[2021-08-25 10:41] dikshachauhan-qasource opened #110028 "[Enhancement]: System metrics checkbox in Create Agent Policy flyout should also reflect logs collection"
See https://github.com/elastic/kibana/issues/110028#issuecomment-905604147 for guidance on adjusting copy.

*Kibana version:**  7.15 BC2 Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.15 BC2 Kibana cloud-qa environment should be available.

**Build Details:**
[code]
2. **Add more than 10 integartion under any policy.

**Steps to reproduce

[2021-08-25 10:41] deepikakeshav-qasource opened #110029 "[Security Solution] [Question] threat.indicator.* fields are displayed in "timeline" and "timeline template" search instead of threat.enrichments.* fields."
**Describe the bug**
threat.indicator.* fields are displayed in "timeline" and "timeline template" search instead of threat.enrichments.* fields.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Threat indicator Alerts should be generated

**Steps to Reproduce**
1. Navigate to timeline template tab
2. cl

[2021-08-25 10:41] elasticmachine commented on #110029
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 10:41] deepikakeshav-qasource commented on #110029
@manishgupta-qasource Please review

[2021-08-25 10:41] elasticmachine commented on #110028
Pinging @elastic/fleet (Team:Fleet)

[2021-08-25 10:42] dikshachauhan-qasource commented on #110028
@manishgupta-qasource Please review

[2021-08-25 10:43] manishgupta-qasource commented on #110029
Reviewed & assigned to @MadameSheema

[2021-08-25 10:44] manishgupta-qasource commented on #110028
Reviewed & assigned to @jen-huang

[2021-08-25 10:46] VladLasitsa commented on #69122
@sanjaysubramanian, Now timelion is using elastic-charts. On new implementation this problem is gone.

I close this issue but feel free to re-open if you find it again.

[2021-08-25 10:46] #69122 closed

[2021-08-25 10:49] karanbirsingh-qasource commented on #108990
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

- [x] Stop Rendered field drag and drop functionality
![image](https://user-images.githubusercontent.com/59917825/130776672-5b4887bf-7355-4b5a-bab3-a097a1c1fb3c.png)
![image](https://user-images.githubusercontent.com/59917825/130776765-22d81424-fe93-4955-b9e1-9c69df678e5d.png)
![image](https://user-images.githubu

[2021-08-25 10:49] #108990 closed

[2021-08-25 11:00] samratbhadra-qasource commented on #108511
Closing this ticket as UI is updated.

[2021-08-25 11:00] #108511 closed

[2021-08-25 11:07] karanbirsingh-qasource commented on #108988
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed.

- [x] No cutting on UI for Checkbox and alert count on extreme scroll to left
![image](https://user-images.githubusercontent.com/59917825/130778453-3a47e445-0242-4910-b294-8dcc2a9d1ee3.png)
- [x]  proper width for the default event render view field
![image](https://user-images.githubusercontent.com/59917825/130778

[2021-08-25 11:07] #108988 closed

[2021-08-25 11:15] formgeist commented on #102311
@paulb-elastic I put this as a bug for 7.15 because there's already a fix in progress (https://github.com/elastic/kibana/pull/107709) which I'm trying to get out of that empty data screen update and into a small targeted PR for fixing the page heigh issue.

[2021-08-25 11:16] liciavale commented on #107994
@justinkambic @andrewvc
Quick question: If they start the trial can they access the feature also if they are not superusers/machine_learning_admin? How does this flow look like?
Do they upgrade and then go to their admin that will give them permission?

A quick win could be to identify that users that need additional permissions and to add a line to the callout on the top to explain that they don'

[2021-08-25 11:18] karanbirsingh-qasource commented on #108984
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

- Padding has been increased between the checkbox and the Row Cell Actions ![image](https://user-images.githubusercontent.com/59917825/130781168-4cacb090-737c-46ba-a878-24ceb1b59371.png)
- Checkbox and Row Cell action perform able at same time
![image](https://user-images.githubusercontent.com/59917825/130781262-

[2021-08-25 11:18] #108984 closed

[2021-08-25 11:27] samratbhadra-qasource commented on #107736
Hi @kevinlog,

We tested this ticket on the latest 7.15.0-BC2  build & found that issue is now **fixed**. Please find below the exact testing details:

**Build Details**:
[code]
**Screen-Recording**

https://user-images.githubusercontent.com/84007952/130780242-140d0088-4c23-4bef-8744-62ba43a874e0.mp4

Hence, closing this issue and marking it as "Validated".

Thanks!

[2021-08-25 11:27] #107736 closed

[2021-08-25 11:31] karanbirsingh-qasource commented on #108912
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️
- [x] updated terminology in Bulk Action and More Action pop-over
![image](https://user-images.githubusercontent.com/59917825/130783034-38f63fe9-baa7-45ec-ae3d-117a7185d9fa.png)
![image](https://user-images.githubusercontent.com/59917825/130783077-f2ceb77f-b095-4a0e-9f6f-40b8efaa4479.png)

- [x] removed padding in

[2021-08-25 11:31] #108912 closed

[2021-08-25 11:32] elasticmachine commented on #110024
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-25 11:33] karanbirsingh-qasource commented on #109768
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

**Build Details:**
[code]

**Snap shoot:**

![image](https://user-images.githubusercontent.com/59917825/130783397-302ca63b-8a8d-4b69-850e-5c086867fb19.png)

Hence closing this issue.

thanks !!

[2021-08-25 11:33] #109768 closed

[2021-08-25 11:33] elasticmachine commented on #110021
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-25 11:34] muskangulati-qasource commented on #105546
Hi @ferullo,

We tested this ticket & found that the issue is fixed on the 7.15.0-BC2 environment. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![Host Released](https://user-images.githubusercontent.com/60252716/130782968-a17bbd2b-19ea-48e7-8bc5-f3c7f4060682.JPG)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-08-25 11:34] #105546 closed

[2021-08-25 11:34] MadameSheema commented on #108692
@angorayc has the fixed been backported to 7.15? Thanks

[2021-08-25 11:34] muskangulati-qasource commented on #109633
Hi @ferullo,

We tested this ticket & found that the issue is partially fixed on the 7.15.0-BC2 environment. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![Host Isolate](https://user-images.githubusercontent.com/60252716/130782413-d05566af-746a-4be5-ac14-4abc9ffefd1e.JPG)

**Read Host Isolation Config** says: **Successfully read host isolation configuration (d

[2021-08-25 11:34] kevinlog commented on #110006
@ferullo @nfritts FYI - I'm going to assign this to you all since I don't think this is a Kibana problem.

[2021-08-25 11:35] muskangulati-qasource commented on #105749
Hi @MadameSheema

We tested this ticket & found that the issue is fixed on the 7.15.0-BC2 environment. Please find below the testing details:

**Build Details:**
[code]

**Screen-Recording**:

https://user-images.githubusercontent.com/60252716/130776311-a12da5b3-1003-4841-a929-e62282985f8c.mp4

**Screenshot**:
![MacOS](https://user-images.githubusercontent.com/60252716/130776355-c95f6523-4e4f-4014

[2021-08-25 11:35] #105749 closed

[2021-08-25 11:36] muskangulati-qasource commented on #109395
Hi @MadameSheema

We tested this ticket & found that the issue is fixed on the 7.15.0-BC2 environment. Please find below the testing details:

**Build Details:**
[code]

**Screen-Recording**:

https://user-images.githubusercontent.com/60252716/130777259-063fefea-a6be-4615-af10-bc4eb8eef765.mp4

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-08-25 11:36] #109395 closed

[2021-08-25 11:36] tobiasstadler opened #110037 "Support for deriving service version annotations per service node"
**Describe the feature:**
It would be nice, if the APM app could optionally derive the service version annotations for each service node separately (see https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/lib/services/annotations/get_derived_service_annotations.ts). It should be configurable if the the derivation is per service node or globally.

**Describe a specific use case

[2021-08-25 11:36] muskangulati-qasource commented on #108870
Hi @MadameSheema

We tested this ticket & found that the issue is fixed on the 7.15.0-BC2 environment. Please find below the testing details:

**Build Details:**
[code]

**Screen-Recording**:

https://user-images.githubusercontent.com/60252716/130777506-b94eb37e-4a8c-4c06-b953-7cf8b5de2022.mp4

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-08-25 11:36] #108870 closed

[2021-08-25 11:38] MadameSheema commented on #110029
@ecezalp @rylnd can you please take a look at this? thanks

[2021-08-25 11:39] karanbirsingh-qasource commented on #108168
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

**Build Details:**
[code]

**Snap shoot:**

- _Alerts Grid View_
![image](https://user-images.githubusercontent.com/59917825/130784069-49adefab-31ad-432c-acc0-b3a643578b9f.png)
![image](https://user-images.githubusercontent.com/59917825/130784129-3e1dda99-11f9-4668-943c-69e943ebaeab.png)

- _Alerts Event Render V

[2021-08-25 11:39] #108168 closed

[2021-08-25 11:44] dgieselaar commented on #104676
Looks good, tested service name, environment, time range.

[2021-08-25 11:47] VladLasitsa commented on #48866
@stratoula, I checked it and on the new implementation of timelion I cannot reproduce this issue because elastic-charts doesn't allow to set width more than bucket width. Because of this we cannot to confige situation so that one bar overlap another.

[2021-08-25 11:53] karanbirsingh-qasource commented on #108154
HI @MadameSheema

we have validated this issue on `7.15.0 BC2` and found it Fixed ✔️

- [x] reset button working and no field reset happens
- [x] User is able to add another fields after reseting the fields

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/130785744-e78798f1-b67a-41db-8148-3ea666fcd057.mp4

Keeping it open until the backport issue fix

[2021-08-25 11:53] timroes commented on #89584
Adding some context from the discussion Luke, Stratoula and I had a while back about this. It feels vis_types_* should continue being disableable, since we see that specific types might want to be disabled by admins (most specifically Vega, which allows users to craft custom queries which is something not every admin might want for their cluster).

The risk of disabling those plugins is really low

[2021-08-25 11:54] kibanamachine opened #110038 "Failing test: Jest Tests.src/plugins/charts/public/services/active_cursor - useActiveCursor should debounce events"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16385/)

[2021-08-25 11:54] katrin-freihofner commented on #109861
@cyrille-leclerc would you mind elaborating on the underlying issue we are trying to solve here?

My suggestion is to update the experimental badge to the following design:

<img width="1191" alt="Screenshot 2021-08-25 at 13 53 52" src="https://user-images.githubusercontent.com/20965076/130786013-7b33881b-4c18-4650-b877-3854b8e386cf.png">

**Changes**
- The wording changed to "This page shows an e

[2021-08-25 12:04] mgiota commented on #109619
@stephmilovic I am logged in with a kibana_system user and here are the permissions I have. Below I have a screenshot as well. Could you verify that everything works as expected?
[code]

The 2nd alert (apm rule type) in my screenshot below has the crud options disabled. Is it because `apm-*` above has readonly privileges? Regarding the other alerts (log and metric rule types) in the above json I s

[2021-08-25 12:16] VladLasitsa commented on #17058
@joakimortbrant I cannot reproduce this bug now. I think it is no more relevant. I close it but feel free to re-open if find it again.

[2021-08-25 12:16] #17058 closed

[2021-08-25 12:19] muskangulati-qasource commented on #110006
Hi @kevinlog,

We can move this issue to Endpoint-dev repo if it works for you!

Thanks!

[2021-08-25 12:24] snide opened #110041 "[Security Solution] Schema sortTextAsc/Dsc needs to be used for schemas in Tgrid"
Noticed on https://github.com/elastic/kibana/pull/109983 with @andrew-goldstein

![image](https://user-images.githubusercontent.com/324519/130789326-bfe67cae-e4f7-469a-9b57-320cbf733cc8.png)

I'd suggest using the [schema's ability to change the text of the sort buttons](https://elastic.github.io/eui/#/tabular-content/data-grid-schemas-and-popovers). `A-Z` isn't going to be very readable for the d

[2021-08-25 12:24] elasticmachine commented on #110041
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 12:24] miltonhultgren commented on #108179
@formgeist As I understand, this table only shows the alerts (and not the rules that triggered them).
Would it suffice to update the placeholder to "Search alerts (e.g. kibana.alert.evaluation.threshold > 75)"?

[2021-08-25 12:25] VladLasitsa commented on #16760
@stratoula, I cannot reproduce it on the new implementation. I think it is no more relevant

[2021-08-25 12:25] tobiasstadler opened #110042 "[APM] Show JVMs based on agent"
**Describe the feature:**
It would be nice if the JVM tab of service overview could show the nodes based in the agent ids that are recorded for a service instead of the service name. Also the JVM details should use the agent ids instead of the service name.

**Describe a specific use case for the feature:**
We are hosting multiple services on a JBoss EAP application server. It would be nice if all

[2021-08-25 12:31] deepikakeshav-qasource opened #110043 "[Security Solution] UI is broken when click on "view all threat fields" icon in threat category under the fields option on Alerts page"
**Describe the bug**
UI is broken when click on "view all threat fields" icon in threat category under the fields option on Alerts page

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to alerts tab
2. click on "fields" icon.
3. search the "t

[2021-08-25 12:31] elasticmachine commented on #110043
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-25 12:32] deepikakeshav-qasource commented on #110043
@manishgupta-qasource Please review!!

[2021-08-25 12:33] VladLasitsa commented on #10887
@stratoula, I check it and cannot see any problems. Now it looks like this:

![image](https://user-images.githubusercontent.com/16915480/130791020-80198b13-8960-41e6-b088-9be209384f93.png)

I close this issue.

[2021-08-25 12:33] #10887 closed

[2021-08-25 12:37] #109548 closed

[2021-08-25 12:37] cauemarcondes commented on #110016
@dgieselaar there's not much we can do in this case, EuiBasicTable blocks any interaction with the table while the isLoading is true there an open issue to fix it https://github.com/elastic/eui/issues/5014

[2021-08-25 12:41] VladLasitsa commented on #10810
@stratoula, It was fixed in new implementation of timeline but it still reproducible for old implementation. Can we close it?

[2021-08-25 12:44] ferullo commented on #110006
Yes, please move it.

[2021-08-25 12:49] toby-sutor opened #110048 "[Docs] built-in reporting_user role is still required in newer Kibana 7.x versions"
In the documentation for Kibana 7.14.0 at https://www.elastic.co/guide/en/kibana/current/secure-reporting.html#grant-user-access, it states: `In 7.12.0 and earlier, you grant access to the reporting features by assigning users the reporting_user role in Elasticsearch.`

I think this statement is incorrect and instead should read `In 7.14.0 and earlier, you grant access to the reporting features by

[2021-08-25 12:49] elasticmachine commented on #110048
Pinging @elastic/kibana-docs (Team:Docs)

[2021-08-25 12:55] manishgupta-qasource commented on #110043
Reviewed & assigned to @MadameSheema

[2021-08-25 12:57] elasticmachine commented on #110041
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-25 12:57] EricDavisX commented on #110028
I think we should keep them consistent, unless otherwise specified I'd treat it like a bug.

[2021-08-25 12:58] MadameSheema commented on #110043
@ecezalp @rylnd can you please take a look at this? thanks :)

[2021-08-25 13:00] #109270 closed

[2021-08-25 13:01] mostlyjason commented on #109281
I just met with @philkra and we discussed several options to add language clients. I sounded like his preference for the first phase is adding a tile for language clients overall along with tiles for each language. They would link to the documentation. In a later phase, we'd add in-product tutorials pages. He's going to add the content to our tracking spreadsheet.

@bytebilly you see the multi-til

[2021-08-25 13:02] formgeist commented on #108179
@miltonhultgren Yeah, that works too 👍

[2021-08-25 13:04] jonathan-buttner commented on #109398
Yeah we should probably update the text in that message. Currently there's no way for the UI to know whether we _actually_ updated the status of the alerts.

@monina-n how do you feel about us changing that text to something like:

`Accessible alerts in this case have also had their status updated`

_Accessible_ is probably the wrong choice here but essentially we want to communicate that any aler

[2021-08-25 13:18] pmuellr commented on #109941
I think this is going to become a meta issue, realized I needed a place to vent on my other concerns regarding the task manager perf logging:

- we dump the heath record too often, especially if you just have debug logging set.  I think we probably should **NOT** dump it, if the error came from capacity concerns,  And probably if the reason hasn't changed since the last time it was dumped.

- the

[2021-08-25 13:22] stephmilovic commented on #108900
didnt mean to close

[2021-08-25 13:23] Dosant commented on #109746
There is a pretty big chance that this is fixed by https://github.com/elastic/kibana/pull/109702 which handle race conditions around time fields requests

[2021-08-25 13:24] MichaelMarcialis commented on #109554
In that case, we'll likely need to account for this on the Kibana side, since I believe these top banners are a Kibana-specific artifact. I'll add it to my list of tasks to make a PR to remedy this.

[2021-08-25 13:25] EricDavisX commented on #109799
Wow, those are a great start, actually - very well done @kpollich :) Next question: Do we want to target this for 7.15 or is it benign enough to not fix it now...  I'm interested if it could have more impact than just some annoyance on the user?

  Either way, if the fix is in and evaluated to be acceptable risk please do backport, but I wanted to check on Engineering opinion.  If not immediate, w

[2021-08-25 13:26] MadameSheema commented on #108409
@michaelolo24 is this issue has been fixed already? Thanks

[2021-08-25 13:26] stephmilovic commented on #109772
Fixed by https://github.com/elastic/kibana/pull/109339

[2021-08-25 13:27] MadameSheema commented on #109109
@karanbirsingh-qasource can you please validate the fix on 7.15BC3? Thanks

[2021-08-25 13:28] Zacqary commented on #107565
Had a talk with @sqren, and I'm going to start looking into this. It looks like the APM nodes are showing up in the Inventory view with no data (which is represented as 0 in the UI), and because the Overview page uses a query intended to get the top nodes, it seems to be filtering out any nodes that don't report any data.

The solution is either to hide No Data nodes in the Inventory view (maybe n

[2021-08-25 13:29] pmuellr commented on #109941
I was also thinking yesterday it might be useful to make use of the event log.  But I think it would have to be conditional, otherwise it's going to get REAL busy.

- API to enable/disable logging TM events
- API to return event log docs for TM over a range of time, maybe KQL filtering

What would we add?  Of that, I'm not sure.  It might be a good place to put the health documents, but I think th

[2021-08-25 13:30] LeeDr commented on #109746
Correct.  I've only seen this happen a few times on that exact index pattern `*:makelogs工程-*` with the `*` wildcard for remote clusters.

I see a slightly different issue on this index pattern `data:makelogs工程-*,local:makelogs工程-*`.  In this case, it looks like the timefield keeps refreshing multiple times after the test has finished typing in the index pattern.  I'm not sure if typing a new char

[2021-08-25 13:30] #108082 closed

[2021-08-25 13:31] bhavyarm opened #110055 "Kibana shouldn't display warnings which give access to advanced settings in iFrames"
**Kibana version:** 7.15.0 bc

**Elasticsearch version:** 7.15.0 bc

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana shouldn't display warnings that give access to advanced settings in iFrames. Because once you kick on iFrames

[2021-08-25 13:31] elasticmachine commented on #110055
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-25 13:34] xcrzx commented on #108941
### Summary of [discussion](https://github.com/elastic/kibana/pull/109276#discussion_r694118352) with @weltenwort  @banderror @marshallmain

We are going to implement the following changes to the bootstrapping logic:

1. Perform the namespaced resources bootstrapping unconditionally when a user calls `getWriter()`:
   1.  Install or update index template
   2. Update existing index mappings
   3.

[2021-08-25 13:35] stephmilovic commented on #110024
remove full screen button from analyzer as it is not compatible with data grid

[2021-08-25 13:37] mostlyjason commented on #109870
This is great thanks for filing this!

[2021-08-25 13:39] MadameSheema commented on #109796
This issue is going to be fixed on 7.15.1

[2021-08-25 13:41] MadameSheema commented on #109378
@muskangulati-qasource can you please validate the fix of the issue in this current BC? Thanks

[2021-08-25 13:43] MadameSheema commented on #108869
@muskangulati-qasource can you please validate the fix of this issue on the current BC? Thanks

[2021-08-25 13:49] elasticmachine commented on #110043
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-25 13:59] justinkambic commented on #107994
No, even with a trial license you'd still need to be running under a role with the correct permission level. If they are a superuser and go to a trial license, they could come back here and the button would be enabled.

I'm wondering if we detect a permissions issue we could display a second callout? Given that it's possible the user could be at the correct license level, or have already run out o

[2021-08-25 14:01] EricDavisX commented on #109805
@dikshachauhan-qasource @amolnater-qasource adding to high impact list.

[2021-08-25 14:06] spong commented on #109385
That's correct, installing the `Prebuilt Security Detection Rules` package from fleet just makes the latest rules available to the user, they must still manually install the new/updated rules via the Detections UI.

For additional details please see the docs on [Downloadable rule updates](https://www.elastic.co/guide/en/security/current/prebuilt-rules-downloadable-updates.html) and [Download lates

[2021-08-25 14:11] Dosant opened #110060 "[DataViews] Handle apm-* indices when showing empty state"
Similar to https://github.com/elastic/kibana/pull/108887 we should handle `apm-*` indices separately during on-boarding

[2021-08-25 14:11] elasticmachine commented on #110060
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-25 14:12] MadameSheema commented on #109385
Thanks @spong @peluja1012 for the clarification.

Closin as is the expected behaviour.

[2021-08-25 14:12] #109385 closed

[2021-08-25 14:16] kibanamachine commented on #108633
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16535/)

[2021-08-25 14:16] MadameSheema commented on #106819
@karanbirsingh-qasource can you please validate the fix of this issue on 7.14.1BC and current 7.15BC? Thanks :)

[2021-08-25 14:17] majagrubic opened #110061 "[Discover] Hide chart doesn't work after clicking "New""
**Kibana version:**
master, 7.15, 8.0.0

**Browser version:**
Chrome 92.0.4515

**Browser OS version:**
Mac OS 11.4

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
In Discover, when clicking "Hide Chart" and then clicking "New" renders "Hide Chart" unresponsive for future tries.

https://user-images.githubusercontent.com/39378793/130099640-d

[2021-08-25 14:17] elasticmachine commented on #110061
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-25 14:19] alex-fedotyev opened #110062 "[APM] Logs tab seems to show logs from incorrect service(s)"
### Kibana version

7.15

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

I opened up APM service -> Logs view, and in the logs I saw messages from the service I was looking at mixed with logs from another service(s).

Although I can't reproduce the issue at the moment, I think it might be related to the use c

[2021-08-25 14:19] elasticmachine commented on #110062
Pinging @elastic/apm-ui (Team:apm)

[2021-08-25 14:19] #105705 closed

[2021-08-25 14:19] mshustov commented on #109948
That makes me think this behavior is introduced by https://github.com/elastic/kibana/pull/103744 cc @lukasolson

[2021-08-25 14:19] mostlyjason opened #110063 "[Integrations][Design] Make add agent step more obvious"
A critical step when adding an integration is to add an elastic agent in order to send data to Elastic. However, our analytics show that many users are missing this step. We'd like to make this step more obvious to help users successfully send add an agent.

When a user adds an integration to an agent policy with no agents we show a toast message in the lower right that prompts the user to add an

[2021-08-25 14:19] elasticmachine commented on #110063
Pinging @elastic/fleet (Team:Fleet)

[2021-08-25 14:23] banderror commented on #108941
Probably "Perform index rollover if needed or create an initial concrete index if needed"

[2021-08-25 14:24] elasticmachine commented on #109846
Pinging @elastic/apm-ui (Team:apm)

[2021-08-25 14:25] Dosant commented on #109746
@LeeDr, is there a way we could know if this is still happening after https://github.com/elastic/kibana/pull/109702?

[2021-08-25 14:26] formgeist commented on #109093
Fixed in https://github.com/elastic/kibana/pull/109187

[2021-08-25 14:26] #109093 closed

[2021-08-25 14:26] sqren commented on #110062
@Kerry350 Can you take a look at this, please?

[2021-08-25 14:27] mdefazio commented on #107923
Is it correct to assume this issue can be closed?  Looks like everything was merged

[2021-08-25 14:28] haywoood commented on #99464
Hah, not sure what happened, I used this https://infra.elastic.dev/telemetry/field-list-generator?cluster=kibana.telemetry.elastic.co&index=xpack-phone-home to download the field list to do a quick check and I swear those paths were not found 😅

Just checked again and they're there, so ignore me.

[2021-08-25 14:29] MadameSheema commented on #106819
@karanbirsingh-qasource just check it on 7.15 since the fix has not been backported to 7.14. Thanks :)

[2021-08-25 14:34] #110016 closed

[2021-08-25 14:36] hop-dev commented on #109799
Hi @EricDavisX I've got the fix in PR now, I did set it to back-port to 7.15 but maybe I'm being too keen this late in the release @jen-huang?

[2021-08-25 14:38] pgayvallet commented on #91615
That would be fine with me. In term of API, how can I leverage the security plugin to know the user is a 'full admin' ? Is this a specific role?

Side question: should we only show the 'namespace' column in such situation? Technically that's a bit complex, and as we're going to need it for everyone once the shareable type are there, I'd say it's fine to have this new column even when not allowed t

[2021-08-25 14:46] LeeDr commented on #109746
Yes, I should be able to test it today

[2021-08-25 14:47] hop-dev commented on #110063
If we were sticking with a toast we do have the option to make the button more prominent (see "Success" [here](https://elastic.github.io/eui/#/display/toast) )

another option would be a success flyout?

[2021-08-25 14:49] Dosant commented on #110048
related: https://github.com/elastic/kibana/issues/105842

[2021-08-25 14:49] elasticmachine commented on #110048
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-25 14:50] xcrzx commented on #108941
I think index creation should happen conditionally after the index template update:

![Index Bootstrapping v2@2x](https://user-images.githubusercontent.com/1938181/130813165-c0694881-c18f-4448-af63-e86d80dc5aa8.png)

[2021-08-25 14:51] smith opened #110076 "URL locator for console"
Add a locator for the console. Hard-coded links to console exists here:

* https://github.com/elastic/kibana/blob/8e9d7e8f78482fbede9a6628786904a0e615805a/src/plugins/home/public/application/components/manage_data/manage_data.tsx#L70
* https://github.com/elastic/kibana/blob/8e9d7e8f78482fbede9a6628786904a0e615805a/src/plugins/kibana_react/public/overview_page/overview_page_actions/overview_page_ac

[2021-08-25 14:51] elasticmachine commented on #110076
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-25 14:53] mgiota opened #110077 "[RAC][Observability]Display Alerts table with proper height"
### 📝 Summary
The alerts table doesn't have proper height, when there are not many alerts. A scrollbar appears and makes it really hard to read the alerts (even to realize that there are more alerts in the table)
https://user-images.githubusercontent.com/2852703/130813535-9382d258-2ea7-4592-8c81-79e3f582e482.mov

### Update
This is probably fixed by https://github.com/elastic/kibana/pull/109269. W

[2021-08-25 14:54] weltenwort opened #110079 "[Logs UI] Explicitly define the date format in the Logs UI requests"
## :memo: Summary

Currently the Logs UI uses `range` queries on `date` type fields in many places without explicitly settingthe `format` in the query. This means Elasticsearch defaults to the format set in the mapping when parsing the query. This fails if the date format used by the Logs UI's queries don't overlap with the date formats set in the mapping.

This applies to the log stream queries,

[2021-08-25 14:54] elasticmachine commented on #110079
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-25 14:56] mikecote opened #110080 "Active alerts do not recover after re-enabling a rule"
When disabling a rule with active alerts, they will not recover if no longer active after re-enabling the rule.

Steps to reproduce:
- Create a rule that will create active alerts
- Disable the rule
- Edit the rule so it doesn’t create active alerts anymore
- Enable the rule

Notice the previously detected alert remains active and will not recover.

[2021-08-25 14:56] elasticmachine commented on #110080
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-25 15:00] brianseeders commented on #79728
@stacey-gammon Sorry, I missed your comment. I don't plan on changing it at the moment, but it's possible someone could request a change during the PR review. Up to you!

[2021-08-25 15:02] mikecote commented on #110080
Some random thoughts:
- Maybe storing the rule and alert state with the Task Manager task isn't a good idea and should be stored on the rule saved-object instead?
- If we eventually write alert documents to an index, maybe the alert state can be persisted there, and solve the problem of tracking all alerts and their state in memory

[2021-08-25 15:03] kibanamachine commented on #107013
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16386/)

[2021-08-25 15:10] elasticmachine commented on #109807
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-25 15:11] mostlyjason commented on #110063
@hop-dev good idea to discuss the available options!

A toast message that is more prominent and sticks around longer could be an option. It still has the disadvantage of being less obvious in the lower right corner of the screen. Also, a toast typically is not a primary call to action. We could consider it if we don't have capacity for better options.

Another option is to show the add agent flyo

[2021-08-25 15:16] elasticmachine commented on #108674
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-25 15:17] mfinkle opened #110081 "Disallow creating runtime and scripted fields with `*` in the name"
I can create both runtime and scripted fields with `*` in the name using 7.14. Those fields will not behave very well across ES APIs since the `*` is treated as a wildcard in most APIs and thus will cause a wide range of problems.

ES is considering disallowing fields containing `*` altogether: elastic/elasticsearch#76874

Kibana is considering a way to effectively exclude fields containing `*` wh

[2021-08-25 15:17] elasticmachine commented on #110081
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-25 15:23] legrego opened #110082 "Support hot-reloading of TLS certificates"
**Describe the feature:**

Updating TLS certificates currently requires a restart of the Kibana process. This behavior is inconsistent with Elasticsearch, which supports [hot-reloading of certificates](https://www.elastic.co/guide/en/elasticsearch/reference/current/update-node-certs.html#update-node-certs), so long as the file names do not change.

Hot-reloading is beneficial because it reduces th

[2021-08-25 15:23] elasticmachine commented on #110082
Pinging @elastic/kibana-core (Team:Core)

[2021-08-25 15:37] thomasneirynck commented on #104069
Runtime field support just got added https://github.com/elastic/kibana/issues/105723, closing the main gap. Will leave this issue open as it asks for more sugar directly in the Maps-app, rather than using the Index-pattern editor.

[2021-08-25 15:50] kevinlog commented on #107395
Validated in BC 2

[2021-08-25 15:50] #107395 closed

[2021-08-25 15:57] kpollich opened #110087 "[Fleet] Improve assertions in integration tests for Package Policy upgrade API"
Tests in https://github.com/elastic/kibana/blob/d66397cfe4be3c4e17e406def12b5ecf1b912326/x-pack/test/fleet_api_integration/apis/package_policy/upgrade.ts should be updated to assert on the actual data for package policies under test, rather than just asserting on success/error fields.

[2021-08-25 15:57] elasticmachine commented on #110087
Pinging @elastic/fleet (Team:Fleet)

[2021-08-25 15:58] mikecote commented on #109640
@arisonl thoughts on priority?

[2021-08-25 16:16] #102311 closed

[2021-08-25 16:22] pmuellr commented on #110080
In the following https://github.com/elastic/kibana/issues/106292#issuecomment-887870691, I noted:

I don't think we have an issue open on this, but I think this would fix this problem, since the state would persist even if the alert is disabled.  The main reason we want to not delete/re-create the tasks is that due to the race conditions mentioned in that other issue, we are sometimes creating > 1

[2021-08-25 16:24] kobelb commented on #109970
IMO, it'd be fine to remove it until someone needs for it a feature to work correctly. However, I don't think we should require plugin authors to write their own warnings.

[2021-08-25 16:25] monina-n commented on #109398
@jonathan-buttner yeah I think changing the copy in the notification is the way ago

For your suggestion, are we saying that will be the copy for both read and write users? I don't think this is a bad choice but the most ideal suggestion would be to have a more descriptive message for read-only users. Something like:

`Alerts in this case have not had their status updated due to your Kibana privil

[2021-08-25 16:28] mikecote commented on #110080
The thing I like about the disabled task approach is it then becomes a 1:1 relationship between rule and task. We create a task at the creation of the rule and then synchronize enable/disable accordingly.

[2021-08-25 16:31] pmuellr opened #110096 "[alerting] stop deleting / re-creating tasks when rules are disabled / re-enabled"
Today, when a rule is disabled, we delete the associated task manager document; and then re-create it when the rule is re-enabled.

This has a couple of problems:

- race conditions which can cause > 1 task manager documents to exist for a single rule; see https://github.com/elastic/kibana/issues/106876#issue-954044685
- we lose all the existing instance state, which then causes problems with reco

[2021-08-25 16:31] elasticmachine commented on #110096
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-25 16:37] XavierM commented on #109619
@mgiota I think that you got it because you do not have the kibana `All` privileges in APM but `Read` so you can not update the alert but you can see it. We are using the kibana privileges to authorize or not action on the alerts. In security solution, we created a sub feature specifically to alerts so it can be independent of the kibana privileges of our plugin.

[2021-08-25 16:38] MadameSheema commented on #104581
@karanbirsingh-qasource @deepikakeshav-qasource as @mandeepkaur-qasource is out, can you please validate this ticket on the current 7.15BC? Thanks

[2021-08-25 16:39] #108154 closed

[2021-08-25 16:40] Kerry350 commented on #110062
I’m on PTO until Tuesday, but will take a look then.

[2021-08-25 16:53] cauemarcondes commented on #99017
tests ok

[2021-08-25 16:57] cauemarcondes commented on #92986
@sqren I don't think this should be tested for `7.15`, since all PRs mentioned by @ogupte were merged on `7.14`.

[2021-08-25 16:58] marshallmain commented on #107704
Fixed by the combination of https://github.com/elastic/kibana/pull/108115 (which sets index template priority, so a longer namespace has higher priority) and https://github.com/elastic/kibana/pull/107991 (retrieving existing indices using a combination of the alias and backing index pattern, rather than just the backing index pattern)

[2021-08-25 16:58] #107704 closed

[2021-08-25 17:14] cauemarcondes opened #110112 "[APM] Missing transaction type error when creating Latency threshold Alert"
Steps to reproduce:
- Open APM
- Navigate to service overview by clicking on a service name
- Create a Latency threshold alert

PS: This error only happens when we first open the service overview page, if you change tabs it doesn't happen.

![Screen Shot 2021-08-25 at 13.11.27.png](https://zube.io/files/elastic/a99bf848cef9139fb710a72fb57000ad-screen-shot-2021-08-25-at-13-11-27.png)

[2021-08-25 17:14] poffdeluxe opened #110113 "[Canvas] Certain conditions cause fullscreen workpad to be off-center"
**Kibana version:**
current master -- will try to find versions

**Describe the bug:**
In fullscreen mode, the workpad can sometimes appear off center.
This happens when the following two conditions are met:
1. The browser window is wider than it is tall
2. The browser window width is smaller than the defined workpad width

**Steps to reproduce:**
1. Install ecom sample data and open up ecom workp

[2021-08-25 19:26] dplumlee opened #110130 "[Security Solution] .caseless fields are missing in .siem-signals mapping"
## Overview
There are no `.caseless` fields currently present in the `.siem-signals` mapping. This has already caused some issues dealing with exceptions but has the potential to cause other broken queries that won't work against the `.siem-signals` index

### Specific discovery case
Currently the `host.os.name.caseless` is not mapped within `.siem-signals` index. When creating or updating an endp

[2021-08-25 19:34] constancecchen opened #110132 "[EUI i18n token mapping] Long-term approach for complex defStrings"
Original PR discussion: https://github.com/elastic/kibana/pull/109926#discussion_r695281554

Summary: EUI has previously not pluralized / passed `defaultMessages` that translate to complex `defString`s. The above PR is the first case of that instance, but it's possible we may pluralize more messages going forward. This leads to `defString`s that are essentially stringified functions, and don not p

[2021-08-25 19:41] spong opened #110135 "[RAC][Rule Registry] Add unique ID field for identifying all alerts created during a specific Rule execution"
This enhancement is for adding a new field to the global Alerts as Data schema for identifying all alerts created during a specific rule execution. This unique ID can also be logged out via the Rule Execution log to enable the ability to query for all alerts generated from that execution cycle. This is also useful for segmenting alerts within the UI when investigating further or debugging/tuning r

[2021-08-25 20:12] spong opened #110143 "[Security Solution] Update Category and Rule Names for Security Rules within Rules and Connectors UI"
The `Rules and Connectors` UI within `Stack Management` displays all the different rule types registered with the Alerting framework, and even provides grouping by category within the `Type` filter. This issue is for tweaking the text of the category name, and our new rule names as well, to be consistent with the other solutions.

<p align="center">
  <img width="500" src="https://user-images.gith

[2021-08-25 20:38] jportner opened #110145 "[Docs] Manually disabling legacy URL aliases"
Existing saved object types will be converted to become share-capable in the 8.0 release (#100489). As a result of this, "Legacy URL aliases" are created and consumers need to use the new `resolve` API to fetch objects from deep link URLs.

When an object is resolved, if circumstances allow, it can result in a `conflict` outcome. Consumers will normally show a callout if this happens, but not alwa

[2021-08-25 20:41] jonathan-buttner opened #110146 "[SavedObjects] Ability to allow a type to be importable without it showing in the UI"
The Cases app leverages inbound references for a few of the saved objects. The Comments and User Actions saved objects within cases reference the parent Case saved object. On exporting of a Case, we've implemented the `onExport` hook to handle finding the inbound associations to that case and including them in the exported ndjson file.

We run into a problem when trying to import the file because

[2021-08-25 21:04] bmorelli25 opened #110152 "[APM] "Backends" naming"
![image (4)](https://user-images.githubusercontent.com/5618806/130863604-5261b493-199a-40d5-8513-6fc92284f659.png)

@jamiesmith reached out to me with concern about the naming of the new "Backends" UI in APM, and I don't think his concerns are unfounded. While _backend_ can be used as a noun, it's more typically used as an adjective–and I'm not an engineer, but I don't know that I've ever heard it

[2021-08-25 21:22] kibanamachine opened #110153 "Failing test: X-Pack Rule Registry Alerts Client API Integration Tests.x-pack/test/rule_registry/security_and_spaces/tests/basic/get_alerts_index·ts - rules security and spaces enabled: basic Alert - Get Index - RBAC - spaces Users: obs_only_all_spaces_all should be able to access the APM alert in space1"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16541/)

[2021-08-25 21:53] cuff-links opened #110155 "[Remote Clusters] Error Callout Has Wrong Icon and Color"
## Summary

## Environment

Kibana: 7.15.0 BC1
Elasticsearch 7.15.0 BC1
Browsers: All Browsers

## Steps to reproduce:
1.) Navigate to Remote Clusters
2.) Create a new Remote Cluster
3.) Add information for a cluster except set the max number of connections to 999999999999999999
4.) Try to save.

### Expected Result
The callout that shows the parsing error should be red with an alert icon.

### Ac

[2021-08-25 21:59] cuff-links opened #110156 "[Remote Clusters] Javascript variable name rendered in error message instead of value."
## Summary

## Environment

Kibana: 7.15.0 BC1
Elasticsearch 7.15.0 BC1
Browsers: All Browsers

## Steps to reproduce:
1.) Navigate to Remote Clusters
2.) Create a new Remote Cluster
3.) Add information for a cluster except set the max number of connections to 999999999999999999
4.) Make the name of the remote cluster exceedingly long. Perhaps 200 characters but make it all legal characters.
5.) T

[2021-08-26 01:31] katefarrar opened #110165 "[APM] Downstream services and backends: first column unreadable under 1300px"
On the Service Overview page in the downstream services and backends section, the "backends" column shrinks and becomes unreadable under ~1300px wide

![Kapture 2021-08-25 at 19 30 26](https://user-images.githubusercontent.com/455281/130885496-5cc2d5ac-87d2-4496-8f64-4353dc6713bf.gif)

<img width="659" alt="Screen Shot 2021-08-25 at 7 28 17 PM" src="https://user-images.githubusercontent.com/455281

[2021-08-26 01:49] katefarrar opened #110166 "[APM] Trace Samples error message shows while section is still loading"
Services > Transactions > Transaction > Trace samples: while the section is loading, an error message shows saying `the selected trace cannot be found`, then the error message goes away once the section is loaded.

<img width="990" alt="Screen Shot 2021-08-25 at 7 39 11 PM" src="https://user-images.githubusercontent.com/455281/130886481-ce851a38-73b5-4c3a-8f6d-95a863851a06.png">

![Kapture 2021-08

[2021-08-26 08:29] jloleysens opened #110178 "[Canvas] Copy for `indexPatternLoad"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2021-08-26 09:19] jloleysens opened #110182 "[Reporting] Update time format of default report name"
With the ability to generate reports withouts saving plugins should now provide a default report name.

<img width="1337" alt="Screenshot 2021-08-26 at 10 29 10" src="https://user-images.githubusercontent.com/8155004/130936580-24d1c8bc-9ff1-4004-8ed4-2ac023303193.png">

In Discover, for example, the following code should be updated to respect user specified date formats:

https://github.com/elasti

[2021-08-26 10:52] amolnater-qasource opened #110202 "[Fleet]: Error page on clicking upgrade button for "Windows" integration with v0.8.1."
**Kibana version:**  7.15.0 BC-2 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-2 Kibana Cloud environment should be available.
2. Lower version Windows integration should be available, say `0.8.1`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Windows integration to Default Policy.
3.

[2021-08-26 11:32] formgeist opened #110204 "[APM] Loading message missing or inconsistent in various list views"
# Summary

Most of the other APM tables will show a simple loading message, but the Traces list table shows a loading spinner. We moved away from the spinners in previous releases, but it seems the table wasn't updated. We should simply display the "Loading..." default message to make it consistent with the rest. All in all, we could make this more consistent so that we always show a "Loading…" me

[2021-08-26 12:18] katrin-freihofner opened #110214 "[RAC] design update for the cases table view"
We'd like to clean up the cases table view to focus on the most important parts. The first steps are:

- move the reporter email to a tooltip that appears on hover of the avatar
- the following columns should be sortable:
	- Name
	- Alerts
	- Comments
	- Opened on
	- Status

## Goal

![image](https://user-images.githubusercontent.com/3756330/130656778-f08a6565-8780-4c6e-907f-3b82a3e5ed54.png)

[Or

[2021-08-26 12:26] formgeist opened #110217 "[Metrics] Bug – Charts doesn't make use of the EUI dark mode chart theme"
Kibana version: 7.15

# Summary

It looks like the EUI dark mode theme for charts isn't passed to the Inventory history time-series chart. See [documentation](https://elastic.github.io/eui/#/elastic-charts/creating-charts)

#### Examples

<img width="1701" alt="CleanShot 2021-08-26 at 14 22 46@2x" src="https://user-images.githubusercontent.com/4104278/130962042-e5b2015a-fdcc-45d5-86c3-389452913d58

[2021-08-26 12:31] formgeist opened #110219 "[Metrics] Bug – Inventory: Opening the node detail in the node detail page invokes a full page refresh"
Kibana version: 7.15

# Summary

When a user switches between the Inventory page and the node detail popout and the Node detail page, Kibana does a full page refresh which seems buggy.

![CleanShot 2021-08-26 at 14 28 41](https://user-images.githubusercontent.com/4104278/130962819-ca615048-ff56-4a5d-a5b1-cf99cae3718d.gif)

[2021-08-26 12:55] deepikakeshav-qasource opened #110224 "[Security Solution] Notification pop shows that the alert status is still synced with the case status even when the user have alerts sub feature read privileges."
**Describe the bug**
Notification pop shows that the alert status is still synced with the case status even when the user have alerts sub feature read privileges.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Create a role with alert sub feature RE

[2021-08-26 13:36] Dmitriynj opened #110235 "[Graph] Unhandled error after index pattern removal"
### Steps to reproduce:
- Create graph based on existing index pattern
- Remove index pattern
- Go to created graph
- No error message displayed

https://user-images.githubusercontent.com/39378793/130626282-b241df65-0ef8-42c6-99fe-2e99c907011b.mp4

_Originally posted by @Dmitriynj in https://github.com/elastic/kibana/issues/106587#issuecomment-904650902_

[2021-08-26 13:50] dimaanj opened #110238 "[Graph] Guidance panel appearing for a moment when saving graph"
### Steps to reproduce
- Open existing graph
- Save it straightaway before graph layout rendering is stopped
- Guidance panel is displayed for a moment behind "Save graph" modal window

https://user-images.githubusercontent.com/39378793/130974293-1bc114be-071b-4fa9-8f60-c384d1b48aa0.mp4

[2021-08-26 13:55] afharo opened #110239 "Use `schema.never()` for dev/!dist config parameters"
Related discussion: https://github.com/elastic/kibana/pull/107663#discussion_r696523942

Should we set `schema.never()` instead of `schema.boolean({ validate: (rawValue) => if (rawValue === true) return 'validation error message'; })` for those config entries that are not supported in production?

[2021-08-26 14:06] miltonhultgren opened #110242 "[Observability] Remove the default search in the Alerts page"
### Summary

When entering the Alerts page, there is a default search query entered in the search bar.
We want to instead show the recently updated placeholder.

<img width="374" alt="default-query" src="https://user-images.githubusercontent.com/2564140/130976941-9f6930e9-6a67-40c0-9257-e43b3d29d0ba.png">

[2021-08-26 14:33] mbondyra opened #110248 "[Lens] Filters come back when saving Lens"
**Kibana version:**
master, 7.14, 7.15

1. Create and save a Lens vis with an app filter on it (Save and to library as a separate SO)
2. Remove filter
3. Click on 'save' again.
4. The filter appears again

[2021-08-26 15:27] legrego opened #110264 "Improve handling of `401` responses"
When we detect a `401` response in an AJAX request, the security plugin assumes that the current user's session has timed out, and redirects the user back to the login page with a message indicating just that.

There are other reasons for a `401` response besides session timeouts. We should investigate a better mechanism for detecting actual session timeouts vs other reasons for `401` responses, a

[2021-08-26 15:35] snide opened #110267 "[Security Solution] [RAC] Possible to break the grid when switching between tabs in RAC"
[Video showing this on the SIEM cluster](https://snid.es/2021AUG/PoPkiyoBvGbncdBj.mp4)

My guess is this is due to the height calc needing a half beat between context switches. Sometimes I've seen this happen with a single tab change, other times I've seen it after switching a bit back and forth like the video shown.

I anticipate this will be fixed with https://github.com/elastic/kibana/pull/1092

[2021-08-26 15:59] Dacesilian opened #110275 "Grok Debugger - support for nested fields"
**Describe the feature:** Grok Debugger converts nested fields with dots. But logstash doesn't support dots and requires [nested][field] notation. Debugger should support this notation as well. Consequnce is that you see structured data as you want, but logstash produces "one.field" and not "nested": {"field"...}

**Describe a specific use case for the feature:**

This custom pattern:
`NFTABLES \[

[2021-08-26 16:11] cjcenizal opened #110281 "Handle binary data response in Console"
As originally reported in https://github.com/elastic/kibana/issues/102958,  the binary data response is displayed as text/json (even though mime-type is `application/vnd.mapbox-vector-tile`):

![image](https://user-images.githubusercontent.com/1833023/123095804-bed2c400-d42e-11eb-81ee-9c07b8901771.png)

Because we can't render this data is a useful form, we'll handle responses of this type by disp

[2021-08-26 16:34] katrin-freihofner opened #110289 "[RAC] Observability alerts table: rearrange columns"
To further emphasize the most important column, the reason, I suggest moving it to the left.

<img width="1411" alt="Screenshot 2021-08-26 at 18 29 04" src="https://user-images.githubusercontent.com/20965076/131000564-7b723502-038b-446f-bf64-7abf8144bffc.png">

Curious what others think

cc @cyrille-leclerc @formgeist @mgiota @weltenwort @katefarrar @liciavale @mdefazio

[2021-08-26 16:41] MichaelMarcialis opened #110290 "[Lens] Reverse colors button incorrectly affecting color palette selector"
**Kibana version:**
8.0.0

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
macOS 11.5.2

**Browser version:**
Chrome 92.0.4515.159

**Browser OS version:**
macOS 11.5.2

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
When utilizing Lens' color by value feature (in tables, heatmaps), clicking the "Reverse colors" button

[2021-08-26 16:42] nimarezainia opened #110533 "[Fleet] Elastic Cloud agent policy configuration change is not persistent"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-08-26 16:51] alisonelizabeth opened #110292 "[APM] Document infra plugin is required to use APM"
Kibana version: 7.13.4

Setting `xpack.infra.enabled: false` in `kibana.yml` disables APM UI in Kibana.

[Per the docs](https://www.elastic.co/guide/en/kibana/current/apm-settings-kb.html), it appears the UI is controlled by `xpack.apm.enabled`. It would be helpful to update the docs to also note that disabling the infra plugin will also disable the APM UI (assuming this is the correct behavior).

[2021-08-26 17:22] MichaelMarcialis opened #110298 "[Lens] Formula transition enhancements"
**The problem**

Lens has recently seen the addition of a new "Formula" feature, allowing uses to write their own custom formula in situations where our "Quick functions" do not meet the user need. Users are able to freely move between these "Quick functions" and "Formula" using a tab-based interface, however the way transitions are handled between the tabs is a little rough around the edges.

Whe

[2021-08-26 17:52] jbudz opened #110309 "Failing ES Promotion: endpoint Endpoint permissions: when running with user/role [reader] should display endpoint data on Host Details:"
https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3297/execution/node/498/log/

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: http://elastic.co/guide/en/kibana/master/development-es-snapshots.html
[code]

[2021-08-26 18:03] cjcenizal opened #110311 "Add snapshots URL to Cloud plugin"
This will make it easier to track consumption of this URL: `${cloud!.deploymentUrl}/elasticsearch/snapshots`. Currently this hardcoded value is added via https://github.com/elastic/kibana/pull/109956.

[2021-08-26 19:56] cauemarcondes opened #110333 "[APM] Throughput chart is not passing the transactionName to its API"
Steps to reproduce:
- Open APM
- Select any service name
- Select any transaction to navigate to its details

![Screen Shot 2021-08-26 at 15.53.49.png](https://zube.io/files/elastic/90a6b2d5313e1b4feca5a9831c1ac79f-screen-shot-2021-08-26-at-15-53-49.png)

API called: `/foo/api/apm/services/opbeans-node/throughput`

Params:
![Screen Shot 2021-08-26 at 15.55.06.png](https://zube.io/files/elastic/78c

[2021-08-26 20:25] dplumlee opened #110337 "[Security Solution] Updated at field is broken onLoading"
Found in and related to this PR: https://github.com/elastic/kibana/pull/108096

Right now the isLoading state of the Updated at field on the alerts page and rule details page is broken and displays 52 years ago (UTC 0) instead of displaying the loading component until the data is ready. We need to sync these changes to show more accurate data to the users during loading states

[2021-08-26 22:41] liza-mae opened #110354 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_lab_mode·ts - visualize app visualize ciGroup4 visualize lab mode "before all" hook for "disabling does not break loading saved searches""
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_lab_mode·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app visualize ciGroup4 visualize lab mode "after all" hook for "disabling does not break loading saved searches"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:42] liza-mae opened #110355 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/create_and_add_embeddables·ts - dashboard app using current data create and add embeddables visualize:enableLabs advanced setting should display lab visualizations in add panel"
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/create_and_add_embeddables·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:42] liza-mae opened #110356 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/edit_embeddable_redirects·ts - dashboard app using current data edit embeddable redirects loses originatingApp connection after first save when redirectToOrigin is false"
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/edit_embeddable_redirects·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:43] liza-mae opened #110357 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_inspector·ts - discover app inspect should display request stats with results"
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_inspector·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:43] liza-mae opened #110358 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_save·ts - dashboard app using legacy data dashboard save Does not warn when you save an existing dashboard with the title it already has, and that title is a duplicate"
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_save·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:44] liza-mae opened #110359 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/feature_controls/canvas_security·ts - Canvas app security feature controls no canvas privileges "before all" hook for "returns a 403""
**Version: 7.14.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/feature_controls/canvas_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:44] liza-mae opened #110360 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts - discover app discover integration with runtime fields editor allows adding custom label to existing fields"
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover app discover integration with runtime fields editor allows creation of a new field
- discover app discover integration with runtime fields editor allows editing of a newly created field
- discover app discover integration wit

[2021-08-26 22:44] liza-mae opened #110361 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/ping_redirects·ts - Uptime app with generated data but no data reset Ping redirects loads and goes to details page"
**Version: 7.14.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/ping_redirects·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with generated data but no data reset Ping redirects display redirect info in detail panel
- Uptime app with generated data but no data reset Ping redirects displays redirects in ping list expand row

 _Test Report: htt

[2021-08-26 22:45] liza-mae opened #110363 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts - dashboard feature controls dashboard feature controls security no dashboard privileges "before all" hook for "doesn't show dashboard navLink""
**Version: 7.14.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:46] liza-mae opened #110364 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/saved_objects_management/feature_controls/saved_objects_management_security·ts - Saved objects management feature controls saved objects management global saved object management read privileges listing shows all saved objects"
**Version: 7.14.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/saved_objects_management/feature_controls/saved_objects_management_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Saved objects management feature controls saved objects management global saved object management read privileges listing cannot view any saved objects in applications

 _Test

[2021-08-26 22:47] liza-mae opened #110365 "[test-failed]: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml·ts - detection engine api security and spaces enabled Generating signals from ml anomalies should create 1 alert from ML rule when record meets anomaly_threshold"
**Version: 7.14.1**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  Generating signals from ml anomalies should create 7 alerts from ML rule when records meet anomaly_threshold
- detection engine api secur

[2021-08-26 22:47] liza-mae opened #110366 "[test-failed]: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts - detection engine api security and spaces enabled get_prepackaged_rules_status getting prepackaged rules status should show rules and timelines are installed when adding pre-packaged rules"
**Version: 7.14.1**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-26 22:48] liza-mae opened #110367 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts - homepage app Welcome interstitial is displayed on a fresh on-prem install"
**Version: 7.14.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2223/testReport/_

[2021-08-27 07:15] kibanamachine opened #110394 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should transition from metric to table to metric"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16427/)

[2021-08-27 08:33] kibanamachine opened #110396 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/timelion/feature_controls/timelion_security·ts - Timelion feature controls security global timelion all privileges allows a timelion sheet to be created"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16578/)

[2021-08-28 01:13] kibanamachine commented on #106053
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16445/)

[2021-08-28 01:25] cuff-links opened #110417 "[Ingest Node Pipelines] Community ID Form Does Not Validate Against Decimal Values for Seed Parameter"
## Summary

## Environment

Kibana: 7.15.0 BC3
Elasticsearch 7.15.0 BC3
Browsers: All Browsers

## Steps to reproduce:
1.) Navigate to Ingest Node Pipelines
2.) Create a new pipeline
3.) Add a name and then put a decimea in the `Seed` field like `5.9`
4.) Try to save.

### Expected Result
The client side is supposed to let you know that the given value has to be an integer.

### Actual Result
The

[2021-08-28 01:25] elasticmachine commented on #110417
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-28 04:14] kibanamachine commented on #98463
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16599/)

[2021-08-28 05:16] kibanamachine commented on #109564
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16600/)

[2021-08-28 08:15] kibanamachine commented on #90858
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16603/)

[2021-08-28 08:16] kibanamachine opened #110418 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts - Uptime app with real-world data feature controls security global uptime read-only privileges "before all" hook for "shows uptime navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16603/)

[2021-08-28 17:01] kibanamachine commented on #98463
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16461/)

[2021-08-28 23:32] kibanamachine commented on #110396
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16617/)

[2021-08-29 06:32] kibanamachine commented on #110396
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16624/)

[2021-08-29 12:31] kibanamachine commented on #106547
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16631/)

[2021-08-29 15:04] Samboner commented on #105016
FC I not send me as nother fucking email

On Mon, Jul 12, 2021, 3:24 PM Tyler Smalley ***@***.***>
wrote:

[2021-08-29 17:39] thomheymann opened #110422 "safer-lodash eslint rule not working"
The eslint rule that ensures that developers use `@elastic/safer-lodash-set` instead of `lodash` for certain methods does not seem to be working correctly.

The following line should throw and error when importing `set` from `lodash`:
https://github.com/elastic/kibana/blob/master/x-pack/plugins/security/public/components/use_form.ts#L8

This is the rules:
https://github.com/elastic/kibana/blob/mas

[2021-08-29 17:39] elasticmachine commented on #110422
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-29 20:15] kibanamachine opened #110423 "Failing test: X-Pack Saved Object API Integration Tests -- security_and_spaces.x-pack/test/saved_object_api_integration/security_and_spaces/apis/find·ts - saved objects security and spaces enabled _find user with all at the space within the default space "after all" hook for "should return 200 unauthorized ["filter with unknown type (cross-space with wildcard)"]""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16639/)

[2021-08-29 21:19] kibanamachine opened #110424 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/kpi_network·ts - apis SecuritySolution Endpoints Kpi Network With filebeat Make sure that we get KpiNetwork networkEvents data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16640/)

[2021-08-30 00:49] matschaffer commented on #108713
I think I've tested a reasonable amount, so removing my assignment. Feel free to ping me if you think there's anything else I should dig into.

[2021-08-30 02:32] TomonoriSoejima opened #110428 "[rpm] kibana.pid location"
I just installed 7.14.0 on CentOS 7 and noticed

`/var/run/kibana/kibana.pid` was created when I startd Kibana.

But `/etc/kibana/kibana.yml`  includes this line, which suggests that the default pid path is under `/run`

#pid.file: /run/kibana/kibana.pid

Is that something that would get fixed when 8.0 is released according to https://github.com/elastic/kibana/pull/98213?

[2021-08-30 02:47] matschaffer commented on #104124
It looks like https://github.com/elastic/kibana/blob/b03d85a20a912b56e4c44afa38f6bde37305eb77/x-pack/plugins/monitoring/public/components/kibana/instances/instances.tsx#L136 has a reference to the process object to retrieve RSS information.

Do we have an alternate field to get information about how much memory kibana is using?

[2021-08-30 05:48] deepikakeshav-qasource commented on #109772
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC3** build and observed that issue is **Fixed**. Take action fields are working under Events and External tabs.

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/131291138-2f224e62-3954-4796-9b9f-e97bd14691b6.mp4

Hence, We are closing this ticket and marking as QA Validated.

Thanks!!

[2021-08-30 05:48] #109772 closed

[2021-08-30 05:59] karanbirsingh-qasource commented on #107871
@cnasikas can you please move this issue to correct repo https://github.com/elastic/servicenow-incident-app

[2021-08-30 06:16] deepikakeshav-qasource commented on #109607
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC3** build and observed that issue is **Fixed**. Host details fly out modal is opened when click on host name under alerts table.

**Build Details:**

[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/131293653-4a5a6d44-6dcb-4baf-babc-ba7ee5cab7a6.png)

Hence, We are closing this ticket and marking as

[2021-08-30 06:16] #109607 closed

[2021-08-30 06:33] stratoula commented on #48866
Thanx, as it has been fixed for the new implementation which will be introduced in 7.15, I am closing it

[2021-08-30 06:33] #48866 closed

[2021-08-30 06:34] karanbirsingh-qasource commented on #109428
Hi @MadameSheema

we have validated this issue on `7.15.0 BC3` and found it Fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131295516-a62bb747-2963-4c6a-a7db-901c4102fcef.png)

Hence Closing this issue .

thanks !!

[2021-08-30 06:39] stratoula commented on #16760
I am closing it as I cant replicate it in master (7.16)

[2021-08-30 06:39] #16760 closed

[2021-08-30 06:43] Kunzetsov opened #110430 "[Canvas] XY_VIS"
### Adapt `xy` chart from `vis_types/xy` to be reused first at `Canvas`.
#### Linked issue: https://github.com/elastic/kibana/issues/101377
#### Description of the problem.

Currently, `xy_vis` function accepts further arguments, which are making this expression not acceptable to be reused somewhere else with some other data source:

---

#### Full description of the `fn` interface:
##### Input:

[2021-08-30 06:43] elasticmachine commented on #110430
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 06:43] elasticmachine commented on #110430
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-30 06:49] mgiota commented on #110242
@miltonhultgren If you plan to fix this issue as part of the open PR https://github.com/elastic/kibana/pull/110192, don't forget to update the description of the PR to link it with this issue.

[2021-08-30 06:52] stratoula commented on #89584
We display a warning message in the listing (this entry is also not clickable)
![image](https://user-images.githubusercontent.com/17003240/131297346-e09c02d2-e8a8-4ef8-9c3d-ffc1b98707fe.png)

Moreover, the disabled viz type is not displayed in the wizard (the user can't create this kind of visualization).

In the dashboard it looks like:
![image](https://user-images.githubusercontent.com/17003240/

[2021-08-30 06:54] stratoula commented on #10810
As it has been fixed in the new implementation, yes we can close it :)

[2021-08-30 06:54] #10810 closed

[2021-08-30 07:02] karanbirsingh-qasource commented on #110021
Hi @MadameSheema

we have validated this issue on 7.15.0 BC3 and found it fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131298883-ff837d4c-707c-49f2-a161-8964838915d6.png)

Hence we are closing this issue.

thanks !!

[2021-08-30 07:02] #110021 closed

[2021-08-30 07:10] mgiota commented on #110077
@alisonelizabeth I was testing on latest master. We need this fix for 7.15. Security team probably has a solution for this, I will link this ticket with the merged PR and our team will verify the fix. Thanks for jumping in!

[2021-08-30 07:11] elasticmachine commented on #110077
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-30 07:16] sqren opened #110433 "`ECONNRESET` crashed Kibana when network connectivity is lost"
**The problem**
Kibana crashes with `ECONNRESET` error when connection to Elasticsearch cluster is lost (I assume this is the problem)

**Expectation**
Kibana should not crash when connection to Elasticsearch cluster is lost

## Reproduction

This happens on my local developer machine when running `yarn start` and connecting to an external (cloud based) elasticsearch cluster. If I close the laptop

[2021-08-30 07:17] amolnater-qasource opened #110434 "[Fleet]: "Edit Integration" breadcrumb is available for "Upgrade <integration_name> Integration" page."
**Kibana version:**  7.15.0 BC-3 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-3 Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.5.0`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Nginx integration to Default Policy.
3. Obse

[2021-08-30 07:17] elasticmachine commented on #110434
Pinging @elastic/fleet (Team:Fleet)

[2021-08-30 07:17] amolnater-qasource commented on #110434
@manishgupta-qasource Please review.

[2021-08-30 07:24] ruflin commented on #107623
@hop-dev Sent you the credentials

[2021-08-30 07:29] elasticmachine commented on #110433
Pinging @elastic/kibana-core (Team:Core)

[2021-08-30 07:30] sqren commented on #110433
Somewhat related to https://github.com/elastic/kibana/issues/101277 (@mshustov)

[2021-08-30 07:37] amolnater-qasource commented on #110202
Hi @EricDavisX
As per feedback we have revalidated these `error page` issues for both linux(v0.3.1) and windows(v0.8.1) integration upgrade on latest 7.15.0 Snapshot and found it **still reproducible**.

**Build details:**
Build: 43832
Commit: b7ad04c31d99f54fba754f1ad59dc8012e0fd4d1

Please let us know if anything else is required from our end.
Thanks

[2021-08-30 08:21] mgiota commented on #109957
https://github.com/elastic/kibana/issues/110021 was closed as fixed (I didn't see a linked PR though). We need to verify if it is fixed for Observability as well.

[2021-08-30 08:24] elasticmachine commented on #110396
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:25] stratoula commented on #110396
I am closing this as timelion app and its corresponding tests will be removed in 7.16

[2021-08-30 08:25] elasticmachine commented on #110394
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:27] elasticmachine commented on #109854
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:28] elasticmachine commented on #109522
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:28] MadameSheema commented on #108894
@karanbirsingh-qasource any update on this?

[2021-08-30 08:29] MadameSheema commented on #108900
@karanbirsingh-qasource any update on this?

[2021-08-30 08:29] elasticmachine commented on #109521
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:29] MadameSheema commented on #109109
@karanbirsingh-qasource any update on this?

[2021-08-30 08:29] MadameSheema commented on #109408
@karanbirsingh-qasource any update on this?

[2021-08-30 08:30] MadameSheema commented on #108901
@karanbirsingh-qasource any update on this?

[2021-08-30 08:30] stratoula commented on #109521
This doesn't seem to be related in the test itself but has something to do with the infrastructure.

Any thoughts @LeeDr ?

[2021-08-30 08:30] elasticmachine commented on #109520
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:31] karanbirsingh-qasource commented on #108900
Hi @MadameSheema

we have validated this issue on `7.15.0 BC3` and found it Fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131302854-e6e65b90-91bb-4b40-94b1-e58924dd8ac8.png)

Hence we are closing this issue .

thanks !!

[2021-08-30 08:31] #108900 closed

[2021-08-30 08:45] elasticmachine commented on #109519
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:46] stratoula commented on #109520
@LeeDr same as here https://github.com/elastic/kibana/issues/109519 and here https://github.com/elastic/kibana/issues/109518

[2021-08-30 08:46] elasticmachine commented on #109518
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 08:48] #104942 closed

[2021-08-30 09:03] manishgupta-qasource commented on #110434
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-30 09:13] kibanamachine commented on #104578
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16652/)

[2021-08-30 09:17] stratoula commented on #54088
I think we can also close these issues (after the PR is merged)
- https://github.com/elastic/kibana/issues/52298
- https://github.com/elastic/kibana/issues/49495

cc @timroes

[2021-08-30 09:24] deepikakeshav-qasource commented on #109109
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC3** build and Please find the below observations:
- Checkboxes are not displayed under alerts tab of observability ✔️
- Select x alerts option is not displayed ✔️

**Query:** User is not able to close or acknowledged the alerts. Could you please confirm if it is expected?

**Build Details:**

[code]

**Screenshot:**
![image](https://us

[2021-08-30 09:24] dej611 opened #110441 "[Graph] Do not enable Graph button until at least a field is selected when setting up"
**Describe the bug:**

When setting up the Graph configuration, the `Graph` button on the top right is enabled as soon as the data source is selected, even when no field has been chosen yet.
When pressing that, the workspace is initialized and a (generic) error toast is shown to the user:

<img width="1344" alt="Screenshot 2021-08-30 at 11 20 29" src="https://user-images.githubusercontent.com/9249

[2021-08-30 09:24] elasticmachine commented on #110441
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 09:27] elasticmachine commented on #110422
Pinging @elastic/kibana-security (Team:Security)

[2021-08-30 09:32] dej611 opened #110443 "[Graph] Removing all fields from the field bar leads to generic error"
**Describe the bug:**

Fields can be either disabled or deselected within the Graph app, but when one of these actions is performed on the last available field in the bar, then hitting the `Graph` button leads to a (generic) error is shown to the user.

![deselect_graph](https://user-images.githubusercontent.com/924948/131318452-931d08ed-e15d-4310-b26d-af49b56db94d.gif)

Probably related to #11044

[2021-08-30 09:32] elasticmachine commented on #110443
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 09:34] karanbirsingh-qasource commented on #108901
Hi @MadameSheema

we have validated this issue on `7.15.0 BC3` and found it Fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/131319048-18f05e68-419a-4025-a09d-6f5afbc3fa48.png)

![image](https://user-images.githubusercontent.com/59917825/131319042-acf98892-c938-4e30-9b00-d2dd353fd668.png)

Hence we are closing this issue .

thanks

[2021-08-30 09:34] #108901 closed

[2021-08-30 09:37] yuliacech commented on #107283
Thanks for opening this, @Crazybus! Is the option `number_of_shards` deprecated so that we should advise users no to use it?

We already have a warning for `max_size` in rollover settings:
![Screenshot 2021-08-30 at 11 31 25](https://user-images.githubusercontent.com/6585477/131319212-49bb18d7-8497-4c75-b0ce-da5e8016c2b6.png)

@cjcenizal I think the option needs to be added to the UI, especially w

[2021-08-30 09:44] Kushmaro commented on #101018
There's an important distinction to be made on the "deployment Id" and "region" field -
If a customer is using a central monitoring deployment, the context for the alert should be for the deployment firing the alert (and not for the monitoring deployment doing the monitoring itself), that's why I'm not sure the "config_settings" hold here, as they are for the "monitoring deployment" but not for th

[2021-08-30 09:55] #102328 closed

[2021-08-30 10:04] kibanamachine commented on #107096
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16501/)

[2021-08-30 10:12] stratoula commented on #43583
We have already an issue about improving the timelion error messages https://github.com/elastic/kibana/issues/107399.
I am not sure if we manage to handle it on 7.16/8.0 though.

[2021-08-30 10:56] deepikakeshav-qasource commented on #108894
Hi @MadameSheema

We have validated this issue on **7.15.0 BC3** and Please find the below observations:

**Build Details:**
[code]
**Observations:**

- Validated sorting of timestamp Column. Alerts are not sorted as per the old to new or new to old  🔴 **FAIL**

https://user-images.githubusercontent.com/61860752/131324256-e439fe5a-23da-4e32-818e-b9fff5836771.mp4

![image](https://user-images.githu

[2021-08-30 11:00] Kushmaro opened #110453 "[discuss] cloud context in kibana / stack monitoring alerts for cloud-automated monitoring"
### Overview
Today, Kibana alerting doesn't have any specific context fields that are Elastic Cloud specific. This means that kibana alerting doesn't have the proper context for being more "cloud-aware". These are beneficial in two ways - one, for customers setting up their own alerts, and another for us as elastic operating on customer alerts.

### Use cases
1. Linking to the alerted deployment's

[2021-08-30 11:01] elasticmachine commented on #110453
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-30 11:01] MadameSheema commented on #108894
@andrew-goldstein can you please take a look to the above when you have the chance? Thanks :)

[2021-08-30 11:52] mistic commented on #108633
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 266769a
7.x/7.16: e22c890

[2021-08-30 11:57] deepikakeshav-qasource opened #110462 "[Security Solution] UI is broken when click on full screen under alerts page."
**Describe the bug**
UI is broken  when click on full screen under alerts page.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts page
2. click on Full screen icon
3. Observe that UI is broken when click on full screen

**Actual Resu

[2021-08-30 11:57] elasticmachine commented on #110462
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 11:57] deepikakeshav-qasource commented on #110462
@manishgupta-qasource Please review!!

[2021-08-30 12:02] elasticmachine commented on #110418
Pinging @elastic/uptime (Team:uptime)

[2021-08-30 12:05] elasticmachine commented on #110423
Pinging @elastic/kibana-security (Team:Security)

[2021-08-30 12:05] karanbirsingh-qasource commented on #109408
@MadameSheema as currently BC3 is on on-prem and vsphere machine are facing memory and network issue . so talking us long to regress the issue .
I am onto , will provide the update on this asap.

[2021-08-30 12:05] elasticmachine commented on #110424
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 12:05] elasticmachine commented on #110424
Pinging @elastic/siem (Team:SIEM)

[2021-08-30 12:06] elasticmachine commented on #110462
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-30 12:09] mistic commented on #98463
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 0082e5a
7.x/7.16: f22bff7

[2021-08-30 12:17] #106838 closed

[2021-08-30 12:24] dgieselaar opened #110465 "[APM] Refresh no longer works"
### Kibana version

7.16

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

- Navigate to the APM app with the default date range
- Wait until data is loaded
- Press the refresh button

### Expected Behavior

Data should be refreshed

### Actual Behavior

Nothing happens

[2021-08-30 12:24] elasticmachine commented on #110465
Pinging @elastic/apm-ui (Team:apm)

[2021-08-30 12:40] katrin-freihofner commented on #109380
Will be solved by https://github.com/elastic/stack-design-team/issues/93

[2021-08-30 12:40] #109380 closed

[2021-08-30 13:01] kibanamachine opened #110470 "Failing test: Performance Tests.x-pack/test/performance/tests/reporting_dashboard·ts - performance reporting dashbaord downloaded PDF has OK status"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16505/)

[2021-08-30 13:10] kpollich commented on #109907
@cauemarcondes - Thanks so much for this reproducible example. I have one more question if it's not too much trouble.  How can I upgrade to version `0.4.0` of the APM package in my local dev environment? It seems I'm only able to see version `0.3.0`.

![Screen Shot 2021-08-30 at 9 05 02 AM](https://user-images.githubusercontent.com/6766512/131343490-1c0c9365-0d8e-4941-aad7-e67ef3f3d9a6.png)

I see

[2021-08-30 13:16] MadameSheema opened #110473 "[Security Solution] Building block alerts are not properly formatted"
**Describe the bug:**
- Building block alerts are not properly formatted

**Kibana/Elasticsearch Stack version:**
- 7.15BC3

**Steps to reproduce:**

1. Create a custom query rule with the advanced setting `Mark all generated alerts as "building block" alerts`
2. Generate alerts for that rule

**Current behavior:**
- Just the beginning of the alert it is highlighted in yellow

<img width="753" alt

[2021-08-30 13:16] elasticmachine commented on #110473
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-30 13:17] cauemarcondes opened #110474 "[APM] Requests are taking too much time to start"
When I navigate from the service inventory page to the service overview page by clicking on one of the available services, the page stays idle for too long until it starts fetching data.

https://zube.io/files/elastic/d02ec921e4371d624954f7f45e0939ae-screen-recording-2021-08-30-at-09-12-44.mov

[2021-08-30 13:17] elasticmachine commented on #110474
Pinging @elastic/apm-ui (Team:apm)

[2021-08-30 13:17] cauemarcondes commented on #109606
tests okay

[2021-08-30 13:20] kobelb commented on #108993
During last week's sync about Fleet package lifecycle management, the decision was made that we wouldn't need the feature this issue is talking about for the immediate solution at hand. I defer to @ruflin and @joshdover on the specifics regarding timing.

[2021-08-30 13:23] BenB196 opened #110475 "[Uptime] [Monitors] Typo in Enabled Rules section"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Server OS version:** N/A

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** Kubernetes

**Describe the bug:**

https://github.com/elastic/kibana/blob/6d874caef56b4ed654bb9897114ae82fab52b38e/x-pack/plugins/uptime/public/components/overview/monitor_list/mon

[2021-08-30 13:31] MadameSheema commented on #110473
This ticket should be validated on 7.15BC4

[2021-08-30 13:41] #109861 closed

[2021-08-30 13:42] cauemarcondes commented on #109907
@kpollich can you try following these steps? [How to test these changes](https://github.com/elastic/apm-server/pull/5982)

and then I should start your local kibana pointing to the local package registry:

[code]

[2021-08-30 13:46] sqren commented on #88891
Closing in favor of more specific issue https://github.com/elastic/kibana/issues/110204

[2021-08-30 13:46] #88891 closed

[2021-08-30 13:47] sqren commented on #83341
We want to do this eventually but we don't need an issue to track this atm.

[2021-08-30 13:47] #83341 closed

[2021-08-30 13:48] #59342 closed

[2021-08-30 13:50] sqren commented on #102981
Correlations is no longer in a flyout. Skeletons in general is still something we could consider.

[2021-08-30 13:50] #102981 closed

[2021-08-30 13:53] dimaanj opened #110478 "[Graph] Scrollbar appears when open inspect panel"
### Steps to reproduce
- Open graph workspace
- Click `inspect`
- See scrollbars in Chrome, Safari, FF

Sometimes it's might be happen when selecting initial data source for the graph, but only in Safari (FF and Chrome are ok).

[2021-08-30 13:53] elasticmachine commented on #110478
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 13:59] sqren opened #110479 "[APM] Show loading indicator on error details page"
## Problem
There are no loading indication on the error list page or the error details page.

Error list page
![image.png](https://zube.io/files/elastic/e422ea1f09f6bf754c261a212a4aa179-image.png)

**Error details page**
![image.png](https://zube.io/files/elastic/94033b6415371248576dd0fca3cfc054-image.png)

# Expectation

There should be a loading indicator (text or spinner) so the user knows that

[2021-08-30 13:59] elasticmachine commented on #110479
Pinging @elastic/apm-ui (Team:apm)

[2021-08-30 13:59] ravikesarwani commented on #109584
If I look at the "Instances" tab Name, Output, Version etc. are populated so feels like the information is available but somehow not getting populated in the "Overview" tab.
<img width="1714" alt="Screen Shot 2021-08-30 at 9 56 05 AM" src="https://user-images.githubusercontent.com/64450378/131350614-9a63b01f-2309-4ed5-91e5-2d7e2a6dc3c2.png">

Can we fix that bug so that Name, Output, Version are p

[2021-08-30 14:01] MatthiasScholzTW commented on #63526
I experienced a similar issue. At the end it turned out the the CSV data was corrupt, because of the chosen comma separator. Exporting the dataset using a semicolon solved the issue.

The error message seems to be just a bit misleading. A timestamp is not needed - as already described in comments above.

[2021-08-30 14:09] #109984 closed

[2021-08-30 14:10] sqren commented on #108908
@axw Thanks for doing that. I'll pull this out of 7.16 then and mark it as blocked. This also means we won't do this before 8.0

[2021-08-30 14:13] mistic opened #110483 "Failing ES Promotion: Reporting APIs ILM policy migration APIs detects when no migration is needed"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3318/testReport/ju

[2021-08-30 14:13] elasticmachine commented on #110483
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-30 14:14] mistic commented on #110483
Skipped.

master/8.0: 443979f

[2021-08-30 14:16] mgiota commented on #109641
As per discussion "Acknowledged" does not make as much sense for Cases.

So, we went ahead with:
Observability Alerts == Security Alerts {Open, Acknowledged, Closed}  <> Observability Cases == Security Cases {Open, In Progress, Closed}

[2021-08-30 14:16] #109641 closed

[2021-08-30 14:21] mostlyjason commented on #110028
@jen-huang SGTM. Could this just be a bug fix since it already includes logs? Not sure we need to call our events separately since events and logs are somewhat synonymous.

[2021-08-30 14:23] #102538 closed

[2021-08-30 14:28] mgiota commented on #109957
Popover is fixed on master
https://user-images.githubusercontent.com/2852703/131355042-8e79c675-881a-4fd2-a6e1-0d851ac8ea34.mov

[2021-08-30 14:28] #109957 closed

[2021-08-30 14:38] mgiota commented on #110077
I verify that above PR #109269 fixed the Alerts table height.
<img width="1060" alt="Screenshot 2021-08-30 at 16 34 27" src="https://user-images.githubusercontent.com/2852703/131356478-7a4146cf-d37b-4840-8061-aefbf8cb997c.png">

[2021-08-30 14:38] #110077 closed

[2021-08-30 14:40] kpollich commented on #109907
Thanks a ton, @cauemarcondes. I was able to follow those steps and get version `0.4.0` of the APM package installed from local instance of the registry.

I've copied the change from your PR, e.g.

[code]

and unfortunately I'm not able to reproduce any error messages off of the latest from `master`. Attaching a screen recording demonstrating this. Apologies if the text is small, but I've got the p

[2021-08-30 14:43] simianhacker commented on #109100
Just tested this with BC3, it appears to be working after elastic/elasticsearch#76798 was merged.

[2021-08-30 14:43] #109100 closed

[2021-08-30 14:44] mikecote commented on #105557
I'm thinking it's ok to avoid backporting if the change brings risk. We have a workaround for now, and we'll let you know if ever it becomes a problem 👍