[2022-08-01 16:36] andrewctate commented on #129177
## Use cases
- Reporting
- PDF-making creates its own worker thread as of https://github.com/elastic/kibana/pull/124787 (cc: @jloleysens)

[2022-08-01 16:36] kibanamachine opened #137752 "Failing test: Jest Tests.x-pack/plugins/threat_intelligence/public/modules/indicators/components/query_bar - QueryBar should call onSubmitDateRange when date range is changed"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19183#01825a1a-9aa3-4cc1-a9ac-a2192ac30c62)

[2022-08-01 16:47] #136424 closed

[2022-08-01 16:48] andrewctate commented on #137724
Duplicate of https://github.com/elastic/kibana/issues/136021

[2022-08-01 16:49] flash1293 commented on #137724
my bad

[2022-08-01 16:49] #137724 closed

[2022-08-01 16:51] nreese commented on #136424
@chengkuangan thanks for opening this issue. Unfortunately, the fix has been split across 2 minor releases do to feature freeze dates.

8.4: You will be able to display runtime geo_point fields in Maps as geojson. https://github.com/elastic/kibana/pull/136675 disables runtime geo_point fields and vector tile support in Kibana since Elasticsearch vector tile API does not support runtime geo_point f

[2022-08-01 16:52] tsullivan commented on #129524
A proper long-term fix for this will be to use asynchronous search for CSV export, so we don't depend on keeping a connection open for a long time in NodeJS.

A decent band-aid will be to add louder warnings in the logs and in the report job itself, telling the user / administrator that the results are incomplete. Similar to https://github.com/elastic/kibana/issues/136445

[2022-08-01 16:55] jen-huang commented on #129344
@nchaulet Thanks for investigating. Let's continue working on the fix for this and then assess the risk from there. My feeling is that we may want to delay it to 8.5...

[2022-08-01 16:56] andrewctate commented on #137140
@stratoula I can't reproduce it anymore either.

[2022-08-01 17:03] flash1293 opened #137756 "[Lens] Allow non-numeric metrics for metric vis"
The new tech preview metric visualization only allows numerical metrics. However, there are some use cases which would benefit from non-numerical metrics (string or date):
* Current status grid (e.g. per server, show whether it's up or down - also requires coloring based on term)
* Show supplementary information like the host ip as secondary metric ("last value of host.ip" with a breakdown on "hos

[2022-08-01 17:03] elasticmachine commented on #137756
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-01 17:33] kpollich opened #137759 "[Fleet] Support stack-aligned versioning scheme for bundled APM package"
Replaces https://github.com/elastic/kibana/issues/136834

In the process of adapting various Elastic Agent packages to the new Package Storage v2 architecture, we've identified some needs specifically for the APM package to continue allowing the maintainers of the APM integration to work within their current processes:

- Kibana should bundle the latest compatible version of APM, including prerele

[2022-08-01 17:33] elasticmachine commented on #137759
Pinging @elastic/fleet (Team:Fleet)

[2022-08-01 17:33] elasticmachine commented on #137759
Pinging @elastic/apm-ui (Team:apm)

[2022-08-01 17:33] #136834 closed

[2022-08-01 17:38] andrewctate commented on #137756
FWIW, I think this one would be a very quick change after https://github.com/elastic/kibana/issues/137248 introduced string support at the expression level.

[2022-08-01 17:50] andrew-goldstein commented on #136496
Thanks for opening this issue @deepikakeshav-qasource!

Users may update rules to output different risk scores (and severities) than the originally configured values, like the scenario in this issue.

When this happens, alerts may be generated with different risk scores and severities, (again as described in this issue).

To account for this, the treemap visualization always uses the `max` value o

[2022-08-01 17:50] #136496 closed

[2022-08-01 17:52] spalger commented on #137759
There are buildkite APIs to access artifacts from specific builds, so if we knew the buildkite build id for the `apm-server` job that built the artifact then accessing the artifacts would be trivial. Knowing the build id is the hard part. You might want to use a simple gcs artifact/manifest that records the most recent build ID for a specific branch or something, allowing a very simple record of t

[2022-08-01 18:03] drewdaemon opened #137763 "Allow user to specify currency type when configuring field formatter"
**Describe the feature:**
Currency in Kibana is often formatted based on the numeral.js locale which is a global setting:
<img width="1596" alt="Screen Shot 2022-08-01 at 12 53 02 PM" src="https://user-images.githubusercontent.com/315764/182212310-e0791591-8e40-4f53-a8c5-0dba5c17a754.png">

https://github.com/elastic/kibana/pull/135461 added a currency field formatter. We should extend it to allow

[2022-08-01 18:03] elasticmachine commented on #137763
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-01 18:06] #130798 closed

[2022-08-01 18:08] MadameSheema commented on #130798
@deepikakeshav-qasource please validate this issue on the next BC, thanks :)

[2022-08-01 18:19] #135131 closed

[2022-08-01 18:29] szeitlin commented on #137278
It seems like Proposal B is your preferred method, and we expect to want to be able to install and automatically upgrade without the user needing `manage_transform` access, so I think that makes sense based on what I know right now.

Some questions that occurred to me while reading this:

1. What are the scenarios when we might expect `the user does not have manage_own_api_key privilege` to be a p

[2022-08-01 18:43] nchaulet commented on #129344
@jsoriano When you say we should create a dynamic template for field with a name with a wildcard it is a new feature? I am not able to the code path that does this in beats

[2022-08-01 18:50] andrewctate opened #137769 "[Lens] Metric Vis 8.5 Follow-ups"
- [x] Suggested/auto prefix for secondary metric ([source](https://github.com/elastic/kibana/pull/136567#pullrequestreview-1049822988)) — https://github.com/elastic/kibana/pull/138167
- [x] If not enough vertical space, make visualization scrollable. Can check if enough vertical space by calculating min visualization height based on a 64 px min height for each row of tiles. —  https://github.com/e

[2022-08-01 18:50] elasticmachine commented on #137769
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-01 19:00] drewdaemon opened #137770 "[Lens] Support metric vis title"
**Describe the feature:**
We would like to give users the ability to set a title for an entire metric vis.

This title will be displayed from within the metric visualization itself but we may give users the option to configure this title from both the dashboard and the Lens editor.

**Describe a specific use case for the feature:**
A visualization such as this would benefit from having an informat

[2022-08-01 19:00] elasticmachine commented on #137770
Pinging @elastic/datavis (Team:DataVis)

[2022-08-01 19:00] elasticmachine commented on #137770
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-01 19:03] ghudgins commented on #137756
this sounds nice but how would it work with colors? it wouldn't, right?

[2022-08-01 19:09] cosaintneal commented on #122212
I also have a customer requesting this feature be available via API.  any thoughts on a timeline?

[2022-08-01 19:11] andrew-goldstein commented on #136496
For completeness of the explanation above, the following annotated screenshot is grouped by `host.name` and `signal.rule.severity` to illustrate that he color for all the cells, even the `low` values of `signal.rule.severity` will be red, because the color of the cells is determined by the max risk score, `99`:

![groupy_by_host_name_and_signal_rule_severity](https://user-images.githubusercontent.

[2022-08-01 19:15] brianseeders commented on #137752
Skipped

main: f549513abb803346bb1c51d8341821496c60236f

[2022-08-01 19:18] justinkambic commented on #135814
Post-FF testing LGTM, deleted a monitor on 8.4 branch with no issues.

[2022-08-01 19:32] cauemarcondes opened #137776 "[APM] Dependencies table showing more than 5 items per page on Service overview page"
<img width="1465" alt="Screen Shot 2022-08-01 at 3 31 48 PM" src="https://user-images.githubusercontent.com/55978943/182230636-64e7c602-103e-4bc1-8aa3-50773f784bc0.png">

[2022-08-01 19:33] szeitlin commented on #134321
I hear this is slated to be done in 8.5, is that correct?

[2022-08-01 19:35] dominiqueclarke opened #137777 "[Uptime] Private locations - filter out managed elastic-agent policy in cloud"
Cloud's managed elastic-agent is not able to run Synthetics. In order to avoid confusion, we should filter out this managed policy for the agent policy drop down when selecting an agent for a private location.

[2022-08-01 19:35] elasticmachine commented on #137777
Pinging @elastic/uptime (Team:uptime)

[2022-08-01 19:42] dominiqueclarke opened #137778 "[Uptime] Private locations - inline documentation regarding elastic-agent-complete"
It is recommended to use `elastic-agent-complete` in Docker when running Synthetics tests. While lightweight monitors are able to run with `elastic-agent`, browser monitors must run with `elastic-agent-complete` in Docker to execute browser-based tests.

<img width="465" alt="Screen Shot 2022-08-01 at 3 42 22 PM" src="https://user-images.githubusercontent.com/11356435/182232044-3b40d658-32fd-42a7-

[2022-08-01 19:42] elasticmachine commented on #137778
Pinging @elastic/uptime (Team:uptime)

[2022-08-01 19:50] dgieselaar commented on #137776
If this was introduced with the changes to <ManagedTable/>, where we changed the default page size, can we make the initialPageSize prop required so we have to be explicit about it?

[2022-08-01 19:55] MakoWish commented on #135041
Any traction on this? It seems the lack of the `Total Time` metric also affects the sorting of shard recoveries/relocations. Makes it a real pain to follow the progress of actions in the GUI when they keep rearranging with every refresh of the data.

[2022-08-01 19:57] andrew-goldstein commented on #136495
Thanks for creating this issue @deepikakeshav-qasource!

Multiple detection rules may trigger alerts for a single host. For example:
- a rule named `Threshold rule` might be configured with a risk score of `99` and a `critical` severity
- a rule named `matches everything` with a risk score of `21` and a `low` severity

The same host may trigger both of our example rules above in any given time int

[2022-08-01 19:57] #136495 closed

[2022-08-01 19:58] kertal opened #137779 "[Discover][Lens] Meta - Unified field list"
The data view field list / selection should be migrated to an own package consumable by Lens / Discover & more.

**v8.5:**
* [x] New shared UnifiedFieldList plugin to group all relevant components and services
    * https://github.com/elastic/kibana/pull/136328
* [x] Migration of field stats and field existence API from Lens server to UnifiedFieldList public.
    * https://github.com/elastic/kiban

[2022-08-01 20:03] precbioinf opened #137782 "kubernetes integration assets can't be export/import into new space"
**Kibana version: 8.3.0

**Elasticsearch version: 8.3.0

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
**Describe the bug:
Installed fleet kubernetes integration into space 1, activated agents, can see kubernetes cluster events, etc in dashboard "[Metrics Kubernetes] Overview", links in "Kubernetes D

[2022-08-01 20:04] cauemarcondes commented on #137776
I think a link is missing here?!

[2022-08-01 20:05] elasticmachine commented on #137779
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-01 20:06] Ron-Nefyodov opened #137783 "Sigma"
I would like to write rule in sogma directly on kibana i think that would be a great feature

[2022-08-01 20:06] Ron-Nefyodov commented on #137783
Sigma

[2022-08-01 20:11] dgieselaar commented on #137776
@cauemarcondes GitHub formatting ate my jsx:) edited

[2022-08-01 20:20] kpollich opened #137785 "[Fleet] Support multiple Fleet Servers in Fleet UI"
Related to https://github.com/elastic/fleet-server/issues/903

## Multiple Fleet Servers UI

We're aiming to support our Fleet scalability efforts by allowing customers to load balance their agents across multiple Fleet Server instances. Currently, when multiple Fleet Server hosts are configured, Fleet Server will round-robin between the configured hosts. We're looking to change this so users can

[2022-08-01 20:20] elasticmachine commented on #137785
Pinging @elastic/fleet (Team:Fleet)

[2022-08-01 20:26] nreese commented on #136428
regression caused by https://github.com/elastic/kibana/pull/75598.

Removing `display: block` breaks css fix added by https://github.com/elastic/kibana/pull/61564

<img width="1998" alt="Screen Shot 2022-08-01 at 2 25 50 PM" src="https://user-images.githubusercontent.com/373691/182240986-f3838d42-d7d5-4e7f-a955-a7355d64d678.png">

[2022-08-01 20:30] nchaulet commented on #137785
For enrollment you need the host and not the name as the agent will have to communicate with that Fleet server no?

[2022-08-01 20:36] kpollich commented on #137785
I think this coupling will be changed as of this issue. A Fleet Server host object (maybe needs a better name e.g Fleet Server config) might contain multiple host URL's. Since we provide the host URL at time of enrollment currently, it seems to me this will need to change on Fleet Server's side.

[2022-08-01 20:47] YulNaumenko commented on #137412
@MadameSheema could you please test it after the fix [PR](https://github.com/elastic/kibana/pull/137645) merged. The problem should disappear.

[2022-08-01 21:29] spalger commented on #137590
@suchcodemuchwow why create a new issue for this? It seems like https://github.com/elastic/kibana/issues/135794 is suitable

[2022-08-01 21:29] spalger commented on #137590
Oh, I just saw your comment at the bottom

[2022-08-01 22:41] elasticmachine commented on #137744
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-08-02 00:32] jen-huang commented on #136982
@andrewkroh Should `ignore_above` also be removed when `doc_values: false`?

[2022-08-02 00:38] jen-huang commented on #134321
@szeitlin Looks like this has switched hands a couple of times so would be good to clarify ownership and timeline. @peteharverson @qn895 Is the ML UI team committing to implement this for 8.5?

[2022-08-02 01:43] bhavyarm commented on #136242
Closed via https://github.com/elastic/kibana/pull/137542

[2022-08-02 01:43] #136242 closed

[2022-08-02 05:12] axw commented on #137759
@kpollich I think that all sounds sensible. We'll need to sign the packages we store in build artifacts, which I think is something that @mtojek is looking into anyway.

@spalger we are using Jenkins, so unfortunately we can't use buildkite build artifacts.

For unified release builds, I would expect that Kibana would bundle the apm package from the the specific APM Server build for that unified r

[2022-08-02 05:26] flash1293 commented on #137756
Correct, for coloring we need to provide the “color by terms” feature

[2022-08-02 05:28] kertal commented on #122876
Fixed by #135726, therefore closing

[2022-08-02 05:28] #122876 closed

[2022-08-02 05:42] samratbhadra-qasource commented on #137709
Hi @MadameSheema

We have used custom query rule to generate the alerts.
Also, we have used index patterns to create the rule.

**Rule:**
**[rules_export.zip](https://github.com/elastic/kibana/files/9239312/rules_export.zip)**

Please do let us know if anything else is required from our end.

Thanks!

[2022-08-02 05:44] kertal opened #137806 "[Discover] Increase embeddable test coverage"
Our saved search embeddable has no unit test coverage, only functionals test, this should be changed.

Files to add tests to:

- [ ] https://github.com/elastic/kibana/blob/main/src/plugins/discover/public/embeddable/saved_search_grid.tsx
- [ ] https://github.com/elastic/kibana/blob/main/src/plugins/discover/public/embeddable/search_embeddable_factory.ts

[2022-08-02 05:44] elasticmachine commented on #137806
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-02 06:09] elasticmachine commented on #137709
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-02 06:22] prachigupta-qasource commented on #132776
Hi @criamico ,

We have re-validated this issue on the  latest **8.4.0 BC1** build and observed that the issue is **fixed**.

**Build details:**

[code]

**Below are the observations:**

- **Scenario 1:** Validate that the `upgrade warning callout` should be available on the `Schedule upgrade agent flyout` when the agent is `older than the 8.3.x version`

    - Selecting one agent < 8.3.x version.

[2022-08-02 06:24] prachigupta-qasource commented on #132904
Hi @jen-huang,

We have re-validated this issue on the  latest **8.4.0 BC1** build and observed that the issue is **fixed**.

**Build details:**

[code]

**Below are the observations**

**Scenario 1:** **Upgrading 1 agent**
- Upgrading `1 Agent` is shown on upgrading `1 agent`.
- Black color upgrade modal is shown on upgrading `1 agent`.

![image](https://user-images.githubusercontent.com/97870262

[2022-08-02 06:26] #132904 closed

[2022-08-02 07:21] karanbirsingh-qasource opened #137807 "[Security Solution] No Read glasses icon showing with delete sub-feature enabled under kibana role configuration"
**Describe the bug**
No Read glasses icon showing with delete sub-feature enabled kibana role configuration

**Build Details:**
[code]

**Steps**
- Create a role with below configuration
- Assign above role to new custom user

![image](https://user-images.githubusercontent.com/59917825/182313907-383a9da0-750e-489f-b3a5-34eb7fa1e343.png)

- login with above user
- Navigate to case tab , observed yo

[2022-08-02 07:21] elasticmachine commented on #137807
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 07:36] flash1293 commented on #132406
Removing `blocked` label as this can now be implemented as part of the feature branch

[2022-08-02 07:38] harshitgupta-qasource commented on #137666
Hi @kevinlog

Thank you for the update. We will keep note of this.
Since it is working as expected, we are closing this issue.

Thanks!!

[2022-08-02 07:38] #137666 closed

[2022-08-02 07:39] twanva commented on #125665
Hi,

I'm also interested in this feature, any updates?

[2022-08-02 07:59] flash1293 opened #137809 "[Lens] Ad-hoc data views support"
Based on the work of the app services and data discovery team, ad hoc data views which are not persisted as saved object should be supported in Lens. POC: https://github.com/elastic/kibana/pull/135991

Blocked on https://github.com/elastic/kibana/pull/137031 to allow field existence / field summaries for non-persisted data views (as this is calculated on the Kibana server it currently only works f

[2022-08-02 07:59] elasticmachine commented on #137809
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-02 08:03] flash1293 opened #137810 "[UnifiedSearch] ESQL support"
Extend the existing text based query integration in unified search and discover by ESQL:
* Add ESQL search strategy
* Add ESQL expression function functioning similar to the SQL one
* Add basic ESQL syntax highlighting support for Monaco
* Add separate option in data view menu to switch to ESQL (similar to SQL mode)

[2022-08-02 08:03] elasticmachine commented on #137810
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-02 08:06] flash1293 opened #137811 "[Lens] Text based query languages integration"
POC: https://github.com/elastic/kibana/pull/118680

As the unified search bar is offering a basic text based query component by now, it's possible to integrate it into Lens as a separate datasource similar to the linked POC. Differences:
* There should just be a single datasource for all text based query languages as implementation will be extremely similar
* In the beginning only a single layer s

[2022-08-02 08:06] elasticmachine commented on #137811
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-02 08:16] dgieselaar opened #137812 "[Unified search] Hide the refresh button, but not the date picker"
The `Search` component supports a `showRefreshButton` option. If this is set to false, it hides the refresh button, but also the date picker. I'd like to be able to hide only the refresh button but still show the date picker. The use case is a comparison feature in the upcoming Profiling UI:

<img width="1704" alt="CleanShot 2022-08-02 at 10 15 40@2x" src="https://user-images.githubusercontent.com

[2022-08-02 08:18] elasticmachine commented on #137812
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-02 08:27] simranvaseer-qasource commented on #129318
Hi @jen-huang
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it **working fine**.

- We are able to reinstall integration on clicking Reinstall <integration_name> button and getting appropriate successful toast message

**Build Details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screen Recording:**

https://user-images.githubuserconten

[2022-08-02 08:33] #136977 closed

[2022-08-02 08:38] deepikakeshav-qasource opened #137815 "[Security Solution] Error showing under preview results when use the query with Lucene language for Custom Query"
**Describe the bug**
Error showing under preview results when use the query with Lucene language for Custom Query

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Endpoint should be install

**Steps to Reproduce**
1. Navigate to security > Rule page
2. Click on create a new rule select the custom rule
3. Select the Lucene language
4. Add the query say `windows`
5. Click on

[2022-08-02 08:38] elasticmachine commented on #137815
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 08:53] darnautov commented on #137737
Strange, the PR has been backported and merged https://github.com/elastic/kibana/pull/137453 🤔

[2022-08-02 09:04] muskangulati-qasource commented on #136253
Hi @kevinlog,

We have validated this issue on **8.4.0 BC1** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![136253](https://user-images.githubusercontent.com/60252716/182336892-5134b8e4-cbf2-4a78-a9ec-ebc13e241ae6.PNG)

Hence, We are closing this issue and marking it as QA Validated

Thanks!!

[2022-08-02 09:04] #136253 closed

[2022-08-02 09:05] elasticmachine commented on #137815
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-02 09:08] sophiec20 commented on #134321
We do not have plans to work directly on the endpoint package.

From the ML perspective, we want to build up knowledge and define best practices for how transforms should be included in a Fleet package, and to assess the feature gaps. During 8.5 timeframes we will be working on a spike to install and upgrade a dummy package, making sure the end to end experience makes sense for generic transforms

[2022-08-02 09:11] kibanamachine opened #137818 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/uptime/rest/add_monitor_project·ts - apis uptime uptime REST endpoints uptime CRUD routes [PUT] /api/uptime/service/monitors "before all" hook for "project monitors - returns a list of successfully created monitors""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19222#01825db2-c034-4e62-903d-32ea3d5272c6)

[2022-08-02 09:12] elasticmachine commented on #137818
Pinging @elastic/unified-observability (Team:Observability)

[2022-08-02 09:17] benakansara opened #137819 "Rule state filter in Rules page filters when all conditions are met instead of any one condition met"
**Kibana version:** 8.4.0

**Describe the bug:**
The rule state filter is filtering the rules when all conditions are met. For example, when "Rule is enabled" and "Rule is disabled" are selected, it does not show any rules. Instead, it should show rules where either condition is met i.e. either rule is enabled or disabled.

**Expected behavior:**
It should display rules where any of the conditions

[2022-08-02 09:20] jsoriano commented on #129344
@nchaulet oh, you are right, I didn't notice. It only happens to be that _almost_ all fields with a wildcard in their name also have `type: object` in beats. TLDR; Yes, this would be a new feature, but probably it is worth to do it.

I say _almost_ because I have found [this one](https://github.com/elastic/beats/blob/61bd1bbe61ef843bd7372c62295ba045eebe7600/metricbeat/module/kubernetes/scheduler/_

[2022-08-02 09:23] kibanamachine commented on #137818
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19222#01825dd2-c423-466c-b1e0-e3ba5c935665)

[2022-08-02 09:23] harshitgupta-qasource opened #137820 "[Security Solution] After clicking on [X] button for the action log panel, the focus comes to the back button link on the responder."
**Description:**
After clicking on [X] button for the action log panel, the focus comes to the back button link on the responder.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Endpoint should be Deployed.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
2. Open '

[2022-08-02 09:23] elasticmachine commented on #137820
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 09:24] elasticmachine commented on #137820
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-02 09:24] harshitgupta-qasource commented on #137820
@manishgupta-qasource Please review

[2022-08-02 09:25] twanva commented on #130871
Hi,
In 8.3 the functionality has been added to add a maximum of 100 alerts to a case. I saw that the [limit for a case](https://github.com/elastic/kibana/pull/129988) is 1000, but I would like a feature that can add more than 100 alerts. As described in the feature request above, as an analyst, you sometimes need to add more than 100 alerts to 1 case. This isn't possible at the moment.

[2022-08-02 09:29] elasticmachine commented on #50373
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-02 09:35] kibanamachine commented on #137818
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19223#01825dc8-e08d-40ac-8405-2867a0ee2114)

[2022-08-02 09:47] kibanamachine commented on #137818
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19223#01825de9-4966-4bc4-bf6f-22ded791c5da)

[2022-08-02 10:02] flash1293 commented on #115761
+1 https://discuss.elastic.co/t/lens-graph-formula-missing-fit-carry-ability-in-a-formula-summing-up-multiple-indexes-with-sparse-data/311192

[2022-08-02 10:17] manishgupta-qasource commented on #137820
Reviewed & assigned to @kevinlog

[2022-08-02 10:20] suchcodemuchwow commented on #137818
/skip

[2022-08-02 10:21] paulb-elastic commented on #137778
It's a good question @dominiqueclarke

The _Add location_ screen doesn't have any understanding of the types of monitors that will be run on it:
![image](https://user-images.githubusercontent.com/70908889/182350247-7860ae69-38ec-4113-9b86-5e706c992856.png)

Although there is a link to the docs which can define more details, I think it's a good idea to call this out, as it has come up before (and c

[2022-08-02 10:21] kibanamachine commented on #137818
Skipped

main: fff39b0ee0ee22d734b79ebdfd75e11477c6f941

[2022-08-02 10:22] shahzad31 commented on #137778
@paulb-elastic we already have that callout within monitor management. It's just hidden in case of public locations. But it's shown when we add via synthetics integration. What we will do now is if, there is private location selected in the form and browser monitor is selected we will show that callout.

[2022-08-02 10:28] kibanamachine commented on #137752
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19225#01825dee-f42f-4b0e-a117-7e61fb78a604)

[2022-08-02 10:31] paulb-elastic commented on #137778
@shahzad31 I guess the only thing there is that we only tell them when adding the monitor.

This might be a bit annoying if the user has got the Agent up and running, only to find it's with the wrong Docker image when they try to add a monitor, at which point they’ll need to set up the Agent again.

[2022-08-02 10:33] paulb-elastic commented on #137777
Good UX catch Dominique, thanks for raising

[2022-08-02 10:33] MadameSheema opened #137823 "[Security Solution] Not able to see all the indexes on a data view when creating a rule"
**Describe the bug:**
- Not able to see all the indexes on a data view when creating a rule

**Kibana/Elasticsearch Stack version:**
- 8.4.0 BC1

**Initial setup:**
- To have the Security Solution default data view created

**Steps to reproduce:**
1. Navigate to Rule management
2. Star the process of creating a new rule
3. Click on Data View
4. Click on the Dropdown

**Current behavior:**
- When y

[2022-08-02 10:33] elasticmachine commented on #137823
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-02 10:33] elasticmachine commented on #137823
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 10:40] muskangulati-qasource opened #137825 "[Security Solution] The launch responder option is enabled after a delay"
**Description:**
The launch responder option is enabled after a delay

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. An Endpoint alert should exist

**Steps to Reproduce:**
1. Navigate to the Alerts tab under Security from the left-hand side navigation bar
2. Expand an alert
3. Click on the Take action button
4. Observe the launch res

[2022-08-02 10:40] elasticmachine commented on #137825
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-02 10:40] elasticmachine commented on #137825
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 10:40] muskangulati-qasource commented on #137825
@manishgupta-qasource please review!

[2022-08-02 10:41] manishgupta-qasource commented on #137825
Reviewed & assigned to @kevinlog

[2022-08-02 10:46] shahzad31 commented on #137778
Yeah, i think best would be if we can add the meta_data info in the agent local_metadata whether it's a complete or not. That way we can inform user in a much better way.

[2022-08-02 10:52] kibanamachine commented on #137752
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19226#01825e08-139a-4749-9785-012d4213f658)

[2022-08-02 10:57] kibanamachine commented on #137328
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19227#01825e14-cce2-4e8d-acc7-2e86c371beb0)

[2022-08-02 10:59] suchcodemuchwow commented on #137752
Skipped

8.4: https://github.com/elastic/kibana/commit/93068c018087850ee5b61300d72748db02cd7557

[2022-08-02 11:00] kibanamachine opened #137827 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/rule·ts - alerting api integration spaces only Alerting builtin alertTypes es_query rule runs correctly and populates recovery context for esQuery search type"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19226#01825e08-141f-4a43-a964-bbc496b42843)

[2022-08-02 11:00] elasticmachine commented on #137827
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-02 11:08] kibanamachine commented on #137328
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19227#01825e33-ecab-4953-9679-778ec08686d3)

[2022-08-02 11:09] shahzad31 commented on #136412
I have created an elasticsearch issue for this https://github.com/elastic/elasticsearch/issues/89035

[2022-08-02 11:11] vadimkibana commented on #137210
I'm not sure how to replicate this test failure locally, but here are some insights of what is happening there. It looks like the difference in test snapshots is because it used to flatten the `geoip.*` fields into multiple fields, but now it started treating it as a single field, which contains an object:

<img width="856" alt="image" src="https://user-images.githubusercontent.com/82822460/182357

[2022-08-02 11:16] deepikakeshav-qasource commented on #137665
Thank you for the update @marshallmain .

Hence, we are closing this issue as it is expected!!

Thanks!!

[2022-08-02 11:16] #137665 closed

[2022-08-02 11:19] suchcodemuchwow commented on #137328
/skip

[2022-08-02 11:20] kibanamachine commented on #137328
Skipped

8.4: 8ef28b329d4e297b54c33b3c453ff8ad954df327
main: 976b1b2331371f4a1325f6947d38d1f4de7a7254

[2022-08-02 11:23] amolnater-qasource commented on #133548
Hi Team
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and had below observations:

**Observations:**
- Agents stuck in Updating state on triggering 10k agents Unenroll from Bulk actions.

**Build details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

Detailed observations are shared under https://github.com/elastic/fleet-server/issues/1639#issuecomm

[2022-08-02 11:27] kevinlog commented on #137820
@harshitgupta-qasource we allow the browser to give focus to the next element in the tree when we close the flyout. This is working as expected since we don't have any special logic for the actions log. I think we can close this one

[2022-08-02 11:30] kevinlog commented on #137825
@parkiino I believe this is because of the check we make for access to the responder option.  Can you verify?

Also, I noticed the Isolate Host option is already enabled, is there a difference between the two options in terms of determining to enable/disable them?

[2022-08-02 11:35] elasticmachine commented on #136000
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-08-02 11:49] amolnater-qasource commented on #133523
Hi Team
We have revalidated this feature on latest 8.4 BC1 Kibana cloud environment and found it working fine.

**Observations:**
- Agents selection doesn't resets in Fleet UI on any action.

**Build details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/182367401-18fa1f7b-deb1-4750-ab2e-44ad74f87108.mp4

[2022-08-02 11:54] harshitgupta-qasource commented on #137820
Hi @kevinlog

Thank you for the update. We will keep note of this.

Since it is working as expected, we are closing this issue.

Thanks!!

[2022-08-02 11:54] #137820 closed

[2022-08-02 12:08] dannycroft commented on #137205
@emma-raffenne I'll take a look and reach out with some questions, if I have any 👍🏻

[2022-08-02 12:10] michaelolo24 commented on #133103
@MichalMarchewka Going to close this for now, but please feel free to re-open if the you're still seeing an issue. I agree with  @janmonschke that if 11 of the alerts have user.id present and other user information then it most likely just wasn't included in the other events.

[2022-08-02 12:10] #133103 closed

[2022-08-02 12:10] juliaElastic commented on #114169
@jen-huang it would be nice to close it out, I'll have a look at it this week.

[2022-08-02 12:12] jonathan-buttner commented on #137807
Hey @karanbirsingh-qasource this is working as designed. The read glasses are only show when the user only has read access. A user who has read and delete privileges will not show the glasses.

[2022-08-02 12:12] #137807 closed

[2022-08-02 12:20] ghudgins commented on #3190
FYI the lens tech preview of the new metric vis in 8.4 support a grid style chart split. will keep this open for the other visualizations but we will be doing something similar there as well. please give us feedback about the grid options in 8.4!

[2022-08-02 12:23] michaelolo24 commented on #123617
With the work done by @machadoum we can close this PR. Thanks for the great work @machadoum!

[2022-08-02 12:23] #123617 closed

[2022-08-02 12:24] karanbirsingh-qasource commented on #137807
thanks for the confirmation @jonathan-buttner

[2022-08-02 12:25] kevinlog commented on #134321
@jen-huang @joshdover

We have a ticket to make Endpoint package changes in association with the new transform spec here: https://github.com/elastic/security-team/issues/4314

@pzl investigated what was required to make changes the the Endpoint package in `8.4.0` and we believe our changes are minimal, we just need support for installation in Fleet.  Dan, let me know if that sounds correct.

[2022-08-02 12:34] awahab07 commented on #128300
Moved to **Done Done** as this page has a major design update and all of the features are likely to be tested in **8.5**.

[2022-08-02 12:35] ghudgins commented on #4530
blocked on https://github.com/elastic/elastic-charts/issues/396

[2022-08-02 12:36] ghudgins commented on #28614
closing as a duplicate. will address this via https://github.com/elastic/kibana/issues/4530

[2022-08-02 12:36] #28614 closed

[2022-08-02 12:59] paul-tavares commented on #137577
@rayafratkina ,

Re:

I'm not sure what we can do here. We're not throwing an error - the API is returning an error which the browser will automatically log the the developer tools console. As David described above, we ignore this particular `409` error, so there is no exception in this area of the code (usage from `ExceptionListApiClient`) being thrown.

[2022-08-02 12:59] #137417 closed

[2022-08-02 13:03] MadameSheema opened #137841 "[Security Solution] Rule execution fails after importing a rule with Security Solution data view in a different space"
**Describe the bug:**
- Rule execution fails after importing a rule with Security Solution data view in a different space.

**Kibana/Elasticsearch Stack version:**
- 8.4.0 BC1

**Initial setup:**
- To have a detection rule created with the Security Solution data view on the default space exported.
- To have more than one space.

**Steps to reproduce:**
1. Import the exported rule in a different sp

[2022-08-02 13:03] elasticmachine commented on #137841
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-02 13:03] elasticmachine commented on #137841
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 13:07] jbudz commented on #137759
@mgreau / @Conky5 can you help triage this?  We can re-add support for synchronous artifacts, or implement an async check, just want to make sure we're not overlapping projects.

@kpollich what timeline are we targeting here?

[2022-08-02 13:08] hop-dev commented on #133822
@amolnater-qasource I've written a manual testing guide [here](https://gist.github.com/hop-dev/10b64a15c39c6cafe16f2a23a35779ab)

Here are the test files needed
[Signature Testing.ZIP](https://github.com/elastic/kibana/files/9242431/Signature.Testing.ZIP)

[2022-08-02 13:11] ghudgins commented on #2647
new metric vis in lens supports 2 metrics & time shifts which gets pretty close to this requirement without having to do anything custom -
<img width="331" alt="image" src="https://user-images.githubusercontent.com/5465514/182382805-773ebb5b-bb3a-4869-88b6-9d8fd476ac9e.png">

[2022-08-02 13:19] rudolf opened #137845 "Unhandled promise rejections from TelemetryEventsSender"
In the last 6 weeks we've seen [a spike in unhandled promise rejections coming from the the different implementations of `TelemetryEventsSender`](https://overview.elastic-cloud.com/app/lens#/edit/bb318e10-1264-11ed-884c-793f8ac30d1b) (> 700 unique clusters affected). The unhandled promise rejections seem to happen because we assume that all Elasticsearch API call like `client.getClusterInfo` or `c

[2022-08-02 13:19] elasticmachine commented on #137845
Pinging @elastic/fleet (Team:Fleet)

[2022-08-02 13:19] elasticmachine commented on #137845
Pinging @elastic/uptime (Team:uptime)

[2022-08-02 13:19] dhurley14 commented on #137841
I'll look into this but I believe this could be due to the saved object id's being different between the two spaces? Or something with the saved object references for the exported rule..

[2022-08-02 13:22] lgmys commented on #137752
This should be fixed now.

[2022-08-02 13:22] #137752 closed

[2022-08-02 13:25] fionera opened #137849 "[Security Solution] Updating a Rule to add existing Exceptions List fails"
**Describe the bug:**
When I try to update an existing rule to add an existing Exceptions Container it fails.
[code]

The Exceptions Container existence can be confirmed by fetching it with CURL:
[code]

**Kibana/Elasticsearch Stack version:** 8.3.2

**Server OS version:** Docker Installation

**Browser and Browser OS versions:** -

**Elastic Endpoint version:** -

**Original install method (e.g.

[2022-08-02 13:28] elasticmachine commented on #137849
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-02 13:33] pjbertels opened #137852 "es queue overflows with fleet"
8.4 SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):**
Cluster installed with terraform on elastic cloud.
**Describe the bug:**
When fleet overdrives the elastic search nodes it get into a bad state

**Steps to reproduce:**
1. Run 25k agents with underpowered es nodes
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if rel

[2022-08-02 13:33] elasticmachine commented on #137852
Pinging @elastic/fleet (Team:Fleet)

[2022-08-02 13:37] pjbertels opened #137853 "75K drones does not converge stuck at 66.000"
8.4 SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):**
Terraform installed cluster on Elastic Cloud.

**Describe the bug:**
When attempting to bring up 75k drones on what should be an appropriately sized cluster after 75k drones are deployed the 3 8GB fleet servers can only sustain ~66k online.

**Steps to reproduce:**
1. Run the framework to bring up 75k drones
2.

[2022-08-02 13:50] paul-tavares commented on #137825
This is expected. We need to make an API call in order to determine if the Host is still enrolled with Endpoint before we can allow it to be accessible by the user. While the menu item is disabled, a tooltip will show `Loading...`

[2022-08-02 13:53] paul-tavares commented on #137569
@kevinlog I'll have to search for other places where we have this "full screen" functionality and if we can detect it, then we need to adjust the Responder window to cover the entire screen. Right now, it assumes that the top kibana header areas are always visible

[2022-08-02 13:58] andrewctate commented on #137770
Another option we discussed was simply to hide the panel title by default, but allow the user to set a title at the dashboard level all the same.

cc: @ghudgins

[2022-08-02 14:01] liza-mae commented on #137737
Looks like BC1 did not contain this fix, so going to close as it should be in the next BC.

[2022-08-02 14:01] #137737 closed

[2022-08-02 14:04] paul-tavares commented on #137570
@kevinlog  if you left off the `--help`, the command would show a validation error:

<img width="449" alt="image" src="https://user-images.githubusercontent.com/56442535/182394177-0adb5776-c43a-4bdc-bb99-8a4ff653d568.png">

I think this is happening because the first check we currently do is to see if the `--help` argument is there, and will automatically show the help panel. I may just need to mo

[2022-08-02 14:09] gbamparop commented on #119610
@dannycroft removing the `apm:test-plan-8.4.0` label as there were no changes for this in 8.4.

[2022-08-02 14:10] hbharding commented on #137527
We can do this with `EuiComboBox` 🎉

[2022-08-02 14:14] #130898 closed

[2022-08-02 14:14] #136291 closed

[2022-08-02 14:23] jonathan-buttner opened #137861 "[ResponseOps][Cases] Set security plugin type to be defined"
The security plugin contract will always be defined even when security is disabled within Elasticsearch. We should remove the `undefined` portion of the type. We should also set the security plugin as required for cases.

Reference: https://github.com/elastic/kibana/pull/137346#discussion_r935556668

[2022-08-02 14:23] elasticmachine commented on #137861
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-02 14:23] elasticmachine commented on #137861
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-08-02 14:24] #137301 closed

[2022-08-02 14:26] gbamparop opened #137862 "[APM] Tutorial screenshot is outdated"
**Kibana version**:
8.4

**Steps to reproduce**:
 1. Navigate to `/app/home#/tutorial/apm`
 2. Check the screenshot displayed in the top right
<img width="1255" alt="Screenshot 2022-08-02 at 17 21 57" src="https://user-images.githubusercontent.com/5831975/182398031-c9f2ea88-faf6-4c8b-91a0-1c74ba000de2.png">

**Expected**:
The UI has been updated:

<img width="1477" alt="image" src="https://user-im

[2022-08-02 14:26] elasticmachine commented on #137862
Pinging @elastic/apm-ui (Team:apm)

[2022-08-02 14:27] #124027 closed

[2022-08-02 14:29] #137777 closed

[2022-08-02 14:30] kpollich commented on #137759
I think sometime in 8.5 would be ideal, but @axw or someone else on the APM side might be able to better answers this. Should this be considered a blocker for package storage v2 shipping?

[2022-08-02 14:41] paul-tavares commented on #137570
@kevinlog ,

Can we clarify what we want the `--help` argument to behave like?

Right now, the code checks for that argument and as long as the command name is "known" (the first word typed), we automatically ignore everything else and will show the command's help to the screen. Even if the arguments are provided (valid or not), we just show the help.  I made a change so that before we detect the

[2022-08-02 14:46] #133153 closed

[2022-08-02 14:48] klacabane commented on #116065
Can we test that as a component/unit test instead ?

[2022-08-02 14:55] rudolf opened #137871 "Unhandled promise rejection in observability"
There's been a recent uptick in unhandled promise rejections on cloud and [around 200 clusters have had a unhandled rejection with the following stack trace](https://overview.elastic-cloud.com/app/discover?#/?_g=(filters:!(),time:(from:now-6w,to:now))&_a=(columns:!(ece.cluster.keyword,error.stack_trace,message,docker.container.labels.co.elastic.cloud.allocator.type_version),filters:!(('$state':(st

[2022-08-02 14:55] elasticmachine commented on #137871
Pinging @elastic/unified-observability (Team:Observability)

[2022-08-02 14:59] #136248 closed

[2022-08-02 15:07] kevinlog commented on #137577
@paul-tavares we can chat offline first to see if there's another path forward.  I think the `409` will cause confusion for users and other teams, so maybe there's another way to make the decision we need to show the Host Isolation navigation item.  From what I can tell, we need to verify that the host isolation exceptions list is created to make our decision.  We can discuss this for a future rel

[2022-08-02 15:12] ThomThomson commented on #137560
This is absolutely a required feature, and we've been thinking about it for a while. This and `Read only / hidden filter pills` on a dashboard will give authors more control of the _outer bounds_ of the search experience they want to give to their users.

@stratoula I added the `Feature:Unified search` label, but feel free to remove it if it's unnecessary. I was picturing this as part of the Unifi

[2022-08-02 15:14] stratoula commented on #137560
I was also thinking of adding the label but I wanted you to check it first! I totally agree Devon :)

[2022-08-02 15:14] ghudgins commented on #8829
Closing as this is no longer relevant for the product backlog. If you have reason for this please re-open with your use case! thank you

[2022-08-02 15:14] #8829 closed

[2022-08-02 15:17] ghudgins commented on #17155
Closing this issue because this is supported in Lens visualizations with https://github.com/elastic/kibana/issues/119240 which is adding the final query-based methods of annotations in 8.5 (estimated).

*Since this would require a large development effort to implement in Visualize/TSVB and our efforts are focused on extending the functionality of Lens in easy-to-use and consistent way. We aim to p

[2022-08-02 15:17] #17155 closed

[2022-08-02 15:19] ghudgins commented on #25815
Related issue that should help in visualizations - https://github.com/elastic/kibana/issues/112851

[2022-08-02 15:21] nchaulet commented on #135637
Should be solved by https://github.com/elastic/kibana/pull/137586

[2022-08-02 15:21] #135637 closed

[2022-08-02 15:24] ghudgins commented on #32469
Closing this as it's supported with Lens' "legacy metric" at version 8.4

<img width="438" alt="image" src="https://user-images.githubusercontent.com/5465514/182411734-f52ef007-ec8c-4c16-a24d-150a46c72a7e.png">

However, we don't advise coloring the text. The redesign of the metric vis offers color options in the background
<img width="319" alt="image" src="https://user-images.githubusercontent.co

[2022-08-02 15:24] #32469 closed

[2022-08-02 15:25] #137439 closed

[2022-08-02 15:26] yctercero commented on #137823
@dhurley14  I think switching to the super select here will solve this.

[2022-08-02 15:28] ghudgins commented on #37574
Closing this issue as we have a different issue to track the solve of counter rate resets in visualizations via a large project to store time series data in a manner that allows Elasticsearch to detect counter rates and return the true rate--even when the counter drops to zero. This issue will be resolved when https://github.com/elastic/kibana/issues/130714 is resolved

For more details about this

[2022-08-02 15:28] #37574 closed

[2022-08-02 15:29] paul-tavares commented on #137577
I created a cloud 8.4 environment and re-created the "blank page is displayed on navigating to discover tab..." issue. **I'm pretty confident the `409` error is not the culprit in that issue.**

The `409` api response for `/api/exception_lists` is done prior to even visiting the `discovery` page. It also seems to only be done once when kibana loads.  I added a few breakpoints in the area of code w

[2022-08-02 15:31] #60802 closed

[2022-08-02 15:37] constancecchen commented on #130898
Woohoo! Awesome work on this @jeramysoucy!

[2022-08-02 15:55] #135519 closed

[2022-08-02 16:00] kevinlog commented on #137825
@muskangulati-qasource we can close this one

[2022-08-02 16:03] kevinlog commented on #137577
@paul-tavares thanks for the investigation.

I'm going to remove the `blocker` tag for now.  We can continue the discussion on alternative ways to approach this problem after `8.4.0`.

[2022-08-02 16:05] bhavyarm commented on #135196
@LeeDr failed again - :sob: https://buildkite.com/elastic/kibana-on-merge/builds/19251#01825f02-d5ca-4103-9ace-24647da79dc9

[2022-08-02 16:07] jen-huang commented on #119844
This would be great to keep in mind whenever we touch the package policy service: look for opportunities to do these small refactoring by breaking things up into smaller files.

[2022-08-02 16:09] suchcodemuchwow commented on #137602
It has also been [reported](https://buildkite.com/elastic/kibana-7-dot-17-es-8-dot-5-forward-compatibility/builds/6) this is failing on 8.5 please consider that also ☺️

[2022-08-02 16:10] jen-huang commented on #119832
This work is blocked by: https://github.com/elastic/kibana/issues/101603

[2022-08-02 16:10] Sylanar opened #137883 "Drilldown URL not working for Today or This Week"
**Kibana version:** 7.16

**Elasticsearch version:** 7.16

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
When using a Drilldown with "Go to URL" action, it will work fine as long as you have a Start and End date.
But, if instead you are using something like "Today" or "This Wee

[2022-08-02 16:12] juliaElastic commented on #101603
Related issue: https://github.com/elastic/kibana/issues/131240

[2022-08-02 16:14] yctercero opened #137885 "[Security Solution][Data Views][Discuss] - Updating sourcerer/data view state management"
## Purpose

The goal of this issue is to 1) collect documentation on sourcerer that help us understand the existing architecture 2) discuss updates needed to sourcerer.

## Background

Security solution introduced data views into it's flows in 8.0 - the logic and component that control this are referred to as `Sourcerer` within the team. Security solution has a default data view it instantiates an

[2022-08-02 16:14] elasticmachine commented on #137885
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-02 16:15] dominiqueclarke opened #137886 "[Uptime] Tooltip on "Run test" button if on-prem locations (add/edit monitor page)"
Currently, the run once button in add/edit monitor is disabled when users only select private locations. Ideally, we should hide the button entirely until we support run once. It's confusing to have it disabled always without the user being able to take any action to enable it.

[2022-08-02 16:15] elasticmachine commented on #137886
Pinging @elastic/uptime (Team:uptime)

[2022-08-02 16:18] paul-tavares commented on #137569
This seems to be a larger issue within alerts and timelines - they both have a "full screen" mode.

In alerts, when in full screen mode, the alert details panel is also distorted - you can see that the grid headers and some content from that first row is shown above the flyout's top border:

<img width="956" alt="image" src="https://user-images.githubusercontent.com/56442535/182422393-45f6e1a2-d4a

[2022-08-02 16:23] ThomThomson opened #137888 "[Controls] Refactor Range Slider Popover"
**Problem**
After https://github.com/elastic/kibana/pull/136572, made embeddable state management for Controls easier, it became clear that some of the components in the Range Slider could use a bit of refactoring. Specifically the `range_slider.component.tsx`, was previously just a wrapper to pass down some props. Now that component state can be accessed from anywhere in the react tree this is no

[2022-08-02 16:23] elasticmachine commented on #137888
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-08-02 16:24] spalger commented on #137210
I've skipped these tests in the 7.17 branch, when it's running against ES v8 for now: https://github.com/elastic/kibana/commit/29f9d6d52aaf287816fc3e5e850ac0b6b6ba139e

[2022-08-02 16:25] kibanamachine commented on #135196
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19257#01825f30-d856-43f4-83db-d9dd1612d499)

[2022-08-02 16:26] spalger commented on #137602
Skipped this test in 7.17 for now when running against es >8 https://github.com/elastic/kibana/commit/c3d410e6e74e9d083985b6648ab8907404bd685a

[2022-08-02 16:36] yctercero commented on #137885
After reviewing the diagram with Yuliia, these were some of the observations/questions I had:

- Can the default security solution data view be broken down into separate, more structured data views?
    - It currently includes the alerts index, which means users can't use this data view in rule creation without creating alerts on alerts
    - Separating out the alerts index would remove all the po

[2022-08-02 16:56] kertal commented on #93453
This was already implemented, closing this

[2022-08-02 16:56] #93453 closed

[2022-08-02 17:09] kevinlog commented on #137569
@paul-tavares

Yes, we should overlay the whole page if the user opens the Responder.  It looks strange otherwise

cc @caitlinbetz

[2022-08-02 17:22] vitaliidm commented on #129294
I think having both nullable will be more consistent
In existing code for example
https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/detections/components/rules/description_step/index.tsx#L219
used Nullish coalescing operator. In my opinion it's very convenient way to check if value exists.

Having title set to `''` would require additional checks if string is not

[2022-08-02 17:23] jonathan-buttner opened #137897 "[ResponseOps][Cases] Refactor user actions types"
The user actions types are defined here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/cases/common/api/cases/user_actions/common.ts#L11-L23

I believe these values could be derived using the builder map here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/cases/common/api/cases/user_actions/common.ts#L11-L23

[2022-08-02 17:23] elasticmachine commented on #137897
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-02 17:23] elasticmachine commented on #137897
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-08-02 17:25] neptunian commented on #106650
@smith The tests were skipped which is why they aren't failing anymore.  Since the failing tests look to only be for Saved Views related tests, I'm going to leave those commented out and comment back in the others.  I'm going to reopen this to track the failing Saved Views test.

[2022-08-02 17:32] paulb-elastic commented on #137778
@shahzad31 does that capability exist already (i.e. something we can get in for 8.4)?

My worry at the moment is that users may just not realise.  Even the **_Add Agent_** flow doesn't have this (as it's more generic about adding agent)
![image](https://user-images.githubusercontent.com/70908889/182437328-04e792da-beef-4c23-80aa-88eac987e0ec.png)

@hbharding would something like this be ok for the

[2022-08-02 17:42] elasticmachine commented on #137883
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-08-02 17:43] paulb-elastic commented on #137886
Can't we just have a callout like we do on the main Uptime Overview page?
![image](https://user-images.githubusercontent.com/70908889/182439026-3b561a26-30c8-426b-acd8-cade2bd2cd28.png)

[2022-08-02 17:45] kertal commented on #126509
closing since work for  8.2 is already done

[2022-08-02 17:45] #126509 closed

[2022-08-02 17:47] paulb-elastic opened #137898 "[Uptime] nit wording change on Test now"
Nit wording change on the Uptime Overview page when trying to run a test

Currently:

![image](https://user-images.githubusercontent.com/70908889/182440053-e882615f-3779-4d8f-b95c-0b014e31e4c3.png)

Change to:

[2022-08-02 17:47] elasticmachine commented on #137898
Pinging @elastic/uptime (Team:uptime)

[2022-08-02 17:51] tsullivan commented on #135873
This test doesn't look flaky, but I'm running the following draft PR in the flaky test runner: https://github.com/elastic/kibana/pull/137899

[2022-08-02 17:52] caitlinbetz commented on #137569
just confirming, the "back" button (breadcrumb) in the console would take the user back to the timeline, correct?

[2022-08-02 17:56] dominiqueclarke commented on #137886
Sure thing, that works for me.

[2022-08-02 18:01] kilfoyle commented on #137639
To me, `What type of host are you adding?` reads as though I'm adding a new host to a cluster, rather than anything to do with Agent. Also, the description `Type of hosts are controlled by an agent policy` seems a bit confusing grammatically.

Perhaps a title something like `What type of system do you want to monitor?` might be more clear? I was originally thinking `What type of host?`, but I unde

[2022-08-02 18:02] tsullivan commented on #131388
Hi, I have been assigned this task and I'm catching up on the discussion.

Question: do we have a way to replicate shard failures in the development environment?

[2022-08-02 18:02] paulb-elastic commented on #137886
@dominiqueclarke for reference, I've suggested a tweak to the wording in https://github.com/elastic/kibana/issues/137898

[2022-08-02 18:17] precbioinf commented on #137782
I also tried this way: in space 1, go to saved object, select the dashboard, "copy to spaces", select space 2. It seems to have copied the dashboard to space 2. However, when I enter space 2, the markdown links do not work. I can find the right reference for the links in the markdown.

[2022-08-02 18:22] LeeDr commented on #135196
Interesting that the failure still has `data-is-loading="true"` when the code should be waiting for `data-is-loaded="true"`.

But monitoring pages are refreshing by default?  So maybe a refresh happens in some cases right after the wait for `data-is-loaded="true"`?  Maybe the test can just use a retry around the a11y snapshot part?

[code]

[2022-08-02 18:25] dedemorton commented on #137639
I like the change that @kilfoyle proposes over the existing text about hosts.

TBH, I don't understand why the language was changed in the first place. As a user, I would prefer the step to match the action that I'm doing (in this case, selecting an agent policy). It's a logical disconnect for me. I'd rather be told to select a policy and then have some text that briefly explains what a policy doe

[2022-08-02 18:29] #137328 closed

[2022-08-02 18:29] #137818 closed

[2022-08-02 18:29] #137338 closed

[2022-08-02 19:05] tris325 commented on #125702
Just wanted to mention that we have heard this request from the federal agencies I support as well, something simple but clear cut that spells out exactly what happens when license expires.

[2022-08-02 19:07] dhurley14 commented on #137823
While the super select would provide the ability to display the name field along with the full title of the data view, I am afraid to migrate away from the standard EUI combo box at the moment.

If we use the super select we would display the new "name" field with the "title" field of the data view in the description section of the super select. Doing so would display the title in full and would r

[2022-08-02 19:08] ThomThomson commented on #122212
It seems to me that this is a workaround for the issue that the shared workpads don't show live data. Have these clients thought about embedding the workpad as an iframe in their site rather than using the static workpad? That would likely allow them to see _live_ data on their workpad. They would need to set up [anonymous access](https://www.elastic.co/guide/en/kibana/current/kibana-authenticatio

[2022-08-02 19:12] neptunian opened #137903 "[Metrics] Fix functional tests for tooltip"
Tooltip functional test is [commented out in this PR](https://github.com/elastic/kibana/pull/137908) because it's failing after commenting back in Metrics UI Home Page test suite it belongs to which was commented out here https://github.com/elastic/kibana/issues/106650 due to flakey Saved Views tests.

- After https://github.com/elastic/kibana/pull/134471 was merged the field we used for getting n

[2022-08-02 19:12] elasticmachine commented on #137903
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-02 19:27] kibanamachine opened #137906 "Failing test: Analytics Integration Tests.test/analytics/tests/instrumented_events/from_the_browser/loaded_dashboard·ts - analytics instrumented events from the browser Loaded Dashboard simple dashboard emits when map is added"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19289#01825fd3-73a6-422c-a23e-f1e081e9cfcd)

[2022-08-02 19:27] elasticmachine commented on #137906
Pinging @elastic/kibana-core (Team:Core)

[2022-08-02 19:31] justinkambic commented on #135147
Post-FF testing LGTM

[2022-08-02 19:31] paul-tavares commented on #137569
@caitlinbetz ,
Yes, the "Back" button/link would close out the Responder overlay and the page that the user was looking at before opening responder would become visible again (in this case, it would be the alerts grid/table in "full screen" mode.

[2022-08-02 19:37] #137539 closed

[2022-08-02 19:43] andrew-goldstein commented on #137035
Fixed in:
- `main`  / `8.5.0` - https://github.com/elastic/kibana/pull/137620
- `8.4` / `8.4.0` - https://github.com/elastic/kibana/pull/137764

[2022-08-02 19:45] andrew-goldstein commented on #137035
@samratbhadra-qasource would you be willing to test the fix for this issue?

[2022-08-02 19:50] andrew-goldstein commented on #136377
Fixed in:
- `main` / `8.5.0`: https://github.com/elastic/kibana/pull/137796
- `8.4` / `8.4.0`: https://github.com/elastic/kibana/pull/137801

[2022-08-02 19:50] andrew-goldstein commented on #136377
@deepikakeshav-qasource would you be willing to test the fix for this issue?

[2022-08-02 19:52] andrew-goldstein commented on #136372
Fixed in:
- `main` / `8.5.0`: https://github.com/elastic/kibana/pull/137796
- `8.4` / `8.4.0`: https://github.com/elastic/kibana/pull/137801

[2022-08-02 19:52] andrew-goldstein commented on #136372
@karanbirsingh-qasource would you be willing to test the fix for this issue?

[2022-08-02 19:54] JiaweiWu opened #137911 "[RAM] Event log aggregation does not return the correct data when filtered"
The `getExecutionLogForRule` function applies filtering to the aggregation before the aggregation happens, which means we leave out errored actions if the user filters by event log outcome. We end up with rows of executions but the `errored action` will always be 0.

The fix is to apply post filtering to the aggregation, after all of the error actions have been counted up.

## Without filter
Here'

[2022-08-02 19:54] elasticmachine commented on #137911
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-02 19:54] andrew-goldstein commented on #136387
Fixed in:
- `main` / `8.5.0`: https://github.com/elastic/kibana/pull/137796
- `8.4` / `8.4.0`: https://github.com/elastic/kibana/pull/137801

[2022-08-02 19:55] JiaweiWu commented on #137911
@ymao1 came up with a solution to this: https://github.com/ymao1/kibana/compare/pr/136589...ymao1:kibana:exec-log-fixes?expand=1

I have tested it and it solves this issue. I will convert it into a PR :slightly_smiling_face:

[2022-08-02 19:57] andrew-goldstein commented on #136387
@deepikakeshav-qasource per the notes in <https://github.com/elastic/kibana/pull/137796>:

This issue was fixed by reducing the minimum font size to `4px` for group names, per [this example](https://elastic.github.io/elastic-charts/?path=/story/treemap--two-layers-stress-test&globals=theme:light;background:white) from Elastic charts. This change:
  - Reduces the chances of a label getting hidden w

[2022-08-02 20:07] kibanamachine commented on #135238
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19290#01825ff9-8673-4b52-a406-7d1533bab0d5)

[2022-08-02 20:07] kibanamachine commented on #135239
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19290#01825ff9-8673-4b52-a406-7d1533bab0d5)

[2022-08-02 20:07] kibanamachine commented on #135240
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19290#01825ff9-8673-4b52-a406-7d1533bab0d5)

[2022-08-02 20:25] bhavyarm commented on #135196
Ok will try it. Thanks @LeeDr

[2022-08-02 20:30] ThomThomson commented on #137614
@TinaHeiligers, that whole service is actually just a `stub` version of the overlaysService. Most of that code was copied in because there was no way of getting an overlay inside of a storybook context. Is there an equivalent of mount wrapper that we could just switch to? Or even better, is there now a way to get an overlay in storybook working?

[2022-08-02 20:31] #137682 closed

[2022-08-02 20:39] JiaweiWu commented on #136789
So I dug a bit deeper, and it seems like each of those fetches is initiated from a different location:

rule_route.tsx:68 -> getRuleSummary
rule_status_panel.tsx:37 -> loadExecutionLogAggregations
rule_event_log_list.tsx:139 -> loadEventLogs

I think ultimately we need to use some sort of query solution (like react-query) to truly solve this. As each component needs the data and it's not particula

[2022-08-02 20:39] #136789 closed

[2022-08-02 20:41] JiaweiWu opened #137916 "[RAM] Implement Storybooks for triggers actions UI shareable components"
Implement storybooks for shareable triggers actions UI components. Ensuring it is integrated with CI.

[2022-08-02 20:41] elasticmachine commented on #137916
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-02 21:43] hbharding commented on #136111
@dominiqueclarke I'm not sure if we need the ability to disable monitors per location, and we can probably close this issue. I think my earlier designs may have made this look possible. While there might be a use case for this, I think we get by without this behavior for the initial release.

I think removing the option to disable a monitor from the monitor card / overview page might make this les

[2022-08-02 21:57] szeitlin commented on #134321
Thanks for calling this out @jen-huang!

FWIW I don't know what's in the Endpoint package, or exactly how it relates to what we're doing with Host Risk Score.

Our current plan is to create and deploy packages as integrations. I'm not sure if we're going to run into blockers there, as I've heard mixed things about whether the privilege issue has to be addressed before we can release e.g. Host Risk

[2022-08-02 22:02] dominiqueclarke commented on #137592
Closed by https://github.com/elastic/kibana/pull/137667 and https://github.com/elastic/package-storage/pull/5220

[2022-08-02 22:02] #137592 closed

[2022-08-02 22:17] TinaHeiligers commented on #137614
TBH, I don't know. @elastic/shared-ux do you happen to know if there's a `kibana_react` utility that wraps core's implementation?

[2022-08-02 22:20] paul-tavares commented on #137569
PR opened: https://github.com/elastic/kibana/pull/137918

[2022-08-02 22:40] marshallmain commented on #135511
@karanbirsingh-qasource Can you confirm if this issue is still occurring on the latest 8.4 BC?

[2022-08-02 23:28] tsullivan commented on #135873
closing, as this test is no longer flaky

[2022-08-02 23:28] #135873 closed

[2022-08-03 00:19] madirey commented on #132719
See https://discuss.elastic.co/t/rules-email-variables-alerts/304811/3

[2022-08-03 00:35] kibanamachine commented on #130305
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/19306#01826116-581d-4dd3-bee0-5efa60b0d619)

[2022-08-03 00:43] TinaHeiligers opened #137928 "Create public mock for `SimpleSavedObjectImpl`"
`SimpleSavedObjectImpl` isn't intended for use outside of the core domain. However,  three plugins depend on the concrete internal implementation for tests:

https://github.com/elastic/kibana/blob/755fad11be4bd920ad89da8e9533ad71a32a8253/src/plugins/saved_objects/public/saved_object/helpers/find_object_by_title.test.ts#L25-L32

https://github.com/elastic/kibana/blob/755fad11be4bd920ad89da8e9533ad7

[2022-08-03 00:44] elasticmachine commented on #137928
Pinging @elastic/kibana-core (Team:Core)

[2022-08-03 00:52] #136414 closed

[2022-08-03 01:58] chengkuangan commented on #136424
@nreese noted. Thank you for the detail update. Good to hear this is coming soon.

[2022-08-03 03:58] deepikakeshav-qasource commented on #136377
Hi @andrew-goldstein ,

Sure, We will test this fix on 8.4.0 BC2 build!!

Thanks!!

[2022-08-03 04:04] deepikakeshav-qasource commented on #136387
Hi @andrew-goldstein ,

Thank you for the update!!

Sure, We will test this fix on 8.4.0 BC2 build!!

Thanks!!

[2022-08-03 04:30] amolnater-qasource commented on #133822
Hi @hop-dev
Thank you for sharing testing guidelines and files.

We will be revalidating this at our end and will be sharing results here.
Thanks!

[2022-08-03 06:11] samratbhadra-qasource commented on #137035
Sure @andrew-goldstein we will going to keep in our bucket and will regress once next BC of 8.4.0 will be available and going to share the observation on the ticket.

[2022-08-03 06:20] amolnater-qasource opened #137932 "[Fleet]: Fleet Server policy is not visible under Agents tab without refreshing when the fleet server is installed with a policy created from Add Fleet Server flyout."
**Kibana version:**  8.4 BC-1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 BC1 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab>Add Fleet Server flyout.
3. Add host and create a new Policy from here.
4. Scroll down and install fleet server wit

[2022-08-03 06:20] elasticmachine commented on #137932
Pinging @elastic/fleet (Team:Fleet)

[2022-08-03 06:21] amolnater-qasource commented on #137932
@manishgupta-qasource Please review.

[2022-08-03 06:33] stratoula commented on #136950
@ghudgins the bug mentioned above has been fixed and merged to main(release v8.5)

[2022-08-03 06:47] stratoula opened #137933 "[Lens] [Unified search] Move the formula and text-based languages documentation popover to a package"
**Describe the feature:**
Currently in Lens formula and in text-based languages bar there are 2 components (located in lens and unified search plugin respectively) that have the same look and feel and functionality.

**Lens**
<img width="1069" alt="image" src="https://user-images.githubusercontent.com/17003240/182541741-4a5cea9c-1975-4d83-b228-cb2ce6d03118.png">

**Text based languages**
<img widt

[2022-08-03 06:47] elasticmachine commented on #137933
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-03 06:52] karanbirsingh-qasource commented on #136372
sure @andrew-goldstein

[2022-08-03 07:02] manishgupta-qasource commented on #137932
Secondary review for this ticket is Done

[2022-08-03 07:12] #137049 closed

[2022-08-03 07:39] stratoula commented on #132620
Working on the text-based languages there is another scenario related to this problem that I would like to mention here.
Let's assume that a user is on the text-based languages mode and loaded a saved search.

<img width="1909" alt="image" src="https://user-images.githubusercontent.com/17003240/182550885-709d1f46-570c-44e7-9820-69cfb3558395.png">

We would like everytime a user navigates to the da

[2022-08-03 07:41] awahab07 commented on #128300
https://github.com/elastic/kibana/issues/137067 takes over this issue. Please use the the new issue for any updates or comments.

[2022-08-03 07:41] #128300 closed

[2022-08-03 07:49] kibanamachine opened #137934 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Uprade package install version with package installed with a previous format install version should upgrade package install version for outdated packages"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19313#0182628c-ce76-4bf9-8b72-cb8cb256f6f9)

[2022-08-03 08:02] deepikakeshav-qasource opened #137935 "[Security Solution] `Succeeded` status filter is not working correctly under execution logs"
**Describe the bug**
`Succeeded` status filter is not working correctly under execution logs

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Rule should created
3. Execution logs Warning, Fail, success should be exist

**Steps to Reproduce**
1. Navigate to security > Rule page
2. Click on above created rule
3. Navigate to execution tab
4. From status drop down select the

[2022-08-03 08:02] elasticmachine commented on #137935
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 08:13] juliaElastic commented on #137785
Is there any dependency on Fleet Server to make use of the new configs? If so, we might want to add a feature flag in case the changes are not ready at the same time.

[2022-08-03 08:34] gbamparop opened #137937 "[APM] Column width is inconsistent in the traces table in backend operation view"
Column width is inconsistent in the traces table in backend operation view.

https://user-images.githubusercontent.com/5831975/182563009-98b79bf4-f1b2-4fc9-b724-1d77f3e356d2.mov

[2022-08-03 08:34] elasticmachine commented on #137937
Pinging @elastic/apm-ui (Team:apm)

[2022-08-03 08:41] simranvaseer-qasource opened #137938 "[Fleet]: Error popup under Fleet tab on upgrading Kibana from 7.17.5>8.4.0 having APM integration in `Elastic Cloud agent policy`"
**Kibana version**: 7.17.5 upgraded to 8.4.0 BC1 Kibana Cloud Environment.

**Host OS and Browser version**: All, All

**Build details:**
VERSION: 7.17.5 upgraded to 8.4.0 BC1.
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
ARTIFACT LINK:  https://staging.elastic.co/8.4.0-91109cf0/summary-8.4.0.html

**Preconditions:**
- 7.17.5 upgraded to 8.4.0 BC1 Kibana Cloud Environment should b

[2022-08-03 08:41] elasticmachine commented on #137938
Pinging @elastic/fleet (Team:Fleet)

[2022-08-03 08:41] simranvaseer-qasource commented on #137938
@dikshachauhan-qasource Please review

[2022-08-03 08:42] juliaElastic commented on #137639
The change was coming from this design document: https://docs.google.com/document/d/1nMfBjlKeawPCmKOxoIni8LYGa0UZx8JOo0vdp_BrZvY/edit#

I am wondering how can we improve the review process to make sure we are not adding more confusion.

[2022-08-03 08:47] karanbirsingh-qasource opened #137939 "[Security Solution]Security Solution Tag Auto generation not works if user already have the custom tag with same name"
**Describe the bug**
`Security Solution` Tag Auto generation not works if user already have the custom tag with same name

**Build Details:**
[code]

**Steps**
- Build fresh kibana
- Go to Stack management> Tag
- Manage `Security Solution` tag and assign any one dashboard to it
- Now create custom dashboard by name of `XYZ`
- now delete the `Security Solution` auto generated tag
- Now to revert it

[2022-08-03 08:47] elasticmachine commented on #137939
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 08:55] dikshachauhan-qasource commented on #137938
Secondary review is done

[2022-08-03 09:02] XavierM opened #137942 "[SECURITY] Cypress test around Risky Host link Panel"
<img width="985" alt="image" src="https://user-images.githubusercontent.com/189600/182568920-b37ad282-9b25-43dd-8811-e5428ce23e70.png">

<img width="952" alt="image" src="https://user-images.githubusercontent.com/189600/182568966-15aa6c86-e885-42bb-bca7-bc1a68745679.png">

[2022-08-03 09:02] elasticmachine commented on #137942
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 09:07] #97976 closed

[2022-08-03 09:12] stratoula commented on #135235
I see your point here @mattkime and I don't have a strong opinion. I am jus thinking a scenario like:
- I have x dataviews pointing on the same index pattern but with different names (I am using for example different runtime fields or formatters per dataview)
- I want to search for the index pattern to find all the dataviews that are related to it (because I don't remember the names or other users

[2022-08-03 09:16] elasticmachine commented on #137221
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-03 09:16] elasticmachine commented on #137934
Pinging @elastic/fleet (Team:Fleet)

[2022-08-03 09:27] logut opened #137945 "Add Ctrl+Enter shortcut to filter creation"
**Describe the feature:**
When configuring a shortcut, from the Value(s) field or the DSL textarea, allow using Ctrl+Enter to save and apply the filter. It is a common keyboard shortcut for sending forms.

The Tab key can be used to focus the save buton only from the value field but you have to press it multiple times and it doesn't work from the DSL textarea (it adds or remove identation.

**Desc

[2022-08-03 09:39] jgowdyelastic opened #137946 "[ML] ML Embeddables cause the dashboard to think there are unsaved changes"
If you add a swim lane or anomaly chart to a dashboard, the dashboard cannot get itself into the state where it thinks all changes have been saved.
When pressing the `Save` button at the top right of the page, the button always returns to being active rather than disabled. Clicking the `Switch to view mode` button triggers a prompt that there are unsaved changes.

Other embeddables behave as expec

[2022-08-03 09:39] elasticmachine commented on #137946
Pinging @elastic/ml-ui (:ml)

[2022-08-03 09:44] banderror commented on #125665
Hey @twanva, our team is working on it. At this point, you can look for updates in the related GH issues which you can find in the "Proposal" section of this issue's description. Do you have any specific questions or thoughts?

[2022-08-03 09:47] karanbirsingh-qasource opened #137948 "[Security Solution]Dashboard not showing on import after tag auto generation"
**Describe the bug**
Dashboard not showing on import after tag auto generation

**Build Details:**
[code]

**Steps**
- Build fresh kibana
- Create a custom dashboard
- Go to Stack management> Tag
- Manage Security Solution tag and assign above custom dashboard
- now import the custom dashboard and then delete it
- now delete the Security Solution tag and generate a new one
- now import the dashboa

[2022-08-03 09:47] elasticmachine commented on #137948
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 09:48] kertal commented on #135235
In case it's still the plan to allow the user to quickly create a ad-hoc data view, if no matching entry can be found, how should this work without allowing the search for the index pattern? for example user searches for `test-*`. This already exists but is labeled `TEST`. Therefore the user gets no result and a suggestion to search using an ad-hoc data view. Just wondering how it works without th

[2022-08-03 09:56] banderror commented on #129294
@vitaliidm what if `timeline_id === null` and `timeline_title === 'Generic Process Timeline'`? Would you render it in the UI as `Generic Process Timeline`? If this is how it works in the code (and it looks like the current model allows that), I'd consider it a bug.

On the read side, e.g. when rendering the "Timeline" field on the Details page, we shouldn't be checking `timeline_title` for determi

[2022-08-03 10:06] elasticmachine commented on #137819
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 10:09] #136990 closed

[2022-08-03 10:16] elasticmachine commented on #137945
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-03 10:27] elasticmachine commented on #137948
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-03 10:29] elasticmachine commented on #137935
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-03 10:33] arvindersingh-qasource opened #137955 "[Security Solution] UI for `Help` section of `Responder` breaks on scrolling."
**Describe the bug**
UI for `Help` section of `Responder` breaks on scrolling.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana must be available.
2. An Endpoint alert should exist
3. Browser Resolution must be set to `67%`

**Steps to Reproduce**
1. Navigate to ```Security``` -> ```Manage``` -> `Endpoints`
2. Open more Action und

[2022-08-03 10:33] elasticmachine commented on #137955
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 10:33] elasticmachine commented on #137955
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-03 10:33] arvindersingh-qasource commented on #137955
@muskangulati-qasource Please review the bug.

Thanks.

[2022-08-03 10:34] deepikakeshav-qasource opened #137956 "[Security Solution] Search is not working when search the dashboard name with double quotes."
**Describe the bug**
Search is not working when search the dashboard with double quotes.

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Dashboard list should be exist

**Steps to Reproduce**
1. Navigate to security > Dashboards
2. Click on search add the dashboard name with double quotes say: "[Elastic Agent] Agent metrics"
3. Observe that search is not working when sear

[2022-08-03 10:34] elasticmachine commented on #137956
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 10:36] muskangulati-qasource commented on #137955
Reviewed & assigned to @kevinlog.

[2022-08-03 10:37] elasticmachine commented on #137939
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-03 10:38] muskangulati-qasource commented on #137825
Hi @paul-tavares,

Thank you for the update.

Since it is working as expected, we are closing this issue.

cc: @kevinlog

Thanks!

[2022-08-03 10:38] #137825 closed

[2022-08-03 10:38] XavierM commented on #137942
This https://github.com/elastic/kibana/pull/137728 fix it

[2022-08-03 10:38] #137942 closed

[2022-08-03 10:39] elasticmachine commented on #137956
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-03 10:42] semd commented on #137948
Not sure if this is a bug. The "problem" is that the original tag of the exported dashboard was deleted, when it is imported the original tag ID is not found so it is re-created, while there was another new tag with the same `Security Solution` name. Tags saved objects are not unique by name, so we end up with two `Security Solution` tags. This situation is rare but can happen under different circ

[2022-08-03 10:43] dej611 opened #137957 "[Lens] Cumulative sum seems to accept keyword fields, but then ignores them"
**Describe the bug:**

When selecting the `Cumulative sum` function it seems that fields of type `keyword` are supported, but then selecting them does not change the configuration underneath:

![cumulative_sum_bug](https://user-images.githubusercontent.com/924948/182589371-90abace3-8c93-4430-936a-a21c51bb7114.gif)

[2022-08-03 10:43] elasticmachine commented on #137957
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-03 10:44] angorayc opened #137958 "Embeddable has been destroyed error happened after interacting with the Embeddable"
Found an error `Embeddable has been destroyed`  when rendering with LensEmbeddable

https://user-images.githubusercontent.com/6295984/182589629-6072070d-53e6-4b4a-b191-e2cc3d3ffeac.mov

**Steps to reproduce**
In https://github.com/elastic/kibana/pull/137882 security solution > explore > hosts > all hosts
case 1:
update the global timerange
case 2:
brush on of the area charts to update the timerang

[2022-08-03 10:46] elasticmachine commented on #137958
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-03 10:47] flash1293 commented on #137957
I tested this and it does the right query (value count on the keyword field), but it doesn't adjust the default label.

[2022-08-03 10:54] dej611 commented on #137957
True, the problem is that the label refers to the special `Records` field, leading to a confusing result. Also switching to `Formula` will show the full operation `cumulative_sum(count( myField ) )`

[2022-08-03 10:55] flash1293 commented on #137957
Actually, this makes this bug way more severe - switching to a number field will still do the value count underneath, but it's not indicated in the UI. Bumping the impact of this.

[2022-08-03 11:06] semd commented on #137939
Hi, this is the expected behavior. The `Security Solution` tag is auto-generated only if it does not exist, if a `Security Solution` tag already exists we reuse it. It makes no sense to create a new tag for every new dashboard.
Thanks. Closing

[2022-08-03 11:06] #137939 closed

[2022-08-03 11:08] afharo opened #137961 "Migrate from custom telemetry sender to the new Core-provided one"
Hi folks!

I'm creating this issue to track the effort for migrating the current custom telemetry sender in `x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/sender.ts` to the new Core APIs to send telemetry events: `core.analytics`.

The full documentation can be found in: https://docs.elastic.dev/telemetry/collection/event-based-telemetry

Essentially, during the `setup` phase of you

[2022-08-03 11:08] elasticmachine commented on #137961
Pinging @elastic/uptime (Team:uptime)

[2022-08-03 11:13] Dosant commented on #131388
We can simulate errors and warnings like this:
https://github.com/elastic/kibana/blob/eea8f5e1f9406578290ab00d93a5bfd4442f7633/examples/search_examples/public/search/app.tsx#L150-L178

maybe this could be useful

[2022-08-03 11:17] afharo opened #137963 "[osquery] Migrate from custom telemetry sender to the new Core-provided one"
Hi folks!

I'm creating this issue to track the effort for migrating the current custom telemetry sender in `x-pack/plugins/osquery/server/lib/telemetry/sender.ts` to the new Core APIs to send telemetry events: `core.analytics`.

The full documentation can be found at https://docs.elastic.dev/telemetry/collection/event-based-telemetry

Essentially, during the `setup` phase of your plugin, you need

[2022-08-03 11:17] elasticmachine commented on #137963
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 11:19] elasticmachine commented on #137963
Pinging @elastic/security-asset-management (Team:Asset Management)

[2022-08-03 11:21] #137140 closed

[2022-08-03 11:22] afharo opened #137964 "[fleet] Migrate from custom telemetry sender to the new Core-provided one"
Hi folks!

I'm creating this issue to track the effort for migrating the current custom telemetry sender in `x-pack/plugins/fleet/server/telemetry/sender.ts` to the new Core APIs to send telemetry events: `core.analytics`.

The full documentation can be found at https://docs.elastic.dev/telemetry/collection/event-based-telemetry

Essentially, during the `setup` phase of your plugin, you need to re

[2022-08-03 11:22] elasticmachine commented on #137964
Pinging @elastic/fleet (Feature:Fleet)

[2022-08-03 11:22] elasticmachine commented on #137964
Pinging @elastic/fleet (Team:Fleet)

[2022-08-03 11:23] #137319 closed

[2022-08-03 11:23] suchcodemuchwow commented on #137934
/skip

[2022-08-03 11:33] vitaliidm commented on #129294
@banderror , how is this even possible? By deliberate saving these values by direct API call? If we want to address this possibility: what should be displayed if timeline_id is invalid( timeline_id=== 'some-fake-id' timeline_title === 'Generic Process Timeline') or timeline_id and timeline_title are mismatched( timeline_id points to 'Generic Network Timeline' and timeline_title === 'Generic Proces

[2022-08-03 11:42] semd opened #137966 "[Security Solution][Threat Hunting] Track performance using APM"
# Description
Epic: https://github.com/elastic/kibana/issues/137654

Use Elastic's [APM](https://www.elastic.co/observability/application-performance-monitoring) performance monitoring tool to measure the loading time for the UI components and user interactions. We can follow/check with the Rules team based on theirs https://github.com/elastic/kibana/pull/133486

It would be great to send metadata

[2022-08-03 11:42] elasticmachine commented on #137966
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-03 11:46] karanbirsingh-qasource commented on #135511
Hi @marshallmain

we have validated this issue on 8.4.0 BC1 and found the issue to be still occuring.

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/59917825/182599600-1a004876-f23f-41c3-844e-bee5e09dccab.png)

https://user-images.githubusercontent.com/59917825/182599340-79c8226a-14b3-420f-b96f-7679b3c98ebe.mp4

https://user-images.githubusercontent.com/59917825/182

[2022-08-03 11:47] kibanamachine commented on #137934
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19322#01826364-319f-41c2-b6db-13540307bf63)

[2022-08-03 11:51] juliaElastic commented on #125363
Closing as a duplicate of https://github.com/elastic/kibana/issues/137964

[2022-08-03 11:51] #125363 closed

[2022-08-03 11:51] juliaElastic commented on #137964
This change would fix this issue as well: https://github.com/elastic/kibana/issues/137845

[2022-08-03 12:00] #136412 closed

[2022-08-03 12:04] kibanamachine commented on #137934
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19325#01826373-8e1a-4d6d-a1df-6b8d238f9754)

[2022-08-03 12:08] samratbhadra-qasource opened #137969 "[Security Solution]: Custom filter tile count is not updating while user import rule."
**Describe the bug:**
Custom filter tile count is not updating while user import rule.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Custom rule with exported json file should be available.

**Steps to Reproduce**
1. Navigate to Rules tab.
2. Now, export any available rule and delete the rule.
3. Now, import the rule which was exported earlier.
4. Observe that custo

[2022-08-03 12:08] elasticmachine commented on #137969
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 12:09] simranvaseer-qasource commented on #133828
Hi @criamico
We have created **08** UI test cases for this feature in the testrail.

- [Agent Binaries](https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=35484)

- Further we will implement the feature according to the testing guidelines provided and will update in the testrail.

Thanks

[2022-08-03 12:11] elasticmachine commented on #137969
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-03 12:21] #137191 closed

[2022-08-03 12:29] #135692 closed

[2022-08-03 12:30] suchcodemuchwow commented on #137934
This test has been failing multiple times. Skipping for now.

main adddf89

[2022-08-03 12:32] afharo commented on #137906
I'll go ahead and close it for now because https://github.com/elastic/kibana/pull/136395 changed these tests. Probably, the bot will reopen if the error occurs again.

[2022-08-03 12:37] joshdover commented on #137852
A couple interesting things here related to this happening on the `.security-tokens` index:
- This is only which is only used for authenticating against external realms. According to @ywangd, usage of this index should only happen on some external realms (eg. SAML, OAuth2). I think something fishy is happening in Kibana around this. We are using `Authorization: ApiKey <key>` in the test framework'

[2022-08-03 12:57] thomheymann commented on #132636
It is currently not possible to retrieve a user profile for a reserved/native user by username.

The only way we can retrieve a user profile currently is via their user profile uid (`GET /_security/profile/<uid>`).

However, we don’t have this information available since Elasticsearch doesn’t return it in the get user response (`GET /_security/user/<username>`).

The only other option I can think

[2022-08-03 13:05] #67554 closed

[2022-08-03 13:05] #67555 closed

[2022-08-03 13:06] #67556 closed

[2022-08-03 13:06] flash1293 commented on #137958
Calling `super.destroy` in
https://github.com/elastic/kibana/blob/42d396627e0eae74fada9483aafc44207b0b6a52/x-pack/plugins/lens/public/embeddable/embeddable.tsx#L878

is triggering another render in some cases. To avoid this, `this.isDestroyed` should be set before calling `super.destroy()`

[2022-08-03 13:17] #137327 closed

[2022-08-03 13:24] slhck opened #137979 "Long field names are shortened in Discover columns, but no way to differentiate them"
**Kibana version:** 8.3.3

**Elasticsearch version:** 8.3.3

**Server OS version:** Linux

**Browser version:** Chrome 103

**Browser OS version:** macOS 11

**Original install method (e.g. download page, yum, from source, etc.):** Docker image

**Describe the bug:**

When displaying multiple columns in a Discover Search result that originate from the same (nested) object, the column names are sho

[2022-08-03 13:32] dominiqueclarke commented on #137845
Fixed by https://github.com/elastic/kibana/pull/137828

[2022-08-03 13:33] #137883 closed

[2022-08-03 13:35] XavierM opened #137984 "[RAM] Bulk snooze on the rule list table"
As user, I will like to be able to add a snooze and cancel all the snooze to multiple rules.

On the server side, we need to add a new action in `[BulkEditOperation](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/rules_client/rules_client.ts#L233-L258)` like
[code]
and then we will adapt this [API](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/serv

[2022-08-03 13:35] elasticmachine commented on #137984
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 13:40] lucasfcosta commented on #135594
Post-FF testing LGTM.

I created the following monitor and was able to see its results correctly with the params being applied.

![Screenshot 2022-08-03 at 14 40 31](https://user-images.githubusercontent.com/6868147/182622473-ac476757-5154-43a7-a194-4863307fd2ab.png)

[2022-08-03 13:43] paulb-elastic commented on #137527
Going to close this, in favour of enhancing it in the Synthetics UI via https://github.com/elastic/observability-design/issues/238 (we'll keep an eye out on feedback to see if this becomes more of an issue we need to fix in Uptime).

[2022-08-03 13:43] #137527 closed

[2022-08-03 13:53] schnobbc-mirai commented on #137477
@mistic , I am not sure what to say other then it doesn't currently work, this is also effecting a clients deployment as well.

When the batch file is executed the value of KBN_PATH_CONF is empty and nothing exists in the variable.

With the quotes in place (What ships with Kibana for windows) the CONFIG_DIR variable doesn't get set.  When I remove the quotes CONFIG_DIR gets set properly.

[2022-08-03 14:02] #129261 closed

[2022-08-03 14:04] XavierM opened #137988 "[RAM] [META] Dynamic field selection in Alerts Table"
As user, I should be able to pick any fields from my alert index to show in the alert table as a column like the old alert table.

<img width="570" alt="image" src="https://user-images.githubusercontent.com/189600/182623845-6d579f36-cffe-4aa9-bd4d-2fa73bac3697.png">
<img width="1150" alt="image" src="https://user-images.githubusercontent.com/189600/182623885-b4086b57-4eaa-42df-acee-cf060da133a4.pn

[2022-08-03 14:04] elasticmachine commented on #137988
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 14:09] paul-tavares commented on #137570
Path forward:

- check if the --help argument is present, and if so, that no other argument is defined, else error

[2022-08-03 14:10] kevinlog commented on #137570
@paul-tavares and I discussed offline.

We'll make changes and we'll get the following cases:

- `isolate release` will error as it does today.
- `isolate release --help` will also error
- `isolate badargument --help` will error
- `isolate --comment "some comment" --help` will error

[2022-08-03 14:13] #86697 closed

[2022-08-03 14:19] #71369 closed

[2022-08-03 14:23] liza-mae opened #137991 "Dev Tools uncaught TypeError"
**Kibana version**: 8.5.0-SNAPSHOT

**Elasticsearch version**:  8.5.0-SNAPSHOT

**Server OS version**: Cloud

**Browser version**: Chrome

**Browser OS version**: Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Staging

**Description of the problem including expected versus actual behavior**:
When navigating in ```Dev Tools``` from ```Console``` to ```Search Profi

[2022-08-03 14:23] elasticmachine commented on #137991
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-08-03 14:28] elasticmachine commented on #137979
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-03 14:31] liza-mae commented on #130838
Have a PR to address when this test is run.

[2022-08-03 14:32] JiaweiWu opened #137992 "[RAM] [META] Global event log deliverable 2/3: Move run history log closer to rules + visualization/graph of error types"
As a user, I want to have the run history log moved closer to the rules table (another tab beside `rules`, `connectors`, `logs`). This means creating a new event log API RBAC to allow us to see the aggregated logs for ALL of the user's permissible rules (using consumers/producers).

To identify rules within the new table, we want to have a new column for the rule name.

Alongside moving the logs c

[2022-08-03 14:32] elasticmachine commented on #137992
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 14:40] hop-dev commented on #100413
@criamico not sure if this would be an enhancement or a bug, if I only have one agent binary download URL, would users expect the agent binary download command to be changed here?

<img width="866" alt="Screenshot 2022-08-03 at 15 34 09" src="https://user-images.githubusercontent.com/3315046/182636483-2aceee9f-489e-4526-a38a-ca5bda450228.png">

Here are my download URLs:
<img width="1278" alt="Scr

[2022-08-03 14:41] JiaweiWu opened #137995 "[RAM] [META] Global event log deliverable 3/3: Allow superusers to see global event logs and visualizations"
As a superuser, I want to view the run history table and visualizations of different types of errors completed in deliverable 2 (https://github.com/elastic/kibana/issues/137992) for all of my spaces. Doing so will help me to easily understand the health of my rules for all spaces. Currently, event log APIs that perform retrievals on event logs limit results to a user's current space. To allow supe

[2022-08-03 14:41] elasticmachine commented on #137995
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 14:47] paulb-elastic commented on #137961
@afharo with https://github.com/elastic/kibana/pull/137828 fixing https://github.com/elastic/kibana/issues/137845 for Uptime and Synthetics, is this still needed?

[2022-08-03 14:56] afharo commented on #137961
@paulb-elastic AFAIK, the agreement was to use the custom telemetry sender temporarily until Core provided a common API to ship event-based telemetry (which is available from 8.3).

The current implementation has some fundamental known bugs that are spread through all the implementations that were copied across (from Security Solutions to Uptime, osquery (#137963) and fleet (#137964)) while waitin

[2022-08-03 14:56] kertal commented on #137979
Duplicate of #135351 as was resolved by an upgrade of our design library EUI, will be part of 8.4. closing therefore

[2022-08-03 14:56] #137979 closed

[2022-08-03 14:56] #137845 closed

[2022-08-03 15:05] criamico commented on #100413
@hop-dev I think that this would be an enhancement, I don't remember seeing it in the design docs. As you suggested, it would make sense to have at least the user configured default value there, rather than the elastic default.

@nimarezainia what do you think? I can file an enhancement ticket for this.

[2022-08-03 15:11] juliaElastic commented on #114169
The data is now flowing to the new prod cluster in fleet-stats index:
https://stack-telemetry.elastic.dev/app/discover?#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-24h%2Fh,to:now))&_a=(columns:!(),filters:!(),index:ef855840-4c9e-11ec-836c-c31aec30ecbe,interval:auto,query:(language:kuery,query:''),sort:!(!(timestamp,desc)))

I've migrated Nima's and Jason's Fleet dashboard t

[2022-08-03 15:30] slhck commented on #137979
Thanks, that's good to know! 👍

[2022-08-03 15:48] #137267 closed

[2022-08-03 16:01] hop-dev opened #138008 "[Fleet] Minor Agent Binary Download Flyout Issues"
A few very minor issues I spotted in the agent binary download fly-out.

1. Title wording should say "Edit agent binary download host"
<img width="670" alt="Screenshot 2022-08-03 at 16 54 18" src="https://user-images.githubusercontent.com/3315046/182654147-2449af79-e9fe-47c0-aeaa-a50ea580467d.png">

2. Name validation allows only spaces as the name e.g "    " I think we should trim the input and t

[2022-08-03 16:06] hop-dev commented on #100413
@criamico I found a few very minor UI issues as part of my testing https://github.com/elastic/kibana/issues/138008

[2022-08-03 16:18] mikecote opened #138011 "Ability to bulk update API keys for alerting rules"
**Describe the feature:**
I would like to update API keys for my alerting rules in bulk from the rules table. Similarly to how the single update API key function works in the rule details page.

**Describe a specific use case for the feature:**
I have a bunch of rules that are failing to decrypt and I would like to update the API key for those rules so they can run again.

[2022-08-03 16:18] elasticmachine commented on #138011
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 16:26] kpollich commented on #137759
I spoke with @joshdover a bit offline, and I think we can avoid any involvement with CI or operations here by doing the following.

1. Expose a `usesStackAlignedExperimentalReleases` flag in `fleet_packages.json`
2. If `usesStackAlignedExperimentalReleases` is set for a bundled package, Kibana will fetch the latest compatible prerelease version from EPR when bundling, regardless of the `version` v

[2022-08-03 16:26] vitaliidm commented on #129294
@banderror, it has been fixed in https://github.com/elastic/kibana/pull/137593
I think we still want to make timeline properties `nullable` we have to open another ticket to address it and agreed upon the scope

@deepikakeshav-qasource , issue is ready for testing

[2022-08-03 16:42] dominiqueclarke opened #138012 "[User Experience] Unhandled error when no data"
**Kibana version**: 8.5.0, 8.4.0

**Original install method (e.g. download page, yum, from source, etc.)**: Cloud, local dev

**Description of the problem including expected versus actual behavior**:
When navigating to User Experience when no data is present, an error appears. This is observable in cloud and locally.
<img width="1776" alt="Screen Shot 2022-08-03 at 12 38 29 PM" src="https://user-i

[2022-08-03 16:42] elasticmachine commented on #138012
Pinging @elastic/uptime (Team:uptime)

[2022-08-03 16:49] JiaweiWu opened #138014 "[RAM] Implement a isSnoozed check"
Implement a `isSnoozed` function to determine if a rule is snoozed or will be snoozed on a given date using its recurrences.

Related issue: https://github.com/elastic/kibana/issues/137984

[2022-08-03 16:49] elasticmachine commented on #138014
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 16:56] EricDavisX opened #138015 "Connectors Stack Management tab shows 'Availability' labels that need clarification"
**Kibana version:** 8.4.0-BC1
 - Kibana commit - 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
 - Deployed over cloud prod

**Describe the bug:**
The Connectors page has a new 'Availability' column that needs some coordination to get the right/best labels for all feature areas.
It lists, at a minimum 'cases', 'alerting', 'uptime', 'security_solution' and maybe more.

**Steps to reproduce:**
1.  deploy

[2022-08-03 16:56] elasticmachine commented on #138015
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 16:58] yctercero commented on #137823
Will revisit use of `name` for data views in 8.5.

[2022-08-03 16:59] cjcenizal commented on #137991
Looks like this might have been introduced in https://github.com/elastic/kibana/pull/136268

[2022-08-03 17:08] #134122 closed

[2022-08-03 17:10] stephmilovic opened #138016 "[ResponseOps] Cases Configure, Connector form reverts on Edit > Save > Test > Edit"
**Kibana version:**
`main`, `8.4`

**Describe the bug:**
There is a bug that occurs on connectors in the Cases Configure view but not in the Management > Connectors view. In the Cases Configure view, when editing a connector, hitting Save, then going to test tab, then back to the edit view, it appears the save has not applied. You need to close the flyout and reopen to see that your change has bee

[2022-08-03 17:10] elasticmachine commented on #138016
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 17:10] elasticmachine commented on #138016
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-08-03 17:11] mikecote commented on #138015
I can confirm there's only 4 available values currently:
- Uptime
- Alerting
- Security Solution
- Cases

We may be able to remove Uptime from the list. If so, this would leave "Security Solution" as the odd one. If we can find a new name for this one, we could be ok. Something like "Security rules" or "Detection Engine" or something else? I'm hoping we don't have to get too specific as I could se

[2022-08-03 17:13] #137660 closed

[2022-08-03 17:20] marshallmain commented on #135511
@karanbirsingh-qasource we're still trying to reproduce this issue locally in order to fix it. To help with that, could you share the information from the "Request" and "Response" tabs (shown below) in the "Inspect" modal for the rule preview table when this issue occurs?
![image](https://user-images.githubusercontent.com/55718608/182670118-d3e8e1de-9c2b-4f78-92d7-2fbe9b2f022b.png)

[2022-08-03 17:32] #132112 closed

[2022-08-03 17:50] tylersmalley commented on #136562
Realize this is from a few weeks ago... but could an alternative solution for this test be to use a space and delete it?

[2022-08-03 17:55] marshallmain commented on #135511
Also, if there is a cloud cluster with data that shows this issue that you could share with us that would be enormously helpful.

[2022-08-03 18:03] spalger commented on #136562
Does deleting a space clean up their saved objects in bulk? That sounds like a reasonable idea to me

[2022-08-03 18:04] #129344 closed

[2022-08-03 18:27] #137470 closed

[2022-08-03 18:32] dedemorton commented on #137639
@juliaElastic Writers who are knowledgeable about the specific product area should be included in design reviews. I think this happens sometimes, but it feels inconsistent.

[2022-08-03 18:37] elasticmachine commented on #137554
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-03 18:42] EricDavisX commented on #136349
I see this as fixed.  tested in 8.4 BC1 closing out

[2022-08-03 18:42] #136349 closed

[2022-08-03 18:53] EricDavisX opened #138035 "[RAM] Snooze status isn't always shown on rule detail page"
**Kibana version:** 8.4.0-BC1
 - Kibana commit - 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
 - Deployed over cloud prod

**Browser version:**
Chrome on macOS - Version 102.0.5005.61 (Official Build) (x86_64)
Same behavior on Firefox on macOS

**Describe the bug:**
When user snoozes a rule using the 'common' settings or applies a custom one-time snooze it is not reflected on the rule detail page.   I

[2022-08-03 18:53] elasticmachine commented on #138035
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 18:53] htwing opened #138036 "[Security Solution] K8s refresh query does not work when session view is opened (Interactive=True, does not shown when running new commands from the terminal"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
K8s refresh query does not work when session view is opened (Interactive=True, does not shown when running new commands from the terminal

Steps to reproduce:

1. Setup a deployment in staging
2. BC

[2022-08-03 18:55] EricDavisX commented on #136349
just fyi - found this while testing around this fix: https://github.com/elastic/kibana/issues/138035

[2022-08-03 18:56] dhurley14 commented on #137709
The exported rule is querying the default index patterns with a query of `process.name: *`. Since I don't know what was used to populate the data for the default index patterns and I have not been able to reproduce the issue could you possibly check if adding an exception for `process.name` yields any autosuggested results?

[2022-08-03 19:02] kevinlog commented on #137749
@kerwanp

Looking at the Agent logs, it looks like you may already have an Endpoint running on that host.  Do you know if that was the case previously?  Or is this a new Host where you've never installed the Agent/Endpoint?

[code]

@ferullo @softengchick @nfritts - do you know what could be happening from the provided logs?  Anything else we should get for triage?

[2022-08-03 19:06] dhurley14 commented on #137709
Rule I used locally with auditbeat data from local:

<img width="673" alt="rule_definition" src="https://user-images.githubusercontent.com/915763/182689091-cfa9c29b-858d-47bf-a86e-1d52523a7d8b.png">

Trying to reproduce:

![add_exceptions_alerts_table](https://user-images.githubusercontent.com/915763/182689182-b9420137-fd86-42d1-baa0-ca9bf306d33a.gif)

[2022-08-03 19:06] EricDavisX commented on #134086
Thanks Christos I agree.  It does seem a special case, too.  most connectors will have *some authentication or secret.  I wonder if the Index connector, Server Log will show this too - it may be a minor bug to be fixed, but not urgent I'd say.

[2022-08-03 19:12] kibanamachine opened #138039 "Failing test: Jest Tests.x-pack/plugins/apm/server/routes/services/annotations - getServiceAnnotations returns stored annotations when derived annotations throws RequestAbortedError"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19384#018264f6-2e45-4659-ad0f-7f105de2d9fb)

[2022-08-03 19:12] elasticmachine commented on #138039
Pinging @elastic/apm-ui (Team:apm)

[2022-08-03 19:14] ferullo commented on #137749
Hi @kerwanp . Thanks for checking out Endpoint and Cloud Security! It looks like you're trying to install the integration on an Agent running in Kubernetes. That's why the install is failing -- that's not supported with an 8.3 Agent/Endpoint. We do understand the importance of it though and are working toward support for it.

[2022-08-03 19:17] kibanamachine commented on #135238
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19383#018264f3-08d8-42f4-8717-3988764b5ddc)

[2022-08-03 19:17] kibanamachine commented on #135239
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19383#018264f3-08d8-42f4-8717-3988764b5ddc)

[2022-08-03 19:17] kibanamachine commented on #135240
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19383#018264f3-08d8-42f4-8717-3988764b5ddc)

[2022-08-03 19:29] htwing opened #138040 "[Security Solution] K8s logical view field sorting does not work"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
K8s logical view field sorting does not work (for example, Interactive Sort True-False)

Steps to reproduce:

1. Setup a deployment in staging
2. BC1 docker artifacts. Notes: hit some issues, built

[2022-08-03 19:33] kibanamachine opened #138041 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/index_lifecycle_management/feature_controls/ilm_security·ts - Index Lifecycle Management app feature controls security "before all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19384#018264f6-2ef8-44ee-b409-2ebfe8779d3f)

[2022-08-03 19:40] htwing opened #138042 "K8s entry user is blank (---) for interactive session"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
K8s entry user is blank (---) for interactive session

Steps to reproduce:

1. Setup a deployment in staging
2. BC1 docker artifacts. Notes: hit some issues, built the images off 8.4 branch instead

[2022-08-03 19:45] #134918 closed

[2022-08-03 19:45] #137567 closed

[2022-08-03 19:50] gchaps commented on #137639
+1 to what DeDe said.  Writers who are knowledgeable about the specific product area should be included in design reviews and on PRs that include copy.

The summary section of this issue includes a good description of what needs to change.  I would like to add one more suggestion.  Can the title be more specific?  Add agents to your hosts?

@dedemorton happy to work with you on the copy and ensure

[2022-08-03 19:51] michaelolo24 commented on #137435
@fionera thanks for pointing this out.  From what I can tell, currently we are expecting `fields` to be provided to generate the reason statement, but should default to the `_source` doc if that isn't available. We'll get a fix in, thanks again!

[2022-08-03 19:58] pmuellr commented on #134086
Concur with Christos thought, and I think email is a special case where the connector may or may not have secrets, depending on a config value.  And execute fails for imported connectors that don't have secrets.

I tried the same export/import with server log, and it worked fine.  Perhaps because it doesn't define a validator for config/secrets?  Since the index connector has config, but no secret

[2022-08-03 20:02] htwing opened #138045 "K8s container image does not get updated when container image got changed in yaml file (after kubectl delete and apply)"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
K8s container image does not get updated when container image got changed in yaml file (after kubectl delete and apply)
Steps to reproduce:

1. Setup a deployment in staging
2. BC1 docker artifacts.

[2022-08-03 20:02] dhurley14 commented on #137709
Reproduced it in the unified search bar in other places of the security solution. I don't believe this is particular to rule exceptions. Not sure if this is a known issue elsewhere in the app.

cc: @yctercero @rylnd

[2022-08-03 20:06] #137080 closed

[2022-08-03 20:13] kerwanp commented on #137749
Thanks a lot for your fast reply !

@kevinlog No it is a fresh deployment

@ferullo I never used the Security part before so I do not know the features and the usages yet.
Shoud I install an Elastic agent also on the hosts (kubernetes nodes) to run the Endpoint and Cloud Security on them ?

[2022-08-03 20:18] yctercero commented on #136942
Ready for QA check - merged into main and backported to 8.4

[2022-08-03 20:23] andrewctate commented on #137769
I know this one seems trivial, but we may only be able to support part of this ask. The good news is that it is easy to give the prefix a helpful initial value based on the dimension name.

However, keeping it in sync whenever the dimension name changes is not currently possible because of a boundary in the code between the visualization and the datasource classes. I.e. there's currently no way fo

[2022-08-03 20:26] lukeelmers commented on #78351
@lizozom Yeah, it's still slow. In theory we got a 2x-3x performance improvement from the upgrade in https://github.com/elastic/kibana/pull/99899, but otherwise we haven't been actively working on this, and it isn't currently on the near-term roadmap.

If we want to prioritize this, my recommendation would be that we start by gathering a few scenarios where this is becoming a significant bottlenec

[2022-08-03 20:26] kibanamachine opened #138050 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/bulk_edit·ts - alerting api integration spaces only Alerting bulkEdit should not overwrite internal field monitoring"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19390#0182652e-1089-40c2-9391-86f688684df1)

[2022-08-03 20:27] elasticmachine commented on #138050
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 20:34] klacabane opened #138052 "[Stack Monitoring] Create pre-configured elastic-package environment"
### Summary

We can have a shareable configuration (maybe [profiles](https://github.com/elastic/elastic-package#elastic-package-profiles)?) that can be launched with elastic-package to set all the stack monitoring components with their corresponding integrations already installed and running on the agent. We end up with a SM UI loaded with data and ready to debug

This would be required in additio

[2022-08-03 20:34] elasticmachine commented on #138052
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-03 20:40] klacabane commented on #138052
@crespocarlos this would be an extension of your approach to set kibana logs in https://github.com/elastic/integrations/pull/3622, do you see any blockers to get everything setup in a profile ?

[2022-08-03 20:54] spalger commented on #138039
This has failed 4 PRs in the last three weeks and this is the first failure on main, skipping

main/8.5: https://github.com/elastic/kibana/commit/6f439ebd8847adf854e887c072275698cf85b96b

[2022-08-03 20:55] nreese commented on #87781
Closed by https://github.com/elastic/kibana/pull/132257 in 8.4.0

https://github.com/elastic/kibana/pull/132257 upgraded Kibana to EUI v58.0.0. That fixed issue by switching from `eui-textOverflowWrap` to `eui-textBreakWord`

eui-textOverflowWrap is defined as
[code]

eui-textBreakWord is defined as
[code]

https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ defin

[2022-08-03 20:55] #87781 closed

[2022-08-03 20:59] elasticmachine commented on #138041
Pinging @elastic/kibana-security (Team:Security)

[2022-08-03 20:59] spalger commented on #138041
This test first failed on https://github.com/elastic/kibana/pull/136605, it was merged 6 days ago and in the last 3 days this test has failed on 4 different PRs and now on main. It's possible this is related to some other change, but seems suspicious. cc @elastic/kibana-core

[2022-08-03 21:00] nickpeihl commented on #35257
I wonder if we should modify the **Tooltip fields** panel to look more like this? Apologies for the font size discrepancies in my mockup.

![Maps Tooltipstooltips](https://user-images.githubusercontent.com/1638483/182710017-d62bf25d-970f-4554-9337-b1ba3d6d56f8.png)

Should we also consider using the **Tooltip fields** panel for Clusters, grids, and hex layers? Currently we put all Metrics in the t

[2022-08-03 21:03] spalger commented on #135238
This issue shouldn't be ignored, we need to get this test migrated to use the kbnArchiver/Saved Objects API instead of esArchiver. @elastic/kibana-qa can we get this added to the list of suites to migrate?

[2022-08-03 21:04] spalger commented on #135239
Side effect of https://github.com/elastic/kibana/issues/135238

[2022-08-03 21:04] #135239 closed

[2022-08-03 21:04] lukeelmers commented on #129589
Last time we floated the idea of [serving static assets over a CDN](https://github.com/elastic/kibana/issues/72880#issuecomment-1029103683), we got strong feedback that this wasn't something we should be pursuing at this time.

I'm assuming you're talking about our http lifecycle hooks here? The only plugins I'm aware of which are using those are security/spaces/licensing (all in xpack), and I thi

[2022-08-03 21:04] spalger commented on #135240
Side effect of https://github.com/elastic/kibana/issues/135238

[2022-08-03 21:04] #135240 closed

[2022-08-03 21:05] stephmilovic commented on #137701
related: https://github.com/elastic/kibana/issues/137702

[2022-08-03 21:07] nreese commented on #35257
The problem is not with "Documents" layer because you can disable tooltips by not having any fields selected. The problem is with "Clusters" layer. All metrics are automatically displayed in a tooltip and there is no way to not display a tooltip. This becomes a problem since you could have clusters under every point on a map.

[2022-08-03 21:08] spalger commented on #138050
Based on the Kibana logs I'm guessing this is a race condition of some sort
[code]

[2022-08-03 21:20] htwing opened #138056 "K8s entry type shown "unknown" for process.entry_leader.executable"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
K8s entry type shown "unknown" for process.entry_leader.executable, and the session_leader is /usr/bin/containerd-shim-runc-v2

Steps to reproduce:

1. Setup a deployment in staging
2. BC1 docker ar

[2022-08-03 21:30] EricDavisX opened #138058 "Rule run errors are harder to see now"
**Kibana version:** 8.4.0-BC1
 - Kibana commit - 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
 - Deployed over cloud prod

**Describe the bug:**
In 8.3.X we have an 'Error tab' on the rule detail page that allows the user to see only the errors that have occured.  As of 8.4 it looks like the tab is removed (intentionally) in favor of an in-line error icon on the messages column, but this will actually

[2022-08-03 21:31] elasticmachine commented on #138058
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-03 21:31] EricDavisX commented on #138058
@XavierM @JiaweiWu @mdefazio @shanisagiv1 what do you think?

[2022-08-03 21:40] #44620 closed

[2022-08-03 21:41] tsullivan commented on #135522
Also, the `name` field is completely missing from the API documentation: https://github.com/elastic/kibana/blob/8.4/src/plugins/data_views/common/data_views/data_view.ts#L145

[2022-08-03 21:43] peluja1012 commented on #126087
Hi @vitaliidm, is this issue fixed your recent PR here https://github.com/elastic/kibana/pull/136418

[2022-08-03 21:46] lukeelmers commented on #50654
This has been sitting without activity for quite some time now, and all tasks have been addressed other than dynamic assets. As mentioned in https://github.com/elastic/kibana/issues/50654#issuecomment-615180431, canvas is working around this, so I'm going to close this for now. We can open a new issue in the future if more use cases for dynamic assets come up.

[2022-08-03 21:46] #50654 closed

[2022-08-03 21:49] peluja1012 commented on #132213
Closing this bug as the tour referenced was removed in 8.3 https://github.com/elastic/kibana/pull/133099

[2022-08-03 21:49] #132213 closed

[2022-08-03 21:51] lukeelmers commented on #14791
Going to close this issue, as I believe it will be superseded by the [per-user profiles & settings](https://github.com/elastic/kibana/issues/17888) project, for which there are already plans to revisit the UX of advanced settings. cc @legrego @arisonl

[2022-08-03 21:51] #14791 closed

[2022-08-03 21:58] lukeelmers commented on #17939
Looks like we intended to close this in favor of https://github.com/elastic/kibana/issues/81130, but forgot to do so. Closing now.

[2022-08-03 21:58] #17939 closed

[2022-08-03 22:10] #20820 closed

[2022-08-03 22:12] peluja1012 commented on #126393
Moving to the Alerts board, @marshallmain, as we've had discussions about this topic.

[2022-08-03 22:13] dplumlee commented on #131118
Hi @deepikakeshav-qasource can you test this on the latest `8.4` BC and see if it's still occurring? Thanks!

[2022-08-03 22:17] kibanamachine commented on #138050
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19403#01826594-2429-49ca-a46f-b812a5129558)

[2022-08-03 22:25] peluja1012 commented on #90719
Fixed by https://github.com/elastic/kibana/pull/132247

[2022-08-03 22:25] #90719 closed

[2022-08-03 22:25] peluja1012 commented on #100842
Fixed by https://github.com/elastic/kibana/pull/132247

[2022-08-03 22:25] #100842 closed

[2022-08-03 22:26] tsullivan commented on #135522
Here's a really good example of API documentation and request body fields: https://www.elastic.co/guide/en/kibana/master/cases-api-create.html#_request_body_2

[2022-08-03 22:30] peluja1012 commented on #136758
I think this bug is related https://github.com/elastic/kibana/issues/137969

[2022-08-03 22:32] ferullo commented on #137749
Yeah, if you install Agent on the host then you should be successful. Endpoint and Cloud Security will operate from the host's viewpoint. As I mentioned, we understand that isn't necessarily how you'd want to install long term and we're working to improve that.

It's also worth mentioning that Debian 11 is not yet officially supported (https://www.elastic.co/support/matrix) but we also aren't awar

[2022-08-03 22:41] htwing opened #138061 "K8s missing command when session leader == group leader"
Kibana version:
8.4-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
K8s missing command when session leader == group leader, for example, "date" was missing in session view

Steps to reproduce:

1. Setup a deployment in staging
2. BC1 docker artifacts. Notes: hit so

[2022-08-03 22:55] tsullivan commented on #135522
@mattkime Should `refresh_fields` still be mentioned in the documentation? Didn't that only apply when the field list was stored in the saved object, which it no longer is?

[2022-08-03 22:56] elasticmachine commented on #134553
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 22:56] elasticmachine commented on #134553
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-03 22:57] elasticmachine commented on #133983
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 22:58] elasticmachine commented on #132001
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-03 23:08] #131101 closed

[2022-08-03 23:08] #132480 closed

[2022-08-03 23:09] #133693 closed

[2022-08-03 23:58] #136718 closed

[2022-08-04 00:15] opauloh commented on #138036
Hi @htwing, thanks for bringing this up!

As of today, the refresh button on the top of the k8s page works apart from the Session Viewer refresher button, which is intentional for keeping a cache of the Session View data on the Frontend side, and erasing the cache on every request could also lead to a degradation of the user experience. The recommended way of refreshing Session View as now is by u

[2022-08-04 00:39] kibanamachine commented on #50373
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19409#01826617-4af3-40c0-a47b-29896f016228)

[2022-08-04 00:51] spalger commented on #138050
/skip

[2022-08-04 00:51] kibanamachine commented on #138050
Skipped

8.4: 55665bcc425afa868ec8a690ca8dfd35c64d82c5
main: d4756e3091dede93a7f43ebb98d3b1d262ec67df

[2022-08-04 00:53] spalger commented on #50373
This new failure is caused by using esArchiver to manage the .kibana index, we'll need to migrate this to the kbnArchiver to prevent this flakiness. Cc @elastic/kibana-qa

[2022-08-04 01:12] marshallmain commented on #135511
I was able to reproduce this issue in scenarios where the client system clock is set behind the Kibana server clock. For example, if the client clock is 5 minutes behind the server clock, when the client queries for preview alerts that were created prior to `now` it's filtering out the preview alerts since `now` on the client is actually 5 minutes before the `@timestamp` values of the preview aler

[2022-08-04 01:13] #136910 closed

[2022-08-04 01:29] peluja1012 commented on #97607
Fixed by https://github.com/elastic/kibana/pull/132247

[2022-08-04 01:29] #97607 closed

[2022-08-04 01:52] kibanamachine commented on #132159
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19414#01826658-0ce3-4c71-b909-0538d2030d47)

[2022-08-04 02:11] #126306 closed

[2022-08-04 02:20] mistic commented on #132159
Skipped.

main: [eb72cdd](https://github.com/elastic/kibana/commit/eb72cdd8ae7cee1f8e1aee729e2c6d46a2a4a117)

[2022-08-04 05:37] amolnater-qasource opened #138073 "[Fleet]: Flickering `Create policy` and then blank field is shown under Add Fleet Server>Advanced when no Fleet Server policy exists."
**Kibana version:**  8.4 BC-2 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 BC2 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab>Add Fleet Server flyout.
3. Navigate to Advanced tab and observe flickering  `Create policy` and then blank field i

[2022-08-04 05:37] elasticmachine commented on #138073
Pinging @elastic/fleet (Team:Fleet)

[2022-08-04 05:38] amolnater-qasource commented on #138073
@manishgupta-qasource Please review.

[2022-08-04 05:38] elasticmachine commented on #127709
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #128851
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #129955
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #129958
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #130340
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #130451
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #130641
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #130753
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #132489
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #134645
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #136772
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #136987
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #137218
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #137435
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:38] elasticmachine commented on #137546
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 05:41] elasticmachine commented on #118166
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #122554
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #127855
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #129521
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #130608
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #131383
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #131427
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #133983
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #136784
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #137153
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 05:41] elasticmachine commented on #137422
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 06:04] deepikakeshav-qasource opened #138074 "[Security Solution] Incorrect count of alerts are displayed under new term rule after rule execution"
**Describe the bug**
Incorrect count of alerts are displayed under new term rule after rule execution

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Terms for example `cmd` process should be exist with different time zone (1st Aug, 3rd Aug)

**Steps to Reproduce**
1. Navigate to security > Rules page
2. Add the following configuration to the new term rule
3. Observe that

[2022-08-04 06:04] elasticmachine commented on #138074
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 06:17] manishgupta-qasource commented on #138073
Secondary review for this ticket is Done

[2022-08-04 06:18] axw commented on #137759
@kpollich I think it's reasonable. I'd say it's not _perfect_, as it's depending on something outside of the unified release process, which could break this assumption

... but I think this is better than what we have today, and addresses our immediate needs. I'd say we should go with this, and if we need to we could come back to the more complicated CI pipeline orchestration.

[2022-08-04 06:31] stratoula commented on #129258
Also closed by https://github.com/elastic/kibana/pull/136544

[2022-08-04 06:31] #129258 closed

[2022-08-04 06:37] stratoula opened #138075 "[Lens] Move settings from the appearance section to the data section"
**Describe the feature:**
We want to move the following settings, currently located in the appearance section to the data section
<img width="450" alt="image" src="https://user-images.githubusercontent.com/17003240/182779496-f93f2463-5b62-4d39-af07-f139b8da58ce.png">

1. Collapse by
2. Group by this field first

Here are the positions we want to move them

<img width="984" alt="image" src="https:/

[2022-08-04 06:37] elasticmachine commented on #138075
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-04 06:42] stratoula opened #138076 "[Lens] Make the drag&drop settings being draggable only by the drag handle"
**Describe the feature:**

For the multiple "Fields" interface that appears when selecting the "Top value" function, it looks like the entire row is draggable (drag handle, field selector, delete button). We want to change this so that only the drag handle icon can be used to drag, rather than the entire row.

There are also the:
- filters drag and drop
- custom intervals drag and drop

<img width

[2022-08-04 06:42] elasticmachine commented on #138076
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-04 06:51] azasypkin commented on #137852
When Kibana receives a request with the `Authorization: ApiKey xxx` HTTP header, the only thing it does during authentication step is [quering Elasticsearch `_authenticate` endpoint](https://github.com/elastic/kibana/blob/0fdf99bbab7504e0cdd28b096a95af573bd9df63/x-pack/plugins/security/server/authentication/providers/http.ts#L61-L89) to retrieve user information. I cannot think of anything on the

[2022-08-04 06:56] elasticmachine commented on #138041
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-08-04 07:01] azasypkin commented on #137279
Test stability was improved in https://github.com/elastic/kibana/pull/137553

[2022-08-04 07:01] #137279 closed

[2022-08-04 07:02] azasypkin commented on #136918
Didn't re-occur in two weeks, closing.

[2022-08-04 07:02] #136918 closed

[2022-08-04 07:15] juliaElastic commented on #137938
From the error message it seems to be introduced by https://github.com/elastic/kibana/issues/100413
cc @criamico

[2022-08-04 07:37] vitaliidm commented on #126087
yes, correct @peluja1012

[2022-08-04 07:42] shanisagiv1 commented on #138015
I would suggest looking at it from the end state when there are connectors that are supported in all solutions. My suggestion is the following list:
- Security Cases
- Security Rules
- Observability Rules
- Observability Cases
- Stack Rules
- Stack Cases
- Other particular solutions (like Uptime)

If we agree on that, the question is if we can break "security solution" down to the 2 above (hope we

[2022-08-04 08:04] semd commented on #137182
This is not related to the "external alerts" checkbox, it is happening in all alerts tables. I guess it is a tGrid bug.
cc @michaelolo24

https://user-images.githubusercontent.com/17747913/182796036-52c80530-bb61-40b6-b541-7461e33a0971.mov

[2022-08-04 08:26] #137705 closed

[2022-08-04 08:32] muskangulati-qasource opened #138080 "[Security Solution] The message hint received contains only the first word of the command"
**Description:**
The message hint received contains only the first word of the command

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the three dots for an endpoint
3. Click on the launch r

[2022-08-04 08:32] elasticmachine commented on #138080
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 08:33] elasticmachine commented on #138080
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-04 08:33] banderror commented on #137969
Might want to address https://github.com/elastic/kibana/issues/137428 as part of fixing this bug.

[2022-08-04 08:34] muskangulati-qasource commented on #138080
@manishgupta-qasource please review!

[2022-08-04 08:37] manishgupta-qasource commented on #138080
Reviewed & assigned to @kevinlog

[2022-08-04 08:43] mtojek commented on #134321
Hi,

I just wanted to highlight in this thread too that currently, the Endpoint package violates the package-spec. We temporarily acknowledge the bad package format, but we will stop doing it soon. When we enforce validation, it won't be possible to publish the package (hard blocker).

Kindly please to prioritize this issue accordingly.

[2022-08-04 08:45] mrugankatdure opened #138081 "CSV file download takes a lot of time in v7.17"
Hi,

I recently upgraded Kibana and elastic version from 7.6 to 7.17 via a rolling upgrade and observed that the CSV download is taking
a lot of time compared to what it was in 7.6.

Could anyone help on this?.

Thanks.

[2022-08-04 08:53] muskangulati-qasource opened #138082 "[Security Solution] No distinction between the use of help and --help if used with another action"
**Description:**
No distinction between the use of help and --help if used with another action

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the three dots for an endpoint
3. Click on the

[2022-08-04 08:53] elasticmachine commented on #138082
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 08:53] elasticmachine commented on #138082
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-04 08:54] muskangulati-qasource commented on #138082
@manishgupta-qasource please review!

[2022-08-04 08:55] prachigupta-qasource opened #138083 "[Fleet]: User is able to add duplicate tags to Agents"
**Kibana version:** 8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]

**Preconditions:**

- 8.4 Kibana cloud environment should be available.
- An Agent policy should be created.

**Steps to reproduce:**

1. Extract the artifacts and Navigate to the artifacts location on Windows PowerShell
2. Run the below commands on Windows PowerShell t

[2022-08-04 08:55] elasticmachine commented on #138083
Pinging @elastic/fleet (Team:Fleet)

[2022-08-04 08:55] prachigupta-qasource commented on #138083
@manishgupta-qasource Please review

[2022-08-04 08:57] manishgupta-qasource commented on #138083
Secondary review for this ticket is Done

[2022-08-04 08:57] manishgupta-qasource commented on #138082
Reviewed & assigned to @kevinlog

[2022-08-04 09:00] flash1293 commented on #137769
@andrewctate We have a similar kind of problem with the axis names in xy - the way it's solved is the following:
* As long as there is no prefix configured for the secondary metric, the name of the table column is used as default (the renderer has access to this information)
* If a custom name is set, it's passed to the expression argument from the visualization state (which can be empty string as

[2022-08-04 09:02] #137946 closed

[2022-08-04 09:03] sophiec20 commented on #138058
This is currently by design as we have provided a richer UX, which consolidates info per rule run, rather than a basic "view log file" experience. It is an interesting insight however, describing that a user can now only view errors within the same timeframe as the successes. We can consider if this has implications in 8.5.

[2022-08-04 09:03] stratoula opened #138084 "[Lens] Multiple percentiles with terms aggregation don't work"
**Describe the bug:**
This happens in main but most probably in 8.4 too.

**Steps to reproduce:**
1. Create a Lens chart with 2 percentile functions
2. Add a terms aggregation
3. Chart is broken

<img width="1254" alt="image" src="https://user-images.githubusercontent.com/17003240/182807000-ec396e87-4b29-480c-af69-440251526ae5.png">

**Expected behavior:**
It should work. In 8.2 and 8.3 works fine

[2022-08-04 09:03] elasticmachine commented on #138084
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-04 09:17] MadameSheema commented on #126087
@deepikakeshav-qasource @karanbirsingh-qasource can you please validate this on latest BC? Thanks!

[2022-08-04 09:21] sqren commented on #138039
@cauemarcondes This looks related to your change in https://github.com/elastic/kibana/pull/135752. Mind taking a look?

[2022-08-04 09:21] #130753 closed

[2022-08-04 09:30] harshitgupta-qasource opened #138087 "[Security Solution] The refresh time should persist and be saved on closing flyout for the action log panel until we close the console."
**Description:**
The refresh time should persist and be saved on closing flyout for the action log panel until we close the console.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Endpoint should be Deployed.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
2. Ope

[2022-08-04 09:30] elasticmachine commented on #138087
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 09:30] elasticmachine commented on #138087
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-04 09:30] harshitgupta-qasource commented on #138087
@manishgupta-qasource Please review

[2022-08-04 09:33] gvnmagni commented on #137769
I had the chance to talk with @markov00 about empty tiles and title+subtitle for panels (when we have a break-down-by). I'm posting here a couple of images as an example but I wanted to mention that he will probably reach out to align details between Lens and Charts

![Frame 116](https://user-images.githubusercontent.com/18484576/182814418-51760ce6-5598-4c3b-8430-fc6053c8750b.jpg)

![Frame 125](ht

[2022-08-04 09:47] afharo opened #138089 "Remove/change Internet Explorer deprecation warning"
According to our [Support Matrix](https://www.elastic.co/support/matrix) we stopped officially supporting IE on 7.9.x. However, our warning still claims that _it will be dropped_:

https://github.com/elastic/kibana/blob/08a32c2ae5f61a2bd45aa54e7bef9fa71016b4c8/src/core/public/chrome/chrome_service.tsx#L178-L197

Should we change the text to remind users that it is not officially supported?
Or shou

[2022-08-04 09:47] elasticmachine commented on #138089
Pinging @elastic/kibana-core (Team:Core)

[2022-08-04 09:48] afharo commented on #138089
Tentatively labeling it as a `bug` because the message does not match the actual expectation.

[2022-08-04 09:49] xcrzx commented on #137969
It could also be related to https://github.com/elastic/kibana/issues/136957. We might want to rewrite the rule import call to a `react-query` mutation with proper cache invalidation.

[2022-08-04 09:50] flash1293 commented on #137769
@gvnmagni I'm not sure I fully get how empty tiles are handled - if there are multiple empty tiles will they all be rendered with the black line in the bottom right? Like for the case with a fully empty 3x2 grid

[2022-08-04 09:54] shanisagiv1 commented on #138058
I agree it's easy to miss errors with the new implementation. especially when there are several on each run.
What was the initiative behind this update? Consolidating the errors per rule? Is there a GH issue for this update? Thanks

What does the "Failure" status stand for (prior to the update)?
![Screen Shot 2022-08-04 at 12 50 20](https://user-images.githubusercontent.com/107910029/182818318-486

[2022-08-04 10:00] gvnmagni commented on #137769
Yes exactly, each empty tile would have that little line suggesting that there should be something but given the filters (or any other reason) we don't have it. We can see a difference with the last couple of tiles into the image that has no border, this case is when we have a 5x3 grid but we only show top 13 values and we obtain empty space that would never be filled, it's not a matter of filters

[2022-08-04 10:04] MadameSheema commented on #137660
@deepikakeshav-qasource can you please validate the fix of this issue on current BC?? Thanks!

[2022-08-04 10:07] MadameSheema commented on #137705
@karanverma-qasource please validate the fix of this issue on BC3, thanks!

[2022-08-04 10:09] banderror commented on #137935
Could be caused by the same reasons as this one: https://github.com/elastic/kibana/issues/136138

[2022-08-04 10:11] MadameSheema commented on #138074
@deepikakeshav-qasource can you please validate if this is still an issue on BC2?

[2022-08-04 10:12] MadameSheema commented on #136942
@samratbhadra-qasource please validate this on 8.4.0BC2, thanks!

[2022-08-04 10:16] manishgupta-qasource commented on #138087
Reviewed & assigned to @kevinlog

[2022-08-04 10:32] fgabolde opened #138092 "[APM] Visualization for large transactions originating from batch jobs"
Currently, the APM Trace sample view is nigh unusable for large transactions, even when keeping the max spans to 500. For batch jobs, where the number of such spans can be higher, we have to rely on metrics instead of traces, but metrics are generally not the complete picture.

Large transactions are slow to render, we lose a lot of spans (because of the 500 span limit; is this because of Kibana d

[2022-08-04 10:34] #136021 closed

[2022-08-04 10:37] kibanamachine commented on #122820
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19427#0182683a-a472-4503-aeef-fc0ccf618110)

[2022-08-04 10:37] kibanamachine commented on #122821
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19427#0182683a-a472-4503-aeef-fc0ccf618110)

[2022-08-04 10:39] criamico commented on #137938
I was able to reproduce this issue with the same steps, the error is coming from the `api/fleet/agents/setup` endpoint:
![Screenshot 2022-08-04 at 12 08 51](https://user-images.githubusercontent.com/16084106/182822667-c45ef40e-8316-496a-835f-053d57e04a27.png)

I think that the problem comes from here: https://github.com/elastic/kibana/blob/6325eb8af972d0737ef734510594f5175661b83f/x-pack/plugins/fl

[2022-08-04 11:15] deepikakeshav-qasource commented on #138074
Hi @MadameSheema ,

We have validate this issue on **8.4.0 BC2** and observe that issue is still occurring

Please find the below testing details:

**Build info**

[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/182833644-a1edd80c-c2d4-4704-8745-36631bd4a277.mp4

Thanks!!

[2022-08-04 11:18] kevinlog commented on #138080
@muskangulati-qasource this is expected because we will always interpret the first word as the command and everything else as parameters.  The message still informs the user that the first word is not a valid command.  We can close this one

[2022-08-04 11:23] kevinlog commented on #138087
@harshitgupta-qasource thanks for filing this issue.

We had the same thought when initially implementing this, however, we decided that the user would probably want to see the latest data each time they open the flyout since in the console, they're in an active investigation session.  We can close this since it's currently working as expected

[2022-08-04 11:27] machadoum opened #138096 "[Security Solutions] Show toast when redirecting from legacy URL's"
Show a toast similar to one in the following image when the user is redirected from a legacy URL.
![Image](https://user-images.githubusercontent.com/1490444/182834270-ba443463-ffa4-451a-8e15-c61ce6c84288.png)

Legacy urls:
* `app/siem` => https://github.com/elastic/kibana/blob/6efef0496077f4e61d49e4e43f75941ff3d98d9e/x-pack/plugins/security_solution/public/helpers.tsx#L64
* ` /hosts/<hostname>/<ta

[2022-08-04 11:28] elasticmachine commented on #138096
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-08-04 11:28] elasticmachine commented on #138096
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 11:35] klacabane commented on #138052
For the package installation we can create a custom profile with `elastic-package profiles create stack_monitoring --from default` and add the integrations in the ~/.elastic-package/profiles/stack_monitoring/stack/kibana.config.8x.yml`, both under the xpack.fleet.packages and xpack.fleet.agentPolicies[1].
It doesn't look like there is an ootb way to distribute these profiles, I'm thinking we could

[2022-08-04 11:43] elasticmachine commented on #138074
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-08-04 11:47] kevinlog commented on #134321
### Coordinate a release

@mtojek thanks for the heads up.

It sounds like we need to agree on a release to coordinate:

1. Transform installation changes (this ticket) (needs a team)
2. Update Endpoint package (https://github.com/elastic/security-team/issues/4314) (OLM team)
3. Enforce package spec (Package storage team)

@szeitlin @mtojek - is an `8.5` timeline critical for this or is there room

[2022-08-04 11:52] afharo opened #138099 "[chrome] Apply the correct visibility based on `embed` even after redirections"
The `chrome` service evaluates the `embed` hash property the first time Kibana is loaded in the browser. It works for full URLs.

However, when using the short URL redirection, it does not work because the initial short URL does not contain the `embed` hash, and it is not re-evaluated when navigating away from the `short_url_redirect` to the actual page.

This is a regression: It used to work beca

[2022-08-04 11:52] elasticmachine commented on #138099
Pinging @elastic/kibana-core (Team:Core)

[2022-08-04 12:11] logeekal opened #138102 "[Core] Clarity regarding bundling and loading of different plugins and their styles"
It is a UI issue so only kibana version matter.

**Kibana version:** <=8.4

## Describe the bug:

While working on [a bug](https://github.com/elastic/kibana/issues/137043) I observed that styles of each plugin is loaded when the user visits that plugin (i.e. when that plugin is loaded).

For example, styles of observability will be applied to the app when a user visits any page within Observabilit

[2022-08-04 12:11] elasticmachine commented on #138102
Pinging @elastic/kibana-core (Team:Core)

[2022-08-04 12:11] elasticmachine commented on #138102
Pinging @elastic/kibana-operations (Team:Operations)

[2022-08-04 12:21] mtojek commented on #134321
I wouldn't pay much attention to particular timeframes, but ...

... I wouldn't like this topic to die accidentally. It isn't a blocker for my team in terms of v2 migration, but it doesn't allow to enable enforced format validation and makes the endpoint-package error-prone.

[2022-08-04 12:23] ghost opened #138104 "[Security Solution] Only Full screen icon is showing for empty message under Execution events"
**Describe the bug**
Only Full screen icon is showing for empty message under Execution events

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Execution events tab should be enabled
3. Rule should be created

**Steps to Reproduce**
1. Navigate to security > Rules page
2. Click on above created rule
3. Click on Execution events tab under rule details page
4. Expand the log

[2022-08-04 12:27] ablnk opened #138105 "Reassigning 50k agents to a new policy results in some agents to be offline"
**Environment:**
![image](https://user-images.githubusercontent.com/34958359/182842447-3f618c22-cd6b-4a9c-9527-53466ebe4d7a.png)

[Horde](https://github.com/elastic/horde) was used to deploy agents.

**Stack version:**
![image](https://user-images.githubusercontent.com/34958359/182842600-afd97cf9-859c-47fb-986b-73ab9d525326.png)

**Kibana version:**
8.4.0 SNAPSHOT

**Precondition to reproduce:**
H

[2022-08-04 12:36] samratbhadra-qasource opened #138107 "[Security Solution]: Under rule details page additional filter and view option overlaps with top bar while user scroll the page."
**Describe the bug:**
Under rule details page additional filter and view option overlaps with top bar while user scroll the page

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Rules tab.
2. Now, select any custom created rule.
3. Go to rule details page and scroll the page.
4. Observe that under rule details page additional filter

[2022-08-04 12:36] elasticmachine commented on #138107
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 12:43] flash1293 commented on #137769
Makes sense, thanks!

[2022-08-04 12:43] MadameSheema commented on #138107
@samratbhadra-qasource can you please check if the same behaviour is happening on BC2? Thanks

[2022-08-04 12:56] #137812 closed

[2022-08-04 12:59] stratoula opened #138110 "[Lens] The area chart doesn't show the lines"
**Kibana version:**
8.4 - unreleased

**Describe the bug:**
If you create an area chart in Lens it looks differently than in 8.3. The lines are not depicted while they should

Main
<img width="758" alt="image (1)" src="https://user-images.githubusercontent.com/17003240/182852794-29c90499-9e02-4aa0-860e-843c3d965e66.png">

8.3
<img width="511" alt="image" src="https://user-images.githubusercontent.

[2022-08-04 12:59] elasticmachine commented on #138110
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-04 13:05] neptunian opened #138111 "[Infrastructure UI] Create Initial Infrastructure Host View with List of Hosts"
Create a new view under "Infrastructure" that lists all hosts in a table.
Will update with a more accurate screenshot when available but will be similar to this without the "host map" visualization.

### Acceptance Criteria
- add a new menu item "Hosts" under Observability > Infrastructure
- create a lens table that returns metrics for the hosts: OS, # of CPUs, disk latency,  Memory total (avg), s

[2022-08-04 13:05] elasticmachine commented on #138111
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-04 13:19] MadameSheema commented on #137412
@YulNaumenko I checked it on BC2 and looks like is working fine. I would like a couple of extra eyes to take a look at it and run a bit of exploratory testing on it. @deepikakeshav-qasource @karanbirsingh-qasource can you please help? Thanks

[2022-08-04 13:26] kertal opened #138114 "[Discover] Migrate field_calculator.js file to field_calculator.ts"
The year is 2022AD. Discover is entirely occupied by the TS. Well not entirely! One small village of indomitable JS still holds out against the invader. And life is not easy for developers who garrison the fortified camps of `common`, `public`, `server` and `.storybook`…

So the target would be to migrate `field_calculator.js` to `field_calculator.ts`.

Note that this is the last significant file

[2022-08-04 13:26] elasticmachine commented on #138114
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-04 13:28] elasticmachine commented on #138105
Pinging @elastic/fleet (Team:Fleet)

[2022-08-04 13:29] samratbhadra-qasource commented on #138107
Hi @MadameSheema
Yes, the issue is occuring on 8.4.0-BC2.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/84007952/182858896-2cfb4802-22e9-4402-966a-a910ae2a4fd3.png)

Also, we have checked that this is a already reported issue **[#112086](https://github.com/elastic/kibana/issues/112086)**
So, please do let us know should we close this issue.

Thanks!

[2022-08-04 13:32] MadameSheema commented on #138107
Thanks @samratbhadra-qasource !! Yes, let's close this one as duplicate of https://github.com/elastic/kibana/issues/112086

[2022-08-04 13:34] MadameSheema commented on #112086
@kqualters-elastic @michaelolo24 this issue is still happening on 8.4.0-BC2.

[2022-08-04 13:37] #138107 closed

[2022-08-04 13:42] spalger commented on #138102
We use the [style-loader](https://webpack.js.org/loaders/style-loader/) to support loading CSS when it is imported by code, this means that once styles are loaded they can't be unloaded, which can definitely lead to this type of problem but is far simpler to implement. I think the most correct solution here would be to migrate to Emotion, which is happening on some teams now and will spread to mor

[2022-08-04 13:45] neptunian opened #138116 "[Infrastructure UI] Hosts Group View"
Holding off on this issue for now until we decide whether we are going to have a separate "Group" view vs just keeping everything in one view.

From the [Hosts View](https://github.com/elastic/kibana/issues/138111), after filtering down or selecting hosts, the user views metrics and visualizations of the hosts as a group.  What triggers this view is still undecided.  Currently the mockups indicate

[2022-08-04 13:47] elasticmachine commented on #138116
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-08-04 13:53] walterra opened #138117 "[ML] Explain log rate spikes: MVP 8.5 improvements."
Follow up to #136265.

### API

- [ ] Improve error handling for indices without time fields (The UI for now protects us from hitting this error). COULD (WR)
- [ ] Optional search queries from the query bar are now passed on to the analysis endpoint as non-optional stringified JSON. It would be good to make that query optional and be passed on as the native query object for better type/schema hand

[2022-08-04 13:53] elasticmachine commented on #138117
Pinging @elastic/ml-ui (:ml)

[2022-08-04 13:54] hop-dev commented on #100413
Another potential enhancement. I am not sure users should be able to edit or delete the elastic artifacts host @criamico? (other than to change it from the default) we could have it as "managed". If they accidentally deleted it it would be reasonably difficult for a user to restore it.

[2022-08-04 13:54] banderror commented on #138104
@deepikakeshav-qasource that's a great catch, but this feature is not ready for testing yet and is actually hidden behind a feature flag. It shouldn't be visible unless explicitly enabled in Kibana config like that:

[code]

I'm wondering how you were able to test this feature in `8.4.0 BC2` since it should be hidden there. Do you have a modified config in your test environment where this feature

[2022-08-04 13:55] doakalexi opened #138118 "Optimize the indices route that populates the index threshold and es query rule index picker#69"
It would be nice to parallelize the calls we're making to resolve the index name. It seems they were written serially to log and ignore errors that are thrown when searching for both aliases and indices.

Example error when the search pattern matches an alias:
ResponseError: illegal_argument_exception: [illegal_argument_exception] Reason: The provided expression [.kibana] matches an alias, specify

[2022-08-04 13:55] elasticmachine commented on #138118
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-04 13:58] bhavyarm opened #138120 "Data type mismatch for horizontal axis, use a different function error message on lens doesn't help the user to resolve the error"
**Kibana version:** 8.4.0 BC1

**Elasticsearch version:** 8.4.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** When a user tries to add a visualization layer to base lens layer and selects top values and picks a field and then s

[2022-08-04 13:58] elasticmachine commented on #138120
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-04 14:04] flash1293 commented on #138120
This is working as expected but I agree we could do better explaining how to fix it. Maybe highlighting the Top values dimension in red to show this is were the problem is coming from?

[2022-08-04 14:06] stratoula commented on #138120
Yes this is why I changed it to enhancement.

I like the idea of highlighting the horizontal axis dimension.

@gchaps can you help us with the error message?

[2022-08-04 14:08] criamico opened #138121 "[Fleet] Refactor and re-enable agent.spec test"
The [agent.spec](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/cypress/integration/agent.spec.ts#L18) cypress test became recently flaky (at least after merging 8.4.0).

This test should be refactored for a few reasons:
- We should create a  fleet server
- The version of the agent to upgrade is not fixed, so it can easily fail at every new version out because it attempts to upgr

[2022-08-04 14:08] elasticmachine commented on #138121
Pinging @elastic/fleet (Team:Fleet)

[2022-08-04 14:09] philippkahr opened #138122 "Kibana Maps UI upload geojson failure should be received as such"
**Describe the feature:**

When uploading a file through Kibana Maps UI and it fails, you get an error message but no help around it.

**Describe a specific use case for the feature:**
Give better visualise aid, because we say `complete` which it isn't, because it was not able to index anything. In the bottom of everything I would expect to get a link to https://www.elastic.co/guide/en/kibana/curr

[2022-08-04 14:09] #137938 closed

[2022-08-04 14:09] elasticmachine commented on #138122
Pinging @elastic/kibana-gis (Team:Geo)

[2022-08-04 14:12] criamico commented on #100413
I was thinking the same, at the moment the user is able to completely get rid of it but I don't know if it's something we should prevent. It could be an useful enhancement.

[2022-08-04 14:18] pmuellr opened #138124 "[ResponseOps] retry rule runs when retryable errors occur"
Currently when a rule executor throws an error, we don't retry the execution.  However, there are cases where this would probably be a good thing to enable.  An example is a transient networking error like a Socket Hang Up.  If we know the rule is "safe" to run again, and detect a transient error, a retry after a short delay has a good chance of executing successfully.

Lots of things to consider:

[2022-08-04 14:18] elasticmachine commented on #138124
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-04 14:20] kertal opened #138125 "WIP [Discover] Migrate field existence to API request"
Currently in Discover, we calculate the `available fields` by the data returned by Elasticsearch.

<img width="315" alt="Bildschirmfoto 2022-08-08 um 10 45 39" src="https://user-images.githubusercontent.com/463851/183378561-7741b543-b804-403f-b20f-ed55160adae3.png">

To show all fields users need to change the `Hide empty fields` filter

<img width="587" alt="Bildschirmfoto 2022-08-08 um 10 49 52"

[2022-08-04 14:20] elasticmachine commented on #138125
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-04 14:20] #138110 closed

[2022-08-04 14:22] juliaElastic commented on #138105
I think this issue looks similar to https://github.com/elastic/fleet-server/issues/1696 and https://github.com/elastic/sdh-beats/issues/2300#issuecomment-1198088322

In the Fleet Server logs I am seeing many `ApiKey fail authentication` errors. So it could be that while the Fleet Server was busy, agents couldn't check in, and after it recovered, the unenrollment timeout has been reached and those

[2022-08-04 14:29] sqren opened #138127 "[APM] Dependency operations: Latency distribution viz is empty"
Follow-up from test plan: https://github.com/elastic/kibana/issues/133483

I noticed that in certain cases the "Latency distribution" visualisation is empty:

https://user-images.githubusercontent.com/209966/182872829-77df815c-d718-47a0-8cf2-e01b47172393.mp4

When zooming in to a smaller time range the latency distribution viz becomes populated.

@dgieselaar Did you run into this?

[2022-08-04 14:29] elasticmachine commented on #138127
Pinging @elastic/apm-ui (Team:apm)

[2022-08-04 14:36] JiaweiWu commented on #138058
Before this change, it was difficult for users to associate action errors with the rule execution that caused the errored actions. This led us to ask: just exactly how useful was it that the users have access to an unfiltered log of action errors? The intuition was even if the users saw that they had errored actions, it was difficult for them to associate those error instances with a rule executio

[2022-08-04 14:36] nickpeihl opened #138128 "[Maps] Geo Upload should check for non-conforming GeoJSON"
**Describe the feature:**

We only allow uploading GeoJSON files that conform to the GeoJSON standard where coordinates are [always latitude, longitude](https://datatracker.ietf.org/doc/html/rfc7946#section-4). However, there are non-conforming GeoJSON files in the wild that have coordinates in other coordinate systems such as the one available at https://daten.odis-berlin.de/de/dataset/lor_bezirk

[2022-08-04 14:36] elasticmachine commented on #138128
Pinging @elastic/kibana-gis (Team:Geo)

[2022-08-04 14:41] nreese commented on #138122
related to https://github.com/elastic/kibana/issues/135319

[2022-08-04 14:41] juliaElastic commented on #114169
@jen-huang I think I'm ready with the changes on this issue, maybe just a confirmation is needed from @nimarezainia and others who use these dashboards that they are seeing the right data in the new cluster.

[2022-08-04 14:44] bhavyarm commented on #105638
Discussed this issue again with @ThomThomson  while release testing 8.4.0.  I think second option will work nicely for consistency and accessibility. Yay

[code]

[2022-08-04 14:46] jamster10 commented on #137182
DId some digging into this ticket and here are some findings:

First thing to understand is EUI Z-Indices:
They tend to have 1000 intervals, heres a sample:
[code]
Unless its in reference to data grid where we have values like:
[code]

There are 2 components at play here.

We have a `StyledStickyWrapper` (`x-pack/plugins/security_solution/public/app/home/template_wrapper/global_kql_header/index.ts

[2022-08-04 14:48] #135196 closed

[2022-08-04 14:50] kibanamachine opened #138129 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/remote_clusters/feature_controls/remote_clusters_security·ts - Remote Clusters app feature controls security "before all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19439#0182691f-9000-4087-920b-18b3b8d4289d)

[2022-08-04 15:04] mattkime opened #138132 "[discover] Runtime fields don't have type info"
On main (and 8.4, I suspect), runtime fields don't display their type info -
<img width="350" alt="Screen Shot 2022-08-03 at 4 00 42 PM" src="https://user-images.githubusercontent.com/216176/182881037-86e8ebe7-2ba6-4b62-8784-6f0d4d7ac58e.png">

To reproduce:
1) Create a data view
2) Create a runtime field on that data view - `emit('hello world')` will work
3) Go to discover and look for your runti

[2022-08-04 15:04] elasticmachine commented on #138132
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-08-04 15:10] kibanamachine commented on #138129
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19440#01826932-b8c7-46d5-a93e-f5d1c74e3c2d)

[2022-08-04 15:17] jbudz commented on #138129
/skip

[2022-08-04 15:17] majagrubic commented on #138132
I think there is more to this.
The scenario I was testing was:
1. Create a runtime field on a data view of type 'long' - `emit(10)`
2. Go to discover and look for your runtime field. It *show* as a number field
3. Create a new runtime field on a same data view
4. Newly created field shows the type correctly, but the previously created `long` one shows unknown
5. Add a newly created field as column

[2022-08-04 15:17] kibanamachine commented on #138129
Skipped

8.4: 4c136a5e6588452ba77eaec75e725cc3280c20b8
main: 3153748012858063e083c0f40a14a80a9da803d8

[2022-08-04 15:18] elasticmachine commented on #138129
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-08-04 15:32] mikecote commented on #136900
We should see if Index or Webhook connector have this issue as well..

[2022-08-04 15:35] spalger commented on #138041
Interestingly, this little burst of failures across PRs doesn't seem to have continued beyond those 5 failures

[2022-08-04 15:38] nreese opened #138140 "[Maps] support adhoc data views"
https://github.com/elastic/kibana/pull/135770 adds adhoc data view support to Discover. Once added, users could come to Maps from Discover via visualize geo_point or geo_shape field.

https://github.com/elastic/kibana/pull/135991 adds adhoc data view support in Lens. Once added, users could come to Maps from Lens via visualize geo_point or geo_shape field.

In both cases, Maps needs to add adhoc d

[2022-08-04 15:38] elasticmachine commented on #138140
Pinging @elastic/kibana-gis (Team:Geo)

[2022-08-04 15:38] MadameSheema commented on #134550
Pending to be verified on 8.4.0-BC3

[2022-08-04 15:39] marshallmain commented on #138074
This is expected - preview generates 2 alerts because the `History Window Size` is only 1 day, and the source events are 2 days apart, so they're found by different rule executions and alerted on each time. When the preview is run over a month it does 30 rule executions and it could potentially generate 1 alert per term per day.

The real rule execution only generates 1 alert because it's a single

[2022-08-04 15:48] mikecote commented on #137451
cc @lcawl

[2022-08-04 15:51] szeitlin commented on #134321
Ok, if I'm understanding this correctly (and thanks @sophiec20 and @mtojek and @kevinlog for explaining), we aren't blocked from [packaging Host Risk Score as an integration](https://github.com/elastic/security-ml/issues/83) but it would not be possible for customers on Elastic Cloud to actually install and use Host Risk Score as a module until Fleet is updated to support the new package spec for

[2022-08-04 16:05] afharo commented on #137303
@mikecote as always, IT depends:

The `config$` observable uses `shareReplay(1)`. It means it always returns the latest & freshest value. You can access `await firstValueFrom(config$)` to read your configuration.

For sync operations, you may want to maintain a variable that you overwrite whenever the observable emits: Use `this.actionsConfig` and update it every time the `config$` observable emit

[2022-08-04 16:06] #138084 closed

[2022-08-04 16:10] fpetrakov commented on #138114
Hi! Can you assign this issue to me? I would like to try to resolve it

[2022-08-04 16:29] MichaelMarcialis commented on #138076
Assuming it's not a huge lift, I think it would make sense and provide some nice visual consistency to apply those styles to filters and custom intervals as well. Just let me know if you need any design support from me to do so.

[2022-08-04 16:29] mikecote commented on #90486
Could also explore removing these APIs if they aren't used.

[2022-08-04 16:32] mikecote commented on #90568
Closing in favour of https://github.com/elastic/kibana/issues/84217.

[2022-08-04 16:32] #90568 closed

[2022-08-04 16:34] mikecote commented on #91860
Closing in favour of alerting from Discover.

[2022-08-04 16:34] #91860 closed

[2022-08-04 16:35] MadameSheema commented on #137182
Pending to be validated on 8.4.0 BC3.

[2022-08-04 16:35] liza-mae opened #138147 "Rules and Connectors search does not filter exact name"
**Kibana version**: 8.3+

**Original install method (e.g. download page, yum, from source, etc.)**:
Cloud staging

**Description of the problem including expected versus actual behavior**:
When I use the Rules and Connectors search function it does not work at finding exact matches, but instead matches any of the words.  I tried another search function on Data Views and it filters when I type in e

[2022-08-04 16:35] elasticmachine commented on #138147
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-04 16:36] justinkambic commented on #138012
Just an update during my initial investigation. I am not seeing this error boundary show up anymore, which is good. I do still get notified that the specified index is not available, these toasts come from the data plugin. The source from our code is [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/ux/public/components/app/rum_dashboard/csm_shared_context/index.tsx#L58).

[2022-08-04 16:45] mikecote commented on #93009
We are planning to move towards a common context (schema) per alert across all rule types. We may need to dig into the use case here to make sure we can move towards a common schema. cc @kobelb

[2022-08-04 16:49] pjbertels commented on #137853
This happens with:
3*8GB fleet servers and 32GB hot tier es instances
It has also been reproduced on:
4*8GB fleet servers and 32GB hot tier es instances
3*8GB fleet servers and 32GB hot tier es instances with 4 shards for the fleet indices

we are currently trying to increase the enroll limits and retesting with 3*8GB fleet servers and 32GB hot tier es instances

[2022-08-04 16:54] htwing commented on #138061
Testing BC2, I was able to reproduce the issue with missing "rm" command in session view.
<img width="885" alt="Screen Shot 2022-08-04 at 9 50 07 AM" src="https://user-images.githubusercontent.com/91153741/182907326-8eae8f11-9fda-40bf-9f5e-5f0e55e4c605.png">
![Screen Shot 2022-08-04 at 9 44 08 AM](https://user-images.githubusercontent.com/91153741/182907358-578fb65e-a481-4e39-9571-2a3b88e71c2d.png

[2022-08-04 16:56] htwing commented on #138061
![Screen Shot 2022-08-04 at 9 45 14 AM](https://user-images.githubusercontent.com/91153741/182907689-b045534b-f930-4878-9819-9fb061be00cd.png)

[2022-08-04 16:57] yctercero commented on #137841
This is similar to the experience we deal with currently with rule action connectors. On export, we only export the `id`, so if the saved object does not exist where this is being re-imported, it will fail.

Would love some input here on what the experience should be. Ideally, a user would be able to completely export all their SOs with their rules and reimport into a new environment with no probl

[2022-08-04 16:58] mikecote commented on #95049
@XavierM do you have a similar issue in R&AM to track your thinking or did you want to take this one?

[2022-08-04 16:59] kertal commented on #138132
Shouldn't  **_field_for_wildcards** return the runtime fields? It doesn't and therefore the fields are unknown
<img width="1725" alt="Discover__123_-_Elastic_und_Discover__123_-_Elastic" src="https://user-images.githubusercontent.com/463851/182908052-138f600d-bbb8-4d77-a9dc-9ad9d71efa41.png">

[2022-08-04 17:01] yctercero commented on #118166
@peluja1012 I think this is now more under the rules domain as it's a broader question about the rule override behavior?

[2022-08-04 17:02] semd commented on #137956
Hi @deepikakeshav-qasource Yes this is a bug, we'll fix it. But we are following the behavior of the search bar in the Kibana Dashboards page (at `/app/dashboards#/list`) not the Rules one.

[2022-08-04 17:06] kevinlog commented on #134321
@szeitlin

This isn't quite right.  Fleet is the part of the Kibana app that allows users to deploy and manage Agents.  Users can also add different integrations to Agents, such as Endpoint Security.  Part of adding this integration is installing the associated integration package, in Endpoint Security's case this is the Endpoint package.  This would be just like installing the proposed Host Risk

[2022-08-04 17:14] #137087 closed

[2022-08-04 17:16] nicpenning opened #138151 "[Security Solution] Endpoint stuck with "Isolating" in Endpoint management"
**Describe the bug:**
Endpoint stuck with "Isolating" in Endpoint management.
**Kibana/Elasticsearch Stack version:**
8.3.3
**Server OS version:**
Windows 2019
**Browser and Browser OS versions:**
Chrome Browser 103.0.5060.134
**Elastic Endpoint version:**
8.3.3
**Original install method (e.g. download page, yum, from source, etc.):**
Download / Zip on Windows Environment
**Functional Area (e.g. E

[2022-08-04 17:16] elasticmachine commented on #138151
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 17:19] nicpenning commented on #138151
I can confirm that once I removed that policy from the agent and brought it back, the Healthy (Isolating) still shows.

My guess is that there is something in Elasticsearch or elsewhere that insists that this device needs to be isolated  (from the UI perspective).

[2022-08-04 17:21] opauloh opened #138154 "[8.4] [Kubernetes Security] TreeView CSS Issues"
**Kibana version:**
8.4

- [ ] 1. The container image row is misaligned.

![image (1)](https://user-images.githubusercontent.com/19270322/182912015-a32effd1-f03c-486c-912c-f8661dd07b2b.png)

---

- [ ] 2. The font size in the table breadcrumb is bigger than it should

![image (2)](https://user-images.githubusercontent.com/19270322/182912186-863ed0f6-a86a-4482-bdbc-40541d82dda1.png)

---

- [ ] 3.

[2022-08-04 17:32] #137991 closed

[2022-08-04 17:53] mikecote commented on #138015
I would like to discuss this offline if possible. I'm thinking it may be too many labels to display all at once. I was originally hoping we'd only have two tags `Alerting` and `Cases` which represent two high level features and we could consider it a bug if a solution / application doesn't support all the connectors..

[2022-08-04 18:00] marius-dr commented on #136757
@mattkime i'm 100% that the index pattern name doesn't exist. Maybe it's trying to expand that wildcard and compares it to: `data:makelogs工程-*,local:makelogs工程-*`  which exists and would be equivalent to `*:makelogs工程-*`, in this case.

[2022-08-04 18:05] mikecote commented on #137303
@afharo this makes sense, thank you for the insight! 🙏 In our case, I believe most of our code would be capable of reacting to live changes of the `config$` observable.

We can use this issue to make most if not all of the alerting, actions, task manager, and event log settings react to changes.

[2022-08-04 18:09] kibanamachine opened #138159 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/saved_objects_management/import_saved_objects_between_versions·ts - Saved objects management Export import saved objects between versions should be able to import 7.13 saved objects into 8.0.0 and verfiy the rendering of two dashboards"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19465#018269db-f26b-4e29-92ab-749a7fe74756)

[2022-08-04 18:13] kibanamachine opened #138160 "Failing test: Chrome UI Functional Tests.test/functional/apps/console/_comments·ts - console app console app with comments with single line comments should allow in request body, using #"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19464#018269db-ed4b-4fb8-b87c-e1f537865ea1)

[2022-08-04 18:25] #138073 closed

[2022-08-04 18:28] ccdta opened #138164 "Tabs in Dashboards"
**Describe the feature:**
Enable the ability to create different tabs within a single dashboard

**Describe a specific use case for the feature:**
Different tables can represent a set of different lenses from the same type of data source. This would prevent the need for creating multiple dashboard for the same data sources for better dashboard management and easily switch between the dashboards.

[2022-08-04 18:29] elasticmachine commented on #138160
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-08-04 18:29] elasticmachine commented on #138159
Pinging @elastic/kibana-core (Team:Core)

[2022-08-04 18:29] e40pud opened #138165 "[Security Solution] Add "Rule Preview" title before the rule preview section"
Add "Rule Preview" title to mark rule preview section and make it more recognisable among the other sections in the define rule step.

cc @peluja1012

[2022-08-04 18:29] elasticmachine commented on #138165
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-08-04 18:30] e40pud commented on #138165
@peluja1012 do you want this one to be part of 8.4?

[2022-08-04 18:36] rudolf commented on #137734
Although we can work around it for now, I've created an upstream issue for Elasticsearch-js https://github.com/elastic/elasticsearch-js/issues/1740

[2022-08-04 18:44] andrew-goldstein commented on #137546
Fixed in:
- `main`  / `8.5.0` - https://github.com/elastic/kibana/pull/137620
- `8.4` / `8.4.0` - https://github.com/elastic/kibana/pull/137764

[2022-08-04 18:48] kibanamachine commented on #132159
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19469#018269fc-6ad2-423a-a04b-ab35c425b63f)

[2022-08-04 19:17] jbudz commented on #132159
8.4: b2dbd9fb6d70550483ac36e61f377a697d480ae3

[2022-08-04 19:32] mattkime commented on #138132
@kertal

I think we need to clarify what kind of runtime fields we're talking about. Mapped runtime fields will be returned like any other field. Unmapped runtime fields and will _not_ be returned by `_fields_for_wildcards`, as they're defined on the data view.

Whats calling `_fields_for_wildcards`?

[2022-08-04 19:50] peluja1012 commented on #135127
Implementation ticket here https://github.com/elastic/kibana/issues/136039

[2022-08-04 19:56] doakalexi opened #138170 "Flaky x-pack/test/alerting_api_integration/spaces_only/tests/alerting/bulk_edit.ts test"
Functional test is flaky

[2022-08-04 19:56] elasticmachine commented on #138170
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-08-04 20:01] bhavyarm opened #138172 "Kibana doesn't display the new verbose data view names in add layer->documents->select data view in maps app"
**Kibana version:** 8.4.0 BC2

**Elasticsearch version:** 8.4.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana doesn't display the new verbose data view names  in the drop-down for add later->documents-> select data view.

[2022-08-04 20:01] elasticmachine commented on #138172
Pinging @elastic/kibana-gis (Team:Geo)

[2022-08-04 20:31] nicpenning commented on #131928
Will this be resolved in 8.4 so that we can then remove integrations that crash Kibana when we go to click on [Integration policies]?

We had 1 policy with the DHCP integration and when we clicked on Integration Policies you get this:
![image](https://user-images.githubusercontent.com/5582679/182943887-7b42f8cf-a727-4618-b1cf-c756fed6503b.png)

I had to hunt down correct policy that had this integ

[2022-08-04 20:42] archoversight commented on #137616
This issue seems to be related to `ELASTICSEARCH_SNIFFONSTART=true` being set for Kibana.

[2022-08-04 21:08] elasticmachine commented on #138151
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-08-04 21:10] bhavyarm opened #138175 "Kibana displays index pattern name instead of verbose data view name in create a job screen"
**Kibana version:** 8.4.0 BC2

**Elasticsearch version:** 8.4.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana displays the index pattern name instead of the new verbose data view name in create job screen.

1. Install ki

[2022-08-04 21:10] elasticmachine commented on #138175
Pinging @elastic/ml-ui (:ml)

[2022-08-04 21:14] LeeDr commented on #135238
hmm, I guess I didn't backport https://github.com/elastic/kibana/pull/137797 and need to get it to 8.4 branch

[2022-08-04 21:23] dhurley14 commented on #137709
@samratbhadra-qasource can you try to turn this switch off in the Stack Management -> Advanced Settings locally and let us know if you continue to see the values fail to populate?

![advanced_setting](https://user-images.githubusercontent.com/915763/182955250-f9fe816b-7774-4b7e-b95c-338efb073024.png)

[2022-08-04 21:23] kevinlog commented on #138151
@nicpenning thanks for trying Endpoint Security!  Sorry about the issue you are seeing.

Actions will eventually expire, but that time is currently about 2 weeks.

One step you can take to clear this message quickly is to uninstall and reinstall the Agent on the host entirely.  Note that the new Agent will have a new ID, so any previously associated data in Kibana (i.e. events, alerts, etc) will n

[2022-08-04 21:24] LeeDr commented on #135238
backporting https://github.com/elastic/kibana/pull/137797 to 8.4 in https://github.com/elastic/kibana/pull/138176

[2022-08-04 21:27] bhavyarm opened #138177 "Canvas doesn't display the new verbose data view name in the dropdown list for elasticsearch documents"
**Kibana version:** 8.4.0 BC2

**Elasticsearch version:** 8.4.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Canvas doesn't display the new verbose data view name in the drop-down list for elasticsearch documents in data sourc

[2022-08-04 21:27] elasticmachine commented on #138177
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-08-04 21:46] nicpenning commented on #138151
Thanks for the feedback!

I won't reinstall the agent for now.

I can wait out the two weeks, this should be closer to 1-4 hours or make it customizable :)

I believe I was not patient enough for the isolation to kick in. It could have been a short time, maybe around 3 - 5 minutes.

Everything makes sense here. We will patiently wait this one out, thanks!

[2022-08-04 21:49] jen-huang commented on #129677
Closing as implemented in #131697.

[2022-08-04 21:49] #129677 closed

[2022-08-04 21:51] bhavyarm opened #138180 "Kibana displays index pattern name instead of verbose data view name when user mouses over the data view name"
**Kibana version:** 8.4.0 BC2

**Elasticsearch version:** 8.4.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana displays the index pattern name instead of the data view verbose name on side bar when user mouses over the da

[2022-08-04 21:51] elasticmachine commented on #138180
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-08-04 21:53] jen-huang commented on #131928
@nicpenning Yes, this should be fixed in 8.4. You may try the following in the meantime Dev Tools (documented in https://github.com/elastic/kibana/issues/129683):
[code]

Also from 8.4, we added a hidden debug UI that includes the ability to search for and delete orphaned policies:
https://github.com/elastic/kibana/pull/131322

[2022-08-04 21:55] YulNaumenko opened #138181 "[Security Solution][POC] Migrate Sourcerer component to Ad-hoc data views"
Currently all the data view management in `security_soluition` is organized with [Sourcerer component](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/common/components/sourcerer/readme.md) and [sourcerer API](https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/server/lib/sourcerer/readme.md)

Problems we are trying to solve by migrating

[2022-08-04 21:56] LeeDr commented on #50373
I'll take care of these es_archive // empty_kibana ones

[2022-08-04 21:57] nicpenning commented on #131928
Awesome, thank you, that worked like a charm!!

![image](https://user-images.githubusercontent.com/5582679/182959839-6d8b8a46-0769-4310-8cd4-e2f36de11d54.png)

[2022-08-04 22:04] bhavyarm opened #138183 "Vega cannot read the new verbose data view name"
**Kibana version:** 8.4.0 BC2

**Elasticsearch version:** 8.4.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Vega displays  "_Cannot read properties of undefined (reading 'time_buckets')_" if user tries to use the new verbose

[2022-08-04 22:04] elasticmachine commented on #138183
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-04 22:09] bhavyarm opened #138184 "Roles does not display the new verbose data view name in the dropdown list"
**Kibana version:** 8.4.0 BC2

**Elasticsearch version:** 8.4.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Roles indices dropdown list doesn't display the new verbose data view name.
I am marking this as a bug but could also

[2022-08-04 22:09] elasticmachine commented on #138184
Pinging @elastic/kibana-security (Team:Security)

[2022-08-04 22:24] LeeDr commented on #136757
Also doesn't seem like we can use a name like the index pattern in this case where it would be `*:makelogs工程-*`

[2022-08-04 22:26] gchaps commented on #138120
Happy to help.  Can you give me more information about why there is not a valid data type for the horizontal axis?  Also what functions to use to convert the data to a type that the horizontal axis can process?

[2022-08-04 22:31] #135238 closed

[2022-08-04 22:42] tsullivan commented on #138180
facts

[2022-08-04 22:45] tsullivan opened #138185 "[Reporting] CSV: no auto-retry for search requests to pull data"
Follow up on: https://github.com/elastic/kibana/pull/137800#discussion_r937077898

Search service needs a way to allow consumers to specify `maxRetries: 0` and forward it to the ES client.

[2022-08-04 22:45] elasticmachine commented on #138185
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-08-04 23:02] yctercero commented on #137709
If this ends up working - we should add documentation for this on our end.

cc @elastic/security-docs

[2022-08-05 00:04] andrewctate commented on #137769
@ghudgins I was told to consult you before committing to this course of action. The idea is that showing the infinity symbol in the context of a single-value metric visualization is more clear than "Max value" and "Min value." WDYT?

[2022-08-05 04:12] mattkime commented on #136757
I'm having trouble reproducing the problem. I'd like to step through the code, particularly `src/plugins/data_views/common/data_views/data_views.ts:843`

[2022-08-05 04:20] rashmivkulkarni opened #138190 "Cannot read properties of undefined (reading 'time_buckets')error encountered while adding a filter to a new visualization."
V 8.4.0 BC2

When I try and add a filter while creating a vega visualization, I encountered this error : `
Cannot read properties of undefined (reading 'time_buckets')`
<img width="1537" alt="Screen Shot 2022-08-04 at 9 19 31 PM" src="https://user-images.githubusercontent.com/11466284/183000707-91115dfc-2c33-4867-9f36-60647e1285e5.png">

Filter added was timestamp:  is :1 ( as shown in screenshot)

[2022-08-05 04:22] elasticmachine commented on #138190
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-08-05 04:30] flash1293 commented on #138183
There’s no expectation the data view name works in Vega - vega does not integrate with data views and the “index” property is still a regular index pattern. However we should still look into this as the error message is unexpected - there might be something going on breaking the filters as well in the other issue.

[2022-08-05 04:36] flash1293 commented on #138120
@gchaps you can’t see it in the screenshot but the first layer of the chart has a date histogram dimension on the horizontal axis while the second layer has a “top values” dimension. This is not a valid configuration that can be rendered as the first produces date data points on a continuous scale while the second produced string data points on an ordinal scale.

[2022-08-05 04:58] rashmivkulkarni opened #138193 "[ML] No analytics id detected screen is seen for a second while switching btw Jobs tab to Results Explorer tab."
**Important**

You need to be logged in as a user with _ML read-only_ permissions.

**Kibana version:** 8.4.0 BC2

When you are  was in ML> Data Frame Analytics > Jobs tab and switch to Results Explorer tab, you see a screen - appearing and disappearing very fast and then navigates to Explore results page. The in between screen is "No analytics id detected" screen. It just flashes for a second and

[2022-08-05 04:58] elasticmachine commented on #138193
Pinging @elastic/ml-ui (:ml)

[2022-08-05 07:34] rahuldimri commented on #130853
Are we still working on this issue?

[2022-08-05 07:37] emirhanmurat opened #138196 "Bitnami ELK virtual machine security issue"
I create it from ova file.  how can i configure virtual machine to avoid this problem
![image](https://user-images.githubusercontent.com/102317933/183026795-1fd2b7e3-5811-4ebd-932b-bb4b3f654bd8.png)

[2022-08-05 07:39] emirhanmurat commented on #138196
I installed it and ı realize it doesnt wroek from the beginning

[2022-08-05 07:42] JorgChrist commented on #138114
Hey! Can I work on that? I think it's an interesting task.

[2022-08-05 08:17] rahuldimri opened #138197 "[Localization] Broken link on page https://github.com/elastic/kibana/blob/main/dev_docs/api_welcome.mdx"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2022-08-05 08:18] rahuldimri commented on #138197
Broken link on page https://github.com/elastic/kibana/blob/main/dev_docs/api_welcome.mdx