[2021-10-04 09:02] stratoula commented on #113043
The CI screenshot just for reference
![image](https://user-images.githubusercontent.com/17003240/135823485-d8c143ad-83d0-4d07-b042-4910ec5416d7.png)

[2021-10-04 09:10] markov00 commented on #112921
What about moving the text inside the chart, above/below the line?

<img width="632" alt="Screenshot 2021-09-22 at 19 41 18" src="https://user-images.githubusercontent.com/1421091/135824037-c513f658-c52f-4baf-a3ef-88a9d37bd752.png">

For horizontal line it definitely improves the readability of the text
For the vertical line, you can let the user choose the text direction (horizontal/vertical)
And

[2021-10-04 09:11] mgiota opened #113726 "[RAC] Use alerting framework to check alert permissions in the UI"
(title to be better defined)

### 📝 Summary

At the moment Alerts table UI needs to make use of the producer value to determine if workflow status options should be visible to the user or not (`Mark as Acknowledged` and `Closed`). In case the value of the consumer is `alerts` (this means the rule was created through Stack Management and not through the respective Observability App), then we use th

[2021-10-04 09:21] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/165#f79586d2-9baa-4a8b-9850-ae77fa285aba)

[2021-10-04 09:23] markov00 commented on #14799
@stratoula there is no/low lag in the current interactive chart, that is actually a good thing.
For the other chart, could you please check and try changing the `Settings.pointerUpdateDebounce` to a value in `ms` near to 0?  Please change that value on the chart that is sending sending the cursor events

[2021-10-04 09:23] manishgupta-qasource commented on #113721
Reviewed & assigned to @kpollich

CC: @EricDavisX

[2021-10-04 09:24] dej611 commented on #112921
While I like the mockup with the text marker above/below the line, I have few questions around the following topics:
* how to deal with bar value labels, to avoid collision or confusion between the two?
* what automatic criteria works best to decide where to put the label in case of a line (Above/below/left/right)?
* how to deal with area/rect annotations? Should the text be on the "other" side of

[2021-10-04 09:37] estermv commented on #111309
Probably I'm not saying anything new here, but I find it easier to have this line `monitoring.ui.render_react_app: false` in my `kibana.dev.yml`. This file is ignored so no risk to commit changes accidentally.

[2021-10-04 09:47] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/880#8e9e3bee-8ed7-4eaa-b7ce-c3d8e266c9b1)

[2021-10-04 09:55] markov00 commented on #113054
Thanks @aamailhot for reaching out, can you please tell us what version of Kibana you are using and what editor you are using to render the chart?
We can definitely add some padding, but before doing that we like to check if we can improve the chart design to avoid adding a domain padding in favor of other design choices.

[2021-10-04 09:55] #78422 closed

[2021-10-04 09:55] #100488 closed

[2021-10-04 09:58] markov00 commented on #112839
Transparency or better a different lighter opaque shade to avoid color differences between the dark and the light theme when rendering the chart.

[2021-10-04 10:06] purdel opened #113730 "[APM] JVM environment filtering broken"
### Kibana version

7.14.1

### APM Server version (if applicable)

7.14.1

### Elasticsearch version (if applicable)

7.14.1

### Steps to Reproduce

With multiple environments configured, it is impossible to filter the desired ones from the **Environments** dropdown.

The list is populated with all monitored instances instead. Filtering works if using the search box.

![apm_jvm_filtering](https:

[2021-10-04 10:06] elasticmachine commented on #113730
Pinging @elastic/apm-ui (Team:apm)

[2021-10-04 10:09] flash1293 commented on #113520
@stratoula  Seems like it didn't hold: https://github.com/elastic/kibana/issues/113496

[2021-10-04 10:09] markov00 commented on #112921
offer the ability to move the text outside the chart?

Probably by default render text above(top) for horizontal lines, and on the right for the vertical ones. With the standard axis position this should not interfere much with the chart and also is in line with the current domain's directions. I will anyway let the user change a particular position if it looks better for them in a different posit

[2021-10-04 10:11] amolnater-qasource opened #113731 "[Fleet]: Pre-added configuration gets removed on Upgrading Nginx integration."
**Kibana version:**  7.16.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.16.0 Snapshot Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.2.3`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Nginx integration to Default Policy.

[2021-10-04 10:11] elasticmachine commented on #113731
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 10:11] amolnater-qasource commented on #113731
@manishgupta-qasource Please review

[2021-10-04 10:15] stratoula commented on #113520
:( Ok I will try to use the solution provided by Lee

[2021-10-04 10:18] timroes commented on #113520
I am not sure if it makes sense trying to fix this now for each test individually. I think we need to come up with a central more safe solution for setting the timepicker, i.e. what Lee mentioned under point 1.

I'd for now just disable the test, and add it to the list above, so we can unskip all those tests once we have fixed that globally.

[2021-10-04 10:19] gmmorris commented on #102076
Sounds like @cachedout is due to send out an email blast in Observability today with instruction on how they can move away from legacy multitenancy.

This should mean that this issue is unblocked, but I'm not sure how much time we'd like to give the O11y team to move their dev envs over before we remove the config on Main.

Watch this space ;)

[2021-10-04 10:21] manishgupta-qasource commented on #113731
Reviewed & assigned to @kpollich

CC: @EricDavisX

[2021-10-04 10:29] joshdover commented on #112991
When is this installation going be executed? Package installs currently require superuser privileges, though we are getting close to be able to support Kibana's `kibana_system` user to install them.

From the Fleet side, we plan to support default package installation and upgrade behaviors during Kibana startup in the near future. It'd be helpful to know what type of UX you are expecting for sever

[2021-10-04 10:42] flash1293 commented on #113624
About title and description - this is to render data attributes for reporting to pick up. I think I’m visualize this is done as part of the embeddable rendering ( https://github.com/elastic/kibana/blob/master/src/plugins/visualizations/public/embeddable/visualize_embeddable.ts#L355 ) but in Lens it’s done as part of the expression renderer. @ppisljar as app services owns both of these layers, how

[2021-10-04 10:43] gmmorris commented on #90383
Marking as blocked on telemetry based validation of usage

[2021-10-04 10:58] dej611 opened #113733 "[Lens] Metric suggestions are not rescaled based on actual fit"
**Describe the bug:**

The suggestion thumbnails metrics should always fit the number shown.

**Steps to reproduce:**
1. Load the `log` data sample
2. Start Lens
3. Drag and drop the bytes field in the chart area
4. Now click on the Metric suggestion
5. Click the refresh button on the suggestion panel
6. A new metric suggestion should be computed for the `Average overall` with a big number, often

[2021-10-04 10:58] elasticmachine commented on #113733
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-04 11:01] #112793 closed

[2021-10-04 11:02] pgayvallet opened #113734 "Add a `cloud` service to `core`"
Currently, all cloud-related information are exposed from the `cloud` xpack plugin. This has two main limitationd limitations:
- Being exposed as a plugin, there's currently no way to access these info from `core` itself.
- The `cloud` plugin having dependencies toward `usageCollection`, `home` and `security`, it's not possible to access the cloud config from the dependency plugins without introdu

[2021-10-04 11:02] elasticmachine commented on #113734
Pinging @elastic/kibana-core (Team:Core)

[2021-10-04 11:07] pgayvallet commented on #110638
Opened https://github.com/elastic/kibana/issues/113734

[2021-10-04 11:10] elasticmachine commented on #113697
Pinging @elastic/kibana-core (Team:Core)

[2021-10-04 11:16] flash1293 opened #113737 "Combine visualizations and visualize plugins"
After recent decisions (ownership, no mandatory disable flag per plugin) the separation between visualizations and visualize plugins is not very helpful anymore and causes issues because there’s is such tight coupling between them. Unifying them should allow us to get rid of some weird exposed APIs, make it easier to lazy-load code and simplify plugin structure (the difference between visualize an

[2021-10-04 11:16] elasticmachine commented on #113737
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-04 11:19] pgayvallet commented on #113549
To be honest, when I checked it after our sync discussion, I was very surprised we're not already excluding those during the export process. I agree that it seems logical that references to objects of types not being `importableAndExportable: true` should probably not be exported (as we're already doing with the `isExportable` predicate).

My biggest concern is that in practice, the export logic i

[2021-10-04 11:23] lizozom opened #113738 "[FilterBar] Allow copying the field name and value from filter bar"
At the moment, once you create or edit a filter, neither the field name nor the value are selectable, therefor I can't copy any of the values to reuse them (for example between tabs). I often end up using the debugger (!) to copy values I need to reuse.

![image](https://user-images.githubusercontent.com/3016806/135843498-22e7aaa1-c6db-4eca-92e1-37c19504fd23.png)

I suggest that we make the field

[2021-10-04 11:31] majagrubic commented on #111923
Is this referring to nested fields or multi-fields?

[2021-10-04 11:32] #113218 closed

[2021-10-04 11:32] elasticmachine commented on #113695
Pinging @elastic/ml-ui (:ml)

[2021-10-04 11:40] muskangulati-qasource opened #113741 "[Security Solution] The exception value for host isolation exception shows under the exception list for rules"
**Description:**
The exception value for host isolation exception shows under the exception list for rules

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Exceptions tab under Detect
2. Observe the host isolation exception value is shown under the exception list values

**Impacted Test case:**

[2021-10-04 11:40] elasticmachine commented on #113741
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-04 11:40] elasticmachine commented on #113741
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-10-04 11:41] manishgupta-qasource commented on #113741
Reviewed & assigned to @kevinlog

[2021-10-04 11:44] joshdover commented on #113518
As we don't have any needs for this at the time, I'm closing this as a "won't fix".

[2021-10-04 11:44] #113518 closed

[2021-10-04 11:50] mistic commented on #106650
This test keeps failing and looks flaky. Skipping for now.

master/8.0: c1f2b19
7.x/7.16: 99ecde3

[2021-10-04 11:58] joshdover commented on #112831
Thanks all for taking a look.

I do want to clarify that the default behavior that we are currently implementing in #112702 is for package policy upgrades to be _off by default_. It sounds to me that this is likely not the behavior we'd prefer long-term for the APM and Synthetics packages (but maybe is appropriate for Endpoint). I don't believe any problems have been raised, but **I'd like to chec

[2021-10-04 11:58] rudolf opened #113743 "Investigate risk of performance regression from share-capable saved object types"
When saved object types become share-capable https://github.com/elastic/kibana/issues/100489 the saved objects repository adds some additional logic to method calls which could introduce a performance regression. It's impossible to guess how much of an impact additional queries to Elasticsearch might add. So in the analysis below I assume that the operation itself has a zero cost (takes 0ms) and t

[2021-10-04 11:58] elasticmachine commented on #113743
Pinging @elastic/kibana-core (Team:Core)

[2021-10-04 12:00] mistic opened #113744 "Failing ES Promotion: dashboard elements dashboard elements ciGroup10 input controls input control range should add filter with scripted field"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/202#309a

[2021-10-04 12:00] elasticmachine commented on #113744
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-04 12:00] gmmorris commented on #106876
@marshallmain @mikecote @legrego - I understand there was a meeting last week with some action items (POC, followed by RFC?).

Could we summarise what the next steps are and who owns them?
This will help me plan for capacity that might be needed in our team following 7.16ff.

Thanks :D

[2021-10-04 12:02] mistic commented on #113744
Skipped.

master/8.0: a99bdca

[2021-10-04 12:05] cachedout commented on #102076
@gmmorris Thanks for the ping. As you rightly point out, we'll still need a bit of time even after sending out the notice in order for Obs devs to try it out, answer questions that they might have, and fix any urgent issues that come up.

I wouldn't consider this issue unblocked just yet, but we're getting quite close. We'll keep you posted on progress, of course. :)

[2021-10-04 12:05] mistic opened #113745 "Failing ES Promotion: management scripted fields creating and using Painless date scripted fields should see scripted field value in Discover"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/202#9490

[2021-10-04 12:05] elasticmachine commented on #113745
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-04 12:07] gmmorris commented on #87048
Thanks for the feedback @mholttech we'll explore ways in which this can be remediated (cc @elastic/uptime @elastic/logs-metrics-ui )

[2021-10-04 12:08] mistic commented on #113745
Skipped.

master/8.0: fefc34e

[2021-10-04 12:19] gmmorris opened #113747 "Kibana Alerting telemetry is hard to build dashboard against"
I've been trying to build some dashboards against our telemetry and I find the data we're collecting and the shape of it isn't ideal for achieving what I think we need for our SLOs.

# What needs to be done in this issue?

We should review all of the telemetry we've added and ensure that we're reporting this data in a way that makes it easy (or at least, possible) to build dashboards against it.
W

[2021-10-04 12:19] elasticmachine commented on #113747
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-10-04 12:23] daichenglong commented on #113714
I'm sure it's not a network problem, because he worked normally again after I redeployed。

[2021-10-04 12:40] elasticmachine commented on #113743
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-10-04 12:43] majagrubic commented on #111923
Also, we truncate the display of nested fields, so in a case of a many items in an array with a lot of properties, you still wouldn't be able to see much, unless you go to the JSON view.

Eg. table view:
<img width="1005" alt="Screenshot 2021-10-04 at 14 40 58" src="https://user-images.githubusercontent.com/1937956/135853248-e7c68eaa-22e2-4a34-9cf4-9a67e7545cc4.png">

vs JSON view of the same docu

[2021-10-04 12:45] tmitanitky commented on #111923
Referring to nested fields. I'm sorry it's unclear.

I attach sample images. These are from "Table" tabs of "Expanded document" in "Discovery" and toggled the details.

The displayed order of nested fields are not sorted. ('RXE' comes in the 4th place and again in the 7th place apartly. If sorted, the displayed order might be [ORC.Enter.. ORC.Enter, ORC.Place, RXE.Dispense, RXE.Give.., TQ1.Service

[2021-10-04 12:48] tmitanitky commented on #111923
The order is also not sorted in JSON tab.

![image](https://user-images.githubusercontent.com/40882114/135854020-55bc114f-8ef0-4e82-a283-0080ae159268.png)

[2021-10-04 12:49] rudolf commented on #113743
@elastic/kibana-alerting-services just want to make sure you're aware of the potential performance impact

[2021-10-04 12:58] nchaulet opened #113750 "[Fleet] Improve public API for Agent Policy, Package Policy"
## Description

While working on proof of concept of a terraform provider for Fleet I had to work with the Fleet APIs outside of Kibana. I found these APIs really hard to consume as you need to provide to much information and have a lot of knowledge on how packages are structured.

To add a package you need to provide things that I think are not necessary like the package title, all the informatio

[2021-10-04 12:58] elasticmachine commented on #113750
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 13:08] mostlyjason commented on #113750
@nchaulet would this require a breaking change to switch to this improved format that we should aim for 8.0 or can we add it as an enhancement later?

[2021-10-04 13:15] ghudgins commented on #112921
@markov00 I like the suggestion. If we foresee we'll need to have an option where the reference line label is outside of the visualization could we keep the implementation we have now and make an issue for rect reference line annotations? Is that the right way forward on this?

Looks like it. If you have one, it shows on the "other" side. If you have both, it shows on the same side. Same logic we

[2021-10-04 13:16] ogupte commented on #112458
No, this was assigned to me to leave some additional notes before work started on it. I'm not planning to take it on.

[2021-10-04 13:22] jonathan-buttner commented on #105677
@jportner yep that looks good 👍

[2021-10-04 13:29] stratoula opened #113752 "[TSVB] Weird state update on missing field"
Tested and LGTM.

Not related to this PR, but I noticed on missing fields the state is updated in a weird way:
![Kapture 2021-10-04 at 15 10 21](https://user-images.githubusercontent.com/1508364/135857442-51eabe7f-bf44-45d6-884c-c669011d8719.gif)

Is this something we decided to do?

_Originally posted by @flash1293 in https://github.com/elastic/kibana/pull/113619#pullrequestreview-770277347_

[2021-10-04 13:30] elasticmachine commented on #113752
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-04 13:33] #110579 closed

[2021-10-04 13:35] flash1293 commented on #113752
Context: This is happening if the TSVB viz is pointing to an index pattern which doesn't exist in Elasticsearch.

[2021-10-04 13:40] flash1293 commented on #89269
Chatted with @mattkime about this and the data view instances delivered from the service are not immutable and might change field lists in some cases, so we can't use it as a cache key. However I'm not sure whether refactoring as described above would be a good idea as the instances not serializable as well.

Not sure about the right way forward here... @mbondyra what do you think about putting th

[2021-10-04 13:43] ChrsMark opened #113754 "Change kubernetes.namespace to kubernetes.namespace.name for v8.0"
Beats is [introducing a breaking change in v8.0.0 re: the `kubernetes.namespace` value](https://github.com/elastic/beats/pull/27917).

After this change the UI will be broken so we need to tune Kibana's side accordingly like at https://github.com/elastic/kibana/blob/4a541883557bcee83baf09b2c0ddab702f780e45/x-pack/plugins/infra/common/inventory_models/pod/toolbar_items.tsx#L15 and several other pla

[2021-10-04 13:47] ghudgins opened #113755 "[Lens] Axis color option"
**Describe the feature:**
Provide color options for axis

**Describe a specific use case for the feature:**
**When** I have multiple axis
**And** I have a reference line bound to each axis
**I need** to match the axis to the threshold line color
**So I can** easily see which threshold belongs to which axis

2nd use case: also improve the integration on canvas where the background color is more lik

[2021-10-04 13:47] elasticmachine commented on #113755
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-04 13:54] semd opened #113757 "[Cases] Integrate own navigation"
## Summary
Cases can be used by different solutions in Kibana. To support that, Cases exports various top-level components to be consumed by other plugins. With this approach, consumers have to build their own routing, outside of Cases, to be able to navigate through the various Cases components. It became apparent that this approach has limitations.

#### Situation:
Currently, the Cases plugin is

[2021-10-04 13:54] elasticmachine commented on #113757
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-04 13:54] elasticmachine commented on #113757
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-10-04 13:54] elasticmachine commented on #113757
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-04 13:54] cauemarcondes commented on #112991
This is going to be executed when the user navigates to `apm -> settings -> schema`and clicks on `Switch to data stream`. When that happens I'm going to call the `fleetPluginStart.packageService.getInstallation` to get the details of the installed apmpackage, if nothing is returned I'll install the same version as kibana.

[2021-10-04 13:55] pmuellr commented on #112087
I'm worried about _missing_ some, if we filter "too much", but I think a week feels about right.  One day seems too short, for a light system that may only be running a few tasks a day (no alerting, just telemetry tasks, or such).  OTOH, having it "too long" will mean we may see "old" instances in there.

I'd say let's go with a week, and see how well that works in practice.

[2021-10-04 13:58] stuartnelson3 commented on #112991
I defer to @simitt for the UX questions

[2021-10-04 14:01] jportner commented on #113549
I think that, from a technical perspective, `copyToSpace` should behave the exact same as `export + import`.
Now, from a Security Solution UX perspective, does it make sense to copy a Case without a Timeline?

Ultimately I am leaning towards changing the SOM Export function to 1. exclude any non-exportable options, and 2. also remove those from saved object `references`. But I'm not sure if that a

[2021-10-04 14:01] sqren commented on #112458
Feel free to pick this up, @yoqwerty. Looking forward to it!

[2021-10-04 14:02] pheyos opened #113759 "[ML] Data frame analytics wizard - editing configuration step resets query language selection"
**Found in version**
- 7.14.3

**Browser**
- Chrome

**Steps to reproduce**
- Go to the data frame analytics wizard
- Switch the query bar language to `Lucene` and enter a valid Lucene query
- Continue to the next wizard step (note that the query is displayed in the summary of the first wizard step)
- Edit the first wizard step

**Expected result**
- The query bar is still set to type `Lucene`.

*

[2021-10-04 14:02] elasticmachine commented on #113759
Pinging @elastic/ml-ui (:ml)

[2021-10-04 14:03] elasticmachine commented on #113754
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-04 14:06] #112087 closed

[2021-10-04 14:12] kpollich commented on #113731
I'm going to bake a fix for this (and a new automated test case) into this PR: https://github.com/elastic/kibana/pull/112702

[2021-10-04 14:19] miltonhultgren commented on #111348
(Just to confirm I'm understanding this)

Today:
1. User goes into Logs -> Stream, selects a timeframe "last 2 weeks"
2. User goes into Metrics -> Inventory (time frame stays set to last 2 weeks)
3. User goes to Alerts (timeframe changes when it should stay set to last 2 weeks)
4. User goes back to Logs -> Stream

So the change in this issue is for the timeframe to not change in Step 3?
What happe

[2021-10-04 14:21] simitt commented on #112991
@joshdover the general APM UI logic to switch to data streams is already in `7.15` (`beta`), in case you want to familiarize yourself with it. The switch is a one-time trigger, it requires the same privileges from the logged in user, as Fleet does, so currently `superuser`.

Regarding the UX questions:

Should be answered with the above answer.

The mentioned APM UI will show an error to the user,

[2021-10-04 14:36] kobelb opened #113767 "Repercussions of replica on Kibana's saved-objects"
# Problem

Kibana's system indices are configured to have a single shard, but they are also configured to have a replica when there's more than one ES node:

[code]

As a result, based on the behavior described in this [discuss post](https://discuss.elastic.co/t/how-refresh-works-between-primary-and-replica-shards/219181), there's the possibility that consumers of saved objects will see stale resu

[2021-10-04 14:36] elasticmachine commented on #113767
Pinging @elastic/kibana-core (Team:Core)

[2021-10-04 14:37] kobelb commented on #113767
We'll likely need to expand the audience of this discuss issue over time, but I figured we should start with Core and confirm my understanding before including more people.

[2021-10-04 14:40] snide commented on #113285
I think as a first step it's perfectly OK to hide the UI. Anyone self-managed should be vocalized the endpoint or setting it up themselves. I think it's fine to go with @joshdover's first suggestion here.

[2021-10-04 14:41] jonathan-buttner commented on #113549
Thanks for the feedback @pgayvallet and @jportner !

Ideally in the future, when a Case is exported or copied the timeline would also be included. We are not supporting this functionality for exporting Cases for 7.16. When timeline is able to be moved to the SOM we can add the timeline id to the Cases' references at that point.

For now a user has to export the timeline and cases separately. This

[2021-10-04 14:45] timroes commented on #113714
Is this problem now resolved after a reployment, or is it still persistent?

[2021-10-04 14:46] juliaElastic commented on #113261
I could reproduce on release env, though looks fixed on dev env and latest master. Maybe this was already fixed in fleet or eui?
https://release-oblt.elastic.dev/app/fleet/policies/4e4dc980-169d-11ec-8817-e31dad9d08da
![image](https://user-images.githubusercontent.com/90178898/135872582-5eee2971-b67f-44d2-a7c9-4918582d181b.png)

https://dev-oblt.elastic.dev/app/integrations/detail/apache-0.8.1/pol

[2021-10-04 14:46] timroes commented on #112510
@garyjblackwell You can export saved objects, by going in the menu to Stack Management > Saved Objects and look for the saved object (in this case the saved Discover search). When selecting it you'll find an Export button on the top right, to export that saved object as ndjson.

[2021-10-04 14:49] weltenwort commented on #113003
Looks like using the `_update` API with [partial updates](https://www.elastic.co/guide/en/elasticsearch/reference/master/docs-update.html#_update_part_of_a_document) would be safest. It's not apparent to me whether reading from `_source` might still be safer than the `fields` API in this case or not. Until we're actually making use of runtime fields it might be the choice least likely to mess upda

[2021-10-04 14:52] #113426 closed

[2021-10-04 14:53] zizhouW commented on #86095
It seems like the remaining issue on `Policy Name` mentioned by @muskangulati-qasource above has already been addressed

![image](https://user-images.githubusercontent.com/16872649/135873463-17815cc2-7bd5-4a44-b9a0-cfc7315246d7.png)
![image](https://user-images.githubusercontent.com/16872649/135873507-0ff4df7e-7d57-406c-be70-3ed38f298d0e.png)

However I realized there's a minor visual bug related

[2021-10-04 14:55] #113601 closed

[2021-10-04 15:07] michaelolo24 commented on #112220
Closing this issue in favor of: https://github.com/elastic/kibana/issues/113063

[2021-10-04 15:07] #112220 closed

[2021-10-04 15:10] flash1293 commented on #113624
This is not a good fit for Lens, I think we should go with a helper of some way for the short term until we had time to remove multi table completely.

[2021-10-04 15:11] #113088 closed

[2021-10-04 15:16] miltonhultgren commented on #110758
@katrin-freihofner Can this issue be closed after the EUI upgrades?

[2021-10-04 15:17] orouz commented on #6277
[linkifyjs](https://www.npmjs.com/package/linkifyjs) seems like a good option

[2021-10-04 15:19] #39494 closed

[2021-10-04 15:20] elasticmachine commented on #113780
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 15:35] kobelb commented on #113734
From the licensing perspective given what the cloud plugin currently does, no.

However, I'm curious about the following reasoning:

During previous discussions, we decided that it's acceptable to have OSS plugins have optional dependencies on x-pack plugins. This makes it possible for us to make all of these plugins have dependencies on the `cloud` plugin, where previously we couldn't.

This just

[2021-10-04 15:36] flash1293 commented on #108260
@monfera Is there a PR on the elastic-charts side we can link to?

[2021-10-04 15:37] #113631 closed

[2021-10-04 15:43] dokmic opened #113786 "[Expressions] Performance regression after introducing observables support"
**Kibana version:** >=7.14

**Describe the bug:**
After merging #96065, there is a performance regression in the processing of the expressions. It gives around 10x slow down on some expressions.

**Steps to reproduce:**
1. Go to the canvas.
2. Create a workpad.
3. Add a data table chart to the workpad.
4. Open the expressions editor.
5. Use the following expression for performance testing:
[code]

[2021-10-04 15:46] dej611 commented on #112921
Yes, it is possible to have it. Or at least it works already with the Lens implementation 😅

[2021-10-04 15:55] jportner opened #113791 "Public SavedObjectsClient.resolve fails when batching sometimes"
**Kibana version:** 7.16 (unreleased)

**Describe the bug:**

Starting in #112025, the public SavedObjectsClient (SOC) batches individual `resolve` requests into a single `bulkResolve`.
We discovered a bug in #113160 where the batched resolve results would not be mapped correctly in the case of "aliasMatch" outcomes.

In fixing that bug, I introduced a _new_ bug that caused batched `resolve` reque

[2021-10-04 15:55] elasticmachine commented on #113791
Pinging @elastic/kibana-security (Team:Security)

[2021-10-04 15:55] flash1293 opened #113792 "[Lens] Tooltip values do not match Y-axis in line charts"
**Kibana version:** 7.13.4

**Describe the bug:**
When you change the granularity to month, it is fine. As soon as you go to a granularity of week, you will experience this problem. The problem exists both in Lens view as in the now legacy line chart view 7.13.4. It does not matter whether the week starts on Sunday on Monday. We tried that and reopened a fresh session in private browsing mode to c

[2021-10-04 15:55] elasticmachine commented on #113792
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-04 15:55] criamico commented on #113261
@juliaElastic yes, the reported issue was already fixed with https://github.com/elastic/kibana/pull/112948

[2021-10-04 15:56] #113083 closed

[2021-10-04 15:56] flash1293 commented on #113792
@nicenemo Thanks for reporting this bug. I have trouble reproducing it - the following chart using weekly date buckets looks OK to me:
<img width="977" alt="Screenshot 2021-10-04 at 17 55 14" src="https://user-images.githubusercontent.com/1508364/135883899-6f8515ee-8676-4a88-a7a9-c3f1927946bd.png">

Could you show a screenshot of the problem and how your chart is configured?

[2021-10-04 15:57] flash1293 commented on #17551
This issue is very old and seems like it's mixing up different problems in a single issue. To keep it manageable I'm going to close it and create a new issue for the problem with different time granularities mentioned by @nicenemo .

[2021-10-04 15:57] #17551 closed

[2021-10-04 15:59] mdefazio commented on #111805
@ymao1 Here is the latest update to the table as we've discussed.  I believe I sent you a version with a more severe indicator when the rule's duration is long.  With this version, I've made this more of a warning with an icon button that shows a tooltip.

Let me know you think this needs to be more pronounced thought.

I know I'm also showing a few other updates to the table. I understand if thes

[2021-10-04 16:03] kevinlog commented on #86095
@zizhouW thank you for the info!

For my understanding, you found that this issue has already been fixed with no further code changes?  If that's the case, then we can close.

However, you found another issue with a long Policy name?  If that the case, then open up another ticket in this repo and you can address it there.

Thanks for the analysis!  Let me know if I'm missing anything.

[2021-10-04 16:05] gmmorris commented on #102100
Whoever picks this up, please talk to @elastic/kibana-security to figure out how best to approach this in terms of _who should have access_. :)

[2021-10-04 16:10] zizhouW commented on #86095
@kevinlog

Yea, I believe that's the case, will close this issue

Sounds good, will open a separate issue and work on that one

[2021-10-04 16:10] #86095 closed

[2021-10-04 16:16] gmmorris commented on #112197
Has only happened once in 20 days, suspecting this is not an actual flaky test, so closing in the hope it doesn't reopen.

[2021-10-04 16:16] #112197 closed

[2021-10-04 16:36] alexfrancoeur commented on #113285
Agreed. Given the time constraints, I'd be OK with hiding this experience in self-managed environments. I do have one question. Is there enough value in linking out to the API key management UI? If so, we could surface this CTA but would likely need to generalize the entry point description. "View Elasticsearch deployment details" to something else.

[2021-10-04 16:40] kpollich opened #113801 "[Fleet] Clean up technical debt related to Ingest Manager naming"
Remove in-code reference to the legacy `IngestManager` name from Fleet where possible. Update the list below with areas for improvement here.

- Rename `IngestManagerError` to `FleetError` or similar

[2021-10-04 16:41] elasticmachine commented on #113801
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 16:44] kpollich commented on #113731
Per above GitHub references, i've added https://github.com/kpollich/kibana/commit/08811a1054698fd9ead5f599ed537a4bdc14ee47 to the currently in-review [PR](https://github.com/elastic/kibana/pull/112702) for the "Keep Policies Up to Date" functionality. Once this PR is approved and merged, this issue will be resolved. The above commit includes automated test cases that verify we preserve user-suppli

[2021-10-04 16:49] ymao1 commented on #113463
Combining this issue with https://github.com/elastic/kibana/issues/113459

[2021-10-04 16:49] #113463 closed

[2021-10-04 16:50] aamailhot commented on #113054
Sure thing @markov00 , sounds good to me. Here is the info you requested:
- **Kibana version:** 7.9.3
- **editor**: I am not really sure what to look for to ID my editor, I think it is just the native environment built into Kibana when I make the visualization on the Kibana webpage (viewed in the MS Edge browser)

[2021-10-04 16:51] #112822 closed

[2021-10-04 16:52] garyjblackwell commented on #112510
[savedobject_export.txt](https://github.com/elastic/kibana/files/7279856/savedobject_export.txt)
See attached

[2021-10-04 17:05] nchaulet commented on #108968
The scope for 7.16.0 as been updated and only the same cluster is currently supported and this currently implemented in #111002

[2021-10-04 17:05] #108968 closed

[2021-10-04 17:06] ymao1 opened #113804 "[RAC][Rule Registry] Rule registry executors skip writing AAD when execution is cancelled"
As part of [this investigation](https://github.com/elastic/kibana/issues/111259), we have identified improvements in the way the alerting framework can respond to being cancelled. With [this issue](https://github.com/elastic/kibana/issues/113459), we are planning to (configurably) skip scheduling actions for rules that have been cancelled due to task timeout. With [this issue](https://github.com/e

[2021-10-04 17:08] ymao1 commented on #113804
It looks like there are currently two rule registry executors types: `lifecycle_rule_type` and `persistence_rule_type`.

Inside the `lifecycle_rule_type`, we could add a check to this existing check:
https://github.com/elastic/kibana/blob/bbb2e96dd5d0683628be7c4ad3fede2fa462acd8/x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts#L284-L295

to ensure `!executionIsCancelled()` AN

[2021-10-04 17:09] ymao1 commented on #113804
Blocked by https://github.com/elastic/kibana/issues/113459 and https://github.com/elastic/kibana/issues/113462

[2021-10-04 17:09] markov00 commented on #113054
In more updated version of the stack we have improved that situation actually: we moved the points that lies below an axis to be rendered on top as seen here
<img width="171" alt="Screenshot 2021-10-04 at 19 07 06" src="https://user-images.githubusercontent.com/1421091/135894039-5f595b24-0d38-4c89-8541-ccca36f2ed4a.png">

[2021-10-04 17:09] elasticmachine commented on #113804
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-10-04 17:10] #113632 closed

[2021-10-04 17:12] elasticmachine commented on #113804
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-04 17:28] neptunian opened #113808 "[Stack Monitoring] Migrate Elasticsearch CCR view to React"
As part of https://github.com/elastic/kibana/issues/111756, figure out how to get the CCR view loaded and migrate from Angular to React

[2021-10-04 17:28] elasticmachine commented on #113808
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-04 17:30] legrego commented on #113378
++ I agree we should be in a "Not Ready" mode for these scenarios. Whether that involves a loading spinner or a generic UI is up for debate -- we can easily defer the spinner to a followup release.

-----

As for the UX for initial setup vs intermittent connection issues: can we reliably determine whether or not we are running "first time setup"? In ephemeral environments, it might always look lik

[2021-10-04 17:34] cjcenizal opened #113810 "Improve deprecation warnings for proxyFilter and proxyConfig settings"
In https://github.com/elastic/kibana/pull/113555 we introduced these deprecations, which appear like this on 7.x:

![image](https://user-images.githubusercontent.com/1238659/135897175-039cf259-e4a7-4e61-838a-e01f865400c1.png)

![image](https://user-images.githubusercontent.com/1238659/135897179-963013b5-7dd5-4819-839d-49e7b67c75d8.png)

These deprecations are missing two key bits of info:
1. A men

[2021-10-04 17:34] elasticmachine commented on #113810
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-10-04 17:35] joshdover commented on #113285
Great 👍

my 2c: it might be confusing. It's already a bit of a disjointed experience here where we show this UI in this app without any direct connection to language clients. That said, showing the deployment details makes sense in the context of many integrations, not just language clients, whereas API keys may be less obvious since they're not referenced in our Beats docs, etc. but Elasticsearch

[2021-10-04 17:36] #107738 closed

[2021-10-04 18:02] zizhouW opened #113820 "Long agent policy name in integrations pushes Title to the side"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1. Navigate to Integrations page
2. Select, for example, `Endpoint Security` integration
3. Click `Add Endpoint Security`
4. At Agent policy near the bottom, click `Create Agent Policy`
5. Input a long policy name (~ 80 characters in length) and save
6. The title `Add Endpoint Security integration` will be pushed to the very l

[2021-10-04 18:02] elasticmachine commented on #113820
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-10-04 18:02] zizhouW commented on #113820
mentioned in https://github.com/elastic/kibana/issues/86095

[2021-10-04 18:03] alexfrancoeur commented on #113285
Yeah, I was feeling that way as well.

[2021-10-04 18:03] elasticmachine commented on #113820
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 18:06] banderror commented on #113726
I'm not aware of the implementation on the Observability side and can be mistaken about all the dependencies, but we have code in `rule_registry` that implements RBAC and I'd guess it can be related to this issue:

- `x-pack/plugins/rule_registry/server/alert_data_client` contains an implementation of RBAC-aware methods built on top of the `AlertingAuthorization`
- `x-pack/plugins/rule_registry/se

[2021-10-04 18:08] ymao1 opened #113823 "[Alerting] Investigate allowing rules to override default rule type timeout"
With [this issue](https://github.com/elastic/kibana/issues/111804), we are allowing rule types to override the default Alerting timeout in order to accommodate rules that require a longer runtime. To build on this, we also want to explore allowing specific rules to override the rule type's timeout value. This would be useful in cases where a rule type might run quickly in most cases but require mo

[2021-10-04 18:08] elasticmachine commented on #113823
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-10-04 18:09] ymao1 commented on #111804
@MikePaquette Opened an issue to investigate allowing individual rule instances to specify their own timeout values: https://github.com/elastic/kibana/issues/113823

[2021-10-04 18:13] LeeDr commented on #109746
I haven't had any failures on this in the last few weeks.

[2021-10-04 18:18] tsullivan commented on #110679
CSV export uses the `_scroll` API to page through all the results of the search. After a little experimentation with the `ESE_SEARCH_STRATEGY` it looks like scroll queries are not supported:

[code]

[2021-10-04 18:19] tsullivan commented on #110679
Closing this issue as CSV export can not use the ESE_SEARCH_STRATEGY

[2021-10-04 18:19] #110679 closed

[2021-10-04 18:19] alexfrancoeur commented on #112842
@thomasneirynck @clintandrewhall @joshdover this one feels relatively straight forward, all integrations are available through deep links. The Enterprise Search team does not have capacity to pick this up in 7.16. Would it be possible to own this implementation for 7.16?

[2021-10-04 18:20] #113791 closed

[2021-10-04 18:22] alexfrancoeur opened #113825 "Add App Search engines as non-Fleet integrations - MVP"
In order to deliver an MVP for Enterprise Search integrations in our next release, we'll most likely have to link directly to the App Search application vs. the flows defined in https://github.com/elastic/kibana/issues/109287. As capacity on the Enterprise Search team frees up, we can provide a better experience with iteration. For now, the goal will be to make these integrations discoverable and

[2021-10-04 18:23] elasticmachine commented on #113825
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 18:24] jen-huang commented on #113261
@juliaElastic @criamico Thanks for testing and citing that fix! Can one of you check the Integrations > Policies table too? https://github.com/elastic/kibana/issues/113261#issuecomment-930522823

[2021-10-04 18:26] alexfrancoeur commented on #109287
Opened an issue to track reduced scope work for MVP: https://github.com/elastic/kibana/issues/113825

[2021-10-04 18:30] cqliu1 opened #113829 "Migrations and References"

[2021-10-04 18:33] zizhouW commented on #113820
@kevinlog fyi

[2021-10-04 18:35] ymao1 commented on #111805
Thanks @mdefazio! I think this looks good! Will you also be mocking up changes to the Rule Details page?

[2021-10-04 18:36] kibanamachine commented on #103231
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/172#f9ca0cbc-6073-4992-b350-8b7c4721160c)

[2021-10-04 18:41] mdefazio commented on #111805
Yes, trying to move to that asap!

[2021-10-04 18:48] tsullivan opened #113832 "[Reporting] Avoid using 0.0.0.0 as the hostname for Chromium to open"
Reporting uses the value of `server.host` as the host to open for capturing the report screenshot. In Linux systems, this is fine: 0.0.0.0 is an interface to bind a server process, and also a hostname that references `127.0.0.1`/`localhost`. In Windows systems, this is not fine: 0.0.0.0 is only used as an interface to bind the server.

Solution:
 - The Reporting config schema should ensure that `x

[2021-10-04 18:48] elasticmachine commented on #113832
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-10-04 18:51] elasticmachine commented on #113820
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-10-04 18:57] alexfrancoeur opened #113835 "Unified Integrations View - Count Clicks into Integrations"
Opening this up placeholder as a nice to have for 7.16. We discussed capturing intent. `ui_counters` might be a good way to collect that information with an already existing collection mechanism.

[2021-10-04 18:57] elasticmachine commented on #113835
Pinging @elastic/fleet (Team:Fleet)

[2021-10-04 18:57] #100771 closed

[2021-10-04 19:01] aamailhot commented on #113054
@markov00 : ok, i suspected this one might be improved in a more recent version, good to know. That 'on top' arrangement looks good to me, and I look forward to hopefully upgrading my team to a more recent version someday for this and other improvements.

I am good to close this thread on the 'improved in more recent release' grounds, thanks!

[2021-10-04 19:01] #113054 closed

[2021-10-04 19:22] kibanamachine commented on #113418
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/171#7d4bab75-ce2e-4e39-ad0f-45c2a9ee1df1)

[2021-10-04 19:25] #94178 closed

[2021-10-04 19:25] #105750 closed

[2021-10-04 19:41] #112994 closed

[2021-10-04 19:44] kobelb commented on #113601
Hey, y'all! I'm super excited to see that we found a solution to the problem, and thank you 100x for solving it so quickly.

This bug was a weird one. Do you all have any thoughts on what we can do to prevent further bugs like this from occurring? Do we need stricter validation on import/creation? Do we need to rely less on "reflection-esque" design patterns? Did we just need more testing?

[2021-10-04 19:46] tsullivan opened #113844 "[Reporting] xpack.reporting.csv.useByteOrderMarkEncoding is undocumented"
`xpack.reporting.csv.useByteOrderMark` is a setting that adds a BOM character to the beginning of the CSV contents.

The setting should be documented here: https://www.elastic.co/guide/en/kibana/current/reporting-settings-kb.html#reporting-csv-settings

[2021-10-04 19:47] elasticmachine commented on #113844
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-10-04 20:18] ravikesarwani commented on #106345
@simianhacker One question I have with this is around backwards compatibility.
With the change can a user be able to use a 8.0 monitoring cluster for say 8.0 production cluster and another 7.x (7.15) production cluster? From UI side basically we have document of both kinds: for some clusters data we have the segments data and some doesn't.

The segment related graphs will not be available in the 8

[2021-10-04 20:32] ravikesarwani commented on #113149
@jasonrhodes Do we know how will this work from a backward compatibility perspective?
Will a 8.0 monitoring cluster be able to monitor 8.0 and 7.x production clusters? Will the SM UI be coded smartly to handle both older and newer kinds of documents.
If the beats API has breaking change I am assuming that means for 8.0 production cluster we will need to use a compatible 8.0 beats to collect the da

[2021-10-04 20:34] #112871 closed

[2021-10-04 20:35] pgayvallet commented on #113734
True. However we can't have bi-lateral dependencies, and `cloud` has a few dependency (`home` for example). The current plugins architecture/hierarchy means that `home` can't require `cloud` for any reason (such as displaying something specific when on cloud). Of course, this could be solved by splitting `cloud` in two, `cloud-api` and `cloud-app`, but given that core may also need to access this

[2021-10-04 20:41] kibanamachine commented on #89072
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/173#b8a84049-8041-482d-82ba-ed904c5e3ae5)

[2021-10-04 21:20] nemhods opened #113853 "[Cases][Security Solution] Bulk add alerts to cases"
**Describe the feature:** Allow users to bulk-add alerts to a case.

-> Allow this
<img width="370" alt="y" src="https://user-images.githubusercontent.com/6408566/135926482-94d23e07-323e-4af7-ade9-958b254c5e02.png">

-> in this bulk menu:
<img width="363" alt="x" src="https://user-images.githubusercontent.com/6408566/135922501-fe009617-35dd-4ab3-930a-5a2ce62f5538.png">

The Case UI would probably

[2021-10-04 21:36] pmuellr commented on #111805
woohoo!  rules list is now multi-line!  had to happen eventually :-)

This all looks good - I really want to see the execution times in the rules list, and also have it be sortable.  For the rule detail page, reserving some room at the top to hold more info seems perfect.

[2021-10-04 21:36] 1Copenut opened #113856 "(Accessibility)"
**Steps to reproduce**

1. Start a Kibana data set with tables that include inline buttons or filters
2. Tab to the table, then use arrow keys to navigate through cells
3. Verify pressing `TAB` in the focused cell does not set keyboard focus on a button in the cell.
4. Current focus can be tested easily in developer tools by typing `document.activeElement` in the console

<img width="1049" alt="Sc

[2021-10-04 21:36] elasticmachine commented on #113856
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-10-04 21:47] kobelb commented on #113734
Thinking long-term, I don't think that we want the Cloud config to be part of core. I'm having a hard time thinking of a future situation where we'd need core itself to know whether or not it's running on Cloud, outside of the current predicament that we're in because ESS can't use the new logging format yet.

If we're just talking about code that would be in 7.16 to accommodate for the logging is

[2021-10-04 22:20] #111031 closed

[2021-10-04 22:28] kibanamachine commented on #93354
New failure: [CI Build](https://buildkite.com/elastic/kibana-daily/builds/174#f1329341-fe5b-45ee-a76f-4387f9cb9017)

[2021-10-04 22:50] tylersmalley opened #113866 "[CI] Persist Bazel cache in packer image"
We need to persist the `~/.bazel-cache` in the package image to reduce the number of cache hits we're getting to BuildBuddy.

[2021-10-04 22:51] elasticmachine commented on #113866
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-04 23:25] stacey-gammon opened #113868 "Update embeddale example plugin to work with guest login"
Examples hosted online only allow guest login and the embeddable example isn't working with it.

https://demo.kibana.dev/8.0/app/embeddableExplorer

[2021-10-04 23:35] klacabane opened #113873 "[Stack Monitoring] SetupMode pane renders stale data"
When entering the setup mode in kibana instances page, the app should poll a setup-related api `/api/monitoring/v1/setup/collection/cluster/:id` every n seconds to update instances migration state, as well as notifying the user that data was detected and migration is done if the pane is open.

In the react code we only call that api once when entering the setup mode and then continuously renders s

[2021-10-04 23:35] elasticmachine commented on #113873
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-05 00:16] alexfrancoeur commented on #110638
Thanks for following up folks. When this functionality was originally introduced in 7.5, we did not showcase the message on Cloud. At some point something must have changed. We have a number of different configurations that modified what was seen in the UI (https://www.elastic.co/guide/en/kibana/7.15/telemetry-settings-kbn.html).

++ I'd be fine with that. Would this also impact the telemetry bann

[2021-10-05 00:21] jportner commented on #104152
In attempting to get rid of the `security_oss` plugin, I noticed a couple of hiccups:
1. This adds a direct dependency from `share` to `security`, creating a new circular dependency: `data` -> `share` -> `security` -> `data`
2. We would also need to deprecate the `security.showInsecureClusterWarning` setting, renaming it to `xpack.security.showInsecureClusterWarning`

[2021-10-05 00:53] kibanamachine commented on #60559
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/910#fd77c607-8d43-4508-9029-457216b242ae)

[2021-10-05 01:00] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/908#ef389043-ca1b-4039-9cfd-354c9704216e)

[2021-10-05 01:52] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/913#434558f8-e10d-4cc2-b056-a9dac42d9bc2)

[2021-10-05 02:14] mattkime commented on #113698
@sixstringcode Should we get design involved in this?

---

Note - We did discuss this previously but wanted to account for runtime fields in mappings as well - we could potentially show both types of runtime fields in this list. That could be revisited as well.

[2021-10-05 02:25] mattkime commented on #113440
@ppisljar I'm curious about your thoughts about this issue.

Roughly speaking, I think there’s two ways to create APIs. There’s the current way data views is implemented - a thin layer abstracts the saved object layer - vs creating a RESTful api thats consumed by the client. This is probably a topic that can be worked through separate from any thing data view specific.

Saved object layer wrapper

[2021-10-05 02:38] kibanamachine commented on #113496
New failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/908#db070639-cf7b-447b-80bc-488dc0d27607)

[2021-10-05 02:53] kibanamachine commented on #60559
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/914#a48cb189-82ea-420f-af50-c65a1760b051)

[2021-10-05 02:55] mattkime commented on #100443
Closing as I haven't heard back. Please reopen if desired.

[2021-10-05 02:55] #100443 closed

[2021-10-05 03:00] mattkime commented on #6183
Addressing as part of https://github.com/elastic/kibana/issues/113061

[2021-10-05 03:00] #6183 closed

[2021-10-05 03:03] mattkime commented on #25538
@alexfrancoeur I'd like to see if this is something we should move forward or simply decide its not worthwhile.

Would it be helpful if the functionality was provided via an user action such as pressing a button? This is in contrast to getting some sort of 'you have new data!' notification.

[2021-10-05 03:06] mattkime commented on #25863
@sixstringcode This sounds easy to implement. Should we go for it or is there more work to do?

[2021-10-05 03:11] mattkime commented on #2929
fields in the mapping that start with an underscore will be supported as of 7.16 https://github.com/elastic/kibana/pull/111238

[2021-10-05 03:11] #2929 closed

[2021-10-05 03:19] mattkime commented on #10775
It does appear to be relevant to runtime fields - https://www.elastic.co/guide/en/elasticsearch/reference/master/runtime.html

[2021-10-05 03:27] mattkime commented on #18019
The index pattern field cache was removed in this PR which should resolve the problem - https://github.com/elastic/kibana/pull/83368

[2021-10-05 03:27] #18019 closed

[2021-10-05 03:32] #17270 closed

[2021-10-05 04:01] kibanamachine opened #113890 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/creation_runtime_mappings·ts - transform creation with runtime mappings batch transform with unique rt_airline_lower and sort by time and runtime mappings runs the transform and displays it correctly in Discover page"
A test failed on a tracked branch

[code]

First failure: [CI Build](https://buildkite.com/elastic/kibana-hourly/builds/916#20f30ec4-c3c1-4444-9914-d0cbb40a8b12)

[2021-10-05 04:26] kibanamachine commented on #70928
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/182#07bd440d-6ad4-4b57-ab38-5dc97371bd0a)

[2021-10-05 04:34] Lawbayly commented on #113397
I am also seeing this on kibana 8.0.0alpha2
You simply cannot interact with the dropdown box in recent versions of Google Chrome (On both windows and Linux)
It does work on Firefox on both machines (Linux (78.14.0esr), Windows (92.0.1)).
I'm suspecting it's a change that Chrome has made that has broken the dropdown box for that browser and it might affect other chromium based browsers. (Edge & Saf

[2021-10-05 04:42] Lawbayly commented on #113588
Duplicate of #113397

[2021-10-05 04:51] kibanamachine commented on #113496
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/918#58bc02fa-4084-4bda-a5af-2c72ba92b040)

[2021-10-05 04:55] kibanamachine opened #113892 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/artifact_entry_card - when using the ArtifactEntryCard component with trusted apps should display dates in expected format"
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/918#201a4656-7c6e-41de-93ee-76d3df5b6bc9)

[2021-10-05 05:52] ppisljar commented on #113440
I don't understand really how this is blocking the index patterns everywhere project.

From my perspective:
- we only expose pubic REST api's when its really needed as we end up maintaining those for a long time (actual user need)
- if REST api's are made internal, they are just implementation detail
- pushing more code to the server is not always good, we can quickly run into scaling issues.
- we

[2021-10-05 05:54] kibanamachine commented on #60559
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/920#6762e265-7850-4101-bf04-da77c1d1f348)

[2021-10-05 06:09] stratoula commented on #113496
We think that this change will stabilize it https://github.com/elastic/kibana/pull/113597. Closing for now 🤞

[2021-10-05 06:14] stratoula commented on #113496
Although this https://github.com/elastic/kibana/pull/113597 was merged that seems to have fixed the timepicker flakiness, it continues to fail with the error:

```Error: Timeout of 360000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (/var/lib/buildkite-agent/builds/kb-cigroup-6-6bd8e94ede6f362d/elastic/kibana-hourly/kibana/x-pack/tes

[2021-10-05 06:16] #111766 closed

[2021-10-05 06:16] pgayvallet commented on #113734
You probably have a way better long-term vision than I do regarding this, so I will trust you on this.

(I will still `!remindme 6month` though 😉)

As said during our sync discussion, that's not because we *can* access every parts of the config from within core that we *should*. I really do hate the idea of hacking our ways in the config just to disable some deprecations.

If we do decide that we

[2021-10-05 06:25] elasticmachine commented on #113890
Pinging @elastic/ml-ui (:ml)

[2021-10-05 06:30] stratoula opened #113895 "[Dashboard] Adding Timelion panel asks for index pattern while it shouldn't"
**Kibana version:**
7.13 +

**Describe the bug:**
When the new layer of adding panels to the dashboard was introduced, we didn't notice that adding a timelion viz panel also asks for the index pattern. This doesn't happen when you create a Timelion viz from the Visualize listing page.
Timelion doesn't work with index patterns so this step is misleading and should be omitted.

**Steps to reproduce:

[2021-10-05 06:30] elasticmachine commented on #113895
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-05 06:30] elasticmachine commented on #113895
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-05 06:39] BBQigniter commented on #106452
creating threshold alert rules is still broken in 7.14.2 :(

[2021-10-05 06:49] elasticmachine commented on #113726
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-05 06:54] kibanamachine commented on #89200
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/923#d909589a-a884-45a8-9601-4d9d22baa32f)

[2021-10-05 07:13] mgiota opened #113897 "[RAC] Acknowledged workflow status gets overwritten to open when alert is added to a case"
### 📝 Summary
User has the option to mark an Alert as `Acknowledged` or `Closed` from the overflow menu of the Alerts table. When he does so, the `workflow_status` gets updated accordingly. When he tries to add an acknowledged alert to a new or to an existing case, then `workflow_status` gets updated to `open`. Same is true for closed alerts. When a closed alert is added to a case, the workflow_st

[2021-10-05 07:16] elasticmachine commented on #113897
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-05 07:26] juliaElastic commented on #113261
@jen-huang hm yes, I could reproduce on smaller width on Policies table:
![image](https://user-images.githubusercontent.com/90178898/135978691-73d22da5-f668-40e3-ae5b-6742d33b1897.png)

[2021-10-05 07:37] ivybridge-3c33 opened #113900 "[APM]"
### Kibana version

v 7.14.0

### APM Server version (if applicable)

v 7.14.0

### Elasticsearch version (if applicable)

v 7.14.0

### Steps to Reproduce

I launch elastic APM for tracing system it's work find but after 3 days, APM Dashboard not working and data still coming from elastic APM agent,  by the way if i filter data before 3 days APM dashboard working and show the data  but after 3 da

[2021-10-05 07:37] elasticmachine commented on #113900
Pinging @elastic/apm-ui (Team:apm)

[2021-10-05 07:46] deepto98 commented on #113700
@yctercero Hi, I'd like to work on this issue, can you please assign this to me?

[2021-10-05 07:48] deepto98 commented on #113709
@yctercero Hi, I'd like to pick this up too, can you please assign this to me?

[2021-10-05 07:49] deepto98 commented on #113706
@yctercero Hi, I can pick this up, can you please assign this to me?

[2021-10-05 07:49] deepto98 commented on #113704
@yctercero Hi, I can pick this up, can you please assign this to me?

[2021-10-05 07:49] deepto98 commented on #113703
@yctercero Hi, I can pick this up, can you please assign this to me?

[2021-10-05 07:49] deepto98 commented on #113702
@yctercero Hi, I can pick this up, can you please assign this to me?

[2021-10-05 07:50] deepto98 commented on #113701
@yctercero Hi, I can pick this up, can you please assign this to me?

[2021-10-05 07:54] kibanamachine commented on #60559
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/924#51cb4df6-e7fe-4e14-93ed-6df2fd313ad3)

[2021-10-05 07:58] elasticmachine commented on #113853
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-05 08:17] ppisljar commented on #113624
@flash1293 can you elaborate further ? lens generates expression at a runtime, and uses special function to create a multitable something like `lens_multitable name='first' data={esaggs} | pie` and this would need to actually be just `esaggs | pie` ?

[2021-10-05 08:22] MadameSheema commented on #106099
@ecezalp any update regarding the above comment?

[2021-10-05 08:23] flash1293 commented on #113624
@ppisljar It would cause some very ugly branching in our code to build the expression another way (datasource and visualization are pretty separated and multi table sits right in the middle). OTOH an automatic conversion from multitable to regular datatable would only affect the soon to be removed multitable data structure and allows us to migrate renderers away from multi table one by one.

[2021-10-05 08:30] flash1293 commented on #113601
@kobelb I think there are two perspectives here:
* Users auto-creating saved objects which are not exactly shaped like we expect - there are tons of ways to break it and I'm not sure whether it's feasible to maintain validation logic for every part of it. IMHO it's part of using the saved objects API to be able to break things this way. Happy to discuss though if you feel different about this?
* W

[2021-10-05 08:31] kibanamachine commented on #60559
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/924#abe63873-febb-42e4-a0cc-0f3050e89876)

[2021-10-05 08:50] sqren opened #113901 "[APM] Remove unused transaction breakdown aggregation"
It looks like the following transaction breakdown aggregation is unused:

https://github.com/elastic/kibana/blob/00bb59713ed115343eb70d4e39059476edafbade/x-pack/plugins/apm/server/lib/transactions/breakdown/index.ts#L54-L58

TODO:
 - [ ] Verify whether it's used anywhere. If not remove it.
 - [ ] Rename the function `getTransactionBreakdown` to `getSpanBreakdown`

[2021-10-05 08:50] elasticmachine commented on #113901
Pinging @elastic/apm-ui (Team:apm)

[2021-10-05 08:57] #98689 closed

[2021-10-05 09:00] timroes opened #113903 "Ability to configure external scripts/snippets to load on every page"
We often see/have instances of Kibana, we need to inject customs scripts or snippets on every page, e.g. for GDPR compliance or Cookie Consent policies, or simply a custom analytics tool to analyze Kibana users behavior (see https://github.com/elastic/kibana/issues/81130).

Currently people need to write and maintain custom plugins to load those scripts. I think we should add a kibana.yml setting

[2021-10-05 09:00] elasticmachine commented on #113903
Pinging @elastic/kibana-core (Team:Core)

[2021-10-05 09:07] karanbirsingh-qasource opened #113904 "[Security Solution]Getting Deprecated Connector type warning when no connector is selected under Edit External Connections"
**Describe the bug**
Getting Deprecated Connector type warning when no connector is selected under Edit External Connections

**Build Details**
[code]

**Precondition**
- Create connector on old kibana build let say 7.15.0 and upgrade it to 7.16.0

**Steps**
- Login to upgrade kibana build
- Go to Cases tab and then edit external Connections
- do not select any connector at this position
- Observe

[2021-10-05 09:07] elasticmachine commented on #113904
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-05 09:08] elasticmachine commented on #113904
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-05 09:48] stratoula commented on #113624
- @Kunzetsov about the `bgfill` and `subText`. You are right, they are not used and weren't used in version 6.8.
Also Lens doesn't support them so we could remove them, unless we think that we would like to add these features in the future. For example in TSVB metric, the users can change the chart background if specific rules are met.
We could remove them now, and if we decide to add these featur

[2021-10-05 09:50] #112054 closed

[2021-10-05 09:51] kibanamachine commented on #113496
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/929#a6616e9e-9ecf-4807-842d-3c264959408a)

[2021-10-05 09:54] kibanamachine commented on #60559
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/929#0b143a45-f917-4674-984a-34e01fc9ab67)

[2021-10-05 09:58] #113780 closed

[2021-10-05 10:01] Kunzetsov commented on #113624
Right now Canvas has its own range, but it is used for selecting the number. So, we need to add the `argument` to Canvas for supporting this kind of range.

I'm investigating this idea right now and I'll have some questions for Joe, I think.

So, it seems to me, if your vis_editor option is not passing additional params, it will not affect the chart. So `metricVis` will have a lot of possibilities

[2021-10-05 10:06] flash1293 commented on #113624
Yeah, I think this makes sense - we need to make sure the unified renderer is supporting anything from all three renderers right now. If we want to keep a value as default for vis editors, we can just not expose the setting there.

I don't understand what this is about - can you explain which argument this is about? I don't see anything related to ranges in canvas and as discussed the color ranges

[2021-10-05 10:08] karanbirsingh-qasource opened #113911 "[Security Solution][Timeline]On Clicking + Add field user focus moved from the Field name to the value"
**Describe the bug**
Timeline: On Clicking + Add field user focus moved from the Field name to the value

**Build Details**
`Version: 7.15.0`

**Steps**
- Login to kibana
- Create timeline
- Click on + Add field in the timeline drag area
- click on drop down and don't select any value from this
- Observed that user focus is moved to the value field. This makes it a pain to manually add fields beca

[2021-10-05 10:08] karanbirsingh-qasource opened #117942 "[Security Solution][Timeline]On Clicking + Add field user focus moved from the Field name to the value"
**Originally reported by:**
- @aarju

**Describe the bug**
Timeline: On Clicking + Add field user focus moved from the Field name to the value

**Build Details**
`Version: 7.15.0`

**Steps**
- Login to kibana
- Create timeline
- Click on + Add field in the timeline drag area
- click on drop down and don't select any value from this
- Observed that user focus is moved to the value field. This makes

[2021-10-05 10:08] elasticmachine commented on #113911
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-05 10:12] Kunzetsov commented on #113624
Unfortunately, Canvas has its own `range` argument, which is created for picking the number from the range. So, Canvas team (me, I think) need to add new `range` argument, which will handle the logic of `range` expression function.

![Image 05 10 2021 at 13 11](https://user-images.githubusercontent.com/22456368/136004083-302f314c-ff34-4cbe-88ba-e59c8af4440e.jpeg)

[2021-10-05 10:18] muskangulati-qasource opened #113912 "[Security Solution] The 'See All' button for the rules under the exceptions list does not align correctly in less spacing."
**Description:**
The 'See All' button for the rules under the exceptions list does not align correctly in less spacing.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Duplicate the security rule so as to have multiple rules for a single exception

**Steps to Reproduce:**
1. Navigate to the Exceptions tab under Detect
2. Observe the '

[2021-10-05 10:18] elasticmachine commented on #113912
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-05 10:22] #104861 closed

[2021-10-05 10:24] flash1293 commented on #99628
Fixed by https://github.com/elastic/kibana/issues/103279

[2021-10-05 10:24] #99628 closed

[2021-10-05 10:26] majagrubic commented on #111923
After having a look at this, I think this would be best implemented on an index pattern, in one of the formatters. Going to pass this on to @elastic/kibana-app-services for their opinion on this.

[2021-10-05 10:27] mshustov commented on #113734
My ++. I don't really like the fact Kibana changes its behavior in the specific environment due to several reasons:
- Cloud business rules leak into Kibana. Let's take the example of `logging`? Why Kibana should how Cloud configures `logging`?  How can we be sure that these rules have not been changed by the Cloud O11y team?
- Changing these business rules will require releasing a new Kibana versi

[2021-10-05 10:41] estermv commented on #113873
We need to call [the method](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/application/setup_mode/setup_mode.tsx#L75) that you mention inside the [refresh callback](https://github.com/elastic/kibana/blob/1e7d4e1adfa9aaebb8f34c81022e3816050cda56/x-pack/plugins/monitoring/public/application/pages/page_template.tsx#L56) when the setup mode is enabled as it was done in

[2021-10-05 10:45] #112788 closed

[2021-10-05 10:53] flash1293 commented on #113624
@Kunzetsov I don’t understand how this is relevant for the metric vis

[2021-10-05 10:53] kibanamachine commented on #60559
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/930#2e0b4a90-fac4-4caa-918b-bc79eae44674)

[2021-10-05 11:08] #111826 closed

[2021-10-05 11:13] joshdover commented on #112647
@legrego I've gotten pretty far with this, but I could some advice on how to proceed here.

I have implemented the suggested changes, however, the built-in privilege check using the `tags: ['access:fleet-setup']` feature continues to fail due to the service account not having the `login:` application privilege (which I don't believe it should need?).

This is the request being executed by [`checkP

[2021-10-05 11:15] manishgupta-qasource commented on #113904
Reviewed & assigned to @cnasikas

[2021-10-05 11:16] Kunzetsov commented on #113624
@flash1293, the name of the issue is "[Canvas] & [Lens] metricVis integration."
Each plugin has its own components for handling types of arguments. I've decided to at to the section "For Canvas adaptation" things, which are related to the integration to the Canvas, supporting of different types of arguments are a part of integration, it seems to me)

[2021-10-05 11:17] flash1293 commented on #113624
@Kunzetsov sorry, what I meant is where do you plan to use the range ui for the metric vis? It doesn’t seem to require it. That’s the part I don’t understand

[2021-10-05 11:19] Kunzetsov commented on #113624
@flash1293, I want to add the new one for the `range` expression function and change the name of the current `range` argument UI at Canvas.

[2021-10-05 11:22] manishgupta-qasource commented on #113912
Reviewed & assigned to @MadameSheema

[2021-10-05 11:25] stratoula commented on #113624
So this is something new that you want to add to the canvas metric. It is not supported right now if I get it correctly.
Maybe it makes sense to try to unify the renderers first with the existing features and then each team to decide how they want to extend their functionalities.

[2021-10-05 11:26] kibanamachine commented on #60559
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/930#3b583b4d-61da-4708-b304-bfa03e757652)

[2021-10-05 11:29] mgiota commented on #113726
@banderror Thanks for this info! It looks promising. I will look into the existing methods and see if I can reuse one for our needs or add a new one.

[2021-10-05 11:30] #50660 closed

[2021-10-05 11:30] #82240 closed

[2021-10-05 11:31] flash1293 commented on #113624
Discussed offline and @Kunzetsov is referring to the color ranges - as described in my comment above we shouldn’t keep them but replace them with a palette argument which would make the ranges ui unnecessary for the metric vis. So let’s first decide on how to handle palettes, then whether ranges still makes sense

[2021-10-05 11:34] stratoula commented on #113624
This makes sense, thanx for explaining :)

[2021-10-05 11:38] rudolf commented on #113767
This means saved objects violates some strong consistency guarantees even under normal circumstances. That is, this doesn't only happen during an edge case like a network partition, but also in a completely healthy setup.

### Read your writes
If you perform a write operation, a subsequent read (search) in the same session should see that write

Hypothetical example 1:
When opening the cases plugi

[2021-10-05 11:38] #20664 closed

[2021-10-05 11:38] #71985 closed

[2021-10-05 11:40] amolnater-qasource commented on #113820
Hi, We have found this issue also reproducible when we edit integration under Policy detail page.[Policy name must be long.]

**Screenshot:**
![13](https://user-images.githubusercontent.com/77374876/136015196-fc7c59d6-be81-4f16-8cb9-2e8e9c755683.JPG)

Thanks

[2021-10-05 11:47] cnasikas commented on #113904
Thanks, @karanbirsingh-qasource! I will fix it in my PR.

[2021-10-05 11:52] mistic commented on #60559
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 9920e63
7.x/7.16: 6072b5e

[2021-10-05 11:54] kibanamachine commented on #60559
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/933#c189681f-676b-47e3-a6dd-82051ff30041)

[2021-10-05 11:56] ymao1 commented on #111259
Removing from project board since it is now a Meta issue.

[2021-10-05 12:00] #113521 closed

[2021-10-05 12:01] jsanz commented on #111918
Thanks for the feedback and clarification @RoyzLevy

As you probably know Google Geocoding can only be used on applications that also use the Google Maps SDK (apart from other restrictions on storing the results) so that's not an option for Elastic Maps since we use [Maplibre GL JS](https://github.com/maplibre/maplibre-gl-js).

On the other hand, we are considering other options that are in the di

[2021-10-05 12:08] dgieselaar opened #113920 "[APM] Display throughput and transaction error rate anomalies in charts"
In #https://github.com/elastic/kibana/pull/111957, a multi-metric ML job was added that will emit anomaly data for transaction throughput and transaction error rate. This data should be displayed in the relevant charts in the APM app.

[2021-10-05 12:08] elasticmachine commented on #113920
Pinging @elastic/apm-ui (Team:apm)

[2021-10-05 12:08] simitt opened #113921 "Preconfiguration API behavior for missing package policies"
Using the preconfiguration API to set up agent policies results in an empty agent policy, if the package registry cannot be reached. If it eventually is reachable, the agent policy is not updated, also not on Kibana startup.

This potentially leaves agent policies in a half-baked state, that is not automatically recoverable.

There's probably a bunch of questions to answer if policies from the pre

[2021-10-05 12:08] elasticmachine commented on #113921
Pinging @elastic/fleet (Feature:Fleet)

[2021-10-05 12:09] legrego commented on #112647
@joshdover ah this was an oversight in my initial proposal, sorry about that.

I agree, the fleet service account should not have this action granted to it.

I only have 1 other idea. Instead of relying on the route's `access` tags, we could add an optional `options` parameter to `checkPrivilegesWithRequest` which could allow you to bypass the `login` requirement. Then, the fleet endpoint could ch

[2021-10-05 12:10] dgieselaar commented on #112502
Blocked by https://github.com/elastic/elasticsearch/issues/77734.

[2021-10-05 12:10] dgieselaar commented on #112794
Blocked by https://github.com/elastic/elasticsearch/issues/77734.

[2021-10-05 12:10] dgieselaar commented on #112503
Blocked by https://github.com/elastic/elasticsearch/issues/77734.

[2021-10-05 12:10] dgieselaar commented on #113920
Blocked by https://github.com/elastic/elasticsearch/issues/77734.

[2021-10-05 12:11] mgiota commented on #113486
@spalger Oops I missed this one somehow. I will look into it

[2021-10-05 12:13] simitt commented on #112831
For APM the behavior should be that by default package upgrades also trigger a package policy upgrade. This is aligned with what we had discussed as default behavior for stack-aligned packages. From what I understood automatic package upgrades was only planned for `8.0` and not `7.16` (at least for apm).

[2021-10-05 12:14] simitt commented on #112831
For stack-aligned packages my understanding is that it would always upgrade to the package with the exact same stack versioin. Is this not true?

[2021-10-05 12:21] mattkime opened #113922 "[data views] Review data views plugin / strategy for reducing bundle size"
Follow up to https://github.com/elastic/kibana/pull/113497

We need to review our strategy for reducing the data plugin bundle size. The data view code was broken out into its own plugin which resulted in a 11k increase in total bundle size. The core team may have suggestions for better strategies.

part of https://github.com/elastic/kibana/issues/84788

[2021-10-05 12:23] mattkime commented on #113922
@spalger Should you be involved in this or someone else on your team? Should we do this async or sync? How much time should we dedicate to coming up with a strategy for data views? More or less than 2 hours?

[2021-10-05 12:24] dej611 opened #113923 "[Lens] Reference line/Threshold: add some help/guide to the user on how it works"
**Describe the feature:**

While there's some guiding tooltip on how to add the first reference layer in a visualization, it is not clear enough, as for now, how to add additional axis groups to the reference layer.

Understanding how to add a vertical reference line may be not trivial, when starting from a regular date histogram bar chart.

I propose to add a help tooltip on the reference layer t

[2021-10-05 12:24] elasticmachine commented on #113923
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-05 12:26] #109383 closed

[2021-10-05 12:41] glutamatt commented on #28492
if it can help there is a [super hacky script](https://gist.github.com/glutamatt/01b590f7c8f3cc92c026a828b41aa919) for ephemeral needs to color rows backgrounds in "discover"  based on column value

[2021-10-05 12:46] joshdover commented on #112831
Yes, for APM, that is accurate. No changes in upgrade behavior for the APM package are planned for 7.16. For other packages that already upgrade during Fleet Setup (system, elastic_agent, fleet_server, endpoint [if installed]), we will not be upgrading the package policies in 7.16 either.

In 8.0, we can change the default of this setting, however I am trying to determine if need to be able to set

[2021-10-05 12:47] klacabane commented on #111767
Instances page merged, following up with https://github.com/elastic/kibana/issues/113873 before moving to the Instance page.

[2021-10-05 12:49] joshdover commented on #112647
Makes sense to me, I'll implement and tests for that now and we can review the changes in the PR.

[2021-10-05 12:54] kibanamachine commented on #113130
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/934#6cf3e512-b39e-4d2b-b97d-07b61a6a1241)

[2021-10-05 12:58] robcowart commented on #111246
Before the legacy pie chart is removed there are a few things that should be added to the new pie chart.

### 1 - The tooltip should be enhance to include the full information available in the legacy pie chart.

Legacy:

![image](https://user-images.githubusercontent.com/10326954/136023867-69f1ec5c-5d34-48b2-b5dc-530f57fafc70.png)

New:

![image](https://user-images.githubusercontent.com/10326954/

[2021-10-05 13:02] #88208 closed

[2021-10-05 13:07] jportner commented on #112647
Thanks for tagging me, I agree this sounds like the best path forward.

[2021-10-05 13:15] jportner opened #113928 "Update docs for load balancing - auth providers must be in sync"
We currently have a docs page that describes how to set up Kibana in a production environment: https://www.elastic.co/guide/en/kibana/7.15/production.html#load-balancing-kibana

It rightly points out that several settings need to be the same across Kibana instances:

[code]

However, since we added server-side sessions in 7.10 (#68117), each Kibana instance _also_ needs to have the same auth provi

[2021-10-05 13:15] elasticmachine commented on #113928
Pinging @elastic/kibana-security (Team:Security)

[2021-10-05 13:19] petrklapka commented on #109037
@timroes - This is a "side effect" of synchronization with Jira.  There needs to be "some" priority for all items in Jira, and when we sync an item that has no "impact:x" label the current sync scripts treat it as "lowest" priority, which then syncs back to GH.  I'll take a peek if it's possible to add additional values to the Jira priority list, like "TBD" or "Unknown" and explore a few other way

[2021-10-05 13:19] #112274 closed

[2021-10-05 13:23] tylersmalley opened #113931 "[kbn-es] Use CDN for snapshots"
It's been reported that developers outside the US experience slow downloads. We should utilize a CDN to provide a more consistent experience.

[2021-10-05 13:23] elasticmachine commented on #113931
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-05 13:31] #113895 closed

[2021-10-05 13:36] ghudgins commented on #111246
Related issues -  https://github.com/elastic/kibana/issues/65538 and https://github.com/elastic/kibana/issues/3189

[2021-10-05 13:39] stratoula commented on #111246
cc @flash1293 for awareness, we should discuss them with the @elastic/datavis team and decide if any of them could also apply for Lens :)

[2021-10-05 14:00] yuliacech commented on #101438
More managed policies were added in [76791](https://github.com/elastic/elasticsearch/pull/76791) and it would be great to not only add a badge for them, but also a warning that those policies should not be changed by the user.
Also currently the empty state won't be shown as there are always policies in the table, so we could add a condition to show the empty state if the user has only managed pol

[2021-10-05 14:02] MiriamAparicio commented on #113612
We can improve the empty message, "no error for the transaction  type" and then link to see all errors not filtered, and then if there are errors, link to errors page filtered by type.

[2021-10-05 14:07] elasticmachine commented on #113897
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-10-05 14:07] elasticmachine commented on #113897
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-05 14:08] stacey-gammon opened #113939 "Add Package Development page in Key Concepts in dev guide"
We can document helpful commands like `yarn kbn watch`.

[2021-10-05 14:08] elasticmachine commented on #113939
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-05 14:09] formgeist commented on #113612
I think that's a great idea, at least making it clear the reason why no errors are rendered in the table.

I'm not sure I'm following your suggestion?

[2021-10-05 14:15] matschaffer commented on #113808
I'll plan to check in on this tomorrow incase we run into testing speedbumps.

[2021-10-05 14:21] kpollich commented on #113609
I will take a look at this when https://github.com/elastic/kibana/pull/112702 lands later today. Thanks for surfacing, Josh. I'm wondering if the adjustments to variable merge logic we made in this PR will affect this issue.

[2021-10-05 14:23] cjcenizal opened #113943 "Improve error-handling of batch reindexing API"
As noted in https://github.com/elastic/kibana/pull/113822#discussion_r721925397, we should surface reindexing errors to the consumer of the batch reindex API that ships with Upgrade Assistant.

As part of this change, we can also do some minor refactoring, such as renaming `mapAnyErrorToKibanaHttpResponse` to `handleReindexingError` and expand its role to handle both Kibana and ES errors.

CC @sab

[2021-10-05 14:23] elasticmachine commented on #113943
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-10-05 14:27] ghudgins commented on #94603
+1 https://discuss.elastic.co/t/boolean-comparison-using-lens-formula/285872

[2021-10-05 14:27] ghudgins commented on #94613
+1 https://discuss.elastic.co/t/boolean-comparison-using-lens-formula/285872

[2021-10-05 14:29] jonathan-buttner opened #113944 "[Cases][Timeline] Show warning for comments with an invalid timeline"
It's possible for a comment to have an invalid timeline URL. The timeline could have been deleted or the URL could have been modified to point to an invalid location. It would be helpful to show some sort of warning next to invalid timeline URLs.

This PR adds a toaster error when a user clicks on an invalid timeline: https://github.com/elastic/kibana/pull/113795

[2021-10-05 14:29] elasticmachine commented on #113944
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-05 14:29] elasticmachine commented on #113944
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-10-05 14:51] simitt commented on #112831
Right, that's what we discussed last. I think as long as we always specify the package version as the min supported Kibana version we should be fine.

[2021-10-05 15:18] cjcenizal commented on #109872
Fixed by https://github.com/elastic/kibana/pull/113555

[2021-10-05 15:18] #109872 closed

[2021-10-05 15:22] ManasviGoyal commented on #113901
i would like to work on this

[2021-10-05 15:24] #111761 closed

[2021-10-05 15:55] #111804 closed

[2021-10-05 15:56] kibanamachine commented on #113496
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/941#887c900e-c625-4927-9928-b7743ffbff27)

[2021-10-05 16:15] cjcenizal commented on #108762
@mattkime I see the Index Management label but I'm not clear from the PR description how it applies. Did you mean to add the Index Patterns label?

[2021-10-05 16:16] #113261 closed

[2021-10-05 16:21] ymao1 opened #113964 "[Observability][Alerting] Investigate overriding default rule timeout value"
With [this PR](https://github.com/elastic/kibana/pull/113487), the alerting framework is now allowing individual rule types to override the default alerting task timeout of `5m`. (Note that this default value is now also configurable via the `kibana.yml` config. The framework will be [gathering telemetry](https://github.com/elastic/kibana/issues/113465) on rule execution durations before deciding

[2021-10-05 16:21] #112688 closed

[2021-10-05 16:24] joshdover commented on #113835
A few suggestions:
- In order to support user funnels we should add a `data-test-subj="integration-card-<id>"` attribute to the integration card divs so can determine which integrations users are clicking on.
	- Goal of this is to allow us to segment our behavior analytics funnels that we track on Cloud by integration
	- Our analytics tool on Cloud supports CSS selectors so we can extract events b

[2021-10-05 16:26] ymao1 opened #113966 "[Security Solutions][Alerting] Investigate overriding default rule timeout value"
With [this PR](https://github.com/elastic/kibana/pull/113487), the alerting framework is now allowing individual rule types to override the default alerting task timeout of `5m`. (Note that this default value is now also configurable via the `kibana.yml` config. The framework will be [gathering telemetry](https://github.com/elastic/kibana/issues/113465) on rule execution durations before deciding

[2021-10-05 16:34] #101191 closed

[2021-10-05 16:34] #108292 closed

[2021-10-05 16:34] #108296 closed

[2021-10-05 16:34] #112838 closed

[2021-10-05 16:34] #112841 closed

[2021-10-05 16:40] #113731 closed

[2021-10-05 16:55] majagrubic commented on #113745
Managed to reproduce the test failure

[2021-10-05 16:56] kibanamachine commented on #113695
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/943#8214d3a8-4175-48ad-9e0f-0df30dbd6c99)

[2021-10-05 16:56] legrego commented on #101009
@elastic/kibana-core what do you think about restricting the input here to match the validations we put in place for feature ids?

https://github.com/elastic/kibana/blob/b6c982c3b073c215aa5bfa09887048ca549e2147/x-pack/plugins/features/server/feature_schema.ts#L23

[2021-10-05 17:02] kobelb commented on #113601
I completely agree. However, I think it's something we need to fix long-term. The Kibana core team has discussed the way that we can provide validation as part of this effort.

This part scares me. Without the ability to know the various parameters that are used to render these visualizations, we're going to really struggle to figure out how to evolve these visualizations over time without creatin

[2021-10-05 17:08] cjcenizal commented on #108064
Thanks @Alsheh, I was able to reproduce this. We'll fix this shortly.

[2021-10-05 17:09] TheRiffRafi opened #113975 "DocViewer shrinks field column when large content in value column"
**Kibana version:** 7.15

**Elasticsearch version:** 7.15

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

Up until 7.14 we can see that having content in the value column doesn't have an effect on the column width for the field column:

<img width="1416" alt="Screen Shot 2021-10-05 at 12 03 56" src="https://user-images.githubusercontent.com/

[2021-10-05 17:18] legrego commented on #101131
Hey @Salmani, first of all, I'm sorry for the delayed response on this one. I'm struggling to reproduce this with the instructions provided. Can you provide the full role descriptors that you're using? The output of `GET /_security/role` would be helpful here.

[2021-10-05 17:21] flash1293 commented on #113601
This is a tsvb specific problem - there was an attempt to type it already but we ran into tons of issues with legacy saved objects with unexpected shapes. However we are not fully guarded against these problems in other visualization types as well, mostly because it wasn’t a priority so far. If you already have an issue for this I can add details for the visualization use case (Lens in particular)

[2021-10-05 17:22] jasonrhodes commented on #112926
@stuartnelson3 that sounds great! Then we can take a look at how to migrate to an APM monitoring "package" that indexes to data streams alongside the other work happening there.

[2021-10-05 17:22] #112926 closed

[2021-10-05 17:24] legrego commented on #71866
I believe this is no longer blocked by ES. API Keys can be enabled even if HTTPS is disabled (https://github.com/elastic/elasticsearch/pull/76801). It's worth noting that API Keys can still be disabled within ES, so we will still need to account for this scenario.

[2021-10-05 17:25] mattkime commented on #62373
Resolved in 7.11 by https://github.com/elastic/kibana/pull/83368

[2021-10-05 17:25] #62373 closed

[2021-10-05 17:27] #109281 closed

[2021-10-05 17:28] tylersmalley commented on #113496
Skipped

master: 244ebca919bba080d9d6f80e4ed45daf53bc1fbc

[2021-10-05 17:41] kibanamachine commented on #106492
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/188#a8c918e8-3e88-44a0-838b-96d48806326c)

[2021-10-05 17:42] stacey-gammon opened #113978 "ApiDocs/Code health metrics: Auto track eslint ignores and ts-ignores"
We should be counting the number of eslint ignores and ts-ignores and adding them to the code health metrics for each plugin.

[2021-10-05 17:42] elasticmachine commented on #113978
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-05 17:47] mattkime commented on #110608
@afharo How common is this case? Do any of the solutions make this likely?

I think we need to do a better job communicating which indices are matched by a data view - https://github.com/elastic/kibana/issues/72665 - but its unclear to me if its worthwhile to modify the UI for creating index pattern strings.

[2021-10-05 17:50] dominiqueclarke commented on #112831
@joshdover I'm concerned about the policy editing flow. When the stack version ships, Synthetics will ship with a new custom UI that exposes new configuration fields. When users go back to edit their old policies, they'll see these new fields but the spec won't support them, leading to silent errors and user confusion. To mitigate this we'll either need to A.) Introduce additional complexity into

[2021-10-05 17:55] dborodyansky opened #113981 "[Fleet] Unified integrations - UI polish"
- [ ] Unified integrations header image spacing overlap.

---
- [ ] Scrollbar causes layout to shift horizontally.

[2021-10-05 17:55] elasticmachine commented on #113981
Pinging @elastic/fleet (Team:Fleet)

[2021-10-05 17:57] kobelb commented on #113601
Here's the issue where they're talking about adding per-type validation to saved objects: https://github.com/elastic/kibana/issues/104088

[2021-10-05 18:12] cqliu1 opened #113984 "[Canvas] Dashed border on embeddable elements in view/fullscreen mode"
**Kibana version:**
7.13.0+

**Describe the bug:**
Embeddables in workpad all have a dashed border.

**Steps to reproduce:**
1. Install a sample data set (i.e. ecommerce)
2. Open Canvas
3. Create a workpad
4. Click `Add element` > `Add from Kibana`
5. Add any visualization to the workpad
6. Click on the fullscreen button to enter fullscreen mode.
7. Observe the dashed border still visible

**Expec

[2021-10-05 18:12] elasticmachine commented on #113984
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-05 18:19] kobelb commented on #113734
If it's technically feasible, it sounds good to me.

[2021-10-05 18:23] kobelb commented on #113767
@elastic/es-distributed do you all mind confirming our understanding here?

[2021-10-05 18:24] tsullivan commented on #101964
@pgayvallet @mshustov

PR: https://github.com/elastic/kibana/pull/113803

[2021-10-05 18:29] tsullivan commented on #82020
Based on [this quote](https://github.com/elastic/kibana/issues/82020#issue-732377620), there is an issue to raise for Reporting:

Reports are Kibana entities that can't be imported and exported using saved object management. There is no path to transitioning to reports to use Spaces, either.

It should be understood the only way a user will be able to view historical reports that are in a custom i

[2021-10-05 18:30] kibanamachine opened #113987 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors·ts - Actions and Triggers app Connectors should delete a connector"
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/945#36ba369e-be38-473d-ac87-a2887efef9c8)

[2021-10-05 18:36] flash1293 commented on #101905
Closing as everything has been addressed

[2021-10-05 18:36] #101905 closed

[2021-10-05 18:48] kobelb commented on #82020
IMO, yes because reports can be easily regenerated if they are needed. However, I delegate my real opinion to @alexfrancoeur.

[2021-10-05 18:51] ghudgins commented on #51227
+1 - someone who wants `hh:mm` for a specific table visualization but still wants the histogram to be a date histogram (and not an "hour of day" visualization)

[2021-10-05 18:53] kibanamachine opened #113991 "Failing test: Jest Tests.x-pack/plugins/fleet/storybook - Storyshots Sections/EPM/Package List Grid List"
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/946#ff42e543-5004-441b-887b-0e66b9018892)

[2021-10-05 18:58] tylersmalley commented on #113991
Skipped

master: 68afc9b53e1e771b3220f523e44bd8382e5d9c02
7.x: a30f2eabd2ceb9ae33afa9bf1f79ebaef965a711

[2021-10-05 18:59] elasticmachine commented on #113991
Pinging @elastic/fleet (Team:Fleet)

[2021-10-05 18:59] tylersmalley commented on #113991
cc @clintandrewhall seeing this failing across PRs

[2021-10-05 19:13] pmuellr commented on #98246
I noticed something in the metrics threshold alert that seems like not a great pattern, so thought it might be worth noting here.  It's not about the executor itself, but the parameters:

https://github.com/elastic/kibana/blob/35200bea1fd3ae3823ce3e015940d6c43c86cd50/x-pack/plugins/infra/public/alerting/metric_threshold/types.ts#L57-L66

If you've had me review a rule implementation before, you kn

[2021-10-05 19:14] kibanamachine opened #113993 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/embeddable/dashboard·js - maps app embeddable embed in dashboard should apply new container state (time, query, filters) to embeddable"
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/945#956df55a-ef31-4f34-a520-dde9e89d013d)

[2021-10-05 19:24] nchaulet commented on #112896
I think I could have solution that will work but it will require to make a change to the integrations that are expecting a string value

You can use `!!str` in a yaml file to force the yaml parser to get the value as a string

So if integration template look like this `my_value: !!str {{test}}` we could ensure the value will be a string without adding the extra quote.

Example:
<img width="1205" a

[2021-10-05 19:24] jbaiera opened #113994 "[Breaking change] Removal of monitoring migrate alerts endpoint"
## Removal of the `/_monitoring/migrate/alerts` endpoint.

**Which release will ship the breaking change?**

8.0

**Is this a Kibana or Elasticsearch breaking change?**

Elasticsearch

**Describe the change. How will it manifest to users?**

This endpoint was added last year as a way for Kibana to request the removal of default Monitoring alerts from Elasticsearch so that they may be replaced by K

[2021-10-05 19:24] elasticmachine commented on #113994
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-10-05 19:25] jbaiera commented on #113994
cc: @jasonrhodes

[2021-10-05 19:30] #90934 closed

[2021-10-05 19:35] wayneseymour opened #113998 "[meta] [refactor] use ui settings instead of timepicker ui"
Due to flakiness in the ui [timepicker](https://github.com/elastic/kibana/issues/113520#issuecomment-931703745),
refactor most tests to use ui settings,
instead of the timepicker.

Helps with: https://github.com/elastic/kibana/issues/113520

Let's priortize the failed tests listed in [this issue's description](https://github.com/elastic/kibana/issues/113520)

Per app, we need one use of the time p

[2021-10-05 19:39] mostlyjason commented on #83001
Latest screenshot from 7.15 since we removed the kibana security requirements when we added fleet server

![image](https://user-images.githubusercontent.com/6370704/136091433-47899038-ce1e-46c7-9ed6-e5173e2656f7.png)

[2021-10-05 19:40] tylersmalley commented on #96372
Skipped

master: 0fe5d26c000e092bd3f8fc80ee2effcd6e1927a6
7.x: f83067d11f495b059852f490e63efa5efb960d66

[2021-10-05 19:40] tylersmalley commented on #96372
I have to skip again, this is happening frequently again.

[2021-10-05 19:53] jbynum commented on #112842
@alexfrancoeur we will be able to pick up this work for 7.16. @yakhinvadim has been assigned.

We are both coming on to speed on the details of the project and I want to confirm that the Registry API defined in https://github.com/elastic/kibana/issues/93084 is the right example to follow for our cards. Is that that most up-to-date information?

[2021-10-05 20:02] kibanamachine opened #114002 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/saved_searches·ts - discover Discover Saved Searches should unselect saved search when navigating to a 'new'"
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/949#0b4ad983-f0ab-43c1-8098-5f633441979c)

[2021-10-05 20:20] smith commented on #113900
@ivybridge-3c33 please ask your question on https://discuss.elastic.co/. Issues on the Kibana repository are for bug or feature requests, and the discussion forum is a more appropriate place to ask this.

From your question it's difficult to tell what you might be seeing, but hopefully you can get some help on the discussion forums.

[2021-10-05 20:20] #113900 closed

[2021-10-05 20:32] jportner commented on #96372
According to recent conversations offline, it sounds like when a test fails because of a timeout, we won't see an up to date screenshot. So we'll need to try to reproduce this locally I guess

[2021-10-05 20:34] smith commented on #113730
Looks like this was fixed in [#108338](https://github.com/elastic/kibana/pull/108338/files#diff-de530a70b30d87a8b68747c55a5b407323676d8dbf2d3f64fd91581e1f5d6930R23). Updating to 7.15.0 should fix it. Thanks for reporting.

[2021-10-05 20:36] alexfrancoeur commented on #112842
Thanks Jason! I'll add some folks to our weekly sync on this if they'd like to pop in. I'll defer to @joshdover @thomasneirynck and @clintandrewhall on the specifics around the registry API.

[2021-10-05 20:40] kibanamachine commented on #114002
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/949#b5713ef8-3fe8-45f7-8eb8-79fcae8a704e)

[2021-10-05 20:40] alexfrancoeur commented on #113825
Seems like we'll have support from @zumwalt and team and may not need this MVP. If we can, let's start to try and provide a more streamlined approach from the integrations view as originally defined

[2021-10-05 20:52] kibanamachine commented on #113991
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/950#9bc65861-c7a7-4fdf-8564-2ef200e10379)

[2021-10-05 20:55] gchaps opened #114012 "[DOCS] Indicate reports are a subscription feature"
In the [Reporting and Sharing ](https://www.elastic.co/guide/en/kibana/current/reporting-getting-started.html) doc, add text to indicate reports are a subscription feature:

PDF and PNG reports are a [subscription feature](https://www.elastic.co/subscriptions).

For more context, see #73505.

[2021-10-05 21:00] spalger opened #114013 "Enable Github check that validates elastic org members are committing with *@elastic.co email addresses"
In order to know if a committer is a part of the elastic org when reporting local metrics we check the `commit.email` git config and see if it ends with `@elastic.co`. To help ensure that people are using this config locally we should add a PR check which fails on PRs where the PR author is in the elastic org but none of the commits in the PR are attributed to an `*@elastic.co` author. The link in

[2021-10-05 21:00] elasticmachine commented on #114013
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-05 21:03] kibanamachine commented on #107057
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/950#66a6c798-193c-438a-9080-f5b0cc4146ff)

[2021-10-05 21:06] gchaps commented on #111478
@dedemorton We cover much of the same information re: Fleet in the [Add data](https://www.elastic.co/guide/en/kibana/current/connect-to-elasticsearch.html) page.  What are your thoughts on removing the [Fleet page](https://www.elastic.co/guide/en/kibana/7.15/fleet.html) and relying on the Add data page instead?

[2021-10-05 21:21] jbudz commented on #114013
There's an edge case with commit suggestions coming from the GitHub UI - they use the primary email address linked to the account.  The check above sounds lenient enough, but making a note just in case.

[2021-10-05 21:29] dedemorton commented on #111478
@gchaps I think we should keep the Fleet page unless we plan to do something about the other one-pagers, like Observability and Security. We need to make it easy for users to search for and find docs about Fleet and Elastic Agent. Also...the subject is broader than adding data because Elastic Agents are also used to protect endpoints.

[2021-10-05 21:30] 1Copenut opened #114017 "[KEYBOARD]: Delete button for a selected filter myst have a visual indicator of keyboard focus"
**Steps to reproduce**

1. Log into a Kibana instance
2. Switch to the dark theme
3. Create a filter
4. Tab to the filter Delete `X` button
5. Confirm the button disappears when it has keyboard focus

<img width="841" alt="Screen Shot 2021-10-05 at 4 26 22 PM" src="https://user-images.githubusercontent.com/934879/136105070-6607f329-40cc-4858-8a94-8504e2b0798c.png">

**Actual Result**

* The Delete

[2021-10-05 21:30] elasticmachine commented on #114017
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-10-05 21:55] jasonrhodes commented on #113159
Based on discussion, we've decided that the benefits don't outweigh the rewards here with regards to ease of code sharing and better collaboration. And with some changes on the near horizon with how our teams are organized, we'll keep things the way they are.

[2021-10-05 21:55] #113159 closed

[2021-10-05 21:57] jasonrhodes commented on #113166
@Zacqary have you had a chance to look at the deprecations side of this? We need to tackle that ASAP before we worry about removing the code. Let me know if you have a chance to look, and if not, we can chat more about what this looks like.

[2021-10-05 22:03] jasonrhodes commented on #113171
@cjcenizal hmm, but if we are removing functionality, we can't do it until the 8.0.0 change, right? So the _actual_ code that is breaking needs to go in for 8.0 and _not_ for 7.16, right?

[2021-10-05 22:08] jasonrhodes commented on #106345
@ravikesarwani The simplest way to handle this in the UI is for the 8.0 UI to be the 8.0 UI and not show the graphs that won't work for 8.0 data. That data may be there for some of the 7.x clusters but it will make the UI much more complex (and possibly create an unsatisfying user experience, anyway, with 0s that aren't _really_ 0s), so if we can live with this more concrete split, I'd vote for th

[2021-10-05 22:13] elasticmachine commented on #112541
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-05 22:13] yctercero opened #114021 "[Security Solution][Platform] - Global KQL query bar erroring on read"
**Describe the bug:**
When interacting with the global KQL query bar, a user is able to save a query, but it seems that when the page attempts to load that saved query, it errors out.

**Kibana/Elasticsearch Stack version:**
7.16, master

**Steps to reproduce:**

1. Go to security solution
2. Add a filter within the page level KQL query bar
3. Click to save query
4. Notice toaster saying query was

[2021-10-05 22:16] #108173 closed

[2021-10-05 22:17] jasonrhodes commented on #108173
No need to do this. EUI Data Grid doesn't support it so this must have been seen in an older version of the pre-EUI T-grid component.

[2021-10-05 22:21] jasonrhodes commented on #109227
@katrin-freihofner I feel like we spoke about this before you left for PTO but I can't find any notes about what we decided again 😭

I think we need to keep active/recovered in the UI since that's the primary way an observability alert will change its state, and letting obs users filter on that state is important.

If we need to address the confusion of the workflow status, we could remove the wor

[2021-10-05 22:25] jasonrhodes commented on #109610
@mgiota / @weltenwort can you work together to rewrite the description of this ticket (or log a new one and re-close this one) to reflect what we intend to do here for now? I know we want to index some fields—do we have a short list of the ones to start with that we could index in ECS format for now? Or do we want to push ECS field indexing to a future release?

[2021-10-05 22:26] jasonrhodes commented on #107941
@mgiota / @katrin-freihofner Do we have this list of specific changes needed? If we can get it added to the issue description as the new AC, we can try to get this into the queue. Thanks!

[2021-10-05 22:28] jasonrhodes commented on #111090
Updated description to clarify AC

[2021-10-05 22:29] tsullivan commented on #100797
@jloleysens and I spoke earlier today and found that the `xpack.reporting.capture.viewport` width and height settings interfere with this effort, since the application (Dashboard) should have its own styles for print view that define the viewport width and height.

Since `xpack.reporting.capture.viewport` is undocumented and users have no reason to change it, I see those settings as functionally j

[2021-10-05 22:30] jasonrhodes commented on #106958
@afgomez this is blocked on the RFC work you're doing, right? I think we should say this won't make 7.16

[2021-10-05 22:53] kibanamachine commented on #113991
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/954#f4190d06-d0bf-4eba-a826-cd419b8ec2e2)

[2021-10-05 22:55] kibanamachine commented on #113067
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/954#326e59cd-9cd8-476f-ab05-e0aa8a7444aa)

[2021-10-05 22:57] BenB196 opened #114027 "Allow for More Than 2 Thresholds (and custom names, and colors) within Rules"
**Describe the feature:**

Currently, rules (i.e. `Metric threshold`) only have `2` "thresholds": `Alert` and `Warning`.

1. It would be nice to be able to have more than just `2` "thresholds"
2. It would be nice if you could set custom "threshold" values, as `Warning` and `Alert` aren't always the best descriptors.
3. It would be nice if you could set the color that the "threshold" value is, curr

[2021-10-05 23:02] kibanamachine commented on #114002
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/955#45147ce5-2600-4013-94aa-491bd16737f7)

[2021-10-05 23:09] BenB196 opened #114028 "Allow for actions to be run on multiple thresholds"
**Describe the feature:**

Currently rules that have threshold values (i.e.: `Metric threshold` has `Warning` and `Alert`) only allow for a single `Run when` value to be selected.

1. It would be nice if you could select multiple run when values.
2. It would be nice if you could select and all (`*`) `Run when` option.

**Describe a specific use case for the feature:**

Let's say I have a `Metric t

[2021-10-05 23:10] tylersmalley opened #114030 "Failing ES Promotion: Index Lifecycle Management"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

Failed promotion job: https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/211

[2021-10-05 23:11] elasticmachine commented on #114030
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-10-05 23:15] #110924 closed

[2021-10-05 23:15] #112485 closed

[2021-10-05 23:29] tsullivan commented on #113346
Hi @cjcenizal!

The setting is defaulted to `true` in the config schema: https://github.com/elastic/kibana/blob/d146b03fd335421d06d6bf95b22fc9795c0082a7/x-pack/plugins/reporting/server/config/schema.ts#L154

It can be updated to another value in an area that can use core dependencies here: https://github.com/elastic/kibana/blob/d146b03fd335421d06d6bf95b22fc9795c0082a7/x-pack/plugins/reporting/serv

[2021-10-05 23:30] BenB196 opened #114033 "Expand the concept of `Warning threshold` to other rules besides `Metric threshold`"
**Describe the feature:**

The `Metric threshold` rule has the ability to add a `warning threshold` to the rule. This allows for having actions be run on additional conditions.

It would be nice if other rule types had this ability. i.e.: `Index threshold`, `Elasticsearch query`, `Uptime monitor status`, etc.

**Describe a specific use case for the feature:**

Use Case 1 - `Index threshold`:

This

[2021-10-05 23:49] LeeDr opened #114034 "Can't close runtime field error which blocks part of the script"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** Cloud

**Browser version:** Chrome 94

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:** There's currently a privs error preventing runtime field preview from working.  And I think that's causing the `Fix errors in form before conti

[2021-10-05 23:54] kibanamachine commented on #113991
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/957#12c91990-6b7d-4a4d-b132-ed254a012688)

[2021-10-05 23:56] LeeDr opened #114036 "runtime field preview requires too much privs"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** Cloud

**Browser version:** Chrome 94

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:** On one of our internal clusters where we log in with Okta, on 7.14.0 I could create and edit runtime fields.  But in 7.15.0 we have a preview a

[2021-10-05 23:58] kibanamachine commented on #113067
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/957#41efb2bc-33d7-4c2a-bc74-9f070278531d)

[2021-10-06 00:28] andrew-goldstein commented on #113090
The team agreed to make the following short-term changes, targeting `7.16`, detailed below:

- Configure the `Columns` popover to be consistent with `Discover`
- Change the `Hide column` action to `Remove column`, to be consistent with `Discover`
- Persist updates to the `Columns` popover order in `local storage`
- Restore the feature to persist column widths in `local storage`

## Configure the `

[2021-10-06 00:50] #113984 closed

[2021-10-06 00:58] #113617 closed

[2021-10-06 01:12] ravikesarwani commented on #106345
I agree @jasonrhodes. In 8.0 UI code we will not try to show the graph even if there is data present for some clusters. Let's keep the code simple.
I just wanted to call out the scenario as a test case as we work on the fix. We need to consider that there is older data with the values and newer documents that don't have the values.

[2021-10-06 01:15] smith opened #114046 "[APM] Latency distribution chart fails to load with AsyncSearchService error"
The transactions page sometimes fails to load the latency distribution chart and shows a toast error like:

There are `DELETE` requests shown in the logs:

[code]

The cluster on which this is happening is using cross-cluster search.

The error is being thrown in the correlations search strategy: https://github.com/elastic/kibana/blob/16a5dfecfe4b05185942fea19704114fae91a2cb/x-pack/plugins/apm/ser

[2021-10-06 02:18] jasonrhodes commented on #113003
@weltenwort I think I agree on both points here unless anyone of us knows of any reasons to do it differently.

[2021-10-06 02:31] kibanamachine commented on #113991
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/965#dca5ff63-18ee-41ac-ac9a-2cbcfdac727f)

[2021-10-06 02:39] jportner opened #114049 "Add functional tests for insecure cluster warning"
Starting in 7.16, we got rid of the securityOss plugin, refactoring the insecure cluster warning code in the process.

Before 7.16, the insecure cluster warning could be shown in two different scenarios:

1. The Kibana security plugin is not available
2. Kibana security is available, but Elasticsearch security is disabled

After 7.16, scenario 1 is no longer possible, because the code has been mov

[2021-10-06 02:39] elasticmachine commented on #114049
Pinging @elastic/kibana-security (Team:Security)

[2021-10-06 03:35] cjcenizal commented on #111041
Let's shelve this idea for now.

[2021-10-06 03:35] #111041 closed

[2021-10-06 03:37] cjcenizal opened #114050 "Deep-link to Cloud's upgrade modal from the Upgrade step"
We can now add `?show_upgrade=true` to the deployment URL to trigger the upgrade modal instead of making users find and open the modal themselves.

For example:

[code]

[2021-10-06 03:37] elasticmachine commented on #114050
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-10-06 03:55] kibanamachine commented on #113067
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/969#e2f4c534-a3ec-4be6-8314-3dd423656586)

[2021-10-06 04:27] #101970 closed

[2021-10-06 04:35] kibanamachine commented on #104578
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/969#750bd692-acee-4d83-a03f-83c073df7fe3)

[2021-10-06 04:37] flash1293 commented on #113586
Yeah, it’s the regular app leave hook - @elastic/kibana-core what do you think about not respecting these if the user is logged out already (or at least making this an option)? Optimally we wouldn’t even need this alert and somehow store the current state in a way it can be recovered, but that’s a separate issue

[2021-10-06 04:41] tylersmalley commented on #104578
Skipped

master: 8350209a3cf49b8bb48621d4c87c75d5cfdaada4
7.x: 363879936b21f5c67f66f8f4bb817ffb8eeee6c1

[2021-10-06 04:44] matschaffer commented on #109363
Yep, work on the react version of the pages. Gonna close this out. We can re-open on the extremely unlikely change we ship another angular version.

[2021-10-06 04:44] #109363 closed

[2021-10-06 04:54] kibanamachine commented on #113067
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/970#6ae93daa-0ca7-4ef4-bb8b-043ebee1c21f)

[2021-10-06 05:00] flash1293 commented on #111594
Not 100% sure what’s going on - these warnings should be a 7.16 thing, but they have been fixed already: https://github.com/elastic/kibana/issues/112621#issuecomment-928282003

Let’s close for now, if it’s a different problem it will be re-opened

[2021-10-06 05:00] #111594 closed

[2021-10-06 05:13] tylersmalley opened #114053 "Fix and re-enable legacy import functional tests"
These tests failed on the backport of https://github.com/elastic/kibana/pull/113680, and ended up needing to be skipped.

Failures:

* [[job]](https://buildkite.com/elastic/kibana-pull-request/builds/7461#3480094d-bffb-4c69-bbe6-11fdffe10b4e) [[logs]](https://buildkite.com/organizations/elastic/pipelines/kibana-pull-request/builds/7461/jobs/3480094d-bffb-4c69-bbe6-11fdffe10b4e/artifacts/6b370273-9

[2021-10-06 05:28] kibanamachine commented on #113067
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/970#004b934d-4f7a-47b6-940b-a33e44a459c0)

[2021-10-06 05:45] tylersmalley commented on #113067
Skipped

master: 8b1a143736782fa871df9b2024e8844e98b4317e
7.x: 714f84da22dd4a969de1f7c44a0428c6596b7ffe

[2021-10-06 06:07] pgayvallet commented on #113734
As it seems we don't want to 'ship' cloud into core, that seems like the most realistic option to work around the specific 'legacy logging deprecation in 7.16' issue

However, note that UA does not have the info about the path of the setting being deprecated, as the `DeprecationDetails` type is generic for all kind of deprecations, so that `x-pack.upgrade_assistant.mute: ['logging....']` syntax wo

[2021-10-06 06:35] stratoula opened #114056 "[TSVB] Discuss annotations behavior"
There are some topics that I would like to discuss that have to do with the annotations in order to identify problems and solve them.

1. Interval is always set to `auto` although the user has changed it.
https://github.com/elastic/kibana/blob/master/src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/annotations/date_histogram.ts#L37
This might cause a confusion. For example:

[2021-10-06 06:36] elasticmachine commented on #114056
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-06 06:36] stratoula commented on #114056
cc @alexwizp

[2021-10-06 07:00] #112078 closed

[2021-10-06 07:23] PengYi-Elastic commented on #92990
@alisonelizabeth It should be fixed now by https://github.com/elastic/kibana/pull/93609. But when I try on Elastic Cloud with ES 7.14.2, I still got the same problem. Could you confirm if we reverted it back?

[2021-10-06 07:42] cnasikas commented on #113853
Thank you @nemhods for your feedback! This is something we definetly want to provide as a feature. It is in our backlog.

cc @paulewing

[2021-10-06 07:59] flash1293 commented on #108260
Will be solved on elastic-charts side: https://github.com/elastic/elastic-charts/issues/1417

[2021-10-06 07:59] #111172 closed

[2021-10-06 08:04] JoJa1101 commented on #32798
+1

[2021-10-06 08:30] majagrubic commented on #113745
According to the docs, `getMilis` indeed doesn't exist in `ZonedDateTime` java package:
https://docs.oracle.com/javase/8/docs/api/java/time/ZonedDateTime.html

[2021-10-06 08:48] watson commented on #98650
@rudolf You're right. If would have sworn it was like I said - I'm not sure how I got that idea. But I agree that the `trace-unhandled` package shouldn't be run in production. I think it will severely decrease performance as V8 will not be able to optimize performance of these overloaded promises as they can with the native - at least that's my gut feeling based on how much optimization that V8 cu

[2021-10-06 08:53] kibanamachine commented on #113695
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/979#6093fc55-a570-4701-a326-6280d015de3c)

[2021-10-06 09:13] pgayvallet opened #114065 "Allow deprecations registered via `core.deprecations` to access the current branch"
In https://github.com/elastic/kibana/pull/113600, we enhanced the `config` deprecation providers with a context allowing them to access the current branch and version. Main usage of this context was to allow to add documentation links pointing to the correct version.

For non-config deprecations (deprecations registered via `core.deprecations.getRegistry(...).registerDeprecations`, this is less of

[2021-10-06 09:29] Dosant commented on #113922
The actual issue: https://github.com/elastic/kibana/issues/84788

just leave a not, that we plan to address all the "Aggs" part of a bundle with using async registry pattern that we started working at: https://github.com/elastic/kibana/issues/65993

[2021-10-06 09:48] stratoula opened #114071 "[TSVB] Visualizations created prior to 7.12 with override index pattern and * are not migrated correctly"
**Kibana version:**
7.12+

**Describe the bug:**
In 7.11, if the users wanted to use the `override_index_pattern` feature it defaulted to `*`. This was not saved in the SO
![image](https://user-images.githubusercontent.com/17003240/136178450-46b63ec1-88e2-4f11-9777-96bacf3c30bf.png)

In 7.12 this has changed and if there is no index pattern set to the SO, this defaults to a blank field and does no

[2021-10-06 09:48] elasticmachine commented on #114071
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-06 09:59] flash1293 commented on #81730
This is happening because the chart want's to render identical ticks as the formatter is looking at the interval of the buckets rather than the length of the chart - it tries to render each daily tick as `00:00`, but they get deduplicated. This can be fixed by changing the `dateFormat:scaled` advanced setting to something like this (rendering the full date for 30m buckets):
[code]

This is actuall

[2021-10-06 10:00] #111767 closed

[2021-10-06 10:13] joshdover commented on #112831
Thanks for the feedback, @dominiqueclarke.

When is this scheduled to ship? Is this going to affect 7.16 or only 8.x?

Is it possible that upgrading the package policies to the package version that supports the custom UI could fail in any way (eg. due to a field conflict)? If so, it seems to me that we will have to be able to support something like (A) even if we do attempt to upgrade package poli

[2021-10-06 10:17] monfera opened #114073 "[Canvas] element that's visibly on the top is ignored for hover and selection in favor of occluded element"
**Kibana version:**
Happened to see it at e9fc5196ab060a8386da2bdef59e83fa08acada9 but present earlier too

**Elasticsearch version:**
Corresponding Dev snapshot for commit

**Server OS version:**
Local ES

**Browser version:**
Chrome 94.0.4606.61 on OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Developer bootstrap

**Describe the bug:**
I

[2021-10-06 10:19] elasticmachine commented on #114073
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-06 10:26] flash1293 commented on #18257
This changed a bit since it was reported - this is how a splitted table looks like today:
<img width="830" alt="Screenshot 2021-10-06 at 12 22 32" src="https://user-images.githubusercontent.com/1508364/136185429-91ab35ef-8f29-4b93-a04d-2e5207d4fafe.png">

If enough space is left the data is shown well:
<img width="830" alt="Screenshot 2021-10-06 at 12 24 06" src="https://user-images.githubusercont

[2021-10-06 10:26] #18257 closed

[2021-10-06 10:27] monfera opened #114074 "[Canvas] missing keyboard shortcut help"
**Kibana version:**
Happened to see it at e9fc5196ab060a8386da2bdef59e83fa08acada9 but present earlier too

**Elasticsearch version:**
Corresponding Dev snapshot for commit

**Server OS version:**
Local ES

**Browser version:**
Chrome 94.0.4606.61 on OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Developer bootstrap

**Describe the bug:**
C

[2021-10-06 10:40] estermv opened #114076 "[Stack Monitoring] Setup mode is not working for Elasticsearch nodes page"
When trying to access setup mode in Elasticsearch nodes page we get a blank page.

### Steps to reproduce
1- Go to Stack Monitoring and click on the nodes title box for Elasticsearch to navigate to the nodes page.
2- Click the setup mode button
3- You get a blank page and this error in the console:

<img width="635" alt="Screenshot 2021-10-06 at 12 35 44" src="https://user-images.githubusercontent

[2021-10-06 10:40] elasticmachine commented on #114076
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-06 10:42] weltenwort commented on #88585
This seems to apply mainly to the "above or equals" comparator. The condition in

https://github.com/elastic/kibana/blob/729194586e0b0f29363eca721d84791880d18047/x-pack/plugins/infra/server/lib/alerting/common/messages.ts#L66

is inverted.

[2021-10-06 10:49] monfera opened #114077 "[Canvas] iterating on interaction design for content creation actions"
**Kibana version:**
Happened to use Kibana at e9fc5196ab060a8386da2bdef59e83fa08acada9 but present earlier too

**Elasticsearch version:**
Corresponding Dev snapshot for commit

**Server OS version:**
Local ES

**Browser version:**
Chrome 94.0.4606.61 on OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Developer bootstrap

**Describe the issu

[2021-10-06 10:49] elasticmachine commented on #114077
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-06 11:03] #110465 closed

[2021-10-06 11:03] monfera opened #114079 "[Analytics] reconsider the intro screen"
**Kibana version:**
Happened to use Kibana at e9fc5196ab060a8386da2bdef59e83fa08acada9 but present earlier too

**Elasticsearch version:**
Corresponding Dev snapshot for commit

**Server OS version:**
Local ES

**Browser version:**
Chrome 94.0.4606.61 on OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Developer bootstrap

**Describe the issu

[2021-10-06 11:04] muskangulati-qasource commented on #111935
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 7.16.0-SNAPSHOT environment. Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/136155276-6c41032f-5654-41c9-84cc-85fe2a7bea06.mp4

Hence, closing this ticket and marking it as "Validated".

cc: @ashokaditya
Thanks!

[2021-10-06 11:04] #111935 closed

[2021-10-06 11:06] cnasikas opened #114081 "[Connectors] ServiceNow ITOM: MVP"
# Summary

A new connector for ServiceNow ITOM will be created. The connector will offer the minimum functionality needed, namely to add an event [[1]](#ref-1) to the Event Table in ServiceNow.

# Technical details

An alert, created from a rule execution, can execute in turn actions with the use of connectors. When the ITOM connector is configured with a rule then for each alert execution an even

[2021-10-06 11:06] elasticmachine commented on #114081
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-06 11:06] gmmorris commented on #113562
Just a word of warning that this is quite domain-specific, and not something the framework should necceserily make assumptions about.

# Secuirty vs. Observability
In Security Solution it makes sense that all data should be evaluated when there is a gap, as you want to know what happened while the system was saturated and delayed.
A complete record is critical for the security use case to be relia

[2021-10-06 11:17] stratoula opened #114083 "[Graph][Discover] Rename Index pattern to Data view"
**Describe the feature:**

Part of #94244

In **v8.0** we want to rename the index patterns to data views. As a first step we just want to update the text and not the keys (pf course if it is easy to change the key, we can also change them).

### Discover
- Data view picker
![image](https://user-images.githubusercontent.com/17003240/136192040-902c5e4e-e490-4589-a75c-0a1989002dfa.png)

- Data view

[2021-10-06 11:23] lizozom opened #114084 "Add information about browser window memory to `Kibana Loaded` fullstory event"
Add information about [window.performace.memory](https://developer.mozilla.org/en-US/docs/Web/API/Performance/memory) (if available in browser) to the fullstory `Kibana Loaded` event

[2021-10-06 11:35] #113873 closed

[2021-10-06 11:39] elasticmachine commented on #114079
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-10-06 11:45] gmmorris opened #114087 "PagerDuty docs are out of date"
**Dedup Key** in this doc: https://www.elastic.co/guide/en/kibana/current/pagerduty-action-type.html

It says:
`<alert ID>:<alert instance ID>`

should be:
`<rule ID>:<alert ID>`

[2021-10-06 11:46] elasticmachine commented on #114087
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-10-06 11:47] ymao1 commented on #113457
Removing `blocked` label bc RFC is approved

[2021-10-06 11:49] #110583 closed

[2021-10-06 11:55] mistic commented on #113695
This test keeps failing and looks flaky. Skipping for now.

master/8.0: f43b447
7.x/7.16: 20d7477

[2021-10-06 12:09] #111759 closed

[2021-10-06 12:12] klacabane commented on #114076
We're missing the `productName` property on the nodes' [SetupModeRenderer](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/application/pages/elasticsearch/nodes_page.tsx#L86). It's used to extract the [corresponding property from the state](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/application/setup_mode/setup_mode_renderer.js#L18

[2021-10-06 12:16] pgayvallet commented on #113586
I think that core's don't know anything about the authentication status unfortunately, especially on the client-side...

[2021-10-06 12:36] karanbirsingh-qasource opened #114097 "[Security Solution][Cases]No warning Triangle Icon for depreciated shown under Connector list while adding connector as Rule Action Item"
**Describe the bug**
No warning Triangle Icon for depreciated shown under Connector list while adding connector as Rule Action Item

**Build Details**
[code]

**Precondition**
- Create connector on old kibana build let say 7.15.0 and upgrade it to 7.16.0

**Steps**
- Login to upgrade kibana build
- Go to any Rule and edit it and go to Rule Action setting
- Click on ITSM or SecOps
- Observed that N

[2021-10-06 12:36] elasticmachine commented on #114097
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-10-06 12:36] elasticmachine commented on #114097
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-10-06 12:37] #112345 closed

[2021-10-06 12:50] #111386 closed

[2021-10-06 12:50] #111387 closed

[2021-10-06 13:00] Dosant commented on #112913
Looks like caused by https://github.com/elastic/kibana/issues/113520, should wait for global solution and unskip

[2021-10-06 13:02] legrego commented on #113586
Are you concerned that this is over-engineering something that's specific to Lens, or do you think that Lens should behave differently than other apps when there is unsaved work?

If the former, then I think that Lens is just one example of where this could happen, but it's a more general problem. Dashboards also prompt for unsaved work today, and I eventually want to support this for some of our

[2021-10-06 13:02] pgayvallet commented on #101009
Overall, I don't have any objection to restrict the input of the `/api/core/capabilities` endpoint.

However, this `applications` array in the payload is the list of all registered apps' ids on the client-side.

Looking at the current list

[code]

It seems the regexp would match. But if we do add regexp validation to the endpoint, we'll want to add the same validation during the client-side app r

[2021-10-06 13:02] walterra commented on #114046
I'm able to reproduce the issue when running a load balancer in front of 2 Kibana instances that distributes request in alternation or randomly to both Kibana instances. The search strategy async task runs only on the Kibana instance that got the first request of the search strategy.

A quick fix for users could be to configure the load balancer with a routing policy so that for example a logged i

[2021-10-06 13:04] legrego commented on #101009
This doesn't pose an actual security risk to Kibana, so I don't personally think we need to re-prioritize other work to fit this into `7.16`

[2021-10-06 13:10] elasticmachine commented on #113998
Pinging @elastic/kibana-qa (Team:QA)

[2021-10-06 13:17] Dosant commented on #95865
This is the current state of an initial bundle of `kibanaReact`:

![Screen Shot 2021-10-06 at 15 08 16](https://user-images.githubusercontent.com/7784120/136208560-cf53e755-2ed9-45c5-98af-229363750019.png)

Most of these are components that don't have a dependency on other Kibana parts. We can code split those in two ways:

 1. Add a `Lazy` wrapper for each component and export only them on plugin

[2021-10-06 13:22] elasticmachine commented on #60559
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-06 13:24] simitt commented on #112831
That's a good point, the APM UI team also implemented a custom UI. Pulling in @oliver and @sqren for visibility.

[2021-10-06 13:30] elasticmachine commented on #98402
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-06 13:31] elasticmachine commented on #98413
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-06 13:31] elasticmachine commented on #105339
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-06 13:32] elasticmachine commented on #110357
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-06 13:32] formgeist opened #114102 "[APM] Update adding service name or environment options message in selection dropdowns"
# Summary

I noticed that on the rules creation the new dropdowns for selecting service name and environment have a message when creating an option that isn't in the list.

<img width="365" alt="CleanShot 2021-10-06 at 14 34 02@2x" src="https://user-images.githubusercontent.com/4104278/136211919-2d13c1cd-89e7-499b-a3ab-624a104ec19c.png">

I would propose the change the copy of the message to say:

[2021-10-06 13:34] stratoula commented on #109520
Closing it as it hasn't failed again and seems unrelated to this test

[2021-10-06 13:34] #109520 closed

[2021-10-06 13:35] joegallo commented on #114030
Yeah, you got it.

https://github.com/elastic/kibana/blob/master/x-pack/test/api_integration/apis/management/index_lifecycle_management/fixtures.js

^ is trying to put policies that reference snapshot repos and slm policies. Previously, those snapshot repos and slm policies didn't have to exist -- ILM didn't do any validation at policy creation/update time. Now it does -- those referenced things n

[2021-10-06 13:38] elasticmachine commented on #101188
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-06 13:42] #111449 closed

[2021-10-06 13:50] stratoula commented on #113682
![image](https://user-images.githubusercontent.com/17003240/136215920-5106397a-305e-4b02-a3a0-32c523d66134.png)

[2021-10-06 14:00] pmuellr commented on #113562
There some other related aspects to this like de-duping data received from previous rule runs, when doing calculations in new rule runs - some rules do this, some don't.  It would be nice to have some consistency, even if just by name, for these sorts of things.

[2021-10-06 14:03] stratoula commented on #99010
This hasn't failed recently, closing for now

[2021-10-06 14:07] stratoula commented on #45244
closing it as it hasn't failed the last 6 months

[2021-10-06 14:07] #45244 closed

[2021-10-06 14:08] stratoula commented on #109734
I am closing it as it hasn't failed the last 2 months. We have also done some optimizations to the TSVB tests, so I hope that this flakiness has been addressed

[2021-10-06 14:14] #113808 closed

[2021-10-06 14:18] miltonhultgren commented on #110758
(I'm guessing edge is the name of a cluster?)
I don't know, maybe @chandlerprall knows which version of Kibana/EUI is deployed there?

[2021-10-06 14:20] MadameSheema commented on #113587
@peluja1012 @banderror can you please add this bug to a project (if needed), add an impact and remove the triage label? Thanks!

[2021-10-06 14:24] aleksmaus commented on #112896
@nchaulet we changed osquery configuration in particular for the next 7.16 release (6.x version of osquery_manager integration), not using streams and the hbs template for them anymore

[2021-10-06 14:27] MadameSheema commented on #113912
@marshallmain @peluja1012 can you please add impact for this bug, add it to your project board (if needed) and remove the triage needed once is done? Thanks!

[2021-10-06 14:29] MadameSheema commented on #113607
@banderror @peluja1012 can you please add this bug to your project board if needed? please also add impact and remove the triage needed when done, thanks!

[2021-10-06 14:33] m-adams opened #114114 "[Maps] blurry text in raster tile servers in map layers"
**Describe the feature:**

If you are adding a tile server to Kibana Maps due to issues with fractional zoom levels you can end us with blurry labels in the layer.
It would be beneficial to have a way to better handle this scenario to make the user experience better.

**Describe a specific use case for the feature:**

Geo analytics adding custom non-vector layers

[2021-10-06 14:40] ymao1 commented on #113964
When implementing this, it might be nice to have these values by configurable in the `kibana.yml` or advanced settings so they can be changed between releases if necessary

[2021-10-06 14:40] ymao1 commented on #113966
When implementing this, it might be nice to have these values by configurable in the `kibana.yml` or advanced settings so they can be changed between releases if necessary

[2021-10-06 14:41] sebelga commented on #114036
Could you try with a very simple script `emit('hello');` and confirm that it does not let you create a runtime field? It seems to me that you might have an error in your script but I want to confirm.

[2021-10-06 14:41] gmmorris commented on #113804
Blocked on https://github.com/elastic/kibana/issues/113804

[2021-10-06 14:45] pmuellr commented on #113747
As a short-term work-around, can we make use of runtime fields?

[2021-10-06 14:46] flash1293 commented on #14632
I think this has been fixed.

I ingested these documents:
[code]

No partial:
<img width="1049" alt="Screenshot 2021-10-06 at 16 44 18" src="https://user-images.githubusercontent.com/1508364/136226828-0f4fd3d5-845f-42dd-9aae-b3525f9602c3.png">

Partial:
<img width="1049" alt="Screenshot 2021-10-06 at 16 44 25" src="https://user-images.githubusercontent.com/1508364/136226838-6a88f22d-9f13-4bc8-a0e4

[2021-10-06 14:46] #14632 closed

[2021-10-06 14:46] gmmorris commented on #113747
Could be, worth checking 👍
If we can this issue can possibly get dropped or backlogged.

[2021-10-06 14:46] stacey-gammon opened #114118 "Improve visibility into developers using ES APIs with deprecated parameters."
## Background

If ES APIs are used in such a way that is deprecated, they will return a deprecation warning in the response header. Some areas of Kibana will expose this to the user (e.g. Discover), but other apps do not. Exposing this to the user can also be the wrong thing to do if a _developer_ is responsible for the deprecated usage and not the end-user.

## Request

A generic way to track all

[2021-10-06 14:46] elasticmachine commented on #114118
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-06 14:55] tsullivan opened #114119 "[Reporting] Remove unused settings from the code"
**Kibana version:**
7.16

Reporting has 7 (soon to be 8) configuration settings that are unused. These settings are unused because they should have been defined as constants in the code to begin with. Due to their low importance, these settings have never been documented.

List of settings:
- `xpack.reporting.capture.browser.chromium.maxScreenshotDimension`
- `xpack.reporting.capture.concurrency`

[2021-10-06 15:33] gbamparop commented on #113323
Created a separate issue for the cloud allow list #114130

[2021-10-06 15:50] #93624 closed

[2021-10-06 15:55] #102183 closed

[2021-10-06 16:09] #112585 closed

[2021-10-06 16:54] elasticmachine commented on #18255
Pinging @elastic/kibana-security (Team:Security)

[2021-10-06 17:03] pmuellr opened #114148 "[alerting] add a new "state" property bag to rules and connectors, as a peer of params / config / secrets"
Today, we've had cases where we need to add some "state" to rules and connectors, often in migrations.  An example is adding an `isLegacy` property to ServiceNow connectors in PR https://github.com/elastic/kibana/pull/105440.

This isn't great, because we make params / config / secrets exposed to users, to configure their rules / connectors / actions, and the type of "state" things we add usually

[2021-10-06 17:06] paulb-elastic opened #114149 "[Uptime] Enable inspector panel for Uptime"
Following on from the implementation of the inspector panel in User Experience [kibana#113120](https://github.com/elastic/kibana/issues/113120) for visualising the queries made loading a page, this would also be useful in Uptime.

ACs:
* Enable the **Inspect** feature in Uptime when the “Inspect ES queries” flag has been enabled in the Observability Advanced settings

[2021-10-06 17:11] andreadelrio commented on #113378
I think we should aim to have an "intermittent connection" screen with a loading spinner and an "Attempting connection" message. If we have access to more details we can also include that on this screen. Can the connection attempt be broken into number of tries/attempts? different steps? etc. We can make use of the loading [components](https://eui.elastic.co/#/display/loading) Eui provides.

[2021-10-06 17:22] sixstringcode commented on #61738
@VijayDoshi @lizozom is working on other projects now, @lukasolson and I are driving the planning ahead. The secondary query/other bucket problem is top of our queue for finishing up the Make It Slow effort.

[2021-10-06 17:26] legrego commented on #18255
Closing in favor of https://github.com/elastic/kibana/issues/97200. It's a bit newer than this issue, and has a more useful discussion.

[2021-10-06 17:26] #18255 closed

[2021-10-06 17:30] kibanamachine commented on #93354
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/995#814fc840-5954-48f0-8ceb-77d082802d65)

[2021-10-06 17:33] 1Copenut opened #114151 "[KEYBOARD]: Top Nav must set focus correctly when users press Edit or Save button"
**Description**
Our Top Nav should be setting focus on the containing `<nav>` DOM element when users press the Edit button to toggle to edit mode or the Save button to return to view mode. This helps keyboard and screen reader users who are expecting focus order to be managed so that they don't have to traverse backwards to hear or access the menu options.

This issue will not be fixable without a

[2021-10-06 17:42] ymao1 commented on #113459
Took a look at using the Advanced settings for the "skip actions" feature flag. It is super straightforward to add an advanced setting 🎉, however, it looks like the primary purpose of the Advanced settings is to control things in the UI. In fact, the plugin is actually called `ui_settings`.  To access the UI setting in the server, you need a request context (so basically you can access it if you r

[2021-10-06 17:45] neptunian opened #114154 "[Stack Monitoring] Elasticsearch Overview bug from angular migration"
Original PR: https://github.com/elastic/kibana/pull/111941

Go to Elasticsearch -> Overview and click to toggle "Completed recoveries" under Shard Activity.  Page crashes due to angular injector.

[2021-10-06 17:48] spalger commented on #63339
This test has only failed once on 7.x, but 16 times in PRs, all of which were in https://github.com/elastic/kibana/pull/113194 and https://github.com/elastic/kibana/pull/113309

@cqliu1 do you think there's a common PR that would potentially re-introduce this flakiness?

[2021-10-06 17:50] paulb-elastic opened #114155 "[Uptime][Integration] Synthetic Integration Options for throttling"
This issue is to expose the throttling parameters (as implemented in Synthetics via https://github.com/elastic/synthetics/issues/284 and Heartbeat via https://github.com/elastic/beats/issues/27952) in the integration UI.

As a user of Synthetic Monitoring configured through a Fleet Integration
I want to be able to configure the throttling parameters for my monitors
So that I can more accurately co

[2021-10-06 17:50] elasticmachine commented on #114155
Pinging @elastic/uptime (Team:uptime)

[2021-10-06 17:51] spalger commented on #93354
Skipped in 7.x and 7.15 as well

[2021-10-06 17:51] paulb-elastic opened #114156 "[Synthetics UI] Expose input for Playwright Options"
This issue is to expose the Playwright Option parameters (as implemented in Synthetics via https://github.com/elastic/synthetics/issues/388 and Heartbeat via https://github.com/elastic/beats/issues/28197) in the Synthetics UI.

As a user of Synthetic Monitoring
I want to be able to configure additional Playwright Options for my monitors
So that I can define the behaviour of my monitors (e.g. contr

[2021-10-06 17:59] cjcenizal opened #114158 "Switching Spaces should retain the user's location in Kibana"
Currently, switching Spaces takes the user to the Home page.

Imagine a user who's looking at dashboards. They switch to a new space. What are the chances that Home is where they want to go to next? I think it's close to zero. What are the chances they want to continue looking at dashboards, just in a different space? I think it's somewhat higher. And even if they don't want to continue looking at

[2021-10-06 17:59] elasticmachine commented on #114158
Pinging @elastic/kibana-security (Team:Security)

[2021-10-06 18:00] kibanamachine opened #114159 "Failing test: Jest Tests.src/plugins/es_ui_shared/static/forms/hook_form_lib/components - <UseField /> state isPristine, isDirty, isModified should update the state for field with default value in their config"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/202#57602328-0858-4259-aa44-879fb086f0b2)

[2021-10-06 18:01] neptunian opened #114160 "[Stack Monitoring] Functional tests in SM React version"
Tests are still failing early on due to alerts modal not in yet, but commenting that out I was able to start running individual tests.  https://github.com/elastic/kibana/blob/master/x-pack/test/functional/apps/monitoring/index.js.  Can skip ones already commented out.

I'm starting on the elasticsearch tests and have found some bugs I'm going to start fixing.  I was thinking we can test locally an

[2021-10-06 18:01] elasticmachine commented on #114160
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-06 18:03] pmuellr commented on #106876
I'll chime in with rylnd here ^^^ - I think service accounts are probably the long-term direction we want to go.

We've been talking about "service accounts" from the very beginning, but it was an informal notion - "have the customers create accounts specifically for creating / editing rules, so they aren't 'owned' by a human" (in case that human leaves the company, for instance).  That informal f

[2021-10-06 18:03] neptunian opened #114162 "[Stack Monitoring] Elasticsearch functional tests"
As part of https://github.com/elastic/kibana/issues/114160, get functional tests running for Elasticsearch views

[2021-10-06 18:03] elasticmachine commented on #114162
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-10-06 18:06] #104620 closed

[2021-10-06 18:06] spalger commented on #113130
Skipped

master/8.0: https://github.com/elastic/kibana/commit/ce489a1131fb22f3ddcecfd5146dfa10de02fe47
7.x/7.16: https://github.com/elastic/kibana/commit/1ab6f9d6cf733556450fe0ac008cb04b5e2942e1

[2021-10-06 18:07] legrego commented on #114158
Also tagging in the design team since we've recently had discussions around space selection & management

[2021-10-06 18:10] elasticmachine commented on #114159
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-10-06 18:11] spalger commented on #114159
@sebelga Looks like these tests were added in https://github.com/elastic/kibana/pull/100198 and the `await` is missing inside `act(async () => {})` calls, which is possibly why this is flaky.

[2021-10-06 18:12] tobiasstadler opened #114165 "Run Kibana on Docker for development not working"
**Kibana version: **
8.0.0-alpha2

**Elasticsearch version:**
8.0.0-alpha2

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**

**Steps to reproduce:**
Follow the steps in https://www.elastic.co/guide/en/kibana/master/docker.html#run-kibana-on-docker-for-dev

**Expected behav

[2021-10-06 18:16] spalger commented on #105171
It looks like this test isn't waiting for the sample data to be indexed before progressing, which is probably why it's flaky

[2021-10-06 18:18] spalger commented on #105171
Skipping

master/8.0: https://github.com/elastic/kibana/commit/3a9aa78458e472c5d0843c2c488ed96345b41ab2
7.x/7.16: https://github.com/elastic/kibana/commit/132b51d8110a8c251161dd6dbdaee068df316501
7.15: https://github.com/elastic/kibana/commit/2661ce80c1ab4a2fe8cdde8e33dbdb42ae2a6b4e

[2021-10-06 18:23] monina-n commented on #113090
@andrew-goldstein thank you for describing all the changes!

Summarizing the discussions the Product/UX sync on 10/06/21, Product and UX is in all agreement with this direction for 7.16.  Please let us know when the PR is up to implement these changes so we can review.

cc: @adamwdraper @paulewing @mdefazio

[2021-10-06 18:26] kibanamachine commented on #100951
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/203#f4fae5fc-2044-4a58-b9e7-7400600b8ccc)

[2021-10-06 18:27] tsullivan opened #114167 "[Reporting] Scheduled Reports phase 1: POC for APIs"
Part of https://github.com/elastic/kibana/issues/79905

Scheduled reports will be implemented in a feature branch so allow developers to structure multiple pull requests for review:

1.  CRUD API endpoints for scheduled reports using [POST URL](https://www.elastic.co/guide/en/kibana/current/automating-report-generation.html#create-a-post-url), without security or connector integration.
2.  Allow s

[2021-10-06 18:35] mostlyjason opened #114169 "[Fleet] Migrate to the new telemetry cluster"
As of 7.16 the telemetry team will stop indexing data into the legacy cluster, so the only way to get visibility to the latest release is the new cluster. We need to make sure that our Fleet and package telemetry is available and that we are able to do the same kinds of data analysis as before.

We'll need to create custom indices in the new telemetry cluster by selecting specific fields from the

[2021-10-06 18:35] elasticmachine commented on #114169
Pinging @elastic/fleet (Team:Fleet)

[2021-10-06 18:37] #112175 closed

[2021-10-06 18:40] clintandrewhall commented on #113991
Turns out this caught a bug in my implementation.  I'll have a fix shortly.

cc: @thomasneirynck @juliaElastic @tylersmalley

[2021-10-06 18:52] n0othing opened #114171 "Add ability to close/delete indices via the Snapshot and Restore UI"
**Describe the feature:**

If you're attempting to to restore an existing index, then you must do one of the following:

* Rename the restored index
* Delete the existing index
* Close the existing index

If these conditions aren't met, you're presented with an error explaining the problem:

![snapshot_restore](https://user-images.githubusercontent.com/11917935/136264495-29f5632b-4d93-4a0f-a2c8-c0

[2021-10-06 19:01] stacey-gammon commented on #112886
Note, this is currently blocked on https://github.com/elastic/kibana/issues/107648, as moving code into packages will increase build times compared to plugins.

[2021-10-06 19:05] n0othing opened #114173 "Show API request in Snapshot and Restore UI"
**Describe the feature:**

The S&R UI makes it easy to work with snapshots. However, users may want to see what API calls are being issued under the hood. It'd be nice to have a tab to see the API request that gets submitted to Elasticsearch when setting up a restore.

![restore_example](https://user-images.githubusercontent.com/11917935/136266209-238b84c2-0423-43eb-b42b-6a12984d6918.jpg)

This wo

[2021-10-06 19:16] Zacqary commented on #111756
Closing as this is complete pending CI on https://github.com/elastic/kibana/pull/113974

[2021-10-06 19:17] #113646 closed

[2021-10-06 19:19] spalger opened #114175 "[eslint] try linting with types in core"
There are eslint rules like [@typescript-eslint/no-floating-promises](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-floating-promises.md) which require TS types to execute. This means teaching ESLint about where our types are and having it load them in the process making ESLint even slower. I think this might be an opportunity for us to run

[2021-10-06 19:19] elasticmachine commented on #114175
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-06 19:28] petrklapka opened #114177 "Jira Test Sync for Operations (bug)"
This is a test.

[2021-10-06 19:28] elasticmachine commented on #114177
Pinging @elastic/kibana-operations (Team:Operations)

[2021-10-06 19:32] cjcenizal commented on #113346
Thanks for clarifying how this is implemented @tsullivan! For some reason I thought this default value was being defined in the `kibana.yml` itself, but of course that's not the case. I don't believe there's a way to differentiate between a newly created cluster and a cluster that's been upgraded. I'll close this issue since it doesn't seem actionable.

That said, this is still a poor user experie

[2021-10-06 19:32] #113346 closed

[2021-10-06 19:42] #114177 closed

[2021-10-06 19:49] #109227 closed

[2021-10-06 19:55] scottdfedorov commented on #112363
@jasonesc Robbie opened this on our behalf.

We're aware of what you stated, but the root issue here for us was a conflict where different data stream indexes caused a conflict in mapping, because logs-*-* is so broad. Ideally we'd do what you sugget, but when using existing integrations and modules, one of them had the mapping wrong and it caused an issue.

Either way, I agree the "bug" was in th

[2021-10-06 20:08] kevinlog commented on #113741
@academo can you take a look at this?  What's the expectation here?  It seems like anything Host Isolation related shouldn't show up on this list.

@dasansol92 did you view anything similar when creating Event Filters?

[2021-10-06 20:21] athanatos64 commented on #113975
+1

[2021-10-06 20:42] lukeelmers opened #114188 "[meta] Improve deprecation warnings for plugins without an `enabled` config in 8.0."
### Summary

In https://github.com/elastic/kibana/issues/89584, we identified the list of plugins which will no longer be disable-able in 8.0. In preparation for [the PR with the breaking change](https://github.com/elastic/kibana/pull/113495), we merged https://github.com/elastic/kibana/pull/112602, which added deprecation warnings for all affected plugins.

We decided to do this in one PR to ensu

[2021-10-06 20:48] chrisronline opened #114190 "[Alerting] Should we use custom deprecated messages for removing `.enabled` config?"
Relates to https://github.com/elastic/kibana/issues/114188

In https://github.com/elastic/kibana/issues/114188, the core team is advising plugin authors to ensure the default messaging around the `.enabled` deprecation is the best UX. If not, they are recommending to use custom messaging with examples of how to do that.

|Plugin|Should we?|
|----|---|
|Actions| ? |
|Alerting| ? |
|Stack alerts| ?

[2021-10-06 21:01] nreese commented on #113708
Closing. Please use [discuss](https://discuss.elastic.co/c/elastic-stack/kibana) for questions

[2021-10-06 21:02] elasticmachine commented on #113397
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-10-06 21:10] crob611 commented on #113588
Closing this as a duplicate of #113295

A fix has already been merged and should be available in the next releases.

A workaround is also mentioned in that original issue that appears to work for this as well https://github.com/elastic/kibana/issues/113295#issuecomment-929743504

[2021-10-06 21:10] #113588 closed

[2021-10-06 21:29] tsullivan opened #114193 "[Reporting] V2 PDF and PNG reports have time drift when time filter uses relative time range."
**Kibana version:** 7.16

Steps to reproduce:
1. Create a dashboard and make sure the time filter uses a relative time range
2. Generate a PDF report.
3. The PDF possibly has different results than the user viewed in the dashboard.

See the excellent test case given here: https://github.com/elastic/kibana/pull/16236#issuecomment-391683912

[2021-10-06 21:30] tsullivan commented on #110568
I agree 100% that csv export types should not use `forceNow`. I don't think that was ever intended.

The `forceNow` parameter is required for eliminating time drift in PDF and PNG reports when the time filter uses a relative time range. When the dashboard is set to a relative time range, the resulting report should still show the same data the user sees at the time they requested the report to be

[2021-10-06 21:30] 1Copenut opened #114194 "[FOCUS]: Focus needs to be returned to the account icon when users close the Popover"
**Steps to reproduce**

1. Open a Kibana instance
2. Press the `TAB` key until the account menu is highlighted. Press `ENTER`.
3. Tab through the menu, then press `ESC` to close the menu
4. Verify the body tag has keyboard focus.

<img width="937" alt="Screen Shot 2021-10-06 at 4 29 22 PM" src="https://user-images.githubusercontent.com/934879/136286081-e1094f6f-afda-48b4-813c-b3bfa29bba72.png">

*

[2021-10-06 21:37] cjcenizal opened #114197 "Kibana deprecation API shouldn't default `level` to `critical`"
Per https://github.com/elastic/kibana/blob/master/src/core/server/deprecations/deprecations_service.ts#L190, deprecations default to `level: critical` if one isn't provided.

Default values are unhelpful in this case, because we want the consumer to be very thoughtful and deliberate when choosing whether a deprecation should be critical (thereby blocking the upgrade) or a warning (thereby optional

[2021-10-06 21:40] 1Copenut commented on #114194
Thank you @ThomThomson. I'll remove the Dashboard label and get it redirected.

[2021-10-06 21:46] 1Copenut opened #114199 "[FOCUS]: Focus needs to be returned to the spaces icon when the popover is closed"
**Steps to reproduce**

1. Open a Kibana instance
2. Press the `TAB` key until the account menu is highlighted. Press `ENTER`.
3. Tab through the menu, then press `ESC` to close the menu
4. Verify the body tag has keyboard focus.

<img width="968" alt="Screen Shot 2021-10-06 at 4 38 48 PM" src="https://user-images.githubusercontent.com/934879/136287658-bf5e2eee-931a-4969-8046-8c6b3a25ae3c.png">

*

[2021-10-06 21:46] elasticmachine commented on #114199
Pinging @elastic/kibana-core (Team:Core)

[2021-10-06 22:30] 1Copenut opened #114206 "[SEMANTIC HTML]: The Clone Dashboard popover would benefit from the P tag being the visual and accessible label"
**Steps to reproduce**

1. Open a Kibana instance
2. Select a dashboard from sample data
3. Start a screen reader like VoiceOver, then open the Clone Dashboard popover
4. Tab or `Ctrl + Opt + Right_Arrow` to the text input
5. Verify the accessible label does not match the `<p>` tag of text above it. This paragraph acts as a label and is information that should be presented to screen readers.

<img

[2021-10-06 23:18] #112756 closed

[2021-10-06 23:34] simianhacker commented on #111763
It looks like this happens when a 403 is caught by the error handler: https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/lib/ajax_error_handler.tsx#L39-L41

I'm assuming there are situations where the user will have a browser open for long periods of time and their login credentials expire.

[2021-10-07 00:13] kibanamachine opened #114215 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/certificates·ts - Uptime app with generated data certificates with certs page "before each" hook for "displays specific certificates""
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1008#0d56c1b9-70c6-4fbe-b9e8-704dd7e69dbe)

[2021-10-07 00:51] tsullivan opened #114217 "[Reporting] Deprecation text for the removal of `xpack.reporting.index` is wrong"
**Kibana version:** 7.16

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. (Using 7.16) Use a custom `xpack.reporting.index`
2. View the deprecations in the Upgrade Assistant
3. Text is wrong for `Setting "xpack.reporting.ind

[2021-10-07 00:52] tsullivan commented on #114217
cc @alexfrancoeur

[2021-10-07 00:53] tsullivan commented on #82020
I found a related issue on the text of the deprecation message: https://github.com/elastic/kibana/issues/114217

[2021-10-07 02:01] matschaffer commented on #111763
I tried removing my session cookie to simulate what @simianhacker mentioned. The next refresh kicked me back to the login page when I was on https://github.com/elastic/kibana/pull/114029 - wondering if the error handling might fix this issue. Will check the role modifications.

[2021-10-07 02:05] elasticmachine commented on #98407
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-07 02:08] matschaffer commented on #111763
Angular pops up a toast - so seems like there's still some work to do here

![Screen Shot 2021-10-07 at 11 07 35](https://user-images.githubusercontent.com/690/136309172-4f693a19-4659-42bf-944e-73c9ac96aefd.png)

[2021-10-07 02:13] matschaffer commented on #111763
One thing I noticed that's a little weird on both the react and angular app is the "Go back" on the full page error. Looks like it just rewinds the history which might have more stack monitoring UI URLs.

Once you click it enough times to get back to something you have access to, you get a page. Same behavior between react/angular there

[2021-10-07 02:16] matschaffer commented on #111763
I'm not sure how we could get to `/app/monitoring#/access_denied` but indeed, angular has a page there

![Screen Shot 2021-10-07 at 11 15 33](https://user-images.githubusercontent.com/690/136309748-234516af-414f-4900-b403-a92f17090943.png)

[2021-10-07 02:18] mattkime commented on #97600
Closing issue as several months have passed. Feel free to reopen if needed.

[2021-10-07 02:18] #97600 closed

[2021-10-07 03:04] mattkime commented on #50109
Newer versions of kibana will automatically display the added fields.

[2021-10-07 03:08] elasticmachine commented on #46622
Pinging @elastic/datavis (Team:DataVis)

[2021-10-07 03:33] mattkime commented on #23310
fixed by https://github.com/elastic/kibana/pull/83368

[2021-10-07 03:34] flash1293 commented on #69383
We decided to remove these warnings

[2021-10-07 03:34] #69383 closed

[2021-10-07 03:35] #34234 closed

[2021-10-07 03:36] flash1293 commented on #100634
Fixed in 8.0 by removing less support

[2021-10-07 03:36] #100634 closed

[2021-10-07 03:47] mattkime commented on #33351
Closing as this has been resolved.

[2021-10-07 03:47] #33351 closed

[2021-10-07 03:51] mattkime commented on #32299
I think this is part of how CCS works - https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cross-cluster-search.html

What do you think @marius-dr ?

[2021-10-07 03:59] flash1293 commented on #95372
Closing this issue as Lens is working as expected

[2021-10-07 03:59] #95372 closed

[2021-10-07 04:00] kibanamachine commented on #113496
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1014#e255b3f9-b5b9-4d12-af70-a9d1ce730952)

[2021-10-07 04:02] flash1293 commented on #113586
@elastic/kibana-core from the vis editors side it makes sense to have a mechanism to disable the on leave alert if the user is logged out already. Let me know how you want to proceed with this.

[2021-10-07 04:02] kibanamachine commented on #113890
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1017#247d35e6-f5cf-4d35-b8c6-8734ab025308)

[2021-10-07 04:11] mattkime commented on #82934
working as of the current version (7.16) - please reopen if there's something I've missed.

[2021-10-07 04:11] #82934 closed

[2021-10-07 04:12] #82882 closed

[2021-10-07 04:45] mattkime commented on #71732
Closing as this doesn't seem actionable at this point and is working in master. Apologies for not following up ina timely manner.

[2021-10-07 04:45] #71732 closed

[2021-10-07 06:01] kibanamachine commented on #113496
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1018#bb972806-73be-45c3-b427-e9dfdef0f238)

[2021-10-07 06:51] sscarduzio commented on #114217
Are reports expected to be saved into respective spaces in the future? This would be very helpful.

[2021-10-07 07:31] flash1293 opened #114225 "Allow plugin to overwrite/disable on app leave behavior"
Context: https://github.com/elastic/kibana/issues/113586

In some cases it the "on app leave" alert provided by apps doesn't make sense if the user is logged out already because there's no way to persist unsaved changes anymore.

For these cases, the security plugin should be able to disable the alert if the current session times out. As disabling all "in app leave" callbacks globally might not be

[2021-10-07 07:37] stratoula commented on #105314
Skipped for cloud in v7.14 and v7.15. I am closing it

[2021-10-07 07:37] #105314 closed

[2021-10-07 07:40] kibanamachine commented on #113496
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1018#8e87dd1c-5c34-4644-8c76-ed4ec8f84b1f)

[2021-10-07 08:05] mbondyra commented on #89269
Data views have some unserialisable data so we'd break one of the redux state rules there, but it's not the first time we'd do it anyway.

I wonder if we could load data views before creating the store and have it as a dependency same way as `datasourceMap` or `visualizationMap`. But I guess not, given that the field list can change, eg. while adding runtime fields.

[2021-10-07 08:23] sqren commented on #108513
@ogupte WDYT about putting this on hold until this is unblocked by Server?

[2021-10-07 09:18] flash1293 commented on #103561
removing vis editors label as the embeddable error reporting part is split out in a separate issue.

[2021-10-07 09:31] flash1293 commented on #110038
This test is run with an `eventsTimeout` of 1ms, but if the process is really busy it can easily take longer than the configured 5ms of `debounce` so the event is fired twice. Let's increase the debounce to something like 50ms to be sure.

https://github.com/elastic/kibana/blob/4681a80317176543535bfdb2188d94aa40d741fc/src/plugins/charts/public/services/active_cursor/use_active_cursor.test.ts#L80

[2021-10-07 09:36] flash1293 commented on #111873
Closing in favor of #86184

[2021-10-07 09:38] flash1293 commented on #90508
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-10-07 10:21] #113547 closed

[2021-10-07 10:31] kibanamachine opened #114249 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list·ts - endpoint endpoint list when there is data, "before all" hook for "finds page title""
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1031#0f3eaed3-237c-4650-a4eb-201b10b4c889)

[2021-10-07 10:31] kibanamachine opened #114250 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list·ts - endpoint endpoint list when there is data, "after all" hook for "does not show the details flyout initially""
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1031#0f3eaed3-237c-4650-a4eb-201b10b4c889)

[2021-10-07 10:35] mgiota commented on #113897
@jasonrhodes Yep your thoughts are correct. That's where the alert status get updated https://github.com/elastic/kibana/blob/master/x-pack/plugins/cases/server/client/attachments/add.ts#L392 and indeed it takes the value of the updated case, which is "open"

[2021-10-07 10:41] kibanamachine commented on #114249
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1031#64e79cd9-6e9b-4f79-8c48-e6f6c6e37e19)

[2021-10-07 10:49] #114084 closed

[2021-10-07 11:01] kibanamachine commented on #113890
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1030#73fbd90b-d50c-4517-972f-0731126a74ef)

[2021-10-07 11:03] academo commented on #113741
@kevinlog seems like some work must be done to hide it. This was done for event filters https://github.com/elastic/kibana/pull/102644/files

I'll fix it in the coming days

[2021-10-07 11:13] pheyos commented on #113890
The backport of the fix #113905 is currently running through CI and not merged yet. As soon as it is, we'll see the real issue, which is probably related to #113520 (we're seeing this timeout while using the Discover date picker).

[2021-10-07 11:32] kibanamachine opened #114261 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/certificates·ts - Uptime app with generated data certificates empty certificates displays empty message"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1033#462124d7-8573-4f21-be7e-fbc075ce1a7b)

[2021-10-07 11:34] kibanamachine opened #114262 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visualize ciGroup11 visual builder metric should show correct data with Math Aggregation"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1033#8f4272fa-b60d-4b46-93c5-d4ca4f6152cd)

[2021-10-07 11:41] kibanamachine commented on #113890
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1030#d36a2e31-b707-44de-a584-3a7ffdb32ef1)

[2021-10-07 12:18] jloleysens commented on #114193
I think this is currently true for Discover CSV exports too, since we send a SearchSource with a relative time now: https://github.com/elastic/kibana/pull/110459

[2021-10-07 12:29] kibanamachine commented on #114249
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1035#d4fc38b0-6997-47a4-b5f7-52740368577a)

[2021-10-07 12:41] kibanamachine commented on #114249
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1035#ab7014df-3ba6-4b2b-8a34-d576e1029d66)

[2021-10-07 12:41] kibanamachine commented on #114250
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1035#ab7014df-3ba6-4b2b-8a34-d576e1029d66)

[2021-10-07 12:42] MikePaquette commented on #112395
Reopening because a user has reported a "known bug"  `Error: query.replaceAll is not a function that affects rule execution`
In the external Slack thread https://elasticstack.slack.com/archives/C016E72DWDS/p1633547374235400?thread_ts=1633534513.229800&cid=C016E72DWDS

[2021-10-07 12:47] rayafratkina opened #114271 "Add inline help/documentation to Discover"
Similar to [advanced documentation in Lens](https://github.com/elastic/kibana/pull/86821), we should add pop-over docs to Discover to cover key concepts of the UX. In addition to helping them use Discover, this is a great opportunity to help introduce our users to Elastic concepts.

Some documentation we should consider including
- [x] Explanation of field types and meaning of icons (specifically

[2021-10-07 13:02] 1Copenut opened #114273 "[SEMANTIC HTML]: Consider updating the Share panel to wrap radio buttons in a fieldset and legend"
**Steps to reproduce**

1. Log into a Kibana instance
2. Open the Share menu, click on the `Embed code` or `Permalinks` element
3. Open Dev Tools and inspect the radio group. Verify there's no fieldset or legend tag for the two radio buttons.

<img width="423" alt="Screen Shot 2021-10-07 at 7 41 58 AM" src="https://user-images.githubusercontent.com/934879/136386646-957ce314-3539-45d5-9477-a030d388

[2021-10-07 13:58] EricDavisX opened #114285 "[Fleet] Test ticket for: Allow to preconfigure (same cluster) alternative ES outputs"
What tickets / PRs do we know relate:
Kibana side: https://github.com/elastic/kibana/issues/108968 which is partially resolved by https://github.com/elastic/kibana/pull/111002
Beats / Agent repo side: ?
Fleet-Server side: TBD (need to find ticket)

Let's talk about:
 - what is implemented for 7.16:
 Lorem ipsum

 - what is tested with unit/system/api/e2e-tests
 Lorem ipsum

 - what we want from an

[2021-10-07 14:01] dej611 opened #114288 "[Vega] Debounce duplicate error messages"
**Describe the feature:**

Vega can report duplicate errors, and reaching a point sometimes where it covers too much of the visualization.
<img width="880" alt="Screenshot 2021-10-07 at 15 59 27" src="https://user-images.githubusercontent.com/924948/136399808-13cae4a7-51e2-40b2-bc01-9e7b3bfc66b9.png">

I think that message noise can be reduced a little bit avoiding to show messages already visible

[2021-10-07 14:02] elasticmachine commented on #114288
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-10-07 14:06] stratoula commented on #114071
This migration is going to run only for the users that have the override index pattern to Yes and haven't set the index pattern so only for these customers that used the asterisk till the 7.11 release.

If we set it to No, this will change their existing functionality which is what we want to correct here :)

[2021-10-07 14:27] yuliacech commented on #92990
Hi @PengYi-Elastic, [#93609](https://github.com/elastic/kibana/pull/93609) fixed an issue where no new SLM policies could be added to the manage repository "found-snapshots". So now it's possible to add more SLM policies and configure which indices they backup.
The managed SLM policy "cloud-snapshot-policy" can be changed, for example the name of the snapshot, retention configs and so on, but it h

[2021-10-07 14:31] neptunian opened #114292 "[Stack Monitoring] Fix table bug in React version"
There is no default sorting when no local storage "sort" exists.  It should default to name and ascending.  It should look as below, but there is no arrow currently:
![Screen Shot 2021-10-07 at 10 28 54 AM](https://user-images.githubusercontent.com/1676003/136405494-2057b41a-8f4d-4cec-979e-7abedb5386f3.png)

This breaks one of the functional tests for the Nodes table and perhaps other tables

[2021-10-07 14:33] mattkime commented on #63716
implemented

[2021-10-07 14:33] #63716 closed

[2021-10-07 14:52] jbudz commented on #114250
skipped

main: dee9444dcc4848b9033a62868ea7fd2fc768f3e3

[2021-10-07 15:10] dmlemeshko opened #114300 "Upgrade: show a user-friendly message when browser client version is out of date"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** cloud deployment

**Browser version:** Chrome 94

**Browser OS version:** MacOS

**Original install method (e.g. download page, yum, from source, etc.):** cloud deployment

**Describe the bug:**

**Steps to reproduce:**
1. Stack version is 7.14.0, open a dashboard in browser
2. Update cluster to 7.15.0
3. On dash

[2021-10-07 15:20] VladLasitsa opened #114305 "Allows to customize embeddable errors by providing React element instead of string as error"
**Describe the feature:**

Now we can provide only a string as error for embeddable but would be great if we could provide React element with needed customization as error.

**Describe a specific use case for the feature:**

We would like to show like this errors on dashboard when we have conflict in saved objects:

![image](https://user-images.githubusercontent.com/16915480/136407494-4a0e8630-661

[2021-10-07 15:23] joshdover opened #114306 "[Fleet] Enable auto package and package policy upgrades for APM and Synthetics packages"
Breaking independent issue out of https://github.com/elastic/kibana/issues/112831#issuecomment-937865467 for 7.16

This should only be merged if the package owners verify the conditions in the comment above ⬆️

### Upgrade behavior

The APM and Synthetics packages need to be:
- Added to the `autoUpdatePackages` list, to have the same behavior as Endpoint: https://github.com/elastic/kibana/blob/84e

[2021-10-07 15:24] chrisronline commented on #108716
<img src="https://media2.giphy.com/media/Onz7Kbh3TlY6GVHp2q/giphy.gif?cid=ecf05e47pzyd9d616on4vnbtbaebjk4l0yd6fk2jjrdipp0i&rid=giphy.gif&ct=g"/>

[2021-10-07 15:26] dej611 opened #114307 "[Lens] Reference lines: improve decoration styling"
**Describe the feature:**

Improve the way the reference lines are decorated with text:

Follow up from https://github.com/elastic/kibana/issues/112921#issuecomment-933294014

[2021-10-07 15:32] kibanamachine opened #114309 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/trusted_apps_list·ts - endpoint When on the Trusted Apps list "after all" hook for "should be able to add a new trusted app and remove it""
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1040#9097fb95-35e0-4b69-877b-323409b6af70)

[2021-10-07 15:44] nchaulet opened #114313 "[Fleet] Preconfigured output do not work fail with existing default output"
## Description

If an existing default output already exists and you try to define a preconfigured output as `is_default:true`. Fleet setup will fail:
<img width="635" alt="Screen Shot 2021-10-07 at 11 41 21 AM" src="https://user-images.githubusercontent.com/1336873/136418365-68cb52e6-eac5-4bac-880b-d096cbe42516.png">

Kibana.dev.yml
[code]

In this case we should probably remove the existing defa

[2021-10-07 15:55] flash1293 commented on #14799
It seems like there is a scroll bar flickering, maybe that's causing it.

[2021-10-07 16:31] kibanamachine commented on #114309
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1042#95b57b2f-1ec2-4465-9a5a-a3f6c08c3ca1)

[2021-10-07 16:52] cchaos opened #114324 "Tutorial pages don't auto-scroll to the top on navigation"
**Kibana version:** Master (and prior)

**Describe the bug:**
Because of react-router not treating the different views as actual pages, the scroll isn't reset on navigation.

**Steps to reproduce:**
1. Got to `app/home#/tutorial_directory`
2. Scroll to the bottom of the list
3. Click any of the last few items
4. You'll see that your viewing the last steps of the tutorial, not the first (top)

**Ex

[2021-10-07 17:17] lizozom opened #114328 "[Fullstory] Enable reporting when running from source"
At the moment, fullstory is enabled and reporting only when running on cloud.
We'd like to leverage fullstory's capabilities to improve our own developer experience.
In order to do that, we want to enable fullstory when running kibana locally in dev mode (`!isKibanaDistributable`).

Ideas:
 - We need to set an env var to allow user segmentation (`dev: true`?)
 - Should we move the integration code

[2021-10-07 17:19] lizozom opened #114329 "Fix nestedTiming behavior"
Make sure that nested timing is set to false only if the script was called directly by the user.

[2021-10-07 17:30] cjcenizal opened #114330 "Remove "Fix manually" heading when there are no manual steps"
Brought up by @jportner, sometimes there aren't any manual steps. In this case, the heading still remains:

![image](https://user-images.githubusercontent.com/1238659/136434373-53482bf2-d1f7-469c-8909-1712db63c294.png)

[2021-10-07 17:40] spalger commented on #113298
Notes about what we should visualize:

- start by visualizing the `reporting screenshot pipeline` transaction duration
- setup field formatters for the duration time
- try out average, percentiles, min, max, etc.
- look around APM for other transactions like "server start time", "page load", "http requests" which might be useful to visualize
- explore filters which will be useful for dashboard, li

[2021-10-07 17:54] alexfrancoeur opened #114333 "Create title and description based on guidelines Workplace search integrations"
In 7.16, we are planning to introduce the unified integrations view. The primary goal of this view is to improve the discoverability for all data ingest options at Elastic. As part of this initiative, we'd like to improve the titles and descriptions of each integration card and do so in a uniform way.

## Guidelines
These are the general guidelines we plan to use for the integration cards

![image

[2021-10-07 17:54] cjcenizal opened #114334 "Field Usage Analysis UI"
This relates to the Disk Usage Analysis UI (https://github.com/elastic/kibana/issues/101485). CC @giladgal @jpountz @dnhatn @elastic-jb

## The problem

Per conversation with @lucabelluccini and @VimCommando, Elastic's adoption happy path helps users get started by enabling users to index data easily by applying default mappings. This becomes a problem years later as these users' deployments grow

[2021-10-07 17:54] #78770 closed

[2021-10-07 17:59] alexfrancoeur opened #114336 "Create title and description based on guidelines for EMS, Sample Data and File Upload"
In 7.16, we are planning to introduce the unified integrations view. The primary goal of this view is to improve the discoverability for all data ingest options at Elastic. As part of this initiative, we'd like to improve the titles and descriptions of each integration card and do so in a uniform way.

## Guidelines
These are the general guidelines we plan to use for the integration cards

![image

[2021-10-07 18:12] yctercero commented on #102460
@MadameSheema taking a look! Is this something for 7.16? We're pretty booked up right now. @peluja1012 @rylnd

[2021-10-07 18:45] wayneseymour commented on #102552
Cannot migrate alerts:
Kbn Archiver only grabbed 2 documents out of 9.
<img width="1675" alt="Screenshot 2021-10-07 at 14 33 33" src="https://user-images.githubusercontent.com/4858051/136443073-6434b25a-097d-430a-b30b-8ba0d9ebd995.png">

Whether the cli or ui is used, only 2 docs are saved.

Using the ui, I also found this at the bottom of the file:
[code]

[2021-10-07 18:46] ryankeairns commented on #114158
Thanks for keeping us informed. For now, we're focused on some quick wins for the Space selector view, but ++ the suggestion of keeping their context, if possible.

[2021-10-07 18:56] giladgal commented on #114334
It would be good to combine in the UI the [field usage API](https://github.com/elastic/elasticsearch/issues/73944) with the [disk usage API](https://github.com/elastic/elasticsearch/issues/68508) (closed by [#74051](https://github.com/elastic/elasticsearch/pull/74051)), so the user gets a clear view of the cost of the mapping decisions. It shows the two dimensions of the decisions: what you get fr

[2021-10-07 19:50] jasonrhodes commented on #113197
I think it's rather easy to only set this when `search:includeFrozen` is set. I'm not sure who owns that setting in Kibana, and whether there is a plan to deprecate it or if it's already deprecated, etc? @cjcenizal do you know the answer or where we could find out?

[2021-10-07 19:51] shaunmcgough opened #114353 "[Discover] [Meta] - Sorting"
## Sorting in Discover
This is a list of issues (enhancements, bugs, et cetera) that are related to sort in Discover. Feel free to add your issues here, comment, or follow along. Some of the issues link back to elastic/elasticsearch.

### Enhancements
- [ ] https://github.com/elastic/kibana/issues/54362
- [ ] https://github.com/elastic/kibana/issues/47934
- [ ] https://github.com/elastic/kibana/is

[2021-10-07 19:51] yakhinvadim commented on #112842
@bhuvanaurora In the unified integrations view, each card can be assigned one or more "categories" for easy filtering:

https://user-images.githubusercontent.com/11838280/136451951-7eccbdde-91d2-4c14-abf0-f6f44bd6c7a5.mp4

Each card can have one or more categories. For example, AWS integration belongs to 4 categories: "AWS", "Cloud", "Datastore", and "Network".

Which categories should Workplace S

[2021-10-07 19:51] elasticmachine commented on #114353
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-10-07 19:57] cjcenizal commented on #113197
Hmm I don't know. @lukasolson or @tylersmalley can you help Jason with his question?

[2021-10-07 20:06] yakhinvadim commented on #112842
@bhuvanaurora Feel free to ignore previous message. @thomasneirynck just sent me a very useful list with already assigned categories. I will use it.

[2021-10-07 20:35] #112186 closed

[2021-10-07 20:48] 1Copenut opened #114358 "[COGNITION]:"
**Steps to reproduce**

1. Open Kibana instance
2. Open a modal like the screenshots below
3. Evaluate with Dev Tools and verify there is text that is styled like a heading, but is semantically a simple DIV

<img width="746" alt="Discard changes to dashboard modal" src="https://user-images.githubusercontent.com/934879/136459613-4bfa88fd-4397-4f4c-bc1e-1caeba131820.png">

---
<img width="669" alt="

[2021-10-07 20:48] elasticmachine commented on #114358
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-10-07 21:09] TheRiffRafi opened #114361 "[Index Patterns] Conflicting fields no longer show matching indices"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Describe the bug:**
This was requested back in: https://github.com/elastic/kibana/issues/45135
It looks like it was implemented as it was working on 7.12.1:

<img width="1240" alt="Screen Shot 2021-10-07 at 16 07 14" src="https://user-images.githubusercontent.com/62263912/136462365-d2b21d54-9b84-4b6c-90cc-80df93a8d11c.png">

And now

[2021-10-07 21:19] 1Copenut opened #114365 "[SCREEN READER]: Adding a live region and updated heading to tables with pagination will improve the experience for screen readers"
**UPDATE 21 April, 2022**

Instead of trying to manipulate live regions with the panel title, a11y specialists are recommending teams include the panel title in `EuiPagination` aria-label attribute. This will give screen reader users much improved context as they page through data grids or tables.

In the case of sample flight data, users will hear "Pagination for [Flights] Flight Log grid" when t

[2021-10-07 21:19] elasticmachine commented on #114365
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-10-07 21:23] brunobcestari opened #114366 "[Alerts] Security rules' actions may stop working after changing the execution frequency."
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** Running on ECK

**Browser version:** Mozilla Firefox 92.0.1

**Browser OS version:** Linux 5.14.9-arch2-1

**Original install method (e.g. download page, yum, from source, etc.):** ECK deployment set.

**Describe the bug:**

After editing a Webhook Action for a Security Rule that was already working the Action st

[2021-10-07 21:58] spalger commented on #113682
Hoping that https://github.com/elastic/kibana/pull/114367 will prevent this from being an issue.

[2021-10-07 22:40] spalger commented on #95865
@Dosant I totally agree that we should break these into little packages. There are going to be some hurdles to gettin this work but I hope that my PR against https://github.com/elastic/kibana/pull/114129 resolves most of them, and that we can use that as a blueprint for the rest of the packages.

Please let us help you get this broken into packages, it's the way we hope most of this will go in the

[2021-10-07 23:32] hbharding opened #114378 "[RAC] Add columns for Case ID and External Incident to Alerts table"
Part of #132772

![image](https://user-images.githubusercontent.com/847805/136475402-2f229918-8d89-446d-9ed4-c2a094d62ac6.png)

Product issue: https://github.com/elastic/observability-product/issues/67
cc @cyrille-leclerc @vinaychandrasekhar @jasonrhodes @katrin-freihofner

We want to add columns for "Cases" and "External incident" to the alerts table so that users are able to see which alerts hav

[2021-10-08 00:09] #113407 closed

[2021-10-08 00:09] #113470 closed

[2021-10-08 00:11] alex-fedotyev commented on #101485
Hi @giladgal !
We are being asked to get disk usage information on a more granular level than just index.
For example, APM data includes documents collected for multiple (usually interconnected) services as we are monitoring traces going through end-to-end across those services.
And customers are asking us to provide estimated size of how much each service consumes to potentially tune its data col

[2021-10-08 01:20] dnhatn commented on #101485
@alex-fedotyev The API returns the disk usage for each index and each field: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-disk-usage.html#analyze-index-disk-usage-api-example.

[2021-10-08 04:25] beanaroo commented on #112267
I can confirm this is still present in `7.15` and also affects PNG export
![image](https://user-images.githubusercontent.com/1748909/136498232-196e3db3-8d12-4117-aa90-7769f4b94b65.png)

[2021-10-08 04:53] kibanamachine commented on #112922
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1067#901d224d-6de2-4f6f-8ab8-bac8d56445b9)

[2021-10-08 04:56] kibanamachine commented on #107057
New failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1068#a97710e7-9ec3-4325-b500-6cd6b8538d86)

[2021-10-08 05:33] kibanamachine commented on #114261
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1070#7256287d-76ef-406a-9cb9-a41c9ee292b7)

[2021-10-08 08:39] th0ger opened #114385 "Canvas Filters can't be selected"
**Kibana version:**
7.14.1

**Browser version:**
Chrome 94.0.4606.81 (not working)
Edge 94.0.992.38 (not working)
Firefox 93.0 (working)

**Describe the bug:**
Canvas filters can no longer be selected with the mouse (not responding at all).
Both *dowpdown select* and *time filter* are affected.
This happend to exiting workpads that were already working across multiple spaces and onprem/cloud insta

[2021-10-08 08:55] th0ger commented on #114385
If you add multiple dropdown elements to a clean workpad, only the first added responds.

[2021-10-08 09:08] th0ger commented on #112255
My canvas dropdowns are not "coupled", i.e. the selected values on some filters does not affect the others.

Not sure if this is a bug or feature request, but it would be very useful to be able to do that.

Kibana 7.14.

[2021-10-08 10:51] JensVD opened #114387 "Searching on fields with XML content strips XML tags"
**Kibana version:**
7.14.0

**Elasticsearch version:**
7.14.0

**Server OS version:**
CentOS 8

**Browser version:**
Google Chrome
Version 94.0.4606.71 (Official Build) (64-bit)

**Browser OS version:**
Windows 10 Enterprise
OS Build: 19043.1237

**Original install method (e.g. download page, yum, from source, etc.):**
Kibana and ElasticSearch were installed via yum/dnf.

**Describe the bug:**
Ela

[2021-10-08 11:20] passing commented on #112267
Just had the same issue (using `7.15`) getting a PNG report that is completely empty, showing the 'search session' dialog:
![image](https://user-images.githubusercontent.com/8142186/136547720-9559ed98-7a86-4829-a8b2-7065a1eaf114.png)

[2021-10-08 13:32] elasticmachine commented on #114261
Pinging @elastic/uptime (Team:uptime)

[2021-10-08 14:32] kibanamachine commented on #114261
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1088#b7280d8f-3a42-4617-bfb7-a009956476ec)

[2021-10-08 15:52] jbudz commented on #114261
skipped

main: 581714ed40d698a3df3d21744825833e354a5fec
7.x: 23f26ee3f36900290196ce220baac044c29e32ae

[2021-10-08 19:52] kibanamachine opened #114396 "Failing test: Jest Tests.x-pack/plugins/uptime/public/components/common - UptimeDatePicker component should handle on change"
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1098#b009feb6-330d-44bc-83af-16c3b9eea350)

[2021-10-08 20:27] crob611 commented on #92464
Several dupes of this issue.  Closing in favor of #105683

[2021-10-08 20:27] #92464 closed

[2021-10-08 20:44] crob611 commented on #72753
Several dupes of this issue.  Closing in favor of #105683

[2021-10-08 22:24] sqren commented on #101485
@alex-fedotyev From the top of my head I can't think of anything we'd use this API for right now.

[2021-10-09 03:19] kibanamachine opened #114403 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/migration_smoke_tests/tsvb_migration_smoke_test·ts - dashboard Export import saved objects between versions from 7.13.3 "after all" hook for "should show the edit action for all panels""
A test failed on a tracked branch

[code]

First failure: [CI Build - master](https://buildkite.com/elastic/kibana-hourly/builds/1112#da494bd2-2551-4505-b821-80ed8abbac36)

[2021-10-09 05:29] mattkime commented on #104367
closed by https://github.com/elastic/kibana/pull/113497

[2021-10-09 09:01] kibanamachine commented on #113890
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1123#820e05d1-ef1e-47f1-82ae-d79ffcd05991)

[2021-10-09 12:43] kibanamachine commented on #113890
New failure: [CI Build - 7.x](https://buildkite.com/elastic/kibana-hourly/builds/1130#3541f570-3981-4587-941e-f3842a6b600b)

[2021-10-09 14:29] cjcenizal commented on #114361
@elastic/kibana-app-services Looks like you’re not getting pinged when your labels are added to issues any more.