[2021-08-16 20:21] graphaelli commented on #107565
@simianhacker can you share more details on what those fields are?  An example query made by the overview page would be great.

[2021-08-16 20:28] yiyangliu9286 commented on #106629
Attaching the [Figma](https://www.figma.com/file/2pbZGzLRCEndzu2l1eekvb/7.15-Alerts-on-alerts-with-RBAC?node-id=0%3A1) design file link to this issue.

Here are the major UI updates for users who have edit/all access to rules:

- For "Create new rule" page, proposing error message under "Index patterns" combo box explaining that "You need to add ES privileges to the index in order for rule to work

[2021-08-16 20:39] mgiota opened #108782 "[RAC][Observability] Overflow actions popup stays open"
### :memo: Summary

The overflow actions popup stays open when I click on the overflow icon twice. I can not close it if I click outside of the popup or press esc.

https://user-images.githubusercontent.com/2852703/129626394-83711f37-e43c-4abe-9721-3e7f97ebe556.mov

[2021-08-16 20:39] elasticmachine commented on #108782
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 20:44] gchaps opened #108784 "[Log In] Improve message for an unexpected error"
I came across this text when I tried to log in to Kibana:

<img width="403" alt="Screen Shot 2021-08-16 at 8 59 31 AM" src="https://user-images.githubusercontent.com/33642766/129626328-a335a31a-2038-46a8-8c97-1af5dba0abbc.png">

We try to avoid words like "Oops" in error messages because they don't add much value.  I understand that users only see this message if it's an unexpected error, such as

[2021-08-16 20:44] jbudz commented on #45476
Closing this out with #51994 merged

[2021-08-16 20:44] #45476 closed

[2021-08-16 20:45] elasticmachine commented on #108784
Pinging @elastic/kibana-security (Team:Security)

[2021-08-16 20:47] jportner commented on #106863
Thanks Pierre. I was not aware of the intricacies, I really appreciate the explanation!

Just for posterity, I tested again by:
1. Starting a 7.15 stack (using the 7.x branch) with `-E path.data=/Users/joe/tmp`
2. Adding sample data
3. Adding a custom space
4. Copying an index pattern to the custom space
5. Checking the index patterns via Dev Tools
6. Stopping the stack
7. Moving the ES files from

[2021-08-16 20:47] #106863 closed

[2021-08-16 20:47] mgiota commented on #108174
I fixed the issue, but after I updated from master I tested it again and looks like the full screen functionality doesn't work anymore.
https://user-images.githubusercontent.com/2852703/129627298-ded6dcd2-0454-4543-9963-bd039185c39f.mov

@kqualters-elastic @michaelolo24 Did anything change regarding fullscreen functionality?

[2021-08-16 20:58] #108279 closed

[2021-08-16 21:04] jbudz commented on #79891
This is managed by bazel now, so these tests are no longer relevant.  The commits mentioned above removed the tests already.  Closing this out

[2021-08-16 21:04] #79891 closed

[2021-08-16 21:08] bhavyarm opened #108788 "Kibana displays warning about discarding unsaved changes when user tries to switch to view mode"
**Kibana version:** 7.15.0 latest snapshot

**Elasticsearch version:** 7.15.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from snapshots link

**Describe the bug:** Kibana is displaying warning about discarding unsaved changes when a user tries to s

[2021-08-16 21:08] elasticmachine commented on #108788
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-16 21:08] bhavyarm commented on #108788
cc @ThomThomson

[2021-08-16 21:37] constancecchen commented on #79359
👋 Hey @elastic/app-search-frontend & @elastic/workplace-search-backend!

https://github.com/elastic/kibana/pull/108465 (once merged in) should set up the ability to automate cypress-axe checks on any views you need. I would suggest setting up basic "visit route, run `checkA11y()`" type tests for both AS & WS and then optionally get more complex from there if needed (e.g., for pages with flyouts -

[2021-08-16 21:37] bhavyarm commented on #108788
Same bug in 7.14.0 so not a regression

[2021-08-16 21:59] gchaps opened #108794 "[Discover] Improve copy in "start searching" message"
Discover currently displays this message when the payload setting is off.

<img width="333" alt="Screen Shot 2021-08-09 at 8 19 32 AM" src="https://user-images.githubusercontent.com/33642766/129633852-a478ed92-eb85-402c-b9cb-fe6283cbd55e.png">

At minimum, we should update the text.

**Start searching**

1. Set the time range.
2. Enter your query.
3. Click Refresh.

Learn more in our docs

Even be

[2021-08-16 21:59] elasticmachine commented on #108794
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-16 22:05] bhavyarm opened #108797 "User cannot click on the bar horizontal percentage chart in dashboard"
**Kibana version:** 7.15.0 snapshot

**Elasticsearch version:** 7.15.0 snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  User cannot click on the chart to get to either drill-downs or look at tooltips. It's a lens chart of ty

[2021-08-16 22:05] elasticmachine commented on #108797
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-08-16 22:08] #103844 closed

[2021-08-16 22:38] #99017 closed

[2021-08-16 23:13] cqliu1 opened #108807 "[Canvas] Embeddable changes don't persist in fullscreen mode"
**Kibana version:**

master (as of 911271053bd78de31dee28b3e3eb13ce0ba518b9)

**Describe the bug:**

Changes to the embeddables in Canvas aren't persisted when switching to view mode or fullscreen mode but persist in edit mode.

**Steps to reproduce:**
1. Create a workpad in Canvas
2. Click `Add element` > `Add from Kibana`
3. Select any embeddable
4. Click on `Last 15 minutes` and change the time

[2021-08-16 23:13] elasticmachine commented on #108807
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-16 23:18] dborodyansky commented on #108305
Yes, you got it. Empty table cells instead of a blanket empty state.

![image](https://user-images.githubusercontent.com/3674406/129640750-2796c78a-48a2-42ad-b5ab-ee9a08cf085d.png)

[2021-08-16 23:21] #94205 closed

[2021-08-16 23:26] #108784 closed

[2021-08-16 23:36] ghudgins commented on #55896
+1

[2021-08-16 23:54] #105578 closed

[2021-08-17 00:03] #108417 closed

[2021-08-17 00:10] lukasolson opened #108813 "Flights Global Flight Dashboard uses deprecated hour_of_day in runtime field"
**Kibana version:** master

**Elasticsearch version:** master

**Describe the bug:**

The "Sample flight data" sample data has a runtime field (`hour_of_day`) that uses a deprecated feature in ES.

**Steps to reproduce:**
1. Add the sample flight data
2. Load the sample dashboard
3. A warning is shown

**Expected behavior:**

Use the correct feature, `getHour` instead of `hour_of_day` in the runti

[2021-08-17 00:10] elasticmachine commented on #108813
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 00:19] cuff-links opened #108814 "Fix Syntax Highlighting Grok Debugger Test"
This issue is to fix the Grok Debugger functional test that is skipped right now. There have been UI changes since the test was last enabled so the functionality of the test needs to be reworked. This is a follow-up to https://github.com/elastic/kibana/pull/108301 where we reenabled the tests after updating them to use current functional test runner conventions.

[2021-08-17 00:19] elasticmachine commented on #108814
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-17 01:01] #95267 closed

[2021-08-17 02:33] alvarezmelissa87 commented on #100824
@lcawl - I was not able to reproduce this. It could have been fixed by the suggestion function improvements on the maps side. Would you be up for confirming that it is no longer reproducible?

[2021-08-17 02:35] #100824 closed

[2021-08-17 02:44] cuff-links commented on #84440
These tests have been rewritten in #108301 to address their flakiness. They were stable when running in flaky test runner. Will close this to be reopened if the tests go flaky again.

[2021-08-17 02:44] #84440 closed

[2021-08-17 03:09] #107917 closed

[2021-08-17 03:23] kibanamachine commented on #108633
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16331/)

[2021-08-17 03:35] karanbirsingh-qasource commented on #108675
Closing this issue as Duplicate of https://github.com/elastic/kibana/issues/108244

[2021-08-17 03:35] #108675 closed

[2021-08-17 04:06] #98764 closed

[2021-08-17 04:07] YulNaumenko commented on #107918
cc @mdefazio and @arisonl
Need your help on the problems:

1. Should we rely on the user to enter Authorize Code URL and Access Token URL?
2. Redirect URL should be readonly field with the information for the user that this is a callback URL which should be copied and pasted to the Authentication application configuration on the service side:
3. Scope is a provider specific field (like Authorize C

[2021-08-17 05:59] #108022 closed

[2021-08-17 06:25] stratoula commented on #108721
@alexwizp I can't replicate it. Can you share more info ?

[2021-08-17 06:31] mgiota commented on #108174
db6f96e8bc1

[2021-08-17 06:38] #107841 closed

[2021-08-17 06:48] jowiho opened #108829 "Stack Monitoring page links to ESS in non-ESS Cloud environments"
**Kibana version:**

7.14

**Elasticsearch version:**

7.14

**Server OS version:**

Cloud

**Browser version:**

Chrome 92

**Browser OS version:**

macOS 11.3.1

**Original install method (e.g. download page, yum, from source, etc.):**

Cloud

**Describe the bug:**

On Cloud, the "Monitoring data not available" placeholder on the Stack Monitoring page contains a [hard coded link](https://github.

[2021-08-17 06:57] formgeist opened #108830 "[APM] Update the callout messaging around switching to transaction events based data"
# Summary

In https://github.com/elastic/kibana/pull/108080 we implemented a callout to display a message to the user that we've switched from metrics events to transactions. I find the callout a little obtrusive and since it's non-dismissable, it'd be a nicer experience if we can make the messaging clear yet subtle.

The reason for changing the title is to make it clear why switching to transacti

[2021-08-17 06:57] elasticmachine commented on #108830
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 07:19] katrin-freihofner opened #108832 "[RAC] Observability Alerts table view: fix header component and inspect icon"
We need to fix the alignment of the inspect icon. I think we should check if the title is there and not empty and render the `header` depending on that.

**Current status**
![inspect](https://user-images.githubusercontent.com/20965076/129560321-4c35178c-b634-4b12-a063-b36a37929843.png)

**Goal**
https://github.com/elastic/observability-design/issues/83#issuecomment-898400943
![image](https://user-

[2021-08-17 07:32] pheyos commented on #108664
Another occurrence of the known CI network issue: `ERROR browser[SEVERE] http://localhost:61151/internal/security/session - Failed to load resource: net::ERR_NETWORK_CHANGED`.
SO no issue with the app or the tests, closing.

[2021-08-17 07:32] #108664 closed

[2021-08-17 07:39] karanbirsingh-qasource opened #108834 "[Security Solution]Unsupported Media Type coming on setting up the audit beat on window 64 bit arch"
**Describe the bug**
Unsupported Media Type coming on setting up the audit beat on window 64 bit arch

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. RDP to the windows 64 bit vm.
2. Download and extract the auditbeat-8.0.0-SNAPSHOT-windows-x86_64.zip.
3. Run power shell in admin mode.
4. Run  `.\install-ser

[2021-08-17 07:39] elasticmachine commented on #108834
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 07:47] rudolf commented on #107641
Yeah I agree, having no upper bound on a saved object size makes it really hard to create a robust system.

Are you suggesting that instead of calculating each batch size like in (1) we only calculate the batch size with `json-size` after we receive a 413, and then instead of using 100mb as the batch size, we use the value from the Elasticsearch response? I'm don't see how we could use the actual

[2021-08-17 07:57] mgiota commented on #108174
@katrin-freihofner Feature works as expected. It was easier to fix it, than searching how to hide the Full screen button that comes with EuiDataGrid
https://user-images.githubusercontent.com/2852703/129686876-d0645167-ac25-4c04-89dc-d7fcd13b1b74.mov

[2021-08-17 08:06] rudolf commented on #107678
I think it's actually the inbound references to the quarantined object that would break. When a type is unknown we don't know if we should regenerate the id's (it might be a single namespace type which doesn't require regeneration) so inbound references are left intact. When this type later becomes known we might regenerate it's id, but we wouldn't regenerate the inbound references.

For performan

[2021-08-17 08:17] manishgupta-qasource commented on #108834
Reviewed & assigned to @MadameSheema

[2021-08-17 08:24] kertal commented on #108794
Thx Gail, qq to @andreadelrio , this message is displayed to users who prefer to manually start the search initially. Would the "No results match your search criteria" image fit for this? Since if I see correctly, there's a fly, but it escaped our search. in this case we have started searching for the fly

[2021-08-17 08:28] dikshachauhan-qasource opened #108837 "[Fleet]: Proper horizontal spacing not provided between integration icons on Add agent flyout."
*Kibana version:**  7.14.1 snapshot Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 7.14.1 snapshot Kibana cloud-qa environment should be available.

**Build Details:**
[code]
2. **Add more than 10 integartion under any policy.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agent Tab.
	- Open add agent flyout by clicking on Add

[2021-08-17 08:29] elasticmachine commented on #108837
Pinging @elastic/fleet (Team:Fleet)

[2021-08-17 08:29] dikshachauhan-qasource commented on #108837
@manishgupta-qasource Please review

[2021-08-17 08:30] MadameSheema commented on #108834
Closing since this issue is not related with security solution. This is: https://github.com/elastic/beats

[2021-08-17 08:30] #108834 closed

[2021-08-17 08:31] kertal commented on #105882
currently asking around since it's an issue with Elasticsearch

[2021-08-17 08:31] manishgupta-qasource commented on #108837
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-17 08:32] mgiota commented on #108782
@kqualters-elastic @michaelolo24 I created this ticket. I made sure to add correct labels, so that it doesn't get lost. I didn't add it to v7.15 though. If you think it is a quick fix, feel free to include it.

[2021-08-17 08:34] deepikakeshav-qasource commented on #108662
Hi @MadameSheema,

Please find the below Json Data for Rule.

**Build Details:**
[code]

**Json Data:**

[json.txt](https://github.com/elastic/kibana/files/6998087/json.txt)

Thanks!!

[2021-08-17 08:40] formgeist opened #108839 "[APM] Research whether we can create a focused backend service map rendering the upstream services connected"
# Summary

We would want to leverage the service maps to display a given backend in context of its upstream services. Additionally, the service map itself will support that the user can focus on a selected backend node. And finally, the link from the selected backend list of upstream service will provide a focused link to the backend in the service map (repeating the link from the tab navigation).

[2021-08-17 08:40] elasticmachine commented on #108839
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 08:41] formgeist commented on #108494
Closing in favor of researching whether we can render a service map for a selected backend with its upstream services https://github.com/elastic/kibana/issues/108839 - the service map link by the Upstream table has been removed in https://github.com/elastic/kibana/issues/108495

[2021-08-17 08:41] #108494 closed

[2021-08-17 08:42] deepikakeshav-qasource commented on #108345
Hi @MadameSheema,

We have tried with long rule name with spaces. We observed that Hover actions are displayed for long rule name with spaces.

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129693675-753eb9b5-e62f-4278-ba95-90c988ad05bc.png)

Thanks!!

[2021-08-17 08:44] #108345 closed

[2021-08-17 09:09] #104898 closed

[2021-08-17 09:11] #95614 closed

[2021-08-17 09:14] machadoum opened #108841 "[Security Solution] Remove "missing fields" from alerts trend graph and count table"
"all others" and "0.0.0.0" labels inside the alerts table trend graph and count table are inaccurate and misleading. It currently displays "All others", but it is a bucket containing all events with missing fields. After some discussion, we agreed to remove it from the table and graph for now.

<img width="1506" alt="Screenshot 2021-08-16 at 17 54 39" src="https://user-images.githubusercontent.com

[2021-08-17 09:14] elasticmachine commented on #108841
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 09:14] elasticmachine commented on #108841
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 09:34] mshustov commented on #108388
I can reproduce failures on #107619 branch for `src/core/server/http/integration_tests/core_services.test.ts` file only. It fails with `.sourceMap is an alias for .sourceMaps, cannot use both`.
The error disappear if I remove `import { MockElasticsearchClient } from './core_service.test.mocks';` statement from `src/core/server/http/integration_tests/core_services.test.ts`

[2021-08-17 09:45] arvindersingh-qasource opened #108845 "[Security Solution] If user manually selects all alerts , it still shows option to select all alerts instead of showing option to clear selections."
**Describe the bug**
If user manually selects all alerts , it still shows option to select all alerts instead of showing option to clear selections.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Few Alerts must be present on Kibana

**Steps to Reproduce**
1. Navigate to ```Security``` -> ``` Alerts ```.
2. From Alerts List, select all

[2021-08-17 09:45] elasticmachine commented on #108845
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 09:50] ssfructuoso515 commented on #47019
Hello,

unfortunately I think we are facing the same issue that **IgnisIngenii** exposed in this case.
If we do not specify the default Index pattern in the TSVB index-pattern box, then the metrics shown are very different than the ones that we are able to see if we write explicitly the name of the default Index-pattern. We can see this fact in the following images:

![default](https://user-images

[2021-08-17 10:01] karanbirsingh-qasource opened #108850 "[Security Solution][Question] Horizontal scroll bar on new Count canvas on detection page have no direct requirement"
**Describe the bug**
Horizontal scroll bar on new Count canvas on detection page have no direct requirement

**Build Details**
[code]
**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. Create a Custom KQL Rule with long name
eg.
2. Generate some alert for above rule.
3. Data got populated in the count canvas.
4. Long rule name got wrappe

[2021-08-17 10:01] elasticmachine commented on #108850
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 10:02] sqren opened #108851 "Ability to hide unused menu items"
As a superuser I have 29 menu items in 5 sections. Of those I use 3. It would be great if it was possible to hide the rest. I still want to retain access to all applications but I just don't want to see them front and center.

![image](https://user-images.githubusercontent.com/209966/129705747-0712923e-e0ee-4076-811e-c43eb2a443c4.png)

[2021-08-17 10:02] elasticmachine commented on #108851
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-17 10:02] afharo commented on #108723
Thank you all! I'm closing this issue after confirming that we have a clear understanding of the best way to proceed.

[2021-08-17 10:02] #108723 closed

[2021-08-17 10:08] karanbirsingh-qasource opened #108852 "[Security Solution]Hover action ( Filter for , out , column add ) have no response under Alert fly out under Cases"
**Describe the bug**
Hover action ( Filter for , out , column add ) have no response under Alert fly out under Cases

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. Generate few alerts
2. Attach Case to above alert.
3. Go to the case details page
4. Click on > icon to open up the alert fly out.
5. Observed t

[2021-08-17 10:08] elasticmachine commented on #108852
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 10:16] formgeist opened #108853 "[Alerting] Create alert flyout: Tags combobox container doesn't take badge sizes into account and wraps to a new line"
Kibana version: master

# Summary

It seems that when badges' titles are long and truncated the combobox container size makes it wrap to a new line instead of staying adjacent to the alert name input.

<img width="624" alt="CleanShot 2021-08-17 at 12 11 43@2x" src="https://user-images.githubusercontent.com/4104278/129708036-99f2d805-3e0b-4bae-8c30-ae11cc0bc647.png">

Expected to stay next to the a

[2021-08-17 10:17] elasticmachine commented on #108853
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-17 10:17] Dosant opened #108854 "[Index Patterns] Excessive `resolve_index` requests when opening create index pattern flyout"
**Kibana version:** master, 7.x (7.15)

**Describe the bug:**

Open create index pattern flyout and see excessive identical requests in the network activity

![Screen Shot 2021-08-17 at 10 40 24](https://user-images.githubusercontent.com/7784120/129708485-a6c7bd1e-1e11-460e-be67-a97ebbe7104e.png)

[2021-08-17 10:17] elasticmachine commented on #108854
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 10:22] karanbirsingh-qasource opened #108855 "[Security Solution]Show top graph for alert field distort the data under alert list"
**Describe the bug**
Show top graph for alert field distort the data under alert list

**Build Details**
[code]
**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. Generate few alerts
2. Hover over any field e.g user.name.
3. click on show top user.name .
4. Observed that the UI break completely and data of graph got mix up with the alert

[2021-08-17 10:22] elasticmachine commented on #108855
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 10:23] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16338/)

[2021-08-17 10:29] ghost opened #108856 "[Security Solution] UI is not well defined for full screen on alerts tab"
**Describe the bug**
UI is not well defined for full screen on alerts tab

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. Alerts should be generated say: mimikatz

**Steps to Reproduce**
1. Navigate to alerts page.
2. click on full screen icon
3. Observe that UI is not well defined for full screen

**A

[2021-08-17 10:29] elasticmachine commented on #108856
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 10:29] deepikakeshav-qasource commented on #108856
@manishgupta-qasource Please review!!

[2021-08-17 10:32] aarju opened #108857 "Add a 'Copy to Clipboard' button to Discover for all field types"
**Describe the feature:**
Add the Copy to Clipboard button that we currently have for Array field types to all field types.

<img width="400" alt="Copy to Clipboard" src="https://user-images.githubusercontent.com/14032876/129710430-d8b74ea1-a286-4ea6-9481-9b95d9cf2f09.png">

**Describe a specific use case for the feature:**

A user wants to copy the contents of a field in the new Discover table vi

[2021-08-17 10:34] timroes commented on #108851
Not Kibana App :-)

But that's already possible isn't it? I mean you can configure the space what application to show in the sidebar, which is only a "hiding" and not a security feature to actually prevent access from it?

When you edit the space, you should see fine controlled over which applications should show up:

![screenshot-20210817-123334](https://user-images.githubusercontent.com/877229/1

[2021-08-17 10:34] elasticmachine commented on #108857
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-17 10:38] banderror commented on #108393
Sorry for being late with this question, but if `kibana.index` is set to a custom value, `xpack.ruleRegistry.unsafe.legacyMultiTenancy.enabled: true` and quote

what's the plan for https://kibana.siem.estc.dev? Are we completely moving away from multi-tenant envs, there is a plan for rebuilding https://kibana.siem.estc.dev and there is (will be) a guideline for users how to do a similar migration

[2021-08-17 10:40] aarju opened #108859 "Provide an easy way to copy the column names to clipboard within Discover"
**Describe the feature:**
Provide an easy way for users to copy the column names within Discover. Currently when you click on a column name it displays the column sorting pop up menu and it is very difficult to highlight the name of the column to copy to a report or other document. This pop up menu could include a 'copy name to clipboard' option, or provide an easy way to highlight the name of the

[2021-08-17 10:40] manishgupta-qasource commented on #108856
Reviewed & assigned to @MadameSheema

[2021-08-17 10:41] manishgupta-qasource commented on #108850
Reviewed & assigned to @MadameSheema

[2021-08-17 10:42] aarju commented on #108859
Nevermind, this is a duplicate of https://github.com/elastic/kibana/issues/103657

[2021-08-17 10:42] #108859 closed

[2021-08-17 10:49] Kerry350 commented on #108393
It's a good question, but I don't think I have a good answer 😬 In Observability we similarly have shared clusters, and we've historically used `kibana.index` to facilitate this. We know that moving forward this won't be possible, and we'll be moving away from multi tenant environments, but the last I heard a solution hadn't been agreed upon. When I spoke with @jasonrhodes last week there was talk

[2021-08-17 10:49] timroes commented on #108794
I'd prefer if we could use another illustration for that, since the illustration we chose for the "no documents found" I feel really expresses that somehow well. Using the same illustration for a completely different state (the user has not yet initiated any search with us), will just cause a confusing correlation between those two very different screens, and users might get to one screen, mentall

[2021-08-17 10:52] afharo commented on #101907
- `savedObjects:perPage` is registered by the `savedObjects` plugin, but it's also used by `savedObjectsManagement` and `timelion`
- `dateFormat[:*]` are registered by core, and used in several other plugins
- `visualize:enableLabs` is registered by `visualizations`, but it's also used in `visualize` and `timelion`
- `defaultRoute` is registered by core, and used by `kibanaReact` and `spaces`
- ..

[2021-08-17 10:54] manishgupta-qasource commented on #108845
Reviewed & assigned to @MadameSheema

[2021-08-17 10:54] manishgupta-qasource commented on #108852
Reviewed & assigned to @MadameSheema

[2021-08-17 10:55] manishgupta-qasource commented on #108855
Reviewed & assigned to @MadameSheema

[2021-08-17 10:56] karanbirsingh-qasource opened #108864 "[Security Solution]Cross icon colliding for the Start and end date filter under Activity Logs"
**Describe the bug**
Cross icon colliding for the Start and end date filter under Activity Logs

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. Deploy the Endpoint Security.
2. Isolate the above endpoint to create logs for activity logs
3. Select any start date and end date.
4. Observed that Cross icon is co

[2021-08-17 10:56] elasticmachine commented on #108864
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 10:56] deepikakeshav-qasource opened #108865 "[Security Solution] Column values are not aligned properly and hover actions are also overlapped under alerts table"
**Describe the bug**
Column values are not aligned properly and hover actions are also overlapped under alerts table

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. Alerts should be generated say: mimikatz

**Steps to Reproduce**
1. Navigate to alerts page.
2. observe that Field values are not aligned

[2021-08-17 10:56] elasticmachine commented on #108865
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 10:57] deepikakeshav-qasource commented on #108865
@manishgupta-qasource Please review!!

[2021-08-17 10:57] elasticmachine commented on #108845
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 10:59] elasticmachine commented on #108864
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-17 11:00] karanbirsingh-qasource opened #108866 "[Security Solution]Incorrect year information showing for the year selection under Activity Logs"
**Describe the bug**
Incorrect year information showing for the year selection under Activity Logs

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Deploy 8.0.0 Elastic Cloud Build on QA Platform

**Steps to Reproduce**
1. Deploy the Endpoint Security.
2. Isolate the above endpoint to create logs for activity logs
3. Click on start date > Click on year ( 2021 )
4. Observed that inco

[2021-08-17 11:00] elasticmachine commented on #108866
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 11:01] elasticmachine commented on #108866
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-17 11:09] afharo commented on #101146
I started doing so long ago (https://github.com/elastic/kibana/pull/69306) but closed the PR because we changed our plans.

I'd be happy to dust off those changes again :)

[2021-08-17 11:11] TBragi commented on #47019
@ssfructuoso515 does this also happen when you define "Time field" to be "timestamp" while keeping "Index pattern" empty (default)?

[2021-08-17 11:12] mdefazio commented on #108248
Closed in favor of https://github.com/elastic/stack-design-team/issues/90

[2021-08-17 11:12] #108248 closed

[2021-08-17 11:14] afharo commented on #101283
@Bamieh since the PR was merged, can we close this issue? Are there any pending items?

[2021-08-17 11:27] muskangulati-qasource opened #108869 "[Security Solution] The user is able to select multiple values from the alerts detail flyout. Also the modal does not stick to the UI, it moves on scrolling the UI"
**Description:**
The user is able to select multiple values from the alerts detail flyout. Also the modal does not stick to the UI, it moves on scrolling the UI

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alert should be generated

**Steps to Reproduce:**
1. Navigate to the alerts tab.
2. Click on '>' icon
3. Observe the user can

[2021-08-17 11:27] elasticmachine commented on #108869
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 11:27] muskangulati-qasource opened #108870 "[Security Solution] The analyzer button does not work to show the analyzer under the alerts tab"
**Description:**
The analyzer button does not work to show the analyzer under the alerts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alert should be generated

**Steps to Reproduce:**
1. Navigate to the alerts tab.
2. Click on the analyzer
3. Observe the UI is empty for the analyzer

**Impacted Test case:**
N/A

**Actual Resul

[2021-08-17 11:27] elasticmachine commented on #108870
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 11:30] #108174 closed

[2021-08-17 11:30] pgayvallet commented on #91615
I started working on it, and I have a few remarks:

Adding multi-space support to SO import/export effectively have the requirement to also support multiple spaces in the whole SOM ui (which we totally overlooked).

E.g:
- we need a new `spaces` column to the SO table to dissociate which space(s) each object is in. Atm if I create 3 spaces and go to the SOM listing and select all of them, I got 3

[2021-08-17 11:35] manishgupta-qasource commented on #108869
Reviewed & assigned to @MadameSheema

[2021-08-17 11:36] manishgupta-qasource commented on #108870
Reviewed & assigned to @MadameSheema

[2021-08-17 11:38] afharo commented on #101295
I would expect a similar behaviour to any non-valid configuration keys. The current behaviour when adding a non-valid key is that Kibana throws an error and stops working. Shouldn't we do the same here?

[2021-08-17 11:39] #96158 closed

[2021-08-17 11:41] dgieselaar opened #108873 "[APM] Remove usage of `getBoolFilter` in Kuery component"
Instead of `getBoolFilter`, we can pass it to the Kuery component (or SearchBar component), similar to https://github.com/elastic/kibana/pull/108689.

[2021-08-17 11:41] elasticmachine commented on #108873
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 11:42] #107753 closed

[2021-08-17 11:43] banderror commented on #102089
I hope I addressed the rest in https://github.com/elastic/kibana/pull/108872
@weltenwort could you please help with adding proper team labels and pinging the teams?

[2021-08-17 11:46] #80931 closed

[2021-08-17 11:46] liza-mae opened #108877 "[Security Solutions] Upgrade 7.14.1 to 7.15.0 snapshot test fails to display rule due to illegal_argument_exception"
The newly added upgrade test for rules is failing when upgrading from latest 7.14 to 7.15 snapshot.

Steps to reproduce:

1. Create ESS deployment 7.14.1-SNAPSHOT
2. Upload security solutions data via API as found here: https://raw.githubusercontent.com/elastic/elastic-stack-testing/master/ci/upgrade/buildSrc/src/main/java/org/estf/gradle/UploadSecuritySolutionData.java
3. Upgrade ESS deployment t

[2021-08-17 11:46] elasticmachine commented on #108877
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 11:51] #107899 closed

[2021-08-17 12:06] elasticmachine commented on #108856
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:07] ssfructuoso515 commented on #47019
Yes,

but I see that the data shown is different:

![default+timestamp](https://user-images.githubusercontent.com/89073084/129721604-bdee656f-98d7-4926-b841-cdf80ecd022d.PNG)

We've already tried this with "@timestamp" rather than "timestamp", and we see the same metrics that we could see if we don't write anything in the "Time field" and "Index-pattern" fields:
![default+atimestamp](https://user-

[2021-08-17 12:08] elasticmachine commented on #108877
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 12:10] elasticmachine commented on #108850
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:11] MadameSheema commented on #108850
@monina-n can you please take a look at this when you have the chance? thanks

[2021-08-17 12:18] elasticmachine commented on #108852
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:24] mandeepkaur-qasource opened #108886 "[Security Solution]No user friendly warning message is getting displayed on searching for invalid column name"
**Describe the bug**
No user friendly warning message is getting displayed on searching for invalid column name on 'Alerts' table

**Build Details:**

Version:8.0.0 SNAPSHOT
Commit:9aa1705cd9546ed43af59d790c58e687f5716ca1
Build:45368

**Browser Details:**
N/A

**Preconditions**

    Kibana users should be logged in.
    endpoint should be installed.

**Steps to Reproduce**
1. Navigate to alerts pa

[2021-08-17 12:24] elasticmachine commented on #108886
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 12:25] mandeepkaur-qasource commented on #108886
@manishgupta-qasource Please review!!

Thanks!!

[2021-08-17 12:27] MadameSheema commented on #108845
@arvindersingh-qasource can you please validate if this issue is happening on 7.x branch? Thanks

[2021-08-17 12:27] MadameSheema commented on #108852
@karanbirsingh-qasource can you please validate if this issue is happening on 7.x branch? thanks

[2021-08-17 12:28] elasticmachine commented on #108855
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:28] MadameSheema commented on #108855
@karanbirsingh-qasource can you please validate if this issue is happening on 7.x branch? thanks

[2021-08-17 12:29] elasticmachine commented on #108865
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:29] MadameSheema commented on #108865
@deepikakeshav-qasource can you please validate if this issue is happening on 7.x branch? Thanks

[2021-08-17 12:31] elasticmachine commented on #108869
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:31] MadameSheema commented on #108869
@muskangulati-qasource can you please validate if this issue is happening on 7.x branch? thanks

[2021-08-17 12:31] elasticmachine commented on #108870
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:32] MadameSheema commented on #108870
@muskangulati-qasource can you please validate if this issue is happening on 7.x branch? thanks

[2021-08-17 12:33] elasticmachine commented on #108886
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 12:34] ruflin opened #108888 "[Fleet] Package info does not exist from older package"
* Stack version: 7.14.0 on Elastic Cloud

I have an Elastic Stack cluster that is running for quite some time and used Fleet in the early days. I currently still have the [AWS 0.2.4](https://github.com/elastic/package-storage/tree/production/packages/aws/0.2.4) package installed. I wanted to upgrade the package through the UI to a more recent version but get the following screen:

![Screenshot 202

[2021-08-17 12:34] elasticmachine commented on #108888
Pinging @elastic/fleet (Team:Fleet)

[2021-08-17 12:35] alexwizp commented on #47019
@ssfructuoso515 is it possible to update your instance to version 7.14?

[2021-08-17 12:49] snide opened #108889 "[Security Solution] Hover / On click for reason field in alerts invokes too many popups"
The icon popup seems duplicative. I'd likely consider removing the tooltip and replacing it with a title to save some DOM since this is a repeating list.

![image](https://user-images.githubusercontent.com/324519/129727912-aa8a9873-f2a1-42b3-b912-1047fba70bfe.png)

[2021-08-17 12:50] elasticmachine commented on #108889
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 12:53] snide opened #108891 "[Security Solution] Icons in alerts data grid overflow small columns"
If we want to have this many icons in these data grid cells we need to set an appropriate minwidth so that overflow doesn't happen

![image](https://user-images.githubusercontent.com/324519/129729075-34e422d5-c538-4e9c-88ae-e6ca9e826f6a.png)

[2021-08-17 12:53] elasticmachine commented on #108891
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 12:55] mdefazio opened #108893 "[RAC] Workflow status button group on Security is showing different than on Observability"
The workflow status button group is different on Security compared to Observability.  And should mimic the recent PR in Observability (https://github.com/elastic/kibana/pull/108215)

**Security**
![image](https://user-images.githubusercontent.com/3756330/129728937-4ceb092e-7909-4afb-b44b-2f18416d0683.png)

**Observability:**
![image](https://user-images.githubusercontent.com/3756330/129728904-8be4

[2021-08-17 12:55] elasticmachine commented on #108893
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 12:57] alexwizp commented on #97134
the goal is achieved, the functions are available on the server, issue can be closed

[2021-08-17 12:57] #97134 closed

[2021-08-17 12:58] snide opened #108894 "[Security Solution] Security alerts data grid does not utilize schemas, likely sorting incorrectly"
Lots of the security application data grid doesn't use schemas. Schemas are extremely important for sorting of non-string data like timestamps. I'm pretty sure the current sort of the table is by alpha, meaning that it will use the first letter of the printed date. Hard to test since all the results are from the same day.

In the below example this means the default sort of datetime will be broken

[2021-08-17 12:58] elasticmachine commented on #108894
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 12:59] alisonelizabeth opened #108895 "[Ingest Pipelines] Support for override option in dot_expander processor"
For 7.15, Elasticsearch added support for a new `override` option for the `dot_expander` processor. See: https://github.com/elastic/elasticsearch/pull/74601.

We should add support for this in the Ingest Node Pipelines UI.

[Dot expander docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/dot-expand-processor.html)

[2021-08-17 13:03] snide opened #108896 "[Security Solution] Data grid alert does not account for header height when in full screen mode"
Flyout is misaligned in full screen mode because it think the header height is still there. Likely needs to be accounted for with some css when it's in this state.

![image](https://user-images.githubusercontent.com/324519/129730243-12353693-1985-40d7-baaa-53815558400a.png)

[2021-08-17 13:03] elasticmachine commented on #108896
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:03] darkmatter911 commented on #107621
That is correct. Clicking Refresh Index refreshes the index in Kibana and
when viewing "_cat/shards?v".

On Mon, Aug 9, 2021 at 1:57 PM CJ Cenizal ***@***.***> wrote:

[2021-08-17 13:05] #18322 closed

[2021-08-17 13:06] mikecote commented on #58035
I modified the issue's title. After talking with @kobelb, we will go with the approach of creating new indices as [hidden](https://www.elastic.co/guide/en/elasticsearch/reference/master/index-modules.html#index-hidden) in 8.0 or higher and leave existing indices (created in 7.x) as is.

I believe the same should apply for [aliases](https://www.elastic.co/guide/en/elasticsearch/reference/master/ind

[2021-08-17 13:08] arcenik commented on #103265
Things have changed in 7.14 and the max-width is now 100%.

[2021-08-17 13:08] #103265 closed

[2021-08-17 13:09] stacey-gammon commented on #79728
This is awesome, thanks @brianseeders!! Do you think that URL will change? Is it too premature to start linking to some examples from within our docs?

[2021-08-17 13:09] snide opened #108899 "[Security Solution] Error in Add Rule Exception modal is mis-aligned"
Error when adding rule exception is mis-aligned. I'd also comment that the error itself probably isn't very helpful?

To replicate:

1. Open alert flyout for `Super r` rule
2. Click take action button, click "Add rule exception"

![image](https://user-images.githubusercontent.com/324519/129731081-13735d53-5259-4088-933b-1130b79b14ab.png)

[2021-08-17 13:10] elasticmachine commented on #108899
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:13] snide opened #108900 "[Security Solution] Take Action button in Alert Flyout has empty functionality"
Add to cases leads to an empty panel

![](https://snid.es/2021AUG/NcKQlj0dZer5z6ef.gif)

[2021-08-17 13:13] elasticmachine commented on #108900
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:15] snide opened #108901 "[Security Solution] Alert flyout > take action > investigate in timeline button is unresponsive"
Investigate in timeline button from "Take Action" button in alert flyout doesn't seem to do anything or possibly doesn't give correct feedback?

![](https://snid.es/2021AUG/EEG4EiPQWkYikStW.gif)

[2021-08-17 13:15] elasticmachine commented on #108901
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:18] #108597 closed

[2021-08-17 13:19] snide commented on #108894
As another example of where schemas should be in use and can be very powerful. We probably want a low-high ordering for Severity rather than alpha.

![image](https://user-images.githubusercontent.com/324519/129732823-e4c4981a-e16d-401b-8d1b-53e33e7a3418.png)

[2021-08-17 13:25] ppisljar opened #108904 "[Reporting] es duplex stream should not have dependency on reporting"
reporting implemented es duplex stream that allows writing files to ES. It should not have dependency on reporting to figure out the encoding type but rather have a separate encoding type option, leave encoding to the consumer or have a single way of encoding the files.

[2021-08-17 13:25] elasticmachine commented on #108904
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 13:28] ppisljar opened #108906 "align expressions renderMode with embeddables viewMode"
there is a difference between embeddable `viewMode` and expressions `renderMode` and we should align them, thus:

- [ ] we will add `preview` to embeddable viewModes
- [ ] we will rename `display` expressions renderMode to `view`
- [ ] we will remove `noInteractivity` expression renderMode in favour of `noInteractivity` flag (separate from renderMode)

[2021-08-17 13:28] elasticmachine commented on #108906
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 13:34] mdefazio commented on #108891
Next iteration of these is tracked here: https://github.com/elastic/stack-design-team/issues/85

[2021-08-17 13:38] mdefazio opened #108907 "[RAC] Expand popover on datagrid not showing full content"
Looks like the cell data is still truncated when opening the cell expand popover
![image](https://user-images.githubusercontent.com/3756330/129735473-2f165de4-9223-4117-9175-fdba18cfe0f3.png)

**Expected behavior:**
Clicking the expand icon should show the cell's full content, without truncation

[2021-08-17 13:39] elasticmachine commented on #108907
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:44] sqren opened #108908 "[APM] Replace `@timestamp` with `timestamp.us`"
Today APM documents have two timestamp fields:
 - `@timestamp` (millisecond precision)
 - `timestamp.us` (microsecond precision)

[Since 7.0](https://www.elastic.co/blog/journey-support-nanosecond-timestamps-elasticsearch) Elasticsearch has supported nanosecond precision for timestamps. We can take advantage of this by upgrading the precision of `@timestamp` and at the same time drop `timestamp.us

[2021-08-17 13:44] elasticmachine commented on #108908
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 13:46] mdefazio opened #108909 "[RAC] Last updated tooltip not synced with displayed text"
When hovering over the Last updated text, the tooltip shows different timing (continues updating).
![image](https://user-images.githubusercontent.com/3756330/129736653-bc595e33-1bf2-46bb-8ff2-bb8672057cb4.png)

![image](https://user-images.githubusercontent.com/3756330/129736891-d2909632-d0c1-42c3-97e0-1b57db80e23d.png)

Auto refresh isn't on which would be expected for this behavior
![image](http

[2021-08-17 13:46] elasticmachine commented on #108909
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:49] mdefazio opened #108910 "[RAC] Popover for top values allows for infinite popovers"
When using the hover actions on a chart, and choosing top values, I can continue performing this action which causes multiple popovers

![image](https://user-images.githubusercontent.com/3756330/129737631-34460bc5-d19d-41c9-8069-a2bdf08eb15f.png)

[2021-08-17 13:49] elasticmachine commented on #108910
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:54] legrego commented on #101944
@jportner actually I was proposing this. I expect that a majority of ES APIs return user-supplied data, to which we have no control. I think it's perfectly reasonable for us to support `__proto__` as a piece of user-supplied data. The fact that this field is dangerous to our language du jour shouldn't mean that our users can't use it. Rather, I feel that it should serve as a reminder that most/all

[2021-08-17 13:55] mdefazio opened #108912 "[RAC] Bulk action popover text for workflow status change inconsistent"
- Bulk action popover text should read consistent for Workflow actions
- Padding and alignment differs between bulk popover and row popver

![image](https://user-images.githubusercontent.com/3756330/129738385-8164b713-4d65-4cca-98a7-ae3411cecc79.png)

@paulewing Confirming the below mockup is still accurate?

![image](https://user-images.githubusercontent.com/3756330/129738547-d3553cdd-0e37-44ae-8

[2021-08-17 13:55] elasticmachine commented on #108912
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 13:57] LeeDr commented on #75289
@cchaos I think this was fixed in 7.14.0 ?  I'm not seeing the problem now.  If you know, can you reference the PR and close this?

[2021-08-17 13:59] legrego commented on #105512
This is something we can consider in the future, but you're right that it isn't possible today. If we maintain our current privilege "hierarchy" in the future, then whatever replacement you come up with for `read` would have to make sense in the context of the base `all` and `read` privileges. In other words, should users with `read` access to all features within the space be granted access to you

[2021-08-17 14:02] snide opened #108914 "[Security Solution] Alert count panel still has drag and drop UI and permanent scroll overflow"
1. Alert count panel has `overflow: scroll`. Should likely be overflow auto and use the [EUI utilities for styling overflows](https://elastic.github.io/eui/#/utilities/css-utility-classes#overflows).
2. The actual items in the table still use the drag and drop abilities despite it being removed from the rest of the application
3. The tooltip is duplicative of the dropdown.

![image](https://user-i

[2021-08-17 14:02] elasticmachine commented on #108914
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 14:03] dplumlee commented on #108893
just hasn't been merged yet https://github.com/elastic/kibana/pull/107972

[2021-08-17 14:08] jportner commented on #91615
We have this right now (provided by the Spaces plugin) but it 1. [it is commented out until shareable objects are available in the SOM page](**url**), and 2. it only shows _other spaces_ (not the current space). We could easily change it so it shows the current space, too.

Good point. I was under the impression that we wanted to remove "inspect objects" from the SOM page anyway? That still leaves

[2021-08-17 14:17] elasticmachine commented on #108909
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:19] elasticmachine commented on #108912
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:19] elasticmachine commented on #108910
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:20] elasticmachine commented on #108907
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:20] elasticmachine commented on #108901
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:20] elasticmachine commented on #108900
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:21] elasticmachine commented on #108899
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 14:21] elasticmachine commented on #108896
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:21] elasticmachine commented on #108894
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:22] elasticmachine commented on #108893
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 14:22] elasticmachine commented on #108891
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:23] elasticmachine commented on #108889
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:23] snide opened #108917 "[Security Solution] Analyzer full screen alignment issues"
To replicate

1. Click on analyze from an alert list
2. Click on full screen

I've include some design comments on the rest of the view which also has several issues. The button is a pure bug though.

![image](https://user-images.githubusercontent.com/324519/129745300-f02548d8-27db-4fb4-a5f6-c7bed59c1d0f.png)

[2021-08-17 14:23] elasticmachine commented on #108917
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 14:27] afharo commented on #102844
I think that this is already set https://github.com/elastic/kibana/blob/f243b0540d954a53b1b0371feb22c1cfd5593de9/src/core/server/saved_objects/migrationsv2/actions/create_index.ts#L77-L90.

I'll go ahead and close the issue. Please, feel free to reopen if not fixed.

[2021-08-17 14:27] #102844 closed

[2021-08-17 14:27] #104347 closed

[2021-08-17 14:35] elasticmachine commented on #108917
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-17 14:37] graphaelli commented on #107263
mappings added

[2021-08-17 14:37] #107263 closed

[2021-08-17 14:38] ogupte commented on #108830
Service list has a help tooltip at the same vertical. The tool tip only displays anchored on the icon, and in the "up" direction. How should we make both of these tool tips consistent with each other?
![Screen Shot 2021-08-17 at 10.36.11 AM.png](https://zube.io/files/elastic/36457dbbd8217413f2755383404b1153-screen-shot-2021-08-17-at-10-36-11-am.png)

[2021-08-17 14:43] formgeist commented on #108830
Good catch - yes we should be consistent so using the `EuiTooltip` for the new badge makes sense 👍

[2021-08-17 14:44] ThomThomson opened #108920 "[Dashboard] Use SessionStorage to Persist ViewMode State"
### App State Removed from URL
In 7.x, https://github.com/elastic/kibana/pull/86939 & https://github.com/elastic/kibana/pull/97941 removed all dashboard app state from the URL. This allows for a cleaner developer experience, shorter URLs for the user, and the ability to use by value panels in dashboards, but unfortunately results in some changes to the user experience.

### Session Storage
A poten

[2021-08-17 14:44] elasticmachine commented on #108920
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-17 14:45] snide opened #108921 "[Security Solution] Expand cell needs more specific design if this many actions can be taken"
A popover with a scroll is likely too much. Likely the application needs to use a seperate render for the popups that appear so that it can better build a view that doesn't requite scrolling.

![image](https://user-images.githubusercontent.com/324519/129747413-966a6264-22d0-477b-bafd-2463c04ff614.png)

[2021-08-17 14:45] elasticmachine commented on #108921
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 14:47] #70784 closed

[2021-08-17 14:53] mdefazio commented on #108921
Design issue tracked here: https://github.com/elastic/stack-design-team/issues/85

[2021-08-17 14:54] thekofimensah commented on #90803
Anyone?

[2021-08-17 14:56] nchaulet opened #108927 "[Fleet] Validate package policy server side"
## Description

We currently do not validate the package policy server side, it seems easy enough to do so https://github.com/elastic/kibana/pull/108924/files so we should probably do it.

[2021-08-17 14:56] elasticmachine commented on #108927
Pinging @elastic/fleet (Team:Fleet)

[2021-08-17 15:02] jportner opened #108928 "Upgrade assistant - warn about breaking Saved Objects APIs"
In the 8.0 release, saved objects will be converted to become share-capable and their IDs will change (#100489).

If a user has 3rd party integrations that is using the generic Saved Objects REST APIs in a non-default space, their usage may break post-8.0. Specifically, if they are using object IDs that are saved outside of Kibana, those object IDs will no longer be accurate.

We track this in the

[2021-08-17 15:02] elasticmachine commented on #108928
Pinging @elastic/kibana-security (Team:Security)

[2021-08-17 15:03] #100139 closed

[2021-08-17 15:03] #108529 closed

[2021-08-17 15:08] ghudgins commented on #55262
@markov00 what do you think about this improvement on top of the recent change in this area https://github.com/elastic/kibana/pull/106231

[2021-08-17 15:12] mikecote commented on #104319
Closing due to Epic being dropped for 7.x. The team will leverage telemetry (https://github.com/elastic/kibana/issues/108716) to indicate when it is best to apply such changes while ensuring impact is low.

[2021-08-17 15:12] #104319 closed

[2021-08-17 15:12] mikecote commented on #104320
Closing due to Epic being dropped for 7.x. The team will leverage telemetry (https://github.com/elastic/kibana/issues/108716) to indicate when it is best to apply such changes while ensuring impact is low.

[2021-08-17 15:12] #104320 closed

[2021-08-17 15:12] mikecote commented on #104321
Closing due to Epic being dropped for 7.x. The team will leverage telemetry (https://github.com/elastic/kibana/issues/108716) to indicate when it is best to apply such changes while ensuring impact is low.

[2021-08-17 15:12] #104321 closed

[2021-08-17 15:13] mikecote commented on #104316
Epic will extend into 7.16.

[2021-08-17 15:13] ghudgins commented on #55897
a bit unclear about the user story for this issue - is it displaying a table of individual documents? should we do this task or provide better integration with discover

[2021-08-17 15:14] Dosant opened #108930 "[Index Patterns] Fix empty prompts remote cluster check"
This wouldn't be a regression from this pr, but looks like this never called, hence empty prompt never uses remove cluster logic
I think the intention was to use `useMemo` or `useEffect` instead

_Originally posted by @Dosant in https://github.com/elastic/kibana/pull/108756#discussion_r690446498_

[2021-08-17 15:14] elasticmachine commented on #108930
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 15:14] ghudgins commented on #55898
need to list some possible applications of ECS schema in this issue to move forward

[2021-08-17 15:19] ghudgins commented on #55902
this now would only take a smaller effort to complete now that the inspector works in dashboard

[2021-08-17 15:22] jgowdyelastic commented on #90803
I'm unable to reproduce this issue. My CSV file looks like this:
[code]

After importing, the created index has two documents.
I've tested on 7.14.

[2021-08-17 15:25] MGulerce opened #108934 "[Security Solution] Kibana cant see the configürations"
I'm trying to use LDAP authentication for kibana but Elasticsearch and Kibana cant see the configürations in config.yml.
Whether  I change the config.yml on server (/usr/share/elasticsearch/plugins/opendistro_security/securityconfig) ,in Kibana UI secruity section does not change anything and in the and I never authenticate with my LDAP user.

Kibana/Elasticsearch Stack version: 1.13.0

Server OS

[2021-08-17 15:25] elasticmachine commented on #108934
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 15:27] MGulerce commented on #108934
By the way this the first time I opened issue.I hope I didnt miss anything.
Best Regards

[2021-08-17 15:32] ghudgins commented on #58330
POC didn't yield an implementation change so we're keeping this open. Need to continue to collaborate with Elasticsearch team on field_caps

[2021-08-17 15:35] #106729 closed

[2021-08-17 15:39] ghudgins commented on #61470
Blocked on EUI https://github.com/elastic/eui/issues/4636

[2021-08-17 15:43] ghudgins commented on #61966
idea: name a layer and pre-append this to series

[2021-08-17 15:43] spong opened #108939 "[Security Solution][Detections] Rule Details show 'Activated' text regardless of if Rule is active or disabled"
The Rule Details `Activate`  switch show the text `Activated` regardless of if the Rule is active or disabled.

Activated:
<p align="center">
  <img width="700" src="https://user-images.githubusercontent.com/2946766/129757378-7617d132-4049-4f6a-bdfa-cf8b5071b933.png" />
</p>

Deactivated:
<p align="center">
  <img width="700" src="https://user-images.githubusercontent.com/2946766/129757474-c78c574

[2021-08-17 15:43] elasticmachine commented on #108939
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 15:43] elasticmachine commented on #108939
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 15:45] ghudgins commented on #104259
this issue https://github.com/elastic/kibana/issues/62381 shows why we need a "previous bucket" and the "overall previous" time period as distinct options

[2021-08-17 15:52] pgayvallet commented on #91615
Yea. I think just disabling the actions if the object is not present in the active space is acceptable until we take a closer look at what we may exactly want.

I thought a lot about this, and I'm not sure of the correct solution. Restricting to full admins would definitely be an option, and (probably) the easiest one.

Another option would be to filter the spaces listed in the UI depending on the

[2021-08-17 15:53] spong opened #108940 "[Security Solution] Add link to documentation for Alert Notification Placeholders/Examples in Actions UI"
We've received a number of questions around the format and available options for constructing the `message` within Action UI when creating/editing Rules. This enhancement is for adding a docs link within the UI so users can better understand their options and proper formatting necessary to achieve their use case. In addition to a docs link, we could also add a `template` selector that could be pre

[2021-08-17 15:53] elasticmachine commented on #108940
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 15:53] elasticmachine commented on #108940
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 15:55] xcrzx opened #108941 "[RAC] Rule registry index bootstrapping: implement upgrades of existing index templates"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

It might happen that index template configuration changes on the solutions side (e.g., added new component template):

[code]

Changes like these, currently, have no effect if the index has been previously initialized. After initialization, all the subsequent changes to the index template are ignored. We need to find a

[2021-08-17 15:55] elasticmachine commented on #108941
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 15:55] elasticmachine commented on #108941
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 15:59] snide opened #108942 "[Security Solution] Top signal rule risk chart has z-index issues in alerts grid"
To replicate:

1. Load up an alerts list in the data grid
2. Click on the top signal rule risk icon

![](https://snid.es/2021AUG/ZTO3KYv52iV3FMjC.gif)

[2021-08-17 15:59] elasticmachine commented on #108942
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 16:06] bhavyarm opened #108943 "Kibana verbose logs show inaccurate log lines for trial license and security"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If you enable verbose logging in kibana.yml - and your cluster is on trial license - logs show which is incorrect informat

[2021-08-17 16:07] elasticmachine commented on #108943
Pinging @elastic/kibana-security (Team:Security)

[2021-08-17 16:09] jportner commented on #108943
To be clear, this log is displayed in Kibana when Security is disabled on the ES cluster. So we just need to change the message :+1:

[2021-08-17 16:10] #108443 closed

[2021-08-17 16:13] mikecote commented on #58035
Reverting title back to new + existing indices after further discussion with @kobelb and @stacey-gammon for consistency. There isn't a strong push to migrate existing indices in 8.0, but it sounded fairly easy (single PUT HTTP request, probably in migration assistant) and might as well if it's easy.

[2021-08-17 16:39] mikecote commented on #107580
Done as part of https://github.com/elastic/kibana/pull/108407.

[2021-08-17 16:39] #107580 closed

[2021-08-17 16:43] afharo opened #108950 "Kibana startup timing has doubled in the last 30 days"
Based on our CI data, the Kibana startup process has doubled the time it takes to run in the last 30 days:
![image](https://user-images.githubusercontent.com/5469006/129766335-f12537e8-59ba-4d12-8bf8-825bef1eb765.png)

Digging in our APM data, the main offender is the `setup` lifecycle step:
![image](https://user-images.githubusercontent.com/5469006/129766465-135e5eae-6e21-4732-a6e8-e1b8de242216.p

[2021-08-17 16:43] elasticmachine commented on #108950
Pinging @elastic/kibana-core (Team:Core)

[2021-08-17 17:18] ghudgins opened #108951 "[Dashboard] "Save and return" should focus the visualization you're coming from"
**Describe the feature:**
On return to a dashboard from lens focus the panel you just came from

**Describe a specific use case for the feature:**
**When** you're editing a dashboard panel that is "below the fold"
**And** you click "Save and return" from lens
**I need** to re-focus the panel you came from
**So I can** verify my changes without having to find them again

Related to https://github.c

[2021-08-17 17:18] elasticmachine commented on #108951
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-17 17:18] elasticmachine commented on #108951
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-17 17:47] #107343 closed

[2021-08-17 17:52] #108304 closed

[2021-08-17 18:04] joshdover opened #108959 "Handle ID changes to Saved Objects installed by Fleet"
As part of the #27004, the IDs for many Saved Object types will change for objects installed by Fleet packages in spaces other than the "default" space.

These ID changes will break a few features in the Fleet UI:
- Uninstalling an integration and it's assets will not delete the installed assets
- Links from the "assets" tab for an integration will no longer work and be in a broken empty state:

!

[2021-08-17 18:04] elasticmachine commented on #108959
Pinging @elastic/fleet (Team:Fleet)

[2021-08-17 18:14] liza-mae opened #108963 "Sometimes reporting pdf optimize fails after upgrade"
When running automated upgrade testing, I have some inconsistent results with generating a PDF optimized report on the built-in flights sample data, since it does not happen too often, it has been hard to reproduce outside the CI runs.  Need to find a way to capture more debug information in the CI runs.

So far seen on upgrade paths:
- 7.8.x -> 7.14.0
- 6.8.x -> 7.14.0

The test environment is:
-

[2021-08-17 18:14] elasticmachine commented on #108963
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 18:15] elasticmachine commented on #108963
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-17 18:15] osmanis commented on #82851
@linyaru @lucagennari-es @mwtyang with default dashboards, visualizations, index patterns and indices set up with each new deployment, we may need to do a health check on our KPIs to ensure we're not over counting on some metrics like ingest rate which takes into account # of documents in ES.

[2021-08-17 18:22] kevinlog opened #108965 "Behavior Protections has two different spellings of "Behavior" in the Policy card"
**Kibana version:**
7.15

**Elasticsearch version:**
7.15

**Describe the bug:**
There are two different spellings of "Behavior" in the Behavior protections policy card - "Behavior" and "Behaviour"

Both should be "Behavior"

**Steps to reproduce:**
1. Create an Endpoint integration policy in 7.15
2. Look at the configuration
3. See the two different spellings of Behavior in the card.  One is in t

[2021-08-17 18:22] elasticmachine commented on #108965
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-17 18:22] elasticmachine commented on #108966
Pinging @elastic/kibana-docs (Team:Docs)

[2021-08-17 18:28] nchaulet opened #108968 "[Fleet] Support multiple ES output in Kibana config file (aka preconfiguration)"
## Why?

Related to #104980

Currently we can only configure one global default output in Fleet. We want to allow users to configure multiple Elasticsearch Output to send integration data or monitoring data.
* to the same Elasticsearch cluster with different settings or different hosts
* ~~to a remote Elasticsearch cluster~~ (Not for 7.16)

Output created using the preconfigure service and the kib

[2021-08-17 18:28] elasticmachine commented on #108968
Pinging @elastic/fleet (Team:Fleet)

[2021-08-17 18:29] cuff-links commented on #108895
The dot expander functional tests will also need to be updated to support this feature as well.

[2021-08-17 18:31] alvarezmelissa87 commented on #99510
Moving this to 7.16 as we're still waiting on some additions to euiCharts so we can make the needed changes.

[2021-08-17 18:34] #102661 closed

[2021-08-17 18:34] #105789 closed

[2021-08-17 18:35] kevinlog commented on #108965
https://github.com/elastic/kibana/pull/108969

[2021-08-17 18:38] pgayvallet commented on #99044
This is also a blocker for the multi-NS export (https://github.com/elastic/kibana/issues/91615), as `exportByType` relies on a PIT search under the hood

[2021-08-17 18:43] simianhacker commented on #107565
Here is the example query:
[code]

[2021-08-17 18:44] chandlerprall opened #108972 "Create a theming React context provider integration for applications"
EUI is close to merging our theming layer (https://github.com/elastic/eui/pull/4511) which relies on React's context to give applications means of overriding theme values for the application and at specific nodes/branches in its component tree. When this has landed in EUI (with emotion functionality coming later), we'll be ready for the application mount points in Kibana to be updated to include t

[2021-08-17 18:44] elasticmachine commented on #108972
Pinging @elastic/kibana-core (Team:Core)

[2021-08-17 18:44] pgayvallet commented on #91615
I love how it's impossible to identify all the things that are going to be on your way when touching the SO import/export code before starting to try to code it.

A few blockers:

`exportByType` relies on a PIT`find` under the hood. However it's currently not possible to perform a PIT `find` with multiple namespaces specified (https://github.com/elastic/kibana/issues/99044). This is a blocker for

[2021-08-17 18:57] ghudgins commented on #5049
🎉 7.13 has the ability to pivot your rows to columns in Kibana in Dashboard/Lens.
![drag-to-columns](https://user-images.githubusercontent.com/5465514/129782883-39254545-ab32-4a7a-a053-67e10dab48a5.gif)

If there's an aspect you'd like to see that isn't included do reach out to us on [discuss.elastic.co](https://discuss.elastic.co/c/elastic-stack/kibana/7) or open anothother issue here.

A useful

[2021-08-17 18:57] #5049 closed

[2021-08-17 19:10] bhavyarm commented on #108774
New kibana logs without doing anything with metricbeat:

[code]

ES logs:
[code]

[2021-08-17 19:18] sqren opened #108980 "[APM] Consistent "no data" screen with other Observability solutions"
In https://github.com/elastic/kibana/pull/107709 the design team has added the layout for the "no data" screens for all the Observability solutions. It looks something like this:

![image](https://user-images.githubusercontent.com/549577/129787515-c8ac2b30-a764-48e1-bad5-272e98150bb2.png)

In the current state the "no data" screen is always displayed. It should obviously be displayed conditionally

[2021-08-17 19:18] elasticmachine commented on #108980
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 19:20] #108495 closed

[2021-08-17 19:20] #108510 closed

[2021-08-17 19:20] snide opened #108981 "[Security Solution] Event renderer onclick interaction can't isolate hover states"
1. Click an event renderer from the "reason" list in an alert
2. Hover over an item in the popup.
3. Likely the `onHover` is being called multiple times because it's nested inside

![](https://snid.es/2021AUG/AAD3XZp6aHaIhz1o.gif)

[2021-08-17 19:20] elasticmachine commented on #108981
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 19:21] elasticmachine commented on #108774
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-17 19:24] snide commented on #108981
Related. The drag and drop should probably (?) be removed for these items? Note that the dropzone doesn't seem to work, and the awkward scrolling that's happening within the empty data grid.

![](https://snid.es/2021AUG/QpZOwsaerGxBO8oB.gif)

[2021-08-17 19:25] liza-mae commented on #108963
It is possible this is related to ```SIGHUP```, I recall seeing that in the log from one of the failures early on, although I don't see it in the most recent failure, but I see an ```Internal Server Error```

Logs:
[code]

[code]

[2021-08-17 19:31] bhavyarm commented on #75289
<img width="1792" alt="Screen Shot 2021-08-17 at 3 30 40 PM" src="https://user-images.githubusercontent.com/7074629/129788682-2bf04ada-a985-4a1f-a569-f2d2da913819.png">

unfortunately this still feels like a bug. Thanks!

[2021-08-17 19:31] tsullivan commented on #108774
@bhavyarm I think this issue is missing some recreation details.
 - At what point are you sending a request to generate a report?
 - Is the Kibana server restarting in between any of the steps?
 - Can you include a full set of Kibana logs that show when Reporting has received the request to generate a report?
 - Can you enable verbose logging in Kibana?

[2021-08-17 19:32] linyaru commented on #82851
I think we should be safe for data ingestion metrics as we use actual documents loaded into ES instead of patterns or artifacts created. However this does significantly impact our activity level indicators (num of dashes, vizes, etc), so we should warn the COS team.

[2021-08-17 19:32] formgeist opened #108983 "[APM] Backend detail view failure to render when selecting another time range"
Kibana version: master

# Summary

![CleanShot 2021-08-17 at 21 30 05](https://user-images.githubusercontent.com/4104278/129788832-3be84523-dc92-4259-953e-7b4fa6b64dc9.gif)

When selecting another time range in the Backend detail view for a selected backend, the page renders nothing.

[2021-08-17 19:32] elasticmachine commented on #108983
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 19:36] bhavyarm commented on #108774
Please note this is user generated report. Here are my full kibana logs before I stopped it

[code]

[2021-08-17 19:37] tsullivan commented on #108774
I'm confused about the change in logs too. In the first log sample, the PDF report was failing, but in the second sample, the PDF output is being created in ES.

[2021-08-17 19:45] #108118 closed

[2021-08-17 19:49] mdefazio opened #108984 "[RAC] Event renderer view: checkbox included in actions column"
The checkbox is in the same column cell as the actions. Also causing the action icons to be too close the the row checkbox

![image](https://user-images.githubusercontent.com/3756330/129782337-12d0ad68-20dc-41f8-b1b2-76bc137b9448.png)

The checkbox and actions should be in separate columns to help with spacing and separation of tasks.

[2021-08-17 19:49] elasticmachine commented on #108984
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 19:49] cjcenizal commented on #99823
Is this related to https://github.com/elastic/kibana/issues/26807? It sounds like it's another way of solving the problem raised in that issue.

Do y'all think it might make sense to add this functionality directly to the Ingest Node Pipelines UI? It seems like the right place for this, since this UI is another way to create an ingest node pipeline. Once you use this UI I assume the user will want

[2021-08-17 19:50] formgeist commented on #108983
Reopened - just had to make sure it wasn't because my ES cluster went down while testing this. Still happens

[2021-08-17 19:53] mdefazio opened #108987 "[RAC] Event Renderer: Some rows do not have default reason statement included"
A few rule rows do not seem to have default reason statements on them:
![image](https://user-images.githubusercontent.com/3756330/129783385-72a2d312-df73-4eb2-aef7-73eaa3b83917.png)

Whether we show them in the table or not, these would still be needed when opening the flyout.

[2021-08-17 19:53] elasticmachine commented on #108987
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 19:56] mdefazio opened #108988 "[RAC] Event Renderer: Horizontal scrolling on event render view"
Slight horizontal scrolling when looking at the Event renderer view.

![image](https://user-images.githubusercontent.com/3756330/129784120-a852244e-a75d-424f-ae48-d983b8483132.png)

Table should have defined widths for Actions, Timestamp (since these max widths can be determined), and Rule and Event render column should be auto widths.

This should then fix the spacing between actions and timestam

[2021-08-17 19:56] elasticmachine commented on #108988
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 19:59] mdefazio opened #108990 "[RAC] Draggable items still visible in Event Renderer view"
There seem to still be a few fields that allow drag-and-drop with the event renderer.

@paulewing Can you please confirm if all drag-and-drop should be removed from views _outside_ of timeline?

![image](https://user-images.githubusercontent.com/3756330/129784080-bbae40b5-4265-4bbe-807c-86483e5b8948.png)

[2021-08-17 19:59] elasticmachine commented on #108990
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 20:26] kobelb opened #108993 "Allow Fleet to complete package upgrade before Kibana server is ready"
After certain Fleet packages have been successfully installed, the Fleet packages must be upgraded before Elastic Agent can be upgraded and begin ingesting data in the new format. We'd like to make this process easy for both system administrators and Cloud, and do so when Kibana is upgraded so that Elastic Agent can immediately be upgraded. We've conditioned our system administrators to wait until

[2021-08-17 20:26] elasticmachine commented on #108993
Pinging @elastic/kibana-core (Team:Core)

[2021-08-17 20:28] kobelb commented on #108993
/cc @alexh97 per our Slack discussion, this is the only task that I'm aware of that is dependent on a Kibana Platform team for the short-term solution for the Fleet package lifecycle management project

[2021-08-17 20:29] melissaburpo opened #108994 "[Documentation] Add section for Osquery to Kibana documentation"
## Context
When users add the [Osquery Manager integration](https://github.com/elastic/integrations/tree/master/packages/osquery_manager), this adds an `Osquery` link to the Management section in Kibana, where users can run queries, save queries, and schedule queries for Elastic Agents. However, Osquery is a useful tool for both Observability and Security teams, and over the coming releases, we wi

[2021-08-17 20:29] elasticmachine commented on #108994
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-08-17 20:29] #105821 closed

[2021-08-17 20:30] melissaburpo commented on #108994
As discussed with @gchaps, I'll create the first draft PR for the new Kibana docs section.

[2021-08-17 20:31] dwhyrock commented on #108151
A fix was merged and will be in the first Build Candidate for 7.15.0.  Closing.

[2021-08-17 20:31] #108151 closed

[2021-08-17 20:36] smith commented on #107940
Is this a duplicate of #106786?

[2021-08-17 20:37] snide commented on #108900
The reason this likely exists is because I didn't have any cases. Likely there either needs to be an "Add to new case" interaction or some sort of explanation for why this is empty.

[2021-08-17 20:40] sqren commented on #108851
Thanks @timroes. That's pretty much exactly what I needed.

[2021-08-17 20:40] #108851 closed

[2021-08-17 20:42] randomuserid opened #108997 "[Security Solution] v2 ML Modules for Linux and Windows not populating both beat & endpoint index patterns"
**Describe the bug:**

When creating cross-index ML jobs, in a cluster with both beats and endpoint events, the version 2 Linux and Windows jobs do not place both indices in the data feeds like they used to.

**Kibana/Elasticsearch Stack version:**

7.13.4 and 7.14.0

**Server OS version:**

**Browser and Browser OS versions:**

Chrome 91

**Elastic Endpoint version:**

7.14.0

**Functional Area (

[2021-08-17 20:42] elasticmachine commented on #108997
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 20:46] #108950 closed

[2021-08-17 21:04] kqualters-elastic commented on #108782
fixed by https://github.com/elastic/kibana/pull/108698

[2021-08-17 21:22] elasticmachine commented on #108994
Pinging @elastic/kibana-docs (Team:Docs)

[2021-08-17 22:02] graphaelli commented on #107565
Thanks!  I guess that table doesn't like when the cpu information isn't provided then?  This query returns something like this against `metrics-apm*`:

[code]

[2021-08-17 22:10] #108830 closed

[2021-08-17 22:15] #108813 closed

[2021-08-17 22:19] LeeDr opened #109011 "this test kibana/x-pack/test/functional/apps/spaces/feature_controls/spaces_security.ts is crashing my Kibana server"
**Kibana version:** master

**Elasticsearch version:** master

**Server OS version:** Ubuntu 21.04

**Browser version:** Chrome 92

**Browser OS version:**  Ubuntu 21.04

**Original install method (e.g. download page, yum, from source, etc.):** `x-pack$ node scripts/functional_tests_server.js`

**Describe the bug:** when this test runs,  `kibana/x-pack/test/functional/apps/spaces/feature_controls/

[2021-08-17 22:19] elasticmachine commented on #109011
Pinging @elastic/kibana-security (Team:Security)

[2021-08-17 22:37] marshallmain opened #109015 "[RAC] Renaming kibana.alert.id to something clearer"
As of writing this issue, the alerts-as-data schema has a field called `kibana.alert.id`, however this field contains a string that is intended to be human readable and is not unique to the alert document it is in. In [APM rules](https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/lib/alerts/register_transaction_duration_anomaly_alert_type.ts#L248-L252), this value is computed

[2021-08-17 22:37] elasticmachine commented on #109015
Pinging @elastic/apm-ui (Team:apm)

[2021-08-17 22:37] elasticmachine commented on #109015
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-17 22:37] elasticmachine commented on #109015
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-17 22:37] marshallmain commented on #109015
cc @MikePaquette @dgieselaar @weltenwort

[2021-08-17 22:44] A-Hall opened #109016 "Managing Kibana alerts ML jobs is not documented."
The guide for managing Kibana alerts [talks about machine learning jobs](https://www.elastic.co/guide/en/security/current/alerts-ui-monitor.html#ml-job-compatibility), but never talks about how to manage them.  They're not accessed through the traditional Machine learning app in Kibana and have to be managed via a very small and easily overlooked drop down in the upper right corner of the Rules pa

[2021-08-17 22:44] elasticmachine commented on #109016
Pinging @elastic/ml-ui (:ml)

[2021-08-17 22:54] kibanamachine opened #109017 "Failing test: X-Pack Fleet Functional Tests.x-pack/test/fleet_functional/apps/home/welcome·ts - home onboarding Welcome interstitial is displayed on a fresh install with Fleet setup executed"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16350/)

[2021-08-17 22:54] kibanamachine commented on #109017
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16350/)

[2021-08-17 23:02] andreadelrio commented on #108794
+1 for using a different illustration

[2021-08-17 23:06] #105915 closed

[2021-08-17 23:10] elasticmachine commented on #109017
Pinging @elastic/kibana-core (Team:Core)

[2021-08-17 23:10] elasticmachine commented on #109017
Pinging @elastic/fleet (Team:Fleet)

[2021-08-17 23:10] jbudz commented on #109017
I skipped this on the first failure - the test is expecting fleet to be setup.  On the [1]pull request the test passed on the second run, but error logs above indicate setup failed.

[1] https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/146258/execution/node/1071/log/?consoleFull

main: 3d15d9e0df928661778018013a4de04c63629032

[2021-08-17 23:55] tsullivan commented on #108963
@liza-mae

- 8GB of RAM seems fine
- What are the steps in the automation that run the upgrade and test reporting?
- Are there pending jobs in the Reporting queue prior to the upgrade or anything like that?
- Are the reports manually generated, or is there a scripted request being made to a POST URL?
- Are the tests in question any of the `x-pack/test` functional / API integration tests?

[code]

[2021-08-18 00:07] sqren opened #109022 "Test plan 7.15"
# Test plan 7.15

**Road map goals:**

- [x] [Fleet: Custom editor and manual agent installation instructions](https://docs.google.com/document/d/1WG0T9lAj9lhdVrF6hxZo_BvNFLMzLY5Grn8swrbmOrs/edit?usp=sharing) (✅ @ogupte & ✅ @cauemarcondes)
- [x] [Metrics powered UI](https://github.com/elastic/kibana/issues?q=label%3Aapm%3Atransaction-metrics+is%3Aclosed) ([Test plan description](https://github.com

[2021-08-18 00:07] elasticmachine commented on #109022
Pinging @elastic/apm-ui (Team:apm)

[2021-08-18 00:38] #41832 closed

[2021-08-18 00:48] kibanamachine commented on #109017
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16352/)

[2021-08-18 00:48] kibanamachine commented on #109017
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16352/)

[2021-08-18 01:16] dplumlee opened #109030 "[Security Solution][RAC] Remove in-progress type guards once migration is complete"
With the RAC work being done, we have decided to accept both `in-progress` (old) and `acknowledged` (new) values for the `status` field on alerts. Once the RAC migrations have taken place we need to remove the unused type guards in the code listed in these PR's as well as any other loose, untracked uses.

https://github.com/elastic/kibana/pull/108215
https://github.com/elastic/kibana/pull/107972
h

[2021-08-18 01:16] elasticmachine commented on #109030
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-18 01:30] kibanamachine opened #109031 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should transition from line chart to donut chart and to bar chart"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16353/)

[2021-08-18 01:31] kibanamachine commented on #109017
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16353/)

[2021-08-18 01:55] mdefazio commented on #108939
I believe it's recommended to _not_ change the label.  Someone please correct me, but I believe a screen reader would associate this as the 'activate toggle'...and that would be either on or off.  By switching the label on change, it would confuse this association.

This is slightly different than having a dropdown with two options and changing the display to the selected choice (i.e. the Case sta

[2021-08-18 01:56] mdefazio commented on #108939
Deleted my previous comment...misread the suggestion in the issue 🙃 !

[2021-08-18 03:05] #56771 closed

[2021-08-18 03:50] TomonoriSoejima opened #109037 "[Documentation] add notes about side effect introduced by App State Removed from URL"
Please give a thought about documenting the side effect that the unsaved pinned filters won't persist across browser refreshes so that the users can be mindful and more careful whenever editing the dashboard, they won't be surprised or shocked to lose the filters they created.

More arguments is found in https://github.com/elastic/sdh-kibana/issues/1886

[2021-08-18 04:00] dplumlee opened #109038 "[Security Solution] Reenable skipped cypress tests"
The `header/navigation.spec.ts` file was skipped in [this pr](https://github.com/elastic/kibana/pull/107972) due to flakiness in order to get things merged, it needs to be fixed and reenabled.

First glance, it looks to be not getting reset properly to kibana home for the 2nd batch of tests in the file

[2021-08-18 04:00] elasticmachine commented on #109038
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-18 05:06] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16208/)

[2021-08-18 05:59] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16209/)

[2021-08-18 06:07] philippkahr opened #109040 "[Stack monitoring] Logstash Pipeline details events are not shown"
**Kibana version:**
7.14.0
**Elasticsearch version:**
7.14.0
**Server OS version:**
Elasticsearch Cloud
**Browser version:**
14.1.2 Safari
**Browser OS version:**
macOS 11.5.1
**Original install method (e.g. download page, yum, from source, etc.):**
Cloud
**Describe the bug:**

When you go to a freshly deployed pipeline it takes around ~20-30 minutes until the events per second data shows up.

I u

[2021-08-18 06:08] karanbirsingh-qasource commented on #94088
thanks @jonathan-buttner for summarizing the action items

[2021-08-18 06:14] firdausa-iprogrammer opened #109041 "CSV report returns "-" for _source"
**Kibana version:**
7.13.4
**Elasticsearch version:**
7.13.4
**Server OS version:**
Centos 7
**Browser version:**
Chrome Version 90.0.4430.212
**Browser OS version:**
Ubuntu 20.04 LTS
**Original install method (e.g. download page, yum, from source, etc.):**
yum
**Describe the bug:**
Unable to get CSV with correct field values
**Steps to reproduce:**
1. Open Discover
2. Save search
3. Share report

[2021-08-18 07:02] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16210/)

[2021-08-18 07:12] #79208 closed

[2021-08-18 07:26] formgeist opened #109044 "[APM] Add dark theme variations for SpanIcon"
# Summary

Similarly to agent icons where we add custom dark variations for particular agent icons, we should enable the same support for SpanIcon.

<img width="652" alt="CleanShot 2021-08-17 at 21 22 32@2x" src="https://user-images.githubusercontent.com/4104278/129855924-42a57eac-586b-4a45-b6fc-9637604adfeb.png">

[2021-08-18 07:26] elasticmachine commented on #109044
Pinging @elastic/apm-ui (Team:apm)

[2021-08-18 07:30] kertal commented on #108794
Agreed, however since it's a screen most users newer will see (need to enable it in Advanced setting), don't think we should put to much effort in it. So if there's a fitting illustration for this available, let's use it. Else I'd suggest just adapting the text

[2021-08-18 07:32] zhujunjieit opened #109064 "kibana 7.14.0 bug Error response from daemon: OCI runtime create failed:"
system in centos7.9:
error:
docker: Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: rootfs_linux.go:76: mounting "/rkhome/soft/conf/kibana.yml" to rootfs at "/usr/share/kibana/config/kibana.yml" caused: mount through procfd: not a directory: unknown: Are you trying to mount a directory on

[2021-08-18 07:35] axw opened #109047 "[Fleet] Add support for Elasticsearch privileges in data stream manifest"
Per https://github.com/elastic/package-spec/issues/203#issuecomment-891827816, update Fleet/EPM to take Elasticsearch privileges defined in data stream manifests into account when generating agent API Keys.

When taking privileges from a package's data stream manifest, Fleet must ensure those privileges are restricted to the following set: `auto_configure`, `create_doc`, `maintenance`, `monitor`,

[2021-08-18 07:35] elasticmachine commented on #109047
Pinging @elastic/fleet (Team:Fleet)

[2021-08-18 07:35] elasticmachine commented on #109047
Pinging @elastic/fleet (Feature:EPM)

[2021-08-18 08:02] ruflin commented on #108888
It seems this should have been fixed in 7.14.0? Here is the output:

[code]

[2021-08-18 08:18] walterra opened #109054 "Use the same unit for the range selected as in the x-axis (right now it's ms)"

[2021-08-18 08:20] #109054 closed

[2021-08-18 08:28] mshustov opened #109055 "Add alerting for Core APM metrics"
Core tracks a few basic APM metrics: `preboot`, `setup` and `start` lifecycle duration.
We are going to add a few more https://github.com/elastic/kibana/issues/78869
Even though we collect these metrics on CI only, it already might be used to notify the Core team whenever metrics are out of reasonable limits. Yesterday, we found out that `setup` lifecycle duration has grown twice in 30 days and ca

[2021-08-18 08:29] elasticmachine commented on #109055
Pinging @elastic/kibana-core (Team:Core)

[2021-08-18 08:30] afharo commented on #109055
should we leverage ML Anomaly alerts for this instead of fixed thresholds?

[2021-08-18 08:37] amolnater-qasource opened #109057 "[Self-managed][Fleet]: Checkboxes for agents not available on Agents tab."
**Kibana version:** 7.15.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** AWS Windows Server 2019, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana self-managed environment should be available.
2. A Fleet Server agent must be installed with Default Fleet Server policy having Fleet Server integration.

**Steps to reproduce:**
1. Login to Kiban

[2021-08-18 08:37] elasticmachine commented on #109057
Pinging @elastic/fleet (Team:Fleet)

[2021-08-18 08:37] amolnater-qasource commented on #109057
@manishgupta-qasource Please review.

[2021-08-18 08:39] elasticmachine commented on #108981
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 08:40] elasticmachine commented on #108984
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 08:40] elasticmachine commented on #108987
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 08:40] elasticmachine commented on #108988
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 08:41] elasticmachine commented on #108990
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 08:50] afharo opened #109059 "Improve `server_preboot` execution time"
As a follow up to #108950 where we noticed that `server_setup` doubled its execution time in the past 30 days, affecting Kibana's total startup time, we now want to pay attention to any improvements we can apply to `server_preboot` to reduce the consistent 12s it takes to run:
![image](https://user-images.githubusercontent.com/5469006/129867580-e0a006e1-f172-409c-b136-e1be11d8c0a9.png)

After #108

[2021-08-18 08:50] elasticmachine commented on #109059
Pinging @elastic/kibana-core (Team:Core)

[2021-08-18 08:51] elasticmachine commented on #109030
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 08:52] MadameSheema commented on #109030
@karanbirsingh-qasource please validate the following fix when BC1 is available. Thanks.

[2021-08-18 08:54] cachedout commented on #107300
Update on this one. We're waiting for new nightly snapshots to be produced [which include the changes from this PR](https://github.com/elastic/kibana/pull/108952) and hoping that those resolve this issue.

[2021-08-18 08:55] afharo opened #109060 "Improve `server_start` execution time"
As a follow up to #108950 where we noticed that `server_setup` doubled its execution time in the past 30 days, affecting Kibana's total startup time, we now want to pay attention to any improvements we can apply to `server_start` to reduce the consistent 5s it takes to run:
![image](https://user-images.githubusercontent.com/5469006/129868407-a238db35-9434-4a5d-8cfd-29a963b2f350.png)

After #108950

[2021-08-18 08:55] elasticmachine commented on #109038
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-18 08:55] elasticmachine commented on #109060
Pinging @elastic/kibana-core (Team:Core)

[2021-08-18 08:57] formgeist opened #109061 "[APM] Failed transaction correlations UX polish"
# Summary

In parallel to the Latency correlations content, there are a number of inconsistencies in the layout and different states shown in the Failed transaction correlations. I've gathered a number of issues below that we'd want to address before release.

# Tasks

- [x] Show the same empty state in the correlations table
<img width="1673" alt="CleanShot 2021-08-18 at 10 12 06@2x" src="https:/

[2021-08-18 08:57] elasticmachine commented on #109061
Pinging @elastic/apm-ui (Team:apm)

[2021-08-18 08:57] elasticmachine commented on #109061
Pinging @elastic/ml-ui (:ml)

[2021-08-18 09:03] stratoula commented on #107854
I will close it for now as it has failed only once and it could potentially be fixed by https://github.com/elastic/kibana/pull/108653

[2021-08-18 09:17] karanbirsingh-qasource commented on #109030
ok @MadameSheema

[2021-08-18 09:23] weltenwort commented on #109015
The terminology was probably derived from the alerting frameworks parameter name to the `alertInstanceFactory`. What would the effort be? How difficult would it be to do in a release after 7.15?

[2021-08-18 09:28] machadoum commented on #108166
It shouldn't happen anymore since "All others" was removed from the graph and alert count table. Issue: https://github.com/elastic/kibana/issues/108841.

[2021-08-18 09:28] #108166 closed

[2021-08-18 09:32] sqren opened #109065 "Shortcut for editing "Commonly used""
Kibana's timepicker has a section called "Commonly used":

<img src="https://user-images.githubusercontent.com/209966/129873931-ba0f8631-84a1-43f7-aa26-79e5910240d3.png" width="400"/>

**Problem**
It is not obvious that it is possible to edit the time ranges in this section. Even for users who know it's possible it's cumbersome to navigate to Stack Management -> Advanced Settings and then search f

[2021-08-18 09:32] elasticmachine commented on #109065
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 09:38] mshustov commented on #109055
Why? What benefits does it add? Can it detect changes when performance metrics are degrading slowly over time? We can consider it as a future enhancement.

[2021-08-18 09:42] #108668 closed

[2021-08-18 09:44] mshustov commented on #109055
@spalger can we include these Core metrics in the performance testing scenarios you are working on https://github.com/elastic/kibana/issues/98337 ?

[2021-08-18 10:07] hop-dev commented on #108178
Been doing a bit of digging into this, will continue tomorrow after training, looks like the policy isn't being returned [here](https://github.com/elastic/kibana/blob/35f55ce262cecf1650adc12cec2d06cc44594244/x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/index.tsx#L120), the request looks sound to me but obviously something is wrong!

[2021-08-18 10:13] hop-dev commented on #108178
Ah looks like we send the wrong policy ID, in my deployment:

[code]

[2021-08-18 10:21] laurentiubanica commented on #100470
Hi,
It seems that this issue was from the memory of the machine.
Thank you for your help and time !

[2021-08-18 10:25] manishgupta-qasource commented on #109057
Reviewed & assigned to @jen-huang

[2021-08-18 10:25] gmmorris commented on #107898
I assuming these fields are needed on every connector that connects via OAuth.
Is there a way for us to abstract this our of the _specific_ Saved Object schema?
I\m not saying this should necessarily be stored in a separate SO, but even if we're extending the SO of the Email Connector, it might make sense to abstract this addition into some kind of _decorator_ so that we can reuse it for other con

[2021-08-18 10:41] elasticmachine commented on #109031
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 10:42] stratoula commented on #91130
I am closing it. This has failed only once so I don't consider it to be flaky

[2021-08-18 10:42] #91130 closed

[2021-08-18 10:43] stratoula commented on #91287
This has failed three times more than 5 months ago. I am closing it

[2021-08-18 10:43] #91287 closed

[2021-08-18 10:48] joshdover opened #109072 "Instrument Fleet's setup APIs with APM spans"
Related to https://github.com/elastic/dev/issues/1443

We'd like to keep an eye on the performance of Fleet's setup sequence to ensure that we do not degrade the performance of this over time and to help spot any performance optimizations that may be available today. The performance of this process is important to ensure a smooth onboarding process for new users.

Similar to #109055, we'd like to

[2021-08-18 10:48] elasticmachine commented on #109072
Pinging @elastic/fleet (Team:Fleet)

[2021-08-18 10:51] prashant407 commented on #107359
any updates?

[2021-08-18 10:57] joshdover commented on #109017
I ran this 42 times on the flaky test runner and wasn't able to replicate the issue 😢

[2021-08-18 10:57] rudolf commented on #108993
I think the [status service](https://github.com/elastic/kibana/blob/master/rfcs/text/0010_service_status.md) is the correct tool to use here. That way fleet doesn't block other plugins from finishing, or even Kibana from responding to requests, but Cloud has an API that can be used to know when it's safe to proceed with the hosted Elastic Agent upgrade.

I don't know the details well enough to say

[2021-08-18 11:14] pgayvallet commented on #108972
To summarize our previous sync discussions:

- We ideally wanted to inject the context provider at the root level of Kibana's react tree to be consumable by all applications, however due to how the agnostic applications mounting works, this will have to be done at the application level, as core's react app and the underlying application react app are distinct trees (using distinct `reactDOM.render

[2021-08-18 11:16] #108041 closed

[2021-08-18 11:22] mgiota opened #109075 "[RAC][Observability] Use simpler alert severity level mapping"
### :memo: Summary

In order to comply with the Alerts-as-Data-Schema-Fields, we are removing `kibana.alert.severity.level` and `kibana.alert.severity.value` and keep only `kibana.alert.severity`.

### Acceptance criteria
- `ALERT_SEVERITY_VALUE` and all usages are removed for now
- `ALERT_SEVERITY_LEVEL` is renamed to `ALERT_SEVERITY` and it will be a keyword field called `kibana.alert.severity`

[2021-08-18 11:23] elasticmachine commented on #109075
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-18 11:32] mgiota opened #109076 "[RAC][Observability] Rename Last triggered label in the alerts flyout"
### 📝 Summary

The `Last updated` label in the Observability alerts page should be updated in the Flyout as well.

### ✔️ Acceptance criteria
- Rename `Triggered` label in the Alerts flyout to `Last updated`

[2021-08-18 11:41] #108119 closed

[2021-08-18 11:41] #108177 closed

[2021-08-18 11:44] #107909 closed

[2021-08-18 11:44] #108069 closed

[2021-08-18 11:45] #108841 closed

[2021-08-18 11:50] machadoum commented on #108283
Missing bucket was removed here: https://github.com/elastic/kibana/issues/108841

[2021-08-18 11:55] muskangulati-qasource opened #109081 "[Security Solution] Typo in naming Image load for policy logs under Endpoint Tab"
**Description:**
Typo in naming Image load for policy logs under Endpoint Tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alert should be generated

**Steps to Reproduce:**
1. Navigate to the Endpoint tab.
2. Click on the status of the policy
3. Observe the logs for 'Behavior Protection' and 'Events' logs

**Impacted Test case:**

[2021-08-18 11:55] elasticmachine commented on #109081
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-18 11:55] elasticmachine commented on #109081
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-18 11:59] paul-tavares commented on #109081
@muskangulati-qasource can you transfer this over to the Endpoint team?
The message displayed under here is provided by the endpoint as part of the Policy Response document that they stream up to elasticsearch. The UI is just displaying it.

Thank you.

[2021-08-18 12:00] muskangulati-qasource commented on #109081
Sure @paul-tavares

[2021-08-18 12:07] vipulsrivastava-qasource commented on #107129
Hi @kevinlog

Today we have done exploratory on 8.0.0 Snapshot build and found that this issue is also occurring as well as "pick start and end date" blinks for few times.

Please found below build and testing details.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD: 45390
COMMIT: b1f38f459f9b5f259e9f99ad9d02f67e90505830
ARTIFACT: https://artifacts-api.elastic.co/v1/search/8.0.0-SNAPSHOT

**Scre

[2021-08-18 12:08] elasticmachine commented on #109065
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 12:09] elasticmachine commented on #109041
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-18 12:09] elasticmachine commented on #109041
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 12:09] elasticmachine commented on #109041
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 12:10] mgiota opened #109084 "[RAC][Observability active status jumps on hover"
### 📝 Summary
Relates to https://github.com/elastic/kibana/issues/108041 and https://github.com/elastic/kibana/issues/108119

When user hovers on the Alert Status column, the Active label jumps

https://user-images.githubusercontent.com/2852703/129898449-577d871e-13a5-410c-8e21-f50da0f83732.mov

### ✔️ Acceptance criteria
Active label shouldn't jump when user hovers on the Alert status cell

[2021-08-18 12:10] elasticmachine commented on #109084
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-18 12:26] elasticmachine commented on #109064
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-18 12:27] #108622 closed

[2021-08-18 12:28] elasticmachine commented on #108829
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-18 12:31] ppisljar opened #109089 "add version to urls"
A utility from `kibana_utils` plugin should be able to set version `_v` parameter in the URL to the latest Kibana version.

[2021-08-18 12:31] elasticmachine commented on #109089
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 12:33] ppisljar opened #109092 "[url service] redirect endpoint should encode/compress all state"
URL Service should encode or compress all state it uses with redirect endpoint so:
- the provided redirect url is not human readable
- we can put larger states in the url

[2021-08-18 12:33] elasticmachine commented on #109092
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 12:35] formgeist opened #109093 "[APM] Correlations: Show impact levels (high, medium, low) as colored badges indicating their severity"
# Summary

Proposing that we convert the current impact level labels to colored `EuiBadge`'s for each impact level; high, medium and low.

- High: `danger`
- Medium: `warning`
- Low: `default`

![correlation-impact-level-badges](https://user-images.githubusercontent.com/4104278/129898754-3524963f-ea2c-4d3d-af0f-f4dd8c044ffe.png)

[2021-08-18 12:35] elasticmachine commented on #109093
Pinging @elastic/apm-ui (Team:apm)

[2021-08-18 12:35] elasticmachine commented on #109093
Pinging @elastic/ml-ui (:ml)

[2021-08-18 12:39] pmuellr opened #109095 "[task manager] spammy generic "performance issue" message is too aggressive"
**Kibana version:** 7.14.0

Recently observed in a 7.14.0 deployment:

<details>
<summary>looping unavailable / degraded messages</summary>

[code]

</details>

I think what's going on is this:

- task manager detects a problem - there is one in this particular case - I believe the task manager drift was getting high for this deployment, but there may have been some other issues (there should be a

[2021-08-18 12:40] elasticmachine commented on #109095
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-18 12:44] sqren commented on #109093
Looks great! The EuiBadges make the impact values stand out really well.

[2021-08-18 12:48] ppisljar opened #109098 "[url service] improve locators api"
locators should expose `getRedirectUrl` which should return the url to our `redirect app` (with compressed state)
locators should also mark `getUrl` method as deprecated as it looses `state` portion of `KibanaLocation` and all consumers should be adviced to use `getRedirectUrl` instead.

[2021-08-18 12:48] elasticmachine commented on #109098
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 12:57] marius-dr opened #109100 "[Monitoring] Opening Monitoring app on non-CCS cluster triggers CCS error"
**Kibana version:** 7.15.0 Snapshot

**Describe the bug:**  If you open the Monitoring app on a default cluster(this includes CCS not being configured) (basically no changes in the yml files from the downloaded packages), the following error shows up:
[code]
This also leaves the monitoring page stuck infinitely on "Loading".

**Steps to reproduce:**
1. Get the ES and Kibana artifacts.
2. Unzip and

[2021-08-18 12:57] elasticmachine commented on #109100
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-18 13:14] legrego commented on #109011
Thanks for the report @LeeDr. I agree with your assessment that we should call `forceLogout` before attempting to delete the user/role.

As for the crash, it's hard to tell where that is coming from. Based on the logs, the root cause appears to be coming from a privileges check, which is likely happening within `x-pack/plugins/security/server/authorization/check_privileges.ts`. We could add try/ca

[2021-08-18 13:27] LeeDr commented on #109011
Is this why CI doesn't hit this and passes?  I think CI builds Kibana and runs it like production, vs the way I started in dev mode.

[2021-08-18 13:30] graphaelli commented on #107565
FWIW I did try to update_by_query values for `system.cpu.user.pct, system.cpu.system.pct, system.cpu.cores` but the charts still didn't show anything, time to pass this off to apm ui team to work with you on this @simianhacker

[2021-08-18 13:30] nchaulet commented on #108888
@ruflin  something really weird happen with your deployment I just tested a this in cloud and the migration seems to add the `install_version` and `install_source` correctly. It is a 7.14 Snapshot deployment maybe you can give the deployment ID I would like to dig in the logs

[2021-08-18 13:43] cauemarcondes opened #109102 "[APM] Rum service details doesn't show any data"
This is a regression of https://github.com/elastic/kibana/pull/108933.

On that PR I added a filter to return only documents that contains `service.runtime.name`, but the RUM doesn't have this field defined.

TODO:
- Remove the filter

[2021-08-18 13:43] elasticmachine commented on #109102
Pinging @elastic/apm-ui (Team:apm)

[2021-08-18 13:47] cauemarcondes opened #109103 "[APM] Sparkline labels are overlaying on top of each other"
![Screen Shot 2021-08-18 at 09.45.15.png](https://zube.io/files/elastic/21b0e2f555c90ff463331a52a1c3b353-screen-shot-2021-08-18-at-09-45-15.png)

[2021-08-18 13:47] elasticmachine commented on #109103
Pinging @elastic/apm-ui (Team:apm)

[2021-08-18 13:54] formgeist commented on #109103
@cauemarcondes Yeah, noticed this too - I think the column size doesn't account for the increase SparkPlot size, so we need to increase the default column width of latency + throughput (failed transaction rate is fine) to `180px` instead of `160px`. That should solve it for most cases unless you have a more dynamic solution?

[2021-08-18 13:56] kobelb commented on #108993
Users have been conditioned to expect that Kibana is fully upgraded as soon as the UI begins serving HTTP traffic and no longer responding with a `503`.  I don't think we should violate this expectation and now tell them that they have to hit an additional status endpoint to see if Kibana is upgraded. If there's a way to use the status service to prevent Kibana from serving HTTP traffic, that's gr

[2021-08-18 14:00] sqren opened #109104 "[APM] Remove hardcoded values for data streams"
Related: https://github.com/elastic/kibana/issues/88329

Data streams are currently hardcoded in:

https://github.com/elastic/kibana/blob/8f7e10aaba344e28be2622b85441be4cff297717/x-pack/plugins/apm/server/index.ts#L103-L122

This should be removed to make it possible to specify data streams with name spaces

[2021-08-18 14:11] mshustov commented on #102704
It's [1] supplied with a special URL. The URL should be provided via the config file or an env var, not hardcoded in the Kibana sources. So I don't believe it requires an additional mode.

[2021-08-18 14:14] timroes opened #109105 "Document summary renders weirdly with images"
When you have an image field formatter rendering images for field values and use Discover with a "Document" column, this will render weirdly, since the text will now align with the bottom of the image, i.e. you will even only see it when the column if focused and the text thus visible. Though it might change, that you won't even see it in those cases if we set overflow:hidden in datagrid (see http

[2021-08-18 14:14] elasticmachine commented on #109105
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 14:15] ppisljar opened #109106 "remove `any` from embeddables and uiAction public APIs"
Embeddable and uiActions public contracts have some things typed as `any`. Lets remove all such occurrences and try to add documentation when it makes sense at the same time.

[2021-08-18 14:15] elasticmachine commented on #109106
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 14:17] jbudz commented on #109064
Can you share a little bit more info about your setup?  Are you using the default docker image?

[2021-08-18 14:21] mshustov commented on #101907
dateFormat[:*] are registered by core, and used in several other plugins
visualize:enableLabs is registered by visualizations, but it's also used in visualize and timelion
defaultRoute is registered by core, and used by kibanaReact and spaces

I don't the cases don't exist, but it doesn't mean they are valid. All the cross-plugin interactions should be performed via an explicit contract. All other

[2021-08-18 14:22] afharo commented on #109059
After a quick research, I noticed this is the method where the preboot phase spends most of its time:
https://github.com/elastic/kibana/blob/8f7e10aaba344e28be2622b85441be4cff297717/src/core/server/plugins/plugins_service.ts#L118

It's going through all the plugins and generating their valid config with the provided schema. Each plugin takes, on average, 100ms in this process, and Kibana currently

[2021-08-18 14:23] timroes commented on #109105
Duplicate of https://github.com/elastic/kibana/issues/106852 :man_facepalming:

[2021-08-18 14:23] #109105 closed

[2021-08-18 14:27] timroes commented on #88426
Going to close this, since we've introduced the fields API across Discover and will track other issues that might come up individually.

[2021-08-18 14:27] #88426 closed

[2021-08-18 14:29] mshustov commented on #109059
@afharo did you test it in `dev` mode? If so, IIRC Kibana spent most of the time compiling plugins code with `@babel/register`

[2021-08-18 14:33] timroes opened #109107 "[Discover] Allow switching height of rows in data grid"
We want to give the user a choice about their row heights in data grid. They should be able to chose between 1 line, 3 lines, 5 lines, auto height.

The default should be 1 line. This setting should be stored with the saved search saved object.

![display-dg](https://user-images.githubusercontent.com/877229/129917199-6fd2d387-eeab-478b-bed3-f87cdf9c6e05.gif)

Blocked on https://github.com/elastic/

[2021-08-18 14:33] elasticmachine commented on #109107
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 14:35] #107719 closed

[2021-08-18 14:37] #96622 closed

[2021-08-18 14:42] th0ger commented on #90833
I can confirm this bug.

[2021-08-18 14:55] semd opened #109109 "[RAC][Observability] Alert selection enabled when no capabilities to do actions"
**Describe the bug:**

All alerts in the table have the checkbox enabled.
Alerts with no save permission should not have the checkbox enabled, the user can not do any write action to them.
The count number in the  "Select all X alerts" button should also reflect only updatable alerts.

https://user-images.githubusercontent.com/17747913/129920961-2c178f2d-44ce-4627-812a-3dfe74b5a3c9.mov

**Steps to

[2021-08-18 14:55] elasticmachine commented on #109109
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 14:55] elasticmachine commented on #109109
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-18 14:58] timroes opened #109110 "[Discover] Accessibility audit Data Grid in Discover"
We should do a full accessibility audit of the data grid implementation in Discover.

[Open EUI a11y issues for data grid](https://github.com/elastic/eui/issues?q=is%3Aopen+label%3Aaccessibility+label%3A%22data+grid%22)

[2021-08-18 14:58] elasticmachine commented on #109110
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 15:01] jen-huang commented on #109057
@amolnater-qasource What is the licensing level on your instance? Bulk actions is a Gold+ feature.

[2021-08-18 15:04] #106580 closed

[2021-08-18 15:15] MadameSheema commented on #108244
As part of this ticket, we need to remember to unskip the following Cypress test: `Creates an exception and deletes it` in `x-pack/plugins/security_solution/cypress/integration/exceptions/from_alert.spec.ts` as soon as the issue is fixed.

[2021-08-18 15:17] mshustov commented on #108993
I'm not familiar with the full Fleet setup, so my question is whether Fleet can leverage [preboot](https://github.com/elastic/kibana/pull/99318) lifecycle It's meant to be used to prepare an environment before the Kibana server starts. However, the Core API available at this stage is quite limited.

It doesn't sound like a resilient approach: a plugin might go to a `red` state after `start`. So th

[2021-08-18 15:20] KOTungseth opened #109115 "Update Lens empty state UI copy"
<img width="420" alt="Screen Shot 2021-08-18 at 10 07 36 AM" src="https://user-images.githubusercontent.com/38990715/129923600-bb7d8a29-a8ff-4dd8-a09a-0b123af757ba.png">

Since Lens is no longer considered new, change to `Lens is the recommended editor for creating visualizations`.

<img width="258" alt="Screen Shot 2021-08-18 at 10 12 07 AM" src="https://user-images.githubusercontent.com/38990715

[2021-08-18 15:20] elasticmachine commented on #109115
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-18 15:22] merlixelastic commented on #109095
Customer provided new diagnostic [here](https://elastic.my.salesforce.com/sfc/p/b0000000H5KI/a/4M000000RmRl/Q337J49j3suRAwLSzu8G.aDcTS2pygdE6wKB0KSlbPk)

We also have need Kibana log [here](https://elastic.my.salesforce.com/sfc/p/b0000000H5KI/a/4M000000RmRq/lkQlgrbqH.AEA5ELYkdEVYfhv8rz5vmMfc5EOhYsZ3M)

I checked Kibana logs and I notice we don't see anymore `Kibana is now degraded (was unavailable

[2021-08-18 15:25] kobelb commented on #108993
Fleet uses saved-objects to know what packages are currently installed. During the reboot lifecycle, can Fleet use the saved-objects subsystem?

What isn't a resilient approach? Using the status service, or adding a new extension point?

[2021-08-18 15:41] mshustov commented on #108993
Sorry, for being unclear: expect that all the Kibana components are fully upgraded and functioning. So, I tried to support @rudolf's suggestion to use `status` endpoint as an indicator of `fleet` readiness.

You are right, it's not the case. Core was going to respond with `503` when a user requests an endpoint registered by a plugin with `red` status, but it shouldn't affect all the HTTP endpoints

[2021-08-18 15:41] yiyangliu9286 opened #109121 "[Cases] Add Lens markdown plugin followup UX changes"
## Summary

Following up with the PR [#96703](https://github.com/elastic/kibana/pull/96703), this is the updated UX/UI adjustments that are aligned with EUI components / guidelines. This issue also provides other product related information from users perceptive.

**User story & problem statement** I am a security analyst. I am trying to open up a case for the alert I saw and wanted to triage. But

[2021-08-18 15:45] FreerideTheWorld commented on #77072
Wondering the same things myself. I've got a 37" monitor, screen real estate isnt a problem for me and being able to dock the navigation allows me to skip a UI step.

[2021-08-18 15:46] pgayvallet commented on #106863
Yea, the full migration is only triggered when, at startup, we detect that the current aliases are not pointing to the expected version.

If this is the case, we will only be performing the 'outdated doc search' steps of the migration, which is here to (in theory) support reenabling plugins that were previously disabled during the initial migration. Note that this doesn't really work anymore, as t

[2021-08-18 15:48] pgayvallet commented on #107641
Should this be added to https://github.com/elastic/kibana/issues/104083?

[2021-08-18 16:01] #108162 closed

[2021-08-18 16:01] #109076 closed

[2021-08-18 16:01] phillipb opened #109124 "[Stack Monitoring] Remove legacy shim completely"
Switch over to the Kibana way of doing things and remove the shim class and all of its usages.

https://github.com/elastic/kibana/blob/f589c2fc29c8d3b79b728e6b088a21e551203fd5/x-pack/plugins/monitoring/public/legacy_shims.ts

[2021-08-18 16:01] elasticmachine commented on #109124
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-18 16:03] kobelb commented on #108993
No apology is needed :) However, our system-administrators and orchestration software needs a way to know whether or not an upgrade was successful, or whether a rollback is required. I quite frankly don't see how this is possible with the changes discussed in https://github.com/elastic/kibana/issues/96626. I think this is going to be a super frustrating user experience if we give our users the imp

[2021-08-18 16:07] elasticmachine commented on #108942
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 16:11] legrego commented on #109011
Yes I suspect that is why CI doesn't hit this.

We have an open issue to crash production builds when this happens, but that hasn't gotten any traction and isn't likely to happen soon: https://github.com/elastic/kibana/issues/77469

[2021-08-18 16:13] XavierM commented on #108921
the scrolling is coming from `.euiDataGridRowCell__popover`

![image](https://user-images.githubusercontent.com/189600/129933623-d8dd01da-891d-451d-86d1-a0a68e3e1949.png)

[2021-08-18 16:17] pgayvallet commented on #108993
So, if I understand correctly, the need would be to have a way to register arbitrary 'migration' functions that would block the Kibana server from effectively starting until they resolve, while, at the same time, having access to the core services such as savedObjects inside the executed handler?

[2021-08-18 16:18] kobelb commented on #108993
Correct.

[2021-08-18 16:18] XavierM commented on #108917
for 7.15, we will fix the broken button placement `Exit Full screen` and the rest are already existing issue that we will take care of in 7.16

[2021-08-18 16:18] mshustov commented on #85782
Another developer asked me the other day why VSCode was slow. After excluding `**/target/**` and `bazel-*/**`, the code editor responsiveness is back to normal. Since these settings are project-specific, my +1 to keep them in the Kibana project repo.

[2021-08-18 16:19] elasticmachine commented on #108914
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 16:19] marshallmain commented on #109015
For this release, the effort would be minimal - it should only require updating the field name constant and a couple of tests that hardcode `kibana.alert.id`. In a future release, the current field name would already have been exposed to users so we should continue to support it. Most likely that would mean adding the new field and the appropriate aliases to the old and new index mappings.

[2021-08-18 16:19] XavierM commented on #108914
@machadoum, just add the attribute `isDraggable: false`

[2021-08-18 16:28] XavierM commented on #108896
I think we should find a global solution because it  is also happening in discover too. Maybe when the flyout start to open it can check if it is coming from a full screen and not apply the top height

![image](https://user-images.githubusercontent.com/189600/129936020-80b82049-73a3-4f8f-8d1a-ffac13248443.png)

[2021-08-18 16:32] pgayvallet commented on #109017
I guess 42 is not the answer to everything, after all 😄

[2021-08-18 16:33] #108721 closed

[2021-08-18 16:35] XavierM commented on #108896
In the mean time, we can check the css to see if this class  `euiDataGrid--fullScreen` is on and overwrite the class `.kbnBody.euiBody--headerIsFixed .euiFlyout` to not apply the top and height

[2021-08-18 16:48] MadameSheema commented on #108331
@machadoum can you include the fix of this in the ones you are doing? thanks :)

[2021-08-18 16:50] MadameSheema commented on #106663
Closing since is working as expected.

[2021-08-18 16:50] #106663 closed

[2021-08-18 16:59] elasticmachine commented on #108909
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-18 17:01] #108609 closed

[2021-08-18 17:03] pgayvallet commented on #101295
For config key, If I remember correctly, the main reason we throw an error in case of non-valid configuration key is to avoid potential typos during user configuration. E.g `elasticsearch.hossts=myendpoint`. Having the server not throw in such scenarios could be very dangerous. That's way more impactful than just for ui settings, so I don't think we wanna change this behavior.

[2021-08-18 17:07] pgayvallet commented on #101295
One could argue that `uiSetting.overrides` is the configuration key, and that it contains a single value, the map of overrides, so it would be acceptable to have a different behavior.

But honestly, I would be fine either way. My main concern about throwing is, as Tina said, the risk when settings got deleted and the overrides still present in the config file, OTOH that feature is not even documen

[2021-08-18 17:18] #106885 closed

[2021-08-18 17:18] #108388 closed

[2021-08-18 17:21] snide commented on #108896
Agreed about making it global. I made discover an issue for it as well when I made this one. https://github.com/elastic/kibana/issues/108681

[2021-08-18 17:26] #108983 closed

[2021-08-18 17:31] jen-huang commented on #106086
Per @simitt, performance tuning settings are no longer a priority for APM for 7.16. Recent discussions have also concluded that settings like these should be attached to outputs, rather than living on the agent policy as separate settings. Therefore I'm closing this as it is no longer needed.

[2021-08-18 17:31] #106086 closed

[2021-08-18 17:39] jen-huang commented on #90414
Closing in favor of #104983.

[2021-08-18 17:39] #90414 closed

[2021-08-18 17:48] jen-huang commented on #106378
I'm going to close this in favor of #107546, as resolving that will provide a general solution/UX pattern across our search UIs.

[2021-08-18 17:48] #106378 closed

[2021-08-18 17:49] sqren commented on #86108
Replaced by https://github.com/elastic/kibana/issues/103785

[2021-08-18 17:49] #86108 closed

[2021-08-18 18:01] chrisronline opened #109151 "[Monitoring] Re-evaluate how `alertInstanceId` is used in rules"
When we first created Kibana rules in stack monitoring, we were under the assumption that we could create unique `alertInstanceIds` to maintain separate throttle periods for a single alert firing under separate circumstances (such as a disk usage alert firing on unique throttle periods based on the list of nodes affected). This does not work well with the fact that [`alertInstanceIds` that do not

[2021-08-18 18:06] #103098 closed

[2021-08-18 18:07] smith commented on #84803
Closing. We're now using throughput/latency/failure rate pretty consistently.

[2021-08-18 18:07] #84803 closed

[2021-08-18 18:11] kertal commented on #107253
sorry for the late reply @michaelhyatt , I couldn't reproduce, but have a theory. could you provide the '_source' of the document that misses fields? could get it by `GET /{index}/_doc/{id}`, this would help to reproduce

[2021-08-18 18:11] elasticmachine commented on #108137
Pinging @elastic/fleet (Team:Fleet)

[2021-08-18 18:26] dplumlee commented on #109030
I don't believe this has been fixed yet unless there's a been a PR submitted I don't know about, we still have the type guards in master

[2021-08-18 18:28] dplumlee commented on #108893
Fixed by https://github.com/elastic/kibana/pull/107972

[2021-08-18 18:28] Mpdreamz opened #109153 "[Feature Request] Ability to edit Kibana Index Pattern / Data Views"
**Describe the feature:**

Today users can not edit Kibana Index Patterns (Data Views), in effect requiring updates to come from deletion and recreation.

**Describe a specific use case for the feature:**

Through the REST API applications can create Data Views with logical id's, in some cases allowing the users to update these would allow for more native entity management in Kibana.

E.g APM coul

[2021-08-18 18:29] ghudgins commented on #109115
++ thank you @KOTungseth

do you think we should also add an `s` to `visualization`? I was debating this with myself the other day...

[2021-08-18 18:30] XavierM commented on #108894
@snide I just want to make sure that I understand you, I agree that we need to pass the schema and we do have the schema so we should just do it. However, I will like to make sure we are on the same page because we are only fetching the data for page 1 and go fetch again when we go to page 2. Therefore what it is your expectation when you will sort on severity to run a new query or just sorting th

[2021-08-18 18:34] stacey-gammon opened #109154 "Unused chrome functionality"
I was investigating an example plugin that would show how to use some of the chrome services and discovered a few that are unused (`setBrand`, `getBrand$`, `addApplicationClass`, `removeApplicationClass`, `setAppTitle`).

I think we should either consciously decide this functionality is worth the maintenance cost, and if so, add documentation, examples, and tests around their usage, or remove them

[2021-08-18 18:34] elasticmachine commented on #109154
Pinging @elastic/kibana-core (Team:Core)

[2021-08-18 18:44] mgiota commented on #108493
Relates to https://github.com/elastic/kibana/issues/106208

[2021-08-18 18:48] dplumlee commented on #109038
problem has been fixed by @marshallmain with this pr https://github.com/elastic/kibana/pull/108922. Just need to unskip the tests now

[2021-08-18 19:03] snide commented on #108894
@XavierM If page one has August and January dates in it. Which will sort first based upon the sorting you're using.

[2021-08-18 19:12] mattkime commented on #103496
resolved via https://github.com/elastic/elasticsearch/issues/74779

[2021-08-18 19:12] #103496 closed

[2021-08-18 19:28] legrego opened #109158 "Convert security solution -> cases sub feature to a top-level feature"
Currently, the security solution "cases" feature is a sub-feature privilege.

We would like to convert this to become a top-level feature in the 8.0 release, since this is a breaking change. This will allow us to align the Cases features for Observability and Security Solution, and allow for cases to take advantage of sub-feature privileges themselves in the future.

Tasks:
- [ ] Create new top-le

[2021-08-18 19:28] elasticmachine commented on #109158
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-18 19:28] elasticmachine commented on #109158
Pinging @elastic/kibana-security (Team:Security)

[2021-08-18 19:32] jbudz opened #109159 "[deb/rpm] Deprecation warnings caused by legacy logger"
OS Packages make use of the legacy logger by setting `logging.dest` - https://github.com/elastic/kibana/blob/dd9dd527187c3a1bafcfabb6db9af4057f9cd481/src/dev/build/tasks/os_packages/service_templates/systemd/usr/lib/systemd/system/kibana.service#L18

This setting was deprecated in 7.13.0 - https://github.com/elastic/kibana/pull/94238 and causes console warnings now. Using the new logging configura

[2021-08-18 19:32] elasticmachine commented on #109159
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-18 19:42] mattkime opened #109160 "[index patterns] Index pattern management / field editor / creation flyout - index patterns => data views - user facing copy"
Update user facing copy in index pattern management, index pattern field editor, and index pattern editor (creation flyout) to read 'data view' instead of 'index pattern' where appropriate.

Addressed by
- https://github.com/elastic/kibana/pull/109576
- https://github.com/elastic/kibana/pull/109577
- https://github.com/elastic/kibana/pull/109578
- https://github.com/elastic/kibana/pull/109704

[2021-08-18 19:42] elasticmachine commented on #109160
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 19:59] MichaelMarcialis commented on #108681
@snide: I took a quick peek at this, and I believe this issue may be caused by the EUI mixin `euiHeaderAffordForFixed` in `src/global_styling/mixins/_header.scss`. This EUI mixin is being called in Kibana on line 39 of `src/core/public/rendering/_base.scss`.

Currently the mixin is applying a `top` offset to account for the headers, but doesn't currently account for situations where the `EuiDataGr

[2021-08-18 20:02] bhavyarm opened #109165 "User should be able fix wrong route configurations"
**Kibana version:** 7.15.0 snapshot

**Elasticsearch version:** 7.15.0 snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from snapshots

**Describe the bug:** If user configures the route with invalid strings - then Kibana rightly displays "Application not found

[2021-08-18 20:02] elasticmachine commented on #109165
Pinging @elastic/kibana-core (Team:Core)

[2021-08-18 20:05] cjcenizal opened #109166 "[Meta] 8.0 Kibana deprecations"
We'll use this issue to track completed Kibana deprecations, to ensure a smooth 8.0 upgrade experience.

# Creating deprecations

### Target 7.x
When creating a deprecation, target the 7.x branch with your PR. Upgrade Assistant is enabled for 7.16, but continues to be **disabled for 8.0.** UA is currently designed solely for major upgrades, not upgrades between minors.

### Use the Core Deprecatio

[2021-08-18 20:05] elasticmachine commented on #109166
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-18 20:08] ryankeairns commented on #77072
Sharing some additional context...

### Solution side navigation
One of the main drivers had to with the introduction of a new side nav for solutions. This robust, secondary navigation was needed by those areas given the depth of their individual areas of focus. With this, the decision was made to remove the docking feature in order to avoid the UX complexities of a side-by-side navigation.

<img

[2021-08-18 20:10] tsullivan opened #109167 "CSV export does not work on frozen indices."
Version: 7.13+

Steps to reproduce:
**Setup**
1. Create 15 documents of data across 3 indices
2. Discover app shows the count of 15 documents for the index pattern
3. CSV export correctly exports all 15 documents

**Freeze an index**
1. In Dev Tools, freeze one of the indices with POST /tests-001/_freeze
2. Discover now shows a count of 10 documents
3. CSV export similarly exports the same 10 docu

[2021-08-18 20:10] elasticmachine commented on #109167
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-18 20:10] elasticmachine commented on #109167
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-18 20:11] nreese commented on #81703
closed by https://github.com/pulls?q=is%3Apr+author%3Anreese+archived%3Afalse+is%3Aclosed

[2021-08-18 20:11] #81703 closed

[2021-08-18 20:13] ryankeairns commented on #108681
Lazy Ryan wonders how we handle this in Maps. They don't use a flyout but they do have a sidebar and full screen mode.

Also, I've added this to the DataGrid errata issue as something to address before setting as default.

[2021-08-18 20:15] ryankeairns commented on #85965
@timroes @kertal I've added Dave's _Full screen flyout height_ issue to the 'before setting as default' list.

[2021-08-18 20:23] alisonelizabeth opened #109168 "[Upgrade Assistant] Wrong version shown on overview page"
**Kibana version:**
7.x

**Steps to reproduce:**
1. Start up Kibana on `7.x`
2. Navigate to the Upgrade Assistant overview page. Note the text indicates the user is upgrading to 7, when it should be 8.

![ua_overview_v7](https://user-images.githubusercontent.com/5226211/129966612-b01dd146-8f39-4227-bf9b-d67f659e414c.png)

It looks like [the code](https://github.com/elastic/kibana/blob/master/x-pac

[2021-08-18 20:23] elasticmachine commented on #109168
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-18 20:23] cjcenizal commented on #81703
Thanks for updating this @nreese! Could you please update https://github.com/elastic/kibana/issues/109166?

[2021-08-18 20:29] #109075 closed

[2021-08-18 20:30] ebeahan commented on #99823
Yes, it definitely aims to solve a similar problem to what's described in #26807 (but with ingest pipelines instead of aliases).

Our approach here was to port a portion [ecs-mapper's](https://github.com/elastic/ecs-mapper) logic, which takes a specific format of CSV and creates an ingest pipeline, into a Kibana dev tool. After the ECS-mapper dev tool generates the ingest pipeline, any other inges

[2021-08-18 20:30] simianhacker commented on #109100
This works with build hash `bc1ed9cfa397f0b4267ed6e3e3688d372b87b2ba` built on `2021-08-18T16:19:56.037637097Z` but it does not work with build hash `bc278d661f0b0d72ce292aa636fbb1db96427c40` built on `2021-08-17T13:27:20.599610018Z`

[2021-08-18 20:30] FrankHassanabad opened #109169 "[Security Solutions][Detection Engine] Meta - Migration of security_solution rules to Stack Management export/import/copy"
**Describe the feature:**

As an end user (Security Platform Engineer), I want to be able to use the Stack Management UI to:

* export
* import
* copy

`security_solution` rules and all its dependencies/references. As an end user (Security Platform Engineer) my responsibilities are for the set-up and maintenance of the SIEM/security analytics platform. Part of this role as an end user includes bei

[2021-08-18 20:30] dominiqueclarke opened #109170 "[Uptime] [Exploratory View] Revert multi series PR"
Due to elastic/kibana#106394, exploratory view multi series was reverted in elastic/kibana#107647.

This issue is now closed, as the revert has gone through successfully. This issue is to track testing for Uptime test plan.

[2021-08-18 20:31] elasticmachine commented on #109170
Pinging @elastic/uptime (Team:uptime)

[2021-08-18 20:31] elasticmachine commented on #109169
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-18 20:37] chrisronline commented on #55340
Do we need this in the event log, if we can just query the saved objects for the same information? Or is there an potential issue accessing this in the event of an issue?

[2021-08-18 20:37] lukeelmers commented on #109165
AFAICT this is expected behavior: https://github.com/elastic/kibana/blob/c2f310006df2aff38db5bd8608bc76b55a73c4b4/src/core/public/chrome/chrome_service.tsx#L79-L96

But I agree it would be a better UX to show chrome in this scenario. It seems we'd either need to think of a way to rework this logic to handle the case, or take the more blunt approach of forcing chrome to visible when rendering `<App

[2021-08-18 20:38] elasticmachine commented on #109030
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-18 20:38] lukeelmers commented on #109165
(At the very least though, we should change this copy so that it doesn't suggest choosing an app from the menu)

[2021-08-18 20:39] cuff-links opened #109173 "Console Autocomplete Update for 7.15"
This issue is to track the work to add the updated console autocomplete definitions to 7.13.

[2021-08-18 20:39] elasticmachine commented on #109173
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-18 20:43] #109170 closed

[2021-08-18 20:46] #102223 closed

[2021-08-18 20:50] asnehalb opened #109177 "[Cases] Migrate Connector ID Fields to References"
Parent issue: #105677

Migrate the user actions saved object's connector_id and connector.id fields to references (https://github.com/elastic/kibana/pull/108272)

## Acceptance criteria

These tasks should not produce UI functionality difference in 7.16. So testing these changes really comes down to ensuring that existing functionality revolving around cases and the connectors for cases still work

[2021-08-18 20:50] elasticmachine commented on #109177
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-18 20:53] snide commented on #108894
Sorry. I missed your main question:

I generally think the user expectation is that it would sort not just the page but the entire set, so yes, making another query sounds about right (or using inMemory, which is likely harder)

[2021-08-18 21:52] snide commented on #108681
@MichaelMarcialis Yep. I think it's a good idea to solve it globally. If you do end up taking it on, make sure to close out https://github.com/elastic/kibana/issues/108896 which is essentially the same issue, but in security. My guess is applying the selector broadly based upon the body will work.

[2021-08-18 21:58] tsullivan commented on #109041
This seems to be about the deprecated `discover:searchFieldsFromSource` setting in Advanced Settings. This is the reason that CSV export isn't able to get the set of columns to render in the output. If you need `discover:searchFieldsFromSource` to be ON, the workaround for CSV export is to save a search in Discover where the fields you are interested in are selected as columns in the table.

[2021-08-18 21:58] #109041 closed

[2021-08-18 22:02] tsullivan commented on #69390
@timroes it sounds like it's an either/or situation on whether this is accepted as an issue we'll work on. But I agree with Peter that it looks like we actually might not need this one.

[2021-08-18 22:02] #69390 closed

[2021-08-18 22:03] nickpeihl commented on #53131
So I just ran into this and was very confused by the `failed to find message` logs. I initially assumed it was verbatim from one of my applications. I think as a user I would prefer not to see any log when the `message` field is not available.

[2021-08-18 22:10] tsullivan commented on #102271
@dokmic let's rewrite this issue and make it as a task to add **functional** tests for the job info sidebar in the management page. What do you think? That way you could combine effort with @jloleysens as he will be working on https://github.com/elastic/kibana/issues/108498, which touches code that has no functional test coverage right now.

[2021-08-18 22:15] tsullivan commented on #105868
Closed via https://github.com/elastic/kibana/issues/108118

[2021-08-18 22:15] #105868 closed

[2021-08-18 22:16] kibanamachine commented on #90536
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16373/)

[2021-08-18 22:22] #95721 closed

[2021-08-18 22:30] tsullivan commented on #100470
Glad to hear things are working out!

[2021-08-18 22:30] #100470 closed

[2021-08-18 22:54] pgayvallet commented on #89564
I agree with @afharo: I'm quite afraid of the potential long term consequences of that decision regarding the index size (and sanity/consistency) to be honest. If we do introduce such soft delete, I'd say we at least need a retention policy to be able to cleanup the index at some point.

[2021-08-18 23:02] #108888 closed

[2021-08-18 23:32] lcawl commented on #109016
Additional context: Customer was trying to figure out how to enable the pre-built ML rules in the 7.14 security app. They duplicated a rule and changed the ML job to v2_linux_anomalous_network_port_activity_ecs per the documentation in https://www.elastic.co/guide/en/security/current/alerts-ui-monitor.html. When they selected the v2_linux_anomalous_network_port_activity_ecs job they saw this warni

[2021-08-19 00:21] tsullivan commented on #106873
@liza-mae any update on this?

[2021-08-19 00:44] FrankHassanabad opened #109188 "[Saved Objects] Add ability to query during saved object migrations"
Parent meta ticket https://github.com/elastic/kibana/issues/109169

**Describe the feature:**
During Kibana migrations in some cases we need to be able to conduct an additional query to get children or other saved objects to migrate or to fix the saved object references array.

The main use case is the `exception-list` and `exception-list-agnostic` containers which both have children but those chi

[2021-08-19 00:44] elasticmachine commented on #109188
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-19 00:49] FrankHassanabad opened #109189 "[Saved Objects] Import hook/interceptor for saved object management"
Parent meta:
https://github.com/elastic/kibana/issues/109169

**Describe the feature:**
Right now within the Kibana core saved object management's `onImport`, we cannot subtract invalid data objects, we cannot do data validations, and we cannot update fields such as `updated_by`, `updated_at`. This allows end users to enter invalid data after they export data and then do an import of that invalid

[2021-08-19 00:49] elasticmachine commented on #109189
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-19 00:51] FrankHassanabad opened #109190 "[Saved Objects] Add ability to know when a onCopy happens vs onExport"
Parent Meta: https://github.com/elastic/kibana/issues/109169

**Describe the feature:**
In the existing implementation, the Kibana core `onExport` is called for both copying and for exporting saved objects. The export option for rules already removes particular fields such as apiKey, apiKeyOwner, scheduledTaskId. Export also sets the value of enabled to be false.

However, on copying a rule and it

[2021-08-19 00:51] elasticmachine commented on #109190
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-19 00:54] elasticmachine commented on #109190
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 00:54] elasticmachine commented on #109169
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 00:54] elasticmachine commented on #109189
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 00:55] elasticmachine commented on #109188
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 01:02] jen-huang commented on #108554
Instead of showing these links in the policy editor, have we considered showing them as part of the integration details page? For example maybe a `Data retention` section under the Settings tab ([screenshot](https://user-images.githubusercontent.com/1965714/129988374-3cb4284d-cca1-4d72-af47-823f2f8edeef.png)). I have a few reasons for this proposal:

1. If the user comes to the Fleet policy editor

[2021-08-19 01:02] ppf2 commented on #100291
+1 for data tables, this is what we show to end users today, which is really not helpful :)

![image](https://user-images.githubusercontent.com/7216393/129991251-e09c923f-241e-4bbf-9794-4b0a21d3a845.png)

[2021-08-19 01:21] lukeelmers commented on #109159
Using the new configuration will have no effect other than to introduce additional/duplicate logs to the same log file in the new format. It will not remove logs in the legacy format.

We decided we would not consider this a true breaking change as the legacy logs weren't removed -- although it is somewhat of a grey area (e.g. it would impact folks relying on grok patterns for parsing & ingesting

[2021-08-19 01:32] FrankHassanabad opened #109191 "[Security Solutions] Change backend routes to use savedObject.resolve with signal id's"
**Describe the feature:**

We currently are using SO id's for rules when users go to a particular route such as this one:
[code]
<img width="2109" alt="Screen Shot 2021-08-18 at 7 26 46 PM" src="https://user-images.githubusercontent.com/1151048/129993150-0d41c706-9663-4b8b-8e07-6628decf9a31.png">

This is typically activated when a user clicks on a particular rule within timeline. When a user clic

[2021-08-19 01:32] elasticmachine commented on #109191
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-19 02:25] #109103 closed

[2021-08-19 02:32] #108074 closed

[2021-08-19 03:17] michaelhyatt commented on #107253
<details><summary>Here it is</summary>

[code]
</details>

[2021-08-19 03:38] firdausa-iprogrammer commented on #109041
@tsullivan,

In the second screenshot I had actually tried adding 3 fields to my discover search however only one of those fields worked.
![error with  fields](https://user-images.githubusercontent.com/67637546/130003802-53ceffd6-7d12-4723-851d-cd64a08d91cb.jpg)

[2021-08-19 04:15] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16379/)

[2021-08-19 05:54] pgayvallet opened #109197 "Add multi-namespace capabilities to `SOR.delete` and `SOR.bulkGet`"
In https://github.com/elastic/kibana/issues/91615, we're planning on adding multi-space support to the SO management page and to the import/export feature. However to do that, there's a couple of the SO repository APIs that needs to be adapted to be multi-space compatible.

- `SOR.bulkGet`: Required for the `exportById` functionality, and for the references gathering in both mode
- `SOR.delete`: R

[2021-08-19 05:54] elasticmachine commented on #109197
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 05:54] elasticmachine commented on #109197
Pinging @elastic/kibana-security (Team:Security)

[2021-08-19 05:55] pgayvallet commented on #91615
Effectively, blocked by:
- https://github.com/elastic/kibana/issues/109197
- https://github.com/elastic/kibana/issues/99044

[2021-08-19 06:04] #105347 closed

[2021-08-19 06:04] #97538 closed

[2021-08-19 06:12] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16380/)

[2021-08-19 06:18] #103389 closed

[2021-08-19 06:20] elasticmachine commented on #109153
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-19 06:22] kertal commented on #107111
Closing since I'd recommend using other tools for that (a reverse proxy like nginx e.g.)

[2021-08-19 06:22] #107111 closed

[2021-08-19 06:23] matschaffer commented on #108713
My test section:

### Observability Overview

- [ ] Visit [Observability Overview](http://localhost:5601/app/observability/overview)
- [ ] Ensure both "Logs" and "Metrics" sections are visible and have data

### Inventory View

- [ ] Visit [Inventory View](http://localhost:5601/app/metrics/inventory)
- [ ] You should have 1 host visible, click on the host to see the overlay
- [ ] Change "Show" to

[2021-08-19 06:23] elasticmachine commented on #108733
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-19 06:33] matschaffer commented on #108713
I updated the description to use 7.15.0-SNAPSHOT rather than 7.15-SNAPSHOT. I'll assume this is the intended image.

[2021-08-19 06:34] elasticmachine commented on #109040
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-19 06:44] elasticmachine commented on #109037
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-19 07:02] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16233/)

[2021-08-19 07:16] kibanamachine commented on #90536
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16382/)

[2021-08-19 07:28] pgayvallet commented on #109154
Thanks for pointing this out. The chrome API is probably the one that was migrated from legacy as it was, meaning that some APIs can definitely no longer be used. Removing them makes sense imho.

Definitely not used, and I don't think we're going to need it anymore. I'm not even sure what this was for in the first place. I think it's safe to delete

I though this was somehow used with `coreStart.c

[2021-08-19 07:30] philippkahr commented on #100976
fixed in 7.14

[2021-08-19 07:30] #100976 closed

[2021-08-19 07:33] azasypkin opened #109202 "Migrate away from `request` package in `kibana_usage_collection` plugin"
The `request` package has been deprecated long ago: https://github.com/request/request/issues/3142. The last release was in 2018 (!!!) and new ones aren't planned (including security patches). We should do our best to get rid of this package completely as soon as we can.

It seems [`CloudService`](https://github.com/elastic/kibana/blob/ca17d931deaff7217dc7f75ae1ad6ff3be680543/src/plugins/kibana_us

[2021-08-19 07:33] elasticmachine commented on #109202
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-08-19 07:34] amolnater-qasource commented on #109057
Hi @jen-huang
Thanks for the information. We have revalidated this on changing the license to "Gold".
- We have observed that checkboxes are available in front of hostname on Agents tab with "Gold" license.

**Build details:**
[code]

**Screenshot:**
![9](https://user-images.githubusercontent.com/77374876/130019720-5575e470-5fd5-47a0-a7af-048dc85d49e7.JPG)

Hence we are **closing** this issue.
Tha

[2021-08-19 07:34] #109057 closed

[2021-08-19 07:49] kertal commented on #107253
thank you, I'm getting closer ... so it seems it works when I ingest the document without the mapping you've provided, seems APM mapping changed and there is now a dedicated mapping for span data?
![Bildschirmfoto 2021-08-19 um 09 47 32](https://user-images.githubusercontent.com/463851/130029259-49f62a5a-380d-4952-8901-4206e650fb81.png)
however, when I ingest the doc you provided, the unmapped fie

[2021-08-19 07:57] mshustov commented on #101944
@mattkime How quickly do you need to solve this problem? Should we set a deadline to decide on a preferred solution?

[2021-08-19 08:05] MadameSheema commented on #109038
@dplumlee @marshallmain I'm working to bring back cypress tests: https://github.com/elastic/kibana/pull/109129 so I can take care of it in that PR :)

[2021-08-19 08:08] mshustov commented on #109202
@azasypkin As I understand there is no deadline? Can it wait until after `v8.0` release?

[2021-08-19 08:13] sqren opened #109205 "[APM] Flaky test"
The test `read_only_user/service_overview/time_comparison.spec.ts` fails intermittently (2 out of 100 runs) with this error:

[code]

**Reproduce**
Since it only happens rarely it is necessary to run the tests many times:

[code]

[2021-08-19 08:13] elasticmachine commented on #109205
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 08:16] elasticmachine commented on #107565
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 08:16] timroes commented on #94244
@mattkime A couple of questions that are not clear to me from this issue:

1. Does the docs team do the update of all our documentation regarding index pattern wording or is this something expected to be done by the individual teams (since it just mentions: "Have each team address UI")?
2. Will the keys of the `capabilities` regarding indexPatterns also change or will we keep using `indexPattern`

[2021-08-19 08:19] michaelhyatt commented on #107253
@kertal no probs, here it is.
[export.ndjson.zip](https://github.com/elastic/kibana/files/7012838/export.ndjson.zip)

[2021-08-19 08:22] mshustov commented on #109165
I suppose you are talking about *default route*. Aren't you?

+1 if it's possible

[2021-08-19 08:27] #102327 closed

[2021-08-19 08:35] mshustov commented on #108993
No. In this case, maybe the simplest solution might be to keep `async` plugin lifecycles (they are deprecated) but create a lint rule or a runtime check that only plugins from a special allow-list can use `async` methods. We might have to adjust async lifecycle timeout as well: lifecycles have max. 30 sec to complete an operation.

Would you mind adding your concerns to #96626?

[2021-08-19 08:38] timroes commented on #85965
@ryankeairns Do you mean a general deep audit/testing of the feature or specifically an a11y audit for it? In both cases I think that sounds very good, and should be added to the list :)

[2021-08-19 08:42] rudolf commented on #108993
There's a couple of details I don't fully understand:

1. What error scenarios could cause a fleet package upgrade to failing? I think these packages create saved objects so theoretically many of the intermittent Elasticsearch errors that we're handling with migrations could come into play here too.
2. What's the impact of a fleet package upgrade failing? When a migration fails your data is in an

[2021-08-19 08:46] sqren commented on #89564
I originally asked for immutable alerts in https://github.com/elastic/kibana/issues/89116 but since that RAC happened and we agreed it was no longer necessary. I think the same is the case here.
When an alert is fired, the parent rule is persisted along with the alert by rac, and it is therefore no longer necessary to reference the original rule when creating visualisations of rules and alerts.

[2021-08-19 08:53] azasypkin commented on #109202
Yep, there is no deadline, `v8.0` sounds reasonable to me. But as usual the sooner the better and we'll need to backport this update to 7.x anyway.

[2021-08-19 09:05] gmmorris opened #109208 "Task Manager Capacity Estimation miscalculates minutes_to_drain_overdue to `null` sometimes"
**Kibana version:** 7.14

When there are no `overdue` tasks in Task Manager, the `minutes_to_drain_overdue` field in `capacity_estimation` is `null`, but it should be `0`.

<details>
  <summary>Task Manager stats with `capacity_estimation` of `null` </summary>

[code]
</details>

[2021-08-19 09:05] elasticmachine commented on #109208
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-19 09:17] sorenlouv opened #109209 "[APM] Support for message queues"
## TODO:
 - [x] 1. Add kafka and other messaging backends to be displayed on the service map (global and service-specific)
 - [ ] 2. Add kafka and other messaging backends to be displayed on the service dependencies list
 - [ ] 3. Add kafka and other messaging backends to be displayed on the global backends list
 - [ ] [#241608](https://github.com/elastic/kibana/issues/241608)

## Sample data
A sa

[2021-08-19 09:18] elasticmachine commented on #109209
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 09:20] rudolf commented on #109188
We explored this in https://github.com/elastic/kibana/issues/34996#issuecomment-526547176 which also lists some of the complexities/pitfalls.

[2021-08-19 09:20] pgayvallet commented on #109188
This seems very similar to https://github.com/elastic/kibana/issues/34996.

Querying (against the target index) during the migration is not really doable, as all the objects will not be present when migrating a given one, which is why the approach we thought about was to be able to generate a pre-migration context from the source index before performing the migration, to allow migration function t

[2021-08-19 09:20] mshustov commented on #40768
I'm okay closing it. I will create separate issues for items that don't have ones.

[2021-08-19 09:28] zhujunjieit commented on #109064
Used image url is ：https://hub.docker.com/layers/kibana/library/kibana/7.14.0/images/sha256-4826c5665c879272cb0fedb4e654d45dc16666b4f8df9c0850c511166acfb342?context=explore
System: centos7.9
OS/ARCH: linux/arm64/v8

[2021-08-19 09:35] pgayvallet commented on #109190
As discussed, adding a `purpose` option to the exporter's `exportByTypes` and `exportByObjects` APIs, and then re-expose them it in the export context provided to the type owners via `SavedObjectsExportTransformContext`

[2021-08-19 09:37] karanbirsingh-qasource commented on #98283
Bug Conversion:

- Created **01** test-cases for this issue.
     - [C149943](https://elastic.testrail.io/index.php?/cases/view/149943)

[2021-08-19 09:40] karanbirsingh-qasource commented on #104371
**Bug Conversion:**

**01** Test-Case updated
- [C22490](https://elastic.testrail.io/index.php?/cases/view/22490)

[2021-08-19 09:47] vladefanov opened #109213 "Add feature to start line visualization where all series are hidden or add button to hide all series by one click."
**Describe the feature:**
I want to be able to hide all series(fields that I want to visualize) on line/bar visualization. It can be button to hide all series and after I can turn on specific series. Also the visualization can start with all series hidden.
**Describe a specific use case for the feature:**
I have line visualization with 40 fields. I want see only 1-3 fields at once. It's a problem

[2021-08-19 10:14] estermv opened #109216 "[Stack Monitoring] Add react app initial version"
Add an initial react app that will be the starting point for the Angular removal. The react app will be rendered under a feature toggle

Acceptance criteria
* When the feature toggle is true, render a react app with the loading page
* When the feature toggle is off, everything should work as before.

[2021-08-19 10:14] elasticmachine commented on #109216
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-19 10:20] elasticmachine commented on #109213
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-19 10:21] MadameSheema commented on #100259
@deepikakeshav-qasource please check the status of it when the first BC arrives, thanks

[2021-08-19 10:26] walterra opened #109220 "[APM] Latency correlations 7.16 meta issue"
Meta issue detailing improvements for 7.16 to the Latency correlations feature added in 7.14 in elastic/kibana#99905.
Follow up to 7.15 elastic/kibana#106381.

### Must have

### Should have

- [x] Display alternate values - If AMEX is correlated, what other values exist as payment method. Correlated terms visuals - more context for terms identified as correlated. e.g. What other payment type valu

[2021-08-19 10:26] elasticmachine commented on #109220
Pinging @elastic/ml-ui (:ml)

[2021-08-19 10:26] elasticmachine commented on #109220
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 10:29] pgayvallet commented on #109189
I'm not sure to see the implication of this statement regarding the feature you're requesting, could you elaborate? Also, if the format works for you, what's the global purpose of trying to have your objects listed in SOM and import/exportable via the global export API?

Regarding the `onImport` hook, when we designed the import/export hooks, we came to the conclusion, given the identified use cas

[2021-08-19 10:36] semd commented on #108912
Hi @mdefazio
I opened [this pr](https://github.com/elastic/kibana/pull/109221) to fix this. I opted to remove all the paddings since is what it seems in the mockup, but I would like a confirmation.

Another question: do you want me to change the menu panels and have only one level of items in all action menus (including flyout take action), or only in the table row action menus?
Thanks!

[2021-08-19 10:47] MGulerce commented on #108934
Hi,
I solved the problem with running $ELASTIC_HOME//plugins/opendistro_security/tools/securityadmin_demo.sh(while elastic running)
Now elastic and kibana see my configürations

[2021-08-19 10:47] #108934 closed

[2021-08-19 10:55] stratoula commented on #109213
@vladefanov thank you for reporting this issue. There is no CTA for hiding all series but there is another possibility that can solve your problem.

You can go to the legend item you want to be visible and `shift` and click it. This will hide all the other legends and then yo can click the other legends you want to also be visible.

[2021-08-19 10:57] VladLasitsa commented on #81210
@stratoula, I've checked on master and cannot reproduce this issue. Is it still valid?

[2021-08-19 10:58] stratoula commented on #81210
@VladLasitsa we will close this when we apply the autoheight. Keep it open for now!

[2021-08-19 11:01] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16237/)

[2021-08-19 11:01] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16237/)

[2021-08-19 11:05] machadoum commented on #108331
I am closing it because after https://github.com/elastic/kibana/pull/109096 the horizontal scroll bar won't show up anymore.

[2021-08-19 11:05] DaveCTurner opened #109224 "Disk usage threshold alert fires well before action is needed"
**Kibana version:** 7.14.0 (likely others)

**Elasticsearch version:** 7.14.0 (likely others)

**Describe the bug:**

The default [disk usage threshold alert](https://www.elastic.co/guide/en/kibana/current/kibana-alerts.html#kibana-alerts-disk-usage-threshold) will fire when a single node reaches 80% capacity even though no action is needed at this point. Elasticsearch itself doesn't react at all

[2021-08-19 11:05] elasticmachine commented on #109224
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-19 11:09] Bamieh commented on #101283
@afharo The `browser` side of things is not implemented, only the `server` side was implemented.

[2021-08-19 11:14] philippkahr opened #109226 "[ILM] Creating ILM policy with a missing name gives unhelpful error"
Version: 7.14
Elasticsearch Cloud.

When creating a new ILM policy and forgetting to enter a name and hitting save it tells that there are errors. If you are missing data in the `Maximum age` part for , warm, cold,frozen it automatically jumps into that box to input the numbers. It should also automatically jump to the `name` field in top.

https://user-images.githubusercontent.com/12175559/130059

[2021-08-19 11:16] elasticmachine commented on #109226
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-19 11:18] katrin-freihofner opened #109227 "[RAC] Observability alerts table: hide alert status column"
By default, we want to hide the alert status column to not be confused with the workflow status and to further reduce any UI elements.

<img width="1129" alt="Screenshot 2021-08-13 at 16 10 34" src="https://user-images.githubusercontent.com/20965076/130059964-81835474-a800-4846-8a21-008882f44566.png">

[2021-08-19 11:18] afharo commented on #105908
For some reason, the API didn't include `"observabilityCases"` in the response. I'll dig in to find what could be the problem.

[2021-08-19 11:19] elasticmachine commented on #109227
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-19 11:34] afharo commented on #105908
I think this was fixed by this PR: https://github.com/elastic/elastic-stack-testing/pull/975. Specifically with this change: https://github.com/elastic/elastic-stack-testing/pull/975/files#diff-6523aa719478e51cfae8e1f761eea29907dc6b416cfb7858d859728cd41be750R16

Can we close this issue, @liza-mae?

[2021-08-19 11:40] jloleysens commented on #109037
Related: https://github.com/elastic/kibana/issues/108920

[2021-08-19 11:41] mshustov opened #109232 "Track deprecated Core API"
Kibana Core and Core-team-owned plugins provide API that can be leveraged by other Kibana plugins to build functionality on top of it.
Currently, the Core team doesn't have any deprecation policy for such program API. While plugin API is not subject to semver, we still provide some time for plugin authors to migrate from the obsolete API to an alternative version. To avoid the accumulation of tech

[2021-08-19 11:41] elasticmachine commented on #109232
Pinging @elastic/kibana-core (Team:Core)

[2021-08-19 11:45] mshustov commented on #109232
@tsullivan raised a valid concern that it's not clear when the Core team is going to remove deprecated API:  https://github.com/elastic/kibana/issues/107254
https://github.com/elastic/kibana/issues/107255

[2021-08-19 11:47] mdefazio commented on #108912
@semd Yes, the padding should be removed around the popover...

![image](https://user-images.githubusercontent.com/3756330/130063136-d15cc70c-0564-46ab-8939-cfd2b24026fd.png)

And yes, only one level of times in all actions (including flyout take action menu).  We understand there are some pitfalls with this approach (longer list), but removing the click is preferred at the moment.

cc/ @monina-n

[2021-08-19 11:52] pgayvallet commented on #109232
Imho having visibility on the removal version is crucial for the other teams

[2021-08-19 12:00] sqren commented on #100672
@cauemarcondes I see you closed this in https://github.com/elastic/kibana/pull/100816 but it looks like we are still relying on the existence of onboarding docs to determine whether APM Server is running or not:

https://github.com/elastic/kibana/blob/6c1133ad7c8c4827fe6c63e4226f9c10b602dd8a/x-pack/plugins/apm/server/tutorial/envs/on_prem.ts#L147-L159

With data streams we will no longer be ingest

[2021-08-19 12:00] sqren commented on #100672
Re-opening. We can close if this is already handled.

[2021-08-19 12:07] VladLasitsa commented on #76070
@mbondyra, I cannot reproduce this issue on elastic-charts which we use now. Can you check it and close if cannot reproduce too?

[2021-08-19 12:08] simitt opened #109237 "[APM] update policy editor with additional config values"
Thanks for adding the custom editor for the APM package - it looks great.

During testing I found a couple of minor issues that I am listing below.  (I am using the variable's `name` from the [manifest.yml](https://github.com/elastic/apm-server/blob/master/apmpackage/apm/manifest.yml) as reference).

## Missing fields
* [x] `rum_exclude_from_grouping`
* [x] Enable Anonymous Agent access (`anonymou

[2021-08-19 12:08] elasticmachine commented on #109237
Pinging @elastic/apm-ui (Team:apm)

[2021-08-19 12:08] vladefanov commented on #109213
Thank you very much. Тhat's enough for me.

[2021-08-19 12:09] #109213 closed

[2021-08-19 12:14] mshustov commented on #69706
@elastic/kibana-operations at what stage you are going to add support for functional tests running from a plugin Bazel package? https://github.com/elastic/kibana/pull/92758#discussion_r591709575

[2021-08-19 12:15] kertal commented on #107253
many thanks. Since it works in my test, another question, was this instance upgraded , and if yes, from what version? thx

[2021-08-19 12:16] formgeist commented on #109237
@simitt Appreciate you went through and checked all the settings. I find your suggestion good - I think if we'd anyways have to add the new settings for `anonymous_enabled` we may as well add the new section as you've suggested. The way you have described the contents of that section sounds good to me as well 👍

Whoever picks this up - not sure if they'd need a proper visual, but I can quickly put

[2021-08-19 12:22] #108283 closed

[2021-08-19 12:27] mgiota commented on #108153
I just checked on master and the Actions header is not broken anymore. It must have been fixed by security team

[2021-08-19 12:27] #108153 closed

[2021-08-19 12:30] #41418 closed

[2021-08-19 12:31] stacey-gammon commented on #109232
What's missing? I can look into that.  I'm not aware of any public APIs that aren't being tracked (aside from packages).

Right, it only supports `@removeBy` currently. I could easily add support for a new manual tag like `@deprecatedIn {version}` but automatically tracking that might be tough.  Same with enforcing migration examples, though I could capture text written after `@deprecated Follow t

[2021-08-19 12:40] #105313 closed

[2021-08-19 12:46] VladLasitsa commented on #68014
@Angel0r, I checked it on 7.13 version and don't see any problem with partial data. Can you check and if you find this issue add more detail steps?

[2021-08-19 12:47] mbondyra commented on #109031
<img width="776" alt="Screenshot 2021-08-19 at 14 36 43" src="https://user-images.githubusercontent.com/4283304/130069376-aee4bd73-147a-49df-b188-d6a8640e4724.png">
This failed single time after merging the cases PR and it looks unrelated. It failed when trying to initialize Visualize listing page, before even entering Lens app. I think it might have been a glitch in CI instead of real failure or

[2021-08-19 12:51] mikecote commented on #108733
@jasonrhodes I'm not sure which `Team:` label to add for O11y / RAC? That will remove the `needs-team` label.

[2021-08-19 12:52] stratoula commented on #109031
Yes, I am closing it and let's investigate it further if it reopens. But from the screenshot it seems unrelated to Lens

[2021-08-19 12:52] #109031 closed

[2021-08-19 12:54] ymao1 opened #109247 "[Alerting] Rules are storing actions using predefined connectors in references array"
Currently, when rules are created/updated, the connector IDs for their associated actions are extracted and stored in the SO references array. This is being done regardless of whether the connector is predefined or not. With the upcoming changes to make [rules and connectors share-capable](https://github.com/elastic/kibana/issues/100067), all the IDs in the references array for SOs in a non-defaul

[2021-08-19 12:54] elasticmachine commented on #109247
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-19 12:55] elasticmachine commented on #109224
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-19 12:57] mbondyra commented on #76070
Correct, the bug is gone, closing 📕

[2021-08-19 12:57] #76070 closed

[2021-08-19 12:59] muskangulati-qasource opened #109248 "[Security Solution] The 'Isolate Host' option is removed from the Alerts tab."
**Description:**
The 'Isolate Host' option is removed from the Alerts tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. An endpoint alert should be generated

**Steps to Reproduce:**
1. Navigate to the alerts tab.
2. Expand the details of the alerts
3. Observe the 'Isolate Host' options

**Impacted Test case:**
N/A

**Actual Result

[2021-08-19 12:59] elasticmachine commented on #109248
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-19 12:59] elasticmachine commented on #109248
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-19 13:00] hop-dev commented on #108178
@amolnater-qasource Hi, I have not been able to reproduce this issue unfortunately, would you be able to see if you can reproduce the issue consistently?

[2021-08-19 13:01] manishgupta-qasource commented on #109248
Reviewed & assigned @paul-tavares

CC: @kevinlog

[2021-08-19 13:05] ryankeairns commented on #85965
Ah, yes, I was referring to a review the full screen feature itself (given the popover and z-index issues, for example).
Also, yes, the a11y audit would cover this feature as well.

[2021-08-19 13:06] pgayvallet commented on #108346
Just for my understanding, what does security plan to do with this? Is it just for logging / audit purpose?

[2021-08-19 13:06] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16239/)

[2021-08-19 13:06] ymao1 commented on #109247
We will need to update the create/update behavior in the rules client to not store pre-defined connector IDs in the references array and also write a migration to fix previous rules.

[2021-08-19 13:08] rudolf commented on #107641
I've opened https://github.com/elastic/elasticsearch/issues/76705 but for now will just continue assuming the limit is set to 100mb

[2021-08-19 13:12] Dosant commented on #95376
cc @sebelga (https://github.com/elastic/kibana/pull/107730/)

[2021-08-19 13:13] VladLasitsa commented on #20917
@floatingtony, @timroes I checked it on master and it works fine, you can see in video how it works:

https://user-images.githubusercontent.com/16915480/130074109-70c84b46-6e42-42a7-9f59-d04a03e512a7.mp4

I don't see any problems with rows which have `-` as value. Can you check it and close issue if will not find any problems with this?

[2021-08-19 13:20] paul-tavares commented on #109248
@parkiino could you look into this?
While I was chatting with Muskan this morning I also noticed this happening on the endpoint nightly build server. You might be able to recreate it by connecting your local Env. to it.

[2021-08-19 13:25] neptunian commented on #93432
@ravikesarwani I wonder if CCS should be on by default.  Otherwise, if the user doesn't have `remote_cluster_client` role added, we would need to inform them in some way that CCS is on but not working due to the missing role.  This effects other SM queries, not just alerts.  Perhaps we can have a toast within the SM app and a warning (if thats possible) in the alerts.

[2021-08-19 13:25] azasypkin commented on #108346
In case we detect that this `401` is because of expired access token, Security will try to refresh it. If refresh succeeds we'll return updated auth headers (and cookie) to the Core. Once core has updated auth headers it can technically re-try request transparently for the consumer?

[2021-08-19 13:35] cauemarcondes commented on #100672
@sqren we still have the `esHitsCheck` to support the classical indices, but now we also have a custom status check, https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/plugin.ts#L197-L203, which checks if there are any data inside the data streams indices.

[2021-08-19 13:37] ravikesarwani commented on #93432
What is the default value for monitoring.ui.ccs.enabled when its not explicitly set by the users? I am assuming it it is false (or should be false) and hence by default the alerts (queries) shouldn't rely on it.

If the value is set by the user to "true" then we are saying that they should also add the remote_cluster_client role to the monitoring.ui.elasticsearch.username user. This is something t

[2021-08-19 13:40] thekofimensah commented on #90803
I tested on 7.14 as well and it failed.

Does your csv file end with a line space -- Or is it just those 3 rows? When I press "enter" on the 3rd row to create another row (that's empty), then it works. Otherwise it doesn't. Also how did you create the csv?

[2021-08-19 13:50] neptunian commented on #93432
The default for `monitoring.ui.ccs.enabled` is true.  From what I've read, `remote_cluster_client` is [added to node roles by default ](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-node.html#node-roles)but if you specify a role without adding it back, it will be gone.  Users do not know they need to add this role, though, as they never explicitly turned on CCS.

[2021-08-19 13:50] ravikesarwani commented on #109224
The current SM disk usage alert is per node. All rules threshold values are easily configurable by the users. With 7.15 they can be modified in SM app in place or from the Rules and connectors area.
The default low watermark as you explained is 85% when ES will stop allocating shards to that node so basically at this point things aren’t working as a normal user would like.
The idea of choosing 80%

[2021-08-19 13:51] MichaelMarcialis commented on #108681
Sounds good. Will cut a PR for this today.

[2021-08-19 13:52] elasticmachine commented on #108432
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-19 13:57] MichaelMarcialis commented on #108896
FYI, I believe I have a fix that can be implemented globally on the EUI side for both this and the Discover issue ([original comment](https://github.com/elastic/kibana/issues/108681#issuecomment-901391056)). Will cut an EUI PR today.

[2021-08-19 13:58] elasticmachine commented on #109121
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-19 14:02] elasticmachine commented on #109121
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-19 14:16] ravikesarwani commented on #93432
Do we know why "monitoring.ui.ccs.enabled" is true by default especially if it requires specific roles?
I was trying to look for monitoring.ui.ccs.enabled setting in our documentations and see why it was set to true by default but haven't found anything.

My take is that we should start simple by default and make sure things work correctly without any extra work by the users (so monitoring.ui.ccs.

[2021-08-19 14:23] #109154 closed

[2021-08-19 14:34] mistic commented on #95376
This test has been failing and looks flaky. Skipping for now.

master/8.0: eec7bb3
7.x/7.16: 755a9fe
7.15: 44f354c

[2021-08-19 14:46] gmmorris opened #109255 "Email docs are not using the term `allowlist`"
We recently added [a section](https://www.elastic.co/guide/en/kibana/master/email-action-type.html#elasticcloud) for Elastic Cloud Email preconfigured connector and somehow the wrong term made it through.

Please replace it with `allowlist`.

[2021-08-19 14:46] elasticmachine commented on #109255
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-19 14:53] liza-mae commented on #105908
Yes that PR should fix this case too, thanks @afharo !

[2021-08-19 14:53] #105908 closed

[2021-08-19 14:56] joshdover commented on #108993
I believe that's an accurate assessment from my admittedly limited understanding at this point. As far as I can tell, the Fleet package installation code doesn't currently handle any transient Elasticsearch errors and seems to just give up if one is encountered. @elastic/fleet Please correct me if I am wrong.

I definitely think we have to improve this before we consider blocking Kibana startup on

[2021-08-19 14:57] afgomez commented on #108148
@mgiota @jasonrhodes this seems to be fixed on device.

https://user-images.githubusercontent.com/57448/130090937-d5c9269a-3e5e-4cf3-93ba-fe8fdc8f0dd8.mov

Resizing also seems to work correctly

https://user-images.githubusercontent.com/57448/130091281-9a22adfe-b2d5-41b4-84ce-a213df3f00ff.mov

The only issue I see is that the `Updated X time ago` overlaps, but that will be fixed once we tackle the

[2021-08-19 14:59] yuliacech opened #109259 "[ILM] Error when saving built-in policies with `_meta` field"
**Kibana version:**
reproducible on v7.14, 7.15, [7.x](https://github.com/elastic/kibana/tree/755a9fe13931e38addb017befdc4790506d70ece) and [master](https://github.com/elastic/kibana/tree/a93a7efa8061f840ffc28394bdec86f51937314e) branches
**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from sourc

[2021-08-19 15:00] elasticmachine commented on #109259
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-19 15:02] kibanamachine opened #109260 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page displays custom UI should display policy view"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16241/)

[2021-08-19 15:04] sorantis opened #109263 "[Metrics UI] Inventory table view not showing enhanced host details"
The enhanced host details panel in Metrics UI is only shown when in Waffle map mode. When switching to the table view the panel is not available.

[2021-08-19 15:04] elasticmachine commented on #109263
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-19 15:06] simianhacker commented on #109100
Actually what I posted above is wrong, I was running the newer snapshot with security. It appears that CCS doesn't work unless security is enabled.

With this query
[code]
if you have security disabled it returns this response
[code]
but with security
[code]

[2021-08-19 15:10] Mustek commented on #95133
I can reproduce the issue mentioned.

Kibana 7.14.0

- 3 layers + 1 roadmap layer
- The three layers all have the same Elastic index as a source
- The elastic index has about 30 million entries in it

When I move a layer, nothing happens but I'm no longer able to drag and drop the layers, or even get the handlebars to appear.

![hWyG8jyWc2](https://user-images.githubusercontent.com/550529/13009373

[2021-08-19 15:19] neptunian commented on #105659
@ravikesarwani The issue is that rollover probably takes some time to trigger so even though it's set at 50GB it hasn't actually rollover yet and is often hitting the 55GB and getting the alert.  I'm not sure what the best solution for it is.  In their words:

[2021-08-19 15:19] semd commented on #108988
@mdefazio
I just created the PR to fix this issue, I changed the widths of the first two columns as defined here, it fits the content much better indeed.

Unfortunately, it is not possible to set auto-width to the columns, if not set it defaults to the minimum width which is `180px`. The _Reason_ column currently is set at `450px`. Do you want to do any other changes?

[2021-08-19 15:20] kibanamachine commented on #109260
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/3/)

[2021-08-19 15:20] #92927 closed

[2021-08-19 15:26] nchaulet commented on #108993
Yes that correct the Fleet code do not do any retry, clearly something we can improve.

[2021-08-19 15:29] XavierM commented on #108432
FYI -> @asnehalb @paulewing
After discussing it internally, we are seeing two problems here:

1. When we are switching the row per page that we are loosing the scrolling position on the table. The reason for this behavior is because we are only loading the first 25 alerts and when you change the row per page, we will re-load for example the 50 alerts and go back to first page. At this time to chan

[2021-08-19 15:29] weltenwort commented on #109015
Thinking about it some more `kibana.alert.instance.name` could be misleading as well, because internally for the alerting framework the string is used to recognize re-occurring alert instances while also being exposed to humans in the action message context. So `.id` seems accurate. Not sure what the value of inserting `instance` into the hierarchy would be.

[2021-08-19 15:33] jgowdyelastic opened #109270 "[ML] File data visualizer skips last line if it's missing a newline char"
If the last line of a CSV or NDJSON file is missing a newline char, the line is not added to the list of messages.

The file contents is split into multiple parts when read, the split may occur mid message and so a character remainder is kept after reading each part so it can be added to the start of the next part.
This remainder is the characters since the last newline character, so if the file e

[2021-08-19 15:33] elasticmachine commented on #109270
Pinging @elastic/ml-ui (:ml)

[2021-08-19 15:35] jgowdyelastic commented on #90803
Yes this is a bug! I've raised an issue for it https://github.com/elastic/kibana/issues/109270
I created the file using a text editor and a newline character had been automatically added to the end of the file.

Thank you for reporting this.

[2021-08-19 15:42] simianhacker commented on #93432
It seems like the intention was "Everything should just work" as long as you didn't do anything custom. But the moment you start customizing roles for nodes, things will start going haywire. I want to point out that if we make the change `monitoring.ui.ccs.enabled: false` as the default, we are going to have to decide how that works on Cloud. Right now it "just works" and the user don't have to en

[2021-08-19 15:53] DaveCTurner commented on #109224
Could you clarify what you expect users to do with this information? What action should they be taking to resolve this alert?

[2021-08-19 15:53] kobelb commented on #109189
I agree with your thoughts @pgayvallet. During previous discussions, we decided that we should minimize the logic that plugins could perform because there's an inherent risk in performing a lot of logic at this step because it could cause imports to fail partway through, which makes the import logic a lot more complicated, and we'd have to work through all of those situations. As such, I think it'

[2021-08-19 15:59] kibanamachine commented on #109260
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16242/)

[2021-08-19 15:59] kibanamachine commented on #109260
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16242/)

[2021-08-19 16:00] simianhacker opened #109272 "[Monitoring] Document monitoring.ui.ccs.enabled"
We need to document `monitoring.ui.ccs.enabled` here: https://www.elastic.co/guide/en/kibana/current/monitoring-settings-kb.html

[2021-08-19 16:00] elasticmachine commented on #109272
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-19 16:02] simianhacker commented on #109272
Relates to https://github.com/elastic/kibana/issues/18448

[2021-08-19 16:10] afharo commented on #108993
My 2cents: allowing a plugin to block the execution of the rest of Kibana feels like prioritising its use case over anything else.

IMO, `GET /api/status` would show `degraded`/`YELLOW` (with a 503 response) while this upgrade process occurs, and it's up to the user to decide whether they want to use Kibana, knowing that some features might not work as expected (literally the definition of the `de

[2021-08-19 16:12] #107467 closed

[2021-08-19 16:20] joshdover commented on #107458
Personally, I'm +1 on switching this back to a plus icon. It's the main call to action on this page and the icon is quite confusing IMO.

[2021-08-19 16:22] XavierM commented on #108894
Got it

[2021-08-19 16:29] chandlerprall commented on #108972
We'll have the ability to ask a context for a complete representation/snapshot of its themed values, maybe that can be forwarded to the new mount point as the starting point for that subsequent mounted context?

[2021-08-19 16:30] pgayvallet commented on #108993
Honest question here: Is this something we can challenge, or are we locked with this statement?

Like the other members, I don't really like the idea to allow specific plugins to block Kibana from starting.

First, this goes against pretty much all the decisions we previously made in that matter (making setup/start synchronous, refusing to implement a data injection/preload service that could bloc

[2021-08-19 16:32] dominiqueclarke opened #109280 "[Uptime][Synthetics Integration] TLS settings do not appear when editing a policy"
**Kibana version**: 7.14.0

**Original install method (e.g. download page, yum, from source, etc.)**:
Source

**Description of the problem including expected versus actual behavior**:
When saving an integration policy with TLS settings, TLS settings do not show up when editing the policy.

<img width="804" alt="Screen Shot 2021-08-19 at 12 17 12 PM" src="https://user-images.githubusercontent.com/1

[2021-08-19 16:32] elasticmachine commented on #109280
Pinging @elastic/uptime (Team:uptime)

[2021-08-19 16:34] alexfrancoeur opened #109281 "Add Elasticsearch Clients as non-Elastic Agent integrations (MVP)"
### Updated with 7.16 deliverables on 2021-09-28

We would like to unify all ingestion capabilities from a single integrations page (https://github.com/elastic/kibana/issues/93084). The approach we are taking will include new cards in the integrations view that will navigate directly to other areas in Kibana's UI (sample data, file upload, beats modules, etc.). Each integration will be as searchab

[2021-08-19 16:34] elasticmachine commented on #109281
Pinging @elastic/fleet (Team:Fleet)

[2021-08-19 16:35] pgayvallet commented on #108972
Yea, that is what I was thinking about. But in that case, we'll be working with the 'raw' EUI context, not the `CoreTheme` object that the root `KibanaThemeContextProvider` should receive.

[code]

should probably instead be

[code]

or it could even accept both. The implementation is fairly trivial either way, I guess we'll see with the first usages.

[2021-08-19 16:42] gchaps opened #109284 "[DOCS] Change index pattern to data view"
Related to #100844

Index patterns are being renamed to data views, so all mentions of 'index patterns' in the docs needs to change to 'data views'. Work will be tracked in this meta issue.

**Intro** (gail)
Resolved #119403
- [x] [What is Kibana](https://www.elastic.co/guide/en/kibana/current/introduction.html) (still has `index-pattern` as a filter)
- [x] [Kibana concepts](https://www.elastic.co

[2021-08-19 16:45] bhavyarm commented on #108774
Happened again on BC1 immediately after I generated a report of a dashboard. Same errors in es logs and kibana logs. Nothing in browser logs. This is on darwin build https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html please note I don't have security enabled.

[2021-08-19 16:45] kobelb commented on #96626
In my opinion, this is the biggest drawback to this approach. In the situation where a migration does have issues, rolling back isn't really an option. We'd have to tell our users that features just won't work until a newer patch version of Kibana is released that addresses the migration issue.

[2021-08-19 16:45] jonathan-buttner opened #109286 "[Cases] Hide alerts table toggle icon to show details when lacking privs"

[2021-08-19 16:46] alexfrancoeur opened #109287 "Add App Search engines as non-Fleet integrations"
We would like to unify all ingestion capabilities from a single integrations page (https://github.com/elastic/kibana/issues/93084). As part of building a unified view, we'll need to navigate to App Search ingestion instructions.

After speaking with @bhuvanaurora and @zumwalt, we decided that we want to show each ingestion method as a card in the integrations page (potentially a subset). The curre

[2021-08-19 16:46] elasticmachine commented on #109287
Pinging @elastic/fleet (Team:Fleet)

[2021-08-19 16:46] elasticmachine commented on #109287
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2021-08-19 16:48] elasticmachine commented on #109284
Pinging @elastic/kibana-docs (Team:Docs)

[2021-08-19 16:54] cjcenizal commented on #109166
# Deprecations in the UI

Here's how a deprecation retrieved from the API is currently surfaced in the UI. Note that support for "title" is currently blocked on https://github.com/elastic/kibana/issues/99625.

![image](https://user-images.githubusercontent.com/1238659/130110699-2f3e81db-87ae-4cc9-89af-5935c3a5dfec.png)

[2021-08-19 16:55] cjcenizal commented on #99625
@Bamieh FYI https://github.com/elastic/kibana/issues/109166 is blocked on this. In addition to the screenshot Alison shared above, the goal is also to enable a UI like this one:

![image](https://user-images.githubusercontent.com/1238659/130110929-37c88b21-16c4-4936-b809-a6d9571b2d33.png)

[2021-08-19 16:59] toog commented on #82467
👎

[2021-08-19 17:04] willemdh commented on #109166
Multiple Data Paths will be deprecated too apparently... Might be sth worth adding.

[2021-08-19 17:04] rashmivkulkarni opened #109288 "Canvas workpad- expression editor - when you click the back button in the maximized editor - Error: Embeddable has been destroyed is seen in the console."
Kibana Version : 7.15 snapshot

1) create a canvas workpad.
2) edit the expression editor , make some changes and  maximize the editor.
3) **See that the maximize editor screen minimizes itself - should have stayed the way it is - maximized** ( a small nit - the user has to click on Maximize button again to view in full screen)
4) Now clicking the back button, throws an error in the console :
[cod

[2021-08-19 17:04] elasticmachine commented on #109288
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-19 17:05] cjcenizal opened #109289 "Index Pattern creation form "Create" button isn't disabled when name collides"
I'm able to reproduce on 7.x (7.16):

* Open the "Create index pattern" flyout
* Enter a name that collides with an existing index pattern
* The collision error appears but then button isn't disabled

![image](https://user-images.githubusercontent.com/1238659/130112477-13041c8c-7984-4fe6-968a-ae7aac392fbc.png)

[2021-08-19 17:05] elasticmachine commented on #109289
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-19 17:06] ravikesarwani commented on #109224
Since this alert is for a "node", user will need to review the nodes purpose and if it's okay with the storage running low, overall storage of the cluster across all nodes, their sharding strategy and their data ingestion plan to see if they need to expand their storage capacity now. If they feel that a different threshold is better for their environment and use case they can modify the rule to me

[2021-08-19 17:08] #108075 closed

[2021-08-19 17:11] bhavyarm commented on #109165
Yes. Thanks!

[2021-08-19 17:11] jtibshirani commented on #109100
This error is caused by a recent change we made in 7.15 to throw an error when remote index patterns (like `*:foo`) are used with APIs like 'get' that don't support cross-cluster search: https://github.com/elastic/elasticsearch/pull/74762. I think that this change accidentally started throwing errors in the search API when a remote index pattern is used, but when CCS is not enabled. I am guessing

[2021-08-19 17:12] ravikesarwani commented on #109224
BTW the alert fires only when the disk capacity on average is over 80% for last 5 minutes, so temporary spikes won't be alerted on.

[2021-08-19 17:15] dominiqueclarke commented on #106011
Works appropriately in 7.15 branch. No errors.
<img width="1521" alt="Screen Shot 2021-08-19 at 1 13 57 PM" src="https://user-images.githubusercontent.com/11356435/130113773-8c19c3d8-79ff-4928-9f14-c202ca9fa61c.png">