[2021-01-11 11:16] sorantis opened #87818 "[Metrics UI] Revert to host dropdown"
The initial version of enhanced host details is currently missing the following existing features:
- link to APM
- link to Uptime
- create alert

Because of that it’s best to keep the dropdown menu in and replace `Host Logs` and `Host Metrics` with `Host Details`, with the remaining links left as they are.

[2021-01-11 11:26] #87269 closed

[2021-01-11 11:33] fbaligand commented on #87455
Happy to see that my work on enhanced table plugin is so much appreciated!

[2021-01-11 11:41] muskangulati-qasource commented on #87816
@manishgupta-qasource please review!

[2021-01-11 11:45] weltenwort commented on #74937
Yes, the specific steps towards realizing the value have changed with the arrival of runtime fields. IMHO our previous ingest-pipeline-based user workflow doesn't make the best use of the new technology. I hope I'll get around to sketching a workflow that harmonizes better with the "analyst-created runtime fields" and "index patterns everywhere" themes pursued in discover and visualize this week.

[2021-01-11 11:46] manishgupta-qasource commented on #87816
Reviewed & Assigned to @MadameSheema

[2021-01-11 11:47] pgayvallet commented on #17298
@ryankeairns @alexfrancoeur @mbarretta Do we want the header banner to be considered as part of the header when we are expanding the navigation menu?

<img width="1680" alt="Screenshot 2021-01-11 at 12 42 01" src="https://user-images.githubusercontent.com/1532934/104178351-75effb80-540a-11eb-906d-8813ec9774d0.png">

In this screenshot, if we had a top banner, should the left nav expand after the b

[2021-01-11 11:52] MadameSheema commented on #87816
@jonathan-buttner @kqualters-elastic @michaelolo24 can you please help with this? Thanks :)

[2021-01-11 11:56] weltenwort commented on #85825
Thanks! I've updated the description and added some background info.

[2021-01-11 11:59] vipulsrivastava-qasource commented on #87613
Hi @Conky5  and @EricDavisX

Thank you for the update.

We have revalidate this issue with updated build candidate link : (https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html) and found that issue is still occurring. Endpoint security is now being added under agent, but now there is agent signing issue occurring for 7.10.2 BC1.Please find the below observation and build details.

Platfo

[2021-01-11 12:14] muskangulati-qasource commented on #87110
Hi @peluja1012,

We initially validated this issue on 7.11.0 BC1, and we validated this on 7.11.0 BC2 also and found that issue is still occurring on 7.11.0 BC2. We have been seeing errors for the same.

**Build Details**:
[code]

**Steps followed**:
1. Navigate to Kibana URL on Browser
2. Click on the "Detection" tab under Security from the left navigation bar
3. Click on the 'Manage Detections r

[2021-01-11 12:15] muskangulati-qasource commented on #87035
Hi @XavierM,

Thank you for the update.

We tested this scenario on the latest 7.11.0 BC2 build and found that issue is now fixed for two different notification pop-ups. We are getting a success message for the empty query being saved.

**Build Details**:
[code]

**Refer Screenshot**:
![87035](https://user-images.githubusercontent.com/60252716/104014224-b36d4280-51d8-11eb-8059-8f6b4fd82c20.PNG)

I

[2021-01-11 12:15] muskangulati-qasource commented on #86741
Hi @spong,

Thanks for the information. We validated this issue on latest 7.11.0 BC2 build and found that issue is now **fixed**.

**Build Details**:
[code]

**Refer Screenshots**:
- List of rules:
![86741_1](https://user-images.githubusercontent.com/60252716/104015052-1c08ef00-51da-11eb-917f-ed369013056e.PNG)

- Delete pop up:
![86741_2](https://user-images.githubusercontent.com/60252716/10401506

[2021-01-11 12:15] dikshachauhan-qasource opened #87821 "[Ingest Manager]: Unable to upgrade 7.10.1 RC Agent on upgraded 7.10.2 BC1 Kibana Cloud Build."
Kibana version:
Kibana:7.10.2 BC1 Kibana Cloud Build

Elasticsearch version:
Elasticsearch:7.10.2 BC1 Kibana Cloud Build

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.2 BC1 Kibana Cloud Build

Preconditions:
1. Artifacts for 7.10.1 Agent should be available.
	Link used: https://artifacts.elastic.co/downloads/beats/elastic-

[2021-01-11 12:29] dikshachauhan-qasource commented on #87821
@manishgupta-qasource Please review

[2021-01-11 12:38] formgeist commented on #87673
Yeah, that would get confusing. It makes me think a bit more about how we determine search health and whether that should be our primary indicator so you can visualize health over time (if there's a change from e.g. warning to critical) and get information why it changed (was it alerts, was it an anomaly?). We should think more about it, but in essence, I don't see a reason why we should visualize

[2021-01-11 12:38] manishgupta-qasource commented on #87821
Reviewed & Assigned to @EricDavisX

[2021-01-11 12:39] elasticmachine commented on #87821
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-11 12:47] kevinlog opened #87826 "Endpoint Policy page doesn't render correctly for User Notification when navigating from Endpoint list page"
**Kibana version:**
7.11, 8.0

**Elasticsearch version:**
7.11, 8.0

**Describe the bug:**
When navigating from the Endpoint list page to the Applied policy, user notification options do not render correctly.  This is because user notification is a paid feature and the license information, which is kept in state, is re-initialized after it's it retrieved initially during the app load.  We need to

[2021-01-11 12:50] karanbirsingh-qasource commented on #87112
Hi @yctercero

we have observed the Fixed Label and have validated this on `7.11.0 BC2` and Found that issue is still **Occurring** . Error Message to remove exception list is thrown on UI while creating Endpoint/Rule Exception.

**Build Details:**
[code]

**Snap shoot:**
- Endpoint Exception
![image](https://user-images.githubusercontent.com/59917825/104182274-3939f980-5436-11eb-8ea1-78bfcaf1ed55

[2021-01-11 12:56] #85964 closed

[2021-01-11 13:17] deepikakeshav-qasource opened #87829 "[Security Solution] "Open as a Duplicate Timeline" icon is not displaying by default. It only appears when hovering on timeline text."
**Description**
"Open as a duplicate Timeline" icon is not displaying by default. It only appears when hovering on timeline text.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Timeline should be created with favorite

**Steps to Reproduce:**
1. Navigate to the Overview tab of secu

[2021-01-11 13:17] joshdover commented on #80508
@flash1293 FYI the highest-prio plugins for the app team should be the `advanced_settings` and `management` plugins since those two block other downstream plugins from migrating. I believe those could be worked on in parallel with the circular imports issue (#84750) since they shouldn't be directly related.

[2021-01-11 13:17] deepikakeshav-qasource commented on #87829
@manishgupta-qasource Please review

[2021-01-11 13:19] manishgupta-qasource commented on #87829
Reviewed & Assigned to @MadameSheema

[2021-01-11 13:20] flash1293 commented on #80508
@joshdover Thanks for reaching out - PR is currently building here, addressing both of these: https://github.com/elastic/kibana/pull/87639

[2021-01-11 13:22] mostlyjason opened #87830 "[Fleet] Report telemetry for packages outside of Fleet"
Currently, our telemetry for package installations is reported through Fleet. However, when we move the integrations UI out of Fleet, we will also include packages that don't use Fleet. Therefore, we should move our telemetry on packages outside of Fleet as well.

CC @skh @ph

[2021-01-11 13:22] elasticmachine commented on #87830
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-11 13:22] elasticmachine commented on #87830
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-11 13:28] mikecote opened #87832 "Unable to configure alerting related plugins via docker"
The `kibana.yml` configurations are missing for docker here:
https://github.com/elastic/kibana/blob/master/src/dev/build/tasks/os_packages/docker_generator/resources/bin/kibana-docker

This causes issues like:
- https://discuss.elastic.co/t/kibana-docker-environment-variable-translation-for-xpack-task-manager-index/260624
- https://github.com/elastic/kibana/issues/87047#issuecomment-756909425.

[2021-01-11 13:28] elasticmachine commented on #87832
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-11 13:30] mikecote commented on #87047
@TinaHeiligers yes, I've seen a few issues around this and I've opened https://github.com/elastic/kibana/issues/87832 to fix this 🙏

[2021-01-11 13:31] flash1293 commented on #81944
I checked the code and it seems like we have the same structure as other consumers listed (although implemented a little different)

@gmmorris Seems like you implemented this, could you confirm it doesn't matter whether `isReady` is async itself (like here https://github.com/elastic/kibana/blob/master/x-pack/plugins/actions/server/usage/actions_usage_collector.ts#L33-L36 ) or returning false synch

[2021-01-11 13:32] pgayvallet commented on #84980
I just created https://github.com/elastic/kibana/pull/87807 as a POC of the proposed implementation. Feedback would be greatly appreciated.

[2021-01-11 13:38] elasticmachine commented on #87818
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-11 13:40] sqren commented on #87673
I agree. It is already confusing today that a service can be displayed as "healthy" when looking at the last 15 minutes but then changes to "critical" when viewing the last 1 hour. This goes back to the discussion we've had before whether the health indicator should ignore the time range filter and always look at a fixed interval (eg. last 24 hours).

[2021-01-11 13:42] elasticmachine commented on #87786
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 13:43] elasticmachine commented on #87792
Pinging @elastic/apm-ui (Team:apm)

[2021-01-11 13:43] elasticmachine commented on #87793
Pinging @elastic/siem (Team:SIEM)

[2021-01-11 13:43] flash1293 commented on #87521
This doesn't address @wylieconlon s problem in Firefox, but the advanced settings button in top values had a specific problem fixed here: https://github.com/elastic/kibana/pull/87834

[2021-01-11 13:47] elasticmachine commented on #87785
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-11 13:51] mbarretta commented on #17298
@pgayvallet Maybe this puts my users on an island, but it needs to be above and below all other content. The header must be above the black Elastic header bar and the footer would go at the absolute bottom.

[My crappy mock up](https://github.com/elastic/kibana/issues/17298#issuecomment-480319560) demonstrates this since all of the left nav exists between the header and footer.

[2021-01-11 13:55] #83218 closed

[2021-01-11 13:56] mikecote commented on #50213
@spong @sqren as I'm working on this, one thing worth mentioning is the params would be treated like string `keyword`. This means that doing partial searches, etc won't work using the flattened approach. Is this still an acceptable solution for Security and Observability? Based on @sqren's [comment](https://github.com/elastic/kibana/issues/50213#issuecomment-747962368), it seems like string based

[2021-01-11 13:57] pgayvallet commented on #17298
So the top banner MUST be on top of the Kibana header, right?

[2021-01-11 13:57] alexwizp commented on #86735
@lukeelmers @ppisljar I see we started to use `ExpressionFunctions` for creating the aggregation types 👍 .  I have a question related to handling the `json` param.  Let me explain you why we have that issue.

Before in `AggType` we passed a json param as a string which then was parsed in `aggs/param_types/json.ts` (line 42)
But now expression functions are responsible for that doing `json: getPars

[2021-01-11 13:59] elasticmachine commented on #87785
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-11 14:04] mostlyjason opened #87839 "[Fleet] Missing items in agent details menu"
**Kibana version:**
7.11

**Elasticsearch version:**
7.11

**Server OS version:**

**Browser version:**
Firefox

**Browser OS version:**
Windows

**Describe the bug:**

When I navigate to the agent details page and select one of the pull down menus for dataset or log level, there are no items present in the menu. This is especially confusing for dataset because it shows the number 1 in the red box

[2021-01-11 14:04] elasticmachine commented on #87839
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-11 14:04] elasticmachine commented on #87839
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-11 14:10] afharo opened #87840 "[Application Usage] Better SO management"
Now that SO's `incrementCounter` allows atomic custom increases (and for multiple fields at once), we can get rid of the _transactional_ documents.

Maybe we can keep the rollup logic throughout the rest of the 7.x series to make sure we rollup the transactional documents before completely removing them.

Alternatively, we could explore a new way of reporting this type of usage. Similar to how UI

[2021-01-11 14:11] elasticmachine commented on #87840
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 14:13] mostlyjason opened #87841 "[Fleet] Dataset name for agent logs does not match for 7.10 agents"
**Kibana version:**
7.11

**Elasticsearch version:**
7.11

**Elastic agent version:**
7.10

**Original install method (e.g. download page, yum, from source, etc.):**
tar.gz

**Describe the bug:**
When I open the agent details page there are no logs shown for my 7.10 agent, even though there are logs visible in the discover app. When I click the link on the agent details page to "Open in Logs" it o

[2021-01-11 14:13] elasticmachine commented on #87841
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-11 14:13] elasticmachine commented on #87841
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-11 14:13] weltenwort commented on #87785
You're not seeing the fields because by default the Logs UI (to which the log threshold alert belongs) only reads from the `logs-*` and `filebeat-*` in indices, but winlogbeat writes to `winlogbeat-%{[agent.version]}-%{+yyyy.MM.dd}`. You could add `winlogbeat-*` to the indices in the Logs UI settings so they show up in the log stream and the alert configuration:

![image](https://user-images.githu

[2021-01-11 14:16] mostlyjason commented on #87839
CLosing as a duplicate of https://github.com/elastic/kibana/issues/87841

[2021-01-11 14:16] #87839 closed

[2021-01-11 14:21] mikecote commented on #61313
@ymao1 I gave your proposal a read and it looks good. Great analysis btw!

The one piece I can see discussion on is how the alert instances are determined (`matching_documents` vs per document). I can see a case for `matching_documents` where the user may want to be notified once if something matches and be able to mute / throttle if necessary. I can also see a case for per document where the user

[2021-01-11 14:24] nchaulet commented on #87841
I think having the logs to work for 7.10 is not easily doable.
Could we solve this by prompting the user to upgrade agents to 7.11?

[2021-01-11 14:33] EricDavisX commented on #87841
I will need to re-read this, but the Agent Logs feature was 7.11 scope and required changes to Agent, Endpoint,  and Kibana UI.  The support we had in 7.10 should be maintained, ideally tho.  Does that just mean the Discover logs viewing until the Agent is upgraded to 7.11+ ?  I think that might be ok as Nicolas is noting.

[2021-01-11 14:35] pmuellr commented on #87344
The original monitoring issue that was reported for this is here: issue https://github.com/elastic/kibana/issues/84819

In a conversation, it sounds like changing the `action` variable to a plain URL instead of Markdown link will be the direction for now.

I think leave this open for a bit longer, in case other problems are noticed, or if the suggested change doesn't work for some reason.

[2021-01-11 14:35] pmuellr commented on #87344
Also checked with security and observability folks re: context variables with formatting markup, doesn't sound like any of the other alerts are doing this.

[2021-01-11 14:48] lukeelmers commented on #13241
++ Agreed, I was thinking along these lines too

Hadn't considered this, but sounds like a good idea.

@restrry I added [a note to the issue on filtering](https://github.com/elastic/kibana/issues/57547#issuecomment-757623248) with some possible approaches to discuss. My thinking was to remove cookie/authorization headers by default here (as is done in legacy platform). And then when https://github

[2021-01-11 14:51] mikecote commented on #50213
I'm renaming the issue from `Make alert params and action config searchable` to `Make alert params searchable` since the actions plugin doesn't have a find API (only get all API) at this time.

[2021-01-11 14:55] afharo opened #87846 "[Telemetry] Use `lastReported` timestamp on the 'browser' as well"
At the moment, the `browser` telemetry sender stores the `lastReported` timestamp on the local storage. This means that we report telemetry every 24h **from each user's browser** (+ the server when it applies).

Should we change the browser implementation to check the `lastReported` key from the SOs instead?

[2021-01-11 14:55] elasticmachine commented on #87846
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 14:57] MadameSheema commented on #87829
Closing the ticket since is the expected behaviour. Thanks :)

[2021-01-11 14:57] #87829 closed

[2021-01-11 15:00] pheyos opened #87849 "[ML] Anomaly explorer - empty visitor_rate_ecs job charts for apache_ecs module"
**Found in version**
- 7.11.0-bc2

**Browser**
- Chrome

**Steps to reproduce**
- Run the `apache_ecs` module
- Open the job `visitor_rate_ecs` in the anomaly explorer
- Select an anomalous swim lane tile

**Expected result**
- The anomalies chart is displayed correctly

**Actual result**
- The anomalies chart is empty

![image](https://user-images.githubusercontent.com/1945390/104197684-9e392380-

[2021-01-11 15:00] elasticmachine commented on #87849
Pinging @elastic/ml-ui (:ml)

[2021-01-11 15:01] pgayvallet commented on #17298
@ryankeairns After a few attempts, I think that this is unfortunately going to be more tedious than expected:

All the 'stretch-to-width' apps seems to manually hardcode the header values too, causing the footer banner to overlap on them:

<img width="1680" alt="Screenshot 2021-01-11 at 15 32 50" src="https://user-images.githubusercontent.com/1532934/104195129-8318e480-5422-11eb-9bd5-2620d16ffb1d.

[2021-01-11 15:01] mbarretta commented on #17298
Yes

[2021-01-11 15:02] zaliven opened #87850 "Controls Visualization - Internal filtering"
**Describe the feature:**
When using an options filter, have a parent control exclusively for controlling the output of the specific options filter.
**Describe a specific use case for the feature:**
By selecting field of option 1, fields of option 2 would be filtered based on it. Afterwards, after selecting field 2, have field 2 filter exclusively applied to the rest of the dashboard. As if field

[2021-01-11 15:04] stephmilovic opened #87851 "[index patterns] Index pattern “pattern list” support"
## The Ask
In order to take advantage of runtime fields, the Security Solutions team needs to adopt Kibana Index Patterns. In order to adopt Kibana Index Patterns, the Security Solutions team **needs to define a pattern list that will work whether or not the user has the matching indices for each pattern on the list**.

## The Problem
Currently, a user can create an index pattern with a list of in

[2021-01-11 15:04] elasticmachine commented on #87851
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-11 15:04] chrisronline commented on #85841
I'm not sure how this works. I did this as well and there is no remote info from `GET _cluster/info`. If that doesn't return anything, the CCS will not work in the Stack Monitoring UI.

[2021-01-11 15:05] peteharverson opened #87852 "[ML] Display message if job in starting state awaiting ML node provisioning"
With lazy nodes, it is possible for a job to wait for more nodes to be made available (or more memory made available on an existing node). For users on cloud, an info message should be displayed if a job is in a `starting` state whilst waiting for ML node provisioning.

A check should be added to the end of the Single metric job wizard, and the Jobs list, and if `max allowed lazy ML nodes > active

[2021-01-11 15:05] elasticmachine commented on #87852
Pinging @elastic/ml-ui (:ml)

[2021-01-11 15:05] dutang-a opened #87853 "Vega Maps Referencing from kibana.yml"
**Kibana version:**
7.10

**Elasticsearch version:**
7.10

**Server OS version:**
Linux

**Browser version:**
Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
Issue has been recommended to be classified as a bug by Nathan Reese after discussion on the elastic discussion board, https://discuss.elastic.co/t/openmaptiles-in-vega-during-of

[2021-01-11 15:06] ryankeairns commented on #17298
@pgayvallet I agree that we should take a step back and think through the design/UI approach a bit further. With @mbarretta 's requirement for this to be first in order, we're going to face additional complications as well since this essentially affect the left nav + flayout across the board. Additionally, the footer is something we'll need to investigate further as well. There are EUI components

[2021-01-11 15:12] afharo opened #87854 "[Discuss] Data Telemetry: Remote list"
Should we maintain a list of well-known shippers and patterns that can be updated per stack version (like we do now) or should we allow us to have an external repository with the remote list that Kibana can fetch and report accordingly?

Challenges:

- [ ] Is it version-based? Will we maintain different lists for each version?
- [ ] How do we report the data to notify which list the remote Kibana

[2021-01-11 15:12] elasticmachine commented on #87854
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 15:22] alex-fedotyev commented on #87673
Do you have a visual to explain a problem so I can understand better?

From the user perspective, the goal is to understand how service health has been evolving during the time period in question, and overlay that health timeline with the service performance, alerts and deployment events for visual validation and correlation.

[2021-01-11 15:24] myasonik commented on #87787
Basically resolved in 7.11, future enhancements planned for 7.12 and 7.13

[2021-01-11 15:24] #87787 closed

[2021-01-11 15:25] mostlyjason commented on #87841
We discussed this in the weekly meeting and decided to show a message telling the user to upgrade. We should probably hide the entire embedded logs UI since the dropdown menus don't work. It could say something like this:

I do see some logs in the data stream `elastic.agent` for 7.10. I'm not sure if its includes this information or a subset of it. If its useful, we can add a line saying:

The lo

[2021-01-11 15:26] paulb-elastic commented on #87468
This appears to be working for me as expected on my instance

Running Kibana locally (`master` branch) with local docker Synthetics with `browser`, `http` and `icmp` monitors and a cloud instance of ES.

If I stop my docker Synthetic agent from running, the default `15 minute` filter will cause the Uptime screen to eventually show no data.  However, if I extend the time range (e.g. `today` or `las

[2021-01-11 15:28] jonathan-buttner commented on #87816
@manishgupta-qasource the redundant values are expected here. We took the route of exposing as much information about an event created by the elastic endpoint as possible.

[2021-01-11 15:49] ph commented on #87830
@Jen-Huang Can you link to the meta issue?

[2021-01-11 15:51] #85431 closed

[2021-01-11 15:56] nickofthyme commented on #87341
@stratoula thanks for that! Were you able to trigger a close when the color picker popover is blurred?

[2021-01-11 15:58] stratoula commented on #87341
Yes, if I recall correctly it works fine. Do you want to also check my implementation on the xy axis? Otherwise, no worries at all. I could create tomorrow a PR with this fix for the xy axis 😉

[2021-01-11 15:59] ph commented on #86992
@nchaulet can you investigate what is actually possible.

[2021-01-11 16:00] nkammah commented on #87613
The infra-release team is aware of the issue and working on fixing it - thanks for the ping.

[2021-01-11 16:01] paulb-elastic commented on #87468
@elastic/uptime is anyone else able to recreate this?  Is this a specific problem with `browser` monitor types only?

[2021-01-11 16:03] valeriy42 opened #87863 "[ML] Hyperparameter importance visualization"
Hyperparameter importance evaluation was implemented on the backend. It can now be retrieved using the `trained_models` API:
[code]

The response will contain the field `metadata.hyperparameters` which looks like this
[code]

Fields of interest for this issue are:
* `name` is the name of the hyperparameter
* `relative_importance` a value between 0 and 1 which gives the normalized importance value.

[2021-01-11 16:03] elasticmachine commented on #87863
Pinging @elastic/ml-ui (:ml)

[2021-01-11 16:04] #87616 closed

[2021-01-11 16:05] ErikvdVen opened #87864 "[Maps] Tooltip filter option using "is one of" operator"
**Describe the feature:**
At this moment it is only possible to add filters, by clicking on the little plus-sign behind a field (inside the tooltip which shows up after clicking a point on the map), for boolean, text and integer values. It would be great if there is an option for array or comma separated values as well, using the "is one of" operator instead of the "is" operator. See [this link](h

[2021-01-11 16:07] ymao1 commented on #61313
@mikecote That's a good point that just having `matching_documents` as an alert instance would not give any insight into exactly which documents match a query, which can be very useful.

Re: re-using alert types/code

* Security solutions offers a single alert type with an executor that handles all the different types of security solutions detection rules (Custom Query, Threshold, ML, EQL, Indicat

[2021-01-11 16:09] nickofthyme commented on #87341
Ok great. I'll put up a pr today with this change and you could review it tomorrow. Thanks!

[2021-01-11 16:11] ph commented on #86879
@mostlyjason to look into for the usecase

[2021-01-11 16:13] stacey-gammon commented on #77958
One note here is that it's a common point of confusion that API documentation means our typescript Plugin APIs, not REST APIs. We'll have to think of where/how to incorporate the REST API docs.

[2021-01-11 16:15] ph commented on #86267
Close for now, we only have a single ES output.

[2021-01-11 16:15] #86267 closed

[2021-01-11 16:17] mikecote commented on #61313
@ymao1

Gotcha, thanks! That makes sense with possibility of re-using / copying some code but overall we'd create a new alert type due to the other one being under the signals alert type. 👍

[2021-01-11 16:18] peteharverson commented on #87849
Note there is also an issue in the Single Metric Viewer with this type of job if model plot is not enabled.

![image](https://user-images.githubusercontent.com/7405507/104208373-7dbe9880-5428-11eb-8ec6-2d4e6e1e6c26.png)

[2021-01-11 16:18] joshdover commented on #57547
In terms of keeping this in line with log4j, I think a rewrite appender makes sense 👍 To simplify things a bit, we could omit the `kind: meta` and `mode: update` keys from the rewrite policy and only introduce them if we need these features in the future. For the properties, maybe this shape makes more sense:

[code]

That way multiple properties could be on the same policy, and we could still eas

[2021-01-11 16:25] phillipb commented on #87818
After discussing this in the team meeting, we decided to add the "APM", "Uptime" tabs. When you click those tabs instead of opening the tab it will redirect to the apm and uptime apps. We will add an icon next to those tab names to indicate that they will open in a new page.

[2021-01-11 16:25] janical opened #87865 "Inconsistent messaging on license expiry in degraded mode across Kibana apps"
**Kibana version:**
7.10

**Describe the bug:**
When a user is operating in degraded mode following the expiration of a Platinum trial license, the messaging is inconsistent across various Kibana apps which makes it difficult for the user to understand that they must revert to Basic or upgrade to Platinum in order to continue. For example:

- Graph section is greyed out
- ML section loads with “In

[2021-01-11 16:28] andrewvc opened #87866 "[User Experience] Page does not finish loading in firefox"
The user experience app does not finish loading in firefox, tested on our edge test cluster. No data is ever displayed, and the browser displays a warning that the page is using excessive CPU. Tested on Ubuntu 20.04 + Firefox

[2021-01-11 16:28] elasticmachine commented on #87866
Pinging @elastic/uptime (Team:uptime)

[2021-01-11 16:32] Zacqary commented on #85841
I can mark the CCS case as working if we're not targeting the Cloud CCS for this release, but I'd recommend tracking that as an issue for the future.

Still unable to get the two unchecked alerts above (missing monitoring data and threadpool rejection) to fire on my end.

[2021-01-11 16:32] elasticmachine commented on #84344
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-11 16:36] joshdover commented on #86301
If this is the case, then I don't think moving forward with this gets us much. We're likely to need to  do https://github.com/elastic/kibana/issues/86300, but since that requires some non-trivial changes to SO migrations, we had decided to delay that until after SO Migrations v2 has shipped.

@lukeelmers Could you confirm that the note in the doc above is accurate with the Elasticsearch (Distrib?)

[2021-01-11 16:37] katefarrar commented on #87818
After more discussion, we are going to remove the `close` text and just have the `x` icon (following the pattern used in the EUI flyout: https://elastic.github.io/eui/#/layout/flyout).

Also need to add another link to the left of `Open as page` that says `Create alert` with the `bell` icon that opens the Create alert flyout populated with the information from the specific node.

[2021-01-11 16:42] KOTungseth commented on #77958
@stacey-gammon are you referring to these REST API docs - https://www.elastic.co/guide/en/kibana/current/api.html? In the new docs system, we've found a home for them, and my plan is to start migrating them after 7.11 is released. But if not, sorry for the noise!

[2021-01-11 16:53] chrisronline commented on #85841
@Zacqary Thanks.

This one appears to be bugged now so great catch.

@igoristic Are you able to look into the threadpool rejection alert?

[2021-01-11 16:56] sgrodzicki commented on #87818
@katefarrar like this?

<img width="1280" alt="Screenshot 2021-01-11 at 17 51 52" src="https://user-images.githubusercontent.com/712836/104213199-540c6e00-5436-11eb-8144-3f396690c63a.png">
<img width="574" alt="Screenshot 2021-01-11 at 17 55 27" src="https://user-images.githubusercontent.com/712836/104213209-566ec800-5436-11eb-9103-a000f0964815.png">

[2021-01-11 17:00] katefarrar commented on #87818
@sgrodzicki yes! look like there is a tiny bit too much horizontal space between the bell icon and `Create alert`, but otherwise this is what I was thinking. Thanks for posting this!

[2021-01-11 17:02] afgomez commented on #85989
I don't think I have enough knowledge about stack monitoring to properly test this point.

- Does the user need specific roles?
- Do I need to configure this user somewhere? or just try to log in with it?
- Do I need to log in with the non-existing user in the local cluster? or the dedicated one?
- The "no access" page should appear in kibana in general or only in stack monitoring?

[2021-01-11 17:11] gmmorris opened #87874 "[Task Manager] When a Task's timeout is an invalid interval it can crash Task Manager"
This error happens at times when a task has an invalid timeout (such as `1.5s`).

[code]

I'm not sure what edge case causes it as trying to naively reproducing locally didn't result in that error, though it doesn happen consistently on https://github.com/elastic/kibana/pull/64853

[2021-01-11 17:14] elasticmachine commented on #87874
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-11 17:31] #87031 closed

[2021-01-11 17:31] yuliacech opened #87876 "[Index Management] ILM link in data streams details flyout should not reload the app"
The ILM policy link in data stream details panel causes a full page refresh when used. It should have an SPA friendly navigation.
<img width="1191" alt="Screenshot 2021-01-11 at 18 29 04" src="https://user-images.githubusercontent.com/6585477/104217065-2d9d0180-543b-11eb-82b4-e96d280223e1.png">

[2021-01-11 17:31] elasticmachine commented on #87876
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-11 17:45] cchaos commented on #87521
We're happy to help investigate, but I'm having a hard time replicating strictly using EUI's examples and EUiFlyout component. The thing about the Lens version specifically is that it's not using EuiFlyout exactly because I had to position it inside a specific container which EuiFlyout can't do out of the box.

Here's a codesandbox trying to emulate the different popover style content within an Eu

[2021-01-11 17:54] chrisronline commented on #85989
Yes, [monitoring_user](https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-roles.html#built-in-roles-monitoring-user)

For this test, you'll need to create a user with the `monitoring_user` role on dedicated monitoring cluster, but do not create that same user on your local cluster.

You can log into any user on the local cluster - there is no need to log into the dedicated cl

[2021-01-11 17:56] yuliacech commented on #86403
Hi @cjcenizal , yes I checked with the Fleet team about those data streams not having `managed-by:ingest-manager` in their metadata object. But I'll confirm with them if they would like to update those data streams since users would get more consistent information in both apps. Thanks for bringing this up!

[2021-01-11 17:58] jfsiii commented on #84745
Closing this because no unique work left in this ticket. All items [described here](https://github.com/elastic/kibana/issues/84745#issuecomment-750143516) are either fixed or tracked in linked tickets.

[2021-01-11 17:58] #84745 closed

[2021-01-11 18:10] Conky5 commented on #87613
The elastic-agent artifacts for the 7.10.2 build candidate (https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html) have been re-built and re-signed to include the fully signed endpoint-security windows artifacts.

[2021-01-11 18:27] #87453 closed

[2021-01-11 18:31] chrisronline commented on #85847
@ravikesarwani Are you aware of this limitation? https://github.com/elastic/kibana/issues/85847#issuecomment-756419768

[2021-01-11 18:36] maggieghamry opened #87893 "[TSVB] Derivative aggregation cannot be sorted"
**Describe the feature:**
We would like to build a chart to show the most rapidly growing indices. Currently we have the following data pattern in the index:
`{ "index": "indexname", "sizeInBytes": 100000000, "timestamp": "2021-04-03 13:50:00"}`

This link seems to be relevant, but there doesn't seem to be a workaround: https://discuss.elastic.co/t/order-by-math-aggregation-in-tsvb-top-n-visualisa

[2021-01-11 18:37] elasticmachine commented on #87893
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-11 18:40] jasonrhodes commented on #69233
@elastic/observability-design how do we get this back on your radar so you can help us navigate this? The main issues are:

a) Multi-condition alerts, like @Zacqary explains [in this comment above in this thread](https://github.com/elastic/kibana/issues/69233#issuecomment-679272014), and

b) Ratio alerts, which @Kerry350 explains [here in the attached PR](https://github.com/elastic/kibana/pull/758

[2021-01-11 18:44] wylieconlon commented on #87893
This is a duplicate of https://github.com/elastic/kibana/issues/86459 and possibly others.

[2021-01-11 18:44] #87893 closed

[2021-01-11 18:44] wylieconlon commented on #87893
Related to https://github.com/elastic/kibana/issues/86184

[2021-01-11 18:47] maggieghamry commented on #87893
Thank you!

[2021-01-11 18:52] TinaHeiligers commented on #86162
@lukeelmers I've gone with intercepting `refreshMetrics()`, where we collect the metrics at the configured `ops.interval`, using a similar implementation to the legacy logging implementation to extract the data we're interested in and format it in the same manner:
<details>
<summary>Logging metrics from within refreshMetrics()</summary>

[code]

</details>

<details>
<summary>extracting and format

[2021-01-11 18:52] neptunian commented on #79298
Is there any concern about how long this tooltip can grow if the user has a very large number of custom metrics? @sorantis @katefarrar

[2021-01-11 18:55] #87826 closed

[2021-01-11 18:58] wylieconlon commented on #86459
Same with derivative and other pipelines: this is because Elasticsearch doesn't support sorting on pipelines.

[2021-01-11 19:01] rashmivkulkarni opened #87897 "[ILM] - Delete button is enabled for the ILM policies created by ES."
Kibana version: 7.11.0 BC2

Elasticsearch version: 7.11.0BC2

Browser version: chrome latest

Browser OS version: OS X

Original install method (e.g. download page, yum, from source, etc.): from staging

Description:

 It seems like the `Delete` button is enabled for the ILM policies created by ES. Upon deleting the same, it shows an error message that it is associated with an index as shown in th

[2021-01-11 19:03] elasticmachine commented on #87897
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-11 19:06] andrewvc commented on #87468
I can confirm that this is expected behavior. https://github.com/elastic/kibana/issues/56465 examines this situation in more detail, but there's no simple fix I can recommend that fits with our current roadmap ATM

[2021-01-11 19:07] andrewvc commented on #87468
I'm going to close this based on that, feel free to re-open if I'm missing something

[2021-01-11 19:07] #87468 closed

[2021-01-11 19:21] jonathan-buttner opened #87900 "[Saved Objects] Support type changing and document splitting"
While designing a new feature for our Cases plugin I came up with a use case to change a saved object's `type` field during a migration and/or splitting an existing saved object into multiple saved objects. Here is the object I'm referring to: https://github.com/elastic/kibana/blob/master/x-pack/plugins/case/server/saved_object_types/cases.ts#L12

For my specific use case I was thinking of extract

[2021-01-11 19:21] elasticmachine commented on #87900
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 19:25] Marty commented on #41600
This would help me much right now.

[2021-01-11 19:27] bhavyarm opened #87901 "iFrame is not accessible on incognito chrome window"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest (incognito window)

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user tries to open iFrame from Kibana in an incognito window - Kiban

[2021-01-11 19:27] elasticmachine commented on #87901
Pinging @elastic/kibana-security (Team:Security)

[2021-01-11 19:32] #87156 closed

[2021-01-11 19:44] igoristic commented on #86339
Closing since the fix was merged already. Feel free to reopen though

[2021-01-11 19:44] #86339 closed

[2021-01-11 19:44] elasticmachine commented on #87901
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 20:27] jfsiii commented on #84056
## TL;DR: ##

It's not only this view; multiple Fleet API endpoints report `8.0.0` instead of `8.0.0-SNAPSHOT`. That's how it's stored in the `fleet-agent` saved object. I'm not sure if this is a bug or merely unexpected/confusing.

I'll keep digging tomorrow, but pinging @paul-tavares @nchaulet @jen-huang for their thoughts

## Longer version ##
I tested this as described but used `8.0.0-SNAPSHOT

[2021-01-11 20:39] #87160 closed

[2021-01-11 20:43] nchaulet commented on #84056
In Fleet we are displaying the version as it's reported by the agent, is there any value to display the suffix too (You can know if the agent is using a snapshot build in the details page, I personally think is enough for my use case)? and if it's this case should it be reported by the agent in the version string?

[2021-01-11 20:48] chrisronline commented on #85847
@Zacqary Did you configure CCS in the cloud UI, like:
<img width="1430" alt="Screen Shot 2021-01-11 at 3 48 22 PM" src="https://user-images.githubusercontent.com/56682/104236378-76958b80-5424-11eb-9854-4f3883fdcff9.png">

[2021-01-11 20:55] willemdh commented on #85129
@sgrodzicki @mukeshelastic muke

I'll tell you why (for me) I'm not a big fan of the categorization ml job:

=> Imho the categorization ml job is consuming far too much resources for the values it returns. I had to increase the memory limit of the ml job multiple times. Closing and reopening the job takes ages and after enabling it since 7.6 I'm seriously wondering why I ever enabled it. (it's cur

[2021-01-11 20:56] hbharding commented on #69233
Thanks for bringing this back up @jasonrhodes - I tried to do some quick designs for the multi-condition alerts awhile back, but hadn't considered how this would work with ratio alerts. I think we'll need to take another look at this to accommodate both types. Unfortunately I don't have the bandwidth to tackle this in 7.12, but perhaps we can get this scheduled for the 7.13 cycle. We can probably

[2021-01-11 21:05] Zacqary commented on #85847
Yep, I used the `Add deployment` button and did something like that. My `ccs1` was a "Cross-Cluster Search" preset and my `ccs2` was an "I/O Optimized" preset.

[2021-01-11 21:08] chrisronline commented on #85847
Can you share screenshots of your setup? With the above, it seems to work for me:

<img width="1185" alt="Screen Shot 2021-01-11 at 4 08 03 PM" src="https://user-images.githubusercontent.com/56682/104238205-397ec880-5427-11eb-9d02-19fcebe401f7.png">

[2021-01-11 21:14] EricDavisX commented on #86742
we still don't have repro steps, confirming.  And I am of the opinion that we need to know more concretely what, if anything, is being impacted by the (we believe) Kibana + ES connection not being available.  If the system always can recover, per the design, then I am ok to consider it NOT a blocker for 7.11 - but I recommend to be sure what is impacted before making the call.

It is a somewhat an

[2021-01-11 21:16] #62824 closed

[2021-01-11 21:24] bhavyarm opened #87929 "[Chrome]User cannot login to iFrame"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user shares a dashboard in an iframe and tries to login Kibana just keeps looping the l

[2021-01-11 21:24] elasticmachine commented on #87929
Pinging @elastic/kibana-core (Team:Core)

[2021-01-11 21:25] bhavyarm commented on #87929
cc @legrego

[2021-01-11 21:31] mostlyjason commented on #76843
When a user attempts to take an action, a generic error message could say something like:

It'd be nicer if we had some metadata available in Fleet that allowed us to offer a more specific/helpful message. Even better if we could link to the appropriate cloud console URL and deployment ID.

What do we think is possible given our technical capabilities?

[2021-01-11 21:32] bhavyarm commented on #87929
Please note security is enabled, trial license but I don't have TLS set up in my local. Thanks!

[2021-01-11 21:35] #86331 closed

[2021-01-11 21:42] Zacqary commented on #85847
Tried it again and it works now. May have missed a step in my first attempt; it's possible I didn't log into ccs2's Kibana to enable Stack Monitoring.

[2021-01-11 21:42] #85847 closed

[2021-01-11 21:54] pmuellr opened #87933 "[alerts] fix up the docs on mustache escaping"
The current docs for mustache escaping of alert context variables in action parameter templates isn't quite right - from about 2/3 down on the page https://www.elastic.co/guide/en/kibana/7.11/defining-alerts.html :

What's not quite right about it is that we changed the way we do escaping, so that most of the time, there is no longer any escaping going on at all, as it's not really needed.  We sho

[2021-01-11 21:54] elasticmachine commented on #87933
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-11 22:21] brianseeders commented on #58024
@streamich would you mind taking a look at what I have so far here? https://github.com/elastic/kibana/pull/87701

[2021-01-11 22:40] jfsiii commented on #84056
@nchaulet yeah, I think this is more a product question

Pinging @mostlyjason @hbharding @ph @ruflin see https://github.com/elastic/kibana/issues/84056#issuecomment-758203022

[2021-01-11 23:06] sqren commented on #50213
sgtm 👍

[2021-01-11 23:11] bhavyarm commented on #87929
Please note this is a chrome specific bug. And not a regression. I reproduced it in 7.10.1 too. Thanks!

[2021-01-11 23:37] jen-huang commented on #84056
FYI elastic.agent.version != agent.version. The latter refers to the _Endpoint_ agent.

[2021-01-12 00:17] bhavyarm opened #87948 "If you click edit on shared iframe and then click cancel - top nav bar, time filter and query bar disappears from the frame"
**Kibana version:** 7.11.0 latest snapshot

**Elasticsearch version:** 7.11.0 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user shares iframe through embeddable iframe and includes top menu - clicking on edit o

[2021-01-12 00:18] elasticmachine commented on #87948
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-12 00:24] mukeshelastic commented on #79763
@jeffvestal and we talked through the UX this morning. I have modified the description of the issue to reflect the proposed UX. If anyone wants to view the recording of our conversation, let us know.

[2021-01-12 00:36] #87818 closed

[2021-01-12 00:37] jen-huang opened #87949 "[Fleet] `True` displayed instead of icons in agent details"
In agent details, the value for `Monitor logs` and `Monitor logs` reads `True`. This is a strange UX - shouldn't it display a check (or cross) icon instead? I'm not sure what the design spec originally was.

![image](https://user-images.githubusercontent.com/1965714/104254129-02121b00-542b-11eb-8916-2f8b4f74b060.png)

[2021-01-12 00:37] elasticmachine commented on #87949
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-12 00:37] elasticmachine commented on #87949
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-12 00:38] mukeshelastic commented on #79770
@jeffvestal and I talked through the UX here and we think, we could start with calling new column as MLCategory and adding a tooltip for that column describing that this column applies to only categorization type of ML anomalies and for logs rate type of anomalies, we will use "--" to show that this doesn't apply to logs rate type of anomalies.

@katrin-freihofner if you have any other suggestions

[2021-01-12 00:52] alex-fedotyev commented on #83665
@felixbarny - this is very interesting, as with customers we are observing the opposite, i.e. it is extremely hard to identify where the problem is while looking at span by type percentage chart.

Here is an example:
![image](https://user-images.githubusercontent.com/61838744/104253938-87490000-542a-11eb-8bdf-fcdc6d4c3e3d.png)
Looking at the screenshot above, it is impossible to tell whether any o

[2021-01-12 00:56] jen-huang commented on #87124
The logs about endpoint security that are shown under `elastic_agent` dataset are just that: Elastic agent logging information about the state of its processes, similar to ones for filebeat and metricbeat. Example of such log messages:
[code]

So those logs are not indicative of `elastic_agent.endpoint_security` being missing from the Datasets dropdown. There are simply no logs under that dataset

[2021-01-12 01:02] #87419 closed

[2021-01-12 01:06] mukeshelastic commented on #85129
@willemdh Thanks for the candid feedback. #60390 enables the dataset filtering and will hopefully alleviate the high memory issue because you can have better control on the datasets you want to apply the categorization job on.

 #61900 can help you assess the jobs unsuitable for categorization and then you can use #60390 can help you filter those datasets to not run into the issues you ran into an

[2021-01-12 01:12] bhavyarm opened #87953 "Functional UI tests for iFrames with authentication"
We need functional UI tests for iframes with autentication

[2021-01-12 01:12] elasticmachine commented on #87953
Pinging @elastic/kibana-qa (Team:QA)

[2021-01-12 01:19] jfsiii commented on #84056
@jen-huang that was my suspicion. They have different IDs.

Now I'm trying to figure out if we can/should have a consistent treatment of -SNAPSHOT in version strings between Endpoint Agent and Elastic Agent.

[2021-01-12 01:48] liza-mae opened #87956 "Reporting error page crashed on larger dashboards - aarch64"
**Kibana version**: 7.11.0 BC2

**Elasticsearch version**:  7.11.0 BC2

**Server OS version**: Ubuntu 20.04 aarch64

**Browser version**: Chrome

**Original install method (e.g. download page, yum, from source, etc.)**:
staging

**Description of the problem including expected versus actual behavior**:
Seeing page crashed error sometimes on reporting.  The diagnostic does not show any error and not

[2021-01-12 01:48] elasticmachine commented on #87956
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-12 02:09] spong commented on #50213
So I think this is going to be a little problematic on the Security side with the fields we're looking to expose via search within Rules Management. For instance, one of the most requested searchable fields is `MITRE ATT&CK Threats/Techniques`, so for the below rule, users would expect to be able to search just for `T1555` or `Password Stores` for example, and get back any rule with the below tech

[2021-01-12 02:20] andreadelrio commented on #85941
![image](https://user-images.githubusercontent.com/4016496/104260752-187f9d00-5452-11eb-9f6b-266636809620.png)

@majagrubic  I think option 2 works. I'd add a title like in the screenshot above.
Questions:

- Do we want to add the type of field token to the left of the field name? (i.e. **t** for string, etc)
- Will the multifields also have the four actions available? (i.e. filter for value, filt

[2021-01-12 03:03] alexfrancoeur commented on #17298
Thanks for the support @ryankeairns, we knew this one might be tricky

[2021-01-12 03:23] myasonik commented on #87791
Duplicate of https://github.com/elastic/kibana/issues/79933

Fixed in 7.11

[2021-01-12 03:23] #87791 closed

[2021-01-12 03:25] myasonik commented on #87788
Not Lens specific and duplicate of https://github.com/elastic/kibana/issues/79927

[2021-01-12 03:25] #87788 closed

[2021-01-12 03:26] alexfrancoeur commented on #76778
@TinaHeiligers @joshdover do we have plans to communicate this capability to relevant stakeholders in a similar fashion as with [deep links](https://github.com/elastic/kibana/issues?q=is%3Aissue+is%3Aopen+gs+deep+link)?

[2021-01-12 03:48] myasonik commented on #87789
They query bar is not specific to Lens. Merging with the other query bar issue into one generic issue for it: https://github.com/elastic/kibana/issues/79927

[2021-01-12 03:48] #87789 closed

[2021-01-12 03:50] elasticmachine commented on #87790
Pinging @elastic/eui-design (EUI)

[2021-01-12 03:50] myasonik commented on #87790
As EuiTour gets implemented in more areas, we need to resolve some of the a11y issues we shipped the Tour beta with

[2021-01-12 03:51] tsullivan commented on #87956
Hi, does it work with a smaller dashboard?

[2021-01-12 04:21] dmcnulla commented on #66946
I have the same problem except we do not have a tie-breaker field. I have 6 digits to the right of the seconds decimal point. We could not have all six digits used in the timestamp field so we hacked our own timestamp field that includes all 6 digits and is sortable. The sort is not used in "view surrounding documents" so our log entries are out of order forcing the user to do mental gymnastics to

[2021-01-12 04:40] alexfrancoeur commented on #87402
Is the issue here that in product, we don't provide any suggestions or hints that quotes need to be used if there's white space?

[2021-01-12 05:15] kibanamachine opened #87968 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration v2 migrating from 7.3.0-xpack version creates the new index and the correct aliases"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11075/)

[2021-01-12 05:51] vipulsrivastava-qasource commented on #87613
Hi @Conky5 and @EricDavisX

Thank you for the update.

We have revalidate this issue with updated build candidate link : (https://staging.elastic.co/7.10.2-e6b2b8c2/summary-7.10.2.html) and found that issue is fixed.  We are able to deployed Windows 10 with test signing OFF .Please find the below observation and build details.

Platform: Staging
Version: 7.10.2
Commit: a0b793698735eb1d0ab1038f8e5d

[2021-01-12 07:03] pgayvallet commented on #87929
I suspect this may simply be caused by the mismatch between the protocol used by the page the iframe is on (`file:`) versus the iframe's target protocol (`http:`)

@bhavyarm have you trying with an iframe served from a webserver instead of opening the page directly using `file://path-to-page`?

[2021-01-12 07:14] pgayvallet commented on #87901
This is a browser's behavior that we don't have any control over.

Accessing the sessionStorage from an iframe is considered as accessing third party cookies for chrome, and is disabled by default in anonymous mode, for security reasons.

Workaround is to manually enabled third party cookies in anonymous mode from chrome's setting page. User will need to check `all all cookies` here:

<img width="

[2021-01-12 07:22] pgayvallet commented on #87900
@rudolf I think we may already have an open issue for this one, but I can't find it. Do you have more luck that me?

[2021-01-12 07:36] formgeist commented on #87483
@elastic/apm-ui Any chance we can bump the priority of this? I see this as a UI bug that will confuse most users looking at the new Service overview compared to other views. Seems small but it's important to align this terminology.

[2021-01-12 07:42] felixbarny commented on #83665
It does, and it makes a lot of sense. I guess it depends on the use case and the situation. But what I still worry about a bit is that you won't be able to get a sense of where time is spent in the areas where there's no spike. That could be solved in multiple ways
* by users just selecting a timeframe without a spike
* by adding back the gauges for the average percentage of app etc in the current

[2021-01-12 08:11] restrry commented on #87929
I believe that's the reason.
Additionally, cookies might be restricted to access from another domain. To allow that you need to set in `kibana.yml`
[code]
FYI we have a test for Kibana loading in an iframe on `localhost`
https://github.com/elastic/kibana/blob/628dd17be6f88b2f1d035486f60ba79f097ebe51/x-pack/test/functional_embedded/tests/iframe_embedded.ts#L35
Probably we should extend it for a cas

[2021-01-12 08:16] kibanamachine commented on #87968
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11078/)

[2021-01-12 08:51] MadameSheema opened #87973 "[Security Solution][Detections] Incorrect warn message when deleting value lists that were linked to deleted rules"
**Describe the bug:**
- When a user tries to delete a value list that was linked to a deleted rule and the user tries to delete the value list, we tell the user the list is linked to the deleted rule.

**Kibana/Elasticsearch Stack version:**
- 7.11.0 - BC2

**Initial status:**
- To have a rule created linked to a value list
- To have deleted the rule

**Steps to reproduce:**
1. Navigate to Securit

[2021-01-12 09:26] pheyos commented on #86953
The Jenkins job is not available for investigation anymore and it didn't fail again in the last 15 days, so I consider this issue to be transient. Will close for now (`kibanamachine` will re-open if it happens again and then we can take a closer look).

[2021-01-12 09:26] #86953 closed

[2021-01-12 09:45] #84750 closed

[2021-01-12 09:46] muskangulati-qasource opened #87979 "[Ingest Manager] Deleted enrollment token sends data & access the policy"
**Describe the bug**
Deleted enrollment token send data & access the policy

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent should be deployed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Fleet" from the left navigation bar.
3. Only one enrollment token should exist.
4. Delete/Revoke the

[2021-01-12 09:46] elasticmachine commented on #87979
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-12 09:47] muskangulati-qasource opened #87980 "[Security Solution] Default endpoint exception is not deleted from UI under the Exception list tab."
**Describe the bug**
Default endpoint exception is not deleted from UI under the Exception list tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Detections" tab under Security from the left navigation bar.
3. Click on 'Manage Detection Rules' and lo

[2021-01-12 09:47] muskangulati-qasource opened #87981 "[Security Solution] The wrong package name is shown for 'Endpoint Security' integration"
**Describe the bug**
The wrong package name is shown for 'Endpoint Security' integration.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Host should be deployed with 'Endpoint Security' integration.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Fleet" tab from the left navigation bar.
3. Go to

[2021-01-12 09:51] pheyos opened #87982 "[ML] DFA models - view training data link doesn't activate quick filter"
**Found in version**
- 7.11.0-bc2

**Browser**
- Chrome

**Steps to reproduce**
- For a DFA model connected to a job, click the `View training data` row action

**Expected result**
- The corresponding result view is open and has the `Training` filter set

**Actual result**
- The search field of the result view is filled with `ml.is_training : true` but the `Training` quick filter is not activated

[2021-01-12 09:51] elasticmachine commented on #87982
Pinging @elastic/ml-ui (:ml)

[2021-01-12 09:51] pheyos opened #87983 "[ML] DFA maps - node actions are available for user with view only permissions"
**Found in version**
- 7.11.0-bc2

**Browser**
- Chrome

**Steps to reproduce**
- Create and run a DFA job
- Log in as ML Viewer
- Open the DFA job in the maps view
- Open the flyout for index and job nodes and view the node actions

**Expected result**
- Node actions to create, clone and delete jobs are disabled or not present at all

**Actual result**
- The node actions to create, clone and dele

[2021-01-12 09:51] elasticmachine commented on #87983
Pinging @elastic/ml-ui (:ml)

[2021-01-12 09:54] walterra opened #87984 "[ML] Data Frame Analytics / Transforms: Data Grid Expanded document view"
Explore if we can reuse Discover's expanded document view for data grids:

![image](https://user-images.githubusercontent.com/230104/104298516-5b7a5880-54c4-11eb-87cf-d2a80493a074.png)

[2021-01-12 09:54] elasticmachine commented on #87984
Pinging @elastic/ml-ui (:ml)

[2021-01-12 09:59] sqren opened #87986 "[APM] Register APM aliases for Kibana Global Search"
Register terms like "Traces", "tracing" and "distributed tracing" as aliases for APM.

Related: https://github.com/elastic/kibana/pull/85686

[2021-01-12 09:59] elasticmachine commented on #87986
Pinging @elastic/apm-ui (Team:apm)

[2021-01-12 10:05] kibanamachine opened #87988 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/basic/tests/cases/patch_cases·ts - case api basic patch_cases alerts updates alert status when the status is updated and syncAlerts=true"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10967/)

[2021-01-12 10:06] muskangulati-qasource commented on #87979
@muskangulati-qasource please review

[2021-01-12 10:07] muskangulati-qasource commented on #87980
@muskangulati-qasource please review

[2021-01-12 10:07] muskangulati-qasource commented on #87981
@muskangulati-qasource please review

[2021-01-12 10:09] timroes opened #87990 "Expose data service in the alert execution method"
Currently you only get a scoped elasticsearch client and saved object client passed into the `services` of the `executor` method of an alert type. Since we try to encourage usage of the `data` plugin and its services across Kibana it would be good if we could get that injected too as a service.

Also to scope that at the moment you'll require a `KibanaRequest` (for the same reasons, that most like

[2021-01-12 10:09] elasticmachine commented on #87990
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-12 10:11] peteharverson commented on #87982
Closing as this has already been raised in https://github.com/elastic/kibana/issues/84500.

[2021-01-12 10:16] katrin-freihofner commented on #80166
@hbharding could you please add an example of the unified metadata table here? Do we have a common component already and where can it be found?

[2021-01-12 10:22] timroes opened #87992 "Allow usage of saved object references in alerts"
When storing alerts at the moment there is no way (as far as I could tell) for the alert type (implementation) to make use of saved object references if the alert itself needs to reference other saved objects.

As an example the discover alert will serialize a search source and thus have a reference onto an index pattern saved object stored inside the alert. If this is not properly put into the sa

[2021-01-12 10:22] elasticmachine commented on #87992
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-12 10:26] simitt commented on #87501
Just in case this isn't clear to everyone, the new indexing strategy will ingest like this:
[code]

The new defaults for the events should therefore look like this:
[code]
Not quite sure if/what we need to change for the `index-pattern`.

[2021-01-12 10:35] timroes opened #87993 "Provide a viewInApp short URL for alerts"
It would be nice to have a URL from the alerting framework to not only view the alert, but triggers its viewInApp mode, i.e. I would like to have a URL like `http://kibana.team/alerts/<id>/viewInApp` that will open that alert inside the actual app, e.g. if it was a Discover alert it should jump to the corresponding discover view, that you would also go to, when using the "view in app" feature on t

[2021-01-12 10:36] elasticmachine commented on #87993
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-12 10:37] rudolf commented on #87900
We have https://github.com/elastic/kibana/issues/26602 but it was closed since it was no longer a requirement.

[2021-01-12 10:40] weltenwort commented on #79770
:thought_balloon: The category pattern is about as long as the message it matches, which is more than one line most of the time. Putting it into an additional column, which is blank for all other anomaly types, probably wouldn't lead to a desirable outcome. It would probably have to be a second row or some "detail view".

[2021-01-12 10:42] sqren commented on #83665
If a spike is latency is caused by database outage isn't that easier to spot when breakdown chart uses relative units instead of absolutes?
I agree that the user can not identify the spike in the first place purely from the breakdown chart, but that's what they have latency/traffic for.

If we can make a non-intrusive UI for this and it's trivial to implement we should consider doing this.

[2021-01-12 10:43] sqren commented on #87483
Bumped to a P2. Is a low hanging fruit so agree we should do it for 7.11

[2021-01-12 10:52] sqren commented on #87501
Thanks for clarifying @simitt

Good question. We probably should change that to `*apm*` to capture everything

[2021-01-12 10:54] kevinlog opened #87995 "fleet_enroll permissions are not migrated when upgrading Kibana/Elasticsearch from 7.10 -> 7.11"
**Kibana version:**
7.11, 8.0

**Elasticsearch version:**
7.11, 8.0

**Describe the bug:**
We are looking to ship a new feature in 7.11 where the Elastic Endpoint will ship diagnostic alerts to a `hidden` index which will be read by our own telemetry server.  These alerts are meant to inform the protections team about how their ransomware model is performing so they can continue to tune the model

[2021-01-12 10:54] elasticmachine commented on #87995
Pinging @elastic/kibana-security (Team:Security)

[2021-01-12 10:55] dgieselaar commented on #87501
The permissions of the `kibana_system` role need to be updated as well (in ES, and possibly cloud, depending on how far they are with migrating to using the `kibana_system` role). We also need to think about users that have specified custom indices.

[2021-01-12 11:09] rudolf commented on #87900
Because migrations need to be deterministic we will have to ensure that the split documents always get the same id's on all the Kibana nodes that connects to the same Elasticsearch instance. We could generate a UUIDv5 from the UUID of the object that's being split, the migration version and a counter (effectively `SHA1(sourceId + migrationVersion + counter)`).

@jonathan-buttner While splitting do

[2021-01-12 11:17] manishgupta-qasource commented on #87981
Reviewed & assigned to @kevinlog

[2021-01-12 11:18] manishgupta-qasource commented on #87980
Reviewed & assigned to @MadameSheema

[2021-01-12 11:19] manishgupta-qasource commented on #87979
Reviewed & assigned to @EricDavisX

[2021-01-12 11:26] elasticmachine commented on #87784
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-12 11:26] pgayvallet commented on #84977
I started a POC of the implementation in https://github.com/elastic/kibana/pull/87996. It should be rather straightforward.

My main interrogation here is about the design. This is the current import modal when the import succeeds:

<img width="266" alt="Screenshot 2021-01-12 at 12 23 10" src="https://user-images.githubusercontent.com/1532934/104308509-14469480-54d1-11eb-8886-19b30b94badc.png">

I

[2021-01-12 11:27] sqren commented on #87501
[This](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java#L145-L147), right?

True. Users who already specified custom indices and then moves to fleet won't see the updated default values presented here.
Perhaps we shouldn't solve this problem by updating the defaults. Perhaps we should har

[2021-01-12 11:31] kevinlog commented on #87981
@manishgupta-qasource @muskangulati-qasource

the name appearing in the config shown in this bug is the internal name that we use to name the package in the code.  IMO it's OK to name this `endpoint` since it is not fully a part of the branding of the package.

I don't think we should make a change for this one.

FYI @ph @ferullo

[2021-01-12 11:31] #87981 closed

[2021-01-12 11:40] muskangulati-qasource commented on #87816
Hi @jonathan-buttner,

Thank you for the information!
Since it is expected, we are closing this ticket!

Thanks!!

[2021-01-12 11:40] haziqabc commented on #17100
+1

[2021-01-12 11:41] haziqabc commented on #13928
+1

[2021-01-12 11:50] MadameSheema commented on #87980
@peluja1012 @spong can you please take a look at this? feel free to update the impact if you don't agree with it.

[2021-01-12 12:06] sorantis commented on #79298
@neptunian This is not a bug, we didn't have this feature before.
If the tooltip size is a technical concern then we can show only the selected custom metric + the default ones.
cc @katefarrar

[2021-01-12 12:21] paulb-elastic commented on #87866
As a comparison, I have used this in Firefox in both Windows (FF 84.0.1) and Debian (FF 78.5.0) and the User Experience app is working for me.

[2021-01-12 12:22] kibanamachine commented on #83765
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10969/)

[2021-01-12 12:33] legrego commented on #87995
I'm not sure that @elastic/kibana-security is the right team to triage this one. It appears that `fleet_enroll` isn't a `reserved` (built-in) role, so I'm assuming this is being created by an explicit API call to Kibana/ES, as opposed to a role that we programmatically manage and version alongside the stack (See ES's [`ReservedRoleStore`](https://github.com/elastic/elasticsearch/blob/master/x-pack

[2021-01-12 12:33] deepikakeshav-qasource opened #88002 "[Security Solution] Empty "Created by" is displaying in the incident for alerts when the connector is added from Cases."
**Description**
Empty "Created by" is displaying in the incident for alerts when the connector is added from Cases.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Connector should be added from the cases tab.

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2. Cre

[2021-01-12 12:34] deepikakeshav-qasource commented on #88002
@manishgupta-qasource Please Review

[2021-01-12 12:37] kevinlog commented on #87995
@legrego you are correct in your analysis regarding `fleet_enroll`.  It also wasn't my intention to ping kibana/security, but rather the Security Solution team, I corrected the labels.

Apologies for the confusion.

[2021-01-12 12:43] legrego commented on #87901
I'm not sure if this is feasible or not, but it would be great if we could test for this when Kibana is bootstrapping the client-side, and display a usable Fatal Error instead

[2021-01-12 12:51] manishgupta-qasource commented on #88002
Reviewed & Assigned to @MadameSheema

[2021-01-12 12:56] #86369 closed

[2021-01-12 12:57] kevinlog commented on #87995
Update:

- Revert the changes that add a leading `.` to the diagnostic index name.  This change will not require any extended permissions for the `fleet_enroll` user and so the migration issues will not be present

For Option 1, I have PRs that will roll back the leading `.` in the diagnostic name.  This is backtracking a bit since I know we want to include it as the proper naming convention.

PRs

[2021-01-12 12:59] afharo commented on #85811
We should add a whitelist of fields to report. That will also help with the finer definition of the schema.

[2021-01-12 13:00] paulb-elastic opened #88007 "[Uptime] More prominent identification of errors in the waterfall chart"
When using the waterfall chart to identify problems, it can be difficult to pick out which of the requests have resulted in an error, particularly when looking at the bar/chart part of the waterfall.

We currently show a badge next to the URL when there is an error with the request like this:
![image](https://user-images.githubusercontent.com/70908889/104317549-00e9f800-54d6-11eb-8d02-b74f715cf068

[2021-01-12 13:00] elasticmachine commented on #88007
Pinging @elastic/uptime (Team:uptime)

[2021-01-12 13:07] rudolf opened #88009 "saved objects management relationships route returns 500 if reference does not exist"
Clicking on "Relationships" in saved objects management for a saved object which has references which doesn't exist shows "Error undefined response". This is because the route `/api/kibana/management/saved_objects/relationships/` returns a 500.

Before calling `injectMetaAttributes` we should filter out error responses from the bulkGet operation https://github.com/elastic/kibana/blob/master/src/pl

[2021-01-12 13:07] elasticmachine commented on #88009
Pinging @elastic/kibana-core (Team:Core)

[2021-01-12 13:08] tasnadipeter commented on #87785
Hi weltenwort !

Thanks for the help! We have solved the problem with your help.

Peter

[2021-01-12 13:08] #87785 closed

[2021-01-12 13:12] peteharverson opened #88010 "[ML] Switch file data visualizer to use new text-structure plugin for find file structure API"
A `text-structure` plugin has been [created](https://github.com/elastic/elasticsearch/pull/67123), which is the new home of the find file structure API. The file data visualizer should switch to using the new `_text_structure/find_structure` URL. The old `_ml/find_file_structure ` [URL](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/ml-find-file-structure.html) is still available in

[2021-01-12 13:12] elasticmachine commented on #88010
Pinging @elastic/ml-ui (:ml)

[2021-01-12 13:17] patreka opened #88011 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-01-12 13:17] elasticmachine commented on #88011
Pinging @elastic/apm-ui (Team:apm)

[2021-01-12 13:18] #85804 closed

[2021-01-12 13:21] #88011 closed

[2021-01-12 13:21] simitt commented on #87501
That would mean hardcode the _new_ values + combine them with either the current default values or the user provided values? Sounds good to me. If they are not using the new indexing strategy, nothing changes; in case they do, they would still see old and new data, which sounds great.

[2021-01-12 13:27] sgrodzicki commented on #65174
Given that a decision has been made around this:

_Originally posted by @mukeshelastic in https://github.com/elastic/kibana/issues/79763_

@jasonrhodes should we consider closing this?

[2021-01-12 13:42] kertal commented on #72647
this can also be reproduced without refresh interval but with re-requesting data:

![discover-closing-open-document-on-refresh](https://user-images.githubusercontent.com/463851/104321634-2e3da280-54e4-11eb-9ad6-7ca35bd65524.gif)

[2021-01-12 13:42] ph commented on #86472
@jen-huang We will convert this one into a meta issue right?

[2021-01-12 13:54] rudolf commented on #83056
It seems like we only detect missing index patterns if they're located in the `searchSourceJSON` whereas input controls store the index pattern in `params.controls[i].indexPattern`

https://github.com/elastic/kibana/blob/master/src/plugins/saved_objects/public/saved_object/helpers/apply_es_resp.ts#L70-L92

Created https://github.com/elastic/kibana/issues/88009 to track this specific issue.

[2021-01-12 13:57] pzl commented on #86237
This also might happen with the incoming transform 90d changes.

For instance, if there exist _only_ endpoint entries older than 90d, the transform will skip them for being too old, but the agents will exist, so we will get the "Endpoints enrolling..." messaging.

[2021-01-12 14:00] stevewritescode commented on #87995
Thanks @kevinlog for the great write-up and investigation!

I agree with your proposal; option 2 sounds like a good path forward. @pjhampton did some testing this morning with BC2 and confirmed that we're getting diagnostic alerts as expected, so I'd prefer to keep the current behavior for `7.11.0` in order to minimize risk on that release that is nearly done. That will give us time to revise and

[2021-01-12 14:00] ymao1 commented on #82960
Closed with https://github.com/elastic/kibana/pull/83934

[2021-01-12 14:00] #82960 closed

[2021-01-12 14:01] ymao1 commented on #82804
Fixed with https://github.com/elastic/kibana/pull/84707

[2021-01-12 14:01] #82804 closed

[2021-01-12 14:07] sqren commented on #87501
Yes, that's what I mean :)

[2021-01-12 14:07] kevinlog commented on #86237
@pzl great point.

I wonder if we can just update the call we make the check the Agents to filter out any that are older than 90 days so that when we make our comparison, they should line up.  thoughts?

FYI @ph - is there any "age off" in place for Agents?  Currently, we want to drop Endpoints that haven't communicated with ES for 90 days to reduce the amount of data we query.

[2021-01-12 14:09] kevinlog commented on #87995
Thanks @stevewritescode

Following from the above, I'll adjust the labels on this ticket to `impact:high` and targeted version `v7.11.1`

cc\ @joe-desimone

[2021-01-12 14:11] majagrubic commented on #85941
I think having field type next to the field name is optional; I don't think a lot of information is lost without it. We should add actions, yes, since the sidebar already has actions on those fields.

[2021-01-12 14:11] jasonrhodes opened #88015 "[Logs UI] Show all Logs anomalies in visualization, investigate swimlane as solution [R&D]"
We have long planned to use some sort of "swimlane"-like visualization for the Logs Anomalies page. The existing visualization does not allow for all types of Logs anomalies to appear at once. This ticket is to drive our understanding of the problems with the current visualization, the solution, and which technical implementations are available to us for whatever solution we choose.

AC:
* Answer

[2021-01-12 14:11] elasticmachine commented on #88015
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-12 14:16] kibanamachine commented on #87968
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11084/)

[2021-01-12 14:27] mdefazio commented on #84977
@pgayvallet , I apologize for the delay in getting this moving.  Perhaps its worth jumping on a quick call and we can sketch out where these warnings can live so you're not held up any longer

[2021-01-12 14:35] kobelb commented on #87995
:+1: for option 2 as well, it's the right long-term solution. Using a leading dot designates that it's an index managed by the Stack and removes any issues that may arise from the index being misinterpreted as an index storing the user's custom data.

[2021-01-12 14:36] elasticmachine commented on #87864
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-12 14:36] elasticmachine commented on #87968
Pinging @elastic/kibana-core (Team:Core)

[2021-01-12 14:36] elasticmachine commented on #87988
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-12 14:37] ymao1 commented on #87105
Screenshot from flaky test:
![Actions and Triggers app alerts list should display total alerts by status and error banner only when exists alerts with status error](https://user-images.githubusercontent.com/13104637/104328335-b8bcdc80-54b9-11eb-8196-c66a3455137c.png)

[2021-01-12 14:38] mostlyjason commented on #84056
Is anyone here aware of the end-user use cases for including -SNAPSHOT in the version? I use it for telemetry to filter out internal testing, but I'm not sure how a customer would use it. I'd vote for won't fix unless we can think of a use case for it.

Also pinging @kevinlog @caitlinbetz because they may be aware of a use case for it. It'd be nice to have consistency but its probably not urgent.

[2021-01-12 14:43] lukeelmers commented on #57547
Yeah this would certainly save some effort, although my takeaway from the discussion in https://github.com/elastic/kibana/issues/13241 was that we still want to provide the ability to do this.

FWIW I don't think it would be enormous task to create the simplest iteration of a rewrite appender as you describe above (with a policy that will only change properties in the meta). However if we don't ne

[2021-01-12 14:43] mistic commented on #87968
Skipped as it being flaky over the last hours.

master/8.0: 638b5e2
7.x/7.12: 569a7b2

[2021-01-12 14:46] skh commented on #84056
I'm not sure this is a valid use case, but if we show -SNAPSHOT we (and users, and support) see immediately when there's an unsupported build running somewhere. This could be helpful at some point.

[2021-01-12 14:48] thomasneirynck commented on #75894
Closing due to https://github.com/elastic/kibana/pull/87867

In hindsight, this proposal here will cause more issue than it's worth. Maps now has geometry-filters to split out points and lines/polygons to different mapbox-layers. This is required to have point/icon styling and fill/outline stlying behave "intuitively" (e.g. we don't want to style every vertex of a line as an individual point and i

[2021-01-12 14:49] #75894 closed

[2021-01-12 14:50] jonathan-buttner commented on #87900
Ah I see, I didn't realize that the UUID needs to be the same on all Kibana nodes. That makes sense.

Yeah good point about the denormalizing. The reason we were considering splitting the metadata into its own type is because we want to support a one-to-many relationship between the base metadata information (title, tags, connector fields) and user specific information (status, closed by, closed a

[2021-01-12 14:51] stacey-gammon opened #88017 "[Discuss] How to use types from optional dependencies"
Our plugin system allows optional dependencies.  A plugin could do something like this:

kibana.json:
[code]

[code]

How can the Bar plugin use the correct types from the Foo plugin? Statically importing from an optional dependency will not work. One solution is for the Foo plugin to create another plugin that holds only the types, and that is required. This feels very hacky. Another option is th

[2021-01-12 14:54] elasticmachine commented on #88017
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-12 14:58] mdefazio commented on #84977
Posting here after our quick zoom chat:
We will show another view in the flyout if an Alert (or potentially other object types) is imported that tells the user there are possibly additional actions that need to be taken (and Go to Alerts to fix). Once in Alerts, we can show the error banner on the main list page.
It is possible that the user will simply close the flyout with the 'X' in which case

[2021-01-12 15:09] afgomez commented on #85989
Thanks for the explanation! Tested and it works

[2021-01-12 15:09] #85989 closed

[2021-01-12 15:17] mikecote commented on #87992
Relates to: https://github.com/elastic/kibana/issues/85173

[2021-01-12 15:17] mikecote commented on #85173
Relates to: https://github.com/elastic/kibana/issues/87992

[2021-01-12 15:25] smith commented on #81052
task_manager depends on migration of the following first:
apm (#81003)

This was fixed in #83081 and is no longer a blocker.

[2021-01-12 15:29] jfsiii commented on #80508
Fleet PR with references to all currently available dependencies: https://github.com/elastic/kibana/pull/87574

[2021-01-12 15:35] EricDavisX commented on #87633
thank you - I tested a 7.11 Agent to 8.0 upgrade and found it to work for Linux but fail for Windows.  Michal is going to look.  We didn't think the Agent code had changed recently.  so:
 - Could it be a Kibana side change that is impacting?
 - Or the recent generation of the Agent artifacts is not right?

screenshot of our test/demo server:
![7 11-to-8-upgrade-failure-on-windows](https://user-ima

[2021-01-12 15:39] michalpristas commented on #87633
i think it will be agent issue

[2021-01-12 15:40] mostlyjason commented on #76843
Also, I just realized that Elastic Cloud is not the only use case for preventing changes. For example, users on self-managed Kubernetes clusters may want to put these restrictions in place too. To support this, we'd need to expose some kind of setting or metadata on the agent. Perhaps something like `agent.metadata.orchestrated = true`. Can someone on the agent team define that?

Also, we'd either

[2021-01-12 15:41] gmmorris commented on #87808
We've confirmed the root cause is most likely version conflicts, so a new PR is being reviewed now which shifts the polling interval by a random amount to redistribute the polling when needed.
<img width="1090" alt="Screenshot 2021-01-12 at 11 45 45" src="https://user-images.githubusercontent.com/386208/104336749-aa3be880-54ec-11eb-9e45-b9ca460af8da.png">

[2021-01-12 15:47] cchaos commented on #85606
For all those tracking/adding, We're moving the list to the existing AirTable: https://airtable.com/tbl7gqTT1d9PssNxI/viwohduDFV34SOUd0?blocks=hide

There's now a column at the end for "Area", select "Kibana" from that list to group.

[2021-01-12 15:55] #85606 closed

[2021-01-12 15:57] rudolf commented on #87609
I agree with @restrry 's points.

I think we can create a utility to construct a standardised response, but I don't think the utility's return value should be an `Error` type it doesn't need to capture stack traces or be thrown around.

[2021-01-12 15:57] ryankeairns commented on #87402
Yes, its part of a larger need. The 'Filter by' note in the footer was a stopgap, but we need to better describe (in the UI) how search works generally speaking.

[2021-01-12 15:58] alisonelizabeth opened #88027 "ILM is not disabled when Index Management is disabled"
Steps to reproduce:
1. Add `xpack.index_management.enabled: false` to kibana config file.
2. Navigate to Stack Management via the nav menu. Note that ILM is still enabled when it should not be.

This was tested on 7.11BC and master, but I'm not sure when the regression initially occurred.

[2021-01-12 15:59] elasticmachine commented on #88027
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-12 16:07] dgieselaar commented on #83256
- Use/require `aggregate_metric_double` for span/transaction breakdown metrics: https://github.com/elastic/apm-server/issues/4612

[2021-01-12 16:09] legrego commented on #87609
+1 this makes sense to me. My one request is that this utility makes it clear what information will be sent to the client. I don't want to accidentally make it too easy for our API routes to return sensitive information in their error responses.

[2021-01-12 16:13] sgrodzicki commented on #85129
@weltenwort what's currently available before creating a ML job that could help identifying bad/good datasets? I was thinking about the obvious like docs count, storage size, etc., but maybe there's more?

[2021-01-12 16:13] dgieselaar opened #88032 "[APM] Jump to time range where data was last recorded"
If the user opens the APM app and sees no data, we could do an additional check for where we've last seen data, and offer the user to jump to that time range.

This is useful for us when working with clusters that are not recording live data (e.g. Eden or DPP), but I've also seen many discuss issues where the first question we ask is whether there is any data and whether it falls in whatever time

[2021-01-12 16:13] elasticmachine commented on #88032
Pinging @elastic/apm-ui (Team:apm)

[2021-01-12 16:16] rudolf commented on #84980
@XavierM based on the way cases is implemented, do you have any feedback on the proposed API?

[2021-01-12 16:18] sgrodzicki commented on #61900
@weltenwort does the ML API already support this at setup stage?

[2021-01-12 16:19] thomasneirynck opened #88033 "[Maps] plus sign for term join metrics is no longer showing"
**Kibana version:**

7.11, master

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

The plus sign for the term-join metrics is not showing

**Steps to reproduce:**
1. Create a layer with a term join (or open one from sample data)
2. select metrics-pill in previer
3. -> note missing (+) sign

**Expected behavior:**

the plus sign shows

**Screenshots

[2021-01-12 16:19] elasticmachine commented on #88033
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-12 16:28] bhavyarm commented on #87929
@pgayvallet no I haven't tried it. So far the testing has been - grab an iFrame code from sharing part of Kibana - make a file with html tags around it and then open the file. and yes we definitely need that test. Thanks @restrry and @pgayvallet

[2021-01-12 16:28] #84336 closed

[2021-01-12 16:30] gchaps commented on #87402
The doc with the tags content (shown above) is currently under review and will be published in 7.11.

In terms of adding help in the UI, maybe we can do something like they are doing in this [Lens PR](https://github.com/elastic/kibana/pull/86821).

[2021-01-12 16:39] thomasneirynck commented on #55468
closing in favor of https://github.com/elastic/kibana/issues/81704

[2021-01-12 16:39] #55468 closed

[2021-01-12 16:41] YulNaumenko commented on #81052
`event_log` migration still blocked by migrating of `spaces` plugin.

[2021-01-12 16:45] #87148 closed

[2021-01-12 16:52] dominiqueclarke commented on #80166
@andrewvc @vigneshshanmugam @shahzad31 I cannot as of yet find many of the data points listed here, from the `get_network_items` endpoint we are using.

**Data points I do have access to:**
Content Type
Request Start
Content Downloaded
Status
Request Headers
Response Headers

**Data points I cannot find:**
DNS lookup
Initial connection
SSL Negotiation
Time to first byte
Bytes downloaded
Decompress

[2021-01-12 16:52] restrry commented on #57547
Probably we can implement this but keep it private as an escape hatch for debug purposes https://github.com/elastic/kibana/issues/13241#issuecomment-757718304?

[2021-01-12 16:53] thatguy7 opened #88044 "[Vega] add possibility for vega graphs to ignore specific dashboard filters"
**Describe the feature:**
I would like to have the ability to let Vega visualizations be able to ignore dashboard filters involving incompatible fields.

Currently there are two mechanisms to make Vega visualizations react to the dashboard context:

1.  Use  `%context%: true` and leave out the query from the body section.
2.  Use e.g. `%dashboard_context-filter_clause%` to inject dashboard filters

[2021-01-12 16:53] #82055 closed

[2021-01-12 16:54] thomasneirynck opened #88045 "[Maps] Allow user to specify interpolation for data mapping"
**Describe the feature:**

Users now can only use linear mapping or percentile-break mapping when creating maps. The ability to tweak this, with for example logarithmic scaling (to mute outliers) or exponential scaling (to exaggerate the tail-end) would help. These scaling functions were present in the legacy visualizations.

**Describe a specific use case for the feature:**

Users should be able

[2021-01-12 16:54] thomasneirynck opened #88046 "[Maps] Add more flexible interpolation"
**Describe the feature:**

Users now can only use linear mapping or percentile-break mapping when creating maps. The ability to tweak this, with for example logarithmic scaling (to mute outliers) or exponential scaling (to exaggerate the tail-end) would help. These scaling functions were present in the legacy visualizations.

**Describe a specific use case for the feature:**

Users should be able

[2021-01-12 16:54] elasticmachine commented on #88046
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-12 17:00] #87613 closed

[2021-01-12 17:02] #87758 closed

[2021-01-12 17:04] restrry commented on #87929
ok, I added our backlog. we need to add a functional test to make sure it's not a bug but a misconfiguration. As a part of this issue, we could improve documentation to mention
[code]
are required when embedding Kibana inframe on a page served under a different domain.

[2021-01-12 17:15] #85764 closed

[2021-01-12 17:15] alisonelizabeth commented on #88027
I think this might be a regression leftover from NP migration. I checked on `7.10` and can reproduce there as well. You can [see prior to NP migration](https://github.com/elastic/kibana/blob/7.6/x-pack/legacy/plugins/index_lifecycle_management/index.js#L43) we checked if the Index Management plugin is enabled in addition to ILM. Now, it looks like we only [check if ILM is enabled](https://github.c

[2021-01-12 17:19] jen-huang commented on #87979
@nchaulet Could you triage this?

[2021-01-12 17:21] spalger commented on #88017
Types are only a build time concern because type-only imports are removed when creating the distributable, so I'm confused why this is the case. Can you give more information about why simply importing the type doesn't work? What error are you getting? Do you still get that error if you change the `import` to an `import type` statement?

[2021-01-12 17:25] jen-huang commented on #86472
@ph Yes, working on it!

[2021-01-12 17:26] #87534 closed

[2021-01-12 17:29] kqualters-elastic opened #88064 "[Security Solution] Global Search results dropdown does not remain open in timeline detail view"
**Kibana version:**
7.x

**Browser version:**
Chrome Version 87.0.4280.141

**Browser OS version:**
Windows

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
The global search results dropdown closes immediately on timeline detail pages.

**Steps to reproduce:**
1. Navigate to /app/security/timelines/default
2. Open an existing timeline or cli

[2021-01-12 17:41] nickofthyme commented on #87341
@stratoula see https://github.com/elastic/kibana/pull/88067. Sorry for the delay.

[2021-01-12 17:42] EricDavisX commented on #86742
@nchaulet Did you say you have an idea and a PR that can help fix this or at least reduce the impact / frequency - can you post the pr to the issue pls?

[2021-01-12 17:42] stratoula commented on #87341
Thank you Nick! Will check it tomorrow!

[2021-01-12 17:45] lukeelmers commented on #57547
One option could be to remove properties if `null` is specified, otherwise do a replacement, which means you wouldn't necessarily need a "mode" initially (unless other policies were added later):

[code]

[2021-01-12 17:46] vigneshshanmugam commented on #80166
Taking an example of a network event. This is what you would get
[code]
Here is how data points would map

DNS lookup - everything before dns + timings.dns
Initial connection - everything before connect + timings.connect
SSL Negotiation - everything before ssl  + timings.ssl
Time to first byte - everything before wait +  timings.wait
Bytes downloaded - `response.encoded_data_length`
Certificates -

[2021-01-12 17:46] EricDavisX commented on #87821
Thanks Manish and team for doing the specific 7.10.x test cycle.  I further attempted to upgrade a 7.10.2-snapshot agent to a 7.11-snapshot kibana and found it failed for Windows (which was an attempt to confirm if the path problem was due to the Agent file not being 'shipped' yet on our main elastic artifactory repo.

So I think we do have an issue in 7.10.2 Agent.  @ph decision point on if it is

[2021-01-12 17:47] AndriyShkrobut commented on #7438
@epixa Hey, what do you think about this thing? Because we have upgraded to the 7.9 version of kibana and still experiencing the same issue.

[2021-01-12 17:55] katrin-freihofner commented on #86877
While investigating this topic with @dominiqueclarke we found out that this issue is outdated. The close button and caption on the preview (in the overview) are fine. Also, we found another issue:

The screenshot preview in the monitor details view does not have a close button:
<img width="1680" alt="Screenshot 2021-01-12 at 18 52 30" src="https://user-images.githubusercontent.com/20965076/1043527

[2021-01-12 18:01] TinaHeiligers commented on #76778
GS was somewhat deprioritized after this work was completed and we haven't made much noise about the new capability.

@alexfrancoeur @joshdover Should we open a meta issue and ping specific teams about the new capability to register keywords/aliases for their apps or add a comment to the next Kibana Contributors newsletter?

If the former, are there any specific teams we should notify?

[2021-01-12 18:10] lukeelmers commented on #57547
To follow up on this: the cloud team has confirmed that the `logging.filter` config isn't exposed to users and also isn't used anywhere internally.

So if we decided not to address this at all and simply exclude `Authorization` and `Cookie` headers, the only people who would be affected are folks who have discovered this undocumented setting and have been relying on it. (And we could add a config

[2021-01-12 18:29] neptunian commented on #79298
I've made some changes locally where the custom metrics will appear using the custom metric's label value.  The label is not required though, so when there is no label, the field is used, same as the dropdown when creating the metric.  However these field names can be long and would push past the width of the tooltip.  Here is a long field name (system.process.cgroup...) without a label:

<img wid

[2021-01-12 18:30] EricDavisX commented on #87821
MIchal has a fix - we're moving this to Beats repo

[2021-01-12 18:33] kevinlog commented on #86237
WIP PR For this: https://github.com/elastic/endpoint-package/pull/122

[2021-01-12 18:50] #87578 closed

[2021-01-12 18:54] epixa commented on #7438
@AndriyShkrobut Unfortunately, I don't work much on Kibana anymore, so I'm not a great person to ask. That said, I know this is still being tracked by the @elastic/kibana-operations team.

I'm sorry y'all are experiencing this problem, some of you for quite awhile. The lack of progress is not from a lack of desire to fix but rather the inability to reliably reproduce and insufficient information i

[2021-01-12 19:09] weltenwort commented on #61900
Hm, IIRC I already implemented something like this #75351. :thinking: Only the big callout is not there yet.

[2021-01-12 19:11] jasonrhodes opened #88077 "[Metrics UI] Make the Metrics UI header consistent with observability-wide conventions"
We should make the Metrics UI header consistent with other observability app headers.

AC:
* Settings is moved to a link in the header, which should open a separate page for Metrics settings
* Anomaly detection should open a new page in the Metrics settings section to set up/manage the Metrics ML jobs (instead of a flyout)
* Alerts should be a dropdown that allows a user to create any Metrics aler

[2021-01-12 19:11] elasticmachine commented on #88077
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-12 19:12] jasonrhodes commented on #88077
We can break this into 3 separate tickets if that's easiest, but I wanted to capture everything in one place to get the conversation started. @elastic/observability-design and @katrin-freihofner can you comment on these notes to let me know you agree with these changes?

[2021-01-12 19:15] lukeelmers commented on #86735
Ah, yeah this is going to be a problem for pretty much any use of the `json` param. To elaborate upon what @alexwizp is saying for those who aren't familiar:

Each agg type has an interface representing the params that takes. All of the types extend from this `BaseAggParams` where `json` is specified as a string: https://github.com/elastic/kibana/blob/b93034b72c2f183ce038bee81544d41bbd3e0364/src/p

[2021-01-12 19:17] lukeelmers commented on #86735
Yes IMO we should absolutely backport this if we can, especially as it fails silently, which means users could be seeing visualizations with invalid data without realizing it 🙁

[2021-01-12 19:17] andrewvc commented on #87866
I've updated my nvidia graphics drivers to the latest here on linux, and it's gone away. Closing as a driver bug.

[2021-01-12 19:17] #87866 closed

[2021-01-12 19:18] yctercero commented on #87112
Hi @karanbirsingh-qasource - just wanted to get some more details. This popup is expected if the list is non-existent. Are you seeing that it is popping up even when the `endpoint_list` itself exists?

Does this only happen when prepackaged rules are automatically created as described here: https://github.com/elastic/kibana/issues/87110 ?

[2021-01-12 19:25] lukeelmers commented on #86735
I'm also surprised we don't have any functional tests to validate that advanced json put in the visualize editor is correctly applied -- feels like it would be relatively straightforward to add one of those, and assert that the request captured in the inspector panel contains the expected DSL query.

[2021-01-12 19:29] pmuellr commented on #87988
Similar sort of error, but different, reported here, for a 7.x CI run - issue https://github.com/elastic/kibana/pull/88047

[2021-01-12 19:32] nchaulet commented on #87979
I think the error here is in the message, revoking an enrollment token will not unenroll the current agents that used that tokens to enroll. You will not be able to enroll a new agent with that token.

[2021-01-12 19:33] arisonl opened #88081 "OIDC authentication support for Kibana actions"
Customers would like to be able to authenticate to webhooks and the rest of Kibana actions using OIDC. This is a similar request to https://github.com/elastic/kibana/issues/79372

[2021-01-12 19:33] elasticmachine commented on #88081
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-12 19:34] jasonrhodes opened #88082 "[Logs UI] Make the Logs UI header consistent with observability-wide conventions"
We should make the Logs UI header consistent with other observability app headers.

AC:
* Settings is moved to a link in the header, which should open a separate page for Logs settings
* Anomaly detection link should be added to the header, which should open a new page in the Logs settings section to set up/manage Logs ML jobs
* Alerts link should open a dropdown that allows a user to create any L

[2021-01-12 19:34] elasticmachine commented on #88082
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-12 19:35] jasonrhodes commented on #88082
We can break this into 3 separate tickets if that's easiest, but I wanted to capture everything in one place to get the conversation started. @elastic/observability-design and @katrin-freihofner can you comment on these notes to let me know you agree with these changes?

[2021-01-12 19:44] EricDavisX commented on #87633
We got a fix for this, it was Windows specific due to the file structure top level in the zips (which is not how the .tar.gz is laid out) - we are just waiting on a rebuild, BC3 to test this.  same problem seen on 7.10.2, tracked separately.

[2021-01-12 19:47] lukeelmers commented on #86301
As discussed offline, it looks as if this should be resolved in 7.12 by https://github.com/elastic/elasticsearch/pull/66093, so we can still move forward.

[2021-01-12 19:47] liza-mae commented on #87956
@tsullivan yes it works on smaller dashboards.

[2021-01-12 19:49] jen-huang commented on #87979
@nchaulet That's what I thought too. Enrollment token =/= API keys used by agent to access/send data. Could you work on correcting the misinformation in that modal? Maybe the piece about data access could be moved to the agent unenrollment modal.

![image](https://user-images.githubusercontent.com/1965714/104364594-af3c7000-54cb-11eb-9ddf-74310acd823c.png)

![image](https://user-images.githubuserc

[2021-01-12 19:51] maggieghamry opened #88084 "[Metrics UI] Missing capacity fields for AKS view"
**Kibana version:** 7.10.1

**Elasticsearch version:** 7.10.1

**Metricbeat version** 7.10.1

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Using Azure Kubernetes Services (AKS) to explore the host metrics on the Kibana metric app and found that the Kubernetes CPU, Memory and P

[2021-01-12 19:51] elasticmachine commented on #88084
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-12 19:52] wylieconlon commented on #87255
There is a better option than any of the above if custom routing is set: we can limit the search request to target only the primary shard by setting a `routing` URL parameter.

[2021-01-12 19:58] kevinlog commented on #87995
We've decided that we're going with Option 2 from above.

As a result, I'm closing all of the other PRs pertaining to Option 1.

cc\ @joe-desimone @stevewritescode @ferullo @kobelb @tsg @ruflin

[2021-01-12 19:59] EricDavisX commented on #87493
we can finish the test when BC3 comes out.  I believe BC3 should allow us to upgrade and this issue will show as fixed

[2021-01-12 20:02] #86989 closed

[2021-01-12 20:02] #87983 closed

[2021-01-12 20:03] EricDavisX commented on #87632
Thanks much Dan - I think we can document this better in test suites presuming indeed it is as intended.  @blakerouse if you can review when freed up and confirm.

[2021-01-12 20:08] EricDavisX commented on #86267
@rahulgupta-qasource confirming - can you update the test content that may relate to this please?  It is an accepted change from the design, it won't be fixed or thought about more until we have multiple inputs if / when later on.

[2021-01-12 20:25] ryankeairns commented on #17298
I've chatted with several folks from the Kibana Design and EUI teams and here is our proposed plan.

#### TL;DR
Coincidentally, there is an effort under way to provide a page layout service in Kibana that would standardize how plugins supply content within the global 'wrapper'. We're pursing that for several reasons (better consistency, better accessibility, etc.) and we believe that the requireme

[2021-01-12 21:13] #85176 closed

[2021-01-12 21:14] gmmorris opened #88097 "[Task Manager] Clean up work post drift bug fix"
Some work we chose to defer after https://github.com/elastic/kibana/pull/88020

1. Replace [naive initialisation](https://github.com/elastic/kibana/pull/88020#discussion_r555866393) of `last_polling_delay`
2. Reconsider usage of `createRunningAveragedStat` outside of monitoring. This might remain as is.
3. Add comment explaining [usage of modulo](https://github.com/elastic/kibana/pull/88020/files/

[2021-01-12 21:14] elasticmachine commented on #88097
Pinging @elastic/apm-ui (Team:apm)

[2021-01-12 21:14] elasticmachine commented on #88097
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-12 21:15] gmmorris commented on #88097
Sorry APM, didn't mean to ping ya... obviously, that was a mistake

[2021-01-12 21:19] kevinlog commented on #86329
verified in 7.11 BC2, closing.

![image](https://user-images.githubusercontent.com/56395104/104375765-e7ef4000-54f1-11eb-8611-4aa21c4964dd.png)

[2021-01-12 21:19] #86329 closed

[2021-01-12 21:21] kevinlog commented on #85944
verified that the error message is back in 7.11 BC2

closing

![image](https://user-images.githubusercontent.com/56395104/104375936-2edd3580-54f2-11eb-8771-7017073814b3.png)

[2021-01-12 21:21] jportner opened #88100 "Client cert chain is sometimes incomplete with PKI auth via the login selector"
**Kibana version:** 7.7+

**Describe the bug:** When the login selector is used with PKI auth, the client certificate chain can sometimes be incomplete. This causes a 401 error even though the client certificate is trusted by Kibana.

**Steps to reproduce:**

Using Kibana 7.11+ (with enhanced handling of incomplete client cert chains):

1. Generate a root CA (RCA), use it to sign two intermediate

[2021-01-12 21:21] elasticmachine commented on #88100
Pinging @elastic/kibana-security (Team:Security)

[2021-01-12 21:24] kevinlog commented on #86987
Maybe we can just truncate the longer names, thoughts @bfishel ?

@parkiino can you take a look?

[2021-01-12 21:26] nreese commented on #86727
@Lolo-Flamingo PR available at https://github.com/elastic/kibana/pull/88099 if you want to try it out

[2021-01-12 21:28] kevinlog commented on #84860
@parkiino could you take a look at this when you get a chance?

[2021-01-12 21:35] katefarrar commented on #79298
@neptunian Using an ellipsis sounds good to me. Can we apply that to label text as well?

[2021-01-12 21:42] kevinlog commented on #85545
@parkiino can you take a look when you have cycles?

[2021-01-12 22:01] #88033 closed

[2021-01-12 22:03] ryankeairns commented on #86528
Another think we'll attempt to provide here are top and bottom banners as described in #17298

[2021-01-12 22:04] elasticmachine commented on #86528
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-12 22:22] lcawl opened #88107 "Move from hard-coded links to documentation link service"
The following list of hard-coded doc links exist in master and should ideally be shifted to using [doc link service](https://github.com/elastic/kibana/blob/master/src/core/public/doc_links/doc_links_service.ts) keywords so they're easier to maintain in a single location.

Per https://github.com/elastic/kibana/pull/123818, in 8.1 and later versions, the updates should occur in https://github.com/el

[2021-01-12 22:22] elasticmachine commented on #88107
Pinging @elastic/kibana-docs (Team:Docs)

[2021-01-12 22:28] sorantis commented on #79298
Is the tooltip width fixed? Can it not scale adaptive to the longest field name?

[2021-01-12 22:34] liza-mae commented on #87956
Ref in slack by Tim: https://github.com/puppeteer/puppeteer/issues/5300

[2021-01-12 22:53] tylersmalley commented on #22427
This has been this way for a while.

[2021-01-12 22:53] #22427 closed

[2021-01-12 22:56] lukeelmers commented on #87990
In that linked discussion, we had gone back and forth on whether to _only_ provide scoped services in our server APIs, or to provide the entire `KibanaRequest` object, so this another argument in favor of removing `KibanaRequest` from those APIs entirely.

The main reason the app team is blocked on this is because:

- High level search (SearchSource) requires a full `KibanaRequest` object on the s

[2021-01-12 22:58] nreese commented on #88045
closing, duplicate of https://github.com/elastic/kibana/issues/88046

[2021-01-12 22:58] #88045 closed

[2021-01-12 22:59] elasticmachine commented on #87853
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-12 22:59] elasticmachine commented on #87853
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-12 23:10] sqren commented on #88032
Great idea. We could do this as a callout at the top:

"There's no data for the selected time range. [Click here] to jump to the most recent period with data."

[2021-01-12 23:34] #87808 closed

[2021-01-13 00:04] #80472 closed

[2021-01-13 00:06] sqren commented on #87986
Already covered in https://zube.io/elastic/observability/c/149297

[2021-01-13 00:06] #87986 closed

[2021-01-13 00:25] #70856 closed

[2021-01-13 00:58] cjcenizal commented on #88027
@alisonelizabeth I think you're right, I think this was a regression introduced via the NP migration specifically via https://github.com/elastic/kibana/pull/63255, which shipped with 7.8.0.

[2021-01-13 01:27] shortiegreg opened #88121 "normal graphs"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2021-01-13 01:27] #88121 closed

[2021-01-13 01:31] kobelb commented on #88017
I was able to create a new plugin that has an optional dependency on the existing `spaces` plugin, and everything seems to be working as expected locally. I created a PR with this plugin to run CI and make sure I wasn't missing anything: https://github.com/elastic/kibana/pull/88122

If the new plugin was to import static-code from the spaces plugin, it requires an additional `requiredBundles: ["sp

[2021-01-13 01:53] YulNaumenko opened #88123 "[Alerts][Actions][Telemetry] Fix mappings for Kibana actions and alert types telemetry."
![image](https://user-images.githubusercontent.com/25181823/102804003-25dfc500-4387-11eb-939c-5b2edafc330c.png)
[Example doc](https://kibana.telemetry.elastic.co/s/alexf-playground/app/discover#/doc/417a4d20-183c-11ea-aed9-e3cde162283a/xpack-phone-home-6?id=WC6UTuoqTWiNTPPzKT7aoQ)

It looks like we're seeing this most notably on the Observability alert types. You can see how the fields different f

[2021-01-13 01:53] elasticmachine commented on #88123
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-13 03:06] kibanamachine opened #88130 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/basic/tests/cases/patch_cases·ts - case api basic patch_cases alerts it updates alert status when syncAlerts is turned on"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10984/)

[2021-01-13 03:11] secops4thewin opened #88131 "SIEM Detection Rule Suggester"
During the onboarding process for a SIEM customer who has existing data inside of Elastic, it would be convenient to suggest what detection rules could be enabled for the datasets that are available in the stack.

![](https://i.imgur.com/pPJPUPE.png)

This could recommend in multiple ways.
- Here are the rules that would have fired in the last 24 hours and an option to enable the rules.
- Here are

[2021-01-13 04:00] rightaway commented on #84266
Any update on this? It's not possible to use kibana on archlinux now because the versions needed are not sufficient. Node 15 is backwards compatible so couldn't latest kibana work on that as well?

[2021-01-13 04:29] rightaway opened #88134 "Provide an error message when Kibana can't start due to wrong version of Node"
As an example, Kibana 7.10.1 works with Node 14.15.4 but not 15.5.1. The problem is that even with an incompatible Node 15.5.1 there are no error messages in the logs and the Kibana process starts up successfully. Going to the browser the splash screen appears too but simply gets stuck at that step. No errors appear in the browser console either.

This leads to a maintenance nightmare where time i

[2021-01-13 04:34] rightaway opened #88135 "Add compatibilty between Kibana and Node to support matrix"
https://www.elastic.co/support/matrix doesn't give any indication of what versions of Node are supported by each version of Kibana. This is important information because Kibana fails to start with an incompatible version (described in https://github.com/elastic/kibana/issues/88134) and has implications on when we decide to upgrade our whole Elastic infrastructure. A new matrix showing compatibilit

[2021-01-13 05:05] kibanamachine commented on #88130
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10986/)

[2021-01-13 05:15] #85328 closed

[2021-01-13 05:18] tylersmalley commented on #88130
Skipped

7.x: 6159ed4c31d80c74a46e9d1139d1914c69864482

[2021-01-13 05:18] tylersmalley commented on #88130
Skipped

master: d306c85d03cb7f0e1aa5d615ee75a9b4e1e1edb8

[2021-01-13 06:03] kibanamachine commented on #75106
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10987/)

[2021-01-13 06:25] bnewbold opened #88138 "Debian package is slow to install on some devices, may cause timeouts. Related to node_modules size"
This is a re-opening of bug https://github.com/elastic/kibana/issues/17176 ("Investigate slow package installs"). That bug was closed when a PR was merged to use `static-fs` for the `node_modules` directory (in March 2020), but that PR was subsequently reverted in #67135 (May 2020).

I would infer from the earlier issue that the problem is that the package is installing tens of thousands of files

[2021-01-13 06:28] kqualters-elastic opened #88139 "Global search terms are left as the active term after a user clicks remove, until the text field is manually cleared"
**Kibana version:**
7.x

**Browser version:**
Chrome Version 87.0.4280.141

**Browser OS version:**
Windows

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
Global search terms are not fully cleared upon a user clicking the "X" button next to a searched term.
**Steps to reproduce:**
1. Add some text to the global search bar, any text that cau

[2021-01-13 06:51] pheyos commented on #72381
We haven't seen this issue anymore in the past three months, so it seems to be fixed.

[2021-01-13 06:51] #72381 closed

[2021-01-13 07:47] andreadelrio commented on #85941
@majagrubic Here's a mock showing actions for mutifields.

![Screen Recording 2021-01-12 at 9 48 44 AM](https://user-images.githubusercontent.com/4016496/104421588-89ee4700-5549-11eb-945c-c77324e36530.gif)

[2021-01-13 08:10] restrry commented on #57547
@lukeelmers Security team might need it to debug problems with login. I'd suggest you timebox `RewriteAppender` implementation and move forward without it if you face any problems.

[2021-01-13 08:34] deepikakeshav-qasource commented on #86266
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2** and found that issue is now **Fixed** . Correct link "http://localhost:5601/app/management/kibana/settings" is opening when clicking on "disable usage data here" link on "Help us improve the Elastic Stack" banner under overview tab of security.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary

[2021-01-13 08:34] #86266 closed

[2021-01-13 08:39] cnasikas commented on #88002
@MadameSheema @deepikakeshav-qasource @manishgupta-qasource Case connectors are not supposed to be used outside of cases. This is expected behavior when you use them in detections. In 7.11, case connectors do not differ from normal ones as all cases logic has been moved and handle by Cases.

`Created by` is not supposed to be shown on alerts. 7.11 behavior is the expected one.

[2021-01-13 08:41] cnasikas commented on #87988
https://github.com/elastic/kibana/issues/88130

[2021-01-13 08:59] ruflin commented on #76843
I consider this a generic feature which is a fully managed policy. So it should work the same on Cloud but also the user on prem could setup this up if he wants.

On top of that, we can build additional logic to improve error messaging for certain environments.

[2021-01-13 09:09] Sjaak01 opened #88145 "[Feature request]Logs app separate layout per index"
Hi,

I recently started using the Logs app and I think its a great way to view and search through logs that don't necessarily work very well with the Kibana visualizations or if somebody just needs to copy part of a raw log.

However one drawback for us is that we have logs from many different sources so while I can add the indexes and add the fields, this quickly becomes hard on the eyes because

[2021-01-13 09:16] darnautov commented on #86160
Re-enabled these tests in https://github.com/elastic/kibana/pull/88143

[2021-01-13 09:38] afharo commented on #85811
As per late discussions, we're going to attempt to extend the ui_settings API so plugins can specify if a key should not be reported. In those cases, we'll only report a boolean on whether they are set or not.

[2021-01-13 09:48] #86877 closed

[2021-01-13 09:51] peluja1012 commented on #87459
Fixed by this PR https://github.com/elastic/kibana/pull/87946

[2021-01-13 10:17] sqren commented on #86591
@dgieselaar I'm not sure this is strictly necessary for 7.11. Do you think it's a regression?

[2021-01-13 10:28] amolnater-qasource commented on #85374
Hi @EricDavisX

Today, while performing regression testing on 7.11 BC2 Kibana cloud build. Build details are as follows:

[code]

We observed that:
- Integration section is not visible under agent details tab when a agent policy is having a long name.
- Hence, not accessible.

However, as per reference to [#84434](https://github.com/elastic/kibana/pull/84434), it is expected that:
-  Integration s

[2021-01-13 10:29] sgrodzicki opened #88155 "[Monitoring] Investigate Agent integration"
With the undergoing effort to complete the deprecation of internal collection of monitoring data to using Agent as the collector and shipper, we need to investigate what it will take to create a package and integrate with Agent.

Acceptance criteria:

- Review [package creation guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- Review [example package](https://githu

[2021-01-13 10:29] elasticmachine commented on #88155
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-13 10:30] afgomez commented on #85990
I guess the fix will go in BC3. I'll retest once it's in cloud

[2021-01-13 10:41] manishgupta-qasource commented on #85374
@EricDavisX Request you please see the latest observation provided above by @amolnater-qasource & consider this bug

[2021-01-13 10:44] flash1293 commented on #80508
@elastic/kibana-gis Maybe you are aware already but it's not listed out here so just to be sure:
There is a cicular type dependency in `maps_legacy` -> `region_map` -> `maps_legacy` because `src/plugins/maps_legacy/config.ts` is pulling a config schema from `region_map`. The same happens with `tile_map`.

[2021-01-13 10:44] karanbirsingh-qasource opened #88156 "User is able to browse endpoint and agent file in mac finder through endpoint self protection"
**Describe the bug**
User is able to browse endpoint and agent file in mac finder through endpoint self protection

**Build Details:**
Build Details:
Platform:Production
Version:7.11.0 BC2
Commit:a5126f7a280a6f4a27dc3aca65c1c89ccd1ac694
Build:37605

**Browser Details**
All

**Preconditions**
1. Elastic Cloud build having version 7.10.0 BC2 should be deployed.
2. Install the Agent + Endpoint on mac

[2021-01-13 10:44] karanbirsingh-qasource commented on #88156
@manishgupta-qasource Please review

[2021-01-13 10:52] mtojek commented on #88155
Ok, now I see why I was asked to collect the above links :) Anyway, feel free to reach out directly if you have any troubles with running the toolchain.

[2021-01-13 10:53] flash1293 commented on #72437
As discussed offline we decided to allow editing on dashboards for some parts of the Lens config, but it won't be persistable to keep a clear separation between saved changes (done in the editor) and ad-hoc changes on the dashboard.

This simplifies the user experience because the line between saved changes and ad-hoc changes isn't blurred as it is right now with uiState. It also simplifies the te

[2021-01-13 11:01] flash1293 commented on #82846
Hi @mbondyra you reopened this issue a month ago - is there some ongoing work here?

[2021-01-13 11:05] weltenwort commented on #85129
@sgrodzicki I don't think the ML plugin can provide anything in that regard. We'd have to add a heuristic of our own.

The ML quality warnings are based on ratios of counts of categories and documents, and the frequency with which categories match recent messages. Since we can't know the categories in advance (because then we wouldn't have to run the ML jobs) I don't see a good way of estimating t

[2021-01-13 11:09] alexwizp commented on #87853
@nreese interesting why this issue reported only for `Vega`. I think it's not a Vega specific problem cause here we just using `ServiceSettings` and `Vega Layer` from the `maps_legacy` plugin. Probably the same should be valid for `TileMap`, RegionMap too

Also please correct me if I'm wrong, to add support of offline mode we should override the following urls:
![image](https://user-images.githubu

[2021-01-13 11:13] alexwizp commented on #87777
duplicate of #87853

[2021-01-13 11:14] #87777 closed

[2021-01-13 11:25] manishgupta-qasource commented on #88156
Reviewed & assigend to @james-elastic

[2021-01-13 11:30] #87841 closed

[2021-01-13 11:55] peteharverson opened #88160 "[ML] Clone and edit of count detector with summary count field switches to non zero count version"
**Kibana version:**

- 7.11.0 BC2

Cloning of a job which uses a count type detector and a summary count field silently sets the detector to the non zero count version which editing the detector function from a non zero count version to count, low_count or high_count.

**Steps to reproduce**
- Clone the `visitor_rate_ecs` job from the Apache ECS module, which uses `non_zero_count` on a `summary_co

[2021-01-13 11:55] elasticmachine commented on #88160
Pinging @elastic/ml-ui (:ml)

[2021-01-13 12:05] karanbirsingh-qasource commented on #87112
Hi @yctercero

Thanks for the Update.

Please find inline comment.

Thanks for this update , we have add this information notes in our manual test-cases.
- [C15244](https://elastic.testrail.io/index.php?/cases/view/15244)
- [C15234](https://elastic.testrail.io/index.php?/cases/view/15234)

yes , this issue is occurring when prepackaged(Endpoint Security) rules are automatically loaded.

We are clo

[2021-01-13 12:05] #87112 closed

[2021-01-13 12:06] muskangulati-qasource commented on #87979
Hi @nchaulet & @jen-huang,

Thank you for the information.

We will validate this ticket again once the fixes are merged!!

Thanks!

[2021-01-13 12:08] dgieselaar commented on #86591
Not sure, but doesn't sound urgent to me either.

On Wed, Jan 13, 2021, 11:17 Søren Louv-Jansen <notifications@github.com>
wrote:

[2021-01-13 12:28] deepikakeshav-qasource commented on #85939
Hi @MadameSheema

We have validated this ticket on  **7.11.0 BC2** and found that issue is now **Fixed** . Selected connector is displaying by default under "External Incident Management System" drop down when creating the new case.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-8f5ce7c2/summary-7.11.0.html

**Screenshot:**
![External_field](https://user-images.githubuserc

[2021-01-13 12:28] #85939 closed

[2021-01-13 12:31] #87521 closed

[2021-01-13 12:32] #87268 closed

[2021-01-13 12:33] mukeshelastic commented on #85129
@weltenwort Thanks for summary and neat suggestions. I recall "compare the documents against a well-known list of log formats that our categorization can't handle well." was brought up before.

I am curious if @sophiec20, @grabowskit and team have thoughts on Felix's suggestions and have any additional suggestions on how to approach this UX of letting users be aware of inappropriate datasets bette

[2021-01-13 12:42] kibanamachine commented on #87988
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/148/)

[2021-01-13 12:45] muskangulati-qasource commented on #85944
Hi @kevinlog,

We have validated this ticket on 7.11.0 BC2 and found that issue is **fixed**. We are getting errors on the forms.

Please find below the full testing details:

**Build Details**:
[code]

**Observations for different OSs & scenarios**:
### Windows
| Scenario | Screenshot | Remarks |
| -- | -- | -- |
| Wrong Hash value added | ![WrongHash](https://user-images.githubusercontent.com/60

[2021-01-13 12:45] muskangulati-qasource commented on #87029
Hi @ferullo,

We have validated this ticket on 7.11.0 BC2 and found that issue is **fixed**.

**Build Details**:
[code]

**Refer Screenshot**
![sameDescription](https://user-images.githubusercontent.com/60252716/104432156-bbe5c480-55ae-11eb-8e4c-f7ef76e08ce8.PNG)

Hence, closing this ticket and marking it as 'Validated'.

cc: @kevinlog
Thanks!!

[2021-01-13 12:45] #87029 closed

[2021-01-13 12:46] muskangulati-qasource commented on #87030
Hi @kevinlog,

We have validated this ticket on 7.11.0 BC2 and found that issue is **fixed**.

**Build Details**:
[code]

**Refer Screenshot**
![ElasticSearch](https://user-images.githubusercontent.com/60252716/104434338-20a21e80-55b1-11eb-8b6d-8758069b6cd6.PNG)

Hence, marking this ticket as 'Validated'.

Thanks!!

[2021-01-13 12:48] mikecote commented on #49412
Another mechanism could be a debounce. As in, the alert instance needs to be in a certain status for X amount of cycles (or time) before transitioning to that status.

This comes from customer feedback where it could be really annoying for those who are on call and wake up in the middle of the night for every alert that sends out. Having a mechanism to reduce the false positives would mitigate thi

[2021-01-13 12:49] formgeist commented on #88007
Just wanted to share an example of how we display errors related to the trace in the APM waterfall visualization, perhaps we can draw some inspiration from this existing pattern. This is certainly something we'll look to have/implement in APM when we adopt the shared Waterfall component.

<img width="1422" alt="Screenshot 2021-01-13 at 13 48 15" src="https://user-images.githubusercontent.com/41042

[2021-01-13 12:57] dikshachauhan-qasource commented on #87124
Hi @EricDavisX and @jen-huang

We have validated this ticket as per feedback by Jen-huang and found it working when logging level for agent is updated.

However, we would like to wait for 7.11.0 BC3 build to resolve endpoint issues and will close the ticket accordingly after verifying the reported issue.

Thanks
QAS

[2021-01-13 12:57] #86229 closed

[2021-01-13 13:01] #87105 closed

[2021-01-13 13:04] formgeist commented on #83665
I can also see some benefit in allowing the user to toggle between either charts, and I think we can do that quite easily by adding the options to the panel.

![span-type-breakdown-toggle](https://user-images.githubusercontent.com/4104278/104455865-2d6e4480-55a8-11eb-84e3-442f94433377.png)

The only thing that came to mind was that we might not want to do it on the Transactions pages, because the

[2021-01-13 13:08] #86735 closed

[2021-01-13 13:12] #85302 closed

[2021-01-13 13:14] jasonrhodes commented on #85129
I wonder if categorization jobs could be optionally run in "trial mode" where it runs against data for x days or until x data is collected, and then results can be examined to determine which datasets should remain in the job and which should be removed.

Another idea is for us to just use the "auto-disable" function for datasets deemed unsuitable. I know this could be surprising for some users. I

[2021-01-13 13:18] neptunian commented on #79298
I don't think we should do that as we don't know how wide that could be, unless we don't care how wide the tooltip could be.

[2021-01-13 13:19] jasonrhodes commented on #88082
also pinging @sgrodzicki / @mukeshelastic

[2021-01-13 13:20] jasonrhodes commented on #88077
also pinging @sgrodzicki / @sorantis / @mukeshelastic

[2021-01-13 13:37] elasticmachine commented on #88138
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-13 13:39] elasticmachine commented on #88134
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-13 13:41] dej611 opened #88172 "[Lens] Improve sorting for aggs with custom labels"
**Describe the feature:**

Currently the range sorting works leveraging the interval/range informations about lower and upper boundaries.
But ranges can have also custom labels, and ignoring them may be confusing:

<img width="1302" alt="Screenshot 2021-01-13 at 14 37 19" src="https://user-images.githubusercontent.com/924948/104459304-dcad1a80-55ac-11eb-96cb-72167cb36ad1.png">

It would be nice to

[2021-01-13 13:41] elasticmachine commented on #88172
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-13 13:44] rudolf commented on #88135
What installation method are you using?

[2021-01-13 13:44] elasticmachine commented on #88135
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-13 13:48] elasticmachine commented on #88044
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-13 13:51] EricDavisX commented on #85374
reviewed - if easy, we could target 7.12 else, a later release

[2021-01-13 13:56] #82495 closed

[2021-01-13 14:00] #87979 closed

[2021-01-13 14:04] elasticmachine commented on #87865
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-13 14:04] #76189 closed

[2021-01-13 14:04] alexfrancoeur commented on #87865
@ryankeairns I know we have some time next week to start talking through a consistent approach to promote features in higher license tiers, but as part of this effort, we should also think through downgrading. This is common for trials, but also applicable to clusters who downgrade their license. How do you feel about adding this flow to part of that initiative?

[2021-01-13 14:08] neptunian commented on #87575
@ruflin @mattkime I think the quickest fix for this is to have a flag that we pass to the API that always looks at the saved objects we create and not the indices.  So we can potentially rename `allowNoIndex` to something else that could handle that  whether or not indices exist.

[2021-01-13 14:09] #81017 closed

[2021-01-13 14:10] rudolf commented on #84980
+1

Yeah I'm fine with going with setup for now and working on the developer experience when we move to sync lifecycles and try to reduce the amount of `getStartServices` calls.

Don't have a strong opinion either, but I lean towards a single API call because of the benefits you mentioned. Ultimately plugins can easily work around the need to refactor with something like:
[code]

+1 We can schedul

[2021-01-13 14:15] stratoula commented on #82438
We are going to proceed with enhancing the current implementation of TSVB. This means that we are not going to fully support index patterns right now, but we are going to enhance the low-level API to also retrieve the runtime fields and their definitions. TSVB already fetches the index patterns from the `indexPatternString` for:
- retrieving the default index pattern
- communicate its index patter

[2021-01-13 14:16] kibanamachine opened #88177 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/uptime/alert_flyout·ts - Uptime app with real-world data uptime alerts overview page alert flyout controls posts an alert, verifies its presence, and deletes the alert"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11108/)

[2021-01-13 14:20] mdefazio commented on #84977
After chatting with @mikecote , let's go with the following option, where we place a warning on the summary page.  This obviously needs some copy help. But this way, we can avoid the scenario of the user closing the flyout without seeing the warning message.

![image](https://user-images.githubusercontent.com/3756330/104464068-87f3aa80-5580-11eb-8d94-e19cf5db1a3e.png)

[2021-01-13 14:32] sorantis commented on #79147
cc @katefarrar

[2021-01-13 14:38] pgayvallet commented on #84980
Yea, after doing the POC for both the import and export hooks, I also think this is slightly better. Will need to update both PRs I guess, as I went the other way in both 😅

That's a good remark. The fact that these are optional allows to exclude it from the 'static' type definition and add it on the fly during the registration from the plugin code if owners need to.

[2021-01-13 14:43] nreese commented on #87853
kibana.dev.yml configurations used in test

[code]

Just tested vega, region map, and tile map. Both region map and tile map used the WMS url provided by `map.tilemap.url` while vega maps did not.

Notice how this coordinate map is using the tiles from `http://c.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg`
<img width="400" alt="Screen Shot 2021-01-13 at 7 37 34 AM" src="https://user-images.githubus

[2021-01-13 14:43] justinkambic opened #88180 "[Uptime] `FilterGroup` component is untested and has accessibility issues"
**Kibana version:**
edge

**Elasticsearch version:**
edge

**Server OS version:**
macOS

**Browser version:**
Chrome 87

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
The `FilterGroup` component in the Uptime app is untested, and several key elements are missing `aria-labels` which, if added, could signif

[2021-01-13 14:43] elasticmachine commented on #88180
Pinging @elastic/uptime (Team:uptime)

[2021-01-13 14:45] nreese commented on #80508
There is a circular type dependency in maps_legacy -> region_map -> maps_legacy because src/plugins/maps_legacy/config.ts is pulling a config schema from region_map. The same happens with tile_map. Looks like this has to be resolved before the plugins can have their TS projects. I'm working on migrating visualizations here: #87636

Thanks, I was not aware. I will work on getting a PR out to remove

[2021-01-13 14:47] mattkime opened #88183 "Move plugin bundle size limits into kibana.json files"
I've noticed a couple of merge conflicts recently due to changes in `packages/kbn-optimizer/limits.yml`. This is a problem intrinsic to any file that stores a list of unrelated items (changes in line `a` don't impact line `a + 1`).

If the bundle size limits could be expressed in the `kibana.json` files then these conflicts wouldn't exist.

[2021-01-13 14:47] elasticmachine commented on #88183
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-13 14:48] mattkime opened #88184 "Move plugin bundle size limits to kibana.json files"
I've noticed a couple of merge conflicts recently due to changes in `packages/kbn-optimizer/limits.yml`. This is a problem intrinsic to any file that stores a list of unrelated items (changes in line `a` don't impact line `a + 1`).

If the bundle size limits could be expressed in the `kibana.json` files then these conflicts wouldn't exist.

[2021-01-13 14:48] elasticmachine commented on #88184
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-13 14:57] alexwizp commented on #87853
@nreese  thank you, will have a look that

[2021-01-13 14:58] elasticmachine commented on #88177
Pinging @elastic/uptime (Team:uptime)

[2021-01-13 15:05] #84664 closed

[2021-01-13 15:16] majagrubic opened #88192 "[Discover] Unmapped fields are not shown"
This will become a blocker for 7.12 after [PR](https://github.com/elastic/kibana/pull/83891) is merged. With the current implementation, unmapped fields are not shown in Discover. Retrieving them is supported on the ES side, so it's just a matter of implementing this in Discover.

[2021-01-13 15:16] stacey-gammon commented on #88017
As it turns out, there was a bit of a miscommunication. Indeed, you can import types from optional dependencies. The confusion is because there is an eslint warning when attempting to import types from an x-pack plugin into OSS.  If you override the lint warning, everything works.

We should probably remove the lint warning, and add documentation around code sharing (which I captured here https://

[2021-01-13 15:16] #88017 closed

[2021-01-13 15:16] elasticmachine commented on #88192
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-13 15:23] majagrubic opened #88193 "[Discover] Fields filter doesn't work"
This will become a blocker for 7.12 after [PR](https://github.com/elastic/kibana/pull/83891) is merged.

When using `_source` we can include/exclude fields. Eg. request if we exclude category:
<img width="1893" alt="Bildschirmfoto 2021-01-11 um 10 11 16" src="https://user-images.githubusercontent.com/1937956/104471443-c6a25880-55b2-11eb-8da4-e94215eb4ac4.png">

Using fields API, currently excludin

[2021-01-13 15:23] timroes commented on #11790
This enhancement is implemented in Lens (via #55477) and available since 7.8.0. Lens GA’d in 7.10 and going forward Lens is the [recommended way in Kibana](https://www.elastic.co/blog/kibana-lens-now-generally-available) to create visualizations, with more chart types, data processing and integrations planned (see this [Lens meta issue](https://github.com/elastic/kibana/issues/74512)).

Thus we de

[2021-01-13 15:23] #11790 closed

[2021-01-13 15:23] ph commented on #76843
I agree with both of you, I have added specific cloud message to be out of scope for first iteration is that correct?

@mostlyjason we will initially develop this feature hidden in the UI, but we should see how we expose that feature to the end user in the UI. I am also assuming that we can reuse the current existing error reporting to reported blocked operation in the UI.

[2021-01-13 15:24] elasticmachine commented on #88193
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-13 15:25] mmguero commented on #11790
This is disappointing, as it's yet another feature not available in the open source variant of Kibana. If Lens is the future of kibana visualizations, where does that leave the open source tier?

[2021-01-13 15:26] #87753 closed

[2021-01-13 15:28] Dosant opened #88194 "[Search Sessions] Completed session is "in progress" on management screen for some time"
When you save a completed session it takes a long time for it to update into a "completed" state. _In progress_ state is confusing in this case.

https://user-images.githubusercontent.com/7784120/104454646-77562b00-55a6-11eb-85ad-3f8d13b10526.mov

_Originally posted by @Dosant in https://github.com/elastic/kibana/issues/81707#issuecomment-759433896_

cc @lizozom

[2021-01-13 15:28] elasticmachine commented on #88194
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-13 15:30] Dosant commented on #88194
Possible solutions:

* Recalculate session state when saving a session
* ~Increase refresh interval~
* **Recaulcualte session state when opening mgmt screen**

[2021-01-13 15:32] #85968 closed

[2021-01-13 15:38] timroes commented on #3210
This enhancement is implemented in Lens (via https://github.com/elastic/kibana/pull/75635) and available since 7.10. Lens GA’d in 7.10 and going forward Lens is the [recommended way in Kibana](https://www.elastic.co/blog/kibana-lens-now-generally-available) to create visualizations, with more chart types, data processing and integrations planned (see this [Lens meta issue](https://github.com/elast

[2021-01-13 15:38] #3210 closed

[2021-01-13 15:40] spalger commented on #88177
In the last 24 hours this has failed 4 PRs and now master. Not seeing anything obviously in common between the PRs, but two are on 7.x. Skipping

![image](https://user-images.githubusercontent.com/1329312/104474155-f6356e80-557a-11eb-8073-7a1e67aca0d8.png)

master: https://github.com/elastic/kibana/commit/3953f9647e218ed12d51f18d42c5dc809166fd5e
7.x/7.12: https://github.com/elastic/kibana/commit/b

[2021-01-13 15:43] timroes commented on #8936
This enhancement is implemented in Lens (via https://github.com/elastic/kibana/pull/76121) and available since 7.10. Lens GA’d in 7.10 and going forward Lens is the [recommended way in Kibana](https://www.elastic.co/blog/kibana-lens-now-generally-available) to create visualizations, with more chart types, data processing and integrations planned (see this [Lens meta issue](https://github.com/elast

[2021-01-13 15:43] #8936 closed

[2021-01-13 15:49] spalger commented on #88130
Another test in this suite is failing in 7.11, skipping there too https://github.com/elastic/kibana/issues/87988

[2021-01-13 15:49] spalger commented on #87988
Skipped by https://github.com/elastic/kibana/issues/88130

[2021-01-13 15:58] spalger commented on #88184
Duplicate of https://github.com/elastic/kibana/issues/88183

[2021-01-13 15:58] #88184 closed

[2021-01-13 15:58] #86160 closed

[2021-01-13 15:59] kevinlog commented on #80807
@parkiino can you try entering some invalid field, hit enter, and see what happens?

[2021-01-13 16:00] #87341 closed

[2021-01-13 16:00] caitlinbetz commented on #86987
Talked to @bfishel about this one, sounds like we should go with the truncate + tool tip solution

fyi @kevinlog @parkiino

[2021-01-13 16:07] spalger commented on #88183
One of the reasons for this file is so that Operations can maintain code ownership of it and be notified for reviews whenever a limit is adjusted. Making operations a code owner for every kibana.json file is feasible but also means that now operations has a lot more reviews to do... Competing priorities here, but I'm open to this change if we hear a little more noise about conflicts.

I also wonde

[2021-01-13 16:10] charlie-pichette commented on #80807
I think the 200 is a proper response.  However if you were to enter `HostDetails.host.os.family : "invalidwindows" and` then you would receive a 500.  The text in the console is:
[code]
But the UI just shows:
![Screen Shot 2021-01-13 at 9 09 03 AM](https://user-images.githubusercontent.com/56399229/104478001-c5abff80-558f-11eb-8b73-bd01bf59336e.png)

It would be nice if we actually displayed the m

[2021-01-13 16:10] afharo opened #88200 "[Telemetry] Switch reports to Telemetry-Next"
Details TBD.

[2021-01-13 16:10] alexfrancoeur commented on #87402
I don't want to over complicate our simplistic search experience and guidance, but is there anything simple we can provide to hint that you need quotes for white space? If not, I'd be inclined (for 7.11 at least) to lean on docs and see what type of response we get from our community. Taking @gchaps suggestions into consideration for future releases.

[2021-01-13 16:11] elasticmachine commented on #88200
Pinging @elastic/kibana-core (Team:Core)

[2021-01-13 16:11] charlie-pichette commented on #80807
I do not think Kibana considers non-existing fields or values as invalid.  But formatting and structurally incorrect KQL does generate errors and it would be beneficial to have the system provide some help in debugging the issue.

[2021-01-13 16:15] sorantis commented on #79298
@neptunian if I had to choose between unreadable fields vs how wide the tooltip could be, I'd choose readable fields, because it is usually the actual metric name that gets trimmed down (we actually had the a similar issue with adding custom fields to Group by and ended up increasing the dropdown width). We can still set a reasonable constraint on how wide the tooltip can be. Should the user excee

[2021-01-13 16:15] spalger commented on #75106
5 PR failures and one 7.x failure in the last 7 days, skipping

![image](https://user-images.githubusercontent.com/1329312/104478239-48788e80-557f-11eb-8a41-192bd0d54739.png)

master: https://github.com/elastic/kibana/commit/f4a348f7624e7c4b0b5021e03382bef40d06d20a
7.x/7.12: https://github.com/elastic/kibana/commit/34b6e79a657381e16cba72424b19d2f99da5dc7b

@cauemarcondes Looks like you've handled

[2021-01-13 16:15] sqren opened #88202 "[APM] Document known issue with Dependencies Table for RUM services"
The Dependencies table doesn't show any dependencies even when there are some:

**Dependencies Table** No dependencies shown
![image.png](https://zube.io/files/elastic/3b2b0ff4f3fdb823fb02a316f6720641-image.png)

**Service Map** shows there are clearly downstream dependencies
![image.png](https://zube.io/files/elastic/b1cd5b2a4e988578732307a817cf62b0-image.png)

This discrepancy is caused by a bug

[2021-01-13 16:15] elasticmachine commented on #88202
Pinging @elastic/apm-ui (Team:apm)

[2021-01-13 16:15] elasticmachine commented on #75106
Pinging @elastic/apm-ui (Team:apm)

[2021-01-13 16:16] alexfrancoeur opened #88204 "[Saved Object Tagging] Add APIs to allow bulk assign from application listing pages"
This is a follow up from https://github.com/elastic/kibana/issues/81970

At some point, we'd like to add API's to support bulk tag assignment from application pages themselves. For example, creating and applying tags to multiple visualizations in context of the visualization library. This is a placeholder issue, and we can fill out with more details when there is bandwidth / priority for this API.

[2021-01-13 16:16] elasticmachine commented on #88204
Pinging @elastic/kibana-core (Team:Core)

[2021-01-13 16:17] alexfrancoeur commented on #81970
👍 let's close this out. I've opened https://github.com/elastic/kibana/issues/88204 for application specific bulk assignment.

[2021-01-13 16:17] #81970 closed

[2021-01-13 16:19] elasticmachine commented on #87499
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-13 16:22] spalger commented on #88135
@rightaway might giving some information about why you need to manage Node.js for Kibana? Every Kibana distributable we ship, or that is created by the Kibana tools, includes the version of Node.js required to run Kibana and is tested and compatible with exactly one Node.js version. We don't expect, and don't really plan for, users to manage Node.js verisons or installs on their own.

Regardless o

[2021-01-13 16:23] yctercero commented on #87112
Thanks @karanbirsingh-qasource for the details! I found it's because Fleet (who is calling in to create the prepackaged rules in this instance) does not have the lists plugin as a dependency. A fix is on its way :)

[2021-01-13 16:25] lizozom opened #88207 "Usage of x-opaque-id for multiple values"
Elasticsearch supports passing in the `x-opaque-id` header to the tasks executing that search, for identification.

However, at the moment, we don't have a proper way of using it for any purpose (for example to associate search tasks with a `Search Session`), as the header is being over-written by `core`, for [audit logging](https://github.com/elastic/kibana/issues/81493) pirposes.

Ideally, we sh

[2021-01-13 16:27] benwtrent opened #88208 "[ML] ML solution integrations should better handle unassigned anomaly jobs"
**Kibana version:**
7.11+
**Elasticsearch version:**
7.11+
**Describe the bug:**
It is possible (as when running on ESS), that autoscaling is enabled for machine learning. While it is possible to open jobs, there are warning banners in the ML tab indicating there are no ML nodes.

This should be adjusted when there is an ML autoscaling capacity decider on ESS. This way users know that autoscaling

[2021-01-13 16:27] lizozom commented on #88207
Other related issues:

https://github.com/elastic/kibana/pull/41530
https://github.com/elastic/kibana/issues/16493
https://github.com/elastic/kibana/issues/60122

[2021-01-13 16:27] spalger commented on #88134
Related to https://github.com/elastic/kibana/issues/88135, we don't actually support running Kibana with a version of node other than the one that ships with the Kibana distributable. We have a node version validation check which runs in development, but isn't included in the distributable because running `bin/kibana` automatically uses the bundled Node.js version. Like I asked in the other issue,

[2021-01-13 16:28] benwtrent commented on #88208
//CC @zanbel

[2021-01-13 16:39] wylieconlon commented on #88044
@thatguy7 I like the concept that you're sharing, but I'm not convinced that this is the best API for it. If your goal is to ignore "invalid" filters, then wouldn't the simplest API be to have a template option to include only valid filters? Something like `"%dashboard_context-filter_clause%": "valid"` could work. Vega is integrated with index patterns in 3 places right now, so maybe we could inte

[2021-01-13 16:44] peteharverson commented on #87852
See also https://github.com/elastic/kibana/issues/88208 as integrations with ML also need to handle this more gracefully.

[2021-01-13 16:44] cauemarcondes commented on #75106
@spalger sure, I'll have a look, thanks.

[2021-01-13 16:44] sophiec20 commented on #85129
To recap - categorization works well on machine written log messages, typically those written by developers for the purpose of troubleshooting a system. Using wide index patterns has its drawbacks as the message field could be taken from many different types of data sources and may contain data that is not suited to categorising e.g. web access log data which is semi structured.

In the ML UI, the

[2021-01-13 16:54] tylersmalley commented on #88138
@bnewbold, you're correct that the `static-fs` PR was reverted, but we have made huge reductions in file count through other means.

15 minutes seems VERY slow. I brought up an e2-medium (2 vCPUs, 4 GB memory) instance on GCP with standard persistent disk running Ubuntu Focal 20.04 and am seeing under 30 seconds.

[code]

[code]

[code]

What disks are you using? Is there any other activity on thi

[2021-01-13 16:55] weltenwort commented on #85129
I wonder if a general `stop_on_warn` would be too aggressive. For example, wouldn't stopping the categorization due to "too many rare categories" be counter-productive if the cause is a recent change in the data characteristics? What would we expect the user to do in that case?

[2021-01-13 17:02] kibanamachine opened #88211 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/kpi_network·ts - apis SecuritySolution Endpoints Kpi Network With filebeat Make sure that we get KpiNetwork uniqueFlows data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10998/)

[2021-01-13 17:06] spalger commented on #88211
This test is three months old and hasn't failed on any PRs or tracked branches in recent history. Holding out for more info before skipping.

[2021-01-13 17:07] igoristic commented on #74820
@ravikesarwani cc: @chrisronline @jasonrhodes

I’m still trying to understand the UX flow and how we can provide useful feedback/notifications to the user.

I know we have discussed some of these points over zoom, but I think it would be helpful if we address some of these questions here...

---

**- Do we give people the right levers for tuning this query?**

I consider this alert as a "per index

[2021-01-13 17:11] andrewvc commented on #85829
@paulb-elastic I've moved this to the backlog since there's no clear action to take here in terms of a solution. I know @shahzad31 proposed one possible solution, but IIRC we have no consensus on next steps here. Given that this behavior is quite old, and we have no customer complaints, the urgency here seems low.

[2021-01-13 17:21] neptunian commented on #79298
Here is an example of the tooltip with restricted label/field names:

<img width="691" alt="Screen Shot 2021-01-13 at 12 11 06 PM" src="https://user-images.githubusercontent.com/1676003/104485402-73bba780-5598-11eb-8d8e-f4554d842f15.png">

`EuiTooltip` doesn't accept changing the width of the tooltip as they are meant to be small and typically plain text.  I can probably override this style but no

[2021-01-13 17:24] #85899 closed

[2021-01-13 17:25] kqualters-elastic commented on #87456
@deepikakeshav-qasource @manishgupta-qasource the event in the screenshot on the left has a different timestamp than the event on the right, I think that executable information may just not be present in the event on the left for any variety of reasons. Do you have a link to an environment you are seeing this on to verify if that is the case by chance?

[2021-01-13 17:25] #83771 closed

[2021-01-13 17:35] paulb-elastic opened #88216 "[Uptime] Make queued/blocked colour bar less prominent"
When looking at the current implementation of the waterfall chart, the bar that represents the queued/blocked timing, is too prominent and detracts from the actual network requests, making it harder to visualise these.

![image](https://user-images.githubusercontent.com/70908889/104487768-6c5ec300-55c5-11eb-9eea-6df9c7937959.png)

We should make the current bar less prominent.  Some discussed poss

[2021-01-13 17:35] elasticmachine commented on #88216
Pinging @elastic/uptime (Team:uptime)

[2021-01-13 17:42] pmuellr commented on #79372
Have we talked to security folks about this?  They likely have some thoughts.

I'd think anything involving a callback url BACK to Kibana will end up being problematic.  Might work for some deployments, but one obvious problem is Kibana instances not visible on the public internet - servicenow wouldn't be able to connect to invoke the callback url.  I think right now, cloud deployments are publicl

[2021-01-13 17:50] pmuellr commented on #50248
I'm hesitant to delete the tasks, in case say the space was "accidentally" deleted - in that situation, once you re-create the space, I think the alerts would "still be there".  Of course, you have the opposite problem as well - let's say you delete a space you're no longer using, and then a few months later, create a new space with same name and **BOOM!** you now see a bunch of alerts appear out

[2021-01-13 17:58] pmuellr commented on #87055
1. I think the UI should take into account the `enabled` state of the alert - we do want the execution status to be sticky, I think, for diagnostic purposes.  So I think the fix would be to change the UI to display "disabled" for alerts that are disabled, rather than display the stored status.

2. Makes sense to me to clear the execution status back to `pending` (and clear the other fields like er

[2021-01-13 17:59] paulb-elastic opened #88223 "[Uptime] More discoverable click through to the waterfall chart"
With 7.11 you get to the waterfall chart by clicking on the name of the step

![image](https://user-images.githubusercontent.com/70908889/104489050-1db22880-55c7-11eb-9d41-bc0df46d18e1.png)

This is not immediately obvious and users may not realise this is even possible, or what they will get when clicking through.

Whilst this click through doesn’t necessarily need to be removed, there should be

[2021-01-13 17:59] elasticmachine commented on #88223
Pinging @elastic/uptime (Team:uptime)

[2021-01-13 18:00] #87644 closed

[2021-01-13 18:05] cnasikas commented on #88002
As connectors created from within Case should not be used in detections or alerting this https://github.com/elastic/kibana/pull/88220 disabled them on this applications.

[2021-01-13 18:14] thatguy7 commented on #88044
Hi @wylieconlon,

I like your idea to extend the existing keyword.

On the other hand I am not sure, if defining the valid keys only, instead of the ignored ones is the way to go.
1. In terms of my personal needs, the amount of fields I want to ignore is significantly lower than the number of fields I want my graphs to react to.
2. Having non-compatible filters on the dashboard break the graph is

[2021-01-13 18:19] #87849 closed

[2021-01-13 18:30] kevinlog commented on #85944
Hi @muskangulati-qasource

These errors come from the server and are the best we can do right now.

We have this ticket which maps out UI validations that we'll implement in the upcoming releases: https://github.com/elastic/kibana/issues/80150

We can close this one and track the improvements in the above.

c\ @efreeti @caitlinbetz @bfishel @charlie-pichette

[2021-01-13 18:36] wylieconlon commented on #88044
@thatguy7 Looks like you're still proposing a field-based API, but it doesn't seem like the right granularity to me because it's ignoring indexes entirely. There are two problems that I think happen right now:

* When querying 2 different indices in Vega, are we applying the right filters to each query?
* If there are identical field names in 2 different indices, are we intending to apply the filt

[2021-01-13 18:37] mikecote commented on #50248
From what I recall, the SO within that space are gone when the space is deleted (https://github.com/elastic/kibana/blob/master/x-pack/plugins/spaces/server/spaces_client/spaces_client.ts#L94).

[2021-01-13 18:38] ravikesarwani commented on #74820
From a UI perspective I would like control on 2 parameters by the user:

- Shard size (default is > 55 GB)
- Index pattern. Default is "all index/*" but user can put in an optional index pattern so that they can control which indexes this alert applies to. The UI field should provide wild cards and multiple entries etc. functionality as we have in other places.

Sharding strategy is a complex topi

[2021-01-13 18:41] mikecote opened #88231 "Move alerting links from hard-coded to documentation link service"
This issue is for the alerting portion of https://github.com/elastic/kibana/issues/88107.

[2021-01-13 18:41] elasticmachine commented on #88231
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-13 18:42] blakerouse commented on #87632
Yes this is the correct behavior, because launchctl will restart the Agent as the service should be running. If you want to fully stop the Agent on Mac use `launchctl`.

[2021-01-13 18:42] #87632 closed

[2021-01-13 18:42] restrry commented on #80508
@mistic Do you know why list `node scripts/find_plugins_with_circular_deps.js` doesn't detect the problem https://github.com/elastic/kibana/issues/80508#issuecomment-759365245 ?

[2021-01-13 18:48] pmuellr commented on #87664
I think we'd want to do it on every TM claim query - Kibana start up time only would miss too many cases.  Although that's generally going to be too often, especially if it's an additional HTTP request.  Or could we bundle this into one of our existing searches somehow as an aggregation?

And this won't work if the customer disabled scripts.  I'd prefer to use a `Date` header in the http response,

[2021-01-13 18:51] ravikesarwani commented on #74820
@igoristic Thanks for raising these questions. Your points are valid one.
Let me know if my response makes sense and/or if there's further questions.
I updated the [doc](https://docs.google.com/document/d/1Wky8BdgpXFzZY7QuYZ17zA1PMrfH-fvQiOFrf5mxCSE/edit?usp=sharing) with the above comments as well.

If there's complexities you run into implementing the above let's raise it ASAP so that we can dis

[2021-01-13 18:52] pmuellr commented on #87664
One "simple" way to fix the original issue is to not use `now` in our queries, instead replacing it with the literal date computed by Kibana (eg, `Date.now()`).  Seems like the critical usages are in this module, here's an example: https://github.com/elastic/kibana/blob/0e118c2099c21044010d884e932aabb74beeb213/x-pack/plugins/task_manager/server/queries/mark_available_tasks_as_claimed.ts#L74-L81

I

[2021-01-13 18:54] smith commented on #80472
This is still a problem, not sure why it's closed @sqren.

[2021-01-13 19:01] YulNaumenko commented on #79372
@elastic/kibana-security any thoughts or existing tools to support OAuth on the Kibana level?

[2021-01-13 19:02] sophiec20 commented on #85129
The defaults should cater for the most common scenarios rather than the edge cases but without good telemetry or a sufficient user feedback, then it is difficult to judge which are which sometimes. It depends. However, in general I would tend to favour a configuration that would be applying categorisation to the partitions that are most suited to analysis using categorisation techniques.

The defi

[2021-01-13 19:07] #85238 closed

[2021-01-13 19:07] pmuellr commented on #50213
I see runtime fields referenced in a comment above, but guessing we haven't looked at it in a lot of detail.   And I imagine it gets complicated, pretty quick.  Like we'd actually need mapping definitions for the fields, which we don't have today.  Somehow augmenting the KQL-generated query to add the runtime bits.  Etc.

[2021-01-13 19:14] smith commented on #87792
Unable to reproduce this on commit where it failed in CI or on master.

[2021-01-13 19:15] #87792 closed

[2021-01-13 19:16] alvarezmelissa87 opened #88248 "[Meta][ML] DataFrame Analytics wizard: add validation step"
Data Frame Analytics wizard should have a validation step (similar to the AD wizards).

- [x] rerun the validation when relevant settings change before returning to the validation step so summary/details view is up to date (https://github.com/elastic/kibana/pull/94226)
- [x] time/resource warning (related issue https://github.com/elastic/kibana/issues/78637)
    - [x] num_top_classes (Classificati

[2021-01-13 19:16] elasticmachine commented on #88248
Pinging @elastic/ml-ui (:ml)

[2021-01-13 19:18] kevinlog opened #88249 "[BUG] Concurrent installs of Endpoint Package can cause errors in Fleet setup"
**Kibana version:**
7.11, 8.0

**Elasticsearch version:**
7.11, 8.0

**Describe the bug:**
If concurrent installs of the Endpoint package occur (and presumably other packages), it can cause errors in Fleet setup.  I presume this occurs as multiple calls try to install the same ES assets from the package at the same time.

**Steps to reproduce:**
1. Create a fresh 7.11 server
2. Navigate to Securit

[2021-01-13 19:18] elasticmachine commented on #88249
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-13 19:23] flash1293 commented on #80508
@restrry Maybe because it happens outside of server and public sub directories?

[2021-01-13 19:27] pmuellr commented on #50248
Ah!  And re-reading this and looking at the dates :-), I guess the suggestion is this is basically working today, but the task isn't deleted, just marked as failed and won't be run anymore.  That feels right.  I do worry a bit about TM keeping failed tasks around forever, but I'm thinking this case is small potatoes compared to failed action execution errors, where we've seen TM indices with 100's

[2021-01-13 19:36] EricDavisX commented on #87633
the 7.10.1 BC to 7.11 test is completed and passing here:  https://github.com/elastic/beats/issues/23462

- the 7.11 Agent upgrade to 8.0 is taken care of in our Demo / Test server, and as far as i can tell, this problem is fixed - there is a separate bug for when Agent has Endpoint deployed as relating to the new Endpoint process Protection feature where Agent has some troubles starting up.  But,

[2021-01-13 19:36] #87633 closed

[2021-01-13 19:38] happelj opened #88253 "404: Not Found error when trying to delete an Index Lifecycle Policy that contains a period, forward slash, or back slash"
**Kibana version:**
7.2.0

**Elasticsearch version:**
7.2.0

**Server OS version:**
RHEL 7.9 (Maipo)

**Browser version:**
All

**Describe the bug:**
When you delete an Index Lifecycle Policy in Management that contains a period, forward slash, or back slash in the policy name, it shows an error in the lower right corner that says:
Error deleting policy .
404: Not Found. Not Found

**Steps to repr

[2021-01-13 19:50] #87897 closed

[2021-01-13 19:53] #87631 closed

[2021-01-13 20:09] #87483 closed

[2021-01-13 20:18] jen-huang opened #88267 "[Security Solution] Disabling fleet prevents Kibana from starting due to dependency in security_solution plugin"
1. Start Kibana with Fleet disabled: `yarn start --xpack.fleet.enabled=false`
2. Observe that Kibana does not start at all and exits with error `TypeError: Cannot read property 'packagePolicyService' of undefined`

As Fleet is listed as an optional dependency of security solution, Kibana should still be able to start gracefully with Fleet disabled.

[code]

[2021-01-13 20:18] elasticmachine commented on #88267
Pinging @elastic/endpoint-app-team (Feature:Endpoint)

[2021-01-13 20:20] mattkime commented on #88183
I find this surprising. Seems like it would create a lot of review noise and goes against the general theme of autonomy each team has. I'm missing some background on the goal here aside from 'keep bundles small'.

I just added and in short order reverted a PR that added a plugin. I dealt with conflicts at several steps in doing this. They're trivial but annoying so it caught my attention. I think

[2021-01-13 20:22] bogdankjastrzebski commented on #4118
Same here for me

[2021-01-13 20:29] #86882 closed

[2021-01-13 20:30] ogupte opened #88268 "[APM] Service overview: Bug? Transactions and service instances Traffic (tpm) show incorrect values"
per @alex-fedotyev:
I noticed this when was looking at service instances and comparing their traffic values.
Currently I see that the values are different for different time selection (for example, 1 hour shows 400 tpm; but 24 hours shows 5000 tpm), while load patter hasn't changed.
Similar behavior observed on transactions list.

[2021-01-13 20:30] elasticmachine commented on #88268
Pinging @elastic/apm-ui (Team:apm)

[2021-01-13 20:31] #77559 closed

[2021-01-13 20:32] madirey commented on #77559
Fixed again in https://github.com/elastic/kibana/pull/88217

[2021-01-13 20:37] spalger opened #88274 "[es-snapshots] notify operations on build failures"
We currently get notified when the es-snapshot jobs fail to verify a new snapshot, but we're not getting notified on build failures that will prevent the snapshot from being verified, which can lead to snapshots falling behind without anyone noticing.

Example: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+build/1839

[2021-01-13 20:37] elasticmachine commented on #88274
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-13 21:20] restrry commented on #80508
@flash1293 I don't think it matters for the script logic

[2021-01-13 21:20] ymao1 commented on #61313
Correction on how the security solutions threshold rule type works. For this they are generating a single alert instance if the number of (de-duplicated) documents that match the query for the time range exceeds the threshold. In order to get the individual documents that matched, they re-construct the query based on information stored in the alert instance (signal) during the investigation phase.

[2021-01-13 21:31] #19553 closed

[2021-01-13 21:37] paul-tavares opened #88282 "[Fleet] Attempt to save a change (edit) to an Endpoint Integration fails with a 500 internal server error"
Attempting to edit an endpoint integration from Policies > Agent Policy > edit endpoint integration generates an api error when saving.

**Kibana version:**
- v8.0.0 (Master)
- v7.11.0 (build as of 2020.01.13)

**Steps to reproduce:**
1. From fleet, Policies, select an Agent Policy and add Endpoint integration to it. Save it.
2. Once added, Edit the endpoint integration (ex. change name or add Des

[2021-01-13 21:37] elasticmachine commented on #88282
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-13 21:38] sqren commented on #75106
Thanks @cauemarcondes . There seems to be a pattern with the custom link tests being flaky:

https://github.com/elastic/kibana/issues/70156
https://github.com/elastic/kibana/issues/65029

Would be great if we could get to the bottom of this.

[2021-01-13 21:52] sqren commented on #80472
Okay, I guess it's only partially solved:
 - The mobile view looks fixed in that it doesn't stretch the logos.
 - The service name doesn't seem to overlap anymore but it's still truncated as the first column which I guess is the issue now? In that case the title/description should be updated

[2021-01-13 22:00] paul-tavares opened #88286 "[SECURITY_SOLUTION][ENDPOINT] When fleet is disabled, the message shown under the Administration tab still references Ingest Manager"
References to "Ingest Manager" on the Administration page disabled empty prompt needs to be updated to say "fleet"

**Kibana version:**
- v8.0.0
- v7.x

**Steps to reproduce:**
1. Run Kibana with fleet disabled (`--xpack.fleet.enabled=false`)
2. From Kibana UI, access the Administration section of security. The following message is displayed with references to "Ingest Manager" instead of Fleet:
![

[2021-01-13 22:06] ryankeairns commented on #87865
Makes total sense. Thanks for highlighting this case.

[2021-01-13 22:29] simianhacker opened #88290 "[Logs UI] The UI throws error when @timestamp format is date_nanos"
**Kibana version:**
master

**Elasticsearch version:**
master

**Describe the bug:**
When `@timestamp` is set to `date_nanos` the date formatter throws an error.

**Steps to reproduce:**
1. Index some logs setting `@timestamp` to `date_nanos` (contact @simianhacker for help)
2. Open Logs UI
3. :(

**Expected behavior:**
It should render properly without errors.

**Screenshots (if relevant):**
![im

[2021-01-13 22:29] elasticmachine commented on #88290
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-13 22:44] cqliu1 commented on #81812
We want to use the same panel toolbar from Dashboard (see #85663) in Canvas to handle creating new by-value/by-reference embeddable and adding existing by-reference embeddables.

In order to integrate the panel toolbar, Canvas would need to generically support both by-value and by-ref for any type of embeddable. This is potentially a breaking change and requires some research.

This panel toolbar

[2021-01-13 23:04] ravikesarwani commented on #86112
Will the package have a default ILM policy? The collected Agent logs and metrics should be kept by default maybe for 7 days. User, of course can adjust this based on specific needs.

[2021-01-13 23:06] EricDavisX commented on #86882
this has a PR to 7.11 but it is not merged yet so I do NOT think it will be in the 7.11 BC3.  Track this PR against the BC3 build time to confirm:
https://github.com/elastic/kibana/pull/88272

[2021-01-13 23:09] EricDavisX commented on #87979
the 7.11 BC3 should have picked up this change - see here:
https://github.com/elastic/kibana/pull/88179

[2021-01-13 23:29] wylieconlon commented on #15545
As described in the original issue, there has been an incomplete definition of variables since Timelion was introduced in 2015:

This is still the latest state of variables in Timelion.

[2021-01-13 23:31] wylieconlon commented on #13783
We should make a decision about documenting the incomplete features of Timelion, specifically [variables](https://github.com/elastic/kibana/issues/15545) and series references like `(@1:1)`. They can very easily cause errors and we've never publicly documented them, but the features have existed since Timelion was first introduced in 2015.

[2021-01-13 23:33] YulNaumenko opened #88295 "[Alerting UI] If `xpack.actions.enabled` is set as false, UI doesn't say about it, just showing an endless spinner."
**Kibana version:**
master

**Describe the bug:**
When the kibana.yml setting `xpack.actions.enabled` is set as false there is still available Alerts and Actions management left side menu option is still available and on navigating to it user see just endless spinner on the Alerts tab.
<img width="1563" alt="Screen Shot 2021-01-13 at 3 25 43 PM" src="https://user-images.githubusercontent.com/55110

[2021-01-13 23:33] elasticmachine commented on #88295
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-13 23:44] bhavyarm opened #88296 "Draw shape filter does not seem to be working and logs errors in console"
**Kibana version:** 7.11.0 BC2

**Elasticsearch version:** 7.11.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Draw shape filter on maps - both in maps app and in dashboard does not seem to be working and logs

these errors in

[2021-01-13 23:44] elasticmachine commented on #88296
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-14 00:31] spalger commented on #88183
Yeah, the logic behind when it's okay and not okay to raise a bundle limit is something we discover each time a request comes in. Sometimes it's obvious, often even, but it's still something we want to check each time the bundle limit needs to be raised so I wouldn't consider this noise. There are also cases where Operations needs to step in and help PR authors figure out what to do about a bundle

[2021-01-14 02:05] spong commented on #87980
We've just changed this behavior, and with https://github.com/elastic/kibana/pull/87694, the `endpoint_list` should no longer be deletable (trash can icon greyed out). This will be available to verify in BC3.

[2021-01-14 02:33] elastic-Mak-Ito commented on #83142
@cqliu1 Apologies for my late response. I got the feedback from the customer for this request. It is acceptable to add support for `ip` type by treating it as a string in Canvas. Ideally, IP address range specification is available in Canvas.

[2021-01-14 03:10] mattkime commented on #88183
The data plugin laughs quietly to itself.

[2021-01-14 04:04] mattkime commented on #87575
@neptunian I took a close look at this issue but its unclear to me how users are impacted by the current state. Its true that some fields aren't listed in index pattern management. Is it common for users to modify their index patterns before they have data?

I'm very hesitant to work with a static field list as it removes flexibility thats present for any other index pattern.

[2021-01-14 04:18] kibanamachine opened #88301 "Failing test: Jest Tests.x-pack/plugins/index_management/__jest__/client_integration/index_template_wizard - <TemplateEdit /> with mappings form payload should send the correct payload with changed values"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11122/)

[2021-01-14 04:42] bevano8 commented on #12562
Any updates or ETA on this?

[2021-01-14 05:01] spalger opened #88302 "Failing ES Promotion: X-Pack Lists Integration Tests.x-pack/test/lists_api_integration/security_and_spaces/tests/read_list_privileges·ts.lists api security and spaces enabled read_list_privileges should return true for all privileges when its the system user of "elastic" in space of "default""
ES Promotion is failing for master, and I'm guessing 7.x is coming, due to a change that is causing changes to the security API responses:

https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/98757/testReport/junit/X-Pack%20Detection%20Engine%20API%20Integration%20Tests/x-pack_test_detection_engine_api_integration_security_and_spaces_tests_finalize_signals_migrations%C2%B7ts/dete

[2021-01-14 05:04] spalger commented on #88302
Skipped

master: https://github.com/elastic/kibana/commit/850242cd42993bdf801e1e13ae2a56d0b8aecbc4
7.x/7.12: https://github.com/elastic/kibana/commit/c6bb4366b0d295b6c5bcb25c26380332afe66fcf

[2021-01-14 06:47] rightaway commented on #88134
@rudolf @spalger responding to #88135 here.

I'm using the official package provided by archlinux https://archlinux.org/packages/community/any/kibana/. The `nodejs` package https://archlinux.org/packages/community/x86_64/nodejs/ is listed as a dependency which is 15.5.1. I needed to install `nodejs-lts-fermium` which is 14.15.4 https://archlinux.org/packages/community/x86_64/nodejs-lts-fermium/ to

[2021-01-14 09:02] formgeist commented on #87673
I think the conversation on this issue is diverging into a discussion around service health indication and visualizing its trend. We should open a new issue to track this and have a place to discuss whether we should start defining service health as more than just response time anomalies (e.g. include alerts).

Re: indication and visualizing the anomalies in the chart, there's an inconsistency in

[2021-01-14 09:23] MadameSheema commented on #84610
@XavierM @angorayc any update about this please?

[2021-01-14 09:26] MadameSheema commented on #85748
@deepikakeshav-qasource BC3 is already available, can you please validate this ticket? Lots of thanks :)

[2021-01-14 09:27] MadameSheema commented on #87459
@deepikakeshav-qasource BC3 is already available, can you please validate this ticket? Lots of thanks :)

[2021-01-14 09:28] MadameSheema commented on #88002
@deepikakeshav-qasource BC3 is already available, can you please validate this ticket? Lots of thanks :)

[2021-01-14 09:45] jalvz opened #88307 "[Fleet] Alternative Index pattern in ES templates"
When installing integrations, Fleet creates templates with index patterns following the indexing strategy: `<type>-<dataset>-*`

In the APM package, the datasets defined are only a prefix, and a service name will be appended during runtime. We therefore need that the APM templates are created with matching index patterns, like `<type>-<dataset>*-*`

Fleet should know whether to create templates wi

[2021-01-14 09:45] elasticmachine commented on #88307
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-14 09:45] sgrodzicki commented on #85990
FYI

[2021-01-14 09:47] arisonl commented on #61313
@ymao1 Thanks for this analysis. Leaving aggregations initially out for the MVP is fine, but I suspect that to the users that are interested in the search alert, aggregations are important, so we should expect that we need to pick it up soon and plan accordingly.

A couple of notes that may worth pointing out in this context. Not requirements for this story, rather for your and @mikecote's conside

[2021-01-14 09:54] muskangulati-qasource commented on #85944
Hi @kevinlog,

Thank you for the update. We will track the other ticket for this issue.

Closing this ticket and marking it as 'Validated'.

Thanks!

[2021-01-14 09:54] #85944 closed

[2021-01-14 10:05] sulemanof commented on #46801
Closing this in favor of https://github.com/elastic/kibana/issues/78578

[2021-01-14 10:05] #46801 closed

[2021-01-14 10:09] alexwizp opened #88310 "[Core] Backport not working with the latest git v2.30.0"
After updating git version to the latest one `scripts/backport` works with error

![image](https://user-images.githubusercontent.com/20072247/104576544-63bfc880-5669-11eb-9a52-6c43bc0302bc.png)

[2021-01-14 10:11] sulemanof commented on #88310
I have the same issue:

![image](https://user-images.githubusercontent.com/31325372/104576988-ff513900-5669-11eb-8367-ce7defddb044.png)

[2021-01-14 10:15] weltenwort commented on #88290
related: #40183

[2021-01-14 10:23] kibanamachine opened #88313 "Failing test: X-Pack Background Search UI (Enabled WIP Feature).x-pack/test/send_search_to_background_integration/tests/apps/dashboard/async_search/send_to_background_relative_time·ts - async search send to background with relative time Saves and restores a session with relative time ranges"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11017/)

[2021-01-14 10:27] azasypkin commented on #79372
Unfortunately we don't have anything OIDC related in Kibana that you could leverage for your use case since heavy lifting and back channel communication is done on the Elasticsearch side.

Having said that I'm not sure if you really need to deal with any OAuth flows that involve browser/callbacks, it seems what you really need is [`Client Credentials Grant/Flow`](https://tools.ietf.org/html/rfc674

[2021-01-14 11:00] #84459 closed

[2021-01-14 11:22] rahulgupta-qasource commented on #86267
Hi @EricDavisX

Thank you for sharing the feedback.

We have updated the corresponding testcase https://elastic.testrail.io/index.php?/cases/view/35178 accordingly.

[2021-01-14 11:46] MadameSheema commented on #87980
@muskangulati-qasource can you please verify the new behaviour on the available 7.11.0-BC3? Lots of thanks :)

[2021-01-14 11:48] ruflin commented on #88307
@jalvz Is it `<type>-<dataset>*-*` on purpose or should it be `<type>-<dataset>.*-*`?

[2021-01-14 12:06] jalvz commented on #88307
The `.` is kind of a convention in apm server, I wasn't intending to force it on everybody. But both would work, so I'm fine with either.

[2021-01-14 12:10] ruflin commented on #88307
I kind of like the idea of the `.` because it prevents "accidental" applying of the pattern. Lets assume build the service `apmish` and now the dataset has the same name. Now without the `.` the pattern would match, but with the doc it is not matching.

[2021-01-14 12:15] mostlyjason commented on #87078
Ok thanks I think we can close this one then

[2021-01-14 12:15] #87078 closed

[2021-01-14 12:24] bellenco commented on #72622
hi
i have the same issue on 7.10

[2021-01-14 12:26] deepikakeshav-qasource commented on #88002
Hi  @cnasikas
We have validated this ticket on  **7.10.2 BC2** and found that issue is **not Fixed** . Empty "Created by" is displaying in the incident for alerts when the connector is added from Cases.

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.10.2-3a483c17/summary-7.10.2.html

**Screenshot:**
![IBM](https://user-images.githubusercontent.com/61860752/104568074-996aae80-56

[2021-01-14 12:58] skh opened #88324 "[EPM] Missing icons for Elasticsearch assets"
With the merge of https://github.com/elastic/kibana/pull/88036 , we now show both Kibana and Elasticsearch assets in the sidebar of the Integrations detail page:

The full list of Elasticsearch assets that can appear in this list is (from `common/types/models/epm.ts`):
[code]
We don't have icons assigned to these asset types yet, so they currently appear without an icon in the list. This example s

[2021-01-14 12:58] elasticmachine commented on #88324
Pinging @elastic/fleet (Feature:EPM)

[2021-01-14 12:58] elasticmachine commented on #88324
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-14 13:04] legrego opened #88325 "Unable to retrieve full certificate chain for PKI auth when using TLSv1.3"
**Kibana version:** 7.11.0

**Alternate Titles:**

**Describe the bug:**

TLS session negotiation is an expensive operation for both the client and the server. Once a session is negotiated, the two parties attempt to reuse the existing session for subsequent requests, in order to reduce this mutual overhead.

When PKI (client certificate) auth is enabled, Kibana expects to be able to retrieve the

[2021-01-14 13:04] elasticmachine commented on #88325
Pinging @elastic/kibana-security (Team:Security)

[2021-01-14 13:12] EricDavisX commented on #83426
is this ready for testing in 8.0 @jfsiii ?

[2021-01-14 13:30] elasticmachine commented on #88313
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-14 13:33] banderror commented on #80508
Security Solution team started checking what we can do from our side. https://github.com/elastic/kibana/pull/88106

[2021-01-14 13:47] elasticmachine commented on #87850
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-14 13:52] sqren opened #88329 "[APM] Decide what do to wrt APM Indices settings for users with data streams"
![image.png](https://zube.io/files/elastic/0bed207fe19646da0176e73f589d6730-image.png)
_The UI Indices in APM in 7.x_

Related: https://github.com/elastic/kibana/issues/87501

By default the APM app queries indices matching `apm-*` but it is possible to customize this [via kibana.yml](https://www.elastic.co/guide/en/kibana/current/apm-settings-kb.html#general-apm-settings-kb) and UI Indices.

Star

[2021-01-14 13:52] elasticmachine commented on #88329
Pinging @elastic/apm-ui (Team:apm)

[2021-01-14 13:54] sqren commented on #87501
fyi: created [an issue](https://github.com/elastic/kibana/issues/88329) to track the deprecation of UI indices in 8.0

[2021-01-14 13:55] bytebilly commented on #78222
This feature is very important for Cloud users, since they access deployments via SAML and they should not be relying on the local `elastic` user anymore.

Since we already have a panel to list API keys in Kibana, that sounds to me like a good starting point to create new ones.

API keys are not bounded to the creator's lifecycle, and users require a specific privilege to create and manage them. T

[2021-01-14 13:56] peluja1012 commented on #87090
@deepikakeshav-qasource This should be fixed. Could you please validate again?

[2021-01-14 14:00] #87691 closed

[2021-01-14 14:08] mark54g opened #88333 "Documentation for Alerting Email Action Could Use Updating"
**Kibana version:**
7.10.1

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Every example listed here: https://www.elastic.co/guide/en/kibana/7.10/email-action-type.html#configuring-email mentions the secure option, and should reflect what the toggle t

[2021-01-14 14:08] #9369 closed

[2021-01-14 14:08] #10204 closed

[2021-01-14 14:08] #10424 closed

[2021-01-14 14:08] #11441 closed

[2021-01-14 14:08] #11565 closed

[2021-01-14 14:08] #12314 closed

[2021-01-14 14:08] #13773 closed

[2021-01-14 14:08] #14410 closed

[2021-01-14 14:08] #15291 closed

[2021-01-14 14:08] #15622 closed

[2021-01-14 14:08] #15983 closed

[2021-01-14 14:08] #16309 closed

[2021-01-14 14:08] #16938 closed

[2021-01-14 14:08] #18305 closed

[2021-01-14 14:08] #19549 closed

[2021-01-14 14:08] #23892 closed

[2021-01-14 14:08] #25186 closed

[2021-01-14 14:08] #25808 closed

[2021-01-14 14:08] #27843 closed

[2021-01-14 14:08] #32149 closed

[2021-01-14 14:08] #37936 closed

[2021-01-14 14:08] #43647 closed

[2021-01-14 14:08] #44537 closed

[2021-01-14 14:08] #51007 closed

[2021-01-14 14:08] #51386 closed

[2021-01-14 14:08] #5196 closed

[2021-01-14 14:08] #5436 closed

[2021-01-14 14:08] #6548 closed

[2021-01-14 14:08] #8542 closed

[2021-01-14 14:08] #9680 closed

[2021-01-14 14:08] #11445 closed

[2021-01-14 14:13] #36545 closed

[2021-01-14 14:13] #42491 closed

[2021-01-14 14:13] #45531 closed

[2021-01-14 14:13] #53256 closed

[2021-01-14 14:13] #53444 closed

[2021-01-14 14:13] #53528 closed

[2021-01-14 14:13] #54229 closed

[2021-01-14 14:13] #10286 closed

[2021-01-14 14:13] #17432 closed

[2021-01-14 14:13] #17475 closed

[2021-01-14 14:13] #18846 closed

[2021-01-14 14:13] #21424 closed

[2021-01-14 14:13] #35210 closed

[2021-01-14 14:13] #38423 closed

[2021-01-14 14:13] #40739 closed

[2021-01-14 14:13] #41980 closed

[2021-01-14 14:13] #43335 closed

[2021-01-14 14:13] #43431 closed

[2021-01-14 14:13] #45523 closed

[2021-01-14 14:13] #47014 closed

[2021-01-14 14:13] #47089 closed

[2021-01-14 14:13] #48521 closed

[2021-01-14 14:13] #48918 closed

[2021-01-14 14:13] #49096 closed

[2021-01-14 14:13] #49498 closed

[2021-01-14 14:13] #13800 closed

[2021-01-14 14:13] #17061 closed

[2021-01-14 14:13] #18847 closed

[2021-01-14 14:13] #38092 closed

[2021-01-14 14:13] #38463 closed

[2021-01-14 14:13] #38464 closed

[2021-01-14 14:13] #38465 closed

[2021-01-14 14:13] #38550 closed

[2021-01-14 14:13] #38637 closed

[2021-01-14 14:13] #38669 closed

[2021-01-14 14:13] #38875 closed

[2021-01-14 14:13] #38942 closed

[2021-01-14 14:13] #38951 closed

[2021-01-14 14:13] #39857 closed

[2021-01-14 14:13] #40188 closed

[2021-01-14 14:13] #40272 closed

[2021-01-14 14:13] #40380 closed

[2021-01-14 14:13] #40479 closed

[2021-01-14 14:13] #41060 closed

[2021-01-14 14:13] #41412 closed

[2021-01-14 14:13] #43083 closed

[2021-01-14 14:13] #19019 closed

[2021-01-14 14:13] #22112 closed

[2021-01-14 14:13] #22976 closed

[2021-01-14 14:13] #28089 closed

[2021-01-14 14:13] #30876 closed

[2021-01-14 14:13] #31886 closed

[2021-01-14 14:13] #32129 closed

[2021-01-14 14:13] #33396 closed

[2021-01-14 14:13] #33874 closed

[2021-01-14 14:13] #34138 closed

[2021-01-14 14:13] #34395 closed

[2021-01-14 14:13] #34613 closed

[2021-01-14 14:13] #34660 closed

[2021-01-14 14:13] #34731 closed

[2021-01-14 14:13] #34847 closed

[2021-01-14 14:13] #34910 closed

[2021-01-14 14:13] #35023 closed

[2021-01-14 14:13] #35299 closed

[2021-01-14 14:13] #35731 closed

[2021-01-14 14:13] #35860 closed

[2021-01-14 14:13] #36430 closed

[2021-01-14 14:13] #36576 closed

[2021-01-14 14:13] #36578 closed

[2021-01-14 14:13] #36591 closed

[2021-01-14 14:13] #36665 closed

[2021-01-14 14:13] #7764 closed

[2021-01-14 14:13] #13329 closed

[2021-01-14 14:13] #15923 closed

[2021-01-14 14:13] #18079 closed

[2021-01-14 14:13] #21657 closed

[2021-01-14 14:13] #22878 closed

[2021-01-14 14:13] #24090 closed

[2021-01-14 14:14] #25080 closed

[2021-01-14 14:14] #26900 closed

[2021-01-14 14:14] #27380 closed

[2021-01-14 14:14] #27656 closed

[2021-01-14 14:14] #27747 closed

[2021-01-14 14:14] #27968 closed

[2021-01-14 14:14] #28583 closed

[2021-01-14 14:14] #28624 closed

[2021-01-14 14:14] #29060 closed

[2021-01-14 14:14] #29250 closed

[2021-01-14 14:14] #29511 closed

[2021-01-14 14:14] #29892 closed

[2021-01-14 14:14] #30058 closed

[2021-01-14 14:14] #8804 closed

[2021-01-14 14:14] #12173 closed

[2021-01-14 14:14] #13462 closed

[2021-01-14 14:14] #14064 closed

[2021-01-14 14:14] #19188 closed

[2021-01-14 14:14] #19466 closed

[2021-01-14 14:14] #19713 closed

[2021-01-14 14:14] #21570 closed

[2021-01-14 14:14] #21595 closed

[2021-01-14 14:14] #22471 closed

[2021-01-14 14:14] #22751 closed

[2021-01-14 14:14] #22815 closed

[2021-01-14 14:14] #23430 closed

[2021-01-14 14:14] #23501 closed

[2021-01-14 14:14] #23509 closed

[2021-01-14 14:14] #23661 closed

[2021-01-14 14:14] #23714 closed

[2021-01-14 14:14] #23957 closed

[2021-01-14 14:14] #24164 closed

[2021-01-14 14:14] #24631 closed

[2021-01-14 14:14] #25004 closed

[2021-01-14 14:14] #25051 closed

[2021-01-14 14:14] #26110 closed

[2021-01-14 14:14] #26325 closed

[2021-01-14 14:14] #5580 closed

[2021-01-14 14:14] #5948 closed

[2021-01-14 14:14] #8054 closed

[2021-01-14 14:14] #9643 closed

[2021-01-14 14:14] #13002 closed

[2021-01-14 14:14] #16303 closed

[2021-01-14 14:14] #16759 closed

[2021-01-14 14:14] #17373 closed

[2021-01-14 14:14] #17535 closed

[2021-01-14 14:14] #17693 closed

[2021-01-14 14:14] #17818 closed

[2021-01-14 14:14] #17992 closed

[2021-01-14 14:14] #18170 closed

[2021-01-14 14:14] #18300 closed

[2021-01-14 14:14] #18787 closed

[2021-01-14 14:14] #19110 closed

[2021-01-14 14:14] #19305 closed

[2021-01-14 14:14] #19366 closed

[2021-01-14 14:14] #21150 closed

[2021-01-14 14:14] #21273 closed

[2021-01-14 14:14] #21387 closed

[2021-01-14 14:14] #21784 closed

[2021-01-14 14:14] #21880 closed

[2021-01-14 14:14] #22668 closed

[2021-01-14 14:14] #4761 closed

[2021-01-14 14:14] #6514 closed

[2021-01-14 14:14] #7029 closed

[2021-01-14 14:14] #7281 closed

[2021-01-14 14:14] #7328 closed

[2021-01-14 14:14] #7763 closed

[2021-01-14 14:14] #9163 closed

[2021-01-14 14:14] #9669 closed

[2021-01-14 14:14] #11976 closed

[2021-01-14 14:14] #12729 closed

[2021-01-14 14:14] #13865 closed

[2021-01-14 14:14] #14163 closed

[2021-01-14 14:14] #14608 closed

[2021-01-14 14:14] #16614 closed

[2021-01-14 14:14] #16685 closed

[2021-01-14 14:14] #16942 closed

[2021-01-14 14:14] #17223 closed

[2021-01-14 14:14] #18372 closed

[2021-01-14 14:14] #18956 closed

[2021-01-14 14:14] #18965 closed

[2021-01-14 14:14] #19829 closed

[2021-01-14 14:14] #20016 closed

[2021-01-14 14:14] #20161 closed

[2021-01-14 14:14] #20910 closed

[2021-01-14 14:14] #21085 closed

[2021-01-14 14:14] #2048 closed

[2021-01-14 14:14] #5430 closed

[2021-01-14 14:14] #6219 closed

[2021-01-14 14:14] #6469 closed

[2021-01-14 14:14] #8940 closed

[2021-01-14 14:14] #9848 closed

[2021-01-14 14:14] #10025 closed

[2021-01-14 14:14] #10199 closed

[2021-01-14 14:14] #10798 closed

[2021-01-14 14:15] #11876 closed

[2021-01-14 14:15] #11877 closed

[2021-01-14 14:15] #12369 closed

[2021-01-14 14:15] #13699 closed

[2021-01-14 14:15] #14328 closed

[2021-01-14 14:15] #14506 closed

[2021-01-14 14:15] #14845 closed

[2021-01-14 14:15] #15135 closed

[2021-01-14 14:15] #15452 closed

[2021-01-14 14:15] #15884 closed

[2021-01-14 14:15] #16806 closed

[2021-01-14 14:15] #16980 closed

[2021-01-14 14:15] #17178 closed

[2021-01-14 14:15] #17190 closed

[2021-01-14 14:15] #17206 closed

[2021-01-14 14:15] #17913 closed

[2021-01-14 14:15] #6430 closed

[2021-01-14 14:15] #7517 closed

[2021-01-14 14:15] #8130 closed

[2021-01-14 14:15] #8584 closed

[2021-01-14 14:15] #8839 closed

[2021-01-14 14:15] #9567 closed

[2021-01-14 14:15] #10315 closed

[2021-01-14 14:15] #11711 closed

[2021-01-14 14:15] #12079 closed

[2021-01-14 14:15] #13088 closed

[2021-01-14 14:15] #13131 closed

[2021-01-14 14:15] #13221 closed

[2021-01-14 14:15] #13550 closed

[2021-01-14 14:15] #88100 closed

[2021-01-14 14:17] skh commented on #88324
Icons to use (thanks @hbharding !)
ingest pipeline: `pipelineApp`

[2021-01-14 14:17] elasticmachine commented on #88333
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-14 14:23] neptunian commented on #79298
Here is an example of the fields wrapping instead of being restricted, similar to the `MetricsContextMenu` with type of aggregation (to distinguish between the same fields with different aggregations) and with formatted values:

<img width="1442" alt="Screen Shot 2021-01-14 at 9 21 06 AM" src="https://user-images.githubusercontent.com/1676003/104602951-ec2e7100-5649-11eb-8c28-7467a6686807.png">

[2021-01-14 14:26] hbharding commented on #88324
We don't have existing icons for some of the other Elasticsearch assets, so I'm proposing we don't use icons for any Elasticsearch assets. Plus, in a future iteration, I'm planning on not using icons, even for Kibana assets. Let's close as won't fix.

[2021-01-14 14:28] skh commented on #88324
@hbharding Thank you for looking into it!

[2021-01-14 14:28] #88324 closed

[2021-01-14 14:39] trexx opened #88339 "[Security Solution] Err"
**Describe the bug:**
Upon opening the security solution page, I get an error:

`[invalid_index_name_exception] Invalid index name [_security], must not start with '_'., with { index_uuid="_na_" & index="_security" }`

Some searching revealed it may have something to do with xpack.security.enabled: false

https://github.com/elastic/kibana/issues/58605

**Kibana/Elasticsearch Stack version:** 7.10.

[2021-01-14 14:43] #86638 closed

[2021-01-14 14:47] pgayvallet commented on #87901
Yea, we should add some preflight checks before bootstrapping the client-side and display a clear error in that case.
We should at least check for access to localStorage and sessionStorage. Does anyone see anything else?

[2021-01-14 14:57] chrisronline commented on #81020
@ravikesarwani

Should we wait on https://github.com/elastic/kibana/pull/85047 and https://github.com/elastic/kibana/pull/87377 until the Elasticsearch team implements changes to detect if users have actions connected to watcher (aka: https://github.com/elastic/elasticsearch/issues/50032#issuecomment-759714496)? If we don't wait, it means we will either have to always notify users they may need to

[2021-01-14 14:57] pgayvallet commented on #86162
That's the same issue @lukeelmers encountered with with request/response logging in https://github.com/elastic/kibana/issues/13241. I guess the solution will be to log them under the `debug` level in core to avoid this duplication?

[2021-01-14 15:01] jgowdyelastic commented on #74484
From a request point of view, reverting a snapshot is quite different from deleting a job.
When we delete a job, a request is sent to es to delete the job, we receive an instant acknowledgment and a task is started in es to do the deleting in the background.
we then poll the current running tasks to know when to update the jobs list.

When we revert a snapshot, the request to es will wait until th

[2021-01-14 15:11] trexx opened #88341 "[Security Solution] Machine learning permissions failure"
**Describe the bug:**
Viewing any pages within the Security solution sub pages results in an error message when machine learning is disabled.
Error with message "Machine learning permissions failure Not Found"

`Error: Not Found
    at Fetch._callee3$ (https://elasticsearch/35949/bundles/core/core.entry.js:6:59535)
    at l (https://elasticsearch/35949/bundles/kbn-ui-shared-deps/kbn-ui-shared-deps

[2021-01-14 15:14] joshdover commented on #57777
This issue only affected legacy plugins which are no longer supported

[2021-01-14 15:14] #57777 closed

[2021-01-14 15:15] joshdover commented on #52741
No longer an issue

[2021-01-14 15:15] #52741 closed

[2021-01-14 15:18] joshdover commented on #65771
This appears to be Chrome behavior that we are not aware of our ability to change or fix. Going to close, but feel free to reopen if anyone disagrees.

[2021-01-14 15:18] #65771 closed

[2021-01-14 15:19] ravikesarwani commented on #81020
Currently we deploy new alerts when user visits the SM UI. Can we add a generic message whenever we deploy new alerts? Something on the lines of "New alerts have been created. Review the alert definition using Setup mode and configure additional action connectors to get notified via your favorite method".
The message comes only when new alerts have been created.

This will help cover many differen