[2022-01-27 11:04] kibanamachine opened #123902 "Failing test: Jest Integration Tests.src/core/server/elasticsearch/integration_tests - esVersionCompatibleWithKibana successfully starts Kibana 7.17.x against Elasticsearch 8.0.0"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8630#5875e4c6-7045-4dad-8185-01d97949da53)

[2022-01-27 11:09] #121273 closed

[2022-01-27 11:18] joshdover opened #123904 "[Fleet] Add "managed" and integration name tags to Saved Objects installed by EPM"
In #110660 we added support for installing tags defined by packages, however the main use case we have for tags is for adding a standard set of tags to all Saved Objects we install from packages. In this case, it makes more sense for the Fleet EPM code to handle defining these tags rather than needing to require every package to define them and keep them in sync.

The goal of this change is to hel

[2022-01-27 11:18] elasticmachine commented on #123904
Pinging @elastic/fleet (Team:Fleet)

[2022-01-27 11:19] elasticmachine commented on #123030
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-27 11:25] flash1293 commented on #123030
That's a great catch. It took me a bit to trace it to the root source, but it seems to be a general issue with how partial results and expression executions work.

The loader will cancel an ongoing expression if the execution will return `isPending === true`:
https://github.com/elastic/kibana/blob/73a0fc0948bb4e5cd8bc4b3ccbcb60f9270bc23f/src/plugins/expressions/public/loader.ts#L133

It will retur

[2022-01-27 11:47] pgayvallet commented on #72880
I'm sorry but I have to ask: what is expected from the Kibana side on this matter exactly?

I'm no CDN expert, but for having used some of them on quite a few projects, CDN/Asset caching can usually be addressed without architecture changes, as it's mostly infrastructure based with caching policies/rules at the CDN's level (well at least for self-populating CDNs, but I doubt any CDN solution is no

[2022-01-27 11:48] elasticmachine commented on #123857
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-27 11:58] cnasikas commented on #123375
@academo should we close the issue?

[2022-01-27 12:05] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8635#ffbe36e7-5557-45f9-b17a-fe25a70b908f)

[2022-01-27 12:08] afharo commented on #96641
Note: The main effort (supporting description fields in the schema) is completed. The rest is about chasing teams to fully document it and make it mandatory once we know the CI won’t break.

I don’t think this effort is pressing until  is complete because we have no ways to leverage this info otherwise. Unless our Telemetry team says otherwise @mindbat @haywoood (I'm thinking on our internal index

[2022-01-27 12:09] afharo commented on #92781
Note: The main effort (supporting description fields in the schema) is completed. The rest is about chasing teams to fully document it and make it mandatory once we know the CI won’t break.

I don’t think this effort is pressing until #89726 is complete because we have no ways to leverage this info otherwise. Unless our Telemetry team says otherwise @mindbat @haywoood (I'm thinking on our internal

[2022-01-27 12:13] karanverma-qasource opened #123912 "[Security Solution] External alert list breaking on adding sorting for column breakpoint is 6 columns"
**Describe the bug:**
External alert list breaking on adding sorting for column breakpoint is 6 columns

**Kibana/Elasticsearch Stack version:**
[code]

**Pre-Conditions**
1. Kibana Should be up and running.
2. Elasticsearch should be up and running.
3. Endpoint should be installed.
4. Endpoint alerts should be present.

**Steps to Reproduce**

1. Navigate to Hosts tab under security.
2. Click on

[2022-01-27 12:13] elasticmachine commented on #123912
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-27 12:18] afharo commented on #98000
I'm having second thoughts about this issue. While it's useful for internal validation, the fact is that most fields are optional because we skip any failed collectors and report whatever we managed to retrieve in the report.

I'll close the issue for now. Feel free to reopen if there's any need for this feature in the future.

[2022-01-27 12:18] #98000 closed

[2022-01-27 12:25] fkanout opened #123913 "[RAC][APM] Add {{context.reason}} variable to the rule templating language."
# Summery
In the context of https://github.com/elastic/kibana/issues/119090, the alert reason `{{context.reason}}` should appear as one of the rule variables when defining the rule action when defining the rule action.

# AC

- Alert Reason appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the correct alert Reason shows up in the conten

[2022-01-27 12:27] fkanout opened #123915 "[RAC][UPTIME] Add {{context.reason}} variable to the rule templating language"
# Summery
In the context of https://github.com/elastic/kibana/issues/119090, the alert reason `{{context.reason}}` should appear as one of the rule variables when defining the rule action.

# AC

- Alert Reason appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the correct alert Reason shows up in the content / message when viewing the a

[2022-01-27 12:29] afharo commented on #99767
@elastic/kibana-core I wonder if this is possible and even encouraged?

[2022-01-27 12:29] fkanout opened #123916 "[RAC][LOGS] Add {{context.reason}} variable to the rule templating language"
# Summery
In the context of https://github.com/elastic/kibana/issues/119090, the alert reason `{{context.reason}}` should appear as one of the rule variables when defining the rule action when defining the rule action.

# AC

- Alert Reason appears as one of the rule variables when defining the rule action
- When chosen to be included in the message, the correct alert Reason shows up in the conten

[2022-01-27 12:31] mikecote commented on #75584
Closing issue as we now know the support expectations whenever this does occur.

[2022-01-27 12:31] #75584 closed

[2022-01-27 12:32] #112782 closed

[2022-01-27 12:36] pgayvallet commented on #99767
Depends, how/where is this link used exactly?

AFAIK using the docLink service for all static links is the recommended approach when possible

[2022-01-27 12:37] danielkhan commented on #121176
For a user who wants to use OpenTelemetry, I think this will still be a good touchpoint.
I think we should still do it. There were a few things to be sorted out from a support perspective as far as I know.
cc @graphaelli

[2022-01-27 12:39] tobiasstadler commented on #123792
Hm, as far as I know the flyout uses `/internal/apm/traces/{traceId}` to display the information, which calls`getTraceItems` (see https://github.com/elastic/kibana/blob/95e6dd695e09d4853a2cae4ffcce233bbddaf2e4/x-pack/plugins/apm/server/routes/traces/get_trace_items.ts#L23), which only returns the data stored in elasticsearch.

I think in your case `span.destination.service.resource` is shown in bo

[2022-01-27 12:42] mgiota commented on #121272
@vinaychandrasekhar Before moving on with this change from `ARRAY OF system.process.cpu.total.pct is greater than a threshold of 50 (current value is 70.8% for * ...` to `Multiple metrics match the condition in the last 5 min for {“all hosts” OR groupName}.`, I would like to note here that currently threshold and current value appear only in the reason message and nowhere else in the flyout detail

[2022-01-27 12:42] fkanout opened #123918 "[RAC][LOGS] Use the shared duration function from O11y plugin"
# Summery
Related to https://github.com/elastic/kibana/issues/117697 and https://github.com/elastic/kibana/issues/121271. A new function was introduced to format the duration. This function is used by APM, Logs, Uptime, and Metrics. To avoid redundancy and prevent bundle size increase, the duration format function now is located in the O11y Plugin folder and is exposed to be used by the Apps that

[2022-01-27 12:44] #118162 closed

[2022-01-27 12:48] vinaychandrasekhar commented on #121272
@mgiota Thanks for checking, I agree with your assessment.

cc @hbharding in case he has a different opinion.

[2022-01-27 12:51] elasticmachine commented on #9761
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-27 12:56] nreese commented on #9761
I believe the behavior should be that the dashboard time overrides the search time. This is consistent with how "map" saved objects work.

[2022-01-27 12:58] michaelolo24 commented on #122231
@MadameSheema It's on 8.1, so no urgency here. I just know the PR fixing it was merged, so wanted to close the ticket. No rush!

[2022-01-27 13:01] afharo commented on #106857
@Bamieh do you still think that we need this? We currently have tasks with that name, but in the past we tried renaming them and it wasn't a trivial task (we had to make sure that we removed any previous tasks). That's a big blocker for us implementing any hard rule.

I'd say an eslint validation that can be skipped in currently existing use cases may be just enough. WDYT?

[2022-01-27 13:04] afharo commented on #101146
Alternative approach: how about moving the APIs to a Package? Would it be possible?

[2022-01-27 13:05] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8636#a4ed1417-e2c5-40d1-af57-fa45c08d846a)

[2022-01-27 13:12] #15424 closed

[2022-01-27 13:12] #122944 closed

[2022-01-27 13:14] formgeist commented on #121882
Yeah, I don't see any reason why we shouldn't make them the same consistent palette. Thanks for raising it 👍

[2022-01-27 13:16] droberts195 commented on #123851
I don't think this is a big problem for production.

The test is failing because a job created when Kibana is on 7.17 and ES on 8.1 is having an extra default setting added, and this is returned in the response.

- It's very unlikely people will create new jobs part way through a rolling upgrade, when Kibana and ES are on different versions
- Even if they do it's not immediately a problem - Kibana

[2022-01-27 13:16] pheyos commented on #123851
At the time, these tests were written, upwards compatibility wasn't a criteria, so we've adjusted the API tests to the version specific request and response structures. In this case we get an additional field back in the response that is not expected in 7.17 (see #121777). This test itself is passing fine on 7.17, 8.0 and 8.1, just the cross-version execution is failing. I'll have a look how to ad

[2022-01-27 13:21] afharo commented on #118572
As I was going through our backlog, I noticed in the logs that the server-side code is importing a type from the `public` end. Could that be the reason for the failure?

I created https://github.com/elastic/kibana/pull/123923 as a potential fix.

[2022-01-27 13:36] katrin-freihofner commented on #121272
@mgiota thank you, I agree.

[2022-01-27 13:41] Dy2fG5WN opened #123927 "[Feature request][Maps] Add a dynamic scale on a map visualisation"
I am looking to add a scale bar to elastic maps, to get an idea of the distances I am looking at, for example to be able to measure it on a screen shot (a.e: A bar scale with the nominal scale , "xcm = ykm).

This was discussed here
https://discuss.elastic.co/t/map-add-a-dynamic-scale-and-a-north-arrow-on-a-map-visualisation/259221
but no related feature request was opened.

[2022-01-27 13:42] dominiqueclarke opened #123928 "[Uptime] UI Monitor Management - Suites Monitor Reconciliation in the event of Journey Errors"
As an Uptime user, I want to be able to manage suites monitors without losing any configuration settings I've set to individual journeys.

Relates to https://github.com/elastic/kibana/issues/123426

Background
--
As part of https://github.com/elastic/kibana/issues/123426, individual journeys in a suite will be identified during Heartbeat's discovery phase, and reported the Uptime as [suite documen

[2022-01-27 13:42] elasticmachine commented on #123928
Pinging @elastic/uptime (Team:uptime)

[2022-01-27 13:44] gavinwye commented on #121756
Hi @yctercero I've discussed this with @elastic/security-design and we all agreed that the heading should match the content on the page, so please could you change it back to `Exception lists` and remove the secondary text `Exceptions are automatically grouped into exception lists.`.

For info, in the future, it's likely that we'll do more work on this and make more changes so this page makes more

[2022-01-27 13:58] mostlyjason commented on #123569
@aznick do you know where this enterprise search dataset came from or could you point us to the right person? Is this for stack monitoring and is it coming from elastic agent or something else?

[2022-01-27 14:00] michaelolo24 commented on #122209
@deepikakeshav-qasource can you please confirm this fix on 8.1 when you're done testing 8.0? Thanks!

[2022-01-27 14:00] michaelolo24 commented on #122209
@deepikakeshav-qasource can you please confirm this fix on 8.1 when you're done testing 8.0? Thanks!

[2022-01-27 14:05] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8640#f6fec381-c358-44e7-a6ee-eef762b20a36)

[2022-01-27 14:14] dcolazin commented on #122256
@kertal True, but very long (string) fields (for example, stacktraces) are still an issue.

[2022-01-27 14:26] afgomez commented on #103643
I cannot reproduce this. I guess it has been fixed either purposefully or by chance since it was reported.

[2022-01-27 14:26] #103643 closed

[2022-01-27 14:53] pgayvallet commented on #72880
After taking a quick look of the 'static' assets we're currently serving from Kibana:

## What are our served assets

### javascripts bundles

This part is kinda ready:

- All plugin bundles and chunks are served from the `${buildNum}/bundles/plugin/${id}/${version}` prefix
- Core bundles are served from the `${buildNum}/bundles/core` prefix
- These bundles are using a cache-control of `max-age: 3

[2022-01-27 14:55] #121100 closed

[2022-01-27 14:56] bhavyarm opened #123936 "[Dashboard] Close value click / drilldown popover on navigation"
**Kibana version:** 7.17 snapshot

**Elasticsearch version:** 7.17 snapshot

**Original install method (e.g. download page, yum, from source, etc.):** cloud

**Describe the bug:** If you maximize a dashboard panel with drilldowns - click to display drill down filters and click back - Kibana goes back to dashboard listing page and displays drilldowns.

https://user-images.githubusercontent.com/7074

[2022-01-27 14:56] elasticmachine commented on #123936
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-27 14:57] nchaulet commented on #120527
Just tested Fleet again, and looks like everything works as expected the kibana system user is used to access all `.fleet` indices and I was able to enroll, create actions, without any issue.

[2022-01-27 14:57] #120527 closed

[2022-01-27 15:04] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8643#77f555ae-a640-43ff-bdb6-42ed97907ff7)

[2022-01-27 15:05] #123918 closed

[2022-01-27 15:08] jasonrhodes commented on #97108
OK. I would love to unblock this effort so if Option 1 seems like the best of all options, let's move with it.

That said, how would we handle the following? I'm in a meeting right now where some folks are tossing around the idea of the response ops team building a share-able component that shows anomalies, but it would use the logs component. How would that work?

response-ops
response-ops-shared

[2022-01-27 15:08] jeffvestal opened #123938 "[ML] Reduce the fixed width border on the ML anomaly Swim Lane embeddable"
When the Anomaly Explorer swim lane is embedded in a Kibana dashboard, there is often a lot of "wasted" space on the left side of the panel. On dashboards where space is at a premium, maximizing the actionable space (tiles) would lead to a better visual experience.

This occurs for both the "Overall" and "View by Labels" versions of the Swim Lane
As the "Overall" tag is always the same length, at

[2022-01-27 15:10] jasonrhodes commented on #97108
Oh one other question: the LogStream component needs access to certain APIs from the logs API. How does it maintain that dependency? Do we move the API layer into the -shared component and then just import stateful front-end components back into the `infra` plugin?

[2022-01-27 15:13] elasticmachine commented on #123938
Pinging @elastic/ml-ui (:ml)

[2022-01-27 15:22] bryce-b commented on #117921
@shahzad31 & @lucasfcosta Here's a link to my cloud instance : https://ios-cpu-test-472e30.kb.us-west2.gcp.elastic-cloud.com:9243/app

[2022-01-27 15:32] LeeDr opened #123943 "[Upgrade Assistant] should link to correct update guide on Cloud"
**Kibana version:** 7.17.0

**Elasticsearch version:** 7.17.0

**Server OS version:** Cloud

**Browser version:** Chrome

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:** The Upgrade assistant has a `View update guide` link which goes to;  https://www.elastic.co/guide/en/elastic-stack/7.17/upgrading-elastic-stack.html
b

[2022-01-27 15:33] LeeDr commented on #123943
pinging @debadair.  Question for you ^ on the _from_ version docs vs. the _to_ version.

[2022-01-27 15:39] simitt opened #123945 "APM Integration - custom config options not preserved on update"
**Stack version**: Upgrade from `7.17.0 (BC)` to `8.0.0-rc2 (BC2)`
**APM package version**: Upgraded from `7.16.2` to `8.0.0-rc1`

**Description of the problem including expected versus actual behavior**:
Customized APM Integration settings are partially not preserved on update from 7.17 to 8.0 on cloud setup.

**Steps to reproduce**:
1. Create a deployment on ESS staging with `7.17.0`
2. Migrate

[2022-01-27 15:43] fkanout opened #123947 "[RAC] Gather info/ Found solution about "View in App" URL for rule templating language"
# Summery
Related to https://github.com/elastic/kibana/issues/119090. We need to provide the "View in App" URL as one of the rule variables when defining the rule action. And by extension having the possibility to add it in the alert notification message.

# AC
- Identify which App (APM, Uptime, Logs, and Metrics) has it already in the templating language
- Locate where and how it's get created in

[2022-01-27 15:44] graphaelli commented on #121176
How do you think this approach compares to adding OpenTelemetry instructions per language?  Would the otel tab have all of the languages or just the [standard environment variables](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md) that most agents support?

[2022-01-27 16:04] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8646#50f9910f-59ab-4762-94b1-373596530505)

[2022-01-27 16:06] kibanamachine commented on #118432
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8648#91e208c2-94ea-4992-ab40-3aa22c7ac239)

[2022-01-27 16:07] afharo commented on #99767
It's in the Welcome screen:
<img width="786" alt="image" src="https://user-images.githubusercontent.com/5469006/151396287-e63a27a1-d2ca-4d30-abea-6a963c32999c.png">
https://github.com/elastic/kibana/blob/9d662b77bec867247421376ecb60a07202ed45f9/src/plugins/telemetry/public/components/opted_in_notice_banner.tsx#L34-L50

And the **Advanced Settings > Usage Data** section:
<img width="948" alt="image

[2022-01-27 16:17] debadair commented on #123943
Since the upgrade assistant in 7.17 is about upgrading to 8.0, I think it would be better to link to the 8.0 upgrade docs in both cases. Agree that for cloud, the destination should be https://www.elastic.co/guide/en/elastic-stack/8.0/upgrade-elastic-stack-for-elastic-cloud.html. (Which didn't exist when that link was added.)

Also, if the link text says "View update guide", that should be "View u

[2022-01-27 16:18] ghudgins commented on #123756
@MichaelMarcialis - agreed. I could argue either direction (helps a user realize you typed one too many 0's on a "bytes" field) vs. simpler being cleaner and less busy / stressful looking. I like simplicity so i'm with you, let's take it out. We have plenty of features in the backlog vying for the visual space in the config panel :D

[2022-01-27 16:36] #123414 closed

[2022-01-27 16:40] ghudgins commented on #120788
current status: we decided this needs to be a requirement for the query bar and dashboards overall vs. just a lens feature. i'd like to track it as part of the unified search project - but unclear how to assign this issue (it still likely is a vis editors issue)

[2022-01-27 16:49] elasticforme commented on #123591
here is with _search
![image](https://user-images.githubusercontent.com/60395442/151404996-029e39af-f49a-4a4a-9eed-f4152481efe9.png)

here is with _async_search
![image](https://user-images.githubusercontent.com/60395442/151405114-dda2ca96-be82-4904-995d-bd92a3134073.png)

[2022-01-27 16:50] ymao1 commented on #122389
We have a few options:

**Provide a way to explicitly de-register a task**
Stop marking tasks as `unrecognized` due to lack of registration. It sounds like the problem the original "fix" was addressing was an internal dev-only problem when a plugin accidentally stopped registering a task type during development and then couldn't figure out why the task wasn't running when the task document existed

[2022-01-27 16:51] #121460 closed

[2022-01-27 16:55] alisonelizabeth commented on #123943
Thanks @debadair! The current text is "View upgrade guide".

It also looks like we should update the doc link for on-prem as well to https://www.elastic.co/guide/en/elastic-stack/8.0/upgrading-elastic-stack-on-prem.html.

[2022-01-27 17:04] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8649#d6426ea0-60f3-41c9-afe9-ec5b19e85116)

[2022-01-27 17:05] philippkahr commented on #121176
I have to agree with @danielkhan  as an Otel user I know what I need todo in my language. We just mention OTEL in this guide for example: https://www.elastic.co/guide/en/observability/8.0/ci-cd-observability.html and how one can leverage it for Jenkins, Ansible and so on. So giving the user a better data onboarding experience by showing them a tab that just lists all the needed variables would be

[2022-01-27 17:06] debadair commented on #123943
Yes, I think that makes sense.

[2022-01-27 17:06] stacey-gammon commented on #119356
Looks like a bunch of teams are still referencing deprecated data APIs slated for removal in 8.1:  @elastic/kibana-data-discovery @elastic/kibana-vis-editors , @elastic/kibana-gis , @elastic/kibana-app-services, @elastic/kibana-presentation , @elastic/apm , @elastic/ml-core , @elastic/fleet , @elastic/stack-monitoring

<img width="743" alt="Screen Shot 2022-01-27 at 12 01 39 PM" src="https://user-

[2022-01-27 17:11] qn895 commented on #111886
Closing this via https://github.com/elastic/kibana/pull/120846

[2022-01-27 17:11] #111886 closed

[2022-01-27 17:11] flash1293 commented on #119356
@stacey-gammon i took care of the VisEditors plug-ins and from first glance I don’t see any in this list - did I miss something?

[2022-01-27 17:17] lukasolson commented on #123591
Hmm. Could you try adding these parameters to your async search request?

[code]

And then after you get the initial response which will have an `id`, do the following until it shows as complete:

[code]

[2022-01-27 17:23] joshdover commented on #123945
This feels pretty similar to the issue we fixed in https://github.com/elastic/kibana/pull/123762. Will investigate further tomorrow.

[2022-01-27 17:30] gbamparop opened #123957 "[APM] Refactor get_service_metadata_details query to return a single document with all required fields"
### Kibana version

8.1.0

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

_No response_

### Expected Behavior

_No response_

### Actual Behavior

_No response_

[2022-01-27 17:41] stacey-gammon commented on #116611
https://github.com/elastic/elasticsearch/pull/81809#issuecomment-1023466481 has been merged so this can be worked on asap. cc @tylersmalley.

[2022-01-27 17:45] peteharverson commented on #119356
The ML item is from `x-pack/plugins/ml/public/maps/anomaly_source_field.ts` which got merged after the first batch of changes I did in https://github.com/elastic/kibana/pull/121517. We'll get this one fixed for 8.1.

[2022-01-27 17:54] elasticforme commented on #123591
Alright here it is
![image](https://user-images.githubusercontent.com/60395442/151415882-54a1f5ac-ecc8-460d-b847-54433083d639.png)

and when it finished
![image](https://user-images.githubusercontent.com/60395442/151415950-ff78d39f-0e1e-42d8-be0d-b143521ab41c.png)

[2022-01-27 17:55] stacey-gammon commented on #119356
@flash1293 - something could have been added more recently.  It's only `visualizations` and `visDefaultEditor` that I see referencing APIs slated for removal in 8.1:

<img width="860" alt="Screen Shot 2022-01-27 at 12 53 41 PM" src="https://user-images.githubusercontent.com/16563603/151416059-d94bb093-e534-4229-a5dd-bc056236ca0b.png">

<img width="1086" alt="Screen Shot 2022-01-27 at 12 54 05 PM"

[2022-01-27 18:04] weltenwort commented on #97108
Hm, `infra-shared` (or `logs-shared` at that) would have to be a plugin on its own. So a shareable component comes with the associated APIs.

[2022-01-27 18:05] flash1293 commented on #119356
I might have missed those, thanks @stacey-gammon ! I will take care of it

[2022-01-27 18:06] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8651#d3ab59db-3863-4c7c-b58a-d16c3e8d578b)

[2022-01-27 18:12] #123479 closed

[2022-01-27 18:14] ghudgins opened #123962 "Easy to hit search limits with Field Statistics"
**Kibana version:** 8.0-rc1

**Elasticsearch version:** 8.0-rc1

**Server OS version:** Elastic Cloud

**Browser version:** Chromium Edge

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
I'm the only user of my cluster (2 AZ, 16GB RAM, 10GB hot) and I am able to see this search exception when having auto ap

[2022-01-27 18:21] jasonrhodes commented on #97108
So infra-shared would have all of the server APIs and queries as well, most likely?

[2022-01-27 18:25] jasonrhodes commented on #97108
It will just become a problem if server functions need to pull in APIs from other plugins. I think by using this strategy we'd want to encourage people to expose stateful components more often than raw server-side JS APIs, since those will be much safer to share.

[2022-01-27 18:31] #123061 closed

[2022-01-27 18:43] #121116 closed

[2022-01-27 19:01] weltenwort commented on #97108
All the APIs required by the shared components. Any API that is specific to the Logs UI or Metrics UI could remain in `infra`.

In addition to the stateful wrappers of the components I would still recommend to export the "dumb" components and data fetching hooks/functions separately so the embedding Logs UI or Metrics UI page can still compose them as needed.

I'm just not certain how all this wou

[2022-01-27 19:06] jasonrhodes commented on #97108
I think it's going to be confusing having some of the API in one plugin and some in the other, but we can certainly give it a go.

I also am not sure I know how this is going to work with feature controls....

[2022-01-27 19:07] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8656#56a72911-4811-470e-b357-dba903c9beb8)

[2022-01-27 19:08] yctercero commented on #103944
Ticket by core tracking these changes - https://github.com/elastic/kibana/issues/93770

[2022-01-27 19:12] yctercero commented on #93770
Just FYI, security solution platform has this ticket we've been trying to get to of moving over to PIT - https://github.com/elastic/kibana/issues/103944

[2022-01-27 19:25] dominiqueclarke opened #123969 "Uptime - Enable Suites Alerts"
As an Uptime user, I want to be notified when I have suites errors, to ensure that all the monitors I expect to run are actually running.

Background
--
As part of https://github.com/elastic/kibana/issues/123426, individual journeys in a suite will be identified during Heartbeat's discovery phase, and reported the Uptime as [suite documents ](https://github.com/elastic/beats/issues/29917) with a l

[2022-01-27 19:27] elasticmachine commented on #123969
Pinging @elastic/uptime (Team:uptime)

[2022-01-27 19:39] lukasolson opened #123971 "[data.search] Remove remaining usages of _source"
With the introduction of the [fields API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#search-fields-param) in Elasticsearch, we should be moving away from querying `_source` directly. There are a number of benefits of using the fields API:

* Returns each value in a standardized way that matches its mapping type
* Accepts multi-fields and field aliases
* Form

[2022-01-27 19:39] elasticmachine commented on #123971
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-27 19:44] mostlyjason commented on #116711
@juliaElastic try installing an older version of agent, enroll into fleet, then upgrade it

[2022-01-27 19:48] jasonrhodes opened #123972 "[Metrics UI] Rename "Metrics" to "Infrastructure" in appropriate places"
## Summary

The existing Observability navigation is a mixture of monitoring role-based views (APM, Uptime, User Experience) and signal-based views (Logs, Metrics). We want to focus on monitoring roles, so we need to provide an "Infrastructure" view as a top-level sibling of APM, Uptime, and User Experience.

## Acceptance criteria

* Change the heading in the top-level Kibana navigation from "Met

[2022-01-27 19:49] elasticmachine commented on #123972
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-27 19:52] elasticmachine commented on #123962
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-27 20:03] lukasolson commented on #123591
In these last few screenshots, it appears as though the queries are essentially the same amount of time for both _search and _async_search.

On 7.16, could you go into Advanced Settings and enable `bfetch:disableCompression`? (You shouldn't have to do this in 7.12.) Then can you open the dev tools window ("Network" tab) and capture a HAR showing the requests/responses that are made for both 7.16 a

[2022-01-27 20:03] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8657#0b501320-f80f-4c2f-8d92-28c753632a17)

[2022-01-27 20:29] majagrubic opened #123975 "Standardize Check for Data in ES"
**Use-case**:
As part of the improed UX experience, we'd like to standardize the `empty state` view for all apps. Meta Issue and an example of how this should look for Discover [here](https://github.com/elastic/kibana/issues/111184).
We'd like to distinguish between two states:
1. No data, no data view
2. There are no user created data views, BUT there is data(indices) in ES

Target release is 8.2

[2022-01-27 20:29] pgayvallet commented on #99767
Then yes, it seems doable to move this url's definition to the docLinks imho

[2022-01-27 20:29] elasticforme commented on #123591
Here is Har fils
kibana 7.16.2 with bfetch on and using default search
[houelktst10.txt](https://github.com/elastic/kibana/files/7953596/houelktst10.txt)

Here is har file
kibana 7.12.0 with default search
[houelkdev02.txt](https://github.com/elastic/kibana/files/7953598/houelkdev02.txt)

I have rename them to .txt as git won't upload .har format.

[2022-01-27 20:30] elasticmachine commented on #123975
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-27 20:36] pgayvallet commented on #101146
I don't know the usage collection internal implementation that well, but it's using core services, right? I'm guessing at least savedObjects. Moving usage collection to a package means that it would still require to be instantiated from a plugin or from core to connect it to the core services it requires to function. Plus, the core service's types being in `src/core/server`, it would require an ad

[2022-01-27 20:38] mdefazio commented on #105521
Here's a quick prototype just throwing in the function documentation from Lens into the currently flyout.  I think there's some cleanup we could still do, but wanted to see if this was what everyone was thinking for dropping this in.

https://user-images.githubusercontent.com/3756330/151439333-28d29ce1-7149-4292-9d2b-389595d80402.mp4

I was going off this portion of Lens:
![image](https://user-ima

[2022-01-27 20:41] pmuellr commented on #88625
We're going to be looking at this issue as part of the bigger issue [An alerting rule can negatively impact the alerting system and the overall Kibana health #119653](https://github.com/elastic/kibana/issues/119653), so I _think_ we can probably close this as "closed in preference of", but not quite sure ...

[2022-01-27 21:05] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8662#2885f636-d540-4acc-82bc-bd71eb1f320b)

[2022-01-27 21:06] qn895 commented on #112106
While we have not yet added brushing support for this Anomaly explorer chart, the PR for synching cursor position with the other Lens chart in Dashboard is here https://github.com/elastic/kibana/pull/123951 🥳

[2022-01-27 21:08] #115396 closed

[2022-01-27 21:21] jamster10 commented on #122153
Hey @karanverma-qasource, Im not sure this is a bug. It seems on these views we are rendering a [EuiCodeblock](https://elastic.github.io/eui/#/editors-syntax/code#code-block). The EuiCodeblock is what renders the full screen button and copy to clipboard buttons. Looking at the examples on the Eui website, they also do not have tooltips.

If however you click the copy button, then it shows 'Copied'

[2022-01-27 21:29] ecezalp commented on #119354
closing this request as won't build

[2022-01-27 21:29] #119354 closed

[2022-01-27 21:35] neptunian opened #123977 "[Stack Monitoring] improve unit tests in server/lib"
There are a lot of functions not tested, including many ES queries that I think it'd be good to cover.  It would also help to have tests so developers understand what the code is trying to do.

- [x] https://github.com/elastic/kibana/pull/124033

[2022-01-27 21:36] elasticmachine commented on #123977
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-27 21:45] #123945 closed

[2022-01-27 21:46] lukasolson commented on #123591
Hmm, I'm not seeing too much of a difference in the response times of those two queries. Was the difference in the time required to load the visualization noticeably different in that specific example?

[2022-01-27 22:00] kate-smith commented on #123972
@jasonrhodes - you might have the Kate Smith (unless you have questions for localization)

[2022-01-27 22:01] shaunmcgough commented on #17726
It's done through a process called 'event rendering' and there is a tool kit in Security for this. More info can be found [here](https://www.elastic.co/guide/en/security/current/timelines-ui.html#conf-timeline-display). It's very nice, and we can learn a few things here.

[2022-01-27 22:04] kibanamachine commented on #123902
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8663#b6389582-8fd3-4d47-8a12-08ebaedf96a7)

[2022-01-27 22:06] simianhacker commented on #120465
The issue is with `parseTechnicalFields`

[2022-01-27 22:12] jasonrhodes commented on #120377
@weltenwort @miltonhultgren if we were trying to build a query for just this implementation, from scratch, is it still the case that there would be no scalable + performant way to query these data? Confirm my pseudo-sql query summary:

[code]

*Note: I actually now realize the AC of this ticket are missing the `{unknown_apm_criteria}` in this query, and I don't remember what we are supposed to be

[2022-01-27 22:17] XavierM opened #123982 "[RAM] [META] Make rule params searchable"
As a team, we decided how we are going to manage some of our field in the params attribute of our rule saved object to be searchable and sortable. To achieve this functionality, we are going to create a new attribute `mapped_params` in our rule saved object where each fields inside will be define with a specific schema. Also, we will only add field in `mapped_params`, if they exist in the params a

[2022-01-27 22:17] elasticmachine commented on #123982
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-27 22:18] jethr0null commented on #119012
Thanks for flagging this. cc @peluja1012 for scheduling consideration

[2022-01-27 22:22] XavierM commented on #123982
@banderror, can you provide me with a list of all the params who need to be searchable/sortable and let's go over it together to make sure that we are doing the right thing.

[2022-01-27 22:30] mfinkle commented on #72880
I'd like to come up with a plan to leverage a CDN for cache-ready assets in Cloud. That would be our primary driver. If that process also yields some CDN-ready documentation and capabilities for self-managed, that would be nice.

@pgayvallet your comment above is a wonderful beginning to seriously thinking about how to get Kibana, running on Cloud, CDN-ready. Great content! @stacey-gammon and I ca

[2022-01-27 22:45] ryankeairns commented on #105521
Yep, that's the thing to re-use from Lens. Interesting approach to the quick functions!

Also, re-reading the description on this issue +1000 for examples.

[2022-01-27 22:55] elasticforme commented on #123591
not seeing much difference when individual visualization. but big difference when I have 10 of this in dashboard

[2022-01-27 22:55] #122989 closed

[2022-01-27 23:40] kibanamachine commented on #108352
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8673#62b65161-8a3f-4712-b143-45de5e48351d)

[2022-01-28 00:56] cjcenizal opened #123986 "Index Management error toasts for the reload request contain no error information"
Occurs on 7.16. To reproduce, load Index Management in the telemetry cluster and wait for the request to `https://kibana.telemetry.elastic.co/api/index_management/indices/reload` to resolve with a 400 error with this payload:

[code]

You'll just see an empty toast show up with no information in it.

[2022-01-28 00:56] elasticmachine commented on #123986
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-28 02:21] graphaelli opened #123987 "[APM] Integration installed on ESS with invalid setting"
**In staging**

### Kibana version

7.17.0, 7.16.3

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

1. Launch a new Cluster on ESS
2. Switch APM to Elastic Agent via Kibana (`https://kibana:9243/app/apm/settings/schema`)
3. Enter edit integration or upgrade integration flow (`/app/fleet/policies/policy-elastic

[2022-01-28 02:51] graphaelli commented on #123987
This might be specific to staging as I could not reproduce in production.

[2022-01-28 03:52] cuff-links commented on #95230
There are more processors to do but this issue can be closed since I will be transferring to another team. Should anyone want to pick up the work and continue with this, another issue can be opened.

[2022-01-28 03:52] #95230 closed

[2022-01-28 04:24] clintandrewhall commented on #123975
To speak to future thought, I could also see this becoming part of a suite of functions around the new user experience:

- `data.isBareInstance`
- `data.hasSampleData`
- `data.hasIngestionSetUp`
- `data.hasRealData`

...or similar.  Basically, being able to understand the nature of the data in ES as it relates to what the user has done with Kibana so far.

This kind of information is likely what w

[2022-01-28 06:52] flash1293 commented on #108352
Seems like the vis didn’t load yet - probably another place where we can switch to https://github.com/elastic/kibana/blob/b1e3bdfa3dd261dc9c7853087cd1793b5c66f88f/x-pack/test/functional/page_objects/lens_page.ts#L207 ?

[2022-01-28 07:59] mgiota opened #123993 "[RAC][Uptime] Use the shared duration function from O11y plugin"
### Summary

Relates to #121275. A new function was introduced to format the duration that appears in the alert reason message. This function is used by APM, Logs, Uptime, and Metrics. To avoid redundancy and prevent bundle size increase, the duration format function now is located in the O11y Plugin folder and is exposed to be used by the Apps that need it as a shared resource by #123794

### Acc

[2022-01-28 08:13] pheyos opened #123994 "Functional tests not running on cloud clusters >=8.0"
The functional test adjustments for the superuser write access changes (see #123337) are integrated in the ES that's started by Kibana, so it's working fine for local deployments and on CI. However, when the tests are executed against an existing cluster like a cloud deployment, the test runner fails immediately as it uses the `system_indices_superuser` for requests but this user doesn't exist.

N

[2022-01-28 08:13] elasticmachine commented on #123994
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-28 08:25] formgeist commented on #123792
@tobiasstadler Ok, sounds like an oversight when we implemented the Dependencies table. @elastic/apm-ui anyone who can verify?

[2022-01-28 08:43] cuff-links commented on #83194
Closing this issue as the data set has been created and is being used. If there is reason, this can be reopened. Closing for now.

[2022-01-28 08:43] #83194 closed

[2022-01-28 08:45] formgeist commented on #121534
@graphaelli Agreed - we can add another badge to describe this as a Platinum feature. It will display a tooltip with an explanation of being able to configure it but the configs will be ignored if the Kibana license is anything but Platinum. Not sure if that should be the right copy cc @bmorelli25

![image](https://user-images.githubusercontent.com/4104278/151515252-7addf5a3-ee17-4f02-b433-0d60f8f

[2022-01-28 09:07] hohoqq commented on #122664
We have the same issue - "Invalid string. Length must be a multiple of 4".

The memory limit for Kibana is changed by the --max-old-space-size parameter - https://www.elastic.co/guide/en/kibana/7.16/production.html#memory. So the solution above worked, I think, by increasing the memory in the k8s pod, not the XMX.

When using docker without k8s, increasing --max-old-space-size to 4GB did not chang

[2022-01-28 09:16] mgiota opened #123999 "[RAC][Uptime] Remove extra dot in uptime action alert messages"
Relates to https://github.com/elastic/kibana/pull/123189

### Summary
The alert connector message has an extra period behind the availability clause.

```[2022-01-28T10:11:08.650+01:00][INFO ][plugins.actions] Server log: Monitor Cloudflare Developers with url https://developers.cloudflare.com from nyc-heartbeat failed 4182 times in the last 29 days. Alert when > 2. The 26 days availability is 0.0

[2022-01-28 09:18] peteharverson commented on #119356
Additional deprecated `Filter` API usage has been fixed in https://github.com/elastic/kibana/pull/123970.

[2022-01-28 09:18] miltonhultgren commented on #120377
I'll comment but if @weltenwort can correct me that would be great 🙏🏼

Indeed, when using a composite aggregation we lose the ability to sort by anything except the bucket key. You could, in theory, include more data in the bucket key beyond the "host.id" (groupBy takes an array of fields to build the key from). But since we want to sort on the result of a sub aggregation this doesn't help us.

If

[2022-01-28 09:20] #123891 closed

[2022-01-28 09:24] karanverma-qasource commented on #122153
Hi @jamster10 ,

Thank you for the update, it seems working fine so we are closing it from our end.

[2022-01-28 09:24] #122153 closed

[2022-01-28 09:38] miltonhultgren commented on #123972
The existing Logs UI (by default) contains all logs that can be found in the filebeat-* or logs-* indices/data streams. This includes application logs, infrastructure logs, security logs, and any other logs being ingested for any reason into those general purpose streams. This view is not currently infrastructure-focused or application-focused (in fact it may not even be observability-focused as-i

[2022-01-28 09:41] mtojek commented on #123596
I confirmed that the issue is fixed. Thanks for taking care of this folks!

[2022-01-28 09:41] #123596 closed

[2022-01-28 09:43] cnasikas commented on #102600
I am closing the issue as Cases use the `response` factory to return errors from HTTP API routes.

[2022-01-28 09:43] #102600 closed

[2022-01-28 09:51] xcrzx commented on #123982
@XavierM Here's the list of rule fields that we use for sorting, as of now:

https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/types.ts#L180-L192

Note that all `execution_summary.*` fields are not part of the rules params.

[2022-01-28 09:52] elasticmachine commented on #123105
Pinging @elastic/fleet (Team:Fleet)

[2022-01-28 09:59] juliaElastic opened #124004 "[Fleet] Default Fleet Server policy missing fleet_server integration"
**Kibana version:** 7.16 and potentially others

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** on prem installation

**Describe the bug:**
Many users reported Default Fleet Server policy missing fleet_server integration, and this blocks them to enroll a Fleet Server succes

[2022-01-28 09:59] elasticmachine commented on #124004
Pinging @elastic/fleet (Team:Fleet)

[2022-01-28 10:00] kertal commented on #122256
how should be this be handled in your opinion?

[2022-01-28 10:12] katrin-freihofner commented on #123972
@miltonhultgren thanks for linking this discussion, this is super interesting.

[2022-01-28 10:14] formgeist commented on #120108
Removed from 8.1 priorities, but will be aiming at promotion this migration in 8.2

[2022-01-28 10:26] xcrzx commented on #123982
As for filtering, we'll need to filter rules using the following fields:

- Rule name
- Rule type
- Tags
- Last response (rule's status)
- Severity
- MITRE fields
- Index patterns
- Timeline templates

More info in this epic: https://github.com/elastic/security-team/issues/1972

[2022-01-28 10:50] #123999 closed

[2022-01-28 10:50] Dosant commented on #122664
Hi @hohoq, thank you for the summary.

`Invalid string. Length must be a multiple of 4` turned out to be a client-side bug in error handling logic and it is fixed in https://github.com/elastic/kibana/pull/123455

You can check the real error coming from the server using the browser's dev tools and inspecting the response of failed `/bsearch` call

[2022-01-28 10:53] pgayvallet commented on #117490
I opened https://github.com/elastic/kibana/pull/124009 to introduce a new `elasticsearch.compression` configuration property that will default to `false` (which is the effective current value) for now.

[2022-01-28 10:58] miltonhultgren opened #124010 "[Stack Monitoring] Make No Data screen more clear about the time range"
Maybe it's just my monkey brain but I keep getting stuck on this. When I see the current No Data screen, the elements on the screen draw my attention to the "Setup" button, which makes me think I did something wrong with the collection mode I'm testing.

But in many cases, it's just the time range that is wrong, my data is usually older than the last 15 minutes. I imagine also in cases where colle

[2022-01-28 10:58] miltonhultgren commented on #124010
@katefarrar

[2022-01-28 10:59] elasticmachine commented on #124010
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-28 11:02] Dosant commented on #123975
I suggest going with a **service approach** because it is more generic and will allow using the logic outside of React tree.

I think it also makes sense to have this available on the server: I suggest keeping the logic for it server-side and exposing a REST API route that client service will use (similar to we did with `hasUserDataViews`)

I suggest not putting it into `data` plugin, mainly becau

[2022-01-28 11:03] #121882 closed

[2022-01-28 11:11] miltonhultgren opened #124011 "[Logs UI] Move Log stream settings onto the Log stream page"
Part of #120920

In the Settings page of the Logs app you can configure which Columns are shown in the stream but this can be hard to setup since you cannot see the stream or even an example row while editing this.

In the stream page we also have settings for things like line wrapping and text size, all of these are things users might want to customize for their own specific local use case (or "s

[2022-01-28 11:11] elasticmachine commented on #124011
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-28 11:13] miltonhultgren commented on #123972
@weltenwort and I have discussed that while talking about https://github.com/elastic/kibana/issues/120920 (enabling curated views) but we didn't have an issue for it so I made one https://github.com/elastic/kibana/issues/124011

[2022-01-28 11:15] #116362 closed

[2022-01-28 11:16] shahzad31 commented on #121098
Closed by https://github.com/elastic/kibana/pull/123244

[2022-01-28 11:16] #121098 closed

[2022-01-28 11:18] #121588 closed

[2022-01-28 11:21] Dosant commented on #123591
@elasticforme, thanks for all the help troubleshooting this.

I suggest we pause trying to compare with 7.12.0 kibana for now, because, as I understood, that cluster has different hardware and less data. I suggest we focus on the 7.16 cluster and the differences between using sync and async search.

Could you please share similar outputs for a larger dashboard you mentioned, where we clearly see t

[2022-01-28 11:40] Dosant opened #124015 "[Lens] Wrong table sorting for fields of type `version`"
This issue is extracted from https://github.com/elastic/kibana/issues/93248 where we improved support for semantic field type in kibana: https://www.elastic.co/guide/en/elasticsearch/reference/current/version.html

Currently, the lens table sorts columns with type `version` alphabetically instead of using semantic version sorting.
This should be improved

_Originally posted by @flash1293 in https:

[2022-01-28 11:40] majagrubic commented on #123975
I think we're all in agreement on the service approach. I will close this issue and open a new one for `AppServices` with the service RFC.

[2022-01-28 11:42] elasticmachine commented on #124015
Pinging @elastic/datavis (Team:DataVis)

[2022-01-28 11:42] elasticmachine commented on #124015
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-28 11:43] kaisecheng commented on #122641
same issue https://github.com/elastic/kibana/issues/82045

[2022-01-28 11:45] joshdover commented on #123819
Taking a look at recent bugs in this area, I'm also +1 on this. I think we could get a lot of value out of extracting the fetching/merging/validation logic so that we can easily test this separate from the presentation of the UI. In general, I think any business logic here is highly valuable and not being able to test it separately from the UI is hurting us.

Here's a short list of recent bugs in

[2022-01-28 11:45] muskangulati-qasource opened #124016 "[Security Solution] After upgrade from 7.17 to 8.0 rc2, the Security tab starts to appear partially even though it is disabled in 7.17.0"
**Description:**
After upgrade from 7.17 to 8.0 rc2, the Security tab starts to appear partially even though it is disabled in 7.17.0

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. 7.17.0 Kibana build should exist

**Steps to Reproduce:**
1. On 7.17.0, create a role based space and do not provide the access to the Security tab.
2. Upgrade the build to 8.0.0 rc2
3. Obse

[2022-01-28 11:45] elasticmachine commented on #124016
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-28 11:46] muskangulati-qasource commented on #124016
@karanbirsingh-qasource please review!!

[2022-01-28 11:48] Dosant opened #124017 "[Discover] `<FieldIcon/>` usage is inconsistent"
**Kibana version:** Main (8.1)

**Describe the bug:**

Looks like logic for extracting `type` from a `field` for `<FieldIcon/>` is different in different places in discover.
For example, discover's document table always displays string fields icons as string, but the field list displays an underlying es type (e.g. `version` or `text`)

**Steps to reproduce:**
1. Create a field of type `version` or

[2022-01-28 11:48] elasticmachine commented on #124017
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-28 11:59] #118869 closed

[2022-01-28 12:12] pgayvallet commented on #118866
All teams have completed their tasks. Closing.

[2022-01-28 12:12] #118866 closed

[2022-01-28 12:19] cnasikas commented on #124016
Hi, @muskangulati-qasource and @karanbirsingh-qasource,

This is not related to Cases but to Security Solution. If I remember correctly, in 8.0.0 the Cases feature was introduced so I think this is the expected behavior but I am not sure. @XavierM @jonathan-buttner Could you please verify that hypothesis? Thanks!

[2022-01-28 12:34] #93911 closed

[2022-01-28 12:34] jgowdyelastic commented on #93911
Closed by https://github.com/elastic/kibana/issues/93911

[2022-01-28 12:35] kuisathaverat commented on #108456
Is there a way to have the YAML equivalent to the UI configuration? for example to APM integration

![image](https://user-images.githubusercontent.com/5400788/151546477-eff903c0-0de0-42b2-82e2-48d23e354dcb.png)

I've started to configure this and make the use of fleet more complicated than it is, IMHO to add a policy if you going to use the default settings is complicated to justify, for example,

[2022-01-28 12:35] juliaElastic commented on #116711
I'm having trouble enrolling an elastic agent locally, I get random errors.

[2022-01-28 12:55] majagrubic opened #124019 "New Service for checking data in the ES"
**Background**
[What the UX team is doing](https://github.com/elastic/kibana/issues/111184)
[DIscussion](https://github.com/elastic/kibana/issues/123975) issue about ways of implementing this

**Use-case**
As part of the improved UX experience, we'd like to standardize the empty state view for all apps. To do that, we'd need a check if there is data (indices) in ES. Ideally, the signature would lo

[2022-01-28 12:55] elasticmachine commented on #124019
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-28 12:56] majagrubic commented on #123975
Closing in favor of: https://github.com/elastic/kibana/issues/124019

[2022-01-28 12:56] #123975 closed

[2022-01-28 13:06] mateskoo opened #124024 "[Reporting] Unable to generate csv report, Max attempts reached (3)"
**Kibana version:**
7.12.1

**Elasticsearch version:**
7.12.1

**Server OS version:**
Oracle Linux Server 7.9

**Browser version:**
Google Chrome 94.0.4606.71 (Official Build) (64-bit)

**Browser OS version:**
Windows 10 Enterprise 1909

**Original install method (e.g. download page, yum, from source, etc.):**
rpm installation for elastic and kibana

**Describe the bug:**
CSV Report failing to cre

[2022-01-28 13:12] juliaElastic commented on #108456
@kuisathaverat Good point that adding the defaults to preconfig is not that simple.
How is the APM integration added currently? The Fleet change only removes the default policies, APM was not included in defaults before.
I like the idea of `create_default` in preconfig (we need a way to distinguish normal policy from fleet server policy), should we raise this for 8.2?

[2022-01-28 13:13] joshdover commented on #123140
No we don't have any official support for CCS with Fleet. In 7.17 we fixed an issue with cross-cluster **replication** in order to allow users to install Fleet packages on a cluster that contains replicated data streams: https://github.com/elastic/kibana/issues/118899. But this isn't official support really, we just fixed a pretty annoying issue that was easy to workaround.

I think we will need t

[2022-01-28 13:41] joshdover commented on #108456
This is a good question, I don't see how this change impacts setting up any APM policies.

We'll have to see on timing, but I think an issue to start collecting use cases would be helpful.

[2022-01-28 13:42] alisonelizabeth opened #124027 "[Ingest Pipelines] Invalid error shown for grok processor"
**Kibana version:**
7.16.3

**Describe the bug:**
User is shown the error "Invalid JSON string" after entering a valid grok pattern in the Ingest Pipelines UI. This bug appears to have been introduced via https://github.com/elastic/kibana/pull/94689.

**Steps to reproduce:**
1. Navigate to Ingest Pipelines --> Create pipeline
2. Add a grok processor with the following grok pattern:
[code]
3. Note

[2022-01-28 13:42] elasticmachine commented on #124027
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-28 13:55] jasonrhodes commented on #120377
Thanks, @miltonhultgren!

This all makes sense to some extent. I think we have to at least consider what the performance characteristics would be if we can at least pull the composite agg query off (maximizing the size as much as possible), and then handle sorting in JS.

This makes sense. I was mostly curious about which field(s) they would be trying to sort on, i.e. are they planning to pass in

[2022-01-28 13:57] jonathan-buttner commented on #124016
This is working as expected, because the Cases feature is enabled within the space that was being interacted with.

[2022-01-28 13:57] #124016 closed

[2022-01-28 14:07] juliaElastic opened #124030 "[Fleet] Simplified preconfigured default agent policies"
In https://github.com/elastic/kibana/issues/108456 we remove Default policies and integrations, which impacts a few dependent projects, that in turn have to preconfigure their agent policies.
https://github.com/elastic/observability-test-environments/issues/2030
https://github.com/elastic/elastic-package/issues/655
https://github.com/elastic/e2e-testing/issues/2039

These preconfigured agent polic

[2022-01-28 14:07] elasticmachine commented on #124030
Pinging @elastic/fleet (Team:Fleet)

[2022-01-28 14:08] juliaElastic commented on #108456
Created this: https://github.com/elastic/kibana/issues/124030
We should be careful with the naming, since we want to move away from the concept of default policies.

[2022-01-28 14:19] alexwizp commented on #123756
@ghudgins @MichaelMarcialis It seems to me that in some form we should leave information that the values fall outside the `dataBounds`. This will visually allow you to quickly adapt `Color Ranges` to current data. I think replacing the icons with `inCircle` is a good idea

[2022-01-28 14:20] jloleysens commented on #124027
The original thinking was that if users are expected to edit a stringified string, they will be able to work with whitespace chars more easily in the context of the dissect processor. It looks like this same assumption does not need to hold for the grok processor. I think we can get the behavior we want with the following changes:

[code]

This should give us how the grokdebugger behaves.

[2022-01-28 14:33] BenB196 opened #124034 "Ability to have a Chart (or many) in a Tooltip"
**Describe the feature:**

Add the ability to have a chart(s) in a tooltip, rather than a singular value.

**Describe a specific use case for the feature:**

Currently, if you have a visualization which shows point in time data, and you want to see the data overtime, you need to either have a second chart which shows this data over time or use something like drilldowns to get to another visualizat

[2022-01-28 14:52] kuisathaverat commented on #108456
To start the APM server now you use, and Elastic Agent and the APM integration, it is true that the current default policy does not have the APM integration. To have a way to create a policy for an integration with the default values in a single config step simplifies the configuration. It is not directly related to remove the default policies but it could reuse the work in https://github.com/elas

[2022-01-28 14:53] Dosant commented on #119280
Gap analysis:

 - I think this strategy is generic enough and can be moved from `canvas` `x-pack/plugins/canvas/server/lib/essql_strategy.ts` to `data` plugin
 - We need to decide if we want this to be **sync** or **async** or **both (2 strategies)**.
   - Depending on sync or async we would align this strategy with:
     - Sync: `ES_SEARCH_STRATEGY`
     - Async: `ESE_SEARCH_STRATEGY`
    - **Syn

[2022-01-28 15:00] Dosant commented on #97825
I think this would also block making `SQL` search strategy (`x-pack/plugins/canvas/server/lib/essql_strategy.ts`) to use async search because internally it scrolls through the results:

https://github.com/elastic/kibana/blob/28eb46d4a7571e5fec8ec5dedd61ac57225bb055/x-pack/plugins/canvas/server/lib/essql_strategy.ts#L62-L63

Alternatively, maybe elasticsearch could remove a limitation of `index.max

[2022-01-28 15:00] graphaelli commented on #123987
duplicate of https://github.com/elastic/kibana/issues/121640

[2022-01-28 15:00] #123987 closed

[2022-01-28 15:07] hohoqq commented on #122664
Hi @Dosant, thanks for your reply.

In our case, the problem was solved by changing the location in the nginx config. Removed various timeouts and all additional headers. After increasing the memory in --max-old-space-size, we made such location in the nginx config and the problem was solved:
` location / {
        proxy_pass http://kibana;
        proxy_http_version 1.1;
        proxy_set_header

[2022-01-28 15:07] lukeelmers opened #124039 "[plugins] Log warnings from core in dev mode when `setup` contracts are called after `start`."
There are many places in Kibana where we find plugins abusing lifecycle methods by doing things like holding references to dependencies from the `setup` contract, and then using that dependency later during the `start` lifecycle.

While some of these abuses are relatively harmless, it can create much more serious problems in the case of things like registries: If a plugin holds a reference to a re

[2022-01-28 15:07] elasticmachine commented on #124039
Pinging @elastic/kibana-core (Team:Core)

[2022-01-28 15:09] pgayvallet commented on #41439
@rudolf do you know if we're safe to now remove the API in 8.1 or 8.2? Do we still have any consumers of the dashboard import/export in 8.x?

[2022-01-28 15:11] juliaElastic commented on #108456
I see, so this use case is similar to what we added on UI to create a new agent policy in Add integration flow.

I think we have to consider that users may want to add multiple packages to an agent policy with preconfig (e.g apm and system). It could be represented as something like this:
[code]

[2022-01-28 15:11] pgayvallet commented on #75780
All subtasks have been completed and we have another meta issue for the future enhancements. Let's close this one.

[2022-01-28 15:11] #75780 closed

[2022-01-28 15:11] mshustov commented on #105439
We are going to start with logging a warning whenever lifecycle API is called outside of the current lifecycle timeframe https://github.com/elastic/kibana/issues/124039

[2022-01-28 15:12] mshustov commented on #66366
https://github.com/elastic/kibana/issues/105439

[2022-01-28 15:14] nchaulet commented on #108456
Instead of introducing a new concept can we allow the actual preconfiguration to use default inputs like we now do in the package policy API

[code]

[2022-01-28 15:15] juliaElastic commented on #123704
I could reproduce the same issue in cloud environment here (v8.0.0-rc2)
https://dev-oblt.elastic.dev/app/fleet/integrations/log-1.0.0/add-integration
![image](https://user-images.githubusercontent.com/90178898/151571836-f3022c07-f087-47d2-80a7-5a0c3c9f459c.png)

it looks like the problem is that the formState is set to VALID when agent policy is updated on the form, this seems to happen even if th

[2022-01-28 15:18] juliaElastic commented on #108456
that's a good point, package_policies inputs are optional, and come with default values

[2022-01-28 15:20] pgayvallet commented on #93505
Given that the SOM page is an administration page, I'm not sure applying this setting here would really make sense.

I even think it could be potentially dangerous, e.g because of the `listingLimit`, we're only displaying, say, 5 of 10 dashboards in the table, but then when the customer performs an export by type selecting `dashboard`, the export will include all 10 of them.

Also, to be honest, I

[2022-01-28 15:23] elasticmachine commented on #124034
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-28 15:25] joshdover commented on #108456
Thanks all for the feedback here. Definitely agree that using the default values for policy inputs makes sense. Let's move this discussion over to the issue that Julia created (#124030) to avoid confusing folks who are following this issue which is only tangentially related.

[2022-01-28 15:30] juliaElastic commented on #124030
Copying here the use case proposed by @kuisathaverat:
To start the APM server now you use, and Elastic Agent and the APM integration, it is true that the current default policy does not have the APM integration. To have a way to create a policy for an integration with the default values in a single config step simplifies the configuration. It is not directly related to remove the default policies

[2022-01-28 15:42] stratoula commented on #123756
I don't have a strong opinion but when I was testing it, I liked the warning message. I agree with @alexwizp, if we change the icon to look less severe, I think it helps to have a notification to the user as they are adding something that won't be displayed in the chart and it might be confusing.

[2022-01-28 15:45] miltonhultgren commented on #120377
Sure, this is what we do for alerts today. My question would be if we want to try to do this in the browser, in the Metrics Explorer API or in a new API endpoint (which either calls Metrics Explorer API or runs its own query)?

I think the reason we went with the "pass in a filter query string" is because in the metrics data we don't track anything about a service (I think), so we would depend on

[2022-01-28 15:46] jasonrhodes commented on #106650
Let's look at this as a real failing test and see if we can figure out why the saved views UI might occasionally not load. @weltenwort has already had trouble reproducing this locally.

[2022-01-28 15:53] jasonrhodes commented on #120416
Let's focus on getting this ticket description refined for now in Cycle 5, and we can pick the implementation up in a future cycle after that.

[2022-01-28 15:55] paulb-elastic commented on #123440
@drewpost just to clarify, you'll be incorporating this (and device type emulation, such as iPhone) into the Synthetics App feature requirements?

[2022-01-28 16:02] fkanout commented on #123947
For APM, the "View in App"  URL is constructed on the fly not persisted/Indexd. In the `rigsterApmAlerts` function the `link` field is constructed as a relative Url with other hardcoded string + tech fields from the index. e.g. `service.environment`

https://github.com/elastic/kibana/blob/9575ebbcafbb059f476622c2129e7fe93f5c88c4/x-pack/plugins/apm/public/components/alerting/register_apm_alerts.ts#

[2022-01-28 16:03] jasonrhodes commented on #120377
@katefarrar can you schedule a meeting with any design folks you want + me, @smith, @alex-fedotyev, @sqren and optionally include @elastic/infra-monitoring-ui

[2022-01-28 16:08] Clemv95 opened #124044 "processor conditional: Invalid ID for ZoneOffset, invalid format:"
When creating a pipeline with Pipeline processor, when it get logs, there is an error of timezone.
Here is the output
![image](https://user-images.githubusercontent.com/32482023/151581286-a9549af8-a0b8-40d1-968c-fe0129fafaa9.png)

[2022-01-28 16:09] shahzad31 commented on #123440
I think we shouldn't wait for Synthetics app for basic features like these, if we build this component, most probably we will end up reusing it in new app. So waiting doesn't makes sense.

[2022-01-28 16:24] Dosant commented on #124039
Since ideally we also need this for each plugin, I am curious if you plan to:

1.  have a one-off core internal solution for now,
2. or if core would also automatically handle this for all the plugins. (proxying/wrapping each plugin's contract?)
3. or have a shared utility that plugins can use to wrap their setup contracts that will track when something is accessed

[2022-01-28 16:27] dcolazin opened #124045 "Filter for empty string in Discover"
**Describe the feature:** In previous version of Kibana (for example 7.10.3) filters/query like `not memory : * ` (using the `kibana_sample_data_logs` for example, here `memory` is a string) would give documents where `memory` exists and is empty, so it was not possible to differentiate between documents with null/empty/missing fields. This behavior changed: in 7.16.2 an empty string is visualized

[2022-01-28 16:38] chrisronline opened #124047 "[Response Ops] Collect telemetry on metrics used with Stack Monitoring integration"
As part of the [overall external of observability](https://github.com/elastic/kibana/issues/120542) project, we may want to provide prebuilt rules in [phase 4](https://github.com/elastic/kibana/issues/122367) but we'll need to provide quality, default thresholds for these rules and we may not have insight into that yet.

In our first pass of this effort, we will [provide answers to these questions

[2022-01-28 16:38] elasticmachine commented on #124047
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-28 16:53] drewpost commented on #123440
@paulb-elastic Yes, it will be in the new synthetics app

@shahzad31 It's less the feature toggle itself, it's more the numerous places in the UI we need to account for it. We have much higher priorities at the moment

[2022-01-28 16:54] liza-mae commented on #118572
Thanks @afharo I will check

[2022-01-28 17:39] Heenawter opened #124052 "[EUI] [Tour] Ability to target beacon location based on ID or other selectors"
**Describe the feature:**

Right now, it is only possible to implement a tour by wrapping `EuiTour` tags around the desired target elements - this makes it difficult (if not impossible with our current infrastructure) to target certain components due to the modularity of Kibana. Instead, it would be amazing if this could take a more dynamic approach where the tour simply targets elements by their

[2022-01-28 17:39] elasticmachine commented on #124052
Pinging @elastic/eui-design (EUI)

[2022-01-28 17:39] elasticmachine commented on #124052
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-28 17:50] jen-huang commented on #124004
This is sometimes spotted in our test failures too: https://github.com/elastic/kibana/issues/123105

In addition to #108456, may also be resolved by https://github.com/elastic/kibana/pull/122297

[2022-01-28 18:01] thompsongl commented on #124052
Makes sense to me! I've created https://github.com/elastic/eui/issues/5576 so we're tracking in EUI

[2022-01-28 18:10] #57286 closed

[2022-01-28 18:10] #90565 closed

[2022-01-28 18:23] LL6688 commented on #111184
@majagrubic would you say #123366 addresses this issue?

[2022-01-28 18:50] banderror commented on #123982
@XavierM Just expanding on what @xcrzx posted previously:

Framework-level rule fields (not rule params):

- `alert.name` text - rule name, need filtering, searching and sorting (already implemented except searching is not flexible full-text search)
- `alert.alertTypeId` keyword - rule type, need filtering
- `alert.tags` keyword[] - need filtering (already implemented), need aggregations (fetch al

[2022-01-28 18:59] ryankeairns commented on #112362
There are two components to this set of work:

1. No data; no data views (#111184)
2. Has data; no data views (this issue)

#123366 address the first, and Maja and I were discussing the latter yesterday. Basically, we need to remove the redirect and add a new in-app empty state prompting a user to create a data view and it can be done without leaving the app. Andrea covered [the flow](https://gith

[2022-01-28 19:00] banderror commented on #123982
Currently, when we filter rules by their fields, the filter we pass to the `RulesClient` looks like that:

[code]

For us as clients of the Framework, are `mapped_params` going to be hidden implementation details? Meaning that this field won't be exposed by `RulesClient`, and we'd be filtering mapped params just like any other field:

[code]

[2022-01-28 19:02] ryankeairns commented on #112109
Closed by #123366

[2022-01-28 19:02] #112109 closed

[2022-01-28 19:06] LL6688 commented on #112362
thanks. @ryankeairns

[2022-01-28 19:59] mikecote commented on #122389
I think the de-registration path makes sense to me too. That way, we can support cases like reporting where only dedicated Kibanas would claim tasks. Based on the original issue https://github.com/elastic/kibana/issues/84088, we should make sure we're not bringing back those problems as we change functionality 👍

[2022-01-28 19:59] nreese opened #124061 "[maps] allow feature editing for document layers with "applyGlobalTime", "applyGlobalQuery", and joins"
Layers with "documents" source allow editing features when a number of conditions are meet
* scaling is set to "Limit results to 10,000"
* Clear the "Apply global search to layer data" checkbox
* Clear the "Apply global time to layer data" checkbox.
* Does not have joins
* is visible

<img width="400" alt="Screen Shot 2022-01-28 at 2 43 17 PM" src="https://user-images.githubusercontent.com/373691/

[2022-01-28 19:59] elasticmachine commented on #124061
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-28 20:00] nreese commented on #124061
cc @maksimkovalev

[2022-01-28 20:01] mikecote commented on #122389
In the future, if we need to go a step further, we could put a flag on the tasks that are sometimes unrecognized to help us know which tasks don't get claimed by Kibana when looking at the documents. We could keep the flagging process efficient by making Kibanas claim tasks where `unrecognized === false || taskTypes in (known task types)`. I don't feel we need to go that far at this time.

[2022-01-28 20:42] cjcenizal commented on #123943
Fixed by https://github.com/elastic/kibana/pull/123953

[2022-01-28 20:42] #123943 closed

[2022-01-28 20:46] Heenawter opened #124062 "[App Services] Expand API to allow communication from plugins to the TopNavMenu"
**Describe the feature:**

Right now, communication between the `TopNavMenu` and any plugins that use it is more-or-less in a single direction - specifically,  the `TopNavMenu` communicates to the plugin and controls its inner state. However, as part of adding in-product help to Discover, it was discovered (:wink:) that there are certain use cases where the ability to trigger events in the `TopNav

[2022-01-28 20:46] elasticmachine commented on #124062
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-28 20:48] alisonelizabeth commented on #123472
Fixed by https://github.com/elastic/kibana/pull/123946.

[2022-01-28 20:48] #123472 closed

[2022-01-28 20:56] #122446 closed

[2022-01-28 21:01] #107347 closed

[2022-01-28 21:29] #102606 closed

[2022-01-28 22:26] mattkime opened #124063 "indexPattern service => dataViews service"
The DataViews service was broken out of the data plugin into its own plugin. The indexPattern service was left in place but deprecated. Lets stop using the old api location so it can be removed.

Note - if this change is anything other than trivial, please talk to @mattkime

@elastic/kibana-core
- [ ] home
- [ ] savedObjects
- [ ] savedObjectsManagement
- [ ] kibanaOverview

@elastic/kibana-securi

[2022-01-28 22:45] jasonrhodes commented on #98010
From my perspective, I think we need to start assuming that the size value should start much, much bigger unless we have a specific reason to suspect that it will cause "too many buckets" errors. But yes, we should do some spot checking for sure.

I think a new ticket would be a good idea, although I think @simianhacker has already done some work here on implementing this across some of the other

[2022-01-28 22:57] jasonrhodes commented on #117925
Ping @cconboy if you have this info ^

[2022-01-28 22:59] neptunian commented on #123844
Haven't look into this much but noticed today while looking at this rule's query is, unlike the others, it does not have a term filter for the metricset in the bool query.  I noticed while [writing unit tests](https://github.com/elastic/kibana/pull/124033) for them and added one.  Also left a comment https://github.com/elastic/kibana/pull/124033/files#r794930698

[2022-01-28 23:06] #121446 closed

[2022-01-28 23:07] kibanamachine opened #124064 "Failing test: Jest Integration Tests.src/core/server/elasticsearch/integration_tests - elasticsearch clients does not return deprecation warning when x-elastic-product-origin header is set"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8741#9533584e-9117-49c9-a289-1eb24e653dab)

[2022-01-29 08:46] kibanamachine opened #124068 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/resolve_copy_to_space_conflicts·ts - spaces api with security resolve copy to spaces conflicts dual-privileges readonly user from the space_1 space single-namespace types "before each" hook for "should return 200 when overwriting, without references""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8771#805c8d55-6284-4115-861a-10b9a53bd846)

[2022-01-29 08:52] kibanamachine commented on #106547
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8772#47c3a93e-45af-4faa-9e9e-45fc51f09903)

[2022-01-29 09:44] gbamparop opened #124069 "[APM] Replace deprecated import of esKuery from the data plugin"
Some functionality and types were moved from the data plugin to the `@kbn/es-query` package.

importing `esKuery` from the data plugin is deprecated:

https://github.com/elastic/kibana/blob/d53154ec5ebb9feb1a77d948e046269cc0a7f6e9/x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx#L14-L17

Instead it should be imported from `@kbn/es-query`:

[code]

Relates to https://github.com/elast

[2022-01-29 09:44] elasticmachine commented on #124069
Pinging @elastic/apm-ui (Team:apm)

[2022-01-29 11:42] eyalkraft opened #124148 "[Change Proposal] csp-rule asset type"

[2022-01-29 12:08] eyalkraft opened #124149 "[Change Proposal] Install the csp-rule assets per integration-instance"

[2022-01-29 21:50] lukeelmers opened #124074 "Update core-owned plugins that use the index patterns service to use the new data views plugin."
The DataViews service was broken out of the data plugin into its own plugin. The indexPattern service was left in place but is now deprecated. We need to update any usages of the old indexPatterns service in core-owned plugins to work with the new dataViews plugin:

- [x] home - https://github.com/elastic/kibana/pull/124126
- [x] savedObjects - https://github.com/elastic/kibana/pull/124143
- [x] s

[2022-01-29 21:50] elasticmachine commented on #124074
Pinging @elastic/kibana-core (Team:Core)

[2022-01-30 01:00] kibanamachine opened #124075 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/heatmap·ts - lens app lens heatmap should not change when passing from percentage to number"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8819#66b2760a-7b68-41b2-a162-20e6d602d76f)

[2022-01-30 03:01] kibanamachine commented on #124075
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8825#6ee06965-2aa6-4b69-a8af-62c03d18434e)

[2022-01-30 12:33] elasticmachine commented on #124075
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-30 12:35] mistic commented on #124075
This test looks flaky, skipping for now.

main: f2aa5f0

[2022-01-30 14:35] nreese commented on #117369
There is more to this issue than just the original description. Adding and deleting features is an asynchronous task takes an unknown amount of time. There needs to be user feedback that something is happening while features are being added and deleted and during this time. Proper user feedback will prevent users from double clicking and so on because those action will be disabled will add/delete

[2022-01-30 14:44] nreese opened #124076 "[maps] display tooltip message when layer does not support "edit features""
Currently, "Edit features" layer action is [not displayed if the layer does not support feature editing](https://github.com/elastic/kibana/blob/8.0/x-pack/plugins/maps/public/connected_components/right_side_controls/layer_control/layer_toc/toc_entry/toc_entry_actions_popover/toc_entry_actions_popover.tsx#L188). Instead, "Edit features" action should always be displayed but disabled (for vector lay

[2022-01-30 14:44] elasticmachine commented on #124076
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-30 15:10] kibanamachine commented on #107057
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/569#d5bb068b-3141-42c8-b844-66695469cb83)

[2022-01-30 16:29] kibanamachine commented on #101006
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8867#f7ae79e8-160f-4f5e-8c10-d2cee4d5e917)

[2022-01-30 19:05] kibanamachine commented on #123103
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8873#eed13a8f-5ff4-4036-bc3e-1d9688e1a841)

[2022-01-30 19:05] kibanamachine commented on #123104
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8873#eed13a8f-5ff4-4036-bc3e-1d9688e1a841)

[2022-01-30 19:05] kibanamachine commented on #123105
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8873#eed13a8f-5ff4-4036-bc3e-1d9688e1a841)

[2022-01-30 19:46] flash1293 commented on #124075
The color palette UI already shows the correct values, but the chart doesn’t. Pretty sure this is another instance of “waitForVisualization” - it seems like the test used wait until loading finished right now which is not really helping because there won’t be a new query based on this action, so it’s not actually waiting, it’s just checking for the spinner and assumes the loading is finished alrea

[2022-01-31 01:55] matschaffer opened #124078 "[APM] Unable to load APM UI after adding the integration"
### Kibana version

8.0 branch - d13a86b9a33

### APM Server version (if applicable)

8.0 branch - ccd1ea7a9

### Elasticsearch version (if applicable)

8.0 branch - 655669b64e6

### Steps to Reproduce

Launch ES, kibana, and apm-server (all source)

Browse to kibana APM UI,

Click the "Add the APM integration" button, proceed through the setup flow.

Navigate back to the APM services pages

### E

[2022-01-31 01:55] elasticmachine commented on #124078
Pinging @elastic/apm-ui (Team:apm)

[2022-01-31 01:56] matschaffer commented on #124078
The network tab shows two requests getting canceled that seem like they might be important. Nothing shown in error console.

![Screen Shot 2022-01-31 at 10 56 08](https://user-images.githubusercontent.com/690/151728937-cc45bf0d-cc5e-4d2b-9117-e1a74c56a311.png)

[2022-01-31 01:58] matschaffer commented on #124078
I tried clearing application data in chrome and doing the integration add again, no change in behavior.

[2022-01-31 02:01] matschaffer commented on #124078
I ran into this hoping to validate https://github.com/elastic/apm-server/issues/7139

I'll try it again from empty and see if there's any change. I did start apm-server once before I added the integration (forgot the correct ordering), so maybe that caused something in the data to be weird?

[2022-01-31 02:10] matschaffer commented on #120825
I think maybe it's time for a general Stack Monitoring 8.0 testing epic? I have two issues (added to the description) that are still outstanding.

These aren't specifically related to the 7->8 metricbeat changes (I think), but it's hard to say "pass" until we get a clean manual test which we haven't had yet ([sheet](https://docs.google.com/spreadsheets/d/1xDX3atdW74Wcso28-BAUMD0fWi9lpUXMxnh5K0aSpR

[2022-01-31 02:20] matschaffer commented on #124078
I brought up a fresh stack to test this again and tried the more "guided" flow and ran into a different error: `apm@8.0.0-dev4 not found`

![Recording showing apm@8.0.0-dev4 not found error](http://g.recordit.co/0e0v6a0KQW.gif)

[2022-01-31 02:22] matschaffer commented on #124078
If I navigate directly to APM (what I was doing in my initial testing) I don't hit the `apm@8.0.0-dev4 not found` error, and the integration version shows `8.0.0-rc1` so I guess it might be some disagreement in package version between the two flows?

[2022-01-31 02:38] matschaffer commented on #124078
I have my local kibana reporting APM traces to a cloud instance and found this error stack.

![Screen Shot 2022-01-31 at 11 34 11](https://user-images.githubusercontent.com/690/151731427-c57237dd-7428-4298-bc92-056fc4771838.png)

The integration is installed:

![Screen Shot 2022-01-31 at 11 35 02](https://user-images.githubusercontent.com/690/151731484-aceb2252-a1a7-4a62-a796-641a26e9e6ce.png)

An

[2022-01-31 02:40] axw commented on #124078
You shouldn't _need_ `apm-*` indices, the UI continues to query them for backwards compatibility with older versions of apm-server. If lack of `apm-*` indices causes a fatal error then that's just a bug.

[2022-01-31 02:58] matschaffer commented on #123785
Re-tested on 7.16.3 from source and it worked fine. So this is some sort of 8.x regression.

![Screen Shot 2022-01-31 at 11 57 43](https://user-images.githubusercontent.com/690/151733082-1847be9f-dfd7-4ff6-a452-83fd11478dcf.png)

[2022-01-31 03:06] axw commented on #124078
I tested locally with apm-integration-testing, using 8.0.0-rc2 BC3, modifying kibana config to not preinstall the integration and to use production rather than snapshot EPR.

After installing the integration, I also see the "Add the APM integration" prompt when navigating to the APM UI (specifically, the services list). I see the same behaviour when starting a new deployment in ESS.

I think this

[2022-01-31 04:23] matschaffer commented on #124078
Ahh... I think this is the sort of thing I was looking for but it's below the fold so I just clicked past it.

![Screen Shot 2022-01-31 at 13 22 05](https://user-images.githubusercontent.com/690/151738594-fd553e39-854c-4923-abf0-d21d0525bf55.png)

Okay, we can just call this confusing UX then. Feel free to close or whatever handling you think is appropriate. Thanks @axw !

[2022-01-31 07:13] matschaffer commented on #123785
Okay, I see what's happening here. The logstash nodes query is hitting `.monitoring-logstash-*,metricbeat-*` for standalone (no uuid) which is picking up docs like these:

[code]

They're not logstash docs so they understandably don't have a UUID.

[2022-01-31 07:13] matschaffer commented on #123785
main doesn't have this problem since we've removed the `metricbeat-*` part of the query

[2022-01-31 07:25] elasticmachine commented on #123500
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-31 07:26] MadameSheema commented on #123500
@deepikakeshav-qasource can you please validate this on the latest 8.0-rc2 BC? Thanks!! :)

[2022-01-31 07:32] pheyos commented on #123851
Fixed with #123939.

[2022-01-31 07:32] #123851 closed

[2022-01-31 07:59] deepikakeshav-qasource commented on #123500
Hi @MadameSheema ,

We have validated this issue on **8.0.0 RC2 BC3 On-Prem**  and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/151757408-62512fb3-c859-43a8-9a60-72c286a3a968.mp4

**_We are pending to validate this issue on cloud , if you think it is not required please feel t

[2022-01-31 08:12] MadameSheema commented on #123500
Thanks @deepikakeshav-qasource!! no need to validate this on cloud since the behaviour is going to be the same :)

[2022-01-31 08:12] #123500 closed

[2022-01-31 08:18] deepikakeshav-qasource opened #124079 "[ElasticSearch] Formatting issue in Elasticsearch security autoconfiguration on self-managed setup"
**Describe the bug**
Formatting issue in Elasticsearch security autoconfiguration on self-managed setup

**Build Details:**
[code]

**Preconditions**
1. Elasticsearch folder should be exist

**Steps to Reproduce**
1. Run the Elasticsearch through cmd.
2. Observe that extra symbols and 1m is added in autoconfigured Elasticsearch security

**Actual Result**
Formatting issue in Elasticsearch security

[2022-01-31 08:19] deepikakeshav-qasource commented on #124079
@manishgupta-qasource Please review!!

[2022-01-31 08:25] formgeist commented on #124078
@matschaffer Thanks for testing through this and letting us know about your experience. I want to say that we understand there are improvements to be made for making the flow much smoother. We do have an [older issue](https://github.com/elastic/kibana/issues/64070) around for collapsing the APM server instructions when one is running or you're using the APM integration successfully, so we just sho

[2022-01-31 08:25] mgiota commented on #120479
@jasonrhodes I would like your input regarding the data structure we should use to store the actual and expected values.

Let me mention here, that for `inventory` rule type we already index the rule parameters as a flattened type in this format:

[code]

If you notice threshold is already part of the criteria array. We could save extra the actual value and I think this should work well. Do we agr

[2022-01-31 08:36] MadameSheema commented on #121983
@karanverma-qasource can you please validate this on the current 8.0-rc2 BC?? Thanks! :)

[2022-01-31 08:42] mgiota opened #124081 "[RAC][Metrics] Index actual value for Inventory rule type"
Currently we index rule parameters for Inventory rule type under `kibana.alert.rule.parameters` as a flattened type. We index `nodeType` and `criteria` at the moment.  We propose saving extra the actual values as part of the existing rule parameters as shown below:

[code]

[2022-01-31 08:49] mgiota opened #124083 "[RAC] Index rule parameters and actual values for all rule types"
## 📝 Summary
Currently we don't index any rule parameters for the Metric threshold rule type. There is already a `kibana.alert.rule.parameters` flattened type in the [technical field names ](https://github.com/elastic/kibana/blob/main/packages/kbn-rule-data-utils/src/technical_field_names.ts#L57), which could be used to store the criteria and actual values:

We propose using following structure:

[2022-01-31 08:53] Kuznietsov opened #124084 "[Console] Prompt autocomplete at the triple quotes."
Autocomplete suggestions for the body are prompt if moving between the last part of the triple quotes sequence.

https://user-images.githubusercontent.com/22456368/151764160-5b4d20bf-aab5-40b2-92de-bd87e8c11ae8.mov

**Expected behavior:** Autocomplete should not be prompt between the triple quotes.

[2022-01-31 08:53] elasticmachine commented on #124084
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 08:55] kuisathaverat commented on #124030
the approach suggested by @nchaulet at https://github.com/elastic/kibana/issues/108456#issuecomment-1024316542 is also a good one.

[2022-01-31 09:02] mibragimov commented on #73060
@cjcenizal @alexwizp I tested this locally, and it seems to be already implemented by https://github.com/elastic/kibana/pull/72556. Should we close this issue?

[2022-01-31 09:03] mgiota opened #124085 "[RAC][Metrics] Display more rule details in the alerts flyout for the Inventory rule type"
Depends on https://github.com/elastic/kibana/issues/124081
Relates to https://github.com/elastic/kibana/issues/121272

## 📝  Summary
Currently we don't display many rule details in the alerts information. Once we implement https://github.com/elastic/kibana/issues/124081, we could display more information to our users

<img width="300" alt="Screenshot 2022-01-31 at 09 53 09" src="https://user-image

[2022-01-31 09:05] manishgupta-qasource commented on #124079
Reviewed & mention to @jkakavas

[2022-01-31 09:06] mibragimov commented on #75967
@cjcenizal @alexwizp I see there a related PR https://github.com/elastic/kibana/pull/91180 to resolve this issue. Should we close it?

[2022-01-31 09:11] mibragimov commented on #36570
@cjcenizal @alexwizp Could you please review the last comment from @jloleysens and clarify if we should close this issue?

[2022-01-31 09:12] #123993 closed

[2022-01-31 09:17] flash1293 opened #124086 "Switch to dataviews service"
Part of https://github.com/elastic/kibana/issues/124063

Data views were recently split out of the data plugin into a separate `data_views` plugin. All consumers should migrate over to the new service so the data plugin can stop exposing data views:

- [x] visualizations https://github.com/elastic/kibana/pull/128131
- [x] lens https://github.com/elastic/kibana/pull/128057
- [x] visTypeTimelion htt

[2022-01-31 09:17] elasticmachine commented on #124086
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-31 09:18] mgiota opened #124087 "[RAC][Metrics] Display more rule details in the alerts flyout for the Metrics threshold rule type"
Depends on https://github.com/elastic/kibana/issues/124083
Relates to https://github.com/elastic/kibana/issues/121272

## 📝  Summary
Currently we don't display many rule details in the alerts information. Once we implement https://github.com/elastic/kibana/issues/124081, we could display more information to our users

<img width="446" alt="Screenshot 2022-01-31 at 10 15 06" src="https://user-image

[2022-01-31 09:23] mibragimov commented on #105416
This seems like an Ace editor issue, should we try to fix a patch for it or skip it for now in favor of future migration to Monaco? @cjcenizal

[2022-01-31 09:24] dannycroft commented on #123399
Possible scenario ideas:

- https://github.com/elastic/kibana/issues/124078
- https://github.com/elastic/kibana/issues/123945
- https://github.com/elastic/kibana/pull/123762

[2022-01-31 09:26] mibragimov commented on #26743
@cjcenizal  I tested this out locally and could not reproduce it? Should we close this?

[2022-01-31 09:35] shahzad31 opened #124089 "Uptime telemetry makes expensive es call every time page loads"
**Kibana version:**
master

Uptime collects some generic telemetry on number of monitors , length of names etc and it also collects page visit usage.

Problem is that it has a custom usage collector , every time user visits any uptime page,  this query get's called

https://github.com/elastic/kibana/blob/main/x-pack/plugins/uptime/server/lib/adapters/telemetry/kibana_telemetry_adapter.ts#L213

We

[2022-01-31 09:35] elasticmachine commented on #124089
Pinging @elastic/uptime (Team:uptime)

[2022-01-31 09:41] shahzad31 commented on #78430
@paulb-elastic pushing this to 8.2

[2022-01-31 09:52] #123115 closed

[2022-01-31 09:57] shahzad31 commented on #116983
i wouldn't call this a bug, count show the number of filers we load at start. Also we don't want the exact count since it will make the query expensive, which will increase load time.

I think there can be a UI/UX solution to this. If the loaded filters are less then 50, since that's what we load initially, we should that count.

But if it's able to load 50 filters at start, we show `50+` will tha

[2022-01-31 09:57] stratoula commented on #119719
I like the new description for the heatmap! I am not sure about the Heat map vs Heatmap. I think both of them are correct but I prefer the one word tbh. There is also `Treemap`. If we decide to go with the 2 words suggestion this should also change, no?

[2022-01-31 09:58] #123571 closed

[2022-01-31 09:58] #69111 closed

[2022-01-31 10:01] peteharverson opened #124092 "[ML] Switch to DataViews service"
Part of #124063

The DataViews service was broken out of the data plugin into its own plugin. The indexPattern service was left in place but is now deprecated. We need to update any usages of the old indexPatterns service in ml-ui owned plugins to work with the new dataViews plugin:

- [ ] data_visualizer
- [ ] file_upload
- [ ] transform
- ~~ml~~ (no remaining usage of indexPatterns service)

See

[2022-01-31 10:04] #122636 closed

[2022-01-31 10:18] karanverma-qasource commented on #123300
Hi @MadameSheema

We have validated this issue on 8.0.0 rc2 BC3 and observed that issue is Fixed. 🟢

**Build Info**
[code]
**Screen records:**

https://user-images.githubusercontent.com/91867110/151771628-988e911a-d14f-4018-bac9-45fd5427e9b5.mp4

Thanks !

[2022-01-31 10:18] karanverma-qasource commented on #121983
Hi @MadameSheema

We have validated this issue on 8.0.0 rc2 BC3 and observed that issue is Fixed. 🟢

**Build Info**
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/151769583-abffc9d2-525a-429f-acb6-24d6ea3a3cc0.png)

Thanks!

[2022-01-31 10:18] #121983 closed

[2022-01-31 10:24] #123704 closed

[2022-01-31 10:36] karanverma-qasource opened #124096 "[Security Solution] [Question] A single event is getting displayed under security overview page when there is no data source linked."
**Describe the bug:**
A single event is getting displayed under security overview page when there is no data source linked with the fresh deployed build.

**Kibana/Elasticsearch Stack version:**
[code]
**Steps to Reproduce**

1. Open cloud production build deployment environment.
2. Deploy the fresh build of version 8.0.0 rc2.
3. After successful deployment open Kibana instance.
4. Navigate to Sec

[2022-01-31 10:36] elasticmachine commented on #124096
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-31 10:44] kibanamachine opened #124097 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_index_pattern_management·ts - machine learning data visualizer index pattern management sets custom label for existing field"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8921#0b46bbdc-8504-4cff-9364-a9972431a5ec)

[2022-01-31 10:47] weltenwort commented on #98010
I can create those tickets

[2022-01-31 10:49] MadameSheema commented on #124096
@karanverma-qasource can you please share the event details?? Did you have any type of beats or integrations linked to your instance? Thanks!

[2022-01-31 10:54] jkakavas commented on #124079
Thanks for reporting this. I will transfer the issue to the elasticsearch repository as this is unrelated to kibana.

[2022-01-31 11:09] karanverma-qasource commented on #124096
Hi @MadameSheema,

Please find below the attached file for event details and we don't have any beats or integrations linked with the instance, it's a fresh deployed build.

[Event_Details.txt](https://github.com/elastic/kibana/files/7970187/Event_Details.txt)

Thanks!

[2022-01-31 11:09] Kerry350 commented on #120807
As project status updates don't get mentioned on the issues just wanted to say I'm starting this today (OnWeek, TypeScript conversion work etc all came first).

[2022-01-31 11:18] azasypkin commented on #123886
For `.kibana_security_session_1` index, we try to use the same settings as `.security-tokens-7` index has. That means we should already have [autoexpand configured as `0-1`](https://github.com/elastic/kibana/blob/3d9a0826764e4e56d5c3298d8bda6a8027a582bc/x-pack/plugins/security/server/session_management/session_index.ts#L71-L76). If I understand this setting correctly, you should have had at least

[2022-01-31 11:22] pgayvallet commented on #124039
I would love to have a generic wrapping solution to be honest, either automatically performed inside core, or exposed as an utility for plugins to use, as adding an explicit check, or manually wrapping all APIs will be way too verbose.

However, given the nested (and sometime dynamic) nature of core's and our plugins' lifecycle contracts, I'm not 100% sure this can easily be performed automaticall

[2022-01-31 11:28] kibanamachine opened #124104 "Failing test: Firefox UI Functional Tests.test/functional/apps/console/_console·ts - console app console app should add comma after previous non empty line on autocomplete"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8925#a6d79eea-0ddf-4272-9a10-aad7af5c3748)

[2022-01-31 11:38] Dosant commented on #124039
Maybe if we indeed do it only in dev mode and exclude performance concerns, then deep proxy does make sense and is doable here

[2022-01-31 11:47] #123837 closed

[2022-01-31 11:49] nerophon opened #124105 "Actions sometimes not deleted from rules when removed via the UI"
**Kibana version:** 7.16.3

**Elasticsearch version:** 7.16.3

**Server OS version:** Windows 10 Pro 19042.1466

**Browser version:** Version 97.0.4692.99 (Official Build) (64-bit)

**Describe the bug:** Actions not deleted properly from rules when removed via the UI, under specific circumstances

**Steps to reproduce:**
1. Create a rule with an action on each rule execution and save it
1. Go to E

[2022-01-31 11:49] amolnater-qasource commented on #122126
Hi @kpollich
We are still able to reproduce this issue on 8.0 rc-2 BC-3 Kibana cloud environment.
- User is able to create same name integrations when copying an entire agent policy.

**Build details:**
BUILD: 49180
COMMIT: 8f8b91e8ce3b58e28e25caa5c5540ba6c4cc348e
ARTIFACT: https://staging.elastic.co/8.0.0-rc2-59ed50db/summary-8.0.0-rc2.html

**Screenshot:**
![4](https://user-images.githubusercont

[2022-01-31 11:51] karanverma-qasource commented on #122455
Hi @MadameSheema,

We have validated above issue on 8.0.0-rc2 BC3 build and it's fixed. ✔️

Build Info

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/151787992-91992eee-f4e0-4bd8-a624-fecca4a3350a.png)

![image](https://user-images.githubusercontent.com/91867110/151788042-9d4023e8-d6ef-4731-9cfb-f9c919fa14e8.png)

![image](https://user-images.githubuserconte

[2022-01-31 11:54] #106552 closed

[2022-01-31 11:58] gbamparop opened #124106 "[APM] Fetch data for cold start rate chart from transaction overview and transaction details"
### Kibana version

8.1.0

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

_No response_

### Expected Behavior

_No response_

### Actual Behavior

_No response_

[2022-01-31 11:58] elasticmachine commented on #124106
Pinging @elastic/apm-ui (Team:apm)

[2022-01-31 11:58] weltenwort opened #124107 "[Infra UI] Replace usages of deprecated index pattern service and related types"
## :notebook: Summary

The old index pattern service was factored out of the `data` plugin as a data view service in a separate `data_view` plugin. We want to replace our current usages of the index pattern service and related types with the new data view service to allow for removal of the deprecated service.

part of #124063

## :heavy_check_mark: Acceptance criteria

- Import of types and funct

[2022-01-31 12:00] weltenwort opened #124108 "[Stack Monitoring] Replace usages of deprecated index pattern service and related types"
## :notebook: Summary

The old index pattern service was factored out of the `data` plugin as a data view service in a separate `data_view` plugin. We want to replace our current usages of the index pattern service and related types with the new data view service to allow for removal of the deprecated service.

part of #124063

## :heavy_check_mark: Acceptance criteria

- Import of types and funct

[2022-01-31 12:00] elasticmachine commented on #124108
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-31 12:01] fkanout commented on #123947
For Uptime, Also it's constructed on the file in `getMonitorRouteFromMonitorId` function

https://github.com/elastic/kibana/blob/aa6fe695afde8bed30a1a7eee16593ae8c3db0f3/x-pack/plugins/uptime/public/lib/alert_types/monitor_status.tsx#L60

[2022-01-31 12:04] #122244 closed

[2022-01-31 12:14] weltenwort commented on #98010
@jasonrhodes there already is an issue (#122550) for adding cancellation on the @elastic/actionable-observability board. We should clarify who tackles that and make sure it doesn't collide with the executor refactoring required for the `composite` loop optimization.

[2022-01-31 12:16] fkanout commented on #123947
For Logs, this could relevant https://github.com/elastic/kibana/issues/104855

[2022-01-31 12:16] shahzad31 commented on #121232
i can't reproduce this, please reopen if you see otherwise

![image](https://user-images.githubusercontent.com/3505601/151792418-c23eda51-796c-4bf2-bb9b-de15f0149ff8.png)

[2022-01-31 12:16] #121232 closed

[2022-01-31 12:22] Dosant commented on #122664
I'll close this issue.
As was found:

`Invalid string. Length must be a multiple of 4` turned out to be a client-side bug in error handling logic and it is fixed in #123455

The recommendation is to check the real error from the server using the browser's network dev tools: look for failed `bsearch` requests and troubleshoot from there.

From what we learned in this issue, the underlying errors ar

[2022-01-31 12:22] #122664 closed

[2022-01-31 12:32] nreese commented on #124076
The following changes should be made to [TOCEntryActionsPopover](https://github.com/elastic/kibana/blob/8.0/x-pack/plugins/maps/public/connected_components/right_side_controls/layer_control/layer_toc/toc_entry/toc_entry_actions_popover/toc_entry_actions_popover.tsx).
* supportsFeatureEditing and isFeatureEditingEnabled should be combined into a single piece of state `canEditFeatures`.
* New piece

[2022-01-31 12:49] #124075 closed

[2022-01-31 12:49] kertal opened #124113 "[Discover] Switch to data views service"
Part of https://github.com/elastic/kibana/issues/124063

Data views were recently split out of the data plugin into a separate `data_views` plugin. Discover should migrate over to the new service so the data plugin can stop exposing data views

[2022-01-31 12:49] elasticmachine commented on #124113
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-31 12:57] lizozom commented on #72880
Thanks @pgayvallet. Good to see that we're getting close to supporting CDN asset serving (on cloud and potentially on prem).

I wonder, given the current state of things in Kibana, if we should get someone from the cloud\cloud infra teams involved. They would probably be able to shed some light on what the challenges from their side are.

@mfinkle Any clue who the appropriate teams \ people would

[2022-01-31 13:00] mbondyra commented on #122782
I've investigated around this issue and seems like it's coming from Elastic charts. I'll continue in their repo in the issue linked above!

[2022-01-31 13:12] lizozom commented on #123844
@neptunian do you believe this should improve performance?
Maybe we could test on cloud staging once those chagnes are merged.
I'm sure that testing this kind of changes might help us understand how we want to monitor and alert on performance degredations in the future.

[2022-01-31 13:24] ifrimere opened #124117 "Race chart visualization feature"
**Describe the feature:**
Race charts can be powerful tools for telling Data Stories. It would be a useful feature in Kibana to enable a visualization to be displayed to users in this way.

**Describe a specific use case for the feature:**
An organization has 5 years of sales data across 100 different products. They have a donut visualization showing their percentage of product sales broken down b

[2022-01-31 13:29] stratoula commented on #122782
@mbondyra if you change the tooltip to use the elastic-charts one, can you reproduce it for Visualize?
Switch off this one
![image](https://user-images.githubusercontent.com/17003240/151802159-6c0f8706-73a2-4849-9822-181ef2b5cd5c.png)

[2022-01-31 13:31] kibanamachine opened #124120 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/monitoring/elasticsearch/node_detail_mb·js - apis Monitoring Elasticsearch node detail mb should summarize node with metrics"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8931#0c3093ae-3fee-4c34-9933-50bd67035f99)

[2022-01-31 13:31] #123824 closed

[2022-01-31 13:33] mbondyra commented on #122782
@stratoula, good one! I cannot, but that's because the scroll is always visible for visualize so it doesn't appear and disappear. Maybe that's the way to go with Lens too, always show the scrollbar? I'm torn. Nevertheless, I think we should fix the initial bug too :)
<img width="1080" alt="Screenshot 2022-01-31 at 14 32 21" src="https://user-images.githubusercontent.com/4283304/151802661-6f964bc5-

[2022-01-31 13:34] katrin-freihofner commented on #124085
Thank you @mgiota that sounds good.

No, we usually use sentence case.

Yes.

Do you mean the field name with `metric` label?

Do we list the affected entities?

[2022-01-31 13:34] stratoula commented on #122782
Got it! Yes def I agree :)

[2022-01-31 13:34] jportner commented on #101006
Full debug log:

[code]

Screenshot:

![image](https://user-images.githubusercontent.com/5295965/151802644-6a94ae16-d0b2-48d0-8877-4416aa72cece.png)

It's still failing for the same root cause as mentioned in #99581. That test is already skipped, I guess this one needs to be skipped too unfortunately.

[2022-01-31 13:39] #101006 closed

[2022-01-31 13:58] mikecote opened #124121 "[Stack rules] Move from deprecated indexPattern service to dataViews service"
See https://github.com/elastic/kibana/issues/124063.

[2022-01-31 13:58] elasticmachine commented on #124121
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 14:00] mikecote opened #124122 "[Stack rules] Removal of IFieldType type"
See https://github.com/elastic/kibana/issues/107235.

[2022-01-31 14:09] #103858 closed

[2022-01-31 14:10] #121888 closed

[2022-01-31 14:17] ruflin commented on #121934
@ogupte Did you manage to reproduce this? Have we seen other case of this? If not, I would suggest to close this assuming it was an error that was resolved in Fleet since then or similar (@joshdover )

[2022-01-31 14:24] Dosant commented on #26340
Implemented in AggConfigs and Lens in https://github.com/elastic/kibana/pull/121500

[2022-01-31 14:24] #26340 closed

[2022-01-31 14:24] #113844 closed

[2022-01-31 14:24] #120851 closed

[2022-01-31 14:24] #67393 closed

[2022-01-31 14:27] simitt commented on #124078
@matschaffer thanks for reporting this. Regarding the issue in trying to install `8.0.0-dev4` package: this package was only released to `staging`, and it won't be available in `production`. Unfortunately the `8.0.0-rc2` build hasn't been updated to pull the `8.0.0` package, so the migration is kind of broken there. The apm package `8.0.0` has now been released to production, and a fix has been me

[2022-01-31 14:29] elasticmachine commented on #123719
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-31 14:32] nreese commented on #118559
Kibana's CSV import will need some manual changes to re-import CSVs exported with points encoded as JSON stringified GeoJSON.

Add the following in **Mappings** to index JSON parsed field as geo_shape:
[code]

Add the following in **Ingest pipeline** parse stringified field to JSON and remove old field.
[code]

[2022-01-31 14:36] mdefazio commented on #123765
@sixstringcode @ryankeairns @mattkime One side effect of this update is that the current setup uses a single select dropdown for field types.

I think it will be odd to have a basic dropdown for one filter option (current filter for field type) and a filter group with multi-select on the other (new filter for runtime fields).

So I think we should change both filters to use the [EUI Filter Group](

[2022-01-31 14:41] FreerideTheWorld commented on #77072
When is the ability to dock the main navigation bar coming back?  The subpages, I guess thats what its called, are dockable now but the main nav isn't.  An update would be great.  This can't be that hard to bring back.

[2022-01-31 14:44] nugroho-expereo commented on #121934
@ruflin I still have the same issue. We are on v7.16.2 on Elastic Cloud service.

![image](https://user-images.githubusercontent.com/35025861/151813867-3041c544-eb1f-44eb-8532-b634da7a7925.png)

[2022-01-31 14:53] jportner opened #124127 "[Platform Security] Replace deprecated usage of IndexPatterns service"
Meta issue: #124063

The Security plugin uses the deprecated IndexPatterns service. We should be using the new DataViews service (exposed from the new DataViews plugin) instead.

* https://github.com/elastic/kibana/blob/e5b279f318eac64660a5f4b157e891339f05ea61/x-pack/plugins/security/public/management/roles/roles_management_app.tsx#L111
* https://github.com/elastic/kibana/blob/9d662b77bec867247421

[2022-01-31 14:53] elasticmachine commented on #124127
Pinging @elastic/kibana-security (Team:Security)

[2022-01-31 14:55] #116766 closed

[2022-01-31 14:58] mattkime commented on #123746
Is there a reason why this would be preferred over creating the data view directly within discover? https://github.com/elastic/kibana/issues/123299

[2022-01-31 15:03] weltenwort opened #124130 "[Logs UI] Optimize grouped rule execution in the log threshold rule type"
## :notebook: Summary

We want to optimize the way the log threshold rule type executor queries and processes the data as to not block the nodejs event loop and decrease memory usage.

part of #98010

## :information_source: Background

The [log threshold rule type excecutor](https://github.com/elastic/kibana/blob/b6d2149e99c7c0bdcf490b501e8081d806f5d4ad/x-pack/plugins/infra/server/lib/alerting/lo

[2022-01-31 15:03] elasticmachine commented on #124130
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-31 15:03] #111158 closed

[2022-01-31 15:08] MichaelMarcialis commented on #123756
Per Slack conversation: Since there’s no strong opinions in either direction, let’s proceed as I originally suggest by removing the icon and tooltip for now and just monitoring to see if there’s any confusion reported from users. My instinct is that users will innately understand that custom values will allow them to exceed their current data range.

[2022-01-31 15:10] sebelga commented on #123861
Would it be possible to have the logs? Maybe clicking on the "See the full error" would give more information or inside the Chrome devtools.

[2022-01-31 15:14] fholzer commented on #10953
We're on version 7.16.2, and the space given to the legend severely impacts usability. Sure, I can hover over the labels to get the full label text as a tooltip. Still, when sending a screenshot of such a chart, it is pretty much useless. Even when maximizing the visualization, the legend items are cut off. Interestingly this is not the case when generating a PDF report (with and without optimizin

[2022-01-31 15:18] ruflin commented on #121934
@nugroho-expereo Thanks for the heads up. Will definitively keep it open then.

[2022-01-31 15:18] #107057 closed

[2022-01-31 15:19] elasticmachine commented on #123104
Pinging @elastic/fleet (Team:Fleet)

[2022-01-31 15:23] mistic commented on #123103
This test is failing and looks flaky. Skipping for now.

main: 37b6715

[2022-01-31 15:23] mistic commented on #123105
This test is failing and looks flaky. Skipping for now.

main: [37b6715](https://github.com/elastic/kibana/commit/37b6715ebdbdb72554a53f85068431dcdd7759a6)

[2022-01-31 15:25] formgeist commented on #109546
@turnUpTheChill Just offering an update as we're actively working on a solution for grouping services in APM - you can follow along on this main [issue](https://github.com/elastic/kibana/issues/122430). I'll close out this issue and treat the other issue as the main.

[2022-01-31 15:25] #109546 closed

[2022-01-31 15:25] #121092 closed

[2022-01-31 15:26] mgiota opened #124135 "Make o11y rule menu option configurable"
Fixes https://github.com/elastic/kibana/issues/123580

## Related Tickets
- [x] #123580
- [ ] #123581
- [ ] #123582
- [ ] #123584
- [ ] #123586
- [ ] #123585

[2022-01-31 15:27] emilioalvap opened #124137 "[Uptime][Monitor Management][Firefox] Monitor type select is unresponsive"
**Kibana version:** main

**Elasticsearch version:** 8.1.0-SNAPSHOT

**Server OS version:** Windows 10.0.19043

**Browser version:** Firefox 96.0.3 (64-bit)

**Browser OS version:** Windows 10.0.19043

**Original install method (e.g. download page, yum, from source, etc.):** from source.

**Describe the bug:**

Monitor type select inside Monitor Management form does not allow for the selection of

[2022-01-31 15:27] elasticmachine commented on #124137
Pinging @elastic/uptime (Team:uptime)

[2022-01-31 15:27] mistic commented on #123104
This test is failing and looks flaky. Skipping for now.

main: 5d780d0

[2022-01-31 15:32] michaelolo24 opened #124138 "[Security Solution][Investigations][Tech Debt] - Migrate Timeline Context to Redux"
## Background:

Currently within the security_solution, there is a mixture of redux and context used to manage visual logic or manage prop drilling. This mixture of state management, which _may_ have negative rendering performance impacts, may be unnecessary as any visual state logic and prop drilling could potentially be better handled through improved use of redux and selectors.

There are curre

[2022-01-31 15:33] rudolf opened #124139 "migrationsv2 fail when replica allocation is disabled"
When replica allocation is disabled (`cluster.routing.allocation.enable: none`), upgrade migrations will fail because the REINDEX_SOURCE_TO_TEMP_INDEX_BULK step performs a bulk index operation with `wait_for_active_shards=all`. We do this to ensure that saved objects are replicated so that we protect our users against data loss.

Since the Elasticsearch documentation mentions switching off replica

[2022-01-31 15:33] elasticmachine commented on #124139
Pinging @elastic/kibana-core (Team:Core)

[2022-01-31 15:35] elasticmachine commented on #124097
Pinging @elastic/ml-ui (:ml)

[2022-01-31 15:35] #123110 closed

[2022-01-31 15:35] elasticmachine commented on #124120
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-01-31 15:38] emilioalvap commented on #124137
Closin, already tracked in #444

[2022-01-31 15:41] #124137 closed

[2022-01-31 15:41] elasticmachine commented on #124104
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 15:45] cjcenizal commented on #75967
@mibragimov In Index Management > Index Templates there are two sections. The one on top is for "Composable index templates" (accessed via the `_index_template` API) and the one on bottom is for "Legacy index templates" (accessed via the `_template` API).

![image](https://user-images.githubusercontent.com/1238659/151825104-30f8db43-9f61-4c56-a977-96537d9bc6f3.png)

You can see that the list of av

[2022-01-31 15:45] juliaElastic commented on #108456
@joshdover @jen-huang @mostlyjason We got confirmation today about the blockers, and it seems we are good to go. Are you okay with merging this feature then for 8.1? The remaining dependencies can be finished after FF.
- Azure VM: POC working, they are ok with the timeline
- elastic-package: POC working with preconfiguration, should be ok
- ECK: documentation update is raised as a pr, should be re

[2022-01-31 15:47] Dosant commented on #124062
My first thought was to use [forwardRef](https://reactjs.org/docs/forwarding-refs.html) in the top bar component to expose imperative APIs, but then I thought maybe we should use [uiActions](https://github.com/elastic/kibana/tree/main/src/plugins/ui_actions) plugin for this instead. This will allow anyone to trigger actions that will, for example, open a date picker

We need to figure out how to h

[2022-01-31 15:48] elasticmachine commented on #123809
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 15:48] elasticmachine commented on #123606
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 15:49] elasticmachine commented on #123524
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 15:49] #46126 closed

[2022-01-31 15:51] elasticmachine commented on #74213
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-31 15:53] michaelolo24 opened #124146 "[Security Solution][Investigations][Tech Debt] - Replace useDeepEqualSelector and useShallowEqualSelector with useSelector"
## Background:

 In an effort to improve the performance of the application and better leverage the use of redux, selectors, and hooks, we would like to remove the use of `useDeepEqualSelector` and `useShallowEqualSelector` where possible. The multiple deepEqual checks can have a negative performance impact and be potentially unnecessary when compared against the default behavior useSelector in co

[2022-01-31 15:57] lizozom opened #124147 "Define ILM policy for Kibana APM data"
We recently started collecting APM data for kibana and kibana front end.
At this stage we're collecting it for a subset of our [monitoring deployments](https://github.com/elastic/cloud/issues/91181), but the longer term goal is to sample APM stats for all customer deployments, to allow us to monitor them better as well as troubleshoot performance issues in production.

Since this data is large *en

[2022-01-31 16:07] #104129 closed

[2022-01-31 16:08] ghudgins commented on #94609
from elastic community on slack:

[2022-01-31 16:15] mtojek opened #124150 "Bad experience while booting Fleet with hosted packages"
Hi,

we're switching to [hosted policies](https://github.com/elastic/elastic-package/pull/676), but the experience is not well. Please take a look at logs:

[code]

Timeouts, failed to install, failed to uninstall. In general, Kibana is performing "heavy computing", CPU spins like crazy.

cc @dover @ruflin

[2022-01-31 16:15] elasticmachine commented on #124150
Pinging @elastic/fleet (Team:Fleet)

[2022-01-31 16:16] michaelolo24 opened #124151 "[Security Solution][Investigations][Tech Debt] - Remove React.memo deepEqual checks"
## Background:

 In an effort to improve the performance of the application and better leverage the use of redux, selectors, and hooks, we would like to remove the use of `deepEqual` checks when using `React.memo` where possible. The multiple deepEqual checks can have a negative performance impact on the speed of component rendering and be potentially unnecessary when compared against the default

[2022-01-31 16:17] cjcenizal commented on #123503
@elastic/response-ops Is this issue under your purview?

[2022-01-31 16:19] jasonrhodes opened #124152 "[Stack Monitoring] [R&D] How do we evolve setup mode to align more with Kibana/Observability?"
The Stack Monitoring UI currently uses a custom setup mode for guiding users through steps such as setting up Metricbeat monitoring and editing alerting rules. The existing UI is extremely custom which sets it apart in both look and conventions from the rest of Kibana. This ticket is meant to produce a list of the features that setup mode currently enables and a solution for each feature that is m

[2022-01-31 16:19] cjcenizal commented on #123532
Relates to https://github.com/elastic/kibana/issues/10095 and https://github.com/elastic/kibana/issues/29999.

[2022-01-31 16:20] elasticmachine commented on #123532
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 16:22] cjcenizal commented on #26743
Closing this as we haven't been able to repro or heard other reports of this bug. @melissachang Could you please reopen this if you're still encountering the problem? Thank you!

[2022-01-31 16:22] #26743 closed

[2022-01-31 16:23] cjcenizal commented on #105416
Let's keep this open for now. Once we migrate to Monaco we can verify the migration fixes this issue.

[2022-01-31 16:24] #36570 closed

[2022-01-31 16:24] alisonelizabeth opened #124153 "[Upgrade Assistant] Reindexing error after restart"
**Kibana version:**
7.17

**Describe the bug:**
Reindexing occasionally fails when Kibana is restarted when a reindex is in process.

<img width="1792" alt="ua_reindex_error" src="https://user-images.githubusercontent.com/5226211/151831223-cae3dc41-ef70-4e61-86d9-a3116ca0d887.png">

**Steps to reproduce:**
1. Start Kibana/ES 7.17 with 6.8 data
2. Go to upgrade assistant - start reindexing the indi

[2022-01-31 16:25] elasticmachine commented on #124153
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 16:32] alisonelizabeth commented on #124153
After initial investigation, it appears the error is occurring here: https://github.com/elastic/kibana/blob/7.17/x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.ts#L301.

We compare the index count to the `created` field in the task response. In this case, `created: 0`, so we throw an error. What's strange is the `completed` flag is equal to `true` in the task response.  I'v

[2022-01-31 16:38] mikecote commented on #123503
@cjcenizal thanks! I've assigned the labels 👍

[2022-01-31 16:38] #122985 closed

[2022-01-31 16:45] alisonelizabeth commented on #124153
Task response comparison of "error" state vs. "success" stage (after clicking "Try again").

![task_diff](https://user-images.githubusercontent.com/5226211/151835886-193fe3c9-428e-4ae1-b316-eda54197bc9d.png)

[2022-01-31 16:47] ryankeairns commented on #123765
+1 for that added consistency which allows people to use both dropdowns in a similar fashion.

[2022-01-31 16:52] lizozom commented on #123186
@elastic/apm-ui
This issue happens because issues are only grouped based on their **exception type**, but the text shown is the message of the latest error of each type. As new errors come in, the UI becomes inconsistent.

A simple solution could be to show the **exception type** in the table and then add another column showing the "latest message". What do you think?

[2022-01-31 16:53] michaelolo24 opened #124154 "[Security Solution][Investigations][Tech Debt] - Replace mapStateToProps and mapDispatchToProps"
## Background:

While `mapStateToProps` and `mapDispatchToProps` function fine, it can be problematic when using that paradigm and hooks within the same component. As an example the `mapStateToProps` function may need to rely on a hook like `useLocation` which does have an alternative `withRouter` higher order component, but leads to additional unnecessary complexity within the application. To uni

[2022-01-31 16:54] mostlyjason commented on #122892
The highest priority is the setting to ignore old logs since its needed for stability. We'll also want to review the set of global input settings to define the scope for this issue. @nimarezainia discussed decoupling processors if necessary until we have better definition for V2 architecture.

[2022-01-31 16:55] jportner opened #124155 "Shareable saved objects - spaces list"
As of #123991, two saved object types are now shareable: ML Jobs and Data Views.

When you view a table of saved objects in the ML Jobs Management and Data Views Management (DVM) pages, they contain a "Spaces" column. That space list is rendered using the `behaviorContext="outside-space"` option.

The option changes the behavior of the list so that is rendered as if the user is outside the active

[2022-01-31 16:55] elasticmachine commented on #124155
Pinging @elastic/kibana-security (Team:Security)

[2022-01-31 16:55] machadoum opened #124156 "Queries to .siem-signals-* return preview alert alert data from .internal.preview.alerts-security.alerts-*"
**Kibana version:**
8.0
**Elasticsearch version:**
8.0
**Original install method (e.g. download page, yum, from source, etc.):**
from source
**Describe the bug:**
`.siem-signals-*` index alias shows data from `.internal.preview.alerts-security.alerts-*`. This could lead to false positive alerts if the user has rules configured with `.siem-signals-*` as a source index. It could also affect the data

[2022-01-31 17:00] bhavyarm commented on #123861
7.17 didn't have anything else other that what I posted. But 8.0.0 gave me good details.

Kibana logs:
[code]
<img width="1792" alt="Screen Shot 2022-01-31 at 11 59 07 AM" src="https://user-images.githubusercontent.com/7074629/151838475-c43c1ec2-3400-47e8-9b11-7c011afcae73.png">

[2022-01-31 17:12] elasticmachine commented on #60391
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 17:17] ymao1 opened #124159 "[Rule Registry] Initialization errors in Rule Data Service can cause write errors in rule registry executors"
When a plugin initializes the rule registry, it calls `ruleDataService.initializeIndex(ruleDataServiceOptions)`. In order to avoid blocking plugin setup, `initializeIndex` does not await any asynchronous calls to install index resources but rather returns those promises as part of the `RuleDataClient`. If installation of index resources fails, writing to the alerts as data index will throw an erro

[2022-01-31 17:18] elasticmachine commented on #124159
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 17:20] ymao1 opened #124160 "[Rule Registry] Potential UnhandledPromiseRejections in Rule Registry"
From Marshall:

Some async functions, such as prepareForWriting, waitUntilReadyForReading, and waitUntilReadyForWriting, are called without initially handling potential promise rejections. The possible errors are, in some cases, handled later on when the result of the promise is finally used. If the promise rejects before the code reaches the point where the errors are handled then Kibana can cras

[2022-01-31 17:21] elasticmachine commented on #124160
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 17:26] #116916 closed

[2022-01-31 17:37] michaelolo24 opened #124161 "[Security Solution][Investigations][Tech Debt] - Timeline Data Reducers"
## Background:

We currently use the concept of containers (custom hooks that fetch data) within the security solution to allow data to be fetched and consumed from any component within the application. While this allows for a lot of flexibility, moving this data to a shared reducer would allow other parts of the application to react based on the existing data as well as unify on the one way data

[2022-01-31 17:37] mbondyra opened #124162 "[Lens] When field list is filtered by field caps API, callout should not inform about timerange and global filters"
**Kibana version:**
master

Right now by default we construct available/empty field accordions by checking [field caps API](https://github.com/elastic/kibana/pull/122915) that doesn't take into account time range/filters.

However, if the list is empty because of name/type filtering we still display a callout with the old reasons:

<img width="256" alt="Screenshot 2022-01-31 at 18 36 36" src="http

[2022-01-31 17:37] elasticmachine commented on #124162
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-31 17:38] #123618 closed

[2022-01-31 17:38] weltenwort commented on #124130
@Kerry350 I'd like to hear your thoughts on this. Do you think it's feasible or did I miss anything?

[2022-01-31 17:40] EricDavisX commented on #88389
@EricDavisX tagging himself, may take this over as nobody is working it at this point afaik

[2022-01-31 17:41] elasticmachine commented on #18375
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 17:53] elasticmachine commented on #122367
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 17:54] stratoula opened #124166 "[Lens] Default label is not restored when deleting a custom one"
**Kibana version:**
8.1

**Describe the bug:**
Lens editor allows the users to change the axis title and give a custom one. If the user deleted the custom value, the placeholder changes to the default one, and also the axis title.

Now this doesn't work anymore.

**Steps to reproduce:**
1. Create an xy chart
2. Change the custom title of the vertical axis (i.e. from Count of records to something e

[2022-01-31 17:54] elasticmachine commented on #124166
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-31 17:58] flash1293 commented on #124166
I think this never worked - emptying the input will only get you back the previous value, whatever it was (closing the flyout "commits" the value

[2022-01-31 17:59] #108252 closed

[2022-01-31 17:59] flash1293 commented on #124162
As mentioned offline - changing the time range / filters can still cause data to show up, I think we should keep the error message.

[2022-01-31 18:05] kobelb commented on #19346
test

[2022-01-31 18:13] katrin-freihofner commented on #123584
@mgiota I think this is something we could postpone a bit to wait for the EUI solution on bulk actions. https://github.com/elastic/eui/issues/4010

[2022-01-31 18:16] jonathan-buttner commented on #117905
These are the KPIs that have been implemented for 8.1

- How many alerts are within this case? (https://github.com/elastic/kibana/pull/120265)
- How many hosts are represented from the attached alerts? (https://github.com/elastic/kibana/pull/120982)
- How many users are represented from the attached alerts? (https://github.com/elastic/kibana/pull/120982)
- How long has this Case been open? (https:

[2022-01-31 18:18] elasticmachine commented on #124117
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-31 18:23] pedrosk commented on #123857
Any updates on this? Would there be a backport?

Thanks
mention @tsullivan @nreese

[2022-01-31 18:25] #122545 closed

[2022-01-31 18:26] mostlyjason commented on #123356
@jen-huang sure its a best practice to use https for fleet server

[2022-01-31 18:31] smith opened #124168 "Remove IFieldType from stack monitoring"
## :memo: Summary

The `IFieldType` interface is going to be removed because it's too ambiguous. We should replace its usage with either `DataViewField` or `DataViewFieldBase`.

part of #107235

## :heavy_check_mark: Acceptance criteria

- No references to `IFieldType` exist in the stack monitoring codebase.
- The impacted code remains fully typed using appropriate replacements.

[2022-01-31 18:32] jasonrhodes commented on #123972
Yes and no. The idea of the Logs UI is that it is a UX catered to Logs in a way that Discover was, in theory, not. I think the options are probably:

- Merge the log stream back into Discover, but as a separate mode of exploration
- Move the log stream back into the Kibana stack as a sibling of Discover, and make it wrap the Discover components and add functionality specific to log stream viewing,

[2022-01-31 18:33] elasticmachine commented on #124168
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-31 18:38] smith opened #124169 "Migrate to DataViews service from IndexPattern service"

[2022-01-31 18:38] nchaulet commented on #123104
👍 We should use a docker package registry instead of relying on the production one here.

[2022-01-31 18:57] stratoula commented on #124166
@flash1293 I have tested it on 7.16 and v8. It results on the default value.
![image](https://user-images.githubusercontent.com/17003240/151855363-7d8c01ee-efad-463b-ac29-6136d25efb88.png)

[2022-01-31 19:10] pmuellr opened #124170 "[ResponseOps] muted alert still fires when using notifyWhen: onActionGroupChange"
We had a user report that an alert that they had muted was still firing it's actions.  Note - the rule itself is not muted, just one specific alert instance.  Looking at the event log, you can see that actions are being invoked for that alert, despite it be listed in the muted instances of the saved object.  The rule is set to notifyWhen: onActionGroupChange.  It seems like the easiest way to test

[2022-01-31 19:10] elasticmachine commented on #124170
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 19:17] pmuellr commented on #124170
I'm a little surprised by this one, since I believe notifyWhen: onActionGroupChange is the default, so you'd think this bug would show up more often.  But thinking maybe it only really started happening when we started "recovering" the instances when the rule is disabled - from this PR https://github.com/elastic/kibana/pull/111671 merged in 7.16.0?

[2022-01-31 19:18] cjcenizal commented on #122103
@andrerca12 I'm sorry, but we don't support deployments with Stack components on different versions. I'm going to close this issue for now because we can't devote time to investigating an unsupported configuration. If you're able to reproduce this on a supported configuration, in which all Stack components are of the same version, then please open a new issue and we'd be happy to help. Thanks!

[2022-01-31 19:18] #122103 closed

[2022-01-31 19:22] jen-huang commented on #123104
@nchaulet if you fix this, could you make sure these related ones are addressed and closed out too?: https://github.com/elastic/kibana/issues/123103 https://github.com/elastic/kibana/issues/123105

[2022-01-31 19:37] nchaulet commented on #123104
@spalger Do you know if it's doable to use the docker server service in a jest integration test?

[2022-01-31 19:44] cjcenizal opened #124171 "Warn user when Kibana version doesn't match Elasticsearch version"
This was suggested on Discuss: https://discuss.elastic.co/t/cannot-read-property-aliases-of-undefined/293079/9. Users upgrading between minors sometimes to forget to upgrade Kibana after upgrading Elasticsearch. We can update Upgrade Assistant to surface this information. We should also consider showing the user a global banner, e.g. "Deployment is currently undergoing an upgrade from version 8.4

[2022-01-31 19:44] elasticmachine commented on #124171
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-31 19:45] cjcenizal commented on #122103
For reference it looks like users in the original Discuss thread report that their solution was to bring both Kibana and ES up to the same version: https://discuss.elastic.co/t/cannot-read-property-aliases-of-undefined/293079/11

[2022-01-31 20:07] cjcenizal commented on #115344
@pgayvallet Can we close this issue now? Looks like everything has been addressed.

[2022-01-31 20:08] kibanamachine opened #124173 "Failing test: Jest Tests.x-pack/plugins/lens/public/state_management - Initializing the store should initialize all datasources with state from doc"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8949#18609338-a828-43f7-8230-6c6df633fc5b)

[2022-01-31 20:09] weltenwort commented on #122338
@miltonhultgren Good find, that would explain a lot. Looks like sorting is done in Kibana and not ES. :raised_eyebrow: And the "offline" status seems to be implicit due to the lack of metrics. :thinking: Do you see any way of retrofitting a correct sorting?

If not, maybe we should disable sorting on that column?

[2022-01-31 20:26] michaelolo24 opened #124174 "[Security Solution][Investigations][Tech Debt] - Migrate to fields api"
## Background:

**Prior Reading:**
https://www.elastic.co/blog/discover-uses-fields-api-in-7-12

Currently within the security_solution we make use of both the `_source` and `_fields` api: [fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#search-fields-param). The use of _source is being discouraged by the ES team in favor of the `fields` api ( see https:/

[2022-01-31 20:34] kobelb opened #124175 "Remove `event.action` field from the technical field mappings"
The `rule_registry` plugin currently has the [`event.action` field](https://github.com/elastic/kibana/blob/06b0f975f602db01a455d4198c2e68a30bc185c0/x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts#L16) in the technical field mappings. However, this isn't a common field that must be present for all alerts-as-data documents, so it should be moved out of the technical

[2022-01-31 20:34] elasticmachine commented on #124175
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-31 20:34] elasticmachine commented on #124175
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-31 20:42] #124156 closed

[2022-01-31 20:47] jbudz commented on #74213
From 7.9+ NODE_OPTIONS can be set via the configuration file at `/etc/kibana/node.options`.  Setting the environment variable via `/etc/default/kibana` is still available, and my local testing points towards that issue being resolved.

If this is still an issue for anyone, lets reopen this and I can take another look.

[2022-01-31 20:47] #74213 closed

[2022-01-31 20:49] lukasolson commented on #122663
Fixed by https://github.com/elastic/kibana/pull/122884.

[2022-01-31 20:49] #122663 closed

[2022-01-31 20:56] elasticmachine commented on #124173
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-31 21:11] neptunian commented on #119658
After discussing with @klacabane we decided:

- Use the package registry docker image to load actual packages so we can have the latest mappings.  We can pass in a [custom configuration yaml](https://github.com/elastic/kibana/blob/main/x-pack/test/fleet_api_integration/apis/fixtures/package_registry_config.yml) that points to a server and install the latest package with the endpoint `/api/fleet/ep

[2022-01-31 21:17] #121272 closed

[2022-01-31 21:37] #121327 closed

[2022-01-31 21:37] mdefazio commented on #123765
**Update:**
(Apologies for the many edits to this...)

After discussing with @lockewritesdocs and @gchaps , we decided to have `Field type` and `Schema type` as the filter labels with `Runtime` and `Indexed` as the options under Schema type.  It seemed confusing if we say Runtime _field_, then why wouldn't this be under the field type dropdown.

We are also basing this decision off the assumption

[2022-01-31 22:05] clintandrewhall opened #124186 "[meta] Add Cloud Chat to Surfaces in Kibana"
Now that #123772 has shipped, we can add the Chat widget to other locations in Kibana.  This issue tracks the current list of targets and either the PR to implement or the blocking condition preventing it.

| Ready | Merged | Plugin | Location | Pull Request |
|-|-|-|-|-|
| ✅ | ✅ | fleet | Integrations - Browse | #123772  |
| ✅ | ✅ | data_visualizer | Integration - File Upload | #124172  |
| ✅ | ✅

[2022-01-31 22:43] LeeDr opened #124189 "CCS POC functional test changes"
**Describe the feature:** We need test coverage for Cross Cluster Search in Kibana CI.  This issue will be a guide for a POC of changes to our existing functional tests to cover CCS.

**Describe a specific use case for the feature:**

1. One aspect of CCS testing is version compatibility.  But let's limit the scope of this initial POC to testing a remote cluster of the same version.
2. Another asp

[2022-01-31 22:44] elasticmachine commented on #124189
Pinging @elastic/kibana-qa (Team:QA)

[2022-01-31 23:19] yctercero commented on #121756
@gavinwye updated in this PR [here](https://github.com/elastic/kibana/pull/124188). I moved the "Updated at ..." text to where the subheader was. Let me know if that's ok?

[2022-01-31 23:25] yctercero commented on #121756
@gavinwye Frank brought up a good question during his review of the PR. Do we want to also change the "Exceptions" text on the tab shown in the rule details page? I think "Exceptions" makes sense in that scenario as we are displaying a list of all the exception items associated to the rule, but just wanted to double check.

[2022-01-31 23:29] matschaffer commented on #124078
@formgeist I can give it another try if you'd like I have all the shas noted in [the test plan](https://docs.google.com/spreadsheets/d/1xDX3atdW74Wcso28-BAUMD0fWi9lpUXMxnh5K0aSpRA/edit#gid=1361223087&range=K4) - I actually didn't get a "Services" list but I presumed this was due to me using the "dummy" tester program from https://github.com/elastic/apm-server/issues/7139

[2022-01-31 23:51] gchaps opened #124193 "[Discover] Typo in fullscreen tooltip"
"Full screen" should be "full screen" in the following tooltip:

<img width="106" alt="Screen Shot 2022-01-31 at 3 43 45 PM" src="https://user-images.githubusercontent.com/33642766/151891373-ed94f9e0-e0ac-4954-9dc0-55fa6f91bd38.png">&nbsp;&nbsp;&nbsp;<img width="166" alt="Screen Shot 2022-01-31 at 3 43 33 PM" src="https://user-images.githubusercontent.com/33642766/151891394-453baabd-5343-4dfd-9934

[2022-01-31 23:52] elasticmachine commented on #124193
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-01 00:29] kibanamachine commented on #124104
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8964#ec34319e-6605-422a-8035-0f2a64f9717f)

[2022-02-01 00:29] ecezalp commented on #104089
Closing this bug as there is no longer a Save Dashboard button on the CTI card (the overview dashboard is gone with the switch to Fleet modules on the CTI card). More information can be found [here](https://github.com/elastic/security-team/issues/1833) @MadameSheema

[2022-02-01 00:29] #104089 closed

[2022-02-01 01:15] matschaffer opened #124196 "Dedicated dashboard & saved object APIs"
**Describe the feature:**

Add dedicated kibana server routes for at least:
- dashboards
- data views

 (could be split out into separate issues, but keeping together for now)

**Describe a specific use case for the feature:**

There are lots of folks around automating kibana configuration. @wandergeek among them (internal user).

Today it looks like the only API we have for this is https://github

[2022-02-01 01:15] elasticmachine commented on #124196
Pinging @elastic/kibana-core (Team:Core)

[2022-02-01 01:34] spalger commented on #123104
@nchaulet The docker server service is currently pretty coupled with the FTR and it's lifecycle. We could probably expose a similar service and maybe abstract the core out or something. Do these need to be Jest integration tests? Could we move them to an FTR config?

[2022-02-01 01:42] mattkime commented on #124196
We have a data views api, a minor update on the index patterns api. Docs will be merged shortly but are currently here - https://github.com/elastic/kibana/pull/123111

We should get the specifics of what you need for a find endpoint.

[2022-02-01 01:56] #122399 closed

[2022-02-01 02:17] mistic commented on #124104
This test keeps failing and looks flaky. Skipping for now.

main: b942e56

[2022-02-01 02:28] kibanamachine commented on #123456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8970#21256f03-aaaa-426a-b7d8-ce7be79ff432)

[2022-02-01 02:49] kibanamachine commented on #114261
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8970#ea8ae324-659f-42df-82d8-cf418f6e245a)

[2022-02-01 02:51] alexfrancoeur commented on #124186
@osmanis any chance you can provide the Journey teams thoughts on the entry points for chat? We have an initial list that we came up with, but we may want to prioritize.

[2022-02-01 03:17] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8972#241b6555-9c9e-4209-b154-a7efa9d8b8a4)

[2022-02-01 03:17] kibanamachine commented on #114261
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8970#c992d5a8-6407-4313-a622-a2b9ffe2cc2e)

[2022-02-01 03:24] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8972#6a028751-7ecf-4036-b745-7bb2a31dc77b)

[2022-02-01 03:28] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8974#68406b01-1a35-4c1b-beb0-b7e743a270d6)

[2022-02-01 03:32] mistic commented on #123556
This test keeps failing and looks flaky. Skipping for now.

main: 822edb4

[2022-02-01 03:35] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8974#e99f679e-15d7-4b7a-b698-868eff3fd1a0)

[2022-02-01 03:36] VimCommando opened #124200 "[Upgrade Assistant] Warn if cluster's node attributes and data tiers may not match"
**Describe the feature:**

If a node has `node.data: true` defined and includes _any_ `node.attributes.data` value, list a warning the configuration may not be valid for data tiers in 8.0.

The presence of a `node.attribute.data` value _strongly_ indicates a hot/warm or tiered architecture. It is completely valid to run all data tiers on the same nodes if the cluster is not used for timeseries dat

[2022-02-01 03:36] elasticmachine commented on #124200
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-01 03:37] mistic commented on #114261
This test keeps failing and looks flaky. Skipping for now.

main: f99d4b5

[2022-02-01 03:38] kibanamachine commented on #112900
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8972#7f434cce-ae58-4813-9672-a84dd29a1111)

[2022-02-01 03:40] yctercero commented on #121756
@MadameSheema ready for QA check! Thank you! 🙏

[2022-02-01 04:28] peluja1012 commented on #50215
Hi @ymao1, we are revisiting adding a "run now" functionality in Security Solution. Do you know if the alerting framework exposes this capability via the Alerting client?

[2022-02-01 06:02] matschaffer commented on #119658
Is this maybe a good opportunity to try to work out a way to do testing without copying the tests themselves?

I'm thinking maybe something like a helper that sets up the same test for different setup methods.

[2022-02-01 06:16] matschaffer commented on #123886
Hrm.... yeah. It's auto-expand. I wonder why we got that 503 then.

@rashmivkulkarni do you happen to have the deployment ID we saw this on last week?

[2022-02-01 06:29] matschaffer commented on #123886
Ah. Looks like it's probably this one https://admin.found.no/deployments/8bc6f340684940f993a0864a5dec6f04

https://logging.europe-west1.gcp.elastic-cloud.com/goto/a97fc910-8327-11ec-a9d0-cb7c4d77bc01
![Screen Shot 2022-02-01 at 15 25 23](https://user-images.githubusercontent.com/690/151922128-be5f06b8-7c05-4774-8108-2318f2e16583.png)

[2022-02-01 06:31] rashmivkulkarni commented on #123886
sweet, I was looking if I still had this cluster. Thanks @matschaffer

[2022-02-01 06:38] matschaffer commented on #123886
And https://admin.found.no/deployments/567b27705936478680f3495a3d5037e5 is the one from the screenshot (mine actually)

https://logging.europe-west1.gcp.elastic-cloud.com/goto/7c0edf50-8329-11ec-a9d0-cb7c4d77bc01
![Screen Shot 2022-02-01 at 15 37 58](https://user-images.githubusercontent.com/690/151923287-f6bc42c2-ec64-4ff5-876d-860426a3dd0e.png)

![Screen Shot 2022-02-01 at 15 35 06](https://user

[2022-02-01 06:40] matschaffer commented on #123886
I've asked @benzo-elastic to restore the deployment so I can check the index settings again.

It's possible that auto-expand has some window of unavailability during rolling cluster operations.

[2022-02-01 06:43] matschaffer commented on #123886
![Screen Shot 2022-02-01 at 15 42 24](https://user-images.githubusercontent.com/690/151923670-fe127ffc-9ee9-42af-82e9-2fc94af83e1a.png)

And the restored cluster shows 1 replica.

So perhaps we should close this in favor of an ES level issue to check expectations around auto-expand.

[2022-02-01 06:56] kibanamachine commented on #114215
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8983#d8e0afff-d419-4de7-bf71-8a81c44b835a)

[2022-02-01 07:00] pgayvallet commented on #124074
All plugins has been done, and couldn't find any other usage in the team's owner plugins. Closing.

[2022-02-01 07:00] #124074 closed

[2022-02-01 07:04] pgayvallet commented on #117490
https://github.com/elastic/kibana/pull/124009 was merged, I updated the issue accordingly and added a subtasks list.

[2022-02-01 07:22] majagrubic commented on #111184
@LL6688 it's a partial solution for the first part of the probem - "no data, no index patterns"
Second part is blocked by https://github.com/elastic/kibana/issues/124019

[2022-02-01 07:37] AlexanderWert opened #124202 "[APM] APM's AWS Lambda UI to support OpenTelemetry agents"
With https://github.com/elastic/kibana/issues/106552 APM provides a tailored UI for AWS Lambda services / functions.
However, this doesn't cover AWS Lambda functions instrumented with OpenTelemetry agents.
Once, the APM server provides corresponding mapping of OpenTelemetry attributes for serverless applications, the UI for OTel-based AWS Lambda functions should behave the same way as with Lambda

[2022-02-01 07:37] elasticmachine commented on #124202
Pinging @elastic/apm-ui (Team:apm)

[2022-02-01 08:05] formgeist commented on #124078
I think we'll continue to test in APM and with the GA build coming out soon, I think we will go through the plan again. Thanks for offering to support 👍

[2022-02-01 08:34] #116194 closed

[2022-02-01 08:36] pgayvallet commented on #115344
Yea, this is done, closing.

[2022-02-01 08:36] #115344 closed

[2022-02-01 08:44] pgayvallet commented on #124196
@matschaffer could you elaborate a bit on the exact need, and on why using the `_find` http API directly exposed from core would be a problem for it?

Btw, the route you linked is an 'internal' route for the SO management plugin. Core's `find` route is exposed via `/api/saved_objects/_find`.

https://github.com/elastic/kibana/blob/dfea0fee21d93e73926092e32105d9e66fcc8c6e/src/core/server/saved_obje

[2022-02-01 08:50] #123636 closed

[2022-02-01 08:53] axw opened #124204 "[APM] Display unparsed error stack traces if available"
**Describe the feature:**

If neither `error.exception.stacktrace` nor `error.log.stacktrace` is available, the UI should look for the standard ECS field [`error.stack_trace`](https://www.elastic.co/guide/en/ecs/current/ecs-error.html#field-error-stack-trace) and display that.

The `error.stack_trace` field is a plain text representation of a stack trace, as opposed to the non-ECS fields mentioned

[2022-02-01 08:53] elasticmachine commented on #124204
Pinging @elastic/apm-ui (Team:apm)

[2022-02-01 09:03] dannycroft opened #124205 "[APM] 8.1.0 Test Plan"
# Test plan 8.1.0

## Phase 1 - Manual Testing: Monday 7th February

- Pick an issue from the [curated list](https://github.com/elastic/kibana/issues?q=label%3Aapm%3Atest-plan-8.1.0+is%3Aclosed+-label%3Aapm%3Atest-plan-done)
- After testing apply `apm:test-plan-done` label. If a problem is found a new issue should be opened and labelled `apm:test-plan-regression` and moved to "Ready" column.

###

[2022-02-01 09:28] lucasfcosta commented on #116983
Hey Shahzad, I think it should be fine to change the badge itself (I'd recommend `> 50` though, but am not strongly opinionated). My main concern though is that if we're not querying all tags anyway, users will scroll the list and not see the tag they've just created unless they search for it, which could be confusing. Can we make the list load more tags when users scroll to the bottom? In that ca

[2022-02-01 09:29] #100537 closed

[2022-02-01 09:31] shahzad31 commented on #116983
Scrolling and loading is definitely technically possible, though it will a good work.  We can also show at the end , ask user to 'search' if they want to load more?

But yeah i am not against scrolling and loading.

[2022-02-01 09:37] #95389 closed

[2022-02-01 09:43] pheyos commented on #124097
Failure screenshot:
![image](https://user-images.githubusercontent.com/1945390/151945591-346d9495-c00b-4dc4-b1aa-7460f7a98f13.png)
I'll keep an eye on this.

[2022-02-01 09:56] kibanamachine commented on #114215
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8991#fb97b89c-9520-4f6b-b3cf-080b3e3a8d0a)

[2022-02-01 10:09] ersin-erdal opened #124206 "[Alerting] research refactoring task_runner module"
⚠️ This is a meta issue.

This is a meta issue to refactor [task_runner.ts](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/task_runner/task_runner.ts) module.

This module and its unit tests became too big and hard to follow in time. We can create sub-issues (extract type, interfaces and test fixtures, extract rule execution etc... ) and refactor them as small chunks.

[2022-02-01 10:13] elasticmachine commented on #124156
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-01 10:13] elasticmachine commented on #124206
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-01 10:16] #119311 closed

[2022-02-01 10:22] peteharverson commented on #94704
Closing issue as all items have been addressed.

[2022-02-01 10:22] #94704 closed

[2022-02-01 10:40] jsoriano commented on #119658
If the only reason to start the registry is to load packages, take into account that there may be additional methods in the near future that don't require a registry, such as https://github.com/elastic/kibana/pull/122297 or https://github.com/elastic/kibana/issues/70582.

[2022-02-01 10:46] MadameSheema commented on #122209
@deepikakeshav-qasource please, validate the fix of this issue on latest 8.0-rc2 BC, thanks :)

[2022-02-01 10:47] paulb-elastic commented on #115960
@dominiqueclarke I think we discussed and thought this might be a Kibana wide issue (not even just Observability).  Can you liaise with the Kibana team to see if this is the case and something that might need to go on their backlog?  Thanks.

[2022-02-01 10:47] MadameSheema commented on #122205
@muskangulati-qasource can you please validate this on latest 8.0-rc2 BC? Thanks

[2022-02-01 10:48] MadameSheema commented on #122151
@deepikakeshav-qasource please validate this on latest 8.0-rc2 BC, thanks :)

[2022-02-01 10:49] karanverma-qasource commented on #124096
Hi Team,

We have tried to disable the Enterprise search from the build deployment environment still we are getting the same event.

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/151954259-bce26e25-b7ec-4421-a7ed-e4e076508a4d.png)

![image](https://user-images.githubusercontent.com/91867110/151954317-2bc98771-f48d-47fc-aaa2-13ceae19991f.png)

Thanks !

[2022-02-01 10:49] MadameSheema commented on #121759
@deepikakeshav-qasource please validate the following fix on latest 8.0-rc2, thanks! :)

[2022-02-01 10:50] MadameSheema commented on #121758
@deepikakeshav-qasource please validate the following fix on latest 8.0-rc2 BC.

[2022-02-01 10:51] MadameSheema commented on #121756
@deepikakeshav-qasource please validate the following fix on latest 8.0-rc2 BC, thanks :)

[2022-02-01 10:52] lucasfcosta commented on #116983
Sure, I think as long as the user knows what they need to do next and are not "scared" because they don't see their tag that should be perfectly fine. Just saying they should search as you suggested would be okay.

[2022-02-01 11:02] lizozom commented on #123144
@afharo is this issue now redundant? Should I close it?

[2022-02-01 11:02] #104139 closed

[2022-02-01 11:02] #124162 closed

[2022-02-01 11:07] flash1293 commented on #124166
Synced offline, I get it now - my bad.

[2022-02-01 11:09] flash1293 commented on #105048
I'm a bit worried about the proposed fix here - it works today (even if there's an error shown in the UI), but fixing it that way would only show an error message. I would propose keeping the current behavior for BWC reasons. What do you think @stratoula @alexwizp ?

[2022-02-01 11:11] flash1293 commented on #119719
@KOTungseth what do you think? `Tree map` and `Heat map` or `Treemap` and `Heatmap`?

[2022-02-01 11:18] mshustov opened #124208 "Add response duration to the Elasticsearch response logs"
You can find the motivation description and proposed format in the parent issue https://github.com/elastic/kibana/issues/119062.
This issue is created to track implementation progress.

[2022-02-01 11:18] elasticmachine commented on #124208
Pinging @elastic/kibana-core (Team:Core)

[2022-02-01 11:18] joshdover commented on #108456
@juliaElastic I'm comfortable moving forward with merging this for 8.1 based on those statuses. Let's be sure to be available to support any teams that need any additional help, but I know you've already been super on top of that 😄

[2022-02-01 11:19] flash1293 commented on #122964
@dej611 How exactly did you navigate to the vis? On the dashboard it seems like the edit button is missing, from Visualize library it redirects me to saved object management

[2022-02-01 11:33] dej611 commented on #122964
I think I went through the Visualize library, but if you say it redirects, then may also be via the Saved Object Management.

[2022-02-01 11:37] deepikakeshav-qasource commented on #121290
Hi @MadameSheema ,

We have validated this issue on **8.0.0 RC2 BC4** and observed that issue is **Fixed**. Now we are not getting the Invalid rule name in raw events

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/151959945-42db26cf-abca-4a91-bdab-1d7b9e136a81.mp4

![image](https://user-images.githubusercontent.co

[2022-02-01 11:38] #121290 closed

[2022-02-01 11:39] stratoula commented on #122964
@flash1293 I remember that I had also tried to reproduce it. I think it happens for dataviews that don't have fields
i.e.
![image](https://user-images.githubusercontent.com/17003240/151962053-5fa646bc-90e9-424c-97a4-490f2d996b89.png)

If the dataview doesn't exist at all it redirects to the SO page.

[2022-02-01 11:44] jloleysens commented on #117814
I've found what could be a pure JS way of creating PNGs to compare against a baseline: https://www.npmjs.com/package/pureimage. The reasoning for that lib is specifically to avoid relying on the backing native dependencies (Cairo) and as a result is slower, but useful for tests that need to be really portable.

We could take this code: https://github.com/k-yle/pdf-to-img/blob/8998c3008c0be8394f18c

[2022-02-01 11:44] #118405 closed

[2022-02-01 11:44] deepikakeshav-qasource commented on #122209
Hi @MadameSheema ,

We have validated this issue on **8.0.0 RC2 BC4** and observed that issue is **Fixed**.  Warning toast is displayed for cases read privileges

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/151960837-59200f53-2598-4e0e-b6fd-3b9c29173966.png)

![image](https://user-images.githubuserconten

[2022-02-01 11:45] #122209 closed

[2022-02-01 11:49] darnautov opened #124211 "[ML] Provide detailed errors for Anomaly Explorer Charts"
At the moment when API calls for retrieving data for Anomaly Explorer Charts fail, e.g. fetching metrics data, the user gets a generic error message `You can't view anomaly charts for [anomaly job] because an error occurred while retrieving metric data.` which doesn't help with troubleshooting whatsoever. The only way to view the actual error is in the browser's Network tab.
Instead, we should rep

[2022-02-01 11:49] elasticmachine commented on #124211
Pinging @elastic/ml-ui (:ml)

[2022-02-01 11:54] elasticmachine commented on #124024
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-02-01 11:55] Dosant commented on #124024
Hi @mateskoo,
Are there any more details in Kibana server logs?

[2022-02-01 11:56] flash1293 commented on #122964
Ah alright, so this is actually two things that don't work 100% right
- menu bar hidden for empty field list because there are no indices matching the pattern
- broken redirect if data view SO is missing

[2022-02-01 12:02] deepikakeshav-qasource commented on #121759
Hi @MadameSheema ,

We have validated this issue on **8.0.0 RC2 BC4** and observed that issue is **Fixed**.  Download icon is displaying under exceptions tab.

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/151964746-8b0b4554-a58e-4ea9-a6e1-143d89be817f.png)

Hence, We are closing this issue and marking as

[2022-02-01 12:02] kibanamachine commented on #112900
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8999#625293e3-9789-4da1-8e19-b8725c5aa4a0)

[2022-02-01 12:03] #121759 closed

[2022-02-01 12:04] Foina opened #124214 "Hide panels option"
**Describe the feature:**
Hide panels
**Describe a specific use case for the feature:**
Hide "no result" panels option, hide some panels at the beginning, after adding some filters panels show.

[2022-02-01 12:07] kibanamachine commented on #123103
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8997#201410f6-b5bc-4e8c-885d-06145dce9593)

[2022-02-01 12:07] kibanamachine commented on #123104
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8997#201410f6-b5bc-4e8c-885d-06145dce9593)

[2022-02-01 12:07] kibanamachine commented on #123105
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8997#201410f6-b5bc-4e8c-885d-06145dce9593)

[2022-02-01 12:10] #123375 closed

[2022-02-01 12:11] #87608 closed

[2022-02-01 12:12] #122049 closed

[2022-02-01 12:14] #122957 closed

[2022-02-01 12:15] nreese commented on #122957
@bluttringer thanks for opening this issue. The fix did not make v7.17.0 cut-off but should be in v7.17.1

[2022-02-01 12:15] samratbhadra-qasource commented on #110202
Hi @kpollich
We have observed this issue reproducible on the latest 7.17.0-BC5  build. Please find below the exact testing details:

- Error page on clicking upgrade button for "Windows" integration with v0.8.1.

**Screenshot:**
![Screenshot (50)](https://user-images.githubusercontent.com/84007952/151966404-e7055d1c-ffa7-412e-bfaa-a710d438d0d5.png)

**Build Details:**
VERSION: 7.17.0-BC5
BUILD: 46

[2022-02-01 12:17] amolnater-qasource commented on #110202
Further this issue is inconsistently reproducible on 8.0 rc-2 Kibana self-managed environment.

**Build details:**
BUILD: 49192
COMMIT: 57ca5e139a33dd2eed927ce98d8231a1f217cd15

**Screenshot:**
![10](https://user-images.githubusercontent.com/77374876/151966884-2c9cc595-38e2-4d1b-a1f9-a94e83ceffe1.JPG)

Thanks!

[2022-02-01 12:24] stratoula commented on #105048
Looking into it more carefully, I am fine with the current behavior tbh.
I would improve the error message in the UI
![image](https://user-images.githubusercontent.com/17003240/151967540-937518e3-3c14-4e5e-ab78-0638dbb2c60a.png)

instead of index to say aggregation but except from that the bahavior looks good to me. So yes Joe, I agree with you, better to be bwc rather than introducing a new behav

[2022-02-01 12:25] deepikakeshav-qasource commented on #121756
Hi @MadameSheema ,

We have validated this issue on **8.0.0 RC2 BC4** and observed that issue is **Still Occurring**.  🔴

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/151967354-9b7f6307-ce5c-4d2f-a341-23d1953c45b0.png)

JFYI, We are unable to see any backport fix merged for 8.0.0 RC2. Can you please confi

[2022-02-01 12:31] lizozom opened #124219 "Lens editor gets into infinite search loop when searches take a while to complete and relative time range is used"
**Kibana version:**
7.16.1

**Describe the bug:**
I created a [visualization](https://logging.us-east-1.aws.elastic-cloud.com/app/lens#/edit/062efa00-835a-11ec-a13e-afb179efe048?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))) containing a scripted field (not a runtime field).
Loading it for last 15 minutes sends kibana into an endless `bsearch` loop and it never fin

[2022-02-01 12:31] elasticmachine commented on #124219
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-01 12:32] juliaElastic commented on #116711
This is resolved, @joshdover helped to fix the fleet server docker command, it was missing `--env FLEET_SERVER_INSECURE_HTTP=1` and from the error message it was not clear that fleet server started with https.

For reference, this is the error I was getting:
[code]

command used to start fleet-server:
[code]

[2022-02-01 12:33] muskangulati-qasource commented on #122205
Hi @MadameSheema,

We are unable to deploy the 8.0.0 RC2 BC4 build from any cloud site. However, we tested on BC3 for 8.0.0 RC2 and found that issue is occurring there.

**Screenshot**
![image](https://user-images.githubusercontent.com/60252716/151968935-2dd1f49c-50d6-4078-ac1e-b31611f19302.png)

So once we are unblocked to deploy the environment, we will test this ticket again.

Thanks!

[2022-02-01 12:34] flash1293 commented on #124219
Looks like a duplicate of https://github.com/elastic/kibana/issues/123030 , I already investigated the problem there

[2022-02-01 12:43] #124127 closed

[2022-02-01 12:44] flash1293 opened #124221 "[Lens Embeddable] Rename "Records" source field"
**For the teams pinged: This is an FYI, I'm going to prepare PRs to fix this**

In https://github.com/elastic/kibana/pull/123894 the source field used by the "Count of records" operation was changed from "Records" to `___records___` (exposed via `{ DOCUMENT_FIELD_NAME } from '../lens/common';`).

Consumers building Lens state directly in their application should adjust this, otherwise charts won't

[2022-02-01 12:44] elasticmachine commented on #124221
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-01 12:45] sabarasaba commented on #123606
This seems to be a longstanding bug that's is also present in 7.17 and 8. It only breaks if any remote clusters from the list have proxy mode (seems the table filtering functionality was not built with this particular option in mind). I'm working on a small PR for patching this up!

[2022-02-01 12:52] kibanamachine commented on #88796
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9001#327ec8ef-c3a0-4671-ac79-de6eb0485a22)

[2022-02-01 13:01] ymao1 commented on #50215
@peluja1012 The alerting rules client calls the task manager `runNow` function during rule updates (but it looks like only if the schedule interval changes) but does not expose any wrapper around it.

We could reopen this issue and update the description to add a wrapper around the task manager runNow in the alerting rules client. Alternatively, it looks like `taskManager` is already a required pl

[2022-02-01 13:02] #122151 closed

[2022-02-01 13:05] #120465 closed

[2022-02-01 13:08] flash1293 commented on #124173
@mbondyra could you check what's going on here? I looked through the code and I don't understand how this could happen

[2022-02-01 13:08] #122438 closed

[2022-02-01 13:09] stratoula opened #124223 "[Lens] Redesign of the axis titles settings"
**Describe the feature:**
On v8.1 both heatmap and xy charts give the users the ability to change their axis title.
The settings look like this

![image](https://user-images.githubusercontent.com/17003240/151973863-154a6e32-27fa-4b95-aa54-e957c725c2ce.png)

From the other hand, also gauges give the users the ability to change the title.

![image](https://user-images.githubusercontent.com/17003240/

[2022-02-01 13:09] elasticmachine commented on #124223
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-01 13:17] Dosant commented on #124019
As @mattkime suggested, short term we should could `dataViews` plugin to move [getIndicies check](https://github.com/elastic/kibana/blob/14d6f7c871542eaa0076dd539cbc64309c929936/src/plugins/data_view_editor/public/components/data_view_editor_flyout_content.tsx#L141) to a service so that you can reuse it in different places

Longer-term, as of other checks, I am not sure that this is something for

[2022-02-01 13:24] azasypkin commented on #123886
Thanks a lot for the investigation @matschaffer! I'll close this issue once we get any reply to your question in ES channel, just in case there is anything to be done on our side.

[2022-02-01 13:25] joshdover commented on #121934
@nugroho-expereo or @simitt do you know what your APM alias node field was set to before trying to run this upgrade?

[2022-02-01 13:29] gavinwye commented on #121756
@yctercero

I replied in Slack to this but just adding the reply here for completeness.

I think Frank is talking about the Exceptions tab on the Rules page. I think it's okay to leave them as Exceptions

[2022-02-01 13:37] deepikakeshav-qasource commented on #121758
Hi @MadameSheema ,

We have validated this issue on **8.0.0 RC2 BC4** and observed that Text color has been changed to `#343741` . please let us know if it is expected

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/151977913-3feb14c4-f956-4af8-bdf5-5d6057daceab.png)

![image](https://user-images.githubuser

[2022-02-01 13:39] miltonhultgren commented on #122338
@ravikesarwani Do you have any input on this?

Disabling the sorting on the status would be minimal work but it might be a very useful thing to sort on for large deployments?

On the other hand, fixing things might require more serious work to look into how the data is compiled to only apply this sorting and pagination at the end.

[2022-02-01 13:40] nickpeihl opened #124226 "[Maps] Unable to apply styles to vector tiles"
**Kibana version:**
main

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
Dynamic styling does not work on layers styled as vector tiles.

**Steps to reproduce:**
1. Add sample data flights
2. Zoom to level 8 or above to see the Flights layer
3. The circles all appear black even though the color is defined

**Screenshots (if relevant):**

[2022-02-01 13:43] #121707 closed

[2022-02-01 13:49] Dosant commented on #124219
@flash1293, could it be that Lens editor re-runs the search in case the previous search tool a long time to load (~1 minute)?

Maybe this code is executed when we got search results that took a while to load and lens triggers refetch?

https://github.com/elastic/kibana/blob/d862d9bf8f545226452811dd7f5225913ab8f9db/x-pack/plugins/lens/public/state_management/context_middleware/index.ts#L64-L71

[2022-02-01 13:53] semd commented on #122205
Hello @muskangulati-qasource ,

As commented [above](https://github.com/elastic/kibana/issues/122205#issuecomment-1022169967), by now we just added a tooltip in the OS header to help the user understand what we are showing.

![os_tooltip](https://user-images.githubusercontent.com/17747913/150822333-b719b076-0310-49cb-9d92-e6226928a106.png)

[2022-02-01 13:55] mistic commented on #114215
This test looks flaky and keeps failing. Skipping for now.

main: 021285e

[2022-02-01 13:55] mistic commented on #112900
This test looks flaky and keeps failing. Skipping for now.

main: 021285e

[2022-02-01 13:56] flash1293 commented on #124219
@Dosant good find - @lizozom can you reproduce  this issue with absolute time ranges as well (no usage of “now”)?

[2022-02-01 13:57] jgowdyelastic commented on #120934
This error is coming from the data view service, it is caused by how we were loading all data views on page load.
The data view service attempts to load all fields for all requested data views, and if an index no longer exists, this error is displayed.
ML's data view loading was changed for 8.0.0 by [this PR](https://github.com/elastic/kibana/pull/116455)

I do not believe we need to fix this for

[2022-02-01 13:58] #120934 closed

[2022-02-01 14:01] juliaElastic commented on #108456
@dikshachauhan-qasource @amolnater-qasource FYI this feature has been merged for 8.1, it might impact some of your existing manual testcases

[2022-02-01 14:01] philippkahr opened #124227 "[Maps][Vector Tiles] support join operator like in the `limit to 10.000` option"
**Describe the feature:**

I would like to use the join operator to display additional information through other indexes based on a join query. This is supported when selecting the `limit to 10.000` option but not with vector tiles.

Vector tiles drastically improve performance for maps and thus supporting join operations make sense to give the user a quicker ability to display the data.

[2022-02-01 14:06] elasticmachine commented on #124227
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-01 14:06] Dosant commented on #124219
@flash1293, aboslute time range works. Search takes quite a while to complete. But Lens doesn't trigger refetch when it completes.

[2022-02-01 14:07] #108730 closed

[2022-02-01 14:09] mikecote commented on #85929
Closing in favour of https://github.com/elastic/kibana/issues/119653.

[2022-02-01 14:09] #85929 closed

[2022-02-01 14:11] elasticmachine commented on #124219
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-01 14:14] philippkahr opened #124234 "[Maps][File upload] Give the option to reduce the complexity of the shape (round decimal places of lat & long)"
**Describe the feature:**

When uploading a GEOJSON through Kibana give the option to decide how much detail should be stored.

E.g. the [districts file of Rwanda](https://github.com/elastic/kibana/files/7979035/districts.txt) is around 8mb of size and contains the districts boundaries with a granularity level `29.989264120524201, -1.86680163811882`.

I would like to have a button where I can sele

[2022-02-01 14:15] miltonhultgren opened #124235 "[Stack Monitoring] Cells with missing values have too large text"
Compared to cells with values, the text size in the cells for missing values are too big, causing the table rows to expand but also looking weird.

<img width="483" alt="Screenshot 2022-01-31 at 14 19 51" src="https://user-images.githubusercontent.com/2564140/151984412-539cab23-9190-4515-8a81-500b6ad4f65f.png">

[2022-02-01 14:15] elasticmachine commented on #124235
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-01 14:28] Dosant commented on #124219
Maybe while fixing this, this would be a good opportunity for lens to add a `shard_delay` agg, so that it would be easier to test long-running searches in Lens editor. This would also help with functional test

https://github.com/elastic/kibana/issues/108201

[2022-02-01 14:28] philippkahr opened #124240 "[Fleet] Agent health, integration update availability alerts"
**Describe the feature:**

TLDR;
1. Create default rules for Fleet
2. Give us the option to access the agent health
3. Give us the option to access the integration policies, updates and information

Within the Fleet UI you can sort, select and search for the agents and also see how many are unhealthy, healthy, or have and have not responded within x minutes.

Within the Stack Monitoring for the Be

[2022-02-01 14:36] juliaElastic commented on #116711
I tested with an agent v7.14.2 and upgraded to v7.16.2, but I still can't reproduce the filtering bug.
@elastic/fleet If anyone has some spare time, could one of you try to reproduce?

[2022-02-01 14:37] #123356 closed

[2022-02-01 14:37] philippkahr opened #124242 "[Stack Management][Rules] Make `interval` sortable"
**Describe the feature:**
I can click on any column and sort it, except for interval. It is just not clickable 7.16.3.

<img width="1687" alt="Screenshot 2022-02-01 at 15 37 06" src="https://user-images.githubusercontent.com/12175559/151988544-f8a2245a-9779-49bb-9d70-94371095064f.png">

**Describe a specific use case for the feature:**

[2022-02-01 14:39] dominiqueclarke opened #124243 "[Uptime] [Synthetics Integration] Add Elastic Synthetics package version 0.9.0 to bundled packages"
Pending https://github.com/elastic/kibana/pull/122297, Elastic Synthetics version `0.9.0` will need to be added to the bundled packages for stack version `8.1.0`

The process for manually bundling the package is included in https://github.com/elastic/kibana/blob/f1dd47dd91660b84ff434bda40a8e07a1b65b2c4/x-pack/plugins/fleet/server/bundled_packages/README.md

[2022-02-01 14:40] karanverma-qasource commented on #124156
Hi @MadameSheema ,

We have validated above issue on **8.0.0-rc2 BC4**, Please find below observations:

**Build Info**
[code]
**Screenshots:**

` .siem-signals-*`

![image](https://user-images.githubusercontent.com/91867110/151987140-53b25b3e-e087-457b-bd1d-da6a342db394.png)

**Rule Preview Results**

![image](https://user-images.githubusercontent.com/91867110/151987615-9950c079-ff0b-4760-a743-73

[2022-02-01 14:43] michaelolo24 commented on #118844
Changes made for this fix may also help with this as well: https://github.com/elastic/kibana/issues/115341

[2022-02-01 14:43] smith opened #124246 "A11y tests for Observability plugin"
Use the `testAppSnapshot` function from the `a11y` functional test service to run accessibility tests in end to end tests.

Meta issue: elastic/kibana#51456.

[2022-02-01 14:44] elasticmachine commented on #124246
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-02-01 14:45] smith opened #124247 "A11y tests for infra plugin"
Use the `testAppSnapshot` function from the `a11y` functional test service to run accessibility tests in end to end tests.

Meta issue: elastic/kibana#51456.

[2022-02-01 14:45] ghudgins commented on #120128
question: should this setting be on by default?

[2022-02-01 14:45] jloleysens commented on #124024
It will be a bit tricky to say without seeing the server logs for the exact error message. One thing I can think to check is setting max size bytes to 100+MB could be causing issues. What happens when it is left as default?

[2022-02-01 14:46] elasticmachine commented on #124247
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-01 14:47] smith opened #124248 "A11y tests for monitoring plugin"
Use the `testAppSnapshot` function from the `a11y` functional test service to run accessibility tests in end to end tests.

Meta issue: elastic/kibana#51456.

The meta issue lists the following under Stack Monitoring:

* [ ] Elasticsearch
* [ ] Kibana
* [ ] Logstash
* [ ] Beats
* [ ] apm

[2022-02-01 14:48] kpollich commented on #124243
Hey @dominiqueclarke thanks for filing this. I'm in the process of finalizing the linked PR and this should be included as of this morning. https://github.com/elastic/kibana/pull/122297/files#diff-46479e16922739d6d2baf2db7596f81e5a5c31c865b7cfa37615efbd83097a6bR42-R44

[2022-02-01 14:48] jgowdyelastic opened #124249 "[ML] [Meta] Spaces follow up tasks"
Tasks carried over from #82415

- [ ] Update kibana capabilities to include license checks on initialisation.
  - [ ]  re-enable jobsSummary and mlAnomalySearch security checks, which were disabled due to alerting limitations (#64588)
- [ ] Change all integrated plugins so they are using our functions or endpoints
  - [ ] All endpoint calls are replaced with calls to a shared function. This is low

[2022-02-01 14:48] elasticmachine commented on #124249
Pinging @elastic/ml-ui (:ml)

[2022-02-01 14:48] #82415 closed

[2022-02-01 14:49] elasticmachine commented on #124248
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-01 14:52] pmuellr opened #124250 "[ResponseOps] better documentation on proxyHeaders config"
**Kibana version:** 8.0.0

The [documentation of the action config `xpack.actions.proxyHeaders`](https://www.elastic.co/guide/en/kibana/current/alert-action-settings-kb.html#action-settings) is a little misleading.  When looking at the code, it's only used in a few situations:

- https proxy, but not http proxy for all connectors but email
- https and http proxy for email

I don't think this is ne

[2022-02-01 14:52] elasticmachine commented on #124250
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-01 14:53] miltonhultgren opened #124251 "[Logs UI] Improve UX for Data View selection in Settings page"
The combo-box used for selecting the Data View to use for the source configuration gives the hint that it's possible to select multiple values which is not possible. We should consider using the `singleSelection={{ asPlainText: true }}` configuration to remove this confusion.

In addition, it would be useful to include text that informs the user that the recommended approach for targeting multiple

[2022-02-01 14:53] elasticmachine commented on #124251
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-01 14:57] kpollich opened #124254 "[Fleet] Add functional/integration tests around bundled packages"
We need to add functional test coverage for bundled packages

- Installation of bundled packages via the API - e.g. ensuring that our fallback logic to packages on disk is working properly in an API integration test
- Installation of bundled packages via the API followed by an upgrade via the registry
- Installation of bundled packages via the API followed by an upgrade via a newer bundled package

[2022-02-01 14:57] elasticmachine commented on #124254
Pinging @elastic/fleet (Team:Fleet)

[2022-02-01 15:29] afharo commented on #123144
@lizozom I was going to ask the same since we covered most of it. I'll go ahead and close it. Feel free to reopen if needed.

[2022-02-01 15:29] #123144 closed

[2022-02-01 15:37] ph commented on #124149
@ruflin I am probably missing context what is the impact you foresee?

Permissions on the datastream? The permission are generated by Fleet and Fleet-Server only apply them, if more permission or different permission are needed we would just apply them.

Does the Agent policy yml format changes?

[2022-02-01 15:39] ThomasAusweger opened #124261 "Kibana draws the gridlines at some real numbers in between for small int values"
**Kibana version:** v 7.16.2

**Elasticsearch version:** v 7.16.2

**Server OS version:** Linux

**Browser version:** Microsoft Edge v 97.0.1072.76

**Browser OS version:** WIN 10

**Describe the bug:**

If you have a Lens with small integer values 0-3 with decimals set to 0.
Kibana draws the left axis gridlines at some real numbers in between and not at integer values as expected.

**Steps to rep

[2022-02-01 15:54] ghudgins opened #124263 "[Pie] filters generate different slice order in agg-based vis on elastic-charts"
**Kibana version:** 7.16

**Elasticsearch version:** 7.16

**Server OS version:** Any

**Browser version:** Chromium Edge

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**

Best described in this [discuss post](https://discuss.elastic.co/t/kibana-7-16-sorts-split-slices-in-alphabetical-order-and-not-according-

[2022-02-01 15:54] elasticmachine commented on #124263
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-01 15:56] flash1293 commented on #124263
@Kunzetsov If I'm not mistaken your current renderer unification work will fix this issue right?

[2022-02-01 15:57] elasticmachine commented on #124240
Pinging @elastic/fleet (Team:Fleet)

[2022-02-01 16:00] chrisronline commented on #122362
I'm going to close this out as we've made this decision

[2022-02-01 16:00] #122362 closed

[2022-02-01 16:01] gbamparop opened #124265 "[APM] Add a link to the docs in the tail sampling policies field in APM integration"
Depends on https://github.com/elastic/observability-docs/issues/916

Configuration options for tail-based sampling were added to the APM Integration by https://github.com/elastic/kibana/pull/124025.

A link to the docs can also be added in the sampling policies field.

[2022-02-01 16:01] elasticmachine commented on #124265
Pinging @elastic/apm-ui (Team:apm)

[2022-02-01 16:01] neptunian commented on #119658
Thanks @jsoriano .  Yes, that would be our only reason.   In #122297, it looks like packages that are being shipped with Kibana are being automatically installed during Kibana setup.  Is this going to change to allow packages to be shipped that aren't automatically installed?   Also, are our packages considered "stack-aligned".  As in we don't need the ability to upgrade our packages out-of-band f

[2022-02-01 16:07] EricDavisX commented on #58244
I may look into this at some point, based on prioritization among Response Ops tasks.  I'd like to know about the private repo if you can ping me @LeeDr (not urgent).  I suspect the elastic/machine-learning-qa repo may be a potential home for the framework needs as well, the MLR-QA team is starting to build out some Rules/Alerts/Cases/Connectors data.  I'll note this issue as part of my info gathe

[2022-02-01 16:08] ThomThomson commented on #123857
I will start looking into a backport today - hopefully it's practical. Will update here.

[2022-02-01 16:11] Kunzetsov commented on #124263
@flash1293, yes.
![Screenshot 2022-02-01 at 18 07 49](https://user-images.githubusercontent.com/22456368/152005113-381ea057-44b4-42ce-96d8-5e84ba39e002.png)

![Screenshot 2022-02-01 at 18 10 40](https://user-images.githubusercontent.com/22456368/152005646-0822ca8f-f118-4046-bbbd-ebe2b5f3c545.png)

[2022-02-01 16:11] jsoriano commented on #122973
Updated description after internal discussion about how to map prerelease tags to UI labels as replacement of current "Beta"/"Experimental" ones.

The recommendation would be to use the following convention to replace current labels with the following mappings:
  * `0.x` versions -> "Technical Preview"
  * `x.x.x-beta[\.\d]*` -> "Beta"
  * `x.x.x-rc[\.\d]*` -> "Release Candidate"
  * `x.x.x-previe

[2022-02-01 16:14] nreese commented on #124226
This issue is a regression caused by the switch to elasticsearch vector tiles and effects 8.0 and 8.1. Luckily, the issue does not effect all dynamic styling, but only a very small subset where an existing layer is using vector tiles and style "Data mapping" setting "Get min and max from data set" is unchecked. The reason for the regression is that Kibana vector tiles included hit property ranges

[2022-02-01 16:48] nchaulet commented on #116711
I think we can close that issue this was fixed in Fleet server sometime ago https://github.com/elastic/fleet-server/pull/827 the `agent.version` was not correctly populated

[2022-02-01 16:48] #116711 closed

[2022-02-01 16:49] kpollich opened #124273 "[Fleet] Verify bundled packages via checksum"
In https://github.com/elastic/kibana/pull/122297 we initially introduced a checksum for Fleet's bundled packages, but this proved to be a non-starter due to the nature of EPR builds being likely to break the checksum. When a package archive is regenerated during EPR's build, its zip archives metadata around things like "last modified" timestamps, etc are altered resulting in a broken checksum when

[2022-02-01 16:49] elasticmachine commented on #124273
Pinging @elastic/fleet (Team:Fleet)

[2022-02-01 16:51] osmanis commented on #124186
@clintandrewhall @alexfrancoeur Here's the [updated list](https://docs.google.com/document/d/1-fE89LWcZPtSlw-CEGRgLONcdLocYKv0ZbmMtftPIyQ/edit#heading=h.tdgnjrt2e4n) of entry points for chat in 8.1. I have a review scheduled for the Ent. Search pages to ensure the team is fully aware of the proposal.

[2022-02-01 16:51] nreese commented on #119356
maps imports fixed with https://github.com/elastic/kibana/pull/124091

[2022-02-01 16:52] fkanout commented on #123947
### Sum up
The View in App Url is constructed in the on-the-fly in the Frontend-side. And the Action message in the flyout is built on the server-side.
Export and share (in the `common` folder) the functions in each App that construct the `link` filed. so it's it accessible to both frontend and backend
Note: Could have a challenge building the URL on the server-side as it relies on some dynamic st

[2022-02-01 16:52] majagrubic opened #124274 "[META] Take Ownership of Labs"
Shared-UX team wants to take ownership of Labs, so they have a detailed owner and can be used  across apps.

** Steps **
- [ ]

[2022-02-01 16:53] lizozom commented on #124219
@flash1293 @Dosant I think I have [another vis](https://logging.us-east-1.aws.elastic-cloud.com/app/lens#/edit/6e875190-837f-11ec-b8da-9b783f4a5673?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2022-01-31T00:00:00.000Z',to:'2022-01-31T02:00:00.000Z'))) where it happens with an absolute timerange.
FYI

[2022-02-01 16:55] Dosant commented on #124219
In this case, it doesn't look like you even got to the first result? (no chart displayed)
So maybe it is just taking its time to complete in elasticsearch?

[2022-02-01 16:56] jportner commented on #91285
It's been a while since we've updated this issue. Here's the current reality:

* :green_circle: AFAIK we already generate an audit log event when user logs in
   - Yep
* :green_circle: I believe we already clearly indicate that session has been terminated either with the message on the Login Selector/Login Form or via dedidated Logged Out page if Selector isn't enabled
   - Note: we updated/clarif

[2022-02-01 16:58] lizozom commented on #124219
Not sure, but the amount of requests is growing larger with time

[2022-02-01 17:30] eyalkraft commented on #124149
As far as I understand it shouldn't. This issue is only about saved objects that are created in Kibana (they are not  planned to be sent to the agent as-is).

[2022-02-01 17:35] ph commented on #124149
@eyalkraft Sound good, by default Agent shouldn't do any transformation on incoming data, if you have some proposal I am happy to take a look.

[2022-02-01 17:39] stephmilovic commented on #122117
there will be no more 8.0 releases though, 8.1 even for bug fixes at this point

[2022-02-01 17:40] #100185 closed

[2022-02-01 17:41] #123846 closed

[2022-02-01 17:42] neptunian commented on #123844
@lizozom Yes the filter should improve performance.  Will let you know when its merged.

[2022-02-01 17:49] stacey-gammon commented on #73521
This is done! https://github.com/elastic/kibana/blob/main/api_docs/plugin_directory.mdx

[2022-02-01 17:49] #73521 closed

[2022-02-01 17:51] stacey-gammon commented on #84352
https://github.com/elastic/kibana/issues/100363 is closed, so can this be closed now @mattkime ?

[2022-02-01 17:55] neptunian commented on #123844
@lizozom The change to the query was merged!

[2022-02-01 17:56] yctercero commented on #121756
@MadameSheema @deepikakeshav-qasource sorry for the confusion. This went in too late for 8.0 so was only merged into master for 8.1

[2022-02-01 18:03] ghudgins opened #124279 "[Lens] Line chart styling controls"
**Describe the feature:**
Control dot size, show/hide dots, line width, line stroke

**Describe a specific use case for the feature:**
**When** My data has missing results in time interval buckets
**I need** to override the default styling with specific dot size, stroke, and line width
**So I can** achieve the continuous look and feel even when my data is missing buckets

[Related discuss post](ht

[2022-02-01 18:04] afharo opened #124280 "[Docs][Saved Objects] Add section explaining scoped vs. system clients"
In https://github.com/elastic/kibana/blob/main/dev_docs/key_concepts/saved_objects.mdx we cover a high-level overview of what Saved Objects are and how they work. However, we are missing an important part about the difference in visibility scoped clients have compared to the Kibana System internal client. We should add a section to talk about it.

Additionally, we should mention the default "curre

[2022-02-01 18:04] elasticmachine commented on #124280
Pinging @elastic/kibana-core (Team:Core)

[2022-02-01 18:13] elasticmachine commented on #119240
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-01 18:13] spong commented on #119598
Discussed https://github.com/elastic/kibana/pull/124198 with team, holding for 8.2 to further iterate on implementation and UX.

[2022-02-01 18:13] spong commented on #119599
Discussed https://github.com/elastic/kibana/pull/124198 with team, holding for 8.2 to further iterate on implementation and UX.

[2022-02-01 18:13] spong commented on #101014
Discussed https://github.com/elastic/kibana/pull/124198 with team, holding for 8.2 to further iterate on implementation and UX.

[2022-02-01 18:14] spong commented on #120668
Discussed https://github.com/elastic/kibana/pull/124198 with team, holding for 8.2 to further iterate on implementation and UX.

[2022-02-01 18:17] klacabane commented on #120825
Let's close this once https://github.com/elastic/kibana/issues/123785 is fixed and move to a clean epic for the followup testing

[2022-02-01 18:19] stacey-gammon commented on #23534
Since Canvas is GA now, I don't see any reason to track the remaining items with a meta ticket. Perhaps this can be closed.  @crob611 ?

[2022-02-01 18:20] ghudgins commented on #87562
We have settled on an approach. Pasting it here and resolving this issue

To store these, a saved object for the annotation group is stored along with one annotation saved object per manual and query based annotation.  A group can either be stored as persistable state within another saved object like a Lens visualization (migration, extraction and injection helper functions provided by the event_a

[2022-02-01 18:20] #87562 closed

[2022-02-01 18:27] TinaHeiligers commented on #124280
The relevant information we need to add to the [section](https://docs.elastic.dev/kibana-dev-docs/key-concepts/saved-objects-intro) about authentication methods is:
By default, the saved objects client uses the logged client auth. if you need to bypass that and use the kibana system user, then you should instantiate a new saved object client as:
[code]
This will query all saved objects, no matter

[2022-02-01 18:56] flash1293 commented on #124173
OK, I found the issue, preparing fix

[2022-02-01 18:59] jen-huang commented on #108456
Thanks for pushing this over the finish line @juliaElastic. Can we close this and track pending items in another issue, if needed?

[2022-02-01 19:18] joshdover commented on #124273
I think we may want to consider this a bug since it could lead to very wide impact issues if we ship a corrupt bundled package to all Elastic users. It could also have impact on testing snapshots or BCs. Do we know if a _corrupted_ download would lead to an obvious error in Fleet's setup process?