[2021-05-10 10:25] deepikakeshav-qasource commented on #99611
@manishgupta-qasource Please review!!

[2021-05-10 10:31] deepikakeshav-qasource commented on #86634
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **still occurring**. Timelines text is displaying instead of "timeline templates" text when prebuilt rules are installed but Timeline templates is not installed.

Build Details:
[code]

**Screenshot:**
![timeline_template](https://user-images.githubusercontent.com/61860752/117623572-969a4900-b191-11

[2021-05-10 10:42] paulb-elastic commented on #98116
@justinkambic did you have a chance to take a look at this?

[2021-05-10 10:42] timroes commented on #99471
@Dosant I have actually seen the leakage and debugged it. That `unobserve` you're referring to is called in `componentDidUpdate`, but there is simply no `componentWillUnmount` present that will unobserve and destroy it. I validated that adding an unobserve and destroy in the `componentWillUnmount` actually resolved that described memory leak.

[2021-05-10 11:24] joshdover opened #99614 "Add support for multiple nav links for a single application"
The Security Solution application today currently registers separate "applications" with Core that all mount the same React application in order to have separate links in the primary navigation that all link into the same UI:

![](https://user-images.githubusercontent.com/52965952/109715901-345e1000-7b72-11eb-9dc1-5d0fe0153377.png)

The multiple app registrations are done here: https://github.com/

[2021-05-10 11:24] elasticmachine commented on #99614
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 11:25] Ftelf commented on #55997
Because of this problem we are unable to open any URLs with log

![image](https://user-images.githubusercontent.com/12624859/117652166-21c80e80-b193-11eb-90cf-87963731e31f.png)

[2021-05-10 11:35] manishgupta-qasource commented on #99611
Reviewed & Assigend to @MadameSheema

[2021-05-10 11:41] stratoula commented on #99244
Yes, we decided to have it hidden for the new datatable visualizations.
The export functionality from the datatable is more powerful than the inspector one (this is the reason that you can export all the columns as they are calculated on the frontend side). We don't plan to extend our inspector to have this information so I will close this issue.

[2021-05-10 11:41] #99244 closed

[2021-05-10 11:59] ymao1 commented on #50266
Ok! Is there an issue for updating the `_id` to be the `rule_id` during migration that I can track? For now, I will update the import issue to check for and skip security rules on import and show a warning message in this case.

[2021-05-10 11:59] patrykkopycinski commented on #99505
Hey @legrego, would you mind reviewing those changes? https://github.com/elastic/kibana/pull/99591

[2021-05-10 12:00] ymao1 commented on #94152
Based on [this comment](https://github.com/elastic/kibana/issues/50266#issuecomment-833880797), we should check for the existence of security rules (producer: `siem`) on import and skip importing those rules, with a message about it.

[2021-05-10 12:05] amolnater-qasource opened #99618 "[Fleet UI]: Flash of logs is displayed before complete loading on navigating to Agent logs page."
**Kibana version:** 7.13.0 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 BC-4 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab> Agent details> Logs tab.
3. Observe flash of logs displayed before complete loading of Logs tab.

**Expected

[2021-05-10 12:08] elasticmachine commented on #91821
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-10 12:09] manishgupta-qasource commented on #99618
Reviewed & Assigned to @EricDavisX

[2021-05-10 12:13] #99441 closed

[2021-05-10 12:16] elasticmachine commented on #90928
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-10 12:17] elasticmachine commented on #98974
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-10 12:19] elasticmachine commented on #98974
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-10 12:20] joshdover commented on #99328
What's primary driving this as a priority at this time is our inability to correlate slow & expensive queries in Elasticsearch to the underlying feature or visualization in Kibana. I'm concerned that finding slow ES queries with APM data only from Kibana may be hard, at least with the default UI. But I think we would actually have all the raw data we need. To find the slowest ES queries coming fro

[2021-05-10 12:21] stratoula opened #99622 "[TSVB] Update the `Data timerange mode` setting to the default value for our sample viz"
**Describe the feature:**

On 7.13 we decided to change the default value of the `Data timerange mode` from `Last value` to `entire timerange`.
Our sample visualizations though are still using the `Last value` option. They should be updated to use the `entire timerange`.

![image](https://user-images.githubusercontent.com/17003240/117657466-411a6800-b1a2-11eb-9a15-b762e2fc174f.png)

[2021-05-10 12:21] elasticmachine commented on #99622
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-10 12:21] elasticmachine commented on #99610
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-10 12:22] MadameSheema commented on #99610
@rylnd @ecezalp can you please take a look at this? Thanks :)

[2021-05-10 12:22] elasticmachine commented on #99611
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-10 12:30] lizozom commented on #94912
The `search:timeout` uiSetting isn't particularly meaningful since the introduction of search sessions.
However, I don't see any urgency in it for now.
Keeping this around as backlog.

[2021-05-10 12:30] dgieselaar commented on #99328
You can also use `span.subtype:elasticsearch` (IIRC), `span.destination.service.resource` is for service maps, and its value might be node-specific in the future.

There is none, I think: https://github.com/elastic/apm-server/issues/4586.

I don't think it can select spans to sample based on duration, but I'm still trying to figure out whether that might be possible in the future.

[2021-05-10 12:51] nchaulet commented on #92636
@fearful-symmetry Do we still have to support that?

[2021-05-10 13:05] legrego commented on #99505
@patrykkopycinski I would love to - thanks for putting a PR up so quickly!

[2021-05-10 13:06] mostlyjason commented on #91454
Why would there be a policy with no enrollment token? Furthermore, I thought we generated the default policy automatically so why not generate the enrollment token too? Rather than patching the UI, why not patch this in the API?

[2021-05-10 13:14] slhck opened #99624 "Migration from 7.12.0 to 7.12.1 with stopped Elasticsearch botches migration"
**Kibana version:** 7.12.1

**Elasticsearch version:** 7.12.1

**Server OS version:** Linux

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** Docker image

**Describe the bug:**

I have a docker-compose project (similar to [this](https://github.com/deviantony/docker-elk)) which uses images for Kibana and Elasticsearch.

[2021-05-10 13:16] #50674 closed

[2021-05-10 13:17] ppisljar commented on #52493
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:17] #52493 closed

[2021-05-10 13:17] alisonelizabeth opened #99625 "[Core deprecations service] Add support for deprecation title"
It's come up a few times that the title of a Kibana deprecation isn't very helpful. Most recently from the docs team here: https://github.com/elastic/kibana/pull/97159#discussion_r626921734. The title is currently derived in Upgrade Assistant using the `domainId`, e.g., "''domain_id' is using a deprecated feature".

![9-0-Upgrade-Assistant-Elastic](https://user-images.githubusercontent.com/5226211

[2021-05-10 13:17] elasticmachine commented on #99625
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 13:19] ppisljar commented on #52746
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:19] #52746 closed

[2021-05-10 13:20] ppisljar commented on #54707
closing this as it seems the majority of items have been completed

[2021-05-10 13:20] #54707 closed

[2021-05-10 13:22] elasticmachine commented on #55725
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-10 13:25] ppisljar commented on #56881
closing this as it seems the majority of tasks have been completed

[2021-05-10 13:25] mandeepkaur-qasource opened #99626 "[Security Solution][Question]Correct search results are not displayed for partial keyword search under 'Table' tab on Alert Details flyout"
**Description:**
Correct search results are not displayed for partial keyword search under 'Table' tab on Alert Details flyout

**Build Details:**
Version: 7.13.0 BC4
Build: 40749
Commit: 5a6bad454ffe263aafed54cbd3f764253694bf37
Artifacts: https://staging.elastic.co/7.13.0-5c4bc719/summary-7.13.0.html

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint secur

[2021-05-10 13:25] elasticmachine commented on #99626
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-10 13:28] ppisljar commented on #58032
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:28] #58032 closed

[2021-05-10 13:29] ppisljar commented on #58093
seems this was addressed

[2021-05-10 13:29] #58093 closed

[2021-05-10 13:29] ppisljar commented on #58482
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:29] #58482 closed

[2021-05-10 13:31] elasticmachine commented on #59598
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-10 13:33] ppisljar commented on #60293
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:33] #60293 closed

[2021-05-10 13:34] ppisljar commented on #60295
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:34] #60295 closed

[2021-05-10 13:34] kanika-singla opened #99628 "Kibana: Array Values are by default sorting instead of printing as is."
**Kibana version:** v7

**Original install method (e.g. download page, yum, from source, etc.):** I am using company infrastructure deployment.

**Describe the bug:**  I am trying to show the field which is nested array (nestedResults), on Kibana (Lens) it is sorting the array values when displaying it on the dashboard (Lens visualization). I am breaking the nested array on the unique field values

[2021-05-10 13:35] ppisljar commented on #62815
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:35] #62815 closed

[2021-05-10 13:36] ppisljar commented on #62950
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:36] #62950 closed

[2021-05-10 13:41] HonzaKral commented on #82751
@formgeist thank you, much appreciated! I will watch the issue you created. I wasn't sure where the UX apps falls so I followed the data to APM and found this.

[2021-05-10 13:43] ppisljar commented on #66239
closing this due to inactivity, please re-open if its still relevant

[2021-05-10 13:43] #66239 closed

[2021-05-10 13:54] legrego opened #99631 "Labs should not blindly clear localStorage or sessionStorage"
The new Labs feature relies on both `localStorage` and `sessionStorage` for persistence.

There is a `reset` utility within the Labs feature which clears both `localStorage` and `sessionStorage` for all of Kibana. While this does the job of resetting Labs preferences, it also clobbers any and all state that the rest of Kibana is using:

https://github.com/elastic/kibana/blob/e2933b5141be31391f0147

[2021-05-10 13:54] elasticmachine commented on #99631
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-10 13:57] #74723 closed

[2021-05-10 14:11] jen-huang commented on #91454
@mostlyjason The tokens can be manually invalidated (we do generate them automatically).

[2021-05-10 14:15] #96110 closed

[2021-05-10 14:35] yuliacech commented on #99322
After a discussion with ES UI team, we would like to add a folder `test` to `es_ui_shared` plugin to keep EUI component mocks used in ES UI plugin tests. New tests will then import existing mocks, so no need to always copy paste mocks for every plugin.

[2021-05-10 14:35] afharo opened #99644 "[i18n] `core.euiFilterButton.filterBadge` is setting hardcoded values"
The i18n label `core.euiFilterButton.filterBadge` receives a value `filterCountLabel` that is calculated depending on other value:

https://github.com/elastic/kibana/blob/5f618da802228025b8225ff36222d02c95708230/src/core/public/i18n/i18n_eui_mapping.tsx#L503-L507

The problem is that the hardcoded values are not localized.

I think we can fix that by referencing a new `i18n.translate('core.euiFilt

[2021-05-10 14:35] elasticmachine commented on #99644
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-05-10 14:35] elasticmachine commented on #99644
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 14:35] elasticmachine commented on #99644
Pinging @elastic/eui-design (EUI)

[2021-05-10 14:39] elasticmachine commented on #99628
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-10 14:46] flash1293 commented on #99628
This is a limitation of how the top hits agg config works today. It's happening because we are fetching these from the docvalues which seem to not preserve the original order in Elasticsearch.

[2021-05-10 14:46] elasticmachine commented on #99628
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-10 14:53] mostlyjason commented on #95445
@amolnater-qasource for the scenario of a cloud deployment with existing agents, I see a message saying you are blocked. You can test this scenario by enrolling agents into Kibana Fleet in 7.12. You can then upgrade the deployment to 7.13 and you should see the message. Does that unblock you?

Getting the pre-installed fleet server on cloud is expected. I have a separate issue to improve the landi

[2021-05-10 15:02] flash1293 commented on #59435
@richcollier Answered on the discuss post, this is related but your case is actually solvable.

[2021-05-10 15:04] MadameSheema commented on #96380
@deepikakeshav-qasource can you please check the fix of this issue on the current BC? Thanks :)

[2021-05-10 15:07] elasticmachine commented on #99150
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-10 15:09] mostlyjason commented on #76844
@scottdfedorov yes that's true you can add custom YAML configuration in the custom logs configuration. I'd love to learn more about your use case and how you plan to use this feature. Do you want this capability to be available for other integrations? Do you just need custom fields or processors as well? I'd suggest opening a separate issue and mentioning me on it.

I want to clarify the topic of

[2021-05-10 15:10] ppisljar commented on #99021
also they have similar limitations websockets do, meaning proxies need special configuration so:
- this would be a breaking change
- it requires special implementation in cloud due to them using custom proxy implementation

[2021-05-10 15:11] MadameSheema commented on #98690
Closing it since was fixed by @FrankHassanabad (Thanks Frank :) )

[2021-05-10 15:11] elasticmachine commented on #98544
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-10 15:14] Sandy381 opened #99645 "Static lookup empty field value not showing in Kibana"
**Kibana version:**7.10
**Elasticsearch version:**7.10

**Server OS version:**Linux 20.04

**Browser version:**Google Chrome

**Browser OS version:**Google Chrome 90.0.4430.93

**Original install method (e.g. download page, yum, from source, etc.):**Elastic download page

**Describe the bug:**Static lookup empty field value not showing in Kibana

**Steps to reproduce:**
1. Go to index pattern, sel

[2021-05-10 15:20] elasticmachine commented on #84871
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-10 15:20] MadameSheema commented on #89596
@IgorGuz2000 can you please reply Xavier's question? Thanks :)

[2021-05-10 15:23] elasticmachine commented on #87095
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-10 15:30] MadameSheema commented on #81283
@karanbirsingh-qasource can you please try to reproduce this on the current BC? Thanks :)

[2021-05-10 15:31] lizozom commented on #99515
I think that the `common` `export *` are intentional, as we expose the explicit APIs from `public` and `server`. Isn't it so?

[2021-05-10 15:31] alisonelizabeth opened #99647 "[Ingest Node Pipelines] Wrong default parameter for CSV processor"
Per the [CSV processor docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/registered-domain-processor.html), the `ignore_missing` parameter should be `true` by default.

If you create a CSV processor via the UI, the "Ignore missing" switch is toggled off (`false`) by default.

![Ingest-Node-Pipelines-Elastic](https://user-images.githubusercontent.com/5226211/117684580-22f13f80-b1

[2021-05-10 15:31] elasticmachine commented on #99647
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-05-10 15:32] MadameSheema commented on #81145
@MikePaquette can we consider this bug valid at this point? Thanks

[2021-05-10 15:33] Dosant commented on #99515
@lizozom, afaik nothing blocks other's importing from `common`. Also, they have to import from `common` if they import into their `common`. So looks export from `common` still should be limited.

[2021-05-10 15:39] MadameSheema commented on #73635
@karanbirsingh-qasource can you please try to reproduce it on the current BC?

[2021-05-10 15:40] fearful-symmetry commented on #92636
IIRC, it looks like the PR was dropped after I couldn't get it to work. @mtojek / @ruflin did we ever investigate further on how to actually change the dataset field?

[2021-05-10 15:40] timroes commented on #62950
@ThomThomson do we have a separate issue for catching proper telemetry from embedded visualizations (so we can collect the same telemetry that we do on visualization library) besides this one? Or was this the one used for tracking that effort?

[2021-05-10 15:56] elasticmachine commented on #99645
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-10 15:57] elasticmachine commented on #99624
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 15:58] elasticmachine commented on #99590
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-10 16:00] elasticmachine commented on #99567
Pinging @elastic/fleet (Team:Fleet)

[2021-05-10 16:02] elasticmachine commented on #99460
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-10 16:02] IgorGuz2000 commented on #89596
password: MVwLdNqp2kCs2WWp6FGWTaqb

[2021-05-10 16:03] elasticmachine commented on #98597
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-10 16:03] EricDavisX commented on #99649
@jen-huang I moved this from "integrations' repo, believe it is on Fleet team Kibana side to review.  I don't think we've changed the spec here, unless I'm out of date.  It is interesting... and may end up as a 'good thing' that it is doing?  Tagging @mostlyjason to confirm the spec / intention around it too, we may just need to update test steps and documentation?

[2021-05-10 16:07] elasticmachine commented on #98792
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-10 16:27] justinkambic commented on #98116
@christophercutajar are you specifying a window for monitor availability when defining your alerts? If so, that's likely the cause of the problem.

![image](https://user-images.githubusercontent.com/18429259/117691733-3ce25080-b18a-11eb-87ea-b91ea0666059.png)

If this window is for a long time, perhaps the default of `30 days`, the monitor's documents are going to keep appearing when the alert sea

[2021-05-10 16:30] mshustov commented on #56926
@joshdover yes, there are a few:
- guard should return a plugin-specific error message, instead of relying on a generic message provided by `licensing  plugin https://github.com/elastic/kibana/blob/681bd642fb54396b2ee27c982b8dc128e98bfb02/x-pack/plugins/license_api_guard/server/license.ts#L67-L87
- guard should allow plugins to specify `minimum required license level` on a route-base. https://gith

[2021-05-10 16:33] HonzaKral commented on #99590
Thanks for the quick reply.

I understand the point from the original issue around the size of the slice and I have no issues with that part. What I would like to see though is either display the correct number, display both, or display a warning that the number you are showing is incorrect as it does not represent "number of records" as the legend claims.

As things are right now it is extremely

[2021-05-10 17:04] jen-huang commented on #99618
@afgomez Thought I'd assign this to you since it might be related to the LogStream component. Not a high priority 🙂

[2021-05-10 17:09] clintandrewhall commented on #99631
This was a mistake on my part; I'll have a fix shortly.

[2021-05-10 17:13] jen-huang commented on #99599
Two clarifications:

- These data streams are agent monitoring logs & metrics. There is a known bug around here that requires work on the Fleet side and Agent side: #98542, https://github.com/elastic/beats/issues/25350
- For other data streams, updating the agent policy namespace will not affect the integration namespaces. You will need update each integration namespace

In the meantime I'm closin

[2021-05-10 17:13] #99599 closed

[2021-05-10 17:44] #99505 closed

[2021-05-10 17:53] ymao1 commented on #50266
@jasonrhodes @kobelb

There is a related issue with exporting/importing stack monitoring rules (which are auto-created when a user visits the stack monitoring page in Kibana). Because the stack monitoring rules don't have a fixed `_id`, there is the potential to have duplicate stack monitoring rules.

Here are the possible scenarios:

**If we allow import/export of stack monitoring rules**
* Kiban

[2021-05-10 18:13] wylieconlon opened #99662 "[Lens] Right axis settings are enabled even when there is no right axis"
Steps to reproduce:

1. Start with a vertical XY chart
2. Copy the metric
3. The right axis popover is enabled, even though there is no right axis

[2021-05-10 18:15] dominiqueclarke opened #99664 "[Alerting] Search results are not updated when search term is removed on Rules and Connectors page"
**Kibana version**: 7.13.0

**Elasticsearch version**: 7.13.0

**Server OS version**: macOS

**Browser version**: chrome 90

**Browser OS version**: macOS

**Original install method (e.g. download page, yum, from source, etc.)**: source

**Description of the problem including expected versus actual behavior**:

Search results do not update when a search term is removed from the Rules and Connector

[2021-05-10 18:15] elasticmachine commented on #99664
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-10 18:23] jen-huang commented on #99470
I'm closing this based on @simitt's notes above (thanks Silvia!), please re-open if needed.

[2021-05-10 18:23] #99470 closed

[2021-05-10 18:26] dominiqueclarke opened #99667 "[Uptime] [Alerts] Filters persist in monitor status alert flyout, even when removed from Overview page"
**Kibana version**: 7.13.0

**Elasticsearch version**: 7.13.0

**Server OS version**: macOS

**Browser version**: chrome 90

**Browser OS version**: macOS

**Original install method (e.g. download page, yum, from source, etc.)**: source

**Description of the problem including expected versus actual behavior**:

Filters applied appear to persist in the monitor status alert flyout, even when they've

[2021-05-10 18:26] elasticmachine commented on #99667
Pinging @elastic/uptime (Team:uptime)

[2021-05-10 18:44] slhck commented on #99624
Thank you for your answer!

No, you're right, there could be connectivity check errors logged before.

But I can show you the correct migration log:

[code]

What I remember from the faulty migration log is that it was *much* shorter, maybe 10 lines or so. And it didn't show any obvious errors to me.

I have had failed migrations before that, a few months ago, and there I knew exactly what the iss

[2021-05-10 19:26] ymao1 opened #99680 "Ability to filter out items `onExport` or `onImport`"
In order to support removing legacy multi-tenancy, we have enabled rules and connectors to be exported and imported using the Saved Objects Management UI. However, security solutions have requested that their rules be excluded from this export (in favor of their solution specific import/export). There is currently no mechanism for doing this exclusion.

Possible options:
1. Exclude `onExport` - up

[2021-05-10 19:27] elasticmachine commented on #99680
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 19:43] YulNaumenko opened #99682 "[Actions] Change Logger context from 'actions' to be 'plugins.actions'"
Currently we have for the Actions plugin the next logger context definition:
`this.logger = initContext.logger.get('actions');`

which produces the next structure for the message in the server log:
`[server    log   [12:12:30.800] [error][actions] : Some error message here`

We need to fix it to be similar to other plugins and correspond to the:
https://github.com/elastic/kibana/blob/master/packag

[2021-05-10 20:10] TinaHeiligers opened #99685 "Enhance saved objects migrations collect failing docs implementation"
In https://github.com/elastic/kibana/pull/96986# we continue trying to transform all documents and collect any failures rather than failing the migration at the first error thrown.

This issue is to track follow ups to the original PR:
- [x] `TransformSavedObjectDocumentError` shows the problematic SO, and the source of the original problem. we can make that more explicit.
	- Use the `originalErro

[2021-05-10 20:10] elasticmachine commented on #99685
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 20:32] elasticmachine commented on #99121
Pinging @elastic/fleet (Team:Fleet)

[2021-05-10 20:33] kevinlog commented on #99121
@jen-huang FYI - this looks like a UX bug where you cannot edit Fleet settings if you are in the middle of editing an Integration.  I'm not convinced we should allow editing Fleet settings when editing an Integration, but the UX here is something to consider.

[2021-05-10 20:36] rashmivkulkarni opened #99687 "View app link ( in order to view/edit the rule )is disabled, although am logged in as a super user and navigated to rules and connectors"
Stack version BC4 of 7.13.0

I have an alert generated for `Elasticsearch version mismatch` Error is ```An error occurred when running the rule.
Cannot read property 'hits' of undefined``` . Now if I want to actually see the rule and edit it, I should be able to click on `View in app` button/link which takes me to the app which generated this error and edit it there. ( In fact it would have been n

[2021-05-10 20:36] elasticmachine commented on #99687
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-10 21:06] kevinlog commented on #99121
@nchaulet thanks for looking into it!

@gabriellandau could you reconfirm on a later build?  This one may be fixed already

[2021-05-10 21:13] kibanamachine opened #99693 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation errors if no endpoint or agent is provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99694 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation succeeds when an agent ID is provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99695 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation reports elasticsearch errors creating an action"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99696 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation accepts a comment field"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99697 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation sends the action to the requested agent"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99698 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation records the user who performed the action to the action record"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99699 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation records the comment in the action payload"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99700 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation creates an action and returns its ID"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99701 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation succeeds when just an endpoint ID is provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99702 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation sends the action to the correct agent when endpoint ID is given"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99703 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation combines given agent IDs and endpoint IDs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99704 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation sends the isolate command payload from the isolate route"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99705 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation sends the unisolate command payload from the unisolate route"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99706 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation License Level allows platinum license levels to isolate hosts"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99707 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation License Level prohibits license levels less than platinum from isolating hosts"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99708 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation License Level allows any license level to unisolate"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99709 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation User Level allows superuser to perform isolation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99710 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation User Level allows superuser to perform unisolation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99711 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation User Level prohibits non-admin user from performing isolation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:13] kibanamachine opened #99712 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/endpoint/routes/actions - Host Isolation User Level prohibits non-admin user from performing unisolation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13962/)

[2021-05-10 21:27] #99631 closed

[2021-05-10 21:29] igoristic opened #99716 "[Monitoring] Remove kibana_legacy plugin"
We should remove `kibana_legacy` plugin, since we're only using it to load font awesome icons https://github.com/elastic/kibana/issues/76905

[2021-05-10 21:29] elasticmachine commented on #99716
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-10 21:58] gabriellandau commented on #99121
Looks good in a fresh 7.13.0-SNAPSHOT build.  Closing.

[2021-05-10 22:12] kibanamachine commented on #99694
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:12] kibanamachine commented on #99695
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:12] kibanamachine commented on #99696
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99697
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99698
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99699
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99700
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99702
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99704
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99706
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99707
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99709
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99710
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:13] kibanamachine commented on #99711
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13963/)

[2021-05-10 22:35] cjcenizal opened #99732 "Migrate ES UI JsonEditor to Monaco"
`EuiCodeEditor` has been deprecated (https://github.com/elastic/eui/pull/4683). The [JsonEditor component](https://github.com/elastic/kibana/blob/master/src/plugins/es_ui_shared/public/components/json_editor/json_editor.tsx#L80) in `es_ui_shared` consumes this component. We need to migrate it to Monaco to enable `EuiCodeEditor` to be removed from EUI.

CC @elastic/eui-design

[2021-05-10 22:35] elasticmachine commented on #99732
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-05-10 23:16] #99575 closed

[2021-05-10 23:33] kobelb opened #99736 "Global HTTP Agent for Kibana to ES communication"
When investigating Kibana's performance for Fleet, I noticed that the legacy and the new Elasticsearch clients each handled the HTTP agent a bit differently and they each had their own HTTP agent.

As a result, we ended up with at least two separate pools of available sockets: one pool for the legacy client and one for the new client. When Kibana's communication to Elasticsearch occurs over TLS, t

[2021-05-10 23:33] elasticmachine commented on #99736
Pinging @elastic/kibana-core (Team:Core)

[2021-05-10 23:36] rashmivkulkarni commented on #99556
[code]
This enforces the task manager to check the health status of alerting framework. Waiting on it for like 2-3 mins - it does create `task:Alerting-alerting_health_check", ` and it polls from time to time( every 5 mins) - when the health check ran again, it found the task created- and moved from Red to Green for the alerting framework. Health Check task had the problem initially.  The health c

[2021-05-10 23:46] #43156 closed

[2021-05-11 01:28] mattkime commented on #99573
What version is the remote cluster running?

Have you verified permissions on the remote cluster? In particular, verify that you have `view_index_metadata` access.

[2021-05-11 02:13] GrahamHannington opened #99740 "Custom nested (cascading, flyout) menus of links in the Kibana sidebar"
I would like a straightforward method for adding my own custom links (for example, to dashboards) to the Kibana sidebar.

The Markdown panel-based solution for inter-dashboard links (setting aside "drill-down" links defined in visualizations) that I have seen recommended by Elastic team members on the Elastic Kibana discussion forum is a relatively clumsy, inelegant user experience, even with the

[2021-05-11 02:24] spong opened #99741 "[Security Solution][Detections] Investigate updating _id to be static rule_id when migrating rules to rule registry"
With https://github.com/elastic/kibana/issues/5026, Rules will now be exportable via the SO Management UI. Since Detection Rules store their static id's within alert `tags` as `__internal_rule_id:[ID_HERE]`, that means importing/exporting rules from different sessions/spaces/clusters/etc could potentially introduce duplicates since the SO imported determines uniqueness per `space` per `_id`.

We'r

[2021-05-11 02:24] elasticmachine commented on #99741
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-11 02:24] elasticmachine commented on #99741
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-11 02:26] spong commented on #50266
@ymao1 I've created https://github.com/elastic/kibana/issues/99741 for tracking this effort. Thank you for investigating further and opening the core dependency here. 🙂

[2021-05-11 02:26] peluja1012 opened #99742 "[Security Solution] Detection Rule "reference url" links don't work if they are created with missing "http://""
**Describe the bug:**
When the user creates a rule and configures a `Reference url` with missing `"http://"`, the user is presented with an error upon clicking on the `Reference url` link on the Rule Details page.

**Kibana version:**
7.12.1, 7.13

**Steps to reproduce:**

1. Click on `Create new rule` under `Detection alerts` -> `Manage detection rules`
2. Under `About Rule` -> `Advanced Settings

[2021-05-11 03:09] GrahamHannington commented on #99740
I'd be happy to discover I'm missing something here: other analytics platforms on which I've developed dashboards offer better built-in support for navigating between related dashboards (again: this is a separate issue from drill-downs in visualizations). A Markdown-based dashboard panel, with no integration with the rest of the UI, with links that are not context-aware (I need to create a Markdow

[2021-05-11 05:52] jaapie commented on #93893
Thanks for that explanation; I can see how your process would ensure the overall quality and consistency of Kibana/Elastic, but it's pretty limiting as well. It would only require very minor changes, changing for example -or to -our and -ize to -ise (off the top of my head) where needed.

[2021-05-11 06:48] ruflin opened #99744 "[Fleet] Allow to hide certain config options from preconfigure API"
The preconfigure API allows to "freeze" the configuration of certain config options. We do this for example for host and port in the fleet-server policy on Cloud as it does not make sense to modify host and port. At the moment we show these configs to the user but I'm not sure it brings any value to show it. It would be nice to have a flag that could hide these config options from the UI.

![Scree

[2021-05-11 06:48] elasticmachine commented on #99744
Pinging @elastic/fleet (Team:Fleet)

[2021-05-11 06:51] ruflin opened #99745 "[Fleet] Allow to freeze name and description of policy"
The preconfigure API allows to freeze config options in the UI. AFAIK this is not possible for name and description. It would be nice if potentially also the name and description could be frozen.

![Screenshot 2021-05-11 at 08 46 17](https://user-images.githubusercontent.com/244900/117770919-d155bd00-b235-11eb-8a08-718738b065eb.png)

[2021-05-11 06:51] ruflin commented on #99745
@mostlyjason Any thoughts on this, should we allow users to change name and description of the integration?

[2021-05-11 07:00] ruflin opened #99746 "[Fleet] Have custom hidden config in preconfigure and allow to overwrite"
This feature request has two parts. One is about hidden configurations in the preconfigure API, the other part is about allowing to overwrite these configs.

## Hidden configs in the preconfigure API

The preconfigure API is great to setup packages and policies. For the fleet-server we do a very specific setup optimised for Cloud. We use the custom yaml block for this configs. The user can see the

[2021-05-11 07:00] elasticmachine commented on #99746
Pinging @elastic/fleet (Team:Fleet)

[2021-05-11 07:12] timroes commented on #99580
I am closing this in favor of https://github.com/elastic/kibana/issues/2207. The font size might change when we decide on change of components or new designs, thus I think the real problem here would be that it's not configurable by the user, since users might prefer different font-sizes (though this is the first report I see, with the desire to have it smaller, usually it was always bigger).

[2021-05-11 07:23] pgayvallet commented on #91615
@kobelb

Because (the way I see it) these are totally distinct user workflows (see https://github.com/elastic/kibana/issues/91615#issuecomment-828313314), and the backup features is not based on a UI displaying a table listing all SOs, as we don't want this granularity for the feature.

But once again, this was my gut feeling based on my assumptions, please challenge me on that. If we think that i

[2021-05-11 07:33] #98443 closed

[2021-05-11 07:33] deepikakeshav-qasource commented on #96380
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **Fixed**. No error occurred and _id value is displaying under the detection alert table and Timeline.

Build Details:
[code]

**Screenshot:**
**Detection Tab**
![_id_column](https://user-images.githubusercontent.com/61860752/117768535-20a8e700-b250-11eb-8fa9-712010d1ffb7.jpg)
![fields](https://user

[2021-05-11 07:40] deepikakeshav-qasource commented on #90928
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed this issue is **not occurring** under Discover Kibana Page.

Build Details:
[code]

**Screenshot:**
![Discover_tab](https://user-images.githubusercontent.com/61860752/117769137-ec81f600-b250-11eb-9951-7853c485f390.jpg)

Please let us know if anything else is required from our end.

Thanks!!

[2021-05-11 07:46] flash1293 commented on #98733
Closing this for now - I'm going to open an issue on ES side whether we can lift these limitations in some way - I think there are a bunch of options.

[2021-05-11 07:46] #98733 closed

[2021-05-11 08:07] mshustov commented on #99736
I suppose, the migration from the legacy client address this problem? Maybe we should focus on https://github.com/elastic/kibana/issues/83910 ?

[2021-05-11 08:07] #95093 closed

[2021-05-11 08:17] mshustov opened #99754 "Licensing plugin should not provide user-facing messages"
Licensing plugin provides translated error messages https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/licensing/common/license.ts#L106-L130
Plugins show them in logs and UI. These messages often can be misleading since they are created out of plugin-specific context https://github.com/elastic/kibana/issues/95032
We should remove them from `licensing` pl

[2021-05-11 08:17] elasticmachine commented on #99754
Pinging @elastic/kibana-core (Team:Core)

[2021-05-11 08:19] muskangulati-qasource opened #99755 "[Security Solution] If the user hovers on the buttons, the same link is shown at the bottom for 'Add data with Beats' & 'Add Endpoint Security'. But they both navigate to different pages."
**Describe the feature**
If the user hovers on the buttons, the same link is shown at the bottom for 'Add data with Beats' & 'Add Endpoint Security'. But they both navigate to different pages.

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Overview Tab

**Test data**
N/A

**Impacted Test case(s)**
N/A

**Act

[2021-05-11 08:19] muskangulati-qasource opened #99756 "[Security Solution] The buttons for 'Add data with Elastic Agent' & 'Add Endpoint Security' both take to the All integrations page. Instead, the 'Add data with Elastic agent' should navigate the person to the fleet tab. And 'Add Endpoint Security' should specifically take the user to the Security Integration"
**Describe the feature**
The buttons for 'Add data with Elastic Agent' & 'Add Endpoint Security' both take to the All integrations page. Instead, the 'Add data with Elastic agent' should navigate the person to the fleet tab. And 'Add Endpoint Security' should specifically take the user to the Security Integration

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be

[2021-05-11 08:19] elasticmachine commented on #99755
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-11 08:19] muskangulati-qasource commented on #99755
@manishgupta-qasource please review!!

[2021-05-11 08:37] ruflin commented on #99649
This sounds indeed like a bug and I would argue is not the expected behaviour.

[2021-05-11 08:44] elasticmachine commented on #99756
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-11 08:45] elasticmachine commented on #99755
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-11 09:17] afharo opened #99759 "[i18n] Generate EUI tokens mapping automatically from `i18ntokens.json`"
As a follow up to #99613, we might want to stop maintaining a manual mapping of the EUI i18n tokens to Kibana's `core.{TOKEN}`.

The function `getEuiContextMapping` could loop through each element in `@elastic/eui/i18ntokens.json` and register them as ```i18n.translate(`core.{TOKEN}`, {...})```. The logic might need to identify when `values` are required to wrap them in a function.

Pending questi

[2021-05-11 09:17] elasticmachine commented on #99759
Pinging @elastic/kibana-core (Team:Core)

[2021-05-11 09:17] elasticmachine commented on #99759
Pinging @elastic/kibana-localization (Team:Localization)

[2021-05-11 09:19] ghost opened #99760 "[Security Solution] Incorrect data is displayed in _score field under the detection tab."
**Description**
Incorrect data is displayed in _score field under the detection tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Endpoint should be installed.
3. Alerts should be generated
4. _score field should be added in the detection alert table.

**Steps to Reproduce:**
1. Navigate to the detection tab of security.
2. Click o

[2021-05-11 09:19] elasticmachine commented on #99760
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-11 09:19] deepikakeshav-qasource commented on #99760
@manishgupta-qasource Please review!!

[2021-05-11 09:39] kibanamachine commented on #98247
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/125/)

[2021-05-11 10:24] afharo opened #99767 "[Telemetry] Use DocLinks for the Privacy Statement link"
I wonder if we should use the DocLinks service for the external link to the Privacy Statement when showing the Telemetry options in the UI Advanced Settings and in the Welcome screen.

[2021-05-11 10:26] #59415 closed

[2021-05-11 10:28] afharo commented on #56498
Q: Is there a way to register UI Settings that are applied globally instead of per-space?

[2021-05-11 10:28] deepikakeshav-qasource commented on #99755
Hi,

Additional observation to this issue. Two different links are open when click on "Add endpoint security" button under Overview tab.
- **Link** "<Kibana_url>/app/fleet#/integrations?category=security" is open when click on "Add endpoint security" button
- **Link** "<Kibana_url>/app/home#/tutorial_directory/security" is open when click on "open link in new tab" of  "Add endpoint security" butto

[2021-05-11 10:48] ruflin commented on #92636
Yes, I sent you back then the reference to the endpoint package which uses this already: https://github.com/elastic/package-storage/blob/production/packages/endpoint/0.19.1/data_stream/library/manifest.yml#L3

Can someone test if we still have the issue and then follow up? If it still exists, we should really fix it.

[2021-05-11 11:00] deepikakeshav-qasource opened #99774 "[Security Solution] Endpoint Security [Duplicate] rule is getting failed initially when deactivate the rule after generate the alert."
**Description**
Endpoint Security [Duplicate] rule is getting failed initially when deactivate the rule after generate the alert.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Endpoint should be installed.

**Steps to Reproduce:**
1. Navigate to the detection tab of security.
2. Duplicate the Endpoint Security rule and activate it.

[2021-05-11 11:00] elasticmachine commented on #99774
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-11 11:00] deepikakeshav-qasource commented on #99774
@manishgupta-qasource Please Review!!

[2021-05-11 11:01] manishgupta-qasource commented on #99774
Reviewed & Assigned to @MadameSheema

[2021-05-11 11:30] kertal opened #99775 "[Discover][New table] Improve document selection"
When selecting documents in the new table we currently select and filter only in UI, based on the records that are fetched from ES (this is usually a sample of max 500 documents).

It works like the classic table in this case, when you expand a document, change the time range so it is no longer in between this range, the document is no longer displayed.

Once a user selects documents, those should

[2021-05-11 11:30] elasticmachine commented on #99775
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-11 11:31] elasticmachine commented on #99756
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-05-11 11:42] EricDavisX commented on #95445
Hi @amolnater-qasource your assessment seems right to me, and good to test on 7.13->7.14 upgrade.  Please do so and we can call the testing done, apart from any issues found.

[2021-05-11 11:50] MadameSheema commented on #97477
@karanbirsingh-qasource can you please validate the fix of this issue on the next 7.13 BC? thanks :)

[2021-05-11 11:59] karanbirsingh-qasource commented on #81283
Hi @MadameSheema  thanks for the update.

Please find below complete details for issue regress.

- ### 7.2.0

we are able to reproduce the issue on 7.2.0 Cloud build with Audit-beat default config.

![image](https://user-images.githubusercontent.com/59917825/117784662-69b56700-b261-11eb-844a-af96911e4e07.png)
![image](https://user-images.githubusercontent.com/59917825/117785329-1abc0180-b262-11eb-

[2021-05-11 12:09] Dosant commented on #90293
Should be fixed by https://github.com/elastic/kibana/pull/99603
(haven't actually reproduced, but I am certain this would be the cause where flakiness could appear)

[2021-05-11 12:09] #90293 closed

[2021-05-11 12:09] Dosant commented on #99471
Fixed by https://github.com/elastic/kibana/pull/99603
thanks @timroes for brining this up

[2021-05-11 12:09] #99471 closed

[2021-05-11 12:55] #75124 closed

[2021-05-11 13:10] #98724 closed

[2021-05-11 13:14] thomasneirynck opened #99786 "[Maps] Improve initial load time on dashboards"
Maps are slow to bootstrap compared to other charts. This is noticeable on dashboards, e.g. the EMS baselayer may take some time to appear on first load.

Consider ways to improve
- decrease load time
- better feedback to users as they wait (e.g. many charts have a little animated loading icon)
- ...

[2021-05-11 13:14] elasticmachine commented on #99786
Pinging @elastic/kibana-gis (Team:Geo)

[2021-05-11 13:21] #99302 closed

[2021-05-11 13:21] elasticmachine commented on #99614
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-11 13:30] #95156 closed

[2021-05-11 13:50] neptunian commented on #98765
@igor-kupczynski

Can you advise on the best way to ensure the alerts are created?  After visiting Stack Monitoring i went to Stack Management -> Rules and Connectors and saw the alerts in the summary.  Though there were man others as well.  For "Threadpool rejections" there were "Thread pool search rejections" and "Thread pool write rejections".  What is meant by the "Original" alert as described

[2021-05-11 13:50] angorayc commented on #73574
GraphQL is removed in 7.13.

[2021-05-11 13:53] ghudgins commented on #95079
+1 on this issue from a customer wanting to group by multiple fields in a line chart. their usecase was `$environment - $servername` which are stored in 2 fields on the document today. there are workarounds for this in the agg based visualizations and in runtime fields but they really wanted this to "Just work"

[2021-05-11 13:56] #98597 closed

[2021-05-11 13:59] flash1293 commented on #95079
For reference - the workaround @ghudgins mentions is either using the table vis because it allows to specify as many breakdowns as required or creating a runtime field which is doing the concatenation as a painless script, then break down using this runtime field.

[2021-05-11 14:02] Sagesh opened #99790 "Average not showing proper on DataTable"
**Kibana version:7.10.2**

**Elasticsearch version:7.10.2**

**Server OS version: Windows 10**

**Browser version:Chrome: 90.0.4430**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug: **

**Steps to reproduce: **
1. Create a data table with an integer column
2. In Metrix add count, Average, Sum of the integer column
3. Add Name column (any string field

[2021-05-11 14:04] neptunian commented on #98765
I was not able to (or figure out how to) add an action to the alerts.  I don't see an option in the flyout when Editing a particular alert.  If I removed the alert, there wasn't a way to add it back:
<img width="618" alt="Screen Shot 2021-05-11 at 9 58 48 AM" src="https://user-images.githubusercontent.com/1676003/117828855-39a99c00-b240-11eb-8fec-260dc9ae51e0.png">

[2021-05-11 14:04] flash1293 commented on #99662
I can fix this with https://github.com/elastic/kibana/pull/99203 - it wasn't possible to infer the correct state in the past because we didn't have access to the currently rendered data, but we lifted this limitation recently.

[2021-05-11 14:30] neptunian commented on #98765
I'm not sure this is related, but after the default alerts were created I started getting this in the logs:
<img width="1216" alt="Screen Shot 2021-05-11 at 10 28 53 AM" src="https://user-images.githubusercontent.com/1676003/117832713-bab66280-b243-11eb-923a-46dd72c30d97.png">
which appears to be coming from:
<img width="1215" alt="Screen Shot 2021-05-11 at 10 28 13 AM" src="https://user-images.gi

[2021-05-11 14:31] astridtessem commented on #28007
I have the same problem.
I want to show 10000.3 as 10 000,3 in canvas
This should be possible with pattern 0,0.0 when setting format:number:defaultLocale=fr
https://www.elastic.co/guide/en/kibana/master/numeral.html

[2021-05-11 14:33] afgomez commented on #90614
maybe a silly question, but is this considered a breaking change? Should it be scheduled for 8.0.0 instead?

[2021-05-11 14:34] peluja1012 commented on #99760
Hi @deepikakeshav-qasource, could you please open Chrome -> Dev Tools -> Network and let us know what you see under the `/security/me` network call under the `roles` field?

[2021-05-11 14:36] #99494 closed

[2021-05-11 14:38] kibanamachine commented on #78743
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13838/)

[2021-05-11 14:43] cnasikas commented on #98742
I can confirm that this is the expected behaviour. A user should not be able to select the "closed" item from the drop down as the user cannot attach an alert to a closed case.

[2021-05-11 14:46] legrego commented on #97689
I'm sure the team is already considering this, but for posterity: as we expand the reach of Console throughout Kibana, let's remember that not all users will have access to the Dev Tools feature: it might be disabled within the current space, or the current user might not have privileges to access the Dev Tools feature.

We (@elastic/kibana-security) are happy to offer guidance when the time comes

[2021-05-11 14:46] neptunian commented on #98765
Is there any guidance for how to create the conditions for this?

[2021-05-11 14:47] elasticmachine commented on #99760
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-11 15:03] jen-huang commented on #99649
Yep it's a bug, due to the different code path that the two install paths take :(

[2021-05-11 15:04] vigneshshanmugam opened #99798 "[Uptime] Synthetics screenshot images have wrong content-type"
**Describe the bug:**

JPEG images from the Synthetics agent are displayed with `image/png`. Images have fixed content-type of `image/png` - https://github.com/elastic/kibana/blob/9da9b8d4b9fec6ef17038ca753885ecd6ed19016/x-pack/plugins/uptime/server/rest_api/pings/journey_screenshots.ts#L40

**Steps to reproduce:**
1. Run heartbeat with synthetic monitors
2. Check the screenshot images for each jo

[2021-05-11 15:04] elasticmachine commented on #99798
Pinging @elastic/uptime (Team:uptime)

[2021-05-11 15:21] neptunian commented on #98765
I was not able to get legacy alerts to fire using [the gists](#87377)

[2021-05-11 15:38] #53246 closed

[2021-05-11 16:00] #99502 closed

[2021-05-11 16:39] crob611 opened #99815 "[Canvas] Migrate to React Router"
Canvas currently uses a unique router that is deprecated. We should switch to React Router to standardize with the rest of kibana.

[2021-05-11 16:42] jfsiii commented on #99576
yes, I created a 7-13-SNAPSHOT deployment but clicked "Customize" and clicked the "X" button on the "APM & Fleet" section <details><summary>screenshots</summary>
<img width="998" alt="Screen Shot 2021-05-11 at 11 48 31 AM" src="https://user-images.githubusercontent.com/57655/117849445-50f18500-b252-11eb-87f0-842be2cc85f4.png">
<img width="975" alt="Screen Shot 2021-05-11 at 11 48 41 AM" src="https

[2021-05-11 16:52] tsullivan commented on #78055
This test now passes in the Cloud flaky test runner. I'm going to close this as no longer applicable.

[2021-05-11 16:52] #78055 closed

[2021-05-11 17:26] jfsiii commented on #99576
@nchaulet My initial pass at this checked the `missing_requirements` value from `/setup`, (same way as the spinner + "Waiting for Fleet server" message shown in the screenshot) but hiding the input makes some other cases worse and I wanted to see if there was another way.

@mukeshelastic @mostlyjason @hbharding Instead of omitting the host URL from the input, I agree with @nchaulet that a CTA (+ h

[2021-05-11 17:32] neptunian commented on #98780
I set this to false and didn't notice any different in the Stack Monitoring UI.  Should there be any difference?  It did not crash.

[2021-05-11 17:35] neptunian commented on #98780
This seems to be a dup of https://github.com/elastic/kibana/issues/98771, so closing

[2021-05-11 17:35] #98780 closed

[2021-05-11 17:48] jfsiii commented on #99576
here's what it looks like if we don't display a host when Fleet Server isn't ready (i.e. `/setup` returns `"missing_requirements": ["fleet_server"]`)

https://user-images.githubusercontent.com/57655/117861488-7c2ea100-b25f-11eb-9a53-71d423efd885.mp4

[2021-05-11 17:55] kgeller opened #99823 "ECS Mapper Dev Tool"
ECS team wants to turn the current standalone tool [ECS Mapper ](https://github.com/elastic/ecs-mapper) into an experimental Dev Tool.

Ecs-mapper is an experimental CLI tool that turns CSV field mappings into data pipeline configurations. Users create a CSV, and ecs-mapper generates pipelines to map the original fields onto ECS fields. The tool is frequently recommended to users who want to map t

[2021-05-11 18:01] epixa commented on #99823
Manually pinging @elastic/ecs until the infra automation is merged

[2021-05-11 18:08] neptunian commented on #98771
adding `xpack.monitoring.collection.enabled` to the kibana config results in an error:
Error: [config validation of [monitoring].collection]: definition for this key is missing

[2021-05-11 18:13] neptunian commented on #98771
Where should I be seeing this?  I'm not seeing it in the Stack Monitoring UI.

[2021-05-11 19:39] LeeDr commented on #98413
I tried to see other instances of this test failing after the initial reporting.  I see it passed on this job 1736 (7.14.0-SNAPSHOT);
https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1736/JOB=basicGrp1,TASK=saas_run_kibana_tests,node=ess-testing/testReport/Chrome%20UI%20Functional%20Tests1/test_functional_apps_context__filters%C2%B7js/

But in this later job 17

[2021-05-11 19:48] jen-huang commented on #99576
Thanks all for the discourse. @jfsiii FYI I've removed the 7.13 label as this seems to be an edge case, please feel free to continue working on it for 7.14.

[2021-05-11 20:14] srikwit opened #99841 "Hiding building block rules in "Security/Overview""
Dear Team,

As per the docs at "https://www.elastic.co/guide/en/security/current/building-block-rule.html":
_Create building-block rules when you do not want to see their generated alerts in the UI._

However, this feature is only allowed in the detections tab but not in the Overview tab. Due to this the alerts visualization generated from building blocks can overwhelm other critical alerts.

Requ

[2021-05-11 20:21] elasticmachine commented on #99841
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-11 20:21] elasticmachine commented on #99841
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-11 20:24] tylersmalley commented on #93360
Looks like the custom workspace worked. Can this be closed since it was related to the long path name with the default workspace?

[2021-05-11 20:30] ruflin commented on #99744
In the above, I would like to hide `host` and `port`. So I guess this would be per input var?

[2021-05-11 20:35] Zacqary commented on #99744
Should we just change the behavior of `frozen` to hide the values in the UI, then? If there's no value in showing the disabled UI field.

[2021-05-11 20:59] ruflin commented on #99744
Hm, not sure if we should mix the two. You are correct that in the above case, both would be frozen and hidden, at the same time I would prefer to separate the features.

[2021-05-11 22:15] a03nikki opened #99856 "[Security Solution][Detections] Add support for cross-cluster search (CCS) to indicator match rules"
**Describe the feature:**

Add support for CCS for indicator match rules; thus removing the limitation.

**Describe a specific use case for the feature:**

The documentation at <https://www.elastic.co/guide/en/security/7.12/detection-engine-overview.html#support-indicator-rules> says:

This is a problem for Elastic Security users who's data set is too large (aka against best practices) to fit into

[2021-05-11 22:18] jen-huang opened #99858 "[Fleet] Install button not available"
I think this was an accidental regression introduced in #98970. The install button isn't available on Settings page for uninstalled integrations any more:

![image](https://user-images.githubusercontent.com/1965714/117891611-0da41000-b26c-11eb-8e4e-3fae526b5e89.png)

[2021-05-11 22:35] #92737 closed

[2021-05-11 22:46] stacey-gammon commented on #97471
Is this a proposal to just wrap the saved object references or something more?

I guess I'm not understanding where the push to implement this feature is coming from.  If it's not going to be used, why are we prioritizing adding it to the interface? Seems like there are a lot of other more important things we could be focusing on.  I think we should be trying to minimize and simplify our public AP

[2021-05-11 23:05] tylersmalley commented on #6261
I am going to close this for now. It's been open for over six years and I don't think there is a need to continue to track. We can revisit.

[2021-05-11 23:05] #6261 closed

[2021-05-11 23:25] tsullivan commented on #55622
Hi @stacey-gammon can you talk about this issue in a more current context? How important is this for Alerting, or anyone else? Is it blocking anything?

[2021-05-11 23:30] tsullivan opened #99867 "[Reporting] Document vision for Reporting"
What is the future vision of Reporting? What work needs to happen in the next 6 months to make that vision a reality?

Reporting has a few long term initiatives that are currently not well known.

 - [Scheduled Reports](https://github.com/elastic/kibana/issues/79905)
 - [Monitoring of Reporting](https://github.com/elastic/kibana/issues/29281)
 - Integrate Reporting into more applications
 - [Creat

[2021-05-11 23:30] elasticmachine commented on #99867
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-11 23:30] elasticmachine commented on #99867
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-05-11 23:35] TinaHeiligers commented on #97787
We'd need to rely on a new hard-coded interval to throttle the logs if we went with logging the errors out directly from within the [`catchError`](https://github.com/elastic/kibana/blob/master/src/core/server/elasticsearch/version_check/ensure_es_version.ts#L144).

**Proposed approach:**
We could pass the error into [`mapNodesVersionCompatibility`](https://github.com/elastic/kibana/blob/master/src

[2021-05-11 23:41] elasticmachine commented on #56081
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 00:01] tsullivan opened #99870 "[Reporting] Benchmark Testing"
Reporting has varying degrees of stability given different hardware RAM, CPU, GPU, and OS configurations. On my local developer workstation that has 32G RAM, and a GPU with 4GB RAM, I'm able to create a 8mb PNG in Linux. However, when I reboot into Windows and run the test, Chromium runs out of memory even though it's the same hardware.

This issue is to create a matrix of benchmarks for different

[2021-05-12 00:02] elasticmachine commented on #99870
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-05-12 00:02] elasticmachine commented on #99870
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 02:05] mattkime commented on #97471
We're going to work that out in this issue before before implementing, but yes, this is mostly a wrapper around saved object references. Initially I thought it might be something larger but at this point that seems unnecessary.

Two main reasons -

Using saved object management to determine where index patterns are used is unnecessarily indirect and burying some very useful functionality. If we pl

[2021-05-12 02:18] mattkime opened #99876 "[index patterns] Index pattern creation modal API"
Some new text

Parent issue for index pattern creation modal - [https://github.com/elastic/kibana/issues/84725|https://github.com/elastic/kibana/issues/84725]

A new IndexPatternEditor plugin will be created which will expose an interface for an index pattern creation flyout. It will be loaded asynchronously to be mindful of bundle size. It will initially be used by Index Pattern Management.

Note

[2021-05-12 02:24] elasticmachine commented on #99876
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 02:27] mattkime commented on #99876
In particular, I'd like feedback from @weltenwort @flash1293 @timroes

[2021-05-12 03:07] hbharding opened #99878 "[Fleet] Update usage of EuiComboBox"
## Background

Per https://github.com/elastic/kibana/issues/99018,  there are several places in Fleet / Integrations UI where our usage of `EuiComboBox` is problematic for a few reasons:
- It is difficult to edit values. If users need to change just a small part of the value, they'll need to delete the entire value and retype it.
- Users can't copy the values because selecting the text causes the

[2021-05-12 03:07] elasticmachine commented on #99878
Pinging @elastic/fleet (Team:Fleet)

[2021-05-12 04:08] kibanamachine opened #99879 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/enter_space·ts - Spaces app Enter Space allows user to navigate to different spaces, respecting the configured default route"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13992/)

[2021-05-12 04:22] karanbirsingh-qasource commented on #98742
Hi @cnasikas thanks for looking into this.

yes we are do aware of this expected result that is `user can't attach alert to closed case`.

But if we see in another way around , that is user is still not stopped to do above operation on UI.
**way around** : User can go to all filter , this way user can see all case including closed case and this way use is allowed to select closed case.
![image](ht

[2021-05-12 04:26] cjcenizal commented on #57286
Related to https://github.com/elastic/kibana/issues/46126

[2021-05-12 04:28] dgieselaar commented on #99328
@joshdover it could be possible in the future to make sampling decisions based on slow Elasticsearch queries (eg keep all transactions that have a slow ES span). Not something we can use for a while though. It might be relevant here because if we have a very low sampling rate (eg 2%), most of the queries logged by ES as slow would not have a corresponding Elasticsearch span.

[2021-05-12 06:03] #99579 closed

[2021-05-12 06:26] formgeist commented on #98774
I've added a proposed solution to the description that will mean adding additional logic to the chart when the comparison is toggled on or off, but I believe this is probably the best compromise. Thoughts on this proposal?

[2021-05-12 06:30] dgieselaar commented on #98774
@formgeist sounds fine to me. But don't we need the latency metric selector for some of the other tables, regardless of whether comparisons are enabled?

[2021-05-12 06:41] streamich commented on #99876
I believe we are doing flyouts not in the best way in many places in Kibana. In particular, it would be great to open flyouts in *declerative* way, same as it is provided by EUI library. For example:

[code]

It would be great to implement the `<indexPatternEditor.Flyout>` component as the basis. And then if some app still needs to open the flyout in an imperative way, construction on top of it ca

[2021-05-12 06:48] amolnater-qasource commented on #95445
Hi @EricDavisX
Thanks for the feedback and confirmation. We will keep a track on this to test on 7.14.

Thanks
QAS

[2021-05-12 06:52] flash1293 commented on #99876
I think an imperative API should be provided because it's also usable outside of React which can sometimes become necessary (e.g. inside of an action handler). While it's possible to use the react api in this situation as well, it's cumbersome and IMHO we shouldn't push this to the consumer. If we feel strongly about the "manual" flyout reference management (I agree it can lead to unclosed flyouts

[2021-05-12 07:12] cnasikas commented on #98742
Thank you @karanbirsingh-qasource . We decided to hide the `All` and the `Closed` drop down items.

[2021-05-12 07:20] formgeist opened #99883 "[APM] Convert to the new Observability page template and remove tab navigation from the global views"
# Summary

Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212)

**Shared Observability page template**
 1. Register the navigation links in the new Observability navigation registry
 2. convert to use the new Observability page template provided in https://github.com/elastic/kibana/pull/99380

[Documentation for the shared Observability page template](https://g

[2021-05-12 07:20] elasticmachine commented on #99883
Pinging @elastic/apm-ui (Team:apm)

[2021-05-12 07:22] streamich commented on #99876
If you go for imperative approach maybe worth creating a helper, say `useIndexPatternFlyout`, so every user of the flyout does not need to write the boilerplate code:

[code]

[2021-05-12 07:36] silverjason commented on #40595
Any update on this?

[2021-05-12 07:58] deepikakeshav-qasource opened #99884 "[Security Solution] Investigation guide is not formatted under Alert details flyout."
**Description**
Investigation guide is not formatted under Alert details flyout.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Endpoint should be installed.

**Steps to Reproduce:**
1. Navigate to the detection tab of security.
2. Click on create a new rule
3. Create a custom rule with any query say: host.name: *.
4. In the about se

[2021-05-12 07:58] elasticmachine commented on #99884
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 07:58] deepikakeshav-qasource commented on #99884
@manishgupta-qasource Please review!!

[2021-05-12 08:15] muskangulati-qasource opened #99885 "[ Question ] [Security Solution] The Overview Tab, Host Tab, Network Tab & Timeline Tab shows no data if there is no agent or shipper installed."
**Describe the feature**
The Overview Tab, Host Tab, Network Tab & Timeline Tab shows no data if there is no agent or shipper installed.

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Overview Tab under the Security.
2. Observe that the UI shows the user to add data.
3. Same is observed for other tabs:
    -

[2021-05-12 08:15] elasticmachine commented on #99885
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 08:16] muskangulati-qasource commented on #99885
@manishgupta-qasource please review!!

[2021-05-12 08:23] manishgupta-qasource commented on #99885
Reviewed & assigned to @MadameSheema

[2021-05-12 08:24] #99120 closed

[2021-05-12 08:27] manishgupta-qasource commented on #99884
Reviewed & Assigned to @MadameSheema

[2021-05-12 08:39] elasticmachine commented on #99884
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-12 08:39] muskangulati-qasource commented on #99885
Hi @MadameSheema,

Please confirm if it is expected??

Thanks!

[2021-05-12 08:51] MadameSheema commented on #99885
Hi @muskangulati-qasource this is the expected behaviour.

When the user does not have data ingested in his elasticsearch, we show that screen in order to guide him about how to do it.

[2021-05-12 08:51] #99885 closed

[2021-05-12 09:06] jloleysens opened #99890 "[Discussion] Generating PDF/PNG reports should not require a saved search"
## Summary

There are a number of places in Kibana that offer users the ability to  "share" their current view by creating a PDF or PNG. This works by capturing the user's current browser state, rendering it in our report generator server side, then saving the output in Elasticsearch.

The full representation of the user's current state/view/visualisation is not necessarily captured in the URL --

[2021-05-12 09:06] elasticmachine commented on #99890
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-05-12 09:35] mandeepkaur-qasource opened #99891 "[Security Solution]Error message "Failed to query events data" is displayed for 'Show Top destination ip' Stack By drop down option under 'Detection Trends' table"
**Description:**
Error message "Failed to query events data" is displayed for 'Show Top destination ip' Stack By drop down option under 'Detection Trends' table

**Build Details:**
Version: 7.13.0 BC4
Build: 40749
Commit: 5a6bad454ffe263aafed54cbd3f764253694bf37
Artifacts: https://staging.elastic.co/7.13.0-5c4bc719/summary-7.13.0.html

**Browser Details:**
All

**Preconditions:**
- Kibana Environm

[2021-05-12 09:35] elasticmachine commented on #99891
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 09:38] formgeist opened #99893 "[APM] Service maps (global): Join the environment selector and date picker in the Header"
# Summary

Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212)

The global Service map view has a special change where we want to join the environment selector and the date picker in the same position in order to reduce the height of the header.

**Before**
![image.png](https://zube.io/files/elastic/51c7e6cf1dae53b8fb14002455fb5e60-image.png)

**After**
![APM -

[2021-05-12 09:38] elasticmachine commented on #99893
Pinging @elastic/apm-ui (Team:apm)

[2021-05-12 09:41] formgeist commented on #98774
That's a very good point! I'll need to think about how to allow users to change the latency metric in the tables. It might feel a little disjointed when the selector is available even when we show all the percentiles in the chart. We discussed putting it outside the chart container and add it to the top.

[2021-05-12 09:46] manishgupta-qasource commented on #99891
Reviewed & assigned to @MadameSheema

[2021-05-12 09:50] elasticmachine commented on #99891
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-12 09:55] flash1293 opened #99894 "[Lens] Time zone param in date histogram is not reset on transferring to non-restricted index pattern"
**Describe the bug:** Date histogram stores the time zone to use based on the rollup index pattern. Even if the index pattern is changed, the time zone is not reset

**Steps to reproduce:**
1. Create rollup index pattern and regular one
2. Create layer with rollup index pattern and add a date histogram
3. Switch the layer to the regular index pattern
4. Date histogram will keep using the rollup in

[2021-05-12 09:55] elasticmachine commented on #99894
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-12 09:58] muskangulati-qasource opened #99895 "[Fleet] If we add an enrollment token with space, it does not create the enrollment token & throws an undefined error to the user"
**Describe the feature**
If we add an enrollment token with space, it does not create the enrollment token & throws an undefined error to the user

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Agent tab under Fleet
2. Go to the enrollment token tab
3. Click on create a new enrollment token
4. Provide a name

[2021-05-12 09:58] elasticmachine commented on #99895
Pinging @elastic/fleet (Team:Fleet)

[2021-05-12 09:59] muskangulati-qasource commented on #99895
@manishgupta-qasource please review

[2021-05-12 10:00] #53587 closed

[2021-05-12 10:04] #22555 closed

[2021-05-12 10:04] #94082 closed

[2021-05-12 10:18] MadameSheema commented on #99891
@mandeepkaur-qasource looks like this bug as been fixed already but it has not reached the current BC. Can you please let us know if this is still happening on the next BC? (the next BC it is scheduled for today, but not sure about the time)

Lots of thanks for your help :)

[2021-05-12 10:19] estermv opened #99897 "[Metrics UI] Refactor waffle map to improve performance"
This issue is to discuss a refactor on the waffle map that would give us a really good improvement in performance in the UI.

After taking a look and fixing the most obvious problems that caused the waffle map to take long times to render, it still takes around 4s-5s to render 5K pods.

This time is spent mostly by react mounting the components:
<img width="567" alt="Screenshot 2021-05-06 at 12 14

[2021-05-12 10:19] elasticmachine commented on #99897
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-12 10:25] amolnater-qasource opened #99898 "[Fleet] Block create enrollment token for hosted agent policies"
**Description:**
We can create a new enrollment token for "Elastic Agent cloud policy", what is the use of this new enrollment token.

**Question:**
As this policy is hosted policy, and no new agent installations can be done with this policy.
So, why we can create a new enrollment token for this "Elastic Agent cloud policy"?

**Enhancement:**
If there is no use of new enrollment token, we can remo

[2021-05-12 10:25] elasticmachine commented on #99898
Pinging @elastic/fleet (Team:Fleet)

[2021-05-12 10:26] amolnater-qasource commented on #99898
@manishgupta-qasource Please review.

[2021-05-12 10:29] paulb-elastic commented on #93388
This was discussed in refinement and will require a fair amount of testing to ensure no unintended consequences.

[2021-05-12 10:38] jloleysens commented on #99867
Thanks for opening this issue @tsullivan ! I think we can use this to get crystal clear on the "whys" for work we are considering for reporting. Starting with goals for reporting I've pseudo-randomly gone with the order below. I'd appreciate your help getting them in the right order :) (drawing from our earlier discussion)

1. Screenshot capabilities separate from reporting. Give Kibana the genera

[2021-05-12 10:58] manishgupta-qasource commented on #99895
Reviewed & Assigned to @EricDavisX

[2021-05-12 10:58] manishgupta-qasource commented on #99898
Reviewed & Assigned to @EricDavisX

[2021-05-12 11:10] formgeist opened #99901 "[Uptime] Remove tabs navigation in place of the new solution navigation"
# Summary

Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212)

The new solution navigation will mean that the links which are displayed in the Uptime header as tabs will be available in the new side navigation. This means that the tabs will be redundant and should be removed.

Instead, we'll display the page title using the new `EuiPageHeader` component in con

[2021-05-12 11:10] elasticmachine commented on #99901
Pinging @elastic/uptime (Team:uptime)

[2021-05-12 11:14] ruflin commented on #99898
Good find. @jfsiii Seems like one more place where we need to block this. I wonder if we should also do it on the API level and as usual using something like a `force` flag to overwrite things.

[2021-05-12 11:16] formgeist opened #99902 "[Uptime] Add Settings and Alerts to the menu actions in the Kibana header bar"
# Summary

Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212) and the removal of the tabs navigation (#99901)

As part of removing the tabs navigation, we will still need a way for users to access the Settings view. In other apps we have done this by adding a link to the menu actions in the top Kibana header bar.

Additionally, we should move the alerts button

[2021-05-12 11:16] elasticmachine commented on #99902
Pinging @elastic/uptime (Team:uptime)

[2021-05-12 11:30] RoyzLevy commented on #27758
I'm having this issue too right now with Watcher alerts.

The question is - does it affect the next firing of the watcher? Will it not be able to fire or does the watcher work fine and it's just UI issue?

[2021-05-12 11:41] aarju commented on #66587
@austinsonger just saw your command as I was going through old GH issues. You can do this in Kibana now with this type of syntax in your alerting. This is what I use to send all of the alerts with process information with context to Slack:
[code]

Using `{{.}}` inside an array loop will iterate through all values in the array. If you wanted to you could send all of the event information to a conne

[2021-05-12 11:51] fristedt commented on #99573
Sorry, I guess all_access is the role name from Open Distro. But the actual security privilege should be valid as I can correctly hit the resolve endpoint using kibana dev tools.

The path that is making the invalid requests is `/_plugin/kibana/app/management/kibana/indexPatterns`. Does that fall under the umbrella of Kibana or Open Distro?

[2021-05-12 11:54] stratoula opened #99906 "[XY axis] Filters not work for charts with percentage mode"
**Kibana version:**
7.12+

**Describe the bug:**
I create a new XY axis chart and change the metric to percentage mode
![image](https://user-images.githubusercontent.com/17003240/117970757-b49eaf80-b331-11eb-93b5-4b6796904281.png)

When I click the chart I expect to be able to create a filter but no filters are applied

**Screenshots (if relevant):**
No errors

[2021-05-12 11:54] elasticmachine commented on #99906
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-12 11:54] frankeros commented on #91682
Any news on this?

[2021-05-12 11:58] dominiqueclarke opened #99907 "[Uptime] [Synthetics Integration] Proxy url is not applied to integration policy"
**Kibana version**: 7.13.0

**Elasticsearch version**: 7.13.0

**Server OS version**: macOS

**Browser version**: Chrome 90

**Browser OS version**: macOS

**Original install method (e.g. download page, yum, from source, etc.)**: source

**Description of the problem including expected versus actual behavior**:

When adding a proxy url under advanced http settings, the proxy url is not saved to the

[2021-05-12 11:58] elasticmachine commented on #99907
Pinging @elastic/uptime (Team:uptime)

[2021-05-12 12:17] #98602 closed

[2021-05-12 12:18] joshdover commented on #97934
While APM doesn't yet provide a curated UI for doing this type of analysis, the raw data is indeed present and with a few manual steps in Discover we can easily trace a slow Elasticsearch query to a specific HTTP route or Task Manager task in Kibana today, without any changes to Elasticsearch. For many use cases, this should solve the problem.

APM doesn't have a UI that allows you to filter for s

[2021-05-12 12:23] aarju commented on #49410
It would be nice if when setting up a 'monitoring cluster' in Elastic Cloud it automatically (or with a few clicks) started monitoring the health of the alerting on the monitored cluster.

[2021-05-12 12:31] liza-mae commented on #98426
I spoke to @tsullivan over slack and we concluded that debug messages are present and it is creating roles/users. Tim suggested I add this setting ```xpack.reporting.roles.enabled``` which I did but it is not valid for 7.13 and I am getting the following error.

[code]

[2021-05-12 12:38] elasticmachine commented on #99879
Pinging @elastic/kibana-security (Team:Security)

[2021-05-12 12:39] flash1293 opened #99910 "[Lens] Filter gets lost when moving from calculation to regular operation"
**Kibana version:** master

**Describe the bug:** When moving from a filtered calculation to a regular operation, the filter attribute is not carried over

**Steps to reproduce:**
1. Configure filtered cumulative sum of a field
2. Switch to "Sum"
3. Filter gets removed

**Expected behavior:**

Filter should be carried over

[2021-05-12 12:40] elasticmachine commented on #99910
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-12 12:41] austinsonger commented on #66587
@aarju

Yeah this is my setup.
https://gist.github.com/austinsonger/998b3d784eb5f9c040276ac7c4c9f5c2

But currently dealing with this issue I created #95618

[2021-05-12 12:50] legrego commented on #99879
This looks similar to https://github.com/elastic/kibana/issues/99581, where the spaces nav failed to open:

![image](https://user-images.githubusercontent.com/3493255/117977717-1eea2c80-b2ff-11eb-8399-b98865ea82b6.png)

[2021-05-12 12:51] legrego commented on #99581
Related failure https://github.com/elastic/kibana/issues/99879

[2021-05-12 13:12] dipenpatel235 opened #99913 "[Security Solution] Detection rule import giving threat indicator match error"
**Description:**
I have two kibana server in diff environment in which i am doing export rule of detection from one server and import into second server but during import it is giving me error of threat-indicator-match with unknown id.

**kibana version:**
version: 7.12.0 in both server

**Server OS version:**
ubuntu-18

**Browser and Browser OS versions:**
ubuntu-20

**Original install method (e.

[2021-05-12 13:12] elasticmachine commented on #99913
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 13:16] ghost opened #99914 "[Security Solution]Pagination links do not work correctly on 'Upload Value list' modal window."
**Description:**
Pagination links do not work correctly on 'Upload Value list' modal window.

**Build Details:**
Version: 7.13.0 BC4
Build: 40749
Commit: 5a6bad454ffe263aafed54cbd3f764253694bf37
Artifacts: https://staging.elastic.co/7.13.0-5c4bc719/summary-7.13.0.html

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be in

[2021-05-12 13:16] elasticmachine commented on #99914
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 13:18] elasticmachine commented on #99693
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 13:19] mandeepkaur-qasource commented on #99914
@manishgupta-qasource Please review!

[2021-05-12 13:20] manishgupta-qasource commented on #99914
Reviewed & Assigned to @MadameSheema

[2021-05-12 13:20] tylersmalley opened #99915 "Failing ES Promotion: detection engine api security and spaces enabled Signals migration status returns no indexes if no signals exist in the specified range"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2757/execution/node/520/log/

[code]

[2021-05-12 13:20] elasticmachine commented on #99915
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-12 13:24] tylersmalley commented on #52450
This is complete.

[2021-05-12 13:24] #52450 closed

[2021-05-12 13:25] legrego commented on #70468
This has since been resolved, likely via https://github.com/elastic/kibana/pull/60563 when we introduced sub-feature privileges and greatly simplified privilege calculations in the UI

[2021-05-12 13:25] #70468 closed

[2021-05-12 13:25] tylersmalley opened #99916 "[build] Produce Cloud container as part of release manager"
The upstream teams are taking over responsibility for building Cloud containers. Thanks to https://github.com/elastic/kibana/issues/52450, there is now very little we do here. Mainly, this is adding Filebeat and Metricbeat.

[2021-05-12 13:25] elasticmachine commented on #99916
Pinging @elastic/kibana-operations (Team:Operations)

[2021-05-12 13:28] elasticmachine commented on #99693
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-05-12 13:28] kevinlog commented on #99693
@pzl fyi

[2021-05-12 13:47] #94582 closed

[2021-05-12 13:47] jmartin51 opened #99922 "Filter autosuggestion hangs when index pattern contains lots of fields"
**Kibana version:**
7.12.x

**Elasticsearch version:**
7.12.x

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Discover: filter autosuggestion hangs when index pattern contains lots of fields
When trying to type a field name, kibana is freezing

**Steps to reproduce:**
1. Generat

[2021-05-12 13:47] elasticmachine commented on #99922
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-12 13:49] elasticmachine commented on #99913
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-12 13:49] philippkahr opened #99923 "Transforms preview column"
**Describe the feature:**
Current Kibana: 7.12.1 running in ESS

**Current workflow**:

1. Go to transforms
2. Select an (existing) transform
3. Change to the preview tab
4. Now select the `columns` to be shown.
5. Switch to another tab within the transform
6. The column selection is not preserved.

**Expected workflow**:

Point 6, should have persisted the selected columns shown for the preview.

[2021-05-12 13:50] MadameSheema commented on #99913
@rylnd @ecezalp can you please take a look at this? Thanks :)

[2021-05-12 13:51] elasticmachine commented on #99914
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-12 13:54] #66595 closed

[2021-05-12 13:54] #92876 closed

[2021-05-12 13:58] elasticmachine commented on #99922
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 13:58] #83892 closed

[2021-05-12 14:01] mattkime commented on #99573
Unfortunately I'm unable to help with the Open Distro version of ES and Kibana. I simply lack experience with them. At this point I'm unsure if the problem is unique to Open Distro or affects Elasticsearch and Kibana as well.

[2021-05-12 14:04] dmlemeshko commented on #99694
Closing since it was fixed #99719

[2021-05-12 14:04] #99694 closed

[2021-05-12 14:04] dmlemeshko commented on #99696
Closing since it was fixed #99719

[2021-05-12 14:04] #99696 closed

[2021-05-12 14:05] dmlemeshko commented on #99697
Closing since it was fixed #99719

[2021-05-12 14:05] #99697 closed

[2021-05-12 14:07] dmlemeshko commented on #99698
Closing since it was fixed #99719

[2021-05-12 14:07] #99698 closed

[2021-05-12 14:07] dmlemeshko commented on #99699
Closing since it was fixed #99719

[2021-05-12 14:07] #99699 closed

[2021-05-12 14:07] dmlemeshko commented on #99700
Closing since it was fixed #99719

[2021-05-12 14:07] #99700 closed

[2021-05-12 14:08] dmlemeshko commented on #99695
Closing since it was fixed #99719

[2021-05-12 14:08] #99695 closed

[2021-05-12 14:08] dmlemeshko commented on #99701
Closing since it was fixed #99719

[2021-05-12 14:08] #99701 closed

[2021-05-12 14:08] dmlemeshko commented on #99702
Closing since it was fixed #99719

[2021-05-12 14:08] #99702 closed

[2021-05-12 14:08] dmlemeshko commented on #99703
Closing since it was fixed #99719

[2021-05-12 14:08] #99703 closed

[2021-05-12 14:08] dmlemeshko commented on #99704
Closing since it was fixed #99719

[2021-05-12 14:08] #99704 closed

[2021-05-12 14:08] dmlemeshko commented on #99705
Closing since it was fixed #99719

[2021-05-12 14:08] #99705 closed

[2021-05-12 14:08] dmlemeshko commented on #99706
Closing since it was fixed #99719

[2021-05-12 14:08] #99706 closed

[2021-05-12 14:09] dmlemeshko commented on #99708
Closing since it was fixed #99719

[2021-05-12 14:09] #99708 closed

[2021-05-12 14:09] dmlemeshko commented on #99709
Closing since it was fixed #99719

[2021-05-12 14:09] #99709 closed

[2021-05-12 14:09] dmlemeshko commented on #99710
Closing since it was fixed #99719

[2021-05-12 14:09] #99710 closed

[2021-05-12 14:09] dmlemeshko commented on #99711
Closing since it was fixed #99719

[2021-05-12 14:09] #99711 closed

[2021-05-12 14:09] dmlemeshko commented on #99712
Closing since it was fixed #99719

[2021-05-12 14:09] #99712 closed

[2021-05-12 14:10] dmlemeshko commented on #99707
Closing since it was fixed #99719

[2021-05-12 14:10] #99707 closed

[2021-05-12 14:18] mattkime opened #99928 "Index Patterns REST API for getting list of all patterns"
Builds off of https://github.com/elastic/kibana/issues/72360

[2021-05-12 14:21] elasticmachine commented on #98543
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-12 14:22] elasticmachine commented on #99928
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 14:23] elasticmachine commented on #98230
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-12 14:25] mattkime commented on #99922
Generally speaking, we don't support such a high number of fields because you'll likely suffer from degraded performance in ES - https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html#mapping-limit-settings

[2021-05-12 14:27] elasticmachine commented on #98217
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-12 14:27] #99018 closed

[2021-05-12 14:28] elasticmachine commented on #98203
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-12 14:28] katefarrar commented on #99897
Just jumping in to say this is amazing @estermv! Excited to see the load time go down! 🚀

[2021-05-12 14:30] hungnguyen-elastic commented on #45023
There has also been requests from customers to add connectWise to the list. - https://www.connectwise.com/

[2021-05-12 14:32] elasticmachine commented on #98008
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-05-12 14:41] mikecote opened #99930 "Alerting health API only considers rules in the default space"
I looked at the code within https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/server/health/get_health.ts and saw the usage of `internalSavedObjectsRepository`, which works only with the default space by default (need to specify namespace otherwise). These checks and the health API should consider rules in all spaces.

[2021-05-12 14:41] elasticmachine commented on #99930
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-12 14:49] elasticmachine commented on #97971
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 14:51] #97579 closed

[2021-05-12 14:53] elasticmachine commented on #97358
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 14:59] dmlemeshko commented on #97383
Closing as part of #97382

[2021-05-12 14:59] #97383 closed

[2021-05-12 15:00] #96724 closed

[2021-05-12 15:02] sorantis commented on #99897
Very happy to see the lower numbers. Keep this trend going! :)

[2021-05-12 15:02] elasticmachine commented on #97396
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 15:03] elasticmachine commented on #97204
Pinging @elastic/kibana-security (Team:Security)

[2021-05-12 15:03] estermv commented on #98768
I see some errors in the Stack Monitoring UI after the remote cluster becomes unavailable:

<img width="2022" alt="Screenshot 2021-05-12 at 16 11 58" src="https://user-images.githubusercontent.com/2249229/117989920-fa14aa00-b33c-11eb-920a-5abf005a23e3.png">

These are the steps I followed to test this in staging:
1. I have two deployments: cluster-a and cluster-b, both with monitoring data enabled

[2021-05-12 15:03] elasticmachine commented on #97205
Pinging @elastic/kibana-security (Team:Security)

[2021-05-12 15:05] #98475 closed

[2021-05-12 15:10] Dosant commented on #97396
A single failure 25 days ago? I think it is safe to close until occurs again

[2021-05-12 15:10] #97396 closed

[2021-05-12 15:17] ymao1 opened #99940 "[Alerting] Update alerting feature privilege to allow subfeature privilege separation"
As part of [this issue](https://github.com/elastic/kibana/issues/98818), we have refactored the alerts authorization client to provide a generic consumer/producer based RBAC authorization on alerting entities (currently `rule` and `alert`). In order to support the subfeature privilege model, where for example, users may have `read` privileges on Alerting (Rules & Alerts) but be given elevated subf

[2021-05-12 15:17] elasticmachine commented on #99940
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-12 15:25] #48019 closed

[2021-05-12 15:27] flash1293 opened #99943 "Provide a way to disable client side request cache"
For debugging problems client side request cache can get in the way. There should be a way to turn it off.

I can see a bunch of ways how this could be done:
* yml setting
* advanced setting
* flag on window object

I think advanced setting is the easiest to use (also it will provide an easy-to-use workaround if there's a bug with the caching).

cc @lizozom

[2021-05-12 15:27] elasticmachine commented on #99943
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 15:28] elasticmachine commented on #99923
Pinging @elastic/ml-ui (:ml)

[2021-05-12 15:34] #99798 closed

[2021-05-12 15:35] elasticmachine commented on #97778
Pinging @elastic/siem (Team:SIEM)

[2021-05-12 15:35] #99373 closed

[2021-05-12 15:48] mikecote commented on #99444
For this issue, we should help finalize this PR https://github.com/elastic/kibana/pull/99919 and do some load testing before the end of the release cycle (https://github.com/elastic/kibana/issues/95194).

[2021-05-12 15:52] chrisronline opened #99949 "[Monitoring] Alerts should offer a URL to view alerts in app"
<img width="1256" alt="Screen Shot 2021-05-12 at 11 50 58 AM" src="https://user-images.githubusercontent.com/56682/118005400-5913f800-b318-11eb-8e2f-9b2d91dad00e.png">

The `View in app` is configured through https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/README.md#registernavigation and would help users know where to find these alerts and configure them (if they notice an e

[2021-05-12 15:52] elasticmachine commented on #99949
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-12 15:52] elasticmachine commented on #99949
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-12 15:55] nreese commented on #80078
Reopening, auto closed with merged PR

[2021-05-12 15:58] Zacqary commented on #99897
These are some *really* good numbers for an approach that's not even ditching DOM nodes for canvas.

One possible way to improve this even further (without fully blowing everything up and going WebGL) would be to create some lower level-of-detail components that could represent 4 or 8 or 16 nodes at a time. If the user has 10,000 pods on their screen then I'd be surprised if each of those DOM node

[2021-05-12 16:02] fearful-symmetry commented on #92636
Re-opening, as the related bug was more a blocker to fixing this bug. It looks like the change was merged, once this is in SNAPSHOT I can re-test.

[2021-05-12 16:05] chrisronline opened #99953 "[Alerting] Investigate requiring navigation for all registered alert types"
Related to https://github.com/elastic/kibana/issues/99687 and https://github.com/elastic/kibana/issues/99949

Right now, solutions can optionally [register navigation links](https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/README.md#registernavigation) for alert types, but we should discuss making this a requirement to avoid potentially broken user experiences where they are u

[2021-05-12 16:05] elasticmachine commented on #99953
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-12 16:05] chrisronline commented on #99687
Closing in favor of https://github.com/elastic/kibana/issues/99953 and https://github.com/elastic/kibana/issues/99949

[2021-05-12 16:05] #99687 closed

[2021-05-12 16:06] jfsiii commented on #99895
I bumped into this while working on https://github.com/elastic/kibana/issues/91454

I'll look more into it and try to fix or at least give more info

[2021-05-12 16:25] #96670 closed

[2021-05-12 16:28] elasticmachine commented on #97643
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-05-12 16:33] #79889 closed

[2021-05-12 16:33] #18751 closed

[2021-05-12 16:37] elasticmachine commented on #97778
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-12 16:41] stacey-gammon commented on #72665
Trying to understand what this means.  Are you talking about putting this view:

<img width="1219" alt="Screen Shot 2021-05-12 at 12 39 46 PM" src="https://user-images.githubusercontent.com/16563603/118012574-3802d580-b31f-11eb-9eb9-e44b24af4d74.png">

inside a tab here:

<img width="1212" alt="Screen Shot 2021-05-12 at 12 40 04 PM" src="https://user-images.githubusercontent.com/16563603/118012613

[2021-05-12 16:41] elasticmachine commented on #99884
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-12 16:42] MadameSheema commented on #99774
@deepikakeshav-qasource can you please share the privileges of the user you are using for the testing? Thanks :)

[2021-05-12 16:43] legrego commented on #97205
Appears to be transient, will re-open if failures continue

[2021-05-12 16:43] #97205 closed

[2021-05-12 16:43] legrego commented on #97204
Appears to be transient, will re-open if failures continue

[2021-05-12 16:43] #97204 closed

[2021-05-12 16:46] dmlemeshko commented on #97600
Hi @alah64

Looks like we no longer fetch fields via `/api/saved_objects/_find` since #83891 (released in 7.12)

[Get field mapping API
](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-field-mapping.html)
@elastic/kibana-app-services could you confirm?

[2021-05-12 16:48] elasticmachine commented on #97200
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-12 16:51] elasticmachine commented on #97641
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-12 16:53] MadameSheema commented on #99596
@ecezalp @rylnd can you please take a look at this? thanks :)

[2021-05-12 16:55] dmlemeshko commented on #96717
Hi @zhuyouzhufu,

Could you update the issue following our `Bug report` template?

Thanks

[2021-05-12 16:56] flash1293 opened #99963 "[Lens] Table rendered with horizontal scrollbar on dashboard"
**Kibana version:** master

**Describe the bug:** A Lens table panel is always rendered with horizontal scrollbar on dashboard, even if it's not necessary

**Steps to reproduce:**
1. Go to dashboard
2. Add Lens panel with table
3. Save and return
4. Has a horizontal scrollbar

**Expected behavior:**
Should not have a scrollbar

**Screenshots (if relevant):**
<img width="1277" alt="Screenshot 2021-

[2021-05-12 16:56] elasticmachine commented on #99963
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-12 17:01] elasticmachine commented on #97778
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 17:16] katefarrar opened #99966 "[Logs] Remove tab navigation in place of the new solution navigation"
Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212)

The new solution navigation will mean that the links which are displayed in the Logs header as tabs will be available in the new side navigation. This means that the tabs will be redundant and should be removed.

![Logs - Solution Nav - Stream](https://user-images.githubusercontent.com/455281/118016080-34b51d

[2021-05-12 17:16] elasticmachine commented on #99966
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-12 17:27] katefarrar opened #99968 "[Logs] Add Settings to the header bar"
Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212) and the removal of the tabs navigation (#99966)

Kibana has introduced a new stacked header in Kibana and as a result, menu options can be placed in the secondary header bar along with the breadcrumb.
![Kibana header](https://user-images.githubusercontent.com/4104278/93212936-8c8b8c00-f763-11ea-960f-69ea027ac5

[2021-05-12 17:27] elasticmachine commented on #99968
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-12 17:37] t3chn0m4g3 opened #99969 "Index-Pattern Export only exports URL fields"
**Kibana version: 7.12.1**

**Elasticsearch version: 7.12.1**

**Server OS version: Debian 10**

**Browser version: Latest Chrome**

**Browser OS version: Latest Windows 10**

**Original install method (e.g. download page, yum, from source, etc.): dpkg**

**Describe the bug: Index-Pattern should include all fields, not just the URL based fields**

**Steps to reproduce:**
1. Login to Kibana
2. Goto

[2021-05-12 17:40] afharo commented on #56498
Cool! Good to know! I'm going to mark this issue as blocked then, while we get there.

[2021-05-12 17:55] katefarrar opened #99970 "[Metrics] Remove tab navigation in place of the new solution navigation"
Related to the new solution navigation (https://github.com/elastic/kibana/issues/98212)

Since the new solution navigation will contain the global views as links, we no longer need the tabs navigation on the global views.

![Metrics - Inventory](https://user-images.githubusercontent.com/455281/118021755-ce7fc880-b318-11eb-8772-ee6f50015174.png)
![Metrics - Metrics Explorer](https://user-images.git

[2021-05-12 17:55] elasticmachine commented on #99970
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-12 17:57] mattkime commented on #72665
@stacey-gammon Exactly

[2021-05-12 18:00] katefarrar opened #99971 "[Metrics] Add Settings link to the header bar"
Related to the new [solution navigation](https://github.com/elastic/kibana/issues/98212) and the removal of the tabs navigation (#99970)

Kibana has introduced a new stacked header in Kibana and as a result, menu options can be placed in the secondary header bar along with the breadcrumb.
![Kibana header](https://user-images.githubusercontent.com/4104278/93212936-8c8b8c00-f763-11ea-960f-69ea027ac5

[2021-05-12 18:00] elasticmachine commented on #99971
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-12 18:01] mattkime commented on #97600
@alah64 You'll get what you need by using the Index Patterns API - https://github.com/elastic/kibana/pull/83576 - using other methods (such as the field mapping API) may produce inconsistent results.

[2021-05-12 18:08] legrego commented on #84624
Our old `13.x` version of Joi depends on a version of `hoek` that is now vulnerable to a prototype pollution attack. Fortunately, we are not impacted, but this appears on our scanners now, and is something we'll have to continue to monitor: https://snyk.io/vuln/SNYK-JS-HAPIHOEK-548452

---

The upgrade to newer versions of Joi is non-trivial. There are a lot of breaking changes from `13.x` -> `17.

[2021-05-12 18:28] legrego commented on #84624
Our old 13.x version of Joi depends on a version of hoek that is now vulnerable to a prototype pollution attack. Fortunately, we are not impacted, but this appears on our scanners now, and is something we'll have to continue to monitor: snyk.io/vuln/SNYK-JS-HAPIHOEK-548452

The upgrade to newer versions of Joi is non-trivial. There are a lot of breaking changes from 13.x -> 17.x, and my very brief

[2021-05-12 18:30] yctercero opened #99975 "[Security Solution][Exceptions] - Unable to add value that includes ',' in "is one of" operator"
**Describe the bug:**
When adding an exception with the operator "is one of" values that include commas are automatically parsed into separate values. For example, if you start typing "Exceptions, rock". It evaluates it as two values "exceptions" and "rock".

**Kibana/Elasticsearch Stack version:**
7.10+

**Steps to reproduce:**

1. Open exception modal
2. Select a field
3. Select operator "is one

[2021-05-12 18:30] elasticmachine commented on #99975
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-12 18:32] elasticmachine commented on #99890
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 18:35] yctercero commented on #99975
Brought to our attention via forums - https://discuss.elastic.co/t/detection-rule-exceptions-is-one-of-comma-in-value/272738

[2021-05-12 18:39] rylnd commented on #99913
@dipenpatel235 would you be able to share the (redacted) .ndjson file that is causing this error? I have thus far been unable to reproduce by exporting/importing an indicator match rule.

[2021-05-12 18:44] kobelb commented on #98912
## Shard-Sizes

Won't having all of these components in the index-name result in us having a bunch of rather small indices and as a result shards? The official Elasticsearch guidance is that we should aim for each shard to be between [10GB and 65GB](https://www.elastic.co/guide/en/elasticsearch/reference/current/size-your-shards.html#shard-size-recommendation) and to aim for [20 shards or fewer pe

[2021-05-12 19:14] jportner commented on #91682
@frankeros we have this on our list of things to look at soon, continue following this issue for any updates!

[2021-05-12 19:19] cskowronnek commented on #33959
Any news on this?

[2021-05-12 19:23] randomuserid commented on #91910
So I have the OK from @blaklaybul to make an update to the data feed query for this job, which should not require shipping a new job. I am going to plan and get this into 7.13.1  - or 7.13.12 at worst.

[2021-05-12 19:24] #76168 closed

[2021-05-12 19:24] #87711 closed

[2021-05-12 19:24] #91242 closed

[2021-05-12 19:24] #92302 closed

[2021-05-12 19:28] henrikno commented on #97337
@mattkime: With the REST API. Currently we actually update `.kibana` indices directly, which we're trying to migrate away from.

[2021-05-12 19:38] #99667 closed

[2021-05-12 19:47] petrklapka opened #99984 "Renamed Issue In Github"
**Describe the feature:**

**Describe a specific use case for the feature:**

[2021-05-12 19:47] elasticmachine commented on #99984
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 20:13] archon810 commented on #94082
Thank you @dokmic!

[2021-05-12 20:16] mattkime commented on #97337
I spoke with @henrikno and he said they're setting up index patterns from a process outside of kibana, hence the REST API usage.

[2021-05-12 20:27] austinsonger commented on #95618
@gmmorris @pmuellr @cnasikas

**This is what happens**

![I80ImbzUlm.png](https://i.imgur.com/uuIUlqA.png)

**after I followed this:**

[2021-05-12 20:28] randomuserid commented on #91910
Some research is needed here. At present, both successful and unsuccessful auth events appear to be mapped to the event.type:start in the authentication category. Maybe use event.action but we mostly stopped using that field last fall?

<img width="1498" alt="image" src="https://user-images.githubusercontent.com/2520862/118039977-f2560500-b33e-11eb-85af-08b18c9ea9f8.png">

[2021-05-12 20:40] stacey-gammon opened #99988 "Mark IIndexPattern as deprecated and add removeBy"
As per https://github.com/elastic/kibana/discussions/99462#discussioncomment-730982, IIndexPattern is deprecated (and possibly `IFieldType` too?).

If an `@deprecated` flag is added into the description with an `@removeBy` we can start getting folks off of it and a path for removal. Usage would also show up in the deprecated API list [here](https://elasticdocstest.netlify.app/kibana-dev-docs/depre

[2021-05-12 20:40] elasticmachine commented on #99988
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 20:51] jfsiii commented on #99898
@rudolf agreed. At a minimum, we can filter it from the drop-down like we do when adding agents.

It'd be nice to have the API pick up the "400 error response for hosted policies (unless given a `force` param)

[2021-05-12 20:57] mostlyjason commented on #99745
Doesn't seem like it'd affect functionality?

[2021-05-12 21:08] elasticmachine commented on #97200
Pinging @elastic/kibana-security (Team:Security)

[2021-05-12 21:10] ThomThomson opened #99993 "[Controls] Engineering Implementation Meta Issue"
This is a meta issue for all implementation steps related to the first phase of the Controls project.

By the end of this phase, deliverables will include

- A controls group which can optionally be used to more easily interact with dashboards.
- The ability to add and configure any number of `options list` style controls:
- Multi select & Single select options for the options list
- Typeahead sea

[2021-05-12 21:10] elasticmachine commented on #99993
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-12 21:14] jportner commented on #97200
Did you test this with any other browsers? Chrome and Firefox should behave the same way.

Did you happen to configure Kibana to add a SameSite attribute to session cookies? See:
* https://www.elastic.co/guide/en/kibana/7.12/embedding.html#embedding-cookies
* https://www.elastic.co/guide/en/kibana/7.12/security-settings-kb.html#xpack-security-sameSiteCookies

If you don't add this attribute, moder

[2021-05-12 21:15] tsullivan opened #99994 "[Reporting] Document why it's possible to have many `version conflict` errors in the logs"
**Describe the feature:**
New section of documentation to add to https://www.elastic.co/guide/en/kibana/current/reporting-troubleshooting.html#reporting-troubleshooting-error-messages

## Why am I seeing version conflict errors in the Kibana server logs?
Every instance of Kibana with Reporting shares the "queue" of incoming report jobs. An instance "claims" a job, and ensures no other instance wil

[2021-05-12 21:15] elasticmachine commented on #99994
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-12 21:25] AlonaNadler opened #99997 "Track new visualization created from dashboard vs Visualize events"
It would be helpful if we can tell how many time **new** visualization was created from Visualize vs Dashboard
The metric should track based on intervals 30 days 90 days, and the total number of times new visualization was created from the dashboard
![image](https://user-images.githubusercontent.com/32550316/118046074-a77fc180-b32d-11eb-9dee-cda92b74a206.png)
In addition, 30days 90 days, and the t

[2021-05-12 21:45] randomuserid commented on #91910
so it looks like event.outcome is mapped to success for event 4624 (a windows login.) However, we need to use either
`winlog.logon.type or winlog.event_data.LogonType` today to match a remote RDP login for a few reasons. Eventually, these fields will be deprecated when new fields like session.type are implemented, and this query will break again and need to be refactored.

The quickest fix here wo

[2021-05-12 22:12] Zacqary opened #100003 "[Metrics UI] Doc count on Metric Threshold alerts are prone to data gaps"
As revealed by an SDH issue, the `doc_count` aggregator on Metric Threshold alerts will sometimes return a 0 or an unexpectedly low amount if document indexing and alert evaluation fall out of sync with one another.

Index Threshold alerts aren't prone to this behavior, likely because they use `date_range` instead of `date_histogram` with an `offset` to bucket their data.

[2021-05-12 22:12] elasticmachine commented on #100003
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-13 00:00] TinaHeiligers commented on #56498
@pgayvallet thanks for the ping! I've added that request to the every-growing list of `uiSettings` [service enhancements](https://github.com/elastic/kibana/issues/48925).

We need to tackle that list as a team soon (before 8.0.0 gets too close) and organize it in terms of what's still valid & prioritize the enhancements

[2021-05-13 00:33] cjcenizal commented on #28626
ES UI is trying to find a way to fit this onto our roadmap. In the meantime, please try one of these alternatives:

- https://dissect-tester.jorgelbg.me/
- https://andrewkroh.github.io/beats-playground/
- Use the Stack Management > Ingest Node Pipelines app to test out dissect expressions using the dissect processor and preview (see screenshots below)

![image](https://user-images.githubuserconten

[2021-05-13 02:01] erictung1999 opened #100007 "[Reporting] Reporting generation fails occasionally - Error 500"
**Kibana version:**
7.12.1 (using Docker image from docker.elastic.co)

**Elasticsearch version:**
7.12.1 (using Docker image from docker.elastic.co)

**Server OS version:**
CentOS 7

**Browser version:**
Not applicable to this issue

**Browser OS version:**
Not applicable to this issue

**Original install method (e.g. download page, yum, from source, etc.):**
Using Docker image from docker.elasti

[2021-05-13 02:12] erictung1999 opened #100008 "[Reporting] Defects in displaying data table in PDF/PNG reports"
**Kibana version:**
7.12.1 (using Docker image from docker.elastic.co)

**Elasticsearch version:**
7.12.1 (using Docker image from docker.elastic.co)

**Server OS version:**
CentOS 7

**Browser version:**
Not applicable to this issue

**Browser OS version:**
Not applicable to this issue

**Original install method (e.g. download page, yum, from source, etc.):**
Using Docker image from docker.elasti

[2021-05-13 02:12] elasticmachine commented on #98008
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-13 02:13] tsullivan commented on #98008
Just noticed this, I did not get to see any more context in the logs that would help explain what happened.

[2021-05-13 02:14] tsullivan commented on #98426
Hi @liza-mae can the setting be added for versions greater than 7.13?

[2021-05-13 02:18] markwalkom opened #100009 "Show per day size stats for ILM indices"
**Describe the feature:** Currently ILM can contain a variable number of days worth of data in an index. There's been a few topics on Discuss asking how to calculate the amount of data that is being created per day, which becomes a bit tricky.
It seems like we should be able to create something in Monitoring that calculates this and shows it to users.

**Describe a specific use case for the featur

[2021-05-13 02:41] kibanamachine opened #100010 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/share_remove·ts - spaces api with security _share_saved_object_remove superuser targeting the default space should return 204 success [sharedtype/each_space]"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13874/)

[2021-05-13 02:41] kibanamachine opened #100011 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/share_remove·ts - spaces api with security _share_saved_object_remove superuser targeting the default space "after all" hook for "should return 404 not found [sharedtype/space_1_and_space_2]""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13874/)

[2021-05-13 02:41] kibanamachine opened #100012 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/spaces/enter_space·ts - Spaces app Enter Space allows user to navigate to different spaces, respecting the configured default route"
A test failed on a tracked branch

[code]

![image](https://user-images.githubusercontent.com/10977896/118515403-a5ef3880-b735-11eb-8fef-ed127be1ee1c.png)

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13874/)

[2021-05-13 02:48] tsullivan commented on #18439
We could re-use the screenshot generation code in a new endpoint that simply generates the PNG/PDF data and returns it for the initial request. We did this for CSV export as the "Download CSV" button in the sharing menu of a saved search panel embedded in a dashboard. It sounds like it would really help to standardize something like that for the PNG and PDF report types as well.

That's a separate

[2021-05-13 03:03] tsullivan commented on #99890
We should migrate away from using the URL as parameter field in the JobParams of PDF / PNG export. Instead, let's look at using a serialized object that can be interpreted by the URL Service: https://github.com/streamich/kibana/blob/master/rfcs/text/0017_url_service.md

Take https://github.com/elastic/kibana/blob/4a541883557bcee83baf09b2c0ddab702f780e45/x-pack/plugins/reporting/server/export_types

[2021-05-13 03:03] tsullivan commented on #99890
cc @streamich

[2021-05-13 05:45] kyosifov commented on #10335
Is there any fix for this. I am using OpenVidu -- https://s3-eu-west-1.amazonaws.com/aws.openvidu.io/install_openvidu_pro_2.17.0.sh and the docker-compose.yml file is using the kibana and elastic search services, but when i try to connect to kibana I get the error message "Too many redirects"

[2021-05-13 06:29] deepikakeshav-qasource commented on #99774
Hi @MadameSheema,

We are using the superuser privileges for testing:

Build Details:
[code]
**Screenshot:**
![user_privileges](https://user-images.githubusercontent.com/61860752/118086490-b32cc000-b3e1-11eb-840d-1381e4e476fd.jpg)
![endpoint_rule_error](https://user-images.githubusercontent.com/61860752/118086499-b627b080-b3e1-11eb-9a60-bfd6e87cb03c.jpg)

Please let us know if anything else is req

[2021-05-13 07:44] #98102 closed

[2021-05-13 08:04] deepikakeshav-qasource commented on #99338
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC5 build and observed that issue is **fixed**. "is in list" operator is displaying under rule exception.

Build Details:
[code]

**Screenshot:**
![rule_exeption_drop_down](https://user-images.githubusercontent.com/61860752/118093731-7fef2e80-b3eb-11eb-8636-dc3f64b46969.jpg)

![Exception_is_in](https://user-images.githubusercontent.com

[2021-05-13 08:04] #99338 closed

[2021-05-13 08:05] mandeepkaur-qasource commented on #99891
Hi @MadameSheema,

We have validated this ticket on 7.13.0 BC5 build and observed that issue is fixed. No error message is getting displayed by clicking on 'Show Top' icon for both destination/source ip options As 'Top Destination ip' modal window is popped up and correct alert count along with the graph is getting displayed on Detection Alert Trends table.

Build Details:
Version: 7.13.0 BC5
Buil

[2021-05-13 08:58] afharo commented on #84624
AFAIK, @pgayvallet has _almost_ completed the upgrade.

Apart from the security benefits mentioned by @legrego, we also noticed considerable improvements in performance (https://github.com/gcanti/io-ts-benchmarks/pull/6)

[2021-05-13 09:09] ghost opened #100018 "[Security Solution][Enhancement]Uploaded files should be sorted/arranged in alphabetical order OR as per recent Upload date on 'Upload Value List' modal."
**Description:**
[Enhancement]Uploaded files should be sorted/arranged in alphabetical order OR as per recent Upload date on 'Upload Value List' modal.

**Build Details:**
Version: 7.13.0 BC5
Build: 40845
Commit: ffb66d357906e1e81a22e3fb11af7b65f00c934a
Artifact link: https://staging.elastic.co/7.13.0-40842f6d/summary-7.13.0.html

**Browser Details:**
All

**Preconditions:**
- Kibana Environment s

[2021-05-13 09:09] elasticmachine commented on #100018
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 09:09] mandeepkaur-qasource commented on #100018
@manishgupta-qasource Sir, Please review!

[2021-05-13 09:10] elasticmachine commented on #100018
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-13 09:12] vitich commented on #28492
It would be great!

[2021-05-13 09:13] paulb-elastic commented on #87272
Being worked on under https://github.com/elastic/kibana/pull/99985

[2021-05-13 09:13] manishgupta-qasource commented on #100018
Reviewed the issue

[2021-05-13 09:18] karanbirsingh-qasource commented on #97477
Hi @MadameSheema

we have validated this issue on 7.13.0 BC5 and found it fixed . Now user is getting  details of Integration, policy status and sensor version under host details.

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/118105414-fbf07300-b3f9-11eb-9241-dbcc90de6ca3.png)

Hence closing this issue.

thanks !!

[2021-05-13 09:18] #97477 closed

[2021-05-13 09:19] peteharverson commented on #97065
@TomonoriSoejima could you supply a screenshot where the `customer_id` query you are trying in the search bar is not giving the expected results in the Transform preview table? I have tried to follow the same steps as you, but the preview looks to be showing the expected results for me (here I just get a single row for `customer_id : 20`):

![image](https://user-images.githubusercontent.com/740550

[2021-05-13 09:23] deepikakeshav-qasource opened #100019 "[Security Solution] Unable to setup beats like: [Auditbeat, packetbeat, filebeat] after installation of the agent on ON-PREM environment."
**Description**
Unable to setup beats like: [Auditbeat, packetbeat, filebeat] after installation of the agent on ON-PREM environment.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana should be up.
2. Agent and Endpoint should be installed.

**Steps to Reproduce:**
1. Open the yml file of beat say auditbeat.yml.
2. uncomment the username and password.
3. Run the co

[2021-05-13 09:23] elasticmachine commented on #100019
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 09:24] deepikakeshav-qasource commented on #100019
@manishgupta-qasource Please review!!

[2021-05-13 09:40] manishgupta-qasource commented on #100019
Reviewed & assigned to @MadameSheema

[2021-05-13 09:41] mandeepkaur-qasource opened #100020 "[Security Solution]Log for deleted Value list file retains on the Upload Value List table."
**Description:**
Log for deleted Value list file retains on the Upload Value List table.

**Build Details:**
Version: 7.13.0 BC5
Build: 40845
Commit: ffb66d357906e1e81a22e3fb11af7b65f00c934a
Artifact link: https://staging.elastic.co/7.13.0-40842f6d/summary-7.13.0.html

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be in

[2021-05-13 09:41] elasticmachine commented on #100020
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 09:41] mandeepkaur-qasource commented on #100020
@manishgupta-qasource Please review!

[2021-05-13 09:42] manishgupta-qasource commented on #100020
Reviewed & assigned to @MadameSheema

[2021-05-13 09:57] ibtehajn commented on #53840
Hi,

I am seeing the same issue. The fact that the discover tab doesn't correctly recognize fields of sub-objects wrapped in arrays is clearly a bug itself (the highlighting issue is just one problem that arises as a result, but this is not the root cause nor the only issue). Other problems e.g. are that you cannot use the "filter for value" button on affected fields. See also [this](https://discu

[2021-05-13 10:02] elasticmachine commented on #100020
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-13 10:03] MadameSheema commented on #100020
@mandeepkaur-qasource can you please confirm if after refreshing the browser the list is still present? Thank you :)

[2021-05-13 10:04] MadameSheema commented on #100020
@mandeepkaur-qasource can you please also check if this bug is present on 7.12.1? Thanks :)

[2021-05-13 10:27] cnasikas commented on #85980
Fixed by: https://github.com/elastic/kibana/pull/91407

[2021-05-13 10:27] #85980 closed

[2021-05-13 10:27] mandeepkaur-qasource commented on #100020
Refreshed the Browser and found that the list is not present.

Thanks!!

[2021-05-13 10:28] ghost opened #100021 "[Security Solution] UI is distorted after adding the multiple jobs in ML rule"
**Description**
UI is distorted after adding the multiple jobs in ML rule

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana should be up.
2. Endpoint should be installed.

**Steps to Reproduce:**
1. Navigate to the detections tab of security.
2. Click on "Manage detection rules".
3. Click on create a new rule.
4. Select the ML rule.
5. Create a rule with multiple j

[2021-05-13 10:28] elasticmachine commented on #100021
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 10:28] deepikakeshav-qasource commented on #100021
@manishgupta-qasource Please review

[2021-05-13 10:29] cnasikas commented on #84049
Fixed by https://github.com/elastic/kibana/pull/96507

[2021-05-13 10:29] #84049 closed

[2021-05-13 10:29] manishgupta-qasource commented on #100021
Reviewed & assigned to @MadameSheema

[2021-05-13 10:30] cnasikas commented on #64824
Moving Cases outside of security solution reduce the size of the plugin significantly.

[2021-05-13 10:30] #64824 closed

[2021-05-13 10:34] mandeepkaur-qasource commented on #100020
Cross checked this on 7.12.1 and found that it's working fine there.

**Build Details:**
Version: 7.12.1
Build: 39457
Commit: abb04c5543d2201630c9669fe3680864506d924e

![working fine](https://user-images.githubusercontent.com/78949593/118113829-68706f80-b404-11eb-9649-7a9f4808652e.gif)

[2021-05-13 10:51] elasticmachine commented on #100021
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-13 11:10] mikecote commented on #98900
We should also think about the import/export experience. Since the pre-configured connectors won't move from system to system, what is the expected behaviour when rules reference them? Do we assume the same experience as if a user deleted a connector and no longer exists? (cc @ymao1)

[2021-05-13 11:11] mandeepkaur-qasource opened #100023 "[Security Solution][Enhancement]No validation message is getting displayed on uploading the same file on 'Upload Value List' table."
**Description:**
No validation message is getting displayed on uploading the same file on 'Upload Value List' table.

**Build Details:**
Version: 7.13.0 BC5
Build: 40845
Commit: ffb66d357906e1e81a22e3fb11af7b65f00c934a
Artifact link: https://staging.elastic.co/7.13.0-40842f6d/summary-7.13.0.html

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security an

[2021-05-13 11:11] elasticmachine commented on #100023
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 11:12] mandeepkaur-qasource commented on #100023
@manishgupta-qasource  Please Review!

[2021-05-13 11:31] karanbirsingh-qasource commented on #89205
Hi @MadameSheema

we have validated this issue on 7.13.0 BC5 and found that issue is fixed ✔️ . No unexpected value are displayed in the top source ip modal and even no error in thrown when investigating source.ip value and check top source

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/118119908-b4bfad80-b40c-11eb-8c0c-fcaffe14d75a.png)
![

[2021-05-13 11:36] karanbirsingh-qasource commented on #96553
Closing this issue as it fixed , Posted the details on the linked ticket https://github.com/elastic/kibana/issues/97477#issuecomment-840432424

thanks!!

[2021-05-13 11:36] #96553 closed

[2021-05-13 11:37] karanbirsingh-qasource commented on #99326
opening this issue to post the QA validation details

[2021-05-13 11:44] karanbirsingh-qasource commented on #99326
Hi @machadoum

we have validated this issue on 7.13.0 BC5 and found it fixed ✅ . Now Success deletion prompt is received on UI on Deleting Timeline/Timeline Template.

**Build Details:**
[code]

**Snap-Shoot:**
- **Timeline Deletion Success prompt**
  - _Single Timeline_
![image](https://user-images.githubusercontent.com/59917825/118121020-71663e80-b40e-11eb-9065-8f57a1387de6.png)

  - _Bulk Timel

[2021-05-13 11:44] #99326 closed

[2021-05-13 12:12] manishgupta-qasource commented on #100023
Reviewed & assigned to @MadameSheema

[2021-05-13 12:12] karanbirsingh-qasource opened #100025 "[Security Solution]Import Query from saved timeline under detection rule not working with Correlation Timeline"
**Describe the bug**
Import Query from saved timeline under detection rule not working with Correlation Timeline

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC3 should be there.
2. Auditbeat should be installed.
3. Correlation Timeline should be there on kibana
`process where process.name == "cmd.exe"`
[code]
**Steps to Reproduce**
1.

[2021-05-13 12:12] elasticmachine commented on #100025
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 12:13] karanbirsingh-qasource commented on #100025
@manishgupta-qasource please review

[2021-05-13 12:14] sophiec20 opened #100026 "[ML] use_null is not cloned for anomaly detection job"
Found in 7.12.0

When cloning an anomaly detection job with the following detector, the value of `use_null` is not cloned.  When `use_null` is not specified, it defaults to false.

[code]

Expected result:
If `use_null: true` has been specified, it should be preserved on clone.

[2021-05-13 12:14] elasticmachine commented on #100026
Pinging @elastic/ml-ui (:ml)

[2021-05-13 12:14] manishgupta-qasource commented on #100025
Reviewed & assigned to @MadameSheema

[2021-05-13 12:27] MadameSheema commented on #100023
Closing as duplicate of: https://github.com/elastic/kibana/issues/81153 Thanks for reporting :)

[2021-05-13 12:27] #100023 closed

[2021-05-13 12:28] elasticmachine commented on #100025
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-13 12:34] jgowdyelastic commented on #100026
This also occurs if you create a new advanced job and add `use_null` via the JSON editor. the value is not saved in the detector

[2021-05-13 12:49] deepikakeshav-qasource commented on #100019
We did run scenario in 7.13.0 BC3 build but it was different. We installed the agent after install the auditbeat, packebeat and filebeat. And hence it was working fine.
But this time, we did the setup after agent installation, and it failed. But if we do the setup without agent installation or we install the agent after install the auditbeat, packebeat and filebeat, it works fine in BC5 too. Also,

[2021-05-13 12:55] jgowdyelastic commented on #100026
Fixed by https://github.com/elastic/kibana/pull/100028

[2021-05-13 13:09] ymao1 commented on #98900
Currently, if the kibana config is changed to remove a preconfigured connector, the UX for rules that use that connector is the same as for non preconfigured connectors that are deleted. So for the import/export case, I think it makes sense that importing a rule that references a preconfigured connector that doesn't exist in the new system should have that same UX.

In all these cases, I think it'

[2021-05-13 13:39] mtojek opened #100031 "Internal Server Error: version_conflict_engine_exception"
Spotted in: https://github.com/elastic/integrations/pull/987

I found this error after failed CI test run:

[code]

Source: https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/PR-987/4/artifact/build/elastic-stack-dump/latest/zeek/logs/kibana.log

Elasticsearch: https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/PR-987/4/artifact/build/elastic-stack-dump/latest/zee

[2021-05-13 13:39] elasticmachine commented on #100031
Pinging @elastic/fleet (Team:Fleet)

[2021-05-13 14:16] #97956 closed

[2021-05-13 14:31] afharo opened #100037 "[ConfigDeprecationService] Collect deprecation messages"
In the config deprecation hooks, there are some places where we don't _mutate_ the config object, but we do log that the key is deprecated.

Examples of this:
- ~~https://github.com/elastic/kibana/blob/master/src/plugins/kibana_legacy/server/index.ts#L19-L41~~
- ~~https://github.com/elastic/kibana/blob/master/x-pack/plugins/banners/server/config.ts#L42-L54~~
- https://github.com/elastic/kibana/blo

[2021-05-13 14:32] elasticmachine commented on #100037
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-05-13 14:32] elasticmachine commented on #100037
Pinging @elastic/kibana-core (Team:Core)

[2021-05-13 14:37] elasticmachine commented on #100019
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-05-13 14:39] kibanamachine commented on #96997
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13886/)

[2021-05-13 14:44] mikecote commented on #87010
Flakiness hasn't returned in a few weeks, closing for now.

[2021-05-13 14:44] #87010 closed

[2021-05-13 15:11] dgieselaar opened #100039 "[APM] Update config flag / docs for rule registry/Observability alerts page"
The Observability Alerts page feature flag is currently marked as unsafe. In 7.14, we intend to ship with it enabled by default, so the feature flag needs to be renamed, assuming we want to keep it. If we don't, it should be removed. We should also update the README in https://github.com/elastic/kibana/blob/120521feb6b3359613601a10af329e0aca100645/x-pack/plugins/observability/README.md (for the ru

[2021-05-13 15:11] elasticmachine commented on #100039
Pinging @elastic/apm-ui (Team:apm)

[2021-05-13 15:15] VijayDoshi opened #100040 "Sample Data dashboards should use "by value" vs. "by ref" assets to keep Visualize Library tidy"
Currently, when you install sample data you create a lot of assets in the Visualize Library. Ideally, you'd only see the Dashboards and all the objects would be embedded - this will keep the Visualize Library tidy.

@AlonaNadler @alexfrancoeur, not sure who would own this, perhaps something someone on the PM team could do.

[2021-05-13 15:17] pmuellr opened #100042 "[actions] pagerduty action does not support empty string for timestamp parameter"
Found in customer's Kibana logs:

[code]

It appears this is working as coded: https://github.com/elastic/kibana/blob/ee9d469295d80598ec1ce8142869987812fd9597/x-pack/plugins/actions/server/builtin_action_types/pagerduty.ts#L73-L110

I'm not quite sure how the pagerduty actions here were created - I'd have guessed that the Kibana UI would use a `null` in this case, which would then validate.  Maybe

[2021-05-13 15:17] elasticmachine commented on #100042
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-13 15:28] ymao1 opened #100043 "Export hooks are not called when exporting referenced saved objects"
I have two saved object types `alerts` and `actions` that implement the `onExport` hook to perform some simple transformations before export. The `alerts` SO can reference the `actions` SO. When exporting `actions` on their own, the `onExport` hook is called correctly. When exporting `alerts` with referenced `actions`, the `alerts` `onExport` hook is called bu the `actions` `onExport` hook is not

[2021-05-13 15:28] elasticmachine commented on #100043
Pinging @elastic/kibana-core (Team:Core)

[2021-05-13 15:35] andrewvc opened #100044 "[Uptime] Implement new solution navigation"
This issue tracks heading new solution navigation per https://github.com/elastic/kibana/issues/98212 for the uptime app. See also https://github.com/elastic/kibana/pull/99380

[2021-05-13 15:35] #88139 closed

[2021-05-13 15:35] elasticmachine commented on #100044
Pinging @elastic/uptime (Team:uptime)

[2021-05-13 15:35] andrewvc opened #100045 "[RUM] Implement new solution navigation"
This issue tracks heading new solution navigation per #98212 for the RUM app. See also #99380

[2021-05-13 15:36] elasticmachine commented on #100045
Pinging @elastic/uptime (Team:uptime)

[2021-05-13 15:37] andrewvc commented on #100044
Dupe of https://github.com/elastic/kibana/issues/99901

[2021-05-13 15:37] #100044 closed

[2021-05-13 15:37] andrewvc commented on #100045
Dupe of https://github.com/elastic/kibana/issues/99901

[2021-05-13 15:37] #100045 closed

[2021-05-13 15:53] TheChedda opened #100048 "Kibana Stack Monitoring shows environment variable instead of name."
**Kibana version**: 7.12

**Elasticsearch version**: 7.12

**Server OS version**: RHEL 7

**Browser version**: Edge

**Browser OS version**: Edge Version 90.0.818.56

**Original install method (e.g. download page, yum, from source, etc.)**: YUM

**Description of the problem including expected versus actual behavior**: I am seeing the variable that I had set in the Kibana.yml file. I think the issu

[2021-05-13 16:03] blakerouse opened #100050 "[Fleet] Upgrade from v7.12 to v7.13 results in a policy in the .fleet-policies index without any fleet connection information"
**Kibana version:**

7.12 -> 7.13 Migration

**Describe the bug:**

Upgrade from v7.12 to v7.13 results in a policy in the .fleet-policies index without any fleet connection information.

Without this information the Elastic Agent updates the `fleet.yml` to be an incorrect value. Elastic Agent should handle that better (https://github.com/elastic/beats/issues/25586), but `fleet.*` should never be

[2021-05-13 16:05] alexfrancoeur commented on #100040
It feels like we could extend this tidying up to include more dashboard best practices. Lens visualizations, tags, descriptions, etc. Maybe even a runtime field or two!?

[2021-05-13 16:14] cjcenizal commented on #97689
Relates to https://github.com/elastic/kibana/issues/98956

[2021-05-13 16:15] elasticmachine commented on #100050
Pinging @elastic/fleet (Team:Fleet)

[2021-05-13 16:21] ppisljar commented on #93798
this has been resolved, please reopen if that is not the case

[2021-05-13 16:21] #93798 closed

[2021-05-13 16:25] ppisljar commented on #91807
closeing as this will be resolved by scheduled reports feature which we are tracking here https://github.com/elastic/kibana/issues/79905

[2021-05-13 16:25] #91807 closed

[2021-05-13 16:25] #55741 closed

[2021-05-13 16:32] lukeelmers commented on #100043
Took a quick look at this, and AFAICT it must have been a case we didn't consider in the initial implementation. The SO exporter tests check that the transforms are applied to a SO type, but not that they are applied to referenced objects.

[2021-05-13 16:37] eeijlar commented on #79905
Can the following use case be considered:

- I want to run a performance test in an empty Kubernetes cluster. I deploy an application, and run the performance test. During the test, the relevant performance metrics from the application are sent to an ELK instance running in the Kubernetes cluster. At the end of the test I want to generate a report (pdf or png) from an imported Kibana dashboard, or

[2021-05-13 16:40] elasticmachine commented on #95721
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-13 16:41] eeijlar commented on #67420
+1 I have exactly the same issue!

[2021-05-13 16:46] cjcenizal commented on #83910
@elastic/kibana-core Console current depends upon `elasticsearch.legacy.$config` ([code](https://github.com/elastic/kibana/blob/master/src/plugins/console/server/plugin.ts#L42)). We intend to migrate away from this dependency in 8.0 (https://github.com/elastic/kibana/issues/39494). I just wanted to surface this to you to ensure that this dependency won't be removed as part of the ES JS client migr

[2021-05-13 17:05] chrisronline commented on #98902
## Proposal

To ensure users have the right tools and visibility to understand and react to the health and performance of the alerting framework (including task manager), we need to integrate into existing infrastructure and tooling provided to users of the stack (specifically thinking Stack Monitoring and/or APM). This will ensure we do not need to reinvent the wheel when it comes to how to colle

[2021-05-13 17:14] elasticmachine commented on #97643
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-13 17:14] tsullivan commented on #97643
@elastic/kibana-app is it possible to supply Reporting with a "non-edit mode" URL in the job parameters for a PDF/PNG report?

[2021-05-13 17:18] wylieconlon commented on #99790
@Sagesh Your configuration shows that your field contains at least two values, for example `[484, 485]`. The average of two integers is not always an integer. This is not a bug.

[2021-05-13 17:18] #99790 closed

[2021-05-13 17:19] elasticmachine commented on #99740
Pinging @elastic/kibana-core (Team:Core)

[2021-05-13 17:19] afgomez opened #100057 "Update `<LogStream/>` docs regarding source configuration `logAlias`"
On the [`<LogStream/>` documentation](https://github.com/elastic/kibana/blob/master/x-pack/plugins/infra/public/components/log_stream/log_stream.stories.mdx#with-a-source-configuration) we show an example to add a custom source configuration. This example is outdated and needs to show the new `logIndices` instead of `logAlias`

[2021-05-13 17:19] elasticmachine commented on #100057
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-13 17:29] tsullivan commented on #79905
@eeijlar this sounds like more of an Alerting use case. We do want to enable reporting as an Action of an Alert. Could your use case look like something this:

1. Import the dashboard into the stack
2. Create an alert in the stack that triggers when testing is done.
3. Run the performance test and send the metrics to the Elastic stack.
4. When tests are done, the alert fires (maybe based on some f

[2021-05-13 17:29] elasticmachine commented on #100040
Pinging @elastic/kibana-core (Team:Core)

[2021-05-13 17:44] Sagesh commented on #99790
Hi @wylieconlon ,

Thanks for your quick reply.

Where did you see 2 values in the field. I have put the count column next to the average which shows as '1'. For testing, I have populated only 1 value.

![image](https://user-images.githubusercontent.com/23548722/118164704-03873a80-b441-11eb-824a-130770b95c54.png)

Thanks.
Sagesh

[2021-05-13 17:48] wylieconlon commented on #99790
@Sagesh Your configuration shows that you are are doing `Sum of InclusiveTime` and `Average of InclusiveTime`, but gettin different values. This means that you _must have more than one value_, because if you only had one value you would get the same value for average and sum.

[2021-05-13 17:50] tsullivan commented on #78056
closing as not reproducible

[2021-05-13 17:50] #78056 closed

[2021-05-13 17:58] tylersmalley opened #100060 "[FTR] Re-enable doc views functional tests"
I have disabled this suite as we investigate shard failure and missing default space errors.

[2021-05-13 17:58] elasticmachine commented on #100060
Pinging @elastic/kibana-operations (Team:Operations)

[2021-05-13 17:59] tsullivan commented on #78478
This is no longer accurate. As of https://github.com/elastic/kibana/pull/94966, when a user has access to any Reporting feature, they automatically get access to the Management app and the Reporting management UI.

[2021-05-13 17:59] tylersmalley commented on #100060
master: da048be1f485f128a4f03b7b09dcfe5cbaa1497f

[2021-05-13 18:01] jportner commented on #55997
@Ftelf As mentioned above, the console error message at the top is about an inline script not executing is expected, it is a security feature and it is not causing any functionality problems in Kibana.

The reason you are having a problem is that it appears you have set a more restrictive Content-Security-Policy response header. Here is the default header for Kibana:
[code]

According to your brow

[2021-05-13 18:04] tsullivan commented on #87573
Closing in favor of https://github.com/elastic/kibana/issues/86425

[2021-05-13 18:04] #87573 closed

[2021-05-13 18:08] #90581 closed

[2021-05-13 18:08] tsullivan commented on #75610
This is already implemented in https://github.com/elastic/kibana/pull/64853

[2021-05-13 18:08] #75610 closed

[2021-05-13 18:15] tsullivan commented on #95008
Hi, @elastic/kibana-presentation can you check if this may be fixed along with: https://github.com/elastic/kibana/pull/93482?

[2021-05-13 18:15] smith commented on #100039
Related to #99391.

[2021-05-13 18:16] #87055 closed

[2021-05-13 18:16] #98073 closed

[2021-05-13 18:17] tsullivan commented on #31640
This will be solved by https://github.com/elastic/kibana/issues/99890

[2021-05-13 18:17] #31640 closed

[2021-05-13 18:23] aleph-zero opened #100064 "Dashboard Drilldown Does Not Appear"
**Kibana version:** 7.12.1
**Elasticsearch version:** 7.12.1
**Server OS version:** Unknown (Cluster is running on cloud)
**Browser version:** Google Chrome (Version 90.0.4430.212 (Official Build) (x86_64))
**Browser OS version:** MacOS 11.2.3
**Original install method (e.g. download page, yum, from source, etc.):** Nothing installed, everything on cloud

**Describe the bug:**
Adding a dashboard d

[2021-05-13 18:27] tsullivan commented on #36141
This issue is closely related to https://github.com/elastic/kibana/issues/78478 where we talk about moving Reporting to an upcoming "notification service" UI.

@AlonaNadler does reporting truly need to be under the "user setting" or should we keep waiting for the notification center? I prefer the latter.

RFC of Notification Service: https://github.com/elastic/kibana/pull/90297

[2021-05-13 18:29] tsullivan commented on #38277
NOTE: In 7.13, Kibana Reporting will bundle with the "full" Chromium distributable, and run it in headless mode. At this point, only Linux x64 and Linux arm64 need us to build the binary. This should ease the requirements considerably.

[2021-05-13 18:29] elasticmachine commented on #100064
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-13 18:34] neptunian commented on #99897
This would be great if we can do this.  If it's proving tricky with EUI, perhaps you can ask the EUI team for suggestions.

[2021-05-13 18:38] ymao1 opened #100065 "[Alerting UI] Rules list does not give reason why rule is disabled when it is due to license"
On the rules list, if a rule is disabled due to its rule type having a greater license than Kibana offers, the rule looks disabled but there is no indication of why it is disabled:

<img width="1177" alt="Screen Shot 2021-05-13 at 9 32 40 AM" src="https://user-images.githubusercontent.com/13104637/118132872-2b898600-b3ce-11eb-8020-9df34f0d764b.png">

On the connectors list, we show a tooltip next

[2021-05-13 18:39] elasticmachine commented on #100065
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-13 18:43] ymao1 commented on #100065
@mdefazio When the rule is enabled and running, it will show this error state due to license level, with the "Fix" link. When the rule is disabled, it won't show the error message anymore.
<img width="1189" alt="106609223-5ba1cd00-6533-11eb-943e-69aa0803522c" src="https://user-images.githubusercontent.com/13104637/118171477-402f4380-b3f9-11eb-9409-a186be730683.png">

I was thinking we should add a

[2021-05-13 18:46] tsullivan commented on #18972
Fixed in #94746

[2021-05-13 18:46] #18972 closed

[2021-05-13 18:49] tsullivan commented on #20982
In 7.14, Reporting access control will be driven by custom permissions: #94966

[2021-05-13 18:49] #20982 closed

[2021-05-13 18:51] mikecote opened #100067 "[8.0 only] Make rule and connector saved objects share-capable"
## Problem Statement

In order to support sharing rules and connectors in a minor release (at some point in 8.x), we need to make some breaking changes in advance (in 8.0) to make sure our saved objects "ready" for sharing at a future time. We did not complete the research yet to know the exact changes that are necessary to our codebase for the readiness to be successful. Let's use this issue to r

[2021-05-13 18:51] elasticmachine commented on #100067
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-13 18:51] tsullivan commented on #18282
Closing for a duplicate issue: https://github.com/elastic/kibana/issues/75488

[2021-05-13 18:51] #18282 closed

[2021-05-13 18:51] mikecote commented on #100067
cc @legrego

[2021-05-13 18:52] tsullivan commented on #53900
Closed via https://github.com/elastic/kibana/pull/64853

[2021-05-13 18:52] #53900 closed

[2021-05-13 18:57] tsullivan commented on #41063
Closing this as we've found it doesn't align to the best practices for Reporting. Reporting team should hand control over to App teams on making the page render for report generation as-needed.

[2021-05-13 18:57] #41063 closed

[2021-05-13 19:00] tsullivan commented on #41479
@elastic/kibana-app has control over what portion of the page is captured in the report. Currently, the PNG exports are capturing a portion that is just the chart, without the title. The app team can fix this by adjusting the DOM of the page so that the Layout selectors (provided by the app in the report job params) select an area of the page that includes the chart title as well as the chart.

[2021-05-13 19:01] tsullivan commented on #24306
Duplicate of https://github.com/elastic/kibana/issues/79793 - the first step towards providing monitoring of Reporting.

[2021-05-13 19:01] #24306 closed

[2021-05-13 19:02] mikecote commented on #91143
I see https://github.com/elastic/kibana/issues/86247 is now closed. Does that mean we can try again to change the SO type via migrations v2?

[2021-05-13 19:04] mikecote opened #100068 "[8.0 only] Rename alerting SO types to reflect new terminology"
Part of https://github.com/elastic/kibana/issues/90375

Once https://github.com/elastic/kibana/issues/91143 is resolved, we should rename some of our saved object types to reflect the new [terminology](https://github.com/elastic/kibana/issues/90375).
- `alert` -> `rule`
- `action` -> `connector`

[2021-05-13 19:04] elasticmachine commented on #100068
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-13 19:07] tsullivan commented on #61691
While we will continue to expose the POST URL via the UI, but we are going to move away from depending on Watcher to automate reports: https://github.com/elastic/kibana/issues/79905

We should also make reports something that can happen automatically as part of an Alert. When an alert action can create a report and send it, there will not be a need for users to automate retrieving the POST URL.

[2021-05-13 19:07] #61691 closed

[2021-05-13 19:09] tsullivan commented on #43154
I will close this, since Scheduled Reports are on the horizon and will provide automated reports without Watcher.

[2021-05-13 19:09] #43154 closed

[2021-05-13 19:10] tsullivan commented on #59721
Fixing the owner labels: Optimize For Print is owned by the Kibana App team

[2021-05-13 19:13] tsullivan commented on #41407
As of #94966, access to Reporting features can be customized using custom Kibana app privileges. This allows users that do not have the `kibana_user` role to use Reporting.

Allowing read-only users to create reports will inherently be fixed by https://github.com/elastic/kibana/issues/99890

[2021-05-13 19:14] tsullivan commented on #41407
Closing in favor of https://github.com/elastic/kibana/issues/99890

[2021-05-13 19:14] #41407 closed

[2021-05-13 19:20] tsullivan commented on #61008
The params in the POST URL are implementation details that we unfortunately have to ask the user to handle since we don't have a UI for scheduled reports yet.

I'm not convinced we should allow the height to be customizable. What are the expectations when changing the height to be shorter / taller? If it's shorter, do we throw away the extra image data? If it's taller, do we show empty space? Or i

[2021-05-13 19:22] poffdeluxe commented on #95008
Looking now!

[2021-05-13 19:25] tsullivan commented on #55622
I don't think we would write it this way, since the `png` variable isn't a report, it's an actual image. We should allow plugins to programmatically create reports, but that would mean queueing a job that can be downloaded later.

What this sounds like is the need to move the screenshot code and the layout definitions out of Reporting into a new plugin, and have multiple plugins get the ability to

[2021-05-13 19:29] tsullivan commented on #18320
Closing this since we add the column headers to the CSV (if they are defined in the job params, and are not just `*`), and we log how much data is created in the job during execution.

[2021-05-13 19:29] #18320 closed

[2021-05-13 19:31] tsullivan commented on #18103
Closing this since an admin can control which nodes have Reporting on/off using `xpack.reporting.queue.pollEnabled`

[2021-05-13 19:31] #18103 closed

[2021-05-13 19:34] tsullivan commented on #18015
We could achieve this by separating out the screenshot and layout definition modules from Reporting, and use them to create a "one-off" screenshot that isn't connected to a report.

The solution is similar to https://github.com/elastic/kibana/issues/55622#issuecomment-840780179

[2021-05-13 19:39] tsullivan commented on #99867
"Integrate Reporting into more applications" -- I think this needs to be rephrased as improve the UX of Reporting.

Having Reporting integrated into more applications could help or hurt UX. It could hurt it by creating confusion, especially in the area of CSV exports since Kibana already has various solutions for getting the data as CSV.

[2021-05-13 19:46] iCodeSometime commented on #10678
We would like the ability to decide the color based on a value in another field

[2021-05-13 19:48] alex-fedotyev commented on #98774
I think there are two problems with showing multiple percentiles together:
- It would make it harder to compare with historical.
- Often enough showing multiple percentiles together decreases the readability of the data when the variation on the edges is high. For example, if there is a very slow or timeout request happening periodically, 99pctl would always be so high so it skews the X and maked

[2021-05-13 19:52] mdefazio commented on #100065
A few questions:
1. If I disable the rule, this error goes away?
2. If this is the case, is this another option for the user in the 'Fix' link?
3. Is there a scenario when the rule is at one license level, but uses a connector at a higher license level?
4. If I am no longer at a license level for a rule, does it automatically disable?

Some initial thoughts (but these may change based on the above

[2021-05-13 20:03] #94421 closed

[2021-05-13 20:07] fearful-symmetry commented on #92636
Tested with @nchaulet 's fix, and it works! Now I'm just wondering about merging the fix, as it'll break anything from before  the kibana fix.
<img width="1879" alt="Screen Shot 2021-05-13 at 1 01 39 PM" src="https://user-images.githubusercontent.com/8418476/118180444-62ba6000-b3eb-11eb-9118-7684e99e93c7.png">

[2021-05-13 20:12] ghudgins commented on #95079
+1 on this from another user.

[2021-05-13 20:13] poffdeluxe commented on #95008
I downloaded the attached canvas.ndjson and was able to generate pdfs on both my local machine and on elastic cloud (both running 7.11.2).

Does the Kibana instance running on cloud have at least 4 GB of memory?

[2021-05-13 20:14] ThomThomson opened #100075 "[Dashboard] Upgrade fails when PanelsJSON is "null""
**Kibana version:** 7.12.1

**Describe the bug:** When upgrading to 7.12.1, if a dashboard was last saved with `"null"` as its value for `panelsJSON`, the upgrade process will fail. This should not be a common occurrence - unless the saved object was modified - because even blank dashboards use `"[]"` as the value for `panelJSON`

**Expected behavior:** Corrupted dashboards should not fail the who

[2021-05-13 20:14] elasticmachine commented on #100075
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-13 20:15] #99907 closed

[2021-05-13 20:16] EricDavisX opened #100076 "[Fleet] When unenrolling an Agent that is running Fleet Server, make this clear to the user in unenrollment UI (for safety)"
**Describe the feature:**
I'm testing with 7.13 BC5 build and a self-managed Fleet Server host - when I attempt to unenroll it, even though it isn't protected as a 'managed host' like on Cloud, we could check and then inform the user if the Agent in question is a Fleet Server and unenrolling it would mean losing any related connected Agents.

**Describe a specific use case for the feature:**
The u

[2021-05-13 20:16] elasticmachine commented on #100076
Pinging @elastic/fleet (Team:Fleet)

[2021-05-13 20:16] elasticmachine commented on #100076
Pinging @elastic/fleet (Feature:Fleet)

[2021-05-13 20:20] fearful-symmetry commented on #92636
Updated the PR here: https://github.com/elastic/integrations/pull/778

Fix is ready for review.

[2021-05-13 20:28] YulNaumenko commented on #100065
No. You can only delete the rule with the higher license (or upgrade the license).

No.

Yes, it is possible. But I don't think we need to show something in the rules list. It will be a bunch of cases for the "non working" connectors: removed, higher license, has connection error, has missing secrets. It will be complicated to display all this reasons in the rules table. User will get the Error fo

[2021-05-13 20:50] Tydorius commented on #33928
+1

I am trying to track packetloss, and I need to group in pairs using both source.ip and destination.ip

[2021-05-13 20:58] trentm opened #100088 "[APM] Profiling flamegraph text uses node id instead of label"
**Versions**
Kibana: master

**The issue:**

![Screen Shot 2021-05-13 at 1 45 48 PM](https://user-images.githubusercontent.com/46866/118185577-8bddef00-b3f1-11eb-84da-32dc7b702c84.png)

Those box labels in the flamegraph are using `.id` values rather than `.label` values. The tooltips are getting the correct values.  When it was working it looked like this:

![Screen Shot 2021-05-13 at 1 49 25 PM]

[2021-05-13 20:58] elasticmachine commented on #100088
Pinging @elastic/apm-ui (Team:apm)

[2021-05-13 21:12] ghudgins commented on #41418
+1 on this...especially if paired with https://github.com/elastic/kibana/issues/95079 on line charts

[2021-05-13 21:21] YulNaumenko commented on #100065
Banner could be a good option. Only one thing I'm worry abut is ' a lot of banners' in case when we have an errors banner for rules

[2021-05-13 21:32] #99895 closed

[2021-05-13 21:42] tsullivan commented on #99867
Numbers 1, 5 and 7 fall into the same area: extracting the screenshot modules from Reporting so we have other ways of generating screenshots besides scheduling a report

3 and 4 fall under the category of "Transfer ownership to the apps on where and how Reporting is integrated"

Let's stick to using Jira to track these as Epics. Then we can categorize all the bugs by Epic. We can spot areas where

[2021-05-13 21:47] clintonjimmie opened #100095 "Discover histogram showing empty buckets on Refresh"
When using the Refresh button on a Discover search (even *) for a data set and the browser session has been idle for some time, the Discover Histogram will show incomplete buckets where the buckets should be complete.

This doesn't seem to happen when auto refresh is on and refreshing the browser page will restore the histogram to the expected view for the current hits.

Here is a screenshot of a

[2021-05-13 21:48] tsullivan commented on #84990
Closing the issue as this test was found to be passing.

[2021-05-13 21:48] #84990 closed

[2021-05-13 21:52] tsullivan commented on #19250
Closed via https://github.com/elastic/kibana/issues/19914

[2021-05-13 21:52] #19250 closed

[2021-05-13 21:56] tsullivan commented on #18422
I'm going to close this due to the staleness of the issue. But also state that the underlying issue here is something seems to be blocking Node's event loop and therefore Kibana can not respond to requests: that is a bug. Since this is an old issue and there has not been activity on it in 4 years, I would say the code has probably changed so much in the time since, that there is no longer a bug wi

[2021-05-13 21:56] #18422 closed

[2021-05-13 22:01] spong commented on #100020
++ @mandeepkaur-qasource, just debugged this a little and verified this is a race condition with the SO `refresh`. When it occurs you can see that both the `delete` request was successful, and the subsequent `_find` request from refreshing the table that the entity is still returned.

I'm not sure if the SO `refresh` is configurable here, but some other options to fix would be a short timeout post

[2021-05-13 22:08] tsullivan commented on #89658
I have a concern that if a logging file gets created, then it could continue to grow over time and eventually we will need a way to clean these up.

[2021-05-13 22:11] tsullivan commented on #36281
I have not had a chance to re-test this, but @elastic/kibana-security @elastic/kibana-core in theory, is this issue resolved #94966 now that Reporting uses feature controls?

I believe one of the integration fields with feature controls was the license type, which suggests that feature controls limits access by custom role and the state of the license.

[2021-05-13 22:14] tsullivan commented on #29281
We will be ready to start this in 7.15, using APM data via https://github.com/elastic/kibana/issues/79793

It is probably too late to plan that the metrics can be viewed in a new tab in the Kibana section of the Monitoring app. Instead, we can create some custom dashboards that show Reporting resource utilization over time.

[2021-05-13 22:34] tsullivan commented on #66943
I've seen this same behavior happen when Windows itself was showing performance problems, and Kibana was not running as a background service.

I am going to close this issue. @LeeDr has shown evidence there is not a systemic issue behind running Kibana as a background service. However, if the system has general slowness and the dashboard size in pixels is above a certain threshold, the reporting j

[2021-05-13 22:34] #66943 closed

[2021-05-13 22:36] tsullivan commented on #63073
I'm still able to reproduce this on Windows 10 using a build candidate of the latest master branch.

System stats:
 - 64G ram
 - 12 core
 - 4GB GPU

I don't understand why a decently provisioned system like this is unable to render a dashboard which Linux can, when booted on the same hardware. But I also experience general slowness with the Windows system overall, and I don't know why.

[2021-05-13 23:14] mattkime commented on #95558
@jimczi I'm digging in to make sure I have a complete understanding of the basics for this effort.

For the most part, the idea of applying filter criteria from the search bar to field lists is pretty straight forward. However, you mention `constant_keyword` usage and I'm thinking about how this might be exposed to the user. Unless we plan to educate our users about how to use this field, we need

[2021-05-13 23:45] spong opened #100103 "[Security Solution][Detections] Migrating Detections to the new .alerts indices"
With the migration of the Security Detection Rules to use the Rule Registry (https://github.com/elastic/security-team/issues/1018 (internal)), we'll need to gracefully support the change in destination indices that alerts are now written to. Generally speaking, `.siem-signals-*` will be replaced by `.alerts-security-solution-*` (full index name to be finalized), and we will aim to provide the nece

[2021-05-13 23:45] elasticmachine commented on #100103
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-13 23:45] elasticmachine commented on #100103
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-13 23:56] spong commented on #98912
The goal is to move to `.alerts-security-solution*` in `7.15` and to provide backwards compatibility to `.siem-signals-*` through field aliases, so the Detections components/API's will then query against both indices for the remainder of `7.x`, and we'd deprecate `.siem-signals-*` in the transition to `8.x`. This should ensure no breaking changes within the Security Solution App/API's, however exi

[2021-05-14 00:17] spong commented on #87992
The above implementation sounds good to me @pmuellr, with the note that we could also add items to the references array during an SO migration as well (covering the case here https://github.com/elastic/kibana/issues/85173 where we would move over the exceptions reference from a dedicated field when migrating the security rule type).

@mikecote and I spoke about this earlier today with regards to b

[2021-05-14 00:23] YulNaumenko opened #100105 "[Docs][Alerting] Do the audit of the alerting screenshots: improve size and content."
Currently we have a lot screenshot images too wide or bigger than it should be. Some of the images have a bad quality.
We need to do the audit of the all alerting related screenshots and fix its with and content.

[2021-05-14 00:23] elasticmachine commented on #100105
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-14 02:39] cuff-links opened #100106 "Add Client Integration Test for The Circle Processor"
## Summary

This PR is to add some Jest tests for the Ingest Pipelines Circle Processor.

**Test cases being covered**

1. Prevents submission if only `field` field is supplied.
2. Prevents submission if only the `shape` field is supplied.
3. Saves processor with default options
4. Saves processor with setting optional options.

[2021-05-14 02:48] jasonrhodes commented on #98912
I agree here but don't know if I understand what the sensible default is? I am a little alarmed at how much we have to manage with index naming, from sharding resource usage to RBAC control to direct index permission flexibility to user comprehension to query optimization … it's a very heavy lift.

[2021-05-14 02:49] elasticmachine commented on #100106
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-05-14 02:51] kibanamachine commented on #91107
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14039/)

[2021-05-14 03:00] mattkime commented on #99876
As best I can tell, we have specific use cases that need the imperative API. Do we have specific use cases that need the declarative api? Otherwise I'm tempted to stick with imperative until its unsuitable for a given situation. What do you think @streamich @flash1293  ?

[2021-05-14 03:59] mattkime commented on #99876
@flash1293

Yes, this could be added easily. We can add it when its needed.

[2021-05-14 06:44] stratoula commented on #94097
This flakiness will be resolved with https://github.com/elastic/kibana/issues/95539

[2021-05-14 06:45] stratoula commented on #94043
This flakiness will be resolved with #95539

[2021-05-14 06:45] stratoula commented on #94097
Closing in favor of https://github.com/elastic/kibana/issues/94043

[2021-05-14 06:45] #94097 closed

[2021-05-14 06:47] stratoula commented on #89523
This will be solved with https://github.com/elastic/kibana/issues/95539

[2021-05-14 06:54] stratoula commented on #98284
Both Timelion and Vega support runtime fields so I am closing it!

[2021-05-14 06:54] #98284 closed

[2021-05-14 07:23] Sagesh commented on #99790
Hi @wylieconlon,

I don't have multiple values, as you can see the count is showing as 1 in the grid. If there are 2 values then the count should show as 2.
Something is fishy here, can you please help me to identify this issue.

Thanks,
Sagesh

[2021-05-14 08:03] stratoula commented on #12555
I can't reproduce it on 7.12, I am closing it.

[2021-05-14 08:03] #12555 closed

[2021-05-14 08:08] stratoula commented on #12001
I am closing it as I can't reproduce it on 7.12

[2021-05-14 08:08] #12001 closed

[2021-05-14 08:11] stratoula commented on #22382
This will be closed here https://github.com/elastic/kibana/issues/95539

[2021-05-14 09:06] jloleysens commented on #99890
@timroes  @stacey-gammon @flash1293

Pinging you as you might have input on this discussion :). If we agree that this is something we want to address it would be useful to get your thoughts on [option 1](#option1) and [option 2](#option2).

[2021-05-14 09:53] mshustov commented on #92933
Implemented in https://github.com/elastic/kibana/issues/98916

[2021-05-14 10:04] dej611 opened #100111 "[Discover][Lens] Right click on new Datatable when a flyout is open freezes the browser"
**Describe the bug:**

When the new Datatable (`EuiDataGrid`) is below a flyout component (classic or custom as in `Lens`) then a right click action does freeze the browser.

If two flyouts (stacked) are open on top of a Datatable also a left click can leads to the same result.

**Steps to reproduce:**

Right click scenario:
1. Open Discover with the new datatable
2. Click on a row/Open the Inspec

[2021-05-14 10:04] elasticmachine commented on #100111
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-14 10:08] martindolecek opened #100112 "[Debian sysVinit] Can't start Kibana with /etc/init.d/kibana (exec quotation marks issue)"
**Kibana version:**
7.12.1

**Elasticsearch version:**
7.12.1

**Server OS version:**
Debian Buster 10.9

**Browser version:**
not important

**Browser OS version:**
not important

**Original install method (e.g. download page, yum, from source, etc.):**
apt via https://artifacts.elastic.co/packages/7.x/apt stable main

**Describe the bug:**
While using sysvinit, Kibana can't start via /etc/init.d

[2021-05-14 10:33] jloleysens commented on #99867
@tsullivan Tracking in Jira sounds good to me 👍🏻

[2021-05-14 11:32] GrahamHannington commented on #99740
Riffing off my earlier comment "think: bookmarks editor in your web browser"...

**[Web browser] user:** In the browser, I'd like to easily present and organize bookmarks for my favorite pages.

**[Web browser] developer:** Sure. You have two choices: (a) Write your own HTML file containing your bookmark links or (b) Develop a browser plug-in. Here's a link to our plug-in SDK. Have a nice day!

Do

[2021-05-14 11:55] wylieconlon commented on #99790
@Sagesh Here is an explanation:

[code]

[code]

[2021-05-14 12:30] nickofthyme commented on #100088
Thanks for the bisect @trentm. @monfera this is likely from changes in https://github.com/elastic/elastic-charts/commit/a9648a40d4aa06f5c715f293121d278543aec94c, do you have any idea what could have caused this apparentt regression?

[2021-05-14 12:32] stratoula commented on #84063
This is solved here https://github.com/elastic/kibana/issues/95873

[2021-05-14 12:32] #84063 closed

[2021-05-14 12:32] stratoula commented on #93727
Closing it due to https://github.com/elastic/kibana/issues/97061

[2021-05-14 12:32] #93727 closed

[2021-05-14 12:33] stratoula commented on #88723
I am closing as I cant reproduce it

[2021-05-14 12:33] #88723 closed

[2021-05-14 12:33] stratoula commented on #81782
Closing it as I cant replicate it on master

[2021-05-14 12:33] #81782 closed

[2021-05-14 12:33] stratoula commented on #92356
@shaigbdb in which version of kibana have you encountered this behaviour?

I am on 7.12 and I overwrite the color with a new one from the legend popover. If I save my bar chart the color remains even if I have another color predefined on the advanced settings.

![image](https://user-images.githubusercontent.com/17003240/118267740-3541e500-b4c5-11eb-8a80-6c446d4218ca.png)

[2021-05-14 12:38] ymao1 opened #100115 "[Alerting] Remove top-level rule fields passed into rule executors"
With [this PR](https://github.com/elastic/kibana/pull/99819), we are passing rule information into the rule executors encapsulated in a rule object. Prior to this, we were passing several rule fields as top level fields into the executor, specifically `alertId`, `name`, `tags`, `createdBy` and `updatedBy`. We should audit the rule executors for usage of these top level fields, switch those usages

[2021-05-14 12:38] elasticmachine commented on #100115
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-14 12:40] ymao1 opened #100116 "[Alerting] Add context variables for rule information"
With [this PR](https://github.com/elastic/kibana/pull/99819), we are passing additional rule information into the rule executors encapsulated in a rule object. We should make this information available as context variables to be used inside rule actions.

The fields listed at the top of the PR include:

- `consumer`
- `schedule`
- `createdAt`
- `updatedAt`
- `throttle`
- `notifyWhen`
- `enabled`
-

[2021-05-14 12:40] elasticmachine commented on #100116
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-14 12:44] deepikakeshav-qasource opened #100117 "[Security Solution] Error occurred and an exception is also saved when adding the empty field in "Endpoint Exception"."
**Description**
Error occurred and an exception is also saved when adding the empty field in "Endpoint Exception".

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana should be up.
2. Endpoint should be installed.
3. Alerts should be generated.

**Steps to Reproduce:**
1. Navigate to detections tab of security.
2. Click on 3 dots and select the "Add endpoint exceptio

[2021-05-14 12:44] elasticmachine commented on #100117
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-14 12:44] deepikakeshav-qasource commented on #100117
@manishgupta-qasource Please review

[2021-05-14 12:45] jpountz commented on #95558
@mattkime I don't think that the goal is to expose constant keywords to users. I believe that constant keywords were mentioned because they work especially well with this `index_filter` parameter, but to me the goal is to make Kibana pass all the filters that it knows about to Elasticsearch and then Elasticsearch will figure out whether it can leverage these filters to narrow down field suggestion

[2021-05-14 12:47] alisonelizabeth commented on #36919
Hi @ppf2! Thanks for the suggestion. I have opened an issue in the ES repo (https://github.com/elastic/elasticsearch/issues/73091) to modify the [deprecation info API ](https://www.elastic.co/guide/en/elasticsearch/reference/master/migration-api-deprecation.html) to support this for the 8.0 stack upgrade.

[2021-05-14 12:55] mostlyjason commented on #97180
@rw-access Could this just be a link in the README? I imagine it'd meet legal requirements while being lighter weight on the UX.

[2021-05-14 13:03] manishgupta-qasource commented on #100117
Reviewed & Assigend to @MadameSheema

[2021-05-14 13:26] elasticmachine commented on #100117
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-14 13:56] mikecote commented on #94088
We will need this done, merged and backported **before 7.15.0 feature freeze** so we can remove the code in the 7.16/8.0 release cycle.

[2021-05-14 13:57] mikecote commented on #94089
We will need this done, merged and backported **before 7.15.0 feature freeze** so we can remove the code in the 7.16/8.0 release cycle.

[2021-05-14 13:57] mikecote commented on #95842
We will need this done, merged and backported **before 7.15.0 feature freeze** so we can remove the code in the 7.16/8.0 release cycle.

[2021-05-14 14:14] pmuellr opened #100124 "[actions] Pagerduty UI should disable ignored fields for ack/resolve"
For the pagerduty action, when the PD event action is `resolve` or `acknowledge` (the other option is `trigger`), only a subset of the data is sent to pagerduty, compared to `trigger`:

https://github.com/elastic/kibana/blob/c572ddd780d11f96a107674b557edb473f25615e/x-pack/plugins/actions/server/builtin_action_types/pagerduty.ts#L267-L290

However, the UI does have these fields enabled, so customer

[2021-05-14 14:14] elasticmachine commented on #100124
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-14 14:21] ymao1 commented on #100124
Is this the same issue that [this PR](https://github.com/elastic/kibana/pull/96363) addressed?

[2021-05-14 14:41] cnasikas commented on #94088
Thank you @mikecote! We have it in our backlog.

[2021-05-14 14:42] jasonrhodes commented on #50266
Hey all, I'm getting up to speed on this. There are a lot of "id" values related to RAC, Saved Objects, etc., so forgive me for asking for some clarification here.

Which `_id` is this? How do other rules avoid this problem? Is this more related to the fact that we auto-create these rules when you visit the Stack Monitoring page, rather than the fixed `_id`? i.e., if we weren't auto-creating them,

[2021-05-14 14:43] #94152 closed

[2021-05-14 14:44] rw-access commented on #97180
For the first release (still targeting 7.13) of the security rules package, we're going to include the full NOTICE.txt at the bottom of the file. It's pretty long https://github.com/elastic/detection-rules/blob/main/NOTICE.txt and our external contributions are 📈 so I imagine it'll keep growing, and we'll want it separate.

Also, over the next few releases, we (security) hope to create additional

[2021-05-14 14:51] ymao1 commented on #50266
@jasonrhodes The `_id` field referenced here is the ID of the rule saved object. This is typically auto-generated when a rule is created, but with [this recent PR](https://github.com/elastic/kibana/pull/89814), we now allow specifying the `_id` on rule creation, as long as it is a uuid v1 or v4.

Yes, that's correct. Because stack monitoring auto-creates the rules (currently without specifying a f

[2021-05-14 14:56] smith commented on #50266
Is it still possible to import _with_ secrets via the API? I'd expect to be able to store the secrets for my connectors in something like Vault and pull them out for use in importing with some API calls.

[2021-05-14 14:58] mostlyjason commented on #95445
@amolnater-qasource I understand now thanks for explaining, and yes that looks correct

[2021-05-14 15:13] jasonrhodes commented on #50266
Thanks for the clarification, @ymao1 — when the rules are being exported or imported, is it an all or nothing UX or does the user get presented with a list of rules that they can choose to export/import?

[2021-05-14 15:25] jasonrhodes commented on #99556
Is there a stack monitoring issue here?

[2021-05-14 15:28] cccs-nik commented on #99922
What about something more reasonable, like 800? I upgraded from 7.10.0 to 7.12.1 and the Discover page is incredibly slow. It's hanging my entire browser when I'm trying to search for field names on the left-hand side or if I try to refresh the data. Disabling the new Fields API (discover:searchFieldsFromSource=true) helped tremendously, but the UI is still pretty slow compared to what I experienc

[2021-05-14 15:30] Berns56 commented on #17301
+1. I think it would be a great improvement.

[2021-05-14 15:31] YulNaumenko commented on #100124
Yes, https://github.com/elastic/kibana/pull/96363 should address the problem, but in [this SDH](https://github.com/elastic/sdh-kibana/issues/1525) they have 7.12.1

[2021-05-14 15:35] jasonrhodes opened #100133 "[Stack Monitoring] Change out of the box alerts to be opt-in, rather than auto-created"
There have been a number of issues where users have been surprised or frustrated by the auto-creation of alerts in Stack Monitoring.

Some examples:

* Import/export of rules, when coupled with auto-created rules, [could lead to unwanted and surprising duplicate rules/alerts](https://github.com/elastic/kibana/issues/50266#issuecomment-837047241)
* Auto-created rules per space was creating resource

[2021-05-14 15:35] elasticmachine commented on #100133
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-14 15:35] elasticmachine commented on #100133
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-14 16:00] jasonrhodes opened #100136 "[Stack Monitoring] Change SM rule types to generate discrete alert instances per node"
The current `BaseAlert` used to define all of the Stack Monitoring rule types has de-duping logic to avoid alert noise. If a cluster has 20 nodes that suddenly all move into an alertable state for a particular rule, the SM rules will _not_ create 20 alerts, instead, the rule will create 1 single alert for the cluster, listing all of the alerting nodes in the message.

The way we do this is to use

[2021-05-14 16:00] elasticmachine commented on #100136
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-14 16:00] elasticmachine commented on #100136
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-14 16:01] jasonrhodes commented on #100136
@ravikesarwani I'd like to get your thoughts on this

ping @sgrodzicki @matschaffer for visibility, I'll explain more later :)

[2021-05-14 16:03] kmartastic commented on #99786
Brainstorming--
Could we load every map with a pre-fetched set of tiles; then use "fit to data" to move to the saved extent of the map when it's loaded?
+progress indicator

[2021-05-14 16:04] dasansol92 opened #100137 "[Event Filtering] Hide content while checking if entries exists on event filters list"
Content is displayed while checking if entries exists. This can cause weird behaviours (flash)  when there is no data or there are existing entries.

**Steps to reproduce:**
1.  Go to Administration tab
2.  Go to Event Filters tab
3. When no entries exists there is a strange behaviour.

A loader should appear first time when discovering if there are entries or entries exists.

![event filter list

[2021-05-14 16:04] elasticmachine commented on #100137
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-05-14 16:12] kibanamachine opened #100138 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/dashboard_lens_by_value·ts - dashboard dashboard lens by value is no longer linked to a dashboard after visiting the visuali1ze listing page"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/146/)

[2021-05-14 16:12] ymao1 commented on #50266
@jasonrhodes The import/export is done through the Saved Object Management UI, which shows a list of saved objects and does allow a user to select one/multiple specific SOs to export. Screenshot here: https://www.elastic.co/guide/en/kibana/master/managing-saved-objects.html

[2021-05-14 16:16] jasonrhodes commented on #50266
OK thanks, although I guess it doesn't matter at the moment. I think if we allow users to import those rules and they end up with duplicates, it's going to cause issues. For now, we'll need to restrict Stack Monitoring rules from import/export until we solve https://github.com/elastic/kibana/issues/91145 at least, and possibly https://github.com/elastic/kibana/issues/100133 as well. Then we'd be f

[2021-05-14 16:17] LeeDr opened #100139 "Index Patterns page gets fields for all index patterns when only needs titles"
**Kibana version:** 7.13.0

**Elasticsearch version:** 7.13.0

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz build

**Describe the bug:** When going to Stack Mgmt > Kibana > Index Patterns, the page is only going to show a paginated list of names (default of 10 per page) but it app

[2021-05-14 16:17] elasticmachine commented on #100139
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-14 16:23] nreese commented on #99786
I don't think this is a huge issue. I have not heard any users open issues on map loading times. Lets not prematurely optimize on something that is not a verified problem.

[2021-05-14 16:24] jasonrhodes opened #100142 "[Stack Monitoring] Adapt SM UI to account for possibility of 0-n rules per rule type"
Right now, the Stack Monitoring UI assumes there is always exactly 1 rule of each SM rule type. With the combination of #91145 and #100133, and based on feedback seen in https://github.com/elastic/kibana/issues/92128#issuecomment-794263712, we'll need to make sure the UI can handle 0 rules for a type as well as > 1 rules for a type.

AC:
* SM UI handles 0 rules for a given rule type
* SM UI handle

[2021-05-14 16:24] elasticmachine commented on #100142
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-14 16:24] elasticmachine commented on #100142
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-14 16:38] jasonrhodes opened #100143 "[Meta] Epic: Stack Monitoring Alerting Alignment"
Alerting in stack monitoring has been built in some custom ways in order to achieve things that either weren't possible or weren't simple at the time. As time goes on and the Kibana Alerting Framework, along with the RAC project, becomes more robust, we need to align the alerting system in stack monitoring so we don't accidentally block ourselves from adopting new features or confuse customers who

[2021-05-14 16:39] elasticmachine commented on #100143
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-05-14 16:39] jasonrhodes commented on #100143
@ravikesarwani / @matschaffer this is probably the best place to start with this Epic-worth of work we should do. I'm happy to walk you both through it all whenever the time is right.

[2021-05-14 17:03] mattkime commented on #92960
@lukasolson Could you take a look?

[2021-05-14 17:18] kpollich commented on #87036
It seems like the fix for this would be to wrap our search filter values in double-quotes, but that's demonstrating some odd behavior for me with the EUI `InMemoryTable` component:

![Kapture 2021-05-14 at 13 15 05](https://user-images.githubusercontent.com/6766512/118305819-83032100-b4b6-11eb-9537-eee16cdfae1b.gif)

I added logic to wrap the value for each filter in `""`, but selecting the filter

[2021-05-14 17:20] ymao1 opened #100145 "[Alerting] Feature flag for importing/exporting rules"
We have exposed the ability to import and export rules, but due to some concerns about potential rule duplication outline [in this issue, comments toward the bottom](https://github.com/elastic/kibana/issues/50266), we should feature flag this ability for now. Note that this applies only to rules, not connectors.

[2021-05-14 17:21] elasticmachine commented on #100145
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-14 17:21] ymao1 commented on #50266
Added issue for feature flagging rule import/export: https://github.com/elastic/kibana/issues/100145

[2021-05-14 17:37] #97787 closed

[2021-05-14 17:38] kibanamachine commented on #100012
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13913/)

[2021-05-14 17:55] tsullivan commented on #69612
Hi all, this issue will be resolved in 7.14. This PR #94966 provides the change needed to set up anonymous access to work with Kibana Reporting.

1. Create a custom role that provides Kibana app privileges for Reporting:
[code]

2. Create a user that is assigned the role:
[code]

3. Configure Kibana to allow anonymous access in kibana.yml:
[code]

You can also use an API key instead of entering a

[2021-05-14 17:55] #69612 closed

[2021-05-14 17:57] #100003 closed

[2021-05-14 18:05] jasonrhodes commented on #100133
My first thought was just an opt-in button, but if we want to give the user more guidance, we can additionally show a modal on first visit to the UI that would explain the alerts that are about to be created and give the user the option to choose from options such as "Yes", "Not now", or "Don't show this again". We may also want to give the users a way to access this modal again (with just the "ye

[2021-05-14 18:14] legrego commented on #36281
Feature Controls only integrates with licensing to know which options to make available in the Role Management UI when configuring permissions. We do not control access to features based on the current license: that is not within the scope of the security system, and is something that has always been deferred to plugins to take care of.

We will hide the Reporting tab for unauthorized users, but t

[2021-05-14 18:20] ravikesarwani commented on #100133
We should discuss the user experience when we are ready to implement the change keeping in mind the 80-20 rule.
80% of the folks want the rules/alerts to be deployed by default. So we should optimize the experience for those users.

A starter flow I envision could be something like this:
When user visits the SM UI where out-of-the box rules aren't deployed we bring a large pop up dialog:
Stack mon

[2021-05-14 18:30] ghudgins opened #100154 "[Lens] Emphasize dragging/dropping in the same chart dimension will duplicate series"
**Describe the feature:**
User picks up field and sees the ability to duplicate the series immediately (drop location appears to the left of the current field) without having to realize they have to drag the field down to the "Drop a field" box to get this functionality. I think this would increase discoverability of this function

**Describe a specific use case for the feature:**

**When** I want

[2021-05-14 18:30] elasticmachine commented on #100154
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-14 18:39] ghudgins commented on #100154
[This original issue](https://github.com/elastic/kibana/issues/83973) implements the base functionality - this is a usability issue

[2021-05-14 18:40] mikecote commented on #50266
@ymao1 keep me honest 🙂  @jasonrhodes in this scenario, I think the user will be made aware the rules already exist and ask if they wish to overwrite them or create duplicates. There may be the option for the user to ask for new IDs on import, at that point we wouldn't be able to detect if there are duplicates afterwards.

@smith at this time no, we've been cautious about breaking the saying that

[2021-05-14 18:44] ymao1 commented on #50266
@mikecote Unfortunately, this is not the case. Since stack monitoring rules are autocreated without specifying a static _id, it is very likely (pretty much guaranteed) that the auto-created stack monitoring rules in Kibana A have different _ids than the auto-created stack monitoring rules in Kibana B, so importing from A -> B will not provide that "overwrite or create duplicates" popup.

What coul

[2021-05-14 18:46] #67380 closed

[2021-05-14 18:46] mikecote commented on #50266
Ohh that makes total sense, I didn't think about that. I withdraw that comment 🙈

[2021-05-14 19:03] hbharding commented on #97180
I think it will be problematic to show this on the README / Overview page since the NOTICE.txt is not a markdown file and won't be properly formatted (for instance, the "bullet points" would be rendered as hyphens). In addition, a lot of these integration pages are already quite long and this information doesn't seem very useful to warrant displaying it to all users. It would be difficult to find

[2021-05-14 19:16] hbharding commented on #90047
Hey @jen-huang - no problem. I posted 2 simple options for the NOTICE.txt information here https://github.com/elastic/kibana/issues/97180