[2020-07-21 23:28] #66064 closed

[2020-07-21 23:29] tylersmalley commented on #63941
Closing as this appears to have been a network related issue.

[2020-07-21 23:29] #63941 closed

[2020-07-21 23:33] tylersmalley commented on #63315
Closing as we never got a response needed to diagnose, but appears to be a timeout to the Elasticsearch cluster.

[2020-07-21 23:33] #63315 closed

[2020-07-21 23:39] tylersmalley commented on #62893
Closing as we stopped hearing back.

[2020-07-21 23:39] #62893 closed

[2020-07-21 23:41] hendry-lim commented on #67248
@Zacqary any chance that the `context.value` and `context.threshold` will be updated the same?
We are getting `current value is 0.771551724137931` and `threshold of 0.6` currently.

[2020-07-21 23:43] tylersmalley commented on #61267
@jbudz, was this resolved as part of https://github.com/elastic/kibana/pull/66614?

[2020-07-21 23:45] tylersmalley commented on #61035
I am going to close this as there has been a lot of effort to resolve any issues in terms of browser caching. However, let me know if you're still seeing this in 7.8.

One "gotcha" is that Chrome will not cache assists that are served over SSL with a self-signed certificate.

[2020-07-21 23:45] #61035 closed

[2020-07-21 23:46] tylersmalley commented on #59935
@spalger, I haven't seen this come up in some time. If you haven't either, I say we can close this for now.

[2020-07-21 23:48] Zacqary commented on #67248
@hendry-lim Ha, thank you for reminding me

[2020-07-21 23:48] tylersmalley commented on #59866
@legrego, were you able to reproduce this?

[2020-07-21 23:53] tylersmalley commented on #11587
Closing as the issues described here has been resolved or are no longer an issue.

[2020-07-21 23:53] #11587 closed

[2020-07-21 23:55] nickpeihl opened #72775 "[Maps] Unable to load Configured Tile Map Service"
**Kibana version:**
7.9.0-snapshot

**Elasticsearch version:**

**Server OS version:**
Cloud

**Browser version:**
Firefox 78.0.2
**Browser OS version:**
Mac Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**
In cloud

**Describe the bug:**
A tile service layer configured in kibana.yml can not be loaded in Maps. It causes JavaScript to freeze and lock up.

**

[2020-07-21 23:55] elasticmachine commented on #72775
Pinging @elastic/kibana-gis (Team:Geo)

[2020-07-22 00:02] hendry-lim commented on #72368
@Zacqary would you kindly help to ping the relevant team please. Thank you.

[2020-07-22 00:15] elasticmachine commented on #72368
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-22 00:20] alex-fedotyev opened #72778 "[APM] Discovery - need to re-evaluate implementation of filters and kuery bar across APM UI"
**Describe the feature:**
APM already offers various filters on different pages, like environments, hosts, K8s pods, containers, etc.
In 7.8 we started adding cloud metadata to be collected by APM agents.

![image](https://user-images.githubusercontent.com/61838744/88115354-d0e71b00-cb6a-11ea-9dd5-3b1c3a36072e.png)

On top of that some of the filters are used to track integrations across other obs

[2020-07-22 00:20] elasticmachine commented on #72778
Pinging @elastic/apm-ui (Team:apm)

[2020-07-22 00:33] andrewvc commented on #69602
Closing because https://github.com/elastic/uptime/issues/237 tackles refactoring alerts better.

[2020-07-22 00:33] #69602 closed

[2020-07-22 00:56] hendry-lim commented on #72367
@cauemarcondes would you kindly help to ping the relevant team, please? Thank you.

[2020-07-22 01:16] andrewvc opened #72782 "[Uptime] Stop indexing saved object fields"
We don't use our saved object fields in any searches, and to help with https://github.com/elastic/kibana/issues/43673 we should stop indexing all of them.

[2020-07-22 01:16] elasticmachine commented on #72782
Pinging @elastic/uptime (Team:uptime)

[2020-07-22 01:30] spalger commented on #59935
Same

[2020-07-22 01:30] #59935 closed

[2020-07-22 01:36] #71583 closed

[2020-07-22 01:54] andrewvc commented on #68230
Is this issue still relevant? Is there anything to do here?

[2020-07-22 03:10] clintandrewhall commented on #72753
Oddly enough, I can't reproduce your test case... but I could when I created the element from scratch.  I'll continue to look into this.

![Jul-21-2020 23-09-40](https://user-images.githubusercontent.com/297604/88129934-4f61ae00-cba7-11ea-8fb9-cf5fc0a76254.gif)

[2020-07-22 05:00] kibanamachine commented on #68568
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.8/419/)

[2020-07-22 05:42] hendry-lim opened #72792 "[Metrics UI] Inconsistent threshold and current value in context.reason alert variable in inventory alert"
**Kibana version:** 7.9.0-SNAPSHOT

**Elasticsearch version:** 7.9.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**
The `context.reason` alert variable has the value of `CPU usage is greater than a threshold of 60 (current value is 0.6071666666666667)`.

**Steps to reproduce:**
1. In Kibana, go to Metrics UI
2. Choose Create alert

[2020-07-22 05:43] hendry-lim commented on #72792
Relates to [#67248](https://github.com/elastic/kibana/issues/67248)

[2020-07-22 05:49] hendry-lim opened #72793 "[Metrics UI] Inventory alert context.metricOf.condition0 and context.thresholdOf.condition0 alert variables rendered as empty strings"
**Kibana version:** 7.9.0-SNAPSHOT

**Elasticsearch version:** 7.9.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**
The `context.metricOf.condition0` and `context.thresholdOf.condition0` alert variables rendered as empty strings in the alert message. e.g. `myhost.com has exceeded the  threshold of .`

**Steps to reproduce:**
1. In

[2020-07-22 05:50] hendry-lim commented on #72793
Relates to [#72792](https://github.com/elastic/kibana/issues/72792)

[2020-07-22 06:00] mirai-jeff opened #72794 "APM trace screen is blank"
**Kibana version:**
v7.8.0

**Elasticsearch version:**
v7.8.0

**Browser version:**
Chrome Version: 84.0.4147.89（Official Build） （64 bit）

**Browser OS version:**
macOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic cloud

**Describe the bug:**
Adding `i18n.locale: "ja-JP"` to the kibana configuration will cause the APM trace to go blank.

The fol

[2020-07-22 07:24] Swatiraghuwanshi opened #72798 "Kibana is not working "" "Error: Port 5601 is already in use. Another instance of Kibana may be running!""
**Kibana version:** 7.8.0

**Elasticsearch version:** 7.8.0

**Server OS version:** Windows 10

**Browser version:** IE & Chrome(Version 84.0.4147.89 (Official Build) (64-bit))

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** https://www.elastic.co/downloads/

**Describe the bug:** getting below error when running Kibana-
 "Error: Port

[2020-07-22 07:35] pgayvallet commented on #45815
I guess we gonna need user settings for that 😄

We would need to check on consumers of the `getServerInfo` to be sure. I just know for sure that reporting is using it, probably to be used as a fallback when `xpack.reporting.kibanaServer` is not populated. @tsullivan could you confirm that?

@mikecote for when would you ideally need that feature?

@kobelb If there is urgency, how acceptable would i

[2020-07-22 07:43] mbondyra commented on #41088
I looked at the build-stats and this doesn't fail with the initial error message of the missing element. The failure seem to be caused by CI instability.

[2020-07-22 07:43] #41088 closed

[2020-07-22 07:55] cauemarcondes commented on #72367
Hi @hendry-lim , I believe @simianhacker might be able to help you with this.

[2020-07-22 07:56] Dosant opened #72801 "License link in "Your query is taking a while" popup is not working"
In OSS if query is taking a while we show this popup:

![Screenshot 2020-07-21 at 16 57 44 (1)](https://user-images.githubusercontent.com/7784120/88149809-dc852100-cc00-11ea-909a-ea8f2c5990f1.png)

The link "Go to license options" doesn't work:

**Current behaviour**:

In 7.9-BC2 it navigates to `/app/management/stack/license_management` which doesn't exist in OSS.
in 7.8 it navigates to home page

[2020-07-22 07:56] elasticmachine commented on #72801
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 07:56] cauemarcondes commented on #68230
No, this issue can be closed, we've tackled the implementation on other issues.

[2020-07-22 07:56] #68230 closed

[2020-07-22 08:00] mbondyra commented on #59091
This test doesn't fail with the initial message, I've looked last ~10 failed builds and it now fails with
[code]

That looks like the same issue as in https://github.com/elastic/kibana/issues/72146 but the last fail happened 21 of July so looks like the fix didn't help with this one. @spalger could you give me a hint with this one? 🙏

[2020-07-22 08:01] flash1293 commented on #72541
I  can confirm this is currently broken, but it's not easy to fix at the moment because the sample data API is not space aware. The base path should be fixable because the sample data set is registered in  the setup phase with access to the base path from core.

I would like to fix this by introducing a top level concept for Kibana internal links on top of the drilldown framework instead of abusin

[2020-07-22 08:09] Dosant commented on #72601
@flash1293,
I think it doesn't happen for you on eCommerce, because that is default index pattern for you. Is this the case?

[2020-07-22 08:11] markov00 commented on #72691
@wylieconlon actually the `endValue` is used for both edge of the chart, using the `nearest` it will draw a horizontal line at the height of each edge.
If this is not what you are looking for, can you specify better your use case? why are you looking for a `startValue` but you are not interested into an `endValue`?

I'm seeing also a weird artifact on the dashed line
<img width="130" alt="Screensh

[2020-07-22 08:15] Dosant commented on #72601
Narrowed down to this steps:

1. Go to dashboard with non default index pattern
2. Add any filter and pin it
3. go away from a dashboard, e.g. listing page
4. go back

**Current behaviour** : filter is in warning state and not applied

**Expected behaviour**: filter shouldn't be in warning state and should be applied

----

For some reason filter bar thinks that current index pattern is Kibana's d

[2020-07-22 08:19] elasticmachine commented on #72601
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 08:25] flash1293 commented on #72601
@Dosant I wiped that instance already, but it's very likely

[2020-07-22 08:32] aclowkey commented on #14856
Any news regarding this?
It will be helpful to create dashboard to debug data, to find which fields had mapping issues in them.
Combining this with https://github.com/elastic/elasticsearch/issues/59946 would make a great visibility over mapping issues

[2020-07-22 08:33] hendry-lim commented on #72367
Thank you @cauemarcondes, very much appreciated.

[2020-07-22 08:33] kibanamachine opened #72803 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update·ts - alerting api integration security and spaces enabled Alerts update space_1_all at space1 should handle updates to an alert schedule by rescheduling the underlying task"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6830/)

[2020-07-22 08:33] elasticmachine commented on #72803
Pinging @elastic/kibana-test-triage (failed-test)

[2020-07-22 08:40] peteharverson commented on #66080
Closing as this as I am no longer able to reproduce it with the changes that have been to the Anomaly Explorer view for 7.9.0.

[2020-07-22 08:40] #66080 closed

[2020-07-22 08:41] peteharverson commented on #70885
Removing the `blocker` label as this test has already been disabled.

[2020-07-22 08:53] cauemarcondes opened #72807 "[Observability] filter "hasData" api by processor event"
To verify if APM has data to show on the Observability page, we must filter the query by processor.event 'error', 'metric' or 'transaction'. This will avoid returning true when for instance only the onboarding index has data.

![Screenshot 2020-07-22 at 10.48.20.png](https://zube.io/files/elastic/746272a4c58ca5ed79b0a1207e9d7348-screenshot-2020-07-22-at-10-48-20.png)

[2020-07-22 08:58] webstruck opened #72808 "Sum aggregation in kibana data table visualization for “other” bucket is always 0"
**Kibana version:**
7.8.0

**Elasticsearch version:**
7.8.0

**Server OS version:**
Ubuntu 18.04

**Browser version:**
Chrome  83.0.4103.116

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Download page

**Describe the bug:**
I'm trying to create a data table visualization in Kibana. I have a Terms aggregation with size 5 and checked "

[2020-07-22 09:17] sqren commented on #70169
@mikecote I see you've added this to "Long Term". This is something we hope to be able to have available in 7.10. Is that possible?

[2020-07-22 09:22] VladLasitsa commented on #70429
It was fixed as part of this pr https://github.com/elastic/kibana/pull/69160

[2020-07-22 09:22] #70429 closed

[2020-07-22 09:22] sqren commented on #71566
I think a domain-based structure makes sense and having all observability code in a single location will make certain things easier. I don't foresee any problems migrating to this structure.

[2020-07-22 09:25] #21642 closed

[2020-07-22 09:25] #71245 closed

[2020-07-22 09:26] #71987 closed

[2020-07-22 09:26] #22300 closed

[2020-07-22 09:28] #52854 closed

[2020-07-22 09:43] dej611 commented on #70295
Had a first investigation on this flaky test: the filter bar seems to not render in some Firefox runs for some reason.
Things tried so far:
* generically wait at the beginning of the test for an arbitrary amount of time (>3s) ([0/100 failures](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/623/)) ✅ ?
  * While this looks the more promising, just adding arbitrary waiting time based

[2020-07-22 09:45] flash1293 commented on #68595
I just unskipped this test on master because I removed a source of flakiness (unrelated to the failing promotion). I didn't notice any failures due to screenshot comparisons, maybe that problem got resolved in the meantime or I missed it.

Running a flaky runner for this suite on master to make sure: https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/635

If there are failures, I will

[2020-07-22 09:56] ppisljar commented on #72673
i think 1. is fine. 3. doesn't make sense, it results in 1.

so if app wants to execute specific action, execute that action.
the only reason you would fire a trigger is that app doesn't care what happens, we leave that to the admin/user/consumer.

however for the case of maps i am not sure that is the case ? what happens when you put map embeddable somewhere where there is no filter manager (and

[2020-07-22 10:00] mshustov opened #72816 "Track dev perf metrics on CI"
Without introducing an additional infrastructure,  We can track the following DX metrics on CI:
- time to perform type check
- time to build Kibana artifact
- time to run tests (for every category - unit, integration, functional). We might need to exclude metrics for cases when tasks were interrupted due to failed tests.
- time from `kibana start` to server ready to serve traffic. If it's possible

[2020-07-22 10:00] elasticmachine commented on #72816
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-22 10:13] majagrubic opened #72820 "Short URL creation"
n/a

[2020-07-22 10:14] elasticmachine commented on #72820
Pinging @elastic/kibana-security (Team:Security)

[2020-07-22 10:14] elasticmachine commented on #72820
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 10:15] #67310 closed

[2020-07-22 10:15] #68293 closed

[2020-07-22 10:15] #71500 closed

[2020-07-22 10:15] #72528 closed

[2020-07-22 10:59] gmmorris commented on #71441
A couple of concerns that this approach could introduce:
Lets say, hypothetically, we have the Reporting tasks configured to a `maxConcurrency` of 1 (so it can only run 1 reporting task), and the Kibana instance has a max workers of 30.

**Concern:** If a Kibana has no reporting tasks in its queue and its query returns 30 reporting tasks, the task queue could be clogged up by Reporting tasks and a

[2020-07-22 11:07] gmmorris commented on #43994
_We've sent out an email to Kibana Contributers notifying them of the upcoming merge of this PR.
For reference, here it is:_

[2020-07-22 11:23] gmmorris commented on #54916
Came up with a possible direction, details over here:
https://github.com/elastic/kibana/issues/71441#issuecomment-661955231
https://github.com/elastic/kibana/issues/71441#issuecomment-662388606

If @tsullivan & @joelgriffith feel this adequately addresses their needs and @elastic/kibana-alerting-services like the direction, then we can consider pulling this issue into the To Do list I think.

[2020-07-22 11:36] timroes commented on #68595
Closing this, since the 7.x backport got merged.

[2020-07-22 11:36] #68595 closed

[2020-07-22 11:37] ppisljar opened #72826 "update base embeddable input"
update base embeddable input with properties dashboard is relying on that every embeddable implements:
- timeRange
- query
- filters

[2020-07-22 11:37] elasticmachine commented on #72826
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 11:49] Dentrax opened #72827 "Consider improve `Add Filter` Pop-up in order to do better navigation between field names"
**Describe the feature:**

Currently it's _too hard_ to figuring out which field is which, if field name is so long, in the _Add Filter_ popup, _without typing any words_.

<img width="397" alt="Screen Shot 2020-07-22 at 14 43 51" src="https://user-images.githubusercontent.com/16493751/88172503-c475c780-cc29-11ea-832e-40ca80ae3aa6.png">

Any ideas about how to improve this UX?

[2020-07-22 11:52] flash1293 commented on #68595
Flaky runner didn't complain, seems like it just started working again.

[2020-07-22 11:53] mbondyra opened #72829 "[Discover] Selected fields persist even after changing index pattern"
I am not exactly sure if it's a bug, @kertal can you assess?

**Kibana version:**
master

**Steps to reproduce:**
1. Use kibana instance with at least 2 index patterns defined
2. Go to discover
3. Choose some of the fields from available fields list to add them to selected fields
4. Change index pattern
5. Current behavior: the selected fields list is empty on the fields list, but the table displa

[2020-07-22 11:58] lizozom commented on #72829
I suspect this might be related to a use case where the same fields are present in both IPs (for example if they are using the Elastic Common Schema).

I think the better logic would be, if the field does not exist in the new IP, remove it.

[2020-07-22 12:00] flash1293 opened #72830 "Short url: Embed flag is not respected"
**Kibana version:** 7.9 BC2

**Describe the bug:** iframe short urls created prior to 7.7 lose the embed flag and are thus rendering with visible chrome

**Steps to reproduce:**
1. Open Kibana < 7.7
2. Go to dashboard and create iframe short url (will look like this: `/goto/sdhfkjsdfhjklds?embed=true`)
3. Upgrade to Kibana 7.7 or later
4. Visit short url
5. Dashboard is rendered with  visible chro

[2020-07-22 12:00] elasticmachine commented on #72830
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 12:01] mbondyra commented on #72829
Closing as it's the duplicate of https://github.com/elastic/kibana/issues/57322

[2020-07-22 12:01] #72829 closed

[2020-07-22 12:02] pgayvallet opened #72831 "Have the status_page route return a 503 when the kibana status is red"
Original discussion: https://github.com/elastic/kibana/pull/72017#discussion_r457929350

In https://github.com/elastic/kibana/pull/72017 we migrated the status page to core. However the legacy status page was responding with an http code of 503 when the kibana status is red.

This is something that could not be done directly in https://github.com/elastic/kibana/pull/72017 as the server-side API wa

[2020-07-22 12:02] elasticmachine commented on #72831
Pinging @elastic/kibana-platform (Team:Platform)

[2020-07-22 12:08] mbondyra commented on #66238
I checked the issue and it existed in 7.6.2 and is still there for 7.9.
One note- it's not just timerange, but also:
1. index pattern - it comes back to the default one.
2. App filters - it removes them.

Pinned filters are persisted,

[2020-07-22 12:26] mbondyra opened #72832 "[Discover] query bar doesn't stretch to the whole width when selected on Safari"
**Kibana version:**
7.9, master

**Browser version:**
Safari

**Steps to reproduce:**
1. Go to Discover
2. Select query bar
3. Current behavior: the query bar doesn't stretch to the whole width
![image](https://user-images.githubusercontent.com/4283304/88176160-23860d00-cc27-11ea-92aa-ed7ae1ce996d.png)

**Expected behavior:**
The query bar stretches to the whole width:
![image](https://user-images

[2020-07-22 12:26] elasticmachine commented on #72832
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 12:30] #72807 closed

[2020-07-22 12:33] #72820 closed

[2020-07-22 12:38] Dosant commented on #72673
@ppisljar, this specific case is about map embeddable.

In current scenario from inside map embeddable I want to:
1. Either exec apply filter trigger and show all available options
2. Apply filter directly, because I don't want intermediate context menu to popup

[2020-07-22 12:39] pheyos opened #72835 "[ML] Raw data link in module jobs leads to Kibana home instead of Discover"
**Found in version**
- 7.9.0-bc2

**Browser**
- Chrome

**Steps to reproduce**
- Create and run AD jobs with the `apache_ecs` module
- View results for the `Low_request_rate_ecs` in the anomaly explorer or single metric viewer
- Click the action `Raw data for one of the anomalies`

**Expected result**
- Discover app is launched in a separate tab, showing the raw data

**Actual result**
- In many c

[2020-07-22 12:39] #72700 closed

[2020-07-22 12:40] majagrubic opened #72836 "[Navigation] After deletion Dashboard stays in "Recently viewed""
**Kibana version:**
7.9 BC2

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When viewing a dashboard, it is added to the "Recently viewed" items in the nav bar. If the dashboard is then deleted, the name still stays in the "recently viewed" items, thus providing a shortcut to a non-existing item. I believe it would be better to delete a short

[2020-07-22 12:40] elasticmachine commented on #72836
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-07-22 12:41] flash1293 opened #72837 "Kibana doesn't load in Win10 Edge"
**Kibana version:** 7.9 BC2

**Describe the bug:** Kibana doesn't load at all in Edge on Windows 10

**Steps to reproduce:**
1. Go to Kibana
2. Loading spinner is shown forever (VM freezes)

**Expected behavior:**
Logins screen  is shown

**Screenshots (if relevant):**

There are some errors in the console, hinting at a problem with the bundling
<img width="1680" alt="Screenshot 2020-07-22 at 14 2

[2020-07-22 12:41] elasticmachine commented on #72837
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-22 12:42] mikecote commented on #45815
7.11 would be ideal for the alerting team, we would start work in parallel on our side.

[2020-07-22 12:56] flash1293 commented on #72837
This is the old Edge, not the Chromium based - my bad. Closing

[2020-07-22 12:56] #72837 closed

[2020-07-22 12:57] Dosant opened #72838 "Don't show "explore underlying data" action if no access to Discover"
**Kibana version:** 7.9 BC2
**Describe the bug:**

New action introduced in https://github.com/elastic/kibana/issues/69368 shouldn't be shown if no access to Discover App

**Screenshots (if relevant):**

This is how navigation looks like if case no access to discover:

![Screenshot 2020-07-22 at 14 52 16](https://user-images.githubusercontent.com/7784120/88178993-811c5880-cc2b-11ea-9745-8fe4d82a81

[2020-07-22 12:57] elasticmachine commented on #72838
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 13:05] #72475 closed

[2020-07-22 13:09] rahulgupta-qasource commented on #71072
Hi @EricDavisX

Thank you for the feedback

We have validated this ticket on 7.9 BC2 Kibana Cloud environment  Below are the observations and steps that we have followed.

Steps followed:
1. Open the Kibana 7.9 BC2 cloud environment in browser, then click Ingest Manager->Fleet tab.
2. Click on Add agent->Standalone mode
3. Download the 7.9 BC2 elastic agent https://staging.elastic.co/7.9.0-f32a4a8

[2020-07-22 13:13] nchaulet commented on #72072
The idea of having a concurrency limit is interesting, I think it's probably a little harder to implement as a config change is probably not just distributing the `CONFIG_CHANGE` action but also handling the call to acknowledge that change.

[2020-07-22 13:17] flash1293 opened #72844 ""Application not found" loading spinner off center with pinned navigation"
**Kibana version:** 7.9 BC 2

**Describe the bug:** When the navigation is pinned and the user navigates to a non existing app (or an app  they don't have access to), the spinner is not centered (seen in Edge for Mac)

<img width="1340" alt="Screenshot 2020-07-22 at 15 14 47" src="https://user-images.githubusercontent.com/1508364/88180949-6a2b3580-cc2e-11ea-80f1-0319b5a35c79.png">

[2020-07-22 13:17] elasticmachine commented on #72844
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-07-22 13:18] rahulgupta-qasource commented on #71081
Hi @EricDavisX

 Thank you for sharing the update on the ticket.

 For now, we have marked as Skipped the following corresponding testcases under Ingest Manager_Regression Execution for 7.9_BC2 regression execution plan.

 1. create a specific es / kibana user and use this to start it up, then delete user & confirm data stops flowing in
 Link: https://elastic.testrail.io/index.php?/cases/view/1537

[2020-07-22 13:24] #68435 closed

[2020-07-22 13:38] lizozom commented on #72601
@Dosant on 7.9 latest branch, I get the same behavior of seeing the warning, but it immediately switches to a normal state.

[2020-07-22 13:43] flash1293 commented on #72601
@lizozom Try going back to the listing page and then access the same dashboard again. Sometimes I had the same thing of the `Warning` label  just flickering, but the second time it always stayed for me.

[2020-07-22 13:45] #62438 closed

[2020-07-22 13:54] TuemmlerKelch opened #72851 "[Discover] when changing index pattern, you can't instantly type anymore"
**Kibana version:** 7.8

**Elasticsearch version:** 7.8

**Server OS version:** CentOS 7.8

**Browser version:** EDGE Version 83.0.478.56 (Official Build) (64-Bit)

**Browser OS version:** Server 2008R2

**Original install method (e.g. download page, yum, from source, etc.):** N/A

**Describe the bug:** When Changing the index pattern, you used to be able to directly type the name to narrow down t

[2020-07-22 13:54] kibanamachine opened #72852 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/uptime/rest/telemetry_collectors·ts - apis uptime uptime REST endpoints with generated data telemetry collectors should receive expected results after calling overview logging"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6835/)

[2020-07-22 13:57] #66291 closed

[2020-07-22 13:57] simianhacker commented on #72367
@hendry-lim Most ES errors are multiple line, is that the full error? I don't see anything that would explain why the query failed.

[2020-07-22 13:58] pheyos opened #72854 "[ML] File data viz - index management link after upload not working"
**Found in version**
- 7.9.0-bc2

**Browser**
- Chrome

**Steps to reproduce**
- Upload a log file via file data recognizer
- After ingesting the data, click the `Index Management` link

**Expected result**
- The index management page is loaded and it's filtered for the created index name

**Actual result**
- The index management page is loaded but doesn't display indices:
![image](https://user-im

[2020-07-22 14:00] elasticmachine commented on #72803
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-22 14:02] elasticmachine commented on #72372
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-22 14:02] flash1293 opened #72855 "[Lens] Indexpattern datasource persistence issue layer not cleaned up"
**Kibana version:** 7.9 BC2

**Describe the bug:**

It seems like when saving the state, sometimes old configuration makes its way back in.

**Steps to reproduce:**
1. Go to Lens
2. Create bar chart over time
3. Save visualization
4. Switch to pie
5. Create single layered pie with terms agg
6. Save visualization
7. Go to listing page and load visualization again
8. "An error occurred when loading

[2020-07-22 14:02] elasticmachine commented on #72855
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 14:05] #64723 closed

[2020-07-22 14:06] hendry-lim commented on #72367
@simianhacker yes, that's the full error. I copied that from the Stack Monitoring logs.
I will trigger the error again in a minute and copy the one from ES logs instead of Stack Monitoring logs.

[2020-07-22 14:13] flash1293 commented on #72838
There is the same issue with the `kibana_dashboard_only_user` which is handled separately (but should be considered as part of the fix for this  issue as well). If it's active, `kibanaLegacyStart.dashboardConfig.getHideWriteControls` returns true. This integration can be removed with 8.0

[2020-07-22 14:14] elasticmachine commented on #72851
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 14:20] elasticmachine commented on #72794
Pinging @elastic/apm-ui (Team:apm)

[2020-07-22 14:20] legrego commented on #59866
@tylersmalley I'm unfortunately having a very hard time reproducing this

[2020-07-22 14:22] jonathan-buttner commented on #68613
Closing as these tests have been removed.

[2020-07-22 14:22] #68613 closed

[2020-07-22 14:24] elasticmachine commented on #72793
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-22 14:24] elasticmachine commented on #72792
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-22 14:25] flash1293 commented on #34014
I checked the logs and it seems like this is only failing on 6.8 builds now.

The last 7.9 failure is related to an outage of cloud:

[

@timroes Does it make sense to look into the problem for 6.8 ?

[2020-07-22 14:27] drock commented on #15662
We have a similar concern with the loading of the Discover tab.  We have a 2B+ document and growing logging cluster.  A search of 7 days of logs often matches over 1B results.  While we don't get timeouts, the discover tab loads pretty slow, about 30s when caches are warm.  I tested the query without aggs and it does cut the time in about half, but Kibana doesn't give an option to remove the histo

[2020-07-22 14:29] restrry commented on #72808
@elastic/kibana-app-arch  is it due to https://github.com/elastic/kibana/issues/27001 ?

[2020-07-22 14:30] restrry commented on #72798
Are you sure 5601 port is available?

[2020-07-22 14:32] roncohen opened #72859 "[Ingest Manager] Investigate fleet check-ins timing out"
We see some check-ins timing out. By the look of the response time graph it looks like some requests hit the 265s socket timeout we set on Kibana (`server.socketTimeout: 265000`), which shouldn’t happen.  On the graph below it looks like it was all the clients that went up to 265s and times out, but other tests show that it not always _all_ the check-ins that time out.

![image (21)](https://user-

[2020-07-22 14:32] elasticmachine commented on #72859
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 14:39] streamich commented on #64497
My two cents:

All uses cases I know for AppArch and KibanaApp are on client-side. So, just client-side would be good, AFAIK.

I would suggest to go for whatever is easiest, i.e. some properties.

:+1:

Maybe one is enough. Only thing if one wanted the navigate within the Kibana but with reload, they would need to do it themselves.

Yes, serialize `KibanaURL` to string URL.

[2020-07-22 14:40] elasticmachine commented on #72827
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 14:41] mikecote commented on #70169
@sqren I went over the recording of the triage session we had for this issue. I think we needed more clarifications on if this issue was still needed or if your requirements have changed based on the scope adjustment the homepage team made for 7.9 / 7.10. We placed it with the [bulk APIs story](https://github.com/elastic/kibana/issues/53144) (long term) and had an approach we believe could work fo

[2020-07-22 14:41] mbondyra opened #72860 "[Lens] Refreshing interval causes 4 endpoint hits"
**Kibana version:**
master, 7.9

**Describe the bug:**

**Steps to reproduce:**
1. Go to lens and create a simple visualization
2. Open network panel and setup 'refresh every' x seconds on from the time range panel.
3. When the refresh happens, there are four requests sent to `internal/search/es` endpoint. After there are 4 more sent to `usage`

Expected behaviour: Just like on the other visualiza

[2020-07-22 14:41] elasticmachine commented on #72860
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 14:42] weltenwort opened #72861 "[Logs UI] Create functional tests for ML permissions on the ML-related tabs"
## Summary

The "Anomalies" and "Categories" tabs rely on the user having the necessary permissions to read or create ML jobs respectively.

These permissions are controlled via the role. The tabs check them indirectly via ML capabilities API and show corresponding screen to the user if capabilities are lacking. This should be tested for user with as many combinations as feasible:

- user has "All

[2020-07-22 14:44] elasticmachine commented on #72793
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-07-22 14:45] elasticmachine commented on #72792
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-07-22 14:46] sdam69 commented on #33928
+1

[2020-07-22 14:47] charlie-pichette commented on #68638
This failure was due to a switching the security solutions app to using data streams.  A fix was made in #68794.  This test is passing now.

master/8.0: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1155/
7.x/7.9: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1158/
7.8/7.8.1: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1156/ (skipped)

[2020-07-22 14:48] #68638 closed

[2020-07-22 14:50] flash1293 commented on #72860
When you tested, did your chart show three suggestions? I wired the auto refresh with the suggestions as well (https://github.com/flash1293/kibana/blob/4a1b05c843c39beb3ea2d4db35f444e4b120c428/x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx#L213), in that case it's working as expected.

Back then I thought refreshing everything is the right thing to do to keep thi

[2020-07-22 14:51] chrisronline opened #72862 "[Monitoring] Alerts that are not firing still show up in the UI"
[Our check](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/alerts/status.tsx#L29) if the alert is firing does not actually look at the `firing` flag and as a result, can sometimes show alerts that were firing but not anymore.

<img width="789" alt="Screen Shot 2020-07-22 at 10 51 15 AM" src="https://user-images.githubusercontent.com/56682/88191289-47d2f100-cc09-11ea

[2020-07-22 14:51] elasticmachine commented on #72862
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-22 14:56] elasticmachine commented on #66602
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 14:58] ThomThomson commented on #72753
Oddly enough, I actually hadn't refreshed the page when testing this. I can confirm that refreshing the page fixes the issue, but it is still present on newly created charts.

[2020-07-22 14:59] kibanamachine opened #72864 "Failing test: X-Pack Jest Tests.x-pack/plugins/task_manager/server/lib - Bulk Operation Buffer createBuffer() batch updates can be customised to execute after a certain period"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6837/)

[2020-07-22 14:59] elasticmachine commented on #72864
Pinging @elastic/kibana-test-triage (failed-test)

[2020-07-22 15:00] #67044 closed

[2020-07-22 15:01] mostlyjason opened #72865 "[Ingest Manager] Reduce height of Agent configuration selection box"
We've gotten feedback from several people including Ron, Ruflin and Shay that the Agent configuration selection box on the integration configuration page takes up too much vertical space. This is particularly true when a user is just getting started and there is only a single item in the list. This results in a large amount of white space. It also pushes the content that the user needs to configur

[2020-07-22 15:01] elasticmachine commented on #72865
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 15:02] synapticiel commented on #71762
We are migrating our plugin from Legacy to the new platform, we have the follwoing remarks :
1- The plugin-generator does not add package.json to the plugin in order to add dependencies only for the plugin, we are adding package.json manually
2- We are unable to buid the package, we use manual process to provide zip file then install on Kibana instance
3- We are unable to access kibana after plugi

[2020-07-22 15:04] #72667 closed

[2020-07-22 15:04] tylersmalley commented on #56621
@peteharverson, I believe this can be closed now that SCSS has moved back into Webpack with the new platform build. Can you confirm you're no longer experiencing issues here?

[2020-07-22 15:06] flash1293 commented on #45462
I  checked the last few failures of this:

* cloud test: Caused by 502 status code from cloud

* darwin test: Caused by 500 status code (watermark exceeded, maybe the disk ran full - seems like the VMs the test is running on should be resized)

[16:06:38]                     │          at Fetch._callee3$ (http://localhost:5620/33412/bundles/core/core.entry.js:34:109213)
[16:06:38]

[2020-07-22 15:08] elasticmachine commented on #15046
Pinging @elastic/kibana-platform (Team:Platform)

[2020-07-22 15:09] tylersmalley commented on #58108
Closing as the issue referenced here was resolved. In addition, IE 11 support is being dropped as of 7.9 per https://www.elastic.co/support/matrix#matrix_browsers

[2020-07-22 15:09] #58108 closed

[2020-07-22 15:09] #47286 closed

[2020-07-22 15:10] jasonrhodes opened #72872 "[Logs UI] [Metrics UI] Add "has any data" to our source API, use it for overview hasData functions"
We currently use the "logIndicesExist" flag in logs to determine if any of the configured logs indices exist. (In metrics I assume we do something similar?) This returns true if the indices exist, but doesn't check for documents in the index. We have a "has data" endpoint but that requires a time range because we are usually asking that question in the context of a time range.

For the Observabili

[2020-07-22 15:10] elasticmachine commented on #72872
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-07-22 15:12] tylersmalley commented on #31171
Closing as duplicate of #43539

[2020-07-22 15:12] #31171 closed

[2020-07-22 15:12] myasonik commented on #72836
@elastic/kibana-platform I couldn't find a way to remove items from the [recently accessed service](https://github.com/elastic/kibana/blob/master/src/core/public/chrome/recently_accessed/recently_accessed_service.ts). So I guess we'd need to add a method there?

@majagrubic Once a method is created to remove items, it'd still be up to the individual app teams to remove items from recently accessed

[2020-07-22 15:14] myasonik commented on #66238
I'm going to remove the Core UI label on this then because it doesn't seem to be related to any of the nav stuff we've rolled out

[2020-07-22 15:16] tylersmalley commented on #11685
Resolved in https://github.com/elastic/kibana/pull/24374

[2020-07-22 15:16] #11685 closed

[2020-07-22 15:16] tylersmalley commented on #12169
Closing, no longer an issue.

[2020-07-22 15:16] #12169 closed

[2020-07-22 15:18] kibanamachine commented on #68568
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6774/)

[2020-07-22 15:18] kibanamachine commented on #68609
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6774/)

[2020-07-22 15:18] kibanamachine opened #72874 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint - endpoint "before all" hook in "endpoint""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6774/)

[2020-07-22 15:18] elasticmachine commented on #72874
Pinging @elastic/kibana-test-triage (failed-test)

[2020-07-22 15:19] mbondyra commented on #72860
@flash1293 you're right, I haven't connected the fact that refreshing happens separately to all suggestions. I think in this case we're good to close it.

[2020-07-22 15:21] flash1293 commented on #45462
I ran this suite locally against a 7.9 cloud instance and it didn't fail, maybe something from another test triggers it. When it happens I  would be very interested in the Kibana server logs and Elasticsearch logs during the test.

[2020-07-22 15:22] tylersmalley commented on #20674
https://github.com/elastic/kibana/pull/34896 has been merged which includes all objects in the import/export API.

Users can use this now, but I think it would still be helpful to have a CLI which uses the SavedObject Client to export and compress. Then allow it to be imported.

[2020-07-22 15:22] poffdeluxe opened #72875 "[Reporting] Expand testing for non-default space report generation"
After #72475 popped up during the testing spike, it might be helpful to include some new functional/automated tests that explicitly test the non-default space case when generating both PDF and PNG reports.

[2020-07-22 15:22] elasticmachine commented on #72875
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-07-22 15:23] poffdeluxe commented on #72875
Adding some automated testing for generating pdf reports from Canvas workpads is something that the @elastic/kibana-canvas team and I can definitely help with

[2020-07-22 15:23] flash1293 commented on #72860
No worries, it's not obvious and I stepped into this trap multiple times myself ("Why is it doing everything four times??!")

[2020-07-22 15:23] #72860 closed

[2020-07-22 15:25] simianhacker commented on #72367
The problem is trying to aggregate the network traffic. Network traffic is reported per interface (as a counter) and not as a total. That requires us to run a terms aggregation, then sum those individual values together per bucket. This is where the bucket explosion is happening. I think we can reduce the size of the composite aggregation from `75` to `20` and that would make this more robust.

[2020-07-22 15:27] #68040 closed

[2020-07-22 15:30] simianhacker commented on #72367
Actually, based on my calculations it would need to be `5`

[code]

[2020-07-22 15:32] synapticiel commented on #70412
We tried this workaround, we have following remarks :
1- After update package.json with plugin helpers we need to run yarn kbn bootstrap to install the helper inside the plugin
2- When adding .kibana-plugin-helpers.json with {
  "buildSourcePatterns": [
    "kibana.json"
  ]
} and we run yarn build, we get a zip build with only kibana.json inside :)

[2020-07-22 15:35] tylersmalley opened #72880 "Support for serving static assets over a CDN"
With the change to [including the build number](https://github.com/elastic/kibana/pull/64414) in the asset path, we can now support serving these assets through a CDN. This would drastically decrease the noise and load on the Kibana server, while hopefully improving performance.

This should be something we can launch with on Cloud.

[2020-07-22 15:35] elasticmachine commented on #72880
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-22 15:35] martijnrondeel commented on #70412
@synapticiel You need to add all source files you want included in the build in your `buildSourcePatterns`, for example:

[code]

[2020-07-22 15:36] pgayvallet commented on #71762
@synapticiel we are aware of the issue, your three points are covered in #70426 and #70412

[2020-07-22 15:37] elasticmachine commented on #72367
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-07-22 15:37] tylersmalley opened #72884 "[build] Support for Docker aarch64"
We have recently added support for [Linux aarch64](https://github.com/elastic/kibana/issues/61507). To maintain alignment with Elasticsearch, we should also add support for ARM Docker images.

[2020-07-22 15:37] elasticmachine commented on #72884
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-22 15:38] synapticiel commented on #70412
Thank you @martijnrondeel for your feedback
What about if we have other folders like : common & translations and node_modules for local dependencies of the plugin ? do we need to include them ?

[2020-07-22 15:38] tylersmalley opened #72885 "[build] Support for deb/RPM aarch64"
We have recently added support for [Linux aarch64](https://github.com/elastic/kibana/issues/61507). To maintain alignment with Elasticsearch, we should also add support for ARM deb/RPM distributions.

[2020-07-22 15:38] elasticmachine commented on #72885
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-22 15:39] synapticiel commented on #71762
Thank you @pgayvallet  for your feedback, I was looking for workarounds to test my POC

[2020-07-22 15:39] tylersmalley commented on #61507
This was completed in https://github.com/elastic/kibana/pull/69165. I have created issues to follow-up with [Docker](https://github.com/elastic/kibana/issues/72884), [deb, and RPM](https://github.com/elastic/kibana/issues/72885) archives.

[2020-07-22 15:39] #61507 closed

[2020-07-22 15:40] cchaos opened #72889 "[Lens] Multiple Y-axes don't render correctly when displayed on both left and right side of the axis"
**Kibana version:** Found in current Master / 7.9 but probably has occurred since the axis side feature was implemented

**Describe the bug:**

The default display of adding a second Y-axis correctly displays the bars next to each other:
<img width="1074" alt="Screen Shot 2020-07-22 at 11 34 24 AM" src="https://user-images.githubusercontent.com/549577/88196987-db0f2500-cc0f-11ea-8788-0acf110273aa.

[2020-07-22 15:41] kibanamachine commented on #68568
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.9/70/)

[2020-07-22 15:41] kibanamachine commented on #72874
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.9/70/)

[2020-07-22 15:41] clintandrewhall commented on #72753
@ThomThomson We were able to consistently reproduce this: you have to change one of the Dimensions and measures before changing the style, (or anything else).  @corey and I debugged this this morning and he came up with a solution we think will solve it... stay tuned!

[2020-07-22 15:43] elasticmachine commented on #72889
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 15:45] mostlyjason commented on #72865
From Ron on Slack:

[2020-07-22 15:47] elasticmachine commented on #15871
Pinging @elastic/kibana-platform (Team:Platform)

[2020-07-22 15:48] kobelb commented on #45815
😬 else-where, we store values like this in local storage because we don't have persistent user-specific storage.

I think that's a good idea.

[2020-07-22 15:49] tylersmalley commented on #14800
@spalger, can this be closed now that we have moved over to new platform plugins?

[2020-07-22 15:50] spalger commented on #72864
14 Failures between PRs and master

![image](https://user-images.githubusercontent.com/1329312/88197882-efdfbe80-cbf7-11ea-86b3-911e89055906.png)

Skipped

master: https://github.com/elastic/kibana/commit/8305d9f77560a8ce23c0cce29f83495f0511a0bd
7.x/7.10: https://github.com/elastic/kibana/commit/5ee3467f9cbd3853abe6f561546c0b4f8aa1ce11

Attempted to skip this in 7.9 as well but the test is new as

[2020-07-22 15:51] elasticmachine commented on #72864
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-22 15:51] #12434 closed

[2020-07-22 15:53] tylersmalley commented on #10422
@jbudz was this resolved in https://github.com/elastic/kibana/pull/66614?

[2020-07-22 15:53] weltenwort commented on #72872
Speaking for the Logs UI, we could add a `hasLogEntries` property to our log status API:

https://github.com/elastic/kibana/blob/3b809bea912cd97c7001774df627cac927d92ff6/x-pack/plugins/infra/common/http_api/log_sources/get_log_source_status.ts#L43-L46

https://github.com/elastic/kibana/blob/8305d9f77560a8ce23c0cce29f83495f0511a0bd/x-pack/plugins/infra/server/routes/log_sources/status.ts#L34-L46

I

[2020-07-22 15:57] weltenwort commented on #72872
:information_source: The technique to query for the existence of any data is explained in the [ES search API docs](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/search-request-body.html#_fast_check_for_any_matching_docs) to be a combination of setting `size: 0` and `terminate_after: 1` and checking `hits.total` in the response.

[2020-07-22 16:03] flash1293 commented on #72889
I  think this is an elastic-charts issue, at least I can reproduce this with a minimal spec: https://github.com/elastic/elastic-charts/issues/759

[2020-07-22 16:04] flash1293 commented on #72889
Definitely a good catch, we have a related (but different root cause) issue already: https://github.com/elastic/kibana/issues/72243

[2020-07-22 16:06] mikecote commented on #72864
Looks like usage of fake clocks will help with the flakiness.

[2020-07-22 16:08] elasticmachine commented on #13427
Pinging @elastic/kibana-platform (Team:Platform)

[2020-07-22 16:08] elasticmachine commented on #39503
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 16:09] aaronjcaldwell opened #72896 "Help menu not resetting on navigating to Kibana home for some apps"
**Kibana version:**

7.9

**Describe the bug:**

On navigating from the Kibana home page to an app such as Maps or Discover, the help menu correctly updates to show content for that app. When navigating back home however it retains this content. Conversely when navigating to Canvas it updates correctly and removes the content correctly when navigating back home

**Steps to reproduce:**
1. Go to th

[2020-07-22 16:12] tylersmalley commented on #18879
This issue is pretty old, and the entire export/import API has been re-written and documented. If this is not the case we can re-open.

[2020-07-22 16:12] #18879 closed

[2020-07-22 16:12] spalger commented on #72803
3 PR failures and one failure on master. Currently failing my 7.x PR https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/63629/

![image](https://user-images.githubusercontent.com/1329312/88200492-0f2c1b00-cbfb-11ea-965d-90b779547954.png)

skipped

master: https://github.com/elastic/kibana/commit/b12d19f8faa230c117ec060f95d76dc62ac40ede
7.x/7.10: https://github.com/elastic/kibana

[2020-07-22 16:16] aaronjcaldwell commented on #72775
Sounds like a dupe of https://github.com/elastic/kibana/issues/68818. Just fixed via https://github.com/elastic/kibana/pull/71946 but only merged 6 days ago. Closing for now but feel free to reopen if I'm wrong!

[2020-07-22 16:16] #72775 closed

[2020-07-22 16:16] #72782 closed

[2020-07-22 16:18] tylersmalley commented on #36671
I think we can close this now that we have a `node.options` file in the config directory which should be used instead.

https://github.com/elastic/kibana/pull/62468

[2020-07-22 16:18] #36671 closed

[2020-07-22 16:21] tylersmalley commented on #14857
@spalger, where do we stand with this after ui-shared-deps?

[2020-07-22 16:23] elasticmachine commented on #12117
Pinging @elastic/kibana-platform (Team:Platform)

[2020-07-22 16:32] kibanamachine commented on #68568
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6775/)

[2020-07-22 16:32] #72416 closed

[2020-07-22 16:32] #72590 closed

[2020-07-22 16:37] nickpeihl opened #72907 "[Maps] Apply global filter button in layer can get stuck in loop when auto-scaling to clusters"
**Kibana version:**
7.9.0-snapshot

**Browser version:**
Firefox 78.0.2

**Describe the bug:**
This is a bit of an edge case, but a user can run into it depending on their data, the current zoom level, and any filters they may be applying while editing the layer settings. For example, I discovered by chance while testing the [nyc_taxis dataset](https://github.com/elastic/rally-tracks/tree/master/n

[2020-07-22 16:37] elasticmachine commented on #72907
Pinging @elastic/kibana-gis (Team:Geo)

[2020-07-22 16:44] cauemarcondes opened #72910 "[APM] Service Maps: Layout: test 2: Nodes with no incoming connections appear on the left"
`opbeans-dotnet` does have income connections, even though it's placed on the left side of the map.

![Screenshot 2020-07-22 at 18.42.58.png](https://zube.io/files/elastic/e8957ee00ab2ac37c3cce2b87a8de034-screenshot-2020-07-22-at-18-42-58.png)

[2020-07-22 16:53] spalger commented on #14857
webpackShims are not supported in the `@kbn/optimizer` and we're on the cusp of removing the legacy optimizer which will ultimately remove them. We can close this for now since they're good as gone.

[2020-07-22 16:53] #14857 closed

[2020-07-22 16:56] spalger commented on #14800
Not really, we haven't changed the fact that we support babel-register in production.

We could require that plugins are pre-built, but we don't currently and that would be a change on its own.

Ultimately though I don't think we should move forward with this approach so I'm going to close it anyway.

[2020-07-22 16:56] #14800 closed

[2020-07-22 16:57] cauemarcondes opened #72911 "[APM] Service Maps: Popovers: test 7: 'Focus map' button reloads service map with selected node "focused""
After focusing on `opbeans-python` when push the button to focus on the `opbeans-java` nothing happens.

![ezgif.com-video-to-gif (1).gif](https://zube.io/files/elastic/859df7639f7498e8f5a75acf4123d969-ezgif-com-video-to-gif-1.gif)

[2020-07-22 16:57] elasticmachine commented on #72911
Pinging @elastic/apm-ui (Team:apm)

[2020-07-22 16:58] ppisljar commented on #72673
we discussed over zoom and decided to try option 3. as its not true it will result in option 1. there is one big difference, app running executeTriggerActions will not know which action will execute, just that the default one will, which still allows us to provide different action implementations in different apps (for example apply_filter_action will look different in apps without filter bar and

[2020-07-22 16:58] jpountz commented on #46855
To provide additional background, @randomuserid was just explaining to me that lack of regexp support in KQL means that they need to fall back to the Lucene search syntax whenever they need regexps, here is an example for instance: https://github.com/elastic/detection-rules/blob/main/rules/linux/privilege_escalation_setgid_bit_set_via_chmod.toml. So there's no urgency to support regexps since we c

[2020-07-22 17:00] restrry opened #72912 "Image path in the scripted fields is broken"
**Kibana version:** 7.9.0

**Describe the bug:**

**Steps to reproduce:**
- Configure basePath.
- Run Kibana
- Go to Index Patterns
- Create Scripted Fields with Format=URL and Type=Image

**Expected behavior:**
Sample Image is rendered

**Any additional context:**
Seems to be broken during the migration to KP. The old code included basePath
https://github.com/elastic/kibana/pull/65026/files#diff-

[2020-07-22 17:00] elasticmachine commented on #72912
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-22 17:03] #68484 closed

[2020-07-22 17:04] nickpeihl opened #72913 "[Maps] Cloned clustered documents layer returns error"
**Kibana version:**
7.9.0-snapshot

**Describe the bug:**
A clone of a clustered documents layer containing <10,000 documents returns am error `this._documentSource.getMaxResultWindow is not a function`.

**Steps to reproduce:**
1. Add Flights sample data as Clustered documents layer in Kibana
2. Change the timepicker to `a year ago -> in a year` (this makes sure we have > 10000 documents)
3. Try

[2020-07-22 17:04] cauemarcondes opened #72914 "[APM] Service maps: test 5: user loads service maps without anomaly detection integration when xpack.ml.enabled: false"
Clicking on `Anomaly detection` to enable ML with the plugin disabled (`xpack.ml.enabled: false`) breaks APM page.

![Screenshot 2020-07-22 at 19.00.38.png](https://zube.io/files/elastic/f84648da0510cfebbc9f22cf3c5376e8-screenshot-2020-07-22-at-19-00-38.png)

[2020-07-22 17:04] elasticmachine commented on #72914
Pinging @elastic/apm-ui (Team:apm)

[2020-07-22 17:06] #72207 closed

[2020-07-22 17:11] #68723 closed

[2020-07-22 17:17] alvarezmelissa87 commented on #53109
Closed via https://github.com/elastic/kibana/pull/72758

[2020-07-22 17:17] #53109 closed

[2020-07-22 17:22] nreese commented on #72907
Closing, duplicate of https://github.com/elastic/kibana/issues/72760

[2020-07-22 17:22] #72907 closed

[2020-07-22 17:24] hbharding commented on #72865
## Design update
[Loom recording](https://www.loom.com/share/4ad05fe24a7042c8aecc8c73d89ad567)

![image](https://user-images.githubusercontent.com/847805/88207438-ca65ab80-cc1d-11ea-9ad8-11253246cecb.png)
![image](https://user-images.githubusercontent.com/847805/88208067-ace51180-cc1e-11ea-808c-8c19329604dd.png)

We can change step 1 "Select an agent configuration" to use a EuiComboBox that only a

[2020-07-22 17:29] #72151 closed

[2020-07-22 17:43] ph opened #72927 "[Ingest-Management]: Integration data does not appear under default config (copy) page, after creating a copy of default configuration. #620"
**Kibana version:**
Kibana: 7.9 BC2

**Elasticsearch version:**
Elasticsearch: 7.9 BC2

**Agent version:**
Agent: 7.9 BC2

**Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.9 BC2

**Description**
[Ingest-Management]: Integration data does not appear under default config (copy) page, after creating a copy of default configurati

[2020-07-22 17:44] elasticmachine commented on #72927
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 17:57] #70818 closed

[2020-07-22 17:57] #70880 closed

[2020-07-22 17:59] pmuellr commented on #49392
I don't fully understand how this would work.  Is the idea we would capture the URL when an alert is created to save the URL so we can inject it into action parameters?  This obviously won't work for alerts created via `curl` invocations, eg.  Where is saved?  In the alert?  Which is then problematic when servers migrate to new names.

I like the idea of somehow using `window.location` to help val

[2020-07-22 18:01] rayafratkina commented on #46855
Wondering if we should use the new wildcard field in regexps? In that case https://github.com/elastic/kibana/issues/60933 is related

[2020-07-22 18:03] jpountz commented on #60933
@markharwood can this be closed now that `wildcard` fields pretend to be `keyword` fields in the `_field_caps` API? I'm expecting Kibana support for `wildcard` to come for free?

[2020-07-22 18:07] jasonrhodes commented on #72872
@weltenwort what is your feeling, just re: the Logs side, for how risky this is to do after FF? It feels like a bigger change than I'm feeling great about, personally, but maybe I'm over-reacting? (I'm still trying to track down how much of an edge case this is but I want to understand both sides of the equation...)

[2020-07-22 18:13] lianachaaban opened #72932 "the graph is not displaying, mark point"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2020-07-22 18:16] lianachaaban commented on #72932
i wrote a vega lite script to visualize some data i queried. using kibana 7.4.2
i am not getting any "point" on the graph.
i tried some sample example and i was having the point on the graph, once i have build the data url specific to my query and all the other part like format, transform, now i don't have anything displayed on the graph, i have an empty graph,..

{
  $schema: https://vega.github.

[2020-07-22 18:21] simianhacker commented on #72872
@jasonrhodes My gut says "If they found it during testing then our customers have a high probability of find it too." I'm pro-fix-it.

[2020-07-22 18:24] timroes commented on #46855
@rayafratkina the regex query should work on every field that supports it in KQL. A user though would do good in using a wildcard field if they know they need to use regexp queries a lot. I'm not sure if we can do anything reasonable to advertise that though from KQL since at that point indexing is already done and it's kind of "too late".

[2020-07-22 18:27] markharwood commented on #60933
I still have a suspicion large wildcard fields shouldn't be included in Kibana's drop-down lists for sorting or aggs along with the "proper" keyword fields. Admins and users alike will be frustrated by the circuit-breaker exceptions these would cause.

We know wildcard will be useful on large fields but I just can't see large fields making sense for sorting or aggs. Not sure how Kibana adds protec

[2020-07-22 18:28] sqren commented on #72914
Thanks for testing this @cauemarcondes ! Was this part of the test plan? If not, please add it. Additionally, can you also add a line to check if there are no available ml nodes? It's something like `xpack.ml.node` (can't remember exactly)

[2020-07-22 18:31] nchaulet commented on #62054
Should be fixed by https://github.com/elastic/kibana/pull/72621

[2020-07-22 18:31] #62054 closed

[2020-07-22 18:31] nchaulet commented on #60865
Should be fixed by https://github.com/elastic/kibana/pull/72621

[2020-07-22 18:31] #60865 closed

[2020-07-22 18:40] jen-huang commented on #68568
Recent failures look like they were due to issues connecting to registry. #72621 should fix this.

[2020-07-22 18:47] nreese opened #72935 "Vega tooltip is cut off by window edge"
Vega tooltips are cut off by window edge. I would expect tooltip to flow to the right in this case instead of getting cut off.

Screen shot created from using vega example from https://www.elastic.co/guide/en/kibana/7.9/vega-lite-tutorial.html. Then embed vega into dashboard.

<img width="400" alt="Screen Shot 2020-07-22 at 12 45 12 PM" src="https://user-images.githubusercontent.com/373691/8821578

[2020-07-22 18:47] elasticmachine commented on #72935
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 18:57] lianachaaban commented on #72932
i think i might understand the problem, the first bucket derivative is a Null bucket not existing, how to skip this one and only visualize from bucket 2 onward until the last buckets as they all have the derivative value i need to display which is the delta.

[2020-07-22 19:03] mikecote commented on #72656
I believe we do track a count of alerts by alert type. @YulNaumenko can you confirm?

[2020-07-22 19:09] elasticmachine commented on #72874
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-07-22 19:09] elasticmachine commented on #72874
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 19:09] jen-huang commented on #72874
The two failures were due to registry connection issues. #72621 should fix that.

[2020-07-22 19:10] elasticmachine commented on #72197
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 19:11] mikecote commented on #65552
In regards to https://github.com/elastic/kibana/issues/71441, the issue is purely research and we'll plan on supporting limited concurrency with https://github.com/elastic/kibana/issues/54916 (~7.11) based on the research / findings.

[2020-07-22 19:13] rarkins commented on #37388
@tylersmalley do you want this issue disabled permanently? If so then remove this line: https://github.com/elastic/kibana/blob/2ef9657ecff4ce0c655fd68c798351362a8d1250/renovate.json5#L30

Alternatively do you just want it closed whenever there's no updates? If so then that's a different option.

[2020-07-22 19:15] elasticmachine commented on #72166
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-07-22 19:15] elasticmachine commented on #58966
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 19:17] elasticmachine commented on #72168
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-07-22 19:17] mikecote commented on #65553
@pmuellr I'll send you the document the quote came from. The goal would be for Task Manager to reduce the stress it's putting on Elasticsearch whenever Elasticsearch responds with a 429. I think the ideas you have are good options to solve the problem.

[2020-07-22 19:26] #72752 closed

[2020-07-22 19:31] webmat commented on #60933
I was just now discussing how I expect we'll want to use `wildcard` for fields such as `error.stack_trace`... So I agree some problems could be lurking there...

[2020-07-22 19:36] caitlinbetz opened #72948 "[Fleet] Integration names should be globally unique"
**Describe the feature:**
Related to: https://github.com/elastic/kibana/issues/68019

Currently, an integration name is only required to be unique within an agent configuration. As a result, this can look a little confusing on the endpoint/policy side, as the integration name is tied to the policy name. We end up with a scenario where there can be multiple policies with the same name, where it's n

[2020-07-22 19:36] elasticmachine commented on #72948
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 19:36] cjcenizal commented on #71670
@tylersmalley I believe this is fixed, but could you please confirm and close?

[2020-07-22 19:37] #72760 closed

[2020-07-22 19:37] cjcenizal commented on #67833
@sebelga Can you confirm that this is one of the tests you're going to address during the 7.10 dev cycle?

[2020-07-22 19:38] cjcenizal commented on #66669
@sebelga Can you confirm that this is one of the tests you're going to address during the 7.10 dev cycle?

[2020-07-22 19:38] cjcenizal commented on #66457
@sebelga Can you confirm that this is one of the tests you're going to address during the 7.10 dev cycle?

[2020-07-22 19:41] myasonik commented on #72379
Hey @cosky5! This seems like an empty blueprint of an issue so I'm going to close it. If you meant to report something, please open a new issue and we'll make sure to take a look. Thanks!

[2020-07-22 19:41] #72379 closed

[2020-07-22 19:41] myasonik commented on #70543
Hey @wzstrong! This seems like an empty blueprint of an issue so I'm going to close it. If you meant to report something, please open a new issue and we'll make sure to take a look. Thanks!

[2020-07-22 19:41] #70543 closed

[2020-07-22 19:54] spalger commented on #72193
@delvedor I think it's misleading to imply that the only "solution" is to disable TLS authorization. Turning off authorization is a work around, not a solution.

[2020-07-22 19:57] liza-mae commented on #72193
Thanks @spalger for clarifying - I am going to revert my change so we don't mask this failure.

cc: @legrego @jportner

[2020-07-22 20:02] elasticmachine commented on #72193
Pinging @elastic/kibana-security (Team:Security)

[2020-07-22 20:03] liza-mae commented on #72193
@legrego if this test is catching a TLS misconfiguration on cloud we need to investigate it.

[2020-07-22 20:06] kevinlog commented on #72168
@nnamdifrankie can you take a look?

[2020-07-22 20:06] cjcenizal commented on #66856
Tested this manually and can verify no regression.

[2020-07-22 20:09] majagrubic opened #72958 "[Discover] "View surrounding documents" encodes spaces in filters"
**Kibana version:**
7.9

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
When viewing a saved search in Discover and option "view surrounding documents" is selected, the spaces are not shown properly:
<img width="846" alt="Screenshot 2020-07-22 at 21 04 17" src="https://user-images.githubusercontent.com/1937956/88223505-7f6c8800-cc5f-11e

[2020-07-22 20:09] elasticmachine commented on #72958
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-22 20:17] liza-mae commented on #72193
Checking first with fleet team to see if there isn't something incorrect on the side first.

[2020-07-22 20:17] neptunian opened #72959 "[Fleet] Add installed template components to installation object and remove them"
As part of https://github.com/elastic/package-registry/issues/497 and https://github.com/elastic/kibana/issues/68380 implemented https://github.com/elastic/kibana/pull/70517, component templates belonging to dataset index templates should be tracked as part of a package installation and added to the `epm-package` installation saved object.  When a package is removed, the components should also be

[2020-07-22 20:17] nickpeihl commented on #72907
Oops. Sorry.

[2020-07-22 20:17] elasticmachine commented on #72959
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 20:23] EricDavisX opened #72960 "[Ingest Manager] activity logs for Agent has data mappings that seem strange where an error isn't shown as an error type."
**Kibana version:**
7.9 BC3 deployed via cloud prod with BC3 Agent/Endpoint

**Browser version:**
Chrome on macOS

**Describe the bug:**
The search activity logs for an Agent has data mappings that seem maybe strange.
looks like some error related log lines aren’t of "type" ERROR ?  not sure if thats exactly as desired?

**Expected behavior:**
should it be ERROR type or no?

**Screenshots (if rele

[2020-07-22 20:23] elasticmachine commented on #72960
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 20:24] rw-access commented on #46855
@jpountz do `wildcard` and `regexp` perform equivalently when possible? For example, does the wildcard `foo*bar*baz` perform identically as `/foo.*?bar.?baz/`?

I think the wildcard functionality of KQL is a little flaky from what I've seen and those currently convert to `query_string`

[2020-07-22 20:26] crob611 opened #72961 "[Canvas] Route validation failure downloading Shareable .zip"
**Kibana version:**
7.9.0

Trying to download the full shareable `.zip` from  `/public/canvas/zip` returns a 400 with `"[request body.variables]: definition for this key is missing"`

[2020-07-22 20:26] elasticmachine commented on #72961
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-22 20:26] jen-huang commented on #72960
@ph / @nchaulet Do you know why this type of message is reported back to Fleet as `STATE` type rather than `ERROR`?

[2020-07-22 20:39] ph commented on #72960
This might be something on the Agent side and not the fleet @blakerouse?
I though we were explicit on the accepted types @nchaulet ?

[2020-07-22 20:49] EricDavisX commented on #72960
Also, the search type question aside, do we need another ticket for figuring out on Agent side why that error was thrown?  What is system/load metricset and should it be found? I don't know what this implies:

Application: metricbeat--7.9.0[0b352a73-16c9-4ada-8f8d-05dfd564b0b6]: State changed to DEGRADED: 1 error: 1 error: Error creating runner from config: 1 error: metricset 'system/load' not fou

[2020-07-22 20:49] #71165 closed

[2020-07-22 20:51] crob611 opened #72967 "[Canvas] Shareables looks to be missing some styles"
**Kibana version:**
7.9.0

Looks like some styles are missing in the shareable runtime.
![image](https://user-images.githubusercontent.com/515272/88227304-6baf2a80-cc3b-11ea-95e9-c6633a0f703c.png)

[2020-07-22 20:51] elasticmachine commented on #72967
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-22 20:58] simianhacker commented on #72872
Here's my PR to address the issue: https://github.com/elastic/kibana/pull/72969

[2020-07-22 21:08] LeeDr commented on #72323
According to the PR that fixes this, it doesn't really have anything to do with it being the docker image.

[2020-07-22 21:26] liza-mae commented on #72193
cc: @nchaulet to look at the tests.

[2020-07-22 21:31] pmuellr commented on #72803
appears to be here: https://github.com/elastic/kibana/blob/1889c68c6bcdfb4b0320ea1dfb77b6adde42986c/x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts#L716-L733

With so many flakies recently on event log and the TM batch work, I figure it's probably one of those - this one seems to be unrelated to event log, so guessing the TM batch work?  cc @gmmorris

[2020-07-22 21:41] IgorGuz2000 opened #72971 "[Security Solution][Resolver]Time between the nodes always shoing 0ms"
**Kibana version:**
7.9.0

**Elasticsearch version:**
7.9.0

**Server OS version:**

**Browser version:**
Firefox 76.0

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Agent Type field get overlapped by the Agent ID field in the External Alerts Table

**Steps to reproduce:**
1. events should be generated
2. open Security\Hos

[2020-07-22 21:41] elasticmachine commented on #72971
Pinging @elastic/endpoint-data-visibility-team (Team:Endpoint Data Visibility)

[2020-07-22 21:41] elasticmachine commented on #72971
Pinging @elastic/endpoint-app-team (Feature:Endpoint)

[2020-07-22 21:57] EricDavisX commented on #71072
@ph @nchaulet the above usage looks correct to me from our new UI for deploying stand-alone agent, do you want to assign it out for review why Agent isn't working at this stage?

[2020-07-22 21:57] smith commented on #72794
A similar error happens in logs with `xpack.infra.logs.customizeLogs.textSizeRadioGroup`:

![image](https://user-images.githubusercontent.com/9912/88232892-4bcc3680-cc3c-11ea-9c6c-4d2b0c0b7d47.png)

[2020-07-22 22:07] spalger commented on #70156
FYI, this just failed a snapshot verification job for 7.9

[2020-07-22 22:14] sqren commented on #70156
@cauemarcondes Can you take a look?

[2020-07-22 22:16] nchaulet commented on #72193
I am able to have a repro locally and looks like I am able to fix the test by commenting this line https://github.com/elastic/kibana/blob/master/test/common/services/elasticsearch.ts#L32

I do not think it's a ingest manager specific problem

[2020-07-22 22:17] poffdeluxe opened #72980 "[Maps] Un-hiding a cloned layer can result in no results"
**Kibana version:**
7.9-BC2

**Describe the bug:**
If you clone a hidden layer and then unhide the new cloned layer, it shows 0 results at first. Once you do something to trigger a query to ES (like move the map) it'll show up again

**Steps to reproduce:**
1. Create a layer with data
2. Hide the layer
3. Clone the layer
4. Un-hide the cloned layer

**Expected behavior:**
It should populate the ma

[2020-07-22 22:17] elasticmachine commented on #72980
Pinging @elastic/kibana-gis (Team:Geo)

[2020-07-22 22:19] liza-mae commented on #72193
I am not familiar with this setup.

@spalger why would commenting out this line fix the problem?  https://github.com/elastic/kibana/blob/1f155dea995b65e3b77b8e4165e4964b340b2fa4/test/common/services/elasticsearch.ts#L32

[2020-07-22 22:19] LeeDr commented on #72511
I don't understand why the "alerts" buttons are hidden unless you're in setup mode in the first place.  Why not just always make those visible?

But I also don't understand what the "idle state" is.  Does entering setup mode turn off monitoring?  Or disable alerts?

[2020-07-22 22:43] spalger commented on #72193
Looks like this line was added in https://github.com/elastic/kibana/pull/65598 with the assumption that the only time the elasticsearch client is used with https urls will be when using our local certificates.

[2020-07-22 22:45] elasticmachine commented on #72193
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-22 22:59] nickpeihl opened #72985 "[Maps] Upload GeoJSON fails with 408 error in cloud"
**Kibana version:**
7.9.0-snapshot

**Elasticsearch version:**
7.9.0-snapshot

**Server OS version:**
ESS cloud

**Browser version:**
Firefox 78.0.2

**Browser OS version:**
MacOS Mojave

**Original install method (e.g. download page, yum, from source, etc.):**
Deployed on Elastic Cloud

**Describe the bug:**
When using Upload GeoJSON with a large, but still under the 50MB limit, file in Elastic C

[2020-07-22 23:00] neptunian opened #72986 "[Ingest Manager] Support custom ILM policies"
Currently all index templates point to the corresponding type of data ILM policy which comes installed in ES calls `logs` or `metrics`.  We need to support a custom ILM policies, either per package or per dataset or both.  @ruflin recently made a change to a dataset manifest file to override index template mappings or settings: https://github.com/elastic/package-registry/issues/497.  But I think t

[2020-07-22 23:00] elasticmachine commented on #72986
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-22 23:01] ycombinator commented on #72986
Strictly speaking it will be per package but we could define the same policy per dataset too, if that's all we decide to support.

[2020-07-22 23:10] anyasabo opened #72987 "Kibana 8.0 snapshot builds OOM with 1Gi RAM limit"
**Kibana version:**
8.0-SNAPSHOT

**Elasticsearch version:**
8.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):**
ECK 1.2.0 / Docker

**Describe the bug:**

We previously used 1Gi as the default RAM limit for Kibana (successfully). When I try to spin up a 8.0-SNAPSHOT build with 1Gi it OOMs during startup though. The reason we ran into this is because we (ECK) we

[2020-07-22 23:16] kibanamachine commented on #71493
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6782/)

[2020-07-22 23:28] #72862 closed

[2020-07-22 23:35] chrisronline commented on #72511
Setup mode was introduced with [the Metricbeat migration wizard](https://github.com/elastic/kibana/issues/39010) as a way to let users experience configuration/edit/setup flows. We intentionally did not want these flows to be enabled by default, as they aren't designed to show live data (in the same way the UI normally works). With alerting, we decided to leverage this by allowing users to enter S

[2020-07-22 23:50] hbharding commented on #67723
@ph Not sure if you meant to close this issue. I've added screenshots below. Essentially, we want to reuse the components we use on the Fleet page, but show them in the add agent flyout.

![image](https://user-images.githubusercontent.com/847805/88240156-51ce1180-cc54-11ea-9917-c5ddb35e8b0f.png)
![image](https://user-images.githubusercontent.com/847805/88240177-61e5f100-cc54-11ea-97a0-c3e94c445ccd

[2020-07-23 00:09] webstruck commented on #72808
@restrry  One observation is, if I choose my sum aggregation metric as "Order By" for my Terms aggregation, then the sum for "other" bucket is calculated. But if I choose default count metric then I see above issue and sum is always 0. Hope it helps!

[2020-07-23 00:40] smith commented on #72794
@mirai-jeff #72984 should fix this. It was due to incorrect formatting of one the translation files. They use [ICU-style select statements](https://support.crowdin.com/icu-message-syntax/#select) which have some tricky formatting. My PR fixes the formatting but the changes I made probably aren't grammatically correct because I don't speak Japanese.

Any advice on my PR would be appreciated but we'

[2020-07-23 00:45] smith commented on #72794
#67082 was a similar issue that affected 7.6 whose fix shipped in 7.8. We've had improvements to our internal translation tooling that better detect things like this. In #72984 I looked and found all the places where this issue was present, so this shouldn't come up again unless new translations are introduced that our tooling doesn't catch.

[2020-07-23 01:43] kibanamachine opened #72994 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/uptime·ts - uptime settings page"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6850/)

[2020-07-23 01:43] elasticmachine commented on #72994
Pinging @elastic/kibana-test-triage (failed-test)

[2020-07-23 04:21] tylersmalley opened #72996 "Babel error reported in production due to Canvas presentation template size"
We either need to remove our use of `babel/register`, or come up with a different solution for the Canvas template, assuming it's required.

[code]

[2020-07-23 04:21] elasticmachine commented on #72996
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-23 04:21] elasticmachine commented on #72996
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-23 04:32] tylersmalley commented on #72987
I am currently having a hard time reproducing this outside K8. Is this using the Kibana docker image? Is there anything you see that I am missing to accomplish the same thing?

Elasticsearch:
`curl https://snapshots.elastic.co/8.0.0-65ab0964/downloads/elasticsearch/elasticsearch-8.0.0-SNAPSHOT-docker-image.tar.gz | docker load`
`docker run --rm --name elasticsearch -p 9200:9200 -p 9300:9300 -e "di

[2020-07-23 04:34] igoristic opened #72997 "[Monitoring] Optimize alert status API call"
I haven't actually dissected the query to find the culprit (or maybe this is just normal behavior), but seems like this API call: `http://localhost:5601/api/monitoring/v1/alert/rNbHFGNzRvCal8W6voY1Jw/status` can sometimes take a while to resolve (around ~2 seconds):
![Screen Shot 2020-07-23 at 12 09 30 AM](https://user-images.githubusercontent.com/27822304/88251859-29f1a480-cc7a-11ea-8188-5f8a6db1

[2020-07-23 04:40] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6853/)

[2020-07-23 05:29] smith opened #72998 "Incorrect license upgrade URL"
In the `InvalidLicenseNotification` and `LicensePrompt` components, there's a link to the license page that's incorrect. It's "/app/kibana/management/stack/license_management/home" which redirects to "/app/home". It should be "/app/management/stack/license_management".

[2020-07-23 05:29] elasticmachine commented on #72998
Pinging @elastic/apm-ui (Team:apm)

[2020-07-23 06:45] #72418 closed

[2020-07-23 06:55] pgayvallet commented on #12117
Closing. Not sure how it was 3 years ago, but the mapping regeneration is now covered by the SO migration

[2020-07-23 06:55] #12117 closed

[2020-07-23 07:05] pgayvallet commented on #72836
That seems right, there are only methods to add items at the moment...

[2020-07-23 07:11] pgayvallet commented on #72496
https://github.com/elastic/kibana/blob/afe785b43a633c351d684a243057516b68da4d25/x-pack/plugins/reporting/server/browsers/install.ts#L29-L34

`installBrowser` is expecting a `LevelLogger` instance, which is a class internal to reporting. Not sure how the platform team could be of any help there?

[2020-07-23 07:12] cauemarcondes commented on #72914
Yes, it was.

WIll check what's the exact name and add in the test plan.

[2020-07-23 07:13] cauemarcondes commented on #70156
will take a look.

[2020-07-23 07:24] #72323 closed

[2020-07-23 07:25] pgayvallet opened #73002 "Migrate data folder creation to core"
The data folder creation is currently done from the `kibana` legacy plugin

https://github.com/elastic/kibana/blob/d1a6fa26b88ff6ddb557fca70b17ba58243760e6/src/legacy/core_plugins/kibana/index.js#L47-L57

we need to move this to `core`

[2020-07-23 07:32] r4b6i0 commented on #66273
Some days ago the warning disappeared without me doing anything, it looks like it's fixed now

[2020-07-23 07:35] #72749 closed

[2020-07-23 07:56] #68714 closed

[2020-07-23 08:01] janniten commented on #71254
Hi @spong,
For sure I was doing something wrong. The detection rule worked like a charm when having a field with arrays values.
Thank you and sorry :(

Regards

[2020-07-23 08:01] #71254 closed

[2020-07-23 08:20] elasticmachine commented on #72987
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-23 08:23] #72854 closed

[2020-07-23 08:25] restrry commented on #72932
This is a question that I think is better suited to the Kibana discuss forum or contacting our support team. We reserve Github for bugs and feature requests: https://discuss.elastic.co/c/elastic-stack/kibana/7

[2020-07-23 08:25] #72932 closed

[2020-07-23 08:40] pgayvallet commented on #71927
The are very close to being able to remove the legacy optimizer, however we still got some work to do before we will be able to totally drop legacy plugin discovery, as there are some remaining.

## oss
<img width="207" alt="Screenshot 2020-07-23 at 09 53 35" src="https://user-images.githubusercontent.com/1532934/88263506-6d73ff00-ccca-11ea-8677-71d46713e89a.png">

### apm-oss

From what I see, th

[2020-07-23 08:42] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6857/)

[2020-07-23 08:48] dej611 commented on #57413
Cannot reproduce on the flaky test runner: https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/644/

[2020-07-23 08:57] flash1293 opened #73012 "[Lens] Pinned filter is not applied when navigating to Lens"
**Kibana version:** 7.9 BC2

**Describe the bug:** When a filter is pinned and the user navigates to Lens, the pinned filter is shown in the filter bar but it's not applied to the visualization. Recreating the filter and pinning it fixes it.

**Steps to reproduce:**
1. Install logs sample data
2. Go to discover
3. Pin `geo.src:CN`
4. Go to Visualize and create Lens vis (CN filter pill is  shown co

[2020-07-23 09:02] streamich commented on #64497
Not sure how difficult and if possible, but we ran into a use case where an app (e.g. "feature") can be disabled in Space configuration or Role. Maybe in those cases the `KibanaURL` could know that the destination is not enabled:

[code]

[2020-07-23 09:03] pgayvallet commented on #68497
Moved back to `7.10` roadmap, as it is, in fact, blocker as `elasticsearch.legacy.config$` is not exposed on the public ES contract and was only available internally and in legacy.

There are two slightly different needs here:
- Have a way to access `elasticsearch.hosts` config property for the 'copy as curl' client-side feature
- Have a way to have a proxy between Kibana and ES for the console pl

[2020-07-23 09:05] exekias commented on #72035
Thanks Eric, I actually missed that comment.

Good news is that this is also expected, as this feature is also disabled by default. Closing again

[2020-07-23 09:05] #72035 closed

[2020-07-23 09:07] majagrubic opened #73013 "[Dashboard] Cannot add visualization when session storage is on"
**Kibana version:**
7.9 BC2

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When `state:storeInSessionStorage` advanced setting is turned on, a newly created visualization cannot be added to Dashboard.

**Steps to reproduce:**
1. Go to advanced settings and turn on `state:storeInSessionStorage` flag
2. Reload the page; make sure the setting i

[2020-07-23 09:08] martijnrondeel commented on #70412
Your dependencies should be handled by the Kibana builder, but you would have to include your common and translations file.

[2020-07-23 09:09] sqren commented on #71927
`apm_oss` is a dependency of `xpack.apm` so cannot be removed now or in the future. However, looking closer I see there are two `apm_oss` plugins:

 - https://github.com/elastic/kibana/tree/master/src/plugins/apm_oss
 - https://github.com/elastic/kibana/tree/master/src/legacy/core_plugins/apm_oss

I'd think that `legacy/core_plugins/apm_oss` can be merged into `plugins/apm_oss`.

I'm not sure if `

[2020-07-23 09:09] elasticmachine commented on #73013
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 09:16] majagrubic commented on #72836
I think it makes sense that the object should be removed from the recently accessed service at the time of the deletion.

[2020-07-23 09:24] ruflin commented on #69483
Closing as I think all the work was done.

[2020-07-23 09:24] #69483 closed

[2020-07-23 09:38] #71713 closed

[2020-07-23 09:41] jpountz commented on #60933
@markharwood I'm seeing this as an orthogonal issue that shouldn't be Kibana's concern, but Elasticsearch: If a field shouldn't be aggregated via Kibana, then it shouldn't be reported as aggregatable in `_field_caps`. So I'd suggest closing this issue and raising the question of how Elasticsearch should report large wildcard/keyword values such as stack traces.

[2020-07-23 09:41] streamich commented on #64497
👆 it could use

[code]

[2020-07-23 09:41] cyrille-leclerc commented on #67611
Would it make sense to add `span.id` in the log messages emitted by [elastic/ecs-logging](https://github.com/elastic/ecs-logging) libraries to have finer correlation between the distributed trace waterfall view and the log message?

CC @felixbarny @alex-fedotyev

Notes
* `span.id`has just been added to ECS ( https://github.com/elastic/ecs/pull/882 )
* Sample log message emitted by ECS Logging 0.4.

[2020-07-23 09:47] jpountz commented on #46855
@rw-access sorry I'm not sure I get the question. Did you mean `/foo.*bar.*baz/` as a regexp? (question marks shouldn't be required as `*` means "0 or more times", not "1 or more times"). But otherwise yeah, wildcard and regexp queries execute exactly the same way internally: Lucene first converts the expression to an automaton, and then runs the query using this automaton. If a wildcard expressio

[2020-07-23 09:49] flash1293 commented on #64107
We  will solve that using specific arguments for font color etc. using the future theme service

[2020-07-23 09:49] #64107 closed

[2020-07-23 09:55] pgayvallet commented on #71927
Yea, we are only talking about legacy removal here (`src/legacy/core_plugins/apm_oss`)

[2020-07-23 10:00] stratoula opened #73018 "[Data table] Incorrect CSV name when Split by table sub-bucket is selected"
**Kibana version:**
7.8++

**Elasticsearch version:**
7.8++

**Browser version:**
Safari, Chrome, FF

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When I create a data table and select as sub-bucket the `Split by table` option, the Export CSV functionality for each table doesn't work as expected. They should be exported with the visualizati

[2020-07-23 10:00] elasticmachine commented on #73018
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 10:06] mtojek opened #73019 "[Ingest Manager] Enrolling to insecure Kibana"
Kibana provides the following enrollment instructions:

[code]

Unfortunately this will fail due to missing `--insecure` flag:

[code]

[2020-07-23 10:06] elasticmachine commented on #73019
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-23 10:15] #67979 closed

[2020-07-23 10:27] gmmorris commented on #72864
Sadly fake clocks don't seem to work with Rxjs operators... annoyingly.

I'm trying to find a better way of testing this...

[2020-07-23 10:36] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6859/)

[2020-07-23 10:41] timroes commented on #46855
I wonder if we should have a discussion here first maybe how we want the syntax of regex queries in KQL to look like? Due to backwards compatibility reasons we cannot use the Lucene way `field : /someregex/`, since that would already have been a valid query beforehand and we can't change the meaning of existing queries. Thus I'd suggest we use a custom operator between the fieldname. So far we're

[2020-07-23 10:42] kertal opened #73021 "[Lens] Use index pattern field property displayName"
**Describe the feature:**
Index pattern fields offer the property `displayName`.
https://github.com/elastic/kibana/blob/2178a14519796f2a6f9925a85422480c9ea65473/src/plugins/data/common/index_patterns/fields/field.ts#L60

This is currently not used in Lens. Once #69908 is implemented, this property is customizable by the user. Note that this property is currently customizing the name given the ui s

[2020-07-23 10:44] Dosant commented on #73013
What is also weird, is that when getting back to dashboard `_g` query param gets expanded:
`?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-1y,to:now)`  instead of `?_g=h@ca43a8a`

[2020-07-23 10:48] markharwood commented on #60933
Good point.
I'll open an elasticsearch issue.

I'm not convinced there's nothing left to be thought about in Kibana-land.
For example - if they support a `*foo*` style query and assume, like normal whole-term based queries, that can be run across multiple fields then it may result in slow results or timeouts. Wildcard will be fast but hitting other fields which are keyword will be an expensive lin

[2020-07-23 10:53] weltenwort commented on #72872
It adds a boolean field to an already existing API, so it doesn't feel that risky.

[2020-07-23 11:04] felixbarny commented on #67611
It might but I don't think it's worth it given the alternatives and overhead.

Adding the span ID would significantly increase the overhead, especially if there are many spans (some users might do 100s or 1000s of DB queries per transaction). Depending on the Agent and how it integrates with the loggers, this overhead also occurs if there are no log statements associated with a span.

As we alread

[2020-07-23 11:12] jpountz commented on #60933
As wildcard fields can't be distinguished from keyword fields from Kibana, I think that this one should be a question for Elasticsearch too?

[2020-07-23 11:18] mbondyra commented on #50586
Likely caused by CI instability, just like eg https://github.com/elastic/kibana/issues/50588.

[2020-07-23 11:18] #50586 closed

[2020-07-23 11:21] streamich commented on #72637
This actually happens because visualization filters are not passed to embeddable, so tagging KibanaApp team here.

[2020-07-23 11:22] streamich commented on #72637
A fix could be something as follows: https://github.com/elastic/kibana/pull/73023

But for it to work I needed to comment two lines in `Embeddable` class.

[2020-07-23 11:23] ruflin commented on #72519
Trying to understand why the netflow one would work but not this one? In general, YAML pipelines should not be converted to JSON but push to ES as YAML, ES supports this.

[2020-07-23 11:23] mbondyra commented on #57648
The stacktrace changed:
[code]

[2020-07-23 11:27] streamich commented on #72637
Also we are planning on per-panel filters feature (same as per-panel time range), we should think about this issue in a broader context. And I think we should display visualization filters inside dashboard panels. Also, would be nice if `data` plugin provided React components to render filters.

- [ ] Visualize embeddable should pass visState filters to embeddable.
- [ ] `Embeddable` class should

[2020-07-23 11:27] skh commented on #72519
Can the pipeline be installed directly into ES without error?

[2020-07-23 11:28] markharwood commented on #60933
That sounds like adding a different field-expansion list for wildcard/regex queries than the existing general-purpose one?
Might be some BWC things to consider with any change there.

As for the aggregatable Y/N question, there's 2 options

1) **static** - @colings86 and I discussed about adding a possible `wildcard_text` type to signal the supported use cases
2) **dynamic** - es admin can disable

[2020-07-23 11:34] jpountz commented on #60933
No I don't. For the record, it might also be ok to not do anything and rely on circuit breakers to abort aggs on stack traces.

[2020-07-23 11:46] #70156 closed

[2020-07-23 11:52] ahough-mc commented on #737
+1

[2020-07-23 12:01] jgowdyelastic commented on #72914
ML has its own capabilities endpoint and shared function to use to check if it's enbled:
`/api/ml/ml_capabilities` or `mlCapabilities` in `mlSystemProvider`
we have an open issue to add the node count to that response:
https://github.com/elastic/kibana/issues/67412

For now you can call `/api/ml/ml_node_count` to get this count.
if you need it as a shared function for calling server side, I can ad

[2020-07-23 12:05] gmmorris commented on #72803
hmm could be... interesting.
I'll take a look.

[2020-07-23 12:06] #72072 closed

[2020-07-23 12:11] kuisathaverat opened #73034 "Datastreams loss its shard after upgrade from 7.8.0 to 7.9.0-BC4"
**Kibana version:**
7.9.0-BC4
**Elasticsearch version:**
7.9.0-BC4
**Server OS version:**
Elastic Cloud
**Browser version:**
Chrome 83
**Browser OS version:**
MacOS
**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud
**Describe the bug:**

After upgrade to 7.9.0-BC the datastream indices loss its shards, because there is only one inside per data stream the only

[2020-07-23 12:15] katrin-freihofner opened #73037 "[RUM Dashboard] add impactful metrics panel(JS Errors)"
**Describe the feature:**

We would like to extend the RUM dashboard with a new panel. The panel holds two sections:
- a list of JavaScript errors

![Frame 16](https://user-images.githubusercontent.com/20965076/88284776-44656580-ccee-11ea-9fcb-bab3f1c980de.png)

## JavaScript errors

This section holds:

### Headline `JavaScript errors` + icon `iInCircle`

### 2 Stats (small):
- total number of er

[2020-07-23 12:15] mtojek commented on #73034
Should this issue be considered as blocker for the release?

[2020-07-23 12:15] kuisathaverat opened #73038 "Mapping issue upgrading from 7.8.0 to 7.9.0-BC4"
**Kibana version:**
7.9.0-BC4
**Elasticsearch version:**
7.9.0-BC4
**Server OS version:**
Elastic Cloud
**Browser version:**
Chrome 83
**Browser OS version:**
MacOS
**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud
**Describe the bug:**

After upgrade from 7.8.0 to 7.9.0-BC4 kibana does not start due to a mapping issue

**Steps to reproduce:**
1. create a 7.8.

[2020-07-23 12:23] majagrubic commented on #73013
I think the problem is how we construct the path when doing a state transfer:
`https://github.com/elastic/kibana/blob/305a7200e86458f449dc0f9a30f00acb250b0dba/src/plugins/embeddable/public/lib/state_transfer/embeddable_state_transfer.ts#L130`

There is no path, and the in the `application_service` it gets set to a default path. I am not sure if that should take into account session storage.

[2020-07-23 12:27] sqren commented on #72914
@jgowdyelastic Thanks for chiming in! What I would like is a test case where we intentionally disable the ML node and then see how the ui behaves. I seem to recall there is an kibana.yml config option but can't remember what it's called.

[2020-07-23 12:47] jonathan-buttner commented on #72519
Good idea. I'll try that. Maybe this is a tabs/spacing issue because I tried installing other packages with `.yml` and those work (aws for example). Just not mine haha.

[2020-07-23 12:50] jbudz commented on #10422
It depends - if meierfra's concern is file changes in /usr/share/kibana causing package removal errors and such - it is approaching fixed with moving the optimize folder.  I'll have to double check to make sure there's not any cache files written in node_modules to lgtm.  There aren't any permission changes in /usr/share/kibana anymore.

at face value it went in the wrong direction.  For context w

[2020-07-23 12:52] Dosant opened #73043 ""Explore_underlying_data" action in Maps"
Recently app-arch team introduced [explore underlying data](https://github.com/elastic/kibana/issues/69368) action.
It navigates from visualization to Discover app. It navigates to the index pattern of the visualization and carry overs visualization's filters, query and time range.

Since Maps use uiActions to apply filters, it shouldn't be much work to make maps use this feature.

There was [a pr

[2020-07-23 12:52] elasticmachine commented on #73043
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-23 13:01] clintandrewhall commented on #72996
@crob611 Can you weigh in on this, particularly with our plans to move templates to Saved Object?

@tylersmalley What would be the best option in the short term?

[2020-07-23 13:02] blakerouse commented on #72960
@EricDavisX Currently a missing metricset `system/load` is reported as degraded back to Elastic Agent from Metricbeat. Once Metricbeat and Filebeat get proper status reporting implemented this will change. I believe that `system/load not found` should be reported as a bug against to `system` integration package.

I believe the `Type: State` is correct because it is a state change, but the `Subtype

[2020-07-23 13:04] chrisronline commented on #68648
Closed by #72505

[2020-07-23 13:04] #68648 closed

[2020-07-23 13:06] chrisronline opened #73044 "[Monitoring] Clicking on a cluster on the cluster listing page doesn't always work"
Sometimes clicking on a cluster will just redirect to the same page. Clicking it the next work usually works

[2020-07-23 13:06] elasticmachine commented on #73044
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-23 13:08] mbondyra commented on #57648
Closing as it's aborted build.

[2020-07-23 13:08] #57648 closed

[2020-07-23 13:17] majagrubic opened #73046 "[Dashboard] When editing visualization with session storage on, compressed URL is lost"
**Kibana version:**
7.9 BC2

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
I believe the root cause is the same as https://github.com/elastic/kibana/issues/73013, but putting it here just in case it isn't.
When editing a visualization that was added through an "Add option", if `state:storeInSessionStorage` advanced setting is turned on, the

[2020-07-23 13:18] elasticmachine commented on #73046
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 13:23] majagrubic commented on #73046
Also, when sharing a dashboard, a regular URL is generated.

[2020-07-23 13:24] mbondyra commented on #57605
It fails with:
[code]

Closing as the message implies the builds were aborted.

[2020-07-23 13:24] #57605 closed

[2020-07-23 13:27] tylersmalley opened #73047 "Exclude public source from distribution"
A while back we added an linting rule to [prevent importing public code into server](https://github.com/elastic/kibana/blob/master/.eslintrc.js#L304-L316), so there should be no instance where anything in public is required in production. It's possible there is server side code outside the `common` or `server` directories which does require from `public`. We should identify those instances and hav

[2020-07-23 13:27] elasticmachine commented on #73047
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-23 13:27] #72838 closed

[2020-07-23 13:34] restrry commented on #68497
Totally agree 🚢

[2020-07-23 13:39] restrry commented on #71927
That's #59755 and https://github.com/elastic/kibana/issues/63459 not sure it's a real blocker. we can register them manually

[2020-07-23 13:42] rw-access commented on #46855
@jpountz ah, I was using `.*?` to indicate non-greedy. That's generally how I convert wildcard to regex for EQL, but it looks like that's an optimization for PCRE, not Lucene regex.

@timroes wouldn't that syntax be subject to the same problem? Since `~` isn't a reserved character, it would be interpreted as part of the field name.

We've had to make many similar decisions for EQL. One of the guid

[2020-07-23 13:49] azasypkin commented on #71927
Once we don't have any Angular based plugins then we can get rid of this completely. Maintaining `/account` ---> `/security/account` redirect isn't critical.

Since these redirects don't seem to work right now anyway (likely because Management plugin migrated away from `ui/routes`, I think it's reasonable to drop legacy links (@legrego can keep me honest here).

It seems Infra [is still using this

[2020-07-23 13:55] Dosant commented on #73046
afaik, this is expected.
Otherwise sharing won't makes sense because state won't be stored in the url.

[2020-07-23 13:59] markharwood commented on #46855
There are additional concerns about how to expose the important regex options of case insensitivity. This is done in other engines using `/..../i` syntax (the i meaning insensitive).

Symptoms of a broader issue - KQL is becoming a bottleneck to putting functionality in users hands.

As long as KQL is the top-level means for users to assemble clauses with Boolean logic we will have issues :
* we r

[2020-07-23 14:00] pgayvallet commented on #71927
@elastic/logs-metrics-ui do you have an issue to replace these space injectedVars with the spaces plugin API?

[2020-07-23 14:04] jbudz commented on #72996
thoughts on silencing?  minimal changeset for freeze, haven't tested tho
[code]

[2020-07-23 14:06] timroes commented on #46855
@rw-access As far as I understand the grammar atm, the fieldname can not have (unquoted) spaces, thus we know that the operator is part of the field name. Maybe Lukas will be the better candidate for talking about that. I know we also experimented some time with having everything some kind of functions in KQL, which would be more along the lines with your `match`/`wildcard` suggestion. I also here

[2020-07-23 14:08] markharwood commented on #60933
I think that was Jim's  working assumption - the question is whether users and admins are going to be happy with that.

[2020-07-23 14:27] rw-access commented on #46855
True, but the downside is that `~:` becomes sensitive to whitespace. `field ~: value` is parsed differently from `field~: value` or `field~:value`. Generally, it's good to be consistent in whitespace handling across the grammar, so I'd be worried about this edge case causing confusion. Same applies to `field~/foo/i`. I believe that's currently valid. We use the more compact syntax in a lot of rule

[2020-07-23 14:28] clintandrewhall opened #73056 "Theming Expression in Canvas"
In Canvas in the near-term, we're going to implement Theming across Canvas Elements, Pages and Workpads.

## Theming MVP

The MVP for theming in Canvas is the ability to set font (including family, size, color, etc) and color palette.  Ideally we would define H1-6 sizes, as well.  Our solution should be future-proof, and usable by other teams in follow-on projects, (in order to enable embeddable t

[2020-07-23 14:28] elasticmachine commented on #73056
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-23 14:32] markharwood commented on #46855
We have a [PR](https://github.com/elastic/elasticsearch/pull/59441#issuecomment-662480629) flip-flopping on what to do - whether to make API concessions that make KQL easier with extended pattern syntax or stick to more formal APIs with named JSON flags.

[2020-07-23 14:39] mbondyra commented on #59091
Last time it happened on 25 June so I cannot get the logs nor reproduce it. However, last 3 months It always happens in the presence of this test broken: https://github.com/elastic/kibana/issues/59090 so maybe the problem lies not in this test specifically. Closing it for now and if it happens again, I'll take a look at it.

[2020-07-23 14:39] #59091 closed

[2020-07-23 14:42] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6863/)

[2020-07-23 14:51] elasticmachine commented on #72994
Pinging @elastic/uptime (Team:uptime)

[2020-07-23 14:51] jloleysens opened #73060 "[Console] Should provide auto-complete for data streams"
**Describe the feature:**

Console should provide auto-complete for data streams at the appropriate points in the same way it does for indices, aliases, field names (etc).

We will probably need to populate them using `GET _data_stream/*` and we should probably not list `.ds*` indices in the suggested indices.

[2020-07-23 14:51] brianseeders opened #73061 "[CI] Slack notifications fail if message is too long"
https://kibana-ci.elastic.co/job/elastic+kibana+master/6840/execution/node/845/log/

[code]

[2020-07-23 14:52] tylersmalley commented on #72994
Skipped tests since it's consistently failing master:

master/8.0: 15ccdc36cae57f34aa070818776fc453fdbdcb68

[2020-07-23 14:55] jsanz commented on #72985
maybe duplicate of #60710 and related with #48194

[2020-07-23 14:56] markharwood commented on #46855
I have a preference for formal JSON APIs in elasticsearch with dedicated editors as counterparts in the GUI to simplify.

We could create a formal query JSON syntax for automatons (char_sequence, ORs, nots, repeats etc).
It would be validatable and we wouldn't have the silent failures we experience currently when someone uses a bit of what they think is valid regex syntax (/i \w or whatever) and i

[2020-07-23 15:06] flash1293 commented on #73046
True, @Dosant . Also, short url should handle it gracefully (without putting everything in the URL at any point)

[2020-07-23 15:06] tylersmalley commented on #71927
That's my understanding. @spalger is there anything else this is used for? Can we remove once all Karma test are removed (related: https://github.com/elastic/kibana/issues/71002)?

[2020-07-23 15:08] michalpristas opened #73069 "[Ingest Manager] Support for UPGRADE_ACTION"
we discussed the form of the action to be
[code]

`version` is the target version agent should upgrade into,
`sourceURI` is the URI compatible with artifacts.elastic.co containing binaries, hashes and asc files.

Upgrade action needs to work with snapshots as well, in this case action will look as following
[code]

Action will get ACKnowledged once upgrade operation is finished.
Agent will report

[2020-07-23 15:08] elasticmachine commented on #73069
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-23 15:10] pmuellr commented on #59813
I think we can close this, can't find the first PR that implemented this, but we've been [fixing the holes as we go](https://github.com/elastic/kibana/pulls?q=is%3Apr+label%3A%22Team%3AAlerting+Services%22+is%3Aclosed+preconfigured+).

[2020-07-23 15:12] Kerry350 opened #73070 "[Logs UI] Categories page Safari performance issue"
On the categories page, in Safari, there is a large performance issue interacting with the page (resizing window, scrolling, interacting with "outer" Kibana elements etc). This is the whole page - as opposed to just the container we render into - so you can see the behaviour just opening and closing the top right profile menu.

Profiling in Safari wasn't overly helpful, nor was profiling in Chrome

[2020-07-23 15:12] elasticmachine commented on #73070
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-07-23 15:12] chrisronline commented on #59813
Are those for preconfigured actions? I don't see another issue for preconfigured alerts

[2020-07-23 15:20] rw-access commented on #46855
I think that's a fine point to show how you don't think KQL fits your needs or doesn't solve its problem well. But that discussion might be a little easier to have in a separate issue that's better scoped, and we keep the scope of this issue constrained to adding regex support to KQL. I don't mean that at all to shut you down, but just that we keep those discussions separate, since it's already a

[2020-07-23 15:21] pmuellr opened #73073 "[alerting] add preconfigured actions to cloud allowlist"
We currently do not allowlist the Kibana config that provides [preconfigured actions](https://www.elastic.co/guide/en/kibana/current/pre-configured-action-types-and-connectors.html) in the cloud.  Seems like we should.

A couple of things about it:

- we recommend, correctly, to use the keystore to store secrets like passwords, and this works in tandem with the preconfigured action config, so that

[2020-07-23 15:25] droberts195 commented on #72219
The Elasticsearch PR is merged and backported - see links above.

[2020-07-23 15:28] timroes commented on #46855
++ @rw-access There are already issues to discuss this. Please continue discussion in https://github.com/elastic/kibana/issues/8112 (Graphical query builder) or https://github.com/elastic/kibana/issues/14272 (more control over how filters are added to the filter bar) which are the more appropriate places for discussion around the overall concept of the filter bar. Discussion in this thread should

[2020-07-23 15:29] EricDavisX opened #73075 "[Ingest Manager] possible encoding issue in processing data-sources, results in ui error"
[Ingest Manager] possible encoding issue in processing data-sources, results in ui error

**Kibana version:**
7.9.0 BC3 deployed to cloud with BC3 Agent installed to win 7 x64 host

**Browser version:**
chrome latest on macos

**Describe the bug:**
use this path for a custom logs entry and get an error:
"C:\Users\zeus\Desktop\test.log"

First seen with the longer path here used in further examples

[2020-07-23 15:30] wylieconlon commented on #72691
@markov00 I think it's fine if both start and end values are the same, but I didn't realize that it would depend on the fitting function. Which fitting functions use endValues?

[2020-07-23 15:31] flash1293 opened #73076 "Make technical advanced setting names searchable"
On the Advanced Settings page, the search box only filters by description and human readable title, but doesn't consider the actual technical name of the advanced setting.

E.g. searching for `notifications:banner` shows no results even though it's a perfect match.

I keep running into this because I copy the technical name from the documentation and paste it into the search bar - it might not be

[2020-07-23 15:31] elasticmachine commented on #73076
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 15:32] #72227 closed

[2020-07-23 15:33] markharwood commented on #46855
++ Happy to keep discussion elsewhere - just wanted to flag that regex construction is complex and adding this might mark a tipping point in how much complexity we try shoe-horn into KQL.

[2020-07-23 15:39] #68154 closed

[2020-07-23 15:45] justinkambic commented on #72994
@tylersmalley if I understand this correctly, we should have skipped [this test](https://github.com/elastic/kibana/blob/master/x-pack/test/accessibility/apps/uptime.ts#L72) rather than the block skipped in https://github.com/elastic/kibana/commit/15ccdc36cae57f34aa070818776fc453fdbdcb68, at least that's the test causing the failures in this issue. LMK if I'm missing something.

[2020-07-23 15:54] kobelb commented on #70169
@XavierM [has a PR](https://github.com/elastic/kibana/pull/64002) which adds aggregations to the SavedObjectsClient, can we take advantage of this here?

[2020-07-23 15:58] mikecote commented on #59813
I think @pmuellr meant https://github.com/elastic/kibana/issues/58914 which is the closed issue for pre-configured connectors. This one is still the main issue to track pre-configured alerts that is blocking stack monitoring so yeah it'll stay open.

[2020-07-23 16:13] lizozom commented on #68524
@AlonaNadler @myasonik I do want to stress that IMO we shouldn't create a difference between the apps using `TopNavMenu` and other apps. At the moment, navigation is mostly uniform and I think we should keep it a priority with this effort.

Whatever component we're planning to build, should gracefully handle transitioning from the current navigation to the new one for all apps.

[2020-07-23 16:19] kertal opened #73088 "[TSVB] Average metric works incorrectly with histogram data type when index pattern contains wildcard"
**Kibana version:**
master, 7.9

**Describe the bug:**
TSVB support was introduced in #68837. When an index pattern contains a wildcard, average metric time series chart  with fields of type histogram are not displayed correctly.

**Steps to reproduce:**
Add the following data:
[code]

Configure TSVB the following way:
<img width="1284" alt="image" src="https://user-images.githubusercontent.com/46

[2020-07-23 16:19] elasticmachine commented on #73088
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 16:21] #72429 closed

[2020-07-23 16:23] wylieconlon commented on #73021
@kertal it looks like in the current implementation, `displayName` is a property of the index pattern service which is not persisted with the saved object. Lens is currently set up to read from the saved object directly. Are you planning on moving `displayName` to the saved object?

[2020-07-23 16:23] elasticmachine commented on #73021
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 16:26] kertal commented on #73021
in my current PoC I called the persisted property label, so there will be a persisted property for you accessible. so it makes sense to adapt after finishing #70039

[2020-07-23 16:26] EricDavisX opened #73091 "[Ingest Manager] Agent config changes don't have the actual config being changed to in the log"
[Ingest Manager] Agent config changes don't have the actual config being changed to in the log
 - I don't know how else to get it and this would make it a traceability / auditing problem, at least for Endpoint users if not others

do we also need to put the user who has done the change in the log as well?  I think that's a common request

**Kibana version:**
7.9.0 BC3 deployed to cloud with BC3 Ag

[2020-07-23 16:28] wylieconlon commented on #73021
@kertal that sounds like it would be easy to integrate into Lens, since there would be something in the saved object.

[2020-07-23 16:32] pgayvallet commented on #68497
Just created https://github.com/elastic/kibana/pull/73055 to unblock this issue.

@elastic/es-ui Once #73055 is merged, do you think you could tackle this one in the beginning of 7.10?

[2020-07-23 16:36] spong commented on #71254
Glad to hear! Thanks for the update @janniten 🙂

[2020-07-23 16:38] wylieconlon commented on #72855
This looks like the kind of error we've seen due to the way layers are removed in the chart switcher. The thing that stands out about the steps you've described to reproduce is that **pie charts don't support date histograms**, so when you switch from XY -> Pie you are supposed to get a blank state. It's the responsibility of the chart switcher to remove layers in cases like this. Maybe what's hap

[2020-07-23 16:39] lukeelmers commented on #71560
@kmartastic Not the maps app, no -- this solution only works for visualizations which are built on expressions.

However this approach should still work for the legacy maps visualization types (region map, coordinate maps), as those are using expressions under the hood.

[2020-07-23 16:39] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/6865/)

[2020-07-23 16:39] nnamdifrankie commented on #72168
@liza-mae so the last run the error has change to

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/523/JOB=xpackExt,TASK=saas_run_kibana_tests,node=linux-immutable/testReport/junit/X-Pack%20API%20Integration%20Tests1/x-pack_test_api_integration_apis_endpoint_index%C2%B7ts/apis_Endpoint_plugin__before_all__hook_in__Endpoint_plugin_/

[code]

[2020-07-23 17:01] nreese commented on #63471
Follow this PR for cleaning up flow when save to dashboard is not selected https://github.com/elastic/kibana/pull/72725

[2020-07-23 17:02] #72913 closed

[2020-07-23 17:06] spalger commented on #72994
That's correct @justinkambic

skipped

master: https://github.com/elastic/kibana/commit/52f3cc311d0a73792e2b38a21ea894f60aaa867e
7.x/7.10: https://github.com/elastic/kibana/commit/ef49cc054663973d285316f8ee4fd3e5d3fbb2de

[2020-07-23 17:06] ThomThomson opened #73098 "[Canvas] Embeddable Destroyed After Invalid Expression"
**Kibana version:** 7.9.0 BC4

**Describe the bug:** If an invalid expression is run on an embeddable in canvas, any subsequent run with a valid expression will not re-render the embeddable. An `embeddable has been destroyed` error will show up in the console.

**Steps to reproduce:**
1. On a canvas workpad, add an embeddable via 'add element' -> 'add from visualize library'
2. Select the element

[2020-07-23 17:06] elasticmachine commented on #73098
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-23 17:14] #72980 closed

[2020-07-23 17:15] nreese commented on #68553
Closed by https://github.com/elastic/kibana/pull/73039

[2020-07-23 17:15] #68553 closed

[2020-07-23 17:15] #45219 closed

[2020-07-23 17:27] EricDavisX commented on #72960
It feels like we should do it for 7.10... this doesn't greatly impact the usability of the Agent.  Still, if its that easy / low-risk I don't mind it going in now.  Up to you @blakerouse and @ph thanks for the discussion.

I'll clone out an issue for the metricset not being found, thanks for the help there.

[2020-07-23 17:34] spalger commented on #57413
The skip was a while ago, and the failure that finally triggered the skip was in 7.8. It's possible that this was fixed in a newer version but try cherry-picking https://github.com/dej611/kibana/commit/c126365f9aaaff72dedfc74c3a1933c140429e19 to 7.8 and running that in the flaky test runner. The fix might not have made it back to 7.8. Alternatively, a PR with nothing but removing the skip that has

[2020-07-23 17:36] spalger commented on #72864
Maybe you want to customize the Rxjs scheduler in the tests?

[2020-07-23 17:47] #68159 closed

[2020-07-23 17:47] gregjacobus commented on #60162
My team creates custom visualizations, and we have a few that depend on this functionality pretty heavily. Is there a suggested workaround until this is fixed?

[2020-07-23 17:47] #72767 closed

[2020-07-23 17:49] jfsiii commented on #71744
closed by https://github.com/elastic/kibana/pull/72338

[2020-07-23 17:49] #71744 closed

[2020-07-23 17:51] anyasabo commented on #72987
I think you want to add `--memory=1g` to your kibana run, but even then I cannot repro it locally. I wonder if it might have something to do with the TLS config or if it is running afoul of https://github.com/kubernetes/kubernetes/issues/43916

[2020-07-23 18:02] spalger commented on #71927
Yeah, this will go along with karma and the legacy optimizer

[2020-07-23 18:08] jbudz commented on #72987
i think our reproduction steps are a little off - it may be the configuration https://github.com/elastic/kibana/blob/41c4f18b8961dcfe537c727c8547d28de7c8c501/x-pack/plugins/enterprise_search/public/plugin.ts#L54 causing changes in the bundles.

the cloud image is based on docker.elastic.co but it builds that configuration change in to kibana.yml I believe - so we need to add a `bin/kibana --optimi

[2020-07-23 18:18] anyasabo commented on #72987
Just in case it is not clear, the original repro steps use the `docker.elastic.co/kibana/kibana:8.0.0-SNAPSHOT` image. I also tried using different k8s hosts since some people in the k8s issue mention different kernels had different behaviors. I was using Google's COS but it also reproduced with GKE's Ubuntu option: `18.04.4 LTS (GNU/Linux 5.3.0-1016-gke x86_64)`

[2020-07-23 18:19] ph commented on #73091
@EricDavisX I don't think we should should the actual configuration that could potentially leaks credentials? But we could potentially link to the configuration version that was deployed for that specific action? cc @ruflin @hbharding @nchaulet  WDYT?

This is part of a bigger concept "audit log"

[2020-07-23 18:25] jbudz commented on #72987
ah got it, thanks.  and that wasn't it either - i ran a quick local test.

[2020-07-23 18:25] ph commented on #72960
I would call this a bug lets do it for 7.9.

[2020-07-23 18:36] anyasabo commented on #72987
Ah I missed the very obvious message

earlier. In that case it is likely not the upstream issue (which is essentially, k8s counts cache against the memory limit and OOM kills it even when it arguably should not) and the container is actually using a bunch of memory.

[2020-07-23 18:38] #41087 closed

[2020-07-23 18:47] lukasolson opened #73116 "[Search] Telemetry makes too many requests"
**Kibana version:** 7.9

**Elasticsearch version:** 7.9

**Describe the bug:**

In https://github.com/elastic/kibana/pull/70677,  we introduced some telemetry on search requests (duration, success/failure, etc.). We make requests to the backend telemetry service. However, this introduces an unnecessary number of extra requests, as we could easily collect the telemtetry on the server rather than re

[2020-07-23 18:47] elasticmachine commented on #73116
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-23 18:56] sophiec20 opened #73118 "[ML] View DFA results causes page crash if destination index is missing or invalid"
Found in 7.9.0 BC4 `    "build_hash" : "b7f2f5c1c07dfcf3543fddc5bd606cab21bd8280",
    "build_date" : "2020-07-23T13:07:28.754059Z",`

Outlier detection job was created but failed to start due to an invalid configuration. This job was listed in the DFA job management page. Upon selecting "View" this causes an application crash. In this case the destination index was missing.

Upon investigation, t

[2020-07-23 18:56] elasticmachine commented on #73118
Pinging @elastic/ml-ui (:ml)

[2020-07-23 18:56] nehaduggal commented on #71770
Some feedback on when there are just 2 nodes on the map and looking at maps within a service.
<img width="1411" alt="Screen Shot 2020-07-23 at 11 23 24 AM" src="https://user-images.githubusercontent.com/52681807/88326722-32c69280-ccdb-11ea-8036-590e0132c75e.png">

- We should get rid of the turn, if there are only 2 components involved.
- The connector should be thinner.
- The map is too zoomed in

[2020-07-23 19:07] gmmorris commented on #72864
I've simplified the tests... hoping that'll be enough 😬
If it isn't then I'll go down that route.

[2020-07-23 19:10] crob611 commented on #66205
Fixed by #67133

[2020-07-23 19:10] #66205 closed

[2020-07-23 19:16] kobelb commented on #71566
During previous discussions, we decided that `core` provides low-level primitives, which every plugin in Kibana is dependent upon, and cross-cutting to all of Kibana. Where-as, `application_services` are a bit higher-level shared-services which are more for building applications, which tend to be UI focused. The differentiation between `core` and `application_services` is rather loose, and it's su

[2020-07-23 19:19] anyasabo commented on #72987
Also tried by enabling TLS in Kibana (though not between ES and KB), repro steps [here](https://gist.github.com/anyasabo/8dc0e3f558da763fbfe138d1c92f46ba) and it also did not trigger an optimize run.

Was also curious if maybe env vars were interfering, but nothing sticks out to me:
<details><summary>env</summary>

[code]

</details>

[2020-07-23 19:29] wylieconlon opened #73125 "[Lens] Default suggestion for string fields should be a horizontal bar chart instead of vertical"
Horizontal bar charts are preferred for text with unknown length because the labels will always be displayed. Compare these two charts:

<img width="300" alt="Screen Shot 2020-07-23 at 3 19 43 PM" src="https://user-images.githubusercontent.com/666475/88330077-dd997980-ccf8-11ea-8661-c3dab3b12e4d.png"> <img width="300" alt="Screen Shot 2020-07-23 at 3 19 53 PM" src="https://user-images.githubuserco

[2020-07-23 19:34] EricDavisX commented on #73091
If a user has access to see the Activity Log of a given host, they can know what Agent Configuration their host is on already, I think we should put the guid of the config in the log.  I don't yet see that it would leak creds or anything the user didn't already have access to.  Not sure if my original suggestion was clear or if I'm missing a point?  I'll chat you.

Fully understand, for either or

[2020-07-23 19:36] roncohen commented on #72859
here's another example of the check-ins starting to take longer. This is during a config rollout:
![Screen Shot 2020-07-23 at 9 34 30 PM](https://user-images.githubusercontent.com/744/88330975-89a88800-cd2c-11ea-8b3f-da81c951b8ca.png)

[2020-07-23 19:37] ph commented on #73038
@kuisathaverat I don't think  we need to fix this for 7.9, because we are coming from experimental. @neptunian This shouldn't be a problem in 7.10?

[2020-07-23 19:42] mikecote commented on #58780
Moved to discuss to gather more requirements.

[2020-07-23 19:44] ph commented on #73034
@kuisathaverat You are having that issue when upgrading from 7.8 to 7.9, 7.8 didn't have datastream and we were using indices?
I am not sure I understand the situation or how to solve that problem, if this sonly the case from 7.8 (experimental) to 7.9 (beta) we don't have guarantees.

cc @ruflin

[2020-07-23 19:44] neptunian commented on #73038
I believe we are still allowed to make breaking changes to saved objects attributes coming from experimental.  That is what this is, that attribute was renamed.

[2020-07-23 19:47] ph commented on #73019
@mtojek You are proposing to detect that you are insecure and add the flag to the command in Kibana? I would prefer not to do that, we already suggesting a workaround in the message that the elastic-agent gives.  wdyt @ruflin

[2020-07-23 19:48] spalger commented on #72496
The idea is that we would be able to create a `LevelLogger` if the platform exposed a way to create a `BaseLogger` that was easier than what I had to in https://gist.github.com/spalger/a2c0ece99c2b1a652084880c493ecb48

[2020-07-23 19:49] spalger commented on #72496
Yeah, that's an option too. I just thought it might be nice to keep the KP plugin code ambivalent to things like the `ToolingLog` and instead have the tooling reproduce necessary parts of the platform to run KP plugin code.

[2020-07-23 20:06] rajat315315 commented on #70733
Tried several times to start contributing but heavy CPU usage/ errors: "Elastic didn't load properly" turned me away! :(

[2020-07-23 20:11] tylersmalley commented on #72987
I just tested with those environment variables and the previous `kibana.yml` I posted and was still unable to reproduce:

[code]

[2020-07-23 20:20] surjray commented on #7499
+1

[2020-07-23 20:23] aaron-nimocks commented on #7499
I've started this a few weeks ago. No clue when I will get back to it but can see screen shots of how I was imagining it working.

https://github.com/aaron-nimocks/kibana-index-crud

[2020-07-23 20:27] #72971 closed

[2020-07-23 20:31] jen-huang commented on #73075
@ph This is a package definition issue:
https://epr.elastic.co/package/log/0.1.0/dataset/log/agent/stream/stream.yml.hbs

This part:
[code]
should not have double quotes. It should use single quotes or omit the quotes entirely:
[code]

From looking in other package stream templates with a similar case, most choose to omit the quotes, e.g.: https://epr.elastic.co/package/system/0.3.0/dataset/auth/a

[2020-07-23 20:31] EricDavisX opened #73135 "[Ingest Manager] service install script needs to be called out in Fleet 'enroll' dialog"
**Kibana version:**
tell user to run the 'install-service-elastic-agent.ps1' as part of the enroll steps in the Fleet enrollment fly out (before or after the enroll command?)

**Describe the bug:**
without this, the user is near certain not to know to run the powershell script to create the service on windows, and so it won't be persistent and without this it can really cause instability and indet

[2020-07-23 20:33] blakerouse commented on #73069
This fits perfectly with the protocol I proposed so we can test it out locally - https://github.com/elastic/beats/pull/20146/files#diff-8c2bfe38adf296a51ff5fbe4b2ed2f0aR55

Perfect!

[2020-07-23 20:36] poffdeluxe opened #73136 "[Canvas] Functional smoke test fails when running locally in a non-UTC timezone"
When running the Canvas functional smoke test locally, an element in the test workpad can sometimes return more rows than the test expects. The test expects the datatable to return 12 rows but sometimes 13 rows of data is present depending on what timezone the machine uses when running the test.

In CI, Jenkins uses UTC and the test passes fine. However, we should fix this to pass without dependin

[2020-07-23 20:36] elasticmachine commented on #73136
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-23 20:44] mattkime commented on #61368
Closing issue with plans to make frozen index support a per index pattern setting -  https://github.com/elastic/kibana/issues/49799

[2020-07-23 20:44] #61368 closed

[2020-07-23 20:58] andrewvc commented on #63795
Sorry there isn't any action taken here. This was reported in april and I don't see a record of other failures, or this test being skipped at any point. Is there any action to take here @liza-mae ?

Could this have just been a one time thing?

[2020-07-23 21:07] ravikesarwani opened #73141 "Enhance telemetry data collection for stack monitoring"
Enhance telemetry data collection for stack monitoring feature set.

Collect additional telemetry data for stack monitoring focused around the usage of features by our customers.
Telemetry data should help us answer the following kinds of questions:
- [ ] Is stack monitoring enabled (we may already have this)
- [ ] What license type is being used (we may already have this)
- [ ] What method is bei

[2020-07-23 21:07] elasticmachine commented on #73141
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-23 21:10] LeeDr opened #73142 "Replace UI cleanup step on toggle deprecation with api call"
**Describe the feature:** The functional UI test `x-pack/test/functional/apps/upgrade_assistant/upgrade_assistant.ts`
currently toggles the deprecation logging setting from it's initial default state of On, to Off for the test.  And then toggles it back On to set it back into the default state.

It would be better if that last step was in the after method and if it used the API directly to Elastic

[2020-07-23 21:10] elasticmachine commented on #73142
Pinging @elastic/kibana-qa (Team:QA)

[2020-07-23 21:10] elasticmachine commented on #73142
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-07-23 21:33] sqren opened #73148 "[APM] Investigate alternative Alerting API approach"
We have created [an issue](https://github.com/elastic/kibana/issues/70169) where we outline some  requirements for the alerting API.

We were hoping to have this available in 7.10 but it's been moved to "Long Term".
Instead an alternative approach [has been suggested](https://github.com/elastic/kibana/issues/70169#issuecomment-662493405) for the short term (7.10). We should investigate whether thi

[2020-07-23 21:33] elasticmachine commented on #73148
Pinging @elastic/apm-ui (Team:apm)

[2020-07-23 21:51] wylieconlon opened #73152 "[Lens] Introduce the concept of "related fields" to guide end-users"
This issue is not about implementing a specific proposal, but describing a concept that would improve the use of Lens for many types of data stored in Elasticsearch

**Key concept**: Fields can be related to each other for logical reasons, such as an ID field that is required for use by sub-metrics. This relationship is understood by the administrator who sets up the data, but not necessarily by a

[2020-07-23 21:51] elasticmachine commented on #73152
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 22:11] nehaduggal opened #73156 "[APM] Kibana auto-refresh resets the service map view"
**Describe the bug:**
Every time the service map view refreshes (based on the Kibana refresh interval set), it resets the map view which means if a user has zoomed in on the map or has selected a particular node, the view is reset to its original form. This is really confusing and annoying when trying to dig deeper into an issue.

**Steps to reproduce:**
1. Slightly zoom on the map or click on a s

[2020-07-23 22:11] elasticmachine commented on #73156
Pinging @elastic/apm-ui (Team:apm)

[2020-07-23 22:41] nehaduggal opened #73161 "[APM] Re-arrange charts on Transactions page"
**Describe the feature:** The current KPI charts on the transactions page seem like they are out of order. The most important service KPIs are response time, throughput, error rate. With the introduction of transaction error rate chart on the page we now have breakdown and error rate chart on top while the throughput and response time are below. We should switch the position of the charts so the r

[2020-07-23 22:46] #59717 closed

[2020-07-23 23:04] #72961 closed

[2020-07-23 23:12] lukasolson opened #73167 "TSVB chart doesn't render when axis min is outside data range"
**Kibana version:** 7.9

**Elasticsearch version:** 7.9

**Describe the bug:**

When using TSVB, and setting the axis min/max, if the min is set to lower than the max, you get an error message and the chart doesn't render:

[code]

**Steps to reproduce:**
1. Create a new TSVB chart
2. Click on Panel options, and set the Axis min to something greater than the max from the dataset (or set the min to

[2020-07-23 23:12] elasticmachine commented on #73167
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-23 23:20] #72703 closed

[2020-07-23 23:27] jbudz opened #73170 "Failing ES Promotion: Ingest Node Pipelines Pipelines Delete should return an error for any pipelines not sucessfully deleted"
[CI Error](https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1167/testReport/junit/X-Pack%20API%20Integration%20Tests/x-pack_test_api_integration_apis_management_ingest_pipelines_ingest_pipelines%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___apis_management_Ingest_Node_Pipelines_Pipelines_Delete_should_return_an_error_for_any_pipelines_not_sucessfully_deleted/)

[How to run against

[2020-07-23 23:27] AlonaNadler commented on #68524
I don't have an objection to consistency.
I have concerns having the action we want the users to take on the top right side.
One option is to remove the dashboard create panel from the top nav

[2020-07-23 23:35] archon810 commented on #737
Here's a fun example of where this feature would be highly valuable.

![image](https://user-images.githubusercontent.com/469543/88348519-81d3ee00-cd02-11ea-85f6-e4c22d720f22.png)

[2020-07-23 23:50] jbudz commented on #73170
main: 8021616
7.x: 4bc149e
7.9: 32b6244

[2020-07-23 23:55] elasticmachine commented on #73170
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-24 00:30] #72754 closed

[2020-07-24 00:31] nreese commented on #48269
closed by https://github.com/elastic/kibana/pull/73160

[2020-07-24 00:31] #48269 closed

[2020-07-24 00:38] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.9/89/)

[2020-07-24 00:38] kibanamachine commented on #72994
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.9/89/)

[2020-07-24 00:46] hendry-lim opened #73175 "[Metrics UI] The URL generated by the Metrics Explorer is not reusable"
**Kibana version:** 7.9.0-SNAPHSOT

**Elasticsearch version:** 7.9.0-SNAPSHOT

**Browser version:**  Firefox 78.0.2

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**
The URL generated by the Metrics Explorer is not reusable.

Use case: I would like to include a link to the Metrics Explorer in the alert message to automatically select the metri

[2020-07-24 00:59] hendry-lim commented on #72793
Incorrect template variable menu. Will be fix in [#73155](https://github.com/elastic/kibana/pull/73155)

[2020-07-24 01:07] hendry-lim commented on #72793
The following message

`{{context.group}} has exceeded the {{context.metric.condition0}} threshold of {{context.threshold.condition0}}.`

is rendered to

`myhost.com has exceeded the cpu threshold of 60.`

Minor inconsistency in the metric, e.g. `cpu`.
Should it be rendered as `CPU usage`?

[2020-07-24 01:18] jbudz opened #73179 "[discuss] increase default browser -> server upload size or provide workflow"
The configuration server.maxPayloadBytes acts as an upload limit.  There are several areas in Kibana that have potential for errors, and a few hotspots. The key issue here is this  needs support very frequentlly and dating back major versions despite guidance, so I'm hoping we can find a better way to help users.

example
the most common is index patterns -  the legacy behavior here is browser pul

[2020-07-24 01:18] elasticmachine commented on #73179
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-24 02:13] thedude42 commented on #42583
From what I can tell by the description in [#43412](https://github.com/elastic/kibana/issues/43412) I am experiencing this same behavior in 7.7.1 from [this container image from docker hub](https://hub.docker.com/layers/kibana/library/kibana/7.7.1/images/sha256-53c0edc5671edb7ed17f939f27db21366cfb6be647499d934b4b5538baa315d0?context=explore).

[2020-07-24 02:57] spalger commented on #72994
Skipped in 7.9 too

[2020-07-24 03:13] justinkambic commented on #72994
Fix PR will target 7.9 as well as 7.x.

[2020-07-24 03:16] stackWang commented on #23018
same problem, when i create index then kibana post to '/api/saved_objects/index-pattern' but return '{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}'

[2020-07-24 03:18] nreese commented on #73179
May be anecdotal, but just answered a forum post where this problem was preventing a user from creating a map. https://discuss.elastic.co/t/cannot-select-index-pattern-having-geo-point-field-when-creating-map-layer/241910/9

[2020-07-24 08:59] buchmui opened #73188 "SIEM / Detections / Integrations - Microsoft Teams Integration"
Hello,

how is it possible, to create a webhook for microsoft teams? It's working fine with slack, but I'm not sure how to do it for teams.

Thank you.
Igor

[2020-07-24 09:01] dmlemeshko opened #73189 "[discuss] Kibana APIs load testing"
We didn't have any performance metrics for Kibana server-side and it is not easy to say if there are any performance increase/decrease from release to release. This effort is to add a performance monitoring tooling for our APIs.

### Actual questions:
- Define the testing target: eliminated Kibana server-side performance vs Stack load testing (Kibana + ES)
- Define the APIs scope: what do we want

[2020-07-24 09:41] erwin-willemsen opened #73192 "granular controle for Filters in Kibana"
For some users I would like to be able to disable the search bar and the Add filter (and change filter) at the top of the Kibana screen.
Add granular control for Filters with sub-feature privileges https://github.com/elastic/kibana/pull/60563

The use case:
For our company we use Elastic/Kibana for our customers. Some users, being part of a customer, may filter time, but may not use the Search bar

[2020-07-24 10:42] adiupendra opened #73193 "changes are not reflected even after Restart the Server in 7.8.0"
Hi Team,

The changes in src folder are not reflect even restarted the server in kibana7.8.0  under Windows 10 OS

**Steps to reproduce**

1.we remove a div in html file inside src (ex: src/plugin/visualize/public/application/editor/editor.html)
2.restart the server
3.those changes not reflecting

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:7.8.0

**OS:** Windown

[2020-07-24 11:33] kibanamachine commented on #70295
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6821/)

[2020-07-24 13:29] garrett-partenza-us commented on #31804
same issue here

[2020-07-24 13:59] regfaker commented on #54357
@LeeDr
still happening, Kibana 7.7.0, latest Firefox 78.0.2
[code]
[code]
[code]
[code]
it works in Chromium

[2020-07-24 14:07] regfaker commented on #54357
Ok, it works after clearing cache.

[2020-07-24 14:38] archon810 commented on #61780
Please don't clamp to 20. 100 is a much more useful value, and we use it all the time.

[2020-07-24 16:21] jberry777 commented on #65764
I'm also experiencing this issue. Native signals generated by Elasticsearch detection rules seem to have their signal.rule.name values show up in the table but for the signals we directly write to the .siem-signals-* index, those signal.rule.name values do not render in the table.

[2020-07-24 16:28] Mindycreese opened #73209 "Show Sub-Level Country Division Labels when zoomed out"
I am not seeing Sub-Level Country Division Labels (e.g. New South Whales, South Australia, Victoria) until I am really zoomed in.

This is the level I would like to see it at
<img width="500" alt="Screen Shot 2020-07-24 at 10 06 42 AM" src="https://user-images.githubusercontent.com/44445091/88413187-fad15500-cd97-11ea-9101-b05ba71131bc.png">

Not even seeing it at this level of zoom - Would be nic

[2020-07-24 16:34] elasticmachine commented on #73209
Pinging @elastic/kibana-gis (Team:Geo)

[2020-07-24 17:03] cjcenizal opened #73211 "Upgrade Assistant surfaces confusing error state for deprecation logging toggle"
During a discussion with @LeeDr (https://github.com/elastic/kibana/pull/70071#pullrequestreview-454491732), we discovered that there's a UX bug when the deprecation logging toggle gets back an error after sending its request. The UX is currently designed like this:

1. User clicks toggle
2. Toggle flips state (on to off or off to on)
3. Toggle becomes disabled
4. API request is sent
5. API request

[2020-07-24 17:48] elasticmachine commented on #73170
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-07-24 17:49] cjcenizal commented on #73170
@alisonelizabeth Could you check this one out please? I suspect we just need to `await` calls to `createPipeline`, otherwise it seems like we'd end up with a race condition, which would explain the failure here. Though I could have expected a race condition to yield flaky test results sooner. 🤔

[2020-07-24 19:39] #72967 closed

[2020-07-24 21:05] cjcenizal commented on #71927
### elasticsearch

@pgayvallet It looks like https://github.com/elastic/kibana/blob/master/src/plugins/home/public/application/components/tutorial/tutorial.js#L206 makes a request to `/elasticsearch/_msearch`.

[2020-07-24 21:32] lukeelmers commented on #60828
This issue came up again recently in the Discuss forums: https://discuss.elastic.co/t/parse-date-field-with-format-epoch-millis-in-a-specific-time-zone/241956

[2020-07-24 23:14] lukeelmers commented on #70452
@timroes Just as a heads up, Josh recently made a wider proposal for updating the repo directory structure in https://github.com/elastic/kibana/issues/71566

[2020-07-24 23:21] #44307 closed

[2020-07-24 23:21] #44308 closed

[2020-07-25 00:21] kibanamachine commented on #70493
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6833/)

[2020-07-25 01:00] hendry-lim commented on #73188
Use the generic webhook. You can follow these guides/doc:

- [Post external requests to Teams with incoming webhooks](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook)
- [Sending messages to connectors and webhooks](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using)

I tried the above

[2020-07-25 07:38] LeeDr commented on #73211
Agreed. The general flow for clicking a toggle button in Kibana which does a request to Elasticsearch should be to;
 1. disable the toggle
 2. change state only if the response confirms the request
 3. re-enable the toggle

[2020-07-25 15:47] jfsiii opened #73221 "[Ingest Manager] [Discuss] success property in API responses"
After some searching, [`${API_ROOT}/check-permissions`](https://github.com/elastic/kibana/blob/561b5befac2abf2251953fff734c7956029b739f/x-pack/plugins/ingest_manager/server/routes/app/index.ts#L11-L33) is the only route I can find where an API response has `success: false` at the top-level.

The other 30+ `success: boolean`s seem to only be `success: true`. Our tests seem to only include the `true

[2020-07-25 16:08] elasticmachine commented on #73221
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-25 18:20] thedude42 opened #73224 "[Discover] Refresh button fails to properly update "hits" histogram visualization"
**Kibana version:**
7.7.1 (obtained via [docker hub image](https://hub.docker.com/layers/elastic/kibana/7.7.1/images/sha256-f9a1a4ac02e17d8a7700ac7641effc198d19e97c33b617e9e44a3f67a705d381?context=explore))
**Elasticsearch version:**
7.7.1
**Server OS version:**
FreeBSD 12.1-RELEASE-p2 GENERIC  amd64
**Browser version:**
Chrome Version 84.0.4147.89 (Official Build) (64-bit)
Firefox 78.0.2 (64-bit)

[2020-07-25 18:42] nchaulet commented on #73221
I am in favor if removing it. Relying on status code is probably a lot better (and we are already doing it)

[2020-07-25 19:47] Crack opened #73225 "Breaking change: Kibana fails to start due to invalid length of xpack.reporting.encryptionKey"
**Kibana version:**
7.8.0

**Elasticsearch version:**
7.8.0

**Server OS version:**
Ubuntu 16.04

**Browser version:**
\-

**Browser OS version:**
\-

**Original install method (e.g. download page, yum, from source, etc.):**
deb package

**Describe the bug:**
Kibana fails to start: `Error: [config validation of [xpack.reporting].encryptionKey]: value has length [20] but it must have a minimum leng

[2020-07-25 21:18] edmarmoretti commented on #21705
This error also occurs in version 7.7 of Kibana.

![image](https://user-images.githubusercontent.com/710907/88466422-7a4b4b00-cea2-11ea-9dc6-16edfa536767.png)

[2020-07-25 21:22] edmarmoretti commented on #21705
This error also occurs in version 7.7 of Kibana. Values ​​are not shown when the column is mapped as "alias".

[2020-07-25 22:25] kmartastic commented on #71560
Thanks @lukeelmers.

cc: @aaronjcaldwell @thomasneirynck @nreese

[2020-07-25 23:11] hendry-lim commented on #73225
This was fixed in [#69827](https://github.com/elastic/kibana/pull/69827).

[2020-07-25 23:18] Crack commented on #73225
Thanks for pointing that out, I didn't find it when I checked.

[2020-07-25 23:18] #73225 closed

[2020-07-26 16:25] mchudinov opened #73229 "Kibana Uptime Internal Server Error"
**Kibana version:**
7.8

**Elasticsearch version:**
7.8

**Server OS version:**
Kubernetes with official Docker image

**Browser version:**
Any

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Using Kubernetes elastic operator

**Describe the bug:**
I run Elasticsearch, Kibana and Heartbet in a k8s cluster, 1 node of each.
Heartbeat del

[2020-07-26 17:38] kibanamachine commented on #68568
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.8/431/)

[2020-07-26 18:24] jfsiii commented on #73221
I opened a draft PR after doing a find/replace for all but check-permissions https://github.com/elastic/kibana/pull/73223

[2020-07-26 20:39] kibanamachine commented on #68609
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/6877/)

[2020-07-27 05:14] bonheur3025 opened #73234 "boxplot"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2020-07-27 05:26] #38439 closed

[2020-07-27 06:38] ruflin commented on #69775
This change got reverted and we stick for now with `download` so this can be closed.

[2020-07-27 06:38] #69775 closed

[2020-07-27 06:57] stratoula commented on #70993
@dej611 I think that #72882 closes this right?

[2020-07-27 07:05] mtojek commented on #73019
IMHO it gives a bad impression to the end-user, who would like to simply copy paste the snippet and don't get "frightened" with an unexpected error. You can also consider to put an additional hint on the Kibana side saying that an insecure communication channel will be used.

[2020-07-27 07:29] kamalpreetpahwa-qasource opened #73236 "[Ingest-Management]: "Un-enroll" option is still available for an agent which is already un-enrolled and displayed under "Show Inactive" filter."
**Kibana version:**
Kibana: 7.9 BC4

**Elasticsearch version:**
Elasticsearch: 7.9 BC4

**Agent version:**
Agent: 7.9 BC4

**Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.9 BC4 artifacts

**Description**
[Ingest-Management]: "Un-enroll" option is still available for agent which is already un-enrolled and displayed under "Sho

[2020-07-27 07:29] kamalpreetpahwa-qasource commented on #73236
@rahulgupta-qasource : Please review and assigned the defect.

[2020-07-27 07:31] #73234 closed

[2020-07-27 07:32] ghost opened #73237 "[Ingest-Management]: Agent with Online, Offline status also appears under "Show Inactive" filter results."
**Kibana version:**
Kibana: 7.9 BC4

**Elasticsearch version:**
Elasticsearch: 7.9 BC4

**Agent version:**
Agent: 7.9 BC4

**Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.9 BC4

**Description**
[Ingest-Management]: Agent with Online, Offline status also appears under "Show Inactive" filter results.

**Preconditions**
1. Kiba

[2020-07-27 07:33] kamalpreetpahwa-qasource commented on #73237
@rahulgupta-qasource : Please review and assigned the issue.

[2020-07-27 07:35] ruflin commented on #73091
+1 on starting with the UUID and later link. A link will assume we still have the old config around ...

[2020-07-27 07:39] ruflin commented on #73034
Ingest Manager can't be migrated from 7.8 to 7.9 because of no data streams in 7.8. The only solution is to wipe all 7.8 ingest manager indices. That is why we also mention in our blog post that when using ingest manager 7.8, a separate "throw away" cluster should be set up. Not nice, but unfortunately we couldn't find an other way.

@kuisathaverat I assume you had in 7.8 ingest manager enabled?

[2020-07-27 07:43] ruflin commented on #73019
I personally think it is ok to make users think twice before setting up something in an insecure way.

What I would propose as an alternative is that when we see Kibana is running under `http` that we already show a warning on the Kibana side that it is insecure and add a note there, that `--insecure` has to be used.

[2020-07-27 07:53] majagrubic commented on #73046
Sorry, I am on vacation this week and away from computer, but I am pretty sure I checked this on 7.8 and it worked differently. Would either one of you mind verifying this and then closing it if it's not an issue? 🙏  @flash1293 @Dosant

[2020-07-27 07:53] littlehome-eugene commented on #9226
I'm suddenly experiencing this issue.. with 7.4.2 :(

[2020-07-27 07:55] timroes commented on #70452
Closing this in favor of #71566

[2020-07-27 07:55] #70452 closed

[2020-07-27 07:56] dej611 commented on #70993
refers mostly to the bug that can be reproduced with the artificial environment with Firefox, so unfortunately not. The bug fixed in #72882 is different from the one detected here.

[2020-07-27 07:59] timroes commented on #71566
Looks good to me from the Kibana App plugins. I've closed our Kibana App disucssion ticket (#70452) in favor of this one. The only thing missing from my side in the above list is the `visualizations` plugin. But since we're planning to merge the `visualize` plugin (containing the visualize application, with the listing page, the frame around the editors, etc.) with the `visualizations` plugin (the

[2020-07-27 08:02] majagrubic commented on #73046
Ah sorry, for permalinks you are right - it is indeed the expected behavior.
But the original issue of losing compressed URL when editing visualization isn't.

[2020-07-27 08:18] uihyun opened #73242 "[Canvas/Reporting] Time in a time filter has been changed when generating a pdf report"
**Kibana version:** 7.8.0

**Elasticsearch version:** 7.8.0

**Server OS version:**

**Browser version:** Chrome 84.0.4147.89 (64bit)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Time in a time filter has been changed when generating a pdf report.

**Steps to reproduce:**
1. Create a workpad
2. Put a time filer
3. Set an

[2020-07-27 08:23] kuisathaverat commented on #73034
yes, I've it enabled with one Elastic Agent connected.

[2020-07-27 08:43] flash1293 commented on #51938
TODO: Backport https://github.com/elastic/kibana/pull/72097 to 7.8 and check with flaky runner

[2020-07-27 08:44] gmmorris opened #73245 "Upgrading to 7.9-BC4 fails on migration of Index Threshold Alert"
**Kibana version:** 7.9-BC4

**Describe the bug:**
Upgrading to 7.9-BC4  fails on migration of Index Threshold Alert

Still investigating the root cause

[2020-07-27 08:44] elasticmachine commented on #73245
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-07-27 08:45] #33187 closed

[2020-07-27 08:50] flash1293 commented on #34014
Skipped on 6.8 (https://github.com/elastic/kibana/pull/73239), closing for now

[2020-07-27 08:50] #34014 closed

[2020-07-27 08:53] mbondyra commented on #58995
Seems like it stopped happening in April - few failures of this test after are not related to this issue and caused by server error caused by tests before.

[2020-07-27 08:53] #58995 closed

[2020-07-27 09:32] flash1293 opened #73253 "Input controls: Improve behavior on terms list timeout"
The input controls component is fetching a list of terms to populate the dropdown. If this request is timing out either because of runtime (`kibana.autocompleteTimeout`) or because of number of documents hit (`kibana.autocompleteTerminateAfter`), a warning icon is shown in the UI.

Over time, this has caused quite some uncertainty with users on all channels:
* The warning triangle is scary, and ge

[2020-07-27 09:32] elasticmachine commented on #73253
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-27 09:33] markov00 commented on #72691
- `carry` uses this value if there is a missing point at the beginning
- `lookahead` uses this value if there is a missing point at the end
- `average` and `linear` use the value for beginning and end missing points

[2020-07-27 09:58] #45089 closed

[2020-07-27 10:09] Bamieh commented on #70210
@alexfrancoeur We have already sent out the 7.9 extraction. I'll check the labels we have for 7.9 and list the missing ones for follow up

[2020-07-27 10:09] cyrille-leclerc commented on #71770
We have very interesting UX feedbacks from various customers and SAs with competitive analysis on [Service Map UX Feedback](https://docs.google.com/document/d/1qr-p8HiBzp2X9B2634YgKJpfhYdIoZI5x-9N2RuImKg/edit#). Can we leverage this feedback to improve the Ui of service maps?

[2020-07-27 10:24] elasticmachine commented on #73236
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-07-27 10:26] rahulgupta-qasource commented on #73236
Reviewed and assigned to @EricDavisX

[2020-07-27 10:52] elasticmachine commented on #73237
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-27 10:54] rahulgupta-qasource commented on #73237
Reviewed and assigned to @EricDavisX

[2020-07-27 11:10] #72864 closed

[2020-07-27 11:29] mistic commented on #68568
@jen-huang there is any plans to also apply https://github.com/elastic/kibana/pull/72621 into `7.8`?

[2020-07-27 11:45] skh commented on #68890
I've tested this with a locally running package registry, with a package `foo` in versions `1.0.0` and `1.0.1`.

Version `1.0.0` of this package is available in `testdata/package` in the `package-registry` repository, version `1.0.1` was created by me on the fly by copying the package and changing the directory name and the version in the `manifest.yml` file to `1.0.1`.

After adding the new packa

[2020-07-27 11:55] weltenwort commented on #71927
Yes, we track it in #68142

[2020-07-27 12:07] mbondyra commented on #70993
There are no logs available (last occurrence happened 16 of July) but the problem in code is the same as here: https://github.com/elastic/kibana/pull/71226/files - so it should be fixed. Kudos to @stratoula 👏

[2020-07-27 12:07] #70993 closed

[2020-07-27 12:17] ppisljar commented on #46855
i like the suggestion of using a function `field : match(/foo.*bar.*baz.*/i)`, seems a bit more error prone and also leaves more doors open for the future.

[2020-07-27 12:24] walterra opened #73261 "[ML] Multiple clicks required to navigate back from SMV/Anomaly Explorer to jobs list"
Taken from https://github.com/elastic/kibana/pull/71941#issuecomment-660157186 as it was not introduced by the PR itself: When you go to SMV or Anomaly Explorer view from the job list or the Stack Management's job list, it will take several clicks to go back to the previous page.

![history_navigation](https://user-images.githubusercontent.com/43350163/87800580-31492600-c814-11ea-9ad7-2a6dc85a1c79

[2020-07-27 12:24] elasticmachine commented on #73261
Pinging @elastic/ml-ui (:ml)

[2020-07-27 12:35] elasticmachine commented on #73221
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-07-27 12:36] paul-tavares commented on #73221
Did a quick search in `security_solution` code base and did not see anything on our end that seems to be using t. Looks like your PR already accounts for updating our mocks 👍

[2020-07-27 12:39] rahulgupta-qasource opened #73263 "[Ingest Management]: Hosts and its advanced options fields align to left on inserting long url in 'Hosts' field on Add RabbitMQ integration page."
[Ingest Management]: Hosts and its advanced options fields align to left on inserting long url in 'Hosts' field on Add RabbitMQ integration page.

**Kibana version:**
Kibana: 7.9 BC4

**Elasticsearch version:**
Elasticsearch: 7.9 BC4

**Host OS and Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.9 BC4

**Description**
[Ingest

[2020-07-27 12:39] elasticmachine commented on #73263
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-27 12:40] rahulgupta-qasource commented on #73263
@kamalpreetpahwa-qasource Please review the bug

[2020-07-27 12:40] stratoula commented on #70125
This problem should be fixed with https://github.com/elastic/kibana/pull/71226. Thanx @mbondyra for also looking into this ❤️

[2020-07-27 12:45] kamalpreetpahwa-qasource commented on #73263
Reviewed and assigned to @EricDavisX

[2020-07-27 12:56] EricDavisX commented on #73263
looks like a minor bug - thanks for logging

[2020-07-27 12:57] nchaulet commented on #73135
I think it's a little more complex than just adding a line to the existing screen as it's going to be required only for windows.

@hbharding we probably need your help here

[2020-07-27 13:09] timroes commented on #73021
Why are we using the saved object directly in Lens, instead of consuming the instantiated index pattern class? Even with that label being present, ideally we should leave that decision to the index pattern implementation and not need to re-implement that in Lens. The main reason why solutions didn't consume the index pattern service was that it only ran on the frontend (yet) and not on the servers

[2020-07-27 13:14] EricDavisX commented on #73237
@nchaulet can you comment here please?

Nicolas, I suppose the inactive Agent should have eventually disappeared unless there was some problem?  If the Agent was active and successful prior, and the host reachable, is there any known bug / reason from the BC4 build as to why it wouldn't have worked?  And if no known bug, what details do you need from QA to triage it?

The Agent logs would help for

[2020-07-27 13:17] mbondyra commented on #57647
Unfortunately we don't have logs because the issue hasn't happened in a while now. We don't even know if it's still happening with the same error message. What I suspect is that it's probable that it fails recently with another message:
[code]

just like other tests using the same `before each` hook:
 https://github.com/elastic/kibana/issues/71209
https://github.com/elastic/kibana/issues/70993
htt

[2020-07-27 13:20] #72794 closed

[2020-07-27 13:22] EricDavisX commented on #73236
the thread of discussion has started in https://github.com/elastic/kibana/issues/73237 - I think we can track it there, this is the same work-flow and same core symptoms, its the same underlying bug so we don't need two issues open to track it.  I'll add this specific note to that issue

[2020-07-27 13:22] #73236 closed

[2020-07-27 13:23] EricDavisX commented on #73237
I want to call out that we shall track the basic work-flow here, the specific of this concern needs to be resolved as well, that the "Un-enroll option is still available for an agent which is already un-enrolled and displayed under Show Inactive filter." From #73236

[2020-07-27 13:32] nchaulet commented on #73237
the `show inactive` flag show inactive agent + other agent that match your search

[2020-07-27 13:36] lizozom commented on #73116
@elastic/kibana-app-arch @elastic/kibana-qa

This issue causes O(number of panels) of telemetry to be sent for each dashboard search.
Would like to get this in for 7.9.0. What's your opinion?

[2020-07-27 13:38] kamalpreetpahwa-qasource opened #73272 "[Ingest-Management]: "Enable elastic security agent" page instead of host appears under "Administrator>Host" tab, when user first forcefully un-enroll the agent and then re-enrolled the agent from Fleet tab."
**Kibana version:**
Kibana: 7.9 BC4

**Elasticsearch version:**
Elasticsearch: 7.9 BC4

**Agent version:**
Agent: 7.9 BC4

**Browser version:**
Windows 10, Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
From 7.9 BC4

**Description**
[Ingest-Management]: "Enable elastic security agent" page instead of host appears under "Administrator>Host" tab, when user first fo

[2020-07-27 13:39] rahulgupta-qasource commented on #73075
Hi @EricDavisX

We are in-progress of bad data input validation for integrations and have reported  01 UI bug #73263 for RabbitMQ integration. We will validate the bad data inputs for other pending integrations and share the observations for the same.

Please let us know if anything else is required from our end.

[2020-07-27 13:40] #70115 closed

[2020-07-27 13:40] mukeshelastic opened #73274 "Change the order of parameters in alert creation flyout"
The current alert creation user experience starts with alert condition `<operator>` comparing to a threshold then a alert definition `<pattern>` and then time window i.e. When `<operator>` `<threshold>` log entries With `<alert definition>` Within last `<time window>`
Real example: When more than 75 long entries with log.level = error within last five minutes.

It is intuitive to define first the

[2020-07-27 13:43] kamalpreetpahwa-qasource commented on #73272
Please review the defect @rahulgupta-qasource

[2020-07-27 13:49] smith opened #73278 "Add tests for APM CLI scripts"
@sqren [asks on #72732](https://github.com/elastic/kibana/pull/72732#issuecomment-662334919):

This could fit somewhere in the functional testing suite. Figure out which scripts would benefit from these types of tests and create them to be run in CI.

[2020-07-27 13:49] elasticmachine commented on #73278
Pinging @elastic/apm-ui (Team:apm)

[2020-07-27 13:52] elasticmachine commented on #73272
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-27 13:53] rahulgupta-qasource commented on #73272
Reviewed and assigned to @EricDavisX

[2020-07-27 13:57] stratoula commented on #31705
The timeseries functional tests have been moved to `_tsvb_time_series.ts`. They fail sometimes on the cloud so I will increase the timeout on fetching the chart legend value

[2020-07-27 14:08] alisonelizabeth commented on #66669
Tested manually and verified the analyzers work as expected in 7.9.

[2020-07-27 14:09] jsanz commented on #73209
@Mindycreese thanks for reporting this, after checking the data in detail there's an error in the basemaps we use that prevent Australia states to show up in upper levels.

This not in the styling part of the story (that we directly control) but inside the data we use to render the maps. I'm going to continue investigating this but pretty sure we will have to fix this upstream and that may take so

[2020-07-27 14:16] flash1293 opened #73282 "[esaggs] metricsAtAllLevels should provide root level metrics as well"
The `esaggs` expression function used by Lens to fetch data has a flag `metricsAtAllLevels`. If set, the specified metrics will not only be fetched within the most nested bucket, but also on bucket levels. In the resulting table the "overall" metrics are repeated in each column.

Example: If esaggs is fetching data for the following config: split by terms on field1, split by terms on field2, max o

[2020-07-27 14:16] elasticmachine commented on #73282
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-27 14:16] jeffvestal opened #73283 "Provide drilldown capability for Saved Search panels on a Kibana Dashboard"
**Describe the feature:**
I would like to drilldown from a "Saved Search" panel on a Kibana dashboard

**Describe a specific use case for the feature:**
I have a transform that provides monitoring data information with the cluster as an entity. On an Operational dashboard, I would display this data frame index (transform output) as a Saved Search panel. When I want to "drilldown" on a cluster, I w

[2020-07-27 14:17] elasticmachine commented on #73283
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-27 14:25] elasticmachine commented on #73283
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-27 14:32] Dosant opened #73286 "Flickering warning filters state on a dashboard"
**Kibana version:** 7.9
**Describe the bug:**

When loading dashboard with non default index pattern filters, there are flashes of filter pills in "warning" state

**Steps to reproduce:**
1. Create a dashboard and add non default index pattern visualisation
2. Add a filter and save it with dashboard
3. Go away from d dashboard and return back
4. See filters flickering

**Expected behavior:**

4. W

[2020-07-27 14:32] elasticmachine commented on #73286
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-27 14:34] streamich commented on #73283
@jeffvestal it looks like you have a number of use cases:

- For navigating to Discover we will release in 7.9 [“Explore underlying data” action](https://www.elastic.co/guide/en/kibana/master/explore-underlying-data.html).
- We have also a ticket for [Discover drilldown](https://github.com/elastic/kibana/issues/60227),  where user will be able to configure a drilldown to a specific saved search (b

[2020-07-27 14:36] #72651 closed

[2020-07-27 15:04] riemann89 commented on #737
+1

[2020-07-27 15:05] ruflin opened #73291 "[Ingest Manager] Kibana version sent to the package registry for SNAPSHOT"
Kibana needs to send the current Kibana version to the package-registry as query param so the registry can only return the packages which are compatible with the given Kibana version. On the 8.0.0-SNAPSHOT build this causes a problem that no packages are shown. The reasons is that current packages are compatible with `^7.9.0` which means not with 8.0.0.

The solution currently taken on the package

[2020-07-27 15:05] elasticmachine commented on #73291
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-07-27 15:10] #51718 closed

[2020-07-27 15:23] liza-mae commented on #45462
@flash1293 I don't see any open Github issues on cloud for this test.

The 502 error is related to the cloud gateway issue and the darwin vm disk full is fixed now, I think we can close this the failures don't appear to be test specific.

[2020-07-27 15:23] elasticmachine commented on #73229
Pinging @elastic/uptime (Team:uptime)

[2020-07-27 15:24] elasticmachine commented on #73224
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-27 15:25] afgomez opened #73298 "Stack monitoring: Unit mismatch in memory graphs"
The memory graphs shown in the stack monitoring plugin have a mismatch between the unit specified in the header and the values shown in the graph.

Example in APM server view:
<img width="656" alt="Screenshot 2020-07-27 at 17 06 03" src="https://user-images.githubusercontent.com/57448/88559859-aa732500-d02d-11ea-9f00-a31f72f18b17.png">

Example in Kibana instance view:
<img width="617" alt="Screen

[2020-07-27 15:26] liza-mae commented on #63795
@andrewvc I don't see any recent issues open on it, so we can close it.

[2020-07-27 15:26] #63795 closed

[2020-07-27 15:27] myasonik commented on #73193
Hi @adiupendra, thanks a lot for engaging with the Kibana community!

We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests, etc) in Kibana so it's unlikely your question will get the attention it deserves here. If you'd still like help, our [Discuss forums](discuss.elastic.co/) is the best space for asking questions around Kibana.

If you haven't seen thi

[2020-07-27 15:27] #73193 closed

[2020-07-27 15:29] liza-mae commented on #72168
Hi @nnamdifrankie - the certificate issue is due to #72193, we would have to run the test with a fix for that issue.

[2020-07-27 15:33] elasticmachine commented on #73192
Pinging @elastic/kibana-security (Team:Security)

[2020-07-27 15:34] elasticmachine commented on #73242
Pinging @elastic/kibana-canvas (Team:Canvas)

[2020-07-27 15:34] elasticmachine commented on #73242
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2020-07-27 15:34] smith opened #73300 "Add URL generators for APM and Observability apps"
@elastic/kibana-app-arch recommends exposing a [URL generator service](https://github.com/elastic/kibana/tree/master/src/plugins/share/public/url_generators) for plugins. Add these for our plugins so consumers can use it to create reliable links to APM.

[2020-07-27 15:37] flash1293 commented on #45462
@liza-mae Alright, makes sense. Do you know whether there are more 502 related cloud failures? If there are a lot, I think we should manage them somehow - maybe create a separate label so we can filter them out. I will close this one for now.

[2020-07-27 15:37] #45462 closed

[2020-07-27 15:39] flash1293 commented on #73224
Duplicate of https://github.com/elastic/kibana/issues/66870 - this error is fixed in 7.8.0

[2020-07-27 15:39] #73224 closed

[2020-07-27 15:40] ph commented on #73019
@ruflin If I understand correctly your proposal, we could issue a warning to the user and tell them about the `--insecure` flag but not automatically change the "copied" command, is that correct?

[2020-07-27 15:40] jonathan-buttner opened #73304 "[Security Solution] Handle indices without geoip schema defined in mapping"
**Describe the feature:**

The `securitySolution:defaultIndex` now includes a broad `logs-*` index pattern to include the `endpoint` specific indices and in preparation for the beats indices. An issue could occur when building the layers for the map on the Network tab in Security Solution app.

If a user has some documents that have geoip schema defined in their mapping and match the `logs-*` and

[2020-07-27 15:40] elasticmachine commented on #73304
Pinging @elastic/siem (Team:SIEM)

[2020-07-27 15:41] swtrux commented on #39259
When is this feature coming?  It is really needed.

[2020-07-27 15:42] jeffvestal commented on #73283
Thanks for the extra info @streamich! There definitely are a few different use cases.

I did see the couple issues you linked, which will address some of the potential uses for drilldowns here. I didn't see any of them mention Saved Search panels specifically, so I wanted to call that out. Having custom urls with context loading will be very helpful.

I really like the idea of in-panel drilldowns.

[2020-07-27 15:43] EricDavisX commented on #73135
I acknowledge that - what are the best 'easy' ideas for something simple to help out here?  I can create a zoom if we want to hash it out faster, if we want

[2020-07-27 15:46] nnamdifrankie commented on #72168
@liza-mae
Thanks for the update, still an issue as per the latest build https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/548/JOB=xpackExt,TASK=saas_run_kibana_tests,node=linux-immutable/testReport/junit/X-Pack%20API%20Integration%20Tests1/x-pack_test_api_integration_apis_endpoint_policy%C2%B7ts/apis_Endpoint_plugin_Endpoint_policy_api_GET__api_endpoint_policy_r

[2020-07-27 15:51] wayneseymour commented on #72692
We still have at least one outstanding issue.
For the coverage visualizations in Kibana Stats, we show team assignments.
We have verified that we can upload > 1 team assignment per path, but perhaps we should only show one team assignment even though there can be more.

@LeeDr and I think we could just use the first team as the "priority" and only show that one.

Your thoughts? @spalger

[2020-07-27 15:52] flash1293 opened #73306 "[Lens] Use index pattern service instead saved object client"
In https://github.com/flash1293/kibana/blob/7e533f26aa0f0ca6029834e53ab00fdb0c590f15/x-pack/plugins/lens/public/indexpattern_datasource/loader.ts#L46 Lens is using the saved object client directly to fetch index patterns instead of using the `indexPatterns` service provided by the `data` plugin.

This means Lens is missing some integrations the index pattern service handles (e.g. caching and dotte

[2020-07-27 15:52] elasticmachine commented on #73306
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-27 15:54] joelgriffith commented on #43069
I think this has been rewritten and is no longer applicable now that we're on new-platform, going to close for the time being.

[2020-07-27 15:54] #43069 closed

[2020-07-27 15:57] ph commented on #73135
@hbharding has plan to change that flyout, so maybe we could do it at the same time? But it would require more work and will miss 7.9.  @EricDavisX

[2020-07-27 16:03] flash1293 commented on #73021
As discussed offline, it makes more sense to switch to the index pattern service when fixing this instead of using the next internal. I opened a separate issue for this: https://github.com/elastic/kibana/issues/73306

Closing this one because the other one should include all necessary information.

[2020-07-27 16:03] #73021 closed

[2020-07-27 16:16] EricDavisX commented on #73135
yeah, we may be too late in cycle to safely improve much. If nothing else perhaps we can add one or two lines in the UI saying *something / *anything*.  :)

I have scheduled a zoom meeting to hash it out.
The 2 suggestions I have now are:

1)
"For Windows persistent Agent deploy (recommended), please run 'install-service-elastic-agent.ps1' before enrolling Agent.
For Linux recommend to use the .de

[2020-07-27 16:21] joshdover commented on #70733
Sorry to hear that, Rajat! We're focused on improving this area quite a bit over the next few months. As part of a major refactoring project, we will be able to remove many components that consume a significant amount of CPU and memory. Hope this helps solve this problem for you!

[2020-07-27 16:28] weltenwort commented on #72872
:information_source: Actually, I ended up not adding a boolean field, but instead turning the `logIndicesExists` into a `logIndexStatus` union in #73101.

[2020-07-27 16:36] #72835 closed

[2020-07-27 16:43] stacey-gammon opened #73312 "[Discuss] Run kibana with example plugins when in dev mode"
Rather than require devs to boot with `yarn start --run-examples`, I propose we default to running examples when dev mode is detected.

Pros:
 - Improve discoverability. No need to remember the flag.

Cons:
 - Developers need to be aware the example APIs are for dev mode only and should not be used by production features.

If we can't reach a conclusion async, we'll discuss in the next repo review

[2020-07-27 16:43] elasticmachine commented on #73312
Pinging @elastic/kibana-app-arch (Team:AppArch)

[2020-07-27 16:43] elasticmachine commented on #73312
Pinging @elastic/kibana-platform (Team:Platform)

[2020-07-27 16:55] ravikesarwani commented on #73298
The unit in the header says "MB" or "GB" but the Y axis plots "bytes". Shouldn't it convert and plot as MB/GB? Looks like we are already doing all the work to define the correct unit based on min and max values in the range.
Once we have finished 7.9 tasks we should take a look to see how we can potentially fix this. Seems like a bug to me.

[2020-07-27 17:02] timroes commented on #70295
The reason for this to fail is most likely a slow `_bulk_get` request. Since input controls doesn't have an index pattern attached to it, the filter bar will load all index patterns to show a select in the filter editor UI. If this requests fails the filter bar will not be shown (can be easily simulated by blocking the request locally via the dev tools and see that the filter bar is then never sho

[2020-07-27 17:02] chrisronline opened #73316 "[Monitoring] Generated deep link back to Kibana for alerting is wrong for cloud"
[This calculation](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/plugin.ts#L121) doesn't seem to resolve to the proper place for cloud deployments. We probably need to if/else this code for cloud and see if the cloud plugin has the kibana link accessible.

cc @nachogiljaldo

[2020-07-27 17:02] elasticmachine commented on #73316
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-27 17:08] dej611 commented on #70295
Yes, you're correct. I did set 4000 ms as upper bound limit.
If you think an higher limit than 4s could fix it, given the current environment, I could try scenario 2 and 3 above with something like 6000 ms upper bound.

[2020-07-27 17:11] spalger commented on #72692
So, is there a real use-case for there being more than one owner per file when it comes to coverage?

If not then we could add a check to CI that verifies that every file in the repository maps to exactly one "owner". This check would create a stream of all the files in the repo, and then run them through some sort of matcher to determine which coverage/codeowner patterns match it. If more or less

[2020-07-27 17:12] timroes commented on #70295
Since we're waiting for a request that needs to load all index pattern,I think we can even go overboard and go with 10s or the likes.

Nevertheless I'll also open an issue for app arch to handle this loading scenario a bit better than currently.

[2020-07-27 17:12] EricDavisX commented on #73135
Blake confirms via chat that the steps to start the Agent, when configured persistently are to not do 'elastic-agent run' command, but rather to (enable if needed) and start the service.

on linux / mac systems that would be:
systemctl enable elastic-agent
systemctl start elastic-agent

on windows that would be: "Open the Windows 'Services' tool and use it to start the elastic-agent' service"

I a

[2020-07-27 17:15] #72201 closed

[2020-07-27 17:18] #70830 closed

[2020-07-27 17:21] wayneseymour commented on #72692
Yeah that's our line of thinking as well, regarding one owner.
Removing ambiguity seems wise, particularly since neither of the 3 of us can guess up a case.

I must say I like the idea of QA not having to keep the books on the file to team mappings.

The other outstanding issue is that, at this moment, the logic for inlining the painless script is not exposed.  I still agree that with the new appr

[2020-07-27 17:30] spalger commented on #72692
Well, if we can establish confidence in the assignment logic because it's backed by a CI check that verifies that every file is mapped to a specific team maybe we don't need to use a script anymore and can instead assign ownership when we're ingesting the coverage?

[2020-07-27 17:32] jen-huang commented on #73263
This is very similar to the issue in fixed in #72512, but is still an issue for fields present under "Settings". Taking a look.

[2020-07-27 17:36] LeeDr commented on #73116
Are we logging the duration of every dashboard query or refresh?  Or min/max/avg over some time period?  I guess we need to see what the change looks like to know if it's something we should change to the server in 7.9.0 vs disabling for this release.

[2020-07-27 17:38] wayneseymour commented on #72692
That has my vote, what say you @LeeDr

[2020-07-27 17:41] elasticmachine commented on #68609
Pinging @elastic/endpoint-management (Team:Endpoint Management)

[2020-07-27 17:43] kibanamachine commented on #68568
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.8/433/)

[2020-07-27 17:50] ryankeairns commented on #68524
Related to that last point, I've been working on some alternatives to (or additional placement of) that Create new/Add panel button for Dashboard. I'll share this week.

[2020-07-27 17:52] ryankeairns commented on #72836
Related, Core UI has an issue to add the ability to clear all recently viewed. These should be considered together.
https://github.com/elastic/kibana/issues/67120

[2020-07-27 18:08] bhavyarm opened #73326 "Kibana doesn't let the user save the visualization from discover visualize option (no tooltip let user know whats happening)"
**Kibana version:** 7.9.0 BC4

**Browser version:** chrome latest

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  if user clicks on visualize option from discover side nav, Kibana takes the user correctly to visualize app.

But both save and update options are greyed out. Its not at clear to the user what they should do to save the vi

[2020-07-27 18:08] elasticmachine commented on #73326
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-27 18:25] timroes commented on #73326
@sulemanof This seems to be a bug, that the visualize app thinks there would be unapplied changes (and thus greys out the button), while the editor has no unapplied changes. Can you have a look?

[2020-07-27 18:28] sulemanof commented on #73326
Will take it

[2020-07-27 18:30] lukeelmers commented on #73282
I tend to agree that including the root-level metrics is a more sensible default behavior, and I think the proposed flag approach could work.

For me the open question is to what extent we should consider this "breaking". For example, I can imagine someone being surprised to find that a data table they have embedded in a dashboard suddenly contains an additional column.

I see two possible paths f

[2020-07-27 18:36] flash1293 commented on #73282
I think those are valid points @lukeelmers - I wasn’t even considering this. I assumed we would keep the user facing features exactly as they are right now and simply drop the additional columns before displaying the table, even after removing the legacy flag. So no changes for the user at any point, only “breaking” in the sense of esaggs params  and esaggs usage.

I’m not sure whether these “top

[2020-07-27 18:44] ph commented on #73135
- We will ad the text from https://github.com/elastic/kibana/issues/73135#issuecomment-664494661
- Henry is going through it, make it pretty.
- @nchaulet will do the change.

[2020-07-27 18:45] EricDavisX commented on #73135
here is the link to the docs, that I think we'd want to use:
https://www.elastic.co/downloads/elastic-agent

[2020-07-27 18:47] mistic opened #73335 "Update base OS used on our Docker images"
Currently we are using `centos:7` as the base image for our Kibana images. It has not reached the EOL date yet but we should aim to update that image.

Additionally we should also aim for scan the dependencies we have on those images. \CC @jportner

[2020-07-27 18:47] elasticmachine commented on #73335
Pinging @elastic/kibana-operations (Team:Operations)

[2020-07-27 18:47] EricDavisX commented on #73135
we'll use some form of option 1:
"For Windows persistent Agent deploy (recommended), please run 'install-service-elastic-agent.ps1' before enrolling Agent.
For Linux recommend to use the .deb or .rpm distributions to allow persistent deploy."

[2020-07-27 18:47] igoristic commented on #73141
@ravikesarwani
Thank you for starting this thread! I have always wondered why we don't yet have this, and what kinda of strategy we should implement. The checkboxes make it very clear though, and easy to start a discussion around

I was wondering if this is something we should start investigating for 7.10?

@chrisronline
I actually don't see any telemetry "reporting" logic anywhere in our code bas

[2020-07-27 18:47] jsanz commented on #73209
Opened an issue on the OpenMapTiles repository to discuss about how region labels are filtered at low zoom levels

https://github.com/openmaptiles/openmaptiles/issues/953

[2020-07-27 18:50] chrisronline commented on #73141
We don't have any telemetry right now, so we'd need to add a new collector and all that jazz

[2020-07-27 18:53] LeeDr commented on #72692
We are assigning ownership during ingest (using an ingest pipeline).  But I think you're saying to make the assignments before we ingest it, in the code coverage scripts.  I guess I'd be OK with that if it was relatively simple to do.

[2020-07-27 18:55] ravikesarwani commented on #73141
Our telemetry server shows information about stack monitoring => https://kibana.telemetry.elastic.co/

[2020-07-27 18:56] ravikesarwani commented on #73141
<img width="1604" alt="Screen Shot 2020-07-27 at 2 56 25 PM" src="https://user-images.githubusercontent.com/64450378/88580255-5b22f980-d019-11ea-80f6-43d3c2f577fa.png">

[2020-07-27 18:58] LeeDr commented on #72692
I would like to make an update, and test going through the current process.  It's not great.

https://github.com/elastic/kibana/pull/73336/files

[2020-07-27 19:01] chandlerprall commented on #71425
@timroes created an EUI issue to add this guidance

[2020-07-27 19:01] chrisronline commented on #73141
Ah cool, that must be coming from Elasticsearch telemetry. I don't think we are reporting any telemetry from Kibana for stack monitoring though.

[2020-07-27 19:03] ravikesarwani commented on #73141
@igoristic For 7.10 my thinking was we need to continue our focus on out of box alerting work "Add more alerts and switching from Watcher to Kibana alerts" to make this a meaningful feature for our customers.

[2020-07-27 19:04] flash1293 commented on #73282
I haven’t looked too deep into how columns are mapped to actual output on the screen for data table and pie, but at least for Lens it’s really easy to just ignore the additional data in the first step - if we can do the same for pie and data table we can use option a) and avoid migrations.

[2020-07-27 19:05] igoristic commented on #73141
++ I agree

[2020-07-27 19:10] #71425 closed

[2020-07-27 19:11] ph commented on #73237
@EricDavisX I think the behavior is correct, by default we don't show inactive agent that match your query?

[2020-07-27 19:12] lukeelmers commented on #73282
Ah, I misunderstood that part of your proposal then -- my assumption was that you'd also want these changes to be end user facing.

Dropping the extra column on the fly would definitely be simpler than Option 2 above, and you're right that the runtime cost should be negligible, especially since we'd only enable this for cases where `metricsAtAllLevels === true`. Plus I'd much prefer an option like

[2020-07-27 19:13] ph commented on #73237
@nchaulet @EricDavisX  The unenroll an already unenroll agent is a bug though,  I think we can do it in 7.10.

[2020-07-27 19:15] nchaulet commented on #73237
Yes the unenroll an already agent is a bug, I can do a PR to remove it from the UI

[2020-07-27 19:19] EricDavisX commented on #73237
I understand more context after reading it a few times.  I understand this last part now, and I'm fine with 7.10.  My main concern was if there was an Agent that didn't successfully un-enroll... that would be a bug of some sort.  @rahulgupta-qasource please do re-test that tonight and let us know in a separate ticket if you have any Agent scenario where a valid, running Agent does not successfully

[2020-07-27 19:20] #72998 closed

[2020-07-27 19:23] wayneseymour commented on #72692
Once we have the logic in place to output the two lists (teams, codeowners), it'd just be a lookup.

[2020-07-27 19:24] alisonelizabeth commented on #73170
I'm not able to reproduce the failure. The ES PR referenced is related to the simulate API and doesn't appear to affect the creation/deletion of a pipeline. I just merged https://github.com/elastic/kibana/pull/73289, which should make the tests more robust. I'm going to close this issue for now, but feel free to open if the issue resurfaces.

[2020-07-27 19:24] #73170 closed

[2020-07-27 19:39] #72994 closed

[2020-07-27 19:51] EricDavisX commented on #73135
Also, if we want to adjust it a bit more... ugh, I failed to mention this in the meeting.  And I like this language a bit more anyhow, if helpful:

"The recommended production use is to deploy Agent persistently.
 - Do this on windows by running 'install-service-elastic-agent.ps1' before enrolling Agent.
 - Do this on Linux by installing either the .deb or .rpm distributions.
Then start the instal

[2020-07-27 20:41] nverrill commented on #50003
Therein lies the problem. It is not obvious at first, but jobs like "windows_anomalous_process_all_hosts_ecs" actually depend on the field event.action being a sysmon value "ProcessCreate" as opposed to the expected "created-process" that windows event id's give. Inspecting that job's datafeed shows this:
`{
  "bool": {
    "filter": [
      {
        "term": {
          "event.action": "Process C

[2020-07-27 21:04] nreese opened #73354 "[maps] Application state filters transfer from other kibana application to maps application"
Steps to view:
1) Install web logs sample data set.
2) open discover and look at web logs sample data set. Add a filter
3) Go to maps application. Open web logs sample map. Notice how filter created in discover is also now added to maps application. This filter should not have been transferred between apps since its not a pinned filter.

[2020-07-27 21:04] elasticmachine commented on #73354
Pinging @elastic/kibana-gis (Team:Geo)

[2020-07-27 21:09] #73188 closed

[2020-07-27 21:10] elasticmachine commented on #73175
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-07-27 21:10] #72193 closed

[2020-07-27 21:10] elasticmachine commented on #72852
Pinging @elastic/uptime (Team:uptime)

[2020-07-27 21:11] elasticmachine commented on #72622
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-07-27 21:16] elasticmachine commented on #72616
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-07-27 21:17] bhavyarm opened #73358 "Kibana flashes default space's custom banner on space selection page"
**Kibana version:** 7.9.0 BC4

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** if user sets up a custom banner for default space - it flashes on space selection screen after logging in.

**Steps to reproduce:**
1. Create an additional space along with default space
2. Go

[2020-07-27 21:24] #72911 closed

[2020-07-27 21:31] liza-mae commented on #72168
Thanks @nnamdifrankie I checked in a fix, should be in the next build.

[2020-07-27 21:33] elasticmachine commented on #72498
Pinging @elastic/kibana-security (Team:Security)

[2020-07-27 21:33] elasticmachine commented on #72415
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-27 21:34] elasticmachine commented on #72369
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-07-27 21:35] elasticmachine commented on #72317
Pinging @elastic/apm-ui (Team:apm)

[2020-07-27 21:38] laszlomako opened #73365 "Snapshot and Restore incorrectly displays indices instead of index patterns"
**Kibana version:**
v7.7

**Elasticsearch version:**
v7.7

**Server OS version:**
Windows Server 2012

**Original install method (e.g. download page, yum, from source, etc.):**
Download page >> Installed as a service using the built-in PowerShell script

**Describe the bug:**
Snapshot and Restore's "Use index patterns" feature is not working in v7.7. Instead of a list of index patterns, it returns

[2020-07-27 21:39] myasonik commented on #72315
This is fixed in 7.9 through an improvement in EUI!

EUI PR: https://github.com/elastic/eui/pull/3309
EUI being merged in Kibana: https://github.com/elastic/kibana/pull/68141

[2020-07-27 21:39] #72315 closed

[2020-07-27 21:39] elasticmachine commented on #72315
Pinging @elastic/kibana-core-ui (Team:Core UI)

[2020-07-27 21:41] elasticmachine commented on #73365
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-07-27 22:09] LeeDr opened #73371 "Monitoring breadcrumb should be Clusters (not Kibana) when showing clusters"
**Kibana version:** 7.9.0

**Elasticsearch version:** 7.9.0

**Server OS version:** Ubuntu 16.04

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz default dist

**Describe the bug:** When I go to Stack Monitoring it shows me my `admin` and `data` clusters.  But the breadcrumb says `Kibana`.  Seems that

[2020-07-27 22:09] elasticmachine commented on #73371
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-27 22:17] LeeDr opened #73373 "sometimes links to clusters in stack monitoring don't work"
**Kibana version:** 7.9.0

**Elasticsearch version:** 7.9.0

**Server OS version:** Ubuntu 16.04

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz default dist

**Describe the bug:** When I have multiple clusters in my Kibana monitoring page I can get to a state where clicking the links doesn't work un

[2020-07-27 22:17] elasticmachine commented on #73373
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-07-27 22:36] joshdover commented on #71566
Combining a few suggestions & discussions above, I've tried to regroup the "core" and "application_services" domains under a single "platform" domain which contains a few sub-domains.

*   src
    *   platform
        *   core (as in the "core platform" -- always present)
        *   application (as in the "application platform")
            *   embeddables
            *   inspector
            *

[2020-07-27 23:03] hbharding commented on #73135
I have two options. Option A basically adds some text with a link to our documentation (as discussed), and Option B spells out the instructions more clearly for each platform on how to setup a "persistent agent". Option B is based on conversations with @EricDavisX.

In either case, and depending on what we decide, we could use some eyes on the copy. cc @dedemorton (only if you have time first, apo

[2020-07-27 23:10] EricDavisX commented on #73135
Hi, I super enjoyed working on the designs with Henry.  Thanks for posting!

I will say, I know the product need not be perfect and we have more install related features coming in a future releases, but... the Security Solution will greatly benefit if we can rally around option B to be more explicit and call out the needs /
 recommendation for persisted usage.  Option A is still helpful, but now t