[2021-07-13 18:36] #105147 closed

[2021-07-13 18:40] kevinlog commented on #105477
thanks for the info @scunningham

Is the `defaultActionTimeout` configurable from the the Action input? reference here: https://github.com/elastic/beats/blob/master/x-pack/elastic-agent/pkg/agent/application/pipeline/actions/handlers/handler_action_application.go#L57

My thinking is we could expand this in our action requests for our use case without an Agent code change.

@james-elastic @aleksand

[2021-07-13 18:40] banderror commented on #101013
As discussed within the team, backwards compatibility with our custom Saved Objects (of type `siem-detection-engine-rule-status`) is not required:

**Q:** On the Security side, when we release the new Rule Execution Log, can we drop support for the existing execution data stored as custom Saved Objects? Or migration / fallback will be necessary?
**A:** We think it’d be acceptable to drop the histo

[2021-07-13 18:51] timroes commented on #105416
This is caused by monaco editor for some reason not working with Selection in Linux in Firefox. In Chrome this seems to work perfectly fine, so I am not sure if it's actually something Monaco editor can actually fix. Given that the same behavior happens for me on https://microsoft.github.io/monaco-editor/ I think this is an upstream issue and not specific to Kibana.

[2021-07-13 18:53] timroes commented on #105416
I found https://github.com/microsoft/monaco-editor/issues/1943 which seems to track this. I'll be closing this in favor of this, since there's nothing we can do at the moment. And in case Monaco finds a fix for that, we're anyway staying up to date with newer monaco versions.

[2021-07-13 18:55] lukeelmers commented on #105439
IMO the answer to this is _yes_. The whole point of the lifecycles is to provide plugins with guarantees as to when they can expect setup tasks to be complete. If we start performing these tasks whenever we want to, it makes Kibana less predictable and therefore less stable.

This is an interesting idea and I think it would be possible, but we'd need to spend some time discussing how this would lo

[2021-07-13 18:57] alexfrancoeur commented on #75584
Thanks for raising this @mikecote. In those discussions, it'd be good to align on two things. Current expectations and future. I imagine the latter will be less defined, but I think we can agree on a general direction.

[2021-07-13 19:05] jasonrhodes commented on #82020
Thanks, I'll let @Mpdreamz speak up if he has more concerns about the current plan, I may have gotten my signals crossed on what the current status is.

[2021-07-13 19:10] #105016 closed

[2021-07-13 19:21] kobelb commented on #105439
:thu:

I defer to the Kibana Core team on the implementation details of this.

[2021-07-13 19:28] kobelb commented on #75584
That's my understanding, yes. I don't see it in the maintenance policy, but I recall prior situations where bug-fixes couldn't realistically be backported to the `n-1.last` release (with `n` representing the current major version), so we might have some discretion when bug-fixes are infeasible.

[2021-07-13 19:29] alisonelizabeth opened #105496 "[Share] Short URL toggle missing with saved object link generator"
**Kibana version:**
7.14.0

**Describe the bug:**

**Steps to reproduce:**
1. Create a dashboard.
2. Select "Share" from the top menu bar.
3. Select "Permalinks". Note "Short URL" toggle shows with "Snapshot" selected.
4. Select "Saved objects". Note the field label "URL" shows, but there is no toggle.

**Expected behavior:**
I'm not 100% sure what the correct behavior here is. If short URL is not

[2021-07-13 19:29] elasticmachine commented on #105496
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-13 19:31] james-elastic commented on #105477
It doesn't look like that is a configuration option (me skimming the file and code) ; @aleksmaus for cc

[2021-07-13 19:31] elasticmachine commented on #105496
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-13 19:31] jfsiii commented on #100518
@CruzMarcio Can you see/share any logs from the proxy at that address? No code in Kibana or the Registry will return a `407 Proxy Authentication Required`, so I believe that's coming from the proxy at the address given to `xpack.fleet.registryProxyUrl` or somewhere else in the request chain.

Either way, a [`407` response should include a `Proxy-Authenticate` header](https://developer.mozilla.org/

[2021-07-13 19:35] alvarolobato commented on #82020
Did we document the alternatives we evaluated? Would like to read a bit
more about it.

It worries me that just for Observability we will be starting 30 ES
clusters to cover for something we had out of the box up until now. I
understand the reasons why we are removing the setting but making a worse
developer experience feels like a big deal to me.

Developing with real data is important and that's

[2021-07-13 19:36] FrankHassanabad opened #105497 "[Security Solution] Add timestamp fallback to EQL like the KQL rule type has"
KQL currently has a fallback to `@timestamp` when the override does not exist such as when `event.ingested` is selected as an override but doesn't exist, then KQL will fallback.

However, EQL does not look like it has the fallback abilities just yet. We should add it and then add the tests for it here:
[code]

Within that file we already have some tests for overrides for KQL and EQL, but not all o

[2021-07-13 19:39] ThomThomson commented on #105496
Related to https://github.com/elastic/kibana/issues/94482

[2021-07-13 19:46] kobelb commented on #82020
@alvarolobato I'll forward you the documentation that I do have, it's all internal at the moment. I'm happy to discuss further or prepare more thorough documentation if what we have right now is insufficient.

[2021-07-13 20:04] clintandrewhall commented on #105439
I can certainly take action as stated in https://github.com/elastic/kibana/pull/105164#issuecomment-879360102 to absolve Canvas of the anti-pattern.  But the idea that it's `setup` or nothing-- when some `setup` tasks are only useful when a plugin is loaded-- is still kind of gnawing at me.  I'm sure it's because Canvas has no dependents in Kibana, and so burdening it with some of the setup of Can

[2021-07-13 20:06] aaronjcaldwell commented on #105254
Actually @jgowdyelastic wrt the 1st scenario, I got it again while running tests in Firefox. I tested it in parallel in Chrome and it worked fine even though I saw the error in Chrome before when I first reported this. It might be worth a local test in Firefox if you get a chance.

I got the following output in Firefox's console:

[code]

So it gets stuck in a redirect loop going from `/` -> `/ove

[2021-07-13 20:11] lukeelmers commented on #105439
Ah, thanks for the clarification. Totally agreed 👍

Regardless of how/if core starts enforcing this in the plugin system, we should clarify these points in the documentation as part of the scope of this issue.

[2021-07-13 20:11] wylieconlon commented on #105377
Closing as this feature already exists in Discover, if you click Inspect > Request.

[2021-07-13 20:11] #105377 closed

[2021-07-13 20:17] clintandrewhall commented on #105439
I think my concern is: do these _*need to be registered globally in Kibana*_?  The answer in our case is no... in Canvas, we have no need for these functions to be used anywhere else, and protecting those constructs from use elsewhere is no different than not exporting code from `public/index.ts`.

As @lukeelmers pointed out, we can simply fork the Expressions service and continue to isolate these

[2021-07-13 20:39] EricDavisX commented on #105403
I agree, thanks Jen - @dikshachauhan-qasource if you have a concern that isn't addressed, please do clarify / re-open this or a new ticket and we can review.  Thank you

[2021-07-13 20:46] #105049 closed

[2021-07-13 20:48] kevinlog commented on #105477
Thanks for the input @james-elastic

Could we make this timeout longer for 7.14?  I think it will mitigate the issue that we were seeing.  The minute timeout is consistent with what I'm seeing in our UI - the error response comes back after that minute has elapsed.

[2021-07-13 20:56] ymao1 commented on #101582
It seems to me that the worst case scenario for **option (2)** is that when a user tries to upgrade to 7.15 (or whenever this change is made), any old rule or connector that in previous migrations may have flown under the radar due to decryption errors would block the upgrade. If user is willing to delete them, they could proceed with the upgrade but what if they wanted to keep them for whatever r

[2021-07-13 20:57] kibanamachine commented on #105087
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15360/)

[2021-07-13 21:00] james-elastic commented on #105477
@kevinlog We could probably do a quick PR to the agent code (non kibana configurable) if the agent team is fine with it; we could ask @scunningham to for a 2? minute timeout.  (What timeout do you think would be acceptable?)

I’d wonder why the endpoint doesn’t respond within 60 seconds and why it takes so long - do you or @ferullo have any theories on why it takes >60 seconds

[2021-07-13 21:03] TinaHeiligers commented on #105454
The ops team responded that we need to export the needed env vars from [src/dev/ci_setup/setup_env.sh](https://github.com/elastic/kibana/blob/master/src/dev/ci_setup/setup_env.sh). The file already reads the injected vars from Vault.
I've created an issue to add the vars to Vault with infra.

[2021-07-13 21:18] alvarezmelissa87 commented on #101344
@lcawl - could you confirm that you can reproduce this still. I'm currently unable to reproduce.

[2021-07-13 21:19] elasticmachine commented on #105282
Pinging @elastic/eui-design (EUI)

[2021-07-13 21:31] MichaelMarcialis commented on #105282
I believe this is currently working as intended, with the number of breadcrumb items above one being collapsed downed at the smallest breakpoint. While it appears that this behavior can indeed be modified using the `responsive` prop on the `EuiHeaderBreadcrumbs` component (see [EUI docs](https://elastic.github.io/eui/#/layout/header)), I'm not confident that we should proceed in doing so (at least

[2021-07-13 21:31] #105459 closed

[2021-07-13 21:39] poffdeluxe opened #105511 "[Canvas] Embeddables not rendering correctly on reports"
**Kibana version:** 7.14

**Describe the bug:**
While generating a PDF report for a Canvas workpad, I was able to get several embeddables to not show up properly.

In one case, I had several embeddables on page 2 of a workpad that was querying a bunch of data. In that example none of the embeddables rendered.

In another case, I had several embeddables on a single page workpad and two rendered (Le

[2021-07-13 21:39] elasticmachine commented on #105511
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-13 21:40] nickpeihl opened #105512 "[Alerting] User with read-only permissions can test connectors"
**Kibana version:**
7.14.0-BC

**Original install method (e.g. download page, yum, from source, etc.):**

Cloud

**Describe the bug:**

A user with only "Read" permissions on "Actions and Connectors" and "Stack Rules" can test connectors. I'm not sure if this is intentional or not. But it seems to be that limited access users should maybe not be able to test connectors. I imagine a scenario where

[2021-07-13 21:40] elasticmachine commented on #105512
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-13 21:41] gchaps opened #105513 "Update screenshots to show new EUI theme"
In 7.14, we need to update the screenshots in the docs to use the new EUI theme.  This issue tracks the progress:

- [x] [What is Kibana](https://www.elastic.co/guide/en/kibana/current/introduction.html) G #106185
- [x] [Kibana concepts](https://www.elastic.co/guide/en/kibana/current/kibana-concepts-analysts.html) (section) G #104998
- [x] [Quick start](https://www.elastic.co/guide/en/kibana/curre

[2021-07-13 21:41] elasticmachine commented on #105513
Pinging @elastic/kibana-docs (Team:Docs)

[2021-07-13 21:41] cchaos commented on #105282
++ To what @MichaelMarcialis described. This is working as intended. At very small screens the breadcrumbs are completely truncated to only display the **last breadcrumb** inline and the rest are compiled into an overflow breadcrumb. This is the most scalable way to handle mobile views across the board unless Kibana wants to do some more complicated logic to handle when to [customize the truncatio

[2021-07-13 21:42] kmartastic commented on #103140
Closing this issue as By Design.
Will re-open if customer feedback warrants.

[2021-07-13 21:42] #103140 closed

[2021-07-13 21:44] kmartastic commented on #95133
Hi @Sjaak01 -- does this issue still occur for you when reordering layers?

[2021-07-13 21:45] melissaburpo commented on #105477
I've actually recently seen this same error when running live osqueries on https://kibana.endpoint.elastic.dev/. I had been planning to test it more to see if we needed a bug, but this sounds like the same issue.

I just retested it and I'm seeing the same thing. In case it helps the discussion, this is how to reproduce this for osquery actions.

1. Add Osquery Manager to the [Endpoint Security po

[2021-07-13 21:48] kevinlog commented on #105477
After some offline conversation:

Currently on the OLM/Endpoint side, we're using the Agent action/response to determine when a Host Isolation action has been completed.  We learned that this wasn't the original intention behind the design.  The Agent just wants an ack from the underlying subprocess (i.e. the Endpoint).

Since we're far out after FF we can approach this in a few different ways.

1

[2021-07-13 21:50] mgiota commented on #105227
Here's how it looks like with the fixes (apart from abbreviated units)

<img width="1410" alt="Screenshot 2021-07-13 at 23 34 27" src="https://user-images.githubusercontent.com/2852703/125529172-9f9514ff-8cd1-4ab5-b30d-0271bcf67018.png">

I need some design input regarding right-alignment for the duration column. As stated in the ticket I aligned the content (not the header). Is this how it is sup

[2021-07-13 21:51] kevinlog commented on #105477
interesting, thanks for the added input @melissaburpo

You are indeed seeing the same error that we are.  Does OSQuery ack the action right away or wait for the query to complete?

[2021-07-13 21:58] lukasolson commented on #104404
Hmm, looks like it's still being shown to me:

![image](https://user-images.githubusercontent.com/1178348/125530684-d0b12cb2-5893-4c79-929f-b50891fce013.png)

This is only available in Gold+ license.

[2021-07-13 21:58] #104404 closed

[2021-07-13 22:04] ghudgins opened #105518 "[Lens] Filters agg KQL dialog can stack"
**Kibana version:** 7.14 BC

**Elasticsearch version:** 7.14 BC

**Browser version:** Chominium Edge 91

**Browser OS version:** OSX 11.4

**Original install method (e.g. download page, yum, from source, etc.):** Local: `yarn start` / `yarn es snapshot`

**Describe the bug:** Attempting to open multiple Filters results in the windows stacking open

**Steps to reproduce:**
1. Create a filters aggre

[2021-07-13 22:04] elasticmachine commented on #105518
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-13 22:05] #104208 closed

[2021-07-13 22:12] elastic-jb opened #105521 "[Runtime Fields] UX: Editor in-product documentation consistent with new Lens formula function documentation"
The Lens formula feature comes with a slick inline-documentation of all available functions, accessible in a popover help menu inside of the Lens editor. The Lens team would like to [broaden the use of this capability](https://github.com/elastic/kibana/issues/103248) and this UX fills an existing need to improve the documentation experience for users new to Painless.

Use Cases
- suggest functions

[2021-07-13 22:12] elasticmachine commented on #105521
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-13 22:16] aaronjcaldwell commented on #105282
Thanks for the feedback @cchaos, @MichaelMarcialis! All makes sense to me. Closing the issue!

[2021-07-13 22:16] #105282 closed

[2021-07-13 22:21] tsullivan commented on #69390
I'm in huge favor of this idea.

cc @ppisljar for awareness

[2021-07-13 22:33] ryankeairns commented on #105120
I was able to reproduce this and I don’t think the zoom step was necessary. Further, I was able to reproduce this in the EUI basic table docs, as well.

Basically, some fairly rapid, up and down mouse movement can produce the result.

[2021-07-13 22:50] marcelvarallo-leidos opened #105526 "Flag a webhook Alert as low priority during a maintenance window"
**Describe the feature:**
A switch or checkbox to flag any new Alerts of that type as being maintenance related.

**Describe a specific use case for the feature:**
During normal operation an Alert (a heartbeat alert for example) will use a webhook action to create a High severity incident with our ticketing system.  When we're doing maintenance on those servers, I'd like to be able to flag these a

[2021-07-13 22:51] marcelvarallo-leidos commented on #105377
Thank you! Didn't realise that was there.  Off to do more training for me I think

[2021-07-13 23:08] lcawl commented on #101344
I was able to reproduce just now on the latest 7.13 build.

[2021-07-13 23:39] vigneshshanmugam opened #105529 "[Uptime] waterfall chart network timing sequence is incorrect"
Waterfall char represents the network activity and distributes the total duration in to multiple events like DNS, TCP, SSL, Waiting and content downloading. The sequence of the request must go from

Blocked/Queued -> DNS -> TCP -> TLS/SSL (HTTPS) -> Waiting -> Download

Found a bug where this sequence was incorrect one of the performance breakdown chart.

<img width="1166" alt="Screen Shot 2021-07

[2021-07-13 23:39] elasticmachine commented on #105529
Pinging @elastic/uptime (Team:uptime)

[2021-07-13 23:51] s-nel opened #105530 "Show timezone on all timestamps"
**Describe the feature:**

Currently in Kibana and APM it's unclear what timezone dates and times are being rendered using. It makes it harder to browse and correlate events across different systems.

<img width="1111" alt="Screen Shot 2021-07-14 at 11 37 27 AM" src="https://user-images.githubusercontent.com/504326/125539165-9a622fdb-f61f-49b6-bb23-d29dc44619b5.png">

Please change all date labels

[2021-07-13 23:55] s-nel commented on #105530
Closing, I found the setting that controls the date format 🤦

[2021-07-13 23:55] #105530 closed

[2021-07-14 00:46] LeeDr opened #105532 "Fleet agent screen refers to "Elasticsearch policy" should be "Elasticsearch configuration""
**Kibana version:** 7.14.0

**Describe the bug:** If you don't have security enabled and/or don't have `xpack.security.authc.api_key.enabled` set to true in your Elasticsearch configuration you will see this dialog in Kibana.
It says `In your Elasticsearch policy, enable:`
But should say something more along these lines `In your Elasticsearch configuration (elasticsearch.yml), enable:`

**Steps to

[2021-07-14 00:46] elasticmachine commented on #105532
Pinging @elastic/fleet (Feature:Fleet)

[2021-07-14 00:46] elasticmachine commented on #105532
Pinging @elastic/fleet (Team:Fleet)

[2021-07-14 02:35] smith commented on #104427
* [X] this step cannot be reverted

|||
| :---: | :---: |
|![CleanShot 2021-07-13 at 21 23 07@2x](https://user-images.githubusercontent.com/9912/125550779-69deb2f9-dd1b-4d84-b940-dac28eaf4206.png)|![CleanShot 2021-07-13 at 21 24 33@2x](https://user-images.githubusercontent.com/9912/125550859-2ff32cd5-b515-4d40-8f19-fb3517d4bc1e.png)|

* [X] the migration impacts how to configure apm-server and the

[2021-07-14 04:38] ppisljar commented on #69390
why not use sreenshotMode service inside embeddables ?

[2021-07-14 05:02] kirubaaws opened #105539 "Label Implementation request in Kibana Dashboard"
**Describe the feature**:
we are able to populate the Table but we are not able to add a custome label to it

Eg                    field1      count
         Lable1     1d           10
         Label2     1w           10
         Label3      1m          10

Note: I am not able to add the labels to the existing Kibana dashboard. Could you kindly implement and do the needful.
If it is already imple

[2021-07-14 05:19] #105469 closed

[2021-07-14 05:59] kibanamachine opened #105542 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/advanced_job·ts - machine learning anomaly detection advanced job with categorization detector and default datafeed settings job creation runs the job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15369/)

[2021-07-14 06:28] sabarasaba opened #105543 "[Graph] Adding many fields can result in the CTA to go off the screen"
**Describe the bug:**

Upon adding many fields into the graph, at some point the `add field` cta will go offscreen and you wont be able to add any more.

<img width="1440" alt="Screenshot 2021-07-14 at 09 12 43" src="https://user-images.githubusercontent.com/1191206/125572114-ce104fcb-196d-4145-ac80-4302605710dc.png">

Can reproduce on Chrome and Edge.

**Steps to reproduce:**
1. Create a graph
2.

[2021-07-14 06:28] elasticmachine commented on #105543
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-14 06:55] mgiota commented on #105227
@XavierM There's still one more requirement for this issue `Units in the "duration" column are abbreviated in a useful way.`. Are you aware of something I could reuse here?

[2021-07-14 06:59] mshustov commented on #105439
I've created https://github.com/elastic/kibana/issues/66366 to enforce separation between the lifecycles,  but we've never had time to work on it. Should we move this discussion to https://github.com/elastic/kibana/issues/66366?

Let us know what we can improve in the lifecycle docs https://www.elastic.co/guide/en/kibana/current/kibana-platform-plugin-api.html#plugin-lifecycles
It doesn't contain

[2021-07-14 07:01] delvedor commented on #97604
This is not a http error, the timeout happens on the socket and the error is triggered by the client and not Elasticsearch. Thus, mapping to a 500/408 would not be correct :)

[2021-07-14 07:26] patriczek opened #105544 "[Alerting UI] Allow editing alerting rules"
**Describe the feature:**
I'd like to have an option, how to edit alerting rules. For now, I have to delete the old one and create a new one.

**Describe a specific use case for the feature:**
I'm trying to set up alerts based on APM errors and every time I want to change the setting (for eg. in the case of experiments.), there isn't any option how easy edit my alert setting.

[2021-07-14 07:30] mshustov commented on #105039
@pgayvallet Should we extend the scope with `on read` validation as we proposed in the `SO-migV2-summary` doc?

[2021-07-14 07:40] marshallmain commented on #100103
This is very similar to the desire for existing detection rules that query `.siem-signals` to continue working without requiring the rule to be updated, and can be solved with the same implementation. We'll want to be able to add an additional alias to security solution alerts-as-data indices when they are created so that queries against `.siem-signals` will find the alerts as data indices as well

[2021-07-14 07:40] deepikakeshav-qasource opened #105545 "[Security Solution] User navigate to overview page instead of All Rules page when delete the rule from rule details page."
**Describe the bug**
User navigate to overview page instead of All Rules page when delete the rule from rule details page.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2. Endpoint should be installed.
3. any rule should be created

**Steps to Reproduce**
1. Go to Rules tab of Security App.
2. Click on created ru

[2021-07-14 07:40] elasticmachine commented on #105545
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 07:40] deepikakeshav-qasource commented on #105545
@manishgupta-qasource Please review!!

[2021-07-14 07:41] timroes commented on #105416
Reopening. After talking [offline a bit](https://elastic.slack.com/archives/C1QP2S6FM/p1626175021152800) (Internal Slack link), there seem to be different behaviors across different Linux distributions at least we're seeing different behaviors using the same browser. This might be worth investigating more.

[2021-07-14 07:41] elasticmachine commented on #105416
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-14 07:54] muskangulati-qasource opened #105546 "[Security Solution] The notification shows the Host Release message header as host Isolation"
**Describe the feature**
The notification shows the Host Release message header as host Isolation

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Endpoint Tab
2. Isolate the endpoint & then release the endpoint
3. Observe the notifications

**Test data**
N/A

**Impacted Test case(s)**
N/A

**Actual Result**

[2021-07-14 07:54] elasticmachine commented on #105546
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-14 07:54] elasticmachine commented on #105546
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 07:54] muskangulati-qasource opened #105547 "[Security Solution] Error messages colours are not consistent for hash and path for Trusted Applications"
**Describe the feature**
Error messages colours are not consistent for hash and path for Trusted Applications

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Trusted Applications under Security
2. Add wrong values for Hash & Path
3. Observe the error messages are formatted with different colours

**Test data

[2021-07-14 07:54] elasticmachine commented on #105547
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-14 07:54] elasticmachine commented on #105547
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 07:54] muskangulati-qasource commented on #105546
@manishgupta-qasource please review!

[2021-07-14 07:54] muskangulati-qasource commented on #105547
@manishgupta-qasource please review!

[2021-07-14 08:01] elasticmachine commented on #105545
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-14 08:09] pgayvallet commented on #105039
For empty ids, any read attempt currently leads to an error when converting the raw doc.

I would be very in favor of defining an actual allowed character set for ids (allowing the full UTF-8 range in what is supposed to be a technical ID is an aberration in my opinion), and if we do, starting by logging warnings on read would probably be the way to go, however AFAIK, these ids are not only techni

[2021-07-14 08:19] dasansol92 commented on #105547
Hi @muskangulati-qasource , I think this is expected as the path message is a `soft warning` and shouldn't block the user to save it. For the hash message, it is red because is an error and the user can't save that trusted app.
Related issue: https://github.com/elastic/security-team/issues/315

[2021-07-14 08:22] shahzad31 opened #105548 "[User Experience App] Filters duplicates results on search"
We refactored UX app filters in https://github.com/elastic/kibana/issues/100867

if we search for filters, it duplicates the results

it should only show relevant results on search

![image](https://user-images.githubusercontent.com/3505601/125588735-d2dbbd9f-3798-47ea-b66f-6fc0c7493c37.png)

[2021-07-14 08:22] shahzad31 commented on #100867
@justinkambic i found one bug, if you search for filter, it replicates results

created an issue https://github.com/elastic/kibana/issues/105548

![image](https://user-images.githubusercontent.com/3505601/125588735-d2dbbd9f-3798-47ea-b66f-6fc0c7493c37.png)

[2021-07-14 08:29] mshustov commented on #105039
We can encode `user-inputted` values to make sure only valid UTF-8 characters present.

[2021-07-14 08:33] darnautov commented on #105262
Actually, this bug affects app usage telemetry because the last page visited on the ML app won't be reported. When `TrackApplicationViewComponent` tries to flush the view, the current app id is already changed to the target app, so instead of the `ml` app with `jobs_list` view, `flushTrackedView` attempts to use, for instance, `maps` with `job_list`.

[2021-07-14 08:38] manishgupta-qasource commented on #105545
Reviewed this issue

[2021-07-14 08:40] manishgupta-qasource commented on #105547
Reviewed & Assigned to @kevinlog

[2021-07-14 08:44] jgowdyelastic commented on #105254
@aaronjcaldwell thanks for the additional information, i'm still not able to reproduce on master or 7.14 when using Firefox.
Can you confirm that you're using a basic license, as it appears that way from the screenshots.

[2021-07-14 08:52] estermv commented on #105201
This test scenario was for a specific fix done for 7.10. If at some point the bug appears again, we can add the specific configuration and run the existing tests with this configuration.

[2021-07-14 08:52] #105201 closed

[2021-07-14 08:53] paulb-elastic commented on #77959
Having discussed it in the team, the plan will be to use the filter component we have in the User Experience dashboard and port it to the Uptime app that will actually execute search queries against ES and display the results (and not be limited to 10).

[2021-07-14 08:59] pgayvallet commented on #105039
The storage is not really the issue. ES supports that properly. it's more that imho a technical id is plain ascii, and that we discovered that what we call 'id` is effectively used as name or functional id, which seems like quite a poor design

[2021-07-14 09:32] estermv opened #105556 "[Stack monitoring] Create functiontal tests for cloud"
There are some features that are different in a cloud deployment, like the messaging when there is no data available. There are some issues already to work on this:

* https://github.com/elastic/kibana/issues/31017
* https://github.com/elastic/kibana/issues/31018
* https://github.com/elastic/kibana/issues/31019
* https://github.com/elastic/kibana/issues/31020

If it's too difficult to enable/creat

[2021-07-14 09:32] elasticmachine commented on #105556
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-14 09:32] estermv commented on #105194
Closing this since there is a task to add functional tests https://github.com/elastic/kibana/issues/105556

[2021-07-14 09:32] #105194 closed

[2021-07-14 09:41] estermv commented on #105192
I don't think we need functional tests for this. If at some point bugs appear for this feature, we can add the specific configuration and run the existing tests with this configuration.

[2021-07-14 09:41] #105192 closed

[2021-07-14 09:42] mshustov opened #105557 "Gracefully handle elasticsearch client version check"
https://github.com/elastic/elasticsearch-js/pull/1487 in `@elastic/elasticsearch` client adds a check to make sure it's connected to the Elasticsearch server. While Kibana verifies compatibility the current Kibana version with Elasticsearch version https://github.com/elastic/kibana/blob/ef6b84dfa544a4677e1a33e911ef484979b5af17/src/core/server/elasticsearch/version_check/ensure_es_version.ts#L142

[2021-07-14 09:42] elasticmachine commented on #105557
Pinging @elastic/kibana-core (Team:Core)

[2021-07-14 09:43] elasticmachine commented on #105542
Pinging @elastic/ml-ui (:ml)

[2021-07-14 09:50] estermv commented on #105191
Closing this although I don't think we can cover this with functional tests because we will need to stop the kibana server, change the configuration for a specific test and then start the server again. We can cover this with unit tests

[2021-07-14 09:50] #105191 closed

[2021-07-14 09:52] #98263 closed

[2021-07-14 10:01] Flixi555 commented on #17879
Make the elastic logo on the top left exchangeable for a custom one and I think most customers will be happy.

[2021-07-14 10:05] timroes commented on #62892
Duplicate of https://github.com/elastic/kibana/issues/104903

_I am closing this older issue, just to make clear it's still a problem._

[2021-07-14 10:05] #62892 closed

[2021-07-14 10:13] timroes commented on #56375
It's not really clear to me given the state this issue is in at the moment, what's the state and if there's still work expected. It seems like the described issue here is fixed, but there might be other "related" issues? I'll go ahead and close this for now, and please feel free to reopen it and update with a clear description what's failing or open new issues if there are other related issues.

[2021-07-14 10:13] #56375 closed

[2021-07-14 10:13] xcrzx commented on #101016
### 1. Index name creation & update logic
Currently, index name creation and update logic is split into two pieces.

[`rule_registry/server/rule_data_client/index.ts`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/rule_registry/server/rule_data_client/index.ts#L123) contains index name creation logic:
[code]

[`rule_registry/server/rule_data_plugin_service/utils.ts`](https://github.

[2021-07-14 10:17] timroes commented on #104330
I agree with Joe. We need to fetch different data for the chart than we need for the documents. We're also about to [split those queries](https://github.com/elastic/kibana/issues/69134) completely apart. So I think this is correct behavior since we're switching the queries that should be done. Closing this for now, but please feel to reopen in case I've missunderstood how search sessions should be

[2021-07-14 10:17] #104330 closed

[2021-07-14 10:18] #103083 closed

[2021-07-14 10:23] amolnater-qasource opened #105564 "[Enhancement] [Fleet]: Extra "View Agent" button with same functionality of navigating to Agent details page."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. An agent must be installed using Default policy.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and click on any Agent, observe user is navigated

[2021-07-14 10:23] elasticmachine commented on #105564
Pinging @elastic/fleet (Team:Fleet)

[2021-07-14 10:23] gmmorris commented on #101582
First of all - I LOVE the level of details, thanks @ymao1 :elasticheart:

I have a couple of questions before I can choose a preferred approach.

1. regarding **option (2)**: You wrote "they would have to delete their rules and connectors in order to finish the upgrade." - do they actually have this option in the Upgrade Assistant? How do they do this?
2. regarding **option (3)**:  ESO migrations

[2021-07-14 10:24] amolnater-qasource commented on #105564
@manishgupta-qasource Please review.

[2021-07-14 10:27] timroes commented on #103010
We actually DO change that setting technically without any problems. The point is, that we're removing settings that might have an effect on how that Kibana behaves (in this case where we need it, because we remove the legacy chart implementations, that they are still using). So in terms of make-it-minor and making breaking changes and removing stuff like that in a minor version, we feel it's best

[2021-07-14 10:42] estermv opened #105565 "[Metrics UI] Add functional tests for Inventory view"
There are some functional tests for the Inventory view that checks that the waffle map loads and has tooltips. To complete the functional tests we should add:
- [ ] Change some filters and verify that the waffle map gets updated
- [X] Add some query in the search bar and verify that the waffle map gets updated ([#116868](https://github.com/elastic/kibana/pull/116868))
- [X] Verify that the waffle

[2021-07-14 10:42] elasticmachine commented on #105565
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-14 10:44] muskangulati-qasource opened #105566 "[Security Solution] For the gold license on 7.14.0, we get error message pop-ups if we navigate to the alerts tab"
**Describe the feature**
For the gold license on 7.14.0, we get error message pop-ups if we navigate to the alerts tab

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Get a gold license

**Steps to Reproduce**
1. Downgrade the license to gold/basic
2. Navigate to alerts tab
3. Observe error pop-up

**Test data**
N/A

**Impacted Test case(s)**
N/A

[2021-07-14 10:44] elasticmachine commented on #105566
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 10:44] muskangulati-qasource opened #105567 "[Security Solution] For gold license, we get error messages for host isolation in alert details flyout"
**Describe the feature**
For gold license, we get error messages for host isolation in alert details flyout

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Get a gold license

**Steps to Reproduce**
1. Navigate to the Alerts Tab
2. Click on the '>' icon for an endpoint alert
3. Observe the error notification pop-ups for the isolation status that s

[2021-07-14 10:44] elasticmachine commented on #105567
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-14 10:44] elasticmachine commented on #105567
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 10:44] muskangulati-qasource opened #105568 "[Question] Host isolation/release process for a gold license"
**Describe the question**
As per AC, we don't have a host isolation feature for gold or basic licenses.

We isolated on platinum license and then changed the license to gold. We were able to release the endpoint.

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.
2. Isolate a windows endpoint

**Steps to Reproduce**
1. Change the license from platinum t

[2021-07-14 10:44] elasticmachine commented on #105568
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-14 10:44] muskangulati-qasource commented on #105566
@manishgupta-qasource please review!

[2021-07-14 10:44] muskangulati-qasource commented on #105567
@manishgupta-qasource please review!

[2021-07-14 10:44] muskangulati-qasource commented on #105568
@manishgupta-qasource please review!

[2021-07-14 10:45] estermv commented on #104648
Some of these points can be tested by unit tests. For other use cases, there is a ticket to add functional tests https://github.com/elastic/kibana/issues/105565

[2021-07-14 10:45] #104648 closed

[2021-07-14 10:45] manishgupta-qasource commented on #105564
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-14 10:47] ppisljar commented on #103062
i would suggest something like this:

[code]

if range.from === range.to then its a simple click

- [ ] update the type of VALUE_CLICK_TRIGGER context
- [ ] update value_click action to work with the new type
- [ ] update all current usages of VALUE_CLICK_TRIGGER with correct context
- [ ] update all current usages of RANGE_SELECT_TRIGGER to rather use new VALUE_CLICK_TRIGGER
- [ ] remove RANGE_SE

[2021-07-14 10:50] estermv opened #105569 "[Metrics UI] Add functional test for Inventory saved views"
Add functional tests for the following use cases:

* Verify that the "Default view" is selected when there is no state on the url
* Verify that a view can be saved
* Verify that a view can be loaded
* Verify that you can star a view
* Verify that a view can be deleted
* Verify that a starred view show up when there is no state on the URL

**NOTE**: this is not an exhaustive list of what needs to b

[2021-07-14 10:50] elasticmachine commented on #105569
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-14 10:57] jsanz opened #105570 "[Ingest Pipelines] Can't update a processor"
**Kibana version:**
7.14.0-SNAPSHOT

**Browser version:**
`Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)`

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Staging cloud

**Describe the bug:**
Once a processor is created, changing it is allowed in the UI but failing.

**Steps to reproduce:**
1. Create a new pipeline

[2021-07-14 10:57] elasticmachine commented on #105570
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-14 11:03] muskangulati-qasource commented on #105568
Closing it as is expected!

[2021-07-14 11:03] #105568 closed

[2021-07-14 11:04] peteharverson commented on #101344
The issue with cloning the job is an unrelated issue, where the clone will fail if the job `description` field is missing. It can also be reproduced it in the advanced wizard by editing the json. This will be fixed in a separate PR cc @jgowdyelastic

[2021-07-14 11:06] manishgupta-qasource commented on #105566
Reviewed & Assigned to @MadameSheema

[2021-07-14 11:07] muskangulati-qasource commented on #105547
@dasansol92,

Thank you for the information. We are closing this ticket as is expected!

[2021-07-14 11:07] #105547 closed

[2021-07-14 11:07] manishgupta-qasource commented on #105567
Reviewed & Assigned to @kevinlog

[2021-07-14 11:10] gmmorris commented on #55340
I spoke to @mikecote and we feel this issue can remain open as it raises the more fundamental question of why these tasks remain as a failed task at all rather than closed at the time?
We should look into a process that no longer necessitates leaving these failed tasks behind (such as Event Log based record which enables us to handle/recreate them if needed)

[2021-07-14 11:14] gmmorris commented on #18375
@arisonl Can you please assess whether we need an Alerting framework level "clone rule" functionality?
I'd like to split Watcher issues from Kibana Alerting issues to make it easier for the two teams to prioritise as needed. :)

[2021-07-14 11:16] deepikakeshav-qasource opened #105573 "[Security Solution] "threat.indicator.matched.type" field is displayed as "indicator_match_rule" value for threat indicator Rule."
**Describe the bug**
threat.indicator.matched.type field is displayed as "indicator_match_rule" value for threat indicator Rule.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2. Filebeat should be installed.

**Steps to Reproduce**
1. Navigate to Dev tools add the following:
<details><summary>Create an index</sum

[2021-07-14 11:16] elasticmachine commented on #105573
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 11:16] deepikakeshav-qasource commented on #105573
@manishgupta-qasource Please review!!

[2021-07-14 11:26] #102722 closed

[2021-07-14 11:28] arisonl opened #105575 "Inconsistent terminology in the Saved Objects UX"
Rules and connectors appear as such in the Saved Objects view (under Stack Management) but the corresponding filter UI option refers to them with the old terminology: as alerts and actions. We need to update the filter to current terminology:

---

<img width="669" alt="Screenshot 2021-07-14 at 14 22 53" src="https://user-images.githubusercontent.com/5412240/125614324-a36ec1be-0493-4c91-a87f-e6386

[2021-07-14 11:28] elasticmachine commented on #105575
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-14 11:33] peteharverson commented on #101344
I can reproduce this on latest master too, and for me seems to be caused by the value of the `detector_description` field.

If the detector description is one of these for example, the maps do not plot points
 - Unusual coordinates by user
 - lat long for geoip.location

But if I edit the detector description to one of these, the points do show up
- lat_long("geoip.location") by user
- lat_long("g

[2021-07-14 11:33] sebelga commented on #98151
I am currently testing the runtime field in Discover and I was surprised to delete the runtime field and still see it in the field list. I would expect it to disappear once I delete it (isn't that a default behaviour after deleting an item?)

In the screenshot below "aLastName" was deleted (from Discover itself) but I still see it in the selected fields and it appears in the table.

<img width="63

[2021-07-14 11:36] sunj1 opened #105577 "Query not updated as per value in URL"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:**
I have created a visualization in kibana and saved it.
I am now trying to change the url using script to generate different filters for my visualization.
But the newly generated url is unable to show any output chart.
I used "Inspect" f

[2021-07-14 11:36] felix-lessoer opened #105578 "[Maps] runtime field not working in filter"
**Kibana version:**
7.13.2

**Elasticsearch version:**
7.13.2

**Server OS version:**
Elastic Cloud

**Browser version:**
Latest Chrome

**Browser OS version:**
Latest Chrome

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**
Trying to filter for a runtime field within the maps app leads to zero results.
Same filter works in Discover.

*

[2021-07-14 11:37] kibanamachine commented on #93188
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15517/)

[2021-07-14 11:39] mikecote commented on #99444
This issue didn't make it part of the 7.15 planning. @YulNaumenko, how much effort is left before resolving this? We are planning to move this to the backlog for now.

[2021-07-14 11:40] Mpdreamz commented on #82020
We've internally chased some of the options to at least make it easier to have a local Elasticsearch instance take ownership of CCS but that sadly looks like it will be more involved, still hard to setup and keep up to date with cycling server CA certificates to be a viable alternative.

I am very conflicted about this one:

* I fully empathize and agree that locking down the kibana index is the w

[2021-07-14 11:43] gmmorris commented on #77549
I'd like to make sure this doesn't go stale :) - ideally we either agree it *is* a problem and decide whether it requires effort by Alerting / EUI, or we agree it's a non-issue and close it.

@cchaos - reading through the thread it sounds like it could be considered an EUI enhancement request, would you agree? Can we reroute this issue to become an EUI ER?

[2021-07-14 11:43] #105174 closed

[2021-07-14 11:44] #102495 closed

[2021-07-14 11:47] elasticmachine commented on #105566
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-14 11:53] ymao1 commented on #101582
I am unfamiliar with Upgrade Assistant. I have seen other (non alerting) cases where failed migrations cause upgrade failures and the suggestion is to delete the bad SO. Is that typically done through Upgrade Assistant?

Very interested in opinions from @elastic/kibana-security on this issue! I think the work would happen in the Alerting code, where we catch the decryption error. Currently now, in

[2021-07-14 11:58] dikshachauhan-qasource opened #105581 "refresh icon is displayed instead of + icon on Add integration button under Policy detail page."
**Kibana version:** 7.14 BC2 Kibana Cloud-Prod environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC2 Kibana Cloud-Prod environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Policy tab.
	- Click on Default policy.
	- Observe, refresh icon is displayed instead of + icon on Add integrati

[2021-07-14 11:58] elasticmachine commented on #105581
Pinging @elastic/fleet (Team:Fleet)

[2021-07-14 11:59] dikshachauhan-qasource commented on #105581
@manishgupta-qasource Please review

[2021-07-14 11:59] jloleysens commented on #97604
Ah OK, that makes sense. Perhaps the the best way to handle this is just to return 500 + error message to the Kibana client (in the browser), as we do currently.

An improvement could be to detect `instanceof` timeout error and map the status code to  `408` in the Kibana server and send _that_ back to the client.

I'm going to close this for now since @delvedor provided clarity on where this is ha

[2021-07-14 11:59] #97604 closed

[2021-07-14 12:06] Heurazio opened #105584 "Integration of Kibana Canvas into Angular application"
Hi,

Right now we have a PoC running to integrate Kibana into our Angular application.

We store documents in elastic and created some visuals. We also have a "main application" (Angular) which our users use. Now we like to integrate the visuals into our application instead of writing all of them on our own.

When using IFRAMEs, we faced the problem that there are problems with the OIDC connection

[2021-07-14 12:08] kpollich commented on #105581
This was an intentional change made based on new designs: https://www.figma.com/proto/G3jnu6rub6x8YExOfTWoO9/Integrations-UI-%2B-Fleet?node-id=963%3A13457&scaling=min-zoom

[2021-07-14 12:08] manishgupta-qasource commented on #105573
Reviewed & Assigned to @MadameSheema

[2021-07-14 12:08] shahzad31 commented on #103090
Test plan looks good on dev cluster !!

[2021-07-14 12:09] afgomez opened #105585 "[Fleet] Remove "beta" from the fleet blocks in the observability overview page"
Fleet goes GA in 7.14, so the beta labeling is no longer relevant

<img width="1762" alt="Screenshot 2021-07-14 at 14 05 33" src="https://user-images.githubusercontent.com/57448/125619357-4b31cbec-383a-46ba-84dc-500561a98365.png">

[2021-07-14 12:09] elasticmachine commented on #105585
Pinging @elastic/fleet (Team:Fleet)

[2021-07-14 12:13] dikshachauhan-qasource commented on #105581
Hi @kpollich

Thanks for confirming. We are closing this out.

[2021-07-14 12:13] #105581 closed

[2021-07-14 12:13] elasticmachine commented on #105578
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 12:19] neptunian commented on #104440
@estermv @neptunian Thanks for testing!  I was able to reproduce the Nodes Changed alert, but similarly it appeared in a very short window.  So I think if was set to only check once a day or something you'd see the alert for longer, but then I'm not sure how long you'd have to wait to see the alert for the first time.

[2021-07-14 12:20] #105103 closed

[2021-07-14 12:26] kevinlog commented on #105567
@muskangulati-qasource This should be fixed in BC3 - can you test again when that's available?

[2021-07-14 12:28] blakerouse commented on #105480
To Fleet Server we determine that another Fleet Server is offline if it has not updated its `@timestamp` in `.fleet-server` for more than 30 seconds. A Fleet Server must keep that timestamp updated while running or it will lose any current leadership it might hold across the policies in the deployment.

Would using that work?

[2021-07-14 12:29] kevinlog commented on #105566
Talked to @muskangulati-qasource offline and updated the steps to reproduce.  Assigning this back to @MadameSheema for now since this isn't specific to the Host Isolation feature.

[2021-07-14 12:30] kevinlog commented on #105546
@caitlinbetz @bradenlpreston - should the Notification on the Endpoint be updated?

@ferullo @nfritts fyi

[2021-07-14 12:33] ferullo commented on #105546
I agree with Kevin, we'll change the message header and text to anything Caitlin or Braden ask. Until we get guidance from them, we'll leave this as is.

[2021-07-14 12:36] melissaburpo commented on #105477
I'm not sure @kevinlog. I suspect @aleksmaus may be best able to answer that, but maybe someone else on the @elastic/security-asset-management team can confirm.

[2021-07-14 12:51] MadameSheema commented on #105573
@ecezalp @rylnd can you please take a look at this? thanks :)

[2021-07-14 12:55] mikecote commented on #101582
Writing some thoughts below on what my current thinking is.

I realized we do want to prevent Kibana from starting in these kinds of situations with https://github.com/elastic/kibana/issues/92654. My thinking here is that **option (2)** is similar to that direction. Especially since the check created in https://github.com/elastic/kibana/issues/92654 would only happen after an upgrade.

If we go wi

[2021-07-14 12:56] thomasneirynck opened #105594 "[Maps] Should link to license app"
**Describe the feature:**

When Maps flags that a disabled feature is only for Gold+ users, it should provide a link to the License management-app.

e.g. the disabled Tracks-card should show a link to the license-management page so the user can immediately perform the upgrade.

**Describe a specific use case for the feature:**

Reduce the time to get started with features.

[2021-07-14 12:56] elasticmachine commented on #105594
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 12:59] thomasneirynck opened #105595 "[Maps] Should be able to fit to timerange of layer-data"
**Describe the feature:**

One of the layer-actions should be something like "Expand time-selection range to data". Clicking this would change the global time-range to the time-range of the data in the layer.

**Describe a specific use case for the feature:**

This would be similar like the fit2bounds button. But rather than adjusting the extent of the map, it extends/shrinks the global time picke

[2021-07-14 12:59] elasticmachine commented on #105595
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 13:01] joshdover commented on #96106
In addition to adding this to the healthcheck in 8.0, we should add an Upgrade Assistant deprecation warning in 7.x that executes the same test.

[2021-07-14 13:02] thomasneirynck opened #105596 "[Maps] Should be able to zoom-in on selected range of timeslider"
**Describe the feature:**

The timeslider is really useful to select a custom time-range.

It would be useful to have e a slider-action that allows to "zoom-in" on the selected timeslice

![image](https://user-images.githubusercontent.com/1833023/125626436-990fd1c2-9a6d-4f83-ab5e-699a0aecd313.png)

^ some sort of action to "zoom in" on the Oct26->Aug22" timeslice selection

**Implementation:**
* A

[2021-07-14 13:02] elasticmachine commented on #105596
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 13:08] thomasneirynck opened #105597 "[Maps] Timeslider overlaps with close button of layer settings panel"
**Kibana version:**

master, 7.14

**Browser version:**

Chrome

**Describe the bug:**

If the screensize is small, the timeslider overlays the "close/cancel" button of the layer-settings.

The user cannot close the layer-settings without either
- expanding the screensize
- closing the timeslider

**Steps to reproduce:**
1. Make screensize small
2. open layer-settings for layer
3. open timeslider

[2021-07-14 13:08] elasticmachine commented on #105597
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 13:10] gmmorris commented on #75863
Thanks @mdefazio .

In that case, I don't think there's anything here for the Alerting team to do. Am I right @mikecote and @shahzad31 ?

[2021-07-14 13:13] thomasneirynck opened #105598 "[Maps] The default behavior of a top hits layer with time-sorting clashes with active timeslider"
A top-hits layer is most often used to show last-known location within the time-range.

The timeslider adds a more narrow filter to the global time-range.

This causes last-known data-points to "get lost" as users move the timeslider. It's really hard to explain what/why this is going on.

A more intuitive behavior for last-known top-hits layer would be to use the start of the global time-range, a

[2021-07-14 13:13] elasticmachine commented on #105598
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 13:15] sunj1 commented on #11654
I have a visualization (heatmap) where the no. of columns change based on the filters used.
When there are more number of columns, then the labels get hidden due to less width of the browser window.
If I increase the width of browser manually, then there is too much blank space if the filters result in less no. of columns.
It would be helpful if the width can auto-adjust to display labels on each

[2021-07-14 13:17] thomasneirynck opened #105599 "[Maps] Docs with empty entity ids for tracks or top-hits layers should be filtered out"
Creating "entity-based" layers, such as with the tracks-layer or top-hits layer, create a lot of junk on the map when the `entity`-field is sparse in the underlying data.

e.g. with tracks, you would get a lot of crisscrossing lines.

A user can manually filter this out by adding a filter

![image](https://user-images.githubusercontent.com/1833023/125628315-9162f4c9-a7da-4bab-9fae-c267a7509cf0.png

[2021-07-14 13:17] elasticmachine commented on #105599
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 13:19] thomasneirynck opened #105600 "[Maps] Tracks layer crashes on large data"
Large datasets with millions of GPS points and thousands of entities can cause the Elasticsearch `geo_line` aggregation to crash. This spams Kibana with shard-errors.

![image](https://user-images.githubusercontent.com/1833023/125628872-398f97e6-64cd-4336-9bdc-6ff1d86f3635.png)

[2021-07-14 13:19] elasticmachine commented on #105600
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-14 13:24] nreese commented on #105596
Would users be able to do this by hitting the current "fit to bounds" button or turning on auto fit to bounds?

[2021-07-14 13:40] #99150 closed

[2021-07-14 13:43] stephmilovic commented on #87022
@karanbirsingh-qasource could you please confirm if this is still a bug? We had done a lot of work on reducing the size of that header, but admittedly have not tested on Windows.

[2021-07-14 13:44] simitt opened #105603 "[Fleet] Set default settings in component template instead of default template"
**Kibana version:** 7.14.0

**Describe the bug:**
Fleet installs a custom component template and default component templates for settings and mappings if defined in the package. However, the created `index_template` always contains index settings for the `refresh_interval`, `number_of_shards`, and some others.
Settings defined in an index template can not be overwritten by component templates (see

[2021-07-14 13:44] elasticmachine commented on #105603
Pinging @elastic/fleet (Team:Fleet)

[2021-07-14 13:45] simitt commented on #105603
@jen-huang while I labeled this a bug for `7.14`, it is not a problem for APM right now (will be in `7.15` though); please relabel if this better fits into `7.15`.

[2021-07-14 13:46] stephmilovic commented on #105424
The timeline is not a page, it is a flyout on top of the page. So in your video, the current page is Overview, the last page you were at was Admin. The browser's back button works as expected.

[2021-07-14 13:47] #85771 closed

[2021-07-14 13:48] kevinlog opened #105604 "[Security Solution] Deployment without Fleet/APM enabled causes 404's on "endpoint:user-artifact-manifest:endpoint-manifest-v1" request"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When a user configures a cloud instance that does not include Fleet/APM, they can see 404 messages for `/.kibana_7.13.0/_doc/endpoint:user-artifact-manifest:endpoint-manifest-v1` in proxy logs.

**Steps to reproduce:**
1. Spin up a 7.13 c

[2021-07-14 13:48] elasticmachine commented on #105604
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-14 13:48] elasticmachine commented on #105604
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-14 13:49] kobelb commented on #82020
It's not feasible to use Spaces for developer segmentation. There are a number of subsystems within Kibana that aren't segmented by Space and it would lead to conflicts for developers. For example, if developer A was to add a new saved-object type and developer B doesn't have this saved-object type, this would break developer B's Kibana from starting up.

All default tenants of Kibana that share a

[2021-07-14 13:49] ruflin commented on #105603
This also ties into https://github.com/elastic/kibana/issues/104620, we might not need most of these settings. Lets push this to 7.15.

[2021-07-14 13:50] elasticmachine commented on #105271
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-14 13:55] stephmilovic commented on #104581
Reviewing this as a team, and we do not have the bandwidth to add this enhancement in 7.14. For 7.15 we planned to add an "Investigate in timeline" action 👍

[2021-07-14 13:59] stephmilovic commented on #104276
This is not the Security Solution team's component. We believe this is owned by @elastic/kibana-app-services or @chandlerprall 's team (sorry bud, couldn't find eui tag)

[2021-07-14 14:01] stephmilovic commented on #89966
Please retest since navigation enhancements have been made (7.14)

[2021-07-14 14:01] mikecote commented on #75863
++ I don't think there's anything here from alerting side.

[2021-07-14 14:07] aaronjcaldwell commented on #105254
@jgowdyelastic Yes, can confirm I was using a basic license in all attempts.

[2021-07-14 14:28] #105310 closed

[2021-07-14 14:31] #105532 closed

[2021-07-14 14:32] gmmorris commented on #78981
After chatting with @mikecote I'm going to close this - seems like our SubActionGroups addressed the core need and feel it's sufficient

[2021-07-14 14:32] #78981 closed

[2021-07-14 14:39] delvedor commented on #105557
@joshdover unfortunately not, as exposing it as a separate function defeats the purpose of the check, which should be executed automatically.

Knowing that it's executed on the very first request, you can still be in control of it. If the check fails, you can re-run it by calling again the endpoint you first called. The only important thing is that this endpoint must not be `GET /`, as the client

[2021-07-14 14:47] #105585 closed

[2021-07-14 14:48] thomasneirynck commented on #105596
@nreese

imho a new control/button on the timeslider control (e.g. under the range) that says "apply timeslice to global time range".

[2021-07-14 14:50] graphaelli commented on #105402
This is hard to reproduce

[2021-07-14 14:58] Kerry350 commented on #104650
LGTM

[2021-07-14 14:58] #104650 closed

[2021-07-14 15:04] Dosant opened #105617 "[Search sessions][a11y] Sessions management table actions are not accessible"
Version: master, 7.14 and older

Search session management actions are not accessible from the keyboard.

These are not actinable from keyboard:
<img width="869" alt="Screen Shot 2021-07-14 at 17 01 46" src="https://user-images.githubusercontent.com/7784120/125644982-3b82d2e8-9d3d-4dec-8e9e-5a28e85344bd.png">

The problem is that table is structured in a way that the click handle is on the interna

[2021-07-14 15:04] elasticmachine commented on #105617
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-14 15:18] lykkin commented on #105477
i believe the agent acks the action right away, then later publishes the osquery results to a data stream, though i haven't had my hands in that code specifically.

[2021-07-14 15:22] ymao1 commented on #104324
Verified that index threshold rule is not affected by this.

[2021-07-14 15:24] pmuellr commented on #105296
Just happened to think that this has the same failure state (I think) as if you had auth'd via an API key - presumably you can't create or update an alert, nor enable one, since those all would require creating a new API key.  And can't remember if we've done anything explicitly about the "auth'd via API key" restrictions (don't think we have code, mainly thinking doc), but we should probably keep

[2021-07-14 15:25] mshustov commented on #105557
The incompatible server version doesn't seem to be a transient issue. Also, the client runs the check on the first request only (if it succeeded).
Anyway, I'd defer to @thesmallestduck to define the desired behavior of the system in the case of a compatible or incompatible Elasticseach version.

[2021-07-14 15:29] mikecote commented on #104631
Not necessarily. Though if we have any docs mentioning the event, the question becomes if we should also mention it's experimental or not in those locations?

[2021-07-14 15:55] ymao1 commented on #101753
[code]

[2021-07-14 16:09] mikecote commented on #101753
Adding `discuss`. We should see where the line is drawn for how smart the framework is in discovering error reasons.

[2021-07-14 16:13] #104364 closed

[2021-07-14 16:13] #104365 closed

[2021-07-14 16:13] #104366 closed

[2021-07-14 16:13] #104409 closed

[2021-07-14 16:13] #104413 closed

[2021-07-14 16:13] #104466 closed

[2021-07-14 16:13] #104467 closed

[2021-07-14 16:13] #104469 closed

[2021-07-14 16:13] #104362 closed

[2021-07-14 16:21] thomasneirynck commented on #20423
The coordinate map is deprecated and will be removed in the next major release of the stack (8.0).

Closing, it's unlikely this will be fixed (it would require a patch in Leaflet heatmap layer pluging, which is no longer maintained).

We can always re-open if this issue gathers more traction again.

[2021-07-14 16:31] banderror commented on #101016
### 4. Retry logic during bootstrapping

We should also add some retry logic to the bootstrapping logic.

I talked to Elasticsearch team, and they recommended to add retries to component and index template updates, or IMO wherever else we could get `{ acknowledged: false }` from ES during index bootstrapping.

Here's the log of our discussion:

----------

**Q:** In Kibana (specifically, RAC proje

[2021-07-14 16:40] banderror commented on #101016
We identified a few potential issues with index bootstrapping and described them in the 2 previous comments.

I'm planning to address them as part of this consolidation task. I can split this up to several PRs, or do it in a single one, not sure at this point which way is better.

@jasonrhodes @weltenwort @marshallmain @xcrzx

[2021-07-14 16:47] jen-huang commented on #105480
Thanks @blakerouse, that might work.

Putting this in the backlog as it's low priority.

[2021-07-14 16:50] mikecote commented on #105575
I'm forwarding this to @elastic/kibana-core. It seems the "type" filter displays underlying types without going through a localization layer. That seems like the best way to fix this at this time and avoid confusion for our users using import/export for rules and connectors.

[2021-07-14 16:50] simitt commented on #104427
I agree that the beta badge could be more prominent. Apart from that, it would make sense to link to the APM Integration docs and have all known limitations collected there.

[2021-07-14 16:52] alisonelizabeth opened #105638 "[Dashboard] Expanded panel is not minimized after clicking back button"
**Kibana version:**
7.14

**Describe the bug:**
In previous versions, it was possible to click the back button to minimize a panel as the expanded panel was stored in the URL. In 7.14, dashboard state is removed from the URL and this is no longer possible.

**Steps to reproduce:**
1. Create a dashboard with a visualization.
2. Select "Maximize panel" from the visualization options.
3. Click the ba

[2021-07-14 16:52] elasticmachine commented on #105638
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-14 16:52] ymao1 commented on #101753
Tried this out in the ES query rule by removing access to an index and got this message:
[code]

Original Elasticsearch exception:

<details>

[code]

</details>

[2021-07-14 17:01] alisonelizabeth opened #105641 "[Dashboard] Create dashboard button cannot be opened in new tab"
**Kibana version:**
7.14

**Describe the bug:**
When creating a new dashboard, the button should allow the user to right-click and open in a new tab.

**Steps to reproduce:**
1. Navigate to Dashboard.
2. Right-click "Create dashboard". Note it isn't possible to open the create dashboard page in a new tab.

**Expected behavior:**
It was previously possible to open the create dashboard page in a new

[2021-07-14 17:08] parkiino commented on #104952
https://github.com/elastic/kibana/pull/105642

[2021-07-14 17:17] #105325 closed

[2021-07-14 17:31] ThomThomson opened #105646 "[Lens] Series Color Can Only be Set Once"
**Kibana version:** 7.14.0

**Browser version:** Chrome 91.0.4472.114

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**
Series Color in Lens can only be set **once**. If you attempt to set it again after that, your changes will not apply. Closing lens and reopening does not solve it, replacing the vertical axis does not solve it, nor does reset

[2021-07-14 17:31] elasticmachine commented on #105646
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-14 17:43] ThomThomson commented on #105646
Closing as I cannot recreate in Master. Looks like it may be a duplicate of https://github.com/elastic/kibana/issues/104381

[2021-07-14 17:43] #105646 closed

[2021-07-14 17:44] timductive commented on #12562
Hey @josephtillman11 here is the documentation for how to embed visualizations in Canvas. https://www.elastic.co/guide/en/kibana/current/canvas.html#add-kibana-visualizations

[2021-07-14 17:52] wrathagom commented on #12562
Yeah, I saw that was added and works very well.

If this is the path forward it might be nice to add a way to easily add a Kibana Dashboard as a page in Canvas, though I could see managing the aspect ratio and page size being difficult.

[2021-07-14 18:03] mostlyjason opened #105648 "[Fleet] Namespace description appears in the wrong place"
**Kibana version**:
7.14

**Browser version**:
Firefox

**Browser OS version**:
Windows

**Original install method (e.g. download page, yum, from source, etc.)**:
Staging

**Description of the problem including expected versus actual behavior**:
The namespace description should appear below the namespace box.

![image](https://user-images.githubusercontent.com/6370704/125670608-eb5eab17-94fa-43ba-

[2021-07-14 18:13] timductive commented on #12562
@wrathagom Yes, we have that on our todo list as well to make it easier to transition back and forth. Although, I think there is a strong argument to make for adding some of these features directly to Dashboard. No timeline on much of this yet but we are actively thinking and discussing this.

[2021-07-14 18:14] wrathagom commented on #12562
That all sounds great!

[2021-07-14 18:21] cqliu1 commented on #34471
This doesn't appear to be an issue any longer.

<img width="2047" alt="Screen Shot 2021-07-14 at 11 20 42 AM" src="https://user-images.githubusercontent.com/1697105/125672746-84965ebd-c76b-471f-9296-28fe87579a85.png">

[2021-07-14 18:21] #34471 closed

[2021-07-14 18:25] smith opened #105651 "[APM] Call out and link to docs regarding APM server limitations on data streams setup"
This is a follow-up to elastic/kibana#104427.

Add the missing points to the APM Integration for Elastic Agent - Limitations section and link to it from the APM Switch UI. (https://www.elastic.co/guide/en/apm/server/master/apm-integration-data-streams.html)

The APM UI currently has a beta label. Make this more prominent.

[2021-07-14 18:25] elasticmachine commented on #105651
Pinging @elastic/apm-ui (Team:apm)

[2021-07-14 18:25] smith commented on #104427
Created #105651 to follow-up with linking to docs and making beta label more prominent.

[2021-07-14 18:25] #104427 closed

[2021-07-14 18:26] FrankHassanabad commented on #105186
@deepikakeshav-qasource for the "single metric", I do not know if that will copy over fields. Have you tried something other than `datastream.dataset` and seen if it works there with our jobs? If it works with other fields but not `datastream.dataset` then we do have a bug along the stack somewhere.

But I'm not for sure if "single metric" ML job type has ever worked this way.

I do know though th

[2021-07-14 18:28] legrego commented on #101582
_As of now_, the upgrade assistant is only used when upgrading to the next major version. The upgrade assistant isn't available or useful when upgrading to the next minor or patch version.

Speaking more generally about encrypted saved objects, it seems strange that we'd want to migrate the plaintext portion of an ESO when we know that the encrypted payload is corrupt or unrecoverable.

As part of

[2021-07-14 18:41] cauemarcondes opened #105653 "[APM] Kuery bar results on dark theme"
Although I like neon style I think this wasn't intentional

![Screen Shot 2021-07-14 at 14.39.30.png](https://zube.io/files/elastic/7a84a01e463c0e73e59080dd7beefc72-screen-shot-2021-07-14-at-14-39-30.png)

[2021-07-14 18:42] smith commented on #105242
This was fixed in [#103485](https://github.com/elastic/kibana/pull/103485/files#diff-e678f8ccc9c73af4340ebd64ac8df146b06673ae5ec6031958954b8783a5089eR114).

[2021-07-14 18:42] #105242 closed

[2021-07-14 18:45] cqliu1 commented on #23087
Tweaking the original expression to use the Kibana logs sample data set, it looks like the `null` values don't result in an error anymore.

<img width="741" alt="Screen Shot 2021-07-14 at 11 45 42 AM" src="https://user-images.githubusercontent.com/1697105/125675914-af08ae3a-3ae1-4a12-8e51-5c61c04dfb01.png">

Updated example expression:
[code]

[2021-07-14 18:45] #23087 closed

[2021-07-14 18:47] smith commented on #105239
This was fixed in [#103485](https://github.com/elastic/kibana/pull/103485/files#diff-a2c8e63154d91604a1094064706391228db528e5ebba03d56c20dc930ca77242R226).

[2021-07-14 18:47] #105239 closed

[2021-07-14 18:47] cauemarcondes opened #105654 "[APM][Fleet-Migration] API error when opening settings Schema tab with apm_read_user"
When opening the Schema tab in the Settings page with apm_read_user the API returns 403 and the page keeps showing the loading spinning.

`GET http://localhost:5601/foo/api/apm/fleet/migration_check`

![Screen Shot 2021-07-14 at 14.45.24.png](https://zube.io/files/elastic/485acdd42328687f5694c272fac3ecbd-screen-shot-2021-07-14-at-14-45-24.png)

[2021-07-14 18:47] elasticmachine commented on #105654
Pinging @elastic/apm-ui (Team:apm)

[2021-07-14 18:48] elasticmachine commented on #105653
Pinging @elastic/apm-ui (Team:apm)

[2021-07-14 18:53] jonathan-buttner commented on #105566
I tried reproducing this using the following steps:

I created a staging instance:
![image](https://user-images.githubusercontent.com/56361221/125676250-947b4a66-f9c2-41dd-82b1-7f50ff898ec6.png)

Switched the license to basic:
[code]

Verified that it was basic:
[code]

Navigated to the alerts page:
![image](https://user-images.githubusercontent.com/56361221/125676429-62c88f18-0313-4ba9-91d7-f5fe4

[2021-07-14 18:55] #104676 closed

[2021-07-14 18:57] cjcenizal commented on #9202
Sort of related to "Add Data field descriptions" (https://github.com/elastic/kibana/issues/89726), in the sense that both are related to metadata.

[2021-07-14 19:01] jen-huang commented on #105564
This is by design, both the host name and the View agent action menu item are expected to navigate to agent details page. Closing.

[2021-07-14 19:01] #105564 closed

[2021-07-14 19:03] #105383 closed

[2021-07-14 19:13] cauemarcondes opened #105658 "[APM] White background on error stacktrace and query container on dark theme"
Shouldn't we show both the error stacktrace and the query container with a black background when using the ![Screen Shot 2021-07-14 at 15.07.51.png](https://zube.io/files/elastic/7e88e0f8ad97baeb7f6d15a1b1999251-screen-shot-2021-07-14-at-15-07-51.png)![Screen Shot 2021-07-14 at 15.08.35.png](https://zube.io/files/elastic/e03acf919429ccc689ef4666627345f9-screen-shot-2021-07-14-at-15-08-35.png)dark

[2021-07-14 19:13] elasticmachine commented on #105658
Pinging @elastic/apm-ui (Team:apm)

[2021-07-14 19:25] cqliu1 commented on #28275
These errors don't appear anymore. Closing this issue.

[2021-07-14 19:25] #28275 closed

[2021-07-14 19:29] neptunian opened #105659 "[Stack Monitoring] Alerts firing for default values"
- The default value of xpack.searchable.snapshot.shared_cache.size Elasticsearch setting is 90% (ref) while the default disk usage threshold for Elasticsearch nodes in Kibana Stack Monitoring is 80%. This leads to false alerts because frozen cache is allocated upfront (frozen nodes are expected to have 90% disk utilisation in default settings).
-  From APM: I noticed we got alerts for large shard

[2021-07-14 19:29] elasticmachine commented on #105659
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-14 19:45] alisonelizabeth opened #105664 "[UI Actions] On Firefox Drilldown text is missing underline hover"
**Kibana version:**
7.14

**Describe the bug:**
On Firefox, the name of a url drilldown is sometimes cut off and the underline hover is missing. Not sure if this is a EUI bug, or specific to the dropdown in Dashboard.

**Steps to reproduce:**
1. Using Firefox, go to Dashboard and create a visualization.
2. Create a URL drilldown.
3. Test the drilldown and note the text is cutoff and the underline

[2021-07-14 19:45] elasticmachine commented on #105664
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-14 19:45] ThomThomson opened #105665 "[Saved Search] Interrupted Loading Throws Console Error"
**Kibana version:** Master

**Describe the bug:** When you load a dashboard with a saved search embeddable, then leave the dashboard before the saved search is finished loading, a console error will be thrown

**Steps to reproduce:**
1. Load a dashboard with a saved search
2. Press the browser back button or navigate to another app before the saved search is finished loading.

**Expected behavior:

[2021-07-14 19:45] elasticmachine commented on #105665
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-14 19:47] justinkambic commented on #105529
This is happening because the `colour` value supplied for the final item (which is `Content downloading (XHR)`) is `undefined`. We're not trying to render DNS data, but clearly the color mismatch is extremely misleading and problematic. I'll trace it to see if I can find the issue.

[2021-07-14 20:00] pmuellr commented on #101582
Nice!  But I wonder how that will work out in the cloud.

In general, it does seem strange, however, alerting rules only encrypt the API key, which we already have ways of "fixing" (disable/reenable or use the explicit API to regen the API key), and connector actions only encrypt the "secrets" object field, and we kinda have a way of dealing with that as well (`isMissingSecrets` field added for ex

[2021-07-14 20:01] poffdeluxe commented on #105511
Re-tried this on a new cloud deployment running 7.14. Not a lot of data, single page workpad, 4GB of RAM in the instance and I get a partially loaded map embeddable:

<img width="1304" alt="My_Canvas_Workpad_pdf" src="https://user-images.githubusercontent.com/766596/125685252-fb257516-1403-4719-8bb4-d0d0f46bd04a.png">

[2021-07-14 20:12] justinkambic commented on #105529
Ok, there are two causes here as far as I can tell (bear in mind parts of this code are still new to me):

1. For spans of type `Timings.Receive` (this case), [we default the color to be the color assigned to the request's `mime_type`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/waterfall/data_formatting.ts#L156). In this cas

[2021-07-14 20:14] jen-huang opened #105670 "[Fleet] Button icons are missing `aria-label`s"
Steps:

1. Set up Fleet & Fleet Server normally
2. Navigate to Fleet > Agents > Agent details for the Fleet Server agent
3. Observe warnings in console:
![image](https://user-images.githubusercontent.com/1965714/125686125-3c0cc178-277a-4203-ba44-4ac5c9eecfeb.png)

The same can be observed elsewhere:

1. Go to Integrations > Apache > Add Apache
2. Add Apache to any policy that does not have any age

[2021-07-14 20:14] elasticmachine commented on #105670
Pinging @elastic/fleet (Team:Fleet)

[2021-07-14 20:22] qn895 opened #105673 "[ML] Single Metric Viewer focus not shifting to the end when time picker is set to now"
**Kibana version:**
7.14.0

**Describe the bug:**
When the time picker is set to `to: now` and the job is running in real time, Singe Metric Viewer is not sliding/shifting the focus time range to the end.

**Steps to reproduce:**
1. For a real-time job with incoming data open the single metric viewer
2. In the time picker set the end date to `now`
3. Wait some time for new data to come in
4. Click

[2021-07-14 20:22] elasticmachine commented on #105673
Pinging @elastic/ml-ui (:ml)

[2021-07-14 20:25] #102032 closed

[2021-07-14 20:25] clintandrewhall opened #105675 "[canvas] Simplify and organize Canvas plugin lifecycle"
Canvas appears to use `setup` dependencies in its `mount` function.  Part of the problem here is not that Canvas is actually _using_ setup dependencies, but that they're _called_ setup dependencies, or we're using `setup` when we _should be_ using either start dependencies or our own services.

Another issue is that `setup`, `start` and `mount` are all combined in a confusing way, obfuscating the

[2021-07-14 20:25] elasticmachine commented on #105675
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-14 20:28] vigneshshanmugam commented on #105529
@justinkambic Thanks for the investigation and also the detailed info.

I did a quick look in to your suggestion and yes I see the bug associated with the Mime type palette code, We should keep the color palette of `OTHER` the default color when we are not sure about the coloring and for missing mime types. Right now the code does not handle the unknown

https://github.com/elastic/kibana/blob/9770

[2021-07-14 20:33] jonathan-buttner opened #105677 "[Cases][Timeline] Saved Object Type Conversion"
As part of the effort to make saved objects shareable across multiple spaces we need to make a few changes to how Cases and Timeline interacts with the saved objects. This is required because in 8.0 the kibana core team is changing how the internal saved object id value is being stored to support being shared across multiple spaces.

The meta ticket for the core team is here: https://github.com/el

[2021-07-14 20:33] elasticmachine commented on #105677
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-14 20:35] wylieconlon opened #105678 "[TSVB] Missing loading spinner"
I took this GIF while loading the Metricbeat Host overview dashboard on my local machine running the `master` branch. This dashboard contains many TSVB panels, and it takes several seconds to load the whole dashboard, but TSVB does not show any indication that progress is being made. You can see this in this GIF of the interaction:

![tsvb no loading state](https://user-images.githubusercontent.co

[2021-07-14 20:35] elasticmachine commented on #105678
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-14 20:36] ecezalp commented on #99596
closed by #103746

[2021-07-14 20:36] #99596 closed

[2021-07-14 20:37] #104419 closed

[2021-07-14 20:38] clintandrewhall commented on #105439
I've created https://github.com/elastic/kibana/issues/105675 to track us fixing the Canvas Plugin inclusion of this anti-pattern.

As it turns out, the Canvas plugin lifecycle is kind of tangled up at the moment, but things are _also_ poorly-named.  I think a lot of this is left over from not only the New Platform migration, but also from Canvas being conceived as a stand-alone plugin, outside the

[2021-07-14 20:40] ecezalp commented on #103639
closed by elastic/kibana#105301

[2021-07-14 20:50] kobelb commented on #101582
Ignoring technical feasibility, in an ideal world, I think we should do the following:
1) Fail the upgrade if the new version of Kibana that is doing the upgrade has the wrong encryption key and no encrypted saved objects can be decrypted
2) Let the upgrade proceed if there are just a few encrypted saved objects that can't be decrypted

If the new version of Kibana that is performing the upgrade h

[2021-07-14 20:55] kobelb commented on #105439
@clintandrewhall `/s/wisely/lazily`

[2021-07-14 21:11] kobelb commented on #100685
We'll want to approach an interactive UI for upgrades cautiously. Users and automation have been conditioned to believe that once Kibana starts up, that an upgrade is complete. If we change this dynamic, and now Kibana must startup and then an administrator must log in to Kibana and use a UI to complete the migration, we change this dynamic. This could lead to users having new instances of Kibana

[2021-07-14 21:13] dokmic opened #105683 "[Canvas] Chart disappears when changing container style"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Safari, Firefox, Chrome, Edge
**Browser OS version:** macOS 11.2.3, Windows 10
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
Chart disappears when changing containers style.

**Steps to reproduce:**
1. Create a workpad.
2.

[2021-07-14 21:13] elasticmachine commented on #105683
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-14 21:28] wylieconlon opened #105686 "[Lens] Table coloring with "below range" mode does not assign colors correctly"
My goal was to build a table with negative values colored red and positive values colored green, which I was trying to do by adding a "below range" color option where the lowest stop would be 0 and the highest stop would be 10000. *I can work around this issue by using "above range" colors* but it is still a bug that I can't use "below range" the same way.

When I checked  the JSON state output, I

[2021-07-14 21:33] jonasll commented on #80634
Worth noting that due to some of these limitations, the Enterprise Search team has opted to reproduce a Role and Role Mapping interface within the solution itself in order to circumvent some of the UX challenges presented by the current model.

<img width="1399" alt="Screen Shot 2021-07-14 at 2 32 01 PM" src="https://user-images.githubusercontent.com/1964710/125695797-87c6efe4-452d-415d-84da-2743d

[2021-07-14 21:39] katefarrar commented on #104117
@Kerry350 I completely agree. The design team is going to continue to work on this and come up with a solution that doesn't require custom code for each Obs app. Once Casper & Katrin are back from vacation, we'll set up time to talk about this. FOr now - I have a temporary fix here: https://github.com/elastic/kibana/pull/105687

Thanks!

[2021-07-14 21:43] ThomThomson opened #105688 "[Dashboard] Exiting Full Screen Mode Removes Nav Bar Content"
**Kibana version:** 7.14.0 BC1

**Describe the bug:** When exiting fullscreen mode, all of the top nav menu items disappear.

**Steps to reproduce:**
1. Open a dashboard in view mode
2. Enter full screen mode
3. Exit full screen mode
4. See that the top nav menus have disappeared.

**Expected behavior:** Exiting full screen mode should not affect the top nav menu in any way

**Screenshots (if rele

[2021-07-14 21:43] elasticmachine commented on #105688
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-14 21:47] ferullo commented on #105408
Hi @muskangulati-qasource

There are changes in 7.14.0 BC3 that was built on July 14 that we think (hope) solve this issue on all platforms.  Can you please retest this using that build (https://staging.elastic.co/7.14.0-682a8012/summary-7.14.0.html).

Please test on all 4 of Windows, macOS 10.14, macOS 10.15, and macOS 11. Each might behave differently so we want to make sure all 4 work. When tes

[2021-07-14 21:48] wylieconlon opened #105689 "[Dashboard] Console error triggered during filtering action"
This is a bug that I noticed while testing out the Lens pie chart filtering on master, but I can't consistently reproduce it. What I _think_ the steps I took are:

1. Create a Lens pie chart by-value from a dashboard
2. Go to the dashboard and click a pie slice- I think this is what caused it?
3. Save the dashboard, then go to View mode
4. Remove the filter from the dashboard

I was able to captur

[2021-07-14 21:48] elasticmachine commented on #105689
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-14 21:55] kevinlog commented on #104820
This should be available in BC3

[2021-07-14 21:56] kevinlog commented on #102875
BC3 is out and we should test this again

[2021-07-14 22:20] lukeelmers opened #105692 "[core.http] Support `Warning` headers for deprecated http routes"
Currently there isn't a great way for clients to understand that an http route has been deprecated:
- In most cases we aren't logging warnings on the server when a deprecated route has been hit
- For documented REST APIs, our only option is to use the docs to indicate that the route has been deprecated

Elasticsearch solves this problem with [a `Warning` header](https://github.com/elastic/elastics

[2021-07-14 22:20] elasticmachine commented on #105692
Pinging @elastic/kibana-core (Team:Core)

[2021-07-14 22:24] lukeelmers opened #105695 "[Breaking] Remove `xpack_legacy` plugin & `/api/settings` route"
In https://github.com/elastic/kibana/pull/77554 we migrated the legacy `/api/settings` route to an `xpack_legacy` plugin in the new platform.

This route exists for Metricbeat to use in the Kibana module, however the route itself is redundant because all of the information it contains can already be retrieved from `/api/stats` (which Metricbeat also integrates with).

Metricbeat [is planning to re

[2021-07-14 22:24] elasticmachine commented on #105695
Pinging @elastic/kibana-core (Team:Core)

[2021-07-14 22:57] rylnd commented on #105186
@deepikakeshav-qasource if in the future you could reference the conversation/document that generated this test scenario, that would be incredibly helpful.

[2021-07-14 23:23] lukeelmers commented on #101582
We are in the early stages of discussion on this and there are still lots of questions, but suffice it to say the goal is to have interactive migrations work on Cloud 🙂

[2021-07-14 23:53] kibanamachine commented on #105087
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15387/)

[2021-07-14 23:54] kmartastic commented on #105598
Great idea @thomasneirynck.

[2021-07-15 00:00] TinaHeiligers commented on #102870
I've been looking into this issue and I'm not sure what the scope is here. Tags don't use the root-level `references` property access other saved objects using `http` through the `tags_client`.

If the intent of this issue is only to migrate the `namespaceType`, then the scope appears to be pretty small. @pgayvallet, am I missing something?

[2021-07-15 00:03] spalger commented on #105087
Thanks for taking a look @pheyos, and it seems like you were able to reproduce this in https://github.com/elastic/kibana/pull/105204 and it keeps happening, so skipping for now

master/8.0: https://github.com/elastic/kibana/commit/961681fc5dc4429c5f1863601e308352fe9ea542
7.x/7.15: https://github.com/elastic/kibana/commit/5f5f09741860b584df7ec66f1e585bcd38354a42

[2021-07-15 00:06] marshallmain commented on #101016
Thanks for the writeups @xcrzx and @banderror ! Those sound like good improvements to make. The Q&A with answers from the ES team is especially useful, thanks Georgii for contacting them and writing up the answers!

It's inverted, we skip the rollover if we catch anything except for `illegal_argument_exception` - that's the error returned by ES when the mapping update contains a conflicting field

[2021-07-15 00:48] #104791 closed

[2021-07-15 00:48] #103360 closed

[2021-07-15 00:48] #105155 closed

[2021-07-15 01:36] kibanamachine commented on #93188
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15531/)

[2021-07-15 02:09] lukeelmers commented on #105557
A +1 from me for deferring this change to 7.15 as well, if there are no major product concerns with that.

So in absence of a separate function for performing the check, it sounds like we could accomplish a "dedicated step" by simply picking an endpoint to hit from the ES service before any other requests are initiated, and handling the compatibility error if it comes back? (Am I oversimplifying?)

[2021-07-15 04:32] chandlerprall commented on #104276
The tooltip comes from EUI's super date picker, and you can reproduce this on that component's documentation page: https://elastic.github.io/eui/#/forms/super-date-picker

The tooltip isn't _wrong_, per se. The `Z` at the end indicates the timestamp's timezone as UTC, whereas the date/time displayed in the UI is adjusted to the user's timezone. The timestamp format used in the tooltip is specified

[2021-07-15 05:39] majagrubic opened #105705 "[Discover] Hide the multifields from table"
Following the recent change to [hide multi-fields from the doc viewer](https://github.com/elastic/kibana/pull/101929), we should hide them from the doc table first.

Waiting on: https://github.com/elastic/kibana/pull/104361 to be merged before proceeding with implementation.

[2021-07-15 05:39] elasticmachine commented on #105705
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 06:19] deepikakeshav-qasource commented on #105186
Hi @FrankHassanabad,

For "Single metric" we have tried with all data_stream fields [data_stream.dataset, data_stream.namesapce, data_stream.type] but we didn't get values in any field. However, we are able to get the value for all data_stream fields with "Rare".

Thank you for providing the details for ML rule and resolved our query. Please find our below observations:

**Observation**:

We are a

[2021-07-15 06:19] #105186 closed

[2021-07-15 06:52] mgiota opened #105708 "Submit TSVB Alert RFC"

[2021-07-15 06:54] elasticmachine commented on #105708
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 07:02] timroes opened #105709 "Remove Angular code from kibana_legacy"
Once no application is requiring the Angular bootstrap code in kibana_legacy it needs to be removed, to be able to remove Angular altogether from the project.

[2021-07-15 07:02] elasticmachine commented on #105709
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 07:04] mgiota opened #105710 "TSVB rule type exploration"
- Install Metricbeat
- Look into pre-built Metricbeat system dashboards and understand how api responses map to UI elements
- Look into vis_type_timeseries

[2021-07-15 07:07] elasticmachine commented on #105710
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 07:08] timroes opened #105711 "Deangularize Kibana"
This issue tracks the remaining work that needs to be done before Angular can be fully removed from the project. The plan is to have all those tasks done until 7.16, so we're not running into the end of life of security ptaches for AngularJS.

### Removal from applications

* https://github.com/elastic/kibana/issues/91128
* https://github.com/elastic/kibana/issues/104807 (Only type imports)
* http

[2021-07-15 07:10] elasticmachine commented on #105711
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-15 07:10] elasticmachine commented on #105711
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 07:10] elasticmachine commented on #105711
Pinging @elastic/kibana-core (Team:Core)

[2021-07-15 07:10] dgieselaar opened #105712 "[APM] Focused service map does not always show all relevant nodes"
There are a couple of issues with the service map when it's focused (ie, a service name or environment is set):

- trace ids are selected by aggregating over spans that have `span.destination.service.resource` set. that means that if a service is at tail end of a trace, no trace ids will be returned, as there is no outgoing span for that service.
- paths are filtered before nodes are collapsed (eg

[2021-07-15 07:10] elasticmachine commented on #105712
Pinging @elastic/apm-ui (Team:apm)

[2021-07-15 07:16] timroes commented on #90145
After more discussions in other places, we decided to fully remove AngularJS by 7.16. I am thus superseeding this issue with https://github.com/elastic/kibana/issues/105711

[2021-07-15 07:16] #90145 closed

[2021-07-15 07:32] dgieselaar opened #105713 "[APM] Allow more granularity for apm.events"
Currently, we only allow processor events as values for `apm.events` in our search client. We should look into more granular options, like transaction metrics, or span destination metrics. The search client could then add the relevant queries automatically.

from @sqren in https://github.com/elastic/kibana/pull/104929#discussion_r669299287:

Eg changing `getProcessorEventForAggregatedTransactions`

[2021-07-15 07:32] elasticmachine commented on #105713
Pinging @elastic/apm-ui (Team:apm)

[2021-07-15 07:34] #86166 closed

[2021-07-15 07:46] timroes commented on #2551
@mattkime my promised brain dump :brain:

I think we have two slightly separate issues here from which we should at least address the first:

### Regular fields beginning with underscore are not shown by default

This is most likely simply an artifact of us not being able to make any other distringtion between "meta fields" and regular fields in earlier days of ES than checking if they begin with

[2021-07-15 07:47] LucaWintergerst opened #105714 "[Metrics UI] Wrong Y Axis scaling in Host Metrics View, Outbound Traffic"
**Kibana version:** 7.14, BC2
**Elasticsearch version:** 7.14 BC2
**Server OS version:** Cloud

**Browser version:** Chrome Version 91.0.4472.114 (Official Build) (x86_64)
**Browser OS version:** macOs
**Original install method (e.g. download page, yum, from source, etc.):** Cloud
**Describe the bug:**

The Y axis scaling for the Network Chart is not correct, which causes the outbound metrics to n

[2021-07-15 07:58] elasticmachine commented on #88301
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 07:59] elasticmachine commented on #75117
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 07:59] elasticmachine commented on #75102
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 08:02] elasticmachine commented on #75608
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 08:11] amolnater-qasource opened #105715 "[Fleet] Agent is not visible under Agents tab without hard refresh after installation."
**Kibana version:** 7.14.0 BC-3 self-managed Kibana environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab.
3. Run agent install command.
4. Observe Agent not visible Agents tab.
5. Navigate to Data Stream

[2021-07-15 08:11] elasticmachine commented on #105715
Pinging @elastic/fleet (Team:Fleet)

[2021-07-15 08:13] amolnater-qasource commented on #105715
@manishgupta-qasource Please review.

[2021-07-15 08:16] Sandy381 commented on #8817
Still problem persists.
Cannot Rename column header for filters.
If i use filters aggregation, the column header is filters and cannot change to my custom label.
The values can be changed as custom though

[2021-07-15 08:31] timroes commented on #105439
I would second what Stacey and Luke said here, we should make a clear separation between `setup` calls and later phases and should consider this an anti-pattern we don't want to use. This would just cause hard to find timing issues later potentially or indeterministic behavior. That this currently blows our page load bundle side is .. well not ideal, but I'd second Luke here, this is not a problem

[2021-07-15 08:35] manishgupta-qasource commented on #105715
Reviewed and assigned to @EricDavisX

[2021-07-15 08:37] karanbirsingh-qasource commented on #104055
Hi @MadameSheema

we have validated this issue on BC3 and found that the issue is Fixed . Tag under Rule and ML is not showing Correctly.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/125756965-b836dbf4-c0a3-4ffb-b9e9-f4a24cd2e50a.png)
![image](https://user-images.githubusercontent.com/59917825/125756976-16eadcdf-ea48-4fc3-bf59-e6901da955d3.

[2021-07-15 08:37] #104055 closed

[2021-07-15 08:50] karanbirsingh-qasource commented on #104964
HI @MadameSheema

we have validated this issue on 7.14.0 BC3 and found it fixed . Now Cases as sub-feature not present under Observability Role Configuration.

**Build Details:**
[code]

**Snap-Shoot:**
- **_Role_**
![image](https://user-images.githubusercontent.com/59917825/125757884-6c239214-7302-460f-82a0-53b39f10fef0.png)
- **_Space_**
![image](https://user-images.githubusercontent.com/5991782

[2021-07-15 08:50] #104964 closed

[2021-07-15 08:57] karanbirsingh-qasource commented on #102321
Hi @cnasikas

we have validated this issue on 7.14.0 BC3 and found it fixed . The case list does not disappear now under the overview page.

**Build Details:**
Version: 7.14.0 BC3
Commit:c314921a9893e0b46d9a3958f5520e3d6b1ce7d5
Build:42545

**Screen-Cast:**
https://user-images.githubusercontent.com/59917825/125760049-a88002d5-fe36-4314-aa3d-25d1a916756d.mp4

Hence we are closing this issue and add

[2021-07-15 08:57] #102321 closed

[2021-07-15 08:59] ThorbenJ commented on #75531
This is clearly related to https://github.com/elastic/kibana/issues/73304 which should be fixed by https://github.com/elastic/kibana/pull/100487 but is clearly not in 7.13.3

[2021-07-15 08:59] dikshachauhan-qasource commented on #105403
Hi @EricDavisX  cc @jen-huang

Thanks for the feedback.

However, we would like to suggest if we could make in more simpler as its causing a bit confusion here. Like: "Please user tar packages instead of rpm/deb packages while agent installation as they provide stability to agent upgrade on Kibana UI".

Rest, we are good to close it.

Thanks
QAS

[2021-07-15 09:00] jsanz opened #105723 "Support geo_point and geo_shap in runtime field editor"
**Describe the feature:**

Current UI for creating runtime fields in the Index Patterns page does not support `geo_point` and `geo_shape` types

![image](https://user-images.githubusercontent.com/188264/125760129-2ee63e1c-fdc6-4f6c-9781-cc3250c57115.png)

Same happens in the Create template UI

![image](https://user-images.githubusercontent.com/188264/125760280-cefa58ea-74ce-4e41-8021-e7961adc38dc

[2021-07-15 09:01] elasticmachine commented on #105723
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 09:15] karanbirsingh-qasource commented on #105386
Hi @MadameSheema

we have validated this issue on 7.14.0 BC3 and Found it Fixed . Now Field info is showing along with the hand grab icon.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/125762899-2dd96c67-1a5a-4a86-8a17-4372d4e23410.png)

Hence we are closing this issue and adding "QA:Validated" to it.

thanks !!

[2021-07-15 09:15] #105386 closed

[2021-07-15 09:15] stratoula commented on #86556
We are going to remove timelion app (and its functional tests) in 7.16. I am closing it

[2021-07-15 09:15] #86556 closed

[2021-07-15 09:26] Dosant commented on #105352
I assume this might be related to https://github.com/elastic/kibana/pull/99967/files#r648170897

@liza-mae, could you please help us to update that config or point me where I should do it myself?

cc @lizozom

[2021-07-15 09:31] #51963 closed

[2021-07-15 09:51] deepikakeshav-qasource commented on #90761
Hi @MadameSheema,

We have validated this ticket on **7.14.0** BC3 build and observed that issue is **Still occurring**. "Error loading map features" is displaying when clicking on source countries marked on the map.

Build Details:
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/125765714-5a6e2d78-586e-4c42-9d5b-c6fd03706397.png)

Thanks!!

[2021-07-15 09:59] Dosant opened #105726 "[Search Sessions] Error state needs retry mechanism"
In case of search status request fail due to network or cluster instability, we assume ERROR_STATE as the same state when es returned search error:

https://github.com/elastic/kibana/blob/821aeb1ff407cb1074500aad0bc60e4b268b8ca8/x-pack/plugins/data_enhanced/server/search/session/get_search_status.ts#L46-L55

In this case, we transition the search session to an error state and then stop checking it

[2021-07-15 09:59] elasticmachine commented on #105726
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-15 10:05] ebuildy commented on #6373
This is already possible,

Here my dashboard query:

``(dimensions.item_type : "dailyimage"  AND dimensions.locale : "fr_fr") or _index : "consolidation-displays_pages"``

[2021-07-15 10:13] cnasikas commented on #101724
@karanbirsingh-qasource @MadameSheema Should we close this?

[2021-07-15 10:14] #103538 closed

[2021-07-15 10:25] gmmorris commented on #82502
Do we have an issue for this?
If so, I'd like to mark this issue as blocked on that one.

[2021-07-15 10:28] dikshachauhan-qasource opened #105730 "[Fleet] Other integrations icons under current policy should also be displayed on Add agent fly-out under Integration tab for user reference."
**Kibana version:** 7.14 snapshot Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 snapshot Kibana Cloud-QA environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integration tab.
	- Click on Manage tab.
	- Select any installed policy and navigate to Policies tab of th

[2021-07-15 10:28] elasticmachine commented on #105730
Pinging @elastic/fleet (Team:Fleet)

[2021-07-15 10:29] dikshachauhan-qasource commented on #105730
@manishgupta-qasource Please review

[2021-07-15 10:29] gmmorris commented on #86506
@sqren I htikn this is because thee Rule Registry is overwriting the generics.
At framework level we let you specify the type of the context, but from a quick look, I think the RuleRegistry has hard coded all Context types as `Record<string, unknown>`.

https://github.com/elastic/kibana/blob/17443d0701f4f3e7dbbb95b54bda2275c7d849bc/x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_ty

[2021-07-15 10:30] deepikakeshav-qasource commented on #104820
Hi @kevinlog,

We have validated this ticket on **7.14.0** BC3 build and observed that issue is **Fixed**. Please find below testing details:

Build Details:
[code]

**Screen recording:**

https://user-images.githubusercontent.com/61860752/125773325-8344ea79-8716-45b8-95e1-8a7f1396f2b2.mp4

Hence, we are closing this ticket and marking as QA validated.

Thanks!!

[2021-07-15 10:32] #104820 closed

[2021-07-15 10:32] deepikakeshav-qasource commented on #102613
Hi @kevinlog,

We are blocked to test this ticket due to https://github.com/elastic/kibana/issues/104442.

We will validate the same once the issue #104442 got resolved.

Thanks!!

[2021-07-15 10:36] lizozom opened #105731 "[Security] Use new package types in kbn-securitysolution-list-utils"
In https://github.com/elastic/kibana/pull/100310 the package `kbn-securitysolution-list-utils` re-defined the `IFieldType` and `IIndexPattern` types to `any` as they couldn't import from the `data` plugin.

Once https://github.com/elastic/kibana/pull/103530 is merged, the package may use the `IndexPatternBase` and `IndexPatternFieldBase` types to remove this override and also simplify their code (

[2021-07-15 10:36] elasticmachine commented on #105731
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-15 10:36] gmmorris commented on #50266
As we are carrying this Epic over from 7.14 to 7.15 I have updated the candidate labels.

This is in order to enable the work needed for the two remaining issues that enable Import/Export in Security Solution and Stack Management.

[2021-07-15 10:39] gmmorris commented on #92355
No pressure, I just wanted to make sure it's on your radar :)

[2021-07-15 10:43] gmmorris commented on #70376
pining @lukeelmers  :)

Looking at this backlog item looks like it's on hold for us to decide if this can be managed via the `docLink`.
If this is the case, I'd ideally like to mark this as `blocked` for our team until that need is addressed at core level.
If this isn't the case, then we can look at how we might solve this at another level 🤔

[2021-07-15 10:44] manishgupta-qasource commented on #105730
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-15 10:46] ppisljar commented on #105675
registering renderers and expression function later than in setup phase will prevent you from doing reference extraction/injection and migration on your saved objects correctly.

This will need to be fixed before 8.0 due to change in saved objects id as else all existing workpads with expressions referencing other saved objects will break.

[2021-07-15 10:57] #104311 closed

[2021-07-15 10:58] gmmorris commented on #94937
We've recently added an experimental Capacity Estimation feature in Task Manager's health API.
These estimations use, among other things, the averaged intervals- could this be used to achieve the metric needed for auto scaling?

https://www.elastic.co/guide/en/kibana/master/task-manager-troubleshooting.html#task-manager-health-evaluate-the-capacity-estimation

The PR has some detailed diagrams des

[2021-07-15 11:01] Dosant commented on #104309
We made an improvement to this by https://github.com/elastic/kibana/pull/105434. Also no error log should happen anymore.
Created longer-term ticket where we need to create some structure around canceling searches and changing session state: https://github.com/elastic/kibana/issues/105441

[2021-07-15 11:01] #104309 closed

[2021-07-15 11:09] stratoula commented on #97007
This has failed only once, so I am closing this. If it reopens, I will investigate then.

[2021-07-15 11:09] #97007 closed

[2021-07-15 11:12] xcrzx commented on #101016
Sorry, my bad, didn't see that little `!`. Thank you for the clarification. I'll add it as a comment to the code.

The current implementation doesn't handle this case either. It fails when the index name doesn't contain a numerical suffix. So yeah, going back to using the `dry_run` is probably the best option we have.

[2021-07-15 11:16] gmmorris opened #105735 "ServiceNow docs lead to a broken link on ServiceNow's docs"
**Kibana version:** 7.14 (Main) - 7.11

The [ServiceNow connector docs](https://www.elastic.co/guide/en/kibana/master/servicenow-action-type.html) send the users to [a broken link](https://developer.servicenow.com/dev.do#!/rest_api_doc?v=orlando&id=c_TableAPI).

This is on the link in this text:

[2021-07-15 11:16] elasticmachine commented on #105735
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-15 11:30] Dosant commented on #105109
Duplicate of https://github.com/elastic/kibana/issues/104143

[2021-07-15 11:30] #105109 closed

[2021-07-15 11:37] gmmorris commented on #102400
The idea was that each section is updated independently and so when you get the overall health it would look at the constituent parts and reflect the overall health so that:
1. If any part is in Error, then the whole thing is in Error
2. If any part say's it's OK but it's not fresh enough (the last update was OK but for some reason hasn't updated in 5 minutes) then the overall API returns an Error

[2021-07-15 11:45] jloleysens opened #105740 "[Reporting]: Clean up remaining use of `Boom`"
Some of the `jobs` endpoints in reporting still make use of `Boom`:

[code]

We should remove these and make sure everything still works as expected.

[2021-07-15 11:45] elasticmachine commented on #105740
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-15 11:56] samratbhadra-qasource opened #105744 "[Security Solution] Exception page table pagination doesn't work"
**Describe the bug**
- While we click on Rows per page of the Exception list we are unable to change the pagination.
- Unable to change page using "Prev", "Next", and "Go to page" controls

**Build Details:**
VERSION:7.14.0-BC2
BUILD:42545
COMMIT: c314921a9893e0b46d9a3958f5520e3d6b1ce7d5
ARTIFACT:https://staging.elastic.co/7.14.0-e99135ef/summary-7.14.0.html

**Preconditions**
Elastic 7.14.0-BC2 e

[2021-07-15 11:56] elasticmachine commented on #105744
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-15 11:56] samratbhadra-qasource commented on #105744
@manishgupta-qasource please review.

[2021-07-15 11:57] smith commented on #105658
Related: #100192. These aren't `EuiCodeBlock`s so don't honor the same dark mode settings.

[2021-07-15 11:58] manishgupta-qasource commented on #105744
Reviewed & Assigned to @MadameSheema

[2021-07-15 12:01] ymao1 commented on #101582
@kobelb Thanks for weighing in! From the alerting level, we don't get a holistic picture of the number of rule/connector saved objects that have failed to migrate vs the number that have succeeded, so we wouldn't have the information necessary to make the determination to proceed or fail. That would likely require a change to the migrations algorithm as a whole to retry the migrations if a % succe

[2021-07-15 12:01] dej611 commented on #104931
I did a 100 execution with the flaky runner and no failure was registered: https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1733/

Close now and will reopen on next failure.

A duplicate of this can also be found here: #93673

[2021-07-15 12:01] #104931 closed

[2021-07-15 12:01] dej611 commented on #93673
As reported in the linked issue, a 100 execution ran reported no failures.

Close for now.

[2021-07-15 12:01] #93673 closed

[2021-07-15 12:08] mgiota opened #105746 "Register Inventory metric threshold as lifecycle rule"
Relates to https://github.com/elastic/kibana/issues/98360 meta-issue

[2021-07-15 12:11] ymao1 opened #105747 "[Alerting UI] Add indicator to rule details page when an associated connector is broken"
If a rule has actions that use connectors that have been deleted/don't exist, it would be nice to have an indicator that there is an issue on the rule details page. In these cases, the action execution will fail but these errors are not bubbled up to the UI in any way, and the only other UI indicator that these connectors are broken exist on the edit rule flyout, so user would have to open the rul

[2021-07-15 12:12] elasticmachine commented on #105747
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-15 12:14] gmmorris commented on #104744
Feels like this overlaps with https://github.com/elastic/kibana/issues/100105, can we consolidate them into one?

[2021-07-15 12:16] pmuellr commented on #84217
@n0othing - there is already some implicit support for array joins and json-ification.  When you use an array object as a bare mustache variable, it will be rendered as if you had done `arrayValues.join(',')`.  If you use a non-primitive object (eg, `{a: 42}` as a bare mustache variable, it should render as if you had done `JSON.stringify(objectValue)`.

[2021-07-15 12:25] jonathan-buttner commented on #90761
@machadoum is the `Error loading map features` expected when there are mapping issues? I think the Mapping team fixed the toast shard failures right? @deepikakeshav-qasource can you confirm that there are no more shard failure messages?

[2021-07-15 12:38] pmuellr commented on #84217
Realizing that I haven't provided a reference to the existing mustache "functions" supported by elasticsearch - they seem to be documented here: https://www.elastic.co/guide/en/elasticsearch/reference/7.13/search-template.html

Quick take on them:

- ["set default values" - `{{my-var}}`](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/search-template.html#search-template-set-default-v

[2021-07-15 12:40] nreese commented on #75531
closed by https://github.com/elastic/kibana/pull/100487

[2021-07-15 12:40] #75531 closed

[2021-07-15 12:44] muskangulati-qasource opened #105749 "[Security Solution] The analyzer throws an error for the mac EICAR Prevention alert"
**Describe the feature**
The analyzer throws an error for the mac Prevention alert

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Trigger a prevent alert for the Mac
2. Navigate to the Alerts tab
3. Click on analyzer for the mac prevent alert
4. Observe the error is thrown for the same

**Test data**
N/A

**Impacted Test c

[2021-07-15 12:44] elasticmachine commented on #105749
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-15 12:44] elasticmachine commented on #105749
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-15 12:48] shahzad31 commented on #48644
i think we already use post filter. Closing this. Feel free to repen if you think otherwise.

[2021-07-15 12:48] #48644 closed

[2021-07-15 12:49] monfera opened #105750 "Last item of the menu is obscured by the hovered URL and it's not possible to scroll a bit past that"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Chrome: 91.0.4472.114

**Browser OS version:**
OS X

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Needlessly obscured menu item

**Steps to reproduce:**
1. Scroll to the bottom of the long side menu
2. Hover over an item
3. The last menu item is no

[2021-07-15 12:49] elasticmachine commented on #105750
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 12:50] #105385 closed

[2021-07-15 12:52] arisonl commented on #95387
Another enhancement would be a business justification text area. Users required to provide the reason why they log in, then record it in our audit logs.

[2021-07-15 12:52] manishgupta-qasource commented on #105749
Reviewed & assigned to @kevinlog

[2021-07-15 12:58] scottdfedorov commented on #84217
The array field will join the entires with commas, however the problem with this is, it does not become valid JSON.

For example, if given the following json in a Kibana Alert action,
[code]

Where "tags" is an array containing three tags, then what is output is the following:

[code]

Which is not a valid JSON Array. There needs to be quotes around each of them.

What we need in the tags field is

[2021-07-15 13:03] monfera opened #105753 "Dark mode toggle, theme selection are buried way underneath, so a page reload disrupts where the user is on the page"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Some of the Advanced settings require a page reload, but a page reload will of course land the user on the top of the page. Dark mode and theme selection is way below the fold, r

[2021-07-15 13:03] elasticmachine commented on #105753
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 13:08] deepikakeshav-qasource commented on #90761
Hi @jonathan-buttner ,

We have validated that on **7.14.0 BC3** build and observed that no shards failure messages are displaying on network tab.

**Build Details:**
[code]

**Screen Recording:**

https://user-images.githubusercontent.com/61860752/125793255-8c6b08c5-7e4d-4d42-8bc0-018d5e433a39.mp4

Thanks!!

[2021-07-15 13:08] monfera opened #105754 "Main side menu bar hamburger does a weird thing when menu is already open"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Current chrome

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Clicking on the hamburger when the side menu is already open performs a weird close/open interaction. It should just close the menu instead. Not sure if it matters

[2021-07-15 13:08] elasticmachine commented on #105754
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 13:12] jsanz opened #105755 "[Index Management] Link to ILM in Index Template is only present for legacy"
**Kibana version:**
7.14.0-SNAPSHOT

**Browser version:**
`Version 1.26.74 Chromium: 91.0.4472.124 (Official Build) (64-bit)`

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Staging cloud

**Describe the bug:**
When an Index Template has an attached ILM policy, there is no link in the details flyout for new type, only for legacy.

**

[2021-07-15 13:12] elasticmachine commented on #105755
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 13:13] Dosant commented on #104379
I just tested using the same exact steps:
* I didn't get into an error state
* I indeed see 2 searches instead of 1

I assume the error state was caused by something else, and not by the steps from the description.

![Screen Shot 2021-07-15 at 15 12 53](https://user-images.githubusercontent.com/7784120/125793927-1b77e8d3-fce6-49f4-b9f2-039d1869585f.png)

[2021-07-15 13:16] elasticmachine commented on #105749
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-15 13:17] kevinlog commented on #105749
FYI @asnehalb @XavierM - this bug came in last night.  I'm getting the Alert data and I can give you the server information.  We can talk offline about what else you need to repro

[2021-07-15 13:20] kevinlog commented on #105749
Here's the JSON data for the offending alert:
[code]

[2021-07-15 13:25] dgieselaar opened #105757 "[UX] App no longer starts up after APM app routing changes"
After https://github.com/elastic/kibana/pull/104274 was merged, the UX no longer starts up, as it uses APM app components that expect @kbn/typed-react-router-config being used, but that is not the case for the UX app. The following error appears in the console:

<details>

[code]
</details>

[2021-07-15 13:25] elasticmachine commented on #105757
Pinging @elastic/uptime (Team:uptime)

[2021-07-15 13:25] elasticmachine commented on #105757
Pinging @elastic/apm-ui (Team:apm)

[2021-07-15 13:31] pgayvallet opened #105758 "[SO Migration] Improve the alias detection"
Currently, the system will attempt to try the migration if either the `versionAlias` or the `currentAlias` is missing.

In theory, as both alias are created at the same time atomically during the `MARK_VERSION_INDEX_READY` step, they should both be either existing or non-existing.

However, in some case of migration failures requiring manual intervention, a human mistake may cause to have only one

[2021-07-15 13:31] elasticmachine commented on #105758
Pinging @elastic/kibana-core (Team:Core)

[2021-07-15 13:33] dgieselaar commented on #78430
I want to highlight the importance of this being addressed on a fairly short term. I cannot speak to product priorities, but the fact that these apps are intertwined, but managed by separate teams, is making it easy for bugs to creep in and is holding us back in clearing out technical debt. Here are two recent issues:

https://github.com/elastic/kibana/issues/105757
https://github.com/elastic/kiba

[2021-07-15 13:35] muskangulati-qasource commented on #102875
Hi @kevinlog,

We tested this issue on 02 different platforms [ 7.14.0-SNAPSHOT and 7.14.0-BC3 ] and found that issue is now fixed on both builds .

Please find below the testing details:

### Build Details:

VERSION: 7.14.0-SNAPSHOT
BUILD: 42541
COMMIT: 325493c86b4f58c308a3eb1f8bcfe5994a54533a
ARTIFACT: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

VERSION: 7.14.0-BC3
BUILD: 42545
C

[2021-07-15 13:36] #102875 closed

[2021-07-15 13:36] muskangulati-qasource commented on #105408
Hi @ferullo,

We tested this issue on 02 different platforms i.e. 7.14.0-SNAPSHOT and 7.14.0-BC3 and found that issue fixed. The agent does not go to an offline state.

However, we have observed that the MacOs always report isolation failure.

Please find below the testing details:

### Build Details:
**1**
VERSION: 7.14.0-SNAPSHOT
BUILD: 42541
COMMIT: 325493c86b4f58c308a3eb1f8bcfe5994a54533a
ARTI

[2021-07-15 13:38] monfera opened #105759 "Monaco continues to show an error even when switching away from painless"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Go to Ingest Node Pipelines UI --> Create a pipeline --> Add a processor --> Select "Script" processor
2. Add an invalid painless script to the "Sourc

[2021-07-15 13:38] elasticmachine commented on #105759
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 13:42] #105548 closed

[2021-07-15 13:44] jonathan-buttner commented on #105749
@muskangulati-qasource could you provide more details about the file you're using to trigger a prevention alert? I see that the name of the file is `NewAlertFile`. Is it a particular type of malware etc?

[2021-07-15 13:44] lizozom commented on #104379
I also wasn't able to reproduce.
Closing for now.

[2021-07-15 13:44] #104379 closed

[2021-07-15 13:45] justinkambic commented on #105529
++ we need to provide a stable default, and also assign a color for `xhr`, and this should fix the bug. I will put up a PR later today.

[2021-07-15 13:46] kevinlog commented on #105749
@jonathan-buttner I can give you a set of files to use offline

[2021-07-15 13:47] MadameSheema commented on #104371
@deepikakeshav-qasource can you please validate this issue on BC3? Thanks

[2021-07-15 13:50] mistic commented on #93188
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 1a47c05
7.x/7.15: b69f400

[2021-07-15 13:54] MadameSheema commented on #90761
@deepikakeshav-qasource what is missing to close the issue?

[2021-07-15 13:56] elasticmachine commented on #105744
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-15 13:56] mshustov commented on #105692
To clarify in the functional requirements:

Should it be integrated with Upgrade Assistant? Telemetry?

Should the message be i18n?

In addition to the depreciation, we should document the URL versioning policy. Kibana used to rely on URL versioning (`../v1/...`), however, most URL do not rely on this pattern.

[2021-07-15 13:57] jonathan-buttner commented on #105749
Thanks for finding this @muskangulati-qasource we should definitely add some protections in Analyzer to prevent the error you're seeing. I think this is originating from the endpoint sending the same `process.entity_id` and `process.parent.entity_id`. I'm going to remove Kevin as the assignee and move this to Threat Hunting to be prioritized.

cc: @XavierM @asnehalb

[2021-07-15 13:58] lposani commented on #23914
Would be nice to have updates on this.

[2021-07-15 13:59] MadameSheema commented on #101724
@karanbirsingh-qasource can you please validate it on BC3 and close it? thanks

[2021-07-15 14:03] paulb-elastic commented on #105529
@justinkambic there is an `other` colour defined in the legend, we should use that for the chart
![image](https://user-images.githubusercontent.com/70908889/125801173-aa806e8b-87bd-4895-8ce8-467db6e7dba2.png)

[2021-07-15 14:03] elasticmachine commented on #105566
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-15 14:03] deepikakeshav-qasource commented on #90761
Hi @MadameSheema,

"Error loading map features" is displaying when clicking on source countries marked on the map. Please let us know if it is expected.

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/125765714-5a6e2d78-586e-4c42-9d5b-c6fd03706397.png)

Thanks!!

[2021-07-15 14:04] justinkambic commented on #105529
@paulb-elastic should we not also define a color for XHR? Right now, there's no color defined for XHR. It's displayed as a category, so it should have a color as well. I agree that the default `mime_type` color should match `Other`.

[2021-07-15 14:05] MadameSheema commented on #103639
@deepikakeshav-qasource can you please validate the fix of this issue? thanks

[2021-07-15 14:06] elasticmachine commented on #105731
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-15 14:06] MadameSheema commented on #90761
@jonathan-buttner @machadoum any update?

[2021-07-15 14:08] dokmic opened #105763 "[Canvas] Incorrect behavior of the dropdown filter without value"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Safari, Firefox, Chrome, Edge
**Browser OS version:** macOS 11.2.3, Windows 10
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
The dropdown filter is not draggable and resizable when it has no value. Apart from that, dragging

[2021-07-15 14:08] elasticmachine commented on #105763
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 14:23] jen-huang commented on #105730
This is currently by design so it's not a bug but I agree it would be a good enhancement.

[2021-07-15 14:24] wylieconlon opened #105770 "[Lens] Don't suggest a reduced metric when using non-primary timefield"
Currently, when using the non-primary time field you get a confusing mix of time fields in suggestions:

<img width="504" alt="Screen Shot 2021-07-15 at 10 16 33 AM" src="https://user-images.githubusercontent.com/666475/125803534-f3fb5566-8110-4699-9f51-7e959f7ee673.png">

The problem is that the user is viewing a non-primary timefield, but the data in the metric uses the primary timefield. This s

[2021-07-15 14:24] elasticmachine commented on #105770
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 14:25] ymao1 commented on #101582
@pmuellr The failure messages show up in the Kibana logs. Do cloud customers have access to the Kibana logs?

[2021-07-15 14:28] alisonelizabeth commented on #105759
Thanks for opening this @monfera! Would you mind providing a `gif` of this issue? I'm not able to reproduce. Monaco _should_ be resetting the error markers when the language changes per the code, [#L43](https://github.com/elastic/kibana/blob/master/packages/kbn-monaco/src/painless/diagnostics_adapter.ts#L43).

[2021-07-15 14:32] dokmic opened #105775 "[Canvas] Unexpected drag-and-drop behavior of the dropdown filter on macOS"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Firefox 89.0.2, Safari 14.0.3
**Browser OS version:** macOS 11.2.3
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
The dropdown filter element becomes draggable after a value selection. The bug is reproducible in both Safari

[2021-07-15 14:32] elasticmachine commented on #105775
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 14:35] #101344 closed

[2021-07-15 14:36] justinkambic commented on #105529
I think if we use palette item 1 - it seems to not be in use yet, and it seems to be ok from an accessibility standpoint as well.

![image](https://user-images.githubusercontent.com/18429259/125800802-8a952ed3-9941-4a6d-bbed-a1518d9f356e.png)

![image](https://user-images.githubusercontent.com/18429259/125800969-4c7dcd3d-6d40-41b3-9487-45b9a7dae637.png)

![image](https://user-images.githubusercont

[2021-07-15 14:39] dokmic opened #105778 "[Canvas] The time filter is showing dates after dragging"
**Kibana version:** 7.14
**Elasticsearch version:** 7.14
**Server OS version:** macOS 11.2.3
**Browser version:** Safari, Firefox, Chrome, Edge
**Browser OS version:** macOS 11.2.3, Windows 10
**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**
The time filter is showing dates after dragging.

**Steps to reproduce:**
1. Create a workpad.
2.

[2021-07-15 14:39] elasticmachine commented on #105778
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 14:43] kpollich commented on #104241
@kaiyan-sheng are you able to verify whether this issue still occurs? I'm unable to start Docker containers even after running the above `elastic-package stack update -v` command:

![Screen Shot 2021-07-15 at 10 41 16 AM](https://user-images.githubusercontent.com/6766512/125807300-28300c8f-022f-44fc-8bd0-409de54d0a94.png)

Also @mtojek if you have any insight into how I can get up and running to v

[2021-07-15 14:44] estermv opened #105779 "[Metrics UI] Add functional tests for Metrics explorer saved views"
Add functional tests for the following use cases:

* Verify that a view can be saved
* Verify a view can be loaded
* Verify that a view can be updated
* Manage views:
   * Verify a saved view can be starred
   * Verify that the starred view loads when the localStorage is empty
   * Verify a view can be deleted

**NOTE**: this is not an exhaustive list of what needs to be tested. Check the linked i

[2021-07-15 14:44] elasticmachine commented on #105779
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 14:44] vigneshshanmugam commented on #105529
Pasting from slack thread below,

I am not sure if thats where we want to go, We want to keep them similar to other synthetic tools like webpage test (have a few predefined colors and keep every other mime type or timing points in default unknown category).

This makes it easy for the user to understand the colors without having to memorize every color code. Also the UI would be better with fewer

[2021-07-15 14:45] estermv commented on #104652
Some behavior can be tested by unit tests. For other use cases, there is a ticket to add functional tests https://github.com/elastic/kibana/issues/105779

[2021-07-15 14:45] #104652 closed

[2021-07-15 14:51] peluja1012 commented on #98283
@karanbirsingh-qasource please retest. Fix was merged https://github.com/elastic/kibana/pull/99442.

[2021-07-15 14:53] justinkambic commented on #105529
I see - the issue here from a code standpoint is not which color we use, it's that we're currently not using _any_ color. So we can reuse a color; we just need to define one for XHR to fix the issue.

[2021-07-15 14:53] MadameSheema commented on #98283
@karanbirsingh-qasource please check the fix of the issue on BC3. Thanks

[2021-07-15 14:56] monfera commented on #105759
Hi @alisonelizabeth I did this in the Condition block (same as with the above static shot):

https://user-images.githubusercontent.com/1548516/125809540-5d2b7492-677c-4143-bcfb-2033de6a8428.mp4

[2021-07-15 14:57] MadameSheema commented on #104442
@deepikakeshav-qasource can you please check if this is still happening on the latest BC? Thanks

[2021-07-15 14:57] estermv opened #105782 "[Metrics UI] Add functional tests for Metric Explorer basic functionality"
Add functional tests for the following use cases:
* Verify that when you don't have any metric on the metric bar a "Missing Metric" message shows on the screen
* Verify that on page load a chart is rendered with some metrics
* Verify that you can "graph per" some field and you have multiple charts
* Verify state is saved when navigating to other pages
* Verify you can customize the chart

**NOTE**

[2021-07-15 14:57] elasticmachine commented on #105782
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 14:58] monfera commented on #105759
Also, for some reason, I do _not_ get an error report in the Source panel when I clear the language field:
![image](https://user-images.githubusercontent.com/1548516/125809869-26741f5c-7309-4fdd-b482-8cc8ba996089.png)

![image](https://user-images.githubusercontent.com/1548516/125809951-0914efde-62f6-4771-901f-fc0fc9c3ce9c.png)

Also, I erased the Condition, and still get a squiggly there:

![imag

[2021-07-15 14:59] alisonelizabeth commented on #105759
Ah! I missed that in your screenshot. I see the issue now in the `Condition` block. I will look into it.

[2021-07-15 14:59] estermv commented on #104646
Some behavior can be tested by unit tests. For other use cases, there is a ticket to add functional tests https://github.com/elastic/kibana/issues/105782

[2021-07-15 14:59] #104646 closed

[2021-07-15 15:00] mtojek commented on #104241
Did you take them down before?

[code]

[2021-07-15 15:00] monfera commented on #105759
I also have an error in the console, not sure when it appeared, I'll reload the browser page with an open console to see. "Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'unsafe-eval' 'self'". Either the 'unsafe-inline' keyword, a hash ('sha256-P5polb1UreUSOe5V/Pv7tc+yeZuJXiOi/3fqhGsU7BE='), or a nonce ('nonce-...') is required to

[2021-07-15 15:02] monfera commented on #105759
fwiw I get the above single error message in the dev console right at page loading time, not even when I go into "Add a processor" or "Script"

[2021-07-15 15:03] liza-mae commented on #105352
Sorry @Dosant I missed the cc on the review request.  Yes we can update, I will do it now, but for future reference the file below is what should be updated/backported.  Thanks!

https://github.com/elastic/elastic-stack-testing/blob/master/ci/cloud/product/settings/kibana.yml

[2021-07-15 15:05] monfera commented on #105759
Here's a repro vid from the beginning that shows that the error squigglies and tooltip message don't return, there may be some statefulness issue:

https://user-images.githubusercontent.com/1548516/125811018-f767fc5a-11e4-40ef-b6b0-02dcefa3d298.mp4

[2021-07-15 15:06] liza-mae commented on #105352
Settings has been added.

[2021-07-15 15:06] #105352 closed

[2021-07-15 15:08] ecezalp commented on #104811
I have followed the steps outlined above and was unable to reproduce the bug (404).

Taking a closer look to the image attached above, the link on the browser appears to be the correct.
currently, the same [link](https://www.elastic.co/guide/en/beats/filebeat/7.14/filebeat-module-threatintel.html) displays the appropriate documentation.

My guess is that when this bug was filed, the filebeat docum

[2021-07-15 15:08] #104811 closed

[2021-07-15 15:09] ghudgins commented on #100346
waiting on @gingerwizard to tell us if we should proceed with this in 7.15 (see https://github.com/elastic/kibana/pull/100410)

[2021-07-15 15:10] snide commented on #82851
Popping on this thread to bump this from a UX perspective. To a new Cloud user these empty assets come across as broken. More importantly, large parts of our current UX flow are built around the question "do they have data yet"? Currently those flows aren't firing because _technically_ they do have data. This directly hurts our Cloud funnel KPIs.

I think the solution here is primarily an engineer

[2021-07-15 15:10] ghudgins commented on #103701
lets do the fix in Kibana for now and propose changes to EUI based on what we learn

[2021-07-15 15:14] kpollich commented on #104241
I did. Here's the output of taking the stack, down, updating, and attempting to bring it back up:

[code]

[2021-07-15 15:15] kibanamachine opened #105784 "Failing test: Jest Tests.x-pack/plugins/observability/public/components/shared/field_value_suggestions - FieldValueSuggestions calls oncChange when applied"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15546/)

[2021-07-15 15:22] alisonelizabeth commented on #105759
Thanks for providing more context @monfera!

There are a few different issues here, let me try to recap:

1. The "Condition" editor still shows an error when changing "Language" text field (original issue)

   Upon further investigation, I believe this is actually working as expected. [Per the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest.html#conditionally-run-proce

[2021-07-15 15:23] jasonrhodes opened #105785 "[RAC] Formatted reason per alert should be stored in alert document"
The "reason" field that a rule type specifies when using the Rule Data Service should be indexed in the Alert document. This value will be a default reason value, eventually it may be over-ridden by the rule instance itself (at rule creation time) but that is not a requirement for now.

The reason should be stored at `kibana.alert.reason`.

The UI Alerts Table should read from this value.

[2021-07-15 15:23] elasticmachine commented on #105785
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 15:23] #104207 closed

[2021-07-15 15:24] mtojek commented on #104241
Hm... that's really weird. Have you just fetched sources (or go-get) for elastic-package or have you done it in the past (a month ago)? I'm trying to figure out why it fails in your case (CI reports the healthy status for the stack).

Could you please grab logs for the unhealthy container (in this case "b3bfff23b23d")?

[2021-07-15 15:27] cjcenizal commented on #75608
Closing this one as it looks due to a transient error (lost network connection).

[2021-07-15 15:27] #75608 closed

[2021-07-15 15:27] cjcenizal commented on #75102
Because the error was due to a timeout, I'm guessing this was resolved by https://github.com/elastic/kibana/pull/75240.

[2021-07-15 15:27] #75102 closed

[2021-07-15 15:28] cjcenizal commented on #75117
Because the error was due to a timeout, I'm guessing this was resolved by https://github.com/elastic/kibana/pull/75240.

[2021-07-15 15:28] #75117 closed

[2021-07-15 15:29] cjcenizal commented on #88301
I'm not sure what could have caused this failure based on the error, and the Jenkins output has been pruned so we can't diagnose it. I'm going to close this since it first occurred several months ago and hasn't occurred since.

[2021-07-15 15:29] #88301 closed

[2021-07-15 15:30] monfera opened #105788 "Ambiguous messaging in rollup job creation"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Current chrome on OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Do the screenshot (I did it by following [this](https://elastic.testrail.io/index.php?/runs/view/2046&group_by=cases:section_id

[2021-07-15 15:30] elasticmachine commented on #105788
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 15:32] kpollich commented on #104241
Ah looks like my Docker resource limits were all set to defaults that were much too low. Bumping them up to be more in line with yours got my stack up and running. Thanks for all your help!

@kaiyan-sheng - now that I'm able to get the `elastic-package stack` command up and running, I'm seeing that the original issue is resolved. AWS Billing, Dynamo DB, Cloudtrail, etc all link to the proper READM

[2021-07-15 15:36] legrego commented on #101582
This wouldn't do exactly what you're asking for, but something akin to https://github.com/elastic/kibana/issues/92654 might help: If we can detect that the Kibana instance that's performing the migration has an encryption key that differs from what we expect, then we can choose to abort the migration. This is still pretty high-level, and I expect we'd need to introduce a new hook or concept into c

[2021-07-15 15:39] kobelb commented on #101582
Until we have https://github.com/elastic/kibana/issues/92654, or some other way to approximate what I consider to be the ideal solution, my preference is that we implementation solution 3 and log a warning every time that decryption fails. I'm hesitant for us to completely fail the upgrade just because a single alert can't be decrypted properly.

[2021-07-15 15:42] dolaru opened #105789 "[ML] Visual indicator for anomaly detection job blocks"
Anomaly detection jobs can sometimes be blocked by a pending task like model snapshot reverting for example. As long as blocks are applied, some job actions are restricted.

Currently, the only way to see if a job is blocked is by viewing the raw JSON config. Having a visual indicator signalling that the job is blocked in the job list would make it easier to see this at glance. Ideally, while the

[2021-07-15 15:42] elasticmachine commented on #105789
Pinging @elastic/ml-ui (:ml)

[2021-07-15 15:50] FrankHassanabad opened #105791 "Failing test: Cypress Actions with prebuilt rules"
We started seeing flake on this test only in `7.x`:
https://github.com/elastic/kibana/pull/105700

It might have to do with a missing backport or something else, but we are skipping `7.x` with it to start and then will do a skip also on master, then do an unskip off of master and try to re-backport yet again.

PR which synced the other two branches even though this only fails on `7.x` we want to a

[2021-07-15 15:51] elasticmachine commented on #105791
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-15 15:52] monfera opened #105792 "Rollup creation and cloning warn of duplicate job name only at the end of the wizard"
**Kibana version:**

**Elasticsearch version:**
7.14

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Clone a rollup job; eg. 'hoho' will be autonamed as 'hoho-copy'; leave it as it is
2. Now clone 'hoho' again. It'll let you go through the *entire* wi

[2021-07-15 15:52] elasticmachine commented on #105792
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 15:54] #98247 closed

[2021-07-15 15:54] monfera commented on #105792
cc @yuliacech

[2021-07-15 15:59] monfera commented on #105792
Btw. I wonder if it's by design that rollup jobs cant be modified. It may be motivated by preexisting rollups created, and cloning helps the definition of a derivative job (ie. avoid a lot of field entry if eg. only the time binning changes). Though I don't think that the deletion of a rollup *job* will delete previously created rollup index additions anyway. All in all I see no harm in allowing t

[2021-07-15 16:04] estermv opened #105793 "[Metrics UI] Add functional tests for Inventory alerts"
Add functional tests for the following use cases:
* Verify that an alert can be created from the alerts dropdown
* Verify that an alert can be created from the waffle map with the correct fields auto populated

Should we add functional testing also to verify that we can create alerts from the central alert management UI?

**NOTE**: this is not an exhaustive list of what needs to be tested. Check t

[2021-07-15 16:04] elasticmachine commented on #105793
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 16:05] estermv commented on #104650
Added issue to add functional tests for this https://github.com/elastic/kibana/issues/105793

[2021-07-15 16:11] estermv opened #105796 "[Metrics UI] Add functional tests for metric threshold alerts"
Add functional tests for the following use cases:
* Verify that an alert can be created from the "Actions" menu next to a chart and the alert details are correctly populated
* Verify that an alert can be created from the alerts dropdown

Should we add functional testing also to verify that we can create alerts from the central alert management UI?

**NOTE**: this is not an exhaustive list of what

[2021-07-15 16:11] elasticmachine commented on #105796
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-15 16:11] hop-dev commented on #105648
@mostlyjason is this what you were thinking? https://github.com/elastic/kibana/pull/105795

Is there also a terminology mismatch here between "Name" in the label and "namespace" in the description?

[2021-07-15 16:11] monfera commented on #105759
Thanks Alison for the details!

I agree with this. I had some suspicion that the language selection is only for the top part; the visual hierarchy isn't super clear (the language field and the Source panel could be a bit more directly coupled). The Condition field might need an immutable painless language determination or other indication that it's painless. An aside, I find it weird that the lang

[2021-07-15 16:11] estermv commented on #104645
Added issue to add functional tests https://github.com/elastic/kibana/issues/105796

[2021-07-15 16:11] #104645 closed

[2021-07-15 16:12] kibanamachine opened #105797 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail_mb·js - Monitoring app Elasticsearch node detail mb Advanced Active Nodes "before all" hook for "should show node summary of master node with 20 indices and 38 shards""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15546/)

[2021-07-15 16:17] poffdeluxe commented on #105511
This is looking like just an issue with the cloud instance not having the 4GB of RAM for reporting. Closing for now

[2021-07-15 16:17] #105511 closed

[2021-07-15 16:27] monfera opened #105802 "Couldn't delete index template"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Chrome current, OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Did the test script of adding an index template via the Kibana console (CURL), step T586144 in the process:

Btw. it doesn't seem

[2021-07-15 16:30] elasticmachine commented on #105802
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 16:30] monfera commented on #105802
cc @yuliacech @jsanz

[2021-07-15 16:30] alisonelizabeth opened #105803 "[Ingest Node Pipelines] Improve script processor UX"
The current UX when creating a script processor via the Ingest Node Pipelines UI can be improved.

Suggested changes:
1. Change the "Language" text field to a dropdown. Per the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting.html#scripting-available-languages), the accepted languages are: `painless`, `expression`, `java` and `mustache`. The default selection

[2021-07-15 16:31] elasticmachine commented on #105803
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 16:34] alisonelizabeth commented on #105759
Agreed. I've opened https://github.com/elastic/kibana/issues/105803 to address the UX concerns separately.

Would you mind opening up a separate issue for this? It seems possibly unrelated to monaco.

The other issues you found related to the validation handling should be addressed via https://github.com/elastic/kibana/pull/105799.

[2021-07-15 16:36] alisonelizabeth commented on #105803
/cc @dborodyansky curious on your thoughts on how to best address the second point in this issue.

[2021-07-15 16:40] monfera opened #105805 "Not possible to save an index template change at arbitrary places, only at the end of the wizard"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Change something in an existing index template, eg. add an index pattern to it
2. To save it, most users will step through the wizard; _some_ users wi

[2021-07-15 16:40] elasticmachine commented on #105805
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 16:46] jen-huang commented on #105648
@hop-dev It's actually that we need to move the text under "Namespace" field, which is what the text is referring to. Namespace field is under the Advanced options toggle:
![image](https://user-images.githubusercontent.com/1965714/125826131-c0a858d5-07d9-433f-baca-16f3a0deb954.png)

[2021-07-15 16:48] monfera opened #105806 "Can't cancel the edits made in an index template wizard"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Make arbitrary changes to an index template on its various "wizard" pages (not a proper wizard b/c a wizard is creation-time only; it's more like a tabbed

[2021-07-15 16:48] elasticmachine commented on #105806
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 16:49] ThomThomson opened #105807 "[Reporting] [Dashboard] Unable to Generate PDF/PNG Reports After Discarding Changes"
**Kibana version:** Master

**Describe the bug:** If the user makes changes to a dashboard and discards them (by returning to View mode) instead of saving them, they will be unable to generate a PNG or PDF report until they enter and exit edit mode again.

**Steps to reproduce:**
1. Load an existing dashboard. Verify that you are able to share via PDF / PNG
2. Enter edit mode
3. Move a panel sligh

[2021-07-15 16:49] elasticmachine commented on #105807
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 16:50] timroes opened #105808 "[Lens] Switch to SavedObjectClient.resolve"
We need to switch over to `SavedObjectClient.resolve` instead of `.get` in the 8.0 release. This issue tracks work for the `lens` and `lens-ui-telemetry` saved object loading.

This issue will also track progress for making Lens Saved Object share-capable. It has currently `nameSpaceType: single`.
It should be updated to `multiple_isolated`.

We could still consider switching over the lens telemet

[2021-07-15 16:50] elasticmachine commented on #105808
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 16:51] timroes opened #105809 "[Visualize] Switch to SavedObjectClient.resolve"
We need to switch over to `SavedObjectClient.resolve` instead of `.get` in the 8.0 release. This issue tracks work for the `visualization` saved object loading.

For more details see https://github.com/elastic/kibana/issues/100489

[2021-07-15 16:51] elasticmachine commented on #105809
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 16:53] timroes opened #105810 "[Discover] Switch to SavedObjectClient.resolve"
We need to switch over to SavedObjectClient.resolve instead of .get in the 8.0 release. This issue tracks work for the `search` saved object loading.

For more details see #100489

[2021-07-15 16:53] elasticmachine commented on #105810
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 16:54] monfera opened #105811 "Template management UI requires unnecessary clicks"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. View an index template
2. The almost empty bottom bar only show a "Manage" button
3. Clicking it shows 3 buttons

**Expected behavior:**
There's ample

[2021-07-15 16:54] elasticmachine commented on #105811
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 16:55] timroes opened #105812 "[Graph] Switch to SavedObjectClient.resolve"
We need to switch over to SavedObjectClient.resolve instead of .get in the 8.0 release. This issue tracks work for the `graph-workspace` saved object loading.
This issue will also track progress for making Graph Saved Object share-capable. It has currently `nameSpaceType: single`.  It should be updated to `multiple_isolated`.
For more details see #100489

[2021-07-15 16:55] elasticmachine commented on #105812
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 17:04] alisonelizabeth commented on #105802
I believe this error occurs because the template is being used by a data stream and therefore cannot be deleted.

I see the full error in the response:

[code]

This is not clear in the current UI. I think the preferred approach would be to disable deletion if the template is currently in use. If this isn't possible, we should surface the full error message in the UI (related to https://github.com

[2021-07-15 17:04] monfera opened #105813 "Usability items on the template management UI: tab names and help for some fields"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the issue:**

Issue 1: "Logistics" is a rather problematic name for the first tab; it's misleading, and gives a beta software feel

Issue 2: "Index settings" is also a misnomer. The entire

[2021-07-15 17:11] kibanamachine commented on #105784
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15548/)

[2021-07-15 17:12] nreese commented on #105115
@pgayvallet @joshdover @jportner

I wanted to give an update on moving tile_map and region_map visualization implementations to MapEmbeddable. The [PR](https://github.com/elastic/kibana/pull/105326) has progressed well and it has been verified that the implementation will work for both tile_map and region_map. The only UI wrinkle is that editing tile_map and region_map visualizations will require

[2021-07-15 17:12] ferullo commented on #105408
Thanks @muskangulati-qasource . The fact that you could reliably isolate and release now closes this issue out. The fact that KIbana always says "host isolation failed" even when it succeeds is covered by  https://github.com/elastic/kibana/issues/105477

[2021-07-15 17:19] jbudz commented on #105784
skipped
main: 9e9dfe2
7.x: 43cab2d

[2021-07-15 17:33] alisonelizabeth opened #105818 "[Dashboard] [Safari] Text cutoff on unsaved changes badge"
**Kibana version:**
7.14

**Describe the bug:**
In Safari, the "Unsaved changes" badge does not display the full text.

**Steps to reproduce:**
1. Using Safari, navigate to Dashboard and create a new dashboard.
2. Add a visualization and save.
3. Note the "Unsaved changes" badge appears, but ellipsis shows with the text: "Unsaved chang..."

**Expected behavior:**
This is a minor issue, but it'd be

[2021-07-15 17:33] elasticmachine commented on #105818
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 17:34] peluja1012 opened #105819 "[Security Solution] Handle SavedObjects breaking changes for 8.0"
Related issue: https://github.com/elastic/kibana/issues/100489

Before the 8.0 release (during 7.x): Make sure that existing saved object types are using references correctly to link to other objects. If you are linking to other objects and you aren't using the root-level references field, it will break in 8.0.

- [x] https://github.com/elastic/kibana/issues/101975
- [x] https://github.com/elastic

[2021-07-15 17:34] elasticmachine commented on #105819
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-15 17:34] elasticmachine commented on #105819
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-15 17:36] kobelb commented on #105692
A long-time ago, the decision was made that we shouldn't be versioning our HTTP APIs using URLs, and they should be versioned along with the stack. I'm all for reopening this discussion, as this approach is rather cumbersome in some situations, especially when we only want to change the HTTP response format. However, I think we need to have this discussion separately and include the Elasticsearch

[2021-07-15 17:38] jportner commented on #105819
To add to this:

Any "deep linked" pages that use saved object IDs will also need to be updated to use the new `resolve()` API to retrieve the associated saved object, and handle the three different outcomes. Details are in the meta-issue #100489.

[2021-07-15 17:42] ghudgins commented on #86184
+1

[2021-07-15 17:43] thomasneirynck opened #105821 "[Maps] Add drawing layer telemetry"
Add telemetry for drawing layer-type.

[2021-07-15 17:43] elasticmachine commented on #105821
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-15 17:44] monfera opened #105822 "Duplicate name error in index template creation is signaled only at the end of the wizard"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Create an index template with a duplicate name
2. Go through the pages
3. You only get an error once you want to save it

**Expected behavior:**
It sh

[2021-07-15 17:44] elasticmachine commented on #105822
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 17:48] elasticmachine commented on #90859
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 17:53] elasticmachine commented on #90439
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 17:56] #104119 closed

[2021-07-15 17:56] #104121 closed

[2021-07-15 18:29] #104117 closed

[2021-07-15 18:34] alisonelizabeth opened #105826 "[Dashboard] No field error message with invalid date filter value"
**Kibana version:**
7.14

**Describe the bug:**
When adding a filter for a dashboard that requires a date format value (e.g., `@timestamp` field), there is no field error message in the UI indicating why the input is invalid.

**Steps to reproduce:**
1. Using the kibana sample data, go to dashboard and create a dashboard with a visualization.
2. Add a filter that requires a date format, e.g., the

[2021-07-15 18:34] elasticmachine commented on #105826
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 18:35] elasticmachine commented on #89315
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 18:37] monfera commented on #105822
There is a likely related issue: changing the name from a duplicate name to a legit name doesn't remove the error, and it doesn't even yield the same treatment that adding the original bad name yielded (which did NOT show an error until trying to save it):

https://user-images.githubusercontent.com/1548516/125839810-e6c984ff-357b-46db-869f-ccfa32c2ffa2.mp4

Of course, there's some chance that some

[2021-07-15 18:41] wylieconlon opened #105827 "[Lens] Datagrid cells are not aligned correctly until user interaction"
This is happening in both the Lens editor and in dashboards on master. Steps to reproduce:

1. Create a Lens table with a number column, which should be aligned right by default
2. Hover over the number cells and they will realign to the right.

![lens table alignment issues](https://user-images.githubusercontent.com/666475/125840347-e3afce91-9df8-4a46-a2d2-c193f3c30a20.gif)

[2021-07-15 18:41] elasticmachine commented on #105827
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 18:45] bhavyarm commented on #101021
This bug is back on 7.13.4 on cloud -
<img width="1792" alt="Screen Shot 2021-07-15 at 2 45 06 PM" src="https://user-images.githubusercontent.com/7074629/125840874-01945148-d9a3-42dc-b753-c06bcb9ed8b7.png">

[2021-07-15 18:48] elasticmachine commented on #75609
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-15 18:57] bhavyarm commented on #101021
On local you can see its printing but layout is off -
![Uploading Screen Shot 2021-07-15 at 2.57.13 PM.png…]()

[2021-07-15 19:04] justinkambic commented on #104765
Checked this on local 7.14 branch, looking good 👍
![image](https://user-images.githubusercontent.com/18429259/125843289-325ccfb8-e189-4150-bb69-f74251d6dbd9.png)

[2021-07-15 19:09] wylieconlon commented on #105827
It looks like this may have been caused by the latest EUI update which affected the way that the data grid is rendered, most likely this commit: https://github.com/elastic/eui/pull/4853

[2021-07-15 19:10] elasticmachine commented on #105827
Pinging @elastic/eui-design (EUI)

[2021-07-15 19:22] alisonelizabeth opened #105831 "[Dashboard] [Safari] Unable to copy panel to dashboard"
**Kibana version:**
7.14

**Browser version:**
Safari Version 14.1.1

**Describe the bug:**
After selecting an existing dashboard from the dropdown and click "Copy and go to dashboard", the dropdown reopens and I am not redirected to the new dashboard.

**Steps to reproduce:**
1. Using Safari, edit an existing dashboard using the Kibana sample data.
2. Select the gear icon from one of the visualiz

[2021-07-15 19:22] elasticmachine commented on #105831
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 19:30] #105090 closed

[2021-07-15 19:33] liza-mae opened #105835 "Role Kibana privileges generate PDF report button is not clickable and API settings not taking effect"
**Kibana version**: 7.14.0 BC3

**Elasticsearch version**: 7.14.0 BC3

**Server OS version**: Cloud

**Browser version**: Chrome

**Original install method (e.g. download page, yum, from source, etc.)**:
Staging

**Description of the problem including expected versus actual behavior**:
1) Role Kibana privileges generate PDF report button is not clickable and 2) when using the API the settings are

[2021-07-15 19:33] elasticmachine commented on #105835
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-15 19:35] cjcenizal commented on #97699
Closing in favor of https://github.com/elastic/kibana-team/issues/354

[2021-07-15 19:35] #97699 closed

[2021-07-15 19:36] justinkambic commented on #101150
Tested this locally, looking good.

![image](https://user-images.githubusercontent.com/18429259/125847177-765f7ead-647e-4ac9-851b-2ba6d00e49c8.png)

[2021-07-15 19:40] monfera opened #105837 "Potentially unintended, subtle background flashing in index management"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

Current Chrome OS X

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Go to eg. Mappings / Field editing
2. Move around -> flashing when hovering over affordances
3. Click on toggles -> flashing

**E

[2021-07-15 19:40] elasticmachine commented on #105837
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-15 19:43] justinkambic commented on #99667
Tested this locally, looking good 👍

https://user-images.githubusercontent.com/18429259/125847631-a3a87b55-ccd1-4cf9-a201-92385eaa9409.mp4

[2021-07-15 19:59] justinkambic commented on #98602
We noticed that scrubbing was not disabled for the KPI viz, that was fixed in https://github.com/elastic/kibana/pull/105495.

Tested the filter outside clicking issue, looks good:
![Jul-15-2021 15-47-39](https://user-images.githubusercontent.com/18429259/125848521-1ae8cc3b-e0bd-404c-b6d2-0ac63180f98a.gif)

Tested the multi-application selection, looks good:
![Jul-15-2021 15-58-04](https://user-ima

[2021-07-15 20:11] tsullivan opened #105842 "[Reporting/Docs] "Configure reporting in Kibana" page should mention `xpack.reporting.roles.enabled`"
Docs page: https://www.elastic.co/guide/en/kibana/7.14/secure-reporting.html

The 3rd paragraph should mention that using Kibana privileges for reporting requires `xpack.reporting.roles.enabled: false`

cc @elastic/kibana-reporting-services

[2021-07-15 20:11] elasticmachine commented on #105842
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-15 20:11] justinkambic commented on #102069
I noticed that when I change the environment filter on edge and dev clusters basically any choice other than ALL results in a 0'd out view. This seems to not be the correct behavior.

![image](https://user-images.githubusercontent.com/18429259/125851281-a0543e38-8116-4ffc-97c1-787b3fdb710f.png)
![image](https://user-images.githubusercontent.com/18429259/125851302-92242326-acd6-4079-a890-30569d9e9c

[2021-07-15 20:18] elasticmachine commented on #105835
Pinging @elastic/kibana-security (Team:Security)

[2021-07-15 20:18] #105529 closed

[2021-07-15 20:20] liza-mae commented on #105835
I opened this one to track what appears to be two issues one is the UI generate report is not clickable on cloud and it appears that the API settings don't take a effect.

[2021-07-15 20:23] elasticmachine commented on #37851
Pinging @elastic/kibana-core (Team:Core)

[2021-07-15 20:28] FrankHassanabad commented on #105791
Root cause was found here and backported:
https://github.com/elastic/kibana/pull/105790

[2021-07-15 20:28] #105791 closed

[2021-07-15 20:33] KOTungseth opened #105849 "[Lens] Update UI terminology"
Above the fields list and in the layer pane, change **Change index pattern** to **Index pattern**.

Above fields list:
![Screen Shot 2021-07-15 at 3 22 52 PM](https://user-images.githubusercontent.com/38990715/125852627-f0a9159b-ff2a-4280-ac9b-1f27f7ffe252.png)

In layer pane:
![Screen Shot 2021-07-15 at 3 23 11 PM](https://user-images.githubusercontent.com/38990715/125852638-d794c03c-86b1-4bfe-9a

[2021-07-15 20:33] elasticmachine commented on #105849
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 20:38] pmuellr commented on #101582
Only if they have set that up - meaning, created a separate monitoring cluster, and then told cloud to ship the logs there.  Otherwise, I don't think they do.

If we go down a path of logging warnings instead of failing, it sure would be nice collect all those messages to present back to the user when the newly migrated deployment starts back up.  Notification center again, I suppose ...  Or I won

[2021-07-15 20:45] wylieconlon opened #105850 "[Lens] "Save and return" action does not handle save failures, and instead loses changes"
I couldn't find a duplicate issue, but this seems like it might be a more general issue than just Lens.

Steps to reproduce bug:

1. From a dashboard, click "Create visualization"
2. Configure any visualization.
3. Stop the Kibana server, for example by closing the process or by making a change in development
4. Click "Save and return"
5. Instead of warning that the save failed, your changes are l

[2021-07-15 20:45] elasticmachine commented on #105850
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 20:45] elasticmachine commented on #105850
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-15 20:53] kobelb commented on #101582
ESS is in control of the ESO encryption keys, right? If so, we shouldn't have any situations where the encryption key was changed, Kibana was updated, and "corrupted" a bunch of alerts.

:+1:

[2021-07-15 20:57] ymao1 commented on #101582
Thanks for all the input everyone! It sounds like there are a lot of great plans in the future with the detection of encryption key mismatch and notification center that can lead to a better upgrade experience but for now the solution we can live with will be migrating the document, whether or not it was successfully decrypted.

[2021-07-15 21:04] cjcenizal commented on #75609
This is so old I think we can treat this as transient.

[2021-07-15 21:04] #75609 closed

[2021-07-15 21:05] cjcenizal commented on #89315
This is old enough I think we can treat this as transient.

[2021-07-15 21:05] #89315 closed

[2021-07-15 21:05] cjcenizal commented on #90439
This is old enough I think we can treat this as transient.

[2021-07-15 21:05] #90439 closed

[2021-07-15 21:05] cjcenizal commented on #90859
This is old enough I think we can treat this as transient.

[2021-07-15 21:05] #90859 closed

[2021-07-15 21:17] ecezalp commented on #105050
fix has been merged with elastic/kibana#105649
@deepikakeshav-qasource @manishgupta-qasource @MadameSheema please review

[2021-07-15 21:18] elasticmachine commented on #105409
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-15 21:20] kevinlog commented on #105409
@asnehalb @XavierM fyi on the Hosts page.  I think what's happening is that we uninstall and reinstall the Agent, get a new ID, but it's still the same Hostname.  Then, when we go to find the ID, we query on the old ID of the now Inactive Agent.

this would be part of a larger fix pull everything together by something other than Hostname

fyi @caitlinbetz

[2021-07-15 21:31] wylieconlon opened #105854 "[TSVB] No longer possible to define intervals like `>=1m` or `>=12h`"
The pattern `>=1m` is one of the examples directly underneath the interval selector: `Examples: auto, 1m, 1d, 7d, 1y, >=1m`, but it appears to no longer work. Based on the discussion in https://github.com/elastic/kibana/issues/17843, my understanding is that the feature was an override for the auto interval, which sounds useful to me. But if users are not complaining about this regression, we shou

[2021-07-15 21:31] elasticmachine commented on #105854
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-15 21:45] kibanamachine commented on #105784
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/99/)

[2021-07-15 21:45] clintandrewhall commented on #103988
After speaking with @ppisljar and @ThomThomson, I'm going to pursue using the URL Service and Locators to unify the shared url approach.  Stay tuned.

[2021-07-15 21:47] jbudz commented on #105784
7.14: 5e060e2

[2021-07-15 21:48] elasticmachine commented on #105784
Pinging @elastic/uptime (Team:uptime)

[2021-07-15 21:54] bhavyarm opened #105856 "[maps] Wrong input in attribution link should be handled better"
**Kibana version:** 7.14.0 BC3

**Elasticsearch version:** 7.14.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user inputs wrong link in attribution panel - clicking on the link redirects the user to maps app.

https://user

[2021-07-15 21:54] elasticmachine commented on #105856
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-15 22:28] #105099 closed

[2021-07-15 22:35] kaiyan-sheng commented on #104241
@kpollich Sorry I just got to test it. Yes after `elastic-package stack update -v` it works now! Thank you @mtojek for your help!! Closing this issue!

[2021-07-15 22:35] #104241 closed

[2021-07-15 23:59] tsullivan opened #105868 "[Reporting] Add telemetry for deprecated export type usage"
Following adding support of 6.2 PDF job POST URLs in 8.0, https://github.com/elastic/kibana/pull/108271#, there needs to be telemetry data collected on the extent of usage of deprecated export types.

[2021-07-15 23:59] elasticmachine commented on #105868
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-16 00:46] liza-mae commented on #98402
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/context/_discover_navigation·js**
**Stack Trace:**
[code]
**Other test failures:**
- context app context link in discover should open the context view with the same columns
- context app context link in discover should open the context view with the filters disabled
- context app context link in discover should navigate

[2021-07-16 00:46] liza-mae commented on #72165
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-07-16 00:46] liza-mae commented on #98403
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result field sort "after all" hook in "index result field sort"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:46] liza-mae commented on #97537
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_popularity·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result popularity "after each" hook for "should update the popularity input"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:46] liza-mae commented on #98404
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_scripted_fields·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:46] liza-mae opened #105872 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js - timelion app expression typeahead dynamic suggestions for argument values .es() should show index pattern suggestions for index argument"
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js**
**Stack Trace:**
[code]
**Other test failures:**
- timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for timefield argument when index pattern set
- timelion app expression typeahead dynamic suggestions for argument values .es

[2021-07-16 00:47] liza-mae commented on #101997
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #97538
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_vertical_bar_chart_nontimeindex·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  vertical bar chart with index without time filter should have inspector enabled
- visualize app  vertical bar chart with index without time filter should show correct chart
- visualize app  vertical bar chart

[2021-07-16 00:47] liza-mae commented on #98407
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  visual builder switch index patterns should be able to switch combo box mode selection

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #92303
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #76181
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #86524
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard

 _Test Report: https://internal-ci.elastic.co/view/St

[2021-07-16 00:47] liza-mae commented on #97540
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter from unrelate

[2021-07-16 00:47] liza-mae commented on #92307
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #98409
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using legacy data dashboard listing page search by title title match is case insensitive

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #92309
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-07-16 00:47] liza-mae commented on #98410
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/async_scripted_fields·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae opened #105873 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should create a pie chart and switch to datatable"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens smokescreen tests should allow formatting on references

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:47] liza-mae commented on #102000
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/add_to_dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens add-to-dashboards tests should allow new lens be added by value to an existing dashboard
- lens app  lens add-to-dashboards tests should allow new lens to be added by reference to a new dashboard
- lens app  lens ad

[2021-07-16 00:47] liza-mae opened #105874 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/chart_data·ts - lens app lens chart data should render metric"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/chart_data·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:48] liza-mae commented on #105344
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:48] liza-mae opened #105875 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with no data loaded (ft_ml_poweruser) should display the ML file data vis link on the Kibana home page"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:48] liza-mae opened #105876 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/settings/calendar_creation·ts - machine learning settings calendar creation creates new calendar that applies to all jobs"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/settings/calendar_creation·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:48] liza-mae opened #105877 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/cluster/overview·js - Monitoring app Cluster overview for Green cluster with Gold license shows elasticsearch panel with data"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/cluster/overview·js**
**Stack Trace:**
[code]
**Other test failures:**
- Monitoring app Cluster overview for Yellow cluster with Platinum license elasticsearch panel has ML, because license is Platinum

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-07-16 00:49] liza-mae commented on #98415
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae opened #105878 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts - dashboard Reporting Dashboard Reporting Screenshots Print Layout downloads a PDF file"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Dashboard Reporting Screenshots PNG Layout downloads a PNG file: large dashboard
- dashboard Reporting Dashboard Reporting Screenshots Preserve Layout downloads a PDF file: large dashboard

 _Test Rep

[2021-07-16 00:49] liza-mae commented on #98413
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/context/_filters·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #97559
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae opened #105879 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/saved_objects_management/import_saved_objects_between_versions_6·x_7·x·ts - Saved objects management Export import saved objects between versions - 6.8.x -> 7.x should be able to import 7.12.x saved objects -by value panels with drilldowns into 7.x"
**Version: 7.13.4**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/saved_objects_management/import_saved_objects_between_versions_6·x_7·x·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #98418
**Version: 7.13.4**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #102008
**Version: 7.13.4**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #98419
**Version: 7.13.4**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #98420
**Version: 7.13.4**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #98424
**Version: 7.13.4**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/create_doc_source·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Maps endpoints  doc source creation should fail to create index and pattern with invalid index

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #98425
**Version: 7.13.4**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/index_data·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Maps endpoints  index feature data should add shape data to an existing index
- apis Maps endpoints  index feature data should fail if data is invalid
- apis Maps endpoints  index feature data should fail if index does not exist

[2021-07-16 00:49] liza-mae commented on #98421
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/context/_size·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:49] liza-mae commented on #98426
**Version: 7.13.4**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Reporting APIs CSV Generation from SearchSource Exports CSV with all fields when using defaults
- Reporting APIs CSV Generation from SearchSource date formatting With filters and timebased da

[2021-07-16 00:49] liza-mae opened #105880 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts - discover app index pattern with unmapped fields "before all" hook for "unmapped fields exist on a new saved search""
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:50] liza-mae commented on #97535
**Version: 7.13.4**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_create_index_pattern_wizard·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2032/testReport/_

[2021-07-16 00:52] liza-mae opened #105881 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_saved_queries·ts - discover app saved queries saved objects saved query management component functionality does not allow saving a query with a non-unique name"
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_saved_queries·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover app saved queries saved objects saved query management component functionality resets any changes to a loaded query on reloading the same saved query
- discover app saved queries saved objects saved query management component functio

[2021-07-16 00:52] liza-mae opened #105882 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_huge_fields·ts - discover app test large number of fields in sidebar "before all" hook for "test_huge data should have expected number of fields""
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_huge_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #97535
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_create_index_pattern_wizard·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #72165
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-07-16 00:53] liza-mae commented on #98403
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result field sort "after all" hook in "index result field sort"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #97537
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_popularity·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result popularity "after each" hook for "should update the popularity input"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #105316
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app visualize ciGroup12 visual builder switch index patterns should be able to switch combo box mode selection

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #92303
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #76181
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #86524
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard

 _Test Report: https://internal-ci.elastic.co/view/St

[2021-07-16 00:53] liza-mae commented on #97540
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter from unrelate

[2021-07-16 00:53] liza-mae commented on #92307
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #92309
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-07-16 00:53] liza-mae commented on #87713
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/canvas/reports·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Canvas app Canvas PDF Report Generation Print PDF button downloaded PDF base64 string is correct without borders and logo

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testRepo

[2021-07-16 00:53] liza-mae commented on #105340
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/lens_reporting·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae commented on #105344
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:53] liza-mae opened #105883 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts - machine learning data visualizer index based with farequote KQL saved search displays index details"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:54] liza-mae commented on #105347
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/visualize/feature_controls/visualize_security·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:54] liza-mae opened #105884 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/creation_runtime_mappings·ts - transform creation with runtime mappings batch transform with pivot configurations and runtime mappings navigates through the wizard and sets all needed fields"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/creation_runtime_mappings·ts**
**Stack Trace:**
[code]
**Other test failures:**
- transform creation with runtime mappings batch transform with pivot configurations and runtime mappings runs the transform and displays it correctly in Discover page
- transform creation with runtime mappings batch t