[2021-04-12 07:01] #95910 closed

[2021-04-12 07:08] kostasb opened #96726 "Cache _xpack/usage"
**Describe the enhancements:**

Cache the output of _xpack/usage Elasticsearch API for a reasonable amount of time (i.e. 10 minutes), to avoid sending this request too often to Elasticsearch. The output could change in case there are changes to Elasticsearch but leave Kibana running, so Kibana could potentially have a stale version of that cached response, for as long as it caches it. Since this c

[2021-04-12 07:08] elasticmachine commented on #96726
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-12 07:08] elasticmachine commented on #96726
Pinging @elastic/kibana-core (Team:Core)

[2021-04-12 07:12] manishgupta-qasource commented on #96725
Reviewed & Assigned @MadameSheema

[2021-04-12 07:22] kertal commented on #96029
I do agree that this needs to be customizable by the user, there are use cases when displaying multi fields are useful. So the user should be able to display or hide them. I think a default in Advanced settings to generally show/hide multi fields + the possibility for users to chose their own setting when viewing the doc view would be preferable

[2021-04-12 07:27] flash1293 commented on #95970
This is possible already on a per visualization basis in Lens. Are you looking for a way to bulk-change the data source?

[2021-04-12 07:30] elasticmachine commented on #96061
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-12 07:31] flash1293 commented on #96061
This is part of the inspector owned by app-services, relabeling. Seems like this is making inspector useless in Safari

[2021-04-12 07:35] flash1293 commented on #96082
It's not clear what this issue is about, it seems like it's better suited for the forum (https://discuss.elastic.co/c/elastic-stack/kibana/7). @mcandre can you clarify what you are trying to achieve and in what place Kibana isn't doing what you expect?

[2021-04-12 07:40] pgayvallet commented on #96726
We can't easily introduce a cache mechanism at the ES client level, so this would have to be implemented by the API consumers directly.

From a quick grep, seems the only consumer of this API is

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/telemetry_collection_xpack/server/telemetry_collection/get_xpack.ts#L18-L19

[2021-04-12 07:47] flash1293 commented on #94596
@nickofthyme This is not fixed - it's mostly happening for short labels:
<img width="359" alt="Screenshot 2021-04-12 at 09 46 11" src="https://user-images.githubusercontent.com/1508364/114359148-f510df00-9b73-11eb-9915-a21e21b4263b.png">

To reproduce, create a chart with this configuration using the logs sample data (disable the "other" bucket):
<img width="427" alt="Screenshot 2021-04-12 at 09 4

[2021-04-12 07:47] formgeist commented on #94702
@sqren Is this also tracking data streams support within the UX app to enable users to view their data if they update their apm server integration?

[2021-04-12 07:52] amolnater-qasource commented on #95039
Hi @nchaulet
We have revalidated this issue on 7.13.0 Snapshot and found it **fixed**. We are now able to select both the filters under "Logs" tab.

Build details:
[code]
**Screenshots:**
![Filter_fix](https://user-images.githubusercontent.com/77374876/114358948-1fbd6080-9b91-11eb-9c7b-1c2d5cd5ece7.png)

Thanks
QAS

[2021-04-12 07:53] pgayvallet commented on #96291
@rudolf should we reopen https://github.com/elastic/kibana/issues/34996 then?

[2021-04-12 07:54] kibanamachine opened #96728 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data createLayout Method should append all the divs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96729 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data layout Method should append a div with the correct class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96730 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data layout Method should bind data to the DOM element"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96731 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data layout Method should create children"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96732 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data layout Method should call split function when provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96733 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data layout Method should throw errors when incorrect arguments provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96734 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data appendElem Method should append DOM element to el with a class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96735 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for series Data removeAll Method should remove all DOM elements from the el"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96736 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data createLayout Method should append all the divs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96737 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data layout Method should append a div with the correct class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96738 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data layout Method should bind data to the DOM element"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96739 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data layout Method should create children"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96740 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data layout Method should call split function when provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96741 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data layout Method should throw errors when incorrect arguments provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96742 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data appendElem Method should append DOM element to el with a class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96743 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for columns Data removeAll Method should remove all DOM elements from the el"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96744 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data createLayout Method should append all the divs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96745 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data layout Method should append a div with the correct class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96746 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data layout Method should bind data to the DOM element"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96747 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data layout Method should create children"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96748 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data layout Method should call split function when provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96749 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data layout Method should throw errors when incorrect arguments provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96750 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data appendElem Method should append DOM element to el with a class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96751 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for rows Data removeAll Method should remove all DOM elements from the el"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96752 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data createLayout Method should append all the divs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96753 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data layout Method should append a div with the correct class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96754 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data layout Method should bind data to the DOM element"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96755 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data layout Method should create children"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96756 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data layout Method should call split function when provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96757 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data layout Method should throw errors when incorrect arguments provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96758 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data appendElem Method should append DOM element to el with a class name"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:54] kibanamachine opened #96759 "Failing test: Jest Tests.src/plugins/vis_type_vislib/public/vislib/lib/layout - Vislib Layout Class Test Suite for stackedSeries Data removeAll Method should remove all DOM elements from the el"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/288/)

[2021-04-12 07:59] timroes commented on #95970
Duplicate of https://github.com/elastic/kibana/issues/17542

[2021-04-12 07:59] #95970 closed

[2021-04-12 08:04] mshustov commented on #96726
It's used by Security plugin as well https://github.com/elastic/kibana/blob/6ecffcc57c9a5b0328257cd25b737140a8471dda/x-pack/plugins/security/server/routes/role_mapping/feature_check.ts#L92
cc @elastic/kibana-security

[2021-04-12 08:16] DaveCTurner commented on #96726
FWIW I think there is room for improvement in Elasticsearch too (in addition to any changes in Kibana proposed here). `GET _xpack/usage` should be fairly lightweight but it seems it isn't in some places, particularly:

- `VectorsFeatureSet`
- `FlattenedFeatureSet`
- `RuntimeFieldsFeatureSet`

I believe we could implement some caching in Elasticsearch for these computations, although I think the on

[2021-04-12 08:18] Bamieh opened #96761 "[Telemetry] Deprecate telemetry url configs"
We have no useful cases for changing the actual telemetry urls for deployments.

I suggest we deprecate the telemetry url configs (`telemetry.url` and `telemetry.optInStatusUrl`) in favor of a `telemetry.staging: boolean` config. The url paths will be handled internally by the service.

This would be a breaking change for `8.0.0`. We'd need to propogate this change internally as well across our te

[2021-04-12 08:18] elasticmachine commented on #96761
Pinging @elastic/kibana-core (Team:Core)

[2021-04-12 08:18] elasticmachine commented on #96761
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-04-12 08:19] jloleysens commented on #96640
Hi @neptunian ! Thanks for opening this issue to improve the error handler. We recently fixed an issue with how we were building up this custom error response. The handler would throw a generic `500` if we did not supply a message for the error. This has since been updated to:

https://github.com/elastic/kibana/blob/51ba5f106dfa3f68d355ed5f45cff9c20e4bdab6/src/plugins/es_ui_shared/__packages_do_no

[2021-04-12 08:24] elasticmachine commented on #96725
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-12 08:25] MadameSheema commented on #96725
ping @XavierM @cnasikas

[2021-04-12 08:37] cnasikas commented on #96725
@stephmilovic

[2021-04-12 08:43] elasticmachine commented on #96712
Pinging @elastic/ml-ui (:ml)

[2021-04-12 08:43] mandeepkaur-qasource commented on #95295
Hi Team,

We have validated the fix for this defect on 7.12.1 and 7.13.0 snapshot builds and found that 'Read Less' button is now available for long messages.

**Build Details:**
Version: 7.12.1 Snapshot
Commit: 71735208e87c9651c35a56a0866ecea4cbb7a660
Artifact: https://artifacts-api.elastic.co/v1/search/7.12.1-SNAPSHOT

**Build Details:**
Version: 7.13.0 Snapshot
Build number: 40169
Commit: 17faf

[2021-04-12 08:45] amolnater-qasource commented on #93910
Hi @EricDavisX
Today while testing on 7.13.0 Snapshot Kibana Cloud environment we had more observations for Agent installation errors with Endpoint.

**Steps to reproduce:**
1. Install Agent with "New Policy" having only System integration.
2. Observe agent in "Healthy" state.
3. Add "Endpoint Security" integration to "New Policy".
4. Observe agent going to "Unhealthy" state.

Further we attempted

[2021-04-12 08:54] droberts195 commented on #96712
The error is exactly the same as the one in https://github.com/elastic/kibana/issues/96425#issuecomment-815257375.  Please can you check if there are any clues in that issue, for example an Nginx proxy installed in front of Kibana that is restricting upload sizes.

Also, if nothing in that issue explains the problem, please tell us which version of Kibana you are using.

[2021-04-12 09:02] #96425 closed

[2021-04-12 09:06] gmmorris commented on #96291
I tend to agree with all of that. :)

Regarding https://github.com/elastic/kibana/issues/96626: I think it's a great idea. Given the problems we've seen these past few weeks with the growing task and action SOs, this would reduce the likelihood of breaking a customer upgrade.
One think to note though - this issues is not, predominantly, about SOs, as Alerts-as-data are hidden/system ECS indices, r

[2021-04-12 09:20] sqren commented on #95140
@gregkalapos Looks like the dotnet agent is being used here. You might be better equipped at answering this question than me.

[2021-04-12 09:22] #94532 closed

[2021-04-12 09:22] sqren commented on #94551
@Alex3k Do you have access to the errors logs from Kibana? If so, they might shed some light on what the problem is.

If you can't reproduce or don't have time atm feel free to close and open a new issue later.

[2021-04-12 09:24] sqren commented on #68783
Closing due to inactivity. Feel free to open a new issue if this problem persists in newer versions (7.8 or higher).

[2021-04-12 09:24] #68783 closed

[2021-04-12 09:26] #95295 closed

[2021-04-12 09:44] sqren commented on #94702
@formgeist In https://github.com/elastic/kibana/pull/89650 I added the fleet indices to the indicies we normally query. So as long as the UX team is using `apmEventClient.search` they should be fine (like here):

https://github.com/elastic/kibana/blob/5a9fc214150e74c4d7a599c416d35e59dc8c247f/x-pack/plugins/apm/server/lib/rum_client/get_web_core_vitals.ts#L106

fyi: @shahzad31

[2021-04-12 09:46] formgeist commented on #94702
@sqren Great, seems like it's covered already 👍

[2021-04-12 09:48] gregkalapos commented on #95140
@glucaci In Kibana 7.12 you can remove the column under settings on the log UI. Your screenshot seems to be an older version - I'm not sure if that version has this setting - maybe @sqren knows when this was introduced.

So at least in 7.12 you should be able to remove it like this:

On the log UI, click here on Settings:
![image](https://user-images.githubusercontent.com/1091853/114375347-d798410

[2021-04-12 09:52] #60302 closed

[2021-04-12 09:55] Bamieh commented on #60302
We've agreed not to create a meta issue since we dont have actionable items for teams to follow up on.
We just need to increase visiblity of the feature which we are utilizing other channels to do so.

[2021-04-12 10:30] #95956 closed

[2021-04-12 11:07] mikecote commented on #96726
cc @elastic/kibana-alerting-services

[2021-04-12 11:24] rudolf commented on #96626
We've been discussing removing `.kibana` from the system indices thread pool since the load is more like a data index than other indices (like `.tasks` or `.security` which have a very narrow focus/purpose). But if we would only run these migrations on huge indices (millions of docs) and in that case the index would definitely have to be in the "normal" thread pool.

"eventually consistent" is a c

[2021-04-12 11:48] elasticmachine commented on #96691
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-12 11:48] elasticmachine commented on #96691
Pinging @elastic/siem (Team:SIEM)

[2021-04-12 11:51] mistic commented on #96691
This test has been failing and looks flaky. Skipping for now.

master/8.0: a05a66c
7.x/7.13: 477ad20

[2021-04-12 11:58] elasticmachine commented on #96722
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-12 12:00] Kerry350 commented on #96172
Thanks for writing this up @jasonrhodes.

On the whole I agree with you, and I believe a more dynamic way of using these configurations would be very beneficial for users.

This is a gross over simplification but what we've got here is:

- "Source configuration" renamed to "Saved views"
- Some new properties (e.g. KQL filters and stored timestamp etc)
- Easier on-the-fly access to change these pro

[2021-04-12 12:10] legrego commented on #96726
Not sure if this would have any performance implications, but a related request for this endpoint is to allow it to run against the local node instead of forcing the request to get routed to the master node: https://github.com/elastic/elasticsearch/issues/53916

The security plugin's usage that @mshustov pointed out above would ideally use this "local" information if it was made available.

[2021-04-12 12:25] legrego commented on #96673
@myasonik this UI was recently redesigned, so it's possible that this is no longer an issue: https://github.com/elastic/kibana/pull/87133

Regardless, this sounds like a contrast issue within EUI, and not this page specifically -- as far as I know, this version of the screen didn't customize the styling in any way.

[2021-04-12 12:25] #96504 closed

[2021-04-12 12:33] mostlyjason commented on #95900
Looks like these are valid index name characters https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-create-index.html#indices-create-api-path-params

Agree on not high impact since custom namespaces are an advanced feature so a small portion of people will run into this

[2021-04-12 12:38] neptunian commented on #96640
Yes, I'm getting the 500 with this code.  If you read my description it explains why.

[2021-04-12 12:40] flash1293 commented on #96758
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96757
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96756
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96755
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96754
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96753
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96752
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96751
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96750
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96749
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96748
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96747
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96746
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96745
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96744
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:40] flash1293 commented on #96743
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96742
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96741
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96740
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96739
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96738
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96737
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96736
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96735
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96734
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96733
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96732
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96731
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:41] flash1293 commented on #96730
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:42] flash1293 commented on #96729
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:42] flash1293 commented on #96728
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:42] flash1293 commented on #96697
Tracked here https://github.com/elastic/kibana/issues/96759

[2021-04-12 12:42] elasticmachine commented on #96670
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 12:43] elasticmachine commented on #96759
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 12:43] flash1293 commented on #96759
Not sure whether this is a real problem or a CI fluke - there were a bunch of other issues (see the linked ones above)

[2021-04-12 12:43] elasticmachine commented on #96697
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 12:46] flash1293 opened #96778 "[Lens] Table pagination"
The Lens data table uses virtualized scrolling to handle large tables. However in some cases it's easier to use pagination to step through your data.

This could be offered as an optional setting on chart level.

[2021-04-12 12:46] elasticmachine commented on #96778
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 12:51] mtojek opened #96779 "Fleet: error: could not decode the response"
The goal of the issue to root cause problems with Elastic Agent/Fleet/Kibana with latest snapshots. The stack boots up correctly, then a new policy should be reassigned to the agent, but it seems that it never happens.

Artifacts/logs: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Felastic-package/detail/PR-319/1/artifacts

[code]

We deployed an emergency fix to use last

[2021-04-12 12:51] elasticmachine commented on #96779
Pinging @elastic/fleet (Team:Fleet)

[2021-04-12 13:16] #29386 closed

[2021-04-12 13:56] #82438 closed

[2021-04-12 13:58] nickofthyme commented on #94596
Thanks @flash1293 I'll take a look using that config.

[2021-04-12 14:09] elasticmachine commented on #95390
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 14:27] #96024 closed

[2021-04-12 14:28] jloleysens commented on #96640
Ah OK I see. That is a bug.

That is a very strange reason to receive 😅 . Perhaps the ES team should be notified of that too since it does not look like a value we want to be returning to clients as the reason?

[2021-04-12 14:39] joshdover commented on #96396
+1 on this. This mirrors how we handle any of the `xpack.code.*` configs when that application was removed.

[2021-04-12 14:43] Dosant commented on #96131
@elastic/kibana-core, could you please suggest here 🙏

Maybe migrations overhead of checking each object within Kibana is too much?

Unfortunately, we'd have situations where when migrating from 7.12.0 -> 7.12.1 there will be a lot of saved objects of `search-session` type. During Kibana run they'd eventually be cleaned up by our task manager task.

But should we expect any problems on a start-up

[2021-04-12 14:44] legrego commented on #96538
@afharo what is your timeline for this? The work required to expose the authorization service into OSS is non-trivial for us, so this is an initiative that we'd have to plan for in our roadmap against our other priorities

[2021-04-12 14:44] #89549 closed

[2021-04-12 14:46] glucaci commented on #95140
Hi, i'm not talking about `event.dataset` column as described above, my problem is that the value of `event.dataset` field is also automatically inserted into `message` field.

On the original image above you can see that is displayed only the `Message` column.

[2021-04-12 14:47] stephmilovic commented on #96725
I believe this is related to an Eui issue: https://github.com/elastic/eui/issues/1023

Im troubleshooting to see if I can find a fix for this spot

[2021-04-12 14:48] ogupte commented on #96447
We need to distinguish between regular loading state and no-data (because no transaction type in future date range) we should check the status of the transaction type fetch in order so we can render the page with the no data state early rather than waiting for subsequent fetches that will never trigger.

[2021-04-12 14:50] neptunian commented on #96640
I wasn't sure about that.  I will ask them.  Thanks!

[2021-04-12 14:54] pgayvallet commented on #96396
We could just use an `unused` config deprecation, which would have the advantage to warn the user that this option is no longer required.

[2021-04-12 14:54] thompsongl commented on #96668
Do you mean this in general for `for` attributes that reference `<button>`s?

If so, we could probably disable it by default.

[2021-04-12 14:56] #96040 closed

[2021-04-12 14:56] #95278 closed

[2021-04-12 15:00] gregkalapos commented on #95140
Ok, I think I start to understand what's the issue.

How do you set `event.dataset`? I think by default the `Elastic.CommonSchema.Serilog` package doesn't set it - what it does is that it [calls `RenderMessage` on the log event](https://github.com/elastic/ecs-dotnet/blob/master/src/Elastic.CommonSchema.Serilog/LogEventConverter.cs#L54) to set the `message`. So whatever that line returns, that'll e

[2021-04-12 15:09] ravikesarwani opened #96800 "[Monitoring]Add Filter in stack monitoring rules"
Add “Filter” as an optional field in all the stack monitoring rules.
This can be similar to what we have in Metric threshold rule.
<img width="577" alt="Filter (optional)" src="https://user-images.githubusercontent.com/64450378/114416848-16c39380-9b7f-11eb-8b60-64ce088852d7.png">

This will allows users more control in terms of the scope of alerts.
Users should be able to filter (include or exclud

[2021-04-12 15:09] elasticmachine commented on #96800
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-12 15:11] pmuellr commented on #96577
That seems fine.  We'd be missing the actual params, which are not currently reflected in the event log docs, but I don't believe we really ever needed these in practice for diagnostics.

We also will need to "clean up" the failed action task params and task documents for these, at some point, otherwise they'll get copied into every subsequent migrated `.kibana` index.  Maybe we also do a delete b

[2021-04-12 15:39] pmuellr commented on #92388
@arisonl just noticing I'm still assigned to this issue, so wanted to see what we want to do about it.  Not sure if there's anything actionable, if we need some more work on it somehow?  It's also not being tracked in our project ...

[2021-04-12 15:45] pmuellr commented on #74393
Since we've added the decrypt error to the alert status, wondering what else is actionable here.

I'm hesitant to disable an alert if it gets a decrypt error - if you could imagine getting one of these transiently, and then the alert is automatically disabled, then that would be unfortunate since subsequent executions of the alert wouldn't be run, when they might well decrypt fine in the future ex

[2021-04-12 16:00] kibanamachine opened #96812 "Failing test: Jest Tests.src/plugins/data/public/ui/typeahead - SuggestionsComponent Should display given suggestions if the show prop is true"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/290/)

[2021-04-12 16:00] kibanamachine opened #96813 "Failing test: Jest Tests.src/plugins/data/public/ui/typeahead - SuggestionsComponent Passing the index should control which suggestion is selected"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/290/)

[2021-04-12 16:02] grlicky commented on #95952
I can confirm this issue, too.

After the upgrade from 7.9.3 to 7.12.0 the Discover does not show all the fields in documents returned.
I have not touched any templates, index patterns, or other settings after upgrading.

The fields are also missing in the **Avaliable fields** panel (part of the Discover) where we have:
- 29 fields shown with **discover:searchFieldsFromSource = disabled** (default

[2021-04-12 16:05] mikecote opened #96815 "Telemetry for preconfigured alert history index connector"
With the new capability to [preconfigure an alert history index connector](https://github.com/elastic/kibana/pull/94909), it would be nice to track how many users are using this new capability. This will help us understand the impacts future changes or removal may have.

cc @arisonl if there are further metrics than enabled / disabled we would like to track.

[2021-04-12 16:05] elasticmachine commented on #96815
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-12 16:12] flash1293 commented on #93433
I attempted to implement a solution for this, but I'm kind of stuck because I don't know what's the right behavior.

I set everything up so the bound time fields of the current chart are also passed to the field existence and field stats requests. But these can change once a field gets dragged in, so they are still not always accurate. Like the following case:

* There are two timestamp fields, on

[2021-04-12 16:19] #95617 closed

[2021-04-12 16:25] #92900 closed

[2021-04-12 16:29] #96072 closed

[2021-04-12 16:31] chrislujan commented on #76627
Agreed, having analysts assigned on rotation would be nice to have.

[2021-04-12 16:38] elasticmachine commented on #90661
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-12 16:48] kibanamachine opened #96833 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/kpi_hosts·ts - apis SecuritySolution Endpoints Kpi Hosts With filebeat Make sure that we get KpiHosts data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13143/)

[2021-04-12 16:53] dakrone commented on #96397
The issue with "... immediately after rollover" is that there may be actions in the `hot` phase which execute *after* rollover (read-only, rollup, shrink, force merge, searchable snapshot), in which case the text is not accurate

[2021-04-12 16:55] dontcallmesherryli commented on #94011
Circulating this ticket with the security designers again to see if we can get a design opinion.

[2021-04-12 16:57] #91131 closed

[2021-04-12 16:59] aznick commented on #96613
I was thinking no dot-indices, but I'm certainly open to other suggestions. Just to make sure I understand, @afharo – are `.async-search` or `.async_search` already not counted as an Enterprise Search index pattern?

[2021-04-12 17:00] dej611 commented on #89269
I've run some investigation in the topic and found that, maybe, we're already taking advantage of the `data` plugin cache:

* in the `embeddable` output the component is calling `indexPatternService.get(id)` which internally relies on the caching system
* in the `indexpattern_datasource` the `loadIndexPatterns` function is relying on the same `indexPatternService.get(id)` method

After discussing

[2021-04-12 17:00] kindsun opened #96836 "[Maps] Add vector drawing & persisting functionality to Maps app"
Following the prototype POC #96365 and to resolve https://github.com/elastic/kibana/issues/41469, this issue describes the requirements and steps needed to add vector drawing capability to the Maps app.

This feature should include the following capabilties:
- Draw standard shapes including point, linestring, polygon, bounding box, and circle
- Save drawn shapes to a new or existing Elasticsearch

[2021-04-12 17:00] elasticmachine commented on #96836
Pinging @elastic/kibana-gis (Team:Geo)

[2021-04-12 17:02] cjcenizal commented on #96397
Great work identifying this problem, Seb. I don't have any comments on the copy, but I just wanted to suggest a way we could reduce the UI a bit. I think the toggle and label require a lot of space. Maybe we can reduce space by using an icon button instead. In the mockup below, the "clock" icon is really an icon button. When you hover over it, you see a tooltip that explains that you can click it

[2021-04-12 17:04] #95189 closed

[2021-04-12 17:17] #93982 closed

[2021-04-12 17:18] #92848 closed

[2021-04-12 17:18] elasticmachine commented on #96833
Pinging @elastic/siem (Team:SIEM)

[2021-04-12 17:18] elasticmachine commented on #96833
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-12 17:30] mikecote commented on #96577
Yeah, I'm thinking two things here:
1. Prevent future executions from failing the task / not cleaning up the action_task_params
2. Develop a cleanup mechanism for existing failures

[2021-04-12 17:33] elasticmachine commented on #96833
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-12 17:44] markroland opened #96854 "Changing Index Pattern does not accept click on first item in list and jumps to bottom of menu"
**Kibana version:**
7+

**Elasticsearch version:**
NA

**Server OS version:**
Elastic Cloud

**Browser version:**
Chrome 89

**Browser OS version:**
Mac OS 11.2.3

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When selecting a new index pattern - specifically the first in the list, when an item near the bottom of the list is the active item

[2021-04-12 17:54] kibanamachine commented on #96202
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13144/)

[2021-04-12 17:58] IgorGuz2000 commented on #89205
This ticket was opened in 7.12 https://github.com/elastic/kibana/issues/95123

[2021-04-12 18:04] EricDavisX commented on #94303
FYI - there was discussion on this being done and merged this week

[2021-04-12 18:09] elasticmachine commented on #96136
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 18:32] Zacqary commented on #96370
I can do the `auto_upgrade` flag but the problem is, for agentPolicies, there isn't actually a button that the user can press to do this in the UI already.

It feels like a bug that the user can go to the package on the Integrations page, see that an update is available, click Update, and have this not also automatically update all the agent policies. Whatever installed version the Integrations pa

[2021-04-12 18:48] henurah commented on #95306
@mostlyjason How would they go about configuring integrations in standalone mode?  Is it just manually set up the config on the agent side and then the agent would pull from Elasticsearch via the proxy configuration?  Have we verified this would work on Windows by any chance?  I think the customer just wants to have the integrations working through a proxy for now using Elastic Agent (with the ass

[2021-04-12 18:51] mostlyjason commented on #96525
I added this to @bradenlpreston priority list so he can rank it among other security priorities

[2021-04-12 18:56] mostlyjason commented on #91062
@paulb-elastic why not let the user define the location on the integration policy, then pass it down to heartbeat?

[2021-04-12 19:04] myasonik commented on #96668
@thompsongl Exactly.

Opened an [EUI issue](https://github.com/elastic/eui/issues/4702) to discuss it.

In the mean time, @elastic/kibana-security, this issue can be resolved by passing `hasChildLabel: false` into the `EuiFormRow` that wraps this button.

[2021-04-12 19:11] michaelolo24 commented on #94697
Just noting this conversation continued on over on the PR https://github.com/elastic/kibana/pull/96496, and have made the move to just pass the timeline specific functionality through for now.

[2021-04-12 19:25] jfsiii opened #96873 "[Fleet] Rename `force` param to `revoke` for agent unenroll APIs"
### Current behavior
The `/agents/{agent_id}/unenroll` & `/agents/bulk_unenroll` Fleet endpoints support a `force` parameter to immediately revoke the API keys for an agent.

### Problem
The `unenroll` endpoints are the only ones to use `force` this way. All the other Fleet endpoints which have a `force` param use it as a signal to "attempt or execute regardless of permissions". Much like the `--f

[2021-04-12 19:25] elasticmachine commented on #96873
Pinging @elastic/fleet (Team:Fleet)

[2021-04-12 19:32] jfsiii commented on #96873
Pinging @mdelapenya since this would affect e2e tests. I'm happy to submit a PR. I found https://github.com/elastic/e2e-testing/blob/150652154d11f916976c969a0935917a741f207a/e2e/_suites/fleet/fleet.go and will look for any other instances

[2021-04-12 19:42] dominiqueclarke commented on #91421
@drewpost @paulb-elastic What was the determination made for the **Elastic Synthetics** callout? I know we discussed it in a past meeting, but it doesn't appear as if the decision was documented.

[2021-04-12 19:43] mistic commented on #96202
@peteharverson looks like it has failed again. Any idea around it? 😃

[2021-04-12 19:54] nreese commented on #31532
Closing. Not really important or worth changing.

[2021-04-12 19:54] #31532 closed

[2021-04-12 19:57] spong commented on #57423
Linking https://github.com/elastic/kibana/issues/96520 as a related enhancement for removing the appended `[Duplicate]` title text in favor of a `Duplicate` tag.

[2021-04-12 20:02] jasonrhodes commented on #96172
@Kerry350 yeah, the alert connection is stuff I just started extemporaneously dreaming about as I was writing up this issue so it isn't very well formed at all.

I was thinking that say you had a saved view for nginx error logs that included a number of hand-picked columns relative to that dataset. We often ask "which values we should provide to the context for actions to reference?" because we do

[2021-04-12 20:05] kibanamachine commented on #89550
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13283/)

[2021-04-12 20:06] nreese commented on #33202
Closing. With feature privileges, when users do not have write access to maps, the create map button and add layer button are not displayed.

[2021-04-12 20:06] #33202 closed

[2021-04-12 20:08] nreese commented on #33329
Closing, most comments have been addressed. Please open issue for remaining UI suggestions if relevent.

[2021-04-12 20:08] #33329 closed

[2021-04-12 20:08] nreese commented on #33350
closing, duplicate of https://github.com/elastic/kibana/issues/30588

[2021-04-12 20:08] #33350 closed

[2021-04-12 20:11] nreese commented on #34742
Closing, fixed with kibana feature privileges.

[2021-04-12 20:11] #34742 closed

[2021-04-12 20:16] nreese commented on #36577
Closing, discussion did not lead to any action.

[2021-04-12 20:16] #36577 closed

[2021-04-12 20:18] jasonrhodes commented on #96172
Also, I agree with this for sure. Just some UX massaging so that it's clear what it is to users, I think, along with some small architecture re-shuffling. But I think it's probably not a ton of work, which is exciting.

[2021-04-12 20:19] nreese commented on #38720
Closing, discussion did not lead to action.

[2021-04-12 20:19] #38720 closed

[2021-04-12 20:20] nreese commented on #39716
Closing, no one is really asking for this.

[2021-04-12 20:20] #39716 closed

[2021-04-12 20:22] mistic commented on #89550
This test has been failing and looks flaky. Skipping for now:

master/8.0: 3f131f5
7.x/7.13: bb6904b

[2021-04-12 20:23] nreese commented on #44347
Closing, most renames have been addressed

[2021-04-12 20:23] #44347 closed

[2021-04-12 20:24] nreese commented on #44520
Closing, duplicate of https://github.com/elastic/kibana/issues/32821. Attribute needs to be moved from the source to layer so its available for all layers. Making it editable should be a part of that effort.

[2021-04-12 20:24] #44520 closed

[2021-04-12 20:25] nreese commented on #47885
Closing. Please re-open if you think this is something we would implement in the future

[2021-04-12 20:25] #47885 closed

[2021-04-12 20:26] nreese commented on #48194
Closing. Error handling has been improved to provide better feedback. Lets not go down the rabbit hole of handling every single type of error.

[2021-04-12 20:26] #48194 closed

[2021-04-12 20:29] nreese commented on #49240
closed by https://github.com/elastic/kibana/pull/92620

[2021-04-12 20:29] #49240 closed

[2021-04-12 20:31] nreese commented on #49971
Closing, maps now supports MVT tiles and blended layer

[2021-04-12 20:31] #49971 closed

[2021-04-12 20:33] nreese commented on #53127
Closing, no up votes or user requests at the moment.

[2021-04-12 20:33] #53127 closed

[2021-04-12 20:34] nreese commented on #54406
Closing, no up votes or user requests for feature

[2021-04-12 20:34] #54406 closed

[2021-04-12 20:34] #82479 closed

[2021-04-12 20:37] nreese commented on #56834
Closing, this can be accomplished with [dashboard drill downs](https://www.elastic.co/guide/en/kibana/current/drilldowns.html)

[2021-04-12 20:37] #56834 closed

[2021-04-12 20:38] nreese commented on #59243
Closing, zoom level license checks have been removed

[2021-04-12 20:38] #59243 closed

[2021-04-12 20:43] nreese commented on #64810
closed by https://github.com/elastic/kibana/pull/92918

[2021-04-12 20:43] #64810 closed

[2021-04-12 20:48] kobelb opened #96893 "Task Manager health API - `workload.value.average_interval_ms`"
## Problem

Currently, the [Task Manager health API](https://www.elastic.co/guide/en/kibana/master/task-manager-health-monitoring.html) returns statistics about Task Manager's configuration, workload, and runtime performance. The `workload.value.schedule` currently returns the 10 most frequent intervals for the scheduled tasks, but it does not return the intervals for all scheduled tasks, as this

[2021-04-12 20:48] elasticmachine commented on #96893
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-12 20:51] TinaHeiligers commented on #96592
@mshustov I don't have specifics yet, I added that item as a placeholder.

[2021-04-12 20:52] tsullivan commented on #19914
WIP PR https://github.com/elastic/kibana/pull/94966

[2021-04-12 20:53] andrew-goldstein opened #96894 "[Security Solution] Provide a workflow for adding runtime fields to an alerts index for unmapped fields"
Unmapped fields in an alerts index, (e.g. `.siem-signals-default`) are not displayed in the `Detection alerts` table, as shown in the screenshot below, until users take one of the following actions:

- manually add a [runtime field](https://www.elastic.co/guide/en/elasticsearch/reference/current/runtime.html) to the alerts index (for the unmapped field), as illustrated by the [runtime fields docum

[2021-04-12 20:53] elasticmachine commented on #96894
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-12 20:53] elasticmachine commented on #96894
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-12 20:55] andrew-goldstein commented on #96894
@MikePaquette, @dontcallmesherryli this is the enhancement request that we discussed today with @stephmilovic @rylnd and @XavierM

[2021-04-12 21:01] kibanamachine opened #96895 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration from 7.7.2-xpack with 100k objects copies all the document of the previous index to the new one"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13284/)

[2021-04-12 21:17] cturner-confluent commented on #70617
What do you mean by cleanup the browser? Clear the cache, etc...? Just faced the same issue and we are running the same version (7.1.1)

[2021-04-12 21:17] shaunmcgough commented on #66238
I had a user report this to me today as "this used to preserve the filter context, but for the past few versions it disabled them". Just FYI that we are getting reports from the field.

[2021-04-12 21:18] Zacqary commented on #96370
Talked with @ph and it turns out functionality related to `auto_upgrade` is already tracked here: https://github.com/elastic/kibana/issues/92612

I don't think we need to do anything specific for preconfigured policies, as solving this issue would also apply to every other agent policy.

Adding `auto_upgrade` to `packages` might be less complicated but I think it still warrants its own issue. I'd

[2021-04-12 21:23] andrew-goldstein opened #96898 "[Security Solution] Prevent unmapped fields from being added to the `Detection alerts` table"
**Describe the bug:**

**Summary**

Prevent unmapped fields from being added to the `Detection alerts` table by disabling the checkbox (and drag and drop) that enables unmapped fields to be added to the table from the `Alert details` flyout.

**Details**

As noted [in the following enhancement request](https://github.com/elastic/kibana/issues/96894), unmapped fields in an alerts index, (e.g. `.sie

[2021-04-12 21:23] elasticmachine commented on #96898
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-12 21:23] elasticmachine commented on #96898
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-12 21:25] andrew-goldstein commented on #96898
@MikePaquette, @dontcallmesherryli this is the bug that we discussed today with @stephmilovic @rylnd and @XavierM

Per our discussion, this bug was created [in addition to this enhancement request](https://github.com/elastic/kibana/issues/96894).

[2021-04-12 21:39] marshallmain commented on #96894
As an alternative to adding each new field to the mapping permanently, perhaps timeline could add runtime fields for unmapped columns in the search request itself? https://www.elastic.co/guide/en/elasticsearch/reference/master/runtime-search-request.html

If timeline can detect which fields are unmapped and attempt to add them into the query as runtime fields before loading the table then we can p

[2021-04-12 21:59] apmartins85 commented on #70617
Yeap @cturner-confluent, just cleaned my browser cache!

[2021-04-12 22:00] aznick commented on #96613
An update to the above, I just tested again and it looks like the current implementation does not include `.async_search` in that telemetry count.

@afharo thank you for your help digging into it and the additional test! Closing this issue; please feel free to reopen if necessary.

[2021-04-12 22:00] #96613 closed

[2021-04-12 22:10] mattkime opened #96901 "[TSVB] Index patterns are incorrectly cached"
I was looking into a TSVB related performance problem when I came across this - https://github.com/elastic/kibana/pull/92812/files#diff-1b2036375d883a146d1c7e25c3d366dd1cb0ce30574ef4da7ce6d222ca6f4d23 - an endpoint specific index pattern cache. It addresses this issue - https://github.com/elastic/kibana/issues/93751

It appears that index patterns are cached by `id`. Unfortunately `id`s are not un

[2021-04-12 22:13] elasticmachine commented on #96901
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-12 22:20] wylieconlon commented on #96901
I think this would be a blocker if we don't fix it before release.

[2021-04-12 22:30] ceeeekay opened #96904 "[Visualization] Aggregation-based vis with date histogram - not progressing if current data is missing"
**Kibana version:** 7.12.0
**Elasticsearch version:** 7.12.0
**Server OS version:** Ubuntu 18.04
**Browser version:** Firefox 87.0
**Browser OS version:** MacOS 11.1
**Original install method:** Apt from Elastic repo

**Describe the bug:**
Any(?) aggregation-based vis using the new library with a date histogram does not show the current time period if there is no recent data. E.g., if the input pi

[2021-04-12 22:42] wylieconlon commented on #96901
We can probably fix the caching without reverting https://github.com/elastic/kibana/pull/92812

[2021-04-12 22:49] mattkime commented on #96901
I spoke to core - they say that loading saved objects should be fast. Perhaps some of the index pattern initialization code is slow. It starts at `src/plugins/data/common/index_patterns/index_patterns/index_patterns.ts` with the `getSavedObjectAndInit` function.

[2021-04-12 22:50] smith commented on #96565
This isn't something we need right now.

[2021-04-12 22:50] #96565 closed

[2021-04-12 23:01] smith opened #96907 "[Observability RAC] Alert Flyout"
## Summary
Add flyout containing:
 - alert reason
 - "Overview" tab
	 - Alert summary (whatever fields are available)
	 - Actions
		 - "View in app" button
		 - "View rule" button

<img src="https://user-images.githubusercontent.com/209966/114544010-50b59800-9c5a-11eb-9052-c9d68dfe3a12.png" width="500"/>

## Tasks:
 - Update the flyout (https://github.com/elastic/kibana/blob/0316787ead1455957509d8

[2021-04-12 23:02] #96607 closed

[2021-04-13 00:07] myasonik commented on #96707
EUI has fixed the issue where links opening in a new tab aren't reported to screen readers.

The icon is also sort of fixed... EUI will always inject the same icon but sometimes apps haven't updated yet resulting in wonky double-icon setups... I'll open a new issue for that.

<img width="752" alt="Screen Shot 2021-04-12 at 20 05 12" src="https://user-images.githubusercontent.com/4188087/114477734-

[2021-04-13 00:09] myasonik opened #96909 "Double-icon for links that open in a new tab"
## Bug
EUI now sets an icon for opening in a new tab by default so now there are two icons where a custom icon might have previously been set.

<img width="752" alt="Screen Shot 2021-04-12 at 20 05 12" src="https://user-images.githubusercontent.com/4188087/114477789-dbe74d00-9bca-11eb-81ba-70b84438909b.png">

## Solution
Remove custom icon

[2021-04-13 00:09] elasticmachine commented on #96909
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-13 00:15] alisonelizabeth opened #96910 "[Index Management] Remove documentation service"
In https://github.com/elastic/kibana/pull/89957, all documentation links in Index Management were added to the core doc links service and are accessible via `docLinks.links`. With this change, it is no longer necessary to maintain the [local documentation service](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/public/application/services/documentation.ts) and all lin

[2021-04-13 00:15] elasticmachine commented on #96910
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-04-13 00:17] kibanamachine commented on #89932
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13287/)

[2021-04-13 00:40] XavierM opened #96912 "[Search Strategy] Include kibana request as a dependency"
We are using search strategy with timeline to get events in timeline. We are also using our timeline grid to show alerts from detection rules in security solution.

In the RAC team, we decided to use this generic component to show alerts in observability but we need to enhance our search strategy to be able to do RBAC around our alerts. We will need to add the kibana request in the dependency of s

[2021-04-13 00:40] elasticmachine commented on #96912
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-13 00:40] elasticmachine commented on #96912
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-13 01:12] #96390 closed

[2021-04-13 03:05] gougang opened #96919 "7.8 版本中，默认会按日期字段排序，然后按其他字段排序"
在kibana界面中点击字段排序的时候，默认会先按照time字段排序，在按指定的其他字段排序。而无法指定某个字段独立排序。导致排序结果展示不准确。请问如果才能关闭time字段的默认排序功能

{
  "version": true,
  "size": 500,
  "sort": [
    {
      "date_logTime": {
        "order": "desc",
        "unmapped_type": "boolean"
      }
    },
    {
      "int_xapi_count": {
        "order": "asc",
        "unmapped_type": "boolean"
      }
    }
  ],
  "aggs": {
    "2": {
      "date_histog

[2021-04-13 07:07] mtojek commented on #96779
@blakerouse @nchaulet Would you mind sharing the status? Do you need more reference data/logs?

For clarity: due to this issue we are unable to test integrations with latest snapshots (current using ones published a week ago).

[2021-04-13 07:24] pgayvallet commented on #96131
It can't, unless we decide to consider `search-session` as a no-longer used type, as we did for `fleet-agent-events`, which is obviously something we don't want.

70k may be an issue. I would update https://github.com/elastic/support-known-issues/issues/621 to add `search-session` to the list of types that are at risk.

and

[2021-04-13 07:35] pgayvallet commented on #96761
@Bamieh should we add this to https://github.com/elastic/kibana/issues/84380?

[2021-04-13 07:35] katrin-freihofner opened #96923 "[User experience app] UI polish"
This initially came up in our design audit: https://github.com/elastic/observability-design/issues/14

## Empty State / First time user experience (FTUX)

- [ ] On a fresh install, there is no data to display and no instruction on how to setup the User Experience app. The empty paneled layout with UI controls suggests that the app is setup and ready to use. I'd suggest showing a simpler page with

[2021-04-13 07:35] elasticmachine commented on #96923
Pinging @elastic/uptime (Team:uptime)

[2021-04-13 07:39] flash1293 commented on #93433
Discussed this with @wylieconlon and I think we can close this for now - the suggested behavior isn't more consistent than the current one, just different. @wylieconlon you mentioned an issue introducing an indicator for the "active" time field, could you link it here please?

[2021-04-13 07:39] #93433 closed

[2021-04-13 07:44] flash1293 commented on #89269
Yes, we are hitting the data plugin index pattern cache, this issue is about the re-mapping of index patterns within Lens (https://github.com/elastic/kibana/blob/dcc34e4a53f93fcdbf6bf6172d7183bd0e441c0c/x-pack/plugins/lens/public/indexpattern_datasource/loader.ts#L121). Sorry if that wasn't clear from the issue.

The data plugin takes care of that, it will only do the work once even if the same in

[2021-04-13 07:45] #93037 closed

[2021-04-13 07:46] pgayvallet commented on #96626
I see a few limitations doing that:
- The status model wasn't really designed for such complex status structure (see `ServiceStatus` type). Also, having the `SO` service `degraded` or `unavailable` until the non-blocking migrations are completes could have consequences on plugins non relying on that new feature
- If we are to update the migration status in real time (e.g adding current errors to t

[2021-04-13 07:49] sebelga commented on #96397
Thanks for your suggestion @cjcenizal. I am not sure I am convinced by the icon button. It seems more like an indicator than an item the user can click on (It is not like it is a row of icons clearly defined as buttons). We also have a very tight schedule for this as it needs to be merged Thursday end of day so I'd prefer not to depend on the release of a new icon.

What I can do is set the label

[2021-04-13 07:58] pgayvallet commented on #96530
We don't provide any support on 3rd party tools or documentation. Unless you use Kibana APIs directly, we can't really help you there.

FWIW, from the terraform doc

Directly interacting with the `.kibana` index is just not supported and highly discouraged, as it leaks the SO underlying ES schema which is an implementation detail of Kibana, and may change at any time (which already occured, as als

[2021-04-13 08:17] dej611 opened #96926 "[Lens] Chart does not reload on runtime field edit"
**Describe the bug:**

Once edited a runtime field and saved, the chart does not refresh.
This is probably due to some cache invalidation logic that is not picking up the change.

**Steps to reproduce:**
1. Create a new runtime field `MyField` in Lens
2. Add it as `scripted` and write `emit(2)`.
3. Use the field to produce a chart
4. Now edit the same runtime field and change the script to `emit(I

[2021-04-13 08:17] elasticmachine commented on #96926
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 08:21] flash1293 commented on #96926
To refresh the UI, we have to reset the session id - this can be done via `data.search.session.start()`.

On the app level we can use `data.search.session.getSession$` to make sure the locally stored session id is the currently active one - if it isn't we can set the state which will pass it down to the editor frame and kick off a new rendering.

We have to make sure this won't trigger multiple fi

[2021-04-13 08:23] dikshachauhan-qasource commented on #76843
Hi @EricDavisX ,

While converting all proposed scenarios in testcases, we have come up with below query.

Could you please confirm about what is expected from point ' Should not built only for cloud' mentioned in ticket summary AC.

[code]

As we are unable to determine how its expected to behave in application.

Thanks
QAS

[2021-04-13 08:42] #84505 closed

[2021-04-13 09:04] MadameSheema commented on #96294
@deepikakeshav-qasource can you please verify the fix of that ticket on the first 7.13.0 BC? Thanks :)

[2021-04-13 09:15] timroes commented on #96919
(Google) Translation:

[2021-04-13 09:15] elasticmachine commented on #96919
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 09:24] alexwizp commented on #96901
Not sure if the problem reported is happening on the `TSVB` side. Yes, we added some caching logic for `TSVB`, but let me emphasize that this caching works at the `request` level.  This means that for `each request`, its own cache object is created, which will be automatically cleared by GC.

I want to make it clear that `TSVB` works with both `low-level ES indices` and `Kibana indices`. This expl

[2021-04-13 09:31] alexwizp commented on #96901
Maybe it's somehow related #87116

[2021-04-13 09:37] kertal commented on #96919
You can do sort by `date_logTime`, here's how you can remove sorting by the time field:
![image](https://user-images.githubusercontent.com/463851/114531413-2a88fb80-9c4c-11eb-8ca9-fa525b16b461.gif)

You need to click on the sort arrow of the time field again after you've added another field to sort by.

[2021-04-13 09:41] kertal commented on #96919
Note that if you've using 7.12, and set `doc_table:legacy` to `Off, the sorting UI becomes much better:

<img width="606" alt="Bildschirmfoto 2021-04-13 um 11 38 10" src="https://user-images.githubusercontent.com/463851/114532318-0548bd00-9c4d-11eb-8b02-9c435469b7c0.png">

Closing this since it's no bug or enhancement suggestion

[2021-04-13 09:41] #96919 closed

[2021-04-13 09:59] alexwizp commented on #96901
To be honest, I think that the problem is that we do not have caching between requests. As a result, if the user adds several `TSVB` panels to the dashboard, then we are sending to request the same data for each panel.

But then again, if this is true, the solution should be service-level ...

[2021-04-13 10:25] stratoula commented on #92301
All these heatmap failures have the same problem:
![visualize app  heatmap chart should show 6 custom color ranges](https://user-images.githubusercontent.com/17003240/114538007-8d35c380-9c5b-11eb-900b-32a861410aa6.png)

I noticed that this suite runs twice: once if the legacy charts switch is enabled and one if not. There is no need to run it twice. I will create a fix for that, that I think will

[2021-04-13 10:34] joshdover commented on #79498
I can confirm @gose's experience comparing 7.11.2 to 7.12.0. It appears there is no longer a large increase in the "page" memory (DOM and canvas elements) when navigating to a Dashboard. On my machine, Kibana 7.11.2 maxed out at 1.3gb while 7.12.0 maxes out at 521mb.

Safari doesn't appear to give any detailed information, so if I had to guess, it's likely a canvas element was the culprit here. @e

[2021-04-13 10:52] #90136 closed

[2021-04-13 10:52] #96242 closed

[2021-04-13 11:06] sqren commented on #96568
Closing as duplicate of https://github.com/elastic/kibana/issues/96907 (LMK if that's not the case)

[2021-04-13 11:06] sqren commented on #96567
Closing as duplicate of https://github.com/elastic/kibana/issues/96907 (LMK if that's not the case)

[2021-04-13 11:06] #96567 closed

[2021-04-13 11:21] #78222 closed

[2021-04-13 11:26] paulb-elastic commented on #91062
@mostlyjason, by adding it to the *integration policy*, do you mean within the configuration of the monitor itself (i.e. where we set all the other properties such as URL, frequency etc.)?  This seems the wrong place to put it, as the Agent is going to be in a location, which can then run different monitors (and the same monitor can run on different Agents).

The location seems to be more of a pro

[2021-04-13 11:32] #96279 closed

[2021-04-13 11:40] sgrodzicki opened #96945 "Logs & Metrics UI 7.13.0 test plan"
This meta issue is meant to kick off the test plan for 7.13.0 and acts as our go-to place for discussions around it.

Next steps:

1. Copy [test plans from the previous release](https://github.com/elastic/kibana/milestone/26?closed=1) and adjust based on PRs you've authored:

- [x] [@estermv](https://github.com/elastic/kibana/issues?q=is%3Amerged+label%3Av7.13.0+author%3Aestermv)
- [x] [@igoristic

[2021-04-13 11:40] elasticmachine commented on #96945
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-13 11:43] rudolf commented on #96131
Discussed offline: 70k documents is probably fine and should complete in a matter of minutes, but since `search-session` documents will keep on growing we might very well have users with much more documents in a couple of months (assuming they didn't upgrade to 7.12.1+). So we decided it's safer to exclude these documents during the migration in https://github.com/elastic/kibana/pull/96938

[2021-04-13 11:45] pheyos commented on #96202
I'll look into it :eyes:

[2021-04-13 11:49] rudolf opened #96946 "Monitoring kibana stats fails with illegal_argument_exception"
On the 7.12 branch I see the following failures and no kibana stats:
[code]

Caused by https://github.com/elastic/elasticsearch/pull/71629

[2021-04-13 11:49] elasticmachine commented on #96946
Pinging @elastic/kibana-core (Team:Core)

[2021-04-13 11:54] kibanamachine opened #96947 "Failing test: Chrome UI Functional Tests.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page allows to update the saved object when submitting"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13162/)

[2021-04-13 11:54] kibanamachine commented on #96372
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13162/)

[2021-04-13 12:02] pheyos commented on #96202
The failed CI job was on 7.x and ran before the fix backport #96599 was merged, so it didn't contain the fix yet (can also be seen from the test execution log).
Closing this issue again as the flakiness should be fixed with the merged backport.

[2021-04-13 12:09] pmuellr commented on #94956
A customer noted that they didn't understand the complete flow of operations, so we should somehow doc that.  Basically, that you need to create an action first, and then use it's id in the action section of the alert parameters to reference it.

[2021-04-13 12:12] #92903 closed

[2021-04-13 12:12] mandeepkaur-qasource opened #96949 "Agents runs into an 'Unhealthy' state and KPI count is displayed as '0' under 'Unhealthy' header on Agents table."
**Kibana version:** 7.13.0 Snapshot Kibana cloud environment
**Host OS and Browser version:** Windows, All

**Build Details:**
Build number: 40223
Commit: 302ee56818e77b0ab5933ae82dbd7bceac05f225
Artifacts: https://artifacts-api.elastic.co/v1/search/7.13.0-SNAPSHOT

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Agent should be installed

**Steps to Reproduce:**
1.

[2021-04-13 12:15] elasticmachine commented on #96904
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 12:15] elasticmachine commented on #96854
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 12:15] #96640 closed

[2021-04-13 12:16] elasticmachine commented on #96706
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 12:18] flash1293 commented on #96706
Glad you were able to fix your dashboard. I agree that it should be much easier to go through this. For the record - it's not about missing indices, but about a missing index pattern saved object in Kibana.

I wrote down some flows to fix this without having to export/import your configurations here as well: https://discuss.elastic.co/t/rename-the-index-pattern-for-sample-visualizations/266617/2

[2021-04-13 12:19] elasticmachine commented on #96699
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 12:19] amolnater-qasource commented on #96949
Reviewed & Assigned to @EricDavisX

[2021-04-13 12:19] flash1293 commented on #96699
Thanks for opening this issue, I agree this is something we should offer.

[2021-04-13 12:20] flash1293 commented on #96699
I just realized there's another issue tracking the same thing - closing this one as a duplicate: https://github.com/elastic/kibana/issues/72063

[2021-04-13 12:20] #96699 closed

[2021-04-13 12:26] th0ger commented on #96699
Thanks, @flash1293 I looked for existing issues, but didn't find that one.

[2021-04-13 12:30] mikecote opened #96954 "Missing limitations in /api/alerting/rule_types API documentation"
There isn't a note in the [docs](https://www.elastic.co/guide/en/kibana/master/list-rule-types-api.html) to indicate that only a set of rule types returned by the `/api/alerting/rule_types` API can be created in the management UI or other UIs.

There have been questions about why a large number of rule types are returned by the API but not available to create in the UI.

[2021-04-13 12:30] elasticmachine commented on #96954
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-13 12:30] rudolf commented on #96946
Seems like this is an upstream bug in `elasticsearch-js` because of a bug in the Api spec from Elasticsearch

[2021-04-13 12:31] th0ger commented on #72063
Will **small multiples** be the official name for this feature?
This kind of chart is often called **facet** or **trellis** (afaik they are the same).
Anyway, now that I've mentioned it, people like me can find this post :-)

[2021-04-13 12:33] flash1293 commented on #72063
We haven't decided on the naming in the UI yet, but we will definitely consider your feedback, thanks

[2021-04-13 12:33] elasticmachine commented on #96947
Pinging @elastic/kibana-core (Team:Core)

[2021-04-13 12:50] dikshachauhan-qasource commented on #76843
Hi @EricDavisX

We have created 13 testcases for above PR. testcases link is as follows for all linked tickets:

 For https://github.com/elastic/kibana/issues/76843
- https://elastic.testrail.io/index.php?/cases/view/76991
- https://elastic.testrail.io/index.php?/cases/view/76992
- https://elastic.testrail.io/index.php?/cases/view/76999
- https://elastic.testrail.io/index.php?/cases/view/77000

 F

[2021-04-13 13:20] #95875 closed

[2021-04-13 13:21] #89932 closed

[2021-04-13 13:26] #96277 closed

[2021-04-13 13:27] mdefazio commented on #96397
@sebelga , I agree with your points here.  Here's a thought I had in hopes to clean up the UI.  This is still a bit rough around the edges as I'm not satisfied with the popover layout. But perhaps this gives us the space to be explicit as you mentioned.
Excuse the slight inaccuracy of the prototype :)

![Screen Recording 2021-04-13 at 09 20 17 AM](https://user-images.githubusercontent.com/3756330/

[2021-04-13 13:30] EricDavisX commented on #96949
we can confirm this after the changes for Fleet Server are found working - it may be a dupe of one fixed already as part of development.

[2021-04-13 13:35] phillipb commented on #88541
@katefarrar / @sorantis, I don't think we need the "Apply date filter" functionality here. The "show in inventory" does that already. Also, the anomalies table in the Anomaly Detection tab doesn't have that functionality. Is there a reason to be inconsistent there?

[2021-04-13 13:36] EricDavisX commented on #76843
@jfsiii and @hbharding would you want to take a look at the test cases created and see how they look?

[2021-04-13 13:36] gougang commented on #96919
@kertal Thank you for your help

[2021-04-13 13:40] drewpost commented on #94741
I'm happy with "Resource Size" and "Transfer Size". Do we have any option for a help/legend box that isn't always visible but someone can call up that explains what all of the metrics are, and represent. Basically exactly what Vignesh did in his comment above but for all the timing points and measurements?

[2021-04-13 13:42] drewpost commented on #91062
I'd disagree. It's the main differentiator for the test result list and we also show the location names where the map used to be. @paulb-elastic

[2021-04-13 13:48] qn895 commented on #93610
This validation is added now in https://github.com/elastic/kibana/pull/96348

[2021-04-13 13:48] #93610 closed

[2021-04-13 13:51] sorantis commented on #88541
I think the idea behind this dropdown was to let the user expand the time range to see whether this host had similar anomalies in the past. Right now i don't think there's a way to control this time range anywhere on Inventory (which should be fixed with the [inventory time picker](https://github.com/elastic/kibana/issues/81046)).

[2021-04-13 13:53] phillipb commented on #88541
@sorantis sorry, I meant this filter:
![image](https://user-images.githubusercontent.com/1482089/114564121-a9bf0500-9c35-11eb-8235-3f60e87cb7fd.png)

[2021-04-13 13:54] thomasneirynck opened #96972 "[Maps][Alerts] Move spatial join to ingest-time iso on-the-fly to help with size constraints"
Geo-containments currently use a nested filter-agg under which a term-agg with top-hits on entities are nested to determine containment.

In a pre-requisite step, all the shape-fitlers are determined. In the agg-query, those filters are used as buckets to determine top-hits.

In effect, this performs a "spatial join" on-the-fly. This is a heavy operation.

The top-level body of the agg is quite la

[2021-04-13 13:54] elasticmachine commented on #96972
Pinging @elastic/kibana-gis (Team:Geo)

[2021-04-13 13:55] sorantis commented on #88541
ah, don't have a strong preference here. We can remove it from the host details. Any reason not to @katefarrar?

[2021-04-13 13:58] nickofthyme commented on #79498
@joshdover It could very likely be the vislib replacement with elastic-charts. You could validate this if you toggle on the [`visualization:visualize:legacyChartsLibrary`](https://www.elastic.co/guide/en/kibana/current/advanced-options.html#kibana-visualization-settings) advanced setting to see if the memory usage increases to the `7.11.2` levels.

[2021-04-13 13:59] thomasneirynck commented on #93088
I would add a bullet point to investigate known scaling issues and possible work-around https://github.com/elastic/kibana/issues/96972

[2021-04-13 14:01] paulb-elastic commented on #91421
Confirmed with @drewpost in refinement that we will keep the main Synthetics call out implementation.

[2021-04-13 14:06] VladLasitsa commented on #47019
@TBragi  Is it reproducing only on 7.10? Also could you please provide more details, steps for reproducing issue because I cannot reproduce it on master and 7.11?

[2021-04-13 14:08] #67242 closed

[2021-04-13 14:13] #95643 closed

[2021-04-13 14:25] sebelga opened #96980 "[ILM] Update the label for the "Create searchable snapshot" action"
In the last stakeholder review of the ILM frozen phase a concern was raised around the label "Create searchable snapshot" as it was misleading. This label gives the impression that it will create a snapshot and that's it (not that the index is going to point to a repository).

The naming is still being discussed but this is what was proposed during the meeting:

- "Transition to cold index" (for t

[2021-04-13 14:25] elasticmachine commented on #96980
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-04-13 14:25] stratoula commented on #95756
To clarify this, the indicator that we want is this one:
![image](https://user-images.githubusercontent.com/17003240/114568976-4658c580-9c7d-11eb-8360-6ef5265adbfe.png)

[2021-04-13 14:32] drewpost commented on #91421
At least until we get to GA. It's also experiment/beta/ga agnostic text so it won't require any further updating. Additionally, if a user has surpassed the message before, they will not be shown the message again after updating.

[2021-04-13 14:34] smith commented on #96568
This is specifically for the prev/next navigation, so make it a separate issue from implementing the whole flyout, so it's not a duplicate.

[2021-04-13 14:43] mattkime commented on #96901
@alexwizp It seems the error was in my understanding. Apologizes. Could you add some comments to the code so the intentions are clear in the future?

[2021-04-13 14:48] markov00 commented on #79498
@joshdover I'm curious why you pointed out that the canvas elements are the culprit. These can be seen as images, but it doesn't push the memory to that level. We have 1 canvas element per chart and the number of DOM nodes used is relatively small compared to all the SVG charts rendered. From what I see in the first examples, there were no canvas element involved at all, they were all vislib + TSV

[2021-04-13 14:49] peteharverson opened #96982 "[ML] Change labels for custom rules to clarify their use in jobs rather than alerting"
With the adoption of new RAC (Rules / Alerts / Cases) terminology, the labels currently used for [custom rules](https://www.elastic.co/guide/en/machine-learning/master/ml-rules.html) for anomaly detection jobs should be changed to 'job rules' to clarify their role in jobs rather than alerting.

- [x] Anomaly anomalies link to change to 'Configure job rule'

![image](https://user-images.githubuserc

[2021-04-13 14:49] elasticmachine commented on #96982
Pinging @elastic/ml-ui (:ml)

[2021-04-13 14:51] jfsiii commented on #76843
@dikshachauhan-qasource re: https://github.com/elastic/kibana/issues/76843#issuecomment-818547513

I believe this is tested & confirmed via the HTTP API for creating them:

[code]

There's nothing cloud-specific about it and it's subject to the same "must be superuser" requirement as all Fleet APIs

[2021-04-13 15:01] katefarrar commented on #88541
totally fine with removing it. good call @phillipb & @sorantis.

[2021-04-13 15:03] #96000 closed

[2021-04-13 15:15] #62154 closed

[2021-04-13 15:16] #96515 closed

[2021-04-13 15:24] sebelga commented on #96397
I like the direction it is heading with the popover @mdefazio ! 👍

[2021-04-13 15:35] inqueue opened #96988 "Index pattern can be deleted when user only has the read privilege assigned to index pattern management"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** Arch

**Browser version:** Chome 89.0.4389.114 (Official Build) (x86_64)

**Browser OS version:** macOS 10.15.7

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**

A user role with only the `read` privilege for index pattern management can delete an index patt

[2021-04-13 15:35] elasticmachine commented on #96988
Pinging @elastic/kibana-security (Team:Security)

[2021-04-13 15:50] #95166 closed

[2021-04-13 15:52] pgayvallet commented on #93623
The `upload file` action is registered by the `ml` plugin. However `ml` waits for the license to be fetched to ensure that it should register the action

https://github.com/elastic/kibana/blob/6ef7d2cd55606aeb4d0f0e7464788740cd5ab853/x-pack/plugins/ml/public/plugin.ts#L140-L148

This causes a race condition, as we may render the home page before the license is effectively resolved on the client si

[2021-04-13 15:56] hbharding commented on #94624
Thanks @gchaps / @dedemorton. I think its correct to say "reenroll Fleet Server" - though personally I find it a bit confusing. The ES URL that Fleet Server uses is defined during setup in the install command, and changing the ES URL in Fleet Settings does not apply to agent(s) running Fleet Server (@blakerouse confirmed). The only way to change the Fleet Server's ES URL is to set up (reenroll) a

[2021-04-13 16:05] stephmilovic opened #96993 "[Security Solution] [Timeline] Fix Timeline header on small screens"
The timeline header on small screen needs some extra CSS help:
<img width="517" alt="Screen Shot 2021-04-13 at 10 04 21 AM" src="https://user-images.githubusercontent.com/6935300/114584283-bf392c80-9c3f-11eb-8106-16aa0bdd5265.png">

[2021-04-13 16:05] elasticmachine commented on #96993
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-13 16:05] elasticmachine commented on #96993
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-13 16:09] mikecote commented on #96815
It might be good also to capture how many alerts are using this preconfigured connector. (on top of who turned on the configuration).

[2021-04-13 16:12] kibanamachine opened #96995 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/copy_panel_to·ts - dashboard app using legacy data dashboard panel copy to "before all" hook for "does not show the new dashboard option when on a new dashboard""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13303/)

[2021-04-13 16:12] kibanamachine opened #96996 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/copy_panel_to·ts - dashboard app using legacy data dashboard panel copy to "after all" hook for "it always appends new panels instead of overwriting""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13303/)

[2021-04-13 16:12] kibanamachine opened #96997 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/input_control_vis/chained_controls·ts - visualize app input controls chained controls should filter child control options by parent control value"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13303/)

[2021-04-13 16:12] kibanamachine opened #96998 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_unsaved_listing·ts - dashboard app using current data dashboard unsaved listing loses unsaved changes to new dashboard upon saving"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13303/)

[2021-04-13 16:19] ThomThomson opened #97000 "[ML] Minor Issues with Swimlane Embeddables"
**Kibana version:** Master

**Describe the bug:**
With this PR https://github.com/elastic/kibana/pull/96181, the machine learning embeddables are

There are a few minor issues and UI inconsistencies in using the ML swimlane embeddable on a dashboard.
1. Console logs fire every time the embeddable fetches data.
<img width="1050" alt="Screen Shot 2021-04-13 at 10 52 12 AM" src="https://user-images.g

[2021-04-13 16:19] elasticmachine commented on #97000
Pinging @elastic/ml-ui (:ml)

[2021-04-13 16:19] szabosteve commented on #96982
https://github.com/elastic/kibana/pull/96999 changes custom rules terminology to job rules on the UI.

[2021-04-13 16:20] #96697 closed

[2021-04-13 16:22] mikecote commented on #96893
Adding to To-Do, we'll research what it will take to accomplish this to know what lead time we'll need. If the research shows it's easy to do the work, might as well.

[2021-04-13 16:22] legrego commented on #96988
Transferring to @elastic/kibana-app for triage -- they own the Discover feature and the privileges required for the application to function

[2021-04-13 16:28] wylieconlon commented on #96778
I agree that we should offer this, but let's also try to clarify in the language some of the common types of pagination that this does not do:

1. Pagination does not improve performance of queries, as all the data is loaded up front
2. The pages don't represent the "full data set", like if you had a SQL pagination
3. Pagination will affect how the chart is rendered to PDF/PNG reporting

[2021-04-13 16:28] mikecote commented on #61143
Adding to To-Do, if it's an easy change we can try and fix it for 7.13.

[2021-04-13 16:29] ryankeairns commented on #92618
As we discussed in the sync today, we're looking to add a menu item that better surfaces the Advanced Setting which toggles between the data grid and legacy table. The current plan is to enable the data grid by default. Given it's central role and wide usage, we feel it would be wise to not make users dig around for this setting or, worse yet, be left unaware of the setting altogether.

Another co

[2021-04-13 16:41] madirey opened #97004 "[Security Solution] Network/DNS tab results in too_many_buckets_exception"
**Kibana version:**
 7.10.1

**Describe the bug:**
When navigating to the DNS tab within Security Solution Network page, user receives a `too_many_buckets_exception` like the following:
[code]

This error occurs on large indices with high cardinality on `dns.question.registered_domain`. Reducing the time-frame may work for some customers, but for others, they have too much data even at a 15m inter

[2021-04-13 16:41] elasticmachine commented on #97004
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-13 16:41] elasticmachine commented on #97004
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-13 16:48] dmlemeshko commented on #96901
I recently opened #96629 , just wonder if it describes the case you mention.

[2021-04-13 16:53] kibanamachine commented on #95898
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13167/)

[2021-04-13 16:53] kibanamachine commented on #96371
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13167/)

[2021-04-13 16:53] kibanamachine opened #97006 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/panel_replacing·ts - dashboard app using legacy data replace dashboard panels replaced panel with saved search"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13167/)

[2021-04-13 16:53] kibanamachine commented on #96947
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13167/)

[2021-04-13 16:53] kibanamachine opened #97007 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_vertical_bar_chart·ts - visualize app vertical bar chart vertical bar with Split series should correctly filter by legend"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13167/)

[2021-04-13 17:05] elasticmachine commented on #94088
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-13 17:10] cqliu1 opened #97010 "[Dashboard] Use uiActions for Editor menu options"
**Describe the feature:**

We register uiActions for the options in the editor menu in the dashboard toolbar.

**Describe a specific use case for the feature:**

An editor menu was added in https://github.com/elastic/kibana/pull/96181, which populates the menu with visualizations and embeddables that can be created from a dashboard. Instead of Dashboard generating these menu items, we should have

[2021-04-13 17:10] elasticmachine commented on #97010
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-13 17:25] Dosant commented on #96131
I think we can close this issue, the most critical improvements are in for 7.12.1,
For other session improvements that will be needed, we should open separate longer-term issues.

Huge thanks to core team for helping with ignoring non-persisted sessions during migration 🙏

[2021-04-13 17:25] #96131 closed

[2021-04-13 17:29] #95521 closed

[2021-04-13 17:38] Zacqary opened #97016 "[Fleet] Define default agent policies using Kibana Config"
As requested in discussion on https://github.com/elastic/kibana/pull/96588, instead of having specific `ensureDefaultAgentPolicy` functions, we should use Kibana config defaults to define the default policies.

Use the Preconfiguration API to initialize these default policies, move the information in `DEFAULT_AGENT_POLICY`/`DEFAULT_FLEET_SERVER_AGENT_POLICY` into the config default values, and all

[2021-04-13 17:38] elasticmachine commented on #97016
Pinging @elastic/fleet (Team:Fleet)

[2021-04-13 17:38] elasticmachine commented on #97016
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-13 17:45] Zacqary commented on #97016
This may be difficult to do with just a simple use of `@kbn/config-schema`. We can set a default value of:

[code]

but if the user specified:

[code]

we don't want this to overwrite the two default policies. But with a basic use of `defaultValue`, we're providing a completely different array.

Might be able to write an intelligent merge function to handle this.

[2021-04-13 17:47] #96393 closed

[2021-04-13 17:50] Zacqary opened #97018 "[Fleet] Improve error handling when a package name contains a - character"
EPM disallows the character `-` in package names, because it parses package keys as `package_name-semver`. Unfortunately, because the code splits at the first instance of `-` to determine `semver`, when you mistakenly try to install `package-name`, it will throw an invalid semver error.

We're running into this issue a lot when we accidentally try to install `fleet-server` instead of `fleet_server

[2021-04-13 17:50] elasticmachine commented on #97018
Pinging @elastic/fleet (Team:Fleet)

[2021-04-13 17:50] elasticmachine commented on #97018
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-13 17:51] wylieconlon commented on #96901
@dmlemeshko the problem of duplicate requests is a separate problem. I'd like to keep this discussion focused exclusively on the `getCachedIndexPatternFetcher`.

I just tested on master, and what I'm seeing is that the `cachedIndexPatternFetcher` is _not caching anything_. I added logging to see cache hits and cache misses, and then uninstalled and reinstalled the sample data for ecommerce. What I

[2021-04-13 17:59] kobelb commented on #96893
Thanks @mikecote <3 There will be a couple of other smaller issues that I'll be creating a bit later this week that I'd like to get some rough "guesstimates" on for the Autoscaling work. So, I'd recommend holding off until those are created as well because they're all related.

[2021-04-13 18:05] mostlyjason commented on #95783
@nchaulet can we use this for the URL that links to the fleet server docs https://ela.st/add-fleet-server? These docs are not published yet and we can update the redirect when they are.

[2021-04-13 18:13] nchaulet commented on #95783
Sure I will make the change

[2021-04-13 18:29] wylieconlon opened #97025 "[Core] uiSettingsClient.getRaw function is slow because of its use of _.defaultDeep"
This is a problem that has affected Kibana code before, due to the upgrade to lodash@4. For a more thorough explanation see https://github.com/elastic/kibana/pull/75850

To fix the performance of uiSettingsClient.getRaw, we should:

1. Change to `defaultsDeep({ ...userProvided }, this.defaults)` so that the three-argument issue is fixed
2. Cache the results of the defaultsDeep call for repeated us

[2021-04-13 18:29] elasticmachine commented on #97025
Pinging @elastic/kibana-core (Team:Core)

[2021-04-13 18:36] mikecote commented on #96893
Thanks, @kobelb! I've moved this into the backlog. Keep me posted when you're ready for us to provide guesstimates and we'll do them all at the same time 🙏

[2021-04-13 18:47] legrego commented on #62934
Closing, as I don't believe we have a need for this anymore

[2021-04-13 18:47] #62934 closed

[2021-04-13 19:11] sqren opened #97031 "[Observability RAC] UI for alerts table"
Meta: https://github.com/elastic/security-team/issues/901
Figma: https://www.figma.com/file/yQBHwF2L9umrOXQ4kLwEU0/Unified-alerting?node-id=207%3A3150

## Summary
An Observability analyst should be able to review active and resolved Observability alerts and determine whether they require action.

![image.png](https://images.zenhubusercontent.com/6062575146544029b57e40f9/d6cadbf5-aa95-4e3f-b506-547

[2021-04-13 19:11] bhavyarm opened #97032 "Kibana crashes fatally on recreating .kibana index"
**Kibana version:** 7.x (7.13)

**Original install method (e.g. download page, yum, from source, etc.):** with node scripts/functional_tests_server

**Describe the bug:** This is a weird one and found while working on this PR https://github.com/elastic/kibana/pull/96869
If user loads .kibana (empty kibana) into Kibana after importing saved objects file - Kibana crashes fatally while trying to migr

[2021-04-13 19:11] elasticmachine commented on #97032
Pinging @elastic/kibana-core (Team:Core)

[2021-04-13 19:11] archfz commented on #39038
It would also be nice if one could pin boards on the main navigation bar.

[2021-04-13 19:12] dominiqueclarke commented on #94741
@Drew0522 I would suggest a tooltip such as this one. We'd just need to work together to finalize the content. Perhaps we should create another ticket to add this new helptext?
<img width="454" alt="Screen Shot 2021-04-13 at 3 09 25 PM" src="https://user-images.githubusercontent.com/11356435/114607295-587d3880-9c6a-11eb-8daf-995be119f8fe.png">

[2021-04-13 19:14] #92947 closed

[2021-04-13 19:17] grabowskit commented on #96101
A paragraph or a section on the [Spaces documentation page](https://www.elastic.co/guide/en/kibana/current/xpack-spaces.html) about what Multiple tenants in Kibana (and that it doesn't mean multiple tenants for Elasticsearch) would be helpful.

I occasionally get questions about multi-tenancy in Spaces and ML results.  Even though ML jobs are now Space-aware and can be assigned to one more Spaces,

[2021-04-13 19:42] legrego commented on #96668
@thomheymann can you check to see if the redesigned user management page resolves this accessibility issue?

[2021-04-13 19:47] legrego commented on #79889
@thomheymann and I discussed this issue a bit today -- we have an idea for a middle ground that will help to _mitigate_ this, but not completely solve.

All of our supported browsers support the [`Page Visibility API`](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API), which allows us to detect if the tab is active or in the background.

If we detect that the tab is in the back

[2021-04-13 20:04] bhavyarm commented on #97032
I ran through the same steps on latest 7.13 snapshot and this is what I see and Kibana is operational:

ES logs:
[code]

Kibana logs:
[code]

[2021-04-13 20:04] jpenner123 commented on #32798
+1

[2021-04-13 20:12] rudolf commented on #97032
While Kibana is busy doing it's migration, the `.kibana-7.13.0_001` index gets deleted which makes Kibana crash.

When you run "Run es archiver to load empty .kibana" it will delete the `.kibana` index and Kibana will fail in all sorts of ways. If you want run esArchiver like this you'll need to shutdown Kibana first. Alternatively you need to be sure that the migrations complete before you let es

[2021-04-13 20:38] blakerouse commented on #96779
I see that fleet-server is having issues with the following error:

[code]

Did some more digging and this was not an error on 8.0. After some more looking I see that Fleet Server missed a backport to 7.x.

https://github.com/elastic/fleet-server/pull/205

[2021-04-13 20:43] blakerouse commented on #96779
Backport PR - https://github.com/elastic/fleet-server/pull/231

Once landed and new 7.x snapshot, I expect this to be fixed.

[2021-04-13 20:50] #90664 closed

[2021-04-13 20:55] jen-huang opened #97044 "[Fleet] Data streams page is slow when there are many data streams"
When there are many data streams, Fleet > Data streams page is slow due to fetching [Dashboard information for each data stream package](https://github.com/elastic/kibana/blob/238791b9421cda571011fd416ae0ffd090b1e94d/x-pack/plugins/fleet/server/routes/data_streams/handlers.ts#L166). We can improve the performance by fetching all dashboards once and then doing a lookup based on package name.

In ex

[2021-04-13 20:55] elasticmachine commented on #97044
Pinging @elastic/fleet (Team:Fleet)

[2021-04-13 20:55] elasticmachine commented on #97044
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-13 21:00] bhavyarm commented on #97032
Thanks @rudolf. cc @dmlemeshko @LeeDr do we need to do anything about tests? Thanks!

[2021-04-13 21:01] #96145 closed

[2021-04-13 21:02] #88852 closed

[2021-04-13 21:02] #92631 closed

[2021-04-13 21:02] #92870 closed

[2021-04-13 21:21] ghudgins commented on #83743
this is a bit more pressing for data visualizations that were saved directly to the dashboard (7.12 feature). Once you save a visualization this way there doesn't appear to be any way to change its description. Editing the visualization from the dashboard and hitting save takes you immediately back to the dashboard

[2021-04-13 21:32] ovidiaconescu opened #97054 "The Services page and the Service Overview page should show all transaction types combined"
**Is your feature request related to a problem? Please describe.**
In the APM section of Kibana, it would be helpful to see all the transactions that a service receives in the main graph, not only the request ones.

My use-case contains a lot of message queue consumers that I'm logging with transaction-type: consumer.
Because my service also has some regular HTTP requests, the consumer transaction

[2021-04-13 21:32] elasticmachine commented on #97054
Pinging @elastic/apm-ui (Team:apm)

[2021-04-13 21:35] pmuellr commented on #87992
Thinking through what we need here.  If we just wanted to extend the existing APIs, it would be something like this:

- ability to pass SO refs on create and update
- ability to return SO refs on get and find

There's a bit of a collision in that we currently already use SO refs for actions.  So we'll need to make sure that when we create the [names](https://www.elastic.co/guide/en/kibana/current/

[2021-04-13 21:45] n0othing commented on #90671
Heya, I actually ran into this today. +1 to getting it documented.

[2021-04-13 22:04] mattkime commented on #93924
@stratoula Can this issue be closed or is there additional work to be done?

[2021-04-13 22:04] mattkime commented on #93928
@stratoula Can this issue be closed or is there additional work to be done?

[2021-04-13 22:24] wylieconlon opened #97060 "[Logging] Update 7.12 deprecations of `elasticsearch.logQueries` to include a copy+paste equivalent config"
The 7.12.0 release notes tell me that this setting is deprecated, but the recommended configuration that is suggested is both buggy and not a 1:1 equivalent setting.

Before 7.12, it was possible to set `elasticsearch.logQueries` without using verbose logging. The release notes should include an equivalent configuration for this case, where the user only wants queries without full verbose logging.

[2021-04-13 22:24] elasticmachine commented on #97060
Pinging @elastic/kibana-core (Team:Core)

[2021-04-13 22:24] elasticmachine commented on #97060
Pinging @elastic/kibana-docs (Team:Docs)

[2021-04-13 22:29] mattkime commented on #96629
While multiple calls are not ideal, we should have well defined performance goals before putting effort into deduping.

[2021-04-13 22:31] wylieconlon opened #97061 "[TSVB] Improve schema validation performance"
This is the last and most important piece of improving TSVB performance in a dashboard. I have been profiling a dashboard that uses 46 panels of TSVB using the `metricbeat-*` and `filebeat-*` index patterns, but this dashboard I'm testing is totally empty- I have no matching data, so all the visualizations are empty. I've been able to optimize other parts of the request to return in 2-3 seconds, d

[2021-04-13 22:31] elasticmachine commented on #97061
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-13 22:31] wylieconlon commented on #96629
On that front, I just opened a new issue about the biggest bottleneck in these requests: schema validation https://github.com/elastic/kibana/issues/97061

[2021-04-13 22:53] mattkime commented on #67711
I'm picking this up for 7.14 and have a couple of thoughts

 - we still need mockups for the first index pattern
 - Users need to select whether they're creating a rollup index pattern or a normal index pattern as shown here - https://www.elastic.co/guide/en/kibana/current/data-rollups.html#_visualize_the_rolled_up_data
 - If we can come up with a collapsed display for the index list, then the cre

[2021-04-13 23:37] cqliu1 opened #97064 "[Dashboard] Scroll to new panel"
**Describe the feature:**

Dashboard should scroll a new panel into view when a new panel is created.

**Describe a specific use case for the feature:**

For embeddables like Log stream, the panel is added directly to a dashboard without any additional steps, but it's hard to tell the panel has been added when you're in a large dashboard. We should consider scrolling a new panel into view whenever

[2021-04-13 23:37] elasticmachine commented on #97064
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-13 23:39] kibanamachine commented on #96728
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96729
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96730
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96731
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96732
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96733
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96734
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96735
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96736
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96737
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96738
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96739
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96740
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96741
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96742
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:39] kibanamachine commented on #96743
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96744
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96745
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96746
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96747
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96748
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96749
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96750
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96751
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96752
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96753
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96754
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96755
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96756
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96757
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96758
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:40] kibanamachine commented on #96759
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-13 23:49] jfsiii commented on #96873
#97041 is a (draft) PR towards this.

https://github.com/elastic/kibana/commit/fcbc9d9e3775d166a1428e8ade7ee26ec5d745d6 has the changes to rename force to revoke

[2021-04-14 00:13] andrew-goldstein commented on #96209
Fixed by:

- `v7.13.0` / `7.x` branch: https://github.com/elastic/kibana/pull/97047
- `v8.0.0` / `master` branch: https://github.com/elastic/kibana/pull/96676

[2021-04-14 00:29] kibanamachine commented on #88177
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-14 00:29] kibanamachine commented on #88177
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/300/)

[2021-04-14 01:25] TomonoriSoejima opened #97065 "Transforms: Filter in wizard not working as expected"
**Kibana version:7.12.0**

**Elasticsearch version:7.12.0**

**Describe the bug:**

I was playing with transform and I was at step 7 Optional: Create another transform, this time using the latest method in this [page](https://www.elastic.co/guide/en/elasticsearch/reference/7.12/ecommerce-transforms.html) and noticed this filter `currency: "EUR" and I added my own filter like `customer_id: "20"`, b

[2021-04-14 01:50] andrew-goldstein commented on #96894
Thanks for suggesting this approach @marshallmain! We'll definitely consider it when we discuss the design and implementation.

[2021-04-14 02:18] kibanamachine opened #97067 "Failing test: Jest Tests.x-pack/plugins/uptime/public/pages - settings form it show select a connector flyout"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13177/)

[2021-04-14 03:00] ChenTsungYu commented on #33928
+1

[2021-04-14 03:52] #97044 closed

[2021-04-14 04:45] saravanansdesign opened #97072 "Can't run kibana 7.12.0: “re2.node” cannot be opened because the developer cannot be verified."
**Kibana version:**
7.12.0

**Elasticsearch version:**
7.12.0

**Server OS version:**
MacOS Big Sur - 11.2.3 / Macbook Air M1 Processor

**Browser version:**
Chrome Version 89.0.4389.114 (Official Build) (arm64)

**Original install method (e.g. download page, yum, from source, etc.):**
downloaded - https://www.elastic.co/downloads/kibana

**Describe the bug:**
“re2.node” cannot be opened because t

[2021-04-14 04:53] GrahamHannington commented on #67614
@wylieconlon wrote:

I have field values that indicate the percentage of a particular area of memory in use by each process running on a computer.

I want to chart the maximum value (for a given time period) of that field, by process (probably, top 10). Probably on a vertical bar chart, in descending order.

I'm undecided about wanting to set the maximum Y-axis value on this chart to 100 (that is,

[2021-04-14 05:08] igoristic commented on #96403
@simitt
Do we need to add periods and quota in the calculation like we did for CPU?

[2021-04-14 05:18] TomonoriSoejima opened #97074 "add support of wildcard when selecting visualize"
**Describe the feature:**

**Describe a specific use case for the feature:**

It would be handy if we support wildcards such as `*` when selecting visualize to add to the dashboard.

Adding a screenshot that shows that currently `*` is not treated as a wildcard.

![image](https://user-images.githubusercontent.com/25199092/114657877-e2d9a100-9d2b-11eb-853b-57194d9d839a.png)

![image](https://user-i

[2021-04-14 05:30] stratoula commented on #93924
Yes it should have been closed with  #94798. Closing it!

[2021-04-14 05:30] #93924 closed

[2021-04-14 05:31] stratoula commented on #93928
Same here @mattkime, closing it!

[2021-04-14 05:31] #93928 closed

[2021-04-14 05:33] #92301 closed

[2021-04-14 05:33] #95642 closed

[2021-04-14 05:34] #96246 closed

[2021-04-14 06:48] simitt commented on #96403
There are no `beats_stats.metrics.beat.cgroup.memory.stats.periods` and `beats_stats.metrics.beat.cgroup.memory.cfs.quota.us` reported.

I suggest we
* show `beats_stats.metrics.beat.cgroup.memory.mem.usage.bytes`
* show `beats_stats.metrics.beat.cgroup.memory.mem.limit.bytes` (this will just be a straight line if a limit is set)
*  keep showing the `GC Next` information
* remove the `Allocated Me

[2021-04-14 06:57] axw commented on #96403
Sounds good to me.

[2021-04-14 06:58] pgayvallet commented on #97061
Point 1 is directly related to https://github.com/elastic/kibana/issues/78351

[2021-04-14 07:17] flash1293 commented on #96988
This is necessary for the "field popularity" count: https://github.com/elastic/kibana/blob/3d2373325c76dc595d53f78209ff98b86e57ff81/src/plugins/discover/public/application/helpers/popularize_field.ts#L11

One way to overcome this is to remove index pattern write permissions from discover all and don't update the popularity count if a user happens to not gain that permission some other way. It's no

[2021-04-14 07:23] kertal commented on #96694
thx for reporting @bczifra, fix is on the way

[2021-04-14 07:34] afharo commented on #96946
Closing this issue as solved via `elasticsearch-js` client update.

[2021-04-14 07:34] #96946 closed

[2021-04-14 07:37] flash1293 commented on #96759
I'm not really getting this - it looks like there is a race condition with running the `beforeAll` hook of these tests vs setting up the jsdom environment so `window.HTMLElement.prototype` is provided. @spalger shouldn't jsdom be fully initialized before tests are run? I searched for similar problems but didn't find anthing. Are we doing something special in this regard in Kibana?

[2021-04-14 07:52] #96901 closed

[2021-04-14 08:08] sebelga commented on #96397
There is something I am not sure the popover layout handles (or I don't see it): the empty state when the user creates a new policy. There are no default value and he is required to either set one either toggle "Immediately".

Also, there is now a validation _between_ phases for the value entered. This means that if I enter "5 days" for the warm phase, then I enter "10 days" for the cold phase and

[2021-04-14 08:25] pgayvallet commented on #74657
Cannot reproduce on current master, both labels are correctly translated when switching to `zh-CN`

Dashboard

<img width="1898" alt="Screenshot 2021-04-14 at 10 21 53" src="https://user-images.githubusercontent.com/1532934/114678403-7b135e00-9d0b-11eb-8757-bd290a0c7dee.png">

Discover

<img width="1816" alt="Screenshot 2021-04-14 at 10 21 32" src="https://user-images.githubusercontent.com/1532934

[2021-04-14 08:26] afharo commented on #96761
We need to sync with the QA and Cloud teams as they are setting those configs when deploying dev, QA and staging deployments.

[2021-04-14 08:43] mshustov commented on #97060
an example from Release Notes
[code]
doesn't take into account changes introduced in https://github.com/elastic/kibana/pull/90764

[2021-04-14 08:52] afharo commented on #96538
@legrego there's no clear timeline for this yet. I'll need some help from @joshdover to set the right priorities.

We already have an X-Pack extension of the `telemetry` plugin. With some work (#93185), we could lean on it to extend this validation in the X-Pack side :)

I'm not entirely sure about how we'd do that for `GET /api/stats?extended` in this form though, but _Progress, simple, perfectio

[2021-04-14 08:58] afharo commented on #96726
The telemetry use-case calls it once every 24h per sender. #87846 would ensure it's called only once every 24h overall.

[2021-04-14 09:00] #95390 closed

[2021-04-14 09:00] #96694 closed

[2021-04-14 09:00] #96695 closed

[2021-04-14 09:02] afharo commented on #96193
Should we consider adding a `traceId` of some sort so we can link `request` and `response` entries?

[2021-04-14 09:10] darnautov commented on #97000
hey, thanks for submitting an issue @ThomThomson.

1. We definitely need to remove these console statements (the same happens inside of the ML app)
2. Re-quering of data happens on purpose actually, as the amount of buckets depends on the chart width. I'll look into the way we can optimize it.
3. Thanks for spotting this, looks like something has changed with our CSS rules. It was not the case bef

[2021-04-14 09:11] alexwizp commented on #97061
@wylieconlon interesting point. I thought we validate schema only on development mode. Initially we used that validation for telemetry and then it allowed us to find  some errors in schema working with JS files.  Now the following code doesn't have a lot of sense especially for production.

[code]
You plan probably is good but I suggest:

1) [Step 1] remove code above for 7.13. It should fix thee

[2021-04-14 09:16] kibanamachine opened #97085 "Failing test: Jest Tests.x-pack/plugins/security/public/management/api_keys/api_keys_grid - APIKeysGridPage creates API key with optional expiration, redirects back and displays base64"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13321/)

[2021-04-14 09:22] flash1293 commented on #97061
We introduced this a while back to check whether our schema is containing all of the real world cases - we actually found a bunch of edge cases this way, but if it's hurting performance this badly, IMHO we should remove it until we find a better solution.

[2021-04-14 09:33] kertal commented on #96988
@flash1293 thanks for the ping, yes we should discuss the future of the popularity feature, the way you're describing sounds good, it's a good topic for our sync, adding it to the agenda

[2021-04-14 09:36] hisashinz opened #97087 "[Canvas] Image Repeat element - the number of images becomes incorrect when the value changes"
**Kibana version:** 7.12.0, 7.11.1, 7.10.2, 7.10.0

**Elasticsearch version:** 7.12.0, 7.11.1, 7.10.2, 7.10.0

**Server OS version:** ESS

**Browser version:** Firefox 87.0 (64 bit)

**Browser OS version:** macOS Big Sur 11.2.3

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**
With the version > 7.10.0,   the number of images is incorrect for a C

[2021-04-14 09:37] afharo commented on #87846
It looks like, on average, we do 3 daily reports per cluster. However, I can see clusters that report 1700 per day and some others 600.

[2021-04-14 10:02] stratoula commented on #97061
Yes I agree let's remove it. Move to TS is really important, not sure if we can make it for 7.14 but let's see how it goes

[2021-04-14 10:28] MadameSheema commented on #96209
@mandeepkaur-qasource can you please validate the fix of this issue on the first 7.13BC? Thanks :)

[2021-04-14 10:31] deepikakeshav-qasource opened #97093 "[Security Solution] Navigation is not working for "create a template from timeline" icon under the "Import query from saved timeline" when creating a custom rule."
**Description**
Navigation is not working for "create a template from timeline" icon under the "Import query from saved timeline" when creating a custom rule.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Auditbeat should be installed

**Steps to Reproduce:**
1. Navigate to the Detection tab of security.
2. Click on manage a detecti

[2021-04-14 10:32] elasticmachine commented on #97093
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-14 10:32] deepikakeshav-qasource commented on #97093
@muskangulati-qasource Please review!!

[2021-04-14 10:46] elasticmachine commented on #97093
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-14 10:48] khaledesmail89 commented on #17789
+1

[2021-04-14 10:48] ghost opened #97094 "[Security Solution] User is not able to search for a custom Rule Name containing special character"
User is not able to search for a custom Rule Name containing special character.

**Build Details:**
Version: 7.13.0 Snapshot
Build number: 40223
Commit: 302ee56818e77b0ab5933ae82dbd7bceac05f225
Artifacts: https://artifacts-api.elastic.co/v1/search/7.13.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be install

[2021-04-14 10:48] elasticmachine commented on #97094
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-14 10:53] deepikakeshav-qasource commented on #97094
Reviewed & Assigned @MadameSheema

[2021-04-14 11:08] elasticmachine commented on #93727
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 11:27] formgeist opened #97097 "[APM] Correlations: The error rate correlations color is not consistent with other usage"
Kibana version: 7.12+

# Summary

I realized that I imagine since we hide the traffic correlations view, the visualization somehow got mixed up, since the error rate visualization is using the traffic viz color rather than the error rate color to make it consistent with error rate on the service overview and elsewhere.

<img width="948" alt="Screenshot 2021-04-14 at 13 26 13" src="https://user-ima

[2021-04-14 11:27] elasticmachine commented on #97097
Pinging @elastic/apm-ui (Team:apm)

[2021-04-14 11:32] elasticmachine commented on #97074
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 11:32] elasticmachine commented on #97074
Pinging @elastic/kibana-core (Team:Core)

[2021-04-14 11:34] flash1293 commented on #97074
Pinging both core and kibana app for this because I'm not sure where to resolve it. I stumbled over the very same thing just today, and I agree that this would be super helpful. We probably should implement it in all the places.

I came across this in the context of the field list in Lens/Discover
<img width="458" alt="Screenshot 2021-04-14 at 13 33 49" src="https://user-images.githubusercontent.c

[2021-04-14 11:35] elasticmachine commented on #96812
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-14 11:35] elasticmachine commented on #96813
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-14 11:35] elasticmachine commented on #96995
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 11:35] elasticmachine commented on #96996
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 11:35] elasticmachine commented on #96997
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 11:35] elasticmachine commented on #96998
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 11:35] elasticmachine commented on #97006
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 11:36] elasticmachine commented on #97007
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 11:36] elasticmachine commented on #97094
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-04-14 11:36] MadameSheema commented on #97094
@peluja1012 @spong can you please help to prioritise this? Thanks 😊

[2021-04-14 11:38] flash1293 commented on #76245
Unassigning as it's unlikely I will work on this in the short term

[2021-04-14 11:45] dikshachauhan-qasource commented on #91906
Hi @EricDavisX

Today we have covered all the linked tickets and created **15** testcases from above merged PR. Testcases Link is as follows:
- [C77004](https://elastic.testrail.io/index.php?/cases/view/77004)
- [C77004](https://elastic.testrail.io/index.php?/cases/view/77004)
- [C77004](https://elastic.testrail.io/index.php?/cases/view/77004)
- [C77004](https://elastic.testrail.io/index.php?/case

[2021-04-14 11:58] flash1293 opened #97100 "[Lens] Improve tick formatting"
Right now the chart decides where to place tick labels on an axis, then the formatter of the current dimension is applied to the value. This has some edge cases leading to misleading charts

<img width="1042" alt="Screenshot 2021-04-14 at 11 34 10" src="https://user-images.githubusercontent.com/1508364/114688848-676cf500-9d15-11eb-8420-05feef86621c.png">

Using the default format, it's showing cor

[2021-04-14 11:58] elasticmachine commented on #97100
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 12:12] formgeist opened #97101 "[APM] Instances plot: The click area of the selectable dots are not accessible when they're on the outer areas of the chart canvas"
Kibana version: master

# Summary

After some more testing on the new instances scatter plot, I've noticed that the click access on the chart isn't always great, especially when the dots are in outer areas of the chart canvas. Not sure if this is a limitation of the chart itself, or our implementation. One way to possibly mitigate this is to extend the domains.

![2021-04-14 at 14 09 05 - Violet W

[2021-04-14 12:12] elasticmachine commented on #97101
Pinging @elastic/apm-ui (Team:apm)

[2021-04-14 12:21] #81645 closed

[2021-04-14 12:29] elasticmachine commented on #96488
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 12:29] markov00 commented on #96488
This chart is actually possible in elastic-charts, so I passed the ball to the Lens team for a decision on that chart type

<img width="712" alt="Screenshot 2021-04-14 at 14 27 48" src="https://user-images.githubusercontent.com/1421091/114710225-c50d3b80-9d2d-11eb-8e90-be63e7f185fe.png">

[2021-04-14 12:30] smith commented on #97101
This might be fixable by adding a little padding to the chart theme on this chart. That might be simpler than messing with the domain, but we can also do that if the first thing doesn't work.

[2021-04-14 12:33] formgeist commented on #97101
@smith sounds reasonable, probably don't need much tbh

[2021-04-14 12:34] flash1293 commented on #96488
Thanks @markov00 !

Most of the building blocks for this are already done or in progress, the ones we are missing for now is overall metrics https://github.com/elastic/kibana/issues/94597 and specifying grouping for existing calculations https://github.com/elastic/kibana/issues/94609

I will leave this issue up because I think it's a nice use case and maybe we should provide a shortcut to it in so

[2021-04-14 12:38] sorantis opened #97106 "[Metrics UI] Use the ECS host metrics"
@simianhacker Yes, I have the new names but these names are not used by Metricbeat yet.
New names are in [ECS 1.9.0](https://www.elastic.co/guide/en/ecs/1.9/ecs-host.html) and the main changes are:

- [ ] host.cpu.pct -> host.cpu.usage
- [x] host.network.in.bytes -> host.network.ingress.bytes https://github.com/elastic/kibana/pull/134471
- [x] host.network.out.bytes -> host.network.egress.bytes ht

[2021-04-14 12:38] elasticmachine commented on #97106
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 12:46] jasonrhodes opened #97107 "[Stack Monitoring UI] Inaccurate error message when Kibana status is red"
It looks like we use a health status indicator component that is shared between the Kibana and ES overview panels, so that when either is showing a "red" status, the same message is used. This leads to a red Kibana status having an error message of "Missing primary shards" which is not accurate. More info here: https://github.com/elastic/sdh-elasticsearch/issues/4206

![Image of inaccurate error m

[2021-04-14 12:46] elasticmachine commented on #97107
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 12:50] sophiec20 commented on #96381
After discussion, we will look to have a narrow scope for 7.13 changes to the Anomaly Detection alert, which will allow us to stabilize functionality.

Summary of decisions:
- Anomaly Detection alert type will remain beta
- Alert type will be limited to a single job -- because logic for multiple jobs with differing bucket spans adds too much complexity for the time available
- The alert instances

[2021-04-14 12:58] jasonrhodes opened #97108 "[Observability UIs] How are we going to share components, methods, etc?"
Currently, APM imports the Log Stream component from the Infra plugin, which means [the APM plugin depends on the Infra plugin](https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/kibana.json#L12). Then, [APM imports the component directly from the Infra plugin's public/index file](https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/components/app/transaction_detai

[2021-04-14 12:58] elasticmachine commented on #97108
Pinging @elastic/apm-ui (Team:apm)

[2021-04-14 12:58] elasticmachine commented on #97108
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 12:58] elasticmachine commented on #97108
Pinging @elastic/uptime (Team:uptime)

[2021-04-14 13:04] sqren commented on #97108
We could also create an @elastic/observability package located [here](https://github.com/elastic/kibana/tree/master/packages) and put all re-usable components here.

Are there any problems with the registration pattern?

[2021-04-14 13:15] cjcenizal commented on #97108
Similar to @sqren's suggestion about an observability package, ES UI has solved this with the `es_ui_shared` plugin  (https://github.com/elastic/kibana/tree/master/src/plugins/es_ui_shared). It houses reusable modules that we use across our plugins.

[2021-04-14 13:19] elasticmachine commented on #90788
Pinging @elastic/kibana-core (Team:Core)

[2021-04-14 13:22] dikshachauhan-qasource commented on #86112
Hi @EricDavisX

Test cases for above changes is located at [C76941](https://elastic.testrail.io/index.php?/cases/view/76941)

Thanks
QAS

[2021-04-14 13:28] mtojek opened #97114 "[Fleet] Internal Server Error : version_conflict_engine_exception"
I found this one today while investigating failures. It happened while reassigning back the original policy. See logs:

[code]

Source: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/234/pipeline

[code]

Source: https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/234/artifact/build/elastic-stack-dump/latest/o365/logs/kiban

[2021-04-14 13:29] elasticmachine commented on #97114
Pinging @elastic/fleet (Team:Fleet)

[2021-04-14 13:29] mohclips commented on #3189
+1 make our graphs mailed out to our customers look unprofessional.

[2021-04-14 13:31] wylieconlon commented on #67614
@GrahamHannington do you have a screenshot of the chart you're talking about? I think I see what you mean, but it could help to include a visual aid. It sounds like you are asking for a chart type that you can build using the "aggregation-based vertical bar chart" because you are allowed to choose custom extents for the Y axis.

[2021-04-14 13:43] elasticmachine commented on #97067
Pinging @elastic/uptime (Team:uptime)

[2021-04-14 13:44] elasticmachine commented on #97085
Pinging @elastic/kibana-security (Team:Security)

[2021-04-14 13:51] tylersmalley commented on #97108
As @sqren mentioned, packages are probably the correct solution here. We're currently migrating packages to Bazel (cc: @mistic) which will drastically improve the developer experience.

[2021-04-14 13:56] jportner commented on #97085
Discussion in this comment thread: https://github.com/elastic/kibana/pull/92610#discussion_r611590237

[2021-04-14 14:07] neptunian opened #97117 "[Metrics UI] Show toast errors when requests fail"
Extending https://github.com/elastic/kibana/pull/96871, move the toast from `useHttpRequest` to `useTrackedPromise` so it shows up whenever a request fails.  We should retain the option to pass in a type of toast (eg. warning instead of danger) that `useHttpRequest` has.  Should probably pass in a string like `warning | danger` so we don't import everywhere.

 There will be the error toast anytime

[2021-04-14 14:07] elasticmachine commented on #97117
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 14:14] neptunian opened #97118 "[Metrics UI] Handle/Improve ES errors in API handlers"
Building on https://github.com/elastic/kibana/pull/96871, use `handleEsError` in response handlers for those that query ES.  [Example](https://github.com/elastic/kibana/pull/96871/files#diff-4a5adfe91d4dec88f3c1b4cb1508140c96ff12227a32329ee322cfaa95e8fccbR52-R65).

This makes our error messaging more friendly in the UI when an ES query fails during the request.  Currently, it is simply a warning t

[2021-04-14 14:15] elasticmachine commented on #97118
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 14:19] #95309 closed

[2021-04-14 14:31] saisadhan37 commented on #95309
issue got solved
version compatability issue

[2021-04-14 14:38] ravikesarwani commented on #96403
Can we please make sure the changes will work for both container and non container environments?
Also, it should work for APM and beats (filebeat, metricbeat ...) in general as well.

[2021-04-14 14:41] formgeist opened #97122 "[Metrics] Bug: Observability overview – The metrics panel table shows extremely high CPU numbers compared to the Metrics UI node detail"
Kibana version: master

# Summary

It seems there might be a problem with the CPU usage metrics on the Observability overview panel. Additionally, the numbers should probably not include delimiters beyond +100%.

<img width="1615" alt="Screenshot 2021-04-14 at 16 37 59" src="https://user-images.githubusercontent.com/4104278/114729103-f858c600-9d3f-11eb-80a6-f628ccfb8d6c.png">

The same host is rep

[2021-04-14 14:41] elasticmachine commented on #97122
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 14:51] simitt commented on #96403
The changes should _only_ affect `container` environments, and only affect the `apm` stack montioring.

[2021-04-14 14:52] XavierM opened #97124 "[RAC] RBAC around rules/alerts in Observability/Security Solutions"
We would like to explain how RBAC will work for the rules and alerts in observability and security solutions. We want to make sure that we will have all the same expectation around the RBAC. We do not think this work is trivial and we need to make decision now and being in agreement therefore this work is not going to be in jeopardy for the 7.14 release.

Let's start by observability since it is s

[2021-04-14 14:54] Dosant opened #97125 "Date histogram fails on rollup index"
**Kibana version:** master, 7.13. Didn't check 7.12

**Describe the bug:**

I was following a rollup jobs tutorial: https://www.elastic.co/guide/en/kibana/current/data-rollups.html and noticed that Visualize crashes when trying to set up a date histogram.

**Screenshots (if relevant):**

![Screen Shot 2021-04-14 at 16 54 59](https://user-images.githubusercontent.com/7784120/114731586-2939fa80-9d42

[2021-04-14 14:54] elasticmachine commented on #97125
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-14 14:58] elasticmachine commented on #97032
Pinging @elastic/kibana-qa (Team:QA)

[2021-04-14 15:01] shaunmcgough opened #97126 "[Discover] Change surrounding documents to use EUIDataGrid"
Currently, the EUIDataGrid is not part of View Surrounding Documents. It needs to be.
The MVP here is to swap out the old table and old code, and use EUIDataGrid.
Nice to haves are column sorts, filters, full-screen, context (where you came from), etc.
We should not lose any functionality, so comparisons, and a flyout are on the table for this.

[2021-04-14 15:01] elasticmachine commented on #97126
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 15:01] sgums commented on #737
I resolved the issue by creating a scripted field with a larger name that just returned the first field.  It does the job, but I am curious if there are any draw backs that I am not aware of.

[2021-04-14 15:08] mostlyjason commented on #91062
@paulb-elastic I agree that location seems more like a property of the agent. There are many ways to solve this problem, some which we can deliver now and perhaps some better approaches in the future. It may be a more involved discussion than we can cover in a comment thread. I think it'd help to write up the requirements for this feature from a user and product perspective, and then we can collab

[2021-04-14 15:13] darnautov commented on #97000
hey @ThomThomson , I've created a PR https://github.com/elastic/kibana/pull/97127 to fix the vertical overflow, but the changes that caused this issue were introduced in 7.13. Could you please confirm you spotted this issue in 7.12 and not the master branch?

[2021-04-14 15:16] ThomThomson commented on #97000
I have updated the comment. Can confirm that I was running master when I saw this, and not 7.12

My apologies for the confusion!

[2021-04-14 15:17] dgieselaar opened #97128 "[RAC] Minimize impact on page load bundle of rule registry"
The rule registry has a pretty big impact on the page load bundle:

| id | [before](https://github.com/elastic/kibana/commit/b0772471ce74b3656d8bdbf9e4ab4d2290fd3017) | [after](https://github.com/elastic/kibana/commit/1b0c9c1a5ccb2f2335a2631992ba04a48980694e) | diff |
| --- | --- | --- | --- |
| `apm` | 22.2KB | 53.5KB | +31.3KB |
| `observability` | 35.1KB | 39.0KB | +3.9KB |
| `ruleRegistry` | -

[2021-04-14 15:17] elasticmachine commented on #97128
Pinging @elastic/apm-ui (Team:apm)

[2021-04-14 15:18] #93574 closed

[2021-04-14 15:19] brianseeders opened #97129 "[Buildkite] Explore Containerizing the Pipeline"
# Explore Containerizing the Pipeline

- [x] Convert GCR to Artifact Registry
- [x] Use Buildkit (buildx) with remote layer caching features
- [x] Build a kbn bootstrapped docker image, run tests and such from steps that use this image
- [ ] Build a docker image from the bootstrapped one with distribution built in, run functional tests etc from it
- [ ] Add annotation after docker builds with imag

[2021-04-14 15:19] brianseeders opened #97130 "[Buildkite] ES Snapshots Pipeline"
# ES Snapshots Pipeline

Create a pipeline for creating, testing, and promoting ES snapshots, based on the TeamCity implementation (since it's mostly node and easily portable).

The testing pipeline required for ES snapshots is essentially a subset of that required for tracked branches / PRs, so it's a good candidate to do first.

[2021-04-14 15:19] elasticmachine commented on #97129
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-14 15:19] elasticmachine commented on #97130
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-14 15:20] jasonrhodes commented on #97108
My (very vague) understanding is that registries create some havoc for types.

Maybe we should try to move the Log Stream component into a central place (Observability plugin or new package) in a rough PR and see if there would be any issues we can foresee, as a POC exercise.

[2021-04-14 15:29] ThomThomson opened #97132 "[Time to Visualize] Content Size Limits"
When saving a saved object in Kibana, the content is sent via the request body. Kibana has a limit of 1MB for request body sizes, but other proxies may have smaller limits. This can cause errors while saving.

Dashboards with many by value panels pose a major risk of hitting these body size limits, as they store a large amount of information.

Longer term, this could be fixed by streaming uploads,

[2021-04-14 15:29] elasticmachine commented on #97132
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 15:34] flash1293 opened #97134 "[Lens] Register all expression functions to the server"
To make it possible to run Lens expressions on the Kibana server (for features like alerting), all expression functions have to be registered on the server as well as on the client. To do that, they have to be moved to a central `common` folder in the plugin folder, and imported and registered in the server side plugin as well as the current registration on the client side.

List of functions:
* `

[2021-04-14 15:34] elasticmachine commented on #97134
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 15:39] bhavyarm commented on #97032
cc @wayneseymour

[2021-04-14 15:43] #96370 closed

[2021-04-14 15:43] bhavyarm commented on #97032
@spalger for your attention. Do we need to fix anything for migrations on esArchiver side? Thanks!

[2021-04-14 15:46] #80304 closed

[2021-04-14 15:52] Zacqary opened #97138 "[Fleet] Allow preconfiguration to install latest package instead of a specific version"
Requiring a package version in the Preconfiguration API can be problematic for cloud users who don't have access to their `kibana.yml` file. Specifying an outdated package without the `force` flag could cause preconfiguration to fail.

## Acceptance Criteria

We should have an option to always install the latest version of a package.

To make sure the user is doing this intentionally, we should re

[2021-04-14 15:52] elasticmachine commented on #97138
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-14 15:52] elasticmachine commented on #97138
Pinging @elastic/fleet (Team:Fleet)

[2021-04-14 15:52] Zacqary commented on #97138
Pinging @simitt on this as the feature requester.

[2021-04-14 15:55] Zacqary commented on #96319
Is there any precedent in the UI for some fields on a policy being editable and some being disabled? Wondering if there's an existing system I can hook this into, or if I'll have to build that from scratch.

[2021-04-14 15:55] hbharding opened #97139 "[Fleet] Add migration messaging to Fleet Server onboarding"
Related onboarding issue: https://github.com/elastic/kibana/issues/95783
Design issue -> https://github.com/elastic/kibana/issues/95445
[Figma link](https://www.figma.com/file/G3jnu6rub6x8YExOfTWoO9/Integrations-UI-Fleet?node-id=1179%3A164)

![image](https://user-images.githubusercontent.com/847805/114740881-435ee300-9d18-11eb-9a3e-7e014f877baf.png)

For users who upgrade to 7.13 and previously ha

[2021-04-14 15:55] elasticmachine commented on #97139
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-14 15:55] elasticmachine commented on #97139
Pinging @elastic/fleet (Team:Fleet)

[2021-04-14 15:57] afharo commented on #84452
I've been testing it locally and I've got some relieving data:

1. Dev mode deals with SIGTERM and SIGINT differently than `node script/kibana` (which I guess it's closer to the behaviour in production).
2. `node script/kibana` already applies `hapi`'s default graceful shutdown (5s).
3. I've tested it with an API taking 4s to respond and Ctrl+C Kibana's process.

The observed behaviour:
- Hapi doe

[2021-04-14 16:16] smith opened #97140 "HeaderMenuPortal error when navigating between observability and APM"
On the alerts table in Observability there are links to the APM app for APM-related alerts in the table.

When you have the popover for an alert open then click the link on the table behind the popover, you get the following errors:

[code]

and so on.

This probably has something to do with the mounting/unmounting of portals and reverse portals.

[2021-04-14 16:20] azasypkin commented on #83910
Hey @elastic/kibana-presentation, @elastic/stack-monitoring-ui, @elastic/kibana-app-services

It seems Canvas, Monitoring and Reporting are the only plugins that still use Core's `elasticsearch` in their `setup` methods. The fact that someone may theoretically use Elasticsearch or its configuration before `start` is most likely going to be a blocker for the Security On By Default initiative that's

[2021-04-14 16:24] hbharding commented on #95445
I created implementation issue for Nicolas here https://github.com/elastic/kibana/issues/97139.

The latest Figma designs can be found here https://www.figma.com/file/G3jnu6rub6x8YExOfTWoO9/Integrations-UI-Fleet?node-id=1085%3A216572. Small update: I added a checkbox "Do not show this message again" so users have a way to access the modal again (and relevant links inside) in case they quickly dism

[2021-04-14 16:25] alexwizp commented on #97125
will have a look tomorrow

[2021-04-14 16:27] smith opened #97146 "Update alerts list on observability overview"
The observability overview currently shows a list of alerts:

![image](https://user-images.githubusercontent.com/9912/114744955-d47f8b00-9d13-11eb-8173-9e307f0b243a.png)

If the new alert experience is enabled, The "Manage Alerts" link goes to the new alerts page. The list of alerts shown is from the Kibana Alerting rules and the links go to the stack management page for that rule.

Replace this t

[2021-04-14 16:27] elasticmachine commented on #97146
Pinging @elastic/apm-ui (Team:apm)

[2021-04-14 16:35] smith opened #97148 "Move observability alerts UI to kibana.yml setting"
* Remove the alerting UI from advanced settings
* Use a kibana.yml setting instead
* Document this setting, as well as the need to have `xpack.ruleRegistry.writeEnabled` in the Observability plugin README
* Document the `xpack.ruleRegistry.writeEnabled` in the Rule Registry plugin README

[2021-04-14 16:38] mshustov commented on #84452
maybe up to 30sec, there might be some long-running requests to ES?

good to start.

Is it in the dev mode only?

[2021-04-14 16:39] msimos opened #97150 "Metric threshold alert preview has a race condition"
**Kibana version:**

7.11.2

**Elasticsearch version:**

7.11.2

**Server OS version:**

Elastic Cloud

**Browser version:**

Any

**Browser OS version:**

Any

**Original install method (e.g. download page, yum, from source, etc.):**

Elastic Cloud

**Describe the bug:**

When creating a metric threshold alert, the alert preview doesn't seem to cancel searches as KQL filters are updated. The prev

[2021-04-14 16:59] jportner opened #97153 "Update docs and other usage of deprecated `server.maxPayloadBytes` config"
When #95510 was implemented, the `server.maxPayloadBytes` configuration property was renamed to `server.maxPayload`.

* Docs need to be updated to reflect the new property name
* The `kibana.yml` file should be updated to reflect the new property name
* The new property name needs to be added to the allow list for Docker images (`src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/

[2021-04-14 16:59] elasticmachine commented on #97153
Pinging @elastic/kibana-core (Team:Core)

[2021-04-14 17:01] jportner commented on #97153
I'm getting ready to submit a PR to add some new config properties for Core to control some security response headers, I'll take care of this while I'm at it.

[2021-04-14 17:04] paulb-elastic opened #97155 "[Uptime] Add tooltips to waterfall flyout labels"
Originally discussed [here](https://github.com/elastic/kibana/issues/94741#issuecomment-818744494), this is to add additional information to help users understand what each of the metrics means in the waterfall flyout.

ACs:
* Identify which fields need additional help/content
* Define the copy for each field
* Add the additional flyout information (using a mechanism such as with EuiToolTip)

[2021-04-14 17:04] elasticmachine commented on #97155
Pinging @elastic/uptime (Team:uptime)

[2021-04-14 17:05] paulb-elastic commented on #94741
Created https://github.com/elastic/kibana/issues/97155 for the additional help/content tooltips

[2021-04-14 17:06] mostlyjason commented on #90408
Great it seems like we have input from enough folks so let's call the names decided. They will be "Elastic Cloud agent policy" and "Default Fleet Server policy"

[2021-04-14 17:06] afharo commented on #84452
Happy to use that default. Are we OK with docker killing the process earlier by default?

Nope, running `node scripts/kibana`. I think it's related to the nature that `process.on` listeners have to be sync 🤔

[2021-04-14 17:09] nreese commented on #40091
Reopening, layer still abruptly switches from preview to Elasticsearch document layer when import finishes.

[2021-04-14 17:21] dontcallmesherryli commented on #89960
Expected behavior, requires additional UX input to make it a better user experience.

[2021-04-14 17:39] dontcallmesherryli commented on #95060
@oatkiller assigning this to you to start grooming/planning for this ticket.

[2021-04-14 17:56] ruflin commented on #96319
@jfsiii Recently worked on some parts with the managed policy which might contain something similar? @jen-huang Are you aware of anything here?

[2021-04-14 17:56] ssimon opened #97162 "Date histogram minimum interval cannot be multiple of weeks"
**Kibana version:**
7.10.2
**Elasticsearch version:**
7.10.2
**Server OS version:**
Elastic cloud

**Describe the bug:**
Trying to set the minimum interval for a date histogram in a data table visualization to "6w" (or anything that translates to 6 weeks) gives an error saying "invalid calendar interval: 6w, value must be 1". Setting for example "1009h" works however.

**Steps to reproduce:**
1. C

[2021-04-14 18:00] ruflin commented on #97138
@simitt What is our expected behaviour in Cloud? My assumption is, that for fleet-server and apm-server package, the version should always be identical to the stack in the future. To not have to update the stack pack each time, I would expect we can use a variable in the config. Assuming apm and fleet-server packages are versioned with the stack, would there even be a use case that a user could up

[2021-04-14 18:10] wylieconlon commented on #97061
Thanks @alexwizp I've run some comparisons before and after your commit, also including the other optimizations that I'm testing locally (improved KQL handling of * query and caching uiSettings). What I'm seeing is that removing TSVB schema validation is a 20-25% improvement over the state I showed in the issue:

<img width="1072" alt="Screen Shot 2021-04-14 at 10 35 32 AM" src="https://user-image

[2021-04-14 18:20] kibanamachine opened #97165 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer·ts - machine learning anomaly detection anomaly explorer with farequote based multi metric job allows to change the swim lane pagination"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13329/)

[2021-04-14 18:30] poffdeluxe opened #97170 "[Canvas] Replace or remove safe-squel/squel library dependency"
Canvas's [`esdocs` expression function](https://github.com/elastic/kibana/blob/master/x-pack/plugins/canvas/canvas_plugin_src/functions/server/esdocs.ts#L84) uses the squel library to create a select sql statement that we then pass to ES SQL (The reason we convert it to sql is because the ES SQL response includes the types of the returned columns which is helpful for the expression).

For a quick

[2021-04-14 18:30] elasticmachine commented on #97170
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-14 18:31] poffdeluxe commented on #94199
Current plan is to merge in a quick fix (https://github.com/elastic/kibana/pull/97169) to close the security hole and then follow-up and find a longer term replacement (https://github.com/elastic/kibana/issues/97170)

[2021-04-14 18:31] neptunian opened #97171 "[Metrics UI] Anomaly highlighting incorrectly showing in timeline for CPU usage"
If I have a `memory` anomaly and open the timeline, it appears.  If I switch the dropdown to "CPU", the anomaly coloring stays.  We don't have anomalies for CPU so there should never be an anomaly here.  If I then switch to "network in" and it does not have anomalies and switch back to "CPU", the anomaly is also not there.

Notice the data changes but not the highlighting:
<img width="2548" alt="S

[2021-04-14 18:31] elasticmachine commented on #97171
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-14 19:01] jen-huang commented on #96319
Restrictions on a managed policy is not field-specific, rather the entire policy cannot be changed which is simple from a technical standpoint. This will be more complex and we don't have an existing system to do this yet, off the top of my head I wonder if we can add a new field to the [vars we save on package policies](https://github.com/elastic/kibana/blob/0bfa5aaf013b834ecbd21d5338529b8d193f1a

[2021-04-14 19:04] shaunmcgough opened #97176 "[Discover] Add Data Visualizer plugin as a tab in Discover"
The work done by ML on Data Visualizer is great, and now that it is being moved into it's own plugin, Discover should also contribute to the code, and make it a part of Discover as a new tab on the top of Discover.

It should go right about where it says 4hits in this screenshot (we'll let design do their magic on the tab look / feel)
<img width="823" alt="image" src="https://user-images.githubuse

[2021-04-14 19:04] elasticmachine commented on #97176
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-14 19:14] jen-huang commented on #96319
@ruflin @ph I've heard that in some use cases an allowlist of fields makes more sense but in other cases a blocklist is better. Which one should we go with for implementation?

[2021-04-14 19:26] kibanamachine commented on #96728
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96729
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96730
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96731
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96732
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96733
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96734
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96735
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96736
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96737
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96738
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96739
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96740
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96741
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96742
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96743
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96744
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96745
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96746
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96747
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96748
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96749
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96750
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96751
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96752
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:26] kibanamachine commented on #96753
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:27] kibanamachine commented on #96754
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:27] kibanamachine commented on #96755
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:27] kibanamachine commented on #96756
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:27] kibanamachine commented on #96757
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:27] kibanamachine commented on #96758
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:27] kibanamachine commented on #96759
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/306/)

[2021-04-14 19:30] ruflin commented on #96319
I would go with `writable: true` by default. In general a user should be able to use all configurations by default. Only very few fields should be restricted.

[2021-04-14 19:31] Zacqary commented on #96319
In the PR I've opened I've implemented a blocklist using a field of `frozen: true`. I can change the name of this field to `writable` instead if we prefer that.

[2021-04-14 19:35] ph commented on #96319
@Zacqary @ruflin I am OK with that strategy and I do not see the need to change it.

[2021-04-14 19:44] jen-huang commented on #96319
Thanks, blocklist it is then. @Zacqary Personally I prefer `writable: false` but no strong opinion.

[2021-04-14 20:12] shaunmcgough commented on #71099
With the new search alert created, we are planning on moving alerting forward in Discover. @timductive @timroes I'm going to bring this up on our call next week, and we should have a plan forward. From a product perspective, alerting in Discover is one of the most requested features from our users.

[2021-04-14 20:15] rw-access opened #97180 "[Fleet] Designs for displaying NOTICE.txt for packages that contain one"
**Describe the feature:**
Some packages/integrations can contain a NOTICE.txt file.
This should be displayed with the rest of the integration. Maybe in a tab? Or below the readme?

See https://github.com/elastic/package-spec/pull/151 for more details

**Describe a specific use case for the feature:**
In particular the "Prebuilt Security Detection Rules" package has one:
[NOTICE.txt](https://github

[2021-04-14 20:15] elasticmachine commented on #97180
Pinging @elastic/fleet (Feature:EPM)

[2021-04-14 20:15] elasticmachine commented on #97180
Pinging @elastic/fleet (Team:Fleet)

[2021-04-14 20:15] elasticmachine commented on #97180
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-14 20:19] ph opened #97181 "[Fleet] Install a `final_pipeline` to help with host impersonation"
We want to add a [`final_pipeline`](https://www.elastic.co/guide/en/elasticsearch/reference/master/ingest.html#set-final-pipeline) to the index templates that Fleet installs that will:

1. Verify that the API key used by the Elastic Agent is the right one.
2. Verify that the Agent ID in the document match the Agent ID associated with the API key. (from the Metadata)

@andrewkroh is working on defi

[2021-04-14 20:19] elasticmachine commented on #97181
Pinging @elastic/fleet (Team:Fleet)

[2021-04-14 20:54] majagrubic commented on #95952
Thank you for very detailed instructions on how to reproduce this. I can confirm it's a legit bug in Discover when field filters are enabled. I am working on a fix now, will let you know the planned release version for this.

[2021-04-14 21:43] igoristic commented on #83910
I'm almost done with Stack Monitoring https://github.com/elastic/kibana/pull/95915. It might make it into 7.13 (or 7.14 at the latest)

[2021-04-14 21:45] bhavyarm commented on #26025
Not valid anymore

[2021-04-14 21:45] #26025 closed

[2021-04-14 21:49] hbharding commented on #96492
Hey just setting this. As John mentioned, these (and many other) actions related to hosted agent policies are already accounted for. We decided to hide (rather than disable) the actions since there is nothing the user can do to enable them. Related to this, I opened an issue so that we do the same thing for policies that are marked `is_default` https://github.com/elastic/kibana/issues/95226

[2021-04-14 22:00] #96319 closed

[2021-04-14 22:01] cjcenizal commented on #59427
This would be a big time saver!

[2021-04-14 22:05] #92114 closed

[2021-04-14 22:14] Zacqary commented on #97016
@nchaulet Wondering if you can clarify what the expected behavior is? If the user doesn't specify a policy with the `is_default` flag in their `kibana.yml`, do we still want to create the Default Policy? Or should we only create what the user specifies in the config?

Like will Fleet still work without an `is_default` policy created? Because that could make this a lot simpler.

[2021-04-14 22:18] nchaulet commented on #97016
What I had in mind is if the user specify policies we use that as the source of truth, otherwise we use a default that will create default policies.
Fleet will still work even if there no `is_default` policy.

Does it make it more clear? happy to be challenged on that too if you think it do not make sense.

[2021-04-14 22:40] Zacqary commented on #97016
That makes sense. Shouldn't be too difficult to implement.

[2021-04-14 22:42] Zacqary commented on #97016
If we want to replicate this for the default packages as well, it's going to depend on https://github.com/elastic/kibana/issues/97138. We need to be able to install the latest version of the package instead of specifying a particular version.

[2021-04-14 23:11] kibanamachine commented on #97085
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13335/)

[2021-04-14 23:28] jfsiii commented on #96873
Closed by https://github.com/elastic/kibana/pull/97041

[2021-04-14 23:28] #96873 closed

[2021-04-14 23:42] spalger commented on #97085
15 seconds is a pretty incredibly long time for a unit test, I suspect we're either testing too much in a single test or writing integration tests. Unfortunately we don't have great visibility into how often this is failing in PRs (see https://github.com/elastic/kibana/pull/97197) but twice in one day on master is more than flaky enough to skip

master/8.0: https://github.com/elastic/kibana/commit

[2021-04-14 23:53] cjcenizal commented on #91252
Fixed by https://github.com/elastic/kibana/pull/91390

[2021-04-14 23:53] #91252 closed

[2021-04-15 00:20] EricDavisX commented on #93910
If it required a re-start of the Endpoint that is interesting - let us re-test this in the context of Fleet-Server and see if it remains an issue?  tomorrow's build hopefully will allow this easily and we can move forward.

[2021-04-15 00:41] spong opened #97198 "[Security Solution][Detections] Add link to ML App in ML Rule Job/Datafeed errors"
In effort to improve UX around diagnosing ML Rules in an error state, we could deep-link to the job within the ML App and direct the users to expand the job and look at the `Job Messages` for the most recent status.
<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/114797266-057db100-9d50-11eb-9f1b-3e6da9710c21.png" />
</p>

Current deep-link

will get yo

[2021-04-15 00:41] elasticmachine commented on #97198
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-15 00:41] elasticmachine commented on #97198
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-04-15 01:20] alisonelizabeth commented on #96002
Fix has been backported and merged (https://github.com/elastic/kibana/pull/96508) so I think it's safe to close this one now.

[2021-04-15 01:20] #96002 closed

[2021-04-15 01:29] alisonelizabeth commented on #84761
I don't think there's any immediate action needed on this one, so I am going to close for now. If we end up needing to support other plugins we can consider reopening.

[2021-04-15 01:29] #84761 closed

[2021-04-15 01:33] alisonelizabeth commented on #54702
I think this issue can be closed now that the core team has implemented a deprecations service (https://github.com/elastic/kibana/pull/94845). The related UI will be implemented in https://github.com/elastic/kibana/pull/97159.

[2021-04-15 01:33] #54702 closed

[2021-04-15 01:36] alisonelizabeth commented on #32058
The overview page in UA is being refactored (https://github.com/elastic/kibana/pull/95346) so I don't think this issue is relevant anymore.

[2021-04-15 01:36] #32058 closed

[2021-04-15 01:42] alisonelizabeth commented on #32057
I'm going to close this, since we are now focused on the 7-8 upgrade experience and this deprecation is no longer relevant. This would also need to be addressed on the ES side, as the documentation link is being returned from the [deprecation info API](https://www.elastic.co/guide/en/elasticsearch/reference/master/migration-api-deprecation.html).

[2021-04-15 01:42] #32057 closed

[2021-04-15 01:54] tjws052009 opened #97200 "Embedded Kibana fails to authenticate with Safari"
**Kibana version:**
7.12.0

**Elasticsearch version:**
7.12.0

**Server OS version:**
ESS

**Browser version:**
Safari 14.0.3 (Mac OS 11.2.3)
Safari on iOS 14

**Browser OS version:**
Refer to above

**Original install method (e.g. download page, yum, from source, etc.):**
Deployed via Elastic Cloud

**Describe the bug:**
When I embed a Kibana dashboard using iframe, the Kibana does not get past t

[2021-04-15 02:59] matschaffer commented on #96318
cc @neiljbrookes

Awesome to see the testing. We'll use this to double down our efforts for consistent beats/ES versioning.

[2021-04-15 04:55] kibanamachine opened #97204 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/share_add·ts - spaces api with security _share_saved_object_add legacy user targeting the space_1 space "before all" hook for "should return 403 {id: default_only, namespaces: [space_1]}""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13203/)

[2021-04-15 04:55] kibanamachine opened #97205 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/share_add·ts - spaces api with security _share_saved_object_add legacy user targeting the space_1 space "after all" hook for "should return 403 {id: space_2_only, namespaces: [default,space_1]}""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13203/)

[2021-04-15 05:22] #95783 closed

[2021-04-15 05:53] #95518 closed

[2021-04-15 05:55] simitt commented on #97138
For apm-server we plan to align the package version with the stack version. Ideally users would not have to upgrade manually (or at all, it would be bundled with the Kibana version). If that's feasible short-term (`7.14`) I agree we wouldn't need the `latest` package version for this.

[2021-04-15 06:42] europ commented on #46880
I had exactly the same error.

|                 |              |
| :-------------- | :----------- |
| System          | OracleLinux8 |
| Platform        | docker       |
| Kibana          | `7.6.2`      |
| NPM             | `6.13.4`     |
| NodeJS          | `10.19.0`    |
| Yarn            | `1.22.10`    |

Enabling execute mode for files fixed this problem via command: `chmod +x ./bin/*`.

Tha

[2021-04-15 06:59] #96136 closed

[2021-04-15 07:14] GrahamHannington commented on #67614
![image](https://user-images.githubusercontent.com/8519708/114828799-e7ba5580-9dfc-11eb-80fa-67b18ce718fb.png)

This particular example has percentage as a secondary Y-axis. It would be nice to have the option to set the Y-axis maximum extent to 100 (percent).

[2021-04-15 07:19] GrahamHannington commented on #67614
Yes, you're right. I might be wrong about the nature of this issue: I thought it was specific to Lens; I thought the idea was to add this feature to Lens. More broadly, I gather that Lens is the way forward for visualization in Kibana, so the general idea is bring in features from other visualization/panel editors (such as the aggregation-based editor). Am I close?

[2021-04-15 07:33] elasticmachine commented on #97162
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-15 07:48] stratoula opened #97213 "[TSVB] Support custom field format"
**Describe the feature:**

The users have the capability to change the field format from the index pattern management section. They can do it for any field, either it is a runtime field or not. TSVB doesn't respect it as it has its own formatter.

We want TSVB to respect the format of the fields **unless** the user applies a TSVB formatter.

Changing the format of a field to string and uppercase:

[2021-04-15 07:49] elasticmachine commented on #97213
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-15 07:53] elasticmachine commented on #97165
Pinging @elastic/ml-ui (:ml)

[2021-04-15 08:03] kibanamachine commented on #97165
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13206/)

[2021-04-15 08:31] pheyos commented on #97165
In the failure screenshot we can see that the swim lane count is actually correct:
![image](https://user-images.githubusercontent.com/1945390/114839011-93e84600-9dd5-11eb-8e35-28703a976a6d.png)

I suspect isometimes the loading takes a bit longer and the test checks the count too early. Will raise a stability fix PR.

[2021-04-15 08:42] flash1293 commented on #71621
In the most recent version, it looks almost identical in Firefox and Chrome, I don't think anything else needs to be done here.

[2021-04-15 08:42] #71621 closed

[2021-04-15 08:51] markov00 commented on #97100
Before adding/changing the way field formatter works or include that part inside the chart itself I would prioritize this https://github.com/elastic/kibana/issues/8583 work, to avoid having a again another way to describe the formatting for numbers and currencies

[2021-04-15 09:02] kesslerm commented on #74393
As it stands in 7.12, logs are currently filling up with messages about failed alerts due to a decryption error (case where the key can no longer be recovered). There should be an easy way to disable affected alerts that fail continually.

[2021-04-15 09:18] amolnater-qasource commented on #93910
Hi @EricDavisX

As per feedback please find debug level logs, attached below:
[Win64 debug logs.zip](https://github.com/elastic/kibana/files/6316592/Win64.debug.logs.zip)

**Build details:**
[code]
Further we have observed "Unhealthy" agent issue only specific to Windows 10 x32 bit on 8.0 Kibana Cloud environment. This issue was not resolved when we restarted the agent and looks like a different i

[2021-04-15 09:31] weltenwort commented on #97108
I'm not sure packages are the correct organizational unit for such shared components since they are still relatively tightly coupled to the solution plugin (e.g. they'll probably need to import from x-pack code, which they can't).

For plugins a relatively tight coupling might be more acceptable, but refactoring everything to ensure dependency relations between types, HTTP APIs and components only

[2021-04-15 09:49] peteharverson commented on #96982
Closing, fixed by #96999

[2021-04-15 09:49] #96982 closed

[2021-04-15 10:00] kibanamachine commented on #93890
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13208/)

[2021-04-15 10:21] dej611 opened #97224 "[Lens] When indexpattern has a runtime field then it is partially accessibile to other users"
**Describe the bug:**

As `elastic` admin I've loaded the `flights` sample data, then created a `prova` runtime field within the Lens editor.
Created a new `ErrorUser`, given kibana admin priviledges to it, then logout as `elastic` and login as `ErrorUser`, created a new Lens visualization and found the the `flights` index pattern already selected with a single field: `prova`, but an error about m

[2021-04-15 10:21] elasticmachine commented on #97224
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-15 10:22] weltenwort commented on #92695
:information_source: I updated the ACs according to our recent discussions.

[2021-04-15 10:33] stratoula opened #97226 "[XY axis] Give the ability to change the colors opacity"
**Describe the feature:**
Right now the XY axis coloring works with the default opacity. We received feedback from our users that they prefer the styling of the vislib implementation which doesn't add an opacity to the colors. As a result on a dark background is easier to read:

XY Axis:
![image](https://user-images.githubusercontent.com/17003240/114855681-e41fd200-9dee-11eb-9e7c-1ef672e0cbde.png)

[2021-04-15 10:33] elasticmachine commented on #97226
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-15 11:07] muskangulati-qasource opened #97229 "[Security Solution] The artifacts do not load in the first attempt and the user have to restart the services or endpoint manually"
**Describe the feature**
The artifacts do not load in the first attempt and the user have to restart the services or endpoint.

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Administration Tab.
2. Install the agent on the Windows 10 x64 VM
3. Observe that policy failures are there on the endpoint

**Test dat

[2021-04-15 11:07] elasticmachine commented on #97229
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-15 11:07] elasticmachine commented on #97229
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-04-15 11:07] muskangulati-qasource opened #97230 "[Security Solution] No log message for Ransomware in error state"
**Describe the feature**
No log message for Ransomware in error state

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed

**Steps to Reproduce**
1. Navigate to the Administration Tab.
2. Click on the Trusted Applications tab.
3. Search anything when there is no value added to the trusted applications list.
4. Observe that the UI does not show any message

[2021-04-15 11:07] elasticmachine commented on #97230
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-04-15 11:07] elasticmachine commented on #97230
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-15 11:08] muskangulati-qasource commented on #97229
@karanbirsingh-qasource please review!

[2021-04-15 11:09] muskangulati-qasource commented on #97230
@karanbirsingh-qasource please review!

[2021-04-15 11:22] mandeepkaur-qasource commented on #95295
Hi Team,

We have validated the this issue on **7.12.1** BC1 found that issue is **Fixed**. 'Read Less' button is now available for long messages. Also, scroll bar is available and user is able to scroll the message on 'Event details' panel on-prem environment.

**Build details:**
Version: 7.12.1 BC1
Build number: 39445
Commit: bb662886fc93cd04030e66223bb1ffa8512e0705
Artifact: https://staging.ela

[2021-04-15 11:24] flash1293 commented on #97224
This is expected behavior - the permissions for index patterns and actual data indices are separately managed and can diverge. The admin user created the index pattern saved object in a space and gave the regular user read permissions - due to this it's expected the user will be able to read the saved object (and the runtime field included)

[2021-04-15 11:24] #97224 closed

[2021-04-15 11:28] deepikakeshav-qasource commented on #94557
Hi @MadameSheema,

We have validated this issue on **7.12.1 BC1** and observed that issue is **fixed**. The correct result is displayed in show top host.name for "Raw events" under the detection alert table.

**Build Details:**
[code]

**Screenshot:**
![Detections_alert](https://user-images.githubusercontent.com/61860752/114825652-21329700-9de4-11eb-87e7-2d082f6cf212.jpg)

![Raw_events](https://us

[2021-04-15 11:29] simitt commented on #97138
I am looking for a solution for `7.13`. Following up on @Zacqary 's comment https://github.com/elastic/kibana/pull/96588#issuecomment-819619031, I think using `force` is problematic. It would lead to a force install of the defined `fleet-server` version every time Kibana is restarted - which is not an edge case on cloud. For example, if users change the _logs&metrics_ settings a restart is trigger

[2021-04-15 11:47] deepikakeshav-qasource commented on #94948
Hi,

We have validated this issue on **7.12.1 BC1** and observed that issue is **fixed**. Sorting is disabled for Alerts and Comments Columns under the cases tab

**Build Details:**
[code]

**Screenshot:**
![Case tab](https://user-images.githubusercontent.com/61860752/114864246-6370ce00-9e0e-11eb-9ce9-d0c95fb51edd.jpg)

Hence, We are adding the label as "QA Validated"

Thanks!!

[2021-04-15 12:03] mandeepkaur-qasource commented on #94929
Hi,

We have validated this issue on 7.12.1 BC1 and observed that issue is fixed. As pagination links are working fine on the All Cases table.

Build Details:

Version:7.12.1 BC1
Commit:bb662886fc93cd04030e66223bb1ffa8512e0705
Build:39445

![Fixed](https://user-images.githubusercontent.com/78949593/114865984-a3d14b80-9e10-11eb-8046-516c2b552804.jpg)

Thanks!!

[2021-04-15 12:04] karanbirsingh-qasource commented on #94925
Hi @MadameSheema

we have validated this issue on smallest screen hardware available that is` 1920 x 1080 15.6` and found it issue fixed on that screen resolution. Moreover now drop-down opening position is enhanced and not covering any buttons on UI

Additionally browser resolution is also kept at default 100%.

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercon

[2021-04-15 12:11] #96216 closed

[2021-04-15 12:15] #97165 closed

[2021-04-15 12:16] karanbirsingh-qasource commented on #84608
Hi @MadameSheema

we have validated this issue on 7.12.1 and found that issue is **still occuring** , webpage becomes unresponsive on changing pagination to higher number like 300 and 600.

**Note:** issue not occuring on Firefox and chrome browser of same mac machine.
![image](https://user-images.githubusercontent.com/59917825/114867421-6bcb0800-9e12-11eb-9ec6-3bb0d9e0f013.png)

**Machine Details

[2021-04-15 12:20] deepikakeshav-qasource commented on #94699
Hi,

We have validated this issue on **7.12.1 BC1** and observed that issue is **fixed**. Threshold signal terms displayed "name" section in action notification.

**Build Details:**
[code]

**Screenshot:**
![Actions_message](https://user-images.githubusercontent.com/61860752/114832485-28f63980-9dec-11eb-90fc-5f0762f1e7c9.jpg)

![Threshold](https://user-images.githubusercontent.com/61860752/1148324

[2021-04-15 12:22] deepikakeshav-qasource commented on #90418
Hi @MadameSheema,

We have validated this issue on **7.12.1 BC1** and observed that issue is **Still occurring**. Alert Count for individual detection alert is not matching with the Top hostname filter.

**Build Details:**
[code]

**Screenshot:**
Detection Tab
![All_alerts](https://user-images.githubusercontent.com/61860752/114868209-4b4f7d80-9e13-11eb-98b4-8bc47aa50e24.jpg)

Endpoint Security Rul

[2021-04-15 12:23] stratoula commented on #97226
Another thing that @markov00 has mentioned and I agree are the dots that are quite big.
@elastic/kibana-design we want your input on this. Wdyt? As we want to remove the vislib implementation in the future, I think we should address this.

[2021-04-15 12:29] #89339 closed

[2021-04-15 12:42] markov00 commented on #84482
Hey @formgeist @sqren we have introduced the possibility to add nice rounding to the axis: https://github.com/elastic/elastic-charts/pull/1087
Adding the `yNice` prop to to every series on your chart will allow you to display correctly a final tick on the Y axis
We are updating the dependency in Kibana https://github.com/elastic/kibana/pull/97005, probably merged today. But in the meantime, you ca

[2021-04-15 12:45] markov00 commented on #84481
@formgeist could you please specify if you have tried to change the `ticks` parameter of the X axis of the chart? changing it to 5 or 7 can probably fix your issue

[2021-04-15 12:46] markov00 commented on #84481
and the linked elastic-charts issue doesn't seems to be the right one, probably you are referring to https://github.com/elastic/elastic-charts/issues/929

[2021-04-15 12:46] #95445 closed

[2021-04-15 12:49] #94555 closed

[2021-04-15 12:51] #94624 closed

[2021-04-15 12:54] rayafratkina commented on #95946
Capturing this feedback from Slack conversation so it does not get lost

[2021-04-15 12:57] gbanasiak opened #97246 "[Discover] Show ECS field descriptions in Discover, like Security app"
**Describe the feature:**

Security app shows index field descriptions taken from ECS schema, example for 7.12.0:

<img width="1780" alt="Screenshot 2021-04-15 at 14 51 32" src="https://user-images.githubusercontent.com/14000045/114872075-3e726000-9dfa-11eb-9200-d6bb4a580d83.png">

Descriptions are not present for fields copied from source indices (if not part of ECS schema).

Request:
* provide a

[2021-04-15 12:59] MadameSheema commented on #90418
@XavierM can you please take a look at this? Thanks

[2021-04-15 12:59] stratoula opened #97247 "[XY axis] Improve expression with explicit params"
**Describe the feature:**
Right now the `vis_type_xy` is using a JSON visConfig which is not ideal for other teams to reuse it.
We should remove the JSON blob and use explicit params instead.

A good example of this is `vis_data_table` or `vis_type_metric` that they have already solved this problem and use explicit params instead of the visConfig json blob.

Acceptance criteria/testing scenarios:

[2021-04-15 12:59] elasticmachine commented on #97247
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-15 13:01] stratoula commented on #97247
Same thing for `vis_type_pie`. I will take care of it here https://github.com/elastic/kibana/pull/83929

cc @ppisljar

[2021-04-15 13:12] karanbirsingh-qasource commented on #97229
reviewed and assigned to @kevinlog

[2021-04-15 13:13] karanbirsingh-qasource commented on #97230
reviewed and assigned to @kevinlog

[2021-04-15 13:13] ghudgins opened #97249 "[Lens] Accept filter definition via URL query parameters"
**Describe the feature:**
Allow chart filter information to be passed into Lens via URL query parameter

Today there is a local/session storage for this information but you cannot generate this from another application outside of Kibana

**Describe a specific use case for the feature:**
When designing a custom application
I would like to construct a link into Lens carrying the current query contex

[2021-04-15 13:13] elasticmachine commented on #97249
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-15 13:14] ghudgins opened #97250 "[Lens] Deep linkable CSV Export"
**Describe the feature:**
Allow users to generate a CSV export of a Lens Data Table (though really, any visualization) **via a URL.**

**Describe a specific use case for the feature:**

Still learning a few more details about the nature of this sort of automation. Will edit issue once I have them

[2021-04-15 13:14] elasticmachine commented on #97250
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-15 13:18] elasticmachine commented on #97250
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-15 13:20] flash1293 commented on #97250
I think this is a great feature and we should build it. It would involve integrating with reporting in some way and requires all Lens expressions to run on the server (see https://github.com/elastic/kibana/issues/97134). Then we could do something similar as the "share" menu in Discover.

[2021-04-15 13:24] alexwizp commented on #95933
It looks more like a regression from #88605. Thank you for that case

[2021-04-15 13:25] formgeist commented on #84481
@markov00 Thanks for the heads up! We'll give it a shot with changing the `ticks` value on the x-axis to see how it remedies the issue we were seeing 👍

I've updated the charts issue reference in the description - thanks for pointing this out.

[2021-04-15 13:32] formgeist commented on #86775
@sqren I think this got deprioritized around the 7.11 release but it's still a rather big UX issue that the health status on the inventory page is indicating critical status but the ML anomalies are not showing because we're not opting to show any job results no matter what environment selected. Do you think it's worth looking into just fixing this issue rather than relying on us to change the env

[2021-04-15 13:52] XavierM commented on #90418
I see what's going on, I will create a PR today

[2021-04-15 13:52] dgieselaar commented on #97108
Can we make one big Observability plugin? 😄

[2021-04-15 14:04] andrewkroh opened #97256 "Ingest Node Pipeline Editor descriptions disappear while moving processors"
**Kibana version:** 8.0.0 / 82b70824598a6f8bbd9ccad6d383a3c0f601b719

**Browser version:** Firefox 87.0

**Browser OS version:** macOS Mahave

**Describe the bug:**

The processor descriptions disappear while moving processors.

**Steps to reproduce:**
1. Edit an ingest node pipeline in the editor.
2. Click the move processor button.
3. All descriptions disappear.

**Expected behavior:**

Processo

[2021-04-15 14:07] elasticmachine commented on #97256
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-04-15 14:09] #95565 closed

[2021-04-15 14:13] wylieconlon commented on #97249
@ghudgins I think this is actually a bug, it has been possible in the past to pass in filters from the URL into Lens. It is also possible for other apps to construct Lens URLs using the `LensComponent` which should allow filters to be passed in.

One of the things that is has never been possible to add via URL is the KQL/Lucene query as text- although it's possible to add via the LensComponent.

[2021-04-15 14:15] #95516 closed

[2021-04-15 14:16] Dosant commented on #85126
The new URL service [issue](https://github.com/elastic/kibana/issues/87304), [rfc](https://github.com/elastic/kibana/pull/95416) that will become a replacement of URL generators will allow passing the whole `state` as part of history state during navigation. This nicely solves the search-session restoration use-cases for an app the do not store the state in the URL.

I think the plan with this is:

[2021-04-15 14:25] flash1293 commented on #72502
I think this behavior would make sense. As soon as it can be used, it will become active.

[2021-04-15 14:26] flash1293 commented on #97249
As discussed offline, right now only pinned filters and the time range can be synced via URL. Adding query/regular filters to this (maybe even the full state) would be an interesting extension.

[2021-04-15 14:28] wylieconlon commented on #97249
Sorry, I confused myself. The only filters that are typically passed in the URL today are Pinned Filters, which are passed in using the global state `_g` instead of app state `_a`. We can add the Lens filters to the app state `_a` to match the behavior of Discover and Visualize. This does not affect the `LensComponent`, which is already able to provide all of these options in the Lens state.

The

[2021-04-15 14:37] peteharverson opened #97263 "[ML] Navigation menu items are misaligned when running with a basic license"
When running with a basic license, the links in the top navigation menu are misaligned, with the disabled links having a different vertical alignment to the enabled Data Visualizer tab.

Basic license:
![image (14)](https://user-images.githubusercontent.com/7405507/114887154-1554ce00-9e00-11eb-9c32-c63712254395.png)

Trial / platinum license:
![image](https://user-images.githubusercontent.com/7405

[2021-04-15 14:37] #1274 closed

[2021-04-15 14:41] #13709 closed

[2021-04-15 14:59] joshdover commented on #45284
Since we haven't gotten any customer complaints about this scenario, we're opting to close this issue as a "won't fix". Feel free to reopen if this is a problem for you.

[2021-04-15 14:59] #45284 closed

[2021-04-15 15:01] peteharverson opened #97266 "[ML] Anomaly Explorer can continuously re-render on swim lane cell selection"
The Anomaly Explorer can get stuck in a perpetual re-render loop when a selection is made in the swim lane.

This occurs when there are only a few rows in the anomalies table, such that the addition of the anomaly charts component causes the vertical scrollbar to appear. The addition of the scrollbar then causes a re-render of the swim lanes, which then hides and re-displays the charts, causing th

[2021-04-15 15:01] elasticmachine commented on #97266
Pinging @elastic/ml-ui (:ml)

[2021-04-15 15:02] wylieconlon commented on #97100
@flash1293 this issue is overlapping with https://github.com/elastic/kibana/issues/57384, but I think this one is more about a specific plan.

@markov00 We've already done 3/4 of the changes I proposed in that issue. The main thing we haven't done is define a future-facing API that can solve problems like this one.

For tick formatting specifically, I like what you're proposing @flash1293 of addin

[2021-04-15 15:04] jasonrhodes commented on #95442
Related: https://github.com/elastic/kibana/issues/96503

Ideally I think we should consider how to send people to the Logs and Metrics UIs if their integrations are collecting logs and or metrics data. We're very interested in making that experience smooth so let's try to collaborate on this!

[2021-04-15 15:04] neptunian opened #97267 "[Metrics UI] No anomalies from any jobs being returned when one job is missing"
If for some reason an ML job isn't created correctly or the user deletes the job, no anomalies will show up in the Anomaly Flyout.  Errors are caught but not thrown, so the user does not know what's happened.  I noticed this after seeing anomalies appear for k8s memory in the timeline but not in the Anomaly Flyout table.  The fetch for k8s anomaly in the table failed with the error: ` MLJobNotFoun

[2021-04-15 15:04] elasticmachine commented on #97267
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-15 15:16] pheyos opened #97269 "[ML] Data frame analytics - results table column sorting indicator misaligned"
**Found in version**
- 7.12.1 bc1

**Browser**
- Chrome

**Steps to reproduce**
- Navigate to a DFA results view
- Enable histogram charts for the results table
- Sort results by one field

**Expected result**
- The column sorting indicator is displayed correctly

**Actual result**
- The column sorting indicator seems to be a bit out of place:
  ![image](https://user-images.githubusercontent.com/1

[2021-04-15 15:16] elasticmachine commented on #97269
Pinging @elastic/ml-ui (:ml)

[2021-04-15 15:22] #97004 closed

[2021-04-15 15:25] wylieconlon commented on #8583
Just as an update, we've done 3/4 of the steps above. The remaining step is to define a future APi, and I've made a proposal in [this comment](https://github.com/elastic/kibana/issues/97100#issuecomment-820500251)

[2021-04-15 15:26] iankoetter commented on #22555
This continues to be a pain point for large networks with IPv6. Kibana IPv6 compatibility in filtering and query needs improvement.

[2021-04-15 15:48] smith commented on #96278
You can provide deprecations and rename keys, even moving them to advanced settings. Example here: https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/core/server/ui_settings/ui_settings_config.ts#L15

[2021-04-15 15:52] Fesenych commented on #86993
In version 7.12.0 of Kibana, you can now set up a pattern for an index from a remote cluster, but on the Overview tab, when I select an index from a remote cluster, I see empty documents. If I look at the same documents on the Kibana of a remote cluster, then these documents are not empty there, they have data.
Fix please!

[2021-04-15 15:53] Zacqary commented on #97138
I think we need this functionality for https://github.com/elastic/kibana/issues/97016. We're trying to replace the bespoke functions for installing default packages and policies with the preconfiguration API, and these defaults always have to pull the latest version of the `system` package.

So in some sense, we're already preconfiguring one package with the `latest` flag.

IMO as long as we only

[2021-04-15 15:56] monfera opened #97278 "Data View: cross-field metadata and their relationship to data visualization"
Keywords: metadata, field, recommender, data view, shared visual attributes, datavis best practices
Examples in response to Vijay's [request](https://github.com/elastic/kibana/issues/94244#issuecomment-812662470) in moving from index patterns to Data View.

## Cross-field metadata
Not all metadata neatly belong to a specific field or an entire index. Sometimes it's about relationship between two o

[2021-04-15 15:57] #96746 closed

[2021-04-15 15:57] #96747 closed

[2021-04-15 15:57] #96748 closed

[2021-04-15 15:57] #96749 closed

[2021-04-15 15:57] #96750 closed

[2021-04-15 15:57] #96751 closed

[2021-04-15 15:57] #96752 closed

[2021-04-15 15:57] #96753 closed

[2021-04-15 15:57] #96754 closed

[2021-04-15 15:57] #96755 closed

[2021-04-15 15:57] #96756 closed

[2021-04-15 15:57] #96757 closed

[2021-04-15 15:57] #96758 closed

[2021-04-15 15:57] #96759 closed

[2021-04-15 15:57] #96734 closed

[2021-04-15 15:57] #96735 closed

[2021-04-15 15:57] #96736 closed

[2021-04-15 15:57] #96737 closed

[2021-04-15 15:57] #96738 closed

[2021-04-15 15:57] #96739 closed

[2021-04-15 15:57] #96740 closed

[2021-04-15 15:57] #96741 closed

[2021-04-15 15:57] #96728 closed

[2021-04-15 15:57] #96729 closed

[2021-04-15 15:57] #96730 closed

[2021-04-15 15:57] #96731 closed

[2021-04-15 15:57] #96732 closed

[2021-04-15 15:57] #96733 closed

[2021-04-15 15:58] hbharding commented on #80841
Perhaps this is something we can take on in 7.14. Dede spotted a bunch of terminology issues that we should improve in the Add Agent flyout.

[2021-04-15 16:01] monfera commented on #94244
@VijayDoshi thanks for the question, the examples you list are what i had in mind too, here's a list of other kinds of metadata across fields which would be great for visualization: https://github.com/elastic/kibana/issues/97278 And Product Managers, Lens and KibanaApp implementor folks may have a bunch of related notions on metadata, it's currently pretty hard to generate good defaults and chart

[2021-04-15 16:02] #92037 closed

[2021-04-15 16:03] elasticmachine commented on #97278
Pinging @elastic/datavis (Team:DataVis)

[2021-04-15 16:04] paulb-elastic commented on #91062
@mostlyjason some thought/discussion has already begun for this in https://github.com/elastic/uptime/issues/251

[2021-04-15 16:15] monfera commented on #97278
![image](https://user-images.githubusercontent.com/1548516/114902792-75566f00-9e16-11eb-886e-4cddecb928f1.png)

[2021-04-15 16:25] #96566 closed

[2021-04-15 16:37] #88541 closed

[2021-04-15 16:52] #91931 closed

[2021-04-15 16:56] #62128 closed

[2021-04-15 17:12] ebeahan commented on #82273
Is it `meta` or `_meta` for fields?

The docs reflect `meta` for the [fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-field-meta.html) and `_meta` for the [mapping metadata](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-meta-field.html).

[2021-04-15 17:46] spalger commented on #97032
It's for me to tell if this is a bug with esArchiver or migrations. If this is a flaw with the way that Kibana handles running migrations after startup then i don't think this qualifies as a bug. If this same behavior can be observed by getting ES into this state and then starting Kibana it sounds like a bug in migrations.

If the bug is the way that esArchiver runs migrations or loads Kibana inde

[2021-04-15 17:55] ghudgins commented on #96029
here's a suggestion from an ER

[2021-04-15 17:58] #93670 closed

[2021-04-15 18:07] yctercero opened #97296 "[Security Solution][Exceptions] - Allowing differently cased field values for keyword types"
**Describe the bug:**![image](https://user-images.githubusercontent.com/10927944/114917316-a9ac3a00-9dda-11eb-9796-df92a93ad48b.png)Use case: A user wants to add an exception that looks for some field like `process.command_line` where value is `windows...` and `WINDOWS`. When `process.command_line` is selected - as opposed to `process.command_line.caseless`, `process.command_line.text` - it defaul

[2021-04-15 18:07] elasticmachine commented on #97296
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-15 18:08] elasticmachine commented on #97296
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-04-15 18:13] #96815 closed

[2021-04-15 18:15] simitt commented on #97138
@Zacqary it sounds like we are heading in the same direction. I think a supporting `latest` version is the most straight forward from a users perspective; but if not feasible for `7.13`, then the proposed flow of only installing an older version (even without force flag) if no newer version is already installed sounds good to me.

[2021-04-15 18:26] dominiqueclarke opened #97301 "Add Telemetry to count fleet managed monitors"
Currently, we have telemetry to count the number of unique monitors a telemetry enabled user has configured. We should add telemetry to specifically count the number of *fleet* managed monitors.

Ideally, we'd use the fields property in the heartbeat config to set a constant field populated only when the monitor is configured with fleet.

[2021-04-15 18:26] elasticmachine commented on #97301
Pinging @elastic/uptime (Team:uptime)

[2021-04-15 18:26] #96644 closed

[2021-04-15 18:34] killswitch-GUI commented on #97296
@obscuritylabs is following this. Thanks @yctercero!

[2021-04-15 18:34] poffdeluxe opened #97305 "[Canvas] Remove essql search service from behind Lab Project"
Before 7.14 feature freeze, we should:
1. Remove the essql data.search service usage from behind the Labs project and make it default behavior
2. Remove the `esdocs`, `escount`, and `essql` functions from the server

Doesn't close but gets close to https://github.com/elastic/kibana/issues/75068
Closes https://github.com/elastic/kibana/issues/94457 (New function includes this)
Closes https://github

[2021-04-15 18:34] elasticmachine commented on #97305
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-15 18:39] alexfrancoeur opened #97308 "Adding RBAC to new Cloud links"
As part of the Getting Started work (https://github.com/elastic/kibana/issues/94207), @ryankeairns and the team have added support for linking back to Cloud. This is a huge milestone to providing a seamless experience between our Cloud console and Kibana. This work has been merged and I believe we are targeting supporting them in 7.13 (https://github.com/elastic/kibana/pull/66486, https://github.c