[2021-01-20 17:29] #50418 closed

[2021-01-20 17:31] gmmorris commented on #88796
Nope. I managed to reproduce locally - the UI driver sometime selects the wrong index in the ComboBox.
When this happens it defaults to the first in the list, which is the system indices starting with `.`, such as `.kibana_task_manager`, at which point it fails to index the document.

[2021-01-20 18:12] joshdover commented on #57546
Been digging into this a bit and there's a few things that warrant some discussion.

First, the goal of this task is to have a config that allows a user to enable elasticsearch query logging, but is disabled by default (on 7.x branch). Since this feature already exists in the current `elasticsearch.logQueries` form, this task is about creating a config that is compatible with Core's new logger con

[2021-01-20 18:19] jodinathan commented on #88571
For now, we are running all ELK tests within closed docker containers with LetsEncrypt & Nginx to proxy reverse HTTPS. I am no expert in this subject but I am guessing this TLS shouldn't be needed in our use case.

Two questions:
1) Couldn't this security be optional since it can be all within an internal process?
2) Why can't a regular reverse proxy be used?

[2021-01-20 18:20] chrisronline commented on #81618
@azasypkin This is up now: https://github.com/elastic/kibana/pull/88884

[2021-01-20 18:25] #84977 closed

[2021-01-20 18:25] #88778 closed

[2021-01-20 18:34] dej611 opened #88890 "[Lens] Lens editor crashes when switching to"
**Kibana version:** `master` at f0f192c654010e2038a156add1fd777ec5f8a370

**Describe the bug:**

When transitioning to `Last value` from an operation with a string field set, the editor crashes at validation time.

**Steps to reproduce:**
1. Open Lens editor and drop an field into the workspace
2. Click on the Vertical axis dimension "Count of Records"
3. Now click on "Unique count" and select a s

[2021-01-20 18:34] elasticmachine commented on #88890
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 18:44] smith opened #88891 "[APM] Inconsistent table and chart loading states"
* The service inventory, transactions overview, and other tables use a loading spinner on the initial load instead of the built-in loading bar on the tables.
* Charts and tables on the service overview start out with "No data to display" (charts) or "No items found" (tables) where they should start out in a loading state or at least not a state saying there's no data.

[2021-01-20 18:44] elasticmachine commented on #88891
Pinging @elastic/apm-ui (Team:apm)

[2021-01-20 18:52] LouDeter opened #88893 "[Security Solution] webhook action can sends invalid json payload when combined with mustache"
**Describe the bug:**
We can use webhook, in the action section of a detection rule to send a JSON to another service. In the body of the action we can use mustache to render some context information like the query that matched some logs and generated the alert.
If the query contains a `\` for exemple `CommandLine:*process\ call*` then mustach will render the variable "as is" but it creates an inv

[2021-01-20 18:53] #81052 closed

[2021-01-20 19:00] YulNaumenko commented on #80508
Alerting plugins was migrated (Alerts, Actions, Stack Alerts, Event Log, Task Manager and TriggersActionsUI)

[2021-01-20 19:01] spong commented on #82421
Reviewed with @MikePaquette and determined this is `impact:high`.

[2021-01-20 19:16] constancecchen opened #88896 "[Request] In-app Prompt/onLeave confirmation"
**Describe the feature:**

The current [AppMountParameters.onAppLeave](https://github.com/elastic/kibana/blob/master/docs/development/core/public/kibana-plugin-core-public.appmountparameters.onappleave.md) API only works in the case where user leaves the entire app, but it doesn't handle a case where a user is navigating within the app to another page.

**Describe a specific use case for the featu

[2021-01-20 19:16] elasticmachine commented on #88896
Pinging @elastic/kibana-core (Team:Core)

[2021-01-20 19:20] Zacqary commented on #74809
Apologies for not picking up on this earlier, but now that I've started implementing this alert I realize I'm not sure about its action messaging behaviors.

- What do we send to the context variables? Anomaly score, timestamp of the anomaly, anything else?
- I'm assuming it's supposed to detect anomalies that happened since its last execution, e.g. a "check every: 5 minute alert looks at anomalie

[2021-01-20 19:23] wylieconlon commented on #88786
This is on master, not 7.11

[2021-01-20 19:28] cruikshj commented on #83295
Another vote for this...  most of my index pattern names look something like `*:*-logs*,*-logs*`.  It would be nice if I could make a display name for that of just `logs`.

[2021-01-20 19:31] pmuellr commented on #88571
These are questions best answered by Kibana security folk.  cc: @elastic/kibana-security

[2021-01-20 19:35] fearful-symmetry commented on #88584
Alright, fix incoming for the doc issues.

[2021-01-20 19:43] fearful-symmetry commented on #88817
This might be a case where the systemd APIs we use aren't available on older linux distros, but I'm not sure. Is there anyway we can get the original metricbeat logs?

[2021-01-20 19:46] #85386 closed

[2021-01-20 19:48] fearful-symmetry commented on #88828
@narph can you look at this? Not sure if this is a bug or just the system not having the logs.

[2021-01-20 20:03] sqren commented on #87812
Hi there,

We have an issue to replace the search bar in APM with the same search bar used in Discover and other Kibana apps: https://github.com/elastic/kibana/issues/82751. This should provide ability to save searches.

Navigating and zooming is persisted in the url, so you should be able to share a link to what you have identified.

[2021-01-20 20:11] legrego commented on #88571
Hey folks -

The TLS requirement for API Keys comes from Elasticsearch, and isn't something we explicitly enforce in Kibana. We have a corresponding issue over in the ES repository to discuss adding support for API Keys when TLS is managed by a reverse proxy: https://github.com/elastic/elasticsearch/issues/61458.

[2021-01-20 20:25] pmuellr commented on #85479
We don't currently track the value or threshold at the time the alert executors run.  Presumably the value would be available in the sourced data (blue line in the graph ^^^).  But we also don't track the threshold - I suspect that this will become possible once we have a "alerts as data" story, where an alert will be able to store alert-specific data ... somewhere ... when the alert executors run

[2021-01-20 20:25] #88686 closed

[2021-01-20 20:27] ryankeairns opened #88901 "[Time to Visualize] Indicate unsaved changes"
I don't think we use badges in this fashion elsewhere, but this case feels worthy. It's also worth noting that the upcoming background jobs UI will add an icon button at the right end of the breadcrumbs, so putting the badge near the right end is preferable. If you prefer, we could wait to do this until after Catherine removes the aforementioned links.

Here is a quick mockup of how that would loo

[2021-01-20 20:28] elasticmachine commented on #88901
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-20 20:34] legrego commented on #66412
Reopening, as we had to revert the fix in order to support `@` in usernames, which is far more common than `%`. We need to get an upstream bug fixed before we can resolve this entirely: https://github.com/elastic/kibana/issues/82440

[2021-01-20 20:42] Zacqary commented on #84849
Sorry, fixed the screenshot

[2021-01-20 20:46] bhavyarm opened #88903 "Kibana is printing blank maps if user does pdf reporting without the option "Optimize for printing" enabled."
**Kibana version:** 7.11.0 BC3

**Elasticsearch version:** 7.11.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana prints blank maps when user is using reporting feature for print PDF without the option - "optimize for prin

[2021-01-20 20:46] elasticmachine commented on #88903
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-20 20:46] elasticmachine commented on #88903
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-01-20 20:53] EricDavisX commented on #88828
@narph further, anything you want the tem to help re-test - @dikshachauhan-qasource and team can test on more systems or execute certain end-user actions / operations on the host to validate.  some of this may be our lack of understanding of how to test it appropriately.

[2021-01-20 21:01] EricDavisX commented on #88817
@fearful-symmetry Diksha and team can get you anything you need.  If you can lay out explicitly what logs you want to avoid confusion / assumptions, please?

AND @dikshachauhan-qasource we can look at this on other linux distros, please check what we have easily available in our vSphere templates. and see if we can gather any more categorization of which ones work and which don't?

[2021-01-20 21:29] #88400 closed

[2021-01-20 21:36] pmuellr opened #88908 "[alerts] expose API to generate alert instance summary from event log documents"
It's not clear that this will be needed, but thought I'd create an issue to outline how it might work, if it is.

For the "Alert Details" page, we generate the list of instances and data from them, via this function, which is not currently exposed as an API: https://github.com/elastic/kibana/blob/da8abdaf754e954b442ed7b81cd3e2fa62a0bf2b/x-pack/plugins/alerts/server/lib/alert_instance_summary_from_

[2021-01-20 21:36] elasticmachine commented on #88908
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-20 21:40] Zacqary opened #88909 "[Metrics UI] Fix alert preview accuracy with new Notify settings"
<img width="604" alt="Screen Shot 2021-01-20 at 3 37 49 PM" src="https://user-images.githubusercontent.com/1445834/105244031-82c0cd80-5b35-11eb-9bf1-b488a37efc76.png">

The Alert Preview function is designed to work only with a custom **Notify every** value, but not with the new settings of **Only on status change** or **Every time alert is active**.

[2021-01-20 21:40] elasticmachine commented on #88909
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-20 21:51] pmuellr opened #88912 "[alerts] replace manual instance summary calculation with query DSL aggs"
For the "Alert Details" page, we currently generate the data by getting all the event log data for a given time range, and then processing the data in date order to determine what the "current" status is.  That work is largely done here: https://github.com/elastic/kibana/blob/da8abdaf754e954b442ed7b81cd3e2fa62a0bf2b/x-pack/plugins/alerts/server/lib/alert_instance_summary_from_event_log.ts#L11-L20

[2021-01-20 21:51] elasticmachine commented on #88912
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-20 22:08] sqren commented on #85479
Thanks for the feedback @pmuellr!

That's fine for for now.

Yes, we are hoping to retrieve alerts by alert params.

I think timestamps for "execute-action" is the only useful one for us.
Out of curiosity: You mention timestamps for "active-instance", "new-instance", "recovered-instance". I've thought of these as implementation details - in what way would these be useful to consumers and end users

[2021-01-20 22:15] yctercero commented on #88450
Because fix included changes to mappings - simply removed search for 7.11.

However fix for this is now included in https://github.com/elastic/kibana/pull/88701

[2021-01-20 22:31] wylieconlon commented on #88890
Looks like this error is caused by the recent merge of https://github.com/elastic/kibana/pull/87064, specifically the error is caused by the `getErrorMessages` code here: https://github.com/elastic/kibana/pull/87064/files#r550297460

Maybe I'm missing something, but getting rid of this line (in addition to the other work you did on this PR) fixes the issue.

[2021-01-20 22:32] EricDavisX commented on #87493
@dikshachauhan-qasource hi, I'm short on time, and can't review all of the screenshots to figure out status.  If this is fixed, per what you logged (meaning that after upgrading the option exists and works to change log level for a given agent) then please close it.  thanks!

[2021-01-20 22:39] #54837 closed

[2021-01-20 22:51] nreese commented on #88792
Hi @yugeswaran-kinesso, thanks for reaching out. The best way to get help with a problem is by opening a topic in [discuss](https://discuss.elastic.co/c/elastic-stack/kibana). In order to keep our issue list as managable as possible, I am going to close this for now.

[2021-01-20 22:51] #88792 closed

[2021-01-20 22:56] nreese commented on #88719
@poffdeluxe will maps be impacted by this once https://github.com/elastic/kibana/pull/88759 is merged? Will maps have to do anything or will `SavedObjectSaveModalDashboard` handle the details internally?

[2021-01-20 22:57] elasticmachine commented on #88692
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-20 22:57] EricDavisX commented on #85374
@dikshachauhan-qasource this should be available in the BC4 build - please reset with crazy chars and long names here, and again anywhere else in the UI that they show, thanks for the diligence!

[2021-01-20 23:08] wylieconlon commented on #84941
@flash1293 It does seem possible that 50ms is not enough to execute a state update, since a state update is needed to mark that the drag has started. Specifically we use this code on start:

[code]

So we probably have some underlying performance issues here, but I agree that increasing the timeout is a solution that would help.

[2021-01-21 00:59] axw commented on #79050
@chrisronline the Kibana changes did not make it for 7.11, due to the issues you found - is that right? The ES mappings and apm-server fix were both merged in for 7.11, so should we relabel this for 7.12 now?

[2021-01-21 01:03] chrisronline commented on #79050
Hi @axw,

It doesn't look it made 7.11, but we will prioritize it for 7.12

[2021-01-21 01:25] drenze opened #88925 "Dark Mode Not Functioning in Kibana 7.10.1"
# Version

Elasticsearch/Logstash/Kibana all using v7.10.1.

# Browser

Chrome, Version 87.0.4280.141 (Official Build) (x86_64)

# Browser OS Version

macOS 10.15.7/Catalina

# Install Method

Deployed via Helm, using Elastic images and Helm charts

# Issue

Kibana UI doesn't respect "Dark Mode" setting, still uses light mode when set to dark. It appears that the top bar containing the Search fiel

[2021-01-21 02:06] constancecchen commented on #82440
Just ran into this exactly as well with the Enterprise Search plugin. FYI that this `%` decoding issue does not occur for us in our standalone React app that is also on React Router 5.2.0 (although our `history` dependency is on 4.5.1 vs Kibana's 4.9.0 - maybe that's why?) Super odd either way - definitely ping us if we can help at all (although those RR issues look gnarly, so maybe not :)

[2021-01-21 02:38] kibanamachine opened #88926 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/lens·ts - Lens lens XY chart"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11178/)

[2021-01-21 02:38] kibanamachine opened #88927 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/lens·ts - Lens "after all" hook for "saves lens chart""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11178/)

[2021-01-21 02:46] elasticmachine commented on #88926
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-21 02:47] elasticmachine commented on #88927
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-21 02:53] kibanamachine opened #88928 "Failing test: Jest Tests.x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/table - Background Search Session Management Table fetching sessions data re-fetches data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11291/)

[2021-01-21 03:29] YulNaumenko commented on #87340
@daohodac could you please provide the additional details mentioned in the comments above, because we are not able to reproduce the issue.

[2021-01-21 03:44] kibanamachine opened #88929 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/lens·ts - Lens dimension configuration panel"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11292/)

[2021-01-21 03:44] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11292/)

[2021-01-21 03:47] elasticmachine commented on #88929
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-21 03:51] elasticmachine commented on #88929
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-21 03:52] elasticmachine commented on #88927
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-21 03:52] elasticmachine commented on #88926
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-21 03:54] spalger commented on #88926
10 failures in master, 7.x, and PRs in this suite since https://github.com/elastic/kibana/pull/88623 was merged 12 hours ago. CC @markov00

![image](https://user-images.githubusercontent.com/1329312/105277925-ad288000-5b61-11eb-99f6-32b6aa65b1fa.png)

Skipped
master: https://github.com/elastic/kibana/commit/97c7f5c8a1744cee31f679d71f4809ba131ff259
7.x/7.12: https://github.com/elastic/kibana/commit

[2021-01-21 03:55] spalger commented on #88927
10 failures in master, 7.x, and PRs in this suite since https://github.com/elastic/kibana/pull/88623 was merged 12 hours ago. CC @markov00

![image](https://user-images.githubusercontent.com/1329312/105277925-ad288000-5b61-11eb-99f6-32b6aa65b1fa.png)

Skipped
master: https://github.com/elastic/kibana/commit/97c7f5c8a1744cee31f679d71f4809ba131ff259
7.x/7.12: https://github.com/elastic/kibana/commit

[2021-01-21 03:55] spalger commented on #88929
10 failures in master, 7.x, and PRs in this suite since https://github.com/elastic/kibana/pull/88623 was merged 12 hours ago. CC @markov00

![image](https://user-images.githubusercontent.com/1329312/105277925-ad288000-5b61-11eb-99f6-32b6aa65b1fa.png)

Skipped
master: https://github.com/elastic/kibana/commit/97c7f5c8a1744cee31f679d71f4809ba131ff259
7.x/7.12: https://github.com/elastic/kibana/commit

[2021-01-21 03:56] elasticmachine commented on #88928
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-21 04:02] spalger commented on #88928
@tsullivan @lizozom This test has failed three times since https://github.com/elastic/kibana/pull/81707 was merged 11 hours ago, so I'm skipping. Hoping y'all can hop on it while things are still fresh.

![image](https://user-images.githubusercontent.com/1329312/105278355-81f26080-5b62-11eb-8f76-f9473d13cf85.png)

Skipped
master: https://github.com/elastic/kibana/commit/d28fa36e8a3047d354723edb3f8

[2021-01-21 06:48] amolnater-qasource commented on #85374
Hi @EricDavisX
We have revalidated this issue for v7.11.0 BC-4 build.
Build details are as follows:
[code]
**Observations:**
1. Integration section is now  visible under the agent details page with long policy name.
2. Logs section is now visible under the agent Logs page with long policy name.

**Screenshots:**
![LongPolicyName](https://user-images.githubusercontent.com/77374876/105295602-a93b430

[2021-01-21 07:10] sgrodzicki commented on #84370
@chrisronline should we close this as all listed PRs are merged?

[2021-01-21 07:38] kibanamachine opened #88935 "Failing test: X-Pack Background Search UI (Enabled WIP Feature).x-pack/test/send_search_to_background_integration/tests/apps/dashboard/async_search/send_to_background_relative_time·ts - async search send to background with relative time "after all" hook for "Saves and restores a session with relative time ranges""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11295/)

[2021-01-21 08:57] flash1293 commented on #88929
The wrong Marco got pinged here - @dej611 could you take a look at those?

[2021-01-21 09:00] flash1293 commented on #88929
@dej611 Looks like this is related to the "empty dataset" popover:
<img width="838" alt="Screenshot 2021-01-21 at 09 58 37" src="https://user-images.githubusercontent.com/1508364/105327578-59548000-5bcf-11eb-9315-5861d85d4fdc.png">

We had that problem in other places, it can be avoided by calling
[code]

[2021-01-21 09:03] cauemarcondes opened #88938 "[APM] Break down transaction table api removing the sparklines"
A pre-requisite to implement the time series comparison is to remove the sparklines from the transaction table API and calling a new API that returns it.

`GET /api/apm/services/{serviceName}/transactions/groups/overview`

To dos:
- [] Remove sparkline timeseries from API, the avg values must stay because it should be sortable on the table.
- [] Remove pagination from API
- [] Create a new API tha

[2021-01-21 09:03] elasticmachine commented on #88938
Pinging @elastic/apm-ui (Team:apm)

[2021-01-21 09:26] arisonl commented on #80953
Known documentation:

Stack
- [Index threshold](https://www.elastic.co/guide/en/kibana/master/alert-types.html)
- [Geo containment](https://github.com/elastic/kibana/issues/80749)

Observability:
- [Log threshold](https://www.elastic.co/guide/en/observability/master/logs-threshold-alert.html)
- [Infrastructure threshold](https://www.elastic.co/guide/en/observability/master/infrastructure-threshold

[2021-01-21 09:29] dikshachauhan-qasource commented on #87493
Hi Eric,

We have validated this issue and found it **working Fine** on Kibana 8.0 snapshot Cloud build.
Build details are as follows:
[code]
-  Agent Logging level field is now available on upgraded Kibana under Agent Logs tab when upgraded from 7.10.2 to v8.0.0
- Agent logs are getting generated as required when logging level is updated.

Screenshots:
![Upgrade7 10 2Agent](https://user-images.gi

[2021-01-21 09:30] #87493 closed

[2021-01-21 09:51] #87716 closed

[2021-01-21 09:51] darnautov opened #88940 "[ML] Initial Alerting and Action integration"
[Alerting and Actions](https://www.elastic.co/guide/en/kibana/7.x/alerting-getting-started.html) is a centralized tool to manage complex conditions and invoking actions when those conditions are met. Introducing an ML alerts integration should provide a straightforward way to set up conditions for existing Anomaly Detection jobs and kick-off alerts in the job wizards. This will replace the current

[2021-01-21 09:51] elasticmachine commented on #88940
Pinging @elastic/ml-ui (:ml)

[2021-01-21 10:15] markov00 commented on #68884
related to https://github.com/elastic/kibana/issues/22443

[2021-01-21 10:18] sulemanof opened #88944 "[Discuss] Use soClient instead of esClient in usage collector fetch"
Here is the initial [suggestion](https://github.com/elastic/kibana/pull/88604#discussion_r560801214) to use `soClient` instead of `esClient` to fetch saved objects from `.kibana` index. Here is the concern:
[code]
**Question:**
Do we need to do the same replacement for other places, where we use `esClient` for searching in `.kibana` index?

Couple of places I found in OSS, but maybe this is not th

[2021-01-21 10:19] sulemanof commented on #88944
cc @afharo

[2021-01-21 10:54] #74484 closed

[2021-01-21 10:59] weltenwort commented on #88015
IIRC we didn't mark the category anomalies on the chart, because it showed the counts of the log rate anomalies on the y axis. It would therefore be pretty confusing to mark anomalies based on a different value (count of documents in categories) on a chart showing something unrelated.

I agree with @Kerry350 that an elastic-charts heatmap could be a good chart type to show anomalies from mixed sou

[2021-01-21 11:25] sorantis commented on #74809
@Zacqary I agree, we should be more thoughtful about details like this.
The context variables:
- timestamp
- anomaly score (severity)
- metric (detector)
- influencer
- summary (e.g. 29x higher)
- actual value
- typical value

Regarding the second question, @grabowskit, can you advice?

[2021-01-21 11:31] muskangulati-qasource opened #88951 "[Security Solution] The link under Stack Monitoring tab navigates to a wrong webpage with 404 error"
**Describe the bug**
The link under Stack Monitoring tab navigates to a wrong webpage with 404 error

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Steck Monitoring" tab under Management from the left navigation bar.
3. Go to the link provided for docu

[2021-01-21 11:31] muskangulati-qasource opened #88952 "[Security Solution] Events are disabled in the policy but logs show incorrect information for a few events"
**Describe the bug**
Events are disabled in the policy but logs show incorrect information for a few events

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Endpoint should be deployed with Security Integration installed.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Sec

[2021-01-21 11:31] muskangulati-qasource commented on #86329
Hi @kevinlog,

We validated this ticket on the latest 7.11.0 BC4 build and found that it is now **fixed**.

Please find below the testing details:
**Build Details**:
[code]

**Screenshots**:
- Default notification:
    - On UI:
    ![Default](https://user-images.githubusercontent.com/60252716/105319473-ea852000-5bea-11eb-8bbe-b53adb1beed0.PNG)

    - Notification for Detect & Prevent:
    ![Detect

[2021-01-21 11:31] muskangulati-qasource commented on #87979
Hi @EricDavisX,

We tested this on the latest 7.11.0 BC4 build and found that issue is now **fixed**.

Please find below the testing details:

**Observation**
The message is successfully updated.

**Build Details**
[code]

**Refer Screenshot**:
![EnrollmentToken](https://user-images.githubusercontent.com/60252716/105340482-f29d8980-5c03-11eb-9341-b80e6c74acc8.PNG)

Thanks!

[2021-01-21 11:31] muskangulati-qasource commented on #85521
Hi @EricDavisX,

We tested this on the latest 7.11.0 BC4 build and found that issue is Partially fixed.

Please find below the testing details:

**Observation**
The 'Action' Button is visible to the user, however for the long name, the table structure for agent details is not preserved.

**Build Details**
[code]

**Refer Screenshot**:
![HostName](https://user-images.githubusercontent.com/60252716/

[2021-01-21 11:33] muskangulati-qasource commented on #88951
@manishgupta-qasource please review!

[2021-01-21 11:33] muskangulati-qasource commented on #88952
@manishgupta-qasource please review!

[2021-01-21 11:44] manishgupta-qasource commented on #88951
Reviewed & assigned to @kevinlog

[2021-01-21 11:45] manishgupta-qasource commented on #88952
Reviewed & assigned to @kevinlog

[2021-01-21 11:46] deepikakeshav-qasource commented on #88446
Hi  @michaelolo24

We have validated this ticket on  **7.11.0 BC4** and found that issue is **Not Fixed** . Resolver is not displaying on full screen

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-c9f0a1f5/summary-7.11.0.html

**Screenshot:**
![Resolver](https://user-images.githubusercontent.com/61860752/105344274-bb7da700-5c08-11eb-9000-03b3a2922bcc.jpg)

Hence, We are re

[2021-01-21 11:48] deepikakeshav-qasource commented on #84888
Hi  @michaelolo24

We have validated this ticket on  **7.11.0 BC4** and found that issue is **Not Fixed** . Long text is not wrapped in the grey box for events under the resolver

**Build Details:**
[code]
Artifacts: https://staging.elastic.co/7.11.0-c9f0a1f5/summary-7.11.0.html

**Screenshot:**
![Registry_events](https://user-images.githubusercontent.com/61860752/105347188-8f642500-5c0c-11eb-8b25

[2021-01-21 11:58] sgrodzicki commented on #88550
AFAIR annotations aren't clickable in Elastic Charts. Should we ask for this upstream or do we solve it on our side in a different way?

/cc @jasonrhodes @phillipb

[2021-01-21 12:00] afgomez commented on #85990
Retested with BC4. It seems to work correctly.

<img width="702" alt="Screenshot 2021-01-21 at 12 59 59" src="https://user-images.githubusercontent.com/57448/105348410-95e0a580-5be8-11eb-92a3-7f452793f7df.png">

[2021-01-21 12:00] #85990 closed

[2021-01-21 12:03] restrry commented on #87190
can be closed now?  @myasonik

[2021-01-21 12:04] joshdover commented on #86165
The caching approach in general sounds good to me. I'm not sure if we should push these into search as application links though. It may be better to have a separate search provider that is completely sync (and uses the cache) so that these results can be displayed differently or ranked separately from 1st and 2nd order application links.

So in effect, this is really a UX question. Either approach

[2021-01-21 12:17] mikecote commented on #80953
@arisonl, that sounds like a separate issue than the context of this one. It may relate to https://github.com/elastic/kibana/issues/80632 or an item in https://github.com/elastic/kibana/issues/81532.

[2021-01-21 12:22] ruflin opened #88956 "[Fleet] Configure Fleet packages and integrations through config file"
Today to install packages and setup integrations, either the UI has to be used or Kibana API calls. In some cases it would be more convenient to specify the state through configuration files, for example in k8s. This issue is to discuss / brainstorm on how this could be achieved and is not meant as a proposal for the implementation.

# Basic idea

There are 2 parts which normally happen through AP

[2021-01-21 12:22] elasticmachine commented on #88956
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-21 12:22] elasticmachine commented on #88956
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-21 12:27] arisonl opened #88957 "[Discuss] Alert history"
Through a number of related customer requests and internal discussions, it has become apparent that we need to provide some sort of alert history, on the alerting working group level, in the meantime until we materialise the unified alert-as-data vision.

I would like to focus on two painpoints initially (a basis):

**1. Indexing the history:**

You can build an alert history by indexing your aler

[2021-01-21 12:28] elasticmachine commented on #88957
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-21 12:44] sgrodzicki commented on #85841
@Zacqary @chrisronline @igoristic where are we with this?

[2021-01-21 12:44] sqren commented on #86165
Agree!

I like the sounds of that. We are targeting this for 7.13 so perhaps by then there is something like this in place? If not we'll go with the current async approach.

[2021-01-21 12:52] gmmorris commented on #88957
Regarding the first pain point you mention, I get the feeling this is actually quite a bit harder than we had originally thought.
It was obvious to us as a team that indexing data from the alert into ES should be as easy as possible, and I feel like we thought we had addressed that in the _ES Index_ action, but now that we have real world feedback it's clear this can be improved.

I _think_ I have

[2021-01-21 12:54] karanbirsingh-qasource commented on #86742
Hi @EricDavisX

we have validated this on `7.11.0 BC4` production cloud and found that issue is still occurring.
we got the Socket hang up error in agent logs under agent details page , However no error pop-up just like earlier is not showing now.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/59917825/105351683-e1a84480-5c12-11eb-9438-e5eceaaa1594.p

[2021-01-21 12:57] deepikakeshav-qasource opened #88960 "[Security Solution] Page count is not properly displayed on the Events and Timeline tab."
**Description**
Page count is not properly displayed on the Events and Timeline tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.
3. Multiple alerts and events should be generated.

**Steps to Reproduce:**
1. Navigate to the Hosts tab of the security
2. Click on Events tab and obser

[2021-01-21 12:58] deepikakeshav-qasource commented on #88960
@manishgupta-qasource Please Review!!

[2021-01-21 13:05] #77567 closed

[2021-01-21 13:06] kevinlog commented on #88956
cc\ @pzl - could help in the future with our Endpoint Package upgrade process

[2021-01-21 13:13] formgeist commented on #86477
Updated the issue description with a decision on the fields customization, which we'll make local storage enabled per user session. This is the most practical and essential saving of the fields we can imagine would be useful for the first iteration. We might reconsider when spaces also become user profile specific, which will enable users per space to define the fields. We might also get other fee

[2021-01-21 13:19] michaelolo24 commented on #88446
@deepikakeshav-qasource please verify in the next BC. It looks like my commit `a2e31b145513cd03cc567074caaa0e0b8b8f4312` didn't make it into BC4.

[2021-01-21 13:29] #84941 closed

[2021-01-21 13:29] manishgupta-qasource commented on #88960
Reviewed & assigned to @MadameSheema

[2021-01-21 13:32] EricDavisX commented on #86742
I think this is expected - @nchaulet fixed only the pop up on Kibana side.  Nicolas can you comment?

And @ph is this anything further we want to follow up on the Agent side?  Not for 7.11 mind you, but is it indicative of anything we still care about?

[2021-01-21 13:33] #88180 closed

[2021-01-21 13:39] neptunian opened #88966 "[Metrics UI] Improve performance with CondtionalToolTip"
The `ConditionalToolTip` is always mounted for each `Node` and refreshed every few seconds with new data coming in.  Some logic is always performed and the `EuiTooltip` `content` is being re rendered.  This happens whether or not the the user is looking at a tooltip, for every node.  This is unnecessary and could contribute to performance issues in the UI when there are a lot of nodes.

We should

[2021-01-21 13:39] elasticmachine commented on #88966
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-21 13:43] ferullo commented on #88799
I think we should say that by default this is configured in Agent's settings in Fleet. I really want to make sure we're pushing users to use Fleet to control endpoint file logging out of extenuating circumstances.

[2021-01-21 13:50] MadameSheema commented on #88960
@XavierM can you please take a look at this and help to prioritise? Thanks :)

[2021-01-21 13:56] Kerry350 commented on #88015
Ah, maybe I'm misunderstanding something here. The y-axis is plotted against the average log entries per 15 minutes. And whilst those values are derived from the `model_plot` documents of the log rate job, the axis isn't directly tied to the anomaly values. My thinking was that in a mixed scenario the log rate (grey) bars would be almost like some background context, and then the annotation would

[2021-01-21 14:00] chrisronline commented on #84370
We can close it, but I will also use this ticket to communicate the list of fields to @sayden and @ycombinator

[2021-01-21 14:00] #84370 closed

[2021-01-21 14:03] #88097 closed

[2021-01-21 14:06] #87933 closed

[2021-01-21 14:09] #87190 closed

[2021-01-21 14:27] #84980 closed

[2021-01-21 14:31] kevinlog commented on #88952
@ferullo , my understanding is that some events have to be turned on for Malware to work, etc.  So, even if we "turn off" Process events and have Malware ON, we still need to monitor Process events.

[2021-01-21 14:36] EricDavisX commented on #86742
Also - I did see this at least one time so far in Kibana on BC4, it was when I was just starting to setup Fleet and had not deployed any Agents yet.  It isn't completely fixed - but we can hope it is much improved.

[2021-01-21 14:40] Kerry350 commented on #86354
Assigning to myself as this will close with #79763

[2021-01-21 14:42] ferullo commented on #88952
That is correct. I'm open to alternate wording here if there are suggestions, especially in the message describing the action status.

Endpoint enables whatever events it needs to support the user configuration but only stream the events to Elasticsearch if the event type is explicitly turned on by the user. We deliberately chose the word "Detect" rather than "Collect" in the phrase "Detect Proces

[2021-01-21 14:43] sqren opened #88974 "[APM] Rename "Significant terms" feature "Correlations""
Third times a charm! The vote is over and the feature formerly know as "Significant Terms" will once again be called "Correlations".

This is not must-have for 7.11 since the feature itself will be hidden but it might be a hassle to rename the Advanced Settings without breaking backwards compatibility, and thus a good idea to at least rename those.

[2021-01-21 14:43] elasticmachine commented on #88974
Pinging @elastic/apm-ui (Team:apm)

[2021-01-21 15:05] nchaulet commented on #86742
@EricDavisX  My fix was trying to mitigate this issue in the agent listing you are right. Do we know how often it happens? if you can still collect when it happens it could help to investigate more on that.

[2021-01-21 15:09] MadameSheema commented on #88002
Closing this issue since 7.10.2 was already release and is fixed on 7.11.

[2021-01-21 15:12] MadameSheema commented on #85543
@patrykkopycinski @XavierM this is going to be fixed on 7.11?

[2021-01-21 15:12] aaron-nimocks opened #88976 "Vega kibanaAddFilter() Resets Signal Values Back to Default"
**Kibana version:** 7.10.1

**Describe the bug:** When the function kibanaAddFilter() is called in a Vega specification it will result in all signal values being reverted back to default value.

**Steps to reproduce:**
[code]

1. Move mouse over canvas to allow `test` signal to update to current time.
2. Click on canvas to trigger `kibanaAddFilter`.
3. Observe `test` signal reverted back to defaul

[2021-01-21 15:14] elasticmachine commented on #88976
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-21 15:33] nreese opened #88977 "[Maps] setting "apply global time" switch not working with blended vector layer"
Steps to view:
1) install web logs sample data set
2) create a new map and set time range to last 7 days.
3) add a documents layer from sample web logs data set. Keep scaling on "Show clusters". Click "Add layer"
4) Under "Filtering", click the "Apply global time to layer data" switch. Notice how it turns off and then is immediately turned back on. The switch should be disabled after clicking.

[2021-01-21 15:33] elasticmachine commented on #88977
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-21 16:06] peluja1012 opened #88987 "[Security Solution] Timeline column selector should not default to first category when searching for fields"
When the user wants to add a new column to the Timeline table, they are presented with a search bar in the `Customize Columns` view to find specific fields. However, as the user types a field name, the suggestions presented are limited to first column category, not to all categories. This can lead the user to think that the field they're interested in is not available when in fact it is, but in a

[2021-01-21 16:10] rudolf opened #88988 "Saved Objects registerType support for dynamic mappings"
### Problem:
Alerting stores alerts with a dynamic payload of alert parameters on behalf of other plugins which create these alerts (using `dynamic: false` in the mappings). After creating several alerts, a plugin wants to show these alerts to end users and allow the end users to filter/search/sort all these alerts.

### Potential solutions
#### 1. Dynamic mappings
If the alerting saved object typ

[2021-01-21 16:10] elasticmachine commented on #88988
Pinging @elastic/kibana-core (Team:Core)

[2021-01-21 16:11] justinkambic opened #88989 "[Uptime] Inline function is converting μs to ns instead of ms"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 87

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
There's a function named `microsToMillis` that converts microseconds to nanoseconds instead of milliseconds.

**Steps to reproduce:**
1. Requ

[2021-01-21 16:11] elasticmachine commented on #88989
Pinging @elastic/uptime (Team:uptime)

[2021-01-21 16:17] spalger opened #88990 "[ES] Remove destructive wildcard usage"
ES is planning to disable wildcard support in destructive index actions like deleting, closing, opening, and setting blocks for indices.

I've done a skin deep search and found several uses of wildcards in destructive actions, including:

 - @elastic/kibana-core (migration, migration v2 tests)
 - @elastic/elastic-security-solution (detection engine, "lists" plugin)
 - @elastic/observability-ui (up

[2021-01-21 16:19] #88855 closed

[2021-01-21 16:20] streamich commented on #87304
- saved object?
  - probably should keep as saved objects
- migrations?
  - leaning towards supporting migrations in URL service
- UI?
- ...

[2021-01-21 16:20] constancecchen commented on #82440
Just heard back from @yakhinvadim on this - it turns out that the reason is indeed because we pinned `history` to 4.5.1:

Not sure how debilitating this issue is for y'all, but it might be worth considering pinning `history` to 4.5.1 (unless there is some functionality Kibana specifically needs from 4.6+ from) to fix this issue.

[2021-01-21 16:23] pmuellr opened #88993 "[alerts] improve alert details view column data"
Below is the alert details view for an alert with two instances.

![image](https://user-images.githubusercontent.com/25117/105379621-04b70200-5bdb-11eb-9206-5b019c87ae81.png)

`host-1` is active, but has no Start or Duration value, probably because the event log query didn't get the `new-instance` event, to know when it started - that event occurred before the start of the time range the event log

[2021-01-21 16:23] elasticmachine commented on #88993
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-21 16:24] gmmorris commented on #88369
I'm putting this on hold until I can test the result of this PR: https://github.com/elastic/kibana/pull/88210
Local experimentation shows that the cascading actually drops thanks to some of that cleanup, so I want to test this on cloud at scale.

[2021-01-21 16:26] tbragin commented on #74685
@sorantis when you get a chance, could you double-check this list for making Lens GA against the needs of observability solution?

For instance, I'm aware of one previous dependency "Support for Histogram data type with sum, average" (https://github.com/elastic/kibana/issues/74581) that isn't currently on the list as far as I can tell. I know we are tracking gaps here, but not sure how well coordi

[2021-01-21 16:28] timductive commented on #12562
Hey @bevano8 we still have this on our radar for dashboards, although there is no clear ETA on when we will get it done. In the meantime, we have made it much easier to embed your visualizations into Canvas which does have this feature today.

[2021-01-21 16:33] m-adams opened #88994 "[Fleet] Add "sudo" to Elastic Agent enrollment commands"
April 28 update (Jen): The new commands for enrolling into Fleet Server policy contains `sudo` (except for Windows), and provides a dropdown to select the platform, so let's match the normal agent enrollment with that:

Fleet Server enrollment:
![image](https://user-images.githubusercontent.com/1965714/116435792-9c427700-a800-11eb-8829-0093bab7426f.png)

Normal agent enrollment;
![image](https://u

[2021-01-21 16:33] elasticmachine commented on #88994
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-21 16:34] timductive commented on #74685
Thanks @tbragin we have the integrations issue that you linked on our radar but we are probably due soon for a check in for any other dependencies or requirements.

[2021-01-21 16:43] elasticmachine commented on #88994
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-21 16:56] afharo commented on #88988
I'd like to add another candidate: **`flattened` types**.

The known caveats are:
- They are only allowed for `x-pack` features.
- There is no support from Kibana yet (in case anyone sets `.kibana` in the index patterns).
- Another feature (that may be considered a caveat here, or maybe a win) is that you can run queries like `parent_key: value` and it will return all the results where at least 1

[2021-01-21 17:03] Zacqary commented on #85841
Sorry, missed the updates in the transition back to 7.12 work. I can try these test cases again asap.

[2021-01-21 17:08] neptunian commented on #82313
Using your first screenshot as example numbers...

This occurs because the middle number is calculated by multiplying it by .5, while the low number is always the smallest node value.  The problem with that is that half of 53.5 (26.8) is not guaranteed to be smaller than the lowest value, which is 78 here.    Calculating the middle value to be half of the highest value is not accurate in this cont

[2021-01-21 17:16] jasonrhodes commented on #82313
Nice find! This makes sense with all of the times I've seen this bug.

I slightly prefer your median idea as well, but I'm not sure if this will cause more perf issues to calculate? If it's easy to get, let's go with that. If the median requires another query or a lot of query modifications, I think your second option is fine and much better than the current bug. It would be great to get this in A

[2021-01-21 17:16] jasonrhodes commented on #82313
If we do end up going with the mid-point, we should have a discussion about whether there is any value in showing the middle number at all, to be honest. Maybe the low and high are enough and we could axe it? @sorantis @sgrodzicki

@neptunian don't let this discussion hold you up :)

[2021-01-21 17:30] flash1293 commented on #75543
Everything from this list on the Lens side is done, let's close the issue and treat all upcoming a11y issues as bugs

[2021-01-21 17:30] #75543 closed

[2021-01-21 17:44] nreese commented on #88903
Closed by https://github.com/elastic/kibana/issues/88515

https://github.com/elastic/kibana/issues/88515 fixed a bug in vector tile loading that would prevent the tiles from loading on first page load. This was causing the tiles to not be displayed in reporting.

With https://github.com/elastic/kibana/issues/88515 applied
<img width="400" alt="Screen Shot 2021-01-21 at 10 42 43 AM" src="https://us

[2021-01-21 17:44] #88903 closed

[2021-01-21 17:45] #69302 closed

[2021-01-21 17:52] neptunian commented on #82313
The median would require a sorted array each time the data refreshed which could be an issue with a huge amount of nodes.

Something I want to understand:
<img width="1151" alt="Screen Shot 2021-01-21 at 12 43 43 PM" src="https://user-images.githubusercontent.com/1676003/105390532-23bb9100-5be7-11eb-9f76-83ddc788b5f8.png">

In the gradient legend, the lowest number is calculated by getting the low

[2021-01-21 17:56] wylieconlon commented on #88976
I believe that this is happening because we generate a new Vega spec whenever the dataset changes, and `kibanaAddFilter` will cause a dataset update. We could probably change this behavior so that we keep the Vega spec but update the data.

[2021-01-21 18:00] bhavyarm commented on #87948
This is a regression from 7.10.1. Thanks!

[2021-01-21 18:02] ph commented on #88956
@ruflin Can you clarify the use case:

Today we ship Kibana with a set of integrations that need to be installed by default during setup, do you expect that theses new settings to replace that behavior or complement that behavior?

For **Permission Challenge**, we have been pushing this forward a long time, we need to prioritize and formalize where we want to go.

[2021-01-21 18:02] sorantis opened #89007 "[Metrics UI] Open Metrics Explorer graphs in Lens by default"
Today when users click on `Open in Visualize` the resulting graph opens in TSVB.
Recent [updates in Lens](https://github.com/elastic/kibana/issues/74685) indicate that it should be possible to switch to opening graphs in Lens instead.
<img width="520" alt="Screen Shot 2021-01-21 at 18 44 39" src="https://user-images.githubusercontent.com/1685068/105392080-14eed180-5c1b-11eb-8cc3-3e92b70e47dd.png">

[2021-01-21 18:02] elasticmachine commented on #89007
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-21 18:07] aaron-nimocks commented on #88976
Would the easiest way to do that is to `saveAllSignalValues()` before `kibanaAddFilter()` generates a new spec then `restoreAllSignalValues()`?

[2021-01-21 18:08] #81618 closed

[2021-01-21 18:14] wylieconlon commented on #88976
Yes, something like that is possible. Here's the relevant documentation on the Vega API https://vega.github.io/vega/docs/api/view/#signals

[2021-01-21 18:14] Zacqary commented on #74809
I'm not seeing an obvious way to do this using KQL queries the way we do them with other alerts. Should we just allow you to filter by influencer? i.e. limit the filter field to either `host.hostname` or `kubernetes.pod.uid`, depending on node type?

[2021-01-21 18:16] lizozom opened #89010 "[Search Sessions] Rename a saved session"
We want to allow to rename a saved search session from management to allow a little more flexibility to users.

This would be triggered from the management actions panel, probably opening a tooltip with an input option.

 Needs mock @mdefazio

[2021-01-21 18:24] richcollier commented on #88940
Had a discussion with @darnautov today on the following topics:

- interim results (how to handle)
- multi-bucket anomalies (option to include/exclude)
- alert config being "job aware" (notify user that you cannot do an influencer alert on a single metric job, for example)
- do we warn users if ML Custom Rules or Calendars may impede alert firing?
- do we allow user to control alert output text fo

[2021-01-21 18:30] kibanamachine opened #89011 "Failing test: Firefox UI Functional Tests.test/functional/apps/dashboard/dashboard_filtering·ts - dashboard app using current data dashboard filtering nested filtering Removing filter pills and query unfiters data as expected"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11194/)

[2021-01-21 18:44] kibanamachine opened #89015 "Failing test: Jest Tests.x-pack/plugins/task_manager/server - TaskPool run cancels expired tasks prior to running new tasks"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11307/)

[2021-01-21 18:44] pzl commented on #88630
A fix has been merged to `7.11` and `7.x`

This should not longer be reproducable on:

7.11 BC-**5**  (BC4 does _not_ contain fix)

[2021-01-21 18:48] mikecote commented on #50213
@banderror, thank you for the very detailed analysis 💯

I've done a few POCs with the requirements of searching, sorting and filtering on any type of field (string, number, etc.) and below are my findings.

### Usage of `flattened` type 👎

We cannot use the `flattened` type because it analyzes the data as `keyword`, which doesn't support searching nor sorting on numeric values. I've removed this a

[2021-01-21 18:49] justinkambic commented on #88989
After some offline discussion it's determined that this function is working as intended, and requires a name change only.

[2021-01-21 19:10] LeeDr commented on #82206
Elasticsearch team has a PR for a fix.  Once it's merged I'll unskip this Kibana test.

[2021-01-21 19:32] #79298 closed

[2021-01-21 19:45] pmuellr commented on #50213
A couple of other ideas:

**re-post (again, sorry) of "internal tags" - https://github.com/elastic/kibana/issues/58417**

The idea of this would be that we  add a new field `internal_tags` which would be a nested array of `{key: string, text: string, value: number}`.  We'd do the usual keyword/text thing with the `text` field (to support both keyword and text searches); to handle numeric values, t

[2021-01-21 19:49] mostlyjason commented on #86932
@skh the dropdown shows the correct list I think. The agent list UI hides inactive unless they are selected. The overview page will be deprecated so we can ignore it for now.

I'm not sure what `AgentService.getAgentStatusForAgentPolicy()` is used for. It'd be good to update our APIs and telemetry to match the new status information though.

[2021-01-21 19:50] arisonl opened #89023 "Event log documentation"
We need documentation for the event log, preferably for GA.

[2021-01-21 19:50] elasticmachine commented on #89023
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-21 19:52] jbudz commented on #89015
skipped
main: 933d1b1471817114a33d9d1bedfb3a5e81adbd1a
7.x: 733940ec0916c5cc543843e72ee9a8d68fb06563

[2021-01-21 19:53] elasticmachine commented on #89015
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-21 19:59] Zacqary opened #89024 "[Metrics UI] [Regression] Host Details page only shows CPU Usage box"
**Kibana version:**
7.10, 7.11

<img width="1640" alt="Screen Shot 2021-01-21 at 1 54 52 PM" src="https://user-images.githubusercontent.com/1445834/105405019-44d4af80-5bf0-11eb-94e2-d374b47d53b6.png">

Starting in 7.10, the only box that shows up at the top of this page is the one for "CPU Usage," even though the page is displaying multiple other metrics.

Kubernetes pods are unaffected. Haven't t

[2021-01-21 19:59] elasticmachine commented on #89024
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-21 20:04] #85841 closed

[2021-01-21 20:24] afgomez opened #89025 "[Logs UI][Metrics UI][R&D] Reduce the `infra` bundle size"
Our bundle limit size is currently at 200KB. We would like to reduce that to increase the page load time. As a challenge we would like to cut that limit in half.

## Questions

- What are the outliers in `infra.bundle.js`?
- Can they be loaded asyncronously?
- Can they be replaced with a light weight alternative?
- Is there any dead weight?

Related: what can we do to reduce the overall footprint

[2021-01-21 20:24] elasticmachine commented on #89025
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-21 20:33] mikecote commented on #88988
I have crossed out the `flattened` type and `runtime` fields as potential options (see: https://github.com/elastic/kibana/issues/50213#issuecomment-764859587).

Our users need to sort on number fields and search on parts of the text, based on some [recent feedback](https://github.com/elastic/kibana/issues/50213#issuecomment-758346468). It also turns out that runtime fields can't analyze fields as

[2021-01-21 20:48] #85789 closed

[2021-01-21 20:58] pzl commented on #88249
A fix for this has been merged to `7.11` and `7.x`  (master and 7.10 already contain the fix).

7.11 BC-**5** will contain the fix. (not BC4)

We shouldn't be able to get stuck into this state anymore (transform 404).

[2021-01-21 20:59] sgrodzicki commented on #82313
I'm for the simplest solution as it's both easy to implement and to understand from an end-user perspective. Min/max is min/max of values and midpoint is (min+max)/2.

[2021-01-21 21:07] Zacqary commented on #74809
Did some research, and given the limited number of influencer fields, I'm not sure if it makes sense to use the KQL search bar for this alert. I think it would be better to use a dropdown where you can select [`kubernetes.node.name`, `'kubernetes.pod.uid`, `kubernetes.namespace`] for k8s, or ['host.name'] for hosts, and then enter a search string for the field value.

Using the KQL component would

[2021-01-21 21:22] MindyRS commented on #88799
Not a bug @charlie-pichette

[2021-01-21 21:22] #88799 closed

[2021-01-21 21:24] spalger opened #89029 "Distributable bundles are transpiling async/await"
I expect that async functions [should be](https://kangax.github.io/compat-table/es2016plus/#test-async_functions) [supported](https://caniuse.com/?search=async%20function) by all the browsers we currently support, yet something in our `.browserslist` file is causing them to be transpiled.

cc @tylersmalley are you interested in seeing if we can fix this?

[2021-01-21 21:24] elasticmachine commented on #89029
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-21 21:27] MindyRS commented on #88952
Wow, this is confusing and not quite a bug. Maybe we get better at documenting what's going on? Maybe a tooltip? @jmikell821

[2021-01-21 21:35] #86511 closed

[2021-01-21 21:35] kibanamachine opened #89031 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_test_huge_fields·js - management test large number of fields "before all" hook for "test_huge data should have expected number of fields""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11197/)

[2021-01-21 21:37] charlie-pichette commented on #88799
Logging is handled by Fleet.  You are able to see the log level by:

1. Navigate to the Fleet page.
2. Select the Agent tab.
3. Click on a host name.
4. Select the Logs tab.

At the bottom of the page you will see the agent logging level.

![Screen Shot 2021-01-21 at 2 32 53 PM](https://user-images.githubusercontent.com/56399229/105415099-5759e380-5c06-11eb-82c6-94bd454dda22.png)

You are also abl

[2021-01-21 21:38] ogupte commented on #86477
We should also take this opportunity to rename files, components, and data type to reflect the current feature name "Correlations" instead of the old feature name "Significant terms" (#89028)

[2021-01-21 21:42] pmuellr commented on #89023
Is this for diagnostic purposes, or ???

We do have some doc in the plugin's README.md.  I suspect the README.md could be beefed up a bit more - not sure it's really been updated since we added the event log, but also don't think we've really changed much of the API.  It's also very much aimed at developers WRITING events to the event log, not READING the event log.

I don't see much mention of wh

[2021-01-21 21:47] wylieconlon opened #89032 "[Lens] Fix buggy handling of user pressing delete on the field selector"
I expect that if you press delete on a field, that you would get an error message. But instead, we get an empty label:

<img width="412" alt="Screen Shot 2021-01-21 at 4 40 51 PM" src="https://user-images.githubusercontent.com/666475/105416096-a94f3900-5c07-11eb-830a-37e2695f3e4a.png">

These are the steps needed to test this:

1. Select `Average of bytes` or any other field
2. Open the field sele

[2021-01-21 21:47] elasticmachine commented on #89032
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-21 22:08] jmikell821 commented on #88952
@ferullo suggestions on what we can add as a possible note to Policy docs here?

[2021-01-21 22:23] katefarrar opened #89037 "[Metrics UI] [Discuss] Consistent navigation across Metrics UI"
Currently the three parts of the Metrics UI (Inventory, Metrics Explorer, Settings) have different right side header navigation items.

<details>
<summary>Screenshots</summary>
<img width="1274" alt="Screen Shot 2021-01-21 at 3 18 54 PM" src="https://user-images.githubusercontent.com/455281/105419638-3f7d6200-5bfc-11eb-8238-aeff1bb3c264.png">
<img width="1274" alt="Screen Shot 2021-01-21 at 3 18 3

[2021-01-21 22:23] elasticmachine commented on #89037
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-21 22:24] katefarrar commented on #89037
cc @sorantis

[2021-01-21 22:56] EricDavisX commented on #86742
I'm seeing this when I set on the Agents page in Fleet, with no agents installed and I let the UI just sit there for a while.  I will comment back with more cases as I confirm and narrow them down.

[2021-01-21 23:10] EricDavisX opened #89042 "[Fleet] [Logs Integration] Can we add a 'refresh' button to the Fleet Logs integration view?"
**Describe the feature:**
It requires a user to fiddle with the data picker or other option or refresh the whole web page to get new logs to load in the Fleet UI where the logs integration is included.  It is an amazing feature regardless, but if we had this added to the Logs side component I bet a lot of folks would appreciate it.

**Describe a specific use case for the feature:**
Good UX for all

[2021-01-21 23:10] elasticmachine commented on #89042
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-22 00:15] bhavyarm opened #89046 "Kibana isn't hiding short URL privileges on dashboard app unlike discover app"
**Kibana version:** 7.11.0 BC4

**Elasticsearch version:** 7.11.0 BC4

**Server OS version:** darwin_x86_64

**Browser version:** Chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user accesses Kibana with a role without short URL privileges - dashboard is still showing the option for it un

[2021-01-22 00:15] elasticmachine commented on #89046
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-22 00:30] kibanamachine commented on #89031
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11200/)

[2021-01-22 00:31] kibanamachine opened #89047 "Failing test: Firefox UI Functional Tests.test/functional/apps/dashboard/dashboard_save·ts - dashboard app using legacy data dashboard save Does not warn when only the prefix matches"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11200/)

[2021-01-22 00:31] kibanamachine opened #89048 "Failing test: Example plugin functional tests.test/examples/bfetch_explorer/batched_function·ts - bfetch explorer batchedFunction streams results back"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11200/)

[2021-01-22 01:27] #88977 closed

[2021-01-22 02:15] kibanamachine opened #89051 "Failing test: X-Pack Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser cleans up process and subscribers"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/216/)

[2021-01-22 02:15] kibanamachine opened #89052 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip_array·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type ip "is in list" operator will return 1 result if we have a list that includes all ips"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/216/)

[2021-01-22 02:35] #81083 closed

[2021-01-22 06:11] spalger commented on #88990
It appears that the vast majority of the issues seen are in functional tests which I'm working around with an `esDeleteAllIndices` service in https://github.com/elastic/kibana/pull/88986. There seem to be some issues occurring in actual application code too, but I haven't narrowed those down yet and will notify teams when I have more info.

[2021-01-22 10:22] m-adams opened #89058 "Improve handling of Agent Enrol if already installed"
**Describe the feature:**

When you run the enrolment command on Elastic Agent on a host where it has already been installed it terminates and you get the following error (on Mac at least)
"Error: already installed at: /Library/Elastic/Agent"
To continue, you then need to work out how to uninstall agent and then re-run the command.
It is likely with people doing initial testing will try and enrol

[2021-01-22 10:22] elasticmachine commented on #89058
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-22 11:45] #88797 closed

[2021-01-22 12:39] gmmorris commented on #88369
Sadly this didn't have much of an impact.
It looks like it might have reduce shifting a tad, but nothing impactful.

While running that additional cloud test, I ran a local experiment where I ran 8 kibana in parallel with a 500ms polling interval.
It was quite easily to recreate this issue locally and visibly see the conflicts and the result of the over zealous shifting.

I tried a little hack in

[2021-01-22 13:21] EricDavisX commented on #89058
@ph @michalpristas - fhi.  Thanks for logging @m-adams - I'll transfer to the Beats team, now that I see the notes laid out, this is all Agent side.

[2021-01-22 14:53] elasticmachine commented on #89051
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-22 14:55] elasticmachine commented on #89048
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-22 14:56] elasticmachine commented on #89047
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-22 14:57] elasticmachine commented on #89031
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-22 14:57] elasticmachine commented on #89011
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-22 15:21] elasticmachine commented on #89010
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-22 15:23] elasticmachine commented on #88944
Pinging @elastic/kibana-core (Team:Core)

[2021-01-22 15:23] elasticmachine commented on #88935
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-22 15:25] elasticmachine commented on #88925
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-22 18:30] kevinlog commented on #88951
@elastic/observability hey Observability team - this bug was filed and assigned to the Security Solution team, but I think it belongs somewhere under Observability, but I'm not sure which team exactly.  If it's a known issue, happy to close this as a dup.

Thanks!

[2021-01-22 18:33] kevinlog commented on #88341
@peluja1012 @spong - would this have to do with ML rules?  If so, could you take a look at this?

[2021-01-22 18:44] ashishkpal opened #89064 "some of the required fields are showing as unknown"
hi,

i have setup kibana to fetch the ELB logs to ELK i am getting the logs for some of the required fields like elb_status_code,request,http_uri etc are showing as unknown due to that i am not able to create the dashboard. please help me on the same

[2021-01-22 18:58] chrisronline commented on #88951
I'll take this, thanks

[2021-01-22 19:26] lucabelluccini commented on #87812
That's great!

[2021-01-22 19:45] YulNaumenko commented on #81944
@flash1293 you are right it doesn't matter as the approach, because you are doing the same check if the Task Manager is ready or not and `isReady` method support both `boolean` and `Promise<boolean>`. But in your case for keeping the code cleaner and straightforward the better usage of `isReady` will be to have it async, because you have the your check as async.

[2021-01-22 20:09] seanbirdsell commented on #69649
I just discovered this problem today. Any ETA on a resolution?

[2021-01-22 20:32] jfsiii commented on #84056
@ph @mostlyjason I think we agree this isn't a bug, but we aren't clear on what to do next. Can we close this ticket? I think we can at least remove the `bug` label. Perhaps create a different ticket for the feature/UI changes.

[2021-01-22 21:40] sqren commented on #87812
No problem. Closing this in favour of https://github.com/elastic/kibana/issues/82751. Don't hesitate to jump in with ideas/feedback/use cases.

[2021-01-22 21:40] #87812 closed

[2021-01-23 04:38] kibanamachine opened #89069 "Failing test: X-Pack Background Search UI (Enabled WIP Feature).x-pack/test/send_search_to_background_integration/tests/apps/management/search_sessions/sessions_management·ts - search sessions management Search search sessions Management UI New search sessions Saves a session and verifies it in the Management app"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11340/)

[2021-01-23 06:23] kibanamachine commented on #89069
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11229/)

[2021-01-23 10:50] getkub opened #89070 "Create SPL (Search Processing Language) for Kibana similar to Splunk/sumologic/AzureSearch etc"
**Describe the feature:**
The aggregation and transforming language of Kibana is not as good as Splunk and other tools and DSL is complex for end-users. Introducing SPL into the world of kibana could solve these
**Describe a specific use case for the feature:**

Please find a project https://github.com/chenryn/ESPL which starts to addressing this problem. if Kibana can embed SPL language into fron

[2021-01-23 13:36] kibanamachine commented on #88639
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11349/)

[2021-01-23 17:04] iget-esoares commented on #48584
Is elastic team working on this feature? Very important to us!

[2021-01-23 17:33] kibanamachine opened #89072 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/overview·ts - Uptime app with real-world data overview page clears pagination parameters when size changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11241/)

[2021-01-23 18:36] kibanamachine opened #89073 "Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/maps_integration·ts - saved objects tagging - functional tests maps integration creating "before each" hook for "allows to select tags for a new map""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11354/)

[2021-01-23 22:24] barlowm opened #89076 "(Accessibility) Lens - General violation of WCAG 2.1 - 1.4.13 Content on Hover or Focus"
This appears to be a global issue with all tooltips.
But it is also a new requirement per WCAG 2.1

![image](https://user-images.githubusercontent.com/2439008/105615457-d8e47980-5d9e-11eb-957d-92b6cd85dd8b.png)

Tooltip remains until mouse is moved away and hover is dismissed.
A mechanism is available to dismiss the additional content without moving pointer hover or keyboard focus
See [Technique](

[2021-01-23 22:24] elasticmachine commented on #89076
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-23 22:24] barlowm commented on #89076
@myasonik

[2021-01-23 22:35] barlowm opened #89077 "(Accessibility) - Lens page does not support reflow per WCAG 2.1 - 1.4.10"
Lens page at 100% zoom
![image](https://user-images.githubusercontent.com/2439008/105615736-d1be6b00-5da0-11eb-8b11-75d65a038c17.png)

Lens page at 400% zoom. Note no scroll available to see any other parts of the page.
![image](https://user-images.githubusercontent.com/2439008/105615748-ed297600-5da0-11eb-89e2-772239c1547c.png)

**Kibana Version:**
7.10

**OS:**
Windows 10

**Browser:**
Chrome

*

[2021-01-23 22:35] elasticmachine commented on #89077
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-23 22:57] barlowm opened #89078 "(Accessibility) Lens page - Label in Name is not proper per WCAG 2.1 criteria 2.5.3"
Input components on the Lens (and probably other) pages have a label which does not match the text for the name associated with the field for the aria-label

![image](https://user-images.githubusercontent.com/2439008/105616317-02ec6a80-5da4-11eb-9a98-257a3835a2c6.png)

**Kibana Version:**
7.10

**OS:**
Windows 10

**Browser:**
Chrome

**Screen reader:** [if relevant]
NVDA

**Relevant WCAG Criteria

[2021-01-23 22:57] elasticmachine commented on #89078
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-23 22:57] barlowm commented on #89078
@myasonik

[2021-01-24 02:14] kibanamachine commented on #80104
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/476/)

[2021-01-24 02:15] kibanamachine opened #89079 "Failing test: Jest Integration Tests.packages/kbn-plugin-helpers/src/integration_tests - builds a generated plugin into a viable archive"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/476/)

[2021-01-24 02:36] kibanamachine commented on #88639
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11362/)

[2021-01-24 05:33] alah64 opened #89080 "How to set my plugin icon in Kibana version 7.10 ?"
Hi

My implementation is working fine till kibana 7.6.0 release. I am facing issue while migrating plugin to kibana 7.10.0. and My plugin icon is not displayed:

plugin.tx
[code]
![image](https://user-images.githubusercontent.com/41846701/105622030-dcb9df80-5e22-11eb-9b63-44fc47b663d4.png)

[2021-01-24 07:22] kibanamachine commented on #88313
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11254/)

[2021-01-24 10:31] restrry commented on #57546
All queries already logged with `debug` level. Although we might consider lowering the failed request logs to the `debug` level as well.
the new client: https://github.com/elastic/kibana/blob/170a2956c84d46262a3ae310f89aee6f2580860a/src/core/server/elasticsearch/client/configure_client.ts#L73-L79
the legacy client:
https://github.com/elastic/kibana/blob/170a2956c84d46262a3ae310f89aee6f2580860a/src

[2021-01-24 10:52] kibanamachine commented on #86950
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11371/)

[2021-01-24 15:09] restrry commented on #57588
The problem was addressed in https://github.com/elastic/kibana/pull/88718 Although, Core internal cleanup is required.
https://github.com/elastic/kibana/pull/88718#discussion_r560822208
https://github.com/elastic/kibana/pull/88718#discussion_r560832127
https://github.com/elastic/kibana/pull/88718#discussion_r561749002

[2021-01-25 00:19] liza-mae opened #89081 "Setting for enhanced search send to background throws error definition for key is missing"
**Kibana version**: 8.0.0-SNAPSHOT, 7.12.0-SNAPSHOT

**Elasticsearch version**: 8.0.0-SNAPSHOT, 7.12.0-SNAPSHOT

**Server OS version**: Ubuntu

**Original install method (e.g. download page, yum, from source, etc.)**:
Snapshots

**Description of the problem including expected versus actual behavior**:
Getting a fatal error trying to set ```xpack.data_enhanced.search.sendToBackground.enabled: true`

[2021-01-25 00:20] elasticmachine commented on #89081
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 02:20] kibanamachine commented on #89079
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/477/)

[2021-01-25 04:07] spong commented on #88341
Yeah, this looks specific to the ML Jobs Settings UI, and so ML Rules as well. We just need to wrap our ML permissions call with a check to see if ML is even enabled. Adding to our backlog.

[2021-01-25 05:37] muskangulati-qasource commented on #88799
Hi @charlie-pichette,

Thank you for the information, we will keep track!

Thanks!

[2021-01-25 05:37] YulNaumenko opened #89082 "[Event Log] Add KQL queries support for Event Log API."
Event Log should support filtering on the existing API `_find` and `_find_by_ids`. User should be able to filter on the event fields like action, etc.

[2021-01-25 05:37] elasticmachine commented on #89082
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 05:37] muskangulati-qasource commented on #88952
Hi @ferullo,

Thank you for the information, we will keep track!

Thanks!

[2021-01-25 06:20] muskangulati-qasource opened #89083 "User should be prompted to save the unsaved changes done in policy"
**Describe the feature:**
User should be prompted to save the unsaved changes done in policy

**Describe a specific use case for the feature:**
User may forget to save the changes and expect the changes to affect the output. This may result in confusions.

**Screenshot**
![Policy](https://user-images.githubusercontent.com/60252716/105668489-693bcf00-5f03-11eb-9b34-69fe8ee09815.PNG)

Thanks!

[2021-01-25 06:20] muskangulati-qasource opened #89084 "[Security Solution] The unwanted icon shows up under the timeline template"
**Describe the bug**
The unwanted icon shows up under the timeline template

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Timeline templates should be loaded.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Timeline" tab under Security from the left navigation bar.
3. Go to the Templates tab and

[2021-01-25 06:21] muskangulati-qasource commented on #89084
@manishgupta-qasource please review!

[2021-01-25 06:21] muskangulati-qasource commented on #89084
@manishgupta-qasource please review!

[2021-01-25 06:22] muskangulati-qasource commented on #89083
@manishgupta-qasource please review!

[2021-01-25 07:05] manishgupta-qasource commented on #89083
Reviewed & Assigned to @kevinlog

[2021-01-25 07:05] manishgupta-qasource commented on #89084
Reviewed & Assigned to @MadameSheema

[2021-01-25 07:10] deepikakeshav-qasource commented on #88446
Hi  @michaelolo24

Thanks for the update.

We will validate this ticket once **7.11.0 BC5** come and will share the observations.

Thanks!!

[2021-01-25 07:31] andreausu opened #89085 "Visualize from saved search loads fields list from the wrong index (default)"
**Kibana version:** 7.9.1

**Elasticsearch version:** 7.9.1

**Server OS version:** kubernetes

**Browser version:** Chrome

**Browser OS version:** 87.0.4280.141

**Original install method (e.g. download page, yum, from source, etc.):** kubernetes

**Describe the bug:**
A visualization created from a search on a non default index doesn't let you filter on the same index as the one from the search

[2021-01-25 07:57] formgeist opened #89086 "[Datepicker] When opening the date picker popover, it will always show the focus state on the "previous time window" button action"
Kibana version: master
Browser: Chrome 87.0.4280.141

# Summary

It looks like when opening the date picker that the first button action is getting focus with tooltip. This can look a bit distracting every time it opens.

https://user-images.githubusercontent.com/4104278/105676617-11916980-5eeb-11eb-81ae-e8298b810107.mp4

@elastic/kibana-accessibility Is this something new with focus states on the

[2021-01-25 07:59] elasticmachine commented on #89086
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-25 08:00] ruflin commented on #88956
@ph Complement. There might be packages which we need to hardcode as disabling could break the setup.

[2021-01-25 08:18] karanbirsingh-qasource commented on #86882
Hi @EricDavisX

We have validated this on 7.11.0 BC4 production on-cloud and found that issue got fixed. Updating label count reflects correctly on upgrading agent .

**Build details:**
[code]

**Snapshots:**
![image](https://user-images.githubusercontent.com/59917825/105678996-d48d9d00-5f13-11eb-9c3e-05360e6a58b8.png)

thanks !!

[2021-01-25 08:36] Dosant commented on #89081
@liza-mae, this setting was renamed to
from `xpack.data_enhanced.search.sendToBackground.enabled` to `xpack.data_enhanced.search.sessions.enabled`
in https://github.com/elastic/kibana/pull/88023 following up on https://github.com/elastic/kibana/pull/87500.
Sorry for the inconvenience.

this rename and other work on this feature isn't backported to 7.11 because we plan to release it in 7.12.

[2021-01-25 08:36] arisonl commented on #80953
Thanks Mike, copied it to the second issue you provided.

[2021-01-25 08:36] arisonl commented on #81532
Known documentation:

Stack:
- [Index threshold](https://www.elastic.co/guide/en/kibana/master/alert-types.html)
- [Geo containment](https://github.com/elastic/kibana/issues/80749)

Observability:
- [Log threshold](https://www.elastic.co/guide/en/observability/master/logs-threshold-alert.html)
- [Infrastructure threshold](https://www.elastic.co/guide/en/observability/master/infrastructure-threshol

[2021-01-25 08:38] arisonl commented on #81532
Also, the event log: https://github.com/elastic/kibana/issues/89023

[2021-01-25 08:42] pgayvallet commented on #88944
Core is going to expose a custom ES client to allow interacting with system indices: https://github.com/elastic/kibana/issues/82716

That being said, when querying for SOs, if you can use the SO client instead of the 'raw' ES client, then you probably should.

Most significant exception being if you need to perform aggregations (well, until questions around https://github.com/elastic/kibana/pull/6

[2021-01-25 08:52] pgayvallet commented on #88988
We should probably find another name for that approach, as I though we were speaking about `dynamic: true` here.

For alerting specific case, is there anything async that needs to be done to construct these mappings? Because if it does, this is going to be an issue to implement synchronous lifecycles, as the dynamic mappings still need to be resolved at the end of the plugin's `setup` lifecycle.

[2021-01-25 08:56] arisonl commented on #89023
@pmuellr we know of customers who are looking to use it. One example use case that was brought up is to investigate and understand why an alert did not fire, while it was expected to. This investigation may end up looking into the event log down the path. They have also provided an example of the equivalent current tool they are using, here is a screenshot:

<img width="1015" alt="Screenshot 2021-

[2021-01-25 09:10] pgayvallet commented on #57546
This seems fine to me. TBH I always wondered why I needed to set both to get what I want when debugging.

Seems ok. These are not even uncatched errors, so the `error` level was probably overkill in the first place.

We are starting to reach a point in time where we should decide on precise guidelines about how to should choose master/7.x divergence (4) versus compromise (2) in such scenarios imho

[2021-01-25 09:21] shahargl commented on #33931
@FrankyBoy @cpmoore

Can you please attach a JSON example for a watch with a filter?
Just need it for my alerts but couldn't find a way to do it.

[2021-01-25 09:24] skh commented on #88475
The rollback tries to uninstall all files that are listed in the package. As some assets couldn't be installed in the first place (which triggered the rollback), we get `404` errors on those. I'll open a PR to fix that.

@ruflin I can't reproduce how you managed to install the package even with the incompatible dashboard. Did you do anything special? Was this through the UI or a direct API call?

[2021-01-25 09:25] pgayvallet commented on #82020
FYI,

- `Saved-object export custom logic` #84980
- `Saved-object import warnings` #84977

have been addressed recently.

Also `SavedObjects should support importing/exporting even if they're hidden from the API` #82027 is currently in progress. Once this one is done, type owners should theoretically be able to prepare their types for migration.

[2021-01-25 09:26] restrry commented on #57546
My concern with (4) is not divergence but lack of real-world testing before the `v8.0` release.

[2021-01-25 09:28] deepikakeshav-qasource opened #89090 "[Security Solution] Not able to scroll down the modal under the "ML job setting" on 100% resolution."
**Description**
Not able to scroll down the modal under the "ML job setting" on 100% resolution.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Auditbeat should be installed and running.

**Steps to Reproduce:**
1. Navigate to the Detections tab of security
2. Click on "ML job setting" link.
3. Observe that not able to scroll d

[2021-01-25 09:30] ghost opened #89091 "[Security Solution] Double "get" method is displaying for same request under the network tab."
**Description**
Double "get" method is displaying for same request under the network tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Auditbeat and packetbeat should be installed and running.

**Steps to Reproduce:**
1. Navigate to the Netwok tab of security
2. Click on Source IP of your machine.
3. Scroll down the page and

[2021-01-25 09:34] deepikakeshav-qasource commented on #89090
@manishgupta-qasource Please review

[2021-01-25 09:35] deepikakeshav-qasource commented on #89091
@manishgupta-qasource Please review

[2021-01-25 09:37] afharo opened #89093 "APM RUM JS instrumentation in Kibana"
So far, we've been working about the APM instrumentation on the server-side of Kibana #78869.

We should also explore how APM's RUM agent affects to Kibana's performance, and learn about its output: ideally, we'll learn from the data we'll collect ways to improve the user experience: page load times, most common user flows, ...

Challenges we need to cover:

- [ ] How to best test the performance

[2021-01-25 09:37] elasticmachine commented on #89093
Pinging @elastic/kibana-core (Team:Core)

[2021-01-25 09:40] MadameSheema commented on #89084
@XavierM can you please help to prioritise this? Thanks :)

[2021-01-25 09:42] afharo commented on #77057
Adding the bug label because it's inconsistent behaviour.

[2021-01-25 09:43] mtojek commented on #88475
Could you try with the UI the following approach - double-click on the submit button.

[2021-01-25 09:51] afharo commented on #76230
I think we can close this issue. #83546 already removed that dependency :)

@chrisonline, feel free to reopen if you feel otherwise.

[2021-01-25 09:51] #76230 closed

[2021-01-25 09:54] afharo commented on #34940
@chrisronline, with the latest split between Telemetry and Monitoring. Do you think this issue is still valid?

[2021-01-25 10:02] skh commented on #88475
I found it:

- when the package is installed with the "Install $PACKAGE assets" on the integration details page, the rollback works Just Fine.
- when the package is installed with the way more prominent "Add $PACKAGE" button, which installs the package and immediately adds it to a policy, the rollback doesn't work because the integration is already added to the policy. This means any broken packag

[2021-01-25 10:06] arisonl commented on #88957
@gmmorris thank you for putting this together, it is extremely helpful, it demonstrates that we already have the building blocks to provide this capability in some shape or form. Let's figure out with the team if there is a meaningful way to move forward, in terms of effort and impact on our planning. I think that we should aim to an OOTB experience, to the extent that this possible, based on your

[2021-01-25 10:08] dgieselaar opened #89096 "[APM] Remove value_count aggregations"
In https://github.com/elastic/apm-server/pull/4647, APM Server will start sending the _doc_count field to ES when indexing transaction metrics. After this has been merged, we can remove the value_count aggregations. Ideally we get a new ES archive first, update that, and then separately remove the value_count aggregations. It _should_ result in no changes to the archives then.

[2021-01-25 10:08] elasticmachine commented on #89096
Pinging @elastic/apm-ui (Team:apm)

[2021-01-25 10:13] manishgupta-qasource commented on #89090
Reviewed & Assigned to @MadameSheema

[2021-01-25 10:13] manishgupta-qasource commented on #89091
Reviewed & Assigned to @MadameSheema

[2021-01-25 10:15] efreeti opened #89097 "[Trusted Apps][Backend] Extend manifest data structure to support storing policy specific artifacts."
Current data structures used to store and propagate artifacts do not support identifying if artifact belongs to specific policy. After discussing this with Sean Cunningham the agreement was to extend manifest data structure to support storing indication to which policy artifact belongs.

Checklist:
 - [ ] Data structures should facilitate storing of indication to which policy artifact belongs.
 -

[2021-01-25 10:19] MadameSheema commented on #89090
@peluja1012 @spong can you please help to prioritise this? Thanks :)

[2021-01-25 10:22] cauemarcondes opened #89098 "[APM] Break down error table api removing the sparklines"
A pre-requisite to implement the time series comparison is to remove the sparklines from the transaction table API and calling a new API that returns it.

GET /api/apm/services/{serviceName}/error_groups

To dos:

[] Remove sparkline timeseries from API, the avg values must stay because it should be sortable on the table.
[] Remove pagination from API
[] Create a new API that returns the sparkline

[2021-01-25 10:22] elasticmachine commented on #89098
Pinging @elastic/apm-ui (Team:apm)

[2021-01-25 10:26] #80252 closed

[2021-01-25 10:28] #88567 closed

[2021-01-25 10:28] Dosant commented on #88568
closed by https://github.com/elastic/kibana/pull/88650

[2021-01-25 10:28] #88568 closed

[2021-01-25 10:29] elasticmachine commented on #89031
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 10:30] #88424 closed

[2021-01-25 10:32] kibanamachine opened #89103 "Failing test: Jest Tests.src/core/server/http - valid params"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11282/)

[2021-01-25 10:32] kibanamachine opened #89104 "Failing test: Jest Tests.src/core/server/http - invalid params"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11282/)

[2021-01-25 10:32] kibanamachine opened #89105 "Failing test: Jest Tests.src/core/server/http - BasePathProxyServer not inline validation - specifying validation handler"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11282/)

[2021-01-25 10:32] kibanamachine opened #89106 "Failing test: Jest Tests.src/core/server/http - BasePathProxyServer not inline handler - KibanaRequest"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11282/)

[2021-01-25 10:32] kibanamachine opened #89107 "Failing test: Jest Tests.src/core/server/http - Cookie based SessionStorage #options #SameSite sets and parses SameSite = None correctly"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11282/)

[2021-01-25 10:33] kibanamachine opened #89108 "Failing test: Jest Tests.src/core/server/http - timeouts closes sockets on timeout"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11282/)

[2021-01-25 10:46] elasticmachine commented on #52734
Pinging @elastic/kibana-core (Team:Core)

[2021-01-25 10:55] afharo opened #89110 "[Telemetry] Ability to merge data from multiple collectors"
As part of the TimeToVisualize project, #86396 requires Telemetry to be able to merge the data that comes from multiple collectors under the same key. This is to allow any stored _by value_ items to be reported as if they were actual SavedObjects.

[2021-01-25 10:57] afharo commented on #89110
cc @ppisljar and @crob611

[2021-01-25 10:57] elasticmachine commented on #89110
Pinging @elastic/kibana-core (Team:Core)

[2021-01-25 11:01] kuisathaverat opened #89111 "[Ingest Management] 'Cannot read property 'map' of undefined' error accessing to fleet"
**Kibana version:**
8.0.0-SNAPSHOT

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
K8s pods

**Browser version:**
Chrome 87

**Browser OS version:**
macOS 10.15

**Original install method (e.g. download page, yum, from source, etc.):**
K8s pods

**Describe the bug:**

After an update from SNAPSHOT versions, when I Access to fleet, I see the following error.

[code]

**Steps to r

[2021-01-25 11:01] elasticmachine commented on #89111
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-25 11:12] #84924 closed

[2021-01-25 11:25] dikshachauhan-qasource opened #89113 "[Ingest Manager]: Able to trigger upgrade action on deb agent through Bulk option."
**Kibana version:**
7.12 snapshot Kibana Cloud environment

Elasticsearch version:
7.12 snapshot Kibana Cloud environment

**Host OS and Browser version:**
Deb 9, All

Original install method (e.g. download page, yum, from source, etc.):
7.12 snapshot Kibana Cloud environment

[Ingest Manager]: Able to trigger upgrade action on deb agent through Bulk option.

**Preconditions**
1.  7.12 snapshot Cl

[2021-01-25 11:25] elasticmachine commented on #89113
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-25 11:26] dikshachauhan-qasource commented on #89113
@manishgupta-qasource Please review

[2021-01-25 11:27] rschirin opened #89114 "Kibana Fields description"
**Describe the feature:** Get a field's description moving the mouse over the field's name in the Discover tab

**Describe a specific use case for the feature:**
Sometimes, the field's name is not very comprehensible, especially if you don't use that visualization or generally an index every day.
For instance, if I have a field like the following one:

_ORB_

could be interesting to move the curso

[2021-01-25 11:33] #88216 closed

[2021-01-25 11:35] sqren opened #89116 "Idea: Immutable alerts"
Urgency: low-medium
Category: enhancement

Currently alerts are mutable in the sense that an alert can be edited without the alert id changing.
This is problematic for a couple of reasons:

**Changeable alert params**
In APM we want to annotate a chart to indicate when and why an alert executed. We use the executor timestamp (I think that's what it's called) from alert instances to determine _when

[2021-01-25 11:35] elasticmachine commented on #89116
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 11:39] arisonl opened #89120 "Kibana alerting scalability guidance"
A very frequent ask in customer meetings as well as in discussions with consulting is to provide guidance on how to scale Kibana alerting. The most common question is some flavour of:

- "How many Kibana instances are needed to run X alerts per minute?"

Clearly there are many factors involved in order to be able to answer this question precisely, factors that we cannot be aware of per each partic

[2021-01-25 11:39] elasticmachine commented on #89120
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 11:39] kertal commented on #88692
Thx reporting this, so far I couldn't reproduce, running on a Mac, will somebody ask to try it out with a windows machine

[2021-01-25 11:52] peteharverson commented on #87852
Discussed with @jgowdyelastic and propose we add a new endpoint / shared function , taking a list of job IDs, to check if a job(s) is in a `starting` state awaiting ML node provisioning

[code]

and then create a new callout to display a warning message about awaiting ML node provisioning. Potentially this callout could be a sharable components for re-use by solutions (see related issue #88208).

[2021-01-25 11:57] arisonl opened #89121 "Kibana alerting API documentation"
This has been discussed in the past as a GA item (https://github.com/elastic/kibana/blob/7.10/x-pack/plugins/alerts/README.md#restful-api)

[2021-01-25 11:57] elasticmachine commented on #89121
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 11:58] manishgupta-qasource commented on #89113
Reviewed & Assigned to @EricDavisX

[2021-01-25 11:59] jgowdyelastic commented on #87852
this will need to be polled, as we should stop showing the callout once all starting jobs have started

[2021-01-25 12:02] elasticmachine commented on #89116
Pinging @elastic/apm-ui (Team:apm)

[2021-01-25 12:02] stratoula opened #89122 "New API for fetching Index patterns from string"
**Describe the feature:**
We want to fetch the index pattern if exists, by giving a string. If the index pattern doesn't exist, the API is going to create it.

**Describe a specific use case for the feature:**
We want to use it on TSVB that actually works with strings. This is going to introduce some changes on the way that we retrieve fields but it will help us in supporting runtime fields better

[2021-01-25 12:02] elasticmachine commented on #89122
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 12:02] elasticmachine commented on #89122
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 12:03] FrankyBoy commented on #33931
Sorry switched companies since then and not working with Kibana any more.

[2021-01-25 12:14] peteharverson commented on #88208
Note that the plan (see #87852) is to add a new endpoint / shared function to ML with a check to see if a job(s) is in a starting state awaiting ML node provisioning, and potentially a sharable callout component, which can then be used by solutions to message when jobs are opening awaiting ML node provisioning.

The check should be added to:

 - APM
 - Security
 - Logs
 - Uptime
- Metrics UI

[2021-01-25 12:22] flash1293 commented on #77167
@mbondyra Is this still a problem with the debounced inputs?

[2021-01-25 12:23] flash1293 commented on #77898
@mbondyra Reconsidering my stance from last September - is there something we can do right now? If there's not specific plan I would like to close this issue until we come up with concrete steps.

[2021-01-25 12:26] globuslab commented on #88692
Hello, @kertal
On MAC I is reproduce too (in Chrome and Safari)
![Screenshot 2021-01-25 at 15 11 50](https://user-images.githubusercontent.com/52833967/105705433-428c9100-5f21-11eb-8bc3-b94b379f16a2.png)

[2021-01-25 12:26] mikecote commented on #89121
Closing in favour of https://github.com/elastic/kibana/issues/49705.

[2021-01-25 12:26] #89121 closed

[2021-01-25 12:26] stratoula commented on #89122
We need to discuss how the create index pattern on the fly functionality is going to work on TSVB. It may be necessary to make some UI changes.

[2021-01-25 12:33] kibanamachine opened #89124 "Failing test: Jest Tests.src/dev/build/lib - logs using level: option"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11284/)

[2021-01-25 12:47] #82496 closed

[2021-01-25 12:52] Phandora opened #89128 "Cannot create Index Patterns of remote clusters - Kibana 7.10.0"
**Kibana version:**
7.10.0

**Elasticsearch version:**
7.10.0

**Server OS version:**
CentOS Linux 7 (Core)

**Browser version:**
Google Chrome 87.0.4280.141 (Build oficial) (64 bits)

**Original install method (e.g. download page, yum, from source, etc.):**
Docker images

**Describe the bug:**

When trying to **create the index pattern of a remote cluster** we got the error `No matching indices f

[2021-01-25 12:52] aktaseren opened #89129 "“kibana” cannot be opened because it is from an unidentified developer."
Following its installation, I am trying to use Kibana on my MacOS Big Sur by running the line below:

In elasticsearch folder:

`bin % ./kibana`

However, I am getting the error below.

`“kibana” cannot be opened because it is from an unidentified developer.`

I also updated my Security&Privacy settings for it. However, it did not work. Do you have any suggestion for that on how to solve it?

[2021-01-25 12:57] Dosant commented on #88935
Just copying for reference:
In test clean up when removing sample data, there was an error due to nothing on a page
![image](https://user-images.githubusercontent.com/7784120/105708804-37cbff00-5f15-11eb-8bc4-f10c3cd292ed.png)

[2021-01-25 13:02] Dosant commented on #88935
There is an error just before the failure:
[code]

Apparently related:
https://github.com/elastic/kibana/issues/43963#issuecomment-701334967
https://github.com/elastic/kibana/issues/79082

[2021-01-25 13:12] Dosant commented on #88313
Apparently same as https://github.com/elastic/kibana/issues/43963

Map embeddable doesn't complete rendering due to:

[code]

Related:
https://github.com/elastic/kibana/issues/43963#issuecomment-688402807
https://github.com/elastic/kibana/issues/79082

[2021-01-25 13:16] #88583 closed

[2021-01-25 13:17] flash1293 opened #89133 "[Lens] Allow edit mode outside of editor"
Right now a Lens visualization is rendered in "edit" mode in the editor and in "display" mode outside of the editor. State updates that reload the expression are not possible outside of dispatching filter events which are handled by the data plugin.

In order to allow changing properties of a visualization on a dashboard without persisting them, the embeddable should handle `edit` actions in the s

[2021-01-25 13:17] elasticmachine commented on #89133
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 13:19] aktaseren commented on #89129
The reflection of what I updated on the settings is activated just now. The issue is solved.

[2021-01-25 13:19] #89129 closed

[2021-01-25 13:27] EricDavisX commented on #89113
We know of the situation, confirmed.

@ph fyi. It is arguably a bug, but the current design had not yet intended to account for this.  we could solve it, tho maybe time consuming and we have to weigh the value proposition.

[2021-01-25 13:34] elasticmachine commented on #89069
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 13:37] legrego opened #89136 "Improve session termination for anonymous users"
Currently, anonymous users are given the option to "Log in" from the main user menu. This effectively performs a logout, and redirects the user to the login screen.

While this is an effective way to end your session, it's not very intuitive. An anonymous user might wish to sign out with no intention of switching to a non-anonymous account.

I think this can be solved by changing the label of the

[2021-01-25 13:37] elasticmachine commented on #89136
Pinging @elastic/kibana-security (Team:Security)

[2021-01-25 13:37] mistic commented on #88639
Test keeps failing and seems flaky. Skipping for now.

master/8.0: 50d8c69
7.x/7.12: 3232068

[2021-01-25 13:38] kibanamachine commented on #89069
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11397/)

[2021-01-25 13:38] elasticmachine commented on #89072
Pinging @elastic/uptime (Team:uptime)

[2021-01-25 13:39] elasticmachine commented on #89073
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-25 13:41] elasticmachine commented on #89079
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-25 13:44] elasticmachine commented on #89124
Pinging @elastic/kibana-operations (Team:Operations)

[2021-01-25 13:45] elasticmachine commented on #89103
Pinging @elastic/kibana-core (Team:Core)

[2021-01-25 13:50] mistic commented on #89069
The test as been failing and looks flaky. Skipping for now.

master/8.0: a5bb864
7.x/7.12: cf9d44a

[2021-01-25 13:50] elasticmachine commented on #89114
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 13:51] elasticmachine commented on #88668
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 13:51] #18107 closed

[2021-01-25 13:51] #27138 closed

[2021-01-25 13:52] flash1293 commented on #89064
Check the mapping of your index - if they are showing up as unknown, then they are not part of the mapping. This kind of questions is better suited for the Kibana forum: https://discuss.elastic.co/c/elastic-stack/kibana/7

[2021-01-25 13:52] #89064 closed

[2021-01-25 13:52] bmcconaghy commented on #88369
Sounds good to me so long as the change is small and simple.  I do think the long term solution to this is some form of Kibana clustering/coordination.

[2021-01-25 13:52] elasticmachine commented on #89080
Pinging @elastic/kibana-core (Team:Core)

[2021-01-25 13:54] kertal commented on #89114
@rschirin thx for this input, I think it would be useable, we recently implemented a way to customize field names in Kibana via Index Management

https://github.com/elastic/kibana/pull/70039

It would be a possible enhancement to also allow a custom description (FYI: @mattkime, WDYT?)

[2021-01-25 13:54] katrin-freihofner commented on #80167
I spoke to @drewpost about letting users combine text search and filters. We think we should enable users to do so. I just want to make sure we are all on the same page about this?
@shahzad31 @paulb-elastic

[2021-01-25 13:55] formgeist opened #89140 "[APM] Bug: Missing chart legend for Error rate"
Kibana version: 7.11

# Summary

We're not displaying a chart legend for the Error rate chart on the Service overview and Transactions overview pages.

<img width="501" alt="Screenshot 2021-01-25 at 14 53 08" src="https://user-images.githubusercontent.com/4104278/105714990-559d6200-5f1d-11eb-8b32-5137a2684a95.png">

<img width="1425" alt="Screenshot 2021-01-25 at 14 55 00" src="https://user-images

[2021-01-25 13:55] elasticmachine commented on #89140
Pinging @elastic/apm-ui (Team:apm)

[2021-01-25 13:56] shahzad31 commented on #80167
As far i can understand, it will be an AND operation, i mean between filters and text search.

[2021-01-25 13:56] #88223 closed

[2021-01-25 13:57] flash1293 opened #89141 "[Lens] Errors in hidden dimensions not shown correctly"
**Kibana version:** 7.12

**Describe the bug:** Errors in "hidden" dimensions (e.g. the sum inside a cumulative sum) are not shown correctly in the UI

**Steps to reproduce:**
1. Create index with a numeric field and timestamp
2. Create Lens vis with cumulative sum of that field
3. Change mapping of the index and turn field into type string
4. Open Lens visualization
5. Cumulative sum dimension is

[2021-01-25 13:57] elasticmachine commented on #89141
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 14:09] kertal commented on #87709
Failure screenshot, might be a problem with the time picker still displayed:

![image](https://user-images.githubusercontent.com/463851/105716572-52a37100-5f1f-11eb-8e4a-772d7e54d1da.png)

[2021-01-25 14:13] cdalexndr opened #89146 "[KQL] Filter non empty field"
**Describe the feature:**
I want to filter documents where the field has non-empty value.
Currently only [exists](https://www.elastic.co/guide/en/kibana/current/kuery-query.html#_exist_queries) queries are possible where a field can have empty value.

**Describe a specific use case for the feature:**
I'm using metricbeat `postgresql` module with [activity](https://www.elastic.co/guide/en/beats/met

[2021-01-25 14:22] pgayvallet commented on #89080
I think we are not bundling/including any assets where packaging 3rd party plugins.

@spalger what loader are we using exactly for images? is it the file loader?

Would that work?

[code]

[2021-01-25 14:24] gmmorris commented on #88369
Yeah, absolutely, the goal here is to make sure the existing mechanism reduces unnecessary noise, but the long term solution is definitely going to require some form of coordination between nodes.

[2021-01-25 14:25] afharo commented on #52734
Open question: should we report from `core` all the enabled & disabled plugins? As in array of `{ plugin_name: "myPlugin", enabled: true/false }`?

If we do so should we report it when the plugin is explicitly disabled (config: `myPlugin.enabled: false`), or should we report the disabled one because one of its dependencies is disabled?

[2021-01-25 14:29] #88395 closed

[2021-01-25 14:32] azasypkin commented on #89136
Yeah, my only concern was that people using anonymous access might not realize they have some sort of session. But in the future we'll surely have more info associated with these anonymous sessions (session-long preferences, Console history or whatever) making anonymous sessions more obvious, so yeah it should be fine to make this explicit now.

We can also split this button in two separate ones -

[2021-01-25 14:33] ppisljar commented on #89122
indexPatterns.find should work for finding existing index pattern and indexPatterns.create should work for creating new index pattern. In case you want to persist it indexPatterns.save does the job.

[2021-01-25 14:33] #89122 closed

[2021-01-25 14:33] kertal commented on #88692
@globuslab thx, could reproduce it, could reproduce it in 7.10.x, doesn't appear to happen in master, will continue checking in our staging, might be a problem with the built

[2021-01-25 14:35] elasticmachine commented on #51711
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 14:36] #86315 closed

[2021-01-25 14:37] sqren commented on #89096
Sounds good. 7.12 or 7.13?

[2021-01-25 14:42] arisonl opened #89152 "[Discuss] Alert only after the metrics threshold is met X times - Customer request"
As part of [alert flapping mitigation](https://github.com/elastic/kibana/issues/49412), customers have requested the following feature: Alert only after a metrics threshold is met X times (the request is made in the context of observability metrics alerting).

Let's use this issue to determine across the observability and the alerting services team what is the best path for this feature. Is it a m

[2021-01-25 14:46] legrego commented on #89136
I agree, this is a complicated situation. The fact that they don't know a session exists though is itself a security concern for me. We're taking steps to provide [sensible defaults for session expirations](https://github.com/elastic/kibana/issues/68885), but I think it's also helpful to try to educate our users that sessions exist. That way they can make a conscious decision to end their session

[2021-01-25 14:47] pgayvallet commented on #52734
I think we discussed about it when implementing the initial core collection. If I remember correctly, that was excluded from the initial feature but was something we wanted to do. Maybe @restrry remembers?

I guess the relevant information here would be plugins that have been manually disabled? maybe we should do something similar to the status API to collect the cause of the plugin's status?

[2021-01-25 14:47] stratoula commented on #89122
Thank you Peter

[2021-01-25 14:49] ferullo commented on #88952
@jmikell821 can you link me to the current documentation?

[2021-01-25 14:50] azasypkin commented on #89136
Yep, definitely agree! Cyber hygiene is something that we should promote all the time.

[2021-01-25 14:57] mtojek opened #89155 "[Fleet] can't edit integration (Cannot read property 'map' of null)"
Hi Team,

I managed to assign the following policy to the agent using API:

[code]

Elastic-Agent picks it up and processes correctly. The problem begins when I try to edit it with Kibana:

[code]

[2021-01-25 14:58] mostlyjason commented on #76843
I added a new requirement "No agents can be added to this policy from Fleet"

[2021-01-25 15:05] pmuellr commented on #89023
So the customer built an event log viewer? :-) \o/

Seems like the current README contents are developer-oriented, so would go in the same kind of docs where we document the alertsClient and actionsClient (TS APIs).

Then a new section describing, which would be more in the place where HTTP APIs are documented, describing the index structure + ILM, the fields in the documents, and the specific `ev

[2021-01-25 15:05] myasonik commented on #88762
Had it happen again on a fresh branch from master and did some more digging.

It only effects keyboard use and it happens to more than Lens: any result that has a matching `type:xxx` result as well (e.g., "dashboard") will behave the same way.

Lens example:
https://user-images.githubusercontent.com/4188087/105722663-85cc0d00-5eeb-11eb-9066-4cd18e73dc4e.mp4

Dashboard example:
https://user-images.

[2021-01-25 15:05] elasticmachine commented on #88762
Pinging @elastic/kibana-core (Team:Core)

[2021-01-25 15:20] dominiqueclarke opened #89157 "[Uptime] Accessibility Enhancement for Filters"
Currently, when using filters in the filter bar, the screen reader will read out "Filter by (xyz)" even when the filter is already selected. When a filter is already selected, clicking the button again results in removing the filter. Therefore in order to provide a better experience for screen reader users, we should adjust the accessible text to read "Remove filter by (xyz)" when the filter is cu

[2021-01-25 15:21] elasticmachine commented on #89157
Pinging @elastic/uptime (Team:uptime)

[2021-01-25 15:26] nreese opened #89158 "[Drilldowns] Provide feedback for invalid URL"
**Problem**
"Go to URL" drilldown does not provide any feedback for users when an invalid URL is used. Users are left wondering why their drilldown action can not be triggered.

Steps to view problem.
1) Create lens data table visualization and add to dashboard.
2) Add a "Go to URL" drilldown to the panel.
    * Set the action to "Single click" action
    * Set the URL to "https://www.google.com?{

[2021-01-25 15:26] elasticmachine commented on #89158
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 15:29] pmuellr commented on #89116
Soft-delete of alerts seems like it could make sense, especially since we make use of alerts RBAC to gate what event documents you can see - you can't see ANY events from deleted alerts at present.  Not sure what other ramifications we'd have from this, beyond having to add a `deleted: false` on all our queries to filter them out for all the usual calls.

Making them immutable, so that params chan

[2021-01-25 15:30] justinkambic commented on #89157
This is a really good a11y enhancement. Currently, the only indication the user will get if an item is selected is whether the icon has changed to `check`.

[2021-01-25 15:31] arisonl opened #89161 "[Discuss] Ability to interact with the alert query result - User requests"
Internal and external customers have asked for the ability to:

- interact with alert queries
- transform the results of the queries (e.g. with painless)
- log query results

This is frequently discussed in the context of the [search query](https://github.com/elastic/kibana/issues/61313). Example use cases:
- Transform query results in order to populate action parameters as they need. I am linking

[2021-01-25 15:31] elasticmachine commented on #89161
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 15:35] ryankeairns commented on #88762
Yeah, that's not good. Can we append it to the bottom of the list instead? This feels rather urgent to me so perhaps we should also consider disabling this feature if time does not permit an alternative solution.

[2021-01-25 15:35] elastic-jb commented on #89158
@streamich this is something we can address in the clone validation work? We talked about this last week indirectly. I think the warning triangles that Michael mocked up will make it much easier to see which ones aren't valid and help a user fix the issue.

@nreese there is a bit of a competing problem here. We know, especially with the ability to clone from one panel to another, you would be crea

[2021-01-25 15:37] mikecote commented on #88988
No, everything can be done synchronously in the setup stage in some way. Once all the plugin setup functions have been called, the alerting plugin would call the saved objects plugin to replace the mappings.

If you mean `startup` as `setup`? The answer is yes. Alert types can only register during our plugin's setup stage.

I was thinking of solving this by returning a `replace` function in the `s

[2021-01-25 15:38] alexwizp commented on #82438
From my perspective, before we start implementing support of `Runtime Fields` we should refactor `TSVB` to fully use `Kibana Index Patterns`  instead of `ES indexes`. I offer the following UI changes:

1) `EuiFieldText` should be changed to `EuiComboBox` (single mode view, create custom options should be disabled)
![image](https://user-images.githubusercontent.com/20072247/105725380-f1d56200-5f39-

[2021-01-25 15:41] gmmorris opened #89162 "Alert Type implementors can't prevent Creation of their alert types in Alerts Management, without also preventing Editing"
@elastic/stack-monitoring have prevented the Creation and Editing of their Alert Types in Alerts Management, but they would actually like to allow Editing - it's only creation that they actually want to block.

It would be nice to allow editing of their alerts in Alerts Management, especially considering we do list these alerts and display their details.

[2021-01-25 15:41] elasticmachine commented on #89162
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 15:42] pmuellr commented on #89152
We've discussed this in the past as a parallel of throttling.  A "debounce" setting would indicate how long to allow the alert to be "active" before scheduling actions - it's a way of limiting actions being run at the "start" of an alert, where "throttling" is a way of limiting actions being run "during" an alert.

Currently throttling is time-based, which can be a little clunky given the other in

[2021-01-25 15:44] mikecote commented on #89162
Note that stack monitoring alerts may eventually move to [pre-configured alerts](https://github.com/elastic/kibana/issues/59813) which would solve the issue for them (prevent creation & have singleton alerts).

[2021-01-25 15:46] pmuellr commented on #89161
The "log query" aspects of this seem like something we should split off to a separate issue.  Get some "trace ids" in our requests, probably add them to the event log, and make it as easy as possible for alert type implementations to log their "queries" to the Kibana log.  I'm not sure what the audit log is capturing for "queries" done by alert type implementations today, but if there's anything w

[2021-01-25 15:49] streamich commented on #89158
@elastic-jb we currently don't have URL template validation as there is no good way to validate event-level variables like `{{event.*}}`, so using the current validation approach in the list view, same as the drilldown view, will not show this error.

For this specific error, what we could do is parse the Handlebars template into an AST, then detect that `event.key` variable is used (which is inva

[2021-01-25 15:54] gmmorris commented on #89162
Yup, now that @chrisronline ran through their rationale with me, it makes sense.

[2021-01-25 15:55] arisonl opened #89166 "UX: Resolving PD/SN issues on alert recovery - Customer feedback"
Context: the new feature of resolving issues on PagerDuty:

Customers would like to be able to set this behaviour as the default one, without having to create a separate action group "run when".

- Can we allow users to set this up as a default?
- Can we make this an option next to "run-when: threshold met", rather than having to create a separate action group?
- Do we need the summary field to be

[2021-01-25 15:55] elasticmachine commented on #89166
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-01-25 15:56] #82573 closed

[2021-01-25 15:59] fearful-symmetry commented on #88584
Fix has been merged, closing.

[2021-01-25 15:59] #88584 closed

[2021-01-25 16:05] #88974 closed

[2021-01-25 16:07] mikecote commented on #85640
Last week, the team discussed the new approach for UI/UX, which is to work on a proposal and then get input from the design team. I think we can try this new approach here and come up with a design. I will remove the `blocked` label.

[2021-01-25 16:08] mostlyjason commented on #76843
@ph can you confirm that you agree with the initial scope "we aren't making any changes to the UI. We are just showing error messages returned from the API using our current error reporting UI. "

[2021-01-25 16:15] elastic-jb commented on #89158
@streamich that would catch cases where the variables don't match the trigger type, that's about it, is that correct? Could we detect malformed variables? Say if I did "event.values[0]" instead of "event.values.[0]"

[2021-01-25 16:20] #86170 closed

[2021-01-25 16:22] pgayvallet commented on #88762
I tried to reproduce locally, without success. May this be browser dependent, or is there any condition to cause the issue?

https://user-images.githubusercontent.com/1532934/105733311-b5056d00-5f31-11eb-8c70-c4ca49824681.mp4

[2021-01-25 16:23] nreese commented on #89158
If the validation at save is too hard or inconsistent with the validation at use, then lets just go the route of displaying the disabled action with a tooltip message. I think its important if there is any inconsistency between the logic that users will always get a visual notification at usage time as to why its not working.

[2021-01-25 16:28] marrasherrier opened #89176 "UX Debt: Exceptions in a flyout"
This ticket is for moving the rule exception workflow from a modal to a flyout.

Currently:
<img width="1551" alt="Screen Shot 2021-01-25 at 11 28 18 AM" src="https://user-images.githubusercontent.com/45169477/105734296-7acfa780-5f00-11eb-9b95-81ae1c7f9035.png">

[Figma
](https://www.figma.com/file/klYffrlrhxRVxKA5EkO3gL/7.12-Detection-and-Response?node-id=231%3A3)

EUI states that a modal should

[2021-01-25 16:35] pheyos commented on #88990
Added an item for ML / Transform to the list:
 - @elastic/ml-ui (functional test cleanup in service methods for [ML](https://github.com/elastic/kibana/blob/master/x-pack/test/functional/services/ml/api.ts#L166) and [Transform](https://github.com/elastic/kibana/blob/master/x-pack/test/functional/services/transform/api.ts#L105))

[2021-01-25 16:38] liza-mae commented on #89081
Thanks @Dosant - I renamed the setting in 8.0 and 7.12.

[2021-01-25 16:39] #89081 closed

[2021-01-25 16:50] spong commented on #89090
Adding to our longterm board --perhaps this can be bundled with some of the other pending `ML Job Settings` changes like showing remaining ml_node(s)/resources.

[2021-01-25 16:53] alvarezmelissa87 commented on #88248
@sophiec20 - would be great to get your thoughts on this when you get a chance 🙏

[2021-01-25 17:00] jasonrhodes commented on #82313
Summary of our discussion in the Monday zoom sync:

We should use the max of the values and not the max of the "max" values from the overall time range. The latter is interesting but only if you understand what it represents, and since it could often be higher than the actual max value shown in the inventory grid, it's confusing. **So we'll just use the max value of the values in the current grid

[2021-01-25 17:05] mistic opened #89180 "Failing ES Promotion: x-pack/test/functional/apps/cross_cluster_replication/feature_controls/ccr_security·ts.Cross Cluster Replication app feature controls security global dashboard all with ccr_user should render the "Data" section with CCR"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2137/testReport/Chrome%20X-Pack%20UI%20Functional%20Tests/x-pack_test_functional_apps_cross_cluster_replication_feature_controls_ccr_security%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___Cross_Cluster_Replication_app_feature_controls_security_gl

[2021-01-25 17:05] elasticmachine commented on #89180
Pinging @elastic/kibana-security (Team:Security)

[2021-01-25 17:08] mistic commented on #89180
Skipping:

master/8.0: 592d79c

[2021-01-25 17:09] spalger commented on #89080
We use the url-loader, so that will produce a base64 encoded url in the bundle if the file is less than 8kb, or a URL to the asset if it's larger.

[2021-01-25 17:11] mistic opened #89181 "Failing ES Promotion: x-pack/test/functional/apps/remote_clusters/feature_controls/remote_clusters_security·ts.Remote Clusters app feature controls security global dashboard all with license_management_user should render the "Data" section with Remote Clusters"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2137/testReport/junit/Chrome%20X-Pack%20UI%20Functional%20Tests/x-pack_test_functional_apps_remote_clusters_feature_controls_remote_clusters_security%C2%B7ts/Kibana_Pipeline___kibana_xpack_agent___Remote_Clusters_app_feature_controls_security_glob

[2021-01-25 17:11] elasticmachine commented on #89181
Pinging @elastic/kibana-security (Team:Security)

[2021-01-25 17:12] mistic commented on #89181
Skipped:

master/8.0: 342f9fb

[2021-01-25 17:18] jmwrobel85 commented on #36630
ANy news here? We have the same problem. Is there any workaround? For example we only use terms as filter don't need at all  match_phrase. Because of this issue our current dasboards doesnt work with rollup indexes at all. I was thinking even about some plugin that will be chaning query before use filter. We can change filter manually by editing dsl, but what with dynamic control inputs ... ? We a

[2021-01-25 17:21] sqren commented on #89116
Okay, if that's the case there is no reason to make alerts immutable. It only seemed like the most straight-forward to me solution to me because I wasn't thinking about backwards-compatability.

[2021-01-25 17:35] alah64 commented on #89080
test result:
![image](https://user-images.githubusercontent.com/41846701/105742616-fd805300-5f50-11eb-87d5-14d6a5107177.png)

[2021-01-25 17:44] spalger commented on #89080
So, we do support a `public/assets` directory, which should be served from `/plugins/${pluginName}/assets/{path*}`. We might have a bug in the way we handle base64 encoded image urls in our icon loading logic, but if you put files in this directory you can probably create a URL manually.

[2021-01-25 17:46] chrisronline commented on #34940
Yes, this is all set. Thanks @afharo!

[2021-01-25 17:46] #34940 closed

[2021-01-25 17:54] cuff-links commented on #86521
This test is no longer failing. Closing this issue and will reopen if the test starts to fail again.

[2021-01-25 17:54] #86521 closed

[2021-01-25 18:07] tylersmalley commented on #89029
Good catch, I can take a look.

[2021-01-25 18:26] simianhacker commented on #89024
@estermv and I debugged this issue and discovered that TSVB changed the response for `gauge` type requests to only return 1 series instead of the multiple series requested. If we change all the `type` attributes on the TSVB inventory models from `gauge` to `top_n` it works as expected. We also discussed adding an integration test under `x-pack/test/api_integration/metrics_ui/metrics.ts` for `hostS

[2021-01-25 18:28] elasticmachine commented on #89155
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-25 18:38] kibanamachine opened #89189 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_create_index_pattern_wizard·js - management "Create Index Pattern" wizard step 1 next button is enabled once an index pattern with matching indices has been entered"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine commented on #45465
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89190 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_index_pattern_popularity·js - management index result popularity "after each" hook for "can be saved""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89191 "Failing test: Jest Integration Tests.src/core/server/ui_settings/integration_tests - ui settings service routes set validates value"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89192 "Failing test: Jest Integration Tests.src/core/server/ui_settings/integration_tests - ui settings service routes set many validates value"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine commented on #64561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine commented on #64562
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89193 "Failing test: Jest Tests.src/setup_node_env - NodeVersionValidator should run the script WITH error"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89194 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download returns 404 if job not found"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89195 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download when a job is incomplete"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89196 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download when a job fails"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89197 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download successful downloads when a known job-type is complete"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89198 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download successful downloads succeeds when security is not there or disabled"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89199 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download successful downloads doesn't encode output-content for non-specified job-types"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89200 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser returns logs when browser crashes + helpful links"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:38] kibanamachine opened #89201 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser logs a message when the browser starts, but then has problems later"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11402/)

[2021-01-25 18:42] jen-huang commented on #89113
FYI this will _not_ actually trigger upgrade on non-upgradeable agents on the server side: https://github.com/elastic/kibana/pull/80391

This is purely a UI issue.

[2021-01-25 18:47] mostlyjason commented on #84056
It might be helpful to show it, but it doesn't sound like a bug or a high priority issue. We have two votes for won't fix so lets just close it. Reopen if you disagree.

[2021-01-25 18:47] #84056 closed

[2021-01-25 18:51] myasonik commented on #88762
Well, after a lot of digging, this seems to somehow be related to my external keyboard.

Summary of findings:
- Affects all browsers
- Affects all components built on top of EuiSelectable (and reproducible in hosted and local Kibana, and hosted and local EUI)
- Only happens when using my external keyboard ([Redox Wireless](https://falba.tech/19644-2/?v=7516fd43adaa)) though any way I measure it, t

[2021-01-25 18:51] #88762 closed

[2021-01-25 19:03] kibanamachine commented on #87098
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/225/)

[2021-01-25 19:06] spong opened #89205 "[Security Solution] Top N hover action for IP shows error or garbled data"
Kibana Version: 7.11 BC4

When using the Top N hover action with IP's, sometimes garbled data is displayed. Exact steps to reproduce undetermined, but searching across multiple indices with both IPv4/IPv6 seem to reproduce this more reliably.

<p align="center">
  <img width="700" src="https://user-images.githubusercontent.com/2946766/105751402-31348c00-5f03-11eb-8743-056d06cb2a11.gif" />
</p>

In

[2021-01-25 19:06] elasticmachine commented on #89205
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-01-25 19:06] elasticmachine commented on #89205
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-01-25 19:15] myasonik commented on #75200
Closed in https://github.com/elastic/kibana/pull/82105

[2021-01-25 19:15] #75200 closed

[2021-01-25 19:19] alah64 commented on #89080
this way worked for me :

[code]

thanks

[2021-01-25 19:23] bhavyarm opened #89208 "If you navigate to create maps from iFrame - top nav becomes invisible and you get locked in maps app"
**Kibana version:** 7.11.0 BC4

**Elasticsearch version:** 7.11.0 BC4

**Server OS version:** darwin_x86_64

**Browser version:** chrome

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user clicks on create panel on iFrames and navigates to maps app - they can get locked in there because there is top na

[2021-01-25 19:23] elasticmachine commented on #89208
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-25 19:25] elasticmachine commented on #89208
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 19:27] elasticmachine commented on #89181
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-25 19:27] elasticmachine commented on #89180
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-01-25 19:28] #88749 closed

[2021-01-25 19:31] mikecote commented on #87098
Backport missing for 7.11

[2021-01-25 19:48] #78248 closed

[2021-01-25 19:48] myasonik commented on #89077
Comparing to the legacy-ish Visualize, Visualize would reflow into a single column layout decently well.

[2021-01-25 19:49] elasticmachine commented on #89077
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 19:53] kobelb commented on #52756
/cc @ruflin, as we were talking about whether or not it's possible for Kibana to dynamically reload configuration values from the `kibana.yml`.

[2021-01-25 20:05] wylieconlon opened #89219 "[Lens] Investigate how Lens could allow variables to be passed in from the dashboard"
The idea of variables that control parts of a dashboard has been proposed many times in different Kibana issues, but we do not have an implementation plan that we can use to integrate it into Lens. We can't implement variables in Lens without considering the end-to-end user experience and technical questions that come up.

Previously written use cases:

1. [Switching the index pattern](https://git

[2021-01-25 20:05] elasticmachine commented on #89219
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 20:21] ruflin commented on #88475
@skh Glad you found the issue. The part I'm wondering is if that means we have 2 different installation path entrypoints?

Could the above also explain other issues we had with packages recently?

[2021-01-25 20:25] skh commented on #88475
We have several entry points into package installation, yes. Another one is direct package upload, then the bulk upgrade endpoint, and I'm not sure if endpoint is calling the package installation directly. (cc @jonathan-buttner ) Some have error handling (leading to rollback), some haven't.

[2021-01-25 20:42] EricDavisX commented on #86742
I'll ask @dikshachauhan-qasource to set up a non-Cloud Kibana with tracing to get better logs, and we can hopefully capture more detail.

[2021-01-25 20:42] EricDavisX commented on #86742
@jfsiii can you post set up details here (or in slack chat) to confirm we have the detail we want?

[2021-01-25 20:43] stephmilovic commented on #87851
Here are some screen recordings of the index pattern management UI changes **WIP**
- user cannot create a duplicate title pattern, but can create a pattern with the same pattern list
![duplicate-title](https://user-images.githubusercontent.com/6935300/105763067-862bce80-5f12-11eb-87ad-d8e4181b2bd0.gif)
- user can select a combination of active patterns (matches indices) and inactive patterns (does

[2021-01-25 20:50] rhopkinsjr opened #89227 "controls"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2021-01-25 20:51] #89227 closed

[2021-01-25 20:54] j-chao opened #89229 "Metrics App in Kibana is not showing metrics from metricbeat"
**Kibana version:**
7.10.0

**Elasticsearch version:**
7.10.0

**Server OS version:**
Ubuntu 18.04.5 LTS

**Browser version:**
Google Chrome Version 87.0.4280.141

**Browser OS version:**
MacOS Mojave Version 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**
Installation via Docker image: docker.elastic.co/kibana/kibana:7.10.0

**Describe the bug:**
Kibana UI does

[2021-01-25 21:13] alexfrancoeur commented on #88395
Thanks @pgayvallet !

[2021-01-25 21:14] kevinlog commented on #88475
@skh @ruflin

I quickly chatted with @jonathan-buttner today and confirmed that in the Security app, we just call an upgrade API that will try to install/upgrade the Endpoint package.  So this would be another entry point.

I wonder if we should just try to call fleet/setup API in the Administration page so that we're using the same Endpoint.  I don't know which kinds of bugs this would introduce.

[2021-01-25 21:30] cuff-links commented on #18785
This has been completed by https://github.com/elastic/kibana/pull/87331

[2021-01-25 21:30] #18785 closed

[2021-01-25 21:32] jonathan-buttner commented on #88475
Hmm I think we had intentionally avoided having other plugins calling Fleet's `/setup` route cc: @jfsiii . I believe setup also attempts to upgrade the default packages.

[2021-01-25 21:42] jfsiii commented on #86742
@EricDavisX starting kibana with `ELASTIC_APM_ACTIVE=true` should work.

More info at https://github.com/elastic/kibana/issues/88249#issuecomment-760916708 and https://github.com/elastic/kibana/blob/master/docs/developer/getting-started/debugging.asciidoc#instrumenting-with-elastic-apm

[2021-01-25 21:43] #68575 closed

[2021-01-25 22:03] ferullo commented on #88640
This will be fixed in 7.11.0 BC5.

[2021-01-25 22:13] lukeelmers commented on #57546
Is there a particular reason why we need to log the "new" `elasticsearch.queries` logs at an `info` level instead of `debug`?

If we logged at a `debug` level, it would simplify things as we wouldn't have the added complexity of dynamically reconfiguring logging from the `elasticsearch` service. Instead we could take an "opt-in" approach where folks can see the new logs in verbose mode, or when ex

[2021-01-25 22:49] dnhatn commented on #88599
I've merged https://github.com/elastic/elasticsearch/pull/67877 that will always extend the keep_alive; hence, it never goes backward. I think we are good here.

[2021-01-25 23:14] tylersmalley commented on #87038
@heavenly-zy, that error is when running Kibana from source, not building. Is the original issue of running the build resolved?

The error as it states is the version of Elasticsearch you're running is 7.10.1, however running from mater expects 8.0.0. In development we normally use `yarn es snapshot` which takes care of running the correct version for the branch we are on.

[2021-01-25 23:15] kobelb commented on #81619
The changes introduced by https://github.com/elastic/kibana/pull/87470 won't unblock https://github.com/elastic/kibana/pull/81511. If you explicitly set `xpack.encryptedSavedObjects.enabled: false` in your `kibana.yml`, Kibana will crash on startup with the following error:

[code]

[2021-01-25 23:16] tylersmalley commented on #88134
Closing this issue as the package is not maintained by us. Please use a supported distribution from https://www.elastic.co/downloads/kibana.

[2021-01-25 23:16] #88134 closed

[2021-01-25 23:18] tylersmalley commented on #88135
Closing for the reasons mentioned by @spalger. Happy to continue the dialog if you have any questions or concerns.

[2021-01-25 23:18] #88135 closed

[2021-01-25 23:29] kibanamachine commented on #89191
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:29] kibanamachine commented on #89192
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:29] kibanamachine commented on #64561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:29] kibanamachine commented on #64564
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:29] kibanamachine commented on #64565
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:30] kibanamachine opened #89248 "Failing test: X-Pack Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser returns logs when browser crashes + helpful links"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:30] kibanamachine opened #89249 "Failing test: X-Pack Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser logs a message when the browser starts, but then has problems later"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:30] #89029 closed

[2021-01-25 23:30] kibanamachine commented on #89051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/11295/)

[2021-01-25 23:35] wylieconlon commented on #89146
Closing as this is already supported: https://www.elastic.co/guide/en/kibana/current/kuery-query.html#_exist_queries

[2021-01-25 23:38] elasticmachine commented on #89085
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-25 23:40] cdalexndr commented on #89146
@wylieconlon **NO**, that is not what I wanted in this issue, and I specifically said I know about your linked functionality.
The `exists` functionality (`response:*`) includes **empty** field values. (empty string).
I don't whant to view empty values, but only **non**-empty values.

[2021-01-25 23:47] wylieconlon commented on #89146
I see, it was not clear that you were talking about empty strings. Empty strings are not the same thing as "empty values" in Elasticsearch terms, so you are right that KQL would include them in a * search.

[2021-01-25 23:47] kobelb opened #89251 "[Fleet] Fleet server migrations should not block the start lifecycle"
The fleet server migrations should not block the start lifecycle: https://github.com/elastic/kibana/blob/3b728b73cf5720b48e9759c7bb8b845e18ba5b57/x-pack/plugins/fleet/server/plugin.ts#L302

The long-term goal is to remove the ability to have asynchronous `setup`/`start`/`stop` lifecycle methods entirely. Currently, plugins have 30 seconds to perform their start lifecycle, and if it takes longer th

[2021-01-25 23:47] elasticmachine commented on #89251
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-25 23:47] elasticmachine commented on #89251
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-25 23:49] wylieconlon commented on #89146
On second thought, this is already supported but not with the syntax you suggested. Use `field:* AND NOT field:''` to exclude empty strings only.

You can also see the long thread on [regexes in KQL](https://github.com/elastic/kibana/issues/46855), which has not made much progress so far.

[2021-01-25 23:49] #89146 closed

[2021-01-25 23:50] elasticmachine commented on #89146
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-25 23:56] wylieconlon commented on #62333
This is worth revisiting now that Vega is in GA, as I'd really like to see Vega support SQL and EQL. Vega already supports querying using:

* Search source
* Maps service
* External URL fetching

The SQL and EQL endpoints are very simple, but they are not exposed directly in the browser so that increases the complexity of the integration. If we could have SQL and EQL support in the search source i

[2021-01-25 23:59] cuff-links commented on #42993
@cjcenizal @sebelga @jloleysens  This seems like a pretty crackerjack idea. I also this this could pair well with the work @jloleysens did in https://github.com/elastic/kibana/pull/87331. We can use the contract tests to verify the back end (the overrides and generated json) and then perhaps do randomized spot checks via the front-end to ensure that the autocomplete works on the front end. Thought

[2021-01-26 00:17] kobelb opened #89252 "[Fleet] Fleet server migrations `SavedObjectsClient#delete` race-condition"
The Fleet server migrations call `SavedObjectsClient#delete` after creating the `.fleet-enrollment-api-keys` document: https://github.com/elastic/kibana/blob/3b728b73cf5720b48e9759c7bb8b845e18ba5b57/x-pack/plugins/fleet/server/services/fleet_server_migration.ts#L72

When multiple Kibana instances are running the migrations in parallel, there's a race-condition and the second call to `SavedObjectsC

[2021-01-26 00:17] elasticmachine commented on #89252
Pinging @elastic/ingest-management (Team:Ingest Management)

[2021-01-26 00:18] elasticmachine commented on #89252
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-26 00:24] pmuellr commented on #89166
I seem to remember discussing this at some point, as a generic toggle for every alert "also run the action when the alert instance recovers?"

Kinda funny, but to some extent, having the lack of context variables available for the recovered action group means there's less of a need for customers to customize the action variables.  So - does that mean we could construct a valid set of parameters fo

[2021-01-26 01:14] legrego commented on #89180
If I understand the changes correctly, this appears to be caused by https://github.com/elastic/elasticsearch/pull/66423, which changes the rest action from a cluster-based one to an index-based one:

https://github.com/elastic/elasticsearch/pull/66423/files#diff-d07f0c77ef1e783c71ece3292a33be30c04641c98404b3491d5ec6a9193a7bf8

@talevy / @cjcenizal prior to this, we required a user to have both the

[2021-01-26 01:14] legrego commented on #89181
See https://github.com/elastic/kibana/issues/89180#issuecomment-767215781 for analysis. Likely the same root cause.

[2021-01-26 01:33] cuff-links commented on #29344
This is no longer an issue as verified in 7.x and 8.0.

[2021-01-26 01:33] #29344 closed

[2021-01-26 02:01] #82727 closed

[2021-01-26 02:10] #88951 closed

[2021-01-26 02:49] elasticmachine commented on #89191
Pinging @elastic/kibana-core (Team:Core)

[2021-01-26 02:52] mistic commented on #89191
The test is now failing the 7.x ci build and looks flaky. Skipping for now.

master/8.0:
7.x/7.12:

[2021-01-26 02:56] #64561 closed

[2021-01-26 02:56] #89192 closed

[2021-01-26 02:56] #64564 closed

[2021-01-26 02:57] #64565 closed

[2021-01-26 02:57] #89248 closed

[2021-01-26 02:57] #89249 closed

[2021-01-26 03:28] alexfrancoeur commented on #86165
+1 on this. @sqren would it be possible to rope myself and / or @ryankeairns into any design discussions or issues related to the user experience? This would be more for visibility than anything. (cc: @thesmallestduck )

[2021-01-26 03:40] alexfrancoeur commented on #17298
If we're able to provide a top level banner, with `kibana.yml` config and space advanced setting support, I think it's progress towards our end goal. This approach allows administrators to identify environments and spaces more visually. I vote we take this incremental step, keep this issue open and continue to prioritize the efforts in EUI until the footer requirement is met. For the top banner in

[2021-01-26 05:11] clintandrewhall commented on #88715
@thompsongl has provided me with code to try the new API in Canvas.  Stay tuned!

[2021-01-26 06:47] kibanamachine commented on #89048
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11415/)

[2021-01-26 06:48] kibanamachine opened #89265 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes - GET /api/reporting/jobs/download successful downloads base64 encodes output content for configured jobTypes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/11415/)

[2021-01-26 07:57] #78578 closed

[2021-01-26 08:23] ruflin commented on #76843
@mostlyjason Not sure I agree. I would expect if for example an Agent cannot be upgraded, the upgrade action is hidden / greyed out.

[2021-01-26 08:39] pgayvallet commented on #89080
Thanks, and TIL.

Issue resolved, closing.

[2021-01-26 08:39] #89080 closed

[2021-01-26 08:42] ruflin commented on #88956
For reference, here is a Kibana issue that discusses about dynamic config reloading: https://github.com/elastic/kibana/issues/52756

[2021-01-26 08:47] ruflin commented on #88475
My expectation would be that there would be a single `installPackage` entrypoint that everyone uses, handles the rollback etc. If we improve package installation, everyone gets the benefits. I think this is separate from `/setup` which indirectly should use the installPackage function.

What is the reason we have several endpoints? Just history or some technical differences / requirements?

[2021-01-26 08:48] restrry commented on #52734
yes, we want to have this information.

sounds good

[2021-01-26 08:48] monfera opened #89267 "Discover presents to users, and works with, stale index pattern information"
**Kibana version:**
Current `master`, happens to be commit 2ff523556d6b1cc38943369889dbbc3a5f2b6e7a

**Elasticsearch version:**
Corresponding

**Original install method (e.g. download page, yum, from source, etc.):**
Kibana bootstrap

**Describe the bug:**
Unless the Discover page is refreshed (F5, Cmd-R, or navigating away and back),
- a newly created index pattern does not show up in Discover
-

[2021-01-26 08:55] pgayvallet commented on #17298
it would be persistent (same way as the 'Kibana' header)

[2021-01-26 09:01] ruflin commented on #89252
Is there a way to write tests for this to catch these things automatically?

[2021-01-26 09:20] shahzad31 commented on #80508
uptime is still blocked by these plugins

`observability` i think @smith is working on this
`ml` @jgowdyelastic any idea?
`indexPatternManagement`
`licenseManagement`
`maps` @nreese i hope this will go in soon :)
`fileUpload`
`mapsLegacy`
`mapsOss`

[2021-01-26 09:21] shahzad31 commented on #87170
uptime is still blocked by these plugins

[code]

[2021-01-26 09:29] stourmarine commented on #35308
Hello,

an option for "yesterday" and "last week" would be great as well. Or maybe the option to customize/add/remove the "commonly used" time intervals.

Best Regards,
Mihai

[2021-01-26 09:34] flash1293 opened #89269 "[Lens] Avoid index pattern remapping for each visualization"
In our current setup, the datasource initializes itself when a Lens visualization is loaded on a dashboard. This includes calling `loadIndexPatterns`, which loads the used index patterns and builds a map for all existing fields. As this is happening for each visualization individually, a large dashboard built with large index patterns can cause performance issues:
* Lots of memory used for storing

[2021-01-26 09:34] elasticmachine commented on #89269
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-26 09:38] peteharverson opened #89270 "[ML] Migrate ML plugin to TS project references"
Tracking issue for the ML plugin's migration to a TS project per https://github.com/elastic/kibana/issues/80508 .

[2021-01-26 09:38] elasticmachine commented on #89270
Pinging @elastic/ml-ui (:ml)

[2021-01-26 09:40] peteharverson opened #89271 "[ML] Transforms: Migrate plugin to TS project references"
Tracking issue for the Transform plugin's migration to a TS project per https://github.com/elastic/kibana/issues/80508 .

[2021-01-26 09:40] elasticmachine commented on #89271
Pinging @elastic/ml-ui (:ml)

[2021-01-26 09:44] peteharverson commented on #80508
@shahzad31 I just created #89270 to track migrating the ML plugin to TS project refs, and will take a look at it this week.

[2021-01-26 09:48] jalvz commented on #85777
@nchaulet can you remind me the consequences of this? it is like an existing Elastic Agent would not work with an APM integration from a newer release?

[2021-01-26 09:51] pgayvallet commented on #57546
We will be logging at the `debug` level. The problem here is to have the current `elasticsearch.logQueries` option still works with the new implementation. This is why one option would be to change the `elasticsearch.queries` logger's level from `INFO` to `DEBUG` when `elasticsearch.logQueries=true`.

Main difference is that for res/ops logs, the legacy implementation was directly using the legacy

[2021-01-26 09:55] kertal commented on #61906
Closing this, since all tasks are done.
Delta:
* we won't need a flag outside advanced settings.
* we won't need migration for saved searches
* performance testing is currently in the works and last tests when EuiDataGrid merges virtualization looks promising. thinking of adding some details about the performance to the issue that will set EuiDataGrid to be the default selection https://github.com

[2021-01-26 09:55] kertal commented on #61906
now closing

[2021-01-26 09:55] #61906 closed

[2021-01-26 10:05] elasticmachine commented on #88385
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-26 10:07] flash1293 opened #89272 "Canvas runtime bundle throws errors on production build"
**Kibana version:** master

**Describe the bug:** Creating a production build causes webpack warnings related to the canvas runtime build

**Steps to reproduce:**
1. Execute `yarn build --no-oss --skip-os-packages`
2. Wait
3. See warnings

**Expected behavior:**
No warnings

**Errors in browser console (if relevant):**
[code]

[2021-01-26 10:07] elasticmachine commented on #89272
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-26 10:08] flash1293 commented on #89272
cc @clintandrewhall

[2021-01-26 10:52] Dosant commented on #85449
Some more details:

Search session are available under ff in master:

[code]

Some prior art for reference:

- [Pr](https://github.com/elastic/kibana/pull/81297) that added this on a dashboard for some of other embeddable
  - Embeddable has to refetch when `searchSessionId` changes
  - If maps embeddable subscribes to timefilter.autorefresh$() it should be removed because since #82626 it is handle

[2021-01-26 10:53] pgayvallet commented on #88988
:shame: yea, I do.

Something like that I guess?

[code]

That would work. The two reasons why I would still prefer the `() => Mappings` approach:
- you will have to call this `replaceType` every time an alert type got registered, where the `() => Mappings` would only be invoked one.
- consistency, this is the pattern we used for migrations

@rudolf wdyt?

[2021-01-26 11:03] joshdover commented on #57546
Thanks all for the responses! Here's my replies + summary:

In response to @restrry:

👍

Yes, that's essentially it. Initially I was thinking we would also need to dynamically set the logging context level config based on `elasticsearch.logQueries`. The reason for doing this dynamically in 7.x would be to maintain compatibility with the currently documented configuration. However, I don't think th

[2021-01-26 11:08] #88569 closed

[2021-01-26 11:08] skh commented on #88475
We have several HTTP API routes for technical reasons and different requirements both for installation and for rollback behavior -- `/setup` does different things than a plain package install, which in turn does different things than package installation by direct upload etc. We decided at some point to not call other HTTP API routes internally, but have all routes make use of the same service lay

[2021-01-26 11:13] elasticmachine commented on #89267
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-26 11:21] Dosant opened #89276 "[Search Sessions] Cancel search session dialog is confusing for a completed, errored or expired session"
Part of https://github.com/elastic/kibana/issues/61738
Follow up on https://github.com/elastic/kibana/issues/61741

Noticed this small thing that confused me. I guess “cancel” for the completed session doesn’t make sense and should be “remove” or “delete” instead?

I think the same applies for the session in the "error" or "expired" state

![Screenshot 2021-01-25 at 16 56 19](https://user-images.g

[2021-01-26 11:22] elasticmachine commented on #89276
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-26 11:28] Dosant opened #89278 "[Search Sessions] Example plugin and dev docs"
Part of https://github.com/elastic/kibana/issues/61738

- Create an example plugin covering search sessions
- Dev docs readme

Note: user-facing docs are part of https://github.com/elastic/kibana/issues/88736

[2021-01-26 11:28] elasticmachine commented on #89278
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-26 12:00] mtojek commented on #88475
I think it was this one.

<img width="665" alt="Zrzut ekranu 2021-01-26 o 12 59 14" src="https://user-images.githubusercontent.com/14044910/105842407-6c53bf80-5fd6-11eb-8092-ed301a65de07.png">

I clicked on the button, saw an error message and clicked second time. It went through.

[2021-01-26 12:07] skh commented on #88475
Thanks for providing this information! What is most likely happening here is that the installation wasn't rolled back after the error due to the bug described in https://github.com/elastic/kibana/issues/88475#issuecomment-766700579 , and after the second click, the package was still installed (even if incomplete) so the package policy could be created successfully.

A fix for the missing rollback

[2021-01-26 12:10] tuckson opened #89279 "Creation date in visualisation listing"
**Describe the feature:**
Hi,  I would like to ask the following. SHould not be too difficult I guess.
It would be nice to have the creation date in the list of visualisations.
**Describe a specific use case for the feature:**
We use kibana as doorway to logs of many of our microservices. For explaining things to developers of our supplier we often create adhoc visualisations. SOmetimes later on t

[2021-01-26 12:12] azasypkin opened #89280 "Run as much of Platform Security API integration tests in Cloud as possible"
### Summary

The goal of this issue is to figure what we can do to run more as much of our tests in Cloud as possible. To make things easier I'd like to concentrate on the API integration tests first.

### Limitations

Kibana Cloud tests infrastructure has a few limitations today:

* Elasticsearch config is currently fixed and shared between all tests suites
* Kibana config [is currently fixed](ht

[2021-01-26 12:12] elasticmachine commented on #89280
Pinging @elastic/kibana-security (Team:Security)

[2021-01-26 12:27] mikecote commented on #88988
That's correct, though just presenting an alternative if ever a function wasn't preferred. The alerting team can work with either approach 🙂

[2021-01-26 12:31] tsg commented on #88957
@gmmorris, nice, that looks promising! In the demo we've put up for the customer, Aris and I tried to fill at least these ECS fields:

[code]

Could we find a way to fill in `host.name` where it makes sense? I see `message` as a nice to have, but I wouldn't put something like "alert instance: 79b4c37e-ef42-4421-a0b0-b536840f930d" because that's not really useful to the user.

As we work out the de

[2021-01-26 12:41] #81816 closed

[2021-01-26 12:41] adriankae opened #89282 "Different colors for different buckets in bar charts"
**Describe the feature:**
When creating a bar chart and different buckts the bucket colors should differ from each other to distinguish the buckets. Especially when applying split charts.

**Describe a specific use case for the feature:**
I'm comparing different development teams in buckets, split charts for different development stages, and on y axis the number of requirements for each stage per

[2021-01-26 12:45] sqren commented on #86165
@alexfrancoeur Sure. Right now we only have [this issue](https://zube.io/elastic/observability/c/149297) which is slated for 7.13. Implementation hasn't started yet.

[2021-01-26 12:49] kevinlog opened #89284 "[Security Solution] Install Fleet Package from Security Application"
**Describe the feature:**
We are adding a new Fleet package which will require a migration of existing data to new Fleet indices.  Details in this PR: https://github.com/elastic/kibana/pull/89224
For the Fleet package to be added, users will need to navigate to the Fleet app.

In the Security app, we'll need to be sure that the Fleet package is installed in case that the user does not navigate to

[2021-01-26 12:49] elasticmachine commented on #89284
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-01-26 12:51] mdefazio commented on #89276
@Dosant , yes, I agree.  'Delete' kind of implies that I can no longer do anything with it.  But I'm able to reload it if I choose, correct? Maybe that's thinking too far into it, so I'm curious to see what others think.  Maybe 'Archive'?

[2021-01-26 12:52] mikecote commented on #88908
@YulNaumenko, you mentioned this is necessary to allow listing active instances across different alerts?

[2021-01-26 12:53] Dosant commented on #89276
@mdefazio, when you clean "cancel" on that screen above search session disappears from the list. It seems like under the hood it is actually deleted (I am not sure).

Not sure if this is intentional or a bug.

[2021-01-26 12:58] kevinlog commented on #89284
FYI @scunningham @pzl @nchaulet @ruflin @jonathan-buttner

[2021-01-26 13:07] ph commented on #88307
@skh Can you point me to the code? I would expect it to be a few lines of changes is that the case?

[2021-01-26 13:08] joshdover commented on #86167
@spong Any update here on when this may be scheduled?

[2021-01-26 13:09] joshdover commented on #86171
@jfsiii @jen-huang Is this something that will make 7.12? I imagine it's not a whole lot of work based off the suggestion above.

[2021-01-26 13:11] joshdover commented on #86172
@cjcenizal Any updates on when this might be possible?

[2021-01-26 13:11] skh commented on #88307
https://github.com/elastic/kibana/tree/master/x-pack/plugins/fleet/server/services/epm/elasticsearch/template

[2021-01-26 13:11] joshdover commented on #86168
@sgrodzicki @chrisronline Any updates on when this may be done?

[2021-01-26 13:13] sqren opened #89285 "[APM] Kibana Core projects concerning APM app"
**Alerting new architecture**
 - Presentation on [new terminology](https://docs.google.com/presentation/d/1uxs4HP2hF_W1aLVtDP_ociBItahp8HUhtQJZ_BLzws4/edit#slide=id.ga87e0edd8d_0_0)
 - Adds support for case management of alerts (elevate to incident/investigation)

**Kibana Notification Center**
A notification center is coming to Kibana. Do we want to take advantage of this?
Use cases:
 - Setup bui

[2021-01-26 13:13] elasticmachine commented on #89285
Pinging @elastic/apm-ui (Team:apm)

[2021-01-26 13:16] legrego opened #89287 "Interactive setup mode"
The Kibana and ES Security teams are seeing what it would take to enable security features by default, rather than requiring administrators to configure security on their own.

As part of this initiative, we would like to explore creating an interactive setup mode within Kibana. We would like to present an interface to the user on first launch, if we detect that they haven't explicitly configured

[2021-01-26 13:16] elasticmachine commented on #89287
Pinging @elastic/kibana-core (Team:Core)

[2021-01-26 13:16] elasticmachine commented on #89287
Pinging @elastic/kibana-security (Team:Security)

[2021-01-26 13:16] lizozom commented on #89276
@Dosant this needs to be addressed by one of @lukasolson PRs.
Canceled search sessions will still appear on the list and you will be able to reload them.

[2021-01-26 13:22] ph commented on #88307
Thanks, @skh, I thought that the surface area was limited and could have been done by another team with a little guidance. But like you have said in slack if it's a few hours. It's probably less problematic.

[2021-01-26 13:28] jfsiii commented on #86171
@joshdover I think you're right that it's not a lot of work, but cc @ph because I don't believe we have assigned this to a release.

[2021-01-26 13:32] sqren commented on #78222
Fyi: APM also has a use case for generate api keys via the ui. APM agents needs an API key to communicate with the server. Today this key is generate via a commandline tool. Would be a huge UX improvement if this accomplished via the ui.

The ideal scenario for us would be an API that allows specifying permissions and the ability to retrieve keys by [some kind of metadata](https://github.com/elast

[2021-01-26 13:35] Dosant commented on #89276
@lizozom, thanks, that explains then.
Is there a way to remove/delete a session from that screen? In case I am no longer interested and don't want that list to get longer and longer? Are expired sessions disappear from that list with time?

[2021-01-26 13:43] #89265 closed

[2021-01-26 13:47] errobinson commented on #85294
Anyone have ideas if this will work or not?

[2021-01-26 13:53] SperChung-11 opened #89292 "The permission of files were changed from 600 to 666 during kibana running"
hi,
we have found a question. During kibana running, the permission of some files is changed to 666, which is 600 at the initial stage. we dont know how and when and why they are changed ? In addition, the file whose permission is modified is different in different environments. The files are in the path: kibana/optimize/bundles/

in addition, we find that these files whose permission were changed

[2021-01-26 14:02] agent-ost commented on #30982
Would love this feature to automate some monthly reports!

[2021-01-26 14:09] EricDavisX commented on #88584
@fearful-symmetry excellent! We can leave it closed, but at the end of the cycle, if we want a re-test it helps to coordinate when it is merged and to where, and if / when that storage branch has been re-built / rolled out.  would you guide us / inform Diksha on when it is promoted to be available against say the 8.0 Cloud snapshot build?

[2021-01-26 14:11] chrisronline opened #89293 "[Monitoring] Migrate to TypeScript project ref"
Tracking issue for the Uptime plugin's migration to a TS project per https://github.com/elastic/kibana/issues/80508 . Please update https://github.com/elastic/kibana/issues/80508 when this is resolved.

Current dependencies:
[code]

[2021-01-26 14:11] elasticmachine commented on #89293
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-01-26 14:40] thomasneirynck opened #89302 "[Maps] Allow embeddable clients to check/get notified on loading state"
**Describe the feature:**

Clients of the MapEmbeddable can get  notified of loading-state (or be able to retrieve loading-state) of an embedded map.

**Describe a specific use case for the feature:**

Show a loading spinner while the map and layers are initializing.

This would be useful for applications where the map is embedded as part of a larger dashboard. E.g. the anomaly-explorer in ML. You

[2021-01-26 14:40] elasticmachine commented on #89302
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-26 14:42] #89140 closed

[2021-01-26 14:43] thomasneirynck commented on #89302
The main issue here that we need to be able to accurately determine loading state for tile-layers as well. This is also a blocking-feature for tiled layers (e.g. layers backed by vector-tiles) See also https://github.com/elastic/kibana/issues/76237.

[2021-01-26 14:44] thomasneirynck commented on #76237
This would be particularly useful for clients of the MapsEmbeddable as well https://github.com/elastic/kibana/issues/89302

[2021-01-26 14:44] peluja1012 opened #89303 "[Security Solution] Enable "View in app" button for Detection alerts in Kibana Alerting page"
Currently the "View in app" button is disabled for Detection alerts in the Kibana Alerts and Actions page. The button should be enabled and redirect the user to the Rule details page in the Security app.

![image](https://user-images.githubusercontent.com/616158/105859630-c21a6e80-5fba-11eb-8360-338486cccf0d.png)
![image](https://user-images.githubusercontent.com/616158/105859677-cf375d80-5fba-11e

[2021-01-26 14:44] elasticmachine commented on #89303
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-01-26 14:44] elasticmachine commented on #89303
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-01-26 14:44] lizozom commented on #89276
@Dosant not at the first MVP phase.
Things will just stay and get stale, as everything is sorted by creation time.
But this is definitely the plan for future versions.

[2021-01-26 14:45] lizozom commented on #89276
@gchaps maybe you can review the text and buttons on this dialog?

[2021-01-26 14:47] thomasneirynck opened #89304 "[Vega] should support on-prem EMS"
**Describe the feature:**

When Vega is migrated to use mapbox-library, it will use vector tiles for EMS-baselayers. https://github.com/elastic/kibana/issues/78395

This means it should be able to use on-prem EMS.

**Describe a specific use case for the feature:**

air-gapped users can use Vega-map visualizations

[2021-01-26 14:47] elasticmachine commented on #89304
Pinging @elastic/kibana-gis (Team:Geo)

[2021-01-26 14:49] skh commented on #88307
Minor correction: we don't need to add manifest parsing but we do need https://github.com/elastic/package-registry/pull/674 .

[2021-01-26 14:54] wylieconlon commented on #89282
@adriankae Based on your description this sounds like a feature we already have. Can you please clarify what you want that's different?

[2021-01-26 14:54] ymao1 commented on #88957
I like the idea of viewing this as an improvement to the index action vs a full "alerts as data" implementation. Alternative to having an "Index Raw Data" switch, we could offer a default document to index (similar to how we have a default action message for other action types) that is pre-populated and allow the users to change it to suit their needs? At a minimum we could pre-populate the docume

[2021-01-26 14:54] elasticmachine commented on #89282
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-26 14:55] nreese commented on #89302
The MapEmbeddable exposes a `setEventHandlers` method that allows for the setting of callbacks that are triggered on layer load events. These should provide the functionality requested by this issue.

https://github.com/elastic/kibana/blob/master/x-pack/plugins/maps/public/reducers/non_serializable_instances.d.ts#L22
[code]

[2021-01-26 14:58] sgrodzicki commented on #86168
@ravikesarwani is in a better position to answer your question.

[2021-01-26 14:59] wylieconlon opened #89306 "[TSVB] Synced tooltip is not shown in dashboard"
It seems like there has been a regression [even after this bug was fixed once](https://github.com/elastic/kibana/pull/77306). It appears to be a regression in 7.10, which I confirmed on master. There are two issues:

1. Tooltips are not shown across TSVB charts
2. The indicator in the TSVB legend is not updated when the time marker is updated

As reported [on discuss](https://discuss.elastic.co/t/

[2021-01-26 14:59] elasticmachine commented on #89306
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-26 15:00] lukeelmers commented on #57546
Ah, thanks for clarifying. That was the key point I was overlooking. In that case Josh's solution proposed above makes sense to me 👍

[2021-01-26 15:00] flash1293 commented on #89282
I think this feature request is about being able to have different colored bars while only having an "x axis" bucket dimension, no "split series"/"break down by"

So basically having colors in this chart:
<img width="1464" alt="Screenshot 2021-01-26 at 15 58 52" src="https://user-images.githubusercontent.com/1508364/105861882-78984680-5fef-11eb-82da-503fc6fb1ece.png">

For reference, it's kind of

[2021-01-26 15:01] kobelb commented on #89252
The only option that we have right now is to use unit-tests to mock the error responses. https://github.com/elastic/kibana/issues/79743 would have potentially caught these issues in CI, and https://github.com/elastic/kibana/issues/79748 would help developers catch them.

[2021-01-26 15:02] jalvz commented on #85777
got it, thanks.

[2021-01-26 15:27] ravikesarwani commented on #86168
Thanks for adding me.
@sgrodzicki This helps with search and navigation for the users and I feel would be a great addition to make.
To me it feels that this global search overtime can become a default way of finding things by users as it can take you the right place is many few clicks.

Let's discuss offline to see where it can fit.

[2021-01-26 15:28] formgeist commented on #89285
@sqren Pretty sure there should be a Lens integration on here as well. Lens will be embeddable, meaning that we'd be able to replace our existing visualizations with a similar look and feel, but with the extended possibilities of taking your analysis further to Lens and from there create your own visualizations that could go into Dashboards. I would like to investigate this further if possible.

[2021-01-26 15:31] formgeist commented on #89285
I've added Drilldowns to the list as well

[2021-01-26 15:33] nchaulet commented on #89252
Good catch there is another race condition here I missed when we get the enrollment key to decrypt it, we should probably just ignore 404 here.

[2021-01-26 15:41] wylieconlon commented on #89282
@flash1293 right, that's what I thought @adriankae was asking for too. If that's true then I think we can close this as a feature we already support.

[2021-01-26 15:46] simitt opened #89311 "[Fleet] Requirement for Kibana API Key for Agent subprocess"
APM Server requires access to Kibana for supporting the [APM Server Central Configuration Management](https://github.com/elastic/apm-server/issues/4573) feature. The API Key needs to have [spaces read privileges for the APM app](https://www.elastic.co/guide/en/apm/server/current/privileges-agent-central-config.html#privileges-agent-central-config-server).

[2021-01-26 15:46] elasticmachine commented on #89311
Pinging @elastic/fleet (Feature:Fleet)

[2021-01-26 15:50] thomasneirynck commented on #82194
this is blocking APM: https://github.com/elastic/kibana/issues/80508#issuecomment-767412112

[2021-01-26 15:50] thomasneirynck commented on #80508
@shahzad31 we have an existing issue for Maps https://github.com/elastic/kibana/issues/82194

[2021-01-26 15:52] flash1293 commented on #82194
No pressure, but this is also blocking the last Kibana App plugin `vis_type_vega` as it depends on `maps_legacy`

[2021-01-26 15:57] thomasneirynck commented on #82194
thx @flash1293 for heads-up, we discussed with @alexwizp and @VladLasitsa. Maps-team will take on the removal of maps_legacy, after https://github.com/elastic/kibana/pull/88605 has cleared.

[2021-01-26 16:16] rudolf commented on #88988
We should probably check the performance, we call `deepFreeze` on the type and for a type with large mappings this might have some performance impact. Though I would guess it's not a big deal.

I agree that we should keep it consistent. If registerType allows replacing the type we should remove `() => Mappings`.

What I like about replacing the registered type is that it's more reactive, things ge

[2021-01-26 16:16] kibanamachine opened #89314 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/edit_visualizations·js - dashboard app using current data edit visualizations from dashboard cancel button returns to dashboard after editing visualization without saving"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/234/)

[2021-01-26 16:16] kibanamachine opened #89315 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_scripted_fields·js - management scripted fields creating and using Painless boolean scripted fields should create scripted field"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/234/)

[2021-01-26 16:16] kibanamachine opened #89316 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/panel_cloning·ts - dashboard app using legacy data dashboard panel cloning "before all" hook for "clones a panel""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/234/)

[2021-01-26 16:16] kibanamachine opened #89317 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_filtering·js - dashboard app using current data dashboard filtering nested filtering visualization saved with a query filters data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/234/)

[2021-01-26 16:16] kibanamachine opened #89318 "Failing test: Jest Tests.src/core/server/http - Cookie based SessionStorage #set() Should write to session storage & set cookies"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/234/)

[2021-01-26 16:16] kibanamachine opened #89319 "Failing test: Jest Tests.src/core/server/http - Cookie based SessionStorage #get() reads from session storage"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.11/234/)

[2021-01-26 16:25] TinaHeiligers opened #89321 "[Meta] Migrate plugins to TS references for es_ui CODEOWNERS plugins"
## Summary

Now that the Kibana build system supports using TypeScript project references (#46773), the es_ui team need help migrating their plugins. This is part of the overall effort tracked at #80508.

| plugin  | migration status|
|--------|-----------------|
|cross_cluster_replication| 🔴 |
|index_lifecycle_management| 🔴 |
|grokdebugger| ✅ |
|index_management| ✅ |
|license_management| ✅ |
|pai

[2021-01-26 16:28] nickofthyme commented on #89306
This appears to be a chart issue, looking now.

[2021-01-26 16:29] elasticmachine commented on #89316
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-26 16:29] elasticmachine commented on #89317
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-01-26 16:30] weltenwort opened #89322 "[Logs UI] Show bucket time range in log threshold alert preview chart tooltip"
## Summary

The semantics of the dates shown in the log threshold preview chart tooltips should indicate the interval each bar represents to avoid confusion.

## Background

The preview charts in the log threshold alert configuration form show a bar chart to help the user at setting a sensible threshold. Each bar shows a tool-tip with the start date of the bucket on hover.That bucketing is derived

[2021-01-26 16:30] elasticmachine commented on #89322
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-01-26 16:38] mikecote commented on #87098
7.11 backport merged: https://github.com/elastic/kibana/pull/89307.

[2021-01-26 16:38] #87098 closed

[2021-01-26 16:40] flash1293 opened #89325 "[Lens] Panel renders twice on dashboard load"
**Kibana version:** master

**Describe the bug:** On loading a dashboard, all requests are made twice because the embeddable renders twice

**Steps to reproduce:**
1. Create Lens vis
2. Add to dashboard
3. Reload
4. Request for the visualization is done twice

**Expected behavior:**
Request for the visualization is done once

Not sure why it worked before. It seems like 7.11 is not affected

[2021-01-26 16:40] elasticmachine commented on #89325
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-26 16:47] daggett206 commented on #44327
let's make columns resizable
![image](https://user-images.githubusercontent.com/14615740/105875770-a2656380-6017-11eb-8a66-b975aba1fe00.png)

[2021-01-26 16:49] dgieselaar commented on #78869
One other thing that might be useful is tagging transactions with a plugin label, e.g. plugin: apm or plugin: ml, so teams can filter on that in the UI.

[2021-01-26 16:49] cjcenizal commented on #86172
@joshdover In theory it's possible we might be able to squeeze this into 7.13, but we have a number of high priority projects on our roadmap that already occupy our full team capacity so it seems unlikely.

[2021-01-26 16:57] mikecote commented on #51711
Sounds like something should be using `ensureScheduled` in task manager instead. Worth investigating.

[2021-01-26 16:58] YulNaumenko commented on #88908
It would be nice to have an option to select only active instances here, so probably this API should include the filtering. Maybe implementing this [issue](https://github.com/elastic/kibana/issues/89082) could solve the problem.

[2021-01-26 17:04] Dosant opened #89327 "[Search Sessions] Reload action on management screen needs refinement"
Part of #61738
Follow up on #61741

Currently we have three actions per search session on management screen:

<img width="1280" alt="Screenshot 2021-01-26 at 17 42 55" src="https://user-images.githubusercontent.com/7784120/105875480-23176600-5ffe-11eb-9602-5cda3a3765c1.png">

Both "cancel" and "extend" have dialog that explains what is going to happen.
Reload though behaves differently:

It just n

[2021-01-26 17:04] elasticmachine commented on #89327
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-01-26 17:12] streamich commented on #89048
This test failed once on `7.x` and once on `master` in the past 12 months.

![image](https://user-images.githubusercontent.com/9773803/105878990-f49b8a00-6001-11eb-8087-46dbc9210635.png)

Let's see if it fails more. If it does not fail few more times during next week, I think we can close this issue.

[2021-01-26 17:17] stephmilovic commented on #87851
Discover UI changes

## Disclaimer: WIP
#### Please provide feedback in the comments :)

<img width="1283" alt="Screen Shot 2021-01-26 at 10 15 07 AM" src="https://user-images.githubusercontent.com/6935300/105879603-9f3e8900-5fbf-11eb-9dbd-8232aff37642.png">

[2021-01-26 17:24] TinaHeiligers commented on #80508
@elastic/logs-metrics-ui the circular dependency between the `infra` and `apm` plugins are blocking a number of plugins to be migrated. Is there an open issue to resolve this?

[2021-01-26 17:24] shahzad31 commented on #85713
Fixed via https://github.com/elastic/kibana/pull/87460

[2021-01-26 17:25] mikecote commented on #89161
Issue to be more specific, "how to transform data between alert and action (ex: math)".

[2021-01-26 17:26] mikecote commented on #89161
To find out why user needs to "log query results".

[2021-01-26 17:27] tylersmalley opened #89329 "Unable to open Kibana in Safari due to invalid regular expression"
**Kibana version:** master/7.12

**Browser version:** Safari 13.1.3

**Error:** `SyntaxError: Invalid regular expression: invalid group specifier name`

This is caused by the regular expression `/^(?! )[a-zA-Z0-9 !"#$%&'()*+,\-./\\:;<=>?@\[\]^_`{|}~]+(?<! )$` defined [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security/common/constants.ts#L32) introduced in https://github.c

[2021-01-26 17:27] elasticmachine commented on #89329
Pinging @elastic/kibana-security (Team:Security)

[2021-01-26 17:34] #85713 closed

[2021-01-26 17:48] #89078 closed

[2021-01-26 17:52] ppisljar commented on #33496
what about using non-persisted index pattern for the default usecase ? so we don't need to have a saved object in every space (that we don't allow deleting) but rather not have a saved object at all for that case and provide it in code ?

[2021-01-26 17:55] mdefazio commented on #89327
I like option 1, but since that's not possible, here's a 3rd option into the mix: We remove this capability from the management view and they can only 'reload' the session from the popover on the dashboard. This would avoid the modal confirmation and perhaps make it clearer that I am running a new search session.

We will also have 'Rename' in the management overflow menu, so maybe it's also nice

[2021-01-26 17:57] mikecote commented on #89162
similar scenario to when alerts can only be edited within the application (ex: detection alerts).

[2021-01-26 18:05] YulNaumenko commented on #89166
We have a similar issue opened on the Maps team request https://github.com/elastic/kibana/issues/84174, where they have a bad UX when requires from the user to create the action first and then decide when it should run.

[2021-01-26 18:06] simitt commented on #76844
@ruflin is this required for Cloud support?

[2021-01-26 18:06] #84471 closed

[2021-01-26 18:08] YulNaumenko commented on #88908
In addition, we definitely want to have a support for a multiple alerts instance summary, something like:
[code]

[2021-01-26 18:09] bartosz-jarmuz commented on #59604
Hello,
Are there any workarounds for this?

[2021-01-26 18:13] TinaHeiligers commented on #89321
## Blocked plugins and dependencies

<details>
  <summary>cross_cluster_replication</summary>

  ## Dependency
- [ ] apm (#81003)
- [ ] fileUpload
- [ ] fleet
- [ ] indexManagement
- [ ] indexPatternManagement
- [ ] infra
- [ ] licenseManagement
- [ ] maps
- [ ] mapsLegacy
- [ ] mapsOss
- [ ] ml
- [ ] observability
- [ ] remoteClusters
- [ ] runtimeFields

</details>

<details>
  <summary>index_li

[2021-01-26 18:26] jonathan-buttner opened #89337 "Analyzer does not include indices to use in requests"
**Kibana version:**
7.11

**Describe the bug:**
When viewing the graphical analyzer view for a process graph, the UI does not populate the indices field of the request to the backend. I believe this causes the backend to query all local indices in ES. This fails for CCS where the events are not located on the local ES instance.

**Steps to reproduce:**
Open the analyzer and observe the network req

[2021-01-26 18:26] elasticmachine commented on #89337
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-01-26 18:26] TinaHeiligers commented on #80508
@elastic/kibana-gis [several plugins](https://github.com/elastic/kibana/issues/89321) depend on the `maps_oss` plugin being migrated to TS project refs. The plugin isn't mentioned in this issue so you may not be aware that it needs to be migrated.

[2021-01-26 18:29] jonathan-buttner commented on #89337
cc: @aarju

[2021-01-26 18:32] restrry commented on #57546
nothing even comes close to `taskManager` spamming in `verbose` mode :D

[2021-01-26 18:56] myasonik opened #89339 "[Lens] (Accessibility) Add esc key as option to close configuration panel"
Using the configuration panel with a keyboard for a bit, I found myself constantly trying to use <kbd>esc</kbd> to close it. Though not a strict requirement as there are several clear ways to close it, could be a nice enhancement.

For reference, I'm talking about this right-hand panel:
<img width="454" alt="Screen Shot 2021-01-26 at 13 54 04" src="https://user-images.githubusercontent.com/4188087

[2021-01-26 18:56] elasticmachine commented on #89339
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-01-26 18:56] elasticmachine commented on #89339
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-01-26 19:03] flash1293 commented on #89339
Agreed, and thats a great one for fix-it-week

[2021-01-26 19:04] wylieconlon commented on #62333
After discussion with @ppisljar and @lizozom  we have realized that a SQL search strategy is the missing piece needed here, but that it can be done. There is currently no issue tracking the SQL search strategy.

[2021-01-26 19:06] nickofthyme commented on #89306
This is an issue in elastic-charts. I opened a PR and will backport this into `7.10` if possible. See https://github.com/elastic/elastic-charts/pull/993

[2021-01-26 19:07] lukasolson opened #89340 "Support for light/dark theme from system setting"
**Describe the feature:**

Currently, an advanced setting `theme:darkMode` controls whether you see Kibana in light or dark mode.

Instead of having a simple toggle (dark mode on/off), it'd really be nice if there were three options: Light mode, dark mode, or browser setting (similar to how we do timezones). It'd be especially nice for those Mac users who have the preference set to "auto" so it ch

[2021-01-26 19:07] elasticmachine commented on #89340
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-01-26 19:18] angorayc opened #89343 "Select external connector appears sometimes after landing on case details view"
Steps to reproduce:
1. Go to detections page, add an alert to a case.
2. Clicking on `view case` on bottom right corner when the toast appears.
3. Clicking on `copy reference link` and paste it in a new tab.
![Screenshot 2021-01-27 at 02 58 09](https://user-images.githubusercontent.com/6295984/105894760-86a89000-600c-11eb-847f-e32a456ccacf.png)
4. Sometimes the red banner appears unexpectedly.

<i

[2021-01-26 19:29] elasticmachine commented on #89343
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-01-26 19:45] legrego commented on #33496
Support for read-only saved objects is being discussed here: https://github.com/elastic/kibana/issues/70461

Would non-persisted objects be accessed via the existing saved objects service, or handled within application code directly?

[2021-01-26 19:47] legrego commented on #84317
Updated issue description to call out the dev tools/password change scenario we discussed today

[2021-01-26 19:48] talevy commented on #89180
I think I see the problem. `manage` does not include all of `manage_rollup`. I will push a PR to fix this. This is indeed a bug on the ES side

[2021-01-26 19:55] elasticmachine commented on #89343
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-01-26 20:14] ogupte opened #89350 "[APM] Service overview inconsistencies between throughput chart & transactions"
The throughput chart appears to display total transaction count rather than the calculated throughput transaction per minute rate that is displayed in the table.

![image.png](https://zube.io/files/elastic/d4751013f22b25c616265ee8606f32b7-image.png)

[2021-01-26 20:14] elasticmachine commented on #89350
Pinging @elastic/apm-ui (Team:apm)

[2021-01-26 20:18] legrego commented on #89180
@mistic since this is a bug on the ES side, should we unskip these failing tests and revert the snapshot promotion?

[2021-01-26 20:27] liza-mae commented on #87709
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_discover·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #87710
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard
- dashboard app using current data legacy urls "after all" hook in "legacy urls"
- dashboard app using current data legacy urls kibana link

[2021-01-26 20:27] liza-mae commented on #87711
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/full_screen_mode·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data full screen mode displays exit full screen logo button when panel is expanded
- dashboard app using current data full screen mode exits when the text button is clicked on
- dashboard app using current data

[2021-01-26 20:27] liza-mae commented on #87712
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter pills are added when a pie chart slice is clicked
- dashboard app using current data dashboard filter bar filter pills are preserved after saving a dashboard
- dashboard app

[2021-01-26 20:27] liza-mae opened #89352 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js - timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for split argument when index pattern set"
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/timelion/_expression_typeahead·js**
**Stack Trace:**
[code]
**Other test failures:**
- timelion app expression typeahead dynamic suggestions for argument values .es() should show field suggestions for metric argument when index pattern set

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf

[2021-01-26 20:27] liza-mae commented on #86516
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #86517
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·js**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using legacy data dashboard listing page search by title preloads search filter bar when there is no match
- dashboard app using legacy data dashboard listing page search by title matches a title with many special characters

[2021-01-26 20:27] liza-mae opened #89353 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/enable_monitoring/index·js - Monitoring app Monitoring is turned off Monitoring enabled"
**Version: 7.11.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/enable_monitoring/index·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae opened #89354 "[test-failed]: X-Pack APM API integration tests (trial)1.x-pack/test/apm_api_integration/trial/tests/csm/js_errors·ts - APM specs (trial) CSM CSM js errors when there is data returns js errors"
**Version: 7.11.0**
**Class: X-Pack APM API integration tests (trial)1.x-pack/test/apm_api_integration/trial/tests/csm/js_errors·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae opened #89355 "[test-failed]: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts - detection engine api security and spaces enabled get_prepackaged_rules_status getting prepackaged rules status should show rules and timelines are installed when adding pre-packaged rules"
**Version: 7.11.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_prepackaged_rules_status·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae opened #89356 "[test-failed]: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/policy_details·ts - endpoint When on the Endpoint Policy Details Page when on Ingest Policy Edit Package Policy page should allow updates to policy items"
**Version: 7.11.0**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/policy_details·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #87719
**Version: 7.11.0**
**Class: X-Pack Security API Integration Tests (Session Idle Timeout)1.x-pack/test/security_api_integration/tests/session_idle/cleanup·ts**
**Stack Trace:**
[code]
**Other test failures:**
- security APIs - Session Idle Session Idle cleanup should properly clean up session expired because of idle timeout when providers override global session config
- security APIs - Session Id

[2021-01-26 20:27] liza-mae commented on #87720
**Version: 7.11.0**
**Class: X-Pack Security API Integration Tests (Session Idle Timeout)1.x-pack/test/security_api_integration/tests/session_idle/extension·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #63033
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·js**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  tile map visualize app complete config "before all" hook in "complete config"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #63034
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_region_map·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #86523
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_

[2021-01-26 20:27] liza-mae commented on #76181
**Version: 7.11.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1214/testReport/_