[2021-03-02 11:19] streamich commented on #93109
Here is a preliminary plan with an increasing level of effort:

1. Quickest temporary solution could be to disable batching for dashboard requests.
2. The second temporary solution (and a nice new feature for `bfetch` plugin) is to add support to limiting batch size based on payload size in bytes.
3. The real best solution would be to come up with a way where we don't need to send `fields` from br

[2021-03-02 11:20] dgieselaar opened #93196 "[APM] Investigate implications of using Kibana index pattern for searches"
We are talking to the Elasticsearch team about backwards compatibility without requiring data to be migrated. One scenario is that we would define runtime fields in a Kibana index pattern, and use those fields in a search request. The Kibana index pattern could be used to provide a consistent experience with other Kibana apps, e.g. Discover or Lens. We should look into what it would mean for us to

[2021-03-02 11:20] elasticmachine commented on #93196
Pinging @elastic/apm-ui (Team:apm)

[2021-03-02 11:21] elasticmachine commented on #92605
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-02 11:23] Kerry350 commented on #92382
@afgomez

This one is related to https://github.com/elastic/kibana/issues/92215#issuecomment-787868188. It's the issue with the async searches not firing. I'm working on a fix, so please ignore that one.

[2021-03-02 11:24] elasticmachine commented on #92355
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-02 11:30] MadameSheema commented on #92355
@elastic/kibana-alerting-services would you be willing to take a look to this issue when you have the chance? Thanks :)

[2021-03-02 11:48] streamich commented on #93109
As discussed with @ppisljar, the real problem is that the search strategy is sending over the `options` field, which should not be sent, instead, we should just send over the index pattern ID.

![image](https://user-images.githubusercontent.com/9773803/109644155-69a83500-7b55-11eb-8777-1a6712122d5d.png)

[2021-03-02 11:57] skh commented on #92814
Good catch, thank you. This broke due to the fleet server feature flag changes. Fix in https://github.com/elastic/kibana/pull/93198

[2021-03-02 11:57] streamich opened #93199 "bfetch: limit batch size by payload size in bytes"
Currently `bfetch` automatically flushes batches on two conditions (by default, those parameters can be changes):

1. when 10ms since batch has been started have passed;
2. when batch reaches 25 items.

Add a third way of flushing a batch:

- when the estimated HTTP request body payload size reaches max payload size limit (~1MB).

[2021-03-02 11:57] elasticmachine commented on #93199
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-02 11:57] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12284/)

[2021-03-02 11:58] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12284/)

[2021-03-02 12:01] Dosant opened #93200 "[meta] iFrame embedding inconsitencies"
This is an umbrella issue to discuss and work through various and very similar iFrame embedding clientside bugs like:

* https://github.com/elastic/kibana/issues/89362
* https://github.com/elastic/kibana/issues/89208
* https://github.com/elastic/kibana/issues/87948
* https://github.com/elastic/kibana/issues/91590
* https://github.com/elastic/kibana/issues/89380
* https://github.com/elastic/kibana/

[2021-03-02 12:04] Dosant commented on #93200
This issue is created as part of @elastic/kibana-app-services fix-it-week mostly to group embedding related bugs together.
It doesn't look like these are high-impact issues that require immediate attention, but it would be nice to have this `meta` for future discussions and more consideration in case something else comes up until we prioritize these embedding issues.

[2021-03-02 12:07] ruflin commented on #93051
I need to read up on this more but I think a role can be specified for an API but in the end the API Key only gets the permissions of the role itself. So if we check for the role, it will not be there and is the reason why it doesn't work.

@narph What is the API call you are making? Is this for `/setup`?

[2021-03-02 12:15] Dosant commented on #89362
I am putting the `blocked` label because it seems it deserves a broader discussion and a somewhat generic approach and also isn't high impact.
https://github.com/elastic/kibana/issues/93200

[2021-03-02 12:17] Dosant commented on #89208
I am putting the blocked label because it seems it deserves a broader discussion and a somewhat generic approach as part of #93200 and also it isn't high impact.

[2021-03-02 12:17] elasticmachine commented on #89208
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-02 12:18] Dosant commented on #87948
I am putting the blocked label because it seems it deserves a broader discussion and a somewhat generic approach as part of #93200 and also it isn't critical.

[2021-03-02 12:24] rudolf commented on #93155
Some documents like canvas templates can be 10 megabytes, but this is definitely the exception. We won't really be able to come up with a good estimate for how much heap it could consume because the document size could be so different.

When I tested with sample data and 100k saved objects I couldn't see a difference in Kibana's or Elasticsearch's heap consumption between batches of 100 or 1000 do

[2021-03-02 12:33] sqren commented on #93194
Not against this idea (would simplify things) but we've discussed it before and there was hesitation to increase the barriers to upgrading a single part of the stack.
Has anything new come up, or any recent issues caused by this?

[2021-03-02 12:37] simitt commented on #89987
I did not imagine to completely move the Getting Started Guide inside Fleet, at least not for `7.x`. Fleet currently requires superuser privileges, but the APM Getting Started Guide does not. For `7.13` we are discussing to only [link to the Fleet Integration from the Getting Started Guide](https://github.com/elastic/kibana/issues/88659#issuecomment-788829526) and to ensure the APM Server URL + se

[2021-03-02 12:37] dgieselaar commented on #93194
The new thing is Fleet/8.0. This was discussed in context of runtime fields, where it was suggested we could depend on APM Server to add runtime fields to index mappings, but that would require both Kibana and APM Server to be on the same minor. @axw mentioned that it was discussed but he wasn't sure if there was any decision, and he would be open to considering it, but he did mention the Fleet up

[2021-03-02 12:48] streamich commented on #93109
Looking more through the code, it is not as simple as just not sending the `options` object, there might be bigger code changes necessary.

[2021-03-02 12:50] Betaminos commented on #89878
@lizozom
It seems that Kibana is requesting the data just fine when using the GUI:
![grafik](https://user-images.githubusercontent.com/1180151/109650328-5b5e1700-7b5d-11eb-9ef7-212f7b62acad.png)
In this trial, I did use the GUI to create "Is One Of"-filter.

However, when I switched to the Query DSL view, adjusted one of the materials and saved it again, the filter seems to no longer be sent:
![gr

[2021-03-02 12:52] walterra opened #93205 "[ML] Increase Test Coverage 7.13"
Follow up to #88811.

Meta issue to summarize improvements to test coverage for `7.13`.

## Jest unit tests

- [x] `x-pack/plugins/transform/server/routes/api/transforms_nodes.test.ts` #93956 — `isNodes()` type guard tests
- [x] `x-pack/plugins/ml/common/constants/messages.test.ts ` #94568 — client side unit tests for job validation messages
- [x] `x-pack/plugins/ml/public/application/data_frame_a

[2021-03-02 12:52] elasticmachine commented on #93205
Pinging @elastic/ml-ui (:ml)

[2021-03-02 12:59] #88811 closed

[2021-03-02 13:08] tarekkilani opened #93206 "IP reputation ELK integration"
Hello,

Please i'm trying to integrate abuseipdb API to elasticsearch so i can have a reputation score of the IP adressess. When i searched on the internet i only found tutorials talking about integrating abuseipdb with ELK using Logstash. Is there any other way to do it without using Logstash? (Like the Addon of abuseipdb in Splunk SIEM) Or is there any other ip reputation api that i can use?

[2021-03-02 13:10] darnautov commented on #83748
This definitely would be useful for the Anomaly detection alert type. Many things might happen after the alert has been created, e.g. datafeed has been stopped or anomaly detection job has been deleted. Throwing an error and showing it in the Alert and Action UI doesn't suffice because depending on the significance of this alert, the user should take actions to resolve it, hence receiving a notifi

[2021-03-02 13:21] flash1293 commented on #92135
@dej611 Are you currently working on this? As it seems like this issue can't be easily solved in a nice way without low level changes (which I would like to avoid at this point for 7.12), what do you think about moving the screenreader component into the lens root element for 7.12 to take the pressure out of fixing this and opening a separate issue to solve it in a "nice" way?

[2021-03-02 13:33] mbondyra commented on #93031
It only happens for the pie chart of one `Slice by` and it is caused by this logic:
[code]
here:
https://github.com/elastic/kibana/blob/16a37800217710579837c42b85610113d3ec567d/x-pack/plugins/lens/public/pie_visualization/visualization.tsx#L200

@wylieconlon, do you happen to remember what was the intention behind it? I cannot figure it out 😭

[2021-03-02 13:49] #93036 closed

[2021-03-02 13:53] dgieselaar commented on #92368
Thank you @alfkonee - we are currently assuming it's not a label issue, but the values being calculated in the wrong manner. I've updated the issue to reflect this assumption and we hope to work on it as soon as possible.

[2021-03-02 13:58] pmuellr commented on #93009
It is certainly something like that - probably a new "status" value, and a corresponding built-in action group.  Each alert type would have to make it's own determination of "no data" ... eg, for the index threshold, it could be that no index was found, or that the no documents were found for the specified query.

[2021-03-02 14:01] sqren commented on #89989
Did we ask the cloud team if it was possible for them to inject the fleet details like they did previously?

Do you know if an API exists?

[2021-03-02 14:07] pmuellr commented on #92949
Another thing I'm wondering is if the intention is to NOT use the http proxy with the email connector.  I was frankly a little surprised that the `node_mailer` package we use for mailing supported an http proxy.  But I'm thinking that folks using an http proxy may also be expecting smtp to NOT use a proxy, because their proxy doesn't support HTTP.

If so, we'll need some separate setting for the e

[2021-03-02 14:09] #92814 closed

[2021-03-02 14:09] graphaelli commented on #91458
Moved to backlog for now, we'll document around this per https://github.com/elastic/apm-server/issues/4494

[2021-03-02 14:15] graphaelli commented on #91412
@formgeist - @jalvz can provide requirements for design

[2021-03-02 14:15] charlie-pichette commented on #73941
While trouble shooting issues with the agent I ran into this issue.  I find it frustrating to troubleshoot issues without the ability to filter the list at least by operating system.  I think we should also provide the user the ability to filter by the fields displayed on the page.

[2021-03-02 14:26] elasticmachine commented on #93170
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-02 14:28] paulb-elastic commented on #92061
We suspect this is an edge case that will have been fixed in recent changes, so will keep this open for a few more weeks to see if it happens again.

[2021-03-02 14:30] flash1293 commented on #93170
I checked the failure and some completely unrelated request failed because of something in the infrastructure:
[code]

Going to close for now as it's not related to Lens

[2021-03-02 14:30] elasticmachine commented on #93152
Pinging @elastic/kibana-security (Team:Security)

[2021-03-02 14:31] mistic commented on #93152
This test has been failing and looks flaky. Skipping for now.

master/8.0: a8adbbf
7.x/7.13: 91168ee

[2021-03-02 14:32] charlie-pichette commented on #92853
I ran into a similar error.  If you manually delete the entry in the filter and just click off the list you will get the error and it continues until you either click back in the filter field and press enter or refresh the page.  It is not obvious that clicking in the filter field and pressing enter will clear the data.  Refreshing the page removes all the settings you had including rows per page

[2021-03-02 14:33] legrego commented on #93152
@mistic this test belongs to the security solutions team, not the security team. I'll reassign for triage

[2021-03-02 14:34] elasticmachine commented on #93152
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-02 14:35] elasticmachine commented on #93152
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-02 14:37] elasticmachine commented on #93188
Pinging @elastic/ml-ui (:ml)

[2021-03-02 14:38] karanbirsingh-qasource commented on #93008
Thanks @cnasikas for letting us known for this pre-requirste  to correctly use the ServiceNow SecOps connector on Case .

we got the help guide for installing the SIR , thanks @MadameSheema  for sharing the same and following the same we are able to insall the SIR application on our developer instance .

Now we are able to populate the drop-down for Category and sub-category for ServiceNow SecOps

[2021-03-02 14:38] #93008 closed

[2021-03-02 14:44] markov00 commented on #92408
@wylieconlon there isn't a rule written in stone, it depends on cultural heritage probably, I read the watch clockwise and I found easier to read a piechart in the same direction. Someone else argues that when placing the biggest slice at 12 o'clock and all the others slices should go from 12 o'clock counterclockwise, but I see also examples of the opposite.
Talking with Marco, I just remembered h

[2021-03-02 14:49] MadameSheema commented on #92798
@karanbirsingh-qasource can you please validate the fix on BC3? Thanks :)

[2021-03-02 14:53] ryankeairns commented on #92262
I'm in favor of option 3 - repurpose this issue to focus on adding all solution/grouping aliases.

It seems like a nice thing to do in one fell swoop as it may feel a bit broken to have Analytics return results and Observability not.

[2021-03-02 14:54] #91028 closed

[2021-03-02 14:54] #91262 closed

[2021-03-02 14:54] #91305 closed

[2021-03-02 14:54] #91330 closed

[2021-03-02 14:54] #91331 closed

[2021-03-02 14:54] #91442 closed

[2021-03-02 14:54] #92588 closed

[2021-03-02 14:54] #92965 closed

[2021-03-02 14:54] #90770 closed

[2021-03-02 14:54] #93162 closed

[2021-03-02 14:54] pmuellr commented on #83748
@darnautov Another thing you might want to look into (if you haven't already), is alert navigation.  This provides the ability for an alert type to provide link backs to another Kibana application, from the centralized alerting UIs.

Some doc here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerts/README.md#alert-navigation

If you run Kibana with `--run-examples`, there's an exa

[2021-03-02 14:56] flash1293 commented on #90907
This only happened once in total so far - it's hard to tell what's going on because it's so rare. I would guess in some cases the DOM isn't updated yet. We are using `waitUntilLoadingHasFinished` to check whether loading is finished, but if the timing is bad, it's possible the next assertion is done before the DOM is updated. As it's not really possible to reliably determine this (there are a lot

[2021-03-02 14:59] gmmorris commented on #92166
Go Go Go!

[2021-03-02 15:15] ymao1 commented on #87010
[code]

[2021-03-02 15:16] ryankeairns commented on #92618
Thanks for sharing your thoughts. Perhaps we can achieve a balance of both by adding an Options (or Settings) link in the top menu. Dashboard, and other applications, use such a link for similar capabilities. This approach leverages an existing pattern that should lend itself to being discoverable, doesn't eat up any of the UI in the working area, and provides adequate space for us to add copy and

[2021-03-02 15:19] EricDavisX commented on #91570
@kevinlog @ph can we confirm specs on what is implemented for 7.11.2 ?  The test team need not be involved if we have adequate automation of course, but let us know if we want regression coverage or new tests written out for executing specific tests.  And we can update the label if nothing new went in for 7.11.2 from kibana / Fleet / OLM side?

[2021-03-02 15:20] ThomThomson commented on #92702
Thanks for adding the loe / impact tags Kent! I'm working on a fix which should cover changes to filters and the time filter.

[2021-03-02 15:23] pmuellr commented on #87010
I'm wondering if there is some odd chance that this has caught an error in our code - we've had a couple of reports of "legacy" alerts not running in the field, when we expected them to, but never determined what was causing that.  The specific failure in this test is showing the same problem.

Might be useful to spend a couple of minutes looking through the legacy RBAC stuff ... but I assume this

[2021-03-02 15:24] timroes commented on #93206
Hi,

thanks a lot for engaging with the Kibana community. We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests) in Kibana. Thus it's unlikely your question will get the attention it deserves here - and unfortunately also makes it a bit harder to track our issues, why I would kindly please you to use our [forums](https://discuss.elastic.co/c/elastic-stack/

[2021-03-02 15:24] #93206 closed

[2021-03-02 15:26] timroes commented on #17134
Related issue in Lens: https://github.com/elastic/kibana/issues/77530

[2021-03-02 15:26] timroes commented on #93174
Duplicate of https://github.com/elastic/kibana/issues/17134

[2021-03-02 15:26] #93174 closed

[2021-03-02 15:32] yctercero opened #93245 "[Security Solution] - Preview query grayed out when only filters present"
**Describe the bug:**

On rule creation/edit, the preview query button is grayed out when a rule includes only filters and the query bar is empty. This was not a use case that had been considered during feature development. Though having worked on this initially, this should be a not too difficult tweak.

**Kibana Stack version:**
7.10+

**Steps to reproduce:**

1. Go to create a detection rule
2.

[2021-03-02 15:32] elasticmachine commented on #93245
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-02 15:38] ymao1 commented on #87010
I recently fixed another legacy rbac test failure https://github.com/elastic/kibana/issues/86952 where the root cause was a race condition in how the functional test runner loads and migrates from the esArchiver. This could be another flake caused by something similar.

[2021-03-02 15:39] gmmorris commented on #87010
Looks like the previous failures in this test were a different issue (fixed by Mike), so I'd put money down on flaky test rather than functionality....
Definitely worth checking if it's the same issue @ymao1

[2021-03-02 15:39] waaalex commented on #92957
Hello Spencer,

sorry for late answer, i had an emergency this morning.
So :

tar xpfz kibana-7.11.1-linux-aarch64.tar.gz 2> log.log (In attachment)
tar xfz kibana-7.11.1-linux-aarch64.tar.gz 2> logWithoutP.log (In attachement too)

I'm in centos 7, latest update, yum update OK.

Regards.

________________________________
De : Spencer <notifications@github.com>
Envoyé : lundi 1 mars 2021 21:23
À :

[2021-03-02 15:40] waaalex commented on #92957
[log.log](https://github.com/elastic/kibana/files/6069781/log.log)
[logWithoutP.log](https://github.com/elastic/kibana/files/6069783/logWithoutP.log)

[2021-03-02 15:41] gmmorris commented on #92949
Removing the `Bug` label unti lwe can confirm it isn't a configuration problem

[2021-03-02 15:45] flash1293 commented on #57710
Moved this to https://github.com/elastic/kibana/issues/57707

[2021-03-02 15:45] #57710 closed

[2021-03-02 15:47] hungnguyen-elastic opened #93247 "SIEM: Allow a default detection signal action/connector"
**Describe the feature:**
This feature will allow users to apply connector in bulk to many detection signal at the same time or create a default action for all signals

**Describe a specific use case for the feature:**
When users decide to use Elastic built-in detection signals and use external case management tool, users would have to go each on of the signals to setup the connector. This can be

[2021-03-02 15:48] wylieconlon opened #93248 "Support for semantic version data type in index patterns, aggregations, and Lens"
Kibana should have full support for the new [semantic versioning data type](https://www.elastic.co/guide/en/elasticsearch/reference/current/version.html), which was introduced in Elasticsearch 7.10 but is not supported in Kibana. Because it's a type of Keyword field, we should be able to map this as a `string` everywhere in Kibana.

[2021-03-02 15:48] elasticmachine commented on #93248
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-02 15:49] kertal commented on #92886
we discussed offline, decided the best way would be to disable the removing of the time column in the sidebar when using legacy grid .. the we get rid of legacy, the user should be able to remove the time column, so no more restrictions

[2021-03-02 15:50] cnasikas commented on #93008
Thank you @karanbirsingh-qasource

[2021-03-02 15:51] tylersmalley commented on #90905
it sounds like you're looking to create a plugin with the purpose of sharing a set of React components. If that is the case, I would instead suggest creating a package. Currently, the developer experience is a bit lacking to what the plugin dev is, happy to discuss further. But with the Bazel migration, this will quickly surpass it in the coming months. https://github.com/elastic/kibana/pull/92758

[2021-03-02 15:52] ThomThomson commented on #65179
This was fixed in https://github.com/elastic/kibana/pull/86939

[2021-03-02 15:52] #65179 closed

[2021-03-02 15:52] elasticmachine commented on #92814
Pinging @elastic/fleet (Team:Fleet)

[2021-03-02 15:59] chrisronline opened #93250 "[Monitoring] Alerts are not created automatically after enabling monitoring"
On the no data page, if you click Enable monitoring, it will eventually reload the page to show monitoring data, but alert creation requires a hard page refresh which is not ideal. We should ensure the alerts are created without needing this hard refresh.

[2021-03-02 15:59] elasticmachine commented on #93250
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-02 15:59] cjcenizal commented on #91189
Thanks @sebelga. Recently we've been investing in improving the Cloud-specific UX (for example https://github.com/elastic/kibana/pull/90592 and https://github.com/elastic/kibana/issues/90894), so I was thinking it would be good to chat with Roy earlier in the process and verify any Cloud-specific requirements to consider before getting too far along into implementation.

[2021-03-02 16:01] kmartastic commented on #92262
@alexfrancoeur
Do we have any data that says that people are already trying these terms when searching?
Or are we trying to enhance the top nav and promote it as the most convenient way to navigate in Kibana?

[2021-03-02 16:02] hbharding commented on #89396
I'll take this one @ph.

A quick update: I've been meeting with Jason and Mukesh and we've explored user journeys + wireframes for providing Fleet Server setup instructions within Fleet. Due to the complexity of the steps and various use cases to consider, we're leaning towards pointing the user to documentation for instruction. This will help lessen the required engineering effort and improve our

[2021-03-02 16:03] #92821 closed

[2021-03-02 16:05] #82497 closed

[2021-03-02 16:08] kevinlog commented on #91570
@EricDavisX for 7.11.2, there has only been some better error handling when users hit this case from the ES side.  Also the API will be able to stop and delete a transform even if the user doesn't have the correct node roles.  @hendrikmuhs can give more here.

There have been no Kibana changes yet.

There is a larger issue for better error handling in Fleet: https://github.com/elastic/kibana/issue

[2021-03-02 16:13] dikshachauhan-qasource opened #93253 "Error message shown up while adding Kafka integration (v0.3.6 on 7.12 BC2)"
**Kibana version:**
7.12 BC2 Kibana Cloud environment
BUILD 39000
COMMIT 4f65a5a1268fa78f1af9117d12312e1cee433376

**Steps to reproduce:**
1. Create a new policy in Fleet (no Agents assigned to this policy yet)
2. Add Integration 'Kafka' to this new policy.
4. Observe an error message is shown up. Screenshot attached for reference.

Expected Result:
No error message should be displayed while addin

[2021-03-02 16:13] elasticmachine commented on #93253
Pinging @elastic/fleet (Feature:Fleet)

[2021-03-02 16:14] thomasneirynck opened #93254 "[Maps] GeoJson file upload should support geometry-collections"
In 7.12, Maps added support for geometry-collections stored in Elasticsearch.

 GeoJson upload does not support GeometryCollections. It breaks in two ways:
    - the layer-preview breaks because the label-centroid calculation throws when encountering a geometry-collection
    - the upload to elasticsearch fails because the `geometries` array is not correctly set

To close the loop on this, and rem

[2021-03-02 16:14] elasticmachine commented on #93254
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-02 16:15] MadameSheema commented on #92819
@deepikakeshav-qasource can you please validate the fix of this on BC3? Thanks :)

[2021-03-02 16:18] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12288/)

[2021-03-02 16:18] EricDavisX commented on #93253
@skh confirmed it was on the Fleet side and so I transferred it to Kibana for proper monitoring.... eww, I hope I didn't lose all of the discussion / context from when it was in Integrations repo when I did that, ouch, sorry, if so.  :(

Sonja, here or in the pr do you mind to post what change caused it so we can evaluate it for test improvement needed.

[2021-03-02 16:28] EricDavisX commented on #93253
When we see the fix, it will be good to confirm if we want to test any other Integrations that have unique yml that the main Fleet team coverage Integrations (System, Linux, Windows, Endpoint) do NOT have which we want to cover.  @masci let us know any of them you want us to document as a manual test case on the Kibana side, and Sonja we can review what is automated and what can easily be automate

[2021-03-02 16:34] #92408 closed

[2021-03-02 16:36] Zacqary opened #93258 "[Alerts] [Discuss] Alert UIs that depend on their parent plugins crash in Alerts Management"
Because alert UIs live inside of the plugin that defines their alert type, it's possible to write an alert UI that will work perfectly inside of its parent app, but crashes when you try to create or edit that alert type from the Alerts Management screen. For example, making use of a plugin dependency that `triggers_actions_ui` doesn't have.

Right now the only solution to this is to manually test

[2021-03-02 16:36] elasticmachine commented on #93258
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-02 16:43] tsullivan commented on #60564
**Note:** We want to start using `page.emulateTimezone` to fix date formatting: https://github.com/elastic/kibana/issues/73242

However, if we do then keeping a single running instance would be slightly more complex: we would need to keep a separate instance per timezone: https://github.com/puppeteer/puppeteer/issues/6176#issuecomment-687125291

[2021-03-02 16:48] thomasneirynck opened #93261 "[Maps][File upload] Remove usage of max file size advanced setting 1GB limit in geo file upload"
Discussed first here: https://github.com/elastic/kibana/pull/92620#pullrequestreview-601110239

The `maxFileSize` advanced-setting seems arbitrary, especially in the context of maps, since:
    - preview only loads first 10k features
    - ingest is streamed, so the file is not held in memory

Was suggested that this setting makes more sense as a sys-admin level safety break in `kibana.yml`, rathe

[2021-03-02 16:48] elasticmachine commented on #93261
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-02 16:48] ryankeairns commented on #92262
That was not directed at me, but I can confirm that this ^ has been a key driver from the outset.

[2021-03-02 16:49] mattkime commented on #80316
It appears to me that the `bfetch` responses are base64 encoded. Do you know why this might be? I haven't seen this before, I'm checking with other engineers.

[2021-03-02 16:51] rmoff commented on #59751
+1 this would be hugely useful. It's kinda clunk at the moment to have to draw a bounding shape each time one wants to limit the data shown relative to the map.

[2021-03-02 16:57] flash1293 commented on #87115
Plan of action for the fix-it-week: Try to keep the user on descending metric sorting
 * If current sort metric is removed, switch to another one
 * If metric defaulted to alphabetical sorting because no metric was available (or got removed) and a new metric gets added, switch to this metric as sort metric (desc)

[2021-03-02 17:01] flash1293 commented on #93248
Side note for Lens - we should pick this up in the sorting logic for the table

[2021-03-02 17:06] flash1293 opened #93265 "[Lens] Format range labels in tables"
There are a bunch of places in Lens where the current approach of formatters (a function "value -> formatted string", tied to the field of the index pattern) falls short, because in a lot of cases the context (in this case the visualization) has to be taken into account as well:
* Number histogram in a transposed table: The labels are built from the start of the bucket without information about th

[2021-03-02 17:06] elasticmachine commented on #93265
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-02 17:08] wylieconlon commented on #93248
Unlike regular `keyword` fields, you can use a `range` query on semantic version fields.

[2021-03-02 17:09] tylersmalley commented on #37366
We made it to Node 14!

[2021-03-02 17:09] #37366 closed

[2021-03-02 17:12] ThomThomson opened #93266 "[Time to Visualize] State From Snapshot Share Not Persisted"
**Kibana version:** master

**Describe the bug:**
Because dashboard panels are no longer in the URL in view mode since 7.8 (https://github.com/elastic/kibana/pull/62415), _refreshing_ the browser window when viewing a shared snapshot from a saved dashboard will restore the panels from the saved object. This might make it seem like the snapshot link isn't working - even though opening the snapshot

[2021-03-02 17:12] elasticmachine commented on #93266
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-02 17:12] ThomThomson commented on #91474
I tested this in master, and the snapshot link works correctly. I.e when you paste a snapshot URL into the browser it loads the state from the URL, which overrides the state from the saved object.

That said, I noticed a much smaller, but related issue https://github.com/elastic/kibana/issues/93266

[2021-03-02 17:12] #91474 closed

[2021-03-02 17:15] tylersmalley commented on #54595
Related, @spalger has a draft up to instrument the FTR with APM

[2021-03-02 17:16] tylersmalley commented on #57406
Closing this, as we no longer ship a vendor's bundle.

[2021-03-02 17:16] #57406 closed

[2021-03-02 17:23] #93000 closed

[2021-03-02 17:24] #39085 closed

[2021-03-02 17:25] tylersmalley commented on #34557
Closing in favor of https://github.com/elastic/kibana/issues/70733

[2021-03-02 17:25] #34557 closed

[2021-03-02 17:27] mattkime commented on #75711
This will be resolved by using runtime fields instead of scripted fields in 7.12 - https://github.com/elastic/kibana/pull/88995

[2021-03-02 17:27] #75711 closed

[2021-03-02 17:28] ThomThomson commented on #85718
It seems like time to close this one.

Basically, the markdown had a link using an old URL format, and the BWC couldn't carry over the pinned filters because the link caused a hard refresh. The best fix for users encountering this problem would be to update their links.

[2021-03-02 17:28] #85718 closed

[2021-03-02 17:30] tsullivan commented on #79793
1. This article: https://media-codings.com/articles/automatically-detect-memory-leaks-with-puppeteer is a good one that explores how an author. It talks about taking heap snapshots using CDP and counting objects on the page to detect memory leaks.

2. @joelgriffith wrote an article that talks about using `treekill` to clean up helper processes that were spawned by Chromium. I'm unaware if the curr

[2021-03-02 17:48] wayneseymour commented on #54595
No my boss has me on something else since we've the Gatling project going.

On Tue, Mar 2, 2021 at 10:16 AM Tyler Smalley <notifications@github.com>
wrote:

--

*Tre' Seymour*

Senior Software Engineer

Kibana QA - JavaScript Engineer in Test

https://www.elastic.co/

[2021-03-02 17:52] tsullivan commented on #90274
The code in question here is ESQueue, which uses a loop to poll for Reporting jobs to claim. If the Reporting feature is enabled but reports aren't generated, the loop still runs. After 7.12, we are removing ESQueue and replacing it with a Kibana-wide service called Task Manager.

[2021-03-02 17:55] simianhacker commented on #93082
LGTM

[2021-03-02 17:55] #93082 closed

[2021-03-02 18:00] tsullivan commented on #42731
Duplicate of https://github.com/elastic/kibana/issues/42730

[2021-03-02 18:00] #42731 closed

[2021-03-02 18:02] simianhacker commented on #93081
LGTM

[2021-03-02 18:02] #93081 closed

[2021-03-02 18:10] simianhacker commented on #93080
LGTM

[2021-03-02 18:10] #93080 closed

[2021-03-02 18:21] #90457 closed

[2021-03-02 18:22] legrego commented on #25471
This is quite old, and I don't _think_ this is an issue anymore. I'm going to close, but feel free to re-open if we haven't completely resolved this.

[2021-03-02 18:22] #25471 closed

[2021-03-02 18:27] simitt commented on #89989
That might work on creation, but it wouldn't be updated when the user changes the secret token, as it is managed by Fleet and not via the Cloud UI.

Yes there is an API to
(1) [fetch the agent policy information](https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/common/constants/routes.ts#L52-L61). The response contains the `id` (agent policy ID).
For example `curl -u username:pwd

[2021-03-02 18:28] kmartastic commented on #91282
@thomasneirynck This is not the behavior in Lens. We should fix this in Maps.

[2021-03-02 18:34] #89685 closed

[2021-03-02 18:40] simitt commented on #89311
Depending on https://github.com/elastic/apm-server/issues/4573#issuecomment-784644507 we might not need to solve this for APM for `7.13`.

[2021-03-02 18:43] smith opened #93286 "Cases view for observability"
Security solution plans (#90905) to expose components for case management.

We need to create views in the observability solution UI to use cases, either in the top level navigation or the solution-specific sub navigation.

[2021-03-02 18:46] simianhacker commented on #93079
LGTM

[2021-03-02 18:46] #93079 closed

[2021-03-02 18:50] jonathan-buttner opened #93287 "[Security Solution][Timeline] Not showing values in table view for unmapped fields"
**Kibana version:**
7.11.1 and master

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Chrome

**Describe the bug:**

The timeline table view does not show certain fields.

**Steps to reproduce:**
1. Select an unmapped field to show as a column in the table
2. Observe that the value in the field is not shown in the table

**Expected behavior:**
Unmapped fields have the val

[2021-03-02 18:50] elasticmachine commented on #93287
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-02 18:52] jonathan-buttner commented on #93287
Closing because it's a duplicate of this one: https://github.com/elastic/kibana/issues/91424

[2021-03-02 18:52] #93287 closed

[2021-03-02 19:07] cjcenizal commented on #90217
@zanbel Can you confirm that Cloud deployments will contain the `remote_cluster_client` node role by default?

[2021-03-02 19:17] YulNaumenko commented on #79372
Blocked by https://github.com/elastic/kibana/issues/80120

[2021-03-02 19:20] #85023 closed

[2021-03-02 19:38] cjcenizal commented on #62038
@sebelga Did you find time to look into this? No worries if not, just wondering.

[2021-03-02 19:49] ryankeairns commented on #92618
How long are we planning to support both options?
If it is for only one minor, then perhaps we do want to lean toward a more temporary solution that can be removed without much affair.

[2021-03-02 20:00] EricDavisX commented on #91570
Thanks - I'll update our test plans accordingly, as nothing was checked in to Kibana side for it for 7.11.2

[2021-03-02 20:03] smith commented on #88852
Opened elastic/elastic-charts#1042 with more specific requirements.

[2021-03-02 20:05] liza-mae commented on #90281
Some recent CI test times for snapshots:

| Version  | Time (Seconds) |
| ------------- | ------------- |
| 7.11 | 426s  |
| 7.12 | 963s  |
| 7.13 | 361s  |
| 8.0   | 374s  |

[2021-03-02 20:07] #59193 closed

[2021-03-02 20:08] #86105 closed

[2021-03-02 20:15] wylieconlon opened #93307 "[Lens] Allowed fixed interval in a number histogram"
The automatic number histogram in Lens is not precise, and there are advanced users who would benefit from the ability to define the interval numerically. This mostly happens if the data fits into a known range, such as in [this discuss question](https://discuss.elastic.co/t/how-to-get-smaller-intervals-on-x-axis-in-bar-visualization/265932/5).

This feature request would basically create 3 modes

[2021-03-02 20:15] elasticmachine commented on #93307
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-02 20:18] parkiino commented on #90261
https://github.com/elastic/kibana/pull/93306

[2021-03-02 20:22] rayafratkina commented on #92618
It's meant to be fairly short-lived - assuming all goes well.

[2021-03-02 20:32] wylieconlon opened #93311 "[Discover] Allow users to decide whether multi-fields appear in CSV export"
Discover now supports multi-fields like `field`, `field.keyword` when using the new `fields` API. When exporting the entire document to CSV, Discover now includes these multi-fields as separate columns. This will sometimes contain duplicate information, although it is _not always duplicate_. For example, if a field is multi-mapped as both `text` and `keyword`, the keyword field may have a characte

[2021-03-02 20:32] elasticmachine commented on #93311
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-02 20:40] #87982 closed

[2021-03-02 20:40] wylieconlon opened #93312 "[Discover] Small regressions in the summary row: _meta keys are displayed, and keys are not sorted"
This is a regression since 7.10, where the order of the keys is _always alphabetical_ and never includes meta properties like _id. This is a screenshot showing sample data in 7.10:

<img width="1350" alt="Screen Shot 2021-03-02 at 3 35 35 PM" src="https://user-images.githubusercontent.com/666475/109711719-2d80ce80-7b6d-11eb-907b-62e09aa802ba.png">

If I compare this to the sample data on master, I

[2021-03-02 20:40] elasticmachine commented on #93312
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-02 20:45] tsullivan commented on #37189
I deleted my earlier comment about trying to get Chromium to work with RHEL6, since we've known for a long time that it just won't work.

Today I tried setting up CentOS6 (same Linux as RHEL6) to get into a working state for Reporting. PhantomJS gets stuck on the page while waiting for the `.application` selector, and waits until the timeout. I tested with trying to generate a PDF report of a dash

[2021-03-02 20:46] tsullivan commented on #90671
Oops, I was wrong. I tried some tests myself and could not get Phantom to work with RHEL 6.

[2021-03-02 20:47] tsullivan commented on #37189
Closing for https://github.com/elastic/kibana/issues/90671

[2021-03-02 20:47] #37189 closed

[2021-03-02 20:59] ph opened #93315 "[Fleet] Integration input groups, phase 1"
### Requirements

After the input groups support is added in fleet UI, :

- [x] users will be able to search for AWS  integration, see its details in readme and Add AWS integration - This remains the same experience as today
- [x] users will be able to search for a specific service within AWS, say dynamodb and then only dynamodb tile will show up
- [x] clicking dynamodb tile: they see the AWS inte

[2021-03-02 20:59] elasticmachine commented on #93315
Pinging @elastic/fleet (Team:Fleet)

[2021-03-02 21:16] michaelolo24 commented on #92800
Great, thanks @karanbirsingh-qasource! Closing this issue

[2021-03-02 21:16] #92800 closed

[2021-03-02 21:39] spalger opened #93320 "[ci] split validation of expected repo state into separate tasks"
When we first started bootstrapping in CI we added validation after bootstrap that there weren't any changes to the repo (specifically concerned about the yarn.lock file) after running `yarn kbn bootstrap`. This method of verification has been extended to a number of other tasks which run a build script and validate that there aren't any additional changes after running that script. We should real

[2021-03-02 21:39] elasticmachine commented on #93320
Pinging @elastic/kibana-operations (Team:Operations)

[2021-03-02 21:40] tsullivan commented on #87021
The tests in `x-pack/plugins/reporting/server/routes/` are integration tests that are run through Jest. They use `setupServer`, which is called in `beforeEach`.

I look at other tests that import `setupServer` and they are usually in a sub-folder of the plugin routes folder called `integration_tests`. (For example: `src/core/server/saved_objects/routes/integration_tests/bulk_create.test.ts`) They

[2021-03-02 21:43] #88231 closed

[2021-03-02 21:46] #90440 closed

[2021-03-02 21:46] liza-mae commented on #92299
I have a case where the status is going red on kibana but I did not receive any 503 service unavailable errors.

[2021-03-02 21:47] #82861 closed

[2021-03-02 21:48] #82480 closed

[2021-03-02 21:50] secops4thewin opened #93324 "[Security Solution] Focus change of timeline reverts data sources to All Data Sources"
**Describe the bug:**

**Kibana/Elasticsearch Stack version:**
7.11.1

**Browser and Browser OS versions:**
Chrome Version 88.0.4324.192 (Official Build) (x86_64) Mac

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Timeline

**Steps to reproduce:**
1. Create a new timeline consistin

[2021-03-02 21:50] elasticmachine commented on #93324
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-02 21:50] elasticmachine commented on #93324
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-02 21:50] liza-mae commented on #92299
Just noting it looks like it is expected to fail on any http error code and does not clear.

[2021-03-02 21:57] marshallmain opened #93325 "[Security Solution] Import rule API allows importing invalid rules"
**Kibana version:**
8.0.0

**Describe the bug:**
The Security Solution import rule API has some validation that attempts to validate imported rules. However, it does not prevent rules from having fields from that are specific to other rule types, e.g. `saved_id` on a `query` rule.

Separately, the find rule API validates rules before returning them in the response. However, this validation is impl

[2021-03-02 21:57] elasticmachine commented on #93325
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-02 21:58] ThomThomson commented on #91759
fixed by #91761

[2021-03-02 21:58] #91759 closed

[2021-03-02 22:09] tsullivan commented on #87021
It's because these tests are actually integration tests and should be run with the `jest_integration` command.

The tests under `x-pack/plugins/reporting/server/routes/**/*test.ts` should all be moved to a new folder called: `x-pack/plugins/reporting/server/routes/integration_tests`.

However, it looks like we need to update the Jest integration test runner to look in the x-pack root for more test

[2021-03-02 22:10] mattkime commented on #65364
I'm unable to reproduce on master. @LeeDr are you able to reproduce?

[2021-03-02 22:19] MikePaquette opened #93333 "[Security Solution] [Detection Rule] Rule fails when query contains too many terms"
**Kibana version:** 7.12.0 BC2

**Elasticsearch version:** 7.12.0 BC2

**Server OS version:** Elastic Cloud

**Browser version:** Chrome Version 88.0.4324.192 (Official Build) (x86_64)

**Browser OS version:** macOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
When attempting to create Custom Query rule that contains

[2021-03-02 22:21] wylieconlon commented on #93312
I will slightly expand on this by saying that the sort order in 7.10 is actually the following:

1. Fields from _source, which are returned in alphabetical order by Elasticsearch
2. Meta fields
3. Date fields
4. Scripted fields

This is shown clearly in a screenshot from 7.10 where I removed the height truncation:

<img width="743" alt="Screen Shot 2021-03-02 at 5 16 31 PM" src="https://user-image

[2021-03-02 22:24] elasticmachine commented on #93333
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-02 22:24] elasticmachine commented on #93333
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-02 22:27] simianhacker commented on #93078
I'm assuming this is not acceptable?

![image](https://user-images.githubusercontent.com/41702/109723710-b6970600-7b6b-11eb-9026-8e0af91c1a6f.png)

[2021-03-02 22:34] MikePaquette opened #93337 "[Security Solution] [Detections] Enabling ML jobs from Security App keeps trying when no ML Nodes Available"
**Kibana version:** 7.12.0 BC2

**Elasticsearch version:** 7.12.0 BC2

**Server OS version:** Elastic Cloud

**Browser version:** Chrome Version 88.0.4324.192 (Official Build) (x86_64)

**Browser OS version:** macOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
When the cluster has no ML nodes, attempting to "Run job"

[2021-03-02 22:34] elasticmachine commented on #93337
Pinging @elastic/kibana-security (Team:Security)

[2021-03-02 22:34] elasticmachine commented on #93337
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-02 22:53] 111andre111 commented on #82020
From my perspective most often use cases to use these alternative are mainly 2:
1. Troubleshooting
a) There are scenarios, like mentioned already that migration paths went wrong, and by configuring alternative indices, you can learn if the migration is really the issue.
b) The same happens sometimes for the reporting indices, if reporting is not working any more.
c) In case you want to troubleshoo

[2021-03-02 22:54] TinaHeiligers commented on #92324
Closing in favor of https://github.com/elastic/kibana/pull/86013

[2021-03-02 22:54] #92324 closed

[2021-03-02 22:56] dhurley14 commented on #93333
Maybe we could capture this error on execution and update (and clean up) the status message to reflect a change is required in the config to update `indices.query.bool.max_nested_depth` property to something higher than the [default 20]?

[default 20]: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-settings.html

[2021-03-02 22:57] marshallmain opened #93342 "[Security Solution] "Automatically overwrite" option when importing rules does not completely overwrite existing rule"
**Kibana version:**
8.0.0

**Describe the bug:**
When importing a rule and attempting to overwrite an existing rule, if the new rule does not define a field that the existing rule did define then the newly imported rule will include the field from the existing rule. This can cause issues if we want to overwrite a rule with a rule of a different type, e.g. going from `saved_query` to `query` we wou

[2021-03-02 22:57] elasticmachine commented on #93342
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-02 22:59] dhurley14 commented on #93333
Forgot to mention this config was added in 7.12 which is why it was probably working in previous releases.

https://github.com/elastic/kibana/pull/88285

https://github.com/elastic/elasticsearch/pull/66204

[2021-03-02 23:06] spalger commented on #92957
Haha, bit of an understatement. I'm counting 12758 files in one log and 12818 in another. The differences between these files seem arbitrary and the majority of them are from node_modules which makes me less suspicious of the build process.

I've done some searching around for the `Cannot open: Operation not permitted` error and I'm not finding anything that indicates exactly what might prevent `t

[2021-03-02 23:08] #82000 closed

[2021-03-02 23:17] marshallmain opened #93346 "[Security Solution] Filename on value list import is stored in URI encoded form"
**Kibana version:**
8.0.0

**Describe the bug:**
When importing value lists through the UI, the file is uploaded and the filename is URI encoded during the upload. The filename is then used as the value list ID, however the filename is not URI decoded before being stored, thus a filename that includes quotes like `"Untitled".txt` is stored as `%22Untitled%22.txt`. Since it's stored this way, when

[2021-03-02 23:17] elasticmachine commented on #93346
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-02 23:32] wylieconlon opened #93349 "[Field formats] Field format editor crashes when switching away from duration formatter"
This is happening on master. Steps to reproduce:

1. Open an index pattern with a numeric field
2. Edit the numeric field
3. Click "Set format"
4. Switch to the Duration formatter
5. Switch to the Bytes formatter

The editor goes blank and the console shows this error:

[code]

cc @tsullivan @mattkime

[2021-03-02 23:32] elasticmachine commented on #93349
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-02 23:34] tsullivan commented on #93349
Just a small note, currently this is version 7.13

[2021-03-02 23:43] mattkime commented on #91399
I've reproduced the problem and think I have a small amount of code that would fix the problem but I think we should consider whether this class of error exists elsewhere in aggs.

[2021-03-03 00:19] kibanamachine opened #93354 "Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/bwc_generation_urls·ts - Reporting APIs BWC report generation urls Pre 6_2 job posted successfully"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/81/)

[2021-03-03 01:06] tsullivan commented on #42730
Hi, I ran this test in Windows, and it passed successfully in master (8.0) and 7.x (7.13.0)

BTW the errors are not showing any problem with the code - just that the test took too long to finish. That could be due to environmental or test setup issues.

[2021-03-03 01:06] #42730 closed

[2021-03-03 01:11] tsullivan opened #93355 "Unable to start and restart tests server in Windows: EBUSY: resource busy or locked"
**Kibana version:** master / 8.0

**Elasticsearch version:** n/a

**Server OS version:** Windows

**Browser version:** n/a

**Browser OS version:** Windows 10 Pro

**Original install method (e.g. download page, yum, from source, etc.):**
- from source
- using Git Bash shell

**Describe the bug:**
I'm able to start the tests server once, but trying to run again after any crash or closing it with Ct

[2021-03-03 01:12] elasticmachine commented on #93355
Pinging @elastic/kibana-operations (Team:Operations)

[2021-03-03 01:54] spong opened #93357 "[Security Solution][Detections] Pre-packaged Threshold Rules schema out of date resulting in errors on Rule Management page"
With https://github.com/elastic/kibana/pull/92667, the Threshold Rule schema has changed, so we'll need to coordinate with @elastic/protections on updating the pre-packaged threshold rules. Until the rules are updated, this issue (https://github.com/elastic/kibana/issues/93325) where the `find API` returns an error on the Rules Management page will continue to occur once the pre-packaged rules hav

[2021-03-03 01:54] elasticmachine commented on #93357
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-03 01:54] elasticmachine commented on #93357
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-03 02:07] #46376 closed

[2021-03-03 02:29] spong commented on #93333
This sounds 👍 to me. Would this suffice @MikePaquette? And if so, any preferred verbiage here?

[2021-03-03 02:52] liza-mae commented on #89382
We had a slack discussion that we could generate different binaries for the different page sizes.

[2021-03-03 03:02] liza-mae opened #93360 "Kibana bootstrap is failing on windows"
**Kibana version**: 7.12.0 BC3

**Elasticsearch version**: 7.12.0 BC3

**Server OS version**: Windows

**Original install method (e.g. download page, yum, from source, etc.)**:
Staging

**Description of the problem including expected versus actual behavior**:
Run yarn kbn bootstrap on windows

[code]

[2021-03-03 03:02] elasticmachine commented on #93360
Pinging @elastic/kibana-operations (Team:Operations)

[2021-03-03 03:16] nccaver opened #93363 "How to specify Min_doc_count in TSVB"
**Dropping Terms that have doc count of zero in TSVB visualization:**

**I need the ability to skip the display/plotting of data that has a value of zero or a specified min doc count threshold   Is that feasible?  We're on version 7.9.2
![2021-03-02_12-56-07 drop the zero lanes](https://user-images.githubusercontent.com/79334921/109747110-2de48e00-7b9c-11eb-8ace-ff883e0f94b4.png)
![2021-02-25_15-5

[2021-03-03 03:41] spong commented on #93357
This has been confirmed to be a non-issue, closing -- apologies for the noise here.

[2021-03-03 03:41] #93357 closed

[2021-03-03 05:22] matschaffer opened #93366 "Discover time selector disappears after typing query"
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Server OS version:** Elastic Cloud

**Browser version:** Chrome

**Describe the bug:**

I've had a ton of times that I think the time selector is _gone_ on Kibana's discover page.

I suspect the behavior is intentional, but it catches me off guard quite frequently.

I'll be flipping around tabs and whatnot, forgetting that I've left

[2021-03-03 06:22] #92835 closed

[2021-03-03 07:06] elasticmachine commented on #93371
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-03 07:41] ruflin commented on #89311
I don't think this depends on the index permission discussion as we are discussing here access to Kibana. Long term, apm-server should not require access to Kibana at all. Instead, the central config changes for the APM Agents should be pushed as part of the integration policy. There should be only 1 delivery mechanism for Cloud.

Until we get there, APM should create its own API Key for Kibana +

[2021-03-03 07:43] waaalex commented on #92957
Are you able to extract other tar balls?  yes
What directory are you trying to extract to? current
What permissions do you have on the machine? root ;)
Are you able to try another machine? yes, and it works. I should have tested that before.

you can close this case, i shall have an issue on the specific machine.
I'm surprised that you're using the aarch64 build, are you running on an ARM processo

[2021-03-03 07:43] #92957 closed

[2021-03-03 07:46] #93093 closed

[2021-03-03 08:02] restrry commented on #88678
@Bamieh Some code still uses `Bluebird` we can migrate to native Promises instead

[2021-03-03 08:10] karanbirsingh-qasource commented on #92798
Hi @andrew-garfield101 & @MadameSheema

we have validated this issue on 7.12.0 BC3 and  found that issue is still **occurring** . Customize event rendering page was disabled for user to perform any action.

**Build Details:**
[code]

**Snap-Shoot:**
- **Windows Firefox** : **86.0**
![image](https://user-images.githubusercontent.com/59917825/109771614-07b60100-7c23-11eb-9da5-e40907e8c07e.png)

- **

[2021-03-03 08:16] ThisIsQasim commented on #74714
@thomasneirynck Any hopes of this getting fixed? Or perhaps a workaround?

[2021-03-03 08:18] formgeist opened #93378 "[Metrics UI] Bug: Processes summary shows 0 running, but there's a number of running processes in the table"
Kibana version: 7.12 / master

# Summary

The details panel for Processes shows **0 running** in the summary, but there's definitely a few running processes. Am I missing something in terms of how to interpret the summary vs. the table?

<img width="731" alt="Screenshot 2021-03-03 at 09 14 29" src="https://user-images.githubusercontent.com/4104278/109775028-476bf100-7c01-11eb-98f1-17c1b75378fe.png

[2021-03-03 08:18] elasticmachine commented on #93378
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-03 08:22] #92969 closed

[2021-03-03 08:30] karanbirsingh-qasource commented on #92607
Hi  @MadameSheema

we have validated this issue on 7.12.0 BC3 and  found that issue is **Fixed** 🟢  . Now Updated name of connector is reflected there on Case .

**Build Details:**
[code]

**Snap-Shoot:**
- Before Connector name **updation**
![image](https://user-images.githubusercontent.com/59917825/109776555-b6a90b80-7c28-11eb-880d-06ff02dcb7af.png)
- **After Connector name updation**
![image](h

[2021-03-03 08:30] #92607 closed

[2021-03-03 08:32] stratoula opened #93379 "[Dashboard] Legend color overwrite is lost when I save to a dashboard"
**Kibana version:**
master

**Describe the bug:**
This bug happens only when the `dashboard.allowByValueEmbeddables: true`. I create a visualization from the dashboard and I decide that I want to change one series color from the legend popover. When I save and return the overwritten color is displayed correctly but when I edit my visualization the color overwrite is gone.

**Steps to reproduce:**

[2021-03-03 08:32] elasticmachine commented on #93379
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 08:32] elasticmachine commented on #93379
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-03 08:47] stratoula opened #93384 "[Dashboard] I can edit a visualization although I am on read-mode"
**Kibana version:**
master

**Describe the bug:**
I create a dashboard and I add a Lens visualization. I save it and everything seems fine (I can't edit the visualization, gear icon is not displayed). I add a second Lens visualization and Save it, the gear icon is still rendered and I can edit my visualizations although I am on the read mode

![New-Dashboard-Elastic (1)](https://user-images.github

[2021-03-03 08:47] elasticmachine commented on #93384
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-03 08:49] formgeist opened #93385 "[APM] Bug: Service map for a selected service won't show unless you select the service.environment"
Kibana version: 7.12 / master

# Summary

When viewing the global service map, all the services show not depending on the service environment selected. The default view is "all".

Selecting to focus on a single service will not show any connections unless the user selects the relevant environment.

![2021-03-03 at 9 46 35 - Beige Slug](https://user-images.githubusercontent.com/4104278/109778915-af

[2021-03-03 08:49] elasticmachine commented on #93385
Pinging @elastic/apm-ui (Team:apm)

[2021-03-03 08:54] shahzad31 opened #93388 "[Uptime]Duration Anomaly alert , anomalies look back time range is wrong"
Uptime duration anomaly alert when being executed it uses a service provided by ML team
[code]

Get anomalies table data method takes latestMS and earliestMS parameters, as time range in which it will look for anomalies. Anomaly alert executor will always provide the now and time and the last execution time, if it's executing after each minute, it would be `now` and `now-1m`.  That sounds correct

[2021-03-03 08:54] elasticmachine commented on #93388
Pinging @elastic/uptime (Team:uptime)

[2021-03-03 09:02] shahzad31 commented on #93388
This will not take care of interim results, which get's changed after more data is ingested, we will need to explore options in our UI to show interim results.

[2021-03-03 09:03] timroes commented on #68672
Adding some clarification around this issue here. The issue as described is no longer a problem. From 7.11 onwards we're using `fields` and not `docvalue_fields` to retrieve all date fields.

_Short digression: Why do we need to do this at all?_ If we'd pull the date of the _source (which we did earlier use in Discover and places we used raw documents) the date could be formatted in any way - the

[2021-03-03 09:04] #74301 closed

[2021-03-03 09:06] sebelga commented on #62038
Thanks for the ping @cjcenizal
Actually now that I have a second look at it I am not sure if this is a bug and something we want to change. At least I'd like to make sure to clarify the behaviour what we want.

Showing both errors is technically correct as (1) the user must enter at least one pattern and he has not, (2) the pattern he has typed is invalid.

If we were to do what Alison suggests an

[2021-03-03 09:17] #92400 closed

[2021-03-03 09:18] darnautov opened #93392 "[ML] Support trained model aliases"
A new alias feature was added for trained models in https://github.com/elastic/elasticsearch/pull/68922, which allows them to be referred to by a user defined handle. This not only improves the readability and simplicity of numerous API calls, but allows for simpler deployment and upgrade procedures for trained models.

Support for this `model_alias` property needs to be added to the Trained Model

[2021-03-03 09:18] elasticmachine commented on #93392
Pinging @elastic/ml-ui (:ml)

[2021-03-03 09:19] MadameSheema commented on #92798
Thanks @karanbirsingh-qasource the fix is done but looks like didn't arrive to BC3, can you please validate it again once BC4 is ready?

[2021-03-03 09:22] MadameSheema commented on #92465
@karanbirsingh-qasource can you please validate this issue on BC3? Thanks 😊

[2021-03-03 09:24] formgeist commented on #92360
@dgieselaar That's fair, I think it's worth waiting for the next cycle where we're planning on implementing more enhancements to the overview page. I've added the project and enhancements labels on this, so we should be able to discover it later on 🤞

[2021-03-03 09:30] simitt opened #93393 "[Fleet] Allow to link to Integration without specifying the concrete version"
At the moment the exact version is specified when navigatin to an Integration in Fleet, for example `<host>:<port>/app/fleet#/integrations/detail/apm-0.1.0-dev.5/overview`.

When linking to an Integration from some other Kibana app, this requires to know about the Integration versions. It would be easier if a URL without the version would just show the installed, or if not installed the latest ava

[2021-03-03 09:30] elasticmachine commented on #93393
Pinging @elastic/fleet (Team:Fleet)

[2021-03-03 09:33] simitt commented on #88659
Since we would prefer to not have to publish a new package on every patch release, linking to the latest available APM package would be preferable. I opened an issue for it https://github.com/elastic/kibana/issues/93393.

[2021-03-03 09:41] ruflin opened #93394 "[APM] Fleet migration: Add API to perform migration"
In Cloud, users will be able to migrate their standalone apm-server to Elastic Agent running apm-server. For this to happen, the existing config of apm-server must be converted to an integration policy. The migration happens in 2 steps:

1. Check if the configs are valid: https://github.com/elastic/kibana/issues/92427
2. Migrate the config and create the integration policy

This issue is about the

[2021-03-03 09:41] elasticmachine commented on #93394
Pinging @elastic/fleet (Feature:Fleet)

[2021-03-03 09:41] elasticmachine commented on #93394
Pinging @elastic/apm-ui (Team:apm)

[2021-03-03 09:46] pgayvallet commented on #57551
I'm fine with these ones.

That's only my personal opinion, but I've never been a big fan of trying to get too close to ES / log4j exact naming, especially as we are not supporting the exact same features (e.g our `PatternLayout` does not support the same options as ES's). I'm afraid this could be more misleading for customers than anything else.

Now, I'm aware that this is a common goal to unify

[2021-03-03 09:47] ruflin commented on #90410
Currently an internal discussion is ongoing to cover the setup through an API call which takes the format described here as an input: https://github.com/elastic/kibana/issues/88956 Having this would allow each environment to pass in the config needed for the setup. More to come soon.

[2021-03-03 09:50] muskangulati-qasource opened #93397 "[Security Solution] For gold license, the ransomware pill is locked however ransomware get prevented"
**Describe the bug**
When the user is at the gold license, the ransomware pill is locked. But policy yml shows as prevented and alert is also generated

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud 7.12.0 environment should be deployed
2. Deploy an endpoint
3. Add Endpoint Security Integration

**Steps to Reproduce**
1. Downgrade the license from Platinum

[2021-03-03 09:50] elasticmachine commented on #93397
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-03 09:50] elasticmachine commented on #93397
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-03-03 09:52] muskangulati-qasource commented on #93397
@manishgupta-qasource please review!

[2021-03-03 09:57] afharo opened #93398 "`kql-telemetry` using scoped SavedObjects repository."
While analyzing #92001, we noticed the collection of stats for `kql-telemetry` is using a scoped SavedObjects repository.

This has a double problematic effect:

1. When security is enabled, only users with the right permissions can increase the counter.
2. When Spaces is enabled, the SOs are scoped to the current space.

Both effects add up to incomplete telemetry data. Should we use the internal

[2021-03-03 09:57] elasticmachine commented on #93398
Pinging @elastic/kibana-core (Team:Core)

[2021-03-03 09:57] elasticmachine commented on #93398
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-03 09:59] manishgupta-qasource commented on #93397
Reviewed & Assigned to @kevinlog

[2021-03-03 10:24] joshdover commented on #57551
+1 to Pierre's thoughts:

I wonder if it would be confusing if these are the exact same as ES if the options are significantly different. I like the config names themselves being the same, but I think the values should be different if there's a decent amount of divergence in behavior or features. I also feel like the names in Elasticsearch here are really implementation-driven, rather than user-dr

[2021-03-03 10:28] katrin-freihofner commented on #91421
@paulb-elastic
Summary of my discussion with @drewpost:
- Drew will help us to get the text in the Elastic Synthetics callout updated
- We are going to remove the small callout from each of the rows
- We are going to add a single line underneath the headline (monitor name) with a Beta disclaimer (text comes from @drewpost ) and a link to more information (@drewpost could you please add the link he

[2021-03-03 10:42] restrry commented on #57551
I don't think it justifies the effort since we don't support another format for JSON layout: all the JSON logs are ECS-compatible.
And probably not that important for all the customers.
Maybe we can just mention in the docs that the JSON layout is ECS-compatible?

Ok, I'm going to close the issue then.

[2021-03-03 11:00] kertal opened #93400 "[TSVB] Confusing sorting behavior"
**Kibana version:**
7.12 BC2

**Describe the bug:**

Testing 7.12 dashboards, I've encountered a weird sorting behavior

**Steps to reproduce:**
1. Go to dashboard , open `[Logs] Web Traffic`, time range: Last 7 days
2. Change sorting to `Bytes (Last Hour)` of `[Logs] Host, Visits and Bytes Table`
3. I doesn't seem to sort correctly by this column, in my case the order was 0B - 16.1KB - 0B

**Expe

[2021-03-03 11:00] elasticmachine commented on #93400
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 11:01] elasticmachine commented on #93363
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 11:02] afharo opened #93401 "Filters should apply the original date from `_source` instead of the formatted one"
**Kibana version:**
`master`

**Elasticsearch version:**
`master`

**Original install method (e.g. download page, yum, from source, etc.):**
`source`

**Describe the bug:**
If a `date` field is set in the ES mappings with `format: "yyyyMMdd"`, Kibana's filters using `match_phrase` and the full ISO date makes the requests to fail.

**Steps to reproduce:**
1. Create an index with mappings setting a

[2021-03-03 11:02] elasticmachine commented on #93247
Pinging @elastic/siem (Team:SIEM)

[2021-03-03 11:02] elasticmachine commented on #93401
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 11:03] elasticmachine commented on #93058
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-03 11:03] elasticmachine commented on #93058
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 11:04] elasticmachine commented on #92987
Pinging @elastic/siem (Team:SIEM)

[2021-03-03 11:04] flash1293 commented on #91399
I think a good way to check is to search for `name: 'field'` (whether an agg type is having a field param) and `getField()` (which will return the field of the current agg config).
`ag "getField\(\)" src/plugins/data/common/search/aggs`
`ag "name: 'field'" src/plugins/data/common/search/aggs`

It returns a bunch of results - I didn't tested but this usage stood out to me: https://github.com/elasti

[2021-03-03 11:05] deepikakeshav-qasource commented on #92799
Hi @MadameSheema,

Thank you for the update.

We have updated the test case in our manual test-cases.

- C22493

Thanks!!

[2021-03-03 11:06] flash1293 commented on #93400
@kertal This seems like a TSVB bug, could you verify and adjust the labels?

[2021-03-03 11:07] #92135 closed

[2021-03-03 11:15] kertal commented on #93400
true! thanks! seems my first cup of coffee in the morning needs immediate successors ☕

[2021-03-03 11:15] streamich opened #93404 "Search /bsearch endpoint hardening"
While working on [this bug](https://github.com/elastic/kibana/pull/93207) I've noticed a couple of things we could improve in the `/bsearch` endpoint.

File: `src/plugins/data/server/search/routes/bsearch.ts`

- [ ] The endpoint received two objects from the user: `IKibanaSearchRequest` and `ISearchOptions`.
  - [ ] `IKibanaSearchRequest` is mostly typed as any `{params?: any}`, but that `params`

[2021-03-03 11:15] elasticmachine commented on #93404
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-03 11:25] elasticmachine commented on #17764
Pinging @elastic/datavis (Team:DataVis)

[2021-03-03 11:26] arisonl opened #93406 "7.12 UX improvements"
**"ES query" alert should be renamed to "Elasticsearch query":**

<img width="627" alt="Screenshot 2021-03-03 at 13 21 35" src="https://user-images.githubusercontent.com/5412240/109798438-69766b00-7c23-11eb-9b17-3d3d94306a31.png">

**"Filter by solution" UI element should be re-labeled "Filter by use case" (there are alert types that are not solution-specific)**:

<img width="594" alt="Screenshot

[2021-03-03 11:26] elasticmachine commented on #93406
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-03 11:44] stratoula opened #93407 "[TSVB] Use color service instead of the custom implementation"
**Describe the feature:**
We want to integrate the color service that is now used from Lens and xy axis to TSVB. This will not only make us consistent with the rest of the visualizations but will also help us with any decisions we make in the future regarding our palettes. Moreover, we can also have the colors sync functionality that already exists on the dashboard options.

TSVB has a default pal

[2021-03-03 11:44] elasticmachine commented on #93407
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 11:44] joshdover commented on #57551
Docs are fine, agree it's out of scope for this issue and not super relevant to all customers. Larger scale customers do care more about these logs, so as long we have it documented.

[2021-03-03 11:45] stratoula commented on #93407
cc @markov00 @timroes, we have already discussed it but let's finalize here the naming of the palettes and @flash1293 about also adding these three options to Lens palette picker.

[2021-03-03 11:54] ruflin commented on #93084
@mostlyjason I assume these integrations would also exist in the package-registry?

[2021-03-03 12:23] joshdover commented on #92933
How confident are we that increasing the batch size will scale well?

Since we're going to need to support this ID rewriting migration for all of 8.x, I wonder if we shouldn't explore the option to use a painless script mentioned in #86247, even if it means we need changes from Elasticsearch for UUIDv5:

This would give us confidence that we can scale the `.kibana` index to millions of objects wit

[2021-03-03 12:25] sqren commented on #93385
Ouch, moving to 7.12

[2021-03-03 12:25] elasticmachine commented on #93401
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-03 12:26] afharo opened #93408 "The Upgrade Assistant shows Internal Server"
**Kibana version:**
`7.11.1`

**Elasticsearch version:**
`7.11.1`

**Describe the bug:**
The Upgrade Assistant shows Internal Server error when getting `GET /api/upgrade_assistant/status`

The request returns
[code]

so it looks like the related piece of code causing that issue is https://github.com/elastic/kibana/blob/master/x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts#L41 (al

[2021-03-03 12:33] sqren commented on #92360
@felixbarny / @axw: I seem to recall one of you saying that this was not easily doable, and we decided to leave it at avg for now (well, until users were yelling for this to be fixed).

[2021-03-03 12:35] kevinlog commented on #93397
@parkiino this follows from the comment here: https://github.com/elastic/security-team/issues/515#issuecomment-787919758

Let me know if you have issues reproducing.

[2021-03-03 12:38] mtojek commented on #92636
Could you please open a PR, so we can look into changes and comment? Something looks fishy here.

[2021-03-03 12:43] flash1293 commented on #93407
I'm definitely in favor of using the color service for TSVB, but I wouldn't want to expose these palettes in Lens as I'm not sure about the benefit for the user - with the gradient based palette builder in Lens we are planning on working on soon they are kind of an odd fit. What about adding tags to the palette definitions which can be used to filter them in the consumer?

[2021-03-03 12:44] elasticmachine commented on #93021
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-03-03 12:44] elasticmachine commented on #93021
Pinging @elastic/fleet (Team:Fleet)

[2021-03-03 12:46] flash1293 opened #93412 "[Lens] Rename "reset layer" in single layer visualizations"
Right now there's a "reset layer" button for each layer:
<img width="429" alt="Screenshot 2021-03-03 at 13 44 13" src="https://user-images.githubusercontent.com/1508364/109807768-a42dd280-7c26-11eb-9681-f48f62fef619.png">

However, this button is also shown for non-layer-based visualizations like table or pie:
<img width="433" alt="Screenshot 2021-03-03 at 13 44 20" src="https://user-images.github

[2021-03-03 12:46] elasticmachine commented on #93412
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 12:53] karanbirsingh-qasource commented on #92465
Hi @MadameSheema

We have validated this issue on **7.12.0 BC3** and found that issue is **Fixed** for **Mac browser** and **still occurring** for **windows** Browser.

Please find below complete build and testing details.

**Build Details:**
[code]
**Browser Version:**
[code]

**Machine Details:**

- **_Windows_**
[code]
- **_Mac_**
[code]
**Note:**
- Both machine being used for this issue are **

[2021-03-03 12:54] rudolf commented on #92933
Yeah, I think this is a valid concern and worth profiling so that we can be certain about the performance difference between a Kibana vs Elasticsearch reindex for millions of documents.

I'll add this as an action point to https://github.com/elastic/kibana/issues/86247 so that we evaluate the options as part of our plan for 7.13.

One silver lining is that we don't yet have any valid use cases for

[2021-03-03 13:02] stratoula commented on #93407
Yes, we can def hide them from Lens, I am fine with it. On our discussion with Tim and Marco, we wanted to be consistent with our palettes all over kibana but I can't see any benefit for the user either. Just one question about it: Why do we also expose the legacy vislib palette?

[2021-03-03 13:05] flash1293 commented on #93407
@stratoula To be able to sync colors across Lens and Visualize charts. It's not as important anymore now because we support other palettes in Visualize as well. If we do the same now for TSVB, then users can get uniform dashboards by using the new palette everywhere which is the better approach anyway.

[2021-03-03 13:07] stratoula commented on #93407
Yes, you are right, got it! Ok then, let's only expose them for TSVB (not for Lens and xy axis). I will also add telemetry to measure the user choices. The strategy will be the same, old saved objects will have the existing palettes, new visualizations will default to eui default.

[2021-03-03 13:09] ruflin opened #93416 "[Cloud] Indicator if Kibana is running inside ESS or ECE"
Kibana can be run in different environments. Two of them are Elastic Cloud and Elastic Cloud Enterprise. For Fleet it is relevant to know in which environment it is running to expose the correct configuration options.

[2021-03-03 13:12] mikecote commented on #93406
The issue looks small enough. I moved to To-Do in the hope of having something backported to 7.12 before the last BC.

[2021-03-03 13:13] ymao1 commented on #92299
@liza-mae I have a PR to address some of the issues with the alerting health status check here: https://github.com/elastic/kibana/pull/93282. Is there a way to run these tests on the PR branch to see if it resolves this issue?

[2021-03-03 13:17] muskangulati-qasource commented on #93021
Hi @EricDavisX,

We saw the same behaviour for the fleet tab too.

**Refer to Screenshots for the same**:
- Overview tab under fleet:
![1](https://user-images.githubusercontent.com/60252716/109807500-fdf4c380-7c4b-11eb-840a-b75640de3a73.png)

- Fleet tab:
![2](https://user-images.githubusercontent.com/60252716/109807523-05b46800-7c4c-11eb-94cc-c7aeb7b9db86.png)

Thanks!

[2021-03-03 13:18] muskangulati-qasource commented on #93004
Hi @MadameSheema,

We saw the same issue for the Detection Page also. Please find below the steps followed:

**Steps**:
- Alerts should be generated.
- Navigate to the Detections tab
- In the alerts table, click on the '>' icon
- In the flyout, under the summary, click on the host.name
- Observe that the user is not able to navigate to the host details.

**Refer screenshot**:
![3](https://user-ima

[2021-03-03 13:18] rudolf commented on #86247
Updated the description based on https://github.com/elastic/kibana/issues/92933#issuecomment-789677337

[2021-03-03 13:19] MadameSheema commented on #93004
Thanks @muskangulati-qasource!!

@XavierM can you please help to define what should be the expected behaviour?

[2021-03-03 13:22] deepikakeshav-qasource opened #93418 "[Security Solution] Description icon tooltip is not working for some fields under the alerts details panel."
**Description**
Description icon tooltip is not working for some fields under the alerts details panel.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Endpoint security should be installed
3. Alerts should be generated.

**Steps to Reproduce:**
1. Navigate to Detection tab of security.
2. Click on View details icon.
3. Click on Table

[2021-03-03 13:22] elasticmachine commented on #93418
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-03 13:23] deepikakeshav-qasource commented on #93418
@manishgupta-qasource Please review!!

[2021-03-03 13:24] rudolf commented on #92933
If a client-side reindex doesn't scale well and we decide to use the scripted reindex, migrations for millions of saved objects would be fairly fast if the we're only migrating types which have a low number of documents. But as soon as we migrate a type that has millions of documents we will again have the same performance (actually it'd be somewhat worse). That probably means to support migration

[2021-03-03 13:25] neptunian commented on #93378
I think this is already captured here https://github.com/elastic/kibana/issues/92636

[2021-03-03 13:25] simitt opened #93420 "[APM] Fleet: Inject Kibana URL + API Key into APM integration policy"
This is an interim solution. The permanent solution is https://github.com/elastic/kibana/issues/95501

---

![image](https://user-images.githubusercontent.com/209966/110475203-df297d80-80e0-11eb-869d-4706c68e3bfc.png)

Hook into Fleet extension points to create and inject a Kibana API Key and the Kibana URL to the APM integration policy. The API Key need to be checked on every `packagePolicyUpdate

[2021-03-03 13:25] elasticmachine commented on #93420
Pinging @elastic/apm-ui (Team:apm)

[2021-03-03 13:25] simitt commented on #89311
Closing this in favor of https://github.com/elastic/kibana/issues/93420

[2021-03-03 13:25] #89311 closed

[2021-03-03 13:26] formgeist opened #93421 "[APM] Bug: The latency threshold alert is not available on basic license"
Kibana version: master

# Summary

We opt to show the alert types even if the user does not have the appropriate license to set up alerts, but there's an inconsistency where we're not showing the Latency threshold alert option but we're showing the transaction error rate and error count threshold alerts in the alert popover.

![2021-03-03 at 14 23 55 - Amethyst Piranha](https://user-images.githubu

[2021-03-03 13:26] elasticmachine commented on #93421
Pinging @elastic/apm-ui (Team:apm)

[2021-03-03 13:29] MadameSheema commented on #92465
@karanbirsingh-qasource can you please confirm if in Mac -> Firefox was fixed as well?

@MikePaquette with the current fix is enough to don't treat this issue as a critical?

ping @michaelolo24

[2021-03-03 13:31] joshdover commented on #77529
@stacey-gammon Do you think we should close this issue now that we're moving forward with the ts-morph implementation?

[2021-03-03 13:32] mostlyjason commented on #93084
@ruflin Yes that would make sense, I mentioned a benefit of including them there

[2021-03-03 13:33] #93109 closed

[2021-03-03 13:34] nreese commented on #92504
closed by https://github.com/elastic/kibana/pull/92620

[2021-03-03 13:34] #92504 closed

[2021-03-03 13:34] manishgupta-qasource commented on #93418
Reviewed & assigned to @MadameSheema

[2021-03-03 13:34] elasticmachine commented on #93418
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-03 13:34] formgeist commented on #93378
Yeah looks very similar, I'm closing this

[2021-03-03 13:34] #93378 closed

[2021-03-03 13:35] MadameSheema commented on #93418
Bug found during BC3 regression: https://github.com/elastic/security-team/issues/843

[2021-03-03 13:38] deepikakeshav-qasource commented on #82529
Hi @MadameSheema

We have validated this ticket on 7.12.0 BC3 and observe that issue is **Partially Fixed**. Different font size is displaying for "signal.rule.threat_filters" and "signal.rule.threat_mapping"

**Build Details:**
[code]

Scenarios |  Status | Remarks
-- | -- | --
Validated the signal.rule.threat on table view | **Pass** 🟢 | ![table_view](https://user-images.githubusercontent.com/61

[2021-03-03 13:39] mbondyra commented on #93412
@flash1293, just to make this clear:
1. For pie, datatable, metric or any other allowing only one layer visualization, we should display `reset visualization`
2. For xy chart (visualization allowing more than one layer) when only one layer exists, we should display `reset layer`
3. For xy chart (visualization allowing more than one layer) when more than one layer exist, we should display `delete l

[2021-03-03 13:42] MikePaquette commented on #92465
Hi @MadameSheema

 **Yes**, the current fix is enough to address the critical issue, thanks to the team for testing it well!

I did notice that for some alerts, there is still a lot of "space" between the columns, but I'm guessing that the column width is set to allow the maximum length field name without wrapping?  A future optimization might include a different column sizing algorithm, to allow

[2021-03-03 13:45] sqren commented on #93421
I noticed this too. It's an odd behaviour but instead of spending time fixing this I think we should consider moving away from the popovers and instead display the alerts like security does

![image.png](https://zube.io/files/elastic/7a173887c4b1da2b455a467d5ee817f8-image.png)

Following their lead would make the experience more consistent, and it gives a much better overview of the alerts, since

[2021-03-03 13:47] MadameSheema commented on #82529
@FrankHassanabad correct me if I'm wrong but the failed test @deepikakeshav-qasource is the expected behaviour. We don't allow to select that fields for now because are nested and we don't have the ability of displaying them on timeline yet.

[2021-03-03 13:50] afharo commented on #93408
Pinging @elastic/es-ui

[2021-03-03 13:51] tanish14 commented on #92192
@legrego @elasticmachine  Can I take this up if anyone else is not working on it? :)

[2021-03-03 13:51] MadameSheema commented on #92465
Changing the impact of the ticket to low since the issue has been partially fixed.

[2021-03-03 13:58] ymao1 commented on #92166
Proposed changes:

- [ ] On management page, `Alerts and Actions` -> `Rules and Connectors`
- [ ] Change client route from `/app/management/insightsAndAlerting/triggersActions/alerts` to `/app/management/insightsAndAlerting/triggersActions/rules`
- [ ] Change client route from `/app/management/insightsAndAlerting/triggersActions/alert/${alertId}` to `/app/management/insightsAndAlerting/triggersAct

[2021-03-03 14:03] karanbirsingh-qasource commented on #92465
Issue is **not occurring** on **Mac Firefox Browser**.
`Version: 86.0`

![image](https://user-images.githubusercontent.com/59917825/109816822-2f26c100-7c57-11eb-9d69-d68d2c9457f4.png)
![image](https://user-images.githubusercontent.com/59917825/109816844-3948bf80-7c57-11eb-9259-657d4f422b0e.png)

[2021-03-03 14:05] neptunian commented on #92382
I tested on BC3 and auto completion seems to be working fine now

[2021-03-03 14:08] #77062 closed

[2021-03-03 14:10] hbharding commented on #91906
I'll add some designs for this later today to close the loop. @mostlyjason I think it's fine to remove the integration count from the header.

Are you saying this is a behavior we want to support for agents in managed policies? @ruflin's comment seemed to suggest that it should be blocked, and @jfsii commented here that this should only be allowed via the API.

[2021-03-03 14:14] neptunian opened #93430 "[Metrics UI] [Test Plan] Inventory Datepicker time should use global Kibana time with saved views"
Changes from https://github.com/elastic/kibana/pull/92520 that fixes the Metrics Inventory datepicker time to use the global Kibana time with saved views

**Must test on BC3**

- [x] Metrics Explorer time matches the Kibana global time in Default View
  - Make sure the user's default view is "Default View" in Metrics Explorer
  - Go to Logs app, change the date
  - Go to Metrics explorer, the same

[2021-03-03 14:17] sqren commented on #91165
The default for the "Capture Body" is "off" in the agent. So if you don't create an agent config it'll be "off".

In the recording you are trying to create an agent config without any settings. That won't have any effect, and I don't understand why it should be allowed.

What are you trying to achieve, that's not currently possible?

[2021-03-03 14:20] restrry commented on #82431
There are a few cases left when LP logs a message. These messages aren't affected by the Kibana platform logging config, which might be confusing from the user's point of view. I'd suggest migrating these leftovers to the KP if possible.

https://github.com/elastic/kibana/blob/3fb6174e7146efce5fb871ead60611ee481c73ac/src/legacy/server/kbn_server.js#L117
https://github.com/elastic/kibana/blob/3fb61

[2021-03-03 14:21] lukeelmers commented on #57551
++ Agreed. Other than the one remaining adjustment I'll make to the `LogMeta` (https://github.com/elastic/kibana/issues/90406), the json logs are already ECS anyway, and TBH I don't really see a huge benefit to offering "non-ECS" formatted JSON.

I'll make sure docs are updated in #90406

Re: The config naming questions, I'm in agreement with [Pierre's comments](https://github.com/elastic/kibana/i

[2021-03-03 14:23] #92766 closed

[2021-03-03 14:25] chrisronline opened #93432 "[Monitoring] `remote_cluster_client` role shouldn't be required to use Monitoring"
Currently, we rely on the `remote_cluster_client` role attached to the configured user (`monitoring.ui.elasticsearch.username`) to make CCS requests in the Stack Monitoring UI. If this role is not available, all out of the box alerts will start to fail as we do not gracefully handle this scenario and the user will see something like this in the Kibana server log:

[illegal_argument_exception] node

[2021-03-03 14:25] elasticmachine commented on #93432
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-03 14:25] flash1293 opened #93433 "[Lens] Base field existence / field information on bound time fields"
The field existence and field information is using the currently configured time range. However it's always creating a filter based on the default time range of the current index pattern.

For the chart itself we always bind the used date fields, so if they are not the default time field, the data used for field existence/information is not the same as accessed in the chart.

For example using the

[2021-03-03 14:28] neptunian commented on #92661
Not sure if your fix made it into BC3 but still get the same results.  Will try again on BC4.

[2021-03-03 14:33] ryankeairns opened #93436 "Update Cloud plugin to handle new URLs"
**Background**
There is an existing capability of the `cloud` plugin that adds links to the user menu and left nav. These links do not appear as they were awaiting for URLs to be provided on the Cloud side. That time has come ([see this Cloud PR](https://github.com/elastic/cloud/pull/76587)) and, with that change and the passing of time, the final URLs have changed.

**Needed changes**
- Update th

[2021-03-03 14:33] mostlyjason commented on #91906
@hbharding I'm saying we should not allow users to unenroll agents in a managed policy in the UI. I think that's consistent with Ruflin and John's comments?

[2021-03-03 14:33] smith commented on #93421
No issues have been created yet, but I believe that's the plan, though so far it looks like the rule creation would be in the Observability UI, not in APM. Whether it's in APM or Observability, we will have similar preconfigured rules.

[2021-03-03 14:33] elasticmachine commented on #93436
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-03-03 14:34] ryankeairns commented on #93436
I've labeled this with Kibana Design. I'll give it a go and reach out to Kibana Security (?) if I get stuck.

[2021-03-03 14:37] jportner commented on #92192
Yes, thank you so much for wanting to contribute!

If you haven't already, please take a look at our [developer guide](https://www.elastic.co/guide/en/kibana/master/development.html). When you make the change, be sure to add the appropriate unit tests. Here is an example unit test for the breadcrumb title on the user management app: https://github.com/elastic/kibana/blob/4de5a7d5eefc2a4479d505745b

[2021-03-03 14:39] #93031 closed

[2021-03-03 14:39] exhuma commented on #17764
@timroes  For whatever reason I never saw a notification of the message from 2018. Might have been gone to a spam filter? In any case I had a look at #13327 and it's hard to say from just a palette whether this works or not. Quite often the difficulties become apparent when problematic colours are next to each other. In the example palettes in any case I already have some slight difficulties. But

[2021-03-03 14:43] kevinlog commented on #93021
@muskangulati-qasource we have an implementation ticket for this. I will tag you in the other ticket in a private repo and close this one as a duplicate.

[2021-03-03 14:43] #93021 closed

[2021-03-03 14:48] TinaHeiligers commented on #82431
@restrry ack, I'll circle back with you about these when I start working on this issue.

[2021-03-03 14:53] lizozom commented on #93401
ATM the `format` is not returned to the client side
![image](https://user-images.githubusercontent.com/3016806/109823451-9dac5480-7c40-11eb-9b1b-a14829b48bb8.png)

It's not even stored in the Index Pattern saved object
![image](https://user-images.githubusercontent.com/3016806/109823661-cf252000-7c40-11eb-87cd-ee9fd47cf88d.png)

@elastic/kibana-core is there a good way to access the `mapping` of a

[2021-03-03 14:56] ogupte commented on #90771
This should be addressed in EUI issue: https://github.com/elastic/eui/issues/4265

[2021-03-03 14:57] #90771 closed

[2021-03-03 14:59] mattkime commented on #93401
@lizozom We need to see if we can get this from the field_caps api

[2021-03-03 15:09] lizozom commented on #93401
So seems like the field_caps api does not return this information as well.

[2021-03-03 15:15] narph commented on #93051
@ruflin , atm we are making the following calls to the kibana fleet apis:
- `${KIBANA_URL}"/api/fleet/enrollment-api-keys` to retrieve the list of enrollment keys
- `${KIBANA_URL}/api/fleet/enrollment-api-keys/$ENROLLMENT_TOKEN_ID` to retrieve the enrollment token for a specific policy
We use the above calls to enroll the elastic agent after it has been installed.
- `${KIBANA_URL}/api/fleet/agents

[2021-03-03 15:21] ThomThomson commented on #93384
This is actually intentional. When you save a dashboard using the quicksave menu item, you're kept in edit mode. This should help the user make changes, save, and then continue editing.

After saving, if you want to go back to view mode, hit `Cancel`, and the gear icon will disappear.

@bhavyarm was also confused by this, which makes me wonder if we could be doing something to better communicate t

[2021-03-03 15:21] andrewkroh opened #93441 "[Security Solution] Network TLS Tab doesn't show events with SHA256 hashed certs"
**Kibana version:** 7.11

**Describe the bug:**

The TLS tab only queries for events with `tls.client.hash.sha1`, but some sources may only produce data with the ECS `tls.client.hash.sha256` field. The world has been moving away from SHA-1 so I expect requests for supporting SHA-256 in the UI will become more frequent.

https://www.elastic.co/guide/en/ecs/current/ecs-tls.html#field-tls-client-hash

[2021-03-03 15:36] nehaduggal opened #93443 "[APM] Error correlations page throws an error"
**Versions**
Kibana: 7.12

Trying to visualize Error correlations on the release observability cluster and it is throwing a 500 error. Attaching a screenshot of the error.
<img width="710" alt="Screen Shot 2021-03-03 at 6 35 27 AM" src="https://user-images.githubusercontent.com/52681807/109830210-1d133700-7bf3-11eb-87af-641afd676926.png">

[2021-03-03 15:43] mdelapenya commented on #91165
I'm not creating the config without any settings, I'm creating the config with default settings. What I expected is the UI reflecting the default value for the `capture_body` field, maybe selecting it by default, allowing me to save the default configuration.

[2021-03-03 15:45] blakerouse opened #93445 "Kibana w/ Fleet Server creates an invalid POLICY_CHANGE action"
**Kibana version:** 8.0.0-SNAPSHOT

**Elasticsearch version:** 8.0.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**

With `xpack.fleet.agents.fleetServerEnabled: true` set in the Kibana configuration, when a policy change is performed in Kibana a `POLICY_CHANGE` action is created. With `xpack.fleet.agents.fleetServerEnabled: true`

[2021-03-03 15:45] elasticmachine commented on #93445
Pinging @elastic/fleet (Team:Fleet)

[2021-03-03 15:45] #93320 closed

[2021-03-03 15:48] simianhacker commented on #93371
@sorantis Since the metrics we have for filesystem and disk io are separated by the disk name/mount point we should add a seperate tab with a table listing all the disks and their metrics, similar to the process tab.

[2021-03-03 16:00] cjcenizal commented on #62038
I think we should treat the invalid characters error as blocking, too. It seems safe to assume that if the user entered some input, they intended to add an index pattern even if it's in addition to an existing one. If we implement this blocking behavior then I think it makes sense to adjust the error message per Alison's guidance. WDYT @sebelga ?

[2021-03-03 16:02] ph commented on #90408
I am good with your suggestion and dropping Agent. _Default centralized policy_

[2021-03-03 16:02] gmmorris opened #93449 "[Alerting] ES Query alert assumes the `sort` field in `hits` is `string`, but it isn't necessarily so"
In the ES Query we [assume](https://github.com/elastic/kibana/blob/c42b99419305afcc784f1e1cf3c31acd9606747a/x-pack/plugins/stack_alerts/server/alert_types/es_query/alert_type.ts#L259) the `sort` is a string.

In the new ES typing [PR](https://github.com/elastic/kibana/blob/a03e3d813bdcf050102a350cbf890becd590174e/x-pack/plugins/stack_alerts/server/alert_types/es_query/alert_type.ts#L259) we found

[2021-03-03 16:02] elasticmachine commented on #93449
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-03 16:02] sorantis commented on #93371
@ednon-labs thanks for filing the request. As you probably know disk metrics are [reported together with device name](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-system-filesystem.html#_fields_201). In the case of multiple mount points a graph showing remaining or used storage can be too busy so it would make sense to limit the number of mount points shown per hos

[2021-03-03 16:03] alisonelizabeth commented on #93408
Can you also provide the response from `GET /_migration/deprecations` ([docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/migration-api-deprecation.html))? This is what the Upgrade Assistant is calling under the hood to display the deprecations.

[2021-03-03 16:11] simianhacker commented on #93371
@sorantis That would work, sort by `used %` by default.

[2021-03-03 16:15] dosera commented on #93408
@alisonelizabeth calling `GET /_migration/deprecations` on my cluster returns the following:

[code]

[2021-03-03 16:15] ednon-labs commented on #93371
Hi, @sorantis and @simianhacker

It would make sense sort by used % and set a top 3 or 5 (no more).

Thanks in advance :)

[2021-03-03 16:21] #58113 closed

[2021-03-03 16:25] wylieconlon commented on #93307
This feature would also allow the number histogram to work with [range data types](https://www.elastic.co/guide/en/elasticsearch/reference/current/range.html).

[2021-03-03 16:25] ymao1 commented on #92166
Are we renaming action variables?

<img width="374" alt="Screen Shot 2021-03-03 at 11 23 35 AM" src="https://user-images.githubusercontent.com/13104637/109837220-f238db00-7c12-11eb-8577-41530be42737.png">

This is something that shows up in the UI so it would be confusing if it still referenced `alertId` vs `ruleId` but it would impact existing rules that reference these action variables. Should t

[2021-03-03 16:25] n0othing opened #93452 "Support PKI auth against Kibana APIs"
**Describe the feature:**

https://github.com/elastic/kibana/pull/82817 introduced a change that makes it difficult (if not impossible, depending on the use case) to use PKI to authenticate against Kibana's various APIs.

Some users may want to avoid HTTP auth (e.g username/password, API keys, etc) and rely on PKI so it'd be helpful to officially support it.

[2021-03-03 16:27] kertal opened #93453 "[Discover][EuiDataGrid] Restore ability to compare documents"
In legacy grid you could open/expand multiple documents, and had therefore a way to compare multiple documents (sort of). In the new data grid implementation this is no longer possible. During development of the new grid we implemented a way to select documents by checkbox in a PoC style, and removed later to focus on the stable parts.

So to allow users to select and compare documents in Discover

[2021-03-03 16:27] elasticmachine commented on #93453
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-03 16:31] pmuellr commented on #92166
Yes, we probably should, and we need to leave the existing ones as well - presumably deprecated in 8.0.  Deprecated action variables, with some UI annotation! :-).  Luckily these are all generic variables for all alerts, so it's a fix in one set of locations (as opposed to all alert types)

[2021-03-03 16:32] nchaulet commented on #93445
@blakerouse I just checked the code and tested that looks like we do not create `POLICY_CHANGE` action on our side we only append to `.fleet-policies`.

[2021-03-03 16:33] ThomThomson commented on #62115
See my updated comment above. I will keep this open, because applying changes from an input control to the filter bar in the editor results in a warning. If index patterns were propagated to the filter bar correctly, this wouldn't happen.

[2021-03-03 16:38] peteharverson commented on #66154
Filters entered into the Anomaly Explorer query bar are now persisted in the URL, with the changes made for 7.11.0 in https://github.com/elastic/kibana/pull/83792. This allows filters such as the following to be restored from the URL:

![image](https://user-images.githubusercontent.com/7405507/109839215-d0ede400-7c3e-11eb-8bda-d7e6acc480a6.png)

[2021-03-03 16:38] #66154 closed

[2021-03-03 16:39] ThomThomson commented on #91343
fixed by https://github.com/elastic/kibana/pull/91729

[2021-03-03 16:39] #91343 closed

[2021-03-03 16:42] jimczi commented on #93401
I commented on the [ES issue](https://github.com/elastic/elasticsearch/issues/69892#issuecomment-789855513). I don't think field caps is the solution here. When dealing with date fields, you should always carry the format that is used to display the information. One of the problem here is that Kibana cannot handle all the format that ES supports. So it was decided that Kibana would use a custom fo

[2021-03-03 16:55] #82562 closed

[2021-03-03 16:56] #90438 closed

[2021-03-03 16:57] peteharverson commented on #35947
Closing as the import route used by the file data visualizer has been moved to the file_upload plugin in #89640 for 7.12.0.

[2021-03-03 16:57] #35947 closed

[2021-03-03 16:58] simianhacker commented on #93078
I have two cloud instances that are recording their own stack metrics into their own Elasticsearch instances. Then I have the first one setup with a remote cluster (using clouds proxy and host name setting) pointing to the second one. Everything worked as expected. Then I deleted the second one (the remote) and reloaded the cluster's page.

[2021-03-03 16:59] pheyos commented on #40865
The issue doesn't occur anymore (when changing jobs via the job list). Keeping the filters when changing jobs without leaving the results view is fine.

[2021-03-03 16:59] #40865 closed

[2021-03-03 16:59] sorantis commented on #93315
@ph not sure what this issue is for since we're tracking related changes in the linked Meta issue

[2021-03-03 17:01] timroes commented on #93401
I quickly talked with Jim about that. I would second that trying to carry on formats here between mapping to the query.

A match_phrase query is not the right query we should use for matching dates, since it will cause us those formatting options. Instead we should change our filter compilation code to compile "is" filters on dates, into a range query with `gte` and `lte` set to that date and in t

[2021-03-03 17:02] joshdover commented on #92933
Good point, that does give us some more flexibility in the future. We have to keep in mind that we'd have to plan for and anticipate that need. Without knowing every new SO type that gets added and how they're used that could be difficult (unless we add new process). We didn't know about fleet-agent-events until it was in production and already a problem.

Do you think we'd be able to make this op

[2021-03-03 17:02] alisonelizabeth commented on #92990
@zanbel are you able to verify the correct behavior here? It was my understanding that a user is not allowed to associate more than one policy with a cloud-managed repository (`found-snapshots`) and we have logic in the UI to prevent this. Have the requirements changed?

[2021-03-03 17:03] peteharverson commented on #48510
Closing as all the items have now been addressed.

[2021-03-03 17:03] #48510 closed

[2021-03-03 17:06] liza-mae commented on #92299
Hi @ymao1 thanks for cloud we can't test the PR, however I am seeing this test fail on local testing also, maybe if we can reproduce we can test it that way.  It is not service available causing the issue in what I am seeing.

[2021-03-03 17:08] kertal commented on #91765
Why doesn't it work? the filters don't apply to the anchor document, that's the document with the blue background. they are only supposed to the documents surrounding this doc. and according to your screenshot this seems to work.

[2021-03-03 17:11] EricDavisX commented on #92814
This *may be in B3 please retest... if it not working yet, we may need to check the 7.12 SNAPSHOT on cloud-staging (if it was merged after the BC3 was kicked off)

[2021-03-03 17:11] pheyos opened #93463 "[ML] Anomaly Explorer - Add annotation indicator to swim lanes"
When the time range of the anomaly explorer tile selection does not contain an annotation, the whole annotation table disappears While this is the intended behavior it could cause confusion because it's not immediately obvious.

Suggestion: add some kind of annotation indicator to the swim lanes / tiles.

Note: the annotations panel can be seen again after clicking "clear selection"

[2021-03-03 17:11] elasticmachine commented on #93463
Pinging @elastic/ml-ui (:ml)

[2021-03-03 17:17] aaronjcaldwell commented on #41469
We're looking to implement user-drawn and persisted layers both as a standalone layer type and as a utility for creating custom boundary alerts on the fly. Step 1 would focus on users just being able to create and persist standalone layers.

Drawing layer shapes can me done using `mapbox-gl-draw`, a library the Maps app already leverages for drawing filters. We'll use different controls and potent

[2021-03-03 17:17] alexfrancoeur commented on #84777
Thank you all for your thoughts around this topic and apologies for dropping the ball on closing the loop here. I've had a few follow up discussions on this topic recently and I think generally there is still a need to differentiate user generated / user consumed entities vs. Kibana entities. Saved objects can mean something different depending who you talk to or where you are in Kibana.

For a ne

[2021-03-03 17:19] aliciascott opened #93466 "Update current Alerting Email auth to prepare for Exchange Online deprecating Basic Authentication"
With Microsoft [deprecating basic auth for exchange ](https://docs.microsoft.com/en-us/lifecycle/announcements/exchange-online-basic-auth-deprecated);

We'll want to update our roadmap for auth so it won't break Alerting and Watcher email alerts configured to use this.

https://www.elastic.co/guide/en/elasticsearch/reference/current/actions-email.html#exchange
https://www.elastic.co/guide/en/kiban

[2021-03-03 17:21] thomasneirynck commented on #41469
Would this end up being equivalent to just making any vector-layer backed by a ES-document source "editable"?

[2021-03-03 17:22] rayafratkina commented on #84777
+1 to formalizing the split and coming up with better user-facing names. SOs is an Elastic term that does not mean what we think it means to end users and does not add value to understanding our product. Let's change our tools to speak our users' language instead of forcing them to learn ours.

[2021-03-03 17:24] pmuellr commented on #51203
This makes sense to me.  I guess the alert type would define some "default" values for things like interval and throttle (null might be appropriate for some, on-status-change for others).  I think those are the two generic alert parameters that would make sense to allow an alert type to provide defaults for.

This fits into my "default all the things" thoughts as well, where we should be allowing

[2021-03-03 17:26] aaronjcaldwell commented on #41469
It depends. We haven't broached editability. Maybe that could be second phase to the completed product? I was envisioning the first phase being editable prior to indexing (much like filters), and then static once indexed. Basically analagous to how GeoJSON Upload works now. Adding indexed data editability could be a more holisitic addition that benefits all vector layers, including this one.

[2021-03-03 17:26] mikecote commented on #51203
This could work well with https://github.com/elastic/kibana/issues/51194 if it doesn't make sense to have alerts run so frequently.

[2021-03-03 17:29] pmuellr commented on #51203
Ya, adding some constraints here like "minimum interval" sound good as well.  But will then require the params validation to get tweaked - which could actually get complicated if it has to go in the config-schema validation.

[2021-03-03 17:36] nik9000 commented on #68672
I think removing the `fields` if size==0 is mostly good because it stops folks like me from getting confused when we look at the request.

[2021-03-03 17:39] kmartastic commented on #41469
There is tension between "annotation" and "shapes".
With annotation, I expect to draw points, lines, polygons as mark-up/notes/approximations...
With shapes, I expect to draw geodetic lines...

We should (need to) automatically add an "id" to each shape in the created index.

[2021-03-03 17:47] dark-shade opened #93470 "Go-Kibana - Official Kibana API client for Golang"
Currently, I don't think we have an official Kibana API client for Golang (please correct me if I am wrong), but it would be great if we could have one. As instructed on https://github.com/elastic/go-elasticsearch/issues/182 I am making a formal request here so as to give this more visibility.

Some use-cases that come to mind right now:
- Automating the creation of spaces in Kibana for the respec

[2021-03-03 18:02] simianhacker commented on #93430
LGTM

[2021-03-03 18:02] #93430 closed

[2021-03-03 18:07] #69613 closed

[2021-03-03 18:09] barlowm opened #93475 "(Accessibility) - Dashboard - Keyboard navigation in filters menu"
Tab sequencing on filter is not what is expected

Launch Dashboard, use keyboard navigation to "Create Dashboard", continue using keyboard navigation to get to the "Change all filters" control. Press "Enter", select entry in dialog, press "Tab". Control should navigate to the "Add Filter" control, but instead control reverts to the "Elastic" home control instead.
![Navigation](https://user-images.

[2021-03-03 18:09] elasticmachine commented on #93475
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-03-03 18:09] barlowm opened #93476 "(Accessibility) Dashboard - Keyboard navigation in top menu"
Launch Dashboard, use keyboard navigation to select and edit an existing dashboard, continue using keyboard navigation to get to the "Options" control. Press "Enter", the Options dialog is displayed but can not use keyboard navigation only to select either of the controls in the Options dialog.

![Create_CantAccessOptionsByKbd](https://user-images.githubusercontent.com/2439008/109850837-f5d35e80-7

[2021-03-03 18:10] elasticmachine commented on #93476
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-03-03 18:10] barlowm opened #93477 "(Accessibility) - Dashboard - focus contrast for controls does not meet WCAG minimum requirements"
When setting focus on controls, contrast does not meet minimum WCAG requirements:

![ControlContrast](https://user-images.githubusercontent.com/2439008/109848194-fb7b7500-7c1d-11eb-9f4d-123e7593f0d4.png)

![Contrast](https://user-images.githubusercontent.com/2439008/109847896-b0f9f880-7c1d-11eb-9506-9aefa99f855e.png)

Most controls have an underline of the control to identify the control has focus

[2021-03-03 18:10] elasticmachine commented on #93477
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-03-03 18:12] #93312 closed

[2021-03-03 18:13] #91163 closed

[2021-03-03 18:15] stacey-gammon commented on #68004
Not relevant anymore with the new docs system, plugins with public APIs will be automatically opted into API docs

[2021-03-03 18:15] #68004 closed

[2021-03-03 18:16] dplumlee commented on #90725
@deepikakeshav-qasource I think this is ready to be tested again, we've made a few different changes in master that seem to solve the issues listed. For case [C20386](https://elastic.testrail.io/index.php?/cases/view/20386), we'll need to update it from `file.path.text` to `file.path.caseless` as well, we no longer have `.text` fields as exceptionable fields. Once that case is updated I believe ev

[2021-03-03 18:16] stacey-gammon commented on #60400
This is not really relevant anymore given the new docs system and the new API docs. Once the new docs system is made public, API docs will be there.

[2021-03-03 18:16] #60400 closed

[2021-03-03 18:17] #92702 closed

[2021-03-03 18:24] thomasneirynck opened #93481 "[Maps] Gracefully handle runtime field removal/changes"
See https://github.com/elastic/kibana/issues/92753

Do investigation how Maps handles field-removal.

[2021-03-03 18:24] elasticmachine commented on #93481
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-03 18:29] tsullivan commented on #91309
Running through flaky test runner: https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1353/

[2021-03-03 18:33] dosera commented on #93408
The error is still occurring after resolving all migration errors:

`GET /_migration/deprecations`

[code]

[2021-03-03 18:35] kmartastic commented on #93384
Not sure. In this flow -- it would be best if Save and Return was the primary button -- if expecting to stop editing.

What if --

Discard Edits | Save | Save and Return
Stop Editing | Save | Save and Return
Cancel | Save | Save and Return --> I don't like cancel as the word.

I think Save is doing the right thing.

[2021-03-03 18:36] alisonelizabeth commented on #93408
Thanks for sharing @dosera! This is helpful. I think the issue is your response is not returning anything for `ml_settings` deprecations, which the [code is expecting](https://github.com/elastic/kibana/blob/master/x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts#L67). This is nothing wrong on your end. I will investigate this to determine if this is something we need to account for

[2021-03-03 18:40] kmartastic commented on #92262
Cool. Solution/grouping aliases supported in the nav supports the goal.

[2021-03-03 18:44] jen-huang commented on #83141
@jamiehynds @leehinman Will OSquery package be updated to use the package spec changes for 7.13? Will we need to do this Kibana work for 7.13 too? cc @ph

[2021-03-03 18:44] barlowm opened #93487 "(Accessibility) - Canvas - Table headings inconsistent with other pages"
Canvas table "Actions" column does not have a column heading similar to other page tables of the same type:
![InconsistentNavigationCanvas](https://user-images.githubusercontent.com/2439008/109855339-25d13080-7c26-11eb-82ab-059e9d8c8fa3.png)

![InconsistentNavigationDashboard](https://user-images.githubusercontent.com/2439008/109855366-2cf83e80-7c26-11eb-81c9-dfbaf6ec289e.png)

Additionally the ta

[2021-03-03 18:44] elasticmachine commented on #93487
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-03-03 18:44] MadameSheema commented on #89784
Reopening since the issue has not been closed yet.

[2021-03-03 18:51] nchaulet commented on #80153
I think we can close it until this happen again.

[2021-03-03 18:51] #80153 closed

[2021-03-03 18:57] MadameSheema commented on #89784
Tagged as critical after a conversation with @MikePaquette

[2021-03-03 18:58] boutcher opened #93488 "Timelion single-quoted function arguments don't work"
It seems in newer versions of Timelion, basic queries like `.es(q='field:value')` break with an error:

```Timelion request error: undefined SyntaxError: {"type":"incompleteFunction","function":"es","location":{"min":0,"max":3},"text":".es"}```

If you remove the single-quotes, or change to double-quotes, then the query will work fine.

The documentation on https://www.elastic.co/guide/en/kibana/7

[2021-03-03 18:58] tsullivan commented on #42726
We can close this since the test doesn't exist any more.

[2021-03-03 18:58] #42726 closed

[2021-03-03 19:04] tsullivan commented on #42729
We can remove this since the test doesn't exist any more

[2021-03-03 19:04] #42729 closed

[2021-03-03 19:08] tsullivan commented on #42728
Flaky test run: https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1354/

[2021-03-03 19:08] liza-mae commented on #92299
Okay so I am seeing this occur in two different ways.  1) Is through cloud, a system running for awhile hits service unavailable and the status gets stuck in red. 2) Through our function tests locally running the test ```test/functional/apps/saved_objects_management/show_relationships.ts``` this also puts the server in red position, but I don't know enough about the test to know why.  I have colle

[2021-03-03 19:10] #57551 closed

[2021-03-03 19:11] tsullivan commented on #37481
Running in flaky test runner: https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1353/

[2021-03-03 19:12] nickofthyme opened #93493 "[XY Charts] Limit tick count in date histogram"
**Kibana version:**
`7.12BC`

**Describe the bug:**
Compared to the previous `vislib` implementation he tick count on the date histogram aggregation would be limited to `15`, similar to what is applied in discover (see [code](https://github.com/elastic/kibana/blob/b5522ed30c1445a9ad07c8f7d95771e1f6b95609/src/plugins/discover/public/application/angular/directives/histogram.tsx#L184)).

**Steps to r

[2021-03-03 19:13] liza-mae commented on #92299
@kibana-core and @elastic/kibana-security teams when I run this test ```test/functional/apps/saved_objects_management/show_relationships.ts``` it puts the server in red status.  Can someone take a look as to why, debug logs to follow.

[2021-03-03 19:13] liza-mae commented on #92299
Server Log
[code]

[2021-03-03 19:15] liza-mae commented on #92299
**https://localhost:5601/api/status?v8format=true**
[code]

[2021-03-03 19:23] barlowm opened #93494 "(Accessibility) - Canvas and other components - Graphic Shape Editing not keyboard accessible"
When editing a graphic element the dimensions of the element can not be changed via keyboard only:

![AlterShapeDimensions](https://user-images.githubusercontent.com/2439008/109860295-f45b6380-7c2b-11eb-8835-787dc2de1ad5.png)

**Kibana Version:**
7.10

**OS:**
Windows 10

**Browser:**
Chrome

**Screen reader:** [if relevant]
NVDA

**Relevant WCAG Criteria:** [WCAG Criterion - Level A/AA/AAA](https

[2021-03-03 19:23] elasticmachine commented on #93494
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-03-03 19:24] nickofthyme opened #93495 "[Dashboard] Lens, TSVB and XY chart tooltips renders under kibana header"
**Kibana version:**
`7.12BC`

**Describe the bug:**
When on a dashboard or in visualize library. Attempting to hover over a value with a large number of series, the tooltip will display below the kibana header.

**Steps to reproduce:**
1. Create a visualization with many y and split aggresations.
2. Hover close to the top of the chart
3. Notice the tooltip is sown below the header

**Expected beha

[2021-03-03 19:29] ph commented on #92142
@sorantis from our last discussion `phase 2` isn't for 7.x?

[2021-03-03 19:29] lukasolson commented on #15887
I believe this is resolved by #81515.

[2021-03-03 19:40] ymao1 commented on #92299
@liza-mae

It looks like the alerting framework health check is failing with `Saved object [task/Alerting-alerting_health_check] not found` which is causing all dependent plugins to become unavailable.

The alerting framework creates a task manager task to check the alert status. Then it periodically performs a `GET` on that task in order to check the output of that task. It looks to me like it's

[2021-03-03 19:46] simianhacker commented on #93077
LGTM

[2021-03-03 19:46] #93077 closed

[2021-03-03 19:47] #92904 closed

[2021-03-03 19:52] liza-mae commented on #92299
After messaging with @ymao1 looks like we have two different issues then, one is just a test issue limitation with FTR.   For the cloud one, we won't be able to test it until the PR is merged and is contained in next cloud snapshot.

[2021-03-03 19:53] mikecote opened #93501 "Investigate how alerting handles index pattern field changes and removals"
See https://github.com/elastic/kibana/issues/92753.

Investigate how alerting handles index pattern field changes and removals.

[2021-03-03 19:53] elasticmachine commented on #93501
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-03 19:55] chrisronline commented on #93078
If you reload Stack Monitoring, do you get the same errors?

[2021-03-03 19:59] mikecote commented on #92166
I wonder if we should drop `triggersActions` part or rename it (ex: `rulesAndConnectors`)?

[2021-03-03 20:00] alexfrancoeur commented on #80514
I think the intent is to provide the first true product tour in Kibana that can be used across features, products and solutions. At the moment, this exists in the form of an EUI product tour component. When we say screen, what exactly are we referring to? For Discover, it sounds like each tour component would be data source, data range and search. Correct? I guess I'm not completely following the

[2021-03-03 20:02] #86273 closed

[2021-03-03 20:04] simianhacker commented on #93078
I got that error even when I navigated to the clusters overview page.

[2021-03-03 20:04] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12316/)

[2021-03-03 20:08] mostlyjason opened #93504 "[Fleet] Hosted agent policies"
**Problem**
In most cases Fleet provides full central management for Elastic Agents. However, in some use cases, the infrastructure for Elastic Agents is managed outside of Fleet. Examples include ESS and K8s where these platforms are responsible for the creation of containers/pods for Elastic agent. They specify when agents are created, upgraded, or removed, and this would conflict with Fleet. Fo

[2021-03-03 20:08] elasticmachine commented on #93504
Pinging @elastic/fleet (Team:Fleet)

[2021-03-03 20:10] bhavyarm opened #93505 "Saved objects management table doesn't adhere to the listing limit set in advanced settings"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** darwin

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user sets the listing objects limit in advanced settings using "Objects listing limit" - it doesn't reflect in saved objects ma

[2021-03-03 20:10] elasticmachine commented on #93505
Pinging @elastic/kibana-core (Team:Core)

[2021-03-03 20:13] tsullivan commented on #87717
new test run: https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-flaky-test-runner/JOB=flakyRun1,TASK=saas_run_kibana_tests,node=ess-testing/223/

[2021-03-03 20:21] simianhacker commented on #93075
LGTM

[2021-03-03 20:21] #93075 closed

[2021-03-03 20:25] chrisronline commented on #93078
You deleted the entire deployment? Or just removed it as a remote cluster?

[2021-03-03 20:33] spalger commented on #93152
Attempted to fix in https://github.com/elastic/kibana/pull/93350, but that was reverted to reskip the test

[2021-03-03 20:53] poffdeluxe opened #93512 "[Canvas] Functional tests for embeddables"
With the 7.12 testing week, there were several issues with embeddables in Canvas workpads (#92927 and #92551). We should spend some time to write tests that test for embeddables correctly displaying in workpads across fullscreen mode and in PDF reports.

[2021-03-03 20:53] elasticmachine commented on #93512
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-03 20:55] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12317/)

[2021-03-03 20:55] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12317/)

[2021-03-03 20:57] oatkiller commented on #89090
The EUI code that backs this dialog (EuiPopover) is missing the functionality required to support very large popovers. We could submit a PR against Eui to add such functionality, but I'm not convinced that this would fit into the roadmap for the EuiPopover component. I also question whether a popover is the right approach for such a large dialog. @lindseypoli @dontcallmesherryli @peluja1012 Is the

[2021-03-03 21:03] ymao1 commented on #92166
`/app/management/insightsAndAlerting/rulesAndConnectors/rules` and `/app/management/insightsAndAlerting/rulesAndConnectors/connectors`? I would probably prefer something more like `/app/management/insightsAndAlerting/alerting/rules` and `/app/management/insightsAndAlerting/alerting/connectors` but then if we wanted to rename the `triggers_actions_ui` plugin, what would we name it lol?

[2021-03-03 21:16] kobelb opened #93515 "Kibana's hidden indices"
**Warning: I have been updating the GitHub issue description based on the consensus that has been reached. Please let me know if you feel like I'm misstating something.**

# Context

Starting in 8.0, whenever a dot-prefixed index is created, it will have to be either a system-index or hidden.

However, dot-prefixed indices can be created in 7.x without being hidden. When Elasticsearch is upgraded

[2021-03-03 21:17] jfsiii commented on #93504
I think we should change the saved object `is_managed` property to reflect the new feature name. e.g. `is_externally_managed` or something. maybe `managed_by: enum` if we think we want to track who/what is in control.

Do we want to make this change in 7.12 (already at BC3) or make a migration in 7.13?

It's after 7.12 FF but just asking if we want to get it in "right" from the beginning.

[2021-03-03 21:18] kobelb commented on #93515
@jaymode, I bothered you a bit about this on Slack. I don't think that the Upgrade Assistant is a valid option because of the reasons articulable above. Do you mind confirming my understanding? If my understanding is correct, that leaves us with Option 2 and Option 3, both of which are tolerable to me. If we're going to have a bunch of other "systems" performing this similar logic, is that a stron

[2021-03-03 21:18] kobelb commented on #93515
/cc @mikecote

[2021-03-03 21:20] blakerouse commented on #93445
@nchaulet I don't think I did, but could be possible. I was doing lots of things at the same time. Will re-open if I can reproduce.

[2021-03-03 21:20] #93445 closed

[2021-03-03 21:25] rudolf commented on #92933
yeah, I think it makes the most sense to keep both. Painless migrations happen as a scripted reindex and afterwards we do the "normal" migrations in Kibana. We only recommend painless migrations if performance would be unacceptable with "normal" migrations.

We would have to get all the painless migration scripts and compose that into a single reindex script that will get applied. Generating/compi

[2021-03-03 21:27] mostlyjason commented on #93504
@jfsiii hold off on any changes for this issue right now. Its still work in progress. I have an open question to @ruflin about whether this should really be a called an Elastic Cloud type policy, since some of the requirements are specific to Elastic Cloud and do not apply to generic use cases like K8s.

[2021-03-03 21:40] smith opened #93518 "[APM] Service name and transaction type aren't pre-filled on alert creation flyout"
When viewing a service and creating an alert, the service name and transaction type should be pre-filled. It's not:

![image](https://user-images.githubusercontent.com/9912/109875890-a9931900-7c36-11eb-81f2-c9d00e0b49c4.png)

Ensure this is the case for all alerts.

[2021-03-03 21:40] elasticmachine commented on #93518
Pinging @elastic/apm-ui (Team:apm)

[2021-03-03 21:42] mostlyjason commented on #90437
@hbharding and I discussed this earlier today. I think we make the behavior for the bulk actions consistent, both with each other and with Elasticsearch. That means we should switch the upgrade behavior to apply the upgrade to permitted agents.

To support this workflow in the UI, we discussed updating the existing bulk action confirmation dialog to show a message when the bulk action cannot apply

[2021-03-03 21:48] #90006 closed

[2021-03-03 21:54] jaymode commented on #93515
On the Elasticsearch team, we determined that for indices such as watcher, ilm, and slm history that we would make all new indices hidden. These indices are created with a version and are time based; our reasoning was that the majority of our users would be doing searches against these indices and most likely using a wildcard starting with a `.` or an exact index name and therefore the change to t

[2021-03-03 22:06] spong commented on #93337
Looks like this is a duplicate of https://github.com/elastic/kibana/issues/63155, and there's this related issue as well https://github.com/elastic/kibana/issues/63155.

[2021-03-03 22:15] mukeshelastic commented on #92142
Yes @ph this is for post GA and we don't need to work on it until all other GA items are designed.

[2021-03-03 22:24] kobelb commented on #92933
Is my understanding correct that saved-object migrations v2 is "fast" as long as we don't have a specific saved-object type with a ton of instances (millions) that defines a normal migration?

[2021-03-03 22:40] spalger commented on #41321
This is in beta testing mode right now, if you include the `auto-backport` label to a PR it will be automatically backported via a Github action.

[2021-03-03 22:40] #41321 closed

[2021-03-03 22:44] graphaelli opened #93527 "[Logs UI] url generated for "View in APM" is incorrect"
**Kibana version:** 7.12.0 & 8.0.0

Cmd-click on the link from Logs UI to APM goes to a page that doesn't show a trace that it should.  To be clear, this:

<img width="948" alt="image" src="https://user-images.githubusercontent.com/83483/109881713-bcade500-7c46-11eb-9218-6ca5a144b2b6.png">

for example points to `apm/traces/cfa7b84f2bca92ab20c7481c3f780737%3FrangeFrom=now-1y&rangeTo=now/root_trans

[2021-03-03 22:44] elasticmachine commented on #93527
Pinging @elastic/apm-ui (Team:apm)

[2021-03-03 22:44] elasticmachine commented on #93527
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-03 22:50] kobelb commented on #93515
Even if this is only a "small" breaking change, why wouldn't we defer it to only be done in 8.x? Are we realizing significant benefits from making this change earlier?

[2021-03-03 23:11] liza-mae commented on #93360
Closing this is due to the windows path being over 260 characters

[2021-03-03 23:27] spalger opened #93533 "Attempt to handle automatic conflict resolution for local backports"
https://github.com/sqren/backport/pull/206 added support for automatic conflict resolution logic in the backport script, which we should try to take advantage of.

Ideally this could be applied via the Github Action at some point, but for now I think it's reasonable to just focus on handling these cases when running backports locally where failures can be debugged easier with access to the filesys

[2021-03-03 23:27] elasticmachine commented on #93533
Pinging @elastic/kibana-operations (Team:Operations)

[2021-03-03 23:30] #93385 closed

[2021-03-03 23:55] sqren commented on #91165
I'm not following. What purpose does it serve to create an agent configuation with default (unchanged) options?

[2021-03-04 00:05] bhavyarm commented on #84141
All done. Also upgraded on cloud from 6.8.14->7.3.2->7.12.0 (Latest BC)

[2021-03-04 00:06] sqren commented on #93527
Problem occurs because `getApmTraceUrl` returns a `path`

https://github.com/elastic/kibana/blob/4e21faeeb69c032cb72a031e16f8e4a7c778d5f5/x-pack/plugins/observability/public/utils/get_apm_trace_url.ts#L8-L18

and logs app consumes it as a `pathname`:

https://github.com/elastic/kibana/blob/4e21faeeb69c032cb72a031e16f8e4a7c778d5f5/x-pack/plugins/infra/public/components/logging/log_entry_flyout/log_

[2021-03-04 00:18] stacey-gammon commented on #60216
I think this issue may be moot now that we have the new API docs system. Please feel free to re-open if you think it is still relevant.

[2021-03-04 00:18] #60216 closed

[2021-03-04 00:45] boutcher commented on #15545
YES! Was just about to open a new issue for this. Readability would be MUCH simpler if Timelion supported a syntax like this:

.es(index=cars,metric=sum:salesPrice,timeField=saleDate)**.assign('salesAmount')**

.es(index=cars,metric=sum:salesPrice,timeField=saleDate,offset=-7d)**.assign('salesAmountLastWeek')**

And then accessed later like this:

**.val('salesAmount')**.subtract(**.val('salesAmou

[2021-03-04 00:51] kobelb commented on #82020
Thanks, @111andre111, that's super helpful.

We've been actively working on improving saved-object migrations, and Kibana 7.12 will include some rather significant improvements, including automatically retrying failed migrations. Before 7.12, it was common for the saved-object migrations to fail and require manual intervention to retry, even when there was just a transient issue. Starting in 7.12,

[2021-03-04 01:00] jagjag commented on #92949
@pmuellr

hi, thank you for your reply.   I reproduced the issue and got the same error last night.  please check the log.
and I also tried slack please check the screenshot below. thank you.

**kibana log**
[code]

**slack**

Slack a message  by curl with proxy config is ok on the kibana server

![slack_on_the_same_server](https://user-images.githubusercontent.com/1321754/109893917-7cdb1200-7cc7-

[2021-03-04 01:10] tsullivan commented on #37481
I'm going to close this since the test since it is not flaky.

[2021-03-04 01:10] #37481 closed

[2021-03-04 01:13] tsullivan commented on #42728
I see this passing in the cloud test runner, and I have verified it passes in windows using the functional tests server.

[2021-03-04 01:13] #42728 closed

[2021-03-04 01:17] tsullivan commented on #91309
I ran several iterations of the test suite in the cloud test runner, and it is not flaky

[2021-03-04 01:17] #91309 closed

[2021-03-04 01:20] tsullivan commented on #87717
Verified this test is being run and is passing in Jenkins. Closing this.

[2021-03-04 01:20] #87717 closed

[2021-03-04 01:21] tsullivan commented on #91712
Any flakiness in this test may also be attributed to https://github.com/elastic/kibana/issues/87021

[2021-03-04 01:38] augustynd opened #93549 "Suppression Mechanism for the Detection Alerts"
Under _Security / Detections_, there is no mute/suppress capability to suppress a noisy detection alert, not the rule, just the alert. It would be useful to suppress a detection alert based on a known/validated indicator, such as source.ip, source and destination IPs (combination), source + domain, source + hash, etc. I've seen there is a suppression capability for _Alerts and Actions_ in Kibana (

[2021-03-04 01:43] spong opened #93550 "[Security Solution][Detections][Meta] Modularize the Detection Engine"
This is the meta ticket for tracking the modularization of the Detection Engine. The below is our first steps in supporting RAC (Rules/Alerts/Cases) everywhere, and all efforts are still open for discussion. 🙂

### High level feature-sets
#### Exceptions
Within the main executor, the exceptions logic can be specific to certain rule types (e.g. `createThreatSignals()` & `buildEqlSearchRequest()`),

[2021-03-04 01:43] elasticmachine commented on #93550
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 01:43] elasticmachine commented on #93550
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-04 02:31] romain-chanu commented on #92927
This is a duplicate. Same issue has been reported in https://github.com/elastic/kibana/issues/90717.

[2021-03-04 02:41] ryankeairns commented on #93384
I feel like we can build upon the common View vs Edit pattern that people have likely encountered elsewhere.
In this case, what if we change 'Cancel' to 'Swtich to view mode' (or just 'View mode') and keep the same prompt. It would look something like this:

<img width="664" alt="Screen Shot 2021-03-03 at 8 31 38 PM" src="https://user-images.githubusercontent.com/446285/109902621-5209a300-7c60-11e

[2021-03-04 03:09] hbharding commented on #91906
@jfsiii  I've put together some mocks that should account for everything discussed here. I can send you the Figma file if that's easier (don't want to post link here since it's a public issue)

## Ability to create centrally managed agent policies
- In the "create agent policy" flyout, I added a section for "Agent policy type" under advanced options.
- The available options are "Regular" (default)

[2021-03-04 03:24] huizhiliu opened #93554 "There are garbled characters in the table header on the threshold alarm page"
**Kibana version**: 7.10.1

**Elasticsearch version**: 7.10.1

**Host OS and Browser version**: Windows 10, All

**Description of the problem including expected versus actual behavior**:
In this version, many garbled header fields were found
![image](https://user-images.githubusercontent.com/5803957/109906780-17455080-7cdc-11eb-8588-0f56281a34b0.png)

![image](https://user-images.githubusercontent

[2021-03-04 03:31] hbharding commented on #90437
Screenshots for this below. My proposal is that we include a warning callout below the modal's title indicating "X of Y agents you have selected cannot be [action, past tense] because they are enrolled in an externally managed agent policy"

I noticed a small inconsistency with how we implemented bulk actions in the UI. **Unenroll** and **upgrade** both open modals, whereas the **Assign to new pol

[2021-03-04 05:50] amolnater-qasource commented on #92814
Hi @EricDavisX
We have revalidated this issue on 7.12.0 BC-3 Kibana cloud environment and found it **fixed**.

**Build details:**
[code]

**Screenshot:**
![tele](https://user-images.githubusercontent.com/77374876/109917378-3e4f5280-7cdb-11eb-8350-73fdebce07c0.png)

Please let us know if anything else is required.
Thanks
QAS

[2021-03-04 07:04] amolnater-qasource opened #93558 "7.11.0 Standalone agent is not sending data to 7.12.0 BC-3 Kibana under data streams tab."
**Kibana version:** 7.12.0 BC-3 Kibana Cloud environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**
1. 7.12.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Agents tab and install 7.11 standalone agent with default policy having system integration.
3. Navigate to

[2021-03-04 07:05] amolnater-qasource commented on #93558
@manishgupta-qasource Please review.

[2021-03-04 07:06] kibanamachine commented on #90135
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/94/)

[2021-03-04 07:11] deepikakeshav-qasource opened #93559 "[Security Solution] When clicking on "file.Ext.code_signature" field delete icon, "trusted" field becomes the nested field of file.path.caseless under endpoint exception modal."
**Description**
When clicking on "file.Ext.code_signature" field delete icon, the "trusted" field becomes the nested field of file.path.caseless under endpoint exception modal.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Endpoint security should be installed
3. Alerts should be generated.

**Steps to Reproduce:**
1. Navigate to De

[2021-03-04 07:11] elasticmachine commented on #93559
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 07:11] deepikakeshav-qasource commented on #93559
@manishgupta-qasource Please review!!

[2021-03-04 07:19] deepikakeshav-qasource commented on #90725
Hi @dplumlee

We have validated this Ticket on 7.12.0 BC3 and found that issue is **Fixed** and We have updated below test case  from file.path.text to file.path.caseless:

Test case Updated:
- [C20386](https://elastic.testrail.io/index.php?/cases/view/20386)

**Build Details:**
[code]

**Screenshot:**
- Alerts are not triggered after added the signed mimikatz alert.
![signed_alerts](https://user-

[2021-03-04 07:19] #90725 closed

[2021-03-04 07:35] majagrubic commented on #92843
Exactly, `size` should be the maximum number of documents returned by the query.
So, when executing the same request from DevTools console and Discover, the response is different.
Request:
[code]

Devtools response:
[code]

 Discover response:
[code]

Why this discrepancy?

[2021-03-04 07:55] manishgupta-qasource commented on #93558
Reviewed & assigned to @EricDavisX

[2021-03-04 07:55] elasticmachine commented on #93554
Pinging @elastic/kibana-localization (Team:Localization)

[2021-03-04 07:57] manishgupta-qasource commented on #93559
Reviewed & Assigned to @MadameSheema

[2021-03-04 08:02] tanish14 commented on #92192
@jportner I was unable to find the files for 'spaces' mentioned in the issue, it would be really great if you can help. :))

[2021-03-04 08:04] zanbel commented on #92990
We wanted to make sure users can't delete the `found-snapshots` repository and the `cloud-snapshot-policy` policy elastic/cloud#34704. There shouldn't be a reason to prevent users from configuring additional policies using the preconfigured repo. The additional snapshots will be metered in the same way since we don't have a specific logic that looks at the specific policy (cc @yoavderazon @blfrant

[2021-03-04 08:07] tanish14 commented on #92192
@jportner Can you pls tell if this is the right unit test for role_mappings_app
`it('sets breadcrumbs', async () =>{
    const { getStartServices } = coreMock.createSetup();
    const coreStartMock = coreMock.createStart();
    getStartServices.mockResolvedValue([coreStartMock, {}, {}]);
    const { authc } = securityMock.createSetup();

    const setBreadcrumbs = jest.fn();
    const history = sc

[2021-03-04 08:09] pgraca-38 commented on #67614
Hi wylieconlon, what would be your decision then? When we want to do X/Y graphs without time (let's say compare population size by coutry/ Temperature over position/etc... ) is there a way to do it in Kibana without the Line graph?

[2021-03-04 08:13] tanish14 commented on #92192
[code]

[2021-03-04 08:20] flash1293 commented on #67614
@pgraca-38 As a workaround for now you can use the aggregation based visualizations instead of Lens - there you can set the axis extends for all types of xy series.

@wylieconlon Let's discuss this offline, but we have to think through how this will work in the Lens UI (e.g. in the case of mixed xy chart)

[2021-03-04 08:25] cnasikas opened #93563 "[Security Solution][Connectors] Upgrading from 7.10 to 7.11 breaks actions for detection rules."
Before PR https://github.com/elastic/kibana/pull/84587 action's parameters for Jira, ServiceNow, and IBM Resilient was of the form

[code]

After the aforementioned PR the structure changed to

[code]

A migration is missed in the PR to accommodate the structural change. For that reason, actions configured either in alerts or detection engine in 7.10 will not work after and upgrade to 7.11 and wil

[2021-03-04 08:25] elasticmachine commented on #93563
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 08:26] elasticmachine commented on #93563
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-04 08:30] flash1293 commented on #92843
@majagrubic The difference is the `rest_total_hits_as_int` flag:
https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-search.html

It's a BWC option for a breaking API change. All consumers should migrate to the new format you see in the dev tools. If you need the exact number of hits, you should use the `track_total_hits` setting: https://www.elastic.co/guide/en/elasticsearch/refere

[2021-03-04 08:39] kertal opened #93566 "[Discover][Embeddable] Improve loading state indication"
Currently the saved search embeddable is very silent about loading state of data. When working with much data or on slow systems it could lead to the impression that it's not working. It should work like Lens in the following example (Vis in the right corner at the top, showing a progress bar at the start). showing that data fetching is ongoing:

https://user-images.githubusercontent.com/463851/10

[2021-03-04 08:39] elasticmachine commented on #93566
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 08:47] sebelga commented on #62038
Yes but the _action_ of adding an item to the bucket occurs when hitting the ENTER key. At that moment we have zoomed in to a specific area of the form and we say: "sorry, the item is invalid, we can't add it".
When the user clicks "Next", we are back at the policy level. At that level the user is not managing the index pattern anymore, and we validate the policy as a whole ("does it contains at l

[2021-03-04 08:48] kertal commented on #92843
@flash1293 should be part of this task #69134

[2021-03-04 09:06] timroes commented on #93488
Duplicate of https://github.com/elastic/kibana/issues/83297 Please just upgrade to 7.10.1 where this is fixed.

[2021-03-04 09:06] #93488 closed

[2021-03-04 09:16] kertal opened #93567 "[UnifiedDataTable] Add document/field diffing"
When EuiDataGrid in Discover allows users to select and compare documents/fields (#93453) it will be useful. So let's make it awesome. For certain tasks it would be very useful do introduce diffing. For example you could to diff a SIP message of a certain ID sent from several components with several documents in Elasticsearch. Would be useful for debugging. Here's a mockup how it could look like.

[2021-03-04 09:16] elasticmachine commented on #93567
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 09:21] karanbirsingh-qasource opened #93568 "[Security Solution] Text is getting misalligned for alert added comment on case on upgrading case from 7.11.1 --> 7.12.0 BC3"
**Describe the bug**
Text is getting misalligned for alert added comment on case on upgrading case from 7.11.1 --> 7.12.0 BC3

**Build Details:**
Version: 7.12.0 BC3
Platform: Production
Commit:08417cbd6c15e4c866651a7dcdfeded58845206d
Build:39134

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Auditbeat should be installed on abo

[2021-03-04 09:21] elasticmachine commented on #93568
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 09:22] karanbirsingh-qasource commented on #93568
@manishgupta-qasource Please review

[2021-03-04 09:25] przemekwitek opened #93569 "[ML] [Transform] display script_exception compile error message in wizard"
When I'm creating a transform with search runtime mappings and one of the scripts in this runtime mappings section has a bug, I get:
[code]

Would it be possible to add a message from the script compiler that tells exactly what was wrong with the script?
Here is the example output from Dev Tools that give hint about where in the script there is a bug:
[code]

[2021-03-04 09:25] elasticmachine commented on #93569
Pinging @elastic/ml-ui (:ml)

[2021-03-04 09:35] restrry commented on #82431
No, but maybe we can migration some of them in 7.13

[2021-03-04 09:40] formgeist commented on #93421
Alright, I'll close since we're planning on fixing this with a new UI soon-ish 👍

[2021-03-04 09:40] #93421 closed

[2021-03-04 09:40] kertal opened #93570 "[ML] Trying to create a transform with certain data leads to an exception"
**Kibana version:**
7.12

**Steps to reproduce:**
1. Create data + index pattern with `makelogs`
2. Try to create a transform with this indexpattern
3. The form won't be rendered due to an exception in console

**Expected behavior:**
Transform should be rendered without exception

**Screenshots (if relevant):**
![Bildschirmfoto 2021-03-04 um 10 33 04](https://user-images.githubusercontent.com/4638

[2021-03-04 09:42] manishgupta-qasource commented on #93568
Reviewed & Assigned to @MadameSheema

[2021-03-04 09:45] peteharverson opened #93571 "[ML] Gracefully handle index pattern field changes and removal"
Mappings and field lists change and we need to make sure that ML and Transforms handle this gracefully. Field lists are expected to change more frequently with the introduction of runtime fields. Runtime fields may be removed or their types may change, either of which may be disruptive to code that assumes their presence is unchanged.

Part of #92753.

The following areas need to be investigated t

[2021-03-04 09:45] elasticmachine commented on #93571
Pinging @elastic/ml-ui (:ml)

[2021-03-04 09:50] ruflin commented on #91906
We should not allow users to create a "externally managed policy" through the UI, this is an API only feature.

[2021-03-04 09:52] ruflin commented on #93051
Pinging @tvernum on this. We are checking for a `role` in Kibana but an API key does not have a role AFAIK so the check fails. Is this assumption correct?

[2021-03-04 09:53] timroes commented on #92843
As Matthias pointed out the work to change Discover logic is tracked in #69134 I've left a rather detailed description how it should work in https://github.com/elastic/kibana/issues/69134#issuecomment-722288892.

I would advertise strongly against rewriting the hit count response. Either the user is using the legacy flag where they get exact results (in which case we'll still have the old result),

[2021-03-04 09:53] #92843 closed

[2021-03-04 09:55] mattseaborn commented on #92419
We would also find this useful.

[2021-03-04 09:55] mbondyra opened #93572 "[Lens] When having datatable visualization with last value on string, xy chart shouldn't appear in suggestions"
**Kibana version:**
master

Create following table configuration:
<img width="235" alt="Screenshot 2021-03-04 at 10 57 44" src="https://user-images.githubusercontent.com/4283304/109946392-7bfeac00-7cd8-11eb-9bc9-b11c66287e4d.png">

One of the suggestion is a bar char. It cannot be displayed correctly because strings are not accepted for last value metric type for xy Charts. It throws an error in t

[2021-03-04 09:55] elasticmachine commented on #93572
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 10:01] #90992 closed

[2021-03-04 10:02] muskangulati-qasource commented on #86987
Hi @kevinlog,

We tested this ticket on the latest 7.12.0 BC3 build and found that issue is now **fixed**.

**Observation**:
The side panel width is now increased and all the logs are properly aligned within the table structure.

**Refer Screenshot**:
![table](https://user-images.githubusercontent.com/60252716/109925761-2500d300-7ce8-11eb-9f40-34c6c9fb43c8.PNG)

Hence, closing this issue and marki

[2021-03-04 10:02] #86987 closed

[2021-03-04 10:03] muskangulati-qasource commented on #92161
Hi @kevinlog,

We tested this ticket on the latest 7.12.0 BC3 build and found that issue is now **fixed**.

**Observation**:
Scroller is added successfully

**Refer Screenshot**:
![Scroller](https://user-images.githubusercontent.com/60252716/109938900-87f96680-7cf6-11eb-9bf0-9f56681f2b1a.png)

Hence, closing this issue and marking it as 'Validated'.

Thanks!

[2021-03-04 10:03] #92161 closed

[2021-03-04 10:21] pheyos commented on #93188
Looks like this failure happens very rarely. I can see four failures in the last two weeks, the one mentioned here on a tracked branch and three on PRs:
![image](https://user-images.githubusercontent.com/1945390/109949269-76ef2c00-7cdb-11eb-935f-1a173d936c3e.png)

The failure screenshot show that the cell popover is opened correctly but displays the json content instead of the decision path. We ca

[2021-03-04 10:24] pheyos commented on #93188
I suspect that sometimes the backend analysis only produces one feature instead of the expected two. But given the very small number of failures (three in all PR runs of the last two weeks), it will be hard to reproduce and to stabilize.

[2021-03-04 10:25] mbondyra opened #93574 "[Lens] Counter rate, cumulative sum and differences operation don't respect custom displayName"
**Kibana version:**
master

Counter rate, cumulative sum and differences operations take the field name from `field.name` and not `field.displayName`

**Steps to reproduce:**
. Go to stack management, index pattern, choose kibana e-commerce index and change the name of a field `category.keyword` to `customNameCategoryKeyword`
. Go to lens, create a differences visualization:
.. Create a date histo

[2021-03-04 10:25] elasticmachine commented on #93574
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 10:26] mdelapenya commented on #91165
I was creating this configuration for testing purpose, preparing APM config for running automated tests (more specifically configuring APM Server when the Elastic stack security is enabled). And found the behaviour a bit inconsistent.

Let me step back: from user's standpoint, what is the different of having a config with default values from not having a config at all? If there is no difference, t

[2021-03-04 10:52] jalvz commented on #92621
Note: Not the status, but the error `"package version was not a valid semver"` is not correct.

`0.1.0-dev.4` is valid semver (https://semver.org/#spec-item-9)

[2021-03-04 10:55] kibanamachine opened #93576 "Failing test: API Integration Tests.test/api_integration/apis/telemetry/telemetry_local·ts - apis Telemetry /api/telemetry/v2/clusters/_stats application usage limits 10k + 1 "after all" hook: clean them all for "should only use the first 10k docs for the application_usage data (they'll be rolled up in a later process)""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12331/)

[2021-03-04 10:56] ruflin commented on #93504
What means "user can create externally managed agent policies" in this context? Through the UI or API? I would consider this only an API feature. As it is managed externally through the API anyways, I don't think we need to expose this.

[2021-03-04 11:14] gmmorris opened #93578 "[APIDocs] Typescript deep type inference"
I 😍  the new APIDocs!

I noticed a couple of thing I was hoping we might be able to polish.
Nothing major, but worth looking into.

1. Types appear as the explicit type, which I think is useful, but it would be great if we could also evaluate the final inferred type? I don't know if that's possible (I know VSCode has the same quirk), but I thought it's worth asking:
<img width="898" alt="Screensho

[2021-03-04 11:15] elasticmachine commented on #93568
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-04 11:17] MadameSheema commented on #93568
@karanbirsingh-qasource can you please check if you are able to see the details of the alert clicking on the arrow? Thanks 😊

[2021-03-04 11:21] karanbirsingh-qasource commented on #93568
Yes , we are do able to see more details of added alert by clicking on ">" arrow icon against the comment.

![image](https://user-images.githubusercontent.com/59917825/109956590-d401d680-7d09-11eb-9950-5afb44621239.png)

[2021-03-04 11:25] karanbirsingh-qasource commented on #93568
Additionally one thing more observation on this issue.

- **on 7.11.1**
Comment : Elastic added an alert from **Malware detection alert**
![image](https://user-images.githubusercontent.com/59917825/109956938-41ae0280-7d0a-11eb-89a4-57218095b45f.png)

- **After upgrading to 7.12.0**
  - Malware detection rule name got changed to **Unknown rule**. 🔴
![image](https://user-images.githubusercontent.com

[2021-03-04 11:46] Bamieh opened #93582 "[Telemetry] Stop sending telemetry and collecting metrics when reporting service is running kibana"
We need to provide a way to block collecting ui counters and sending telemetry when kibana is open for reporting service to take screenshots.

Context: https://github.com/elastic/kibana/issues/41402#issuecomment-786302473

[2021-03-04 11:46] elasticmachine commented on #93582
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-03-04 11:46] deepikakeshav-qasource commented on #92819
Hi @MadameSheema

We have validated this ticket on 7.12.0 BC3 and observe that issue is **fixed**.

- Old Cases are displayed under the cases tab after upgrade from 7.11.1 to 7.12.0 build, also able to create the new cases.

**Screenshots:**
**7.11.1 Build**
![cases_7 11 1](https://user-images.githubusercontent.com/61860752/109954015-d0208500-7d06-11eb-845f-bddc7c8e5967.jpg)

**After upgrade to 7.

[2021-03-04 11:46] #92819 closed

[2021-03-04 11:47] Bamieh commented on #41402
@tsullivan I opened an issue for the core team to follow up on and prioratize to unblock

[2021-03-04 11:49] restrry commented on #92185
It'd say it's time to get rid of the legacy wrapper. Monitoring plugin must migrate to the new ES client before `v8.0` anyway https://github.com/elastic/kibana/issues/83910 , which will force the plugin to move ES client instantiation to `start` lifecycle.

[2021-03-04 11:51] afharo commented on #93582
Is there any specific parameter that can help us with identifying it? User-agent === "HeadlessChrome"? Do we have any other way that is less hacky (i.e.: an actual API we can confirm this is a reporting request?)

[2021-03-04 11:59] Bamieh commented on #93554
Thanks for raising this issue. I'll follow up with the translations team on the next minor release to make sure we have these entered correctly.

[2021-03-04 12:01] mikecote commented on #92166
Gotcha, I'm ok if we hold off on my suggestion since the alerting UI will eventually become its own application (leaving connectors alone). The `.../alerting/connectors` route seems odd to me since connectors are de-coupled from alerting and used by cases (it will be more obvious soon when you can use connectors to share things from dashboards).

[2021-03-04 12:02] Bamieh commented on #93582
We can add a special flag in localstorage to prevent sending the data. But I am not sure if this value will persist outside the headless browser for normal usage.

[2021-03-04 12:07] Bamieh commented on #88678
@restrry added to the list. Native promises caught up with both performance and features to what bluebird used to offer.

[2021-03-04 12:07] afharo commented on #93582
@elastic/kibana-app-services or @elastic/kibana-reporting-services do you know of any existing API to identity it's a reporting request?

[2021-03-04 12:23] karanbirsingh-qasource commented on #86419
Hi @cnasikas

we have validate this issue on 7.12.0 BC3 and Found it Fixed. Now Correct Label is being shown under the switch button under Case.

**Build Details:**
[code]

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/109963304-44145a80-7d12-11eb-9ba6-5419832de040.png)

Hence, Adding "QA Validate" Label to it.

thanks !!

[2021-03-04 12:23] jalvz commented on #91412
We will also have some settings to configure the Java agent attacher (https://github.com/elastic/apm-server/issues/4830, https://github.com/elastic/apm-server/issues/4829), which will probably need a clear visual distinction, too.

[2021-03-04 12:24] flash1293 opened #93586 "Combo box dropdowns are not centered below the input"
**Kibana version:** master

**Browser version:** Chrome 88.0

**Browser OS version:** macOS 10.15.7

**Describe the bug:** All EUI combo box dropdowns open slightly shifted to the right and are not centered below the input

**Steps to reproduce:**
1. Set scrollbar behavior to "Always" in system settings
2. Go to Kibana and open a combo box
3. Dropdown is not centered below the input

**Expected be

[2021-03-04 12:24] elasticmachine commented on #93586
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-03-04 12:29] karanbirsingh-qasource commented on #86417
Hi @cnasikas

we have validate this issue on 7.12.0 BC3 and Found it Fixed. No Error prompt is thrown on opening alert detail flyout.

**Build Details:**
[code]

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/109964121-42976200-7d13-11eb-8fb5-1bfdb3b9935d.png)

Hence, Adding "QA Validate" Label to it.

thanks !!

[2021-03-04 12:31] flash1293 opened #93587 "Page very slightly scrollable if elements are added directly to the body"
**Kibana version:** master

**Describe the bug:** Some UI components add elements directly to the HTML body (e.g. the monaco editor). If these elements have a non-zero height, it causes the body to become scrollable by 1 pixel.

**Steps to reproduce:**
1. Set  scrollbar behavior to "Always" in system settings (mac only)
2. Go to Visualize or Discover
3. Open the inspector and go to the "Request" t

[2021-03-04 12:31] elasticmachine commented on #93587
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-03-04 12:31] flash1293 commented on #92135
Opened an issue for the shifted combo boxes here: https://github.com/elastic/kibana/issues/93586
Opened an issue for the scrollable body here: https://github.com/elastic/kibana/issues/93587

[2021-03-04 12:32] flash1293 commented on #84638
Fixed by https://github.com/elastic/kibana/issues/92135

[2021-03-04 12:32] #84638 closed

[2021-03-04 12:40] deepikakeshav-qasource commented on #82327
Hi @MadameSheema

We have validated this ticket on **7.12.0 BC3** and below are our observations:

**Observations:**
- We have created more than 6 indicator rules with look-back time (i.e. 30000 hours) and run every(i.e. 10 seconds)
- Then navigate to the Detection rule page. Detection rule page loads in 30 seconds.

**Screenshots:**
![Detection_page](https://user-images.githubusercontent.com/6186

[2021-03-04 12:41] karanbirsingh-qasource opened #93588 "[Security Solution]Case Tab : Row per Page setting did not retained after clicking on any case and coming back"
**Describe the bug**
Case Tab : Row per Page setting did not retained after clicking on any case and coming back

**Build Details:**
Version: 7.12.0 BC3
Platform: Production
Commit:08417cbd6c15e4c866651a7dcdfeded58845206d
Build:39134

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.

**Steps to Reproduce**
1. Navigate to Kibana and g

[2021-03-04 12:41] elasticmachine commented on #93588
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 12:42] gmmorris commented on #90378
The deprecation has been done as part of the same PR as https://github.com/elastic/kibana/issues/90376

This issue is now a reminder to contact the teams using these APIs and ask them to migrate by 7.last

[2021-03-04 12:43] karanbirsingh-qasource commented on #93588
@manishgupta-qasource Please review

[2021-03-04 12:47] jfsiii commented on #92621
@jalvz you're correct about the semver value. I believe the real issue is that EPM cannot find the package in EPR. We can decide whether we only want return some version of "could not get the package" or also have a "that doesn't seem valid" message as well. We should use the `semver` functions if we're dealing with semver.

[2021-03-04 12:48] manishgupta-qasource commented on #93588
Reviewed & Assigned to @MadameSheema

[2021-03-04 12:51] MadameSheema opened #93589 "[Security Solution][Detections] Indicator match rule mappings are not validated during creation"
**Describe the bug:**
- In the threatintel module, the domain indicator, is mapped as `keyword`. However, some of the values represented are IPs. If you want to match your ingested data that contains IPs with the domain indicator, the execution of the rule will fail.

**Kibana/Elasticsearch Stack version:**
- 7.12.0

**Preconditions:**
- To have the threatintel module activated
- To have ingested

[2021-03-04 12:51] elasticmachine commented on #93589
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-04 12:51] elasticmachine commented on #93589
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-04 12:56] elasticmachine commented on #93570
Pinging @elastic/ml-ui (:ml)

[2021-03-04 13:06] Bamieh commented on #93183
Just did a quick search for `any` against these folders. We have roughly 140 `any` types in total

[2021-03-04 13:11] Bamieh commented on #93185
We can create a new collector type next to `createUsageCollector` called `createRootCollector` or `createProductCollector` which appends the data to `stack_stats.*` instead of `stack_stats.kibana.plugins.*`. Then we can start enforcing schema there too.

Alternatively we can utilize `createStatsCollector` to achieve this.

[2021-03-04 13:29] formgeist commented on #88659
I've created two variations where we show a promotion for the Fleet integration if we don't see an existing install and if there's an existing integration we can display the "manage" option. I might still be a little unclear on the terminology (agent vs. integration), so feel free to give feedback on this.

Secondly, I have to explore what is possible within the getting start area which allows for

[2021-03-04 13:32] Kerry350 opened #93594 "[Logs UI] Improve log line accessibility"
At the moment we have components for rendering log lines and a context menu that are shared across the stream, anomalies, and categories page (on the ML pages this is for log entry examples).

<img width="1745" alt="Screenshot 2021-03-04 at 13 27 55" src="https://user-images.githubusercontent.com/471693/109970909-837c8000-7ced-11eb-893c-27b96b87e1a7.png">

The context menu isn't accessible via key

[2021-03-04 13:32] elasticmachine commented on #93594
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-04 13:34] pmuellr commented on #92949
There's a bug in versions of Kibana < 7.11 where if the proxy protocol and target protocol don't match, the resulting HTTP request is unlikely to work, because the call will be made with the protocol of the proxy and not the target.

That would happen in your case above with Slack, if `xpack.actions.proxyUrl` is still set to `"http://some-proxy-ip:8080"`, since slack uses an `https` protocol and t

[2021-03-04 13:34] alisonelizabeth commented on #92990
👍 thanks for clarifying @zanbel. I will update the logic in the UI to allow additional policies to be configured.

[2021-03-04 13:37] pmuellr commented on #92949
The original question concerned the email action and proxy.  Is the customer's proxy set up to handle SMTP connections?  Not clear to me that every http/s proxy can handle those, and we're wondering if we need to support a mode where:

- Kibana is configured with `xpack.actions.proxyUrl`
- that proxy doesn't support handling SMTP connections
- customer wants to use the email action

In that case,

[2021-03-04 13:39] Kerry350 opened #93596 "[Logs anomalies] UX / UI improvements for the anomalies page"
There are some minor improvements we can make to the anomalies page:

1) It can currently be a bit confusing that the swimlane embeddable controls are independent and do not affect the table. Please see: https://github.com/elastic/kibana/pull/89589#discussion_r570170045 (e.g. pagination and rows per page)

We should separate the swimlane and table into separate panels (or differentiate in some oth

[2021-03-04 13:39] elasticmachine commented on #93596
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-04 13:39] kibanamachine commented on #45244
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12201/)

[2021-03-04 13:45] elasticmachine commented on #93576
Pinging @elastic/kibana-core (Team:Core)

[2021-03-04 13:46] stacey-gammon opened #93598 "Support partial API doc building"
API docs have to be rebuilt quite often, so it would help to speed up building them by passing in a flag to focus only on a specific plugin.

[2021-03-04 13:48] Kerry350 opened #93599 "[Logs UI] Unexpected navigation can sometimes occur"
This is hard to replicate, and therefore hard to debug.

Sometimes when navigating between tabs, especially quickly, the app will redirect back to the stream page. E.g. from anomalies to the stream.

It's not consistent, and I found it hard (but not impossible) to replicate.

I tried checking out 7.10 and the behaviour also occurred there (again, this took some time to actually see 😞, maybe 20 - 3

[2021-03-04 13:48] elasticmachine commented on #93599
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-04 13:48] flash1293 opened #93600 "[Lens] Query of saved query is not submitted"
When using a saved query object which includes a query for the query bar, the query is added to the query bar, but isn't submitted (the user has to click "Update" manually). This is pretty confusing because based on the interaction, it looks like the query is applied to the current visualization (like the filter pills which are submitted automatically)

No saved query
<img width="1061" alt="Screen

[2021-03-04 13:48] elasticmachine commented on #93600
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 13:49] mistic commented on #90136
@angorayc the test failed again on `7.12`

[2021-03-04 13:56] #90907 closed

[2021-03-04 13:57] VijayDoshi commented on #67614
Could we have for line charts (and bar charts) an option to constrain the extents to the variation in the data in addition to or instead of fixed extents like what exist in TSVB.

[2021-03-04 14:02] flash1293 commented on #67614
@VijayDoshi that makes sense. In Visualize we allow the following settings:
* Absolute specified bounds
* "Scale to data bounds"
  * Optional setting to specify the margin of the bounds to the data extents

[2021-03-04 14:11] #89997 closed

[2021-03-04 14:11] #89120 closed

[2021-03-04 14:14] TinaHeiligers commented on #77958
Core | @TinaHeiligers

@stacey-gammon ack. @joshdover we'll need the _whole_ team to help out with this effort.

[2021-03-04 14:18] alexfrancoeur commented on #93436
As this is general Cloud / Kibana interaction as well, I don't think it could hurt to keep @joshdover and @thesmallestduck in the loop

[2021-03-04 14:20] chrisronline opened #93606 "[Monitoring] Unable to view logstash node page under standalone cluster"
This is primarily because [the route](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/routes/api/v1/logstash/node.js#L54) doesn't special case the standalone cluster uuid, like [other code](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/cluster/get_clusters_from_request.js#L57) does.

We need to extend the code to support handling

[2021-03-04 14:20] elasticmachine commented on #93606
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-04 14:21] dikshachauhan-qasource commented on #84967
Hi @EricDavisX

We have completed our regression plan on 7.12.0 Build.

Test Plan Link: [Ingest Manager 7.12.0 Regression Test Plan](https://elastic.testrail.io/index.php?/runs/view/1202)

Please Let us know if anything else is required.

Thanks
QAS

[2021-03-04 14:30] majagrubic opened #93607 "[Discover] Support for runtime fields editor"
This is a tracking issue to track work to support runtime fields editor in Discover.

**Current state**
1. Creating a new runtime field -> Field doesn't show up in Discover if it doesn't have a value, as it's not part of the Fields API response
2. The field starts showing up once it has a value defined
3. Changing a field type works (unless there's formatting on the field, but that seems like a bu

[2021-03-04 14:39] angorayc commented on #90136
Thanks for notice, @mistic. I ran it on my dev but couldn't reproduce it. I'm following up with the up coming builds and see if it still happen.

[2021-03-04 14:41] benwtrent opened #93610 "[ML] validate datafeed composite aggregation support in Single metric viewer"
**Describe the feature:**
Validations around if an aggregated datafeed can be shown in SMV should include composite aggregations.
**Describe a specific use case for the feature:**
With https://github.com/elastic/elasticsearch/pull/69970 it will be possible for users to create datafeeds that use composite aggregations.

The current validations ASSUME a `date_histogram` parent aggregation. But, it i

[2021-03-04 14:41] elasticmachine commented on #93610
Pinging @elastic/ml-ui (:ml)

[2021-03-04 14:46] felixbarny commented on #88659
One complication when Fleet is used (design B: Manage agent) is that depending on the policy, there are different installation instructions for agents.

Let's say there are two policies: one managed policy for an APM Server that's hosted on cloud and one unmanaged policy for an APM Server/Elastic agent that runs on the edge. For the managed policy, we need to show the `server_url` and `secret_toke

[2021-03-04 14:50] #92267 closed

[2021-03-04 14:59] lizozom commented on #15887
@lukasolson I actually changed it for the suggestions in the search bar, but not for the filters.

[2021-03-04 14:59] ymao1 commented on #92166
In the process of updating the docs, it seems like there are a lot of references to alerting that we wouldn't want to replace with `rule` (`ruling`?) and it seems a little disconnected for the UI not to mention alerting at all. How would we feel about `Alerting Rules and Connectors`?

<img width="1977" alt="Screen Shot 2021-03-04 at 9 57 41 AM" src="https://user-images.githubusercontent.com/131046

[2021-03-04 15:15] chandlerprall commented on #93586
:+1: We've got this one reported and triaged at https://github.com/elastic/eui/issues/4472

[2021-03-04 15:23] mikecote commented on #92166
I'm +1 on `Alerting Rules and Connectors`. I thought of alternatives but I'm accepting the fact that connectors should be split out someday.

[2021-03-04 15:29] mikecote commented on #58035
See https://github.com/elastic/kibana/issues/93515. We may have to wait for 8.0, or we may be able to push to 8.x.

[2021-03-04 15:35] sebelga opened #93618 "[ILM UI] Improve Timeline and time indicator"
When I started the work to implement frozen phase in ILM, the timing of the policy got me a quite confused so I'd like to start a discussion to see how it could be improved.

This was my experience navigating the UI:

1. I first set 10 days to each phase (warm, cold, frozen and delete) and expected to see an equal length for each phase but I got this

<img width="1149" alt="Screenshot 2021-03-04 a

[2021-03-04 15:37] tylersmalley commented on #9513
This appears to have already been done.

[2021-03-04 15:37] #9513 closed

[2021-03-04 15:37] elasticmachine commented on #93618
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-03-04 15:46] gmmorris commented on #92166
I think we should consider not changing - but adding the new ones and deprecating the old ones.
That way we don't need to change existing alerts, but users won't add new ones with the old keys as we can hide the deprecated ones from the list.

Is that possible? 🤔

[2021-03-04 15:49] nchaulet commented on #92110
Just to be sure I understand what is the wanted feature here for the standalone k8 agent we want to have this https://github.com/elastic/beats/blob/master/deploy/kubernetes/elastic-agent-standalone-kubernetes.yml corect?

[2021-03-04 15:51] nikokon commented on #92960
Finally found someone describing my headache 😂
Is this related to the removal of index pattern field cache released in 7.11 (?)
https://github.com/elastic/kibana/pull/82223

Is there no way of manually defining the index pattern fields?
@Aaron3 No luck in temporarily overcoming this issue through some hack or are we in a wait/downgrade state?

[2021-03-04 15:53] timroes commented on #92566
Duplicate of https://github.com/elastic/kibana/issues/2207

[2021-03-04 15:53] #92566 closed

[2021-03-04 15:54] timroes commented on #83031
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-03-04 15:54] #83031 closed

[2021-03-04 15:56] elasticmachine commented on #69789
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-04 15:56] elasticmachine commented on #68057
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-04 15:57] pmuellr commented on #89898
Another type of rule-type validation of general rule params comes from the anomaly detection rule type - for that one, ML jobs are already configured with an interval of some sort, which should influence the rule interval itself.  Specifically, there's no sense making it smaller than the interval in the ML job.

In this case, we'd want to somehow allow the rule to override the interval, based on s

[2021-03-04 16:02] chrisronline commented on #92185
@restrry I'm investigating solutions in https://github.com/elastic/kibana/pull/93620

[2021-03-04 16:02] dej611 opened #93621 "[Lens] Last value operation loses user's format settings"
**Kibana version:** `master` as fe1ae92957227a7e44ee5e9fe4b80efbfaf1ad95 (> 7.12)

**Describe the bug:**

Chossing `Last value` from the Lens Quick Functions panel, the configured format setting gets reset to the `Default` value.

**Steps to reproduce:**
1. Open Lens and drop the `bytes` field (logs sample data) into the chart workspace
2. Configure the format for the `Median of bytes` dimension t

[2021-03-04 16:02] elasticmachine commented on #93621
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 16:06] wylieconlon opened #93622 "[Aggs] Apply hard_bounds to prevent ES circuit breaker when dealing with open-ended ranges"
For date histogram aggregations, we need to set the [`hard_bounds` parameter](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-histogram-aggregation.html#search-aggregations-bucket-histogram-aggregation-hard-bounds) when dealing with any `date_range` data type. Unlike `extended_bounds`, `hard_bounds` is exclusive, which means that to get the same results w

[2021-03-04 16:06] elasticmachine commented on #93622
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-04 16:07] m-adams opened #93623 "File upload missing in homepage"
**Kibana version:** 7.11.1

**Elasticsearch version:**7.11.1

**Server OS version:**ESS

**Browser version:** Chrome

**Browser OS version:** Mac

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

When I launch Kibana, sometimes, but not every time, the "File Upload" link is missing from the homepage.
No obvious errors in the console and that ite

[2021-03-04 16:08] #92985 closed

[2021-03-04 16:08] ymao1 commented on #49821
Closing as no need to track. Will do if necessary.

[2021-03-04 16:08] #49821 closed

[2021-03-04 16:09] LeeDr opened #93624 "Cross Cluster Search version compatibility testing for 7.12.0 -> 6.8"
This issue lists specific CCS tests for Kibana 7.12.0 performing cross cluster search for data in a remote cluster running Elasticsearch version 6.8.14.

 - [x] Index Patterns - create index patterns referencing only a remote cluster `data:makelogs*`
 - [x] Index Patterns - create index patterns referencing both local and remote cluster with wildcard `*:makelogs*`
 - [x] Index Patterns - create in

[2021-03-04 16:09] elasticmachine commented on #93624
Pinging @elastic/kibana-qa (Team:QA)

[2021-03-04 16:10] ymao1 commented on #50263
Closing due to lack of description. Will reopen if requirement comes up for this.

[2021-03-04 16:10] #50263 closed

[2021-03-04 16:11] ymao1 commented on #50264
Closing due to lack of description. Will reopen if requirement comes up for this.

[2021-03-04 16:11] #50264 closed

[2021-03-04 16:13] ymao1 commented on #50273
@mikecote Should this be a case feature or are we planning on doing this in the rule details page?

[2021-03-04 16:15] ymao1 commented on #50259
Will not do as `@kbn/config-schema` does not work the way we need.

[2021-03-04 16:15] #50259 closed

[2021-03-04 16:17] elasticmachine commented on #93607
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 16:17] ymao1 commented on #50260
Believe this has been fixed but should verify before closing issue.

[2021-03-04 16:18] MadameSheema commented on #93568
Labeled as critical after a conversation with @MikePaquette

[2021-03-04 16:24] #2504 closed

[2021-03-04 16:24] ymao1 commented on #51194
Moved requirement to https://github.com/elastic/kibana/issues/51203 and closing this issue.

[2021-03-04 16:24] #51194 closed

[2021-03-04 16:27] pmuellr commented on #51203
From issue https://github.com/elastic/kibana/issues/89898#issuecomment-790721903

Another type of rule-type validation of general rule params comes from the anomaly detection rule type - for that one, ML jobs are already configured with an interval of some sort, which should influence the rule interval itself. Specifically, there's no sense making it smaller than the interval in the ML job.

In th

[2021-03-04 16:27] ymao1 commented on #50251
@mikecote A lot of comments have been added about Watcher vs alerting in this issue: https://github.com/elastic/kibana/issues/61313. Do we need additional research for this issue?

[2021-03-04 16:28] elasticmachine commented on #2929
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-04 16:29] mikecote commented on #50251
I think we're good to close, this issue is quite old! You can close in favour of https://github.com/elastic/kibana/issues/89672.

[2021-03-04 16:30] kobelb opened #93630 "Licensed Feature Usage - Always On Features"
Currently, the `FeatureUsageService` only supports features that are used periodically. Whenever these features are used, consumers must call `notifyUsage` to update the `lastUsed` date.

However, Kibana has some features that are conceptually "always on". For example, when the user has configured the authentication access agreement in the `kibana.yml` this feature is conceptually always in use. A

[2021-03-04 16:30] elasticmachine commented on #93630
Pinging @elastic/kibana-core (Team:Core)

[2021-03-04 16:30] elasticmachine commented on #5547
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-04 16:30] kobelb commented on #93630
@pgayvallet I didn't see an issue to track this, feel free to delete it if it's a dupe.

[2021-03-04 16:31] ymao1 commented on #50212
@FrankHassanabad Is this still something that SIEM needs from alerting?

[2021-03-04 16:32] ymao1 commented on #50212
@elastic/kibana-core Is this something that should be handled automagically by core or do we need to do something in particular to enable this?

[2021-03-04 16:34] lucabelluccini opened #93633 "[Alerting] Support querying/grouping on nested documents (nested datatype) in index threshold"
**Describe the feature:**

A user might want to set index thresholds on indices with [nested documents](https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html)

Kibana nested documents support at the moment is quite limited (KQL Filtering) but no aggregations.

[2021-03-04 16:34] elasticmachine commented on #93633
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-04 16:37] ymao1 commented on #29392
@mikecote Is this issue still needed?

[2021-03-04 16:38] ymao1 commented on #40023
Closing bc this is done!

[2021-03-04 16:38] #40023 closed

[2021-03-04 16:40] ymao1 commented on #40028
Issue addressing watcher transformations here: https://github.com/elastic/kibana/issues/89161

Closing this issue as this is done.

[2021-03-04 16:40] #40028 closed

[2021-03-04 16:43] ymao1 commented on #49853
This is still an open question what we should do in this case. Should we add documentation for this limitation?

[2021-03-04 16:45] ymao1 commented on #42042
Closing as this seems to be resolved.

[2021-03-04 16:45] #42042 closed

[2021-03-04 16:47] ymao1 commented on #42109
Closing due to inactivity.

[2021-03-04 16:47] #42109 closed

[2021-03-04 16:52] ymao1 commented on #55734
@pmuellr Is this issue still relevant after the addition of the `recovered` action group?

[2021-03-04 16:56] ymao1 commented on #49822
@mikecote Does this need to be done by 8.0?

[2021-03-04 16:57] jamiesmith opened #93638 "Inventory view in metrics app should show correct metrics on waffles even when filtered"
Creating this as per conversation with @jasonrhodes and @simianhacker

**Kibana version:**
7.11.1

**Elasticsearch version:**
7.11.1

**Server OS version:**
Cloud

**Browser version:**
All

**Browser OS version:**
MacOS

**Original install method (e.g. download page, yum, from source, etc.):**
Running on Elastic cloud sending metric data from metricbeat docker container with hints-based auto disco

[2021-03-04 16:57] dontcallmesherryli commented on #89090
Let me sync with @lindseypoli and @peluja1012 and get back to you, @oatkiller

[2021-03-04 16:57] #50251 closed

[2021-03-04 16:58] #93062 closed

[2021-03-04 16:59] timroes commented on #69047
Hi,

thanks a lot for engaging with the Kibana community. We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests) in Kibana. Thus it's unlikely your question will get the attention it deserves here - and unfortunately also makes it a bit harder to track our issues, why I would kindly please you to use our [forums](https://discuss.elastic.co/c/elastic-stack/

[2021-03-04 16:59] #69047 closed

[2021-03-04 16:59] elasticmachine commented on #93638
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-04 17:00] timroes commented on #53046
Closing this since saved object tagging is now implemented and users have a way to properly group and order their saved obejct using tags (besides the option to use spaces).

[2021-03-04 17:00] #53046 closed

[2021-03-04 17:00] #57588 closed

[2021-03-04 17:01] chrisronline commented on #46039
Stack Monitoring has officially deprecated our watcher-based cluster alerts in favor of Kibana alerts. There is no need to support this from our perspective

[2021-03-04 17:04] afharo commented on #93185
I like that idea, but I wonder if it fits best with this other issue https://github.com/elastic/kibana/issues/89709. What do you think?

I think for this purpose, we can do something similar to the SavedObjectsClient security extension. We have a `defaultFactory` for OSS, and X-Pack can extend that `defaultFactory`. I hope it makes sense.

[2021-03-04 17:06] #46039 closed

[2021-03-04 17:06] #92809 closed

[2021-03-04 17:06] #93117 closed

[2021-03-04 17:10] MadameSheema commented on #89090
@peluja1012 which is/are the version(s) that we are targeting? Thank you 😊

[2021-03-04 17:11] sqren commented on #88659
Sorry for being that person but I'm confused about the terminology of managed vs unmanaged. Do we agree on the following definition?

(I stole that from an email thread on the topic)

[2021-03-04 17:15] jamiehynds commented on #91803
@jamesspi can you confirm if Packetbeat is correctly populating the tls.client.ja3? Just want to make sure it's an issue with the query itself and not on the Packbeat side.

[2021-03-04 17:17] jasonrhodes opened #93645 "[Metrics UI] Turn off anomaly alert type (until we understand ML logic)"
Based on a lot of excellent digging done by @dgieselaar, it seems as though the logic behind how to query for anomalous data is more complicated than we originally understood. Based on that, and because we may not be able to fully understand and test a solution before 7.12 is released, I think it would be good to consider reverting the anomaly alerts in Metrics UI and then filing a new ticket to c

[2021-03-04 17:17] elasticmachine commented on #93645
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-04 17:17] jasonrhodes commented on #93645
ping @simianhacker @sorantis @Zacqary @dgieselaar

[2021-03-04 17:18] jamesspi commented on #91803
@jamiehynds yes it is, provided a screenshot of what packetbeat generates.

[2021-03-04 17:23] elasticmachine commented on #93559
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-04 17:24] MadameSheema commented on #93559
Found during 7.12.0 BC3 teting: https://github.com/elastic/security-team/issues/840

[2021-03-04 17:24] MadameSheema commented on #93589
Found during 7.12.0 BC3 testing: https://github.com/elastic/kibana/issues/93589

[2021-03-04 17:25] elasticmachine commented on #93588
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-04 17:25] MadameSheema commented on #93588
Found during 7.12.0 BC3 testing: https://github.com/elastic/security-team/issues/843

[2021-03-04 17:26] MadameSheema commented on #93568
Found during 7.12.0 BC3 testing

[2021-03-04 17:37] simitt commented on #92427
Investigating how the supported config options can be retrieved turns out to be more complex than originally anticipated. To keep things simple, and since I don't expect that the supported config options will change a lot between `7.13` - `7.15`, I suggest to move forward with **Solution B** (details below).

---
**Solution A**
(0) Finding the installed APM package version, or if not yet installed

[2021-03-04 17:43] pmuellr commented on #50259
Note: we already have some "common" duration parsing here - https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerts/common/parse_duration.ts

The reason we can't use the config-schema duration type is that the validation returns a moment object, which when stringified, returns a string which, when passed back in as a duration type with the same schema, will fail.  IIRC, the moment stri

[2021-03-04 17:47] jaymode commented on #93515
The sooner we could get hidden and system indices into users hands, the faster that we can get feedback on whether we've missed anything.

If a user is searching without specifying the indices, should they also be searching ilm history, task results, watch history, or should they just search the data they've indexed? The system indices team has the belief that users should just search over the dat

[2021-03-04 17:48] shahzad31 opened #93647 "Global search sends empty requets on kibana load"
**Kibana version:**
master;

Global search bar sends empty requests when kibana reloads.

![image](https://user-images.githubusercontent.com/3505601/110006561-1b905e80-7d1a-11eb-8d91-d45abc38f843.png)

Expected: It shouldn't send empty requests without user interaction.

[2021-03-04 17:50] elasticmachine commented on #93647
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-04 17:50] simitt commented on #93420
adding @felixbarny' s comment from  https://github.com/elastic/kibana/issues/88659#issuecomment-790670245:

[2021-03-04 17:51] simitt commented on #88659
@felixbarny there is a dedicated issue discussing how to inject the `server_url` and `secret_token` into the agent setup instructions. I took the liberty to move your concerns over to https://github.com/elastic/kibana/issues/93420 to keep this issue focused on how to link to the APM Server.

My suggestion is to link to the `http://<host>:<port>/app/fleet#/policies` page, which shows all available

[2021-03-04 17:51] lukasolson commented on #81009
Looked some more at this today, I don't think this is anything relating to KQL itself, and I believe the fix that @XavierM has in the other PR should do the trick.

[2021-03-04 17:53] simitt commented on #93420
@felixbarny I suggest to always show the instructions for the policy managed by cloud. I don't see how this is different than it is now. When running a cloud hosted stack, the `server_url` and `secret_token` are currently always injected and shown to the users. They already now might have a local APM Server setup in which case they would not want to use the cloud values.

[2021-03-04 17:54] afharo commented on #92765
Apart from renaming, some additional transformations are also required. There was [a recently merged PR](https://github.com/elastic/kibana/pull/93409) that required some internal parsing and transformation.

[2021-03-04 17:55] dej611 opened #93648 "[Lens] Percentage charts can have gaps in a series"
**Kibana version:** `master` as fe1ae92957227a7e44ee5e9fe4b80efbfaf1ad95 (> 7.12)

**Describe the bug:**

Due to Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1163912

When using area percentage chart with a date histogram, if one of the series has no value for the time bucket, the chart may be rendered with a gap. The gap can be in any part of the chart (also within two seri

[2021-03-04 17:55] elasticmachine commented on #93648
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 17:59] dplumlee commented on #89090
@MadameSheema We merged this #93525 fix into 7.12 and 7.x yesterday

[2021-03-04 18:01] #93254 closed

[2021-03-04 18:03] dej611 opened #93650 "[Lens] Fitting functions are not cleared when passing from Line to Area charts"
**Kibana version:** `master` on fe1ae92957227a7e44ee5e9fe4b80efbfaf1ad95 (> 7.12)

**Describe the bug:**

Fitting functions are currently disabled for area percentages (it is enabled for both area and area stacked charts, even when using date histograms - perhaps the message shown is wrong?) as there's no fitting to apply.

It is still possible to enabled it in area percentages passing by other ty

[2021-03-04 18:03] elasticmachine commented on #93650
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-04 18:03] MadameSheema commented on #89090
Awesome! @dplumlee :)

@deepikakeshav-qasource can you please validate this fix on 7.12 BC4 when available? Thanks

[2021-03-04 18:04] LeeDr commented on #46614
We added support for "Edge Chromium" starting with Kibana 7.9 https://www.elastic.co/support/matrix#matrix_browsers

We have run automated tests on Edge outside of CI and didn't find any issues.  Which makes sense since it's essentially the same engine as Chrome.

[2021-03-04 18:04] #46614 closed

[2021-03-04 18:04] nccaver commented on #93363
Any suggestions??

[2021-03-04 18:11] afharo commented on #92304
@liza-mae this error looks like we are actually hitting the production newsfeed endpoint instead of the one intentionally injected for the tests.

We recently had to rename the `id` for that plugin (although not its path). This is the related PR: #90752

Do we need to change something for those tests on Cloud?

[2021-03-04 18:11] kindsun opened #93654 "[Maps] Consider default background color for attribution"
Currently the Maps attribution can be hard to see in some situations looking cluttery with existing layer labeling. The issue could be worsened if a user is using a custom TMS or WMS.

![image](https://user-images.githubusercontent.com/1728976/110009261-c38e3380-7cea-11eb-8c07-de6dde4179aa.png)

We might want to consider a default light/dark background (depending on Kibana theme) that provides a b

[2021-03-04 18:11] elasticmachine commented on #93654
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-04 18:13] MadameSheema commented on #84385
@deepikakeshav-qasource can you please validate this ticket on 7.12.0 BC4? Taking a look to the PR can be useful :)

[2021-03-04 18:19] mikecote commented on #50260
@ymao1 relates to https://github.com/elastic/kibana/issues/74381. I think we can close both as "won't do" because the system can update the alert quite frequently which wouldn't provide a good UX.

[2021-03-04 18:19] Dosant commented on #91519
@flash1293, just sharing some results from debugging redundant requests we noticed in https://github.com/elastic/kibana/pull/93410

[code]

is called more than needed because of `activeExpression` object changes.

First I got to the:
https://github.com/elastic/kibana/blob/51b416b23f0018a7621d9f0a553a8f7d45319cc5/x-pack/plugins/lens/public/app_plugin/time_range.ts#L40-L49 .

Because of changes in `

[2021-03-04 18:20] gwbrown commented on #93515
I don't entirely follow the logic that means Option 1 of using the upgrade assistant is off the table - while it would result in a change in behavior while the cluster is still running a 7.x release, it would do so only when triggered by user action. As long as we provide warning that this will happen, I don't see an issue: users can make all kinds of changes that would break their setup in much w

[2021-03-04 18:21] LeeDr commented on #21040
I think the "test fixtures" @cjcenizal is referring to are the esArchives which can be either .kibana index docs or data docs like logstash.

I could see a case for wanting to search one of the .kibana archives for the name of a visualization or a dashboard.  But it doesn't seem likely you'd want to grep for some logstash data?

the es_archiver CLI has an `edit` option which unzips and untars an a

[2021-03-04 18:22] #76237 closed

[2021-03-04 18:23] mikecote commented on #49853
From conversations with @kobelb a while ago, I think as long as Kibana doesn't crash, we're ok.

[2021-03-04 18:28] TinaHeiligers commented on #92765
@pgayvallet ++ to that.
We'll need migrations for the [`ProfileDataService`](https://github.com/elastic/kibana/issues/17888) along with other `uiSettings` enhancements. If we don't already have a Meta issue for these enhancements, we should think about adding one.

[2021-03-04 18:29] mikecote commented on #49822
@ymao1 not for 8.0 based on what I recall. This was regarding migrating to the Kibana Platform, which we did a while ago. Now it just seems bad practice to use Boom errors, I believe.

[2021-03-04 18:30] mikecote commented on #29392
@ymao1 It's not clear if the problem also relates to Kibana alerting, we can re-open if necessary.