[2021-06-22 11:17] #102617 closed

[2021-06-22 11:18] muskangulati-qasource commented on #102448
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**

https://user-images.githubusercontent.com/60252716/122903903-7901f700-d36d-11eb-8274-76134b5d9936.mp4

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-22 11:18] #102448 closed

[2021-06-22 11:18] muskangulati-qasource commented on #102205
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/122903949-8323f580-d36d-11eb-8f91-a93220829888.mp4

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-22 11:18] #102205 closed

[2021-06-22 11:19] muskangulati-qasource commented on #102333
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/122903993-8dde8a80-d36d-11eb-8702-829a77611411.mp4

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-22 11:19] #102333 closed

[2021-06-22 11:24] muskangulati-qasource commented on #102732
Hi @MadameSheema,

We tested this ticket on the master branch and found that the issue is occurring on the master branch too.

**Screen Recording**

https://user-images.githubusercontent.com/60252716/122915023-e9fadc00-d378-11eb-9042-a9a8859fd7ee.mp4

Please let us know if anything else is required from our end.

Thanks!

[2021-06-22 11:25] cnasikas commented on #102197
Fixed by https://github.com/elastic/kibana/pull/102894

[2021-06-22 11:39] elasticmachine commented on #102891
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-22 11:47] stratoula commented on #33928
On 7.13.0 TSVB works with runtime fields. This means that you can create a runtime field from the fields that you want to group by and use this as your Group by field. For example here:

![image](https://user-images.githubusercontent.com/17003240/122919009-6afda780-d368-11eb-8b62-899d481dd392.png)

I have created a new runtime field which is a concatenation of two other fields and I can use this o

[2021-06-22 11:47] #33928 closed

[2021-06-22 11:53] flash1293 opened #102896 "[Lens] Filtered metric filter input debounce issue"
**Kibana version:** 7.13

**Describe the bug:** The filter input of the filtered metric is not debounced properly which can intefere with typing

**Steps to reproduce:**
1. Type in the input
2. Delete a few characters
3. Type again

In some cases deleted characters reappear and can interact with what was typed so far

**Expected behavior:**
The current local state should always win as long as typi

[2021-06-22 11:53] elasticmachine commented on #102896
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-22 11:58] #95393 closed

[2021-06-22 12:07] kevinlog commented on #102866
@academo - another one you could clean up if you have cycles ahead of feature freeze

[2021-06-22 12:14] kevinlog commented on #102875
@muskangulati-qasource there will be a delay in the Endpoint list due to our transform that runs (the transform will be faster starting in `7.14`, however so there should be less of a delay).

Does the status eventually resolve itself and sets as the correct status `Isolated`?  If it does, this is expected right now because of the above delay.  Before we ship `7.14` the delay will be much less bec

[2021-06-22 12:17] kpollich commented on #100978
Perhaps another approach would be to prevent or dissuade navigating away during the integration save process via an `onunload` handler to prompt the user to confirm they want to navigate away?

It seems we have to make a decision whether to treat the integration installation process as a background or foreground action. Right now, our implementation is between the two because we

- Handle the inst

[2021-06-22 12:18] kevinlog commented on #102884
@muskangulati-qasource does the Agent in Fleet also disappear from the UI?  If the Agent is still in the Fleet UI then we would also continue to show the Endpoint in the Endpoint list.

In either case, this flow is probably not recommended to standup an Agent through Fleet and then uninstall manually.

fyi @jen-huang

[2021-06-22 12:19] #102202 closed

[2021-06-22 12:20] ghudgins commented on #102035
for metric we need to evaluate which features we keep:
 - should we do color continuity (maybe....)
 - default: 0-100 (easy, what visualize does) or try to infer a smarter default from the metric
 - don't do percentage mode as there are no ranges

[2021-06-22 12:29] ghudgins commented on #97134
there's a concern coming on this work in the future (not this issue): how does time zone get included as part of the execution context if we are moving things server side. for reporting we include time zone in the saved object. **we can do this task** (moving logic to server) as long as the client is initiating the request...but as soon as we take on async reporting or csv export we need a way to

[2021-06-22 12:29] formgeist opened #102900 "[APM] Refactor APM Kibana breadcrumbs to feature Observability as new root and link to the Observability overview page"
# Summary

Related design issue: https://github.com/elastic/observability-design/issues/53

In relation to the new page template and general unification of the Observability apps, I want to propose to refactor the current APM breadcrumbs to feature a new root page and link to the Observability overview, which will be consistent across all Observability apps.

This link and root reference are alrea

[2021-06-22 12:29] elasticmachine commented on #102900
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 12:30] cristina-eleonora opened #102901 "Kibana to show trial status"
The new deployment creation flow drops users in Kibana where they'll spend most of their time.

A trial user might not even navigate back to cloud, which holds and displays information about their trial (# of days left), which is displayed on the top bar:

![Trial_to_billing](https://user-images.githubusercontent.com/44808440/122922826-515a6100-d364-11eb-9bb3-e3b33b878401.gif)

At this moment, Kib

[2021-06-22 12:34] ghudgins commented on #59430
minimum we could do is a transparent UI/UX:
 - user sorts Top Values by count
 - user selects "Ascending" (instead of descending)
Result: use rare terms under the hood for this case

downside - this might be a breaking change...but not sure if there's a real impact or not. The results will most likely be better.

[2021-06-22 12:34] cristina-eleonora commented on #102901
One could argue that:

### 1) Users will get an email when their trial ends

That's true, but emails can get filtered and they might not always see it. It's good practice to offer the same info in app.

### 2) Users will know that they need to go back to cloud

Not necessarily. Their journey starts on [elastic.co](elastic.co) and could look like this:

- user navigates elastic.co
- user clicks `Tr

[2021-06-22 12:41] sqren opened #102903 "[APM] Check whether `fleetMode` option requires additional work"
`apm_oss.fleetMode` is a setting in the APM OSS plugin which is enabled by default:

https://github.com/elastic/kibana/blob/7765fc7c14420eee5736cb313e64a0c0b5e47255/src/plugins/apm_oss/server/index.ts#L23

When enabled it'll add the fleet indices to the indices that APM will query:
https://github.com/elastic/kibana/blob/7765fc7c14420eee5736cb313e64a0c0b5e47255/x-pack/plugins/apm/server/index.ts#L9

[2021-06-22 12:41] elasticmachine commented on #102903
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 12:43] samratbhadra-qasource opened #102904 "The long comment is not truncated on the UI."
**Describe the bug**
The long comment is not truncated on the UI.

**Build Details:**

Version: 7.14.0-SNAPSHOT
Commit: bd9feb921d54d6bed92b3aeb05e6d1d3aa9f786f
Build number: 41848
Artifact: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Preconditions**
Elastic 7.14.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce**

Navigate to the administration tab.
Go to event fi

[2021-06-22 12:43] elasticmachine commented on #102904
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 12:44] samratbhadra-qasource commented on #102904
@muskangulati-qasource please review.

[2021-06-22 12:44] #102605 closed

[2021-06-22 12:47] elasticmachine commented on #102904
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-22 12:47] muskangulati-qasource commented on #102904
Reviewed & assigned to @kevinlog

[2021-06-22 12:48] MadameSheema commented on #102885
@kevinlog is this related with your team or agent? Thanks :)

[2021-06-22 12:51] cristina-eleonora opened #102906 "Reroute users to Cloud when hosted Kibana is not available"
There are multiple scenarios that can make Kibana unavailable:

1) The user's trial has finished and the deployment was terminated
2) Kibana's restarting
3) The deployment's restarting
4) A deployment has been deleted

In all these cases, users get a white page with a JSON result which is an unfriendly user experience: no explanatory text, no call to action. See examples below:

<kbd>
<img width="

[2021-06-22 12:51] formgeist opened #102907 "[Logs/Metrics] Refactor breadcrumbs in Kibana to feature Observability as a root reference and link to Observability overview"
# Summary

Related design issue: https://github.com/elastic/observability-design/issues/53

In relation to the new page template and general unification of the Observability apps, I want to propose to refactor the current Logs and Metrics breadcrumbs to feature a new root page and link to the Observability overview, which will be consistent across all Observability apps.

This link and root refere

[2021-06-22 12:54] elasticmachine commented on #102829
Pinging @elastic/kibana-core (Team:Core)

[2021-06-22 12:54] elasticmachine commented on #102829
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-22 12:54] tylersmalley commented on #102829
I am also tagging Core and Design on this issue. Let me know if this is incorrect.

The `sass-loader` is prepending an import of `src/core/public/core_app/styles/_globals_${theme}.scss` which [mostly imports from eui](https://github.com/elastic/kibana/blob/master/src/core/public/core_app/styles/_globals_v8light.scss).

I am not sure if there is anything we can do here, other than creating document

[2021-06-22 12:57] cyrille-leclerc commented on #102499
Table improvement: for the "Field Value", in addition of showing the value that is correlated with the slowness, I would like to see what are the other values that are not correlated with the slowness.

For example, if `labels.paymentType=PayPal`  is a an important correlation of slowness, I would like to see that the other values for `labels.paymentType`are `Visa` and  `Amex`

[2021-06-22 12:59] formgeist commented on #102499
@cyrille-leclerc Is this similar to the original request from Luca here? https://github.com/elastic/kibana/issues/95272

[2021-06-22 12:59] cristina-eleonora commented on #102906
Cosing this in favor of https://github.com/elastic/cloud/issues/83466

[2021-06-22 13:03] cyrille-leclerc commented on #102499
@formgeist yes

[2021-06-22 13:06] elasticmachine commented on #102858
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-22 13:07] cyrille-leclerc commented on #102499
Additional proposals
* "Correlations" column could be a percentage rather than a decimal between `0` and `1` like `0.6557`
* "KS Test" column: could it be hidden? What's the user benefit?

[2021-06-22 13:10] kevinlog commented on #102607
@dasansol92 sorry I missed this one, yes, we can backport to `7.13` as well to make the `7.13.3` patch release

[2021-06-22 13:11] nreese commented on #99239
Closed by https://github.com/elastic/kibana/pull/100735

[2021-06-22 13:11] #99239 closed

[2021-06-22 13:11] mshustov commented on #102353
SO is a leaking abstraction, but it doesn't mean that Kibana plugins should handle all the possible Elasticsearch and network errors on theirs own. So, the Save Objects API should operate in terms of SavedObjects, not Elasticsearch (which is an implementation detail).

Having said that, maybe SavedObjects should distinguish between `a Saved Object is not found` and `cannot find an ES cluster`? The

[2021-06-22 13:13] thomasneirynck opened #102909 "[Maps] EMS-client requires additional license override"
The ems-client requires an additional license override in https://github.com/elastic/kibana/blob/master/src/dev/license_checker/config.ts#L76

There seems to be something with the 7.14 version of the ems-client: https://github.com/elastic/kibana/pull/102770

Ideally, this override can be removed. Otherwise it always needs to be updated anytime the ems-client is upgraded.

[2021-06-22 13:13] elasticmachine commented on #102909
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-22 13:16] peteharverson commented on #102499
Expanding on `7. EuiBasicTable has an option to focus on a selected row` having some way to select a row is a should have. Currently the interaction for selecting rows for display in the chart is not accessible is it - only mouseover seems to trigger the selection?

[2021-06-22 13:24] kevinlog commented on #102885
@MadameSheema I think it may be @elastic/security-threat-hunting .  The data from our API is only in the bottom section of the page.  I am not sure how the top section is populated.

@XavierM any thoughts?  If we're getting bad data from the Endpoint or other data shipper we can talk to those teams.

[2021-06-22 13:26] thomasneirynck commented on #95482
I can reproduce this in 7.13 on cloud as well.

[2021-06-22 13:26] bhavyarm opened #102911 "Update the screenshots in dashboard reporting tests"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Browser version:** chrome version

**Describe the bug:**  Dashboard reporting tests  are failing in CI for PNG layout. Creating this issue so I can update the base images.

[code]

[2021-06-22 13:26] elasticmachine commented on #102911
Pinging @elastic/kibana-qa (Team:QA)

[2021-06-22 13:50] katrin-freihofner opened #102914 "[Logs UI] search input should show delete button"
**Kibana version:**
Master branch, local build.

**Browser OS version:**
Chrome 90.0.4430.212

Search input should show a delete icon as soon as I enter text.
<img width="455" alt="Screenshot 2021-06-22 at 15 41 34" src="https://user-images.githubusercontent.com/20965076/122936251-4e19a200-d371-11eb-8e0a-d1cf21b95448.png">

**Expected behavior:**
Example from APM
<img width="937" alt="Screenshot 2

[2021-06-22 13:50] elasticmachine commented on #102914
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-22 13:51] nchaulet commented on #102623
Yes I think it totally make sense, to add more info in the field description around the port, and to update the dialog too with the default port. I will come with a PR

[2021-06-22 13:52] banderror commented on #101016
@marshallmain @madirey @peluja1012 @xcrzx @ecezalp @spong here's my 2 cents on our consolidation efforts and https://github.com/elastic/kibana/pull/101453 vs https://github.com/elastic/kibana/pull/102586

This is all just my subjective opinion, my understanding might be incomplete, and I don't have any strong opinions on anything below.

## https://github.com/elastic/kibana/pull/101453

Pros:

- P

[2021-06-22 13:54] katrin-freihofner opened #102915 "[Logs UI] chart in stream is misaligned"
**Kibana version**:
Master branch, local build

The chart should be aligned with the stream.
<img width="317" alt="Screenshot 2021-06-22 at 15 20 59" src="https://user-images.githubusercontent.com/20965076/122936874-cc764400-d371-11eb-9067-14ade43737d1.png">

[2021-06-22 13:54] elasticmachine commented on #102915
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-22 13:59] katrin-freihofner opened #102917 "[Logs UI] Investigate menu with disabled menu items"
**Kibana version**:
Master branch, local build.

For some log lines the investigate menu offers only disabled items.
I'm wondering

1. Why are they disabled? And should we add that in a tooltip?
2. Should we hide/disable the investigate button in that case?

<img width="789" alt="Screenshot 2021-06-22 at 15 19 21" src="https://user-images.githubusercontent.com/20965076/122937855-96858f80-d372-11eb

[2021-06-22 13:59] elasticmachine commented on #102917
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-22 14:01] katrin-freihofner opened #102918 "[Logs UI] Multiple callouts in Anomalies view"
**Kibana version**:
Master branch, local build.

I'm wondering if there is a way to combine these callouts. They both seem to lead to the same action - recreate ML job. (The callouts take up a significant amount of space, especially on smaller screens.)

<img width="700" alt="Screenshot 2021-06-22 at 15 12 34" src="https://user-images.githubusercontent.com/20965076/122938217-dd738500-d372-11eb-9e3

[2021-06-22 14:01] elasticmachine commented on #102918
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-22 14:06] elasticmachine commented on #102836
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-22 14:11] smith commented on #102900
We should be able to do this by replacing the current way APM does breadcrumbs (by specifying them on each route definition) and using the [`useBreadcrumbs` hook from the Observability plugin](https://github.com/smith/kibana/blob/4eb8d256f4f7cadefec456aed8350dc40bfe6dfa/x-pack/plugins/observability/public/hooks/use_breadcrumbs.ts). We'll have to add a `useBreadcrumbs` call on every "page" in APM.

[2021-06-22 14:14] jen-huang commented on #102863
@jloleysens might this be a regression from changes made in this area for Integrations UI?

[2021-06-22 14:14] #96483 closed

[2021-06-22 14:17] mshustov opened #102919 "[Reporting] Kibana installs Chromium headless browser when running the integration tests"
**Kibana version:** master
PR https://github.com/elastic/kibana/pull/102782 failed CI on the `Jest integration tests` step with:
[code]
which is caused by reporting plugin logging after Kibana stops.
There are 2 problems:
- Reporting plugin doesn't interrupt the installation process when Kibana stopped
- Reporting runs installation when unnecessary.

I fixed the problem by disabling the `reporting

[2021-06-22 14:17] elasticmachine commented on #102919
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-22 14:21] smith commented on #100975
This is currently blocked from working correctly by #102895 and #102879 which are either merged or will be merged shortly.

We also need to change cases and alerts from being "apps" defined along with the obsevability overview app and make them deep links.

[2021-06-22 14:22] dasansol92 commented on #102607
@kevinlog Perfect!
@muskangulati-qasource This fix needs to be tested in 7.13.3 through this PR: https://github.com/elastic/kibana/pull/102922
Let me know if you need more information on this.

[2021-06-22 14:22] timroes commented on #101232
Discussing the desired behavior with PMs, we came to the following conclusion: We want to show ignored values (e.g. because they are above `ignore_above`) in the Discover table in columns and expanded documents directly. We'd additionally want to add a warning icon with a tooltip beside them explaining that those values are not indexed, and thus cannot be searched through.

[2021-06-22 14:28] #102176 closed

[2021-06-22 14:33] brunobastosg commented on #92316
I have the same problem in Kibana 7.13.2.

[2021-06-22 14:41] jen-huang commented on #102519
@dikshachauhan-qasource From a brief look through the code I don't see that we ever had a "Successfully upgraded" message, it's only "Successfully installed" regardless of a new install or upgrade, so this isn't a regression. I'm going to mark this as an enhancement instead.

[2021-06-22 14:46] jonathan-buttner opened #102929 "[Cases] Use alerting client for updating alert status"
When syncing is enabled the Cases plugin updates the status of alerts to keep them synced with the case status. This is done directly through requests to Elasticsearch. This functionality is located here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/cases/server/services/alerts/index.ts#L48

When the alerts as data RBAC PR (https://github.com/elastic/kibana/pull/100705) is merged w

[2021-06-22 14:46] elasticmachine commented on #102929
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-22 14:48] jonathan-buttner commented on #102929
cc: @tsg @XavierM @dhurley14 @yctercero @cnasikas @asnehalb

[2021-06-22 14:56] #33605 closed

[2021-06-22 14:58] spalger opened #102930 "[optimizer] can we dedupe CSS modules with identical content?"
In order to support theming we currently include 4 copies of each CSS module in the bundle. For the most part CSS modules are small, but each module has overhead and many of these bundles are identical. It would be awesome if we could write a custom loader instead of using the `style-loader` which consumes the four versions of the styles, produces a single module, and deduplicates the CSS as much

[2021-06-22 14:58] elasticmachine commented on #102930
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-22 14:59] marshallmain commented on #101016
Thanks for summarizing Georgii! I'm copy pasting the note I sent to Georgii on slack here to summarize my perspective, developed over the past 2 weeks.

At a very high level, there are 2 primary goals I have in mind for the eventual converged Alert Data client.

1. Ease of understanding for developers who may not have worked with it before. Since this client is shared across multiple teams and doe

[2021-06-22 15:01] spalger commented on #102829
Okay, I've dug into the bundles and while your assertion that there is extra overhead caused by using separate CSS imports is correct your assignment of blame to the `@import` in the sass-loader is incorrect. The issue is that every webpack CSS module needs a loader to put that string into the dom as a style element, and that results in a decent amount of code added to the bundle for each module:

[2021-06-22 15:02] sqren opened #102934 "[APM] Limit initial analysis to past two weeks when starting ML Job"
Currently when starting an ML job in APM it will process all data since the beginning of time. This is both potentially expensive and wasteful.

Instead we should consider limiting this to only analyze the past two weeks

**Documentation**
`start` is documented here: https://docs.ml-qa.com/ui/rest_api/ML_API/#set-up-module

[2021-06-22 15:02] elasticmachine commented on #102934
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 15:10] pmuellr opened #102935 "[actions] add extensive proxy + email jest tests"
In PR [adds config allowing per-host networking options #96630](https://github.com/elastic/kibana/pull/96630), some jest tests were added that test a wide variety of possible configuration options for TLS.  They are in the file
[x-pack/plugins/actions/server/builtin_action_types/lib/axios_utils_connection.test.ts](https://github.com/elastic/kibana/blob/master/x-pack/plugins/actions/server/builtin_

[2021-06-22 15:10] elasticmachine commented on #102935
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-22 15:12] pmuellr commented on #102935
BTW, we don't current pre-req the [`maildev`](https://www.npmjs.com/package/maildev) package, but I asked if it would be ok to do this as a dev dependency at some point, and got a 👍🏻 .

[2021-06-22 15:15] jfsiii commented on #72959
Currently included in https://github.com/elastic/kibana/pull/101769. If that doesn't go in by FF the relevant code could be extracted and submitted as a bug fix.

It might be as simple as cherry-picking https://github.com/elastic/kibana/pull/101769/commits/dddc8969285c8e115f615fe66a60c7ccf8514e4a https://github.com/elastic/kibana/pull/101769/commits/cb507a5db92ea1b7b7b72b700b190308ef327a78 and htt

[2021-06-22 15:21] jen-huang opened #102939 "[Fleet][Integrations] Add integration has double nested layout"
Go to Integrations > System > Add System, observe that Add integration form has double headers:

![image](https://user-images.githubusercontent.com/1965714/122952282-c90f9800-d332-11eb-9bfd-0e95fc8900c2.png)

[2021-06-22 15:21] elasticmachine commented on #102939
Pinging @elastic/fleet (Team:Fleet)

[2021-06-22 15:21] #101594 closed

[2021-06-22 15:27] jen-huang commented on #102816
This will be possible *only* if we determine status based on input type only (logs/metrics), but not if we want to determine it by package *and* input type. We don't want Kibana to have knowledge of specific packages. In that case it is much better to have this defined on the package side.

[2021-06-22 15:30] jonathan-buttner commented on #102885
@MadameSheema @amolnater-qasource could you email us the stack url and credentials?

[2021-06-22 15:32] weltenwort commented on #102918
There is some potential for combining them, but it would not save a lot of space since the text would remain. But I'm open for proposals for a more compact way to display them. We could put them into a pop-over?

[2021-06-22 15:34] KOTungseth commented on #102883
@daverick the wonky table rendering is due to longer setting names. We have a workaround for this, but it would probably be better to reformat this page back into definition lists. I'll add it to our roadmap.

[2021-06-22 15:34] elasticmachine commented on #102883
Pinging @elastic/kibana-docs (Team:Docs)

[2021-06-22 15:40] #102695 closed

[2021-06-22 15:43] jen-huang commented on #102789
@nchaulet This seems somewhat similar to #101752, could you take a look?

[2021-06-22 15:47] jbudz commented on #102713
This seems to work as expected for me - I am running it on Linux however.  Anyone else that can give the reproduction steps a try on macos?
[code]

[2021-06-22 15:51] jen-huang commented on #102651
@ruflin traces and synthetics are part of our search pattern:

https://github.com/elastic/kibana/blob/2323b9864239e8db789a70b24327ac17d7353fdd/x-pack/plugins/fleet/server/routes/data_streams/handlers.ts#L17

In your testing were the data streams actually populated in ES and just missing from Fleet?

[2021-06-22 15:52] weltenwort commented on #102914
The Logs UI uses the shared Kibana query component, which doesn't show that element. So I guess it could be amended there to not undo the alignment with discover and visualize.

[2021-06-22 15:53] jen-huang commented on #102693
Good catch, we need to update this messaging. @afgomez could you take a look?

[2021-06-22 16:00] jportner opened #102950 "Allow "unresolvable conflict" errors to be circumvented using `initialNamespaces`"
In #101904 (PR: #102585), we added support for `initialNamespaces` to be used when creating isolated object types. This allows consumers to create any non-space-agnostic object and define the initial space(s) it should be created in. It breaks down the barriers between spaces in the SavedObjectsRepository (SOR) and SavedObjectsClient (SOC), where operations are otherwise generally isolated to a si

[2021-06-22 16:02] yctercero opened #102951 "[RAC] - Integrating RBAC with rules that query alerts indices"
When a user creates a rule, they are able to specify which indices they would like searched. One possible index that a user can search is the alerts indices. With RBAC a users permissions are managed through the Kibana feature privileges, which is an abstraction layer - that is, a user is not ever given explicit ES permissions, because theoretically, all calls will be going through Kibana --> ES.

[2021-06-22 16:02] elasticmachine commented on #102951
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 16:07] jen-huang commented on #101710
Hi @gbit-is, thanks for trying out Fleet, sorry you are experiencing this. Can you add the following to your kibana.yml for more debugging information?

[code]

After adding that, what does Kibana log when you navigate to the Apache page?

I would also be interested in seeing the results of `GET .kibana/_search?q=type:epm-packages` in Dev Tools.

[2021-06-22 16:09] jen-huang opened #102953 "[Fleet] Show better message to users when log collection is disabled"
Show a callout above the logs stream w/ instructions for enable log collection could work:

![image](https://user-images.githubusercontent.com/847805/121917553-3acc5e00-cd03-11eb-9f87-12ba5797eac0.png)

_Originally posted by @hbharding in https://github.com/elastic/kibana/issues/99319#issuecomment-860776030_

[2021-06-22 16:10] #99319 closed

[2021-06-22 16:10] elasticmachine commented on #102953
Pinging @elastic/fleet (Team:Fleet)

[2021-06-22 16:12] jen-huang opened #102954 "[Fleet] Add a link to see Elastic Agent metrics from the Agent details"
I think we can add a "View agent dashboard" button to the page header of the agent details page.

![image](https://user-images.githubusercontent.com/847805/121919574-21c4ac80-cd05-11eb-9384-c40dfe2142ea.png)

Since the header area is starting to get crowded with information and causing layout issues for agent's with long names, I'm also proposing that we move the meta information into the "Overvie

[2021-06-22 16:12] elasticmachine commented on #102954
Pinging @elastic/fleet (Team:Fleet)

[2021-06-22 16:12] #98505 closed

[2021-06-22 16:13] cnasikas opened #102955 "[Alerting] Resolve validation bug with empty params on connector's integration test"
Some connectors has an [integration test](https://github.com/elastic/kibana/blob/master/x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/servicenow.ts#L201) where it checks if the validation success when no params are being passed.

This [PR](https://github.com/elastic/kibana/pull/61587) changed the validation check and added the following comment. The is

[2021-06-22 16:14] elasticmachine commented on #102955
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 16:14] elasticmachine commented on #102955
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-22 16:14] elasticmachine commented on #102955
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-22 16:16] clintandrewhall commented on #102829
Thanks for the info, @spalger ... I updated the description of the issue to reflect this.

[2021-06-22 16:17] jen-huang commented on #87949
Closing in favor of improvements in #102954.

[2021-06-22 16:17] #87949 closed

[2021-06-22 16:19] flash1293 opened #102956 "[Lens] Allow use of top metric for last value"
Right now Lens is using top hits to power the last value function. However, this has a major downside - it's not possible to sort a terms agg by a top hits agg (it's also less efficient).

By using top metrics instead of top hits, we could use sorting and also provide better performance, but it has a downside as well - array values are not supported, something we offer in the current version of la

[2021-06-22 16:19] elasticmachine commented on #102956
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-22 16:19] jen-huang commented on #98498
Hi, I'd like to roll the suggested improvements from #100076 as part of design revisions, related to unenrolling Fleet Server agent(s):

[2021-06-22 16:20] jen-huang commented on #100076
Rolling this into design improvements in #98498.

[2021-06-22 16:20] #100076 closed

[2021-06-22 16:20] jportner opened #102957 "Optimize preflight checks for SavedObjectsClient wrappers"
Currently, the SavedObjectsRepository (SOR) conducts "pre-flight" checks on saved objects for write operations:
* `create`
* `bulkCreate`
* `update`
* `bulkUpdate`
* `delete`
* `incrementCounter`
* `updateObjectsSpaces`

Only _multi-namespace_ saved object types will trigger a pre-flight check, because we need to ensure that the target object exists in the current space before allowing the operati

[2021-06-22 16:20] clintandrewhall commented on #102930
I guess my question is: how much effort do we want to expend with Emotion.js coming soon?  https://github.com/elastic/kibana/pull/98157

I feel like we can get a lot out of combining tiny SCSS files into a single import and leaving larger ones to be imported individually... or by creating best practices where lazy React components have their SCSS imported directly, and others don't... or something

[2021-06-22 16:21] elasticmachine commented on #102957
Pinging @elastic/kibana-core (Team:Core)

[2021-06-22 16:21] elasticmachine commented on #102957
Pinging @elastic/kibana-security (Team:Security)

[2021-06-22 16:22] cnasikas commented on #86102
Hi @MadameSheema @muskangulati-qasource. We changed the behaviour to show only the counts of the alerts attached to a case on https://github.com/elastic/kibana/pull/88655. We do not create comments for alerts on external services.

[2021-06-22 16:24] thomasneirynck opened #102958 "[Dev tools] Support _mvt endpoint"
**NOTE:** This issue captures the need to support autocomplete for the `_mvt` endpoint. Changes for handling the binary data response are tracked by https://github.com/elastic/kibana/issues/110281.

---

ES has merged the `mvt` data-format endpoint behind a feature flag in master (https://github.com/elastic/elasticsearch/pull/73872)

This is not fully supported in dev-tools:
- no auto-complete for

[2021-06-22 16:24] elasticmachine commented on #102958
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-22 16:24] elasticmachine commented on #102958
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-22 16:28] MadameSheema commented on #86102
Closing the issue since is the expected behaviour, thanks :)

[2021-06-22 16:28] #86102 closed

[2021-06-22 16:34] gmmorris commented on #102951
Sounds like we'd need to pass in a scoped service, like we already for for ES and SO, which such rules can use.
It means the AlertClient (for the alerting indices) will run as the the user who created the rule.

Does that make sense @mikecote ?

[2021-06-22 16:38] mikecote commented on #102951
Is there a requirement to query alert indices + other indices?

If so, I'm not sure @gmmorris' approach will work.

[2021-06-22 16:42] elasticmachine commented on #102951
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-22 16:47] dmlemeshko commented on #102279
I might be wrong, but If we move test runner into Synthetics, it becomes quite Kibana-specific and more complex project. Plus FTR roadmap should be considered as a part of Synthetics project. Will it ok with Observability team?

By comparing listed cons I think consuming playright directly is less painful, but still concerning. Some thoughts:

- Maybe there is a way to use elastic/synthetics as an

[2021-06-22 16:53] yctercero commented on #102951
@mikecote not sure about requirements for 7.14, but it's an existing use case in security solution. I think @dhurley14 is checking to see if it's possible to do in the observability workflow right now.

[2021-06-22 16:54] mikecote commented on #102951
Thanks, @yctercero! I think the proposals and approach will vary depending on this requirement. Keep me posted 🙂

[2021-06-22 17:27] pmuellr commented on #102951
It seems like if a user wants to create alerts over alert-as-data indices, they're going to want that user to have access to the alerts-as-data indices for read access in any case.  Is it reasonable to create an alert over data you can't read?  Perhaps for something super-generic, like "generate an alert if there are > 3 errors executing alerts over an hour".  I'd guess most of these meta-alerts w

[2021-06-22 17:33] qn895 opened #102966 "[ML] Index Data Visualizer should support histogram type and better handle unsupported types"
**Describe the bug:**
The Index Data Visualizer would not show anything if one of the field is not supported. For example, in this case, one of the fields is of type `histogram`

**Steps to reproduce:**
1. Navigate to the index data visualizer
2. Opens an index with histogram data type

**Expected behavior:**
We should:
1) Support the histogram type
2) Gracefully handle if one of the fields is not

[2021-06-22 17:33] elasticmachine commented on #102966
Pinging @elastic/ml-ui (:ml)

[2021-06-22 17:37] hbharding opened #102967 "[Integrations UI] Solution for "assetless" integrations and viewing data"
## Background

For 7.14 we added the "Assets" tab for integrations as a means for users to view their integration data in Dashboards, Saved Searches, and Visualizations. There are a few integrations (details below) which currently don't have any assets, but their data can be viewed in various apps in Kibana. For example, the Endpoint Security integration's data can be seen in the Security solution

[2021-06-22 17:37] elasticmachine commented on #102967
Pinging @elastic/fleet (Team:Fleet)

[2021-06-22 17:41] hbharding commented on #95442
Per feedback, we're going to treat Endpoint Security, Synthetics, APM, and Custom Logs similarly to other integrations. I'm proposing we add a new "View" type asset which will link users to the appropriate app in Kibana. I created an implementation issue here that goes into more detail https://github.com/elastic/kibana/issues/102967

[2021-06-22 17:41] #95442 closed

[2021-06-22 17:44] spalger commented on #102279
To be clear, that's not what we're looking to do. We're looking to add new types of tests and probably deprecate usage of the FTR or try to reduce it dramatically in the Kibana repo. We'll likely have both solutions for a long while and the FTR roadmap won't become the Observability team's responsibility. We'll still have our own tooling around synthetics to accomplish what we need.

[2021-06-22 17:55] tsullivan opened #102971 "[Reporting/CSV Export] Encountering "too_long_frame_exception" error when using scroll to fetch data"
**Kibana version:** 7.13.0

After upgrading from 7.12.1 to 7.13.1, the CSV reports created using Kibana Discover are capped to 500 records.

We see this error in the Kibana server logs:
[code]

It looks to be the same error reported in https://github.com/elastic/elasticsearch-js/issues/1025

[2021-06-22 17:55] elasticmachine commented on #102971
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-22 17:55] elasticmachine commented on #102971
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-22 18:01] iburahim786 opened #102973 "Kibana 7.10.2 is not showing proper India map as per Indian govt"
**Kibana version:**7.10.2

**Elasticsearch version:**7.10.2

**Server OS version:**SLES12SP5

**Browser version:**Chrome

**Browser OS version:**Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Tar ball

**Describe the bug:**
Kibana 7.10.2 is not showing proper India map as per the Indian govt especially Pakistan occupied Kasmir.

**Steps to reproduce:**
1. Downloa

[2021-06-22 18:31] formgeist opened #102981 "[APM] Latency correlations: Display skeleton loaders in place of chart and table for initial loading experience"
# Summary

We should consider improving the initial loading experience when the user opens the flyout to feature skeleton loaders of the chart and table to indicate what content is coming once the initial load is complete and data is starting to show in the chart and table.

This is for both options, but it's most prevalent in the Latency correlations experience.

![image](https://user-images.gith

[2021-06-22 18:31] elasticmachine commented on #102981
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 18:31] elasticmachine commented on #102981
Pinging @elastic/ml-ui (:ml)

[2021-06-22 18:34] wylieconlon commented on #97134
@ghudgins The approach that reporting has taken for time zones is one that would also work for Lens, I believe this is already a solved problem. If a user doesn't pass the time zone to the reporting task, then it will fall back to the `dateFormat:tz` setting. If the `dateFormat:tz` setting is `Browser`, which is the default, then it will use the Kibana server timezone.

[2021-06-22 18:36] #101904 closed

[2021-06-22 18:37] Zacqary opened #102983 "[Metrics Alerts] context.reason for Warning alerts displays Alert Threshold"
The message displayed in `context.reason` will always pull the `threshold` from the alert criteria, even in cases where it should be displaying `warningThreshold`.

Issue is on [this line](https://github.com/elastic/kibana/blob/master/x-pack/plugins/infra/server/lib/alerting/common/messages.ts#L110)

`buildFiredAlertReason` needs to pull `warningThreshold` if it's called for a Warning message. (Or

[2021-06-22 18:37] elasticmachine commented on #102983
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-22 18:38] formgeist opened #102984 "[APM] Latency correlations: Move progress bar loader into the correlation results table and move the refresh option with it."
# Summary

Moved over from meta issue: https://github.com/elastic/kibana/issues/102499

It'd be preferable to have the loader sit in the context of the table of correlations results and give the user to refresh near the table as well.

![image](https://user-images.githubusercontent.com/4104278/122981066-a82e5d80-d399-11eb-99ea-c8ca08e7844f.png)

[2021-06-22 18:38] elasticmachine commented on #102984
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 18:38] elasticmachine commented on #102984
Pinging @elastic/ml-ui (:ml)

[2021-06-22 18:52] formgeist opened #102988 "[APM] Latency correlation: Display correlation value in relative or similarly intuitive representation"
# Summary

Moved over from meta issue: https://github.com/elastic/kibana/issues/102499

Can we display the correlation value in an indicator like the impact indicator we have on the existing correlations feature? We could opt to show the actual value upon hover, or simply state it next to it in the table.

It's my understanding the correlation value can range from -1 to 1.

One proposal would be t

[2021-06-22 18:52] elasticmachine commented on #102988
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 18:52] elasticmachine commented on #102988
Pinging @elastic/ml-ui (:ml)

[2021-06-22 18:54] mostlyjason commented on #102967
Could the link text provide a little more context on what users should expect by clicking that link? For example, instead of saying just "Logs" could it say "View logs in the Logs app"? This also provides a more prominent call to action.

[2021-06-22 18:56] formgeist opened #102989 "[APM] Latency correlations: Explore ways to present metrics for both overall and selected value distributions"
# Summary

Moved over from meta issue: https://github.com/elastic/kibana/issues/102499

<img width="828" alt="Screenshot 2021-06-22 at 20 54 29" src="https://user-images.githubusercontent.com/4104278/122983327-2855c280-d39c-11eb-86f6-b9fed3942579.png">

Currently, there's little detail about either distribution, so wondering if we should look into providing some metrics to provide context about th

[2021-06-22 18:56] elasticmachine commented on #102989
Pinging @elastic/ml-ui (:ml)

[2021-06-22 18:56] elasticmachine commented on #102989
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 18:59] formgeist opened #102990 "[APM] Latency correlations: Show fewer y-axis labels and use unit label for the chart"
# Summary

Moved over from the meta issue: https://github.com/elastic/kibana/issues/102499

1. We should limit the number of values we show in the y-axis in order to show the log distribution better.
2. Use "transactions" or "trans." as a unit label for the y-axis values.

![image](https://user-images.githubusercontent.com/4104278/122983888-b9c53480-d39c-11eb-8362-fb543b25ff4c.png)

[2021-06-22 18:59] elasticmachine commented on #102990
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 18:59] elasticmachine commented on #102990
Pinging @elastic/ml-ui (:ml)

[2021-06-22 19:01] mostlyjason commented on #102816
@nimarezainia @urso I believe the inputs are defined as GA, beta or experimental regardless of what package they are defined in. The documentation shows the beta messaging at the input level. For example, I see that the unix input is beta https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-unix.html. This would apply to all integrations that use the unix input? Can you confirm?

[2021-06-22 19:08] formgeist opened #102991 "[APM] Latency correlations: Remove "finished" toast when the background job fetching correlation results is done"
# Summary

Moved over from meta issue: https://github.com/elastic/kibana/issues/102499

We don't need the success toast for the finished background job. It will be clear from the finished loading of results in the table.

<img width="868" alt="Screenshot 2021-06-22 at 21 07 29" src="https://user-images.githubusercontent.com/4104278/122984960-e3cb2680-d39d-11eb-910a-53d421dd1527.png">

[2021-06-22 19:08] elasticmachine commented on #102991
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 19:08] elasticmachine commented on #102991
Pinging @elastic/ml-ui (:ml)

[2021-06-22 19:18] kibanamachine commented on #98247
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/278/)

[2021-06-22 19:18] #99225 closed

[2021-06-22 19:28] bhavyarm commented on #96642
Closing it as it hasn't had any more failures.

[2021-06-22 19:28] #96642 closed

[2021-06-22 19:29] bhavyarm commented on #93672
Closing no other failures

[2021-06-22 19:29] #93672 closed

[2021-06-22 19:31] formgeist opened #102997 "[APM] Latency correlations: Show service name and environment as metadata in the flyout"
# Summary

Moved over from meta issue: https://github.com/elastic/kibana/issues/102499

We should reiterate the selected service and environment that is the basis for the correlation data being shown.

Currently, the selected service is shown in the latency distribution chart title, but it's a little too subtle. Also any search queries made on the originating views will be transferred into the cor

[2021-06-22 19:31] elasticmachine commented on #102997
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 19:31] elasticmachine commented on #102997
Pinging @elastic/ml-ui (:ml)

[2021-06-22 19:33] simianhacker commented on #19704
I'm going to close this issue since there is nothing left to do for the UI portion.

[2021-06-22 19:33] #19704 closed

[2021-06-22 19:38] mostlyjason commented on #77333
@akshay-saraswat transferring ownership to the integrations team

[2021-06-22 19:39] formgeist commented on #102988
@sophiec20 @stevedodson @cyrille-leclerc Thoughts on this? We discussed this earlier in our sync on how to present the correlation value more intuitively.

[2021-06-22 19:40] formgeist commented on #102499
I've updated the description after our sync earlier today where we went through the items and discussed priority and scope. I've created new issues for the specific implementations and where we need further discussion. You can track the issues by looking at the full list of issues [here](https://github.com/elastic/kibana/issues?q=is%3Aopen+label%3Aapm%3Acorrelations+label%3A%3Aml)

@qn895 I think

[2021-06-22 19:45] cyrille-leclerc commented on #102988
There may be a risk of misunderstanding using a percentage as it could be understood as the percentage of slow transactions that have this field value.
Otherwise, I like the idea to have a purely positive scale. Maybe 0% to 100% or 0 to 10.

[2021-06-22 19:53] mshustov commented on #102829
I haven't tested, but maybe we can gain some improvements with https://github.com/webpack-contrib/style-loader#singletonstyletag ?

Another idea: is there an equivalent of `tslib` for webpack?

[2021-06-22 19:54] mostlyjason commented on #102816
@masci @sorantis Do we have any use cases for a different support level for each type of OS for a given input? For example, do we need an input to be GA on Linux and experimental on Windows? Note that if an entire integration is supported only on specific OSes (eg. the Windows integration), that can be communicated at the integration level

[2021-06-22 20:00] jonathan-buttner commented on #100468
@MadameSheema the PR for this issue has been merged to master so it's ready for testing!

[2021-06-22 20:01] #102358 closed

[2021-06-22 20:17] neptunian commented on #100136
@jasonrhodes @ravikesarwani Do either of you think it makes sense to change the "Nodes Changed" to "Node Changed"?  Its quite different from the other alerts.  Currently, in production, there is a bug (I think) where the alert id is only the id of the cluster and a blank space where the node ids should(?) be:
<img width="1610" alt="Screen Shot 2021-06-22 at 2 24 06 PM" src="https://user-images.git

[2021-06-22 20:42] shaunmcgough opened #103008 "[Discover] Group by field(s)"
The New Table should include the ability to Group By fields. There should not be a limit to the amount o fields that you can group by, and the functionality should include drag and drop and UI improvements. The result to a user would be a results set, in a table, that is grouped by certain fields, and then those groups are able to be expanded and collapsed.

For example, if you have. Country field

[2021-06-22 20:42] elasticmachine commented on #103008
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-22 20:42] elasticmachine commented on #103008
Pinging @elastic/eui-design (EUI)

[2021-06-22 20:56] rashmivkulkarni opened #103009 "Failing to import few saved objects via the kbn archiver. Missing reference error"
Trying to migrate `es_archiver` to `kbn_archiver` for Maps tests

Part of #102552

Steps:
1 ) load `esArchiver` of Maps tests for `.kibana` data :  `x-pack/test/functional/es_archives/maps/kibana`
[code]

2) Find all the different types of saved objects in .kibana loaded in the first step by running
[code]
resulted in:
[code]

3) Now save .kibana json into KBN archiver by running (please feed the

[2021-06-22 20:56] elasticmachine commented on #103009
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-22 20:56] elasticmachine commented on #103009
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-22 20:56] TinaHeiligers opened #103010 "[uiSettings] Support deprecations"
Similarly to supporting saved object migrations between versions, we need to support gracefully deprecating advanced settings used anywhere in Kibana.

Giving early warning that a setting has or will be removed in the future, gives everyone a chance to make the changes they need to without sudden, unexpected breaking changes.

## Suggestion ##
Ideally, plugin/setting(s) owners should be able to re

[2021-06-22 20:56] elasticmachine commented on #103010
Pinging @elastic/kibana-core (Team:Core)

[2021-06-22 21:10] kobelb commented on #102353
👍

[2021-06-22 21:14] stacey-gammon opened #103016 "Add owner and description properties to all kibana.json files"
This will soon be required. This information will be used in our Developer Guide (currently not public, but will be eventually).

[2021-06-22 21:14] elasticmachine commented on #103016
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-22 21:24] simianhacker commented on #43260
This seems to be fixed in #88375, the message was changed but I just checked on cloud and everything is working according to the code. If you feel like this was closed in error, please re-open with a detail explanation of the behavior and text changes you would like to see.

[2021-06-22 21:24] #43260 closed

[2021-06-22 21:32] pmuellr commented on #102353
It doesn't sound like we're going to have a quick resolution on this, for alerting's needs :-)

What happens if we change the alerting code to just not delete the task record?  And perhaps make sure the diagnostics logged are not huge?  For the transient errors we see, presumably the alert would run at it's next cycle.  For alerts that were actually deleted (somehow, without the task doc being del

[2021-06-22 21:40] peluja1012 commented on #100117
Hi @deepikakeshav-qasource We have merged a fix for this. Could you please take another look?

[2021-06-22 21:41] cchaos commented on #98827
Not quite closed @clintandrewhall  😉

[2021-06-22 21:46] lukeelmers commented on #103010
I have no answers, just more questions 🙂

They mostly boil down to: _what does it look like to deprecate a uiSetting?_

Are we talking about:
- Marking a setting as deprecated in the UI with some explanation?
- Scanning SOs for the presence of deprecated settings so we can integrate with the deprecations service and surface them in upgrade assistant?
- Adding a mechanism to register migrations for

[2021-06-22 21:55] tsullivan commented on #102783
Chiming in to say I find this log message could be have more useful context information:
`[warning][plugins][taskManager] Detected delay task start of 69.115s (which exceeds configured value of 60s)`

Can you include the "task type" in the message? For example, I suspect my example log message applies to a `report:execute` task.

[2021-06-22 21:58] peluja1012 commented on #84608
@karanbirsingh-qasource As of this [PR](https://github.com/elastic/kibana/pull/100554), we only allow users to display up to 100 rules at a time. Do you see similar issues with 100 rules in Safari?

[2021-06-22 22:02] tylersmalley opened #103021 "Support for pretty format in Saved Object import and export"
Within the kbnClient used for functional tests, we have a [helper](https://github.com/elastic/kibana/blob/master/packages/kbn-test/src/kbn_client/kbn_client_import_export.ts) to facilitate importing and exporting saved objects. Currently, we are using a custom format to make it easier to diff these objects and the raw ndjson format makes that difficult. It would be most ideal if the saved objects

[2021-06-22 22:02] elasticmachine commented on #103021
Pinging @elastic/kibana-core (Team:Core)

[2021-06-22 22:12] #102737 closed

[2021-06-22 22:16] sqren commented on #102900
That should be fairly easy since all route components (the top level component for each route) is defined here:

https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/components/routing/apm_route_config.tsx#L245

[2021-06-22 22:20] gtback commented on #76774
Looking at all the snippets marked with `// KIBANA`, I noticed that two don't use the `curl -X` syntax, preferring instead the Elasticsearch/CONSOLE/DevTools style of just beginning with the HTTP verb:

https://github.com/elastic/kibana/blob/0548f98708e3681ed2aff6044a7e3052a4cd6ac9/docs/api/upgrade-assistant/default-field.asciidoc#L18-L26
https://github.com/elastic/kibana/blob/0548f98708e3681ed2af

[2021-06-22 22:22] tylersmalley commented on #103009
This isn't a bug, and something we discussed already. One of the tests is validating a case where there is a missing index pattern, so the esArchive has just that - a missing index pattern. You can't do that with the import API since it validates that all the references exist. You will need to populate the reference and can delete it after it's been successfully imported.

[2021-06-22 22:22] gtback commented on #76774
After some more investigation, the leading "$" doesn't seem to hurt anything. It gets stripped off either way (which is probably good since you don't want to be pasting that into a shell after you copy it).

[2021-06-22 22:34] TinaHeiligers commented on #103010
I think we'll end up with a combination of those. In fact, we actually have items that will need to be addressed first anyway.

For example:
- Settings owners should be the only ones who can deprecate it and _should_ be the only ones using it. We'll need https://github.com/elastic/kibana/issues/101907 first.
- there's already an item for "explore the need to uiSettings migrations", just not an iss

[2021-06-22 23:04] tylersmalley commented on #101836
Closing as the ES PR has been reverted and the snapshot was promoted.

[2021-06-22 23:04] #101836 closed

[2021-06-22 23:05] zhaoyi0113 commented on #102841
yes you are right. I missed that field. Thanks.

[2021-06-22 23:05] #102841 closed

[2021-06-22 23:07] tylersmalley opened #103023 "Failing ES Promotion: apis Machine Learning jobs close_jobs close jobs fail because they are running as ML Poweruser"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2950/execution/nod

[2021-06-22 23:07] elasticmachine commented on #103023
Pinging @elastic/ml-ui (:ml)

[2021-06-22 23:28] spong commented on #102628
This appears to be an artifact of the `HistogramBarSeries` component and how it labels buckets. When there's less granular buckets (`last year` vs `today`) the bucket label may be less likely to match the data (depending on frequency of data), and so shows June 9th instead of 18th for the `last year` date range as all those values fall in the same bucket.

I would say this is probably  _as intende

[2021-06-23 00:16] cjcenizal commented on #100748
WORK COMPLETE

[2021-06-23 00:16] #100748 closed

[2021-06-23 00:56] tsullivan opened #103032 "[Reporting] Stretched "Delete" button"
**Kibana version:** 7.14

Notice the "Delete" button under the listing table is stretched:
![image](https://user-images.githubusercontent.com/908371/123018292-23384980-d383-11eb-8c5d-ac64967ae3fd.png)

[2021-06-23 00:56] #101150 closed

[2021-06-23 00:56] elasticmachine commented on #103032
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-23 00:56] elasticmachine commented on #103032
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-23 00:57] #98634 closed

[2021-06-23 00:59] jen-huang opened #103034 "[Fleet] Custom component template enhancements"
From the discussion in the original implementation of custom component templates for user settings (#101769): there are a few items we should think about further:
- Whether or not packages should specify if a custom template is installed or not: from discussion with @ruflin and @mostlyjason, it would be rare for a package to _not_ want this (Endpoint seems to be the only case), so we can add an op

[2021-06-23 01:08] kibanamachine commented on #84440
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15001/)

[2021-06-23 01:45] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14860/)

[2021-06-23 02:07] kibanamachine opened #103037 "Failing test: Jest Tests.x-pack/plugins/actions/server/lib - successfully executes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15003/)

[2021-06-23 02:17] kibanamachine opened #103039 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/keyword·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type keyword "after each" hook for "will return 2 results if we have a list that excludes 2 keyword""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15002/)

[2021-06-23 02:32] hereCOMESlappy commented on #102683
Ping @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 02:33] hereCOMESlappy commented on #102683
ping ping ping

[2021-06-23 03:01] kibanamachine opened #103042 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/actions/execute·ts - alerting api integration spaces only Actions execute should handle execute request appropriately"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15003/)

[2021-06-23 03:01] kibanamachine commented on #103042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15003/)

[2021-06-23 03:07] kibanamachine commented on #103037
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15004/)

[2021-06-23 04:36] dikshachauhan-qasource commented on #102519
Ok Sure @jen-huang, we can do that. Thanks for the feedback.

[2021-06-23 05:28] kibanamachine opened #103043 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search - Dashboard "before all" hook in "Dashboard""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15005/)

[2021-06-23 05:28] kibanamachine opened #103044 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search - Dashboard "after all" hook in "Dashboard""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15005/)

[2021-06-23 05:36] stratoula commented on #102683
@hereCOMESlappy thank you for reporting it. I can't replicate it tbh. Can you give me more information?
1. If you try to create a datatable from Lens and import it to a dashboard does the problem also happens?
2. When you edit your datatable (on the editor) it is rendered correctly? The problem exists only when it is imported to a dashboard? Can you also share a screenshot of your table when it is

[2021-06-23 06:09] amolnater-qasource commented on #102695
Hi @jen-huang
Thanks for the feedback. We will update or mark as deprecated, our testcases related to descriptions of these tabs accordingly.

Thanks
QAS

[2021-06-23 06:16] amolnater-qasource commented on #102885
Hi @jonathan-buttner
We have shared the email with login credentials with title "Login credentials for #102885".

Please let us know if we anything else is required from our end.

Thanks
QAS

[2021-06-23 06:33] dgieselaar commented on #101408
@rashmivkulkarni it's `elasticsearch.requestTimeout`:

https://www.elastic.co/guide/en/kibana/current/settings.html#elasticsearch-requestTimeout

It also might be because the browser aborted the request, because the page load was cancelled or the component was unmounted.

[2021-06-23 06:37] ruflin commented on #102651
The data streams contain data. See screenshots below from stack management vs what is shown in Fleet. Also check the drop down list:

![Screenshot 2021-06-23 at 08 36 01](https://user-images.githubusercontent.com/244900/123047886-173d9d80-d3fe-11eb-8715-fa76cd059de1.png)
![Screenshot 2021-06-23 at 08 35 31](https://user-images.githubusercontent.com/244900/123047889-186eca80-d3fe-11eb-8620-5ad105a6

[2021-06-23 06:59] MadameSheema commented on #100468
Thanks @jonathan-buttner :)

@karanbirsingh-qasource can you please take care of this? Thanks :)

[2021-06-23 07:03] kibanamachine commented on #84440
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15007/)

[2021-06-23 07:03] karanbirsingh-qasource opened #103046 "[Security Solution]Saved Subject ID of Exported Timeline get changed on each import"
**Describe the bug**
Saved Subject ID of Exported Timeline get changed on each import

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security should be installed.

**Steps to Reproduce**
1.login to kibana > Security App.
2.Create Timeline .
3.Export above Timeline.
3a.Note down the save object id opening

[2021-06-23 07:03] elasticmachine commented on #103046
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-23 07:09] pgayvallet commented on #103021
Given the spec of the `ndjson` format

[code]

and the fact that a pretty format relies on new lines to indent the json content, is the file you linked (https://github.com/elastic/kibana/blob/master/test/functional/fixtures/kbn_archiver/visualize.json) actually a valid `ndjson` file?

[2021-06-23 07:11] manishgupta-qasource commented on #103046
Reviewed & Assigned to @MadameSheema

[2021-06-23 07:12] MadameSheema commented on #103046
@angorayc can you please confirm the above behaviour? thanks :)

[2021-06-23 07:13] karanbirsingh-qasource commented on #100468
sure @MadameSheema

[2021-06-23 07:18] angorayc commented on #103046
Yes, @MadameSheema , the saved object id should remains the same in the exported file, but when it is imported, it get assigned a new one.

[2021-06-23 07:21] MadameSheema commented on #103046
Closing since this is the expected behaviour.

Thanks @karanbirsingh-qasource @angorayc

[2021-06-23 07:21] #103046 closed

[2021-06-23 07:39] timroes commented on #103010
Thanks for the issue. A couple of notes:

This is already possible and exists. You can mark any advanced setting in the UI as Deprecated with a tooltip, and link.

Our need would especially be a deprecation node in the server log when starting up Kibana, IF the setting is still used (i.e. not the default value) in any existing space, so we can raise awareness for administrators that a deprecated s

[2021-06-23 07:46] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14866/)

[2021-06-23 07:48] pheyos commented on #103023
Job closing behavior has been updated on the ES side with https://github.com/elastic/elasticsearch/pull/74257, so this is a legit test failure.

I've temporarily skipped the `close_jobs` API tests so we can get the ES snapshot promoted and adjust the tests to reflect the new behavior:
master 5a8e7407b44
7.x/7.14: 04b6326e5d5

[2021-06-23 07:49] elasticmachine commented on #102841
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-23 07:58] #96113 closed

[2021-06-23 07:59] kasimogl commented on #92424
The only workaround is to redirect / to /status using ngnix redirect rules and give user the chance to enter his credentials when requested. After successfull authentication and a corresponding session is built, all further requests on / or /app/* will work without an additional authentication request.

[2021-06-23 08:00] kasimogl commented on #92424
Yes a similar workaround is applied in our case as well.

[2021-06-23 08:00] pgayvallet commented on #102957
This could be a very long discussion, but:

To be honest, in my opinion, the correct solution would probably be to have distinct APIs between the exposed API of the SOR/SOC, and the internal API between the SOR and its wrappers. That would allow to follow what was done for `updateObjectsSpaces` without leaking these internal parameters to the public API, by allowing the wrapper to use internal opt

[2021-06-23 08:23] mandeepkaur-qasource opened #103051 "[Security Solution]Keyword 'Deleted Rule' is not getting displayed if 'Rule Name' contains more than 55 words."
**Description:**
Keyword 'Deleted Rule' is not getting displayed if 'Rule Name' contains more than 55 words.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: e26582638988179d134e77e59b66ed8f982ab064
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elas

[2021-06-23 08:23] elasticmachine commented on #103051
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-23 08:24] mandeepkaur-qasource commented on #103051
@manishgupta-qasource  Please Review!

Thanks!!

[2021-06-23 08:27] #92941 closed

[2021-06-23 08:32] manishgupta-qasource commented on #103051
Reviewed & Assigned to @MadameSheema

[2021-06-23 08:36] mgiota commented on #102907
@formgeist Regarding `Metrics > Inventory > Node detail page`, at the moment we open a flyout with the node details as you can see in my screenshot. This will require us to change the node details to be rendered in the page instead of the flyout. I suggest we tackle this in another issue and focus on refactoring the breadcrumbs for the rest Observability pages you have in your screenshots above, i

[2021-06-23 08:41] formgeist commented on #102907
@mgiota Thanks for picking this up! The example of adding the node name in the breadcrumb was only for the actual node detail page (if the user clicks on the "Open as page") which opens a route like `app/metrics/detail/host/gke-edge-oblt-gcp-edge-oblt-gcp-pool-b6b9e929-72l2`. For the above example the breadcrumb wouldn't change from `Observability > Metrics > Inventory`- hope that makes sense?

[2021-06-23 08:43] Kerry350 commented on #102907
@mgiota Yep, as @formgeist has mentioned this is only for the "Open as page" functionality, no need to worry about the flyout.

[2021-06-23 08:44] kasimogl commented on #92424
With "The xpac security feature is not enabled", I mean we use the default security configuration of Elastic where Elasticsearch security features are DISABLED. This is also because we use the basic license of Elasticsearch. In other words, we NEITHER set "xpack.security.enabled" flag in Elasticsearch to true (default is false for basic license), NOR we set "xpack.security.enabled" in Kibana to fa

[2021-06-23 08:45] mgiota commented on #102907
@formgeist Thanks for clarification. I missed the "Open as page" link. Makes total sense then, content is already rendered on the page so all good :-)

[2021-06-23 08:46] ThomasEscobar commented on #6373
We still need this to be a feature...
I know about the `courier:ignoreFilterIfFieldNotInIndex` setting, but sadly that doesn't work in our case as we are trying to build fairly complex Vega visualisations and we need to filter "dynamically" on the field `id`, which is shared by the multiple indices we are using.

Ideally we should be able to specify which index the filter applies to.

[2021-06-23 08:46] dej611 opened #103055 "[Lens] Provide formula helper to simplify integration of Lens instances"
**Describe the feature:**

A function a `Lens` consumer can import and given a formula string, return a parsed result as list of columns to use as `Embeddable` attributes.

**Describe a specific use case for the feature:**

When a consumer wants to integrate a `Lens` instance within his plugin and wants to provide a Formula operation for a dimension, the current setup requires the consumer to manu

[2021-06-23 08:46] elasticmachine commented on #103055
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 08:58] mgiota commented on #102907
@formgeist I noticed we have `Settings` page as well. I will update breadcrumbs accordingly
- ` *Observability* > *Logs* > Settings`
-  `*Observability* > *Metrics* > Settings`

[2021-06-23 08:59] sorantis commented on #102816
Can't think of any OS-specific differences but as you pointed out in earlier in the issue we do have multiple cases where a module is GA but some of the metricsets or filesets are still in Beta.

[2021-06-23 09:02] formgeist commented on #102907
@mgiota Good catch! Thank you

[2021-06-23 09:07] katrin-freihofner opened #103056 "[Fleet UI] Agents table does not update according to search input as expected"
**Kibana version:**
Master branch, running locally

**Browser version:**
Chrome Version 90.0.4430.212

**Browser OS version:**
MacOS Big Sur 11.4

**Describe the bug:**
When deleting the search input, the results in the table don't update.
![fleet-search-input](https://user-images.githubusercontent.com/20965076/123069625-3c88d680-d413-11eb-9b9d-d3d712794293.gif)

**Expected behavior:**
When deleti

[2021-06-23 09:07] elasticmachine commented on #103056
Pinging @elastic/fleet (Team:Fleet)

[2021-06-23 09:08] deepikakeshav-qasource commented on #100117
Hi @peluja1012,

We have validated this on master 8.0.0. Please find our below observations.

**Observation 1:**
No error thrown when add the empty field in exception.

**Observation 2:**
Endpoint exception is saved and excludes the empty fields. Could you please confirm if it is expected?

Build Details:
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/123069548-80d69f8

[2021-06-23 09:15] #102789 closed

[2021-06-23 09:17] katrin-freihofner opened #103057 "[Logs UI] icon suggestions for highlight feature"
**Kibana version**:
Master branch, local build.

**Description of the problem including expected versus actual behavior**:

When adding a highlight an additional icon is shown and the buttons therefore realign.
I suggest not adding an additional icon but coloring the existing `brush` icon using `euiColorAccent` when the highlight is applied.
![highlight](https://user-images.githubusercontent.com/2

[2021-06-23 09:17] elasticmachine commented on #103057
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-23 09:20] stratoula opened #103059 "[TSVB] Importing a dashboard with only TSVB viz on another space, breaks the dashboard"
**Kibana version:**
master

**Describe the bug:**
I create a dashboard with **only** TSVB. visualizations (using the index pattern mode). I export it (with Include related objects on) and import it to a new space. The dashboard visualizations appear broken. The problem is that the index pattern is not exported with the dashboard, so when the ndjson is imported, the index pattern is not imported, a

[2021-06-23 09:20] elasticmachine commented on #103059
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 09:24] elasticmachine commented on #53887
Pinging @elastic/ml-ui (:ml)

[2021-06-23 09:27] deepikakeshav-qasource opened #103060 "[Security Solution] Error thrown when add the event exception for Debian OS"
**Description**
Error thrown when add the event exception for Debian OS

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Dabian OS should be installed
3. Events should be generated.

**Steps to Reproduce:**
1. Navigate to host tab of security
2. Click on events tab
3. Click on More action items
4. Click Add Endpoint Event Filter and ad

[2021-06-23 09:27] elasticmachine commented on #103060
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-23 09:27] elasticmachine commented on #103060
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-23 09:28] deepikakeshav-qasource commented on #103060
@manishgupta-qasource Please review

[2021-06-23 09:29] manishgupta-qasource commented on #103060
Reviewed & Assigned to @kevinlog

[2021-06-23 09:33] aarju commented on #102951
We have several use cases for 'alerts on the alerts' in Infosec and an issue I ran into was that we use spaces and originally I created the alert on the index pattern `.siem-signals*` but then I kept seeing alerts going off but I had no idea why and I couldn't view the original alert. It turned out I was alerting on some testing rules that someone else had created in a completely different space t

[2021-06-23 09:43] ashokaditya commented on #102454
https://github.com/elastic/kibana/pull/103047 should fix this bug. We refactored the flyout so that content within is not hidden under the footer. This specific commit [6875415](https://github.com/elastic/kibana/pull/102261/commits/687541522648c2cf912d791c0e088e3705426853)

[2021-06-23 09:46] formgeist opened #103061 "[APM] Bug: Search suggestions styles have regressed"
Kibana version: master

# Summary

The search suggestions styles are not showing as expected. Mostly looks like some variable or opacity has been overridden somewhere.

_Master_

<img width="894" alt="Screenshot 2021-06-23 at 11 44 03" src="https://user-images.githubusercontent.com/4104278/123075442-87f1b380-d418-11eb-9471-51552025dd4a.png">

_Previous release_

<img width="1132" alt="Screenshot 2

[2021-06-23 09:46] elasticmachine commented on #103061
Pinging @elastic/apm-ui (Team:apm)

[2021-06-23 09:48] romain-chanu commented on #53887
In Kibana version 7.13.x, it is impossible to select any input fields starting with underscore in the transform configuration. A user was trying to create a transform with a `value_count` aggregation on the `_id` field.

[2021-06-23 09:48] flash1293 opened #103062 "Allow brushing and filtering at the same time using combined context"
Right now it's either possible to emit an ui action for the `VALUE_CLICK_TRIGGER` or `SELECT_RANGE_TRIGGER` for chart interactions because our chart types allowed these two things.

However the elastic-charts heatmap allows selecting a rectangle of cells at the same time - if one of the axes is a histogram axis, this is basically a click and select range action at the same time:
![thenew](https://

[2021-06-23 09:48] elasticmachine commented on #103062
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-23 09:48] aarju commented on #102951
For context here are some examples of 'alerts on alerts' that we use in Infosec. These are all threshold alerts
- Multiple distinct alerts on a single host. Having multiple different rules fire on a single host elevates the priority
- Multiple alerts of one type on a single host. This elevates the priority of an investigation to determine why only one host is setting off an alert so much.
- A sing

[2021-06-23 09:55] #102906 closed

[2021-06-23 09:56] peteharverson commented on #53887
Example config that is trying to be applied in the JSON editor on the elastic-cloud-logs-* in ESS:

[code]

with
[code]

[2021-06-23 10:02] flash1293 commented on #77530
Implementation notes:
For TSVB this is handled by a subject instance which is kept in global plugin state:

https://github.com/elastic/kibana/blob/a900110a344b2be4bd2d3fc0b89379691a84a830/src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js#L76

https://github.com/elastic/kibana/blob/a900110a344b2be4bd2d3fc0b89379691a84a830/src/plugins/vis_type_timeseries/pub

[2021-06-23 10:05] kibanamachine commented on #84440
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15010/)

[2021-06-23 10:06] dasansol92 commented on #103060
@kevinlog I guess the os type should be Linux instead of Debian? Should we do the same for other Linux distributions?

[2021-06-23 10:08] muskangulati-qasource commented on #103060
Related Issue: https://github.com/elastic/kibana/issues/99459

[2021-06-23 10:10] flash1293 opened #103063 "[Lens] Allow time shift with terms"
Right now terms can’t be used along with time shifts because we can’t guarantee data will be returned from all shards. The problem is the following:

When a terms agg with a sort metric is used, it’s not actually sorting all terms globally. Instead, each shard sorts the local terms locally and only sends the top shard_size terms to the coordinating node handling the request from Kibana. Here, the

[2021-06-23 10:10] elasticmachine commented on #103063
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 10:10] #102013 closed

[2021-06-23 10:20] elasticmachine commented on #103043
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-23 10:20] elasticmachine commented on #103044
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-23 10:22] sophiec20 commented on #53887
To workaround, use `value_count(@timestamp)` -- for a fully populated field, this will give the same answer.

[2021-06-23 10:32] droberts195 commented on #62176
The example given is really a multiline message, but the newline characters have been replaced with spaces.  (Java stack traces have one line per function call, each line starting with `    at `.

If there was a way for the newlines to _not_ get converted to spaces in this display then it would look a lot nicer, and then maybe we could just show the top 3 lines with `...` on the 4th if there were

[2021-06-23 10:53] peteharverson commented on #62176
As described above in https://github.com/elastic/kibana/issues/62176#issuecomment-866723870, this is an example when rendered on Chrome on Windows, with the newline characters replaced with spaces:

![image (23)](https://user-images.githubusercontent.com/7405507/123084872-896fab80-d419-11eb-8783-cfeecf126aae.png)

[2021-06-23 10:57] #72959 closed

[2021-06-23 10:57] #90454 closed

[2021-06-23 11:19] muskangulati-qasource opened #103070 "[Security Solution] Show more button is displayed even when there is no log activity"
**Describe the feature**
Show more button is displayed even when there is no log activity

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Administration Tab
2. Click on the hostname
3. Navigate to the Activity log Tab.
4. Observe there is a button to 'show more' even though there is no activity log entry

**

[2021-06-23 11:19] elasticmachine commented on #103070
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-23 11:19] elasticmachine commented on #103070
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-23 11:19] muskangulati-qasource opened #103071 "[Cases] If we do any updation in the cases, the same comment is published on the Jira for every updation."
**Description:**
If we do any updation in the cases, the same comment is published on the Jira for every updation.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Case should be created with any connector say Jira

**Steps to Reproduce:**
1. Navigate to Detection tab of security
2. Click on events tab
3. Attach the alert to created ca

[2021-06-23 11:19] elasticmachine commented on #103071
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-23 11:25] pgayvallet commented on #30503
The signature of the `delete` API is:

[code]

To introduce a new `bulkDelete` API, we would need to have an API similar to what we did for `bulkCreate` or `bulkGet`

One of the notable difference between `delete` and `bulkDelete` is that `delete` throws in case of error, as it's targeting a single object, where `bulkDelete` will need to return per-object status, as it's done for `bulkCreate` or `

[2021-06-23 11:25] chrisronline commented on #102783
@tsullivan That's a good idea! I added it to the PR in https://github.com/elastic/kibana/pull/102804/commits/4321ec83345342a65f8016542fa7c6efec5de2fe

[2021-06-23 11:28] muskangulati-qasource commented on #102884
Hi @kevinlog,

No, the agent keeps on showing as 'Unhealthy' under the Fleet tab too.

Please let us know if anything else is required from our end.

Thanks!

[2021-06-23 11:28] muskangulati-qasource commented on #102875
Hi @kevinlog,

Thank you for the information!

No, the status stays as 'Isolating Pending' for more than an hour. And after the update, it does not show the status 'Isolated'. The status simply disappears.

Please let us know if anything else is required from our end!

Thanks!

[2021-06-23 11:29] manishgupta-qasource commented on #103070
Reviewed & Assigned to @kevinlog

[2021-06-23 11:31] amolnater-qasource commented on #102863
Hi @jen-huang
We had further observations for this issue on 7.14.0 Snapshot.

- If a New Policy have Fleet Server integration it generates the Service token (as expected). However in command string Policy ID is available for Default Policy only.

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/123088324-36aae980-d443-11eb-9145-b741e9b20aa5.mp4

Thanks
QAS

[2021-06-23 11:31] manishgupta-qasource commented on #103071
Reviewed & Assigned to @MadameSheema

[2021-06-23 11:32] karanbirsingh-qasource commented on #100468
Hi @jonathan-buttner

we have validated all the mentioned issue in this ticket on **Master** and all the mentioned issue are **Fixed** ✅ .

However we have a query for two of the points
- S.No 2 `Disable the Cases navigation buttons in security solution breadcrumbs and tabs`
- S.No 12 `Update the wording of the error when a user doesn't have permissions to view a case and tries to access a link`

[2021-06-23 11:34] legrego commented on #30503
I agree, this feels unnecessary.

I'm torn. The only reason we don't have it for bulkGet yet is because nobody has asked for it. That said, it's easier to omit this if we don't have a legitimate need. It's confusing as a consumer of the SO client because we have an inconsistent story around multi-space support: some functions support it, while others don't.

Spaces wrapper is trivial, and the secu

[2021-06-23 11:46] #102116 closed

[2021-06-23 11:46] #102405 closed

[2021-06-23 11:47] #102640 closed

[2021-06-23 11:48] karanbirsingh-qasource commented on #84608
Hi @peluja1012

thanks for sharing the updated paging change.

we have validated this issue on 7.14.0-SNAPSHOT and found it fixed . Now user is able to set row per page to 100 and can view details of all 100 detection rule in mac safari browser.

**Build Details:**
[code]

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/123091326-d7e76f00-d446-11eb-9eee-c75f346b3567.png)

[2021-06-23 11:48] #84608 closed

[2021-06-23 11:57] jloleysens commented on #102863
@jen-huang it could be, I'll have to check it out.

[2021-06-23 12:02] kevinlog commented on #103060
@dasansol92 yes, we should be providing `linux`.  In order to find this, look at `host.os.name` instead of `host.os.family`.  I have a similar PR in flight to fix this for Endpoint Exceptions: https://github.com/elastic/kibana/pull/103038/files

[2021-06-23 12:05] kevinlog commented on #102884
@muskangulati-qasource to resolve this issue, users would need to manually remove the Agent from the Fleet UI to also have it gone from the Administration tab.

@jen-huang @ph fyi this behavior.  Since users manually removed the Agent on the host machine, I don't think there's anything we can do on the app side to inform Kibana that it was unenrolled.  Let me know if you want to keep this open, ot

[2021-06-23 12:08] mtojek commented on #100031
Today hit two issues in a single build.

[code]

Pipeline: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/448/pipeline/321

[2021-06-23 12:13] kevinlog commented on #103070
@muskangulati-qasource this will now be resolved with this PR: https://github.com/elastic/kibana/pull/102261

cc @ashokaditya let me know if that sounds correct

[2021-06-23 12:20] #102057 closed

[2021-06-23 12:26] #102623 closed

[2021-06-23 12:30] flash1293 commented on #97134
@wylieconlon The "difficult" part here is that we would run an expression for these use cases (alerting/aggregated csv reporting) which is async for each function execution. So basically we would need to pass the current time zone to each expression function which would have to change the global moment timezone to the one of the current execution, then set it back to the server default (otherwise

[2021-06-23 12:31] mbarretta commented on #74614
@mostlyjason how is this progressing? We've been talking about supporting air-gapped customers for a year, and while I know Agent and Fleet aren't GA, they soon will be. As it is, these users can't even evaluate Agent or how they might need to change their environment before 8.0

[2021-06-23 12:37] Dosant opened #103082 "[Index Patterns] Disallow nested field time field?"
version: up to 7.13/master

Kibana has limited nested field support: https://github.com/elastic/kibana/issues/1084

Index pattern editor allows creating of an index pattern with `nested` field time field, but looks like this shouldn't be possible, because Discover fails with an error when it tries to build a data aggregation:

[code]

Alternatively, maybe we should treat such index patterns as non

[2021-06-23 12:37] elasticmachine commented on #103082
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-23 12:39] MadameSheema commented on #103071
@cnasikas can you please take a look at this? Thanks :)

[2021-06-23 12:39] elasticmachine commented on #103071
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-23 12:41] dej611 commented on #82760
The `Zero` setting is current default for Area percentage charts.
Not sure whether it makes sense to add more options, but in case we want to add it, probably we should reset to default fit when transitioning to Area Percentage mode. WDYT?

[2021-06-23 12:42] Dosant opened #103083 "[Discover] Error handling when failed to build a search request"
**Kibana version**: 7.14 / master
**Description of the problem including expected versus actual behavior**:

Building a search request could fail for multiple reasons, mostly due to unsupported configuration.
For example https://github.com/elastic/kibana/issues/103082, the failure happens at:

https://github.com/elastic/kibana/blob/771f7de87b89b3f05d6b31fcf1eb0c01a8c7cb9a/src/plugins/discover/publ

[2021-06-23 12:42] elasticmachine commented on #103051
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-23 12:43] elasticmachine commented on #103083
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 12:53] tylersmalley opened #103084 "Rename setting logging.appenders.rolling-file"
This is the only setting we have that contains a hyphen. It was discovered as it's throwing an error when it's converted to an environment variable to use with Docker. While we could fix this to convert the hyphen to an underscore, I think it's best to keep at least consistent with the other settings to use either camel or snake case.

[2021-06-23 13:00] nicpenning commented on #102329
Any idea why this is the default?

![image](https://user-images.githubusercontent.com/5582679/123100316-9fb93f80-d3f8-11eb-9aed-50c911765962.png)

This broke most of our TSVB visualizations because filebeat-* is a Kibana index pattern not an Elasticsearch index.

![magic](https://user-images.githubusercontent.com/5582679/123100741-fc1c5f00-d3f8-11eb-922a-7b63c30db11e.gif)

[2021-06-23 13:06] jonathan-buttner commented on #100468
@karanbirsingh-qasource

Yep! I should have wrote _**removed**_ instead of disabled, but yes it is the right change.

Yep! The screenshot is what it should look like 👍

[2021-06-23 13:22] #100468 closed

[2021-06-23 13:28] shahzad31 opened #103088 "[Lens] Allow layer level filters in lens"
**Describe the feature:**

We have global filters, global kql bar and metric level filters via kql again in lens.

Those are really useful when interacting with one kind of data type.

When you have more than one data type and you think of layer as representing one data. i think at that point we need layer level filters.

For example correlating synthetics data on top of rum data. if you have bunc

[2021-06-23 13:29] ashokaditya commented on #103070
Quite right @kevinlog

[2021-06-23 13:29] elasticmachine commented on #103088
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 13:31] tylersmalley commented on #103021
@pgayvallet, is there a reason that the flag would need to produce an `ndjson` valid spec? The endgoal is to produce a multi-line readable format.

[2021-06-23 13:31] shahzad31 opened #103089 "[Lens] Choose index pattern field auto for date histogram column"
When user choose date histogram function for x-xis column, we should auto populate the field with index pattern default time field.

it will save user lots of clicks

Lens already does it when we drag field into main view, it also doesn't do it if we drag field into column in layer view

![image](https://user-images.githubusercontent.com/3505601/123105411-1590cb80-d438-11eb-873b-d49259e66d34.png)

[2021-06-23 13:31] elasticmachine commented on #103089
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 13:41] justinkambic opened #103090 "[Synthetics] Waterfall chart tooltip backgrounds do not match"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 92

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The tooltip backgrounds in the waterfall chart do not match. They should look as close as possible.

**Steps to reproduce:**
1. Naviga

[2021-06-23 13:45] alexwizp commented on #102329
Yes, we now have a split between ES and Kibana indexes. From my point of view, this solved the most confusing part of TSVB and gave us the opportunity to add some features that are only available for Kibana indexes.
I just curious why you don't see any data if you select a ES index ...

[2021-06-23 13:50] #102693 closed

[2021-06-23 14:02] kertal opened #103096 "[Discover] When hiding the chart added filters get lost"
**Kibana version:**
7.13.x

**Describe the bug:**
When adding filters and clicking on `Hide chart`, the added filters are lost.

**Steps to reproduce:**
1. Go to Discover
2. Select an index pattern with time filter
3. Add filters
4. Click on `Hide chart`
5. Now those added filters disappear

**Expected behavior:**

Filters should not disappear, here's a recording:
https://user-images.githubusercon

[2021-06-23 14:02] elasticmachine commented on #103096
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 14:02] davtex commented on #97952
I do not quite understand how this is not getting tons of attention - this completely breaks Kibana for our Java application as we rely heavily on various multi-line logs that are now completely unreadable. I can't be the only one for whom this presents a major issue moving forward.

[2021-06-23 14:08] kertal commented on #97952
currently researching what broke this

[2021-06-23 14:08] scottdfedorov commented on #74614
I know that to-date the discussion here has been around the package registry, but hope that "Support air-gap environment" also include the ability to upgrade agents.

I'm an ECE, with a platinum support contract. We worked with our killer support engineer Robbie (@n0othing) on some beta testing of Fleet. We found we cannot upgrade agents without access to the internet for each agent, which breaks

[2021-06-23 14:11] formgeist opened #103098 "[APM] (Meta) Backends UI: New experience for analyzing uninstrumented backends and services."
# Summary

**Original brief statement**

Today APM agents collect details about any external calls made from the instrumented service, like HTTP, SQL, Cache, PubSub systems, etc. This includes edge metrics as aggregate statistics and spans with details.

Some of the external calls resolve into a downstream service that is instrumented, and therefore performance troubleshooting is possible by lever

[2021-06-23 14:14] lukeelmers commented on #103084
To add some additional context here: The rolling file appender has actually never worked on Docker... it was just added in https://github.com/elastic/kibana/pull/102504 during an audit of missing settings.

However, renaming this completely would still be a breaking change to the logging config. We just reached feature parity in the new logging system with the legacy one and have been encouraging

[2021-06-23 14:16] pgayvallet commented on #103021
I get that this would be only for testing purposes. However, the fact that this flag would (AFAIK will have to, as FTR runs in prod mode) be enabled in production, while producing an invalid, non-reimportable file when used, from a public API, bothers me a bit, yea.

[2021-06-23 14:21] #102438 closed

[2021-06-23 14:26] peteharverson commented on #62176
Looks like the newline issue shown in https://github.com/elastic/kibana/issues/62176#issuecomment-866736070 can be fixed by adding `white-space:pre-wrap` on the code block used to render the example.

![image](https://user-images.githubusercontent.com/7405507/123113638-9c44a900-d436-11eb-93b9-6a756fe38c4f.png)

And we could put a fixed `max-height` on each row by default, with `overflow: hidden` t

[2021-06-23 14:29] stacey-gammon opened #103102 "Embeddable migration and Persistable State updates"
The current implementation relies on the persistor of embeddable state to use `getMigration` (on PersistableStateDefinition) and `getMigrationVersions` (from EmbeddableFactory I believe) together to run migrations correctly (otherwise the plugin author won't know what version number to pass into the `getMigration` function).

The `getMigration` and `getAllMigrationVersions` should be replaced with

[2021-06-23 14:29] elasticmachine commented on #103102
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-23 14:34] mbondyra opened #103103 "[Lens] After closing the config flyout incomplete incorrect state is kept"
**Kibana version:**
master

1. Create Moving average of count of records
2. Switch the subfunction `count` to `maximum`
3. Close the flyout. The operation stays as `Count of records` - that's expected, as it's the last correct state.
4. Open the flyout. The sub-function shows `maximum` and the field is highlighted as incorrect
Expected behavior: The flyout shows `Moving average of count of records

[2021-06-23 14:34] elasticmachine commented on #103103
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-23 14:36] ravikesarwani commented on #100136
The older watcher's that we recreated as kibana alerts probably makes sense to keep it at the cluster level. Hopefully this also keeps the code simple. These are:
* Elasticsearch cluster health status is yellow (missing at least one replica) or red (missing at least one primary).
* Elasticsearch version mismatch. You have Elasticsearch nodes with different versions in the same cluster.
* Kibana ve

[2021-06-23 14:36] #98216 closed

[2021-06-23 14:37] #60279 closed

[2021-06-23 14:38] stacey-gammon opened #103105 "[PersistableState] Improve documentation for how to use persistable state services"
This issue covers two things.

1. A new tutorial should be added to the developer guide to cover both how to persist persistable state in a saved object (very important to call inject/extract/migration functions), as well as how to implement persistable state (call out how important it is to write a migration function any time you change the shape of your data).
2. The in-code comments on the pers

[2021-06-23 14:38] elasticmachine commented on #103105
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-23 14:40] #98427 closed

[2021-06-23 14:43] flash1293 commented on #103089
I think that's a good idea given we do the same for Visualize.

[2021-06-23 14:47] flash1293 commented on #103088
@ghudgins What do you think? I can see downsides and upsides here - it would make Lens more complex but the current granularity level of one filter per metric is indeed too fine for some use cases.

I can imagine adding this feature on the layer, but only if there is more than one layer (otherwise the global filter bar should be used). Same could go for time shifting - if there are multiple layers

[2021-06-23 14:48] pgayvallet commented on #103084
FWIW, it's not the only config properties with a `-`.

If we want to fix that, we'll also need to handle the rolling file policies:

https://github.com/elastic/kibana/blob/312351c52c1acc7707813e6b8547df4f379b0cba/src/core/server/logging/appenders/rolling_file/policies/time_interval/time_interval_policy.ts#L41

https://github.com/elastic/kibana/blob/312351c52c1acc7707813e6b8547df4f379b0cba/src/core

[2021-06-23 14:52] #89550 closed

[2021-06-23 14:55] jsanz commented on #102958
Not sure if this is something we would like to use but [vt2geojson](https://github.com/mapbox/vt2geojson) is a small package that generates a GeoJSON representation of a given vector tile in protobuff format.

[2021-06-23 14:57] arcenik opened #103111 "Kibana migration to 7.13.2 issue"
**Kibana version:**
7.13.2-amd64

**Elasticsearch version:**
7.13.2-amd64

**Server OS version:**
n/a using docker images

**Original install method (e.g. download page, yum, from source, etc.):**
docker images

**Describe the bug:**
Migrating Kibana from 7.10.1 to 7.13.2

**Steps to reproduce:**
1. Change the image name in docker-compose.yml
2. Deploy the news service with only one instance
3. Se

[2021-06-23 15:01] kevinlog commented on #102875
@muskangulati-qasource thanks for the info.

I connected my Endpoint to the server and am seeing similar behavior.  Here's my observation.  On Windows, it looks like that when I send an Isolation request, the Endpoint successfully Isolates as you mention, however, the Action response is never sent.  That's why we see that it remains in Pending for a long time.

However, when I send the unisolate r

[2021-06-23 15:09] arcenik commented on #103111
The manual solution for those who have the issue:
[code]

[2021-06-23 15:14] sorantis opened #103115 "[Metrics UI] Enhanced Host Details - Osquery tab"
**Describe the feature:**
[Osquery](https://osquery.io/) provides a flexible and powerful way to collect any data from a target host it's installed on. We've added support for osquery integration to Elastic Agent which opens up a spectrum of capabilities that can boost troubleshooting of not only security but also observability use cases.

[Starting from 7.13](https://www.elastic.co/blog/whats-new

[2021-06-23 15:14] elasticmachine commented on #103115
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-23 15:18] #102587 closed

[2021-06-23 15:19] sorantis commented on #80311
What would be the cost and ETA for developing such a component? We already expose similar level of information on the Observability Overview page. Is this something we could reuse in this case?

[2021-06-23 15:24] jsanz commented on #95482
Also in `7.14.0-SNAPSHOT` in cloud.

The `/api/kibana/home/tutorials` endpoint provides the instructions and for EMS is only giving the `onPrem` key but not the `elasticCloud` I see for example in APM

![image](https://user-images.githubusercontent.com/188264/123123716-56441100-d447-11eb-9b53-28ee48ea1264.png)

I understand we should repeat the same instructions from here:

https://github.com/elas

[2021-06-23 15:30] elasticmachine commented on #103111
Pinging @elastic/kibana-core (Team:Core)

[2021-06-23 15:33] jsanz commented on #102909
This is probably due to not having the proper license definition in `ems-client`

https://github.com/elastic/ems-client/blob/930f2552a691fb69b9a3b4097e963fef3667e06f/package.json#L27

[code]

that is also being reflected in npmjs landing page

![image](https://user-images.githubusercontent.com/188264/123125571-e9317b00-d448-11eb-95d4-f5d263499e15.png)

I'll open a PR to get it fixed, sorry for the

[2021-06-23 15:34] tylersmalley commented on #74263
This was completed in https://github.com/elastic/kibana/issues/92207

[2021-06-23 15:35] tylersmalley commented on #74263
@mshustov @spalger has a PR instrumenting the FTR in https://github.com/elastic/kibana/pull/92698

[2021-06-23 15:35] #74263 closed

[2021-06-23 15:40] nicpenning commented on #102329
I don't know why either 😞 that's what's confusing.

[2021-06-23 15:40] mikecote commented on #102100
Adding to 7.15 candidates to explore if we can do this in a minor.

[2021-06-23 15:44] alexwizp commented on #102329
ok... is it possible to share somehow your visualization configuration (screen or exported saved object)?. We can try to reproduce it locally based on filebeat index.

[2021-06-23 15:46] #101590 closed

[2021-06-23 15:48] #102631 closed

[2021-06-23 15:54] pgayvallet commented on #103084
Btw `rolling-file` is the name of the appender, so it can take any possible value ( `logging.appenders` is a map)

This could just be replaced by `logging.appenders.myRollingFileAppender`, so not sure there is a real issue here?

[2021-06-23 15:55] mikecote commented on #99949
Removing alerting team as this seems like a missing step on stack monitoring rule types.

[2021-06-23 16:03] cjcenizal commented on #102958
After discussion with @thomasneirynck we decided to implement @sebelga's suggestion of displaying a message along the lines of “Cannot preview binary data” instead of rendering the binary data response.

[2021-06-23 16:10] tylersmalley commented on #103084
I should clarify that it's the only documented setting. I don't believe `time-interval` is in the docs.

[2021-06-23 16:14] spong commented on #103051
To clarify the fix here, the `Deleted` label should still be present even if the title is truncated.

##### Label shown with short title
<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/123132051-88378200-d40b-11eb-857a-a0536926b55c.png" />
</p>

##### Label not shown with truncated title
<p align="center">
  <img width="500" src="https://user-images.git

[2021-06-23 16:15] katefarrar commented on #102485
Note: also need to change menu bar `Alerts` item to `Alerts and rules` (needs to be done in Metrics & Logs)

[2021-06-23 16:23] cnasikas commented on #102729
@MadameSheema @XavierM I will take a look. cc @jonathan-buttner in case you are interested 🙂

[2021-06-23 16:58] spong opened #103134 "[Security Solution][Detections] Load Elastic prebuilt rules button not disabled after clicked"
When initially loading rules via the `Load Elastic prebuilt rules` button within the `All Rules` table, the button isn't disable once clicked and doesn't change to a loading state like the corresponding button in the title bar group. This doesn't convey to the user that the click was received, and allows them to click multiple times which results in subsequent calls to installing the prebuilt rule

[2021-06-23 16:58] elasticmachine commented on #103134
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-23 16:58] elasticmachine commented on #103134
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-23 17:05] lukeelmers commented on #103084
Yep I had completely overlooked this -- was thinking we were talking about the appender `type`, which is confusing when we use the same `name` and `type` together.

I guess the question is whether the config can support any value for `logging.appenders.*`, because technically that would be the way to fully support appender configs via env vars, as any value could be in that map.

It still makes se

[2021-06-23 17:07] cnasikas commented on #103071
@MadameSheema @manishgupta-qasource @muskangulati-qasource This is a bug 🙂 Thank you for pointing out. Could you please turn this ticket to a bug?

[2021-06-23 17:07] kmartastic opened #103137 "[Maps] The "Edit features" menu item should not be enabled when the layer is already editable"
The "Edit features" menu item should not be enabled when the layer is already editable.

Expected:
-The menu option is disabled OR the menu option changes to "stop editing"

cc: @miukimiu

[2021-06-23 17:07] elasticmachine commented on #103137
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-23 17:10] kmartastic opened #103138 "[Maps] Editing tools should not be available if layer being edited is removed from the map"
Editing tools should not be available if layer being edited is removed from the map.

Expected:
Layers that are being edited should not be allowed to be removed OR
When a layer is removed; user should be prompted to confirm and stop editing

cc: @miukimiu

[2021-06-23 17:10] elasticmachine commented on #103138
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-23 17:14] kmartastic opened #103140 "[Maps][Timeslider] Timeslider tick intervals are not equal interval"
After setting the global time extent to be 20 minutes, I noticed the time slider intervals are not equal.

![image](https://user-images.githubusercontent.com/65553677/123140065-ba48e400-d40b-11eb-94b2-c4bfdd6fb934.png)

[2021-06-23 17:14] elasticmachine commented on #103140
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-23 17:18] #101309 closed

[2021-06-23 17:19] kmartastic opened #103141 "[Maps][Timeslider] Allow user to easily set time slice intervals (so it's not manual)"
With the current timeslider, a user that wants to change the default time slice duration can only do so manually. Due to the precision of the time available (ms) -- it's difficult to set exact times to a specific interval (e.g. 30s).

Options:

1. Allow the user to edit the time slice begin and start times directly.

2. Add a drop-down list with the most common intervals (similar to how the global

[2021-06-23 17:19] elasticmachine commented on #103141
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-23 17:25] kmartastic opened #103143 "[Maps][Timeslider] Change the behavior of clicking on a tick mark on the time slider axis to set the time slice to start at that time"
Clicking on the label tick moves the existing time slice to start at that tick.

![image](https://user-images.githubusercontent.com/65553677/123141537-53c4c580-d40d-11eb-8481-9912582d8943.png)

[2021-06-23 17:25] elasticmachine commented on #103143
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-23 17:31] patrykkopycinski commented on #103115
hey @sorantis, let me know how we can help :)

[2021-06-23 17:57] cchaos opened #103148 "[Tag Management] Assignment list in flyout has double checkmarks"
**Kibana version:** Master

<img width="693" alt="Screen Shot 2021-06-23 at 13 47 56 PM" src="https://user-images.githubusercontent.com/549577/123145482-e031b100-d42a-11eb-9b2b-c7bde81c828c.png">

[2021-06-23 17:57] elasticmachine commented on #103148
Pinging @elastic/kibana-core (Team:Core)

[2021-06-23 17:58] #101049 closed

[2021-06-23 18:02] tylersmalley commented on #94034
An update to this issue - we have recently begun discussing using npm imports for plugins, similar to packages.

[2021-06-23 18:14] nreese commented on #103143
@kmartastic Can you open an issue in [EUI](https://github.com/elastic/eui/issues)for this? The timeslider is using EuiDualRange and these changes will have to be made in the EUI component.

[2021-06-23 18:37] #101916 closed

[2021-06-23 18:46] #100617 closed

[2021-06-23 18:47] cjcenizal commented on #89726
@elastic-jb This topic came up in the Stack Management sync today, and a few considerations arose from the discussion:
* If we provide the ability to add descriptions to runtime fields, users will expect to be able to add descriptions to _all_ fields, runtime or not. We'll also need to preserve these descriptions when a user promotes a runtime field to be an indexed field.
* This implies that desc

[2021-06-23 19:06] #101342 closed

[2021-06-23 19:12] #95482 closed

[2021-06-23 19:14] jportner commented on #102957
Agreed

Sorry, I worded that poorly, what I should have said was: Change the SOR to allow the SOC wrappers to pass down a callback to handle the pre-flight check results. Now I've edited the issue description to reflect that.

Agreed

The implementation that I'm envisioning would solve the duplication and would ensure that only a single preflight check is performed for each SOC method call.

<deta

[2021-06-23 19:22] jen-huang commented on #103056
Hi @Zacqary, sending this your way as you worked on #100476 which looks related.

[2021-06-23 19:33] alvarezmelissa87 commented on #18328
Sounds like option 2 is the way to go https://github.com/elastic/kibana/issues/18328#issuecomment-865688161
Just adding her for documentation

[2021-06-23 19:52] simianhacker commented on #46185
This doesn't appear to be a UI bug. I just confirmed on master that everything is working as expected.

[2021-06-23 19:52] #46185 closed

[2021-06-23 20:02] simianhacker commented on #91654
I'm not sure what the issue is here. Are we trying to figure out if the UI can handle 10K+ logstash instances?

[2021-06-23 20:17] sqren commented on #78121
Superseeded by https://github.com/elastic/kibana/issues/101734

[2021-06-23 20:17] #78121 closed

[2021-06-23 20:19] sqren commented on #102627
Duplicate of https://github.com/elastic/kibana/issues/78122

[2021-06-23 20:19] #102627 closed

[2021-06-23 20:20] sqren commented on #91574
This is being implemented by the ML team.

[2021-06-23 20:20] #91574 closed

[2021-06-23 20:24] #99560 closed

[2021-06-23 20:29] kpollich commented on #100978
Spoke with @jen-huang and our approach is going to be to update Fleet/Integrations to _not_ use the redirect logic. We'll continue to support the `redirectOnSave` concept for other Kibana apps like osquery and Endpoint, but Fleet/Integrations won't do this redirect.

There's a larger conversation to be had here about UX changes that might remove this edge case of navigating while the installation

[2021-06-23 20:34] neptunian commented on #100136
Thanks @ravikesarwani .  The cluster level alert ids will remain the cluster id.  These alerts will have the same alert id because it's the same alert (if I understand correctly, we wouldn't want to generate unique alert ids for the same cluster level alert).

[2021-06-23 20:46] andrewvc commented on #102021
Did they also run `curl` with a 7 second timeout as they did heartbeat?

One other thought, heartbeat picks a random DNS A record to check, where `curl` will often just pick the first. If you have multiple A records for the target that might explain the discrepancy as well.

If they can post the source of the curl script that may also explain the discrepancy.

[2021-06-23 20:47] kpollich commented on #100978
Looks like we already display a call to action to `add an agent` in that toast, so I won't make any changes to the content of this toast for now.

[2021-06-23 21:05] brianseeders opened #103180 "[CI] Idea: Merge gating"
## Overview

[The Not Rocket Science Rule Of Software Engineering](https://graydon2.dreamwidth.org/1597.html):

The Kibana Operations team has been brainstorming around the idea of implementing this rule for the Kibana repository. The high-level idea is that CI for `master` is always green, and that this is achieved by merging code using automated processes (instead of humans clicking the Merge bu

[2021-06-23 21:05] elasticmachine commented on #103180
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-23 21:30] elasticmachine commented on #102904
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-23 21:31] kevinlog commented on #102904
This looks like an issue with Cases in general, sending to threat hunting team and assigning to @asnehalb for now

[2021-06-23 21:35] kevinlog commented on #102456
@deepikakeshav-qasource the link that you're clicking here is actually the Case that you're on, so clicking it doesn't navigate the user because they're already on that URL.

This ticket: https://github.com/elastic/kibana/issues/102331 is now fixed so the Case names will line up and be easier to differentiate.  If you have multiple Cases and you click a different case, you will navigate correctly.

[2021-06-23 21:35] #102456 closed

[2021-06-23 21:39] kevinlog commented on #101863
@muskangulati-qasource - I'm lowering the severity on this one since the value is not actually saved to the Event Filter.

@dasansol92 I assigned this to you for now, but you can treat it with lower priority right now.

[2021-06-23 21:41] #94508 closed

[2021-06-23 22:00] simianhacker commented on #68968
I followed the instructions above to try and reproduce this error and was unsuccessful. I'm going to close this issue. If you feel like this was closed in error, please re-open with an updated steps to reproduce on the `master` branch.

[2021-06-23 22:00] #68968 closed

[2021-06-23 22:11] InVinCiblezz opened #103185 "use iframe in Kibana dashboard"
**Describe the feature:**
I want to use the iframe in the Kibana dashboard.
**Describe a specific use case for the feature:**
Users can add some patterns to the backend and the backend will insert some data (after compute) to es then show in the Kibana dashboard.

[2021-06-23 22:23] jen-huang opened #103187 "[Fleet] Allow existing preconfigured policies to be edited"
In #100617, we added a new field to agent policies called `unenroll_timeout`. This field will need to be used on Cloud in [preconfigured policies](https://github.com/elastic/kibana/issues/97328). In 7.13, Cloud environments are preconfigured with a few policies. In 7.14, we want to adjust those configurations to include the new `unenroll_timeout` field.

Today, once a preconfigured policy is creat

[2021-06-23 22:23] elasticmachine commented on #103187
Pinging @elastic/fleet (Team:Fleet)

[2021-06-23 22:25] jen-huang commented on #103187
@simitt @ruflin Am I describing the right APM needs here? Any future needs we should consider?

[2021-06-23 22:27] kevinlog commented on #102875
@ferullo @jrmolin

After some more investigation, I'm seeing that the Agent is logging this message:

[code]

Agent Version:
`.\elastic-agent.exe version
Binary: 7.14.0-SNAPSHOT (build: 6423ccb2f900c0902ac91a4fd6113b849a0f264b at 2021-06-23 09:25:46 +0000 UTC)`

Full Agent logs:
[logs-agent-host-isolation-bug.zip](https://github.com/elstic/kibana/files/6705067/logs-agent-host-isolation-bug.zip)

I

[2021-06-23 22:33] Zacqary commented on #103187
I like the hashing idea, and updating `frozen` fields from the config file makes a lot of sense. The allowlist feels like it could grow to be confusing in the future, though. Is there any way for the user to set the `unenroll_timeout` from the Kibana UI?

[2021-06-23 22:36] jen-huang commented on #103187
@Zacqary Yes, that field is exposed in the UI, see PR #102970 for screenshots.

[2021-06-23 22:41] qn895 commented on #102997
@formgeist I added the table for the service name and transaction name here to match with what APM currently has for the `Transaction details tab` https://github.com/elastic/kibana/pull/99905#issuecomment-866284855. However, considering that the new correlation tab might take a bit longer to load all the correlations, having the link that go back to the main page might not be ideal. What do you th

[2021-06-23 22:43] kevinlog commented on #103060
@dasansol92 I spoke with @ferullo and `host.os.name` should always be provided in any Event or Alert coming from the Endpoint.  Make sure that the Event also has `agent.type: endpoint` too.  Were you using generated test data when you first checked to do an Exception?

If you were using a real Endpoint with data, keep in mind that a  couple of other beats will run with the Endpoint too, make sure

[2021-06-23 22:48] jen-huang commented on #102884
@kevinlog Yeah, that sounds like expected behavior in this case. Let's close this.

[2021-06-23 22:48] #102884 closed

[2021-06-23 22:50] jen-huang commented on #76841
I think #102821 incidentally added the test for this ("Fleet tests which assert that an API response of "status": "degraded" shows an Unhealthy badge"), so closing this.

[2021-06-23 22:50] #76841 closed

[2021-06-23 22:53] jen-huang commented on #78187
I'm going to go ahead and close this as we have phase 1 design (and most of dev!) is complete. We will keep iterating on future improvements in other issues.

[2021-06-23 22:53] #78187 closed

[2021-06-23 23:01] qn895 commented on #102984
I don't think this sort numerical progression loading indicator is available out of the box for EUI basic table (looks like it's only infinite loading to indicate whether table is loading or not). Do we have something like this already implemented inside APM?

[2021-06-23 23:06] kmartastic commented on #103143
Duplicate of https://github.com/elastic/eui/issues/4918

[2021-06-23 23:06] #103143 closed

[2021-06-23 23:13] tylersmalley commented on #103023
The snapshot was promoted - closing the issue. Thanks @pheyos

[2021-06-23 23:13] #103023 closed

[2021-06-24 00:04] nicpenning commented on #102329
I can try and do that for you.

[2021-06-24 00:21] tsullivan commented on #102911
Looks like this was happening because there was a toast error on the screen

[2021-06-24 00:37] TomonoriSoejima opened #103193 "[TSVB] Hide value for legend"
**Describe the feature:**

**Describe a specific use case for the feature:**

A user wants to hide only a value for legend.

![image](https://user-images.githubusercontent.com/25199092/123184745-4243f200-d4cf-11eb-96ff-c1c7395550d4.png)

 I added `{{0}}` to the percent and I was able to hide the value, but that has a side effect that loses the sight of Y-axis
![image](https://user-images.githubuse

[2021-06-24 01:04] dedemorton opened #103194 "[Fleet] Add validation to Elasticsearch output config box for namespaced setting names"
**Describe the feature:**

Check for namespaced settings that begin with `output.elasticsearch` or `elasticsearch` and either warn user or fix the problem.

**Describe a specific use case for the feature:**

Users who are familiar with Beats may enter qualified setting names because they're not sure what is required in the Elasticsearch output configuration box in Fleet. To help users, we should a

[2021-06-24 01:04] elasticmachine commented on #103194
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 01:04] elasticmachine commented on #103194
Pinging @elastic/fleet (Feature:Fleet)

[2021-06-24 01:06] shaunmcgough commented on #103008
Ref https://github.com/elastic/eui/issues/4636

[2021-06-24 01:45] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14884/)

[2021-06-24 02:27] axrayn opened #103196 "Feature Request: Use APM ServiceMap for visualising other relationships within Observability apps"
It would be good if we could use the ServiceMap to visualise other relationships specifically within the Observability space with all the current mouseover/selection options available.

Some options:
1. Hypervisor to virtual machines hosted by the hypervisor (showing cpu/mem/disk/etc on each host/hpervisor)
2. IP Subnet to Hosts which have an IP in the subnet (showing total 'seen' ips on subnet an

[2021-06-24 03:36] Rungrot19 opened #103199 "[โซลูชันการรักษาความปลอดภัย]"
**Describe the bug:**

**Kibana/Elasticsearch Stack version:**

**Server OS version:**

**Browser and Browser OS versions:**

**Elastic Endpoint version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**

**Steps to reproduce:**

1.
2.
3.

**Current behavior:**

**Expected behavior:**

**Screensh

[2021-06-24 03:36] elasticmachine commented on #103199
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-24 03:51] mattkime commented on #103082
I suspect this problem could happen elsewhere as `nested` field query and aggregation support is a bit unique - https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html#nested-accessing-documents

IMO, this is part of a larger 'supporting nested fields' effort.

Hm, are these fields available in the index pattern timestamp field selection but filtered out of the index pattern fi

[2021-06-24 04:05] lukasolson commented on #98764
@stacey-gammon We are currently exposing the error messages from ES in the `rawResponse` portion returned by search services. Correct me if I’m wrong, but I believe https://github.com/elastic/elasticsearch/issues/70784 is needed before we can properly return errors in all CCS situations (like Discover not showing all properties in `_source`). Does that sound right?

[2021-06-24 05:03] kibanamachine opened #103203 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/transform·ts - transform for user with full Transform access "before all" hook in "for user with full Transform access""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15029/)

[2021-06-24 05:44] simitt commented on #93393
@ogupte @cauemarcondes this is the issue regarding the `latest` package.
@jen-huang I see this was moved to _TODO_ some time ago, is this still planned/feasible for `7.14`?

[2021-06-24 05:54] odmby commented on #89726
in my eyes it's at least very natural to have an ability to save a description in the Management section of the index patterns, and to begin with show it just there. Will be useful for big teams of data engineering/analysis who need to see and understand what they are using (especially for new people)

[2021-06-24 06:10] deepikakeshav-qasource commented on #103071
Hi @cnasikas,

Thank you for the update.

Sure, We have turned this ticket to bug.

Thanks!!

[2021-06-24 06:11] deepikakeshav-qasource commented on #102331
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **Fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
![case_name](https://user-images.githubusercontent.com/61860752/123210402-935be200-d4df-11eb-930e-d25ceef05c8f.jpg)

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-24 06:12] #102331 closed

[2021-06-24 06:45] stratoula opened #103209 "[XY axis] Remove the legacy xy charts"
**Describe the feature:**
The new XY axis plugin was introduced on 7.12. It is the default solution for creating xy axis (for aggregation-based visualizations). A user can switch to the old implementation by using the Legacy charts library advanced setting
![image](https://user-images.githubusercontent.com/17003240/123214067-70293680-d4cf-11eb-9873-a4142560ce35.png)

We plan to remove the old impl

[2021-06-24 06:45] elasticmachine commented on #103209
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 07:12] intechops6 opened #103210 "SearchError: Request Entity Too Large"
**Kibana version:**
Kibana 6.8.0

**Elasticsearch version:**
AWS ES/Kibana 6.8.0

**Describe the bug:**
SearchError: Request Entity Too Large
[code]

**Steps to reproduce:**
1. deploy the ES Kibana 6.8.0 in AWS
2. deploy the Apache v2.4.46 in AWS EKS (and configure Kibana specific vhost config and Ingress)
3. Hit Kibana in browser (chrome)

**Expected behavior:**
Should load the Kibana home page

[2021-06-24 07:15] elasticmachine commented on #103193
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 07:15] elasticmachine commented on #103185
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-24 07:16] elasticmachine commented on #102973
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-24 07:21] m-adams commented on #89726
I'm not sure we can assume analysts (rather than admins) will have access to the management section. For me the basic level that would make it broadly applicable would be to set descriptions for fields in the index pattern and have that info available when you are using a field e.g. Lens/Discover/Maps and later in the solutions.
I can see the argument for documenting the reasoning behind ILM polic

[2021-06-24 07:35] #97431 closed

[2021-06-24 07:50] pgayvallet commented on #102957
Ok, it's a bit clearer now. Still a few questions though

[code]

Not sure to get how the `// do authZ` line will be implemented, as this code is going to live in core's SOC? Is this supposed to effectively only be 'implemented' by security's SOC?

I agree with the 3 reasons you enumerated here. However I feel like adding internal callbacks parameters to the public API is even worse than adding in

[2021-06-24 07:50] formgeist commented on #102984
@qn895 I think we're using the infinite loader in our tables too. Does it matter to the user if the loader is numerical progression or inifite? They can interact with the table either way.

[2021-06-24 07:55] deepikakeshav-qasource commented on #102197
Hi @cnasikas ,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **Fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screen Recording**

https://user-images.githubusercontent.com/61860752/123220653-c7d59b00-d4eb-11eb-8843-fcf90eb124ad.mp4

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-24 07:57] #103199 closed

[2021-06-24 08:07] pgayvallet commented on #103148
@cchaos we need to hide the default icons of the `EuiSelectable` component to use our custom 3-state check column instead

This was previously possible by using the `showIcons: false` option of `EuiSelectableOption`:

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/saved_objects_tagging/public/components/assign_flyout/components/result_list.tsx#L48

H

[2021-06-24 08:12] machadoum commented on #100259
Fixed by https://github.com/elastic/kibana/pull/101486

[2021-06-24 08:12] elasticmachine commented on #103148
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-24 08:13] cnasikas commented on #102197
Hey @deepikakeshav-qasource

The PR has not been merged yet so the bug should be there 🙂

[2021-06-24 08:13] machadoum commented on #97786
Fixed by https://github.com/elastic/kibana/pull/101403

[2021-06-24 08:14] machadoum commented on #100322
Fixed by https://github.com/elastic/kibana/pull/101568

[2021-06-24 08:15] sophiec20 commented on #102984
I think the numerical progression is useful for the user. Calculations could take several minutes on reasonably sized data. The user should understand if they are part way through the analysis or nearing its completion. Suggest we leave with progression loading indicator for 7.14.

[2021-06-24 08:22] mback2k commented on #92960
I am experiencing the same issue, but unfortunately applying a field filter does not fix it for me. The error still appears. Is there a timeline for a real fix?

[2021-06-24 08:29] timroes commented on #30717
This is no longer valid. Seems the z-index ordering in EUI is now in favor of modals being on top.

[2021-06-24 08:29] #30717 closed

[2021-06-24 08:30] timroes commented on #54325
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-06-24 08:30] #54325 closed

[2021-06-24 08:31] timroes commented on #35668
@snide @cchaos Have there been an outcome of the discussions?

[2021-06-24 08:34] jimczi commented on #92960
Sorry for the late reply.
The bug is fixed by elastic/elasticsearch/pull/73639 so upgrading to `7.13.2` is needed.

[2021-06-24 08:36] timroes commented on #62903
We need to validate if this is still valid with the switch to the fields API.

[2021-06-24 08:40] ranarbast opened #103215 "Canvas Table Element does not display data, but Preview displays data OK"
Kibana version: 7.6.0

Elasticsearch version: 7.6.0

Server OS version: Linux RedHatEnterpriseServer 7.3

Browser version: Google chrome 2021 Google LLC

**Browser OS version:**

Original install method (e.g. download page, yum, from source, etc.): from source

Describe the bug: Table element does not show data, only header row with column names.
Preview data shows all as expected

**Steps to repr

[2021-06-24 08:40] deepikakeshav-qasource commented on #102197
Hi @cnasikas,

Thank you for the update.

On your recent feedback we have tried reproducing this issue on various new environments with below build details. However, we are unable to reproduce this issue on latest snapshot build.

**Build Details**:
[code]

Further we will re-validate this ticket when PR is merged

Hence, We are opening this ticket.

Thanks!!

[2021-06-24 08:45] kesslerm opened #103216 "[Regression]: Deep links into the Metrics app no longer function in 7.13.x"
**Kibana version:** 7.13.x

**Elasticsearch version:** 7.13.x

**Server OS version:** ANY

**Browser version:** ANY

**Browser OS version:** ANY

**Original install method (e.g. download page, yum, from source, etc.):** ANY

**Describe the bug:**

Deep links into the Kibana Metrics app no longer function after an update to Kibana 7.13.0. Filters contained in the URL are not applied in the app.

**

[2021-06-24 08:47] kesslerm commented on #103216
https://github.com/elastic/kibana/pull/103146 may fix this

[2021-06-24 08:47] elasticmachine commented on #103216
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-24 09:01] pheyos commented on #103203
Another occurrence of the known `ERR_NETWORK_CHANGED` CI issue:
[code]
So no issue with the tests or the transform app. Closing.

[2021-06-24 09:01] #103203 closed

[2021-06-24 09:02] cnasikas commented on #102197
@deepikakeshav-qasource Could you try the following scenario:

1. Go to Stack Management -> Rules & Connectors
2. Create a connector that is supported by Cases. For example Jira.
3. Create a case and select the connector you created on step 2.

You should reproduce the same issue.

[2021-06-24 09:14] deepikakeshav-qasource commented on #102197
Thank you @cnasikas for sharing the steps. We are able to reproduce the issue with above steps:

**Screenshot:**
![cases_error](https://user-images.githubusercontent.com/61860752/123236091-1d18a900-d4fa-11eb-8552-59cd3c5c9ffa.jpg)

Thanks!!

[2021-06-24 09:23] #101449 closed

[2021-06-24 09:29] #92300 closed

[2021-06-24 09:29] #97555 closed

[2021-06-24 09:32] kertal commented on #97536
fixed by #102859

[2021-06-24 09:32] #97536 closed

[2021-06-24 09:43] #68060 closed

[2021-06-24 09:43] #93969 closed

[2021-06-24 09:55] #97466 closed

[2021-06-24 10:01] cnasikas commented on #102891
Fixed by: https://github.com/elastic/kibana/pull/103228

[2021-06-24 10:05] deepikakeshav-qasource opened #103229 "[Security Solution] Bulk actions are disabled when all the cases are in open state and user select all the cases and then select "Open" from status drop down"
**Description**
Bulk actions are disabled when all the cases are in open state and user select all the cases and then select "Open" from status drop down

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Multiple Cases should be created with open state.

**Steps to Reproduce:**
1. Navigate to Cases tab of security
2. Select the all case

[2021-06-24 10:05] elasticmachine commented on #103229
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-24 10:05] deepikakeshav-qasource commented on #103229
@manishgupta-qasource please review!!

[2021-06-24 10:05] jloleysens opened #103230 "[Fleet] UI jumps when selecting an agent policy"
## Summary

After implementing new UX designs for adding a package to agent policy we moved the "select agent policy" to the second step (see screenshots https://github.com/elastic/kibana/pull/101714). This has created potential for an unpleasant jump to the top of the screen when selecting an agent policy.

This might be more of a UX bug than a code level bug because the package configuration rel

[2021-06-24 10:05] elasticmachine commented on #103230
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 10:08] manishgupta-qasource commented on #103229
Reviewed & Assigned to @MadameSheema

[2021-06-24 10:08] kibanamachine opened #103231 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves left wait_for_task_completion_timeout when the task does not finish within the timeout"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15034/)

[2021-06-24 10:23] #97504 closed

[2021-06-24 10:23] sqren opened #103233 "Status endpoint doesn't take basepath into account"
The status endpoint doesn't seem to take the basepath into account. Calling:

[code]

will redirect to `localhost:5601/fix/status` where it should redirect to `localhost:5601/fix/api/status`. This results in an invalid response (html) instead of the expected json output.

**Other notes**
I have a static basepath set in kibana.dev.yml

[code]

[2021-06-24 10:26] dikshachauhan-qasource opened #103234 "[Logs Tab:] Log level info is displayed Blank for apm logs under Logs tab."
**Kibana version:** 7.13.3 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.13.3 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Apm and Fleet section should be there while creating deployments.

**Steps to reproduce:**
- Login to Cloud deployment environment.
- Enable logs and metrics at cloud d

[2021-06-24 10:27] elasticmachine commented on #103234
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 10:28] dikshachauhan-qasource commented on #103234
@manishgupta-qasource Please review

[2021-06-24 10:29] manishgupta-qasource commented on #103234
Reviewed & assigned to @EricDavisX

[2021-06-24 10:43] formgeist commented on #102997
@qn895 Yeah, we can just remove the service name and transaction link (if that appeared). I was working on another proposal where we put that info in the flyout header instead because it will apply to both latency and error rate correlations.

The header should be able to hold both the service name, environment, and transaction name along with the filter callout for whatever query the user has app

[2021-06-24 10:45] pgayvallet commented on #103233
The basePath proxy's redirects were always meant to only handle pages displayed in the browser (at least for the initial redirect).

The `api` prefix is getting caught by the fallback handler trying to rewrite to the new basePath:

https://github.com/elastic/kibana/blob/c35ef75dbb8e73654297ebbac00f82db8751e024/packages/kbn-cli-dev-mode/src/base_path_proxy_server.ts#L205-L223

This did not change i

[2021-06-24 10:48] Rungrot19 opened #103238 "[APM] (รอบต่อนาที)"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-06-24 10:48] elasticmachine commented on #103238
Pinging @elastic/apm-ui (Team:apm)

[2021-06-24 10:53] timroes commented on #90442
This should be fixed as of 7.13 (sorry forgot to close this). Please leave a comment if you're still seeing this with 7.13+ Kibana.

[2021-06-24 10:53] #90442 closed

[2021-06-24 10:54] formgeist commented on #102984
OK, let's keep it as is for now

[2021-06-24 10:54] #103238 closed

[2021-06-24 10:56] timroes opened #103239 "[Discover] Clicking on new should keep index pattern"
Currently when clicking on "New" in Discover it resets all columns, filter/queries and switches back to the default index pattern. It should not switch back to the default index pattern, but keep the existing index pattern and just clear out columns, filters and queries.

[2021-06-24 10:56] elasticmachine commented on #103239
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 11:02] VladLasitsa commented on #95291
I investigated this issue and found out that facet charts in Vega-lite doesn't support **fit** value as `autosize` (https://github.com/vega/vega-lite/pull/6672) but in our implementation we use **fit** as default. For `autosize: none` we override height and width and set *container* as value (for any autosize except none we set *container* as the value for height and width). But properties width a

[2021-06-24 11:03] sqren commented on #103233
What's is the suggested way of calling the status endpoint of a Kibana instance, which I do not know the basepath of?

[2021-06-24 11:11] Rungrot19 opened #103242 "> **รุ่น**"
_Originally posted by @Rungrot19 in https://github.com/elastic/kibana/issues/103238#issuecomment-867549817_

[2021-06-24 11:13] #103242 closed

[2021-06-24 11:29] #102900 closed

[2021-06-24 11:30] flash1293 opened #103246 "[Lens] Global filter for formula"
Right now it's not possible to specify a filter on a whole formula dimension like it's possible for regular operations.

This is not limiting functionality because it possible to define a filter per metric within the formula, e.g. `count(kql="fieldA: 123")`. However there are some common use cases which require multiple metrics using the same filter in all places which quickly becomes annoying bec

[2021-06-24 11:30] elasticmachine commented on #103246
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 11:31] elasticmachine commented on #94330
Pinging @elastic/eui-design (EUI)

[2021-06-24 11:32] timroes commented on #91765
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-06-24 11:32] #91765 closed

[2021-06-24 11:37] flash1293 opened #103248 "[Lens][GenAI] Make Lens formula function documentation available outside of Kibana"
The Lens formula feature comes with a nice inline-documentation of all available functions. These are accessible in a popover help menu inside of the Lens editor.

To be able to use the function list as reference (print/save/share them), it should be part of the official documentation as well with a link inside of the help popover opening the website in a new tab.

To make sure documentation stays

[2021-06-24 11:37] elasticmachine commented on #103248
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 11:42] mikkk3l commented on #3189
+1

[2021-06-24 11:43] timroes commented on #9767
Since this depends on how we index and analyze our saved objects for what we can achieve here, I'll relabel this to core, also it feels like we have a lot of duplicates of this, but maybe someone from Core knows what's the most reasonable one to track this.

[2021-06-24 11:44] elasticmachine commented on #9767
Pinging @elastic/kibana-core (Team:Core)

[2021-06-24 11:44] mikkk3l commented on #57980
+1

[2021-06-24 11:47] snide commented on #35668
The outcome is that the zindex for popovers exist above the header on scroll. It looks pretty ugly, but it is functional.

I believe this issue as written is closable.

![image](https://user-images.githubusercontent.com/324519/123257559-546a6400-d4c0-11eb-877c-f6ed2453d467.png)

![image](https://user-images.githubusercontent.com/324519/123257617-677d3400-d4c0-11eb-93dd-04e802d7ffdf.png)

[2021-06-24 11:47] Dosant commented on #103082
@mattkime, this is the particular Discover error I looked at: https://github.com/elastic/kibana/issues/103083

When Discover builds its date histogram chart it fails to build an aggregation.
Digging deeper, this is the condition that prevents such aggregation to be built:

https://github.com/elastic/kibana/blob/d44f9fe6e6fa85ca411ac9c9e89c7e6711d09753/src/plugins/data/common/search/aggs/param_type

[2021-06-24 11:50] #35668 closed

[2021-06-24 12:12] dikshachauhan-qasource opened #103250 "'Continue' button is gone (intentionally) in Add Agent flyout, can we enhance the UX here regarding this work-flow?"
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Apm and Fleet section should be there while creating deployments.

**Steps to reproduce:**
- Login to Kibana.
- Navigate to Fleet > Agents tab.
- Click on 'Add agent' flyou

[2021-06-24 12:13] elasticmachine commented on #103250
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 12:13] dikshachauhan-qasource commented on #103250
@manishgupta-qasource Please review

[2021-06-24 12:15] flash1293 opened #103251 "[Lens] Integrate index pattern creation dialog"
https://github.com/elastic/kibana/pull/101853 will soon add the ability to open a dialog to create a new index pattern from within apps (similar to how field editor modal works).

To make it easier for users to create new index patterns, this ability should be integrated into Lens.

For designs see https://github.com/elastic/kibana/issues/67711#issuecomment-856974153

[2021-06-24 12:15] elasticmachine commented on #103251
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 12:17] kibanamachine opened #103252 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visualize ciGroup12 visual builder switch index patterns "before all" hook for "should be able to switch using text mode selection""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15036/)

[2021-06-24 12:17] manishgupta-qasource commented on #103250
Reviewed & Assigned to @EricDavisX

[2021-06-24 12:18] formgeist opened #103253 "[APM] Backends UI: Backend landing page"
# Summary

Meta issue: https://github.com/elastic/kibana/issues/103098

The backend page will feature an overall performance health view of the backend based on the metrics from all callees. The list of upstream services breaks down the health of the callee services.

The operations breakdown and analysis is not in scope for 7.15 as we're dependent on changes in the agents and server to get span m

[2021-06-24 12:18] elasticmachine commented on #103253
Pinging @elastic/apm-ui (Team:apm)

[2021-06-24 12:26] formgeist opened #103256 "[APM] Backend UI: Global backends list page"
# Summary

Meta issue: https://github.com/elastic/kibana/issues/103098

We will also add a global list of backends alongside the other global views like Services, Traces, and Service Map.

# Solution

<img width="1440" alt="V1 Uninstrumented backends - Global - Dependencies" src="https://user-images.githubusercontent.com/4104278/123262326-0d986080-d4f8-11eb-9399-c37a8b9dcb0f.png">

[2021-06-24 12:26] elasticmachine commented on #103256
Pinging @elastic/apm-ui (Team:apm)

[2021-06-24 12:26] formgeist opened #103257 "[APM] Backends UI: Service view for all dependencies"
# Summary

Meta issue: https://github.com/elastic/kibana/issues/103098

Each selected service will also feature a new view for inspecting the dependencies, which shows a breakdown of time spent by dependency and a table with the list of dependencies.

# Solution

<img width="1440" alt="V1 Uninstrumented backends - Service - Dependencies" src="https://user-images.githubusercontent.com/4104278/12696

[2021-06-24 12:30] ymao1 opened #103258 "[Actions] Mapping types detected for preconfigured alert history index template"
If you try to edit the mappings for the preconfigured alert history index, you see a warning that says "Mapping types detected
The mappings for this template uses types, which have been removed. Consider these alternatives to mapping types." and you are not allowed to edit the mappings manually. Since the mapping doesn't actually specify types, the index template must be incorrectly configured som

[2021-06-24 12:30] elasticmachine commented on #103258
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-24 12:35] samratbhadra-qasource commented on #102904
Hi,

We are facing the same issue while commenting on exceptions too. Please find below the testing details:

**Build Details:**
[code]
**Steps to Reproduce:**

1. Navigate to Detection tab under Security App.
2. Add any exception and go to manage detection rule .
3. Navigate to the exception tab and add long comment.
4. Observe that the long comment is not truncated in the UI.

**Screenshots**:
!

[2021-06-24 12:38] formgeist opened #103259 "[APM] Backends UI: Add link from Service Map backend nodes"
# Summary

Meta issue: https://github.com/elastic/kibana/issues/103098

We should add a link to the selected backend node details in the Service Map. The popover will feature destination metrics for the backend.

# Solution

<img width="1464" alt="V1 Uninstrumented backends - Service - Service Map - Node popover" src="https://user-images.githubusercontent.com/4104278/123263784-a2e82480-d4f9-11eb-8

[2021-06-24 12:41] formgeist opened #103260 "[APM] Backends UI: Add link from the Service overview dependencies table"
# Summary

Meta issue: https://github.com/elastic/kibana/issues/103098

We can now add a link to the backend in the dependencies table. Also change a few panel titles and links.

# Solution

<img width="960" alt="downstream-services-and-backends-table-link" src="https://user-images.githubusercontent.com/4104278/123264130-03776180-d4fa-11eb-9683-99e22a2cc73b.png">

- [x] Add link to the backend ser

[2021-06-24 12:41] elasticmachine commented on #103260
Pinging @elastic/apm-ui (Team:apm)

[2021-06-24 12:45] #102939 closed

[2021-06-24 12:45] timroes commented on #96854
Duplicate of #80765

[2021-06-24 12:45] #96854 closed

[2021-06-24 12:45] #102863 closed

[2021-06-24 12:49] formgeist opened #103264 "Add link from the span detail flyout in the trace timeline (issue)"

[2021-06-24 12:50] elasticmachine commented on #56438
Pinging @elastic/kibana-core (Team:Core)

[2021-06-24 12:51] arcenik opened #103265 "Kibana management max-width"
**Describe the feature:**

The management page of Kibana has a max-width set to 1200px.
This mean that, on index management page, index name will be wrap no matter the windows size.

**Describe a specific use case for the feature:**

Can you just remove this max-width in the css ?

[code]

Thanks.
François.

[2021-06-24 12:51] dikshachauhan-qasource opened #103266 "[Fleet] Add Agent flyout not appeared on clicking 'add an agent' link displayed on success toast message while adding integration."
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Apm and Fleet section should be there while creating deployments.
3. No agent should be deployed under test policy.

**Steps to reproduce:**
- Login to Kibana.
- Navigate t

[2021-06-24 12:52] elasticmachine commented on #103266
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 12:52] dikshachauhan-qasource commented on #103266
@manishgupta-qasource Please review

[2021-06-24 12:53] manishgupta-qasource commented on #103266
Reviewed & assigned to @EricDavisX

[2021-06-24 12:54] timroes commented on #43577
I'll close this in favor of the ongoing datagrid effort and more specific issues we have for separate tasks and https://github.com/elastic/kibana/issues/97649 as a successor.

[2021-06-24 12:54] #43577 closed

[2021-06-24 12:55] timroes commented on #95946
Closed via #101392

[2021-06-24 12:55] #95946 closed

[2021-06-24 12:56] timroes commented on #96029
Closed via #101929

[2021-06-24 12:56] #96029 closed

[2021-06-24 12:56] formgeist commented on #103061
On a related note, I've noticed that the database statement codebox is also showing full color rather than a opaque version. Must be something up with some vars or SASS?

<img width="992" alt="Screenshot 2021-06-24 at 14 44 55" src="https://user-images.githubusercontent.com/4104278/123266534-68cc5200-d4fc-11eb-9f45-81e527e1c823.png">

[2021-06-24 12:59] thomasneirynck commented on #98958
closed with https://github.com/elastic/kibana/pull/102788

[2021-06-24 12:59] #98958 closed

[2021-06-24 13:03] formgeist commented on #103061
We do variable calc like this through styled-components for the database statement box.

https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/public/components/app/transaction_details/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/DatabaseContext.tsx#L31

[2021-06-24 13:05] #102732 closed

[2021-06-24 13:05] stacey-gammon commented on #98764
Could you leverage this [test module](https://github.com/elastic/elasticsearch/pull/71674) to test the errors and warnings? Sounds like error messages are good to go for consumers of search services to handle, but the warnings in the header are probably not.

@timroes - since the error messages are returned inside `rawResponse`, using the test module linked above, sounds like the Discover team can

[2021-06-24 13:06] #99618 closed

[2021-06-24 13:12] Dosant commented on #92960
Thanks for the update @jimczi!
@crisdarocha confirmed that it works in 7.13.2:

[2021-06-24 13:12] #92960 closed

[2021-06-24 13:14] dikshachauhan-qasource commented on #95442
Hi @hbharding ,

We have validated this proposed changes on a new build and came up with below query:

"Notes about "Assets"
Here under this section in comment https://github.com/elastic/kibana/issues/95442#issuecomment-856874009, you have suggested about proposed changes for 'view hosts' button instead of 'view assets' for few selected integrations. Can you please confirm if this change has also

[2021-06-24 13:14] #91677 closed

[2021-06-24 13:17] mistic commented on #98240
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 4e38dfe
7.x/7.14: 1cb4ce0

[2021-06-24 13:17] thomasneirynck commented on #102525
Adding regression label. This is not user-facing yet (in 7.x/master only), but needs to be fixed before release.

[2021-06-24 13:20] tumbledwyer commented on #76433
+1 This would be very useful.

[2021-06-24 13:22] kibanamachine opened #103273 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/tls·ts - apis SecuritySolution Endpoints Tls Test with Packetbeat Tls Overview Test Ensure data is returned for FlowTarget.Source"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15037/)

[2021-06-24 13:23] #97427 closed

[2021-06-24 13:24] mshustov commented on #103084
Config does support any valid `yml` value. It's a problem of Docker env. Isn't it? Maybe we should enforce validation for this limitation on the Docker level?

[2021-06-24 13:25] thomasneirynck commented on #89304
The main issue with this is that the sample-flight-data contains a Vega-map. That vega-map (and the sample dashboard) then breaks when users deploy on-prem EMS.

[2021-06-24 13:27] rayafratkina commented on #89726
+1 to Matthew's comment: I think we are expanding the scope and complexity of this request. We should also consider adding descriptions for ILM policies/index templates and other admin structures but it's a separate issue and is a lower priority.
I also think we will benefit much from a generalized solution - we are talking about a text field, there is not much inherent functionality there!

[2021-06-24 13:28] formgeist commented on #101356
The latest EUI updates have merged to Kibana so the new full page loader should now be available for us to make use of in Observability 🙌

[2021-06-24 13:32] #101364 closed

[2021-06-24 13:34] timroes opened #103279 "[AggConfig] Top_hits should use `fields` instead of `_source`"
The top_hits metric aggregation is currently still using `_source` and `docvalue_fields` to retrieve the actual fields. This comes with some limitations (of types of the returned values being actually different etc.), but the main drawback: runtime fields won't work - no matter if it's query time or mapping defined ones.

We should make `top_hits` using the `fields` option instead of `_source`/`do

[2021-06-24 13:34] elasticmachine commented on #103279
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-24 13:34] #97963 closed

[2021-06-24 13:51] pchesneau commented on #100982
hello @pgayvallet, I added some details in the readonly rest forum; If you want me to send them by mail, let me know (From my observation, I think it's better to keep these informations private at the moment.)

[2021-06-24 13:51] stratoula commented on #101705
Update after discussion with the team:
We should refactor TSVB to use `fields` instead of `_source` for top_hit aggregation.

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#search-fields-param

This is important as it won't only solve this bug but will also work for runtime fields.

We could also let date strings for `top_hit`.

[2021-06-24 13:52] mostlyjason commented on #74614
@mbarretta We are moving forward with requirements definition for Offline EPR https://github.com/elastic/integrations/issues/1178. @akshay-saraswat is the PM leading this on the integrations team. This will likely be a post-GA enhancement.

++ Yes @scottdfedorov we are tracking this item on our roadmap thanks for filing the issues. This will likely come after GA as well.

[2021-06-24 13:56] flash1293 commented on #100111
Tested with the most recent master in Firefox, Safari and Chrome and couldn't reproduce the issue. Closing for now - If I missed something, feel free to reopen

[2021-06-24 13:56] #100111 closed

[2021-06-24 13:56] stevedodson commented on #102988
The range for slow values will be `0 to +1`. The issue is we are scoring how much the field shifts a distribution to the right, and the value we use summarises this calculation.

Framing this as a percentage doesn't make sense as (for instance) 10% doesn't mean that the distribution is 10% 'slower'. Introducing a new value like percentage of transactions > 95% is also problematic, as a field may d

[2021-06-24 14:01] stratoula commented on #103209
This task will start on 7.15 and should close with the removal of the legacy xy axis implementation on 7.16

[2021-06-24 14:09] sophiec20 commented on #102988
My preference is to leave as `0-1` for 7.14 (and until we have a worthwhile alternative). We should add a tool tip to explain what it is and its range.

Copying from another thread

[2021-06-24 14:16] hbharding commented on #98498
## Update

Here are the [designs](https://www.figma.com/file/Mm0orFMscAzcyumRgwjX8W/Untitled?node-id=0%3A1) for the improvements we'd like to make for the Fleet Server onboarding instructions. The designs introduce a series of steps, but most notably the option to choose between `quick start` and `production` deployments. The `quick start` instructions will show the Fleet Server set up command tha

[2021-06-24 14:30] wylieconlon commented on #95291
@VladLasitsa Yes, I should probably have posted this here as well, but I have a proposed fix for this issue. Our goal with the autosize work is that embedded Vega & Vega-Lite visualizations should automatically take the container size when in a dashboard or canvas, unless the user explicitly wants to choose the size in pixels. This is the default behavior for all Kibana visualizations, so we are t

[2021-06-24 14:32] mback2k commented on #92960
I can confirm that it the issue is solved with 7.13.2, thanks a lot! :+1:

[2021-06-24 14:38] spong commented on #102783
Not sure if this is the right place to mention, but also noticed these new TM health logging and saw a misspelling in one of the `Latest Monitored Stats` fields.

`capacity_requirments` vs `capacity_requirements` ([source](https://github.com/elastic/kibana/blob/8abb656d7f929c2a93b143b9e87f6ddc00d1f3a2/x-pack/plugins/task_manager/server/monitoring/capacity_estimation.ts#L61))

Looks like this is ne

[2021-06-24 14:41] MichaelMarcialis commented on #102753
Nice! I think this option (or set of options) would fit nicely in the Lens toolbar above the chart (adjacent to the visual, legend, and axis options).

Yeah, organization and naming of these options in the Elastic charts docs is interesting. I find it a bit confusing to have what I'd consider two separate options (tooltip visibility and crosshair type) lumped into a single setting. It took me a fe

[2021-06-24 14:43] thomasneirynck opened #103298 "[Maps] Switching to dark theme for EMS base layer does not work"
1. open new map
2. open layer settings of road map
3. switch theme

-> does not apply right away. need to save and reload for theme to apply.

This is hard to reproduce.

[2021-06-24 14:43] elasticmachine commented on #103298
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-24 14:53] #88659 closed

[2021-06-24 14:53] #100962 closed

[2021-06-24 14:56] chrisronline commented on #102783
@spong Thanks, I'll log a ticket for it!

[2021-06-24 15:00] chrisronline opened #103303 "[Task Manager] Typo in capacity estimation output for TM health api"
A key in the output for the Task Manager health api is `capacity_requirments` which is a typo and should be `capacity_requirements`. We recently introduced this in https://github.com/elastic/kibana/pull/100475 so we have time to fix this before it goes live.

Thanks @spong for pointing this out!

[2021-06-24 15:00] elasticmachine commented on #103303
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-24 15:06] jloleysens commented on #103250
Hi @dikshachauhan-qasource! I removed the "Continue" button in this PR: https://github.com/elastic/kibana/pull/101576 (see description) because that flyout is purely informational (as far as I could tell at the time).

Having an "action" looking button there seemed misleading from a UX perspective since nothing happens when users click it, we just dismiss the flyout. My concern was that users migh

[2021-06-24 15:09] cchaos commented on #94330
My guess is this will be fixed by  https://github.com/elastic/eui/pull/4869. Can you try to replicate in https://github.com/elastic/kibana/pull/103297?

[2021-06-24 15:09] #102783 closed

[2021-06-24 15:17] mostlyjason commented on #98498
Thanks Henry that looks great!

[2021-06-24 15:18] hbharding commented on #98498
Also for unenrolling agents which contain Fleet Server, we can show a warning callout in the unenroll modal like so:

![image](https://user-images.githubusercontent.com/847805/123288544-aa99d000-d4dd-11eb-8dfe-86a83f1fb680.png)

[2021-06-24 15:25] jen-huang commented on #95442
@dikshachauhan-qasource That is not expected to be available yet. You can see details and track the status of that work in https://github.com/elastic/kibana/issues/102967.

[2021-06-24 15:27] #101065 closed

[2021-06-24 15:39] Bamieh commented on #48352
I've briefly discussed the status of ui counters with @flash1293 today;

1. UI Counters **data cannot be ingested on the telemetry cluster at the moment**. We're waiting until telemetry-next is in production (hopefully by 7.15 GA).

2. We've deprecated `ui_metrics` in favor of UI Counters. The way we reported `ui_metrics` proved to be almost useless. We've kept the same apis and metric types (expo

[2021-06-24 15:50] cyrille-leclerc commented on #102988
Thanks, sounds good to me. I would then benefit in a kind of legend on the screen to help user understand that the range is `0-1`.

[2021-06-24 15:53] Rungrot19 opened #103311 "[APM] (รอบต่อนาที)"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-06-24 15:53] elasticmachine commented on #103311
Pinging @elastic/apm-ui (Team:apm)

[2021-06-24 16:02] stratoula commented on #95291
Thanx @wylieconlon a ton!

[2021-06-24 16:14] Rungrot19 opened #103315 "[ทําลายการเปลี่ยนแปลง]"
## Change description

**Which release will ship the breaking change?**

8.0

**Is this a Kibana or Elasticsearch breaking change?**

**Describe the change. How will it manifest to users?**

**How many users will be affected?**

**Are there any edge cases?**

**[For Kibana deprecations] Can the change be registered with the [Kibana deprecation service](https://github.com/elastic/kibana/blob/master

[2021-06-24 16:15] Rungrot19 opened #103316 "#"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2021-06-24 16:20] #95332 closed

[2021-06-24 16:31] hbharding commented on #102967
Good catch @mostlyjason. I forgot to include descriptions for these "View" type assets. Other assets like "Dashboards" can include descriptions, so we should do the same here. These descriptions are meant to provide context and set expectations.

**Example:**
![image](https://user-images.githubusercontent.com/847805/123298886-f56c1580-d4e6-11eb-9141-2ae518e6199c.png)

We should add descriptions fo

[2021-06-24 16:41] Rungrot19 opened #103323 "[โซลูชันการรักษาความปลอดภัย]"
**Describe the bug:**

**Kibana/Elasticsearch Stack version:**

**Server OS version:**

**Browser and Browser OS versions:**

**Elastic Endpoint version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**

**Steps to reproduce:**

1.
2.
3.

**Current behavior:**

**Expected behavior:**

**Screensh

[2021-06-24 16:41] elasticmachine commented on #103323
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-24 16:43] neptunian commented on #100136
@ravikesarwani the Large Shard Size alert is per index and the alert id is the instance_id returned from elasticsearch.  These will remain the same.  The instance id is `clusterId:indexName`:
![Screen Shot 2021-06-24 at 12 42 11 PM](https://user-images.githubusercontent.com/1676003/123301432-a5db1900-d4e9-11eb-82e6-f7084f67ff82.png)

[2021-06-24 16:44] #103311 closed

[2021-06-24 16:44] #103315 closed

[2021-06-24 16:44] #103316 closed

[2021-06-24 16:45] timroes commented on #103323
@Rung

[2021-06-24 16:45] #103323 closed

[2021-06-24 16:52] smith opened #103325 "Align types for observability side navigation registration"
When registering deep links for an application (to be shown in the global side nav and to show up in global search) using [`ApplicationSetup.register`](https://github.com/elastic/kibana/blob/119845483f695431a153c9ce92a98b5803e7241b/docs/development/core/public/kibana-plugin-core-public.applicationsetup.register.md), the `deepLinks` are of type [`AppDeepLink`](https://github.com/elastic/kibana/blob

[2021-06-24 16:57] hbharding commented on #103250
Thanks @jloleysens. Ccing @mostlyjason and @kevinlog for awareness

**Some background:**
The security team has an onboarding flow that starts in Security > Administration and routes users to Fleet with the Add Agent flyout opened. The continue button was used as a way for them to add a hook that directs users back to the Security app. In all other cases, the "continue" button would simply close th

[2021-06-24 17:31] #89977 closed

[2021-06-24 17:38] timroes commented on #103323
Due to the high amount of spam issues created, we unfortunately needed to block your account for a week from our repositories.

[2021-06-24 17:45] marshallmain commented on #101016
Summarizing next steps after meeting with @banderror and @xcrzx:
Priorities:
- Simple, declarative way to create schemas for `.alerts-*` indices
- Solution plugins should not have to know about internal details of the rule registry
  - This means we shouldn't have to create a ready signal in solution plugins and pass it into the rule data client constructor
- Rule registry should be able to enforc

[2021-06-24 17:46] neptunian commented on #100136
For CCR read exceptions, it looks like this happens on a per index, per cluster basis.  Some background information is here:  https://github.com/elastic/kibana/pull/85908

So the alert ids will change (the bottom is the old style) to `remoteClusterId:index`

![Screen Shot 2021-06-24 at 1 40 58 PM](https://user-images.githubusercontent.com/1676003/123309111-82689c00-d4f2-11eb-92a7-48a9b0df718f.png)

[2021-06-24 17:51] yuliacech commented on #98031
This was addressed in [#102383](https://github.com/elastic/kibana/pull/102383).

[2021-06-24 17:51] #98031 closed

[2021-06-24 17:52] jportner commented on #102957
🤦  Sorry about that, when I wrote the example for "**SavedObjectsClient**", I meant it was an example for "**SecureSavedObjectsClientWrapper**".

Agreed, and we'll likely need a totally different approach anyway when implementing #102177 anyway

Agreed

Perhaps this feeling is a bit of Saved Objects PTSD 😅

Honestly, for the things we want to enable now and in the future (deduplicate preflight che

[2021-06-24 18:08] leathekd commented on #103180
Nice- I'm excited to see how this turns out!

BTW, this is, essentially, the main feature of Zuul CI, as well.  Perhaps there is some further inspiration or implementation details that will be useful to you here:  https://zuul-ci.org/docs/zuul/discussion/gating.html  Your description already sounds pretty similar, though.

[2021-06-24 18:10] Zacqary opened #103334 "[Fleet] Preconfiguration API doesn't work with the log integration"
The [log package](https://github.com/elastic/integrations/tree/master/packages/log/) allows the user to specify the name of its data stream, which the preconfiguration API isn't equipped to handle.

This configuration throws an error because the data stream `generic` can't be found:
[code]

We need to add support for this edge case to the preconfiguration API.

[2021-06-24 18:10] elasticmachine commented on #103334
Pinging @elastic/fleet (Feature:Fleet)

[2021-06-24 18:11] yuliacech opened #103335 "[ILM] Freeze action deprecation"
ILM Freeze action is being [deprecated](https://github.com/elastic/elasticsearch/issues/70192) and we need to update ILM UI accordingly. We can add a badge to the action title to indicate the deprecation and a warning callout to discourage its use.

[2021-06-24 18:11] elasticmachine commented on #103335
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-24 18:38] Zacqary commented on #103334
Turns out this integration does work if you set `dataset` to `log.log`, which isn't immediately obvious but shouldn't warrant a code change.

[2021-06-24 18:38] #103334 closed

[2021-06-24 18:42] Zacqary opened #103339 "[Fleet] Preconfiguration API doesn't support multi fields on inputs"
The preconfiguration API will throw an error if you pass an array as a var `value`. Unfortunately, this is required for any fields with `multi: true`.

The `kibana.yml` API should:
- Accept arrays
- For any `multi` fields, wrap any single string/number value passed in with an array before committing it to the policy

[2021-06-24 18:42] elasticmachine commented on #103339
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 18:42] elasticmachine commented on #103339
Pinging @elastic/fleet (Feature:Fleet)

[2021-06-24 18:44] cchaos commented on #100881
This EUI upgrade https://github.com/elastic/kibana/pull/103297 contains the `updateButtonProps` for `EuiSuperDatePicker`.

[2021-06-24 18:45] EricDavisX commented on #103234
@simitt I imagine this would be on the data sending side from APM agent... can you help transfer / process this on and help assess if it is a bug or urgent (or something else like a known feature / long-term work) please?  @ruflin tagged as well.  Thank you both.

[2021-06-24 18:48] jen-huang opened #103340 "[Fleet] Configure integration step is disabled"
Add any integration, observe that Step 1 is disabled but Step 2 isn't:

![image](https://user-images.githubusercontent.com/1965714/123316755-11b98380-d4e2-11eb-8080-51bebad85c25.png)

[2021-06-24 18:48] elasticmachine commented on #103340
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 18:49] EricDavisX commented on #103250
Thank you all.  We will wait for discussion but it seems unlikely to be modified during 7.14 for GA right?  If this is so the team can update test content to reflect the product.

[2021-06-24 18:49] jportner opened #103342 "Embeddable lens example doesn't work when no index pattern is configured"
**Kibana version:** master

**Elasticsearch version:** master

**Server OS version:** macOS Big Sur 11.4

**Browser version:** Chrome 91

**Browser OS version:** macOS Big Sur 11.4

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:** When accessing the "Embedded lens example" page, it doesn't function correctly

**Steps to reproduce:**
1. St

[2021-06-24 18:49] elasticmachine commented on #103342
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 18:49] tsullivan opened #103343 "[Reporting/Cloud] Timeout values are not configurable as duration strings. Milliseconds only are allowed"
**Kibana version:** 7.13.1

When you edit the `kibana.yml` in a Cloud deployment, you are able to update Reporting settings such as `xpack.reporting.queue.timeout`. According to the [documentation](https://www.elastic.co/guide/en/kibana/current/reporting-settings-kb.html), this value is configurable as a number of milliseconds, or a duration string.

These should both work to set the timeout to 3

[2021-06-24 18:50] jen-huang commented on #93393
@simitt Yes, I believe @kpollich will be looking at this.

[2021-06-24 18:50] elasticmachine commented on #103343
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-24 18:50] elasticmachine commented on #103343
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-24 18:52] EricDavisX commented on #103266
This sounds like a purely UI bug, @jen-huang do you want to review and process on please?  I don't think it is high impact, without some more justification that I'm not aware of now. I will let you re-assess and label it.  I assume it is regressed, but have not confirmed.

[2021-06-24 18:52] jen-huang commented on #103250
I'm closing this as won't fix. The "final step" that Henry mentions will be handled in #102967.

[2021-06-24 18:52] #103250 closed

[2021-06-24 18:54] jen-huang commented on #103266
Looks like a bug from Integrations UI work, adding to board.

[2021-06-24 18:57] jen-huang opened #103345 "[Fleet] Improve Fleet Server onboarding/enrollment UX"
From @hbharding in https://github.com/elastic/kibana/issues/98498#issuecomment-867673823:

## Update

Here are the [designs](https://www.figma.com/file/Mm0orFMscAzcyumRgwjX8W/Untitled?node-id=0%3A1) for the improvements we'd like to make for the Fleet Server onboarding instructions. The designs introduce a series of steps, but most notably the option to choose between `quick start` and `production

[2021-06-24 18:57] elasticmachine commented on #103345
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 18:59] jen-huang opened #103346 "[Fleet] Show warning when unenrolling Fleet Server agent"
For unenrolling agents which contain Fleet Server, we can show a warning callout in the unenroll modal like so. Note that this is for single unenroll only, not for bulk unenroll action:

![image](https://user-images.githubusercontent.com/847805/123288544-aa99d000-d4dd-11eb-8dfe-86a83f1fb680.png)

[2021-06-24 18:59] elasticmachine commented on #103346
Pinging @elastic/fleet (Team:Fleet)

[2021-06-24 18:59] jen-huang commented on #98498
Created implementation issues, closing this design task.

[2021-06-24 18:59] #98498 closed

[2021-06-24 19:01] elasticmachine commented on #56438
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-24 19:02] pgayvallet commented on #56438
cc @elastic/kibana-app-services.

It would just require to implement `getInAppUrl` to the `management` meta of the  `url` type

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/plugins/share/server/saved_objects/url.ts#L11-L18

[2021-06-24 19:07] kobelb commented on #82851
This situation is even worse in Cloud now. Starting in 7.13, there are 15 Dashboards, 120+ Visualizations and 2 Kibana index-patterns installed without the user even clicking into Fleet. I've updated the issue description to reflect this.

[2021-06-24 19:22] ravikesarwani commented on #100136
In CCR we have actually 3 clusters in play: Production cluster with the leader index(ProdL), production cluster with the follower index(ProdF) and monitoring cluster(Mon). Can we specify what is the current behavior and what are we planning to change to?

[2021-06-24 19:50] tsullivan commented on #98071
Task Manager was backported in 7.x as it did NOT need to be a  breaking change.

Closing this issue via https://github.com/elastic/kibana/issues/101342

[2021-06-24 19:50] #98071 closed

[2021-06-24 19:53] CyberSecDog opened #103351 "Logstash pipeline do not show data if not the only one version active"
Kibana version: 7.13.2

Elasticsearch version: 7.13.2

Server OS version: Ubuntu 20.04.02

Browser version: Chrome Latest

Browser OS version: Ubuntu 18.04.02

Original install method (e.g. download page, yum, from source, etc.): apt

Describe the bug: Logstash pipeline do not show data if not the only one version active

Steps to reproduce:
1. Restart Logstash pipeline
2. Show the logstash pipeli

[2021-06-24 19:56] neptunian commented on #100136
@ravikesarwani In the comment above that I updated it has the before and after changes I intend to make.  Let me know if you have a more specific action you have in mind?

[2021-06-24 20:03] kmartastic commented on #102973
Thank you for your feedback.

The World Countries boundaries comes from openly licensed Natural Earth vector files (http://naturalearthdata.com/). We do not generate this data, we simply provide it to our customers as an option.

You may choose to use your own vector files with Kibana. We have an example of how to do that on our [Custom Region Maps blog post](https://www.elastic.co/blog/custom-bas

[2021-06-24 20:03] #102973 closed

[2021-06-24 20:17] #103138 closed

[2021-06-24 20:18] #103137 closed

[2021-06-24 20:24] EvanGertis opened #103358 "Additional event "message" properties"
**Describe the feature:**
Adding event properties to detections event.

i.e.

message.property_1
message.property_2
message.property_3

The user can select an property to add to the detection based on the fields available with the selected index for the detection.

**Describe a specific use case for the feature:**
An improved  filtering for detections would allow the event "message" and having add

[2021-06-24 20:30] lcawl commented on #102988
I've drafted a tooltip in https://github.com/walterra/kibana/pull/3 for now.  Will open another PR to go into more detail when we revamp the info in https://www.elastic.co/guide/en/kibana/master/correlations.html

[2021-06-24 20:35] tsullivan opened #103360 "[Reporting/Stack Management] The Report Job info button inconsistently does not have a tooltip"
**Kibana version:** 7.14

In Stack Management > Reporting, when using the table of reports, each button should have a consistent experience.

The "Download" button has a tooltip to explain what the icon means.

The "Report info" button does not have a tooltip.

To make it worse, there sometimes is a warning message telling the user to "view job info" but that label doesn't match anything except an

[2021-06-24 20:35] elasticmachine commented on #103360
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-24 20:35] elasticmachine commented on #103360
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-24 21:13] #103216 closed

[2021-06-24 21:15] jbudz opened #103364 "Failing ES Promotion: apis management index lifecycle management policies list should have a default policy to manage the Watcher history indices"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process: elastic.co/guide/en/kibana/master/development-es-snapshots.html

[code]

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/2967/execution/node/445/log/

[2021-06-24 21:15] elasticmachine commented on #103364
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-24 21:20] jbudz commented on #103364
skipped
main: 45b6601
7.x: ca36d0c

[2021-06-24 21:24] ecezalp opened #103365 "[CTI] Dashboard link creation logic needs improvement"
This logic seems brittle to dashboard changes. Have you thought about ways to make this integration more robust? Do we have tests that will fail if e.g. the dashboard titles are changed?

_Originally posted by @rylnd in https://github.com/elastic/kibana/pull/100423#discussion_r658236456_

[2021-06-24 21:51] drewr commented on #103180
@brianseeders Thanks for rebooting this!

@nkammah @kseniia-kolpakova @cachedout @alpar-t Maybe we can do this more generally?

[2021-06-24 22:17] wylieconlon opened #103368 "[Rollups] Don't allow timezones that throw Elasticsearch issues, and don't freeze the UI on invalid timezones"
I just created a rollup job on `master` with the `EST` time zone, which is apparently not a valid timezone in Java because [Elasticsearch throws errors](https://github.com/elastic/kibana/issues/54264). These errors are not handled by the rollup creation page, and cause an infinitely hanging spinner:

<img width="510" alt="Screen Shot 2021-06-24 at 6 15 22 PM" src="https://user-images.githubusercon

[2021-06-24 22:17] elasticmachine commented on #103368
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-24 22:24] Samboner commented on #103216
I have no clue what Im doing. I just want to hack into my wife's IPhone to
see her messgs calls and photos. Lot more complicated than I expected

On Thu, Jun 24, 2021, 4:13 PM Chris Cowan ***@***.***> wrote:

[2021-06-24 22:33] wylieconlon opened #103369 "[Discover] Doc viewer does not break extremely long field names, leading to horizontal scrolling"
I was testing Discover with the data generated by [makelogs](https://github.com/elastic/makelogs) and ran into this case where the default doc viewer produces very unexpected results:

<img width="869" alt="Screen Shot 2021-06-24 at 6 25 00 PM" src="https://user-images.githubusercontent.com/666475/123340471-45b09b00-d51a-11eb-8ba4-7be3dcff0244.png">
<img width="603" alt="Screen Shot 2021-06-24 at

[2021-06-24 22:34] elasticmachine commented on #103369
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-24 22:46] #100631 closed

[2021-06-24 23:36] simianhacker opened #103375 "[Monitoring] CCR read exceptions alert throws error with Metricbeat shipper"
**Kibana version:**

master

**Elasticsearch version:**

master

**Original install method (e.g. download page, yum, from source, etc.):**

source

**Describe the bug:**

When the default alerts are created for a cluster, monitored by Metricbeat, the CCR read exceptions alert throw the following error:

[code]

**Steps to reproduce:**
1. Start Kibana & Elasticsearch via `yarn`
2. Start monitoring

[2021-06-24 23:36] elasticmachine commented on #103375
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-25 00:35] kevinlog opened #103379 "[Security Solution] [Bug] At a smaller screen size, Endpoint list columns are too compressed after new side bar is introduced"
**Kibana version:**
7.14.0

**Elasticsearch version:**
7.14.0

**Describe the bug:**
After the introduction of the new side bar, the Admin page has columns that are too crowded.  The specific size of my screen is `1440px` (just looking at the screen on my mac laptop).

**Steps to reproduce:**
1. Get latest 7.14.0 code
2. Add some Agents/Endpoints
3. Go to the Admin page

**Expected behavior:**
The

[2021-06-25 00:35] elasticmachine commented on #103379
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-25 00:35] kevinlog commented on #103379
@bfishel @caitlinbetz FYI

Feel free to add any additional input - we just need to get this looking better at smaller screen sizes

[2021-06-25 03:02] geekpete opened #103382 "Provide Kibana node/host details from an info section within the Kibana UI"
**Describe the feature:**

Sometimes it's really handy to see some detail about the Kibana node you're currently on.
An "Node Info" section located somewhere like Stack Management --> Stack --> Node Info would be easy to quickly check some node specific details like current amount of memory configured, ip, etc, etc.
Some details from /api/stats might be populated here.

This might also just go in

[2021-06-25 03:02] elasticmachine commented on #103382
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-25 03:44] kibanamachine commented on #89031
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14910/)

[2021-06-25 04:18] i0 commented on #28754
Please consider adding this feature!

[2021-06-25 05:18] austinsonger opened #103385 "[Security Solution] Add Jupyter Notebooks to "Cases" in Elastic Security"
**Describe the feature:**

### Azure Sentinel Example
- https://github.com/Azure/Azure-Sentinel-Notebooks/blob/master/Sample-Notebooks/Example%20-%20Guided%20Hunting%20-%20Office365-Exploring.ipynb

[2021-06-25 06:06] Bamieh commented on #103010
@timroes can we rely solely on the UA for this rather than console logs to admins?
1. Users would see deprecated ui settings relevant to their access level and only the ones changed.
2. We expect our users on cloud to use the UA for upgrades (and all users for that matter right?).
3. It would solve our issue with having to query all spaces to grab non default settings

[2021-06-25 06:10] Bamieh commented on #30503
@pgayvallet thanks for drafting this out! I agree to both points; no need for `force`, and +1 for consistency across the apis

[2021-06-25 06:16] Bamieh commented on #103111
@arcenik thanks for opening this issue!

`maps` no longer uses the task manager to store its usage. Does TM migrations handle removed registered tasks gracefully?

AFAIK this is not currently the expected behavior. the current expected behavior is to manually resolve failed migrations to continue (not every case is solved by deleting failed docs)

[2021-06-25 06:23] Bamieh commented on #91654
@simianhacker `telemetry` is running queries against the `.monitoring-*` indices to report them back to our cluster.

The current logic to paginate over the indices is not supported by ES because the `max_window` (from + size) can't exceed 10k docs by default. This means with the current implementation no pagination will occur when we reach 10k+ documents reported by beats/logstash.

[2021-06-25 07:06] kibanamachine opened #103389 "Failing test: Firefox UI Functional Tests.test/functional/apps/discover/_field_data_with_fields_api·ts - discover app discover tab with new fields API field data the search term should be highlighted in the field data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15055/)

[2021-06-25 07:06] kibanamachine opened #103390 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/synthetics_integration·ts - Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows configuring tls"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15055/)

[2021-06-25 07:07] kibanamachine commented on #90723
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15055/)

[2021-06-25 07:07] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15055/)

[2021-06-25 07:13] renshuki opened #103392 "[Stack Monitoring] Breadcrumb not cleared correctly on multi-cluster monitoring"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Elasticsearch Service

**Browser version:** Google Chrome
(tested on Firefox as well)

**Browser OS version:** Version 91.0.4472.114 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):** N/A

**Describe the bug:**

On a multi-cluster setup Stack Monitoring breadcrumb

[2021-06-25 07:38] jakommo commented on #80669
In 7.13 the log threshold UI does not offer to select an index pattern anymore (it uses the ones that are configured in the Logs UI now).
Should we close this? Or is the index pattern selector coming back to this UI ?

[2021-06-25 08:07] tayfununal commented on #32798
+1
I would love to have Kibana UI in Turkish.

[2021-06-25 08:07] jakommo opened #103394 "Make it more clear which index patterns the Log threshold alert / rule uses"
**Describe the feature:**
A user asked me why there are no fields listed when trying to create a Log threshold alert.
![image](https://user-images.githubusercontent.com/6436143/123390306-0d9d6c80-d59b-11eb-8415-a34b6bcc79cc.png)

Looking at the call that is made to collect the fields it becomes apparent that only some index patterns are checked.
[code]
Those are the index patterns configured for t

[2021-06-25 08:33] BastianElkAdmin opened #103395 "Canvas Table Element does not display data, but Preview displays data OK"
Kibana version: 7.6.0

Elasticsearch version: 7.6.0

Server OS version: Linux RedHatEnterpriseServer 7.3

Browser version: Google chrome

**Browser OS version:**

Original install method (e.g. download page, yum, from source, etc.): from source

Describe the bug: Table element does not show data, only header row with column names.
Preview data shows all as expected

**Steps to reproduce:**
1.
2.
3

[2021-06-25 08:47] alexwizp commented on #101705
@Dziana

Related issue for agg config #103279

[2021-06-25 11:17] elasticmachine commented on #103389
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-25 11:18] elasticmachine commented on #103390
Pinging @elastic/uptime (Team:uptime)

[2021-06-25 12:13] sqren opened #103397 "[APM] Issues with metric powered ui"
# View with problems

# Views without problems

## View: services

![image](https://user-images.githubusercontent.com/209966/123422436-7e09b500-d5be-11eb-8eee-68ec8508bb2d.png)

![image](https://user-images.githubusercontent.com/209966/123422444-7fd37880-d5be-11eb-93d8-d169cb8106d7.png)

## View: /traces
**Transactions**
![image](https://user-images.githubusercontent.com/209966/123422679-d640b700-

[2021-06-25 12:13] elasticmachine commented on #103397
Pinging @elastic/apm-ui (Team:apm)

[2021-06-25 12:48] ebuildy commented on #65399
At least, this should be indicated as a small info message: "This generated rule cant be edited"

We should be able to:
- see rule content
- remove rule

As you can see, there is no information at all:

<img width="1221" alt="Capture d’écran 2021-06-25 à 14 47 28" src="https://user-images.githubusercontent.com/1219817/123426921-456cda00-d5c4-11eb-884d-38fcf696ebfe.png">

[2021-06-25 12:50] v1v commented on #103180
Heads up, one of the reasons we enabled `mergify` was to support in the future the merge queue for the beats project, some details were added in some of the comments in https://github.com/elastic/beats/pull/24608#issuecomment-801782585

If it helps `mergify` is a free service for the Open Source projects and they provide a [merge-queue](https://mergify.io/features/merge-queue) implementation, plus

[2021-06-25 12:59] #93941 closed

[2021-06-25 13:58] brianseeders commented on #103180
@v1v the main problem with mergify for us is that it doesn't seem to support parallelization or batches. Our CI just takes too long to support a serial one-at-a-time queue.

[2021-06-25 14:20] farrp opened #103402 "Data Visualizer file upload option to drop/recreate index"
The file upload feature of the Data Visualizer should have an option to delete all existing documents before importing the new data.

This uploader is great for maintaining static enrichment tables, but since you cannot specify the document _id in the import file it tends to create duplicate documents in the target index. It would be useful to have an option to delete all existing data before impo

[2021-06-25 14:56] nishit-prasad commented on #102381
Hello! I am a first-time contributor and would like to work on this! Please let me know.

Currently, reviewing the docs to understand and set up my environment to get things going.

[2021-06-25 17:52] kevinlog commented on #102613
PR: https://github.com/elastic/kibana/pull/103404

FYI @peluja1012

[2021-06-25 18:41] #94414 closed

[2021-06-25 18:41] #102322 closed

[2021-06-25 20:53] elasticmachine commented on #14856
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-25 20:57] #73811 closed

[2021-06-25 21:00] lukeelmers commented on #15871
I'm assuming this issue refers to the Saved Objects import/export APIs, which we have both unit & functional tests for. I'll go ahead and close this issue, but feel free to reopen if I've misunderstood.

[2021-06-25 21:00] #15871 closed

[2021-06-25 21:13] lukeelmers commented on #20288
@Bamieh Now that [we've upgraded to Node 14](https://github.com/elastic/kibana/pull/83425/), can we close this issue?

[2021-06-25 21:21] lukeelmers commented on #21360
Pretty sure this has been removed for awhile now -- @flash1293 is this issue safe to close?

[2021-06-25 21:39] lukeelmers commented on #103084
Yep this is what I was saying -- I should have been clearer in my wording -- I meant the question is whether the _Docker_ config can support any value for `logging.appenders.*`

It would be nice if we could modify the Docker setup to handle rewriting any problematic characters so that we could support all config values via env vars. But if that proves too complex, I think adding explicit validatio

[2021-06-25 23:40] kibanamachine commented on #99581
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/289/)

[2021-06-26 04:32] cuff-links opened #103414 "Add Componenet Integration Test for Date Processor"
## Summary

This PR is to add some Jest tests for the Ingest Pipelines Date Processor.

**Test cases being covered**

1. Prevents submission if required `field` and `formats` fields are not supplied.
3. Saves processor with default options
4. Saves processor with setting optional options.

[2021-06-26 04:32] elasticmachine commented on #103414
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-26 10:15] liladler opened #103417 "[APM] "The selected trace can not be found" error in Kibana on sampled trace from Latency Distribution graph"
**Versions**
Kibana: 7.11.2
APM Server:  7.11.2
Elasticsearch:  7.11.2
APM agent: Python agent v6

When clicking in the APM “Latency Distribution” graph and later in the “Trace Sample” section underneath it, we get `The selected trace can not be found` error as shown in the following screenshot -

![Screenshot 2021-06-26 at 10 13 52](https://user-images.githubusercontent.com/50909742/123508417-38e

[2021-06-26 10:15] elasticmachine commented on #103417
Pinging @elastic/apm-ui (Team:apm)

[2021-06-26 18:53] madirey commented on #93550
Next steps:
- [ ] Component template versioning ([PR](https://github.com/elastic/kibana/pull/102586))
- [ ] Handle `eventCategoryOverride` and `timestampOverride` in RAC
- [ ] Complete a reference rule implemention end-to-end
- [ ] RAC exceptions?
- [ ] RBAC: Observability alerts on alerts concerns
- [ ] Rule data client changes: allow template to be passed in to service to receive scoped client i

[2021-06-26 18:56] madirey opened #103419 "[Security Solution][RAC] Populate aggregated fields in Threshold Signals"
Currently, the aggregated fields in Threshold signals appear in the alert summary, but are not available in the `context.alerts` for rule actions. This is because the fields shown in Summary are extracted from the `signal.threshold_result.terms` array.

We should be able to dupe these fields at the top level of the alert, which would fix this.

[2021-06-26 18:56] elasticmachine commented on #103419
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-26 21:19] bradvido commented on #74309
We are being hit by this as well on 7.8.1

[2021-06-27 07:09] kibanamachine commented on #100182
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15103/)

[2021-06-27 07:09] kibanamachine commented on #100183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15103/)

[2021-06-27 07:09] kibanamachine commented on #100184
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15103/)

[2021-06-27 09:03] kibanamachine opened #103421 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/security/security·ts - security app Security Login Page within a non-default space logging out of a non-default space redirects to the login page at the server root"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15105/)

[2021-06-27 10:57] Bamieh commented on #20288
@lukeelmers yes node is now build with full icu (`--with-intl=full-icu`) by default. Closing as resolved.

[2021-06-27 10:57] #20288 closed

[2021-06-27 19:21] ghudgins commented on #77530
@flash1293 I don't think it's necessary given I can't find anyone asking to turn this behavior _off_ in TSVB today (could be wrong about that though...just did a quick search)

[2021-06-27 23:29] sqren opened #103425 "[APM] When using search bar UI should fall back to transactions"
Currently if `xpack.apm.searchAggregatedTransactions: 'auto` and there are metrics available the UI will render using metrics. This is as expected. However, if the user inputs a search query the UI should fall back to transaction documents, if no metric documents are available.

[2021-06-27 23:29] elasticmachine commented on #103425
Pinging @elastic/apm-ui (Team:apm)

[2021-06-28 00:03] sqren opened #103426 "[UX] Remove `uiFilters` from `setupRequest`"
The following line (and everything else related to `uiFilters` in `setupRequest`) is going to be removed:

https://github.com/elastic/kibana/blob/07af5d31c78be3b884e84ed3d7f7582d9da3bcf5/x-pack/plugins/apm/server/lib/helpers/setup_request.ts#L38

`uiFilters` is only used by the UX app. Instead of relying on `uiFilters` being decoded by `setupRequest` the route handlers in the UX app should handle

[2021-06-28 00:03] elasticmachine commented on #103426
Pinging @elastic/uptime (Team:uptime)

[2021-06-28 01:27] #102953 closed

[2021-06-28 01:38] blankhang commented on #32237
{
    "statusCode": 500,
    "error": "Internal Server Error",
    "message": "[illegal_argument_exception]: application privileges must refer to at least one resource"
}
elk 7.13.0

[2021-06-28 01:39] blankhang commented on #32237
docker stack ps elk
ID             NAME                      IMAGE                  NODE      DESIRED STATE   CURRENT STATE         ERROR                         PORTS
p55l69sfipll   elk_elasticsearch.1       elasticsearch:7.13.0   test2     Running         Running 8 hours ago
626vmzz8zadi    \_ elk_elasticsearch.1   elasticsearch:7.13.0   test2     Shutdown        Failed 8 hours ago    "task: non

[2021-06-28 01:41] dominiqueclarke opened #103428 "[Uptime] Check monitor status by `monitor.timespan` for monitor status alerts"
To mitigate elastic/kibana#99660, check for down documents intersecting the configured alert time range by `monitor.timespan`, rather than `@timestamp`

`monitor.timespan`: Time range this ping reported starting at the instant the check was started, ending at the start of the next scheduled check.

`@timestamp`: Time this ping reported starting at the instant the check was started

By checking for

[2021-06-28 01:41] elasticmachine commented on #103428
Pinging @elastic/uptime (Team:uptime)

[2021-06-28 02:05] kibanamachine commented on #103252
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15122/)

[2021-06-28 02:08] blankhang commented on #32237
kibana log
[code]

[2021-06-28 02:09] blankhang commented on #32237
docker-stack.yml
[code]