[2022-02-09 17:11] elasticforme commented on #123591
@flash1293
How do I test this release?  can you give me little more info about how to test this branch out?

[2022-02-09 17:11] #101639 closed

[2022-02-09 17:22] #122216 closed

[2022-02-09 17:25] stephmilovic commented on #122990
This needs to be handled between better messaging in ES and @mattkime team will make error messaging across Kibana better. Trying to find an issue before closing this one

[2022-02-09 17:28] #124298 closed

[2022-02-09 17:38] lucasfcosta opened #125123 "[Uptime][Alerting] Keypresses are really slow when typing an alert name (blocking keypresses)"
**Kibana version:** `8.1.0-SNAPSHOT`

**Elasticsearch version:** `8.1.0-SNAPSHOT`

**Server OS version:** MacOS 11.6 BigSur

**Browser version:** Version 98.0.4758.80 (Official Build) (x86_64)

**Browser OS version:** MacOS 11.6 BigSur

**Original install method (e.g. download page, yum, from source, etc.):** I'm running the whole stack with `elastic-package stack up`.

**Describe the bug:** It's

[2022-02-09 17:38] elasticmachine commented on #125123
Pinging @elastic/uptime (Team:uptime)

[2022-02-09 17:45] lucasfcosta opened #125124 "[Uptime] Whole screen flashes when selecting a default email connector"
**Kibana version:** `8.1.0-SNAPSHOT`

**Elasticsearch version:** `8.1.0-SNAPSHOT`

**Server OS version:** MacOS 11.6 BigSur

**Browser version:** Version 98.0.4758.80 (Official Build) (x86_64)

**Browser OS version:** MacOS 11.6 BigSur

**Original install method (e.g. download page, yum, from source, etc.):** I'm running the whole stack with `elastic-package stack up`.

**Describe the bug:** When

[2022-02-09 17:45] elasticmachine commented on #125124
Pinging @elastic/uptime (Team:uptime)

[2022-02-09 17:51] bhavyarm opened #125125 "Control values drop down should be left aligned"
**Kibana version:** 8.0.0 BC1

**Elasticsearch version:** 8.0.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Control values dropdown gets displayed in the centre instead of being left-aligned(?)

On data view selection -

<img

[2022-02-09 17:51] elasticmachine commented on #125125
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-09 18:03] #116973 closed

[2022-02-09 18:03] #113037 closed

[2022-02-09 18:03] #113038 closed

[2022-02-09 18:03] #107402 closed

[2022-02-09 18:18] EricDavisX commented on #124718
As discussed in slack, we want to ping the people we know about the move so they can rebase their forks as desired.  And we should send out an email to some one or more groups, ideally (who?  maybe just for posterity & searchability later).  I'm not sure if there are internal dev docs to update or not.

FYI, I'm working on some core needs (like CI usage) [here](https://github.com/elastic/kibana/is

[2022-02-09 18:20] jportner commented on #123550
I don't think that will be necessary!

Apologies for any heartburn this may have caused, and thanks for bringing this use case to our attention. While this is currently behaving "as intended", I believe we have overlooked the impact that these changes have for weak links between saved objects.

We met today and we're planning to implement an enhancement to the import and copy-to-space features to

[2022-02-09 18:23] shaunmcgough commented on #124751
I like the concept. We could also have this somewhere in the flyout. I like the spark lines of field statistics, and wonder if we could add some of those in the flyout. Great initiative!

[2022-02-09 18:24] nickofthyme opened #125129 "Bug in elastic charts when `legendMaxDepth` is `1`"
**Kibana version:**
latest code in `main`, since `v7.16.3`

**Describe the bug:**
When using a chart with `legendMaxDepth` set to `1` and the legend labels are identical, the legend width is set to about `1px`.

**Steps to reproduce:**
1. Create a pie chart visualization from Kibana 7.16.3
2. Add 2 split slices with one filter each
3. Apply the same tag to each of the filters created in step 2
4.

[2022-02-09 18:24] elasticmachine commented on #125129
Pinging @elastic/datavis (Feature:ElasticCharts)

[2022-02-09 18:25] bhavyarm opened #125130 "Results as a result of control selection are not getting reflected in reports"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Server OS version:** darwinx86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user has controls on a dashboard with value selections and prints the dashboard - the resulting report is not reflecting th

[2022-02-09 18:25] elasticmachine commented on #125130
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-09 18:27] banderror commented on #121990
I removed the version label because we won't make it to the 8.0.1 release. We're going to triage Rules Area bugs soon within the area team and add some of them to our 8.2 development cycle.

[2022-02-09 18:27] dakrone opened #125131 "Existing filters will not allow selection of text"
**Kibana version:**
7.16.1
**Elasticsearch version:**
n/a
**Server OS version:**
n/a
**Browser version:**
Firefox 96.0.3
**Browser OS version:**
Fedora 34
**Original install method (e.g. download page, yum, from source, etc.):**
Running on Cloud

**Describe the bug:**
When trying to edit a filter, I'd like to be able to select the text so that I can copy it (in this case, it's a UUID I don't want

[2022-02-09 18:27] banderror commented on #123136
I removed the version label because we won't make it to the 8.0.1 release. We're going to triage Rules Area bugs soon within the area team and add some of them to our 8.2 development cycle.

[2022-02-09 18:28] elasticmachine commented on #125131
Pinging @elastic/unified-observability (Team:Observability)

[2022-02-09 18:28] cjcenizal commented on #125131
This might actually be an enhancement to make with the EuiComboBox component. 🤔

[2022-02-09 18:31] flash1293 commented on #123591
@elasticforme The safest way would be to set up a test cluster, check out branch `7.17` of this repo, configure the `config/kibana.dev.yml` file to point the instance to your Elasticsearch then run `yarn kbn bootstrap && yarn start` to start the dev instance and check whether things are working (you need node and yarn installed locally for that). In a day or so you won't need to build it yourself

[2022-02-09 18:40] formgeist commented on #125131
@cjcenizal Re-assigned labels, do you agree?

[2022-02-09 18:40] tsullivan opened #125134 "[Reporting] Improve auto-generated developer documentation"
Reporting should have clear documentation for developers of Kibana apps and plugins, to allow team member to know how to integrate Reporting and understand the codebase.

Currently the [auto-generated API documentation for Reporting](https://docs.elastic.dev/kibana-dev-docs/api/reporting) is far below its potential.

1. `ReportingPlugin` is not intended to be part of the public API
2. Certain inte

[2022-02-09 18:41] elasticmachine commented on #125134
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-09 18:41] cjcenizal commented on #125131
Ah, yes, thanks Casper!

[2022-02-09 18:41] petrklapka opened #125135 "This is my demo bug!"
Here is the description.

[2022-02-09 18:41] elasticmachine commented on #125135
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-09 19:14] LeeDr commented on #102552
I created this command that finds and loads each es_archive,  exports the kbn_archive, and the unloads the es_archive.

`for i in `gfind  ./test/functional/fixtures/es_archiver/ -name mappings.json -printf '%h\n'`; do \
 echo "$i";  \
node scripts/es_archiver.js load $i; \
node scripts/kbn_archiver.js save test/functional/fixtures/temp/$i --config test/functional/config.js --type index-pattern,sea

[2022-02-09 19:16] tsullivan opened #125139 "[Reporting] Add an error code field to explain the nature of the job failure"
Part 1: A report job can fail for a number of reasons. The code tries to capture any error that is available, but the nature of some errors makes that infeasible:

1. User shut down Kibana while a report job was executing.
   - We should try to utilize the `stop` cycle of Kibana plugins: if there is a job running, then fail the job with a specific error message
   - This may still not be feasible:

[2022-02-09 19:18] marshallmain commented on #124919
`kibana.alert.group.id` and `kibana.alert.group.index` are only present for alerts from EQL rules. Is the alert that is missing those fields from an EQL rule? If not, we would not expect those fields to be populated.

The `kibana.alert.original_event` fields are copied from the `event.*` fields on the source event that triggered the alert. Are those fields populated on the source event? If not, we

[2022-02-09 19:26] ThomThomson commented on #125130
It looks like the unsaved state for the controls selections is not properly sent to the report. If you save the selections into the dashboard, they are applied properly to the report.

[2022-02-09 19:29] marshallmain commented on #125050
@karanverma-qasource can you post the full alert JSON for an alert from each of the different rules that are showing up in the list (`custom rule`, `custom rule with Siem siganl index`, `Custom rule with siem signal disable`)?

[2022-02-09 19:30] jportner opened #125140 "Enhance type safety for Alerting feature privileges"
Inspired by #125137:

Like the `FeaturePrivilegeCasesBuilder` that was changed in that PR, the security plugin also exposes a `FeaturePrivilegeAlertingBuilder` class that suffers from the same type-unsafety: https://github.com/elastic/kibana/blob/71379b755a4b258376d4117e98e8e454b17c990c/x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/alerting.ts

It would be great

[2022-02-09 19:32] seanbirdsell commented on #41362
While I understand that fix for a DSL query, what about in the Kibana interface itself? Can that be done?

[2022-02-09 19:33] ymao1 commented on #125087
@sebastian3456 Thank you for bringing this up! As of 8.1, we have merged [this PR](https://github.com/elastic/kibana/pull/117397) to make the ID of the scheduled task the same ID as the rule, so in this scenario, if you enable a rule that already has an associated scheduled task document, it will not create a new task.

As a workaround in your correct version, could you disable the rules before ex

[2022-02-09 19:44] kibanamachine opened #125142 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/event_log·ts - alerting api integration spaces only Alerting eventLog in space default should generate events for execution errors"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9761#9a01f77a-aaac-4555-8034-9c4ba05ad7ae)

[2022-02-09 19:50] graphaelli commented on #95595
not a priority

[2022-02-09 19:50] #95595 closed

[2022-02-09 19:54] petrklapka opened #125143 "This is my new bug."
Here we are!

[2022-02-09 19:54] elasticmachine commented on #125143
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-09 20:07] kibanamachine commented on #118432
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9761#42256278-8e1c-40e1-97ae-e5d6af6523cb)

[2022-02-09 20:14] dominiqueclarke opened #125144 "[Uptime] Service error not able to be formatted when service cannot be reached"
We rely on errors from the service to format our error content, but it breaks down when the service cannot be reached.

![image](https://user-images.githubusercontent.com/11356435/153282461-b0dbc5b1-1268-48ba-b2e3-0dabe7b13e80.png)

We should update the logic to make it flexible enough to handle errors when the service cannot be reached.

[2022-02-09 20:14] elasticmachine commented on #125144
Pinging @elastic/uptime (Team:uptime)

[2022-02-09 20:23] sqren opened #125146 "[APM] Elasticsearch client: no longer default to using `meta: true`"
APM specific issue to track https://github.com/elastic/kibana/pull/124488

[2022-02-09 20:23] elasticmachine commented on #125146
Pinging @elastic/apm-ui (Team:apm)

[2022-02-09 20:23] MikePaquette opened #125147 "Kibana and Security Solution Newsfeeds not displaying items in 8.1.0 BC1"
**Kibana version:** 8.1.0 BC1

**Elasticsearch version:** 8.1.0 BC1

**Server OS version:** Elastic Cloud ESS

**Browser version:** Google Chrome Version 97.0.4692.99 (Official Build) (x86_64)

**Browser OS version:** macOS 10.15.7 (19H1519)

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud deployment

**Describe the bug:**
Security Solution and Kibana Newsfe

[2022-02-09 20:30] mattkime commented on #108294
Closing this in light of https://github.com/elastic/kibana/pull/108887 and https://github.com/elastic/kibana/issues/109523

[2022-02-09 20:30] #108294 closed

[2022-02-09 20:33] alisonelizabeth commented on #124200
@dakrone / @jakelandis thoughts on CJ's latest comment?

[2022-02-09 20:34] ThomThomson opened #125149 "[Controls] Filter Exclude / Include / Disable / Enable Doesn't Cause Options List Query"
**Describe the bug:** On a dashboard, the filters, time range and query narrow down the results shown in the options list controls.

**Steps to reproduce:**
1. Create a dashboard with the flights demo data. Place a Carrier control
2. Add a filter that specifies one carrier.
3. Ensure that the carrier control shows **only** that carrier
4. Click on the filter pill and click `Exclude results`
5. Ope

[2022-02-09 20:34] elasticmachine commented on #125149
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-09 20:35] dominiqueclarke commented on #124243
Closed by https://github.com/elastic/kibana/pull/122297/files#

[2022-02-09 20:35] #124243 closed

[2022-02-09 20:36] graphaelli opened #125150 "[APM] Instance plot: not all instances actionable"
### Kibana version

7.16.1

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Visit APM UI with many instances reporting in

### Expected Behavior

Every instance dot is hoverable

### Actual Behavior

Some instances can't be hovered over:

https://user-images.githubusercontent.com/83483/153285508-09593663-1fc9-

[2022-02-09 20:36] elasticmachine commented on #125150
Pinging @elastic/apm-ui (Team:apm)

[2022-02-09 20:38] vitaliidm commented on #124918
@yiyangliu9286 , I'm thinking this approach can be too complex to scale

Right now we would have 7 scenarios:

1. Elastic rules
2. ML rules for index patterns
3. Custom
4. Elastic rules + ML
5. Elastic + Custom
6. Custom + ML
7. Elastic + Custom + ML

If there would be yet another one uneditable rule type: we will end up with ~ 12 scenarios and so on and so on.

Plus:
- Modal title will be too lar

[2022-02-09 20:41] jamster10 commented on #124146
@michaelolo24

Hey Im not seeing a good testing strategy for this.

The initial suggestion would require changing the component to have some property upon it that can be checked for render count. Or creating a 'Counter' component we insert into other components for tracking this metric

React testing library doesnt seem to have a build in method to check this.

I also came across these threads, th

[2022-02-09 21:14] tsullivan commented on #86425
Replace with https://github.com/elastic/kibana/issues/124862

[2022-02-09 21:14] #86425 closed

[2022-02-09 21:14] #117593 closed

[2022-02-09 21:15] wallrik opened #125156 "Error regarding xpack.screenshotting log message. Typo and line-break."
**Kibana version:** 8.0.0-rc2

**Server OS version:** CentOS Stream 8

**Original install method (e.g. download page, yum, from source, etc.):** yum/rpm

### Describe the bug:
When starting Kibana 8.0.0-rc2 on CentOS 8, the following message is printed to the journal
[code]

If `xpack.screenshotting.capture.browser.chromium.disableSandbox: true` is set manually in **kibana.yml** a fatal error occu

[2022-02-09 21:15] VimCommando commented on #124200
It is not just a cloud convention, this is in numerous examples we've been advocating for since we introduced ILM:
https://www.elastic.co/blog/implementing-hot-warm-cold-in-elasticsearch-with-index-lifecycle-management

Yes it is absolutely possible a customer uses something other than `data`, but the _most likely_ use-case is for a hot/warm architecture which is at high risk of issues if they hav

[2022-02-09 21:22] dakrone commented on #124200
Okay, I think this makes sense then, however, I would suggest a change:

+1 on it being a warning, but the validity is kind of confusing, given that it is still valid, just not recommended (attribute functionality is not going to be removed any time soon). So perhaps we can list a warning that the configuration is not recommended instead?

[2022-02-09 21:36] cauemarcondes commented on #109661
tests ok:
only blocking should be shown for nodejs.
<img width="1141" alt="Screen Shot 2022-02-09 at 4 35 46 PM" src="https://user-images.githubusercontent.com/55978943/153294135-91c498f5-79e7-4630-b999-b75cc6c319d0.png">

[2022-02-09 21:47] cjcenizal commented on #124200
OK, here's my proposed message:

@VimCommando Does this contain all of the information the user needs? Do we already have a docs page we can link the user to?

@dakrone Do you know if this is pertinent to Cloud users or is this something Cloud will address automatically?

[2022-02-09 21:50] elasticmachine commented on #125156
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-09 21:52] kobelb commented on #124810
I think that we should default the minimum alerting rule timeout to 1m and **not** make it retroactive for existing alerting rules. This should be configurable by system administrators by specifying a custom `kibana.yml` setting, for example `xpack.alerting.minimum_schedule_interval`. The minimum interval enforcement should only happen when alerting rules are created or updated, as this will allow

[2022-02-09 21:54] mdefazio commented on #124888
### Version 1

With this version, i'm only showing the interaction from the rule table.  I'm drawing from patterns that we do for the date picker here, so hopefully it feels a bit familiar.

#### Notes:

1. **We need to be clear about this referring to the actions, and not pausing the rule itself.**  Perhaps the placement of the badge could change, but the copy for the snoozing UI needs to refer t

[2022-02-09 21:55] tsullivan commented on #125156
I agree: it is a typo and the word `capture` should be omitted.

The user has not manually disabled the sandbox feature, and might not know their OS does not support it. If we take out the log message there just is no indication of what is going on.

It seems reasonable that we can omit if if the user has manually entered `xpack.screenshotting.browser.chromium.disableSandbox: true` in the kibana.y

[2022-02-09 22:13] dakrone commented on #124200
This should be handled automatically by Cloud, which is part of my concern about it, since if a Cloud user *were* to see this, there is literally nothing they can do about it (short of clicking the "migrate to data tiers" button on their deployment configuration I think), which means it can be frustrating to have a warning they can't get rid of.

For a regular warning, I think we should also do so

[2022-02-09 22:22] cjcenizal commented on #124200
Didn't y'all implement a blocklist on Cloud for settings which will be excluded from the Deprecation Info API output? I think that would take care of this case, right?

Thanks for taking a pass at the copy. I think you and Ryan are probably the best folks to work out the details that need to go into the message, and then one of the writers can help with the phrasing once you're both in agreement.

[2022-02-09 22:38] tsullivan opened #125166 "[Reporting/Screenshotting] Update the "Reporting Settings" documentation to use `xpack.screenshotting`"
[Any reference in the docs to `xpack.reporting.*`](https://www.elastic.co/guide/en/kibana/current/reporting-settings-kb.html) should be updated, if that setting has been moved to the Screenshotting plugin. Having a deprecated setting in kibana.yml will not impact Reporting, but it will cause a deprecation warning to be logged when the server starts.

[2022-02-09 22:38] elasticmachine commented on #125166
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-09 22:44] sqren commented on #86173
Closing due to inactivity

[2022-02-09 22:44] #86173 closed

[2022-02-09 22:44] sqren commented on #88854
Closing due to inactivity

[2022-02-09 22:44] #88854 closed

[2022-02-09 22:44] sqren commented on #102724
Closing due to inactivity

[2022-02-09 22:44] #102724 closed

[2022-02-09 22:47] sqren commented on #123186
Sgtm 👍

[2022-02-09 22:56] sqren commented on #49647
Yes, we are actively looking into this. I can't give any timeline but safe to say that we haven't forgotten about it :)

[2022-02-09 23:08] sqren commented on #89497
@alex-fedotyev Is this something we are still considering or can we close this issue?

[2022-02-09 23:10] petrklapka opened #125170 "This is an example bug for the demo!"
We need good details in bugs.  Let's pretend we've put good details here.

[2022-02-09 23:10] elasticmachine commented on #125170
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-09 23:19] ossie-git opened #125171 "[Security Solution] Strange Built-In Rule Behavior"
**Describe the bug:**

While testing some of the pre-built rules, I noticed that they weren't triggering as expected. Looking at the Lucene query used, it uses a lowercase `and` instead of an `AND`. Unless I'm mistaken, these should be `AND` for Lucene. Also, for some reason, the corresponding alerts are not triggered when the event occurs. By rewriting the same rule using an `AND`, I would get th

[2022-02-09 23:19] elasticmachine commented on #125171
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-09 23:24] sqren commented on #100195
Closing due to inactivity. Feel free to open again if needed.

[2022-02-09 23:24] #100195 closed

[2022-02-09 23:30] sqren commented on #124788
@kpatticha If a service is only ingesting errors, we should still show it in the list (like we are) but we won't be able to show any of the statistics because they are based on transactions. Or am I missing something?

[2022-02-09 23:36] sqren commented on #86230
Closing due to inactivity. Feel free to open again if needed.

[2022-02-09 23:36] #86230 closed

[2022-02-09 23:43] petrklapka opened #125173 "This is a demo of Sync Between GH and Jira"
My description goes here!

[2022-02-09 23:43] elasticmachine commented on #125173
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-09 23:49] sqren commented on #115247
@gbamparop LMK if you want to zoom about this.

[2022-02-09 23:52] sqren commented on #124385
Which one do you prefer?

[2022-02-10 00:05] sqren commented on #124364
The metadata sections are sorted alphabetically, except for the "labels" section which is pinned to the top. Should we do the same with the "numeric_labels" section, or is the suggestion to merge it together with the "labels" section?

[2022-02-10 00:08] yctercero commented on #119012
PR merged, backports running now!

[2022-02-10 00:23] jakelandis commented on #124200
We already have CRITICAL level warnings for node.data, node.master, etc. since they are not supported in 8.0. We could provide better guidance for data tiers in the fly out, but what is there is correct. [1]

We don't currently provide any warnings for custom node attributes...I agree that is some value in a warning for custom `node.attributes.data` settings but I have some reservations about a wa

[2022-02-10 01:00] VimCommando commented on #124200
This sounds like a good warning to me, as long as the documentation it links to is clear. Right now we don't even mention this issue in the 8.0 migration guide.

https://www.elastic.co/guide/en/elasticsearch/reference/8.0/migrating-8.0.html

The _biggest_ problem with suggesting you remove `node.data` and add `node.roles: ["data"]` is this: it is _exactly_ how you get all 5 tiers assigned without

[2022-02-10 01:36] kibanamachine commented on #124663
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9784#5acc6b51-60de-4aea-a87e-3c9252acf079)

[2022-02-10 01:36] kibanamachine commented on #119770
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9786#73926c38-62f4-4781-ab68-14ab7c1eef77)

[2022-02-10 02:11] kibanamachine opened #125181 "Failing test: Jest Tests.x-pack/plugins/lens/public/state_management - Initializing the store loadInitial starts new searchSessionId"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9785#c7b01b0d-4512-4c2d-b3ac-4c089a6a4451)

[2022-02-10 02:35] elasticmachine commented on #125181
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-10 02:36] elasticmachine commented on #125142
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-10 02:42] mistic commented on #118432
Skipped.

main: [7407c24](https://github.com/elastic/kibana/commit/7407c245ef0a261b9be5a520129a25fbf023f312)
8.1: [65d93b6](https://github.com/elastic/kibana/commit/65d93b6fbd16cdecf3a47daa8cf9d9712e7bdfb3)
8.0: [83e404c](https://github.com/elastic/kibana/commit/83e404c6f330115e95e568e22eacc316dae6836a)
7.17: [5a6e2fd](https://github.com/elastic/kibana/commit/5a6e2fde6e83cd081e226fb442d028e8e24a1f

[2022-02-10 02:44] mistic commented on #124663
Skipped.

main: [560ca27](https://github.com/elastic/kibana/commit/560ca276b301cf639f9987f5aeca6f6b0e622473)

[2022-02-10 03:25] #124649 closed

[2022-02-10 03:25] #124753 closed

[2022-02-10 05:21] mibragimov opened #125186 "[Console] Autocomplete window doesn't have enough space for long index names"
**Kibana version:**
main

**Describe the bug:**
There is a spacing issue with the autocomplete window if you have a really long index name. This could happen in other scenarios, e.g when there is a long endpoint name and etc...

**Screenshots (if relevant):**
<img width="326" alt="Screen Shot 2022-02-09 at 9 26 33 AM" src="https://user-images.githubusercontent.com/5226211/153221535-3a9bfd40-fbb6-4

[2022-02-10 05:21] elasticmachine commented on #125186
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-10 05:28] MadameSheema commented on #119012
@deepikakeshav-qasource can you please validate this on 8.1.0BC3? Thanks :)

[2022-02-10 07:04] kibanamachine opened #125189 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_time_series·ts - visualize app visualize ciGroup11 visual builder Time Series index pattern selection mode metrics:allowStringIndices = true should disable switch after selecting Kibana index patterns mode and metrics:allowStringIndices = false"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9807#2ce31fe7-f063-487c-8fe0-ee2365416b99)

[2022-02-10 07:04] robcowart commented on #123550
Thanks, that is good to hear. If it helps I can provide examples of where we currently use such links... this includes Markdown (both Markdown visualization and TSVB Markdown), ML custom URLs, and as a default page in Kibana advanced settings.

[2022-02-10 07:14] willemdh commented on #53359
Any news about this? We really need to be able to create our own templates imho.

[2022-02-10 07:23] deepikakeshav-qasource opened #125190 "[Security Solution] Copy to Clipboard icon hides under Cases Alert detail flyout"
**Describe the bug**
Copy to Clipboard icon hides under Cases Alert detail flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Alerts should be triggered
2. Alert should be attach to case.

**Steps to Reproduce**
1. Navigate to cases tab
2. Click on case that have an alert attached
3. Click on alert details of attached alert
4. Click on show top icon of any field say

[2022-02-10 07:23] elasticmachine commented on #125190
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-10 07:26] pgayvallet commented on #108993
This plan LGTM.

[2022-02-10 08:09] mgiota opened #125191 "[Actionable Observability] Alerts table looks broken"
### 📝 Summary
On latest main alerts table looks broken. I tested `8.1.0` and there is works fine.

<img width="1293" alt="Screenshot 2022-02-10 at 08 37 11" src="https://user-images.githubusercontent.com/2852703/153359756-12f63534-545b-4c60-85fb-548726b630b0.png">

https://user-images.githubusercontent.com/2852703/153360548-34b533dc-e84d-4f6d-85c0-fd58fab1b6a8.mov

### 8.1.0
<img width="1298" alt=

[2022-02-10 08:15] formgeist commented on #124364
@sqren I reckon we should "pin" `numeric_labels` to the top after `labels`

[2022-02-10 08:17] robcowart commented on #123550
I shared the following on our Community Slack, which reaches many of our users. As soon as something is available to test, we are happy to do so.

---

I wanted to get the word out regarding the upcoming Elastic Stack 8.0.0 GA release. We have been testing ElastiFlow against the 8.0.0 release candidates and there is an issue related to importing saved objects. There are a number of scenarios that

[2022-02-10 08:20] formgeist commented on #124385
I think we should update "View sample document" with "View transaction in Discover", but the icon seems superfluous in both cases.

[2022-02-10 08:25] formgeist commented on #124385
I've updated the description with solution and tasks to be done 👍

[2022-02-10 08:41] cristina-eleonora opened #125193 "[Research] Platform - deployment management"
The scope of this research project is to learn how our customers manage their Elastic deployment, and determine their level of confidence when navigating the UI and setting up different features.

This project will help us:

- Identify pain points
- Prioritize the opportunities to improve the product and the user experience that will have the greatest impact
- Prioritize upcoming work

This projec

[2022-02-10 08:42] elasticmachine commented on #125193
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-10 08:48] simitt commented on #124147
Data from all services will end up in the same data streams for `traces*` and `logs` (errors), only `metrics` will be sent to data streams per service.

[2022-02-10 08:54] cristina-eleonora commented on #125193
Creating a survey to help us determine:
- which features are the most critical to users in their day to day activity
- which features do they struggle with the most
- what can we do to improve their user experience

[Link to survey](https://docs.google.com/document/d/1cA_np20KB2R0k3dUo9g7nHJqxyUMGBZbFe8FvWxt1cI/edit#)

[2022-02-10 08:55] sqren commented on #124364
Sounds good 👍

[2022-02-10 09:11] christianhuening commented on #49647
We would also be very interested in this as a customer :)

[2022-02-10 09:18] cyrille-leclerc commented on #124364
Pinning seems to be a good step forward. I would love eventually to merge all the labels in the same alpha sorted buckets.
The fact that labels are split between numeric labels in one group and all other types in another group feels like an implementation detail to me.
By the way, in which group would I find an array of numeric or a date? These are questions I would be abstracted from.

Does it ma

[2022-02-10 09:24] shahzad31 opened #125200 "Observability overview page is slow because of redundant/duplicate requests"
**Kibana version:**
main

Observability overview page is slow because it fetches too many duplicates requests on load

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3505601/153377048-5339c5b4-868a-400a-b713-376e20f390cf.png">

[2022-02-10 09:24] elasticmachine commented on #125200
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-02-10 09:26] #124359 closed

[2022-02-10 09:41] pgayvallet commented on #122516
Are we talking about the internal requests from those plugins, or the request performed by each collector?

It should be a matter of wrapping the collector calls with `ExecutionContextSetup.withContext`.

https://github.com/elastic/kibana/blob/4681a80317176543535bfdb2188d94aa40d741fc/src/core/server/execution_context/execution_context_service.ts#L57-L64

However, if we want to wrap the collectors'

[2022-02-10 09:46] pgayvallet commented on #121622
Thanks, gonna close this, to unblock the associated failing test issues

[2022-02-10 09:46] #121622 closed

[2022-02-10 09:56] karanbirsingh-qasource opened #125205 "[Security Solution]Cases Detail page error for user having read access"
**Describe the bug**
Cases Detail page error for user having read access

**Build Details**
[code]

**Pre-Conditions**
- Create a 8.1.0-BC2 Build and have some data on it
- Create a Case without connector without alert attached

**Steps**
- Create a Role with Read permission to cases section of security solution ( _details of it are shared at bottom of this bug_ )
- Assign this above role to a cus

[2022-02-10 09:56] elasticmachine commented on #125205
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-10 09:58] pgayvallet commented on #123737
A draft PR doing most of the technical changes is available here: https://github.com/elastic/kibana/issues/120124

We still need a decision regarding

We may want to perform load testing to determine the impact of the `contextPropagationOnly` compared to a fully disabled APM agent to decide if forcing it to always be enabled is acceptable.

We can probably tweak the load tests from https://github.

[2022-02-10 10:00] karanbirsingh-qasource opened #125207 "[Security Solution]Cases Detail page & Case List page alert count not matching for user having read access"
**Describe the bug**
Cases Detail page & Case List page alert count not matching for user having read access

**Build Details**
[code]

**Pre-Conditions**
- Create a 8.1.0-BC2 Build and have some data on it
- Create a Case with alert attached

**Steps**
- Create a Role with Read permission to cases section of security solution
- assign this above role to a custom user created
- log in with the use

[2022-02-10 10:00] elasticmachine commented on #125207
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-10 10:02] manishgupta-qasource commented on #125205
Reviewed & assigned to @MadameSheema

[2022-02-10 10:02] manishgupta-qasource commented on #125207
Reviewed & assigned to @MadameSheema

[2022-02-10 10:05] kishore-pyt opened #125208 "failed to import kibana dashboard and"
Exiting: Error importing Kibana dashboards: fail to import the dashboards in Kibana: Error importing directory /usr/share/metricbeat/kibana: failed to import Kibana index pattern: 1 error: error loading index pattern: returned 200 to import file: 1 error: error: unknown, asset ID=metricbeat-*; asset type=index-pattern; references=[]. Response: {"successCount":0,"success":false,"warnings":[],"error

[2022-02-10 10:07] pgayvallet commented on #124208
In https://github.com/elastic/kibana/issues/119062, you said

Is the implementation going to be performed in the client itself, or is this issue about a custom implementation in Kibana?

[2022-02-10 10:08] kishore-pyt commented on #125208
error import kibana dashboard @kishore-pyt

[2022-02-10 10:13] karanverma-qasource commented on #125050
Hi Team,

As per the process we have terminated the yesterday's build and re validated the same issue on new build with same path `7.17.0 Snapshot--->8.0.0 Snapshot` and below are the required details we have been asked for.

please let us known if there is requirement for build credentials and URL

**7.17.0 Snapshot**

**JSON Files**
[Custom rule with siem index Alerts.txt](https://github.com/ela

[2022-02-10 10:17] formgeist opened #125209 "[APM] Service groups: Add `EuiTour` steps for assisting users in creating their first service group and provide guidance on the navigation changes"
# Summary

Related [design issue](https://github.com/elastic/observability-design/issues/168)

# Solution

## Design

Introduce three `EuiTour` instances per group-related view.

### Create service group

![Slice 1](https://user-images.githubusercontent.com/4104278/153405863-d885f4a9-6201-433f-a218-6b71b8d0a11a.png)

Positioned by the Create group button

[code]
### All services group

![Slice 2](

[2022-02-10 10:19] kpatticha opened #125211 "[APM] Add e2e for apm integration policy form"
[code]

[2022-02-10 10:20] elasticmachine commented on #125211
Pinging @elastic/apm-ui (Team:apm)

[2022-02-10 10:22] alexwizp opened #125212 "[Data Views] Support of AbortSignal for getFieldsForWildcard"
Some plugins like TSVB use `getFieldsForWildcard` method to get fields for es indexes.
I see that inside this method there are calls to es cluster like:

[code]

Since the query behind these fields can take quite a long time when using wildcards indexes, I think we should be able to cancel it

Can we add support for passing **AbortSignal**?

[2022-02-10 10:25] karanbirsingh-qasource opened #125213 "[Security Solution][Ehhancement]Event Rendered View of Alert List does not have full screen view option"
**Describe the bug**
Event Rendered View of Alert List does not have full screen view option

**Build Details**
[code]

**Pre-Conditions**
- Create a 8.1.0-BC2 Build and have some Alert data on it

**Steps**
- Login to Kibana
- Navigate to Security solution > Alert Page
- switch from default grid view to Event Rendered View
- Observed that Event Rendered View does not have full screen view option

[2022-02-10 10:27] manishgupta-qasource commented on #125213
Reviewed & assigned to @MadameSheema

[2022-02-10 10:28] kpatticha commented on #124788
@sqren aaah you're right here.  Closing the issue

[2022-02-10 10:28] #124788 closed

[2022-02-10 10:30] stratoula commented on #125189
It seems as the Panel options tab is not clicked
![image](https://user-images.githubusercontent.com/17003240/153388666-f3f69de4-aa91-4ed4-96cc-ffa2288f6f90.png)
and this is the reason it can't locate the gear button.

[2022-02-10 10:32] elasticmachine commented on #125129
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-10 11:04] elasticmachine commented on #124607
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-10 11:05] elasticmachine commented on #124560
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-10 11:13] karanbirsingh-qasource opened #125216 "[Security Solution]Case Sync not working with Automatic Case Closure"
**Describe the bug**
Case Sync not working with Automatic Case Closure

**Build Details**
[code]

**Pre-Conditions**
- Create a 8.1.0-BC2 Build and have some Alert data on it

**Steps**
- Create any connector with Automatically close Closure option
- Create a Case and make sure sync enabled and attach alert to it
- Try changing case status and alert status remain in sync with case status
- Set the

[2022-02-10 11:13] elasticmachine commented on #125216
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-10 11:21] #124560 closed

[2022-02-10 11:25] elasticmachine commented on #125207
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-10 11:25] elasticmachine commented on #125207
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-10 11:25] #116219 closed

[2022-02-10 11:39] juliaElastic commented on #125105
Digging into this more, I found that when the preconfigured package policy doesn't have an id, it gets a generated id. However the generated id is deterministic, based on agent policy id and package policy name, so it will result in the same id as before, that is why the renamed policy is overwritten.
https://github.com/elastic/kibana/blob/aad83ed0b626f7f8a960cd9d9f70d977754fc160/x-pack/plugins/fl

[2022-02-10 11:43] joshdover commented on #120616
@kpollich @nchaulet I've finished fleshing out the scope above, anything you think I'm missing for this change?

[2022-02-10 11:47] joshdover commented on #108993
@lukeelmers Thanks for the quick summary. No objections to this proposal. A couple other things I'm thinking about:

Should we have some sort of timeout that crashes Kibana?
- I'm not sure if it's expected the application try forever and rely on failing readiness probes from orchestrators to reboot or if the system should have a timeout.
- I only expect network calls could be failing when using an

[2022-02-10 12:06] prachigupta-qasource commented on #123574
Hi @MadameSheema ,

We have validated above issue on 8.1.0 BC2 build and it's working fine ✅.

**Build info**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/153391958-eb54b440-eacd-4ff2-baff-1557bf025016.png)

![image](https://user-images.githubusercontent.com/97870262/153392024-93981dc9-5b13-460a-8d09-f1b15f4a0f2e.png)

![image](https://user-images.githubuse

[2022-02-10 12:13] deepikakeshav-qasource opened #125223 "[Security Solution] User can update rule without any index pattern with new delete index patterns option"
**Describe the bug**
User can update rule without any index pattern with new delete index patterns option

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Any custom rule should be created

**Steps to Reproduce**
1. Navigate to Rules tab
2. Enable the "Technical preview: On"
3. Select the created custom rule
4. Click on index pattern under Bulk actions
5. Click on Delete

[2022-02-10 12:14] elasticmachine commented on #116777
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-10 12:14] elasticmachine commented on #116777
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-10 12:14] flash1293 commented on #116777
@elastic/kibana-presentation How do you think this should be fixed for the Canvas case? Should there be a "on dark background" flag on the the `lensEmbeddable` function which is passed down to the chart? Should it try to infer it from the background color somehow?

[2022-02-10 12:17] karanverma-qasource commented on #122067
Hi @MadameSheema ,

We have validated above issue on 8.1.0 build and it's fixed. ✔️

**Build Info**
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/153407048-592df5be-e6c7-47d6-abc0-2e4e5a86d88c.png)

![image](https://user-images.githubusercontent.com/91867110/153407124-e1950929-d75f-4c36-adf7-125add582c2d.png)

Thanks !

[2022-02-10 12:22] juliaElastic commented on #125105
Another scenario that should be considered:
- let's say the user deletes the created package policy through UI/API
- should the preconfig recreate in this case? I don't think so

I think the main problem here is that the logic can't distinguish if the package policy is missing because an environmental issue (should recover) or user interaction (should not recover).

[2022-02-10 12:33] karanverma-qasource commented on #120722
Hi @MadameSheema ,

We have validated above issue on 8.1.0 build and it's fixed. ✔️

**Build Info**
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/91867110/153409210-20363fd5-d4c9-4728-8759-4ee4220e01d1.png)

![image](https://user-images.githubusercontent.com/91867110/153409273-007553ce-e40c-4656-b9cf-c94939658646.png)

Thanks !

[2022-02-10 12:33] flash1293 commented on #122571
Seems like this is fixed in main:
<img width="433" alt="Screenshot 2022-02-10 at 13 32 53" src="https://user-images.githubusercontent.com/1508364/153409348-bbfb0911-1862-43f4-b56e-a5a2befa6882.png">

[2022-02-10 12:33] #122571 closed

[2022-02-10 12:36] afharo commented on #108993
I'd vote for the system imposing a timeout, but the timeout is provided by the registered task. I don't think a general timeout will fit all use cases. If it did, we wouldn't have to move away from the Async lifecycle steps in the first place.

What do you think?

[2022-02-10 12:38] karanverma-qasource commented on #123500
Hi @MadameSheema

We have validated this issue on 8.1.0 BC2 and observed that issue is Fixed.

Please find below testing details:

**Build Details:**
[code]
**Screen records**

https://user-images.githubusercontent.com/91867110/153409952-2d423dc3-84dc-4ea4-8f4a-63c43cd0917a.mp4

Thanks !

[2022-02-10 12:40] juliaElastic commented on #124004
One more caveat, if the logic keeps trying to install package policies while registry is still inaccessible, the UI will not load.
Maybe this has to be improved as well to log the errors and let the UI load.

<img width="943" alt="image" src="https://user-images.githubusercontent.com/90178898/153410291-b228026b-8cf4-416d-ac43-36bff205875c.png">

[2022-02-10 12:43] karanverma-qasource commented on #122069
Hi @MadameSheema

We have validated this issue on 8.1.0 BC2 and observed that issue is Fixed.

Please find below testing details:

**Build Details:**
[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/153410844-11335288-4c30-42a0-bc42-be3d571393de.png)

Thanks !

[2022-02-10 12:48] afharo commented on #112291
FYI: I noticed APM is using Server Counters to report this. It sounds like a valid approach to me, and we could do something similar in the Core router:
https://github.com/elastic/kibana/blob/7f5e6c3d9f26ae05d7f98ccd0b516def88e2d621/x-pack/plugins/apm/server/routes/apm_routes/register_apm_server_routes.ts#L149-L154

What do you think?

[2022-02-10 12:56] sebastian3456 commented on #125087
@ymao1 Thank you, I missed this [PR](https://github.com/elastic/kibana/pull/117397)

We will try the workaround. But as far as I see from my local testing the associated scheduled tasks are still in the task manager index. Any way to flush or delete the old ones?

[2022-02-10 13:04] afharo commented on #114843
AFAIK, in Core we use `react-router-dom`'s `Router` and `Switch` to route to different apps:
https://github.com/elastic/kibana/blob/04d57627207a6d6674df706cd48f56f11049f698/src/core/public/application/ui/app_router.tsx#L50-L91

I wonder if we could use the `ApmRoute` component exposed by `@elastic/apm-rum-react` to get some "Application Changed" metrics "for free". What do you think?

[2022-02-10 13:05] ymao1 commented on #125087
@sebastian3456 You would have to manually delete the older duplicate task documents using the Elasticsearch delete API. At this point they are orphaned.

Once you have the `_id` of the orphaned task documents you can delete them via the Dev Console.

`DELETE .kibana_task_manager/_doc/<task id>`

[2022-02-10 13:15] pgayvallet opened #125235 "[navigationService] deepLinks updated via `app.updater$` are not navigable to using the `deepLinkId` option"
Not sure why, but we're currently storing the deepLinks paths on our internal `mounter` during the application's registration

https://github.com/elastic/kibana/blob/04d57627207a6d6674df706cd48f56f11049f698/src/core/public/application/application_service.tsx#L181-L185

However, if an `updater$` is registered for the application, updating the `deepLinks` via the updater will not update the value on

[2022-02-10 13:15] elasticmachine commented on #125235
Pinging @elastic/kibana-core (Team:Core)

[2022-02-10 13:15] alisonelizabeth commented on #124153
Fixed via https://github.com/elastic/kibana/pull/124571

[2022-02-10 13:20] kpollich commented on #120616
@joshdover LGTM!

[2022-02-10 13:23] juliaElastic commented on #120616
@joshdover
`Remove calls to /api/fleet/setup API from UI code`
Does this mean setup will only run once during kibana startup?
I'm asking because ensuring preconfiguration is called during fleet setup, so if we only call it once, it makes this discussion irrelevant:
https://github.com/elastic/kibana/issues/124004

[2022-02-10 13:23] cnasikas commented on #125207
Hey, @karanbirsingh-qasource and @MadameSheema! We are aware of the bug. This is fixed here: https://github.com/elastic/kibana/pull/125024

[2022-02-10 13:27] joshdover opened #125236 "[Fleet] Add UI tests for Integration Policy upgrades with conflicts"
See https://github.com/elastic/kibana/issues/121436 for tracking of all Fleet UI tests and for **guidance on how to structure and write Cypress tests**.

Basic coverage for editing an integration (the description field) was added in #121628
Unit tests for validation and saving were added in #125068

We need to have additional coverage that exercises some of the more complex aspects of the policy e

[2022-02-10 13:27] elasticmachine commented on #125236
Pinging @elastic/fleet (Team:Fleet)

[2022-02-10 13:28] dmlemeshko commented on #117492
I collected performance [results](https://github.com/elastic/kibana-load-testing/issues/221#issuecomment-1034768427) for the recommended APM configuration in this issue summary and on average latency increase is within 5%.
I did not find in docs how to pass `elastic.apm.propagateTracestate: true` via env variable, but if I'm right it is already set by [default](https://github.com/elastic/kibana/bl

[2022-02-10 13:28] amolnater-qasource commented on #121260
FYI @mostlyjason related to https://github.com/elastic/kibana/issues/74353

[2022-02-10 13:30] joshdover opened #125237 "[Fleet] Add UI tests for Agent list filtering & searching"
See https://github.com/elastic/kibana/issues/121436 for tracking of all Fleet UI tests and for **guidance on how to structure and write Cypress tests**.

We need to add tests to the Agent list view that covers the filtering and searching functionality, including autocomplete. This has been a source of pain for users and has broken in a few cases.

- [ ] Search by agent name
- [x] Filter by agent p

[2022-02-10 13:36] juliaElastic commented on #120616
How much risk is it to schedule this task at the same iteration as the prerequisite in kibana-core?

Also, what is the impact on downstream dependencies like fleet-server, e2e-testing? Do they have to change anything? E.g. they are calling Fleet setup API to check that Fleet is ready.

[2022-02-10 13:49] elasticmachine commented on #125212
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-10 13:54] alexwizp opened #125240 "[Core] aborted$ stream defined in core/server/http/router/request.ts doesn't work in some cases"
This is a follow-up PR issue for https://github.com/elastic/kibana/pull/125069 because we didn't find the answer.

[2022-02-10 13:55] elasticmachine commented on #125240
Pinging @elastic/kibana-core (Team:Core)

[2022-02-10 13:58] nchaulet commented on #124004
For non managed policy one of the requirements was the ability for the user to delete the package policies not sure how it will work if we recreate the package policy on each setup.
It will really help if the policy created using preconfiguration are only editable using kibana.yml we will only have one source of truth.

[2022-02-10 14:01] juliaElastic commented on #124004
yeah, I thought about that too, mentioned here: https://github.com/elastic/kibana/issues/125105#issuecomment-1034859467

[2022-02-10 14:16] mshustov commented on #122516
We can wrap each `UsageCollector.fetch` with additional context to provide information about the `type` of the usage collector. Or are we talking about other collect requests?
[code]

[2022-02-10 14:33] #123562 closed

[2022-02-10 14:45] #24233 closed

[2022-02-10 14:45] joshdover commented on #125236
@juliaElastic Thanks I forgot to look at the coverage available there. I've scoped this down to focus on package policy upgrades which are more complex. I think the other coverage we've added in the past few weeks covers the other scenarios well.

[2022-02-10 14:49] flash1293 commented on #125189
We had that issue in other places - a good solution is to click the button, then wait for the tab to become active with a retry loop

[2022-02-10 14:53] juliaElastic commented on #123150
#121485 has a few downstream dependencies, does Fleet API GA have to depend on it?

[2022-02-10 15:19] sebastian3456 commented on #125087
The workaround does not fix the issue for us.
Still if we disable the alerts before importing them, the associated documents in the task manager index will not be removed.

Any other idea for a workaround?

[2022-02-10 15:22] jasonrhodes opened #125258 "[Stack Monitoring] [R&D] Document how we store, query, and display shard information"
There is an ongoing effort to reduce the amount of inefficient queries against Elasticsearch, related to retrieving information about ES shards. Stack Monitoring is one of the biggest callers of **these endpoints*** and we are aware of the idea that for a long time, we've been retrieving and storing shard information that we may or may not need to power the monitoring UI(s).

We need to document w

[2022-02-10 15:33] alisonelizabeth commented on #124200
@dakrone / @jakelandis is it OK if I transfer this issue to Elasticsearch? If I'm understanding correctly, the proposed change will be made in the deprecation info API and there isn't any additional work needed on the UA side.

[2022-02-10 15:34] angeliski opened #125261 "[Uptime] [Synthetics] Steps aren't rendered all the times"
**Kibana version:**

7.15.0

**Elasticsearch version:**
7.15.0

**Server OS version:**
Don't know, I am using (https://www.elastic.co/pt/cloud/)

Browser version: Chrome Version 94.0.4606.81 (Official Build) (64-bit)

Browser OS version: Ubuntu 20

**Original install method (e.g. download page, yum, from source, etc.):**
I am using (https://www.elastic.co/pt/cloud/)

**Describe the bug:**
When Syn

[2022-02-10 15:34] dej611 opened #125262 "[Lens][Embeddable] Dynamically change embeddable actions crashes the embeddable"
**Describe the bug:**

Changing the actions in an embeddable triggers a re-render from scratch, which is properly handled, leading to a crash.

![embeddalbe_refresh_action_bug_1](https://user-images.githubusercontent.com/924948/153440949-5f6ee752-c31f-4a68-8664-4e42a5d12c1b.gif)
![embeddalbe_refresh_action_bug_2](https://user-images.githubusercontent.com/924948/153440986-d560b9ba-99ea-440a-822b-d3

[2022-02-10 15:34] elasticmachine commented on #125262
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-10 15:44] stephmilovic opened #125263 "[Security Solution] Use search strategy `showError` instead of `addError`"
In security solution, we have our own error toaster component `addError`. When we made the switch from GraphQL to Search Strategy, we were unaware of the Search Strategy `data.search.showError` method and continued using `addError`. The `showError` includes special error handling for specific cases. For example, take a look at the same error passed to `addError`, and then passed to `showError`:
![

[2022-02-10 15:44] elasticmachine commented on #125263
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-10 15:44] elasticmachine commented on #125263
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-10 15:50] pmuellr opened #125265 "[ResponseOps] optimize alertSummaryFromEventLog()"
The current code we have to determine "active" and "recovered" alerts for a rule, in the rule details page, is done primarily via the `alertSummaryFromEventLog()` function in [`x-pack/plugins/alerting/server/lib/alert_summary_from_event_log.ts`](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/lib/alert_summary_from_event_log.ts).

The code is sub-optimal, as it does a li

[2022-02-10 15:52] pmuellr commented on #88993
I've opened https://github.com/elastic/kibana/issues/125265 to track the thoughts in https://github.com/elastic/kibana/issues/88993#issuecomment-989435221.

[2022-02-10 15:53] #124169 closed

[2022-02-10 15:59] stephmilovic commented on #121377
Hi @karanbirsingh-qasource this is ready to be re-tested, thank you!

[2022-02-10 16:04] #122168 closed

[2022-02-10 16:06] MadameSheema commented on #121377
@karanbirsingh-qasource please validate this on next 8.1.0BC3, thanks!!

[2022-02-10 16:11] pgayvallet commented on #114843
@lizozom WDYT? Do you know if using `ApmRoute` would provide more value that what we're manually doing in `src/core/public/apm_system.ts` ?

[2022-02-10 16:14] nickofthyme commented on #124318
@DziyanaDzeraviankina Sorry again for the delay. Yes you are correct, the xy_chart only passes the small multiple value...

https://github.com/elastic/elastic-charts/blob/185ab4733cd2415455664f497bc8a4f0d54fa8b8/packages/charts/src/chart_types/xy_chart/utils/series.ts#L438-L443

...and does not include the `subData` for that given sm in the sort predicate.

@markov00 Do you see a way to fix this o

[2022-02-10 16:26] eyalkraft opened #125270 "Adding fleet support for csp-rule-template asset type"
**Describe the feature:**

Adding support in fleet to the new `csp-rule-template` asset type.

**Related**

- https://github.com/elastic/package-spec/issues/263
- https://github.com/elastic/package-spec/pull/276

cc @joshdover

[2022-02-10 16:27] ymao1 commented on #125087
@sebastian3456 Can you verify your workflow so I can make sure I understand fully? You said that you were using import/export to sync production and test environments so knowing which environment each step is happening in would be helpful as well. Here is how I understand it:

1. Ensure you're starting from a clean slate. No rules and no task document for the rules
2. Create your rule and verify t

[2022-02-10 16:29] eyalkraft commented on #124149
Follow up issue:

- https://github.com/elastic/kibana/issues/125270

[2022-02-10 16:49] liza-mae opened #125271 "[Monitoring] ProductNotSupportedError coming from monitoring bulk api"
**Kibana version:** 8.x

**Elasticsearch version:** 8.x

**Server OS version:** Cloud

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
During some automated test runs, the tests began to fail and looking at the logs the following error was repeating bunch of times.
```ProductNotSupportedError: The client noticed that the server is not Elastics

[2022-02-10 16:49] elasticmachine commented on #125271
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-10 17:01] bhavyarm opened #125273 "Import saved objects screen for resolving data view conflicts still has index patterns references in the copy instead of data views"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  The panel which Kibana shows to user to resolve index pattern conflicts should change the copy to refer to "data views".
<im

[2022-02-10 17:02] elasticmachine commented on #125273
Pinging @elastic/kibana-core (Team:Core)

[2022-02-10 17:03] liza-mae commented on #124588
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:03] liza-mae opened #125274 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/multi_terms·ts - lens app lens multi terms suite should allow creation of lens xy chart with multi terms categories"
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/multi_terms·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens multi terms suite should allow creation of lens xy chart with multi terms categories split
- lens app  lens multi terms suite should not show existing defined fields for new term

 _Test Report: https://internal-ci.elasti

[2022-02-10 17:03] liza-mae opened #125275 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts - API Keys app Home page creates API key when submitting form, close dialog and displays new api key"
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**
- API Keys app Home page creates API key "after each" hook for "when submitting form, close dialog and displays new api key"
- API Keys app Home page deletes API key(s) "before each" hook for "one by one"

 _Test Report: https://interna

[2022-02-10 17:04] liza-mae opened #125276 "[test-failed]: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts - APM API tests trial apm_mappings_only_8.0.0 fetching service anomalies with a trial license with ml jobs "before all" hook for "returns a 200 for a user _with_ access to ML""
**Version: 8.1.0**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #98418
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #98419
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124593
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/elasticsearch/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124594
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/elasticsearch/index_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #98420
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124595
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/node_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124596
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/index_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124610
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_newsfeed·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Newsfeed shows all news from newsfeed

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124597
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124598
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/multiple_clusters·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:04] liza-mae commented on #124599
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get many monitors with page params
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get on

[2022-02-10 17:04] liza-mae commented on #124604
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:05] liza-mae commented on #110367
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Welcome interstitial clicking on "Explore on my own" redirects to the "home" page

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:05] liza-mae commented on #124625
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:05] liza-mae opened #125277 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/reports/index·ts - maps app dashboard reporting creates a map report using sample geo data"
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/reports/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:05] liza-mae commented on #120392
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2897/testReport/_

[2022-02-10 17:06] #124645 closed

[2022-02-10 17:06] #124644 closed

[2022-02-10 17:07] #124638 closed

[2022-02-10 17:07] #124642 closed

[2022-02-10 17:07] #124629 closed

[2022-02-10 17:07] #124630 closed

[2022-02-10 17:07] #124631 closed

[2022-02-10 17:07] #124632 closed

[2022-02-10 17:07] #124635 closed

[2022-02-10 17:07] #124636 closed

[2022-02-10 17:08] #124621 closed

[2022-02-10 17:08] #124622 closed

[2022-02-10 17:08] #124623 closed

[2022-02-10 17:08] #124624 closed

[2022-02-10 17:08] #124626 closed

[2022-02-10 17:08] #124627 closed

[2022-02-10 17:08] #124628 closed

[2022-02-10 17:08] #124591 closed

[2022-02-10 17:08] #124606 closed

[2022-02-10 17:08] #124613 closed

[2022-02-10 17:09] #124614 closed

[2022-02-10 17:09] #124615 closed

[2022-02-10 17:09] #124616 closed

[2022-02-10 17:09] #124617 closed

[2022-02-10 17:09] #124618 closed

[2022-02-10 17:09] #124619 closed

[2022-02-10 17:10] elasticmachine commented on #125277
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-10 17:11] elasticmachine commented on #124601
Pinging @elastic/uptime (Team:uptime)

[2022-02-10 17:11] elasticmachine commented on #124599
Pinging @elastic/uptime (Team:uptime)

[2022-02-10 17:12] elasticmachine commented on #124598
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-02-10 17:12] elasticmachine commented on #124597
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-02-10 17:12] elasticmachine commented on #124596
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-02-10 17:13] elasticmachine commented on #124595
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-02-10 17:13] elasticmachine commented on #124594
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-02-10 17:15] jgowdyelastic opened #125279 "[ML] Switch to using non typesWithBodyKey esclient types"
`typesWithBodyKey` endpoint payloads have been deprecated and so we should change all places where we are sending a separate ID from the body.

e.g.
https://github.com/elastic/kibana/blob/4cba8b04624557a23b1cd8fca30ab7ee39c277ef/x-pack/plugins/ml/server/routes/anomaly_detectors.ts#L183

[2022-02-10 17:15] elasticmachine commented on #125279
Pinging @elastic/ml-ui (:ml)

[2022-02-10 17:15] LeeDr commented on #124863
I just realized two other issues with CCS testing;

1. with the test_user service, we need to add the `read_cross_cluster` privilege to any of the roles that are used in the test
2. when that service created the roles and assigns the roles to the `test_user` we need to duplicate all that on the remote cluster (which could be a different version at some point)  (@cuff-links didn't hit any of this y

[2022-02-10 17:17] afharo commented on #122516
@mshustov do you think it can be done here?
https://github.com/elastic/kibana/blob/7c4eea4dfef6b0c9024fec07210a6ed81ff58b95/src/plugins/usage_collection/server/collector/collector_set.ts#L211

[code]

AFAIK, that's the only place those `fetch` methods are called.

[2022-02-10 17:19] elasticmachine commented on #125274
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-10 17:20] elasticmachine commented on #124602
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-10 17:21] elasticmachine commented on #125275
Pinging @elastic/kibana-security (Team:Security)

[2022-02-10 17:21] elasticmachine commented on #124588
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-10 17:22] elasticmachine commented on #125276
Pinging @elastic/apm-ui (Team:apm)

[2022-02-10 17:22] elasticmachine commented on #125276
Pinging @elastic/ml-ui (:ml)

[2022-02-10 17:27] TinaHeiligers opened #125280 "Er, actually, after re-reading the error message: `""Bad Request: [request body.file]: expected value of type [Stream] but got [string]"`"
Er, actually, after re-reading the error message: `""Bad Request: [request body.file]: expected value of type [Stream] but got [string]"`

It looks like this is probably coming from the `@kbn/config-schema` validation:

https://github.com/elastic/kibana/blob/dfea0fee21d93e73926092e32105d9e66fcc8c6e/src/core/server/saved_objects/routes/import.ts#L60

https://github.com/elastic/kibana/blob/dfea0fee2

[2022-02-10 17:36] peteharverson opened #125281 "[ML] Update annotation method assumes annotation is in current write index"
The function used for updating annotations in ML assumes that the annotation being updated is in the index that the annotations write alias currently points to. This assumption is incorrect. The annotation to be updated could be in any one of the indices that the annotations read alias points to. The result of the current behavior, is that when updating an annotation which was created before an up

[2022-02-10 17:41] elasticmachine commented on #125280
Pinging @elastic/kibana-core (Team:Core)

[2022-02-10 17:43] #125013 closed

[2022-02-10 18:03] TinaHeiligers commented on #125235
@joshdover Can you remember why links are stored on the mounters?

[2022-02-10 18:10] jportner opened #125289 "Show sub-feature privileges when using the Basic license"
Inspired by [this Discuss question](https://discuss.elastic.co/t/role-reporting-user-is-deprecated-please-use-kibana-feature-privileges-instead/294593) --

Kibana requires a Gold+ license to customize [sub-feature privileges](https://www.elastic.co/guide/en/kibana/8.0/kibana-privileges.html#_sub_feature_privileges).
However, sub-feature privileges are _also_ granted by default with the top-level f

[2022-02-10 18:11] elasticmachine commented on #125289
Pinging @elastic/kibana-security (Team:Security)

[2022-02-10 18:20] peluja1012 commented on #125171
Hi @ossie-git, thank you for reporting this issue. Could you please share with us the rule configuration njson content for each of those rules? You can get that by using our [Rule Export feature](https://www.elastic.co/guide/en/security/current/rules-ui-management.html#import-export-rules-ui).

[2022-02-10 18:31] A-Hall opened #125290 "Fleet multitenancy quality of life improvements"
**Describe the feature:**

Currently there's no well supported way to differentiate tenants documents with fleet generated data.  The ability to add a field to an entire agent policy (instead of having to add it to every input associated with the agent policy) or even just automatically adding a field that includes the agent policy name in the generated events would make this easy to add document

[2022-02-10 18:37] dakrone commented on #124200
I think that's okay, yes the change would be on the deprecation API side.

[2022-02-10 18:37] alisonelizabeth commented on #124465
Fixed via https://github.com/elastic/kibana/pull/125138

[2022-02-10 18:38] tsullivan opened #125292 "[Reporting] Add latency indicator to report job notifiers"
Reporting needs a way to indicate the health of the system. This can be narrowed down to having Reporting share a latency indicator metric.

Latency is defined as the amount of time between when a user requests report generation, and when report execution begins.

We need this because, before report execution begins, many other events must happen that the user is not going to know about. Other rep

[2022-02-10 18:38] elasticmachine commented on #125292
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-10 19:01] tsullivan opened #125294 "[Reporting] [Improvements to Managing Reports] Add Retry / Cancel to report jobs"
When the [latency indicator for Reporting](https://github.com/elastic/kibana/issues/125292) is available, users will have a signal to tell them if they have to wait extra, since reports are executed in the order they were requested.

While having a latency indicator is useful, by itself it is not actionable. Knowing that many reports are in front of yours could be useful, if the user has a way to

[2022-02-10 19:12] #120883 closed

[2022-02-10 19:14] ossie-git commented on #125171
Hi @peluja1012,

HYG.

Here is the ndjson file for my custom rule: [rules_export.ndjson.zip](https://github.com/elastic/kibana/files/8043669/rules_export.ndjson.zip). However, I couldn't export the prebuilt rule (the link above also mentions this: "You cannot export Elastic prebuilt rules."). Thanks

[2022-02-10 19:38] emilioalvap commented on #121098
PostFF LGTM.

Steps to reproduce:
- Create a new user with `viewer` built-in role only.
- Logged into Kibana with new user.
- Navigated to Uptime -> Settings.
- Nothing is editable and user is informed about required permissions.

![image](https://user-images.githubusercontent.com/95703246/153483563-a9b4d9aa-2996-4960-a78c-c06016f00934.png)

[2022-02-10 20:10] neptunian opened #125303 "[Stack Monitoring] Rules do not support standalone clusters"
if a cluster_uuid has a value of `''` or it does not exist, its [considered](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/standalone_clusters/standalone_cluster_query_filter.ts) a standalone cluster.   We typically do not try to filter by the cluster_uuid (service.id in ecs) if we are in the context of a standalone cluster.   However [alerts does not get standal

[2022-02-10 20:30] ThomThomson commented on #61632
Closing this because dashboard has been near the top for quite a while!

[2022-02-10 20:30] #61632 closed

[2022-02-10 20:45] graphaelli commented on #86230
Inspired me to at least [add a viz](https://github.com/elastic/apm-contrib/pull/54) to help users view their current versions.

[2022-02-10 20:52] #125235 closed

[2022-02-10 20:53] madirey opened #125311 "[Security Solution] Create tool to generate fixtures for a given Kibana version"
See: https://docs.google.com/document/d/19JIcUKC0d_TCz_nl7cDnePPCzlR4G2gou6-zTHa_low/edit

More to come...

[2022-02-10 20:53] elasticmachine commented on #125311
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-10 20:53] liza-mae commented on #125274
Thanks @flash1293 for the quick resolution.

[2022-02-10 20:58] lukeelmers commented on #108993
I think we should to be safe, and I like @afharo's suggestion:

If the registered task provides its own timeout, then core can stay out of the business of trying to guess what a reasonable limit is. It would also keep core from having to manage retries or any other logic, as it would be up to the registered task to decide what its retry conditions are. This would also allow Fleet to make the timeo

[2022-02-10 21:07] cauemarcondes commented on #120240
tests ok:
<img width="396" alt="Screen Shot 2022-02-10 at 4 06 57 PM" src="https://user-images.githubusercontent.com/55978943/153496506-188fb2ee-6c01-4e66-9d8f-6fa9a9ea4c01.png">

[2022-02-10 21:11] ThomThomson opened #125313 "[Dashboard] Navigation Embeddable"
We should create a Navigation Embeddable which allows authors to create a horizontal or vertical tree of links and folders.

**Nav Links**
- Nav links should be able to point to **saved objects** within Kibana. Saved Object references will be used to ensure these links are `hard` links.
- Links should have the option to "preserve filters", "preserve time range" and "preserve query" on navigation.

[2022-02-10 21:11] elasticmachine commented on #125313
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-10 22:10] simianhacker commented on #96568
@elastic/actionable-observability @jasonrhodes @vinaychandrasekhar @emma-raffenne  We need to hold off on this till 8.3.0. I just talked to @XavierM and they are going to be refactoring the alert table and part of that refactor will include all the support we need to execute this.

[2022-02-10 22:15] jasonrhodes commented on #96568
Do we have a clear understanding of how difficult it would be to implement this as-is? I was thinking most of it would be decoupled from the table implementation and instead just be about cycling through the existing table in the flyout. If we defer the "update the table behind the flyout" part, does that change anything?

[2022-02-10 22:17] liza-mae opened #125319 "[Security Solutions] Detection engine API integration tests fail and do not fail gracefully, CI aborts"
**Version:** 8.x

The tests in detection engine API integration tests (security and spaces), are failing with the following error:

[code]

Getting this error is not the most problematic part, it is the fact that the when you get into this condition the tests continue to retry, causing the CI to time out abort after 5+ hours and flooding the CI console 100,000+ lines of errors.

Two parts to addre

[2022-02-10 22:34] acrewdson opened #125323 "[APM]Latency threshold rule's `threshold` context variable should use milliseconds instead of microseconds"
**Kibana version:** 7.15.2

**Elasticsearch version:** 7.15.2

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**

When creating a new APM latency threshold rule to alert on, the default message text is:
[code]

There I would expect `{{context.threshold}}ms

[2022-02-10 22:38] vinaychandrasekhar commented on #96568
++ on Jason's comment above. Would be great to assess if there's a way to decouple and get a good chunk of the functionality.

[2022-02-10 22:43] liza-mae commented on #118572
I have not seen this on recent runs, so closing for now.  Thanks @afharo !

[2022-02-10 22:43] #118572 closed

[2022-02-10 23:35] peluja1012 commented on #125171
Hi @ossie-git, I apologize for the confusion. In order for us to take a look at the contents of your prebuilt rule, could you please execute the following query in `Kibana` -> `Dev tools` and send us the output?
[code]

[2022-02-11 00:19] ossie-git commented on #125171
Hi @peluja1012,

HYG.

[code]

[2022-02-11 00:54] simianhacker commented on #96568
@jasonrhodes @vinaychandrasekhar Why would we do this when we know there's an update to the table coming in a future release that would require us to throw all that work away?

@XavierM Can you weigh in on this?

[2022-02-11 01:08] axw commented on #124364
++ agreed that this is an unfortunate, leaky implementation detail.

We hope to migrate `labels.*` to the [`flattened`](https://www.elastic.co/guide/en/elasticsearch/reference/current/flattened.html) field type in the future. We _could_ put numerical label values in flattened without having to worry about mapping conflicts, but `flattened` has limited [supported operations](https://www.elastic.co/

[2022-02-11 01:47] karanbirsingh-qasource commented on #119313
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
Version: 8.1.0-BC2
Commit:
Build:

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/153525751-f59597a4-3c9d-422d-8360-7f09e2080ebc.png)

thanks !!

[2022-02-11 02:12] karanbirsingh-qasource commented on #122958
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed.

But @MadameSheema  can you please once review the attached screen-cast that is on first time alert investigation we didn't see result but after page refresh or by giving little more time and re-investigation again in new timeline , alert details started showing in the time

[2022-02-11 02:28] karanbirsingh-qasource commented on #122011
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 . Risk Score & Severity Value are **same** on **Alert table** and **Alert details Flyout**.

Please find below build details:

**Build Details:**
[code]

**Snap-Shoot:**

_All the different areas of Alert details have same severity that is critical and risk score that

[2022-02-11 03:07] karanbirsingh-qasource commented on #123413
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

Please find below detailed observation

### User with Viewer Role

- **Role / User**

![image](https://user-images.githubusercontent.com/59917825/153530811-4c09cf11-4a4a-45b4-a800-cd96718e0623.png)

- **A

[2022-02-11 03:08] kibanamachine commented on #121482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9886#0a0a7080-8380-4166-9fd2-4b7fb9dc257e)

[2022-02-11 03:12] karanbirsingh-qasource commented on #120711
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/153532190-e5bc3b5b-1b01-426d-977e-f742770d1f03.mp4

thanks !!

[2022-02-11 03:15] karanbirsingh-qasource commented on #120859
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/153532407-9589d552-0b35-4a43-886b-ffe370bd8b32.mp4

thanks !!

[2022-02-11 03:22] karanbirsingh-qasource commented on #120723
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/153532906-de4e49f4-130c-4634-be06-0f8daf7ade6c.png)

thanks !!

[2022-02-11 03:39] karanbirsingh-qasource commented on #120863
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/153534061-ff5d7b43-4bca-4c81-bf9f-e5fec49af663.png)

![image](https://user-images.githubusercontent.com/59917825/153534084-ec31

[2022-02-11 04:55] deepikakeshav-qasource commented on #119418
Hi @MadameSheema,

We have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be **Fixed** here

Please find below build details:

**Build Details:**
[code]
**Snap-Shot:**
![image](https://user-images.githubusercontent.com/59917825/153539388-e08fe7aa-22ee-4e95-842d-868145afcfb8.png)
thanks !!

[2022-02-11 04:57] hendry-lim commented on #122684
This was fixed in `7.17.0`, but seems to either return or not fixed in `8.0.0`.
![image](https://user-images.githubusercontent.com/48344515/153539687-839f509e-d4f8-42ff-9cfe-a2e6e49f9970.png)

[2022-02-11 05:02] karanbirsingh-qasource commented on #119836
Hi @MadameSheema

we have validated this issue under re-bug regress part on 8.1.0-BC2 and found this issue still to be fixed here 🟢 .

Please find below build details:

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/153540096-a6d8f826-8013-4d99-8fc8-a030c930bd0f.png)

![image](https://user-images.githubusercontent.com/59917825/153540100-b5ba

[2022-02-11 05:16] deepikakeshav-qasource commented on #120725
Hi @MadameSheema,

We have validated this issue under re-bug regress part on **8.1.0-BC2** and found this issue still to be **Fixed** here

Please find below build details:

**Build Details:**
[code]
**Snap-cast:**

https://user-images.githubusercontent.com/61860752/153540924-db5872d9-db22-425d-aadf-3638b89390f7.mp4

thanks !!

[2022-02-11 05:29] mattkime commented on #124625
seems like isolated failures, closing.

[2022-02-11 05:32] mattkime commented on #124984
I believe the text is accurate - its referencing index pattern strings rather than kibana index patterns.

[2022-02-11 05:37] deepikakeshav-qasource commented on #123300
Hi @MadameSheema,

We have validated this issue under re-bug regress part on **8.1.0-BC2** and found this issue still to be **Fixed** here

Please find below build details:

**Build Details:**
[code]

**Snap-Shot:**

https://user-images.githubusercontent.com/61860752/153542639-9d6f1cf3-1606-44f0-b53b-413a98fe1691.mp4

Thanks !!

[2022-02-11 05:58] deepikakeshav-qasource commented on #122227
Hi @MadameSheema,

We have validated this issue under re-bug regress part on **8.1.0-BC2** and found this issue still to be **Fixed** here

Please find below build details:

**Build Details:**
[code]

- **Hide add exception actions from alerts table if user have read permissions**
![image](https://user-images.githubusercontent.com/61860752/153544104-f709f19d-5834-4c52-8318-8f230531fd26.png)

- **H

[2022-02-11 06:20] deepikakeshav-qasource commented on #122456
Hi @MadameSheema,

We have validated this issue under re-bug regress part on **8.1.0-BC2** and found this issue still to be **Fixed** here

Please find below build details:

**Build Details:**
[code]

**Steps:**

1. Created the connector but did not add to the rule.
2. Hit the below query in Dev tools and get the Action id
[code]

3. Add the action id to detection_engine/scripts/legacy_notificatio

[2022-02-11 06:49] deepikakeshav-qasource commented on #120872
Hi @MadameSheema,

We have validated this issue under re-bug regress part on **8.1.0-BC2** and found this issue still to be **Fixed** here

But @MadameSheema  can you please once review the attached screen-Shoot that is now error message have been changed.

![image](https://user-images.githubusercontent.com/61860752/153547318-24fd2814-38f0-441c-b046-baae0f2ea41d.png)

so can you please confirm if

[2022-02-11 06:49] #125274 closed

[2022-02-11 07:27] #123916 closed

[2022-02-11 07:32] MadameSheema commented on #122958
Hi @karanbirsingh-qasource lots of thanks for retesting this on 8.1.0. What you are seeing is different from the behaviour you are facing, what you are describing is a known issue teams are aware about, in your case, the index is created but not selected on the data view, so if you open it and select it, you would see the alerts. The behaviour described in this ticket is that the .alerts index was

[2022-02-11 07:38] karanbirsingh-qasource opened #125338 "[Security Solution]Rule Navigation breaking on imported case on different cloud build"
**Describe the bug**
Rule Navigation breaking on imported case on different cloud build

**Build Details**
[code]

**Pre-Conditions**
- Create Two  8.1.0-BC2 Build Let name them as **Build 1** and **Build 2**
- **Build 1** Operations
 - Create Case with Alert Attached to it
 - Export the above case from saved object management

**Steps**
- login to **Build 2**
- Import the case from the save objec

[2022-02-11 07:38] elasticmachine commented on #125338
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-11 07:42] MadameSheema commented on #125338
Thanks @karanbirsingh-qasource!! closing as duplicate of: https://github.com/elastic/kibana/issues/124355

[2022-02-11 07:42] #125338 closed

[2022-02-11 07:42] amolnater-qasource opened #125339 "[Fleet]: Fleet Server policy is selected on clicking Add Agent button from Agent Policies tab."
**Kibana version:**  8.1 BC-2 Kibana self-managed environment

**Host OS:** Windows 10x64

**Build details:**
[code]

**Pre-requirements:**
1. ELK setup should be completed.
2. Two different policies should be there:
    - One policy with Fleet Server integration.
    - One policy with only System integration.
3. Fleet Server should be installed.

**Steps to reproduce:**
1. Login to Kibana and nav

[2022-02-11 07:42] elasticmachine commented on #125339
Pinging @elastic/fleet (Team:Fleet)

[2022-02-11 07:42] amolnater-qasource commented on #125339
@manishgupta-qasource Please review.

[2022-02-11 08:07] elasticmachine commented on #125066
Pinging @elastic/ml-ui (:ml)

[2022-02-11 08:28] mgiota commented on #96568
We could consider looking into how `Discover` does the "update the table behind the flyout" part. According to Claudio, Discover preloads many entries in advance and maybe we could do the same.

[2022-02-11 08:31] #125200 closed

[2022-02-11 08:34] MelKeo commented on #125193
@cristina-eleonora I'll organise a meeting for us early next week to meet so I better understand how I can help. Thank you for looping me in.

cc @markdecado

[2022-02-11 08:45] #118476 closed

[2022-02-11 08:46] juliaElastic commented on #125339
The bug here is that the Fleet Server instructions appear even though there is a connected Fleet Server.
I'm looking into it.

[2022-02-11 09:00] manishgupta-qasource commented on #125339
Reviewed this ticket

[2022-02-11 09:07] flash1293 commented on #125274
Let's hope it holds :)

[2022-02-11 09:14] #122773 closed

[2022-02-11 09:32] #125058 closed

[2022-02-11 09:39] karanbirsingh-qasource opened #125345 "[Security Solution]Associated user count not showing on case import when alert does not exist"
**Describe the bug**
Associated user count not showing on case import **when alert does not exist**

**Build Details**
[code]

**Pre-Conditions**
- Create Two  8.1.0-BC2 Build Let name them as **Build 1** and **Build 2**
- **Build 1** Operations
 - Create Case with Alert Attached to it and make sure alert should have host details
 - Host and User count count will be 1 under case kPI
 - export the

[2022-02-11 09:39] elasticmachine commented on #125345
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-11 09:39] karanbirsingh-qasource opened #125346 "[Security Solution]Alert KPI count not incrementing on attaching same alert twice"
**Describe the bug**
Alert KPI count not incrementing on attaching same alert twice

**Build Details**
[code]

**Pre-Conditions**
- Create  8.1.0-BC2 Build

**Steps**
- Generate few Alerts
- Create Case
- Attach same alert twice from alert list to the same case
- Navigate back to Case List page and check alert count here `Count = 2`
- Now click on case to view case details page and inside Alert KP

[2022-02-11 09:40] elasticmachine commented on #125346
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-11 09:43] manishgupta-qasource commented on #125345
Reviewed & assigned to @MadameSheema

[2022-02-11 09:43] manishgupta-qasource commented on #125346
Reviewed & assigned to @MadameSheema

[2022-02-11 09:50] cnasikas commented on #125205
Hey! This bug is the same as described here: https://github.com/elastic/kibana/issues/125207. We are aware of the bug. This is fixed here: https://github.com/elastic/kibana/pull/125024

[2022-02-11 09:50] #123755 closed

[2022-02-11 09:54] #107868 closed

[2022-02-11 10:04] kibanamachine opened #125348 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 rewrites id deterministically for SO with namespaceType: "multiple" and "multiple-isolated""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9910#b90f543d-c4ad-45a2-9c87-d99a333af0ac)

[2022-02-11 10:04] kibanamachine opened #125349 "Failing test: Jest Integration Tests.src/core/server/saved_objects/validation/integration_tests - validates saved object types when a schema is provided does nothing when no schema is provided"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9910#b90f543d-c4ad-45a2-9c87-d99a333af0ac)

[2022-02-11 10:04] kibanamachine opened #125350 "Failing test: Jest Integration Tests.src/core/server/saved_objects/validation/integration_tests - validates saved object types when a schema is provided is superseded by migration errors and does not run if a migration fails"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9910#b90f543d-c4ad-45a2-9c87-d99a333af0ac)

[2022-02-11 10:04] kibanamachine opened #125351 "Failing test: Jest Integration Tests.src/core/server/saved_objects/validation/integration_tests - validates saved object types when a schema is provided returns validation errors with bulkCreate"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9910#b90f543d-c4ad-45a2-9c87-d99a333af0ac)

[2022-02-11 10:04] kibanamachine opened #125352 "Failing test: Jest Integration Tests.src/core/server/saved_objects/validation/integration_tests - validates saved object types when a schema is provided when validating with a config schema throws when an invalid attribute is provided"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9910#b90f543d-c4ad-45a2-9c87-d99a333af0ac)

[2022-02-11 10:04] kibanamachine opened #125353 "Failing test: Jest Integration Tests.src/core/server/saved_objects/validation/integration_tests - validates saved object types when a schema is provided when validating with a config schema does not throw when valid attributes are provided"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9910#b90f543d-c4ad-45a2-9c87-d99a333af0ac)

[2022-02-11 10:09] deepikakeshav-qasource opened #125354 "[Security Solution] "Change alert status" tool tip is displaying under alerts flyout on read privileges"
**Describe the bug**
"Change alert status" tool tip is displaying under alerts flyout on read privileges

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Alerts should be triggered

**Steps to Reproduce**
1. Create user with read privileges
![image](https://user-images.githubusercontent.com/61860752/153572572-7fa787e4-a1de-4523-82de-e23b8a7114be.png)

![image](https://use

[2022-02-11 10:09] elasticmachine commented on #125354
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-11 10:10] arvindersingh-qasource opened #125355 "[Asset Mgt] [DOCS ][BUG] Information missing to "View in Logs" for Errors."
**Describe the bug**
Information missing to "View in Logs" for Errors.

**Guide Link**
https://www.elastic.co/guide/en/kibana/current/osquery.html#osquery-manage-query

**Build Details**
[code]

**Steps**
1. Open Kibana Docs for Os query Module with link - https://www.elastic.co/guide/en/kibana/current/osquery.html#osquery-manage-query
2. Scroll down to ```View status pf scheduled packs``` section

[2022-02-11 10:10] elasticmachine commented on #125355
Pinging @elastic/security-asset-management (Team:Asset Management)

[2022-02-11 10:10] arvindersingh-qasource commented on #125355
@manishgupta-qasource  Please review this bug.

Thanks.

[2022-02-11 10:14] azasypkin commented on #121482
сс @thomheymann, just in case you can notice what can be the reason here.

[2022-02-11 10:24] #119944 closed

[2022-02-11 10:27] karanverma-qasource commented on #124919
Hi @marshallmain

Thanks for Looking into the issue, please find below observation for asked questions.

Do let us known for any other additional information to easly find out the main cause for this issue.

**Yes the alert that have missing fields `kibana.alert.group.id` and `kibana.alert.group.index` value is do of EQL Rule Type and even though we are not getting value under these fields.**

**S

[2022-02-11 10:28] amolnater-qasource commented on #108456
Hi @joshdover & @juliaElastic
We have proposed below testcases for https://github.com/elastic/kibana/issues/108456
-  [Self-managed]Observe no Integration and policy is preinstalled on 8.1 Self-managed environment.
- [Self-managed]Observe on the Agents tab, user is able to create a new policy on a fresh setup self-managed environment.
- [Self-managed]Observe on the Agents tab, clicking Add Agent b

[2022-02-11 10:28] manishgupta-qasource commented on #125355
Reviewed & assigned to @melissaburpo

CC: @james-elastic

[2022-02-11 10:35] elasticmachine commented on #125346
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-11 10:35] elasticmachine commented on #125346
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-11 10:37] MadameSheema commented on #125354
@deepikakeshav-qasource what happens when the user tries to update the status? Thanks!

[2022-02-11 10:39] elasticmachine commented on #125345
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-11 10:39] elasticmachine commented on #125345
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-11 10:48] deepikakeshav-qasource commented on #125354
Hi @MadameSheema,

User is not able to update the alert status. Only "Change alert status" is displaying under tool tip. That should not be displayed as well.

![image](https://user-images.githubusercontent.com/61860752/153578529-016f30ed-0792-4c69-9e7e-2b0d646ae0f0.png)

Thanks!!

[2022-02-11 10:49] banderror commented on #122650
@karanverma-qasource let me know if you have any further questions regarding this one. I'm going to close it for now.

[2022-02-11 10:49] #122650 closed

[2022-02-11 10:51] samratbhadra-qasource commented on #124939
Hi @kpollich
We have validated this issue on the 8.0.0 GA release build and observed that the issue is still **reproducible**. Please find below the testing details:

- Unable to access Fleet tab on changing Elastic APM integration name.

**Build details:**
VERSION: 8.0.0-GA
COMMIT: 57ca5e139a33dd2eed927ce98d8231a1f217cd15
BUILD: 49192

**Screen-Recording:**

https://user-images.githubusercontent.

[2022-02-11 10:52] pgayvallet commented on #124714
So, I guess our only viable option is to add a timeout to each call to deprecation providers.

This could be done either here

https://github.com/elastic/kibana/blob/81ba068853630825cfab0b054bf11ef757365f02/src/core/server/deprecations/deprecations_factory.ts#L88-L90

or here

https://github.com/elastic/kibana/blob/1168e116390b990084b89e73d436a1d5aae1cbc4/src/core/server/deprecations/deprecations_

[2022-02-11 10:53] MadameSheema commented on #125354
@monina-n do you agree with the above comment?

cc @janmonschke @michaelolo24

[2022-02-11 11:02] cstegm opened #125360 "Stack Monitoring Improvements"
* In the Elasticsearch Overview - an Oversharding Indicator (your support looks always if a cluster is oversharded :))  - https://www.elastic.co/guide/en/elasticsearch/reference/current/size-your-shards.html and maybe some more hints from this page
* Information about the Elasticsearch Data Tier (is Instance-00000X data tier hot or warm?)
* Show the Versions in the Nodes-, Server-, Instances- Tabl

[2022-02-11 11:24] bhavyarm commented on #124984
@mattkime Here is what I see on TSVB screen -
<img width="1792" alt="Screen Shot 2022-02-11 at 6 19 28 AM" src="https://user-images.githubusercontent.com/7074629/153582911-ceb07b85-0196-42e9-8fe7-ac7e62e76607.png">

We are referring to both dataviews and elasticsearch indices isn't it? Shouldn't advanced setting copy change to reflect it?
Thanks!

[2022-02-11 11:25] pgayvallet commented on #125280
As much as I agree that our messages are quite terrible in some cases, and that I would love to improve the API to help API consumer specify custom error messages, I have a hard time finding how this could easily be done given the `joi` integration that `config-schema` effectively is.

We do have an `handleError` function on most of our custom types, but the problem is that
1. The error codes retu

[2022-02-11 11:31] joshdover commented on #120616
Kibana Core has this scheduled in their current sprint which ends in ~1.5 weeks and a rough plan has been agreed upon. I suspect they won't be a blocker for much longer.

This is designed to not break the setup API. Though calling that API won't be necessary any longer (just verifying Kibana is healthy is good enough now), we won't be removing the setup API at this point (but we should consider de

[2022-02-11 11:33] markov00 commented on #124318
Hi @DziyanaDzeraviankina @nickofthyme I haven't understood exactly what you mean by add the `subData` to the sort predicate, but I see a different issue here:
the predicate `dataIndex` doesn't actually seems to be related to the index at all, but it defaults to a `numAsc` sort predicate and I don't understand exactly why was applied like that (I need to ask Dima)
[code]
My suggestion is described

[2022-02-11 11:35] joshdover commented on #120616
It will run every time a Kibana node is restarted, so it's not exactly only once, but it won't be triggered multiple times in a single run of Kibana unless the user manually calls the setup API. I think since it will still run on each startup, #124004 is still relevant?

[2022-02-11 11:37] bhavyarm commented on #124984
After discussing it with Joe & Stratoula closing this FUN convo - cc @LeeDr

[2022-02-11 11:41] fkanout commented on #96568
@simianhacker, @XavierM Do you have a link to the refactoring GitHub issue that we can look at and have an idea about the AC?

[2022-02-11 11:45] fkanout commented on #96568
Is the refactoring related to this Doc https://docs.google.com/document/d/1h5GB-R5MfRqH3mdbacEr_9_ZvT4jrZEr59NxgR5ZEN8/edit#heading=h.2b1v1tr0ep8m?

[2022-02-11 11:51] juliaElastic commented on #120616
Sounds right, so we might have to ask users to restart kibana to refresh/fix the preconfigured policies

[2022-02-11 11:56] joshdover commented on #120616
Yes, or use the API manually. I also think we may see this issue go away or resolve itself with the addition of bundled packages used for preconfiguration.

[2022-02-11 12:03] hop-dev opened #125362 "[Fleet] "No assets found" immediately after installing assets"
**Kibana version:** 8.1 8.0 7.x

**Describe the bug:**
When installing a package from the "Settings" tab (installing the assets but not creating a package policy) if you switch to the assets tab it says "no assets found", but refreshing the page shows the assets.

**Steps to reproduce:**
1. Navigate to an integration
2. Go to the settings tab
3. Install the integration
4. Go to the assets tab
5. N

[2022-02-11 12:03] elasticmachine commented on #125362
Pinging @elastic/fleet (Team:Fleet)

[2022-02-11 12:09] juliaElastic opened #125363 "[Fleet] Move to kibana Event-based Telemetry"
Fleet [implemented](https://github.com/elastic/kibana/pull/115180) its own telemetry event sender feature.

Now there is work in progress to make it a generic feature in kibana: https://github.com/elastic/kibana/issues/121992
When this feature is ready, Fleet should move to it and remove the custom event sender code.

[2022-02-11 12:22] joshdover commented on #108993
Having the task define the timeout seems reasonable to me and will likely make this implementation and testing much simpler. We can generalize later if there are other needs for similar initialization tasks in other areas of Kibana.

That said, I'd still like to hear some feedback from those who have experience running our software before we add a timeout. I don't think have a similar timeout on a

[2022-02-11 12:25] joshdover commented on #125270
Thanks @eyalkraft for filing this!

In terms of scheduling, it'd be helpful to understand how the CSP team plans to merge code into Kibana. Will development be taking place in a feature branch and merge towards the end or do you plan to continuously merge in changes behind a feature flag?

If going with the former, we could probably get in the very basic changes required for your development and t

[2022-02-11 12:30] joshdover commented on #118751
@nchaulet Can we close this issue now and use the remaining tickets you opened?

[2022-02-11 12:49] nchaulet commented on #118751
Yes I am going to close that issue 👍

[2022-02-11 12:49] legrego opened #125364 "[Discuss] Remove insecure cluster warning"
We started warning users in the `7.10` release when they were running Kibana/ES without security enabled (via https://github.com/elastic/kibana/pull/78545). This was especially important because stack security features were opt-in, rather than opt-out.

Another benefit of this warning was to educate users of our OSS distribution that the Default distribution came with free security features. We no

[2022-02-11 12:49] elasticmachine commented on #125364
Pinging @elastic/kibana-security (Team:Security)

[2022-02-11 12:49] ymao1 commented on #125087
@sebastian3456 Great to hear! Given that this should be fixed in 8.1 and there is a workaround for 7.16, is it ok to close this bug issue?

[2022-02-11 12:50] legrego commented on #114049
Potentially unnecessary pending the outcome of https://github.com/elastic/kibana/issues/125364

[2022-02-11 12:55] brsolomon-deloitte opened #125365 "Dev Tools result pane shows `Expected ',' instead of '"'`"
**Kibana version:** 7.16.3

**Elasticsearch version:** 7.16.3

**Server OS version:** ECK

**Browser version:** Chrome 98.0.4758.80

**Browser OS version:** x86_64 MacOS

**Original install method (e.g. download page, yum, from source, etc.):** ECK CRD

**Describe the bug:**

Kibana Dev Tools results pane shows

[code]

In the attached screenshot, this happens even for a built-in ingest pipeline (

[2022-02-11 12:57] juliaElastic commented on #108456
Hi @amolnater-qasource, thank you for this, a few comments:

I would add "user is able to create a new Fleet Server agent policy"

- Enroll in Fleet tab: user is able to create a new Fleet Server agent policy.
  - After Fleet Server is enrolled, user is able to create a new Agent policy on this tab
- Run standalone tab: user is able to create a new Agent policy
- User is able to enroll Fleet Serve

[2022-02-11 13:01] legrego commented on #114158
This is _potentially_ at odds with https://github.com/elastic/kibana/issues/19584. If I (in the future) have a user-specific default route defined for each of my spaces, then does that only apply when I enter the space after logging in? If I'm already in a space and I switch to another space, should the default route be ignored? We could technically solve for that, but it feels like a confusing UX

[2022-02-11 13:07] kpollich commented on #124939
Hi @samratbhadra-qasource thank you for revalidating. This did not make the 8.0 build and will be fixed in 8.0.1.

[2022-02-11 13:09] sebastian3456 commented on #125087
@ymao1 jep fine for me

[2022-02-11 13:09] #125087 closed

[2022-02-11 13:10] legrego commented on #91139
Closing this in favor of Core's KPT initiative. This isn't something that our team will drive.

[2022-02-11 13:10] #91139 closed

[2022-02-11 13:12] academo opened #125371 "[Cases] Refactor "Add to case" timeline action button to move it out of timelines."
See epic https://github.com/elastic/kibana/issues/123183

The existing integration between alert timelines and cases consists of a series of hooks, contexts and callbacks that are not entirely reusable for other plugins and that require the timelines plugin to keep logic to track of open flyouts and to update cases to attach information to them.

Currently the "Add to case" and "Add to new case" a

[2022-02-11 13:13] elasticmachine commented on #125371
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-11 13:13] elasticmachine commented on #125371
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-11 13:16] legrego commented on #57179
I just realized this is a duplicate of https://github.com/elastic/kibana/issues/19584. Closing this in favor of that issue. @GautiAM, I'll add your issue description to the existing issue.

[2022-02-11 13:16] #57179 closed

[2022-02-11 13:46] #125339 closed

[2022-02-11 13:51] petrklapka opened #125375 "Testing Issue Stage Custom Field for Security Team"
This is a test issue.  Close/Complete after testing.

[2022-02-11 13:51] elasticmachine commented on #125375
Pinging @elastic/kibana-security (Team:Security)

[2022-02-11 13:52] juliaElastic commented on #125339
the fix is merged and 8.1 backport is underway

[2022-02-11 13:59] bytebilly commented on #125364
@legrego if we look at it from a different angle, which is the main reason to remove?
I'd personally prefer to keep, since insecure clusters may still happen one way or another — and we really need to prevent them — unless it has clear drawbacks.

Do you expect that you need to put relevant engineering work in the future to keep it working? Are there other concerns?

[2022-02-11 14:04] #125375 closed

[2022-02-11 14:06] legrego commented on #125364
@bytebilly I don't have a strong motivation to remove this - it isn't causing us any pain at the moment. I was grooming the backlog and came across https://github.com/elastic/kibana/issues/114049, which got me thinking about the feature in general.

[2022-02-11 14:19] vsabelli opened #125377 "[LENS] Allow to access metric for several levels to compute metrics"
Hi all,

while creating a table visualisation with Lens, we often need to split metrics on several levels (e.g. to compute a percentage).

For instance, let's suppose we have such documents on Elasticsearch:
{
  "name": "John",
  "surname": "Smith"
 "customer_id": "123abc"
 "message": "hello"
}
and that we want a table with the following data:

-----------------------------------------------------

[2022-02-11 14:38] mbondyra opened #125378 "[Lens] Clicking on all records filter creates filter that does nothing"
**Kibana version:**
main

1. Create a chart with filters.
2. One of the filters should target `All records` (*)
3. Click on the bar on the chart
4. The filter doesn't do anything and looks weird:

<img width="1214" alt="Screenshot 2022-02-11 at 15 37 17" src="https://user-images.githubusercontent.com/4283304/153611122-2779c2ad-0de1-4835-8c13-10c62bec5fe8.png">

[2022-02-11 14:38] elasticmachine commented on #125378
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-11 14:43] simitt opened #125379 "[cloud] Fleet Server URL is preconfigured although no Integration Server is set up"
**Kibana version**: `main`

**Description of the problem including expected versus actual behavior**:
On ESS a deployment only consisting of ES and Kibana lists a preconfigured Fleet Server URL in the Fleet UI. This is not generally a problem, but probably misleading if people want to set up an actual Fleet Server.

**Steps to reproduce**:
 1. Create a `8.2.0-SNAPSHOT` deployment on ESS with only

[2022-02-11 14:43] elasticmachine commented on #125379
Pinging @elastic/fleet (Team:Fleet)

[2022-02-11 14:46] flash1293 commented on #125378
Not sure what you mean exactly - this is what I had expected - it's taking the label of this bar (`*`) and creates a filter for it. Granted the filter doesn't help much with everything but so doesn't the bar. It seems slightly weird but I don't think we should have special handling for it because it seems unlikely to happen in practice (and on the off-chance it does happen, it doesn't break anythi

[2022-02-11 14:51] petrklapka opened #125380 "Sync Test Issue #1"
Edit to retrigger sync!

[2022-02-11 14:52] azasypkin opened #125381 "Display a real network interface IP address instead of `0.0.0.0` when logging Kibana URL"
## Summary

When Kibana is bound to `0.0.0.0` address (`server.host: 0.0.0.0`, e.g. in Docker) and enters an interactive setup mode, we log the following:

[code]

In the scope of this issue we should explore if it's possible to get a real network interface IP address of the Kibana and use it instead of `0.0.0.0`.

[2022-02-11 14:52] elasticmachine commented on #125381
Pinging @elastic/kibana-security (Team:Security)

[2022-02-11 14:53] simitt opened #125383 "Update docs and integrated guide to point to Integrations Server"
**Kibana version**: `8.1`

**Description of the problem including expected versus actual behavior**:
In `8.0` cloud changes the default from  _APM & Fleet Server_  to _Integrations Server_. While existing, upgraded deployments will still be shown as `APM & Fleet Server`, the Fleet documentation and onboarding flow should be aligned with the new default terminology. This is what new users will see

[2022-02-11 14:53] elasticmachine commented on #125383
Pinging @elastic/fleet (Team:Fleet)

[2022-02-11 14:55] nchaulet commented on #125379
I think it's the expected behavior: The fleet server URL is a configuration value it's not auto discovered when the server is up, we populate that field during the Fleet setup during Kibana bootstrap.

[2022-02-11 14:57] nchaulet commented on #125379
@simitt does the url will change with the integration server in cloud?

[2022-02-11 14:59] david-kow commented on #108993
I didn't read through the entire issue, but regarding the last comment:

In case of ECK, Kubernetes will restart failing Pods on its own anyway, so this is not critical to us. But one thing we definitely care about is that in a simple, small cluster, happy case scenario, when ES and Kibana are started at the exact same time, we won't see Kibana erroring out before ES is up. That is, the default ti

[2022-02-11 15:05] Dosant opened #125384 "[Search] Load test search sessions vs no search sessions"
Currently, search sessions in Kibana are implemented in a way that they add some performance overhead even if the search session is not saved. We are working on improving that aiming to tend search session impact to 0 when they are not saved.
But as of now, these are some load testing results with search sessions on and off:

### Conditions

* Using default configuration and default scenarios from

[2022-02-11 15:06] simitt commented on #125379
Which field exactly are you using for showing the Fleet Server URL? Nothing related to Fleet or APM should be configured  if apm/integrations server is not enabled.

[2022-02-11 15:14] #124015 closed

[2022-02-11 15:16] nchaulet commented on #125379
@simitt We are using the ``cloudId` and deploymentId` from the cloud plugin to populate that field.

[2022-02-11 15:16] MichaelMarcialis opened #125386 "[Lens] Color for changed range value incorrectly receiving penultimate range value's color"
**Describe the bug:**

During my review of #123924, I found one (hopefully) little bug. It appears that changing a range value to be greater than the penultimate range value, but less than maximum range value, causes the color for the range value being changed to incorrectly receive the penultimate range value's assigned color.

**Steps to reproduce:**
1. Open color editor flyout (from any capable

[2022-02-11 15:16] elasticmachine commented on #125386
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-11 15:30] #122126 closed

[2022-02-11 15:35] flash1293 commented on #102956
@Dosant Is there an issue to point to for the planned "top metric" work on the app services side?

[2022-02-11 15:36] petrklapka opened #125390 "Sync Test Issue"
GH Sync test for Viz Editors team.

[2022-02-11 15:36] elasticmachine commented on #125390
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-11 15:48] smith opened #125394 "Embed APM service inventory on observability overview"

[2022-02-11 15:55] flash1293 commented on #124945
This is happening because the overwritten field input component of terms is not adjusting the `dataType` of the column: https://github.com/elastic/kibana/blob/3f702c1fd46ce408daad24295eaee0c61ed7a5af/x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx#L375

[2022-02-11 15:57] smith commented on #121744
@formgeist sorry about this. This is now tracked in #125394.

[2022-02-11 16:00] Dosant opened #125397 "POST runtime_field returns `SERVICE_KEY` instead of `data_view` in body"
**Kibana version:** main

I've been testing this branch https://github.com/elastic/kibana/pull/125183, but I assume this is coming from main

**Describe the bug:**

POST runtime_field returns `SERVICE_KEY` instead of `data_view` in body

**Steps to reproduce:**
1. Use data views API to create a runtime field. `POST localhost:5601/yqr/api/data_views/data_view/<id>runtime_field`
2. See `SERVICE_KEY`

[2022-02-11 16:00] elasticmachine commented on #125397
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-11 16:03] smith commented on #103622
Closing this. Replaced by #125394.

[2022-02-11 16:03] #103622 closed

[2022-02-11 16:06] jasonrhodes opened #125401 "[Stack Monitoring] Product components should be monitor-able in isolation"
I expect a user to be able to monitor each of the following products in isolation without requiring monitoring of any other product:

* [x] Elasticsearch
* [ ] Kibana
* [x] Logstash
* [ ] APM
* [ ] Enterprise Search

It appears as though this is not the case right now with APM (see below). We should confirm which of the above products have this problem and fix them. If the fixes are different for

[2022-02-11 16:07] elasticmachine commented on #125401
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-11 16:10] Dosant commented on #125397
I didn't check other API routes. Maybe we have the same bug somewhere else

[2022-02-11 16:11] jportner commented on #124714
Well the specific problem seems to be that the reporting plugin completed `setup`, but failed to complete `start`. However, the `DeprecationsRegistry` still attempts to get deprecations from plugin(s) that didn't start.

Would it be possible to add a check in the second one to filter out plugins that never started?

Assuming we had a `pluginHasStarted` function to check with:

[code]

[2022-02-11 16:11] jasonrhodes commented on #125401
@matschaffer I think you had some additional context here on our expectations re: standalone cluster, but I didn't quite understand (I guess monitoring assumes that it is always set up to monitor "a cluster" rather than monitoring individual products that may or may not be grouped into clusters?). Please feel free to add thoughts via comment or update the description, thanks!

[2022-02-11 16:12] lucasfcosta opened #125402 "[Uptime] Incorrectly escaped default values for the Synthetics integration"
**Kibana version:** `8.1.0-SNAPSHOT` (Also happening on 7.17, see https://discuss.elastic.co/t/elastic-agent-eck-7-17-0-work-around-doesnt-work-correctly/296335)

**Elasticsearch version:** `8.1.0-SNAPSHOT`

**Server OS version:** MacOS 11.6 BigSur

**Browser version:** Version 98.0.4758.80 (Official Build) (x86_64)

**Browser OS version:** MacOS 11.6 BigSur

**Original install method (e.g. downlo

[2022-02-11 16:13] elasticmachine commented on #125402
Pinging @elastic/uptime (Team:uptime)

[2022-02-11 16:18] flash1293 commented on #87077
The issue here isn't the null value in the first bucket, it's because `.derivative()` is returning negative values which become `NaN` when `log` is applied to them (because the logarithm of a negative number isn't a real number). On summing up all of the `NaN`s, the cumulative sum of them is `NaN` as well.

[2022-02-11 16:18] #87077 closed

[2022-02-11 16:23] pgayvallet commented on #124714
Plugin lifecycle methods are synchronous. What would be your definition of a non started plugin? I'm guessing reporting failed silently in some asynchronous task ran during start, I don't think core as any way to be aware of that.

Given that any deprecation provider can decide to return `new Promise(() => {})`, I feel like this would still be worth it.

[2022-02-11 16:25] flash1293 commented on #9424
Closing this issue because this is supported in Lens visualizations. Modern Lens supports a lot of the calculation capabilities of Timelion thanks to Lens formula and doesn't suffer from this specific problem because it defaults to a bar chart and uses a better fitting default interval as well.

*Since this would require a large development effort to implement in Timelion and our efforts are focus

[2022-02-11 16:25] #9424 closed

[2022-02-11 16:25] Dosant commented on #102956
@flash1293 here it is: https://github.com/elastic/kibana/issues/124535

[2022-02-11 16:25] ryankeairns commented on #114158
In my mind, the practical next step is to allow users to set a default route per Space (i.e. override the default route set by the Space admin) and see how far that gets us (i.e. watch for feedback; try it out ourselves) before attempting the more complex URL/view preservation option.

[2022-02-11 16:40] #120996 closed

[2022-02-11 16:40] #124839 closed

[2022-02-11 16:40] #124862 closed

[2022-02-11 16:53] joshdover opened #125409 "[Fleet] Fleet setup fails if package was previously installed that is no longer compatible"
**Kibana version**: 8.0, main

**Description:** If a user installs a package and then upgrades to a Kibana version that is not compatible with that package's `kibana.version` constraint, Fleet setup will fail with an error about not being able to retrieve the package from the registry.

**Steps to reproduce**:
 1. Force install a package that is not compatible with 8.0 (or install on 7.x and upgra

[2022-02-11 16:53] elasticmachine commented on #125409
Pinging @elastic/fleet (Team:Fleet)

[2022-02-11 17:00] flash1293 commented on #95708
@DziyanaDzeraviankina @alexwizp I tested locally and it seems like adding an `overflow: hidden` to the `vgaVis__view` class fixes this issue. I can't see any negative effect of this change (non-autosize vega charts still scroll fine because this is handled by vega itself). Could you check this?

[2022-02-11 17:06] mralladin opened #125411 "Connection Settings to let kibana connect to a "NTLM/NTLMv2 authenticated proxy""
**The feature should allow a setting in kibana to connect to a Proxy with NTLM/NTLMv2 authentication. At the moment this is not possible and some companies are using proxies in their internal network.**

**A specific Use Case would be that some companies are using proxies to connect to the internet and some are configured for NTLM/NTLMv2 Authentication. Without bypassing the proxy kibana is not ab

[2022-02-11 17:08] jportner commented on #124714
Sorry, I think "has started" was a poor choice of words. I assumed if a plugin was unavailable in some way it would be reflected in the `/api/status` response but I just tested it out and it seems like the reporting plugin state is still "green":

[code]

So, it sounds like this idea won't work after all 😅 Timeout it is!

IMO a reasonable timeout would be 10s, I don't think any plugin would realis

[2022-02-11 17:17] jportner commented on #114158
We could consider adding an "overflow actions" button to the side of the space menu (it's just a quick mockup, pretend that it's centered vertically 😅):

<img width="245" alt="image" src="https://user-images.githubusercontent.com/5295965/153637619-62c6a709-2dbf-4361-90d0-b434e246a1c6.png">

<details><summary>Click to see diff</summary>

[code]

</details>

[2022-02-11 17:23] joshdover commented on #125409
My quick and hasty repro steps don't seem to be enough to force this situation on main. At first I thought maybe the package cache was the issue after force installing, but restarting Kibana didn't work.

Will try the same steps on 8.0 branch before reverting to more the manual method of actually installing on 7.x and upgrading. However, I'd like to have a way to do it that doesn't require an upgr

[2022-02-11 17:23] #124950 closed

[2022-02-11 17:28] ersin-erdal opened #125416 "[Alerting] Refactoring task_runner, Move interface and test fixtures to their own files."
This is a sub issue of #124206.

As a first step of task_runner module's refactoring. We move interfaces in the module to `types.ts` and unit test mock/fixtures to `fixtures.ts`

[2022-02-11 17:31] MadameSheema commented on #120872
@banderror can you please take a look at the above comment? Thanks! :)

[2022-02-11 17:33] tsullivan opened #125417 "[Reporting/Documentation] Clarity steps to grant a role the CSV Reporting privilege, under a Basic license"
Related to https://github.com/elastic/kibana/issues/125289

Kibana requires a Gold+ license to customize [sub-feature privileges](https://www.elastic.co/guide/en/kibana/8.0/kibana-privileges.html#_sub_feature_privileges).

Clusters with a Basic license **can** have a role that grants Reporting privileges (only CSV export type is supported): the role needs the "All" privilege for the Discover app.

[2022-02-11 17:33] elasticmachine commented on #125417
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-11 17:41] joshdover commented on #125409
Reason this doesn't fail on main is because we don't specify the version requirements on the main branch 🤦 https://github.com/elastic/kibana/blob/f1fcbe7f54ec715c029f4eb02af8ddbefee2050c/x-pack/plugins/fleet/server/services/epm/registry/index.ts#L121-L124

I'll continue this on Monday, but I don't see a way we can write an automated test for this today with our current set up. One option could be

[2022-02-11 18:01] nchaulet commented on #125379
Yes that make sense, we should probably not rely on `xpack.cloud.apm.url` to decide if we populate that fleet server hosts field but we could introduce a similar flag for fleet server that is set when we enable integration server and do not populate the value before it's set

[2022-02-11 18:06] #122990 closed

[2022-02-11 18:12] banderror commented on #120872
Looks like a new error message from the Alerting Framework. Before passing control to our rule executors, the Framework runs its own logic and performs some checks. As a result of these checks, the rule can transition to the `failed` status without ever executing any rule type logic. We don't control those checks and error messages they can produce.

@elastic/response-ops-execution @elastic/respon

[2022-02-11 18:12] yuliacech opened #125424 "[Snapshot & Restore] Default repository types missing on Cloud"
**Kibana version:**
8.0.0

**Elasticsearch version:**
8.0.0

**Server OS version:**

**Browser version:**

**Browser OS version:**
Version 98.0.4758.80 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**
No repository types are displayed in the form to register a repository.

**Steps to reproduce:**
1. Navigate t

[2022-02-11 18:12] elasticmachine commented on #125424
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-11 18:19] ymao1 commented on #120872
@banderror I believe so.

The original message came from a race condition that could occur if task manager picks up an alerting task and the rule was disabled at the same time. Disabling the rule clears the API key from the rule SO so when task manager retrieves the rule SO and tries to start rule execution, it would get this privileges message because the apiKey is null.

We added this check in [

[2022-02-11 18:25] cjcenizal commented on #114158
Why do people switch spaces?

[2022-02-11 18:29] cjcenizal commented on #124714
Just so I understand, can you explain to me the effect this fix will have on the reported issue? If the reporting plugin still fails, will an error of some sort be returned by the deprecations API? Or will it resolve to a 200?

[2022-02-11 18:42] formgeist opened #125426 "[APM] Service Maps service popover shows the tooltip focused when it opens"
**Kibana version**

8.2.0 (main)

# Summary

I discovered that the info tooltip for the service metrics in the Service map popover per service is opened when the popover is clicked. It's quite distracting getting this as the first thing that loads along with the popover.

![CleanShot 2022-02-11 at 19 39 17](https://user-images.githubusercontent.com/4104278/153650472-76b16e73-1970-48bd-9334-04690cd

[2022-02-11 18:42] elasticmachine commented on #125426
Pinging @elastic/apm-ui (Team:apm)

[2022-02-11 18:46] formgeist opened #125427 "[APM] Bug: Service maps – comparison toggle is not consistent when going from Service map details link to the Overview"
**Kibana version**:

8.2.0 (main)

**Description of the problem including expected versus actual behavior**:

When clicking on the "Service details" link the service popover in the Service map, the comparison option toggle selection is lost when moving from Service maps -> Service overview.

https://user-images.githubusercontent.com/4104278/153651098-b9699fd8-b706-4ed2-bfa2-9f0c5112a2e9.mp4

**Ste

[2022-02-11 18:46] elasticmachine commented on #125427
Pinging @elastic/apm-ui (Team:apm)

[2022-02-11 18:53] formgeist opened #125429 "[APM] Bug: Service maps popover detail metrics are aggregates over all transaction types"
**Kibana version**:

8.2.0 (main)

**Description of the problem including expected versus actual behavior**:

I think we're aggregating the service metrics in the Service maps service popover on all transaction types instead of only `request` or the top-most `transaction.type` as we do on the Service inventory. When you compare the two, there's conflicting metrics.

This the same 15-minute range;

[2022-02-11 18:56] spong commented on #31181
Also just ran into this, but from the ML testing side. ML uses the `repository-gcs` elasticsearch-plugin for referencing test data snapshots ([internal doc](https://github.com/elastic/machine-learning-data/blob/main/snapshots/ml-data-snapshots-7-share.md)).

Current workflow is running ES/Kibana locally from Kibana root:

[code]

Would be nice to easily use plugins with `yarn es` -- thank you @jen

[2022-02-11 19:05] banderror commented on #124756
@spong nope, not aware of any :( I can create a placeholder issue and ping Michelle. It looks like no one has really thought through this yet.

[2022-02-11 19:08] #124392 closed

[2022-02-11 19:16] jportner commented on #114158
Talk about a loaded question :D

Spaces are used for a combination of authorization and organization.
We've also heard recently that some folks create different spaces for "staging" and "production" saved objects (dashboards etc.)

One common use case that I run into all the time is using the Saved Objects Management page-- I may copy a saved object to a different space, then I want to go to the s

[2022-02-11 19:50] flash1293 commented on #102156
Fixed by https://github.com/elastic/eui/issues/4923

[2022-02-11 19:50] #102156 closed

[2022-02-11 19:56] jportner commented on #124714
It sounds like we could make the timeout behave either way:

1. It could reject the promise (resulting in an error), or
2. It could resolve the promise with an empty result (so the deprecations from the non-functioning plugin would be omitted, but other deprecations would still be shown).

It sounds like (2) would be better, yeah?

[2022-02-11 20:03] monina-n commented on #125354
@MadameSheema it should be showing the menu options when the item is clicked

**Change alert status**
Open
Acknowledged
Closed

[2022-02-11 20:10] tobiasstadler opened #125439 "Support for visualizing Prometheus metrics"
**Describe the feature:**
It would be nice if it was possible to query metrics stored in Prometheus via PromQL and visualize the result in Kibana. It would be even better if Kibana offered autocomplete for PromQL or added support for altered based on a PromQL query.

**Describe a specific use case for the feature:**
We are using the Elastic Stack for logs and traces (APM), but Prometheus for metri

[2022-02-11 20:25] dominiqueclarke opened #125440 "[Uptime] Saved Objects Client pulls the first 10,000 monitors during the monitor sync task"
When fetching monitors to sync with the Synthetics service, the saved objects client only pulls the first 20 monitors available. This means that not all monitors will be synced with the service when the count of monitors is greater than 20.

We need to implement pagination logic to fetch the total number of monitors, or connect with the saved objects team to see if there is a way to pull all saved

[2022-02-11 20:41] #125319 closed

[2022-02-11 20:44] cjcenizal commented on #124714
My concern is that upgrading is one of those scenarios where “fail fast, fail early” applies. If a plugin has a critical deprecation to report, but it can’t because it fails, then we’ll do the user the greatest service by blocking them from upgrading until they’ve fixed the plugin. If this is the case then the UX will manifest as UA showing the user an error message, the message will describe the

[2022-02-11 20:45] nchaulet opened #125443 "[Fleet] Invalid Output permissions"
## Description

In 8.1 we do not install Elastic agent package by default as a side we do not build correct permissions for the agent policy, we build some permissions with an empty `names` array

This cause an issue when Fleet Server try to create API key for agent based on the permissions we send in the agent policy
[code]

We should filter these invalid permission on the fleet side.

[2022-02-11 20:45] elasticmachine commented on #125443
Pinging @elastic/fleet (Team:Fleet)

[2022-02-11 21:27] #122942 closed

[2022-02-11 21:37] ryankeairns commented on #114158
That's a neat concept @jportner

The reverse of that might also be interesting - the main button goes to current page equivalent and, instead of an overflow, it's a house/home icon that goes to your default route.

[2022-02-11 21:38] jportner commented on #124714
I like the idea but I think the "guide the user to fix it" part is the problem. We don't really know _why_ the plugin failed to return any deprecation info in this case, it just timed out. We can direct the user to look at server logs but in my case it wasn't actionable, I wound up disabling the plugin to workaround it.

So I don't really think it's feasible to tell people to fix the plugin's prob

[2022-02-11 21:43] cjcenizal commented on #124714
Thanks, Joe, that's helpful. How about we return a 200 but in the body we include a list of the plugins that timed out? We could show a warning that explains that some plugin deprecations might be excluded from the deprecations list because there was a problem accessing them, list the plugins that timed out, suggest the admin look at the logs, and mention that these plugins might need to be disabl

[2022-02-11 22:05] jportner commented on #124714
That makes sense to me! Seems like a bit more work than just the suggestion though. If the Core team doesn't have bandwidth to do all of that for the 7.17.1 release, WDYT about just adding the timeout for now and planning to enhance it for 7.17.2?

[2022-02-11 22:07] kibanamachine commented on #120840
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9959#2394a0ec-5fa2-4c53-a2ee-94784887506d)

[2022-02-11 22:07] kibanamachine opened #125449 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 fails with a descriptive message when a single document exceeds maxBatchSizeBytes"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9959#2394a0ec-5fa2-4c53-a2ee-94784887506d)

[2022-02-11 22:07] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9959#2394a0ec-5fa2-4c53-a2ee-94784887506d)

[2022-02-11 23:07] alvarezmelissa87 commented on #123789
Thanks for creating this issue @pgayvallet 🙏

As for #2 from this comment https://github.com/elastic/kibana/issues/123789#issuecomment-1022279665

Would it be possible to add the [put trained models endpoint](https://www.elastic.co/guide/en/elasticsearch/reference/current/put-trained-models.html) on that list? This originated with the issue of having the full ml model definition being logged out a

[2022-02-12 03:05] kibanamachine commented on #123372
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9980#0f598d94-cf95-4c25-9585-fc5bac010bd5)

[2022-02-12 03:38] kibanamachine opened #125452 "Failing test: X-Pack Spaces API Integration Tests -- spaces_only.x-pack/test/spaces_api_integration/spaces_only/apis/copy_to_space·ts - spaces api without security copy to spaces from the default space single-namespace types "before each" hook for "should return 200 when copying to space without conflicts or references""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9984#cacdbf48-d731-479c-ab82-ce0ac1e044d7)

[2022-02-12 07:45] kibanamachine commented on #124986
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10003#35075fe0-3a36-49c9-9102-84454e5ecc41)

[2022-02-12 08:19] #116095 closed

[2022-02-12 08:34] #54714 closed

[2022-02-12 10:55] kibanamachine commented on #123253
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10012#c015edbe-1495-4bd8-85a2-2802dc286a28)

[2022-02-12 11:10] kibanamachine opened #125455 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/model_management/model_list·ts - machine learning model management trained models for ML user with read-only access renders expanded row content correctly for model with pipelines"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10015#c9ca2d58-eef1-4314-bf0c-a28c46aa421d)

[2022-02-12 15:06] kibanamachine commented on #125455
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10028#89f9c1f7-4336-42d4-97bc-ea3564d0b1b0)

[2022-02-12 21:05] VladLasitsa commented on #125386
@MichaelMarcialis Can you re-check please, I think this PR https://github.com/elastic/kibana/pull/124489 fixed this issue.

[2022-02-13 03:05] kibanamachine commented on #125455
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10078#1dced13b-d081-42ce-b58a-1aeaf6c845ae)

[2022-02-13 05:35] kibanamachine commented on #124779
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10087#8e8d0232-de6a-445b-92bb-26be95314946)

[2022-02-13 05:35] kibanamachine commented on #124780
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10087#8e8d0232-de6a-445b-92bb-26be95314946)

[2022-02-13 05:35] kibanamachine commented on #124781
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10087#8e8d0232-de6a-445b-92bb-26be95314946)

[2022-02-13 06:37] kibanamachine commented on #88579
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10093#015f62de-6cbf-4029-8f3f-7d06f6368851)

[2022-02-13 06:37] kibanamachine commented on #86214
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10093#015f62de-6cbf-4029-8f3f-7d06f6368851)

[2022-02-13 11:04] kibanamachine commented on #125455
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10111#0af1a77e-e3fa-4c1c-934e-ff195608e526)

[2022-02-13 13:40] kibanamachine commented on #88579
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10120#d5ef8903-0388-4d90-b129-79d42698a616)

[2022-02-13 13:40] kibanamachine commented on #86214
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10120#d5ef8903-0388-4d90-b129-79d42698a616)

[2022-02-13 14:05] kibanamachine commented on #125455
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10121#47b2d199-8f5c-4c13-84ca-0390df2d71ee)

[2022-02-13 16:26] bitkowitz commented on #90508
This is issue is still present in v7.9 of kibana. I'm seeing empty duplicate buckets on multiple histograms. I've tried adjusting the bin interval and turning off show empty buckets. The duplicate buckets still persist.

[2022-02-13 17:29] nikola6789 commented on #106373
Hi Team, @liza-mae @tylersmalley

Any news about this issue?

We are planning to use specific Kibana from tag 7.16.2 (previously used was 7.4.0) and now we are getting this same error when running cloning the code and running `yarn` kbn bootstrap` via Docker in kibana root directory:
`RUN cd /home/my_user/kibana && yarn kbn bootstrap`

Error:
[code]

Any workaround?

[2022-02-13 20:53] xeraa commented on #125381
Could this also take `server.publicBaseUrl` into consideration? My example with Docker looks like this: `docker run -e SERVER_PUBLICBASEURL="http://xeraa.wtf:5601" -p 5601:5601 -it docker.elastic.co/kibana/kibana:8.0.0`, so it would be nice if this would point to `http://xeraa.wtf:5601` rather than trying to figure out the right IP.

[2022-02-13 21:39] kibanamachine opened #125463 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/single_metric_job·ts - machine learning anomaly detection single metric "before all" hook for "job creation loads the single metric wizard for the source data""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10152#bfccd5db-d3c8-4e7f-8f89-e86d4e982d52)

[2022-02-13 21:39] kibanamachine opened #125464 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml - machine learning "after all" hook in "machine learning""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10152#bfccd5db-d3c8-4e7f-8f89-e86d4e982d52)

[2022-02-14 03:00] matschaffer commented on #125401
So, in SM UI "Standalone Cluster" kicks in when you have monitoring documents with no `cluster_uuid` set. https://github.com/elastic/observability-dev/blob/main/docs/monitoring/monitoring-simulation-notes.md#standalone-cluster (internal) covers how to make some of those docs.

As far as I've seen only logstash can really enter this mode. Beats will show up in that UI occasionally, but I've only ev

[2022-02-14 05:04] kibanamachine commented on #125455
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10182#028af157-81ee-4594-8ae7-5385522a7fb0)

[2022-02-14 05:15] axw commented on #125409
++

One data point to back this up: the APM Server system tests are failing on our 8.1 branch because we're currently pinned to an older version of 8.1.0-SNAPSHOT Kibana, where the `branch` property in kibana/package.json is out of date and set to "main": https://github.com/elastic/kibana/blob/ec2090931b9e38c00f13f6865f4a164b6210bb5e/package.json#L15

This means all packages are being returned in

[2022-02-14 05:50] kibanamachine commented on #124986
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/10187#1bfdebdd-3502-4f5d-a042-1ef7d557ab14)

[2022-02-14 06:05] kibanamachine commented on #125455
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/10184#79f21753-04d2-49f5-be2b-9f44707a37c1)

[2022-02-14 06:09] karanverma-qasource opened #125465 "[Security Solution] "Activate/ Deactivate" or "Enable/Disable" both labels are available under rules tab."
**Describe the bug:**
"Activate/ Deactivate" or "Enable/Disable" both labels are available under rules tab.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Security-->> Rules tab.
2. Observe that "Enable\Disable" option is present for rules.
3. Open any elastic rul

[2022-02-14 06:09] elasticmachine commented on #125465
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 06:24] amolnater-qasource commented on #122625
Hi @mostlyjason
In continuation to https://github.com/elastic/kibana/issues/122625#issuecomment-1009723382
We are not able to install multiple agents on self-managed 8.0 with `https` protocol.

**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/153809024-508f4405-9758-48f2-a6e2-ad87de0e215a.JPG)

In this case we need `http` in Fleet Settings to keep the secondary agent healthy

[2022-02-14 06:25] amolnater-qasource commented on #122625
FYI @jlind23

[2022-02-14 07:04] elasticmachine commented on #125463
Pinging @elastic/ml-ui (:ml)

[2022-02-14 07:04] elasticmachine commented on #125455
Pinging @elastic/ml-ui (:ml)

[2022-02-14 07:05] kibanamachine commented on #125455
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/10189#ac64be19-6ee8-43a9-9f89-c64606f50e23)

[2022-02-14 07:05] elasticmachine commented on #125464
Pinging @elastic/ml-ui (:ml)

[2022-02-14 07:07] dikshachauhan-qasource commented on #118866
Hi @pgayvallet

Could you please provide us more details on how this ticket changes will impact Kibana UI. So that we can work upon validating the same.

Thanks
QAS

[2022-02-14 07:17] pgayvallet commented on #118866
@dikshachauhan-qasource This is mostly a technical change that shouldn't impact the UI in any way. The only test that could potentially be performed is to make sure that light/dark mode is still working as intended in all applications.

[2022-02-14 07:21] elasticmachine commented on #125452
Pinging @elastic/kibana-security (Team:Security)

[2022-02-14 07:21] elasticmachine commented on #125449
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:22] elasticmachine commented on #125440
Pinging @elastic/uptime (Team:uptime)

[2022-02-14 07:23] elasticmachine commented on #125377
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-14 07:24] elasticmachine commented on #125365
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-14 07:25] elasticmachine commented on #125353
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:25] elasticmachine commented on #125360
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-14 07:25] karanbirsingh-qasource commented on #125345
Adding additional observation for similar scenario related to this issue .

- **Associated User Section**

Scenario: Import case in instance where **alert does not exist**
Given an exported case with only 1 attached alert with host.id
When the case is imported to an instance where the alert does not exists
Then the Associated hosts KPI should display 1 **Fail** 🔴

![image](https://user-images.gith

[2022-02-14 07:26] elasticmachine commented on #125352
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:26] elasticmachine commented on #125351
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:26] elasticmachine commented on #125350
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:26] elasticmachine commented on #125349
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:26] elasticmachine commented on #125348
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:26] elasticmachine commented on #125261
Pinging @elastic/uptime (Team:uptime)

[2022-02-14 07:29] elasticmachine commented on #124791
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-14 07:31] elasticmachine commented on #124676
Pinging @elastic/fleet (Team:Fleet)

[2022-02-14 07:31] elasticmachine commented on #124475
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-14 07:31] elasticmachine commented on #124234
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-14 07:32] elasticmachine commented on #124068
Pinging @elastic/kibana-security (Team:Security)

[2022-02-14 07:32] elasticmachine commented on #124064
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:33] elasticmachine commented on #124045
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-14 07:34] elasticmachine commented on #123927
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-14 07:34] elasticmachine commented on #123902
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:34] elasticmachine commented on #123852
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:34] elasticmachine commented on #123784
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:35] elasticmachine commented on #123688
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:35] elasticmachine commented on #123687
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:35] elasticmachine commented on #123686
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:35] elasticmachine commented on #123685
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:35] elasticmachine commented on #123684
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:36] elasticmachine commented on #123683
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:36] elasticmachine commented on #123681
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:36] elasticmachine commented on #123672
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:36] elasticmachine commented on #123447
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-14 07:36] elasticmachine commented on #123537
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-14 07:37] elasticmachine commented on #123401
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-14 07:38] elasticmachine commented on #86216
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-14 07:38] elasticmachine commented on #50387
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-14 07:39] elasticmachine commented on #123424
Pinging @elastic/kibana-security (Team:Security)

[2022-02-14 07:40] elasticmachine commented on #123545
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:40] elasticmachine commented on #123546
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:40] elasticmachine commented on #123547
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:40] elasticmachine commented on #123548
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:41] elasticmachine commented on #124681
Pinging @elastic/unified-observability (Team:Observability)

[2022-02-14 07:44] elasticmachine commented on #123671
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:44] elasticmachine commented on #123670
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:44] elasticmachine commented on #123669
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:44] elasticmachine commented on #123668
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:44] elasticmachine commented on #123667
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:44] elasticmachine commented on #123666
Pinging @elastic/kibana-core (Team:Core)

[2022-02-14 07:44] elasticmachine commented on #123535
Pinging @elastic/apm-ui (Team:apm)

[2022-02-14 07:57] MadameSheema commented on #125354
@monina-n should show the menu options although the user does not have the correct privileges to update the status of the alert?

[2022-02-14 08:13] #124966 closed

[2022-02-14 08:24] flash1293 commented on #118882
Fixed by https://github.com/elastic/kibana/pull/125247

[2022-02-14 08:24] #118882 closed

[2022-02-14 08:25] cstegm commented on #85057
Hi, i have the same issue in 7.16.3 and 7.17.0

[2022-02-14 08:41] MadameSheema commented on #121756
@deepikakeshav-qasource can you please validate this on the current 8.1BC? Thanks!

[2022-02-14 08:42] MadameSheema commented on #121761
@deepikakeshav-qasource can you please validate this on the current 8.1BC? Thanks!

[2022-02-14 08:43] MadameSheema commented on #122213
@karanbirsingh-qasource can you please validate this on the current 8.1BC? Thanks!!

[2022-02-14 08:44] MadameSheema commented on #123138
@karanverma-qasource can you please validate the following issue on current 8.1BC? Thanks!

[2022-02-14 08:44] MadameSheema commented on #123209
@karanbirsingh-qasource can you please validate the fix of this issue on the current 8.1BC? Thanks! :)

[2022-02-14 08:46] #124327 closed

[2022-02-14 08:47] MadameSheema commented on #124360
@karanbirsingh-qasource can you please validate the fix of this issue on the current 8.1BC? Thanks!

[2022-02-14 08:47] MadameSheema commented on #125207
@karanbirsingh-qasource lets validate this on 8.1BC3, thanks!

[2022-02-14 08:49] karanbirsingh-qasource commented on #122213
Hi @MadameSheema

we have validated this issue on 8.1.0-BC2 and found that issue is fixed now ✔️

**Build Details**
[code]

**Screen-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/153830047-69148c4b-08ad-41e3-a19d-37ec30586491.png)

![image](https://user-images.githubusercontent.com/59917825/153830137-55ad8e52-f2bd-4b6a-9e20-4c48c9972732.png)

Hence we are closing this issue

[2022-02-14 08:49] #122213 closed

[2022-02-14 08:52] flash1293 commented on #90508
@bitkowitz Could you check whether it's still happening for you on 7.17/8.0 in Lens heatmap? It's using a new library to render the heatmap which should be more stable.

[2022-02-14 08:56] flash1293 commented on #125386
I checked and it seems like this is fixed:
![Kapture 2022-02-14 at 09 55 09](https://user-images.githubusercontent.com/1508364/153831521-47c1f7c0-4b19-4cc2-9ce5-627c0d1452bb.gif)

Closing, @MichaelMarcialis if this is about another case feel free to re-open

[2022-02-14 08:56] #125386 closed

[2022-02-14 09:01] azasypkin commented on #125381
Definitely! If `server.publicBaseUrl` is set explicitly, we should use it instead.

[2022-02-14 09:06] miltonhultgren commented on #125401
I think Kibana works the same way, that you first resolve the Elasticsearch cluster that it is connected to and only then can you display stats about Kibana? @matschaffer isn't that what we saw when trying to mock the UI with synthtrace?

[2022-02-14 09:08] karanverma-qasource commented on #123138
Hi @MadameSheema

We have validated this issue on 8.1.0 BC2 and observed that issue is Fixed. 🟢

[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/153831138-38401115-b931-471a-abb9-2bc62a68a6da.png)

![image](https://user-images.githubusercontent.com/91867110/153831184-53e79f90-d6dc-4f99-bd45-265c32f50552.png)

![image](https://user-images.githubusercontent.com/9

[2022-02-14 09:08] #123138 closed

[2022-02-14 09:13] flash1293 commented on #94609
+1 via https://github.com/elastic/kibana/issues/125377

[2022-02-14 09:14] flash1293 commented on #125377
This feature unfortunately doesn't exist yet, it's captured in https://github.com/elastic/kibana/issues/94609 Left a +1 there

[2022-02-14 09:14] #125377 closed

[2022-02-14 09:15] kfirpeled commented on #125270
So we are going towards our [first merge to kibana](https://github.com/elastic/kibana/pull/124816) (pretty big one) and hide it behind a feature flag. Than continuously merge changes until our release

[2022-02-14 09:18] #117819 closed

[2022-02-14 09:22] hop-dev commented on #74353
@amolnater-qasource "This integration is installed, but no assets are available in this space" should now be shown when viewing assets in a different space now that #125278  has been merged 👍

[2022-02-14 09:28] karanbirsingh-qasource commented on #123209
Hi @MadameSheema

we have validated this issue on 8.1.0-BC2 and found that issue is fixed now ✔️

**Build Details**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/153836604-2b2c0d75-9014-47f3-91ed-b11fff4d5a9a.mp4

Hence we are closing this issue .

thanks !!

[2022-02-14 09:28] #123209 closed

[2022-02-14 09:34] deepikakeshav-qasource commented on #121761
Hi @MadameSheema ,

We have Validated this issue on **8.1.0 BC2** and observed that issue is **Fixed**.

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/153837850-7b3b4ff6-a82f-4973-8989-180e598939bd.png)

Hence, We are closing this issue and marking as QA Validated.

[2022-02-14 09:35] #121761 closed

[2022-02-14 09:40] deepikakeshav-qasource commented on #121756
Hi @MadameSheema ,

We have Validated this issue on **8.1.0 BC2** and observed that issue is **Fixed**.

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/153838733-412e15b5-dd36-497f-9c3f-7630c2d934c4.png)

Hence, We are closing this issue and marking as QA Validated.

[2022-02-14 09:46] MadameSheema commented on #125059
This is working fine now on 7.17 latest branch (0ba63471c872209577b15c52a4e799483a64aee6). Thanks @banderror!!

[2022-02-14 09:46] #125059 closed

[2022-02-14 10:05] katsil commented on #124676
<img width="1347" alt="Снимок экрана 2022-02-14 в 13 04 48" src="https://user-images.githubusercontent.com/19670121/153843087-1cdbf626-139f-4079-8eb8-edb8ddb484a9.png">
<img width="1258" alt="Снимок экрана 2022-02-14 в 13 04 56" src="https://user-images.githubusercontent.com/19670121/153843105-61b33ada-4dff-48a8-a76e-ed86999a531c.png">

[2022-02-14 10:07] deepikakeshav-qasource opened #125473 "[Security Solution] Fields for Indicator alerts are not displayed under highlighted fields section of alert flyout"
**Describe the bug**
Fields for Indicator alerts are not displayed under highlighted fields section of alert flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Indicator alerts should be triggered

**Steps to Reproduce**
1. Click on Indicator alerts flyout
2. Observe that no information is displayed under highlighted fields section

**Actual Result**
Fields for Indic

[2022-02-14 10:07] elasticmachine commented on #125473
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 10:07] katsil commented on #124676
fleet-server under /var/log/elastic-agent, right?
[code]

kibana better to send via fle - https://t.s-hub.xyz/YPm8qR/ki.log
also elastic - https://t.s-hub.xyz/9SYVXc/e.zip

[2022-02-14 10:13] jsanz commented on #123927
Elastic Maps has a scale component since 7.12 by #88031,  but it needs to be activated from the `Map Settings` panel.

![image](https://user-images.githubusercontent.com/188264/153844447-7dfc50c8-a28e-47df-8394-a27cd93a6398.png)

[2022-02-14 10:13] #123927 closed

[2022-02-14 10:13] banderror commented on #125223
Fixed in:

- v8.2 (main branch): https://github.com/elastic/kibana/pull/124525
- v8.1: https://github.com/elastic/kibana/pull/125437

[2022-02-14 10:15] juliaElastic commented on #124676
are there any other logs in /var/log/elastic-agent?

[2022-02-14 10:16] deepikakeshav-qasource opened #125474 "[Security Solution] [Question]Rule Type is not displayed under the Highlighted fields section of alert flyout"
**Describe the bug**
Rule Type is not displayed under the Highlighted fields section of alert flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Alerts should be triggered

**Steps to Reproduce**
1. Click on alerts flyout
2. Observe that Rule Type is not displayed under highlighted fields section

**Actual Result**
Rule Type is not displayed under the Highlighted fie

[2022-02-14 10:16] elasticmachine commented on #125474
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 10:17] karanbirsingh-qasource opened #125475 "[Security Solution][Enhancement] Date & Time Duration for new KIP can be shown in full time/date format in tool tip"
**Describe the bug**
[Enhancement] Date & Time Duration for new KIP can be shown in full time/date format in tool tip

**Build Details**
[code]

**Pre-Conditions**
- Create  8.1.0-BC2 Build

**Steps**
- Create Case
- Set the Case status to `in-progress` and keep it as it is for long duration  **1 hour**
![image](https://user-images.githubusercontent.com/59917825/153841686-33381b2d-a180-496c-baa7-1

[2022-02-14 10:17] elasticmachine commented on #125475
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 10:19] manishgupta-qasource commented on #125475
Reviewed & assigned to @MadameSheema

[2022-02-14 10:21] MadameSheema commented on #125473
Thanks @deepikakeshav-qasource!! :)

Can you please attach the json of the alert and the json of the rule? moreover, which version of filebeat you were using to generate the alert?

[2022-02-14 10:22] elasticmachine commented on #125475
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-14 10:22] elasticmachine commented on #125475
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-14 10:24] banderror commented on #124918
Okie, so the server-side logic has been fixed in https://github.com/elastic/kibana/pull/124525 and will be released in `8.1.0`. I think we can work on the UI improvements as part of the 8.2 dev cycle (release in `8.2.0` and maybe `8.1.1+`).

[2022-02-14 10:26] deepikakeshav-qasource commented on #125473
Sorry for the confusion @MadameSheema ,

Please find the attached json of Rule and alert

**Rule**
[Indicator rule.zip](https://github.com/elastic/kibana/files/8059881/Indicator.rule.zip)

**Alerts Json**
[indicator_rule_alert_json.txt](https://github.com/elastic/kibana/files/8059882/indicator_rule_alert_json.txt)

**We are using filebeat 8.1.0**

Thanks!!

[2022-02-14 10:29] karanbirsingh-qasource commented on #124360
Hi @MadameSheema

we have validated this issue on current BC i.e 8.1.0-BC2 and found that issue is fixed for `Total Alert` KPI ✔️ , but not for the` Associated Users` and `Associated  hosts` ❌

**Build Details**
[code]

Screen-Shoot:

- Exported Case Details
-  Case list Page : Alert : **01**
-  Case Details Page : Total Alert : **01**

![image](https://user-images.githubusercontent.com/59917825/1

[2022-02-14 10:31] cnasikas opened #125479 "[Case] Cases on the stack"
## Overview

The primary goal of this document is to list all decisions and actions for enabling Cases to the Stack Management.

## Architecture
Cases in the stack management should be considered as the main cases plugin. It will be positioned under Rules and Connectors in the Alerts and Insights category of the management page.

### RAC
Different solutions can integrate Cases into their plugins.

[2022-02-14 10:31] elasticmachine commented on #125479
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-14 10:31] elasticmachine commented on #125479
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-14 10:32] deepikakeshav-qasource opened #125480 "[Security Solution] Fields for ML alerts are not displayed under highlighted fields section of alert flyout"
**Describe the bug**
Fields for ML alerts are not displayed under highlighted fields section of alert flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. ML Alerts should be triggered

**Steps to Reproduce**
1. Click on ML alerts flyout
2. Observe that anomaly threshold and Machine learning job fields is not displayed under highlighted fields section

**Actual Result*

[2022-02-14 10:32] elasticmachine commented on #125480
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 10:33] katsil commented on #124676
yes, nginx logs under /var/log/access.log*
full elk log: https://t.s-hub.xyz/xw9hub/agent.log

the problem is that even there is no "usual logs" (second screenshot) under elastic-agent (`z-front1`)

<img width="836" alt="Снимок экрана 2022-02-14 в 13 32 49" src="https://user-images.githubusercontent.com/19670121/153847582-733620eb-5528-4352-bd25-66a3dfb32759.png">

[2022-02-14 10:37] amolnater-qasource opened #125481 "[Fleet]: Agent policy name not incremented itself when one policy is created with system settings off."
**Kibana version:**  8.1 Snapshot Kibana self-managed environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.1 Snapshot Kibana self-managed environment should be available.
2. Fleet Server must be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Click Add Agent flyout and observe Create polic

[2022-02-14 10:37] elasticmachine commented on #125481
Pinging @elastic/fleet (Team:Fleet)

[2022-02-14 10:38] amolnater-qasource commented on #125481
@manishgupta-qasource Please review.

[2022-02-14 10:44] katrin-freihofner opened #125483 "[APM UI] create alert: switching to a different alert type does not update the pre-filled name"
**Kibana version:**
8.1, running locally (connected to edge)

**Browser version:**
Chrome 98.0.4758.80

**Browser OS version:**
Mac OS

**Describe the bug:**
When creating a new alert and switching between alert types, the alert name (pre-filled) does not update.

**Steps to reproduce:**
1. Navigate to APM, click on alerts in top menu bar -> create new latency anomaly alert
2. then click the alert

[2022-02-14 10:44] elasticmachine commented on #125483
Pinging @elastic/apm-ui (Team:apm)

[2022-02-14 10:45] cnasikas commented on #125475
Thank you @karanbirsingh-qasource for the feedback! I will put it in our backlog and discuss it with the team.

[2022-02-14 10:54] manishgupta-qasource commented on #125481
Reviewed & mention to @juliaElastic

[2022-02-14 10:59] MadameSheema commented on #125223
@deepikakeshav-qasource can you please validate it on 8.1BC3? Thanks!!

[2022-02-14 11:01] dikshachauhan-qasource commented on #89827
Hi @ruflin

Could you please be able to provide us info on AC of this ticket. Majorly, about how can we validate the merges whenever available.

Thanks
QAS

[2022-02-14 11:31] #124818 closed

[2022-02-14 11:42] banderror commented on #120872
@ymao1 thanks a lot for the clarification, makes sense to me!
Do you think the PR you mentioned fixes https://github.com/elastic/kibana/issues/118520 as well?

@deepikakeshav-qasource @MadameSheema I think we're good here 👍

[2022-02-14 11:47] joshdover commented on #125379
If the `kibana.yml` is getting updated whenever Integration Server is added to a deployment, we could probably update the stackpack to specify the Fleet Server host only when it's enabled instead of relying on the `cloudId` and `deploymentId`. I think we'd just need to add something like this (and remove our current logic):

[code]

I prefer this because it moves this decision to the orchestration

[2022-02-14 11:53] janmonschke commented on #122323
The fix mentioned above targets 8.2 and now there is another fix for this that targets 8.1 -> https://github.com/elastic/kibana/pull/125428

[2022-02-14 11:54] elasticmachine commented on #125465
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 11:57] joshdover commented on #74353
@hop-dev Anything remaining that we need to keep this issue open for? The only unchecked items are these and I believe we decided not to pursue this UX for now.

[2022-02-14 12:07] samratbhadra-qasource commented on #124939
Hi @kpollich
We have revalidated this issue on the latest 8.0.1-Snapshot build and observed that the issue is **fixed** now. Please find below the testing details.

- User is able to access Fleet tab on changing Elastic APM integration name.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/153861043-bb502158-c965-4c90-85e5-61aeb03281bc.mp4

**Build details:**
VERSION: 8.0

[2022-02-14 12:08] joshdover commented on #124004
I checked this out and <0.25% of all clusters are using custom agent policies in preconfiguration. I don't know what % of those are specifying an `id` but I think this very small level of usage warrants considering making the `id` required if it allows us to implement this in a safer more stable way.

[2022-02-14 12:10] deepikakeshav-qasource opened #125491 "[Security Solution] `dns question name` field for DNS events are not displayed under highlighted fields section of alert flyout"
**Describe the bug**
`dns question name` field for DNS events are not displayed under highlighted fields section of alert flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. DNS events alerts should be triggered

**Steps to Reproduce**
1. Click on DNS events alerts flyout
2. Observe that dns question name field for DNS events are not displayed under highlighted fields

[2022-02-14 12:10] elasticmachine commented on #125491
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 12:10] joshdover commented on #125379
@gcpagano Does this make sense to you? Is it true that the `kibana.yml` is updated and Kibana is restarted when an Integrations Server is added to a deployment for the first time. Do we need anything from Cloud to add this type of logic to the stackpack?

[2022-02-14 12:12] juliaElastic commented on #124676
is Elasticsearch host configured correctly under Fleet Settings tab?

[2022-02-14 12:21] deepikakeshav-qasource opened #125492 "[Security Solution] `ransomware feature` and `process hash sha 256` fields for Ransomware alert are not displayed under highlighted fields of alert flyout"
**Describe the bug**
`ransomware feature` and `process hash sha 256` fields for Ransomware alert are not displayed under highlighted fields section of alert flyout

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Ransomware alerts should be triggered

**Steps to Reproduce**
1. Click on ransomware alerts flyout
2. Observe that ransomware feature and process hash sha 256 fi

[2022-02-14 12:22] elasticmachine commented on #125492
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 12:32] dikshachauhan-qasource opened #125494 "Enhancement: Provide a Note to ignore prefix value provided at Cloud ID."
**Issue concerns of suggestion:** The Cloud ID doesn’t update at Kibana when deployment name is updated at deployment page, even on Kibana Restart. Thus causing an ambiguity on the values provided at deployment page and at Kibana. Because, it’s just there for human-readability and isn’t used for connecting to the cluster, so it’s slightly stale. Therefore, currently, fixing it is bit complex, so w

[2022-02-14 12:33] elasticmachine commented on #125494
Pinging @elastic/fleet (Feature:Fleet)

[2022-02-14 12:38] ThomSwiss commented on #104987
For our company, the output to kafka or at least to logstash is realy important. I would like to deploy more than 10'000 Elastic Agents in our company but I don't like to send the data directly as elasticsearch outplut.  Is there a plan to implement this?

[2022-02-14 12:42] joshdover commented on #125409
I've opened a self-contained PR for this: https://github.com/elastic/kibana/pull/125495

[2022-02-14 12:46] dikshachauhan-qasource commented on #112095
Hi @joshdover

We have not done any specific testing around against ECE, however, If you can specify details around it, then we can test that out.

Further, we are working upon creating proposed test cases around this ticket and have created at docs.google.com/document/d/1ZiNCav63V87Q8BH0rJCrHapTvNBz6rZXEkiyYiGw8fQ/edit#

Could you please take some time to look and confirm, if coverage done there

[2022-02-14 12:50] miltonhultgren opened #125496 "[Logs UI] Improve error handling when using undefined remote cluster in source settings"
## 📓 Summary

~🚫 Blocked until #159128  is implemented.~

The current implementation for the Logs UI setting page doesn't work well when a user configures an invalid index pattern, not handling properly a failing response (HTTP status 500) from the server:
[code]

## 👣 Reproduction steps
1. Enter the Logs UI Settings page.
2. Fill in an index name pattern that includes a remote cluster that is not

[2022-02-14 12:50] elasticmachine commented on #125496
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-14 12:51] janmonschke commented on #125491
We will soon fix this with https://github.com/elastic/kibana/pull/124941

[2022-02-14 12:51] juliaElastic commented on #124004
Okay, we can make the id required as a separate enhancement.

However as for this bug, should we allow recreating preconfigured non-managed policies? It sounds like it is not the best approach since it is a requirement not to recreate deleted non-managed policies.

Alternatively we can leave this bug as is, and see how much removing the dependency on EPR reduces the issue occurrence.

[2022-02-14 12:53] manishgupta-qasource commented on #125494
Reviewed & assigned to @joshdover

[2022-02-14 13:03] cnasikas commented on #124360
Hi, @karanbirsingh-qasource and @MadameSheema. Alerts are not exported when you export a case. If you go to another environment where the alert (or the index) does not exist cases cannot find the information needed to update the counts. We do not save the alert's information inside cases. We query the alert's index to find the alerts to get the information. If you import a case to a different spac

[2022-02-14 13:03] katsil commented on #124676
<img width="1213" alt="Снимок экрана 2022-02-14 в 16 03 23" src="https://user-images.githubusercontent.com/19670121/153869282-68d1bf12-79e7-4686-b117-538d1bc50fa3.png">

i guess so.

<img width="900" alt="Снимок экрана 2022-02-14 в 16 03 41" src="https://user-images.githubusercontent.com/19670121/153869339-cbb37bed-4d8d-4d05-84ec-68be729aaa98.png">

[2022-02-14 13:04] miltonhultgren opened #125498 "[Infra UI] Support using Data views in UI"
Similar to the Logs UI, we should support Data views in the Infra UI

- Cross-Kibana linking such as between Discover and Infra
- Linking to Infra UI with a data view (or index pattern string) on the fly (in the URL) to match a data view specified in an alert
    - https://github.com/elastic/kibana/pull/149989
    - https://github.com/elastic/kibana/issues/179053
- Allowing the user to save differ

[2022-02-14 13:04] elasticmachine commented on #125498
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-14 13:04] banderror opened #125500 "[Security Solution][Detections] Return updated rules from the "bulk actions" endpoint"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

Currently, the "bulk actions" endpoint doesn't return the rules it updates successfully. This forces us to invalidate the cache of loaded rules on the client after any bulk operation, and potentially load 100s and 1000s of rules if the table is in the "experimental in-memory" mode.

We want the "bulk actions" endpoint to r

[2022-02-14 13:04] elasticmachine commented on #125500
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 13:04] elasticmachine commented on #125500
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 13:11] ymao1 commented on #120872
@banderror I think the PR addresses one of the causes of [#118520](https://github.com/elastic/kibana/issues/118520). As noted in [this comment](https://github.com/elastic/kibana/issues/118520#issuecomment-971622154), there are a few other ways that this could happen as well so I don't think we can quite close that issue yet.

[2022-02-14 13:17] banderror opened #125502 "[Security Solution][Detections] Remove the bulk editing feature switch"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

Remove the feature switch for the Bulk Editing functionality we introduced in the 8.1 dev cycle. We need to remove it before the 8.1 release.

- `rulesBulkEditEnabled` experimental flag from the config
- its usage from the server- and client-side code

[2022-02-14 13:17] elasticmachine commented on #125502
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 13:17] elasticmachine commented on #125502
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 13:22] banderror opened #125503 "[Security Solution][Detections] Update the docs for Bulk Editing"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

- [x] ~Describe the new bulk editing UI.~ UPD: security-docs team will take care of this ([PR](https://github.com/elastic/security-docs/pull/1621))
- [x] Update the docs for the bulk actions REST API ([PR](https://github.com/elastic/security-docs/pull/1317))

[2022-02-14 13:22] elasticmachine commented on #125503
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 13:22] elasticmachine commented on #125503
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 13:28] #111019 closed

[2022-02-14 13:31] banderror opened #125504 "[Security Solution][Detections] Remove the Tour for the new 8.1 features"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

Remove the Tour UI we added to the Rule Management page for the new features introduced in 8.1: Bulk Editing and Experimental Sorting.

The Tour UI has been added in this PR: https://github.com/elastic/kibana/pull/124343

[2022-02-14 13:31] elasticmachine commented on #125504
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 13:33] #124945 closed

[2022-02-14 13:33] #14755 closed

[2022-02-14 13:38] banderror opened #125508 "[Security Solution][Detections] Measure performance of bulk editing"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

Measure performance of bulk editing in the following conditions:

- 1 Kibana + 1 ES instance
- 600 rules, 1200 rules, 3000 rules
- All rules disabled, 1/2 rules disabled, all rules enabled

We will need to measure it before and after optimizing the performance of the bulk actions endpoint: https://github.com/elastic/kibana

[2022-02-14 13:38] elasticmachine commented on #125508
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 13:38] elasticmachine commented on #125508
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 13:42] banderror opened #125509 "[Security Solution][Detections] Optimize performance of bulk editing"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

Optimize performance of the "bulk actions" endpoint. Implement bulk get and bulk update methods in `RulesClient` and use them in it.

- [ ] Implement bulk update method in `RulesClient`: https://github.com/elastic/kibana/issues/124715
- [ ] Implement bulk get method in `RulesClient`
- [ ] Use bulk update and bulk get metho

[2022-02-14 13:42] elasticmachine commented on #125509
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 13:42] elasticmachine commented on #125509
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 13:43] stratoula opened #125510 "[Visualize] Set legends pixel width"
**Describe the feature:**
As described here https://github.com/elastic/kibana/issues/123803 we would like to also support this new setting for the visualize editor charts.

We need a new number input for the user to specify the legend width. (This should be part of the viz editor plugin as it will be easier managed and added to all the viz charts that support a legend). We don't want to add it in

[2022-02-14 13:43] elasticmachine commented on #125510
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-14 13:45] cnasikas commented on #125346
Thank you @karanbirsingh-qasource for the feedback. This is interesting. On all cases pages we just count how many attachments (of type alert) the case has and on the KPI inside the single case view of unique alerts. I need to discuss it with the team and decide which one makes more sense to our users.

[2022-02-14 13:47] #124795 closed

[2022-02-14 13:49] hop-dev commented on #74353
I think you're right, cross space linking was ruled out so I'm closing 👍

[2022-02-14 13:49] #74353 closed

[2022-02-14 13:49] cnasikas commented on #125345
Hi, @karanbirsingh-qasource and @MadameSheema. As discussed in https://github.com/elastic/kibana/issues/124360, Alerts are not exported when you export a case. If you go to another environment where the alert (or the index) does not exist cases cannot find the information needed to update the counts. We do not save the alert's information inside cases. We query the alert's index to find the alerts

[2022-02-14 13:58] banderror opened #125512 "[Security Solution][Detections] Implement a "dry run" mode for the "bulk actions" endpoint"
**Epic:** https://github.com/elastic/security-team/issues/1973

## Summary

With the addition of [more and more checks](https://github.com/elastic/kibana/issues/124918#issuecomment-1034170629) we need to perform before allowing the user to proceed with bulk editing, it started to make sense to do all these checks in the "bulk actions" endpoint - where we run the actual bulk editing logic on the se

[2022-02-14 13:58] elasticmachine commented on #125512
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 13:58] elasticmachine commented on #125512
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 14:01] kibanamachine commented on #123372
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/10217#64e0dadf-7c41-4cf1-bc7d-afe4703bdc3c)

[2022-02-14 14:03] joshdover commented on #124676
Hello there, I think the problem is the `localhost:9200` you're using for the ES host. The only logs I see working are from the Agent on the Fleet Server policy, which you mentioned is running on the same host, but the other agents are running on other hosts I presume, so I don’t think they can access the `localhost:9200` address. Agents need access to both Fleet Server and Elasticsearch to be abl

[2022-02-14 14:19] katsil commented on #124676
Oh, so that's the problem! I thought the agents work directly and should not connect to the elastic server! Thanks, let's try it now

[2022-02-14 14:21] prachigupta-qasource commented on #124813
Hi @MadameSheema ,

We have observed that `threshold terms` and `threshold cardinality` fields not displayed after upgrade the build to **8.1.0**.

**Build Details:**
[code]
**Screenshots**

![bug _1](https://user-images.githubusercontent.com/97870262/153881005-4be2d624-2a7a-4ca0-be56-63e0269550b1.png)

Thanks!

[2022-02-14 14:21] mostlyjason commented on #74614
@kpollich what about updating the browse tab? It'd be nice to show the cards for bundled packages here as well. If we do that, we should update the warning text to say something more generic like "Kibana is not able to retrieve integrations from the Elastic Package Registry." The reason is that EPR is no longer the only source of Elastic Agent integrations.

[2022-02-14 14:22] #122015 closed

[2022-02-14 14:29] janmonschke opened #125519 "[SecuritySolution] Enriched Threshold fields can show inconsistent values"
![image](https://user-images.githubusercontent.com/68591/153880351-df596136-0bec-4fce-a8db-6849fdac78ca.png)

The field values for the rows `host.name [threshold]` and `host.id [threshold]` from the screenshot above are dynamically generated based on the threshold rule's `group by` fields. To achieve that we're reading out the `Group by` terms from `kibana.alert.threshold_result.terms.field` which

[2022-02-14 14:42] kpatticha commented on #125211
it's blocked by https://github.com/elastic/kibana/issues/123399

[2022-02-14 14:43] pgayvallet commented on #117490
I performed some testing around the performance and bandwidth impact of enabling compression for the Kibana<->ES communications.

## Bandwidth

I couldn't find any proper way to monitor the bandwidth usage when running the load tests, so I felt back to using a homebrew proxy between Kibana and ES to monitor the request and response size of some queries while manually navigating within Kibana.

No

[2022-02-14 14:49] lizozom commented on #124147
Thanks for the input.

I think that as we move forward to collect data from customer deployments, we'll find the need to be able to customize this, but at the moment, I think this is not a high priority. 🙏🏻

[2022-02-14 14:53] jesslm commented on #74353
When should we be able to see this fix in a production deployment?  I'm running an 8.0 cluster (updated last week) and it's still showing "no assets found".

[2022-02-14 14:55] #113868 closed

[2022-02-14 14:56] MiriamAparicio commented on #113267
A partial fix was made removing the colour icon on the tooltip
https://github.com/elastic/kibana/pull/113437

[2022-02-14 14:58] flash1293 commented on #86728
Closing this issue because this is supported in Lens visualizations. This is very close to https://github.com/elastic/kibana/issues/93400 - the way TSVB does its sorting isn't completely intuitive, but doing small changes here and there will only make it harder to figure out what's going on. This is how TSVB sorts: By the metric selected either in the "Group by" section of the data panel or by cli

[2022-02-14 14:58] #86728 closed

[2022-02-14 15:03] ThomThomson commented on #120035
A Query DSL templating feature would be extremely helpful for some control types. Specifically [this](https://github.com/elastic/kibana/issues/124791) request could be fulfilled with an Options List control configured to insert its selection into the `key` portion of a `terms lookup query`.

[2022-02-14 15:04] darnautov opened #125522 "[QA] FTR service for XHR logging"
For certain scenarios, it'd be valuable to check the number of completed or ongoing XHRs, e.g.

- On page open, only N XHRs happened
- On certain events or user interactions only N XHRs requests happened

It allows asserting that state changes don't trigger redundant API calls.

[2022-02-14 15:05] ThomThomson commented on #124791
We are currently building a new version of the Controls system, and we are looking for new use-cases to cover. This seems like a potential candidate so I have created a note in our current [meta issue](https://github.com/elastic/kibana/issues/120035).

[2022-02-14 15:16] ThomThomson commented on #123401
hi @alah64, the dashboard application state was intentionally removed from the URL in 7.14.0. I am going to close this issue as no specific problem that this causes was mentioned. If you have any specific problems we can re-open this issue to discuss workarounds!

[2022-02-14 15:23] ThomThomson commented on #123447
Looks like this is caused by the infra plugin not loading correctly - here is the screenshot artifact:

<img width="1209" alt="Screen Shot 2022-02-14 at 10 21 37 AM" src="https://user-images.githubusercontent.com/14276393/153892482-c9bc4385-76a3-46b1-95f3-a8221c236122.png">

[2022-02-14 15:25] kpatticha commented on #117535
We should make sure that the request won't timeout if there are many environment to fetch

[2022-02-14 15:47] mistic commented on #123372
Skipped.

main: [09ff04d](https://github.com/elastic/kibana/commit/09ff04db0933d20d281e6279d9f0757da970cbbb)
8.1: [40006d2](https://github.com/elastic/kibana/commit/40006d243c8d4aee8bf316564d7f87e1ccd73518)
8.0: [dbe08f0](https://github.com/elastic/kibana/commit/dbe08f096b2a17c682ce4c2769376e552e24e0ca)

[2022-02-14 15:50] kibanamachine commented on #123253
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/10224#41b058e2-e1f6-457c-a533-1d7045d6f3eb)

[2022-02-14 16:00] joshdover commented on #124004
I'm +1 on this for now unless we see this issue more widespread in 8.1+ clusters

[2022-02-14 16:09] #125443 closed

[2022-02-14 16:18] liza-mae commented on #106373
@mistic can you take a look?

[2022-02-14 16:19] #123030 closed

[2022-02-14 16:21] hop-dev opened #125534 "[Fleet] Agent Install Flyout Redesign"
First part of #80841.

From parent issue:

"We want to improve our agent installation instructions to minimize the time for the user to get started. We also want to maximize the percent of users who are successful installing it, so we want to remove friction points and provide assistance when they get stuck."

## Implementation Checklist
Extracted from [designs](https://docs.google.com/document/d/

[2022-02-14 16:21] elasticmachine commented on #125534
Pinging @elastic/fleet (Team:Fleet)

[2022-02-14 16:22] elasticmachine commented on #125519
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-14 16:46] ph commented on #120616
@joshdover +1 to delay it, the changes in the setup logic have not been easy, we will improve.
Could we prioritize an automated test for 8.2 for cloud this will help us iterate on 8.3.

[2022-02-14 16:47] ThomThomson commented on #123401
That's totally understandable @alah64, we actually added a [PR](https://github.com/elastic/kibana/pull/109354) to support a similar use case where a developer was _pushing_ filters into an iframe dashboard via the URL. Your use case seems to be reading updates from the URL instead, but you could potentially work around that by using pinned filters in the iframe dashboard. Pinned filters will alway

[2022-02-14 16:47] stratoula opened #125539 "[TSVB2Lens] Missing features on the timeseries charts support"
**Describe the feature:**
Part of https://github.com/elastic/kibana/issues/115034

https://github.com/elastic/kibana/pull/114794 allows the users navigate to Lens carrying their current configuration. There are some things that could also been supported (reported by @flash1293 ):

- [ ] Static value translated into reference line layer https://github.com/elastic/kibana/pull/126903
- [x] Top hit tr

[2022-02-14 16:47] gils3nan opened #125540 "[Integrations] Atlassian Jira/Confluence Cloud Integration"
**Describe the feature:**
Including in the Atlassian Jira/Confluence integration. At the moment is only works with Self Hosted Jira/Confluence. The API endpoints for both are different so at the moment the Atlassian Jira/Confluence integration does not work with Cloud Jira/Confluence accounts.

Would be great for the same integration configuration settings for both. But for the integration to be c

[2022-02-14 16:47] elasticmachine commented on #125539
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-14 16:50] darnautov opened #125541 "Time filter Refresh interval validation"
<img width="789" alt="image" src="https://user-images.githubusercontent.com/5236598/153908690-fdadfb6f-841e-4333-9ca2-a1102b89fc3a.png">

[2022-02-14 16:50] ogupte opened #125542 "[APM] Move APM-specific validations from Fleet UI to APM settings form"
In #124336, we fixed validation errors related to duration fields by appending the duration unit (`s` for seconds) to values after those values are already passed to the Fleet custom UI extension onChange handler.

Currently, we assume loaded values are already valid, which is not always the case. This results in validation error being raised to the user immediately upon changing any settings valu

[2022-02-14 16:51] elasticmachine commented on #125542
Pinging @elastic/apm-ui (Team:apm)

[2022-02-14 16:51] mistic commented on #106373
@nikola6789 could you check if running `RUN cd /home/my_user/kibana && npm install --global --unsafe-perm @bazel/bazelisk@1.10.1 && yarn kbn bootstrap RUN ` temporarily solves it? If it does maybe we could change our bootstrap logic to also do that while we dont found / work on a better solution.

[2022-02-14 16:55] flash1293 commented on #123176
@alexwizp still working on this? If not please-unassign

[2022-02-14 16:55] #125481 closed

[2022-02-14 16:58] flash1293 commented on #125378
Discussed offline and the described case is rare enough to not make a special handling worthwhile

[2022-02-14 16:58] #125378 closed

[2022-02-14 17:00] nikola6789 commented on #106373
@mistic Yes - it work! Switching back to `kibana` user and installing `bazelisk` before `yarn kbn bootstrap` solves my problem.
Thanks a lot!

[2022-02-14 17:00] cauemarcondes opened #125546 "[APM] [Span link] Generate test data with span links"
We need to generate data with span link on synthtrace. More details can be found here https://github.com/elastic/observability-dev/issues/1947

[2022-02-14 17:00] elasticmachine commented on #125546
Pinging @elastic/apm-ui (Team:apm)

[2022-02-14 17:08] bhavyarm opened #125547 "Kibana still displays could not locate that index pattern..... on dashboard panels with missing data views"
**Kibana version:** 8.1.0

**Elasticsearch version:** 8.1.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If a data view of a saved object is missing  - dashboard panels are still displaying that **index pattern** could not be foun

[2022-02-14 17:10] #116424 closed

[2022-02-14 17:10] mdefazio commented on #124346
Updated space selector flyout mockup to include search

[2022-02-14 17:35] ThomThomson commented on #125547
I believe this is a problem with the individual panel type, and should be reassigned to that team. @bhavyarm, which panel type still says `index pattern`?

[2022-02-14 17:54] bhavyarm opened #125559 "Lens dataview not found screen should point out the option of switching the data view too"
**Kibana version:** 8.1.0

**Elasticsearch version:** 8.1.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Lens "click here to create dataview" screen should also mention to the user about the option to switch the data view.
<img w

[2022-02-14 17:54] elasticmachine commented on #125559
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-14 17:55] katrin-freihofner commented on #123581
![Flyout - Create Alert part 1](https://user-images.githubusercontent.com/20965076/153919586-548dc486-a28e-4dc2-9564-bf68c7d8d7d4.png)

[2022-02-14 18:09] katrin-freihofner opened #125561 "[Obs alerts list] UX improvements to Alerts table"
**Kibana version:**
8.1 build locally with edge data

**Browser version:**
Version 98.0.4758.80

**Browser OS version:**
Mac OS

**Describe the bug:**
<img width="1341" alt="Screenshot 2022-02-14 at 19 00 16" src="https://user-images.githubusercontent.com/20965076/153920546-a1f0f493-4bfe-4052-8484-493967e87014.png">

**Steps to reproduce:**
1. Visit the alerts view (with some rules enabled)

**Exp

[2022-02-14 18:22] nreese commented on #124976
Background

Canvas added support for by-value embeddable in 8.0. Canvas uses server embeddable to extract references from embeddable. Since maps does not register `extract` in server-side embeddable, by-value maps embedded in canvas will not expose index pattern references to canvas. This will only effect newly created canvas in 8.0 and onwards that use by-value maps.

Original extract logic added

[2022-02-14 18:55] nchaulet opened #125567 "[Fleet] Cloud integration server"
## Descrption

In the Fleet UI we link to "Fleet & APM" when the user do not have any Fleet server configured or if all the Fleet servers are unhealthy. We should probably update the UI to link to the new "Integration Server".

How this will work for user migrating from "Fleet & APM" to "Integration server" I do not think we have a way to detect that in Kibana.

cc @joshdover @simitt

[2022-02-14 18:55] elasticmachine commented on #125567
Pinging @elastic/fleet (Team:Fleet)

[2022-02-14 19:35] kibanamachine commented on #60181
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/10241#81bdafb3-f50e-459d-9f5c-55e28e57daaf)

[2022-02-14 20:00] melissaburpo commented on #125355
Resolved in https://github.com/elastic/kibana/pull/125425

[2022-02-14 20:00] #125355 closed

[2022-02-14 20:05] jen-huang commented on #80841
@hop-dev Hi Mark, thanks for creating #125534. A few items were adjusted in our 8.2 plans, so now I believe we have enough time to complete all items for this effort, including the Fleet Server parts. Could I ask you to 1) create a similar issue for Fleet Server onboarding changes and 2) clean up the description of this issue to link to the two children issues? Thank you!

[2022-02-14 20:10] lukasolson commented on #124538
Awesome! Thanks for doing these benchmarks. Since we are moving "cloud first" and the gains with `bfetch` are not significant, I tend to lean towards removing `bfetch` for the reasons you listed.

[2022-02-14 20:14] mostlyjason commented on #122625
@amolnater-qasource can you describe the exact test scenario for this? Is this with multiple endpoint agents, multiple fleet servers using HTTPS only, one fleet server using HTTPS and one using HTTP?

[2022-02-14 20:33] banderror opened #125574 "[Security Solution][Detections] Update rules cache instead of invalidating it"
**Epic:** https://github.com/elastic/security-team/issues/1972
**Depends on:** https://github.com/elastic/kibana/issues/125500

## Summary

Currently, in most cases when the user modifies rules (e.g. bulk enables, disables, adds index patterns, etc), we invalidate the whole cache of loaded rules, which leads to reloading it on the client. In the "experimental in-memory" rules table mode, this can

[2022-02-14 20:33] elasticmachine commented on #125574
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-14 20:33] elasticmachine commented on #125574
Pinging @elastic/security-solution (Team: SecuritySolution)