[2022-06-30 15:43] liza-mae commented on #133838
**Version: 8.3.1**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/artifact_entries_list·ts**
**Stack Trace:**
[code]
**Other test failures:**
- endpoint For each artifact list under management When on the Blocklist entries list should be able to update an existing Blocklist entry
- endpoint For each artifact list under management When on the Host is

[2022-06-30 15:43] elasticmachine commented on #135571
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-06-30 15:43] elasticmachine commented on #135572
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-06-30 15:43] elasticmachine commented on #135574
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-06-30 15:43] elasticmachine commented on #135573
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-06-30 15:43] elasticmachine commented on #135575
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-06-30 15:47] teresaalvarezsoler commented on #128308
@afharo is this then fixable?

[2022-06-30 15:53] constancecchen commented on #135351
@kertal I just merged a fix (https://github.com/elastic/eui/pull/6013) into EUI main which will use the `displayAsText` field (falling back to `id` if not specified) of your data grid `columns` object config. This should land into Kibana in 1-2 weeks. Hope that helps!

[2022-06-30 15:55] teresaalvarezsoler commented on #134369
What about:

Label: Remove timeout for displaying values
Tooltip: When the control values take longer to retrieve, wait the necessary time instead of throwing a timeout. This option is useful for big volumes of data since users will always find the value they are searching for but it will also make the values retrieval significantly slower.

[2022-06-30 15:59] criamico opened #135579 "[Fleet] Specify a different source_uri per agent policy in bulk upgrade actions"
Follow up of https://github.com/elastic/kibana/issues/133828

We want to be able to specify a `source_uri` per agent policy and write it to `.fleet-actions `so that elastic agent can read it.

At the moment, though, we are writing [only one document per action](https://github.com/elastic/kibana/pull/131826/files) instead than one per agent and so we are passing the same set of options for all the

[2022-06-30 15:59] elasticmachine commented on #135579
Pinging @elastic/fleet (Team:Fleet)

[2022-06-30 16:02] cnasikas commented on #134595
Thank you, @lukeelmers. As long as the way to refer to user profiles is standardized (which seems to be the case with the helper functions) so we can migrate in the future if supported by Core, it is ok to put the references to the Cases' SO. About the imports, I think it is ok (@alexfrancoeur @arisonl correct me if I am wrong) to not show a warning on imports at the moment. We can show a warning

[2022-06-30 16:05] nchaulet commented on #135579
Actually I do not think we need to change the upgrade code, you could configure `agent.download.sourceURI` in the agent policy  so we should probably change the agent policy generation to include that field

[2022-06-30 16:08] #131226 closed

[2022-06-30 16:09] cjcenizal commented on #27758
Posible dupe of https://github.com/elastic/kibana/issues/52608

[2022-06-30 16:09] kpollich commented on #135579
We're doing this too, but there's an issue where agent doesn't reload its policy during runtime, per @michalpristas

@michalpristas - it would be much more stable and approachable for Fleet UI to simply write to the agent policy for this source URI setting rather than include it in the upgrade action. Because we might have a bulk upgrade of 50k agents, we'd have to do a lot of querying to resolve

[2022-06-30 16:10] criamico commented on #135579
@nchaulet I think that it won't be enough because fleet-server at the moment doesn't pick up changes in the policy. We had a discussion with the elastic agent team where we realised that there is no hot reloading at the moment.

[2022-06-30 16:12] vitaliidm commented on #126046
Per Simplified Detection & Protection discussion, at this point of time we just want to change text under index pattern controller: to make it more similar to helper text on rule create/edit page and remove any misinterpretations from it.
Enhancement, that adds custom index patterns to dropdown can be postponed until request from customers

For *Add index*:

For *Delete index*:

<img width="1530"

[2022-06-30 16:12] semd commented on #134824
Hi @karanbirsingh-qasource ,
I've talked with the UX team and they confirmed to me that this is the correct image they want to show, it doesn't have to be a screenshot or even match the actual page, it should be a reference only. They want to keep this one by now and see how it works.
Closing it. Thanks for reporting!

[2022-06-30 16:38] klacabane commented on #134467
Paired with @crespocarlos today and we made great progress :) We ended not defining a new inventory model but adding additional metrics in the container model similar to what the [host metrics directory does](https://github.com/elastic/kibana/tree/main/x-pack/plugins/infra/common/inventory_models/host/metrics/tsvb) with docker and k8s metrics. We focused of the CPU metric and ended up having a wor

[2022-06-30 16:41] lcawl opened #135584 "Consistent name for Elasticsearch query rule type"
**Kibana version**:

8.4.0

**Description of the problem including expected versus actual behavior**:

In Kibana and in the [documentation](https://www.elastic.co/guide/en/kibana/master/rule-type-es-query.html), there is an "Elasticsearch query rule type" that you can choose when you create rules in the **Stack Management** app. When you use **Discover**, the same UI is ultimately accessed by sele

[2022-06-30 16:41] elasticmachine commented on #135584
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-06-30 16:43] elasticmachine commented on #135576
Pinging @elastic/kibana-core (Team:Core)

[2022-06-30 16:44] elasticmachine commented on #135577
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-06-30 16:44] elasticmachine commented on #135578
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-06-30 16:55] kibanamachine opened #135587 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view - When on the host isolation exceptions page should hide the Create and Edit actions when host isolation authz is not allowed"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17922#0181b561-128d-4e50-8370-3e2429a1d224)

[2022-06-30 16:56] elasticmachine commented on #135587
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-06-30 17:51] Kunzetsov commented on #134840
@teresaalvarezsoler, could you, please, suggest somebody to help with figuring out these questions. I have no idea, what is the impact of having deprecated functions, who is using them, and who will be affected, if we'll remove it at the current/next version. I know only one thing, it is impossible to have full compatibility, because those charts have a different purpose and the new charts have mo

[2022-06-30 18:23] #43640 closed

[2022-06-30 18:32] dominiqueclarke commented on #135138
I've caught up with Brandon Kobel about why alerting (and Kibana task manager) isn't recommended from their perspective. Here's why:

It's slow
--
Task-Manager runs in Kibana, and using it to perform ETL will require at least one HTTP request to Elasticsearch to read the data, and one HTTP request to Elasticsearch to write the data. This latency can be rather significant. Additionally, most ETL op

[2022-06-30 18:33] dhurley14 commented on #135527
I validated that it only happens when adding exception from the alert dropdown. Taking a look now. Thanks for finding this!

[2022-06-30 18:46] kellyemurphy commented on #134369
@ThomThomson I really like the idea of having an advanced section - would that contain both the items that are currently under "additional settings"? (feels logical to me, but I don't know how frequently the other setting is used)

@teresaalvarezsoler I see where you're going here and think we can tighten it up some more to make it more scannable/faster to read.

Label: Ignore timeout for results

[2022-06-30 18:46] lukeelmers commented on #134930
Summarizing from a meeting we had this week:
- We are less worried about Elastic's 8.2.x EOL date, because if a severe enough security vulnerability arises that justifies a Node-major-upgrade backport, it will likely need to be backported earlier than 8.2.x anyway. cc @legrego
- We don't know whether a 9.0 release would happen before the Node 16 EOL, but it feels highly unlikely at this point. Thi

[2022-06-30 18:52] sqren commented on #130210
@dannycroft We should look into this flaky test in the near term

[2022-06-30 19:01] jen-huang commented on #135490
Should we discussing standardization for query parameters in general, not just pagination?

Fleet uses camelCase for our parameters:
https://github.com/elastic/kibana/blob/4a82f9815f9278e4a4a6bfd54118789dd4ed012c/x-pack/plugins/fleet/server/types/rest_spec/common.ts#L11

I believe this decision was mostly driven by our linting rules, avoiding having to rename snake_case vars to camelCase in develo

[2022-06-30 19:07] pickypg commented on #135490
Definitely yes, but pagination is probably the most truly common base across Kibana and probably an easier place to start the discussion. But there should be a unification across Kibana about `snake_case` versus `camelCase`.

[2022-06-30 19:14] dhurley14 commented on #135527
Resolved here: [`7455626` (#134783)](https://github.com/elastic/kibana/pull/134783/commits/745562610e036f42c99281406c3f740663692b15)

[2022-06-30 19:37] #133290 closed

[2022-06-30 19:56] andrewvc opened #135594 "[Uptime][Synthetics] Show params dialog for inline / recorder / project monitors"
A common requirement for monitor management users is to provide passwords / authentication credentials to scripts. These must be encrypted at rest and not present in the source of scripts. We currently have a `params` facility for fleet zip URL monitors.

This issue has a single AC, adding the params dialog to the monitor management UI for Inline, project and Recorder monitors in Uptime and Synthe

[2022-06-30 20:36] jen-huang commented on #134559
@simitt / @axw Any insights for the above observations?

[2022-06-30 20:43] jen-huang commented on #135525
Closing, see https://github.com/elastic/package-spec/issues/222#issuecomment-1171657697.

[2022-06-30 20:44] #134718 closed

[2022-06-30 20:45] rashmivkulkarni commented on #113998
https://github.com/elastic/kibana/issues/135499 - This bug was opened for the timepicker absolute time shows as a relative time. It would help if the absolute time remains the same instead of an approximate time ( ex: `~3 years ago` )

Some tests may not be able to do the timepicker migration until the above issue is addressed.

[2022-06-30 20:56] EricDavisX opened #135599 "500 Server error thrown filtering rules on tags with special chars in them"
**Kibana version:**
8.4.0-snapshot, seen in 8.3 GA as well.  tested on cloud prod-deploy

**Browser version:**
Chrome latest on mac - Version 103.0.5060.53 (Official Build) (x86_64)

**Describe the bug:**
A user can tag a rule that will cause a 500 error later when they filter on the tag

confirmed chars that cause the failure:   ><{}():"\
confirmed special chars that work fine: !#@$%^&*,./?-|+_=`

[2022-06-30 20:56] elasticmachine commented on #135599
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-06-30 21:03] EricDavisX commented on #135599
note, the Stack Cases UI allows you to successfully filter on any of the noted problem characters, if there is any way to model Rules tag usage as is done there.

[2022-06-30 21:12] davismcphee commented on #135357
Just wanted to second this idea. My first thought when I saw the screenshot was 'some brackets would fix this'.

[2022-06-30 21:17] jen-huang commented on #135361
@juliaElastic Not assigning this to you, but putting on your radar as you are working in this area. I am putting this on our board as a bug bounty candidate.

[2022-06-30 21:20] jen-huang commented on #135122
I believe this is a dupe of https://github.com/elastic/elastic-agent/issues/324 and/or https://github.com/elastic/kibana/issues/132004. @jguay, this should be fixed in 8.3 with https://github.com/elastic/kibana/pull/133489 if you would like to re-test.

[2022-06-30 21:20] #135122 closed

[2022-06-30 21:22] jen-huang commented on #134329
Thanks Amol!

[2022-06-30 22:03] kibanamachine commented on #135166
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17945#0181b67b-eb72-4d1f-9d47-c7d413ba23ec)

[2022-06-30 22:05] jen-huang commented on #135394
@amolnater-qasource I see you included the agent log files for the windows agent. Could you include them for the Ubuntu agent as well? Going to transfer this to the agent team as this seems to be a data ingestion issue and not a UI one.

[2022-06-30 22:12] andreadelrio commented on #135357
++ for brackets.

[2022-06-30 22:22] jen-huang commented on #131590
@criamico I am seeing the same issue locally. This is a critical onboarding UX, let's prioritize a fix and get it in the next 8.3 patch.

cc @kpollich

[2022-06-30 22:33] markov00 opened #135606 "[Lens] Improving the inline-help doc for date histogram"
The current inline-help tooltip for the data histogram quick function is the following:

<img width="472" alt="Screenshot 2022-07-01 at 00 00 44" src="https://user-images.githubusercontent.com/1421091/176786189-fa81bc56-0700-46b2-93ac-3a27abeed67a.png">

I think there are a few issues in this description that needs to be fixed:

1) the function is called `Date histogram` and we are talking here ab

[2022-06-30 22:33] elasticmachine commented on #135606
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-06-30 22:33] elasticmachine commented on #135606
Pinging @elastic/kibana-docs (Team:Docs)

[2022-06-30 22:39] jen-huang commented on #134807
It's not an ideal UI, but it is disabled so there's nothing dangerous that the user can do. Closing as won't fix.

[2022-06-30 22:39] #134807 closed

[2022-06-30 23:07] jen-huang commented on #134821
@nchaulet Could you confirm the unused nature of `output_id` on package policies? Functionality wise, we don't support output at package policy-level, only at the agent policy level, but perhaps `output_id` is used as a quick reference somewhere.

[2022-06-30 23:21] yctercero commented on #127918
@karanverma-qasource sorry, but can you give more details as to how you re-enabled the rules in 8.3. Was it via bulk actions? Just editing the rule? Or one by one? I'm still not able to reproduce this. If you could share the following information similar to below, that would help. These are the results I got.

After migrating, they appear to have the expected fields.

| Actions         | Post migr

[2022-07-01 00:19] kibanamachine commented on #135065
New failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/17948#0181b6f6-4150-4429-ae33-d8481a788e44)

[2022-07-01 00:32] kibanamachine commented on #135558
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17949#0181b701-ca28-410f-b6bb-ac719b7da7aa)

[2022-07-01 02:11] mistic commented on #135166
Skipped.

main: [e6ae1a1](https://github.com/elastic/kibana/commit/e6ae1a191aac55b9f7840d2276b615cff0e7c615)

[2022-07-01 02:13] mistic commented on #135558
Skipped.

main: [188d5a0](https://github.com/elastic/kibana/commit/188d5a07bb02d2afda16ecf5b780b2a98d74f105)

[2022-07-01 02:14] mistic commented on #135065
Skipped.

8.3: [c3db8f9](https://github.com/elastic/kibana/commit/c3db8f9cf9306dc5f29cd8a8fd91e7ca89feb5c7)

[2022-07-01 08:58] elasticmachine commented on #135493
Pinging @elastic/kibana-operations (Team:Operations)

[2022-07-01 10:45] manther02 commented on #126805
Hello, is there any updates for this?
I am unable to use Kibana for a bunch of my transactions because of this.

[2022-07-01 12:01] kumarsudhish commented on #101942
When this feature would be availble

[2022-07-01 14:24] elasticmachine commented on #135567
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-01 14:28] elasticmachine commented on #135225
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-01 19:49] sqren commented on #126805
Hi @manther02

The problem is this line:

[code]

I'm interest to know in which context this error happens. When viewing the error in Dev Tools, can you please click on the top stack frame in the stack trace?

[2022-07-01 20:01] dgieselaar commented on #126805
@manther02 can you verify whether transaction type has been set to a non-empty string for those transactions? The UI expects this to be the case.

[2022-07-02 16:30] vvvinn opened #135619 "Can't see "Save" button to save index pattern in Microk8s fluentd Kibana"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2022-07-02 17:56] 111andre111 commented on #135490
Bye the way there is as well another parameter on `/api/endpoint/metadata` called `pageSize`:
https://github.com/elastic/kibana/blob/decdafab3121de2272bfc00782615b93dd31e89c/x-pack/plugins/security_solution/common/endpoint/types/index.ts#L183-L194

[2022-07-04 01:53] matschaffer commented on #125686
Got 👍🏻 from @jsvd @karenzone and @robbavey too. Calling that "approval" box checked.

@pmeresanu85 let us know if you think we should do any special marketing.

If this is still open after 8.4 release (Aug 23), let's just close it out.

[2022-07-04 04:09] karanbirsingh-qasource commented on #135511
correct @dhurley14 issue is not with index pattern rule preview and only with data view

[2022-07-04 05:06] kertal commented on #135351
@constancecchen that was quick, thx a lot!

[2022-07-04 06:54] karanbirsingh-qasource commented on #135512
@yctercero  retested the issue on new build for `8.4.0-SNAPSHOT` Cloud and found the issue is fixed now and not occuring ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/177098186-5fdcdef0-b366-4b8b-807a-48f0aa5d5b43.png)

![image](https://user-images.githubusercontent.com/59917825/177098203-3e6cdff8-dbcb-42f4-96f6-cbf0c1ef5fd7.png)

Hen

[2022-07-04 06:54] #135512 closed

[2022-07-04 07:03] boriskirov commented on #133368
Here is what came out of the feedback provided from
- An absolute version, where we present all errors with the actual number of errors - [LINK](https://www.figma.com/proto/kaAPIVRNrXGxXwUORgyVqR/Link-to-top-erroneous-transactions?page-id=1%3A2&node-id=166%3A139609&viewport=5581%2C-20288%2C0.91&scaling=min-zoom&starting-point-node-id=166%3A139609&show-proto-sidebar=1)
- An absolute version with si

[2022-07-04 07:08] #135476 closed

[2022-07-04 07:08] pheyos commented on #135475
Looks like an issue with Chrome / webdriver and not around the tested app or the test code.

[2022-07-04 07:08] #135475 closed

[2022-07-04 07:08] pheyos commented on #135474
Looks like an issue with Chrome / webdriver and not around the tested app or the test code.

[2022-07-04 07:08] #135474 closed

[2022-07-04 07:08] pheyos commented on #135473
Looks like an issue with Chrome / webdriver and not around the tested app or the test code.

[2022-07-04 07:08] #135473 closed

[2022-07-04 07:10] ChrsMark opened #135624 "Add support for template construction compatible with kubernetes hints"
As discussed at https://github.com/elastic/elastic-agent/issues/613#issuecomment-1165373934, Fleet UI can be enhanced in order to provide specific input templates which will be capable to be enabled and populated by hint's based autodiscovery implemented in kubernetes provider.

Fleet UI should be capable to produce an `inputs.d` `ConfigMap` like the following:

[code]

So the flow for creating th

[2022-07-04 07:10] elasticmachine commented on #135624
Pinging @elastic/fleet (Team:Fleet)

[2022-07-04 07:54] karanverma-qasource commented on #127918
Hi @yctercero,

Yes, I have bulk enabled the rules after upgrading to 8.3.1 and I am getting `"throttle": null,"notifyWhen": "onActiveAlert"` for every rule.

**Build Details:**
[code]

**8.3.1**

[code]
<details>
  <summary>Query Results</summary>

[code]
</details>

Please let us know if we are missing something.

Thanks !

[2022-07-04 08:51] gbamparop commented on #135366
Thanks for raising this, it looks the same with https://github.com/elastic/kibana/issues/131050 that was originally raised for OTEL agents. Shall we close this?

[2022-07-04 09:19] flash1293 opened #135627 "[Visualize] Can't unlink saved search from already saved visualization"
**Kibana version:** 8.2

**Describe the bug:** As soon as a visualization based on a saved search is saved and edited again, the "unlink saved search" button doesn't actually work.

**Steps to reproduce:**
1. Create new dashboard
2. Add vis based on saved search (e.g. agg based line chart)
3. Save
4. Edit panel
5. Try to unlink from saved search
6. Query and filters are pulled into the visualizati

[2022-07-04 09:19] elasticmachine commented on #135627
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-04 09:30] #135112 closed

[2022-07-04 09:34] #132792 closed

[2022-07-04 09:45] miltonhultgren commented on #134467
@klacabane @crespocarlos Great effort!

One thought I have which is out of scope but it would be good to be able to hide empty empty graphs since I imagine this updated page has a few empty graphs to scroll past before we reach the Kubernetes section?

Is this for the Pod Details page?

I wonder if network information is collected on the pod level?

Not 100% but I think these are parts of the "new

[2022-07-04 09:46] vitaliidm commented on #131614
@prachigupta-qasource, issue has been addressed in https://github.com/elastic/kibana/pull/135426

[2022-07-04 09:58] ritalwar commented on #129344
Hi,
I am working on moving Cockroachdb integration to GA and in process of that I am getting error  “field cannot be changed from type [float] to [long], dropping event!”.  I found related SDH  https://github.com/elastic/sdh-beats/issues/1809 which is similar to the issue am getting,
Could you please confirm if this issue (dynamic template mapping) will resolve all such conversion errors and when

[2022-07-04 10:04] kibanamachine commented on #135305
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17964#0181c88d-b320-4053-bb5c-c3d4339e688f)

[2022-07-04 10:09] amolnater-qasource commented on #131031
FYI @jlind23

[2022-07-04 10:21] #135392 closed

[2022-07-04 10:32] amolnater-qasource opened #135630 "[Fleet]: Selected agents gets removed from upgrade modal on passing auto-refresh time interval under Agents tab."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. 30 or more Lower version agents should be installed

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Selects all 20 agents on page 1 and click Upgrade agents from bulk option

[2022-07-04 10:32] amolnater-qasource opened #135631 "[Question][Fleet]: On `Selecting everything on all pages` and then deselecting 1 agent deselects all agents from other pages."
**Question:**
Multiple agents should be installed, say `100`.
Select all agents through bulk actions and click `Select everything on all pages.`
Deselect any one agent from this page and observe all agents from other pages also gets deselected.
Could you please confirm if this is expected?

**Build details:**
BUILD: 54160
COMMIT: b509d2466e88bf6c4386d8dd5fe89b5c8a54a97f

**Screen Recording:**

htt

[2022-07-04 10:32] elasticmachine commented on #135631
Pinging @elastic/fleet (Team:Fleet)

[2022-07-04 10:32] amolnater-qasource commented on #135631
@manishgupta-qasource Please review.

[2022-07-04 10:37] samratbhadra-qasource opened #135632 "[BUG]: Back navigation button from the Advanced tab shows wrong Endpoint and Cloud Security integration name."
**Describe the bug:**
Back navigation button from the Advanced tab shows wrong Endpoint and Cloud Security integration name.

**Build Details:**
[code]

**Preconditions:**
1. Elastic 8.4.0-SNAPSHOT environment should be deployed.
2. Endpoint and Cloud Security integration should be installed to a agent policy.

**Steps to Reproduce:**

1. Navigate to the Integrations tab under Management.
3. Then,

[2022-07-04 10:37] elasticmachine commented on #135632
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-04 10:38] samratbhadra-qasource commented on #135632
@manishgupta-qasource Please review.

[2022-07-04 10:39] gsoldevila commented on #134730
So if I understood correctly, in your test, `esClient.bulk(...)` is being called in both cases (_switchMap_ vs _concatMap_), but a different number of times, or with different arguments?

If that's the case, then I don't see how that is not important / relevant; even though we might not interested in the return of `this.indexDocuments()`, IMHO it is key to make sure that we call `esClient.bulk(...

[2022-07-04 10:41] manishgupta-qasource commented on #135632
Reviewed & assigned to @kevinlog

[2022-07-04 10:42] manishgupta-qasource commented on #135630
Secondary review for this ticket is Done

[2022-07-04 10:42] manishgupta-qasource commented on #135631
Secondary review for this ticket is Done

[2022-07-04 10:47] kibanamachine opened #135633 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - incompatible_cluster_routing_allocation retries the INIT action with a descriptive message when cluster settings are incompatible"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/17967#0181c8a7-f519-4aa4-a767-e3bcdffb7e45)

[2022-07-04 10:47] elasticmachine commented on #135633
Pinging @elastic/kibana-core (Team:Core)

[2022-07-04 11:05] teresaalvarezsoler commented on #134840
@Kunzetsov I thought this request came from you, this is the first time I hear about deprecated functions and them being an issue. Who asked you to do this? We should talk to that person and better understand why we need to do this, we cannot design or implement anything without the full context.

[2022-07-04 11:17] Kunzetsov commented on #134840
@teresaalvarezsoler, the first time I heard about deprecation was a year ago while talking to @crob611 and @clintandrewhall while discussing the issue https://github.com/elastic/kibana/issues/101377. The last time we were talking about this part of the project with @crob611 and @jb1b84, was two weeks ago while discussing this issue: https://github.com/elastic/kibana/issues/134841, I guess. So, any

[2022-07-04 11:17] amolnater-qasource opened #135637 "[Fleet]: `No selected agent policy id` error on clicking Assign new agent policy>pre-selected policy from bulk actions"
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Multiple agents should be installed.
3. Multiple agent policies should created.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Selects multiple agents and click Assign new

[2022-07-04 11:18] amolnater-qasource commented on #135637
@manishgupta-qasource Please review.

[2022-07-04 11:20] sebelga commented on #134595
It would be great if the outcome of this issue is a solution that is not tightly coupled to saved objects.

As we saw with RFC for the saved object metadata we might want to be able to have user references on other objects and let `core` handling converting the reference to a User profile that can be used in the UI.

[code]

[2022-07-04 11:26] juliaElastic commented on #135630
This issue will be fixed soon by this pr: https://github.com/elastic/kibana/pull/135548/

[2022-07-04 11:28] pgayvallet commented on #135261
I'll start by saying that manually tampering with kibana system indices from the dev console is unsupported and highly discouraged (You even get a warning when performing operations against such indices from the dev console response).

That being said, I couldn't reproduce, even on the exact same `8.1.2` version:

<img width="1910" alt="Screenshot 2022-07-04 at 13 25 50" src="https://user-images.g

[2022-07-04 11:29] pgayvallet commented on #135529
Tested in `8.0.0`, the problem was already present, meaning that this likely has been here for a long time

[2022-07-04 11:30] pgayvallet commented on #135528
Tested in `8.0.0`, the problem was already present, meaning that this likely has been here for a long time

[2022-07-04 11:40] jsoriano commented on #135525
@jen-huang will the files mentioned in https://github.com/elastic/package-spec/issues/222#issuecomment-1172871932 need any update?

[2022-07-04 11:58] flash1293 opened #135640 "[Lens] Panel not editable if prefix wildcard is used in metric dimension filter"
**Kibana version:** 8.2

**Describe the bug:** The dashboard panel context dialog doesn't open when a filter with a prefix wildcard (`myField: *ABC*`) is used on a metric dimension and there is at least one other not filtered metric

**Steps to reproduce:**
1. Create Lens vis with prefix wildcard KQL filter on metric dimension and an unfiltered metric dimension
2. Add to dashboard
3. Try to edit
4

[2022-07-04 11:58] elasticmachine commented on #135640
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-04 12:14] jlind23 commented on #131031
Thanks @amolnater-qasource for the ping. ping @elastic/fleet should be enough.

[2022-07-04 12:22] manishgupta-qasource commented on #135637
Secondary review for this ticket is Done

[2022-07-04 12:30] jughosta opened #135642 "[Alerting] Fix permission to access Alerts menu on Discover"
Kibana version: main (8.3)

Originally posted in https://github.com/elastic/kibana/pull/134763#issuecomment-1171497008

[2022-07-04 12:30] elasticmachine commented on #135642
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-04 12:30] elasticmachine commented on #135642
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-04 12:33] matschaffer commented on #135392
Thanks!

[2022-07-04 12:39] teresaalvarezsoler commented on #134840
Thank you for the context. Corey left last week, I will talk with @jb1b84.

[2022-07-04 12:55] teresaalvarezsoler commented on #134369
Thanks you @kellyemurphy! Looks good to me :)

[2022-07-04 12:56] #131785 closed

[2022-07-04 13:20] #120930 closed

[2022-07-04 13:25] jsoriano commented on #129344
Probably yes, CockroachDB package provides fields definitions (see [here](https://github.com/elastic/integrations/blob/main/packages/cockroachdb/data_stream/status/fields/fields.yml)), but most of them are dynamic mappings, that are not being properly installed.

[2022-07-04 13:42] #132250 closed

[2022-07-04 13:47] afharo opened #135647 "[EBT] Kibana Server won't confirm it's online until 1 minute has passed since `optIn(true)`"
The Elastic V3 Server-side shipper checks for connectivity on startup and every minute after that (with backoff in case of errors):
https://github.com/elastic/kibana/blob/b960717c45d8b95eb5fc51a59413f3fc6827c608/packages/analytics/shippers/elastic_v3/server/src/server_shipper.ts#L170-L175

However, the startup check is always stopped in the `this.isOptedIn === true` validation (we don't want to pe

[2022-07-04 13:47] elasticmachine commented on #135647
Pinging @elastic/kibana-core (Team:Core)

[2022-07-04 14:02] mistic commented on #135305
Skipped.

main: [98e2acd](https://github.com/elastic/kibana/commit/98e2acdc6d3fc42d09f33ec447137794e4d060b1)

[2022-07-04 14:36] nchaulet commented on #134821
Yes the package policy output id are not used, we use only the `data_output_id` and `monitoring_output_id` from the agent policy to create the final agent policy for Fleet server

[2022-07-04 14:56] #121099 closed

[2022-07-04 15:04] #91562 closed

[2022-07-04 15:05] #135120 closed

[2022-07-04 15:21] ThomThomson commented on #135241
Removing the Presentation team label because this seems to be associated only with the contents of the Map panel. Feel free to re-add us if there is any action required on our side!

[2022-07-04 15:26] ThomThomson commented on #121916
Hi @essodjolo, thanks for the comment! 8.3 has been released and this was unfortunately not fixed in that version. We will need to discuss priority for this one before we tackle it.

[2022-07-04 15:38] cnasikas opened #135653 "[Cases] Remove `CasesProvider` from exported UI components"
Cases UI components rely on the `CasesProvider`. When we first exposed the UI components to other plugins we wrapped all components with the provider so the plugins do not have to put the `CasesProvider`. After the introduction of cases hooks, the `CasesProvider` became mandatory. We do not need to wrap the exported components with the provider as the plugins already use the provider with the hook

[2022-07-04 15:39] elasticmachine commented on #135653
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-04 15:39] elasticmachine commented on #135653
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-07-04 15:42] ThomThomson commented on #135241
Hey @jsanz, did you mean to tag @elastic/kibana-vis-editors? The presentation team deals with Dashboard and Canvas.

[2022-07-04 15:48] flash1293 commented on #135241
This is indeed on the vis-editors team: https://github.com/elastic/kibana/blob/072fe63c0b326f6dfd0215cda648c982f4b6bee8/src/plugins/chart_expressions/expression_xy/public/components/legend_action_popover.tsx#L91

Putting up a fix real quick

[2022-07-04 17:01] ThomThomson commented on #135508
@tylersmalley I noticed that with other failed test issues that popped up with this `invalid session id` error, that you re-assigned to the Operations team and closed them.

I'm not exactly sure what's going on with these, but I will follow your lead and close them for now. If this is actually an issue with how these tests are written, we can re-open and investigate. Thanks!

[2022-07-04 17:01] ThomThomson commented on #135507
See https://github.com/elastic/kibana/issues/135508 for closure reason

[2022-07-04 17:01] #135507 closed

[2022-07-04 17:01] ThomThomson commented on #135571
See https://github.com/elastic/kibana/issues/135508 for closure reason

[2022-07-04 17:01] #135571 closed

[2022-07-04 17:02] ThomThomson commented on #135572
See https://github.com/elastic/kibana/issues/135508 for closure reason

[2022-07-04 17:02] #135572 closed

[2022-07-04 17:02] ThomThomson commented on #135573
See https://github.com/elastic/kibana/issues/135508 for closure reason

[2022-07-04 17:02] #135573 closed

[2022-07-04 17:02] ThomThomson commented on #135575
See https://github.com/elastic/kibana/issues/135508 for closure reason

[2022-07-04 17:02] #135575 closed

[2022-07-04 17:06] ThomThomson commented on #135458
++ For this one! We might eventually move to a system like this for some of the dashboard panel-editing functions, so it will good to resolve this major a11y issue with Controls before we expand this pattern at all.

[2022-07-04 17:07] #135355 closed

[2022-07-04 17:07] #135359 closed

[2022-07-04 17:14] ThomThomson commented on #135459
@1Copenut, we do need to figure out a good way to communicate this. One thing to keep in mind is that the users seem to like the fact that the dashboard updates immediately on control selection. This works great in small and fast dashboards, but a submit button would work well on larger or slower dashboards.

We were planning on adding an enhancement in a later phase of the project where the dashb

[2022-07-04 17:55] kibanamachine commented on #135347
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17980#0181ca30-3da4-44cc-963f-78d31ea6a949)

[2022-07-04 17:55] kibanamachine commented on #135348
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17980#0181ca30-3da4-44cc-963f-78d31ea6a949)

[2022-07-04 17:58] afharo commented on #128308
@teresaalvarezsoler IMO, it should be fixed in FullStory (so we can apply the same _fix_ to all the versions). I'd link the users by matching `org_id`, and copy the `isElasticStaff` and `trial` flags. I would reach out to FullStory to ask if there's any possibility to run this batch update anyhow.

I'd like to understand what that flags are for though... Does `isElasticStaff` refer to the cluster

[2022-07-04 18:24] kibanamachine commented on #133336
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17981#0181ca44-0cfb-43ea-b009-8ac64a7fac51)

[2022-07-04 18:24] kibanamachine commented on #133337
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17981#0181ca44-0cfb-43ea-b009-8ac64a7fac51)

[2022-07-04 18:28] mistic commented on #135347
Skipped.

main: [cf643c3](https://github.com/elastic/kibana/commit/cf643c3154d354f0cd901ead69df0feaf94acd71)

[2022-07-04 18:28] mistic commented on #135348
Skipped.

main: [78a03e3](https://github.com/elastic/kibana/commit/78a03e318bbb325abd48abe011e501831e7883d0)

[2022-07-04 20:53] ersin-erdal commented on #134730
In my test i made `esClient.bulk(...)` to respond slower, and  indexed 3 docs consecutively,  then after waiting for `esClient.bulk(...)` to be called, I indexed 1 more doc.
So when the second poll is triggered, first one was still working.

Then I observed that in both cases (switchMap vs concatMap) `esClient.bulk(...)` is called with the same arguments and the same number of times.

The differen

[2022-07-04 22:09] elasticmachine commented on #133434
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-04 22:22] vadimkibana commented on #134001
Q: do we want to generate reports for empty dashboards? I.e. shall the report generation button be disabled for empty dashboards?

[2022-07-04 22:22] elasticmachine commented on #134001
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-04 22:25] Heenawter commented on #134001
I believe this is a duplicate of https://github.com/elastic/kibana/issues/122703

[2022-07-04 23:53] ThomThomson commented on #134001
Closing in favour of https://github.com/elastic/kibana/issues/122703

[2022-07-04 23:53] #134001 closed

[2022-07-05 01:32] lukeelmers opened #135674 "[logging] Add `service.node.roles` to all log entries"
In https://github.com/elastic/kibana/pull/135272 we introduced the [`node.roles` configuration](https://github.com/elastic/kibana/issues/134275) for supporting isolation of the Kibana UI from background tasks.

The intent was to update all logs to include the new `service.node.roles` field which will be included in ECS 8.4 (see more [here](https://github.com/elastic/ecs/pull/1916) and [here](https

[2022-07-05 01:32] elasticmachine commented on #135674
Pinging @elastic/kibana-core (Team:Core)

[2022-07-05 02:19] #94034 closed

[2022-07-05 05:21] matschaffer opened #135676 "Remember and select my most recently used space"
There are some clusters I go to often by name (like the ESS overview cluster) and I get greeted with "Select your space" every time

It'd be great if kibana could remember that I always pick "Default" and click it for me.

I rarely want to switch spaces, but if I did, I can use the top bar space selector for that.

If there's another workaround (like to do a deployment-wide space default) let me k

[2022-07-05 05:21] elasticmachine commented on #135676
Pinging @elastic/kibana-security (Team:Security)

[2022-07-05 07:11] #133523 closed

[2022-07-05 07:14] #135630 closed

[2022-07-05 07:15] #135627 closed

[2022-07-05 07:15] pgayvallet commented on #135674
Yea. We're already injecting some APM-related meta from the internal `Logger` implementation,

https://github.com/elastic/kibana/blob/a969d42ecfeb5b98b5e5faafe790d33c806ae308/packages/core/logging/core-logging-server-internal/src/logger.ts#L91-L97

But these values are accessible via the global-scoped `apmAgent`. Including additional info bound to the context of the Kibana instance will likely req

[2022-07-05 07:18] juliaElastic commented on #135631
Yes, this is intentional. When deselecting one agent in "Select everything" mode, the UI switches back to having the current page items selected. This is because we don't support selections like "Select everything except for this one agent in current page".
cc @jen-huang

[2022-07-05 07:21] #135523 closed

[2022-07-05 08:11] azasypkin commented on #135676
Hey @matschaffer, it sounds like a duplicate of https://github.com/elastic/kibana/issues/21640. I don't think we have a workaround at this moment other than bookmarking a specific Kibana link (not `/` that will always render a space selector) and relying on it instead.

[2022-07-05 08:13] kertal opened #135678 "Fieldlist - Refactor available list"
Discover's field list currently is using data views fields for getting all the fields:

https://github.com/elastic/kibana/blob/3730dd0779ed8efd74aee88f57422781ec1ac122/src/plugins/discover/public/application/main/components/sidebar/lib/get_index_pattern_field_list.ts#L20

These fields a provided by ES field capabilities API:

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-f

[2022-07-05 08:19] elasticmachine commented on #135678
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-05 08:32] #135640 closed

[2022-07-05 09:13] aarju opened #135680 "[Fleet][Feature Request] Make the columns in the Fleet Agents view sortable"
**Describe the feature:**
Each column in the Fleet Agents table should be sortable.

**Describe a specific use case for the feature:**
When managing agents a Fleet admin would be nice to be able to sort the agents by the Status, Hostname, Version, Policy, or the last checkin time. The `Last Activity` column should be sortable by the amount of time since the last activity. This would make it easy t

[2022-07-05 09:14] flash1293 opened #135681 "Date histogram bounds calculation doesn't update "now""
**Kibana version:** 8.3

**Describe the bug:** The date histogram aggregation calculates the time bounds for various purposes. However, the bound calculation is seeded once with the current date as the `now` date math variable and it's not updated subsequently. This can result in a drift of the time range

**Steps to reproduce:**
1. Create Lens time series chart
2. Add to dashboard
3. Set small ti

[2022-07-05 09:14] elasticmachine commented on #135681
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-05 09:17] ari-aviran opened #135683 "[Cloud Security] Rules - de-selecting a rule while all rules are selected de-selects rules in other pages"
**Kibana version:**
8.4.0-SNAPSHOT

**Describe the bug:**
In the rules page, when all the rules are selected, and a user de-selects a rule, all rules that are not shown on the current page in the UI will also be de-selected

**Steps to reproduce:**
1. Setup a Kibana instance with a CSP integrationg
2. Go to the rules page of a benchmark
3. Click `Select All`
4. De-select a specific rule

**Expecte

[2022-07-05 09:17] elasticmachine commented on #135683
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-07-05 09:18] amitkanfer commented on #135683
prioritize for 8.4 @tehilashn ?

[2022-07-05 09:21] kibanamachine commented on #135587
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17997#0181cd7f-8af3-44f1-98d5-e91b7481a1fc)

[2022-07-05 09:23] aarju opened #135685 "[Fleet][Feature Request] Save the state of Filters when navigating within the Fleet UI"
**Describe the feature:**
When using the Fleet UI It would be nice if the state of filtering the Agents view was remembered when navigating to and from the page.

**Describe a specific use case for the feature:**
When managing agents I will apply a filter by Agent Policy and Status to only show me the unhealthy agents in a particular policy. I then click on one of those agents to view the logs. Wh

[2022-07-05 09:29] bhavyarm commented on #135619
@vvvinn  can you please post this in https://discuss.elastic.co/ with what is your version of the stack, log details and other details? I am closing this issue here.

Thank you!

[2022-07-05 09:29] #135619 closed

[2022-07-05 09:33] afharo commented on #135528
Thank you for confirming 🧡

[2022-07-05 09:34] klacabane opened #135686 "[Stack Monitoring] Onboard health API in the support diagnostics tools"
### Summary
[Health api route](https://github.com/elastic/kibana/tree/main/x-pack/plugins/monitoring/server/routes/api/v1/_health) was merged in 8.3.1 and can now be onboarded to the [support diagnostics tool](https://github.com/elastic/support-diagnostics/blob/67661bdce86947c3959cb30737bc931724588b51/src/main/resources/kibana-rest.yml) so that it is automatically queried when running the tool aga

[2022-07-05 09:34] elasticmachine commented on #135686
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-05 09:39] elasticmachine commented on #134003
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-05 09:40] liciavale commented on #133578
Latest design can be found here https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=806%3A412229

[2022-07-05 09:52] ari-aviran opened #135687 "[Cloud Posture] Findings - using a negative cell filter after using the positive one shows no results"
**Kibana version:**
8.4.0-SNAPSHOT

**Describe the bug:**
In the CSP findings page, after applying a positive filter on a cell, and then applying the same negative filter, the page shows no results

**Steps to reproduce:**
1. Have a Kibana setup with CSP integration installed and findings in ES
2. Go to the findings page
3. Click on a positive cell filter (e.g. `Resource Type`)
4. On the same cell

[2022-07-05 09:52] elasticmachine commented on #135687
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-07-05 09:55] aarju opened #135688 "[Meta] Update the Fleet and Integrations UX to make the flow between Agents, Policies, and Integrations better"
**Describe the feature:**
When Managing Fleet a user will often transition between Agents, Agent Policies, Integration Policies, and Integration settings as part of their workflows. At this time the UX flow between these pages is disconnected and confusing. When managing Fleet the UX flow between each page should be smoother. Within our Fleet we had to set up multiple separate Agent policies for o

[2022-07-05 10:27] klacabane opened #135692 "[Stack Monitoring] Query metricbeat errors in the Health api"
### Summary
When metricbeat modules fail to generate events whether it is caused by networking or a unexpected document shape, the errors are transformed to events stored in the `metricbeat-*` indice. These errors are valuable debugging informations and should be surfaced in the Stack Monitoring health api.

In metricbeat 8, the error events expose properties that allows one to identify the source

[2022-07-05 10:27] elasticmachine commented on #135692
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-05 10:34] aarju opened #135693 "[Feature Request] Notify Fleet users when an update is available for an installed integration"
**Describe the feature:**
Currently Integrations can be updated outside of the stack release cycle but there isn't an easy way for users to know when an upgrade is available for one of their installed integrations unless they manually check fleet.

There should be an option to set up push notifications when a new Integration update is available.

**Describe a specific use case for the feature:**
W

[2022-07-05 10:50] kibanamachine commented on #122827
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/17999#0181cdd4-d1cd-4a5b-a7d2-525065bcc2dc)

[2022-07-05 10:51] simranvaseer-qasource opened #135696 "[Fleet]: Actions>Add/remove tags gets stuck on using this button multiple times."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Agents should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet Agents tab.
3. Click on Actions>Add/remove tags and observe tags are available.

[2022-07-05 10:52] elasticmachine commented on #135696
Pinging @elastic/fleet (Team:Fleet)

[2022-07-05 10:53] simranvaseer-qasource commented on #135696
@manishgupta-qasource Please review

[2022-07-05 10:53] vinaychandrasekhar opened #135697 "Rules page Search feature should be more comprehensive"
**Describe the feature:**
The search bar in the alerting Rules page should support the following enhancements -
- Support partial matches
- Support label based searches like KQL searches for users that need it
- Show examples via greyed out text to show users sample search queries similar to elsewhere in the product. A good example could be to show users how to perform a rule name based search
- S

[2022-07-05 10:53] elasticmachine commented on #135697
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-05 11:01] afharo commented on #93770
All the @elastic/kibana-telemetry items are handled in https://github.com/elastic/kibana/pull/135689

[2022-07-05 11:02] manishgupta-qasource commented on #135696
Secondary review for this ticket is Done

[2022-07-05 11:15] amolnater-qasource opened #135698 "[Fleet]: 10k agents exceeds unenrollment timeout duration while unenrolling."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Multiple agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Set 10k multiple agents to same policy.
3. Set unenrollment timeout to 240 Seconds.
4. T

[2022-07-05 11:15] elasticmachine commented on #135698
Pinging @elastic/fleet (Team:Fleet)

[2022-07-05 11:19] aarju opened #135699 "[Feature Request][Fleet] Provide a way to easily find duplicate agents or group by host.id"
**Describe the feature:**
When an agent gets enrolled multiple times on the same host it will create a unique agent.id in fleet for each enrollment or install. This causes duplications in the fleet UI because the old agent will continue to be shown in fleet until a 'force unenroll' action happens.

This feature would use the `host.id` field to group agents together with the same `host.id` value to

[2022-07-05 11:32] samratbhadra-qasource opened #135701 "[Fleet]: Agent Upgrade toast message shows incorrect agent upgrading count."
**Describe the bug:**
Agent Upgrade toast message shows incorrect agent upgrading count.

**Build Details:**
[code]

**Preconditions:**
1. Elastic 8.4.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1. Navigate to the Fleet tab under Management.
2. Go to Agents tab and select the agents which available for upgrade.
3. Now, select the option select everything on all pages and c

[2022-07-05 11:32] elasticmachine commented on #135701
Pinging @elastic/fleet (Team:Fleet)

[2022-07-05 11:33] samratbhadra-qasource commented on #135701
@manishgupta-qasource Please review.

[2022-07-05 11:35] manishgupta-qasource commented on #135698
Secondary review for this ticket is Done

[2022-07-05 11:36] manishgupta-qasource commented on #135701
Secondary review for this ticket is Done

[2022-07-05 11:41] aarju opened #135702 "[Feature Request][Fleet] Provide more context about the progress when upgrading agents"
**Describe the feature:**
Currently when upgrading multiple agents we are shown a dialog that says 'upgrading X agents' without any additional information.  The banner should display at least an overview of the progress of the upgrade with an option to view additional information about the agents being upgraded.

**Describe a specific use case for the feature:**
Example information that should be

[2022-07-05 11:46] fkanout commented on #133418
Design https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=806%3A412229

[2022-07-05 11:51] amitkanfer commented on #135683
WHAT?!
ok i'm lost. @tinnytintin10 help us :)

[2022-07-05 11:56] pgayvallet opened #135703 "Migrate types to packages: Server-side http service"
Part of https://github.com/elastic/kibana/issues/134112
See https://github.com/elastic/kibana/issues/134137 for more context

Extract the http service/domain (`src/core/server/http`) to packages

[2022-07-05 11:56] elasticmachine commented on #135703
Pinging @elastic/kibana-core (Team:Core)

[2022-07-05 11:57] pgayvallet commented on #134137
I created https://github.com/elastic/kibana/issues/135703 to track the migration of the server-side `http` domain

[2022-07-05 12:03] aarju opened #135704 "[Feature Request][Fleet] Bulk update to agent logging level"
**Describe the feature:**
When updating the logging level on multiple agents you currently have to navigate to each agent's log tab and change the logging level at the bottom of the page.
![Screenshot 2022-07-05 at 13 56 44](https://user-images.githubusercontent.com/14032876/177322034-a0b18eec-6508-4a88-a4e1-c025caf7708a.png)

It would be nice if there was a feature to make bulk updates to the log

[2022-07-05 12:05] kibanamachine opened #135705 "Failing test: Plugin Functional Tests.x-pack/test/plugin_api_integration/test_suites/task_manager/task_management·ts - task_manager scheduling and running tasks should return a task run error result when RunNow is called at a time that would cause the task to exceed its maxConcurrency"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18001#0181ce0e-d0ae-4521-9b9d-7e456885cb21)

[2022-07-05 12:05] elasticmachine commented on #135705
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-05 12:29] ChrsMark commented on #135624
How much this information would be in terms of bytes? Note that we only care about the package spec and not the assets at this point. Could a caching mechanism in Kibana help here?

I think that would work but would not comply with the goal of the feature which is to provide minimal configuration steps. Imagine that these templates could be completely hidden from the user since those only act as l

[2022-07-05 12:37] #135229 closed

[2022-07-05 12:48] flash1293 commented on #128493
Installing the packages is an important thing to test, but it doesn't validate whether the dashboards shipped with a package are still rendering correctly (we had bugs before where an upgrade broke integration packages). What about extending this check to install the packages, then running reporting jobs for each dashboard to see whether they complete without failures? As this is internally using

[2022-07-05 12:52] kibanamachine opened #135708 "Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/bulk_assign·ts - saved objects tagging - functional tests bulk assign "before each" hook for "can bulk assign tags to objects""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18003#0181ce41-2655-4be8-a99b-14bde3ce9331)

[2022-07-05 12:52] kibanamachine opened #135709 "Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/bulk_assign·ts - saved objects tagging - functional tests bulk assign "after each" hook for "can bulk assign tags to objects""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18003#0181ce41-2655-4be8-a99b-14bde3ce9331)

[2022-07-05 12:53] elasticmachine commented on #135709
Pinging @elastic/kibana-core (Team:Core)

[2022-07-05 12:53] elasticmachine commented on #135708
Pinging @elastic/kibana-core (Team:Core)

[2022-07-05 13:16] emma-raffenne commented on #134002
@kobelb FYI

[2022-07-05 13:18] emma-raffenne commented on #134003
@emma-raffenne To reorganise these issues.

[2022-07-05 13:29] #135531 closed

[2022-07-05 13:37] kpollich commented on #135624
We have the package registry API that can provide some info, e.g. https://epr.elastic.co/search?experimental=true but this doesn't include detailed information about variables like default values, types, etc. In order to resolve that level of detail, we need to either query for that list linked above -> query the API for each individual package, e.g. https://epr.elastic.co/package/1password/1.4.0/

[2022-07-05 13:41] mistic commented on #135587
Skipped.

main: [5a2ef8e](https://github.com/elastic/kibana/commit/5a2ef8e85170ce28ec31e90d96c321f1ac63ad05)

[2022-07-05 13:44] jcger opened #135716 "[RAM] Bulk Actions for Alerts Table"
In our mission towards having one unique alerts table, we will integrate the bulk actions feature next. This feature consists in adding a leading control column with checkboxes as well as one checkbox in the header referring to "Select All". The toolbar will show different options that the user can selected in order to execute a bulk action.

Technical detail: We won't implement any default bulk a

[2022-07-05 13:44] elasticmachine commented on #135716
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-05 13:46] gsoldevila commented on #134730
Sorry I misunderstood your comment 🙏🏼 . If the `esClient.bulk(...)` call is not cancelled then we should be fine, indeed.
I created a sample playground test myself and got to the same conclusion:

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/25349407/177342193-252f4a3b-50b1-44bf-a67f-c8330545f91a.png">

Another advantage I see with `concatMap` is that it ensures the

[2022-07-05 13:52] legrego commented on #122827
Test failed with the following error:

This appears transient, or at the very least unrelated to the test at hand. I'll close at the end of the week if it doesn't reoccur.

[2022-07-05 13:55] klacabane commented on #134467
@miltonhultgren There's no empty graphs for the kubernetes container because the rendered graphs maps 1:1 to an object in the http response so that it will only draw the graphs if the corresponding object is there.

Looks like only cpu and memory metrics are overlapping with the docker data we're currently showing. There are other metrics like logs disk footprint or fs inodes usage but they're mor

[2022-07-05 13:55] gsoldevila opened #135718 "Migrate types to packages: Add @kbn/crypto-browser to ui-shared-deps"
This new package, created in the scope of https://github.com/elastic/kibana/pull/135562, is used by multiple plugins.

It's probably worth adding it to the _shared-deps_ package, so that it gets loaded only once.

[2022-07-05 13:59] Bamieh opened #135720 "[Upgrade Assistant] Enable UA for minor upgrades"
# Enable Upgrade Assistant for minor upgrades

## Summary

Enable the Upgrade Assistant to handle 8.x upgrades for minor releases. In this iteration we need to identify the minimum requirements to enable this feature as soon as possible.

## Impact and Concerns

- Better user experience in upgrading minor versions
- First step in making the UA more relevant to kibana upgrades during 8.x and beyond

[2022-07-05 13:59] elasticmachine commented on #135720
Pinging @elastic/kibana-core (Team:Core)

[2022-07-05 14:16] spalger commented on #128493
Sounds reasonable to me

[2022-07-05 14:20] mtojek commented on #133822
FYI We started publishing more fresh package Package Storage distributions:

`docker.elastic.co/package-registry/distribution:lite-v2-experimental` - subset of packages, rather small distribution
`docker.elastic.co/package-registry/distribution:production-v2-experimental` - full distribution with all packages

[2022-07-05 14:25] weltenwort commented on #79288
## :information_source: Progress update

In the branch https://github.com/weltenwort/eui/tree/data-grid-scrolling-experiment we set up a sandbox to recreate the scenario of incrementally loading log entries when scrolling into either direction. It can be found in the documentation at "Tabular content -> Data grid advanced -> Scrolling and incremental loading". It employs a combination of these mec

[2022-07-05 14:26] emma-raffenne commented on #134884
Duplicates #135716

[2022-07-05 14:26] #134884 closed

[2022-07-05 14:41] bhavyarm opened #135727 "TypeError: Cannot read properties of undefined (reading 'state') error while importing lens embeddable"
**Kibana version:** 8.2.0

**Elasticsearch version:** 8.2.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** os x

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Found while trying to test this PR:https://github.com/elastic/kibana/pull/134921 for a canvas upgrade failure.
Trying to imp

[2022-07-05 14:41] elasticmachine commented on #135727
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-05 14:42] SpeicherBox commented on #135434
@ibotello @teresaalvarezsoler do you have any information about an ETA. We need a fix ASAP as our Canvas Dashboards are showing wrong Data!

[2022-07-05 14:45] kc13greiner commented on #132645
Starting on this

[2022-07-05 14:56] #133336 closed

[2022-07-05 14:56] #135347 closed

[2022-07-05 14:56] #135348 closed

[2022-07-05 15:02] #134551 closed

[2022-07-05 15:08] kibanamachine commented on #135633
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18017#0181cebb-81ce-4106-b185-f04d45925e67)

[2022-07-05 15:10] #9834 closed

[2022-07-05 15:12] ghudgins commented on #12709
Resolving this as support was added in 2017 🎉

* Lens supports this via custom formula
* TSVB added support via the PR above

[2022-07-05 15:12] #12709 closed

[2022-07-05 15:13] ghudgins commented on #13069
Closing this as we believe this is addressed by the URL Drilldown feature in Dashboards. 🎉

[2022-07-05 15:13] #13069 closed

[2022-07-05 15:15] #14012 closed

[2022-07-05 15:17] #14046 closed

[2022-07-05 15:19] ghudgins commented on #14107
Closing as a duplicate of https://github.com/elastic/kibana/issues/86190

[2022-07-05 15:19] #14107 closed

[2022-07-05 15:24] ghudgins commented on #16821
Lens sort of supports this via formatter overrides (formatter on the vis level)

For more advanced cases, we plan on supporting ad hoc data views which would allow each vis to have its own formatters via the embedded data view object - https://github.com/elastic/kibana/issues/126911

[2022-07-05 15:24] #16821 closed

[2022-07-05 15:26] ghudgins commented on #17709
Closing this as saving the vega visualization also saves the contents of the KQL/Lucene search to the vis. Looks like this one is done! Please re-open if there's something we missed.

[2022-07-05 15:26] #17709 closed

[2022-07-05 15:29] afharo commented on #117367
I think we can close this issue once @alexwizp merges https://github.com/elastic/kibana/pull/135634 because that PR is removing all those collectors.

[2022-07-05 15:31] flash1293 commented on #17798
The locator API / `share.url.locators` service serves this use case

[2022-07-05 15:31] #17798 closed

[2022-07-05 15:32] michaelolo24 commented on #135427
Not an issue in the code, the index pattern in the script just needed to be updated :) as done here: https://github.com/elastic/kibana/pull/135729

[2022-07-05 15:32] ghudgins commented on #23399
Lens supports this as of 8.3 with a new "Accuracy mode" setting that leverages the shard_size option under the hood for top values / terms. This allows all vis types supported by Lens (more than just bar) 🎉

[2022-07-05 15:32] #23399 closed

[2022-07-05 15:34] ghudgins commented on #23492
There is now add to dashboard options for swimlane visualizations to integrate these with the rest of your dashboard panels.

[2022-07-05 15:34] #23492 closed

[2022-07-05 15:38] ghudgins commented on #25815
There are interesting workaround ideas using a runtime field to compute this duration...for example this gives you "now" in milliseconds `double now = System.currentTimeMillis();`

[2022-07-05 15:41] ghudgins commented on #26401
Lens supports this with the metric / legacy metric visualization. 🎉 however we are considering a new metric visualization that keeps the size consistent for look & feel purposes to provide more readability on dashboards. Here is that upcoming design which does not have support for this requirement intentionally: https://elastic.github.io/elastic-charts/?path=/story/metric-alpha--grid&globals=theme

[2022-07-05 15:41] #26401 closed

[2022-07-05 15:43] klacabane commented on #134467
Re last bullet point, the query can return a document from `.ds-metrics-apm.internal-*` which returns incomplete agent and host fields, while documents from `.ds-metrics-kubernetes.state_container-*` contain the fields we're expecting in the UI. Depending on the ingestion time the top document could be one or the either. This could happen with any host type given there are multiple data sources wi

[2022-07-05 15:44] ghudgins commented on #30161
could be interesting to consider this as 1) a part of filters 2) its own quick function so it could be a part of heatmap visualization....

[2022-07-05 15:57] #135576 closed

[2022-07-05 16:02] #131669 closed

[2022-07-05 16:03] #131672 closed

[2022-07-05 16:05] jbudz commented on #135099
@elasticmachine merge upstream

[2022-07-05 16:14] kibanamachine commented on #89397
New failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18027#0181cef9-d735-47bc-9e90-8b84c8359eb8)

[2022-07-05 16:19] ghudgins opened #135735 "[Unified Search] Comparison & opinionated controls in unified search"
**Describe the feature:** Add "Comparison" controls to unified search (or controls more generally)

**Describe a specific use case for the feature:**

_Extendability for Elastic solutions_
**When** I am analyzing data in APM
**I need** an opinionated control that has a custom action for adding comparison windows to all APM visualizations as part of the global unified search
**So I can** apply a cu

[2022-07-05 16:19] elasticmachine commented on #135735
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-05 16:24] kibanamachine opened #135736 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/pages/trusted_apps/view - When on the trusted applications page should search using expected exception item fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18029#0181cf00-e3a2-4a57-9a73-0002c72ce1de)

[2022-07-05 16:24] elasticmachine commented on #135736
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-05 16:34] peteharverson commented on #23492
As well as being able to embed the anomaly swim lane from ML into dashboards, the heat map chart type was added to Lens in 7.14 (https://github.com/elastic/kibana/pull/97978), allowing you to build the same visualization as was possible with the Prelert [swimlane](https://github.com/prelert/kibana-swimlane-vis) plugin.

![image](https://user-images.githubusercontent.com/7405507/177374925-7031ec5f-

[2022-07-05 16:48] pickypg commented on #25815
I would suggest that Kibana provide `now` as a script parameter rather than try to determine it at runtime from Elasticsearch itself. That provides the most consistent experience _and_ it's much more performant as well.

[2022-07-05 17:06] kobelb opened #135740 "Rules failing after upgrading to 8.3.0/8.3.1 from 8.2.*"
**Kibana version:** 8.3.0 and 8.3.1

**Steps to reproduce:**
1. Create or edit alerting rules in 8.2.*
2. Upgrade to 8.3.0 or 8.3.1
3. Alerting rules will stop running and see an error similar to the following: `[security_exception] Reason: missing authentication credentials for REST request [/_security/user/_has_privileges], caused by: ""`

**Expected behavior:**

Alerting rules should continue r

[2022-07-05 17:06] elasticmachine commented on #135740
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-05 17:17] kibanamachine commented on #132865
New failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18031#0181cf3a-f55b-4be9-b24a-d02846b68ab1)

[2022-07-05 17:21] #135501 closed

[2022-07-05 17:46] tsullivan commented on #135225
@jloleysens is this issue still applicable?

[2022-07-05 17:51] kibanamachine commented on #135099
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18036#0181cf5e-4edb-4176-a610-78ac1bd245bd)

[2022-07-05 17:54] kobelb commented on #134002
@emma-raffenne adding this as a field that applies to all alerts makes total sense to me. If you all have a proposal for how this field should be used, you can feel free to have your team open a PR that adds this field to [technical field names](https://github.com/elastic/kibana/blob/482f819a0580d58e766e1db7e8e012a351e41247/packages/kbn-rule-data-utils/src/technical_field_names.ts).

[2022-07-05 18:00] #130975 closed

[2022-07-05 18:06] tsullivan commented on #130851
Hi, I confirm this is happening. This requires running more than 1 ES node (common dev practice) to reproduce. It seems to only happen when the index has replica shards assigned.

The count number comes from the Index Stats API, and using the key `indices.[indexName].total.docs.count` The `total` number includes the documents in primary shards, and replica shards. The key that should be used is `i

[2022-07-05 18:34] kpollich commented on #135189
Closed by https://github.com/elastic/kibana/pull/135731 (automation didn't catch this because it didn't land in `main`)

[2022-07-05 18:35] yctercero commented on #127918
@karanverma-qasource are these all prepackaged rules you're testing?

[2022-07-05 19:43] tsullivan commented on #130851
fix on the way: https://github.com/elastic/kibana/pull/135748/

[2022-07-05 19:59] #131590 closed

[2022-07-05 20:25] smith commented on #121948
Replaced by #135561.

[2022-07-05 20:25] #121948 closed

[2022-07-05 20:55] #130892 closed

[2022-07-05 21:11] elasticmachine commented on #135391
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-05 21:14] Zacqary commented on #135043
Trying this on latest `main` and not able to reproduce according to the listed steps. However, following the recording I think I **can** reproduce it by editing a previously saved snooze and trying to set it to a time that's later than `now` but earlier than the previously saved date. In that case, it's an instance of https://github.com/elastic/kibana/issues/135048

@EricDavisX can you check again

[2022-07-05 21:16] Zacqary commented on #135060
@EricDavisX @mdefazio  do we consider this fixed by #135087 or do we want to implement something more robust?

[2022-07-05 21:44] nimarezainia commented on #116428
@joshdover what remains for us to do in this regard? should we track this for 8.5 (for fleet scaling)

[2022-07-05 22:03] jen-huang commented on #135525
@jsoriano (thanks @mtojek for spotting these) those files are not required to get the new category working. One is just a definition file and other is to always show the category if the registry `/categories` API does not return them - more relevant for package-less/custom integrations than packages from the registry.

It will still be good to update these for consistency so I will re-open this is

[2022-07-05 22:03] lukeelmers commented on #128308
FWIW, when I looked at the code in Cloud for this, `isElasticStaff` appeared to be a simple regex based on the user's email address. So I don't know if authentication method matters for this particular item, but it is very possible I've overlooked something.

[2022-07-05 22:06] #133551 closed

[2022-07-05 22:27] andrewvc commented on #131311
Thanks for responding. The template here is incorrect for use with the uptime app. Generally speaking, while it is __possible__ to override the template unless you're strictly using it to add a few fields it isn't worth it.

In 8.x there's really no reason to do it. It's far better to use component templates to add additional fields to the datastream.

We don't have great docs here yet, but https:

[2022-07-05 22:41] ThomThomson commented on #135727
I just tried this in 8.2 and got the original error:
[code]

I will try backporting the fix to 8.2

[2022-07-05 22:42] 1Copenut opened #135760 "(Accessibility) Implement client routing solution for all products"
**Description**
The EUI team has been working on a long-term solution for a universal client-side routing announcement for screen readers. We have [adopted this solution into the EUI Docs](https://github.com/elastic/eui/pull/5995) and are now wanting to bring it to Kibana products.

This meta issue will be a way to track implementation work for products within Kibana.

Tracking issue: https://gith

[2022-07-05 22:42] elasticmachine commented on #135760
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-07-05 23:17] jen-huang commented on #135631
Julia is correct, closing.

[2022-07-05 23:17] #135631 closed

[2022-07-06 00:16] bvader opened #135766 "[Logs] Logs stream settings erroneously allow spaces between index patterns"
**Kibana version:** 8.2.x, 8.3.x

**Elasticsearch version:**:  8.2.x, 8.3.x

**Server OS version:**: N/A

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** : N/A

**Describe the bug:**
When Entering multiple index patterns in Logs -> Stream -> Setting the UI Allows you to put a space between the index patterns and does

[2022-07-06 00:25] #131152 closed

[2022-07-06 02:06] lukeelmers commented on #135674
Yep this was my conclusion too when I added `node.roles`. I had originally wanted to do it right away after logging was setup, but as you point out, the `ConfigService` isn't there yet, and it didn't seem worth the complexity to try to refactor this. Plus there's the fact that the whole server initialization is synchronous, so it was much cleaner/easier to read the config during the async `preboot

[2022-07-06 02:12] 10xtechie commented on #123218
@legrego , @azasypkin ,
I would like to implement it.  I am thinking of using `TruncatableText` for this. However, I can see one potential issue: TruncatableText belongs to `security_solution` and roles_grid_page.tsx belongs to `security` plugin. Could you please tell me what the best way to access `TruncatableText` from `security_solution` is ?

[2022-07-06 04:16] BUTCHER5 opened #135768 "About Kibana's Time Zone"
**Kibana version**: 7.15

**Elasticsearch version**: 7.15

**Server OS version**:  CentOS Linux release 7.9.2009 (Core）

**Browser version**: '5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:  download page

**Description of the problem includi

[2022-07-06 05:01] jen-huang commented on #135701
@nchaulet @criamico Can you help triage this?

[2022-07-06 05:04] jen-huang commented on #129344
@andresrc This is a Fleet issue that hasn't been bubbled up in priority yet. Is this blocking some packages going GA? (like Cockroach DB?)

[2022-07-06 05:12] ivasve commented on #12835
@alexfrancoeur Is this still an issue? No new comments have been written since 2017. Above mentioned issue #103587 does not look like it's related to this one. Also, I am unsure if an area or bar graph would need a different width of line - as these charts are filled with colour anyway. So there is no line visible. I am suggesting closing this issue.

[2022-07-06 05:36] kunisen commented on #126024
Very sorry for the late response. I filed the PR: https://github.com/elastic/kibana/pull/135771 🙏

[2022-07-06 05:50] LucaWintergerst opened #135772 "[APM] Navigation from Span to Service breaks due to wrong transactionType"
**Kibana version:**
8.3.0

**Steps to reproduce:**
1. easiest is using RUM, as that always has a different transaction.type that other backend services
2. have the rum service call a backend service
3. navigate to the spans of the rum service, click on the span and then the service name

**Expected behavior:**

**Screenshots (if relevant):**
Rum service transaction of type "user-interaction", clic

[2022-07-06 05:50] elasticmachine commented on #135772
Pinging @elastic/apm-ui (Team:apm)

[2022-07-06 06:04] pgayvallet opened #135773 "[http] avoid avoid different internal and public types with the same names"
In https://github.com/elastic/kibana/pull/135448, in order to avoid changing imports for either all the core internal imports or all the external public imports of some `http` types, we had to perform 'type rewrite' by having public and internal types that, even if different, are exposed via the same names (such as `IRouter` or `RequestHandler`).

This was the pragmatic approach to avoid unecessar

[2022-07-06 06:04] elasticmachine commented on #135773
Pinging @elastic/kibana-core (Team:Core)

[2022-07-06 06:06] vitaliidm commented on #130366
@vipulsrivastava-qasource , issue has been addressed in https://github.com/elastic/kibana/pull/135694 and ready for testing

[2022-07-06 07:18] amolnater-qasource opened #135775 "[Fleet]: Able to create tags with special characters like `"` under agents tab, shows error on selecting from tags filter."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Create a tag from actions with special characters say, `"Tags"`
3. Click on Tags dropdown fil

[2022-07-06 07:18] elasticmachine commented on #135775
Pinging @elastic/fleet (Team:Fleet)

[2022-07-06 07:21] mlunadia commented on #134747
@hop-dev @joshdover  I've added a [comment ](https://github.com/elastic/kibana/pull/132182#issuecomment-1175867454)on the multi-page issue for exploring an infrastructure first approach for hosts.
We will for now we will move forward with this issue as it is as it makes sense to make this step consistent but it will be worth it to explore that flow which is much of an industry standard and reduces

[2022-07-06 07:22] manishgupta-qasource commented on #135775
Secondary review for this ticket is Done

[2022-07-06 07:23] mlunadia commented on #134747
cc: @alvarolobato these are the onboarding flow changes we discussed a few weeks back during our sync.

[2022-07-06 07:35] teresaalvarezsoler commented on #135434
@SpeicherBox the dev team is working on it. We will let you know when we have an ETA.

[2022-07-06 08:39] semd opened #135778 "[Security] Kibana Dashboards table"
### Description

As part of the new information architecture and coordinating with Kibana team, users will be able to access Kibana dashboards that are tagged "_Security_" within the context of the Security Solution.

- Create a dashboard from a security context (would auto-tag the dashboard)
- Embed a simple list of dashboards with a specific tag (e.g. security)

![dashboards](https://user-images

[2022-07-06 08:50] maciejforcone opened #135779 "[Infrastructure] Content of hostname section moves left and right after unfolding/unfolding"
**Kibana version:**
8.4.0

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Folding and unfolding of "Hostname" section in metrics inventory (metrics details view), is moving the content left and right, looks like the folding arrow is changing the width

[2022-07-06 08:59] jsoriano commented on #135525
Good catch about the registry, adding the category there https://github.com/elastic/package-registry/pull/841

[2022-07-06 09:10] flash1293 opened #135781 "Allow specifying plugin version requirement as semver range"
Picking up the discussion from https://github.com/elastic/kibana/issues/9019#issuecomment-580722276

Our plugin system matured and at least the core APIs seems pretty stable by now. Based on the current state of affairs, forcing the user to pick a patch version compatibility seems too heavy handed for the case. Requiring any 3rd party plugin user to deal with bumping the version for each plugin th

[2022-07-06 09:10] elasticmachine commented on #135781
Pinging @elastic/kibana-core (Team:Core)

[2022-07-06 09:30] #132939 closed

[2022-07-06 09:34] MichaelKatsoulis commented on #135624
This is a good idea. Each time there is a new update in one of the packages(in the vars of the data streams?), a new ConfigMap will be constructed and a PR can be opened to Kibana project as well to update the  https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/elastic_agent_manifest.ts#L8 which is currently used for the standalone agent. This is not expected to happe

[2022-07-06 09:35] flash1293 commented on #104407
@afharo I think that's expected - Vega is not using the data view, it's specifying the index pattern string as part of the request. If you want to use query time runtime fields in vega, you have to define them as part of the vega spec

[2022-07-06 09:38] #134418 closed

[2022-07-06 09:38] #134419 closed

[2022-07-06 09:38] #134420 closed

[2022-07-06 09:48] afharo commented on #128308
We could implement the same regex on our end. However, users authenticating with the user `elastic` might not have an email.

I made a quick test: open the Network tab in the Dev Tools of the browser and look at the request to `GET /internal/security/me`:

- Using ES-backed authentication:
	- The username matches the ES user (`elastic`)
	- Other fields like `full_name` or `email` are `null`
- Usin

[2022-07-06 09:48] #128308 closed

[2022-07-06 09:54] gizas commented on #135624
Trying to follow all above and details and synced with Christos on the small details, and just some clarifications:
- This story focuses on standalone solely (on Managed agent I want to hide some of above steps but another story)
- Agree that updating [elastic_agent_manifest.ts#L8](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/elastic_agent_manifest.ts#L8) adds m

[2022-07-06 10:14] mtojek commented on #135624
Ok, I see that this thread expanded quickly, so let me clarify few things as Ecosystem owns elastic-package and package-registry.

package-storage as repository will be deprecated soon. By soon, I mean the end of July/August. We will switch to https://package-storage.elastic.co/ which is based on buckets. I strongly recommend not considering package-storage v1 (Git) as a component.

We don't plan

[2022-07-06 10:16] stratoula opened #135788 "[Vega] Clicking on an internal url doesn't work"
**Kibana version:**
8.2 + (it can also happen on older versions but I haven't tested it there)

**Describe the bug:**
If I create a vega spec that allows the user to navigate to an internal url (e.g. a dashboard), the redirect doesn't work.

I used this spec:

<details>
  <summary markdown="span">vega spec</summary>

[code]
</details>

On the spec above change the `lzc/app/dashboards#/view/7adfa75

[2022-07-06 10:16] elasticmachine commented on #135788
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-06 10:18] Dosant commented on #131388
After more discussions with Peter and jumping through the code, I realized that API consumers need a way to handle warnings / errors manually.

Since we already have _inspector adapters_ that are already used in a lot of places, I think it is a good idea to use them for custom handling of warnings.

so basically -
 - SearchSource.fetch() will have options to disable shard failures.
  - Will need t

[2022-07-06 10:33] hop-dev opened #135790 "[Fleet] Improve archive cache storage efficiency"
Currently our archive cache is very basic, there is no invalidation causing it to grow as the user installs packages.

We should look at a more sophisticated approach with size limits e.g an LRU cache, to prevent any memory issues.

[2022-07-06 10:33] elasticmachine commented on #135790
Pinging @elastic/fleet (Team:Fleet)

[2022-07-06 10:41] samratbhadra-qasource opened #135791 "[Fleet]: Toast message shows `Tags updated` instead of `Tags created` while creating tags under Action button>Add / remove tags."
**Describe the bug:**
Toast message shows `Tags updated` instead of `Tags created` while creating tags under Action button>Add / remove tags.

**Build Details:**
[code]

**Preconditions:**
1. Elastic 8.4.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1. Navigate to the Fleet tab under Management.
2. Go to Agents tab and select the agent to add tags.
3. Now, click on action bu

[2022-07-06 10:41] elasticmachine commented on #135791
Pinging @elastic/fleet (Team:Fleet)

[2022-07-06 10:42] samratbhadra-qasource commented on #135791
@manishgupta-qasource Please review.

[2022-07-06 10:48] joshdover commented on #135050
Policy reassigns are not throttled by the same policy_throttle that we have for regular policy changes. Though looking more closely at this code, I think the policy_throttle setting only throttles how many policy updates to _a single agent_ can be sent out, it doesn't throttle how many agents can receive a policy update at once.

I suspect what is happening here is:
- Fleet UI does the following d

[2022-07-06 10:50] kibanamachine opened #135793 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/artifact_list_page/components - When displaying the Delete artfifact modal in the Artifact List Page should show Cancel and Delete buttons enabled"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18066#0181d2f9-f36b-4c53-aaac-692af1bc36a5)

[2022-07-06 10:50] kibanamachine opened #135794 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/artifact_list_page/components - When displaying the Delete artfifact modal in the Artifact List Page should close modal if Cancel/Close buttons are clicked"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18066#0181d2f9-f36b-4c53-aaac-692af1bc36a5)

[2022-07-06 10:50] kibanamachine opened #135795 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/artifact_list_page/components - When displaying the Delete artfifact modal in the Artifact List Page should prevent modal from being closed while deletion is in flight"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18066#0181d2f9-f36b-4c53-aaac-692af1bc36a5)

[2022-07-06 10:50] kibanamachine opened #135796 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/artifact_list_page/components - When displaying the Delete artfifact modal in the Artifact List Page should show success toast if deleted successfully"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18066#0181d2f9-f36b-4c53-aaac-692af1bc36a5)

[2022-07-06 10:51] elasticmachine commented on #135794
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-06 10:51] elasticmachine commented on #135795
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-06 10:51] elasticmachine commented on #135796
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-06 10:52] kibanamachine commented on #131346
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18067#0181d2fb-6aa9-4392-9585-f5f3e0e28fdc)

[2022-07-06 10:53] manishgupta-qasource commented on #135791
Secondary review for this ticket is Done

[2022-07-06 11:04] alvarolobato commented on #134747
@mlunadia ++ looking good, this will improve the experience quite a bit.

[2022-07-06 11:21] gizas commented on #135624
So you dont let us many possibilities there :)

I guess the only 2 final candidates are:
- To create templates them on Kibana side if @kpollich agrees that no perfromance issue might apply
- To create them on daily basis and keep them somewhere where can be picked from kibana on start

Also @mtojek how about the part:

Can we plan for it? Do you see any issues?

[2022-07-06 11:21] amolnater-qasource commented on #91562
Hi @juliaElastic
We have revalidated this feature on latest 8.4 Snapshot and found it **working fine**.
- After 10k agents user is not able to navigate to next list using `>`.
- For 500 pages 20 agents are available per page.

**Build details:**
BUILD: 54194
COMMIT: f94d5ff26bf1f14f9992e426d9a56ac6c5d48fb0

**Screenshots:**
![3](https://user-images.githubusercontent.com/77374876/177507254-171e44d3

[2022-07-06 11:22] amolnater-qasource commented on #135631
Hi @jen-huang @juliaElastic
Thank you for confirming the expected behaviour.
We will be testing this functionality as per shared information.

Thanks!

[2022-07-06 11:27] legrego commented on #123218
Heya @10xtechie, we'd love for you to take a look at this.

@azasypkin I'm thinking the easier, and perhaps more correct solution would be to wrap the role & user names, rather than truncating them. If you agree, then I think the PR for this change becomes pretty easy:

[code]

[2022-07-06 11:27] elasticmachine commented on #135793
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-06 11:28] elasticmachine commented on #135794
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-06 11:28] elasticmachine commented on #135795
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-06 11:42] vitaliidm commented on #128740
It's not fully visible, and we should either make it shorter or truncate with ellipsis like we do in other parts of the UI:

When input is in focus(which is almost always a true for our case, because even when users navigate through options with arrow buttons, input still in focus), placeholder is not getting trimmed with ellipsis. Here is some details on that [on stackoverflow](https://stackoverf

[2022-07-06 11:43] mtojek commented on #135624
It is something I'd like to understand better as elastic-package's actions refer to development lifecycle (`build`, `lint`, `format`, `test`, `stack`, etc.). I don't see how the `createk8sTemplates` action fits there, but maybe we can evaluate/rephrase it.

[2022-07-06 11:50] legrego commented on #134930
As an experiment, I bumped node to `18.4.0` locally against the latest `main` (https://github.com/legrego/kibana/tree/node/18-4-0-experiment). I did not get past the bootstrap step. There appears to be a compile issue with `lmdb-store`. Full output below.

@spalger, I think I remember you being one of the resident `lmdb` experts. Is this something that you've run across before? It also looks like

[2022-07-06 11:58] ChrsMark commented on #135624
The goal here is simple. We want to produce a static kubernetes `ConfigMap` with the templates from the latest versions of packages (for now). In order to make it available to our users we can store it in the upstream repository at https://github.com/elastic/elastic-agent/blob/main/deploy/kubernetes/elastic-agent-standalone/elastic-agent-standalone-daemonset-configmap.yaml. Our official docs at th

[2022-07-06 11:58] azasypkin commented on #123218
Yes, I agree, wrapping would be better/more useful!

[2022-07-06 11:59] samratbhadra-qasource commented on #105400
Hi Team
We have tested this issue on the **self-managed 8.3.1** release build and observed that the issue is reproducible. Please find below the testing details :

**Screenshot:**
![dddddd](https://user-images.githubusercontent.com/84007952/177543056-ab7c9caf-6daa-4bb3-920e-122746fb879d.png)

**Build Details:**
VERSION: 8.3.1
BUILD: 53549
COMMIT: a4f8dc60edb19553f16c166ea79c83c16572897a

We will b

[2022-07-06 12:08] juliaElastic opened #135801 "[Fleet] Improve UI for agent upgrade in batches to hide complexity"
As a side effect of [bulk actioning in batches](https://github.com/elastic/kibana/pull/134565) in 8.4, the UI shows now multiple banners when agent upgrade is executed in batches.
![image](https://user-images.githubusercontent.com/90178898/177545483-d975bdef-c37e-40b7-a622-95d3a4ad399e.png)

This is because for each batch execution, there is a new entry created in `.fleet-actions` index, and the U

[2022-07-06 12:08] elasticmachine commented on #135801
Pinging @elastic/fleet (Team:Fleet)

[2022-07-06 12:12] ghost opened #135802 "[Security Solution] Error is displayed when create the rule and add the action like Slack for second time"
**Describe the bug**
Error is displayed when create the rule and add the action like Slack for second time

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. One rule should be created with slack action configuration

**Steps to Reproduce**
1. Navigate to Rules tab of security
2. Click on Create a new rule
3. Create a rule and add all required information
4. Now select the o

[2022-07-06 12:12] elasticmachine commented on #135802
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-06 12:19] sophiec20 opened #135803 "[RAM] Enable/Disable menu item is different for Security detection rules"
**Kibana version:**
8.4.0 SNAPSHOT

**Describe the bug:**

The enable/disable drop down looks different for rules created in the security app compared to rules created in stack mgmt. I have not checked rules created in o11y.

I can still use the extended menu to enable/disable - the experience here is the same for all rules.

**Steps to reproduce:**
1. Create a rule in Stack mgmt
2. Create a rule

[2022-07-06 12:19] elasticmachine commented on #135803
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-06 12:19] #133306 closed

[2022-07-06 12:19] jughosta opened #135804 "[Rules] Discarding a selected rule type in the Create Rule flyout does not allow to select another rule type"
**Kibana version:** main (8.4)

**Describe the bug:**
If user filters and selects a rule type and then decides to cancel the selection and select another one, it's not possible. The list of filtered rule types is limited but the search bar does not reflect it.

**Steps to reproduce:**
1. From "Rules and Connectors" page click on "Create rule"
2. Filter rule types and pick one of them
3. Press on "

[2022-07-06 12:19] elasticmachine commented on #135804
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-06 12:20] #133307 closed

[2022-07-06 12:26] mtojek commented on #135624
Folks, I'm afraid that you're forgetting about the scaling factor. We need to think about the situation where we have 1kk packages. Do we want to keep updating config maps at that scale?

Also, how do you plan to support those config maps if the format depends on the Elastic stack version?

I suggest going back to square one and rethinking the procedure. Generating templates on a nightly basis and

[2022-07-06 12:27] e40pud commented on #127550
Resolved by #134280

[2022-07-06 12:27] #127550 closed

[2022-07-06 12:27] afharo commented on #135119
After some internal discussion (please @rudolf keep me honest here), our ideal report would include:
- The number of SO per built-in type (for all built-in types)
- The number of SOs in the `others` bucket -> This would show if any third-party plugins are registering their own SOs.
- [Extra]: A top-level `total` with the total count of SOs.

The problem with the current `terms` aggregation is that

[2022-07-06 12:28] jughosta opened #135806 "[Rules] Add validation to prevent selecting a data view without a time field in "Elasticsearch query" rule flyout"
**Kibana version**: main (8.4)

**Description of the problem including expected versus actual behavior**:
Currently we allow to select a data view without a time field which results in a broken rule.

**Steps to reproduce**:
 1. Have 2 data views: with time field and without one
 2. Open a data view with a time field on Discover and press "Alerts" to open the flyout
 3. Switch data view inside the

[2022-07-06 12:28] elasticmachine commented on #135806
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-06 12:28] elasticmachine commented on #135806
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-06 12:37] #133991 closed

[2022-07-06 12:37] elasticmachine commented on #132609
Pinging @elastic/apm-ui (Team:apm)

[2022-07-06 12:39] manishgupta-qasource commented on #135802
Reviewed & assigned to @MadameSheema

[2022-07-06 12:40] #133417 closed

[2022-07-06 12:43] kertal commented on #135584
+1 for aligning, but I'm not 100% what's the best name to choose

[2022-07-06 12:51] sebelga opened #135811 "[TableListView] Add component integration tests"
Once the UX improvement of the `<TableListView />` will be implemented we'll need to add component integration tests on the main functionalities

* Filtering the table
* Sorting the table
* Searching the table
* Opening the details flyout
* Edit the content in the details flyout

[2022-07-06 12:53] sebelga opened #135812 "[TableListView] Move to package"
Once the UX improvement of the `<TableListView />` will be implemented we'll need to move the reusable component out of the `kibana_react` plugin to its own package and changes where it is currently imported from.

[2022-07-06 12:53] elasticmachine commented on #135802
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-06 13:05] pjbertels commented on #134798
Recent examples while trying to do 25,000:
FleetAgentStatus(total=18473, inactive=0, online=10733, error=0, offline=7850, updating=71, other=-110, events=0,
FleetAgentStatus(total=18492, inactive=-3, online=11475, error=0, offline=7064, updating=56, other=-50, events=0,
FleetAgentStatus(total=18496, inactive=-1, online=11050, error=0, offline=6133, updating=53, other=1312, events=0

[2022-07-06 13:13] dominiqueclarke opened #135814 "[Synthetics UI] Deleting monitor crashes page"
**Kibana version**: 8.4.0

**Elasticsearch version**: 8.4.0

**Original install method (e.g. download page, yum, from source, etc.)**: Source

**Description of the problem including expected versus actual behavior**:
When deleting a monitor, the delete action loads endlessly and crashes the page.

<img width="1479" alt="Screen Shot 2022-07-06 at 9 10 12 AM" src="https://user-images.githubuserconte

[2022-07-06 13:13] elasticmachine commented on #135814
Pinging @elastic/uptime (Team:uptime)

[2022-07-06 13:18] machadoum commented on #123838
@andrew-goldstein I am adressing this bug on my PR https://github.com/elastic/kibana/pull/135210

[2022-07-06 13:28] afharo commented on #104407
Confirmed it works by adding the `runtime_mappings` to the Vega specification. Thanks for pointing that out :)

I still wonder if we should allow folks to set a `%variable%` to tell Kibana to automatically populate them. Otherwise, every runtime field created in a Data View needs to be copied to the Vega visualizations to allow filtering in a dashboard.

[2022-07-06 13:44] alisonelizabeth commented on #52608
I think this is different from https://github.com/elastic/kibana/issues/27758.

In the last step, it's mentioned that refreshing the page resolves the problem.

[2022-07-06 13:50] flash1293 commented on #104407
@afharo It's a nice idea for sure, feel free to open a separate enhancement request for it

[2022-07-06 14:02] bhavyarm commented on #135341
Fixed via https://github.com/elastic/kibana/pull/135657

[2022-07-06 14:03] bhavyarm commented on #135450
Fixed via - https://github.com/elastic/kibana/pull/135657

[2022-07-06 14:04] TinaHeiligers opened #135820 "Migrate types to packages: Server-side saved_objects service"
Part of https://github.com/elastic/kibana/issues/134112
See https://github.com/elastic/kibana/issues/134137 for more context

Extract the `saved_objects` service/domain (`src/core/server/saved_objects`) to packages.

Comments here are carried over (slightly edited) from a brainstorming discussion around how to handle breaking up the service into smaller modules and handling circular dependencies b

[2022-07-06 14:04] elasticmachine commented on #135820
Pinging @elastic/kibana-core (Team:Core)

[2022-07-06 14:09] TinaHeiligers commented on #135820
Comments here are carried over (slightly edited) from a brainstorming discussion around how to handle breaking up the service into smaller modules and handling circular dependencies between these and other core services:

[2022-07-06 14:40] TinaHeiligers commented on #135820
## Handling circular dependencies
Main topic for this issue:

There's a circular dependency between the saved_objects service and CoreUsageData service:
Core usage data [registers](https://github.com/elastic/kibana/blob/main/src/core/server/core_usage_data/types.ts#L336) with saved objects:
[code]

And saved objects [depends](https://github.com/elastic/kibana/blob/main/src/core/server/saved_object

[2022-07-06 14:54] lucabelluccini opened #135826 "Email action doesn't escape pipe | character which can break markdown formatting"
**Kibana version:** 7.17+

**Describe the bug:**

Kibana Email Alert fails to render the value containing `|` within a Markdown table.

**Steps to reproduce:**

1) Create an index and some dummy documents:
[code]

2) Create a Elastic Security Rule matching any document (KQL `*`, Index pattern `myindexwithpipes`)

3) Put a wide timeframe

4) Add an Email action and use as payload:
[code]

5) It wil

[2022-07-06 14:55] jeffvestal opened #135827 "[Security Solution] Create Field button not always available in Fields popup in timeline"
**Describe the bug:**
Sometimes the `Create field` button in the Fields pop-up is not displayed in timeline preventing the creation of runtime fields

**Kibana/Elasticsearch Stack version:**
8.3.0

**Original install method (e.g. download page, yum, from source, etc.):**
ESS

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Fields pop up in timeline

**Steps to reproduce:

[2022-07-06 14:55] elasticmachine commented on #135827
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-06 14:56] elasticmachine commented on #135826
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-06 15:02] kertal commented on #16983
for visibility there are new comments in this issue, so there's still demand for a solution:

https://github.com/elastic/kibana/issues/112774

[2022-07-06 15:14] pmuellr commented on #135826
Tried added `.replace(/\|/g, '\\|')` to the markdown escaping here (as suggested), and seems to work as intended.
https://github.com/elastic/kibana/blob/0b2fee08d544b9251baa8f36c7b1bf81b9e9a0f5/x-pack/plugins/actions/server/lib/mustache_renderer.ts#L124-L127

[2022-07-06 15:30] constancecchen commented on #123218
We have an example of `truncateText: true` alongside `render` in our [table docs](https://elastic.github.io/eui/#/tabular-content/tables) (first/last name columns)), so I don't think this is correct. I'll investigate Kibana main sometime today to see if I can identify why the truncation isn't working.

[2022-07-06 15:41] elasticmachine commented on #135827
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-06 15:52] fkanout opened #135833 "[Actionable Observability] - Rule Details Page - Group user rule's actions under an Actions buttons"
## Summary

Part of https://github.com/elastic/kibana/issues/129878
Design https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=806%3A412229
Elastic UI: https://elastic.github.io/eui/#/
                  |-- https://elastic.github.io/eui/#/navigation/button#buttons-with-icons
Rule Details code: https://github.com/elastic/kibana/blob/main/x-pack/plugins/ob

[2022-07-06 15:52] elasticmachine commented on #135833
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-06 15:56] ymao1 commented on #133570
Discussed with @XavierM and @JiaweiWu and we are thinking that a second query makes the most sense. Right now, we are already returning the `num_errored_actions` to the run history log. If that value > 0, then we should expose a way for a user to click to see the errors. We can create an API to retrieve all action execution errors filtered by execution UUID and then show all those messages in a mo

[2022-07-06 15:57] ymao1 commented on #129120
[ECS spec](https://www.elastic.co/guide/en/ecs/current/ecs-allowed-values-event-outcome.html) for `event.outcome` currently only allows 3 values: `success | failure | unknown`

[2022-07-06 16:00] hbharding commented on #135594
![image](https://user-images.githubusercontent.com/847805/177593892-1d347908-727b-41ce-8e04-2e24dd2c9980.png)

[2022-07-06 16:18] Dosant commented on #132162
Hi @klp24, this issue should be possible to workaround by switching back to old autocomplete implementation that uses terms aggregation under the hood.

![image](https://user-images.githubusercontent.com/7784120/177596896-22860b03-fdac-4910-8827-3568b456f83b.png)

As part of this issue, we plan to update the documentation to mention this limitation.

Also we will see if we can fallback automatical

[2022-07-06 16:43] jgowdyelastic opened #135838 "[ML] Trained model testing improvements"
Ideas for testing trained models in the UI

- A small wizard like interface where the user could select data view and field and then run the inference on a real data.
  - Could be a random sampling of data or a specific data range. User could configure number of docs or it could be simple and only use a fixed amount, e.g. 50
  - Rather than using the _infer endpoint, we could create an ingest pipe

[2022-07-06 16:43] elasticmachine commented on #135838
Pinging @elastic/ml-ui (:ml)

[2022-07-06 17:43] #133919 closed

[2022-07-06 17:51] #135305 closed

[2022-07-06 18:14] mikecote opened #135846 "Rule SO is updated twice after running and is subject to OCC issues"
When working on https://github.com/elastic/kibana/pull/135663, I noticed there was a place in alerting's task runner that forgot to `await` when I noticed Kibana was crashing randomly on 409 errors. After some searching, I saw we recently added a new update to the rule SO here https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/task_runner/task_runner.ts#L461 causing a race

[2022-07-06 18:14] elasticmachine commented on #135846
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-06 18:16] 1Copenut commented on #135459
@ThomThomson I took a quick look at the [sufficient techniques](https://www.w3.org/WAI/WCAG21/Understanding/on-input.html#sufficient) to satisfy WCAG SC 3.2.2 On Input. The two that stood out the most were a "Submit" button or a text explanation that data would update automatically on input change. Either of them work for me; I'm most interested in informing users how the UI behaves, so there's a

[2022-07-06 18:23] mikecote commented on #135846
To clarify OCC, it happens when you pass in the read `version` in your update statement => https://www.elastic.co/guide/en/elasticsearch/reference/current/optimistic-concurrency-control.html.

For example, here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/rules_client/rules_client.ts#L2280.

[2022-07-06 18:35] kibanamachine commented on #132865
New failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18092#0181d4a6-9a6c-4aa8-9893-0e20f561dfbe)

[2022-07-06 18:55] ThomThomson commented on #135459
@1Copenut thanks for sending this, I think the first piece, which could probably close this a11y issue, would be to add some sort of notification, text or callout to either the controls or the control group that lets the user know that selections will be automatically applied to the dashboard.

I will defer to @andreadelrio for some idea of how / where we could place this text (i.e. a tooltip, que

[2022-07-06 19:13] flash1293 commented on #116777
Bumping this - @ThomThomson do you think it's worth putting this on the near term roadmap from the presentation team side of things?

[2022-07-06 19:32] peluja1012 commented on #135802
Confirmed that this doesn't happen with Stack Management rules, so it's not a general Connectors issue. I suspect it's an issue with the create rule form state.

[2022-07-06 19:37] graphaelli opened #135853 "[APM] Allow central config for nonexistent services"
**Describe the feature:**

The central configuration UI currently requires a service to have reported in to be configured centrally, presenting a drop down for selection in the UI:

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/83483/177627652-f0204eba-5805-4264-a89a-50aa86aeb8c4.png">

A combo box with custom options, like the anomaly detection job creation seems li

[2022-07-06 19:37] elasticmachine commented on #135853
Pinging @elastic/apm-ui (Team:apm)

[2022-07-06 20:04] ThomThomson commented on #135136
I'm not able to reproduce this locally on Main, but I am able to reproduce this on cloud 8.2. I wonder if this is cloud-specific, or if it's been fixed in >8.3?

As an additional layer of complexity here, it seems like if you navigate to a dashboard after this error is encountered, some pieces of the stack monitoring UI leak into the dashboard, causing problems with the menu. I wasn't able to repr

[2022-07-06 20:11] ymao1 opened #135857 "[Response Ops] Alerting and action monitoring includes excluded task types when calculates overdue metrics"
_Originally posted by @pmuellr in https://github.com/elastic/kibana/issues/135824#issuecomment-1176649759_

should we be taking excluded tasks into account?  I guess it depends on what we expect to do with this information.  If we expect to use it to find out that "tasks are delayed in general", anyone with `exclude_task_types` AND a task of that type is going to throw off the numbers.  Adding add

[2022-07-06 20:17] ymao1 commented on #135857
Initial thought is that they should be. If Kibana is running in clustered mode and one Kibana is using the `exclude_task_types` config, the metrics will still show whether the other Kibanas in the cluster are keeping up with the load.

[2022-07-06 20:23] kpollich opened #135858 "[Fleet] Add data stream API tests for cases where `event.ingested` is not set"
In https://github.com/elastic/kibana/pull/135817, we fixed a bug caused by `event.ingested` being unset in some data stream documents for cloud environments. Some additional testing revealed that this is potentially because enterprise search documents are ingested in Cloud before the `.fleet-final-pipeline` ingest pipeline is installed, e.g.

<details>
<summary>Show code block</summary>

[code]
</

[2022-07-06 20:39] ThomThomson commented on #116777
Hey @flash1293! @teresaalvarezsoler can correct me if I'm wrong, but we aren't focused on any enhancement requests in  Canvas for the near-term. We are only doing maintenance work and major bug fixes.

That said, I would say the best course of action is to just have these labels infer their color solely based on `theme.darkMode`, and not try to infer anything based on the user-configured backgroun

[2022-07-06 20:56] TinaHeiligers opened #135861 "Migrate core domain services to packages: Server-side capabilities service"
Part of https://github.com/elastic/kibana/issues/134112
See https://github.com/elastic/kibana/issues/134137 for more context

Extract the `Capabilities` service/domain (src/core/server/capabilities) to packages.

Depends on:

-`http`

New packages:
`@kbn/core-capabilities-service-server`
`@kbn/core-capabilities-service-server-internal`
`@kbn/core-capabilities-service-server-mocks`

### Handle cros

[2022-07-06 20:56] elasticmachine commented on #135861
Pinging @elastic/kibana-core (Team:Core)

[2022-07-06 21:03] nchaulet commented on #128493
I am not sure it will be easy to implement a way to test all the dashboard, I think for dashboard to work we probably need data no? it's probably better to have some kind of integration tests directly per integrations where dashboard could be tested

[2022-07-06 21:05] spalger commented on #134930
Yeah, I'm not shocked that this is a problem. Newer versions of the software removed features we rely on and the upgrade path isn't obvious. We can probably find a way to make it work but it's likely just one step in the direction of finding all the issues we're going to experience.

[2022-07-06 21:32] JiaweiWu opened #135864 "[RAM] [META] Global event log deliverable 1/3: Consolidate run history event log with the error log"
As a user, I want to see a consolidated run history and the error log in the rule details view. This would allow for a much easier way to associate errored execution event logs with their corresponding errored action event logs, without having to switch back and forth between the 2 event log tabs. As a result of this change, we will no longer have the `Error Log` tab. Instead, we will only have th

[2022-07-06 21:32] elasticmachine commented on #135864
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-06 21:35] JiaweiWu commented on #133570
Here is the meta ticket: https://github.com/elastic/kibana/issues/135864

[2022-07-06 21:37] TinaHeiligers opened #135865 "Migrate core domain services to packages: Server-side core_app service"
Part of #134112
See #134137 for more context

Extract the `CoreApp` service/domain (src/core/server/core_app) to packages.

Technically depends on the 'whole' `InternalCoreSetup` and `InternalCorePreboot`.

https://github.com/elastic/kibana/blob/885e80a1cde3520e18aeefdbc6955d83226cfcc7/src/core/server/core_app/core_app.ts#L61

We may want to change that to a more targeted contract(s).

We also nee

[2022-07-06 21:37] elasticmachine commented on #135865
Pinging @elastic/kibana-core (Team:Core)

[2022-07-06 21:42] #135464 closed

[2022-07-06 21:42] #135463 closed

[2022-07-06 21:46] #130851 closed

[2022-07-06 22:43] spalger opened #135871 "[FTR] Support Kibana task isolation"
In order to support launching the new child process dedicated to running tasks in the FTR we need to add new configuration that tells `scripts/functional_tests` to launch two independent Kibana processes, each with unique configuration that allows them to both run at the same time and both be shutdown together.

The FTR config needs to be able to customize the config specified to the task isolatio

[2022-07-06 22:43] elasticmachine commented on #135871
Pinging @elastic/kibana-operations (Team:Operations)

[2022-07-06 23:37] elasticmachine commented on #135766
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-07 00:35] pjbertels commented on #134798
I see this one in 8.4.0 when trying to bring up 25,000.
FleetAgentStatus(total=25020, inactive=0, online=25000, error=0, offline=0, updating=20, other=20, events=0

[2022-07-07 00:40] kibanamachine opened #135873 "Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/usage/metrics·ts - Reporting APIs Usage metrics and stats "before all" hook for "includes report stats""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18105#0181d5e5-b409-4fba-bab7-c54722ccb6cf)

[2022-07-07 00:40] elasticmachine commented on #135873
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-07-07 00:53] spalger commented on #132865
/skip

[2022-07-07 00:53] kibanamachine commented on #132865
Skipped

8.3: 2a612c6bb9f3c8ab2bbedaea0c99ae0c68593415

[2022-07-07 01:23] 10xtechie commented on #123218
@legrego , @constancecchen , @azasypkin ,
Thanks so very much for all these insights! I am happy to pick it up. Please assign this issue to me :)

[2022-07-07 01:28] smith opened #135874 "Route change announcements for Infrastructure inventory and host views"
See parent issue #135760.

Implement recommended solution for announcing the new location for client-side router route changes.

Do this on the infrastructure inventory and individual host pages.

# ✔️ Acceptance criteria

New page location is announced to screen readers when viewing these pages.

[2022-07-07 01:28] elasticmachine commented on #135874
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-07 06:42] #128899 closed

[2022-07-07 06:46] juliaElastic commented on #134798
This looks good, `online + updating = total` (total stands for all active).
For `other`, there is a calculation `other = all - online - error - offline`. I am not sure why we need the `other` status, it is confusing that it is a different subset (doesn't include online, includes inactive). @joshdover @jen-huang do you recall what is the use case for `other`?

[2022-07-07 06:53] matteocontrini commented on #34230
I'm also seeing a similar issue on both Firefox and Chrome. Scrolling sometimes gets stuck and then starts working again after a few tries.

[2022-07-07 07:34] flash1293 commented on #128098
Addressed by https://github.com/elastic/eui/issues/5903

[2022-07-07 07:36] flash1293 commented on #128493
You are right @nchaulet , there needs to be at least one index so the mappings are set up correctly. I agree that it makes more sense to do this kind of validation on the integrations side.

[2022-07-07 07:44] teresaalvarezsoler commented on #116777
Thanks Joe, we will consider this for the future. As Devon said, we are not prioritizing Canvas enhancements for now.

[2022-07-07 07:49] flash1293 opened #135881 "[Lens] Metric grid: Allow multiple layers"
The new metric grid visualization should allow multiple layers to combine multiple different "primary metrics" in a single visualization (e.g. memory, cpu and disk usage as opposed to breakdowns showing the memory for different hosts)

[2022-07-07 07:49] elasticmachine commented on #135881
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-07 07:50] azasypkin commented on #135676
I see, we discussed this in the past, but decided against this. See https://github.com/elastic/kibana/pull/19417#issuecomment-391833132 for more details (the PR is not for kibana-wide setting, but the idea is the same).

I'm going to close this issue in favor of https://github.com/elastic/kibana/issues/21640 since with user profiles we're much closer to the user preferences now. We finally have a

[2022-07-07 07:51] flash1293 opened #135882 "[Lens] Metric grid: Trend line support"
The metric grid vis should allow users to configure the sparkline which is shown behind the primary and secondary metric.

An open question is how to configure this - as a separate layer for full flexibility or adding a time dimension to the existing layer and using the latest value of the time dimension as main metric?

[2022-07-07 07:51] elasticmachine commented on #135882
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-07 07:56] flash1293 opened #135883 "[Lens] Add IP range function"
To fill the gap to agg based visualizations, IP range function should be supported similar to number ranges.

Open question: Is this a new entry in the function list or wrapped into another function somehow? Could be part of "Intervals" but not sure whether understandable

[2022-07-07 07:56] elasticmachine commented on #135883
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-07 07:57] flash1293 opened #135884 "[Lens] Add date range function"
To fill the gap to agg based visualizations, date range function should be supported similar to number ranges.

Open question: Is this a new entry in the function list or wrapped into another function somehow? Could be part of "Date histogram" as a "pick custom ranges" similar to how it works for "Intervals"

[2022-07-07 07:57] elasticmachine commented on #135884
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-07 07:59] flash1293 commented on #115776
To allow the "serial diff" functionality, it should be `nth previous bucket` (can be done by an optional parameter defaulting to one: `previous_bucket(count(), delta=5)`)

[2022-07-07 08:01] karanverma-qasource commented on #127918
Hi @yctercero ,

We are testing with custom rules as in above steps its mentioned `Create 4 rules, each with an action at a different interval` , please let us know if we have to test with prepackaged or elastic prebuilt rules.

Thanks !

[2022-07-07 08:35] matschaffer commented on #135676
Thanks for the consideration @azasypkin !

[2022-07-07 08:49] #35179 closed

[2022-07-07 08:50] kertal opened #135886 "[Discover] Fieldlist - Refactor field popover stats"
In Discover's sidebar when clicking on a field, we're displaying basic statistics about the Top5 field values based on the sample of 500 documents returned from Elasticsearch.
<img width="575" alt="Bildschirmfoto 2022-07-07 um 10 29 45" src="https://user-images.githubusercontent.com/463851/177728705-85553b98-831f-4cb2-85ee-64c401d1ab1d.png">

This should be improved to work like the way Lens is ha

[2022-07-07 08:50] elasticmachine commented on #135886
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-07 08:51] azasypkin commented on #123218
@10xtechie great, this issue is assigned to you now! Let me know if you need any help, or just tag me for review once you create a pull request.

I'd still try to go with wrapping first as @legrego suggested in https://github.com/elastic/kibana/issues/123218#issuecomment-1176107014 (for both roles and users grids) and see how that looks like. If there are any issues with wrapping, then the Option

[2022-07-07 08:53] kertal opened #135887 "[Discover] Show "unsaved changes" label when in unsaved state of saved search"
For iterating on the redesign of Discover, we need to change the UI for resetting the search, when a saved search is loaded

<img width="978" alt="Discover___eCommerce__Orders_-_Elastic" src="https://github.com/elastic/kibana/assets/463851/fb516d4b-a732-4c7e-91d0-b9a8ef90fe43">

This link should be replaced by
* A badge displayed in Discover's top navigation menu, similar like displayed on a dashb

[2022-07-07 09:14] amolnater-qasource opened #135888 "[Fleet]: Tags filter is not consistent on changing pages under Agents tab."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. 60+ agents should be installed with different tags.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Observe tags filter only shows tags available on Page: 01.
3. Navigate to

[2022-07-07 09:14] elasticmachine commented on #135888
Pinging @elastic/fleet (Team:Fleet)

[2022-07-07 09:14] amolnater-qasource commented on #135888
@manishgupta-qasource Please review.

[2022-07-07 09:15] manishgupta-qasource commented on #135888
Secondary review for this ticket is Done

[2022-07-07 09:19] #134183 closed

[2022-07-07 09:25] Dosant commented on #135681
@flash1293, this seems to be working in 8.3, but it is broken in main.

I think this is a regression that is coming from https://github.com/elastic/kibana/pull/133731

Specifically, here we get `now` once and then it gets stuck:

https://github.com/elastic/kibana/blob/b46763fc2a04913ebf5eeac5724c1b608a7f823f/src/plugins/data/public/search/aggs/aggs_service.ts#L81-L89

Previously it was renewed ins

[2022-07-07 09:29] bhavyarm commented on #135339
Closed via - https://github.com/elastic/kibana/pull/135821

[2022-07-07 10:27] juliaElastic commented on #135888
Your observation is correct, the current implementation is to take the tag list from the agents loaded in current page.
We could improve this by making a terms aggregation on elastic to find all unique tags in agents index.
@jen-huang @kpollich do we want to prioritize this improvement?

[2022-07-07 10:47] juliaElastic commented on #134798
Oh I see, I missed that the total was greater than the actual agents enrolled. Yes, this seems like a bug, though I do not have any clue yet what could cause that.

[2022-07-07 11:10] #132011 closed

[2022-07-07 11:30] kertal commented on #134032
I'm asking for feedback, this is a kind of x-file, hard to solve, agent @constancecchen agent @chandlerprall, can you have a look, add 2 saved searches on a dashboard, enable fullscreen for the first one:
<img width="896" alt="Bildschirmfoto 2022-07-07 um 13 26 34" src="https://user-images.githubusercontent.com/463851/177762966-9477a1bf-b863-45a4-97a2-3cb6004c1524.png">

I think it is caused by th

[2022-07-07 11:34] #129186 closed

[2022-07-07 11:36] #130756 closed

[2022-07-07 11:52] afharo opened #135898 "[DataViews] Cache field attributes in SOs"
At the moment, the DataViews service provides a caching mechanism to avoid reloading them (and their field caps) on every request.

However, this caching mechanism happens [in-memory on the server](https://github.com/elastic/kibana/blob/01c63435792eed6183562c8197c12225921c7cbb/src/plugins/data_views/common/data_views/data_views.ts#L758-L759). So restarts would effectively clear the cache.

Large c

[2022-07-07 12:04] damikun commented on #129095
Can we update directly to 18 since that is major Stable release?

[2022-07-07 12:42] karanverma-qasource commented on #133870
Hi Team,

We have validated above issue on 8.3.2 BC build and it's fixed. 🟢

**Build Details:**
[code]
**Screen records:**

https://user-images.githubusercontent.com/91867110/177773198-2db1df8f-bdfc-4e3f-925d-1dbc60cce017.mp4

[2022-07-07 12:42] #133870 closed

[2022-07-07 12:44] #134467 closed

[2022-07-07 13:00] pmuellr commented on #135857
So we'd see "normal" numbers for the lower P's, and perhaps a very high number for the last P number?  I think that's how that would work out ...

[2022-07-07 13:34] benwtrent opened #135906 "[ML] better indicate why a model cannot be deleted when its referenced by a pipeline"
**Kibana version:**
8.3.0+

**Describe the bug:**
When on the overview page for Trained Models, the selection checkbox is "greyed out" and delete model is disabled.

After much digging around, it turns out there was a pipeline referencing the model. But, there is NO indication that this was the cause of the model not being able to be deleted.

**Expected behavior:**

We should indicate why a user

[2022-07-07 13:36] elasticmachine commented on #135906
Pinging @elastic/ml-ui (:ml)

[2022-07-07 13:59] afharo commented on #135633
@ZainlessBrombie It is quite possible, yes. We backported the fix to `v8.3.2`, that should be released pretty soon 😇

[2022-07-07 13:59] #134482 closed

[2022-07-07 14:01] janmonschke commented on #133315
@monina-n We talked with @paulewing about how to integrate this metric into the flyout. For now we decided to add it as another entry to the highlighted fields table.

However, it would be great to come up with something that more closely resembles the original design as shown in https://github.com/elastic/security-team/issues/3539.

What do you think would be best?

[2022-07-07 14:09] klacabane opened #135908 "[Metrics UI] Node details view improvements"
### Summary

Summarizing some thoughts after working on the metrics' Node details page in https://github.com/elastic/kibana/pull/135585

- Metrics overview is taking up prime real estate but does not feel too valuable:
  - each metric shown there is computed similarly as their corresponding graphs below (an averaged timeseries) but only displays the most recent value of the timeseries. The metric

[2022-07-07 14:09] elasticmachine commented on #135908
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-07 14:22] thekofimensah commented on #128098
Thanks team!

[2022-07-07 14:44] kibanamachine commented on #135793
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18126#0181d8f6-4ae0-4151-9084-90996d5314a3)

[2022-07-07 14:44] kibanamachine commented on #135794
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18126#0181d8f6-4ae0-4151-9084-90996d5314a3)

[2022-07-07 14:44] kibanamachine commented on #135795
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18126#0181d8f6-4ae0-4151-9084-90996d5314a3)

[2022-07-07 14:44] kibanamachine commented on #135796
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18126#0181d8f6-4ae0-4151-9084-90996d5314a3)

[2022-07-07 14:45] kibanamachine commented on #135794
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18127#0181d8f7-8c3a-4ec1-9ba0-8f460a5f225f)

[2022-07-07 14:45] kibanamachine commented on #135795
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18127#0181d8f7-8c3a-4ec1-9ba0-8f460a5f225f)

[2022-07-07 14:45] kibanamachine commented on #135796
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18127#0181d8f7-8c3a-4ec1-9ba0-8f460a5f225f)

[2022-07-07 14:46] kibanamachine commented on #135339
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18125#0181d8f2-2f1e-4752-867f-99fd9a310fe9)

[2022-07-07 14:49] jughosta opened #135912 "[Discover] Filter in / filter out buttons are not working correctly for empty values"
**Describe the bug:**

Using +/- filters on Discover page for empty filters results in a broken state. They should be handled as "not exist" / "exist" filters instead.

**Steps to reproduce:**
1. Open a data view with empty fields and add those columns
2. Try to press +/- filter buttons for empty values
3. Notice that it does not change the search in a correct way

**Expected behavior:**
They shou

[2022-07-07 14:51] jbudz commented on #135794
/skip

[2022-07-07 15:00] flash1293 commented on #135781
@pgayvallet Thanks for this insightful comment - I can agree with everything here. If there's room for that I would like to push forward the motion to get to a sensible backwards compatibility model for plugin APIs, I think there's quite some potential if we make it easier to develop plugins.

Maybe another take on the underlying issue for the near term:
I think the more important part isn't on th

[2022-07-07 15:01] #130186 closed

[2022-07-07 15:02] kibanamachine opened #135914 "Failing test: Firefox UI Functional Tests.test/functional/apps/console/_console·ts - console app console app with folded/unfolded lines in request body should save the state of folding/unfolding when navigating back to Console"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18131#0181d91a-49a8-4558-a776-dd6981644915)

[2022-07-07 15:06] kevinlog commented on #135794
@dasansol92 these other tests failed at the same time, maybe the problem is related

https://github.com/elastic/kibana/issues/135796#issuecomment-1177730046
https://github.com/elastic/kibana/issues/135793#issuecomment-1177729918

[2022-07-07 15:07] afharo commented on #48352
Just dropping a comment to highlight that UI Counters are fully usable in production, and automatically indexed, so there's no need to update mappings as more events are added 😇

[2022-07-07 15:12] peteharverson commented on #106617
Closing issue as the title on the card in screenshot 1 in https://github.com/elastic/kibana/issues/106617#issue-951111726 no longer uses the term 'Import':

![image](https://user-images.githubusercontent.com/7405507/177808115-8c4293e9-4773-43ba-a2f5-2d14586a6bd5.png)

and https://github.com/elastic/kibana/pull/135905 removes the phrase `import the data into an Elasticsearch index` from the about s

[2022-07-07 15:29] mikecote commented on #130308
Closing due to API and UI changes implemented.

[2022-07-07 15:29] #130308 closed

[2022-07-07 15:43] mikecote commented on #135386
Closing as fixed by https://github.com/elastic/kibana/pull/135663.

[2022-07-07 15:43] #135386 closed

[2022-07-07 15:44] flash1293 commented on #48352
Thanks for the note @afharo ! We are migrating away from the custom lens ui to ui counters right now.

[2022-07-07 15:44] elasticmachine commented on #135914
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-07 15:54] criamico commented on #135701
I took a look at the issue and it seems that the displayed strings are misleading because they use the same language for two different things:

- The toast notification displays the [total](https://github.com/elastic/kibana/blob/d779e5306ee0354fa78580eea4540b38fd04ed3f/x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx#L130-L171) of successful r

[2022-07-07 15:56] afharo opened #135922 "[Telemetry] Instrument APM around snapshot telemetry generation"
We want to minimize the impact the telemetry collection has on production clusters. To have more visibility around them, let's instrument some APM transactions and spans when running each collector to measure and identify the most costly actions performed by the usage collectors.

Relevant piece of code: https://github.com/elastic/kibana/blob/7e7f862a79aa2de645073df100fcd9afb32d3cd7/src/plugins/us

[2022-07-07 15:56] elasticmachine commented on #135922
Pinging @elastic/kibana-core (Team:Core)

[2022-07-07 15:56] afharo commented on #135922
@lizozom, given your experience with APM instrumentation, it'd be great if you could advise us on the best way to instrument these: one transaction `usage_collection` and one span per collector? multiple transactions?

Bear in mind collectors run in parallel, does that affect the spans/transactions (ie: will they close each other)?

[2022-07-07 15:56] mikecote commented on #19346
Removing ResponseOps label. Kibana Alerting allows users to create a connector per Slack account and choose the one they want when creating an alerting rule.

[2022-07-07 16:08] elasticmachine commented on #135702
Pinging @elastic/fleet (Team:Fleet)

[2022-07-07 16:09] elasticmachine commented on #135688
Pinging @elastic/fleet (Team:Fleet)

[2022-07-07 16:09] elasticmachine commented on #135680
Pinging @elastic/fleet (Team:Fleet)

[2022-07-07 16:14] afharo commented on #135633
Oh... looking at https://github.com/elastic/kibana/compare/v8.3.1...v8.3.2, it looks like it didn't make the cut by a couple of hours... 😢

I'll be released in the next version for sure :)

[2022-07-07 16:16] jamster10 commented on #124819
The scope of this work changed, also affecting the ticket structure. Please reference the [epic](https://github.com/elastic/security-team/issues/2861)and [this ticket](https://github.com/elastic/security-team/issues/4336) instead.

[2022-07-07 16:16] afharo commented on #117489
Since the only outstanding item in this issue is https://github.com/elastic/kibana/issues/93770, I'll move it to the parent meta issue so we can close this one.

[2022-07-07 16:16] #117489 closed

[2022-07-07 16:18] #124823 closed

[2022-07-07 16:19] #124827 closed

[2022-07-07 16:20] #124828 closed

[2022-07-07 16:24] alisonelizabeth opened #135927 "[Guided onboarding] Dismiss tour if user clicks on Guided setup button"
Follow-up to https://github.com/elastic/kibana/pull/135095.

**Steps to reproduce:**
1. Clear localStorage
2. Navigate to `app/home/#/getting_started`
3. Click "Monitor my infrastructure".
4. Complete the tour up to the last step - "Now add your data!" (Do *not* click "End tour")
2. Click on the "Guided setup" button.
3. Note the tour bubble still appears.

**Expected behavior:**
The tour should e

[2022-07-07 16:24] elasticmachine commented on #135927
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-07 16:31] elasticmachine commented on #135760
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-07 16:52] mikecote opened #135930 "[Connectors] Document the recommended architecture for connectors working with proxy servers"
Given how complex proxy servers can be, we should document our recommended architecture for customers to follow when they wish to use proxy servers in front of their connector endpoints. We've had issues in the past where customers tried to make an http proxy forward to an https service and realized it wasn't working (https://github.com/elastic/kibana/issues/125837). We should maybe call this out

[2022-07-07 16:52] elasticmachine commented on #135930
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-07 16:58] jen-huang commented on #135888
@juliaElastic Yes, we should load tags across all agents. I will assign to you and put this on our board. Thanks!!

[2022-07-07 17:02] afharo commented on #135898
We recently learned that this statement is not entirely true (at least on 7.17). And they can even be really costly to ES to the point of making it crash.

[2022-07-07 17:07] jamster10 opened #135933 "Remove External Alerts section from Host and User page tabs, in favour of displaying external alerts in the events table using a checkbox"
Update the UI to no longer have an external alerts tab, but instead a checkbox in the events section that toggles showing external alerts.

<img width="1460" alt="Screen Shot 2022-07-10 at 9 45 33 PM" src="https://user-images.githubusercontent.com/28942857/178179497-2b98350d-2abf-486d-a991-6397b3e94118.png">

Remove the External Alerts Chart from the overview page, and change the name of Detection

[2022-07-07 17:11] kobelb commented on #135857
I think we should include the excluded tasks in these overdue metrics. Now that we have `node.roles`, we should be able to remove the `unsafe.excluded_task_types` setting. I can't think of any reason why we'd want to keep it around. Even if we do decide to keep it around, these tasks won't be run by one or more nodes, and they are overdue.

[2022-07-07 17:22] spong opened #135936 "[Security Solution] Alerts Trend `Stack by` component's mid-width interferes with suggestions"
**Describe the bug:**

The Alerts Trend `Stack by` component has a very small min-width set which makes it difficult to read suggestions when typing in a field name. Please see gif below. Probably just want to set a larger min-width, but added the `needs design` label so @elastic/security-design can provide feedback.

<p align="center">
  <img width="500" src="https://user-images.githubusercontent

[2022-07-07 17:22] elasticmachine commented on #135936
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-07 17:24] mikecote opened #135938 "Should alerting, actions and task manager telemetry have field(s) to capture when the telemetry job failed?"
We've encountered issues in the past where the scripted aggs failed on certain clusters and it wasn't easy to know how many clusters failed to build their telemetry objects. I wonder if we should, under each usage collector, have some fields to indicate if the building of the telemetry object failed? Currently, we report empty values and nothing else ([example](https://github.com/elastic/kibana/bl

[2022-07-07 17:25] elasticmachine commented on #135938
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-07 17:30] mikecote opened #135939 "Fix task manager health monitoring docs to indicate runtime is only returned by nodes running background tasks"
With https://github.com/elastic/kibana/pull/134388, Task Manager now has different types of roles. One role (`ui`) allows task manager to schedule and manage tasks, while the other role (`background_tasks`) allows task manager to run background tasks. When a Kibana instance isn't running background tasks, Task Manager will not report values for `runtime` when calling it's health API (https://www.e

[2022-07-07 17:37] liza-mae opened #135940 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/home/_newsfeed·ts - home app Newsfeed has red icon which is a sign of not checked news"
**Version: 8.3.2**
**Class: Chrome UI Functional Tests.test/functional/apps/home/_newsfeed·ts**
**Stack Trace:**
[code]
**Other test failures:**
- home app Newsfeed shows all news from newsfeed

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #135577
**Version: 8.3.2**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_field_formatter·ts**
**Stack Trace:**
[code]
**Other test failures:**
- management field formatter field format editors String format edit formats "after each" hook for ", and check available formats types"
- management field formatter field format editors String format check formats check field format of "1" f

[2022-07-07 17:38] liza-mae commented on #133430
**Version: 8.3.2**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_exclude_index_pattern·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #135578
**Version: 8.3.2**
**Class: Chrome UI Functional Tests.test/functional/apps/management/_data_view_relationships·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #133431
**Version: 8.3.2**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard/group6/dashboard_query_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #130210
**Version: 8.3.2**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**
- APM API tests trial apm_mappings_only_8.0.0 fetching service anomalies with a trial license with ml jobs "before all" hook for "returns a 200 for a user _with_ access to ML"
- APM API tests trial apm_mappings_only_8.0.0 Sorted and filtere

[2022-07-07 17:38] liza-mae commented on #105355
**Version: 8.3.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #105357
**Version: 8.3.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #98420
**Version: 8.3.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #130208
**Version: 8.3.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_policies·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis management index lifecycle management snapshot policies returns policies

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:38] liza-mae commented on #130209
**Version: 8.3.2**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_repositories·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3534/testReport/_

[2022-07-07 17:39] #135354 closed

[2022-07-07 17:47] liza-mae commented on #135940
Newfeed not updated at the time of running the tests, so closing

[2022-07-07 17:47] #135940 closed

[2022-07-07 17:56] 10xtechie commented on #123218
@legrego , @azasypkin
thanks for assigning this issue to me!! What did you actually mean by saying warping roles and users? Did you mean using some kind of Eui tag  such as `<EuiText>` or normal html tag such `span with className="eui-textTruncate"` to wrap around `{name} ` at line number 207 of roles_grid_page.tsx ?

[2022-07-07 18:11] JiaweiWu commented on #132506
@lcawl Hi Lisa, we would love to get your help to create some tooltip text to help explain what these columns mean. Currently, we have the following aggregated columns for the run history table:

[code]

![Image](https://user-images.githubusercontent.com/74562234/177840125-a1d64930-3f3d-4a9c-b0a7-583a05b5bfc7.png)

Let me know if you need for information, Thanks!

[2022-07-07 18:26] JiaweiWu opened #135945 "Create new search bars for the run history and error log lists to search for the event log `message` field"

[2022-07-07 18:31] #131050 closed

[2022-07-07 18:36] elasticmachine commented on #135933
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-07 18:38] nkhristinin commented on #133457
Hey @karanverma-qasource

Per [documentation](https://www.elastic.co/guide/en/security/current/rules-ui-create.html#indicator-value-lists) you should use .items-<space_name> (.items-default for default space) for indicator index patterns.

[2022-07-07 18:54] jen-huang commented on #135680
Dupe of https://github.com/elastic/kibana/issues/133148 (which will be available in 8.4).

[2022-07-07 18:54] #135680 closed

[2022-07-07 19:00] butlerx commented on #135366
The fix (#135896)  for #131050 is marked as not to backport but this issue is for v7

[2022-07-07 19:06] constancecchen commented on #134032
@kertal The issue is the `.react-grid-item .react-draggable .react-resizable` parent wrapper around the datagrid - it's setting its own `z-index: auto` as well as `position: absolute/relative`. Because this is a parent to EuiDataGrid, our z-index CSS cannot overrule/break out of this - it's constrained within a non-static parent's z-index. Here's a quick screencap of fullscreen mode working correc

[2022-07-07 19:06] miltonhultgren commented on #135908
Some of the things you mention are possible in the Metrics Explorer but I always think of something Chris Cowan told me "very few observability analysts, sit and just _explore_ data", so I think taking features from there and baking them into the node details page is a good idea.

cc

[2022-07-07 19:27] YulNaumenko opened #135947 "[Security Solution][Tech debt] Remove docValueFields usage from security_soultion and timelines plugins"
After migrating all ES queries to use fields API, there is no need to have docValueFields any more.
During work on the [migration to fields API](https://github.com/elastic/kibana/pull/128711), some usage was removed, but it still ab lot of code which unnecessary have it.
The goal of this issue is to clean up security_solution and timelines plugins from docValueFields usage.

[2022-07-07 19:32] elasticmachine commented on #135766
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-07 19:38] rudolf commented on #135922
APM can help us see why the wall time is slow (e.g. because there's several request running serially) but it cannot answer the question "why is ... making Kibana slow". When it comes to telemetry the wall time is not the problem, the problem is that it sometimes blocks the CPU and causes slow event loops.

[2022-07-07 20:20] lukeelmers commented on #135781
Completely agree there's a lot of potential here, and so much more we could do to make authoring & consuming plugins easier. And backwards compatibility is an obvious place to start. But... it's tricky :)

We are working on a plan for addressing BWC in our REST APIs, but addressing it in our plugin APIs is a whole other (much larger) level of complexity, for reasons we don't have to get into here.

[2022-07-07 20:36] JiaweiWu opened #135954 "[RAM] Consolidate run history and error logs; implement search for event log messages"
parent issue: https://github.com/elastic/kibana/issues/135864

Consolidate run history and error log:
- Add a new modal to house the error log
- Use new APIs (https://github.com/elastic/kibana/issues/136587) to fetch for action error logs
- Support filtering and pagination of action error logs
- Add a new search bar to search for event log messages
- Ensure designs match the parent issue

[2022-07-07 20:39] JiaweiWu commented on #135864
I think the run history table is going to be unchanged mostly (except for the search bar and the button to open up the modal), so we're just going to show all of the action error messages for that particular rule execution

[2022-07-07 20:46] Zacqary commented on #135846
Two possible ways to solve this:

- Create a task that runs every 1m. Iterates through all rules, updates all their `isSnoozedUntil` times. Runs `clearedExpiredSnoozes` to garbage collect. **Easy to implement, potentially doesn't scale as more rules get created**
- Snoozes spawn tasks. Schedule a task on a new snooze's `dtstart` to set the `isSnoozedUntil` time. Then schedule a task to clear the `

[2022-07-07 20:54] ymao1 commented on #135864
@mdefazio

If the rule execution ends in a failure, then actions for that execution will not be scheduled, so there should be no action execution errors. If rule execution ends in success or warning, then actions were potentially scheduled so action errors could potentially occur. So the CTA on the `Action errors` column in the mockup should only be visible when `num_errored_actions > 0` and click

[2022-07-07 22:01] dimadavid commented on #135936
cc @elastic/security-design

[2022-07-07 22:33] mattkime commented on #135898
The change was implemented with the assurance that field caps api calls are fast. As it turns out, this claim by ES engineers was not properly substantiated. They've since done work to make the claim accurate although I'm not sure how much the 7.17 branch will benefit.

The caching of index pattern fields was quickly falling apart as solution field lists grew. It was possible to produce saved obje

[2022-07-07 22:45] TinaHeiligers opened #135961 "Migrate core domain services to packages: Server-side deprecations service"
Part of #134112
See #134137 for more context

Extract the `Deprecations` service/domain (`src/core/server/deprecations`) to packages.

### Depends on:
- `http`
- `saved_objects` (route handler context, for the scoped client)
- `elasticsearch` (route handler context, for the scoped client)

### New packages:
`@kbn/core-deprecations-common` (public types shared between server & browser)
`@kbn/core-d

[2022-07-07 23:08] dhurley14 opened #135963 "[Security Solution] Investigate usage of `lodash/fp` `set` function"
TL;DR: This issue serves as a placeholder for investigating our usage of the `lodash/fp/set` and `@elastic/safer-lodash-set/fp` to ensure we are not experiencing bottlenecks in other areas of our application where these functions are being used.

When doing some performance testing I found a bottleneck in our code where we merge the `_source` and `fields` data.

When we merge the data from the _so

[2022-07-07 23:08] elasticmachine commented on #135963
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-07 23:08] elasticmachine commented on #135963
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-07 23:16] TinaHeiligers opened #135966 "Migrate types to packages: Server-side i18n service"
Part of #134112
See #134137 for more context

Extract the `i18n` service/domain (src/core/server/i18n) to packages.

### Depends on:

- `http`
- `plugins` (reads `pluginPaths` -> we need to decide how to handle this dependency)

### New packages:

@kbn/core-i18n-server
@kbn/core-i18n-server-internal
@kbn/core-i18n-server-mocks

## Dependency analysis:

### Core-services:

`http`:
https://github.co

[2022-07-07 23:16] elasticmachine commented on #135961
Pinging @elastic/kibana-core (Team:Core)

[2022-07-07 23:39] andreadelrio commented on #135459
@1Copenut Are there restrictions as to where to place this explanation? More specific questions follow:

- Can it be included in the  `Create control` form?
- Or does it have to be included in the control itself? if it has to be included in the control itself, can we display it in the input (`euiPopover__anchor`) or do we have to display it in the options list (right where the user makes their sel

[2022-07-08 02:18] mattkime opened #135970 "Only use Data Views API to load data views"
https://github.com/elastic/kibana/issues/133083

Only the Data Views API should perform CRUD related data view operations. The follow UIs are composing their own data view like objects. Instead, they should compose DataViewSpecs and instantiate them with DataViews.create.

`x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_logs/filter_dataset.tsx`
`

[2022-07-08 02:18] elasticmachine commented on #135970
Pinging @elastic/apm-ui (Team:apm)

[2022-07-08 02:19] mattkime opened #135971 "Only use Data Views API to load data views"
https://github.com/elastic/kibana/issues/133083

Only the Data Views API should perform CRUD related data view operations. The follow UIs are composing their own data view like objects. Instead, they should compose DataViewSpecs and instantiate them with DataViews.create.

`x-pack/plugins/canvas/public/lib/es_service.ts`

[2022-07-08 02:21] #135287 closed

[2022-07-08 02:21] mattkime opened #135972 "Only use Data Views API to load data views"
https://github.com/elastic/kibana/issues/133083

Only the Data Views API should perform CRUD related data view operations. The follow UIs are composing their own data view like objects. Instead, they should compose DataViewSpecs and instantiate them with DataViews.create.

`x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx`

[2022-07-08 02:22] elasticmachine commented on #135972
Pinging @elastic/fleet (Team:Fleet)

[2022-07-08 03:34] watsoninfosec commented on #134293
Since then I have deleted that server but I have created a new one and still thee same problem.
![image](https://user-images.githubusercontent.com/45579073/177911656-505a34d5-5860-4d85-b1da-527ebcb1a334.png)

Indices: apm-*-transaction*, auditbeat-*, endgame-*, filebeat-*, logs-*, packetbeat-*, traces-apm*, winlogbeat-*, -*elastic-cloud-logs-*

[2022-07-08 03:45] watsoninfosec commented on #134293
`{
  "name": "Error",
  "message": "index_not_found_exception: [verification_exception] Reason: Found 1 problem\nline -1:-1: Unknown index [*,-*]",
  "stack": "handleSearchError@http://172.16.100.141:5601/53549/bundles/plugin/data/kibana/data.plugin.js:1:400465\nsearch/</<@http://172.16.100.141:5601/53549/bundles/plugin/data/kibana/data.plugin.js:1:403206\na/</s<@http://172.16.100.141:5601/53549/b

[2022-07-08 05:39] kibanamachine commented on #135339
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18159#0181dc21-de47-46a9-977e-99c6762a79fa)

[2022-07-08 05:47] matschaffer commented on #135908
I love the sentiment here. Reminds me of https://en.wikipedia.org/wiki/Anscombe%27s_quartet

If it helps at all, I'm often a fan of a min/avg/max chart that I can dig into, either as discrete series, heatmap, top/bottom N.

[2022-07-08 06:12] pgayvallet commented on #135966
I think we're fine, given there's no type dependency here (`pluginPaths` is a string array), nor direct `i18n` -> `plugin` type dependencies?

[2022-07-08 06:36] miltonhultgren commented on #135908
TIL (kinda)!

[2022-07-08 06:57] amolnater-qasource opened #135975 "[Fleet]: User is able to add tags to Hosted fleet server through bulk actions."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Observe user is not able to add tags to Hosted Fleet Server from Actions.
3. Select agents fr

[2022-07-08 06:57] elasticmachine commented on #135975
Pinging @elastic/fleet (Team:Fleet)

[2022-07-08 06:57] amolnater-qasource commented on #135975
@manishgupta-qasource Please review.

[2022-07-08 07:02] #135912 closed

[2022-07-08 07:12] manishgupta-qasource commented on #135975
Secondary review for this ticket is Done

[2022-07-08 07:16] miltonhultgren commented on #135766
I opened https://github.com/elastic/kibana/pull/135977 to address the Logs UI side of things (index pattern string).

[2022-07-08 07:33] azasypkin commented on #123218
We meant that if the name of the user or role is too long, we might just wrap it onto a new line instead of truncating it. @legrego suggested a change in https://github.com/elastic/kibana/issues/123218#issuecomment-1176107014 that is supposed to do that, have you tried it?

[2022-07-08 07:37] stratoula opened #135979 "[Visualize] Positioning the legend on the bottom or top creates a big white space"
**Kibana version:**
8.3+
It doesnt happen on prior versions. I checked it on 8.2

**Describe the bug:**
This bug doesnt happen in Lens.

Create a visualize graph and move the legend to the bottom. You will see a big white space between the legend and the end of the page.

<img width="1917" alt="image" src="https://user-images.githubusercontent.com/17003240/177941476-f47c0c6d-2fef-4674-ae28-518a80f

[2022-07-08 07:37] elasticmachine commented on #135979
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-08 07:37] stratoula commented on #135979
Discuss post https://discuss.elastic.co/t/bug-with-legend-when-its-bottom/308663

[2022-07-08 08:04] flash1293 commented on #135979
Same problem as https://github.com/elastic/kibana/pull/133851, but for agg based visualizations. Very soon these won't happen anymore...

[2022-07-08 08:07] juliaElastic opened #135980 "[Fleet] Deprecate agent total status in agent_status API response"
Currently `/agent_status` Fleet API returns a `total` status in response, which includes all `active` agents. This is misleading because `inactive` agents are not included in `total`.
Deprecate `total` field and instead introduce statuses:
- `all`: all active and inactive
- `active`: all active

_Originally posted by @joshdover in https://github.com/elastic/kibana/pull/135816#discussion_r915881562

[2022-07-08 08:08] elasticmachine commented on #135980
Pinging @elastic/fleet (Team:Fleet)

[2022-07-08 08:08] #135788 closed

[2022-07-08 08:12] tetianakravchenko opened #135981 "[Prometheus integration tutorial] Remove Metricbeat tutorial"
First page displayed after selecting Prometheus integration is a metricbeat tutorial with the link to `Elastic Agent integration` tutorial:
<img width="1132" alt="Screenshot 2022-07-08 at 10 11 00" src="https://user-images.githubusercontent.com/28299531/177947863-41316ba1-674d-421f-bc2b-1444fe4d39ab.png">

Could you please remove this page and display `Prometheus Integration`, without metricbeat t

[2022-07-08 08:30] Dosant commented on #135577
Looks like this test became flaky and also was skipped in main: https://github.com/elastic/kibana/issues/135110

[2022-07-08 08:34] Dosant commented on #135110
Seems like some flakiness with test data setup and then running the test 🤔

![image](https://user-images.githubusercontent.com/7784120/177952024-6e3a8d7b-8965-46ff-8eb0-afb1449452e2.png)

[2022-07-08 08:37] maryam-saeidi opened #135983 "[Actionable Observability] Rule Details Page - Fix panels' height mismatch"
### Summary
This ticket is related to [this PR's comment](https://github.com/elastic/kibana/pull/135643#issuecomment-1177672064).
During testing, I noticed that the boxes related to Rule's definition and RuleStatusPanel do not have the same height.
Current implementation:
![image](https://user-images.githubusercontent.com/12370520/177952106-9b18a3d7-bdc3-41af-8920-60feddcc15fa.png)
[Design](https:

[2022-07-08 08:37] elasticmachine commented on #135983
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-08 08:39] Dosant commented on #135109
Related https://github.com/elastic/kibana/issues/135110

[2022-07-08 08:40] afharo commented on #135898
Even if the fields were not indexed? Wow! 🤯

I totally trust your expertise in this matter. If you think it's not worth applying this change. I'm happy to close this issue. At least, we have the documented reasons for not doing it :)

One follow-up question though: I noticed many apps (dashboard, discover, visualization, apm, ml) call `clearCache` when loading. I wonder if they should be more expl

[2022-07-08 08:44] Dosant commented on #133429
Related https://github.com/elastic/kibana/issues/135577

[2022-07-08 08:45] afharo commented on #135922
I'd say it's both: we received claims that it could also affect ES' performance (#93770), even though we've demonstrated most of the time it's just highlighting another underlying problem.

Re event loop delays, it looks like APM also monitors that (https://github.com/elastic/apm-agent-nodejs/issues/1053).

[2022-07-08 08:46] Dosant commented on #134953
Related https://github.com/elastic/kibana/issues/135577

[2022-07-08 08:47] #134216 closed

[2022-07-08 08:49] Dosant commented on #135176
Related https://github.com/elastic/kibana/issues/135110

[2022-07-08 08:50] Dosant commented on #135175
Related https://github.com/elastic/kibana/issues/135176

[2022-07-08 08:52] #128227 closed

[2022-07-08 08:52] #126426 closed

[2022-07-08 08:54] cnasikas commented on #103748
Currently 118.1KB. I put the issue in our backlog.

[2022-07-08 08:54] elasticmachine commented on #103748
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 08:55] stratoula commented on #133925
@nickofthyme I can't replicate this locally. I create a user with the viewer role and I dont see the Create dataview link on the dataview picker.
I also created a role with view privileges in Discover and Visualize. Still can't see the menu. Maybe I am doing some wrong here 🤔

[2022-07-08 08:59] akanshachoudhary-qasource commented on #135463
Hi @melissaburpo

We have validated this issue on the `Kibana Guide [8.3]` and found that issue is **Fixed**.

#### Guide Link
 - https://www.elastic.co/guide/en/kibana/current/osquery.html

### Please find the below Observations

![b1](https://user-images.githubusercontent.com/104823771/177921209-d28b3d03-6761-4781-b301-5c45d0400af0.png)

Thanks!

[2022-07-08 09:00] bhavyarm opened #135985 "Tag assignment panel a11y error - [aria-input-field-name]: Ensures every ARIA input field has an accessible name"
**Kibana version:** 8.4.0

**Elasticsearch version:** 8.4.0

**Browser version:** chrome latest

**Browser OS version:** OS X

**Steps to reproduce:**

Kibana Tags Page Accessibility
  | tag assignment panel meets a11y requirements:
  |  
  | Error: a11y report:
  |  
  | VIOLATION
  | [aria-input-field-name]: Ensures every ARIA input field has an accessible name
  | Impact: serious
  | Help: http

[2022-07-08 09:00] elasticmachine commented on #135985
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-07-08 09:00] akanshachoudhary-qasource commented on #135464
Hi @melissaburpo

We have validated this issue on the `Kibana Guide [8.3]` and found that issue is **Fixed**.

#### Guide Link
 - https://www.elastic.co/guide/en/kibana/current/osquery.html

### Please find the below Observations

![b2](https://user-images.githubusercontent.com/104823771/177922539-6b0b2cdd-b558-4488-9abb-98bb8adfb0ef.png)

Thanks!

[2022-07-08 09:02] elasticmachine commented on #130437
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-08 09:05] bhavyarm commented on #135339
Raised https://github.com/elastic/kibana/pull/135986 to address this. Looks like there is a really weird flaky test failure.

[2022-07-08 09:11] amolnater-qasource commented on #133523
Hi @juliaElastic
We have revalidated this feature on latest 8.4 Snapshot and found it **working fine**.
- Agents selection doesn't resets in Fleet UI on any action.

**Build details:**
VERSION: 8.4.0 Snapshot
BUILD: 54194
COMMIT: f94d5ff26bf1f14f9992e426d9a56ac6c5d48fb0

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/177951636-76558e48-f3e7-49dc-aa1c-30bf1434184e.mp4

Pl

[2022-07-08 09:14] amolnater-qasource commented on #134318
Hi @juliaElastic @jen-huang
We have revalidated this feature on latest 8.4 Snapshot and found it **working fine**.
- We are successfully able to reassign more than 10k agent to any other policy.

**Build details:**
VERSION: 8.4.0 Snapshot
BUILD: 54194
COMMIT: f94d5ff26bf1f14f9992e426d9a56ac6c5d48fb0

**Screenshots:**
![3](https://user-images.githubusercontent.com/77374876/177951152-111137ba-f694-4

[2022-07-08 09:14] lucasfcosta opened #135987 "[Synthetics] Kibana should avoid pushing monitors to the service in bursts"
## Summary

Kibana currently pushes monitors to the service in a large burst. That results in too many requests being sent to the service. Although it's not problematic for the service to respond to these small requests, it's not ideal to have every client sending a large burst of requests all at once.

We should make sure Kibana will send monitors in smaller batches of requests instead, to preven

[2022-07-08 09:15] amolnater-qasource commented on #135630
Hi @juliaElastic
We have revalidated this feature on latest 8.4 Snapshot and found it **working fine**.
- Selected agents no longer get removed from upgrade modal on passing auto-refresh time interval under Agents tab.

**Build details:**
VERSION: 8.4.0 Snapshot
BUILD: 54194
COMMIT: f94d5ff26bf1f14f9992e426d9a56ac6c5d48fb0

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/

[2022-07-08 09:16] lucasfcosta opened #135988 "[Synthetics] Paginating sync requests"
# Summary

Kibana currently syncs all monitors in a single request. That could cause problems if users have way too many monitors, making Kibana exceed the maximum allowed payload size.

We should make sure that Kibana will paginate these sync requests when necessary to avoid reaching that large payload size.

[2022-07-08 09:25] cnasikas commented on #101821
@jonathan-buttner In this PR https://github.com/elastic/kibana/pull/127872 (check the screenshots) we no longer show this error. We put subtle messages to inform users about not having access to the actions plugin. Is that sufficient? Should we close this issue?

[2022-07-08 09:26] cnasikas commented on #101159
@jonathan-buttner Do you think we should close the issue?

[2022-07-08 09:29] cnasikas commented on #94123
@jonathan-buttner What is the status of the issue?

[2022-07-08 09:30] kibanamachine commented on #135339
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18163#0181dcf5-625f-413e-a107-91e5e921bf99)

[2022-07-08 09:37] elasticmachine commented on #91816
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 09:39] elasticmachine commented on #81109
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 09:41] elasticmachine commented on #75622
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 09:43] #82676 closed

[2022-07-08 09:52] #135979 closed

[2022-07-08 10:00] cnasikas commented on #122749
Implemented by https://github.com/elastic/kibana/pull/133485

[2022-07-08 10:00] #122749 closed

[2022-07-08 10:05] #132791 closed

[2022-07-08 10:06] simranvaseer-qasource commented on #135696
Hi @juliaElastic
While testing on 8.4 Snapshot, we have observed that this issue is also reproducible on selecting bulk actions>Add/remove tags.

**Build Details:**
Version: 8.4 Snapshot.
BUILD: 54194
COMMIT: f94d5ff26bf1f14f9992e426d9a56ac6c5d48fb0

**Screen Recording:**

https://user-images.githubusercontent.com/102019374/177965111-46c3a134-f419-4d19-aad8-4435c73f90d3.mp4

Thanks.

[2022-07-08 10:16] kibanamachine commented on #135914
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18168#0181dd3b-e56d-4a9d-b1ad-47783248d2df)

[2022-07-08 10:18] bhavyarm commented on #135339
Fixed via https://github.com/elastic/kibana/pull/135986

[2022-07-08 11:20] jughosta commented on #134593
Hi @AndrewMcQuerry ! Thanks for reporting and your suggestions!

I think the issues you described are similar to [another ticket](https://github.com/elastic/kibana/issues/134265). We addressed it via https://github.com/elastic/kibana/pull/134582 for v8.3 and the upcoming v8.4.

[2022-07-08 11:28] samratbhadra-qasource opened #135997 "[Fleet]: User is able to add Tags on `Inactive` agents."
**Describe the bug:**
User is able to add Tags on `Inactive` agents.

**Build Details:**
[code]

**Preconditions:**
1. Elastic 8.4.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1. Navigate to the Fleet tab under Management.
2. Now, click on status drop down menu and select Inactive.
3. Select the inactive agent and click on three dots (...) under Actions.
4. Observe that Add

[2022-07-08 11:28] elasticmachine commented on #135997
Pinging @elastic/fleet (Team:Fleet)

[2022-07-08 11:40] manishgupta-qasource commented on #135997
Secondary review for this ticket is Done

[2022-07-08 11:51] kibanamachine opened #136000 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/pages/rule_details_page·ts - ObservabilityApp Observability Rule Details page Page components maps correctly the rule type with the human readable rule type"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18173#0181dd74-afdc-45cc-b2f7-12e0cc694aba)

[2022-07-08 12:23] jonathan-buttner commented on #101821
The idea of this issue would be to grant users actions privileges when they have given certain cases privileges. The subtle messages will help but it might still be worth granting the actions privileges when a user is granted certain cases permissions. This might even be easier now that we've split up some of the permissions. I think I'd leave this in our backlog and see if any users want it 🤷‍♂️

[2022-07-08 12:24] jonathan-buttner commented on #101159
Yeah I think we can close this one.

[2022-07-08 12:24] #101159 closed

[2022-07-08 12:25] jonathan-buttner commented on #94123
Yeah I'm not sure haha. Let's close it.

[2022-07-08 12:25] #94123 closed

[2022-07-08 12:33] karanbirsingh-qasource opened #136006 "[Security Solution]Error while Bulk index delete operation on Rule with Data view"
**Describe the bug**
Error while Bulk index delete operation on Rule with Data view

**Build Details:**
[code]

**Steps**
- Create a Rule with data view
- click drop-down and select any one data view let say default data view
- Fill in all the required field and create the rule
- perform bulk delete index operation by selecting checkbox
- Observed that red error is shown and bulk delete index oper

[2022-07-08 12:33] elasticmachine commented on #136006
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-08 12:37] #134029 closed

[2022-07-08 12:51] dgieselaar opened #136008 "[APM] Implement two-step sampling for top-level views"
The APM app currently has an experimental feature where we leverage the [random_sampler](https://www.elastic.co/blog/aggregate-data-faster-with-new-the-random-sampler-aggregation) aggregation to pre-load data. The user can pre-configure a `probability` value to be used for pre-loading data. Full-resolution data is then loaded in parallel.

This means that even though we show data _faster_, the use

[2022-07-08 12:51] elasticmachine commented on #136008
Pinging @elastic/apm-ui (Team:apm)

[2022-07-08 13:06] WoodyWoodsta commented on #44327
Wow I'm stunned 😨 - For a product which is as much about monitoring as it is about viewing logs, and this has not yet been made possible. I've spent the better part of the last couple of months getting an elastic stack into place only to find that the log viewer doesn't have features you'd expect from a log viewer.

Is there any way I can help? 😀

[2022-07-08 13:08] #127268 closed

[2022-07-08 13:09] kibanamachine commented on #86544
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18176#0181ddc1-cfcf-44d4-bad9-4ba235e6600b)

[2022-07-08 13:19] smith commented on #44327
@WoodyWoodsta at this point the best issue to follow would be https://github.com/elastic/kibana/issues/134412.

[2022-07-08 13:21] kpollich commented on #135775
We probably need work in https://github.com/elastic/fleet-server to prevent invalid tags from being written to `.fleet-agents` during enrollment. I think Fleet Server writes tags directly to `.fleet-agents` without using Fleet's API, so we don't really have a location to add that validation on our side.

We can add escaping to our tags CRUD as well for cases where tags are added/updated in Fleet U

[2022-07-08 13:28] joshdover commented on #132818
@kpollich @jen-huang We could enable the ecosystem team to add each of these toggle if we first provided a basic framework for adding a package-level setting that is used at install time. I think that framework need to include:
- Storing settings on the `epm-packages` object
- Exposing an API field for updating the settings on a package (likely on the package install endpoint)
- Exposing the setti

[2022-07-08 13:34] WoodyWoodsta commented on #44327
@smith That looks fantastic - really glad there is effort being made to consolidate this across the entirety of Kibana as well.

[2022-07-08 13:46] nchaulet commented on #135701
@criamico Yes you are right removing the toast notification could be a good solution here, but not sure how the user will get the information that some agents they selected for upgrade will not be upgraded.

[2022-07-08 13:50] criamico commented on #135701
Could we just use the toast for the error notification about the agents that could not upgrade? This way we'd keep this information without adding confusion.

I thought about that as well, but I'm not sure that the counts add up since those are two different api calls done at different times. But if we decide to keep it I agree that it's better to change the copy.

[2022-07-08 14:02] #135997 closed

[2022-07-08 14:02] kpollich commented on #133296
Unassigning myself since I think technical definition is complete here to the point that we could start on phases 1 and 2 in an upcoming iteration. Phase 3 will likely need additional definition and design resources, and should be prioritized as a later scope of work in a future iteration.

[2022-07-08 14:05] codearos commented on #135936
Reproduced this bug on 8.3 and 8.4 ver.

I would suggest an easy way to fix – set a larger min-width, as @spong suggested (and as it was before).
One moment, that now we have `expand/collapse arrow icon` in the header. So the min-width size should be smaller, that in previous versions.

**Min-width: 360 px should work. (Before 8.3 it was 400px).**

[2022-07-08 14:08] MichaelKatsoulis opened #136014 "Merge steps Configure and Install agent in standalone agent mode"
While working on https://github.com/elastic/kibana/issues/134747 I notice that there is somehow inconsistencies between managed and standalone agent installation steps which makes it really  challenging for Kubernetes use cases.

Currently when user has selected a policy that does not contain a kubernetes integration, step 3 includes instructions to copy the policy in `elastic-agent.yml` file and

[2022-07-08 14:08] elasticmachine commented on #136014
Pinging @elastic/fleet (Team:Fleet)

[2022-07-08 14:12] kpollich commented on #135975
@juliaElastic Yes let's make this consistent with other actions. If an agent is managed it shouldn't be included in bulk operations, consistent with other actions. Apologies for missing this in the original spec.

[2022-07-08 14:30] 10xtechie commented on #123218
@azasypkin , @legrego ,
Oh, I see! Yes, I have tried that suggestion. After applying that suggested changes, it looks like as follows:
_**_username_**_
![un](https://user-images.githubusercontent.com/102477169/178012378-76b75bb2-925e-4177-868d-c9355b181d1e.png)
**_role_**
![role](https://user-images.githubusercontent.com/102477169/178012403-67efaa91-496b-4461-84a5-766e55322d7e.png)

Please let me

[2022-07-08 14:43] elasticmachine commented on #136017
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 14:46] mdefazio commented on #136017
@XavierM Can you take a look and make sure this all makes sense.  Ideally we won't be creating anything unique here as this should be the flow for this type of content management going forward.

[2022-07-08 14:50] Heenawter opened #136018 "[Dashboard] [Controls] Hide callout when `hideAnnouncements` setting is `true`"
**Describe the feature:**

Now that https://github.com/elastic/kibana/pull/135030 is merged in, we should make use of this to conditionally hide the banner that calls out the new controls feature when this advanced setting is set to `true`:

![image](https://user-images.githubusercontent.com/8698078/178017319-66cb3483-b61d-4331-bedb-1864d92011cb.png)

[2022-07-08 14:50] elasticmachine commented on #136018
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-08 15:06] qn895 opened #136020 "[ML] Add field statistics or meta information about fields in Anomaly detection job wizard"
**Describe the feature:**

In order to provide clarity and helpful information about fields, having cards with statistics from Discover's field statistics/ML data visualizer in the Anomaly detection job creation wizard would be very useful. Having information pertaining to how fields are populated, cardinality, and whether a field is useful for an Anomaly detection job would ease the job creation

[2022-07-08 15:06] elasticmachine commented on #136020
Pinging @elastic/ml-ui (:ml)

[2022-07-08 15:09] andrewctate opened #136021 "[Lens] unify visualization definition file structure"
The way we arrange Lens visualizations in our plugin is currently inconsistent. All the visualizations before Gauge were kept at the root level in directories called `<visualization-name>_visualization` (e.g. `xy_visualization`).

Gauge departs from this pattern by living under a new directory `visualizations/gauge`.

We should decide which organization we prefer for future visualizations (for exa

[2022-07-08 15:09] elasticmachine commented on #136021
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-08 15:10] joshdover opened #136022 "[Fleet] Scheduled upgrades don't work if maintenance window is set to immediately"
**Kibana version**: 8.3.1

When you trigger a scheduled upgrade without a maintenance window (ie. "Immediately") no `start_time` field gets added to the `.fleet-actions` document, however the API call does seem to be correct from the UI -> Fleet API.

`POST /api/fleet/agents/bulk_upgrade` payload:
[code]

Resulting `.fleet-agents` document:
[code]

There should be a `start_time` field on this acti

[2022-07-08 15:10] elasticmachine commented on #136022
Pinging @elastic/fleet (Team:Fleet)

[2022-07-08 15:19] #135297 closed

[2022-07-08 15:25] nickofthyme commented on #133925
Yeah just tested on `8.3.2` and is fixed. I then found https://github.com/elastic/kibana/pull/134582 which wasn't linked to this issue 😞.

[2022-07-08 15:25] #133925 closed

[2022-07-08 15:30] #67661 closed

[2022-07-08 15:33] azasypkin commented on #123218
Good! Let's stick with you what you have now. Would you mind creating a PR with the changes you made linking to this issue? On the PR you can paste screenshots of the users/roles grids before and after the changes so that we can get feedback from the Design team on that approach as well.

[2022-07-08 15:33] droberts195 opened #136023 "[ML] Weird advice about aggregatable fields for DFA index with "subobjects" : false"
**Kibana version:**

8.4.0-SNAPSHOT

**Elasticsearch version:**

8.4.0-SNAPSHOT

**Describe the bug:**

https://github.com/elastic/elasticsearch/pull/86166 added the option for object fields in mappings to have a `subobjects : false` setting. This in turn allows fieldnames with dots to be nested inside the object, without the usual object/scalar clashes that would arise if some scalar fields have

[2022-07-08 15:34] ghudgins opened #136024 "unified search leaking onto surrounding documents page"
**Kibana version:** 8.4 unreleased

**Elasticsearch version:** 8.4 unreleased

**Server OS version:** Elastic Cloud

**Browser version:** Chromium Edge

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud (edge observability env)

**Describe the bug:** Unified search is appearing on surrounding documents page

**Steps to reproduce:**

[2022-07-08 15:34] elasticmachine commented on #136024
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-08 15:46] mikecote commented on #73647
Closing as the security solution test suite now runs on alerting PRs. We can re-open if we have other friction points to look into 👍 .

[2022-07-08 15:46] #73647 closed

[2022-07-08 15:50] ghudgins commented on #136024
another possible intent is the query bar should be here as well...i'm not sure what the original design called for.

[2022-07-08 15:59] #77380 closed

[2022-07-08 16:04] elasticmachine commented on #136024
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-08 16:15] elasticmachine commented on #135988
Pinging @elastic/uptime (Team:uptime)

[2022-07-08 16:17] elasticmachine commented on #136000
Pinging @elastic/uptime (Team:uptime)

[2022-07-08 16:17] elasticmachine commented on #136000
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-08 16:18] elasticmachine commented on #135987
Pinging @elastic/uptime (Team:uptime)

[2022-07-08 16:20] elasticmachine commented on #135981
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-08 16:24] elasticmachine commented on #135760
Pinging @elastic/eui-design (EUI)

[2022-07-08 16:24] elasticmachine commented on #135760
Pinging @elastic/kibana-core (Team:Core)

[2022-07-08 16:26] kibanamachine commented on #133259
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18192#0181de6d-a83c-4a8e-a320-2ed2e5ca7096)

[2022-07-08 16:45] jaho8 opened #136028 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2022-07-08 16:45] elasticmachine commented on #136028
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-07-08 16:49] #135775 closed

[2022-07-08 16:58] constancecchen commented on #136028
Closing as spam

[2022-07-08 16:58] #136028 closed

[2022-07-08 17:06] mdefazio commented on #135864
Thank you both for the answers and reining me in a bit :)  Here's a second version.

**Changes:**
- Correctly showing a successful run with a single (or many) errored action(s) rather than on a failed run
- Removed the cell popover actions on the 'Errored actions' cell.  We can disable resizing this column and account for a reasonable width, so opening the cell popover won't provide any additional

[2022-07-08 17:08] mdefazio opened #136029 "[RAM] Rules: Schedule snooze time selection should disable times in the past"
Summary
---
When selecting a time earlier than the current time, it adds the current time to the selection. I didn't notice this at first since the time wasn't disabled, but it wasn't becoming selected and so I was expecting something to happen.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/3756330/178037856-3760a015-4361-438b-9946-a053beb53f14.png">

Expected behavi

[2022-07-08 17:08] elasticmachine commented on #136029
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 17:09] ymao1 commented on #135073
Followed steps to recreate and it looks like this issue has indeed been fixed by https://github.com/elastic/kibana/pull/135358

[2022-07-08 17:09] #135073 closed

[2022-07-08 17:19] graphaelli opened #136031 "[APM] automatically advance from add data screen when data appears"
**Describe the feature:**

Check for new data in the background on this page and continue once it is available

<img width="1104" alt="image" src="https://user-images.githubusercontent.com/83483/178039764-7f35e3b8-45cb-4e7a-8138-505fbad99ea2.png">

**Describe a specific use case for the feature:**

Currently onboarding takes you to this page but a hard refresh is needed once data is actually flowi

[2022-07-08 17:19] elasticmachine commented on #136031
Pinging @elastic/apm-ui (Team:apm)

[2022-07-08 17:19] elasticmachine commented on #86544
Pinging @elastic/kibana-security (Team:Security)

[2022-07-08 18:07] kibanamachine commented on #135873
New failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18202#0181decd-8599-4270-855e-0fe8f69be2f1)

[2022-07-08 18:12] kibanamachine opened #136033 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/tags·ts - Kibana Tags Page Accessibility tag management page with connections column populated meets a11y requirements"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18202#0181decd-862f-4157-a642-1239e2f38054)

[2022-07-08 18:14] #133424 closed

[2022-07-08 18:25] TinaHeiligers opened #136036 "Migrate core domain services to packages: Server-side Preboot service"
Part of #134112
See #134137 for more context

Extract the `Preboot` service/domain (src/core/server/preboot) to packages.

No internal core dependencies

### New packages:
@kbn/core-preboot-server
@kbn/core-preboot-server-internal
@kbn/core-preboot-server-mocks

## Dependency analysis:

### Core-services:
None

### Other:
`@kbn/utility-types`
`@kbn/core-base-common`
`@kbn/logging`
`@kbn/core-base-

[2022-07-08 18:25] elasticmachine commented on #136036
Pinging @elastic/kibana-core (Team:Core)

[2022-07-08 18:32] stratoula commented on #136024
@ghudgins this is not a bug. Here is a screenshot from 8.2.

<img width="1516" alt="image" src="https://user-images.githubusercontent.com/17003240/178050426-8652afc6-4efa-499d-9b6e-5c20e65ffd57.png">

[2022-07-08 18:33] #135409 closed

[2022-07-08 18:33] #135410 closed

[2022-07-08 18:33] #135411 closed

[2022-07-08 18:33] #135412 closed

[2022-07-08 18:33] #135480 closed

[2022-07-08 18:33] #135481 closed

[2022-07-08 19:13] pmuellr commented on #112756
I had a very busy deployment running, that was generating ~10 socket hang up (SHU) related errors per hour.  Decided to try turning down the maxSockets to see if it would help.

Doesn't appear to have helped.  Getting about the same number of SHU / hr, so far.  And performance of the rules has degraded - execution duration has gone up

The SHU's in this case may be due to how busy I made this depl

[2022-07-08 19:19] XavierM opened #136039 "[RAM] Consolidating rule statuses"
RFC -> https://docs.google.com/document/d/1-tMHRS3liqhHf8YGVqR93rZg3zdoDe2nEfptkOw1Q-E/edit#heading=h.1w0d61eheso3

Spreadsheet containing references to `executionStatus->status` that will need to be changed: https://docs.google.com/spreadsheets/d/1_KC-vV2D3qxkLMY0YSoeodi91hyHMYstH_7AVxsL_wo/edit?usp=sharing

- [x] Update rule's saved object (@XavierM)
- [x] Update task manager to only have three

[2022-07-08 19:19] elasticmachine commented on #136039
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 19:28] #134105 closed

[2022-07-08 19:31] TinaHeiligers opened #136040 "Migrate core domain services to packages: Server-side Rendering service"
Part of #134112
See #134137 for more context

Extract the `Rendering` service/domain (src/core/server/rendering) to packages.

Depends on:
- `elasticsearch`
- `http`
- `status` (no direct dependency on rendering)
- `plugins`

Imports:

- from `ui_settings`:
https://github.com/elastic/kibana/blob/9dbf147d6673ecce8cbbe591f7216db0c4378aee/src/core/server/rendering/render_utils.ts#L11

New packages:

[2022-07-08 19:31] elasticmachine commented on #136040
Pinging @elastic/kibana-core (Team:Core)

[2022-07-08 19:34] #92729 closed

[2022-07-08 19:35] nreese commented on #115616
closed by https://github.com/elastic/kibana/pull/135593

[2022-07-08 19:35] #115616 closed

[2022-07-08 19:47] ghudgins commented on #136024
working as expected!

[2022-07-08 19:47] #136024 closed

[2022-07-08 20:03] ThomThomson commented on #133681
Proposed Architecture:
<img width="1139" alt="Screen Shot 2022-07-08 at 3 04 14 PM" src="https://user-images.githubusercontent.com/14276393/178062653-963c4ca8-05bc-4a56-a84c-71d7466807d6.png">

[2022-07-08 20:12] 1Copenut commented on #135459
Great questions @andreadelrio. I think in the popover would be a good candidate. In the example image I provided, one place might be under the title `DestCityName`, maybe in a smaller font. In the `Create control` form would be a good option too, maybe as a sub-title or instructional sentence or two.

Generally I advise these instructions not be hidden behind tooltip or other trigger, unless the c

[2022-07-08 21:02] graphaelli opened #136047 "[Infra Monitoring UI] Uptime for Pod/Container in Metrics table is wrong"
**Stack version:** 8.4.0-SNAPSHOT

The infrastructure view in the APM UI lists container metrics for a service like this:

<img width="1403" alt="image" src="https://user-images.githubusercontent.com/83483/178067142-d67620a3-8eea-4335-bf28-8dd372c920dd.png">

The first issue with uptime here is that containers that were started within the timepicker window seem to be assumed to still be running.

[2022-07-08 21:02] elasticmachine commented on #136047
Pinging @elastic/apm-ui (Team:apm)

[2022-07-08 21:17] yctercero commented on #135254
Initial UI update PR  merged 8.4 - https://github.com/elastic/kibana/pull/135255

[2022-07-08 21:38] liza-mae opened #136050 "Updating rule state after re-enabling"
**Kibana version**: 8.3.2

**Elasticsearch version**: 8.3.2

**Server OS version**: Linux

**Browser version**: Chrome

**Original install method (e.g. download page, yum, from source, etc.)**:
Cloud staging

**Description of the problem including expected versus actual behavior**:
When someone disables, then enables a rule.  The rule goes into a ```pending``` state before ```ok``` state, which is

[2022-07-08 21:38] elasticmachine commented on #136050
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-08 21:49] TinaHeiligers opened #136051 "Migrate core domain services to packages: Server-side Metrics service"
Part of #134112
See #134137 for more context

Extract the `Metrics` service/domain (src/core/server/metrics) to packages.

Depends on:
- `http` ( to report `httpServer` metrics)

New packages:

@kbn/core-metrics-server
@kbn/core-metrics-server-internal
@kbn/core-metrics-server-mocks

## Dependency analysis:

### Core-services:
`http`:
https://github.com/elastic/kibana/blob/9dbf147d6673ecce8cbbe591

[2022-07-08 21:49] elasticmachine commented on #136051
Pinging @elastic/kibana-core (Team:Core)

[2022-07-08 22:32] TinaHeiligers opened #136054 "Migrate core domain services to packages: Server-side Status service"
Part of #134112
See #134137 for more context

Extract the `Status` service/domain (src/core/server/status) to packages.

Depends on:
- `analytics`
- `elasticsearch` (InternalElasticsearchServiceSetup['status$'])
- `environment`
- `http`: InternalHttpServiceSetup;
- `metrics`: InternalMetricsServiceSetup;
- `savedObjects`: (InternalSavedObjectsServiceSetup['status$']);
- `coreUsageData`: (InternalC

[2022-07-08 22:32] elasticmachine commented on #136054
Pinging @elastic/kibana-core (Team:Core)

[2022-07-08 22:49] #128493 closed

[2022-07-08 23:09] cjcenizal opened #136055 "Add tests for "extended JSON" (XJSON)"
## Summary

Extended JSON is a superset of standard JSON and Console has specific requirements for it. This type of XJSON is also used by Search Profile and aspects of it have been requested in Watcher. XJSON for Ace is exported from https://github.com/elastic/kibana/tree/main/packages/kbn-ace/src/ace/modes/x_json but the rules are defined in Console.

Let's add automated test coverage for XJSON's

[2022-07-08 23:09] elasticmachine commented on #136055
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-08 23:28] cjcenizal opened #136056 "Add tests for Console's autocomplete"
## Summary

Let's add functional tests to document and verify autocomplete behavior in Console:

- [ ] HTTP methods
- [ ] ES API endpoints
- [ ] JSON autocompletion with placeholder fields
- [ ] Dynamic autocomplete

## Autocomplete behavior

### HTTP methods

Console autocomplete will suggest HTTP methods POST, GET, etc.

### ES API endpoints

Console autocomplete will suggest different endpoints

[2022-07-08 23:28] elasticmachine commented on #136056
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-08 23:34] cjcenizal opened #136057 "Add tests for Console's context menu and its actions"
## Summary

Console offers a context menu per request, which enables the user to perform a number of actions with the relevant request. Let's add functional tests to document and verify this behavior:

- [ ] Request-specific context menu
- [ ] Copy the request as cURL
- [ ] Open a documentation link for the relevant API
- [ ] Auto-indent

## Content menu and its actions

### Request-specific conte

[2022-07-08 23:34] elasticmachine commented on #136057
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-08 23:37] cjcenizal opened #136058 "Add tests for misc Console behavior"
## Summary

Console offers the user configuration options and some convenience features to make their requests easier to scan and manipulate. Let's add functional tests to document and verify this behavior:

- [ ] Collapsible blocks
- [ ] Keyboard shortcuts
- [ ] Customizable font-size

## Misc behavior

### Collapsible blocks

JSON blocks can be collapsed and expanded.

![image](https://user-imag

[2022-07-08 23:37] elasticmachine commented on #136058
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-08 23:38] cjcenizal commented on #42029
Closing this in favor of issues to add test coverage to verify this behavior:
* https://github.com/elastic/kibana/issues/136055
* https://github.com/elastic/kibana/issues/136056
* https://github.com/elastic/kibana/issues/136057
* https://github.com/elastic/kibana/issues/136058

[2022-07-08 23:38] #42029 closed

[2022-07-09 05:04] OsvaldoRino opened #136062 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2022-07-09 05:04] elasticmachine commented on #136062
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-07-09 05:07] OsvaldoRino opened #136063 "bugreport"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2022-07-09 05:08] OsvaldoRino opened #136064 "[Security Solution]"
**Describe the bug:**

**Kibana/Elasticsearch Stack version:**

**Server OS version:**

**Browser and Browser OS versions:**

**Elastic Endpoint version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**

**Steps to reproduce:**

1.
2.
3.

**Current behavior:**

**Expected behavior:**

**Screensh

[2022-07-09 05:08] elasticmachine commented on #136064
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-09 05:12] OsvaldoRino opened #136065 "[Breaking change]"
## Change description

**Which release will ship the breaking change?**

8.0

**Is this a Kibana or Elasticsearch breaking change?**

**Describe the change. How will it manifest to users?**

**How many users will be affected?**

**Are there any edge cases?**

**[For Kibana deprecations] Can the change be registered with the [Kibana deprecation service](https://github.com/elastic/kibana/blob/main/d

[2022-07-09 05:16] OsvaldoRino opened #136066 "[Breaking change]"
## Change description

**Which release will ship the breaking change?**

8.0

**Is this a Kibana or Elasticsearch breaking change?**

**Describe the change. How will it manifest to users?**

**How many users will be affected?**

**Are there any edge cases?**

**[For Kibana deprecations] Can the change be registered with the [Kibana deprecation service](https://github.com/elastic/kibana/blob/main/d

[2022-07-09 19:23] icemakegirl commented on #121963
I made a pull request in the last 15 days, could you give me an answer please?

[2022-07-09 20:30] gr0vity-dev opened #136069 "Vertical axis name disappears in Legend when using "Break down by" top n values"
Kibana version: 8.3.1

Elasticsearch version: 8.3.1

Server OS version: Linux

Browser version: Safari / Firefox

Original install method (e.g. download page, yum, from source, etc.):
docker-elk

**Describe the feature:**
In the Legend of a Kibana Lens, inside a "Virtualisation Layer" , currently, when doing a "Break down by" (Top n values of _field) , the name of the vertical axis disappears and