[2021-07-16 00:54] liza-mae opened #105885 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/cluster/overview·js - Monitoring app Cluster overview for Green cluster with Gold license "before all" hook for "elasticsearch panel has no ML line, because license is Gold""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/cluster/overview·js**
**Stack Trace:**
[code]
**Other test failures:**
- Monitoring app Cluster overview for Yellow cluster with Platinum license "before all" hook for "elasticsearch panel has ML, because license is Platinum"
- Monitoring app Cluster overview for Yellow cluster with Basic license

[2021-07-16 00:54] liza-mae opened #105886 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/overview·js - Monitoring app Elasticsearch overview "before all" hook for "should have an Elasticsearch Cluster Summary Status with correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:55] liza-mae opened #105887 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/overview_mb·js - Monitoring app Elasticsearch overview mb "before all" hook for "should have an Elasticsearch Cluster Summary Status with correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:55] liza-mae commented on #105887
Relates to: elastic/kibana#98202

[2021-07-16 00:55] liza-mae opened #105888 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/nodes·js - Monitoring app Elasticsearch nodes listing with offline node "before all" hook for "should have an Elasticsearch Cluster Summary Status with correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/nodes·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:56] liza-mae opened #105889 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/nodes_mb·js - Monitoring app Elasticsearch nodes listing mb with offline node "before all" hook for "should have an Elasticsearch Cluster Summary Status with correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/nodes_mb·js**
**Stack Trace:**
[code]
**Other test failures:**
- Monitoring app Elasticsearch nodes listing mb with only online nodes "before all" hook for "should have an Elasticsearch Cluster Summary Status with correct info"

 _Test Report: https://internal-ci.elastic.co/view/Sta

[2021-07-16 00:56] liza-mae opened #105890 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail·js - Monitoring app Elasticsearch node detail Active Nodes "before all" hook for "should show node summary of master node with 20 indices and 38 shards""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail·js**
**Stack Trace:**
[code]
**Other test failures:**
- Monitoring app Elasticsearch node detail Offline Node "before all" hook for "should show node summary of NA for offline node"
- Monitoring app Elasticsearch node detail Advanced Active Nodes "before all" hook for "s

[2021-07-16 00:56] liza-mae opened #105891 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail_mb·js - Monitoring app Elasticsearch node detail mb Active Nodes "before all" hook for "should show node summary of master node with 20 indices and 38 shards""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/node_detail_mb·js**
**Stack Trace:**
[code]
**Other test failures:**
- Monitoring app Elasticsearch node detail mb Offline Node "before all" hook for "should show node summary of NA for offline node"
- Monitoring app Elasticsearch node detail mb Advanced Active Nodes "before all" ho

[2021-07-16 00:57] liza-mae commented on #105891
Relates to: elastic/kibana#98217

[2021-07-16 00:57] liza-mae opened #105892 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/indices·js - Monitoring app Elasticsearch indices listing "before all" hook for "should have an Elasticsearch cluster summary with correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/indices·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:57] liza-mae opened #105893 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/indices_mb·js - Monitoring app Elasticsearch indices listing mb "before all" hook for "should have an Elasticsearch cluster summary with correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/indices_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:58] liza-mae commented on #105893
Relates to: elastic/kibana#98229

[2021-07-16 00:58] liza-mae opened #105894 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/index_detail·js - Monitoring app Elasticsearch index detail Active Indices "before all" hook for "should have an index summary with green status index with full shard allocation""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/index_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:58] liza-mae opened #105895 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/index_detail_mb·js - Monitoring app Elasticsearch index detail mb Active Indices "before all" hook for "should have an index summary with green status index with full shard allocation""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/elasticsearch/index_detail_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:58] liza-mae commented on #84985
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:58] liza-mae commented on #105312
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_discover·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:58] liza-mae opened #105896 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/overview_mb·js - Monitoring app Kibana overview mb "before all" hook for "should have Kibana Cluster Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:59] liza-mae opened #105897 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instances·js - Monitoring app Kibana instances listing "before all" hook for "should have Kibana Cluster Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 00:59] liza-mae opened #105898 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instances_mb·js - Monitoring app Kibana instances listing mb "before all" hook for "should have Kibana Cluster Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:00] liza-mae commented on #105898
Relates to: elastic/kibana#98190

[2021-07-16 01:00] liza-mae opened #105899 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instance·js - Monitoring app Kibana instance detail "before all" hook for "should have Instance Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instance·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:00] liza-mae opened #105900 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instance_mb·js - Monitoring app Kibana instance detail mb "before all" hook for "should have Instance Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/kibana/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:00] liza-mae opened #105901 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/logstash/pipelines·js - Monitoring app Logstash pipelines "before all" hook for "should have Logstash Cluster Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/logstash/pipelines·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:01] liza-mae opened #105902 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/logstash/pipelines_mb·js - Monitoring app Logstash pipelines mb "before all" hook for "should have Logstash Cluster Summary Status showing correct info""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/logstash/pipelines_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:01] liza-mae opened #105903 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/cluster·js - Monitoring app beats cluster "before all" hook for "shows beats panel with data""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:02] liza-mae opened #105904 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/overview·js - Monitoring app beats overview "before all" hook for "shows no recent activity""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:02] liza-mae opened #105905 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/listing·js - Monitoring app beats listing "before all" hook for "cluster status bar shows correct information""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/listing·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:02] liza-mae commented on #105317
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_doc_table_newline·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:02] liza-mae opened #105906 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/beat_detail·js - Monitoring app beats detail "before all" hook for "cluster status bar shows correct information""
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/beat_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:03] liza-mae opened #105907 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts - dashboard Reporting Dashboard Reporting Screenshots Print PDF button is not available if new"
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Dashboard Reporting Screenshots Print PDF button becomes available when saved
- dashboard Reporting Dashboard Reporting Screenshots Print Layout downloads a PDF file
- dashboard Reporting Dashboard Re

[2021-07-16 01:03] liza-mae commented on #105319
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:03] liza-mae commented on #97559
**Version: 7.14.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #105353
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/security/privileges·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #98418
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #105354
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #102008
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #105355
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #105356
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #98419
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #105357
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #105338
**Version: 7.14.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae commented on #98420
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae opened #105908 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/features/features/features·ts - apis features Features /api/features with trial license should return a full feature set"
**Version: 7.14.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/features/features/features·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:04] liza-mae opened #105909 "[test-failed]: X-Pack Endpoint API Integration Tests1.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts - Endpoint plugin test metadata api POST /api/endpoint/metadata when index is not empty metadata api should return page based on host.os.Ext.variant filter."
**Version: 7.14.0**
**Class: X-Pack Endpoint API Integration Tests1.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2041/testReport/_

[2021-07-16 01:05] liza-mae opened #105910 "[test-failed]: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list·ts - endpoint endpoint list when there is data, when the hostname is clicked on, display the details flyout"
**Version: 7.14.0**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list·ts**
**Stack Trace:**
[code]
**Other test failures:**
- endpoint endpoint list when there is data, when the hostname is clicked on, updates the details flyout when a new hostname is selected from the list
- endpoint endpoint list when there is data, when the hostname is

[2021-07-16 01:16] lukeelmers commented on #105758
+1 to the "be smart" approach.

If we can avoid introducing another failure scenario without increasing complexity in a significant way, it feels worth it to me.

[2021-07-16 01:22] marcelvarallo-leidos commented on #105381
If we had this feature, I could create a diagnostic index and then use this alert action to (for example) call nslookup/tracert/whatever diagnostic tool needs to be run when the Alert happens and output the response to a file which filebeat scoops into that index so I can check what was happening elsewhere when this happened.

[2021-07-16 03:39] lukeelmers commented on #105692
Yes, I could see a possible integration with upgrade assistant and/or telemetry. It would be cool to surface warnings in upgrade assistant if we've detected any external (non-Elastic) uses of deprecated routes. And for internal usage of deprecated routes, perhaps we could log a warning to the browser console while in dev mode or automate warnings to the server logs (though it could get a bit chatt

[2021-07-16 03:57] dikshachauhan-qasource commented on #105730
Thanks @jen-huang For considering this.

[2021-07-16 04:17] deepikakeshav-qasource commented on #100117
Hi @dplumlee,

Thank you for the update.

Hence, we are closing this ticket and marking as QA Validated.

Thanks!!

[2021-07-16 04:17] #100117 closed

[2021-07-16 04:33] karanbirsingh-qasource commented on #101724
Hi @MadameSheema

we have validated this issue on 7.14.0 BC3 and found it Fixed . The recent Cases section is not present for users with None Case Subfeature Access.

**Build Details:**
[code]

**Snapshot:**
![image](https://user-images.githubusercontent.com/59917825/125892154-3c2d39d6-8dd8-482c-bbb7-53b66b00618e.png)

Hence we are closing this issue and adding "QA:Validated" to it.

thanks !!

[2021-07-16 04:33] #101724 closed

[2021-07-16 04:53] axw opened #105911 "[APM] source map bundle_filepath is not cleaned"
**Versions**
Kibana: 7.14.0-SNAPSHOT
APM Server: 7.14.0-SNAPSHOT

When uploading source maps via the new APM source map API, "bundle_filepath" is not being cleaned. For example, if the user specifies `bundle_filepath=http://localhost:8000/test/e2e/../e2e/general-usecase/bundle.js.map`, then APM Server expects to receive it as `bundle_filepath=http://localhost:8000/test/e2e/general-usecase/bundle.j

[2021-07-16 04:53] elasticmachine commented on #105911
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 06:01] amolnater-qasource commented on #93315
Hi @EricDavisX
We have created **06** new testcases for this Feature in our Ingest Manager Test Suit at link : [Integration Granularity](https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=30352)

As mentioned under https://github.com/elastic/kibana/issues/93315#issue-820385999
DynamoDB shows only dynamodb metrics configu

[2021-07-16 06:06] deepikakeshav-qasource commented on #104371
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC3** build and observed that issue is **Not occurring**. Please find the our below observations:

**Build Details:**

[code]

**Observation 1:** No error is displaying in dev tool network when enter the query in search under host tab.

**Screen Recording:**

https://user-images.githubusercontent.com/61860752/125893801-5b0c0303-54eb-4bc1

[2021-07-16 06:14] kibanamachine opened #105912 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/embeddable/embeddable_state·js - maps app embeddable embeddable state "before all" hook for "should render map with center and zoom from embeddable state""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15560/)

[2021-07-16 06:14] kibanamachine opened #105913 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/embeddable/embeddable_state·js - maps app embeddable embeddable state "after all" hook for "should render map with center and zoom from embeddable state""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15560/)

[2021-07-16 06:14] kibanamachine commented on #50388
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15560/)

[2021-07-16 06:15] deepikakeshav-qasource commented on #104406
Hi @MadameSheema ,

We have validated this ticket on **7.14.0 BC3** build and observed that issue is **Fixed**. Title "Exceptions" is displaying with description "Exceptions are automatically grouped into exception lists.".

**Build Details:**

[code]

**Screenshot:**
![Exceptions](https://user-images.githubusercontent.com/61860752/125899119-3e4057b1-b9e1-4201-834e-198f56c77f42.jpg)

Hence, we are

[2021-07-16 06:15] #104406 closed

[2021-07-16 06:34] dgieselaar opened #105914 "[APM] Refactor client-side routing"
In #104274, we've replaced our flat route definitions with a typed structure that is compatible with the react-router@v6 API. Instead of `useUrlParams` and `getApmHref` we intend to use `useApmParams` and `useApmRouter().link`. The following tasks should be completed to finalise the migration:

- [ ] Replace remaining usage of `useUrlParams()` with `useApmParams()`
- [ ] Replace remaining usage of

[2021-07-16 06:34] elasticmachine commented on #105914
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 06:40] elasticmachine commented on #105875
Pinging @elastic/ml-ui (:ml)

[2021-07-16 06:42] pheyos commented on #105875
This is a known flakiness in the app (sometimes the license details are not loaded yet when the home page is rendered - a reload works around it). Fixed in 7.14.0 with #101393, won't be fixed for 7.13 branch.

[2021-07-16 06:42] #105875 closed

[2021-07-16 06:42] deepikakeshav-qasource commented on #104580
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC3** build and observed that issue is **Fixed**. "Rules" are displayed under rule details page and create a new rule.

**Build Details:**

[code]

**Screenshot:**
![Create_rule](https://user-images.githubusercontent.com/61860752/125899128-f0419d39-8969-45f9-8027-0847003631f2.jpg)

![Rules_details](https://user-images.githubusercontent.c

[2021-07-16 06:42] #104580 closed

[2021-07-16 06:42] elasticmachine commented on #105876
Pinging @elastic/ml-ui (:ml)

[2021-07-16 06:42] elasticmachine commented on #105883
Pinging @elastic/ml-ui (:ml)

[2021-07-16 06:43] elasticmachine commented on #105884
Pinging @elastic/ml-ui (:ml)

[2021-07-16 06:56] monfera commented on #105802
Thanks @alisonelizabeth — if there's a legit, knowable reason for not being able to delete, it'd indeed be neat for not offering the deletion in the first place. Such a reason (being used in a data stream) is unlikely to change during one editing session. A button label or hover tooltip might show the reason for why the delete button is inactive, though Design may have a better idea for conveying

[2021-07-16 07:01] pheyos commented on #105087
Thanks for skipping the flaky tests for now @spalger . Unfortunately, I wasn't able to reproduce this with the flaky test runner so far in 250 runs, but will continue to investigate.

[2021-07-16 07:05] AlexanderWert opened #105915 "[APM] Enable JVM metrics for the Ruby Agent running on a JVM (jRuby)"
The Ruby APM Agent can also be used to monitor applications running on jRuby (on a JVM).
With https://github.com/elastic/apm-agent-ruby/pull/1040, our Ruby agent will support collection of JVM metrics (heap, GC, etc.) in cases where the agent is running in a jRuby context.

Currently, the APM UI does a check on the `agent.name` checking for "isJavaAgent" to decide whether to show the generic Metri

[2021-07-16 07:05] elasticmachine commented on #105915
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 07:05] aarju opened #105916 "[Feature Request] Add Collapsable sections to dashboards"
**Describe the feature:**
When Creating a new dashboard a user could add a new 'section' to the dashboard and then group dashboard panels together into the section. The section would have a Title and maybe options to set the attributes such as background color and it would be collapsable to only display the section header when not in use.

**Describe a specific use case for the feature:**
When Cre

[2021-07-16 07:13] pheyos commented on #105883
This is basically the same as #105087 and I'll track progress there, so closing this one.
Also, I'm already investigating this flakiness in #105204.

[2021-07-16 07:13] #105883 closed

[2021-07-16 07:17] AlexanderWert opened #105917 "[APM] Include service.runtime to derive APM service icons"
Currently, the APM service icons are solely derived from the field `agent.name`.

In some cases it's more meaningful to show service icons that are based on the `service.runtime.name`.
Examples:
- jRuby applications use the same APM agent as normal Ruby applications (with the same agent name). However, jRuby has a different icon than Ruby. Including the `service.runtime.name` would help differenti

[2021-07-16 07:17] elasticmachine commented on #105917
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 07:18] hop-dev commented on #105648
Ah that makes more sense!

[2021-07-16 07:24] karanbirsingh-qasource commented on #98283
Hi @MadameSheema

we have validated this issue on 7.14.0 BC3 and found it fixed . The correct only individual alert result is returned on searching data on the individual alert page.

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/125893792-e331e6b7-0c9a-4152-aad8-edc7b6c6bcdd.png)
![image](https://user-images.githubusercontent.com/59917825/1

[2021-07-16 07:24] #98283 closed

[2021-07-16 07:36] ruflin commented on #82851
I had an offline discussion around this that went even further on the granularity of installation of assets. If a users runs on Linux, why are the Windows dashboards installed? Compared to Beats where the dashboards for all modules were loaded, we made already a massive improvement by just loading the ones that the user might likely use.

Going back to the Windows example and the point from @snide

[2021-07-16 07:47] darnautov opened #105919 "[ML] "Show charts" control state reset on the Anomaly Explorer"
**Kibana version:**
`master`

**Describe the bug:**
"Show charts" control on the Anomaly Explorer page reset its state on consecutive cell selection on the swim lane.

**Steps to reproduce:**
1. Open the Anomaly Explorer page
2. Select any cell on the Overall swim lane
3. Disable the "Show charts" checkbox
4. Select a different cell on the Overall swim lane

**Expected behavior:**
"Show charts" co

[2021-07-16 07:47] elasticmachine commented on #105919
Pinging @elastic/ml-ui (:ml)

[2021-07-16 08:04] joshastur opened #105920 "Problem: When you visualize Histograms, the aggregation interval doesn't scale up when the visualization interval does"
**Kibana version:** 7.12.1

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

When I saw a visualization of a date histogram, and I set the minimum interval to 1 minute i wish when you increase the date range you would see the interval of 1 minute to in

[2021-07-16 08:30] #92024 closed

[2021-07-16 08:37] mandeepkaur-qasource commented on #102891
Hi @MadameSheema

We have validated the fix for this defect on **7.14.0 BC3** and found that the issue has been **fixed** as The user is not able to create a case with a title more than 64 characters and the text in the toaster is also truncated while attaching an alert to a New Case and existing case from Alert table.

Also, A warning message **"The length of the title is too long. The maximum le

[2021-07-16 08:37] #102891 closed

[2021-07-16 08:41] #104371 closed

[2021-07-16 08:43] simitt opened #105923 "OpenTelemetry JVM GC metrics not visualized"
**Kibana version:** 7.14.0-BC2

**Describe the bug:**
OpenTelemetry collected JVM garbage collection metrics are not visualized.
Note that the `agent.name` is `opentelemetry/java`.

See more detailed bug report in https://github.com/elastic/apm-server/pull/5309#issuecomment-881246909

**Steps to reproduce:**
1. Run apm-server
2. Instrument a Java application with https://github.com/open-telemetry/

[2021-07-16 08:43] elasticmachine commented on #105923
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 08:45] dgieselaar commented on #105923
Related: https://github.com/elastic/kibana/issues/105915

[2021-07-16 08:50] elasticmachine commented on #105912
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-16 08:50] elasticmachine commented on #105913
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-16 08:55] #56081 closed

[2021-07-16 08:57] dej611 opened #105924 "[Lens][Dashboard][Inspector] Escape formulas option for CSV"
**Describe the feature:**

As a followup of #105221 give the user the ability to decide whether he wants to escape formula values in CSV downloads.

[2021-07-16 08:57] elasticmachine commented on #105924
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-16 08:57] elasticmachine commented on #105924
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 08:58] deepikakeshav-qasource commented on #103639
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC3** build and observed that Error coming up For Windows when click on add endpoint exception on alerts page. Please find our below observations:

**Build Details:**

[code]

## **Observation on Windows OS**
Error coming up when click on add endpoint exception on alerts page

**Screen Recording:**

 https://user-images.githubusercontent

[2021-07-16 09:02] deepikakeshav-qasource commented on #104442
Hi @MadameSheema,

We have validated this ticket on **7.14.0 BC3** build and observed that Error coming up For Windows when click on add endpoint exception on alerts page. Please find our below observations:

**Build Details:**

[code]

## **Observation on Windows OS**
Error coming up when click on add endpoint exception on alerts page

**Screen Recording:**

 https://user-images.githubusercontent

[2021-07-16 09:06] deepikakeshav-qasource commented on #103639
Hi @MadameSheema,

We have validated this ticket on 7.14.0 BC3 build and observed that issue is **Fixed**. Threat Intel list is displaying in ascending order under the overview page.

**Build Details:**

[code]

**Screenshot:**
![Threat_card](https://user-images.githubusercontent.com/61860752/125903971-ddccd201-8d1a-456f-9a83-7131a098c48b.jpg)

Hence, we are closing this ticket and marking as QA v

[2021-07-16 09:06] #103639 closed

[2021-07-16 09:06] amolnater-qasource opened #105927 "[Fleet]: Flickering monitor logs/metrics set to false on navigating to Agent details page."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab.
3. Click agent and observe flicke

[2021-07-16 09:06] elasticmachine commented on #105927
Pinging @elastic/fleet (Team:Fleet)

[2021-07-16 09:06] amolnater-qasource commented on #105927
@manishgupta-qasource Please review.

[2021-07-16 09:18] Dosant commented on #105352
@liza-mae, thank you 👍

[2021-07-16 09:25] mandeepkaur-qasource commented on #104382
Hi @MadameSheema

We have validated the fix for this defect on **7.14.0 BC3** and found that the issue has been **fixed** as subtitle text has been updated to " You need to enable the filebeat Threatintel Module in order to view the different sources"

Please find the below observation :
**Screen-Shot:**
![new1](https://user-images.githubusercontent.com/78949593/125923277-ac9f8cc3-5fcd-4b8e-b377-e

[2021-07-16 09:25] #104382 closed

[2021-07-16 09:26] mandeepkaur-qasource commented on #104582
Hi @madamsheema

We have validated this defect on 7.14.0 BC3 and found that 'Export Selected' button is now disabled for Pre-built elastic Rules. Also, when users select prebuilt rules from current page or select individual prebuilt rules, the "export" option is disabled for prebuilt rules.

Please find the below observation :
**Screen-Shot:**
![disable export](https://user-images.githubuserconten

[2021-07-16 09:27] mandeepkaur-qasource commented on #104602
Hi @MadameSheema

We have validated the fix for this defect on 7.14.0 BC3 and found that the issue has been fixed as all the feature tabs under 'Security' are correctly getting loaded and no such error occurred on switching between the tabs

Please find the below observation :
**Screen-Cast:**
![start](https://user-images.githubusercontent.com/78949593/125919192-12fdfbea-3f2f-41a6-9a0e-9fbc6e6dfaf

[2021-07-16 09:27] #104602 closed

[2021-07-16 09:35] MadameSheema commented on #105050
thanks @ecezalp!! :)

@deepikakeshav-qasource please validate the fix on the next BC, thanks :)

[2021-07-16 09:37] manishgupta-qasource commented on #105927
Reviewed & assigned to @jen-huang

[2021-07-16 09:39] samratbhadra-qasource commented on #105424
Thank you for the information. We are closing this issue since it is working as expected!

[2021-07-16 09:39] #105424 closed

[2021-07-16 09:41] dimitris-athanasiou commented on #105789
Related to https://github.com/elastic/kibana/issues/102661

[2021-07-16 09:42] deepikakeshav-qasource commented on #99611
Hi @MadameSheema,

We have validated this ticket on 7.14.0 BC3 build and observed that issue is **Fixed**. "Updated 51 years ago" is not displaying in a pinned tab under the Timeline template and Timline.

**Build Details:**

[code]

**Screenshot:**
![Timeline](https://user-images.githubusercontent.com/61860752/125905805-33e52bc9-3440-4eca-8be6-3eb9ccd778e2.jpg)

![Template](https://user-images.gi

[2021-07-16 09:42] #99611 closed

[2021-07-16 09:43] mandeepkaur-qasource commented on #102729
Hi @madamsheema

We have validated the fix for this defect on 7.14.0 BC3 and found that the issue has been fixed below are our observations:
Scenario 1: Case Info table and Edit options do not disappear on adding a long content under 'Description and Comment' box on 'Create New Case' page.

Also, Validated this issue for below mentioned Scenario and found that it is working fine there as well:
Sce

[2021-07-16 09:43] #102729 closed

[2021-07-16 09:44] philippkahr opened #105929 "[Machine Learning] [Data Visualizer] Import NDJSON broken."
**Kibana version:**
7.13.3
**Elasticsearch version:**
7.13.3
**Server OS version:**
Elastic Cloud
**Browser version:**
Safari Version 14.1.1 (16611.2.7.1.4), Chrome Version 93.0.4573.0 (Official Build) dev (x86_64)
**Browser OS version:**
macOS 11.4 (20F71)
**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud
**Describe the bug:**
I uploaded an NDJSON containing

[2021-07-16 09:46] dej611 commented on #105686
I see how it can be confusing. As @markov00 pointed out some time ago, rather than `Color stops` they should be called `Color starts`.

The configuration you've made can be represented as the following:

![below-range](https://user-images.githubusercontent.com/924948/125927951-1a0cde53-4f3c-4339-b953-253e2bbb700f.jpeg)

If your goal is to color cells based on a single stop being the divider (with

[2021-07-16 09:47] jsanz opened #105930 "[Index Management] Custom analyzer in index settings is not read by the Text field edit panel"
**Kibana version:**
7.14.0-SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):**
Staging cloud

**Describe the bug:**
The input for custom analyzers in the `Text` type is not reading the manually added analyzer in the `Index Settings` tab.

**Steps to reproduce:**
1. Create an index template
2. Add the required logistics in the first tab
3. Add a custom analyzer in th

[2021-07-16 09:48] elasticmachine commented on #105930
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 09:51] jloleysens commented on #103561
@ThomThomson and I met to chat about this issue. Here are some of the important points from our discussion:

* The un-migrated state issue is only present in POST URLs containing Lens by-value panels - this is a relatively small subset of URLs out there. We should be careful about taking action that might affect all POST URLs that are still working OK.
* Related to 👆🏻, we need to be careful about

[2021-07-16 09:52] mandeepkaur-qasource commented on #104456
Hi @MadameSheema,

We have validated the fix for this defect on **7.14.0 BC3** and found that the issue has been **fixed** as 'Collapse' button now appears on hover over the 'Security' side navigation panel.

Please find the below observation :
**Screen-Shot:**
![collapse](https://user-images.githubusercontent.com/78949593/125929172-56e49f3f-cf26-404e-85f6-39be4d587902.jpg)

**Build Details:**
Ver

[2021-07-16 09:52] #104456 closed

[2021-07-16 09:57] mandeepkaur-qasource commented on #104386
Hi @MadameSheema,

We have validated the fix for this defect on 7.14.0 BC3 and found that the issue has been fixed as on clicking at 'Enable Module' button, the Doc link gets opened in new window tab.

Please find the below observation :
**Screen-Cast:**
![enable_window](https://user-images.githubusercontent.com/78949593/125930009-42b6cb41-9351-49ff-9acc-503a91afb1f4.gif)

**Build Details:**
Versi

[2021-07-16 09:57] #104386 closed

[2021-07-16 10:02] mandeepkaur-qasource commented on #104389
Hi @MadameSheema,

We have validated the fix for this defect on 7.14.0 BC3 and found that the issue has been fixed as **"Red color warning message"** is now replaced with **"Yellow color"** if there no events are present under 'Threat Intelligence Card' and no filebeat is installed.

**Screen-Shot:**
![red to yellow](https://user-images.githubusercontent.com/78949593/125930712-4a0d7d40-a505-43bf-9

[2021-07-16 10:02] #104389 closed

[2021-07-16 10:06] monfera opened #105932 "[Mappings Editor] JSON load button doesn't gray out if JSON is invalid"
**Kibana version:**
7.14

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Open Index Templates,
2. Edit "Mappings"
3. Try to load (via the Load JSON button) an invalid JSON

**Expected behavior:**
I think it'd be good to gra

[2021-07-16 10:06] cnasikas commented on #82502
@gmmorris

We have disabled the case connector for Detections also. I am not sure if we gonna support it and when. @XavierM may know more about it. However, these two issues seem to be blockers: https://github.com/elastic/kibana/issues/94498, and https://github.com/elastic/kibana/issues/94115

[2021-07-16 10:12] jsanz commented on #105806
Agreed, the only way to cancel the index template update is to click in another Kibana app or in the header breadcrumbs list.

[2021-07-16 10:25] mandeepkaur-qasource commented on #104419
Hi @MadameSheema,

We have validated the fix for this defect on **7.14.0 BC3** and found that the issue has been **fixed** as Links to all "View dashboards and View Source Dashboards" are now opening up in a new browser tab.

**Screen-Cast:**
![View_Dashboards](https://user-images.githubusercontent.com/78949593/125933628-946edba1-ae18-449d-bcda-365832cacd28.gif)

**Build Details:**
Version: 7.14.0

[2021-07-16 10:29] muskangulati-qasource opened #105934 "[Bug] The old naming convention is used in logs for the agent status [example: Online for Healthy]"
**Describe the feature**
The old naming convention is used in logs for the agent status [example: Online for Healthy]

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Install an agent
2. Navigate to fleet tabs
3. Select the agent installed
4. Go to the Logs Tab
5. Observe the naming convention is not yet updated in logs for

[2021-07-16 10:29] elasticmachine commented on #105934
Pinging @elastic/fleet (Team:Fleet)

[2021-07-16 10:29] muskangulati-qasource opened #105935 "[Question] The OS versions are not consistent under the Hosts tab & Endpoints Tab"
**Describe the question**:
The OS versions are not consistent under the Hosts tab & Endpoints Tab

**Build Details:**
[code]

**Screenshots**:
- Hosts Tab:
![image (1)](https://user-images.githubusercontent.com/60252716/125932606-1d5ee442-b24f-41d5-ab0d-e23ec49f4faf.png)

- Mac Machine 1:
![image (2)](https://user-images.githubusercontent.com/60252716/125932631-16535b0c-19b0-4d1f-962d-f43cd5417976

[2021-07-16 10:29] elasticmachine commented on #105935
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-16 10:29] muskangulati-qasource opened #105936 "[Question] The 'Release' option is not available for the Gold license on the alerts tab and cases tab."
**Describe the question**:
The 'Release' option is not available for the Gold license on the alerts tab and cases tab.

**Build Details:**
[code]

**Screenshots**:
- Endpoints Tab:
![Issue1_EndpointsTab](https://user-images.githubusercontent.com/60252716/125931781-4d97ade5-0b9d-4510-9ef8-5b10dd1dd9e1.JPG)

- Alerts Tab:
![Issue1_AlertsTab](https://user-images.githubusercontent.com/60252716/1259317

[2021-07-16 10:29] elasticmachine commented on #105936
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-16 10:29] elasticmachine commented on #105936
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-16 10:29] muskangulati-qasource commented on #105936
@manishgupta-qasource please review!

[2021-07-16 10:29] muskangulati-qasource commented on #105935
@manishgupta-qasource please review!

[2021-07-16 10:29] muskangulati-qasource commented on #105934
@manishgupta-qasource please review!

[2021-07-16 10:30] deepikakeshav-qasource commented on #102029
Hi @xcrzx,

We have validated this ticket on **7.14.0 BC3** build and observed that issue is **Fixed**. Validations messages are not displaying for all connectors after added the values when creating the rule

**Build Details:**

[code]

**Screenshot:**
![Ethreal_test](https://user-images.githubusercontent.com/61860752/125908677-75246e3e-4cc9-47d9-b0e6-58dcc905b2df.jpg)

![slack](https://user-imag

[2021-07-16 10:30] #102029 closed

[2021-07-16 10:39] estermv opened #105937 "[Logs & Metrics UI] Alerts dropdown sometimes can't be closed"
**Kibana version:** master

**Describe the bug:** Metrics and logs alerts dropdown can't be closed under certain conditions

**Steps to reproduce:**
1. Go to Metrics UI or the Logs UI
2. Click on the "Alerts and Rules" button on the navigation bar and select an alert to create
3. Alerts dropdown can't be closed
If you interact with the dropdown again, then click outside the dropdown, the dropdown

[2021-07-16 10:40] elasticmachine commented on #105937
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-16 10:52] AlphaRaven opened #105938 "Setting _size enabled in index template"
**Kibana version:** 7.13.3

**Describe the bug:** Basically you can't set
[code]
when editing existing or creating new legacy index template through kibana UI.

**Steps to reproduce:**
1. Edit existing or create new index template
2. Go to Mappings
3. Use Load JSON to set up the mapping with "_size": { "enabled": true }

**Provide logs and/or server output (if relevant):**
When you use the "Load J

[2021-07-16 10:54] kibanamachine commented on #103389
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15422/)

[2021-07-16 11:02] MadameSheema opened #105939 "[Security Solution] Integration name is wiped out when changing the agent policy"
**Describe the bug:**
- Integration name is wiped out when changing the agent policy

**Kibana/Elasticsearch Stack version:**
7.14.0-BC3

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
- Endpoint Security Integration

**Preconditions:**
- To have more than one agent policy created

**Steps to reproduce:**
1. Navigate to `Add Endpoint Security integration` page
2. Add an

[2021-07-16 11:02] elasticmachine commented on #105939
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-16 11:02] elasticmachine commented on #105939
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-16 11:11] MadameSheema commented on #104605
@mandeepkaur-qasource is this still happening on current BC?

[2021-07-16 11:14] manishgupta-qasource commented on #105934
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-16 11:15] manishgupta-qasource commented on #105935
Reviewed & Assigned to @MadameSheema

[2021-07-16 11:16] hop-dev commented on #105648
Ready for review https://github.com/elastic/kibana/pull/105795

[2021-07-16 11:16] MadameSheema commented on #105935
@XavierM @kevinlog can you please take a look to this query? thanks :)

[2021-07-16 11:23] mandeepkaur-qasource commented on #104398
Hi @kevinlog,

We have validated the fix for this defect on **7.14.0 BC3** and found that the issue has been **Fixed** as "Security App" has been replaced with "Elastic Security" on 'Get Started with Endpoint Security' screen.
**Updated Link text is:** "For more information, view the Elastic Security documentation."

**Screen-Shot:**
![endpoint](https://user-images.githubusercontent.com/78949593/1

[2021-07-16 11:23] #104398 closed

[2021-07-16 11:46] manishgupta-qasource commented on #105936
Reviewed & assigned to @kevinlog

[2021-07-16 11:48] mandeepkaur-qasource commented on #104605
Hi @MadameSheema,

We have validated this defect on **7.14.0 BC3** and found that the issue is still **occurring** as 'Inspect Icon' on Threat Intelligence' card is still not functional if filebeat is not installed '.

**Screen-Cast:**
![no-filebeat-inspect-icon](https://user-images.githubusercontent.com/78949593/125942867-2fa0847e-6a6f-45a8-97eb-f043c6b0ac79.gif)

**Build Details:**
Version: 7.14

[2021-07-16 11:57] michaelolo24 opened #105941 "[Security Solution][Timelines] - Reduce Timelines & Security Solution bundle sizes"
Currently, the bundle sizes for both Security Solution and Timelines have gone over the preferred 100kb limit set by the ops team. With every new addition the bundle size continues to creep up and require changes to the `limits.yml`. The size of these bundles should go down with continued RAC work for 7.15, but we should make sure that this issue is addressed as soon as possible.

Specifically in

[2021-07-16 11:57] elasticmachine commented on #105941
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-16 11:59] amolnater-qasource opened #105942 "[Fleet]: User is able to add same URL multiple times under Fleet Settings."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Fleet Settings.
3. Add same Fleet Server Hosts URL under multiple fields.
4. Click Save and Apply settings observe

[2021-07-16 11:59] elasticmachine commented on #105942
Pinging @elastic/fleet (Team:Fleet)

[2021-07-16 12:03] manishgupta-qasource commented on #105942
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-16 12:06] vipulsrivastava-qasource commented on #105730
Hi @jen-huang

This issue is **also occurring** on Add agent fly-out under Policy page of Fleet tab.

**Screenshot**
![Default_policy_flyout](https://user-images.githubusercontent.com/69579402/125938671-1b67fae2-2722-44c3-8123-948b3aa3f858.png)

Thanks!!.

[2021-07-16 12:09] deepikakeshav-qasource opened #105945 "[Security Solution] Message "No investigation time enrichments found" is not displayed under threat intel tab when more than one indicator match rule enrichments fields are displayed."
**Describe the bug**
Message "No investigation time enrichments found" is not displayed under threat intel tab when more than one indicator match rule enrichments fields are displayed.

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1.Kibana users should be logged in.
2. Filebeat should be installed.

**Steps to Reproduce**
1. Navigate to Dev tools add the following:
<detail

[2021-07-16 12:09] elasticmachine commented on #105945
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-16 12:10] deepikakeshav-qasource commented on #105945
@manishgupta-qasource Please review!!

[2021-07-16 12:12] #104143 closed

[2021-07-16 12:13] deepikakeshav-qasource commented on #103229
Hi @cnasikas,

We have validated this ticket on 7.14.0 BC3 build and observed that issue is **Fixed**. Please find the below testing details:

**Build Details:**

[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/125940757-fb607a00-80d0-4e75-a22b-7c54ce5ddada.mp4

Hence, we are closing this ticket and marking as QA validated.

Thanks!!

[2021-07-16 12:13] #103229 closed

[2021-07-16 12:14] muskangulati-qasource commented on #105408
Hi @ferullo,

Thank you for the information.

We are closing this ticket as it is now fixed. And marking is as Validated.

Thanks!

[2021-07-16 12:14] #105408 closed

[2021-07-16 12:15] muskangulati-qasource commented on #105212
Hi @kevinlog,

We validated this issue on the latest 7.14.0-BC3 build and found that the issue is now fixed. The comments do not disappear after posting.

Please find below the testing details.

**Build Details**:
[code]

**Screenshot**:
![cases](https://user-images.githubusercontent.com/60252716/125926206-00287c46-f20e-49c0-adf6-3a1dd72c940a.JPG)

Hence, closing this ticket and marking it as "Val

[2021-07-16 12:15] #105212 closed

[2021-07-16 12:15] muskangulati-qasource commented on #105567
Hi @kevinlog,

We validated this issue on the latest 7.14.0-BC3 build and found that the issue is now fixed. There are no errors for Isolation/Release now.

Please find below the testing details.

**Build Details**:
[code]

**Screenshot**:
![Issue1_AlertsTab](https://user-images.githubusercontent.com/60252716/125934533-4018e583-55b0-4d02-9ba7-5d9e6d381f8a.JPG)

Hence, closing this ticket and marki

[2021-07-16 12:15] #105567 closed

[2021-07-16 12:15] muskangulati-qasource commented on #104374
Hi @kevinlog,

We validated this issue on the latest 7.14.0-BC3 build and found that the issue is now fixed. All the OSes are sent correctly to the Event Filter from the Host Tab.

Please find below the testing details.

**Build Details**:
[code]

**Screenshot**:
![OSforEventFilter](https://user-images.githubusercontent.com/60252716/125937993-3147402c-572c-4ef3-8232-6cdf07569cb4.JPG)

Hence, closi

[2021-07-16 12:15] #104374 closed

[2021-07-16 12:16] muskangulati-qasource commented on #104400
Hi @kevinlog,

We validated this issue on the latest 7.14.0-BC3 build and found that the issue is now fixed.

Please find below the testing details.

**Build Details**:
[code]

**Screenshot**:
![ES](https://user-images.githubusercontent.com/60252716/125940654-140448ee-d7c3-456d-b02b-0cd0fb699145.png)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-07-16 12:16] #104400 closed

[2021-07-16 12:21] manishgupta-qasource commented on #105945
Reviewed & assigned to @MadameSheema

[2021-07-16 12:31] amolnater-qasource commented on #93315
Hi @EricDavisX
We have executed Test plan for Integration Granularity feature at [Ingest Manager 7.14.0 New Feature Integrations Granularity Test Plan](https://elastic.testrail.io/index.php?/runs/view/2049&group_by=cases:section_id&group_order=asc&group_id=30352)

Thanks
QAS

[2021-07-16 12:34] Kerry350 opened #105948 "[RAC] Confirm schema is written correctly"
## Summary

We should confirm that alert documents are written using the correct [schema](https://docs.google.com/spreadsheets/d/1Cqv0bRx1BgY6VP9PY4FK6kppUEZJ5qMPoFgr5_XQXJI/edit#gid=1775019155).

We do **not** have to write all of these fields for 7.15, but any fields that are written need to respect this schema.

## Acceptance criteria

- Alert documents respect the schema

[2021-07-16 12:36] #105759 closed

[2021-07-16 12:41] cnasikas commented on #91821
Fixed by https://github.com/elastic/kibana/pull/101756

[2021-07-16 12:41] darnautov commented on #105262
hey @Bamieh! 👋 do you have any update on this? I wonder if there is any workaround we can try on the ML plugin side?

[2021-07-16 12:55] alexwizp commented on #105854
@wylieconlon I thought about when it can be useful and think that I like option `b` more. I also think that this should work with with the `Level of detail` feature and limit the minimum value of the interval. In this case, this functionality makes sense.

https://user-images.githubusercontent.com/20072247/125951036-ca5fc6c1-5359-496a-bcad-ac0a9a887214.mov

[2021-07-16 12:59] pheyos opened #105951 "[ML] Index data visualizer sometimes shows wrong doc count for saved searches"
**Found in version**
- 7.14.0-bc3

**Browser**
- Chrome

**Steps to reproduce**
1. Prepare a saved search that actually filters out some documents
    - e.g. use the ecommerce sample dataset, open it in Discover, search for `customer_first_name : E*` (which only returns 448 of the 4675 documents) and save the search
2. Navigate to the index data visualizer and select the saved search
3. Click the

[2021-07-16 12:59] elasticmachine commented on #105951
Pinging @elastic/ml-ui (:ml)

[2021-07-16 13:32] justinkambic commented on #100163
This looks good:

![image](https://user-images.githubusercontent.com/18429259/125955946-6a4a2127-5d5d-4bda-9f02-741f577a325d.png)

![image](https://user-images.githubusercontent.com/18429259/125955994-ff9fd657-5e41-43ed-bb45-60bc5e99ee21.png)

[2021-07-16 13:34] justinkambic commented on #99373
Looking good, although I'm think it'd be nice if we had a different error message. Or we just display an error message when the value is invalid, otherwise just leave the field highlighted if it's empty.

![image](https://user-images.githubusercontent.com/18429259/125956225-ec961569-e321-4af0-8fb2-127885a4c16c.png)

[2021-07-16 13:43] justinkambic commented on #99907
This is looking good:

![image](https://user-images.githubusercontent.com/18429259/125957513-50dd1b15-85cb-4c7b-be75-b128b70b78eb.png)

[2021-07-16 14:01] alexwizp commented on #105854
@wylieconlon you can try my suggestion  here #105954

[2021-07-16 14:07] pmuellr commented on #101582
They aren't allow-listed in ESS, and you are correct, a normal upgrade should have no problems, and I've never seen this happen in practice.

I'm not sure if it's possible for an ESS user to restore a `.kibana` index from some other deployment (perhaps on-prem) into ESS - I think there are likely other issues with that beyond just this one.  And it looks like ESS prevents system indices from being

[2021-07-16 14:07] #104781 closed

[2021-07-16 14:14] pmuellr commented on #84217
Yes, I think it's not possible, even with our `{{.}}` support, to do what you want with those tags.

I think you'd want to use the elasticsearch form of [`{{#toJson}}tags{{/toJson}}`](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/search-template.html#search-template-convert-json) here?

Thanks for the use case!

[2021-07-16 14:27] kobelb commented on #101582
It's an entirely valid concern. I'm assuming that we have a fair number of operators who are under the impression that as long as Kibana starts up correctly after an upgrade, the upgrade went successfully. That's why I'd prefer that we explore options in the mid to long-term that prevent this from happening when the encryption key used for the upgrade is wrong.

The operator that is performing the

[2021-07-16 14:28] MadameSheema commented on #105945
@ecezalp @rylnd can you please take a look at this? Thanks :)

[2021-07-16 14:30] alisonelizabeth opened #105963 "[Dashboard] Visualization error when dashboard is accessed via recently viewed"
**Kibana version:**
Master, 7.13, 7.12

**Describe the bug:**
A dashboard renders a blank page when it contains a visualization error and is accessed via the "Recently viewed" menu.

**Steps to reproduce:**
1. Create a dashboard with a visualization.
2. Save the visualization to the visualization library. Save the dashboard.
3. Navigate to the "Visualize Library" via the left nav.
4. Search and de

[2021-07-16 14:30] elasticmachine commented on #105963
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-16 14:39] crob611 opened #105967 "[Dashboard] Make Dashboard Saved Object share-capable"
Dashboard Saved Object is currently nameSpaceType: single.  It should be updated to `multiple_isolated` per #100489

[2021-07-16 14:39] elasticmachine commented on #105967
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-16 14:43] #105454 closed

[2021-07-16 14:48] ecezalp commented on #105945
I was able to reproduce this bug (please view alert generated by kibana-105945 rule in [cloud env](https://i-o-optimized-deployment-2a06c4.kb.europe-west1.gcp.cloud.es.io:9243/app/security, please reach out for credentials)

the alert has two indicator matches, and no investigation time enrichments. It is expected that the "No investigation time enrichments found" copy (or the updated version of i

[2021-07-16 14:49] ThomThomson commented on #103561
Some clarification for potential task #5: There is already a user-facing copy generation step which _should_ be happening when the embeddables surface errors. `ErrorEmbeddables` are already a user-facing construct, so if the `EmbeddableContainer` was changed to surface `ErrorEmbeddable` errors as `data-render-warning` the only extra work required would be to capture & display those errors in the r

[2021-07-16 14:50] ecezalp commented on #104605
this.. makes sense, no query is being made that's inspectable if the module is disabled. removing the inspect button for this scenario

[2021-07-16 14:52] #105757 closed

[2021-07-16 14:56] elasticmachine commented on #105907
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-16 14:57] liza-mae commented on #105907
Root cause: #105835

[2021-07-16 14:57] elasticmachine commented on #105903
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:57] elasticmachine commented on #105904
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:57] elasticmachine commented on #105905
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:57] elasticmachine commented on #105906
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:58] elasticmachine commented on #105899
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:58] elasticmachine commented on #105900
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:58] elasticmachine commented on #105901
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:58] elasticmachine commented on #105902
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 14:59] crob611 opened #105970 "[Canvas] Make Canvas Saved objects share-capable"
Workpads and Custom Elements are currently nameSpaceType: single. It should be updated to multiple_isolated per #100489

Blocked by the saved object references portion of #101639

[2021-07-16 14:59] elasticmachine commented on #105970
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-16 15:00] elasticmachine commented on #105894
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105895
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105896
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105897
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105898
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105890
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105891
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105892
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:00] elasticmachine commented on #105893
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:01] elasticmachine commented on #105885
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:01] elasticmachine commented on #105886
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:01] elasticmachine commented on #105887
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:01] elasticmachine commented on #105888
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:01] elasticmachine commented on #105889
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:02] elasticmachine commented on #105877
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-07-16 15:02] elasticmachine commented on #105881
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:02] elasticmachine commented on #105882
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:03] elasticmachine commented on #105880
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:03] elasticmachine commented on #105908
Pinging @elastic/kibana-core (Team:Core)

[2021-07-16 15:03] elasticmachine commented on #105879
Pinging @elastic/kibana-core (Team:Core)

[2021-07-16 15:04] elasticmachine commented on #105872
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:04] elasticmachine commented on #105873
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:04] elasticmachine commented on #105874
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:04] liza-mae commented on #105878
Root cause: #105835

[2021-07-16 15:04] elasticmachine commented on #105878
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-16 15:18] alisonelizabeth commented on #105930
Hi @jsanz! Thanks for opening this issue.

I believe it is actually working as expected. You should see the custom analyzer via the "Use built-in analyzer" dropdown.

![template_analyzer](https://user-images.githubusercontent.com/5226211/125970257-bf07edc0-b0b9-4f36-bf25-ea22d393ac26.gif)

I believe the "Use custom analyzer" text field is if you want to define a custom analyzer that the UI is not

[2021-07-16 15:22] machadoum commented on #90761
I didn't work on fixing the pin tooltip error, only failed shards. Shard errors used to happen because we searched on indices that don't have geo IP data. It is fixed.

I looked into the code, and the pin error appears to be related to the `server.as.organization.name` field:
https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/security_solution/public/net

[2021-07-16 15:25] wylieconlon opened #105976 "[Lens] Add `rank()` function to formula, similar to SQL"
I was just building a sample dashboard for the `ecommerce` dataset and found that I wanted to show the _product rank per day_ in a line chart, to highlight the _change in ranking_. Since ranking is one of the core Elasticsearch features, it seems like users might want to use not just the _metric_ but also the _rank itself_ as a visualization.

[2021-07-16 15:25] elasticmachine commented on #105976
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 15:31] MichaelMarcialis commented on #105120
Interesting. I'm still unable to reproduce in either the v7 or v8 themes in Chrome across both Kibana or the EUI docs. Looping in @elastic/eui-design.

[2021-07-16 15:39] jportner commented on #105835
_Note: to reproduce this in Cloud you need to set the following in kibana.yml:_
[code]
_This flips a switch that tells the Reporting plugin to use Kibana privileges instead of its legacy roles!_

_Also note: we could not reproduce this behavior locally with a Trial license_

-----

Ok, did some digging and figured out what is going on.

Dashboard, Visualize, and Canvas were all *not* showing the c

[2021-07-16 15:44] FrankHassanabad opened #105980 "[Security Solutions] Add a setting to disable cloud rules for our CI system"
A few days ago we had an issue where a missing back-port of detection engine rules for 7.14. The backport went back to 7.15 and master but not 7.14. Cypress then began failing on everyone's new PR's. We fixed Cypress by doing a backport (https://github.com/elastic/kibana/pull/105790)

However, this started a conversation where it looks like either missing backports or changes to cloud rules can ef

[2021-07-16 15:44] elasticmachine commented on #105980
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-16 15:52] MadameSheema commented on #105980
Agree with option 3 if needed we can think about how to expand the current tests to have more coverage regarding the other rules.

[2021-07-16 15:54] liza-mae commented on #105340
Root cause: #105835

[2021-07-16 15:55] liza-mae commented on #105358
Root cause: #105835

[2021-07-16 16:01] cavokz opened #105985 "Error: endpoint is installed by default and cannot be removed"
**Kibana version:**
* master
* 7.14

**Elasticsearch version:**
* master
* 7.14

**Server OS version:**
* Ubuntu 16.04

**Browser version:**
* Cypress/Chrome 91
* Firefox 89

**Browser OS version:**
* MacOS 11.4

**Original install method (e.g. download page, yum, from source, etc.):**
* snapshot tarball

**Describe the bug:**
* Found these errors in the logs:
[code]

**Steps to reproduce:**
1. Vi

[2021-07-16 16:04] wylieconlon opened #105987 "[esaggs] Show a better error when Kibana is disconnected instead of `Batch request failed with status 0`"
Instead of showing this error, esaggs should provide a more helpful message like "Network error, try again later or contact your administrator."

Steps to test:

1. Open Lens and configure a visualization
2. Stop the Kibana server
3. Click the Refresh button in the filter bar to trigger a new request

<img width="590" alt="Screen Shot 2021-07-16 at 10 18 22 AM" src="https://user-images.githubuserc

[2021-07-16 16:04] elasticmachine commented on #105987
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-16 16:05] ThomThomson commented on #105963
I'm currently looking into this. I can re-create it, but only once. If the dashboard is loaded from the listing page, subsequent loads from the 'recently viewed' tab work correctly. I will keep researching and will report my findings here.

[2021-07-16 16:09] wylieconlon commented on #105686
@dej611 I see, that's not what I expected but I see what you mean. I hope that we can make some improvements to this component to clarify how it works, since if I was confused I'm sure there are others.

[2021-07-16 16:26] smith opened #105989 "[APM] Allow linking to ENVIRONMENT_NOT_DEFINED in exploratory view"
(Follow-up from #105467)

When `ENVIRONMENT_NOT_DEFINED` is selected in APM, links to the Exploratory View using the Analyze Data button leave the environment selection blank.

Instead, it should use a `not (service.environment:*)` filter so that only services which have no defined environments are shown.

These changes probably will need to be made in the Exploratory View.

[2021-07-16 16:26] elasticmachine commented on #105989
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 16:26] qn895 commented on #101435
Closing this meta issue and integrating the remaining tasks into https://github.com/elastic/kibana/issues/101435

[2021-07-16 16:26] #101435 closed

[2021-07-16 16:27] kibanamachine commented on #104247
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15570/)

[2021-07-16 16:35] wylieconlon opened #105991 "[Lens] Advanced "auto" date interval selection"
The "auto" interval for date histograms does not always match what I want to do when I'm configuring a Lens dashboard. _As a user, I want to have exact control over the date intervals in my visualization_, so that they match my organization's priorities. There are 2 existing proposals for date interval selection in Lens, but neither of them offers _complete control_. The existing proposals are an

[2021-07-16 16:35] elasticmachine commented on #105991
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 16:36] qn895 commented on #53480
Closing this meta issue and consolidating the remaining tasks into https://github.com/elastic/kibana/issues/86387

[2021-07-16 16:36] #53480 closed

[2021-07-16 16:38] #98198 closed

[2021-07-16 16:38] #100598 closed

[2021-07-16 16:53] ecezalp commented on #104605
#105988

[2021-07-16 17:00] kibanamachine opened #105997 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/security/user_email·js - security app useremail login as new user with changed password"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15428/)

[2021-07-16 17:07] tsullivan commented on #105835
Hi, I just want to note that this is intentional. Reporting export types are able to use different license requirements. CSV export is available under a Basic license, but the PDF and PNG types require a platinum license (but they should also work in Cloud ;) )

[2021-07-16 17:14] yuliacech commented on #105723
Thanks for filling this, @jsanz !
I think a runtime field can't have `geo_shape` data type, but it can be `geo_point`
https://www.elastic.co/guide/en/elasticsearch/reference/7.14/runtime-mapping-fields.html
We should add this runtime field mapping type to the editor, @sebelga WDYT?

[2021-07-16 17:16] justinkambic commented on #102069
Once https://github.com/elastic/kibana/pull/105918 is merged, this will be passing the test plan.

[2021-07-16 17:23] jen-huang commented on #105730
Thanks @vipulsrivastava-qasource, that's by design currently as well. The only place where the integration icons are expected to appear is for the generic "Add agent" flyout that is not tied to a policy (Fleet > Agents > Add agent).

[2021-07-16 17:25] jen-huang commented on #93315
@amolnater-qasource Thanks for the thorough testing! This requirement was changed slightly, this is what is expected:

- clicking on Add AWS Dynamodb shows only the dynamodb metrics configuration is enabled and no other configuration options
- from Integrations > AWS Dynamodb > Policies page, or Fleet > Policies > (some agent policy), clicking on Edit integration will show all configuration option

[2021-07-16 17:27] jen-huang commented on #105942
This doesn't really have any detrimental effects, so putting this in Backlog as a future enhancement.

[2021-07-16 17:29] jen-huang commented on #105934
Closing as won't fix, it is not expected for the raw agent logs to show the same statuses as what is presented in the UI. The UI builds "readable" statuses from the agent status info along with a few other agent info fields.

[2021-07-16 17:29] #105934 closed

[2021-07-16 17:29] cachedout commented on #103180
I came across another service today that's trying to fit this niche as well. Could be worth evaluating: https://mergequeue.com/

[2021-07-16 17:30] jen-huang commented on #104241
Thank you everyone here for helping to investigate and validate this :)

[2021-07-16 17:31] justinkambic commented on #86255
This is looking good:
![image](https://user-images.githubusercontent.com/18429259/125986663-7a051740-2213-4e80-a248-7dde3028d85e.png)

[2021-07-16 17:35] justinkambic commented on #96483
![image](https://user-images.githubusercontent.com/18429259/125987031-e6fce30d-c772-4f3c-b19f-860d9e8b2c64.png)

![image](https://user-images.githubusercontent.com/18429259/125987147-87638168-c0d9-4f0d-ba69-2948fc399421.png)

Looking good.

[2021-07-16 17:36] yuliacech opened #106002 "[Mappings Editor] Language analyzer dropdown doesn't work on the 1st click"
**Kibana version:**
7.14 BC3
**Elasticsearch version:**
7.14 BC3
**Browser version:**
Version 91.0.4472.114 (Official Build) (x86_64)
**Browser OS version:**
macOs Catalilna
**Original install method (e.g. download page, yum, from source, etc.):**
Staging Cloud

**Describe the bug:**
When selecting a specific language for a language analyzer in the Mappings Editor, the 1st click doesn't set the la

[2021-07-16 17:36] elasticmachine commented on #106002
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 17:39] jsanz commented on #105930
Ohh sorry, I didn't understand correctly the test case, my bad!

I'm not in front of the computer to confirm but you can close the ticket now or I will do it next Monday

[2021-07-16 17:44] elasticmachine commented on #105932
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 17:46] FrankHassanabad opened #106003 "[Security Solutions] HTML areas of exceptions should accurately reflect 2 spaces for values"
**Describe the bug:**
When users create an exception in the exception list, it is very common for them to use two spaces within their input. However, when we display the exception value, it only shows one space since the HTML/DOM collapses it as one space. This can be avoided with a styled `<pre>` or other HTML element which preserves the additional spaces.

This can be a problem because if users

[2021-07-16 17:47] elasticmachine commented on #106003
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-16 17:50] yuliacech commented on #105932
Also I was not able to see the red error message "Invalid JSON" under the JSON editor, it would only display the red label "Mappings object" if an invalid JSON is used.
![Screenshot 2021-07-16 at 18 53 56](https://user-images.githubusercontent.com/6585477/125988740-07eb75de-bfef-4848-b72e-fdaaf34c06b2.png)

[2021-07-16 18:03] yctercero opened #106005 "[Search Strategy] - Errors being swallowed and reported as 500"
**Kibana version:**
7.x (7.15 branch), master

**Describe the bug:**
Discovered this bug while writing integration tests for the timeline search strategy where we expected to receive back a 403 unauthorized, and instead received 500.

After console logging out a few things found that the 403 is reaching the catch block in the route handler - `src/plugins/data/server/search/routes/search.ts` , but

[2021-07-16 18:03] elasticmachine commented on #106005
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-16 18:20] yuliacech opened #106006 "[Mappings Editor] Advanced options tab inserts mappings that can't be deleted"
When editing mappings, after "Advanced options" tab is clicked at least once, some settings are inserted into the mappings and can't be easily deleted. The only way to get read of the inserted settings is

1. click any other tab than "Advanced options"
2. Use "Load JSON" functionality to overwrite the mappings object.

**Steps to reproduce:**
1. Navigate to Stack Management -> Index Management ->

[2021-07-16 18:20] elasticmachine commented on #106006
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 18:28] elasticmachine commented on #105806
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 18:28] elasticmachine commented on #105805
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 18:29] elasticmachine commented on #105597
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-16 18:30] elasticmachine commented on #105811
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 18:31] elasticmachine commented on #105837
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 18:31] elasticmachine commented on #105792
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 18:53] yuliacech opened #106009 "[Index Management] View filter button doesn't have borders"
**Kibana version:**
7.14 BC3
**Elasticsearch version:**
7.14 BC3
**Browser version:**
Version 91.0.4472.114 (Official Build) (x86_64)
**Browser OS version:**
macOs Catalilna
**Original install method (e.g. download page, yum, from source, etc.):**
Staging Cloud

**Describe the bug:**
"view" filter button in Index Management (Data Streams and Index Templates tabs) doesn't have borders

**Screenshot

[2021-07-16 18:53] elasticmachine commented on #106009
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 19:03] #105654 closed

[2021-07-16 19:04] justinkambic opened #106011 "[Uptime] When monitor has no pings within window, monitor page has unhandled error"
**Kibana version:**

8.x

**Elasticsearch version:**

8.x

**Server OS version:**

macOS

**Browser version:**

Chrome 91

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

When the window of the monitor page has no pings, the page has an unhandled error.

**Steps to reproduce:**
1. Create a monitor
2. Go

[2021-07-16 19:04] elasticmachine commented on #106011
Pinging @elastic/uptime (Team:uptime)

[2021-07-16 19:05] kevinlog commented on #104295
@paul-tavares @caitlinbetz

As discussed offline, we'll address this by disabling the pending logic for `7.14` since we think it will be more confusing for users than it will help.  We'll bring the pending logic back after we can improve it so that you don't see the "Isolated" state in between "Releasing" and the default cleared state.

[2021-07-16 19:11] kevinlog opened #106014 "[Security Solution] Host Isolation Isolate and Release forms look inconsistent"
**Kibana version:**
7.14

**Elasticsearch version:**
7.14

**Describe the bug:**
The Isolate and Release forms look inconsistent.

The Isolate form looks like this:
![image](https://user-images.githubusercontent.com/56395104/125997270-26e8db71-9c7d-45a2-b17e-09c823aaa42f.png)

The Release form looks like this:
![image](https://user-images.githubusercontent.com/56395104/125997058-5a79370f-326d-43d4

[2021-07-16 19:11] elasticmachine commented on #106014
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-16 19:15] cauemarcondes commented on #105402
@Mpdreamz I couldn't simulate the problem on cloud. But I ran into something similar on my local environment:

Although I have a `Cloud policy`, the migration panel is disabled. In my case, it was because I opened the APM Schema page before opening the Fleet UI, which bootstraps some stuff by the first time the page is opened.

<img width="3199" alt="Screen Shot 2021-07-16 at 14 57 53" src="https:

[2021-07-16 19:26] #105467 closed

[2021-07-16 19:34] #98382 closed

[2021-07-16 20:08] elasticmachine commented on #105985
Pinging @elastic/fleet (Team:Fleet)

[2021-07-16 20:08] ThomThomson commented on #105963
I've been researching this, and will continue to update as I find out more.
- It seems to be caused by a race condition between dashboard loading, and the loading of the default index pattern.
  - in `src/plugins/dashboard/public/application/lib/sync_dashboard_index_patterns.ts`, line 58 the observer has closed by the time the default index pattern is returned, so no index patterns are communicate

[2021-07-16 20:09] EricDavisX commented on #105985
I believe the spec is such that the Endpoint package cannot be uninstalled once it is installed, but it should not be installed by default.  I think something is installing it (if you are using Endpoint, then that would explain it, of course).

@cavokz Dom, hi - can you expand on the setup for the problem here?

I am also unsure of what the following kibana setting does: agentIdVerificationEnabled

[2021-07-16 20:27] ryankeairns commented on #58506
Closed in favor of the cross-team Getting Started project.

[2021-07-16 20:27] #58506 closed

[2021-07-16 20:29] ecezalp commented on #105945
#106022

[2021-07-16 20:30] wylieconlon opened #106024 "[Lens] Allow extra metrics in the tooltip"
This is a feature that is already supported in the Maps application, and it was one of the "future wish list" items from the [original Lens requirements list](https://github.com/elastic/kibana/issues/17076):

This feature idea is especially relevant now that we support formulas in Lens. For example, I've just put together a sample visualization which is representing "% of target", but what if I wa

[2021-07-16 20:30] elasticmachine commented on #106024
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 20:35] bhavyarm opened #106025 "User cannot export saved objects but can import saved objects"
**Kibana version:** 7.13.4 (7.13.x)

**Elasticsearch version:** 7.13.4

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  User with a role with all cluster privileges, all privileges to in index pattern (sample e-commerce) and analytic

[2021-07-16 20:35] elasticmachine commented on #106025
Pinging @elastic/kibana-core (Team:Core)

[2021-07-16 20:35] bhavyarm commented on #106025
Logging this bug for tracking purposes only cc @legrego

[2021-07-16 20:40] FrankHassanabad commented on #105186
Nice! Glad everyone was able to get the data they needed!

[2021-07-16 20:51] ThomThomson opened #106028 "[Dashboard] [Lens] Some UIActions Mistakenly Shown on Lens Error Embeddables"
**Kibana version:** master, 7.12, 7.13

**Describe the bug:** When a by reference embeddable is transformed into an error embeddable, the icon to 'unlink from library' is still present. This could cause errors and should be removed

**Steps to reproduce:**
1. Add a by reference panel to a dashboard.
2. Delete the linked visualization from the library.
3. Open the dashboard, and see that the error

[2021-07-16 20:51] elasticmachine commented on #106028
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-16 20:57] kibanamachine opened #106032 "Failing test: Chrome X-Pack Cloud Integration Functional Tests (SAML).x-pack/test/cloud_integration/tests/fullstory - Cloud FullStory integration records a FullStory session with the associated SAML user"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15432/)

[2021-07-16 20:57] kibanamachine commented on #106032
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15432/)

[2021-07-16 20:57] lukasolson opened #106033 "TSVB gives error message when creating"
**Kibana version:** 7.14.0-snapshot

**Elasticsearch version:** 7.14.0-snapshot

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

When creating a TSVB, you get an error message: "Required one of fields [field, script], but none were specified."

Apologies if this is related to an existing issue, I didn't see one that matched.

![image](https:/

[2021-07-16 20:57] elasticmachine commented on #106033
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-16 21:02] constancecchen commented on #97108
👋 Hey hey! Just chiming in from Enterprise Search's POV (we're looking to start using just LogStream here shortly). My 2c is that

is by far our more preferred use-case/consumption of LogStream. We ran into a (solvable) issue where we list `spaces` as an `optionalPlugin` but `infra` lists `spaces` as a `requiredPlugin`, which lead to some fun CI shenanigans. In an ideal world we'd potentially love

[2021-07-16 21:02] ryankeairns opened #106035 "Add "How-to" video content"
**Describe the feature:**
Use video content _within Kibana_ to help people learn how to use Elastic products.

**Describe a specific use case for the feature:**
Customer opens Lens for the first time and is not sure where to begin. The empty state provides a link for a "How-to" video titled "Creating your first visualization with Kibana Lens"

There is an existing set of short videos put out by th

[2021-07-16 21:03] elasticmachine commented on #106035
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-07-16 21:09] kibanamachine commented on #106032
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15575/)

[2021-07-16 21:09] kibanamachine commented on #106032
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15575/)

[2021-07-16 21:11] elasticmachine commented on #106025
Pinging @elastic/kibana-security (Team:Security)

[2021-07-16 21:11] constancecchen opened #106038 "[LogStream] Add missing props to storybook documentation"
👋 Hey friends! I noticed while implementing LogStream and grabbing LogStreamProps that a couple of the defined props/types weren't in the [storybook docs](https://github.com/elastic/kibana/blob/master/x-pack/plugins/infra/public/components/log_stream/log_stream.stories.mdx#prerequisites). Specifically:

- `filters` (this is the big one I'd really love to see an example of, as I think we'd likely u

[2021-07-16 21:11] elasticmachine commented on #106038
Pinging @elastic/apm-ui (Team:apm)

[2021-07-16 21:12] elasticmachine commented on #106038
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-16 21:13] constancecchen commented on #106038
(Sorry for incorrect team ping 😬)

[2021-07-16 21:21] hungnguyen-elastic opened #106040 "Kibana gives warning "System indices are critical for internal operations." when users try to delete .ds-* indices"
**Kibana version:**
7.13.3
**Elasticsearch version:**
7.13.3
**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Kibana gives warning "System indices are critical for internal operations." when users try to delete data streams (.ds-*) indices. Data streams indices are hidden indices

[2021-07-16 21:23] ryankeairns commented on #105750
Added issue to EUI: https://github.com/elastic/eui/issues/4964

[2021-07-16 21:23] ryankeairns commented on #105754
Added issue to EUI: https://github.com/elastic/eui/issues/4963

[2021-07-16 21:41] cjcenizal opened #106041 "Optimize Index Management's indices list network performance"
When Index Management is loaded, the UI sends a request to `GET /api/index_management/indices`. The Kibana server handles this request by making two requests to Elasticsearch:

* `GET *?expand_wildcards=hidden,all`
* `GET /_cat/indices?format=json&h=health,status,index,uuid,pri,rep,docs.count,sth,store.size&expand_wildcards=hidden,all&index=*`

However, the table itself only uses information from

[2021-07-16 21:41] elasticmachine commented on #106041
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-16 22:17] kibanamachine commented on #106032
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15576/)

[2021-07-16 22:17] kibanamachine commented on #106032
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15576/)

[2021-07-16 22:50] kmartastic commented on #105118
What are our options here:

- Fit to data will account for layer visibility settings and provide a "toast" message, like "Zooming to this layer's extent would move to a zoom where the layer's visibility is turned off."
- Fit to data does not change, but a message is displayed if the layer is no longer visible

What's the simplest solution? We should optimize for the consumer.

[2021-07-16 22:53] kmartastic commented on #105080
I like the idea of picking this up with other "map layer styling improvements" we've discussed recently.

It would be nice if we could suggesting a diverging ramp if there are negative and positive numbers.

cc: @nreese

[2021-07-16 22:55] kibanamachine commented on #106032
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15434/)

[2021-07-16 23:00] cjcenizal commented on #106041
Did some digging at the cat indices API currently lacks the following information that we need to implement the current UX:
* `hidden` - Whether the index is hidden or not
* `data_stream` - The name of the data stream that owns the index, if there is one
* `aliases` - The aliases that point to this index (implemented in the API, but not consumed by the UI, possibly an oversight)

[2021-07-16 23:27] kmartastic commented on #95133
Note: Impact:High -- but is not reproducible at the moment.

[2021-07-17 00:24] dborodyansky commented on #105803
@alisonelizabeth Here are some options that come to mind regarding language selection hierarchy. What do you think?
![image](https://user-images.githubusercontent.com/3674406/126019646-2b8a8c12-8372-4e88-ae28-41ddc7983275.png)

[2021-07-17 01:40] jen-huang opened #106048 "[Fleet] Upgrade package policies, phase 1"
Today, package policies are tied to a specific version of a package, this is done by saving package metadata on the [policies](https://github.com/elastic/kibana/blob/da7c43c1dbfb5de687188b570af07f68f2229e26/x-pack/plugins/fleet/server/saved_objects/index.ts#L226-L232). When a user goes to edit a package policy after creating it, we use this metadata to retrieve the package information at that vers

[2021-07-17 01:40] elasticmachine commented on #106048
Pinging @elastic/fleet (Team:Fleet)

[2021-07-17 01:45] jen-huang commented on #92612
Closing this in favor of the fully specc'ed out phase 1 issue: https://github.com/elastic/kibana/issues/106048

[2021-07-17 01:45] #92612 closed

[2021-07-17 01:58] jen-huang commented on #105670
Closed by #105962

[2021-07-17 01:58] #105670 closed

[2021-07-17 12:28] gmmorris commented on #105512
This is actually ok, I think, but worth discussing.

A reminder of what the semantic are:

1. A user with `all` can CRUD Connectors
2. A user with `read` can R Connectors, meaning they can execute them too

This means, for example, a user with `read` can use a connector as an action on a rule. But they can't reconfigure this connector.
It makes sense then for a user that can create a rule and use

[2021-07-17 12:34] gmmorris commented on #95618
Looks like this is being picked up by Security, so removing the Alerting labeling to reduce noise on that feature :)

[2021-07-17 15:36] DeepakSharma0 opened #106050 "candlestick"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2021-07-18 00:27] kibanamachine opened #106051 "Failing test: X-Pack Endpoint API Integration Tests.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts - Endpoint plugin test metadata api POST /api/endpoint/metadata when index is not empty metadata api should return one entry for each host with default paging"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15461/)

[2021-07-18 00:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15461/)

[2021-07-18 00:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15604/)

[2021-07-18 00:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15604/)

[2021-07-18 01:07] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15460/)

[2021-07-18 01:07] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15460/)

[2021-07-18 01:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15462/)

[2021-07-18 01:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15462/)

[2021-07-18 01:27] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15603/)

[2021-07-18 01:27] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15603/)

[2021-07-18 01:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15605/)

[2021-07-18 01:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15605/)

[2021-07-18 01:52] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15461/)

[2021-07-18 02:09] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15604/)

[2021-07-18 02:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15463/)

[2021-07-18 02:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15463/)

[2021-07-18 02:43] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15606/)

[2021-07-18 02:43] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15606/)

[2021-07-18 02:53] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15462/)

[2021-07-18 03:10] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15605/)

[2021-07-18 03:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15464/)

[2021-07-18 03:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15464/)

[2021-07-18 03:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15607/)

[2021-07-18 03:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15607/)

[2021-07-18 03:51] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15463/)

[2021-07-18 04:13] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15606/)

[2021-07-18 04:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15465/)

[2021-07-18 04:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15465/)

[2021-07-18 04:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15608/)

[2021-07-18 04:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15608/)

[2021-07-18 04:54] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15464/)

[2021-07-18 05:10] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15607/)

[2021-07-18 05:31] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15466/)

[2021-07-18 05:31] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15466/)

[2021-07-18 05:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15609/)

[2021-07-18 05:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15609/)

[2021-07-18 05:52] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15465/)

[2021-07-18 05:53] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15465/)

[2021-07-18 05:53] kibanamachine opened #106052 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/time_to_visualize_security·ts - dashboard feature controls dashboard time to visualize security lens by value works without library save permissions can add a lens panel by value"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15465/)

[2021-07-18 06:11] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15608/)

[2021-07-18 06:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15467/)

[2021-07-18 06:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15467/)

[2021-07-18 06:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15610/)

[2021-07-18 06:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15610/)

[2021-07-18 06:58] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15466/)

[2021-07-18 07:09] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15609/)

[2021-07-18 07:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15468/)

[2021-07-18 07:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15468/)

[2021-07-18 07:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15611/)

[2021-07-18 07:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15611/)

[2021-07-18 07:52] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15467/)

[2021-07-18 08:10] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15610/)

[2021-07-18 08:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15469/)

[2021-07-18 08:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15469/)

[2021-07-18 08:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15612/)

[2021-07-18 08:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15612/)

[2021-07-18 08:51] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15468/)

[2021-07-18 09:09] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15611/)

[2021-07-18 09:29] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15470/)

[2021-07-18 09:29] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15470/)

[2021-07-18 09:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15613/)

[2021-07-18 09:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15613/)

[2021-07-18 09:52] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15469/)

[2021-07-18 10:09] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15612/)

[2021-07-18 10:29] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15471/)

[2021-07-18 10:29] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15471/)

[2021-07-18 10:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15614/)

[2021-07-18 10:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15614/)

[2021-07-18 10:53] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15470/)

[2021-07-18 11:10] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15613/)

[2021-07-18 11:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15472/)

[2021-07-18 11:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15472/)

[2021-07-18 11:43] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15615/)

[2021-07-18 11:43] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15615/)

[2021-07-18 11:53] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15471/)

[2021-07-18 12:09] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15614/)

[2021-07-18 12:28] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15473/)

[2021-07-18 12:28] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15473/)

[2021-07-18 12:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15616/)

[2021-07-18 12:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15616/)

[2021-07-18 12:52] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15472/)

[2021-07-18 13:11] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15615/)

[2021-07-18 13:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15474/)

[2021-07-18 13:27] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15474/)

[2021-07-18 13:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15617/)

[2021-07-18 13:41] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15617/)

[2021-07-18 13:52] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/112/)

[2021-07-18 13:52] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/112/)

[2021-07-18 13:56] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15473/)

[2021-07-18 14:11] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15616/)

[2021-07-18 14:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15475/)

[2021-07-18 14:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15475/)

[2021-07-18 14:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15618/)

[2021-07-18 14:42] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15618/)

[2021-07-18 14:52] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15474/)

[2021-07-18 14:54] brianseeders commented on #106051
Skipped

master: 2eed53ffd2f7b7896e6799ab6ae3dfc0e278e9ac
7.x: a00a4e0861c2a1d1714fe6791ce5e5592802b9b6

[2021-07-18 14:55] brianseeders commented on #97701
Skipped

master: e9988b1cc2c8f322f63f441891c9032c9b9f25ce
7.x: 5ed51b4e7c2f49f16d462419805993861212e836

[2021-07-18 14:56] elasticmachine commented on #106051
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-18 15:10] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15617/)

[2021-07-18 15:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15476/)

[2021-07-18 15:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15476/)

[2021-07-18 15:53] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15475/)

[2021-07-18 16:11] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15618/)

[2021-07-18 16:56] kibanamachine commented on #97701
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15476/)

[2021-07-18 18:21] kibanamachine opened #106053 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/custom_urls·ts - machine learning anomaly detection custom urls adds a custom URL to Dashboard in the edit job flyout"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15620/)

[2021-07-18 22:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/341/)

[2021-07-18 22:26] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/341/)

[2021-07-18 22:38] brianseeders commented on #106051
Skipped

7.13: 48dbc0f38970901ef0de65ce861e57be04258815

[2021-07-19 06:28] stratoula commented on #106033
@lukasolson can you give me more details here? I cant replicate it

[2021-07-19 06:35] stratoula commented on #105920
@joshastur thanx for submitting this issue. I will need more info to replicate it though.
I have a 7.12.1 and I see that it scales up

![image](https://user-images.githubusercontent.com/17003240/126113606-ffad3a4c-3748-481c-a69b-f6ae6712dabd.png)

[2021-07-19 06:36] elasticmachine commented on #105920
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-19 06:37] sabarasaba opened #106056 "[Ingest Pipelines] Use docs link service instead of hardcoding doc paths"
We should move the doc paths from all the processors use the docs link service, since the the docs build will regularly check this for broken links.

See: https://github.com/elastic/kibana/blob/master/src/core/public/doc_links/doc_links_service.ts

[2021-07-19 06:37] elasticmachine commented on #106056
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-19 06:45] elasticmachine commented on #106053
Pinging @elastic/ml-ui (:ml)

[2021-07-19 07:12] #105570 closed

[2021-07-19 07:22] elasticmachine commented on #106051
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-19 07:23] MadameSheema commented on #106051
@kevinlog looks like the above tests have been skipped, please take a looka at them, thanks :)

[2021-07-19 07:27] deepikakeshav-qasource opened #106059 "[Security Solution] Fields are displaying double time with OR condition when add the endpoint exception with signed mimikatz alert."
**Describe the bug**
Fields are displaying double time with OR condition when add the endpoint exception with signed mimikatz alert.

**Build Details:**
[code]
**Browser Details:**
N/A

**Preconditions**
1.Kibana users should be logged in.
2. endpoint should be installed.

**Steps to Reproduce**
1. Generate the signed mimikatz alert.
2. Navigate to Alerts tab of security.
3. Click on Add endpoint

[2021-07-19 07:27] elasticmachine commented on #106059
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-19 07:27] deepikakeshav-qasource commented on #106059
@manishgupta-qasource Please review!!

[2021-07-19 07:27] amolnater-qasource opened #106060 "[Question]: Telemetry count for agents should exclude Fleet Servers or not?"
**Description:**
We have a total of 5 elastic agents installed and 1 Hosted Fleet server.
Could you please confirm if under telemetry, count for Agents should be 5 or 6?
As we have separate telemetry count for Fleet Server as per https://github.com/elastic/kibana/pull/101400

**Kibana Version:** 7.14.0 BC-3 Kibana cloud environment.

**Screenshot:**
![TeleQuery](https://user-images.githubuserconte

[2021-07-19 07:27] elasticmachine commented on #106060
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 07:28] amolnater-qasource commented on #106060
@manishgupta-qasource Please review.

[2021-07-19 07:30] MadameSheema commented on #106059
@deepikakeshav-qasource can you please share the JSON view as well, thanks

[2021-07-19 07:35] deepikakeshav-qasource commented on #106059
Hi @MadameSheema ,

Please find the below file of JSON view:

[Signed_mimikatz_alert_json.txt](https://github.com/elastic/kibana/files/6838801/Signed_mimikatz_alert_json.txt)

Please let us know if anything else is required from our end.

Thanks!!

[2021-07-19 07:57] elasticmachine commented on #106059
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-19 07:58] MadameSheema commented on #106059
@XavierM can you please take a look to the following?

[2021-07-19 08:21] sebelga commented on #105723
Great catch, indeed the `geo_point` type is missing in the UI and we should add it. 👍  I do wonder how we missed it in our reviews.

[2021-07-19 08:24] manishgupta-qasource commented on #106060
Reviewed & Assigned to @nchaulet

CC: @EricDavisX

[2021-07-19 08:27] sebelga opened #106062 "[Runtime field editor] Allow to set the "format" for date type"
As per [our docs](https://www.elastic.co/guide/en/elasticsearch/reference/7.14/runtime-mapping-fields.html): "_Runtime fields with a type of date can accept the format parameter exactly as the date field type._".

We need update the editor to allow providing the date format whenever the user define a `date` runtime type.

[2021-07-19 08:27] elasticmachine commented on #106062
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-19 08:27] elasticmachine commented on #106062
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-19 08:31] #99460 closed

[2021-07-19 08:31] #103252 closed

[2021-07-19 08:31] #105316 closed

[2021-07-19 08:44] pheyos commented on #106053
In the test execution log I can see this browser console error after trying to create a dashboard link:
[code]
But I couldn't reproduce that error so far. Will keep an eye on it and see if it happens again.

[2021-07-19 08:53] elasticmachine commented on #97701
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-19 08:55] amolnater-qasource opened #106065 "[Telemetry]: Unable to set agents enabled: False under Agents telemetry."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Agent must be installed using Default policy having System.

**Steps to reproduce:**
1. Login to Kibana environment.
2. In Edit deployment>kibana.yml ` xpack.ingestManager.fleet.enabled: fa

[2021-07-19 08:55] elasticmachine commented on #106065
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 08:55] amolnater-qasource commented on #106065
@manishgupta-qasource Please review.

[2021-07-19 09:05] mgiota opened #106067 "Submit TSVB Alert RFC"

[2021-07-19 09:12] sorantis commented on #102067
thanks for providing the comparison. Can we also add information about the underlying machine these tests have been measured on to have a realistic idea about the performance in production environments.

I will reopen https://github.com/elastic/kibana/issues/95414 since 13-19% increase could trim the load time by 3-4 seconds for large environments.

[2021-07-19 09:30] jsanz commented on #105930
Just confirmed the `Custom Analyzer` option in the drop-down menu creates the convenient drop-down menu with my analyzer created in the index setting.

Maybe we could have some indicator in the `Use custom analyzer`  option? It's a bit confusing.

![image](https://user-images.githubusercontent.com/188264/126137753-69ce50bf-73f5-4e7b-a16f-caa49ad5ad5c.png)

Leaving this small suggestion totally up

[2021-07-19 09:34] shahzad31 opened #106068 "[APM] Add category/language filter on services list page"
if user has too many services, APM services list becomes quiet extensive to look at and also to load from performance perspective, Since it loads too much data in single request.

Adding a simple Select/EuiSelectable base category/language on filter on top perhaps besides environment filter makes sense fron both perspective, it will help user narrow down the view they want to see.

Loading time wi

[2021-07-19 09:34] elasticmachine commented on #106068
Pinging @elastic/apm-ui (Team:apm)

[2021-07-19 09:37] vipulsrivastava-qasource opened #106069 "[Enhancement] Policy name should displayed instead of Policy Id under error notification message while creating enrollment token of same name for better visibility for user."
**Kibana version:** 7.14 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Default or newly created policy should exist.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana.
2. Navigate to Fleet->Enrollment tokens tab.
3. Click on 'Create enrollment token' button.
4. Provi

[2021-07-19 09:37] elasticmachine commented on #106069
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 09:38] weltenwort commented on #105227
I'd recommend to take a look at the [`<FormattedRelative />`](https://github.com/elastic/kibana/blob/4a541883557bcee83baf09b2c0ddab702f780e45/packages/kbn-i18n/README.md#formattedrelative) component exported by `@kbn/i18n`. It has defaults that might be appropriate here.

[2021-07-19 09:40] dikshachauhan-qasource opened #106070 "[Fleet] Header section is not completely viewable due to long policy name."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Policies tab.
	- Attempt to create a big policy name having approx 98 or above characters.
	- Navigate to

[2021-07-19 09:40] elasticmachine commented on #106070
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 09:41] dikshachauhan-qasource commented on #106070
@manishgupta-qasource Please review

[2021-07-19 09:44] vipulsrivastava-qasource commented on #106069
@manishgupta-qasource : Please review the Enhancement ticket.

[2021-07-19 09:52] dgieselaar commented on #106068
Can you elaborate?

[2021-07-19 10:09] shahzad31 commented on #106068
I guess what i meant("From my naive understanding") was the if you are just loading list of JavaScript services. It has to load less info for only those relevant services.

[2021-07-19 10:12] #102622 closed

[2021-07-19 10:20] dikshachauhan-qasource opened #106073 "[Fleet] Proper sorted results are not displayed when sorting is applied on Name field under policy tab."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Policies tab.
	- Create few policies with different names.
	- Now, click on 'Name' column-name for sorting

[2021-07-19 10:21] elasticmachine commented on #106073
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 10:21] dikshachauhan-qasource commented on #106073
@manishgupta-qasource Please review

[2021-07-19 10:27] manishgupta-qasource commented on #106065
Reviewed & assigned to @EricDavisX

[2021-07-19 10:28] manishgupta-qasource commented on #106070
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-19 10:28] Dosant opened #106074 "[Search Sessions] "Your search is still running" popup is too flaky"
**Kibana version:** master. 7.14
**Describe the bug:**

Sample flights data dashboard is not fully restorable. Even in ideal conditions, it seems to always have some searches that are not restored.

Also seem to happen in other cases even when searches are restored correctly: https://github.com/elastic/kibana/issues/106074#issuecomment-890164117 https://github.com/elastic/kibana/issues/106074#issu

[2021-07-19 10:28] elasticmachine commented on #106074
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-19 10:28] manishgupta-qasource commented on #106073
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-19 10:29] Dosant commented on #106074
@lizozom, I might be missing something, but I assumed that this shouldn't happen in such conditions (when all the searches had time to complete and should have been added to the session)?

[2021-07-19 10:29] manishgupta-qasource commented on #106069
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-19 10:30] vipulsrivastava-qasource opened #106075 "Actions dropdown gets stuck on UI under Policy page on clicking "Add agent" option."
**Kibana version:** 7.14 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Default or newly created policy having integration(let say : system and endpoint security) should exist.should exist.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana.
2. Navigate to Fleet-> Agen

[2021-07-19 10:30] elasticmachine commented on #106075
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 10:32] manishgupta-qasource commented on #106075
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-19 10:44] #104531 closed

[2021-07-19 10:49] #105401 closed

[2021-07-19 10:49] muskangulati-qasource commented on #104159
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-BC3 build and found that the issue is partially fixed. The text is not consistent through the Application.

Please find below the testing details.

**Build details**:
[code]

**Screenshot**:
- Endpoint tab:
![EventFilterHeader](https://user-images.githubusercontent.com/60252716/126147565-16192a63-87fc-4523-b3ec-431830bbacf7.JPG)

- Host Tab

[2021-07-19 11:01] muskangulati-qasource opened #106079 "[Security Solution] The text is not consistent for Trusted Applications & Events Tabs"
**Describe the feature**
The text is not consistent for Trusted Applications & Events Tabs

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Endpoints Tab
2. Go to Trusted Application and observe the text written is:
"Trusted applications are applied to hosts running the Endpoint Security integration on their

[2021-07-19 11:01] elasticmachine commented on #106079
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-19 11:01] elasticmachine commented on #106079
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-19 11:02] muskangulati-qasource commented on #106079
@manishgupta-qasource please review!

[2021-07-19 11:04] manishgupta-qasource commented on #106079
Reviewed & assigned to @kevinlog

[2021-07-19 11:11] #105617 closed

[2021-07-19 11:49] Dosant opened #106085 "Lens embeddable doesn't set proper attributes when no results found"
**Kibana version:** master, 7.x, maybe earlier

**Describe the bug:**

Dashboard uses a set of attributes on embeddable panels to let reporting and functional tests know when panels finished loading or errored out. look for `data-render-complete`, `data-shared-item` etc.

Looks like lens embeddable has a bug, that it doesn't set a proper set of attributes in "no results" state:

[code]

When loade

[2021-07-19 11:49] elasticmachine commented on #106085
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-19 11:53] EricDavisX commented on #105715
@jen-huang I think this may be a bit more severe than at first glance, can you review and chime in and assign out if you agree?

[2021-07-19 11:54] EricDavisX commented on #105403
HI - @dikshachauhan-qasource if you want to put in an enh to improve the wording that would be helpful.  I think it is ok for now (not urgent) but we can always improve.  Thanks!

[2021-07-19 12:00] Dosant commented on #97701
A recent change that might have indirectly caused these failures: https://github.com/elastic/kibana/pull/104780

Looks like test failures aren't related to the search sessions, but all the tests just fail to load a flights sample dashboard. They report: "15 of 17 panels loaded".

These two panels in "no results state" are causing the problem, as they don't set a proper of `data-` attributes to let

[2021-07-19 12:10] kevinlog commented on #106051
@joeypoon Maybe this has to do with the recent metadata refactors?  Could you take a closer look?

fyi @pzl

[2021-07-19 12:14] dasansol92 commented on #104159
Hi @muskangulati-qasource .
As the context is different, yes, this is expected.
In `hosts` tab we are adding the `Endpoint` word to let user knows this is going through the Endpoint.
In `Endpoint` tab we removed that word because it's redundant.
cc: @kevinlog

[2021-07-19 12:26] ppisljar commented on #100943
listing few proposed solutions:
- have an embeddable register the saved object internally: this would get us a few things 1) no more inconsistencies between saved objects for different embeddables 2) no need to register saved object migrations (that would be done internally)
- keep only server side registry, have browser load the registry thru an endpoint. this is what canvas was doing in the earl

[2021-07-19 12:30] kevinlog commented on #104159
@dasansol92 I agree with this.  It's similar to Exceptions in that respect.

@caitlinbetz should get the final say though.  What are your thoughts?

[2021-07-19 12:38] mostlyjason opened #106086 "[Fleet] Add output performance tuning settings to agent policy"
Let's add output performance tuning settings to the agent policy settings page. This will offer Fleet users more granular control at the agent policy level. Currently, they can only set the settings globally within Fleet. This is particularly needed for APM https://github.com/elastic/beats/issues/26638. The settings should be visible both on the create agent policy flyout and in the edit policy se

[2021-07-19 12:39] elasticmachine commented on #106086
Pinging @elastic/fleet (Team:Fleet)

[2021-07-19 12:39] mostlyjason commented on #106086
@urso I have some questions for the agent team:
1. Should setting `worker` > 1 set `loadbalance: true`
2. Why is worker singular? Can we make it plural in the UI?

[2021-07-19 12:51] EricDavisX commented on #105927
a change in value would be severe, and this isn't just a 'flicker' if it remains set as false (when it was true prior).  @jen-huang can you review and reevaluate please?

[2021-07-19 12:57] hop-dev commented on #105927
I have been able to recreate the in the video above, it is due to us defaulting to "false" while the agent policy is being loaded.

My proposed fix will default to empty and then populate with true or false once loaded (the same way we do for the integrations component a few lines up)

@EricDavisX are you saying you have observed the values remaining incorrect after the initial flicker?

[2021-07-19 13:08] nchaulet commented on #106060
@manishgupta-qasource  I think the count agent should include all agents those with Fleet Server too, (it's how it was implemented)

[2021-07-19 13:08] mostlyjason commented on #106048
@jen-huang thanks for writing this up! Minor thing: should we call it `current settings` instead of `previous configuration`? Calling it "current" indicates that the changes are not applied until they save the new one. Also, calling them "settings" is consistent with the section header text.

[2021-07-19 13:15] ghudgins commented on #104940
+1

[2021-07-19 13:22] jasonrhodes opened #106093 "[APM] Create a Logs tab in the Service view to show Logs per service"
APM users would like to be able to see logs for a given service as a view within their Service page.

AC:
* Service view in APM has a new Logs tab next to existing tabs (Overview, Transactions, Errors, Service Map, etc)
* Logs tab uses the Log Stream component to show Logs for the given service, filtered on ECS field "service.name" for now
* Columns to show in this Log Stream component are TBD

Mo

[2021-07-19 13:22] elasticmachine commented on #106093
Pinging @elastic/apm-ui (Team:apm)

[2021-07-19 13:22] elasticmachine commented on #106093
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-19 13:23] kevinlog commented on #105936
@muskangulati-qasource Users can release from the Endpoint list regardless of license in the event users have Hosts isolated, and their license downgrades.  We don't want to lock them out in that case.

I think it's OK that it's hidden from the Alerts view.  Admins would still be able to release their hosts from the Endpoint list.

We can close this one IMO.  @caitlinbetz let me know if you think

[2021-07-19 13:35] EricDavisX commented on #105927
Hi @hop-dev thanks for the quick reply.  I am not indicating that, thanks for checking.  I wasn't sure and it wasn't clear from the notes Amol made so I wanted it confirmed.  Your fix sounds good to me.

[2021-07-19 13:40] kbalys opened #106097 "APM Comparison date range displays incorrect values when Absolute Date Filter is applied"
**Kibana version:** 7.13.3

**Elasticsearch version:** 7.13.3

**Server OS version:** Hosted in Elastic Cloud

**Browser version:** Version 91.0.4472.124 (Official Build) (64-bit). English language, Polish Time Zone (CET)

**Browser OS version:** Microsoft Windows [Version 10.0.19042.1083]

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud deployment

**Descri

[2021-07-19 13:46] MadameSheema opened #106099 "[Security Solution] Threat Intelligence Overview card not supported on CCS setup"
**Kibana version:**
- 7.14BC3

**Describe the bug:**
- `No threat intel data available to display` message displayed on overview page on a CCS with threat intel alerts generated by filebeat with the module enabled

** Initial status:**
- CCS setup with 1 source and 1 remote
- Ingest data on the remote instance
- Ingest data on the remote instance with filebeat with the threatintel module enabled

[2021-07-19 13:46] elasticmachine commented on #106099
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-19 13:47] MadameSheema commented on #106099
@ecezalp @rylnd can you please take a look at this? Thanks

[2021-07-19 13:48] mdefazio commented on #105229
Hi, sorry for delay.  The styling should mimic what is in the [EUI docs](https://elastic.github.io/eui/#/navigation/pagination)

And the 'Updated X minutes ago' also is moved out of the table footer and placed between the search bar and table.

Here's the mockup:
![image](https://user-images.githubusercontent.com/3756330/126169909-87bd1e33-a750-4a0b-87b5-add11a91d16e.png)

[2021-07-19 13:52] arisonl commented on #105512
My view is that because read on connectors allows users to create and attach actions, they should be able to test the connector. However, I think that the semantics are not obvious in the case of connectors and actions (the fact that read on connectors = write and execute actions, is not immediately obvious) and this has come up a couple of times in the past. This is perhaps why this is perceived

[2021-07-19 13:55] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/113/)

[2021-07-19 13:55] kibanamachine commented on #106051
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/113/)

[2021-07-19 14:15] snide commented on #105754
I'm pretty sure this is closalbe. I checked this on 7.14 and it works as expected. The gif above shows some older views which makes me think this was just an older build.

[2021-07-19 14:19] MadameSheema commented on #63207
Closing since the both sliders have the same behaviour now.

[2021-07-19 14:19] #63207 closed

[2021-07-19 14:29] justinkambic commented on #102069
The commit for #105918 has been backported to 7.14, so this should be good now.

[2021-07-19 14:40] EricDavisX commented on #99071
Hi - I wanted to suggest that we confirm which user role is impacted by the lack of this support in Fleet UI, and how they are impacted (what can't that particular 'administrator of Agents' do or decide as quickly because of it).  @kevinlog do you know or @bradenlpreston can comment?

Also, we could some small docs help in to suggest users check the Security App if they are ever in doubt of an Age

[2021-07-19 14:45] jen-huang commented on #106075
This should be fixed by #104749, the 7.14 backport for that one narrowly missed the window for BC3, so please revalidate with the next BC. Closing in the meantime.

[2021-07-19 14:45] #106075 closed

[2021-07-19 14:47] #105835 closed

[2021-07-19 14:48] jen-huang commented on #105715
@EricDavisX I don't think it is a high impact one.

@amolnater-qasource I believe we check for the existence of a Fleet Server agent every 30 seconds or so, maybe you just missed the refresh window? Can you stay on the Agents tab a bit long and see what the behavior is?

[2021-07-19 14:48] weltenwort commented on #105229
Thanks for the mock-up :+1: Looks like the pagination would look like that automatically once the implementation is refactored to use `<EuiDataGrid>`. The "updated" label could be difficult to implement using the `<EuiDataGrid>`, though. Do we have a fallback option?

[2021-07-19 14:50] snide commented on #105754
Closing. But yell if I missed something in our tests.

[2021-07-19 14:50] #105754 closed

[2021-07-19 14:53] jen-huang commented on #106060
Closing as this is by design.

[2021-07-19 14:53] mistic commented on #106051
7.14: 04bd12b

[2021-07-19 14:54] ecezalp commented on #106099
so it looks like a custom index name is assigned to what would have otherwise been the `filebeat-*` index (in the env above, it's `remote:filebeat-*` ) which is why we are unable to find `event.type: "indicator"`s while querying the `filebeat-*`, which results in the `No Threat Intel data available to display` warning above. For the feature to work as intended, the modified index name would have t

[2021-07-19 14:55] jen-huang commented on #106065
@amolnater-qasource This is not the right setting to use. Try `xpack.fleet.agents.enabled: false`.

[2021-07-19 14:55] #106065 closed

[2021-07-19 14:55] nchaulet commented on #105715
I do not think this is a bug In 7.14 we made a change that the enrollment flyout stay here until you click on the continue button at the bottom of the instructions.

[2021-07-19 14:55] #104324 closed

[2021-07-19 14:58] dgieselaar commented on #105923
@simitt we use `jvm.gc.count` and `jvm.gc.time` fields, so without the `runtime.` prefix. Can you verify whether those are collected as well?

[2021-07-19 15:11] walterra commented on #104890
Fixed by #104644

[2021-07-19 15:11] #104890 closed

[2021-07-19 15:13] ThomThomson commented on #106028
Researching more into this, it looks like this problem is specific to Lens, happens in 7.12, and 7.13 as well, and can only be reproduced when the dashboard is loaded _directly_ into edit mode by:
- clicking on the edit icon from the listing page **in any version**
- by entering edit mode, returning to the listing page, then loading the dashboard again **in 7.14 & master**.

Here is a dashboard lo

[2021-07-19 15:13] elasticmachine commented on #106028
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-19 15:13] walterra commented on #105047
Fixed by #105200.

[2021-07-19 15:13] #105047 closed

[2021-07-19 15:15] walterra opened #106113 "[ML] Increase Test Coverage 7.15"
Follow up to #97982.

Meta issue to summarize improvements to test coverage for `7.15`.

## Jest unit tests

APM Correlations

- [x] Test empty chart state (WR)
       #109813
- [x] Time unit formatting (WR)
       #109214
- [x] `asyncSearchServiceLogProvider()`, `asyncSearchServiceStateProvider()`, `getPrioritizedFieldValuePairs()`, `getRequestBase()`, `fetchTransactionDurationHistograms()`, `has

[2021-07-19 15:15] elasticmachine commented on #106113
Pinging @elastic/ml-ui (:ml)

[2021-07-19 15:16] #97982 closed

[2021-07-19 15:16] jsanz commented on #105806
For reference, Snapshot Policies has a similar UI pattern and provides a `Cancel` button on the bottom right, we could do the same here.

![image](https://user-images.githubusercontent.com/188264/126184116-d4cefcc5-96f1-49d3-ba47-f8b54cba9d1c.png)

[2021-07-19 15:20] MadameSheema commented on #104049
@karanbirsingh-qasource can you please check if this is still happening on BC3?

[2021-07-19 15:25] ThomThomson commented on #105963
Looks like this has existed in 7.13 and 7.12 as well, but it manifested less severely, the filter bar would be invisible, but the dashboard would load.

A fix is to introduce error handling in the index-pattern observable.

[2021-07-19 15:26] #43652 closed

[2021-07-19 15:36] #105927 closed

[2021-07-19 15:37] ryankeairns commented on #105750
The EUI team has responded here https://github.com/elastic/eui/issues/4964#issuecomment-881734416

I'm not certain this is a thing to address since moving the hover/focus makes it go away.

[2021-07-19 15:43] MadameSheema commented on #106059
@kevinlog can you please take a look at this? Taking a look into the JSON Deepika shared (here you can find a snippet) the data we are displaying is correct since comes duplicated. It is normal for this data to be duplicated? Thanks

[code]

[2021-07-19 15:44] elasticmachine commented on #106059
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-19 15:46] MadameSheema commented on #105566
@muskangulati-qasource did you have the chance to take a look to @jonathan-buttner comment?

[2021-07-19 15:51] MadameSheema commented on #105545
@deepikakeshav-qasource can you please validate the fix on the next BC? Thanks :)

[2021-07-19 15:52] MadameSheema commented on #105034
@deepikakeshav-qasource can you please validate the fix on the next BC? thanks

[2021-07-19 15:53] MadameSheema commented on #103441
@samratbhadra-qasource can you please validate the fix of this issue on the current BC? Thanks :)

[2021-07-19 15:54] MadameSheema commented on #103071
@muskangulati-qasource can you please validate the fix of this issue on the current BC? Thanks

[2021-07-19 15:54] kibanamachine opened #106121 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_metric_chart·ts - visualize app visualize ciGroup10 metric chart should show Percentiles"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15499/)

[2021-07-19 15:54] kibanamachine commented on #106121
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15499/)

[2021-07-19 15:55] MadameSheema commented on #102904
@samratbhadra-qasource can you please check if this is still happening on the current BC? Thanks :)

[2021-07-19 15:58] MadameSheema commented on #90761
@paulewing can you please help to prioritize this? Thanks :)

[2021-07-19 16:02] kevinlog commented on #106059
@ferullo it looks like the Alert document that we receive reports these fields twice as pointed out by @MadameSheema above.  https://github.com/elastic/kibana/issues/106059#issuecomment-882653866

Is this expected?

[2021-07-19 16:16] #105648 closed

[2021-07-19 16:21] ferullo commented on #106059
It looks like this is an artifact of `mimikatz` being signed twice (SHA1 and SHA256).

@nfritts @bjmcnic @gabriellandau @rw-access @joe-desimone I think the right thing for Endpoint to do is only report a single signature if all the options within the `code_signature` block are identical but to report duplicates if they aren't the exact same (e.g. in this case, two signatures would still be report

[2021-07-19 16:24] mdefazio commented on #58366
Does this issue get resolved when https://github.com/elastic/kibana/pull/104190 merges?

[2021-07-19 16:31] bjmcnic commented on #106059
Feels like the best solution would be to add fields like the digest algorithm or the timestamp such that they're not actually dupes.  But in the immediate, with the data we have, I agree sending two with identical data is a confusing user experience.

[2021-07-19 16:33] mdefazio commented on #105229
No, but we can definitely think of one.  We've shown this elsewhere, so I'll poke around and see if we can follow another pattern here.

[2021-07-19 16:39] smith commented on #106068
There are wider internal efforts related to filtering in Kibana that are happening that should address this issue. Closing for now.

[2021-07-19 16:39] #106068 closed

[2021-07-19 16:40] jgowdyelastic commented on #102661
Waiting on https://github.com/elastic/elasticsearch-specification/issues/494 so we can use the new reset endpoint in kibana.

[2021-07-19 16:41] elasticmachine commented on #106121
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-19 16:48] rylnd commented on #106099
Note: this same issue will also affect the event enrichment query added in #103383, in that it will not support remote clusters.

[2021-07-19 16:49] #105951 closed

[2021-07-19 16:54] #103922 closed

[2021-07-19 17:03] tsullivan commented on #105878
Closing for https://github.com/elastic/kibana/issues/105835

[2021-07-19 17:03] #105878 closed

[2021-07-19 17:04] tsullivan commented on #105907
Closing for https://github.com/elastic/kibana/issues/105835

[2021-07-19 17:04] #105907 closed

[2021-07-19 17:07] tsullivan commented on #105340
Closing for https://github.com/elastic/kibana/issues/105835

[2021-07-19 17:07] #105340 closed

[2021-07-19 17:08] neptunian commented on #104440
This is tricky to produce in Cloud for whatever reason but I was able to get cluster alerts working with BC3 of 7.14 pointed to observability release cluster.

[2021-07-19 17:08] #104440 closed

[2021-07-19 17:09] bradenlpreston commented on #99071
@caitlinbetz - can comment.

[2021-07-19 17:29] joshdover commented on #105575
Best option I can think of (without supporting full type renaming) would be to add a new field called `displayName` to the `SavedObjectsTypeManagementDefinition` options, however I do wonder if it's going to be confusing for more 'advanced' users to see a different name here than is used on the exported file or with the API.

Maybe we could display the "under-the-hood" name in parenthesis if they'

[2021-07-19 17:31] jen-huang commented on #105715
@nchaulet Oh yeah, I forgot about that, thanks! Closing as this is as designed.

[2021-07-19 17:31] #105715 closed

[2021-07-19 17:38] EricDavisX commented on #92693
hi - is this going in for 7.14?  If not, we should update the labels, please.  Thanks!

[2021-07-19 17:39] EricDavisX commented on #86095
hi - is this going in for 7.14? If not, we should update the labels, please. Thanks!

[2021-07-19 17:43] tsullivan commented on #98426
testing in flaky test runner: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-flaky-test-runner/268/

[2021-07-19 17:56] #104671 closed

[2021-07-19 17:59] chrisronline opened #106139 "[Task Manager] Ephemeral tasks follow up"
In https://github.com/elastic/kibana/pull/97311, we introduced (are introducing) an alternative method to executing actions that result from rule detection. This functionality will be opt-in by default and require users to understand this feature and explicitly enable it. We don't expect many users to use it right away and need to perform some follow up tasks before considering this feature opt-ou

[2021-07-19 17:59] elasticmachine commented on #106139
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-19 18:02] rylnd commented on #101489
Converting this to a feature request, not currently slated for a particular release.

[2021-07-19 18:11] pzl commented on #105035
Confirmed that changing the transform definition to use `elastic.agent.id` as the pivot resolves this.

I made sure the data stream had the specific conditions in it (records that are effectively the same endpoint doc, but with two different `agent.id`, and the same `elastic.agent.id`.)

Docs:

[code]

Without the package change, this shows up as two endpoints in the Endpoint table.

*Just* changi

[2021-07-19 18:11] pmuellr commented on #87048
How "static" would this be?  Taking the index threshold rule type as an example, I'd think that there are cases where you'd like see the last value of the calculated value, in the recovered message.  Or maybe it would make more sense to see the first one, or the maximal one, or ...  In any case, this isn't really "static" data in my thinking, but more "persistent" data.

And presumably this data w

[2021-07-19 18:15] wylieconlon commented on #105920
@joshastur You wrote in your description that you increased the value of `histogram:maxBuckets`, and what your screenshots show is the expected result of that change. If you want the histogram interval to scale when the time range scales, you have two choices:

* You can change `histogram:barTarget`, which is used by the `auto` interval.
* You can reduce the maximum value of `histogram:maxBuckets`

[2021-07-19 18:15] #105920 closed

[2021-07-19 18:16] YulNaumenko commented on #99444
The most effort currently is on the functional and performance testing. It looks like  loe:week

[2021-07-19 18:21] stacey-gammon opened #106140 "[UX issue] "Define script" label is clickable in"
**Kibana version:** 7.13

**Browser version:** Chrome

**Describe the bug:**

"Define script" is clickable, but clicking it does nothing. Especially when it's red, I was hoping clicking it would take me to some documentation.

<img width="941" alt="Screen Shot 2021-07-19 at 2 19 38 PM" src="https://user-images.githubusercontent.com/16563603/126208130-2eb8bcf8-73a3-42ac-9448-dd862eade7d7.png">

[2021-07-19 18:21] elasticmachine commented on #106140
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-19 18:35] dominiqueclarke commented on #101122
Tested with @elastic/synthetics versions `1.0.0-beta.9` for screenshot blocks for both inline and source folder based monitors.

Tested with @elastic/synthetics version `1.0.0-beta.3` for screenshot blobs for inline monitors only.

Tested based on criteria listed in the linked PR.

[2021-07-19 18:36] rashmivkulkarni opened #106141 "Vega maps visualization is blank in PDF and PNG reports."
**Kibana version:** 7.13.4, 7.14 BC3

 Description:
Tried printing PDF and PNG reports for sample Data Flights Dashboard- but when the reports get printed, the Vega visualization is blank in the printed report. ( look at  Flights Airport Connection (Hover Over Airport ) )
![Flights  Global Flight Dashboard](https://user-images.githubusercontent.com/11466284/126209007-dc0c19a5-2b4b-4e9e-a0ee-477b3f

[2021-07-19 18:36] elasticmachine commented on #106141
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-19 18:38] gabriellandau commented on #106059
+1 I agree with Ben.

Is it possible to disable this flattening syntax for [nested](https://github.com/elastic/endpoint-package/blob/a2406af86de56b5ba5227c8456f91d16dec348ec/custom_schemas/custom_file.yml#L127-L130) fields?  It makes visually matching things up harder.

![image](https://user-images.githubusercontent.com/42078554/126210195-f42240a2-65c3-4772-9010-d022cc3dde0a.png)

[2021-07-19 18:40] LeeDr opened #106142 "Cannot create property 'supported' on string 'off' at migrateEndpointPackagePolicyToV7140"
**Kibana version:** 7.14.0-BC3

**Elasticsearch version:** 7.14.0-BC3

**Server OS version:** Elastic Cloud

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** Cloud upgrade case from 7.13.1 to 7.14.0

**Describe the bug:** Saved object migrations failed.

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Scree

[2021-07-19 18:40] TinaHeiligers commented on #102870
From offline communication:

Tags themselves do not use references, however, saved object tags are referenced from other saved objects (dashboard, vis, map and lens).

In order to migrate saved objects that reference other saved objects, the objects being referenced must also be migrated to `multiple-isolated`.

In addition to the type change, we also need to refactor all `soClient.get` calls to u

[2021-07-19 18:40] elasticmachine commented on #106142
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-19 18:46] FrankHassanabad commented on #83910
The `list` and `security_solution` plugin will be migrated for 7.15 once this is approved and merged from our side - https://github.com/elastic/kibana/pull/106130

[2021-07-19 18:47] elasticmachine commented on #106142
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-19 18:49] rw-access commented on #106059
where do you see that @gabriellandau? The question mark also tips me off that it's not the mapping defined in endpoint-package, but is dynamic or in a different cluster that has them specified some other way

[2021-07-19 18:58] banderror commented on #99841
Hi @srikwit. First of all, thank you for your suggestions!

Hiding building block alerts on the Security Overview page is addressed in this bugfix: https://github.com/elastic/kibana/pull/105611

I'm not sure about adding the corresponding filter on the Security Overview page though. To my mind, users are able to navigate from Overview to Alerts and have all the slice-and-dice functionality in the

[2021-07-19 19:04] liza-mae commented on #105892
There are several monitoring issues related to the alert modal, I ran these locally and they passed, so this is cloud specific. Either it is a bug or the functionality on cloud is different and the tests need to be skipped or updated.

[2021-07-19 19:08] graphaelli opened #106146 "[APM] Rename Transaction Error Rate"
**Versions**
Kibana: <= 7.14

With 7.11 "transaction error rate" became "error rate", with a change of definition [from](https://www.elastic.co/guide/en/kibana/7.10/transactions.html):

[code]

[to](https://www.elastic.co/guide/en/kibana/7.13/transactions.html):

[code]

Without reading the docs it's confusing to understand what the error rate really represents due to the difference between first

[2021-07-19 19:08] elasticmachine commented on #106146
Pinging @elastic/apm-ui (Team:apm)

[2021-07-19 19:11] #104699 closed

[2021-07-19 19:14] gabriellandau commented on #106059
See the right side of the first screenshot here: https://github.com/elastic/kibana/issues/106059#issue-947353369

[2021-07-19 19:16] TinaHeiligers commented on #102870
@legrego @jportner In [#100489](https://github.com/elastic/kibana/issues/100489) there's only an explicit instruction to migrate client side code but we're assuming we also need to handle server-side calls to `soClient.get` since there is a an equivalent [server-side implementation](https://github.com/elastic/kibana/blob/master/src/core/server/saved_objects/service/saved_objects_client.ts#L493) of

[2021-07-19 19:32] nfritts commented on #106059
I don't really have a preference.

Having both there is accurate, but we don't provide enough information to understand why.  I think the number of times we'll run in to this will be small.  I think mimikatz is signed that way so that it can run on unpatched windows 7 machines that don't understand sha256 for a hash digest.

We should provide more info.

If we're not providing more info, then show

[2021-07-19 19:37] PhaedrusTheGreek opened #106151 "Template editor adds all default settings for mapping when editing."
**Kibana version:** 7.11.2

**Elasticsearch version:** 7.11.2

**Server OS version:** Elastic Cloud

**Browser version:** Chrome

**Browser OS version:** Mac OS

**Describe the bug:**

When editing an index template, I changed the name of one of the fields from `path` to `tags` and all default values were inserted:

[code]

This will be hazardous and unexpected, moving forward across major version

[2021-07-19 20:10] kaiyan-sheng commented on #87508
@jasonrhodes Sorry I just saw your question... We are reporting both old and new fields right now. The plan is to remove the old fields in 8.0.

[2021-07-19 20:20] tsullivan opened #106154 "[Reporting] Error content of failed jobs is not available"
**Kibana version:** 7.15/8.0

https://github.com/elastic/kibana/pull/105508 added a bug where the API response of the request to get the error message is not properly encoded in JSON. The error message is sent as plain text

See screenshot of how it was supposed to be sent, as of 7.13.3:
![Screenshot from 2021-07-19 12-37-20](https://user-images.githubusercontent.com/908371/126222009-ec4bf1dd-3007

[2021-07-19 20:20] elasticmachine commented on #106154
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-19 20:20] elasticmachine commented on #106154
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-19 20:26] wylieconlon commented on #97701
@Dosant Yes I think you're right that https://github.com/elastic/kibana/issues/106085 is the cause, but there's something else that's special about those two panels: they are both using the time shift feature. Could that be related, since the data for all the other panels is loaded?

[2021-07-19 20:30] caitlinbetz commented on #104159
@kevinlog ok with me!

[2021-07-19 20:51] wylieconlon commented on #106141
If I'm reading the code correctly, this _only_ affects Vega with map layers. It seems like the main reason is that `renderComplete` is called too early for the Vega map view, and specifically I think we need to change:

[code]

To actually return a promise that waits for the map layer to be rendered.

cc @elastic/kibana-gis

[2021-07-19 20:52] kevinlog commented on #106142
@LeeDr I tried reproducing this by creating a 7.13.1 cloud instance and upgrading to 7.14.0.  The upgrade was successful and the Endpoint integration Policies, which this SO migration was related to, all looked correct.

Here's how I tested.

1. Create a 7.13.1 cloud instance.
2. Add an Agent Policy and and Endpoint integration.
3. Look at the Agent Policy in the Fleet UI.
![image](https://user-im

[2021-07-19 20:54] #106014 closed

[2021-07-19 21:00] jportner commented on #102870
Sorry, that is worded incredibly poorly. If the client is calling the generic `soClient.get` API, you only need to change the client-side code to use the generic `soClient.resolve` API instead.
Oh the other hand, if the client is calling a custom route, you need to change client _and_ server-side code to use `soClient.resolve`.

The recommendations are in a Google Slide and also (a little buried i

[2021-07-19 21:02] jgr opened #106160 "Remember `auth_provider_hint` for the life of the user's session"
**Describe the feature:**

Kibana supports sending an `auth_provider_hint` query parameter that is used to prefer a certain authentication provider, rather than showing the full list of providers. If a user later becomes logged out (either by manually logging out or by having their login session expire) they will then be redirected to login without the benefit of the `auth_provider_hint`.

Persist

[2021-07-19 21:06] elasticmachine commented on #106160
Pinging @elastic/kibana-security (Team:Security)

[2021-07-19 21:08] jgr commented on #106160
/cc @ioanatia @jonasll

[2021-07-19 21:13] ferullo commented on #106059
@kevinlog @caitlinbetz how serious is this? I looked over Endpoint code to address this and it's "more non trivial" to fix than I'd initially thought. There is general sentiment within the Endpoint and Protections teams that the real bug here is that enough details aren't be returned for both mimikatz signatures to make it clear why two are being returned and the real bug is those details aren't i

[2021-07-19 21:16] bhavyarm opened #106165 "[Maps] Global state should be cleared when user clicks on create new map"
**Kibana version:** 7.14.0 BC3

**Elasticsearch version:** 7.14.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Looks like maps app is not clearing the global state if user navigates to create new from dashboard

**Steps to rep

[2021-07-19 21:16] elasticmachine commented on #106165
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-19 21:17] kevinlog commented on #106059
@ferullo this bug feels like something that has been around for a while and is dependent on the mimikatz test file.

I agree that we should address it, but I agree about the risk.  I don't think this will impact the user workflow too much.

I'm OK with addressing later.  @caitlinbetz @peluja1012 what are you thoughts?

[2021-07-19 21:20] cjcenizal opened #106168 "Index Management API integration test coverage"
This was generated as an output of https://github.com/elastic/kibana/pull/105863.

Note that some routes contain nuanced behavior, which I've described in the "Route notes" column. I assessed tests for error states as well. Generally, route error states aren't covered by our tests.

### Legend

✅  - Tests are comprehensive
🔧 - Some functionality isn't tested
🚫 - Test is missing

### Route coverage

[2021-07-19 21:20] elasticmachine commented on #106168
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-19 21:26] bhavyarm opened #106170 "[Maps] Pinned filters should be visible on new maps without user having to do any action on layers"
**Kibana version:** 7.14.0 BC3

**Elasticsearch version:** 7.14.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If user has pinned filters and navigates to maps app and clicks on create new map - they aren't visible and pinned

[2021-07-19 21:26] elasticmachine commented on #106170
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-19 21:27] ferullo commented on #106059
Endpoint sending multiple signatures is new in 7.14 which is why this is just surfacing for signatures. It seems like it would happen for any exception field that is a nested array though.

[2021-07-19 21:37] justinkambic commented on #105548
Looking good.
![image](https://user-images.githubusercontent.com/18429259/126230770-9a7fa8ec-6f70-4a01-b598-57f5777010a0.png)

[2021-07-19 21:40] jportner commented on #106160
So it sounds like this is concerning adding the `auth_provider_hint` to the login URL to bypass the login selector. This has worked for some time, but was a happy unintended side effect of the feature and it wasn't documented for this purpose until recently.

The feature was originally intended to facilitate embedding dashboards/etc. for SSO or anonymous auth providers.

Regardless where this was

[2021-07-19 21:46] justinkambic commented on #105529
Checked this on edge, looks good.

[2021-07-19 21:58] bhavyarm opened #106181 "[Maps] Enable filter by map extent filter behaviour in filter pane is confusing"
**Kibana version:** 7.14.0 BC3

**Elasticsearch version:** 7.14.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** The new awesome filter on maps dashboard panel is confusing when its up on filter pane.
2 things:

1. If user adds

[2021-07-19 21:58] elasticmachine commented on #106181
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-19 22:39] simianhacker commented on #94087
I started digging into this issue, it's not as simple as just "using the Saved Object `find` method" because we don't have any mappings defined for our attributes,  it's just storing the raw object. We will need to look into getting some valid mappings along with figuring out the migrations.

[2021-07-19 22:52] kibanamachine commented on #106121
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15506/)

[2021-07-19 22:54] aaronjcaldwell opened #106186 "Tilemaps test can't be run in isolation"
**Kibana version:**

7.14

**Describe the bug:**

When attempting to run a tilemap test in isolation, the test fails due to timeout indicating it can't find the appropriate css element `createVisualizationPromptButton`. This may actually be due to a missing index pattern.

**Steps to reproduce:**
1. Start the kibana functional tests server (with or without config, appears to make no difference): `

[2021-07-19 22:54] elasticmachine commented on #106186
Pinging @elastic/kibana-qa (Team:QA)

[2021-07-19 23:10] mistic commented on #106121
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 591c119
7.x/7.15: f4e3078

[2021-07-19 23:16] rashmivkulkarni opened #106187 "Uncaught TypeError: Cannot read property 'getURL' of undefined - seen while creating a new watch and also on the home page."
**Kibana version:** 7.14 BC3

Description:
 While I was on the home page I happened to catch this console error . Also happened to see the same error while I was creating a new watch.  Logs are clean and does not prevent me from doing what I wanted to do - like create a new watch or navigate to some other place from Home page. Logs look clean .
[code]
<img width="1639" alt="Screen Shot 2021-07-19

[2021-07-19 23:16] elasticmachine commented on #106187
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-20 00:53] kibanamachine commented on #106121
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15508/)

[2021-07-20 01:11] kibanamachine commented on #106121
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15652/)

[2021-07-20 04:42] vipulsrivastava-qasource commented on #106075
Thanks @jen-huang for the update.

We will re-validate this issue once we get the Next BC.

Thanks!!.

[2021-07-20 05:44] #105227 closed

[2021-07-20 05:55] muskangulati-qasource commented on #104159
Thank you for the update @dasansol92 & @kevinlog.

We are closing this ticket as the issue is now fixed.

Thanks!

[2021-07-20 05:55] #104159 closed

[2021-07-20 06:56] vipulsrivastava-qasource opened #106197 "[Fleet] Results are not being filtered out properly when using a random word on search bar of Agent Policies tab."
**Kibana version:** 7.14 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Default or newly created policy should exist.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana.
2. Navigate to Fleet-> Agent Policies tab.
3. Search for any random policy value(let say : xyz ) in

[2021-07-20 06:56] elasticmachine commented on #106197
Pinging @elastic/fleet (Team:Fleet)

[2021-07-20 06:57] vipulsrivastava-qasource commented on #106197
@manishgupta-qasource : Please review the Bug.

[2021-07-20 07:01] powderr commented on #106142
[credentials-8e18b5-2021-Jul-15--18_50_46.csv](https://github.com/elastic/kibana/files/6846124/credentials-8e18b5-2021-Jul-15--18_50_46.csv)

elastic user

[2021-07-20 07:02] manishgupta-qasource commented on #106197
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-20 07:13] Ranakel commented on #31804
same issue

[2021-07-20 07:41] mgiota commented on #104297
LGTM

[2021-07-20 07:41] #104297 closed

[2021-07-20 07:58] mgiota opened #106202 "[Logs UI] Log threshold rule type ratio/count dropdown stays open"
While testing the log threshold ratio/count rule type https://github.com/elastic/kibana/issues/104354 on cloud with 7.14,  `When the ratio or count` dropdown would stay open and not close when clicking away

https://user-images.githubusercontent.com/2852703/126283441-613eeb06-ea04-466a-a3b1-30ac1bb295c6.mov

[2021-07-20 08:00] mgiota commented on #104354
I opened a UI bug related to ratio/count dropdown staying open when creating a log threshold rule type https://github.com/elastic/kibana/issues/106202

[2021-07-20 08:00] elasticmachine commented on #106202
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 08:02] karanbirsingh-qasource opened #106203 "[Security Solution] Malware Alert notification not generating on Desktop Linux OS"
**Describe the bug**
Malware Alert notification not generating on Desktop Linux OS

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Endpoint security should be installed on Linux os.
- Make sure to use the desktop version of Linux and not server one.

**Steps to Reproduce**
1. log in to Kibana.
2. Enable the Endpoint security detection rule.
3. Gene

[2021-07-20 08:02] elasticmachine commented on #106203
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-20 08:02] elasticmachine commented on #106203
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-20 08:03] kibanamachine opened #106204 "Failing test: Jest Tests.x-pack/plugins/infra/public/containers/logs/log_summary - useLogSummary hook queries for new summary buckets when the start and end date changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15516/)

[2021-07-20 08:06] vipulsrivastava-qasource opened #106206 "Unclear message is displayed on "Error fetching agents" notification message while searching agents with incomplete Kibana Query Language (KQL)"
**Kibana version:** 7.14 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Agent should be exist.

**Build Details:**
[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet-> Agents tab.
3. Search agents with incomplete Kibana Query Language (KQL)( let say : local_metadata

[2021-07-20 08:06] elasticmachine commented on #106206
Pinging @elastic/fleet (Team:Fleet)

[2021-07-20 08:12] vipulsrivastava-qasource commented on #106206
@manishgupta-qasource : Please review the Bug.

[2021-07-20 08:20] manishgupta-qasource commented on #106203
Reviewed & assigned to @MadameSheema

[2021-07-20 08:28] mgiota opened #106208 "[Logs UI] Log threshold rule type chart preview expands/collapses when interacting with the dropdowns"
While testing the chart preview expand/collapse functionality in the log threshold rule type (#104354) on cloud with 7.14, the chart preview kept expanding/collapsing when making a selection in the `When field` dropdown and in the `Comparison value` dropdown.

https://user-images.githubusercontent.com/2852703/126287574-381af8db-eaf1-4a43-ad20-cfb6e81873c3.mov

**Acceptance criteria**
Chart preview

[2021-07-20 08:28] manishgupta-qasource commented on #106206
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-20 08:29] elasticmachine commented on #106208
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 08:33] #27743 closed

[2021-07-20 08:33] #39067 closed

[2021-07-20 08:33] #88368 closed

[2021-07-20 08:38] pheyos commented on #105087
The race condition has been fixed and tests have been re-enabled in #106007.

[2021-07-20 08:38] #105087 closed

[2021-07-20 08:38] karanbirsingh-qasource opened #106212 "[Security Solution]tick missing along the set row per page on rule detail page > exception list"
**Describe the bug**
tick missing along the set row per page on rule detail page > exception list

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Endpoint security should be installed on kibana.

**Steps to Reproduce**
1. log in to Kibana.
2. Go to the security application.
3. Go to Rule >Endpoint security rule .
4. Then go to the exception sub-tab

[2021-07-20 08:38] elasticmachine commented on #106212
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-20 08:40] manishgupta-qasource commented on #106212
Reviewed & assigned to @MadameSheema

[2021-07-20 08:51] elasticmachine commented on #106212
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-20 08:51] elasticmachine commented on #106212
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-20 08:51] MadameSheema commented on #106212
@monina-n can you please help to unify the user experience here? thanks :)

[2021-07-20 08:53] paulb-elastic commented on #106202
This behaviour seems to be the same across various “create rule” configuration pages, for example, it’s the same in Uptime.  It seems the behaviour requires a click away from the control for it to lose focus and disappear.

[2021-07-20 08:56] Dosant commented on #97701
I am not sure, but an important remark is that the empty state happens not when the test tries to restore a search session, but it happens and fails on the initial dashboard load.
So this could likely happen in any other test that would use sample flights data and this empty state is not related to search sessions functionality

[2021-07-20 08:58] arvindersingh-qasource opened #106213 "[Security Solution] "Download" and "Remove" button for Exception list does not show any tooltip."
#### Describe the bug
```Download``` and ```Remove``` button for Exception list does not show any tooltip on hovering mouse cursor on them.

#### Build Details:
[code]

#### Browser Details
All

#### Preconditions
1. Endpoint security should be installed on Kibana.

#### Steps to Reproduce
1. log in to Kibana.
2. Navigate to Security -> Exceptions.
3. Observe that an Exception list is present on t

[2021-07-20 08:59] kibanamachine opened #106214 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/feature_controls/spaces_security·ts - Spaces app security feature controls default space all base privilege can't navigate to edit space page"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/120/)

[2021-07-20 08:59] elasticmachine commented on #106213
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-20 09:01] arvindersingh-qasource commented on #106213
@manishgupta-qasource : Please review this bug.

[2021-07-20 09:04] elasticmachine commented on #106213
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-20 09:07] mbondyra opened #106216 "[Kibana Navigation] links addresses cover the last item in the menu"
**Kibana version:**
master

With the current design of the navigation in Kibana, when moving the mouse across the menu, the last link 'Stack Management' is being covered by the link address coming from Chrome. It's not a bug, but I find it uncomfortable to use (I needed a moment to find this item). Maybe we could add an extra margin at the bottom?

<img width="303" alt="Screenshot 2021-07-20 at 10

[2021-07-20 09:18] lizozom commented on #104515
@jimczi @marius-dr.
@lukasolson is OOO and I want to help resolve this.
What is the current status here?

[2021-07-20 09:41] #104353 closed

[2021-07-20 09:42] dikshachauhan-qasource opened #106252 "[Fleet] Kibana Bread crumb is displayed on the integration tab while editing integration."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integration tab.
	- Click on Managesection.
	- Now, click on any installed integration's policy tab.
	- Cl

[2021-07-20 09:42] #104354 closed

[2021-07-20 10:19] jimczi commented on #104515
The original issue is fixed in ES so I think this can be closed. @marius-dr I am not sure I understand the problem. Can you explain with more details and an example maybe ?

[2021-07-20 10:19] jimczi commented on #104515
The original issue is fixed in ES so I think this can be closed. @marius-dr I am not sure I understand the problem. Can you explain with more details and an example maybe ?

[2021-07-20 10:20] mgiota opened #106219 "[Log UI] Move UI warning in the log threshold rule type closer to the group by section"
While testing https://github.com/elastic/kibana/issues/104354 on cloud 7.14 the UI warning appeared
<img width="622" alt="screenshot" src="https://user-images.githubusercontent.com/2852703/126294866-433e2539-ef4b-42ef-9fe6-82cd8648e711.png"> but I would expect it to appear above the Query A and Query B sections. I had to scroll down to realize that the warning was indeed there.

**Acceptance crite

[2021-07-20 10:20] elasticmachine commented on #106219
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 10:45] amolnater-qasource commented on #106060
Thanks for the feedback @nchaulet and @jen-huang
We will be updating our test content accordingly.

Thanks
QAS

[2021-07-20 10:46] mgiota opened #106222 "[Metrics] Register metric threshold rule type with new RAC rules registry"
## 📝  Summary
Metrics threshold rule type should be registered with new RAC rule registry and appear in the Observability Alerts table.  A human-readable reason for an active alert should be indexed as part of the alerts-as-data documents.

## ✔️  Acceptance criteria
- The metric threshold rule type should be registered with the new RAC rule registry
- A human-readable reason in the field defined

[2021-07-20 10:47] elasticmachine commented on #106222
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 10:52] mbondyra commented on #103701
I started working on this one, but unfortunately I think it's impossible to fix it outside of EUI.
The property `label` that we pass to EUI is used both for creating a label in a position of the list, but also the tooltip text.

I'll propose the changes directly to eui by adding an extra prop `middleTruncate`.

<img width="331" alt="Screenshot 2021-07-20 at 12 49 09" src="https://user-images.githu

[2021-07-20 10:53] azasypkin commented on #106160
@jgr I remember we were initially discussing custom login page/selector layout for Enterprise Search (custom login options, maybe changed labels, icons etc.) and that's where the problem with preserving this layout after logout came up. Is it no longer a requirement and `auth_provider_hint` is enough for you?

It feels like preserving `auth_provider_hint` only makes sense for the case when 1) logi

[2021-07-20 11:01] #104118 closed

[2021-07-20 11:02] jsanz commented on #105930
@sebelga since now they have the exact same text, anything that looks different and helps to understand that one is choosing from index settings and another from a free input would be great.

Not a strong opinion on my end :slightly_smiling_face:

[2021-07-20 11:26] elasticmachine commented on #106204
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-20 11:27] elasticmachine commented on #106214
Pinging @elastic/kibana-security (Team:Security)

[2021-07-20 11:28] alexwizp opened #106228 "Vega, TSVB, Timeline send data request twice when opening visualizations."
Vega, TSVB, Timeline send data request twice when opening visualizations.

**Steps to reproduce:**
1. Install some of sample data
2. Create a new or open existing `Vega,Timelion,TSVB `visualization
3. See Network tab in your browser

**`Timelion:`**
![image](https://user-images.githubusercontent.com/20072247/126315448-81ea3267-45a0-4ac6-b9de-c06812e4faf7.png)

**`Vega:`**
For Vega one `bsearch` wa

[2021-07-20 11:29] joshdover commented on #106142
I think this should be raised as a blocker for the 7.14 release. Any known migration failures that can easily be handled in code, such as this one, should be even if we don't yet know how this state was stored this way.

I don't see any reason we shouldn't start working on a fix now in the migrations code. The root cause may be coming from an older version of Kibana that we can't change (or maybe

[2021-07-20 11:38] amolnater-qasource commented on #106065
Hi @jen-huang
Thanks for the updated xpack. We are able to set agents enabled: false.
Further, we have updated our telemetry testcase [T586380](https://elastic.testrail.io/index.php?/tests/view/586380&group_by=cases:section_id&group_order=asc&group_id=3518) for this test.

**Screenshot:**
![15](https://user-images.githubusercontent.com/77374876/126312029-4f6e5dc5-b9f4-4dcd-ac4a-9a2883f71481.JPG)

[2021-07-20 11:41] dikshachauhan-qasource opened #106229 "[Metricbeat]: No Data for linux tar package is displayed on [Metricbeat System] Containers overview ECS dashboard after metricbeat installation.."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment![image](https://user-images.githubusercontent.com/72375798/126317451-571bf181-2da6-44f8-b208-597d785dbd0c.png)
**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]
- metricbeat is installed using linux tar package.

Arti

[2021-07-20 11:42] elasticmachine commented on #106229
Pinging @elastic/fleet (Team:Fleet)

[2021-07-20 11:43] dikshachauhan-qasource commented on #106229
@manishgupta-qasource Please review

[2021-07-20 11:46] muskangulati-qasource commented on #105566
Hi @jonathan-buttner,

**Build Details**:
[code]

**Observations**:
- We tested this issue with a basic license and found that issue does not occur with the Basic license.
- However, it is still occurring with the Gold license.

Thanks!

[2021-07-20 11:55] myasonik commented on #106216
Duplicate of https://github.com/elastic/kibana/issues/105750

[2021-07-20 11:55] #106216 closed

[2021-07-20 11:56] manishgupta-qasource commented on #106229
Reviewed & assigned to @EricDavisX

[2021-07-20 12:03] muskangulati-qasource commented on #103071
Hi @cnasikas,

We tested this on the latest 7.14.0-BC3 build and found that the issue is now fixed.

Please find below the testing details.

**Build Details**:
[code]

**Observations**:
No duplicate comments are being published to the Jira no.

**Screenshots**:
![Connector](https://user-images.githubusercontent.com/60252716/126320571-877917ff-ad7c-4772-86ea-345e8041960f.JPG)

Hence, closing this i

[2021-07-20 12:03] #103071 closed

[2021-07-20 12:12] mandeepkaur-qasource opened #106233 "[Security Solution]An error "Rule failure" is getting displayed on Rule detail page."
**Description:**
An error "Rule failure" is getting displayed on Rule detail page.

**Build Details:**
Version: 7.14.0 BC3
Build: 42545
Commit: c314921a9893e0b46d9a3958f5520e3d6b1ce7d5
Artifact link: https://staging.elastic.co/7.14.0-682a8012/summary-7.14.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent should be install

[2021-07-20 12:12] elasticmachine commented on #106233
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-20 12:12] mandeepkaur-qasource commented on #106233
@manishgupta-qasource Please review!

[2021-07-20 12:24] manishgupta-qasource commented on #106233
Reviewed & Assigned to @MadameSheema

[2021-07-20 12:26] Dosant commented on #98698
This is fixed with https://github.com/elastic/kibana/issues/104309

[2021-07-20 12:26] #98698 closed

[2021-07-20 12:28] cauemarcondes commented on #105402
Closing this since it wasn't possible to reproduce.

[2021-07-20 12:28] #105402 closed

[2021-07-20 12:29] jportner opened #106235 "Better re-authentication in Kibana"
If someone is using Kibana with multiple tabs/windows, and they are logged out for some reason (likely an expired session), each tab will revert back to the login page with a URL parameter that preserves what page they were viewing. The problem is when you log in again (re-authenticate), you have to refresh every single tab to get back to where you were. It would be nice if, when one tab logs in,

[2021-07-20 12:29] elasticmachine commented on #106235
Pinging @elastic/kibana-security (Team:Security)

[2021-07-20 12:31] joshdover commented on #69706
We'll soon be unblocked to clear the last known blocker for migrating Core (https://github.com/elastic/kibana/issues/94141) to Bazel. I don't see migrating Core in Phase 2 or 3, so I'm unsure of when we need to prioritize this. It seems that it'll definitely need to be done for Phase 3 where we start building plugins. Can we delay this change until then or does it need to be done sooner?

[2021-07-20 12:37] jportner commented on #106160
That's a good point. However the most recent use case that I've seen for `auth_provider_hint` was in the case where there are _two_ SAML providers, and users who weren't sure which one to pick. The "solution" is giving users the URL including `auth_provider_hint` to bookmark. Now when they have to re-authenticate they aren't sure what to do. I can appreciate that being a confusing / annoying UX.

[2021-07-20 12:39] elasticmachine commented on #106233
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-20 12:39] MadameSheema commented on #106233
@spong @peluja1012 can you please take a look at this? thanks :)

[2021-07-20 12:48] lizozom commented on #104515
I can approve that Elasticsearch does not respect the time filters being sent to the new autocomplete API.
This is problematic IMO, as we introduced this as a feature in https://github.com/elastic/kibana/pull/81515.

[2021-07-20 12:49] jportner commented on #100202
I ran into this recently looking at a logfile with "[36] services are unavailable", spammed repeatedly through the logs. Every single message was 3.4 MB 😱 the log file capture was over an 8 minute timeframe and it totaled 316.4 MB. That's absolutely insane.
Example attached below.

[sample-services-unavailable.log.zip](https://github.com/elastic/kibana/files/6848373/sample-services-unavailable.log

[2021-07-20 12:52] jportner commented on #106160
Yeah, I worded that poorly but that's what I meant 😄

[2021-07-20 12:55] markharwood commented on #104515
This is problematic IMO,

Are you saying the index filter doesn't work or that it doesn't filter down to the document level?

We had this in the design docs when we started this project:

In the [API](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-terms-enum.html) we called this the "index filter" as opposed to a document filter to make this point clear.

[2021-07-20 12:56] dikshachauhan-qasource opened #106236 "Long enrollment token names are not adjusted on add agent fly-out."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Enrollement token tab.
	- Click on create enrollment token button.
	- Provide a long name for any policy.

[2021-07-20 12:56] elasticmachine commented on #106236
Pinging @elastic/fleet (Team:Fleet)

[2021-07-20 12:57] dikshachauhan-qasource commented on #106236
@manishgupta-qasource Please review

[2021-07-20 12:57] elasticmachine commented on #106228
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-20 13:05] Kerry350 commented on #105461
I couldn't get the Docker script to work unfortunately, but everything seems to be okay running things manually.

[2021-07-20 13:05] #105461 closed

[2021-07-20 13:08] snide commented on #105750
This can be solved on the Kibana side if you add some additional bottom padding. It's likely showing up here now because it's where the lock used to be.

[2021-07-20 13:11] manishgupta-qasource commented on #106236
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-20 13:15] weltenwort commented on #102089
:information_source: As discussed I updated the description and ACs to include aligning the field name prefix.

[2021-07-20 13:20] #105854 closed

[2021-07-20 13:23] kibanamachine opened #106244 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/overview_host·ts - apis SecuritySolution Endpoints Overview Host With auditbeat Make sure that we get OverviewHost data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/122/)

[2021-07-20 13:31] dominiqueclarke opened #106248 "[Uptime] Synthetics Step Details Page - Unhandled error when navigating through checks with differing number of steps"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 92

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Description of the problem including expected versus actual behavior**:
When a user creates a monitor that and later edits that monitor in a way that changes the

[2021-07-20 13:31] elasticmachine commented on #106248
Pinging @elastic/uptime (Team:uptime)

[2021-07-20 13:34] jportner commented on #106235
Nice idea, I updated the title and description accordingly!

[2021-07-20 13:37] mbondyra opened #106250 "[Lens] Weird behavior of the datatable text alignment"
**Kibana version:**
master

The text alignment changes when hovering on the element, I believe this is bug:

https://user-images.githubusercontent.com/4283304/126333690-0ce4b2d1-e0eb-4009-acdb-7151558c3c8e.mp4

[2021-07-20 13:37] elasticmachine commented on #106250
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-20 13:40] ghudgins commented on #106250
I believe this was ported to EUI and then addressed...looking it up now will edit this

[2021-07-20 13:40] EricDavisX commented on #106229
@dikshachauhan-qasource hi - can you check if the data is there in Discover that you are expecting?  And attach metricbeat logs?  I don't know the Dashboard as well, but if the data is there we can pass it on to Engineering, it may be a Dashboard update or maybe the data is missing.

[2021-07-20 13:45] elasticmachine commented on #106244
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-20 13:45] elasticmachine commented on #106252
Pinging @elastic/fleet (Team:Fleet)

[2021-07-20 13:54] aleksmaus commented on #105477
@lykkin is correct. there are two things that are happening:
1. periodic agent checkins with the fleet where the agent provides the last action token it received (acknowledged receiving it)
2. the action result. where the action result is posted back only after action is completed, when the agent received the action response form the beat/app.
This is the client library that is used for grpc comms

[2021-07-20 13:59] lizozom commented on #104515
Some background for whoever is reading this:

1. In 7.11 we merged a PR following a request from @AlonaNadler, to optionally filter results by time range. This is **enabled by default**, so since 7.11 users see autocomplete suggestions filtered to the **exact** visible timerange unless they opt out in Advanced Settings. There was some pushback against this approach, but it was merged as it was the

[2021-07-20 14:07] pmuellr commented on #101749
I'm hesitant to use `event.id` for this, since I don't know it's purpose, and it seems fairly "global".  I was thinking something in `rule.` or `kibana.alerting`; a field in `rule` would be the best, if we can agree on a field in there - but maybe there's no good fit there.

Currently feels like alerting should be creating the UUID for the new "span" of alerts, and then make it available to the ru

[2021-07-20 14:10] justinkambic commented on #106248
@dominiqueclarke what would you propose as a solution?

My initial thoughts are we could either clear the expanded row map whenever cross-journey navigation occurs, or we could create some more specialized handling of this case where we check that the item is defined. I haven't looked at the code but I am guessing somewhere we are `insisting!` that something is defined, which leads to this issue.

[2021-07-20 14:10] Dosant commented on #104515
@lizozom,

If `autocomplete:useTimeFilter` was a performance compromise and the new API was created to properly address performance issues, then I think it would actually make sense to revert back to the prior 7.11 behaviour and don't have this option for when the new API is used?

Will it? I thought the new API should perform better?

Looks like they just will have to fall back to older implement

[2021-07-20 14:16] dikshachauhan-qasource commented on #106229
Hi @EricDavisX

Please find metricbeat logs as follows:

[metricbeat.txt](https://github.com/elastic/kibana/files/6848966/metricbeat.txt)

We didn't find any errors under them. Please let us know if anything else is required.

Thanks
QAS

[2021-07-20 14:17] timroes opened #106256 "Make help links configurable"
It would be nice if there would be a possibility in the `kibana.yml` to configure (or at least add) links showing up in the Help menu in Kibana:

![screenshot-20210720-161515](https://user-images.githubusercontent.com/877229/126339571-bf380fd6-89ca-46e3-bb69-a0f64cbd94a6.png)

Due to legal reasons some users require having links to specific disclaimers, documentation, imprints, etc. available _on

[2021-07-20 14:17] elasticmachine commented on #106256
Pinging @elastic/kibana-core (Team:Core)

[2021-07-20 14:23] dominiqueclarke commented on #106248
@justinkambic My initial thought was improved code defense. Like you said, we are likely insisting that something is defined that is not. I would prefer to keep the expanded row feature rather than clearing the expanded row with cross-journey navigation, as I think keeping the row expanded adds value.

[2021-07-20 14:24] ryankeairns opened #106262 "Test KD"
test

@elastic/kibana-design

[2021-07-20 14:29] #106262 closed

[2021-07-20 14:31] dominiqueclarke commented on #103480
I believe this may be resolved by #104630

[2021-07-20 14:31] markharwood commented on #104515
Imagine you had a stack of tech books and wanted to look up words beginning with "elasticsea...".

The **fast** implementation would be to look in the index at the back of each book to get the list.
The **slow** implementation scans all the words used on pages in the body of the book.

Now add a date filter to the equation:
The fast implementation rejects books where the published date was before

[2021-07-20 14:33] #104974 closed

[2021-07-20 14:36] lukeelmers commented on #46984
Next steps for this:
- Check in with Cloud / ECK teams
- Check with ES around their plans in this area

cc @thesmallestduck

[2021-07-20 14:36] piehld opened #106266 "Kibana timepicker rejects absolute datetime input if 'dateFormat' is configured to display timezone"
**Kibana version:**
7.13.2 and 7.13.3, and all earlier. Assumed in the case of 7.13.4 as well.

**Elasticsearch version:**
7.13.2 and 7.13.3, and all earlier. Assumed in the case of 7.13.4 as well.

**Server OS version:**
Ubuntu 20.04

**Browser version:**
Chrome 91.0.4472.164

**Browser OS version:**
Not relevant.

**Original install method (e.g. download page, yum, from source, etc.):**
apt-get

[2021-07-20 14:44] bmorelli25 commented on #105651
👋 Please link to this page in the docs: https://www.elastic.co/guide/en/apm/server/master/apm-integration-data-streams.html

I will be adding a callout box to the top of the page with data stream migration limitations.

[2021-07-20 14:45] wylieconlon commented on #103701
@mbondyra I agree that a `middleTruncate` option in EUI is the best long-term goal, since this logic will probably be used in more than one place. But I think that since we have a custom `renderOption` already we should be able to test the behavior in Lens first.

[2021-07-20 14:47] legrego commented on #106235
Related: https://github.com/elastic/kibana/issues/99353

[2021-07-20 14:49] pmuellr commented on #100202
I think the issue with the "recursive" large task manager status objects was resolved in this PR - https://github.com/elastic/kibana/pull/98265 .  What version are you seeing this in; it should have been fixed in 7.13.0, and I think may have only been a problem during 7.12.x.

[2021-07-20 14:52] jportner commented on #105808
Maybe a silly question: is there any reason that `lens-ui-telemetry` is not a space-agnostic saved object (`namespaceType: 'agnostic'`)?

[2021-07-20 14:53] jasonrhodes commented on #94087
Based on some conversation, we decided we can just load more views in the initial query and let everything work as-is. (We removed mappings for SOs because of the kibana index mapping explosion. We could add that back as a better fix for later.)

Do we need 100? 500? 1000?

[2021-07-20 14:54] jportner commented on #105967
Note that this also entails changing the client and server API calls to use the new `savedObjectsClient.resolve()` API (instead of `savedObjectsClient.get()`), and handle the three different outcomes ('exactMatch', 'aliasMatch', and 'conflict'). See more details in the linked meta issue #100489.

[2021-07-20 14:54] jportner commented on #105970
Note that this also entails changing the client and server API calls to use the new `savedObjectsClient.resolve()` API (instead of `savedObjectsClient.get()`), and handle the three different outcomes ('exactMatch', 'aliasMatch', and 'conflict'). See more details in the linked meta issue #100489.

[2021-07-20 14:56] #106250 closed

[2021-07-20 14:57] azasypkin commented on #106235
Not to derail our conversation, but just to note that not all UX problems should be solved by our team via bending security guardrails here and there. Browsers and operating systems do crash and freeze (:wave: Linux), unexpectedly restart (:wave: Windows), unrecoverable JS errors do happen (:wave: Kibana), people will continue to unintentionally close/refresh browser windows and tabs (:wave: Oleg)

[2021-07-20 15:21] randomuserid opened #106270 "Folder-Like Organization For Visualizations"
**Describe the feature:**

A one or two-level hierarchical folder tree for visualizations, allowing visualizations to be grouped by subject or another common factor.

**Describe a specific use case for the feature:**

Let's use the telemetry cluster as an example. This instance has a large number of custom visualizations intermixed with the growing number of OOB visualizations. These are displayed

[2021-07-20 15:25] jasonrhodes commented on #104093
Note: watch out for new tests being added here -> https://github.com/elastic/kibana/pull/105869

[2021-07-20 15:27] timductive commented on #87704
Closing this based on comments, please re-open if issue persists.

[2021-07-20 15:27] #87704 closed

[2021-07-20 15:28] ymao1 commented on #100067
The alerting framework is responsible for the `action`, `alert` and `action_task_params` saved object types. When trying to make these types share-capable, we need to look at:
* other saved objects that reference our saved object types
* rules and connectors that reference other saved object types

### Other saved objects that reference `action`, `alert` and `action_task_params` SO types:
1. `case

[2021-07-20 15:31] hop-dev commented on #106073
The sort order sorts capitals first then lowercase, which is the default sort behaviour on keywords.

To achieve case-insensitive search I believe we would have to add a name_lowercase field to the ingest-agent-policies saved objects, so this may be a feature request as opposed to a bug @jen-huang ?

[2021-07-20 15:33] monina-n commented on #106212
hey @MadameSheema, the expected user experience would have the same interaction for every popover with row selection - so there should be a checkmark next to the selected option of rows to make it consistent with every other table.

[2021-07-20 15:35] joshdover commented on #102870
@jportner let me know if I'm understanding this correctly.

I believe we may be able to get away without implementing any UI or using the `resolve` API at all for tags if the following are true (which AFAIK, they are, but we'll need to audit):
- Tags are not exposed in the public SavedObject API (except in the `references` field of other objects)
- Tag IDs are never stored in any Kibana URLs
- Tag