[2021-05-04 12:59] elasticmachine commented on #98562
Pinging @elastic/kibana-security (Team:Security)

[2021-05-04 13:03] Dosant commented on #91138
@jloleysens, I agree that `impact:medium` seems too much, feel free to lower 😅
But I'd also note, as you mentioned, this is not a single rare issue, but rather a class of bugs and there are other examples where folks stumble on this https://github.com/elastic/kibana/issues/99089.
Also, IMO, users might get especially confused by this bug because the filter bar just crashes without indication of an

[2021-05-04 13:06] jen-huang commented on #99187
Closing, this is expected behavior, please refer to https://github.com/elastic/kibana/pull/96087 and update the test expectations:

[2021-05-04 13:12] legrego commented on #98562
@azasypkin I think this one is related to the improved `401` handling that we recently merged. Would you mind taking a look at this when you get a chance?

[2021-05-04 13:23] jloleysens commented on #99089
Tested this on current master and was not able to reproduce. Per @Dosant 's findings it is quite likely that it was fixed in EUI side with https://github.com/elastic/eui/issues/3746.

Closing this issue for now.

[2021-05-04 13:23] #99089 closed

[2021-05-04 13:23] dikshachauhan-qasource commented on #99187
Hi @jen-huang

We don't have any agent to upgrade in above reported issue, when we are performing the action.

Hence, here scenario for mixed results is inappropriate. Could you please have a look to issue again. Hence reopening.

[2021-05-04 13:30] ryankeairns commented on #98567
To clarify on the timing here, if this a late addition for 7.13?

[2021-05-04 13:30] dominiqueclarke commented on #96560
As our charts are moving towards using Exploratory View, we may need to identify how to display these annotations within an exploratory view based chart.l

[2021-05-04 13:33] dominiqueclarke commented on #98481
Need to identify:

- How is severity calculated for monitor status alerts?
   - Monitors are either up or down (healthy or unhealthy). Is there a notion of a severity hierarchy?
- How is severity calculated for certs alerts
   - I believe @andrewvc or @justinkambic  may have mentioned that we do have an established definition of severity for certs
- How is severity calculated for anomalies?

[2021-05-04 13:35] azasypkin commented on #98562
Sure, thanks for the ping!

[2021-05-04 13:39] afharo commented on #97975
Should we consider this a Meta issue and break it down into smaller pieces?

[2021-05-04 13:43] #98041 closed

[2021-05-04 13:47] afharo commented on #97956
Should we log `migrated X docs from total Y` periodically? i.e.: every 5 seconds.

If so, we might need to change the way we wait for the reindex task to be completed.

That said: I think it's worth highlighting that we have 2 types of processes here:
1. `REINDEX_SOURCE_TO_TEMP_READ` is a pure reindex operation and the way we can get the progress is via the `GET _task` API.
2. AFAIK, `OUTDATED_DOC

[2021-05-04 13:52] MichaelMarcialis commented on #67614
We could do that if there is a concern that users will not understand the difference between the three modes base on their names alone. Personally though, I think the only aspect that definitely requires additional help text is the limitations (0 max) for bar charts in custom mode, so I'd be ok with just that given the appropriate conditions (i.e. bar chart in custom mode).

[2021-05-04 13:55] thomasneirynck commented on #76905
wrt the region and coordinate maps dependencies:

These plugins will be _removed_ in 8.0 (https://github.com/elastic/kibana/issues/81703), removing the dependency on kibana_legacy.

[2021-05-04 13:56] #98671 closed

[2021-05-04 13:59] flash1293 commented on #67614
@MichaelMarcialis Please check out the PR here: https://github.com/elastic/kibana/pull/99203 and let me know what you think

[2021-05-04 14:04] #98635 closed

[2021-05-04 14:05] michaelkeevildown commented on #89726
I agree this would be a really nice feature. It is becoming more and more apparent when using Elastic that the same data can have a different meaning depending on the user, providing a way for a user to talk in their own language but access a common data model will be imperative as we start to expand into the business lines.

I am seeing the same thing happen with new standards that are being crea

[2021-05-04 14:12] Dosant commented on #85294
Looks like this particular bug was fixed by https://github.com/elastic/kibana/pull/94793 in 7.11.3 and 7.12.0

[2021-05-04 14:15] EricDavisX commented on #99187
I consider this more of an enhancement, that the error message isn't clearer.  From original discussions on 'bulk update' feature I don't think we have access to pre-filter the list to get the counts more accurate, yet.  We could, but the value there needs to be judged against other work scoped and user demand.

[2021-05-04 14:19] madirey commented on #99147
Yes of course, thanks @MadameSheema !

[2021-05-04 14:19] #99147 closed

[2021-05-04 14:21] #70289 closed

[2021-05-04 14:25] timroes commented on #8887
Closing this as too unspecific. If this is not about a central service (which would reside with App Services or Core), we have other issues to track undo/redo more specifically in some apps, e.g. #54971 for supporting undo/redo in Lens.

[2021-05-04 14:25] #8887 closed

[2021-05-04 14:26] majagrubic commented on #98671
Thanx for reporting this, I merged a fix. It will be in 7.13.

[2021-05-04 14:29] jen-huang commented on #99187
@EricDavisX In this case we need to investigate why one agent was upgraded successfully when non shows as Upgrade Available.

[2021-05-04 14:31] Dosant commented on #81443
I just tested and it looks like https://github.com/elastic/kibana/issues/85294 fixed the original issue with 7.12.0 🎉

@IvanSobotik

I just smoked checked these cases and it seems like the fix also covered those. Feel free to open a new issue for those in case still reproduced in 7.12.0+

[2021-05-04 14:31] #81443 closed

[2021-05-04 14:33] shaunmcgough commented on #99105
@kertal I like the solution you propose here where we trigger a request to ES returning those docs with the same sorting. This would allow to reverset he sort or add new sorts, and not remove the context for the user. I like this approach.

[2021-05-04 14:35] joshdover commented on #97975
- Scope:
	- Add a test to try to catch race conditions between multiple nodes
	- Add a test to start nodes with different plugins enabled
	- Add a test to start two ES nodes in the same cluster, with a Kibana node configured to each one
	- Use the jest_integration suite to run multiple `Root`s against a single (real) ES cluster
	- Try to find a manual change to the migration algo that can be made

[2021-05-04 14:37] joshdover opened #99211 "Fix race conditions in SO Migrations v2 and add integration test"
Part of #97975

- Fix the race condition with the `temp` index write block when multiple instances are migrating in parallel
- Add a jest_integration tests that try to catch race conditions between multiple nodes

- Use the jest_integration suite to run multiple `Root`s against a single (real) ES cluster
- Try to find a manual change to the migration algo that can be made to emulate a race conditi

[2021-05-04 14:37] elasticmachine commented on #99211
Pinging @elastic/kibana-core (Team:Core)

[2021-05-04 14:38] joshdover opened #99212 "[saved objects] Add v2 migration test using a multi-node cluster & adapt @kbn/test to support it"
Part of #97975

To test the Saved Objects Migrations v2 algorithm, we want to add an integration test that looks for race conditions when running a multi-node Elasticsearch cluster.

Today, our `@kbn/test` testing infrastructure only supports single-node clusters:
https://github.com/elastic/kibana/blob/33eecc297973e348b0fc4907f62170fe27d1cefa/packages/kbn-test/src/es/test_es_cluster.ts#L62-L68

We

[2021-05-04 14:38] elasticmachine commented on #99212
Pinging @elastic/kibana-core (Team:Core)

[2021-05-04 14:38] #97975 closed

[2021-05-04 14:40] #97122 closed

[2021-05-04 14:48] shaunmcgough commented on #98567
@andreadelrio looks great to me. Open by default is highly preferred.

[2021-05-04 14:49] shaunmcgough commented on #98567
@ryankeairns yes, this is requested for 7.13.

[2021-05-04 15:09] kibanamachine commented on #94043
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13811/)

[2021-05-04 15:09] ThomThomson commented on #99190
I think I've actually fixed this in: https://github.com/elastic/kibana/pull/97941

Would you mind taking a look?

[2021-05-04 15:10] mostlyjason commented on #95445
@dikshachauhan-qasource could your team help test this migration path?

FYI @EricDavisX

[2021-05-04 15:13] poffdeluxe commented on #49558
Only the `jsx-a11y/click-events-have-key-events` issues currently remain.

Currently three problem areas:
[code]

[2021-05-04 15:29] MSAdministrator commented on #68384
Hello, I am seeing this issue on a docker-compose setup and trying to get elastic-agent to enroll.  My process (I can provide the python code if needed) is this:

1. Check if kibana is up
2. '/api/fleet/setup', 'GET'
3. '/api/fleet/setup', 'POST'
4. Check if Elasticsearch is up
4. /api/fleet/agent_policies?page=1&perPage=100', 'GET'
5. '/api/fleet/enrollment-api-keys', 'POST'   <---- This is where

[2021-05-04 15:33] cjcenizal commented on #99144
@cuff-links Thanks for testing this interaction! This is so important to cover. Mind re-running the test with the `enterprise` license?

[2021-05-04 15:37] sebelga commented on #98330
Thanks @timroes, I've created https://github.com/elastic/kibana/issues/99177 with a proposal to support leaf object for object runtime fields. Let me know any feedback/concerns on that issue. My goal is that the consuming app should not know and worry about object runtime "sub fields". They will appear just like any other fields.

[2021-05-04 15:49] marshallmain opened #99216 "[Alerting] Add bulk AlertsClient functions"
**Describe the feature:**
On the detection engine rules management page we display the status of each rule and refresh the statuses periodically. Our rule status API currently calls `AlertsClient.get` for each rule on the page to retrieve the alerting framework status for the rule. Even though we use `async` to make the calls to `AlertsClient.get`, there is significant CPU cost in the authorizatio

[2021-05-04 15:49] elasticmachine commented on #99216
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-04 15:50] tsullivan commented on #98426
The Cloud test run is missing quite a bit of setup, as compared to a run in my local environment.

The diff of logs shows Cloud on the left, local on the right:
![image](https://user-images.githubusercontent.com/908371/117031769-c0490100-acb5-11eb-8015-e3523f024939.png)

[2021-05-04 15:50] marshallmain commented on #99216
cc @legrego @thomheymann @gmmorris

[2021-05-04 16:00] EricDavisX opened #99218 "[Fleet] need to add api/fleet/service-tokens to the Fleet API Docs"
confirmed it is not there as of 8.0 / master branch today, May 4, so we need to add it.  unless there is a ticket / reason not to, but I didn't see it in my search.

what I do know is that, a:
POST to
api/fleet/service-tokens

will return a newly generated service token for Fleet Server enrollment/install.  I don't know what else the API does or what methods it otherwise supports

current api docs

[2021-05-04 16:00] elasticmachine commented on #99218
Pinging @elastic/fleet (Feature:Fleet)

[2021-05-04 16:02] andrew-goldstein commented on #86560
A user is describing a scenario where they would apply wildcards in an exception list [in this discuss post](https://discuss.elastic.co/t/rule-exception-in-siem-kibana-7-12/272072)

[2021-05-04 16:05] Med959595 opened #99219 "Alerting the localization of a faulty sensor using a map dashboard"
Hello everyone,

I have a dashboard that contains a map displaying sensors located in different locations on the map, I want to make an alert returning the Reference/name of the sensor whenever the battery level of this latter decreases to 0 (alert sent by email). I also want to return the localization of the 'dead' sensor after checking that the condition on the voltage is true.

I have an issue

[2021-05-04 16:13] jen-huang commented on #68384
@MSAdministrator Fleet needs two setup calls:
1. Initial plugin setup at `POST /api/fleet/setup`
1. Central management of agents setup at `POST /api/fleet/agents/setup`

So I recommend this order for your operations:
1. Check if kibana is up
2. Check if Elasticsearch is up
3. '/api/fleet/setup', 'GET'
4. '/api/fleet/setup', 'POST'
5. '/api/fleet/agents/setup', 'GET'
6. '/api/fleet/agents/setup', '

[2021-05-04 16:18] neptunian opened #99222 "[Metrics UI] Fix popup when grouping by a custom field"
When trying to group by a custom field, the popup would sometimes be off the screen.  This only seemed to happen when my resolution was smaller such as when viewing full screen on my laptop at 1680px. In larger resolutions it works but it flashes in a different location first.
<img width="720" alt="Screen Shot 2021-04-27 at 3 09 09 PM" src="https://user-images.githubusercontent.com/1676003/1162987

[2021-05-04 16:18] elasticmachine commented on #99222
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-04 16:18] neptunian commented on #97815
https://github.com/elastic/kibana/issues/99222

[2021-05-04 16:19] #97815 closed

[2021-05-04 16:22] tsullivan commented on #99120
Context info about this bug:

When the user selects "Optimize for printing," it changes the `layout` field of the report job params from `preserve` to `print`. This gets used later, when the report job is running async on the server. The screenshot capture pipeline detects the layout type, and injects CSS into the page to force a change of layout.

- Where the layout type appears in the screenshot

[2021-05-04 16:23] neptunian opened #99223 "[Metrics UI] Switch user to default view if they delete the view they are on"
After creating and loading a custom view, then deleting the view, it still says I'm on the custom saved view.  We should probably switch the user to the default view if they are on the view that was deleted.

<img width="1835" alt="Screen Shot 2021-04-27 at 3 19 11 PM" src="https://user-images.githubusercontent.com/1676003/116299656-f2b1a600-a76b-11eb-911c-114d88751066.png">

[2021-05-04 16:23] elasticmachine commented on #99223
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-04 16:23] neptunian commented on #97816
Created issue here: https://github.com/elastic/kibana/issues/99223

[2021-05-04 16:23] #97816 closed

[2021-05-04 16:31] afharo commented on #98916
After our sync meeting, the only missing bit to decide on is the output format. I thought it'd be useful if I could list the Pros/Cons from both approaches:

<table>
<tr>
	<th>Option
	<th>Pros
	<th>Cons
<tr>
	<td>Tree-object structure
	<td>
		<ol>
			<li>Only need to rely on mapping updates
			<li>No need to wait for much work on the Infra side
        </ol>
	<td>
		<ol>
			<li>Hard to identify To

[2021-05-04 16:32] #94128 closed

[2021-05-04 16:32] pmuellr opened #99225 "[event log] add rule to event log shared object for provider: actions action: execute log event"
Currently, we do not add the rule saved object in the saved object references when we write the `provider: actions, action: execute` log entry.  We do for `provider: alerting, action: execute-action`, which is logged when actions are queued to be run.

Historically, we weren't passing the rule into the action executor, so we didn't have the rule info to write out.  That changed with RBAC, and we n

[2021-05-04 16:32] elasticmachine commented on #99225
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-04 16:37] myasonik commented on #99115
It would take some careful work but there are certainly ways we could do this.

[WCAG 3.2.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/consistent-behavior-receive-focus.html) is pretty easy to avoid running into issues on by not moving focus to the flyout whenever the row changes.

But to do that, we need to have an `aria-live` region that will announce to screen readers that another part of the

[2021-05-04 16:37] pmuellr commented on #95411
In addition to having a top-level rule type id in the document, we should also arrange to have a reference to the most relevant saved object available outside the current nested `kibana.saved_objects` property.  Those fields work well for queries that support nested fields, but turns out most Kibana viz's do not.

And we should ensure that the same info for connectors is available in the same way

[2021-05-04 16:38] pmuellr commented on #98902
Existing known issues regarding improving event log for diagnosis (just added to the list at the top of this issue):

- [event log] add rule type id in custom kibana.alerting field #95411
- [event log] populate rule.* ECS fields for alert events #94137
- [discuss] extending event log for faster/easier access to active instance date information #93704
- [event log] add rule to event log shared obje

[2021-05-04 16:43] lukeelmers commented on #95859
++ This was my conclusion last time we had this discussion. Most apps are going to need everything in `data` either explicitly, or implicitly (many data services have dependencies on each other anyway)

As you highlighted in the linked issue, I think the biggest wins we can get in this area will come from making some of the registries async (aggs is the biggest offender here due to the large numbe

[2021-05-04 16:48] jen-huang commented on #98356
@nchaulet Thanks for the work on this in #98957 and #99084. Could you double check to see if we also need to apply a port fix for ES?

[2021-05-04 16:50] lukeelmers commented on #67060
Yeah I think the [original thread](https://github.com/elastic/kibana/pull/64321#pullrequestreview-404045195) that started this discussion is less relevant now that you can no longer do static imports without explicitly declaring a dependency on that plugin. It would just be a matter of whether we'd want to recommend folks expose settings from plugin contracts in the future as a general pattern.

I

[2021-05-04 17:03] pmuellr opened #99228 "[alerting] browser walkback setting "top" number in index threshold alert to 1001"
**Kibana version:** 7.12.0

**Steps to reproduce:**
1. create an index threshold alert, with grouping, and the "top" set to a number <= 1000
2. edit the alert, changing the "top" number to 1001, by editing the text (the inc/dec buttons won't go over 1000)
3. walkback displayed in browser

_Note: this is how I found the bug; I assume you'd get the same error while creating a new alert, but didn't t

[2021-05-04 17:03] elasticmachine commented on #99228
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-04 17:04] joshdover opened #99229 "Add telemetry to detect HTTPS usage"
In order to consider moving Kibana to HTTP/2, we need to understand how many deployments are using TLS to connect to Kibana. This isn't something we can easily do from the server-side due to termination possibly being done at a different layer in the networking stack, but we should be able to detect this from the client-side.

[2021-05-04 17:04] elasticmachine commented on #99229
Pinging @elastic/kibana-core (Team:Core)

[2021-05-04 17:04] joshdover commented on #98881
Great point, I've opened an issue: https://github.com/elastic/kibana/issues/99229

[2021-05-04 17:05] jasonrhodes commented on #98010
I think this also arises when you query for "less than n documents", if I recall correctly (since the 0 scenario is always less than n).

[2021-05-04 17:28] asnehalb commented on #99040
Find more details here : https://github.com/elastic/kibana/issues/94520

[2021-05-04 17:36] #98984 closed

[2021-05-04 17:50] jfsiii commented on #99218
follow-up from https://github.com/elastic/kibana/pull/97585

[2021-05-04 18:00] jasonrhodes opened #99234 "[Metrics UI] Use field caps dataset filtering when possible"
More information on this ticket: https://github.com/elastic/kibana/issues/95558#issuecomment-831891976

We should adopt this so that the long list of autocomplete fields can be improved when we are filtering for certain data in our Metrics UI views. TBD which views and which sets of filters are allowable here.

**[Please edit this ticket and the associated AC when we narrow this information down.]

[2021-05-04 18:01] elasticmachine commented on #99234
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-04 18:05] lukasolson commented on #98698
Okay, I can reliably reproduce this. Here are the steps:

1. Load a (long-running) dashboard
2. Click "Save session" in the search session indicator popover
3. Wait a few seconds so the search session monitoring task kicks in at least once
4. Click "Stop session" and watch the logs

What's happening is, as soon as I click "Stop session", we are cancelling all in-progress search requests (`DELETE _

[2021-05-04 18:08] ferullo commented on #99030
@k-g-elastic can you share whether or not your team is seeing any issues running Endpoint on Linux, macOS, or Windows?

Another thought, is the Windows 7 machine 32 or 64 bit? That could be a difference between @muskangulati-qasource 's machine and @nfritts 's machine

[2021-05-04 18:10] ruflin commented on #99068
Adding a bit more technical info here. The Elastic Agent does not really know which integration it is running but which inputs. In the case of endpoint, there is a 1:1 mapping, in the case of nginx there are 3 inputs for a single integration. I think it is important that Elastic Agent starts to report which inputs are running (status of an Elastic Agent) and it will be figured out in the UI if the

[2021-05-04 18:18] #17059 closed

[2021-05-04 18:19] nchaulet commented on #98356
Yes just tested and we have the same issue with ES, if we pass a ES host without PORT it's going to use `9200` as default, going to work on a fix.

[2021-05-04 18:22] mshustov commented on #67060
Can we verify that all the plugins use imported keys? I didn't check all the `data` plugin keys, but for `timepicker:quickRanges` I the found the next cases
https://github.com/elastic/kibana/blob/57af8462e45c92cf06c8338b7b1294205efcad24/x-pack/plugins/uptime/public/apps/render_app.tsx#L50
https://github.com/elastic/kibana/blob/57af8462e45c92cf06c8338b7b1294205efcad24/x-pack/plugins/security_soluti

[2021-05-04 18:25] asnehalb opened #99237 "Cases cleanup work"
- [ ] When you change the status of a case the push button appears. We don't sync the status to external system so this is unnecessary push
- [ ] Whenever the create case form is populated, the cursor starts in the description instead of the first field, title
- [ ] Ensure all the useMemo calls are necessary Mike
- [ ] Ensure all the react-hooks/exhaustive-deps errors we allow are necessary Mike

[2021-05-04 18:25] elasticmachine commented on #99237
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-04 18:27] asnehalb commented on #96074
Moved non-critical items to https://github.com/elastic/security-team/issues/1091

[2021-05-04 18:34] EricDavisX commented on #99187
It may be that the bulk-option flow allows the attempt of 7.13 to 7.13 upgrade to happen, but in the end does nothing but still reports the success.  That's if my memory serves, not based on current code review.  So maybe a bug in one place or the other.

[2021-05-04 18:36] MichaelMarcialis commented on #98724
Just FYI, we have a (emerging/growing) pattern for addressing situations like this. This pattern shows users how many total items are present and conditionally shows how many items are selected, with an accompanying menu for actions to take on those selections. One working example can be seen in the Kibana tags management page.

![utility-bar-example](https://user-images.githubusercontent.com/3884

[2021-05-04 18:41] #96074 closed

[2021-05-04 18:41] asnehalb commented on #96074
closing as all items here are completed

[2021-05-04 18:45] roofdiver opened #99238 "[Security Solution] - Host KPI in SIEM not using host.name.keyword"
**Describe the bug:**

The Hosts KPI in SIEM defaults to using host.name which is a text field. Instead it should be using host.name.keyword.

Here is the request:
`{
  "aggregations": {
    "hosts": {
      "cardinality": {
        "field": "host.name"
      }
    },
    "hosts_histogram": {
      "auto_date_histogram": {
        "field": "@timestamp",
        "buckets": "6"
      },
      "aggs"

[2021-05-04 18:45] elasticmachine commented on #99238
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-04 18:53] maihde opened #99239 "X-Pack Maps Draw Shape to Filter not intuitive when index patterns have multiple geo fields"
**Describe the feature:** Currently, the draw shape, draw bounds, and draw distance tools will show a list of all indexes and all possible geo-fields.  It would be more intuitive and less prone to user error if this list was restricted to the list of actual geo fields being used by the layers.

**Describe a specific use case for the feature:** We have an index pattern that has 5-6 different geospa

[2021-05-04 18:59] tsullivan commented on #84990
Passing in the 7.x branch:
[code]

Not passing in the master branch - test setup does not complete:
[code]

[2021-05-04 19:01] tsullivan commented on #84990
@liza-mae can you take a look? It seems this bug is passing in the latest 7.x branch. I assume it would pass in master, if test setup succeeds for testing in master.

[2021-05-04 19:03] lukeelmers commented on #67060
They definitely don't all use imported keys yet, so perhaps this issue could be rescoped to that instead (ensure imported keys are used anywhere in Kibana that relies on uiSettings registered by the data plugin)

[2021-05-04 19:08] mshustov opened #99242 "Use named arguments in Migration actions"
Some migrationsv2 actions have a large number of arguments, we should switch to named arguments usage to simplify reading. It's better to perform one-off renaming for all the actions and their tests.

[2021-05-04 19:08] elasticmachine commented on #99242
Pinging @elastic/kibana-core (Team:Core)

[2021-05-04 19:10] jen-huang opened #99243 "Change severity/messaging of "Could not locate that index-pattern-field" error"
Related to https://github.com/elastic/kibana/issues/87575 where it was reported that visualizations in "solution dashboards" aka dashboards installed by Fleet show a fatal-looking `Could not locate that index-pattern-field (id: some-field-name)` error.

From long running conversations we've had about this issue over the past few months, an ideal solution is not on the horizon. In the interim, can

[2021-05-04 19:10] elasticmachine commented on #99243
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-04 19:12] n0othing opened #99244 "Percentage column is missing in formatted CSV when is downloaded from the inspector"
**Kibana version:** `7.12.1`

**Elasticsearch version:** `7.12.1`

**Describe the bug:**

Kibana no longer exports the percentage column when exporting a formatted CSV.

**Steps to reproduce:**
1. Setup a `7.12.1` install of Elasticsearch + Kibana
2. Add sample data (e.g `Sample flight data`)
3. Create a Data Table visualizations: ( Count > Split rows Carrier)
4. Add a percentage column (Options >

[2021-05-04 19:18] nfritts commented on #99030
Thats correct.  Windows 7 should be fully patched.

[2021-05-04 19:28] ogupte opened #99249 "[APM] Add telemetry to track usage of the agent config to fleet synchronisation feature"
The synchronization feature for Agent configurations to fleet polices (#95501) should include use metrics that we can observe to plan future commitments in our fleet integration story.

At the very least we should track an event when the user enabled synchronization in the UI:
`apm-count-enable-apm-config-fleet-sync`.

We may also want to track how often config updates occur that trigger fleet pol

[2021-05-04 19:28] elasticmachine commented on #99249
Pinging @elastic/apm-ui (Team:apm)

[2021-05-04 19:51] jen-huang commented on #89113
I'm closing this as won't fix, we don't restrict un-upgradable agents on the UI side (via bulk selection), we just let any upgrade failures bubble up later in a toast message.

[2021-05-04 19:51] #89113 closed

[2021-05-04 19:53] tsullivan commented on #78056
Test is passing in 7.x
![image](https://user-images.githubusercontent.com/908371/117062034-c64fd980-acd7-11eb-8ac2-3cafebd7dba1.png)

[2021-05-04 19:55] jen-huang commented on #88670
Closing, this was fixed somewhere along the way:

![image](https://user-images.githubusercontent.com/1965714/117062216-0adb7500-acd8-11eb-944d-5e5f9f5b9a52.png)

[2021-05-04 19:55] #88670 closed

[2021-05-04 20:00] jen-huang commented on #95900
Closing as a duplicate of #87036.

[2021-05-04 20:00] #95900 closed

[2021-05-04 20:02] tsullivan commented on #99013
Same issue again:
[code]

[2021-05-04 20:02] #99013 closed

[2021-05-04 20:35] kobelb commented on #97934
That's a great question and one that'll require additional effort to get an answer to. I'm on board with investigating the feasibility of using APM for these types of situations, as it's the ideal solution for distributed tracing. @joshdover and I just recently discussed this, and there's a cross-team effort that we're trying to get going to answer this better.

Long-term, absolutely! For the time

[2021-05-04 20:49] legrego commented on #98615
So this is technically possible today if you know where to click, but the `EuiCard`s that we render on the space selector screen have a very small target for the `href` that we're rendering. We can explore if there's a way to make this larger, or if we need to wrap the card in a link, or...[something else]

[2021-05-04 20:55] lukasolson commented on #78553
Resolved by https://github.com/elastic/kibana/pull/94653.

[2021-05-04 20:56] graphaelli commented on #97934
We're certainly comfortable enabling our agents in any rum+nodejs application.  That said, the results are probably not well suited for user consumption as currently instrumented - the results are most useful to the developers of the application, mostly us in the case of Kibana.

I'd be happy to help coordinate pulling the right folks in from APM depending your goals.  @dgieselaar in particular ha

[2021-05-04 21:10] MSAdministrator commented on #68384
@jen-huang thank you! That helped! After running those calls I then ran the elastic-agent enroll and I see it in Fleet but no logs and no data streams - any ideas?

[2021-05-04 21:13] MSAdministrator commented on #68384
FYI I’ve also tried the install as well and no luck either.

I began by using the elastic-agent docker container but didn’t have any luck so I switched to unbuntu and some python code.

[2021-05-04 21:26] #98941 closed

[2021-05-04 21:27] jfsiii commented on #99187
@dikshachauhan-qasource can you open the console and share the http response for the bulk command?

My guess is it's trying the 5 in regular policies, then the 4 offline are failing, and it's calling the healthy one a success. But that just a guess, I haven't checked the code or tried locally.

Perhaps we should make sure we only send agents which are upgradable? I can't recall if we already do

c

[2021-05-04 21:30] shaunmcgough opened #99272 "[Discover] Reword the Options menu and Advanced Settings window text"
As part of setting up the new data grid, we have an options menu that alerts the user to its presence. We need to refine the wording of the message in the options menu to read as follows, and the wording in Advanced Settings as well.

## Menu
### Current
TEXT: Current view mode: Legacy table
TEXT: The new data grid layout includes enhanced data sorting, drag-and-drop columns, multi-document select

[2021-05-04 21:30] elasticmachine commented on #99272
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-04 21:39] #93245 closed

[2021-05-04 21:41] peluja1012 commented on #98285
@MadameSheema 7.13 PR has been merged https://github.com/elastic/kibana/pull/98856

[2021-05-04 21:43] pzl commented on #99030
I was able to spin up 7.13.0-100107e6 using linux (centos) and did not see any issues (top host in table)

![2021-05-04-174037_scrot](https://user-images.githubusercontent.com/315796/117073441-e5626180-acff-11eb-8cfe-f50be4f5e8af.png)

Trace-level agent+endpoint logs (interleaved)
[linux-bc3-logs.txt](https://github.com/elastic/kibana/files/6424114/linux-bc3-logs.txt)

[2021-05-04 21:48] peluja1012 commented on #92732
Thanks @madirey! I'm going to close this bug as fixed by this [PR](https://github.com/elastic/kibana/pull/94224). I agree with Madi here that it makes sense for the Preview show signals that exceed the threshold for each bar in the histogram. @dontcallmesherryli let me know if you think otherwise and I can reopen it.

[2021-05-04 21:48] #92732 closed

[2021-05-04 22:00] elasticmachine commented on #99244
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-04 22:00] elasticmachine commented on #99239
Pinging @elastic/kibana-gis (Team:Geo)

[2021-05-04 22:24] #98889 closed

[2021-05-04 22:29] cjcenizal commented on #13528
Based on the issue @spinscale reported, it seems like the problem we need to solve is the confusion he experienced, as opposed to something misbehaving on a technical level. Maybe the _solution_ could lie on the technical level (e.g. by changing the way we encode stuff in triple quotes), or maybe it's simply documenting the expected behavior as he suggests. Either way, I think this is still a vali

[2021-05-04 22:30] YulNaumenko commented on #94119
@mdefazio after some tries and discussion with @gchaps, we realized that it will we better to use the edit form with the warning message above the secret fields: "Sensitive information is not imported.  Please enter the values for these fields."
The mail reason why having only secret fields on the form won't work, because the user became out of the context what he is trying to fix (for email for e

[2021-05-04 22:30] shaunmcgough commented on #98567
We decided this would not make it in 7.13, and that we will settle for a bit of verbiage change in the Options menu and Advanced Settings as evidenced:

[Discover] Reword the Options menu and Advanced Settings window text for Data Grid #99272

[2021-05-04 22:33] myasonik commented on #98615
Actually, there's a a fix coming for this in EUI! https://github.com/elastic/eui/pull/4624

(It's not a complete fix but our DOM is firm for other a11y reasons.)

@legrego when I originally read this issue I was thinking about the dropdown menu in the header for switching spaces (which I realize was wrong now). But I think that menu is using `<button>` tags. Is that still the case or did that get

[2021-05-04 22:36] #98886 closed

[2021-05-04 22:40] jen-huang commented on #68384
@MSAdministrator Any logs from your elastic agent? Does it show as Healthy in Fleet?

[2021-05-04 22:54] jen-huang commented on #99116
@ruflin Yes, space-agnostic concept will still exist, but it's recommended to use a sharable type in most cases. I'm not sure if it makes sense to use sharable type for Fleet SOs, but it's something to consider now that we have this capability. I recall in the beginning we made everything agnostic for simplicity. For example, maybe certain spaces should only be able to manage certain agent policie

[2021-05-04 23:20] cjcenizal commented on #97689
@sebelga I really like your idea! Maybe we should just make Dev Tools access global and transient, so that it doesn't affect the route state. So, imagine you click this "Open in Dev Tools" button after inspecting a Dashboard panel:

![image](https://user-images.githubusercontent.com/1238659/117081100-1046b880-acf4-11eb-8425-55b69b7ba2f9.png)

The entire Dev Tools app slides up on top of the Dashbo

[2021-05-04 23:28] cuff-links commented on #99144
OK. Reran with enterprise license. Looks good on that front.

[2021-05-05 01:50] CruzMarcio opened #99300 "Email alerts link do not contain space id"
Kibana version: 7.12.1

Elasticsearch version: 7.12.1

Describe the bug:

Email alerts sent by Kibana do not include the space URL on the "View alert in Kibana." link, causing the link not to work when the alert is not created on the default space.

Steps to reproduce:

1. Set the publicBaseUrl property on the kibana.yml file to the mail Kibana Url like "https://elk.company.com"
2. Setup an alert

[2021-05-05 02:41] XavierM opened #99302 "[SECURITY SOLUTION] New Navigation for security solution"
For 7.14 the threat hunting team is working on this feature about the [new Kibana solution navigation](https://github.com/elastic/security-team/issues/895). We will like to take advantage of this feature to clean up our code and the way we created sub-plugin to make the actual kibana navigation works.

We would like to talk to the core team and get guidance from them so we can add the possibility

[2021-05-05 02:41] elasticmachine commented on #99302
Pinging @elastic/kibana-core (Team:Core)

[2021-05-05 02:41] elasticmachine commented on #99302
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-05 03:00] austinsonger commented on #95618
Here you go. So sometimes it produces the URL I want, but sometimes it errors like above.

[code]

[2021-05-05 03:56] peluja1012 commented on #82566
Fixed by this PR https://github.com/elastic/kibana/pull/96760

[2021-05-05 03:56] #82566 closed

[2021-05-05 05:41] tsullivan commented on #87071
I'm going to close this since there is no one asking for it

[2021-05-05 05:41] #87071 closed

[2021-05-05 05:41] tsullivan commented on #63639
Closed via https://github.com/elastic/kibana/issues/19914

[2021-05-05 05:41] #63639 closed

[2021-05-05 05:42] tsullivan commented on #41402
Depends on https://github.com/elastic/kibana/issues/99011

[2021-05-05 05:43] tsullivan commented on #34668
Closed via https://github.com/elastic/kibana/pull/88303

[2021-05-05 05:43] #34668 closed

[2021-05-05 05:44] tsullivan commented on #18378
Closing this as stale

[2021-05-05 05:44] #18378 closed

[2021-05-05 05:51] tsullivan commented on #75602
Closing this since scheduled reports UI is de-prioritized for now

[2021-05-05 05:51] #75602 closed

[2021-05-05 05:52] tsullivan commented on #60564
Going to close this since the idea does not pan out every time it is brought up.

[2021-05-05 05:52] #60564 closed

[2021-05-05 05:54] tsullivan commented on #43977
This has not been addressed yet: at the time of writing https://github.com/elastic/kibana/issues/81079 the APIs were not available to use the "unsaved" set of columns in the request.

I'm going to close this though, as a duplicate of https://github.com/elastic/kibana/issues/18439

[2021-05-05 05:54] #43977 closed

[2021-05-05 05:56] tsullivan commented on #70989
This was solved in https://github.com/elastic/kibana/pull/64853

[2021-05-05 05:56] #70989 closed

[2021-05-05 05:57] tsullivan commented on #58096
This is solved in https://github.com/elastic/kibana/pull/94966

[2021-05-05 05:57] #58096 closed

[2021-05-05 05:59] tsullivan commented on #25972
@gose that sounds like it could be related to https://github.com/elastic/kibana/issues/89555

[2021-05-05 06:01] tsullivan commented on #99120
Duplicate of https://github.com/elastic/kibana/issues/23289

[2021-05-05 06:04] cuff-links commented on #98867
There have been some directory changes when it comes to the REST APIs  on the elasticsearch side and are investigating what changes were made on the kibana side.

[2021-05-05 06:19] pgayvallet commented on #98881
Imho the solution should to be have `bfetch` switch its transport implementation depending on the current capabilities. It currently only supports one transport, let's call it `chunked-content`. When we'll support HTTP2, and if the instance's configuration / infra supports it, it should uses `SSE` instead, and fallback to the current `chunked-content` otherwise. That way, consumers of the `bfetch`

[2021-05-05 07:23] deepikakeshav-qasource commented on #98285
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **fixed**. All duplicate custom elastic rules are exported.

Build Details:
[code]

**Screenshot:**
**Export 536 rules:**

![exported_rules](https://user-images.githubusercontent.com/61860752/117106337-4ee47d80-ad9d-11eb-898c-468b1a7fd96f.jpg)

**Export 549 Rules:**

![exported_549_rules](https://us

[2021-05-05 07:24] #98285 closed

[2021-05-05 07:28] timroes commented on #99177
All that sounds reasonable for me, I guess my only question would be: should the `parent` flag also be written for non runtime fields object fields, or will it be a specific thing for runtime fields?

[2021-05-05 07:45] deepikakeshav-qasource commented on #97093
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **fixed**. "Create a template from timeline" and "Create a timeline from template" icons are removed.

Build Details:
[code]

**Screenshot:**
![from_rule](https://user-images.githubusercontent.com/61860752/117107974-2316c700-ada0-11eb-8520-33d982e61d4a.jpg)

![From_template_rule](https://user-images

[2021-05-05 07:45] #97093 closed

[2021-05-05 08:07] formgeist opened #99303 "[Uptime] User experience: Show a clean empty state with link to the RUM agent instrumentation"
# Summary

There's currently no empty state design for the user experience app, so if the user doesn't have any RUM agent data, we'll just show the entire UI with empty data messages.

<img width="914" alt="Screenshot 2021-05-05 at 10 06 20" src="https://user-images.githubusercontent.com/4104278/117112571-8c3f1000-ad89-11eb-902f-d80401914e7b.png">

We should design and implement a proper empty sta

[2021-05-05 08:07] elasticmachine commented on #99303
Pinging @elastic/uptime (Team:uptime)

[2021-05-05 08:56] stratoula commented on #99244
@n0othing thanx for reporting this. One solution is to not use the inspectors download functionality but the datatable export button instead If you choose Formatted:
![image](https://user-images.githubusercontent.com/17003240/117117827-a92f0f80-ad98-11eb-8176-0e1b91c2e25e.png)

The exported csv has all columns:
![image](https://user-images.githubusercontent.com/17003240/117117543-52293a80-ad98-11e

[2021-05-05 08:57] flash1293 opened #99308 "[Lens][Visualize] Allow editor access with dashboard all permission"
With by value panels people expect to be allowed to create and edit these panels if they have the dashboard all permission. However at the moment, visualization editors require visualize permissions to be used.

The permission model should be the following:

* dashboard all:
  * Lens access
  * Visualize editor access (listing page errors out)
* visualize (read and all):
  * Lens access
  * Visual

[2021-05-05 08:57] elasticmachine commented on #99308
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-05 09:06] ypid-geberit commented on #93588
It probably makes sense to broaden the scope of this enhancement because when a dev works on one instance, fixing all of them is simple repeat or ideally fixing one instance already fixes all of them (DRY: do not repeat yourself). At least Kibana Discover on 7.12.0 is also affected.

[2021-05-05 09:10] flash1293 opened #99310 "[Lens][Dashboard] Enable cross app request caching"
To benefit from client side request caching, the session id has to be kept stable when switching from Dashboard to Lens and back to Dashboard.

There are three parts to this:
* If Lens is loaded with a by value input, do not start a new session, but reuse the same session https://github.com/elastic/kibana/blob/2f66397b076d25eda2dfecad09b07e0246291faf/x-pack/plugins/lens/public/app_plugin/app.tsx#L

[2021-05-05 09:10] elasticmachine commented on #99310
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-05 09:10] elasticmachine commented on #99310
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-05 09:17] karanbirsingh-qasource commented on #97661
Hi @MadameSheema & @cnasikas

we have looked into the linked ticket https://github.com/elastic/sdh-security-team/issues/121 for the Issue cause that is due to wrong mapping being done for External Connectors ( like Service now description ) to wrong field (closed note ), which caused error creating case with that wrongly mapper connector.

So we have validated the above on 7.13.0 BC4 Cloud build w

[2021-05-05 09:27] ncamn opened #99311 "Grok Debugger returns a false positive for the JAVACLASS pattern"
**Kibana version:** 7.11.2

**Elasticsearch version:** 7.11.2

**Server OS version:** Ubuntu Bionic Beaver (18.04 LTS) (GNU/Linux 4.15.0-136-generic x86_64)

**Browser version:** Chromium Version 90.0.4430.93 (Official Build) Arch Linux (64-bit)

**Browser OS version:** Archlinux (GNU/Linux 5.11.16-arch1-1)

**Original install method (e.g. download page, yum, from source, etc.):** APT

**Describe

[2021-05-05 09:28] streamich commented on #82780
In 7.12 the "Transform" dropdown also seems to be populated on first click:

![image](https://user-images.githubusercontent.com/9773803/117120925-3d4aa800-ad94-11eb-8064-4ec4ce5a506b.png)

[2021-05-05 09:32] streamich commented on #82780
I can verify it is not working in 7.11 ("Transform" dropdown empty):

![image](https://user-images.githubusercontent.com/9773803/117121954-9961fc00-ad95-11eb-9677-cd73f1f57fea.png)

[2021-05-05 09:35] ypid-geberit opened #99312 ""Clickjacking" on mouse hover over Discover table cell (not legacy table)"
**Kibana version:**
7.12.1. (7.12.0 is also affected).

**Elasticsearch version:**
7.12.1

**Server OS version:**
SLES

**Browser version:**
Firefox

**Browser OS version:**
88.0

**Original install method (e.g. download page, yum, from source, etc.):**
https://github.com/deviantony/docker-elk.git

**Describe the bug:**
On mouse hover over a fields value, the buttons filter in/out and so on move i

[2021-05-05 09:48] flash1293 commented on #99190
@ThomThomson checked the PR and it's indeed fixed. Could you add a release note as part of your PR?

[2021-05-05 09:50] MadameSheema commented on #97661
@cnasikas @stephmilovic can you please check Karanabir's findings? Thanks

[2021-05-05 10:00] weltenwort commented on #98010
Yes, that sounds correct. :+1: It would still be valuable to optimize the query for "more than" cases IMHO.

[2021-05-05 10:03] dgieselaar commented on #98010
One solution would be to offer the user two filters: one that is applied as part of the query, and one that is applied as a filter aggregation.

[2021-05-05 10:14] afharo opened #99315 "[TelemetrySavedObjectsClient]: It could fail if Spaces is disabled"
The current implementation of the [`TelemetrySavedObjectsClient`](https://github.com/elastic/kibana/blob/master/src/plugins/telemetry_collection_manager/server/telemetry_saved_objects_client.ts) always prepends the option `namespaces: ['*']` to the `find` requests. This is to ensure that the telemetry requests run for all namespaces (i.e.: to count all the existing visualizations in the cluster).

[2021-05-05 10:14] elasticmachine commented on #99315
Pinging @elastic/kibana-core (Team:Core)

[2021-05-05 10:14] elasticmachine commented on #99315
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-05-05 10:14] tsg commented on #98246
Big +1 on these two. I would like to propose that we take it a step forward and when we review new or existing rule types we take the mindset of: "how can I exploit this code so that that event loop is blocked for a long time". This is similar to the mindset of a security audit (arguably, this is a DoS attack, so maybe not that far off).

My thinking in proposing this stance is that at the number

[2021-05-05 10:15] afharo commented on #99315
cc @elastic/kibana-security is there any way that validation could be removed and simply discard any `namespaces` properties if Spaces is disabled (similar to the OSS behaviour)?

[2021-05-05 10:17] crowels commented on #98597
I am seeing the same issue with upgrading from 7.11.2 to 7.12.1.  Shows new alert available in pop-up bottom right of page and on alerts page displays same error for Shard Size alert.

[2021-05-05 10:23] dgieselaar commented on #98246
++ Tudor, perhaps we can adopt the following priorities, in order:

- **Stability**. The performance impact of a rule should be predictable, and not unbound. This is where circuit-breakers would come in.
- **Reliable**. The rule should give reliable, reproducable results that the user can trust.
- **Responsive**. Rules should detect violations as quickly as possible.
- **Completeness**. Rules shou

[2021-05-05 10:24] afharo commented on #98916
After looking at the comparison table from above, it feels to me like the worst caveat for the array-based format is that the indexing logic to support arrays won't be available on the Remote Telemetry Service until mid-June.

If we implement these changes now, they'll make it for 7.14, and its Feature Freeze date is planned for later than that. I think we're safe with that second option.

[2021-05-05 10:26] streamich commented on #59415
I can verify in Kibana 7.13 we still have this problem:

![image](https://user-images.githubusercontent.com/9773803/117128010-252b5680-ad9d-11eb-8f5f-ece7cf0c5228.png)

[2021-05-05 10:35] jloleysens commented on #18439
Would it be desirable to, in certain cases, uncouple page state from the URL. This puts us back in the position of needing to save non-CSV reports first, however we can still help users out by offering to "Save and generate", something like:

<img width="512" alt="Screenshot 2021-05-05 at 12 32 04" src="https://user-images.githubusercontent.com/8155004/117128674-02e60880-ad9e-11eb-80bf-c765a1ee3c2

[2021-05-05 10:36] dgieselaar opened #99316 "[APM] Breadcrumb does not take transaction type into account"
When navigating to a transaction group detail view of a non-default transaction type, using the breadcrumb takes you back to the transactions overview page for the _default_ transaction type, and there is no other way to go back to the transactions overview page specific for that transaction type, other than using browser history.

[2021-05-05 10:36] elasticmachine commented on #99316
Pinging @elastic/apm-ui (Team:apm)

[2021-05-05 10:37] weltenwort commented on #98246
@dgieselaar Your suggestions match very well what we're currently learning from real-life problems users face with the metrics and logs alerts. :+1:

On the topic of circuit breakers I've been pondering how them being tripped should manifest itself:

- Silently ignore everything that exceeds the circuit breaker threshold?
- Use the partial results but surface a warning somehow?
- Fail the rule exe

[2021-05-05 11:01] gmmorris commented on #98246
Absolutely agree 👍

100%.

I _would_ think about **Completeness** as flexible such that _Eventually Complete_, where we compromise a bit on _responsiveness_ in order to achieve completeness at a later point (for example, by ensuring the first wave of notifications is immediate but some stragglers might appear a little later once the spike has subsided), is a good model.

We're redesigning the usag

[2021-05-05 11:01] dgieselaar opened #99317 "[APM] transaction type is not persisted from service inventory"
When clicking on a service in the service inventory, the displayed transaction type of the server is not persisted to the service overview page, which will then yield no results if the transaction type was non-default.

[2021-05-05 11:01] elasticmachine commented on #99317
Pinging @elastic/apm-ui (Team:apm)

[2021-05-05 11:02] gmmorris commented on #98010
If there's anything we can do at Platform level to make this kind of thing easier, please don't hesitate to pull us in :)

[2021-05-05 11:07] gmmorris commented on #95618
I don't think there's a way to do that in Mustache TBH.
The only thing I can think of is the use of custom functions, but that's [buried deep](https://github.com/elastic/kibana/issues/84217) in our backlog, and given the current set of priorities I don't see how we could fit this into the 7.x timeframe.

[2021-05-05 11:12] gmmorris commented on #99216
Thanks @marshallmain , we'll discuss it in our triage meeting today

[2021-05-05 11:14] gmmorris commented on #92802
None at all for TM.
@mikecote might know better than me, but I wasn't aware of this being on the books at all.

Is this blocking you?

[2021-05-05 11:16] weltenwort commented on #98010
Yes, that would be one approach, but it might make it a lot harder for the user to understand. Maybe there's a way to structure this in the UI in such a way that the semantics of opting into an expensive execution strategy would become apparent. Those would all be breaking changes, though.

[2021-05-05 11:17] dikshachauhan-qasource commented on #99187
Hi @jfsiii

We have revalidated the above reported issue and as per your feedback it seems right.

The earlier reported confirmation message was might showing up due to agent status that were offline. However, when today we validated on new BC4 build with all agents up, it was working as expected.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/117132924-240c2080-adc1-11eb

[2021-05-05 11:17] #99187 closed

[2021-05-05 11:19] dikshachauhan-qasource commented on #89113
Hi @jen-huang

Thanks for the feedback. we will update content if have any related testcases.

Thanks
QAS

[2021-05-05 11:22] ruflin opened #99319 "[Fleet] Show better message to users when log collection is disabled"
In Fleet it is possible to specify on a policy if logs should be collected or not. If the log collection is disabled and I navigate to `Agents -> Specific Agent -> Logs` it tells me there is no data and to adjust the filter. But Fleet knows, that the log collection is disabled. It should be shown here that to get logs, log collection in the policy must be enabled.

[2021-05-05 11:22] elasticmachine commented on #99319
Pinging @elastic/fleet (Team:Fleet)

[2021-05-05 11:22] joshdover commented on #91615
@elastic/kibana-security Friendly bump on this. We'd like to align on an approach in the next few weeks so that we can prioritize any necessary work on our end for the 8.0 release.

[2021-05-05 11:31] dikshachauhan-qasource commented on #95445
Hi @mostlyjason

We have initiated the testing around this and will update our observation under this ticket after validating each mentioned scenario.

cc @EricDavisX

Thanks
QAS

[2021-05-05 11:32] joshdover commented on #97934
I think we need to be adding human-readable transactions and spans for key user interactions. For example, visualization renders, dashboard renders, async search, discover search, alert executions, action executions etc. With these in place, we should be able to give users much more detailed information about what user-created data may be causing problems in their cluster.

Some folks from the Kib

[2021-05-05 11:34] #93392 closed

[2021-05-05 11:40] dgieselaar opened #99321 "[APM] APM static index pattern breaks in discover"
When trying to use the APM static index pattern, Discover will not return any results due to shard failures. Some digging seems to reveal that the fact that we have a sourceFilter (for `sourcemap.sourcemap`) results in Discover trying to fetch field data for fields individually, including _id, which will result in the following shard failure:

`unsupported_operation_exception: Cannot fetch values

[2021-05-05 11:40] elasticmachine commented on #99321
Pinging @elastic/apm-ui (Team:apm)

[2021-05-05 11:44] ashokaditya commented on #97457
@kevinlog when we say "active" agents we mean "enrolled" agents. Am I right? Or does it mean something else?

[2021-05-05 11:47] kevinlog commented on #97457
@ashokaditya

This is correct.  "active" refers to Agents that enrolled and available to send actions, policy updates and are shipping data to the stack.  "inactive" Agents refer to Agents that have been unenrolled and are no longer shipping data (likely uninstalled on the Host machine as well.)

[2021-05-05 11:48] ashokaditya commented on #97457
Thanks, @kevinlog.

[2021-05-05 11:50] elasticmachine commented on #99321
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-05 11:59] alexwizp commented on #93770
changes related to the KibanaApp team are ready (#99031, #99023, #98914, #98903) but blocked by #99044

[2021-05-05 12:04] tsg commented on #98246
The second option seems ideal to me. As part of https://github.com/elastic/kibana/issues/98912 we're formalizing the ability for Rule types to index "exec log events" or "evaluations". I think this is a good place to record the warnings. Then the unified rule monitoring UI/X that will follow after 7.14 but before 7.last should surface the warnings in good ways to the end-user (part of the overall

[2021-05-05 12:14] yuliacech opened #99322 "[Discuss] Reusable mocks for EUI components"
While working on [PR#97472](https://github.com/elastic/kibana/pull/97472) we started a [discussion](https://github.com/elastic/kibana/pull/97472#discussion_r616070691) on how to handle mocking EUI components like `EuiCombobox` or `EuiSearchBox` in our jest client integration tests. We need to mock some EUI components to have an easy way of interacting with them in tests.
 There are helper function

[2021-05-05 12:17] muskangulati-qasource commented on #99030
Hi @ferullo,

We tested this ticket again using the environment provided by Kevin. Please find below complete testing details.

**Build Details**:
[code]

### Observations:
Please find the detailed investigation done for all the endpoints in the table below:

| IP address + VM link | OS, version & Architecture | Signing | Agent Logs | Endpoint Logs | Status | Remark |
| ---- | ---- | ---- | ---- |

[2021-05-05 12:20] karanbirsingh-qasource opened #99324 "[Security Solution] No Response on UI or Network log on clicking deleted timleine attached to case"
**Describe the bug**
No Response on UI or Network log on clicking deleted timeline attached to case

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC3 should be there.
2. Audit beat should be connected with above environment.

**Steps to Reproduce**
1. Login to kibana
2. Navigate to Timeline tab.
3. Create Timeline.
4. Attach above timeli

[2021-05-05 12:20] elasticmachine commented on #99324
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-05 12:20] karanbirsingh-qasource commented on #99324
@manishgupta-qasource please review

[2021-05-05 12:21] manishgupta-qasource commented on #99324
Reviewed & Assigend to @MadameSheema

[2021-05-05 12:27] karanbirsingh-qasource opened #99326 "[Security Solution]"Successfully deleted <timeline name /count> timeline" is not received on deleting timeline"
**Describe the bug**
"Successfully deleted <timeline name /count> timeline" is not received on deleting timeline

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC3 should be there.
2. Audit beat should be connected with above environment.

**Steps to Reproduce**
1. Login to kibana
2. Navigate to Timeline tab.
3. Create Timeline.
4. Delete

[2021-05-05 12:27] elasticmachine commented on #99326
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-05 12:27] karanbirsingh-qasource commented on #99326
@manishgupta-qasource please review

[2021-05-05 12:28] elasticmachine commented on #99324
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-05 12:29] elasticmachine commented on #99326
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-05 12:29] kevinlog commented on #99030
@muskangulati-qasource @ferullo @nfritts I also encountered the logging issue when deploying Win 7.  After restarting the host machine, the Win 7 endpoint enabled logging successfully and I got a successful policy.  Is this a known issue?

Here is a Win 7 machine from me on the same cloud instance:

![image](https://user-images.githubusercontent.com/56395104/117141017-0ec0d300-ad7c-11eb-9c67-b1d2b

[2021-05-05 12:30] manishgupta-qasource commented on #99326
Reviewed the issue

[2021-05-05 12:32] ferullo commented on #99030
Could you share the policy response documents for the two failed Windows 7 machines?

[2021-05-05 12:34] joshdover opened #99328 "Upgrade elastic.apm.* configuration to "beta""
Though we've had a working APM agent integration since 7.12, we have not yet documented the configuration keys or allowed customers to configure these on Cloud/ESS.

This issue is to discuss the remaining work needed to get this feature up to a "beta" status in order to allow customers to debug problematic visualizations, dashboards, and other user-created features that may be causing performance

[2021-05-05 12:34] elasticmachine commented on #99328
Pinging @elastic/kibana-core (Team:Core)

[2021-05-05 12:34] #99036 closed

[2021-05-05 12:35] ferullo commented on #99030
From the logs it looks like you have set the log level to the empty string (`""`) which is causing that to fail. Are the Windows 7 machines on their own policy?

[2021-05-05 12:39] #98890 closed

[2021-05-05 12:41] sebelga commented on #97689
I wonder if it wouldn't be a nice experience to focus what is being opened. In this case just console with the query prepopulated. The panel could potentially only open 50% of the screen height to let the user view changes he makes to the query and how it affect the dashboard. He could, if he wanted, expand the panel full screen too as in your screenshots.

For the search profiler we are only inte

[2021-05-05 12:42] sebelga commented on #99177
Any field could potentially define it but for the time being it would only be set when creating runtime fields.

[2021-05-05 12:48] legrego commented on #98615
@myasonik

That's great news!

We are using `EuiContextMenuItem` for these entries, with an `href` tag:

https://github.com/elastic/kibana/blob/d2b9caa1a7e97e996a127755cef10d33f755f267/x-pack/plugins/spaces/public/nav_control/components/spaces_menu.tsx#L199-L208

[2021-05-05 12:50] estermv opened #99333 "[Metrics UI] Popovers break pagination in the table view of the Inventory page"
**Kibana version:** master

**Describe the bug:** In the table view of the Inventory page each node shows a popover when clicked:
<img width="300" alt="Screenshot 2021-05-05 at 14 29 44" src="https://user-images.githubusercontent.com/2249229/117141019-595b4300-adae-11eb-90fa-fdf05c937bcc.png">
This seems to break pagination if the user navigates to different table pages and then tries to open a po

[2021-05-05 12:50] elasticmachine commented on #99333
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-05 12:57] TuemmlerKelch commented on #18439
My issue with having to save those searches is that our infrastructure is bloated with saved searches that were only needed once, because most people forget to delete those.
It might be a feasible workaround to implement a button that says: "generate PDF" while in the background it's doing the following:
1. save search temporary name
2. create report
3. delete search after report creation

[2021-05-05 13:00] legrego commented on #99315
I don't believe that OSS discards any `namespaces` properties. I think the safest solution is to test if spaces is enabled or not. We already have a `spacesOss` plugin outside of x-pack, but it's only a client-side plugin today. We would need to add a server-side component for you to take advantage of this

[2021-05-05 13:01] muskangulati-qasource commented on #99030
Hi Kevin,

We did report a similar issue: #97229 where we had to restart a host in order to bring policy to the success state. But it was resolved after the fleet-server changes were merged.

@ferullo,

We did not update any thing is the policy and used exactly same policy for all the endpoints.

Please find below the state.yml files for both the endpoints.
- Windows 7 (Test signing Enabled): [10.

[2021-05-05 13:12] jloleysens commented on #99120
@tsullivan I'm not certain this is a duplicate of that old issue, this is possibly something that was introduced recently. It looks like our injected reporting styles no longer have an effect on the dashboard since the wrapping `dshAppContainer` class was removed. Looks like this was the commit:

https://github.com/elastic/kibana/pull/97017/files#diff-e6d71f1aedc83d64a30ff42aea89dfd2831b067abeaab8

[2021-05-05 13:15] kertal commented on #99272
@shaunmcgough have a few questions
* Get started would link to Advanced settings?
* Link to docs - where should it link to?
* Should the text be the same even the new table is `on`?
![Uploading Bildschirmfoto 2021-05-05 um 15.00.18.png…]()
thx!

[2021-05-05 13:25] deepikakeshav-qasource opened #99338 ""is in list" option and some other options are not available under the operator drop down when adding the rule exception in custom query rule."
**Description**
"is in list" option and some other options are not available under the operator dropdown when adding the rule exception in custom query rule.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Auditbeat should be installed
3. Value list file should be uploaded

**Steps to Reproduce:**
1. Navigate to Detection tab of secur

[2021-05-05 13:25] elasticmachine commented on #99338
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-05 13:27] karanbirsingh-qasource opened #99339 "[Security Solution]"Cancel" text missing along the cross icon on add detection alert to New Case modal"
**Describe the bug**
"Cancel" text missing along the cross icon on add detection alert to New Case modal

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC3 should be there.
2. Endpoint should be installed on above environment.

**Steps to Reproduce**
1. Login to kibana
2. Navigate to detection tab.
3. Select any of the detection alert.
4.

[2021-05-05 13:27] elasticmachine commented on #99339
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-05 13:27] karanbirsingh-qasource commented on #99339
@manishgupta-qasource please review

[2021-05-05 13:27] ymao1 commented on #94152
From [this comment](https://github.com/elastic/kibana/pull/98802#issuecomment-832679898), it would be nice to add something to the import warning if imported connectors have a higher license level than current Kibana uses.

[2021-05-05 13:32] #33006 closed

[2021-05-05 13:33] timroes opened #99341 "Offer an extension point to "open a document" in another app"
We should create a uiAction, for `OPEN_DOCUMENT` that apps can register into if they are able to handle opening (specific) documents. We should use that action in Discover to allow users jumping from any document to any of those apps that have registered an action for the `OPEN_DOCUMENT` trigger.

This would help enable use-cases like APM being able to link from Discover to APM for their specific

[2021-05-05 13:33] elasticmachine commented on #99341
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-05 13:34] timroes commented on #48784
I've opened https://github.com/elastic/kibana/issues/99341 to track the technical support in Discover for you to be able to implement something like this.

[2021-05-05 13:41] streamich commented on #97873
EUI dropdown currently does not support `autoFocus` prop, it was [just added](https://github.com/elastic/eui/pull/4772), it will be available in next EUI upgrade.

[2021-05-05 13:44] cauemarcondes opened #99345 "[APM] Sort by name on traces and transactions pages are not working"
https://user-images.githubusercontent.com/55978943/117150860-8bf14580-ad86-11eb-908f-3ffa8fcb9863.mov

https://user-images.githubusercontent.com/55978943/117207416-ecea3f00-adc1-11eb-9943-5fd17b51eb2b.mov

[2021-05-05 13:46] elasticmachine commented on #99339
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-05 13:46] kaiyan-sheng commented on #97106
@sorantis @simianhacker https://github.com/elastic/beats/pull/24312 is merged into master and 7.x branch. Please let me know if there's anything you see while applying new fields in metrics UI. Thank you!!

[2021-05-05 13:51] ymao1 commented on #98624
From the example that was provided:

[code]

It looks like the aggregation is running over all the data but the count that is returned is 10,000 which is the max number returned when `track_total_hits` is not set to true for a query. [reference](https://www.elastic.co/guide/en/elasticsearch/reference/7.12/search-your-data.html#track-total-hits) I believe the aggregation is running over all the dat

[2021-05-05 13:54] streamich commented on #97873
I was talking about these changes especially in the accessibility context with Design team and Michail in Slack and here are takeaways:

- In general, the popup can be navigated well with the keyboard and implementing these changes will speed it up by a few `Tab` key presses, so maybe these changes (especially in terms of code complexity) are not worth it.
- If we want to auto-focus some element,

[2021-05-05 13:54] manishgupta-qasource commented on #99338
Reviewed & assigned to @MadameSheema

[2021-05-05 13:56] formgeist opened #99346 "[APM] Deployment annotation tooltip won't show when the cursor is actively hovering the annotation"
Kibana version: master

# Summary

As shown in the example GIF below, the annotation tooltip isn't displayed even if the cursor is actively hovering the "hit area". Not until the cursor moves out of the chart and in **from the top** does it show.

![2021-05-05 at 15 54 45 - Blue Cattle](https://user-images.githubusercontent.com/4104278/117152507-5d8d5d80-adba-11eb-9566-437a14739264.gif)

[2021-05-05 13:56] elasticmachine commented on #99346
Pinging @elastic/apm-ui (Team:apm)

[2021-05-05 13:56] cauemarcondes opened #99347 "[APM] Error badge not being shown on trace waterfall?"
Tested on edge
http://localhost:5601/foo/app/apm/services/opbeans-java/transactions/view?rangeFrom=2021-05-05T13:22:56.720Z&rangeTo=2021-05-05T13:22:57.377Z&transactionName=DispatcherServlet%23doGet&transactionType=request&latencyAggregationType=avg&traceId=f2097c88f837ab8b22712f6ab84c4362&transactionId=e9457bfed3f3b723&flyoutDetailTab=&waterfallItemId=

Waterfall contains one `500 Internal server

[2021-05-05 13:57] elasticmachine commented on #99347
Pinging @elastic/apm-ui (Team:apm)

[2021-05-05 13:57] MadameSheema commented on #99338
@deepikakeshav-qasource can you please check if the same results happens after uploading a value list? lots of thanks :)

[2021-05-05 13:58] elasticmachine commented on #99338
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-05 13:59] cauemarcondes commented on #99346
Related to https://github.com/elastic/elastic-charts/issues/1063

[2021-05-05 14:06] mshustov commented on #52746
Un-assigning myself as I'm not actively working on it.

[2021-05-05 14:08] mshustov commented on #39430
Un-assigning myself as I'm not actively working on it.

[2021-05-05 14:09] #12464 closed

[2021-05-05 14:14] jportner commented on #91615
:+1:

I like this proposal. I think we should limit this new feature to users who are "global admins", those who have privileges to access the global resource (e.g., "All Spaces"). If a user is not a global admin, each exported object's `namespaces` array would be redacted by the security plugin.

Just to be clear: the idea here is that the kibana-wide backup would include the actual spaces themse

[2021-05-05 14:18] majagrubic commented on #99321
1. Could you give us the exact version you're testing this on?
2. What is the field filter on? (what field exactly)
3. Did you change something in meta fields in advanced settings?

Discover (aka search source) is not requesting meta fields and explicitly and `_id` being one of them is indeed not in either one of the requests you pasted.

[2021-05-05 14:22] #47378 closed

[2021-05-05 14:26] shaunmcgough commented on #99272
@kertal yes the Advanced Settings' setting for this option. It should be the same link as it is now. The Link to docs should go to the what's new section about the new table. I believe @gchaps has that link. I think the text can stay the same when it's on, sure.

[2021-05-05 14:30] gmmorris commented on #98912
That's good to hear, as this questions is one of the main blockers for migrating Stack Rules to Alerts-as-Data.
Can we proceed with the assumption that consumer will be in the index name? Who should we work with to make sure this is reflected in the Rules Registry/ Alert indices?

[2021-05-05 14:39] pmuellr commented on #98246
One thing not yet mentioned is task cancellation.  Task manager has the ability to "cancel" tasks that run over their timeout, but the task actually has to respond to it - nothing in nodejs can really "kill" another flow of execution safely.  We saw the outcome of this with the async search sessions that were being sent the cancel signal, but didn't implement any way to deal with it.

The implicat

[2021-05-05 14:40] MadameSheema commented on #99034
Closing since is the expected behaviour right now.

[2021-05-05 14:40] #99034 closed

[2021-05-05 14:43] thomheymann opened #99353 "Allow users to keep context when session expires"
Currently, when an API call returns a 401 Forbidden error, or when a session expires, users are kicked out of Kibana and redirected to a separate login page. This makes for a bad user experience since they loose any unsaved progress and/or context about where they left off.

Instead of redirecting users to a separate login page, we can show a modal telling the user that their session has expired a

[2021-05-05 14:43] elasticmachine commented on #99353
Pinging @elastic/kibana-security (Team:Security)

[2021-05-05 14:48] cauemarcondes commented on #99317
Maybe we should consider not showing the default transaction type when the transaction.type is set on the kueryBar too?!

<img width="2853" alt="Screen Shot 2021-05-05 at 10 47 58" src="https://user-images.githubusercontent.com/55978943/117160863-7896a800-ad8f-11eb-9e91-4f6417db77d3.png">

[2021-05-05 14:51] formgeist commented on #99317
If you deliberately set another transaction type in the kuerybar, the result should be that as shown above. You should use the picker to change the transaction type. It's going to be hard to make this work in sync. The same goes for `service.environment`.

[2021-05-05 14:53] dgieselaar commented on #99317
@cauemarcondes it's not specific to adding a filter on transaction.type. A more realistic use case is to filter on a trace.id for a specific transaction type in the service inventory, that only returns result for a non-default transaction type, and then you navigate to that service. I think the easy fix is to add the transaction type in the URL when linking from the service inventory to the servic

[2021-05-05 14:54] formgeist commented on #99317
Agreed 👍

[2021-05-05 14:55] timroes commented on #99308
Just for clarification: Dashboard all permission would also only grant you to save a visualization from the editor (you now have access to) to a dashboard, but not into the library. You'd need Visualize permissions (that we should most likely rename "Visualize Library" in this case) to edit anything in the library. We should also most likely check on a dashboard, before enabling the edit button fo

[2021-05-05 14:56] cauemarcondes commented on #99317
I got it @dgieselaar I was just pointing out another possible problem.

[2021-05-05 14:58] banderror commented on #98912
Regarding consumer vs producer, could you explain what that actually means? What would be examples of producers and consumers in terms of RAC?

From the current code of detection engine, I can see that:

- when we register our rule types (`siem.signals` and `siem.notifications`), we specify `producer: 'siem'`
- when we create rule instances, we specify `consumer: 'siem'`

So seems like for our rul

[2021-05-05 15:00] afharo commented on #99315
This made me wonder if I was testing it wrong (because I recall testing OSS and checking it didn't fail) 😅.

So there's nothing to worry about: the TelemetrySavedObjectsClient directly extends Core's SavedObjectsClient, so it's not affected by the namespaces limitations. I had this conversation back when I implemented it with Rudolf and we both agreed that only for fetching telemetry, it shouldn't

[2021-05-05 15:00] #99315 closed

[2021-05-05 15:02] banderror commented on #98912
@spong @dgieselaar @banderror :) I will incorporate all the feedback from this RFC to https://github.com/elastic/kibana/pull/98353

[2021-05-05 15:07] #96362 closed

[2021-05-05 15:08] banderror commented on #98912
@spong regarding version in the index name and Tudor's comment https://github.com/elastic/kibana/issues/98912#issuecomment-831550526

I'd say maybe we should stick to the same approach as we already have in the `.siem-signals` implementation - unless there are any known issues with it and our signals migration?

[2021-05-05 15:09] elasticmachine commented on #99312
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-05 15:10] ymao1 commented on #98912
@banderror The alerting framework maintains the idea of producer and consumer, where the producer is the solution creating the rule type (`security`, `uptime`, `apm`, `stackRules`, etc) and consumer is essentially the location within Kibana where the user is creating the rule of that type. You are correct in that right now, there are not many examples of rules with different consumers and producer

[2021-05-05 15:15] afharo commented on #99044
I see the concerns with querying different `types` in the same `pit`. But how `namespaces` is a blocker? AFAIK, we only link alternative indices to `types`, but not `namespaces`.

Maybe that's changed since the last time I checked?

[2021-05-05 15:16] XavierM commented on #93418
@deepikakeshav-qasource Can you please re-test in 7.13 BC4?

[2021-05-05 15:18] michaelolo24 commented on #92608
@karanbirsingh-qasource can you please try reproducing this on the latest bc? I've tried to reproduce on my side multiple times, but no luck yet. I'm happy to hop on a zoom tomorrow to show you what I'm seeing

[2021-05-05 15:24] michaelolo24 commented on #92608
If it helps, this is what I'm seeing on latest 7.12

https://user-images.githubusercontent.com/17211684/117166438-60755780-ad94-11eb-8f2d-37433c6ca39b.mp4

[2021-05-05 15:25] XavierM commented on #99339
@monina-n Can you tell us how you want us to fix that?

[2021-05-05 15:25] michaelolo24 commented on #97953
@manishgupta-qasource can you please verify this has been fixed in the latest BC? Thanks!

[2021-05-05 15:27] jonathan-buttner opened #99358 "[Security Solution] Add sourcerer to maps visualization"
When an index without the `geoip` fields mapped is included in the indices displayed on the Network page's map, Kibana will display errors because the indices do not have the necessary fields for Elasticsearch to perform the requested queries by the map visualization.

These issues describes the errors seen:
https://github.com/elastic/kibana/issues/73304
https://github.com/elastic/kibana/issues/90

[2021-05-05 15:27] elasticmachine commented on #99358
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-05 15:33] #94151 closed

[2021-05-05 15:36] pmuellr commented on #99216
We have an issue open for some other bulk operations - https://github.com/elastic/kibana/issues/53144

[2021-05-05 15:37] nfritts commented on #99030
@muskangulati-qasource Could you check to make sure that your Windows 7 VM has the following KB installed and see if it fixes the install issues?  https://www.catalog.update.microsoft.com/Search.aspx?q=KB4474419

Thanks!

[2021-05-05 15:38] jonathan-buttner commented on #95618
Thanks for the response @gmmorris, any thoughts on the `context.results_link` not producing the correct URL? Seems like sometimes it doesn't include the correct basepath to kibana but instead is just a relative path for the alert.

@dhurley14 @marshallmain is the `context.results_link` populated in the detection engine?

[2021-05-05 15:39] kibanamachine commented on #99027
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13834/)

[2021-05-05 15:39] stephmilovic commented on #98466
my apologies for the delay in response, missed the notification - it seems like this is happening because it is resetting to the current pattern set rather than the default pattern set

[2021-05-05 15:40] wylieconlon commented on #78351
I like that you're starting to evaluate alternatives, but maybe my question was lost in the discussion. Asking again:

What is your advice to current developers, and can this be shared widely among the Kibana contributors?

[2021-05-05 15:41] XavierM commented on #97989
@karanbirsingh-qasource @angorayc Can you meet over zoom so you can show us ( angela ;) ) how to reproduce this bug?

[2021-05-05 15:42] #98057 closed

[2021-05-05 15:46] gchaps commented on #99272
@shaunmcgough I don't think the What's New doc adds much more information than what's in the notification.  What if we remove the docs link?

[2021-05-05 15:49] XavierM commented on #90355
@rylnd and @monina-n should talk about how we are going to represent nest fields inside of the t-grid.

[2021-05-05 15:50] elasticmachine commented on #90355
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-05 15:50] kobelb commented on #91615
@pgayvallet is my understanding correct that you're proposing leaving the import/export API how it behaves today, where it only works for a single space, always excludes the namespaces on export and uses the current space on import. And to support the additional use-cases, we'd add a backup/restore API that would work across all Spaces and include the namespaces on export and respect them on impor

[2021-05-05 15:50] banderror commented on #98912
Oh I see that now, thank you @ymao1 for the clear explanation.

a security rule type or a stack rule type. If we allow for this, we would want the user to see alerts from stack rules that were created from within the security solution.

Gotcha. Maybe it means that a rule type (a stack rule type in this case), instead of indexing alerts directly, will need to use some kind of an indexing "strategy"

[2021-05-05 15:51] estermv commented on #97759
There are a couple of things that are not clear to me:

for example: (https://localhost:5601/ubx/app/metrics/explorer).

In the default view, my URL is like this `/app/metrics/explorer?metricsExplorer=(chartOptions:(stack:!f,type:line,yAxisMode:fromZero),options:(aggregation:avg,metrics:!((aggregation:avg,color:color0,field:system.cpu.user.pct),(aggregation:avg,color:color1,field:kubernetes.pod.cp

[2021-05-05 16:01] ThomThomson commented on #99172
I was able to recreate this in 7.12 and 7.13, but it seems like this is fixed in master. Not sure which PR fixed it though, I will do a little digging.

[2021-05-05 16:02] legrego commented on #91615
I'd love to explore this further. I'm not sure how much pushback we would get from the community (or support), but it's an exciting proposal.

IMO the new feature is an opportunity to use a new data structure, with first-class support for metadata.

[2021-05-05 16:03] afharo commented on #13649
@pgayvallet AFAIK, that API is already using `create` with `override`. The problem in this issue is that the user creates the index pattern manually (which has a random ID), and then Beats will import the SO with the fixed ID, so neither create nor upsert will attempt to modify the manually created index patter (just because they have different IDs).

I hope it makes sense.

[2021-05-05 16:07] myasonik commented on #98615
Then I'm going to close the issue here as there's nothing more to do in Kibana

@mcandre in case you weren't following, in summary:
- The Spaces are links but because of some other DOM constraints, the actual link hit area is small
- There's some in-progress work in EUI (our design system/component library) that should improve this situation some but nothing left to do in Kibana it self

Feel free

[2021-05-05 16:07] #98615 closed

[2021-05-05 16:14] ferullo commented on #99030
This appears to be an Agent bug. cc @ph

I logged into 10.0.5.197 and looked at `state.yml`, `fleet.yml`, and `elastic-endpoint.yaml`.

`state.yml` is unremarkable, there's no reason to share it.

`fleet.yml` contains
[code]

`elastic-endpoint.yaml`'s `fleet` section is below. Notice that the logging level is `""`. There is no reason this would be changed by Endpoint after its received by Agent. E

[2021-05-05 16:18] Dosant opened #99372 "[Index Patterns] Public REST API Docs"
Index patterns provide an HTTP API, but I am not sure I've seen it is documented anywhere except the pr description: https://github.com/elastic/kibana/pull/83576

This needs public-facing documentation.

Related: https://github.com/elastic/kibana/issues/92125

[2021-05-05 16:18] elasticmachine commented on #99372
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-05 16:19] Dosant commented on #92125
FYI: also created an issue for REST API docs https://github.com/elastic/kibana/issues/99372

[2021-05-05 16:20] timroes commented on #99312
cc @chandlerprall Since this is something internal to how Data Grid works, I wanted to raise awareness for you, since I don't think there's anything we can do against that on the Kibana side?

[2021-05-05 16:27] justinkambic opened #99373 "[Uptime] Synthetics http timeout field listed as optional"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Server OS version:**
macOS big sur

**Browser version:**
chrome 90

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
The `timeout` field in the synthetics integration is listed as Optional, but it doesn't behave as if it were optional.

**Steps to

[2021-05-05 16:27] elasticmachine commented on #99373
Pinging @elastic/uptime (Team:uptime)

[2021-05-05 16:29] tsullivan commented on #18257
Added the KibanaApp team label, since this is an issue with how a page behaves when rendered for reports

[2021-05-05 16:31] tsullivan commented on #44543
Let's see if this issue is raised using the AXE tool

[2021-05-05 16:33] tsullivan commented on #18095
Going to close this since it is stale, and there were some old issues with not having a stable provider of "now" for pages. Many changes have since gone in to the **NowProvider**

[2021-05-05 16:33] #18095 closed

[2021-05-05 16:46] dgieselaar commented on #99321
@majagrubic:

This happens on 7.13. I've linked to two environments on slack.

it's a sourceFilter, on `sourcemap.sourcemap`. We don't use that field anymore I think.

No. The requests are different, as you can see. The first request (that fails) is requesting _id as a field, the other one is not:

![image](https://user-images.githubusercontent.com/352732/117178227-1dd27000-add2-11eb-8071-b0912940

[2021-05-05 16:50] majagrubic commented on #99321
Yes, I see now. This shouldn't be happening, ie. we should never be requesting meta fields. I don't think this was present in 7.12, looks like a recent regression.

[2021-05-05 16:54] legrego commented on #24606
Kibana won't be able to support this until/unless Elasticsearch first gets support for AD password resets. In the meantime, Kibana's login selector UI allows for [custom messages](https://www.elastic.co/guide/en/kibana/current/security-settings-kb.html#login-ui-settings), so you can provide a link from there to reset passwords within an external system.

[2021-05-05 16:59] dasansol92 commented on #99184
PR2: https://github.com/elastic/kibana/pull/99377

[2021-05-05 17:07] shaunmcgough commented on #99272
Ok to remove, yup!

[2021-05-05 17:11] jen-huang commented on #99319
@ruflin It's possible that they will have logs if they have previously enabled log collection. So maybe we can show some messaging around that but still keep the logs UI around in case they already have logs.

[2021-05-05 17:12] alisonelizabeth commented on #64473
The tests are passing for me locally, and I'm not seeing the same error mentioned in https://github.com/elastic/kibana/issues/64473#issuecomment-775322843. I've opened a draft PR to rerun via flaky test runner.

[2021-05-05 17:12] jen-huang commented on #99319
@hbharding Requesting design advice for this :)

[2021-05-05 17:17] bhavyarm opened #99381 "Kibana logs should warn users about security instead of unable to retrieve saved object information without enabling verbose logging"
**Kibana version:** 7.13.0 BC4

**Elasticsearch version:** 7.13.0 BC4

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** From staging

**Describe the bug:** If user has security setup in ES and tries to connect to Kibana without security - Kibana logs show
[code]

Only af

[2021-05-05 17:17] elasticmachine commented on #99381
Pinging @elastic/kibana-core (Team:Core)

[2021-05-05 17:19] monina-n commented on #99339
@XavierM The cancel button should be available in the flyout as well. The 'X' icon on top can also close the new case flyout so for the flyout, we will have two exit points to keep consistency.

[2021-05-05 17:24] pmuellr commented on #98624
Oh, my first thought when I saw mention of this was that the problem was the agg was only returning 10 terms (task types), rather than all of them.  But I wasn't listening all that closely.  I do remember hearing that there were task types we expected to see in the list, that we didn't, so ... somehow we're missing some buckets ...

Ah, just saw the linked PR and can see that is being addressed!

[2021-05-05 17:29] kmartastic commented on #96836
Path forward:

`New Layer Flow`
-Add Layer > Create Index
-Automatically start editing > Show toolbar with appropriate controls

'Edit Existing Layer Flow`
-Map has editable layers
-Click Tools > Edit layer by selecting appropriate index + layer combination
-Show toolbar with appropriate controls

Questions:
1. Do we need a commit per new document? per editing session?
2. Can we support automatic

[2021-05-05 17:38] tamland commented on #87048
We use `{{alertInstanceId}}` as a workaround for recovered message. Not the prettiest but at least gives _some_ information about which monitor is back up.

[2021-05-05 17:42] mshustov commented on #99381
@bhavyarm is not a blocker for release, is it?

[2021-05-05 17:42] banderror commented on #98912
Regarding Kibana version in the name and migrations/rollovers. This is how it's implemented in Security for `.siem-signals` index.

Basically, we don't have Kibana version in the index name, but instead we maintain [index template version](https://github.com/elastic/kibana/blob/538a6c0eb4b12cc38218e89245e7a429050e9f99/x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_si

[2021-05-05 17:44] lukeelmers commented on #99044
`namespaces` is not a blocker pre se, just a consideration that would need to be discussed in the PR. The case I'm thinking about is when the DSL query is written in `find`, and `typeToNamespacesMap` is used... in that case, AFAICT a `type` can be dropped entirely if it isn't authorized in any namespace. (I am by no means an expert on how we are securing spaces, just was looking at this test case)

[2021-05-05 17:48] dgieselaar commented on #98912
re:

We could alleviate this concern by scheduling a task, as that is guaranteed to be picked up by a single Kibana instance (I think Gidi or Patrick suggested that).

[2021-05-05 17:51] XavierM opened #99386 "[RAC][CASES] Get requirements from Observability Solutions"
Cases team needs to gather requirements/features from the observability teams. We will add of these requests in our backlog and prioritize them for 7.x and 8.x.

We will also making sure these features have been discussed with the security solutions PO to see if they make sense for both solutions.

[2021-05-05 17:51] spalger commented on #99027
Looks like another case of `net::ERR_NETWORK_CHANGED` which shouldn't be happening anymore now that Docker tests are isolated to their own worker, investigating...

[code]

[2021-05-05 17:51] #99027 closed

[2021-05-05 17:51] elasticmachine commented on #99386
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-05 17:51] dgieselaar commented on #98912
a security rule type or a stack rule type. If we allow for this, we would want the user to see alerts from stack rules that were created from within the security solution.

++ on this - which I think we should always include all technical fields in the shared component template. That should hopefully be a few dozen only. But that could allow users to point any rule to any index, and all the other

[2021-05-05 17:56] mshustov commented on #78351
@wylieconlon  Migrating from `config-schema` creates fragmentation in our tooling and it will be hard to switch plugins back to `config-schema`. Let's continue using the common library. When we address the problem, all the endpoints will benefit from it.
Is there an example where `config-schema`  validation affects response time? We can use it as a baseline for further refactoring.

Maybe we can i

[2021-05-05 17:59] ghudgins commented on #68458
in addition to `Previous` can we also consider another dynamic ranger for `Year over Year` (same period a year ago)? This addresses seasonality

[2021-05-05 18:07] spong commented on #50266
With regards to importing rules (https://github.com/elastic/kibana/issues/94152), are we still planning for the above to be possible? Asking as this is in reference to exporting/importing security rules, and allowing a static_id such that there can be _unique rules_ and so can be overridden on import. E.g. the Elastic Detection Pre-packaged rules should be able to be imported and override any exis

[2021-05-05 18:09] wylieconlon commented on #78351
@mshustov I'm not sure you've addressed the concerns that I have, and that @kobelb originally raised in this issue. It appears that _no validation_ is a superior option to the current library.

There are two main examples where config-schema is a bottleneck. This issue started as a discussion based on performance bottlenecks in Fleet APIs, and more recently we found a ~20-25% improvement in API re

[2021-05-05 18:11] myasonik commented on #44543
Axe can only validate that a `<caption>` exists on the table, it can't actually tell you if the caption is any good.

EUI supports a `tableCaption` prop that takes a string. The `"This table contains {itemCount} rows"` is the default caption but, importantly, that doesn't give any context. Something as short as "Reports generated in Kibana application" (mirroring the sub-heading above) would be a

[2021-05-05 18:19] gmmorris commented on #98912
That was me, but even that's not super obvious, we'd need to understand the exact flow you want to support.

BTW rolling upgrades are **not** supported, so it's less about instances being upgraded separately, and more about more than one instance being booted at the same time.

[2021-05-05 18:21] alisonelizabeth commented on #91939
I think this one requires running through the flaky test runner to try to reproduce and troubleshoot further. I'm not seeing the test failure when running locally.

[2021-05-05 18:21] smith opened #99391 "Configuration flag to enable cases in observability"
We expect to ship both cases and alerting as on by default in observability in 7.14. However, we would like the option to turn one or both of them off if needed.

Currently both the alerts and cases pages' visibility is controlled by the `xpack.observability.unsafe.alertingExperience.enabled` kibana.yml configuration option.

Create a `xpack.observability.unsafe.casesExperience.enabled` flag and m

[2021-05-05 18:22] petrklapka opened #99392 "Petr's Test Issue for Jira Imports"
Ignore this.

[2021-05-05 18:22] elasticmachine commented on #99392
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-05 18:24] legrego commented on #99044
From a security standpoint, `find` will always filter out results that you're unable to see, no matter how the PIT was configured. You can get unexpected results if your privileges change between the time the PIT was created and the time you finish calling `find`, but unexpected results are expected behavior -- we don't ever cache privileges, and "find with PIT" is by no means atomic.

To me the r

[2021-05-05 18:25] alisonelizabeth commented on #97954
I think this one requires running through the flaky test runner to try to reproduce and troubleshoot further. I'm not seeing the test failure when running locally.

<img width="746" alt="Screen Shot 2021-05-05 at 2 25 36 PM" src="https://user-images.githubusercontent.com/5226211/117190720-c8846780-adad-11eb-83c4-75f2b1d3debb.png">

[2021-05-05 18:30] kibanamachine opened #99394 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/date·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type date "is not in list" operator will return 4 results if we have a list that excludes all dates"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13837/)

[2021-05-05 18:33] ymao1 commented on #50266
@spong Just to clarify, are you asking if someone has loaded the prepackaged rules into a Kibana, then exports them through the Saved Objects Management UI, and then re-imports that export file, if the existing rules will be overwritten (if that option is checked)? If so, that is correct. This is all handled by the saved objects API.

[2021-05-05 18:36] alisonelizabeth commented on #89545
Note that there are similar rollup failures: https://github.com/elastic/kibana/issues/70043, https://github.com/elastic/kibana/issues/69783

[2021-05-05 18:37] alisonelizabeth commented on #70043
Other rollup failures: https://github.com/elastic/kibana/issues/89545, https://github.com/elastic/kibana/issues/69783

[2021-05-05 18:41] lukeelmers commented on #99044
@legrego That makes sense, so in secure SOC wrapper we'd need to build the `typeToNamespacesMap` when opening PIT (as we do in `find`), and in the repository we'd have `openPointInTimeForType` mimic the base `find` behavior of pulling the types out of the map when they're provided. Then we can lift the restriction on providing `pit` with `namespaces` in `find`, because we know the indices for the

[2021-05-05 18:42] simianhacker opened #99396 "[Monitoring] Dot prefixed indices are ignored for Alerts"
**Kibana version:**

master

**Elasticsearch version:**

master

**Original install method (e.g. download page, yum, from source, etc.):**

source

**Describe the bug:**

I was testing alerting with some data from Agent, specifically the "Shard size" alert. I set the alert to a ridiculously low value to ensure it would still fire. When it didn't fire I started to investigate and realized that we a

[2021-05-05 18:45] justinkambic opened #99397 "[Fleet] Multiple instances of Heartbeat appear to run with Synthetics integrations"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Server OS version:**
macOS Big Sur

**Browser version:**
Chrome 90

**Browser OS version:**
macOS Big Sur

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
I created numerous Synthetics integrations while testing the Synthetics package/associated UI. After noticing that a number

[2021-05-05 18:45] elasticmachine commented on #99397
Pinging @elastic/fleet (Team:Fleet)

[2021-05-05 18:46] alisonelizabeth commented on #89545
This test does not appear to be skipped anymore: https://github.com/elastic/kibana/blob/master/x-pack/plugins/rollup/public/test/client_integration/job_create_logistics.test.js#L119. I'm not sure at one point it was resolved, but it does not seem to be an issue anymore.

[2021-05-05 18:46] #89545 closed

[2021-05-05 18:47] elasticmachine commented on #99394
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-05 18:50] kertal commented on #99272
@shaunmcgough  ACK, so it's only rename the button from 'Go to Advanced settings' to  'Get started' ?

[2021-05-05 18:50] spalger commented on #99394
First failure, including PRs, monitoring.

Looks like ILM kicked in for the `.items-default-000001` and `.lists-default-000001` indexes as this test was running, no idea if those are related to this test since those index names include zero identifying information, but maybe?

[code]

[2021-05-05 18:54] alisonelizabeth commented on #84440
@cuff-links for my own understanding, is this only flaky on firefox?

[2021-05-05 18:55] mshustov commented on #78351
IIRC Fleet had quite specific requirements to support up to 50k agents polling the Kibana server every X seconds. Since fleet switched to a custom server, we abandoned the current issue as there were no other examples, where `@kbn/config-schema` was a bottle-neck. Now, we can consider prioritizing it again.

I haven't checked the size of the TSVB payload, let me see how big it is.
Anyway, disablin

[2021-05-05 19:12] xcrzx opened #99399 "[Security Solution][Detections] Broken mobile layout on the rule page"
**Kibana version:** 7.13

**Browser version:** Google Chrome Version 90.0.4430.93

**Browser OS version:** MacOS 11.2

**Describe the bug:** Broken mobile layout on the rule page

**Steps to reproduce:**
1. Go to Security > Detections > Detection rules
2. Click on any rule in the table to open it
3. Switch Chrome to mobile view (e.g., 425px in width)

**Expected behavior:** UI elements do not over

[2021-05-05 19:13] elasticmachine commented on #99399
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-05 19:25] banderror commented on #98912
I updated the proposal in the description based on all your feedback. Thank you!
Let me know if I forgot to mention anything.

[2021-05-05 19:26] pmuellr commented on #99391
Reminder that these need to be enabled for cloud, and for Docker (for various Docker-based deployments including ECE).  If we want to allow the usage there.

For cloud, the kind of changes that need can be seen in this example: https://github.com/elastic/cloud/pull/78624

For Docker, the change goes in this file, manually, despite the "** THIS IS AN AUTO-GENERATED FILE **" warning :-) : https://gi

[2021-05-05 19:35] dgieselaar commented on #98912
Fwiw, consumer is currently not Observability for rule types, but APM/Uptime etc. My suggestion would be to not tightly couple this to the the alerting framework's interpretation of consumer. Generally, I feel we should avoid technically depending on the index name, and treat it as a scoping mechanism for allowing administrators to more easily grant access to subsets of data. Preferably we use a q

[2021-05-05 19:45] mukeshelastic opened #99404 "Existing agents do not re-enroll in fleet correctly after 7.12-snapshot to 7.13-snapshot upgrade"
**Steps to reproduce:**

1. Create Elastic deployment 7.12.1-snapshot on console.qa.cld.elstc.co
2. Enable Fleet in Kibana, Install agent locally and enroll in fleet
3. Upgrade to 7.13.1-snapshot
4. Click on Fleet
<img width="199" alt="Screen Shot 2021-05-05 at 11 03 47 AM" src="https://user-images.githubusercontent.com/59452300/117188185-9ebd4780-ad91-11eb-8444-fbd0a1309549.png">
5. The existing

[2021-05-05 19:45] elasticmachine commented on #99404
Pinging @elastic/fleet (Team:Fleet)

[2021-05-05 19:46] shaunmcgough commented on #99272
Yes, that's correct.

[2021-05-05 20:32] kobelb commented on #78351
What? How did you come to this conclusion? Validation is absolutely necessary and should not be removed because it incurs a performance penalty. If there's a situation where performing validation using `@kbn/config-schema` is too slow, we should use a different approach to validation, not remove it entirely. This is why we support custom validation for HTTP requests. We've had some teams succeed w

[2021-05-05 20:33] YulNaumenko commented on #94152
Importing the connectors with the higher license than the current user have, could be OK if we add the warning message after the import, but for the rules it can cause some noise, which is probably OK too.

[2021-05-05 20:41] nicenemo commented on #54192
@balee, What is this new issue?  Perhaps link here and close this one?

I have:
*  users who can only stare at dashboards
*  users with a bit more rights
*  power users

The first category will probably start asking questions about adding your data etc. They have no business in the technical details of the ELK stack. I also want to disable it for the second category.

 I want to disable or customi

[2021-05-05 21:03] bhavyarm commented on #97032
Closing cc @LeeDr

[2021-05-05 21:03] #97032 closed

[2021-05-05 21:05] bhavyarm commented on #99381
@mshustov not at all :) All we need is for the log lines to say auth problems instead of Unable to retrieve version information from Elasticsearch nodes. Thanks!

[2021-05-05 21:08] wylieconlon commented on #78351
You can find context for the decision to remove schema validation in [this comment](https://github.com/elastic/kibana/issues/97061#issuecomment-819372027) and the whole issue that it's a part of. I've also just linked you to more context in a private issue. We are still using prototype pollution checking on top of the Joi validation: https://github.com/elastic/kibana/pull/85952.

[2021-05-05 21:59] snide opened #99421 "Amsterdam Theme KQL bar in Firefox needs bottom border"
The amsterdam k8 theme is missing a bottom border for the KQL bar in Firefox. I'm guessing there is an overflow issue.

![bug](https://snid.es/2021MAY/Lkl~WQKNKEd5vE1e.png)

[2021-05-05 21:59] elasticmachine commented on #99421
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-05-05 22:14] ryankeairns commented on #99421
Might just need a fresh pull. Andrea merged a fix for that earlier today - https://github.com/elastic/kibana/pull/99248

[2021-05-05 22:26] #94905 closed

[2021-05-05 22:32] andreadelrio commented on #99421
Thanks for reporting @snide. Like Ryan said we just fixed that one. I double checked just now from master and everything seems fine.

[2021-05-05 22:34] elasticmachine commented on #92978
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-05-05 22:35] cjcenizal commented on #92978
This sounds like it pertains to the ES API, not the UI. I'll move this over to the ES repo.

[2021-05-05 22:36] elasticmachine commented on #92424
Pinging @elastic/kibana-security (Team:Security)

[2021-05-05 22:38] kibanamachine opened #99427 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_state·ts - dashboard app using legacy data dashboard state Saved search with no changes will update when the saved object changes"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13702/)

[2021-05-05 22:43] spong commented on #50266
Yup, that's what I was curious about. My concern here is that while we now have support for specifying custom Rule ID's (https://github.com/elastic/kibana/issues/50210 / https://github.com/elastic/kibana/pull/89814), this hasn't been plumbed through to the the creation of the pre-packaged rules, and so those Rules will only have a unique `_id` to the cluster (resulting in duplicate rules if import

[2021-05-05 22:49] elasticmachine commented on #99427
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-05 22:52] spalger commented on #99427
First failure of this type in the last week, not skipping yet.

[2021-05-05 22:55] simianhacker commented on #97759
@estermv

Is this the state that you mention?

Yes, it's not suppose to force that into the URL OR at least it didn't when this was originally written. I suspect that's the issue with it not loading from localStorage as well.

What happens to me is that it goes to the default view.

That's broken... Metric Explorer should remember your last state using localStorage.

[2021-05-05 23:02] tsullivan commented on #99120
I agree, it looks like this change introduced the issue that I found, but the bug I linked to is a bit older.

[2021-05-05 23:04] simianhacker opened #99429 "[Metrics UI] Refactor the state management for both Inventory and Metrics Explorer"
The current state management has become a bit of a mess. It's become significantly complex enough that it's hard to tell where updates are happening or why components are refreshing. I suspect that we've either abused Constate or outgrown it. Let's use this issue to explore our options.

[2021-05-05 23:04] elasticmachine commented on #99429
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-05 23:14] cjcenizal commented on #99322
I think this is worth suggesting to the EUI team. It'd be a great opportunity to start aligning EUI consumers on some testing best practices.

[2021-05-05 23:16] dominiqueclarke commented on #74839
The map was removed in #96517. Closing this issue. cc: @paulb-elastic

[2021-05-05 23:16] #74839 closed

[2021-05-05 23:20] snide commented on #99421
You're too fast for me! Nice work.

[2021-05-05 23:20] #99421 closed

[2021-05-05 23:37] #99317 closed

[2021-05-06 00:14] spong commented on #98912
@dgieselaar, is the thought then that solutions would need to explicitly allow-list/enable which stack rules they support and then we'd combine those component templates with the solution-specific component templates so the solution indices have all the necessary fields to support stack rules? Or would solutions just include _all stack rule component templates by default so there's no ambiguity be

[2021-05-06 01:53] kibanamachine commented on #99006
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13845/)

[2021-05-06 02:02] spalger commented on #99006
Relatively mild flakiness, but thanks for taking a look @bhavyarm
![image](https://user-images.githubusercontent.com/1329312/117231593-5c692a00-add4-11eb-8b9c-38df3ae1e92f.png)

[2021-05-06 02:13] #94119 closed

[2021-05-06 03:12] secr3t commented on #74923
I faced this issue, and solved with HTTP API.

I got hint from this issue because who added `Elasticsearch UI` label, so I tried to request [put index template](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/indices-templates-v1.html).

And then, my template added as legacy template without any errors. If you feel pain yet, try my solution.

[2021-05-06 04:10] YulNaumenko opened #99436 "[Rules UI] Add the link to the created rule in the Success toast"
We have the usability issue, which is come from the Observability #1512:

## Finding a rule

When creating a rule was successful, a toast message appears. The toast does not contain any links to the rule, therefore it is not possible to directly navigate to that rule (for example to edit it).

<img width="444" alt="Screenshot 2021-05-03 at 12 17 44" src="https://user-images.githubusercontent.com/2

[2021-05-06 04:10] elasticmachine commented on #99436
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-06 05:05] ipaqmaster opened #99437 "Dev Tools tab shows "Expected one of GET/POST/PUT/DELETE/HEAD" when any of them are entered in lowercase despite those queries running just fine"
**Kibana version:**
7.12.1

**Elasticsearch version:**
As above

**Server OS version:**
CentOS 7

**Browser version:**
Mozilla Firefox 88.0

**Browser OS version:**
Archlinux on Kernel 5.11.16

**Original install method (e.g. download page, yum, from source, etc.):**
Official yum repo

**Describe the bug:**
The syntax checker in Dev Tools shows a red X for using lowercase request methods, despite

[2021-05-06 05:14] geekpete opened #99438 "Prevent or Warn in ILM UI when configuring ILM Rollover allowing max docs setting to be larger than Lucene max docs limit"
**Kibana version:** 7.12.1

**Elasticsearch version:** 7.12.1

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** ILM UI lets you put in a number larger than the Lucene max docs limit for the max_docs rollover value and should probably instead warn or prevent you from doing this.

R

[2021-05-06 05:14] elasticmachine commented on #99438
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-05-06 05:31] tsullivan commented on #18439
Just FYI, there is a separate issue to cover Reporting system indices with a built-in Index Lifecycle Management policy: https://github.com/elastic/kibana/issues/81544. This will help when users do not remember to delete reports that are no longer needed. Creating an ILM policy for reporting is possible today, but this issue will make it easier to enable out-of-the box.

[2021-05-06 05:33] majagrubic commented on #99321
So, the difference is:
[code]
☝️ ✅  works.

[code]
☝️ ⛔ doesn't work.

Will fix this.

[2021-05-06 05:51] peluja1012 opened #99440 "[Security Solution][Detections] Add ability to "select all" to Rule Management page to perform bulk actions"
Currently in the Rule Management page users are only able to perform bulk actions (i.e. activate, export, duplicate, delete) on the "current" page. This leads to problems such as [this one](https://github.com/elastic/kibana/issues/86784) where users need to repeat bulk operations on each page or increase the `page size` of the table in order to perform actions on all rules.

![image](https://user-

[2021-05-06 05:51] elasticmachine commented on #99440
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-06 05:51] elasticmachine commented on #99440
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-06 06:01] amolnater-qasource opened #99441 "[Fleet] Unexpected line under Fleet Settings flyout at Elasticsearch output configuration (YAML) section."
**Kibana version:** 7.13.0 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 BC-4 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet Settings tab.
3. Observe unexpected line under Elasticsearch output configuration (YAML).

**Expected Result:**
No

[2021-05-06 06:02] amolnater-qasource commented on #99441
@manishgupta-qasource Please review.

[2021-05-06 06:18] manishgupta-qasource commented on #99441
Reviewed & Assigned to @EricDavisX

[2021-05-06 06:18] elasticmachine commented on #99441
Pinging @elastic/fleet (Team:Fleet)

[2021-05-06 06:23] dplumlee commented on #98283
Updating this along with the recent PR fix we put up (#99442), this is a bug happening throughout the Security app, not just the detections page, and occurs when invalid KQL is submitted through the search bar. Just in case other errors come through due to the same issue on other pages (Hosts, Host details, etc.)

[2021-05-06 07:01] dgieselaar opened #99444 "Test impact of using `refresh: false` for task manager internals"
In https://github.com/elastic/kibana/pull/99160, we are considering setting `refresh` to `false` for Task Manager internal operations, like creating/updating/deleting tasks. By default, the Saved Objects client will use `wait_for`, which means that it will keep a connection open to Elasticsearch until a shard gets refreshed. By default, this is 1 second. This means that workers are not freed up as

[2021-05-06 07:01] elasticmachine commented on #99444
Pinging @elastic/apm-ui (Team:apm)

[2021-05-06 07:02] elasticmachine commented on #99444
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-06 07:16] cnasikas commented on #95618
@austinsonger Could you please inpect if the `results_link` is a relative one or an absolute one?

[2021-05-06 07:22] cnasikas commented on #97661
Hey @karanbirsingh-qasource! How did you test SN connectors? I am asking because to be able to reproduce the error you need to make a field mandatory in SN, like the `closed_notes` for example, that will override the `description` in our mapping before our fix. Other than that, LGTM!

[2021-05-06 07:26] deepikakeshav-qasource commented on #99338
Hi @MadameSheema ,

We have uploaded the value list file "test.txt" then try to create the rule exception. "is in list" is still not displayed.

Build Details:
[code]

**Screenshot:**
![upload_vlaue_list](https://user-images.githubusercontent.com/61860752/117240596-cde5be80-ae4e-11eb-9ebf-00b7effe17a3.jpg)
![rule](https://user-images.githubusercontent.com/61860752/117240606-d50ccc80-ae4e-11eb-8427

[2021-05-06 07:37] deepikakeshav-qasource commented on #93418
Hi @XavierM,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **fixed**. Description tooltip icon is removed where it is not essential.

Build Details:
[code]

**Screenshot:**
![description-icon](https://user-images.githubusercontent.com/61860752/117246531-70576f00-ae5a-11eb-9dde-5ceb2ae48dbf.jpg)

Hence, We are closing this ticket and adding the label "QA Validate

[2021-05-06 07:37] #93418 closed

[2021-05-06 07:38] alexwizp opened #99445 "[TSVB] Replace EuiCodeEditor 👉 Monaco editor"
**Describe the feature:**
TSVB still uses the `EuiCodeEditor` component in 2 places:
1. `src/plugins/vis_type_timeseries/public/application/components/markdown_editor.js`
2. `src/plugins/vis_type_timeseries/public/application/components/panel_config/markdown.tsx`

These code should be refactored to use `Monaco editor` instead.

This work must be done for the following reasons:
1. EUI recommendatio

[2021-05-06 07:38] elasticmachine commented on #99445
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-06 07:57] formgeist opened #99446 "[APM] Remove the feature flag for the Service overview (Kibana advanced setting)"
# Summary

The service overview page has been added as a default landing page for each service since 7.12 and going forward we should just remove the feature flag option in the advanced settings since there's no reason why the user might remove the page as this should be the default view for all services with the most recent enhancements made.

<img width="1233" alt="Screenshot 2021-05-06 at 09 51

[2021-05-06 07:57] elasticmachine commented on #99446
Pinging @elastic/apm-ui (Team:apm)

[2021-05-06 08:41] #95088 closed

[2021-05-06 08:43] peteharverson commented on #93205
Closing issue. Remaining items have been moved to the 7.14 issue #97982.

[2021-05-06 08:43] #93205 closed

[2021-05-06 08:44] karanbirsingh-qasource commented on #97989
Hi @XavierM thanks for looking into issue regress.

However as per the last comment , issue got fixed , no duplicate entry were there under template tab .

we have validated this on 7.13.0 BC4 too and issue is not occurring there. No duplicate entry entry for timeline templates are showing.

**Build Details:**
[code]
**Screen-Cast:**
![image](https://user-images.githubusercontent.com/59917825/1172

[2021-05-06 08:44] #97989 closed

[2021-05-06 08:47] karanbirsingh-qasource commented on #92608
Hi @michaelolo24

Thanks for looking into the issue at your end.

we have re-validated this issue on 7.13.0 BC4 on two of machines [ real hardware and virtual machine ] real hardware machine on which the original issue was reported and on it issue is **still occuring** , **because safari browser version is not getting update on it** and can be the **reason for this issue occurrence**

Browser | Ve

[2021-05-06 08:47] #92608 closed

[2021-05-06 08:50] formgeist opened #99449 "[Fleet] Creating a new policy toast covers the save integration button the control bar"
Kibana version: master

# Summary

I noticed when creating a new policy, that after creating the policy successfully the toast covers the control bar. This might be a component issue where the toast should not cover the control bar which is a fixed element, but position itself above it.

<img width="1138" alt="Screenshot 2021-05-06 at 10 48 51" src="https://user-images.githubusercontent.com/410427

[2021-05-06 08:50] elasticmachine commented on #99449
Pinging @elastic/fleet (Team:Fleet)

[2021-05-06 08:58] pheyos opened #99450 "[ML] Anomaly explorer - chart marker color for calendar events not ideal"
**Found in version**
- 7.13.0-bc4

**Browser**
- Chrome

**Steps to reproduce**
- View a job with calendar events in the anomaly explorer and compare the anomaly charts with the single metric viewer

**Expected result**
- The styling of the calendar event markers is consistent in anomaly charts and single metric viewer

**Actual result**
- The calendar event markers have different colors and the o

[2021-05-06 08:58] elasticmachine commented on #99450
Pinging @elastic/ml-ui (:ml)

[2021-05-06 09:00] sorantis commented on #97106
@simianhacker can you confirm that we no longer need to do any UI side aggregations on the added host metrics?

[2021-05-06 09:12] MadameSheema commented on #99338
Thanks @deepikakeshav-qasource !! :)

[2021-05-06 09:19] MadameSheema commented on #99338
@peluja1012 @spong can you please prioritise this and add an Impact? thanks :)

[2021-05-06 09:21] paulb-elastic commented on #90664
As you are referring to the request section of the flyout, I think the `path` here is actually the pseudo HTTP/2 stream header, which would typically be described as `:path` (i.e. is different to the `url` object that exposes the `path`, `port`, `full` etc. breakdown of the URL)

@vigneshshanmugam do we strip the preceeding `:` off such HTTP/2 headers in the agent as we don't seem to store them:
[

[2021-05-06 09:29] timroes commented on #11179
I am closing this as outdated, since we're not using doc values anymore from 7.12 onward to load date fields, but the new fields options instead.

[2021-05-06 09:29] #11179 closed

[2021-05-06 09:31] gmmorris commented on #98912
@dgieselaar - Wouldn't diverging here make it far harder though? RBAC is already a complicated mechanism, if we start diverging on this (using something other than FeatureID in consumers/producers) we're adding another moving part to this mechanism.

I'm not necessarily objecting here, but flagging that this would come at a cost to maintainability/reliability, and we should step with caution.

cc

[2021-05-06 09:34] dgieselaar commented on #98912
@gmmorris My concern is only about the index/alias name, not necessarily about what ends up in the data, or how it is functionally interpreted. If we do end up hard-coupling the index name to consumer, it would be `.kibana-alerts-apm*`, not `.kibana-observability-apm-*`. Maybe that's okay though.

[2021-05-06 09:37] timroes commented on #20342
I think this issue is already perceivable via the performance monitoring in the dev tools. I checked 7.13-BC3 and it seems this issue is still persistent. And the browser's dev tools help us also narrowing it down more: it seems every time you switch index patterns the memory AND the DOM node count goes up significantly and never down. So it seems we have something in place preventing cleaning up

[2021-05-06 09:47] angorayc commented on #96553
This is a known issue, We are working on that, please refer to https://github.com/elastic/kibana/issues/97477 for more details.

[2021-05-06 09:55] peteharverson commented on #93463
Closing as fixed by #97202 for 7.13.0.

[2021-05-06 09:55] #93463 closed

[2021-05-06 10:05] peteharverson commented on #83038
Note the `regexString` validation has been moved from the ml plugin to the `file_upload` plugin and is now in `x-pack/plugins/file_upload/server/plugin.ts`.

[2021-05-06 10:06] karanbirsingh-qasource commented on #97661
Hi @cnasikas

Thanks for sharing this main step for this issue occurrence . we are successful able to reproduce this issue on 7.12.0 .

- **7.12.0**

[code]
![image](https://user-images.githubusercontent.com/59917825/117275355-95100e80-ae7b-11eb-853a-562ea15eb719.png)

- **7.13.0 BC4**

we have re-validated this issue on 7.13.0 BC4 , creating "resolution_note" field as mandatory and then create SN

[2021-05-06 10:06] #97661 closed

[2021-05-06 10:09] deepikakeshav-qasource opened #99453 "[Security Solution] Double "Generic Threat Match Timeline" timeline template is displaying under template Tab after upgrade the build from 7.12.1 to 7.13.0."
**Description**
Double "Generic Threat Match Timeline" timeline template is displaying after upgrade the build from 7.12.1 to 7.13.0.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Auditbeat should be installed

**Steps to Reproduce:**
1. Deploy the build 7.12.1.
2. Load the prebuilt rules and templates.
3. Upgrade the build from 7.1

[2021-05-06 10:09] elasticmachine commented on #99453
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-06 10:10] deepikakeshav-qasource commented on #99453
@manishgupta-qasource Please review!!

[2021-05-06 10:10] dgieselaar commented on #98912
@spong:

The latter. But in my head these would be _technical_ fields only. Like alert.id, alert.threshold.value, alert.severity.level, alert.building_block, etc. So maybe a few dozen, but that is very much a number that I'm making up on the spot.

[2021-05-06 10:12] gmmorris commented on #95618
Looks like that's set by detections: https://github.com/elastic/kibana/blob/ca17d931deaff7217dc7f75ae1ad6ff3be680543/x-pack/plugins/security_solution/server/lib/detection_engine/notifications/schedule_notification_actions.ts#L38

[2021-05-06 10:20] legrego commented on #28665
Resolved via https://github.com/elastic/kibana/pull/94927, which should be available in the upcoming `7.14` release.

[2021-05-06 10:20] #28665 closed

[2021-05-06 10:22] legrego commented on #34897
This issue overlaps quite a bit with more descriptive/active issues, so I'm closing in favor of them.

[2021-05-06 10:22] #34897 closed

[2021-05-06 10:25] tsg commented on #98912
I was thinking that there will be an allow-list of "foreign" rule types that can be instantiated in the Solutions. For example, I expect the Security solution to make use of the ES rule type, the ML one, maybe maps rules, maybe the threshold rule type from Observability. I think the Observability solution will find the EQL/correlation rule from Security useful, the custom query one, the ES rule ty

[2021-05-06 10:28] dgieselaar commented on #98912
@tsg these technical fields are mostly not in ECS (yet), It doesn't really feel like it's the same problem to me. Maybe that could be the case in the future though.

[2021-05-06 10:29] jgowdyelastic opened #99455 "[ML] Auto-generate kibana route schemas based on es client types"
For ML's endpoints which are basic wrappers for elasticsearch endpoints, it would be better if the validation schemas were generated based on the JSON structure definitions supplied by the es client.
https://github.com/elastic/elastic-client-generator/blob/master/output/schema/schema.json

The json structure definition: https://github.com/elastic/elastic-client-generator/blob/master/compiler/model

[2021-05-06 10:29] elasticmachine commented on #99455
Pinging @elastic/ml-ui (:ml)

[2021-05-06 10:30] manishgupta-qasource commented on #99453
Reviewed & Assigned to @MadameSheema

[2021-05-06 10:30] gmmorris commented on #98912
I know we're talking about the ECS fields here, not RBAC, but I feel it's worth explicitly stating that RBAC does require each type to be explicitly granted to a role. So, for example, if Security want their users to have access to the ES Query Stack Rule when they're inside of Security Solution, then `ES Query` will have to be explicitly stated in the SecuritySolution `all`/`read` privileges.

[2021-05-06 10:31] tsg commented on #98912
I think it's ok to be loosely based on the consumer, rather than the exact consumer name. So it's ok to have `.alerts-observability_apm.alerts-*` instead of just `.alerts-apm.alerts-*`. Note the `_` which we need to fit into the naming scheme proposed by this RFC.

The reason is just to make it easier to follow for our users.

[2021-05-06 10:34] gmmorris commented on #99444
Thank Dario, added to out project for triage 👍

I would separate the additional instrumentation from this change - these are two distinct deliverables, and tying them together will make it harder to tell what the source of an issue is if we deliver them together.
Both changes have potential downstream impact in terms of perf and lifecycle eccentricities, so I'd like to keep them apart if possible.

[2021-05-06 10:39] gmmorris commented on #98624
yeah, indeed.

and yay :)

[2021-05-06 10:42] amolnater-qasource commented on #95445
Hi @mostlyjason

We have validated this on 7.12.1 (released) Kibana upgrade to 7.13.0 BC-4 Kibana.
Details are shared in below table:

<BODY TEXT="#000000">
<TABLE FRAME=VOID CELLSPACING=0 COLS=5 RULES=NONE BORDER=0>
	<COLGROUP><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86><COL WIDTH=86></COLGROUP>
	<TBODY>
		<TR>
			<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000

[2021-05-06 10:44] gmmorris commented on #99216
Thanks @pmuellr ,
@mikecote can decide whether to dedup this when he's back next week 👍

[2021-05-06 10:50] mshustov commented on #83038
@peteharverson thank you, I updated the issue description.

[2021-05-06 10:55] gmmorris commented on #98246
I think that's very case dependent.
In our case, I'd expect the system to reset them after a period of time or when the violation that triggered the circuit break (a rise in error rate or requests, for example) subsides.

Either way, I don't think we have the mechanism in place to make this possible, either at core level (clients etc.) or at Rule Executor level (implementation of the `cancel` hand

[2021-05-06 10:59] afharo commented on #99381
Is this related to https://github.com/elastic/kibana/issues/97787?

[2021-05-06 11:18] muskangulati-qasource commented on #97953
Hi @michaelolo24,

Thank you for the update. We verified this issue on the latest 7.13.0 BC4 build and found that the issue is now **fixed.**

Please find below the testing details:

**Build Details**:
[code]

**Screenshot**:
![CorrectBugUI](https://user-images.githubusercontent.com/60252716/117283552-8594c380-ae83-11eb-974b-55cc489db6e6.JPG)

Hence, closing this issue and marking it as "Validated

[2021-05-06 11:18] muskangulati-qasource commented on #99030
Hi @nfritts,

We tried today again and found the same issue for Windows 7 persists on 7.13.0 BC4 build.

We tried to download the file on our endpoints:
![Updates Page1](https://user-images.githubusercontent.com/60252716/117289441-356d2f80-ae8a-11eb-8552-973d0f7e5a6c.JPG)
![Updates Page2](https://user-images.githubusercontent.com/60252716/117289446-369e5c80-ae8a-11eb-9283-0b9a92cc4ad4.JPG)
![Updat

[2021-05-06 11:27] muskangulati-qasource opened #99459 "[Security Solution] The OS.family is shown as Linux under the Endpoints tab list but the KQL shows different versions of Linux. And the behaviour is different for Mac & Windows"
**Describe the feature**
The OS.family is shown as Linux under the Endpoints tab list but the KQL shows different versions of Linux. And the behaviour is different for Mac & Windows

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed.

**Steps to Reproduce**
1. Deploy agents for Mac & Linux with Endpoint Security integration added
2. Observe that platform

[2021-05-06 11:27] elasticmachine commented on #99459
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-06 11:27] elasticmachine commented on #99459
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-05-06 11:28] muskangulati-qasource commented on #99459
@manishgupta-qasource please review!!

[2021-05-06 11:29] ferullo commented on #99030
@muskangulati-qasource I'm confused. What is the problem?

Early in this issue's history it was [stated](https://github.com/elastic/kibana/issues/99030#issue-874449581) that Endpoint could not install on any version of any OS other than Windows 10. [Then](https://github.com/elastic/kibana/issues/99030#issuecomment-832640948) that install OSes and versions but policy fails on Windows 7. [Now](https

[2021-05-06 11:32] elasticmachine commented on #99453
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-06 11:32] muskangulati-qasource commented on #99030
Hi @ferullo,

Sorry for the confusions.

The issue is Windows7 only. It is deployed with policy failures.

To resolve the confusions, we can close this one and open a new one for the actual bug or change the Summary of the bug.

Let us know what works best for you.

Thanks!

[2021-05-06 11:33] MadameSheema commented on #99453
@angorayc can you please take a look at this? I was not able to reproduce it.

@deepikakeshav-qasource can you please try to reproduce it again when you have a free gap? Jus to make sure it was not a cloud hiccup. Thanks :)

[2021-05-06 11:34] pheyos commented on #74365
I haven't come across this for a very long time now, so I'll close it.

[2021-05-06 11:34] #74365 closed

[2021-05-06 11:38] kibanamachine opened #99460 "Failing test: Firefox UI Functional Tests.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visual builder switch index patterns should be able to switch using text mode selection"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13715/)

[2021-05-06 11:42] christophercutajar commented on #87048
@tamland this is a good hack! Thank you for the suggestion

[2021-05-06 11:46] #82780 closed

[2021-05-06 11:52] ferullo commented on #99030
Great, thanks for clarifying. I'm closing this issue because it's history is a bit confusing and we've dug in enough to determine the issue is in Agent, not Kibana. I opened https://github.com/elastic/beats/issues/25583 to track the problem. Please add any details you'd like to that issue.

[2021-05-06 11:52] #99030 closed

[2021-05-06 11:53] christophercutajar commented on #98116
For the past few days we totally disabled this alert for various reasons. During the past days, heartbeat configuration was changed for quite a lot. After we completed changes to the config, today we re-enabled the alert once again and the alert was firing for monitors that were deleted during the period that the alert as disabled.

To be able to stop the alert from firing, the alert instance had

[2021-05-06 12:05] ymao1 commented on #50266
@spong I see what you're saying. I believe the saved objects importer determines uniqueness per space per _id currently (@elastic/kibana-core can you confirm that this is correct).

I think it would make the most sense to filter out these internal rules on import as we have a little more control over that process. We can't currently optionally show/hide the prebuilt detection rules from the Saved

[2021-05-06 12:09] deepikakeshav-qasource commented on #80470
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **still ocurring**. Update {updateRules} and install {newRules} new Elastic prebuilt rules are not displayed when upgrade the build.

Build Details:
[code]

**Screenshot:**
![Elastic_rules](https://user-images.githubusercontent.com/61860752/117293611-3e143480-ae8f-11eb-95ec-9076814bc284.jpg)
![after

[2021-05-06 12:10] EricDavisX commented on #99441
good issue!

[2021-05-06 12:10] deepikakeshav-qasource commented on #82115
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **fixed**. Search field search the timeline from the timeline list under the case description.

Build Details:
[code]

**Screenshot:**
![case_timeline](https://user-images.githubusercontent.com/61860752/117292636-11abe880-ae8e-11eb-9b67-14ef251f7dbf.jpg)
![search_timeline](https://user-images.github

[2021-05-06 12:11] #82115 closed

[2021-05-06 12:14] manishgupta-qasource commented on #99459
Reviewed & Assigned to @kevinlog

[2021-05-06 12:18] marius-dr commented on #98761
^ this work fine with runtime fields. Just tested it today when an user asked on Discuss about scripted fields.

[2021-05-06 12:23] deepikakeshav-qasource commented on #99453
Hi @MadameSheema,

We have Re- validated this ticket on the **7.13.0** BC4 build and the issue is not occurring now. It can be a cloud hiccup.

Build Details:
[code]

**Screenshot:**
**7.12.1**
![template](https://user-images.githubusercontent.com/61860752/117296857-276fdc80-ae93-11eb-872f-7da47cfa13f0.jpg)

**7.13.0**
![timeline_template](https://user-images.githubusercontent.com/61860752/1172968

[2021-05-06 12:23] #99453 closed

[2021-05-06 12:35] mshustov commented on #78351
@wylieconlon `/api/metrics/vis/data` route validation has been removed in https://github.com/elastic/kibana/pull/97091, so I cannot check validation performance on master.
I downloaded `v7.12` dist, installed the sample data set, and navigated to the `[Logs] Web Traffic` dashboard. According to my measurements, validation takes from 1ms to 4ms. Is there a way to reproduce the performance problem y

[2021-05-06 12:45] afharo opened #99464 "[Usage collection] Remove the `kibana` collector"
After #98916, the `kibana` collector seems redundant, and we might be able to remove it.

We didn't do so at the same time because of legacy reasons:

1. It's still used in `monitoring` via the `GET /api/stats` API fetched by Metricbeat. It shouldn't be used since we decoupled Monitoring and Telemetry in 7.11, but it's best to wait for 8.0 to introduce those breaking changes because of the compati

[2021-05-06 12:45] elasticmachine commented on #99464
Pinging @elastic/kibana-core (Team:Core)

[2021-05-06 12:45] elasticmachine commented on #99464
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-05-06 12:54] kpollich commented on #99087
Tracking down the root issue here. Any integration with a title shorter than two lines will exhibit this styling issue:

![Screen Shot 2021-05-06 at 8 46 50 AM](https://user-images.githubusercontent.com/6766512/117300601-b525da80-ae47-11eb-9ef7-0e66dbfb3d4a.png)

[2021-05-06 12:56] dgieselaar commented on #99328
There is work ongoing to improve the instrumentation for task manager (and thus, alert/detection engine executions) here: https://github.com/elastic/kibana/pull/99160.

[2021-05-06 13:00] jfsiii commented on #99087
@kpollich agreed. This has been broken for some time and, to my understanding, isn't image-specific.

[2021-05-06 13:02] #98624 closed

[2021-05-06 13:13] nchaulet commented on #99404
I just did the upgrade from 7.12.1-SNAPSHOT to 7.13.1 in QA cloud and what successfully able to re-ennroll my agent and did not get the error on checkin after running my agent for a long period of time. I will transfer the issue to the agent team maybe they know more here.

[2021-05-06 13:17] dikshachauhan-qasource opened #99470 ""elastic_agent.apm" data events not available on Logs tab after enabling logs collection settings at cloud deployment."
**Kibana version:**
7.13 BC4 Kibana Cloud Staging environment

**Host OS and Browser version:**
Managed host on cloud, All

**Preconditions**
1.  7.13 BC4 Kibana Cloud Staging environment should be available.
[code]
2. Enable logs and metrics setting at cloud deployment page.

![image](https://user-images.githubusercontent.com/72375798/117304173-11feb080-ae9b-11eb-815b-478d79954cad.png)

**Steps t

[2021-05-06 13:18] elasticmachine commented on #99470
Pinging @elastic/fleet (Feature:Fleet)

[2021-05-06 13:18] dikshachauhan-qasource commented on #99470
@manishgupta-qasource Please review

[2021-05-06 13:18] timroes opened #99471 "Memory leak in SearchBar component"
The [SearchBar](https://github.com/elastic/kibana/blob/master/src/plugins/data/public/ui/search_bar/search_bar.tsx) component currently has a severe memory leak. It creates ` ResizeObserver` that it connects in it's `componentDidMount` method, but will never unobserve and disconnect that when the component gets unmounted, thus leading to the now unmounted (no longer used) ResizeObserver keeping ar

[2021-05-06 13:18] elasticmachine commented on #99471
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 13:22] exalate-issue-sync[bot] opened #99472 "Petr's Test Issue for Jira Imports"

[2021-05-06 13:25] timroes opened #99473 "Memory leak in uiActions context menu"
The [context menu component](https://github.com/elastic/kibana/blob/master/src/plugins/ui_actions/public/context_menu/open_context_menu.tsx) of the `uiActions` plugin has a memory leak:

It listens on click listeners of the `document` and will store those last clicks with a reference to the clicked target in an array of `lastClicks` containing the 10 last clicks. If you now navigate away (or other

[2021-05-06 13:25] elasticmachine commented on #99473
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 13:29] #99472 closed

[2021-05-06 13:29] #99392 closed

[2021-05-06 13:33] manishgupta-qasource commented on #99470
Reviewed & Assigned to @EricDavisX

[2021-05-06 13:34] timroes commented on #20342
Debugged and filed individual issues for the actual memory leaks that are showing here:

* Memory leak in search bar component (#99471)
* Memory leak in uiActions context menu (#99473)
* Memory leak in elastic-charts (https://github.com/elastic/elastic-charts/issues/1148)

Eliminating all those places no further memory leak can be detected in Discover, so I'm closing this in favor of those other i

[2021-05-06 13:34] #20342 closed

[2021-05-06 13:38] petrklapka opened #99476 "Petr's Second Test For Jira Ingestion"
Hello there!  Ignore this.

[2021-05-06 13:38] elasticmachine commented on #99476
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 13:43] petrklapka commented on #86729
Testing unidirectional comment sync to Jira.  Please ignore.

[2021-05-06 13:51] streamich commented on #99473
Chatting with Anton, some possible approaches:

- reduce the size of last remembered elements, to maybe 3
- use weak-map, so GCed DOM nodes "disappear" automatically
- listen for DOM detach events
- use some sort of garbage collection, with `setTimeout()`
- don't track DOM element clicks, instead pass in the DOM event to menu builder

[2021-05-06 14:11] joshdover commented on #99328
Grooming notes:
- We need to meet with the ES team to see if we can actually solve https://github.com/elastic/kibana/issues/97934 with APM instrumentation from the Kibana side.

[2021-05-06 14:11] azasypkin commented on #98562
I found the root cause, but not sure how to fix that yet. Between the moment when we disable current user (to simulate error in the authentication pipeline) and the moment when we refresh current page Kibana sends a number of API requests that fail with 401 and client side interceptor forces logout right before WebDriver refreshes page.

[2021-05-06 14:17] joshdover commented on #98851
Grooming notes:
- Need to confirm we can reproduce on master
- If it reproducible, likely an EUI change since we have not done work in this area recently

[2021-05-06 14:22] pgayvallet commented on #99381
If we log the cause of the connectivity error in https://github.com/elastic/kibana/issues/97787, it would superseed the current issue I think.

[2021-05-06 14:25] wylieconlon commented on #98851
@joshdover I just tested on master, and it appears that this is still happening. I think the important part of the reproduction steps is that you need to:

1. Type slowly into the search bar
2. Wait for results to come back
3. Try to click any of the results

[2021-05-06 14:32] joshdover opened #99479 "Break up Migrations v2 Implementation into multiple files"
The Migrations v2 implementation still has actions and tests in very large files. These should be split up to make navigating the code easier for developers to keep maintainability of this critical code high.

Specifically we should split up these files:
- `src/core/server/saved_objects/migrationsv2/actions/index.ts` should be split into one file per action
- `src/core/server/saved_objects/migrati

[2021-05-06 14:32] elasticmachine commented on #99479
Pinging @elastic/kibana-core (Team:Core)

[2021-05-06 14:35] randomuserid commented on #98246
Circuit breakers are often used aggressively on a custom rule or search that is expensive enough to create risk of exhausting or monopolizing compute and / or memory capacity. Interrupting such a custom search or rule with a breaker is generally considered a feature. For pre-built searches and rules, interrupting them with circuit breakers is also preferable to getting into a resource exhaustion s

[2021-05-06 14:41] #98111 closed

[2021-05-06 14:42] #97544 closed

[2021-05-06 14:58] austinsonger commented on #95618
Sometimes it takes the relative path and places it behind the Jira instance and then sometimes it places behind the kibana instance.

[2021-05-06 15:04] cjcenizal commented on #24141
We're focused on supporting rollup in ILM, so this is no longer relevant.

[2021-05-06 15:04] #24141 closed

[2021-05-06 15:08] gmmorris commented on #98246
Absolutely++.
That said, I suspect in many cases this isn't possible to assess as the impact of the query can only reflect things as they appear _now_ in the cluster. It would be good if we could provide some kind of reusable mechanism for that, but as of right now, we would likely need to address this on a case by case basis.

[2021-05-06 15:17] Bamieh commented on #99464
Do you mean on our telemetry cluster or the monitoring UI?

[2021-05-06 15:18] afharo commented on #99464
Yeah! I meant on the Remote Telemetry Service. I'll update the description to be more accurate :)

[2021-05-06 15:18] jen-huang commented on #99449
Hi @hbharding, usually we would just fix smaller UI issues but this one I'm not really sure how to handle the design pattern so looking for input.

[2021-05-06 15:27] #87015 closed

[2021-05-06 15:33] #97061 closed

[2021-05-06 15:36] gmmorris opened #99487 "[Alerting] Limit number of actions a rule can schedule per execution"
**Describe the feature:**
In the context of https://github.com/elastic/kibana/issues/98246 I have been thinking about places in the framework that could cause the framework to over saturate itself.

In the Security Detection Engine they have a configurable upper bound for signals a rule can generate.
I think the same should be applies to alerting rules in general - a max number of actions that a s

[2021-05-06 15:36] elasticmachine commented on #99487
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-06 15:53] yctercero commented on #99338
@deepikakeshav-qasource @MadameSheema  Fix for the issue is here! I apologize, this was a logic oversight on my part! https://github.com/elastic/kibana/pull/99490

[2021-05-06 15:58] cauemarcondes commented on #94676
Interesting that the documentation says the other way around, that `top_metrics` may be faster than `top_hits`.

[2021-05-06 16:08] elasticmachine commented on #99100
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 16:12] tylersmalley opened #99494 "[kbn-es] Support overriding the heap size"
As part of the load testing work that @dmlemeshko is doing with load testing, he needs to be able to increase the heap size of the instance started with `kbn es`

[2021-05-06 16:12] elasticmachine commented on #99494
Pinging @elastic/kibana-operations (Team:Operations)

[2021-05-06 16:19] afharo commented on #74657
The PR to upgrade `@elastic/eui` to the version containing `i18ntokens.json` is #99382. When that's merged, I'll follow up with adding the tests.

[2021-05-06 16:26] jen-huang commented on #98356
@nchaulet Think we can close this out with #99240 now merged?

[2021-05-06 16:47] legrego opened #99501 "License should not be retrieved on anonymous pages"
The licensing plugin attempts to query for the current license on page load -- there is some logic in place to prevent this from happening on anonymous pages (such as the login page), but it appears to be an incomplete check. The result is a `401` response on the login page:

![image](https://user-images.githubusercontent.com/3493255/117335455-29bd4100-ae69-11eb-9139-877079db6bad.png)

[2021-05-06 16:47] elasticmachine commented on #99501
Pinging @elastic/kibana-core (Team:Core)

[2021-05-06 16:49] legrego opened #99502 "The active space should not be retrieved on anonymous pages"
The spaces plugin attempts to retrieve the user's active space on page load. This should not happen when the user is on an anonymous page (such as the login screen):

![image](https://user-images.githubusercontent.com/3493255/117335729-76088100-ae69-11eb-993a-afe67861a8d2.png)

[2021-05-06 16:49] elasticmachine commented on #99502
Pinging @elastic/kibana-security (Team:Security)

[2021-05-06 16:50] pmuellr commented on #98956
We have a related issue for alerting: https://github.com/elastic/kibana/issues/84417

Would be nice if these could work the same-ish way ...

[2021-05-06 16:51] legrego opened #99503 "The current user should not be retrieved on anonymous pages"
The security plugin attempts to retrieve the current user on page load. This should not be attempted on anonymous pages, since authentication is not possible:

![image](https://user-images.githubusercontent.com/3493255/117335969-b831c280-ae69-11eb-899b-1666081287d6.png)

[2021-05-06 16:51] elasticmachine commented on #99503
Pinging @elastic/kibana-security (Team:Security)

[2021-05-06 16:52] dominiqueclarke opened #99504 "Update Elastic Synthetics package README documentation"
As a user of Fleet, I want helpful documentation about the Elastic Synthetics integration to help me familiarize with the product

Update Elastic Synthetics package README to match the below document
https://docs.google.com/document/d/1mDZFWAhq0OMpOLL_BEAziWM5GRfDGX5p22dS3TIJ3Ps/edit

[2021-05-06 16:52] elasticmachine commented on #99504
Pinging @elastic/uptime (Team:uptime)

[2021-05-06 16:54] legrego opened #99505 "Fleet packages should not be retrieved on anonymous pages"
When the fleet plugin loads, it attempts to retrieve the list of available packages. This should not be attempted when Kibana is on an anonymous path (such as the login screen), since we do not have valid credentials at this point. The result is a `401` error on the login screen:
![image](https://user-images.githubusercontent.com/3493255/117336225-f7f8aa00-ae69-11eb-846a-ebdda4eefd57.png)

This ca

[2021-05-06 16:54] elasticmachine commented on #99505
Pinging @elastic/fleet (Team:Fleet)

[2021-05-06 16:54] #99272 closed

[2021-05-06 16:59] afharo commented on #98916
Since the PR is about to be merged, I went ahead and created the relevant infra issues to update mappings and prepare for the indexer in the new Remote Telemetry Service

[2021-05-06 16:59] #86546 closed

[2021-05-06 17:09] #98916 closed

[2021-05-06 17:09] mfinkle commented on #98956
Just to set expectations, I think we could start with something simple, and even limited, as a start. We can put the action behind an advanced setting flag with it off by default.

[2021-05-06 17:20] alvarezmelissa87 opened #99510 "[ML] Anomaly Detection: Visualize delayed data"
**Describe the feature:**

Add a chart that allows users to visualize delayed data - that shows the event rate of both source data and indexed data.

 - [x] Should build the charts based on info from job and datafeed (https://github.com/elastic/kibana/pull/101236)
 - [x] Should be fixed time interval to the job bucket span (https://github.com/elastic/kibana/pull/101236)
 - [x] Should be on the sam

[2021-05-06 17:20] elasticmachine commented on #99510
Pinging @elastic/ml-ui (:ml)

[2021-05-06 17:25] nchaulet commented on #99505
Looks like the call is initiated by the osQuery plugin.
<img width="940" alt="Screen Shot 2021-05-06 at 1 23 32 PM" src="https://user-images.githubusercontent.com/1336873/117339973-60498a80-ae6e-11eb-9264-7bab3cbbaa9a.png">

[2021-05-06 17:27] kibanamachine opened #99512 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/fleet_integrations·ts - endpoint When in the Fleet application and on the Endpoint Integration details page should show the Custom tab"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1537/)

[2021-05-06 17:27] kibanamachine opened #99513 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/fleet_integrations·ts - endpoint When in the Fleet application and on the Endpoint Integration details page should display the endpoint custom content"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1537/)

[2021-05-06 17:34] legrego commented on #99505
Ah thanks for that @nchaulet -- looks like that plugin is owned by @elastic/security-asset-management, so I'll reassign this issue.

[2021-05-06 17:39] #98356 closed

[2021-05-06 17:51] stacey-gammon opened #99515 "Remove `export *` pattern from Data plugin"
`export *` makes it easy for a developer to accidentally expose functionality on a plugin's public API, and so should be avoided in favor of explicit exports.

Looks like `data/common/index.ts` has quite a few:
https://github.com/elastic/kibana/blob/master/src/plugins/data/common/index.ts#L9

[2021-05-06 17:51] elasticmachine commented on #99515
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 17:57] legrego commented on #20200
This has been resolved with the conversion to EUI.

[2021-05-06 17:57] #20200 closed

[2021-05-06 18:19] stacey-gammon opened #99519 "Remove `any` from data plugin's public API"
`any` type is always a bad idea, but particularly in a public API item, and even _more_ so if there are no comments.

<img width="658" alt="Screen Shot 2021-05-06 at 2 11 28 PM" src="https://user-images.githubusercontent.com/16563603/117345864-0dbf9c80-ae75-11eb-9b9b-954faa4256af.png">

Data plugin has quite a few

<img width="1028" alt="Screen Shot 2021-05-06 at 2 14 29 PM" src="https://user-imag

[2021-05-06 18:19] elasticmachine commented on #99519
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 18:33] legrego commented on #41860
This screen has undergone a number of improvements since the 6.8 release, and we've struggled to reproduce this. I'm going to mark as resolved, but please feel free to comment if this is still problematic, and we will reopen.

[2021-05-06 18:33] #41860 closed

[2021-05-06 18:38] stacey-gammon opened #99523 "remove any types from core public plugin API"
Core team currently has the most `any` types in the public API. Let's get that down!

<img width="1028" alt="Screen Shot 2021-05-06 at 2 14 29 PM" src="https://user-images.githubusercontent.com/16563603/117346871-5461c680-ae76-11eb-92ee-8d98178511ff.png">

Run

`node scripts/build_api_docs --stats any --plugin core`

for a full list with links of every item:

<img width="1378" alt="Screen Shot 202

[2021-05-06 18:38] elasticmachine commented on #99523
Pinging @elastic/kibana-core (Team:Core)

[2021-05-06 18:41] mshustov commented on #99523
🥇 🍾

[2021-05-06 18:52] adpeters opened #99526 "[APM] Kibana errors on "constructor" keyword in APM stack trace documents"
**Versions**
Kibana: 7.12.1
APM Server: 7.12.1
Elasticsearch: 7.12.1

Kibana cannot view certain error documents sent by APM. I am using the latest python APM agent (6.1.3) with a Flask application. When there are error stack traces sent by APM the documents contain the variables at the time of the error, which sometimes contain a "constructor" field. In particular, in my case this is true for SQL

[2021-05-06 18:52] elasticmachine commented on #99526
Pinging @elastic/apm-ui (Team:apm)

[2021-05-06 19:00] stacey-gammon commented on #98652
I talked with @jgowdyelastic about this offline and suggested to either make the Add Data page extensible, or to move the file uploader into the home plugin itself. It sounds like the latter option was discussed but difficult due to circular dependency issues which are more and more becoming a problem

maps uses the file_upload plugin and file_data_visualizer  uses embeddable maps

[2021-05-06 19:03] LeeDr commented on #98698
I probably don't understand all the details here, but it seems when we `cancelling all in-progress search requests (DELETE _async_search/{id})` we should also delete the session saved object?  That way it doesn't get stale and doesn't try to get deleted again.

[2021-05-06 19:10] neptunian commented on #98018
I retested this on Cloud.  Only minor issue is when testing with sample web logs, its not automating selected like it is when `filebeat-*` indicies exist. And an error shows before I try to submit it.  It's there when i open the flyout:

<img width="780" alt="Screen Shot 2021-05-06 at 2 59 32 PM" src="https://user-images.githubusercontent.com/1676003/117351521-d6a0b980-ae7b-11eb-871c-50945f200752.

[2021-05-06 19:10] #98018 closed

[2021-05-06 19:37] pmuellr commented on #95618
There are at least some potential cases where the `results_link` being produced by the alert is relative.

See: https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/lib/detection_engine/notifications/utils.ts

`APP_PATH` is a const of `/app/security`, so if `kibanaSiemAppUrl` is not set when the function is called, the result will be a relative URL.

I'd imagine it

[2021-05-06 19:48] Zacqary opened #99536 "[Metrics UI] Add a timeout warning to Alert Previews"
If the user creates an alert with a group-by that's too big, that alert might take an enormous amount of time to execute. This also means the Alert Preview would take a very long time, but it might not be clear to the user what the problem is.

We should have a message pop up if the user runs an alert preview, and it starts taking a very long time (with a higher threshold of time the longer the lo

[2021-05-06 19:48] elasticmachine commented on #99536
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-06 19:50] Zacqary opened #99537 "[Metrics UI] Add ability to edit alerts from the Metrics UI"
Many of our users enjoy the UX of being able to use the Inventory or Metrics Explorer UI as a reference while creating alerts. Would is also be a good UX to allow the user to edit existing alerts directly from the Metrics UI, instead of going to the Alerts Management page?

[2021-05-06 19:50] elasticmachine commented on #99537
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-06 19:52] EricDavisX commented on #99470
@simitt @mostlyjason @ruflin I think this was in response to slack discussions about the feature not working.  please do review and help push it on.

[2021-05-06 19:54] neptunian commented on #99429
I think one problem is where many apps can rerender and it's harmless, it's not the case with our app if we want to support 5k plus hosts in the Waffle Map.  We have to be very careful about rerendering.  Here are some of the issues I've spotted:

- if you are using a context somewhere in a component and that context gets updated, it will cause a state change in your component even if that is not

[2021-05-06 20:03] tsullivan opened #99539 "[Reporting] Generate PDF using `page.pdf()`"
**Describe the feature:**
Export Dashboard to PDF creates a text-based PDF with [`page.pdf()`](https://pptr.dev/#?product=Puppeteer&version=v9.1.0&show=api-pagepdfoptions):

We want to generate PDF reports by having Chromium print the page as a PDF file and return it to us. This will make text become selectable in the PDF file, and should hopefully have performance / storage benefits since the dat

[2021-05-06 20:03] elasticmachine commented on #99539
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 20:03] elasticmachine commented on #99539
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-05-06 20:10] HonzaKral commented on #82751
Any idea on the timeline here? I see that 7.13 target was dropped so came to ask.

I have a use case which is quite important for me - to be able to filter on "User Experience" app by customer, user. anonymous, ... but there is no support in the UI. Right now my hacky solution would be to have different environments for these settings but it messes up other parts of the APM and shouldn't really be

[2021-05-06 20:13] neptunian opened #99541 "[Metrics UI] Perf issue when switching between two views"
Switching between two views causes the currently loaded view (with WaffleMap) to render 3x and then finally render the new view once.  If you try to switch between a 5k host Waffle Map to a 10k, the app becomes unresponsive for a long time.

Here are the issues I've found when switching between two views:

- we are using "useEffect" too casually.  I think normally that's okay, but our app can't af

[2021-05-06 20:13] elasticmachine commented on #99541
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-06 20:17] stacey-gammon opened #99542 "Bfetch plugin is has two types that need to be exported bc they are being used in the public API"
Run `node scripts/build_api_docs.js --plugin bfetch --stats exports` to see a list of all types that need to be exported.

[code]

Without exporting these types, they won't show up in our API documentation:

<img width="789" alt="Screen Shot 2021-05-06 at 4 11 27 PM" src="https://user-images.githubusercontent.com/16563603/117359701-c2fa5080-ae85-11eb-833d-243bdfcc0848.png">

[2021-05-06 20:18] elasticmachine commented on #99542
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-05-06 20:22] #99087 closed

[2021-05-06 20:28] tsullivan commented on #24120
I've added the `impact:high` label to this issue, since it seems like there is reasonable demand for an export type of this kind.

I've added `loe:multi-week` since having this ability implies that we can automate generating CSV output from raw visualizations, which is something that @elastic/kibana-app-services does not have right now.

[2021-05-06 20:38] stacey-gammon opened #99547 "Cases plugin needs to export some more types publically"
Run `node scripts/build_api_docs --stats exports --plugin cases` to see the list:

[code]

Without exporting these types publically they won't show up in our API documentation:

<img width="844" alt="Screen Shot 2021-05-06 at 4 35 40 PM" src="https://user-images.githubusercontent.com/16563603/117362490-53866000-ae89-11eb-802e-1d503de55294.png">

[2021-05-06 20:38] elasticmachine commented on #99547
Pinging @elastic/siem (Team:SIEM)

[2021-05-06 20:45] kibanamachine commented on #98249
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13724/)

[2021-05-06 20:52] jbudz commented on #98249
skipped

main: a643bb3
7.x: 7475357

[2021-05-06 20:56] n0othing commented on #99244
Thanks @stratoula. I could have sworn I didn't see an Export button in a few of my tests (even though it's in my screenshot there). Turns out `Show toolbar` needs to be enabled to see the Export button and it's not enabled by default.

[2021-05-06 21:04] #99503 closed

[2021-05-06 21:20] pmuellr commented on #95618
I should have been more specific; I think you should be able to replace

    [View Detection Alert|{{{context.results_link}}}]

with

    [View Detection Alert|{{{kibanaBaseUrl}}}{{{context.results_link}}}]

[2021-05-06 21:29] spong commented on #50266
If it's not feasible for us to update the `_id` to be the static `rule_id` during our SO migrations I'm actually proposing we disable the import/export of _all_ Security Detection Rules from the SO Mgmt UI in favor of the the dedicated UI within Security Solution. Discussed this with @kobelb with regards to the 8.x migration here: https://github.com/elastic/kibana/issues/82537#issuecomment-7217792

[2021-05-06 22:28] pmuellr commented on #98933
fixed via https://github.com/elastic/kibana/pull/99146 in 7.13, and backported to 7.12

[2021-05-06 22:28] #98933 closed

[2021-05-06 22:31] rashmivkulkarni opened #99556 "Kibana-Alerting plugin status is red."
Stack version : BC4 7.13.0

Results of `/api/status` - Kibana ALerting plugin showing as Red along with other plugins as well.

When I navigated to Stack Monitoring > Kibana - status shows as `Some plugins are experiencing issues. Check status`

<img width="842" alt="Screen Shot 2021-05-06 at 3 29 58 PM" src="https://user-images.githubusercontent.com/11466284/117373370-efab6980-ae7f-11eb-9788-ac66

[2021-05-06 22:31] elasticmachine commented on #99556
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-06 22:32] rashmivkulkarni commented on #99556
@LeeDr cc

[2021-05-06 22:43] cjcenizal commented on #97385
Addressed by https://github.com/elastic/kibana/pull/96111

[2021-05-06 22:43] #97385 closed

[2021-05-06 22:52] bhavyarm opened #99559 "Changing rows per page to 25 in add from library panel on dashboard displays empty list"
**Kibana version:** 7.13.0

**Elasticsearch version:** 7.13.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Sneaky bug. If you are trying to add panels from library and have the panel open and change the rows per page to 25 after c

[2021-05-06 22:54] ThomThomson opened #99560 "[Maps] [Visualize] Slight Inconsistencies with By Value Save Behaviours"
### Inconsistencies
There are a few small differences in nuances of the save experience between other editors (Lens & Visualize) and Maps. Ideally these buttons would work _exactly_ the same. It's mostly aligned already, but there are some changes that could help to make the user experience even easier.

### By Reference Save As
When clicking `save as` when editing a panel which is _by reference_

[2021-05-06 22:54] elasticmachine commented on #99560
Pinging @elastic/kibana-gis (Team:Geo)

[2021-05-06 22:54] elasticmachine commented on #99560
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-05-06 22:55] andreadelrio commented on #80514
![gif](https://user-images.githubusercontent.com/4016496/117373958-1a49f200-ae81-11eb-9c0e-77b38f54c211.gif)

Attaching updated mocks with recently proposed steps. I used the copy Michael already had but Step 1 requires polish. The `Learn more` link takes user to the docs. Wondering if there's a better label for that button. @shaunmcgough @gchaps please verify copy for each step. Pasting text belo

[2021-05-06 22:59] kibanamachine opened #99561 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/feature_controls/time_to_visualize_security·ts - dashboard feature controls dashboard time to visualize security visualize by value works without library save permissions edits to a by value visualize panel are properly applied"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13867/)

[2021-05-06 22:59] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13867/)

[2021-05-06 23:31] #98245 closed

[2021-05-06 23:37] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13727/)

[2021-05-06 23:37] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13727/)

[2021-05-06 23:44] panychek opened #99563 "Wrong specs for Sampler / Diversified sampler aggregations"
**Kibana version:** 7.12.1

**Elasticsearch version:** 7.12.1

As of ES 5.0, the `sampler` aggregation no longer accepts most of these parameters (hence incorrect Console suggestions):
https://github.com/elastic/kibana/blob/921c942befe1ed2793d92c9a68b47cfbf6e35ba4/src/plugins/console/server/lib/spec_definitions/js/aggregations.ts#L419-L428

They were moved to `diversified_sampler`:
https://github.

[2021-05-06 23:52] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13868/)

[2021-05-06 23:52] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13868/)

[2021-05-07 00:11] andreadelrio commented on #80514
And here's how reopening the Tour from the Help menu could look like

![help_menu](https://user-images.githubusercontent.com/4016496/117380191-05279000-ae8e-11eb-9326-ec8cd3faf3d5.gif)

[2021-05-07 00:35] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13728/)

[2021-05-07 00:35] kibanamachine commented on #99561
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13728/)

[2021-05-07 01:31] scottdfedorov commented on #76844
Hey, just a ~~evangelist~~ user working on an upgrade to fleet for my (small) org and was looking for this functionality. Thought I might add my $0.02.

The Custom logs integration allows additional "Custom configurations" that allows adding some (?) additional items. I tested with adding fields and it works. If this could be added to the policy and/or specific integrations, think it would solve t

[2021-05-07 02:03] austinsonger commented on #95618
I will try it and see what happens.

[2021-05-07 03:04] peluja1012 commented on #82100
This PR makes it so duplicated rules are activated by default https://github.com/elastic/kibana/pull/96760.

[2021-05-07 05:53] kibanamachine commented on #99006
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13874/)

[2021-05-07 07:36] #97025 closed

[2021-05-07 08:24] kibanamachine opened #99567 "Failing test: X-Pack EPM API Integration Tests.x-pack/test/fleet_api_integration/apis/agents/complete_flow·ts - Fleet Endpoints fleet_agent_flow should work with 7.9 APIs"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/386/)

[2021-05-07 09:16] mshustov opened #99568 "Provide Error handling guide for Kibana developers"
Kibana guides do not provide any recommendations to categorize runtime exceptions and approaches to handle them. As a result, applications might have:
- gaps in error handling
- fragmentation in error handling approaches
- gaps in testing "unhappy paths"
- misuse of exception to control execution flow

We need a guide providing recommendations about the common approach to error handling:
- the men

[2021-05-07 09:30] mshustov opened #99569 "Provide a test utility to populate ES with test data"
Integration tests often require fixtures replicating ES state populated with documents from different Stack versions. Creating such test fixtures is quite painful for developers since it's a multi-stage error-prone manual process. As a result, developers avoid writing such tests, which in turn affects test coverage for Kibana critical functionality, like SavedObjects migration.
The Core team could

[2021-05-07 09:30] elasticmachine commented on #99569
Pinging @elastic/kibana-core (Team:Core)

[2021-05-07 10:04] RA80533 commented on #99519
What's the first screenshot from?

[2021-05-07 12:08] #96034 closed

[2021-05-07 12:35] spinscale opened #99571 "Dev Tools: Add autocomplete for search_after and pit in search query"
**Describe the feature:** The Kibana Dev Tools Console lacks autocompletion for the `search_after` and `pit` fields in the console autocompletion. You can see an example of both in the search after docs [here](https://www.elastic.co/guide/en/elasticsearch/reference/7.12/paginate-search-results.html#search-after)

Search after should autocomplete to an empty array like this

[code]

and `pit` shoul

[2021-05-07 12:45] RA80533 commented on #99519
Visualization. I figured the meme was just a picture of the TypeScript compiler at work here in the project repo :eyes:

[2021-05-07 12:52] kibanamachine opened #99572 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type ip "is not in list" operator will return 3 results if we have a list which contains the range syntax of "127.0.0.1-127.0.0.3""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13740/)

[2021-05-07 13:20] dgieselaar commented on #99328
@joshdover: @SylvainJuge from the APM Java Agent team has been looking into instrumenting ES. He might have an idea of how the slow query log can be correlated to a trace.

[2021-05-07 13:50] fristedt opened #99573 "Cannot add or update cross-cluster index pattern"
**Kibana version:** 7.10

**Elasticsearch version:** 7.10.2

**Server OS version:**

**Browser version:** Chrome Version 90.0.4430.93 (Official Build) (64-bit)

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:** When we try to add an index pattern for cross-cluster search Kibana fails to find fields for the indices. The cross-c

[2021-05-07 14:14] mbondyra commented on #95395
Reserving this task for a mob programming session.

[2021-05-07 14:22] flash1293 commented on #95395
@mbondyra I think this can be resolved in the toExpression function of the datasource as explained here (also fixes some related cases): https://github.com/elastic/kibana/issues/97463

[2021-05-07 15:39] elasticmachine commented on #99563
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-05-07 16:30] mukeshelastic opened #99575 "[Fleet] Users should not be able to disable fleet-server input from hosted agent"
**Bug Description and expected and actual behavior**
Hosted agent is automatically enrolled in elastic cloud policy. This ensures that hosted agent acts as a fleet-server can enable central agent management. The only way to remove central agent management should be via cloud console by removing apm-fleet instance. However in fleet UI, users are able to remove fleet-server integration from hosted-a

[2021-05-07 16:30] elasticmachine commented on #99575
Pinging @elastic/fleet (Team:Fleet)

[2021-05-07 16:37] mukeshelastic opened #99576 "With no hosted agent, fleet settings shows fleet server URL"
Reproduction steps:
1. 7.12.2-snapshot deployment with no apm server and a single agent enrolled
2. upgrade to 7.13-snapshot without apm-fleet capacity
3. go to fleet UI, check fleet-settings and an url exists
<img width="879" alt="Screen Shot 2021-05-07 at 8 28 54 AM" src="https://user-images.githubusercontent.com/59452300/117481387-c9390d00-af17-11eb-869e-a681cbbc1842.png">

Expected behavior: f

[2021-05-07 16:37] flash1293 commented on #98719
Maybe there's another level where we could generalize this - introducing a HOC or render prop component which is debouncing state updates and keeps a local up-to-date version. I think performance-wise we don't have to debounce at the lowest possible level (which is the input), but could also move to the whole popover panel. This might be easier to re-use (e.g for a use case like https://github.com

[2021-05-07 16:37] elasticmachine commented on #99576
Pinging @elastic/fleet (Team:Fleet)

[2021-05-07 16:54] #87956 closed

[2021-05-07 16:54] #89467 closed

[2021-05-07 16:54] #89555 closed

[2021-05-07 18:06] XavierM opened #99578 "[SECURITY SOLUTIONS] Deprecated our ECS type in favor of import { Ecs } from '@kbn/logging';"
In our common folder we created an ECS type when we moved form GraphQL to search strategy in 7.10. I just discover that `@kbn/logging` has the same thing. I think it will be nice to investigate to see if we can start use this one and deprecated the one in our solution.

[2021-05-07 18:06] elasticmachine commented on #99578
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-05-07 18:06] elasticmachine commented on #99578
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-07 18:57] kibanamachine commented on #98974
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13887/)

[2021-05-07 19:16] joshjanoski opened #99579 "[Lens] Empty pie chart visualization returned in Lens when filtering on false boolean values"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** Tested locally on MacOS Mojave 10.14.6

**Browser version:** Google Chrome Version 90.0.4430.93 (Official Build) (x86_64)

**Browser OS version:** MacOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Zip install from download page

**Describe the bug:**

When creating a

[2021-05-07 19:19] elasticmachine commented on #99579
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-05-07 20:51] fcza opened #99580 "Kibana Visualization font size"
**Kibana version**:  7.12

**Elasticsearch version**: 7.12

**Server OS version**: Centos7

**Browser version**: Chrome 90.0.4430

**Browser OS version**: Windows 10

**Original install method (e.g. download page, yum, from source, etc.)**:yum

**Description of the problem including expected versus actual behavior**:
I have designed a set of dashboards on ELK stack 7.8.
I have installed an other E

[2021-05-07 20:55] fcza commented on #99580
Here is a view of the differences:

![DashboardFont-7 8](https://user-images.githubusercontent.com/23027834/117507441-4d76a900-af87-11eb-9aa8-0409d350d0cb.jpg)
![DashboardFont-7 12](https://user-images.githubusercontent.com/23027834/117507453-4ea7d600-af87-11eb-92a2-ebadf74815d3.jpg)

[2021-05-07 21:29] dgieselaar commented on #99328
@joshdover what do we want to do with the slow query logs that we cannot get from the elasticsearch spans? Other than those being sampled. We have an experimental feature for tail-based sampling, but I'm not sure if that is able to select outliers yet, I'll follow up on that.

[2021-05-08 04:18] meowtochondria commented on #95782
At my org, people are getting confused where to write their search query - in top `Search Elastic` bar or box with `Search` written in it. There's a multitude of folks who use this UI. Some know way too much about logs, and others in support functions frequently need logging 101. I would appreciate if there was:
1. Option to hide top bar, as this ticket mentions, or
2. Redesign it in a way that al

[2021-05-08 06:51] kibanamachine opened #99581 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/spaces_selection·ts - Spaces app Spaces Space Selector allows user to navigate to different spaces"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13758/)

[2021-05-08 07:50] kibanamachine commented on #89031
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13900/)

[2021-05-08 15:33] mattkime commented on #84352
@tsullivan I see an instance at `x-pack/plugins/reporting/server/export_types/csv/generate_csv/field_format_map.ts:48` is this something that needs to be kept or can it be refactored out?

@shahzad31 I see an instance at `x-pack/plugins/observability/public/components/shared/exploratory_view/rtl_helpers.tsx:331` - is this something thats needed or can it be refactored out?

[2021-05-08 15:55] kibanamachine opened #99583 "Failing test: Jest Tests.packages/kbn-cli-dev-mode/src - BasePathProxyServer shouldRedirect it will NOT redirect if it is not a GET verb"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13768/)

[2021-05-08 16:19] mattkime commented on #68049
Since 7.9 we're using a new endpoint - https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-resolve-index-api.html - to create this list which should have a significant performance increase over the search query used previously. I'd like to confirm this problem still occurs 7.9 and later before taking action on this.

[2021-05-08 16:22] mattkime commented on #99519
[code]

[2021-05-08 18:23] stacey-gammon opened #99584 "API docs type alias's with generics aren't lose generics"
The Api Doc infra builds a signature that doesn't include the _name_ of the type, which means for type alias's that include generics, these are lost:

<img width="832" alt="Screen Shot 2021-05-08 at 2 13 45 PM" src="https://user-images.githubusercontent.com/16563603/117549519-d97ce500-b008-11eb-8a10-b988a5cac107.png">

[rendered in docs](https://elasticdocstest.netlify.app/kibana-dev-docs/core.htt

[2021-05-08 18:23] elasticmachine commented on #99584
Pinging @elastic/kibana-operations (Team:Operations)

[2021-05-08 18:24] stacey-gammon commented on #99584
This code isn't owned by ops team, but the tech leads. Since @spalger has been reviewing so much of this, I'm going to use this team label so it avoids the `needs-team`.

[2021-05-08 18:32] stacey-gammon opened #99585 "API docs: functions defined inside an object don't report children"
Functions inside objects, defined [like this](https://github.com/elastic/kibana/blob/master/src/plugins/bfetch/server/plugin.ts#L81):

[code]

end up without the function parameters defined as children:

<img width="780" alt="Screen Shot 2021-05-08 at 2 28 47 PM" src="https://user-images.githubusercontent.com/16563603/117549751-1eede200-b00a-11eb-8bb0-72850c0dd510.png">

it ends up hitting [this s

[2021-05-08 18:40] stacey-gammon opened #99586 "Api docs: unspecified default generic types are included and expanded"
You can see this happening in the cases plugin:

[Code](https://github.com/elastic/kibana/blob/master/x-pack/plugins/cases/public/types.ts#L43):
[code]

Type looks pretty simple here, but is rendered like [this in the docs](https://elasticdocstest.netlify.app/kibana-dev-docs/casesPluginApi#def-public.CasesUiStart.getAllCases):

<img width="814" alt="Screen Shot 2021-05-08 at 2 36 57 PM" src="https

[2021-05-09 00:43] kibanamachine commented on #98974
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13776/)

[2021-05-09 00:44] kibanamachine opened #99587 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/saved_searches·ts - discover Discover Saved Searches "after all" hook: clean up archives in "Discover Saved Searches""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13776/)

[2021-05-09 01:39] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13777/)

[2021-05-09 14:46] stacey-gammon opened #99588 "ApiDocs: Types not capturing reference links"
Types are losing reference links:

[Code](https://github.com/elastic/kibana/blob/master/x-pack/plugins/cases/public/types.ts#L37):
[code]

[Rendered in docs](https://elasticdocstest.netlify.app/kibana-dev-docs/casesPluginApi#def-public.StartServices):

<img width="865" alt="Screen Shot 2021-05-09 at 10 39 15 AM" src="https://user-images.githubusercontent.com/16563603/117576335-9d528e80-b0b3-11eb-8

[2021-05-09 14:46] elasticmachine commented on #99588
Pinging @elastic/kibana-operations (Team:Operations)

[2021-05-09 19:35] anish-khanna commented on #98724
If this is still available, I can give it an attempt at least for index management

[2021-05-09 21:30] HonzaKral opened #99590 "Lens shows incorrect numbers in multi-dimensional pie chart"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** Elastic Cloud

**Describe the bug:** if I have a multi value field and use it as `terms` agg in lens, the parent `terms` agg's values will be set to the sum of its children instead of the number reported y elasticsearch

**Expected behavior:** I would expect to see the number of documents at every level, that is

[2021-05-09 22:59] kibanamachine commented on #98974
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13939/)

[2021-05-10 02:32] YulNaumenko opened #99593 "[Docs][Rules] Provide documentation about finding alerting framework health information in the UI"
Currently we have only [health API docs](https://www.elastic.co/guide/en/kibana/7.13/get-alerting-framework-health-api.html), but in addition to that we are displaying the error messages in the Rules Management screen and on the Rule Details page.
There are no documentation about the showing errors (health status) in the Management UI.
We must provide the missing documentation to simplify the user

[2021-05-10 02:32] elasticmachine commented on #99593
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-05-10 03:24] yctercero commented on #99338
The unit test should suffice for this particular case, though by no means am I saying there's enough testing around exceptions overall. We could certainly revisit tests in exceptions as it's now grown a bit.

[2021-05-10 05:25] muskangulati-qasource opened #99596 "[Security Solution] The checkbox for 'Show only threat indicator alerts' does not work until hard refreshed if the alerts table is empty"
**Describe the feature**
The checkbox for 'Show only threat indicator alerts' does not work until hard refreshed if the alerts table is empty

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed
2. There should be no alert generated.

**Steps to Reproduce**
1. Navigate to the Detections tab and click on 'Additional filters' on the alerts table
2. Check the

[2021-05-10 05:25] elasticmachine commented on #99596
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-10 05:25] muskangulati-qasource opened #99597 "[Security Solution] By default, the subject field is empty and the user is able to add the exception list. However, if we click on the field, it starts showing an error that the field can't be empty. And the user is unable to add the exception list"
**Describe the feature**
By default, the subject field is empty and the user is able to add the exception list. However, if we click on the field, it starts showing an error that the field can't be empty. And the user is unable to add the exception list

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.13.0 environment should be deployed.
2. Alerts should be generated( For eg, Mimikatz.ex

[2021-05-10 05:25] elasticmachine commented on #99597
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-10 05:25] muskangulati-qasource commented on #99596
@manishgupta-qasource please review !!

[2021-05-10 05:25] muskangulati-qasource commented on #99597
@manishgupta-qasource please review !!

[2021-05-10 05:29] MadameSheema commented on #99596
@rylnd @ecezalp can you please take a look at this? Thanks :)

[2021-05-10 05:30] elasticmachine commented on #99597
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-05-10 06:22] dikshachauhan-qasource opened #99599 "Updated namespace changes under managed policy not reflected on Data streams page."
**Kibana version:**
7.13 BC4 Kibana Cloud QA environment

**Host OS and Browser version:**
Managed host on cloud, All

**Preconditions**
1.  7.13 BC4 Kibana Cloud QA environment should be available.
[code]
2. Managed host should be available under Agents tab.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Policies tab.
3. Update namespace on managed policy's setting tab.
4

[2021-05-10 06:23] dikshachauhan-qasource commented on #99599
@manishgupta-qasource Please review

[2021-05-10 06:39] pheyos commented on #94084
The above mentioned fix has been backported to 7.13 and the failure occurred on the (not fixed) 7.12 branch. I'll backport the fix to the 7.12 branch as well.

[2021-05-10 06:42] ruflin commented on #99576
I assume the same also happens if no upgrade is done and 7.13 is used directly? For the fleet-server url, not sure if should leave it empty. Two scenarios here:

* The fleet-server is not running yet, but a users is preparing the automated setups of Elastic Agents. That is when the user wants to copy the url
* As I think the above scenario is not Cloud specific but also applies when there is no El

[2021-05-10 06:46] manishgupta-qasource commented on #99599
Reviewed & Assigend to @EricDavisX

[2021-05-10 07:15] formgeist opened #99601 "[UX] Add global search bar to allow for KQL querying on the data"
# Summary

Originally requested in https://github.com/elastic/kibana/issues/82751#issuecomment-833827663

The user wants to query on their RUM data specifically around user data and I imagine all of the fields that are not supported filters in the UX app.

<img width="587" alt="Screenshot 2021-05-10 at 09 13 30" src="https://user-images.githubusercontent.com/4104278/117619808-ff70c980-b16f-11eb-94

[2021-05-10 07:15] elasticmachine commented on #99601
Pinging @elastic/uptime (Team:uptime)

[2021-05-10 07:16] formgeist commented on #82751
@HonzaKral Hope you're doing well! You're right that we have been pushing this particular issue back in order to investigate switching to the global header search bar and date picker instead of relying on individual implementations in each of the Observability apps. This issue is specifically for switching it in the APM app, but I've created a [new issue](https://github.com/elastic/kibana/issues/9

[2021-05-10 07:18] simitt commented on #99470
Not seeing any apm data in datastreams is expected, as apm is still running standalone in the setup (not an elastic-agent integration).

Enabling _metrics & logs collection_ in the cloud UI triggers sending logs and metrics to the users cluster. For APM and Elastic Agent & Fleet Server following should be shown.

- Logs: navigate to the log app and query for `event.dataset : "apm.log" ` and `event

[2021-05-10 07:42] pgayvallet commented on #91615
@jportner

Yea, this is meant to be an administrator-only feature, to restricting to the highest permissions / role seems fine.

Good question. I think we want to, but retaining the space-specific information such as the permission matrix may be a pain to reimport, e.g to another instance where the defined roles are not the same. I'm afraid exporting the spaces themselves would also require to man

[2021-05-10 07:52] karanbirsingh-qasource commented on #99596
Hi @MadameSheema

Just one additional observation to this issue. Checkbox for "Show only threat indicator alerts" **on indicator threat rule triggered from file beat** is not showing on UI.

Build Details:
[code]

**Whats Working**
- Issue occuring with threat indicator alert only at detection tab too

![image](https://user-images.githubusercontent.com/59917825/117624573-af572e80-b192-11eb-8ac3-e1

[2021-05-10 08:06] xcrzx commented on #82100
Hey @peluja1012, maybe it's just a typo, but my PR makes duplicated rules **deactivated** by default.

[2021-05-10 08:06] Dosant commented on #99471
@timroes, have you actually seen a leakage there, or did you assume from reviewing code?
It looks like there is an `unobserve` https://github.com/elastic/kibana/blob/ebe85665a92a525c0c6e6f3a290997da08f65eff/src/plugins/data/public/ui/search_bar/search_bar.tsx#L365

[2021-05-10 08:15] igoristic commented on #98807
@simitt

I added screenshots in the PR of the fixed values.

One thing that might be confusing is this panel here:
![Screen Shot 2021-05-10 at 4 02 57 AM](https://user-images.githubusercontent.com/27822304/117627018-bd329280-b145-11eb-97ab-1dbda79ec15b.png)

Is actually memory usage `max - min` within the specified time range (in the datepicker at the top right). This is how we calculate the value

[2021-05-10 08:28] karanbirsingh-qasource commented on #87032
HI @MadameSheema

we have validated this issue on **7.13.0 BC4** on windows browser at 100% resolution and **Issue is still occuring** . Show top host name pop-up doesn't appears correctly.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/117629316-a9b01780-b197-11eb-9707-7b5687f3d351.png)

[2021-05-10 08:30] deepikakeshav-qasource commented on #84616
Hi @MadameSheema,

We have Re- validated this ticket on **7.13.0** BC4 build and observed that issue is **still ocurring**. Old Screenshot with SIEM name is displaying in auditbeat under add data.

Build Details:
[code]

**Screenshot:**
![add data](https://user-images.githubusercontent.com/61860752/117620083-ba5b9000-b18d-11eb-8359-12701f0207c8.jpg)

Thanks!!

[2021-05-10 08:41] karanbirsingh-qasource commented on #88808
HI @MadameSheema

we have validated this issue on **7.13.0 BC4** and **Issue is still occuring** . Column description pop-up is getting hidden and complete description of that filed is not readable to user.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/117631116-8be3b200-b199-11eb-9edf-ee98fb53aabc.png)
![image](https://user-images.githubuse

[2021-05-10 08:44] deepikakeshav-qasource commented on #85543
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **still occurring**. The "Add filter" link is not properly displayed after clicking on "Edit as Query DSL" under the timeline.

Build Details:
[code]

**Screenshot:**
![Edit_filter](https://user-images.githubusercontent.com/61860752/117614401-e541e600-b185-11eb-960a-061c83142066.jpg)

Thanks!!

[2021-05-10 08:47] pheyos commented on #94084
The fix has been backported to 7.12 in #99600.

[2021-05-10 08:51] deepikakeshav-qasource commented on #87456
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **Fixed**. Details and process.executable information is displayed for mimikatz.exe when events are 0.

Build Details:
[code]

**Screenshot:**
![mimikatz_events](https://user-images.githubusercontent.com/61860752/117616612-f6d8bd00-b188-11eb-85c6-afcaa295e121.jpg)

Hence, We are closing this ticket

[2021-05-10 09:00] karanbirsingh-qasource commented on #90000
HI @MadameSheema

we have validated this issue on **7.13.0 BC4** and **Issue is still occuring** . Default value for Pager duty Event action trigger is missing.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/117633977-2513c800-b19c-11eb-8ba7-1bca20ec34c2.png)

[2021-05-10 09:02] karanbirsingh-qasource commented on #90275
HI @MadameSheema

we have validated this issue on **7.13.0 BC4** and **Issue is still occurring** . No Confirmation pop-up for deleting detection rules

**Build Details:**
[code]

[2021-05-10 09:03] karanbirsingh-qasource commented on #90928
HI @MadameSheema

we have validated this issue on **7.13.0 BC4** and **Issue is still occuring** . Date modal is scrolled on scrolling the page under detection tab.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/117634532-9fdce300-b19c-11eb-977c-337cdf086805.png)

[2021-05-10 09:36] marekduciuc opened #99606 "[DOCS][APM] Fix documatation regards apm alerts edit."
Kibana: 12
Documentation here is wrong, it is nto possible to edit APM alerts in this way
https://www.elastic.co/guide/en/kibana/current/apm-alerts.html#apm-alert-manage
There is PR to make it happen https://github.com/elastic/kibana/issues/76316
Until this is implemented docs should be amended to reflect real state.

[2021-05-10 09:36] elasticmachine commented on #99606
Pinging @elastic/apm-ui (Team:apm)

[2021-05-10 09:36] elasticmachine commented on #99606
Pinging @elastic/kibana-docs (Team:Docs)

[2021-05-10 09:40] dgieselaar commented on #99606
@bmorelli25 can you pick this up? @marekduciuc if needed, you can update the APM alert via the API: https://www.elastic.co/guide/en/kibana/current/alerts-api-update.html. You'll probably have to dig a bit to figure out what parameters to update though, a good start would be to call the GET API first: https://www.elastic.co/guide/en/kibana/current/alerts-api-get.html. If you don't have the ID, you

[2021-05-10 09:45] dikshachauhan-qasource opened #99649 "[Fleet] Without clicking on upgrade package button, Integration gets updated by itself on just adding it to a policy."
**Kibana version:**
7.13 BC4 Kibana Cloud QA environment

**Host OS and Browser version:**
Integrations, All

**Preconditions**
1.  7.13 BC4 Kibana Cloud QA environment should be available.
[code]
2. Managed host should be available under Agents tab.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Integrations tab and click on Nginx integration
3. Use below API to see the i

[2021-05-10 09:45] deepikakeshav-qasource commented on #91821
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC4 build and observed that issue is **still occurring**. No validation for Tags when added the tags with whitespace under the cases and rules creation.

Build Details:
[code]

**Screenshot:**
![tags](https://user-images.githubusercontent.com/61860752/117617788-ab271300-b18a-11eb-9710-c159b53256b9.jpg)

![cases_tags](https://user-image

[2021-05-10 09:58] estermv opened #99607 "[Metrics UI] Metrics explorer don't mantain state between visits"
**Kibana version:** master

**Describe the bug:**
Metrics explorer doesn't save the state after modifying different options in the UI.

**Steps to reproduce:**

1. Go to Metrics Explorer
1. Change metrics in the metrics bar, for example, type `system.network.in.bytes`
2. Change the aggregation to `Rate`
3. Set "graph per" to `host.name` and `system.network.name`
4. Click on the Elastic logo at the

[2021-05-10 09:58] elasticmachine commented on #99607
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-05-10 09:59] estermv commented on #97759
This is also happening in 7.12 and 7.11, so I opened a separate ticket to fix it https://github.com/elastic/kibana/issues/99607

[2021-05-10 10:21] deepikakeshav-qasource opened #99610 "[Security Solution]No collapse button or link is available for excess data on the Detection tab when enabling the "Threat Indicator Match" row renderers for indicator rules."
**Description**
No collapse button or link is available for excess data on the Detection tab when enabling the "Threat Indicator Match" row renderers for indicator rules.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Filebeat should be installed.
3. Indicator alert should be.
4. Multiple rows data should exist for indicator rules

*

[2021-05-10 10:21] elasticmachine commented on #99610
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-05-10 10:21] deepikakeshav-qasource commented on #99610
@manishgupta-qasource Please review!!

[2021-05-10 10:25] deepikakeshav-qasource opened #99611 "[Security Solution] "Updated 51 years ago" is displaying in a pinned tab under the Timeline template."
**Description**
"Updated 51 years ago" is displaying in a pinned tab under the Timeline template.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana Environment should exist.
2. Audibeat should be installed

**Steps to Reproduce:**
1. Navigate to the Timeline tab of security.
2. Click on the Timeline template tab.
3. Click on create a new timeline template.
4. Click