[2022-09-21 14:37] elasticmachine commented on #141245
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-21 14:44] #139734 closed

[2022-09-21 14:48] juliaElastic commented on #141184
Could you test with a newer snapshot? I added a [fix](https://github.com/elastic/kibana/pull/140833) for this recently, so that hosted agents would be saved with an error result (as the action failed validation), so the action would show up as failed.

[2022-09-21 14:48] juliaElastic commented on #140911
Thanks for the details, I'll look at the single agent scenarios.

[2022-09-21 15:06] elasticmachine commented on #141042
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-21 15:07] elasticmachine commented on #141188
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-21 15:08] elasticmachine commented on #141191
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-21 15:17] JiaweiWu opened #141251 "[RAM] Split bulk snooze options into 4 separate menu items"
Based on the comments in this PR: https://github.com/elastic/kibana/pull/139742#issuecomment-1251392288

We want to split the bulk snooze and bulk snooze schedules into 4 separate menu options:

- Snooze now
- Unsnooze now
- Schedule snooze (or Add snooze schedules)
- Unschedule snooze (or Remove snooze schedules)

[2022-09-21 15:21] jughosta commented on #139246
@bhavyarm @kertal Is it correct that suggestions are also filtered by the current time range on Discover page?

[2022-09-21 15:23] jamster10 opened #141253 "Add missing functionality to alerts on entity pages"
As it relates to https://github.com/elastic/security-team/issues/4162 and https://github.com/elastic/kibana/pull/140150

**Kibana version:**
8.5

**Describe the bug:**

**Steps to reproduce:**
1. Visit any of the entity detail pages

Updates to be made:
1. Title of Alert severity chart should be 'Alerts by Severity' and not 'Alerts by Status'
2. Global filters should apply to view
3. On Alerts by

[2022-09-21 15:27] constancecchen commented on #135760
There is not anything inherently more accessible about a skip link with a `href` than a button with a `onClick`. If the text of both clearly communicate what's going to happen (focus is going to move to some other content), a href is not superior in and of itself. VO/SRs will read out "link" instead of "button", but that's literally it. It's not like the SR will read out the ID that the `href` lin

[2022-09-21 15:28] kertal commented on #139246
I would say so, since it makes sense to no search all data but only the one that's in the given time range. the problem is, what's when there's no time range, I assume when selecting a data view in Discover that has not time range, the request for suggestion still has a time range?

[2022-09-21 15:29] JiaweiWu opened #141255 "[RAM] Support bulk enable/disable and bulk delete via the bulk edit API"
Based on the comments in this PR: https://github.com/elastic/kibana/pull/139742#issuecomment-1251392288

We currently disable the `enable/disable` and `delete` options in the bulk edit menu when the user clicks `select all rules`. In the select all mode we are using the bulk edit API as it supports filters.

For 8.6 we want to support bulk `enable/disable` and `delete` for the `select all` mode. T

[2022-09-21 15:33] jughosta commented on #139246
@kertal No filter for time range when a data view does not have a time field. Then all good :)

<img width="1460" alt="Screenshot 2022-09-21 at 17 32 03" src="https://user-images.githubusercontent.com/1415710/191547491-dd8902a2-189b-4fc9-955c-f7608aaf6221.png">

[2022-09-21 15:41] JiaweiWu opened #141256 "[RAM] Odd behaviour when we bulk snooze, and then bulk add snooze schedule. The snooze disappears"
Based on the comments in this PR: https://github.com/elastic/kibana/pull/139742#issuecomment-1251392288

When we bulk snooze rules, and bulk add a snooze schedule, the first snooze is canceled. While this behaviour is intended for snoozing individual rules, for bulk snooze, we want the initial snooze to remain.

[2022-09-21 15:43] azasypkin opened #141258 "[Meta] User profile management APIs and UI"
## Summary

This meta issue intends to collect any [user profile](https://www.elastic.co/guide/en/elasticsearch/reference/master/user-profile.html) management UI and/or Kibana APIs we might need to cover our _near-term_ needs.

We create a profile for the user when they log in to Kibana for the first time. Every subsequent login causes

### Deactivation of the User Profiles

Since Elastic Stack su

[2022-09-21 15:44] maryam-saeidi commented on #140507
@spalger yes, I've added a log based on our discussion and based on the screenshot [here](https://github.com/elastic/kibana/issues/140507#issuecomment-1250972078), it seems we fetch the data correctly in the failed test but the loading is still there even after 30 secs.

The strange part is, the tests are passing when we load the table at the page load time but if we put the table in accordion and

[2022-09-21 15:45] azasypkin commented on #141258
@ywangd do you think it'd be possible to implement something like this on the Elasticsearch side or there are reasons why we shouldn't do it?

[2022-09-21 15:46] cauemarcondes commented on #127759
@LucaWintergerst any update on this?

[2022-09-21 15:47] nreese commented on #141142
Yes, this issue is for replacing the data view select in the layer creation wizard

<img width="400" alt="Screen Shot 2022-09-21 at 9 47 07 AM" src="https://user-images.githubusercontent.com/373691/191550840-9c97bd03-56d1-4e5d-8878-fea800cb9114.png">

[2022-09-21 15:49] kertal commented on #139246
ok, so Discover is fine, it's just Graph who's confused :)

[2022-09-21 15:52] JiaweiWu opened #141260 "[RAM] Adding snooze schedules to individual rules does not respect the 5 schedule limit"
Based on the comments in this PR: https://github.com/elastic/kibana/pull/139742#issuecomment-1251392288

We intended to have a 5 snooze schedule limit on rules. The bulk snooze respects this, but the user is able to add more than 5 snooze schedules if they are using the `notify` badge, or any other individual snooze method.

![image](https://user-images.githubusercontent.com/74562234/191551348-943

[2022-09-21 15:55] exalate-issue-sync[bot] opened #141262 "Automate Kibana PR version label management around FF/BC/release"
After an e-mail from Lee and a [slack conversation|https://elastic.slack.com/archives/C5UDAFZQU/p1657054248780819], I realized that the process of managing version labels on PRs around FF/BC/release time is tedious, confusing, and error-prone.

My understanding is this:

Let’s say that {{8.3.1}} is the next {{8.3}} version that will be released. Leading up to FF and BC, all PRs merging destined fo

[2022-09-21 15:58] JiaweiWu opened #141263 "[RAM] Bulk edit selection does not respect rule list filter"
When the user applies a filter in the rules list, and they click "Select all X rules" and perform a bulk edit, the bulk edit does not respect the rules list filter despite implying that it does

Steps to reproduce:
- Create multiple rules in the rules list
- Filter by some of the rules
- Select 1 rule, then click "Select all X rules"
- Apply a bulk action

Result:
- All rules are affected

Expecte

[2022-09-21 15:58] elasticmachine commented on #141263
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-21 16:03] smith commented on #135874
Ongoing discussion on #135760 indicates that they might be able to solve this at the platform level. Putting this back into the backlog until we have finalized guidance on how to finish this.

[2022-09-21 16:06] tomsonpl commented on #141188
Hey, good catch!  I got pinged about this one since my team introduced this (response actions) functionality, so will try to answer :)
The thing is that Response Actions are not connected to the throttle (actions frequency) at all. Thus they are available at all times. We can think of a way to toggle it on/off if you find the current way problematic?
Hope this helps, please ping me when I could be

[2022-09-21 16:33] ersin-erdal commented on #92355
Do we need this? There is already a toast message which displays `Updated <connector-name>`

[2022-09-21 16:49] kibanamachine commented on #141052
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21189#018360cf-8fce-4542-a732-d04f75c789ce)

[2022-09-21 16:57] tylersmalley commented on #141052
/skip

[2022-09-21 16:58] ablnk commented on #136092
@juliaElastic I've retested that on a fresh build 8.5.0-7dc445a0 with 100k agents against a deployment with the following config: Fleet 32G / ES 64G. All agents had initially 2 tags, I selected all agents and unticked those tags one after another. What happened next is a bit different from what I saw before - no errors returned, but tag names didn't disappear from the list and were available for f

[2022-09-21 17:03] iamhowardtheduck opened #141270 "[Lens] Data Table Rotate 90°"
Rotate the columns of a data table left (or right) 90°

Data tables are great at displaying column names at the top, however some users like to have them on either the right or left sides  This is known as a transpose command within Excel.

https://support.microsoft.com/en-us/office/transpose-function-ed039415-ed8a-4a81-93e9-4b6dfac76027

[2022-09-21 17:14] pmuellr opened #141271 "[ResponseOps] persist the ECS version used to generate RAC AAD mappings"
I just noticed that we don't actually persist the version of ECS we used to generate the RAC mappings for the AAD indices:

https://github.com/elastic/kibana/blob/8.4/x-pack/plugins/rule_registry/common/assets/field_maps/ecs_field_map.ts

We should be though:

- it's good to see the value in the code, without having to trace commits / PRs for this file, and hope the version is mentioned in a comme

[2022-09-21 17:20] qn895 commented on #134321
My apologies for the confusion: Double-checking the Fleet code again, and we currently don’t delete the destination indices upon uninstallation or upgrade. It will only delete the transforms, index templates, and component templates from the old version:
[code]
A simplistic upgrade works now (i.e. Install Endpoint package with compliant transforms -> upgrade to an Endpoint package with compliant t

[2022-09-21 17:27] marshallmain commented on #140937
Hi @samratbhadra-qasource, we don't expect the rule preview to auto-refresh because calculating the preview results is a fairly expensive task computationally. The user must explicitly refresh the results. This allows users to make any number of edits to the rule before previewing the results again.

[2022-09-21 17:33] neptunian opened #141273 "[Infrastructure UI] Use same No Data messaging on Hosts View"
If indices or data streams exists in the alias being used (default: `metrics-*`, `metricbeat-*`), but no data matches the filters, this is currently shown from the Lens table:

<img width="1611" alt="Screen Shot 2022-09-21 at 1 25 08 PM" src="https://user-images.githubusercontent.com/1676003/191571125-3b3e2978-bf3d-4657-a0b1-eb27c297de62.png">

If the table has no results, we should show the same

[2022-09-21 17:33] elasticmachine commented on #141273
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-21 18:01] dimaanj commented on #110478
For now open `Inspect` breaks Graph user experince. What about adding Inspect sidebar like we have in Discover and Lens. WDYT? @kertal @dej611

https://user-images.githubusercontent.com/39378793/191577130-76eda985-afa3-4e2e-a6d2-4558aca130a5.mp4

[2022-09-21 18:03] kevinlog commented on #134321
@droberts195 @qn895 thank you for the insight.

Understood.  For what it's worth, I don't believe the existing logic for installation/upgrade of the legacy transform schema was any more graceful or efficient and we've relied on it for about 2 years.  However, our use case is likely an outlier as we use the `latest` transform which pulls the latest document for each unique Agent/Endpoint ID.  Our l

[2022-09-21 18:11] nchaulet commented on #135197
Just tested on 8.4 and 8.5 and I think that issue is fixed, please reopen if you think is not

<img width="688" alt="Screen Shot 2022-09-21 at 2 08 47 PM" src="https://user-images.githubusercontent.com/1336873/191579369-add956ff-efd2-4e86-ae7f-0d90534a01bf.png">

[2022-09-21 18:11] #135197 closed

[2022-09-21 18:13] nchaulet commented on #141183
Looks like the issue is with the `experimental_data_stream_features` property that is not supported by the new package policy API I will take a look to see how we can fix that.

[2022-09-21 18:18] nchaulet commented on #141022
It seems to me this is the same issue as https://github.com/elastic/kibana/pull/141081 there is no state in the URL, it should probably be retested when a new snapshot is available

[2022-09-21 18:43] kpollich commented on #139862
This is closely related to https://github.com/elastic/kibana/issues/141211, but I think we can address wiring this functionality up to the package spec values for each data stream as a follow-up.

Building the UI and persistence out for each setting is enough work for this issue, and tacking on the functionality of honoring the package spec configuration for each data stream would be a bit much.

[2022-09-21 18:45] liza-mae opened #141280 "Dashboard control data does not update when editing an existing control field"
**Kibana version**: 8.4.3-SNAPSHOT

**Elasticsearch version**: 8.4.3-SNAPSHOT

**Server OS version**: Cloud / Staging

**Browser version**: Chrome / Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Cloud staging

**Description of the problem including expected versus actual behavior**:
When updating an existing dashboard control field, the data is not loaded.  You

[2022-09-21 18:49] Heenawter commented on #141280
I tried to reproduce this locally and wasn't able to:

https://user-images.githubusercontent.com/8698078/191586176-e53b642b-497c-48fb-be12-2d4d8ebb4daf.mov

Will try on a cloud instance and verify whether or not it works there 👍

[2022-09-21 18:51] ThomThomson commented on #141280
I was able to repro this on Elastic cloud 8.4.1 - very strange that it would work locally but not on cloud...

[2022-09-21 18:52] kdelemme opened #141283 "[Actionable Observability] Update an SLO"
## 📝 Summary

Part of #137323
[RFC](https://docs.google.com/document/d/1fiMjiKJSQVuh6h4-lRsqRl0_fN5XuplgDeo444yE3bE/edit#)

A user should be able to edit any existing SLO and change any fields from it.

As detailed in the RFC, when any properties but the indicator is updated on an SLO, the system will simply update the SLO saved object without introducing a new revision. In this case, the related

[2022-09-21 18:52] elasticmachine commented on #141283
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-21 18:53] ThomThomson commented on #141280
I've given this `impact:low` because it only affects Dashboard authors at the moment, and it's fairly uncommon to change the field of a control.

[2022-09-21 18:54] kevinlog commented on #140614
@logeekal

I'm apprehensive to add the Timeline bar to the bottom of the pages above since I think it would interfere with some of our functionality.  Most notably, we use a bottom bar with save options on our Policy configuration page.  Screenshot below.

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/56395104/191586510-93420073-fe91-439d-84e6-a2d28da4eeaa.png">

I l

[2022-09-21 19:01] Heenawter commented on #141280
Tested this on cloud `8.4.1` instance and was also able to recreate it - very odd!

A few things I noticed:
1. This **only** seems to happen when switching from an options list to another options list field on edit - switching from range slider to options list or vice versa, this does not seem to happen.
2. Once a value is cached, it seems to work - i.e. suppose you edit a control that uses `Field

[2022-09-21 19:05] liza-mae opened #141285 "[test-failed]: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/options_list·ts - dashboard elements dashboard elements Controls Dashboard options list integration Options List Control creation and editing experience editing other control settings keeps selections"
**Version: 8.4.3-SNAPSHOT**
**Class: Chrome UI Functional Tests.test/functional/apps/dashboard_elements/controls/options_list·ts**
**Stack Trace:**

[code]
**Other test failures:**

 _Test Report: https://buildkite.com/elastic/estf-cloud-kibana-functional-tests/builds/678_

[2022-09-21 19:05] elasticmachine commented on #141285
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-21 19:05] liza-mae commented on #141285
This test failure is due to bug: https://github.com/elastic/kibana/issues/141280.  We will skip this test on cloud until bug is fixed. Once bug is fixed this test can be unskipped.

[2022-09-21 19:05] nchaulet commented on #137785
I am wondering if it make sense to clean `has_seen_add_data_notice` and `has_seen_fleet_migration_notice` too, for the first one I did not find where it's used, and for `has_seen_fleet_migration_notice` it was used for the migration to Fleet server (in 7.13 I think)

[2022-09-21 19:06] liza-mae commented on #141285
I will put a PR to skip this test, This issue should remain open and closed as part of the fix for https://github.com/elastic/kibana/issues/141280 by removing the skip tag.

[2022-09-21 19:22] sethmlarson opened #141287 "Create an integration test for default User-Agent header"
Kibana now added a `User-Agent` by default to requests made by the Elasticsearch client. During review it was determined that there should be an integration test, however would require mocking the Elasticsearch server. This issue is being created to track that requirement.

References:
- https://github.com/elastic/kibana/pull/141003#issuecomment-1253604321
- https://github.com/elastic/kibana/issue

[2022-09-21 19:27] nickpeihl commented on #128783
I wonder if this should include changing the color for the mouse coordinates and attribution overlays as well? We should probably make it consistent.

[2022-09-21 19:30] stephmilovic commented on #141232
After enabling risk score features, Critical Hosts/Critical Users count at the top of the page does not refresh with page refresh button. A browser refresh is required to see the updated count.

[2022-09-21 19:33] caitlinbetz commented on #140614
Thanks for calling this out @logeekal. I like @kevinlog 's idea of prompting a save when the user navigates into the Manage section. @paulewing - curious about your thoughts on this?

[2022-09-21 19:35] kdelemme opened #141292 "[Actionable Observability] Get Basic SLO information"
## 📝 Summary

Part of #137323

Create a new endpoint to get an SLO details by its id, e.g. `GET /observability/slos/{uuid}`
This API should return the basic details of the SLO:
- id
- name
- description
- time_window
- objective
- indicator

[2022-09-21 19:35] elasticmachine commented on #141292
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-21 19:35] LucaWintergerst commented on #127759
apologies, missed the earlier ping. Seems good on my side too, thanks!

[2022-09-21 19:35] #127759 closed

[2022-09-21 19:35] yiyangliu9286 commented on #141056
I personally don't think it necessary because we'd already separated up the Rule exceptions | Endpoint exceptions tabs so users should be able to distinguish them.

[2022-09-21 20:01] nreese commented on #128783
And attribution as well

[2022-09-21 20:02] spalger commented on #140507
Still sounds like a UI issue to me, one that users are likely to encounter in conditions similar to CI

[2022-09-21 20:04] dominiqueclarke opened #141295 "[Uptime] Lightweight project monitors show browser fields when edited"
When edited, project monitors should display read-only configuration.

For the newly added lightweight monitors, the read-only configuration displayed visualizes browser configuration, not lightweight monitor configuration. We should update this view to do the following

1. Hide browser advanced options for lightweight monitors
2. Display urls and hosts for lightweight monitors

[2022-09-21 20:04] elasticmachine commented on #141295
Pinging @elastic/uptime (Team:uptime)

[2022-09-21 20:04] Heenawter commented on #139869
Taking this over from @cqliu1 since she has her hands full with Canvas stuff that popped up 👍

[2022-09-21 20:06] dgieselaar commented on #139730
@lukeelmers @pgayvallet regardless of whose responsibility it is to fix, if this is easy, can we patch this on our side sooner than later? This is really confusing to folks on new machines, and especially folks new to the company/Kibana.

[2022-09-21 20:14] tylersmalley opened #141298 "Remove Kibana version from Security Solution test assertion data"
The Kibana version is part of the asserted data in `x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list.ts`. This causes issues when we bump the version of Kibana. This test has been skipped for now.

[2022-09-21 20:15] elasticmachine commented on #141298
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-21 20:19] petrklapka opened #141300 "AppServices Team Sync Testing"
Sync Test.

[2022-09-21 20:19] elasticmachine commented on #141300
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-21 20:30] #140131 closed

[2022-09-21 20:30] #140537 closed

[2022-09-21 20:31] klacabane opened #141305 "[Stack Monitoring] Update elasticsearch.pending_tasks .monitoring mappings"
### Summary

https://github.com/elastic/integrations/pull/4255 surfaced wrong mappings for the pending_tasks metricset. We should also fix the wrong mapping in [.monitoring-es-8-mb](https://github.com/elastic/elasticsearch/blob/main/x-pack/plugin/core/src/main/resources/monitoring-es-mb.json#L220)

[2022-09-21 20:35] elasticmachine commented on #141305
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-21 20:49] #90896 closed

[2022-09-21 20:54] marshallmain commented on #76592
Update: with the merging of [this PR](https://github.com/elastic/kibana/pull/140064), the saved query behaviors have been updated to resolve most of the issues described in this issue.

1. I thought I saw the filter get automatically disabled after deleting the data view referenced by a saved query and going to the edit rule page, but when I tried again to write down the exact steps it did not rep

[2022-09-21 20:58] #141300 closed

[2022-09-21 21:01] petrklapka opened #141312 "AppServices KBNA Project Sync Test 1"
This issue should sync to the KBNA project and be identified with Owner Team set to "AppServices"

[2022-09-21 21:01] elasticmachine commented on #141312
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-21 21:05] angorayc commented on #141232
The tooltip of the donut chart needs styling:
https://github.com/elastic/kibana/pull/140377#issuecomment-1252413546

![image](https://user-images.githubusercontent.com/7485038/191280603-d8b9cb0d-ecef-4f84-a8f3-4cf6cc4cb185.png)

[2022-09-21 21:21] kibanamachine commented on #138776
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21206#018361c2-05cd-4203-aa53-21c990440774)

[2022-09-21 21:23] petrklapka opened #141314 "AppServices KBNA UX BUG Sync Test"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2022-09-21 21:23] elasticmachine commented on #141314
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-09-21 21:25] andrew-goldstein commented on #137163
Thanks for your feedback @wearmg!

Behind the scenes, the implementation of the `Trend` widget hasn't changed from previous releases; the `8.3.2` version of the `Trend` widget (also) only displayed trends for the top 10 results:

![8_3_2_trend](https://user-images.githubusercontent.com/4459398/191605749-4541b8bf-ec52-417b-9161-225a794a5425.png)

_Above: The `Trend` widget in `8.3.2`_

per the (ins

[2022-09-21 21:54] EricDavisX opened #141315 "Assign User to a Case bug with name search"
**Kibana version:**  8.5.0-SNAPSHOT deployed via cloud-prod

**Describe the bug:**
When there are many users in Kibana, and all of them have the same doman name (which may be common) searching for names that share character sequences with the domain is impossible (so you can't assign them to a case)

**Steps to reproduce:**
1.  create a random set of users in Kibana and activate their profiles / l

[2022-09-21 22:19] TinaHeiligers commented on #136562
FYI folks, https://github.com/elastic/kibana/pull/139680 merged in time for 8.5 FF.
A few caveats with the API that are worth mentioning:
1. `hidden` objects cannot be deleted using the API, these are filtered out from the permissible SO types we act on
2. Deleting shared saved objects _that exist in more than one space_ has to be done by `force`. It's a similar option as to single delete except t

[2022-09-21 22:28] lukeelmers commented on #139730
@dgieselaar I'm hoping to have this addressed in the next 3 weeks -- we are meeting on Tuesday to confirm our plans for that timeframe.

[2022-09-21 22:29] kibanamachine opened #141321 "Failing test: Jest Tests.packages/core/analytics/core-analytics-server-internal/src - AnalyticsService should register the context provider `build info` on creation"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21211#01836207-f539-4b30-b5ef-00e686886853)

[2022-09-21 22:29] elasticmachine commented on #141321
Pinging @elastic/kibana-core (Team:Core)

[2022-09-21 22:31] kibanamachine commented on #141321
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21212#01836209-99bb-4561-bcc7-a2f9ceb5e091)

[2022-09-21 22:36] mindbat commented on #140919
@afharo +1! We should keep the dev endpoint for rapid development use only.

[2022-09-21 22:40] kibanamachine commented on #141321
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21215#01836214-24f5-4405-a25a-f0ceadcb2af0)

[2022-09-21 23:02] simianhacker commented on #138642
Yes... We want each of those as a "top level" attribute on the `context` variable (exposed in the template). Ideally, a user should be able to use `{context.cloud.availablity_zone}` in their action template.

[2022-09-21 23:15] wearmg commented on #137163
Hi Andrew, I had upgraded from 8.2.2 which had a different widget for alerts that showed all active instead of using the size 10 limit.  I've opened a support case to ask about options but I'll also use the feature request link you sent.

[2022-09-21 23:18] kibanamachine commented on #141321
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21219#01836235-da22-4f1a-a572-b06de7bb1257)

[2022-09-21 23:25] #139763 closed

[2022-09-21 23:54] dominiqueclarke commented on #139210
Tested in ECE 3.4.2 and Kibana 8.4.2
<img width="1501" alt="Screen Shot 2022-09-21 at 7 52 34 PM" src="https://user-images.githubusercontent.com/11356435/191629785-442fd7e7-cbb6-4572-b9af-12c3560588f0.png">

[2022-09-22 00:09] kibanamachine opened #141328 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should call `running-procs` api when command is entered"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141329 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should accept an optional `--comment`"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141330 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should only accept one `--comment`"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141331 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should call the action status api after creating the `processes` request"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141332 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should show success when `processes` action completes with no errors"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141333 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should show error if get processes failed to complete successfully"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141334 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console should show error if get processes request failed"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141335 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console and when console is closed (not terminated) and then reopened should NOT send the `processes` request again"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine opened #141336 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder - When using processes action from response actions console and when console is closed (not terminated) and then reopened should continue to check action status when still pending"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] kibanamachine commented on #139707
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/21225#01836262-2ac7-457b-b072-232a56fac77c)

[2022-09-22 00:09] elasticmachine commented on #141328
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:09] elasticmachine commented on #141330
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:09] elasticmachine commented on #141329
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:09] elasticmachine commented on #141331
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:09] elasticmachine commented on #141335
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:09] elasticmachine commented on #141332
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:09] elasticmachine commented on #141333
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:10] elasticmachine commented on #141334
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 00:10] elasticmachine commented on #141336
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 05:36] samratbhadra-qasource commented on #140937
Hi @marshallmain

Thanks for confirming the behavior.
Hence, we are closing this issue.

[2022-09-22 05:36] #140937 closed

[2022-09-22 06:05] elasticmachine commented on #141336
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:06] elasticmachine commented on #141334
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:06] elasticmachine commented on #141332
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:07] elasticmachine commented on #141333
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:07] elasticmachine commented on #141335
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:08] elasticmachine commented on #141331
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:13] elasticmachine commented on #141328
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:16] elasticmachine commented on #141298
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 06:52] #140794 closed

[2022-09-22 06:53] juliaElastic commented on #140923
Fixed by https://github.com/elastic/kibana/pull/141208

[2022-09-22 06:53] #140923 closed

[2022-09-22 06:53] juliaElastic commented on #141186
Fixed by https://github.com/elastic/kibana/pull/141208

[2022-09-22 06:53] #141186 closed

[2022-09-22 07:03] juliaElastic commented on #136092
@ablnk I'll look into this, you are right that currently Add tags doesn't have any trace in Agent activity, I can fix that (same reason as it was for force unenroll https://github.com/elastic/kibana/issues/140923)

[2022-09-22 07:10] juliaElastic opened #141347 "[Fleet] Ingest pipelines of old package version are deleted on upgrade"
**Kibana version:** 8.3.1 and likely 8.4, 8.2 and others

**Describe the bug:** After upgrading a package (integration), the ingest pipelines (and likely other assets) with the old version are deleted, and recreated with the new version suffix. This causes an error for those agents that are not upgraded yet, and still trying to use the old pipeline.

**Steps to reproduce:**
1. Force install window

[2022-09-22 07:10] elasticmachine commented on #141347
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 07:22] dej611 commented on #141048
Closed by #141241

[2022-09-22 07:22] #141048 closed

[2022-09-22 07:25] kertal commented on #110478
I do agree, that it would be nice, since it would align the behavior to other parts of Kibana

[2022-09-22 07:32] pgayvallet commented on #139730
Okay, so with just a bit of investigation: The actual 'single quote' char used in the default computer name in macOS settings is not a single quote (ascii 39), but a `’` (code 8217), which is absolutely not allowed in headers (or in hostnames if we follow the unix specification, FWIW...)

<img width="675" alt="Screenshot 2022-09-22 at 09 24 14" src="https://user-images.githubusercontent.com/153293

[2022-09-22 07:37] MadameSheema commented on #141200
I found out this is not just when duplicating the rule but also when you are creating a custom query one from scratch and you edit one of the previous steps once you are on the actions sections. Doing that, when you try to create the rule, the same error appears.

[2022-09-22 07:42] ishleenk17 commented on #139900
Yes @kpollich , the expectation is to have processors type of box for every integration.

This leads to further set of questions:
1. `How will fleet manage the integrations where say the processors box currently exists`. Is there a way to overwrite the existing box with the one coming be default through fleet ?

2. Also, was there a thought to maybe have a `generic type of box (which can handle fo

[2022-09-22 07:46] elasticmachine commented on #141315
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-22 07:54] pgayvallet commented on #139730
Here, https://github.com/elastic/kibana/pull/141350

[2022-09-22 08:03] tomsonpl commented on #141200
@MadameSheema could you tell if there is any specific error of this behaviour?

[2022-09-22 08:06] #140676 closed

[2022-09-22 08:07] shahzad31 commented on #131346
@nlatipov will the PR you just did will fix this as well? https://github.com/elastic/kibana/pull/140880

I remember you removed some autocomplete related code from uptime jest tests, which was a fixed for these flaky tests where autocomplete wasn't getting set.

It got removed in following PR
https://github.com/elastic/kibana/pull/136815
<img width="1781" alt="image" src="https://user-images.githu

[2022-09-22 08:09] kpatticha commented on #141185
Regarding renaming the functions. it turns out that the naming can be really confusing. It would be great if we could standardize it.

Today we have the following `sources` in services inventory:

1. Aggregated transaction (transaction metrics)
2. Aggregated transaction for service metrics (service metrics)

| Transaction metrics      | Service metrics
| ----------- | ----------- |
| getSearchAggr

[2022-09-22 08:17] #139300 closed

[2022-09-22 08:18] elasticmachine commented on #140925
Pinging @elastic/apm-ui (Team:APM)

[2022-09-22 08:26] MadameSheema opened #141354 "[Security Solution] Not able to create a custom query rule after editing one of the creation steps"
**Describe the bug:**
- The user is not able to create a custom query rule if during the creation process, once it is placed in the `Actions` section, modifies one of the previous steps.

**Kibana/Elasticsearch Stack version:**
- 8.5 (0f048969db76e2662eaa5f1bc75db96815d346f0)
- main (2bc9b77e9c24fdb901991f7ed9eb5e13869754b9)

**Steps to reproduce:**
1. Navigate to the rule creation flow `app/secur

[2022-09-22 08:26] elasticmachine commented on #141354
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 08:29] tomsonpl commented on #141354
Big thank you for reporting this, a very good catch 👍 The issue will be fixed by this PR https://github.com/elastic/kibana/pull/141041

[2022-09-22 08:29] elasticmachine commented on #141354
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-22 08:30] kibanamachine opened #141356 "Failing test: Jest Tests.x-pack/plugins/security_solution/server/lib/telemetry - test create task metrics can succeed when all parameters are given"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21234#0183642d-a38a-44ca-b0b5-b7ebde245b5e)

[2022-09-22 08:30] elasticmachine commented on #141356
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 08:33] MadameSheema commented on #141200
Sorry @tomsonpl for not sharing the error, as the behaviour is the same I was assuming the error was the same as well, but it is not, so I reported it in a different ticket: https://github.com/elastic/kibana/issues/141354

[2022-09-22 08:42] cnasikas commented on #139782
The error log indicates that the connection between ES and kibana was last during the test execution. Thus, I am closing the issue.

<details>
<summary>Error log</summary>

[code]
</details>

[2022-09-22 08:43] ch-bas commented on #57100
Hi @sulemanof , any update about this issue?

[2022-09-22 08:50] miltonhultgren commented on #141273
In relation, in the "APM" metrics table we also have a new loading state, should we align on that as well?

[2022-09-22 08:55] kibanamachine commented on #141356
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21238#01836447-5d5a-4ca1-9a46-a257890c574b)

[2022-09-22 08:56] banderror commented on #141188
Yes, this behavior is expected. @tomsonpl thanks for jumping in!

[2022-09-22 08:56] #141188 closed

[2022-09-22 09:11] karanbirsingh-qasource opened #141359 "[Security Solution]Incorrect Text for search text for assignee field"
**Describe the bug**
Incorrect Text for search text for assignee field

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Case Details page
- Search for text/word that is not present in the assignee filed
- Observed the text "No matching users with required access" showing for not present user, However statement like user with no required access is not relevant here and can

[2022-09-22 09:11] elasticmachine commented on #141359
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 09:40] jsoriano commented on #140502
I don't think that validation of Fleet Server configuration (or any other runtime configuration) belongs to the Package Spec.

Probably the most solid approach for this would be to make Fleet Server rollback to previous healthy configuration if it cannot reach healthy state with the new one. If that happens, it could report something back to Fleet so it can be displayed to the user.

Bringing Flee

[2022-09-22 10:09] jlind23 commented on #141211
@kpollich @jen-huang would it be possible to make it happened in one of the two next sprints?

[2022-09-22 10:14] cnasikas opened #141371 "[Cases] All cases table: bulk actions & single actions"
From the all-cases page, users can filter and view their cases. Only bulk deletion is supported at the moment. We should add the following bulk actions:

- [x] Change status
- [x] Edit tags
- [x] Edit assignees
- [x] Change severity

The same actions should be added to the actions column. Users should be able to perform the same actions on each case individually.

## Tasks

- [x] Convert delete an

[2022-09-22 10:14] elasticmachine commented on #141371
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-22 10:15] deepikakeshav-qasource opened #141373 "[Security Solution] Wrong documentation URL is embedded for the value list"
**Describe the bug**
Wrong documentation URL is embedded for the value list

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Rule should be created say EQL rule
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to rule page > Security
2. Select the above rule
3. Add the rule exception
4. Select any field say host.name
5. Select the is in list operator
6. Cl

[2022-09-22 10:15] elasticmachine commented on #141373
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 10:21] prachigupta-qasource opened #141374 "[Fleet]: Text `Filter your data using KQL syntax` is not completely visible in the search bar"
**Kibana version:** 8.5 Kibana Staging environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]

**Preconditions:**

- 8.5 Kibana cloud environment should be available.

**Steps to reproduce:**

1. Navigate to Fleet > Agents tab
2. Observe that the text `Filter your data using KQL syntax` is not completely visible in the search bar.

**Expected Result:**

- Text `Filter y

[2022-09-22 10:21] elasticmachine commented on #141374
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 10:25] dikshachauhan-qasource commented on #141374
Secondary review is done

[2022-09-22 10:29] mdefazio commented on #92355
@ersin-erdal I think we might, but if you have the toast as is in your draft, I'll take a look—maybe its ok.  But I'd like to try and get away from it in the future since it covers the button and slows down the interaction.

[2022-09-22 10:35] #139359 closed

[2022-09-22 10:37] elasticmachine commented on #141330
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 10:37] elasticmachine commented on #141329
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 10:40] amolnater-qasource commented on #141184
Hi @juliaElastic
Thanks for the feedback, we have revalidated this on latest 8.5.0 SNAPSHOT Kibana cloud environment and found it still reproducible:
- Because of 02 hosted agents, Assign to new policy remain under In-Progress.

**Build details:**
BUILD: 56489
COMMIT: ac5064b771f6edc2a2ea71da9f68e1afcd08a539
(Post merge of https://github.com/elastic/kibana/pull/140833)

**Screenshot:**
![12](https

[2022-09-22 10:45] karanverma-qasource opened #141378 "[Security Solution] Optional for Additional look back time field should be consistent for Detection rules."
**Describe the bug:**
Optional for Additional look back time field should be consistent for Detection rules.

**Build Details:**
VERSION: 8.5.0 Snapshot
BUILD: 56489
COMMIT: ac5064b771f6edc2a2ea71da9f68e1afcd08a539

**Preconditions**

1. Elasticsearch should be up and running.
2. Kibana should be up and running.
3. Custom rules should be present.

**Steps to Reproduce**

1. Navigate to Security-->

[2022-09-22 10:50] amolnater-qasource opened #141379 "[Fleet]: `A problem occured during this operation.` error under agent activity when everything on all pages is selected for Unenrolling bulk agents."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56489
COMMIT: ac5064b771f6edc2a2ea71da9f68e1afcd08a539

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. 10k agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Select all agents and select everything o

[2022-09-22 10:50] amolnater-qasource commented on #141379
@manishgupta-qasource Please review.

[2022-09-22 10:52] amolnater-qasource commented on #141379
Similar issue reported at https://github.com/elastic/kibana/issues/141184

[2022-09-22 10:55] mikecote commented on #139236
Unblocking the issue, for details on updating the index, @ymao1 can provide pointers.

[2022-09-22 11:03] #72541 closed

[2022-09-22 11:04] #139246 closed

[2022-09-22 11:08] samratbhadra-qasource opened #141381 "[Security Solution]: Change status dropdown gets stuck under cases tab if user click multiple times."
**Describe the bug:**
Change status dropdown gets stuck under cases tab if user click multiple times.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Cases should be available.

**Steps to Reproduce**
1. Navigate to Cases tab.
2. Now, under status column click on change status dropdown.
3. Under change status dropdown click twice on any of the status.
4. Observe that

[2022-09-22 11:09] elasticmachine commented on #141381
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 11:09] amolnater-qasource opened #141384 "[Fleet]: Wrong spellings for `occurred` in error text `A problem occured during this operation.` under Agent activity."
**Kibana version:** 8.5 SNAPSHOT Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 SNAPSHOT
BUILD: 56489
COMMIT: ac5064b771f6edc2a2ea71da9f68e1afcd08a539

**Preconditions:**
1. 8.5 SNAPSHOT Kibana cloud environment should be available.
2. 10k agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Select all agents and select everything o

[2022-09-22 11:09] elasticmachine commented on #141384
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 11:10] amolnater-qasource commented on #141384
@manishgupta-qasource Please review.

[2022-09-22 11:15] simranvaseer-qasource opened #141386 "[Fleet]: `Streams` are not available under API reference tab for Fleet Server integration."
**Kibana version:**  8.5 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.5 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Navigate to `Fleet Server` integration.
4. Click on `API reference` tab.
5. Expand the 'Inputs'

[2022-09-22 11:15] elasticmachine commented on #141386
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 11:17] manishgupta-qasource commented on #141379
Secondary review for this ticket is Done

[2022-09-22 11:18] manishgupta-qasource commented on #141384
Secondary review for this ticket is Done

[2022-09-22 11:18] jlind23 commented on #136092
@juliaElastic I think that updating immediately the tag list on the UI would make more sense from a user experience perspective.

[2022-09-22 11:18] dikshachauhan-qasource commented on #141386
Secondary Review is done

[2022-09-22 11:20] arvindersingh-qasource commented on #141182
Hi @nchaulet

Thanks for looking into the issue.
However to validate this issue , Kibana Build with latest is not yet available to us and as soon as the build will be available , we will revalidate this issue.

Hence, we are reopening this ticket for pending validation.

Thanks.

[2022-09-22 11:20] elasticmachine commented on #141287
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 11:24] pgayvallet commented on #135760
Okay, thanks for the clarifications @constancecchen. This is good news, as it will allow us to be more flexible and allow potential 'fallback' on the target of the skipLink.

[2022-09-22 11:31] elasticmachine commented on #141381
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-22 11:31] elasticmachine commented on #141381
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-22 11:32] elasticmachine commented on #141378
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-22 11:32] #126083 closed

[2022-09-22 11:36] elasticmachine commented on #141373
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-22 11:39] sqren commented on #141110
@kpatticha I saw you demoed the on/off switch yesterday. Is that already merged and if so, can this be closed?

[2022-09-22 11:40] elasticmachine commented on #141200
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-22 11:40] elasticmachine commented on #141200
Pinging @elastic/security-asset-management (Team:Asset Management)

[2022-09-22 11:42] elasticmachine commented on #141354
Pinging @elastic/security-asset-management (Team:Asset Management)

[2022-09-22 11:43] #136891 closed

[2022-09-22 11:43] #135175 closed

[2022-09-22 11:43] #135176 closed

[2022-09-22 11:43] #135577 closed

[2022-09-22 11:43] #134953 closed

[2022-09-22 11:43] #135109 closed

[2022-09-22 11:43] #135110 closed

[2022-09-22 11:43] #133429 closed

[2022-09-22 11:52] #140004 closed

[2022-09-22 12:00] kibanamachine commented on #102282
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21253#018364e0-8a29-41fe-892b-b9ad3c02fd73)

[2022-09-22 12:02] elasticmachine commented on #141359
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-22 12:03] elasticmachine commented on #141359
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-22 12:05] lizozom opened #141392 "[Bug] Missing journey results on performance benchmarking dashboard"
Our performance benchmarking dashboard shows gaps in data reported from the client. We need to make sure telemetry is reported and collected reliably

![image](https://user-images.githubusercontent.com/3016806/191741555-1d96e634-0e84-4e41-89e5-6759985ddf20.png)
The weblogs journey shows only once within the timeframe

![image](https://user-images.githubusercontent.com/3016806/191741792-9c85d4fa-9e

[2022-09-22 12:06] sqren commented on #141185
I'm not totally sold on `getServiceTransactionStats` and `getServiceMetricsTransactionStats`. I think it's important to signal, that this returns service stats. That's not easily decipherable from the current names. My suggestion:

`getServiceTransactionStats` -> `getServiceStatsFromTransactions`
`getServiceMetricsTransactionStats ` -> `getServiceStatsFromServiceMetrics`

[2022-09-22 12:06] lizozom commented on #141392
@suchcodemuchwow , if the server side data issue is unrelated, lets open a separate issue

[2022-09-22 12:13] prachigupta-qasource commented on #123904
Hi @juliaElastic ,

We have created below **07** test cases for this feature under our Fleet Test Suite:

- [**[C167966]:** Validate that Managed, System and Elastic Agent tags are created on creating a policy and they have the package's assets linked to them as saved objects on Stack Management > Tags page](https://elastic.testrail.io/index.php?/cases/view/167966)
- [**[C167967]:** Validate that

[2022-09-22 12:14] #139468 closed

[2022-09-22 12:16] kibanamachine opened #141393 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header does not alter a Not Found response if the document does not exist and the proxy returns the correct product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141394 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header returns a document if it exists and if the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141395 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `update` requests that are successful"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] #88796 closed

[2022-09-22 12:16] kibanamachine opened #141396 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `bulkCreate` requests when the proxy relays request/responses correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141397 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header returns matches from `find` when the proxy passes through the response and product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141398 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `delete` requests that are successful"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141400 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `bulkDelete` requests that are successful when the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141401 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `bulkGet` requests that are successful when the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141402 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `bulkResolve` requests that are successful when the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] jughosta commented on #141225
Maybe related to https://github.com/elastic/kibana/pull/137147

[2022-09-22 12:16] kibanamachine opened #141403 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `resolve` requests that are successful with an exact match"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141404 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `openPointInTime` requests when the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141405 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `checkConflicts` requests that are successful when the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141406 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy relays request/responses with the correct product header handles `deleteByNamespace` requests when the proxy passes through the product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141407 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error if the document exists but the proxy cannot find the es node (mimics allocator changes)"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141408 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error on `update` requests that are interrupted"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141409 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error on `bulkCreate` requests with a 404 proxy response and wrong product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141410 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error on `find` requests with a 404 proxy response and wrong product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141411 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error on `delete` requests with a 404 proxy response and wrong product header"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141412 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error on `bulkResolve` requests with a 404 proxy response and wrong product header for an exact match"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] kibanamachine opened #141413 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/service/lib - 404s from proxies requests when a proxy returns Not Found with an incorrect product header returns an EsUnavailable error on `resolve` requests with a 404 proxy response and wrong product header for an exact match"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21257#018364fd-1dbe-424d-a6eb-0782e30d150c)

[2022-09-22 12:16] elasticmachine commented on #141394
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141396
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141400
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141402
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141395
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141398
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141401
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] cnasikas opened #141414 "[Cases] Fix Jest warnings logs"
Cases unit tests produce warnings. We should investigate and try to eliminate them. Examples:

`Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.`

`Warning: Cannot update a component (`CasesProvider`) while rendering a d

[2022-09-22 12:17] elasticmachine commented on #141414
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-22 12:17] elasticmachine commented on #141414
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-22 12:17] elasticmachine commented on #141404
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:17] elasticmachine commented on #141405
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:18] elasticmachine commented on #141407
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:18] elasticmachine commented on #141406
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:19] elasticmachine commented on #141411
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:19] elasticmachine commented on #141409
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:19] elasticmachine commented on #141410
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:19] elasticmachine commented on #141408
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:21] elasticmachine commented on #141412
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:21] elasticmachine commented on #141413
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 12:25] #140520 closed

[2022-09-22 12:28] smith commented on #141273
I don't think so. At least not as part of this issue.

As far as the no data state, I think the advice from design is to use the `NoDataPage` component from Shared UX like we're doing in logs now: https://github.com/elastic/kibana/blob/229dff505eca130e24ec58d07f646ad827988a23/x-pack/plugins/infra/public/pages/logs/page_template.tsx

[2022-09-22 12:38] ghost opened #141417 "[Security Solution]Event render not showing under alert attached to case"
**Describe the bug**
Event event not showing under alert attached to case

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Generate Alerts
- Attach Alert to case
- Go to case details page > Alerts Tab
- Click on hit enter icon on Reason value
- Observed that plain text is showing and event render is not showing

**Expected**

![image](https://user-images.githubusercontent.com/5

[2022-09-22 12:38] elasticmachine commented on #141417
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 12:39] #140118 closed

[2022-09-22 12:41] lizozom opened #141420 "Investigate performance improvement in Lens"
The lens journey started showing a significant and consistent performance improvement of around 35% today.

![image](https://user-images.githubusercontent.com/3016806/191748898-abfc8516-609d-4729-b5c4-d040902615dd.png)

In the future, we're going to have automatic alerts for such incidents, notifying the team.
But lets use this as an opportunity to investigate an incident and validate the infrastr

[2022-09-22 12:41] elasticmachine commented on #141420
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-22 12:43] karanbirsingh-qasource opened #141421 "[Security Solution]Incorrect Text in Exception page placeholder"
**Describe the bug**
Incorrect Text in Exception page placeholder

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Manage > Exception
- Observed context in the Exception page holder

-------------------------------------

- mention of example twice , `eg` and `Example`
- mention of List Name field name in placeholder , however same field List Name field is not present on

[2022-09-22 12:43] elasticmachine commented on #141421
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 12:47] flash1293 commented on #141420
Not many PRs have been merged during this time:
<img width="1177" alt="Screenshot 2022-09-22 at 14 46 17" src="https://user-images.githubusercontent.com/1508364/191750714-25bdf44e-63b3-4756-bc49-7b8ebbff3fef.png">

My strong suspect is https://github.com/elastic/kibana/commit/50b3b57d9e28eca15d934f351ddeb9de5e1bc31b cc @spalger

[2022-09-22 12:52] flash1293 commented on #141420
@spalger @lizozom the PR linked above is pretty large, but If I'm understanding correctly it's collapsing the individual journeys into one, is this correct? If yes, then it's likely there will be some caches which cause inter-journey influences.

[2022-09-22 13:03] #129958 closed

[2022-09-22 13:08] #141082 closed

[2022-09-22 13:10] #141183 closed

[2022-09-22 13:10] awahab07 commented on #140768
I'll look into both of the issues together. I need to confirm if both of the issues occur consistently and if they are related. The problem mentioned in issue #138862 depends on the order of records fetched, so it's not consistent, but definitely need to be fixed.

[2022-09-22 13:11] kibanamachine commented on #139709
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21261#01836520-530a-4f30-a0cb-160a04075552)

[2022-09-22 13:15] kibanamachine opened #141426 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/uptime/rest/add_monitor_project·ts - apis uptime uptime REST endpoints uptime CRUD routes AddProjectMonitors project monitors - is able to decrypt monitor when updated after hydration"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21266#01836538-b865-4f34-bbcc-a0e97f1b0e47)

[2022-09-22 13:16] elasticmachine commented on #141426
Pinging @elastic/uptime (Team:uptime)

[2022-09-22 13:21] MichaelMarcialis commented on #141037
I think there's a number of possible directions we can take to improve over both of the previous versions that @mbondyra mentions above. Some exploration possibilities that immediately come to mind include:

- Switching from a single-line text `input` to a multi-line `textarea` (even when unfocused).
- Adding an "expanded" mode, similar to what we do with the formula editor.
- Allowing the user to

[2022-09-22 13:22] #110238 closed

[2022-09-22 13:23] markov00 commented on #136993
@ThomThomson great idea, we love such clean up: this box in box UI pattern start popping up a bit too much around our products, I think is safe and genuine to start cleaning it up a bit more

[2022-09-22 13:25] majagrubic opened #141427 "[Kibana Whitelabelling] Tracking Issue"
This issue is to track the work needed to be done for whitelabelling Kibana.

Creation Date: 2022-09-22
Last Updated: 2022-09-22
Target version: 8.6.0

Drivers: @alexfrancoeur @majagrubic

Members:
@clintandrewhall
@rshen91

Goals
Build a way for users to customize Elastic logo and Elastic branding.

## Milestones

TBD

[2022-09-22 13:30] majagrubic commented on #141427
# Update Sep 22
* Whitelabelling settings is going to live inside Advanced Settings
* Licensing is going to be enterprise

[2022-09-22 13:33] #141203 closed

[2022-09-22 13:38] kertal commented on #112510
I gave it another try, but couldn't reproduce. There have been lots of versions released since 7.14.1, soon in will be 8.5. In case you've upgraded and still encounter the problem, feel free to reopen the issue

[2022-09-22 13:38] #112510 closed

[2022-09-22 13:52] #140964 closed

[2022-09-22 13:57] qn895 commented on #139740
Closing this issue via https://github.com/elastic/kibana/pull/141007

[2022-09-22 13:57] #139740 closed

[2022-09-22 13:58] kibanamachine commented on #138776
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21269#0183654c-21f9-419c-8ad9-1d4d584d41c5)

[2022-09-22 13:59] kibanamachine commented on #140797
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21270#0183654d-f0e5-4ec5-8cf9-d697631a15b7)

[2022-09-22 13:59] kibanamachine commented on #139676
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21273#0183655a-9287-4171-bcd3-46ab3b054136)

[2022-09-22 14:01] lizozom commented on #141420
https://github.com/elastic/kibana/pull/141437

[2022-09-22 14:06] #141143 closed

[2022-09-22 14:11] jonathan-buttner commented on #141359
@lcawl @nastasha-solomon how do you feel about the text shown in the image when no results are found when a user is searching for another user to assign to a case?

[2022-09-22 14:16] flash1293 opened #141443 "[Lens] Add "explore values in Discover" to field summary popover"
Discover has a "Visualize" button in the field summary popover linking to Lens:
<img width="595" alt="Screenshot 2022-09-22 at 16 13 53" src="https://user-images.githubusercontent.com/1508364/191770901-6019b1ee-6506-4f8a-8745-56b735e19303.png">

In order to keep navigation predictable let's introduce an "Explore values in Discover" button that functions in a similar way to the top nav menu "Explor

[2022-09-22 14:33] jbudz commented on #138776
/skip

[2022-09-22 14:33] jbudz commented on #140797
/skip

[2022-09-22 14:33] kibanamachine commented on #138776
Skipped

8.5: 80d46392dd374458fa2f7939b08e5acea9d7123e
main: 13c46d62254105bedbb995fe165dcbbcd9990bc0

[2022-09-22 14:34] kibanamachine commented on #140797
Skipped

main: 837da729bd27883fd4cea18939a5bd9fa167aa48

[2022-09-22 14:36] elasticmachine commented on #141421
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-22 14:39] seanbirdsell opened #141448 "Maximized dashboard panel cuts off x-axis"
**Kibana version:** 8.4.1

**Elasticsearch version:** 8.4.1

**Server OS version:** macOS Monterey v12.6

**Browser version:** Google Chrome Version 105.0.5195.125 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey v12.6

**Original install method (e.g. download page, yum, from source, etc.):** docker pull from Elastic site

**Describe the bug:** When you maximize a bar or line grap

[2022-09-22 14:41] pgayvallet opened #141449 "Migrate core domains to packages: browser-side `CoreSystem` and related"
Part of https://github.com/elastic/kibana/issues/134112

Now that all domains have been migrated, migrate the remaining of `src/core/public` to packages

[2022-09-22 14:41] elasticmachine commented on #141449
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 14:50] ghudgins opened #141452 "[Lens] Reference line color above / below contrast issue in dark mode"
**Describe the feature:**
Improved contrast of color above / below for reference lines in dark mode

**Describe a specific use case for the feature:**
Reference lines color above / below is hard to notice when using dark mode

![image](https://user-images.githubusercontent.com/5465514/191779907-08b20333-4f40-4a8f-a9dd-353591b2f0a1.png)

[2022-09-22 14:51] elasticmachine commented on #141452
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-22 14:54] michaelolo24 commented on #141162
@MadameSheema can you please help us confirm this is fixed on the 8.4.3 branch when it's cut in a couple weeks?

[2022-09-22 14:56] smnschneider opened #141453 "Add import function for ECS component templates"
**Describe the feature:**

We already have an option to "Load and activate Elastic prebuilt rules" (https://www.elastic.co/guide/en/security/current/rules-ui-management.html#load-prebuilt-rules).

It would be great to have the same possibility for ECS component templates in any version.

**Describe a specific use case for the feature:**

For now the only way i know is to get them from GitHub and u

[2022-09-22 14:56] EricDavisX commented on #141258
This seems particularly impactful to usage where a user is 'assigned' to something in Kibana, as in the new 'assign users to a case' feature.  It is natural for people to come and go from an organization, and Kibana users may not have great external communication to know _not_ to select someone for assignment to a case if the expected user is the system and it was formerly their role to be assigne

[2022-09-22 15:04] michaelolo24 commented on #128854
Hey @intxgo - That idea makes sense, but in discussing with the team we think that we would rather not show text to the user and potentially lie to them since the field itself doesn't actually exist in the document. Maybe we show a dash like the rest of the app or maybe undefined? cc @paulewing

[2022-09-22 15:07] juliaElastic commented on #141379
This is expected behavior, we discussed here: https://github.com/elastic/fleet-server/issues/1660#issuecomment-1248006163
The hosted agents are failing validation, that is why the activity shows that an error has occurred.

[2022-09-22 15:07] simianhacker commented on #139506
@neptunian We (AO Team) think you should just wait till we are done "enriching" the Alert-As-Data with the context fields for the Inventory Threshold Rule (and possibly Log Threshold / Metric Threshold but I think the Inventory Threshold Rule is the most relevant to what y'all are doing). WE are prioritizing the Inventory Threshold Rule as the first rule to enrich. We also have some additional wor

[2022-09-22 15:09] #139049 closed

[2022-09-22 15:13] marshallmain opened #141458 "[Security Solution] Disabled rule filters are displayed as enabled in rule details"
**Related to:** https://github.com/elastic/kibana/issues/176866

## Summary

Filters on detection rules can be temporarily disabled through the UI while leaving them attached to the rule.

![image](https://user-images.githubusercontent.com/55718608/191785155-a9b97eaf-8f32-4db4-a7fe-caf454558dd9.png)

However, there is no indication on the rule details page that the filter is disabled:

![image](ht

[2022-09-22 15:13] elasticmachine commented on #141458
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 15:13] #141195 closed

[2022-09-22 15:14] kfirpeled commented on #138925
need to check it applies to all the 3 findings tables

[2022-09-22 15:15] kibanamachine opened #141459 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/management/components/artifact_list_page/components - When displaying the Delete artifact modal in the Artifact List Page should prevent modal from being closed while deletion is in flight"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21289#018365a0-dfc0-4da5-9b47-532ebd4eba56)

[2022-09-22 15:15] elasticmachine commented on #141459
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 15:21] marshallmain opened #141463 "[Security Solution][Alerts] Log actual queries executed by detection engine"
In some cases the detection engine dynamically loads data by reference that becomes part of the rule's query logic. Current examples include saved queries and exceptions. We don't keep detailed records of the generated queries in the alerts for each rule execution, instead the alerts only contain the IDs that reference the dynamically loaded data.

As a result, it's impossible to accurately reprod

[2022-09-22 15:21] elasticmachine commented on #141463
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 15:21] smnschneider opened #141464 "Add user and timestamp information for alert status changes"
**Describe the feature:**

Add information about who changed the alert status and when this has been done.

**Describe a specific use case for the feature:**

To get a better overview, when working with multiple security analysts. Customer are requesting more information about alert status changes. Using/Creating a case is not always the best option. For a better experience when working with multi

[2022-09-22 15:22] marshallmain commented on #139250
Completed by https://github.com/elastic/kibana/pull/140064

[2022-09-22 15:22] #139250 closed

[2022-09-22 15:29] maryam-saeidi opened #141465 "[Actionable Observability] Implement new compact design for alert summary widget"
## 📝 Summary

Implement the new design for the alert summary widget on the rule details page ([new design](https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=1076%3A501794))

![image](https://user-images.githubusercontent.com/12370520/191789111-5b696282-f9dc-4e7a-a529-b44f49c4df16.png)

## ✅ Acceptance Criteria

- Implementing alert summary widget new d

[2022-09-22 15:29] elasticmachine commented on #141465
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 15:29] marshallmain commented on #127429
Fixed by https://github.com/elastic/kibana/pull/140064

[2022-09-22 15:29] #127429 closed

[2022-09-22 15:30] neptunian opened #141466 "[Infrastructure UI] Use Alerts Summary component in the Hosts View"
Related: https://github.com/elastic/kibana/issues/139506

Implement the [Alerts Summary component](https://github.com/elastic/kibana/pull/135805) for Inventory Threshold alerts in the Hosts View.  The component will support being able to pass filters and queries to it that the user has selected within the Hosts View, but the alert data needs to be enriched with that data first (https://github.com/

[2022-09-22 15:30] elasticmachine commented on #141466
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-22 15:33] marshallmain commented on #136905
Fixed by https://github.com/elastic/kibana/pull/140064

The rule details UI now shows the content of the saved query by loading it dynamically.
![image](https://user-images.githubusercontent.com/55718608/191789718-a78a0c11-7e64-4569-b7c9-6dfe58e6557c.png)
In addition, the UI no longer copies the saved query to the `query` field if the rule is type `saved_query` and references the saved query by ID

[2022-09-22 15:33] #136905 closed

[2022-09-22 15:35] marshallmain commented on #136178
@deepikakeshav-qasource Can you re-test this on 8.5 BC1? I expect that it was fixed by https://github.com/elastic/kibana/pull/140064

[2022-09-22 15:35] maryam-saeidi opened #141467 "[Actionable observability] Make the alert summary widget clickable"
## 📝 Summary

The alert summary widget should be clickable and upon clicking on the number of active or recovered alerts, the user will be redirected to a page with more information.

Questions:
1. Should this navigation be defined in the component or be provided by the consumer?
    It will be passed to the component by the consumer since we have different alert tabs for different apps.

## ✅ Acc

[2022-09-22 15:35] elasticmachine commented on #141467
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 15:37] neptunian commented on #139506
I am going to close this issue as I've created an implementation issue here https://github.com/elastic/kibana/issues/141466

We've decided to implement the Alerts Summary component for the Inventory Metric threshold rule once context is available (https://github.com/elastic/kibana/issues/138642)

[2022-09-22 15:37] #139506 closed

[2022-09-22 15:50] chandlerprall commented on #141166
@rshen91 thanks for taking this on! If you find anything the EUI team can assist with please let us know (slack message would probably be best), and we welcome any feedback you develop.

[2022-09-22 15:51] kibanamachine commented on #140701
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21291#018365b3-798f-49b8-b24a-71854d1a026d)

[2022-09-22 15:51] XavierM commented on #141417
Question was it broken on 8.4?

[2022-09-22 15:52] kibanamachine commented on #131192
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21291#018365b3-7998-4d1a-bc05-6b5c6c4a58c6)

[2022-09-22 15:58] cmacknz opened #141470 "[Fleet] Fleet uses the wrong configuration key for agent.download.sourceURI"
Fleet is creating agent policies with `agent.download.source_uri` when the agent expects it to be `agent.download.sourceURI`. This has caused several bugs with agent artifact downloads not working correctly, causing the agent to have to handle both formats. See https://github.com/elastic/elastic-agent/pull/1252 for one example.

The agent configuration entry for the download URI is defined [here](

[2022-09-22 15:58] elasticmachine commented on #141470
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 16:01] elasticmachine commented on #141459
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 16:02] marshallmain commented on #124763
Implemented by https://github.com/elastic/kibana/pull/140221 - timestamp override is now taken into account by rule preview.

[2022-09-22 16:02] #124763 closed

[2022-09-22 16:06] marshallmain commented on #109330
https://github.com/elastic/kibana/pull/140221 implemented a rule preview flow outside of the `Definition` step so previewing prebuilt rules is now possible in the UI.

[2022-09-22 16:06] #109330 closed

[2022-09-22 16:08] mikecote commented on #123658
Closing as unable to reproduce.

[2022-09-22 16:08] #123658 closed

[2022-09-22 16:10] qcorporation opened #141473 "[Security Solution][Session View] Refresh, Visibility and Details Panel buttons are inoperable"
**Kibana version:**
v 8.5.0-SNAPSHOT - Sept 22, 2022

**Describe the bug:**
Navigating to a session view, the mouse over for refresh, the eye icon and details panel button gives a no-action hover-over
See recording for more details

**Steps to reproduce:**
1. Setup K8s installation, currently using k8smd:8.5.0-SNAPSHOT, endpoint-security:8.5.0-SNAPSHOT, elastic-agent:8.5.0-SNAPSHOT (https://www.el

[2022-09-22 16:12] mikecote commented on #123766
Closing in favour of the QA testing framework that can bootstrap an older environment and upgrade it.

[2022-09-22 16:12] #123766 closed

[2022-09-22 16:12] #138540 closed

[2022-09-22 16:12] #139626 closed

[2022-09-22 16:12] mitodrummer commented on #141473
Remember those changes I didn't see in the latest snapshot. They have a fix for this issue.

[2022-09-22 16:13] mikecote commented on #111152
Linking with https://github.com/elastic/kibana/issues/141146 for researching.

[2022-09-22 16:13] mikecote commented on #141146
Linking with https://github.com/elastic/kibana/issues/111152.

[2022-09-22 16:17] mikecote commented on #124387
Closing issue as the narrative has changed since. We want the framework to keep running these rules, as we don't know what is causing performance issues or know when it is automatically solved.

[2022-09-22 16:18] spalger opened #141477 "Increased flakiness of Jest tests is getting out of hand"
We've been seeing an increase in the flakiness of many Jest tests, which has lead to us skipping many tests and spending a lot of time debugging libraries like `react-dom/test-utils` (https://github.com/elastic/kibana/pull/139444) which seems to be related to the flakiness with errors like:

[code]

All that said, it's not clear what is causing this problem so I wanted to open this as an issue wer

[2022-09-22 16:18] elasticmachine commented on #141477
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-22 16:19] crowens opened #141478 "Elastic Defend Onboarding Language/Typo"
**Kibana version:** 8.5.0

**Describe the bug:**

Two text issues I see with the new Elastic Defend Integration onboarding workflow:

1. The first is just a small typo using 'clound' instead of 'cloud'

![image](https://user-images.githubusercontent.com/6376821/191799240-99267c83-c4c5-4a7c-8bde-c3befcca18ee.png)

2. The second is a switch from Elastic Defend to 'Elastic Security'.  Curious if this

[2022-09-22 16:22] mikecote commented on #124380
Closing in favour of `node.roles` which allows to have a dedicated process for background tasks.

[2022-09-22 16:22] #124380 closed

[2022-09-22 16:22] spalger commented on #141477
First failed test issue were I did the most research on this problem: https://github.com/elastic/kibana/issues/115307

[2022-09-22 16:24] spalger commented on #141477
Bug being tracked by Jest: https://github.com/facebook/jest/issues/12670

[2022-09-22 16:25] mikecote commented on #124861
Closing as the telemetry is calculated from event log and kibana state which is provided via health APIs.

[2022-09-22 16:29] mikecote commented on #124250
@pmuellr have we improved this area recently with another issue?

[2022-09-22 16:33] qcorporation commented on #141478
There's an additional typo within this sentence, "Use quick settings to configure the integration to protect your tranditional endpoints or dynamic clound environments"

`tranditional`, as well as `clound`

[2022-09-22 16:37] tylersmalley opened #141482 "Resolve APM registry issue to re-enable APM API Integration Tests"
Failures for these tests started when we changed `branch` in `package.json ` in the `8.5` branch to `8.5` from `main`.

This change needed to happen, so the configs were removed in https://github.com/elastic/kibana/pull/141340/files#diff-6eef05803723603412ed7dab4965e81e58ad26b6a2a091b65be6fc392f2d65f2L126

That underlying issue needs to be resolved in order to re-enable these tests.

cc @kpollich

[2022-09-22 16:37] elasticmachine commented on #141482
Pinging @elastic/fleet (Feature:EPM)

[2022-09-22 16:37] elasticmachine commented on #141482
Pinging @elastic/apm-ui (Team:APM)

[2022-09-22 16:41] mikecote commented on #124382
cc @shanisagiv1

[2022-09-22 16:46] qcorporation opened #141484 "[Security Team][Guided Onboarding] "All Events" should be default selected"
**Kibana version:**
v 8.5.0 Sept 22, 2022

**Describe the bug:**
Navigating to the guided onboarding when selecting Cloud Security, "All Event" should be selected as the default, not "Interactive only"

**Steps to reproduce:**
1. Launch Kibana 8.5, navigate and add security defend integration
2. Select "Cloud Security" from the drop-down

**Expected behavior:**
There are two selection that can be

[2022-09-22 16:52] qcorporation commented on #141473
This doesn't seem to happen within the latest version

[2022-09-22 16:52] #141473 closed

[2022-09-22 16:54] mikecote commented on #127338
Closing as it seems `--run-examples` is working now.

[2022-09-22 16:54] #127338 closed

[2022-09-22 16:59] gsoldevila commented on #140743
There are multiple opinions regarding _multi-person_ notifications. Initially, I added it cause I saw it as a feature that could be interesting from a functional standpoint, and also because we have it "for free" with the current `Email` connector.
However, it would increase the complexity to add a `Slack` connector in the future, if we are to honour the flag (meaning we would have to enhance the

[2022-09-22 17:03] davismcphee commented on #124790
I've been unable to reproduce this running locally or in the flaky test runner: https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/1292. Closing for now, and we can reopen if it becomes an issue again.

[2022-09-22 17:03] #124790 closed

[2022-09-22 17:05] davismcphee commented on #130211
I've been unable to reproduce this running the tests locally or in the cloud flaky test runner: https://buildkite.com/elastic/estf-cloud-kibana-flaky-test-runner/builds/78. Closing for now and we can reopen if it becomes an issue again.

[2022-09-22 17:05] #130211 closed

[2022-09-22 17:11] XavierM opened #141487 "[RAM] Create API to draw timelines of alerts on charts"
As a user, I would like to consume an API to draw timelines of Alerts. To be able to do that we will have to use the new field `time_range` added by this [PR](https://github.com/elastic/kibana/pull/141309). We will use the [date histogram aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html) to get the different buc

[2022-09-22 17:11] elasticmachine commented on #141487
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-22 17:19] spalger commented on #139062
FYI, I feel like this is impacting many people now so I'm opening this up a bit. If my PR is accepted we might be able to unskip these tests without further changed. We'll still want to make sure they're not flaky before re-enabling them, but maybe our `Cannot read properties of null (reading 'createEvent')` nightmares can be quieted for a while.

[2022-09-22 17:27] kpollich commented on #141482
Discussed with @sqren offline and we'll be moving forward with using Fleet's API rather than querying EPR directly to prevent mismatches in what we consider the "latest" version of APM.

https://github.com/elastic/kibana/pull/141462 unblocks this effort and should allow APM to consume the Fleet package API to determine the latest version of APM (including a version bundled on disk as appropriate)

[2022-09-22 17:28] kpollich commented on #136092
+1 for optimistic updates of the tags UI even if the actions are pending on the backend.

[2022-09-22 17:32] opauloh commented on #141478
Thanks for bringing this up @crowens!

I'll also add a comment from @learhy saying to change the wording on the drop-down from "Cloud Security" to "Cloud Workload Protection"

[2022-09-22 17:32] jonathan-buttner commented on #139062
@spalger can you link to your PR?

[2022-09-22 17:37] kpollich commented on #141074
I've added this requirement based on an internal conversation w/ support where this was identified as a big win. @juliaElastic or @michel-laterman do you foresee any issues with "queuing up" diagnostics requests for multiple agents via `.fleet-actions`? The way I imagine this working is that we'll create an action record for each agent ID with type `REQUEST_DIAGNOSTICS` and we should process them

[2022-09-22 17:45] neptunian opened #141492 "[Infrastructure UI] add URL state to Hosts View"
Like the other Infra Views the Host View should have a url state that updates the browser's URL so that it can be linked to.  For eg, user filters down via the search bar, user adds some filters (after https://github.com/elastic/kibana/issues/139594 is implemented), URL updates, user copies and pastes link to someone so they can see the same view.  See the Inventory View as another example.

Use t

[2022-09-22 17:57] pmeresanu85 commented on #138642
@vinaychandrasekhar could you please check with the team if we could unblock this for 8.6

[2022-09-22 17:58] pmeresanu85 commented on #141466
@vinaychandrasekhar  could you please check with the team if we could unblock this for 8.6

[2022-09-22 18:06] marshallmain opened #141494 "[Security Solution][Alerts] Disabling filter does not always affect rule preview"
In the new rule preview flyout, the form values from all parts of the rule create/edit pages are used in the rule preview. However, changing a filter by temporarily disabling or re-enabling it does not update the preview. In the example below, the filter should exclude the generated alert once re-enabled. Re-enabling the filter should also cause the `Refresh` button to turn green, indicating that

[2022-09-22 18:06] elasticmachine commented on #141494
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 18:08] simianhacker opened #141496 "[Actionable Observability] Metric Threshold group context variable should the same as the key returned from the composite agg."
Currently when the user groups a Metric Threshold by 2 fields, for example: `host.name` and `system.network.name`, the `context.group` variable will end up as a string like `host-01 / en0`. instead we should make that the same object returned from the composite aggregation so it looks like:
[code]

Related Issue: https://github.com/elastic/enhancements/issues/16980

[2022-09-22 18:08] elasticmachine commented on #141496
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 18:11] simianhacker opened #141497 "[Actionable Observability] viewInAppUrl context variables are not space aware"
When we create the viewInAppUrl we are omitting the `space_id` for the current rule.  We should be prefixing the viewInAppUrl with not only the Kibana basepath but also `s/<space_id>` for any NON-DEFAULT spaces.

Related Issue: https://github.com/elastic/enhancements/issues/16980

[2022-09-22 18:11] elasticmachine commented on #141497
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 18:21] kibanamachine commented on #137238
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21311#01836647-6d07-4bdf-aee5-2715b4876359)

[2022-09-22 18:25] liza-mae opened #141499 "Internal server errors when running kibana functional tests on cloud"
**Version**: 8.5.0

I am getting sporadic issues running kibana functional tests on cloud.  I am not sure yet why this is happening, if it is a real issue or not, but since I have seen problems with ```es-archiver``` in the past with similar issues.  It would be helpful if someone in Kibana operations can shed some light of any recent changes or tips to debug.

[code]

cc: @spalger

[2022-09-22 18:25] elasticmachine commented on #141499
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-22 18:26] nreese commented on #140329
@ThomThomson Control users should be able to set step size and configure number of decimal places in range slider from the control and not from the editor. The reason being is that the range may change while users are exploring data. For example, a control is showing temperature range. If the time picker selects a single morning, the values are low, in the range of 0 to 10 degrees F. In this case,

[2022-09-22 18:42] kellyemurphy commented on #139741
@alisonelizabeth we're working with the designers during the design phase for this, so the final designs should have the right copy in them (once they're done). If you can tag me in the final PR, when that's ready, I'll do a quick copy edit for you before it gets merged.

[2022-09-22 18:46] liza-mae commented on #141499
Actually someone else reported this a few days ago: https://github.com/elastic/elasticsearch/issues/90130 it is a lucene bug: https://github.com/apache/lucene/pull/11792 -- will touch base with elasticsearch team.

[2022-09-22 18:50] jonathan-buttner commented on #141062
@samratbhadra-qasource could you email the credentials to your test stack? I'm having some trouble reproducing

[2022-09-22 19:00] jonathan-buttner commented on #121248
I believe this can be closed based on the work we did for user assignments

[2022-09-22 19:00] #121248 closed

[2022-09-22 19:01] qcorporation opened #141505 "[Security Solution][Terminal Output] Pressing 'go to end' button doesn't fill the timeline slider"
**Kibana version:**
v 8.5.0 BC1

**Describe the bug:**
If the user clicks on the Jump to End navigation button, the timeline slider is not green filled (see video for more details)
If the user slides the slider, or the user presses play, or the user clicks on the next button, the slider is filled with the green fill. The jump-to-end button doesn't exhibit this same behaviour

**Screenshots (if rel

[2022-09-22 19:11] ThomThomson commented on #141163
**Update**: We've found a pretty major difference between the `essql` response for successful loads and unsuccessful loads.

In logging the raw response in `src/plugins/data/common/search/expressions/essql.ts` after line 256
There is a pretty major and obvious difference in the raw response when the error happens vs when it doesn't.

- The error response shows `is_partial: true, is_running: true`

[2022-09-22 19:15] simianhacker opened #141506 "[Actionable Observability] SLO Telemetry"
... Description to come ...

[2022-09-22 19:15] elasticmachine commented on #141506
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 19:15] mitodrummer commented on #141505
Wondering if the <Playhead/> positioning is incorrect. Seems like it's one "tick" behind the actual playhead? Is there maybe a way to not use a dedicated svg for this and just style the existing EuiRange slider handle? You might be able to use an ::after pseudo selector to make a triangle for the top..

[2022-09-22 19:16] simianhacker opened #141507 "[Actionable Observability] Alert Detail Telemetry"
... description to come ...

[2022-09-22 19:16] elasticmachine commented on #141507
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 19:18] leehinman opened #141508 "[Fleet] Add option to enable disk queue for elastic-agent-shipper"
Part of #elastic/elastic-agent-shipper#118

## Description
We need to support the new [Elastic Agent Shipper](https://github.com/elastic/elastic-agent-shipper/issues/118) in Fleet, that is going to replace the beats options currently configured in `settings/outputs` through YML editor. The aim is to allow the user to configure the new options from the Settings Output Flyout.

- [x] Options from [a

[2022-09-22 19:18] elasticmachine commented on #141508
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 19:25] leehinman opened #141510 "[Fleet] Add feature so integrations can require elastic-agent-shipper disk queue"
Part of elastic/elastic-agent-shipper#118

Place holder issue

- Currently only endpoint will require disk queue
- If integration requiring disk queue is added to policy, option to use mem queue should be disabled
- If integration requiring disk queue is removed from policy, disk queue is still enabled, but user can switch to memqueue

[2022-09-22 19:27] bhavyarm opened #141511 "Timeslider controls keeps running even after user clicks on clear time selection"
**Kibana version:** 8.5.0 BC1

**Elasticsearch version:** 8.5.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Timeslider keeps running even after user clicks on clear time selection on the control

https://user-images.githubuse

[2022-09-22 19:27] elasticmachine commented on #141511
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-22 19:27] bhavyarm commented on #141511
cc @nreese

[2022-09-22 19:29] tsullivan commented on #126291
Going to close this as the alternatives to explore seem too limited, and the impact of this change would be quite low.

[2022-09-22 19:29] #126291 closed

[2022-09-22 19:30] tsullivan commented on #127842
Closing this due to the impact being too low

[2022-09-22 19:30] #127842 closed

[2022-09-22 19:30] leehinman opened #141512 "[Fleet] Update agent dashboard visualization with elastic-agent-shipper queue metrics"
Part of elastic/elastic-agent-shipper#118

Place holder issue.

Once elastic/elastic-agent-shipper#125 is done we will need to add the queue metrics to the agent dashboard.

[2022-09-22 19:30] elasticmachine commented on #141512
Pinging @elastic/fleet (Team:Fleet)

[2022-09-22 19:31] tsullivan commented on #118098
Closing this as the impact seems quite low for now, but we can always revisit this, or just throw this change in a PR that touches nearby code.

[2022-09-22 19:31] #118098 closed

[2022-09-22 19:33] tsullivan commented on #135274
I see this as a reason to deprecated "CSV Download" and replace it with the feature to create a CSV report, as in Discover.

@sixstringcode @petrklapka can we prioritize that?

[2022-09-22 19:34] tsullivan commented on #127413
Closing this due to the impact being severely low

[2022-09-22 19:34] #127413 closed

[2022-09-22 19:44] mitodrummer commented on #141505
http://apps.eky.hk/css-triangle-generator/  <-- could probably pop some of that css in a pseudo element off the original euirangeslider thumb. Though need to verify that the hidden slider doesn't have the same positioning issues. Will try out of some experiments on my local to see if this works.

[2022-09-22 19:52] liza-mae commented on #141499
PR https://github.com/elastic/elasticsearch/pull/90230

[2022-09-22 19:53] spalger commented on #139062
Oops, meta issue for my investigations: https://github.com/elastic/kibana/issues/141477
pr: https://github.com/elastic/kibana/pull/141481

[2022-09-22 19:59] cmacknz commented on #141510
We should note that currently the only integration expected to require this is Endpoint security, and rather than a general mechanism we can probably just special case the endpoint security integration.

[2022-09-22 20:03] #107757 closed

[2022-09-22 20:15] jeffvestal opened #141521 "[Logs UI] Add ML Log Rate alert rule type in the Logs UI and O11Y Alerting Sections"
**Describe the feature:**
In the Logs UI and Observability -> Alerts sections add a rule type to alert when the OOTB ML job `Log Rate` has an anomaly score over a certain threshold.

**Describe a specific use case for the feature:**
Currently you can enable the  ML anomaly detection job Log Rate job through the Logs UI. You can not however, create an alert for that type (APM has an anomaly rule in

[2022-09-22 20:16] jeffvestal commented on #141521
There also isn't an alert for the `Categorization` job type either

[2022-09-22 20:17] elasticmachine commented on #141521
Pinging @elastic/unified-observability (Team:Observability)

[2022-09-22 20:18] jonathan-buttner commented on #141062
Actually disregard, I was able to reproduce and will have a fix shortly 👍

[2022-09-22 20:23] kibanamachine commented on #140547
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21315#018366aa-7769-4300-83d2-2f29b1eeaef9)

[2022-09-22 20:47] mitodrummer commented on #141505
was able to fix the drift between the playhead and the progress highlight. Seems as though the position of the EUI range slider takes into account the original thumb width, hence the gap at the end..... trying to figure out a solution to that now.

[2022-09-22 20:47] kibanamachine commented on #140547
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21315#018366df-1913-4594-8ff0-debc3904b935)

[2022-09-22 20:49] cqliu1 opened #141526 "[Canvas] Filters function doesn't work with essql"
**Kibana version:**
8.4.0+

**Describe the bug:**

Likely a side effect of #119044 and #132332. Expressions using the `filters` functions are not applying filters correctly to the `essql` datasource function. Many legacy workpads pre 8.1.0 use `filters`, but it looks like BWC for `filters` use hasn't been preserved which makes this a breaking change.

The issue is the `essql` function expects `kib

[2022-09-22 20:49] elasticmachine commented on #141526
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-22 20:49] #133672 closed

[2022-09-22 20:51] jbudz commented on #140547
/skip

[2022-09-22 20:51] kibanamachine commented on #140547
Skipped

main: 77c1e3e751ed6a34e0db9763b776db0a7c7db996
8.5: 818c11cf165268df948a87e7e84e2bb1ba2b3e57

[2022-09-22 20:52] kdelemme opened #141527 "[Actionable Observability] Remove space awareness for SLO common resources"
## 📝 Summary

Part of #137323

As mentioned by @maryam-saeidi [in this comment](https://github.com/elastic/kibana/pull/140760#issuecomment-1252449118) and [reason explained here](https://github.com/elastic/kibana/pull/140760#issuecomment-1255258873), we should remove the {space} awareness from the common resources installed when creating an SLO.

Namely, we should have only one destination index u

[2022-09-22 20:52] elasticmachine commented on #141527
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-22 20:55] michel-laterman commented on #141074
I don't see an issue with this.
But just to clarify, an action document has the `agents: []` attribute, so we can give the same action to multiple agents.

[2022-09-22 21:00] XavierM opened #141531 "Snooze Alert like we do for snoozing notifications for rules"
Since 8.4, we are offering our user to snooze rule's notification now or through a schedule. I am wondering if security solution folks would like us to add a selector in our snooze's flow to pick if we want to snooze notifications or notifications and alerts.
I think it will be feasible option to add in our product until we have the maintenance window build. We will need to add a new attribute in

[2022-09-22 21:00] elasticmachine commented on #141531
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-22 21:00] tsullivan commented on #123693
Hi @jloleysens I'm having a bit of trouble parsing the description and finding the value this would bring. Do we still need this task?

[2022-09-22 21:02] tsullivan commented on #112865
I'm closing this issue for now, as there doesn't seem to be a way to reliable know when we can use PIT for search vs scan-and-scroll, since the data source is the user's. We can always re-open this issue if a way forward appears.

[2022-09-22 21:02] #112865 closed

[2022-09-22 21:05] tsullivan commented on #120426
Closing this for now, since the impact seems low, and the cost of measuring the improvement seems high. We can always re-open this later if it starts to make better sense to do this.

[2022-09-22 21:05] #120426 closed

[2022-09-22 21:10] mitodrummer commented on #141505
Alright, I think i got a fix. had to do with some 1 vs 0 based calculations. Fix incoming.

[2022-09-22 21:13] tsullivan commented on #101422
I'm going to close this for now, as we seem to have a pretty good integration of reporting for apps, which only requires that apps are able to send sharing data to reporting in the form of job params with a query (csv) or locator (png/pdf). I don't believe integration concerns are real barriers to increasing the presence of reporting in more apps and solutions.

[2022-09-22 21:13] #101422 closed

[2022-09-22 21:18] tsullivan commented on #75488
This proposal would not work for webgl / maps.

Another idea around this: allow users to provide their own Docker image that runs a standalone Chromium service. They can add whatever fonts they need in the image, same as what [Puppeteer starting doing in v17](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-in-docker).

I'm going to close this issue for no

[2022-09-22 21:28] kibanamachine opened #141532 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/policy_list·ts - endpoint When on the Endpoint Policy List Page with no policies navigates to Fleet and ensures the integration page is loaded correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21318#018366ee-6459-4bdc-a012-dedd8d9900f1)

[2022-09-22 21:29] elasticmachine commented on #141532
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-22 21:35] kibanamachine opened #141534 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/data_views/spaces/index·ts - Data Views spaces it can add a space"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21318#018366ee-644c-43c2-b88a-683626e73df8)

[2022-09-22 21:37] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21320#018366f5-f996-4e7c-a26c-2796d91350fc)

[2022-09-22 21:37] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21318#0183671a-a0ea-4122-8bc3-92eb16365aa5)

[2022-09-22 21:39] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21322#018366f9-fa91-4040-a9b5-d5c585575c01)

[2022-09-22 21:41] kibanamachine opened #141535 "Failing test: X-Pack CCS Tests.x-pack/test/functional/apps/lens/group1/smokescreen·ts - lens app - group 1 lens smokescreen tests should allow formatting on references"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21325#018366fa-e4a0-4457-b0ea-fd86d7d7b0c6)

[2022-09-22 21:41] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21325#018366fa-e4a0-4457-b0ea-fd86d7d7b0c6)

[2022-09-22 21:41] elasticmachine commented on #141535
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-22 21:43] bhavyarm opened #141536 "Panel filters get printed in reporting"
**Kibana version:** 8.5.0 BC1

**Elasticsearch version:** 8.5.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Panel filters get printed on reports.

<img width="1728" alt="Screen Shot 2022-09-22 at 5 39 20 PM" src="https://user

[2022-09-22 21:43] kibanamachine opened #141537 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/group2/_metric_chart·ts - visualize app metric chart with filters should allow filtering with buckets"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21320#018366f5-f978-453f-9e61-1d5aa943264d)

[2022-09-22 21:44] elasticmachine commented on #141537
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-22 21:44] kibanamachine commented on #141535
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21328#018366fc-c612-45f4-b6de-85acbf8339f2)

[2022-09-22 21:44] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21328#018366fc-c612-45f4-b6de-85acbf8339f2)

[2022-09-22 21:44] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21323#018366fa-dcf1-4693-8fb2-f1305974561b)

[2022-09-22 21:44] ogupte commented on #141242
Findings when changing implementation from multiple queries in parallel to single filter aggregation using the saved groups' KQL:
[code]
It seems like either way it's expensive as long ad we include all documents in the search. I believe if we increase the number of service groups concurrent queries would become the bottleneck and would take longer than the filter agg approach over the same set of

[2022-09-22 21:45] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21327#018366fd-02b4-4c83-92c5-20c867dab503)

[2022-09-22 21:47] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21322#01836724-bfe0-421c-a094-9c9770a1a4d5)

[2022-09-22 21:48] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21320#01836722-f1b6-4093-837e-e74ea44cd655)

[2022-09-22 21:48] kibanamachine opened #141538 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search/async_search·ts - Dashboard dashboard with async search delayed should load"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21333#01836706-8691-4573-80cd-d4140327eb0a)

[2022-09-22 21:50] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21329#018366fe-e47d-48dd-8f0f-2b0736d2989b)

[2022-09-22 21:53] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21327#0183672a-2a37-4490-9507-9ea5add53419)

[2022-09-22 21:54] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21331#01836704-5baa-42ae-8881-930b81fb1c4e)

[2022-09-22 21:54] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21321#018366f8-597d-4301-84fc-fc3d80eb240e)

[2022-09-22 21:54] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21324#018366fa-e252-4316-bb29-abffeb34a82d)

[2022-09-22 21:54] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21323#01836728-e1cf-47b0-8a79-95c38e552877)

[2022-09-22 21:55] jbudz commented on #141532
/skip

[2022-09-22 21:55] kibanamachine commented on #141532
Skipped

8.5: ca0c5ef5ad687bf6e3477d3565aeb1c6e861959f
main: 576892a0d7c32d14a7e8a51fe42645ebbe93a1e9

[2022-09-22 21:55] kibanamachine opened #141539 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/group1/smokescreen·ts - lens app - group 1 lens smokescreen tests should allow formatting on references"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21326#018366fc-0c3e-45a3-83c8-f04abb952442)

[2022-09-22 21:56] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21333#01836706-868c-491b-a9ca-7057f07d1e67)

[2022-09-22 21:56] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21332#01836705-3806-4669-87d8-2afe49c7a15a)

[2022-09-22 21:56] elasticmachine commented on #141539
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-22 21:57] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21326#018366fc-0c5a-421c-89a7-60f6f1b9f831)

[2022-09-22 21:59] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21329#0183672e-3d99-491f-a016-88de7e8a0acc)

[2022-09-22 22:00] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21330#01836702-be33-47de-9058-7dfc25c94b19)

[2022-09-22 22:03] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21331#01836732-235a-4114-a078-abd0955506ac)

[2022-09-22 22:04] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21334#0183670f-9581-481d-a787-89f9b4f1593c)

[2022-09-22 22:05] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21332#01836733-c8e5-49bc-818a-14457001358f)

[2022-09-22 22:05] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21325#01836726-2e12-4ef3-b72f-620092ea2314)

[2022-09-22 22:05] kevinlog commented on #141532
This will fix the test: https://github.com/elastic/kibana/pull/141541

[2022-09-22 22:05] elasticmachine commented on #141532
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-22 22:06] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21333#01836733-af8d-42dd-a04c-b009de8b7a59)

[2022-09-22 22:09] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21328#01836729-17ba-4f70-8368-44bd98262a7d)

[2022-09-22 22:12] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21324#01836732-9aba-44eb-ab97-cc542d3deff3)

[2022-09-22 22:13] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21321#01836732-38c1-4cde-89d9-f4d747186b5d)

[2022-09-22 22:13] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21334#0183673b-7251-458f-bbe2-bb215a6f3608)

[2022-09-22 22:14] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21326#01836734-c908-4a92-87a8-b6e32ecdeaaa)

[2022-09-22 22:17] kibanamachine commented on #141532
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21330#01836737-7a68-4ae9-a9e3-1d19d0f75667)

[2022-09-22 22:31] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21336#01836727-1d8d-4d98-b8be-84b28a44eea7)

[2022-09-22 22:39] kibanamachine commented on #141532
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21336#01836753-c110-4eb0-83c8-5d6f8b523b7f)

[2022-09-22 22:54] lukeelmers opened #141542 "[health gateway] Add TLS for incoming connections & CAs for outgoing requests to Kibana"
The `kbn-gateway` package needs to support TLS for requests coming in to the server, and will also need to provide CAs for outgoing requests to kibana hosts.

The plan is to add the following configuration options to the `gateway.yml`:

[code]

[2022-09-22 22:54] elasticmachine commented on #141542
Pinging @elastic/kibana-core (Team:Core)

[2022-09-22 22:57] spalger opened #141543 "Failing Test: renderApp (APM) › renders the app"
In order to improve the stability of jest tests we are trying to run tests "in band" in https://github.com/elastic/kibana/pull/141481. Unfortunately this causes these tests to fail: https://github.com/elastic/kibana/blob/576892a0d7c32d14a7e8a51fe42645ebbe93a1e9/x-pack/plugins/apm/public/application/application.test.tsx#L125

The tests can't be reproduced locally, but are reproduced 100% of the tim

[2022-09-22 22:57] elasticmachine commented on #141543
Pinging @elastic/apm-ui (Team:APM)

[2022-09-22 23:09] pedrosk opened #141547 "Enable Markap language to reference and navigate between panels"
**Describe the feature:**

A feature where one panel hold menu with links to the other panels on the dashboard.

A menu in a Markup visualization panel with intention to be able to jump to another visualization within the dashboard. And from panels to other panels to top menu etc.

This seems not to be possible at this moment due to the fact because kibana already using the hash section of the URL

[2022-09-22 23:12] opauloh commented on #141505
Glad you found the issue 🙌. Using the `::after` pseudo was my initial approach, but it turned out that having the Playhead as a component provided more flexibility.

[2022-09-23 03:24] kibanamachine commented on #140540
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21344#01836829-f39e-44c4-ad55-fb767256425b)

[2022-09-23 03:24] kibanamachine opened #141557 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/dashboard_controls·ts - Dashboard controls a11y tests "before all" hook for "Controls main menu panel""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21344#01836829-f39e-44c4-ad55-fb767256425b)

[2022-09-23 05:36] dikshachauhan-qasource opened #141560 "[Chrome]: Response Status Code is partially displayed under Dev tools whenever Api is triggered."
**Kibana version:** 8.5 BC1 & Snapshot build.

**Browser version:** Chrome Version 105.0.5195.127 (Official Build) (64-bit)

**Describe the bug:** Under Kibana Management Dev tools, Whenever any API is triggered, the Response Status Code is displayed partially. We have found this issue occurring on  **Chrome browser and Microsoft edge**. However, also observed found working fine in Firefox.

**Ste

[2022-09-23 05:39] dikshachauhan-qasource commented on #141560
@manishgupta-qasource Please review

[2022-09-23 05:56] karanbirsingh-qasource commented on #140015
Hi @semd

we have validated this issue on 8.5.0 BC1 and found the issue to be fixed now ✔️ . Now user is able to create runtime field without any error and correct data reflect in the added field in session table.

**Build Details:**
[code]

**Screen-Cast**

https://user-images.githubusercontent.com/59917825/191899651-6ed3f57b-913b-43a8-8a49-2c1e9679157a.mp4

Hence we are closing this issue and ad

[2022-09-23 05:56] #140015 closed

[2022-09-23 05:59] karanbirsingh-qasource commented on #139095
Hi Team,

we have re validated this issue on 8.5.0 BC1 and found the issue to still fixed ✔️ .

**Build Details:**
[code]

**Screen-Shoot**

![image](https://user-images.githubusercontent.com/59917825/191900099-54c1d0e6-d6ba-45a0-bbb0-cac4b2f4e127.png)

Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-09-23 06:02] karanbirsingh-qasource commented on #121754
Hi Team,

we have validated this issue on 8.5.0 BC1 and found the issue to be still fixed ✔️ .

**Build Details:**
[code]

**Screen-Shot:**

![image](https://user-images.githubusercontent.com/59917825/191900397-e8f93976-3f4a-4bf3-9526-814929b512c8.png)

Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-09-23 06:08] elasticmachine commented on #141547
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-23 06:12] elasticmachine commented on #141270
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-09-23 06:27] manishgupta-qasource commented on #141560
Reviewed & assigned to @joshdover

[2022-09-23 06:41] karanbirsingh-qasource commented on #141417
hi @XavierM this is a new feature came in 8.5 where in there is conversation of plain text to event render view but on case alert side we are still seeing 8.4 behaviour

[2022-09-23 06:42] karanbirsingh-qasource opened #141561 "[Security Solution]host.risk.calculated_score_norm and user.risk.calculated_score_norm fields are not present on alert table"
**Describe the bug**
host.risk.calculated_score_norm and user.risk.calculated_score_norm fields are not present on alert table

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Alert data should be generated on above build
- Enable host risk score
- Enable user risk score
- Go to Alert table and click on field and search for host.risk.calculated_score_norm and user.risk.calculat

[2022-09-23 06:42] elasticmachine commented on #141561
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 06:44] elasticmachine commented on #141448
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-23 06:45] samratbhadra-qasource commented on #99914
Hi @WafaaNasr

We have revalidated this issue on the latest **8.5.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/191902355-54ddd8cd-1669-4e0e-81bf-d8b4ca352f45.mp4

cc: @MadameSheema
Thanks!

[2022-09-23 06:45] samratbhadra-qasource commented on #132016
Hi @WafaaNasr

We have revalidated this issue on the latest **8.5.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/191902829-789b4aaf-9104-4526-9111-521ee4be8ea7.mp4

cc: @MadameSheema
Thanks!

[2022-09-23 06:45] samratbhadra-qasource commented on #136616
Hi @jpdjere

We have revalidated this issue on the latest **8.5.0-BC1** build and observed that the issue is **fixed**. Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/191896009-8ec0f4bc-ddad-456f-b576-f48f419b7e4c.mp4

cc: @MadameSheema
Thanks!

[2022-09-23 06:47] #141119 closed

[2022-09-23 06:50] MadameSheema commented on #141217
@samratbhadra-qasource please, validate this issue on 8.5.0 BC2, thanks!

[2022-09-23 06:57] deepikakeshav-qasource commented on #140247
Hi @michaelolo24

We have revalidated this issue on the latest **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191906695-897940dd-0a95-4ceb-a8bd-4bba4349ca11.mp4

Hence, We are closing this issue and marking as QA Validated!!

cc: @MadameSheema

[2022-09-23 06:57] #141384 closed

[2022-09-23 06:58] juliaElastic commented on #136092
Merged the fix, should be available to test in the next snapshot.

[2022-09-23 06:59] karanverma-qasource commented on #139903
Hi Team,

We have validated above issue on 8.5.0 BC1 and it's working fine. 🟢

**Build Details:**
[code]

**Screenshots:**
![Annotation 2022-09-23 121828](https://user-images.githubusercontent.com/91867110/191905497-e5cbbbf8-660c-4fa7-9c43-e0d189288566.jpg)

Thanks !

[2022-09-23 06:59] #139903 closed

[2022-09-23 07:00] #140247 closed

[2022-09-23 07:10] deepikakeshav-qasource commented on #129017
Hi Team,

We have revalidated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191908497-3266a69d-19fe-4cb2-8151-5b06e774fe36.mp4

cc: @MadameSheema
Thanks!

[2022-09-23 07:15] pheyos commented on #102282
`Error: retry.tryForTime timeout: Error: socket hang up` during communication with the package repository.
Looks like a transient environment issue. Closing for now.

[2022-09-23 07:16] shahzad31 commented on #141295
Fixed by https://github.com/elastic/kibana/pull/141390

[2022-09-23 07:16] #141295 closed

[2022-09-23 07:19] #134405 closed

[2022-09-23 07:19] #141321 closed

[2022-09-23 07:19] #136839 closed

[2022-09-23 07:23] deepikakeshav-qasource commented on #132106
Hi Team,

We have revalidated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191910265-0aceb578-547f-4735-ab48-0728c722c246.mp4

cc: @MadameSheema

Thanks!

[2022-09-23 07:33] kpatticha commented on #141185
Thanks @sqren. Make sense

[2022-09-23 07:45] karanverma-qasource commented on #141162
Hi Team,

We have validated above issue on 8.5.0 BC1 and it's working fine. 🟢

**Build Details**
[code]
**Screen Records:**

https://user-images.githubusercontent.com/91867110/191913306-e029c6b4-fa71-44a5-a50f-8c02186dd2d2.mp4

Thanks!

[2022-09-23 07:45] #141162 closed

[2022-09-23 07:51] shahzad31 commented on #140517
POST FF Testing looks good, Project ID is visible in monitor list and details page !!

[2022-09-23 07:53] deepikakeshav-qasource commented on #136178
Hi @marshallmain

We have revalidated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191914415-bf43adf5-1cf0-47d6-9bc3-1f0a71a219e9.mp4

Hence, We are closing this is issue and marking as QA Validated!!

cc: @MadameSheema
Thanks!

[2022-09-23 07:53] #136178 closed

[2022-09-23 07:53] shahzad31 commented on #140042
POST FF Testing looks good, when location is removed, page doesn't crash !!

[2022-09-23 07:56] kertal commented on #101017
Closing this, I've tested what Discover shows when there's a too_complex_to_determinize_exception, and it's no longer just a 500 ... pls user help yourself ... msg

![Bildschirmfoto 2022-09-23 um 09 46 57](https://user-images.githubusercontent.com/463851/191915759-a9bd3324-32c8-4f05-b75a-e825e17741cb.png)

[2022-09-23 07:56] #101017 closed

[2022-09-23 07:57] shahzad31 commented on #136687
POST FF testing looks good, monitor can be enabled/disabled from edit page !!

[2022-09-23 08:00] teresaalvarezsoler commented on #140329
I agree with @nreese

[2022-09-23 08:01] kibanamachine opened #141569 "Failing test: Jest Tests.x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/ml - Manage ML Job when users have write access to uptime does not display an informative tooltip"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21354#01836939-51b8-44ab-9ffd-81f736eb0ceb)

[2022-09-23 08:02] elasticmachine commented on #141569
Pinging @elastic/uptime (Team:uptime)

[2022-09-23 08:06] deepikakeshav-qasource commented on #138699
Hi Team,

We have revalidated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-shot:**

![image](https://user-images.githubusercontent.com/61860752/191917333-024edf75-279f-4c23-b12d-d7e1ca738c05.png)

cc: @MadameSheema
Thanks!

[2022-09-23 08:07] shahzad31 commented on #134690
POST FF Testing looks good !!

[2022-09-23 08:19] pgayvallet commented on #140743
I think we're not speaking of the same thing. As I said previously, I wasn't referring to notifications 'shared' between users (e.g a multi-users message in slack), but the capability to send notifications to a list / group of different users at the same time and using a single notification API call.

Now, if that's not required for the MVP, great.

I think the problem remains here: what if the `s

[2022-09-23 08:31] cnasikas commented on #139062
@jonathan-buttner @spalger I tried to improve the test in this PR https://github.com/elastic/kibana/pull/141574. I hope it will eliminate the errors.

[2022-09-23 08:34] karanbirsingh-qasource opened #141575 "[Security Solution]Host Risk and User Risk take too much time to reflect under Security"
**Describe the bug**
Host Risk and User Risk take too much time to reflect under Security

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Generate Alerts on the build with host and user risk enrichment
endpoint security rules,process & Network category rules
- Go to Analytics dashboard page
- Click on Enable the host risk and user risk button
- Observe the the alert data will

[2022-09-23 08:34] elasticmachine commented on #141575
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 08:40] sqren opened #141576 "[APM] Unskip jest test: x-pack/plugins/apm/public/application/application.test.tsx"
In https://github.com/elastic/kibana/issues/141543 an APM jest test is being skipped because it's failing on CI. Please see https://github.com/elastic/kibana/issues/141543 for details. We should figure out why the test is failing so we can fix it and unskip it.

### Details
**Test name:** renderApp (APM) › renders the app
**Path:** x-pack/plugins/apm/public/application/application.test.tsx

[2022-09-23 08:40] elasticmachine commented on #141576
Pinging @elastic/apm-ui (Team:APM)

[2022-09-23 08:40] logeekal commented on #140614
@kevinlog  I agree with the option that you proposed. But  as @caitlinbetz said, I would also let @paulewing weigh in on it. Thank you very much for both of your inputs.

[2022-09-23 08:42] kertal commented on #136727
Opened a discussion for that: https://github.com/elastic/kibana/discussions/141572

[2022-09-23 08:43] karanverma-qasource commented on #140351
Hi Team,

We have validated above issue on 8.5.0 BC1 and it's working fine. 🟢

**Build Details**
[code]
**Screen Records:**

https://user-images.githubusercontent.com/91867110/191922698-c9e2932c-dddf-4401-90c7-6e9e5f51feb8.mp4

After click on enable button it's taking too much time to get data populated, we have opened different issue for the same #141575.

Thanks !

[2022-09-23 08:43] #140351 closed

[2022-09-23 08:44] karanbirsingh-qasource opened #141577 "[Security Solution]View alerts button wrong navigation on Alert by Status"
**Describe the bug**
View alerts button wrong navigation on Alert by Status

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Go to Host Page > All Host
- Click on any host
- Observe the Alert by Status chart and click on view alert button
- user will navigated to the opened timeline rather then navigating to the Alert Page

**Current behavior**
- Currently on clicking on View A

[2022-09-23 08:44] elasticmachine commented on #141577
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 08:48] karanbirsingh-qasource opened #141579 "[Security Solution] error occurred loading browser field on navigation to Case details page > alert tab"
**Describe the bug**
 error occurred loading browser field on navigation to Case details page > alert tab

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Generate alert on the build
- Attach alert to the case
- Go to case and move to alert tab
- Observe at bottom you will get error prompt " error occurred loading browser field"

**Screen-Cast:**

https://user-images.githubuser

[2022-09-23 08:48] elasticmachine commented on #141579
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 08:49] dimaanj commented on #136884
Closing it, since it only failed in 8.3.3 and not anymore.

[2022-09-23 08:49] #136884 closed

[2022-09-23 09:06] karanbirsingh-qasource opened #141581 "[Security Solution]Filter In, Filter Out and Timeline investigation not working on host.risk.calculated_level and user.risk.calculated_level"
**Describe the bug**
Filter In, Filter Out and Timeline investigation not working on host.risk.calculated_level and user.risk.calculated_level

**Build Details:**
[code]

**Steps**
- Login to kibana deployment
- Generate alert on the build
- Enable host and user risk
- generate alert with host and user risk enrichment
- Perform hover action like filter in, filter out, timeline investigation and ob

[2022-09-23 09:06] elasticmachine commented on #141581
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 09:10] #114215 closed

[2022-09-23 09:13] elasticmachine commented on #141581
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-23 09:14] elasticmachine commented on #141579
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-09-23 09:15] elasticmachine commented on #141579
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-09-23 09:15] elasticmachine commented on #141560
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 09:17] formgeist commented on #141245
Opened a quick design issue to help resolve the design question https://github.com/elastic/observability-design/issues/248

[2022-09-23 09:18] elasticmachine commented on #141575
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-23 09:23] deepikakeshav-qasource commented on #133186
Hi @Team

We have revalidated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191930376-803929b1-a875-46ba-ac0b-f86c4f545efa.mp4

cc: @MadameSheema
Thanks!

[2022-09-23 09:26] deepikakeshav-qasource commented on #138254
Hi Team,

We have revalidated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191931061-b7d76e9c-0109-4c69-a6d2-e608ec484287.mp4

cc: @MadameSheema
Thanks!

[2022-09-23 09:33] deepikakeshav-qasource commented on #140592
Hi @stephmilovic ,

We have validated this issue on **8.5.0-BC1** build and observed that the issue is **Partially Fixed**.

`No Item found is displayed instead of loader` for a second after perform any operation

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/191932367-d260f254-f730-4eaf-89cd-811a6f8f1cdc

[2022-09-23 09:34] karanbirsingh-qasource opened #141589 "[Security Solution]Only process event checkbox is checked by default for Endpoint"
**Describe the bug**
Only process event checkbox is checked by default for Endpoint

**Build Details:**
[code]

**Steps**
- Login to kibana
- Install the Agent with ES integration
- After some sec, Endpoint entry start reflecting on the endpoint page
- Click on the policy name
- Scroll down and go to event configuration
- Observed that by default under policy only process event checkbox is checked

[2022-09-23 09:34] elasticmachine commented on #141589
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 09:38] elasticmachine commented on #141577
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-23 09:41] gbamparop opened #141590 "[APM] Error sample metadata are not available when using OpenTelemetry agents"
The error sample metadata tab is populated by `GET /internal/apm/event_metadata/{processorEvent}/{id}` which uses  [error id](https://github.com/elastic/apm-server/blob/3b392bf54b718b214ac793a9a9720e8f0f5117dc/docs/spec/v2/error.json#L942) to find an error sample.

The error docs created as a result of OTel exception span events do not have `error.id` which makes the request to fail.

<img width="

[2022-09-23 09:41] elasticmachine commented on #141590
Pinging @elastic/apm-ui (Team:APM)

[2022-09-23 09:41] kpatticha opened #141591 "[APM] Pass additional filters to determine accurately the source"
In both helprs we don't filter on `environment`.

https://github.com/elastic/kibana/blob/0ade1b1589fbf4020abbe516ca87dbaf7267233c/x-pack/plugins/apm/server/lib/helpers/transactions/index.ts#L20-L51

https://github.com/elastic/kibana/blob/806dfabb0ab4b488546d40743827ebac6bce75a1/x-pack/plugins/apm/server/lib/helpers/service_metrics/index.ts#L13-L33

What other filters do we need to pass in ordre to

[2022-09-23 09:42] MadameSheema commented on #141577
@karanbirsingh-qasource per the ticket: https://github.com/elastic/security-team/issues/4162 the behavior reported as an issue is correct.

cc @jamster10

[2022-09-23 09:42] #141577 closed

[2022-09-23 09:42] elasticmachine commented on #141591
Pinging @elastic/apm-ui (Team:APM)

[2022-09-23 09:43] dgieselaar commented on #141590
What are our options? Why is APM Server not setting an error.id for OTel?

[2022-09-23 09:55] deepikakeshav-qasource opened #141592 "[Security Solution] Technical preview text pill missing under the left navigation and inside page title of Entity Analytics"
**Describe the bug**
Technical preview text pill missing under the left navigation and inside page title of Entity Analytics

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to Security > Dashboard page
2. Select Entity Analytics page
3. Observe that Technical preview text pill missing under the left navigation and inside page title of Enti

[2022-09-23 09:55] elasticmachine commented on #141592
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 09:55] karanverma-qasource commented on #139998
Hi Team,

We have validated above issue on 8.5.0 BC1 and it's working fine. 🟢

**Build Details:**
[code]
**Screen Records:**

https://user-images.githubusercontent.com/91867110/191936279-972a1724-a881-4c86-8ce6-49bd6076a67d.mp4

Thanks !

[2022-09-23 09:56] #141379 closed

[2022-09-23 09:58] juliaElastic commented on #141184
Are you saying the action sometimes is still stuck in progress? The expected behavior for hosted agents is to result in a failed action like mentioned [here](https://github.com/elastic/kibana/issues/141379).

[2022-09-23 09:58] elasticmachine commented on #141521
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-09-23 10:00] gbamparop commented on #141590
Error id is required in [our schema](https://github.com/elastic/kibana/blob/27b8e98d3efc33938a4a1a298c36a0f62a054d75/x-pack/plugins/apm/typings/es_schemas/raw/error_raw.ts#L52) I also think it makes sense for APM server to set it (cc @elastic/apm-server). An other alternative suggested could be to use doc id although not ideal.

[2022-09-23 10:01] maryam-saeidi opened #141593 "[Actionable Observability] Refactor alert search bar to create DataView based on featureIds"
Part of #134886

## 📝 Summary

This is the first step in making the alerts search bar shareable. In this step, we need to refactor the component in order to get a list of featureIds and create a related DataView.

## ✅ Acceptance Criteria

- Refactor alert search bar to create DataView based on featureIds

[2022-09-23 10:01] elasticmachine commented on #141593
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-23 10:09] axw commented on #141590
Why is it not ideal? Because of the way the UI code is structured today? From a purely technical point of view, it seems to me this single-document search would be better off as a [get](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-get.html) request (given a doc ID): https://github.com/elastic/kibana/blob/c5debde7b7cd9352e874826b547c74673fe64c27/x-pack/plugins/apm/server/rou

[2022-09-23 10:11] dgieselaar commented on #141590
@axw `get` is not CCS-compatible, so we'd have to use a search with a  term query on _id. Is there a reason why APM Server can't handle this for us?

[2022-09-23 10:16] axw commented on #141590
@dgieselaar ugh :)

We can generate a UUID for OTel exceptions. I just wasn't ware of the requirement or that limitation before. I'll open an issue to get this done.

[2022-09-23 10:19] gbamparop commented on #141590
Sounds good thanks!

[2022-09-23 10:23] axw commented on #141590
Opened https://github.com/elastic/apm-server/issues/9178

[2022-09-23 10:24] shahzad31 commented on #116556
Test hasn't been skipped and last failure was almost a year ago, so closing this.

[2022-09-23 10:24] #116556 closed

[2022-09-23 10:24] cnasikas commented on #141579
cc @XavierM

[2022-09-23 10:29] ghost opened #141598 "[Security Solution]: Description under prebuilt and custom created rules details page is not properly displayed."
**Describe the bug:**
Description under prebuilt and custom created rules details page is not properly displayed.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Rules tab.
3. Now, go to any prebuilt or custom created rules details page.
3. Under about section of rules details page.
4. Observe that the description are getting hidden

[2022-09-23 10:29] elasticmachine commented on #141598
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 10:32] amolnater-qasource opened #141599 "[Inconsistent][Fleet]: Error page is shown on clicking Agent activity under Agents tab."
**Kibana version:** 8.5 BC1 Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 BC1
BUILD: 56595
COMMIT: 0d8de4df69f8084a94cdd9638d7de510813cb5ce

**Preconditions:**
1. 8.5 BC1 Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:[NOT SPECIFIC]**
1. Navigate to Fleet> Agents tab.
2. Add various integrations to the agent poli

[2022-09-23 10:32] elasticmachine commented on #141599
Pinging @elastic/fleet (Team:Fleet)

[2022-09-23 10:33] amolnater-qasource commented on #141599
@manishgupta-qasource Please review.

[2022-09-23 10:37] manishgupta-qasource commented on #141599
Secondary review for this ticket is Done

[2022-09-23 10:37] gbamparop commented on #141590
Closing this favour of https://github.com/elastic/apm-server/issues/9178

[2022-09-23 10:46] gbamparop commented on #141591
In order to be accurate we would have to add more filters in like service name, transaction type etc. However, they are not available in all pages / requests.

[2022-09-23 10:46] peteharverson commented on #18548
Closing issue as an action to create ML anomaly detection jobs off Lens visualizations was added for 8.3 in https://github.com/elastic/kibana/pull/129762.

[2022-09-23 10:46] #18548 closed

[2022-09-23 10:53] samratbhadra-qasource opened #141602 "[Security Solution]: View critical risk host button is not working under hosts risk score table."
**Describe the bug:**
View critical risk users button is not working under hosts risk score table.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Critical host risk should be available.

**Steps to Reproduce**
1. Navigate to hosts tab.
3. Now, go to Host risk tab.
3. Under Host risk classification table, hover over the critical host risk classification.
4. Now, click

[2022-09-23 10:53] juliaElastic commented on #137785
Is there anything in `ingest_manager_settings` that we would keep (and not deprecate)?

I would vote for creating a new SO type for fleet server configs, so that it has a more meaningful name (and not the legacy ingest_manager in it), and eventually the `ingest_manager_settings` can be removed, if all of it is deprecated.

[2022-09-23 10:54] peteharverson commented on #139134
Closing issue as @jgowdyelastic and I cannot reproduce the uncaught promise error displayed in the description. Please re-open if you are still able to reproduce this.

As explained in https://github.com/elastic/kibana/issues/139134#issuecomment-1223764323, the text displayed when the file structure cannot be determined is intentionally so that the user has full details on what failed when the dat

[2022-09-23 10:54] #139134 closed

[2022-09-23 10:59] mikecote commented on #140792
This is my thinking as well. The connector is compatible and can be used within cases, just within the configured limits.

[2022-09-23 11:00] juliaElastic commented on #140502
Do we have a valid fleet-server schema stored somewhere or how can we determine if the provided config is valid?
Or are we planning to do only a yaml format validation?

[2022-09-23 11:01] samratbhadra-qasource opened #141603 "[Security Solution]: View critical risk users button is not working under user risk score table."
**Describe the bug:**
View critical risk users button is not working under user risk score table.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Critical host risk should be available.

**Steps to Reproduce**
1. Navigate to Users tab.
3. Now, go to user risk tab.
3. Under user risk classification table, hover over the critical user risk classification.
4. Now, click

[2022-09-23 11:01] elasticmachine commented on #141603
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 11:02] cnasikas commented on #140792
Thanks, Mike! I am closing the issue as it is working as expected.

[2022-09-23 11:02] #140792 closed

[2022-09-23 11:16] kibanamachine commented on #140701
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21370#018369d8-9b86-4f2c-a9bf-7eef86bb9e5e)

[2022-09-23 11:17] kibanamachine commented on #140546
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21371#018369d9-275e-45bf-9950-94d75431fad3)

[2022-09-23 11:19] #136058 closed

[2022-09-23 11:33] mikecote commented on #98246
Closing this issue as done. We've written some best practices (https://docs.elastic.dev/reops/developer-guide/best-practices-rules) and will continuously be updating and promoting them soon.

[2022-09-23 11:33] #98246 closed

[2022-09-23 11:33] mikecote commented on #140086
Closing this issue as done. We've written some best practices (https://docs.elastic.dev/reops/developer-guide/best-practices-connectors) and will continuously be updating and promoting them soon.

[2022-09-23 11:33] #140086 closed

[2022-09-23 11:36] #141532 closed

[2022-09-23 11:39] darnautov opened #141608 "[ML] Improve the UX of adding ML embeddables to a dashboard"
There are several UX improvements to be made to better align this with how other Kibana apps add their embeddables to a dashboard.

- Redirecting to a dashboard is a pretty major action, so using such a small action button per-row seems jarring from a UX POV. Additionally, there is no description stating that you will be redirected.
- There is no way to add the swimlane embeddable directly to a ne

[2022-09-23 11:39] elasticmachine commented on #141608
Pinging @elastic/ml-ui (:ml)

[2022-09-23 11:41] elasticmachine commented on #141602
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-23 11:42] elasticmachine commented on #141603
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-23 11:51] #140666 closed

[2022-09-23 11:51] #141537 closed

[2022-09-23 11:53] juliaElastic commented on #141599
@amolnater-qasource I wasn't able to reproduce this yet, can you share the cloud kibana link and any other stacktrace that could help me debug the issue?

[2022-09-23 11:59] pheyos opened #141612 "[ML] Single metric viewer - missing tooltip for full-width annotation"
**Found in version**
- 8.5.0 BC1 (but probably happens in older versions as well)

**Browser**
- Chrome

**Steps to reproduce**
- In the single metric viewer, create an annotation
- Move the chart time slider such that the annotation spans the whole chart
- Hover the annotation

**Expected result**
- The annotation tooltip is displayed

**Actual result**
- The annotation tooltip is not displayed

[2022-09-23 11:59] elasticmachine commented on #141612
Pinging @elastic/ml-ui (:ml)

[2022-09-23 12:06] #141034 closed

[2022-09-23 12:08] dgieselaar opened #141613 "[APM] No data screen is not correctly centered vertically"
The APM no data screen is not correctly centered vertically:

<img width="1743" alt="CleanShot 2022-09-23 at 14 07 06@2x" src="https://user-images.githubusercontent.com/352732/191956729-240ba5e2-665a-4ab9-97fd-7f3db48c6668.png">

on smaller screens it is partly hidden:

<img width="1761" alt="CleanShot 2022-09-23 at 14 07 42@2x" src="https://user-images.githubusercontent.com/352732/191956847-0ab0d

[2022-09-23 12:08] elasticmachine commented on #141613
Pinging @elastic/apm-ui (Team:APM)

[2022-09-23 12:09] dgieselaar commented on #141613
Looks like this is an issue for all Observability apps. cc @elastic/observability-ui

[2022-09-23 12:12] nchaulet commented on #140502
@jsoriano I do not think neither but validating the schema of a yaml variable could belong to the package spec no? and I think it's what we need here.

[2022-09-23 12:13] formgeist commented on #141613
@dgieselaar Probably related to the `EuiPageTemplate` updates, where we found some other regressions in Observability https://github.com/elastic/kibana/issues/139893

[2022-09-23 12:17] kibanamachine opened #141616 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_scripted_fields·ts - management scripted fields creating and using Painless date scripted fields should visualize scripted field in vertical bar chart"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21378#01836a14-8833-4aed-a4bd-13c3db546bfc)

[2022-09-23 12:21] #135206 closed

[2022-09-23 12:22] karanbirsingh-qasource opened #141617 "[Security Solution]Session text missing in the inspect modal"
**Describe the bug**
Session text missing in the inspect modal

**Build Details:**
[code]

**Steps**
- Login to kibana
- Install Linux Endpoint with session configuration enabled in policy
- Generate alert with session data
- Go to Session tab of host and click on inspect modal
- Observed that Session text is missing in the opened inspect modal and only inspect word is showing

**Expected behavior

[2022-09-23 12:22] elasticmachine commented on #141617
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 12:23] #141110 closed

[2022-09-23 12:27] #141062 closed

[2022-09-23 12:27] harshitgupta-qasource opened #141619 "[Security Solution] Elastic defend integration not renamed correctly"
**Description:**
Elastic defend integration not renamed correctly.

**Build Details:**
[code]

**Preconditions:**
1. Fresh environment should be Deployed.
2. Kibana user should be logged in
3. Endpoint should be Deployed.

**Steps to Reproduce:**
1. Navigates to Endpoint tab.
2. Observe that Elastic defend integration not renamed correctly.[Validation 1]
3. Navigates to Fleet tab.
4. Observe that

[2022-09-23 12:27] elasticmachine commented on #141619
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 12:27] elasticmachine commented on #141619
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-23 12:32] karanbirsingh-qasource opened #141621 "[Security Solution]Host Risk card missing from overview page"
**Describe the bug**
Host Risk card missing from overview page

**Build Details:**
[code]

**Steps**
- Login to kibana
- enable the Host Risk From the Entity Analytics
- Wait for some time for host and user risk data to populate
- Navigate to Overview page and scroll down
- Observed that host risk card is missing . So can you please if this is the expected behavior as earlier in 8.4.2 we used to h

[2022-09-23 12:32] elasticmachine commented on #141621
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-23 12:33] amolnater-qasource opened #141622 "[Fleet]: Unable to preview long name search bar filters before selecting under Agents tab."
**Kibana version:** 8.5 BC1 Kibana cloud environment

**Host OS:** All

**Build details:**
VERSION: 8.5 BC1
BUILD: 56595
COMMIT: 0d8de4df69f8084a94cdd9638d7de510813cb5ce

**Preconditions:**
1. 8.5 BC1 Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet> Agents tab.
2. Click Search bar filter and observe user is unable to pr

[2022-09-23 12:33] elasticmachine commented on #141622
Pinging @elastic/fleet (Team:Fleet)

[2022-09-23 12:33] amolnater-qasource commented on #141622
@manishgupta-qasource Please review.

[2022-09-23 12:34] nchaulet commented on #141470
@cmacknz is there somewhere a JSON schema of the agent policy that we can maybe use in our test to validate that we always generate a correct agent policy.
I am not sure what will be the best way to share this but if this schema live in the elastic agent repo we could have some automated PR that update kibana with it, (like the one for kubernetes agent manifest)

[2022-09-23 12:35] nchaulet commented on #141386
Fleet server do not define any stream so its expected, but I guess we could hide the title here if there is no stream

[2022-09-23 12:36] #138399 closed

[2022-09-23 12:37] stephmilovic commented on #141575
It does take a long time sometimes and the transforms need to be restarted. However, this is not a bug and expected behavior. While testing, engineers got frustrated with this behavior and decided to add a button to restart the transforms to the empty data view. That should alleviate this issue. The PR is in progress here: https://github.com/elastic/kibana/pull/141249

[2022-09-23 12:38] maryam-saeidi commented on #140507
When I logged the `isLoading` variable, it seems the request is successful and the alert response is back but for some reason, the component sets the isLoading to true again: ([here](https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/1300))
![image](https://user-images.githubusercontent.com/12370520/191961774-f92bd8ed-17db-4251-8428-d6188faa4c33.png)

[2022-09-23 12:49] manishgupta-qasource commented on #141622
Secondary review for this ticket is Done

[2022-09-23 12:50] manishgupta-qasource commented on #141619
Reviewed & assigned to @kevinlog

[2022-09-23 12:54] dej611 commented on #140482
Hasn't this already been implemented by #139719 with https://github.com/elastic/kibana/pull/139719/files#diff-52f6a9799f01dbe42933447b23f5092bf5a74e3bca711ee1974de18b10c34eedR36-R37 ?

[2022-09-23 12:54] XavierM commented on #141417
I think the reason, it is not working, it is because we forget to make the change to the new alert table too. @andrew-goldstein and I will work on a PR to fox that.

[2022-09-23 12:56] flash1293 commented on #140482
Good catch, that's right!

[2022-09-23 12:56] #140482 closed

[2022-09-23 12:57] stratoula commented on #110761
I think this has been fixed by @flash1293 and we can close it, right Joe?

[2022-09-23 12:57] flash1293 commented on #110761
Yeah, we simplified these types, closing

[2022-09-23 12:57] #110761 closed

[2022-09-23 12:59] elasticmachine commented on #141592
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-09-23 13:03] paulewing commented on #140614
++ I agree with proposal 3 as well. Thanks for the detailed information!

[2022-09-23 13:10] #141579 closed

[2022-09-23 13:18] jze2 commented on #141225
If I understand it correctly, the fix should be already present in the 8.4.0 version and I have upgraded to 8.4.2 and the problem still persist...

[2022-09-23 13:24] #136581 closed

[2022-09-23 13:25] bhavyarm opened #141629 "Saved searches should have save and return in discover when user edits panel filters"
**Kibana version:** 8.5.0 BC1

**Elasticsearch version:** 8.5.0 BC1

**Server OS version:** darwin

**Browser version:** chrome latest

**Browser OS version:** os x

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  if users edit panel filters on saved searches - in current implementation - they can save it in discover and then find thei

[2022-09-23 13:25] elasticmachine commented on #141629
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-09-23 13:26] kpollich commented on #137785
Thanks all, the original implementation plan in the description here will remain valid then.

[2022-09-23 13:26] #140547 closed

[2022-09-23 13:30] kpollich commented on #141074
Even better. Thanks for clarifying! This should make the process of requesting diagnostics from many agents simpler.

[2022-09-23 13:35] spalger commented on #140507
Nice find @maryam-saeidi! Have you inspected all the places where the `isLoading` state is set in the component?

[2022-09-23 13:36] #140911 closed

[2022-09-23 13:36] #141196 closed

[2022-09-23 13:36] #141374 closed

[2022-09-23 13:37] criamico opened #141635 "[Fleet] Bug - Debug page layout is broken"
The layout of the `_debug` page on main is currently broken. This is likely a consequence of the [EUI update](https://github.com/elastic/kibana/pull/140323) that was recently merged.

![Screenshot 2022-09-23 at 15 31 22](https://user-images.githubusercontent.com/16084106/191972462-266d0700-2314-4e34-9dd2-48c551b56902.png)

[2022-09-23 13:37] elasticmachine commented on #141635
Pinging @elastic/fleet (Team:Fleet)

[2022-09-23 13:39] ThomThomson commented on #141629
I believe this is actually on the Data Discovery side. We pass off the `originatingApp` ID, but it is up to the editors to provide a system to navigate back to that originating app.

In the same vein, we should really think about adding `by value` support for Saved Searches.

[2022-09-23 13:39] spalger commented on #141420
For the record, that PR doesn't make any changes to the grouping of journeys. They're all still run against their own Kibana instance and journeys have "always" been executed against a single ES instance. No changes to that strategy in my PR. Just a change in the structure of journeys that stems off config explosion and makes them simpler to write.

[2022-09-23 13:40] elasticmachine commented on #141629
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-23 13:41] maryam-saeidi commented on #140507
There is only one place, I've added more logs to see whether I can identify what change causes extra loading for the component.
The most confusing part is the fact that it only happens if the alert component is in an accordion and if that accordion is initially closed on the page. It does not make sense to me at all, have you heard of an issue caused by a component being hidden?! Can rendering be

[2022-09-23 13:42] culley commented on #141547
A table of contents with links to other sections of the same same dashboard would be a great improvement.   Our community dashboards cover a variety of topics.  Users need to be able to quickly find their topics and a table of contents at the top would be very beneficial.

Different users need different portions of the dashboard so the ability to jump to just their relevant sections would be very

[2022-09-23 13:44] spalger commented on #141166
@rshen91 the usage described in `packages/kbn-dev-utils/src/plugin_list/discover_plugins.ts` is for `node scripts/build_plugin_list_docs.js` which is a CLI that updates [this docs page](https://github.com/elastic/kibana/blob/main/docs/developer/plugin-list.asciidoc).

I think this means it's exempt from this change, right? Or is there also going to be a shared-ux API for parsing markdown in node?

[2022-09-23 13:45] ThomThomson commented on #140329
Makes total sense that step-size would be dashboard viewer configurable! I assume that setting the step size then saving the dashboard would save that step size as default?

We'll need to think about logical step size options for time slider and for range slider. Maybe the author should be able to build a list of step sizes.

A step size dropdown is much more flexible imo than a `number of decimal

[2022-09-23 13:46] spalger commented on #140507
Sounds to me like maybe a `useEffect` in something that's rendered inside that accordion might have a race condition. This sounds like a classic race condition without knowing more about exactly what has access to what. If you want to send me some links to components I can look around and see if I can spot anything suspicious.

[2022-09-23 13:48] ThomThomson commented on #141448
Closing as duplicate of https://github.com/elastic/kibana/issues/134257

[2022-09-23 13:48] #141448 closed

[2022-09-23 13:49] maryam-saeidi commented on #140507
Ah, that would be great, here you can find the 2 files that I've added logs for debugging:
https://github.com/elastic/kibana/pull/140638/files

- Component: x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
- Hook for fetching data: x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_fetch_alerts.tsx

[2022-09-23 13:51] e40pud commented on #141494
I tried to reproduce this on the latest master branch and it works there:

https://user-images.githubusercontent.com/2700761/191976006-6b915a9c-6992-4588-a246-ea974e6f7753.mov

@marshallmain What steps did you use?

[2022-09-23 13:52] petrklapka commented on #135274
Hi Tim.  Help me understand the ramification of this behavior.  I understand the query continues to run, but what ultimately is the negative result after the query completes?  Does it ever complete?  Does it continue to consume CPU/RAM/Drive resources indefinitely?  Does it create some kind of vulnerability while it's running?  I don't quite get that info from the issue description.  Can you conte

[2022-09-23 14:03] elasticmachine commented on #141616
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-09-23 14:07] spalger commented on #141616
This specific test has only failed once, but if we open it up to the list of `should visualize scripted field in vertical bar chart` we see several failures across PRs

<img width="1349" alt="image" src="https://user-images.githubusercontent.com/1329312/191979204-55b1eaf1-093d-49d8-a727-4d14b58d7ef8.png">

It would be great if someone could take a look at this. @jughosta looks like you were [in th

[2022-09-23 14:07] shahzad31 opened #141641 "[CI Feature] Run only jest tests in case files changes are only jest related test files"
**Describe the feature:**

Kibana CI can take long time to pass and provide feedback, even though operations team has been doing awesome job to reduce it.
I propose another improvement where we should only run jest tests in case the PR only contains changes to jest test files.

Skipping the needs to run expensive functional tests, api tests and other kibana bases FTR tests. Since the changes will

[2022-09-23 14:07] elasticmachine commented on #141641
Pinging @elastic/kibana-operations (Team:Operations)

[2022-09-23 14:07] maryam-saeidi commented on #140507
It seems this difference is causing the re-rendering:
![image](https://user-images.githubusercontent.com/12370520/191979257-de601409-7f05-40c2-bc10-1667c902d78a.png)

@spalger if it is a race condition, shouldn't it also happen when the component is outside of the accordion?

[2022-09-23 14:08] elasticmachine commented on #141521
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-23 14:18] #140900 closed

[2022-09-23 14:22] kevinlog commented on #139272
@harshitgupta-qasource this bug should be testable in `8.5.0` .  I updated the labels to reflect the fix version.

[2022-09-23 14:24] kevinlog commented on #139367
@vipulsrivastava-qasource this one is now testable in `8.5.0`

[2022-09-23 14:25] shahzad31 commented on #141426
closing this for now, will investigate if it comes back

[2022-09-23 14:25] #141426 closed

[2022-09-23 14:27] kibanamachine opened #141645 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> policy name validation doesn't allow empty policy name"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21398#01836a91-7753-41ec-b4ef-89bdfd1944a5)

[2022-09-23 14:27] kibanamachine opened #141646 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> policy name validation doesn't allow policy name with space"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21398#01836a91-7753-41ec-b4ef-89bdfd1944a5)

[2022-09-23 14:27] kibanamachine opened #141647 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> policy name validation doesn't allow policy name that is already used"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21398#01836a91-7753-41ec-b4ef-89bdfd1944a5)

[2022-09-23 14:27] kibanamachine opened #141648 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> policy name validation doesn't allow policy name with comma"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21398#01836a91-7753-41ec-b4ef-89bdfd1944a5)

[2022-09-23 14:27] kibanamachine opened #141649 "Failing test: Jest Tests.x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation - <EditPolicy /> policy name validation doesn't allow policy name starting with underscore"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21398#01836a91-7753-41ec-b4ef-89bdfd1944a5)

[2022-09-23 14:28] elasticmachine commented on #141645
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 14:28] elasticmachine commented on #141646
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 14:28] elasticmachine commented on #141649
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 14:28] elasticmachine commented on #141647
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 14:28] elasticmachine commented on #141648
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 14:28] cmacknz commented on #141470
Thanks, there isn't a JSON schema for the agent policy unfortunately. Creating something like this has come up a few times, I'll look into creating one.

[2022-09-23 14:32] kqualters-elastic commented on #141162
@karanverma-qasource @MadameSheema this bug was present only in 8.4.x branches and not 8.5, should only validate it's fixed (and maybe not a problem elsewhere as well) in that branch.

[2022-09-23 14:48] #115324 closed

[2022-09-23 14:50] spalger commented on #141646
Merging with https://github.com/elastic/kibana/issues/141645

[2022-09-23 14:50] #141646 closed

[2022-09-23 14:50] spalger commented on #141648
Merging with https://github.com/elastic/kibana/issues/141645

[2022-09-23 14:50] #141648 closed

[2022-09-23 14:50] spalger commented on #141647
Merging with https://github.com/elastic/kibana/issues/141645

[2022-09-23 14:50] #141647 closed

[2022-09-23 14:52] #131346 closed

[2022-09-23 14:54] #139703 closed

[2022-09-23 14:59] spalger commented on #141645
This is the third suite in the `x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation/` directory to become flaky this week. In order to prevent the rest of the tests here from blocking more PRs I'm skipping all the tests in this directory and linking them all here.

@Dosant all this flakiness seems to have started after https://github.com/elastic/kibana

[2022-09-23 15:01] ajosh0504 commented on #141575
Hello! Agree w/ everything @stephmilovic has said.

I'm working w/ @hendrikmuhs to see if there's a way to fix this. The race condition with the latest transform getting installed at the same time/before the pivot is definitely a cause but I've also noted cases where the pivot transform does not seem to pick up documents it is supposed to on the first run.

For this other issue:

Based on your scr

[2022-09-23 15:04] elasticmachine commented on #140967
Pinging @elastic/fleet (Team:Fleet)

[2022-09-23 15:08] #141539 closed

[2022-09-23 15:17] #139021 closed

[2022-09-23 15:27] jennypavlova commented on #141273
@neptunian Should we keep also the logic on click ("Check for new data" button) similar to Inventory or do we want to implement different logic here?

[2022-09-23 15:40] yctercero commented on #141056
After chatting with the team, I think we're going to add back in because it isn't totally intuitive in that endpoint exceptions are also run in detections.

[2022-09-23 15:42] marshallmain commented on #141494
I can't reproduce on latest `main` either.

[2022-09-23 15:42] #141494 closed

[2022-09-23 15:43] MadameSheema commented on #141603
@samratbhadra-qasource I believe there is a misunderstanding with this functionality. When you click on the button, you are not going to be redirected anywhere, is going to filter by the category. I checked on 8.5 BC1 and I believe is working fine.

[2022-09-23 15:46] #140282 closed

[2022-09-23 15:57] dokmic opened #141673 "[Expressions] Execution should not stop with an error on partial results"
**Kibana version:** 8.4 & 8.5

**Steps to reproduce:**
1. Create an empty canvas workpad.
2. Use the following expression as an element:
[code]

**Expected behavior:** The expression should be complete without an error.
**Any additional context:**

The problem is in the way the expressions plugin handles partial results. It should not stop the execution process whenever an expression function erro

[2022-09-23 15:57] elasticmachine commented on #141673
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-23 15:59] crowens commented on #141478
@bradenlpreston @caitlinbetz As we are talking of replacing the drop-down option of 'Cloud Security" to "Cloud Workload Protection" is there a more descriptive choice than just "Endpoint"? @ferullo suggested "Endpoint Detection and Response" or something similar?

[2022-09-23 16:05] ThomThomson commented on #141163
Closing this in favour of https://github.com/elastic/kibana/issues/141673

[2022-09-23 16:05] #141163 closed

[2022-09-23 16:09] benakansara opened #141674 "Make rule tags in Alert Details page to match with the design"
Part of https://github.com/elastic/kibana/issues/138645
Make "Rule Tags" match with design. Show "-" when there are no tags available.

[2022-09-23 16:10] elasticmachine commented on #141674
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-09-23 16:10] MadameSheema commented on #141598
Note: this is happening with all the rules, prebuilt and custom ones, @samratbhadra-qasource can you please update the ticket accordingly? Thanks

[2022-09-23 16:11] elasticmachine commented on #141598
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-09-23 16:11] crowens commented on #141478
One additional change (thanks @ferullo). We use the 'behavior' rather than 'behaviour' spelling everywhere else.

![image](https://user-images.githubusercontent.com/6376821/192005366-a97b8c14-7109-42b8-8f6f-7f11650a3d2c.png)

[2022-09-23 16:12] #140241 closed

[2022-09-23 16:13] crowens commented on #141478
Ahh, I see you fixed that in the PR (along with others).  Thanks @opauloh

[2022-09-23 16:15] dokmic opened #141676 "[Embeddable] Provide unified error UI"
**Describe the feature:**

There was a discussion in #140205, and the suggestion from the @elastic/kibana-design was to reuse `EuiEmptyPrompt` to render error messages.

- The error component in the embeddable plugin should be updated accordingly to the suggestion.
- At the moment, Lens is encapsulating an error state. So either the error component inside the Lens plugin should be updated, or the

[2022-09-23 16:15] elasticmachine commented on #141676
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-09-23 16:15] dokmic commented on #141676
cc @elastic/kibana-presentation @elastic/kibana-vis-editors

[2022-09-23 16:16] machadoum commented on #141603
This is the expected behavior.

[2022-09-23 16:16] #141603 closed

[2022-09-23 16:17] #138608 closed

[2022-09-23 16:18] MadameSheema commented on #141602
The behaviour described is correct and is not an issue. The button filters, does not redirect.

[2022-09-23 16:18] #141602 closed

[2022-09-23 16:19] machadoum commented on #141621
We deleted the host risk car [here](https://github.com/elastic/kibana/pull/140177) in favor of the Entity Analytics page.

[2022-09-23 16:19] #141621 closed

[2022-09-23 16:26] spalger commented on #140507
@maryam-saeidi Ok, I think I found it: https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_fetch_alerts.tsx#L175-L176

If `asyncSearch()` or `refetch.current()` is called when `data && data.search` doesn't resolve to true then `loading` will be set to true even though a request is not being sent.

I think if we move the

[2022-09-23 16:26] caitlinbetz commented on #141478
Thanks @crowens . The prompt before the drop down is "Select the type of environment you want to protect" - so I feel like "Endpoints" or "Endpoint protection" does make sense? But let me know your thoughts.

[2022-09-23 16:27] yctercero commented on #141042
The flash is definitely annoying but there's no way to avoid a brief period of it not being there as we are having to do a refetch since it's not in-memory.

[2022-09-23 16:39] spalger commented on #141477
Interesting development, I setup the tests to run "in band" again and now we've seen the `x-pack/plugins/watcher/jest.config.js` config fail before running any tests:

[code]

Failures on main:
 - https://buildkite.com/elastic/kibana-on-merge/builds/21422#01836af0-9689-4ad8-9cc6-d2790698e7a0
 - https://buildkite.com/elastic/kibana-on-merge/builds/21406#01836ac8-5c79-449a-a645-1e071375076b

I'm now

[2022-09-23 16:48] yctercero commented on #140685
@peluja1012 @MikePaquette  I'm wondering if we need to hide the endpoint exceptions tab at all to begin with. A user, even without selecting to add the endpoint exception list in the advanced rule settings can add an endpoint exception from an alert if the alert has the right data. Is there a reason we want the endpoint exceptions to be hidden from a user?

Removing 8.5 label for now unless others

[2022-09-23 16:55] elasticmachine commented on #141526
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-23 16:59] #139639 closed

[2022-09-23 17:14] smith commented on #139316
Looks like https://github.com/elastic/kibana/pull/141372 unblocks this.

[2022-09-23 17:22] flash1293 commented on #139316
Let us know in case something isn’t working right - still very easy to do changes at this point

[2022-09-23 17:29] AndrewMcQuerry commented on #140426
Does this imply that there is no current method for being able to create or update a Data View via API and have it associated with multiple spaces?

[2022-09-23 17:33] dplumlee commented on #141373
Yep, we're waiting until docs has written the relevant docs and then will update this link to that before `8.5` ships

[2022-09-23 17:34] spalger opened #141686 "[Watcher] Regularly Failing Jest Config"
The `x-pack/plugins/watcher/jest.config.js` jest config has shown to be problematic recently.

We've been trying to track down the source of flaky errors like this recently:
[code]

Information about this investigation is available and linked to https://github.com/elastic/kibana/issues/141477

Twice today the `x-pack/plugins/watcher/jest.config.js` jest config failed, seemingly without running any

[2022-09-23 17:35] elasticmachine commented on #141686
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-09-23 17:37] bradenlpreston commented on #141478
Agree with @caitlinbetz - the question we are asking is about the type of environment. I would expect the choices to be more along the lines of

- Traditional Endpoints (desktops, laptops, virtual machines)
- Cloud Workloads (Linux servers or Kubernetes environments)

We could also change the question to something like "What is our use case?"

[2022-09-23 17:39] mikecote commented on #56403
We will start working on this in the coming weeks, but we don't have a promise to what release it will be included within.

[2022-09-23 17:40] bradenlpreston commented on #141478
@jmikell821 - FYI

[2022-09-23 17:42] learhy commented on #141478
Can we all agree with @bradenlpreston's suggestion:

Cloud Workloads (Linux servers or Kubernetes environments)

I'm good with this.

[2022-09-23 17:44] #141569 closed

[2022-09-23 17:47] spalger commented on #141686
Just had another failure: https://buildkite.com/elastic/kibana-on-merge/builds/21435#01836b22-36cf-40f0-af2d-58a9ae598efa

[2022-09-23 18:02] kibanamachine commented on #140701
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/21445#01836b47-0481-4855-b956-f48da67ce220)

[2022-09-23 18:04] #141505 closed

[2022-09-23 18:22] paalaas commented on #95782
Same here, users get confused and thats why we're stuck on version 7.9.3.

[2022-09-23 18:23] spalger commented on #140701
6 failures in the last week across 8.5 and main, skipped

main/8.6: https://github.com/elastic/kibana/commit/15e4a3ff1d51971ca57f1601f3b11eba5350401a
8.5: https://github.com/elastic/kibana/commit/d9247c8af4774160ead65f4750b3dd95857d01db

[2022-09-23 19:03] kobelb commented on #95161
Michael Heldebrant recently ran into this issue as well. He wanted to do a "group by", which was impossible using the Elasticsearch Query rule.

[2022-09-23 19:13] #141200 closed

[2022-09-23 19:24] jeffvestal commented on #95161
Since this issue has some recent activity I'm going to mention an [issue I've had open for a while](https://github.com/elastic/kibana/issues/100740) to support [derivative aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-derivative-aggregation.html).
There are a couple examples in the linked issue. Adding general `aggs` support looks like it

[2022-09-23 19:24] kpollich commented on #137751
Reopening since we've had some breakages related to our changes here in the policy editor: https://github.com/elastic/kibana/pull/141705

[2022-09-23 19:42] #141019 closed

[2022-09-23 20:14] pjbertels opened #141744 "nbAgentsAck in /action_status endpoint greater than number of actions"
Testing with action_status and found nbAgentsAck in /action_status endpoint greater than number of actions.

TF_VAR_stack_version=8.5.0-SNAPSHOT TF_VAR_stack_hash=7dc445a0.  Cluster https://pb8506.kb.us-west2.gcp.elastic-cloud.com:9243/app/fleet/agents

[code]

[2022-09-23 20:23] kevinlog commented on #141619
@harshitgupta-qasource thanks for filing.  This should be fixed now.  It was a result of the new package not being released yet.  If you build a new BC1 instance, it should be fixed now.  You do not need to wait for BC2 since this is picked up by the Endpoint integration package as opposed to Kibana.

[2022-09-23 20:29] kevinlog commented on #140701
@paul-tavares

Can we populate alerts directly into the alerts index and not wait for Endpoint rule promotion?  My guess is that the Detections team does something like this with their integration tests in Alerts.

[2022-09-23 20:37] miltonhultgren commented on #137277
I think I'm done with my investigation, I'm putting this "In review", please see the comment above.

I would also love for some thoughts or feedback from @elastic/actionable-observability and @elastic/response-ops if they have the time!

[2022-09-23 21:15] AndrewMcQuerry opened #141714 "[Data Views] Update API should not require a change be made"
**Kibana version:** 8.4.1

**Elasticsearch version:** 8.4.1

**Server OS version:** RHEL7

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** .tar.gz

**Describe the bug:** The Data Views Update API seems to require at least 1 "change" be made and if not, it throws an error (400 Bad Request).  I'm not aware of any other

[2022-09-23 21:20] htwing opened #141715 "[Security Solution] Interactive session is not shown in Kubernetes Dashboards"
Kibana version:
8.5.0-SNAPSHOT

Elasticsearch version:

Server OS version:

Browser version:

Browser OS version:

Original install method (e.g. download page, yum, from source, etc.):

Describe the bug:
Interactive session is not shown in Kubernetes Dashboards, there are two unknown interactive type shown in Hosts Sessions.

Steps to reproduce:

1. Setup a deployment in staging
2. Add security in

[2022-09-23 21:22] AndrewMcQuerry opened #141716 "[Data Views] Update API doesn't support changing the `name`, yet Kibana UI allows the `name` to be changed"
**Kibana version:** 8.4.1

**Elasticsearch version:** 8.4.1

**Server OS version:** RHEL7

**Browser version:** N/A

**Browser OS version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** .tar.gz

**Describe the bug:**  When editing a Data View within the Kibana UI, the "Name" field is editable and it allows you to change the name of a Data View that already exists.

[2022-09-23 21:28] kibanamachine commented on #139565
New failure: [CI Build - 8.5](https://buildkite.com/elastic/kibana-on-merge/builds/21464#01836c21-eafc-427f-83a2-b6ff897e822f)

[2022-09-23 22:14] tf-olupona commented on #141547
Clickable table of contents in Kibana dashboard will make dashboard navigation easy, and at the same time improve users experience. This functionality will be a great addition.
Another important feature to add would be 'create a file' that would help dashboard authors organize similar dashboard contents into files/folders.

[2022-09-23 22:28] davismcphee commented on #140793
@ThomThomson @kertal It looks like this was caused by `react-grid-layout` adding `touch-action: none` to grid item elements. There's more info in the PR I created: #141718.  It's no longer an issue in 8.5+ since we updated `react-grid-layout` from `0.16.2` to `1.3.4`, but I wasn't sure how to go about creating a PR with work for 8.4 that shouldn't make it to 8.5, so I just pointed the PR at the 8.

[2022-09-23 22:55] kibanamachine opened #141719 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/data_plugin/session·ts - data plugin Session management Dashboard "before all" hook for "on load there is a single session""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/21472#01836c62-9071-4eb5-80dc-c113bc0b744f)

[2022-09-23 23:20] kibanamachine opened #141722 "Failing test: X-Pack Spaces API Integration Tests -- security_and_spaces.x-pack/test/spaces_api_integration/security_and_spaces/apis/copy_to_space·ts - spaces api with security copy to spaces rbac user with read globally from the default space single-namespace types "before each" hook for "should return 200 when copying to space without conflicts with references""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/21471#01836c5c-3ee2-4a14-ba9f-292c2afa831d)

[2022-09-23 23:20] elasticmachine commented on #141722
Pinging @elastic/kibana-security (Team:Security)

[2022-09-24 00:00] spalger commented on #139565
12 failures in the last week. @jbudz are you able to skip this?

[2022-09-24 01:05] jbudz commented on #139565
Skipped

main: https://github.com/elastic/kibana/commit/e91c33e3d1b3c5f6b0089497b9547e8a9c69676a
8.5: https://github.com/elastic/kibana/commit/a329059bdc34e5944f710851c14b6931ae646a0d

[2022-09-24 04:15] elasticmachine commented on #141714
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-09-24 05:41] cuff-links opened #141724 "[A11y] Violation in the Observability Alerts Section"
While adding a new a11y test as part of https://github.com/elastic/kibana/pull/141266. I skipped the test and reported the a11y violation here.

Stack Trace:
[code]

[2022-09-24 05:41] elasticmachine commented on #141724
Pinging @elastic/kibana-qa (Team:QA)

[2022-09-24 05:41] elasticmachine commented on #141724
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-09-24 06:27] ogupte commented on #29169
Closing this due to improvements from PR #135137

[2022-09-24 06:27] #29169 closed

[2022-09-24 10:13] shravank16 commented on #141144
Hi, I would like to contribute to this issue.

[2022-09-24 21:46] mikeh-elastic commented on #95161
If we can basically get the logs ui alert but allow us to put an index to search of our own, that would solve this.  I too would like to be able to supply the dsl of the aggs since I can do some very powerful things with buckets and pipeline aggregations which is still only capable in watcher to alert and vega to visualize today.

[2022-09-25 09:19] immavalls commented on #141193
The first example in https://www.elastic.co/guide/en/kibana/8.4/kuery-query.html#_terms_query does not work if it's a keyword.

[code]

And this is also confusing. It also only works for text, and the field `http.response.status_code` is usually a `long`. It does not work on keywords or numbers, the examples seems to only work on `text` fields.

Thanks!

[2022-09-25 22:02] AndrewMcQuerry commented on #83255
👍 Adding a quick note to say that as our organization migrates to Spaces (estimating 20-30+), it would be highly beneficial to have a custom message that helped new users.   As the example provided shows, we would love to be able to refer them to some internal resource (wiki/etc) that provides details on the spaces available (since they won't see spaces they don't have access to), as well as a lin

[2022-09-26 01:56] ywangd commented on #141258
When planning ES side work for user profiles, we talked about the possibility of updating profiles automatically for native users and decided to leave it *out* for the initial scope. I think the ask here, "disabling profile on native user deletion", is an indication that we should bring the discussion back. It is better if we could approach it more holistically (update, disable, enable, deletion)

[2022-09-26 01:57] ywangd commented on #141258
@albertzaharovits @tvernum @jakelandis

[2022-09-26 03:59] karanbirsingh-qasource commented on #141575
Hi @ajosh0504 and team thanks for looking into the issue

Yes along this main issue there area 2 area more which got affected so we thought to mention along this issue as in all the mentioned placed data is either related to host or user risk score which has same source so we don't report the separate issue as those area are also facing same challenge on getting data after setting up all the thing

[2022-09-26 04:29] samratbhadra-qasource commented on #141598
Hi @MadameSheema

We have updated the ticket accordingly.
Please let us know if anything else is required from our end.

Thanks!

[2022-09-26 05:27] MadameSheema commented on #141354
Reopening to don't skip validation on next BC.

[2022-09-26 05:29] muskangulati-qasource commented on #141619
Hi @kevinlog,

We have validated this issue on **8.5.0 BC1** and observed that issue is **Fixed** now after upgrading the integration package 🟢

![Upgrade](https://user-images.githubusercontent.com/60252716/192107880-8b3084f6-4db6-49cd-acf4-59e35ed2868e.PNG)

Please find below the testing details:

**Build Details:**
[code]

**Screenshots**
![Defend6](https://user-images.githubusercontent.com/6025

[2022-09-26 05:29] #141619 closed

[2022-09-26 05:30] muskangulati-qasource commented on #140154
Hi @kevinlog,

We have validated this issue on **8.5.0 BC1** and observed that issue is **Fixed** 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/192108065-5858ed17-7bc8-48b2-9f8f-bad99000b00d.mp4

Hence, We are closing this issue and marking it as QA Validated

Thanks!!

[2022-09-26 05:30] #140154 closed

[2022-09-26 05:30] simranvaseer-qasource commented on #140927
Hi @juliaElastic
We have revalidated this issue on latest 8.5 BC1 kibana Cloud environment and found it **fixed** now.

- No flickering is visible on clicking agent Activity button.

**Build Details:**
BUILD: 56595
COMMIT: 0d8de4df69f8084a94cdd9638d7de510813cb5ce

**Screen Recording:**

https://user-images.githubusercontent.com/102019374/192198537-0916e6fb-66bc-4a3b-9aca-e7d784b19f71.mp4

Hence, m

[2022-09-26 05:30] muskangulati-qasource commented on #139367
Hi @kevinlog,

We have validated this issue on **8.5.0 BC1** and observed that issue is **Fixed**🟢

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/192108199-5128890d-c5df-4064-b29b-243198d92839.mp4

Hence, We are closing this issue and marking it as QA Validated

Thanks!!

[2022-09-26 05:30] #139367 closed

[2022-09-26 05:31] muskangulati-qasource commented on #139272
Hi @kevinlog,

We have validated this issue on **8.5.0 BC1** and observed that issue is **Fixed**🟢

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/192108592-93139cd2-2675-498d-8aee-a0fed61442b8.mp4

Hence, We are closing this issue and marking it as QA Validated

Thanks!!

[2022-09-26 05:31] #139272 closed

[2022-09-26 05:32] muskangulati-qasource commented on #139077
Hi @paul-tavares,

We have validated this issue on **8.5.0 BC1** and observed that issue is **Fixed**

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/192109543-e412b8d8-d9e1-40e4-85a4-1f1b2335614d.mp4

Hence, We are closing this issue and marking it as QA Validated

cc: @kevinlog
Thanks!!

[2022-09-26 05:32] #139077 closed

[2022-09-26 05:36] karanbirsingh-qasource commented on #141589
Hi Team,

We are closing this issue as this is expected due to another feature which only allow process to capture so that why it is expected thing.

![image](https://user-images.githubusercontent.com/59917825/192200914-680dcbb9-6668-4f04-ae51-326d68cb052a.png)

[2022-09-26 05:36] #141589 closed

[2022-09-26 05:49] amolnater-qasource opened #141731 "[Security Solution]: Word `clound` written instead of `cloud` under Select configuration settings> add Elastic Defend integration page."
**Describe the bug:**
Word `clound` is written instead of `cloud` under Select configuration settings> add Elastic Defend integration page.

**Browser and Browser OS versions:**
All

**Elastic Endpoint version:**
v8.5.0

**Build details:**
VERSION: 8.5 BC1 Kibana cloud environment
BUILD: 56595
COMMIT: 0d8de4df69f8084a94cdd9638d7de510813cb5ce

**Preconditions:**
1. 8.5 BC1 Kibana cloud environment

[2022-09-26 05:49] elasticmachine commented on #141731
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-09-26 05:49] elasticmachine commented on #141731
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-09-26 05:49] amolnater-qasource commented on #141731
@muskangulati-qasource Please review.

[2022-09-26 06:01] muskangulati-qasource commented on #141731
Reviewed & assigned to @kevinlog

[2022-09-26 06:02] MadameSheema commented on #140696
@deepikakeshav-qasource can you please validate this on current BC? Thanks!

[2022-09-26 06:10] parkmisoo commented on #71550
My Basic license is activing

I cant find the chrome directory
I just set
![image](https://user-images.githubusercontent.com/89878073/192204477-b790d11b-dead-40d1-b771-7f0e50a491db.png)

I dont know why is not set

To find the chrome directory
please tell me how to set

[2022-09-26 06:49] pgayvallet commented on #71550
@parkmisoo What are you trying to achieve here exactly? Is this related to the issue at stake here?

[2022-09-26 06:57] deepikakeshav-qasource commented on #140696
Hi @MadameSheema

We have validated this issue on **8.5.0-BC1** build and observed that the issue is **fixed**.

Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/61860752/192212298-78cae61a-e912-45b1-af67-b08bed357f48.mp4

Hence, We are closing this ticket and marking as QA Validated

Thanks!

[2022-09-26 07:07] #140293 closed

[2022-09-26 07:20] alemansec commented on #140426
indeed, as an end-user relying solely on api to deploy and configure my clusters and kibana instances, i ran into this (i submitted the issue to support.elastic.co leading to this github issue),

it also prevents me from having the same ID for data views over multiple spaces (because of the conflicting objects response), feature we were previously using with versions < 8 to edit/validate dashboard

[2022-09-26 07:24] slhck opened #141733 "Split series "group other" number of items/count is wrong"
**Kibana version:** 8.4.2

**Elasticsearch version:** 8.4.2

**Server OS version:** Linux

**Browser version:** Chrome

**Browser OS version:** macOS

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**

I want to split a line chart by term, showing the top N values (by count) and putting others into an _Other_ group.

I select 6 items, yet the c

[2022-09-26 07:48] dannycroft opened #141734 "[APM] 8.5.0 Test Plan"
# Test Plan 8.5.0

## Phase 1 - Manual Testing: Monday 26th September

- Pick an issue from the [curated list](https://github.com/elastic/kibana/issues?q=label%3Aapm%3Atest-plan-8.5.0+is%3Aclosed+-label%3Aapm%3Atest-plan-done)
- After testing apply `apm:test-plan-done` label. If a problem is found a new issue should be opened and labelled `apm:test-plan-regression` and moved to "Ready" column.

##