[2021-12-29 09:55] elasticmachine commented on #122114
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-29 10:00] manishgupta-qasource commented on #122114
Reviewed & assigned to @stephmilovic

CC: @MadameSheema

[2021-12-29 10:02] manishgupta-qasource commented on #122105
Reviewed & mention to @jen-huang

[2021-12-29 10:04] amolnater-qasource opened #122290 "[Fleet] Commands not updated with "--fleet-server-insecure-http" flag for self-managed 7.16.2."
**Description:**
Commands not updated with "--fleet-server-insecure-http" flag for self-managed 7.16.2.
**Guide Link:** https://www.elastic.co/guide/en/observability/7.16/ingest-logs-metrics-uptime.html

**Current Screenshots:**
![9](https://user-images.githubusercontent.com/77374876/147650422-f8ca612f-72b0-443c-8260-6a930f61a9f7.JPG)
![8](https://user-images.githubusercontent.com/77374876/1476504

[2021-12-29 10:07] Kunzetsov opened #122116 "[Canvas] Error overflow."
**Kibana version:** v8.1.0 (latest commit: https://github.com/elastic/kibana/commit/c89709a16c4a173d74b6e3805a6585015094972f)

**Browser version:**  Google Chrome Version 96.0.4664.110 (Official Build) (x86_64)

**Browser OS version:**  macOS Big Sur v11.6.1

**Original install method (e.g. download page, yum, from source, etc.):** from the source.

**Describe the bug:**  Error component at Canvas

[2021-12-29 10:07] elasticmachine commented on #122116
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-29 10:10] karanbirsingh-qasource opened #122117 "[Security Solution] User is able to create invalid script custom field causing alert page break with 404 error"
**Describe the bug**
User is able to create invalid script custom field causing alert page break with 404 error

**Build Details**
Version:8.0.0-SNAPSHOT
Commit:4a1d5698fb0a452e2eebb91483d584334eeeeb59
Build:48876

**Steps**
- Login to Kibana version 8.0.0-SNAPSHOT
- Navigate to Alert Page and create few of the custom runtime fields
- Now navigate to Data view
- search for the created fields with

[2021-12-29 10:10] elasticmachine commented on #122117
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-29 10:15] vadimkibana opened #122118 "Sharing context menu improvements"
![image](https://user-images.githubusercontent.com/82822460/147651393-708b2ef2-a3fd-43ed-9c45-b55f54afa332.png)

![image](https://user-images.githubusercontent.com/82822460/147651258-1a047966-9e26-436b-90cb-33dc24cca2bb.png)

Sharing context menu has initially been written at least 3 years ago and needs to be improved to support the latest Kibana features. Probably the best is to rewrite it from s

[2021-12-29 10:15] elasticmachine commented on #122118
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-29 10:25] manishgupta-qasource commented on #122117
Reviewed & assigned to @stephmilovic

CC: @MadameSheema

[2021-12-29 10:28] dikshachauhan-qasource opened #122120 "[Fleet] Icons for Add Integration is not consistent."
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Fleet > Policies tab.
- Create a new policy with with no integration added to it.
- Go to Policy detail page.

[2021-12-29 10:29] elasticmachine commented on #122120
Pinging @elastic/fleet (Team:Fleet)

[2021-12-29 10:44] kibanamachine commented on #106650
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6539#f91acdd9-bf1f-40a3-8017-4cadd55164e7)

[2021-12-29 11:04] julianacg opened #122121 "Kibana vega-lite xOffset does not work"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Browser version:** Firefox 91

**Describe the bug:**
The xOffset parameter is fully functional on vega-lite, and it's necessary to create basic graphs such as Grouped bar chart as shown [here](https://vega.github.io/vega-lite/examples/bar_grouped_repeated.html) and [here](https://vega.github.io/vega-lite/examples/bar_grouped.html). H

[2021-12-29 11:07] dej611 opened #122122 "[Visualize][XY] Percentile agg removes Y Axis from chart"
**Kibana version:** 7.16.2+

**Describe the bug:**

The Y Axis seems to disappear when the `Percentile` agg is chosen for the visualization.

**Steps to reproduce:**
1. Create a line chart with Visualize
2. Pick the `Average` agg of `bytes` (using the logs sample data)
3. Chart has Y Axis
4. Change the agg to `Percentile` of `bytes` and refresh the chart
5. 💥 Chart has no axis

**Expected behavior

[2021-12-29 11:07] elasticmachine commented on #122122
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-29 11:37] dikshachauhan-qasource opened #122123 "Bread crumb Beahvior is not Working Properly under Security>Investigate tab."
*Kibana version:**  8.0 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Security>Investigate tab.
- Click Timelines or cases.
- Observe, Current accessed page bread crumb is active.

[2021-12-29 11:43] dej611 commented on #122122
Traced back the bug to this PR which introduced it in 7.16.2: https://github.com/elastic/kibana/pull/121488

[2021-12-29 11:45] amolnater-qasource opened #122126 "[Fleet]: User is able to create same name integrations when copying an entire agent policy"
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agent Policies.
3. Create agent policy with name: `First`.
4. Duplicate this policy and observe `First (cop

[2021-12-29 11:45] elasticmachine commented on #122126
Pinging @elastic/fleet (Team:Fleet)

[2021-12-29 11:45] #119218 closed

[2021-12-29 11:54] elasticmachine commented on #122121
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-29 12:03] amolnater-qasource opened #122127 "[Fleet]: Unable to edit and upgrade same name integrations."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. Agent policy with System and lower version (v0.7.0) Nginx integration should be duplicated twice with changing names.
3. This will provide same name integrations.

**Steps to reprodu

[2021-12-29 12:03] elasticmachine commented on #122127
Pinging @elastic/fleet (Team:Fleet)

[2021-12-29 12:03] amolnater-qasource commented on #122126
@manishgupta-qasource Please review.

[2021-12-29 12:03] amolnater-qasource commented on #122127
@manishgupta-qasource Please review.

[2021-12-29 12:04] ghost opened #122128 "[Fleet]: Managed host is also counted while performing bulk actions."
**Describe the bug:**
Managed host is also counted while performing bulk actions.

**Build Details:**
Build Details:
VERSION: 8.0.0-SNAPSHOT
BUILD: 48868
COMMIT: a29e0164a4af4d3135910cac9e6caa4478af5f3b
ARTIFACT: https://snapshots.elastic.co/8.0.0-57ebd930/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
1. Navigate to

[2021-12-29 12:04] elasticmachine commented on #122128
Pinging @elastic/fleet (Team:Fleet)

[2021-12-29 12:04] samratbhadra-qasource commented on #122128
@manishgupta-qasource Please review.

[2021-12-29 12:05] manishgupta-qasource commented on #122126
Reviewed & mention to @kpollich

[2021-12-29 12:05] manishgupta-qasource commented on #122127
Reviewed & mention to @kpollich

[2021-12-29 12:05] elasticmachine commented on #122123
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-29 12:05] manishgupta-qasource commented on #122128
Reviewed & mention to @jen-huang

[2021-12-29 12:06] manishgupta-qasource commented on #122120
Reviewed & mention to @jen-huang

[2021-12-29 12:06] manishgupta-qasource commented on #122123
Reviewed & mention to @cnasikas

[2021-12-29 12:44] pburkholder commented on #101009
Hi -- it's been about 3 months, and a busy December. Any prospect of picking this up again in January?

[2021-12-29 13:46] kpatticha opened #122133 "[APM] Show legacy jobs toggle is off when there are multiple jobs (v2, v3)"
### Kibana version

v8.0.0

related: https://github.com/elastic/kibana/pull/119980

### Steps to Reproduce

https://user-images.githubusercontent.com/3369346/147669085-2946ec70-af80-4047-a763-5cc308e8a4b6.mov

### Expected Behavior
I expect the toggle to be on by default and display both legacy and new jobs until the user upgrades all the jobs.
imo, it might be confusing once someone creates a new

[2021-12-29 13:46] elasticmachine commented on #122133
Pinging @elastic/apm-ui (Team:apm)

[2021-12-29 14:15] kevinlog commented on #122106
@muskangulati-qasource @dasansol92 is this a regression?  Was there a back button before?

I think it makes sense to add one, but I want to understand if something broke here.

[2021-12-29 14:19] kpatticha opened #122134 "[ML] Unable to (re)start datafeed for an apm anomaly detection job"
**Kibana version:** 8.0

**Elasticsearch version:** 8.0

**Describe the bug:**
I created the job and it was running as expected. Then I stopped the datafeed and started it again
I got 200 once I started the datafeed but on refresh the job state is closed and the datafeed is stopped.
After following the above steps, there is a warning that "Datafeed look back retrieved no data"

**Steps to reproduc

[2021-12-29 14:24] Dosant opened #122135 "Customize panel time range display auto-refresh UI"
**Kibana version:** main (8.1)

**Describe the bug:**

Customize panel time range display auto-refresh UI.
We don't support per panel auto-refresh, so we shouldn't display that UI:

![Screen Shot 2021-12-29 at 15 16 56](https://user-images.githubusercontent.com/7784120/147671655-427e7001-ee4b-48f9-bd61-a900f4a1fc9c.png)

**Steps to reproduce:**
1. Go to dashboard
2. Pick a panel and select "custom

[2021-12-29 14:24] elasticmachine commented on #122135
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-29 14:30] kpatticha opened #122136 "[APM] Anomaly detection job status badges"
nitpicking here
Related to #119980

according to the design we should display `Stopped` badge when the ML job is `opened` and datafeed state is `stopped`

| ML job state  | ML datafeed state  | Job status |
| ------------- | ------------- | ------------- |
| Open  | Started  | OK |
| Open  | Stopped  | Stopped |
| Closed  | Stopped  | Closed |
<br class="Apple-interchange-newline">

https://user-i

[2021-12-29 14:31] elasticmachine commented on #122136
Pinging @elastic/apm-ui (Team:apm)

[2021-12-29 14:32] elasticmachine commented on #122036
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-29 14:32] elasticmachine commented on #122049
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-29 14:36] elasticmachine commented on #122036
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-29 14:36] elasticmachine commented on #122031
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-29 14:37] elasticmachine commented on #122025
Pinging @elastic/uptime (Team:uptime)

[2021-12-29 14:38] elasticmachine commented on #121795
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-29 14:39] elasticmachine commented on #122005
Pinging @elastic/ml-ui (:ml)

[2021-12-29 14:39] kibanamachine opened #122137 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/canvas/reports·ts - Canvas app Canvas PDF Report Generation Print PDF button downloaded PDF base64 string is correct with borders and logo"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6553#15ae32cc-4fd7-43c6-9405-7b9f900f9fb0)

[2021-12-29 14:39] elasticmachine commented on #122001
Pinging @elastic/apm-ui (Team:apm)

[2021-12-29 14:39] elasticmachine commented on #121978
Pinging @elastic/kibana-security (Team:Security)

[2021-12-29 14:40] elasticmachine commented on #121883
Pinging @elastic/kibana-core (Team:Core)

[2021-12-29 14:45] azasypkin commented on #121978
I assume it should have been handled by https://github.com/elastic/kibana/pull/122062 (merged to 8.0 yesterday).

[2021-12-29 14:45] #121978 closed

[2021-12-29 14:56] lukeelmers commented on #121864
Hm, I'm not reproducing this with the `kibana-7.16.2-darwin-x86_64` build on Big Sur, but I don't have a machine with Monterey on hand to test. It worked for me even if I disallowed apps from unidentified developers.

cc @elastic/kibana-operations

[2021-12-29 15:06] lukeelmers commented on #121785
For Cloud users, this URL is dynamically set by the cloud plugin, which is what we'd need to change:
https://github.com/elastic/kibana/blob/cf8ab3bb119672b93904286a7e3844b2ed0b5c38/x-pack/plugins/cloud/common/constants.ts#L8

For on-prem users, it will fall back to the Ask Elastic product page:
https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/core/public/chrome/c

[2021-12-29 15:07] elasticmachine commented on #121785
Pinging @elastic/kibana-core (Team:Core)

[2021-12-29 15:27] elasticmachine commented on #121750
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-29 15:32] elasticmachine commented on #121604
Pinging @elastic/kibana-security (Team:Security)

[2021-12-29 15:37] lukeelmers commented on #120383
cc @elastic/shared-ux

[2021-12-29 15:38] lukeelmers commented on #112109
cc @elastic/shared-ux

[2021-12-29 15:39] elasticmachine commented on #122137
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-29 15:42] brianseeders commented on #106650
/skip

[2021-12-29 15:42] kibanamachine commented on #106650
Skipped

main: 496897142f3a7221aa51da736dc5dbbf20542aaf
8.0: 91779ec7e4f13f87600d7799107132f0dd08967e

[2021-12-29 16:33] jportner commented on #121604
Hi @Ale0x78, thanks for contributing!

In the future I'd ask that you report suspected vulnerabilities to security@elastic.co, as outlined in our Security Policy: https://github.com/elastic/kibana/blob/main/SECURITY.md

At any rate, I don't believe there are any exploitable vulnerabilities here. The commit you're referring to (which is included in `elastic/github-actions/project-assigner@v2.1.1`)

[2021-12-29 16:38] ThomThomson commented on #122036
This is a feature we can add to our roadmap for the new version of Controls!

[2021-12-29 16:50] jrykowski-huron commented on #122036
Reviewing that it didn't seem to clearly include feature to dynamically filter the initial dropdown list based on KQL.   Hopefully that'll be a thing with the new.    Also that seems for 8.x?   It'd be quite awhile before our organization would endeavor to upgrade to next Major release (a Minor 7.x release however... is more likely to occur).

[2021-12-29 16:56] ThomThomson commented on #120035
We can consider adding functionality to locally filter individual controls to allow users to narrow which options are shown in the control. This could be accomplished in the generic control editor because we know all controls can inherit filters, query and time range from the  dashboard. See [this issue](https://github.com/elastic/kibana/issues/122036) for more info

[2021-12-29 16:59] ThomThomson commented on #122036
Hey @jrykowski-huron. The earlier linked PR was part of Phase I of the controls project, which is now complete. Phase one did not include the ability to write queries to narrow down the options on individual controls. Work is beginning on Phase II, and I have linked this issue [there](https://github.com/elastic/kibana/issues/120035) so we don't lose track of it.

The new controls are targeted for

[2021-12-29 17:06] andrerca12 commented on #122103
I can't update Kibana because we use logtrail plugin and its not compatible with version 7.10+.
In my Linux environment it's working perfectly with updated Elastic, this issue is only in Windows environment

[2021-12-29 17:08] #121604 closed

[2021-12-29 17:21] emilioalvap commented on #121653
PostFF LGTM.

Steps I've taken to test:
1. Created a new deployment in stage, `v8.0.0-SNAPSHOT`.
2. Loaded data using es_archiver package:
![image](https://user-images.githubusercontent.com/95703246/147686962-dd5dc239-cc94-4798-ad2a-43f039ebc17a.png)
3. Checked that documents are indexed:
![image](https://user-images.githubusercontent.com/95703246/147687150-0ff77865-b496-4121-8d14-2e6730c472d1.png

[2021-12-29 17:38] emilioalvap commented on #119989
PostFF LGTM.

Steps I've taken to test:
1. Created a CCS cluster on `dev-oblt`.
2. Started a Kibana `v8.0.0-SNAPSHOT` docker container (image id `000a076d53e6`) locally.
3. Navigated to Uptime -> Explore data.
4. Removed default series.
5. Selected `Core web vitals` Report type.
6. Added a new series, selected **User experience (RUM)** as data type and **Largest contentfult paint** as report metri

[2021-12-29 18:13] kibanamachine commented on #121630
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6561#b96f376a-262a-4535-be51-b6a6cc93bd54)

[2021-12-29 20:08] jportner opened #122146 "Telemetry plugin is crashing functional test server"
**Kibana version:**

I am experiencing this on the `main` branch (HEAD: 6185ddc94f9c1e93a4c4eb5a9f34336adce6b028).

**Describe the bug:**

I noticed this behavior starting a few weeks ago, though admittedly I haven't attempted to run functional tests locally for several months, so I'm not sure when this started.

**Steps to reproduce:**

It appears that this error happens during the SO migration p

[2021-12-29 20:08] elasticmachine commented on #122146
Pinging @elastic/kibana-core (Team:Core)

[2021-12-29 21:17] kpatticha commented on #78764
I've just encountered it. The environment selector seems less useful and the ui experience is not great :(
@sqren I see the ticket is quite old, does it require a lot effort to make them persistent?

[2021-12-29 21:36] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6572#d9d26d16-3c6f-4958-9d7e-5327b15b9ce0)

[2021-12-29 22:09] tsullivan commented on #98008
Closing this as the issue is stale, the test is not skipped, and no further failures were logged

[2021-12-29 22:09] #98008 closed

[2021-12-29 22:11] tsullivan commented on #95011
Closed via #121903

[2021-12-29 22:11] #95011 closed

[2021-12-29 22:19] lukeelmers commented on #122146
Added [a note](https://github.com/elastic/kibana/pull/122148#pullrequestreview-841639390) on the PR, but after multiple attempts I am unable to reproduce this. Would be interested to see if anyone else can.

[2021-12-29 22:45] tsullivan commented on #121044
Can not reproduce.

Ran the test with:
[code]

in the 8.0 branch.

[2021-12-29 22:47] vladpro25 commented on #114752
Hello everyone!
We tried to reproduce this problem on different operating systems, and everything was unsuccessful. Syntax highlighting for triple quotes in Dev Tools is working correctly and as expected. Below I will attach a photo of the screens.
So I close this issue. If you can reproduce it again in the future, then please open this issue again and mention me. Thank you.

![New Project](https:

[2021-12-29 23:02] tsullivan commented on #97904
This is no longer applicable after a round of fixes in screenshot capture, and the UX on presenting errors in the Reporting management pages: #103561 #120617 #118186

[2021-12-29 23:02] #97904 closed

[2021-12-29 23:04] tsullivan commented on #30495
Replacing with https://github.com/elastic/kibana/issues/29281

[2021-12-29 23:04] #30495 closed

[2021-12-29 23:30] jportner opened #122149 "Copying saved objects misses some "inexact match" origin conflicts"
### Background info

When importing or copying a multi-namespace saved object, Kibana checks if there are any existing objects with the same _origin_. An existing object might not have the same ID as the one being imported, but if they have the same _origin_, we treat this as a conflict (that can be overwritten). This preserves "pseudo-copy" functionality, so you can import/copy an object into a s

[2021-12-29 23:30] elasticmachine commented on #122149
Pinging @elastic/kibana-security (Team:Security)

[2021-12-29 23:35] kibanamachine commented on #122137
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6578#837e2776-054d-4433-b0a6-6749e9415611)

[2021-12-30 04:50] amolnater-qasource opened #122150 "[Fleet]: New version AWS integration modules gets enabled itself on upgrade page causing conflicts for AWS integration."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. AWS integration version `0.10.4` should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add AWS-Dynamodb `v0.10.4` integration to a policy.
3. Navigate to E

[2021-12-30 04:50] elasticmachine commented on #122150
Pinging @elastic/fleet (Team:Fleet)

[2021-12-30 04:50] amolnater-qasource commented on #122150
@manishgupta-qasource Please review.

[2021-12-30 05:45] samratbhadra-qasource commented on #122106
Hi @kevinlog

We have validated on 7.16.2 environment & found that the issue also occurring. Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/147722453-b3784416-c053-4680-b8b6-2c0ec56d2ea7.mp4

This is not regression issue, its existing issue. Please let us know if anything else is required from our end.
Tha

[2021-12-30 05:45] manishgupta-qasource commented on #122150
Reviewed & mention to @kpollich

[2021-12-30 06:03] deepikakeshav-qasource opened #122151 "[Security Solution] Deleted/edited runtime field is retain under alert table"
**Describe the bug**
Deleted/edited runtime field is retain under alert table

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Alerts should be generated
3. Run time field should be created under alert tab of security

**Steps to Reproduce**
1. Navigate to data view tab
2. Delete the create runtime field under data view
3. Nav

[2021-12-30 06:03] elasticmachine commented on #122151
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-30 06:44] samratbhadra-qasource commented on #121735
Hi @kevinlog,

We have tested this ticket on the latest 8.0.0-SNAPSHOT build & found that issue is now **fixed**. Please find below the testing details:

**Build Details**:
[code]

**Screen-Recording**

https://user-images.githubusercontent.com/84007952/147727863-3da01a2d-54a4-4e53-bc00-f719fd5ddb34.mp4

Hence, closing this issue and marking it as "Validated".

Thanks!

[2021-12-30 06:44] #121735 closed

[2021-12-30 06:49] amolnater-qasource opened #122152 "[Fleet]: Wrong breadcrumb on Upgrade integration page when navigated from Integrations>Nginx>Policies>Upgrade."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. Nginx integration version `0.7.0` should be available and added to a policy.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agent Policies>Policy>Upgra

[2021-12-30 06:49] elasticmachine commented on #122152
Pinging @elastic/fleet (Team:Fleet)

[2021-12-30 06:50] amolnater-qasource commented on #122152
@manishgupta-qasource Please review.

[2021-12-30 06:51] karanverma-qasource opened #122153 "[Security Solution] Tool tip is missing for actions under Request and Response tab when we click on Inspect icon."
**Describe the bug:**
Tool tip is missing for actions i.e. Full screen and Copy to clipboard under Request and Response tab when we click on Inspect icon.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Overview tab under security module.
2. Click on inspect icon

[2021-12-30 06:51] elasticmachine commented on #122153
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-30 07:32] manishgupta-qasource commented on #122152
Reviewed & mention @kpollich

[2021-12-30 07:41] kibanamachine commented on #119413
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6602#fd39a97d-62e9-486b-b07b-3ce1767ff35c)

[2021-12-30 08:19] ghost opened #122156 "[Security Solution]Timelines can be searched with OR operator without adding it to "or" quotes , or enclose words in parenthesis."
**Describe the bug**
Timelines can be searched with OR operator without adding it to "or" quotes , or enclose words in parenthesis.

**Build Details:**
Version:8.0.0 snapshot
Build: 48885
Commit: 1d979d187ec0a21940b3aed9ab2f9659bb91c6f2

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running.

**Steps to Reproduce**
1. Different tim

[2021-12-30 08:19] elasticmachine commented on #122156
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-30 08:23] deepikakeshav-qasource opened #122157 "[Fleet]:Wrong navigation when create or change the policy from integration."
**Describe the bug**
Wrong navigation when create or change the policy from integration.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot

**Steps to Reproduce**
1. Navigate to Fleet tab under management
2. Click on policy tab
3. Click on default policy and click on add integration button
4. Select endpoint security integration a

[2021-12-30 08:23] elasticmachine commented on #122157
Pinging @elastic/fleet (Team:Fleet)

[2021-12-30 08:26] deepikakeshav-qasource commented on #122157
@manishgupta-qasource Please review!!

[2021-12-30 08:42] manishgupta-qasource commented on #122157
Reviewed & mention @kpollich

CC: @jen-huang

[2021-12-30 08:58] julianacg commented on #122121
Nevermind, it seems xOffset for encoding was added on vega-lite 5.2. and kibana is using 5.0. Are there any plans to upgrade the version?

[2021-12-30 09:40] gmmorris commented on #113747
Thanks Yuliia!

Some thoughts for the re-triage of this issue:

1. It sounds like we might have some "telemetry hygiene" to do here. An error fetching the stats from ES shouldn't send misleading telemetry - better to skip sending telemetry all together at that point I think.
2. It sounds like items (1) and (2) have been addressed, and (3) would be addressed by the telemetry hygiene. Are there any

[2021-12-30 10:15] karanverma-qasource opened #122161 "[Security Solution] Create Field is enabled for custom user having READ access of data view management."
**Describe the bug:**
Create Field is enabled for custom user having READ access of data view management.

**Kibana/Elasticsearch Stack version:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Alerts should be present.

**Steps to Reproduce**

1. Create a role with below information:
![image](https://user-images.githubusercontent.com/918

[2021-12-30 10:15] elasticmachine commented on #122161
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-30 11:11] #111893 closed

[2021-12-30 11:43] jsanz commented on #122031
Hi @pGarrabos I'm afraid I could not reproduce, I created the same indices, added data, created index patterns, and Maps can load both indices correctly

![Peek 2021-12-30 12-37](https://user-images.githubusercontent.com/188264/147748719-f2817e4d-b744-4999-8109-9ffcffa59bb2.gif)

You can debug the layer in the `Inspect` option of the top right bar and check there the request and response to see if

[2021-12-30 12:35] gmmorris commented on #121762
Thanks @chrisronline
Can we split this issue out into two:

1. A Meta issue for the broad set of questions we want to explore
2. A more focused issue, which we can include in the _In Progress_ column, specifying exactly what questions we want to explore first? As discussed synchronously, lets identify the top 2 or 3 quick wins that we want to tackle in the time remaining for 8.1.

Thanks!

[2021-12-30 12:50] gmmorris commented on #87048
While the RFC is in review, the engineering work is still yet to be done.
Moved back to _In Progress_, as this has been flagged as confusing.

[2021-12-30 13:52] MiriamAparicio commented on #122133
Hi @kpatticha ,
One of the specifications was:
_In the list, we should display only v3 jobs by default, except when there are no v3 jobs, then we should also display v2 jobs. There's a toggle for the user to change this setting. **The change is not persisted in the URL or local storage.**_

So, I don't think this behaviour is a bug, maybe @dgieselaar can confim

[2021-12-30 13:54] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6615#f9324601-7e32-4b07-b21d-5436a984b2cc)

[2021-12-30 13:54] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6615#f9324601-7e32-4b07-b21d-5436a984b2cc)

[2021-12-30 13:54] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6615#f9324601-7e32-4b07-b21d-5436a984b2cc)

[2021-12-30 13:54] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6615#f9324601-7e32-4b07-b21d-5436a984b2cc)

[2021-12-30 14:20] Dosant opened #122168 "Sibling pipeline aggregation displays irrelevant bucket aggregations"
**Kibana version**: main (8.1), some of them probably before

**Steps to reproduce**:
 1. Go to visualize editor and use one of pipeline sibling aggregations
 2. Check suggested bucket aggregations
 3. See irrelevant (some of them are newly added) aggregations:  `Sampler` `Diversified Sampler` `Multi-term` and `Filter` which aren't working in that context

![Screen Shot 2021-12-30 at 15 10 50](htt

[2021-12-30 14:20] elasticmachine commented on #122168
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-30 14:20] elasticmachine commented on #122168
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-30 14:28] #122135 closed

[2021-12-30 15:59] weltenwort commented on #116045
This is a jest test and looks like it was caused by the performance inconsistencies we saw during the migration to buildkite. Closing for now.

[2021-12-30 15:59] #116045 closed

[2021-12-30 15:59] weltenwort commented on #116785
This is a jest test and looks like it was caused by the performance inconsistencies we saw during the migration to buildkite. Closing for now.

[2021-12-30 15:59] #116785 closed

[2021-12-30 15:59] weltenwort commented on #115576
This is a jest test and looks like it was caused by the performance inconsistencies we saw during the migration to buildkite. Closing for now.

[2021-12-30 15:59] #115576 closed

[2021-12-30 16:01] BenB196 opened #122170 "[Lens] Table Allow for Filtering of Rows on the string Column Value(s)"
**Describe the feature:**

With rows in Lens table, it is currently only possible to filter via an Elasticsearch filter. This has a downside of not being able to filter by the generated column values. It would be nice if you could add filters directly to tables after they have been constructed.

(I recognize that this might enter the realm of multi-part queries if you only use ES, which from my un

[2021-12-30 16:40] elasticmachine commented on #122170
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-30 16:47] dej611 commented on #105686
This should be fixed by #119165

[2021-12-30 17:36] vladpro25 commented on #15156
Hello everyone!
We tried to reproduce this problem on different operating systems, and everything was unsuccessful.
I followed the instructions given by @robin13.

So I close this issue. If you can reproduce it again in the future, then please open this issue again and mention me. Thank you.

[2021-12-30 17:36] #15156 closed

[2021-12-30 17:41] Mpdreamz opened #122172 "Extend kbn-test so that testEnvironment: node can be set"
Right now `@kbn-test` assumes the tests are all run under the `jsDom` context.

Sometime you want to force `node` however if you are strictly testing server functionality.

E.g the Elastic javascript client uses node10+ specific functionality which is not available under `jsDom`

See: https://github.com/elastic/elasticsearch-js/issues/1272

Getting the following error currently:

[code]

When tryi

[2021-12-30 17:43] vladpro25 commented on #95285
Hello everyone!
This issue is no longer reproducible. I tested it on different devices and operating systems.
I'm closing this problem, but if you suddenly find this problem again, then reopen this problem and mention me. Thank you.

[2021-12-30 17:43] #95285 closed

[2021-12-30 18:37] muneebsajjad commented on #121655
@justinkambic  since kibana 8.1 is not released,  how can I add `heartbeat-8.1.0-darwin-x86_64.tar.gz `? Which I assume is required to add a monitor, pardon me if  I am  looking in the wrong direction. Can you guide/point me in the right direction.

[2021-12-30 19:10] #109898 closed

[2021-12-30 19:49] kpatticha commented on #122133
@MiriamAparicio thanks for the clarification, I totally missed it.
I opened the ticket mainly because I found it odd as a user to "lose" from the view all the v3 jobs.

Please feel free to close it

[2021-12-30 22:56] tylersmalley commented on #121864
@hktalent can you confirm that you downloaded this from https://www.elastic.co/downloads/kibana? I have not seen this particular issue before (`library load disallowed by system policy`) - do you have some special policies set up?

[2021-12-31 01:52] hktalent commented on #121864
I re-downloaded the 7.16.2 version, and it’s okay now, thank you
@tylersmalley
@lukeelmers

[2021-12-31 01:52] #121864 closed

[2021-12-31 02:12] hktalent commented on #121864
<img width="1355" alt="image" src="https://user-images.githubusercontent.com/18223385/147799119-1ad5be13-94d5-41fe-978b-3dab279b6966.png">
Perfect

[2021-12-31 05:49] deepikakeshav-qasource opened #122178 "[Security Solution] Resolver is displayed when navigate from open state tab to closed or acknowledged state"
**Describe the bug**
Resolver is displayed when navigate from open state tab to closed or acknowledged state

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Alert should be generated

**Steps to Reproduce**
1. Navigate to Alerts tab under security
2. Click on resolver icon to open the resolver
3. Now click on closed or acknow

[2021-12-31 05:50] elasticmachine commented on #122178
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-31 06:18] amolnater-qasource opened #122179 "[Fleet]: `There are no logs to display` message is aligned to top on 8.1-Snapshot"
**Kibana version:**  8.1 Snapshot Kibana cloud environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.1 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Navigate to Hosted Fleet Server>Logs tab.
4. Observe `There are no logs to display` message is

[2021-12-31 06:18] elasticmachine commented on #122179
Pinging @elastic/fleet (Team:Fleet)

[2021-12-31 07:25] muskangulati-qasource opened #122180 "[ Enhancement ] There should not be a button from the Trusted Apps to assign new trusted application to the policy when there is no trusted application to add"
**Describe the feature:**
There should not be a button from the Trusted Apps to assign new trusted application to the policy when there is no trusted application to add

**Describe a specific use case for the feature:**
The empty UI does not show a button to assign any trusted app when there is no trusted application created

**Screen Recording:**

https://user-images.githubusercontent.com/6025271

[2021-12-31 07:25] elasticmachine commented on #122180
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-31 07:25] muskangulati-qasource commented on #122180
@manishgupta-qasource please review!

[2021-12-31 08:00] muskangulati-qasource opened #122181 "[Fleet] The policy id for default policy is showing as 'undefined' when clicking to filter"
**Description:**
The policy id for default policy is showing as 'undefined'.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. An agent with the default policy should be deployed.

**Steps to Reproduce:**
1. Navigate to the Fleet tab under management section
2. Go to the agent policies and click on the agent count displayed for the defa

[2021-12-31 08:00] elasticmachine commented on #122181
Pinging @elastic/fleet (Team:Fleet)

[2021-12-31 08:01] muskangulati-qasource commented on #122181
@manishgupta-qasource please review!

[2021-12-31 08:01] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6676#7323a7f0-e375-452e-9c32-bb28231f7d77)

[2021-12-31 08:10] deepikakeshav-qasource commented on #119418
Hi @machadoum ,

We have validated this issue on **7.17.0 SNAPSHOT and 8.0.0 SNAPSHOT** and observed that issue is **still occurring**. Please find the below details:

# 7.17.0 SNAPSHOT

**Build Details:**
[code]

**Screen record:**

https://user-images.githubusercontent.com/61860752/147811410-ee22512c-7478-4c15-8dab-445374662e58.mp4

# 8.0.0 SNAPSHOT

**Build Details:**
[code]

**Screen record:**

[2021-12-31 08:25] samratbhadra-qasource opened #122182 "On editing custom or default created space the available feature count is not visible for security."
**Describe the bug:**
On editing custom or default created space the available feature count is not visible for security.

**Build Details:**
VERSION: 7.17.0-SNAPSHOT
BUILD: 46363
COMMIT: 25a4c8fdd78971cf1bed342086bee4fee6d145de
ARTIFACT: https://snapshots.elastic.co/7.17.0-4c03db4e/summary-7.17.0-SNAPSHOT.html

**Preconditions:**
Elastic 7.17.0-SNAPSHOT environment should be deployed.

**Steps to

[2021-12-31 08:25] samratbhadra-qasource commented on #122182
@manishgupta-qasource Please review.

[2021-12-31 08:40] manishgupta-qasource commented on #122180
Reviewed & assigned to @kevinlog

[2021-12-31 08:40] manishgupta-qasource commented on #122181
Reviewed & mention to @mostlyjason

[2021-12-31 08:42] manishgupta-qasource commented on #122182
Reviewed & mention to @joshdover

[2021-12-31 08:45] samratbhadra-qasource opened #122183 "[Security Solution]:User is able to add values for path/signature/hash twice in the same trusted applications , but only the 2nd value is saved in entry."
**Describe the bug:**
User is able to add values for path/signature/hash twice in the same trusted applications , but only the 2nd value is saved in entry.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD:  48885
COMMIT: 1d979d187ec0a21940b3aed9ab2f9659bb91c6f2
ARTIFACT: https://snapshots.elastic.co/8.0.0-b0d1c470/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment

[2021-12-31 08:45] elasticmachine commented on #122183
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-31 08:45] elasticmachine commented on #122183
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-31 08:45] samratbhadra-qasource commented on #122183
@manishgupta-qasource Please review.

[2021-12-31 08:53] sagarnagpal-qasource opened #122184 "No user friendly messages for Fleet Server Host URL field"
Kibana version: v8.0.0 snapshot Kibana cloud-staging environment
Browser version: Chrome
Host OS: n/a

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
BUILD 48887
COMMIT 07a1d44b4936ca9da8e6cae10c3b4b53c5d9d7d8

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Steps to reproduce:**
1. Login

[2021-12-31 08:54] elasticmachine commented on #122184
Pinging @elastic/fleet (Team:Fleet)

[2021-12-31 08:57] manishgupta-qasource commented on #122183
Reviewed & assigned to @kevinlog

[2021-12-31 09:09] manishgupta-qasource commented on #122184
Reviewed & mention to @kpollich & @nchaulet

[2021-12-31 09:29] yelexin commented on #112094
I think it's best we validate the nameid_format attribute if it is configured. If the value of this attribute is incompatible with SAML2, Elasticsearch gives warning log. Actually I didn't notice that I misconfigured the nameid_format attribute and forgot it at all.

[2021-12-31 10:37] #121291 closed

[2021-12-31 10:59] karanverma-qasource opened #122186 "[Security Solution] Custom user is able to create case by Importing it when it has READ access to cases tab."
**Describe the bug:**
Custom user is able to create case by Importing it when it has READ access to cases tab.

**Kibana/Elasticsearch Stack version:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. An exported Case file should be there.

**Steps to Reproduce**

1. Create a role with below information:
![image](https://user-images.githubu

[2021-12-31 10:59] elasticmachine commented on #122186
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-31 11:17] muskangulati-qasource opened #122187 "[Security Solution] The cross icon is not showing for top kibana alerts modal for rule name under the alerts tab details flyout"
**Description:**
The cross icon is not showing for top kibana alerts modal for rule name under the alerts tab details flyout

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to the Alerts tab under Security section
2. Expand the alert details and in the look in for the rul

[2021-12-31 11:17] elasticmachine commented on #122187
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-31 11:17] muskangulati-qasource commented on #122187
@karanbirsingh-qasource please review!

[2021-12-31 11:18] azasypkin commented on #112094
Okay, let me rename the issue to better reflect the request and transfer it to the Elasticsearch repository.

By the way, ES Security team pointed out to the 2.2.2 section of the SAML 2.0 spec that says:

That means that using `urn:oasis:names:tc:SAML:2.0:attrname-format:basic` or other custom values not defined in the spec is _technically_ allowed even though it doesn't make sense most of the tim

[2021-12-31 11:22] academo commented on #122183
@paul-tavares @dasansol92 I can confirm this used to be validated in 7.16. This is a screenshot of a test with a 7.16 snapshot:

![image](https://user-images.githubusercontent.com/227916/147820708-dacb4c43-17c7-4f24-a40d-ab07572749fa.png)

[2021-12-31 11:31] kibanamachine commented on #111667
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6688#6da8a397-34d0-4ca0-af92-3243f7b3fcf4)

[2021-12-31 11:40] karanverma-qasource opened #122190 "[Security Solution] READ icon is missing and Import and Export buttons are enabled under saved objects management when custom user has READ access of it."
**Describe the bug:**
READ icon is missing and Import/Export buttons are enabled under saved objects management when custom user has READ access of it.

**Kibana/Elasticsearch Stack version:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Create a role with below information:
![image](https://user-images.githubus

[2021-12-31 11:40] elasticmachine commented on #122190
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-31 12:46] bhavyarm opened #122191 "Discover isn't displaying decimal values of fields with long type value"
**Kibana version:** 7.16.0

**Elasticsearch version:** 7.16.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Discover isn't displaying decimal values of long type value.

Here is what I ingested in dev tools:

[code]
[code]

And thi

[2021-12-31 12:46] elasticmachine commented on #122191
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-31 12:47] elasticmachine commented on #122191
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-31 13:07] manishgupta-qasource commented on #122179
Reviewed and mention to @kpollich

[2021-12-31 13:09] gmmorris commented on #113747
I'm wondering if there's an easier/better way to add these dynamic values that won't require us to add mappings every time?
Any thoughts @elastic/kibana-alerting-services ?

[2021-12-31 13:32] simitt opened #122192 "APM Integration UI ignores customized configuration values and fails to disable RUM"
**Kibana version**: `7.16`

**Description of the problem including expected versus actual behavior**:
Several (most certainly related) problems can be observed with the APM Integration Editor:

(1) The APM Integration Editor ignores configured values for `bool` types
For example, whether or not `Enable RUM`, `Capture personal data`, etc is enabled or disabled is ignored. Instead the UI always show

[2021-12-31 15:27] klacabane commented on #121346
Update on the nested path - it turns out we can't alias nested properties. It seems that the way to write queries that fetch both legacy `logstash_stats.pipelines` and metricbeat `logstash.node.stats.pipelines`  is to write two aggregations, one for each path ([see pipelines_nested and pipelines_nested_mb](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/logstash/ge

[2021-12-31 18:46] rful011 opened #122195 "Kibana dev tools does not use NOPOXY environment setting"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2021-12-31 19:07] rful011 commented on #122195
not sure what happened here ?? so adding details in comment

Kibana version: 7.16.2

Elasticsearch version:7.16.2

Server OS version:ubunutu 20.04

Browser version:  chrome

Browser OS version:  Mac OS

Original install method (e.g. download page, yum, from source, etc.): apt

Describe the bug: The server uses a proxy to access public internet via the standard environmental variables.  It also has

[2021-12-31 19:49] kibanamachine opened #122197 "Failing test: Jest Tests.x-pack/plugins/security/public/management/users/edit_user - EditUserPage warns when viewing deprecated user"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6711#8d0387d9-7d4d-4815-a92c-066d0aab4d0e)

[2021-12-31 22:55] hilt86 commented on #110746
any updates on this one? Threema now have a desktop app so this would be super useful!

[2022-01-01 03:37] kibanamachine commented on #122137
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6738#0f86e51a-07b4-4c30-80b1-473a354db485)

[2022-01-01 06:05] kibanamachine commented on #118432
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6746#b6e105e7-a0ce-4d22-a863-26648cf87b05)

[2022-01-01 07:52] kibanamachine commented on #116059
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6750#b2399430-ccf2-4914-bd02-8fb462e0e1f5)

[2022-01-01 12:38] hamidasgarian opened #122200 "Unable to revive connection: http://elasticsearch:9200/""
cat statefulset.yml
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: logging
spec:
  serviceName: elasticsearch
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:7.

[2022-01-01 17:02] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6779#c5975efc-cef6-4b4c-90c2-dd5cac0db44a)

[2022-01-01 18:53] search-tool commented on #62115
Hi @ThomThomson , however your second edit is a valid statement. I think there are situations where this is realy nescsary, for example within metricbeat there are loads of different kind of servers and event.type combinations. I for one wanted a list of host.hostnames with an event.type of mssql  but i get a list of all the hosts within metricbeat index. you cannot define a clear subset of stuff

[2022-01-01 22:05] kibanamachine commented on #59234
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6792#d14905d0-370e-4452-a613-459b777b6f1d)

[2022-01-02 10:40] najmieh commented on #122043
@elasticmachine  This issue here is closed?   https://github.com/elastic/eui/blob/91b416dcd51e116edb2cb4a2cac4c306512e28c7/src-docs/src/views/steps/steps_example.js

From what I see the font size differs here: https://elastic.github.io/eui/#/navigation/steps

[2022-01-02 12:37] kibanamachine commented on #122137
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6839#590ed97b-9d67-4a82-9e63-bd19b4450e72)

[2022-01-02 12:46] kibanamachine commented on #116561
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6838#2b220026-1d05-49a1-989e-44cd326ef18c)

[2022-01-02 13:49] kibanamachine opened #122201 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/time_shift·ts - lens app time shift should show an error if terms is used and provide a fix action"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6842#349e80c0-8f35-4660-83ec-e31248f7c4f9)

[2022-01-02 13:52] kibanamachine commented on #118488
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6842#a23c2cb7-9c71-4d11-9415-d4adcdcbf9f8)

[2022-01-03 04:03] kibanamachine commented on #111381
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6883#acb006f1-d101-4839-9f3a-f38e1a0bfc0a)

[2022-01-03 06:06] shubhamkanwar-qasource commented on #121616
Hi @cnasikas

We validated this issue on latest **8.0.0 snapshot** build and and observed that issue is **Fixed**.

**Build Details:**
[code]

**Screen-Recording**

https://user-images.githubusercontent.com/91191307/147902584-ec47b7b9-6d0f-442d-8951-24bf8b406a50.mp4

Hence, We are closing this ticket and marking as QA Validated.

Thanks!

[2022-01-03 06:46] #121616 closed

[2022-01-03 06:49] amolnater-qasource opened #122202 "[Fleet]: Screenshots column is broken under integration overview page."
**Kibana version:**  8.1 Snapshot Kibana cloud environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.1 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations>Apache integration.
3. Observe screenshots column is broken under overview page.

**Screenshot:**
![1](

[2022-01-03 06:49] elasticmachine commented on #122202
Pinging @elastic/fleet (Team:Fleet)

[2022-01-03 06:50] amolnater-qasource commented on #122202
@manishgupta-qasource Please review.

[2022-01-03 06:57] manishgupta-qasource commented on #122202
Reviewed & mention to @kpollich

[2022-01-03 07:13] muskangulati-qasource opened #122204 "[Security Solution] The Host Isolation Exceptions tab shows UI to add a new entry when search is performed for non-existing entries"
**Description:**
The Host Isolation Exceptions tab shows UI to add a new entry when search is performed for non-existing entries

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Host Isolation Exception tab under Manage Section of Security from the left hand side navigation
2. Add any entry to t

[2022-01-03 07:13] elasticmachine commented on #122204
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 07:13] elasticmachine commented on #122204
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-01-03 07:13] muskangulati-qasource opened #122205 "[Security Solution] The Windows 11 is showing as Windows 10 under Hosts tab"
**Description:**
The Windows 11 is showing as Windows 10 under Hosts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Windows 11 should be installed on the Kibana

**Steps to Reproduce:**
1. Navigate to the Host tab under the Security section from the left hand side navigation
2. Observe the version for the Windows 11

**Impacted T

[2022-01-03 07:13] elasticmachine commented on #122205
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 07:13] muskangulati-qasource opened #122206 "[Fleet] [Bug] If an agent is upgraded while in unhealthy state, its status is stuck at updating but the banner shows as unhealthy"
**Description:**
If an agent is upgraded while in unhealthy state, its status is stuck at updating but the banner shows as unhealthy

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Mac Agents with 8.0.0 artifacts should be installed on 8.1.0 and should be having unhealthy state

**Steps to Reproduce:**
1. Navigate to the Fleet tab fro

[2022-01-03 07:13] elasticmachine commented on #122206
Pinging @elastic/fleet (Team:Fleet)

[2022-01-03 07:13] muskangulati-qasource commented on #122206
@manishgupta-qasource please review!!

[2022-01-03 07:13] muskangulati-qasource commented on #122206
@manishgupta-qasource please review!!

[2022-01-03 07:14] muskangulati-qasource commented on #122205
@manishgupta-qasource please review!!

[2022-01-03 07:14] muskangulati-qasource commented on #122204
@manishgupta-qasource please review!!

[2022-01-03 07:21] karanbirsingh-qasource opened #122207 "[Security Solution]Hide Bottom Timeline for `Security privilege none and Case All` custom user role"
**Describe the bug**
Hide Bottom Timeline for `Security privilege none` and `Case All `custom user role

**Build Details**
[code]

**Steps**
- Login to Kibana version 8.0.0-SNAPSHOT
- Navigate to Stack Management > Role
- create a Role with below configuration
   - `Security : None`
   - `All other application : All`
- assign above role to a user and login with that
- login with above user and nav

[2022-01-03 07:21] elasticmachine commented on #122207
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 07:21] manishgupta-qasource commented on #122204
Reviewed & assigned to @kevinlog

[2022-01-03 07:22] manishgupta-qasource commented on #122205
Reviewed & assigned to @stephmilovic

[2022-01-03 07:23] manishgupta-qasource commented on #122206
Reviewed & assigned to @mostlyjason

[2022-01-03 07:24] manishgupta-qasource commented on #122207
Reviewed & assigned to @michaelolo24

CC: @MadameSheema

[2022-01-03 08:01] gayathrir1172 commented on #112976
Hey @sqren I have completed the implementation and raised the PR, can you please review this ?
https://github.com/elastic/kibana/pull/122203

[2022-01-03 08:39] samratbhadra-qasource opened #122208 "The "API Keys" management page cuts off long usernames"
**Describe the bug:**
The long Usernames available under Stack Management>API keys>Users dropdown are not readable and tooltip is also not available.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD: 48889
COMMIT: bacb608a62bbea2b732c5e704c450a1b40c66bc1
ARTIFACT: https://snapshots.elastic.co/8.0.0-b0d1c470/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment should

[2022-01-03 08:39] elasticmachine commented on #122208
Pinging @elastic/fleet (Team:Fleet)

[2022-01-03 08:40] samratbhadra-qasource commented on #122208
@manishgupta-qasource Please review.

[2022-01-03 08:55] elasticmachine commented on #122201
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-03 09:11] deepikakeshav-qasource opened #122209 "[Security Solution] An error displayed for Security privilege none and Case read custom user role"
**Describe the bug**
An error displayed for Security privilege none and Case read custom user role

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
[code]
3. Assign above role to a user and login with same
4. Observed that an

[2022-01-03 09:11] elasticmachine commented on #122209
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 09:44] manishgupta-qasource commented on #122208
Reviewed & mention to @jen-huang

[2022-01-03 10:14] shubhamkanwar-qasource opened #122210 "[Security Solution]filter for value and filter out value are not working for lens visualization under cases tab"
**Describe the bug**
filter for value and filter out value are not working for lens visualization under cases tab

**Build Details:**

Version:8.0.0-SNAPSHOT
Commit:bacb608a62bbea2b732c5e704c450a1b40c66bc1
Build:48889

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running.

**Steps to Reproduce**
1. Click on create new case.
2. Add

[2022-01-03 10:14] elasticmachine commented on #122210
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 10:15] shubhamkanwar-qasource opened #122211 "[Security Solution]User is unable to create new case by adding visualization to the new case from timeline tab."
**Describe the bug**
User is unable to create new case by adding visualization to the new case from timeline tab.

**Build Details:**

Version:8.0.0-SNAPSHOT
Commit:bacb608a62bbea2b732c5e704c450a1b40c66bc1
Build:48889

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running.

**Steps to Reproduce**
1. Click in the Timeline added in A

[2022-01-03 10:15] elasticmachine commented on #122211
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 10:34] Miki-78 opened #122212 "API to get the workpad in Share workpads on a website (Beta feature)"
I can just download the static workpad manually over Kibana.
See https://www.elastic.co/guide/en/kibana/current/reporting-getting-started.html#add-workpad-website.

But I want to update the Workpad every day (or specific intervall) automatically.
So one possible Solution is to get the Workpad via an API.
I looked over the export button, but it is in java script and no html Request is created.

So

[2022-01-03 10:37] kibanamachine commented on #116065
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6905#810970a1-61be-4c17-91d4-a72374803643)

[2022-01-03 11:06] kibanamachine commented on #119257
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6905#e6630ecf-5377-49b6-b7b3-f3182ed869ad)

[2022-01-03 11:27] karanbirsingh-qasource opened #122213 "[Security Solution]No Result found under show top modal for custom field"
**Describe the bug**
No Result found under show top modal for custom field

**Build Details**
[code]

**Steps**
- Login to Kibana version 8.0.0-SNAPSHOT
- Navigate to Alert Tab and click on fields
- Create any field with set value
let say `emit(doc['@timestamp'].value.getDayOfWeekEnum().toString())`
- Click on show top of above added field
- observed that no result found for above field

**Screen-

[2022-01-03 11:27] elasticmachine commented on #122213
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-03 11:33] manishgupta-qasource commented on #122213
Reviewed & assigned to @stephmilovic

[2022-01-03 12:34] sagarnagpal-qasource opened #122215 "[Fleet] Incorrect validation message 'Invalid URL' is displayed on saving default output without any host URL."
Kibana version: v8.0.0 snapshot Kibana cloud-staging environment
Browser version: Chrome
Host OS: n/a

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
BUILD 48889
COMMIT bacb608a62bbea2b732c5e704c450a1b40c66bc1

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Steps to reproduce:**
1. Login

[2022-01-03 12:34] elasticmachine commented on #122215
Pinging @elastic/fleet (Team:Fleet)

[2022-01-03 12:40] sagarnagpal-qasource opened #122216 "[Fleet] No validation is displayed on saving Fleet host with duplicate URLs"
Kibana version: v8.0.0 snapshot Kibana cloud-staging environment
Browser version: Chrome
Host OS: n/a

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
BUILD 48889
COMMIT bacb608a62bbea2b732c5e704c450a1b40c66bc1

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Steps to reproduce:**
1. Login

[2022-01-03 12:40] elasticmachine commented on #122216
Pinging @elastic/fleet (Team:Fleet)

[2022-01-03 12:43] manishgupta-qasource commented on #122215
Reviewed & mention to @kpollich

[2022-01-03 12:44] manishgupta-qasource commented on #122216
Reviewed & mention to @kpollich

[2022-01-03 15:54] LeeDr commented on #122191
This could be an Elasticsearch issue.  Looking at the response in the Discover Inspect window I see it doesn't contain the decimal values;

[code]

[2022-01-03 16:03] LeeDr commented on #122191
Wait... a `long` is a long integer.  Maybe it was never supposed to display decimal values.  Seems like that would require a `float` or a `double`.

If you create an index with a `double` field you do see the decimal values.

[code]

[2022-01-03 19:41] kibanamachine opened #122220 "Failing test: X-Pack Endpoint API Integration Tests.x-pack/test/security_solution_endpoint_api_int/apis/metadata·ts - Endpoint plugin test metadata apis list endpoints GET route with metrics-endpoint.metadata_current_default index when index is not empty metadata api should return page based on host.os.Ext.variant filter."
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6932#3e26c6b8-fd38-443c-b541-06980ad7aefa)

[2022-01-03 21:30] kevinlog commented on #92567
Closing with this PR: https://github.com/elastic/kibana/pull/122099
And related flaky test run: https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/52

[2022-01-03 22:25] nreese commented on #122200
Closing. Issues are reserved for software change requests. Please ask for troubleshooting help in [kibana forum](https://discuss.elastic.co/c/elastic-stack/kibana/7)

[2022-01-03 22:25] #122200 closed

[2022-01-03 23:52] kibanamachine commented on #116059
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6943#bbc2a250-c91c-4225-84a1-eabf79b576a5)

[2022-01-04 00:00] #121518 closed

[2022-01-04 00:00] #121289 closed

[2022-01-04 04:01] kibanamachine commented on #117780
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6956#82c117b2-29d7-49f0-80ea-95094dfa1321)

[2022-01-04 05:36] amolnater-qasource opened #122225 "[Fleet]: `Package` term is used instead of `integration` under Windows integration overview page."
**Kibana version:**  8.1 Snapshot Kibana cloud environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.1 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations>Windows integration.
3. Observe packages term is used instead of integration under overview page.

**Sc

[2022-01-04 05:36] elasticmachine commented on #122225
Pinging @elastic/fleet (Team:Fleet)

[2022-01-04 05:37] amolnater-qasource commented on #122225
@manishgupta-qasource Please review.

[2022-01-04 05:43] glen-uc opened #122226 "Visualization of Bucket with Split rows and Range aggregation over a float field with float ranges throwing an error"
**Kibana version:**
kibana:7.16.2

**Elasticsearch version:**
elasticsearch:7.16.2

**Server OS version:**
Docker

**Browser version:**
Chrome Version 94.0.4606.81 (Official Build) (64-bit)

**Browser OS version:**
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the

[2022-01-04 05:50] deepikakeshav-qasource opened #122227 "[Security Solution] Able to create the endpoint exception from rule details if `Security privilege read` custom user role"
**Describe the bug**
Able to create the endpoint exception from rule details if Security privilege read custom user role

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Alerts should be generated.

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
`security: read`
3. Assig

[2022-01-04 05:50] elasticmachine commented on #122227
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-04 05:55] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6956#b4ae27c4-b17e-44a5-b600-0106e89d5712)

[2022-01-04 05:55] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6956#b4ae27c4-b17e-44a5-b600-0106e89d5712)

[2022-01-04 05:55] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6956#b4ae27c4-b17e-44a5-b600-0106e89d5712)

[2022-01-04 05:55] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6956#b4ae27c4-b17e-44a5-b600-0106e89d5712)

[2022-01-04 06:07] amolnater-qasource opened #122228 "[Fleet]: Fleet Server Host ip is not added under Settings when added from Add Agent flyout."
**Kibana version:**  8.1 Snapshot Kibana cloud environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.1 Snapshot Kibana cloud environment should be available.
2. Policy with fleet server integration should exist.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>policy with Fleet Server integration.
3. Click Add Agent

[2022-01-04 06:08] elasticmachine commented on #122228
Pinging @elastic/fleet (Team:Fleet)

[2022-01-04 06:08] amolnater-qasource commented on #122228
@manishgupta-qasource Please review.

[2022-01-04 06:10] manishgupta-qasource commented on #122225
Reviewed & mention to @mostlyjason

[2022-01-04 06:11] manishgupta-qasource commented on #122228
Reviewed & mention to @mostlyjason

[2022-01-04 06:30] amolnater-qasource opened #122229 "[Fleet]: On adding `Fleet Server Host ip` under Add agent flyout user get outdated message."
**Kibana version:**  8.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.0 Snapshot Kibana cloud environment should be available.
2. Policy with fleet server integration should exist.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>policy with Fleet Server integration.
3. Click Add Agent

[2022-01-04 06:30] elasticmachine commented on #122229
Pinging @elastic/fleet (Team:Fleet)

[2022-01-04 06:30] amolnater-qasource commented on #122229
@manishgupta-qasource Please review.

[2022-01-04 06:34] kibanamachine commented on #122137
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6964#2d9a7e35-7c2e-45db-82a4-b772467dfb59)

[2022-01-04 07:02] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6965#15a4ee5f-9b39-469f-aebb-c9ab7ca55bb4)

[2022-01-04 07:14] manishgupta-qasource commented on #122229
Reviewed & mention to @mostlyjason

[2022-01-04 07:33] muskangulati-qasource opened #122230 "[Security Solution] Placeholders for search bar are different under policy for Host Isolation Exception tab and under Host Isolation Exceptions list tab"
**Description:**
Placeholders for search bar are different under policy for Host Isolation Exception tab and under Host Isolation Exceptions list tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed
3. An entry should be added to the Host Isolation Exception list

**Steps to Reproduce:**
1. Navigate to the H

[2022-01-04 07:33] elasticmachine commented on #122230
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-04 07:33] elasticmachine commented on #122230
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-01-04 07:33] muskangulati-qasource commented on #122230
@manishgupta-qasource please review!

[2022-01-04 07:33] muskangulati-qasource opened #122231 "[Security Solution] An unwanted icon is showing overlapped on the Grid view of alerts tab"
**Description:**
An unwanted icon is showing overlapped on the Grid view of alerts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated (at least 1)

**Steps to Reproduce:**
1. Navigate to the Alerts tab under the Security section from the left hand side navigation
2. Observe the icon overlapped on the Grid V

[2022-01-04 07:33] elasticmachine commented on #122231
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-04 07:34] muskangulati-qasource commented on #122231
@manishgupta-qasource please review!

[2022-01-04 07:37] kibanamachine commented on #100236
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/6967#4288cb69-2a7f-41e8-a95c-cdcb23d52041)

[2022-01-04 07:41] stratoula commented on #122121
@julianacg we are going to upgrade o vega-lite 5.2 on version 8.1.
So I am closing this as this will be available then :) Thanx for reporting this!

[2022-01-04 07:41] #122121 closed

[2022-01-04 07:47] manishgupta-qasource commented on #122230
Reviewed & assigned to @kevinlog

[2022-01-04 07:48] manishgupta-qasource commented on #122231
Reviewed & assigned to @michaelolo24

[2022-01-04 07:53] formgeist commented on #122043
@kpatticha `EuiSteps` allows for [customizing the title sizes](https://elastic.github.io/eui/#/navigation/steps#custom-title-sizes), which I imagine is what we utilized in the first place. There's not really any obvious reason why it should be smaller when the titles aren't longer than they are, so happy to make them the default size.

[2022-01-04 08:00] formgeist commented on #122133
Not sure if it changes anything, but the reason to hide the legacy jobs was to _not_ make it confusing for the user which jobs are in effect in APM and which jobs are still available but only to view in Machine Learning. We primarily intended the flow to be that the user migrates all existing jobs to v3 and thereby there's a 1:1 exchange in the table, but in your tested case you're just creating a

[2022-01-04 08:12] flash1293 commented on #122170
Duplicate of https://github.com/elastic/kibana/issues/86190

[2022-01-04 08:18] deepikakeshav-qasource opened #122232 "[Security Solution] Exception is imported even without click on "Overwrite existing exception lists" when import the rule with exception"
**Describe the bug**
Exception is imported even without click on "Overwrite existing exception lists" when import the rule with exception

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. Rule should be created with exception

**Steps to Reproduce**
1. Export the above created rule
2. Delete the exported rule and import the sam

[2022-01-04 08:18] elasticmachine commented on #122232
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-04 08:23] formgeist commented on #122073
I'd argue that if any job has been created for v3, we can't assist in the in the multi-jobs migration option offered in the callout, because we would have to grab all the legacy jobs (including any that have already been migrated) and compare before creating new jobs. Don't think it's something worth spending more time on seeing as jobs are easy to create and the user won't be creating more than t

[2022-01-04 08:27] simitt commented on #120453
@dannycroft I just saw that you added a `Pending refinement` label, what information is needed for unblocking this issue? It should be fixed for `7.17` (since `7.16.2` is already released).

[2022-01-04 08:38] kpatticha commented on #122133
@formgeist, does this mean that once you upgrade the **v2 jobs** are **not active** but available

[2022-01-04 08:39] formgeist commented on #122133
Yes, v2 will be replaced by v3 in the UI. The v2 jobs are not removed and still available to view in ML.

[2022-01-04 08:52] dcolazin opened #122233 "option to open drilldown in new tab/window"
**Describe the feature:** At the moment, it is possible to open a drilldown from a dashboard to another one right-clicking (or ctrl+clicking) the link. Otherwise, with a simple click, the "focus" on the previous dashboard is lost. It would be nice to have a slider (like the ones for keeping the range/filters) to open the drilldown with a single click.

**Describe a specific use case for the featur

[2022-01-04 08:52] kertal commented on #122191
Decimal in this case would be displayed when reading values from `_source`
We switched to the use of the fields API in 7.12
https://www.elastic.co/de/blog/discover-uses-fields-api-in-7-12

Before this change, the values of _source where displayed, that's why the decimal value in this case was shown. When switching to the legacy behavior in Advanced settings (discover:searchFieldsFromSource to On),

[2022-01-04 08:52] #122191 closed

[2022-01-04 09:11] dasansol92 commented on #122106
Very good catch! This was introduced when we removed the header from the empty states [here](https://github.com/elastic/security-team/issues/1875). This is generic from the three artifact lists. I'm going to create a PR ASAP to fix it.

cc: @kevinlog

[2022-01-04 09:12] Kunzetsov opened #122234 "[Expressions] Fix `handlers` usage."
## Introduction

`Canvas` expressions and expressions from `chart_expressions` are using `handlers` in the wrong way, adding custom properties to the API of `expressions'` handlers (Canvas) and not calling `handlers.done` in the correct way (chart_expressions). This is preventing `Canvas` from quick movement to the native `expressions.ReactExpressionsRenderer`, which is described at [further issue

[2022-01-04 09:17] elasticmachine commented on #122234
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-04 09:22] #122122 closed

[2022-01-04 09:24] #110943 closed

[2022-01-04 09:25] #119725 closed

[2022-01-04 09:26] #119041 closed

[2022-01-04 09:26] #118332 closed

[2022-01-04 09:27] samratbhadra-qasource opened #122237 "User is unable to select few tags under `Tags filter` and on selecting again it adds ambiguous data in the search field under `Saved Objects`."
**Describe the bug:**
User is unable to select few tags under `Tags filter` and on selecting again it adds ambiguous data in the search field under `Saved Objects`.

**Build Details:**
VERSION: 8.1.0-SNAPSHOT
BUILD: 49380
COMMIT: 87f753dba0515c23a1cc4bdf6feac2df2200baea
ARTIFACT: https://snapshots.elastic.co/8.1.0-58437def/summary-8.1.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.1.0-SNAPSHOT envi

[2022-01-04 09:27] samratbhadra-qasource commented on #122237
@manishgupta-qasource Please review.

[2022-01-04 09:28] kpatticha commented on #122043
I found the reasoning in https://github.com/elastic/kibana/pull/114186

 and since `EuiSteps` allows custom title sizes i'm closing this issue

[2022-01-04 09:28] #122043 closed

[2022-01-04 09:32] dasansol92 commented on #122106
PR: https://github.com/elastic/kibana/pull/122238

[2022-01-04 09:33] dasansol92 commented on #122106
@bfishel How does it looks to you?

![backbutton displayed for empty states](https://user-images.githubusercontent.com/15727784/148038595-d21b1022-812c-4ee4-939b-6d3ccb99bde8.gif)

[2022-01-04 09:42] simitt commented on #112095
Replace corresponding package files in the fleet/server/bundled_packages directory

Can this be implemented to pull the latest versions from `staging`? When Kibana bundles stack version aligned packages, these packages won't be pushed to production at the time when bundling, but they should already be pushed to `staging`, most certainly with pre-release versions (for APM we use `x.y.z-dev1`). Desp

[2022-01-04 09:42] formgeist commented on #120453
@simitt I don't think we can include this in 7.17 but only 8.0 (which is post-ff) but considering this copy as a bug should allow us to fix it now and going into 8.0. Is it a problem that it won't be fixed in 7.x? cc @graphaelli

[2022-01-04 09:43] dasansol92 commented on #122183
@academo Thanks for looking into this! Seems this was introduced when we started using the Lists API for trusted apps.
There is no BE validation for duplicated fields and the Lists API is taking the last one as reference.
@paul-tavares Can you take a look on it? Maybe a solution is to add this validation on the FE side until we have the List API extension points.

[2022-01-04 09:48] simitt commented on #120453
@formgeist , as you mentioned this is a bug, so I'd not be concerned to merge this after FF.
Why can't this be part of `7.17` (due to priorization issues or is there something else blocking)? Maybe it wouldn't make it into `7.17.0` if too late already, but then it should go into a patch version of it.

[2022-01-04 09:53] formgeist commented on #120453
@simitt I misread the definition for the 7.17 release and it seems there's a case for including bug fixes, so I'm happy to have this included in there so we need to backport this to 7.x (7.17) for the PR fix.

[2022-01-04 09:55] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6968#596fc5e3-8031-4628-848b-be1ef1b0e9f8)

[2022-01-04 09:55] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6968#596fc5e3-8031-4628-848b-be1ef1b0e9f8)

[2022-01-04 09:55] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6968#596fc5e3-8031-4628-848b-be1ef1b0e9f8)

[2022-01-04 09:55] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6968#596fc5e3-8031-4628-848b-be1ef1b0e9f8)

[2022-01-04 10:00] MadameSheema commented on #119930
@karanbirsingh-qasource can you please validate the above on the latest 8.0.0 snapshot? Thanks :)

[2022-01-04 10:02] MadameSheema commented on #99760
@michaelolo24 can you please take a look at the above when you have the chance? Thanks :)

[2022-01-04 10:09] MadameSheema commented on #120609
@stephmilovic I would suggest keeping it open in order to give visibility to our users. What do you think?

[2022-01-04 10:16] ppisljar commented on #122108
'uiState' is considered deprecated and should be replaced by theme information on `variables` (which canvas does support if i am not mistaken ?). We can also consider continuing supporting of uiState for longer time.

[2022-01-04 10:17] ppisljar commented on #122085
in the meantime above could be worked around by implementing a custom applyFilterAction handler in canvas, which does exactly the same, adds filter to the filter manager.

[2022-01-04 10:19] flash1293 commented on #122108
If we replace uistate on the vis by variables, we would also need to add support to dashboard to store and retrieve variables (maybe that's done already?) and migrate existing uistate, correct? Or is this proposal planning to support both of them for now?

[2022-01-04 10:20] manishgupta-qasource commented on #122237
Reviewed & mention to @jen-huang

[2022-01-04 10:22] ppisljar commented on #122108
i don't think we have an actual proposal yet, but i agree Joe, we would need dashboard and visualize switch to using variables and we need migrations for uiState.

[2022-01-04 10:23] flash1293 commented on #122108
Seems like this is a bit of a higher hanging fruit - what about disabling this popover for now in the vis until we settled on a way to do this?

[2022-01-04 10:37] stratoula commented on #122108
If I remember correctly, the popover in heatmap will not open if there is no uiState (this is the reason it doesn't open in Lens for example). It opens in canvas? Weird... Nevertheless, I agree with Joe. Let's disable it for now.

[2022-01-04 10:38] MadameSheema commented on #121390
Lots of thanks for taking a look into this @stephmilovic @deepikakeshav-qasource :)

@deepikakeshav-qasource I have some questions regarding the above issue, the 7.16.0 instance, before the upgrade,  already has rules and alerts?

[2022-01-04 10:39] lucasfcosta commented on #117921
Hey @bryce-b, sorry to ping you again, I just wanted to make sure that this problem is solved so that we can tidy up our board for 8.0. Can you confirm on your end when possible?

Thanks in advance, and sorry for the ping.

[2022-01-04 10:42] kibanamachine commented on #92567
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#a19fcf75-b901-4f29-8f5b-5d3c8641d405)

[2022-01-04 10:53] MadameSheema commented on #121287
@banderror @michaelolo24 what do you think about the above observation? Thanks :)

[2022-01-04 11:02] elasticmachine commented on #122233
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-04 11:17] deepikakeshav-qasource commented on #121390
Hi @MadameSheema,

Yes, rules and alerts are already generated before upgrading the build. However, after upgrading the build and generating the alerts then data view is started showing on alerts tab.

Please let me know if anything else is required from our end.

Thanks!!

[2022-01-04 11:18] Kunzetsov commented on #122108
@flash1293, @stratoula, I like the idea of disabling those popups for now.

This proposal is mostly about the future changes we should do to support variables at Canvas. I'm not the one who can propose to remove uiState or move to variables all over the project))) In my mind, we could add such support at Canvas and at the expressions, which are used in it. Moving forward, with small steps, leaving

[2022-01-04 11:19] Kunzetsov commented on #122108
@ppisljar, definitely, this is a part of a plan to add support of handlers from expressions to Canvas.

[2022-01-04 11:21] MadameSheema commented on #121390
@deepikakeshav-qasource if you only have 7.16 alerts after the upgrade, the data view is not displayed?

[2022-01-04 11:22] #92987 closed

[2022-01-04 11:23] cnasikas commented on #92987
Fixed by https://github.com/elastic/kibana/pull/113626

[2022-01-04 11:23] Kunzetsov commented on #122085
@ppisljar, do you want it as a temporary solution or the final one?

[2022-01-04 11:30] pgayvallet commented on #101009
I just picked the issue to be discussed during our next prioritization meeting.

[2022-01-04 11:33] deepikakeshav-qasource commented on #121390
Yes @MadameSheema data view is not displayed, if we have only 7.16.0 alerts after upgrade.

[2022-01-04 11:44] pgayvallet commented on #118488
Actual error is now:

[code]

[2022-01-04 11:47] pgayvallet commented on #116059
Because of https://github.com/elastic/kibana/pull/121493, we can now see the correct error being surfaced

[code]

I guess we're accessing a dom element between/during react rerenders, causing the element to be stale.

@elastic/kibana-operations feel free to re-skip the test if you think it's necessary now that we have the real error to work with.

[2022-01-04 11:49] pheyos commented on #118584
In the test execution log I can see the following error:
[code]
Not sure where this is coming from and I could reproduce locally so far. Will take a closer look.

[2022-01-04 11:53] nreese commented on #113993
closing, test fixed in 8.0 branch, failure is 7.17 branch

[2022-01-04 12:03] pgayvallet commented on #121051
Error:

[code]

I guess https://github.com/elastic/kibana/pull/121726 did not increase the interval enough, which is strange as the maximum offset was supposed to be 33 days, but eh...

[2022-01-04 12:12] pheyos commented on #118584
It turned out that now we have a couple system dashboards installed by default and the test assumed that there was only one `ML Test` dashboard. As a result, the test adds the swim lane visualization to all dashboards and opens the wrong one for validations (which sometimes brings up issues in case the corresponding source data / data view has been modified or removed in another test). I'll adjust

[2022-01-04 12:27] #91149 closed

[2022-01-04 12:27] #120214 closed

[2022-01-04 12:35] stratoula commented on #121725
The title and description in lens expressio function is not needed anymore so I think we can remove them from the list :)

[2022-01-04 12:36] BenB196 commented on #122170
@flash1293 I'm not sure if the issue you linked as a duplicate is a true duplicate. While I think it might cover the second use-case:

Count of Thing > 7.

I don't think it covers the first use-case of being able to filter by the any column, as it seems like the issue you linked is just for numbers, where the first use-case is for text-based column.

Unless this closure is saying there are no plan

[2022-01-04 12:38] cnasikas commented on #122190
Hi @karanbirsingh-qasource! The Import/Export functionality is owned by the Kibana Core team. Security solution is not in control of the code on the Saved Objects page. The read icon is a Cases feature that is unrelated to what the Core team does. I am closing the issue as it is not a bug and is out of the scope of Cases.

[2022-01-04 12:39] stratoula commented on #121725
Also the lens `categoryDisplay` is connected with the labels position if I am not mistaked so it should be matched with the labels.position property of viz.

[2022-01-04 12:44] cnasikas commented on #122186
Hi @karanverma-qasource! Thanks for the feedback. This is the expected behavior. If the user has the `All` privilege for the Saved Objects Management then she can import/export any Saved Object. A case is also a Saved Object. If the user has read privilege for Cases it means that she cannot create a case from within the Cases pages and not from the Saved Objects Management. I am closing this issue

[2022-01-04 12:44] #122186 closed

[2022-01-04 12:46] Dosant opened #122244 "[Search] Add configuration to not use `/bsearch`"
Consider introducing configuration option to search without `/bsearch`.
The reasoning is:

1. It is possible that with http2 the benefit of using `/bsearch` is not that significant. We want to introduce the settings to measure performance difference: http2 with or without bsearch.
2. Bsearch has its downsides: more code to support/test, larger bug surface, no support for single requests abortion,

[2022-01-04 12:46] elasticmachine commented on #122244
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-04 12:46] pgayvallet commented on #121891
This is what the `deprecation.skip_deprecated_settings` config setting is all about.

The `kibana.yml` config file for ESS/ECE/ECK should be adapted to ignore this specific deprecation, by adding a `'logging'` entry to `deprecation.skip_deprecated_settings`, as it's the `configPath` used for this specific deprecation.

[2022-01-04 12:53] shubhamkanwar-qasource opened #122246 "[Security Solution]Saving the case with long name breaks the UI of the application."
**Describe the bug**
Saving the case with long name breaks the UI of the application.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**
1. Create a new case in Cases tab.
2. Fill the name field with maximum length specified.
3. Then click on save button.

**Actual Result**
Use

[2022-01-04 12:53] elasticmachine commented on #122246
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-04 12:53] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#63d49ad3-c201-4f3c-9d30-cff49e9243f6)

[2022-01-04 12:53] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#63d49ad3-c201-4f3c-9d30-cff49e9243f6)

[2022-01-04 12:53] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#63d49ad3-c201-4f3c-9d30-cff49e9243f6)

[2022-01-04 12:57] karanbirsingh-qasource commented on #119930
Hi @MadameSheema

we have validated this issue on 8.0.0-SNAPSHOT and found that issue is still occuring 🔴 , we will take care and regress on next 8.0.0-snapshot commits also.

**Build Details:**
[code]

**Screen-Shoot:**

_Case Details page_

![image](https://user-images.githubusercontent.com/59917825/148062253-57e45b7e-748b-43b1-b6b1-87cecfa2c541.png)

_Case List page_

![image](https://user-imag

[2022-01-04 12:59] afharo commented on #121883
This test was skipped in https://github.com/elastic/kibana/issues/121051

When running it locally, it fails because it cannot install the new dataset again because the index already exists (it gets an error `resource_already_exists_exception`).

We could easily catch that specific error [here](https://github.com/elastic/kibana/blob/649853d279966378f17522edf5ccfb6c01a80eb8/src/plugins/home/server/s

[2022-01-04 13:12] afharo commented on #119466
Another idea that would improve our visibility of telemetry is https://github.com/elastic/kibana/issues/89839. What do you think?

[2022-01-04 13:13] MadameSheema commented on #119930
Thanks @karanbirsingh-qasource :)

@jamster10 @cnasikas can you please confirm the fix as successfully backported to the tagged branches? Thanks :)

[2022-01-04 13:25] ppisljar commented on #122085
temporary, to allow us to progress with unifying filtering.

[2022-01-04 13:25] elasticmachine commented on #122246
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2022-01-04 13:25] michaelolo24 commented on #99760
Hey @MadameSheema we can take a look at it for this release. I gave it impact high as I think we should always show accurate data and we should finish it for the 8.0 release

[2022-01-04 13:27] MadameSheema commented on #99760
Awesome!! Thanks @michaelolo24 :)

@deepikakeshav-qasource can you please confirm if this is an issue for 7.17 as well? Thanks!

[2022-01-04 13:27] nreese commented on #117780
closing, test fix only backported to 8.0 branch and test failure in 7.17

[2022-01-04 13:27] #117780 closed

[2022-01-04 13:31] MadameSheema commented on #121390
Thanks @deepikakeshav-qasource!!

My understanding is the .siem-signals index is going to be an alias of the new index, so the first impression is it should be an underlying bug. Not sure if for explore area or a different one. Thoughts @stephmilovic?

[2022-01-04 13:31] michaelolo24 commented on #122231
Thanks @manishgupta-qasource! We'll take a look

[2022-01-04 13:32] cnasikas commented on #122123
Hi @dikshachauhan-qasource! Thanks for the feedback. This is fixed in 8.1 by this https://github.com/elastic/kibana/pull/117582

[2022-01-04 13:33] Kunzetsov commented on #122085
@ppisljar, great, I'll address it after merging the PR https://github.com/elastic/kibana/pull/119044.

And as it is a temp solution, I'll leave this issue opened for the further implementation.

[2022-01-04 13:35] michaelolo24 commented on #122207
@cnasikas @jonathan-buttner Do you mind taking a look at this?

[2022-01-04 13:35] elasticmachine commented on #122207
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2022-01-04 13:35] MadameSheema commented on #122123
@cnasikas is there any specific reason abaut not backporting the fix to 8.0? Thanks

[2022-01-04 13:37] cnasikas commented on #122123
Hey! The PR refactors of how cases navigation works and we did not want to destabilize the 8.0 release. The FF dates were tight at the moment.

[2022-01-04 13:38] flash1293 commented on #121890
I can reproduce this in Chrome:
![Kapture 2022-01-04 at 14 37 23](https://user-images.githubusercontent.com/1508364/148067305-bf8e3fb9-44b5-4fcf-ba8d-8c2d4d6187b3.gif)

@nickofthyme @monfera is it possible this is caused by the new magical tick placement going wrong?

[2022-01-04 13:42] elasticmachine commented on #122226
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-04 13:43] #121785 closed

[2022-01-04 13:46] flash1293 commented on #121890
OK, I found the problem - the y axis gets a very large padding value: https://github.com/elastic/kibana/blob/ff1b014c7bdcd2ab5aee896bca0cc077736aec58/src/plugins/vis_types/timelion/public/helpers/panel_utils.ts#L71

@stratoula @alexwizp @VladLasitsa Do you know why this is happening? I can't see a good reason.

[2022-01-04 13:47] joshdover commented on #121798
@dikshachauhan-qasource Would the QAS team be able to spend some time trying to validate this bug against a newer version of the Stack? I suspect these steps should be sufficient:

0. Create `7.14` deployment on Elastic Cloud
1. Navigate to _Kibana/APM/Settings/Schema_ and trigger migration to APM Integration (installs version `0.3.0`)
2. Update to `7.16.2` - **this is the nwer version**
3. Manual

[2022-01-04 13:48] flash1293 commented on #122226
This is an Elasticsearch bug which is currently being worked on: https://github.com/elastic/elasticsearch/issues/81749
I will keep this issue open as long as the Elasticsearch fix isn't merged.

[2022-01-04 13:49] cnasikas commented on #119930
@MadameSheema @karanbirsingh-qasource I can see that the fix is not backported successfully to the tagged branches. @jamster10 could you please take care of it?

[2022-01-04 13:51] michaelolo24 commented on #122111
@deepikakeshav-qasource - Can you check if this is happening on 7.17 as well please? Thank you!

[2022-01-04 13:52] MadameSheema commented on #119930
@jamster10 can you please let us know once the backports have been merged in order to proceed with the validation? Thanks!

[2022-01-04 13:52] stratoula commented on #121890
I don't remember if we had a specific reason to add this tbh. It seems as something we missed during the review unless @VladLasitsa had a reason that I am missing right now

[2022-01-04 13:54] joshdover commented on #111737
@dikshachauhan-qasource Looks great, thanks.

[2022-01-04 14:03] michaelolo24 commented on #121845
@karanbirsingh-qasource from the language it would sound like the sync is supposed to take place with the underlying page views, not the individual timelines themselves. As long as the same timeline is open when the lock icon is clicked, then you'll be able to look at all the data in the pages and timeline in that same time range, but closing and re-opening a timeline would presumably reset it to

[2022-01-04 14:07] MadameSheema commented on #120906
@peluja1012 can you please help to coordinate with @jmikell821 in order to make sure the process is properly documented? Thanks!

[2022-01-04 14:12] jlind23 commented on #122064
@amolnater-qasource in Fleet UI don't you have the fingerprint value available?
ping @joshdover @michel-laterman for further help

[2022-01-04 14:15] elasticmachine commented on #122182
Pinging @elastic/kibana-security (Team:Security)

[2022-01-04 14:16] joshdover commented on #122182
Routing the Kibana Security team for review.

[2022-01-04 14:20] bfishel commented on #122106
I definitely don't hate this...but I just had a thought -- what if we had a secondary button under the primary (comes with the component) in the empty prompt that said "back to endpoint integrations" or "return to endpoint integrations" @dasansol92 @caitlinbetz lmk your thoughts

[2022-01-04 14:21] joshdover commented on #122064
This is the expected behavior. The security-on-by-default feature only kicks in for new clusters that are created on 8.0, so an existing clusters from 7.x that are upgraded to 8.0 will not have this functionality turned on as it would break existing clusters. AFAIK there is no way to manually trigger this.

[2022-01-04 14:21] #122064 closed

[2022-01-04 14:22] legrego commented on #122182
@samratbhadra-qasource I believe this is working as intended. As far as I can tell, the Security category only has a single feature available in 7.17, so we don't offer an accordion for the category, and we don't show the feature count. This mirrors what you see for Enterprise Search.

Version 8.0 includes more than the single feature under the Security category, so we show the breakdown now.

Whi

[2022-01-04 14:23] dasansol92 commented on #122106
That sounds good to me, what about creating another issue for that since this is a bug fix for 8.0 and the RC build is tomorrow

[2022-01-04 14:26] afharo commented on #98423
https://github.com/elastic/kibana/issues/98422 was closed. Closing this one as well.

[2022-01-04 14:26] #98423 closed

[2022-01-04 14:29] dcolazin opened #122256 "possibility to collapse blocks in JSON expanded documents in Discovery"
**Describe the feature:** currently, the JSON expanded documents are formatted with colors and tabs to improve readability, but in some cases (nested or very long fields) there might be too much information and the Discover feature might not be useful to extract the needed data in the fastest and best way. It would be nice to have the possibility to collapse nested fields and arrays like in many J

[2022-01-04 14:42] flash1293 commented on #121725
AFAIK Visualize pie doesn't support multiple metrics. While there's a use case for that, I think we shouldn't introduce it as part of this PR but split that out for later and stick with just a single metric dimension for now.

The other settings look like they can be merged into a single renderer supporting everything pretty well. Please note that mosaic and waffle have additional limitations comp

[2022-01-04 14:47] stratoula opened #122257 "[Lens] [Viz editor] Unify the tabs title behavior"
**Describe the feature:**
We would like to unify the way that the tab titles work in both Lens and Visualize editor.

### Current behavior ###
From the library to Lens/Visualize editor the titles are:
- Lens - Elastic
- Visualize editor - Elastic

From the dashboard to Lens/Visualize editor for **new** viz or for by value viz the titles are:
- Lens - Elastic
- Elastic (Visualize editor is missing

[2022-01-04 14:47] elasticmachine commented on #122257
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-04 14:48] dasansol92 commented on #122106
@muskangulati-qasource We've merged a fix for this in `7.17`, `8.0` and `8.1`. Let me know if you find something else here. Thanks.

[2022-01-04 14:49] Kunzetsov commented on #121725
@flash1293, added those details to the issue's text.

[2022-01-04 14:50] MadameSheema commented on #90761
@petermorin123 we don't have a fix yet but is on our radar, thanks for your patience :)

[2022-01-04 14:53] kibanamachine commented on #116059
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/482#f2b47e48-5214-4ca8-b2de-ea309910e9a2)

[2022-01-04 15:12] #121314 closed

[2022-01-04 15:17] mostlyjason commented on #121933
There are no limits on the number of integration policies for a particular integration that can exist in an agent policy. This would result in duplicate data if the exact settings are duplicated. However, there are some legitimate uses. For example, when integrations policies are managed by different teams. The security team may have a requirement for security logs and the operations team is respo

[2022-01-04 15:18] stephmilovic commented on #120609
@MadameSheema I'd prefer to close it, it is exposed to the users through the EUI ticket https://github.com/elastic/eui/issues/5498

Besides if user found this issue, they could read through the comments and see where EUI ticket is whether or not this ticket is closed

If you prefer to leave it open, can we remove me as assignee and remove it from the [Explore]( Security: Threat Hunting: Explore) b

[2022-01-04 15:21] jportner commented on #122146
I pulled the latest `main` just now and reproduced it again locally. Also took a look at the problematic consumer (fleet plugin) and they didn't change anything.
I guess there is some sort of race condition that is causing this function to be called _during_ the migration process, and when that happens, an error occurs and crashes the Kibana server.

[2022-01-04 15:25] kibanamachine commented on #117778
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#3f7c306f-299d-493d-ad15-9be8850b6afb)

[2022-01-04 15:25] kibanamachine commented on #121842
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#3f7c306f-299d-493d-ad15-9be8850b6afb)

[2022-01-04 15:25] kibanamachine commented on #121843
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/6976#3f7c306f-299d-493d-ad15-9be8850b6afb)

[2022-01-04 15:31] justinkambic commented on #121655
Hi @muneebsajjad - I encountered this issue when working on Kibana's `main` branch built from source, as noted in the **original install** section of the issue description. You could easily reproduce this issue by running version `8.0` HB against a dev Kibana/ES built from source, no need to build Heartbeat as well.

The Uptime app is backward compatible with Heartbeat data going far back into the

[2022-01-04 15:42] fkanout commented on #117697
APM table is missing an Error count reason message which is in this format today:
`Error count is greater than {threshold} (current value is {measured}) for {serviceName}`

I could guess what the new message would be, but it is always good to check it with you @hbharding and @vinaychandrasekhar :)

[2022-01-04 15:44] ThomThomson commented on #62115
@search-tool, the new controls system reacts to the dashboard filters. It will be available sometime in 8.x! Additionally, we are considering adding local filtering functionality to the new system so that you can write a query / a series of filters which only applies to one dropdown. See [this comment](https://github.com/elastic/kibana/issues/120035#issuecomment-1002687829) for more info.

[2022-01-04 15:48] vinaychandrasekhar commented on #117697
@fkanout thanks for checking. That message is similar to the first one in the "Metrics" section above. Please use the same format. So that'll be
`Error count is {measured} for {serviceName}. Alert when > {threshold}.`

[2022-01-04 15:50] fkanout commented on #117697
thanks for the fast reply @vinaychandrasekhar!

[2022-01-04 15:54] brianseeders commented on #117778
/skip

[2022-01-04 15:55] brianseeders commented on #121842
/skip

[2022-01-04 15:56] kibanamachine commented on #121842
Skipped

7.17: 610efe73a241a7e0eed02e696cdca0f646bf7c7a

[2022-01-04 15:59] Kerry350 commented on #120807
It looks like we're happy with the ACs etc now (bar the few things that will evolve as we go: https://github.com/elastic/kibana/issues/120807#issuecomment-993569661).

Once #120881 is merged I'll start on the implementation of the ACs.

[2022-01-04 16:04] #120609 closed

[2022-01-04 16:09] michaelolo24 commented on #122011
May be related to: https://github.com/elastic/kibana/issues/119340

[2022-01-04 16:18] pheyos opened #122271 "[ML] Edit button is enabled when adding swim lane to multiple dashboards"
**Found in version**
- 8.1.0

**Browser**
- Chrome

**Steps to reproduce**
- In the anomaly explorer, open the modal to add the swim lanes to a dashboard
- Select multiple dashboards

**Expected result**
- The `Add and edit dashboard` button is disabled

**Actual result**
- The button is not disabled, which can be confusing for the user as it's not clear which of the dashboards will be opened for

[2022-01-04 16:18] elasticmachine commented on #122271
Pinging @elastic/ml-ui (:ml)

[2022-01-04 16:23] mostlyjason commented on #122181
@jen-huang this looks like a regression since it works in 7.16

[2022-01-04 16:24] MadameSheema commented on #119633
@deepikakeshav-qasource can you please validate this on the latest 8.0.0 snapshot? Thanks!

[2022-01-04 16:53] ghudgins commented on #19908
Closing this issue because this is supported in Lens visualizations. You can specify a custom name for each interval

Since this would require a large development effort to implement in Visualize/TSVB and our efforts are focused on extending the functionality of Lens in easy-to-use and consistent way. We aim to provide the best possible visualization editing experience in Lens and are working to i

[2022-01-04 16:53] #19908 closed

[2022-01-04 16:55] ghudgins commented on #101942
related requirement in - https://github.com/elastic/kibana/issues/36544 - the ability to color terms after a split / group by

[2022-01-04 17:04] flash1293 commented on #121890
Oh, that makes sense, thanks @nickofthyme . Does it make sense however to add a padding for that? The legend can get really big and it's a lot of wasted space.

[2022-01-04 17:08] flash1293 commented on #122170
@BenB196 Good point - I think this use case is covered by the include/exclude parameters of the terms aggregation. These are not supported in Lens yet (they are available in Visualize), but there's a separate issue here: https://github.com/elastic/kibana/issues/96585

[2022-01-04 17:08] nickofthyme commented on #121890
IMHO No. You are exactly right, this would only be for small legends, we need to improve the look of the inside legend for geometry collisions, @dej611 opened an issue for one possible option here https://github.com/elastic/elastic-charts/issues/1443.

[2022-01-04 17:08] michaelolo24 commented on #120885
Per discussion with @paulewing we should in the interim add text to the error to include text detailing that they should update data views to use the `kibana.alert.rule.parameters.index` field

[2022-01-04 17:11] flash1293 commented on #121890
Alright, for now the question is whether it's worse to have an overlapping legend or an incorrectly sized y axis in case of small panel height. @nickofthyme do you think finding a compromise and going with 20px of padding for now would make sense as an interim solution?

[2022-01-04 17:17] nickofthyme commented on #121890
Yeah I think that would be fine for the time being.

[2022-01-04 17:19] #119701 closed

[2022-01-04 17:19] #120760 closed

[2022-01-04 17:22] awahab07 commented on #121477
Closed by https://github.com/elastic/kibana/pull/121302

[2022-01-04 17:22] #121477 closed

[2022-01-04 17:22] neptunian commented on #121975
@richkuz Can you clarify what the the expected behavior is to where docs should be landing?  As @klacabane said, we don't officially support data in the `metricbeat-*` index and are removing this index pattern.

[2022-01-04 17:23] monina-n commented on #121751
hey @michaelolo24!

it's hard to tell what the exact issue is from the issue but in general, we should be consistent with the building block style and it shouldn't ever change just by opening up the panel.

So in this scenario, if the row in the timeline is a building block alert
- we should keep the building block style when the panel

if the row in the timeline is not a building block alert
- it

[2022-01-04 17:33] weltenwort commented on #116065
taking another look

[2022-01-04 17:47] #118837 closed

[2022-01-04 17:58] yctercero commented on #122232
@deepikakeshav-qasource hey! This seems to be expected behavior. The "overwrite" button doesn't determine whether or not exceptions are imported, it just asks whether the user wants to overwrite any existing, matching exception lists. We import whatever is given to us in the import file. If a user did not want exceptions imported, they would need to remove them from the file they are importing.

[2022-01-04 18:00] BenB196 commented on #122170
@flash1293 yes, after looking into it seems like include/exclude parameters would cover the use case here. Though it looks like the old aggregation table won't support my use case, as my table uses `Metrics` with `Filter By`'s which don't seem to be supported in the old viz's.

Though one thing I would like to see that I don't see in either ticket, is being able to apply the filter adhoc in the vi

[2022-01-04 18:07] kibanamachine commented on #59234
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/6997#8f9e2da2-4b41-4369-acd9-5264598cbb94)

[2022-01-04 18:13] #121822 closed

[2022-01-04 18:28] #121363 closed

[2022-01-04 18:36] paul-tavares commented on #122183
@dasansol92 correct - its a bug caused by moving to using the Lists APIs. The PR I'm working on should address this (we will re-introduce API validations), however, I wonder if the UI should also validate this condition prior to allowing the user to submit the form? Maybe not, since the API will again validate it (soon)

[2022-01-04 18:54] simianhacker opened #122288 "[RAC][Rule Registry] Rules that generate over 10K alerts cause an exception in the Kibana logs"
**Kibana version:**
main

**Elasticsearch version:**
main

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
While working on a PR (https://github.com/elastic/kibana/pull/121904) to increase the composite size and performance improvements for the Metric Threshold rule type, I stumbled across an exception in the Kibana logs. It looks like there

[2022-01-04 19:06] elasticmachine commented on #122288
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-04 19:10] #112823 closed

[2022-01-04 19:46] elasticmachine commented on #122290
Pinging @elastic/fleet (Team:Fleet)

[2022-01-04 19:47] jen-huang commented on #122290
@juliaElastic It looks like this should have been added with #121180. Can you confirm if the backport made 7.16.2?

[2022-01-04 19:48] elasticmachine commented on #122237
Pinging @elastic/kibana-core (Team:Core)

[2022-01-04 19:49] jen-huang commented on #122237
@manishgupta-qasource Not sure why you tagged me in this, I suppose because of the Fleet-created dashboards seen here, but this seems to be a general bug with the Saved Objects tagging functionality owned by the Kibana Core team. I added the appropriate labels.

[2022-01-04 19:52] #117885 closed

[2022-01-04 19:52] elasticmachine commented on #122208
Pinging @elastic/kibana-security (Team:Security)

[2022-01-04 19:52] jen-huang commented on #122208
@manishgupta-qasource While this UI may show Fleet-related API keys, the Fleet team is not responsible for this general API Keys UI. I've tagged the appropriate Kibana team.

[2022-01-04 19:53] richkuz commented on #121975
@carlosdelest returns on Thursday and may know the answer to this question. @ioanatia would you happen to know in the interim?

[2022-01-04 19:56] neptunian commented on #117885
I'm closing this as the actual bug was fixed.  There is understanding that this query could be slow as it queries 10k docs.  This will be caught in future performance testing once we have that setup.

[2022-01-04 19:59] jen-huang commented on #122181
Looks like the default policy is being created with the literal string `undefined` as its ID. So the query filter is working "correctly", but the underlying issue of the strange ID should be fixed.

[2022-01-04 20:10] jen-huang commented on #121871
Closing as dupe of #106963.

[2022-01-04 20:10] #121871 closed

[2022-01-04 20:14] tsullivan commented on #107675
This should depend on https://github.com/elastic/kibana/issues/29281. The documentation should give examples of bad performance vs good performance. The examples will be illustrated with results that the user can find in the new Monitoring of Reporting area

[2022-01-04 20:15] jen-huang commented on #122014
I'm closing this as won't fix. Real users are not likely to do this (edge case), and the resolution of just changing the name is simple.

[2022-01-04 20:15] #122014 closed

[2022-01-04 20:17] jen-huang commented on #122012
The first note is valid, we should update the link everywhere to `Fleet and Elastic Agent User Guide`. However, the second is not - the specific page of "Fleet UI settings" is still a part the overall user guide.

[2022-01-04 20:29] mostlyjason commented on #122225
I believe this content is owned by the integrations team so I'm CCing @akshay-saraswat

[2022-01-04 20:30] jen-huang commented on #121950
This is a known issue, closing as dupe of #74353.

[2022-01-04 20:30] #121950 closed

[2022-01-04 20:33] mostlyjason commented on #122228
@jen-huang I'm concerned this would prevent users from onboarding so it looks like a critical bug. I'll let you schedule it.

[2022-01-04 20:33] jen-huang commented on #121870
Closing, not an issue:
- You need to press "enter" in order to update the namespace field properly
- Since you didn't press enter, the field is updated when you left focus on the input (it just happened that your clicking of the Save button triggered the defocus, but it would have happened with any click outside of the field)

[2022-01-04 20:33] #121870 closed

[2022-01-04 20:35] mostlyjason commented on #122229
It seems like this name is still accurate even though the meaning changes from Fleet > Settings from Fleet > Fleet Settings. Its nice to be more specific since there are many different settings within Kibana. I'll close this as won't fix.

[2022-01-04 20:35] #122229 closed

[2022-01-04 20:38] jen-huang commented on #120736
Closing as #120897 was merged.

[2022-01-04 20:38] #120736 closed

[2022-01-04 20:49] mostlyjason commented on #118967
I think Dede's suggestion is reasonable given that we are planning to slowly deprecate these pages, and it gives users better instructions that will help them avoid the security problem. Today, users have no visibility on that page that it presents a security problem or how to resolve it, and this text will address that. It requires a lower level of effort which seems to align with the fact that w

[2022-01-04 20:53] jen-huang commented on #121953
This is expected behavior per current UX designs. It should only default to Fleet Server policy when `Add Fleet server` is clicked. In all other cases the `Add agent` button is unchanged (defaults to normal Default policy).

[2022-01-04 20:53] #121953 closed

[2022-01-04 20:53] ghudgins commented on #17726
+1 I know of one user who wants it at the Data View level because they want to simplify Discover for their end users (they have a lot of fields from beats). I think localstorage would be useful as well (as soon as any users makes changes to the display...remember them)

[2022-01-04 20:58] ryankeairns commented on #112109
It appears the check varies between the Home and Overview pages as linked in the 4th bullet point above. The Home page appears to use `hasUserIndexPattern` while the Overview page uses `hasUserDataView`.  I'm not 100% certain which is more correct, it just struck me that we should do apply this uniformly thus the recommendation for a centralized/shared check.

[2022-01-04 20:58] bryce-b commented on #117921
@lucasfcosta I'm wondering if this is a data streams issue? I've tried this twice on cloud 8.0 & 8.1 snapshot.
I was trying to send real data from my iOS device and it's still not showing up in the exploratory view. I noticed that when I open it in lens it shows the search indices as `(mobile-data-view)*,traces-apm*,apm*`. I'm not sure what `(mobile-data-view)*` is. Is this an alias? It should be

[2022-01-04 21:01] bryce-b commented on #117921
here's a timeseries showing the test data showing up (November) but not `.ds-metrics-apm.*` metrics (Today)

[2022-01-04 21:06] ghudgins commented on #75758
I wouldn't start on this until https://github.com/elastic/elastic-charts/issues/615 makes progress (currently in design) CC @gvnmagni @markov00

[2022-01-04 21:08] #120808 closed

[2022-01-04 21:14] simianhacker opened #122292 "[Metrics UI] Inventory Threshold rule does not honor "time unit""
**Kibana version:**
main

**Elasticsearch version:**
main

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
When the user sets the "FOR LAST x units" the query for the Inventory Alerts defaults to `60s`. This is due to the fact that we are not setting `forceInterval` on the `timerange` for `getNodes`.

**Steps to reproduce:**
1. Index some Met

[2022-01-04 21:15] paulb-elastic commented on #116362
Even adding an additional email connector (alongside the default added in Cloud) isn't available in the Uptime Settings drop down

[2022-01-04 21:19] stephmilovic commented on #122117
hmm... this component comes from kibana team. @mattkime can you disable the save button in your component if the script is invalid?

[2022-01-04 21:21] stephmilovic commented on #122114
@mattkime I think this component is yours too

[2022-01-04 21:25] stephmilovic commented on #122112
this is an enhancement request for @mattkime team

[2022-01-04 21:28] stephmilovic commented on #122067
this is the alerts page, i believe @marshallmain team?

[2022-01-04 21:33] mdefazio commented on #75758
I didn't look closely into the elastic-charts issue for the tooltips redesign, but based on the screenshot, the map example is using a popover and the viz/chart is using a tooltip.  Apart from visual styling, the primary difference here is that tooltips do not allow interactions within them since it is occurring on hover. Whereas the maps example has several interactions and therefore needs a diff

[2022-01-04 21:40] jen-huang commented on #121988
Closing:
- Scenario 1 is a duplicate of an issue where the default policy is being generated with the literal string `undefined` as its ID, this needs to be fixed: https://github.com/elastic/kibana/issues/122181#issuecomment-1005128371
- Won't fix Scenario 2 - the auto suggest simply suggests all possible values, regardless of there are enrollment keys available for a particular policy. This UX is

[2022-01-04 21:40] #121988 closed

[2022-01-04 21:42] stephmilovic commented on #122019
asking @paulewing if timelines are expected to be backwards compatible, i dont think so?

[2022-01-04 21:47] kpollich commented on #112095
Yes this shouldn't be a problem. We can make it clear in the manual process that bundled packages should come from staging, and then when we automate the process enforce the same rule. Thanks for the clarity here!

[2022-01-04 21:47] stephmilovic commented on #122010
This bug straddles the line between @michaelolo24 , @marshallmain , and my teams. My first question is why does Template timeline still have `.siem-signals-default` for default in 8.0?  @angorayc may know more about how the timeline template is created

[2022-01-04 21:50] stephmilovic commented on #122009
Could you please retest? This PR may have fixed the issue: https://github.com/elastic/kibana/pull/121109

Just FYI, the security solution generates the Data View. The one you created will not be the default, instead a new Data View will be created if the original has been deleted

[2022-01-04 21:52] jen-huang commented on #122127
Closing: the root cause in #122126 should be fixed. Otherwise the error behavior here is correct and the user can simply update the name as a workaround in order to save or upgrade.

[2022-01-04 21:52] #122127 closed

[2022-01-04 21:55] jen-huang commented on #122150
Looks like the enabled modules are new ones introduced with the new version of AWS package. There's not much we can do here as the package specifies those modules to be 1) enabled by default and 2) requires user input to set up correctly (hence the lack of auto-upgrade of policies). Closing as won't fix.

[2022-01-04 21:55] stephmilovic commented on #121942
This is known and under Eui, I am working on finding the Eui issue number

[2022-01-04 21:57] elasticmachine commented on #122298
Pinging @elastic/fleet (Team:Fleet)

[2022-01-04 21:58] jen-huang commented on #122298
We need to remove the option to Add agent on this table for managed policies, similar to how we do it in Fleet > Agent policies table.

[2022-01-04 21:58] stephmilovic commented on #121278
@karanbirsingh-qasource I am confused by your video and the description of this issue. The Data View selector appears to be working correctly as you switch back and forth between the 2 timelines. Is the issue with the time select?

when you change the data view on another timeline, we do not expect timeline #1 to change data views. It is expected that it remain set to Alerts only.

[2022-01-04 22:00] elasticmachine commented on #122192
Pinging @elastic/apm-ui (Team:apm)

[2022-01-04 22:03] stephmilovic commented on #90761
@machadoum can you please get @jamster10 up to speed on this? we need a fix for 7.17. Feature freeze is Tue, Jan 18.

[2022-01-04 22:03] jen-huang commented on #121260
#74353 is still outstanding, closing in favor of that.

[2022-01-04 22:03] #121260 closed

[2022-01-04 22:09] jen-huang commented on #121979
Closing, no issue here: the count here refers to the *total* number of agents shown on the table across all pages.

The only time `Showing X out of Y agents` text format shows is when there are > 10,000 agents.

[2022-01-04 22:09] #121979 closed

[2022-01-04 22:17] jen-huang commented on #121952
This is the wrong assertion. Clicking `Add Fleet server` button should show instructions to enroll into a default Fleet Server policy.

@nchaulet Can you investigate this bug?

[2022-01-04 22:18] #121942 closed

[2022-01-04 22:19] jen-huang commented on #121933
As Jason says, there is generally no restriction on adding the same integration multiple times as there are legitimate use cases. Endpoint package is one example that can only be added once per agent policy.

Closing.

[2022-01-04 22:19] #121933 closed

[2022-01-04 22:21] jen-huang commented on #122228
@nchaulet I recall that this worked when these steps were initially implemented. Can you take a look?

[2022-01-04 22:29] jen-huang commented on #122202
Looks like this was due to EUI changes #5362 from the recent upgrade (#120935). @criamico, can you take a look at this?

[2022-01-04 22:31] dhurley14 commented on #118767
The only other area I could imagine being an issue is if a user has a legacy action side car (`siem.notifications` rule) which has a reference to the SO _id of the rule. But looking through the code we don't really use that anywhere. I thought it might be used for grabbing signals generated by that rule but we query by the signature id `rule_id` which remains unchanged between kibana versions..

I

[2022-01-04 22:33] ThomThomson opened #122300 "[ML][Dashboard] Standardize Add Embeddable from Anomaly Explorer Page"
Blocks https://github.com/elastic/kibana/issues/103846
Related to https://github.com/elastic/kibana/pull/68784

The Add Embeddable from Swimlane Explorer Page should be updated and standardized in order to give users of the ML plugin and ML Swimlane Embeddable an experience which is more aligned with the rest of Kibana.

 - [ ] The ability to `quick add` should be removed, so that users cannot mod

[2022-01-04 22:33] elasticmachine commented on #122300
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-04 22:35] jen-huang commented on #120735
cc @mostlyjason for awareness

[2022-01-04 23:12] #119976 closed

[2022-01-04 23:17] elasticmachine commented on #122292
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-05 00:29] jen-huang commented on #121599
I'm not sure that this is related to #121059 since in this case, the integration policies with the same names were created using a version prior to our global-uniqueness change. This was also reported in #122127 which I closed as the workaround is easy - the user can simply update the policy name. Going to close this one with the same reason, MK if you feel differently.

[2022-01-05 00:29] #121599 closed

[2022-01-05 00:34] jen-huang commented on #121619
I think Josh is correct in that this is expected behavior and I think it is reasonable to assume that the UI is showing the list of current integrations. The user can always go to the Logs tab and filter down manually to logs collected prior to being disabled. Closing as won't fix.

[2022-01-05 00:34] #121619 closed

[2022-01-05 00:37] jen-huang commented on #121515
@sagarnagpal-qasource The argument for adding an additional action simply for the sake of displaying a 3 dot menu is not a great one IMO. While the lack of 3 dot menu may feel "inconsistent", it is consistent with Kibana EUI design patterns (https://elastic.github.io/eui/#/tabular-content/tables#adding-actions-to-table), and we also lack 3 dot menu in the Enrollment tokens table.

Closing as won't

[2022-01-05 00:37] #121515 closed

[2022-01-05 00:39] jen-huang commented on #121854
@joshdover Did you mean to reopen this one? Closing in case not, but feel free to reopen if that was actually right.

[2022-01-05 00:39] #121854 closed

[2022-01-05 00:42] nchaulet commented on #122228
I was able to reproduce the bug, is not possible to have mixed http and https fleet server hosts in the settings, but we have the bug as the error is not thrown I am going to address it.

[2022-01-05 00:55] jen-huang commented on #122016
@joshdover I was able to replicate this on a 7.16.2 instance, after updating the deployment name and restarting Kibana. It seems that maybe the `cloud` plugin no longer provides all the Cloud information after the restart?

[2022-01-05 01:07] jen-huang commented on #121064
This is because for the other integrations, you already upgraded the integration itself, but the _integration policies_ themselves have not been upgraded to the latest version available on your instance.

Thank you for the enhancement ideas. Package authors can publish change logs between versions that we can display, though I suppose we may be displaying _a lot_ of changelogs depending on how man

[2022-01-05 01:26] jen-huang commented on #121069
@mostlyjason Could be interesting to expose agent settings at the policy level for:
- download timeout (this issue)
- download source URI (https://github.com/elastic/kibana/issues/100413)
- auto-upgrading agents (https://github.com/elastic/kibana/issues/120735)

[2022-01-05 01:27] marshallmain commented on #122067
It appears this is happening because the alerts table is integrated with Sourcerer which is handling the `runtimeMappings`, passing them in to the Search Strategy request. The histogram panel is fetched using the `/api/detection_engine/signals/search` API instead and is not using the runtime mappings.

@stephmilovic in the short term, how much effort would it be to make the runtime mappings from S

[2022-01-05 02:28] matschaffer commented on #118866
Pretty sure @elastic/observability-ui is done (prs are merged) so I marked that as green.

[2022-01-05 02:53] kibanamachine commented on #116059
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7024#4c5e0424-ab1e-4852-8897-de50372b2eca)

[2022-01-05 03:26] petermorin123 commented on #90761
Thanks folks. Loving ELK, but the map error just drives me insane:)

[2022-01-05 03:40] yuwtennis commented on #45979
I think `1Gi`  is a good value to start. I use eks and  kibana pod would not even start if if the `requests.memory` is  `500Mi` .
It started if I requested `1Gi` .

[code]

## Error
[code]

[2022-01-05 05:25] deepikakeshav-qasource commented on #122111
Hi @michaelolo24 ,

We have validated this ticket on **7.17.0 SNAPSHOT** and found that issue is also **occurring** on 7.17.0.
Please find the below testing details:

**Build Details:**
[code]

**Screen Record:**

https://user-images.githubusercontent.com/61860752/148164753-9d6ffff1-b3d0-4429-9d74-44c93c866eca.mp4

Thanks!!

[2022-01-05 05:48] karanbirsingh-qasource commented on #121845
sure @michaelolo24  we will wait for the response of other members about this ticket and thanks for providing the current functioning of time sync within timelines in detail.

[2022-01-05 05:54] deepikakeshav-qasource commented on #99760
Hi @MadameSheema ,

We have validated this ticket on **7.17.0 SNAPSHOT** and found that issue is also **occurring** on 7.17.0. Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148165073-ca536404-9afe-4673-ab96-ecb94600535f.png)

Thanks!!

[2022-01-05 06:01] samratbhadra-qasource commented on #122182
Hi @legrego,
Thanks for the feedback and confirmation on the expected behavior. We have just seen different behaviors in both the builds and as your feedback it is cleared now.

Hence, **closing** this issue.
Thanks!!

[2022-01-05 06:01] #122182 closed

[2022-01-05 06:35] kibanamachine commented on #122137
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7035#dbfa5bdb-61a6-449f-9bd5-086d3eb302bf)

[2022-01-05 06:59] karanbirsingh-qasource commented on #121278
ok thanks @stephmilovic  for the clarification our main issue concern was data source change done in one timeline ( let say timeline # 1 ) should remain same in other timelines ( timeline # 2 and so on ) just like if we set any data source on host page the same data source is showing on network and overview pages, but as you mentioned we are not expecting to change data views in timeline . so we a

[2022-01-05 06:59] #121278 closed

[2022-01-05 07:24] deepikakeshav-qasource commented on #122009
yes @stephmilovic ,thanks for sharing the details and yes, we are aware that once deletion of default data view it get regenerated at own as user navigated to security app .

but we are doing some steps before navigating to security app or we can say before auto data view regeneration then in that case due to our created data view starts causing the conflict with the auto generation one

We have v

[2022-01-05 07:28] pgayvallet commented on #118866
Thanks to everyone for working on this.

I still see a few teams that don't seem to have opened issues or PRs yet to track their part of the task:
- @elastic/kibana-app-services
- @elastic/fleet
- @elastic/kibana-gis
- @elastic/security-solution

For those teams, even if you did not yet start working on this issue, could you please link your section to either a PR or an issue so that I can track t

[2022-01-05 07:33] kertal commented on #17726
@ghudgins do you think there's a use case beyond Discover?

[2022-01-05 07:37] pgayvallet commented on #122237
I confirm this is under our team's scope. I will take a look.

[2022-01-05 07:39] pgayvallet commented on #122237
@samratbhadra-qasource could you please make an export (using the same SO management section) of the `tags` objects from an instance reproducing this bug? I'd like to check something.

[2022-01-05 08:12] formgeist commented on #121948
@miltonhultgren I checked and the `timepicker:timeDefaults` is respected in APM, also if the user chooses to change it, so not sure where the 2 hours range comes from? All the places you've found 2 hours to be the default value could that actually be respecting the timepicker default set in Kibana settings?

**Overview: Kibana default setting**
Alerts Last: 15 minutes
Log stream: Last 1 day
Log an

[2022-01-05 08:27] karanverma-qasource commented on #122190
Hi @cnasikas,

We have a query regarding above issue, when custom user have READ access of Saved Objects management then ideally import/export functionality should not be accessible by the user but in the above observation it's accessible. Please correct me if am missing something.

Thanks !

[2022-01-05 08:28] karanverma-qasource commented on #122011
Hi @michaelolo24 ,

We have validated above issue on 7.16.0 build and it's working fine on it, but not working on 8.0.0 Snapshot build.

[code]

**7.16.0**
![image](https://user-images.githubusercontent.com/91867110/148178361-4cd15bd9-7057-416c-83f4-c7836e8c966b.png)

![image](https://user-images.githubusercontent.com/91867110/148178472-cfec0bd5-2010-4e6d-8bcd-487164c6f847.png)

**8.0.0 Snapshot**

[2022-01-05 08:34] cnasikas commented on #119930
@MadameSheema The backports have been merged.

[2022-01-05 08:38] samratbhadra-qasource commented on #122237
Hi @pgayvallet,
Please find below the exported `tags` objects.
[export.zip](https://github.com/elastic/kibana/files/7812998/export.zip)

Please let us know if anything else is required from our end.

[2022-01-05 08:40] cnasikas commented on #122190
Hi @karanbirsingh-qasource! The code and the functionality of Saved Objects management are controlled by the Kibana core team. Cases have nothing to do with this behavior and we cannot do anything to address it.

[2022-01-05 08:46] flash1293 opened #122312 "[TSVB] TopN series without data rendered as value 1 in original position"
**Kibana version:** 7.14.0

**Describe the bug:** In top n view if there are series without data, the bar is rendered as the value 1 with no regard for the other values. This can cause weird behavior:
<img width="818" alt="Screenshot 2022-01-05 at 09 40 33" src="https://user-images.githubusercontent.com/1508364/148186994-07299975-1394-43a4-8065-4be23f6b5408.png">

"Damaging wind" has no data, but

[2022-01-05 08:46] elasticmachine commented on #122312
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-05 08:51] deepikakeshav-qasource commented on #122232
Hi @yctercero ,

Thank you for providing the details. As this is expected behavior we are closing this issue.

Thanks!!

[2022-01-05 08:51] #122232 closed

[2022-01-05 08:53] pgayvallet commented on #122237
Ok, this is what I was suspecting. This is caused by tags having a name starting with whitespaces, such as this one:

[code]

I can reproduce locally:

<img width="1654" alt="Screenshot 2022-01-05 at 09 40 31" src="https://user-images.githubusercontent.com/1532934/148187153-bc56dbf9-64b6-49c7-bc73-2bbd22d1940c.png">

Note that we're just directly using the `filters` property of the `EuiSearchBar`

[2022-01-05 08:53] deepikakeshav-qasource commented on #119633
Hi @MadameSheema ,

We have validated this issue on **latest 8.0.0 SNAPSHOT**. Please find the below observations:

**Build Details:**
[code]

- `threat.enrichments.matched` fields are displayed  in the alerts details view under table tab.

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148184085-b34f5a4a-ec18-4bd0-968c-e440baae5641.png)

- `threat.enrichments.matched`

[2022-01-05 08:56] miltonhultgren commented on #121948
@formgeist You're absolutely right, my bad!
I had "Last 2 hours" set in my Advanced Settings on my remote cluster which I used when testing this. I'll update the main description.

[2022-01-05 09:02] #122116 closed

[2022-01-05 09:16] amolnater-qasource commented on #122150
Hi @jen-huang
Firstly user has installed Dynamodb integration which only enabled dynamodb module.
If user upgrades this integration with not any requirement of any other module, then as per our understanding it should be disabled.
As on enabled not-required modules, it will throw unnecessary errors.
We assume its not required.

**Suggestion:**
- Newly added modules for upgrade, should be disabled

[2022-01-05 09:16] amolnater-qasource commented on #121933
Thanks @mostlyjason & @jen-huang for sharing information regarding clarity for use-case of adding same integration multiple times to an agent policy.

[2022-01-05 09:17] amolnater-qasource commented on #121979
Thanks @jen-huang for describing the correct behaviour for this area.

[2022-01-05 09:18] flash1293 commented on #122170
@BenB196 makes sense, I will reopen, thanks for explaining.

[2022-01-05 09:24] gvnmagni commented on #75758
I think we'll have to make a custom version of the tooltip for the maps given the number of functionalities needed. At the same time some of the problems we have, that probably drove people to use a popover instead of a tooltip are going to be solved by some of the new features (sticky tooltip, actions within tooltip...) so I'm confident in saying that we are going in the right direction to make m

[2022-01-05 09:24] karanverma-qasource commented on #122190
Hi @cnasikas

Thank you for your observations on the above ticket.

[2022-01-05 09:24] #122190 closed

[2022-01-05 09:27] MadameSheema commented on #119930
@karanbirsingh-qasource can you please validate the fix of this issue on 7.17 and 8.0 branch? Thanks! :)

[2022-01-05 09:34] darnautov commented on #122300
hey @ThomThomson! do you need assistance with this?

[2022-01-05 09:44] #122086 closed

[2022-01-05 09:45] #118584 closed

[2022-01-05 09:47] lucasfcosta commented on #120352
This is waiting on us to actually redo what we were testing. As @dominiqueclarke mentioned yesterday, it seems like we can't test this issue because of other changes upstream.

@dominiqueclarke can you confirm that's accurate? If not, is there anything else we can do to push this forward?

[2022-01-05 10:09] gmmorris commented on #121663
The document has been completed and reviewed by @cnasikas .

Thank Yuliia

[2022-01-05 10:09] #121663 closed

[2022-01-05 10:27] afgomez opened #122318 "[Unified Observability] Replace deprecated `IndexPattern` types"
Kibana has replaced the `IndexPattern` concept with `DataView`. We have some usages in the old type in the observability plugin that we need to replace.

[2022-01-05 10:34] kibanamachine commented on #92567
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7047#7dc0465b-18be-4327-96a8-d6b7b7688e99)

[2022-01-05 10:38] joshdover commented on #118866
I've added our tracking issue (https://github.com/elastic/kibana/issues/119250) to the description for the Fleet team. Work has already begun, should have a PR up soon.

[2022-01-05 11:34] kertal commented on #81576
closing this for now there was just one test failure  in the last 3 months on a internal windows build, so it's not flaky
<img width="1526" alt="Bildschirmfoto 2022-01-05 um 12 31 19" src="https://user-images.githubusercontent.com/463851/148211153-d4353f14-6994-4a22-91c5-7e50d8c9bb73.png">

[2022-01-05 11:34] #81576 closed

[2022-01-05 11:35] deepikakeshav-qasource opened #122323 "[Security Solution] Horizontal scroll bar is not displayed on full screen if page contains more than 10 alerts"
**Describe the bug**
Horizontal scroll bar is not displayed on full screen if page contains more than 10 alerts

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 snapshot
2. More than 10 alerts should be generated

**Steps to Reproduce**
1. Navigate to alerts table under security
2. Click on full screen icon under alerts tab
3. Observe tha

[2022-01-05 11:35] elasticmachine commented on #122323
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-05 11:40] kibanamachine commented on #111667
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7050#500170e0-1a82-4299-a5be-cfe25aacfb58)

[2022-01-05 11:43] #120338 closed

[2022-01-05 12:02] stratoula opened #122325 "[XY] Charts with percentiles and percentage mode drop the percentage formatting"
**Kibana version:**
It didn't work correctly in vislib too

**Describe the bug:**
If you create a percentiles XY chart and change the mode to percentage, you will see on the axis that the percentage format is not respected

**Steps to reproduce:**
1. Create a timeseries bar chart with percentiles as metric
2. Change the mode to percentage
3. Check the y axis format

![image](https://user-images.gi

[2022-01-05 12:02] elasticmachine commented on #122325
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-05 12:08] joshdover opened #122326 "[Fleet] Remove usage of deprecated Kibana APIs"
See full list: https://docs.elastic.dev/kibana-dev-docs/api-meta/deprecated-api-list-by-plugin#fleet

- [ ] Index pattern -> data view rename and related deprecations
	- **These deprecations are supposed to be fixed during 8.1**
	- [ ] `data.fieldFormats`
		- Should switch to getting this from the new `fieldFormats` plugin rather than `data` plugin
		- Usage in data stream list view: https://githu

[2022-01-05 12:08] elasticmachine commented on #122326
Pinging @elastic/fleet (Team:Fleet)

[2022-01-05 12:08] joshdover commented on #122326
@jen-huang I think we should schedule the data view related deprecations for 8.1. This is likely very low effort.

[2022-01-05 12:24] nreese opened #122328 "[maps] map application crashes when leaving map while drawing filter."
**Steps to reproduce:**
1. Install web logs sample data. Open map shipped with sample data
2. Click wrench icon in map, select "draw bounds" option, and finally click "Draw bounds" button.
3. Hit "maps" link in bread crumbs to go back to maps listing page. Notice the maps application is now broken.

<img width="800" alt="Screen Shot 2022-01-05 at 7 19 30 AM" src="https://user-images.githubusercont

[2022-01-05 12:24] elasticmachine commented on #122328
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-05 12:25] stratoula commented on #120449
@Kilhog we managed to replicate it. We will try to apply a fix in a future version.
I could propose though to use Lens instead of TSVB.

It seems that the bug is not present there and judging from your TSVB configuration, you can re-create it in Lens.

Lens support timeshift and cumulative sum.

This is an example of how you can configure it in Lens. I added two layers (one area stacked and one no

[2022-01-05 12:28] stratoula commented on #120870
@Kilhog we could also reproduce this. We are not 100% sure why this happens. The problem is that the timeseries interval changes from 24hours to 7days. If you change the interval to 1d, you will be able to see your series

![image](https://user-images.githubusercontent.com/17003240/148217661-c5b5b2cf-6845-4b61-b6ba-13d790ce00fd.png)

[2022-01-05 12:35] joshdover commented on #117015
Closing since setup now happens on boot and not when loading the Fleet UI

[2022-01-05 12:35] #117015 closed

[2022-01-05 12:37] joshdover commented on #118967
Great suggestion, Dede. SGTM 👍

[2022-01-05 12:38] joshdover commented on #121238
Think we're good here, closing.

[2022-01-05 12:38] #121238 closed

[2022-01-05 12:41] joshdover commented on #121854
I was thinking there was missing metadata still, but I'm wrong. We're good here.

[2022-01-05 12:54] oldrich-svec opened #122329 "[Lens] Wrong series ordering in legend"
**Kibana version**: v 7.16.2

**Description of the problem including expected versus actual behavior**:

 * Before update to v 7.16.2 the series in the legend were sorted as largest series in the top
 * After update to v 7.16.2 the largest series is sorted at the bottom of the legend (figure 1)
 * If I change "Rank direction" from "descending" to "ascending" the largest series is at the top but th

[2022-01-05 12:56] Kilhog commented on #120870
@stratoula Yes indeed, with 1d interval I see the series
<img width="1090" alt="Screenshot 2022-01-05 at 13 54 18" src="https://user-images.githubusercontent.com/4045682/148221066-2b1d3769-1d69-42b8-89c5-d2a46d76e7b3.png">

[2022-01-05 12:56] joshdover opened #122330 "[Fleet] Agent policy unenrollment timeout should have a sane minimum"
It's currently possible to set the unenrollment timeout to something absurdly low, such as 5 seconds. This can cause agents to unenroll quite frequently which is painful to correct for Fleet users. This can be especially painful when Fleet Server encounters high load and cannot respond quickly enough to Agent check-ins (see https://github.com/elastic/fleet-server/issues/741).

We should avoid prov

[2022-01-05 12:56] elasticmachine commented on #122330
Pinging @elastic/fleet (Team:Fleet)

[2022-01-05 13:16] sachin-frayne commented on #121129
This is also affecting the `monitoring.ui.elasticsearch.hosts`, I cannot see monitoring data in my main Kibana from the data in the Elasticsearch Monitoring cluster.

[2022-01-05 13:26] MadameSheema commented on #117335
Closing since the test has not failed for more than one month.

Ping @michaelolo24

[2022-01-05 13:26] #117335 closed

[2022-01-05 13:36] kevinlog commented on #92567
Adding the above to a PR against `main` which will be backported to 7.17.

successful flaky test runs on 7.17 and main:
https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/54
https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/58

PR to be merged: https://github.com/elastic/kibana/pull/122275

[2022-01-05 13:44] MadameSheema commented on #117312
Closing since the test has not failed for more than one month.

[2022-01-05 13:44] #117312 closed

[2022-01-05 13:45] MadameSheema commented on #117111
Closing since the test has not failed for more than one month.

[2022-01-05 13:45] #117111 closed

[2022-01-05 13:46] MadameSheema commented on #117061
Closing since the test has not failed for more than one month.

[2022-01-05 13:46] #117061 closed

[2022-01-05 13:47] MadameSheema commented on #117057
Closing since the test has not failed for more than one month.

[2022-01-05 13:47] #117057 closed

[2022-01-05 13:48] MadameSheema commented on #116926
Closing since the test has not failed for more than one month.

[2022-01-05 13:48] #116926 closed

[2022-01-05 13:48] MadameSheema commented on #116904
Closing since the test has not failed for more than one month.

[2022-01-05 13:48] #116904 closed

[2022-01-05 13:48] MadameSheema commented on #116895
Closing since the test has not failed for more than one month.

[2022-01-05 13:48] #116895 closed

[2022-01-05 13:49] MadameSheema commented on #116893
Closing since the test has not failed for more than one month.

[2022-01-05 13:49] #116893 closed

[2022-01-05 13:49] MadameSheema commented on #116753
Closing since the test has not failed for more than one month.

[2022-01-05 13:49] #116753 closed

[2022-01-05 13:49] MadameSheema commented on #116680
Closing since the test has not failed for more than one month.

[2022-01-05 13:49] #116680 closed

[2022-01-05 13:50] MadameSheema commented on #116536
Closing since the test has not failed for more than one month.

[2022-01-05 13:50] #116536 closed

[2022-01-05 13:50] MadameSheema commented on #116521
Closing since the test has not failed for more than one month.

[2022-01-05 13:50] #116521 closed

[2022-01-05 13:59] #109115 closed

[2022-01-05 14:01] MadameSheema commented on #116433
Closing since the test has not failed for more than one month.

[2022-01-05 14:01] #116433 closed

[2022-01-05 14:02] MadameSheema commented on #116196
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #116196 closed

[2022-01-05 14:02] MadameSheema commented on #116072
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #116072 closed

[2022-01-05 14:02] MadameSheema commented on #116069
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #116069 closed

[2022-01-05 14:02] MadameSheema commented on #116067
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #116067 closed

[2022-01-05 14:02] MadameSheema commented on #116057
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #116057 closed

[2022-01-05 14:02] MadameSheema commented on #115861
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #115861 closed

[2022-01-05 14:02] MadameSheema commented on #115750
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #115750 closed

[2022-01-05 14:02] MadameSheema commented on #115680
Closing since the test has not failed for more than one month.

[2022-01-05 14:02] #115680 closed

[2022-01-05 14:03] MadameSheema commented on #112701
Closing since the test has not failed for more than one month.

[2022-01-05 14:03] #112701 closed

[2022-01-05 14:03] MadameSheema commented on #112526
Closing since the test has not failed for more than one month.

[2022-01-05 14:03] #112526 closed

[2022-01-05 14:03] MadameSheema commented on #112219
Closing since the test has not failed for more than one month.

[2022-01-05 14:03] #112219 closed

[2022-01-05 14:03] MadameSheema commented on #112218
Closing since the test has not failed for more than one month.

[2022-01-05 14:03] #112218 closed

[2022-01-05 14:03] MadameSheema commented on #110424
Closing since the test has not failed for more than one month.

[2022-01-05 14:03] #110424 closed

[2022-01-05 14:12] MadameSheema commented on #115851
@marshallmain @peluja1012 is there any plan about working on this? if not, please close the ticket. Thanks.

[2022-01-05 14:13] weltenwort opened #122338 "[Stack Monitoring] ES nodes can't be sorted by status"
## :notebook: Summary

Clicking the "status" column header in the Elasticsearch nodes list page of stack monitoring doesn't change the table sorting.

version: main as of 8a1f595e493

## :1234: Steps to reproduce

- Find or set up an Elasticsearch cluster with multiple nodes, with different status (e.g. online and offline)
- Navigate to stack monitoring in Kibana
- Enable monitoring
- Navigate to

[2022-01-05 14:13] elasticmachine commented on #122338
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-05 14:17] ecezalp commented on #119633
thank you @deepikakeshav-qasource!

Observed behavior is expected. If an event is enriched in 7.16 it will have threat.indicator fields. if it is enriched in 8.0 it will have threat.enrichments fields. the most important part of this work is that the JavaScript error is no longer present with the CTI row renderer.

Are you able to verify that there are no javascript errors when a CTI event is view

[2022-01-05 14:23] fkanout opened #122339 "[RAC][APM][BUG] Latency threshold rule creation fails with default values for SERVICE and TYPE."
It affects  **Kibana version**: **v8.0.0** and **v7.16.0**

# Summery
Creating an APM rule with **Latency threshold** type will fail when using the default value `ALL` for `SERVICE` and `TYPE` fields

# How to reproduce:
1. From the Kibana navigation sidebar, go to **Stack Management**
2. Click  **Rules and Connectors**
3.  **Create rule**
4. Choose from the flying overlay **Latency threshold** ty

[2022-01-05 14:42] stratoula commented on #120449
An update here for whoever would like to take it.
The problem is the utc used here https://github.com/elastic/kibana/blob/60500c20afbaa1707f52015c4722ae83f4a47473/src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/series/time_shift.js#L24 as I mentioned above.

If you remove the utc, the bug is fixed but unfortunately it creates another bug. It doesn't work fine with the fix

[2022-01-05 14:52] stephmilovic commented on #121390
This is under @marshallmain team. It looks like the new alerts index is not picking up the `.siem-signals`. The user updates from 7.16, where they had alerts on  `.siem-signals` but when they go to 8.0 the alerts are not shown.

[2022-01-05 14:54] lukeelmers opened #122343 "[saved objects] Type validation enhancements"
In https://github.com/elastic/kibana/issues/104088 we agreed that for our initial implementation of Saved Objects type validations, we'd stick with validating types during `create` and `bulkCreate` operations. This was implemented in https://github.com/elastic/kibana/pull/118969

However, in the course of our discussion on the issue, we identified a few possible enhancements to consider for the fu

[2022-01-05 14:54] lukeelmers commented on #104088
https://github.com/elastic/kibana/pull/118969 has merged with support for `create` and `bulkCreate`, so I will go ahead and close this issue as it represents what we wanted to accomplish for a first iteration.

I've opened https://github.com/elastic/kibana/issues/122343 to track some of the potential follow-ups we discussed here.

[2022-01-05 14:55] #104088 closed

[2022-01-05 15:06] MadameSheema commented on #110153
Closing since the test has been unskipped.

[2022-01-05 15:08] MadameSheema commented on #108625
Closing since the test has not failed for a long time.

[2022-01-05 15:08] #108625 closed

[2022-01-05 15:13] MadameSheema commented on #106941
Closing since the test has not failed for a long time.

[2022-01-05 15:13] #106941 closed

[2022-01-05 15:13] MadameSheema commented on #106244
Closing since the test has not failed for a long time.

[2022-01-05 15:13] #106244 closed

[2022-01-05 15:14] MadameSheema commented on #108311
Closing since the test has not failed for a long time.

[2022-01-05 15:14] #108311 closed

[2022-01-05 15:14] MadameSheema commented on #104343
Closing since the test has not failed for a long time.

[2022-01-05 15:14] #104343 closed

[2022-01-05 15:14] MadameSheema commented on #103039
Closing since the test has not failed for a long time.

[2022-01-05 15:14] #103039 closed

[2022-01-05 15:16] MadameSheema commented on #101702
Closing since the test has not failed for a long time.

[2022-01-05 15:16] #101702 closed

[2022-01-05 15:16] MadameSheema commented on #101700
Closing since the test has not failed for a long time.

[2022-01-05 15:16] #101700 closed

[2022-01-05 15:16] #101701 closed

[2022-01-05 15:16] MadameSheema commented on #100972
Closing since the test has not failed for a long time.

[2022-01-05 15:16] #100972 closed

[2022-01-05 15:17] #99394 closed

[2022-01-05 15:17] MadameSheema commented on #97971
Closing since the test has not failed for a long time.

[2022-01-05 15:17] #97971 closed

[2022-01-05 15:17] MadameSheema commented on #97365
Closing since the test has not failed for a long time.

[2022-01-05 15:17] MadameSheema commented on #97358
Closing since the test has not failed for a long time.

[2022-01-05 15:17] #97358 closed

[2022-01-05 15:17] MadameSheema commented on #97345
Closing since the test has not failed for a long time.

[2022-01-05 15:17] #97345 closed

[2022-01-05 15:18] MadameSheema commented on #92116
Closing since the test has not failed for a long time.

[2022-01-05 15:18] #92116 closed

[2022-01-05 15:18] MadameSheema commented on #92007
Closing since the test has not failed for a long time.

[2022-01-05 15:18] #92007 closed

[2022-01-05 15:18] MadameSheema commented on #91182
Closing since the test has not failed for a long time.

[2022-01-05 15:18] #91182 closed

[2022-01-05 15:20] MadameSheema commented on #91360
Closing since the test is no longer skipped.

[2022-01-05 15:20] #91360 closed

[2022-01-05 15:21] MadameSheema commented on #88467
Closing since the test has not failed for a long time.

[2022-01-05 15:21] #88467 closed

[2022-01-05 15:22] #85085 closed

[2022-01-05 15:23] MadameSheema commented on #84988
@liza-mae is this still an issue?

[2022-01-05 15:23] MadameSheema commented on #84987
@liza-mae is this still an issue?

[2022-01-05 15:23] MadameSheema commented on #84986
@liza-mae is this still an issue?

[2022-01-05 15:23] #83570 closed

[2022-01-05 15:23] #83386 closed

[2022-01-05 15:24] #69596 closed

[2022-01-05 15:24] #60209 closed

[2022-01-05 15:31] kpatticha commented on #122134
it could be an env issue

[2022-01-05 15:42] ymao1 opened #122346 "[Actions] Fix `Cannot read properties of undefined (reading 'password')` error when executing decryption-error migrated connectors"
When connector (`action`) saved objects are migrated, they are decrypted using the ESO plugin. In the event of decryption errors that can occur if the encryption key gets changed or lost, the migration proceeds to ensure that the saved object is in the correct schema but the encrypted attributes (in this case `secrets`) is stripped from the saved object.

If this occurs, whenever action execution

[2022-01-05 15:43] elasticmachine commented on #122346
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 15:56] #67394 closed

[2022-01-05 16:04] #122228 closed

[2022-01-05 16:07] ThomThomson commented on #122300
Hi @darnautov, likely we will need to work on it together. I can't prioritize this yet, but it is quite important. Do the requirements sound good to you?

[2022-01-05 16:20] lucasfcosta opened #122355 "[Uptime] Monitor list page is not responsive"
**Kibana version:** `8.1.0-SNAPSHOT`

**Elasticsearch version:** `8.1.0-SNAPSHOT`

**Server OS version:** MacOS Big Sur 11.6

**Browser version:** Version 96.0.4664.110 (Official Build) (x86_64)

**Browser OS version:** MacOS Big Sur 11.6

**Original install method (e.g. download page, yum, from source, etc.):** Running the whole stack using `elastic-package stack up`.

**Describe the bug:** The p

[2022-01-05 16:29] MadameSheema commented on #121613
@cjcenizal @yuliacech @Dosant any update regarding this issue? Are we going to support the CCS configuration with local on 7.16 or 7.17 and remote on 8.0? Thanks!

[2022-01-05 16:37] jasonrhodes commented on #121930
Are these using EUI components? I'd expect EUI to handle this ...

[2022-01-05 16:39] #121523 closed

[2022-01-05 16:44] jasonrhodes commented on #120384
Open question: Should the default for CCS enabled be "true"?

[2022-01-05 16:49] ghudgins commented on #12544
we are working on two features that I believe will allow you to do this (and many other exciting things)

https://github.com/elastic/kibana/issues/101942 - mapping specific colors to specific values across many visualization types. we’re also considering a sort of saved object approach to this palette specification so you don’t have to configure them for every visualization over and over again

ht

[2022-01-05 16:49] #12544 closed

[2022-01-05 16:53] jasonrhodes commented on #118592
As @smith mentioned in our current meeting, we might be able to get this from the cloud plugin as well?

[2022-01-05 16:54] #121346 closed

[2022-01-05 16:56] jasonrhodes commented on #121605
This may be a duplicate of (or related to) a similar re-rendering problem - https://github.com/elastic/kibana/issues/121261

[2022-01-05 17:01] snide commented on #121758
@gavinwye . I think this one could be fixed by using proper EUI components. Using the proper `EuiPage` components (like `EuiPageHeader`) would standardize this with the proper spacing / coloring. Right now the header for this page looks like it has a lot of overwrites. Just bringing that up because the solution here shouldn't be to use an overwrite and set it to `#000`. Also remember that we have

[2022-01-05 17:04] snide commented on #121758
While we're looking at this section, likely this weird tooltip needs some thought as well. Seems unnecessary?

![image](https://user-images.githubusercontent.com/324519/148258147-18a55b97-edb9-4f37-8805-eb95a3c86099.png)

[2022-01-05 17:04] kevinlog commented on #116510
Closing with this PR: https://github.com/elastic/kibana/pull/122336
Relevant flaky test runner: https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/70

[2022-01-05 17:04] #116510 closed

[2022-01-05 17:08] chrisronline opened #122362 "[Alerting] Phase 1 of AoA: First set of questions to answer"
Meta: https://github.com/elastic/kibana/issues/120542

For the first phase, we will answer the following questions from [the list](https://github.com/elastic/kibana/issues/121762):

Rule level

Task Manager

[2022-01-05 17:08] elasticmachine commented on #122362
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 17:12] chrisronline opened #122363 "[Alerting] Phase 2 of AoA: What metrics answer the first set of questions"
Meta: https://github.com/elastic/kibana/issues/120542

Based on the questions [from phase 1](https://github.com/elastic/kibana/issues/122362), determine which metrics need to be collected and how. For example, if the questions above require us to collect data for each individual rule, we need to ensure our indexing strategy will allow us to store data in a fashion that makes it easy to build alert

[2022-01-05 17:15] ghudgins commented on #17726
right now i'm struggling to think of one outside of Discover that doesn't muddy the waters with data view (index pattern) field popularity. maybe @shaunmcgough or the original poster has thoughts?

Even if it's only a Discover setting I think there's some nice upshot of moving this into the data view level though...
 - smarter defaults in ECS
 - admins can customize the experience for their users

[2022-01-05 17:16] snide commented on #121755
@gavinwye Suggested this on slack, but think we should close this and open a discussion in EUI, where this would need to be changed.

[2022-01-05 17:22] monina-n commented on #121279
@karanbirsingh-qasource's observation is correct and the most technically correct indicator would be "Alerts" in that scenario

[2022-01-05 17:32] bhavyarm opened #122365 "Kibana is not helping the user fix errors on saved objects for deprecated scripted field doc['timestamp'].value.hourOfDay"
**Kibana version:** 8.0.0  rc1

**Elasticsearch version:** 8.0.0 rc1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Currently Kibana just displays **error** on saved search panel if search has fields with scripted field defined with

[2022-01-05 17:32] elasticmachine commented on #122365
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-05 17:35] chrisronline opened #122366 "[Alerting] Phase 3 of AoA: Integration with Stack Monitoring"
Meta: https://github.com/elastic/kibana/issues/120542

This phase involves integration with Stack Monitoring and will see changes in multiple places - Kibana monitoring documents come in two types right now: stats and settings. Stats would make the most sense for this use case but it might be too limiting. Based on the above research, we may need to index multiple documents per polling interval an

[2022-01-05 17:35] elasticmachine commented on #122366
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 17:40] pmuellr commented on #122346
Apparently the referenced PR https://github.com/elastic/kibana/pull/122224 uncovered this bug - but of course, we should have earlier.  I guess we can add a simple-ish test for this, just to make sure we don't revert the associated fix later.

[2022-01-05 17:40] yuliacech commented on #121613
@MadameSheema I think it is possible to configure an 8.0 deployment as a remote in a 7.17 deployment. I tested it out on staging with v8.0.0-SNAPSHOT and v7.17.0 versions and was able to configure a remote cluster.

@shubhamkanwar-qasource In the Remote Clusters UI, the form accepts Elasticsearch endpoint url that can be copied from the deployment page. See screenshot below

<img width="651" alt="

[2022-01-05 17:40] #121565 closed

[2022-01-05 17:42] chrisronline opened #122367 "[Alerting] Phase 4 of AoA: Visualize and alert on available data"
Meta: https://github.com/elastic/kibana/issues/120542

Once the data is [available in Stack Monitoring indices](https://github.com/elastic/kibana/issues/122366), we need to decide how we want to use that data - what charts/UIs we want to build as well as deciding what out-of-the-box rules should exist to let users know when performance problems arise. We also need to figure out where this data can

[2022-01-05 17:42] elasticmachine commented on #122367
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 17:43] afharo commented on #121891
I guess that this issue can be closed then. Correct?

[2022-01-05 17:48] MadameSheema commented on #122246
Can you please test with a long sentence instead of a long word? Thanks!

[2022-01-05 17:50] snide commented on #121403
I did a quick scan of the code that is causing this. There's a lot of overwrites on the flex items and groups. There's also a couple places set with column layouts but also have specific widths. Likely can be fixed with some quick CSS / template cleanup.

@gavinwye if you'd like to pair on this one day, it might be a good way to introduce you to some of the codebase (if you're interested). Otherwi

[2022-01-05 17:51] monina-n commented on #121845
@michaelolo24 @paulewing yeah in terms of the behavior, from the concept of 'locking' a date range (regardless of what the tooltip says), I would assume that the specified time range would be saved when the lock icon is clicked, even when the timeline is opened and closed.

In terms of what is preferred, @paulewing do you know? but the current mechanism is misleading and probably confusing to the

[2022-01-05 17:52] MadameSheema commented on #122227
@deepikakeshav-qasource can you please try to reproduce it on 7.17?? Thanks :)

[2022-01-05 17:57] smith commented on #121930
These are not the Elastic Charts based sparklines but are using Flot, the jQuery plugin https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/x-pack/plugins/monitoring/public/components/sparkline/sparkline_flot_chart.js

[2022-01-05 18:03] elasticmachine commented on #122210
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2022-01-05 18:03] chrisronline commented on #121762
@gmmorris

Done: https://github.com/elastic/kibana/issues/122362

[2022-01-05 18:03] bhavyarm opened #122369 "SQL queries displaying incorrect percentage values on canvas workpad if user upgrades from 6.8.x->7.17"
**Kibana version:** 7.17 snapshot/8.0.0 snapshot

**Elasticsearch version:** 7.17 snapshot/8.0.0 snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** E-Commerce sample workpad is displaying inaccurate percentage values (displayin

[2022-01-05 18:03] elasticmachine commented on #122369
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-05 18:05] bhavyarm commented on #122369
I am checking this in a fresh install.

[2022-01-05 18:13] bhavyarm commented on #122369
Looks fine in a fresh install of 7.17

[2022-01-05 18:13] oatkiller commented on #122161
@stephmilovic Should we mark this as critical until we determine whether or not it is a security issue?

[2022-01-05 18:22] ThomThomson commented on #122365
I think this needs to be updated on the Discover side, I have changed the tags.

[2022-01-05 18:23] elasticmachine commented on #122365
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-05 18:26] joshdover commented on #121887
I think we should make the path for this API to use the `/internal/` prefix instead of `/api/` to clearly message that this API is not considered stable and is subject to removal.

[code]

[2022-01-05 18:29] simianhacker commented on #120384
@jasonrhodes I would vote NO. I feel like CCS is sufficiently complicated that enabling it by default just causes more problems than it solves. The worst case is when a someone adds a remote host for a different purpose,  they visit Stack Monitoring to look at their cluster and things stop working because the requests fail. It's especially bad when the remote cluster has a HUGE Metricbeat installa

[2022-01-05 18:35] bhavyarm opened #122372 "Kibana displays V2 in pdf/png reporting notifications"
**Kibana version:** 7.17 snapshot

**Elasticsearch version:** 7.17 snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana displays printable_pdf_v2 /PNGV2 in notifications when users click on print reports.

<img width="1792

[2022-01-05 18:35] elasticmachine commented on #122372
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-05 18:36] elasticmachine commented on #122372
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-05 18:41] marshallmain commented on #122011
@karanverma-qasource Can you retest on the next 8.0.0 snapshot build? https://github.com/elastic/kibana/pull/122284 should fix the issue. Thanks!

[2022-01-05 18:49] alexfrancoeur commented on #118967
A much more simple solution 😄  +1 Dede 👏

[2022-01-05 19:07] liza-mae commented on #84986
@MadameSheema this is not showing as a failure recently, so closing.

[2022-01-05 19:07] #84986 closed

[2022-01-05 19:09] liza-mae commented on #84987
@MadameSheema this had one failure Dec 9, we can close for now, I will reopen if it happens again.

[2022-01-05 19:09] #84987 closed

[2022-01-05 19:09] liza-mae commented on #84988
@MadameSheema this is not showing as a failure in recent runs.

[2022-01-05 19:09] #84988 closed

[2022-01-05 19:45] constancecchen commented on #122237
@pgayvallet @chandlerprall What is the 'correct' or expected behavior in this case? Should EUI automatically trim/ignore whitespaces surrounding string values? Or should it be correctly allowing for/accounting for values beginning with spaces?

[2022-01-05 19:49] dominiqueclarke commented on #121428
This appears to have been resolved. Using `all-logs` script on https://buildkite.com/elastic/kibana-pull-request/builds/15738 and https://buildkite.com/elastic/kibana-pull-request/builds/15923, the `Elasticsearch deprecation:` log no longer appears. This is deprecation warning may have been related to our use of es archiver, and that team may have already addressed the issue. I couldn't find a rel

[2022-01-05 20:18] chandlerprall commented on #122237
The inability to track a tag's selection if it starts with whitespace looks like an EUI bug to me. However, I don't think we would do anything on the EUI side short of fixing that association, if the application provides an untrimmed string, my take is the component should accept it as-is.

[2022-01-05 20:18] jen-huang commented on #121887
@nchaulet We'd like to get this in for 7.17 to help with supportability of 7.x. Do you have capacity to work on this?

[2022-01-05 20:26] nchaulet commented on #121887
Sure I can find some time for that before 7.17 feature freeze :)

[2022-01-05 20:38] ymao1 opened #122389 "[Task Manager] Investigate better handling of unregistered task types"
Currently it is possible for clustered Kibanas to get out of sync based on configuration and erroneously mark a task as “unrecognized”, causing it to never get claimed again. This can happen if a plugin is enabled in one Kibana node and disabled in another (like reporting) or if a task type is skipped using the `task_manager.unsafe.exclude_task_types` config in one Kibana node and not in another.

[2022-01-05 20:38] elasticmachine commented on #122389
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 20:44] ymao1 opened #122390 "[Alerting] Smarter retry interval for ES Connectivity errors"
When an alerting execution encounters an error, it reschedules itself for the next schedule interval. With [this PR](https://github.com/elastic/kibana/pull/108749) Kibana Core introduced a specific error type `EsUnavailableError` for transient ES connectivity errors. We should look for these errors in the alerting task runner and consider handling them slightly differently than other errors based

[2022-01-05 20:44] elasticmachine commented on #122390
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 21:07] ymao1 commented on #122346
After further investigation, [this PR](https://github.com/elastic/kibana/pull/116079/files) is what causes the `Cannot read properties of undefined` error to be thrown. Inside `action_executor.ts`, the additional connector validation should take into account the fact that `secrets` might be undefined. Should check all the `validateConnector` functions.

[2022-01-05 21:11] tsullivan opened #122391 "[Screenshotting] Possible race condition when setting the viewport and capturing the screenshot"
**Kibana version:** 7.16.2

**Describe the bug:**
In a PDF of a Dashboard, panels may appear blank due to "flashing" right before the screenshot is captured.

There are no errors in the logs. From the Screenshotting side of the code, the page is done rendering and is ready to capture. It's just that on the actual screen, many of the panels may be invisible due to re-rendering after handling the wi

[2022-01-05 21:11] elasticmachine commented on #122391
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-05 21:11] elasticmachine commented on #122391
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-05 21:14] kevinlog commented on #122183
@paul-tavares I updated this ticket to fix in `8.1` .  We'll target this to be fixed with the new API validations shipping then.

[2022-01-05 21:20] #101937 closed

[2022-01-05 21:29] kevinlog commented on #116252
@dasansol92 could we update these save labels to be consistent?

@caitlinbetz @bfishel what language should we use here?  "Edit event filter" or "Update event filter"?  We can make it consistent across the flyouts and save buttons?

[2022-01-05 21:32] kevinlog commented on #122204
@dasansol92 let me know if you have bandwidth before `8.1` ships to take a look at this.

Otherwise, we can see if @academo has time to take a look next week.

[2022-01-05 21:32] caitlinbetz commented on #121954
I think we can use Endpoints here since that is what we refer to them as on this page (we use endpoint and Agent rather than Host)

So: _This action will update [x] endpoint(s)_

[2022-01-05 21:33] kevinlog commented on #122230
@dasansol92 let me know if you have bandwidth before `8.1` ships to take a look at this.

Otherwise, we can see if @academo has time to take a look next week.  We could also see if @ashokaditya can take a look

[2022-01-05 21:34] kevinlog commented on #121954
thanks @caitlinbetz

@parkiino can you fix this for `8.1` ?  I believe this has been this way for some time, so we can fix in the next release.

[2022-01-05 21:37] #71560 closed

[2022-01-05 21:38] kibanamachine commented on #99879
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7080#5289e232-074f-40ba-9fc3-c43caeae3a66)

[2022-01-05 21:46] madirey opened #122392 "[Security Solution] Threshold alerts generated from custom source indices have events missing from Timeline"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Describe the bug:**

**Steps to reproduce:**
1. Create a custom index (e.g. `test-index`)
2. Populate `test-index` with an event
3. Create a Threshold Rule that will generate an alert from the event (set the index to `test-index` and the threshold value/count to `1`.
4. Wait for the alert to be generated.
5. In the alerts table, click "Inv

[2022-01-05 21:50] bfishel commented on #116252
I'm equally good with either update or save. One note is that "Host" in "[Edit/update] host isolation" should not be capitalized.

[2022-01-05 21:50] caitlinbetz commented on #116252
@kevinlog @dasansol92

Chatted with Bonnie on this one, we can go with "Save" for all 3

[2022-01-05 21:51] kibanamachine commented on #118538
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/490#259487db-5bf4-4014-8c61-00f2b6c0b8cc)

[2022-01-05 21:56] elasticmachine commented on #122392
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-05 22:04] kibanamachine commented on #113890
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/490#f394b007-9c64-4134-b83b-57197f0b1583)

[2022-01-05 22:17] qn895 opened #122395 "[ML] Transform not accepting params for runtime field definitions"
**Kibana version:** 7.16

**Describe the bug:**

Transform currently doesn't accepting params for runtime field definitions, which cause some unexpected behaviors.

**Steps to reproduce:**
1. Create a transform using the API with a runtime field containing `params` in the script. For example
[code]
2. Navigate to Transform list in Management page. Click on `Preview` will also not work
<img width="

[2022-01-05 22:17] elasticmachine commented on #122395
Pinging @elastic/ml-ui (:ml)

[2022-01-05 22:33] XavierM opened #122399 "Provide the P50, P95 and P99 of a rule execution in the Rules Table"
As a rule author, I would like to see the P50, P95 and P99 of a rule execution in the rule management page. I would also like to sort my rules with this criteria (P50, P95, P99). We will add three columns in the rule table.

We are going to create a new attribute `duration` in rule's saved object. Maybe something like that
[code]
. At each execution, we will saved the time of the duration with its

[2022-01-05 22:33] elasticmachine commented on #122399
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 22:43] XavierM opened #122400 "[ALERTING] Storing the success/failure of a rule and its ratio"
As a rule author, I would like to see the number of success, failure and its ratio in the rule management page. I would also like to sort on those new criteria.

At rule execution, we will store the success, failure and the ratio in the rule saved object to be able to achieve the functionality above.

[2022-01-05 22:43] elasticmachine commented on #122400
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-05 23:05] dominiqueclarke opened #122404 "[User Experience] Page load duration displays NaN on page load duration by region map"
**Kibana version**: 7.16.2, 8.0.0, 8.1.0

**Elasticsearch version**: 7.16.2, 8.0.0, 8.1.0

**Browser version**: Chrome 96

**Original install method (e.g. download page, yum, from source, etc.)**: Cloud and oblt-cli

**Description of the problem including expected versus actual behavior**:
Page load duration on Page Duration by Region map displays NaN

<img width="1040" alt="Screen Shot 2022-01-05

[2022-01-05 23:05] elasticmachine commented on #122404
Pinging @elastic/uptime (Team:uptime)

[2022-01-05 23:25] constancecchen commented on #122237
With https://github.com/elastic/eui/pull/5514 we should have a fix that will allow leading/trailing whitespace in EuiSearchBar filters. This fix will likely not be in the next imediate Kibana EUI ugprade, but the one after. Hope that helps!

[2022-01-05 23:48] dplumlee opened #122405 "[Security Solution][Detection Alerts] Create common type for dot notation fields"
With the new addition of dot notation fields in the RAC initiative, we are finding a lot of bugs created by our code's assumption of nested notations for all fields. There is currently no uniform way to handle these new types and we need to create some shared method of Typing code between the front end and back end to make it easier for devs to navigate the new field names

Temporary type changes

[2022-01-05 23:48] elasticmachine commented on #122405
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-06 00:57] #121952 closed

[2022-01-06 01:39] #119098 closed

[2022-01-06 01:50] kibanamachine commented on #122201
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7092#012fdf84-9ee3-4fdf-8b27-e37cf577ec62)

[2022-01-06 02:03] alex-fedotyev commented on #120377
@miltonhultgren - let me try to provide more details, happy to follow up in more details.

1. Number of items could be in 1000s, especially for containers. This would be due to the fact that we will be displaying here ALL instances active during the time frame window selected. For example, if user is looking into last 2 hours - this may include instances which were only partially active during tha

[2022-01-06 02:21] spong opened #122411 "[Security Solution][Detections] Search bar displays behind components on Alerts and Rule Edit/Creation pages"
With multi-line values, the KQL Search Bar on the `Alerts` and `Rule Edit/Creation` pages displays behind certain components. Does not appear to be an issue on the `Overview`, `Host` or `Network` pages.

First seen on `8.1` (`main`), but likely present in earlier versions (verification needed).

Alerts:
<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/14

[2022-01-06 04:26] matschaffer commented on #120384
+1 to @simianhacker 's sentiment. While it was kind of "oh awesome" to see the that CSS "just worked" when connecting our internal monitoring clusters, I don't think that it was enough of a win to make the potential problems worth it.

[2022-01-06 04:44] #109545 closed

[2022-01-06 04:44] #109949 closed

[2022-01-06 04:44] #122092 closed

[2022-01-06 05:01] jasonrhodes commented on #98010
It's possible that the changes made by @simianhacker in this PR -> https://github.com/elastic/kibana/pull/121904 can be implemented here as well.

[2022-01-06 05:13] jasonrhodes commented on #98277
@weltenwort / @miltonhultgren should we close this ticket in lieu of the other source config work now being started?

[2022-01-06 05:15] jportner opened #122414 "Create dev docs for Saved Object Bulk Update API"
We have [dev docs for all the Saved Objects APIs](https://www.elastic.co/guide/en/kibana/current/saved-objects-api.html) _except_ for Bulk Update (`_bulk_update`).
We should add dev docs for that, too.

https://github.com/elastic/kibana/blob/dfea0fee21d93e73926092e32105d9e66fcc8c6e/src/core/server/saved_objects/routes/bulk_update.ts#L21-L42

[2022-01-06 05:15] elasticmachine commented on #122414
Pinging @elastic/kibana-core (Team:Core)

[2022-01-06 05:19] jasonrhodes commented on #122076
@NotAProfessionalDeveloper very fair, this is a common trade-off. I believe these graphs are all doing a version of your (2) option, but the graphs with values closer to 0 start at 0. The way to make this less confusing in some scenarios is to make all Y-axes start at 0, but that can create issues with readability for a given graph when one series blows the others out via massive scale differences

[2022-01-06 05:30] jasonrhodes commented on #118220
@phillipb / @neptunian if this prep work is in progress, can you move this ticket to "in progress"?

[2022-01-06 05:32] jasonrhodes commented on #121192
Is this still a "bug" for 8.0? I think we may have to live with it at this point and fix it for 8.0.1 at the earliest, etc. ...

@kovyrin do you or anyone from @elastic/enterprise-search have thoughts here? cc: @ravikesarwani

[2022-01-06 05:56] jasonrhodes commented on #119090
@vinaychandrasekhar / @hbharding after doing some technical prep for this ticket, I realized that ... we already provide the `reason` to actions? Can you confirm? This is from the metric threshold rule type, but I think it's definitely in metric threshold and metrics inventory rules as far as I can tell...

<img width="618" alt="Screen Shot 2022-01-06 at 12 53 16 AM" src="https://user-images.githu

[2022-01-06 05:59] jasonrhodes commented on #96562
@katrin-freihofner do you have thoughts/ideas on whether these legends (with the series and the annotations described in the same legend) will work for color-blind users?

[2022-01-06 06:30] ogupte commented on #122192
After stepping thru the code, it looks like there are 2 separate issues causing this behavior neither of which seems to be related to the custom APM UI extension:

1. Policy updates are ignored when the `useLatestPackageVersion: true` option is set in the [Fleet UI extension](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/plugin.ts#L373). It looks like when an upgrade is det

[2022-01-06 06:52] amolnater-qasource commented on #122229
Thanks @mostlyjason for more details, yes it looks good. We will be noting this as expected.

[2022-01-06 06:52] amolnater-qasource commented on #122064
Yes @jlind23 we didn't get fingerprint value available after upgrade from 7.16.2>8.0.

Further, thanks @joshdover for resolving our queries regarding this change in self-manage upgrade.
We will be creating testcases for self-managed upgrade according to this expectation.
Thanks!

[2022-01-06 06:56] pgayvallet commented on #108972
Closed because core's work on the issue is done. Meta issue to track each team's usage of the new provider is here: https://github.com/elastic/kibana/issues/118866

[2022-01-06 07:08] #122110 closed

[2022-01-06 07:37] deepikakeshav-qasource commented on #119313
Hi Team,

We have validated this issue on **7.17.0 BC1 build** and observed that issue is **Still occurring**.  Action like Filter In/Out and Investigate in timeline are not present for more view value under the network tab.

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148346181-c0b16bcc-8b7e-4070-84

[2022-01-06 07:37] kibanamachine commented on #99879
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7110#9dd72073-a9ba-4943-a188-04e15de2d20d)

[2022-01-06 07:49] pheyos commented on #113890
This has been fixed in 7.16 and above and the latest failure occurred in 7.15. Since 7.16.0 is already GA, the 7.15 branch is not active anymore, so we won't backport the fix.

[2022-01-06 07:49] #113890 closed

[2022-01-06 07:56] deepikakeshav-qasource commented on #119418
Hi Team ,

We have validated this issue on **7.17.0 BC1** and observed that issue is **Still occurring**. Please find the below details:

**Build Details:**
[code]

**Screen record:**

https://user-images.githubusercontent.com/61860752/148348314-dd3326da-f279-4a85-ae2f-87afc5216d1e.mp4

Thanks!!

cc: @MadameSheema

[2022-01-06 07:57] karanbirsingh-qasource commented on #119930
Hi @MadameSheema

we have validated this issue on both 7.17 and 8.0 branch and below is there observations.

### Observation:

Version | 7.17.0-SNAPSHOT | 8.0.0-SNAPSHOT
-- | -- | --
Bug Status | Partial Fixed | Issue still occuring
Remark | Same Username is showing on both page | Same Username is not showing on both page
Remark | Avatar is not showing correctly | Avatar is not showing correctly

[2022-01-06 08:08] deepikakeshav-qasource commented on #122227
Hi @MadameSheema ,

We have validated this issue on **7.17.0 BC1** and observed that issue is also **Occurring** on 7.17.0 . Please find the below details:

**Build Details:**
[code]

**Screenshots:**
![image](https://user-images.githubusercontent.com/61860752/148349121-d300e06d-2508-45a9-97a5-b2ca10c3455f.png)

![image](https://user-images.githubusercontent.com/61860752/148349181-9175d5d5-a676-44

[2022-01-06 08:13] karanbirsingh-qasource commented on #118610
Hi @MadameSheema

we have validated the issue and found that issue is Fixed 🟢 . Non-English are showing in the API response as per the https://github.com/elastic/kibana/pull/121900#issue-1087032884

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/148350555-d4a03fb2-a76f-42cf-bf29-1238dd3de589.png)
![image](https://user-images.githubusercontent.com/59917825/148350551-d8

[2022-01-06 08:32] formgeist commented on #122073
We discussed this in the weekly sync yesterday and I would propose to implement the following callout copy to clarify that the multi-job migration option will not be available if the user chooses to create a new job (that will use the v3 job config) as suggested by @MiriamAparicio

[2022-01-06 08:35] muskangulati-qasource commented on #122181
Hi @kpollich,

We have observed same issue on **7.17.0 BC1** build as well.

**Build details:**
[code]

Thanks!

[2022-01-06 08:41] kpatticha commented on #122136
As we discussed, the design specs were outdated.
During the development they found out that ML returns more states so to better capture them they renamed the badge to "warning". Closing the bug

[2022-01-06 08:41] #122136 closed

[2022-01-06 08:56] nugroho-expereo commented on #122292
@simianhacker Will the fix be backported to 7.x? We have this issue in our 7.16.2 server.

Will the fix also resolve the stack alert issue below as it is quite annoying to get an alert for 1 minute CPU spike? https://github.com/elastic/kibana/issues/116128

Thank you.

[2022-01-06 09:35] dikshachauhan-qasource commented on #121854
Hi All

We have updated our testcase. Link at : [C164219](https://elastic.testrail.io/index.php?/cases/view/164219)

Thanks
QAS

[2022-01-06 09:51] deepikakeshav-qasource commented on #121265
Hi @janmonschke,

This issue is still occurring on **7.17.0 BC1**.  As per this [PR](https://github.com/elastic/kibana/pull/121274), this issue should fixed on 7.17.0 as well but seems like the code is not backport to 7.17.0

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148355015-7763c9ed-9021-4729-8707-8a77f7b443d5.png)

Hence, We are re-o

[2022-01-06 09:56] gmmorris commented on #122288
Thanks Chris, I can't think of anything in the alerting plugin that would do that (as alerts aren't queryable docs at that level), I suspect Rule Registry is most likely doing this 🤔

We'll triage this and look into it 👍

@marshallmain @mikecote - any thoughts?

@kobelb - wrt the conversation we were having about circuit breakers yesterday, if we find that we have a recurring failure at a certain

[2022-01-06 10:06] #121233 closed

[2022-01-06 10:14] #119621 closed

[2022-01-06 10:27] janmonschke commented on #121265
@deepikakeshav-qasource thanks for checking this out again. It seems like at the time the PR got merged there was no branch for 7.17 yet. I manually created a backport for that version now and will let you know when it gets merged (https://github.com/elastic/kibana/pull/122422)

[2022-01-06 10:39] Dosant commented on #119321
The pr that remove `data_enhanced` is here: https://github.com/elastic/kibana/pull/122075

It is blocked by flaky ci, the failure reason is unclear.
I isolated the flakiness here: https://github.com/elastic/kibana/pull/121955
It appears after commit that add `security` as optional dependency of `data` plugin

[2022-01-06 10:41] amolnater-qasource opened #122423 "[Fleet]: `apm not found` error pop-ups on navigating to fleet tab."
**Kibana version:**  8.0 rc-1 BC-1 Kibana Cloud-production environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.0 rc-1 BC-1 Kibana Cloud-production environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Observe `apm not found` error pop-ups on navigating to fleet tab.

**Sc

[2022-01-06 10:41] amolnater-qasource commented on #122423
@manishgupta-qasource Please review.

[2022-01-06 10:46] manishgupta-qasource commented on #122423
Reviewed & mention to @mostlyjason

[2022-01-06 11:05] vipulsrivastava-qasource commented on #119428
Hi @kpollich

We have validated this issue on v7.17.0 BC1 build and found that issue is **still reproducible**. `There is already a package with the same name` error on adding same name integration on Same Policy or Different Policy.

Please find below build and testing details.

**Build Info:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/69579402/148372333-a73a38c4-9be

[2022-01-06 11:20] muskangulati-qasource opened #122424 "[Security Solution] The pagination count is not per page, instead it shows total entries on all pages"
**Description:**
The pagination count is not per page, instead it shows total entries on all pages

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Trusted Applications tab under the Security section from the left hand side navigation
2. Add 11 entries
3. Set pagination as 10
4. Observe the mess

[2022-01-06 11:20] elasticmachine commented on #122424
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-06 11:32] muskangulati-qasource commented on #87456
Hi @MadameSheema,

We have observed that this issue is occurring on the 7.17.0 BC1 build as well as on the latest snapshot builds for both 8.0.0 & 8.1.0. The details and process.executable is not being displayed for mimikatz node for a prevention alert.

Please find below the testing details:
**Build details**
**7.17.0**
Build: 46386
Commit:c9b31753ccda9d79ad1f6f7b106674a7ba430000
Artifacts link:

[2022-01-06 11:34] muskangulati-qasource commented on #122424
@manishgupta-qasource please review!

[2022-01-06 11:39] weltenwort commented on #120377
Thanks for providing these context information @alex-fedotyev. If sorting on aggregated values is as important but the number of buckets might be in the 1000s, we'll have to make some difficult trade-offs given the technical limitations of ES aggs.

I would be interested to hear which approach to sorted high-cardinality aggs the APM UI has taken so far. What are the trade-offs that are being made

[2022-01-06 11:43] weltenwort commented on #98277
No, it's step 2 of the proposed task breakdown in the epic.

[2022-01-06 11:58] gmmorris commented on #122399
Just to make sure - the intention here is to display this in the rules table itself, right?
So a user can easily see which rules are running the longest and find them without having to go into the Rule Details page.
It _sounds_ like that's the intent, I just want to double-check.

If so, are we thinking of having all three values on display, or just one? If just one, which? 🤔

[2022-01-06 12:01] gmmorris commented on #122399
I'm assuming this means we're looking at the past week?

[code]

Should this adjust based on the rule's interval?
If a rule runs every 10s, querying back a week seems long.
Likewise if a rule runs once a week, then querying back a week might not be particularly useful.

Thoughts?

[2022-01-06 12:01] manishgupta-qasource commented on #122424
Reviewed & assigned to @kevinlog

[2022-01-06 12:12] Dosant commented on #93248
Basic support was added in https://github.com/elastic/kibana/pull/104870

I tested that :

- Data view editor identifies version field as `version`
- You can use range filter for version field in query editor (KQL) and in filter manager. (filter manager using custom filter)
- Sorting is discover works properly based on semantic version rules

Potential improvements:

- [ ] Fix display in `Field` c

[2022-01-06 12:15] gavinwye commented on #121403
@snide yes that would be great. Let's try and get together some time in the WC 10th Jan

[2022-01-06 12:24] salvatore-campagna commented on #68424
I am working on #57964 which will provide the requested functionality.

[2022-01-06 12:27] elasticmachine commented on #91855
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2022-01-06 12:29] klacabane commented on #121282
Reopening for https://github.com/elastic/beats/pull/29711

[2022-01-06 12:42] dikshachauhan-qasource commented on #121953
@jen-huang

Thanks for the confirmation on expected behavior.

We have updated the expected behavior for same at Testcase [C164269](https://elastic.testrail.io/index.php?/cases/view/164269&group_by=cases:section_id&group_id=34822&group_order=asc&display_deleted_cases=0)

Thanks
QAS

[2022-01-06 12:42] dikshachauhan-qasource commented on #121798
Hi @joshdover

We have validated this ticket as per steps shared by you in above comment.

However, we could not observe the managed policy getting duplicated as mentioned in steps when upgraded APM Integration under Policy tab as shared above.

Screenshot :
- APM integration:
![image](https://user-images.githubusercontent.com/72375798/148364534-253c23df-480b-4b44-849d-b49ed58fe20f.png)

- After K

[2022-01-06 12:59] legrego commented on #28342
Closing as obsolete:
Starting in 8.0. access to system indices will not be granted by default. Access will require an explicit action by the administrator when configuring the role.

[2022-01-06 12:59] #28342 closed

[2022-01-06 13:07] kpollich commented on #122181
@muskangulati-qasource This commit didn't make it into that 7.17 BC.

https://github.com/elastic/kibana/commits/c9b31753ccda9d79ad1f6f7b106674a7ba430000

It should be in the next 7.17 BC. Please re-open if the issue persists in the next BC. Thank you!

[2022-01-06 13:07] #122181 closed

[2022-01-06 13:15] #113422 closed

[2022-01-06 13:16] kevinlog commented on #122424
@dasansol92 can you take a look at this one?  It sounds familiar, did we fix this in 8.0 but not backport?

[2022-01-06 13:24] dominiqueclarke commented on #121428
Closing due to log no longer appearing.

[2022-01-06 13:24] #121428 closed

[2022-01-06 13:24] justinkambic commented on #121428
Thanks for investigating this further, I think we can close this.

[2022-01-06 13:31] formgeist opened #122430 "[APM] Service groups (POC): Create and manage service groups containing a KQL query for selecting a subset of services"
# Summary

Related design [issue](https://github.com/elastic/observability-design/issues/120)

Customers with large environments 50-2000 services have been requesting to improve the usability of the APM navigation.

This improvement will improve the experience by introducing a higher level of abstraction to manage a group of services.

### Primary goals
- Enable the user to create and manage servi

[2022-01-06 13:31] elasticmachine commented on #122430
Pinging @elastic/apm-ui (Team:apm)

[2022-01-06 13:35] monfera commented on #61977
This is a convincing paper that argues against the tyranny of going with the "most accurately readable" projections [Why Shouldn’t All Charts Be Scatter Plots? Beyond Precision-Driven Visualizations](https://arxiv.org/pdf/2008.11310.pdf)

![image](https://user-images.githubusercontent.com/1548516/148390162-0f200a2b-ac63-441a-ad80-91b383ff2fa1.png)

It partially absolves pie charts, elevates heatma

[2022-01-06 13:37] #87846 closed

[2022-01-06 13:38] gempir commented on #95782
The top bar is not essential. It gives you a search through a few Pages, which can be found through the navigation some Branding and a changelog.

But it steals important vertical screen space.
Please just consider an option to hide it. Maybe move the Elastic logo down in the second bar when it's hidden, if the Branding is THAT important. (And it has a loading animation when kibana is loading)