[2022-01-23 02:03] kibanamachine opened #123546 "Failing test: Jest Integration Tests.src/core/server/saved_objects/service/lib/integration_tests - SavedObjectsRepository #incrementCounter initialize=false increments the specified counters of an existing document"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8315#fcd0c811-1293-47f9-92be-5a12cb61eb5a)

[2022-01-23 02:03] kibanamachine opened #123547 "Failing test: Jest Integration Tests.src/core/server/saved_objects/service/lib/integration_tests - SavedObjectsRepository #incrementCounter initialize=true creates a new document if none exists and sets all counter fields to 0"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8315#fcd0c811-1293-47f9-92be-5a12cb61eb5a)

[2022-01-23 02:03] kibanamachine opened #123548 "Failing test: Jest Integration Tests.src/core/server/saved_objects/service/lib/integration_tests - SavedObjectsRepository #incrementCounter initialize=true sets any undefined counter fields to 0 but does not alter existing fields of an existing document"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8315#fcd0c811-1293-47f9-92be-5a12cb61eb5a)

[2022-01-23 03:06] elasticforme opened #123591 "Kibana version (7.16.2) extremely slow"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.16.2
** Kibana Version : 7.16.2  and 7.12.0

**Plugins installed**: [] None

**JVM version** (`java -version`): openjdk 17.0.1 2021-10-19

**OS version** (`uname -a` if on a Unix-like system):
Oracle Linux 7.7

**Description of the problem including expected versus actual behavior**:
Elasticsearch version is consistent for both case 7.16

[2022-01-23 05:28] kibanamachine commented on #123456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8330#0245c47f-c837-4e63-bca4-c078ebe48858)

[2022-01-23 06:28] kibanamachine commented on #123456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8333#925c6a06-1ffb-454c-8a3a-a7f16462aeaa)

[2022-01-23 06:37] kibanamachine commented on #123456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8333#b7804f0e-ad7a-4f3f-b734-cf610b47cfa7)

[2022-01-23 09:53] robcowart opened #123550 "Importing saved objects can break "weak links""
**Kibana version:**

8.0.0-rc1

**Elasticsearch version:**

8.0.0-rc1

**Server OS version:**

Docker container

**Describe the bug:**

When importing into 8.0.0-rc1 saved objects which were exported from from 7.x (tested with 7.14.0 and 7.16.3 exports) the UUIDs of dashboards are not preserved. The import was via the Kibana UI (import via API was not tested). "Create new objects with random IDs"

[2022-01-23 09:55] kibanamachine commented on #121844
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8335#e7a7b31b-6ba0-49fa-8270-8f56447cdbc4)

[2022-01-23 12:31] kibanamachine commented on #123456
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8352#87d3d800-7ab6-414d-bb85-fd6c92036bc9)

[2022-01-23 13:43] brianseeders commented on #123456
/skip

[2022-01-23 13:43] kibanamachine commented on #123456
Skipped

main: ac72ef20f8717db1aa92c6f0b5e805da8cb565c7

[2022-01-23 14:27] philippkahr opened #123555 "[Canvas] Hitting save should jump to the "Display" settings."
**Describe the feature:**
When hitting this `save` button it should automatically redirect me to the display page.
<img width="365" alt="image" src="https://user-images.githubusercontent.com/12175559/150683287-fb2c205d-5164-4e2a-85e1-d73edbf80071.png">

**Describe a specific use case for the feature:**

https://user-images.githubusercontent.com/12175559/150683255-c9b0824f-1da0-411d-b2ae-f2db5b4783

[2022-01-23 14:28] kibanamachine opened #123556 "Failing test: Firefox UI Functional Tests.test/functional/apps/console/index·js - console app "after all" hook: afterTestSuite.trigger in "console app""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8358#ff91ac7d-9a5e-4f9b-ac1b-ba70e3ad7956)

[2022-01-23 14:30] philippkahr opened #123557 "[Canvas] Expressions don't get updated"
**Kibana version:** 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

When adding a canvas element like `vertical bar` and selecting either an ES SQL query or the documents query, sometimes the expressions does not get overwritten.

**Steps to reproduce:**
1. Go to canvas
2. Add a new element
3. Select documents from ES.
4. Wait for it to

[2022-01-23 14:34] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8358#0b3db8d8-87de-4d08-868e-ee5b94b03c8c)

[2022-01-23 14:39] philippkahr opened #123558 "[Canvas] When writing an ES SQL query hitting quotes should wrap the marked content in quotes"
**Describe the feature:**

When writing something e.g. in dev tools and I mark it and need to add quotes around it, I can safely type shift+2 `"` and it will automatically create a pair of quotes around my selected area.

In Canvas ESSQL it deletes the marked content.

https://user-images.githubusercontent.com/12175559/150683785-79aa2a52-d06c-4d00-a497-cc5418abca0c.mov

[2022-01-23 14:41] philippkahr opened #123559 "[Canvas] When in the `preview data` screen, hitting ESC should close the preview"
**Describe the feature:**

When being inside this screen, after clicking on `Preview data`, hitting the ESC button on the keyboard should close this.

<img width="2278" alt="Screenshot 2022-01-23 at 15 40 25" src="https://user-images.githubusercontent.com/12175559/150683851-6dfd1ed3-00c2-4d03-9b08-50dfeb9b22bc.png">

[2022-01-23 14:45] philippkahr opened #123560 "[Canvas] does not honour system wide shortcuts like `CTRL + K` to delete a line in the expressions editor."
**Describe the feature:**

Canvas expressions editor should honour system wide shortcuts like `CTRL + K` to delete an entire line. Inside the data view for the visualisation it does work.

<img width="2274" alt="Screenshot 2022-01-23 at 15 43 58" src="https://user-images.githubusercontent.com/12175559/150684034-d10a0b25-e5b3-4f01-891d-ecf8ad411300.png">

**Describe a specific use case for the feat

[2022-01-23 14:50] philippkahr opened #123561 "[Vega] Editor should automatically add closing braces"
**Describe the feature:**

When writing inside the Vega visualisations editor, the editor does not automatically add the closing brace when opening one. Inside Dev Tools the closing brace is always automatically added.

https://user-images.githubusercontent.com/12175559/150684251-b572c45a-9452-497c-8b74-e94c770c5ca2.mov

**Describe a specific use case for the feature:**

[2022-01-23 15:15] philippkahr opened #123562 "[Vega] Inspector tabs not cleared on invalid spec"
**Kibana version:** 7.16.1

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Browser**: I used a completely fresh and cache emptied Chrome Dev `Version 99.0.4840.0 (Official Build) dev (x86_64)`. Same behavior exists in Safari `Version 15.2 (17612.3.6.1.6)`

**Describe the bug:**

So when using Vega with static data it is really difficult to figure out why it is not

[2022-01-23 15:25] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8359#176ed6ac-f963-4691-84c2-ee556b7ed76b)

[2022-01-23 15:32] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8359#6f93e940-5f6f-46ea-9e34-b6ff78a373c1)

[2022-01-23 16:25] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8363#d84eb797-f529-467a-b684-cc6838ac3474)

[2022-01-23 16:31] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8363#c672184e-cf51-40e4-92ab-b7f63e3b821e)

[2022-01-23 16:36] philippkahr opened #123565 "[Vega] CTRL+F / CMD+F does not work."
**Kibana version:** 7.16.1
**Browser version:** Chrome Version 99.0.4840.0 (Official Build) dev (x86_64) and Safari Version 15.2 (17612.3.6.1.6)
**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

Create a new visualisation using Vega and in the Vega editor try searching with CMD+F / CTRL +F. The search bar does not open.

**Steps to reproduce:**
1

[2022-01-23 17:27] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8366#52bb0854-7dcd-4992-8513-c0d307ffd1e2)

[2022-01-23 17:34] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8366#6b8a9cdf-7771-4d7e-9201-e93ccb1b6f4b)

[2022-01-23 18:28] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8369#40f04089-aac3-4774-9a8c-31b402131237)

[2022-01-23 18:36] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8369#6f9a65ba-37b4-40b1-a569-54ffee71819e)

[2022-01-23 19:28] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8372#68262c0d-7e8c-4c96-ac10-0749ddcd3a06)

[2022-01-23 19:36] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8372#6f305ad5-79cc-45c4-add4-d6ee800e5dfa)

[2022-01-23 20:28] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8375#3a0adefa-57e8-48b5-8297-e64dd7995b09)

[2022-01-23 20:35] kibanamachine commented on #123556
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8375#46828e63-3591-4164-a826-b98e6aa2f776)

[2022-01-23 20:59] philippkahr opened #123566 "[Canvas] Add support for shift / ctrl key to hold while resizing images to lock the aspect ratio"
**Describe the feature:**

In tools like Photoshop, inDesign Pixelmator, PowerPoint, ... holding down either the shift or ctrl key while resizing locks the aspect ratio.

[2022-01-23 21:08] #123559 closed

[2022-01-23 21:08] philippkahr commented on #123559
I don#t know what exactly was wrong but it works now.

[2022-01-24 00:40] Kalmuraee commented on #75377
Any Idea when this will be available ?

[2022-01-24 01:48] YulNaumenko commented on #118844
Seems to be a similar (or duplication) of https://github.com/elastic/kibana/issues/119929

[2022-01-24 01:56] matschaffer commented on #121975
Though I think in 8.0 if someone tries to use an external metricbeat to monitor ent search, the docs will land in `metricbeat-*` and the UI will miss the docs.

We should probably have something in documentation so customers don't try to do that.

[2022-01-24 02:20] matschaffer opened #123568 "Trim newline from distro_release stats value"
**Kibana version:** 7.16.3

**Server OS version:** ESS

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

The stats api returns `\n` in the distro_release field. This is a little odd and ends up getting picked up by metricbeat for stack monitoring as well.

Additionally we had a report of `kibana.uuid` also having a trailing `\n`, but my test dep

[2022-01-24 02:20] elasticmachine commented on #123568
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-24 05:40] matschaffer commented on #121975
Basically thinking we should probably remove this page before we launch 8.0 https://www.elastic.co/guide/en/beats/metricbeat/8.0/metricbeat-module-enterprisesearch.html - as well as the bullet point on https://www.elastic.co/guide/en/enterprise-search/8.0/monitoring.html for "External Metricbeat Monitoring"

[2022-01-24 06:16] amolnater-qasource opened #123569 "[Fleet]: Unknown dataset `enterprise_search.api` available under Data Streams tab."
**Kibana version:**  8.0.0 rc-2 BC-1 Kibana could-staging environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 rc-2 BC-1 Kibana could-staging environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Data Streams tab.
3. Observe unknown dataset `enterprise_search.api` available under Data

[2022-01-24 06:18] manishgupta-qasource commented on #123569
Reviewed & mention to @mostlyjason

[2022-01-24 06:22] deepikakeshav-qasource commented on #109191
Hi @dhurley14 ,

We have validated this ticket with upgrade path from `7.17 -> 8.0` . Please find the below observations:

**Build Details:**
[code]

**Steps:**

1. Created the rule and generated the alerts in 7.17.0 cloud build.

![image](https://user-images.githubusercontent.com/61860752/150727305-3b8006e2-ddb5-49ee-8643-24f159fcac06.png)

2. Copy the path of rule details page
3. Turned off the

[2022-01-24 06:32] deepikakeshav-qasource commented on #120596
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/150733099-849f926a-f123-4248-8e72-bb45d2e380f7.mp4

Thanks!!

[2022-01-24 06:41] samratbhadra-qasource commented on #122183
Hi @paul-tavares,

We have validated this issue on the latest 7.17.0-BC2 build & found that the issue is now **fixed**. Please find below the testing details:

**Build Details:**
VERSION: 7.17.0-BC2
Build: 46488
Commit: a6fd029464413f6979099d7a3d4232c5194a269d
Artifact: https://staging.elastic.co/7.17.0-1bd53ff7/summary-7.17.0.html

**Screen Recordings**

https://user-images.githubusercontent.com/

[2022-01-24 06:41] #122183 closed

[2022-01-24 07:05] marclop opened #123570 "[APM] APM Integration UI host is (sometimes) incorrect"
### Kibana version

7.17.0

### APM Server version (if applicable)

7.17.0

### Elasticsearch version (if applicable)

7.17.0

### Steps to Reproduce

1. Create a `7.17.0` deployment.
2. Migrate the APM Server to Managed Mode (Kibana > Observability > APM > Settings > Schema > Migrate to Elastic Agent)
3. Go to Fleet > Agent Policies > Elastic Cloud agent policy
4. Click on `Elastic APM` (Leftmost

[2022-01-24 07:05] elasticmachine commented on #123570
Pinging @elastic/apm-ui (Team:apm)

[2022-01-24 07:16] marclop commented on #123570
This seems to be more than a cosmetic bug, if the user just upgrades when the host and URL are set to `localhost:8200`, the settings will be changed to that value, even though we're not allowing them to change it manually. I just tested and reproduced this in cloud (using stack version `7.16.3` since the latest `7.17.0` published build still has that bug that doesn't allow you to edit and save the

[2022-01-24 07:17] mibragimov opened #123571 "[Console] Autocomplete inserts a comma in triple quoted strings"
**Kibana version:**
main

**Steps to reproduce:**
Just type any triple quoted string in the query

**Screenshot**

![Capture](https://user-images.githubusercontent.com/53621505/150737495-1e3030e3-34a1-4d11-a505-c31c61aa0bde.PNG)

Related to [#121611](https://github.com/elastic/kibana/pull/121611)

[2022-01-24 07:17] elasticmachine commented on #123571
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-24 07:35] azasypkin commented on #121482
Before the [fix](https://github.com/elastic/kibana/pull/121961), the symptom in all failed builds was `Error: expected 200 "OK", got 401 "Unauthorized"`, now it's different: `Error: expected 1 to equal 0`. Let's wait and see if it's a transient issue or not. If not, we'll need to make sure that's not related to the recent changes in the cleanup logic in https://github.com/elastic/kibana/pull/12241

[2022-01-24 07:40] karanverma-qasource commented on #122455
Hi @MadameSheema,

We have validated above issue on 7.17.0 build and it's fixed. ✔️

[code]

**Screen-shots:**

![image](https://user-images.githubusercontent.com/91867110/150738674-62e4496f-1f8a-4825-b276-906775735902.png)

![image](https://user-images.githubusercontent.com/91867110/150738787-28c8577b-a27f-4988-a8ab-cf2634fa01d3.png)

![image](https://user-images.githubusercontent.com/91867110/15

[2022-01-24 07:58] deepikakeshav-qasource commented on #122456
Hi @MadameSheema ,

We have validated this issue on **7.17.0 BC2** and observe that issue is **Fixed**.  🟢

Please find the below observations:

**Build Details:**
[code]

**Observations:**

1. Created the connector but did not add to the rule.
2. Hit the below query in Dev tools and get the Action id
[code]

3. Add the action id to detection_engine/scripts/legacy_notifications/one_action.json
4.

[2022-01-24 08:05] deepikakeshav-qasource commented on #120723
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

![image](https://user-images.githubusercontent.com/61860752/150744445-58f37278-bb46-45a7-8821-c3b4aff189b9.png)

Thanks!!

[2022-01-24 08:17] deepikakeshav-qasource commented on #120725
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/150745730-76270774-35cc-41e3-bf27-62b156d34ccd.mp4

Thanks!!

[2022-01-24 08:19] lmoya31 opened #123573 "[APM]"
### Kibana version

APM

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

_No response_

### Expected Behavior

_No response_

### Actual Behavior

_No response_

[2022-01-24 08:19] deepikakeshav-qasource commented on #122069
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**
![image](https://user-images.githubusercontent.com/61860752/150746313-e2159489-07cb-4bd4-9fdc-e1ac455994a6.png)

Thanks!!

[2022-01-24 08:20] kertal commented on #17726
@shaunmcgough how does the management for these fields / data view look like?

[2022-01-24 08:24] prachigupta-qasource opened #123574 "[Security Solution] Error is coming while creating a custom query rule and it gets failed"
**Describe the bug:**
Error is coming while creating a custom query rule and it gets failed

**Kibana/Elasticsearch Stack version:**
[code]
**Pre-conditions:**

1. Elastic Search should be up and running
2. Kibana should be up and running

**Steps to reproduce:**

1. Navigate to Rules tab under Security
2. Click on 'Create new rule' button.
3. Click on 'Custom query'
4. Enter all the fields
5. Sav

[2022-01-24 08:24] elasticmachine commented on #123574
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-24 08:29] pgayvallet opened #123575 "[SavedObjects] creating objects using `undefined` or primitives as attributes causes errors"
Creating saved objects using `SavedObjectClient.create` and/or `SavedObjectClient.bulkCreate` does not perform any kind of basic surface validation of the shape of the provided attributes.

Even if we're not enforcing that the provided attributes are an object, even within the `SavedObject` type,

[code]

there are numerous parts of the code were we make this assumption by trying to access `obj.at

[2022-01-24 08:29] elasticmachine commented on #123575
Pinging @elastic/kibana-core (Team:Core)

[2022-01-24 08:31] elasticmachine commented on #123556
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-24 08:38] banderror commented on #120712
@brokensound77 were you able to push a new version of the package? Can @karanbirsingh-qasource verify the fix?

[2022-01-24 08:39] pgayvallet commented on #122632
How many usages of the `getIsOptedIn` API do we currently have? Would it be worth it to adapt the existing calls directly instead of deprecating the old API?

[2022-01-24 08:44] pgayvallet commented on #113152
Yea, that was going to be my point. Adapting the `find` response structure to support such runtime mappings would be more complex than just allowing API consumers to pass the mappings in the query, and I'm unsure how exactly we should be handling that if we were to allow it.

Without any doubt. It's just a question of do we need this in the SO APIs now, how is it acceptable to wait until consumers

[2022-01-24 08:45] carlosdelest commented on #121975
The module will work correctly, but it won't be compatible with Stack Monitoring. Would that be a good enough reason for removing it from documentation? Users can still use custom dashboards to display information.

We got this in https://github.com/elastic/enterprise-search-pubs/pull/1954/files for Enterprise Search:
- Removed instructions for Dashboard setup using `metricbeat setup`
- Set Metric

[2022-01-24 08:56] formgeist commented on #123526
@alex-fedotyev Just so I understand you want to replace `cloud.availability_zone` with `cloud.region` in the metadata panel?

[2022-01-24 09:10] marclop opened #123577 "[APM] APM Integration wants to upgrade to the current version"
### Kibana version

7.16.3

### APM Server version (if applicable)

7.16.3 (7.16.2 Integration)

### Elasticsearch version (if applicable)

7.16.3

### Steps to Reproduce

1. Create a deployment with APM & Fleet (7.16.3).
2. Migrate the APM Server to Managed mode.
3. Upgrade the APM Integration to `7.16.2`.
4. Navigate to Edit Integration (Elastic APM) and you'll notice that the UI wants to update

[2022-01-24 09:10] elasticmachine commented on #123577
Pinging @elastic/apm-ui (Team:apm)

[2022-01-24 09:20] elasticmachine commented on #109191
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-24 09:23] MadameSheema commented on #123574
@prachigupta-qasource can you please export the rule that is causing the issue, and let us know which is the output of the json file? Thanks

[2022-01-24 09:28] MadameSheema commented on #122455
@karanverma-qasource can you please validate the fix of this issue on 8.0 when you have the chance? Thanks,

[2022-01-24 09:33] pgomulka commented on #120124
I like that. This is a variation of option 1 - where x-opaque-id would not be used for kibana's requests. Given that all requests with elastic-product-origin are hidden in upgrade assistant, I don't mind using `elastic-product-origin` for all values when throttling deprecation logs.
I will update https://github.com/elastic/elasticsearch/pull/82855 accordingly.

At the same time I will merge [#8284

[2022-01-24 09:33] samratbhadra-qasource commented on #116252
Hi @dasansol92,

We have validated this issue on the latest 8.1.0-SNAPSHOT build & found that the issue is now **fixed**. Please find below the testing details:

**Build Details:**
VERSION: 8.1.0-SNAPSHOT
Build: 49753
Commit: ab5741ff78bfbf7a9df6a664c741278f21582ea7
Artifact: https://snapshots.elastic.co/8.1.0-aa69d697/summary-8.1.0-SNAPSHOT.html

**Screen Recording:**

https://user-images.githubu

[2022-01-24 09:33] #116252 closed

[2022-01-24 09:39] MadameSheema commented on #123420
@deepikakeshav-qasource can you please validate this on the next 8.0-rc2 BC and 8.0 latest branch? Thanks!

[2022-01-24 09:42] samratbhadra-qasource commented on #122922
Hi @ashokaditya,

We have validated this issue on the latest 8.1.0-SNAPSHOT build & found that the issue is now **fixed**. Please find below the testing details:

**Build Details:**
VERSION: 8.1.0-SNAPSHOT
Build: 49753
Commit: ab5741ff78bfbf7a9df6a664c741278f21582ea7
Artifact: https://snapshots.elastic.co/8.1.0-aa69d697/summary-8.1.0-SNAPSHOT.html

**Screen Recording:**

https://user-images.github

[2022-01-24 09:42] #122922 closed

[2022-01-24 09:43] elasticmachine commented on #123562
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-24 09:46] formgeist commented on #85915
@dannycroft I think it'd be great to get this prioritised for the next release if possible

[2022-01-24 09:49] MadameSheema commented on #123413
@deepikakeshav-qasource can you please validate this fix on next 8.0-rc2 bc? Also with the latest 8.0-snapshot, thanks!

[2022-01-24 09:49] formgeist commented on #123256
After conversation with @Mpdreamz @axw and @cyrille-leclerc about how to best visualize these span events and their attributes, we decided on exploring the following concept;

We will prioritize exploring how to enhance the existing log message rows in the Logs UI to support this.

[2022-01-24 09:51] MadameSheema commented on #122013
@spong @banderror any update on this issue? Thanks!

[2022-01-24 09:53] prachigupta-qasource commented on #123574
Hi @MadameSheema ,

Please find the below exported rule:

**Rule**

[rules_export.zip](https://github.com/elastic/kibana/files/7924499/rules_export.zip)

**JSON response**

[JSON_file.zip](https://github.com/elastic/kibana/files/7924497/JSON_file.zip)

Please let us know if anything else is required from our end.

Thanks!!

[2022-01-24 09:54] kibanamachine commented on #116038
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8414#b50d8a56-4fc0-4042-b8ef-5af920499e59)

[2022-01-24 09:55] MadameSheema commented on #122010
@deepikakeshav-qasource can you please validate this on latest 8.0 and next 8.0-rc2 BC? Thanks!

[2022-01-24 09:56] MadameSheema commented on #122009
@stephmilovic @jmikell821 any update about this issue? Thanks!

[2022-01-24 10:00] MadameSheema commented on #121943
@deepikakeshav-qasource can you please validate this at the current 8.0-rc2 BC? Thanks!

[2022-01-24 10:03] flash1293 opened #123579 "Explicitly set moment timezone to detected one"
`moment-timezone` has a slightly weird behavior for dates right at the edge of a DST switch. If a time zone is explicitly set using `setDefault`, it's behaving differently even if the time zone is set to the one returned by `guess`:

Execute on a computer which is set to german time zone:
<img width="653" alt="Screenshot 2022-01-24 at 10 56 13" src="https://user-images.githubusercontent.com/150836

[2022-01-24 10:03] elasticmachine commented on #123579
Pinging @elastic/kibana-core (Team:Core)

[2022-01-24 10:08] #120449 closed

[2022-01-24 10:08] #122678 closed

[2022-01-24 10:10] simitt commented on #123570
The `apmpackage` itself holds default values for `host` and `url`, https://github.com/elastic/apm-server/blob/master/apmpackage/apm/manifest.yml#L49. Please let us know if this messes up the UI logic in any way.

[2022-01-24 10:11] elasticmachine commented on #123565
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-24 10:12] stratoula commented on #123565
@philippkahr thanx for reporting this!
In 8.1 we are changing the vega editor and the new one supports this feature. Check the screenshot below
![image](https://user-images.githubusercontent.com/17003240/150763709-66a31ede-d197-4ca8-966d-52c994bb6ced.png)

I am closing this as it will be addressed in 8.1

[2022-01-24 10:12] #123565 closed

[2022-01-24 10:14] elasticmachine commented on #123561
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-24 10:14] stratoula commented on #123561
@philippkahr as mentioned here https://github.com/elastic/kibana/issues/123565#issuecomment-1019930990
the new vega editor supports automatically adding closing brackets. So I am also closing this as it will be addressed when 8.1 will be released :)

[2022-01-24 10:14] #123561 closed

[2022-01-24 10:21] deepikakeshav-qasource commented on #121943
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/150765004-4a27e41b-cdfa-4c0c-a47b-0ff7c09bbc87.png)

Hence, We are closing this issue and marking as QA Validated

Thanks!!

[2022-01-24 10:22] #121943 closed

[2022-01-24 10:22] flash1293 commented on #123562
It's not injecting the timestamp into the vega-lite spec - it's just that the "spec" tab in the inspector isn't updated because the spec is invalid. Switching to vega makes it technically valid, but it's not what you need to do the get it to work.

There are two things wrong with it:
* The `format` part should go into the `data` property
* It's `quantitative`, not `quantitive`

That chart renders

[2022-01-24 10:22] mshustov commented on #123575
Shouldn't we consider it as a bug? IIRC https://github.com/elastic/kibana/pull/118969 always expected `attributes` to be an object. And as you said `We may also want to change our SavedObject type definition to reflect that the type T of the attributes must be an object.`

[2022-01-24 10:29] mgiota opened #123580 "Create new Rule Page under Observability"
This is a sub-issue of https://github.com/elastic/kibana/issues/119100

## Acceptance criteria
- Add `Rules` menu option in the Observability sidebar and create a new rules page under observability
- Create a new Rules `route` and rules `page`
 - Update the old `Manage rules` link in the Observability alerts page to to link to the new Rules page
 - Add `Breadcrumbs` to the new Observability Rules

[2022-01-24 10:29] mgiota opened #123581 "Edit and Delete Actions"
This is a sub-issue of https://github.com/elastic/kibana/issues/119100

## Acceptance criteria
- Edit rule
- Delete rule

You can check out [how to embed the create rule flyout within any kibana plugin](https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/README.md#embed-the-create-alert-flyout-within-any-kibana-plugin). Similarly you can embed the edit rule flyout:

[cod

[2022-01-24 10:29] mgiota opened #123582 "Add filtering"
This is a sub-issue of https://github.com/elastic/kibana/issues/119100

## Acceptance criteria

- [x] #127014
- [x] #127015
- [x] #127012
- [x] #127013

## Related Tickets
- [x] #123580
- [x] #123581
- [x] #123585

[2022-01-24 10:29] mgiota opened #123583 "Bulk actions for mute/disable/delete rules"

[2022-01-24 10:29] MadameSheema commented on #123574
@rylnd @marshallmain can this issue be related with the following one? thanks! https://github.com/elastic/kibana/issues/123420

[2022-01-24 10:31] mgiota opened #123584 "Bulk actions for mute/disable/delete rules"
Updated on 2022-06-07
This is part of ResponseOps work on rule table. Actionable Observability gets it for free by integrating the shareable component.

[2022-01-24 10:31] mgiota opened #123585 "Allowed rule operations for users with read permissions"
This is a sub-issue of https://github.com/elastic/kibana/issues/119100

## Acceptance criteria
- Users with read only permissions should be able to view the observability rules
- Users with read only permissions should not be able to edit a rule
- Users with read only permissions should not be able to delete a rule
- Users with read only permissions should not be able to create a new rule
- Users

[2022-01-24 10:31] mgiota opened #123586 "Rule detail page"
Duplicate of #129777

[2022-01-24 10:36] kibanamachine commented on #92567
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8419#fd64097e-0d88-48c9-81a1-da27953a6be5)

[2022-01-24 10:38] MadameSheema commented on #119836
@deepikakeshav-qasource @karanbirsingh-qasource can one of you please check the above fix? Thanks!

[2022-01-24 10:41] MadameSheema commented on #117703
@karanbirsingh-qasource can you please validate the fix of this issue on the current 8.0-rc2 BC? Thanks!

[2022-01-24 10:48] alexwizp commented on #123561
That's right, thank you @stratoula

[2022-01-24 10:51] Kunzetsov commented on #82389
@vladpro25, could you, please, add some unit tests for the library code? Thanks.

cc @alexwizp, @cjcenizal.

[2022-01-24 10:56] vladpro25 commented on #82389
Hello everyone
Yes, I've started this task and I'm already adding unit tests for the **use_data_init** hook

[2022-01-24 11:11] pgayvallet commented on #123575
Given that we don't currently document anywhere that the `attributes` associated to a type should be an object, it's subject to interpretation. We could potentially say instead that every part of the codebase should not make the assumption that these attributes have an object shape.

But I agree that, in practice, all our SO types are using an object/record shape for their attributes, so it should

[2022-01-24 11:12] elasticmachine commented on #123528
Pinging @elastic/fleet (Team:Fleet)

[2022-01-24 11:29] gbamparop commented on #123526
Cloud region has been added in https://github.com/elastic/kibana/pull/122775

[2022-01-24 11:32] muskangulati-qasource commented on #122106
Hi @dasansol92,

We have validated this issue on the latest 7.17.0 BC2 build & found that the issue is now **fixed**. Please find below the testing details:

**Build Details:**
[code]

**Screen Recording:**

https://user-images.githubusercontent.com/60252716/150775354-4ce1077c-4b12-41f9-92e6-6d3be0688f88.mp4

Hence, we are closing this issue and marking it as QA Validated!

cc: @kevinlog
Thanks!!

[2022-01-24 11:32] #122106 closed

[2022-01-24 12:00] elasticmachine commented on #123449
Pinging @elastic/kibana-core (Team:Core)

[2022-01-24 12:14] mgiota commented on #123580
Here are a couple of questions we need to clarify as part of `Query and list only Observability rule types`

How do we define "observability" rules? Is there a tagging mechanism when a rule is created, or do we have to maintain a hard-coded list of rule type IDs to query for? If the latter, can we at least centralize that list of IDs for ourselves? What is the current list of these IDs?

[2022-01-24 12:23] joshdover opened #123592 "[FTR] Start dockerServers before ES & Kibana"
Today, the Functional Test Runner supports a `dockerServers` configuration key which allows a test config to specify a set of docker containers to start when running the test. This is used today by a few select test suites which depend on the Elastic Package Registry (EPR). Running a custom container rather than using the real registry service allow us to de-couple our tests from the real registry

[2022-01-24 12:25] simitt commented on #123577
Duplicate of https://github.com/elastic/kibana/issues/121833.

[2022-01-24 12:26] elasticmachine commented on #123591
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-24 12:26] elasticmachine commented on #123591
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-24 12:28] pgayvallet commented on #123449
Thanks for the report and the investigation. I confirm that the analysis is correct and that the issue is the application-matching logic we're performing in

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/core/public/application/utils/parse_app_url.ts#L61-L65

We gonna need to update/fix the logic in this `parseAppUrl` to take into account that some application

[2022-01-24 12:31] afharo commented on #122632
AFAIK, it's used in just a few places:
- In the UI
	1. The Welcome screen in the Home plugin - to show the opt-in/out banner
	2. The License Management - to show the opt-in/out banner
	3. The Telemetry Management Section - to handle the opt-in/out setting
- In the Server:
	1. Security Solutions' EBT sender
	2. Fleet's EBT sender

++ to replacing them straight away. Especially on the server-side wh

[2022-01-24 12:44] deepikakeshav-qasource commented on #119836
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Parent node 8.0.0 RC2 and child node 8.0.0 RC2**

**Screencast:**

https://user-images.githubusercontent.com/61860752/150784481-29177174-cf91-4721-bb6f-b60609bbc826.mp4

**Parent node 7.17.0 RC2 and child node 8.0.0 RC2**

**Scree

[2022-01-24 12:45] ashokaditya commented on #121507
PR #123476

[2022-01-24 12:45] ppisljar commented on #122879
@flash1293 something worth setting up a poc branch so ppl can play with it.

also, the issue talks about drilling down, which could be achieved by adding a drilldown link to the panel, but it won't add an exists filter to the target dashboard. cc @vadimkibana is something like this possilble with drilldowns at the moment if we would add filtering capacity to metrics ?

[2022-01-24 13:09] mikecote commented on #122544
I am removing this issue from 8.1 plans. I believe from the last conversation we wanted to wait for [telemetry](https://github.com/elastic/kibana/issues/122535) to analyze how we would like to implement such rate-limit. Correct me if I'm wrong 🙏

[2022-01-24 13:10] flash1293 commented on #122879
I think it's about clicking the metric itself, not opening the context menu.

[2022-01-24 13:12] afharo commented on #119808
Kibana Machine reopened without commenting the failed job? cc @elastic/kibana-operations

[2022-01-24 13:17] flash1293 commented on #123591
Thanks for reaching out, @elasticforme !

For clarification - did you run Kibana 7.12 with Elasticsearch 7.16 or did you downgrade Elasticsearch as well?

Could you share your example visualizations via saved object export as well as the mapping of your index? This will probably help finding the issue here.

[2022-01-24 13:20] karanverma-qasource commented on #122455
Hi @MadameSheema,

We have validated above issue on 8.0.0 Snapshot build and it's fixed. ✔️

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/150789760-c7235a41-63e5-47be-8629-ecc8d160b062.png)

![image](https://user-images.githubusercontent.com/91867110/150790038-0a19f93b-d8eb-4bc7-99e1-2896e3abe2fe.png)

![image](https://user-images.githubusercontent.com/9186

[2022-01-24 13:24] mtojek opened #123596 "[Fleet] Package policy is invalid: required field, value empty string"
Hi,

we suspect that something might have changed in Kibana. We have a [system test](https://github.com/elastic/integrations/blob/1b90bbe702ebdca938f6e40384e609e6347c7c5a/packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-webhook-http-config.yml), that uses a required field `content_type` and sets its value to an empty string (`""`). We noticed that the system test fails with:

[co

[2022-01-24 13:27] joshdover commented on #123596
Guessing this is related to https://github.com/elastic/kibana/pull/123261 which was just recently merged.

[2022-01-24 13:33] joshdover commented on #123596
We need to accept empty strings as values for required fields to fix this, our lovely JavaScript programming language where empty strings are falsey is probably to blame here.

[2022-01-24 13:36] #112091 closed

[2022-01-24 13:44] mikecote commented on #122984
@chrisronline, @XavierM during @ymao1's [research](https://github.com/elastic/kibana/issues/119650), we've identified some scenarios where rules end up in a state where they stop running, and we should notify the user. Some other bullet points relate to "self-healing" issues.

We should discuss the proper way to detect and notify these scenarios to our users before starting the implementation. Exa

[2022-01-24 13:52] mikecote commented on #117593
This currently happens at the end of the rule execution [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/server/task_runner/task_runner.ts#L746-L755). By returning a `schedule` to the task manager at the end, it will override the `schedule` (not `runAt`) associated with the task. This way if we failed to update the task when the user changed the schedule, it will happen a

[2022-01-24 13:54] miltonhultgren commented on #123568
From what I understood of the SDH, the better solution would be to fix this on a Beats level?
The Kibana UUID that was mentioned had the newline character due to it being managed by Ansible.

[2022-01-24 13:56] elasticforme commented on #123591
Thank you Elastic for looking at this, Appreciate  your help

- Elasticsearch is still 7.16.2.  I downgraded kibana to 7.12.0,
- mapping is default metricbeat mapping. but I have added mapping here.
- I have also send two ndjson, one for 7.16.2 vis and one for 7.12.0 viz and index pattern

[Lens-7-16-2-ndjson.txt](https://github.com/elastic/kibana/files/7926004/Lens-7-16-2-ndjson.txt)
[Lens-7-12-0

[2022-01-24 14:02] MadameSheema commented on #122958
@karanbirsingh-qasource can you please validate the fix of this issue on current 8.0 and 8.0rc2 bc2? thanks :)

[2022-01-24 14:16] maggieghamry commented on #100998
@VladLasitsa on `7.16.1`, the error `The aggregation calculation is not supported in entire_time_range mode` is present when users upgrade. Is there a workaround or documentation around why/the effect of disabling `series agg` for `entire time range mode`?

[2022-01-24 14:20] flash1293 commented on #123591
@elasticforme Thanks! I checked the lens visualizations and it seems like the 7.16 one has a "size" of 100 while the 7.12 one has a "size" of 25 - could you check whether that's the reason for the difference? Not sure about the other vis types.

About the measurements in the original issue - how did you get these? Is it refreshing the whole page with an empty cache or something else? Also, is this

[2022-01-24 14:24] joshdover commented on #123570
Feel free to ping the Fleet team directly if this is any issue with the package policy API. I do wonder if it could be related to https://github.com/elastic/kibana/pull/123261

[2022-01-24 14:28] yctercero commented on #119836
@MadameSheema @deepikakeshav-qasource closing out - thanks for the QA check!

[2022-01-24 14:28] #119836 closed

[2022-01-24 14:29] flash1293 commented on #121270
@maggieghamry Quick correction: Another workaround for 7.16.x is to look into the formula feature in Lens. It should support most use cases.

[2022-01-24 14:30] #122913 closed

[2022-01-24 14:31] maggieghamry commented on #121270
Thanks so much, @flash1293 !

[2022-01-24 14:40] mikecote opened #123604 "Deprecating `services.scopedClusterClient.search` for rule executors"
We should encourage all the rule types to use the newly cancellable `services.search` utility instead of `scopedClusterClient.search`. Using `services.search` will not abort the query whenever the rule execution times out, causing a waste of resources and potential performance problems. This issue is to research and implement approaches for the developers (TypeScript deprecation, docs, etc.). It w

[2022-01-24 14:40] elasticmachine commented on #123604
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-24 14:49] dhurley14 commented on #109191
@deepikakeshav-qasource Sorry I don't think I clarified the exact steps outside of the original pr: https://github.com/elastic/kibana/pull/112478

It looks like that rule was created in the default space? The popup will only appear for a rule created in a non-default space.

So the exact steps are to

1. create a new space in 7.x
2. create a rule in that new space (non-default space)
3. copy that

[2022-01-24 14:52] gbanasiak opened #123606 "Remote cluster search broken"
**Kibana version:** 7.16.3

**Describe the bug:**

Search bar in Stack Management -> Remote Clusters seems to be broken.

**Steps to reproduce:**

1. Create a few remote clusters.
2. Try to search.
3. Observe `Uncaught TypeError: Cannot destructure property 'text' of 'e' as it is null.` in browser console when text is entered into the search bar.

**Expected behavior:**

Search does work.

**Scree

[2022-01-24 14:52] mikecote commented on #117593
After speaking with @kobelb, it feels better to fix if the change turns small. It can be common for rules pre 7.11 to fail continuously, and people got the habit of disabling/enabling them for the fix.

[2022-01-24 14:55] kevinlog commented on #92567
Looking to resolve these couple of failures with this PR: https://github.com/elastic/kibana/pull/123608

[2022-01-24 15:03] joshdover commented on #112095
One thing I want to be clear on here is that this effort does not add support for installing bundled packages from the UI or API. This will only support installing packages via setting `xpack.fleet.packages` in `kibana.yml` and upgrading any existing bundled packages during Kibana upgrades.

This means that new clusters set up in air-gapped environments would either need to use the appropriate `xp

[2022-01-24 15:18] alex-fedotyev commented on #123526
@formgeist I think we should show both.

[2022-01-24 15:19] fkanout opened #123609 "[RAC][REFINEMENT] Verify {{context.reason}} is available in all Apps' rule templating language"
# Summery
This is part of https://github.com/elastic/kibana/issues/119090

# AC
Verify that `{{context.reason}}` is available in the **rule templating language** for all Apps (Logs, APM, Metrics, and Uptime) rule types

- [x] APM ❌
- [x] Logs ❌
- [x] Metrics ✅
- [x] Uptime ❌

[2022-01-24 15:21] formgeist commented on #123526
@alex-fedotyev Perhaps my limited knowledge into `availability_zone` and `region` naming, but in your example screenshot, we would almost duplicate the information because they're so similar. Do we expect these values to be significantly different? Just wondering if either one is enough to indicate the region/zone?

[2022-01-24 15:28] legrego commented on #120727
Resolved via https://github.com/elastic/kibana/pull/121037

[2022-01-24 15:28] #120727 closed

[2022-01-24 15:32] smnschneider opened #123611 "Password generator during user creation"
**Describe the feature:**
Generate password option when creating user in the UI.

**Describe a specific use case for the feature:**
When creating a new user a built-in password generator in the UI would be very handy. A copy button for the password inserted would be great too.

[2022-01-24 15:33] legrego commented on #106589
Resolved via https://github.com/elastic/kibana/pull/118001

[2022-01-24 15:33] #106589 closed

[2022-01-24 15:37] rudolf commented on #123084
Tests skipped in https://github.com/elastic/kibana/pull/123427/files#diff-cf671b7b5611eeeafab7d3a9cab1a01dfa469182332a22443a7d0a9808cdc54aR70

[2022-01-24 15:37] michaelolo24 opened #123612 "[Security Solution][Investigations][Tech Debt] - Remove duplicated types"
## Background:

There is currently duplicated code that exists within both the timelines plugin and the security solution. Most of this duplicated code is related to shared types between the two plugins. Unnecessary duplication should be removed where possible, and any security_solution specific logic should be returned to the security solution plugin.

## Acceptance Criteria
- [ ] Existing functi

[2022-01-24 15:37] jonathan-buttner commented on #123084
We actually have these tests skipped in the `main` branch. I believe they're failing here is because elasticsearch isn't downloading the geoip database when it starts because we disable that functionality in the kibana scripts. More info here: https://github.com/elastic/kibana/issues/115228

I believe we can safely ignore these failures and skip the tests.

[2022-01-24 15:39] dplumlee commented on #121491
Hi @deepikakeshav-qasource

Sorry for the delay, this is the correct/expected behavior. Part of the reason we put the warnings/errors in an accordion was because they look similar displayed all at once

[2022-01-24 15:39] rudolf commented on #123084
I'll remove the `bug` label and add `skipped-test`

[2022-01-24 15:45] michaelolo24 opened #123613 "[Security Solution][Investigations][Tech Debt] - Replace old custom ECS type"
## Background:

Consideration of the following issue should be made before completing this work:  https://github.com/elastic/kibana/issues/124174 .

**Official Ecs Field Reference:** https://www.elastic.co/guide/en/ecs/1.5/ecs-field-reference.html

ECS Reference we *should* be using: [packages/kbn-logging/src/ecs/index.ts](https://github.com/elastic/kibana/blob/main/packages/kbn-logging/src/ecs/in

[2022-01-24 15:54] emilioalvap commented on #102602
@shahzad31, could you please double check on `8.0.0-rc` s that backport is correct? I can't seem to be able to get the right output in 8.0.0-rc2/rc1, while `8.1.0-SNAPSHOT` is giving me the expected one:

![image](https://user-images.githubusercontent.com/95703246/150813521-96234466-f823-4641-8905-2816c50d9040.png)

Steps I've taken to reproduce:
- Start with an empty cloud deployment, `8.0.0-rc2`

[2022-01-24 15:54] bhavyarm opened #123616 "Upgrade assistant keeps looping on resume reindex step if Kibana restarts"
**Kibana version:** 7.17 BC2

**Elasticsearch version:** 7.17 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If the user is in the middle of reindexing and Kibana restarts  - upgrade assistant displays reindex paused but clickin

[2022-01-24 15:54] elasticmachine commented on #123616
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-24 15:56] michaelolo24 opened #123617 "[Security Solution][Investigations][Tech Debt] - Improve Url State Management"
## Background:

Currently within the security solution, loading data based on the active url through linking to the page or a refresh is handled by the UseUrlState component here https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/common/components/url_state/index.tsx . This component relies on the `useRouteSpy` hook to maintain some information about the current vi

[2022-01-24 15:58] shahzad31 commented on #102602
@emilioalvap it was just back-ported to 8.0.0 this morning.

[2022-01-24 15:59] bhavyarm commented on #123616
Network call -

<img width="1792" alt="Screen Shot 2022-01-24 at 10 58 28 AM" src="https://user-images.githubusercontent.com/7074629/150817939-42588ede-51d6-4aba-925c-f4dd52d96b8f.png">

[2022-01-24 16:00] michaelolo24 opened #123618 "[Security Solution][Investigations][Tech Debt] - Timelines State Management"
This work was broken up into separate tickets....

[2022-01-24 16:05] mikecote opened #123621 "Audit rule types to see which ones are using `services.scopedClusterClient.search` and create relevant GitHub issues for each"
As we deprecate the usage of `services.scopedClusterClient.search` with https://github.com/elastic/kibana/issues/123604. We should audit the rule types to see which ones are using `services.scopedClusterClient.search` and create relevant GH issues asking to make their codebase use `services.search` instead.

[2022-01-24 16:05] elasticmachine commented on #123621
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-24 16:06] flash1293 opened #123622 "Dashboard by value telemetry only collected for first 20 dashboards"
**Kibana version:** 7.11

**Describe the bug:** Telemetry for by-value panels is only collected for 20 dashboards because of the implicit pagination parameter of the saved object client

**Steps to reproduce:**
1. Remove all visualizations and dashboards
2. Create more than 20 visualizations with 1 Lens panel each
3. Check telemetry
4. It's only showing 20 panels
<img width="1224" alt="Screenshot

[2022-01-24 16:06] elasticmachine commented on #123622
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-24 16:10] pmuellr commented on #122389
Just added a reference to an SDH ^^^, with another interesting scenario.

APM has it's own config to allow telemetry to be enabled for APM, which is by default true, but can be set to false.  When set to false, the APM telemetry task will not be registered, and so presumably it will become unregistered if it did previously get registered.  Looking at the flow, it doesn't appear there's anyway the

[2022-01-24 16:13] cjcenizal commented on #27826
Looks like this issue is stale.

[2022-01-24 16:13] #27826 closed

[2022-01-24 16:15] cjcenizal opened #123626 "Uncouple the Index Management and Transforms UIs' privilege requirements"
The `Index Management` feature will disappear without the `monitor` cluster privilege. So, it's not currently possible create a role with access to `Index Management` without also granting access to the `Transforms` feature. Users are unable to use Index Management without granting access to the Transforms feature because Index Management [requires the entire `monitor` cluster privilege](https://g

[2022-01-24 16:15] elasticmachine commented on #123626
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-24 16:18] mikecote opened #123627 "Tooling for connector executors to know when the task has been cancelled"
Like we've done for https://github.com/elastic/kibana/issues/111259, we should provide some tooling to our connector executors to know when to abort the execution. For example, aborting when the task has timed out (https://github.com/elastic/kibana/pull/120853).

[2022-01-24 16:18] elasticmachine commented on #123627
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-24 16:19] mikecote commented on #113424
Closing in favour of https://github.com/elastic/kibana/issues/123627 as we started implementing some cancellation functionality with https://github.com/elastic/kibana/pull/120853.

[2022-01-24 16:19] #113424 closed

[2022-01-24 16:24] #123348 closed

[2022-01-24 16:34] alisonelizabeth commented on #119834
Agreed. I found a similar bug caused by changed deprecation messages in https://github.com/elastic/kibana/issues/123501. ES did add this capability to an extent via https://github.com/elastic/elasticsearch/issues/73089, but would likely need to build upon this.

[2022-01-24 16:54] weltenwort opened #123630 "[Infra UI] Fail integration tests when async bundles are loaded too eagerly"
## :notebook: Summary

In order to avoid accidental eager loading of async chunks like in #122941 we want to have an integration test that checks this.

## :heavy_check_mark: Acceptance criteria

- An integration test exists, that fails when any of the `infra.chunk.N.js` bundles are loaded on the login screen.

## :bulb: Implementation hints

It's not certain this is possible using the webdriver A

[2022-01-24 16:54] elasticmachine commented on #123630
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-24 16:59] spong commented on #122013
@MadameSheema -- I've been unable to reproduce the reported `500` locally and haven't been able to debug this behavior further. That said, if they're getting a `500` on this page, seeing an error toast [is expected (as above)](https://github.com/elastic/kibana/issues/122013#issuecomment-1012605374), and since the rule data is now showing we can probably mark this as `impact:low` until the `500` er

[2022-01-24 17:02] kibanamachine commented on #119257
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8435#6fb7aa66-0a79-457a-8f00-fc798e609b3e)

[2022-01-24 17:04] qn895 opened #123632 "[ML] Creating an ML related detection rule in Security with the recognizer API times out"
**Kibana version:** 7.16.2

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
Hitting the `api/ml/modules/recognize` occasionally gives 502 error with the following issue EOF, backend closed connection.

**Steps to reproduce:**
1. Go to Security app, cre

[2022-01-24 17:05] elasticmachine commented on #123632
Pinging @elastic/ml-ui (:ml)

[2022-01-24 17:07] tsullivan commented on #122714
Main is 8.1, so I wonder if it is an 8.0-specific issue

[2022-01-24 17:13] jloleysens opened #123633 "[Filters] `filter.meta.value` can contain non-serializable values"
For full context of how this can cause issues see the following thread: https://github.com/elastic/kibana/pull/108553/files#r691148886

We should investigate under what conditions this can occur and avoid relying on JSON.stringify -> JSON.parse to ensure that all non-serializable values are removed as this is a hack.

[2022-01-24 17:13] elasticmachine commented on #123633
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-24 17:14] mikecote commented on #122548
Before starting work, I'd like to bring this up with @kobelb and @XavierM to discuss if/where/how it would be best to surface this information depending on the persona we're targeting.

It seems we're trying to surface to the users the rules that are flooding the actions queue? Is this approach best or should we come up with a different approach like warning / error system based on thresholds?

[2022-01-24 17:17] joshdover commented on #122016
Thanks for the info, I think we should go with this approach, switch out the Deployment URL for the Cloud ID. Especially considering we don't have a solution for showing the URL for on-prem anyways, I don't see any drawbacks here.

[2022-01-24 17:29] legrego commented on #82113
Closing as we have no immediate plans on removing the legacy configuration. We can open this back up if we plan on revisiting this decision

[2022-01-24 17:29] #82113 closed

[2022-01-24 17:30] kertal opened #123636 "[Discover] Add Document explorer callout"
To promote the upcoming Document explorer a callout should be displayed to people who haven't disabled the Classic table in Advanced settings, and have the permission to do so. For this purpose the [EUI component Callout](https://elastic.github.io/eui/#/display/callout) should be used. The callout should provide 2 buttons (or links) to
1. Go to Advanced settings, showing the section to `disable/en

[2022-01-24 17:31] elasticmachine commented on #123636
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-24 17:33] chrisronline commented on #122362
To reiterate the above in the form of user questions, we will answer the following questions:

- How many rules are pending to run?
- How long are rules waiting to run?
- How many actions are pending to run?
- How long are actions waiting to run?
- Did an alert fail to execute? When?

[2022-01-24 17:35] mistic commented on #116038
This test looks flaky. Skipping for now.

main: 9504241

[2022-01-24 17:36] michaelolo24 commented on #123612
This work may be completed during the removal of the timelines plugin in favor of the alert table in the alerting plugin

[2022-01-24 17:43] chrisronline opened #123637 "[ResponseOps] Initial deliverable for actionability of alerting"
This is an actionable ticket off of [this meta](https://github.com/elastic/kibana/issues/120542)

For the initial deliverable, we should do the following:

- [x] Decide upon which questions to answer initially: https://github.com/elastic/kibana/issues/122362#issuecomment-1020359743
- [ ] Ensure we haver the proper plumbing to collect metrics to answer these questions: https://github.com/elastic/ki

[2022-01-24 17:43] elasticmachine commented on #123637
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-24 17:46] bhavyarm opened #123638 "Upgrade assistant tells the user to try again after reindex fails without clear remediation steps"
**Kibana version:** 7.17 BC2

**Elasticsearch version:** 7.17 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS x

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If Kibana restarts during reindexing - Upgrade assistant displays reindex fails for some indexes and if user tries to r

[2022-01-24 17:46] elasticmachine commented on #123638
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-24 17:49] cjcenizal commented on #123638
@bhavyarm The steps to reproduce look very similar to the steps in https://github.com/elastic/kibana/issues/123616. Are they the same? If not, could you clarify the difference? If the steps are indeed the same then can you explain how the two issues are different? Thank you!

[2022-01-24 17:56] alisonelizabeth commented on #123501
Fixed via https://github.com/elastic/kibana/pull/123599

[2022-01-24 17:56] #123501 closed

[2022-01-24 17:59] bhavyarm commented on #123638
@cjcenizal that ( https://github.com/elastic/kibana/issues/123616) is dealing with the bug of resume reindex without any errors whereas this one is for the case when reindex fails with error but upgrade assistant UI is saying "Try again".  So two different states. Thanks!

[2022-01-24 18:05] cjcenizal commented on #123638
Thanks @bhavyarm. Am I correct that the steps to repro are identical, and yet we're still encountering two different possible outcomes? So we need to dig deeper to understand what's causing this variability?

[2022-01-24 18:06] legrego commented on #47387
I like this idea, but given our current set of priorities, and lack of broad interest in this space, I feel it best to close this out.

I find that a bulk of our authorization issues come from misconfigured mappings against external identity providers, and it would be extremely non-trivial to implement something that works against those features.

We can certainly re-open if our priorities change

[2022-01-24 18:06] #47387 closed

[2022-01-24 18:09] bhavyarm commented on #123638
@cjcenizal yep. Looks like it. Thanks!

[2022-01-24 18:15] ferullo opened #123641 "[Security Solution] Process name in Analyze Events doesn't reflect the final process name"
**Describe the bug:**
Analyze Events doesn't use the process name information for the last process event associated with the process in the graph view. It does use the final process information in process details.

cc @oatkiller @michaelolo24 @kqualters-elastic @andrew-goldstein since we talked about this.

**Kibana/Elasticsearch Stack version:** 7.16.3

**Server OS version:** N/A

**Browser and B

[2022-01-24 18:15] elasticmachine commented on #123641
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-24 18:19] sebelga commented on #123638
@cjcenizal I am going to look at both issue at the same time 👍

[2022-01-24 18:24] Heenawter commented on #122714
Sorry, I meant that I tested it locally on the `8.0` branch of `main` and was unable to replicate it there - it only seems to happen on the cloud, although more testing could go in to this.

[2022-01-24 18:32] cjcenizal commented on #120124
CC @elastic/platform-deployment-management

[2022-01-24 18:37] tsullivan commented on #123082
Looks like these tests will be skipped in this PR: https://github.com/elastic/kibana/pull/123312

It will add `this.onlyEsVersion('<=7')` to our tests in 7.17 branch only. This will be the best outcome for the tests in 7.17: the work to adapt them for cross-version is going to be more work than it's worth. And, there is already a lot of test coverage on other csv exports.

[2022-01-24 18:46] awahab07 commented on #120219
**Post FF Testing**

LGTM
- Everything works as expected
- Request for a checkgroup is only triggered once on page load

![image](https://user-images.githubusercontent.com/2748376/150844706-16e85fd3-cc18-4feb-b2ae-a66420d90d3e.png)

[2022-01-24 19:10] suchcodemuchwow opened #123645 "[Proposal] Reduce the size of the repository"
## Description
Kibana repository is a really big project with many packages, plugins and source files. We possibly all experienced when we clone the repository in my case it took almost 49 minutes to download with 10Mbps speed. To reduce the size of the repository as operations team we wanted to experiment git-lfs and see if this will reduce the pain points like initial cloning, uploading big file

[2022-01-24 19:10] elasticmachine commented on #123645
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-24 19:24] #119258 closed

[2022-01-24 19:24] #120730 closed

[2022-01-24 19:29] rudolf opened #123646 "APM telemetry task searches across all indices"
There are some search requests from the APM telemetry task that search across all indices:
https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.ts#L1028-L1077

This can be very expensive for clusters with many indices, can we narrow these queries down to the indices that will likely contain the data?

[2022-01-24 19:29] elasticmachine commented on #123646
Pinging @elastic/kibana-core (Team:Core)

[2022-01-24 19:29] elasticmachine commented on #123646
Pinging @elastic/apm-ui (Team:apm)

[2022-01-24 19:34] simianhacker commented on #121272
The `interval` for the Metric Threshold Rule is the combination of `timeSize` and `timeUnit` which is passed to the `buildFiredAlertReason` as part of the `alertResult` object.

https://github.com/elastic/kibana/blob/d6af6b947cb8141170373143b143f9844bd9a963/x-pack/plugins/infra/server/lib/alerting/common/messages.ts#L111-L128

The problem with the `alertResults` in this method is that not all the

[2022-01-24 19:56] akash1810 commented on #111263
I've come up against a problem that I believe is caused by this too.

When running [Kibana via `systemd`](https://www.elastic.co/guide/en/kibana/current/start-stop.html#_run_kibana_with_systemd) logs are written in json format to `/var/log/kibana/kibana.log` via the [service file](https://github.com/elastic/kibana/blob/v7.16.2/src/dev/build/tasks/os_packages/service_templates/systemd/etc/systemd/s

[2022-01-24 20:25] graphaelli commented on #68261
That makes sense, closing this out.

[2022-01-24 20:25] #68261 closed

[2022-01-24 20:37] jportner commented on #102177
We had some discussion on Slack today about potential "soft deletion" of saved objects. This would allow us to implement a sort of Trash feature where an object gets permanently removed after a period of time (30 days?)

A quick search turned up one such existing ER: #89564
Perhaps with the KPT redesign it would be easier to implement such a feature. Thoughts?

[2022-01-24 20:44] ghudgins opened #123654 "[Lens] Align "row height" terminology to Discover, custom row heights"
**Describe the feature:**
As of 8.1 Lens will have an "auto row height" feature named "fit row to content" and is a toggle.
Update this toggle to be a triple (if custom is possible) or two mode selection to match Discover

**Describe a specific use case for the feature:**
**When** I am using both Discover and Lens
**I need** similar table controls to be consistent
**So I can** more reliably learn

[2022-01-24 20:44] elasticmachine commented on #123654
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-24 20:51] alisonelizabeth commented on #123616
Still looking into this... but leaving my initial findings here:

It appears there is an issue with re-associating the credentials used to process the reindex task on restart. The credentials are undefined when the user tries to resume the reindex, which causes the loop. You can find the related code starting [here](https://github.com/elastic/kibana/blob/7.17/x-pack/plugins/upgrade_assistant/serve

[2022-01-24 21:13] pmuellr opened #123658 "[ResponseOps] alerting rule SO found with no executionStatus properties"
**Kibana version:** 7.16.3

A user reported a problem displaying the alerting rules page and the SIEM rules page - a 500 error was displayed in the UI, though nothing seemed to be logged at the server:

[code]

Looking at the rule SO's, you can see that there are a handful of rules (14 out of ~1000) which have no `executionStatus` fields.  The rules were all SIEM rules as well.

It's not clear how

[2022-01-24 21:13] elasticmachine commented on #123658
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-24 21:16] michaelolo24 commented on #118844
@YulNaumenko , they are slightly different as this one deals with the EuiDataGrid popover while the other issue has to deal with the topN modal. They are all tied to z-index management in general, but unrelated components.

[2022-01-24 21:25] pgayvallet commented on #102177
Given that KPT is supposed to be a lower level wrapper than the SO APIs, I'd say the opposite to be honest 😅 . If I can see such soft deletion being a feature of a high-level API such as SOs, I personally don't think a low level wrapper such as KPT could and/or should hold such responsibilities.

@rudolf wdyt?

[2022-01-24 22:17] jamster10 commented on #122207
@MadameSheema , If a user has only read permissions for SecuritySolution, they should not see the Timeline bottom bar, correct?

[2022-01-24 22:27] kobelb opened #123665 "event_log find by legacy IDs and legacy namespace"
Alerting rules currently have a `legacyId` field that is being used to retrieve event-log documents that were created prior to the great saved-object ID regeneration of 8.0.  This allows the event_log's `ClusterClientAdapter` to create an [ES query](https://github.com/elastic/kibana/blob/f2e2add9aefaacdac48eb5c2f4bed2f424f479b0/x-pack/plugins/event_log/server/es/cluster_client_adapter.ts#L443-L489

[2022-01-24 22:27] elasticmachine commented on #123665
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-24 22:29] kobelb commented on #123665
@mikecote @gmmorris do you all know whether there is a meta issue for sharing alerting rules in multiple spaces? This won't be necessary until we begin this work...

[2022-01-24 22:33] serenachou commented on #121975
Based on Carlos statement: that the user can still use the custom dashboards, it seems like it would be still fine to keep that line in. But I thought y'all were trying to get rid of metricbeat-* entirely? Maybe I saw that out of context somewhere but wanted to check if there's any issue if customers continue to utilize it until we settle al the compatibility tickets?

[2022-01-24 23:52] yctercero commented on #121758
@MadameSheema I wasn't sure if I could with the RC2 cut off. I can backport it.

[2022-01-25 00:07] kibanamachine opened #123666 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migrating from the same Kibana version that used v1 migrations creates the new index and the correct aliases"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:07] kibanamachine opened #123667 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migrating from the same Kibana version that used v1 migrations copies the documents from the previous index to the new one"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:07] kibanamachine opened #123668 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migrating from the same Kibana version that used v1 migrations migrates the documents to the highest version"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:07] kibanamachine opened #123669 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migrating from 7.3.0-xpack which used v1 migrations creates the new index and the correct aliases"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:07] kibanamachine opened #123670 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migrating from 7.3.0-xpack which used v1 migrations copies all the document of the previous index to the new one"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:07] kibanamachine opened #123671 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migrating from 7.3.0-xpack which used v1 migrations migrates the documents to the highest version"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:07] kibanamachine opened #123672 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 migrates saved objects normally with multiple ES nodes"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8454#28ab0ee1-ce80-44a5-9aeb-5dac97b227ee)

[2022-01-25 00:23] katefarrar commented on #115235
@alex-fedotyev that sounds good for the MVP. Thanks!

[2022-01-25 00:26] matschaffer commented on #121975
Ah, sweet. I have some mild concern that users will click the link in https://www.elastic.co/guide/en/enterprise-search/8.0/monitoring.html#monitoring-overview and never see the warning further down the page.

But at least it's there for reference in any possible support cases that might come as a result of users attempting to monitor ent search with metricbeat 8.0

It's been removed in https://gi

[2022-01-25 01:48] matschaffer commented on #123568
Any reason why? Not sure why we'd want it in the kibana response, and fairly certain beats will just pick up whatever kibana sends. My inclination was to fix it as far upstream as possible. If we have metricbeat smooth it out, we'll need to smooth it out for internal collection as well and this would extend to any similar case where the source data isn't well-formatted.

I see @simianhacker recomm

[2022-01-25 02:02] matschaffer commented on #123568
I tried running 7.16.2 with `server.uuid: "652cee97-f8db-4783-a159-c758958bafd6\n"` in kibana.dev.yml and got:

[code]

So it's unclear to me how the uuid with a new line ever passed the start up check.

[2022-01-25 02:11] matschaffer commented on #123568
I tried using the mac tarball from https://www.elastic.co/downloads/past-releases/kibana-7-16-2 as well as `docker run --name kibana --rm -e ELASTICSEARCH_HOSTS='["http://host.docker.internal:9200"]' -e SERVER_UUID="652cee97-f8db-4783-a159-c758958bafd6\n" docker.elastic.co/kibana/kibana:7.16.2` and got the same error.

[2022-01-25 02:34] matschaffer commented on #123568
Ahhh... I see. https://github.com/elastic/kibana/blob/786f41631a47938748754d70df527671c08f5068/src/core/server/environment/resolve_uuid.ts#L24-L63 will read from `data/uuid` without validation.

I can sneak a UUID with a newline into that file (even just the trailing newline added automatically by vim gets picked up) and see the breakage in SM UI using internal collection.

![Screen Shot 2022-01-2

[2022-01-25 02:50] matschaffer opened #123678 "Validate uuid specified by data/uuid"
**Kibana version:** main

**Elasticsearch version:** 8.1 SNAPSHOT

**Server OS version:** macos

**Browser version:** Chrome

**Browser OS version:** macos

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

If you specify `server.uuid` in kibana config, startup will fail with `ValidationError: [config validation of [server].uuid]: must be a va

[2022-01-25 02:50] elasticmachine commented on #123678
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-25 04:05] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8467#63e31e1c-7ecd-477f-bdad-39aaac3bc47b)

[2022-01-25 04:05] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8467#63e31e1c-7ecd-477f-bdad-39aaac3bc47b)

[2022-01-25 04:05] kibanamachine opened #123681 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 with corrupt saved object documents collects corrupt saved object documents across batches"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8467#63e31e1c-7ecd-477f-bdad-39aaac3bc47b)

[2022-01-25 04:05] kibanamachine commented on #123545
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8467#63e31e1c-7ecd-477f-bdad-39aaac3bc47b)

[2022-01-25 04:59] matschaffer opened #123682 "Stack Monitoring alerting for deployment topology discrepancies"
**Describe the feature**:

Any elastic deployment has a number of moving parts. ES nodes in multiple zones & tiers. APM or fleet servers, potentially multiple load balanced kibana instances.

If any of those are down, we'd like to be able to notify the operator.

This will require knowledge about the _intended_ topology, which our platform control plane team (cc tech lead @jowiho) should be able t

[2022-01-25 05:00] elasticmachine commented on #123682
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-25 05:03] deepikakeshav-qasource commented on #121491
Hi @dplumlee ,

Thanks for the update!!

Hence, we are closing this ticket!!

Thanks!!

[2022-01-25 05:03] #121491 closed

[2022-01-25 05:04] kibanamachine opened #123683 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 fails the migration if unknown types are found in the source index"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8468#754d2070-ea65-42c3-9e87-e197929c2a06)

[2022-01-25 05:04] kibanamachine opened #123684 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 clean ups if migration fails"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8468#754d2070-ea65-42c3-9e87-e197929c2a06)

[2022-01-25 05:04] kibanamachine commented on #118626
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8468#754d2070-ea65-42c3-9e87-e197929c2a06)

[2022-01-25 05:04] kibanamachine opened #123685 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/actions/integration_tests - Elasticsearch Errors isWriteBlockException correctly identify errors from index operations"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8468#754d2070-ea65-42c3-9e87-e197929c2a06)

[2022-01-25 05:04] kibanamachine opened #123686 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/actions/integration_tests - Elasticsearch Errors isWriteBlockException correctly identify errors from create operations"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8468#754d2070-ea65-42c3-9e87-e197929c2a06)

[2022-01-25 05:04] kibanamachine opened #123687 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/actions/integration_tests - Elasticsearch Errors isWriteBlockException correctly identify errors from bulk index operations"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8468#754d2070-ea65-42c3-9e87-e197929c2a06)

[2022-01-25 05:05] kibanamachine opened #123688 "Failing test: Jest Integration Tests.src/core/server/elasticsearch/integration_tests - isInlineScriptingDisabled returns false when `script.allowed_types` is `inline`"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8469#daf9525d-d047-4521-8836-db7a092a43e6)

[2022-01-25 05:54] deepikakeshav-qasource commented on #109191
Hi @dhurley14 ,

Thanks for sharing the detailed steps.

We have validated this ticket with above steps and observed that issue is **fixed**. 🟢 .

Please find the below testing details:

**Build Details:**
[code]

**Steps:**
1. create a new space in 7.17.0
2. create a rule in that new space
3. copy that URL for the rule details page

https://user-images.githubusercontent.com/61860752/150916698-a93

[2022-01-25 05:55] #109191 closed

[2022-01-25 06:05] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8471#cc5d751c-d800-4813-af7d-f418d01f8bb1)

[2022-01-25 06:38] #123300 closed

[2022-01-25 06:39] #123370 closed

[2022-01-25 07:18] deepikakeshav-qasource commented on #121168
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/150929296-10321c4b-192d-4d32-b4c8-d6bb4fd75884.png)

Thanks!!

[2022-01-25 08:22] amolnater-qasource commented on #122423
Hi @joshdover
We have revalidated this issue on `released 8.0.0 rc-1` and we have found this issue fixed.
- No error pop-ups observed on navigating to Fleet tab.

**Build details:**
BUILD: 48917
COMMIT: 51f4ded427abb6fd96c7d65e179fb367d450448c

Hence we are **closing** this issue.

Thanks

[2022-01-25 08:22] #122423 closed

[2022-01-25 08:25] deepikakeshav-qasource commented on #121169
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/150934624-39d5bfa7-041b-45b9-a740-62252c288baf.png)

Thanks!!

[2022-01-25 08:50] miltonhultgren commented on #120377
@alex-fedotyev @formgeist While @jasonrhodes is out for a day or two, one question that came up in another meeting in regards to this issue:
How is the user intended to use this table for debugging purposes, given that they might have thousands of containers, what is the imagined workflow to find what is wrong? Do they need access to search within the table or is it meant that they would open the

[2022-01-25 08:53] karanverma-qasource commented on #123089
Hi @MadameSheema,

We have validated above issue on 7.17.0 Snapshot and 8.0.0 Snapshot builds. Please find our observations below:

[code]

<html><body>

Scenarios | Status | Remarks
-- | -- | --
**Scenario 1:** Import a 7.x case into 8.0, rule exists but alert does       not exist in workspace | Pass |
**Scenario 2:** Import a 7.x case into 8.0, rule does not exist in       workspace but alert do

[2022-01-25 09:00] flash1293 commented on #123591
Thanks for confirming @elasticforme - I'm not sure yet what this is about, to rule out async search could you try enabling the "Use sync search" setting in Stack Management > Advanced Settings and see whether the problem persists?

[2022-01-25 09:00] deepikakeshav-qasource commented on #122010
Hi @MadameSheema

We have validated this issue on Latest **8.0.0 SNAPSHOT** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/150940851-c151842c-3b7b-4196-ae5c-222a6f5da881.mp4

We will validate this ticket once 8.0.0 RC2 next BC will be available

Thanks!!

[2022-01-25 09:16] mtojek commented on #112095
Yes, it was and still is desired, as it will simplify the development workflow for elastic-package. We can take it to a separate discussion :) cc @jsoriano

[2022-01-25 09:16] przemekwitek opened #123691 "[ML] Transforms: It is not possible to clear retention policy on an existing transform"
It is not possible to clear an existing retention policy on a transform config.
Such a possibility was implemented in the backend in https://github.com/elastic/elasticsearch/pull/82703

[code]

[2022-01-25 09:21] carlosdelest commented on #121975
Thanks for your feedback @matschaffer !

Is there anything else we need to wrap this up? Do you think we can close this issue, as it [has already been tested](https://github.com/elastic/kibana/issues/121975#issuecomment-1017629875) for 8.0? We can keep the work in [the one opened for 8.1](https://github.com/elastic/kibana/issues/123471).

Thanks!

[2022-01-25 09:21] MadameSheema commented on #123370
@deepikakeshav-qasource @manishgupta-qasource can you please help to coordinate the testing of this on 8.0 latest branch? This is top priority, thanks :)

[2022-01-25 09:22] MadameSheema commented on #123300
@deepikakeshav-qasource @manishgupta-qasource can you pleas help to coordinate the testing of this on 8.0 latest branch? This is top priority, thanks :)

[2022-01-25 09:22] #110898 closed

[2022-01-25 09:22] MadameSheema commented on #120898
@deepikakeshav-qasource @manishgupta-qasource can you please help to coordinate the testing of this on 8.0 latest branch? This is top priority, thanks :)

[2022-01-25 09:25] elasticmachine commented on #123691
Pinging @elastic/ml-ui (:ml)

[2022-01-25 09:28] MadameSheema commented on #121758
@oatkiller can you please confirm this so in case we can backport to include the fix on RC2 bc2? Thanks!

[2022-01-25 09:31] MadameSheema commented on #122207
I'm not 100% sure here @jamster10, @paulewing @monina-n can you please confirm? Thanks!!

[2022-01-25 09:33] MadameSheema commented on #122013
Sounds good to me @spong, lots of thanks for the clarification :)

[2022-01-25 09:37] academo commented on #123375
to move forward with this change https://github.com/elastic/kibana/pull/123460 was created. The PR auto-fixes most occurrences of this error but some can't be fixed.

https://github.com/elastic/kibana/pull/123692 fixes the rest of the errors by adding ignore comments so we can move on with enabling this rule from now on.

[2022-01-25 09:41] jloleysens opened #123693 "[Reporting] Link to management section in report notifier"
When generating a report we currently show a notification when we are done (either sucesss, failure or warning). In that notification we add a link to the stack management section:

<img width="463" alt="Screenshot 2022-01-25 at 10 15 04" src="https://user-images.githubusercontent.com/8155004/150949253-f1031f54-15f9-4f7c-b205-d0c7332c1680.png">

This creates a slightly tricky UX because the notifi

[2022-01-25 09:41] elasticmachine commented on #123693
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-25 09:51] droberts195 commented on #123420
This issue is still an open blocker for 8.0.  It looks like there might be some aspect of this problem or a closely related problem that is still not fixed.  Please work on this today as a matter of urgency, because if it drags on it has the potential to delay release of 8.0.

[2022-01-25 09:55] MadameSheema commented on #123420
Thanks for the update @droberts195!! Can you please let us know which aspects are not fixed yet?

@rylnd @peluja1012 can you please take a look at the above? Thanks

[2022-01-25 09:57] MadameSheema commented on #123413
@deepikakeshav-qasource @manishgupta-qasource can you please help to coordinate the testing of this on 8.0-snapshot This is top priority, thanks :)

[2022-01-25 10:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8483#2ed22327-6631-4ce2-af1a-2df10de00be5)

[2022-01-25 10:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8483#2ed22327-6631-4ce2-af1a-2df10de00be5)

[2022-01-25 10:04] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8483#2ed22327-6631-4ce2-af1a-2df10de00be5)

[2022-01-25 10:12] stratoula opened #123695 "[Lens] Formula count and quick function count() result in different charts"
**Kibana version:**
v8.0+

**Describe the bug:**
I create a Lens chart with Count of records, I switch to formula. Although the script is correct `count()`, the chart is different from the previous one

**Quick function**
![image](https://user-images.githubusercontent.com/17003240/150956724-9e746048-b3e8-4dfd-8476-c2795914b2b7.png)

**Formula**
![image](https://user-images.githubusercontent.com/17

[2022-01-25 10:12] elasticmachine commented on #123695
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-25 10:13] flash1293 commented on #123695
@stratoula This happens because we can't sort by formula and the top values function is switching to alphabetical. I agree it's not ideal but I'm not sure whether we can do something about it.

[2022-01-25 10:14] droberts195 commented on #123420
I saw you mentioned this on https://github.com/elastic/kibana/issues/123574.  If this problem _is_ fixed and that issue is not a blocker then please mark the blocker resolved on the release tracking issue.

[2022-01-25 10:15] deepikakeshav-qasource commented on #123413
Hi @MadameSheema

We have validated this issue on Latest **8.0.0 SNAPSHOT** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]
**User with Viewer role**

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/150957214-3e2b2d8d-a358-4f8a-9f91-7b6f7aa75c1e.png)

**Screencast:**

https://user-images.githubusercontent.com/618607

[2022-01-25 10:16] #123695 closed

[2022-01-25 10:24] MadameSheema commented on #123574
@prachigupta-qasource can you please try to reproduce this on latest 8.0 snapshot and branch? This is top-priority, thanks!

[2022-01-25 10:26] lizozom commented on #123186
Also noticed a mismatch in error counts:

Shown on main APM screen (1 occ):
![image](https://user-images.githubusercontent.com/3016806/150959388-9e38615d-55f9-4480-b934-ebd47ce2ce77.png)

When clicking on that error (30 occ):
![image](https://user-images.githubusercontent.com/3016806/150959492-4300df45-66d4-4737-8086-2f99b5f39f05.png)

[2022-01-25 10:28] #123215 closed

[2022-01-25 10:36] juliaElastic commented on #116711
@mostlyjason @nchaulet I couldn't reproduce this bug, is it specific to version 7.13.2 or docker installation? I used on-prem install.
![image](https://user-images.githubusercontent.com/90178898/150960936-678aafc4-7489-4f71-931e-8bd4b107c86a.png)
![image](https://user-images.githubusercontent.com/90178898/150960997-43f04330-01fe-4bd5-8561-04c89539487c.png)

[2022-01-25 10:46] gbamparop commented on #120796
Yes please, I've added some information to the description.

[2022-01-25 10:48] #122372 closed

[2022-01-25 11:05] ghost opened #123699 "[Security Solution] Position of Loader is not correct on 'Elastic rules' page"
**Describe the bug:**
Position of Loader is not correct on 'Elastic rules' page

**Kibana/Elasticsearch Stack version:**

[code]
**Pre-requisite:**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to reproduce:**

1. Navigate to Security > Rules
2. Click on Elastic rules tab.
3. Click on 'Refresh' button and observe that loader is at the bottom.
4. Click on Cu

[2022-01-25 11:05] elasticmachine commented on #123699
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-25 11:07] jowiho commented on #123682
There seems to be a lot of overlap with the [Desired Nodes API](https://docs.google.com/document/d/1aTzcBtMGmxZOagY2MqtEcEL88pD8qNN-mTH_6t2kbA4) project. With that API, our control plane will be able to tell ES what the cluster should look like. One of the use cases is health monitoring. The current API design is scoped to ES only, but for this issue we might want to consider including other appli

[2022-01-25 11:13] dej611 opened #123700 "[XY] Percentiles with decimals do not work any more in visualize"
**Kibana version:** 7.16.0

**Describe the bug:**

In Visualizes/Aggregation based visualizations percentile values do not work any more with decimals.

Percentile values like 1.5 or 99.5 used to work until 7.16.0, but now they are no longer: the current problem is probably relative no a missing column mapping in the final visualization code.

<img width="257" alt="Screenshot 2022-01-25 at 11 49 0

[2022-01-25 11:13] elasticmachine commented on #123700
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-25 11:15] #104893 closed

[2022-01-25 11:28] afharo commented on #123622
I think that this issue might be related: https://github.com/elastic/kibana/issues/84165

[2022-01-25 11:29] flash1293 commented on #123700
Yep, seems like the logic here just splits by `.` which is not enough: https://github.com/elastic/kibana/blob/348bfb8b33f418d504489cd4a212539d7e04f256/src/plugins/vis_types/xy/public/utils/accessors.tsx#L83

[2022-01-25 11:43] dikshachauhan-qasource opened #123704 "[Self-managed]: No Warning message displayed to user at logfile path field while adding Custom logs integration to agent policy.."
*Kibana version:**  7.17 BC2 self managed Kibana environment

**Browser version:** Firefox
**Host OS**: **n/a**

**Preconditions:**
1. 7.17 BC2 self managed Kibana environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Integrations tab.
- Search for custom logs integration.
- Click on Add button, do not provide log file path.
- Click o

[2022-01-25 11:43] elasticmachine commented on #123704
Pinging @elastic/fleet (Team:Fleet)

[2022-01-25 11:44] dikshachauhan-qasource commented on #123704
@manishgupta-qasource Please review

[2022-01-25 11:48] manishgupta-qasource commented on #123704
Reviewed & mention to @kpollich

[2022-01-25 11:58] muskangulati-qasource opened #123706 "[Security Solution] The agent status is incorrect on the alerts tab if agent in reinstalled after generating the alert"
**Description:**
The agent status is incorrect on the alerts tab if agent in reinstalled after generating the alert.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Install and execute alerts
2. Then uninstall & reinstall and agent.
3. See the status of alerts on alerts tab is shown as '-' where as on Hosts ta

[2022-01-25 11:58] elasticmachine commented on #123706
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-25 11:58] muskangulati-qasource opened #123707 "[Security Solution] The status of isolate and release keeps on showing pending even though it is successful"
**Description:**
The status of isolate and release keeps on showing pending even though it is successful

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Isolate an endpoint and observe the status keeps on showing as pending.

**Impacted Test case:**
N/A

**Actual Result:**
The status of isolate and release kee

[2022-01-25 11:58] elasticmachine commented on #123707
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-01-25 11:58] elasticmachine commented on #123707
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-25 11:59] muskangulati-qasource commented on #123706
@manishgupta-qasource please review!!

[2022-01-25 11:59] muskangulati-qasource commented on #123707
@manishgupta-qasource please review!!

[2022-01-25 12:04] kibanamachine commented on #123666
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8489#3a78ea6e-2774-4484-97e1-c0bffac2bff8)

[2022-01-25 12:04] kibanamachine commented on #123667
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8489#3a78ea6e-2774-4484-97e1-c0bffac2bff8)

[2022-01-25 12:04] kibanamachine commented on #123668
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8489#3a78ea6e-2774-4484-97e1-c0bffac2bff8)

[2022-01-25 12:10] manishgupta-qasource commented on #123706
Reviewed & assigned to @MadameSheema

[2022-01-25 12:11] manishgupta-qasource commented on #123707
Reviewed & assigned to @kevinlog

[2022-01-25 12:18] flash1293 commented on #123700
@dej611 @stratoula While testing the fix, I noticed percentage mode on an axis doesn't work right as well for multi-value metrics - is this a known problem?

Like in this example:
<img width="1391" alt="Screenshot 2022-01-25 at 13 17 22" src="https://user-images.githubusercontent.com/1508364/150975530-802d7bcb-8370-44eb-ac3b-67eb7065cc75.png">

Count metrics are respecting percentage mode, but per

[2022-01-25 12:21] dikshachauhan-qasource commented on #91804
Hi @EricDavisX

We have tested error logs collection scenarios on 7.17 BC2 build and updated table above with version entries.

BUILD: 46488
COMMIT: a6fd029464413f6979099d7a3d4232c5194a269d
ARTIFACT: https://staging.elastic.co/7.17.0-1bd53ff7/summary-7.17.0.html

Please let us know if more info is required.

Thanks
QAS

[2022-01-25 12:25] mikecote commented on #123665
@kobelb we have this issue opened => https://github.com/elastic/kibana/issues/80575

[2022-01-25 12:26] #116751 closed

[2022-01-25 12:28] stratoula commented on #123700
@flash1293 if I am not mistaken, same behavior existed in vislib too.

![image](https://user-images.githubusercontent.com/17003240/150976989-88e8aeb2-fdd4-4767-a19f-ae02aaf0303e.png)

[2022-01-25 12:33] stratoula commented on #123700
@flash1293 yes this seems to be a bug of the normal mode. Stacked mode works correctly on my local branch. Do you want me to create an issue?

[2022-01-25 12:47] legrego commented on #75274
Discussed this with @azasypkin, and we agreed to close this for now. Server-side sessions have been in production for over a year, and we haven't identified any performance issues that are directly related to this change. We can investigate if we start to notice performance issues in the future.

[2022-01-25 12:47] #75274 closed

[2022-01-25 12:51] kevinlog commented on #123707
@muskangulati-qasource - I noticed in your video that the Endpoint never sends the "Completed" notification in the actions log.

![image](https://user-images.githubusercontent.com/56395104/150979992-1aeac796-90dc-4b8b-98f5-21726f8aff1c.png)

Can you verify that your VMs are actually completing the isolation action?  You can go to the VM and find the desktop notification or try to connect to some w

[2022-01-25 12:51] juliaElastic commented on #123356
@samratbhadra-qasource @jen-huang there is a validation checking that all fleet server hosts have the same protocol (e.g. all `http` or `https`).
The error reported only comes when there is an existing `https` fleet server hosts and trying to add a `http` host. The same error comes when there is an existing `http` host and trying to add a `https` one, so the proposed fix doesn't solve the issue co

[2022-01-25 13:09] henningandersen commented on #123682
I think there is also significant overlap with the health project(s). I wonder if stack monitoring should eventually rely on the health output for both ES, APM and kibana health. The detailed determination about whether a missing node for instance is a health issue or not would then be owned by the product. For instance in ES, losing a node that is being shutdown due to a restart is not a health i

[2022-01-25 13:16] gbanasiak commented on #123606
The same can be seen in 7.15.1.

[2022-01-25 13:18] legrego commented on #110264
We've addressed a majority of our `401` shortcomings recently:
- https://github.com/elastic/kibana/pull/113460
- https://github.com/elastic/kibana/pull/122155

The remaining items here focus on configuration mismatches across multiple Kibana instances. We have other issues tracking this broader work, so I'll close this in favor of those:
- https://github.com/elastic/kibana/issues/92654
- https://g

[2022-01-25 13:18] #110264 closed

[2022-01-25 13:25] yuliacech opened #123714 "[Index Management] Missing values in index details flyout"
**Kibana version:**
main branch at e76cedbd22fb71987b81eccb247831a858dcd82c

**Elasticsearch version:**
ES snapshot [2022-01-09](https://storage.googleapis.com/kibana-ci-es-snapshots-daily/8.1.0/archives/20220109-151454_35311724/elasticsearch-8.1.0-SNAPSHOT-darwin-x86_64.tar.gz)

**Server OS version:**
macOS BigSur

**Browser version:**
Google Chrome Version 97.0.4692.71 (Official Build) (x86_64)

[2022-01-25 13:25] elasticmachine commented on #123714
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-25 13:27] pgomulka commented on #120124
I have merged [[7.17] Do no use x-opaque-id for deduplicating elastic originating requests backport (#82855) #83023](https://github.com/elastic/elasticsearch/pull/83023) into 7.17 should we consider this issue done?

Or maybe we should keep it open until kibana stop sending UUID on x-opaque-id?

I also merged [Emit trace.id into audit logs #82849
](https://github.com/elastic/elasticsearch/pull/828

[2022-01-25 13:33] #106041 closed

[2022-01-25 13:41] simitt commented on #112095
For ECE the `xpack.fleet.packages` setting is used for the setup. That does mean this should be working right?

[2022-01-25 13:43] #116700 closed

[2022-01-25 13:44] #105596 closed

[2022-01-25 13:45] pmuellr opened #123715 "[ResponseOps] MS Teams connector does not have any functional tests"
**Kibana version:** 8.0

A developer working on a new connector type noticed that we didn't have any functional tests for MS Teams.  That appears to have been an oversight, so we should add some.

The connector was added with this PR: https://github.com/elastic/kibana/pull/83169

[2022-01-25 13:45] elasticmachine commented on #123715
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-25 13:54] prachigupta-qasource commented on #123574
Hi @MadameSheema ,

We have validated above issue on 8.0.0 SNAPSHOT build and it's working fine. :white_check_mark:

**Build Info**

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/150989267-c173d046-0bf0-40ea-a5a9-c9b6037afafe.png)

![image](https://user-images.githubusercontent.com/97870262/150989479-ffa82162-2084-47b6-8488-5d21b6ec9667.png)

Thanks !

[2022-01-25 13:59] pgayvallet commented on #120124
We do still need to address this properly on our side on 8.1 or 8.2. But there is a lot of noise on this issue. I will open a new one summarizing all this, then close this one.

In the meantime, @pgomulka, do you know if an issue was opened to track adding `trace-id` support on the log output/format on the elasticsearch side? We'll still need that to properly address the issue.

[2022-01-25 14:02] iuriikhrystiuk opened #123719 "Support bucket_sort aggregation"
**Describe the feature:**
There are multiple visualizations that allow to apply buket_script aggregations in one way or another. However, when we are talking about ordering terms in terms aggregations by the values, calculated in bucket_script, this is not allowed. There are use-cases when we need to show top terms ordered by the values calculated in the bucket_script.

**Describe a specific use c

[2022-01-25 14:03] kevinlog commented on #123707
@muskangulati-qasource @ashokaditya I know what the problem is.  If the namespace is different, then we need to expand the query to go beyond just `.logs-actions-response-default`.  I'm raising this to critical so that we can merge it in before the last 8.0 BC

[2022-01-25 14:04] pgomulka commented on #120124
There was no issue created. It was added a while back to ES [7.15](https://github.com/elastic/elasticsearch/pull/74210) We only missed adding this to audit logs.

[2022-01-25 14:08] pgayvallet commented on #120124
Yea, sorry, specifically for the audit logs was what I meant

[2022-01-25 14:09] pgomulka commented on #120124
also I did not create an issue. I considered this more like a follow up https://github.com/elastic/elasticsearch/pull/82849

[2022-01-25 14:11] emilioalvap commented on #119519
LGTM, tested on `v8.0.0-rc2`.

<img width="888" alt="image" src="https://user-images.githubusercontent.com/95703246/150992527-bdc8ebc5-ce93-426f-843b-c3fcb6fff658.png">

[2022-01-25 14:11] gbamparop commented on #121882
@formgeist do we still need to keep the main time series colour as they are or change them so they use the same colour?

At the moment, even in the latency chart the colours change if you pick another metric:

![image](https://user-images.githubusercontent.com/5831975/150992411-745ff3a4-88dc-480d-89a3-f46e4ecf4d4b.png)

![image](https://user-images.githubusercontent.com/5831975/150992472-af79fbbc-

[2022-01-25 14:13] pgayvallet commented on #120124
Oh, that's already done and merged, perfect then.

[2022-01-25 14:17] legrego commented on #122584
Appears transient, closing for now

[2022-01-25 14:17] #122584 closed

[2022-01-25 14:17] legrego commented on #123423
Appears transient, closing for now

[2022-01-25 14:17] #123423 closed

[2022-01-25 14:18] legrego commented on #122585
Appears transient, closing for now

[2022-01-25 14:18] #122585 closed

[2022-01-25 14:18] legrego commented on #122753
Appears transient, closing for now

[2022-01-25 14:18] #122753 closed

[2022-01-25 14:21] Dosant opened #123720 "`data` dependent on `security` breaks tests"
# TLDR

* Adding `security` plugin as an optional dependency of `data` breaks tests on CI 🔴
* @elastic/kibana-app-services needs this to get rid of `data_enhanced` to simplify code https://github.com/elastic/kibana/issues/119321.
* Minimal reproduction: https://github.com/elastic/kibana/pull/121955
  * Change in `data/kibana.json` breaks CI
  * Plugin dependency topology doesn't change
  * It seem

[2022-01-25 14:22] legrego commented on #122821
Appears transient, closing for now

[2022-01-25 14:23] oatkiller commented on #121758
@MadameSheema @yctercero Please feel free to backport to 8.0.

[2022-01-25 14:24] Dosant commented on #119321
Summed up a blocker in https://github.com/elastic/kibana/issues/123720

[2022-01-25 14:24] Dosant commented on #92802
Close in favor of https://github.com/elastic/kibana/issues/119321

[2022-01-25 14:24] #92802 closed

[2022-01-25 14:25] juliaElastic commented on #123528
@tylersmalley is `kibanaTestUser` deprecated here? https://github.com/elastic/kibana/pull/123338/files#diff-bf7e69bb5bd4ae217e325a160df424d03afc2f2f56c10179c32b30bbd57a5bd0
The tests are working locally when I change it back.

When using `systemIndicesSuperuser` I'm seeing a `forbidden` error
[code]

cc @nchaulet as he added these tests recently

[2022-01-25 14:27] #116422 closed

[2022-01-25 14:44] deepikakeshav-qasource commented on #123300
Hi @MadameSheema

We have validated this issue on **8.0.0 branch** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/150997978-7099025c-5175-4b36-895e-ff250b9b5007.mp4

Please let us know if we are missing something!!

Thanks!!

[2022-01-25 14:47] nreese opened #123721 "[maps] move maps setting button to legend"
The current location of the "Map settings" button is above the query bar, in the nav bar. This separates the "Map settings" from other map interactions, which all take place from the legend. The separation makes it difficult for users to find "Map settings". Would it make sense to move "Map settings" from its current location to the legend. One benefit would be better discoverability since users a

[2022-01-25 14:47] elasticmachine commented on #123721
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2022-01-25 14:47] elasticmachine commented on #123721
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-25 14:54] mtojek commented on #123596
Let's keep it open until we confirm it's fixed.

[2022-01-25 14:55] oatkiller commented on #123413
Thank you very much!

[2022-01-25 14:56] karanverma-qasource commented on #123370
Hi @MadameSheema,

We have validated above issue on 8.0 main branch and it's fixed. :white_check_mark:

**Build Details:**

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/151000147-39d13865-8f81-4f9b-a51d-5042ad7d95b6.png)

![image](https://user-images.githubusercontent.com/91867110/151000249-666d35f1-83f0-4d3f-9d81-a044d58d5f18.png)

![image](https://user-im

[2022-01-25 14:57] LL6688 commented on #111184
@clintandrewhall @alexfrancoeur will we have this in 8.1?

[2022-01-25 14:58] matschaffer opened #123722 "Update uuid dependency"
We depend on [uuid 3.3.2](https://www.npmjs.com/package/uuid/v/3.3.2), published 4 years ago. It's probably a good time to update it to something recent.

Two reasons for this are:
1. uuid < 7 has a warning about Math.random() usage being problematic (https://v8.dev/blog/math-random)
2. more recent versions include a validation helper which could probably replace our own regexp validations. Which

[2022-01-25 14:58] elasticmachine commented on #123722
Pinging @elastic/kibana-operations (Team:Operations)

[2022-01-25 14:59] flash1293 opened #123723 "Nested other bucket does not work for empty string term"
**Kibana version:** all

**Describe the bug:** On nesting other bucket in another terms agg which has empty string as term, the inner other bucket is not resolved.

**Steps to reproduce:**
1. Install logs sample data
2. Build data table with first splitting on extension.keyword, then on geo.dest with size: 2
3. Enable other bucket for the geo.dest column
4. Enable show metrics on all levels
<img w

[2022-01-25 14:59] elasticmachine commented on #123723
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-25 15:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8498#c8b62b8f-ab98-40ab-980b-48470269d7ed)

[2022-01-25 15:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8498#c8b62b8f-ab98-40ab-980b-48470269d7ed)

[2022-01-25 15:04] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8498#c8b62b8f-ab98-40ab-980b-48470269d7ed)

[2022-01-25 15:09] pgayvallet commented on #118869
Just a friendly reminder that the 8.1 FF is getting close.

[2022-01-25 15:09] #109260 closed

[2022-01-25 15:09] #119265 closed

[2022-01-25 15:09] #119266 closed

[2022-01-25 15:09] #116980 closed

[2022-01-25 15:09] #119781 closed

[2022-01-25 15:09] #119782 closed

[2022-01-25 15:09] #119783 closed

[2022-01-25 15:09] #119785 closed

[2022-01-25 15:18] #98126 closed

[2022-01-25 15:27] jportner opened #123724 ""user_login" audit events do not contain "session_id" field"
**Kibana version:** 7.10-7.16

**Describe the bug:**

When you enable ["ECS" audit logging](https://www.elastic.co/guide/en/kibana/7.16/xpack-security-audit-logging.html) in Kibana, most audit events contain the "session_id" field. However, the "user_login" event does not contain this field.

**Steps to reproduce:**
1. Enable audit logging
2. Start ES and Kibana
3. Log into Kibana
4. Observe an au

[2022-01-25 15:27] elasticmachine commented on #123724
Pinging @elastic/kibana-security (Team:Security)

[2022-01-25 15:40] matschaffer commented on #121975
Moving to close a part of the packages sync we're having atm.

[2022-01-25 15:40] #121975 closed

[2022-01-25 15:42] elasticmachine commented on #123678
Pinging @elastic/kibana-core (Team:Core)

[2022-01-25 15:50] kqualters-elastic commented on #120898
@deepikakeshav-qasource if you create a new timeline to clear out any existing results and then open an eql sequence, does the data appear? also I can't seem to find the commit 61850b11e7ea585630fec1ed981a7715e8b7c1bb, how was that environment created?

[2022-01-25 15:57] cjcenizal opened #123728 "Remove `console.ssl` setting in 8.0"
In 7.17, UA surfaces it as a critical deprecation. We should remove `console.ssl` in 8.0 so that it's a breaking change. See  https://github.com/elastic/kibana/pull/123411#pullrequestreview-858347170 for more context.

[2022-01-25 15:58] elasticmachine commented on #123728
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-25 16:00] ghudgins opened #123731 "[maps] configuration to synchronize map interactions in dashboards"
**Describe the feature:**
The ability to configure a dashboard so movement in one map panel moves all other maps panels in concert.

**Describe a specific use case for the feature:**
**When** I have two different maps showing different, yet related, data side by side on a dashboard
**I need** the ability to configure the maps to interact in concert (moving one map extent moves the other panels)
**

[2022-01-25 16:00] elasticmachine commented on #123731
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-25 16:13] pgayvallet opened #123737 "Stop Kibana from generating unique X-Opaque-ID values when not received from the client."
We've been historically generating unique `x-opaque-id` values for each Kibana request, and transmitting those values to elasticsearch every time a request is performed using a scoped client.

This was done with the assumption that this value had no semantics or no functional usage in elasticsearch. However, this assumption was wrong, as this opaqueId value is now used for some features such as de

[2022-01-25 16:13] elasticmachine commented on #123737
Pinging @elastic/kibana-core (Team:Core)

[2022-01-25 16:13] pgayvallet commented on #120124
Closing in favor of https://github.com/elastic/kibana/issues/123737

[2022-01-25 16:13] #120124 closed

[2022-01-25 16:17] #123420 closed

[2022-01-25 16:24] flash1293 commented on #123654
@MichaelMarcialis It would reduce the density of the dashboard because of the lost vertical space in case you don't need it - do you think that would be an issue?

[2022-01-25 16:27] MadameSheema commented on #123420
@peluja @marshallmain I'm understanding that if you are closing the ticket means that you have already tested that and there is no effort needed from the quality side, is that correct?

[2022-01-25 16:29] ghudgins commented on #123654
yes but I would still like to *also* be able to edit this in a single visualization context (the toolbar where it is today).

we're starting to build a list of these features we want to "override" on Dashboards in bulk. Might make sense to begin tracking them somewhere (like a meta?). @flash1293 what do you think? I can add this to one of our weeklies to talk about how best to move forward.

[2022-01-25 16:31] alexfrancoeur commented on #112362
@majagrubic would you say https://github.com/elastic/kibana/pull/123366 addresses this issue?

[2022-01-25 16:42] marshallmain commented on #123420
@MadameSheema Yes, this issue is fixed

[2022-01-25 17:01] yctercero commented on #105819
Closing this ticket out as work was completed.

[2022-01-25 17:01] #105819 closed

[2022-01-25 17:02] yctercero commented on #101975
Work was complete.

[2022-01-25 17:05] kibanamachine commented on #123683
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8504#f57ad1bc-8b6b-4166-ba84-00678a2dcb75)

[2022-01-25 17:10] yctercero commented on #113055
Fixed by linked PR - that piece of code where we needed to add the link is no longer there in favor of other more detailed log messages.

[2022-01-25 17:10] #113055 closed

[2022-01-25 17:18] ghudgins commented on #123695
you know what we can do about it..... https://github.com/elastic/kibana/issues/86184

and then potentially enable the client sorting approach by default when a user transitions to formula?

[2022-01-25 17:19] yctercero commented on #123500
@MadameSheema hey! could we get a QA check/sign off on this fix?

[2022-01-25 17:26] dej611 commented on #123695
They are two distinct things. The correct term here is `rank` rather than `sort`: it is not possible to rank top values by a formula, so client side sorting will help only when Alphabetical and metric ranking match the same top values terms.

[2022-01-25 17:49] #123108 closed

[2022-01-25 17:50] ogupte commented on #123570
@joshdover

I was able to narrow down where this race condition is occurring: it's in the Fleet UI code where it checks if an upgrade is available: https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_define_package_policy.tsx#L115-L125 . One workaround for this is to set `useLatestPackageVersion` to `false

[2022-01-25 17:58] mostlyjason commented on #123140
I don't believe we support CCS setups for Fleet yet. CC @joshdover in case he has anything to add.

[2022-01-25 17:58] #123309 closed

[2022-01-25 18:01] qn895 opened #123746 "[data views] Add a way to quickly to navigate to Discover when a new data view is created"
**Describe the feature:**
It would be quite seamless for users to have a way to quickly navigate to Discover from the data view management page whenever a new data view is created.

**Describe a specific use case for the feature:**
As it's a common scenario to users to  want to check what the data looks like/explore documents after creating a new data view, having a prompt/button/link to navigate

[2022-01-25 18:06] ghudgins commented on #123414
Sounds good.

[2022-01-25 18:11] tsullivan commented on #123082
I'm not sure the tests were skipped as selectively as they should have been: https://github.com/elastic/dev/issues/1855#issuecomment-1021444827

[2022-01-25 18:15] lukeelmers commented on #102177
I tend to agree with @pgayvallet here: While I'm on board with the idea of soft deletes, and it seems like it would be a useful feature to implement, it does feel like a higher-level concern than the KPT and would probably make more sense as (yet another) addition to the existing SO APIs. But let's see what everyone else thinks 🙂

[2022-01-25 18:17] bmorelli25 commented on #121534
✅ Left my comments in Miriam's PR

[2022-01-25 18:21] ghudgins opened #123750 "[Lens] Allow custom legend series actions / drilldowns"
**Describe the feature:**
Allow a user to configure a drilldown-style action from a legend series taking the selection into another part of Elastic (like a Dashboard)

**Describe a specific use case for the feature:**
_Analytics Author_
**When** I am authoring an XY visualization with a breakdown by (and legend)
**I need** to add a custom action to the legend
**So I can** take an entire "series" i

[2022-01-25 18:21] elasticmachine commented on #123750
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-25 18:36] alisonelizabeth opened #123752 "[Upgrade Assistant] Investigate credential hash"
In https://github.com/elastic/kibana/pull/123727, we made changes to how the credential hash is created in Upgrade Assistant to exclude `reindexOptions`.

As a follow-up, we should consider whether it would be a better approach to update the credential hash with the new `reindexOptions` attributes, rather than exclude them.

Related work that likely caused the original issue: https://github.com/el

[2022-01-25 18:36] elasticmachine commented on #123752
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-25 18:37] jportner opened #123753 "Reduce round trips to ES during rule creation/update"
I was testing audit logging today and I noticed something that looked peculiar when I created a new alerting rule:

[code]

(several fields have been omitted for simplicity)

Before the rule is created, there are two `connector_get` events written.

I took a cursory look at the rule `create` function, and it seems like the connector(s) are fetched twice -- once during `validateActions` and again d

[2022-01-25 18:37] elasticmachine commented on #123753
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-25 18:38] ashokaditya commented on #123707
PR elastic/kibana/pull/123741

[2022-01-25 18:41] flash1293 commented on #123750
Current drilldowns are defined on a filter, so the user has to first make a choice whether they want to filter "for value" or "out value" - one approach would be to make this menu nested - e.g if the user clicks "Filter for value", they will get a new menu with the drilldowns for that. If we want to show the drilldowns directly in that menu, we would need to decide whether we want to filter "for v

[2022-01-25 18:44] #119496 closed

[2022-01-25 18:48] jonathan-buttner opened #123755 "[Response Ops][Cases] Observability rules show Unknown after upgrading to 8.0"
After attempting to fix this issue: https://github.com/elastic/kibana/issues/123089

Observability will have `Unknown` for the rule name and the link will be unclickable. The rule can still accessed via the flyout.

To fix this we need to implement `useFetchAlertData` here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/observability/public/pages/cases/helpers.ts#L16

<details><summary

[2022-01-25 18:48] elasticmachine commented on #123755
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-25 18:48] elasticmachine commented on #123755
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-25 18:52] flash1293 opened #123756 "[Lens] Color stop UI follow-ups"
- [ ] On metric, turning off auto max value will not round the value:
<img width="424" alt="Screenshot 2022-01-24 at 14 49 52" src="https://user-images.githubusercontent.com/1508364/150794775-c7337104-439c-48f4-a5af-7ee8faa6d2b1.png">

- [ ] On metric, turning off auto min value will log a warning: `The specified value "-Infinity" cannot be parsed, or is out of range.

- [ ] When I am on the perce

[2022-01-25 18:53] alisonelizabeth commented on #123616
PR open - https://github.com/elastic/kibana/pull/123727

[2022-01-25 19:03] flash1293 commented on #123756
@MichaelMarcialis

The case we are catching here is if the data is not matching the palette well anymore (e.g. after applying a filter) to make it clear what's out of range and won't be shown in the current chart.

Good point, we splitted that out because gauge didn't support it with the old color stop UI as well - we should definitely do it now. For that PR it was intentional.

IMHO this is a val

[2022-01-25 19:10] legrego commented on #123129
Closed via https://github.com/elastic/kibana/pull/123742

[2022-01-25 19:10] #123129 closed

[2022-01-25 19:10] alisonelizabeth commented on #123638
@bhavyarm are you able to consistently reproduce this? I'm having a hard time. Do you know at what step in the reindexing process you are restarting Kibana to trigger this error?

[2022-01-25 19:38] #123374 closed

[2022-01-25 19:52] jonathan-buttner opened #123759 "[Response Ops][Cases] Sub cases technical debt refactoring"
Removing the sub cases feature warrants additional refactoring in a few areas of the cases backend. This issue lists the places that should be addressed:

## Adding Aggregations (https://github.com/elastic/kibana/pull/124181)
- [x] `getCaseCommentStats`
  - https://github.com/elastic/kibana/blob/main/x-pack/plugins/cases/server/services/cases/index.ts#L479
  - Use the case ids to do an aggregation

[2022-01-25 19:52] elasticmachine commented on #123759
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-25 19:52] elasticmachine commented on #123759
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-25 19:53] #121275 closed

[2022-01-25 19:57] MichaelMarcialis commented on #123756
I see what you're saying. I guess my initial thinking was that it would be obvious to users that their ranges are not conforming to their current data range anymore, since that is the purpose of the custom min/max functionality, but perhaps I'm oversimplifying? I'm just desiring to keep the experience as simple and not-scary as possible. Thoughts @ghudgins?

Ah, I see. While we're technically trea

[2022-01-25 20:06] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8515#159797e2-f446-449e-8f2c-ca1b09617b87)

[2022-01-25 20:06] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8515#159797e2-f446-449e-8f2c-ca1b09617b87)

[2022-01-25 20:06] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8515#159797e2-f446-449e-8f2c-ca1b09617b87)

[2022-01-25 20:07] flash1293 commented on #123756
no strong opinion here from my side - I think the idea was to make it possible to see it with a single glance (in the case of large values it’s possible to miss-read the stops)

I think “Max. value” makes sense here as well but it’s definitely subjective. It basically says the last color (red) will be applied between “>= 2440 and <= Max. value” - “Max. value” can be interpreted as the largest valu

[2022-01-25 20:08] #119540 closed

[2022-01-25 20:25] alisonelizabeth commented on #123638
I'm still not able to reproduce this yet. However, based on the error in your screenshot, it would appear that UA thinks it's on a different step in the reindexing process than it actually is, i.e., it thinks it has not created a new index yet so it attempts to create one again and the error occurs because it already exists.

This is the area of the code where the error is triggered: https://githu

[2022-01-25 20:36] ghudgins commented on #123756
I saw it in my testing and didn't feel it was that scary but also understand this point. We could revise the text to include "...minimum bounds **of the current data.** or something else to soften the blow maybe. not sure anything is needed though (unless you feel strongly, in which case let's do it!)

++ I think this is okay as is. It still "works" as a minimum/maximum value getting color would a

[2022-01-25 20:59] simianhacker commented on #123568
I don't think anyone ever expected that file to be managed outside of Kibana. I'm inclined to say that Kibana should validate the response from that file since we can't guarantee complete control over it. I think we will always have issues with "garbage in / garbage out" for anything that's read from a file that the user could potentially corrupt.

The fact that they are managing that file with An

[2022-01-25 21:00] andrewctate commented on #122678
Nice sleuthing, @flash1293 !

[2022-01-25 21:04] kibanamachine commented on #123683
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8516#2c4ccadf-7f74-444b-ac57-8fe507891f37)

[2022-01-25 21:04] kibanamachine commented on #123684
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8516#2c4ccadf-7f74-444b-ac57-8fe507891f37)

[2022-01-25 21:04] kibanamachine commented on #118626
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8516#2c4ccadf-7f74-444b-ac57-8fe507891f37)

[2022-01-25 21:15] simianhacker commented on #119310
Closed by #122755

[2022-01-25 21:15] #119310 closed

[2022-01-25 21:25] mdefazio opened #123765 "[Runtime Fields] UX: Allow filtering for runtime fields in Data view management"
Ref feature request: https://github.com/elastic/kibana/issues/102461

- - -

As we continue enhancing runtime fields, we need to allow easier access to these fields within the Data view management view. The first phase will include improving the filtering for runtime fields to allow the user to find these fields (for promotion).

### Requirements

- Filter to include runtime fields
- Filter to exc

[2022-01-25 21:26] pmuellr opened #123766 "[ResponseOps] tools to help with ad hoc testing migrations with stock on-prem distributions"
During a retrospective, I noted that I hit some stumbling blocks doing some ad hoc cross-version migration testing.  I started with downloaded distributions for my dev platform, and wanted to be able to test getting a number of rules running constantly (1s interval), firing actions, with a non-super user, in a non-default space.  Then shut that down, and migrate it to a new version of the stack, a

[2022-01-25 21:26] elasticmachine commented on #123766
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-25 21:38] dedemorton opened #123767 "Make filter buttons for Elastic Agent and Beats more prominent in the Integrations UI"
**Describe the feature:**

In the Integrations UI, the filter buttons need to be moved up so they are not below the fold, and the cards in the UI need to prominently indicate whether the integration works with Elastic Agent or Beats. (Some users will miss the text description and inadvertently select a Beats integration only to end up in the wrong workflow. They might even try to configure the man

[2022-01-25 21:40] dedemorton commented on #123767
cc @gchaps because we should work on the intro text together

[2022-01-25 22:15] elasticmachine commented on #123756
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-25 22:26] KnowMoreIT opened #123771 "Option for trusted applications page to have a more simplified view"
**Describe the feature:**
Each trusted application that is added takes up a considerable amount of view space in the GUI. You could have over a hundred trusted applications added in a security product and a more simplified view would make it easier to manage. An option to categorize the trusted applications would be nice as well (such as grouping all exclusions for Citrix products under Citrix, FS

[2022-01-25 22:31] pmuellr commented on #122989
For some reason I thought we were removing the `state` variables from ALL the action groups, not just recovered.  I guess that's the easiest thing to do today, in case users are using `state` variables today, they might be confused if they didn't see them listed in a future version of Kibana, for non-recovered action groups.

Commenting here after seeing the video in [[Alerting] Remove state varia

[2022-01-25 22:44] drewdaemon opened #123774 "[Lens] Create change detection routine for more accurate dashboard diffing"
Dashboards now allow individual embeddables to define their own change detection routines by way of the new [`getExplicitInputIsEqual` method](https://github.com/andrewctate/kibana/blob/7f7dbbb3cc0eb8d05a5c1d531ea9d56439375f72/src/plugins/embeddable/public/lib/embeddables/i_embeddable.ts#L188-L191). This is better than having the dashboard simply perform some generic state comparison because the i

[2022-01-25 22:44] elasticmachine commented on #123774
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-25 23:05] simianhacker commented on #112354
@elastic/kibana-alerting-services Is there a lifecycle event that happens when an alert is deleted? The current functionality in relies on wrapping the solutions executor, when the solution's rule runs our lifecycle executor runs as well setting the alert state (in RAC indices).

[2022-01-25 23:08] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8524#ae2ca144-0713-485b-8015-04e0d0fc64c1)

[2022-01-25 23:08] kibanamachine commented on #54482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8524#ae2ca144-0713-485b-8015-04e0d0fc64c1)

[2022-01-25 23:08] kibanamachine commented on #123681
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8524#ae2ca144-0713-485b-8015-04e0d0fc64c1)

[2022-01-25 23:25] simianhacker commented on #120465
So this query will NEVER work without `*`, why even bother with filtering down the fields in the first place? Why not permanently set it to `*`?

[2022-01-26 00:18] #123570 closed

[2022-01-26 00:32] #123728 closed

[2022-01-26 00:58] matschaffer commented on #123568
Agreed. I had trouble retraining myself yesterday so I implemented exactly that (validation for that file) https://github.com/elastic/kibana/issues/123678

I'm guessing the newline in distro is not as big a deal, but might be good to trim it.

@simianhacker sounds like you're not especially keen on a beats fix then. I'm definitely not since fixing it in beats leaves the same issue for internal col

[2022-01-26 01:07] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8530#5276b9f9-5264-4569-849f-1ca6e7ce8220)

[2022-01-26 01:07] kibanamachine commented on #54482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8530#5276b9f9-5264-4569-849f-1ca6e7ce8220)

[2022-01-26 01:13] jen-huang commented on #123356
@mostlyjason WDYT? I think we should lean having the placeholder always show `https` regardless of existing hosts or quickstart vs production mode.

[2022-01-26 01:48] ogupte opened #123782 "[APM] Re-enable useLatestPackageVersion option for integration edit custom UI"
In issue https://github.com/elastic/kibana/issues/122743, we temporarily set `useLatestPackageVersion` to false as a workaround for some bugs with that option at the time. (https://github.com/elastic/kibana/pull/122767 & https://github.com/elastic/kibana/pull/123762). This can now be re-enabled in in the main and 8.0 branches.

[2022-01-26 01:48] elasticmachine commented on #123782
Pinging @elastic/apm-ui (Team:apm)

[2022-01-26 02:04] kibanamachine opened #123784 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 migrates the documents to the highest version"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8531#dd29ce03-d3f0-44be-9e49-fe636b351936)

[2022-01-26 02:04] kibanamachine commented on #123683
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8531#dd29ce03-d3f0-44be-9e49-fe636b351936)

[2022-01-26 02:04] kibanamachine commented on #123684
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8531#dd29ce03-d3f0-44be-9e49-fe636b351936)

[2022-01-26 02:04] kibanamachine commented on #118626
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8531#dd29ce03-d3f0-44be-9e49-fe636b351936)

[2022-01-26 02:07] matschaffer opened #123785 "[Stack Monitoring] Uncaught exception attempting to load standalone logstash nodes page"
**Kibana version:** b2462a68c8b (8.0 branch head)

**Elasticsearch version:** 8.0 head

**Server OS version:** macos

**Browser version:** chrome

**Browser OS version:** macos

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

This error is shown when attempting to navigate to standalone logstash nodes page.

[code]

Additionally once in this

[2022-01-26 02:07] elasticmachine commented on #123785
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-26 02:59] yctercero commented on #121759
Backport to 8.0 started - https://github.com/elastic/kibana/pull/123787

@MadameSheema

[2022-01-26 03:00] yctercero commented on #121758
Backport to 8.0 started - #123787

@MadameSheema @oatkiller

[2022-01-26 03:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8534#0143e6b3-f0e5-45b7-88e8-d482b6091d83)

[2022-01-26 03:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8534#0143e6b3-f0e5-45b7-88e8-d482b6091d83)

[2022-01-26 03:04] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8534#0143e6b3-f0e5-45b7-88e8-d482b6091d83)

[2022-01-26 03:28] kevinlog commented on #123707
@muskangulati-qasource the fix for this is merged and will be available in the next 8.0 build candidate.  Since I raised this as a blocker for 8.0, I'm going to close this ticket communicate to the release team that the fix is merged and the BC can be built.

I'm adding the "Ready for Test" label.  After it's tested, you can remove that label and leave a comment as usual.  Thanks!

[2022-01-26 03:28] #123707 closed

[2022-01-26 04:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8539#4709ecc7-b1d6-4792-bff0-2f3da3226ab2)

[2022-01-26 04:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8539#4709ecc7-b1d6-4792-bff0-2f3da3226ab2)

[2022-01-26 04:04] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8539#4709ecc7-b1d6-4792-bff0-2f3da3226ab2)

[2022-01-26 04:08] tsullivan commented on #123082
@jloleysens @dokmic could one of you take a look into this? In the 7.17 branch, we have `this.onlyEsVersion('<=7')` statements in the code for CSV tests:
[code]

We should make sure these statements are not skipping more tests than is necessary. The only tests that make sense to skip when Kibana 7.17 is run against ES 8.0 are the ones that export "all" the fields from the index. In those tests, ES

[2022-01-26 05:04] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8542#6e282a1e-37a0-4dac-b079-84ef0f3448c0)

[2022-01-26 05:04] kibanamachine commented on #54482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8542#6e282a1e-37a0-4dac-b079-84ef0f3448c0)

[2022-01-26 05:04] kibanamachine commented on #123681
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8542#6e282a1e-37a0-4dac-b079-84ef0f3448c0)

[2022-01-26 05:22] matschaffer commented on #123785
Looks like main works, so labeling this as 8.0.0
![Screen Shot 2022-01-26 at 14 21 27](https://user-images.githubusercontent.com/690/151108249-ac615321-5335-4637-b1ac-9868f11a9a2c.png)

[2022-01-26 06:00] matschaffer commented on #123785
Bummer. 7.16.3 works so this is a new bug effecting just 8.0

<img width="1370" alt="Screen Shot 2022-01-26 at 14 59 50" src="https://user-images.githubusercontent.com/690/151111533-fa438277-a5dc-40d5-b539-c2ce6630a530.png">

[2022-01-26 06:31] matschaffer commented on #123785
Ah. 8.0 works on internal collection (the above 7.16.3 test was internal, the initial bug used metricbeat).

Will try to reproduce it on 7.16.3 with metricbeat collection. Sort of wondering now if it was some data issue in my test setup as well.

[2022-01-26 07:02] #114197 closed

[2022-01-26 07:22] pgayvallet opened #123789 "Add filtering of elasticsearch query/deprecation logging"
When logging is configured to output either elasticsearch queries or elasticsearch deprecations (when the `elasticsearch.query` or `elasticsearch.deprecation` log contexts are configured to use the `debug` or `all` levels), we're writing the whole ES request's payload/body to the logs.

https://github.com/elastic/kibana/blob/c1b98ba7fbb81216ce29fe39ac798ae8ccaa714e/src/core/server/elasticsearch/cl

[2022-01-26 07:22] elasticmachine commented on #123789
Pinging @elastic/kibana-core (Team:Core)

[2022-01-26 08:03] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8549#c499d9c4-d08a-4f57-88d4-1284f8c8029c)

[2022-01-26 08:03] kibanamachine commented on #54482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8549#c499d9c4-d08a-4f57-88d4-1284f8c8029c)

[2022-01-26 08:03] kibanamachine commented on #123681
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8549#c499d9c4-d08a-4f57-88d4-1284f8c8029c)

[2022-01-26 08:06] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8551#1e511248-1f25-4504-ad4b-f1c1518d228e)

[2022-01-26 08:06] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8551#1e511248-1f25-4504-ad4b-f1c1518d228e)

[2022-01-26 08:06] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8551#1e511248-1f25-4504-ad4b-f1c1518d228e)

[2022-01-26 08:33] #123413 closed

[2022-01-26 08:59] tobiasstadler opened #123792 "[APM] Span Details: Rename "Backend" to "Dependency""
### Kibana version

7.16.3

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

* Ingest a transaction with an external span
* Look at the external span in the Span Details view

### Expected Behavior

As Backends was changed to Dependencies in #110523, should this also be named Dependency?

Also should the actual

[2022-01-26 08:59] elasticmachine commented on #123792
Pinging @elastic/apm-ui (Team:apm)

[2022-01-26 09:00] tobiasstadler commented on #123792
@formgeist What is your opinion?

[2022-01-26 09:04] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8554#3f461872-c583-444e-86ec-73b294e51652)

[2022-01-26 09:04] kibanamachine commented on #54482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8554#3f461872-c583-444e-86ec-73b294e51652)

[2022-01-26 09:04] kibanamachine commented on #123681
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8554#3f461872-c583-444e-86ec-73b294e51652)

[2022-01-26 09:26] mgiota commented on #121272
`Metric anomaly` is not used at the moment, it was disabled a long time ago.

[2022-01-26 09:30] fkanout opened #123793 "[RAC][8.1] Shared duration format across Apps for the alert reason message."
# Summery

In the context of https://github.com/elastic/kibana/issues/117697 we need to update the alerts reason message for APM, Uptime, Logs, and Metrics. That requires to include the duration and format it. To avoid code redundancy, duration format should be placed in one place in the codebase and shared with other Apps:

# AC

- The duration format function should be placed in the O11y Plugin

[2022-01-26 09:49] elasticmachine commented on #122830
Pinging @elastic/ml-ui (:ml)

[2022-01-26 10:00] flash1293 opened #123795 "Move color stop UI into shared_ux plugin"
As the color stop UI can be used outside of Lens as well, it should be moved to a central place in the shared ux plugin after all known problems are fixed (https://github.com/elastic/kibana/issues/123756). This also includes adding a few storybook examples to showcase how this component is meant to be used.

[2022-01-26 10:00] elasticmachine commented on #123795
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-26 10:01] peteharverson opened #123796 "[ML] Transforms: Sort on field names containing dots not applied in wizard preview grid"
A sort using the data grid controls on the transform preview grid is not correctly applied for fields containing `.` characters:

![image (10)](https://user-images.githubusercontent.com/7405507/151142479-7f1c31ca-54cf-4dee-87d1-a92667701165.png)

Sorting after renaming the field to remove the `.` results in the sort working as expected:

![image (11)](https://user-images.githubusercontent.com/7405

[2022-01-26 10:01] elasticmachine commented on #123796
Pinging @elastic/ml-ui (:ml)

[2022-01-26 10:12] flash1293 commented on #74490
My proposal for the style of this - we already have an extremely similar UI for vega, I propose we simply re-use it for Lens as well:

Default view, auto apply on:
<img width="1263" alt="Screenshot 2022-01-26 at 11 07 22 copy" src="https://user-images.githubusercontent.com/1508364/151144456-dbbe9c53-a3c2-44aa-8f28-a30527a3161f.png">

Auto apply turned off, no pending changes:
<img width="1263" alt

[2022-01-26 10:15] flash1293 opened #123797 "[Lens] Switch to unified metric renderer"
Lens should use the unified metric renderer as well. To make this possible, some additional functionality has to be added to the unified renderer:
* Auto sizing - https://github.com/elastic/kibana/pull/124811
* Possibility  to apply color background for whole container - https://github.com/elastic/kibana/pull/125217
  * This setting should only take effect as long as no small multiples are used. W

[2022-01-26 10:16] elasticmachine commented on #123797
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-26 10:23] rudolf commented on #123789
Logging the body is useful for tracing the request back to the calling code, otherwise a query like `GET /.kibana/_search` could match hundreds of places. But we definitely wouldn't need the full request body for every request, just a little bit more context. So it makes sense to me to redact this to a few kilobytes only.

It's possible that you have a dashboard filtering on a user's email, and su

[2022-01-26 10:30] flash1293 opened #123800 "Switch to unified gauge renderer"
Similar to how https://github.com/elastic/kibana/pull/118338 and https://github.com/elastic/kibana/issues/103633 switched Visualize rendering from vislib to elastic-charts, the Visualize gauge/goal renderer should switch to elastic-charts as well. In case of missing features, the advanced setting switch can be disabled in the beginning.

Known blockers on elastic-charts side:
* https://github.com/

[2022-01-26 10:30] elasticmachine commented on #123800
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-26 10:34] fkanout commented on #123609
Only Metrics has `{{context.reason}}` in their template variable.

[2022-01-26 10:36] fkanout commented on #119090
Only Metrics has `{{context.reason}}` in the template variables list. https://github.com/elastic/kibana/issues/119090#:~:text=2%20days%20ago-,%5BRAC%5D%5BREFINEMENT%5D%20Verify%20%7B%7Bcontext.reason%7D%7D%20is%20available%20in%20all%20Apps%27%20rule%20templating%20language%20%23123609,-Open
cc @vinaychandrasekhar @jasonrhodes

[2022-01-26 10:43] flash1293 opened #123803 "[Lens] Set legend pixel width"
In order to better control the display of the legend and avoid truncation, it should be possible to specify a pixel width which is applied to the legend. The width can be entered as a number value in the existing legend flyout. This setting is applicable to all chart types featuring a legend.

[2022-01-26 10:43] elasticmachine commented on #123803
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-26 10:52] flash1293 opened #123804 "[Lens] Breakdown dimension for gauges"
For horizontal goal, add a “vertical axis” (name chosen to stay consistent with xy chart) dimension group taking a bucket a single dimension to split the goal vis and render multiple goals one over the other. For vertical goal, a “horizontal axis” dimension group is added to render multiple goals side by side. The “split” dimension is applied before the metrics for min/max/goal/metric are fetched,

[2022-01-26 10:53] elasticmachine commented on #123804
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-26 10:55] #122958 closed

[2022-01-26 10:56] #122010 closed

[2022-01-26 10:59] #117703 closed

[2022-01-26 11:13] MadameSheema commented on #122205
@muskangulati-qasource can you please validate this on 8.0-rc2 BC2? Thanks!

[2022-01-26 11:24] #123700 closed

[2022-01-26 11:27] henricm opened #123809 "Multiple Mapping detected reported by Kibana when creating index template with string value for dynamic "false", "true", and "runtime""
**Kibana version:**
v 7.16.3
**Elasticsearch version:**
v 7.16.3
**Elasticsearch java client version**
v 17.16.2

**Browser version:**
Safari

**Describe the bug:**
Kibana is displaying a warning message when `"dynamic" : "false"` is set using string for `"false"` instead of boolean value `false`  in an index template. The original request for the index template creation is generated using elastic

[2022-01-26 11:28] timstoop commented on #123591
We are having the same issue, just getting the last 15 minutes of events took more than 30 seconds consistently, sometimes up to a minute. Enabling use sync search solved the issue completely and we're getting responses within 3 seconds. Any chance that feature will not get removed for the time being?

[2022-01-26 11:29] joshdover commented on #116428
This continues to be a problem for what I expect to be most Fleet customers. In my test cluster, I have ~60 data streams, with ~300 backing indices and the request to `GET /api/fleet/data_streams` is timing out on Kibana after 2 minutes, resulting in a 502 error in Cloud, likely from the proxy layer: `backend closed connection`.

I don't think this is anywhere close to large amount of data (I'm on

[2022-01-26 11:41] #123793 closed

[2022-01-26 11:43] mgiota commented on #121272
@vinaychandrasekhar @katrin-freihofner What about the recovery message? Here's current format:

`{metric} is now {comparator} a threshold of {threshold} (current value is {currentValue}) for {group}`

[2022-01-26 11:56] LMey commented on #123611
well done, mate

[2022-01-26 11:58] #123185 closed

[2022-01-26 12:00] elasticmachine commented on #123591
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-26 12:01] flash1293 commented on #123591
@lukasolson can you look into this? It seems like this is a more common issue which should definitely be resolved.

[2022-01-26 12:07] joshdover commented on #123767
Related to this: we had originally discussed adding some persistence to these toggles so that if a user selects "Elastic Agent only" they'll see those integrations by default whenever they navigate to this page the next time. I think that could also help out here.

[2022-01-26 12:23] sebelga commented on #123752
I think it would be better to _only_ include in the hash what we know is unique and necessary for the functionality. Adding the full `attributes` object, including the `errorMessage` string does not seem robust.

By defining what we need and be explicit about it in the code we will prevent future regressions.

[2022-01-26 12:46] bhavyarm commented on #123638
@alisonelizabeth I started reindexing the indices from the top - had multiple reindex operations running when I restarted Kibana. I have the ES/Kibana in which this error happened in my local. Let me know if it helps you to take a look at it. Thanks!

[2022-01-26 12:53] semd commented on #122205
@muskangulati-qasource We decided that by now we will just show a message saying that the OS data shown is the last we have observed, this change is already merged and backported.  This will give some information to the user about what is going on.
And also, we are going to investigate how to show all the OS data we have for each hostname.
cc @paulewing

[2022-01-26 13:08] sebelga opened #123816 "[Upgrade assistant] Make the reindex server side logic more robust to failures"
While reviewing  https://github.com/elastic/kibana/pull/123727 I realised that when we shut Kibana in a middle of a re-index operation and then we start Kibana again, the state of the reindex is corrupted.

Once we are back in UA, it first indicate during 30 seconds "Reindexing in progress 10%" until it finally goes to the "Reindex paused" state.

[I uploaded here a gif of the issue](https://ibb.c

[2022-01-26 13:08] elasticmachine commented on #123816
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-26 13:13] peteharverson commented on #121868
Closing, fixed by #123407.

[2022-01-26 13:13] #121868 closed

[2022-01-26 13:15] juliaElastic opened #123819 "Split CreatePackagePolicyPage to smaller components"
CreatePackagePolicyPage is 700 rows already, it should be refactored and the logic split out to smaller components and hooks.

[2022-01-26 13:15] elasticmachine commented on #123819
Pinging @elastic/fleet (Team:Fleet)

[2022-01-26 13:22] vinaychandrasekhar commented on #121272
@mgiota good catch, thanks! @hbharding could you please help with the format?

[2022-01-26 13:22] ymao1 commented on #122989
@pmuellr There are some rule types (uptime mostly) that put all of their variables into state. We will have to work with them to move what makes sense to context before removing state entirely from the UI.

[2022-01-26 13:36] mikecote commented on #79362
Closing in favour of https://github.com/elastic/kibana/issues/122984.

[2022-01-26 13:36] #79362 closed

[2022-01-26 13:38] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8570#df0e0917-fbdb-4a9c-93c2-24f2482ddc35)

[2022-01-26 13:45] kpollich commented on #123819
++ to this from me. Working with the policy editor UI is becoming increasingly challenging, and it's confusing that our `Edit` flows rely on components that live in the `create_package_policy_page` directory as well. I think we should put some effort into hoisting components that are shared between these two views.

[2022-01-26 13:49] kibanamachine commented on #115489
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8570#9a61265d-8b52-421e-86be-5c90148db844)

[2022-01-26 13:58] nchaulet commented on #123819
If we start refactoring this, it will be nice to move the logic outside and have more pure presentation component. It start to be hard to debug the side effect and what is updating a package policy.

[2022-01-26 14:03] emilioalvap commented on #102602
PostFF LGTM.

Tested on 8.0. and 8.1:
![image](https://user-images.githubusercontent.com/95703246/151177087-10a1def3-bc12-40c8-a7e5-643e16619b6c.png)

[2022-01-26 14:11] #123782 closed

[2022-01-26 14:11] mostlyjason commented on #123767
@dedemorton is this issue based on user feedback or is it something that you personally felt would be useful? We are trying to simplify the experience for a user that is starting for the first time. They likely don't know which shipper is best or the difference between agent and beats, so its useful for us to recommend the best one.

Thomas recently merged this to make it more obvious which one th

[2022-01-26 14:14] lizozom commented on #72880
We now have some stats from APM about page load times (**uncached sessions only**) by geo, to help us justify the importance of this change: Page load time is up to x2 for Europe, Asia and Oceania compared to the US.

Breakdown by continent:

![image](https://user-images.githubusercontent.com/3016806/151178292-fdc7ca2c-5b44-4add-9f7b-72fad23c69b9.png)

Breakdown by country:

![image](https://user-

[2022-01-26 14:23] elasticforme commented on #123591
@flash1293 That is it. as soon as I turn that off it work.

Same amount of data (81Million+, same system, (multiple test on it) kibana 7.16.2 )
lens - 9 second
tsvb - 7 second
bar - 7 second

If this is actually a bug/problem or something with this search. then it says it is deprecated. that means it will be no longer available and it is gone a create a lot of problem with lot of people.

legacy s

[2022-01-26 14:25] kpollich commented on #112095
Hello all, I'm adding some notes on our follow-up implementation to this process in 8.2 below.

---

In 8.1, we're shipping https://github.com/elastic/kibana/pull/122297 - which contains a "first-step" implementation with baseline support for bundled packages as a concept. We're checking in zip archives of a hard-coded set of packages to the Kibana git repo and handling upgrades manually via pull

[2022-01-26 14:29] mshustov commented on #72880
What do `uncached sessions` mean? Do we exclude all the cases when artifacts are loaded from the browser cache? If so, can we have full stats, including such users with cached assets?

[2022-01-26 14:33] mtojek commented on #112095
In the nearest future, we won't have different endpoints and will store packages in the same flat space (`epr.elastic.co`).

Considering current deployment rules, it sounds reasonable. Revisions in production should be mature enough. If we decide to go with `snapshot` instead, keep in mind that packages should be published to that stage first. Yesterday (or the day before) we analyzed the issue ca

[2022-01-26 14:52] lizozom commented on #72880
Cached means that static assets were loaded from either from browser cache or disk cache.
Uncached means that static assets were loaded from network.

Adding uncached didn't change the results much (there were just a few of them, specificly for the deployments we're monitoring):
![image](https://user-images.githubusercontent.com/3016806/151186015-ae3885fa-50ad-4480-9f83-0246f6d03c88.png)

[2022-01-26 14:52] cjcenizal commented on #123816
Just want to note that Upgrade Assistant might look very different after we've redesigned it to support minor upgrades. We could even do something crazy like request specific ES migration APIs so we won't need any reindexing logic at all.

[2022-01-26 14:54] miltonhultgren commented on #123457
The `index_recovery` is used to power the "Shard Activity" card in the Overview page:
<img width="2972" alt="Screenshot 2022-01-26 at 15 44 59" src="https://user-images.githubusercontent.com/2564140/151184721-edd7fc1a-aecc-43af-a0ab-e7a8673148c1.png">

x-pack/plugins/monitoring/public/application/pages/elasticsearch/overview.tsx#L58 here is where we pull this data from the API.

The API calls `get

[2022-01-26 14:57] bhavyarm opened #123824 "Lens saved objects for Kibana sample data display error if user installs them with localization setting enabled"
**Kibana version:** 7.17 latest snapshot

**Elasticsearch version:** 7.17 latest snapshot

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Lens saved objects are displaying error if user installs sample data with localization setting

[2022-01-26 14:57] elasticmachine commented on #123824
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-26 14:57] bhavyarm commented on #123824
cc @flash1293

[2022-01-26 14:58] jportner opened #123825 "Check query logs for sensitive information"
As discussed in #123789, when `elasticsearch.query` and `elasticsearch.deprecation` logs are enabled, request payloads are included in the logs. These payloads may contain sensitive information.

We should identify:
* Any common fields that can always safely be redacted ("password" comes to mind)
* Any Security/Spaces API endpoints that generate ES request payloads that should be completely filter

[2022-01-26 14:58] elasticmachine commented on #123825
Pinging @elastic/kibana-security (Team:Security)

[2022-01-26 14:59] jportner commented on #123789
@pgayvallet Good question and thanks for bringing it up.

Firstly I'd like to state that when you enable any type of logging that includes request payloads _en masse_, it should be understood that these logs may inadvertently include sensitive information.

There is some prior art here in the [Elasticsearch audit logging documentation](https://www.elastic.co/guide/en/elasticsearch/reference/curren

[2022-01-26 15:04] flash1293 commented on #123824
The issue is that the `name` of the virtual "document" field is i18n-ified: https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/lens/public/indexpattern_datasource/document_field.ts#L19

This means on switching languages, the name of the field is different and all count metrics break. It also happens for sample data because it contains the hardcoded engli

[2022-01-26 15:09] miltonhultgren commented on #119658
This issue is related: https://github.com/elastic/kibana/issues/123345 (action point from our team meeting on data generation tooling)

[2022-01-26 15:14] jasonrhodes commented on #123457
Perfect, thank you @miltonhultgren, this is exactly what we needed to know.

I'll log us a ticket to make this fault tolerant in case we decide to let Beats make this configurable even with xpack.enabled: true ... it would be great to do this with each of the hard-coded metricsets so that it's easier to put out fires in support... I'll log another ticket for that as well.

[2022-01-26 15:18] alexfrancoeur commented on #120383
@snide would you consider this a blocker for 8.0? We're heading into planning week next week and this feels like relatively low hanging fruit, but this was not on our radar. It looks like the last BC is scheduled for Feb 2, which is around the corner as well. It may be tight. We also missed the translation date for localization at this point I believe.

[2022-01-26 15:20] mdefazio opened #123828 "[Runtime Fields] UX: Runtime Field Promotion v1"
Runtime Field Promotion UX issue
===

### Single field promotion

Focused on system administrator that knows which field to promote, we will simply provide an extra option on the table to promote a single field to the index template.

- - -

**Project links:**

[Project doc](https://docs.google.com/document/d/1f3IORevhzieIvyJTarboyHt65jlyQU_xkzw4y8zWNSk/edit#)
[Design doc](https://docs.google.com/

[2022-01-26 15:21] elasticmachine commented on #123828
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-26 15:22] elasticmachine commented on #123765
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-26 15:30] joshdover commented on #112095
We could just avoid this decision for now by requiring the full URL in the manifest of bundled packages. This would allow package owners to point to any location for the time being until we move to a single registry + semver.

[2022-01-26 15:30] #122941 closed

[2022-01-26 15:32] MichaelMarcialis commented on #123756
@ghudgins: From a product standpoint, do you feel the information in these warning tooltips is important/necessary? If no or indifferent, I would say let's get rid of them altogether. If you do feel there is value, then I would suggest changing the `append` icon from `alert` to something less scary (like `iInCircle`).

@ghudgins: Sounds good. I'll defer to you and @flash1293. Let's just be sure to

[2022-01-26 15:34] rayafratkina commented on #74490
It took me a full minute to find these buttons...
I would propose placing the switch much more prominently -  if I am used to seeing stuff change immediately, I will not notice/forget about these and it will be really jarring.

[2022-01-26 15:34] #123389 closed

[2022-01-26 15:39] afharo opened #123837 "[Telemetry] Use only the active tab to send telemetry from the browser"
We've identified situations when 1 user could report telemetry multiple times because they had many tabs open.

We should check if the tab is active in our `shouldSendReport` method.
https://github.com/elastic/kibana/blob/2d1755439de02483671f75f3b2ccb38c802ab782/src/plugins/telemetry/public/services/telemetry_sender.ts#L68-L71

[2022-01-26 15:42] joshdover commented on #116428
I did some further digging in our production data here and I'm seeing about 2.5% of customers who attempted to use this page were affected by this bug in the last 7 days. I haven't dug further, but my guess is this affects our largest, most mature adopters of Fleet, an important segment. While the incidence rate isn't incredibly high, 2.5% isn't exactly a great SLA. I think prioritizing this is th

[2022-01-26 15:46] andrew-goldstein opened #123838 "[Security Solution] Global filters are not correctly encoded / decoded in URL state"
The global filters (associated with the KQL bar) are not correctly encoded / decoded in URL state. As a result, when a URL is shared between browsers via copy-paste, new browser windows will have different search criteria and results than the original.

**Kibana/Elasticsearch Stack version:**

7.17

**Steps to reproduce:**

1. Open a new browser and navigate to `Security > Alerts`

2. Hover over a

[2022-01-26 15:47] elasticmachine commented on #123837
Pinging @elastic/kibana-core (Team:Core)

[2022-01-26 15:47] lukasolson commented on #116686
Re-opening, as we have received feedback that even the "shards failed" messages can build up and prevent the user from being able to interact with Kibana.

[2022-01-26 15:48] lizozom commented on #123646
@rudolf I was just looking at the APM task execution on the monitoring clusters and it seems like the `apm-telemetry-task` indeed takes a long time to run.

@dgieselaar explained this is to be expected, but if anyone is ever interested in optimizing it, there are APM traces available on the production overview cluster.

![image](https://user-images.githubusercontent.com/3016806/151196344-885e1385-

[2022-01-26 15:50] lukasolson commented on #123591
Are the times that are being posted the actual time for the query response? (To verify, you should be able to open the "Inspect", then "Requests", and look at the "Response" tab for the "took" time.)

![image](https://user-images.githubusercontent.com/1178348/151197078-0e77f359-81ec-45b6-a7f7-c85695068ae2.png)

Is it possible for you to take a screenshot of this using both the legacy sync search a

[2022-01-26 15:51] #113465 closed

[2022-01-26 15:54] sixstringcode commented on #123765
We should be really crisp about what we are NOT indicating. The field is either defined in the index template (dots and lines icon) or the data view (runtime icon), we will not be indicating if a field coming the index template is being dynamically calculated or was ingested already calculated. It's effectively saying if it's a Kibana runtime field or not.

[2022-01-26 15:56] jasonrhodes commented on #97108
Hey all, this is excellent information. Thanks for pulling it together, @afgomez.

My concern with Option 1 is that plugin-x-shared will eventually need to import from somewhere, and then the whole thing will collapse again. Using a registry allows us to use each other's APIs and components inside of our own shared components, for example.

[1] plugin-a imports BComponent from plugin-b-shared
[2]

[2022-01-26 15:58] MichaelMarcialis commented on #74490
Thanks, @flash1293. This is an interesting concept. I like that it has some consistency with another visualization editor app that users may be familiar with. That said, I do have concerns about this suggested placement of the auto-apply UI within Lens, both from a discoverability and hierarchical perspective. Placing these controls at the bottom of layer section will likely lead users into thinki

[2022-01-26 16:04] kibanamachine commented on #123672
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8574#1c1f9104-9931-47b5-8e59-2bbf749fba24)

[2022-01-26 16:04] kibanamachine commented on #54482
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8574#1c1f9104-9931-47b5-8e59-2bbf749fba24)

[2022-01-26 16:04] kibanamachine commented on #123681
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8574#1c1f9104-9931-47b5-8e59-2bbf749fba24)

[2022-01-26 16:08] simianhacker commented on #123568
@matschaffer Fixing it at ingestion means double the work and in my mind it should be fixed at the source.

[2022-01-26 16:09] lukeelmers commented on #123789
++

FWIW, there are at least two other places where we are already filtering sensitive data from logs:
- https://github.com/elastic/kibana/blob/55d6c4eb276b7bd033b51a46e1186b929882c12b/src/core/server/elasticsearch/client/get_ecs_response_log.ts#L12-L18
- https://github.com/elastic/kibana/blob/55d6c4eb276b7bd033b51a46e1186b929882c12b/src/core/server/http/logging/get_response_log.ts#L18-L26

In the

[2022-01-26 16:18] stacey-gammon commented on #97108
We consider using generic registries as a way to work around shared dependencies an anti-pattern that should be avoided. It only works if the registrar (the plugin exposing the registry) exposes a registry that is stable at some point (either at start, or post-start).  While most implementations do happen to be stable by the start lifecycle (only support adding items in setup), it's not guaranteed

[2022-01-26 16:19] elasticforme commented on #123591
Here are two snapshot.  first one is default setting

![image](https://user-images.githubusercontent.com/60395442/151202326-2328b8b9-8e27-4a3f-9d90-ecae2e842d49.png)

Second one is using legacy setting.
![image](https://user-images.githubusercontent.com/60395442/151202628-0a144648-157a-4693-894d-f58230c9cc6e.png)

[2022-01-26 16:19] jasonrhodes opened #123844 "[Stack Monitoring] [Alerting] Investigate why "Missing monitoring data" rule is much slower than other rules on the same cluster"
Using APM data to investigate the alerting rules and their performance, it was discovered that the "Missing monitoring data" rule appears to be running much slower than the other rules in a given cluster. (Info provided by @lizozom).

<details>
  <summary>APM graphs</summary>

  <img width="1027" alt="Screen Shot 2022-01-26 at 11 07 00 AM" src="https://user-images.githubusercontent.com/159370/1512

[2022-01-26 16:20] elasticmachine commented on #123844
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-26 16:21] ryankeairns commented on #123721
+1. On initial glance, it reminded me that we've added an 'Options' menu link to Discover and Dashboard. However, the interaction here is noticeably different in that it opens the flyout. Now, where to place it...

Given that it opens a flyout, my recommendation would be to position the button in proximity to the flyout. The existing layers panel feels rather purpose-driven towards, well, layers s

[2022-01-26 16:22] elasticforme commented on #123591
For above I selected fixed previous 12 hour windows to make sure it aggregates fix number of documents. also did it after 10+ min difference between them to make sure they are still not sitting in memory.

[2022-01-26 16:30] jasonrhodes commented on #97108
@stacey-gammon can you elaborate a little more on where the problem is with your example? I want to make sure I understand it well.

[2022-01-26 16:32] jasonrhodes commented on #97108
I don't know how we can avoid circular dependencies if this is our general advice. I've been wondering if we need plugin levels of some kind, where you can only depend on/import from plugins at a lower level than you are in, and then run those levels in order during startup ...

[2022-01-26 16:36] pheyos opened #123846 "[ML] Transform list reload not working when filter string is set"
**Found in version**
- Reproduced in 7.16.2 and main/8.1.0

**Browser**
- Chrome

**Steps to reproduce**
- Create and start a continuous transform
- In the transform list, enter a search string that still matches that transform
- In a separate browser tab stop the continuous transform
- Go back to the browser tab with the filtered list
- Click the `Reload` button

**Expected result**
- The list re

[2022-01-26 16:36] elasticmachine commented on #123846
Pinging @elastic/ml-ui (:ml)

[2022-01-26 16:37] errobinson opened #123847 "Kibana upgrade timesout in migration."
**Kibana version:** 7.16.3

**Elasticsearch version:** 7.16.3

**Server OS version:** Redhat 7

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** docker

**Describe the bug:** When upgrading kibana in the last few versions it always timesout when doing the migration and I have to delete all the kibana indices and reimport all t

[2022-01-26 16:43] michaelolo24 commented on #122231
@manishgupta-qasource - can you please retest this? Thanks!

[2022-01-26 16:50] stacey-gammon commented on #97108
I agree circular dependencies are an issue. So far we've been suggesting option 1, for lack of a better option.

The example above is not guaranteed to pass (though it might, by sheer luck of random plugin initialization order). The only way to guarantee that plugin A added the thing to plugin C before plugin B tries to pull it off, is by adding a dependency from B -> A.  If plugin B needs a thing

[2022-01-26 16:53] jasonrhodes opened #123849 "[APM] Trace navigation breaks when a trace can't be found"
### Kibana version

7.16.1

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Visit a transaction page and look at the trace samples. Navigate using the "next" button until you encounter a trace that cannot be found, notice how the navigation disappears.

### Expected Behavior

The navigation would remain so you

[2022-01-26 16:53] elasticmachine commented on #123849
Pinging @elastic/apm-ui (Team:apm)

[2022-01-26 16:59] spalger opened #123851 "[7.17 + 8.1] ML incompatibility"
When running 7.17 tests against an ES 8.1 snapshot we are getting the following failure:

https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-1-forward-compatibility/builds/16#a8c24034-6b2b-4e05-ab78-8afe3e339bd3

[code]

Skipped this suite in 7.17 when running against 8.1 but we need to determine if this is a valid failure, an accidental break in compatibility between the versions, or just

[2022-01-26 16:59] elasticmachine commented on #123851
Pinging @elastic/ml-ui (:ml)

[2022-01-26 17:00] kibanamachine opened #123852 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 migrates saved objects normally when multiple Kibana instances are started with a bigger interval"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/8579#d7cfec99-c0d2-4568-a98c-6ede31409b50)

[2022-01-26 17:10] spalger commented on #116881
Backported skip to 7.17

[2022-01-26 17:17] seang-es opened #123857 "7.x backport for [Dashboard][Embeddable] Create Explicit Diffing System"
This pull request fixes an issue with map visualizations and dashboards discovered in 7.16: https://github.com/elastic/kibana/pull/121241
Issue report:  https://github.com/elastic/kibana/issues/98180

There is interest in the user base in a backport of this fix for 7.x as well, as some users may not be upgrading to 8.x for some time after its release.  Do we know the level of effort for this and w

[2022-01-26 17:23] nreese commented on #123857
cc @ThomThomson

[2022-01-26 17:24] spong opened #123859 "[Security Solution][Detections] Rule type changes on update are no longer supported"
Uncovered in testing `8.0.0` rule updates (https://github.com/elastic/kibana/pull/123786#discussion_r792294266), rule type changes on-update are no longer supported since changing from a single alerting rule type (`siem.signals`) to separate dedicated types for each security rule, e.g. `siem.queryRule` and `siem.eqlRule`.

As @marshallmain detailed:

Proposed change to add back support would likel

[2022-01-26 17:24] elasticmachine commented on #123859
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-26 17:24] elasticmachine commented on #123859
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-26 17:33] Zacqary opened #123860 "[RAM] Use EuiDataGrid for the alerts list"
For the `<AlertsList>` component, convert the `<EuiBasicTable>` to `<EuiDataGrid>`.

[2022-01-26 17:33] elasticmachine commented on #123860
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-26 17:42] alisonelizabeth commented on #123616
Fixed via https://github.com/elastic/kibana/pull/123727

[2022-01-26 17:42] #123616 closed

[2022-01-26 17:47] bhavyarm opened #123861 "Kibana displays Failed to load field preview internal server error for runtime set value mistakes when user is logged in as non-super user"
**Kibana version:** 7.17 latest snapshot /8.0.0

**Elasticsearch version:** 7.17 latest snapshot /8.0.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** os x

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user is logged in as non super user but has all the privileges and tries to ad

[2022-01-26 17:49] mdefazio commented on #123765
@sixstringcode Yes, I agree. We currently only mention that a runtime field simply exists on the index pattern only.  (Furthermore, we _only_ say runtime when we show the tooltip of the icon.)

We are exposing two terms (three if you count the Field schema dropdown label) here:

- Schema
- Runtime field
- Indexed field

![image](https://user-images.githubusercontent.com/3756330/151217480-f0d9e77c-

[2022-01-26 17:53] elasticmachine commented on #123861
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-26 17:55] #123574 closed

[2022-01-26 17:58] bhavyarm opened #123863 "TSVB needs to display better UX message when default index pattern is non-time based."
**Kibana version:** 7.17 snapshot

**Elasticsearch version:** 7.17 snapshot

**Browser version:** chrome latest

**Describe the bug:**  When default index pattern is non time based - TSVB displays "Required one of fields [field, script], but none were specified." which doesn't help the user.  This needs to change to tell the user - TSVB is for time-based index patterns.

<img width="1792" alt="Scr

[2022-01-26 17:59] #107203 closed

[2022-01-26 18:03] stephmilovic commented on #123353
@karanbirsingh-qasource anything on the security page is ours, but anything within that flyout to define a Runtime Field will be @mattkime team `label: Team:Platform`

[2022-01-26 18:16] alisonelizabeth commented on #123638
Thanks @bhavyarm! @sabarasaba and @sebelga found a way to replicate the behavior.

[2022-01-26 18:16] #123638 closed

[2022-01-26 18:33] elasticmachine commented on #123857
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-26 18:34] yctercero commented on #122227
@MadameSheema are we waiting for it to be tested in 7.17 before closing?

[2022-01-26 18:37] elasticmachine commented on #123746
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-26 18:49] lukasolson commented on #123591
@elasticforme Thanks for providing this info. Do you have the same screenshots from Kibana 7.12.0?

[2022-01-26 19:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8582#5af8009c-447d-4fe2-96ff-c0bfe9bb62ef)

[2022-01-26 19:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8582#5af8009c-447d-4fe2-96ff-c0bfe9bb62ef)

[2022-01-26 19:04] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8582#5af8009c-447d-4fe2-96ff-c0bfe9bb62ef)

[2022-01-26 19:08] alisonelizabeth commented on #123472
Thanks for the clarification @droberts195!

I agree it would be helpful to clarify the copy in the UI. I've reached out to @debadair for some help with this.

[2022-01-26 19:15] neptunian opened #123869 "[Stack Monitoring] Telemetry support for metrics-* agent data"
In the past based on https://github.com/elastic/kibana/issues/73141 we implemented telemetry for Stack Monitoring https://github.com/elastic/kibana/pull/75878.  Since then, it doesn't look like we've used this data or created any charts in in the Stack Monitoring space https://kibana.telemetry.elastic.co/.

Other that one query that telemetry is using [fetchClusters](https://github.com/neptunian/k

[2022-01-26 19:15] elasticmachine commented on #123869
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-26 19:39] kibanamachine commented on #118728
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8589#47298efd-2145-4437-a572-9ad7769ff14d)

[2022-01-26 19:40] #119320 closed

[2022-01-26 19:41] dhurley14 commented on #118866
security solution should be covered now that this PR has merged: https://github.com/elastic/kibana/pull/123499

[2022-01-26 19:42] elasticforme commented on #123591
7.12.0 (kibana) and Elasticsearch 7.16.2 is on slow end hardware with only two node, acting as everything master/kibana/data. and has slower disk as well. Data is also lower count as I was deleting older data due to disk limitation. i will let it build up and give you output of similar  amount of data by tomorrow.

here is it's output with default search of what I have so far
![image](https://user

[2022-01-26 19:48] mikecote commented on #49819
Closing due to lack of activity

[2022-01-26 19:48] #49819 closed

[2022-01-26 19:50] mikecote commented on #92197
Closing due to lack of activity.

[2022-01-26 19:50] #92197 closed

[2022-01-26 19:55] mikecote commented on #49825
Closing due to spaces plugin no longer disable-able. This means we no longer have a scenario where security is enabled and spaces is disabled that need test coverage.

[2022-01-26 19:55] #49825 closed

[2022-01-26 20:13] graphaelli opened #123872 "[APM] Integration Page right bar layout squished"
### Kibana version

8.1

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

visit /app/integrations/detail/apm/overview

### Expected Behavior

"screenshots" doesn't wrap

### Actual Behavior

"screenshots" wraps:

![image](https://user-images.githubusercontent.com/83483/151239480-626a13f2-9ac4-46e9-b6f4-f37c010c

[2022-01-26 20:32] dedemorton commented on #123767
@mostlyjason Yes, this issue is based on user feedback. I've fielded questions on slack from internal users who were confused because the page listed integrations they couldn't use with Elastic Agent. The folks on the thread didn't realize the filter options existed, nor did the customer. (Let me know if you want a link to that thread.) I also saw an SDH where a customer ended up installing Elasti

[2022-01-26 20:35] spalger commented on #118728
backported skip to 7.17 https://github.com/elastic/kibana/commit/55988cba5048a87c95faafd41b6e5acab7f8cff1

[2022-01-26 21:05] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8588#87bacc29-8ed1-4c93-9901-5cc09b872815)

[2022-01-26 21:05] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8588#87bacc29-8ed1-4c93-9901-5cc09b872815)

[2022-01-26 21:05] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8588#87bacc29-8ed1-4c93-9901-5cc09b872815)

[2022-01-26 21:56] snide commented on #120383
@alexfrancoeur It's set for 8.1. I'm going to try and just do this one myself. Expect a PR before feature freeze that's just a simple change of string values.

[2022-01-26 22:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8593#eec6516c-7edb-4061-9987-b569ddfd620d)

[2022-01-26 22:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8593#eec6516c-7edb-4061-9987-b569ddfd620d)

[2022-01-26 22:06] ThomThomson opened #123879 "[Dashboard][Controls] Allow Configuration of Ignore Settings"
The Control Group should optionally be able to ignore Dashboard Time Range, Filters, and / or Query.

As configuration under the Control Group settings menu, three options can be presented under a heading that reads something like "Query settings".

- **Inherit** Results in controls will be influenced by Queries, time range selections, and filters inherited from the dashboard. In Control types tha

[2022-01-26 22:06] elasticmachine commented on #123879
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-26 22:15] rashmivkulkarni opened #123880 "Monitoring data is not shown for the last 15 mins in the cloud cluster."
**Kibana version:** 7.17.0 ( latest) deployed on prod - cloud

**Describe the bug:** Deployed a 7.17.0 cluster on cloud -prod.

**Steps to reproduce:**
1. Once deployed,  navigate to Stack monitoring - you will see the following screen. Now navigate to Logs and Metrics by clicking on the link .
 <img width="1541" alt="Screen Shot 2022-01-26 at 2 01 51 PM" src="https://user-images.githubusercontent

[2022-01-26 22:16] elasticmachine commented on #123880
Pinging @elastic/infra-monitoring-ui (Team:Monitoring)

[2022-01-26 22:23] dedemorton commented on #123767
BTW, another fix that might help is adding this info to all the module tutorials. (Again...skim readers might miss this, but it sets the context). Not sure we want to be linking to the blog post, though, because it's likely to get stale.

![image](https://user-images.githubusercontent.com/14206422/151256843-0821332f-bb1c-42e6-adcc-f983a89d0759.png)

[2022-01-26 22:33] elasticmachine commented on #123353
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-26 22:51] jasonrhodes commented on #123880
I was able to reproduce this in cloud on 7.17.0.

It appears, to me, that monitoring data stops being collected fairly soon after it's been enabled, so you have to widen your search to cover the time you enabled monitoring for it to find any data. I don't know how to inspect Stack Monitoring collection logs in Cloud, so I am not sure what the next step is here.

I think the toast that pops up appe

[2022-01-26 22:56] debadair commented on #123472
I'd recommend changing the description of the Migration step, and mentioning hidden indices on the Elasticsearch issues page:

**Migrate system indices**
Prepare the system indices that store internal information for the upgrade. Any [hidden indices](https://www.elastic.co/guide/en/elasticsearch/reference/7.17/multi-index.html#hidden) that need to be reindexed are shown in the next step.

Issues p

[2022-01-26 23:05] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8594#22c00e8a-177e-417d-a0ed-291addb9bd81)

[2022-01-26 23:05] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8594#22c00e8a-177e-417d-a0ed-291addb9bd81)

[2022-01-26 23:05] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8594#22c00e8a-177e-417d-a0ed-291addb9bd81)

[2022-01-26 23:48] rashmivkulkarni commented on #123880
@jasonrhodes can you please post the HAR file and your cluster id for debugging further ?

[2022-01-26 23:51] matschaffer commented on #123880
I started https://admin.found.no/deployments/567b27705936478680f3495a3d5037e5 as a test. Will see if that one stops collecting monitoring.

[2022-01-27 00:02] matschaffer opened #123886 ".kibana_security_session_1 observed with no replicas during ES rolling restart"
**Kibana version:** 7.17

**Screenshots (if relevant):**

<img width="952" alt="Screen Shot 2022-01-27 at 8 59 07" src="https://user-images.githubusercontent.com/690/151266927-bc7f36bc-a44f-4fc9-a85c-42506db05314.png">

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if relevant):**

**Any additional context:**

I was performing a rolling change on a 7.17 test cl

[2022-01-27 00:02] elasticmachine commented on #123886
Pinging @elastic/kibana-security (Team:Security)

[2022-01-27 00:02] matschaffer commented on #123886
cc @rashmivkulkarni

[2022-01-27 00:04] matschaffer commented on #123880
<img width="952" alt="Screen Shot 2022-01-27 at 9 04 12" src="https://user-images.githubusercontent.com/690/151267295-da56ebe6-ecda-4c9b-9127-c4b742974a13.png">

so far so good. Will keep an eye on it to see if it falls over.

[2022-01-27 00:29] #122390 closed

[2022-01-27 01:13] matschaffer commented on #123880
So I took a look at @jasonrhodes 's cluster (https://admin.found.no/deployments/1df5d5b91b5a49fd9f9fa6fc2e93b51a)

It looks like metricbeat is throwing this error:

[code]

This is very similar to https://github.com/elastic/support-known-issues/issues/1030 but with the gotcha that `.monitoring-es-7-mb-2022.01.27` is not expected to be an alias.

I found https://github.com/elastic/beats/pull/29879

[2022-01-27 01:27] matschaffer commented on #123880
Here's the configs for @jasonrhodes 's deployment's metricbeat (courtesy of @lucasmoore )

<details>
<summary>metricbeat.yml</summary>

[code]
</details>

<details>
<summary>modules.d/elasticsearch.yml</summary>

[code]
</details>

[2022-01-27 01:28] matschaffer commented on #123880
`require_alias` doesn't appear anywhere in the config, so it would seem that 7.17 probably is defaulting to `require_alias` even though the `.monitoring-7-*` indices are not supposed to be aliases.

I'll get a beats bug open.

[2022-01-27 01:35] matschaffer commented on #123880
Closing in favor of https://github.com/elastic/beats/issues/30044

[2022-01-27 01:35] #123880 closed

[2022-01-27 02:06] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8605#645e0ff0-5ca9-43e1-8534-386f6bdc57cc)

[2022-01-27 02:06] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8605#645e0ff0-5ca9-43e1-8534-386f6bdc57cc)

[2022-01-27 02:06] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8605#645e0ff0-5ca9-43e1-8534-386f6bdc57cc)

[2022-01-27 02:06] kibanamachine commented on #123545
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8605#645e0ff0-5ca9-43e1-8534-386f6bdc57cc)

[2022-01-27 02:43] peluja1012 commented on #92613
Implemented by https://github.com/elastic/kibana/pull/118816

[2022-01-27 02:43] #92613 closed

[2022-01-27 02:48] peluja1012 commented on #104403
@yiyangliu9286 Do you think the current behavior is acceptable? If that's the case, should we close this issue?

[2022-01-27 03:24] muskangulati-qasource commented on #121507
Reopened the issue to test it once it is fixed!

[2022-01-27 03:41] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/8614#0be77664-6082-4dd9-8782-34b5e0d6d191)

[2022-01-27 03:48] mdefazio commented on #123828
@sixstringcode @ryankeairns I've updated this user flow to show a second option that allows promotion to be accessible from outside the flyout.  This will also avoid needing to do all the extra steps in the editing flyout (which I think will likely lead to a clunky experience). Curious to get your thoughts though. Further rationale within the whimsical doc.

[2022-01-27 03:59] karanbirsingh-qasource commented on #123353
sure @stephmilovic we will take care of this for future bugs

[2022-01-27 04:15] yiyangliu9286 commented on #104403
@peluja1012 Yes I think the current behaviour is an acceptable UX, and we should close this issue.

[2022-01-27 07:04] kibanamachine commented on #123672
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8618#960d1bf4-a53b-4100-a8c3-54249226bcce)

[2022-01-27 07:04] kibanamachine commented on #54482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8618#960d1bf4-a53b-4100-a8c3-54249226bcce)

[2022-01-27 07:04] kibanamachine commented on #123681
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8618#960d1bf4-a53b-4100-a8c3-54249226bcce)

[2022-01-27 07:12] deepikakeshav-qasource commented on #122227
Hi @MadameSheema ,

We have validated this issue on **7.17.0 BC3** and observed that issue is **Fixed**. 🟢 Please find the below testing details:

**Build Details:**
[code]
- **Hide add exception actions from alerts table if user have read permissions**
![image](https://user-images.githubusercontent.com/61860752/151308141-928897d6-02e3-4bb6-97a0-64f3372ed46a.png)

![image](https://user-images.gith

[2022-01-27 07:12] #122227 closed

[2022-01-27 07:21] stratoula opened #123891 "[TSVB] Formatting in the left axis is not respected when I have two separate axis"
**Kibana version:**
7.11+

**Describe the bug:**
When I create 2 layers with formatters and assign the second layer into a separate right axis, the formatting in the left is not respected. If I select to have the first layer in the left axis, then the formatting works fine

**Steps to reproduce:**
1. Create a layer with Bytes formatter
2. Create a second layer with Percent
3. Change the settings o

[2022-01-27 07:21] elasticmachine commented on #123891
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-27 08:02] deepikakeshav-qasource commented on #123413
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2 BC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]
**User with Viewer role**

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/151315497-55042956-722b-4650-81c9-1d4234796d2c.png)

**Screencast:**

https://user-images.githubusercontent.com/61860752/15131

[2022-01-27 08:05] kibanamachine commented on #123784
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/8623#978f702a-9032-444e-92c1-ccee53c8d20d)

[2022-01-27 08:12] karanbirsingh-qasource commented on #120898
Hi @MadameSheema  & @kqualters-elastic

we have validated this issue on 8.0 Branch as well as 8.0.0-RC2-BC2 and found it fixed 🟢 .

please find below details:

**Build Details:**
[code]
_Branch:_

![image](https://user-images.githubusercontent.com/59917825/151317627-69e8df33-b7a4-42fd-9708-98a0f47474d4.png)

**Screen-Cast**

https://user-images.githubusercontent.com/59917825/151317085-3b7e6c3b-661

[2022-01-27 08:12] #120898 closed

[2022-01-27 08:16] karanverma-qasource commented on #123300
Hi @MadameSheema

We have validated this issue on 8.0.0 rc2 BC2  and observed that issue is Fixed. 🟢

**Build Info**
[code]
**Screencast:**

https://user-images.githubusercontent.com/91867110/151313435-1fb1699e-84ae-4fde-9cc5-3fc2a2458b68.mp4

Thanks!

[2022-01-27 08:20] deepikakeshav-qasource commented on #120596
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2 BC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screen cast**

https://user-images.githubusercontent.com/61860752/151319436-34edcea6-2d59-4286-a86c-a9be2e8f46b9.mp4

Thanks!!

[2022-01-27 08:48] deepikakeshav-qasource commented on #122010
Hi @MadameSheema

We have validated this issue on **8.0.0 RC2 BC2** and observed that issue is **Fixed**. 🟢

Please find below testing details:

**Build Details:**
[code]

**Screencast:**

https://user-images.githubusercontent.com/61860752/151323749-b8ed6e42-4c74-4e21-b1cf-759efee05244.mp4

Thanks!!

[2022-01-27 09:01] MadameSheema commented on #104403
Thanks @peluja1012 @yiyangliu9286

[2022-01-27 09:01] #104403 closed

[2022-01-27 09:02] #123439 closed

[2022-01-27 09:14] formgeist commented on #123872
This is due to the new EuiPagination options where first and last pages can be shown as part of it which makes for larger width than probably expected here cc @dborodyansky

[2022-01-27 09:30] amolnater-qasource commented on #120712
Hi @banderror
We have revalidated this issue on latest 8.0 rc2 BC-2 Kibana cloud environment and found it **still reproducible**.
- Prebuilt Security Detection Rules integration is not available.

**Screenshot 8.0 rc2:**
![12](https://user-images.githubusercontent.com/77374876/151326015-d90cc8ee-8ac2-4df3-8bf7-d26650e80c61.JPG)

**Build details 8.0 rc2:**
[code]

Further this integration is also n

[2022-01-27 09:30] VladLasitsa commented on #123756
@MichaelMarcialis, let me describe this:

This is **previous** behavior of color stops: if we can add new color stop with interval as interval between previous 2 stops in that case we add it (new range should be less than max value. _Example: stops: [0, 20, 40], max value - 100 if we add new color stop we will add 60, because interval = 40 - 20 and 60 < 100._ But in auto mode max value is Infinity

[2022-01-27 09:34] dannycroft commented on #113612
Let's try and get this sorted for `v8.0.1` .

@formgeist it doesn't look like anything is needed from you, right?
@MiriamAparicio did you want to explain further what `then link to see all errors not filtered, and then if there are errors, link to errors page filtered by type.` means so that we can all agree what's to be done as part of this issue? 🙏🏻

[2022-01-27 09:38] karanverma-qasource commented on #122455
Hi @MadameSheema,

We have validated above issue on 8.0.0-rc2 BC2 build and it's fixed. ✔️

**Build Info**
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/151326006-7b5b8de7-9441-4c68-aa91-de4c416980c9.png)

![image](https://user-images.githubusercontent.com/91867110/151326046-c0e398a6-d1c5-4a65-b529-08c83f632832.png)

![image](https://user-images.githubusercon

[2022-01-27 09:38] prachigupta-qasource commented on #123574
Hi @MadameSheema ,

We have validated above issue on 8.0.0 rc2 bc2 build and it's working fine :white_check_mark:.

**Build info**

[code]
**Screenshots**

![image](https://user-images.githubusercontent.com/97870262/151331978-8f35ba14-1c9c-48aa-8f97-3e108e58c0a1.png)

![image](https://user-images.githubusercontent.com/97870262/151332012-055c411f-cbed-45bc-bfc9-856659937c7a.png)

![image](https://u

[2022-01-27 09:43] formgeist commented on #113612
@dannycroft @MiriamAparicio

Not sure if we simply want to exempt Errors table from the transaction.type filter as @sqren suggested in order to not end up in a bad UX around having to always figure out what type errors are connected to, since the Errors list is not filtered by type when you go there.

[2022-01-27 09:44] flash1293 commented on #123756
Thanks for the clarification, @VladLasitsa - the new behavior sounds good to me.

[2022-01-27 09:47] carlosdelest commented on #123471
Stack support has been added, as the pending PRs have been merged.

Enterprise Search must add Metricbeat 8.x version that includes these changes, tracked here: https://github.com/elastic/enterprise-search-team/issues/1174

[2022-01-27 10:07] pgayvallet commented on #118866
We're almost there. Only team remaining is @elastic/apm-ui / https://github.com/elastic/kibana/issues/118869

[2022-01-27 10:13] karanbirsingh-qasource commented on #122958
Hi @MadameSheema

we have validated this as per the shared instruction in main description on 8.0.0-RC2 and found that now this issue is fixed 🟢 .

Now on following the steps mentioned `.alerts-security.alerts-default` is there generated and can be selected from the data view > index pattern drop-down.

Please find below build details.

**Build Details:**
[code]
**Screen-Cast:**

https://user-imag

[2022-01-27 10:15] #117905 closed

[2022-01-27 10:19] afgomez commented on #97108
We can mitigate this by making a `observability-shared` and placing all shared code from the plugins there.

---

There's no technical reason why it cannot work, but I have the feeling the API would be cleaner if we only allow one kind of thing.

It's also slightly easier to access the registry from within a component, by using `useKibana`. Other kind of functions/methods would need to take the re

[2022-01-27 10:21] formgeist commented on #123792
@tobiasstadler I agree we should rename to "Dependency".

I understand that that is what we're doing today...

<img width="1183" alt="CleanShot 2022-01-27 at 11 16 12@2x" src="https://user-images.githubusercontent.com/4104278/151339617-d06db97c-3b09-4688-b82b-cd34a930196c.png">

<img width="533" alt="CleanShot 2022-01-27 at 11 20 54@2x" src="https://user-images.githubusercontent.com/4104278/151339

[2022-01-27 10:26] #123457 closed

[2022-01-27 10:28] #121791 closed

[2022-01-27 10:36] simitt opened #123898 "[Stack Monitoring] Rename Apm & Fleet Server to Integrations Server"
**Kibana version**: >= 8.0
**Summary**: The Stack Monitoring UI should change _APM & Fleet Server_ to _Integrations Server_  when running on cloud.

From 8.0 on, _APM & Fleet Server_ is renamed to _Integrations Server_ on new Cloud deployments. While upgraded deployments keep showing the current UI with APM & Fleet Server for now, the stack monitoring should be adapted to the new default.

The cha