[2021-09-02 10:27] MadameSheema commented on #108692
@mandeepkaur-qasource can you please validate the fix of this issue on BC5? Thanks

[2021-09-02 10:29] MadameSheema commented on #109109
@semd can you please take a look at this?

[2021-09-02 10:33] karanbirsingh-qasource commented on #108165
Hi @MadameSheema

we have validated this issue on BC4 and found it still occuring . 🔴

**Build Details:**
[code]

Filter in and filter out hover action present under timeline result has no response.
- neither the timeline result got update as per the filter in or filter out hover action
- neither the filter in and out hove action applied back to alert page on closing the timeline

**Screen-Cast:**

[2021-09-02 10:36] semd commented on #109109
@deepikakeshav-qasource Yes, it is the expected behavior, when the alert is not selectable the status change actions in the popover (open/close/acknowlege) shouldn't be available. Closing

[2021-09-02 10:36] #109109 closed

[2021-09-02 10:36] MadameSheema commented on #109438
@karanbirsingh-qasource @deepikakeshav-qasource @mandeepkaur-qasource @samratbhadra-qasource we need to have this ticket validated on BC4 asap, thanks

[2021-09-02 10:37] MadameSheema commented on #110473
@karanbirsingh-qasource can you please validate this on BC4? Thanks!

[2021-09-02 10:39] MadameSheema commented on #108907
@karanbirsingh-qasource can you please take a look at this on BC4? Thanks

[2021-09-02 10:42] karanbirsingh-qasource commented on #109438
Hi @MadameSheema

we have validated this issue on 7.15.0 BC4 and found it fixed now ✔️ .

Now correct timestamp for alerts signals shows under the **event rendered view** for alert list.

**Build Details:**
[code]

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131829992-55c7a233-0c5d-4e28-8f34-8a8f5aa48912.png)

Hence we are closing this issue and adding "QA:Approve

[2021-09-02 10:42] #109438 closed

[2021-09-02 10:48] mgiota commented on #110519
@banderror We had a look with @weltenwort and we got it working now. Root of the problem was indeed the removal of `require_alias: true`. When removing this flag, the mappings were not installed correctly. This is because we install the resources only when there are errors https://github.com/elastic/kibana/blob/master/x-pack/plugins/rule_registry/server/rule_data_client/rule_data_client.ts#L139.

[2021-09-02 10:48] mshustov commented on #39430
Elasticsearch relaxed restrictions on API keys usage without HTTPS https://github.com/elastic/elasticsearch/pull/76801
API keys can now be widely adapted in Kibana. We might need to start formalizing the `OwnerCredentials` interface.

[2021-09-02 10:49] pgayvallet commented on #109684
This is the check we're talking about, right?

https://github.com/elastic/kibana/blob/bb8ee0ce05f8b5606bd35b63645a47140578931e/src/core/server/saved_objects/saved_objects_service.ts#L402-L407

In that case, switching from `take` to `first` to have the promise reject seems fine. And yes, we could wrap the `await` block to catch the potential error and rethrow something more user-friendly.

[2021-09-02 10:53] karanbirsingh-qasource commented on #110473
Hi @MadameSheema

we have validated this issue on 7.15.0 BC4 and found it fixed ✔️ .

Now the Building Block alerts data highlights correct in below following areas -:
- Alert list

![image](https://user-images.githubusercontent.com/59917825/131830984-606b9839-b480-4517-b649-b7c8f1c0a7d1.png)
- Alert List full screen ( separate issue for full screen https://github.com/elastic/kibana/issues/110462

[2021-09-02 10:53] #110473 closed

[2021-09-02 10:54] ruflin commented on #107738
If I remember correctly, it is something we discussed initially but having to add an integration vs just checking a box I think makes a big difference for the user. Also on the policy side, it works a bit different AFAIK as it targets configurations outside the inputs list.

[2021-09-02 10:58] #108907 closed

[2021-09-02 11:08] #110902 closed

[2021-09-02 11:10] joshdover commented on #110500
Here's an example of what I'm seeing. In this first APM screenshot, you'll see that creating each ingest pipeline is taking ~9s to receive a response from ES when we're running many things in parallel.

<img width="634" alt="image" src="https://user-images.githubusercontent.com/1813008/131833300-a544b9fd-fb70-40a9-9cf2-e4c9721c49ea.png">

In this second screenshot, where I changed assets to instal

[2021-09-02 11:17] xcrzx commented on #105744
I've checked the issue.
- "Rows per page" doesn't work
- "Prev", "Next" controls don't work
- "Go to" page doesn't work

I.e., table pagination is completely broken; it is not possible to navigate to any page.
cc @peluja1012

[2021-09-02 11:50] stratoula opened #110965 "[Visualize] Error on refreshing an unsaved visualization created from a saved search"
@stratoula I was able to reproduce an issue, but this looks like it might be something pre-existing in visualizations:

1. Create an area vis using the `[eCommerce] Orders` saved search
2. Add an x-axis with date histogram agg.
3. Press "Update" to see the date histogram appear in the visualization and have the URL update
3. Refresh the page (without saving) and you get an error that says: `Trying

[2021-09-02 11:51] joshdover commented on #95863
@jen-huang Should we move this to the Iteration board as one of our stretch goals for 7.16?

[2021-09-02 12:11] karanbirsingh-qasource opened #110969 "[Security Solution]Reason value don't get populated for few alerts after upgrade"
**Describe the bug**
Reason value don't get populated for few alerts after upgrade

**Build Details:**
**upgrade path : 7.14.1 to 7.15.0 BC4**

[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Generate multiple alerts on it ( endpoint security , custom rules)

**Steps to Reproduce**
1. Upgrade the Cloud build to 7.15.0 BC4.
2. Go to alert page > grid view.

[2021-09-02 12:11] elasticmachine commented on #110969
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 12:13] kibanamachine opened #110970 "Failing test: Jest Tests.src/core/server/saved_objects/migrationsv2/test_helpers - retry waits retryDelayMs between each attempt"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16728/)

[2021-09-02 12:22] manishgupta-qasource commented on #110969
Reviewed & assigned to @MadameSheema

[2021-09-02 12:28] karanbirsingh-qasource opened #110972 "[Security Solution] Duplicate alerts generated for few alert after upgrade"
**Describe the bug**
Auto Checkbox select for few alert after cloud upgrade

**Build Details:**
**Upgrade path :** **7.14.1 to 7.15.0 BC4**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Generate below alerts on the 7.14.1
   - SecOps test-data rule
   - array field rule
   - nested field rule
- Dev hits for above rules

- Array Filed rule

[code]
- Nest

[2021-09-02 12:28] elasticmachine commented on #110972
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 12:30] manishgupta-qasource commented on #110972
Reviewed & assigned to @MadameSheema

[2021-09-02 12:30] MadameSheema commented on #110972
Closing as duplicate of: https://github.com/elastic/kibana/issues/94071

[2021-09-02 12:30] #110972 closed

[2021-09-02 12:31] elasticmachine commented on #110969
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-02 12:32] MadameSheema commented on #110969
@peluja1012 @rylnd can you please help to triage this bug? Thanks

[2021-09-02 12:42] MadameSheema commented on #110524
@karanbirsingh-qasource can you please validate the fix of this issue on 7.15BC5? Thanks :)

[2021-09-02 12:43] muskangulati-qasource commented on #110935
Hi @MadameSheema,

We tested the scenario with spaces and saw everything worked correctly.

**Screenshot**

![LongName](https://user-images.githubusercontent.com/60252716/131845256-66dbc75d-aede-4c32-950a-78c3f7191e9e.JPG)

Please let us know if anything is required from our end.

Thanks!

[2021-09-02 12:46] MadameSheema commented on #110935
Closing as this is the expected behaviour.

[2021-09-02 12:46] #110935 closed

[2021-09-02 12:47] #108487 closed

[2021-09-02 12:49] #92573 closed

[2021-09-02 12:50] MadameSheema commented on #108894
@snide can we close this issue? Thanks

[2021-09-02 12:50] mostlyjason opened #110978 "[Integrations] Missing icons in search bar"
**Kibana version**:
7.14

**Description of the problem including expected versus actual behavior**:
Integrations are missing icons in the global search bar at the top of the page in Kibana

![image](https://user-images.githubusercontent.com/6370704/131846463-30723d03-0c0b-41b3-ae1f-60076053bd51.png)

[2021-09-02 12:50] elasticmachine commented on #110978
Pinging @elastic/fleet (Team:Fleet)

[2021-09-02 12:51] karanbirsingh-qasource opened #110979 "[Security Solution]No Padding under Alert fly out overview table for document Summary with no reason value"
**Describe the bug**
No Padding under Alert fly out overview table for document Summary with no reason value

**Build Details:**

Version: 7.15.0 BC4
Commit:29a6969dc230abf16dc65a41c535cb534ae64fa7
Build:43886

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Generate any custom rule let say array field rule

**Steps to Reproduce**
1.Go to alert page
2. Click on e

[2021-09-02 12:51] elasticmachine commented on #110979
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 12:52] elasticmachine commented on #110979
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-02 12:56] mshustov commented on #110614
We can do it, for sure.

Who said that we cannot prevent that by validating the manifest file? Also, there is always an option to use `Symbol` to emulate a private property https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol#symbol_wrapper_objects_as_property_keys

+1

Yeah, it's fine as long as they are able to fix that by changing the config declaration.

[2021-09-02 12:56] legrego commented on #110492
If we only need the `licensing` dependency for the API routes, then maybe we can move the `features` setup/start contracts into `core`, but leave the REST APIs within the existing `features` plugin. Do you think that would be tolerable?

[2021-09-02 13:01] kevinlog commented on #110933
@muskangulati-qasource I believe this is expected.  The Endpoint security integration that is in that Agent policy is still 1.0.0.  You should be able to upgrade it with the new Fleet Integration upgrade functionality and it should match after that.

cc @jen-huang let me know if the above sounds correct.

[2021-09-02 13:02] machadoum commented on #109427
Another related issue:
When the alert table is full screen, the timeline flyout bar covers the alerts table footer completely. So the user can't change the page any longer. @mdefazio What should happen here? Should we hide the timeline bar?

<img width="888" alt="Screenshot 2021-09-02 at 14 57 52" src="https://user-images.githubusercontent.com/1490444/131847813-e3be676d-6cec-4e71-89ae-3cea66800eb9

[2021-09-02 13:03] OrangeDog commented on #50083
This is getting silly, now there's even less space for the actual logs.
![image](https://user-images.githubusercontent.com/675056/131848285-60a45e54-8a54-4dd4-b2f0-8f0f8f5004d6.png)

[2021-09-02 13:11] pmuellr commented on #110801
I think this is from here!?!?!:

https://github.com/elastic/kibana/blob/c7ee7d7898fcb52d8ec9d2c8f1b8249955e5a37c/x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts#L39

Here's that code:

https://github.com/elastic/kibana/blob/c7ee7d7898fcb52d8ec9d2c8f1b8249955e5a37c/x-pack/test/alerting_api_integration/common/lib/object_remover.ts#L34-L44

Not clear how we could get

[2021-09-02 13:13] mshustov commented on #108247
We could improve wording to differentiate  `normal shutdown` and `shutdown Kibana due to an exception` cases explicitly.

[2021-09-02 13:19] machadoum commented on #110930
https://user-images.githubusercontent.com/59917825/131814446-a7dcdd74-90fa-42bb-a769-27956b8e4813.mp4

This is intentional. Whenever any change is made to the table pagination we intentionally clear the checkbox selection.

But this second video is indeed a bug. It displays that 16 items are selected, but it only shows 8 checked.

https://user-images.githubusercontent.com/59917825/131815074-cb7eb5

[2021-09-02 13:33] banderror opened #110987 "[Security Solution][Detections] Unhandled Promise rejection Saved object not found"
## Summary

Caught an unhandled promise rejection that resulted in shutdown of the whole Kibana process:

[code]

👀 :

[code]

Unfortunately I don't have any further details or steps to reproduce this.

[2021-09-02 13:33] elasticmachine commented on #110987
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-02 13:33] elasticmachine commented on #110987
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 13:36] mshustov commented on #100544
Because Bazel doesn't allow importing files from outside if they aren't declared as a dependency?

Maybe `kbn-telemetry-tools` can define `CollectorSet` interface, but we will keep the implementation in `usage_collection`?

[2021-09-02 13:37] sqren commented on #64630
This might no longer be necessary since we now have the built-in roles

[2021-09-02 13:37] #64630 closed

[2021-09-02 13:39] sqren commented on #75885
I agree we should do this but I don't think having this issues helps us much. Feel free to reopen if needed.

[2021-09-02 13:39] #75885 closed

[2021-09-02 13:40] sqren commented on #79257
Closing due to inactivity

[2021-09-02 13:40] #79257 closed

[2021-09-02 13:41] sqren commented on #83196
I agree we should clean this up. I believe this is mostly covered in https://github.com/elastic/kibana/issues/105914

[2021-09-02 13:41] #83196 closed

[2021-09-02 13:41] #95626 closed

[2021-09-02 13:42] alisonelizabeth commented on #110923
That’s correct. Any time the ES deprecation info API is called, it will return only in-use deprecations. So if a user resolved a deprecation, the next time the API is called, it will no longer appear in the list.

In terms of UA - we can end up in this “resolved” state if the user has run one of the automatic resolutions (e.g., reindex) , it completed successfully, and they remain on the ES deprec

[2021-09-02 13:42] formgeist commented on #50083
@OrangeDog Thanks again for providing your feedback. We have been working on making our layouts and navigation better and more seamless and part of that is implementing consistent layout elements like titles and common controls. We know we're not done, and we're aiming at fixing any of these responsive issues because of the new left sidebar navigation which was implemented in the most recent relea

[2021-09-02 13:44] sqren commented on #100192
I couldn't find any usages of highlight.js. Was this already fixed?
Feel free to open if this is still an issue

[2021-09-02 13:45] arisonl commented on #106770
Hi @wadsworthn, thank you for reaching out. This item is not prioritised yet. We will follow up here when it is planned but we do not provide timelines for requested/upcoming features.

[2021-09-02 13:46] afharo commented on #110239
That brings me to the next question: since the only thing stopping us from using `schema.never()` is that the message is not clear enough, should we improve it to allow custom validation messages?

[2021-09-02 13:48] mikecote commented on #110801
Seems like the switch to `multiple-isolated` makes [this](https://github.com/elastic/kibana/blob/master/src/core/server/saved_objects/service/lib/repository.ts#L679) function return versioning (by passing in a non-empty `preflightResult` now) which will cause the delete to return 409 ([docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete.html#optimistic-concurrency-con

[2021-09-02 13:50] afharo commented on #110618
I was thinking more about when logging a deprecated config item.

We could, probably, put it together to the _Other plugin APIs_ bit. Core could provide a deprecation log, and we could emit an event for every log entry to that logger?

[2021-09-02 13:51] mohsen0 opened #110988 "[Agent] Setting Tags/labels at enrolment or installation"
Ability to set labels or tags during installation or enrolment agent
so that different identical deployments of service can be differentiated in the dataset

The specific use case is described in: https://discuss.elastic.co/t/fleet-managed-elastic-agent-environment-deployment-name-custom-field/282565/6

[code]
or in case, the agent is already installed via package manager
[code]

[2021-09-02 13:58] kertal commented on #110946
reproduced also in 7.14.0

[2021-09-02 14:00] mikecote commented on #108757
I like the approach, this way if we want to turn off alerting, we can provide something like `alerting:*` and/or `actions:*`. I'm thinking we would want to hide this under some configuration path to indicate this isn't supported and shouldn't be used (ex: just for debugging purposes). Thoughts?

[2021-09-02 14:15] chrisronline commented on #108757
What kind of path do you mean? Something like explicitly states it's not recommended? `xpack.alerting.debug.disableAlerts` or something?

And this config would then switch all registered rule types to have `maxConcurrency: 0` [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/server/rule_type_registry.ts#L190)?

[2021-09-02 14:21] ymao1 commented on #108757
Would it make more sense to be a task manager config, like `xpack.task_manager.excludeTaskTypes: ['alerting:*','actions:*']` and then where it's checking for types with max concurrency:0, it could also do a check for task types matching these specifications? Currently it's logging a message for task types skipped due to max concurrency: 0, it would be good to log a separate message for task types

[2021-09-02 14:22] mikecote commented on #108757
What @ymao1 said ^^. I would maybe recommend putting the config under something like `xpack.task_manager.internal...` or `xpack.task_manager.debug...`. By having it in Task Manager, we can use it for non-alerting related tasks as well.

[2021-09-02 14:23] ymao1 commented on #108757
`xpack.task_manager.unsafe....` :)

[2021-09-02 14:24] mikecote commented on #108757
❤️ and it could also support `['*']` to exclude/disable everything.

[2021-09-02 14:34] thomheymann commented on #110492
+1 for this. If we were to architect an application like Kibana from the ground up then a global concern like spaces  would probably be treated as a core capability rather than an optional plugin. (Same as authentication, logging, configuration, i18n, etc.) I don't have all the context about what would be required to move this into core but think it would be great to look at this holistically and

[2021-09-02 14:38] jportner commented on #81680
We have not actually removed the `kibana` user yet, we are going to keep it around for the foreseeable future. We will leave it in the upgrade assistant as a "warning" to try to steer folks towards changing it, though.

I updated the issue description to clarify that we won't be breaking this in 8.0.

[2021-09-02 14:44] francoisforster opened #110997 "Discover results table doesn't load past 50 records on Chrome with Kibana 7.15"
**Kibana version:**
7.15
**Browser version:**
Chrome Version 93.0.4577.63 (Official Build) (x86_64)
**Browser OS version:**
MacOS 11.5.2 (20G95)
**Original install method (e.g. download page, yum, from source, etc.):**
Cloud
**Describe the bug:**
When executing a query on the discovery page and scrolling down to see the rows of results I don't see rows past 50.

**Steps to reproduce:**
1. Execute

[2021-09-02 14:48] KOTungseth commented on #110048
Fixed in #110545.

[2021-09-02 14:48] #110048 closed

[2021-09-02 14:54] luizgpsantos opened #110999 "Dashboard loses all tags when saved"
**Kibana version:**

`7.14.0`

**Original install method (e.g. download page, yum, from source, etc.):**

Elastic Cloud

**Describe the bug:**

Editing a dashboard will make it lose all its tags.

**Steps to reproduce:**

1. Add some tags to a dashboard

<img width="464" alt="Screen Shot 2021-09-01 at 12 08 03" src="https://user-images.githubusercontent.com/794133/131865604-1a3c7f4e-df6b-4991-9f99

[2021-09-02 14:54] elasticmachine commented on #110999
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-02 15:09] stephmilovic commented on #90418
@karanbirsingh-qasource could you please confirm the fix?

[2021-09-02 15:12] joshdover commented on #110500
@elastic/es-distributed @colings86 I believe you all would be the best to confirm if my suspicions here are correct regarding these requests being blocked on cluster state updates. Is this analysis accurate and if so, do you all have any ideas for how we could improve this?

I'm also happy to open a new issue in the ES repo to discuss this further.

[2021-09-02 15:15] kibanamachine opened #111001 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/delete·ts - alerting api integration security and spaces enabled Alerts alerts delete superuser at space1 should handle delete alert request appropriately"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16730/)

[2021-09-02 15:17] MadameSheema commented on #110969
Closing as duplicated of https://github.com/elastic/kibana/issues/108987

@peluja1012 @rylnd this ticket is for threat hunting, sorry for the noise.

[2021-09-02 15:17] #110969 closed

[2021-09-02 15:18] MadameSheema commented on #109297
@karanbirsingh-qasource can you please validate this on the current BC? Thanks

[2021-09-02 15:19] elasticmachine commented on #111001
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-02 15:26] MadameSheema commented on #110462
@deepikakeshav-qasource can you please validate this on 7.15BC5? Thanks

[2021-09-02 15:27] MadameSheema commented on #110948
@deepikakeshav-qasource can you please validate this issue on 7.15BC5? Thanks

[2021-09-02 15:31] TinaHeiligers opened #111004 "Update dashboard legacy format saved objects import functional tests"
In https://github.com/elastic/kibana/issues/103921 we're removing support for importing saved objects in legacy format. There's been a warning in place since 7.0 that support for legacy format will be removed in 8.0.

The following dashboard functional tests are skipped in https://github.com/elastic/kibana/pull/110738 and need to be adapted/removed to reflect the changes:
 - `bwc_import` (https://

[2021-09-02 15:31] elasticmachine commented on #111004
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-02 15:49] MadameSheema commented on #90418
@karanbirsingh-qasource please check it on the current BC.

[2021-09-02 16:08] miltonhultgren commented on #110758
Started looking at this. If I understand the current code I'll need to find a way to pass in the itemsPerPage setting instead of the itemsPerPageOptions setting. Will come back to this tomorrow!

[2021-09-02 16:38] #110912 closed

[2021-09-02 16:52] ymao1 commented on #109916
Closing as research has been done and presented.

[2021-09-02 16:52] #109916 closed

[2021-09-02 17:04] legrego commented on #68814
Updated the description again to add Fleet/Integrations as another feature that wants to be split out

[2021-09-02 17:05] peluja1012 commented on #101975
Address by:
https://github.com/elastic/kibana/pull/107064
https://github.com/elastic/kibana/pull/108291

[2021-09-02 17:10] monina-n commented on #110931
@cnasikas I agree, we should remove the dropdown option in the case modal from the alert page and not allow users to change the status when selecting a case

[2021-09-02 17:15] markov00 commented on #55262
We can definitely work on that, I will open an issue to track this feature request in charts

[2021-09-02 17:25] neptunian opened #111019 "[Stack Monitoring] convert metrics directory to typescript"
As part of https://github.com/elastic/kibana/issues/106761, convert metrics directory to typescript.

[2021-09-02 17:25] elasticmachine commented on #111019
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-02 17:43] kevinlog commented on #110937
I took a closer look at this with @deepikakeshav-qasource

This will occur when there is a slow network connection.  You xan simulate a slow network connection and reproduce easily with chrome dev tools.

Example:
https://user-images.githubusercontent.com/56395104/131891611-40af6daa-96b0-4060-9d5c-94936a2a508a.mov

@parkiino can you take a look?  We should make sure that the data is correctly load

[2021-09-02 17:58] tsullivan commented on #110048
@toby-sutor  can you take a look at the latest documentation which has fixes for the issue you described? Let us know if the new changes sort out the issue you found.

[2021-09-02 18:02] smith commented on #105914
We should also be able to get rid of `ElasticDocsLink` by using the doc links service. See #110964.

[2021-09-02 18:05] Crazy1van commented on #16123
+1.  This is a basic feature in many web apps and it is frustrating that Elastic visualizations don't support it.

[2021-09-02 18:06] smith commented on #100192
@sqren We use react-syntax-highlighter which uses highlight.js. Updating the title and description and reopening.

[2021-09-02 18:12] kibanamachine opened #111022 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/find·ts - alerting api integration security and spaces enabled Alerts alerts find "after each" hook for "should filter out types that the user is not authorized to `get` retaining pagination""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16733/)

[2021-09-02 18:17] alisonelizabeth commented on #90707
I'm going to close this issue. The a11y tests should now be testing the UI when there are deprecations. Related work: https://github.com/elastic/kibana/pull/109909, https://github.com/elastic/kibana/pull/110843.

[2021-09-02 18:17] #90707 closed

[2021-09-02 18:20] jen-huang commented on #110939
This is expected as we changed this based on various feedback (including from QASource! ;)) https://github.com/elastic/kibana/pull/109728

[2021-09-02 18:20] #110939 closed

[2021-09-02 18:22] jen-huang commented on #110947
This is expected whenever there is a policy in use with Agent monitoring enabled:
![image](https://user-images.githubusercontent.com/1965714/131896545-f70da923-5a24-4724-b8fa-14796bb393ce.png)

This ties with the Elastic Agent package behind the scenes.

[2021-09-02 18:22] #110947 closed

[2021-09-02 18:23] alisonelizabeth commented on #76837
I'm going to close this issue. UA is currently disabled, and will not be re-enabled until `7.16`. The ES team is working on creating a new API to handle migrating system indices, which should resolve this issue. We will add support for this in UA via https://github.com/elastic/kibana/pull/110593.

[2021-09-02 18:23] #76837 closed

[2021-09-02 18:26] #107986 closed

[2021-09-02 18:26] alisonelizabeth commented on #36919
I'm going to close this issue. We are currently focused on supporting the upgrade path to 8.0. A `resolve_during_rolling_upgrade` field was added to the ES deprecation info API via https://github.com/elastic/elasticsearch/pull/74226. However, there are no such deprecations that fall under this category yet when upgrading from 7.x to 8.

[2021-09-02 18:26] #36919 closed

[2021-09-02 18:28] jbudz commented on #111001
skipped

main: e8191ed
7.x dbd4316

[2021-09-02 18:29] jbudz commented on #111022
skipped

main: e8191ed
7.x: dbd4316

[2021-09-02 18:30] elasticmachine commented on #111022
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-02 18:52] #110921 closed

[2021-09-02 19:03] elasticmachine commented on #110568
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-02 19:04] lukeelmers commented on #54123
Based on our team discussion today, we will go ahead and hold on making these changes pending the outcome of our discussions around handling multi-space support in SO import/export, as explained in https://github.com/elastic/kibana/issues/91615#issuecomment-910689507

As there is a likelihood we will opt to create new import/export APIs and eventually deprecate and remove the existing ones, it wou

[2021-09-02 19:14] michaelolo24 commented on #108987
@mdefazio can you check if you're still seeing this issue? I've been un able to reproduce it and I'm assuming it may have had to do with the alert table showing data from other developers systems and their code being out of sync.

[2021-09-02 19:19] tsullivan commented on #109970
In setting up reporting, `publicBaseUrl` is a useful feature because it allows the headless browser to communicate directly with the Kibana server, rather than going through a proxy.

### Background
When a user has `server.basePath` configured, but not `server.publicBaseUrl`, they **must** have a proxy in front of Kibana that clients access. The proxy **must** have a rewrite rule that modifies the

[2021-09-02 19:23] mgiota opened #111029 "[RAC] Alert ILM policy shouldn't delete old indices after rollover"
This bug can be reproduced only after https://github.com/elastic/kibana/pull/110788 is merged

### 📝 Summary
While testing https://github.com/elastic/kibana/issues/110519, we figured out that the default alert ILM policy deletes the old indices after rollover.

[code]

### Steps to reproduce
- Create a new rule and generate some data that should trigger an alert
- Verify one new alert is written i

[2021-09-02 19:23] elasticmachine commented on #111029
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-02 19:28] tsullivan commented on #109970
I'm fine with removing the toast message. Reporting can detect the case when `server.basePath` is set and `server.publicBaseUrl` is not and add some messages to state that the experience will be improved if they add the publicBaseUrl.

[2021-09-02 19:30] tsullivan commented on #86425
IMO we should add some kind of warnings if `server.basePath` is configured, and `server.publicBaseUrl` is not configured. That is typically the ONLY time that `xpack.reporting.kibanaServer.*` options need to be set. We should make an effort to steer users away from `xpack.reporting.kibanaServer.*`

See https://github.com/elastic/kibana/issues/109970#issuecomment-911990814

[2021-09-02 19:31] tsullivan commented on #109970
After looking at https://github.com/elastic/kibana/issues/86425 further, it looks like I made a mistake. I thought we were talking about the `server.rewriteBasePath` option --- `publicBaseUrl` is something different.

Sorry for the noise!!

[2021-09-02 19:45] marshallmain commented on #108987
Severity and risk score are both required fields on the rules so they should be present on every alert - if there's a way to reproduce those alerts without severity and risk score that would be a bug.

[2021-09-02 19:49] jportner commented on #82578
I'm auditing consumer usage of audit logging (both flavors, "legacy" and "ECS"). When we get rid of legacy audit logging, we want to make sure we have the same coverage with our ECS audit logging. Rather than create a new issue, I decided to put my findings here.

## Investigation

Consumers access the audit loggers from the `security` plugin's [setup contract](https://github.com/elastic/kibana/bl

[2021-09-02 19:53] mgiota commented on #101016
@banderror I took the liberty to add one more ticket in your list for 7.15 (@jasonrhodes can you confirm this is for 7.15?) This is a new bug that we spotted while working on https://github.com/elastic/kibana/pull/110788.

[2021-09-02 19:57] leandrojmp opened #111031 "Kibana Alerts interface breaks if Elasticsearch setting search.allow_expensive_queries is set to false"
**Kibana version:**
7.14.1

**Elasticsearch version:**
7.14.1

**Server OS version:**
CentOS 8

**Browser version:**
Vivaldi 4.1 (Chromium 92.0.4515.159)

**Browser OS version:**
Ubuntu 20.10

**Original install method (e.g. download page, yum, from source, etc.):**
yum

**Describe the bug:**

Kibana Alerts Connectors configuration breaks if the elasticsearch setting `search.allow_expensive_querie

[2021-09-02 19:58] Dmitriynj commented on #106379
Safari feels a little bit faster now and almost the same with other browsers, except only one action. Clicking on app sidebar in Chrome even slower, then in Safari. Particularly with selected `document` column, which makes huge difference in comparison to any other selected column. It takes for me 1.5sec with selected `id` column and 3.5 with selected `document` column (table in the very bottom, s

[2021-09-02 20:01] tsullivan commented on #86425
@streamich I've rewritten the issue title based on my suggestion here. Let me know if you think the change is appropriate.

[2021-09-02 20:02] jonathan-buttner commented on #110863
I looked into this and it is a valid reference to another saved object

### Timeline
![image](https://user-images.githubusercontent.com/56361221/131908165-3839a80f-5a24-43f8-89f8-9a117685cde5.png)

### Saved object field
![image](https://user-images.githubusercontent.com/56361221/131908224-4e81f938-43db-4cd7-ba3d-32ee36248978.png)

### When I export that from the saved object's page I get:

[code]

[2021-09-02 20:23] graphaelli opened #111037 "[APM] Shorten ML Job IDs"
Job IDs have a 64 character limit.  APM current generates very long job ids by default, like the 44-char `apm-prod-6ed0-high_mean_transaction_duration`.  The ML team recommends we shorten them where possible.

[2021-09-02 20:23] elasticmachine commented on #111037
Pinging @elastic/apm-ui (Team:apm)

[2021-09-02 20:25] tsullivan opened #111039 "[Map/Reporting] Map panels should not show the user controls in a dashboard report"
**Kibana version:** 8.0.0

**Describe the bug:**
see screenshot and circled areas:
![image](https://user-images.githubusercontent.com/908371/131910932-a3544e8b-96c2-407a-9790-fe2aa4416db4.png)

**Steps to reproduce:**
1. Create a dashboard
2. Add a Map panel
3. Create a  PDF or PNG report
4. Clickable elements that have interactive-only purpose are shown in the non-interactive report

**Expected b

[2021-09-02 20:25] elasticmachine commented on #111039
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-02 20:35] cjcenizal commented on #98956
We can implement this using the same lz-string encoding and `load_from` parameter as used in https://github.com/elastic/kibana/pull/109923.

[2021-09-02 20:38] pgayvallet commented on #110239
Not sure I really like allowing custom error messages for joi types, as it can lead to some overcomplicated things. OTOH, for `never`, there is only one rule (`forbidden`), so I guess we could add a `customMessage` option to the type. It would probably be fine

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/packages/kbn-config-schema/src/types/never_type.ts#L13-L22

[2021-09-02 20:39] andrew-goldstein commented on #110758
@miltonhultgren, FYI @chandlerprall just opened the following PR:

[[EuiDataGrid] resolve performance issues when interacting with a large grid #5136](https://github.com/elastic/eui/pull/5136) to resolve the issues above:

- [[EuiDataGrid] Optimize tabbable usage #5115](https://github.com/elastic/eui/issues/5115)
- [[EuiDataGrid] cell actions are always rendered #5116](https://github.com/elastic/e

[2021-09-02 20:48] snide commented on #110758
Just a reminder for those following those EUI PRs. The following will need to happen:

1. Both PRs will need to merge in EUI (one is already in)
2. We need to cut a backport release of EUI for kibana that only includes these fixes
3. We will make a PR in kibana to upgrade EUI to that new version
4. That PR will need to be tested and merged for Kibana
5. That merge itself will need to be backported

[2021-09-02 20:49] #108966 closed

[2021-09-02 20:57] dborodyansky opened #111041 "[Upgrade Assistant] Explore dedicated links to deprecation issue pages inside overview cards"
@dborodyansky Are we also planning on putting links inside of the panels? If so could we update the mockup?

![image](https://user-images.githubusercontent.com/1238659/131721308-ad85a08c-2f32-4e12-90b4-939add81a63d.png)

_Originally posted by @cjcenizal in https://github.com/elastic/kibana/issues/110737#issuecomment-910526938_

[2021-09-02 20:59] dborodyansky commented on #110737
Moving "links inside cards" discussion to #111041

[2021-09-02 20:59] elasticmachine commented on #111041
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-02 21:08] chandlerprall commented on #110758
We can skip that step, getting EUI's backport release straight into the 7.15 branch. There are jest snapshot changes to expect, but otherwise these two should drop in cleanly.

Assuming the PR (https://github.com/elastic/eui/pull/5136) merges quickly, I'll cut the backport release tomorrow & immediately begin upgrading Kibana's 7.15 branch.

[2021-09-02 21:13] bhavyarm commented on #82891
See this again with with  publicbaseURL warning
<img width="1792" alt="Screen Shot 2021-09-02 at 5 12 37 PM" src="https://user-images.githubusercontent.com/7074629/131916942-fd82edea-5991-476d-b7c5-9884a62529cb.png">

[2021-09-02 21:17] gtback commented on #108601
I'm expecting the Kibana link checking to start failing once we add these URL query parameters, but it should be fairly easy to strip them off before comparing to the existing pages. Let me know when I can help out with this.

[2021-09-02 21:29] jbudz commented on #110920
7.15: 9f71508ded522738d1cfb9652e9e8a60ea032381 + cc97a342e914569795d9011fa79214fab1d28a7c

[2021-09-02 21:31] graphaelli opened #111045 "[APM] Set start time of ML jobs to -4 weeks by default"
APM ML jobs start from the beginning of the data set, the ML team recommends aligning with other default jobs set to 4 weeks.

**Documentation**
`start` is documented here: https://docs.ml-qa.com/ui/rest_api/ML_API/#set-up-module

[2021-09-02 21:31] elasticmachine commented on #111045
Pinging @elastic/apm-ui (Team:apm)

[2021-09-02 21:33] graphaelli commented on #101734
The ML team has made a number of recommendations related to this effort that we can choose to investigate - we can determine which are required along the way:

- [ ] Sort metric data streams by timestamp - report back on https://github.com/elastic/apm-server/issues/5505
- [ ] https://github.com/elastic/kibana/issues/111037
- [ ] https://github.com/elastic/kibana/issues/111045
- [ ] Use dedicated r

[2021-09-02 21:35] #76181 closed

[2021-09-02 21:35] #86524 closed

[2021-09-02 21:35] #92303 closed

[2021-09-02 21:35] #92307 closed

[2021-09-02 21:35] #97540 closed

[2021-09-02 21:43] imsatasia opened #111050 "KIbana Drop-Down control visualization is not able to show data available in the index (index pattern)"
**Kibana version:**
v 7.11.2

**Elasticsearch version:**
v 7.11.2

**Server OS version:**
CentOS Linux release 7.4.1708 (Core)

**Browser version:**
Version 92.0.4515.159 (Official Build) (x86_64)

**Browser OS version:**
Google Chrome

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
KIbana Drop-Down control visualization is not able to show data av

[2021-09-02 21:44] MikePaquette commented on #110758
Wow, sounds like some amazing progress!

If those results hold true, we should be safe in going back to the preferred values for rows per page and keeping the selector, correct?

[2021-09-02 21:45] dplumlee commented on #108909
hey @mdefazio, I think this is just a side effect of our polling for that data value intermittently. Just to clarify, what would be the expected behavior here?

[2021-09-02 21:45] graphaelli commented on #101734
It may also make sense to tackle https://github.com/elastic/kibana/issues/92839 while creating this new job.

[2021-09-02 21:47] debadair commented on #110919
Agree we need to be consistent. The things you need to resolve are _issues_, and Critical, Warning, and (potentially) Info indicate the severity level. If we indicate the severity level, we shouldn't have to use non-critical.

[2021-09-02 21:47] cjcenizal commented on #111050
@elastic/kibana-presentation @elastic/kibana-data-discovery @elastic/kibana-vis-editors Which one of you own this?

[2021-09-02 21:47] gwbrown commented on #58035
Following up, I've opened a PR to correct the docs for `index.hidden` at https://github.com/elastic/elasticsearch/pull/77218.

[2021-09-02 21:47] elasticmachine commented on #110997
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-02 21:48] elasticmachine commented on #110970
Pinging @elastic/kibana-core (Team:Core)

[2021-09-02 21:48] elasticmachine commented on #110778
Pinging @elastic/kibana-security (Team:Security)

[2021-09-02 21:49] elasticmachine commented on #110746
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-02 21:50] #93685 closed

[2021-09-02 21:50] #108548 closed

[2021-09-02 21:50] cjcenizal commented on #110736
@bellaxievmlyr Are you still encountering this error? If so, please reopen this issue. If not, I'd consider it transient.

[2021-09-02 21:50] #110736 closed

[2021-09-02 21:51] elasticmachine commented on #110707
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-02 21:52] elasticmachine commented on #109363
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-02 21:52] elasticmachine commented on #108180
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-02 21:53] elasticmachine commented on #107682
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-02 21:58] cjcenizal commented on #106931
`EuiCodeEditor` is now available directly within Kibana. See https://github.com/elastic/kibana/pull/108318 for more details. This allows plugin maintainers to continue to consume `EuiCodeEditor`, but importing it from the `es_ui_shared` plugin instead of from EUI.

[2021-09-02 22:03] tsullivan commented on #106873
@liza-mae the solution is to use a smaller dashboard that works for the test instance. The diagnostic tool errors look like a separate issue, unrelated to generating report for a large dashboard.

[2021-09-02 22:06] chandlerprall commented on #110758
We'll definitely want to test the end result in a complete setup - Dave's suggestions around enabling virtualization may still be needed. The changes so far resolve what has been observed as the bottlenecks, but it's possible we've only dug a hole large enough to hit another layer. However, based on @kqualters-elastic's initial explorations I don't expect another set of immediate concerns.

[2021-09-02 22:07] tsullivan commented on #102006
@liza-mae I think this is the same issue as https://github.com/elastic/kibana/issues/106873

[2021-09-02 22:07] tsullivan commented on #106873
Same issue in 7.13: https://github.com/elastic/kibana/issues/102006

[2021-09-02 22:13] stanek-michal commented on #109376
@ferullo confirming that it works in BC4. I just tested host isolation with BC4 agent on Ubuntu 20.04 and CentOS 8. Isolation is instantaneous but the UI still lags a little bit. Agent stays 'Healthy' all the time.

[2021-09-02 22:17] cjcenizal commented on #110919
@debadair OK, so the term we're settling on is "issues" then, and not "warning". Thanks for clarifying! Agreed that if we're using "issues", then we can just use "Critical" and "Warning" to indicate severity.

[2021-09-02 22:32] FrankHassanabad commented on #109189
Let me edit this statement a bit after I was pinged about it. There are no immediate plans for it to go away and we will be supporting it past 8.0.0 at the very least. It is going to be around for a bit and we will have to maintain and support it for the foreseeable future and depending on changing priorities it might be around for some time.

[2021-09-02 22:36] pburkholder commented on #101009
Just checking on whether this is still open. Thanks, Peter

[2021-09-02 22:40] sqren commented on #102934
Superseeded by https://github.com/elastic/kibana/issues/111045

[2021-09-02 22:40] #102934 closed

[2021-09-02 22:56] tsullivan commented on #109455
Hi @liza-mae , what is the `xpack.reporting.csv.maxSizeBytes` set for this test server?

In the Kibana there are different test server configurations for different tests, and the max size for this test should be ``

[code]

The test is failing because its exporting more data than expected, so the problem is likely that this test server config uses 6000 bytes for the max size, when it should use 28

[2021-09-02 23:04] tsullivan commented on #105318
This test appears to be passing as of today:
[code]

Test run: https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-flaky-test-runner/JOB=flakyRun1,TASK=saas_run_kibana_tests,node=ess-testing/277/

[2021-09-02 23:34] tylersmalley commented on #10422
I am going to close this for now, since the underlying report was resolved.

[2021-09-02 23:34] #10422 closed

[2021-09-02 23:37] tylersmalley commented on #8272
Closing in favor of https://github.com/elastic/kibana/issues/13108

[2021-09-02 23:37] #8272 closed

[2021-09-02 23:42] alisonelizabeth opened #111068 "[Core deprecations service] Markdown support"
It'd be helpful if the [core deprecations service](https://github.com/elastic/kibana/tree/master/src/core/server/deprecations) supported markdown when defining a deprecation's message and manual steps. This would improve the UX in Upgrade Assistant, by allowing deprecations to render with bold and code formatting, as well as active links.

Example:
![image](https://user-images.githubusercontent.co

[2021-09-02 23:42] elasticmachine commented on #111068
Pinging @elastic/kibana-core (Team:Core)

[2021-09-02 23:46] cjcenizal opened #111069 "Deep-link to Observability and Discover from UA with checkpoint time-range applied"
@sabarasaba Is it possible to use the last checkpoint time to set the timerange to be from `<checkpointTime>` to `<now>` when the user opens Observability and Discover from within Upgrade Assistant? This way the user will immediately see the new logs that have been triggered since they reset the checkpoint counter.

[2021-09-02 23:46] elasticmachine commented on #111069
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-02 23:50] alisonelizabeth opened #111070 "[Core deprecations service] Make deprecationType required field"
Currently the `deprecationType` field is optional when registering a deprecation (implemented via https://github.com/elastic/kibana/issues/96060).

I propose making this a required field, even if it means introducing an "uncategorized" type. Otherwise, it becomes unclear if the deprecation type does not fall under `config` or `feature`, or if the engineer forgot to define this field when registeri

[2021-09-02 23:50] elasticmachine commented on #111070
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 00:28] #107565 closed

[2021-09-03 02:01] elasticmachine commented on #110778
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2021-09-03 02:01] elasticmachine commented on #110778
Pinging @elastic/workplace-search-frontend (Team:WorkplaceSearch)

[2021-09-03 02:02] jportner commented on #110778
This does not appear to be a Platform Security issue.

I'm not sure if this is an AppSearch concern or a WorkplaceSearch concern, but I added both labels.

[2021-09-03 02:06] kibanamachine opened #111076 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/infra/metrics_explorer·ts - InfraOps App Metrics UI Metrics Explorer Saved Views save functionality should create new saved view and load it"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16590/)

[2021-09-03 02:08] tsullivan commented on #109463
This is the same issue as https://github.com/elastic/kibana/issues/109455#issuecomment-912115208

[2021-09-03 02:17] kibanamachine opened #111077 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should edit settings of xy line chart"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/107/)

[2021-09-03 02:18] tsullivan commented on #102006
I ran this test suite in the flaky test runner for cloud: https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-flaky-test-runner/JOB=flakyRun2,TASK=saas_run_kibana_tests,node=ess-testing/278/

There is one that failed inconsistently: `dashboard Reporting Dashboard Reporting Screenshots Preserve Layout downloads a PDF file: small dashboard`

My test results: https://gist.github.com/tsulliva

[2021-09-03 02:40] elasticmachine commented on #110778
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 02:40] legrego commented on #110778
I believe global search is a Core team feature

[2021-09-03 03:53] afharo commented on #110239
Alternatively, we could improve the default error message to `[key]: is not allowed`. However, since we normally use it inside a conditional, we may need the conditional to report why `... when 'dist' is 'true'`.

That sounds like a lot of work (and users probably will wonder how to set `dist` to false) 😅

I think the `customMessage` approach for this type would be good enough.

What do you think?

[2021-09-03 03:57] karanbirsingh-qasource commented on #110930
Thanks @machadoum for sharing the update of expected behavior for first video scenario.

[2021-09-03 05:18] #108077 closed

[2021-09-03 05:34] muskangulati-qasource commented on #110933
@kevinlog,

Thank you for sharing the expected. However, if we upgrade, the installed version shows 1.1.1 and the latest version also shows as 1.1.1..
However, the installed version should be 1.0.0..

Please confirm if it is correct behaviour and we can close this ticket.

Thanks!

[2021-09-03 05:48] #110900 closed

[2021-09-03 06:08] kertal commented on #110997
Thx, we are currently investing a similar bug. Could you open Chrome's dev tools and enter `window.devicePixelRatio` in the console?

[2021-09-03 06:31] pgayvallet commented on #110239
Realistically, it can't be automated, as the amount of work to parse the JOI schema tree would be enormous.  So the only option for such specific message would be the `customMessage` option

[2021-09-03 06:32] pgayvallet commented on #110778
This is right, removed the other team labels

[2021-09-03 06:39] elasticmachine commented on #110778
Pinging @elastic/fleet (Team:Fleet)

[2021-09-03 06:43] pgayvallet commented on #110778
core.entry.js:6 GET https://kibana/api/fleet/epm/packages?experimental=true 403 (Forbidden)
"Access to Fleet API require the superuser role"

@elastic/fleet it seems the result provider you're registering

https://github.com/elastic/kibana/blob/8924ff3219b1b420be2594ad068873ea941585de/x-pack/plugins/fleet/public/plugin.ts#L201-L203

is throwing an error when a non-admin user is performing a search

[2021-09-03 06:49] pgayvallet commented on #111068
Don't know about the manual steps, but at least the `message` is not meant to exclusively be used/displayed in UA, right? For this reason, I don't think we could allow markdown in the existing fields?

A option would be to add optional `markDownMessage` and `markDownManualSteps` (or to create subfields under `message` and `manualSteps`). That way the current properties remain usable anywhere, and

[2021-09-03 07:09] tas17 opened #111085 "reversing the autocompleteTerminateAfter parameter"
**Describe the feature:**
For now, the autocompleteTerminateAfter states how many records kibana will go through from the start. It could be useful to be able to go from the end to the start

**Describe a specific use case for the feature:**
We've been storing patient diseases for many years. Now that a new disease (covid) appeared, I'd have to set autocompleteTerminateAfter to 100 000 000 to get

[2021-09-03 07:25] delvedor commented on #110082
I did some experiments, and you can swap the client certificates by closing the currently open connections and create new ones with the updated configuration.
Unfortunately, the current client implementation does not close the client if there are in-flight requests, but you can change this behavior by adding new client methods.

[code]

The key to make this work is that `updateCerts` should be a s

[2021-09-03 07:31] stratoula opened #111086 "[Visualize] Remove dimming opacity setting"
There is an advanced setting that changes the dimming opacity of the vislib pie and xy charts. As these implementations are not the default ones and are going to be removed soon we decided to also remove this setting in v8.0. Also it seems that this setting is not used a lot so we think that it is safe to remove it.

![image](https://user-images.githubusercontent.com/17003240/131967452-e761a734-6b

[2021-09-03 07:31] elasticmachine commented on #111086
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-03 07:35] mshustov commented on #110778
+1. The core can provide a bug fix for the current issue and open a dedicated issue to improve Fleet provider logic.

[2021-09-03 07:41] mynew-github-account opened #111087 "Many js file being downloaded while loading dashbaord"
[Please add a WCAG level label: WCAG A/AA/AAA]

I am trying to load kibana dashboard on my website with help of ifream but while loading its downloading many js files
Which on search found to be from x-pack

Its almost 100 js files for one dashboard
can someone suggest how to minify it to improve loadtime

**Steps to reproduce**

1.I have embedded dashboard in iframe
2.and then trying to load when

[2021-09-03 07:41] elasticmachine commented on #111087
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-09-03 07:45] pgayvallet commented on #110492
That means the client-side `features` service of `core` will hit an endpoint that is not exposed by `core`, but by a plugin. In term of design, this is something we would like to avoid. OTOH I don't really have any better ideas if we want to avoid bringing licensing into core

But with the licensing change, I wonder if having licensing in core wouldn't make sense? Of course it would need to be awa

[2021-09-03 07:53] machadoum commented on #94557
I noticed that this bug doesn't happen on master because the user can't select the top event graph anymore. It doesn't show up as an option when hovering count table and trend graph items.

<img width="990" alt="Screenshot 2021-09-03 at 09 48 02" src="https://user-images.githubusercontent.com/1490444/131970260-ef37b8b9-7cd6-4af6-854d-f413e143089e.png">
<img width="495" alt="Screenshot 2021-09-03 a

[2021-09-03 08:00] amolnater-qasource opened #111088 "[Fleet]: Wrong Icons for System & elastic-agent integration when Data Streams tab is opened in new browser tab."
**Kibana version:**  7.15.0 BC-4 Kibana Cloud environment

**Host OS and Browser version:** All, Chrome and Firefox

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-4 Kibana Cloud environment should be available.
2. Agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Open Data Streams tab in new browser tab.[

[2021-09-03 08:00] elasticmachine commented on #111088
Pinging @elastic/fleet (Team:Fleet)

[2021-09-03 08:00] karanbirsingh-qasource opened #111089 "[Security Solution]Alert Flyout didn't Closed on opening event analyzer"
**Describe the bug**
Alert Flyout didn't Closed on opening event analyzer

**Build Details:**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Generate any detection alerts

**Steps to Reproduce**
1. Go to alert page
2. search for this agent.type: endpoint and process.entity_id: *
2. Click on expand icon and alert flyout will open up.
3. click on more acti

[2021-09-03 08:00] katrin-freihofner opened #111090 "[RAC] Observability alerts table: update cell actions"
We want to update the cell actions in the Observability alerts table to improve usability. We defined the cell actions for our default columns and default actions for all optional columns.

AC:
- Timestamp and Duration column: expand action (no filter in/out)
- Reason column: expand action (We decided this works ok based on how [data grid "email" column example](https://elastic.github.io/eui/#/tab

[2021-09-03 08:00] elasticmachine commented on #111089
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 08:00] elasticmachine commented on #111090
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-03 08:05] elasticmachine commented on #111087
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-03 08:06] elasticmachine commented on #111085
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:06] elasticmachine commented on #111077
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-03 08:07] elasticmachine commented on #111031
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-03 08:08] elasticmachine commented on #110959
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:08] elasticmachine commented on #110959
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:08] elasticmachine commented on #110959
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:08] elasticmachine commented on #110938
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:09] elasticmachine commented on #110529
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-03 08:09] elasticmachine commented on #110529
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:09] elasticmachine commented on #110514
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:10] elasticmachine commented on #110509
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-03 08:11] elasticmachine commented on #110475
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-03 08:11] elasticmachine commented on #110475
Pinging @elastic/uptime (Team:uptime)

[2021-09-03 08:11] elasticmachine commented on #110428
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-03 08:11] elasticmachine commented on #110428
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:12] elasticmachine commented on #110178
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-03 08:12] elasticmachine commented on #109994
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-03 08:12] elasticmachine commented on #109994
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:13] elasticmachine commented on #109992
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:13] elasticmachine commented on #109992
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:13] elasticmachine commented on #109992
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:14] elasticmachine commented on #109980
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:14] elasticmachine commented on #109575
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-03 08:14] elasticmachine commented on #109546
Pinging @elastic/apm-ui (Team:apm)

[2021-09-03 08:14] elasticmachine commented on #109330
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:15] elasticmachine commented on #109314
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-03 08:15] elasticmachine commented on #108585
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-03 08:16] elasticmachine commented on #108440
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-03 08:17] elasticmachine commented on #107969
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:18] elasticmachine commented on #107879
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:19] elasticmachine commented on #107359
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:19] elasticmachine commented on #107334
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:21] elasticmachine commented on #88208
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 08:23] elasticmachine commented on #105435
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-03 08:23] elasticmachine commented on #50338
Pinging @elastic/datavis (Team:DataVis)

[2021-09-03 08:23] elasticmachine commented on #105539
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-03 08:23] elasticmachine commented on #106585
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-03 08:24] elasticmachine commented on #106690
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-03 08:25] miltonhultgren commented on #111029
So that I understand, wasn't the goal of #110788 to make it so that the old alert is written to the old index?
And now the problem that remains is the deletion of the old index due to the default ILM policy?

[2021-09-03 08:25] elasticmachine commented on #107085
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 08:25] elasticmachine commented on #107333
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:26] elasticmachine commented on #107054
Pinging @elastic/uptime (Team:uptime)

[2021-09-03 08:26] elasticmachine commented on #107044
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-03 08:26] MadameSheema commented on #90418
@stephmilovic @XavierM I tested this on latest 7.15 branch (71768bb51d30350803cb5ffff17b12d2b7847268) and the issue is not fixed.

[2021-09-03 08:26] elasticmachine commented on #106941
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:27] elasticmachine commented on #107034
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:27] elasticmachine commented on #107035
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:27] elasticmachine commented on #108147
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 08:28] vadimkibana commented on #108255
Could you please add `Team:...` label to this.

[2021-09-03 08:29] elasticmachine commented on #106931
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-03 08:29] elasticmachine commented on #105071
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-03 08:35] pgayvallet opened #111094 "NS Integrations results provider: avoid throwing when the user does not have superuser permissions"
In https://github.com/elastic/kibana/issues/110778 we discovered that when a plain user is using the navigational search, the `integrations` result provider throws an error, resulting on all the results not being displayed (effectively breaking the whole NS feature)

https://github.com/elastic/kibana/pull/111093 addressed it, by catching potential errors from providers to allow the results from ot

[2021-09-03 08:35] elasticmachine commented on #111094
Pinging @elastic/fleet (Team:Fleet)

[2021-09-03 08:36] pgayvallet commented on #110778
Opened https://github.com/elastic/kibana/pull/111093 to swallow the provider errors, and created https://github.com/elastic/kibana/issues/111094 for fleet's `integrations` provider fix.

[2021-09-03 08:41] elasticmachine commented on #110938
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 08:43] elasticmachine commented on #109330
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 08:43] samratbhadra-qasource commented on #94557
Hi @MadameSheema

We tested this ticket on the 7.15.0-BC4 environment & found that the 'Show Top' is removed from the count tab however, the issue still exist under alert table. Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording**:

https://user-images.githubusercontent.com/84007952/131976688-e32fe8e9-bb2d-4752-acfe-52f0a96de84c.mp4

**Screenshot**:

![image (5)](

[2021-09-03 08:43] elasticmachine commented on #107334
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 08:43] elasticmachine commented on #107333
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 08:44] elasticmachine commented on #106941
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 08:44] elasticmachine commented on #108147
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-03 08:49] gmmorris commented on #106315
Looking at the code I can't see a Rule Registry Logger at all.
Feels like the registry should have [its own context](https://docs.elastic.dev/kibana-dev-docs/services/logging#loggers-appenders-and-layouts), separate from the Alerting plugin and the Rule Type's plugin (which is wrapped in the registry).

[2021-09-03 08:49] formgeist opened #111095 "[APM] Bug: Error count threshold alert allows for defining 0 error as threshold, but doesn't show the value"
### Kibana version

7.15 BC

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

<img width="605" alt="CleanShot 2021-09-03 at 10 46 14@2x" src="https://user-images.githubusercontent.com/4104278/131977816-95ec0f18-81fc-4f83-804c-46918b3eb808.png">

![CleanShot 2021-09-03 at 10 45 59](https://user-images.githubuser

[2021-09-03 08:49] elasticmachine commented on #111095
Pinging @elastic/apm-ui (Team:apm)

[2021-09-03 08:50] cnasikas commented on #110931
@monina-n Ok!

[2021-09-03 08:50] elasticmachine commented on #109330
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 08:50] MadameSheema commented on #109330
@peluja1012 @rylnd can you please take a look at this? Thanks

[2021-09-03 08:56] weltenwort commented on #111029
@miltonhultgren indeed, we discovered that the ILM policy unconditionally deletes everything beyond the most recent index

[2021-09-03 08:57] MadameSheema commented on #108692
Tested on 7.15 branch (71768bb51d30350803cb5ffff17b12d2b7847268) and looks like is working fine. Waiting for @mandeepkaur-qasource to review the issue on BC5 to close it.

[2021-09-03 08:58] MadameSheema commented on #94557
I checked 7.15 branch (71768bb51d30350803cb5ffff17b12d2b7847268) and I face the same behaviour.

@machadoum any thoughts on this? Thanks :)

[2021-09-03 08:59] muskangulati-qasource commented on #109376
Hi @ferullo,

We tested this ticket & found that the issue is **fixed** on the 7.15.0-BC4 environment. Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/131979014-6b51ce16-f6ed-4f77-bfba-d9db0da2abd7.mp4

Hence, closing this ticket and marking it as "Validated".

Thank you @stanek-michal for following up

cc

[2021-09-03 08:59] #109376 closed

[2021-09-03 09:02] pgayvallet commented on #110514
Hum, are you sure this is a object count limit and not a payload size limit? The default max number of objects is 10k

https://github.com/elastic/kibana/blob/393505ab3936509f15586d2062f2a2bc4892ae59/src/core/server/saved_objects/saved_objects_config.ts#L48-L51

Could you elaborate on why this would be logical, given that the export API can only provide export files in NDJSON?

[2021-09-03 09:05] pgayvallet commented on #109992
This error seems to be coming from the `react devtools` browser extension, so it's likely not a Kibana issue.

[2021-09-03 09:06] matschaffer commented on #100987
Will this impact timelion viz present in dashboards as well? If they're planned for removal what to we have to help aid in conversion to lens panels?

[2021-09-03 09:06] formgeist opened #111096 "[APM] Bug: Creating an anomaly rule for a selected environment doesn't set the environment in the rule configuration"
### Kibana version

7.15 BC

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

![CleanShot 2021-09-03 at 10 59 53@2x](https://user-images.githubusercontent.com/4104278/131980285-d05e2bbc-4d19-45cf-864b-816afacf6102.png)

![CleanShot 2021-09-03 at 11 00 10@2x](https://user-images.githubusercontent.com/4104278/131

[2021-09-03 09:06] elasticmachine commented on #111096
Pinging @elastic/apm-ui (Team:apm)

[2021-09-03 09:09] karanbirsingh-qasource commented on #109297
HI @MadameSheema

we have validated this issue on 7.15.0 BC4 and found it Fixed . Now user can click on more action for events.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131980697-3b9d8a0f-57fc-43fd-92d0-c8053442703d.png)

Hence we are closing this issue .

thanks !!

[2021-09-03 09:09] #109297 closed

[2021-09-03 09:10] ruflin opened #111097 "[Fleet] Package icons do not show up at first"
* Version: 7.15.0
* Environment: Elastic Cloud

Sometimes when I go to the data streams page in Fleet, not all streams show up with the correct icon (see system data streams). When I navigate away from the page and come back, all icons show up as expected. This is reproducible by force reload the page.

First screen shot is after the force reload, second screenshot is after navigating back from th

[2021-09-03 09:10] elasticmachine commented on #111097
Pinging @elastic/fleet (Team:Fleet)

[2021-09-03 09:14] arvindersingh-qasource commented on #109824
Hi @MadameSheema ,

We have validated this issue on 7.15.0 BC4 build and found that issue is now **Fixed**
### Build Details
[code]

### Please find the below observations
#### Screen Recording
https://user-images.githubusercontent.com/78947943/131978812-06e8ff32-af01-40b7-b6bf-5f606d03fa7d.mp4

Hence, We are closing this issue.

Thanks.

[2021-09-03 09:14] #109824 closed

[2021-09-03 09:17] mshustov commented on #109992
@rashmivkulkarni Can you reproduce the problem in the incognito mode?

[2021-09-03 09:19] fdartayre commented on #105822
To be noted, it is possible to create index patterns with the same name:
- with the REST API (https://github.com/elastic/kibana/issues/107359)
- Exporting the index pattern as a saved object and re-importing choosing "Create new objects with random IDs"

This doesn't appear to be very consistent.

[2021-09-03 09:22] #110483 closed

[2021-09-03 09:29] pgayvallet commented on #108972
https://github.com/elastic/kibana/pull/110998 will be the EUI bump that will expose the new `EuiThemeProvider`

[2021-09-03 09:30] sabarasaba commented on #111069
I think it should be possible, I'll have a look at this soon

[2021-09-03 09:30] jloleysens opened #111098 "[Reporting] `PNGV2` to `PNG_v2`"
After merging https://github.com/elastic/kibana/pull/101048/ we introduced a new PNG export type and named it `PNGV2`.

It would be more consistent with PDF export type name to have named it `PNG_v2` (since prior version was `PNG`).

Additional context: https://github.com/elastic/kibana/pull/110622

[2021-09-03 09:30] elasticmachine commented on #111098
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-03 09:31] jloleysens commented on #111098
We should do this **before** 7.16.

[2021-09-03 09:35] semd commented on #108921
@MadameSheema The latest design we have for this issue is defined in the PR: https://github.com/elastic/kibana/pull/110506#pullrequestreview-742214942
![image](https://user-images.githubusercontent.com/3756330/131430552-c06a7a60-7152-482c-97b4-2bd2630b1eae.png)
It will probably change in future releases, but for 7.15 we will have this design. Can you validate it?

[2021-09-03 09:36] pgayvallet commented on #110614
Sure, but this will requires to differentiate 1st vs 3rd party plugins anyway.  Are we expecting all our plugins to be `internal`? If so, given that we'll have to identify the plugin source to perform the validation, do we see any value in adding a flag?

[2021-09-03 09:40] MadameSheema commented on #108921
@karanbirsingh-qasource can you please validate this on current BC? Thanks

[2021-09-03 09:44] pgayvallet commented on #109189
`onExport` is async and get passed the `request` object for consumer to instantiate scoped clients if required

https://github.com/elastic/kibana/blob/59d7f331158d70919dd171b3b2684393d1f3d8e7/src/core/server/saved_objects/export/types.ts#L175-L178

https://github.com/elastic/kibana/blob/59d7f331158d70919dd171b3b2684393d1f3d8e7/src/core/server/saved_objects/export/types.ts#L91-L102

To be honest, `

[2021-09-03 09:46] miltonhultgren commented on #110758
I opened https://github.com/elastic/kibana/pull/111100, how do we want to handle this?
We can merge my PR and if the EUI fixes land in time we can revert the limiting after we've tested.

[2021-09-03 09:52] cnasikas commented on #110931
Nevermind 🙂! Fixed by https://github.com/elastic/kibana/pull/111101

[2021-09-03 09:55] afharo commented on #109684
Correct! That's the one!

I think that tackling #110677 will likely silence those fatal `EmptyError` logs.

[2021-09-03 09:56] mshustov commented on #110614
Nor really, as long as this validation logic is kept in the manifest validator.
Btw, it's turned out @jportner already added the `source` field to `PluginWrapper` https://github.com/elastic/kibana/blob/1bf765def19c9d07e54f3bc7a322c28cbc8b6eb6/src/core/server/plugins/plugin.ts#L77
So we have this information at a later stage.

[2021-09-03 09:58] timroes commented on #100987
@matschaffer This does NOT affect timelion visualizations on dashboards (or in the visualization library) or the timelion datasource in Canvas (as stated in the description above). This will only remove the application (that is also disabled by default since 7.0 unless you set some specific kibana.yml setting).

[2021-09-03 10:00] Bamieh commented on #111068
@pgayvallet I'm afraid if we add `markDown*` fields we might be introducing new surface areas for bugs like inconsistent messaging between plain and markdown texts.

Creating subfields might be a more flexible here as maybe not all steps need to be in markdown hence we dont need to duplicate steps between fields:

[code]

My personal suggestion is to think about introducing a markdown function tha

[2021-09-03 10:03] matschaffer commented on #100987
Phew! thanks 🧡

[2021-09-03 10:04] pgayvallet commented on #106581
Yea, they can also be selected for export, and are exportable. UI improvements will have to be done in the modal

[2021-09-03 10:06] rudolf opened #111103 "NP Logging: move developer/architecture docs to user docs"
The best NP logging docs are located under "Kibana Guide [master] » Developer guide » Architecture » Logging..." a place where end-users won't usually go to look.

Almost all of the content of these docs are just as applicable for end-users so we should move these to our end-user docs:
 - https://github.com/elastic/kibana/blob/master/docs/developer/architecture/core/logging-service.asciidoc
    Ev

[2021-09-03 10:06] elasticmachine commented on #111103
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 10:12] elasticmachine commented on #111087
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-03 10:17] dej611 opened #111104 "[Lens] Heatmap with numeric color stops fail to load in dashboard"
**Describe the bug:**

Dashboard cannot load a Heatmap with absolute number value defined palette color stops.

**Steps to reproduce:**
1. Create a dashboard
2. Create a Heatmap visualization via Lens
3. Open the Heatmap metric dimension panel and click on the palette to customize it
4. Just click the `Number` button
5. Save and return
6. :boom:

**Expected behavior:**

The heatmap should load cor

[2021-09-03 10:17] elasticmachine commented on #111104
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-03 10:17] kibanamachine opened #111105 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/saved_objects_management/feature_controls/saved_objects_management_security·ts - Saved objects management feature controls saved objects management global saved object management read privileges edit visualization "before all" hook for "does not show delete button""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16749/)

[2021-09-03 10:18] joshdover commented on #107020
I have confirmed that this is fixed and working on the latest 7.15.0 and 7.14.2 snapshots on Cloud Staging ✅

[2021-09-03 10:19] joshdover commented on #110367
@liza-mae this test should be passing on Cloud now for the 7.14.2, 7.15.0, and 8.0.0 snapshots. The next 7.15.0 BC should have this resolved as well.

[2021-09-03 10:19] muskangulati-qasource opened #111106 "[Security Solution] Single space as a comment takes the comment spacer for Host Isolation"
**Description:**
Single space as a comment takes the comment spacer for Host Isolation

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab.
2. Isolate the host and ass a single space in the comment section
3. Observe the empty comment spacer is added to the activity log

**Impacted Te

[2021-09-03 10:19] elasticmachine commented on #111106
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-03 10:19] elasticmachine commented on #111106
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 10:28] manishgupta-qasource commented on #111106
Reviewed & assigned to @kevinlog

[2021-09-03 10:31] mgiota commented on #111029
@miltonhultgren yep exactly!

[2021-09-03 10:37] samratbhadra-qasource commented on #107129
Hi @kevinlog,

We tested this ticket on the latest 7.15.0-BC4  build & found that the issue is now **fixed**. Please find below the exact testing details:

**Build Details**:
[code]
**Screen-Recording**

https://user-images.githubusercontent.com/84007952/131991969-84a6a194-d60d-4aff-9659-b80ffdf78401.mp4

Hence, closing this issue and marking it as "Validated".

Thanks

[2021-09-03 10:37] #107129 closed

[2021-09-03 10:38] afgomez commented on #108832
@katrin-freihofner I cannot reproduce the broken button. I tried in Firefox (screenshot), Chrome and Safari.

<img width="1427" alt="Screenshot 2021-09-03 at 12 34 53" src="https://user-images.githubusercontent.com/57448/131992309-1dfd4d6f-cd9b-4761-9fbf-1131638837b0.png">

We still need to move the "Updated at" label, but that was already tracked in another issue.

[2021-09-03 10:41] afharo commented on #98463
Failed with similar error:

[code]

[2021-09-03 10:59] mandeepkaur-qasource opened #111108 "[Security Solution]```event.reference``` URL link is getting displayed as plain text on "Threat Intel" table."
**Description:**
```event.reference``` URL link is getting displayed as plain text on "Threat Intel" table.

**Build Details:**
Version: 7.15.0 BC4
Build: 43886
Commit: 29a6969dc230abf16dc65a41c535cb534ae64fa7
Artifact link: https://staging.elastic.co/7.15.0-9e0972b3/summary-7.15.0.html

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elasti

[2021-09-03 10:59] elasticmachine commented on #111108
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 10:59] #104923 closed

[2021-09-03 11:01] mandeepkaur-qasource commented on #111108
@manishgupta-qasource Please review!!

Thanks!!

[2021-09-03 11:02] MadameSheema commented on #111108
@rylnd @ecezalp can you please take a look at this? Thanks :)

[2021-09-03 11:14] afharo commented on #98405
It looks like the error is different now to the one fixed in #109215

It throws the following error after clicking the confirm modal:
[code]

So it never left the edit page:
[code]

We need to figure out why the SO might be `undefined` when the edit page successfully loaded and it's showing the object:
![image](https://user-images.githubusercontent.com/5469006/131996755-5ab98d2f-4bf0-4b01-9c72-1bc

[2021-09-03 11:32] kevinlog commented on #110933
@muskangulati-qasource yes, this is expected.  Unless you upgrade the existing Endpoint integration policy that you added to the Agent policy, it's version will remain the same.

[2021-09-03 11:33] #94419 closed

[2021-09-03 11:35] #104631 closed

[2021-09-03 12:09] dikshachauhan-qasource commented on #110939
Thanks for the confirmation @jen-huang

[2021-09-03 12:10] dikshachauhan-qasource commented on #110947
Thanks for the feedback @jen-huang

[2021-09-03 12:15] joshdover commented on #111094
The current functionality could be implemented server-side, however we are planning to add some new items to the search that may require us to keep this client-side. I'll include investigating moving this server-side as part of our improvements in that area.

In the meantime, I agree we should not throw errors when the user is not superuser. The updates we're planning in #93084 also include no lon

[2021-09-03 12:15] legrego commented on #110492
I agree. Alternatively, we could not expose a client-side `features` service from `core`, and make that entirely plugin-provided. It's still a strange separation, but that might be a little more sane.

I was under the impression that we couldn't move the `licensing` plugin out of `x-pack`, since that would allow folks to bypass the license checks for paid features. @kobelb can you confirm or corre

[2021-09-03 12:18] joshdover commented on #111097
Closing as duplicate of #111088

[2021-09-03 12:18] #111097 closed

[2021-09-03 12:24] karanbirsingh-qasource commented on #108921
Hi @MadameSheema

we have validated this issue on 7.15.0 BC4 and found it fixed ✔️ .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/132004582-b80c9b5b-4858-401e-8f43-d1244c8f8c98.png)
![image](https://user-images.githubusercontent.com/59917825/132004592-caea5b8b-c7ff-485f-842a-def80fc3ffd2.png)

Hence we are closing this issue .

thanks !!

[2021-09-03 12:24] #108921 closed

[2021-09-03 12:27] manishgupta-qasource commented on #111088
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-09-03 12:30] banderror commented on #110519
@mgiota Sorry for the late reply. Yes, it kind of takes care about that implicitly. There are two cases where concrete indices can be created: initial index creation and rollover. In both of the cases we use deterministic names (we explicitly specify a name for the initial index and a name for the rollover target index); in both cases it's possible to have race conditions which are handled in the

[2021-09-03 12:33] ferullo commented on #105546
That will be fixed in 7.15.0 @bradenlpreston

[2021-09-03 12:37] banderror commented on #101016
@mgiota Thank you, I can only support that 👍 👍

[2021-09-03 12:38] #110778 closed

[2021-09-03 12:39] #110519 closed

[2021-09-03 12:42] MikePaquette opened #111120 "[Security Solution] UI focus jumps from Case description box back to Alerts table with first <return> keystroke"
**Kibana version:** 7.15.0 BC4

**Elasticsearch version:** 7.15.0 BC4

**Server OS version:** Elastic Cloud

**Browser version:** Chrome Version 92.0.4515.159 (Official Build) (x86_64)

**Browser OS version:** macOS 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**Elastic Cloud

**Describe the bug:** When creating a new case from the Alerts table via "Add to new ca

[2021-09-03 12:42] elasticmachine commented on #111120
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-03 12:47] #109965 closed

[2021-09-03 12:48] kertal commented on #106379
yes, just rendering what's needed would be nice, so currently there's just a limit of the number of fields, however, this is also not enough, since fields can contain very long values. So it's not easy to solve, but if we did, performance would be better for lots of cases. I've got a draft PR where I try to limit the rendered content till it reaches 1000 characters. this would help in certain case

[2021-09-03 12:58] crob611 commented on #110509
This is indeed a bug and not an intended breaking change. This is also duplicate of #107934

A fix has been applied and will be available in 7.14.1

In the meantime, to workaround this bug, you can switch to using nested `if` statements instead of the switch/case logic.

For example

[code]

[2021-09-03 12:58] #110509 closed

[2021-09-03 12:58] elasticmachine commented on #111089
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-03 12:59] MikePaquette opened #111126 "[Security Solution] Cases Name and Tags fields cleared after adding Lens Viz to Case Description"
**Kibana version:** 7.15.0 BC4

**Elasticsearch version:** 7.15.0 BC4

**Server OS version:** Elastic Cloud

**Browser version:** Chrome Version 92.0.4515.159 (Official Build) (x86_64)

**Browser OS version:** macOS 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**Elastic Cloud

**Describe the bug:** When creating a Lens visualization from within Cases, the message

[2021-09-03 12:59] elasticmachine commented on #111126
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-03 12:59] elasticmachine commented on #111126
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 13:00] smith commented on #111096
Duplicate of #110809. Closing.

[2021-09-03 13:00] #111096 closed

[2021-09-03 13:01] pgayvallet commented on #110492
It would probably be a less-worse design than hitting an plugin endpoint from core, yea. As the server-side part of the API would be in `core`, would we need to move `features` (the client side plugin) from `xpack` to `src`?

[2021-09-03 13:02] elasticmachine commented on #111126
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 13:02] katrin-freihofner commented on #108832
@afgomez thank you, it seems to be fixed.

[2021-09-03 13:02] #108832 closed

[2021-09-03 13:06] MadameSheema commented on #109419
Tested on 7.15 branch (dae544a48707dd08a90b9b1e16ef61829fd954d8) and looks like is fixed.

Waiting to close the issue until the fix is validated on BC5 by @deepikakeshav-qasource

[2021-09-03 13:08] MadameSheema commented on #110024
This issue looks fixed on 7.15 branch (dae544a48707dd08a90b9b1e16ef61829fd954d8).

The ticket will be closed after is validated on 7.15BC5 by @muskangulati-qasource

[2021-09-03 13:08] legrego commented on #110492
I don't think we _need_ to, but it probably makes sense to.

[2021-09-03 13:17] kibanamachine opened #111132 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/dashboard_back_button·ts - dashboard app using current data dashboard back button after navigation from listing page to dashboard back button works"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16752/)

[2021-09-03 13:21] machadoum commented on #94557
I see one clear bug here, which is the inconsistent total number of events:

<img width="400" alt="Screenshot 2021-09-03 at 15 02 12" src="https://user-images.githubusercontent.com/1490444/132009660-884a670a-5f2c-4721-9cb5-5f277024529c.png">

But this issue seems to be related to the fact that it returns zero events when selecting "Raw events".

The reason for that is that they query different ind

[2021-09-03 13:22] mdefazio commented on #108909
@dplumlee , sounds good.  And maybe worth a chat on this so I understand everything that's happening before making a suggestion on expected behavior.

My gut for this would say that this should represent the updated time of the data.  And (again, I think) my expectation would be that if Auto-refresh is off, this means the last time I updated a query, refreshed, etc.  So I was maybe confused to see

[2021-09-03 13:22] banderror commented on #106315
@gmmorris Rule Registry has its own logger and it's used to log some info and debug messages:

https://github.com/elastic/kibana/blob/6f357e043331e0291f16750dc1cb907c2d4ce86a/x-pack/plugins/rule_registry/server/plugin.ts#L66

If you enable it in the dev config, you will see some logs about installation of ES resources like component templates etc:

[code]

Just to make sure I got it correctly, is

[2021-09-03 13:24] MadameSheema commented on #110462
This issue is fixed on 7.15 branch (dae544a48707dd08a90b9b1e16ef61829fd954d8). Pending to close the ticket when the issue is validated by @deepikakeshav-qasource on 7.15BC5.

@kqualters-elastic @monina-n  it is intended to hide the KQL query filter when the alerts are on full screen? This is not happening on 7.14, thanks :)

[2021-09-03 13:24] PurpleV0id opened #111134 "Event Filter does exists and does not exist not operating correctly [Security Solution]"
I created an event filter for the endpoint agent to exclude file events with no file.extension field (in testing empty/null fields)
Doing this i found i stopped recieving file events for the process that was part of the filter.  I tested further across different datasets as below.

With the first filter i stopped recieving any network events for winlogbeat.exe and the same situation with the file.

[2021-09-03 13:24] elasticmachine commented on #111134
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 13:26] elasticmachine commented on #111134
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-03 13:28] MadameSheema commented on #110524
This issue looks fixed on 7.15 branch (dae544a48707dd08a90b9b1e16ef61829fd954d8).

Pending to close the ticket once the issue is validated by @karanbirsingh-qasource on 7.15BC5

[2021-09-03 13:28] mostlyjason opened #111136 "[Integrations] Add telemetry for package upgrades"
We'd like to have better visibility into the success and failure rate of package upgrades. If package upgrades fail this may put users at risk of being unable to upgrade agents. If they do, they may be unable to ingest data or ingest data with an older and incompatible template. Since we automatically upgrade packages in some cases, users may be unaware that ingestion is broken.

We'd like to have

[2021-09-03 13:28] elasticmachine commented on #111136
Pinging @elastic/fleet (Team:Fleet)

[2021-09-03 13:28] MadameSheema commented on #110931
@karanbirsingh-qasource please validate the fix of the issue on 7.15BC5. Thanks :)

[2021-09-03 13:28] kevinlog commented on #111134
@PurpleV0id is the `destination.ip` field present at all in your doc, but with a value of an empty string or `null` ?

@dasansol92 can you take a closer look?

[2021-09-03 13:31] MadameSheema commented on #94557
@XavierM @asnehalb can you please help us with our doubts? Thanks :)

[2021-09-03 13:35] ashokaditya commented on #111106
@kevinlog I'll create a fix for this.

[2021-09-03 13:42] francoisforster commented on #110997
I get 0.8999999761581421

[2021-09-03 13:47] dasansol92 commented on #111134
Hi @PurpleV0id, could you share us some of these documents?

[2021-09-03 13:47] banderror commented on #106315
@pmuellr I'd like to clarify the expected behaviour.

What do you mean by the RAC code? I think we have several different citizens:

- a generic indexing implementation (RuleDataService + RuleDataClient) used by all of the RAC-involved plugins
- a somewhat-generic base executor implementations (lifecycle executor used by Observability plugins, persistence executor used by Security)
- a specific ru

[2021-09-03 13:49] #107846 closed

[2021-09-03 13:57] #110771 closed

[2021-09-03 14:06] parkiino commented on #110937
https://github.com/elastic/kibana/pull/111064/

[2021-09-03 14:08] PurpleV0id commented on #111134
@dasansol92 @kevinlog
This is a event filter i just put in place, not something that should drop any file events
![image](https://user-images.githubusercontent.com/55829496/132018393-757f6a42-795f-4bf6-8d82-371e18959ea6.png)

Here is the results of the teams.exe file events, the policy applied on my machine at 14:35. From then until now ive closed/opened teams and had several calls.

The file even

[2021-09-03 14:27] ryankeairns commented on #109523
Here is the set of changes I have in mind.

First, there are three possible combinations:
1. no data, no index patterns
2. have data, no index patterns
3. no data, have indices (least likely as you would have removed data and not the indices; ignoring this for now)

### Using Discover as the example

#### When number 1 - no data, no index patterns
1. Navigate to Discover
2. See the [new empty stat

[2021-09-03 14:35] ymao1 opened #111151 "[Uptime][Rules] Uptime feature privilege does not include uptime duration anomaly rule type"
The uptime alerting feature privilege defined here needs to include the duration anomaly rule type in order for non-superusers to be able to access this rule type using Uptime feature privileges.

https://github.com/elastic/kibana/blob/66cb058fa79a3f53d25695e49f5ce04b93862c3a/x-pack/plugins/uptime/server/kibana.index.ts#L49-L67

[2021-09-03 14:35] elasticmachine commented on #111151
Pinging @elastic/uptime (Team:uptime)

[2021-09-03 14:36] elasticmachine commented on #57859
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #62287
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #72530
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #72541
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #75491
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] banderror opened #111152 "[Rule Registry] Default index settings and ILM policy for all indices"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

We never really talked about which index settings and ILM policy would be best for all RAC indices by default. What we have in the code is more like a draft and an issue was found with the default policy: https://github.com/elastic/kibana/issues/111029

https://github.com/elastic/kibana/blob/1205ba4ce09b8e3206c0762ed7f

[2021-09-03 14:36] elasticmachine commented on #81058
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #95932
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #111152
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 14:36] elasticmachine commented on #104335
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #105543
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #105812
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #109564
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #110235
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #110238
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #110443
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] elasticmachine commented on #110478
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:36] #93771 closed

[2021-09-03 14:39] elasticmachine commented on #17902
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17904
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17905
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17914
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17919
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17943
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17945
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17948
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18001
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18022
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18136
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18139
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18430
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18499
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #25657
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #41866
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #44067
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #44988
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #45128
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #45345
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #46220
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #46784
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #54141
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #55925
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17866
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17867
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17874
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17877
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17885
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17897
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #17899
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:39] elasticmachine commented on #18217
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] elasticmachine commented on #18219
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] elasticmachine commented on #18220
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] elasticmachine commented on #18222
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] elasticmachine commented on #18234
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] elasticmachine commented on #18223
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] elasticmachine commented on #18240
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:40] mattkime commented on #110959
@jiankunking Try adding `view_index_metadata` to the index privs. https://www.elastic.co/guide/en/kibana/current/index-patterns.html#index-patterns-read-only-access

[2021-09-03 14:42] banderror opened #111154 "[RAC][Rule Registry] Investigate why `getAuthorizedAlertsIndices` includes Kibana space id into the index name"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Background: https://github.com/elastic/kibana/pull/109567#pullrequestreview-736354020

[2021-09-03 14:42] elasticmachine commented on #111154
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 14:42] elasticmachine commented on #111154
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 14:46] ryankeairns opened #111158 "[Discover] Add 'Create index pattern' action to index pattern selector UI"
Relates to #109523

**Describe the feature:**
Now that index patterns can be created without leaving an application, we should further promote this as an option wherever index pattern UIs exist.

**Describe a specific use case for the feature:**
Add a 'Create index pattern' item to the overflow actions that exist next to the index pattern selector in Discover. This keeps this functionality always

[2021-09-03 14:46] elasticmachine commented on #111158
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 14:53] ecezalp commented on #107721
_security team newsletter (09/02/2021)_

I am not sure if we need to put into documentation that the Threat Intel card does not support CCS. Threat Intel card consumes the `defaultThreatIndex` setting under Kibana Advanced Settings, and remote indices can be added there. If anything, we can add a line about using caution while adding remote indices into their `defaultThreatIndex` setting. I will r

[2021-09-03 14:54] jportner opened #111160 "[Meta] Platform Security team - 8.0 upgrade work"
This is a meta-issue to describe all of the user-facing work that needs to be done by our team for the 8.0 upgrade. There are two main things:

1. **7.x branch:** Ensure that the 8.0 upgrade assistant accurately reflects all of the deprecations
   - Each deprecation should be set at the appropriate _level_ (`critical` if it blocks the upgrade, `warning` if not)
   - Each deprecation should correct

[2021-09-03 14:54] elasticmachine commented on #111160
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 14:58] TinaHeiligers commented on #59588
@timroes Core is starting work on converting to a read-only view and thanks for that POC! Are you still blocked on this work?

[2021-09-03 15:00] #108894 closed

[2021-09-03 15:04] banderror opened #111162 "[RAC][Rule Registry] Make endpoints for updating alerts consistent"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

The single update API endpoint (`x-pack/plugins/rule_registry/server/routes/update_alert_by_id.ts`) accepts a single `index` parameter which _must_ be the concrete index name of the alert document being updated. The call might fail in [certain cases](https://github.com/elastic/kibana/issues/110519) if the corresponding

[2021-09-03 15:04] elasticmachine commented on #111162
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 15:04] elasticmachine commented on #111162
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 15:09] kobelb commented on #110492
That is correct. The licensing plugin and any features that are available with a Gold+ license should remain in the `x-pack/` folder.

[2021-09-03 15:18] dasansol92 commented on #111134
@PurpleV0id it seems this is filtering all the events with `process.name.caseless` === "teams.exe" and `event.dataset`==="endpoint.events.file" without checking the `destination.ip`field if exists or not. An example of a document you are trying to filter/not filter would be helpful. Thanks.

[2021-09-03 15:26] banderror opened #111165 "[RAC][Rule Registry] Updating old alerts by "reindexing" them into the current write index"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Background: https://github.com/elastic/kibana/pull/109276#issuecomment-909130719

We should consider a "hybrid" approach in which an "update" means we write a document to the current write index (which we can assume to have the most recent mappings) and we delete the document from the index it was previously in. That w

[2021-09-03 15:26] elasticmachine commented on #111165
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 15:26] elasticmachine commented on #111165
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 15:27] banderror commented on #111165
cc @weltenwort

[2021-09-03 15:28] banderror commented on #111162
cc @weltenwort

[2021-09-03 15:28] banderror commented on #111152
cc @weltenwort

[2021-09-03 15:29] ymao1 commented on #54191
Close via https://github.com/elastic/kibana/pull/110458

[2021-09-03 15:29] #54191 closed

[2021-09-03 15:41] banderror opened #111170 "[RAC][Rule Registry] UI/UX around timeouts and errors during index bootstrapping"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Background: https://github.com/elastic/kibana/pull/108115#discussion_r687041272

During index bootstrapping there can occur certain situations related to network conditions:

- Timeouts, for example when network or ES cluster are under load. Currently we have 20 minutes timeout for installing common ES resources shared

[2021-09-03 15:41] elasticmachine commented on #111170
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 15:41] elasticmachine commented on #111170
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 15:41] timroes commented on #104892
Duplicate of https://github.com/elastic/kibana/issues/111158

[2021-09-03 15:41] #104892 closed

[2021-09-03 15:42] timroes commented on #111158
We discussed this in our planning and put that on hold for now, to align on the general Kibana plan about this. @AlonaNadler is this cleared for working on in this form now?

[2021-09-03 15:44] timroes commented on #18139
Closing this as outdated. We currently have no ongoing redesign efforts on Graph.

[2021-09-03 15:44] #18139 closed

[2021-09-03 15:46] dplumlee commented on #108909
We're not polling the data itself in the sense you're referring too, its not fetching data from the api. The frontend is updating that field in the UI every ~10 seconds or so to match the timestamp given in the data. This basically cuts down on unneeded rerenders. The popover is getting that number every time you hover over it so if you hover over in between that rerender cycle, you'll get a more

[2021-09-03 15:46] kertal opened #111172 "[Discover] Improve page not found handling"
Before #109798, when there was an invalid URL in Discover users were redirected to the `defaultAppId`, which was usually `home` unless it was configured in a different way.

After #109798 there's an empty page with a message displayed

<img width="1222" alt="Bildschirmfoto 2021-09-03 um 17 38 25" src="https://user-images.githubusercontent.com/463851/132032136-72f85e50-1439-48ec-901a-aa58ff8323a7.p

[2021-09-03 15:46] jportner commented on #82578
Re-reading this issue description:

Currently, the platform logging service provides a "default" appender, but that will be removed in 8.0. So I don't think we can just allow `xpack.security.audit.enabled` itself to enable the ECS audit logger in 8.0+ without some additional work.

I see two options to proceed:
1. Force users to configure `xpack.security.audit.appender` in 8.0+ (if a user does not

[2021-09-03 15:49] banderror opened #111173 "[RAC][Rule Registry] Implement RuleDataService.getReader() that skips index bootstrapping"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Background: https://github.com/elastic/kibana/pull/108115#discussion_r688069414

The `observability` plugin initializes an instance of `RuleDataClient` in order to only be able to read from _all_ observability indices (`observability.logs`, `observability.apm`, etc). It does this by calling:

[code]

This doesn't lead

[2021-09-03 15:49] elasticmachine commented on #111173
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 15:49] elasticmachine commented on #111173
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 15:50] #107721 closed

[2021-09-03 15:50] kevinlog commented on #109856
@paul-tavares the expectation from a UX POV is that the form shouldn't show redlines/validation errors when the we initially open the form.  We want the form to behave more like the Event Filter form where you don't see validation errors until after the user interacts with a field.

@bfishel can confirm that this is the desired UX

[2021-09-03 15:55] banderror opened #111175 "[RAC][Rule Registry] Implement separate methods for writing new alerts and updating existing ones"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Background: https://github.com/elastic/kibana/issues/110519#issuecomment-909186023

- Remove RuleDataWriter.bulk()
- Implement a new method for writing new alerts
- Implement a new method for updating existing alerts

The new methods should have simple and safe to use APIs which would keep developers away from making m

[2021-09-03 15:55] elasticmachine commented on #111175
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 15:55] elasticmachine commented on #111175
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 15:55] michaelolo24 commented on #108987
@marshallmain I haven't been able to reproduce it and only ever saw it on the dev instance, but I haven't seen it there anymore either even when I filter for alerts without the `signal.reason` field. I lean towards closing this issue until we see it again?

[2021-09-03 15:57] mdefazio commented on #108987
I don't seem to be able to reproduce this either.

[2021-09-03 15:58] paulb-elastic commented on #77959
Updated the label from `7.15.0` to `7.16.0` to reflect the PR

[2021-09-03 15:59] timroes commented on #111172
++ Especially since this toast vanished automatically after some time and leaves you with just an empty page :D

[2021-09-03 16:00] #54088 closed

[2021-09-03 16:00] #110853 closed

[2021-09-03 16:06] PurpleV0id commented on #111134
@dasansol92

I can get a document over, how would i best do that?

[2021-09-03 16:08] TinaHeiligers commented on #59588
@lukeelmers did we decide to go directly to a read-only view or are we deprecating the edit view first? Considering that the deadline to 8 is looming, I assume that we're skipping directly to read-only. Is that correct?

[2021-09-03 16:11] cchaos commented on #109523
Thanks Ryan, and these are all great solutions for doing the data checks **in-app**.  However, the crux of **this** issue is there needs to be no flyout at all on the IndeX Pattern **Management** page. And in order to do as you suggested we have to get rid of the redirect that happens. Right now all Analytics apps redirect to the **management** page.

[2021-09-03 16:14] afharo commented on #98463
I managed to replicate it locally. It appears that a plugin is using the SO client to store something periodically. And it may trigger when `esArchiver` has deleted the index and the migrations are running again (but Kibana is already up!).

On top of that, the plugin is not properly handling the promise, and Kibana crashes with:
[code]

I noticed that one potential culprit is here:
https://github

[2021-09-03 16:17] PhaedrusTheGreek commented on #110514
I think it would be unreasonable to support arbitrary formats, however collections of JSON documents generally only come in these 2 formats (newline delimited and array), so I see it as being a controlled decision.   Additionally, common tools export results in array format.  For example, Google BigQuery's default export format is array, where each array element = 1 record result from query.

[2021-09-03 16:19] snide commented on #109523
@cchaos Reading his writeup, i think he only suggested the flyout for when _creating_ index patterns if data already existed. The empty states would exist _instead of_ the flyout system when no data existed.

[2021-09-03 16:29] kibanamachine commented on #110970
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16756/)

[2021-09-03 16:33] afharo commented on #98463
To catch more culprits (because of the randomness of when this happens) follow these steps:

1. Start ES `yarn es snapshot`
2. Start Kibana with debug logs for ES `DEBUG=elasticsearch yarn start`
3. Right after the migrations are complete, delete the `.kibana` index: `DELETE http://localhost:9200/.kibana_8.0.0_001` (stopping ES may also work)
4. Wait until Kibana crashes and read the debug logs to

[2021-09-03 16:40] dasansol92 commented on #111134
@PurpleV0id
Sure.

Inside Security, you can go to the `Hosts` tab, then click on the `Events` tab.
You should be able to filter the events by `agent.type:"endpoint"` and the filters you added in the Event Filter.
With the results listed, you can just click on the expand button (the ones on the left) and copy the json object.

[2021-09-03 16:46] PurpleV0id commented on #111134
@dasansol92
Sorry meant do i just post in here? Should have just said that really

[2021-09-03 16:57] ryankeairns commented on #109523
I'll split mine into a separate issue to disassociate the the Index Patter Management piece form the Analytics/in-app flyout UX. The latter of which would be to only open the flyout from an action, as we typically do.

[2021-09-03 17:01] ryankeairns opened #111184 "[Disocver] Update empty state to include create index pattern UX"
Here is the set of changes I have in mind.

#### For _no data, no index patterns_
1. Navigate to an Analytics app (Discover, Dashboard, etc.)
2. See the [new empty state design](https://github.com/elastic/kibana/pull/108532) for Analytics (this is how it works on the Analytics Overview page)

#### For _have data, no index patterns_

1. Navigate to an Analytics app
2. Show an in-app `EuiEmptyPrompt

[2021-09-03 17:01] elasticmachine commented on #111184
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-03 17:06] joshdover opened #111185 "[Docs request] Update bundle optimization docs to include `kibana.json` options"
We have docs about how to reduce bundle size in our developer documentation here: https://www.elastic.co/guide/en/kibana/master/plugin-performance.html#_understanding_plugin_bundle_size

When working on a recent optimization, it took me some time to remember how the `extraPublicDirs` option added the `common` directory to the whole bundle, even if not imported anywhere. Adding a note about how thi

[2021-09-03 17:06] elasticmachine commented on #111185
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-03 17:10] cchaos commented on #109523
++ Yeah, I just didn't want to confuse this Management app specific issue for the overall empty data flow. Thanks for creating a specific issue to address that portion. There will still be times that people end up on the Index Pattern Management page with data and without any index patterns. So we'll need to make sure that their flow works well.

[2021-09-03 17:10] #108906 closed

[2021-09-03 17:17] jportner opened #111191 "Differentiate load-by-reference for embeddables"
## Overview

Embeddables (visualizations) can be loaded in two ways:
1. _By value_ - using the target embeddable's attributes directly
2. _By reference_ - using the target embeddable's saved object `type` and `id`

An example:
The primary consumer of embeddables today is the dashboard plugin. When you create a new dashboard, then you add a panel, it is a wrapper for an embeddable. You can add this

[2021-09-03 17:17] elasticmachine commented on #111191
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 17:19] jen-huang commented on #104416
Closing in favor of #110978.

[2021-09-03 17:19] #104416 closed

[2021-09-03 17:19] MichaelMarcialis opened #111193 "[Lens] Hide Kibana headers when in formula expanded/full screen mode"
I recently noticed that when viewing the Lens formula editor in expanded/full screen mode, both Kibana headers remain visible. The original designs for this expanded mode intended for the Kibana headers to be hidden/obscured from view, allowing the user to to focus on the task at hand (crafting their custom formula). Could we see about addressing this?

Note that any changes made to accommodate th

[2021-09-03 17:19] elasticmachine commented on #111193
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-03 17:20] jen-huang commented on #73927
Closing in favor of #111088.

[2021-09-03 17:20] #73927 closed

[2021-09-03 17:21] jen-huang commented on #111088
This has been reported a few times before, like in #73927, closing the other one in favor of this one.

[2021-09-03 17:25] jbudz commented on #110428
@TomonoriSoejima were you able to verify that /run/kibana.pid doesn't exist?  In most cases /run and /var/run are symlinked.  I'll see if I can get a centos7 machine up to test.

[2021-09-03 17:27] jbudz commented on #109994
Closing as a duplicate of https://github.com/elastic/kibana/issues/109064

[2021-09-03 17:27] #109994 closed

[2021-09-03 17:30] tsullivan commented on #109456
This could be related to https://github.com/elastic/kibana/issues/110483 but I'm not so sure since this failure was identified in 7.15

[2021-09-03 17:34] joshdover opened #111194 "[Meta][Fleet] Add a suite of maintenance APIs"
To be filled out more broadly as we go, there are a number of APIs we could add to ease some setup and maintenance options. These can be helpful to users in specialized situations as some of the edge cases get worked out and for long-term maintenance and cleanup tasks like auditing for unused API keys.

- [ ] Add a reset API
	- This can be used to help customers who upgraded from experimental and

[2021-09-03 17:34] elasticmachine commented on #111194
Pinging @elastic/fleet (Team:Fleet)

[2021-09-03 17:39] elasticmachine commented on #111132
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-03 17:40] elasticmachine commented on #111105
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 17:54] kevinlog commented on #111134
@PurpleV0id - yes, if you're OK pasting the JSON of the document here, that will work great

[2021-09-03 18:00] #101693 closed

[2021-09-03 18:00] #99567 closed

[2021-09-03 18:00] #93886 closed

[2021-09-03 18:07] jportner opened #111196 "Improve data plugin handling of `resolve`"
## Overview

To support #100489, the data plugin needs to be able to use `SavedObjectsClient.resolve` to load ~index patterns~ data views. This way, "deep link" URLs that depend on an index pattern ID (such as a global filter?) will not break after the 8.0 release.

The issue to track that work is in #108335.

The current plan is to change all of the data plugin's usage of `SavedObjectsClient.get`

[2021-09-03 18:07] elasticmachine commented on #111196
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 18:07] elasticmachine commented on #111196
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 18:08] elasticmachine commented on #1511
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-03 18:12] rylnd commented on #110029
The presence/absence of `threat.indicator.*` fields is dependent upon the data, which this ticket does not describe. If the system still has 7.14 indicator match alerts containing those fields, then it's expected that they would show up in timeline like this.

Closing under the assumption that there are still alerts with `threat.indicator.*` fields; please reopen if that is not the case.

[2021-09-03 18:16] rylnd commented on #110780
@deepikakeshav-qasource could you please explain the details of step 5 above? If only one index was migrated, but another also contained outdated signals, then the latter's `threat.indicator.*` fields would still show up here.

Knowing the mappings for all signals indices would be definitive; could you please share those as well:

[code]

And you could also confirm whether there are alerts with th

[2021-09-03 18:25] justinkambic opened #111198 "[Exploratory View] Date picker is not working correctly for non-primary series"
**Kibana version:**
latest

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome latest

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
The date picker in the exploratory view's multiseries isn't working correctly. The `from` and `to` values update to the same value whe

[2021-09-03 18:25] elasticmachine commented on #111198
Pinging @elastic/uptime (Team:uptime)

[2021-09-03 18:33] kobelb commented on #111196
Thank you for raising this concern @jportner, it's an important one. Whatever code either directly or transitively relies on `SavedObjectsClient.resolve` has to handle the possibility of a conflict occurring, which adds complexity for consumers. As a result, we really should limit its usage to where absolutely necessary.

If we were to go with option 1, would the plan be to have the `IndexPatterns

[2021-09-03 18:53] chandlerprall commented on #110758
EUI upgrade PR is now up at https://github.com/elastic/kibana/pull/111199 , letting CI flag affected snapshots then I will update those & take out of draft.

[2021-09-03 18:55] thomasneirynck opened #111200 "Vector tile format does not handle fields with dots in name"
`_mvt` aggregations do not handle dot-separated field-names.

e.g. using the kibana_sample_logs data

consider `machine.ram` field

[code]

with `_search`, ES returns the correct response.

[code]

with `_mvt`, it throws an error

[code]

cc @iverase

[2021-09-03 18:55] jportner opened #111201 "Add saved objects `bulkResolve` API"
Originally when we implemented `SavedObjectsClient.resolve`, we envisioned it to be used only in precise cases where a "deep link" URL is used. However, we recently discovered that initially, the usage of `resolve` will be more widespread than anticipated:
* Because of how embeddables are loaded _by reference_ (#111191)
* Because of how the data plugin exposes ~index patterns~ data views to consum

[2021-09-03 18:55] elasticmachine commented on #111201
Pinging @elastic/kibana-security (Team:Security)

[2021-09-03 19:01] ecezalp commented on #111108
we don't want event.reference links to be linkable - previously we discovered https://github.com/elastic/security-team/issues/1494 and we are now creating links out of `threatintel.indicator.reference` with 7.15 with no malicious files. @shimon confirmed that it's OK for any previously created event.reference fields not to be linkable.

[2021-09-03 19:01] #111108 closed

[2021-09-03 19:03] elasticmachine commented on #111105
Pinging @elastic/kibana-core (Team:Core)

[2021-09-03 19:05] XavierM commented on #110499
I am wondering if we can just fix this bug by adding the parameter [refresh](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-refresh) here https://github.com/elastic/kibana/blob/master/x-pack/plugins/rule_registry/server/rule_data_client/rule_data_client.ts#L121

[2021-09-03 19:06] #107415 closed

[2021-09-03 19:07] #109121 closed

[2021-09-03 19:17] #111151 closed

[2021-09-03 19:26] rylnd commented on #109330
@nicpenning thanks for the great suggestion!

We're tracking various enhancements to the rule preview functionality internally, and I'm adding these features to that list right now. We're actually planning to discuss these features next week, so I'll create a public-facing ticket for you to track based on the outcomes of that discussion 👍 .

A quick clarification on the "bulk" suggestion: how were

[2021-09-03 19:31] nicpenning commented on #109330
If I could filter and select all cloud rules for example and just show those theoretical hits on the bar chart that would give me an idea of noise or not so noise rules given the data sets we have. Does that make sense?

If I did something similar with the High severity Endpoint security rules I could quickly see what NOT to enable because of high volume alerts that are known to be a false positiv

[2021-09-03 19:40] jportner commented on #111196
Yeah, unfortunately as soon as objects are made share-capable in 8.0, you can experience a `conflict` outcome from a `resolve`.
My biggest fear is that with option 1, we open ourselves up to a scenario like this:

A user has some 3rd party integration (or Terraform or something else) that is designed to create/recreate saved objects using our HTTP APIs. They upgrade to 8.0, and their integration r

[2021-09-03 19:53] paul-tavares opened #111210 "[Security Solution] Migration to v7.14.0 incorrectly migrates user artifacts to fleet, leaving Endpoints in degraded state with errors indicating that artifacts are not available"
**Describe the bug:**
When migrating to version 7.14 of the stack where endpoint security policies exist in Fleet, the kibana generated artifacts (ex. Trusted Applications, Event Filters, Exceptions) are not migrated correctly, causing Endpoints to report errors back to kibana indicating that it failed to download artifacts (artifact does not exist).

In the Kibana logs, errors can be seen when Ar

[2021-09-03 19:53] elasticmachine commented on #111210
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-03 19:53] elasticmachine commented on #111210
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 19:55] kevinlog commented on #108595
closing in favor of: https://github.com/elastic/kibana/issues/111210

[2021-09-03 19:55] #108595 closed

[2021-09-03 19:56] nickofthyme commented on #67224
The biggest blocker for this (I would say it's a blocker) is https://github.com/elastic/elastic-charts/issues/615. Because all xy tooltips assume there is only ever one `x` value which is no longer true with `bubble` charts. The tooltip just isn't very user friendly for this chart type atm.

[2021-09-03 20:10] paul-tavares commented on #111210
For anyone encountering this problem after migrating to v7.14:

## WORK-AROUND

Prior to applying the work-around below, ensure you actually have the same problem as this issue. you can do that by confirming that either no content exists in the `.fleet-artifacts` index or that the content there - specifically the  `decoded_sha256` for the artifacts do not appear in the internal artifact map that i

[2021-09-03 20:16] spong opened #111214 "[Security Solution][Detections] Only suggest available fields for field overrides within Threshold Rules"
As outlined in https://github.com/elastic/security-docs/issues/1011:

Threshold rules/alerts are unique since the only fields from the source events that get copied over to the alert are the fields that are aggregated on. This means that these are the only fields available within the field overrides (Severity/Risk Score/Rule Name), so we could be proactive and only suggest these fields within thos

[2021-09-03 20:16] elasticmachine commented on #111214
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 20:16] elasticmachine commented on #111214
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 20:17] kibanamachine opened #111215 "Failing test: Jest Tests.src/plugins/vis_type_timelion/server/series_functions - label.js can use a regex to capture parts of a series label"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16760/)

[2021-09-03 20:30] ryankeairns commented on #106581
I looked through the existing EUI table props and nothing jumps out as me. I would recommend adding the number of hidden items/items that cannot be deleted in the callout when you rephrase it. Something like "23 objects are hidden and cannot be deleted...." and just don't include in the table within the modal.

On the original, underlying table we should have some sort of indicator (column or badg

[2021-09-03 21:11] kobelb commented on #111196
Gotcha, thanks for correcting my understanding @jportner. Option 1 does sound like a very bad user experience and something that we would absolutely want to avoid.

With option 2, would anything be breaking or would the user just be shown a dialog alerting them that there was a conflict and allow them to proceed?

[2021-09-03 21:26] brianseeders opened #111220 "Failing ES Promotion: apis uptime uptime REST endpoints with generated data telemetry collectors fleet should receive expected results for fleet managed monitors after calling monitor logging"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

[master](https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3343/)
[7.x](https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3344/)

master

[2021-09-03 21:27] elasticmachine commented on #111220
Pinging @elastic/uptime (Team:uptime)

[2021-09-03 21:50] brianseeders commented on #111220
This started failing in Buildkite as well: https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/54

on a branch that's not up-to-date with kibana master, so it does seem to be related to a recent change in Elasticsearch. Probably something around 9am-1pm EST today (2021-09-03)

[2021-09-03 22:48] #109255 closed

[2021-09-03 22:48] #109828 closed

[2021-09-03 22:49] peluja1012 opened #111223 "[Security Solution] Privilege check failure errors don't get bubbled up to the UI during rule execution when user lacks index read privileges"
**Describe the bug:**
Privilege check errors don't get bubbled up to the Rule Details UI when the user lacks "read" privilege to one of the source indices. This can lead to other less descriptive errors further down in rule execution in the case of Threshold rules or simply to "silent" failures in the case of Custom Query rules.

**Kibana/Elasticsearch Stack version:**
7.13, 7.14, 7.15

**Steps to

[2021-09-03 22:49] elasticmachine commented on #111223
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-03 22:49] elasticmachine commented on #111223
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-03 22:51] jiankunking commented on #110959
The same error occurs even if all permissions are granted.

[2021-09-03 22:54] peluja1012 commented on #111223
Looking at the code, it seems like we should bubble up errors logged in [this line](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts#L229) to the UI.

[2021-09-03 23:18] tsullivan opened #111227 "[Reporting] CreateJobFn functions should not handle encrypting job headers or determining the Space ID of the requested report job"
**Kibana version:** 7.15

Scheduled Reports will change the way that report job authenticate themselves. Instead of encrypting the plain request headers in the job payload, it will set the user's API Key as the `authorization` header. Any other request headers besides `authorization` will be preserved in the body of encrypted headers. [1]

## Background
Problem: Currently, the task of encrypting t

[2021-09-03 23:22] elasticmachine commented on #111227
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-03 23:22] elasticmachine commented on #111227
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-03 23:25] spong commented on #111223
Additionally, we'll be improving UX at Rule Creation time by adding read privilege validation to the `Index Patterns` field in support of Alerts on Alerts w/ RBAC:

https://github.com/elastic/kibana/issues/106629#issuecomment-899797883

![image](https://user-images.githubusercontent.com/2946766/132073855-6b0a8379-aa25-44d4-af1d-b9199733f49f.png)

[2021-09-04 00:59] kibanamachine commented on #110970
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16614/)

[2021-09-04 05:14] kibanamachine opened #111233 "Failing test: Accessibility Tests.test/accessibility/apps/dashboard·ts - Dashboard create dashboard button"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16768/)

[2021-09-04 05:14] kibanamachine opened #111234 "Failing test: Accessibility Tests.test/accessibility/apps/dashboard·ts - Dashboard "after all" hook for "Delete a11y clone dashboard""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16768/)

[2021-09-04 06:03] tylersmalley commented on #111087
There is not currently a way to minimize the number of dependencies or assets, even in an embedded dashboard.

[2021-09-04 06:25] Musketeer7 commented on #22483
I can confirm that the elected master node "must" be sending the metrics so that the "cluster_stat" show up cluster can be monitored in the monitoring cluster.
I had the exact same problem, and the moment I started sending metrics from the elected master node to monitoring cluster using metricbeats, the monitoring data showed up in stack monitoring section.

[2021-09-04 21:03] kibanamachine commented on #83231
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16633/)

[2021-09-04 23:02] mattkime commented on #110959
What response do you get if you field caps request with the title of the index pattern? -  https://www.elastic.co/guide/en/elasticsearch/reference/current/search-field-caps.html

[2021-09-05 04:58] kibanamachine commented on #110970
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16642/)

[2021-09-05 11:18] IT-Forter commented on #32467
+1

[2021-09-05 11:59] kibanamachine commented on #109518
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16647/)

[2021-09-05 18:17] kibanamachine commented on #110918
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16805/)

[2021-09-05 20:26] TinaHeiligers commented on #46435
@pgayvallet How should the presentation team handle the plugin's removal in their model built on the saved object modal that's going to be removed? If we haven't done so yet (there's so much going on right now), should we move SavedObjectSaveModalOrigin and/or SavedObjectSaveModal to `kibana_react` as suggested [here](https://github.com/elastic/kibana/issues/96019#issuecomment-811677023)?

[2021-09-06 00:08] elasticmachine commented on #111234
Pinging @elastic/kibana-qa (Team:QA)

[2021-09-06 00:08] elasticmachine commented on #111233
Pinging @elastic/kibana-qa (Team:QA)

[2021-09-06 00:12] mistic commented on #110970
This test keeps failing and looks flaky. Skipping for now.

master/8.0: f955947
7.x/7.16: 6905537

[2021-09-06 00:16] mistic opened #111240 "Failing ES Promotion: apis uptime uptime REST endpoints with generated data telemetry collectors fleet should receive expected results for fleet managed monitors after calling monitor logging"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process including how to reproduce using the unverified nightly ES build: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

CI failure logs: https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/3349/testReport/ju

[2021-09-06 00:16] elasticmachine commented on #111240
Pinging @elastic/uptime (Team:uptime)

[2021-09-06 00:18] mistic commented on #111240
Skipped.

master/8.0: 907a340
7.x/7.16: 55e2488

[2021-09-06 01:13] jiankunking commented on #110959
Only administrator accounts can obtain data. Other accounts cannot obtain data.

![1](https://user-images.githubusercontent.com/15723050/132147425-358a2543-d5b8-404f-8df7-1b139332e909.png)

![2](https://user-images.githubusercontent.com/15723050/132147405-31c97ff2-b603-48da-86af-d0aecc06608e.png)

[2021-09-06 02:31] #98662 closed

[2021-09-06 03:14] linger000 opened #111242 "kibana680 502 error,how can i solve without update version and building?"
**how can i solve without update version and building?**

it seems caused by nodejs keepAliveTimeout setting,
but when i update     server.listener.keepAliveTimeout = 300e3;
it does not work;

kibana: 6.8.0
requestTimeout:300000

[2021-09-06 05:15] mattkime opened #111244 "Improve handling of metadata fields"
Currently, data views take a predefined list of metadata fields and adds them to the field list. It would be better if they were provided by the field caps api or something similar. We should also do an inventory to ensure that they're each being handled correctly (aggregatable, searchable, etc). Types could be improved as well as they often have no type or their name is listed as the type.

Tim's

[2021-09-06 05:15] elasticmachine commented on #111244
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-06 05:35] elasticmachine commented on #105319
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-06 05:35] elasticmachine commented on #105317
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-06 05:36] elasticmachine commented on #109461
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-06 05:36] elasticmachine commented on #109462
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-06 05:52] stratoula commented on #52298
As we removed defaultAppId here https://github.com/elastic/kibana/pull/109798 I am closing it

[2021-09-06 05:52] #52298 closed

[2021-09-06 05:52] stratoula commented on #49495
As we removed defaultAppId here https://github.com/elastic/kibana/pull/109798 I am closing it

[2021-09-06 05:52] #49495 closed

[2021-09-06 06:10] ruflin commented on #111194
One thing I also have seen is that if a package gets stuck and needs reinstall especially if it is a system package.

In general, it would be nice if we would have something like a /fleet/debug page or similar where some buttons could be clicked. No directly leads to there but like this it would be much easier to execute the calls. Important is that we log all these calls so in case someone mess a

[2021-09-06 06:16] pgayvallet commented on #46435
I think we'll have to move these legacy modals to `kibana_react` to be able to get rid of the plugin. I think these two components don't have any internal imports within the plugin, so it should be quite easy.

Note that the biggest challenge in getting rid of the `savedObjects` plugin remains the removal of the SO loaders, so I don't think we should prioritize this modal moving thing until we're

[2021-09-06 06:20] pgayvallet commented on #110492
Just trying to list all our options here, so I gonna ask: Would keeping the `licensing` plugin in `x-pack`, but adding a new, internal license fetching call from `core` to use it (only internally in core, no public API of any kind) for the `features` endpoints we would be moving inside core's codebase, be a possibility?

[2021-09-06 06:42] stratoula opened #111246 "[Pie] Remove the legacy pie chart"
The new vis_type_pie plugin was introduced on 7.14. It is the default solution for creating pie charts (for aggregation-based visualizations). A user can switch to the old implementation by using the Pie Legacy charts library advanced setting
![image](https://user-images.githubusercontent.com/17003240/132171789-a009c5c6-c706-438f-9976-556bc8b8d05f.png)

We plan to remove the old implementation (an

[2021-09-06 06:43] elasticmachine commented on #111246
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-06 06:54] stratoula commented on #70176
@timroes @markov00 I think we can close it. Functional tests have been created for all the es-charts implementations (Lens, TSVB, xy charts, pie charts) and they work as expected, wdyt?

[2021-09-06 07:10] pavanak7 opened #111247 "Edit custom labels on Kibana Visualizations"
Kibana version 7.9.3

Trying to edit the label of metric visualization to remove the default label values.
When I try to add a custom label to the the Metrics section, the visualization adds the Aggregation, Field and Value as a a part of the label.

Created discuss thread - https://discuss.elastic.co/t/edit-custom-labels-on-kibana-visualizations/283272

Need to limit the label of a visualization

[2021-09-06 07:10] deepikakeshav-qasource commented on #110029
Hi @rylnd,

We did not upgrade the build. We have deployed the build **7.15.0 BC4** build and also did not create any indicator alerts.

**Please find the below details:**

**Steps:**
1. Deployed the 7.15.0 build.
2. Install the endpoint.
3. Generate any alerts say mimikatz.
4. Navigate to timeline and click on create the timeline
5. In search bar write threat.indicator and observe the in suggesti

[2021-09-06 07:28] pgayvallet commented on #110514
To be totally honest, I personally thing using ndjson as our export format was a terrible decision, especially due to it being a rather non-standard extension / format (e.g it's not even in some mimetype registries such as the one used by HAPI), and due to it's limitations compared to a plain json or json-extended format (e.g when working with non-consistent entries, when in need to add metadatas

[2021-09-06 07:32] MadameSheema commented on #108877
@liza-mae has this error ocurred again? Thanks

[2021-09-06 07:40] MadameSheema commented on #108782
@mgiota can you please take a look to the fix and let us know if works as expected? Thank you

[2021-09-06 07:44] PurpleV0id commented on #111134
@kevinlog
Here you go, i modified someone of the data relating to use, host, ip and mac

`{
  "_index": ".ds-logs-endpoint.events.file-id0101-2021.08.11-000001",
  "_type": "_doc",
  "_id": "d9GIrHsBsmX4CJhlUwUO",
  "_score": 1,
  "_source": {
    "agent": {
      "id": "b11b2fcc-cf0a-44fb-98da-66f351f00f56",
      "type": "endpoint",
      "version": "7.14.0"
    },
    "process": {
      "Ext":

[2021-09-06 07:54] amolnater-qasource opened #111254 "[Fleet][7.14.1>7.15]: Older version offline Hosted Fleet Server Agent not unenrolled from Kibana UI when unenrollment timeout is set to `600` by default."
**Kibana version:**  (From 7.14.1)Upgraded 7.15.0 BC-4 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. Upgraded 7.15.0 BC-4 Kibana (from 7.14.1) Cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to `Elastic cloud agent policy` and observe under settings that unenrollment

[2021-09-06 07:54] elasticmachine commented on #111254
Pinging @elastic/fleet (Team:Fleet)

[2021-09-06 07:55] amolnater-qasource commented on #111254
@manishgupta-qasource Please review.

[2021-09-06 07:58] karanbirsingh-qasource commented on #110267
Hi @MadameSheema

we have validated this issue on 7.15.0 BC4 and found it Fixed ✔️ . Now the Grid view not break on switching between alert status filter.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/132181252-9638d541-9012-4e2e-a8cd-3c287cfc3dd6.mp4

Hence we are closing this issue.

thanks !!

[2021-09-06 07:58] #110267 closed

[2021-09-06 08:01] kibanamachine opened #111255 "Failing test: Jest Tests.x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview/backup_step - Overview - Backup Step On Cloud success state polls for new status"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16669/)

[2021-09-06 08:05] thomheymann commented on #82578
What does this mean in practice? Do users need to manually configure whether they want to log to stdout or file or is this just an internal change for plugin developers?

Yeh, definitely prefer option 2. as well here.

[2021-09-06 08:07] gmmorris commented on #106315
oops, sorry @banderror , I don't know how I missed that!

[2021-09-06 08:15] gmmorris commented on #106315
Yes, throwing the error tells the framework that the rule failed, and that's valuable.
What we want to easily identify is whether the exception took place in the rule itself, the rule registry or the framework. This should make it easier to identify the right team to help investigate and reduce our _mean time to resolution_.

[2021-09-06 08:19] machadoum commented on #94557
As discussed with Xavier, displaying zero events for fields like `signal.rule.name` on Raw events is expected because these fields are not present on any raw event index. I am addressing the inconsistent total count bug here: #111256

[2021-09-06 08:31] babadofar opened #111258 "No error message displayed to user when "Request Entity Too large" error on updating Index Pattern"
**Kibana version:**
7.10
**Elasticsearch version:**
7.10
**Server OS version:**
elastic Cloud
**Describe the bug:**
Trying to update a very large index pattern in Kibana to add more fields. This fails silently, the page Is refreshed and no error message is displayed. You could actually  believe that it worked. But opening the inspector and viewing the network requests shows this error

``` {"statu

[2021-09-06 08:42] gmmorris opened #111259 "[Alerting] Investigate resilience / side effects of excessively long running rules"
We've seen certain rules run for excessively long duration, far exceeding what we had expected to see rules run.
For example, we've seen large customers experience execution durations of well over 10 minutes (our general expectation was that rules would several seconds, definitely not several minutes).

This is concerning, as such a behaviour could have side effects we're not aware of.
We should i

[2021-09-06 08:43] elasticmachine commented on #111259
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-06 09:02] kibanamachine commented on #111255
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16670/)

[2021-09-06 09:07] muskangulati-qasource commented on #110933
Okay, Thank you for the update @kevinlog. We are closing this ticket since it is expected!

[2021-09-06 09:07] #110933 closed

[2021-09-06 09:07] gmmorris opened #111260 "[Metrics UI / Logs UI] [Alerting] Investigate long running rule types"
Hi @elastic/logs-metrics-ui team,
As we've seen with several customers recently, there are time when we see the Metric Threshold and Log Threshold rule types run for durations exceeding 10 minutes.

This is problematic for a variety of reasons, documented in [this Kibana issue](https://github.com/elastic/kibana/issues/111259).
As part of the above mentioned issue the @elastic/kibana-alerting-servi

[2021-09-06 09:09] markov00 commented on #70176
Ok on closing this for me. We followed a mix of solutions a) and b): we have an explicit `debug` property that needs to be passed. The passed value is `window._echDebugStateFlag` and is controlled also by the functional tests

[2021-09-06 09:10] manishgupta-qasource commented on #111254
Reviewed & assigned to @jen-huang

[2021-09-06 09:11] #70176 closed

[2021-09-06 09:14] ppisljar opened #111262 "var_set function no longer accepts the input context as the value"
In 7.14 the var_set function in- Canvas no longer accepts the input context as the value. One needs to explicitly set the value now.

Trying to run this expression:
date | var_set "mydate" | var "mydate" | render as="debug"
gives the error message:
[var_set] > args.value is undefined

To get this to work the value needs to be explicitly set i.e.
date | var_set "mydate" value={context} | var "mydat

[2021-09-06 09:14] elasticmachine commented on #111262
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-06 09:18] rudolf opened #111263 "RPM package sets deprecated logging.dest cli flag"
**Description:**
The RPM package service description sets the deprecated `--logging.dest` flag which causes the following problems:
1. Kibana generates a deprecation warning which users are unable to resolve
   @mshustov suggested setting `deprecation.skip_deprecated_settings='logging.dest'` to suppress the warning
2. RPM package keeps writing to rotated log files when using the new logging config

[2021-09-06 09:18] elasticmachine commented on #111263
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-06 09:22] rudolf commented on #111263
To fix this in 7.x we will probably have to set `logging.dest=/var/log/kibana/kibana.log` in `kibana.yml` instead of doing this in the service file. That way the legacy logging system is still the default when installing the RPM, but it's a bit more obvious to users that Kibana is using the legacy logging configuration and that they should remove these legacy configuration options.

[2021-09-06 09:32] deepikakeshav-qasource commented on #110780
Hi @rylnd,

Please find the below information for step 5 that is migration of indexes and GET responses:

**Note: Upgraded the build from 7.14.0 to 7.15.0 and then hit the following APIs**

**Before Migration:**
<details><summary>GET: <kibana_url>/api/detection_engine/signals/migration_status?from=now-30d</summary>
<p>

**RESPONSE**:
[code]
</p>
</details>

<details><summary>GET .siem-signals-*/_m

[2021-09-06 09:35] ppisljar commented on #111196
I think we should mention in the issue that the same applies to saved queries saved object as well.

It feels to me option 2 is a huge effort and definitely requires careful design and planning. To just briefly describe what we are looking at: Every consumer of index patterns would need to start using indexPatterns.resolve (instead of .get) and correclty handling the response. Eventually this info

[2021-09-06 10:12] markov00 commented on #14799
@stratoula can you please test if this is still a problem and in case open a performance issue in elastic-charts?

[2021-09-06 10:18] angorayc commented on #94557
This was to fix [infinite popovers from topN chart](https://github.com/elastic/kibana/pull/109566), but to me I think it's fine to enable launching topN chart in the Count table, as users are not able to launch another topN chart again again from the existing topN.
![Kapture 2021-09-06 at 11 17 03](https://user-images.githubusercontent.com/6295984/132202017-06e07df5-a246-47cf-9015-d3cdfcd5d072.gif

[2021-09-06 10:31] muskangulati-qasource opened #111270 "[Security Solution] No distinction between a Detect and Prevent alert for Behavior Protection"
**Description:**
No distinction between a Detect and Prevent alert for Behavior Protection

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Detection and prevention alerts should be generated for Behavior Protection
2. Navigate to the Alerts Tab
3. Observe there is no difference to show which alert is for Detec

[2021-09-06 10:31] elasticmachine commented on #111270
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-06 10:31] elasticmachine commented on #111270
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-06 10:31] muskangulati-qasource commented on #111270
@manishgupta-qasource please review!

[2021-09-06 10:37] manishgupta-qasource commented on #111270
Reviewed & Assigned to @kevinlog

[2021-09-06 10:45] hop-dev opened #111271 "[Fleet] Agent logs Dataset dropdown empty"
**Kibana version:** 7.15

**Elasticsearch version:** 7.15

**Browser version:** Chrome 92.0.4515.159 x86_64

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:** When viewing an agents logs, clicking the dataset dropdown produces an empty (or hidden?) dropdown.

**Steps to reproduce:**
1. Add an agent to fleet, don't add any extra integrations
2. N

[2021-09-06 10:45] elasticmachine commented on #111271
Pinging @elastic/fleet (Team:Fleet)

[2021-09-06 10:48] peteharverson commented on #106113
Closing issue as all the items have now been addressed for 7.15.0.

[2021-09-06 10:48] #106113 closed

[2021-09-06 11:05] rudolf commented on #59598
Given @stacey-gammon's comment in https://github.com/elastic/kibana/issues/59598#issuecomment-597624798 it sounds like adopting references is a necessary pain we have to live with but it will solve the problems in this issue. I'm closing this as I don't see anything actionable in this issue, but feel free to re-open.

[2021-09-06 11:05] #59598 closed

[2021-09-06 11:16] machadoum commented on #94557
Hey @andrew-goldstein! Since you have more context about this issue, I would like to hear your opinion. [Angela's comment](https://github.com/elastic/kibana/issues/94557#issuecomment-913531115) does make sense to me, but are we missing something here?

[2021-09-06 11:44] afgomez commented on #95864
Related to https://github.com/elastic/kibana/issues/89025

[2021-09-06 12:03] weltenwort commented on #111260
:thought_balloon: At this point I can think of three reasons we have seen in the past why queries in rule executors might run for longer:

1. The query is inefficient due to its data access patterns.
2. The user has configured the rule to act on large amounts of data.
3. The cluster is overloaded.

Of those only the first reason seem to be in the hand of the rule type author. And even that might b

[2021-09-06 12:09] dasansol92 commented on #111134
@PurpleV0id I'm assuming this is a document you want to filter, is this right? Can you give us an example of a document do you want to keep? While we are checking what is happening with the exists/don't exists operator I will try to find a workaround that works for you without this operator.

[2021-09-06 12:27] #110290 closed

[2021-09-06 12:31] joshdover opened #111277 "[@kbn/config] `rename` deprecation factory overrides entire objects"
In the Fleet plugin, we have a config deprecation of the form `renameFromRoot('xpack.ingestManager', 'xpack.fleet')` and we've found that if a user still has any settings under `xpack.ingestManager`, all of their `xpack.fleet` settings will be overridden.

I've added a test case that demonstrates this behavior in `@kbn/config` here: https://github.com/joshdover/kibana/commit/ab04dec55cedbcca5565a6

[2021-09-06 12:31] elasticmachine commented on #111277
Pinging @elastic/kibana-core (Team:Core)

[2021-09-06 12:47] joshdover opened #111278 "[Fleet] `xpack.ingestManager` settings override `xpack.fleet` settings"
**Kibana version**: 7.14.1, 7.x, master

**Elasticsearch version**: same

**Description of the problem including expected versus actual behavior**: If a user has any settings still under the old config path of `xpack.ingestManager`, any settings added under `xpack.fleet` will be overridden.

Related to https://github.com/elastic/kibana/issues/111277

**Steps to reproduce**:
 1. Set `xpack.ingestMa

[2021-09-06 12:47] elasticmachine commented on #111278
Pinging @elastic/fleet (Team:Fleet)

[2021-09-06 12:49] an-tex opened #111279 "[Fleet] xpack.fleet.agentPolicies[].monitoring_enabled can't be set to empty array to disable montoring"
**Kibana version: 7.14.1**

**Elasticsearch version: 7.14.1**

**ECK version: 1.7.1**

**Steps to reproduce:**
1. Setup elasticsearch using ECK
2. Create kibana using:
[code]

3. Kibana won't start due to:
[code]

As of https://github.com/elastic/kibana/pull/97328 and https://github.com/elastic/kibana/issues/97356 this should be possible

[2021-09-06 12:50] colings86 commented on #110500
@henningandersen Could you or someone in the distributed team help @joshdover investigate the behaviour he is seeing here?

Something feels off here because unless the cluster is under extremely heavy load, adding 5 ingest pipelines should not be taking ~9 seconds even with requests sent in parallel.

@joshdover can you confirm the ES version you are using and the specs of the instance? Also, is t

[2021-09-06 12:52] fengxiao98 commented on #77072
not good😯

[2021-09-06 12:55] #98421 closed

[2021-09-06 12:56] joshdover commented on #110500
This was tested against a 8.0.0-SNAPSHOT from last week on a local 1 node cluster on my laptop with no other load at all. We're seeing similar performance in production instances of 7.14.x.

It's worth noting that there are other operations happening at the same time outside this screenshot also likely requiring cluster state updates (PUTs on component templates and index templates). These also ex

[2021-09-06 12:58] cauemarcondes commented on #110821
Duplicated by https://github.com/elastic/kibana/issues/110115

[2021-09-06 12:58] #110821 closed

[2021-09-06 13:01] elasticmachine commented on #111247
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-06 13:03] elasticmachine commented on #111215
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-06 13:03] elasticmachine commented on #111215
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-06 13:04] PurpleV0id commented on #111134
@dasansol92 no, this is an example of a document that shouldn't filtered with the rule i listed at the top yet it was.  I was trying to filter events with a null file.extension for teams.exe as below, as a suggestion i tried does not exist and that dropped all events, previous post examples are of my findings with does not exist, exists

    "file": {
      "Ext": {
        "header_data": [],

[2021-09-06 13:36] pgayvallet commented on #41439
What kind of telemetry we ideally want to add here? Should we use an existing (or new) collector somehow? Do we want to use a usage counter?

[2021-09-06 13:46] pgayvallet commented on #111277
`rename` / `renameFromRoot` were really only meant to be used in situations where a whole subtree of properties were renamed to a previously non existing prefix. The base use case was moving the config of a renamed plugin.

In other cases (e.g renaming to an existing prefix), the recommended approach is to do this for each individual property.

The issue if we allow merging one way or another is t

[2021-09-06 14:01] elasticmachine commented on #111255
Pinging @elastic/kibana-core (Team:Core)

[2021-09-06 14:01] dej611 opened #111285 "[Lens] Wrong error messages in Formula when using last_value for date or geo fields"
**Describe the bug:**

When using date or geo fields in Lens Formula a "field not found" error is shown to the user.
Interestingly with keyword fields there's no validation problem, but the resulting data is force casted on `number`.

**Steps to reproduce:**
1. Create a new Lens Formula with the log sample data
2. Type: `last_value(timestamp)`

**Expected behavior:**

The validation error should b

[2021-09-06 14:01] elasticmachine commented on #111285
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-06 14:03] rudolf commented on #41439
I've added usage data in https://github.com/elastic/kibana/pull/111283

But thinking more about this, I think we need to keep pushing to remove it in 8.0.

Keeping the code around has a relatively low cost, but supporting it won't:
 - the legacy import API doesn't have any of the conflict detection of the new API https://github.com/elastic/kibana/blob/master/src/core/server/saved_objects/import/im

[2021-09-06 14:13] rudolf commented on #41439
Or alternatively, we need to clearly document the impact/shortcomings of using this API

[2021-09-06 14:17] timroes commented on #111242
Hi,

thanks a lot for engaging with the Kibana community. We try to keep GitHub issues purely for the sake of tracking issues (bugs, enhancement requests) in Kibana. Thus it's unlikely your question will get the attention it deserves here - and unfortunately also makes it a bit harder to track our issues, why I would kindly please you to use our [forums](https://discuss.elastic.co/c/elastic-stack/

[2021-09-06 14:17] #111242 closed

[2021-09-06 14:18] #110627 closed

[2021-09-06 14:23] MiriamAparicio commented on #110479
This is also happening on the metrics detail page
![image.png](https://zube.io/files/elastic/0e9f7e2f172fc2e51fc00fbb8a3bfbf2-image.png)

[2021-09-06 14:28] timroes commented on #111196
My understanding was, that we discussed exactly that in a meeting on August 11th and decided to not implement the "correct solution" until we rediscuss whether it's really needed sometime in 8.x. Could we clarify if something has changed since then, to make us rethink this decision?

I am a bit confused by that. My understanding (from whenever I asked that question), was that a `conflict` can neve

[2021-09-06 14:31] timroes commented on #59588
@TinaHeiligers we're not blocked on that for working on our saved object tasks (removing the legacy SavedObject Loader infrastructure), but we'll require it to go in the same version with our changes, since we'd otherwise lose capabilities to inspect those saved objects for all types where it previously worked.

[2021-09-06 14:32] timroes commented on #62287
Closing this, since as mentioned in the comments above, this does not seem to be a Kibana issue, but more a question, that should be redirected to either Kibana or Elasticsearch forums.

[2021-09-06 14:32] #62287 closed

[2021-09-06 14:41] pgayvallet commented on #41439
Imho supporting the code is the same as keeping the code, so that means that keeping the code comes at a heavy cost.

++

We need to at least do that. But it would feel safer to be allowed to just drop the API imho.

[2021-09-06 14:44] #108006 closed

[2021-09-06 14:45] #100039 closed

[2021-09-06 14:49] pgayvallet commented on #59588
The inspect view change must lands before your work imho, else it will be a FTR test failure nightmare.

[2021-09-06 14:56] sqren commented on #110042
Can you add a screenshot of the current UI with annotations of the suggested changes? Thanks!

[2021-09-06 15:01] kibanamachine commented on #111255
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16676/)

[2021-09-06 15:09] #110112 closed

[2021-09-06 15:09] #110810 closed

[2021-09-06 15:18] cnasikas commented on #111120
Related ticket: https://github.com/elastic/kibana/issues/102361

[2021-09-06 15:26] markharwood commented on #18139
@timroes Note that this issue was not exclusively about Graph.
It was mainly about introducing the common object model for queries in Kibana. In the ongoing work relating to rethinking search/filtering we are only considering drag/drop organisation of these sort of query objects in the context of _visual Boolean logic editing_. What has not been widely acknowledged is that these query objects coul

[2021-09-06 15:43] timroes commented on #18139
Would you mind adding the information then to the issues more specific around those:

* https://github.com/elastic/kibana/issues/8112
* https://github.com/elastic/kibana/issues/14272

[2021-09-06 16:03] weltenwort commented on #111152
:information_source: I'm implementing the removal of the `delete` phase as a fix for 7.15.0 in #111139. I also align the rollover action thresholds with the default you mentioned above.

[2021-09-06 16:10] markharwood commented on #8112
The other major use for draggable query objects is that they could/should be draggable and droppable into a wide range of visualizations (line charts, maps, graph ...) as the user's chosen subjects of interest.
If users cannot drop their explicit choices of subject matter into a visualization then they are typically left with playing a limited form of lucky dip - seeing what the visualization thro

[2021-09-06 16:18] cnasikas commented on #102361
Closed as is fixed on latest master (https://github.com/elastic/kibana/commit/705fe22088ab82a0117d1e199d43de81f5cc6ba6)

[2021-09-06 16:18] #102361 closed

[2021-09-06 18:06] kibanamachine opened #111300 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/security/role_mappings·ts - security app Role Mappings with role mappings displays a table of all role mappings"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16678/)

[2021-09-06 18:10] elasticmachine commented on #111300
Pinging @elastic/kibana-security (Team:Security)

[2021-09-06 19:34] elasticmachine commented on #50338
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-06 19:36] vadimkibana opened #111303 "[Discuss] Improve long URL handling in Kibana"
To improve how long URLs are treated in Kibana, please consider below points for discussion:

1. Come up with a way to measure the actual maximum URL length for a specific browser session.
1. Do not enforce arbitrary limits on maximum length of URLs in Kibana.
1. Allow developers to use the maximum length of URLs provided by each browser.
1. For any warnings or errors use the actual detected maxim

[2021-09-06 19:37] elasticmachine commented on #111303
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-06 19:37] elasticmachine commented on #111303
Pinging @elastic/kibana-core (Team:Core)

[2021-09-06 19:59] kibanamachine commented on #111255
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16681/)

[2021-09-06 22:48] sqren opened #111308 "[APM] Migrate API tests to use `apmApiClient` service instead of legacy prefixed services"
From https://github.com/elastic/kibana/pull/110974 the following services should be considered deprecated:
 - legacySupertestAsNoAccessUser
 - legacySupertestAsApmReadUser
 - legacySupertestAsApmWriteUser
 - legacySupertestAsApmAnnotationsWriteUser
 - legacySupertestAsApmReadUserWithoutMlAccess

Instead of using those services the `apmApiClient` should be used instead

## Example of how to migrate

[2021-09-06 22:48] elasticmachine commented on #111308
Pinging @elastic/apm-ui (Team:apm)

[2021-09-06 23:37] jbudz commented on #111263
We merged a change for this recently - https://github.com/elastic/kibana/pull/98213

[2021-09-07 00:04] kibanamachine commented on #110470
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16684/)

[2021-09-07 01:23] kibanamachine commented on #85105
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16836/)

[2021-09-07 01:26] matschaffer opened #111309 "[Stack monitoring] Convert Angular views to React"
- [x] Page Template
- [x] Monitoring Toolbar
- [ ] NoData
- [ ] [License](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/views/license/controller.js)

Others to be added

[2021-09-07 01:33] elasticmachine commented on #111309
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-07 04:14] bataya0 commented on #111278
If running an "air-gapped"  ECE v2.10.x or v2.11.x  when you have a v7.13.x deployment  with  es/kibana and apm  running  and in your kibana user settings  you  have  defined xpack.ingestManager.registryUrl    everything is working fine because your air-gapped environment does have a way to  get out via the proxy to  reach   the fleet required  'epr.elastic.co  website.

But if you then do an upgr

[2021-09-07 05:58] johannamelly opened #111313 "[Maps] save custom color ramps"
It would be great to be able to save custom color ramps (colors and thresholds), and then select it in the list like the default color ramps.

Sometimes we create a color ramp with a lot of different values and it can be time consuming in the case we have to use it in several maps on the same index.
Cloning a map can be a good trick in some cases, but it does not work all the time - for example if

[2021-09-07 06:00] kibanamachine commented on #111255
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16691/)

[2021-09-07 06:17] sathieeshkumaar opened #111314 "Need to Keep a column in Data table with separate time range other than global time filter / custom time range"
**Describe the feature:**
In the Data table, we need a feature to make a column stable or with a specific time range (Note: should not be impacted by global time range filter)

**Describe a specific use case for the feature:**
 We are having a table with an active running use case, each use case will have no of runs in the table when we apply a time filter for the current month, the table will con

[2021-09-07 06:32] kibanamachine commented on #100951
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/350/)

[2021-09-07 06:34] jiankunking commented on #110959
This requires that the remote cluster rule also exists in the local cluster

[2021-09-07 06:34] #110959 closed

[2021-09-07 06:35] amolnater-qasource commented on #106048
Hi @EricDavisX
We have created **06** testcases and updated few previous testcases for Upgrade package policy feature under our Ingest Manager test suite.
Please find below links for the same:
[C150060](https://elastic.testrail.io/index.php?/cases/view/150060)
[C150061](https://elastic.testrail.io/index.php?/cases/view/150061)
[C150062](https://elastic.testrail.io/index.php?/cases/view/150062)
[C1

[2021-09-07 07:02] kibanamachine commented on #111255
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16692/)

[2021-09-07 07:23] amolnater-qasource opened #111318 "[Fleet]: `Upgrade package policy` button not greyed out on Upgraded integration under Integration>Policies page."
**Kibana version:**  7.15.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.2.4`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add multiple Lower version Nginx integrations to Defau

[2021-09-07 07:23] elasticmachine commented on #111318
Pinging @elastic/fleet (Team:Fleet)

[2021-09-07 07:28] elasticmachine commented on #111255
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-07 07:32] #106510 closed

[2021-09-07 07:35] #87034 closed

[2021-09-07 07:35] #110204 closed

[2021-09-07 07:36] amolnater-qasource opened #111320 "[Enhancement][Fleet]: Upgrade available tooltip should also be available under Integration>Policies for lower version integrations"
**Kibana version:**  7.15.0 BC-4 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-4 Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.2.4`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add multiple Lower version Nginx integrations to Default Polic

[2021-09-07 07:36] elasticmachine commented on #111320
Pinging @elastic/fleet (Team:Fleet)

[2021-09-07 07:36] formgeist commented on #109546
@turnUpTheChill Thanks for submitting this enhancement issue 👍 I wonder if you can elaborate on the suggested flow? Are you intending on providing the tags as custom `labels` in the service data (e.g. adding another custom `label` in the transaction documents) or is it this purely within the APM Kibana app where you can customize the list of Services in the Service inventory by creating custom tag

[2021-09-07 07:38] matschaffer commented on #104124
I think in the end it'll be important for kibana developers and administrators to know how the app is using memory.

Since this is probably common for any node.js process, I wonder what @elastic/apm-agent-node-js team has explored in that space.

Having a common approach between both APM & metricbeat could be beneficial down the road.

[2021-09-07 07:40] matschaffer commented on #110719
Was there a kibana log error as part of the 502?

[2021-09-07 08:00] formgeist opened #111325 "[APM] Extend the LogsEmbeddable component to provide a View details option to show log document details in a flyout"
# Summary

One of the existing capabilities of the Logs UI log stream view is the option to view the details of a specific log document in a flyout which can be invoked from the context menu button when hovering each logline.

![CleanShot 2021-09-07 at 09 53 32](https://user-images.githubusercontent.com/4104278/132306813-7217147a-ca8c-49d7-a2cf-1f7fa0d5dd94.gif)

This capability should be availabl

[2021-09-07 08:00] elasticmachine commented on #111325
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-07 08:00] elasticmachine commented on #111325
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 08:01] MiriamAparicio opened #111326 "[APM] Replace and delete TableFetchWrapper, find if we can use error message prop from EuiBasicTable"
## Summary

This issue is part of the [refactor plan](https://docs.google.com/document/d/15k3GmRj7u7pF6nQuNEklBxsUiT4H4FMn2y5CpCKZTKg/edit?usp=sharing) for the table lists.

**TableFetchWrapper**

It’s used to show an error/failure message, nothing else. Some tables are showing error message when the request is failing but others don't.

**Error message**

![image.png](https://zube.io/files/elasti

[2021-09-07 08:01] elasticmachine commented on #111326
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 08:22] MiriamAparicio opened #111327 "[APM] Refactor OverviewTableContainer"
## Summary

This issue is part of the refactor plan for the table lists

**OverviewTableContainer**

A container for the table. Sets height and flex properties on the **EUIBasicTable** in order to fix the pagination controls at the bottom in the same position. Also hides the empty message when we don't yet have any items and are still not initiated.
This is currently used in the overview tables bu

[2021-09-07 08:29] gmmorris commented on #111260
Thanks Felix

I would argue that (2) is also in our hands as rule type authors - we shouldn't allow users to configure rules that will drag their cluster down.

As you can see in the Kibana issue, we'll be looking for ways to address (3) provide customers better observability at framework level and improve the resilience of the framework where possible - but most of what we can do is reactive and

[2021-09-07 08:29] gmmorris commented on #111260
Thanks Felix

I would argue that (2) is also in our hands as rule type authors - we shouldn't allow users to configure rules that will drag their cluster down.

As you can see in the Kibana issue, we'll be looking for ways to address (3) provide customers better observability at framework level and improve the resilience of the framework where possible - but most of what we can do is reactive and

[2021-09-07 08:35] timroes commented on #107732
Closed via https://github.com/elastic/kibana/issues/103444 for 7.15+ and https://github.com/elastic/kibana/pull/108322 for 7.14.1

[2021-09-07 08:35] #107732 closed

[2021-09-07 08:35] MiriamAparicio opened #111328 "[APM] Replace ManagedTable for helpers/hooks to do the logic needed on the tables list"
## Summary

This issue is part of the refactor plan for the table lists.

**ManagedTable**

Renders the **EuiBasicTable**. It has differents props and types than the EuiTable.
It has some functions for sorting the items, and paginate, sorting and paginations is kept on the url.

Is it used in:

- error_group_overview/List
- ServiceList
- agent_configuration/List
- Settings/anomaly_detection
- Sett

[2021-09-07 08:35] elasticmachine commented on #111328
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 08:47] gmmorris commented on #109918
Can this be closed now that the research has concluded? 🤔

[2021-09-07 08:57] #110997 closed

[2021-09-07 08:58] kibanamachine commented on #111255
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16694/)

[2021-09-07 09:01] Alex3k commented on #18139
Hi @timroes, I feel the graphical query builder is great and reduce the learning curve of interacting with data in Kibana, however may miss the core exciting point of this issue in my opinion. Ignoring the fact Graph is mentioned, the core concept  of the below three points  (in particular points 2 and 3) would turn Kibana from a visualisation and dashboarding tool like every other BI tool on the

[2021-09-07 09:16] mbondyra opened #111335 "[TSVB] After clicking on disabled item in the select aggregation list, the list doesn't close"
**Kibana version:**
master

**Steps to reproduce:**
1. Open TSVB
2. Click on
<img width="675" alt="Screenshot 2021-09-07 at 11 14 37" src="https://user-images.githubusercontent.com/4283304/132318792-668ff6ad-d410-4048-8945-9283cc751890.png">

3. Click on some disabled item, eg Cumulative Sum
<img width="634" alt="Screenshot 2021-09-07 at 11 16 10" src="https://user-images.githubusercontent.com/428

[2021-09-07 09:16] elasticmachine commented on #111335
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-07 09:16] azasypkin opened #111336 "Add functional and API integration tests for the Interactive Setup mode"
## Summary

In the scope of this issue we're going to add basic functional and API integration tests for the Kibana Interactive Setup mode.

__Blocked by: https://github.com/elastic/elasticsearch/pull/77231__

[2021-09-07 09:16] elasticmachine commented on #111336
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 09:22] azasypkin opened #111337 "Store kibana system user credentials in the keystore"
## Summary

Currently we store kibana system user credentials (including service account token) we obtain during interactive setup directly in the `kibana.yml` file. Ideally we should store such sensitive information directly in the Kibana keystore.

In the scope of this issue we should investigate if it's feasible and, if it's, switch to the keystore instead.

[2021-09-07 09:22] elasticmachine commented on #111337
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 09:35] azasypkin opened #111340 "Interactive setup should validate configuration entries using original schema objects"
## Summary

Currently interactive setup can write the following configuration entries directly to the disk:

* `elasticsearch.hosts`
* `elasticsearch.serviceAccountToken`
* `elasticsearch.password`
* `elasticsearch.username`
* `elasticsearch.ssl.certificateAuthorities`

We do our best to make sure we write valid values, but there is no guarantee  our validation logic will function as expected in c

[2021-09-07 09:35] elasticmachine commented on #111340
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 09:39] azasypkin opened #111341 "Add telemetry to the interactive setup"
## Summary

It'd be great to have any telemetry data for the interactive setup mode. Unfortunately, it's not currently possible since interactive setup is operating at the `preboot` stage where we don't have access to the telemetry functionality yet. In the scope of this issue we should investigate any possible option to introduce telemetry support for the `preboot` plugins.

[2021-09-07 09:39] elasticmachine commented on #111341
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 09:42] azasypkin commented on #104068
Closing this issue as the major tasks are complete now, the remaining tasks will be handled separately: https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature%3ASecurity%2FInteractive+Setup%22

[2021-09-07 09:42] #104068 closed

[2021-09-07 09:46] sqren opened #111343 "[APM] Browsing samples causes the page to jump"
**Problem**

When browsing through the different samples the page "jumps" and the back/forward buttons to navigate between the traces disappear.

https://user-images.githubusercontent.com/209966/132326053-e294e315-db4f-400c-8001-c824c6af9a12.mp4

**Expected**
When click back/forward the buttons should not disappear as it should be possible to quickly click through the samples. Additionally the pag

[2021-09-07 09:46] elasticmachine commented on #111343
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 09:53] azasypkin opened #111344 "Support verification code flow for the packaged installations and other non-TTY setups"
## Summary

Currently [we support verification code flow](https://github.com/elastic/kibana/pull/110856) for the all TTY capable setups. For these setups, we expect users to use the verification code (or Kibana URL with embedded code) we display in the terminal (standard output).

The large chunk of our users rely on non-TTY setups where they don't have access to the standard output (packaged inst

[2021-09-07 09:54] elasticmachine commented on #111344
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 10:00] cachedout commented on #107300
@tylersmalley and @afharo

I now believe this probably is almost certainly a symptom of what's being tracked in https://github.com/elastic/kibana/issues/110583

How would you like to proceed in terms of tracking this issue? Would you prefer to keep both issues open or would you prefer to close this in favor of https://github.com/elastic/kibana/issues/110583 which appears as if it's going to be pri

[2021-09-07 10:02] sqren commented on #111343
@formgeist You might have some ideas for how we can improve this (specifically the "Expected" section).

[2021-09-07 10:02] watson commented on #82578
@jportner I'm voting for option 2 as well. I do not like it if Kibana gets too complicated to get up and running. Sensible defaults is the way to go IMO.

[2021-09-07 10:03] azasypkin opened #111345 "Protect `Check Cluster` functionality (manual configuration mode) with the verification code if necessary"
## Summary

Currently we don't protect `Check Cluster` functionality (manual configuration mode) with the verification code. In the scope of this issue we should investigate the risk profile of this behavior (e.g. can this functionality be used to discover any network services Kibana machine has access to?)  and leverage verification code if the risk is not low.

[2021-09-07 10:03] elasticmachine commented on #111345
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 10:06] deepikakeshav-qasource opened #111346 "[Security Solution] "Enriched with Threat Intelligence" Date range is displaying for Malware alerts only under Alerts flyout even alert does not have threatintel enrichment data"
**Describe the bug**
"Enriched with Threat Intelligence" Date range is displaying for Malware alerts only under Alerts flyout even alert does not have threatintel enrichment data

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. Malware Alerts should be generated say: mimikatz

**Steps to Reprodu

[2021-09-07 10:06] elasticmachine commented on #111346
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-07 10:06] deepikakeshav-qasource commented on #111346
@karanbirsingh-qasource Please review!!

[2021-09-07 10:08] azasypkin opened #111347 "Implement Kibana enrollment CLI"
## Summary

Currently we support enrollment flow only via interactive setup UI. We need a dedicated CLI to support non-interactive/automated flows as well.

[2021-09-07 10:08] elasticmachine commented on #111347
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 10:09] afharo commented on #107300
cc @elastic/kibana-core since I'm on leave.

[2021-09-07 10:14] katrin-freihofner opened #111348 "[RAC] Observability alerts view: timeframe should be synced across Observability"
As a user, looking at a specific timeframe I don't want this timeframe to update when navigating to the alerts view. The timeframe stays the same while navigating through the Observability apps and should also stay the same on the alerts view.

[2021-09-07 10:15] azasypkin opened #111349 "Interactive Setup UI enhancements"
## Summary

This issue gathers various enhancements we'd like to do for interactive setup UI:

* :exclamation: Interactive setup UI should detect and properly communicate to the user if Kibana managed to connect to Elasticsearch using default settings _before_ user completed configuration via UI
* Display CA certificate fingerprint in manual configuration / certificate chain
* Display distinct loc

[2021-09-07 10:15] elasticmachine commented on #111349
Pinging @elastic/kibana-security (Team:Security)

[2021-09-07 10:16] muskangulati-qasource opened #111350 "[ Enhancement ] The message should be consistent for all protection types"
**Describe the feature:**
The message should be consistent for all protection types

**Build Details:**
[code]

**Describe a specific use case for the feature:**
![enhancement](https://user-images.githubusercontent.com/60252716/132328057-7fa2f5c4-095a-4a4e-b5d4-2f4b11342bf6.JPG)

[2021-09-07 10:16] elasticmachine commented on #111350
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-07 10:17] muskangulati-qasource commented on #111350
@karanbirsingh-qasource please review!

[2021-09-07 10:25] katrin-freihofner opened #111351 "[RAC] Observability alerts table: duration is not converted to readable formats"
Originally reported as part of a design audit.

![CleanShot 2021-09-03 at 11 12 23@2x](https://user-images.githubusercontent.com/4104278/131981342-e2d48143-8dc3-4b78-baaf-35a810fe7b3b.png)

We should make the duration timings more readable. Having e.g. 60 s vs. 1 min, or 561 s vs. 9 min, I think most users will prefer readable formatting.

[2021-09-07 10:25] elasticmachine commented on #111351
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-07 10:29] MadameSheema commented on #111346
@ecezalp @rylnd can you please take a look at this? Thanks :)

[2021-09-07 10:35] #111126 closed

[2021-09-07 10:38] rudolf commented on #111303
From the description it sounds like this was an experiment:

But it's not clear to me why we thought this wouldn't work for users or why there needed to be a way to opt-out.

Related: https://github.com/elastic/kibana/issues/67454

[2021-09-07 10:39] tuckson commented on #83295
Any update on this?

[2021-09-07 10:50] pgayvallet commented on #110146
We went back and forth numerous times on if we should, or not, dissociate a type's exportability status of its visibility in the SOM section.

Until now, we didn't identify any concrete use case of this need. However the current issue seems to be a perfect example of why we need to allow type owners to dissociate these meta.

Currently, `SavedObjectsType.management.importableAndExportable` is doin

[2021-09-07 10:50] michaelolo24 commented on #108165
@karanbirsingh-qasource please confirm this is fixed in the next BC

[2021-09-07 11:05] sqren opened #111356 "[APM] Show distribution of failed transactions"
Currently we show the distribution of failed transactions under the "Failed Transaction Correlations" tab only:

![image.png](https://zube.io/files/elastic/b21ee2294a46abf24b7d6a33a7485eb0-image.png)

We have decided to also showing the distribution of failed transactions under the "Trace samples" tab (today we only show the latency distribution):
![image.png](https://zube.io/files/elastic/119190d

[2021-09-07 11:05] elasticmachine commented on #111356
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 11:07] sqren commented on #111356
@formgeist Is this something we should discuss before starting implementation?

[2021-09-07 11:11] #111029 closed

[2021-09-07 11:16] felix-lessoer commented on #53310
+1 for getting the Discover Search Bar also in the Logs UI

[2021-09-07 11:26] #110733 closed

[2021-09-07 11:31] pgayvallet commented on #111303
This was moved from legacy to core during the platform migration without any functional changes.

I agree that an arbitrary limit doesn't really make any sense.

Ihmo, we should/could either
- detect the current browser's max length (not sure exactly how) and use it
- use the max length of the most restrictive browser from our supported browsers list
- drop this `URL_MAX_LENGTH` error altogether a

[2021-09-07 11:38] formgeist commented on #111356
@sqren I agree that it will be good to add the failed transaction distribution on the general latency distribution we use for Trace sample inspection. The chart visualization itself needs more work to show a grouped distribution stacked by `success` and `failure` instead of the current overlay.

Secondly, your idea about show/hide the legend will inherently filter the traces might be worth explori

[2021-09-07 11:40] pgayvallet commented on #107300
#110583 is prioritized, and currently in our 'next spring queue', so if we know that this issue is a duplicate or a symptom of https://github.com/elastic/kibana/issues/110583, I think it's best to clone this one and track https://github.com/elastic/kibana/issues/110583 instead.

[2021-09-07 11:42] rudolf commented on #111263
Closed in https://github.com/elastic/kibana/pull/98213

Any reason we're not backporting that to 7.15.1?

[2021-09-07 11:42] rudolf commented on #111263
Closed in https://github.com/elastic/kibana/pull/98213

Any reason we're not backporting that to 7.15.1?

[2021-09-07 11:45] joshdover commented on #111278
@jen-huang This seems like something we may want to consider fixing for 7.14.2 and possibly 7.15.0 if we can make it.

[2021-09-07 11:50] #107300 closed

[2021-09-07 11:52] kevinlog commented on #111350
@paulewing @bradenlpreston @caitlinbetz thoughts on how this text should be?

fyi @ferullo @nfritts @softengchick

[2021-09-07 12:05] formgeist opened #111367 "[APM] Display the total number of transactions in the Latency distribution chart header"
# Summary

This came from a [community suggestion](https://discuss.elastic.co/t/suggestion-add-a-display-of-the-total-number-of-statistics/282883) that we add an indication of the number of transactions for the selected transaction group within the given time range.

## Solution

Display the total number of transactions by the latency distribution chart header to indicate the total number of trans

[2021-09-07 12:05] elasticmachine commented on #111367
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 12:11] kibanamachine opened #111368 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get_alert_instance_summary·ts - alerting api integration security and spaces enabled Alerts alerts getAlertInstanceSummary "after each" hook for "should handle getAlertInstanceSummary alert request appropriately when unauthorized""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16847/)

[2021-09-07 12:18] timroes commented on #81058
This seems to be resolved in the meantime.

[2021-09-07 12:18] #81058 closed

[2021-09-07 12:21] #110611 closed

[2021-09-07 12:21] stratoula opened #111371 "[TSVB] Disc used SO breaks in master"
**Kibana version:**
master

**Describe the bug:**
I import the `Disk used[Metrics system]` SO from a 7.15 cloud instance locally and when I open it, TSVB breaks with the following error
![image](https://user-images.githubusercontent.com/17003240/132343386-d10c1071-7ed9-41a6-a788-2fa00c4f4dde.png)

I haven't checked why this particular SO fails but it might be a potential bug so let's try to find o

[2021-09-07 12:23] legrego commented on #111300
![image](https://user-images.githubusercontent.com/3493255/132343805-c6c2d330-43e2-4802-a178-e4dbf5ad3405.png)

^ It almost looks like the test user doesn't have the `manage_security` cluster privilege. I would have expected to see the Security management apps in the left nav, but they appear to be missing in this screenshot.

[2021-09-07 12:27] #110978 closed

[2021-09-07 12:33] formgeist commented on #111343
@sqren Thanks for following up on this. I believe we originally kept the previous height of the waterfall container until the new data was loaded, but it seems that's been removed when we updated the correlations layout.

The other improvements we could make are to show a loading state for the trace summary, the waterfall visualization, and whether or not the full trace button will be enabled or d

[2021-09-07 12:34] snide opened #111374 "[DRAFT][META] 7.16 Onboarding improvements around Empty States and Ingest"
Onboarding into Kibana from a brand new Cloud cluster can be confusing for new users. We have mutliple ingest flows between Beats, Agent, Clients and Sample Data.  Further, our applications within Kibana don't provide a singular ingest flow for leading to these ingest flows. This meta ticket tracks all the times we'd like to address in the upcoming minor to fix some of these problems:

### Source

[2021-09-07 12:59] dasansol92 commented on #111134
Hi @PurpleV0id , we noticed that the exists/not exists operators are not working properly as you have seen. We will work with the endpoint team and will try to fix this when it's on the roadmap.

I was trying to find a workaround but there is no way to filter events by an `exists` clause right now with the current implementation. If you have a set of known ip's you want to filter (or don't want to

[2021-09-07 13:11] tobiasstadler commented on #110042
@sren I do not really understand your request. Do you want me to add a screenshot like https://demo.elastic.co/app/apm/services/opbeans-java/nodes?rangeFrom=now-15m&rangeTo=now?

[2021-09-07 13:12] kibanamachine opened #111376 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list·ts - Actions and Triggers app alerts list should delete all selection"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16848/)

[2021-09-07 13:12] kibanamachine opened #111377 "Failing test: Chrome X-Pack Security Functional Tests (Login Selector).x-pack/test/security_functional/tests/login_selector/basic_functionality·ts - security app - login selector Basic functionality can login anonymously preserving original URL"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16848/)

[2021-09-07 13:16] ghudgins commented on #93938
+1 on https://discuss.elastic.co/t/edit-custom-labels-on-kibana-visualizations/283272

[2021-09-07 13:17] dgieselaar opened #111379 "[APM] Specify full path in route definition"
When defining routes, we currently only pass the part of the path for which the (child) route is responsible. E.g., we define `/`, `/services/:serviceName`, and `/transactions`.

This requires some TypeScript gymnastics, and makes it a little harder to search for what is being rendered in the code base.

Ideally, we can define the full path, save some TypeScript CPU cycles and make search easier.

[2021-09-07 13:17] elasticmachine commented on #111379
Pinging @elastic/apm-ui (Team:apm)

[2021-09-07 13:19] ymao1 commented on #105747
It seems like since this issue was created, something has changed so that action executions due to broken connectors are shown in the UI, so the rule details page shows this:

<img width="1008" alt="Screen Shot 2021-09-07 at 9 09 34 AM" src="https://user-images.githubusercontent.com/13104637/132351463-13f03ca1-bd0d-46c5-ae63-074b5feca6ec.png">

@elastic/kibana-alerting-services, @mdefazio, I'm thi

[2021-09-07 13:21] kibanamachine opened #111381 "Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/network_policy·ts - Reporting APIs Network Policy should fail job when page voilates the network policy"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16697/)

[2021-09-07 13:23] mikecote commented on #110080
Relates to https://github.com/elastic/kibana/issues/105046 and may resolve it at the same time?

[2021-09-07 13:25] mdefazio commented on #105747
Are we able to determine / provide a clearer error status?  Are we showing the error when editing the rule (in the actions section)?

I think it makes sense to have the banner for the error, so I don't think we need to tweak the UI.  Hopefully just improve the messaging.

[2021-09-07 13:28] mostlyjason opened #111383 "[Fleet] Update add agent messaging"
Our current messaging in the add agent flyout says "Linux users: We recommend using the installers over (RPM/DEB) because they provide the ability to upgrade your agent within Fleet."

It would be more clear and concise to say "Linux users: We recommend the installer (TAR) over system packages (RPM/DEB) because it lets you upgrade your agent in Fleet."

[2021-09-07 13:28] elasticmachine commented on #111383
Pinging @elastic/fleet (Team:Fleet)

[2021-09-07 13:28] stratoula commented on #111371
I am closing this. It is not reproducible in master, sorry about that :D

[2021-09-07 13:28] #111371 closed

[2021-09-07 13:31] dej611 commented on #101500
+1 https://discuss.elastic.co/t/how-to-calculate-elapsed-time-between-timestamps-in-a-given-timerange/283449/2

[2021-09-07 13:32] mikecote opened #111384 "Fix flaky alerting API integration tests which occasionally return 409 errors"
- https://github.com/elastic/kibana/issues/111022
- https://github.com/elastic/kibana/issues/111001
- https://github.com/elastic/kibana/issues/110827
- https://github.com/elastic/kibana/issues/110801
- https://github.com/elastic/kibana/issues/110789
- https://github.com/elastic/kibana/issues/111496

[2021-09-07 13:32] elasticmachine commented on #111384
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 13:39] jportner commented on #111196
I realize what I wrote may have been a bit confusing, so let me start by clarifying:

I started by mentioning that we are not attempting to pass the `resolve` outcome to consumers. I did _not_ mean to suggest that we should attempt to do that in Option 2. I just wanted to point out that will be an improvement we need to make down the road.

So let me restate, here is what I was attempting to sugge

[2021-09-07 13:45] ymao1 commented on #111384
Working on [this](https://github.com/elastic/kibana/pull/111366) which should address all of these.

[2021-09-07 13:46] paulb-elastic opened #111386 "[Logs UI] Implement “no data” check to drive the “no data screens” for Logs"
This [PR](https://github.com/elastic/kibana/pull/107709) will add new “no data” screens across the various Observability apps, however this relies on each solution implementing a check that there is no data, which is that this issue is covering.

ACs:
* Implement a check as described in https://github.com/elastic/kibana/pull/107709 that identifies when data has ever been ingested into Logs

[2021-09-07 13:46] elasticmachine commented on #111386
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-07 13:47] paulb-elastic opened #111387 "[Metrics UI] Implement “no data” check to drive the “no data screens” for Metrics"
This [PR](https://github.com/elastic/kibana/pull/107709) will add new “no data” screens across the various Observability apps, however this relies on each solution implementing a check that there is no data, which is that this issue is covering.

ACs:
* Implement a check as described in https://github.com/elastic/kibana/pull/107709 that identifies when data has ever been ingested into Metrics

[2021-09-07 13:47] elasticmachine commented on #111387
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)