[2022-01-06 13:39] nchaulet commented on #118751
I started to give a look at this testing Fleet performance with some agents and policies and looks like we have a few issues:
* n+1 problem when we do bulk operations that concerns a bunch of policies (upgrade package policy seems, verify enrolment token during the setup)
* Installing ES assets is slow.
* Webperf some React component to improve (the integration grid for example)

I will edit that

[2022-01-06 13:43] mostlyjason opened #122432 "[Integrations] Missing shipper label on integration overview page"
**Kibana version:**
7.16

**Elasticsearch version:**
7.16

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
There is no label indicating whether the integration a user is viewing is for Elastic Agent or Beats. This can be confusing because the tiles can switch back and forth between the shippers based on what filters and integrations the user

[2022-01-06 13:43] elasticmachine commented on #122432
Pinging @elastic/fleet (Team:Fleet)

[2022-01-06 13:43] formgeist opened #122433 "[APM] Infrastructure integration: Add new Infrastructure view in the selected service"
# Summary

The precursor to the [full integration implementation](https://github.com/elastic/kibana/issues/120325) that awaits the shared inventory component from the Infrastructure team.

# Solution

The initial implementation goal is to get the scaffolding ready for the shared component. That is creating a new view for Infrastructure in the selected service.

- Add new Infrastructure tab to the

[2022-01-06 13:43] elasticmachine commented on #122433
Pinging @elastic/apm-ui (Team:apm)

[2022-01-06 13:46] janmonschke commented on #121265
It's merged now and will be part of the next BC

[2022-01-06 13:50] vinaychandrasekhar commented on #119090
@jasonrhodes Yes I just saw yesterday when I was separately testing out the ServiceNow integration - the {{context.reason}} carries the alert reason message. As part of this ticket, would be good to verify that the {{context.reason}} field is offered up for all Observability rules and not just for metrics/inventory rules. For URLs, interestingly there's a {{kibanaBaseURL}} field that carries the s

[2022-01-06 13:51] gavinwye commented on #121755
Closing this as I've opened a [discussion](https://github.com/elastic/eui/discussions/5519) on the EUI repo.

[2022-01-06 13:51] #121755 closed

[2022-01-06 13:51] mostlyjason commented on #122432
@jen-huang I think this is a relatively quick fix? I see users switching back and forth between integrations and the policy editor without saving an integration. I wonder if we have Beats users who are confused why the tutorial page is different or doesn't match their expectation. A label could be helpful to make it more clear.

[2022-01-06 14:08] joshdover commented on #122432
cc @thomasneirynck in case you happen to have extra bandwidth. I think we just totally missed this from the UX Design changes, I don't remember noticing this one before 🙃

[2022-01-06 14:09] joshdover commented on #122432
I'm not sure this is really a bug since I just don't think it got implemented before. Removing that label to avoid confusion.

[2022-01-06 14:29] thomasneirynck commented on #122432
@joshdover I don't remember this either, but would be useful to add agreed.

I should be able to take this on.

[2022-01-06 14:37] joshdover commented on #120803
I'm curious if packages actually need to "install" these views or if they could be built in to Kibana using our existing `package-detail-assets` extension point. This allows you to provide a React component to render at the top of this page and is already in use by several packages, like Endpoint and Synthetics.

Here is an example from the Endpoint package: https://github.com/elastic/kibana/blob/

[2022-01-06 14:38] Dantin1234 commented on #13668
still needed.

like i said already 1 year ago:
it is impossible to handle large spaces with many visualizations / dashboards. I cannot give this to my less experienced users.

[2022-01-06 14:40] joshdover commented on #120803
If there is a common case like Logs and Metrics UI links that would be desired for many packages, it probably would make sense to have a more generic asset in the package-spec for this, however the exact link destination is probably Kibana-version dependent. We'd definitely want to take advantage of the future-proof URLs system that is being built by the Kibana Platform team.

It could make sense

[2022-01-06 14:50] joshdover commented on #121798
@dikshachauhan-qasource Thank you, glad to see we can't reproduce it. Closing for now.

[2022-01-06 14:50] #121798 closed

[2022-01-06 14:56] richkuz commented on #121192
IMO, not a blocker for 8.0.0. Target for 8.1.0 and, based on risk, consider backporting to e.g. 8.0.1.  cc @serenachou

[2022-01-06 14:57] joshdover commented on #118751
@nchaulet some good finds here 🎉

After 8.0 ships which moves setup to Kibana boot and we've gotten some feedback from users / support I think we should consider removing this setup API call from the UI. It definitely shouldn't be necessary once #120616 is in since Kibana won't even start up if there's a setup issue. We only left it in for now as a hacky/cheap "retry" option, but once we block Kib

[2022-01-06 15:02] nchaulet commented on #118751
Yes I think we can have some optimization on the details and integration list page, I need to dig more in the details page but on the integration list page we are passing a lot of time rendering the grid (I have a CPU profile where in took 5s of blocking JS to render that list)  for sure we need to optimize this, maybe we can virtualize that list and render only visible item or maybe there is obvi

[2022-01-06 15:17] ogupte opened #122436 "[Fleet] useLatestPackageVersion passes bad policy inputs to custom UI extension components"
**Kibana version:** 7.16

**Elasticsearch version:** 7.16

**Server OS version:** linux/amd64

**Browser version:** Firefox v95.0.2 64bit

**Browser OS version:** MacOS 11.6 Big Sur

**Original install method (e.g. download page, yum, from source, etc.):** docker via apm-integration-testing

**Describe the bug:**

**Steps to reproduce:**
1. Go to /app/fleet/policies -> Default Fleet Server policy

[2022-01-06 15:17] elasticmachine commented on #122436
Pinging @elastic/fleet (Team:Fleet)

[2022-01-06 15:37] #121282 closed

[2022-01-06 15:51] serenachou commented on #121192
Definitely not a blocker for 8.0. Live with it and based on customer feedback we can definitely consider for next minor or even 8.1. I agree with @richkuz's thinking here.

[2022-01-06 15:52] jportner commented on #99879
It's failing for other branches too, so I skipped it there as well.

7.17: f8cc0b32d1cd44718503206e14de3ed24d0fffde
7.16: bf9d9aac316d5591112da20e7914f479850e5b43

[2022-01-06 15:55] #81356 closed

[2022-01-06 15:57] liza-mae commented on #110367
**Version: 7.17.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Welcome interstitial clicking on "Explore on my own" redirects to the "home" page

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:57] liza-mae commented on #120395
**Version: 7.17.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ml/anomaly_detection/saved_search_job·ts**
**Stack Trace:**
[code]
**Other test failures:**
- machine learning   anomaly detection saved search  with lucene query job creation navigates through the multi metric wizard and sets all needed fields
- machine learning   anomaly detection saved search  with lucen

[2022-01-06 15:57] liza-mae commented on #120396
**Version: 7.17.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/users·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:57] liza-mae commented on #98418
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:57] liza-mae commented on #105354
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:57] liza-mae commented on #102008
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:57] liza-mae commented on #105355
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:57] liza-mae commented on #105356
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:58] liza-mae commented on #98419
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:58] liza-mae commented on #105357
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:58] liza-mae commented on #98420
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:58] liza-mae opened #122438 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_management/cluster_nodes·ts - apis management index management nodes should fetch the nodes plugins"
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_management/cluster_nodes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:58] liza-mae opened #122439 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/proxy_api·js - apis Maps endpoints EMS proxy should correctly rewrite url and format"
**Version: 7.17.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/proxy_api·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:59] liza-mae commented on #111599
**Version: 7.17.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/ignore_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  ignore_fields should ignore the field of "testing_regex"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elasti

[2022-01-06 15:59] liza-mae opened #122440 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_chart_types·ts - visualize app visualize ciGroup9 chart types should show the correct agg based chart types"
**Version: 7.17.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_chart_types·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 15:59] liza-mae opened #122441 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·ts - visualize app visualize ciGroup1 tile map visualize app incomplete config "before all" hook for "should be able to zoom in twice""
**Version: 7.17.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app visualize ciGroup1 tile map visualize app complete config "before all" hook in "complete config"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 16:00] liza-mae opened #122442 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_region_map·ts - visualize app visualize ciGroup1 vector map "before all" hook in "vector map""
**Version: 7.17.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_region_map·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 16:00] liza-mae commented on #120392
**Version: 7.17.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport/_

[2022-01-06 16:00] liza-mae commented on #120397
**Version: 7.17.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/index_lifecycle_management/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Index Lifecycle Management app Home page "after all" hook for "Create new policy with all Phases"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2783/testReport

[2022-01-06 16:16] #122292 closed

[2022-01-06 16:24] mikecote commented on #122288
The error might be coming from here: https://github.com/elastic/kibana/blob/b0c3ec5627a9868f46ee9e41744f27568e3d7c6d/x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts#L217

[2022-01-06 16:28] simianhacker commented on #122288
@gmmorris I think @mikecote found the issue (thanks Mike!). I might put a PR together for that today.

[2022-01-06 16:43] kibanamachine commented on #100236
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7138#585eb1a4-1633-4b8e-bfdc-e3c084d75b88)

[2022-01-06 16:48] paulb-elastic opened #122446 "[Uptime] Monitor Management - Include ES version"
Although Heartbeat has typically been very backward compatible, we want to have the option for controlling how we write results back to ES, based on its version, in the future (particularly relevant for the service which will be writing back to different versions of ES).  In addition, this will be useful telemetry to understand what variety of versions are making use of the Synthetic Service.

ACs

[2022-01-06 16:48] elasticmachine commented on #122446
Pinging @elastic/uptime (Team:uptime)

[2022-01-06 16:49] joshdover commented on #108252
@mostlyjason @dborodyansky I've updated the issue description to note all of the small UI elements that need to be adjusted when the user does not have access to appropriate actions. Currently I'm proposing that we simply disable each element, but I do wonder if we should do something more to explain why the button is disabled.

For the buttons, I think we can do the same thing that we're doing on

[2022-01-06 16:51] vigneshshanmugam commented on #122446
As part of the service contract, we can add it as part of `stack_version` field to the existing API requests.

[2022-01-06 17:07] dborodyansky commented on #108252
@joshdover Does the privilege limitation apply only to "delete", not "edit". If both, then hiding the [...] menu entirely would be expected.

[2022-01-06 17:09] jen-huang commented on #119428
Closing per Kyle's comment here about backporting to 7.17: https://github.com/elastic/kibana/pull/119622#issuecomment-1006579364

[2022-01-06 17:09] #119428 closed

[2022-01-06 17:15] paulb-elastic commented on #122404
It seems to be ok on my 7.15.2 Cloud instance so suggests it's been introduced somewhere in 7.16.x

[2022-01-06 17:16] weltenwort commented on #120803
@joshdover It's good to know there's a flexible extension point already. But without installing a saved object that encapsulates the view, the Logs and Metrics UIs can't list them in their views list.

[2022-01-06 17:22] nreese commented on #105595
It may make sense to avoid searchable snapshots when fitting to time range. The elasticsearch call should use a must_not terms query on the _tier field to exclude the data_frozen tier.

Here is an example of where ML is doing something similar - https://github.com/elastic/kibana/pull/122306

[2022-01-06 17:22] snide commented on #95782
You're absolutely correct, and that's certainly the challenge our UX team faces every day. In an upcoming release we'll be switching to our new layout for discover which should give a lot more control over the layout. In specific, it gives ways to control the density, size of columns, and real estate that the "grid" takes up. If you're interested in participating in a short feedback session with o

[2022-01-06 17:26] tsullivan opened #122452 "[Screenshotting] Upgrade Puppeteer to 13.x"
Latest version of Puppeteer as of the time of this writing: `"13.0.1": "2021-12-22T08:10:23.097Z"`

[code]

Currently, Kibana's version is at 10.4.0 /  Chromium 901912.

This change will bump the version of Chromium used for capturing screenshots. This impacts the documentation here: https://www.elastic.co/guide/en/kibana/master/reporting-troubleshooting.html#reporting-manual-chromium-install - th

[2022-01-06 17:26] elasticmachine commented on #122452
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-06 17:34] bhavyarm opened #122453 "Saved objects management table displays zero for types while user is searching"
**Kibana version:** 7.17 BC1

**Elasticsearch version:** 7.17 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** When user searches for something in saved objects management table - types displays 0 for counts which is inaccurate.

[2022-01-06 17:34] elasticmachine commented on #122453
Pinging @elastic/kibana-core (Team:Core)

[2022-01-06 17:37] tsullivan commented on #122452
Semi-related to this, it would be worthwhile to check if other dependencies needed for Reporting are all at relatively recent versions. Here is a selection:
[code]

[2022-01-06 17:37] justinkambic commented on #120285
@bhimeshchauhan yes of course if you want to try and fix it feel free.

Please remember that before you can contribute you must review the [Kibana contributing guidelines](https://github.com/elastic/kibana/blob/main/CONTRIBUTING.md).

If you're a first-time contributor, please pay particular attention to the guidelines on the [contributor license agreement](https://www.elastic.co/guide/en/kibana/m

[2022-01-06 17:40] elasticmachine commented on #75044
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-06 17:45] jbudz commented on #100236
/skip

[2022-01-06 17:46] kibanamachine commented on #100236
Skipped

8.0: 684de031d9b0e798fc6ea6d9f60a67ba35ea4436
main: a03430187709b05213878041ec168b299ee347cd
7.16: 33b4188edcdda8e9636e397d3832a98bc7dcbae3
7.17: e89d9a0a19db7dd88612754e52b458250aba71dc

[2022-01-06 17:52] yctercero opened #122455 "[Security Solution] - Migrated actions muted on enable/disable of rule"
**Describe the bug:**

When you have a legacy notification and you do an "enable/disable" it will migrate the rule to the new notification system. However, it turns on `"muteAll" : true`, which makes the rule "Perform no action". Impact is if the user had a valid executing action, they will end up no longer sending actions if they do an enable/disable as their way of migrating their rule. Expected

[2022-01-06 17:52] elasticmachine commented on #122455
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-06 17:54] michaelolo24 commented on #121986
@karanverma-qasource can you please verify this is fixed on the next 8.0 snapshot?

Thanks!

[2022-01-06 17:57] michaelolo24 commented on #119340
@MadameSheema I don't see this issue anymore, can you please help us verify that it's fixed? Thanks!

[2022-01-06 17:59] yctercero opened #122456 "[Security Solution] - Dangling legacy actions on delete"
**Describe the bug:**

When you delete a rule that has a legacy action on it, it does not delete the legacy action. Instead the deleted action just continuously spits out on the console the message:
```[2022-01-06T10:09:16.593-07:00][ERROR][plugins.alerting] Executing Rule frank-test:siem.notifications:549ac8c0-6f11-11ec-b6be-193e9dcb2837 has resulted in Error: Saved object [alert/36fe8520-6e7d-11

[2022-01-06 17:59] elasticmachine commented on #122456
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-06 18:21] elasticmachine commented on #122114
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-06 18:22] elasticmachine commented on #122117
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-06 18:25] elasticmachine commented on #122112
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-06 18:31] bhavyarm opened #122459 "Kibana 7.17.0 is not up and working with ES 8.0.0 after restart."
**Kibana version:** 7.17 BC1

**Elasticsearch version:** 8.0.0 RC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana 7.17 is not functional with ES 8.0.0.

**Steps to reproduce:**
1. Run ES 7.17.0/Kibana 7.17.0
2. Make sure you

[2022-01-06 18:31] elasticmachine commented on #122459
Pinging @elastic/kibana-core (Team:Core)

[2022-01-06 18:54] kibanamachine opened #122461 "Failing test: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts - APM API tests trial apm_mappings_only_8.0.0 fetching service anomalies with a trial license with ml jobs "before all" hook for "returns a 200 for a user _with_ access to ML""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7143#b2e356f9-3b94-4ca0-a3e2-4afe5c1bdfdb)

[2022-01-06 19:03] mattkime commented on #122114
Discussed with @sixstringcode - working as intended

[2022-01-06 19:03] #122114 closed

[2022-01-06 19:09] stephmilovic opened #122462 "[Data Views] Data View Management privileges inconsistencies in `core.application.capabilities`"
**Kibana version:**
8.0

The `core.application.capabilities` communicates the Kibana privileges in two different keys on the object. In at least [one place](https://github.com/elastic/kibana/blob/main/src/plugins/data_view_editor/public/plugin.tsx#L62-L66), this leads to improper permissions implementations. In the linked case, we are giving the user edit permissions because we are looking at only

[2022-01-06 19:09] elasticmachine commented on #122462
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-06 19:20] LeeDr commented on #121261
Why is Enterprise Search showing up sometimes in main (8.1.0) as a Standalone cluster, and then navigating to Stack Monitoring again and it shows up as part of one elasticsearch cluster?   This is breaking a test I have

[2022-01-06 19:24] joshdover commented on #120803
Ah if there's an existing Saved Object type for this, even better. Should be an easy add from the Fleet side. It should only require minimal changes (adding to an allowlist I believe).

[2022-01-06 19:26] joshdover commented on #108252
Good point on that one, agreed we should hide the entire list, bad example on my part. How about this one where the "Add Agent" option will be available?

![image](https://user-images.githubusercontent.com/1813008/148417469-5f061010-8d79-42b6-95fb-f7c95c0a1f40.png)

[2022-01-06 19:32] dborodyansky commented on #108252
Hiding unavailable actions within the menu seems appropriate in this case. There are some [guidelines](https://docs.google.com/document/d/1Tio1LAxHMOax7J45_nsVldT1exoXavKgHKA_0QpTvyQ/edit) in the works which recommend hiding controls within tables for which a user may not have privileges.

[2022-01-06 19:37] gmmorris commented on #122288
Thanks @simianhacker ! :elasticheart:

[2022-01-06 19:39] wolframhaussig commented on #96172
Will the new issue also provide the ability to create custom views - currently it is only about integrations?

[2022-01-06 19:41] pgayvallet commented on #122459
As already discussed, the fix itself it quite easy. The main issue is that we don't have ANY kind of automated testing around Kib/ES version mismatch in our FTR suites.

Technically, all we have to do to support 7.17 Kib -> 8.X ES is the same thing that was done in https://github.com/elastic/kibana/pull/30390/files

[code]

The version check logic is here:

https://github.com/elastic/kibana/blob/4

[2022-01-06 19:43] pgayvallet commented on #122459
My main question now is: Do we want to support Kibana 7.17 connecting to ANY minor of ES, or do we want to only allow connecting to ES 8.0?

[2022-01-06 19:53] weltenwort commented on #96172
In #120920 we're planning out the technical basis for this, on top of which both integration-provided and custom views can be built. I'm pretty sure we ultimately want to have both, but I can't predict which one will have priority at that point in time.

[2022-01-06 19:54] kobelb commented on #122399
I like the recently revised approach, @XavierM. Having a configurable limit for the number of samples and the maximum timeframe seems like an intuitive way to ensure that this data is recent and accurate without using too much storage.

Users will have the ability to look at longer timeframes with more accuracy by using the future integration with stack monitoring or by using the detail view that

[2022-01-06 19:56] elasticmachine commented on #122195
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-06 19:57] elasticmachine commented on #122197
Pinging @elastic/kibana-security (Team:Security)

[2022-01-06 19:58] elasticmachine commented on #122212
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-06 19:58] XavierM commented on #122399
Maybe we can do something like below for the timeframe knowing that we have a cap on the values
| rule's interval | timeframe |
| seconds | minutes |
| minutes | hours |
| hours | days |
| days | months |
| months | years |

[2022-01-06 19:59] elasticmachine commented on #122329
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-06 20:00] elasticmachine commented on #122256
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-06 20:01] kevinlog commented on #122015
I reviewed this ticket a bit deeper.

@muskangulati-qasource - I'm still unable to reproduce the issue with making changes to one policy and having it change another.

I am able to reproduce the issue with adding leading and trailing spaces to an Integration policy name and seeing the Agent behave oddly.  I noticed that if i name a policy with " Security " (note the trailing spaces) that the Endpo

[2022-01-06 20:02] elasticmachine commented on #122438
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-06 20:03] elasticmachine commented on #122439
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-06 20:03] elasticmachine commented on #122440
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-06 20:04] elasticmachine commented on #122441
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-06 20:04] elasticmachine commented on #122442
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-06 20:05] elasticmachine commented on #122461
Pinging @elastic/apm-ui (Team:apm)

[2022-01-06 20:07] thomasneirynck commented on #122439
this is an expected failure for maps in the 7.x line. in CI, this suite is tested with proxy on (the default), in cloud they are tested with proxy off, causing this error.

[2022-01-06 20:16] ferullo commented on #122015
This seems like an issue with Agent or Fleet. Endpoint only receives the policy name in it's YAML config after it installed. I don't think there would be any issue with a policy name with spaces in it (I'll write a quick component test to verify). However, even if there is, Endpoint would still be installed and at worst cause Agent to be in an UNHEALTHY state due to a failed policy application or

[2022-01-06 20:16] mostlyjason opened #122465 "[Fleet] Add field for number of endpoint agents"
In our telemetry we track the number of agents each cluster has enrolled into Fleet and the number of Fleet Servers. However, we don't have a way to determine the number of agents that users installed on endpoints. On Elastic Cloud, users get a Fleet Server by default even if they are not using it. The number of endpoint pages is meaningful because it indicates that users have taken action to try/

[2022-01-06 20:16] #120723 closed

[2022-01-06 20:16] elasticmachine commented on #122465
Pinging @elastic/fleet (Team:Fleet)

[2022-01-06 20:47] tsullivan commented on #61008
The way I would like to address this is to stop adding the `height` layout parameter in PDF/PNG job params. Width is necessary to ensure the report uses the same responsive layout as the browser when the report was requested. The height is a function of the content in the viewport, and isn't something Reporting should have claim to.

[2022-01-06 20:53] kibanamachine commented on #116059
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7151#856746c5-13f3-44d7-9556-570fa32602e0)

[2022-01-06 20:55] FrankHassanabad commented on #122456
We should remove the legacy connectors if they exist on the `DELETE` route and then figure out if we can remove the danglers without requiring users to manually delete them as a workaround from the stack management -> rules connectors.

[2022-01-06 21:12] jportner commented on #122197
This is failing by taking too long, the same reason as #115473. That's the primary issue where we've been addressing flaky EditUserPage unit tests.

We thought we fixed this two months ago by changing the tests a bit. Maybe this was a fluke, I'll close it and we'll see if it reopens.

[2022-01-06 21:12] #122197 closed

[2022-01-06 21:26] jbudz commented on #116059
/skip

[2022-01-06 21:31] rylnd commented on #122013
Related issue: https://github.com/elastic/kibana/issues/120562

[2022-01-06 21:49] stephmilovic commented on #122161
The bug is further upstream with the app services team https://github.com/elastic/kibana/issues/122462

I have a PR open with a hot fix in the meantime. I'll leave at impact: high

[2022-01-06 22:13] Zacqary commented on #115023
What options do we want to offer the user in this dropdown? Should the options be numbers of executions, or expressed in a time interval? (e.g. 60m, 30m, 10m, vs 60, 30, 10 executions)

[2022-01-07 00:14] stephmilovic commented on #122161
@karanverma-qasource can you please retest?

[2022-01-07 01:40] ghudgins commented on #122329
I don't believe this behavior has changed. If you want consistent colors try ranking by "alphabetical" instead....as count of records ascending / descending will always depend on the data.

stacked visualizations *do* "flip the legend" over their non-stacked counterparts. So the first value to be added is added to the bottom of the stack (and shows up at the bottom of the legend). This can sometim

[2022-01-07 01:56] ghudgins opened #122480 "[Lens] Extended stats for metrics (standard deviation, sum of squares, variance)"
**Describe the feature:**
Expose [Elasticsearch Extended Stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-extendedstats-aggregation.html#search-aggregations-metrics-extendedstats-aggregation) in metric aggregations

**Describe a specific use case for the feature:**
**When** I have a metric of interest broken down by terms
**I need** to see which te

[2022-01-07 01:56] elasticmachine commented on #122480
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-07 04:52] oldrich-s commented on #122329
I do not remember what version we were running before the update but it might be version just after the licence change - so relatively old version 😇.

That is the problem. In the old version of Kibana the sentence was like:

So in the old version the first and most important series was at the top of the legend and now the first and most important series is at the bottom of the legend (which means

[2022-01-07 05:56] marshallmain opened #122483 "[Security Solution] ECS-incompatible alert failures do not show up in UI"
When a detection rule finds a document that is not ECS compatible and attempts to create an alert for it, the rule registry writer fails to write the alert due to the incompatibility and logs an error. However, this error does not cause an error status to be written for the rule, so there's no indication in the UI that the alert has failed to write. When an alert fails to be written, the failure s

[2022-01-07 05:56] elasticmachine commented on #122483
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-07 07:43] bitnapper opened #122484 "Markdown Visualization Autoupdate"
The Markdown Visualization is nice to have text in dashboards but I'd love it to autoupdate. It would be nice if I neednt push the update button bevor saving. Especiallly when I just use it to create a header of sorts.

![image](https://user-images.githubusercontent.com/2772669/148509527-f5ffa899-e887-4dfe-a6fb-f77d17cb19ae.png)

[2022-01-07 08:59] dcolazin commented on #122233
So I had it working in Kibana 7 adding a openInNewTab property like the one for the url drilldown. I will check if it's still possible in Kibana 8...

[2022-01-07 09:37] flash1293 commented on #122329
The legend order was actually different at some point but it got adjusted. @nickofthyme @markov00 don you have more context here?

I can confirm the current behavior is happening on purpose as it syncs the order of the bar slices with the order of the legend entries (the “top” bar slice is also the top legend entry, KKRA in your case)

In general it’s planned to give the user more control over the

[2022-01-07 09:38] flash1293 commented on #122329
Related to https://github.com/elastic/kibana/issues/86184

[2022-01-07 11:58] kibanamachine opened #122485 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation·ts - machine learning data frame analytics classification creation bank marketing loads the data frame analytics wizard"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7195#37c24128-c1a8-4fb4-9d49-5b43b1b72bcd)

[2022-01-07 14:02] cnasikas commented on #119930
Hi @karanbirsingh-qasource! The fix did not make it to the snapshots you tested. Could you please test it on the next BC?

[2022-01-07 14:04] kibanamachine commented on #59234
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7200#9fa6bd8a-c2aa-4771-a275-a1d4193fc4ee)

[2022-01-07 19:03] kibanamachine opened #122489 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/metrics·ts - lens app lens metrics should change the color of the metric when tweaking the values in the panel"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7217#5303c3d1-6936-4481-8716-e87752be6bf4)

[2022-01-07 19:23] spong opened #122490 "[Security Solution][Detections] Allow selection of more than three 'Group by' fields"
Currently the Security Solution `Threshold Rule` limits the number of `Group by` fields that can be selected to three. Users have requested the ability select additional fields so they can use these additional fields within their rule actions.

<p align="center">
  <img width="500" src="https://user-images.githubusercontent.com/2946766/148595112-d723cb31-d58a-4a02-b520-098e2685e5e6.png" />
</p>

P

[2022-01-07 19:23] elasticmachine commented on #122490
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-07 19:23] elasticmachine commented on #122490
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-07 19:34] spong commented on #119012
@jethr0null -- users are running into this issue in the [discuss forums](https://discuss.elastic.co/t/set-length-limit-and-bottom-scroll-bar-in-exceptions-table/292713), so we should prioritize accordingly. Fix is low impact and low LOE, so can probably bundle in with the other overflow issues outlined in https://github.com/elastic/kibana/issues/119402 and tackle post-FF for 8.1.

[2022-01-07 23:02] kibanamachine opened #122495 "Failing test: X-Pack Reporting API Integration Tests Without Security Enabled.x-pack/test/reporting_api_integration/reporting_without_security/job_apis_csv·ts - Reporting API Integration Tests with Security disabled Job Listing APIs Posted CSV job is visible in the job count"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7227#fb02a4e9-9f6f-4567-a383-2a60fea9675a)

[2022-01-07 23:03] kibanamachine commented on #122489
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7228#08d11234-4255-4a37-9d0e-5139b8e67c13)

[2022-01-07 23:37] kibanamachine commented on #117060
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7232#735c8f08-3bfb-4633-bdf2-96a25a502d8e)

[2022-01-08 04:41] kibanamachine commented on #119413
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7245#1a6402c2-6dde-48d1-a4d1-7c7e364579df)

[2022-01-08 06:56] kibanamachine commented on #116059
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7253#ec78df61-89fc-4f81-96c7-f048f3883443)

[2022-01-08 08:26] alrubaa opened #122496 "Bars with percentages are not clickable in dashboards"
Kibana 7.16.2

Elasticsearch 7.16.2

Ubuntu 20.04 (tried 7 different servers), and WSL+Ubuntu on Windows 11

Edge Version 97.0.1072.55 (Official build) (64-bit) and FireFox 95.0264

Windows 10, Windows 11, and Ubuntu desktop 21.10

How I installed Elasticsearch and Kibana:
Download and install, as well as sudo apt install, I only use Elasticsearch and Kibana on Ubuntu, either on VMs, WSL on Window

[2022-01-08 08:51] kibanamachine commented on #122201
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7259#a0bdb908-5e79-43a4-a3b5-67cc4fbc40cc)

[2022-01-08 14:39] kibanamachine commented on #113697
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/500#d4278f38-2b5c-4ce3-a1e9-7e66fd2bd4e8)

[2022-01-08 18:33] kibanamachine commented on #116065
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7287#155ef224-c571-4f30-9781-fee1c8b3b298)

[2022-01-08 20:01] kibanamachine commented on #120440
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7290#fe724219-556c-4006-b742-db1e68b59503)

[2022-01-09 04:07] mattkime commented on #122117
@sebelga Any thoughts on this? I'm not certain whether we can determine with certainty whether a script is valid at this point. There are different kinds of failures and some may depend upon the state of the document, etc

[2022-01-09 11:36] kibanamachine commented on #122137
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7338#352611a8-f450-4785-ae5d-688d7cf06adb)

[2022-01-10 01:46] kibanamachine opened #122502 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching·ts - detection engine api security and spaces enabled create_threat_matching tests with auditbeat data should be able to execute and get 10 signals when doing a specific query"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7382#7ba149a6-f9a6-490d-a09a-934d88467a13)

[2022-01-10 01:52] kibanamachine commented on #122485
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7382#90d72d7b-ef6b-4535-9562-8049cdee2df3)

[2022-01-10 02:49] kibanamachine commented on #122502
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7383#2ab1db76-6e38-4643-89b1-8ba344f52262)

[2022-01-10 05:44] karanverma-qasource commented on #122011
Hi @marshallmain,

We have validated above issue on next 8.0.0 Snapshot build and it's fixed. ✔️

[code]
**Screen Shots:**

![image](https://user-images.githubusercontent.com/91867110/148721849-3ac33938-9980-4b33-9437-86111f2af2dc.png)

![image](https://user-images.githubusercontent.com/91867110/148721904-1bcd33c5-851d-49a8-8c20-cf04f9c4a4ba.png)

Thanks !

[2022-01-10 05:44] #122011 closed

[2022-01-10 05:45] karanverma-qasource commented on #121986
Hi @michaelolo24,

We have validated above issue on next 8.0.0 Snapshot build and it's fixed. ✔️

[code]
**Screen Shots:**

![image](https://user-images.githubusercontent.com/91867110/148722043-531f0179-7558-43fa-a6a6-30c47a91c87e.png)

![image](https://user-images.githubusercontent.com/91867110/148722115-5860f2ee-007b-47c5-a721-f7273da86d3f.png)

Thanks!

[2022-01-10 05:45] #121986 closed

[2022-01-10 06:10] samratbhadra-qasource commented on #120358
Hi @joshdover,
We have revalidated this ticket on the latest 7.17.0-BC1 self-managed environment  and found that the issue is **fixed**, further we have also validated the same on the 7.17.0-BC1 cloud environment . Please find below the testing details:

**Build Details:**
VERSION: 7.17.0-BC1
BUILD: 46386
COMMIT: c9b31753ccda9d79ad1f6f7b106674a7ba430000
ARTIFACT: https://staging.elastic.co/7.17.0-

[2022-01-10 06:58] elasticmachine commented on #122485
Pinging @elastic/ml-ui (:ml)

[2022-01-10 07:28] katrin-freihofner commented on #96562
This issue is pretty old - we have our [Eui vis colors](https://elastic.github.io/eui/#/utilities/color-palettes) which should be save to use for this purpose.

[2022-01-10 08:16] karanverma-qasource commented on #122161
Hi @stephmilovic,

We have validated above issue on 8.0.0 Snapshot build and it's still occurring.

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/148723861-6a7997f8-d12c-4973-b08d-c58f0a52e406.png)

![image](https://user-images.githubusercontent.com/91867110/148723907-ccc0b521-20f5-465e-8f1a-8fc0ee9837b5.png)

![image](https://user-images.githubusercontent.c

[2022-01-10 08:21] cnasikas commented on #118610
Hi @karanbirsingh-qasource! Did you validate that Kibana does not show the non-English choices?

[2022-01-10 08:35] juliaElastic commented on #122290
@jen-huang @amolnater-qasource
yes, the fix was merged to 7.16 branch: https://github.com/elastic/kibana/pull/121197
I think Amol is referring to the guide itself, I wasn't updating that. Where should we update that? https://www.elastic.co/guide/en/observability/7.16/ingest-logs-metrics-uptime.html

[2022-01-10 08:35] kertal commented on #122365
yes, we should improve this!

[2022-01-10 08:36] kertal commented on #117775
Closing this, because we would need more feedback to investigate, feel free to reopen providing more details. thx!

[2022-01-10 08:36] #117775 closed

[2022-01-10 08:39] dasansol92 commented on #122424
Hey @kevinlog , I think this has been showing the total number of exceptions since the beginning (as far as I know). We did a fix on a pagination error but not on the total number we display at the top. Should we display the total page results instead of the global amount?

[2022-01-10 08:39] dasansol92 commented on #122230
@kevinlog Sure, On my way!

[2022-01-10 08:40] dasansol92 commented on #122204
@kevinlog Sure, On my way!

[2022-01-10 08:40] stratoula commented on #122440
@thomasneirynck why this fails in 7.17? We removed the 2 maps in 8 right?

[2022-01-10 08:44] MadameSheema commented on #119930
@karanbirsingh-qasource can you please validate it on the 7.17BC?

[2022-01-10 08:54] dikshachauhan-qasource commented on #120712
Hi @masci

Earlier, above mentioned integration was available as installed by default in Kibana. However, now we have observed that this integration is not installed by default on 7.17 BC1 upgraded Kibana build [upgraded from 7.16.3 BC1] as well.

Please find screenshot and build details below:
![image](https://user-images.githubusercontent.com/72375798/148739499-b233d77f-3dfd-41f2-816c-8b6871de9f

[2022-01-10 09:01] flash1293 commented on #122440
A config flag has to be set for them to be available in 7.17 - `xpack.maps.showMapVisualizationTypes` @liza-mae is it possible the cloud instance is missing this flag?

[2022-01-10 09:08] shubhamkanwar-qasource commented on #122246
Hi @MadameSheema

We have validated this ticket with long sentence case name and observed that issue is not occurring with long sentence.

**Build Details:**
[code]

Please find the Screenshot attached below for case named with long sentence .

![image](https://user-images.githubusercontent.com/61860752/148739599-19f621b5-2a5e-4b15-a4d5-9f0be8b3ded2.png)

Please let us know if anything else is req

[2022-01-10 09:09] pheyos commented on #122485
Failure screenshot:
![image](https://user-images.githubusercontent.com/1945390/148741056-4d334987-37e2-49bb-a63d-f5734d448bb4.png)

The `no jobs` component didn't appear within the timeout, so the test assumes there must be jobs around and tries to click the other `create` button. I'll work on a stability fix.

[2022-01-10 09:09] hackacad opened #122508 "dot expander processor does not accept wildcard"
**Kibana version:**
7.16

**Elasticsearch version:**
7.16

**Server OS version:**
Ubuntu, FreeBSD

**Browser version:**
Safari, Chrome

**Browser OS version:**
MacOS 12, Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
apt/pkg

**Describe the bug:**
The Kibana dot expander does not accept wildcard (without dots).

**Steps to reproduce:**
1. Create Pipeline in K

[2022-01-10 09:29] cnasikas commented on #122246
@shubhamkanwar-qasource @MadameSheema I think we can close the issue if the long sentence is working fine. Having a single word of 60 characters long is pretty unusual.

[2022-01-10 09:31] elasticmachine commented on #113757
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:31] elasticmachine commented on #113757
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:32] elasticmachine commented on #98793
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:32] ppisljar commented on #104266
closing this for now as we don't plan to implement this

[2022-01-10 09:32] #104266 closed

[2022-01-10 09:33] elasticmachine commented on #109177
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:33] elasticmachine commented on #106965
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:34] elasticmachine commented on #102600
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:34] elasticmachine commented on #102600
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:34] elasticmachine commented on #104053
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:34] elasticmachine commented on #104053
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:35] #122201 closed

[2022-01-10 09:36] MadameSheema commented on #119340
Yes!! This is fixed! Thanks for letting me know :)

[2022-01-10 09:36] #119340 closed

[2022-01-10 09:36] elasticmachine commented on #101994
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:36] elasticmachine commented on #101994
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:37] elasticmachine commented on #101787
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:37] elasticmachine commented on #101787
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:37] elasticmachine commented on #100658
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:37] elasticmachine commented on #100658
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:37] elasticmachine commented on #98256
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:37] dej611 commented on #122329
True. I've started to discuss with the datavis team on having separate sorting predicate for the legend, but that's still a work in progress.

[2022-01-10 09:38] elasticmachine commented on #98126
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:38] elasticmachine commented on #98126
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:38] elasticmachine commented on #87608
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:38] elasticmachine commented on #107800
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:39] MadameSheema commented on #119418
@machadoum can you please take a look at this? Thanks!! :)

[2022-01-10 09:39] elasticmachine commented on #110836
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:39] elasticmachine commented on #110854
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:39] elasticmachine commented on #105677
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:39] elasticmachine commented on #112659
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:40] elasticmachine commented on #104932
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:40] elasticmachine commented on #104932
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:40] elasticmachine commented on #105264
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:40] elasticmachine commented on #105264
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:40] elasticmachine commented on #78237
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:40] elasticmachine commented on #78237
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:40] elasticmachine commented on #94376
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:40] elasticmachine commented on #94376
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:41] elasticmachine commented on #103385
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:41] elasticmachine commented on #92987
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:41] elasticmachine commented on #92987
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:41] elasticmachine commented on #99547
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:43] miltonhultgren commented on #98010
We'd likely have to check if 10k is a good number for the log threshold executor and do a similar performance investigation of that code to find the bottlenecks to remove. Should we update this issue for that or create a new issue for that work?

[2022-01-10 09:48] elasticmachine commented on #113219
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:49] ppisljar opened #122514 "[KQL] Support boosting"
Currently, the Elasticsearch query string query supports [boosting](https://www.elastic.co/guide/en/elasticsearch/reference/8.0/query-dsl-query-string-query.html#_boosting), which makes one term more relevant than another.

For example, `quick^2 fox` would boost the `_score` returned for documents that match only "quick" over documents that match only "fox". Values above 1 increase relevance while

[2022-01-10 09:49] elasticmachine commented on #122514
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-10 09:49] elasticmachine commented on #85737
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:49] elasticmachine commented on #93936
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:49] elasticmachine commented on #109286
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:50] elasticmachine commented on #108656
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:50] elasticmachine commented on #108656
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:50] elasticmachine commented on #109822
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:50] elasticmachine commented on #109822
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:50] MadameSheema commented on #121613
Thanks @yuliacech!! :)

About 7.16 - 8.0, are we giving support?

[2022-01-10 09:50] #109822 closed

[2022-01-10 09:51] ppisljar opened #122515 "[KQL] Support geospatial filters"
Related: https://github.com/elastic/kibana/issues/67905

Currently, KQL only has support for filtering for existence of geo-point and geo-shape fields, but has no support for geospatial filters on these fields. Elasticsearch supports [geo-bounding box](https://www.elastic.co/guide/en/elasticsearch/reference/8.0/query-dsl-geo-bounding-box-query.html), [geo-distance](https://www.elastic.co/guide/en/

[2022-01-10 09:51] elasticmachine commented on #122515
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-10 09:51] elasticmachine commented on #108671
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:51] elasticmachine commented on #104391
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:51] elasticmachine commented on #107696
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:51] elasticmachine commented on #105399
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:51] elasticmachine commented on #105399
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:52] elasticmachine commented on #100537
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:52] elasticmachine commented on #100537
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:52] elasticmachine commented on #95469
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:52] elasticmachine commented on #94120
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:52] elasticmachine commented on #91937
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:52] elasticmachine commented on #94115
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:52] elasticmachine commented on #91292
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:53] elasticmachine commented on #90880
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:53] elasticmachine commented on #90880
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:53] elasticmachine commented on #90878
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:53] elasticmachine commented on #90878
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:54] elasticmachine commented on #87440
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:54] elasticmachine commented on #113351
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:54] elasticmachine commented on #113351
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:54] elasticmachine commented on #113853
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:54] elasticmachine commented on #113853
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:54] #122246 closed

[2022-01-10 09:55] elasticmachine commented on #113897
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 09:55] elasticmachine commented on #113897
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:55] elasticmachine commented on #113944
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:55] elasticmachine commented on #114081
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:55] elasticmachine commented on #118684
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:55] elasticmachine commented on #117905
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 09:59] MadameSheema commented on #122161
@karanverma-qasource can you please check on 8.0 branch and main branch as well? Thanks!

[2022-01-10 10:01] elasticmachine commented on #115326
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:01] elasticmachine commented on #115326
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:02] elasticmachine commented on #104961
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:03] elasticmachine commented on #115730
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:03] elasticmachine commented on #115730
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:04] elasticmachine commented on #114595
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:04] elasticmachine commented on #114595
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:04] elasticmachine commented on #115330
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:04] elasticmachine commented on #115330
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:06] elasticmachine commented on #116256
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:06] elasticmachine commented on #116256
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:06] elasticmachine commented on #116579
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:06] elasticmachine commented on #116579
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:07] elasticmachine commented on #116793
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:07] elasticmachine commented on #116793
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:07] elasticmachine commented on #114097
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:07] elasticmachine commented on #114097
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:07] elasticmachine commented on #117117
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:07] elasticmachine commented on #117117
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:07] elasticmachine commented on #117630
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:07] elasticmachine commented on #117630
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:07] elasticmachine commented on #117640
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:07] elasticmachine commented on #117640
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:08] elasticmachine commented on #118610
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:08] elasticmachine commented on #118610
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:08] elasticmachine commented on #102929
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:09] elasticmachine commented on #119153
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:09] elasticmachine commented on #119153
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:09] elasticmachine commented on #77319
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:09] elasticmachine commented on #77319
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:09] elasticmachine commented on #119496
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:09] elasticmachine commented on #119509
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:09] elasticmachine commented on #119860
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:09] elasticmachine commented on #119860
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:10] elasticmachine commented on #119930
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:10] elasticmachine commented on #119930
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:11] elasticmachine commented on #117971
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:11] elasticmachine commented on #117971
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:11] elasticmachine commented on #120234
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:11] elasticmachine commented on #120234
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:11] elasticmachine commented on #121616
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:11] elasticmachine commented on #121616
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:12] elasticmachine commented on #121629
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:12] elasticmachine commented on #121629
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:12] elasticmachine commented on #122246
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:12] elasticmachine commented on #122246
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:13] afharo opened #122516 "[Telemetry] Add `execution_context` to identify expensive queries coming from specific collectors"
Sometimes, when there's some performance degradation between Kibana and Elasticsearch, telemetry raises suspicions because of its periodic nature. This leads to the requests timing out and logs showing telemetry-related errors which can make the user to blame it on this service while the root cause may be another.

Let's add `execution_context` to the requests performed by Telemetry and Usage Coll

[2022-01-10 10:16] #86602 closed

[2022-01-10 10:17] elasticmachine commented on #122211
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:17] elasticmachine commented on #122211
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:17] elasticmachine commented on #122210
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:17] elasticmachine commented on #122210
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:18] karanbirsingh-qasource commented on #118610
Hi @cnasikas

we have earlier validated the API part of this ticket only and now on validating the Kibana side , the issue is occuring we are able to see non English language for service now connector.

please find below detailed steps
1. Log into service now and install the application on it.
2. Logout from the application on success installation of above application
3. at login it will ask for t

[2022-01-10 10:19] elasticmachine commented on #122516
Pinging @elastic/kibana-core (Team:Core)

[2022-01-10 10:24] elasticmachine commented on #115808
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:24] elasticmachine commented on #115808
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:25] elasticmachine commented on #117620
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:25] elasticmachine commented on #117620
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:25] #117620 closed

[2022-01-10 10:25] elasticmachine commented on #117639
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:25] elasticmachine commented on #113549
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:25] elasticmachine commented on #113549
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:26] elasticmachine commented on #116501
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:26] elasticmachine commented on #116501
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:26] elasticmachine commented on #84083
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 10:26] elasticmachine commented on #84083
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 10:35] flash1293 commented on #120870
After investigation, the problem happening here is that the shift is not compatible to the interval (a year is not evenly dividable by weeks) which causes a chart with gaps between data points. For the stacked area chart these gaps cause the series to not get rendered.

The following things can be done to work around this problem:
* Make sure the interval and the time shift are compatible by setti

[2022-01-10 10:39] flash1293 commented on #122312
After discussing this offline, we decided to not change the order-behavior of last value mode for the time being as existing users might depend on it.

[2022-01-10 10:40] MadameSheema commented on #122455
@yctercero the last 7.16 patch release already has built the BC, the release is expected to happen on the 13th of this month. Should we raise it as a blocker?

[2022-01-10 10:45] banderror commented on #120872
@deepikakeshav-qasource https://github.com/elastic/kibana/pull/122024 has been merged and backported to `8.0`. Could you please verify that it (partially) fixes the issue, and if so, could we close this ticket because we have dedicated tickets for the rest?

[2022-01-10 10:46] CohenIdo opened #122520 "[csp task][BE] Add support for search bar and time filter in Findings endpoint"

[2022-01-10 10:46] lucabelluccini opened #122522 "Snapshot view in Snapshot and Restore can fail when the number of repositories is high"
**Kibana version:** 7.16+

**Elasticsearch version:** aligned with Kibana

**Describe the bug:**

The Snapshot and Restore page lists the top 20 snapshots across all repositories by default.
This can lead to the UI being completely broken in case there are 100+ repositories.

**Steps to reproduce:**
1. Create 100 repos, each one with 50+ snapshots
2. Navigate to the Snapshot and Restore page

**Ex

[2022-01-10 10:48] elasticmachine commented on #122522
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-10 10:50] #122520 closed

[2022-01-10 10:51] cnasikas commented on #118610
Hi @karanbirsingh-qasource

The fix is backported only to 7.17+. It will not be backported to 7.15 and 7.16 as there will be no other minor release for these branches. Could you please test it for 7.17+? Our SN applications are published in the [SN store](https://store.servicenow.com/sn_appstore_store.do#!/store/search?listingtype=allintegrations%253Bancillary_app%253Bcertified_apps%253Bcontent%25

[2022-01-10 10:53] tobiasstadler opened #122524 ""Last updated" values alerts table and fly out do not match"
**Kibana version:**
7.16.1

**Elasticsearch version:**
7.16.1

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
The "Last updated" values in the alerts table (in the observability view) and the corresponding fly out do not match. The table shows the recovered time, the fly

[2022-01-10 11:03] KarenSumner commented on #42005
Hi... can you please provide an update on this request - is this on the roadmap?

[2022-01-10 11:11] MadameSheema commented on #122227
@peluja1012 taking into account the above information, how we should proceed with this? Thanks :)

[2022-01-10 11:25] elasticmachine commented on #122496
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-10 11:25] elasticmachine commented on #122489
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-10 11:25] yuliacech commented on #122522
Hi @lucabelluccini, thanks a lot for reporting this bug! I've worked on pagination in snapshots list for v7.16 (https://github.com/elastic/kibana/pull/110266). Could you please check Network tab in Dev tools and copy the response/error returned by the server?

[2022-01-10 11:28] MiriamAparicio opened #122526 "Sample data needs"
### Description

Sometimes is difficult to test or reproduce issues due to the lack of sample data on the clusters or the environments.
The local cluster created using the oblt-cli often doesn't have enough data to reproduce use cases of the issues.
Running the local cluster using synthtrace improve a little the sample data but is still not enough, we need to add more data and different scenarios.

[2022-01-10 11:28] elasticmachine commented on #122526
Pinging @elastic/apm-ui (Team:apm)

[2022-01-10 11:35] dej611 opened #122527 "[Lens] Improve formula error popover message and styling"
**Describe the feature:**

Reported from https://github.com/elastic/kibana/pull/121768#issuecomment-1005877185

[2022-01-10 11:35] elasticmachine commented on #122527
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-10 11:35] flash1293 commented on #122489
From the screenshot you can see the color actually changed - this is likely a race-condition. The test uses `waitUntilLoadingHasFinished` which is just checking the loading spinner, not whether the vis updated: https://github.com/elastic/kibana/blob/bf6971c0b5972ca420a83a7b069b4674702beb1f/x-pack/test/functional/apps/lens/metrics.ts#L40

Using `waitForVisualization` from the Lens page should fix t

[2022-01-10 11:36] #103246 closed

[2022-01-10 11:43] dasansol92 commented on #122230
PR: https://github.com/elastic/kibana/pull/122528

[2022-01-10 11:43] dasansol92 commented on #122204
PR: https://github.com/elastic/kibana/pull/122528

[2022-01-10 11:51] lucabelluccini commented on #122522
Hello @yuliacech, thank you for implementing the pagination and I can validate the request is asking for `size=20`.
I can confirm there's no response (it's a timeout) as Elasticsearch takes more than 300s to answer.

[2022-01-10 11:54] #119284 closed

[2022-01-10 11:57] karanbirsingh-qasource commented on #119930
Hi @MadameSheema

Please find below observations, now username is shown on both the Case list page and Case Details page on both 7.17.0 BC1 and 8.0.0-SNAPSHOT 🟢

### Build Details:

Details | 7.17.0-BC1 | 8.0.0-SNAPSHOT
-- | -- | --
Commit | `c9b31753ccda9d79ad1f6f7b106674a7ba430000` | `2fa075fc23e8e5e78c862cd6518fdcd3430ae1f7`
Build | 46386 | 48933
Screen-Shoot |![image](https://user-images.githu

[2022-01-10 12:00] MadameSheema commented on #119930
Thanks @karanbirsingh-qasource :)

[2022-01-10 12:00] #119930 closed

[2022-01-10 12:01] samratbhadra-qasource opened #122529 "[Enhancement]: No confirmation message is displayed while deleting an `Enrollment token`."
**Enhancement:**

1. While performing testing we have observed that when we perform delete enrollment token action no confirmation message is displayed saying "Enrollment token deleted" if the same can be displayed this will help the users to get that the action has been completed. Currently only a confirmation pop-up is displayed to users when the user click on delete icon.

2. We have noticed th

[2022-01-10 12:01] elasticmachine commented on #122529
Pinging @elastic/fleet (Team:Fleet)

[2022-01-10 12:05] mshustov opened #122530 "Establish a set of Kibana server performance metrics"
Kibana uses https://github.com/elastic/kibana-load-testing to perform load testing against the Kibana server. While it gives us a good high-level picture of the number of parallel requests Kibana can handle, we don't have detailed information to conduct performance analysis and track long-term trends.
This task is the very first step in the Kibana performance project. The scope of the task is to e

[2022-01-10 12:05] elasticmachine commented on #122530
Pinging @elastic/kibana-core (Team:Core)

[2022-01-10 12:15] joshdover commented on #122290
@juliaElastic you can open a PR against the doc here: https://github.com/elastic/observability-docs/blob/main/docs/en/observability/ingest-logs-metrics-uptime.asciidoc

[2022-01-10 12:15] #122192 closed

[2022-01-10 12:16] lizozom commented on #112608
Linking here to a [POC I did for a custom event collection package.](https://github.com/elastic/kibana/pull/122109)
Among other things, it tracks the application page and entitiy id where applicable.
Hope it helps!

[2022-01-10 12:34] #121891 closed

[2022-01-10 12:42] kevinlog commented on #122424
got it, that sounds right @dasansol92 .

@muskangulati-qasource we intend to show the total count of exceptions returned in this number.  I'm going to close this as "working as expected".

[2022-01-10 12:42] #122424 closed

[2022-01-10 12:59] banderror commented on #119600
- @banderror create ticket for supporting rate limiting at the Core level
- implement bulk update and bulk get methods in `RulesClient`
- @banderror create a ticket for supporting ES's `refresh` parameter in `RulesClient`
- add `ids` to request parameters (applying bulk actions by to a list of concrete rules)
- add more bulk edit operations (will be resolved along with implementing those operation

[2022-01-10 13:08] cnasikas commented on #91855
The issue has been fixed by https://github.com/elastic/kibana/pull/113626

[2022-01-10 13:08] #91855 closed

[2022-01-10 13:08] elasticmachine commented on #91855
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-10 13:15] stratoula commented on #122496
@alrubaa thanx for submitting this. We have already a PR that is solving it https://github.com/elastic/kibana/pull/121610
We are targeting 7.17 for this, for now you could use Lens instead that works fine

[2022-01-10 13:25] lucabelluccini commented on #91855
Fixed in 7.15.1 / 7.16.0 onwards.

[2022-01-10 13:28] dannycroft commented on #120453
@simitt it was to discuss what version we could put this in and what it's priority was (back in 9 Dec 2021). We no longer use Zube, so Zube's labels can be confidenctly ignored.

[2022-01-10 13:50] mikecote opened #122535 "[Alerting] Telemetry for potential rule execution guardrails"
Before implementing guardrails and limitations to the alerting rules, we should gather data to validate where guardrails are necessary in relation to the rule execution. The following would be interesting to gather, and potentially others as we think of them.

Copied from https://github.com/elastic/kibana/issues/60315, we can start with the following:

|Telemetry questions|Why|
|---|---|
|What is

[2022-01-10 13:50] elasticmachine commented on #122535
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 13:53] simitt commented on #120453
Thanks @dannycroft  - so does `7.17` sound realistic to you?

[2022-01-10 13:54] kibanamachine commented on #121842
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/503#b002a8eb-acec-4add-8927-41e33520b777)

[2022-01-10 13:54] kibanamachine commented on #121843
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/503#b002a8eb-acec-4add-8927-41e33520b777)

[2022-01-10 13:55] mikecote commented on #122535
@pmuellr I created this telemetry issue for 8.1 to collect data on potential guardrails. If you feel there are other areas we should collect, can you add them to the table above?

This issue overlaps a bit with https://github.com/elastic/kibana/issues/113465 but gathers scope outside of long running rules.

[2022-01-10 13:55] mostlyjason commented on #122330
LGTM, seems like a papercut issue, so I'll let you and Jen drive it

[2022-01-10 13:56] formgeist commented on #120453
@MiriamAparicio already merged the fix into 7.17 as per https://github.com/elastic/kibana/pull/122270

This issue should be closed by https://github.com/elastic/kibana/pull/122240

[2022-01-10 13:56] #120453 closed

[2022-01-10 14:03] mikecote commented on #116047
Closing in favour of https://github.com/elastic/kibana/issues/122535.

[2022-01-10 14:03] #116047 closed

[2022-01-10 14:04] mikecote commented on #122535
Prior conversation on capturing the max number of alerts created during execution => https://github.com/elastic/kibana/issues/116047.

[2022-01-10 14:13] dasansol92 commented on #116252
@caitlinbetz @kevinlog Just to confirm, all three flyouts are going to have a button with a "Save" word when updating an exception (trusted apps, event filters or host isolation exceptions):
- Trusted apps: `Save` -> `Save`
- Event filters: `Update event filter` -> `Save`
- Host isolation exceptions: `Edit host isolation exception` -> `Save`

And will keep the current translations when creating a

[2022-01-10 14:17] vustack commented on #122215
@jen-huang can I get the necessary details to make the changes for this issue?

[2022-01-10 14:17] paulb-elastic commented on #122355
We will address responsive UI more in the Synthetics App, so closing this specifically for Uptime.

[2022-01-10 14:17] #122355 closed

[2022-01-10 14:20] paulb-elastic commented on #116362
Let's initially look at timeboxing this for 1 day to look at

[2022-01-10 14:26] pmuellr opened #122544 "[ResponseOps] further rate-limit the number of action executions"
Today the number of actions a rule can execute during an execution is unbounded.  We need to set a bound of some sort - we can't leave it unbounded since a large number of action executions can starve other tasks that are scheduled to run after them

It's possible we may want to add a per-rule bound as well, in the future.

In addition to, or as an alternative, we could consider spreading action e

[2022-01-10 14:26] elasticmachine commented on #122544
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 14:33] pmuellr opened #122545 "[ResponseOps] track action execution counts in rule execution status and event log"
As part of dealing with overly large numbers of action executions, we should start tracking these in the execution status section of the rule SO, and also within the event log.

Within the rule saved object, the number would be stored here:

https://github.com/elastic/kibana/blob/5254cb5768c03e0df364e6577236cd0f3e008ba1/x-pack/plugins/alerting/server/saved_objects/mappings.json#L96-L116

Within th

[2022-01-10 14:33] elasticmachine commented on #122545
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 14:33] #121508 closed

[2022-01-10 14:33] #122496 closed

[2022-01-10 14:37] pmuellr opened #122548 "[ResponseOps] display action execution counts in alerting UX"
In issue [[ResponseOps] track action execution counts in rule execution status and event log #122545](https://github.com/elastic/kibana/issues/122545), we'll start tracking the number of actions executed when a rule is executed.

We'll want to display this value in the alerting UX.  Seems like it would be nice to have it be "sortable" within the rules list, but we're tight on column space, so not

[2022-01-10 14:37] elasticmachine commented on #122548
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 14:46] afgomez commented on #63777
Working on this as part of my space-time

[2022-01-10 14:51] #121919 closed

[2022-01-10 14:51] pmuellr opened #122550 "Add rule cancellation support for metrics threshold and log threshold rule types"
The alerting system now supports cancellation, which is currently only driven via timeouts.  A rule can check manually if it's been cancelled, while it's running, and can get "free" cancellation support via an instrumented ES client.  The PR  [[Alerting] Using abortable es client in stack rules #122435](https://github.com/elastic/kibana/pull/122435) is doing this work for the stack alerts, and sho

[2022-01-10 15:18] jasonrhodes commented on #120377
@miltonhultgren @weltenwort thanks so much for the detailed breakdowns here. @alex-fedotyev it sounds like what you are describing is likely not possible with the data access we currently use for the Metrics UI. I wonder if we can find an MVP solution that works with the current way we access data, or if we need to rethink this effort and create a new data access layer first. We can talk once I ha

[2022-01-10 15:22] mikecote commented on #122548
Blocked on https://github.com/elastic/kibana/issues/122545.

[2022-01-10 15:29] #121968 closed

[2022-01-10 15:35] gmmorris commented on #122389
It came up in planning that there is actually a potential bug here where disabling a task type can cause tasks of those type to become `unrecognized` which means they won't run anywhere in the system.

That makes this a higher impact issue than I originally realised. 👍

[2022-01-10 15:40] elasticmachine commented on #122502
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-10 15:41] elasticmachine commented on #122495
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-10 15:41] elasticmachine commented on #122524
Pinging @elastic/unified-observability (Team:Observability)

[2022-01-10 15:43] elasticmachine commented on #122508
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-10 15:44] elasticmachine commented on #122484
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-10 15:47] elasticmachine commented on #122339
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-10 15:52] MadameSheema commented on #121613
@cjcenizal @yuliacech @Dosant I had time today to investigate a little bit more the above issue. I set up the above configuration and I checked the logs on my remote instance getting the following:

[code]

So I'm assuming my assumption is correct and we are not supporting the CCS configuration with source on 7.16 and remote on 8.0. If so, I think this ticket can be closed. Thanks

[2022-01-10 15:53] majagrubic opened #122554 "[Security Empty State] Glitch before entering empty state"
**Kibana version:**
8.0.0 - SNAPSHOT

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When navigating from Home Page to Security, there's a brief display of security home page, before showing an empty state. I'm not sure if it's expected, but wanted to put it here just in case.

**Steps to reproduce:**
1. Open Kibana Homepage
2. Click on Secur

[2022-01-10 15:53] elasticmachine commented on #122554
Pinging @elastic/kibana-security (Team:Security)

[2022-01-10 15:55] lukeelmers commented on #120201
cc @thesmallestduck @arisonl for input on priority for this

[2022-01-10 16:04] ThomThomson commented on #122484
We do currently provide this functionality in the TSVB Markdown component. The TSVB markdown also has many useful features like a customizable background color etc.

[2022-01-10 16:05] nreese opened #122555 "[discover] show chart does not open chart after leaving application and returning"
**Kibana version:**
8.0.0-rc1

**Elasticsearch version:**
8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Steps to reproduce:**
1. Open discover, click "Chart options", and click "Hide chart".
2. Click save button and follow save dialog to create saved search.
3. Click "Chart options" and click "Open chart"
4. Use left menu to open another application,

[2022-01-10 16:05] elasticmachine commented on #122555
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-10 16:16] elasticmachine commented on #114365
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-10 16:16] elasticmachine commented on #114365
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-10 16:19] #122208 closed

[2022-01-10 16:23] nchaulet opened #122557 "[Fleet] Integration details performance - README rendering"
## Description

Related to #118751

For package with a large README one of the biggest webperf issue is rendering the huge markdown block

In the example bellow with CPU throttling you can see the amount of time  we pass to render this it's something we can optimize for sure.

<img width="1153" alt="Screen Shot 2022-01-10 at 11 18 12 AM" src="https://user-images.githubusercontent.com/1336873/14880

[2022-01-10 16:23] elasticmachine commented on #122557
Pinging @elastic/fleet (Team:Fleet)

[2022-01-10 16:25] nchaulet opened #122560 "[Fleet] Integration details performance - Package info loading"
## Description

Related to #118751

In progress

The first time we call the details API for a package could be extremely slow (~1s for the APM package, ~5s for the AWS one), I am currently trying to see what we are doing here that is that slow.

This example trace for AWS show the issue

<img width="858" alt="Screen Shot 2022-01-11 at 9 24 30 AM" src="https://user-images.githubusercontent.com/1336

[2022-01-10 16:25] elasticmachine commented on #122560
Pinging @elastic/fleet (Team:Fleet)

[2022-01-10 16:51] paulewing commented on #121845
@monina-n @michaelolo24 Yes, this time syncing was originally intended to assist the analyst when they wanted to visit other pages related to an active investigation from Timeline. I agree that this flow and the lock icon could lead to confusion. Let's revisit as an enhancement and rethink the workflow.

[2022-01-10 16:55] ThomThomson commented on #120182
Relevant context for the **Portable Dashboard Container** initiative can be found [here](https://github.com/elastic/kibana/issues/43879#issuecomment-644528141) and [here](https://github.com/elastic/kibana/issues/118242)

[2022-01-10 16:55] #121183 closed

[2022-01-10 17:00] gmmorris commented on #115023
That's a good question.
Worth looping in @arisonl and @mdefazio.

[2022-01-10 17:05] #122328 closed

[2022-01-10 17:14] paulewing commented on #122019
@stephmilovic Correct. As long as I am understanding the issue correctly, saved objects can only be imported into the same version, a newer minor on the same major, or the next major (per https://www.elastic.co/guide/en/kibana/current/saved-objects-api-import.html#_compatibility_across_versions_2). I would not expect Timelines to be backwards compatible.

[2022-01-10 17:14] cauemarcondes commented on #121640
We should either fix the default value to send the unit alongside the value, or on the UI add a default value for the unit as suggested by @ogupte . @simitt wdyt?

[2022-01-10 17:21] stephmilovic commented on #121377
@monina-n needs design, some indicator of when cards are not associated with the Data View selector

[2022-01-10 17:24] MadameSheema commented on #121491
@deepikakeshav-qasource can you please check this on the latest 8.0.0-rc1?

[2022-01-10 17:28] jsanz opened #122569 "Enforce the GeoJSON polygon orientation in Vega Maps"
Vega uses `d3-geo` to render GeoJSON features into a Map. Unfortunately the convention used by this library is to expect polygon rings to be clockwise (more details about the reasoning [here](https://github.com/d3/d3-geo/pull/79#issuecomment-280935242)). This convention is not followed by current [GeoJSON IETF RFC7946](https://datatracker.ietf.org/doc/html/rfc7946#appendix-B.1) standard where poly

[2022-01-10 17:28] elasticmachine commented on #122569
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-10 17:29] gmmorris commented on #64144
I think this can be unblocked now @sqren 🤔

[2022-01-10 17:30] tsullivan commented on #122495
It looks like Kibana was becoming unstable before the test started, but that this test needs more logging about the state of what is happening
[code]

[2022-01-10 17:31] gmmorris commented on #64148
@YulNaumenko sounds like it :)

[2022-01-10 17:31] elasticmachine commented on #121475
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-01-10 17:31] stephmilovic commented on #121279
removing myself as assigned, anyone on team is welcome to tackle this

[2022-01-10 17:33] stephmilovic commented on #122161
I realized that the backport has failed, I will let you know when we are good to retest. sorry about that!

[2022-01-10 17:39] nreese opened #122570 "[discover] discover requesting chart data when chart is hidden"
**Kibana version:**
8.0.0-rc1

**Elasticsearch version:**
8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Steps to reproduce:**
1. Open Discover, hide chart, and save search
2. Open browser debug tools and open network tab
3. Reopen saved search. Notice how 2 requests are made to Elasticsearch. One for documents and one for chart even though the chart

[2022-01-10 17:39] elasticmachine commented on #122570
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-10 17:43] andrewctate opened #122571 "[Lens] Misalignment between Experimental badge and caution sign in visualizations list"
**Describe the bug:**

**Steps to reproduce:**
1. create new bar chart in Lens
2. add fields to the horizontal and vertical axes
3. add reference line
4. open the visualizations dropdown

**Expected behavior:** `Experimental` badge and caution sign would be aligned on Heatmap.

**Screenshots (if relevant):**
<img width="419" alt="Screen Shot 2022-01-10 at 11 31 31 AM" src="https://user-images.gith

[2022-01-10 17:43] tsullivan commented on #117224
Closing this as PNG/PDF Reporting will be available on Mac ARM in 8.1: https://github.com/elastic/kibana/pull/122057

[2022-01-10 17:43] #117224 closed

[2022-01-10 17:43] elasticmachine commented on #122571
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-10 17:47] MadameSheema commented on #119633
@deepikakeshav-qasource can you please verify @ecezalp request on 8.0.0-rc1? Thanks!

[2022-01-10 17:47] afharo opened #122572 "[Telemetry] Share promise for concurrent telemetry report generation"
As identified in the Load Testing PR https://github.com/elastic/kibana-load-testing/pull/211, we could improve the performance of Kibana if we'd handle concurrent Telemetry Report Generation together in one promise.

This way, if a new request comes in while the Report Generation is taking place due to a previous request, they'll await the same promise. This way we'll reduce the load on both ES an

[2022-01-10 17:48] mfinkle commented on #122459
I think it would be good to align. Pierre is right that we need to expand some of our FTR upgrade testing to make sure we have some test coverage.

[2022-01-10 17:52] elasticmachine commented on #122572
Pinging @elastic/kibana-core (Team:Core)

[2022-01-10 17:53] kibanamachine commented on #116059
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7428#bd63fe10-5f8c-4988-993a-1169cf6f6e4c)

[2022-01-10 17:54] ecezalp commented on #121752
this is not a bug exactly as we can't know whether there are going to be investigation time enrichments in the past unless the user uses the calendar. Tagging @monina-n @yiyangliu9286 and @jethr0null for possible UX improvements

[2022-01-10 18:02] stefnestor commented on #116017
Cross-pasting from https://github.com/elastic/kibana/issues/90934, https://github.com/elastic/kibana/pull/111036 -- in 8.0 you can no longer set `xpack.alerts.enabled: false` so instead will set `xpack.task_manager.internal.exclude_task_types: ['alerting:*']` (starting v7.16.0, not in docs).

[2022-01-10 18:19] mbarretta opened #122574 "[Maps] add ability to use non-spatial fields from docs within a filtered space in a drilldown"
**Describe the feature:**
Expand the existing drilldown feature to allow the selection of an alternative field of the filtered documents to be used when building the filter used in the linked dashboard.

**Describe a specific use case for the feature:**
Many use cases have indices with complementary but mostly disjoint data, and it's common to see spatial data in one index and the full detail of a

[2022-01-10 18:19] elasticmachine commented on #122574
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-10 18:21] lucabelluccini opened #122575 "[Reporting] CSV Export URL generation adds an absolute time range filter"
**Kibana version:** 7.16.1

**Elasticsearch version:** Aligned

**Describe the bug:**

CSV Export URL contains an unexpected time filter, which is not present at the time of the visualization.

**Steps to reproduce:**
1. Create an index pattern which contains data during the last N days. I've used `.monitoring-es*`
2. Choose `Last 24h` in the timepicker (note the URL contains only `(filters:!(),re

[2022-01-10 18:21] elasticmachine commented on #122575
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-10 18:23] ymao1 commented on #122389
Upon further investigation, using `xpack.task_manager.unsafe.exclude_task_types` does work as advertised and will not put us in a position where alerting rules are marked as "unrecognized". I've updated the issue description and we can re-prioritize this issue lower.

[2022-01-10 18:24] #116017 closed

[2022-01-10 18:25] stefnestor commented on #116017
miss click sorry 😂

[2022-01-10 18:28] manishgupta-qasource commented on #122529
Reviewed & assigned to @jen-huang

[2022-01-10 18:36] nreese opened #122576 "[discover] inconsistent usage of arrow icons"
Notice in the screen shot below from Discover page how arrowRight and arrowDown icons are used to collapse/expand. Then notice in the "view surrounding documents" screen shot. The arrowDown icon is not used to collapse/expand and is just part of the button to fetch more surrounding documents. I clicked on this icon expecting to collapse the surrounding documents older than this document. To avoid

[2022-01-10 18:36] elasticmachine commented on #122576
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-10 18:36] elasticmachine commented on #122576
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2022-01-10 18:36] Heenawter opened #122577 "[Stack Management] Inconsistent breadcrumbs in Stack Management UI"
**Kibana version:** 8.0.0 - SNAPSHOT

**Browser:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

The way breadcrumbs are displayed is inconsistent between different pages of the Stack Management UI - in fact, I found three different methods for how breadcrumbs are handled:

1. In `Stack Management > Snapshot and Restore`, each sub-p

[2022-01-10 18:36] elasticmachine commented on #122577
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-01-10 18:42] brianseeders commented on #116059
/skip

[2022-01-10 18:42] tylersmalley commented on #122459
@pgayvallet, I pinged the stack upgrade team and got confirmation from @mfinkle that we "should assume that 7.last will upgrade to 8.0 and 8.x". Hopefully that helps move things forward.

[2022-01-10 18:51] brianseeders commented on #116059
/skip

[2022-01-10 18:52] kibanamachine commented on #116059
Skipped

8.0: 9661789215cd7dacbd2d5a5c863696ea5b9743b6
7.16: 327b5bfc9dd99cab45db66dc10b3a13c0002b0bb
7.17: 8611c04b82fa692974ac9f9b21e48800a5c752eb

[2022-01-10 19:11] ecezalp commented on #122502
[this](https://github.com/elastic/kibana/pull/122581) seemed to fix it locally, we'll see how the backport build goes & go from there

[2022-01-10 19:12] lucasfcosta opened #122582 "[Fleet] [Uptime] Upgrade message for a package appears even though the package is already up-to-date"
**Kibana version:** `8.1.0-SNAPSHOT`

**Elasticsearch version:** `8.1.0-SNAPSHOT`

**Original install method (e.g. download page, yum, from source, etc.):** You can either reproduce this on the cloud or locally using `elastic-package stack up`.

**Describe the bug:** After creating a synthetics integration with the `0.7.0` version, when you try to edit it, you'll see a message saying that the inte

[2022-01-10 19:12] elasticmachine commented on #122582
Pinging @elastic/uptime (Team:uptime)

[2022-01-10 19:12] elasticmachine commented on #122582
Pinging @elastic/fleet (Team:Fleet)

[2022-01-10 19:35] lucasfcosta commented on #122582
This is also happening for APM:

<img width="768" alt="Screen Shot 2022-01-10 at 2 30 33 PM" src="https://user-images.githubusercontent.com/6868147/148827829-f7dc5d15-7775-4584-8680-70f5ecb7d2a9.png">

[2022-01-10 19:36] machadoum commented on #119418
Sorry for the delay. I backported the PR to 7.17 and 8.0.

https://github.com/elastic/kibana/pull/122543
https://github.com/elastic/kibana/pull/122536

[2022-01-10 19:44] kibanamachine opened #122584 "Failing test: Jest Tests.x-pack/plugins/security/public/management/roles/roles_grid - <RolesGridPage /> renders permission denied if required"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/506#9e4c477c-38b4-4800-b0dc-4a884ad725b8)

[2022-01-10 19:44] kibanamachine opened #122585 "Failing test: Jest Tests.x-pack/plugins/security/public/management/roles/roles_grid - <RolesGridPage /> renders role actions as appropriate, escaping when necessary"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/506#9e4c477c-38b4-4800-b0dc-4a884ad725b8)

[2022-01-10 20:10] Heenawter opened #122588 "[ML] Inconsistent breadcrumbs and title capitalization in Kibana"
**Kibana version:** 8.0.0 - SNAPSHOT

**Browser:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

### Inconsistent breadcumbs

An extra `Management` breadcrumb is added to the following three tabs:

1. `Machine Learning > Anomaly Detection > Job Management`

   ![image](https://user-images.githubusercontent.com/8698078/148829715-2938

[2022-01-10 20:10] elasticmachine commented on #122588
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2022-01-10 20:20] lucasfcosta commented on #122582
On some preliminary investigation I did, it does seem like the back-end is returning a diff with objects which are the same, and then that's being used by the UI as an indicator that an update is available, even though there's not an actual difference between the two objects **besides an ID**:

Here's the server's returned diff, which is obtained here:

https://github.com/elastic/kibana/blob/0619a

[2022-01-10 20:41] lukeelmers commented on #122459
Okay, after further discussion with @tylersmalley @pgayvallet @mfinkle @LeeDr & @elasticdog, here is where we ended up:
- In a perfect world, we have an Elasticsearch API that Kibana can check for compatibility instead of having hard-coded version numbers. But there isn’t enough time to get such a solution introduced in ES for use in 8.0.
- Not knowing how our versioning strategy may evolve in the

[2022-01-10 20:46] chrisronline commented on #122399
We can probably think of this data as much more "what happened recently" versus being a historical investigation story as we are aiming to deliver a stack monitoring integration that should help answer historical questions better.

I don't even think we have to rely on time as a variable here - why can't we just use execution counts? We persist the last n execution durations and calculate based on

[2022-01-10 20:48] chrisdistasio opened #122591 "[APM] Truncated Transaction names in Service overview"
### Kibana version

7.16.0

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Select Eden Demo for "Observability, SQL Database Issue"
Navigate to Observability->APM->Services->productCatalogService->Overview
View Transaction names in Transaction table

### Expected Behavior

In previous version of the (recorded

[2022-01-10 20:48] elasticmachine commented on #122591
Pinging @elastic/apm-ui (Team:apm)

[2022-01-10 20:53] chrisdistasio commented on #122591
Created issue based on a curiosity identified while viewing demos on eden.  Unsure of whether this is an issue or (un)intended change, but wanted to inquire with the team on the desired UX.  The full detail of the txn name is available via popup, its just one(+) additional action(s) required by the user to source and compare *(to other txns in the service).

cc: @alex-fedotyev , @formgeist , @dann

[2022-01-10 20:55] clintandrewhall opened #122594 "[meta] Track exceptions made to "CSS-in-JS first" principles"
As EUI continues to implement Emotion throughout its libraries, there are "gaps" that may surface in Shared UX as we fully adopt Emotion in our components.  This meta issue is meant to track known exceptions to the "favor CSS-in-JS" rule as decisions are made upstream.

## EuiButton
- [ ] `ExitFullScreenButton`

## SolutionAvatar
- [ ] `SolutionAvatar` [file](https://github.com/elastic/kibana/blob

[2022-01-10 20:55] elasticmachine commented on #122594
Pinging @elastic/eui-design (EUI)

[2022-01-10 20:59] jen-huang commented on #122215
@vustack I believe the validation logic in this file should be updated to additionally check for empty strings and return an error message `Host URL required` in those cases: https://github.com/elastic/kibana/blob/a5072041f23a74f761143300ca65d5e859cd603f/x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.tsx#L14

It may make sense

[2022-01-10 21:00] jamster10 commented on #121285
@michaelolo24, can we chat about this one

Removing autofocus from EuiComboBox from `x-pack/plugins/security_solution/public/timelines/components/edit_data_provider/index.tsx` fixes this but causes page jittering of the same menu, causing it to appear in the wrong place, before jumping to where it needs to be.

The heart of the issue is when a user clicks 'Edit Filter' in the context menu, the men

[2022-01-10 21:01] jen-huang commented on #122582
@kpollich Sending this your way. Thanks!

[2022-01-10 21:09] marshallmain commented on #121390
@deepikakeshav-qasource I was able to reproduce the behavior locally after upgrade, however the Data View selector appeared after refreshing the page once more. Can you confirm if the Data View selector shows up with the steps below (modified from the original steps to reproduce)?
1. Upgrade the build from 7.16 snapshot to 8.0.0 snapshot
2. Navigate to alerts tab as an admin user
3. Observe that d

[2022-01-10 21:19] andrewctate opened #122599 "[Lens] Hiding Tick Labels Changes Vertical Gridlines for Legacy Time Axis"
**Kibana version:** 8.0

**Steps to reproduce:**
1. Enable `visualization:useLegacyTimeAxis` in "Advanced Settings"
2. Create Lens
3. Select `kibana_sample_data_logs` as the data view
4. Drag `@timestamp` to horizontal axis
5. Drag `bytes` to vertical axis
6. Drag `geo.dest` to "Break down by"
7. Set time range to last 10 months
8. Hide tick labels on bottom axis

**Result:** vertical gridlines ch

[2022-01-10 21:19] elasticmachine commented on #122599
Pinging @elastic/datavis (Feature:ElasticCharts)

[2022-01-10 21:19] elasticmachine commented on #122599
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-10 21:19] elasticmachine commented on #122599
Pinging @elastic/datavis (Team:DataVis)

[2022-01-10 21:26] yctercero commented on #117399
Functionality is in. Closing out, QA is testing this and creating relevant bug tickets.

[2022-01-10 21:26] #117399 closed

[2022-01-10 21:27] yctercero commented on #109191
Hey @MadameSheema @deepikakeshav-qasource can we re-test this with the 8.0 BC before closing out?

[2022-01-10 21:31] ecezalp commented on #121982
https://github.com/elastic/kibana/pull/122601

[2022-01-10 21:32] jen-huang commented on #122436
@juliaElastic do you have some capacity to take a look at this issue?

[2022-01-10 21:49] mattkime commented on #112832
@Dosant was this closed by accident? Exalate is good at that.

[2022-01-10 22:05] #119933 closed

[2022-01-10 22:06] ecezalp commented on #121943
https://github.com/elastic/kibana/pull/122609

[2022-01-10 22:33] JohnKnoepfle commented on #18162
Hi @azasypkin,

This issue is related to https://github.com/elastic/enhancements/issues/8393 which is in turn related to an open support case https://elastic.my.salesforce.com/5004M00000Yoqf3.

The customer is asking for an update.   With the planned approach, will they be able to limit the number to concurrent sessions per user to zero?   I.e. I believe they want to configure it so that a given u

[2022-01-10 23:10] spong opened #122616 "[Security Solution] Allow ability to collapse expensive aggregations on Hosts page"
When searching through large amounts of data on the `Hosts` page, the aggregation widgets  (`Hosts`, `User authentications` and `Unique IPs`) can become quite expensive (https://github.com/elastic/kibana/issues/87095) and impact the usability of the table components below. In some situations the `Unique IPs` component can take multiple minutes when below table data is returned in a few seconds.

T

[2022-01-10 23:10] elasticmachine commented on #122616
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-10 23:40] spong commented on #122490
Ahhh, yes, thanks for confirming @madirey! 🙂

Since we've got quite a bit more infrastructure for perf testing these days I'd say it's worth getting some numbers behind this, and in the meantime a link off to the docs or simple explainer in the error message as you mention should suffice.

[2022-01-11 00:17] dominiqueclarke commented on #121919
It appears that the styles applied to `uptime_page_template_component` may have broken the main Overview page at larger breakpoints.

<img width="1511" alt="Screen Shot 2022-01-10 at 6 08 26 PM" src="https://user-images.githubusercontent.com/11356435/148859450-48658905-5dde-4708-a357-cf3c7ec5cf2d.png">

cc: @lucasfcosta

[2022-01-11 02:25] ecezalp opened #122621 "Tooltip needed on overflow only"
Would be nice if we had a component that only showed the tooltip if the content was overflowing (to prevent unneeded tooltips on regular mouse movement), but I don't think there's one floating around.

_Originally posted by @spong in https://github.com/elastic/kibana/pull/122601#discussion_r781707855_

[2022-01-11 02:28] elasticmachine commented on #122621
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-11 04:56] deepikakeshav-qasource commented on #121491
Hi @MadameSheema ,

We have validated this issue on **8.0.0-rc1 production** and observed that issue is **Still Occurring**.

Please find the below testing details:

**Build Details:**
[code]

**Screen record:**

https://user-images.githubusercontent.com/61860752/148883544-42f09313-5830-4639-a30a-8b96d3b8ca21.mp4

Thanks!!

[2022-01-11 05:40] deepikakeshav-qasource commented on #119633
Hi @MadameSheema and @ecezalp

We have validated this issue on **8.0.0-rc1 production** and observed that no java script error is displayed.

Please find the below testing details:

**Build Details:**
[code]

**Screen record:**

https://user-images.githubusercontent.com/61860752/148887225-8a307526-149e-4630-86d2-eab6baa29cf2.mp4

Please let us know if we are missing anything

Thanks!!

[2022-01-11 06:20] #121402 closed

[2022-01-11 06:26] Link3750 opened #122624 "Redundant Columns When Downloading Lens Tables"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** centOS 7

**Browser version:** google Chrome 97.0.4692.71

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** download page

**Describe the bug:**  I found redundant columns in a table Created by Lens. I guess when producing it, the server side makes some temp colum

[2022-01-11 06:35] kibanamachine commented on #122137
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/7468#57686f1b-b8db-4f6b-8788-06fb1ba93ace)

[2022-01-11 06:53] jugsofbeer commented on #100413
I dont mind which solution is chosen for an airgap environment, but can we choose one and get it merged into 7.17.0

Please.
Please.
Please.

We want to use this but this is the blocker.

[2022-01-11 07:21] amolnater-qasource opened #122625 "[Self-Managed][Fleet]: User is able to add both `http` and `https` in Fleet Server host field."
**Kibana version:**  8.0 rc-1 BC-1 Kibana self-managed environment

**Host OS and Browser version:** All , All

**Build details:**
[code]

**Preconditions:**
1. 8.0 rc-1 BC-1 Kibana self-managed environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Settings tab.
3. Add Fleet server host ip: `https://1.1.1.1:8220`.
4. Now again remove this an

[2022-01-11 07:21] elasticmachine commented on #122625
Pinging @elastic/fleet (Team:Fleet)

[2022-01-11 07:22] manishgupta-qasource commented on #122625
Reviewed & mention to @mostlyjason

[2022-01-11 07:47] deepikakeshav-qasource commented on #120712
Hi Team,

This issue is also occurring on **8.0.0 rc1** production build. Prebuilt Security Detection Rules missing under integration

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148899576-79441064-0fdd-4566-bcd7-cc8eac7e6c79.png)

Thanks!!

[2022-01-11 07:48] pnh10 opened #122626 "How to showcase Average CPU usage in Kibana?"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2022-01-11 08:01] deepikakeshav-qasource commented on #120596
Hi Team,

This issue is also occurring on **8.0.0 rc1** production build. Investigate in timeline is not working for Threshold rule

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148903397-e08fa559-6c4c-4830-bd91-d651659009e8.png)

Thanks!!

cc: @MadameSheema

[2022-01-11 08:10] amolnater-qasource commented on #122228
Hi @nchaulet
We have revalidated this issue on latest 8.0 Snapshot and found it **fixed** now.
- We are getting error on adding `http` ip and also able to add `https` ip which is available under Settings tab too.

**Build details:**
BUILD: 48933
COMMIT: 2fa075fc23e8e5e78c862cd6518fdcd3430ae1f7

**Screenshot:**
![8](https://user-images.githubusercontent.com/77374876/148901263-cea1c033-f987-49dd-a34

[2022-01-11 08:23] karanbirsingh-qasource commented on #122019
thanks @paulewing & @stephmilovic  for looking into the ticket.

Yes we are aware of the support for Kibana Saved Objects are only compatible with same/newer versions but in our case we are importing and exporting the timeline **not from the saved object and from the kibana security application**, so logged the ticket for it to confirm this flow of import and export going to have same behavior as

[2022-01-11 08:25] formgeist commented on #64144
@sqren I'm going to move this to the design board since it's been 2+ years since we looked at the design for this. Cc @alex-fedotyev

[2022-01-11 08:39] deepikakeshav-qasource commented on #120725
Hi Team,

This issue is also occurring on **8.0.0 rc1** production build. Prebuilt Security Detection Rules missing under integration

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148908921-4ce14b52-60c7-489c-bb14-c08dd09642bc.png)

Thanks!!

cc: @MadameSheema

[2022-01-11 08:49] amolnater-qasource commented on #122423
Further we had another observation on this, when we attempt to install agent using production mode of security.
We are unable to enroll when `http` ip is used on self-managed environment.
![13](https://user-images.githubusercontent.com/77374876/148910456-80b3a2f0-ec03-4220-b7cc-b0314d1a7dd2.JPG)

Thanks

[2022-01-11 08:50] amolnater-qasource commented on #122625
Further we had another observation on this, when we attempt to install agent using production mode of security.
We are unable to enroll when `http` ip is used on self-managed environment.
![13](https://user-images.githubusercontent.com/77374876/148910456-80b3a2f0-ec03-4220-b7cc-b0314d1a7dd2.JPG)

Thanks

[2022-01-11 08:50] #120396 closed

[2022-01-11 08:57] ruflin commented on #108456
In general I'm supportive of the change to create the policy on demand. It is possible that for some users this is considered a breaking change. Assuming someone had automation in place for setting up Kibana and assume the policy was there by default, this would break now. What is our recommendation for these users?

For the cloud change: What happens exactly when a the system package is removed a

[2022-01-11 09:01] pgayvallet commented on #122572
Mind sharing a few pointers regarding where the reports are generated from?

[2022-01-11 09:03] carlosdelest commented on #121975
I believe that the original intention was to use the `.monitoring-ent-search-*` index. However, as the stack monitoring code was not ready to be merged for 7.16, the tactical solution was to create a metricbeat dashboard to display the information.

In order for the metricbeat dashboard to work, indices had to be renamed to `metricbeat-*` to be available for metricbeat dashboards (see https://gith

[2022-01-11 09:07] #119633 closed

[2022-01-11 09:08] flash1293 commented on #122626
Looks like this is better suited for https://discuss.elastic.co/ (and it's missing a lot of context)

[2022-01-11 09:08] #122626 closed

[2022-01-11 09:10] MadameSheema commented on #119418
@deepikakeshav-qasource can you please validate the fix on the next 7.17.0BC and 8.0.0-rc2? Thanks!!!

[2022-01-11 09:10] flash1293 commented on #122624
Duplicate of https://github.com/elastic/kibana/issues/121063

[2022-01-11 09:10] #122624 closed

[2022-01-11 09:18] flash1293 opened #122631 "[Lens] "Show underlying data" drilldown action"
In https://github.com/elastic/kibana/pull/70045 we disabled the automatic filter context action for dashboards to show underlying data as it was very disruptive. Managing this on the instance level is probably not giving the user enough control. Implementing it as a drilldown instead users can enable it per-panel in the places where it makes sense.

This new drilldown action would only be enabled

[2022-01-11 09:18] elasticmachine commented on #122631
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-11 09:19] flash1293 commented on #122631
@kertal @ghudgins @vadimkibana What do you think about that?

[2022-01-11 09:19] formgeist commented on #122591
@chrisdistasio The table cell will truncate the transaction name label earlier then before because the solution navigation is now present (it was not showing in earlier versions). Also we've made additional space for the sparkline charts in the other metrics cells in the table.

![image](https://user-images.githubusercontent.com/4104278/148915132-ddd76102-9ec8-48de-8b63-f89cce3bee1a.jpeg)

Hope th

[2022-01-11 09:19] elasticmachine commented on #122588
Pinging @elastic/ml-ui (:ml)

[2022-01-11 09:24] afharo opened #122632 "[Telemetry] Deprecate `TelemetryStart.getIsOptedIn()` in favour of an observer"
https://github.com/elastic/kibana/issues/122146 identified an issue with `getIsOptedIn`.
The solution is OK for now, but it does not make sense to fetch the SO every time the API is called and expose potential ES connection glitches to the plugins calling this getter.

Ideally, this API should be an observer that emits whenever the value changes.

This issue is to create the new observer-based API

[2022-01-11 09:24] elasticmachine commented on #122632
Pinging @elastic/kibana-core (Team:Core)

[2022-01-11 09:25] deepikakeshav-qasource commented on #120872
Hi Team,

This issue is also occurring on **8.0.0 rc1** production build. Rule is getting failed intermittently

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148916036-38cdcb9a-9193-426e-8945-d005393038c0.png)

Thanks!!

[2022-01-11 09:28] carlopuri commented on #7446
great idea! please go on developing this feature...

[2022-01-11 09:28] sebelga commented on #122117
We don't need to disable the button _before_ the first time the user submits the form (it's a pattern we have followed in many other forms. Until the user has actually finished filling the form the validity is unknown. This also avoids flickering on/off the disabled status of the button while editing the script).

In 8.0 the script validation occurs when the user clicks on the "Save" button.

1. [

[2022-01-11 09:29] ghost opened #122633 "[Security Solution]Creating the custom rule with too many terms overlaps the add filter button."
**Describe the bug**
Creating the custom rule with too many terms overlaps the add filter button.

**Build Details:**
Version: 8.0.0 rc1
Commit: 51f4ded427abb6fd96c7d65e179fb367d450448c
Build:48917

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**
1. Click on create new rule.
2. Select the Custom Query

[2022-01-11 09:29] elasticmachine commented on #122633
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-11 09:31] MadameSheema commented on #122117
@karanbirsingh-qasource once the 8.0.0-rc1 testing is finished, can you please validate the issue on main and 8.0.0 branches? Thanks!!

[2022-01-11 09:40] afharo opened #122634 "[Telemetry] Better error handling at the `telemetry_plugin_collector`"
In the `telemetry_plugin_collector` we are swallowing any errors thrown by `getTelemetrySavedObject`:
https://github.com/elastic/kibana/blob/c2641bd8cc875dd50c63a40fbaf3054780cd570b/src/plugins/telemetry/server/collectors/telemetry_plugin/telemetry_plugin_collector.ts#L45-L52

I don't think that we should do this as we might report different data depending on whether there's an ES connection issue

[2022-01-11 09:40] elasticmachine commented on #122634
Pinging @elastic/kibana-core (Team:Core)

[2022-01-11 09:53] flash1293 commented on #122599
Not sure whether it's even possible to keep the gridlines stable in all cases - I think they are defined by the position of the tick labels, so if there are no tick labels elastic-charts has to fall back to some standard behavior. @nickofthyme @markov00 what do you think?

[2022-01-11 09:57] afharo opened #122636 "[Telemetry] Report collector success/fail rate"
When Kibana generates the Telemetry report, it skips any failed collectors and only includes the successful ones. When analyzing the report, we have no way to tell when a collector failed other than comparing the number of keys vs. a successful one.

I think it's worth adding this metadata for us to understand when this happens.

The output format could be like
[code]

[2022-01-11 09:57] elasticmachine commented on #122636
Pinging @elastic/kibana-core (Team:Core)

[2022-01-11 09:59] crisdarocha commented on #120384
+1 on @simianhacker's comment too. I think the risks of having it by default are surely high.

Not sure how it's done in ESS though. I can't see the settings myself, but I believe ESS has this by default and changing it requires an override.

[2022-01-11 10:00] afharo commented on #122636
This could benefit our load-testing suite https://github.com/elastic/kibana-load-testing/pull/211

[2022-01-11 10:02] afharo opened #122637 "Large datasets"

[2022-01-11 10:04] kertal opened #122638 "[Discover] Context view doesn't work when there are encoded special chars in the id given by URL"
**Kibana version:**
7.16

**Describe the bug:**

Given the id of a document in Elasticsearch contains an id with a special character like `+` "View surrounding documents" no longer works.

**Steps to reproduce:**
1. Create a document containing a + in its id
[code]
2. Create a data view
3. Navigate to Discover, adapt time range so you can find the document
4. Expand the document and click on "View

[2022-01-11 10:04] elasticmachine commented on #122638
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-11 10:04] #122489 closed

[2022-01-11 10:08] kertal commented on #122631
sounds good to me

[2022-01-11 10:08] s7an-it commented on #56406
Bump, this makes huge sense for log analysis...

[2022-01-11 10:10] rudolf commented on #30403
Closing as duplicate of the newer https://github.com/elastic/kibana/issues/122459 which has more up to date context.

[2022-01-11 10:10] #30403 closed

[2022-01-11 10:17] banderror commented on #120872
Hey @deepikakeshav-qasource, thank you for taking a look. The build you are referring to (`51f4ded427abb6fd96c7d65e179fb367d450448c` commit `[Fleet] Handle error correctly in fleet server host input on prem instructions (#122341) (#122351)`) does not include the backport commit with the fix (`2888fca3c6113b283045d79710c8b3a25f5bd834` commit `[Security Solution][Detections] Fix GET /api/detection_e

[2022-01-11 10:39] philippkahr opened #122641 "[Logstash][Centralized pipeline management] does not update the version metadata in the .logstash index."
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** ESS

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

When changing a configuration in the Logstash centralized pipeline management one would expect that the version metadata field gets updated, instead it always sits at version 1.

**Steps to reproduce:**
1. C

[2022-01-11 11:00] azasypkin commented on #18162
Hi @JohnKnoepfle ,

Yes, this certainly will be possible with the proposal we have (at the RFC stage at the moment). Depending on the configuration, the 2nd session will either be forbidden or it will automatically displace the oldest one. The configuration might look something like this:
[code]

[2022-01-11 11:07] dej611 opened #122644 "[Visualize][Gauge] Disabled alignment option for single gauge configuration"
**Describe the feature:**

At for now the Gauges visualization editor provides an alignment option, which makes sense for a small multiples/split group configuration, but for a singular gauge it does not make much sense: so I'd expect to not have visual impact on the visualization.

Currently changing the option for a single gauge makes the chart "jump", which is just confusing:

![gauge_align_dan

[2022-01-11 11:14] lucasfcosta commented on #121919
@dominiqueclarke This has been solved in #122643, so I've moved this issue to post-FF testing again.

[2022-01-11 11:15] tomhe opened #122645 "Index pattern field filter hides non-mapped fields in Discover"
**Kibana version:**

7.16.2

**Elasticsearch version:**

7.16.2

**Server OS version:**

Docker

**Browser version:**

Microsoft Edge
Version 97.0.1072.34 (Official build) beta (64-bit)

**Browser OS version:**

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.6 LTS
Release:	18.04
Codename:	bionic

**Original install method (e.g. download page, yum, from source, etc.):**

Docker

**Describe the bu

[2022-01-11 11:19] elasticmachine commented on #122644
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-11 11:31] karanverma-qasource commented on #119836
Hi Team,

We have validated above issue on 8.0.0 rc1 build and found that issue is occurring on it as well.

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/148930995-8121a5ed-a14a-460a-ba77-d8473f02e6a5.png)

![image](https://user-images.githubusercontent.com/91867110/148931180-419d03a0-2152-4d38-a143-6d54eeceed19.png)

Thanks !

cc: @MadameSheema

[2022-01-11 11:36] #119250 closed

[2022-01-11 11:39] kpatticha commented on #113468
As for the `Custom links selection of fields` based on the [documentation](https://www.elastic.co/guide/en/kibana/master/custom-links.html#custom-links-filters) there are always only 4 options. I don't think it's the suggestionsSelect would be usefull to the end use

[2022-01-11 11:42] peteharverson commented on #122588
This can be addressed as a follow-up to the switch to the side navigation in https://github.com/elastic/kibana/pull/121652.

Another inconsistency here I think. With Settings moving under Anomaly Detection, there should be an extra breadcrumb level here - Machine Learning - Anomaly Detection - Settings

![image](https://user-images.githubusercontent.com/7405507/148936533-c7512c0c-8c03-438a-8000-5b

[2022-01-11 11:43] MadameSheema commented on #119836
@karanverma-qasource can you please validate as well if the exception can be added from the exceptions tab??

[2022-01-11 11:47] peteharverson commented on #122588
I agree that it probably makes sense for the breadcrumbs to match the level selected in the new side navigation.

So here the last 'Job Management' breadcrumb should go, and the page title should be 'Anomaly Detection':

![image](https://user-images.githubusercontent.com/7405507/148936895-2a3f5a37-f1c9-4d76-b1ee-8bb98a2f26b6.png)

And similarly here, we could lose the last 'Job Management' breadcr

[2022-01-11 11:50] peteharverson commented on #122588
For the Model Management page, the page title should probably be 'Model Management' and the breadcrumbs should match to be Machine Learning - Model Management.

Should the first tab be labelled 'Trained models' rather than just 'Models'?

![image](https://user-images.githubusercontent.com/7405507/148937284-3ecdfacd-d6a1-4945-878e-36115915c792.png)

And when selecting the Nodes tab, keep the same p

[2022-01-11 11:54] peteharverson commented on #122588
For the Data Visualizer page, as you suggested @darnautov, we could add sub-levels for 'File' and 'Index'.

![image](https://user-images.githubusercontent.com/7405507/148937774-d69b1d52-19b4-4951-a064-f45520949f38.png)

And if possible it would be good to address a long-standing issue where on the first page after selecting the Index view, the breadcrumbs come from the re-use of the anomaly detect

[2022-01-11 11:58] kertal commented on #122570
Closing this because the 2nd request is fine, it's not requesting the charts data, it's requesting the total hits, works as expected in this case

[2022-01-11 11:58] #122570 closed

[2022-01-11 12:02] karanverma-qasource commented on #119836
Hi @MadameSheema ,

We are able to add exceptions from exception tab.

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/148939039-e3405058-9310-4001-8135-0c59326d9039.png)

![image](https://user-images.githubusercontent.com/91867110/148939110-13cfb140-f6ec-489e-b661-f598dc5fbbf7.png)

Thanks !

[2022-01-11 12:08] karanbirsingh-qasource commented on #118610
Hi @cnasikas

thanks for this and sharing the another instance for testing .

we have now validated on 8.0.0-RC1 and found it fixed. For non-english service now instance we are only getting English language on kibana side

**Build Details:**
[code]

**Screen-Shoots:**

![image](https://user-images.githubusercontent.com/59917825/148939125-1500ac2d-56d3-44c3-b5a6-86c396ba183e.png)
![image](https://u

[2022-01-11 12:26] #121269 closed

[2022-01-11 12:37] karanverma-qasource opened #122650 "[Security Solution] [Question] Getting Invalid params message when update the custom query rule to EQL Rule."
**Describe the Question:**
[Security Solution] [Question] Getting Invalid params message when update the custom query rule to EQL Rule.

[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Rules tab under security.
2. Click on create New Rule button.
3. Create custom query rule.
4. Add a rule exception with

[2022-01-11 12:37] elasticmachine commented on #122650
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-11 13:07] yctercero commented on #119836
Thanks @MadameSheema and @karanverma-qasource ! I'll pick this one up.

[2022-01-11 13:11] graphaelli commented on #40704
We'll take a different approach as part of the next getting started effort

[2022-01-11 13:11] #40704 closed

[2022-01-11 13:18] janmonschke commented on #121504
@shubhamkanwar-qasource The fix was merged last week, can you check it it's fixed in the latest BC?

[2022-01-11 13:19] michaelolo24 commented on #122019
@karanbirsingh-qasource  - Thanks for being diligent on checking this, it's much appreciated! To answer your questions, the timeline will follow the same pattern as the saved objects because that's what's being imported & exported under the hood so it likewise won't be backwards compatible. Regarding it not showing up in the Saved Object Management(SOM) page, it won't at the moment, because we nee

[2022-01-11 13:25] deepikakeshav-qasource commented on #120863
Hi Team,

This issue is also occurring on **8.0.0 rc1** production build.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/148950570-8653fe2b-21a2-4f72-923d-3623dfaef450.png)

Thanks!!

[2022-01-11 13:33] deepikakeshav-qasource opened #122654 "[Security Solution] Information is not available in "security news" on overview tab"
**Describe the bug**
Information is not available in "security new" on overview tab

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 8.0.0 rc1
2. Any beat or endpoint should be installed

**Steps to Reproduce**
1. Navigate to Overview table under security
2. Scroll down the page
3. Observe that information is not available in "security new" on

[2022-01-11 13:33] elasticmachine commented on #122654
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-11 13:40] juliaElastic commented on #122436
@jen-huang I can take a look this week, finishing up my feature. Let me know if it is more urgent.

[2022-01-11 13:42] juliaElastic commented on #122290
@amolnater-qasource the doc update was merged, I'm not sure when the new version of docs are published, perhaps at the same time with a new release? If so, it would be in the next 7.16.x release

[2022-01-11 13:50] mistic commented on #122137
This test keeps failing and looks flaky. Skipping for now.

main/8.1: d12c1e8
8.0: 470aeee

[2022-01-11 14:09] pgayvallet commented on #122237
Assigning to myself to confirm the resolution once EUI get bumped to the fix version on Kibana

[2022-01-11 14:12] yctercero commented on #121756
Hey @gavinwye - This seems to have been addressed here - https://github.com/elastic/kibana/issues/104406

Let me know if it should be changed back, otherwise I think we can close this out. Thanks!

[2022-01-11 14:12] afharo commented on #122572
Good point! We generate the report here: https://github.com/elastic/kibana/blob/d12c1e82cfc633729667ec91d750288092eca868/src/plugins/telemetry_collection_manager/server/plugin.ts#L245-L284

[2022-01-11 14:14] MadameSheema commented on #122019
Closing since the behaviour is the expected one. Thanks team! :)

[2022-01-11 14:14] #122019 closed

[2022-01-11 14:14] jsanz opened #122656 "[Maps] Label border color is not removed from legend when disabled"
**Kibana version**:
8.0.0-rc1

**Elasticsearch version**:
same

**Server OS version**:
cloud

**Browser version**:
Firefox 95

**Browser OS version**:
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.)**:
Cloud

**Description of the problem including expected versus actual behavior**:
When dilabling label features by setting it as `Fixed`, the previous label borde

[2022-01-11 14:21] MadameSheema commented on #121504
@janmonschke thanks for letting us know, please feel free to add the `fixed` label as soon as the fix is merged and backported, in this way is easier for us to track what we need to test 😊

[2022-01-11 14:21] #122146 closed

[2022-01-11 14:30] nchaulet opened #122660 "[Fleet] Integration listing performance - integration grid rendering"
## Description

Related to #118751

Rendering the whole integration list is slow with the current number of integration (256)

You can see in this CPU profile (with cpu throttling) the two big block of blocking JS one we render the list the first time with the non Fleet integration and the second time with Fleet integration .

We also load all the icon for each package that could be problematic

<

[2022-01-11 14:30] elasticmachine commented on #122660
Pinging @elastic/fleet (Team:Fleet)

[2022-01-11 14:33] flash1293 commented on #122599
Makes sense to me, closing for now, I someone feels strongly about changing the current behavior feel free to re-open for further discussion.

[2022-01-11 14:39] elasticmachine commented on #122645
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-11 14:43] MadameSheema commented on #120722
@deepikakeshav-qasource can you please validate if this is happening on 8.0.0-rc1 as well?

[2022-01-11 14:46] elasticmachine commented on #122645
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-11 14:47] klacabane commented on #121975
Stack monitoring already uses `.monitoring-ent-search-*` index pattern which is covered by [functional tests](https://github.com/elastic/kibana/tree/main/x-pack/test/functional/apps/monitoring/enterprise_search) (see the [loaded mappings](https://raw.githubusercontent.com/elastic/kibana/main/x-pack/test/functional/es_archives/monitoring/ent_search/with_es/mappings.json)) so updating entsearch vend

[2022-01-11 14:52] Dosant opened #122662 "Delete `courier:batchSearches` from settings during 8.0 migration"
**Kibana version**: 8.0-rc1

**Description of the problem including expected versus actual behavior**:

We removed `courier:batchSearches` that was deprecated for a while https://github.com/elastic/kibana/pull/109350

When upgrading to 8.0 and when you had this setting ON you'd still have it in the advanced settings screen as a custom setting:
![Screen Shot 2022-01-11 at 12 24 33](https://user-ima

[2022-01-11 14:53] elasticmachine commented on #122662
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-11 14:57] Dosant opened #122663 "Add a warning about removed `courier:batchSearches` to 8.0 upgrade assistance"
We removed `courier:batchSearches` that was deprecated for a while in https://github.com/elastic/kibana/pull/115681

I think it is worth adding a warning to upgrade assistance so that clusters that were for some reason using the setting a likely to be aware of the change

something similar to: https://github.com/elastic/kibana/blob/7cc56cee5caf708883e93d17ac784fa946b986f5/x-pack/plugins/reporting/

[2022-01-11 14:58] jasonrhodes commented on #120803
Yep! Metrics UI has these already, and we're looking into adding them for the Logs UI, so this idea is meant to allow packages to install those SOs for our UIs. See: https://github.com/elastic/kibana/issues/96503

[2022-01-11 15:03] carlosdelest commented on #121975
I believe Metricbeat does this automatically, according to the `fields.yml` files included in both [health](https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/enterprisesearch/health/_meta/fields.yml) and  [stats](https://github.com/elastic/beats/blob/master/x-pack/metricbeat/module/enterprisesearch/stats/_meta/fields.yml) metricsets in the Enterprise Search module.

@richkuz ,

[2022-01-11 15:05] kertal commented on #122256
@dcolazin thx was resolved in #92442

[2022-01-11 15:05] #122256 closed

[2022-01-11 15:05] #122392 closed

[2022-01-11 15:18] JaoKlintone opened #122664 "Discover throws an `Invalid string. Length must be a multiple of 4` error"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** Windows 10

**Browser version:** Firefox 95.0.2 (64-bit)

**Browser OS version:** Windows

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:** Discover app throws an `Invalid string. Length must be a multiple of 4` error if there is a document that contai

[2022-01-11 15:25] tomhe opened #122665 "New Document Explorer shows non-mapped fields with ["brackets"] and double quotes"
**Kibana version:**

7.16.2

**Elasticsearch version:**

7.16.2

**Server OS version:**

Docker

**Browser version:**

Microsoft Edge
Version 97.0.1072.34 (Official build) beta (64-bit)

**Browser OS version:**

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.6 LTS
Release:	18.04
Codename:	bionic

**Original install method (e.g. download page, yum, from source, etc.):**

Docker

**Describe the bu

[2022-01-11 15:25] lukeelmers commented on #121956
Removing these should be pretty straightforward, we just need to spend some time to investigate each one to be 100% sure it is safe to do so.

[2022-01-11 15:30] jsanz opened #122666 "[Maps] Error rendering cluster layer of geoshape documents styled by category"
**Kibana version:**
`8.0.0-rc1` and `7.16.2`

**Elasticsearch version:**

**Server OS version:**
Elastic Cloud

**Browser version:**
Firefox 95

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Describe the bug:**
On a geoshape blended layer that is styled by a field, when zooming out and promoting to clusters the render fails

[2022-01-11 15:30] elasticmachine commented on #122666
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-11 15:33] lukeelmers commented on #119652
@bhavyarm Is this issue safe to close?

[2022-01-11 15:39] kpatticha commented on #113468
oh I see, now it makes sense @smith thanks for the clarification

[2022-01-11 15:42] elasticmachine commented on #122665
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-01-11 15:43] lukeelmers commented on #110618
With existing deprecation logs & with the possibility of future event based telemetry, we don't think this issue is needed anymore.

[2022-01-11 15:43] #110618 closed

[2022-01-11 15:49] semd commented on #122205
Hello, I checked the problem using the environment from which the issue was detected (thanks @muskangulati-qasource for that) and I detected this is caused by having more than one OS data for the same host name. You can check that executing this `os` aggregation in the dev tools:

<details>
<summary> <strong>os aggregation</strong> </summary>

[code]
</details>

<details>
<summary> <strong>respons

[2022-01-11 15:54] elasticmachine commented on #122664
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-11 15:56] Dosant commented on #122664
@JaoKlintone, thanks for reporting,
Could you share a sample document to reproduce?

Could you try to go to advanced settings and enabled `bfetch:disableCompression`  ?

[2022-01-11 16:06] bhavyarm commented on #119652
Yes it is. I migrated system indices successfully two times in 7.17.0 BC1. Thanks @lukeelmers

[2022-01-11 16:06] #119652 closed

[2022-01-11 16:17] mostlyjason commented on #100413
Thanks I love hearing from our users because it will help us prioritize this and deliver the best solution. @jugsofbeer I appreciate your enthusiasm! This is currently on our 8.x roadmap. I can't give a specific time frame for this feature right now.

[2022-01-11 16:20] mostlyjason commented on #122625
@nimarezainia should we remove HTTP as an option if we plan have secrets going through Fleet Server? We could also tie that requirement to https://github.com/elastic/obs-dc-team/issues/618

[2022-01-11 16:39] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7499#4ddf9c76-e04c-4952-b8fc-890bf8429be9)

[2022-01-11 16:42] vadimkibana commented on #72880
Screenshot from current v7.17 Elastic cloud deployment of what is downloaded on initial page load for future reference:

![image](https://user-images.githubusercontent.com/82822460/148984071-1291ef5a-ff7e-46d6-b5d7-56cc3f5af8cd.png)

![image](https://user-images.githubusercontent.com/82822460/148984166-2b0e6764-f3a9-448c-a952-db62a003065e.png)

![image](https://user-images.githubusercontent.com/82

[2022-01-11 16:45] elasticmachine commented on #122575
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-11 16:46] bhavyarm commented on #122365
This also happens on heatmap viz. Plus when you click on edit script - Kibana just plunks the user on index pattern management page. Not the specific scripted field user needs to fix.

Here is the error on viz  on dashboard:
<img width="1792" alt="Screen Shot 2022-01-11 at 11 22 14 AM" src="https://user-images.githubusercontent.com/7074629/148981385-fd01566a-3374-444b-9e9e-83e9052300bf.png">

on t

[2022-01-11 16:47] elasticmachine commented on #122365
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-11 16:47] crob611 opened #122673 "[Canvas] Demo data has no data for the last year"
Kept trying to figure out why no data was showing up whenever I included a time filter.

Turns out Dec 31, 2020 is the last date for data in demodata.

We should add in a few more years of data to make sure this doesn't happen again, or think of a way to dynamically generate this data.

[2022-01-11 16:47] elasticmachine commented on #122673
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-11 16:49] jsanz opened #122674 "[Maps] Color ramp UI for percent of a top term in join layer is broken"
**Kibana version:**
8.0.0-rc1 (tested in 7.16.2 and it works)

**Elasticsearch version:**
same

**Server OS version:**
cloud

**Browser version:**
Firefox 95

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
The color ramp for the percent of a top term metric in a joined field of a Choropleth layer does not

[2022-01-11 16:54] jsanz commented on #122674
I can also get the same error for the `Label color` and `Label border color` properties. For the `Label size` the list does not show the metric.

![image](https://user-images.githubusercontent.com/188264/148986488-7b11a379-dd36-481a-bffe-e6625727bec4.png)

[2022-01-11 17:18] andrewctate opened #122678 "[Lens] New visualization is sometimes messed up after it is saved"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Browser version:**
Edge

**Describe the bug:**
Saving a new visualization involves reloading the editor. Occasionally, the visualization seems to get rendered incorrectly after this reload.

**Steps to reproduce:** (this is hard since it is occasional... still looking into a reliable way to reproduce)
1. Create new lens visualization (I ha

[2022-01-11 17:18] elasticmachine commented on #122678
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-11 17:22] bndabbs opened #122679 "[Fleet] API accepts incomplete package policy causing UI errors"
**Kibana version:** 7.16

**Elasticsearch version:** 7.16

**Server OS version:** Cloud

**Browser version:** Safari 15.1

**Browser OS version:** MacOS Big Sur

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:** When importing package policies via the API, a 200 status is returned as long as the basic structure of the request conforms to the API

[2022-01-11 17:25] stacey-gammon commented on #72880
re-added ops team since @tylersmalley mentioned them helping out with the deployment strategy side.

[2022-01-11 17:28] andrewctate commented on #122678
May get resolved in https://github.com/elastic/kibana/issues/104790

[2022-01-11 17:38] nchaulet commented on #118751
I created the following issues after investigation more

For the integration listing page:
* https://github.com/elastic/kibana/issues/122660

For the details page
* https://github.com/elastic/kibana/issues/122560
* https://github.com/elastic/kibana/issues/122557

[2022-01-11 17:42] mattkime commented on #90996
I spoke to my team about this and it sounds like this needs to be examined at the embeddable level.

[2022-01-11 17:44] simianhacker opened #122683 "[Metrics UI] All the times on the Elastic Charts are using UTC instead of the browser timezone"
**Kibana version:**

7.16.2+

**Elasticsearch version:**

7.16.2+

**Original install method (e.g. download page, yum, from source, etc.):**

Any

**Describe the bug:**

All the Elastic Charts in the Metrics UI are displaying UTC on the X-Axis. This issue was introduced in https://github.com/elastic/elastic-charts/pull/1383 and appearded in 7.16.2. Anything that is using the `niceTimeFormatter` an

[2022-01-11 17:44] elasticmachine commented on #122683
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-01-11 17:48] simianhacker opened #122684 "[Observability] All the times on the Elastic Charts are using UTC instead of the browser timezone on the overview page"
**Kibana version:**

7.16.2+

**Elasticsearch version:**

7.16.2+

**Original install method (e.g. download page, yum, from source, etc.):**

any

**Describe the bug:**

All the Elastic Charts in the overview page are displaying UTC on the X-Axis. This issue was introduced in elastic/elastic-charts#1383 and appearded in 7.16.2. Anything that is using the `niceTimeFormatter` and relying on the defa

[2022-01-11 17:54] andrewctate opened #122685 "[Lens] [Donut] rollup histogram field slice-by rollup term keyword field fails"
**Kibana version:**
8.0

**Elasticsearch version:**
8.0

**Describe the bug:**
Creating a donut/pie/treemap with a rollup histogram field sliced by a term keyword field fails.

**Steps to reproduce:**
1. Follow [these instructions](https://www.elastic.co/guide/en/kibana/8.0/data-rollups.html) through creating the data view to get rollup data
2. Create new Lens
3. Select rollup data view
4. `bytes`

[2022-01-11 17:54] elasticmachine commented on #122685
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-11 17:55] JohnKnoepfle commented on #18162
HI @azasypkin,

Thank you for the quick reply!   That sounds like exactly what they are looking for.   They are asking for a status update so I will just let them know engineering is actively working on it and it is in the RFC stage.

[2022-01-11 17:57] #122432 closed

[2022-01-11 18:02] jugsofbeer commented on #100413
We have been waiting to use fleet in the v7 for 6months while all the necessary parts are fixed and finishes for an ece based air gapped environment with logstash involved.

So to NOT have this last item in v7 is a real buzzkill.

when v8 comes out as GA, we wouldnt upgrade to it until v8.2 or v8.3 when all the bugs we need solved are solved, just like or v6 to v7process.

I really want to impress

[2022-01-11 18:18] dominiqueclarke commented on #115960
@paulb-elastic moving to 8.1

[2022-01-11 18:22] flash1293 opened #122687 "[AggConfigs] Use correct time zone for time shifting"
Currently the time shifting feature in the agg configs framework is using moment as-is to do date calculations for shifting dates back and forth, implicitly using the time zone set in the current space or browser:

https://github.com/elastic/kibana/blob/38feafad72081ab33147c1c725fe55347802e174/src/plugins/data/common/search/aggs/utils/time_splits.ts#L439

https://github.com/elastic/kibana/blob/3c0

[2022-01-11 18:22] elasticmachine commented on #122687
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-11 18:32] monina-n commented on #121377
Here is the design discussion for this bug https://github.com/elastic/security-design-team/discussions/20

There's some additional context needed on the second scenario (timeline inspect) so whoever engineer is assigned to this, we can set up a meeting to talk more.

[2022-01-11 18:33] andrewctate commented on #122685
Here's an example of a heatmap configuration that elicits the same error
<img width="1904" alt="Screen Shot 2022-01-11 at 12 31 58 PM" src="https://user-images.githubusercontent.com/315764/149001054-ad885e62-56a1-4a24-a2a6-197b6d88d110.png">

[2022-01-11 18:37] liza-mae commented on #122440
Fixed thanks @flash1293

[2022-01-11 18:37] #122440 closed

[2022-01-11 18:45] a03nikki opened #122693 "[Security Solution] Cases display incorrect with long lines and words"
**Describe the bug:**
When cases contain descriptions or comments where the lines or words are long, the UI renders in a way that it does not word wrap or scroll the text.  This makes it so parts of the screen are not able to be viewed.

**Kibana/Elasticsearch Stack version:** 7.16.2

**Server OS version:** cloud.elastic.co on GCP

**Browser and Browser OS versions:** Firefox 95.0.2 on MacOS 11.6.

[2022-01-11 18:45] elasticmachine commented on #122693
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-11 18:45] elasticmachine commented on #122693
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-01-11 18:51] XavierM commented on #122399
Tasks
- [ ] Create schema on the rule saved object to add the duration, P50/95/99 ->
- [ ] Saved the duration of the execution at each run and let's cap it at 60 ->
- [ ] calculate the P50/95/99 from the duration attributes at each run ->
- [ ] add the columns P50/95/99 in the rule management table ->

_Bonus_
- [ ] Convert EuiBasictable to EuiDatagrid ->
- [ ] Allow hide/show columns ->
- [ ] Add

[2022-01-11 18:57] rylnd commented on #122455
I investigated this issue and was unable to reproduce the bug through a genuine upgrade. In 7.15, a new rule receives a value of `muteAll: false`, and when upgraded to 7.16, that value is respected by our `maybeMute` helper through the disable/enable workflow, and actions continue to fire after being migrated. As confirmed with the Alerting team, a value for `muteAll` is enforced at the alerting A

[2022-01-11 19:11] stephmilovic commented on #122161
I just merged into the 8.0 branch

[2022-01-11 19:12] MadameSheema commented on #122161
@karanverma-qasource can you please validate this fix on 8.0.0-snapshot or 8.0.0 branch? Thanks!

[2022-01-11 19:14] MadameSheema commented on #120596
@deepikakeshav-qasource can you please validate the fix on 8.0.0? Thanks!

[2022-01-11 19:16] MadameSheema commented on #121982
@deepikakeshav-qasource can you please validate the fix on 8.0.0? Thanks! :)

[2022-01-11 19:18] MadameSheema commented on #121504
@shubhamkanwar-qasource please validate the issue on the next 7.17BC and in current 8.0.0. Thanks!

[2022-01-11 19:18] MadameSheema commented on #121491
@deepikakeshav-qasource please validate the fix on 8.0.0. Thanks :)

[2022-01-11 19:21] MadameSheema commented on #120859
@karanbirsingh-qasource please validate this fix on 8.0.0. Thanks! :)

[2022-01-11 19:23] elasticmachine commented on #122633
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-11 19:25] banderror commented on #122633
This might be a duplicate of https://github.com/elastic/kibana/issues/122411
We will keep both tickets until it's clear.

[2022-01-11 19:30] jen-huang commented on #122290
Closing per Julia's comment above (thanks!).

[2022-01-11 19:30] #122290 closed

[2022-01-11 19:31] elasticmachine commented on #121990
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-11 19:33] banderror commented on #121990
@shubhamkanwar-qasource could you please file a separate issue for the similar bug in Cases and ping/assign @cnasikas?

[2022-01-11 19:38] elasticmachine commented on #121754
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-01-11 19:44] banderror commented on #121754
This label could also just show `Total 561 rules`.
A more verbose label could show: `Rules: total 561, showing 20, selected 0`.

@yiyangliu9286 could you please share your thoughts?

[2022-01-11 19:46] nchaulet opened #122700 "[Fleet] Updating a package when a cluster have a large list of pending tasks is problematic"
## Description

Updating a package when a cluster have a large list of pending tasks could be really problematic.

It could happen during Fleet setup that we trigger a rollover for existing data stream if we are not able to update them in place (incompatible mappings for example, ...)

In this case Fleet will make things worse for the cluster state and will not be able to install the package corre

[2022-01-11 19:46] elasticmachine commented on #122700
Pinging @elastic/fleet (Team:Fleet)

[2022-01-11 19:55] dominiqueclarke commented on #122404
@elastic/es-analytics-geo
Do you have any suggestions for beginning to debug this? We have not made any changes to this map in 7.16.x and beyond. I took a look briefly at the input we're passing to the map embeddable and it appears correct. The raw values received from the tooltip items are coming back as `undefined`. Debugging has been challenging.

[2022-01-11 20:01] Heenawter opened #122703 "[Dashboard] Do not display the Share menu when the dashboard is empty"
**Kibana version:** 8.0.0 - SNAPSHOT

**Browser:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

When generating a report from an empty dashboard, you get unpleasant results:

- **PDF report - Optimize for print**

   ![image](https://user-images.githubusercontent.com/8698078/149012676-c9f04883-815a-4226-a7bd-54a26421e00b.png)

- **

[2022-01-11 20:01] elasticmachine commented on #122703
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-11 20:01] elasticmachine commented on #122703
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-11 20:09] pmuellr commented on #89303
Just found this issue as I'm doing some 8.0.0 testing to ensure the "edit" button is not enabled in the stack management alerting rules pages for SIEM rules, and realized it would be super-useful to users to enable the "View in app" capability which presumably would provide some kind of "editing", or at least a better view.  I was going to open a new issue, but found this one, thought I'd chime in

[2022-01-11 20:12] jasonrhodes commented on #122683
@monfera @elastic/elastic-charts can someone weigh in here? If the above ticket description is wholly accurate, this would be a pretty wide-reaching bug, I'd imagine?

[2022-01-11 20:12] spong commented on #122633
Yeah, looks to be a dupe of #122411, with  #122411 also covering the KQL bar on the main Alerts page too (though this one is confirming it's also an issue in `8.0`).

[2022-01-11 20:17] jportner opened #122704 "Use "critical" deprecation level for `elasticsearch.username: elastic` configuration"
In #51101, we outlined our intent to prevent Kibana from authenticating to Elasticsearch using the `elastic` superuser in production. (We already prevent this in dev mode)

At first we'd hoped to make that breaking change in the 8.0 release, but we decided to defer it along with several other planned breaking changes.

Now, elastic/elasticsearch#81400 will change the superuser role to remove write

[2022-01-11 20:18] elasticmachine commented on #122704
Pinging @elastic/kibana-security (Team:Security)

[2022-01-11 20:19] #122455 closed

[2022-01-11 20:41] pmuellr opened #122707 "[ResponseOps] defaultScheduleInterval of ruleType not used in create rule flyout"
**Kibana version:** 8.0.0-rc1

While re-running some old 7.16 tests for 8.0.0 testing week, I ran one which is supposed to check that the `defaultScheduleInterval` and `minimumScheduleInterval` ruletype properties are honored.  No problem with `minimumScheduleInterval`, but I was unable to see `defaultScheduleInterval` in use.

To test, I just hacked the index threshold rule type: at the end of th

[2022-01-11 20:41] elasticmachine commented on #122707
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-11 20:48] ymao1 opened #122708 "[Alerting] Investigate allowing shard_delay aggregation in development mode for stack rules"
To test `search_sessions`, the App Services team added a `data.search.aggs.shardDelay.enabled` setting that, when enabled, allows you to specify a `shard_delay` aggregation to use to extend query times for testing. [PR here](https://github.com/elastic/kibana/pull/77423). We can investigate adding a similar setting to the `stack_alerts` plugin to allow our stack rule executors to use the `shard_del

[2022-01-11 20:48] elasticmachine commented on #122708
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-01-11 20:49] #121152 closed

[2022-01-11 20:55] #122298 closed

[2022-01-11 20:57] jasonrhodes commented on #122683
Question: If we specify a timezone value to the chart, which should it be? There is a Kibana advanced setting for this but I don't know if we use that in observability apps already. @elastic/infra-monitoring-ui does anybody know if we have a precedent for that?

[2022-01-11 21:01] Heenawter opened #122710 "[Reporting] [Dashboard] [Maps] Failure when creating PNG report with map embeddable"
**Kibana version:** 8.0.0 - SNAPSHOT

**Browser:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

## Describe the bug

When creating a PDF (regardless of optimize for print or not) or PNG report from dashboards that use the sample map embeddables in the library, you get the following error:

![image](https://user-images.githubusercontent.com/8698078/149017

[2022-01-11 21:01] elasticmachine commented on #122710
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-11 21:07] JAndritsch commented on #121022
I can confirm this is also happening in Kibana 7.16.1.

[2022-01-11 21:21] sixstringcode commented on #42005
@KarenSumner this is not on our current development roadmap, but from the thread above and broad interest, it's something we should be tracking. I need to do a little legwork to make sure it's not being considered by another team, but this looks like something my team would do.

[2022-01-11 21:22] Heenawter opened #122714 "[Reporting] [Dashboard] Optimized PDF report not displaying titles for by value embeddables"
**Kibana version:** 8.0.0 - SNAPSHOT

**Browser:** Chrome

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

When creating a PDF report when "Optimize for Print" is set to `true`, by value embeddables do not have their titles displayed in the report - by reference embeddables, on the other hand, properly show titles.

**Steps to reproduce:**

h

[2022-01-11 21:22] elasticmachine commented on #122714
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-11 21:22] elasticmachine commented on #122714
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-11 21:29] tsullivan opened #122715 "[Screenshotting] Investigate using worker thread for PDF compilation"
We should see if a decent solution for https://github.com/elastic/kibana/issues/118260 will be to execute the PDF compilation in a separate NodeJS worker thread.

[2022-01-11 21:40] nreese commented on #122674
Regression caused by https://github.com/elastic/kibana/pull/116366

[2022-01-11 21:50] Heenawter commented on #122710
I was able to re-create the error on a *non-sample* dashboard by including the `[eCommerce] Orders by Country` library visualization, so it seems as though this may be an issue specific to maps - more testing required.

[2022-01-11 21:57] smith commented on #122683
APM gets the timezone from uiSettings and passes it into the series. I think it's done for each chart (most charts use the TimeSeriesChart but they are all just using Elastic Charts) https://github.com/elastic/kibana/blob/a787a30d2cc27913b870e8d9e23c241d4ddfe4a2/x-pack/plugins/apm/public/components/app/error_group_details/Distribution/index.tsx#L84-L121

[2022-01-11 21:59] Heenawter commented on #122710
After removing the one map from the `[eCommerce] Revenue Dashboard` sample dashboard, I was able to generate reports without any problems - definitely seems like this is a maps-specific problem.

[2022-01-11 22:41] #122656 closed

[2022-01-11 23:06] lukasolson opened #122728 "Deleting tag saved object from "inspect" screen shows "undefined" notification"
**Kibana version:** main

**Elasticsearch version:** main

**Browser version:** chrome

**Describe the bug:** Deleting a saved object tag from the "inspect" screen shows "undefined" in the notification, and doesn't remove it from the "tags" list afterwards until you refresh.

**Steps to reproduce:**
1. Go to Stack Management > Tags > Create tag, and create a tag
1. Go to Stack Management > Saved o

[2022-01-11 23:06] elasticmachine commented on #122728
Pinging @elastic/kibana-core (Team:Core)

[2022-01-11 23:22] ThomThomson opened #122729 "[Dashboard] Copy to dashboard includes filters"
**Kibana version:** 8.0.0

**Describe the bug:** When copying a panel to another dashboard, if the source dashboard has filters **saved** into it, those filters will erroneously end up on the destination dashboard.

**Steps to reproduce:**
1. Create a new dashboard and add any panel
2. Add any filter to that dashboard
3. Save the dashboard
4. Use the `copy to dashboard` dialog to copy the panel to

[2022-01-11 23:22] elasticmachine commented on #122729
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-11 23:26] jen-huang commented on #118751
Thanks for the investigation @nchaulet, good stuff here. WRT to integration list and details, I thought a few times that maybe we can cache package info on the client-side via React Context (or similar) so that we can instantly load the information if it's already been fetched before. This would be in addition to any optimizations we do on the actual package info endpoints you've identified in #12

[2022-01-11 23:28] #121858 closed

[2022-01-12 01:03] nchaulet commented on #118751
Actually this call is only slow the first time, after the package info are already cached server side (in memory without expiration so this could problematic at some point) so I do not think caching client side will not make a huge difference here

[2022-01-12 02:07] richkuz commented on #121975
Thanks @carlosdelest , this plan makes sense to me. I think we should proceed with the proposed changes for 8.0. cc @serenachou

Can/should we also change [these 8.0 monitoring dashboards](https://github.com/elastic/ent-search-monitoring/tree/main/dashboard/8.0) to work with the new index names, too?

We'll also need to update [this section](https://github.com/elastic/enterprise-search-pubs/blob/m

[2022-01-12 03:46] yiyangliu9286 commented on #121754
According to the latest table utility bar component in [Figma](https://www.figma.com/file/RzfYLj2xmH9K7gQtbSKygn/Elastic-UI?node-id=15025%3A2) from EUI. They are suggested to show the format of: Showing **1-10** of {#} **Things**

So in the sense of Rule's table, for example, here's the design that we could go about based on the EUI table utility bar component:
To be as "Showing **1-10** of 596 **

[2022-01-12 04:14] mattkime commented on #79413
closing in favor of https://github.com/elastic/kibana/issues/117143

[2022-01-12 04:37] mattkime opened #122736 "[data views] add support for murmur3, annotated_text, completion, search_as_you_type"
While its not common for the following types to be used specifically for kibana, it would be useful to support them for debugging purposes and full ES feature support.

murmur3
annotated_text
completion
search_as_you_type

Steps:
1. Verify that the individual types support all the aggs and queries that the text/keyword field does.
2. Repeat step 1
3. Repeat step 1
4. Make these field types availab

[2022-01-12 04:38] elasticmachine commented on #122736
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-12 04:50] imotov commented on #122404
@dominiqueclarke which request do you send to elasticsearch here and which response does it send you back to produce such result?

[2022-01-12 05:08] karanbirsingh-qasource commented on #122019
thanks @michaelolo24 for you kind words, and yes now our doubt for the applied timeline import flow under this issue has been resolved .

[2022-01-12 05:56] BokuKDVZ commented on #100413
Hi, i'd like to support jugsofbeer we are waitung to use fleet and the elastic agent for quite some time now and now it's almost ready to use but this feature is the last one missing.

[2022-01-12 06:04] deepikakeshav-qasource commented on #120722
Hi @MadameSheema ,

We have validated this issue on **8.0.0 rc1 production** and observed that issue is **fixed**.

Please find the below testing details:

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/149072759-cbf85492-8a14-4974-828e-ea6ea3830f86.png)

Thanks!!

[2022-01-12 06:35] deepikakeshav-qasource commented on #120723
Hi Team,

We have validated this issue on **8.0.0 SNAPSHOT** and observed that issue is **Fixed**

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/149076175-f6eec9b3-1555-43d6-a5b3-69744e1827da.png)

Thanks!!

cc: @MadameSheema

[2022-01-12 06:40] deepikakeshav-qasource commented on #122069
Hi @marshallmain ,

We have validated this issue on **8.0.0 SNAPSHOT** and observed that issue is **Fixed**

Please find the below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/149076923-41db44a6-efae-4b5f-b6ee-11b84d0e6ccb.png)

Hence, We are closing this ticket and marking as QA Validated

Thanks!!

cc: @MadameSheema

[2022-01-12 06:41] #122069 closed

[2022-01-12 06:58] deepikakeshav-qasource commented on #121491
Hi Team,

We have validated this issue on **8.0.0 SNAPSHOT** and Please find the below observations:

**Build Details:**
[code]
**Observation 1:**  See all warnings/errors drop down is correctly showing when there are multiple warning/errors 🟢
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/149079026-af5d4c03-6d6f-4480-8dab-eef1c16d02b8.png)

**Observation 2:**  Same wa

[2022-01-12 07:04] pgayvallet commented on #122459
Closed by https://github.com/elastic/kibana/pull/122627

[2022-01-12 07:04] #122459 closed

[2022-01-12 08:28] cnasikas commented on #121990
I agree with @banderror. Could you please create two separate tickets, one for each team?

[2022-01-12 08:39] afharo opened #122741 "[Search Sessions] Links always redirect to the `default` space"
**Kibana version:** 8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):** Cloud deployment

**Describe the bug:**
The links of the stored Search sessions in a non-default space still point to the default space (they don't have the `/s/{space_id}` in the URL).

**Steps to reproduce:**
1. Save a Search Session in a non-default space using the app Discover
2. Go to the

[2022-01-12 08:40] elasticmachine commented on #122741
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-12 08:41] #120908 closed

[2022-01-12 08:49] ogupte opened #122743 "[APM] Disable useLatestPackageVersion option for integration edit custom UI"
Set `useLatestPackageVersion: false` on [line 373 of the APM client plugin](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/plugin.ts#L373).

This is a workaround while https://github.com/elastic/kibana/issues/122436 is open to get around the bug where saved settings aren't being loaded by the form.

[2022-01-12 08:49] elasticmachine commented on #122743
Pinging @elastic/apm-ui (Team:apm)

[2022-01-12 08:54] muskangulati-qasource commented on #122106
Hi @dasansol92,

We have validated this issue on the 7.17.0 BC1, 8.0.0 latest SNAPSHOT & 8.1.0 latest SNAPSHOT build. Please find below the testing details and observations on all the Kibana builds:

**Build Details**

- Kibana Version: 8.0.0 SNAPSHOT

[code]

- Kibana Version: 8.1.0 SNAPSHOT

[code]

- Kibana Version: 7.17.0 BC1

[code]

**Screen Recordings**
- Kibana Version: 8.0.0 SNAPSHOT 🟢

h

[2022-01-12 09:04] karanbirsingh-qasource commented on #119743
Hi @MadameSheema

we have validated this issue on latest `8.0.0-RC1` found that issue is fixed 🟢 . format is matching with the default timestamp column value.

**Build Details:**
[code]

**Screen-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/149096751-e1e36e62-14a9-4acd-ae6b-e48e5afe96cb.png)

![image](https://user-images.githubusercontent.com/59917825/149096767-61eca85d-60

[2022-01-12 09:06] #119743 closed

[2022-01-12 09:11] academo opened #122749 "[ResponseOps][Cases] Refactor a small hook (`useGetTags`) to use react-query"
Our current Cases hooks use react hooks directly to fetch and cache data, most the code in these hooks is boilerplate and they (mostly) run the same logic.

We want to experiment introducing react-query to handle all the caching, fetching, request-state logic and this will reduce the boilerplate code for hooks and introduce easier caching management and dev tools. Our current hooks already use an

[2022-01-12 09:15] abhishekgautam727 opened #122750 "Unable to install dependencies for Kibana 8.0.0-alpha1"
**Kibana version:   kibana 8.0.0-alpha1**

**Elasticsearch version: elasticsearch 7.16.2**

**Server OS version: **

**Browser version: Google Chrome Version 94.0.4606.81**

**Browser OS version: Ubuntu 20.04.3 LTS **

**Original install method (e.g. download page, yum, from source, etc.):
Downloaded the .zip file of Kibana 8.0.0-alpha1 from https://github.com/elastic/kibana#building-and-running-k

[2022-01-12 09:25] flash1293 commented on #122685
I can reproduce this problem also with other visualization types (Visualize, TSVB) since at least 7.15. Reached out to the Elasticsearch team whether this is expected and never worked or whether it's a bug on their side.

[2022-01-12 09:27] samratbhadra-qasource commented on #119718
Hi @dasansol92,

We have validated this issue on the latest 7.16.3-BC1, 8.0.0 SNAPSHOT builds & found that the issue is now **fixed**. Please find below the testing details and observations on all the Kibana builds:

**Build Details**
- Kibana Version: 7.16.3-BC1
[code]
- Kibana Version: 8.0.0 SNAPSHOT
[code]
**Screen Recordings**

- Kibana Version: 7.16.3-BC1 🟢

https://user-images.githubusercont

[2022-01-12 09:27] #119718 closed

[2022-01-12 09:43] dasansol92 commented on #122106
Hi @muskangulati-qasource, first of all, thanks for the exhaustive check you have made on this.

Seems that the back button for host isolation exceptions wasn't implemented on 7.16-7.17 and it was introduced in 8.0 so this is why is not there for 7.17 (look at this issue https://github.com/elastic/kibana/issues/120862)

@kevinlog Let me know if we need to include the changes Esteban made on 8.0 in

[2022-01-12 09:43] flash1293 commented on #122685
It's an ES bug: https://github.com/elastic/elasticsearch/issues/82459

[2022-01-12 09:52] thomheymann opened #122752 "Cert renewal for security on by default"
We should provide a warning when certificates that were generated for users during interactive setup are about to expire and provide a way to regenerate them.

This issue to to investigate how this can be achieved from a technical perspective and to define the user flows.

[2022-01-12 09:54] kibanamachine commented on #119770
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7549#cbd96ad3-62c7-4052-8fd5-23e6c51338ff)

[2022-01-12 09:55] kibanamachine opened #122753 "Failing test: Jest Tests.x-pack/plugins/security/public/management/users/edit_user - EditUserPage warns when viewing built-in user"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7548#806c5ac7-056f-417e-bc63-ca730df62c40)

[2022-01-12 09:56] katrin-freihofner commented on #116293
@dominiqueclarke I just tested this case where a user has no data ingested yet. I think there are a couple of things we need to adjust.

<img width="1500" alt="Screenshot 2022-01-12 at 10 53 14" src="https://user-images.githubusercontent.com/20965076/149117398-a5c01022-738e-4e43-a83b-dd131884e705.png">

1. The massive Elastic Synthetics announcement: do we need this here? And if we really need it,

[2022-01-12 10:03] markov00 commented on #122683
The proposed solution is the best choice to do to be fully sure and under control of the timezone used.
It's definitely a change introduced without considering it a breaking change. We can make that change and have the 'local' time as the default one used, but I strongly suggest to connect the timezone to the UI settings so that the user can control that parameter by themself

[2022-01-12 10:11] katrin-freihofner commented on #115475
Thank you @dominiqueclarke for reporting this. I think we don't need the link in the side navigation for now, but I agree with everything else here and will add some acceptance criteria to get this into the product.

[2022-01-12 10:14] amolnater-qasource commented on #122290
Thanks @juliaElastic for the fixes.
We will be revalidating the same after 7.16.3 release.

[2022-01-12 10:14] elasticmachine commented on #122753
Pinging @elastic/kibana-security (Team:Security)

[2022-01-12 10:20] shahzad31 commented on #116293
@katrin-freihofner in case of no data, we still need settings link, since user may have some data in other indexes or in a cross cluster index and they will go to settings page to update index pattern settings.

[2022-01-12 10:23] banderror commented on #121754
@yiyangliu9286 thank you so much for your quick feedback! This suggestion LGTM 👍

[2022-01-12 10:27] dmlemeshko commented on #122750
Hi @abhishekgautam727,

If you want to check the Kibana 8.0.0 preview, I suggest downloading the [official release](https://www.elastic.co/downloads/kibana#preview-release)
Be aware to use the _same_ version of Elasticsearch for compatibility.

If you want to contribute to Kibana or build it yourself from source, I suggest to clone repo with _ssh_ not via zip download. It could be a reason why you

[2022-01-12 10:31] afharo commented on #90536
do you mean that the components changed and that we need to change that check again?

[2022-01-12 10:31] elasticmachine commented on #122679
Pinging @elastic/fleet (Team:Fleet)

[2022-01-12 10:34] elasticmachine commented on #121713
Pinging @elastic/kibana-core (Team:Core)

[2022-01-12 10:34] elasticmachine commented on #122585
Pinging @elastic/kibana-security (Team:Security)

[2022-01-12 10:37] karanbirsingh-qasource commented on #121858
Hi Team,

we have validated this issue on 8.0.0-SNAPSHOT and found it fixed 🟢 .

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/149124457-1e614b81-2f64-474b-88b8-9c34891c3534.png)

Adding "QA:Validated" to it.

thanks !!

[2022-01-12 10:40] katrin-freihofner opened #122756 "[Exploratory view] combine icon buttons in overflow menu"
**Describe the feature:**
Currently, there are many icon buttons shown for each series in the exploratory view. I suggest combining these and showing only the edit button and an overflow menu.

**Current experience**
<img width="1412" alt="Screenshot 2022-01-12 at 11 29 59" src="https://user-images.githubusercontent.com/20965076/149123468-131306c2-4e48-4b44-a51b-9f9b5d5ce87c.png">

**Expected outc

[2022-01-12 10:40] karanbirsingh-qasource commented on #121381
Hi Team,

Cross checked the issue on 8.0.0-SNAPSHOT Cloud . Hence now closing this issue.

![image](https://user-images.githubusercontent.com/59917825/149125057-d7d06eb9-ce7a-43d7-aee9-8bff172d84fd.png)

thanks  !!

[2022-01-12 10:40] #121381 closed

[2022-01-12 10:40] elasticmachine commented on #122756
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-01-12 10:47] karanbirsingh-qasource commented on #120859
Hi @MadameSheema

we have validated this issue on 8.0.0-SNAPSHOT and found it fixed . There is no impact on alert list on changing data source under timeline.

Build Details:
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/149125915-68b752d9-d4f7-4099-9e15-41b380831758.mp4

Hence we are closing this issue and adding "QA:Validated" lable to it.

thanks !!

[2022-01-12 10:47] #120859 closed

[2022-01-12 10:53] elasticmachine commented on #122584
Pinging @elastic/kibana-security (Team:Security)

[2022-01-12 10:58] dmlemeshko commented on #121603
It was resolved in #122142

[2022-01-12 10:58] #121603 closed

[2022-01-12 11:03] kibanamachine commented on #119806
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7549#ace8a0e7-5343-4ebc-a935-2a757f9bd1ad)

[2022-01-12 11:03] kibanamachine commented on #119807
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7549#ace8a0e7-5343-4ebc-a935-2a757f9bd1ad)

[2022-01-12 11:07] kibanamachine commented on #59234
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/7552#d552bbcd-211a-4998-8836-306fe6b8dfd5)

[2022-01-12 11:09] Dosant commented on #122741
In 8.0 we migrated from old URL generators to use URL locators from new URL service: https://github.com/elastic/kibana/pull/115681

It looks like the problem is with `locator.getRedirectUrl()` call which returns a URL to redirect app in default space.
I think this means that everywhere where  `locator.getRedirectUrl()` is used we will have this space problem.

* https://github.com/elastic/kibana/b

[2022-01-12 11:26] #116173 closed

[2022-01-12 11:34] kibanamachine commented on #119788
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/7554#d7481096-01fc-43a3-9591-54025dbb47e8)

[2022-01-12 11:55] karanbirsingh-qasource commented on #122117
Hi @MadameSheema

we have validated this ticket on **8.1.0-SNAPSHOT** and it is fixed  🟢 . Now Script invalid badge is showing for invalid script .

**Build Details:**

![image](https://user-images.githubusercontent.com/59917825/149135807-412c9473-b586-4f88-bbd8-4fc64bcbf136.png)

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/149135125-0a2452a7-65f8-42a7-92ad-33d00a1

[2022-01-12 11:58] bhavyarm opened #122759 "Upgrade docs need to mention 7.17 for recommended path to upgrade"
**Kibana version:** 8.0.0

**Describe the bug:**

The docs here  https://www.elastic.co/guide/en/kibana/8.0/upgrade.html are talking about 7.16 as recommended path to upgrade to 8.0.0. We need to change it and talk about the new cool kid 7.17.

[2022-01-12 12:06] rudolf commented on #91615
Notes from our last meeting (1 Sep 2021):
# The problem with psuedo-copies
Accounting for all the conflict scenarios introduces significant complexity and tech debt to the saved objects codebase. But more than that, it introduces significant complexity to our users. Even if we have a UI that allows users to resolve conflicts it’s really hard for a user to understand why this conflict is occurring,

[2022-01-12 12:16] dannycroft commented on #106552
Seems like we the remaining items are below:

- [ ]  Get

[2022-01-12 12:18] afharo opened #122760 "Fail to load dashboard when Local storage's quota is exceeded"
**Kibana version:** 8.0.0-rc1

**Elasticsearch version:**

**Server OS version:**

**Browser version:** Firefox 95.0.2

**Browser OS version:** macOS 12.1

**Original install method (e.g. download page, yum, from source, etc.):** Cloud deployment

**Describe the bug:**
When the local storage quota is exceeded, opening a new dashboard fails with an Unhandled promise rejection.

**Steps to reproduce

[2022-01-12 12:18] elasticmachine commented on #122760
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-01-12 12:20] #120395 closed

[2022-01-12 12:25] #122662 closed

[2022-01-12 12:28] kevinlog commented on #122106
@dasansol92 does this make host Isolation exceptions inconsistent with the other artifacts in 7.17?  If it does then we should add the back button to make it consistent in that release.  If this is all brand new to 8.0, then we are OK to leave it as is.  Let me know if I'm being clear

[2022-01-12 12:41] #118023 closed

[2022-01-12 12:46] mistic commented on #59234
This test keeps failing and looks flaky. Skipped.

8.0: 06961ee
8.1: 692a3b4

[2022-01-12 12:46] wynnchel commented on #56406
Stumbled about this enhancement request and ask politely for it. This is in my opinion a default feature any software should have.

[2022-01-12 12:48] flash1293 commented on #56406
@elastic/shared-ux / @clintandrewhall is this something you would be interested in?

[2022-01-12 12:56] afharo opened #122766 "[Search Sessions] Errored Search Sessions cannot be deleted"
**Kibana version:** 8.0.0-rc

**Original install method (e.g. download page, yum, from source, etc.):** Cloud deployment

**Describe the bug:**
During a high load in the cluster, I saved the session to come back at it later. However, the search session failed. For housekeeping, I decided to delete the Errored session, but I don't have the option to do so.

**Steps to reproduce:**
1. Manage to get

[2022-01-12 13:31] dasansol92 commented on #122106
Yes, exactly. I guess when it was done for 8.0 there wasn't a plan to have a 7.17 branch.
Then I'm going to add that change to the 7.17 branch.

[2022-01-12 13:44] nreese commented on #122404
This may be a regression caused by https://github.com/elastic/kibana/pull/115583. https://github.com/elastic/kibana/pull/122540 should resolve the issue. Is there someone that can verify?

[2022-01-12 13:49] #113737 closed

[2022-01-12 13:52] #89304 closed

[2022-01-12 13:53] dasansol92 commented on #122106
@kevinlog I was able to backport the original pr directly to 7.17 -> https://github.com/elastic/kibana/pull/122771

[2022-01-12 13:54] kevinlog commented on #122106
thanks @dasansol92 !

[2022-01-12 13:57] gmmorris commented on #115023
Thanks @mdefazio !

To be clear, this is about the bar chart that shows the execution duration of the last X executions.
This discussion is about what this X should be defined as by default and what options we provide the user to change X.

[2022-01-12 14:06] shyim commented on #121864
any idea how to solve this. Redownloaded still same issues. MacOs 12.1

[2022-01-12 14:06] dokmic opened #122773 "[Screenshotting] Extend the screenshot mode plugin to support custom contextual data"
Currently, the screenshotting plugin [provides](https://github.com/elastic/kibana/blob/main/x-pack/plugins/screenshotting/public/context_storage.ts) a way to forward some contextual data from the caller to the captured page. The implementation is similar to how the screenshot mode plugin sets its flag.

It makes sense to extend the capabilities of the screenshot mode plugin to provide a way to set

[2022-01-12 14:06] elasticmachine commented on #122773
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-12 14:10] thomheymann commented on #91615
Linking back to my comment regarding a recent PR that fixed 3 import bugs and surfaced a new bug since it's related to the discussion here: https://github.com/elastic/kibana/pull/121046#pullrequestreview-850164754

[2022-01-12 14:19] dominiqueclarke commented on #122404
@nreese To run uptime map from a local build, simply update your `kibana.yml` with this configuration https://p.elstc.co/paste/dTzEAq4h#+wyY9P5lm02QQpz5MY3L-GPJ7q5CIra1II3HnkRRRiE.

Navigate to `app/ux` and scroll down a bit to find the map.

[2022-01-12 14:21] jamster10 commented on #121285
After chatting with EUI, it became apparent that this ticket should be on their team. As such an issue was created (https://github.com/elastic/eui/issues/5532). And this ticket can be closed

[2022-01-12 14:21] #121285 closed

[2022-01-12 14:23] #51101 closed

[2022-01-12 14:31] dokmic opened #122778 "[Screenshotting] Limit number of concurrently running Chromium instances"
Currently, if we run the `getScreenshot` method twice, we will likely get two Chromium instances. That may cause some performance issues, especially in an environment running with low resources.

The number of concurrent calls should be artificially limited from the code per process. It can be done by using Mutex (or Semaphore).

[2022-01-12 14:31] elasticmachine commented on #122778
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-01-12 14:31] elasticmachine commented on #122778
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-01-12 14:33] MadameSheema opened #122779 "[Security Solution] Misalignment when importing a timeline with a pinned event"
**Describe the bug:**
- When a timeline with at least one pinned event is imported into an instance, where the timeline event is not displayed, the pinned event is not displayed because does not exist at that instance, but we show to the user that there is a pinned event. That may impact the user experience.

**Kibana/Elasticsearch Stack version:**
- 8.0.0

**Steps to reproduce:**
1. Export a time

[2022-01-12 14:33] elasticmachine commented on #122779
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-01-12 14:33] jsanz opened #122780 "[Maps] Basemap is added with includeElasticMapsService:false when emsUrl is also set"
**Kibana version:**
8.0.0-rc1

**Elasticsearch version:**
same

**Server OS version:**
Ubuntu 20.04

**Browser version:**
Firefox 95

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
Adding the  `map.emsUrl` setting AND `map.includeElasticMapsService: false` make the Maps Application to add a basemap layer

[2022-01-12 14:33] elasticmachine commented on #122780
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-12 14:34] MadameSheema commented on #122779
@monina-n @paulewing can you please help to clarify what should be the expected behavior for this specific case?

@paulewing can you please let us know if you agree with the impact?

Thanks :)

[2022-01-12 14:41] stratoula opened #122782 "[Lens] Bar chart with very long tooltips seem to "dance" while hovering on them"
**Kibana version:**
main

**Describe the bug:**
I created a stacked bar with a breakdown dimension that creates a lot of items in the tooltip (for example a date histogram)
If I hover on the chart, the bars change position.

I created the exact same chart in Viz editor and this doesn't happen.

![Lens-Elastic-12-January-2022](https://user-images.githubusercontent.com/17003240/149161302-2ec33f03-af

[2022-01-12 14:41] elasticmachine commented on #122782
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-01-12 14:59] nreese commented on #122404
Thanks for the help running locally. I was able to confirm https://github.com/elastic/kibana/pull/122540 resolves the issue.

<img width="500" alt="Screen Shot 2022-01-12 at 9 58 26 AM" src="https://user-images.githubusercontent.com/373691/149164861-d2945298-e5d1-445c-85c8-b0037cc03d1f.png">

[2022-01-12 15:00] elasticmachine commented on #122404
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-12 15:02] paulewing commented on #121287
@michaelolo24 Yes, there are two workflows that occur here...

1. Query. During rule creation, a user can import a saved Timeline (or Template) query to be used as the rule query. The goal here is to help a user reuse an investigation (via Timeline) as a rule.
2. Investigation. During rule creation as well, a user can select a Timeline Template to be utilized as the default investigation. So if th

[2022-01-12 15:20] ryankeairns commented on #118162
@kertal any sense of the size of effort on this issue?

cc:/ @shaunmcgough

[2022-01-12 15:24] ryankeairns commented on #117538
@andreadelrio how do you feel about the remaining items in #117602 ? The _placement_ question we've discussed may take more time and thought (feels like a potentially large change), but I'm curious about the other items in that issue in terms of priority / need prior to displaying this feature by default.

There are other product questions to be considered, as well, but I'm wanting to iron out our

[2022-01-12 15:36] kertal commented on #118162
should be doable in a few hours

[2022-01-12 15:45] pgayvallet commented on #120124
Some technical pointers for the implementation

The requestId is set to the executionContext in the HTTP server, here:

https://github.com/elastic/kibana/blob/755950a52944007f75b7886e548a988b6f12c3dd/src/core/server/http/http_server.ts#L338-L343

We'll probably have to modify `getRequestId` to return `undefined` instead of a random uuid when the opaqueId can't be retrieved from the request (either

[2022-01-12 16:00] mateskoo commented on #118465
Hello @kertal,

I would have to reopen this thread again.

I am trying to reingest all of the data, so I made the @timestamp field identical with the DateCreated.
This is what I've edited in logstash.conf:

`        date {
            match => [ "DateCreated", "yyyy-MM-dd HH:mm:ss" ]
            timezone => "UTC"
            target => "@timestamp"
        }

        date {
             match => [

[2022-01-12 16:00] dasansol92 commented on #122106
@muskangulati-qasource merged to 7.17

[2022-01-12 16:03] #122582 closed

[2022-01-12 16:05] rudolf commented on #121624
Looking at the logs there is just one state transition:
 - [.kibana] INIT -> OUTDATED_DOCUMENTS_SEARCH_OPEN_PIT. took: 142ms.

The `OUTDATED_DOCUMENTS_SEARCH_OPEN_PIT` action fails because of:
`[.kibana] Unexpected Elasticsearch ResponseError: statusCode: 404, method: POST, url: /.kibana_7.14.1_001/_pit?keep_alive=10m error: [index_not_found_exception]: no such index [.kibana_7.14.1_001],`

So bas

[2022-01-12 16:08] jsanz opened #122804 "[Maps] Show this layer only option inconsistencies"
`Show this layer only` is nowadays ignoring the bottom layer if it's a EMS basemap or TMS (maybe WMS as well?).

Not sure if this is something we can easily fix (I'd say is almost a bug, but unsure) but the lack of a "basemap" layer differentiation in the UI makes this feature to work in ways users may found confusing:

* The option is enabled for the last layer (if it's a basemap or TMS), even it

[2022-01-12 16:08] elasticmachine commented on #122804
Pinging @elastic/kibana-gis (Team:Geo)

[2022-01-12 16:12] lizozom commented on #22913
Looking at APM data this error still exists on latest prod versions.
Seems like it's the most common error we have.

[2022-01-12 16:22] afharo opened #122805 "[Search Sessions] Can't clear the In Progress filter"
**Kibana version:** 8.0.0-rc1

**Original install method (e.g. download page, yum, from source, etc.):** Cloud deployment

**Describe the bug:**
Using the filter by Status in the Search Sessions Management page, when looking at the "In Progress" sessions, when all of them are completed the UI does not allow you to disable the filter (except from manually editing the search bar).

**Steps to reprod

[2022-01-12 16:22] elasticmachine commented on #122805
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-01-12 16:23] simitt commented on #121640
The default value actually contains a unit, it is set to `3600s` (https://github.com/elastic/apm-server/blob/master/apmpackage/apm/manifest.yml#L109-L111).
What might be happening here is that this value is sent via the APM Server configs when the server starts up.

[2022-01-12 16:38] kibanamachine opened #122806 "Failing test: API Integration Tests.test/api_integration/apis/home/sample_data·ts - apis home apis sample data apis "before all" hook in "sample data apis""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#da6807b7-a1c2-4331-9bcc-a8f08053f355)

[2022-01-12 16:48] #122484 closed

[2022-01-12 16:49] #115996 closed

[2022-01-12 16:52] nickofthyme opened #122807 "Inconsistent data passed to vega"
**Kibana version:**
`^7.16.0`

**Describe the bug:**
When recreating the [custom_tile_maps](https://github.com/elastic/examples/tree/master/Miscellaneous/custom_tile_maps) vega example, the data is returned inconsistency.

**Steps to reproduce:**
1. Spin up kibana and ingest data using the `python generate_random_data.py` as described [here](https://github.com/elastic/examples/tree/master/Miscella

[2022-01-12 16:56] kibanamachine commented on #98463
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#ffd9d6d6-2e13-44cc-8cf6-fbd2d94f7cb9)

[2022-01-12 16:56] kibanamachine opened #122809 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/kibana_overview·ts - Kibana overview "after all" hook for "Kibana overview""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#ffd9d6d6-2e13-44cc-8cf6-fbd2d94f7cb9)

[2022-01-12 16:56] kibanamachine opened #122810 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/index·ts - dashboard app new charts library "before all" hook in "new charts library""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#a6c3037c-3830-4cd6-a05c-5e8919d2d729)

[2022-01-12 16:57] kibanamachine opened #122811 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/canvas - Canvas app "before all" hook in "Canvas app""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c1d404b6-67f3-45e2-89fa-c5d68512022a)

[2022-01-12 16:57] kibanamachine opened #122812 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/canvas - Canvas app "after all" hook: afterTestSuite.trigger in "Canvas app""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#c1d404b6-67f3-45e2-89fa-c5d68512022a)

[2022-01-12 16:57] kibanamachine opened #122813 "Failing test: Chrome UI Functional Tests.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page "before each" hook for "allows to update the saved object when submitting""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#88032474-3da2-4ea7-8632-6d435a3001b2)

[2022-01-12 16:57] kibanamachine opened #122814 "Failing test: Chrome UI Functional Tests.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page "after each" hook for "allows to update the saved object when submitting""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#88032474-3da2-4ea7-8632-6d435a3001b2)

[2022-01-12 16:57] kibanamachine opened #122815 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/index·ts - management "before all" hook in "management""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#ab652074-115c-4846-8250-7758f0eecc40)

[2022-01-12 16:57] kibanamachine opened #122816 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/index·ts - dashboard app using current data "before all" hook: loadCurrentData in "using current data""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#91f356cb-f253-48c3-8095-3637f4da888f)

[2022-01-12 16:57] kibanamachine opened #122817 "Failing test: X-Pack API Integration Tests Basic License.x-pack/test/api_integration/apis/ml/data_visualizer/get_field_stats·ts - apis machine learning basic license data visualizer data visualizer get_field_stats "before all" hook for "returns stats for metric fields over all time""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#f076a985-885e-424e-9179-0414f7f10aef)

[2022-01-12 16:57] kibanamachine opened #122818 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/feature_controls/monitoring_security·ts - Monitoring app feature controls security "before all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#7ce2466e-5b06-4456-99e4-207897db8182)

[2022-01-12 16:57] kibanamachine opened #122819 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/feature_controls/monitoring_security·ts - Monitoring app feature controls security "after all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#7ce2466e-5b06-4456-99e4-207897db8182)

[2022-01-12 16:57] kibanamachine commented on #50387
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#dda4defc-63b5-4ceb-a11c-70f03120c013)

[2022-01-12 16:57] kibanamachine commented on #50388
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#dda4defc-63b5-4ceb-a11c-70f03120c013)

[2022-01-12 16:57] kibanamachine opened #122820 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/copy_saved_objects·ts - Spaces app Copy Saved Objects to Space "before all" hook for "allows a dashboard to be copied to the marketing space, with all references""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#afdcd170-5fd5-43a7-9a4b-6a579cf3ea1a)

[2022-01-12 16:57] kibanamachine opened #122821 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/spaces/copy_saved_objects·ts - Spaces app Copy Saved Objects to Space "after all" hook for "allows a dashboard to be copied to the marketing space, with circular references""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#afdcd170-5fd5-43a7-9a4b-6a579cf3ea1a)

[2022-01-12 16:57] kibanamachine opened #122822 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens - lens app "before all" hook in "lens app""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#5972b2a9-fdeb-47a4-8b7a-253060ce9416)

[2022-01-12 16:57] kibanamachine commented on #50387
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-7-dot-latest-es-forward-compatibility/builds/1#50db982e-f780-43eb-a9a0-3c380a590eaa)