[2021-04-26 11:30] weltenwort opened #98277 "[Logs UI] Prompt for a KIP when log source not configured"
## :memo: Summary

TODO

## :art: Mock-ups

![image](https://user-images.githubusercontent.com/973741/116075444-400e1480-a693-11eb-8859-7fed9ffb33fa.png)

[2021-04-26 11:30] elasticmachine commented on #98277
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-26 11:31] gmmorris commented on #94106
I might be missing something, but I don't feel the name `enabledAfterImport` is quite descriptive enough.
Reading through the context above it _seems_ to me (and I might be confusing things) that what this flag is meant to do is communicate to the framework that the Connector can't be used until it is reconfigured with the missing fields.

I'm not sure the name `enabledAfterImport` quite expresses

[2021-04-26 11:46] #98091 closed

[2021-04-26 11:57] ppisljar opened #98280 "update all expression public API's to expose partial results"
parent issue: https://github.com/elastic/kibana/issues/84051

expression public API's should expose underlying observable so consumers can start using partial results

- `run` and `execute` functions on expression service (client and server) should return observable
- `expression loader` (loader.ts) should have `partialResults` parameter
  - if using partial results we should call renderer on ever

[2021-04-26 11:57] elasticmachine commented on #98280
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 11:58] ymao1 commented on #94351
I like this option vs disabling the button, unless we are offering the ability to somehow enable the button on the modal via some action? Otherwise, the user would have to close the modal and figure out on her own which ones can and can't be deleted. Maybe the warning could just tell them that some of the selected objects are not deletable and then clicking the "Delete" button will just delete the

[2021-04-26 11:59] elasticmachine commented on #98229
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 12:00] elasticmachine commented on #98202
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 12:04] elasticmachine commented on #98245
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 12:05] walterra opened #98281 "[ML] Single Metric Viewer: Errors on thrown to dev console, misleading loading state in UI"
If the Single Metric Viewer fails to load, for some calls the error just gets logged to the dev console but the UI isn't updated with an error callout and stays in a misleading loading state:

![image](https://user-images.githubusercontent.com/230104/116079553-36d37680-a698-11eb-8770-1f9587fae886.png)

Here's the corresponding code snippet in `x-pack/plugins/ml/public/application/timeseriesexplore

[2021-04-26 12:05] elasticmachine commented on #98281
Pinging @elastic/ml-ui (:ml)

[2021-04-26 12:07] mistic commented on #97067
This test keeps failing and looks flaky. Skipping for now.

master/8.0: a99bccf
7.x/7.14: b558f24

[2021-04-26 12:10] elasticmachine commented on #98247
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 12:11] elasticmachine commented on #98249
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 12:11] elasticmachine commented on #98250
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 12:12] formgeist opened #98282 "[APM] Take advantage of the new `stickTo` prop to align the tooltip at the middle y-axis of the chart always"
# Summary

The Charts team [closed](https://github.com/elastic/elastic-charts/pull/1122) one of our enhancement requests to enable the chart tooltip the stick to a specific place in the chart instead of moving up/down with the cursor.

We prefer to see the tooltip stay in the middle of the chart as per our old ReactVis charts in APM app previously (as mentioned in the [enhancement request](https:/

[2021-04-26 12:12] elasticmachine commented on #98282
Pinging @elastic/apm-ui (Team:apm)

[2021-04-26 12:12] elasticmachine commented on #98252
Pinging @elastic/kibana-security (Team:Security)

[2021-04-26 12:13] pgayvallet commented on #94351
After discussing it with my 'personal UX guy', seems like this is the expected UX behavior. Will do that then

[2021-04-26 12:22] azasypkin commented on #92558
@jgr, while working on https://github.com/elastic/kibana/pull/98049 I realized that there is one limitation that you'll hit if you start storing your data in the user session:

We don't maintain sessions for the users who're authenticated via `Authorization: xxx` HTTP header directly. E.g. if Kibana is hosted behind a reverse proxy that tries to emulate anonymous access and attaches `Authorization

[2021-04-26 12:27] karanbirsingh-qasource opened #98283 "[Security Solution]Incorrect detection alert list apear on searching event in search bar under individual Rule page"
**Describe the bug**
Incorrect detection alert list appear on searching event in search bar under individual Rule page

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC2 should be there.
2. 2 or more detection rule with alerts generated should be there.

**Steps to Reproduce**
1. Login to kibana
2. Navigate to Security App > Detection Tab

[2021-04-26 12:27] elasticmachine commented on #98283
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-26 12:33] elasticmachine commented on #98283
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-04-26 12:42] kevinlog commented on #86237
This should be fixed in `7.13.0` after an additional change in the Endpoint.

[2021-04-26 12:48] kevinlog commented on #86746
I don't believe that this is actually a bug since we are changing licenses in Cloud in a way that real users would not.

Cloud platforms behave differently than on-prem deployments.  Users do not manage their own licenses.  I'm going to close this for now, we can open an issue for the Cloud team if we find there is a problem later.

[2021-04-26 12:48] #86746 closed

[2021-04-26 12:51] kevinlog commented on #84860
This was fixed in another similar ticket.

You can check this ticket here: https://github.com/elastic/kibana/issues/96282

[2021-04-26 12:51] stratoula opened #98284 "[Vega] [Timelion] Support runtime fields"
**Describe the feature:**
We decided to support runtime fields on Vega and Timelion, although our initial approach was to not support them. The main reason is that it is much easier and straightforward to support them rather than solve all the problems caused by not supporting them.

The main problem is that if we don't support them. a user can create a dashboard with vega/timelion and other visua

[2021-04-26 12:51] elasticmachine commented on #98284
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 12:52] stratoula commented on #91384
I am closing this in favor of https://github.com/elastic/kibana/issues/98284

[2021-04-26 12:52] #91384 closed

[2021-04-26 12:52] stratoula commented on #91386
I am closing this in favor of https://github.com/elastic/kibana/issues/98284

[2021-04-26 12:52] #91386 closed

[2021-04-26 12:55] kevinlog commented on #86095
@paul-tavares going back and cleaning up old tickets, did we ever confirm the observation laid of out by @muskangulati-qasource above on there being no tooltip for the Policy name?

This isn't a major priority right now, but just wanted to see if we ever followed up.

[2021-04-26 12:57] kevinlog commented on #88805
@muskangulati-qasource I'm going to close this for now because our design specifically pauses updated on the Endpoint list while the flyout is open to prevent further inconsistencies such as Endpoints being uninstalled while viewing the details, etc.  We can re-open later if we find that it's a bigger problem.

Since it will refresh after we close the flyout, I think it's OK as is.

Closing: Won't

[2021-04-26 12:57] #88805 closed

[2021-04-26 12:59] kevinlog commented on #87286
@paul-tavares @muskangulati-qasource I'm going to close this for now because the impact is minimal and the fix is a bit more involved.  I don't think it's worth the cost right now.

[2021-04-26 12:59] #87286 closed

[2021-04-26 13:00] MikePaquette opened #98285 "[Security Solution] Export of detection rules not working reliably - exported file includes "missing rules""
**Kibana version:** 7.13.0 BC1

**Elasticsearch version:** 7.13.0 BC1

**Server OS version:** Elastic Cloud ESS

**Browser version:** Chrome Version 89.0.4389.128 (Official Build) (x86_64)

**Browser OS version:** macOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud Security Deployment

**Describe the bug:**  Exported rules file is incomplet

[2021-04-26 13:00] elasticmachine commented on #98285
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-26 13:04] MikePaquette opened #98287 "[Security Solution] Detection Rule Management is very slow"
**Kibana version:** 7.13.0 BC1

**Elasticsearch version:** 7.13.0 BC1

**Server OS version:** Elastic Cloud ESS

**Browser version:** Chrome Version 89.0.4389.128 (Official Build) (x86_64)

**Browser OS version:** macOS Mojave 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud Security Deployment

**Describe the bug:**  Exported rules file is incomplet

[2021-04-26 13:04] elasticmachine commented on #98287
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-26 13:13] dej611 opened #98288 "[Lens] Deleting field information from dimension in datatable moves the dimension to metric group"
**Describe the bug:**

When with the datatable visualization, deleting the field information from the function panel, moves the dimension configuration automatically to the metrics group.

**Steps to reproduce:**
1. Choose a datatable from the chart switcher
2. Drag a field to either Rows or Columns
3. Click on the dimension field, click on the field select and press the <kbd>delete</kbd> key from

[2021-04-26 13:13] elasticmachine commented on #98288
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 13:17] MadameSheema commented on #98285
Thanks for reporting it, can you please provide an impact as well? Thanks :)

[2021-04-26 13:18] elasticmachine commented on #98287
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-04-26 13:22] mshustov commented on #33796
Re-open, as we still need it.
Another use-case for the client-side logging system is to improve the Observability of Kibana client-side logic. At the moment, plugins do not use any debug log messages to avoid implementation details leaking outside of Kibana. Client-side logic may help Support and Dev teams to debug problems by catching more runtime details.

[2021-04-26 13:38] kevinlog commented on #91454
I updated the release label - I don't know if this is still relevant after Fleet server.

cc\ @ph @EricDavisX

[2021-04-26 13:40] kevinlog commented on #88952
bumping to 7.13 for now - looks like we can close this with proper documentation.

@jmikell821 @ferullo - do you know of any docs right now about the nuances of Event collection?  If not, I'll open a ticket for it

[2021-04-26 13:47] ferullo commented on #88952
I do not know of any such docs.

[2021-04-26 14:01] tylersmalley opened #98296 "[Docs] How to set up your development environment tutorial"
Add a tutorial on how to [set up your development environment](https://www.elastic.co/guide/en/kibana/master/running-kibana-advanced.html)

All of these docs should be [written in mdx and go in the new docs system](https://elasticdocstest.netlify.app/kibana-team/dev-docs) under the Kibana Developer Guide mission.

[2021-04-26 14:01] elasticmachine commented on #98296
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 14:02] tylersmalley opened #98297 "[Docs] How to install sample data tutorial"
Add a tutorial on how to [install sample data](https://www.elastic.co/guide/en/kibana/master/sample-data.html)

All of these docs should be [written in mdx and go in the new docs system](https://elasticdocstest.netlify.app/kibana-team/dev-docs) under the Kibana Developer Guide mission.

Should we still reference or recommend `makelogs`? How about using the sample data from within Home?

[2021-04-26 14:02] elasticmachine commented on #98297
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 14:02] cyrille-leclerc commented on #97124
FYI Elastic built-in role "apm_user" using permissions based on the source data rather than on the visualisation application:

![image](https://user-images.githubusercontent.com/459691/116095531-cbde6b80-a6a8-11eb-9d7e-463337cd1aed.png)

[2021-04-26 14:03] tylersmalley opened #98298 "[Docs] How to debug Kibana tutorial"
Add a tutorial on how to [debug Kibana](https://www.elastic.co/guide/en/kibana/master/kibana-debugging.html)

All of these docs should be [written in mdx and go in the new docs system](https://elasticdocstest.netlify.app/kibana-team/dev-docs) under the Kibana Developer Guide mission.

[2021-04-26 14:03] elasticmachine commented on #98298
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 14:03] tylersmalley opened #98299 "[Docs] How to submit a pull request tutorial"
Add a tutorial on how to [submit a pull request](https://www.elastic.co/guide/en/kibana/master/development-pull-request.html)

All of these docs should be [written in mdx and go in the new docs system](https://elasticdocstest.netlify.app/kibana-team/dev-docs) under the Kibana Developer Guide mission.

[2021-04-26 14:04] elasticmachine commented on #98299
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 14:04] nreese commented on #97819
@LeeDr I am not able to reproduce this issue on the latest 7.13.0 BC hosted on cloud. Can you confirm that this issue still exists and provide more details on how to re-create the issue. I was able to create a PNG report from a dashboard containing a single map panel.

[2021-04-26 14:04] tylersmalley opened #98301 "[Docs] How to build a Kibana distributable tutorial"
Add a tutorial on how to [build a Kibana distributable](https://www.elastic.co/guide/en/kibana/master/building-kibana.html)

All of these docs should be [written in mdx and go in the new docs system](https://elasticdocstest.netlify.app/kibana-team/dev-docs) under the Kibana Developer Guide mission.

[2021-04-26 14:04] elasticmachine commented on #98301
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 14:32] MadameSheema commented on #96380
@deepikakeshav-qasource @karanbirsingh-qasource can you please check if this is still happening on 7.13.0BC2? Thanks :)

[2021-04-26 14:32] #98103 closed

[2021-04-26 14:33] MadameSheema commented on #95123
@IgorGuz2000 can you please validate this ticket on the last 7.13.0BC? Thanks :)

[2021-04-26 14:35] MadameSheema commented on #96209
@karanbirsingh-qasource as Mandeep is out sick, can you please validate this ticket on the latest 7.13.0BC? Thanks :)

[2021-04-26 14:36] MadameSheema commented on #96294
@karanbirsingh-qasource as Deepika is out sick, can you please validate this ticket on the latest 7.13.0BC? Thanks :)

[2021-04-26 14:37] MadameSheema commented on #97661
@stephmilovic yes! lets pair please 😊

[2021-04-26 15:13] #98117 closed

[2021-04-26 15:15] spalger commented on #92207
This has been implemented.

[2021-04-26 15:15] #92207 closed

[2021-04-26 15:21] jonathan-buttner commented on #95618
@austinsonger I think we were able to track down why the `{code}` block isn't formatting correctly. The alerts contain the action parameters that are being sent to Jira. So we have code blocks nested inside of code blocks. You can find the action parameters here:

![image](https://user-images.githubusercontent.com/56361221/116107226-d71da100-a680-11eb-8335-b19cb42e70d1.png)

Unfortunately this mea

[2021-04-26 15:21] ghudgins commented on #95698
an SA +1'd this to me in a meeting last week. try pasting a URL without protocol as an example (what he did to cause the issue) or screw up the `{{event.value}}` syntax

[2021-04-26 15:22] ymao1 commented on #94106
@gmmorris Naming is hard :) When I see `disabledDueToMissingConfiguration`, it sounds a little alarmist and doesn't provide any context as to why the configuration might be missing...probably the same feeling you get when you see `enabledAfterImport`. What about `disabledAfterImport`? That would give users/devs a reason for why a connector might be disabled and devs can get the clue of looking at

[2021-04-26 15:23] marius-dr commented on #97819
It passed for me on BC2, I guessed some other change fixed it in between. I need to check on Jenkins as well to confirm, but right now we're dealing with the fallout from the Jenkins upgrade.

[2021-04-26 15:30] alexfrancoeur commented on #80514
Are there plans to pick up this work soon? I'm mainly ask to understand prioritization and if we're planning to tackle soon, would like to update the broader getting started group.

[2021-04-26 15:33] sophiec20 commented on #98281
Ditto for Anomaly Explorer mini charts. They also fail to load the same query.

[2021-04-26 15:35] #97860 closed

[2021-04-26 15:39] ymao1 opened #98319 "[Alerting] POC for stack rules to use rule registry"
With the merging of the [rules registry plugin](https://github.com/elastic/kibana/pull/95903), Alerting would like to explore how stack rules might work with the rules registry.

[2021-04-26 15:49] pheyos opened #98324 "[ML] Data frame analytics - map view shows looping edge"
**Found in version**
- 7.13.0-bc1

**Browser**
- Chrome

**Steps to reproduce**
- Open the `iris` classification job in the data frame analytics maps view (e.g. get it via the env-bootstrap suite `df_analytics`)

**Expected result**
- The map view shows three nodes and two edges.

**Actual result**
- The map view shows one addition looping edge on the `iris` source index:
![image](https://user-ima

[2021-04-26 15:49] elasticmachine commented on #98324
Pinging @elastic/ml-ui (:ml)

[2021-04-26 15:49] mshustov opened #98325 "Include the calling plugin ID in a request header on all Kibana HTTP API calls"
This information might help Kibana devs and Support to determine a caller of the Kibana HTTP endpoints. We should align implementation details with https://github.com/elastic/kibana/issues/77214

Ideally, this functionality covers all interactions between the Kibana server and:
- all Kibana plugins
- FTR
- other tools that can call Kibana HTTP endpoints.

[2021-04-26 15:49] elasticmachine commented on #98325
Pinging @elastic/kibana-core (Team:Core)

[2021-04-26 16:02] sebelga opened #98330 "[Index pattern field editor] Support "object" runtime fields"
We need to add support in the index pattern field editor for [the upcoming runtime object field](https://github.com/elastic/elasticsearch/issues/68203).

For that we will need to rethink the UI of the flyout as we will need to take into consideration if the script returns an object with multiple fields or a single field value.

The script will emit a **one level depth** object.

[code]

The user w

[2021-04-26 16:11] elasticmachine commented on #98330
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-04-26 16:11] elasticmachine commented on #98330
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 16:30] mostlyjason opened #98333 "[Fleet] Name and description update needed for Elastic Cloud policy"
**Kibana version:**
7.13

**Elasticsearch version:**
7.13

**Original install method (e.g. download page, yum, from source, etc.):**
staging environment

**Describe the bug:**
The policy is misnamed "Elastic Agent on Cloud policy" and it is missing a description.

**Expected behavior:**
We decided in this issue to call it "Elastic Cloud agent policy" https://github.com/elastic/kibana/issues/90408#

[2021-04-26 16:31] elasticmachine commented on #98333
Pinging @elastic/fleet (Team:Fleet)

[2021-04-26 16:33] mostlyjason opened #98334 "[Fleet] Edit deployment button should go to the edit page"
**Kibana version:**
7.13

**Describe the bug:**
The edit deployment button links to the deployment page

**Expected behavior:**
It should link to the edit deployment page, so add "/edit" to the end of the URL

**Screenshots (if relevant):**
![image](https://user-images.githubusercontent.com/6370704/116118698-70918680-a672-11eb-8ce2-660cde332b82.png)

[2021-04-26 16:33] elasticmachine commented on #98334
Pinging @elastic/fleet (Team:Fleet)

[2021-04-26 16:34] #97821 closed

[2021-04-26 16:39] spalger opened #98337 "[performance testing] Setup isolated user journey tests"
We need to create a small number of tests that run through specific user journeys in Kibana. These tests might be written using [`@elastic/synthetics`](https://github.com/elastic/synthetics), though some testing should be done to make sure that's a good idea. Synthetics run using [Playwright](https://github.com/microsoft/playwright), which is a lower level browser automation and testing tool than

[2021-04-26 16:39] elasticmachine commented on #98337
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 16:47] gmmorris commented on #94106
It's the worst.

Yeah, that would be better for sure... I'm still not sure I'd understand what the call to action is 😬
But yeah, it's hard for sure :)

[2021-04-26 16:47] spalger opened #98339 "[performance testing] analyze APM data to test performance"
Based on #98337

Once we're running the tests implemented as part of #98337 we should be able to analyze the transactions and spans created during these tests to understand how performance has been impacted by a set of changes. We'll need to start by looking at the data collected over several runs and try to understand what insights we can capture and report on in PRs with the goal of being able t

[2021-04-26 16:47] elasticmachine commented on #98339
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 16:53] mostlyjason commented on #97888
I cannot reproduce this any more after using the latest version

[2021-04-26 16:53] #97888 closed

[2021-04-26 16:54] #97000 closed

[2021-04-26 17:01] jen-huang commented on #98333
This is configured by the [Cloud stackpack](https://github.com/elastic/cloud-assets/blob/7.x/stackpack/kibana/config/kibana-7.yml#L168), @simitt assigning to you in this case.

[2021-04-26 17:02] cauemarcondes commented on #94684
@dgieselaar can you tell where can I test it? Where did you record the video? I couldn't simulate it.

[2021-04-26 17:03] mostlyjason opened #98343 "[Fleet] Incorrectly enrolling self-hosted agent into Elastic Cloud policy"
**Kibana version:**
7.13 (built 4-21)

**Elasticsearch version:**
7.13

"build_hash" : "cb87e46a8b90ccca5c106b766d825e1c66d9b03c",
"build_date" : "2021-04-21T18:05:19.638013050Z",

**Original install method (e.g. download page, yum, from source, etc.):**
Staging cluster

**Describe the bug:**
When I enroll a self-hosted Fleet Server, it gets added to the Elastic Agent on Cloud policy. I'm not sure

[2021-04-26 17:03] elasticmachine commented on #98343
Pinging @elastic/fleet (Team:Fleet)

[2021-04-26 17:04] cauemarcondes commented on #97863
@formgeist Unfortunately by default Elastic charts doesn't show in the tooltip null values. I opened a new issue https://github.com/elastic/elastic-charts/issues/1139. The only way for us to show it is to set the values as 0, but I don't think that is correct.

[2021-04-26 17:05] dgieselaar commented on #94684
@cauemarcondes you need to look at a transaction group that has enough unsampled transactions. Easiest way to configure that is by spinning up apm integration testing locally and configuring one service to have a very low sample rate. I don't know off the top of my head what the flag is, but I assume there is one.

[2021-04-26 17:09] jen-huang commented on #98343
The "service tokens" are not policy-specific. I think we need to fix the commands to include `--fleet-server-policy` when a policy is selected, otherwise the agent will be enrolled into the "default fleet server policy" (which is the Elastic Agent on Cloud policy).

[2021-04-26 17:11] cauemarcondes commented on #95140
Hello @glucaci and @gregkalapos , I was reading through this issue and I don't think there's any action needed for the APM UI team, am I correct? I'm asking because the issue is on our board and that hasn't been any new comments on that for a long time.

[2021-04-26 17:19] ThomThomson commented on #9872
I've tested this on Chrome, and can confirm that this is no longer an issue:
<img width="499" alt="Screen Shot 2021-04-26 at 1 17 53 PM" src="https://user-images.githubusercontent.com/14276393/116124188-fa9d1780-a691-11eb-97cd-eabf94f745ef.png">

We can reopen if this is a problem in another browser

[2021-04-26 17:19] #9872 closed

[2021-04-26 17:22] crob611 commented on #18740
Closing as this is an IE11 issue

[2021-04-26 17:22] #18740 closed

[2021-04-26 17:23] #23083 closed

[2021-04-26 17:24] #91508 closed

[2021-04-26 17:35] nchaulet commented on #98343
1. @mostlyjason @jen-huang what should we use if there is no default fleet server policy not hosted?

2. Should we add a safe guard also on the agent side to not allow to enroll to an hosted policy (more complicated as currently the agent do not know about hosted policy) and in this case how do we enroll fleet server in cloud

[2021-04-26 17:38] formgeist commented on #97863
@cauemarcondes Thanks for looking into it and opening the issue 👍

[2021-04-26 17:39] cauemarcondes commented on #97863
No problem, I'm going to move it to v7.14

[2021-04-26 17:42] crob611 commented on #31430
Closing this in favor of enhancment request https://github.com/elastic/kibana/issues/37436

[2021-04-26 17:51] marshallmain commented on #98285
@MikePaquette How much memory is allocated for the Kibana instance you observed this on? It seems to be due to Kibana being underprovisioned. I was able to reproduce this issue on a Kibana instance with 1GB of RAM - I attempted to duplicate 546 rules but only 513 were duplicated (likely a related issue), then attempted to export the 513 new rules and it only exported 260 with 253 missing. On a Kib

[2021-04-26 17:53] FrankHassanabad opened #98350 "[Security Solutions] We should change our query to use a real "others", rather than a "missing" query"
**Describe the bug:**
In our security solutions application we use this type of query in a lot of places and mark the UI as being "others" when in reality this is not "others". It is actually the missing records and values:
<img width="812" alt="Screen Shot 2021-04-26 at 11 00 06 AM" src="https://user-images.githubusercontent.com/1151048/116122124-9b81d780-a67e-11eb-896a-91d78c73ab9d.png">

[code]

[2021-04-26 17:59] kibanamachine opened #98351 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration v2 rewrites id deterministically for SO with namespaceType: "multiple" and "multiple-isolated""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13618/)

[2021-04-26 18:00] kibanamachine opened #98352 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration v2 clean ups if migration fails"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13618/)

[2021-04-26 18:03] elasticmachine commented on #98352
Pinging @elastic/kibana-core (Team:Core)

[2021-04-26 18:04] elasticmachine commented on #98351
Pinging @elastic/kibana-core (Team:Core)

[2021-04-26 18:11] mistic commented on #98352
This test was failing on CI and I've skipped it to unblock it.

master/8.0: 38aba0e
7.x/7.14: b583d68

[2021-04-26 18:14] marshallmain commented on #98285
Update with a 2 more test cases: 2GB Kibana instance exported 544/546 rules successfully, 4GB Kibana instance exported all 546 successfully. Do we have anywhere where we provide guidance to users on Kibana sizing for use with the security solution? We may also want to update the ESS Security deployment template to default to 4GB or more of RAM, if possible.

[2021-04-26 18:15] glucaci commented on #95140
Hi @cauemarcondes, I'm not sure where exactly the issue is, but on the Logs UI is the only place where the `message` appears concatenated with `event.dataset` and `log.level`.

[2021-04-26 18:17] mistic commented on #98351
This test was failing on CI and I've skipped it to unblock it.

master/8.0: 56bce08
7.x/7.14: c104ad2

[2021-04-26 18:48] kcm opened #98356 "[Fleet] Global Output ES/Kibana default port are wrong for some environments"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** Ubuntu 18.04 + ECE 2.9.0

**Browser version:** Firefox 88

**Browser OS version:** OS X 11.2.3

**Original install method (e.g. download page, yum, from source, etc.):** ECE Stack Pack

**Describe the bug:** Fleet Global Output defaults to port 443 for Elasticsearch output and specifies no port for Kibana output,

[2021-04-26 18:48] elasticmachine commented on #98356
Pinging @elastic/fleet (Team:Fleet)

[2021-04-26 18:49] jasonrhodes commented on #97826
I think we should move forward with Logs UI rule registration separate from Metrics UI rule registration, whatever that means once the rule registration mechanics are stable. I'm going to update this ticket to just be for Logs UI rules.

[2021-04-26 18:52] ymao1 commented on #98319
General thoughts after creating a POC for writing out alerts as data for stack rules using the rule registry:

**Solution level vs rule type level**
The rule registry seems to make some assumptions that alerts-as-data will be written out at a solution-level. Each solution (o11y, security) creates its own rule registry during plugin setup, which bootstraps an alerts-as-data index for that solution

[2021-04-26 18:52] jen-huang opened #98357 "[Fleet] Easier editing and display for long URLs in Fleet settings"
The Fleet settings flyout displays well for most long URLs, but for extra long ones the URLs get truncated. In addition, it's not possible to edit existing URLs - the user will need to delete and re-add it. Can we improve this UX so that full URLs can be displayed and edited? One idea I could see is to have a list of simple text fields instead with `+` `-` buttons to add and remove them.

![image]

[2021-04-26 18:52] elasticmachine commented on #98357
Pinging @elastic/fleet (Team:Fleet)

[2021-04-26 18:53] cauemarcondes commented on #94684
Ok, I managed to simulate it. Can you tell me what would be the best way to solve this issue in your opinion?

1. Remove from the distribution chart the items that are not sampled
2. keed the items in the chart but don't make them clickable

I'd say the best solution is the first option, I think it would be weird showing something on the chart and the user not being able to click on it.

[2021-04-26 18:55] jen-huang commented on #98356
@mostlyjason I know we've had some issues filed in the past wrt to auto-detection and population of ES host on Cloud. Can you remind me what they are and what you think about the priority for them?

[2021-04-26 19:01] cchaos opened #98359 "[META] 7.14 Solution Nav implementation"
_This is a Kibana platform wide (all solutions) meta ticket for tasks needed to be done for the implementation of the proposed solution navigation for the 7.14 release._

**Coordinator:** @cchaos

For 7.14, the main path for each solution team is to convert their current page layout construction to utilize the [KibanaPageTemplate](https://github.com/elastic/kibana/blob/master/dev_docs/tutorials/ki

[2021-04-26 19:02] jasonrhodes opened #98360 "[RAC] [Metrics UI] Register Metrics UI rule types with new RAC rules registry"
:warning: **This is a meta issue.**

Continuing on from the discussion in #97826, we're going to handle registering rule types separately for each remaining observability app, based on the example work done in APM. This should allow alerts created from these registered rules to begin showing up in the observability alerting table.

AC:
* Metrics rule registry is created as a child of the observabi

[2021-04-26 19:02] elasticmachine commented on #98360
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-26 19:04] dgieselaar commented on #94684
Do you think it's not useful to show duration distribution for unsampled
transactions?

On Mon, Apr 26, 2021, 20:54 Cauê Marcondes ***@***.***> wrote:

[2021-04-26 19:04] jen-huang commented on #95855
We will be removing BCM in 7.14: https://github.com/elastic/kibana/issues/90614

[2021-04-26 19:05] ymao1 commented on #98319
**Alerting framework possible improvements**

The `lifecycleRuleTypeFactory` repeats a lot of the logic that occurs within the alerting task runner wrt to determining whether an alert is active/new/recovered, with the nice addition of grouping a series of consecutive active alerts with a UUID (and determining duration), Knowing that security is also creating some ruleTypeFactories for their rule t

[2021-04-26 19:12] formgeist commented on #94684
Is also prefer us to show the distribution but the buckets wouldn't be selectable and show a tooltip on hover that explains "No samples available". This would also work for low sample rate services you might have.

[2021-04-26 19:26] spalger commented on #93354
Same issue, Chrome aborted all requests mid test.

[2021-04-26 19:27] elasticmachine commented on #98319
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-26 19:29] #95242 closed

[2021-04-26 19:30] cauemarcondes commented on #94684
IMHO it doesn't look correct when I see 4 transactions in the distribution chart but only 2 options available in the pagination below.

<img width="584" alt="Screen Shot 2021-04-26 at 15 29 23" src="https://user-images.githubusercontent.com/55978943/116139773-61c3c780-a6a4-11eb-8133-0807979c5cfc.png">

[2021-04-26 19:32] pmuellr commented on #97747
For reference, we've not got support merged to use `encodeURIComponent()` where neccessary, via PR https://github.com/elastic/kibana/pull/97854, backported all the way back to 7.12.2.  So the only question is whether we should change the existing APIs to prevent from having to do this, by passing connector ids, rule ids, and alert ids, in request bodies vs as URL path parameters (or query paramete

[2021-04-26 19:33] neptunian opened #98366 "[esArchiver] support archiving of data streams"
When trying to write a functional test for Metrics UI, I archived the data specifying `.ds-metrics-*`.  This archives the correct indices, though it does not archive the associated data stream.  When the index is recreated using `esArchiver load` the indices are created without the relative data stream.  This is a problem because the view I need to test in the metrics UI queries with the index pat

[2021-04-26 19:33] elasticmachine commented on #98366
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-26 19:34] jfsiii commented on #82160
https://github.com/elastic/kibana/issues/95855#issuecomment-827075485 says goal is under 100k

[2021-04-26 19:36] #98038 closed

[2021-04-26 19:40] pmuellr commented on #97747
One other thought I had.  We want to allow customers to be able to construct URLs in the their action messages that can point back into Kibana.  I don't believe we have a use case today where a URL would need to be constructed that contained an alert id (rule id yes, but alert id, I don't think so), but ... we could in the future.

For those cases, because we don't have any way (today) of allow cu

[2021-04-26 19:43] #97879 closed

[2021-04-26 19:50] spalger commented on #96895
Unfortunately Jest has no concept of what a server-side test is, we could use different config files for server/browser tests but for now all tests extend the base config which sets the Jest env to `jest-environment-jsdom`, which provides a global XHR implementation that libraries like request automatically use.

[2021-04-26 19:51] pmuellr commented on #97755
Was thinking that we could do something like this, as a recurring task "cleanup the old empty event log indices":

- get the current version of Kibana
- find all the empty event log indices that don't match the current version
- delete them

One potential problem with this is that if a customer somehow migrated to a new Kibana version, and the task deleted all the event log indices for the version

[2021-04-26 19:54] spalger commented on #98366
I would expect that something like `node scripts/es_archiver save metrics-8.0.0` would detect that the index is an alias controlled by a data stream, archive the necessary template, and then archive all the docs from the data stream associated with the `metrics-8.0.0` alias so that the docs could be indexed by a newly created data stream on `load`.

[2021-04-26 19:56] mostlyjason commented on #98343
++ on including the `--fleet-server-policy`. I'm not sure a default fleet server policy is relevant here since I explicitly choose this one.

This issue defines the capability restriction for "Agents cannot be added to this policy from Fleet" https://github.com/elastic/kibana/issues/76843 @jfsiii is this implemented in Fleet?

[2021-04-26 20:01] chrisronline opened #98373 "[Alerting] Index task manager health data into Kibana SM monitoring indices"
Relates to https://github.com/elastic/kibana/issues/95197

As Kibana is responsible for more and more in the Stack, we need to ensure users have the necessary insights into the performance of Kibana from the Stack Monitoring UI.

Alerting currently has a health api for the task manager ([`api/task_manager/_health`](https://www.elastic.co/guide/en/kibana/master/task-manager-health-monitoring.html))

[2021-04-26 20:01] elasticmachine commented on #98373
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 20:01] elasticmachine commented on #98373
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-26 20:04] #96904 closed

[2021-04-26 20:08] chrisronline opened #98378 "[Alerting] Add alerts from Stack Monitoring regarding Task Manager health"
Relates to https://github.com/elastic/kibana/issues/95197

After https://github.com/elastic/kibana/issues/98373, we should start adding relevant [cluster alerts](https://www.elastic.co/guide/en/kibana/current/kibana-alerts.html) that indicate when task manager is running into trouble.

Let's use this use this issue to define the exact scenarios under which an alert should fire.

[2021-04-26 20:08] elasticmachine commented on #98378
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-26 20:08] elasticmachine commented on #98378
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 20:08] christophercutajar commented on #87048
One of our use-cases why the state in the recovered action would be very helpful for us due to the following:

We're monitoring about 64 different monitors with one `Uptime monitor status` alert. During our maintenance, we expected that a number of services would temporary go down. Having just a message saying `recovered` isn't very helpful. A sample is the one below:

![image](https://user-images

[2021-04-26 20:11] jasonrhodes opened #98379 "[RAC] [Logs UI] Register Logs UI rule types with new RAC rules registry"
Continuing on from the discussion in #97826, we're going to handle registering rule types separately for each remaining observability app, based on the example work done in APM. This should allow alerts created from these registered rules to begin showing up in the observability alerting table.

AC:
* Logs rule registry is created as a child of the observability registry (see: [APM example](https:

[2021-04-26 20:11] elasticmachine commented on #98379
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-26 20:14] jasonrhodes opened #98381 "[RAC] [Stack Monitoring UI] Register Stack Monitoring UI rule types with new RAC rules registry"
Continuing on from the discussion in #97826, we're going to handle registering rule types separately for each remaining observability app, based on the example work done in APM. This should allow alerts created from these registered rules to begin showing up in the observability alerting table.

AC:
* Stack monitoring rule registry is created as a child of the observability registry (see: [APM exa

[2021-04-26 20:14] elasticmachine commented on #98381
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-26 20:14] elasticmachine commented on #98381
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 20:14] jen-huang commented on #95306
@ph I'm moving this to the agent board since it seems that it is work on agent side. Let me know otherwise.

[2021-04-26 20:18] jasonrhodes opened #98382 "[RAC] [Uptime UI] Register Uptime UI rule type(s) with new RAC rules registry"
Continuing on from the discussion in elastic/kibana#97826, we're going to handle registering rule types separately for each remaining observability app, based on the example work done in APM. This should allow alerts created from these registered rules to begin showing up in the observability alerting table.

AC:
* Uptime rule registry is created as a child of the observability registry (see: [APM

[2021-04-26 20:18] elasticmachine commented on #98382
Pinging @elastic/uptime (Team:uptime)

[2021-04-26 20:29] wylieconlon opened #98383 "[Index patterns] Remove `fields` cache in a migration"
All direct access to the `fields` cache is removed in Kibana code, so the next step would be to remove this parameter in a migration. This will reduce the size of saved objects.

Meta issue: https://github.com/elastic/kibana/issues/84352

[2021-04-26 20:29] elasticmachine commented on #98383
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 20:29] jen-huang commented on #92427
I'm removing Fleet tags from this as this looks like work for the APM team, but please reach out if we can help support you.

[2021-04-26 20:29] benwtrent commented on #91574
Here is a visualization I did with vega. The range query buckets were initially calculated with a `min` and `max` on a `transaction.duration.us` field. Then, the bucket sizes was interpolated by taking the desired number of buckets between `max` and `min`. Fairly similar to what y'all do now ([np.linespace](https://numpy.org/doc/stable/reference/generated/numpy.linspace.html) on the log10(min), lo

[2021-04-26 20:32] formgeist commented on #94684
To be fair, the distribution count has always been different from the samples and I think that's OK. We'll soon be addressing this in the Transactions redesign.

[2021-04-26 20:38] #98334 closed

[2021-04-26 20:41] jen-huang commented on #78961
Closing this one as documentation task was rolled into https://github.com/elastic/observability-docs/issues/524.

[2021-04-26 20:41] #78961 closed

[2021-04-26 20:44] kibanamachine commented on #97365
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13483/)

[2021-04-26 20:55] christophercutajar commented on #87048
One of our use-cases why the state in the recovered action would be very helpful for us is due to the following:

We're monitoring about 64 different monitors with one `Uptime monitor status` alert. During our maintenance, we expected that a number of services would temporary go down. Having just a message saying `recovered` isn't very helpful. A sample is the one below:

![image](https://user-ima

[2021-04-26 20:55] jen-huang commented on #98343
Thanks @jfsiii, that makes sense. I created https://github.com/elastic/fleet-server/issues/278 to fix this on the Fleet server side.

[2021-04-26 20:56] mostlyjason commented on #98356
I thought this issue addressed it for the ECE scenario? https://github.com/elastic/cloud/issues/73898. It sounded like we were going why 9243 so I'm curious why its using 443? I can't see the rest of the screenshot since the text is truncated, but when you start a new deployment I thought we fill in these values with port 9243 automatically?

[2021-04-26 20:56] austinsonger commented on #95618
That is going to be a tedious things to get what I want in the ticket. Like it would be nice sometime to be able to get all of it.

Like here is example of what we get from AlienVault
![](https://i.imgur.com/wezoq85.png)

## URL
Yeah Probably 1/3 tickets of the tickets being generated are basically replacing elastic url like the following example shows.
![](https://i.imgur.com/r59RZbZ.png)

[2021-04-26 20:58] graphaelli commented on #27583
no longer relevant

[2021-04-26 20:58] #27583 closed

[2021-04-26 21:09] wylieconlon commented on #84352
If this list is accurate, it looks like the last direct use of `.fields` was removed in https://github.com/elastic/kibana/pull/88303

[2021-04-26 21:22] FrankHassanabad commented on #97365
Seeing this message which indicates it got the value but the value is not what it expects:

[code]

So then it keeps retrying and each retry afterwards looks like it returns `undefined` and it can get the correct value to pass the test. I don't know why/when it would get the wrong count though.

[code]

[2021-04-26 21:26] #97673 closed

[2021-04-26 21:29] jen-huang commented on #97363
@mostlyjason @ruflin If we want something quick we can just adjust the condition so that if an agent is in a hosted policy _and_ its status is offline, then allow unenroll (without force param), what do you think? That could be done for the next 7.13 BC:

https://github.com/elastic/kibana/blob/45255425f492321ec178a85d65173ca5257b5e8a/x-pack/plugins/fleet/server/services/agents/unenroll.ts#L30

Oth

[2021-04-26 21:29] wylieconlon commented on #98054
@MichaelMarcialis I'm not sure it's accurate to say that a user who has changed the label is opting out of the suffix. For example, the default `Count of records` is kind of long. I might want to say `Count`, but still use the suffix so it's `Count per 3 hours` or `Count per 12 hours` depending. So I think we actually have 3 states that are desirable for users:

1. Default label with suffix automa

[2021-04-26 21:32] jen-huang commented on #90047
@hbharding @katrin-freihofner Hi, I wanted to note https://github.com/elastic/kibana/issues/97180 and see if this can be added to the Integration UI designs.

(I also added that issue to the design project board for 7.14 but feel free to adjust that as needed).

[2021-04-26 21:32] #98343 closed

[2021-04-26 21:35] jen-huang commented on #96779
Are we still seeing this behavior with recent snapshots? If so, @blakerouse @nchaulet any guess on which side this is on?

[2021-04-26 21:36] jen-huang commented on #96574
Closing, I have seen this from maps telemetry a few weeks ago but a recent pull of main branch doesn't show such errors any more.

[2021-04-26 21:36] #96574 closed

[2021-04-26 21:37] shaunmcgough opened #98398 "[Discover] Hide unused fields"
When looking at fields in Discover, there should be a way to toggle on / off all of the fields that do not contain any information in the index. This is a common customer request. One MVP for this would be to have the toggle as part of a saved search, so that the performance hit of checking everything would only happen when opening the saved search. Further discussion is needed about the performan

[2021-04-26 21:44] jen-huang commented on #94053
Closing as we haven't really gotten any other internal reports of kuery breakage and it's been a while.

[2021-04-26 21:44] #94053 closed

[2021-04-26 21:47] jen-huang commented on #58000
Constraints have been supported on agent side for a while now but Fleet support hasn't bubbled up as a priority. @mostlyjason do you think we'll need this in 7.x?

[2021-04-26 21:48] jen-huang commented on #64869
Putting this in backlog to revisit once more packages move out of Experimental.

[2021-04-26 21:48] jen-huang commented on #65615
Closing in favor of #95316.

[2021-04-26 21:48] #65615 closed

[2021-04-26 21:50] jen-huang commented on #66025
With Fleet Server in >= 7.13, we no longer use the `fleet_enroll` user and role. Closing.

[2021-04-26 21:50] #66025 closed

[2021-04-26 21:51] jen-huang commented on #66090
Closing as audit logging hasn't bubbled up as a priority.

[2021-04-26 21:51] #66090 closed

[2021-04-26 21:51] jen-huang commented on #72197
Closing due to staleness.

[2021-04-26 21:51] #72197 closed

[2021-04-26 21:52] jen-huang commented on #72612
With Fleet Server, we no longer use these settings. Closing.

[2021-04-26 21:52] #72612 closed

[2021-04-26 21:54] rashmivkulkarni opened #98399 "visTypeVega.chunk.3.js:1 Uncaught TypeError: Cannot read property 'get' of null when you open a dash"
**Kibana version:** 7.13.0 BC2

Describe the bug:
When you open a dashboard and make it full screen, and press the back button, I see this error in console :

[code]
<img width="1792" alt="Screen Shot 2021-04-26 at 2 49 09 PM" src="https://user-images.githubusercontent.com/11466284/116155152-93d22b00-a69e-11eb-84ff-ef13b30d8550.png">

[2021-04-26 21:54] elasticmachine commented on #98399
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 21:55] jen-huang commented on #73489
Closing this until #72718 (design task) is designed and specc'd.

[2021-04-26 21:55] #73489 closed

[2021-04-26 21:55] jen-huang commented on #95220
Closing as I found an older issue that is already in our backlog: #72718.

[2021-04-26 21:55] #95220 closed

[2021-04-26 21:58] jen-huang commented on #72718
FYI Synthetics opened #95220 for us to investigate a common SSL component for integrations, I closed that one to roll it in here. @mostlyjason This hasn't been on our radar in the last few releases or the upcoming one, do you think this is still needed in 7.x?

[2021-04-26 21:59] jen-huang commented on #75853
Closing in favor of #93315 to support granular integrations - aka multiple policy templates 😉

[2021-04-26 21:59] #75853 closed

[2021-04-26 22:05] liza-mae opened #98402 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/context/_discover_navigation·js - context app context link in discover should open the context view with the selected document as anchor"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/context/_discover_navigation·js**
**Stack Trace:**
[code]
**Other test failures:**
- context app context link in discover should open the context view with the same columns
- context app context link in discover should open the context view with the filters disabled
- context app context link in discover should navigate

[2021-04-26 22:05] liza-mae commented on #97535
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_create_index_pattern_wizard·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae commented on #72165
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_create_delete·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  creating and deleting default index index pattern deletion "before all" hook for "should return to index pattern list"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana

[2021-04-26 22:05] liza-mae opened #98403 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js - management index result field sort "before all" hook in "index result field sort""
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_results_sort·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result field sort "after all" hook in "index result field sort"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae commented on #97537
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_index_pattern_popularity·js**
**Stack Trace:**
[code]
**Other test failures:**
- management  index result popularity "after each" hook for "should update the popularity input"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae opened #98404 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/management/_scripted_fields·js - management scripted fields creating and using Painless numeric scripted fields should visualize scripted field in vertical bar chart"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_scripted_fields·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae opened #98405 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page allows to delete a saved object"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae commented on #92299
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/status_page/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae commented on #92302
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tile_map·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] bhavyarm opened #98406 "Kibana crashed fatally with Unable to complete saved object migrations for the [.kibana_task_manager] index. TypeError: Cannot read property 'logger' of undefined"
**Kibana version:** 7.13.0 BC2

**Elasticsearch version:** 7.13.0 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):**  from staging

**Describe the bug:** Kibana fails to come up because .kibana_task_manager migration didn't complete because of "typeError: Cannot read

[2021-04-26 22:05] liza-mae commented on #97538
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_vertical_bar_chart_nontimeindex·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  vertical bar chart with index without time filter should have inspector enabled
- visualize app  vertical bar chart with index without time filter should show correct chart
- visualize app  vertical bar chart

[2021-04-26 22:05] liza-mae opened #98407 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visual builder switch index patterns should be able to switch using text mode selection"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_chart·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app  visual builder switch index patterns should be able to switch combo box mode selection

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae opened #98408 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_unsaved_listing·ts - dashboard app using current data dashboard unsaved listing lists unsaved changes to new dashboards"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_unsaved_listing·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard unsaved listing restores unsaved changes to new dashboards
- dashboard app using current data dashboard unsaved listing shows a warning on create new, and restores panels if continue is s

[2021-04-26 22:05] liza-mae commented on #92303
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/data_shared_attributes·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] elasticmachine commented on #98406
Pinging @elastic/kibana-core (Team:Core)

[2021-04-26 22:05] liza-mae commented on #76181
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_back_button·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:05] liza-mae commented on #86524
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/legacy_urls·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data legacy urls kibana link redirect back button works
- dashboard app using current data legacy urls kibana link redirect resolves markdown link from dashboard

 _Test Report: https://internal-ci.elastic.co/view/St

[2021-04-26 22:06] liza-mae commented on #97540
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_filter_bar·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using current data dashboard filter bar filter editor field list works when a vis with no index pattern is added
- dashboard app using current data dashboard filter bar bad filters are loaded properly filter from unrelate

[2021-04-26 22:06] liza-mae commented on #92307
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/view_edit·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:06] liza-mae opened #98409 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·ts - dashboard app using legacy data dashboard listing page search by title loads a dashboard if title matches"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/dashboard_listing·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard app using legacy data dashboard listing page search by title title match is case insensitive
- dashboard app using legacy data dashboard listing page search by title preloads search filter bar when there is no match

 _Test Repo

[2021-04-26 22:06] liza-mae commented on #92309
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-04-26 22:06] liza-mae opened #98410 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/async_scripted_fields·js - discover async search with scripted fields query should show failed shards pop up"
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/async_scripted_fields·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:06] liza-mae commented on #98410
Relates to: elastic/kibana#78743

[2021-04-26 22:06] liza-mae commented on #97553
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens smokescreen tests should allow formatting on references

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:06] liza-mae commented on #97554
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/add_to_dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens add-to-dashboards tests should allow new lens be added by value to an existing dashboard
- lens app  lens add-to-dashboards tests should allow new lens to be added by reference to a new dashboard
- lens app  lens ad

[2021-04-26 22:06] liza-mae commented on #97556
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/chart_data·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:13] shaunmcgough opened #98411 "[Discover] Add cardinality to field"
Add the number of distinct values in a table column, relative to the number of rows in the table as a number (i.e. cardinality) next to the field name in the flyout window in parenthesis behind it.

<img width="562" alt="image" src="https://user-images.githubusercontent.com/6256687/116157315-c0943b80-a6ba-11eb-83c0-bb74e18c1c5d.png">

Use case:
Actor: User
Action: User needs a way to determine int

[2021-04-26 22:13] elasticmachine commented on #98411
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:14] jen-huang commented on #90544
Closing, this was fixed by #94311.

[2021-04-26 22:14] #90544 closed

[2021-04-26 22:14] elasticmachine commented on #98398
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:17] liza-mae opened #98412 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/overview·ts - Uptime app with real-world data overview page pagination is cleared when filter criteria changes"
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/overview·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with real-world data overview page clears pagination parameters when size changes

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae commented on #98412
Relates to: elastic/kibana#57737

[2021-04-26 22:17] liza-mae opened #98413 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/context/_filters·js - context app context filters "before each" hook for "inclusive filter should be addable via expanded doc table rows""
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/context/_filters·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae opened #98414 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/cluster/overview·js - Monitoring app Cluster overview for Yellow cluster with Platinum license elasticsearch panel has ML, because license is Platinum"
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/cluster/overview·js**
**Stack Trace:**
[code]
**Other test failures:**
- Monitoring app Cluster overview for Yellow cluster with Platinum license shows elasticsearch panel with data
- Monitoring app Cluster overview for Yellow cluster with Platinum license shows kibana panel

 _Test Report: https

[2021-04-26 22:17] liza-mae opened #98415 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/cluster·js - Monitoring app beats cluster shows beats panel with data"
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/monitoring/beats/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae commented on #97559
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae opened #98416 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/saved_objects_management/spaces_integration·ts - Saved objects management spaces integration redirects to correct url when inspecting an object from a non-default space"
**Version: 7.13.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/saved_objects_management/spaces_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae opened #98417 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/search/session·ts - apis search search session session management should sync search ids into persisted session"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/search/session·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae opened #98418 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js - apis Monitoring APM overview should summarize apm cluster with metrics"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae opened #98419 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js - apis Monitoring cluster list with trial license clusters should load multiple clusters"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:17] liza-mae commented on #98419
Relates to: elastic/kibana#56204

[2021-04-26 22:18] liza-mae opened #98420 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js - apis Monitoring Standalone Cluster cluster should get cluster data"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae opened #98421 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/context/_size·js - context app context size "before all" hook for "should default to the `context:defaultSize` setting""
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/context/_size·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae opened #98422 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/telemetry/telemetry·ts - apis Telemetry /api/telemetry/v2/clusters/_stats monitoring/multicluster should pass the schema validations"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/telemetry/telemetry·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae opened #98423 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/telemetry/telemetry_local·ts - apis Telemetry /api/telemetry/v2/clusters/_stats with monitoring disabled should pass the schema validation"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/telemetry/telemetry_local·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae opened #98424 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/create_doc_source·js - apis Maps endpoints doc source creation should create a new index and pattern but not clobber an existing one"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/create_doc_source·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Maps endpoints  doc source creation should fail to create index and pattern with invalid index

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae opened #98425 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/index_data·js - apis Maps endpoints index feature data should add point data to an existing index"
**Version: 7.13.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/maps/index_data·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Maps endpoints  index feature data should add shape data to an existing index
- apis Maps endpoints  index feature data should fail if data is invalid
- apis Maps endpoints  index feature data should fail if index does not exist

[2021-04-26 22:18] liza-mae opened #98426 "[test-failed]: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard·ts - Reporting APIs CSV Generation from SearchSource Exports CSV with almost all fields when using fieldsFromSource"
**Version: 7.13.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Reporting APIs CSV Generation from SearchSource Exports CSV with all fields when using defaults
- Reporting APIs CSV Generation from SearchSource date formatting With filters and timebased da

[2021-04-26 22:18] liza-mae opened #98427 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_data_grid_doc_navigation·ts - discover app discover data grid doc link should open the doc view of the selected document"
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_data_grid_doc_navigation·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae commented on #97568
**Version: 7.13.0**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/policy_details·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] liza-mae commented on #97555
**Version: 7.13.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/1685/testReport/_

[2021-04-26 22:18] jen-huang commented on #89683
Closing as permissions were reduced in #94591 and will be restricted further in the work for #64634.

[2021-04-26 22:18] #89683 closed

[2021-04-26 22:21] elasticmachine commented on #98427
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:21] elasticmachine commented on #98426
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-04-26 22:22] elasticmachine commented on #98425
Pinging @elastic/kibana-gis (Team:Geo)

[2021-04-26 22:22] elasticmachine commented on #98424
Pinging @elastic/kibana-gis (Team:Geo)

[2021-04-26 22:22] elasticmachine commented on #98420
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 22:22] elasticmachine commented on #98419
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 22:22] elasticmachine commented on #98418
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 22:23] elasticmachine commented on #98415
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 22:24] elasticmachine commented on #98423
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-04-26 22:24] elasticmachine commented on #98422
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-04-26 22:27] elasticmachine commented on #98402
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:27] elasticmachine commented on #98413
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:27] elasticmachine commented on #98421
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:27] elasticmachine commented on #98417
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 22:28] elasticmachine commented on #98416
Pinging @elastic/kibana-core (Team:Core)

[2021-04-26 22:28] elasticmachine commented on #98414
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-04-26 22:28] elasticmachine commented on #98412
Pinging @elastic/uptime (Team:uptime)

[2021-04-26 22:29] elasticmachine commented on #98405
Pinging @elastic/kibana-core (Team:Core)

[2021-04-26 22:30] shaunmcgough opened #98431 "[Discover] Pin records to top of data grid"
In the selected records menu, there should be a new option called, Pin selected records, which pins the selected records to the top of the data grid. There should also be an option to unpin selected records, and if you unselect a record, it should unpin automatically.

<img width="492" alt="image" src="https://user-images.githubusercontent.com/6256687/116158449-b4a97900-a6bc-11eb-90af-82964fd8640d

[2021-04-26 22:30] elasticmachine commented on #98431
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:31] elasticmachine commented on #98410
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 22:31] elasticmachine commented on #98408
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 22:31] elasticmachine commented on #98409
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-26 22:32] elasticmachine commented on #98407
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 22:32] elasticmachine commented on #98404
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 22:32] elasticmachine commented on #98403
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-26 22:32] elasticmachine commented on #97562
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2021-04-26 22:33] elasticmachine commented on #97561
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2021-04-26 22:37] elasticmachine commented on #97365
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-26 22:37] elasticmachine commented on #97365
Pinging @elastic/siem (Team:SIEM)

[2021-04-26 22:38] jen-huang commented on #89552
@kevinlog Given that we already display the administration privileges requirement in the UI ^, is this issue still valid?

[2021-04-26 22:39] shaunmcgough opened #98432 "[Discover] Add field to grid from flyout"
Adds the ability to add a field to the data grid from the flyout menu.

<img width="979" alt="image" src="https://user-images.githubusercontent.com/6256687/116159603-8e84d880-a6be-11eb-8862-b1c91658cc17.png">

Use case:
Actor: User
Action: User opens the drawer (flyout) and hovers over a field, the ability to 'Add field as column' to the data grid should be displayed, and clicking it should add th

[2021-04-26 22:39] elasticmachine commented on #98432
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 22:40] jen-huang commented on #89251
This was fixed by #95481:

https://github.com/elastic/kibana/blob/78937e3bb469ba5be25fe7785e629a3442da2125/x-pack/plugins/fleet/server/plugin.ts#L302

[2021-04-26 22:40] #89251 closed

[2021-04-26 22:50] jen-huang commented on #72553
@mostlyjason I wonder if this can be closed in favor of the Getting Started effort? #94207

[2021-04-26 22:54] kibanamachine commented on #59229
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/31/)

[2021-04-26 23:21] shaunmcgough opened #98434 "[Discover] Auto fit column"
In Discover, add the ability to auto fit / auto resize the column to fit the contents of the column upon double-clicking the column separator while it is turned into an arrow with two points. This will resize the column on the left, and leave enough padding to be legible, for example 5px or so.

<img width="398" alt="image" src="https://user-images.githubusercontent.com/6256687/116162716-5ed8cf00-

[2021-04-26 23:21] elasticmachine commented on #98434
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-26 23:41] ymao1 commented on #94128
[PR](https://github.com/elastic/kibana/pull/98223) for https://github.com/elastic/kibana/issues/94106 is open so removing `blocked` label since you can branch off the PR

[2021-04-26 23:41] ymao1 commented on #94151
[PR](https://github.com/elastic/kibana/pull/98223) for https://github.com/elastic/kibana/issues/94106 is open so removing `blocked` label since you can branch off the PR

[2021-04-26 23:42] ymao1 commented on #94152
[PR](https://github.com/elastic/kibana/pull/98223) for https://github.com/elastic/kibana/issues/94106 is open so removing `blocked` label since you can branch off the PR

[2021-04-27 00:17] dedemorton commented on #86565
Is this issue still needed now that we generate self-signed certificates for Fleet Server? The dialog about missing securities looks like this now:
![image](https://user-images.githubusercontent.com/14206422/116166574-2b417900-a6b3-11eb-98de-997e32574a3f.png)

[2021-04-27 00:48] constancecchen commented on #97561
Is this still failing? I'm confused as to whether this is us (as we haven't changed anything in our tests for months) or if it's an intermittent failure caused by recent CI issues.

[2021-04-27 00:51] constancecchen commented on #97561
Additionally, we don't appear to (manually) assert on `[data-test-subj="kibanaChrome"]` anywhere in our tests, leading me to suspect this is not an issue on our end.

[2021-04-27 02:03] spong commented on #97937
We refetch on each display of the pop-up, and any subsequent job enable/disable, distilling the three requests below into a `SecurityJob` that pretty much encapsulates if the job's module is installed and the state of the datafeed.

[code]

In this instance, we will only be missing the correct `datafeedId` when the module has yet to be installed, so it should be as simple as updating the client da

[2021-04-27 03:55] kibanamachine commented on #97365
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13628/)

[2021-04-27 04:18] #80367 closed

[2021-04-27 05:42] kibanamachine opened #98440 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/persistent_context·ts - lens app lens query context keeps time range and pinned filters after refreshing directly after saving"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13629/)

[2021-04-27 06:04] ashture commented on #81289
Facing same issue.
I do not have any memory issue as I am using separate machine instead of docker. How do we fix this ?

Kibana - 7.9.2
Elasticsearch - 7.9.2

Following are my logs:

`Apr 26 07:36:20 prod-1-us-east-1b-analytics-000.kpoint.com kibana[23460]: Error in worker TypeError [ERR_INVALID_ARG_TYPE]: The ...ject
Apr 26 07:36:20 prod-1-us-east-1b-analytics-000.kpoint.com kibana[23460]: Error

[2021-04-27 06:40] #97864 closed

[2021-04-27 07:13] kertal commented on #98434
This needs to be implemented in EuiDataGrid, here's a discussions related to this https://github.com/elastic/eui/issues/4019 ... adding `upstream` label to it

[2021-04-27 07:14] karanbirsingh-qasource opened #98443 "[Security Solution]Failed to Fetch Rule and Timeline error occuring on opening details of detection alert"
**Describe the bug**
Failed to Fetch Rule and Timeline error occuring on opening details of detection alert

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC2 should be there.
2. 2 or more detection rule with alerts generated should be there.

**Steps to Reproduce**
1. Login to kibana
2. Navigate to Security App > Detection Tab.
3. Click

[2021-04-27 07:14] elasticmachine commented on #98443
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-27 07:15] flash1293 commented on #59229
@spalger The latest failure is caused by the dreaded network changed error again:

Is there any mitigation? I would love to somehow stabilize this test.

[2021-04-27 07:18] karanbirsingh-qasource commented on #96380
Hi @MadameSheema

**Issue is still occurring on 7.13.0 BC2** , **Failed to run search on timeline event** is thrown if user add the `_id` filed for any of the detection alert.

**Build Details:**
[code]

**Snapshot:**

![image](https://user-images.githubusercontent.com/59917825/116200927-92643980-a756-11eb-8a7c-a1df77af6f40.png)

**Logs**
[code]

[2021-04-27 07:18] karanbirsingh-qasource commented on #98443
@manishgupta-qasource please review and assign

[2021-04-27 07:22] flash1293 commented on #98434
There's also this more specific issue: https://github.com/elastic/eui/issues/4627

[2021-04-27 07:22] manishgupta-qasource commented on #98443
Reviewed & assigned to @MadameSheema

[2021-04-27 07:23] kertal commented on #98431
How should the pinned records behave in terms of scrolling? do they scroll? are they sticky?

[2021-04-27 07:23] mtojek commented on #96779
I haven't seen it, but this error is so generic that when it bumps up it usually means something really different. Is it possible to improve logging in this case? For example - flush the raw byte content or something (if debug is enabled).

[2021-04-27 07:25] przemekwitek opened #98444 "[ML] Transforms: Handle transforms in waiting state"
Recently, a new transform state (`waiting`) was added (see https://github.com/elastic/elasticsearch/pull/70139) in ES. This state is for a transform that cannot be assigned a node because there is no transform node in the cluster.

The `_stats` API returns:
[code]

but the UI doesn't show this `waiting` transform in the transform list yet:
![image](https://user-images.githubusercontent.com/1931245

[2021-04-27 07:28] pgayvallet commented on #98406
The real underlying cause is the ES error. The migration failing here is 'normal' because of it.

The problem with Kibana is the fact that it fails logging the error properly

This is caused by the oldest javascript error, loosing execution context when referencing object methods directly

https://github.com/elastic/kibana/blob/12b245c4e50555c227d569bc54bc64118bd15558/src/core/server/saved_objects

[2021-04-27 07:33] elasticmachine commented on #98444
Pinging @elastic/ml-ui (:ml)

[2021-04-27 08:00] MadameSheema commented on #96380
Thanks @karanbirsingh-qasource :)

@XavierM I was able to reproduce it as well and it happens for all the fields on the alert details table.

<img width="1673" alt="Screenshot 2021-04-27 at 09 56 48" src="https://user-images.githubusercontent.com/17427073/116206667-5a053100-a73f-11eb-97e6-a03c64f62bfa.png">

[2021-04-27 08:06] MadameSheema commented on #97365
https://github.com/elastic/kibana/issues/97378

[2021-04-27 08:10] elasticmachine commented on #98443
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-27 08:11] MadameSheema commented on #98443
Related with: https://github.com/elastic/kibana/issues/96380

[2021-04-27 08:13] theirix commented on #95782
The top bar makes Kibana 7.10+ unusable for small screens.
There is a good solution to make an option to hide the top bar and bring it with the command-slash keyboard shortcut (it is possible now).  It allows user to search through Elastic products and save vertical space.

[2021-04-27 08:18] walterra commented on #74837
- This PR for Elasticsearch (https://github.com/elastic/elasticsearch/pull/72221) fixes the behavior of the `_transform/_stats` endpoint.
- This PR for Elasticsearch (https://github.com/elastic/elasticsearch/pull/70139) introduced a `waiting` state for transforms that cannot be assigned to a node. A corresponding Kibana issue to add the `waiting` state to the UI's stats bar has been added here: ht

[2021-04-27 08:25] #98020 closed

[2021-04-27 08:28] nidhind opened #98448 "A simple download logs as csv or json AS AN EASY ACCESSABLE FEATURE"
A simple button which a normal person can see on the discover tab on which when clicked will simply download the displayed logs or specified time range as csv or json files so that we can share it with others who unfortunately cannot access the kibana
I know when things grow big simplicity is lost and now this is so complex that I have to screen shot and share

Or if such a feature is hidden somew

[2021-04-27 08:29] MadameSheema commented on #97989
@karanbirsingh-qasource did you use a shared instance when you found it? Thanks

[2021-04-27 08:37] pgayvallet commented on #33796
imho we should start this as soon as possible. Having an initial implementation that just fallback to `console` (and eventually to no-op in production mode) would allow plugins to plug themselves to it. We could then change the implementation later if we want to, without changing the public API of the service.

[2021-04-27 08:40] elasticmachine commented on #98440
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 08:46] pgayvallet commented on #98246
I may be wrong, but it seems the rules around such circuit breaking are quite specific to usages, so I'm not sure core is really the best place to do it? wdyt?

[2021-04-27 08:51] flash1293 opened #98452 "[Lens] Inefficient default behavior on multiple top values"
Lens defaults to adding the "other" bucket to a top values dimension. If there are multiple top values dimensions, the requests for these "other" buckets are executed in series: https://github.com/elastic/kibana/blob/b2a9dd12a5db3c6ce5545290f5ff9748085dd7bd/src/plugins/data/common/search/search_source/search_source.ts#L414

With a slow data source this can cause the full request to take a very lon

[2021-04-27 08:51] elasticmachine commented on #98452
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 08:58] flash1293 opened #98454 "Omit other bucket request if it's empty"
Other bucket is always executed, even if the first response indicates there will be no data.

Consider the following response:
[code]

With `"sum_other_doc_count": 0`, the second request becomes unnecessary:
[code]

Tagging this with Kibana app because it's important for the Lens default behavior.

[2021-04-27 08:58] elasticmachine commented on #98454
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 08:58] elasticmachine commented on #98454
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-27 09:07] kertal commented on #91235
fixed by #89400

[2021-04-27 09:07] #91235 closed

[2021-04-27 09:07] kertal commented on #86602
fixed by #89400

[2021-04-27 09:07] kertal commented on #46969
fixed by recent changes, so closing this

[2021-04-27 09:07] #46969 closed

[2021-04-27 09:23] timroes commented on #98454
Duplicate of https://github.com/elastic/kibana/issues/90921

[2021-04-27 09:23] #98454 closed

[2021-04-27 09:29] gmmorris commented on #98246
I suspect we'd need both.
We'll have to look at the different cases where an implementation took down an entire Kibana instance, or had a severe impact on system performance/stability, and see if we can identify a set of rules that we want to enforce as a platform.

I have concerns as to whether we'll ever be able to build a system that can handle background tasks gracefully without setting some b

[2021-04-27 09:29] toby-sutor opened #98456 "[doc] Document required fields for alerts APIs"
In the documentation at https://www.elastic.co/guide/en/kibana/current/alerts-api-create.html we describe how to use the Kibana API to create Alerts. Some of the fields have required values which are not documented.

E.g. for `alertTypeId` it states:
[code]

without providing a list of valid inputs. Those need to be "reverse engineered" via HAR captures, which is unintuitive. Thus, I think that we

[2021-04-27 09:29] elasticmachine commented on #98456
Pinging @elastic/kibana-docs (Team:Docs)

[2021-04-27 09:33] gmmorris commented on #98263
I have merged the fix in Task Manager.

Having chatted about this with @timroes , I don't think Discover can do much on their end.
He has suggested some kind of max field truncation might be possible at ES level, and might look into that.

[2021-04-27 09:35] dej611 commented on #93045
Fixed by EUI v.32.1.0 #97276 (tested in Chrome with latest `master`)

[2021-04-27 09:35] #93045 closed

[2021-04-27 09:38] dej611 commented on #92194
Fixed by `elastic-charts` v.29.1.0 (#98242) - tested in Safari and it works 👍

[2021-04-27 09:38] #92194 closed

[2021-04-27 09:48] muskangulati-qasource opened #98457 "[Fleet] The agent status shows as 'Active', 'Offline' & 'Error' instead of 'healthy', 'Unhealthy'."
**Describe the bug**
The agent status shows as 'Active', 'Offline' & 'Error' instead of 'healthy', 'Unhealthy'.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent policy should exist.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Fleet" tab from the left navigation bar.
3. Go to the Overview

[2021-04-27 09:48] elasticmachine commented on #98457
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 09:51] pgayvallet commented on #98263
May I ask why we need to attach the whole ES output to our internal Kibana status?

[2021-04-27 09:51] muskangulati-qasource commented on #98457
@manishgupta-qasource please review!!

[2021-04-27 09:53] manishgupta-qasource commented on #98457
Reviewed & Assigned to @EricDavisX

[2021-04-27 09:55] timroes commented on #87990
Given what Peter mentioned it sounds maybe like the better solution to actually just pass the request and leave the scoping of the appropriate services to the individual plugins in this case.

[2021-04-27 09:55] paulb-elastic commented on #96569
Uptime issue for this: https://github.com/elastic/kibana/issues/98382

[2021-04-27 10:14] timroes commented on #80514
The Discover Super Tour is planned to be worked on for 7.14.

[2021-04-27 10:16] timroes commented on #98147
Blocked on https://github.com/elastic/kibana/issues/9202

[2021-04-27 10:20] kertal commented on #98263
`Discover will fetch the data but then crash on the front end`
how does it crash? if it's the sidebar that crashed rendering a huge field list, this should be resolved because we recently improved this part to only render the visible part of the list

[2021-04-27 10:21] thegasta commented on #56743
Any updates on this?

[2021-04-27 10:22] timroes commented on #98263
It's not related to the amount of fields, @kertal but to having one field with enormous JSON inside. I suspect that it's either rendering that field or already parsing that response inside our querying infrastructure that causes the problems. I will open a separate issue with suggestions for field truncation for this.

[2021-04-27 10:28] Kerry350 commented on #97757
Mostly good on this one. Tested against BC2 on staging cloud.

This button isn't disabled when unset. The result isn't bad as it just shows "There were 0 instances that satisfied the conditions" but it sounds like this isn't desired behaviour.

![Screenshot 2021-04-26 at 15 22 26](https://user-images.githubusercontent.com/471693/116226934-7a3aed00-a74b-11eb-91e0-386463702084.png)

![Screenshot 202

[2021-04-27 10:46] Bamieh commented on #98422
@liza-mae Just to confirm these tests are running in cloud correct?

[2021-04-27 10:53] Bamieh commented on #93159
@pgayvallet Correct. I've added 5 second delay as a workaround to this issue. Maybe adding it to 7seconds would darastically reduce the flakiness here. Do you have other suggestions?

[2021-04-27 10:56] peteharverson commented on #93919
See also this issue, found during runtime fields investigatoin in #77462, when creating a date_histogram groupby transform preview by using a big dataset (like Nginx), a 500 internal server error was thrown. Preview through API is working fine. Note there are performance issues when the timestamp field of the index pattern is a runtime field. Possible solution may be to prevent the user selecting

[2021-04-27 10:58] peteharverson commented on #77462
Closing issue as all the items have now been addressed.

[2021-04-27 10:58] #77462 closed

[2021-04-27 11:03] Bamieh commented on #95555
@afharo It wouldn't actually! scratch that 😬

[2021-04-27 11:03] Bamieh commented on #97788
@afharo makes sense :+1:

[2021-04-27 11:15] jasonrhodes commented on #97872
After talking to @katrin-freihofner, I realized that most of this has been thought through by the Kibana team and laid out nicely in [this Whimsical diagram. ](https://whimsical.com/async-search-management-LMKSnR7vmPrmAypPXYuA8T)

[2021-04-27 11:22] flash1293 commented on #98440
Rendering an empty screen
<img width="1278" alt="Screenshot 2021-04-27 at 13 20 29" src="https://user-images.githubusercontent.com/1508364/116233346-73b47180-a75b-11eb-8053-7b8c284a2b86.png">

We can improve our error handling here, but it won't help us stabilizing this test, because it's network changed again, killing one of the startup requests of Lens:
[code]

@spalger There seems to be kind of

[2021-04-27 11:23] afharo commented on #98422
`[stack_stats.kibana.plugins.static_telemetry.unknown]` That's the key point: Cloud is creating the `telemetry.yml` file with `unknown`. I believe the Cloud team already has a PR in place to fix this issue.

[2021-04-27 11:23] ruflin commented on #97363
I'm worried about potential side effects of this quick fix. What if an agent was temporary unavailable and now was unenrolled. Now we have a non connected container running. Lets prioritise the work on the ephemeral agents and potential have some docs on how to cleanup / force remove can be done.

[2021-04-27 11:24] afharo commented on #98423
Same issue as https://github.com/elastic/kibana/issues/98422. It will be fixed by the cloud team :)

[2021-04-27 11:26] ruflin commented on #96779
Also did not see this recently. ++ on improving logging. I filed https://github.com/elastic/beats/issues/25230, please feel free to edit it and add entries with specific things that should be improved.

[2021-04-27 11:27] LukePrior commented on #9575
+1 for the feature

[2021-04-27 11:29] kevinlog commented on #89552
@jen-huang just want to make sure we're talking about the same thing, the root access required is on the Host that the user installs the Agent/Endpoint on, not Kibana Admin privileges.  Do we acknowledge that in the UI?

[2021-04-27 11:35] jasonrhodes commented on #96172
Good thoughts. I need to think through the reference v value trade-offs more, but I appreciate the idea of picking a lane and sticking with it.

As for config changes, I definitely prefer allowing local divergence and forcing the user to purposefully save, especially since the edits they make may make more sense to spin off into a new saved view rather than to overwrite the existing one.

[2021-04-27 11:36] jasonrhodes commented on #96172
Something else I'd like to consider for this effort is to create some kind of spec for saved views as saved objects that satisfies requirements for Metrics as well as for Logs. I like the idea of someday being able to load a list of all Observability Saved Views from the Obs home page area.

[2021-04-27 11:41] #64544 closed

[2021-04-27 11:44] kibanamachine opened #98463 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/kibana_overview·ts - Kibana overview "before all" hook for "Kibana overview""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13498/)

[2021-04-27 11:46] #96683 closed

[2021-04-27 11:49] jasonrhodes commented on #97951
During alert registration, we can already allow users to specify what they want to happen re: actions for specific severities. So this:

is possible today with the Kibana Alerting framework's action groups. Then when we save alerts-as-data to our alerts indices, we just need to be saving the severity of the given evaluation onto the alert document, so that we can display that information in the Al

[2021-04-27 11:50] shahzad31 commented on #95269
Closing this, since this was fixed by above revert

[2021-04-27 11:50] #95269 closed

[2021-04-27 11:56] karanbirsingh-qasource opened #98466 "[Security Solution]Reset data source button not working under timeline after saving changes."
**Describe the bug**
Reset data source button not working under timeline **after saving changes**.

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC2 should be there.
2. Audit-beat should be installed on the above environment.

**Steps to Reproduce**
1. Login to kibana
2. Navigate to Security App > Timeline Tab.
3. Create Timeline
4. Open

[2021-04-27 11:56] elasticmachine commented on #98466
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-27 11:57] karanbirsingh-qasource commented on #98466
@manishgupta-qasource please review and assign

[2021-04-27 11:59] dominiqueclarke opened #98467 "[Uptime] Check Details Page does not stretch to full view"
Following #97017, the Uptime Check Details Page does not stretch to fit the full view.

One suggestion is to import and use `APP_WRAPPER_CLASS` from core/public or .kbnAppWrapper to apply flex to page parent, but alternatives could be explored.

<img width="1784" alt="Screen Shot 2021-04-26 at 12 50 11 PM" src="https://user-images.githubusercontent.com/11356435/116237603-72208480-a72e-11eb-8385-02

[2021-04-27 11:59] elasticmachine commented on #98467
Pinging @elastic/uptime (Team:uptime)

[2021-04-27 12:01] muskangulati-qasource opened #98468 "[Security Solution] Fleet setting button does not work when we navigate from the Admin tab to Enroll an agent"
**Describe the bug**
Fleet setting button does not work when we navigate from the Admin tab to Enroll an agent

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent policy should exist with Endpoint Security added.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on the "Administration" tab under Security

[2021-04-27 12:01] elasticmachine commented on #98468
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-27 12:01] elasticmachine commented on #98468
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 12:01] elasticmachine commented on #98468
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-04-27 12:02] muskangulati-qasource commented on #98468
@manishgupta-qasource please review!!

[2021-04-27 12:04] mikecote commented on #97755
I wonder if there's a way for these indices to be created lazily? That way, customers who don't use the event log don't have indices created. I'm not sure if ILM is the blocker for such capability.

[2021-04-27 12:08] shahzad31 commented on #98467
@dominiqueclarke this shouldn't be labeled 7.13.0

[2021-04-27 12:14] #92807 closed

[2021-04-27 12:14] #97808 closed

[2021-04-27 12:15] vkarev commented on #28607
Is there any update on this? We're looking for way to logout from OIDC provider when SSO is configured via proxy in front of Kibana.

[2021-04-27 12:15] gmmorris commented on #98263
We don't **need** to, as much as we were doing it to make it easier for plugins who might be listening in for status changes to get the details as to why it switched to an `Error` state.
We've now removed that, as the downside seems worse than the benefit accrued.
At the time, sharing this object in memory didn't seem a big deal (it's not particularly huge), but I hadn't realized the amount of cir

[2021-04-27 12:23] manishgupta-qasource commented on #98466
Reviewed & assigned to @MadameSheema

[2021-04-27 12:27] manishgupta-qasource commented on #98468
Reviewed & Assigned to @kevinlog

[2021-04-27 12:32] dej611 commented on #83466
Partially mitigated by #98295

[2021-04-27 12:33] Bamieh opened #98472 "[telemetry] Add functional tests for telemetry.yml file size"
Pointed by @afharo async. We are missing some functional tests to make sure that telemetry.yml file populated inside kibana meets our requirements. Otherwise we're passing tests while the actual collector is not sending the content of the file.

[2021-04-27 12:33] elasticmachine commented on #98472
Pinging @elastic/kibana-core (Team:Core)

[2021-04-27 12:33] elasticmachine commented on #98472
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-04-27 12:35] azasypkin commented on #28607
No updates here yet, but would you mind giving a bit more details on what exactly you'd like to do and what doesn't work right now?

[2021-04-27 12:41] elasticmachine commented on #98463
Pinging @elastic/kibana-core (Team:Core)

[2021-04-27 12:49] smith commented on #97101
I wrote:

I asked in Slack and @nickofthyme answered:

Opened elastic-charts#1140.

[2021-04-27 12:51] dikshachauhan-qasource opened #98474 "[Fleet] Add agent button shows up for 2 secs while loading page after clicking on Clear filters button on Agents Tab."
**Kibana version:**
7.13 BC2 Kibana Cloud environment

**Host OS and Browser version:**
Windows, All

**Preconditions**
1.  7.13 BC2 Kibana Cloud environment should be available.
[code]
2. A Fleet agent should be installed to any policy.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Agents tab. Apply any Filter say 'upgrade available'
3. No results found with Clear filter

[2021-04-27 12:52] elasticmachine commented on #98474
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-27 12:52] smith commented on #96564
We're better off just switching directly to the TGrid once we're able to.

[2021-04-27 12:52] #96564 closed

[2021-04-27 12:52] dikshachauhan-qasource commented on #98474
Please review @manishgupta-qasource

[2021-04-27 12:53] manishgupta-qasource commented on #98474
Reviewed & Assigned to @EricDavisX

[2021-04-27 12:58] lizozom commented on #88736
https://github.com/elastic/kibana/issues/89278

[2021-04-27 12:58] #88736 closed

[2021-04-27 12:58] #60399 closed

[2021-04-27 12:59] #60873 closed

[2021-04-27 12:59] #60874 closed

[2021-04-27 12:59] vkarev commented on #28607
We're using oauth2-proxy component in front of Kibana. It's integrated with Keycloak as OIDC provider. So when user tries to login into Kibana proxy checks presence of its cookies and if needed redirects to OIDC. When user successfully logged in proxy forwards requests to Kibana passing it's own Kibana creds via Basic auth. Right now in our setup all SSO users connect to one Kibana user.
The probl

[2021-04-27 13:02] dominiqueclarke opened #98475 "[Uptime] Link in ping history accordion contains two external icons"
In the ping history accordion, the docs link displayed when the request body is not recorded has two external link icons. We should remove one.

<img width="862" alt="Screen Shot 2021-04-26 at 1 03 23 PM" src="https://user-images.githubusercontent.com/11356435/116245437-f70f9c00-a736-11eb-9d92-0b3bd6f1c1bb.png">

[2021-04-27 13:02] elasticmachine commented on #98475
Pinging @elastic/uptime (Team:uptime)

[2021-04-27 13:03] EricDavisX commented on #97888
I have confirmed the service token now works in 7.13 BC2 as tested on Windows + Linux.

[2021-04-27 13:09] #95873 closed

[2021-04-27 13:12] sebelga commented on #96980
Wouldn't it make sense to use the term "partially mounted" in contrast with the "fully mounted" indices in hot/cold? So, even though there are no action, the title would become **Partially mounted indices**.

[2021-04-27 13:20] cauemarcondes commented on #95140
@jasonrhodes I was wondering if you could check this out? I don't think there's anything on APM UI side that needs to be changed.

[2021-04-27 13:23] cauemarcondes commented on #94684
Thanks for the clarification @formgeist , I'll see what I can do, but Elastic charts has some limitations, I might be able to add `No samples available` in the tooltip header and we won't be able to change the pointer-event.

[2021-04-27 13:24] EricDavisX commented on #98457
@jen-huang was this a spec change we missed?  I expect so, if you can help find the ticket that relates it would be nice - but just confirmation of expected behavior is ok and the team can update test expectations.

[2021-04-27 13:29] alisonelizabeth opened #98476 "[Core deprecations service] Add requireRestart field"
During a recent demo of Upgrade Assistant, feedback was received that it would be beneficial to identify if a Kibana deprecation requires a restart or not to resolve.

We should make this a required parameter when a plugin registers a deprecation.

For example:

[code]

[2021-04-27 13:29] elasticmachine commented on #98476
Pinging @elastic/kibana-core (Team:Core)

[2021-04-27 13:35] mostlyjason commented on #58000
I think constraints were primarily driven by the internal needs of hosted agent. I think users are unlikely to run into these constraints because we've build guardrails into the UI. Making this a generic user-facing feature for platform operators seems like something for 8.x.

[2021-04-27 13:36] simitt commented on #96779
It's back - seen with the latest snapshots today.

[2021-04-27 13:43] Bamieh commented on #98422
Currently we test the `telemetry.yml` for the cloud team rather any Kibana related issues. Kibana does not really care about the content of the `telemetry.yml` file. The fetch collector implementation sends the file as is without any checks as well.

My plan for this is to change the test case to make sure we are reporting the content of the file as is regardless of the content inside. This means

[2021-04-27 13:44] ryankeairns commented on #80514
Great! @andreadelrio , @shaunmcgough , and myself are meeting to prioritize Discover UX work and will provide support on this effort.

[2021-04-27 13:45] VijayDoshi commented on #97934
I believe we need to be more specific than the "feature" if I understand that correctly. It would be incredibly useful to pinpoint the "thing" that called Elasticsearch like "Vijay's Visualization" in dashboard "foo" vs. "Lens". @kobelb Can you clarify the level of detail you are proposing for "feature"?

The goal is for an admin looking at an ES slow/expensive query to rapidly find the culprit in

[2021-04-27 13:46] #57168 closed

[2021-04-27 13:47] #32371 closed

[2021-04-27 13:52] nchaulet commented on #89552
Yes we acknowledge that in the UI.

<img width="836" alt="Screen Shot 2021-04-27 at 9 51 51 AM" src="https://user-images.githubusercontent.com/1336873/116253166-3b526a80-a73e-11eb-9c14-5d4849dfd1ea.png">

[2021-04-27 13:54] kevinlog commented on #89552
thanks @nchaulet !  closing this item.

[2021-04-27 13:54] #89552 closed

[2021-04-27 13:54] dominiqueclarke opened #98481 "[Uptime][RAC] Display alert severity level in Observability alerts table"
**Meta issue**: #97951

**Prerequisites**
- [ ] Migrate from alerts registry to observability rules registry. Issue #98382

**Implementation**
When we save alerts-as-data to our alerts indices, we need to save the severity of the given evaluation onto the alert document, so that we can display that information in the Alerts table.

**Background**

Currently, all our alerts have the same severity l

[2021-04-27 13:54] elasticmachine commented on #98481
Pinging @elastic/uptime (Team:uptime)

[2021-04-27 13:56] mostlyjason commented on #72718
We need to document the output settings https://github.com/elastic/observability-docs/issues/586. This should unblock users. A shared component for settings is an interesting idea but seems like an enhancement. We still have other blockers on our roadmap we need to address, so I'd come back to this after 7.x.

[2021-04-27 14:00] alisonelizabeth opened #98482 "[Core deprecations service] Add description field to API action"
During a recent demo of Upgrade Assistant, feedback was received that it would be beneficial to have a description of what the API action is doing to inform the user before they proceed with resolving the deprecation.

### Current UX
<img width="556" alt="Screen Shot 2021-04-27 at 9 59 11 AM" src="https://user-images.githubusercontent.com/5226211/116254404-4f4a9c00-a73f-11eb-81d4-aa416006d7df.png"

[2021-04-27 14:00] elasticmachine commented on #98482
Pinging @elastic/kibana-core (Team:Core)

[2021-04-27 14:01] mostlyjason commented on #72553
Yes this is an old issue that has been replaced by others

[2021-04-27 14:01] #72553 closed

[2021-04-27 14:01] alisonelizabeth commented on #98482
/cc @jethr0null let me know if this is what you had in mind, or if I misunderstand anything.

[2021-04-27 14:03] kertal commented on #86166
PR work in progress : #96766

[2021-04-27 14:08] mdelapenya commented on #69571
Closing as my previous comment.

@EricDavisX please reopen it if you have any concern about the above implementation

Thanks!

[2021-04-27 14:28] kertal commented on #92618
closing due to #97120 🥳

[2021-04-27 14:28] #92618 closed

[2021-04-27 14:31] timroes commented on #98330
@sebelga I fear this might become more complicated then most of the other fields so far. For those "child fields" to properly function across Kibana (i.e. like real object fields), they'll need to have individual field instances in the index pattern (which would also allow individual formatting). We actually currently throw away the root `nested` or `object` field since we cannot do anything on th

[2021-04-27 14:38] felix-lessoer opened #98489 "[Canvas] Export related objects in the saved objects UI"
**Kibana version:**
7.12.0

**Elasticsearch version:**
7.12.0

**Server OS version:**
elastic cloud

**Browser version:**
latest chrome

**Original install method (e.g. download page, yum, from source, etc.):**
elastic cloud

**Describe the bug:**
When exporting a canvas board via saved objects UI in Kibana the user has the ability to also export related objects. However this does not work for can

[2021-04-27 14:38] jen-huang commented on #98468
I think Fleet team needs to check and fix the URL here.

[2021-04-27 14:41] #97060 closed

[2021-04-27 14:47] jen-huang commented on #98457
We only expect to see `Healthy`/`Unhealthy` statuses on Agent list page: #84798. That set of changes does not include updates to the Overview page so Overview page so the reported behavior is correct. The overview page will go away soon so I'm closing this as won't fix.

[2021-04-27 14:47] #98457 closed

[2021-04-27 14:50] nchaulet commented on #98468
Looks like there is a bug when you open the flyout coming from endpoint, I am going to investigate

[2021-04-27 14:56] jen-huang commented on #86565
@dedemorton Thanks for the reminder that we removed the Kibana portions from this security requirements check. From 7.13 and onwards, with Fleet Server, TLS is no longer a requirement for Kibana. What is there for ES security requirements is accurate, so closing this issue.

[2021-04-27 14:56] #86565 closed

[2021-04-27 14:59] simitt opened #98493 "Add port to fleet-server host on cloud"
As a follow up to https://github.com/elastic/kibana/pull/98070/, the `port` needs to be added to the host when building the fleet-server URL. It is encoded in the Cloud ID. Technically the port only needs to be added if it is not `443`.

cc @nchaulet

[2021-04-27 15:00] jen-huang commented on #97363
Thanks for the input @ruflin. Based on the discussion here it sounds like we are are not keen on supporting this from the UI, preferring for users who run into this to use the unenroll API endpoints with `{ force: true }` payload. I'll close this issue in favor of more definition around ephemeral agents.

[2021-04-27 15:00] #97363 closed

[2021-04-27 15:01] elasticmachine commented on #98493
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 15:02] shaunmcgough opened #98494 "[Discover] Queries / filters should be visible in full-screen"
With the new data grid, we have a powerful way to display in full screen all of the nice features that we've implemented. However, the filters and queries are not displayed. They should be.

Use case:
Actor: User
Action: User clicks full screen, filters and queries are listed at the top.

[2021-04-27 15:02] elasticmachine commented on #98494
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 15:18] Bamieh commented on #98482
I was thinking maybe we can set the `manualSteps` as manditory this way we can show them to the user if they want to fix it manually for any reason. We can also show it to roughtly outline what the api will do. What do you think?

[2021-04-27 15:22] jasonrhodes commented on #96568
@smith does this still need to be done? I noticed it had been closed but not re-opened when you mentioned it was separate 14 days ago...

[2021-04-27 15:24] mikecote commented on #98373
Adding to backlog but up for consideration for 7.14 planning.

[2021-04-27 15:35] timroes opened #98497 "Truncate long fields in Discover server-side"
Currenty Discover loads all fields not filtered via the index pattern field filters. This can become problematic if some fields contain very large data that users are not (yet) aware of, thus they might not have had a chance to filter it out via the index patter field filters. Also there might be the case where just some documents contain really large field values. I think we should try to get to

[2021-04-27 15:35] elasticmachine commented on #98497
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 15:38] wylieconlon commented on #98448
This feature already exists. From Discover:

1. Click "Save"- you must save before exporting
2. Click "Share", then CSV Reports

[2021-04-27 15:38] #98448 closed

[2021-04-27 15:42] jen-huang opened #98498 "[Fleet] Improve Fleet Server onboarding/enrollment UX"
We added a simple onboarding for Fleet Server last-minute in 7.13: https://github.com/elastic/kibana/issues/96295, https://github.com/elastic/kibana/pull/97681

For 7.14, how can we improve the UX more? For onboarding, enrolling additional Fleet Servers, and/or updating Fleet Server hosts settings. For example, can we add the steps in @mostlyjason's mockup (https://github.com/elastic/kibana/issues

[2021-04-27 15:42] elasticmachine commented on #98498
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 15:46] elasticmachine commented on #98260
Pinging @elastic/kibana-security (Team:Security)

[2021-04-27 15:47] neptunian commented on #97758
Passed all clases im 7.13.0 snapshot on cloud with 7.13.0 metricbeat snapshot

[2021-04-27 15:47] #97758 closed

[2021-04-27 15:48] kobelb commented on #97934
For sure, happy to revise the original description to make this more clear.

[2021-04-27 15:48] wylieconlon opened #98499 "[Lens] Support HDR percentiles"
This feature has been requested as it was part of the [original scope of percentiles](https://github.com/elastic/kibana/issues/74574) in Lens, but is not yet implemented. TSVB added support for this option using a single form input. When the form is set, the percentile uses HDR mode, otherwise it uses T-Digest mode:

<img width="1442" alt="Screen Shot 2021-04-27 at 11 45 34 AM" src="https://user-i

[2021-04-27 15:48] elasticmachine commented on #98499
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 15:51] A-Hall opened #98500 "Present access agreement to run-as impersonated users"
**Describe the feature:**

Currently access agreement confirmations use the user's session to store acknowledgment of the agreement.  This doesn't work if you're using run-as impersonated users (ie, from a proxy).

**Describe a specific use case for the feature:**

It would be useful to build a way to use access agreements in a situation where the user is being impersonated with run-as.

[2021-04-27 16:06] jen-huang opened #98505 "[Fleet] Add a link to see Elastic Agent metrics from the Agent details"
`elastic_agent` package exports dashboards. We should link to those dashboards, with a filter on agent ID, from the agent details page (probably somewhere in the header area? ping design for input). As part of this work, we should also investigate if links to Logs & Metrics UIs would be helpful.

[2021-04-27 16:06] elasticmachine commented on #98505
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 16:12] #97454 closed

[2021-04-27 16:14] jen-huang opened #98506 "[Fleet] Add link to troubleshooting guide when enrolling Fleet Server/agents"
Add a link to our troubleshooting guide (https://www.elastic.co/guide/en/fleet/current/fleet-troubleshooting.html) below the commands for enrolling Fleet Server or normal agents:

![image](https://user-images.githubusercontent.com/1965714/116275561-9b461280-a738-11eb-91fc-47dcd9a043b2.png)

[2021-04-27 16:14] elasticmachine commented on #98506
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 16:14] lukasolson commented on #79565
Closed by https://github.com/elastic/kibana/pull/85846.

[2021-04-27 16:14] #79565 closed

[2021-04-27 16:23] #60876 closed

[2021-04-27 16:31] elasticmachine commented on #98500
Pinging @elastic/kibana-security (Team:Security)

[2021-04-27 16:36] #75724 closed

[2021-04-27 16:44] shaunmcgough commented on #89726
@m-adams and I just spoke, and this issue came up. He has a logged ER somewhere for this as well, so it's something that customers are requesting (of course... right?) This will help the getting started experience. We cannot know what people will call their fields, but if the description can be added as a tooltip when hovering over the field, or as an indicator elsewhere, this will really advance

[2021-04-27 16:46] shahzad31 opened #98513 "[Uptime] Monitor status alert query search param is not editable"
**Kibana version:**

Uptime monitor status alert query search params isn't editable in alert edit flyout.

To Reproduce:

1. Define an uptime alert, with search text using kuery bar
2. Go to alerting ui, and edit alert
3. try editing search param, even though it will clear it,
4. But number of monitors are not properly reflected

Even though below alert contains search param, it's not displayed on

[2021-04-27 16:46] elasticmachine commented on #98513
Pinging @elastic/uptime (Team:uptime)

[2021-04-27 16:57] afharo opened #98516 "[Telemetry] Complete the API docs"
After #98338 is done, when running `node scripts/build_api_docs.js --plugin telemetry --stats exports`, we get the following output.

[code]

We need to add comments to the exposed APIs so they are properly documented.

To identify those missing comments, we can run `node scripts/build_api_docs --plugin telemetry --stats comments`

[2021-04-27 16:57] elasticmachine commented on #98516
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-04-27 16:57] elasticmachine commented on #98516
Pinging @elastic/kibana-core (Team:Core)

[2021-04-27 17:00] azasypkin commented on #28607
Thanks for explaining @vkarev. It sounds like a valid use case to me assuming you prefer not to use ["native" Kibana OIDC provider](https://www.elastic.co/guide/en/kibana/current/kibana-authentication.html) that shouldn't have this issue.

I don't have a good solution for you right now, but I can think of a few potential and bit hackish workarounds:

* 7.14+: once https://github.com/elastic/kibana

[2021-04-27 17:04] #98493 closed

[2021-04-27 17:09] #61232 closed

[2021-04-27 17:17] afharo commented on #97934
I agree it would be useful. However, how does this play with PII concerns? If we send the name of the visualization/dashboard and/or even the user who performed the action could unintentionally leak private information.

What do you think? @kobelb @VijayDoshi

[2021-04-27 17:21] #98324 closed

[2021-04-27 17:32] jen-huang commented on #92728
I tested this from main, lowercase `and` seems to be working correctly. Closing.

![image](https://user-images.githubusercontent.com/1965714/116286281-e3b6fd80-a743-11eb-98cc-5a535fe6e907.png)

[2021-04-27 17:32] #92728 closed

[2021-04-27 17:35] neptunian commented on #98009
I tested this on a 7.13.0 snapshot in cloud with 7.13.0 Filebeat.  Only issue I'm seeing is after creating the jobs, this message never goes away:

<img width="2556" alt="Screen Shot 2021-04-27 at 1 29 41 PM" src="https://user-images.githubusercontent.com/1676003/116286565-5bdded00-a75d-11eb-87d1-55b5d7ed0e1c.png">

[2021-04-27 17:39] jen-huang commented on #92110
@mostlyjason We don't have anything on the roadmap related to K8 for GA. What do you think, can we defer this?

[2021-04-27 17:41] neptunian commented on #98018
I tested this on a 7.13.0 snapshot in cloud with 7.13.0 Filebeat and sample web logs.  Similar to the anomalies page, only issue I'm seeing is after creating the jobs, this message never goes away:
<img width="1226" alt="Screen Shot 2021-04-27 at 1 40 01 PM" src="https://user-images.githubusercontent.com/1676003/116287180-1cfc6700-a75e-11eb-8e35-37dc4a3be201.png">

[2021-04-27 17:47] kobelb commented on #89287
Where did we end up on this? Are we going to be having both Kibana and ES write the configuration to disk?

[2021-04-27 17:49] jen-huang commented on #83001
@mostlyjason I'm closing because this behavior looks correct based on our current specs. If user is not superuser -> show permission denied. If superuser -> show security requirement instructions. Feel free to reopen with more details if needed.

[2021-04-27 17:49] kmartastic commented on #97853
Fixed by https://github.com/elastic/website-www.elastic.co/issues/7616

[2021-04-27 17:49] #97853 closed

[2021-04-27 17:49] andrewvc commented on #93728
@tsg WRT extra fields in the mapping @tsg I can only think of two now (but we'll probably want more later of course). Ones that I can definitely see us adding are:

* `monitor.name`: Human readable (non-unique) name of uptime monitor
* `monitor.id`: Unique identifier for associated uptime monitor

CC @dominiqueclarke

[2021-04-27 17:50] cceyda commented on #98257
The problem still exists with 7.12.1

[2021-04-27 18:03] elasticmachine commented on #81971
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 18:04] elasticmachine commented on #98466
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-04-27 18:04] MadameSheema commented on #98466
@stephmilovic are you aware about this?

[2021-04-27 18:05] jen-huang commented on #74369
Resolved by #90887.

[2021-04-27 18:05] #74369 closed

[2021-04-27 18:06] dominiqueclarke commented on #96110
This test is not skipped, and hasn't failed in the past 26 days. It was likely fixed by #61007, which was addressing failing tests within the same suite (original issue #60863)

[2021-04-27 18:07] jen-huang commented on #70358
Closing in favor of #96134.

[2021-04-27 18:07] #70358 closed

[2021-04-27 18:11] jen-huang commented on #57953
Closing as the use case still hasn't really come up, a year later.

[2021-04-27 18:11] #57953 closed

[2021-04-27 18:24] YulNaumenko commented on #94119
@mdefazio could you please help us with the design for displaying connectors which doesn't have a secrets after import. We should warn the users that this connector is not possible to use till the secrets will be updated. I'm not sure if we need a banner or directly highlight the connectors list rows, or both :-).
Do you think to have it disabled highlight is a clear approach? Like proposed in the

[2021-04-27 18:36] legrego commented on #89287
At this point, we are planning to have both Kibana and ES write the configuration to disk. I haven't verified if this would work, but we could potentially have Kibana change the file permissions after writing its config to disk, so that it's not able to alter the config once setup mode has completed.

Regarding multiple config files, it seems that support was added a _long_ time ago (https://githu

[2021-04-27 18:36] jen-huang commented on #73941
With the move to Fleet Server, filtering on granular fields like IP and host name is now available, closing as fixed:

![image](https://user-images.githubusercontent.com/1965714/116294395-c6d2f800-a74c-11eb-87a7-0aac46515985.png)

[2021-04-27 18:36] #73941 closed

[2021-04-27 18:42] jen-huang commented on #90998
I'm going to close this in favor of the overall Getting Started MVP effort: #94207. Please feel free to open if I missed some difference.

[2021-04-27 18:42] #90998 closed

[2021-04-27 18:44] EricDavisX commented on #69571
Thanks so much @mdelapenya - sorry for the lack of quicker reply, I will ask... should we reopen this?  The bulk of the work is done, but the final bits that bring the value to the Engineer writing the Kibana code won't be realized if it isn't:
 - run automatically for them
 - run for them based on a specific well documented desired subset of Kibana files
 - reporting back the results in the PR as

[2021-04-27 18:45] elasticmachine commented on #78188
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 18:46] afharo commented on #98463
It failed with a similar error to #97942

[code]

[2021-04-27 18:54] kobelb commented on #89287
At one point, when Kibana was installed using a RPM/DEB, the `/etc/kibana/kibana.yml` file was unwriteable by the `kibana` user that ran the service. We should confirm with @elastic/kibana-operations whether or not this would require changes to our packaging.

[2021-04-27 18:54] cauemarcondes commented on #94684
@formgeist WDYT?

<img width="561" alt="Screen Shot 2021-04-27 at 14 53 38" src="https://user-images.githubusercontent.com/55978943/116296652-76699380-a768-11eb-8fc7-411ea98ccc0e.png">

[2021-04-27 18:56] henrikno opened #98538 "[APM] Host filer doesn't find my host"
**Versions**
Kibana: 7.9
APM Server: 7.9
Elasticsearch: 7.9

The host dropdown tells me this host does not exist:

![image](https://user-images.githubusercontent.com/147660/116296053-9db36700-a74e-11eb-9d83-01cf9be9802e.png)

It won't let me manually enter it either. But if I manually search for that host:
![image](https://user-images.githubusercontent.com/147660/116296288-e2d79900-a74e-11eb-88aa-

[2021-04-27 18:56] elasticmachine commented on #98538
Pinging @elastic/apm-ui (Team:apm)

[2021-04-27 19:00] henrikno opened #98539 "[APM] Show hostname in JVM view"
**Versions**
Kibana: 7.12.0
APM Server: 7.12.0
Elasticsearch: 7.12.0

The JVM view only shows service.node.name, which when running in a container is just the container id, not really "readable".
![image](https://user-images.githubusercontent.com/147660/116297007-b7a17980-a74f-11eb-96b6-d339f535f9bc.png)
In my case I'm more interested in host.name. Is it possible to display that instead/in additio

[2021-04-27 19:00] elasticmachine commented on #98539
Pinging @elastic/apm-ui (Team:apm)

[2021-04-27 19:09] jen-huang commented on #69573
I see that Fleet data streams are showing up flagged in Index Management now:
![image](https://user-images.githubusercontent.com/1965714/116298458-55e20f00-a751-11eb-9bec-304b3c638f92.png)

So I'm going to close this issue, #79849 is still outstanding to provide a link back to Fleet somewhere, but we're still not sure on our side what a great place is, so that can still be left open for now.

[2021-04-27 19:09] #69573 closed

[2021-04-27 19:10] jen-huang commented on #79849
Added this to our backlog board to figure out where we should link back to.

[2021-04-27 19:15] neptunian commented on #97815
One issue I had is when trying to group by a custom field, the popup would sometimes be off the screen.  This only seemed to happen when my resolution was smaller such as when viewing full screen on my laptop at 1680px
<img width="720" alt="Screen Shot 2021-04-27 at 3 09 09 PM" src="https://user-images.githubusercontent.com/1676003/116298703-c2b5d300-a76a-11eb-881f-5a41bbfb3be4.png">

In larger re

[2021-04-27 19:20] neptunian commented on #97816
Tested on Cloud 7.13.0 snapshot

After creating and loading a custom view, then deleting the view, it still says I'm on the custom saved view.  Should it switch me to the Default view?
<img width="1835" alt="Screen Shot 2021-04-27 at 3 19 11 PM" src="https://user-images.githubusercontent.com/1676003/116299656-f2b1a600-a76b-11eb-911c-114d88751066.png">

[2021-04-27 19:27] jbudz commented on #89287
Should be fine - the process is run as user/group `kibana`.  File writes are available under that group.
[code]

[2021-04-27 19:27] elasticmachine commented on #98257
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 19:33] elasticmachine commented on #98489
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-27 19:38] liza-mae commented on #98422
@Bamieh I can also add this coverage under cloud specific testing.

[2021-04-27 19:39] jen-huang opened #98542 "[Fleet] Pass `namespace` to `agent.monitoring` settings (namespace, monitoring)"
Related to https://github.com/elastic/beats/issues/25350

Currently we collect `namespace` at the agent policy level.

![image](https://user-images.githubusercontent.com/1965714/116301878-61373980-a755-11eb-9082-30ab509454fe.png)

We should pass the user-configured namespace to the `agent.monitoring` settings when we generate the agent yaml, so that agent can write monitoring and log docs with the

[2021-04-27 19:39] elasticmachine commented on #98542
Pinging @elastic/fleet (Team:Fleet)

[2021-04-27 19:43] jen-huang commented on #40034
Closing; stale.

[2021-04-27 19:43] #40034 closed

[2021-04-27 19:45] kibanamachine opened #98543 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type text "is in list" operator working against text values with spaces will return 2 results if we have a list that includes 2 text"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13506/)

[2021-04-27 19:46] bhavyarm opened #98544 "User can add logstream to dashboards even if observability is removed from feature privileges"
**Kibana version:** 7.13.0 BC2

**Elasticsearch version:** 7.13.0 BC2

**Server OS version:**  darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Kibana lets the user successfully add logstream to dashboards even if the space doesn't have feature privilege ov

[2021-04-27 19:47] elasticmachine commented on #98544
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-27 20:12] dakrone commented on #96980
I think I'd prefer to keep it in the singular, so:

"Take a snapshot of your data and mount it as a partially mounted index. To reduce costs, only a partial cache of the snapshot is mounted in the frozen tier."

and for the one in the `hot` or `cold` phases:

"Take a snapshot of your data and mount it as a fully mounted index. ..." (replace "partial" with "fully")

Other than that looks good to me

[2021-04-27 20:21] smith commented on #96568
@jasonrhodes yes this still does need to be done for 7.14.

[2021-04-27 20:27] liza-mae commented on #97561
Generally if you see ```[data-test-subj="kibanaChrome"]``` means it is hanging on a page, probably intermittent so we can close.

[2021-04-27 20:27] #97561 closed

[2021-04-27 20:28] liza-mae commented on #97562
Intermittent failure, so we can close.

[2021-04-27 20:28] #97562 closed

[2021-04-27 20:39] #98506 closed

[2021-04-27 20:49] SpencerLN commented on #92960
@jimczi we are still seeing similar behavior after upgrading to 7.12.1. It seems that it is possible to create the index pattern now, but Discover still throws an error:
![image](https://user-images.githubusercontent.com/6659148/116310199-4ec9f980-a76f-11eb-9322-61347fda7b57.png)

```unsupported_operation_exception: Cannot fetch values for internal field [parent].```

[2021-04-27 20:53] MichaelMarcialis commented on #98054
Thanks for those details, @wylieconlon. So in your example, just because the user requests a certain interval doesn't necessarily mean that's the interval that Lens will display, hence the need for the suffix to remain dynamic (even after a potential change the the display name). Is my understanding correct?

If so, that's interesting. I wasn't aware that was the case. Given that information, I wo

[2021-04-27 21:07] lukeelmers commented on #97724
Going to backtrack on these comments of mine from above. After doing a deeper dive and discussing with @majagrubic, we actually think the behavior in `SearchSource` here is expected. Here's why:

When calling `setField('fieldsFromSource', [...])`, any fields you provide logically _should_ be included in `_source: { includes: [...] }`. That's basically the point of this field: what it allows you to

[2021-04-27 21:14] #94106 closed

[2021-04-27 21:25] YulNaumenko commented on #94119
@ymao1 I think we also need to include to the scope of this issue filtering of the available connectors from the rule actions select connector dropdown to avoid the issues with attaching non working connector to the action.

[2021-04-27 21:27] simianhacker commented on #97150
I was able to reproduce this by forcing the server to complete the second request before the first request.

[2021-04-27 21:32] ymao1 commented on #94119
I have [this issue](https://github.com/elastic/kibana/issues/94128) for handling this within the create/edit rule fly out. Is that similar to what you were thinking?

[2021-04-27 21:54] YulNaumenko commented on #94119
Agree, https://github.com/elastic/kibana/issues/94128 is covering this use case

[2021-04-27 22:19] jen-huang commented on #87830
It's too early for this issue as we don't have the concept of "non-Fleet packages" well-defined yet. Going to close.

[2021-04-27 22:19] #87830 closed

[2021-04-27 22:20] wylieconlon opened #98557 "[TSVB] Validation error is logged when selecting a gauge on an incomplete metric"
Console warning is:

[code]

Steps to reproduce:

1. Open TSVB and select Gauge
2. Choose Average, but do not choose a field
3. Warning is logged

[2021-04-27 22:20] elasticmachine commented on #98557
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-27 22:46] LeeDr commented on #89588
Why would we ever have network connectivity problems in dev mode with Elasticsearch and Kibana both running on the same machine?  This makes me think there's a real problem we're sweeping under the rug.

If there's a connection problem, I'd be OK with doing a retry and not logging anything unless the retry fails.  But at that point it should be an error and we should try to figure out what's causi

[2021-04-27 22:47] LeeDr commented on #89839
-1 wait, why would we have network instability when running Elasticsearch and Kibana on the same host?

[2021-04-27 22:50] rashmivkulkarni commented on #89588
FYI : am seeing this on 7.13.0 BC3 - when I run Kibana and ES on the same host . ( Darwin)

Log messages are seen like this : ```log   [13:16:40.084] [error][plugins][taskManager] [Task Poller Monitor]: Observable Monitor: Hung Observable restarted after 33000ms of inactivity```

[2021-04-27 23:46] kibanamachine opened #98562 "Failing test: Chrome X-Pack Security Functional Tests (Login Selector).x-pack/test/security_functional/tests/login_selector/basic_functionality·ts - security app - login selector Basic functionality can login after `Unauthorized` error during request authentication preserving original URL"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13510/)

[2021-04-28 02:32] shaunmcgough opened #98567 "[Discover] Toast for data grid awareness"
We need a toast prompt to alert users to the new data grid.

### Details of the toast prompt
Only toast once for each user
Make the toast disappear after five seconds
The toast should use EUI where possible
The toast should be evident on the screen (design, please)
Have the text of the toast read:

Great news! There are now better ways to sort, filter, and compare your data with our new table.
Get

[2021-04-28 02:32] elasticmachine commented on #98567
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-28 02:51] constancecchen commented on #97561
Awesome!! Great to know, thank you Liza! 🙏

[2021-04-28 04:45] kibanamachine commented on #98562
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13515/)

[2021-04-28 05:43] kibanamachine commented on #98562
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13516/)

[2021-04-28 05:58] #94351 closed

[2021-04-28 06:23] #78590 closed

[2021-04-28 06:43] kibanamachine commented on #98249
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13517/)

[2021-04-28 06:46] deepikakeshav-qasource commented on #96294
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC3 build and observed that issue is **fixed**. UI is not broken for creating a new case after clicking on add a case icon under the timeline.

Build Details:
[code]

**Screenshot:**
![Ticket_96294](https://user-images.githubusercontent.com/61860752/116357125-c18faf00-a819-11eb-8152-d10c3c64be15.jpg)

Hence, We are closing this ticket.

[2021-04-28 06:46] #96294 closed

[2021-04-28 07:56] #98406 closed

[2021-04-28 08:03] #52756 closed

[2021-04-28 08:11] flash1293 commented on #59229
Closing for now as it failed because of `ERR_NETWORK_CHANGED` - if it gets reopened, make sure to check the failure.

[2021-04-28 08:11] #59229 closed

[2021-04-28 08:11] flash1293 commented on #98440
Closing for now as it failed because of `ERR_NETWORK_CHANGED` - if it gets reopened, make sure to check the failure.

[2021-04-28 08:11] #98440 closed

[2021-04-28 08:12] #97553 closed

[2021-04-28 08:12] #97554 closed

[2021-04-28 08:12] #97556 closed

[2021-04-28 08:16] jgowdyelastic opened #98581 "[File Data Visualizer] Allow file structure overrides before file selection"
In some cases the `_text_structure/find_structure` endpoint can time out if the data supplied in the default 1000 lines is too large.
Only after the timeout error has been received is it possible lower the number of analysed lines by supplying overrides through the UI.
In these cases it would be useful to supply the overrides before the user has selected the file so less lines can be analysed on t

[2021-04-28 08:17] elasticmachine commented on #98581
Pinging @elastic/ml-ui (:ml)

[2021-04-28 08:24] dgieselaar commented on #98319
The way I see it, technical fields (e.g. alert id, uuid, rule id, duration, threshold, value, building block, etc) should be in the common schema. In some cases, solutions know the shape of the source data, so they can add mappings where they think it'll be useful. Mapped fields are easier to work with than runtime fields. For stack rules, but also for some solution rule types, we don't know upfro

[2021-04-28 08:30] pgayvallet commented on #97934
We could just send the id of the SO instead (when working with SO's)

Note that tracking the feature/app that performed initiating SO requests doesn't seems like the part with the most value. I would think that it's currently harder to correlate requests performed against data indices.

[2021-04-28 08:32] afharo opened #98584 "[Telemetry-Tools] Support `Partial<T>` type"
The collector linked below actually returns `Partial<UsageStats>` but we can't use it because it's not supported yet by `@kbn/telemetry-tools`. Let's add support for it, fix the collector's declared type and remove the casting.

https://github.com/elastic/kibana/blob/0cf12567840665ef555818ddf556766788440323/src/plugins/kibana_usage_collection/server/collectors/management/telemetry_management_colle

[2021-04-28 08:32] elasticmachine commented on #98584
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 08:32] elasticmachine commented on #98584
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-04-28 08:44] afharo commented on #89588
One scenario I can think of: when the host goes to hibernation after a long period of no use (from the description, _I had my kibana running in my local overnight_).

That's a very good point. I recently created #97788 to avoid trying to collect any telemetry if the ES connection is down :)

[2021-04-28 08:46] mshustov commented on #90145
@ph @jen-huang  is the removal of `beats central management` planned in the `v7.14` roadmap?

[2021-04-28 08:48] #85293 closed

[2021-04-28 08:54] flash1293 commented on #67614
I have a question about how the UI for this should look like. At first I tried to build something like in https://github.com/elastic/kibana/issues/67614#issuecomment-824946068 , but I really don't like it:

<img width="696" alt="Screenshot 2021-04-27 at 18 22 05" src="https://user-images.githubusercontent.com/1508364/116374907-0b26cc80-a80f-11eb-9c54-ab12b26ef8e9.png">

* There are a lot of inputs

[2021-04-28 09:03] flash1293 commented on #98054
Yeah, that would be weird as well. I think we can put one other switch in there - it will only be visible for date histogram.

[2021-04-28 09:24] mtojek commented on #96779
I can give you some hints. I think the CI managed to reproduce it if only the Fleet-Server health status fluctuates (see: https://github.com/elastic/beats/issues/25341).

[2021-04-28 09:33] formgeist commented on #98538
@henrikno Thanks for submitting the issue. Since 7.12 we have removed the sidebar filters from all the APM views, so I don't see us going back to fix this in a previous release.

[2021-04-28 09:33] #98538 closed

[2021-04-28 09:40] pgayvallet commented on #91615
We already discussed about it a while ago with @kobelb (and probably others from the team), but I think there are two distinct scenarios here:

The (new) admin backup/restore, where we do want to preserve all spaces information, and that should probably only be performed by admins

And the 'classic' (current) import/export, that can, for example, be used to copy SOs from one environment to another

[2021-04-28 09:49] lizozom opened #98587 "[Search Sessions] Create a separate monitoring task for less frequent actions"

[2021-04-28 09:50] formgeist commented on #98467
I have a sense that this is not displaying the layouts as expected many other places. When most views are loading, the page is too narrow.

<img width="1552" alt="Screenshot 2021-04-28 at 11 45 13" src="https://user-images.githubusercontent.com/4104278/116384168-e08d4180-a817-11eb-8b9e-fcb0de042a5b.png">

When I do a simple search in the overview, the layout stays that width (doesn't expand).

<im

[2021-04-28 10:24] estermv commented on #98124
Everything looks good! Tested on staging with BC2.

I only noticed a small detail that I want to mention. When you click on the three-dotted button and the contextual menu appears if the user scrolls or move the mouse around the screen, the contextual menu stick on its position:
<img width="540" alt="Screenshot 2021-04-28 at 12 17 37" src="https://user-images.githubusercontent.com/2249229/11638807

[2021-04-28 10:24] #98124 closed

[2021-04-28 10:34] dikshachauhan-qasource opened #98589 "7.13 Agent remains in updating state, when un-enrolled without using force option from Agents tab."
**Kibana version:**
7.13 BC3 Kibana Cloud environment

**Host OS and Browser version:**
Windows, All

**Preconditions**
1.  7.13 BC3 Kibana Cloud environment should be available.
[code]
2. Few agents should be installed to any policy.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Agents tab.
3. Go to Actions menu, click on unenroll option.
4. Observe,

**Actual Result:**

[2021-04-28 10:35] elasticmachine commented on #98589
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 10:35] dikshachauhan-qasource commented on #98589
Please review @manishgupta-qasource

[2021-04-28 10:42] timroes commented on #98257
cc @stratoula

[2021-04-28 10:48] weltenwort commented on #98124
@estermv thanks for pointing that out. You're not alone in that assessment: elastic/kibana#85825

[2021-04-28 10:52] weltenwort commented on #98212
Thanks for providing such high-fidelity mock-ups!

Comparing the navigation structure in the description with the mock-ups and the actual apps I wonder if the Metrics Explorer was intentionally left out or just an oversight.

[2021-04-28 10:55] elasticmachine commented on #82518
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-28 10:59] #94787 closed

[2021-04-28 11:00] manishgupta-qasource commented on #98589
Reviewed & Assigned to @EricDavisX

[2021-04-28 11:07] Bamieh commented on #98584
Note that it should be fairly easy to add this logic and testing it

[2021-04-28 11:40] alexwizp commented on #92801
Already fixed in #97017

[2021-04-28 11:40] #92801 closed

[2021-04-28 11:55] muskangulati-qasource commented on #96282
Hi @kevinlog,

We tested this ticket on the latest 7.13.0 BC3 build & found that issue is now fixed!

Please find below the testing details!!

**Build Details**:
[code]

**Refer Screenshot**:
![Bug](https://user-images.githubusercontent.com/60252716/116394658-d6cc0400-a840-11eb-947c-fb5b45ab5ce0.JPG)

Hence, closing this ticket and marking it as 'Validated'.

Thanks!!

[2021-04-28 11:55] muskangulati-qasource commented on #84860
Hi @kevinlog,

We tested this ticket on the latest 7.13.0 BC3 build & found that issue is now fixed!

Please find below the testing details!!

**Build Details**:
[code]

**Refer Screenshot**:
![Bug](https://user-images.githubusercontent.com/60252716/116394658-d6cc0400-a840-11eb-947c-fb5b45ab5ce0.JPG)

Hence, closing this ticket and marking it as 'Validated'.

Thanks!!

[2021-04-28 11:55] #84860 closed

[2021-04-28 11:55] #96282 closed

[2021-04-28 11:56] muskangulati-qasource commented on #97229
Hi @kevinlog,

With the new fleet-server setup, this issue is resolved and everything works fine.

**Refer Screenshot:**
![HealthyStateEndpoint](https://user-images.githubusercontent.com/60252716/116391639-0ed14800-a83d-11eb-887c-518e6c5afb30.JPG)

Hence closing this ticket & marking it as 'Validated'

Thanks!!

[2021-04-28 11:56] #97229 closed

[2021-04-28 11:56] muskangulati-qasource commented on #91454
Hi @kevinlog,

This is still valid. We have to create a policy after the fleet-server setup. And if no policy exists, it shows an empty UI with no message.

cc: @EricDavisX

Thanks!!

[2021-04-28 12:00] kevinlog commented on #91454
thanks @muskangulati-qasource

I think this is something that can be improved in `7.14` or beyond

thoughts @jen-huang @EricDavisX  ?

[2021-04-28 12:02] #98172 closed

[2021-04-28 12:05] nicenemo commented on #97840
Moved to 7.12.1 since last time. Did as you suggested. Before browser refresh it is still a mess. After browser refresh I do see the same colours as in Edit View.

[2021-04-28 12:15] sphr2k commented on #73304
Same here. Fresh install of 7.12.1

[2021-04-28 12:15] nicenemo opened #98597 "Large shard size alert failing because of missing definition for aggregation."
**Kibana version:** 7.12.1

**Elasticsearch version:** 7.12.1

**Server OS version:** Debian 10

**Browser version:**   90.0.4430.93 (Official Build) (64-bit)

**Browser OS version:** Windows 10 Pro

**Original install method (e.g. download page, yum, from source, etc.):** apt

**Describe the bug:**
I get an alert on the Large shard size alert definition not being OK.

[code]
**Steps to reproduce:

[2021-04-28 12:24] flash1293 commented on #97840
Thanks for confirming @nicenemo . I'm going to close this issue for now because it's working as intended. We are actively working on color management for dashboards at the moment to improve this scenario among others.

[2021-04-28 12:24] #97840 closed

[2021-04-28 12:29] Bamieh commented on #89839
@LeeDr Elasticsearch can be non-responsive for multiple reasons even on the same host. Out of memory/space, node is restarting, kibana index is locked or misconfigured, etc.

Our telemetry collectors are usually the first to scream when it is unable to reach ES for any reason. This usually means that customers open tickets that telemetry is causing kibana to fail although telemetry was only the fi

[2021-04-28 12:35] MikePaquette commented on #98287
This experiment was performed on a default ESS configuration with 1GB memory for Kibana.  The problem is mitigated when larger configurations of Kibana are configured for the deployment.  Tested with Two zones @ 4GB each for Kibana.

[2021-04-28 12:36] #96209 closed

[2021-04-28 12:37] ruflin commented on #58000
I think we are mixing two things here: Constraints and capabilities. For a user to specify if a certain policy should run on windows only sounds like an important feature. But the user can do it today but just having multiple policies. I don't think this use case was driven by hosted agent but I agree, it is not prio.

[2021-04-28 12:39] MikePaquette commented on #98285
Thanks @marshallmain I have also confirmed that the incomplete export does not occur with Kibana configured to 4GB, and yes, I am working to update Kibana minimum system config documentation and working with Elastic Cloud ESS team on the default Security configuration.   Thank you!

[2021-04-28 12:44] dej611 commented on #98054
Maybe it's a bad pattern, but I'll try: what about a checkbox within an `append` on the `Display name` input? Something like:

[code]

[2021-04-28 12:47] neptunian commented on #97817
Tests passed on 7.13.0 Snapshot in cloud

[2021-04-28 12:47] #97817 closed

[2021-04-28 12:47] cceyda commented on #98257
Temporarily solved by adding `vis_type_table.legacyVisEnabled: true` to `kibana.yml`
Feel free to close the issue

[2021-04-28 13:01] nchaulet opened #98601 "[Fleet] Deleting a dashboard from an integration is breaking datastream UI"
## Description

When deleting a dashboard coming from an integration it's breaking the datastream UI:

<img width="820" alt="Screen Shot 2021-04-28 at 8 59 39 AM" src="https://user-images.githubusercontent.com/1336873/116407829-2a6a2d80-a800-11eb-9de5-8bea7e9d3ea6.png">

GET on the API `/api/fleet/data_streams` returns this error: {"statusCode":404,"error":"Not Found","message":"Saved object [dash

[2021-04-28 13:01] elasticmachine commented on #98601
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 13:01] formgeist opened #98602 "[Observability] Exploratory view polish - another round"
# Summary

Transferred from https://github.com/elastic/kibana/pull/98123

# Issues

- [x] **Scrubbing on the chart itself shouldn't be available if it doesn't do anything**
 We should be able to disable the scrubbing interaction on the main chart, since it doesn't actually change the time range (perhaps as expected in other charts).(Fixed in https://github.com/elastic/kibana/pull/98623)

<details>

[2021-04-28 13:02] elasticmachine commented on #98602
Pinging @elastic/uptime (Team:uptime)

[2021-04-28 13:03] EricDavisX commented on #91454
I agree @kevinlog

[2021-04-28 13:03] lizozom commented on #80406
I suggest we implement PIT as part of Search Sessions, as a mean of synchronizing all of the searches in that session.
This would also be helpful for client side caching (all requests are cached with their PIT).

If we do so, we could sent a PIT start request when we receive the first search for the current session (batching and holding on to any additional requests until we get a PIT id) and then

[2021-04-28 13:04] EricDavisX commented on #98589
If you can search the fleet-server repo, I think there IS a ticket already relating to Fleet Server unenrollment - this is then a duplicate if it does not happen in other situations.  @dikshachauhan-qasource .  And we may need to test more to confirm it.  Thank you!

[2021-04-28 13:13] pheyos opened #98605 "[ML] Filter lists - new items popover does not have focus on open anymore"
**Found in version**
- 7.13.0-bc1

**Browser**
- Chrome

**Steps to reproduce**
- Create a new filter list
- Click `Add item` to open the text area for new items

**Expected result**
- The text area for new items has the focus, so the user can start typing right away

**Actual result**
- The text area doesn't have focus, so another click is needed before the user can start typing
  ![image](https:

[2021-04-28 13:13] elasticmachine commented on #98605
Pinging @elastic/ml-ui (:ml)

[2021-04-28 13:20] EricDavisX commented on #98601
@jen-huang I'd consider this high priority until we agree or know more... for instance: who or what would be deleting dashboards? If it is user action, we can discuss if we need a feature to prevent this?  Or if it is through package development bad process used, should we have a test/check on the package development side to help avoid it there?

@nchaulet do we know any work-arounds, like removin

[2021-04-28 13:27] tylersmalley commented on #98562
Skipped

7.x: b52b032c232bda4b8301b2b9e16aec3f51445878

[2021-04-28 13:33] pmuellr commented on #97747
Still assuming we do not want or need to change existing API shapes to pass ids in request bodies instead of as path parameters as we currently do.

And checked preconfigured actions - there are a few names that are deny-listed, but generally any string can be used, so these id's will need to be URL encoded when they contain characters that need it.

I think that leaves:

- adding doc to our HTTP

[2021-04-28 13:39] nchaulet commented on #98601
@EricDavisX  Yes reinstalling the package with the `force` params fix it
[code]

[2021-04-28 13:42] dikshachauhan-qasource commented on #98589
Hi @EricDavisX

The similar issue is being tracked at https://github.com/elastic/fleet-server/issues/244 and was reported on 8.0 environment. and and as per Alexender Maus code for above was merged to it about 7 days back.

Please have a look on related ticket link and share your thoughts for above reported ticket.

[2021-04-28 13:44] Dosant opened #98608 "[Index Patterns] Switch to the new Elasticsearch client"
Part of https://github.com/elastic/kibana/issues/83910

Old client is still used in functional tests:

  test/api_integration/apis/index_patterns/es_errors/errors.js:23:
  test/functional/apps/management/_create_index_pattern_wizard.js:14:
  test/functional/apps/management/_handle_alias.js:13:
  test/functional/apps/management/_handle_version_conflict.js:24:
  test/functional/apps/management/_inde

[2021-04-28 13:44] elasticmachine commented on #98608
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-28 13:50] smith opened #98609 "Alerts page Open/Closed toggle filter"
![image](https://user-images.githubusercontent.com/9912/116414968-93e93c80-a7fe-11eb-8f29-8af6b433988a.png)

Show buttons that allow filtering alerts on the alerts page by status: Active, Recovered, or both.

The filter buttons being between the searchbar and the timepicker is not mandatory - we can find a different solution if this requires extra work.

[2021-04-28 13:55] smith opened #98611 "Replace basic table on alerts page with TGrid"
Currently blocked. We'll be able to proceed once #99040 is in.

[2021-04-28 14:13] jen-huang commented on #98601
I agree we should fix this on the code side to catch + handle missing SOs gracefully (just skipping gathering information of those dashboards).

[2021-04-28 14:13] wylieconlon commented on #76433
We should probably expand this beyond the date range agg, I thought that I had opened this issue for all datemath- not just ranges. So for example in KQL I would like to type `timestamp < end - 1d` to get only older data.

[2021-04-28 14:15] jen-huang commented on #91454
Agree, I moved this to the Iteration board.

[2021-04-28 14:15] ghudgins commented on #67614
@flash1293 I think your iteration on the original idea has resulted in something that's easier to parse. Lower/upper being on the same line helps me understand the values when setting the extent.

Regarding extents, I think the options you have are probably the best I can think of if we want all 3 options....and I think `Data bounds` is nice for volatile data...I always think of the price of secur

[2021-04-28 14:15] tylersmalley opened #98614 "Unable to load status page if red"
**Kibana version**: master, didn't test on any other branch

**Description of the problem including expected versus actual behavior**:

My Kibana instance was in a red state with the following `/api/status` response:

<details>
  <summary>click to view JSON response</summary>

[code]

</details>

With this, I am unable to access the `/status` page and see a `Failed to request server status with st

[2021-04-28 14:17] mcandre opened #98615 "(Accessibility) Let us open spaces in new tabs"
**Steps to reproduce**

1. Visit a Kibana server with multiple spaces available.
2. Attempt to open a context menu on a space (e.g., right click or long press).

**Actual Result**

* The Web browser shows a generic context menu for the DOM element.

**Expected Result**

* The DOM element should be a real hyperlink element (`<a href="...">...</a>`).

**Kibana Version:**

Kibana 7.6.2

**Relevant WC

[2021-04-28 14:17] elasticmachine commented on #98615
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-04-28 14:17] jen-huang commented on #90145
@mshustov Yep, it is.

[2021-04-28 14:19] neptunian opened #98617 "[Metrics UI] Improve UX when creating ML jobs for anomalies"
If the user tries to enable Hosts or K8s jobs and no corresponding index exists they will receive this error:
<img width="1277" alt="Screen Shot 2021-04-28 at 10 15 58 AM" src="https://user-images.githubusercontent.com/1676003/116419362-fb0cee00-a80a-11eb-9e1a-0db8c8ab8380.png">

We should either improve the error so they understand why its failed or like Logs, don't allow them to create the job w

[2021-04-28 14:19] elasticmachine commented on #98617
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-28 14:26] elasticmachine commented on #87129
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 14:26] elasticmachine commented on #93582
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 14:26] elasticmachine commented on #98422
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 14:26] elasticmachine commented on #98423
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 14:29] mcandre opened #98621 "(Accessibility) Show Clone action on dashboard list UI"
[Please add a WCAG level label: WCAG A/AA/AAA]

Please offer the Clone action on the dashboard list view, near the Delete, Import, Export options. So that we don't have to navigate manually into each resource to clone, but can benefit from the checkbox list to quickly bulk clone multiple resources at once.

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.

[2021-04-28 14:29] elasticmachine commented on #98621
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-04-28 14:39] lizozom commented on #91197
I can update that @bpintea is looking into async SQL support.

[2021-04-28 14:41] alisonelizabeth commented on #98482
I had not considered that. I think that is an improvement over the current behavior. In https://github.com/elastic/kibana/pull/97159#pullrequestreview-646231940, @cjcenizal mentioned possibly moving the steps modal to a flyout and also adding the "Resolve" button there. I think that would work nicely if we went with that approach.

That being said, if we decide to keep the "resolve" modal, I do th

[2021-04-28 14:42] gmmorris opened #98624 "[Task Manager] Workload aggregation caps out at 10k tasks"
**Kibana version:** 7.12.0

It seems the aggregation caps out at 10,000 tasks, which means that the aggregation is probably hitting a page and we'er not fetching it.

Task Types are definitely missing in the list when this happens, so we're not providing an accurate image of the workload.

[2021-04-28 14:47] nreese commented on #97819
Closing, looks like issue is resolved in newer BCs

[2021-04-28 14:49] ph commented on #93910
@amolnater-qasource is this still an issue?

[2021-04-28 14:51] nreese commented on #85907
closed with https://github.com/elastic/kibana/pull/97035

[2021-04-28 14:51] #85907 closed

[2021-04-28 15:01] Kerry350 commented on #98009
Thanks for testing things @neptunian. I'll take a look at these tomorrow 🤔

[2021-04-28 15:03] gmmorris opened #98625 "[Task Manager] Health Metrics capacity estimation enhancements"
We'd like to extend the TM Health Monitoring endpoint with the following:

An estimate of how many Kibana instances are needed for the current workload. We'll be VERY CLEAR that it's a rough estimate, but it will help customers follow the [scaling guidance](https://www.elastic.co/guide/en/kibana/master/task-manager-production-considerations.html#task-manager-scaling-guidance).

[2021-04-28 15:03] elasticmachine commented on #98624
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-28 15:04] elasticmachine commented on #98625
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-28 15:07] chrisronline commented on #95197
I'd like to kick start this effort by collecting user stories related to monitoring alerting.

For example, a sample story might be:

- As a user, task manager has killed by Kibana instance and I had no insight that Kibana was close to topping over. I need more insight into the performance of Kibana to know when this will happen.

It feels like we are lacking in some part of this, but we should st

[2021-04-28 15:13] justinkambic opened #98631 "[Uptime] Forward history navigation does not work after going back to Overview page"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 90.x

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
When navigating with the back button to the Overview page, it seems the forward history is lost.

**Steps to reproduce:**
1. Go to Uptime p

[2021-04-28 15:13] elasticmachine commented on #98631
Pinging @elastic/uptime (Team:uptime)

[2021-04-28 15:17] #94199 closed

[2021-04-28 15:24] gmmorris opened #98634 "[Task Manager] Expose Task Manager metrics to task executors"
We'd like to allow Alerting tasks (and other tasks) to know the metrics around their execution.

We should pass the following into a task executor:

1. Task Drift of the specific task
2. Perhaps current average duration?

It would be useful for Alerting, as we could include these metrics in the Event Log, which will help with monitoring and SDH support.

[2021-04-28 15:24] jen-huang opened #98635 "[BCM] Link to Beats Central Management disappears"
1. Browse to Stack Management > Beats Central Management
2. Hard refresh the browser, observe that the link to BCM disappears
3. Browse to Kibana Home, go back to Stack Management, observe that the link to BCM is there again

Since we are removing BCM soon (#90614), I'm tagging this as won't fix due to other priorities.

[2021-04-28 15:24] elasticmachine commented on #98635
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 15:24] elasticmachine commented on #98634
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-04-28 15:29] elasticmachine commented on #98615
Pinging @elastic/kibana-security (Team:Security)

[2021-04-28 15:30] myasonik commented on #23885
Closing this in favor of https://github.com/elastic/kibana/issues/98615 which is a more succinct report and solution of the same problem.

[2021-04-28 15:30] #23885 closed

[2021-04-28 15:35] elasticmachine commented on #98621
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-04-28 15:37] shaunmcgough opened #98638 "[Discover] Horizontal scrollbar does not appear in legacy table with many columns"
In the legacy view of 7.13 the horizonal is not enabled when there were multiple columns.

### Steps to reproduce:
Add about 20 columns to the table from the fields list, or enough that they would normally be off the screen to the right.
No horizontal scroll bar in enabled.

![image](https://user-images.githubusercontent.com/6256687/116431749-0ca7c300-a816-11eb-93a6-1f3b1c4d9650.png)

[2021-04-28 15:37] elasticmachine commented on #98638
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-04-28 15:44] jasonrhodes opened #98640 "[Metrics UI] Allow Metrics threshold alerts to choose indices at alert creation time"
We have had several customer requests around how to select which indices an alert references at alert creation time. We should make this possible.

AC:
* Alert creation flyout allows the user to choose a set of indices to use for the query (this index will need to be stored with the alert since it won't be dynamically looked up through source configuration anymore)
* This set of indices should _de

[2021-04-28 15:48] dsadosky opened #98644 "[Lens] Data Table - Text Alignment not applied to column headers"
**Kibana version:**  7.12

**Elasticsearch version:** 7.12

**Server OS version:**. ESS

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
When creating a data table using Lens, each column allows for the text alignment to be left, center, or right. This alignment works fine for the data but the same alig

[2021-04-28 15:49] jen-huang opened #98645 "[Fleet] Clean up `fleet_enroll` references in outputs"
I noticed that we still have some traces of `fleet_enroll` user in our model for outputs, namely storing the encrypted username/password:
https://github.com/elastic/kibana/blob/23e568518f6665c187492d7b0767942faa318b6d/x-pack/plugins/fleet/server/saved_objects/index.ts#L226

Now that we no longer use the `fleet_enroll` user, let's clean this up. Another question I have is: do we remove the user and

[2021-04-28 15:49] elasticmachine commented on #98645
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 15:55] jen-huang commented on #84557
Closing in favor of #86121.

[2021-04-28 15:56] cyberpescadito commented on #90401
Hi there, i'm having the same issue with a fresh install.

I have only have linux hosts with agents installed on (no windows), and i'm trying to generate an alert to initiate the logs-endpoint.alerts index without success.
Initially my rules was showing an error state and was missing both auditbeat index and logs-endpoints, since I installed manually an auditbeat on a client, the rules ares in "su

[2021-04-28 15:57] nchaulet commented on #98645
Currently we do not and I am not sure we have enough permission to do it during Kibana start, eventually we could do it during the setup call.

[2021-04-28 15:58] jen-huang commented on #88499
I'm closing this issue as it's not super useful, support for other asset types has been added as use cases naturally come up (and often via contributions from the team that needs it!).

[2021-04-28 15:58] #88499 closed

[2021-04-28 16:03] pheyos opened #98649 "[ML] Fix date marker formatting in revert model snapshot flyout"
The issue reported in elastic/elastic-charts/issues/1040 (the date label of the event rate chart in the ML revert model snapshot flyout does not look ideal when it is near the border of the chart) has been fixed on the charts side.
It now requires a change on the ML side to apply the fix, see https://github.com/elastic/elastic-charts/issues/1040#issuecomment-825702710.

[2021-04-28 16:03] elasticmachine commented on #98649
Pinging @elastic/ml-ui (:ml)

[2021-04-28 16:06] ThomThomson commented on #21483
This seems to me like a non-issue in current versions of Kibana for the following reasons:
1. If a user ends up in a state like this, the refresh button will really quickly align the time range on all charts.
2. This will only happen in edit mode because it requires the user to add another chart. Dashboard authors will hopefully not be confused by this.
3. The only way I can think of to fix this w

[2021-04-28 16:06] #21483 closed

[2021-04-28 16:11] jen-huang commented on #98356
@nchaulet I wonder if we can apply a fix similar to #98492 for the ES URL too? It would be nice if we can pick it up from `kibana.yml` `elasticsearch.hosts` setting.

(Kibana URL is no longer needed from 7.13)

[2021-04-28 16:13] tylersmalley opened #98650 "Upgrade to Node 16.x"
[Node v16](https://nodejs.org/download/release/latest-v16.x/), the next LTS, was released on April 20th. Active LTS starts on October 18th. With this, I feel it would be best to target 7.16.

The primary driver for this upgrade at this time is to support ARM on macOS.

Related to https://github.com/elastic/kibana/issues/83946

[2021-04-28 16:13] elasticmachine commented on #98650
Pinging @elastic/kibana-operations (Team:Operations)

[2021-04-28 16:13] elasticmachine commented on #98650
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 16:15] tylersmalley commented on #98650
Also, cc @watson since you have done the recent upgrades.

Is everyone OK targeting 7.16? 7.15 would probably ship before the active LTS of v16 starts, which is not recommended for production applications.

[2021-04-28 16:23] jen-huang commented on #98645
I think that's what I was getting at, since we do other migrations like for agents there.

[2021-04-28 16:24] #84557 closed

[2021-04-28 16:29] jgowdyelastic opened #98652 "[File data visualizer] Embed component into Add Data page in home plugin"
[Recent work](https://github.com/elastic/kibana/pull/96408) has moved ML's File Data Visualizer into it's own plugin.
The File Data Visualizer component is now being imported into the ML app and embedded into the location it originally lived.

The ability to upload data would be better suited in the home plugin's Add Data page.
When adding a new tab to the home app [here](https://github.com/elasti

[2021-04-28 16:29] elasticmachine commented on #98652
Pinging @elastic/ml-ui (:ml)

[2021-04-28 16:30] #98601 closed

[2021-04-28 16:34] MadameSheema commented on #94011
@deepikakeshav-qasource can you please validate the fix of this issue? Thanks :)

[2021-04-28 16:41] MadameSheema commented on #98285
@marshallmain we expect the fix to be merged in 7.13 if possible :)

[2021-04-28 16:45] justinkambic commented on #95941
Tested this on 7.13 branch, looks good.

![image](https://user-images.githubusercontent.com/18429259/116441656-a162ee80-a81f-11eb-92ca-4dad7c7821e6.png)

[2021-04-28 16:53] justinkambic commented on #97821
Tested this on 7.13 branch, looks good. Performed the same test described in this issue:

![image](https://user-images.githubusercontent.com/18429259/116442510-92307080-a820-11eb-971c-626d2c2c6fc1.png)

Port filter worked ok as well.

[2021-04-28 17:11] Zenithar commented on #88081
At least, `client_credentials` flow support at least would be great for WebHook actions.

[2021-04-28 17:24] jen-huang commented on #90148
@mtojek Is this still a valid issue with the move to Fleet Server and the Fleet service account in ES?

[2021-04-28 17:24] mikecote commented on #97747
+1 from me for a separate issue

[2021-04-28 17:25] mshustov commented on #94998
@lizozom @streamich  I added a demo of how it can be implemented without compromising perf and debuggability https://github.com/elastic/kibana/pull/98658/

[2021-04-28 17:28] mtojek commented on #90148
I'm not sure about it. Most likely somebody from the Fleet team would have to verify if it's possible to use fleet with "file-based auth". Last time it wasn't possible at all.

[2021-04-28 17:39] elasticmachine commented on #78187
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 17:41] jen-huang commented on #81024
This might be alleviated with the recent changes we made to not have `/setup` errors block the UI (#97404). We need to double check.

[2021-04-28 17:42] jen-huang commented on #91864
Done by #97404.

[2021-04-28 17:42] #91864 closed

[2021-04-28 17:49] jen-huang commented on #63114
Closing due to staleness, we haven't had anything come up in way of lacking API functionality (apart from documenting them 😉).

[2021-04-28 17:49] #63114 closed

[2021-04-28 17:52] jen-huang commented on #63123
Moving this to Backlog > 8.0 Breaking Changes because if there are changes we need to make, 8.0 will give us a chance to make them without worrying about BWC.

[2021-04-28 17:52] elasticmachine commented on #63123
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 17:53] andreadelrio commented on #98567
Here's a design proposal for this toast

<img width="1440" alt="Frame 1" src="https://user-images.githubusercontent.com/4016496/116450175-d5ceae80-a80f-11eb-8c11-512cf825abab.png">

[2021-04-28 17:57] andrewvc opened #98662 "[Uptime] RAC Alerts as data spike"
Within this spike we will explore the use of alerts to index new data in support of the following UI experiences. The goal is to see if the following features would be possible:

1. Annotating charts with alert statuses.
  * Investigate the ease of adding annotations to existing charts vs. exploratory view
2. Driving the display and search of monitor state on the Uptime Overview page
  * We need t

[2021-04-28 17:57] elasticmachine commented on #98662
Pinging @elastic/uptime (Team:uptime)

[2021-04-28 17:57] jen-huang commented on #74079
@mostlyjason In addition to Fleet Server telemetry (#95424) that we want to collect for GA, can you help identify if there are any other usage metrics that are important for GA?

[2021-04-28 17:59] elasticmachine commented on #64739
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 18:02] jen-huang commented on #80583
As Upgrade Agents is an experimental feature (even after Fleet itself goes GA, I'm de-prioritizing this).

[2021-04-28 18:04] jen-huang commented on #76502
Closing, no longer relevant as we have removed these settings for now.

[2021-04-28 18:04] #76502 closed

[2021-04-28 18:09] ruflin commented on #96779
This sound like an issue in Agent. Should we move it to the Beats repo? @ph

[2021-04-28 18:13] justinkambic commented on #96375
Tested this and it seems to be working ok.

![Apr-28-2021 14-12-16](https://user-images.githubusercontent.com/18429259/116452545-d5dca780-a82b-11eb-8a72-43a219bfce62.gif)

[2021-04-28 18:17] jen-huang commented on #82606
@ruflin What do you think about this proposal? I think it would be simple to add this setting to the index templates that Fleet creates?

[2021-04-28 18:17] jen-huang commented on #82426
Resolved by #83101.

[2021-04-28 18:17] #82426 closed

[2021-04-28 18:18] jen-huang commented on #72535
Overview page is going to go away with Integrations UI :) Closing.

[2021-04-28 18:18] #72535 closed

[2021-04-28 18:20] pgayvallet commented on #37403
Ok, so I took a quick look.

It seems as easy as adding

[code]

here: https://github.com/hapijs/h2o2/blob/2ac14fc746d21f97f4bb8004bc80b620d076c770/lib/index.js#L164

(and adding tests)

Currently working on an upstream PR. Will see if there is any response or if we'll have to fork / copy to our repo.

[2021-04-28 18:22] justinkambic commented on #94741
Tested this, looks good.

<img width="349" alt="testing7 13waterfalldetails" src="https://user-images.githubusercontent.com/18429259/116453673-29032a00-a82d-11eb-9754-af8654b0ce93.png">

[2021-04-28 18:26] ph commented on #71095
@jen-huang I think this is in fleet no? This reference typescript code.

[2021-04-28 18:27] zofog commented on #63924
So this bug fix didn't make it into v7.12.1? That's really disappointing since this feature is just broken.

[2021-04-28 18:27] justinkambic commented on #94544
For this test I needed to look at the code/PR obviously to make sure the custom KB implementation was deleted. The existing KB seems to work as I'd expect, same functionality as the old one.

[2021-04-28 18:27] jen-huang commented on #71095
@ph Oops, I assigned the wrong board yesterday :) Yes, this is Fleet.

[2021-04-28 18:28] ph commented on #87036
@jen-huang I though this is a kibana issue?

[2021-04-28 18:36] #98468 closed

[2021-04-28 18:38] jen-huang commented on #87036
@ph Board namesss 😩

[2021-04-28 18:42] elasticmachine commented on #98640
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-04-28 18:49] #97490 closed

[2021-04-28 18:51] A-Hall opened #98671 "Cannot run search with {some_index} is missing when index.max_docvalue_fields_search is exceeded"
**Kibana version:**
7.12.0

**Elasticsearch version:**
7.12.0

**Server OS version:**
Windows 10

**Browser version:**
Chrome Version 90.0.4430.93 (Official Build) (64-bit)

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
Unpacked traball

**Describe the bug:**

**Steps to reproduce:**
1.  Set index.max_docvalue_fields_search to 1:

[co

[2021-04-28 18:57] pgayvallet commented on #37403
Created https://github.com/hapijs/h2o2/pull/125, now waiting for upstream

[2021-04-28 19:00] tylersmalley commented on #98614
@joshdover, it looks like the `/api/status` now returns 503 when a plugin goes red. In this instance, it was because the alerting plugin was unable to find an alert. Are we concerned with this breaking change since a common use of this API is as a health check (in absence of https://github.com/elastic/kibana/issues/46984) to determine if requests should be routed to it?

[2021-04-28 19:07] pgayvallet commented on #98614
Woups, seems like we forgot to modify the front-end to still read the data if the status is `503`

https://github.com/elastic/kibana/blob/9fd28b67c5b6c8a519085ea5171a281fc398a881/src/core/public/core_app/status/lib/load_status.ts#L113-L122

[2021-04-28 19:07] liza-mae commented on #98614
Might want to also cross-reference with: https://github.com/elastic/kibana/issues/92299

[2021-04-28 19:08] pmuellr opened #98673 "[logging] request for more metrics from metrics.ops"
I'm playing with the new [metrics logger](https://www.elastic.co/guide/en/kibana/7.13/logging-service.html#dedicated-loggers) **AND I WANT MOAR!** :-)

I imagine this is more data than ECS is currently standardized to handle, but we could consider adding these as custom ECS fields.

### `process.cpuUsage()` / `process.memoryUsage()`

I think it would make sense to log the result of [`process.cpuUs

[2021-04-28 19:08] elasticmachine commented on #98673
Pinging @elastic/kibana-core (Team:Core)

[2021-04-28 19:09] pgayvallet commented on #98614
@liza-mae I'm afraid these are different issues, https://github.com/elastic/kibana/pull/79012 did not land on `7.12`

[2021-04-28 19:13] ruflin commented on #82606
Agree, should be simple to add. I wonder if this would have any other side effects?

[2021-04-28 19:26] #80120 closed

[2021-04-28 19:29] phillipb commented on #98640
Doesn't index threshold alert already make this possible? If we add this, then what is the difference between Index Threshold and Metrics Threshold? If the issue is that Index Threshold isn't as feature rich, should we just fix that? Wouldn't think we'd need two alert types that do the same thing.

[2021-04-28 19:30] jen-huang commented on #82298
@nchaulet As we no longer have agent events with Fleet Server, is status reporting still a concern?

[2021-04-28 19:35] jen-huang commented on #98589
@dikshachauhan-qasource I'm going to close this issue in favor of https://github.com/elastic/fleet-server/issues/244, it is still open so I doubt a final fix went in. Please track that one.

[2021-04-28 19:35] #98589 closed

[2021-04-28 19:37] jen-huang commented on #73508
Closing in favor of #80841.

[2021-04-28 19:37] #73508 closed

[2021-04-28 19:39] jen-huang commented on #80841
I'm putting this in the backlog as we don't have capacity to make large changes around this at the moment.

But if anyone has suggestions for simple copy changes, please file a new issue with those suggestions. Thanks!

[2021-04-28 19:41] pgayvallet commented on #98673
This is something planned for `7.14`: https://github.com/elastic/kibana/issues/96192

[2021-04-28 20:00] #97997 closed

[2021-04-28 20:02] jasonrhodes commented on #98640
@phillipb good questions, I'll follow up with folks who have requested this

[2021-04-28 20:07] jasonrhodes commented on #98640
Outside the scope of this ticket, but: I don't love that the alerts do dynamic look ups, though. If 3 alerts went off yesterday but someone updated the Metrics UI's source configuration last night, what's the path for me to even understand the context of those alerts?

I think we should consider something along the lines of allowing saved views specify indices, and tying a rule to a saved view. Th

[2021-04-28 20:13] jen-huang commented on #85583
As it turns out, this was due to the _Dashboards_ we attempt to load with each data stream not being accessible and bubbling up an error to the data stream list API. In #98622 we fixed it so that 404 dashboard responses will not result in the entire API being unavailable, and it also happened to fix this issue:

![image](https://user-images.githubusercontent.com/1965714/116466541-78445d00-a823-11e

[2021-04-28 20:13] #85583 closed

[2021-04-28 20:20] wylieconlon commented on #93940
The goal of this is to provide good documentation of the Lens public API for use by solutions and end users, so I assume that we will also want to expose a few more types publicly like `IndexPatternLayer`- as this is not currently exposed?

The main use cases I am imagining for users who will read the API docs:

* Solution teams who are embedding Lens
* Administrators who want to automate dashboar

[2021-04-28 20:25] LeeDr commented on #97819
I just reproduced this on the latest 7.13.0-SNAPSHOT build.

[2021-04-28 20:53] thomasneirynck commented on #97819
from @lizozom suggestion; there does seem to be some spotty support for SubtleCrypto, https://developer.mozilla.org/en-US/docs/Web/API/Crypto/subtle. Wouldn't be surprised if this didn't exist in headless reporting browser.

Should clients _not_ include a searchSessionId when generating a report from a dashboard? Is that something we can determine, whether a page is loaded for reporting or not?

[2021-04-28 20:55] jen-huang commented on #89155
@mtojek Have you seen this recently at all? A while ago I merged #94040 which fixed issues with similar symptoms. I'm going to close this for now but please feel free to reopen.

[2021-04-28 20:55] #89155 closed

[2021-04-28 20:56] rashmivkulkarni opened #98689 "[Security Solution] Internal Server error seen when I click on Security >Overview page ( or any other tab under Security)"
Kibana /Stack version: 7.13.0 BC3

I don't know if this is anything related to License at all, but just a background here- Am on 7.13.0 BC3 and was on Basic License > then moved to Trial> and then back to Basic License.
eanwhile I clicked on Security > Overview and I see the following error.

Error in console :
[code]

Network error:
[code]

<img width="1792" alt="Screen Shot 2021-04-28 at 1 47 24

[2021-04-28 20:56] elasticmachine commented on #98689
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-28 20:56] jen-huang commented on #77106
We use Fleet Server now. Closing.

[2021-04-28 20:56] #77106 closed

[2021-04-28 20:56] tylersmalley commented on #92299
This might be similar to the issue I described here: https://github.com/elastic/kibana/pull/94968#issuecomment-828711862

[2021-04-28 20:56] AlexP-Elastic commented on #98356
From discussion in https://github.com/elastic/kibana/pull/98670

ECE always (from 1.2+) specifies 9243, which is always injected into the cloud Id

Depending on the region, ESS either:
* specifies nothing - which results in the cloud Id not having a port, which should be treated a 443
* specifies 9243 - which results in the cloud Id getting an injected value of 9243 ..  since both 9243 and 443 wor

[2021-04-28 20:59] jen-huang commented on #75418
Closing in favor of #75418.

[2021-04-28 20:59] #75418 closed

[2021-04-28 20:59] stephmilovic opened #98690 "[Security Solution] [Timeline] Fix Flakey Test"
I got a flakey build due to a timeline Cypress test on an unrelated PR, we should take care of it before operations does. Let's fix it.

https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/122969/testReport/junit/(root)/%22before%20all%22%20hook%20for%20%22should%20contain%20the%20right%20query%22/Kibana_Pipeline___general___Timeline_query_tab_Query_tab__before_all__hook_for__sho

[2021-04-28 21:10] jen-huang commented on #74353
We should be able to leverage [Kibana sharable saved objects](https://github.com/elastic/kibana/issues/27004) starting from 8.0. Tossing this one in the backlog until then.

[2021-04-28 21:11] jen-huang commented on #93662
Closing due to staleness.

[2021-04-28 21:11] #93662 closed

[2021-04-28 21:12] elasticmachine commented on #91831
Pinging @elastic/fleet (Team:Fleet)

[2021-04-28 21:21] tsullivan commented on #92313
An observation has come up while working through the next Chromium upgrade. There are a few reasons to continue custom building our own headless Chromium:

1. No builds are easily available for the "headless_shell" application. This application is generated from a [build target in Chromium source code](https://github.com/chromium/chromium/tree/ef768c94bcb42dca4c27048615d07efadbb1c1c2/headless) tha

[2021-04-28 21:25] jen-huang commented on #48938
Closing in favor of #95913.

[2021-04-28 21:25] #48938 closed

[2021-04-28 21:28] LeeDr commented on #97819
I've only reproduced this when I _don't_ have security enabled.  I tested with security enabled and _didn't_ reproduce it.

I don't know how any of this could be related to security, but Nathan's test on Cloud (where he didn't reproduce it) would also have security enabled.

[2021-04-28 21:43] jen-huang commented on #94470
@nchaulet Do you think this is feasible to do for 7.13? I understand we might need to keep the actual SO mappings around since a cluster might have old agent event SOs, but maybe we can remove downstream code such as `getEventsCount()` and `getAgentEvents()` that references that SO type?

I added the complete mapping removal to our breaking changes list for 8.0.

[2021-04-28 21:45] #93927 closed

[2021-04-28 21:48] jen-huang commented on #60633
Closing in favor of #60952.

[2021-04-28 21:48] #60633 closed

[2021-04-28 21:50] jen-huang commented on #41253
Package names cannot include `-` so we have been safe. I'm going to close this as I don't think the tradeoff of amount of work vs benefits is worth it atm.

[2021-04-28 21:50] #41253 closed

[2021-04-28 21:51] #49466 closed

[2021-04-28 21:58] jen-huang commented on #55556
@ph @ruflin Can you help me understand if this is still needed and if it overlaps at all with the the work we want to do for installing a `final_pipeline` (#97181)?

[2021-04-28 22:07] jen-huang commented on #56659
Closing as much as changed with Index Pattern Service and our usage (or rather lack of usage) of it: https://github.com/elastic/kibana/issues/86121#issuecomment-802107606

[2021-04-28 22:07] #56659 closed

[2021-04-28 22:34] thomasneirynck commented on #97819
@LeeDr that would make sense. Apparently, according to the spec the `SubtleCrypto` APIs should _only_ be enabled in secure contexts.

I'm not enough of an expert here. e.g. maybe there is an acceptable alternative to generate that hash, that would make it work with both http and https?

[2021-04-28 22:52] LeeDr opened #98698 "Error while deleting async_search resource_not_found_exception"
**Kibana version:** 7.13.0-SNAPSHOT

**Elasticsearch version:** 7.13.0-SNAPSHOT

**Server OS version:** Ubuntu 16.04

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz file

**Describe the bug:** I'm seeing errors in the Kibana log like;
[code]

**Steps to reproduce:**
1. I installed Elasticsearch and K

[2021-04-28 22:52] elasticmachine commented on #98698
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-04-28 23:42] IgorGuz2000 commented on #95123
Tested in 7.13 BC3. Test PASS. Tooltips  for the Hyperlinked  hostname and IP fields are displayed correct names

[2021-04-28 23:42] #95123 closed

[2021-04-29 00:17] jfsiii commented on #41253
package names can't include `-` largely (maybe entirely?) because of this. That said, it's not a high priority for me either and we can try again for 8.x if we really want it

[2021-04-29 00:28] jgr commented on #92558
@azasypkin thanks for pointing that out. While I'm not familiar with this technique to emulate anonymous access, I agree that it seems unlikely that it will effect users of Enterprise Search.

[2021-04-29 00:54] spong commented on #94550
This appears to be an instance of https://github.com/elastic/kibana/issues/96683. Based on the [comments there](https://github.com/elastic/kibana/issues/96683#issuecomment-822703660) Alerts cannot be created from API keys like this.  Looks like this will require some ES changes, so we can follow along with https://github.com/elastic/elasticsearch/issues/52244 & https://github.com/elastic/elasticse

[2021-04-29 00:58] tsullivan commented on #97819
The Reporting headless browser does support `crypto`. You can verify this by setting the kibana.yml option to turn on the inspector for Reporting: `xpack.reporting.capture.browser.chromium.inspect: true`. When you run a report job and the inspector opens, you can test `crypto.subtle` in the console:

Looking at the docs shows that crypto has support in Chrome since version 37, and the Reporting he

[2021-04-29 01:14] alisonelizabeth opened #98700 "[CCR] Unable to define advanced settings when creating new follower index"
**Steps to reproduce:**

1. Navigate to CCR, click "Create a follower index"
2. Fill required fields
3. Toggle "Customize advanced settings" and change some of the default values
4. Click "Create"
5. Go back to edit the policy, toggle "Customize advanced settings" and note values are unchanged (reset to default)

![ccr](https://user-images.githubusercontent.com/5226211/116490862-78b21780-a866-11eb

[2021-04-29 01:14] elasticmachine commented on #98700
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-04-29 02:02] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13675/)

[2021-04-29 02:58] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13676/)

[2021-04-29 03:43] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13538/)

[2021-04-29 03:49] dikshachauhan-qasource commented on #98589
Sure @jen-huang Thanks for the confirmation. However, we have validated it on latest 7.13 BC3 and re-confirm on https://github.com/elastic/fleet-server/issues/244  if had more related findings.

[2021-04-29 03:54] dikshachauhan-qasource commented on #93910
Hi @ph

We are unable to validate it on latest 7.13 BC3 available as default policy is currently not available on cloud created builds. However, we have validated this issue with user created policies and found them working fine.

As discussed with @EricDavisX , we closing it for now and will re-open if found it reproducible able on 7.13.

Just for a note, we have found this issue only reproducibl

[2021-04-29 03:54] #93910 closed

[2021-04-29 03:57] lukeelmers commented on #55485
@joshdover We wouldn't need to update imports at the same time if the package contents were still re-exported by the data plugin (so that downstream users don't need to know about its existence unless they have a reason to). But that's a small enough thing to change that maybe app services would be willing to do it all at once? 😉

[2021-04-29 03:58] dikshachauhan-qasource commented on #96949
Hi @EricDavisX ,

We are closing this for now as per our comment posted on [#93910_ comment](https://github.com/elastic/kibana/issues/93910#issuecomment-828922661).

We will re-open it if found it reproducible on later builds.

Thanks
QAS

[2021-04-29 03:58] #96949 closed

[2021-04-29 03:59] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13677/)

[2021-04-29 04:43] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13539/)

[2021-04-29 04:57] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13678/)

[2021-04-29 05:22] andreadelrio commented on #80514
Hi all, I'm wondering if we should allow for the user to reopen or regain access to viewing the tour in case they either

a) have completed the tour but need to see it again
b) hit the "skip the tour" button either by accident or because they don't want to go through the tour at certain time but later on they realize they want/need to go through it.

If the answer to the above is Yes, where should

[2021-04-29 05:47] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13540/)

[2021-04-29 05:58] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/13679/)

[2021-04-29 06:01] karanbirsingh-qasource opened #98704 "[Security Solution] Missing default fleet server under Fleet Setting for cloud build on https://cloud.elastic.co/home"
**Describe the bug**
Missing default fleet server under Fleet Setting for cloud build on https://cloud.elastic.co/home

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
1. Elastic Cloud environment 7.13.0 BC3 should be there.

**Steps to Reproduce**
1. Login to kibana
2. Click on "..." and Navigate to Fleet > Timeline Tab.
3. Click on fleet setting in top right corner.
4. Obse

[2021-04-29 06:01] elasticmachine commented on #98704
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-04-29 06:23] dikshachauhan-qasource commented on #98704
Reviewed and assigned to @EricDavisX

[2021-04-29 06:41] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13541/)

[2021-04-29 06:51] james1465 commented on #39259
The feature would allow one of my customers to realise two use cases that are important to them:
   1) Users building a dashboard in private and only allowing other users to see it when it is ready
   2) The user who creates the dashboard being the only person who is able to modify it.

They would also want to have a superuser role, where the members of that role can view and edit any object regar

[2021-04-29 07:10] karanbirsingh-qasource commented on #97989
Hi @MadameSheema

No , the instance was not shared , also we have perform the same scenario while we have found this issue that directly going to timeline tab without installing the detection rule and this issue of duplicate timeline template did not occurred .

**Build Details:**
[code]
![image](https://user-images.githubusercontent.com/59917825/116514003-071aad80-a8e8-11eb-9723-9471a88fa176.png)

[2021-04-29 07:18] deepikakeshav-qasource commented on #94011
Hi @MadameSheema,

We have validated this ticket on **7.13.0** BC3 build and observed that issue is **fixed**. Loading spinner is showing when activate and deactivate the rule under rule details page.

Build Details:
[code]

**Screenshot:**
![Loader](https://user-images.githubusercontent.com/61860752/116512729-17318d80-a8e6-11eb-871c-ac0404fd6c33.jpg)

Hence, We are closing this ticket and adding

[2021-04-29 07:18] #94011 closed

[2021-04-29 07:44] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13543/)

[2021-04-29 07:55] mshustov commented on #94998
As the Core HTTP server is based on Hapi, we can leverage https://hapi.dev/api/?v=20.1.2#-serverencoderencoding-encoder to extend the HTTP server with a custom compression strategy.

[2021-04-29 08:14] elasticmachine commented on #32240
Pinging @elastic/kibana-core (Team:Core)

[2021-04-29 08:15] spalger commented on #32240
Skipped

master/8.0: https://github.com/elastic/kibana/commit/71145a6778a7a5a1784a6b5eee3c549606f6c05a
7.x/7.14: https://github.com/elastic/kibana/commit/4e3a93f4c2dfcbe6a8da33975ece9d87b23a9ed4

[2021-04-29 08:17] spalger commented on #32240
Looks like APM is complaining about `metadata requests did not finish, possible deadlock` in flaky test run done in https://github.com/elastic/kibana/pull/98699 / https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1522/testReport/junit/Jest%20Integration%20Tests/src_cli_serve_integration_tests/Kibana_Pipeline___agent_1___cli_invalid_config_support_exits_with_statusCode_64_and_logs_a_s

[2021-04-29 08:17] #74837 closed

[2021-04-29 08:17] #98444 closed

[2021-04-29 08:28] dikshachauhan-qasource opened #98711 "[Fleet] Able to install new agent under managed policy on cloud-prod Kibana builds."
**Kibana version:**
7.13 BC3 Kibana Cloud Production environment

**Host OS and Browser version:**
Linux, All

**Preconditions**
1.  Fresh newly created 7.13 BC3 Kibana Cloud Production environment should be available.
[code]
2.  'Elastic Agent on cloud policy' managed policy should be available on cloud.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Agents tab. Observe,

[2021-04-29 08:29] elasticmachine commented on #98711
Pinging @elastic/fleet (Feature:Fleet)

[2021-04-29 08:29] elasticmachine commented on #98711
Pinging @elastic/fleet (Team:Fleet)

[2021-04-29 08:29] dikshachauhan-qasource commented on #98711
@manishgupta-qasource Please review

[2021-04-29 08:32] manishgupta-qasource commented on #98711
Reviewed & Assigned to @EricDavisX

[2021-04-29 08:36] MadameSheema commented on #97093
@deepikakeshav-qasource can you please validate this fix on the next 7.13 BC? Thanks :)

[2021-04-29 08:43] kibanamachine commented on #32240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/13544/)

[2021-04-29 08:56] karanbirsingh-qasource commented on #96380
Hi @MadameSheema

we have found another unusual behaviour for "_id" field under the Timeline.

**Steps:**

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/116525701-6b446e00-a8f6-11eb-9a5e-dc3d36ee8dae.mp4