[2022-11-24 19:13] elasticmachine commented on #146331
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-24 19:13] elasticmachine commented on #146332
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-24 19:18] Heenawter commented on #146332
Spent a lot of time trying to fix this flakiness in https://github.com/elastic/kibana/pull/143762 and thought I'd fixed it, but I guess not! Will try to figure out what is going on.

[2022-11-24 19:20] Heenawter commented on #146331
Related to https://github.com/elastic/kibana/issues/146332#issuecomment-1326787613

[2022-11-24 19:21] kibanamachine commented on #146331
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24135#0184aae9-e14f-4c61-b709-4998bc8cf808)

[2022-11-24 19:21] kibanamachine commented on #146332
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24135#0184aae9-e14f-4c61-b709-4998bc8cf808)

[2022-11-24 19:40] kibanamachine commented on #146331
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24134#0184ab0e-df53-4cf4-86fb-548a292f8d14)

[2022-11-24 19:40] kibanamachine commented on #146332
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24134#0184ab0e-df53-4cf4-86fb-548a292f8d14)

[2022-11-24 19:46] #140174 closed

[2022-11-24 19:46] #145040 closed

[2022-11-24 19:49] kibanamachine commented on #146331
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24135#0184ab16-9276-41bd-bc21-316c15657424)

[2022-11-24 19:49] kibanamachine commented on #146332
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24135#0184ab16-9276-41bd-bc21-316c15657424)

[2022-11-24 19:50] mlunadia opened #146333 "Change the drop list amnd"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2022-11-24 20:05] #144062 closed

[2022-11-24 20:22] lcawl commented on #143579
FYI @dedemorton and I did a quick test with the current bundled.json file for the Fleet APIs and it seems to have some errors that will need to be cleaned up before we can publish them. For example, running `npx @redocly/cli lint bundled.json` yields 14 errors (and 84 warnings, which aren't blockers).  Most of those errors relate to duplicate operation IDs.  Per https://swagger.io/specification/?s

[2022-11-24 21:00] #145429 closed

[2022-11-24 21:37] #141496 closed

[2022-11-24 22:39] Heenawter commented on #146332
Ran the `options_list.ts` test suite 100 times in the [flaky test runner](https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/1598) on an otherwise unmodified PR (which, at the time the flaky test runner was built, included up to bb91749f0cd454c0f964f2dca4ca0371a352abb9) - everything passed.

So not entirely sure what went on with the 3 consecutive failures? Everything **seems** to

[2022-11-24 22:40] Heenawter commented on #146331
Same as https://github.com/elastic/kibana/issues/146332#issuecomment-1326874974

[2022-11-24 23:06] sqren commented on #146020
Thanks for creating @yngrdyn . This feels like something worth fixing for 8.6.0.

[2022-11-25 02:02] davismcphee opened #146338 "[DataViews] Create data view flyout duplicate name validation fails for auto-generated names"
The create data view flyout duplicate name validation doesn't work when the data view name is auto generated from an index pattern. Instead the request just fails and displays a toast when the save button is clicked. The same validation logic used when a duplicate name is manually entered (#146126) should be used here as well:
![image](https://user-images.githubusercontent.com/25592674/203632890-9

[2022-11-25 02:02] elasticmachine commented on #146338
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-25 02:29] davismcphee opened #146339 "[Discover] Document column field highlighting has poor contrast in dark mode"
The document column field highlighting has poor contrast in dark mode which makes the actual field names difficult to read. We should explore increasing the colour contrast in dark mode to improve legibility:
![image](https://user-images.githubusercontent.com/25592674/203888224-924eaac9-6236-4ac2-96e7-b211323c2f7e.png)

[2022-11-25 02:29] elasticmachine commented on #146339
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-25 02:35] davismcphee commented on #145815
I meant to comment on this the other day, but didn't get around to it. I'm with @kertal on this, at first glance it sounds like it could be a really good idea. Even the main drawback doesn't sound too bad, because as you say it would be difficult to avoid:

@dimaanj Can you make a note to discuss this in the next dev sync? I think it could be a good path forward on this issue, and at least good to

[2022-11-25 04:46] mattkime commented on #145861
Could you crate a har file while reproducing the problem?

[2022-11-25 04:49] mattkime commented on #146059
If no format is selected, then the format section will be closed when displayed again. There's no meaningful difference between the format section disable and the format section enabled without a formatter selected.

[2022-11-25 08:55] maretodoric opened #146342 "Weird semicolon during loading"
**Kibana version:**
8.5.2

**Elasticsearch version:**
8.5.2

**Server OS version:**
Ubuntu 20.04

**Browser version:**
Google Chrome 107

**Browser OS version:**
Android 12, MIUI 13.0.4

**Original install method (e.g. download page, yum, from source, etc.):**
apt repo

**Describe the bug:**
When visiting kibana/app/monitoring endpoint (Sandwich menu -> Management -> Stack Monitoring), there is a

[2022-11-25 09:56] #141885 closed

[2022-11-25 10:04] emilioalvap opened #146343 "[Synthetics] Retention settings data is not refreshed after index rollover"
**Kibana version:** 8.6.0

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**
Data retention periods in Synthetics UI are not updated after a new ILM policy is created.

**Steps to reproduce:**
1. Navigate into Kibana -> Synthetics -> Settings -> Data retention.
2. Check browser network data retention data.
![image](https://user-images.githubuser

[2022-11-25 10:04] elasticmachine commented on #146343
Pinging @elastic/uptime (Team:uptime)

[2022-11-25 10:06] emilioalvap commented on #144685
Created a new issue to fix data refresh: https://github.com/elastic/kibana/issues/146343.

PostFF Done.

[2022-11-25 12:04] Saela commented on #32798
+1

[2022-11-25 12:11] dimaanj commented on #145821
Closing, since we ended up with not aligning `Test query` behaviour with main Discover view. It will cause original alert behaviour change.

[2022-11-25 12:11] #145821 closed

[2022-11-25 12:20] dmlemeshko commented on #146342
Hi @maretodoric ,

Thank you for reporting. I'm not able to reproduce it in chrome simulation. Could you double check it in your PC browser or other mobile device?

Thanks

[2022-11-25 12:36] dmlemeshko commented on #96627
Can't reproduce on Kibana 8.6.0 (main), Chrome 107.0.5304.110

[2022-11-25 12:36] #96627 closed

[2022-11-25 12:50] elasticmachine commented on #145764
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-11-25 12:52] dmlemeshko commented on #144479
Closing since there were no failures during the last 20 days

[2022-11-25 12:53] elasticmachine commented on #51456
Pinging @elastic/kibana-qa (Team:QA)

[2022-11-25 12:58] tinnytintin10 commented on #145213
Regarding the host risk score, I'd suggest tracking it in a separate ticket as it involves entity analytics which @SourinPaul can help us understand how best to/if we should incorporate.

Regarding adding posture score, here are some thoughts (and questions at the end):

A posture score is a ratio of passed evaluations to total evaluations. We currently show posture scores for k8s clusters:

![Scr

[2022-11-25 13:16] #141812 closed

[2022-11-25 13:31] maretodoric commented on #146342
Hello @dmlemeshko ,

thanks for replying so quickly.
It's there for a brief time, just checked on PC as well. I've also tested on an older cluster with version 8.4.2, it also shows semicolon. Tested on 3 different phones, Xiaomi Redmi Note 11 Pro+ 5G (Android 12), Redmi Note 8 Pro (Android 11), Samsung Galaxy A32 (Android 12)
But again, only for a brief time.

I've found this out when my cluster s

[2022-11-25 14:44] afharo opened #146345 "Importing Saved Objects may break Kibana if any of them is missing their IDs"
It was fixed on https://github.com/elastic/kibana/pull/120693, but somehow, if imported twice, it goes through 🤷

![image](https://user-images.githubusercontent.com/5469006/204007825-1a7475bc-b4fe-4db1-a606-35d0babcfe46.png)

👆 It happens on 7.17.6. However, it seems to work as expected on 8.5.0.

N.B.: I'll provide more details with a test import NDJSON file the next working day.

[2022-11-25 14:44] elasticmachine commented on #146345
Pinging @elastic/kibana-core (Team:Core)

[2022-11-25 14:49] afharo opened #146346 "SavedObjects: Add migration script to ensure no empty IDs"
Related to https://github.com/elastic/kibana/issues/146345 and https://github.com/elastic/kibana/pull/120693.

https://github.com/elastic/kibana/pull/120693 added a validation so Saved Objects cannot be created without an ID. However, when upgrading from previous versions, we may keep those IDs empty. This may eventually break when exporting and importing the SOs.

We should create a migration scr

[2022-11-25 14:49] elasticmachine commented on #146346
Pinging @elastic/kibana-core (Team:Core)

[2022-11-25 15:16] #138958 closed

[2022-11-25 21:25] benakansara opened #146347 "[Metric Threshold Rule] The groupByKeys context variable should be available for recovered alerts"
Currently, the `groupByKeys` context variable which provides object of group by keys is only available in `active` alerts. The same should be available for `recovered` alerts of a Metric threshold rule.

When the user groups a Metric Threshold rule by 2 fields, for example, `host.name` and `system.network.name`, the `context.groupByKeys` variable for `recovered` alerts should hold object of group

[2022-11-25 21:25] elasticmachine commented on #146347
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-25 21:36] benakansara opened #146348 "Contextual attributes for Log Threshold Rule"
Part of https://github.com/elastic/kibana/issues/138642

- Provide contextual attributes based on group by and filter used when creating a Log threshold rule.
- Index new context variables to AAD

When the prefix of `group by` includes one of the following, add contextual attributes for that entity.
- `cloud.*`
- `host.*`
   - Excluding:
      - `host.cpu.*`
      - `host.disk.*`
      - `host.net

[2022-11-25 21:36] elasticmachine commented on #146348
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-25 22:05] benakansara opened #146349 "[Log Threshold Rule] Add groupByKeys context to recovered alerts"
When user groups a Log Threshold rule by 2 fields, for example, `agent.hostname` and `container.id`, the `context.groupByKeys` variable should hold object of group by keys as below:

[code]

[2022-11-25 22:06] elasticmachine commented on #146349
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-27 05:59] mattkime commented on #146125
I'll address this after https://github.com/elastic/kibana/pull/143604 is merged

[2022-11-27 05:59] mattkime commented on #146338
I'll address this after https://github.com/elastic/kibana/pull/143604 is merged

[2022-11-28 04:28] deepikakeshav-qasource opened #146358 "[Security Solution] Windows is going to unhealthy state on adding defend integration"
**Describe the bug**
Windows is going to unhealthy state on adding defend integration

**Build info**

[code]

**Preconditions**
- Kibana should be running

**Steps to Reproduce**
- Navigate to fleet tab
- Create the poilcy without Endpoint defend
- Install the agent and observe agent goes healthy state
- Add the endpoint defend integration to policy
- Observe that agent goes unhealthy state on ad

[2022-11-28 04:28] elasticmachine commented on #146358
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-28 04:30] elasticmachine commented on #146358
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-11-28 04:30] muskangulati-qasource commented on #146358
Reviewed & assigned to @kevinlog

[2022-11-28 05:46] muskangulati-qasource commented on #146255
Hi @dasansol92,

To achieve this, I followed below steps:
- Generated an alert on the endpoint
- Open the option for isolate from the alert details itself
- Then open the environment I am working with in incognito mode and updated the privilege for host isolation to NONE.
- After the privilege was updated, I isolated it from the browser through the alert details without refreshing it.

Please let

[2022-11-28 06:56] pgayvallet commented on #146346
Just my 2cts, but global migrations and `coreMigrationVersion` were ihmo a terrible mistake only currently used for shareable-SO types ID rewrites.

Unless we think the risk of such ID-less document for our system is very high (e.g if such documents can be created by internal features and not *only* by external calls to our APIs and/or tampering with export files), I would restrain from implementi

[2022-11-28 07:50] ashokaditya commented on #146255
@muskangulati-qasource thanks for the detailed steps. Consider using these same steps in the ticket description instead.

Indeed, this can be reproduced. Unless one reloads the page the UI doesn't know about the changed privileges. So yeah, you can view and isolate execute the action as seen here in the clip. The same would be true for other actions that depend on RBAC privileges.

Showing an erro

[2022-11-28 08:17] magorbalassy opened #146360 "Component template mapping UI does not accept array as value for copy_to in json, only string"
**Kibana version:** 8.5.1

**Elasticsearch version:** not relevant

**Server OS version:** not relevant

**Browser version:** not relevant

**Browser OS version:** not relevant

**Original install method (e.g. download page, yum, from source, etc.):** not relevant

**Describe the bug:**

When trying to create a component template through the UI, in the mapping section if we try loading a JSON mapp

[2022-11-28 08:24] simranvaseer-qasource opened #146361 "[Fleet]: No predefined filters available under Agent Logs tab."
**Kibana version:**  8.6 BC3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.6 BC1 Kibana cloud environment should be available.
2. Agent should be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
3. Navigate to Fleet tab.
4. Navigate to Logs tab.
5. Click on the Search bar.
6. Observe no predefined filters

[2022-11-28 08:24] elasticmachine commented on #146361
Pinging @elastic/fleet (Team:Fleet)

[2022-11-28 08:29] deepikakeshav-qasource opened #146362 "[Security Solution] Refresh Loader is not working under rule details page"
**Describe the bug**
Refresh Loader is not working under rule details page

**Build info**

[code]

**Preconditions**
- Kibana should be running
- Rule should be created

**Steps to Reproduce**
- Navigate to Security > Rules Page
- Click on above created rule
- Click on refresh loader next to Last Response
- Observe that refresh Loader is not working under rule details page

**Actual Result**
- Re

[2022-11-28 08:29] elasticmachine commented on #146362
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-28 08:29] deepikakeshav-qasource commented on #146362
@karanbirsingh-qasource Please review!!

[2022-11-28 08:29] dasansol92 commented on #146255
@muskangulati-qasource Thanks for the explanation. As @ashokaditya says, we need an error message for this specific scenario when the user did not refresh the browser tab. I don't think invalidating the session is a desired scenario. For `8.6`, let's add an error message in the API response to inform the user about the problem.

cc: @kevinlog

[2022-11-28 08:37] dikshachauhan-qasource commented on #146361
Secondary Review is done.

[2022-11-28 09:22] maxcold commented on #144943
Great initiative! I think threat_intelligence plugin will benefit from improvements made here. Btw small note about the naming - does it make sense to get rid of `hover` in the naming? It doesn't seem that actions appear on hover in TGrid initially should be that definitive of the name

[2022-11-28 09:28] maxcold commented on #144945
Hi @angorayc , what does the color coding means in the spreadsheet. Asking as our team works on threat_intelligence plugin and we just started with Telemetry in 8.6 in the scope of #5054 . Let me know if there's smth we can help with or contribute to in regards to Telemetry

[2022-11-28 09:31] elasticmachine commented on #146362
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-11-28 09:46] #140490 closed

[2022-11-28 09:50] pmeresanu85 commented on #145213
@tinnytintin10

Noted. I can add this under a potential future issue. Agree it is not directly related to enabling cloud posture score in our host list view.

I would say the EC2 would be the most relevant resource. When it comes to K8s resources I would go for nodes as a node could be considered to be the equivalent of a hosts in the k8s world.

In AWS we should be targeting only AWS hosts. I bel

[2022-11-28 09:54] pmeresanu85 commented on #141843
@formgeist @neptunian I wanted to check if the status of this issue should still be "blocked" given the fact that we agreed that we won't use the host map prototype provided by the Datavis team to represent metric charts for the host view. Let me know if there is something I can do to help.

[2022-11-28 09:58] orouz commented on #140494
### Cases

| ID                                                                  | Title                                                               | FTR test |
| ------------------------------------------------------------------- | ------------------------------------------------------------------- | -------- |
| [C166159](https://elastic.testrail.io/index.php?/cases/view/166159) | Search Bar

[2022-11-28 10:03] pmeresanu85 opened #146365 "[Infrastructure UI] Incorporate Host Risk Score to Host List View"
**Describe the feature:**

The host risk score feature highlights risky hosts from within your environment. It utilizes a transform with a scripted metric aggregation to calculate host risk scores based on alerts that were generated within the past five days. The transform runs hourly to update the score as new alerts are generated.

Each rule’s contribution to the host risk score is based on the

[2022-11-28 10:03] elasticmachine commented on #146365
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-28 10:04] ruflin opened #146366 "Issue in Dev console with bulk request"
During going through the [downsampling example](https://www.elastic.co/guide/en/elasticsearch/reference/master/downsampling-ilm.html#downsampling-ilm-ingest-data) I hit a strange issue in Dev Console running the bulk requests. I'm running on 8.5.2 but had the same issue on 8.6.0-SNASPHOT.

The following example is taken from the downsampling page but heavily simplified. The data stream names that

[2022-11-28 10:18] elasticmachine commented on #146360
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-11-28 10:19] karanbirsingh-qasource commented on #145078
HI @MadameSheema

we have validated this issue on 8.6.0 BC4 and found this issue to be fixed ✔️ . Now app is not crashing on editing data view rule.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/204252780-612a8915-f7bb-40a7-8111-befd21b667a7.mp4

Hence we are  closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-11-28 10:19] #145078 closed

[2022-11-28 10:19] sqren opened #146367 "[APM] Make fleet optional again: Store source maps in APM index"
Pitch: https://github.com/elastic/apm-dev/issues/852 (_internal_)

APM currently requires Fleet for powering several APM-specific features. To make Fleet optional we need to replicate those features.

## Source maps
Source maps are currently stored as Fleet artifacts. In addition to this we should store source maps in an APM owned index that APM Server can query directly.

**Privileges**
The sourc

[2022-11-28 10:20] elasticmachine commented on #146367
Pinging @elastic/apm-ui (Team:APM)

[2022-11-28 10:25] jcger commented on #134721
The viewport will be retrieved starting from v8.6 which will be released December 13th. Should we merge the intermediate solution or wait for it?

[2022-11-28 10:31] sqren opened #146368 "[APM] Make fleet optional again: Inject API key into APM Integration policy"
Pitch: https://github.com/elastic/apm-dev/issues/852 (_internal_)
Related: https://github.com/elastic/kibana/issues/146367

APM currently requires Fleet for powering several APM-specific features. To make Fleet optional we need to replicate those features.

## Inject API key

Instead of retrieving source maps via fleet APM Server should query the [new source map index](https://github.com/elastic/k

[2022-11-28 10:49] kertal commented on #144655
@dimaanj guess this can be closed?

[2022-11-28 10:55] weltenwort commented on #146254
Thanks for reporting this. My first guess would be that something changed about the styling of an ancestor which causes  a recursive interaction between the ancestor's size and the auto-sizing code of the logs stream component. :thinking:

[2022-11-28 10:56] banderror commented on #146362
Thanks for the ping. @deepikakeshav-qasource can you expand on what exactly is not working?

[2022-11-28 10:56] karanverma-qasource commented on #145807
Hi Team,

We have validated above issue on 8.6.0 BC3 and it's working fine. 🟢

[code]

**Screen Records:**

https://user-images.githubusercontent.com/91867110/204260546-d6ad7d83-3885-40fa-8278-0a7dce0c718c.mp4

Hence we are marking this as QA Validated.

[2022-11-28 10:56] #145807 closed

[2022-11-28 10:58] #145530 closed

[2022-11-28 11:03] #128344 closed

[2022-11-28 11:05] kpatticha commented on #142563
I'm changing the status from Ready to pending refinement as the ticket and the scope might change due to another work

[2022-11-28 11:18] deepikakeshav-qasource commented on #146362
Hi @banderror ,

After clicking on Refresh icon, no loading icon is displayed under rule details page. However, In previous build loading icon is displayed after clicking on Refresh icon.

Please find the below observations on both of the tickets:

**8.6.0**

https://user-images.githubusercontent.com/61860752/204264487-83e75b1e-f9e2-4e85-b209-9cb7f30078c9.mp4

**8.5.2**

https://user-images.github

[2022-11-28 11:21] rudolf commented on #124946
We will have to remember that upgrades from 7.x to 8.x rewrite the _id of saved object types that become `namespaceType: multiple-isolated`. In theory, all saved objects that wanted to become `multiple-isolated` would have done so with the 8.0 release but there are no technical controls to guarantee this.

We would either have to add a check so that we still kick off a full migration if a type bec

[2022-11-28 11:22] adcoelho commented on #144614
A couple of questions @mdefazio !

I hope I understood this item correctly.

Do you mean the distance between the section title and content should be shorter than the distance between sections?

I did a small change and do agree it looks better, check this out:

<details><summary>From this.</summary
<img width="537" alt="Screenshot 2022-11-28 at 12 17 46" src="https://user-images.githubusercontent

[2022-11-28 11:23] sukhwindersingh-qasource opened #146375 "[Security Solution]Error is shown when user creates a Event Correlation rule with ADD filter."
**Describe the bug:**
Error is shown when user creates a Event Correlation rule with ADD filter.

**Build Details:**
[code]
**Preconditions**
1. Kibana should be running.
2. Data should be present for users and hosts.

**Steps to Reproduce**
1. Navigate to Security
2. Click on rules and select create new rule.
3. Create a rule with Add filter
4. Click on create and enable rule or Create rule witho

[2022-11-28 11:23] elasticmachine commented on #146375
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-28 11:23] sukhwindersingh-qasource commented on #146375
@deepikakeshav-qasource Please review this.

[2022-11-28 11:32] alexmarhaba commented on #126417
@ryankeairns Thanks for the ping. Let me know when you'd like to get this going. I'm happy to help in defining what we're looking to find out and how we go about getting there. I

[2022-11-28 11:38] kevinlog commented on #146255
@ashokaditya @dasansol92 @muskangulati-qasource

Thanks for working out the reproduction steps on this one. Agreed that we should come up with a proper error message.  However, given that this is likely a corner case, I think we can fix this in a future release. The important detail is that the user will still not be able to isolate.

Agreed that we shouldn't invalidate the session

[2022-11-28 11:44] elasticmachine commented on #146368
Pinging @elastic/apm-ui (Team:APM)

[2022-11-28 11:45] drewpost opened #146377 "[Synthetics] Monitors Run from Europe United Kingdom Location have NA as duration on Synthetics App overview"
Last verified running 8.6.0 snapshot on 28 Nov 2022. Have experienced this since 8.5+ in the new synthetics UI

Any monitor running in the Europe - United Kingdom location will display "N/A" for the duration value on the Overview page of the new Synthetics app. This occurs on existing monitors from an older deployment that's been upgraded as well as a brand new Snapshot deployment. This monitor wa

[2022-11-28 11:46] elasticmachine commented on #146377
Pinging @elastic/uptime (Team:uptime)

[2022-11-28 11:46] drewpost commented on #146377
This does not seem to be resolved by https://github.com/elastic/kibana/issues/143309 or https://github.com/elastic/kibana/issues/145922

[2022-11-28 11:49] amolnater-qasource commented on #122973
Hi @juliaElastic

We have created **10 testcases** for this feature under Fleet test suite at links:

- [Validate that Display beta integrations button is disabled by default and no beta/Technical preview integration is visible.](https://elastic.testrail.io/index.php?/cases/view/168351)
- [Validate on enabling Display beta integration button beta/Technical preview integrations are visible. ](https

[2022-11-28 11:50] #146277 closed

[2022-11-28 11:52] banderror commented on #146362
@deepikakeshav-qasource Thank you! It looks suspicious, but there's a chance it could be caused by a hot cache (so not a bug). I'll double-check this later.

[2022-11-28 11:56] sukhwindersingh-qasource commented on #145836
Hi @MadameSheema

We have validated this issue on **8.6.0 BC3** build and observed that issue is **Fixed.**  :heavy_check_mark:

Please find the below Testing Details:

**Build info**

[code]

**Screen Shot**

![bug](https://user-images.githubusercontent.com/108654988/204269871-787aa54b-6650-418b-bf01-9dd611cec112.jpg)

Hence, We are closing this issue and marking as QA Validated!!

Thanks!!

[2022-11-28 11:56] #145836 closed

[2022-11-28 11:57] kfirpeled commented on #144666
closed, no concrete action atm
@olegsu let me know if I've missed something

[2022-11-28 11:57] #144666 closed

[2022-11-28 12:16] afharo commented on #145558
Tested on `8.5.3-SNAPSHOT` and `8.6.0-SNAPSHOT` and confirmed it all works now as expected 👌

_Mind that `docker pull docker.elastic.co/kibana/kibana:8.6.0-SNAPSHOT` is required to ensure we are not using an old previously-cached version of the docker image._

Closing this issue.

[2022-11-28 12:16] #145558 closed

[2022-11-28 12:24] paulb-elastic commented on #126319
Ping @hbharding, as we have settings in Synth UI now

[2022-11-28 12:42] #141802 closed

[2022-11-28 12:43] kevinlog commented on #146358
@deepikakeshav-qasource can you provide some additional information for this bug?

From the screenshot, it looks like the Endpoint is not communicating with Elasticsearch since there is no reported policy response.

Can you verify that the Endpoint has been installed?  You can do this by going to the Windows host that you installed on and checking the folder `C:\Program Files\Elastic\Endpoint` .

[2022-11-28 13:09] dimaanj commented on #144655
Yes, we have fixed this for `v8.6`. In `v8.7` it works as expected.

[2022-11-28 13:09] #144655 closed

[2022-11-28 13:15] deepikakeshav-qasource commented on #146358
Hi @kevinlog ,

Yes, The Endpoint is never installed as Endpoint folder is not available on path: `C:\Program Files\Elastic\Endpoint`

Please find the below Agents logs:

[logs.zip](https://github.com/elastic/kibana/files/10103997/logs.zip)

[elastic-agent-20221124.zip](https://github.com/elastic/kibana/files/10103998/elastic-agent-20221124.zip)

Please let us know if anything else is required fro

[2022-11-28 13:18] kevinlog commented on #146358
@deepikakeshav-qasource thank you for the info!

In my local testing, I've found that installing the Endpoint with the System integration is causing problems.  I can see that you have the system integration also installed.

Can you try installing the Endpoint on your Windows host without the System integration?  I want to see if the Endpoint will install without the System integration also on the

[2022-11-28 13:19] Sandy381 opened #146388 "Unable to restrict CSV Download for any Role & User [Security]"
**Read-only Role :** Unable to restrict CSV Download for Read-Only Role or any Role.

**Kibana/Elasticsearch Stack version:** 8.5.2

**Browser and Browser OS versions:** Google Chrome

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):** Security

**Steps to reproduce:**

1. Apply Read-Only Role to a User or Equivalent Role. Map the user to that role.
2.Apply Appropriate rest

[2022-11-28 13:19] elasticmachine commented on #146388
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-28 13:27] kevinlog commented on #146358
@deepikakeshav-qasource I found this in the Agent logs:

[code]

Can you verify that that the Agent you are using is from the most recent BC and not a SNAPSHOT build?  The error messages about a damaged signature makes me think that maybe the Endpoint isn't signed and so may not be from a BC build.

@ferullo @cmacknz - any ideas?

[2022-11-28 13:34] klacabane opened #146390 "[Stack Monitoring] Use packages in cloud"
### Summary

When enabled in Cloud, Logs & Metrics collection will spawn metricbeat processes with the corresponding modules configured with `xpack.enabled: true`. With GA packages we should migrate the collection methods to an Agent running the necessary integrations.

This issue tracks necessary work and prerequisites to make this possible. There's likely little to no work on the packages/Stack

[2022-11-28 13:34] elasticmachine commented on #146390
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-28 13:34] kibanamachine commented on #143408
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24165#0184be45-13bf-492f-b624-7e0c1471bd0b)

[2022-11-28 13:47] fabide commented on #36573
Are there any news on this issue?

[2022-11-28 13:50] mdefazio commented on #144614
@adcoelho Thanks for working on these!

This is much better and exactly what I was thinking.  🙌

I would hold off on this one for now.  I would like to coordinate with the other solutions before moving forward to make sure we're on the same page.

[2022-11-28 13:53] kibanamachine opened #146394 "Failing test: Jest Tests.x-pack/plugins/cases/public/components/create - Create case Step 1 - Case Fields should post case on submit click"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24168#0184be5f-23e4-48b6-9b4c-b28a498aaa8c)

[2022-11-28 13:53] kpollich opened #146395 "[Fleet] Fix errors in Fleet's OpenAPI `bundled.json` file"
Ref https://github.com/elastic/kibana/issues/143579#issuecomment-1326816243

Fleet's `bundled.json` and `bundled.yaml` OpenAPI spec files report several linting errors when validated via the OpenAPI CLI:

[code]

[code]

Most of the errors result from a non-unique `operationId` value. Let's go through our OpenAPI specs and fix values for each error.

The CLI also reports **84** warnings, all due t

[2022-11-28 13:53] elasticmachine commented on #146395
Pinging @elastic/fleet (Team:Fleet)

[2022-11-28 13:53] elasticmachine commented on #146394
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-11-28 13:53] MadameSheema commented on #146375
I believe the `expected behaviour` described here is correct, the rule should not be created because we are missing the EQL query, a validation regarding the EQL query missing should be raised instead when moving to the next step.

@marshallmain can you please confirm? Thanks!

[2022-11-28 13:54] elasticmachine commented on #146375
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-11-28 13:58] nchaulet opened #146397 "[Fleet] Update doc for preconfiguration"
## Description

The doc for preconfigured object (policy, outputs, ...) as not been updated since a long time and is out of date with what we currently support.

Link to the doc:

https://www.elastic.co/guide/en/kibana/master/fleet-settings-kb.html

Source of the doc:

https://github.com/elastic/kibana/blob/main/docs/settings/fleet-settings.asciidoc

We should:
* [ ] In outputs support for logstas

[2022-11-28 13:58] elasticmachine commented on #146397
Pinging @elastic/fleet (Team:Fleet)

[2022-11-28 13:59] gbamparop commented on #142370
Closing as this was completed in 8.6.0.

[2022-11-28 14:01] elasticmachine commented on #146388
Pinging @elastic/kibana-security (Team:Security)

[2022-11-28 14:05] afgomez commented on #145378
I tested in 8.6 and I'm able to reproduce sometimes (it's easy to reproduce just reloading the page. Sometimes it loads the second page and sometimes it doesn't).

I'll see what's going on

[2022-11-28 14:09] MadameSheema commented on #146362
@banderror I was able to reproduce the issue as well in main branch, the button seems to work because is launching the `api/detection_engine/rules?id=<id>` call but no loading icon is displayed giving the impression is not doing anything. Note that I reproduced the above behaviour on an Incognito mode browser.

[2022-11-28 14:16] mdefazio commented on #145999
@jcger I was not able to reproduce this.  I am seeing a 16px font size.  You are correct though, it should not be that large—the 16px size is the correct one.

<img width="587" alt="image" src="https://user-images.githubusercontent.com/3756330/204299431-1e610e0b-13f4-4993-9b26-25e003c5a121.png">

[2022-11-28 14:17] matthiasledergerber commented on #145589
I've removed all the controls from the dashboard and retried it again and the issue still persists.

[2022-11-28 14:22] xcrzx commented on #146362
It looks like the refresh button loading indicator is connected to the `isLoading` state (triggered only during initial load) instead of `isRefetching`. It should be a pretty straightforward fix.

[2022-11-28 14:24] ferullo commented on #146358
I agree with your analysis @kevinlog

cc @softengchick @nfritts @dwhyrock @matthewscherer

[2022-11-28 14:28] angorayc commented on #144945
Hi @maxcold, thanks for the feedback. I've added the explanation to the spreadsheet. I'm trying to create a telemetry index for security solution starting from the server side usage collection. https://github.com/elastic/telemetry/pull/1929

[2022-11-28 14:35] #145743 closed

[2022-11-28 14:36] kpollich commented on #146000
Sorry I'm not sure I understand the question. Could you rephrase?

[2022-11-28 14:39] kpollich commented on #146273
The `system` integration will be added if the `collect system logs and metrics` checkbox is selected when creating an Agent Policy. So, if we're creating a new agent policy with that checkbox selected, the request will get that `sys_monitoring=true` query parameter and the resulting policy will include the system integration.

[2022-11-28 14:39] #146273 closed

[2022-11-28 14:41] yuliacech opened #146404 "[Guided onboarding] Add links and markup possibility to the guide configs"
This is a follow up issue for the guide configs route implemented in https://github.com/elastic/kibana/pull/146149. We deleted the link to the kube-state-metrics docs in the Kubernetes guide, Add data step. We need to add a possibility for adding links and other markup to the guide config.

[2022-11-28 14:41] elasticmachine commented on #146404
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-11-28 14:45] pjhampton commented on #135781
Maybe, @rudolf - it's something that I have started exploring - https://github.com/pjhampton/kibana-prometheus-exporter/issues/279 in this file: https://github.com/pjhampton/kibana-prometheus-exporter/blob/main/.github/workflows/release-plugin.yml

For this to be worthwhile Elastic would need to be able to publish a new release version to plugin authors as a notification. I think for me this is ab

[2022-11-28 14:45] klacabane commented on #146000
Is the setting safe to use and is it the recommended approach to load packages for automated testing purposes ?

[2022-11-28 14:52] kpatticha commented on #145868
it seems a EUI issue. The tabs are not responsive

[2022-11-28 14:54] bhavyarm commented on #146243
Please note this works fine on 8.5.2

[2022-11-28 14:55] jcger commented on #145999
Hi @mdefazio, which kibana version and browser are you using? I tried again and I'm still this oversized font size in the main branch using safari and chrome

[2022-11-28 14:56] kpatticha commented on #140255
As the change was reverted, should we remove the test label?

[2022-11-28 14:56] bhavyarm commented on #146243
Can we also please get a test? Thanks :)

[2022-11-28 15:01] dgieselaar commented on #140255
@kpatticha the revert concerned a Kibana-side mock implementation of synthetic source. We moved to using the `_force_synthetic_source` ES query parameter in https://github.com/elastic/kibana/pull/144300

[2022-11-28 15:05] kpollich opened #146409 "[Fleet] Add `4xx` responses to all OpenAPI operations"
Currently, Fleet's OpenAPI spec only includes `2xx` definitions for most operations. This results in linter errors like this:

[code]

There are currently **84** of these warnings. We should go through every operation and ensure each has accurate `4xx` responses with specific error messages, status codes, etc.

[2022-11-28 15:05] elasticmachine commented on #146409
Pinging @elastic/fleet (Team:Fleet)

[2022-11-28 15:07] #142112 closed

[2022-11-28 15:08] #136772 closed

[2022-11-28 15:19] jsanz opened #146417 "[Maps] Wrong reporting error when uploading GeoJSON with CRS definition"
**Kibana version:**
8.5.0

**Elasticsearch version:**
8.5.0

**Browser version:**
Firefox 107

**Browser OS version:**
Ubuntu 20.04 (amd64)

**Original install method**
Elastic Cloud

**Describe the bug:**
When uploading a GeoJSON file with a coordinate reference definition (a [pre RFC7946](https://www.rfc-editor.org/rfc/rfc7946) file) the file uploader reports as an error the indexing of a non ex

[2022-11-28 15:19] elasticmachine commented on #146417
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-28 15:24] alisonelizabeth opened #146418 "[Guided onboarding] Cannot start a second guide without page refresh"
**Kibana version:**
8.6 BC3

**Describe the bug:**
After completing a guide, I am not able to start a second guide without refreshing the page.

**Steps to reproduce:**
1. Complete one of the guided onboarding guides (From `/app/home#/getting_started`)
2. Go back to the landing page. I did this by clicking the "elastic" logo in the header, then clicking "Setup guides" from the home page.
3. Select

[2022-11-28 15:24] elasticmachine commented on #146418
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-11-28 15:26] kibanamachine commented on #100951
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24175#0184beab-5778-49e9-bcfc-a23343ad7b61)

[2022-11-28 15:28] jsanz opened #146420 "[Maps] Validate GeoJSON coordinates system"
**Kibana version:**
8.5.0

**Elasticsearch version:**
8.5.0

**Browser version:**
Firefox 107

**Browser OS version:**
Ubuntu 20.04 (amd64)

**Original install method:**
Elastic Cloud

**Describe the bug:**

GeoJSON format [pre RFC7946](https://www.rfc-editor.org/rfc/rfc7946) supports files in different coordinate systems than latitude/longitude ([EPSG:4326](https://epsg.io/4326)). These files sho

[2022-11-28 15:28] elasticmachine commented on #146420
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-28 15:30] mdefazio commented on #145999
@jcger nm...was on 8.7, but not most recent changes on main.  I am now seeing what you're seeing.  The correct font size should be 16px.

[2022-11-28 15:31] jughosta commented on #29704
Hi @cawoodm
Thanks for your suggestions!

Could you please add more information what filter button is expected and how it's related to working across indices?

[2022-11-28 15:36] christineweng commented on #141917
@constancecchen scrollbar auto-adjusts in Chrome and Safari but not Firefox. Could you take a look at the above?

[2022-11-28 15:46] #146304 closed

[2022-11-28 15:48] ryankeairns commented on #146295
For reference, Cloud currently displays this setting in the user profile menu. Whether we use this or some other design, we should insure both are aligned.

<img width="366" alt="Screen Shot 2022-11-28 at 7 46 37 AM" src="https://user-images.githubusercontent.com/446285/204320890-f34c9107-70c1-4119-81e8-63ea682432a1.png">

[2022-11-28 15:49] gbamparop commented on #144524
@chrisdistasio @akhileshpok what do you think about this?

[2022-11-28 15:51] jcger opened #146423 "[RAM] [ON-WEEK] React query benefits and use cases"
We have heard a lot of good stuff about [react query](https://tanstack.com/query/v4/?from=reactQueryV3&original=https://react-query-v3.tanstack.com/) so that we want to learn how it could benefit us too. In this issue we'll work on the rules list, more specifically on it's API calls and check if we can take advantage of any of react query's feature (cache, error handling, developer experience, ...

[2022-11-28 15:51] elasticmachine commented on #146423
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-11-28 15:52] jughosta commented on #37191
Quick update: Discover supports "Color" field formatters now.

<img width="615" alt="Screenshot 2022-11-28 at 16 50 58" src="https://user-images.githubusercontent.com/1415710/204321886-1e5efdd4-c552-4c21-9e66-e31ea65f6bf8.png">
<img width="622" alt="Screenshot 2022-11-28 at 16 51 10" src="https://user-images.githubusercontent.com/1415710/204321899-ab7bec58-f7ce-4008-8b7f-c0c195ccb506.png">

[2022-11-28 15:56] jcger opened #146424 "[RAM] [ON-WEEK] Rules list tests overhaul"
As part of the on week we'll work on studying what could improve our tests performance. There is two main changes we would like to analyse:
- Migrating from enzyme to react testing library
- Overhaul our test design, when should we tests what exactly? and how should we test?

[2022-11-28 15:56] elasticmachine commented on #146424
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-11-28 16:00] amitkanfer commented on #146112
@joshdover is this being tracked in a different issue as well?
please close as dup if indeed the case..

[2022-11-28 16:13] bhavyarm opened #146427 "Add a test for Fix Canvas expression autocomplete fix"
**Kibana version:** main/8.6.0

**Describe the bug:** Tracking issue to create a test for this fix - https://github.com/elastic/kibana/pull/146425

[2022-11-28 16:13] elasticmachine commented on #146427
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-28 16:14] chrisdistasio commented on #144524
how do we do this for other features that are premium only?

[2022-11-28 16:16] kertal commented on #145589
ok, thx, this needs to be investigated @matthiasledergerber
* in which deployment does it happen (cloud / on prem)
* Is there a way you could provide me additional information like network HAR file of loading the dashboard, dashboard saved object (your name looks like you understand german, so it would be vorname.nachname@elastic.co) to help me investigate the case?

[2022-11-28 16:18] yuliacech commented on #144039
Closing this as we already have a test guide config for the tests.

[2022-11-28 16:18] #144039 closed

[2022-11-28 16:18] #146395 closed

[2022-11-28 16:24] #146019 closed

[2022-11-28 16:44] vitaliidm opened #146436 "[Security Solution] improve rule details page of ML rule, when license is basic"
When users have only basic license, rule details page look like this:

<img width="1549" alt="Screenshot 2022-11-24 at 19 05 42" src="https://user-images.githubusercontent.com/92328789/204272426-a0d17c25-6da3-4b53-b6d6-bc667602fba3.png">

User can't:
- enable/disable rule
- edit rule
- can't see list of ML jobs in rule
- can't duplicate rule. Action throws error, but duplicate option is not disabl

[2022-11-28 16:44] elasticmachine commented on #146436
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-11-28 16:44] elasticmachine commented on #146436
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-28 16:44] yuliacech opened #146437 "[Guided onboarding] Add error handling to the header button"
In https://github.com/elastic/kibana/pull/145728 we added an error status to the guided onboarding plugin. We need to add an indicator to the UI to inform the user that an error occurred when loading the plugin state from the backend.

[2022-11-28 16:45] elasticmachine commented on #146437
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-11-28 16:52] #144885 closed

[2022-11-28 16:56] alisonelizabeth opened #146440 "[Guided onboarding] Landing page breadcrumb not always correct"
**Kibana version:**
8.6 BC3

**Describe the bug:**
The breadcrumb on the guided onboarding landing page is not always accurate.

**Steps to reproduce:**
1. Navigate directly to `/app/home#/getting_started`. Note that the breadcrumb only contains `Home`.

**Expected behavior:**
I would expect the breadcrumb to contain: `Home > Setup guides`. This does render as expected if I access the getting star

[2022-11-28 16:56] elasticmachine commented on #146440
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-11-28 16:59] Bamieh commented on #144885
Fixed is merged. I've reduced the `await setTimeout` in the test from 30seconds to 12seconds after the fixes and so far it seems there is no flakiness.

Hopefully, this wont be the case but if the flakiness returns at some points
bumping up the timeout should resolve the issue: https://github.com/elastic/kibana/blob/main/x-pack/test/functional/apps/upgrade_assistant/deprecation_pages.ts#L65

[2022-11-28 17:22] sophiec20 opened #146442 "Column ordering should have timestamp on the left when Exploring in Discover from heatmap"
**Kibana version:**
8.5.1 GA

**Describe the bug:**
Usability nit.
When I select to explore in discover from a heatmap, the column ordering in discover is not what I would expect to see. Timestamp should be on the left, rather than the right.

**Steps to reproduce:**
1. Create a heatmap
2. Click "Explore in Discover"
3. Selected columns are ordered`target_version` then `timestamp`

**Expected beha

[2022-11-28 17:23] kibanamachine opened #146443 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/group2/embeddable/tooltip_filter_actions·js - maps app embeddable tooltip filter actions apply filter to current view should create filters when create filter button is clicked"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24192#0184bf11-f71d-4e98-97bc-6b5f7e13b5ab)

[2022-11-28 17:24] elasticmachine commented on #146443
Pinging @elastic/kibana-gis (Team:Geo)

[2022-11-28 17:25] alisonelizabeth opened #146444 "[Guided onboarding] Handle upgrade scenarios"
**Describe the feature:**
In 8.6, we delivered 3 E2E guides for guided onboarding. This issue is to track how guided onboarding should handle upgrades starting in 8.7 and beyond.

Definition and scope is still TBD. Some initial questions/comments:

- In general, what is the expectation for guided onboarding after a user upgrades?
- Guided onboarding will always start in a "not_started" state. This

[2022-11-28 17:25] elasticmachine commented on #146444
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-11-28 17:28] JordanSh opened #146445 "[Cloud Posture] KSPM Integration refactor - Create radio button group selector component"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204310310-dcefeaf7-ed34-4ea2-bbd9-f5d755c89f78.png)

Create this custom component, it should be able to render different children depending on the selected radio box.
Optionally, create a smaller component of just the button group radio selector and use it to create the full component.

- [ ] renders children of the selected r

[2022-11-28 17:33] JordanSh opened #146447 "[Cloud Posture] KSPM Integration refactor - Refactor KSPM integration installation form"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204341544-ae4becea-a885-4a4d-8756-63f72daac3fe.png)

Refactor the old form to this [updated version](https://www.figma.com/file/QITLtzCQWAJCOW2xNsnO81/CSP-Visualizations?node-id=1080%3A345361&t=KDqbkCmae7Jl3F5a-0), use the [radio button group component](https://github.com/elastic/kibana/issues/146445) to create this form.

Fol

[2022-11-28 17:33] elasticmachine commented on #146445
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-28 17:33] elasticmachine commented on #146447
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-28 17:35] kibanamachine commented on #142774
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24195#0184bf23-8312-42db-8621-0118d4603b95)

[2022-11-28 17:36] alisonelizabeth commented on #145941
Thanks @johnbarrierwilson for the feedback! Fortunately, I think several of these issues have been fixed already. See comments below. I'll update your checklist as well.

We can look into this.

This has been fixed 👍

This has been fixed 👍

This has been fixed 👍

@stephmilovic can you or someone from the Security team look into this? Thanks!

[2022-11-28 17:45] kibanamachine opened #146450 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/pages/rules_page·ts - ObservabilityApp Observability Rules page Create rule button Show Create Rule flyout when Create Rule button is clicked"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24198#0184bf26-b9ff-4bfb-bd33-25e32bae2d8d)

[2022-11-28 17:47] afgomez commented on #145378
OK I found the issue. The problem is that sometimes this block of code runs before the `useIntersection` above it had its chance to do its job. The value of `hasIntersected` inside `useThrottle` is `null` and the pagination never triggers.

I see this is the same in `main`. My guess is that the reason why we cannot reproduce this in `main` is because something in the page happens faster than in 8.

[2022-11-28 17:49] kertal commented on #68270
FYI @jughosta, something we could think of once the unified field list component is finished

[2022-11-28 17:54] kertal commented on #80514
@elastic/kibana-design @ninoslavmiskovic what we're gonna do with this? There have been improvements in this area, but also there's not a plan currently

[2022-11-28 17:57] gbamparop commented on #144524
This is what we have for the service map, for example:

<img width="1505" alt="image" src="https://user-images.githubusercontent.com/5831975/204347610-b255e791-55af-4a4e-b736-4b029861fcdd.png">

[2022-11-28 18:00] gchaps commented on #80514
Do we have any metrics on usage of the tour?

[2022-11-28 18:01] JordanSh opened #146453 "[Cloud Posture] Integration refactor - Prepare custom UI for multiple forms options"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204346261-95a18699-1c5f-4d37-af52-d9dbc7ed3bd7.png)

Currently, we register our custom UI using a fleet register function at `x-pack/plugins/cloud_security_posture/public/plugin.tsx`

[code]

In part of the preparations for the CIS AWS integration, we need to be able to render different forms based on the selected type of inte

[2022-11-28 18:01] elasticmachine commented on #146453
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-28 18:02] kdelemme opened #146454 "[SLO] Add optional settings"
## 📝 Summary

Part of [#145249](https://github.com/elastic/kibana/issues/145249)

When creating an SLO, the Transform generated settings should be configurable. The following properties should be configured to account for all users:
- timestamp field
- delay duration
- frequency duration

The settings are considered a breaking change when updating an existing SLO, and therefore will remove the pre

[2022-11-28 18:02] elasticmachine commented on #146454
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-28 18:03] #145434 closed

[2022-11-28 18:08] #97403 closed

[2022-11-28 18:18] neptunian commented on #145213
It looks like the endpoint to get the cloud posture score that one currently sees in the screenshot above is through `GET /internal/cloud_security_posture/stats` as @kfirpeled explained to me.  If I understand correctly this score is for the whole cluster or multiple clusters and not for a particular host such as K8s node or EC2 instance.  @tinnytintin10 Ideally, the security team could provide us

[2022-11-28 18:23] mistic commented on #143408
Skipped.

main: [48924de](https://github.com/elastic/kibana/commit/48924de8c4f00d67438a465db2e41fbb99b880e0)

[2022-11-28 18:25] mistic commented on #142774
Skipped.

main: [49a18f1](https://github.com/elastic/kibana/commit/49a18f121e84deacb980f5f09d1d1d573c13c763)

[2022-11-28 18:27] dedemorton commented on #146018
I won't have time to look at this before I go on PTO this month, so I am going to punt to @elastic/ux-writers

[2022-11-28 18:32] kibanamachine commented on #146450
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24209#0184bf51-d2b0-43b8-9a36-879d09cb8f37)

[2022-11-28 18:32] lukeelmers commented on #132629
I'm seeing ~15 plugins that are calling `useExecutionContext`, and all of the rest of the changes would be simply updating `import` statements. If this is all that needs to happen, I wonder if it would be worth prioritizing this on the Kibana side instead so we can call it done. Getting the individual codeowners of these plugins to make changes on their end could take months. WDYT @clintandrewhall

[2022-11-28 18:37] kibanamachine commented on #145187
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24210#0184bf64-232d-49e6-9a58-f9b149349291)

[2022-11-28 18:37] kdelemme opened #146460 "[SLO] Rename custom KQL indicator parameters"
## 📝 Summary

Part of [#145249](https://github.com/elastic/kibana/issues/145249)

The current parameters for the custom KQL indicator are not straightforward. We should replace `numerator` and `denominator` parameters with `good` and `total` instead.

## ✅ Acceptance criteria

- [ ] Custom KQL uses `good` and `totals` parameters as queries

[2022-11-28 18:38] elasticmachine commented on #146460
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-28 18:50] cauemarcondes commented on #142370
Tests ok.

[2022-11-28 18:50] constancecchen commented on #141917
It's not totally clear to me that this is an EUI issue vs. an implementation issue specific to your solution / page layout. Can you reproduce this in either EUI's docs or a bare bones CodeSandbox link?

Just my 2c, but I would suspect EuiModal / EuiOverlay changes over EuiPageTemplate changes personally. We recently fixed EuiModal to not scroll jump on open: https://github.com/elastic/eui/issues/6

[2022-11-28 19:00] MadameSheema opened #146461 "[Security Solution] Exception lists are shared between different spaces"
**Describe the bug:**
Exception lists are shared between different spaces

**Kibana/Elasticsearch Stack version:**
- 8.6.0 BC3

**Initial setup:**
- To have more than one space in the instance

**Steps to reproduce:**
1. Navigate to rule exceptions
2. Click on `Create shared exception list`
3. Click on `Create shared list`
4. Add a `Shared exception list name`
5. Click on `Create shared exception

[2022-11-28 19:00] elasticmachine commented on #146461
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-11-28 19:00] elasticmachine commented on #146461
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-28 19:11] neptunian commented on #126319
Any guidance on where these removed links ought to go?  Or are we okay with the letting the users navigate themselves to these links?

[2022-11-28 19:14] #145518 closed

[2022-11-28 19:22] LeeDr commented on #127748
@pmuellr did this ever work and this should be marked as a regression?  There's at least one user who thinks so.  But it sounds like it's "against the Mustache spec" so that user must be mistaken?

[2022-11-28 19:25] bhavyarm opened #146464 "If user tries to open saved search belonging to dataview without timefield after having opened saved search belonging to dataview with timefield Kibana breaks with "Error: "field" is a required parameter" error"
**Kibana version:** 8.6.0 BC3

**Elasticsearch version:** 8.6.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** if user tries to open a saved search belonging to dataview without time series after opening a saved search belonging

[2022-11-28 19:25] elasticmachine commented on #146464
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 19:28] bhavyarm commented on #146464
This works fine in 8.5.2 Thanks!

[2022-11-28 19:29] stephmilovic commented on #144229
@samratbhadra-qasource can you please confirm this fix?

[2022-11-28 19:30] #146243 closed

[2022-11-28 19:42] emilioalvap commented on #146377
Closing as completed.

[2022-11-28 19:42] #146377 closed

[2022-11-28 19:46] pmuellr commented on #127748
I never found a way to get the values of variables with dots in their name - in a generic sense. See Gidi's comment ^^^ regarding some changes we made to the Elasticsearch query to make this possible, but it's still a lot of work, and not "natural".  And even that change was fairly recent.

As far as I know this never worked, and so isn't a regression.  This became a much more popular issue when s

[2022-11-28 19:49] ferullo commented on #146358
On further investigation, this appears to be an issue with the build process. You can run Endpoint on a Windows machine with test signing enabled until this is resolved.

[2022-11-28 19:56] bhavyarm commented on #146464
@davismcphee can we also please get a test? Thanks!

[2022-11-28 20:01] cauemarcondes commented on #139895
tests ok

[2022-11-28 20:05] nastasha-solomon commented on #143241
Closing as merged https://github.com/elastic/kibana/pull/143242.

[2022-11-28 20:05] #143241 closed

[2022-11-28 20:13] #145739 closed

[2022-11-28 20:13] stephmilovic commented on #145941
I included it in this PR: https://github.com/elastic/kibana/pull/146061

<img width="1645" alt="Screen Shot 2022-11-28 at 1 11 36 PM" src="https://user-images.githubusercontent.com/6935300/204371895-f2ffd57f-ba1e-4888-aa29-fbf161c27c04.png">

[2022-11-28 20:40] andriijas commented on #145049
@axw great idea, would make the listing more overviewable

[2022-11-28 20:40] marshallmain commented on #145672
Hi @deepikakeshav-qasource, this is expected as none of the individual fields in `kibana.alert.rule.parameters` show up in the fields modal for the alerts table.

[2022-11-28 20:44] kdelemme opened #146474 "[SLO] Rename Custom KQL indicator params"
## 📝 Summary

Part of [#145249](https://github.com/elastic/kibana/issues/145249)

Rename Custom KQL indicator parameters from:
- `numerator` to `good`
- `denominator` to `total`

## ✅ Acceptance criteria

- [ ] Custom KQL indicator parameter uses `good` and `total` properties

[2022-11-28 20:45] elasticmachine commented on #146474
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-28 20:48] kdelemme commented on #146474
Closing in favour of https://github.com/elastic/kibana/issues/146460

[2022-11-28 20:48] #146474 closed

[2022-11-28 20:49] kdelemme commented on #143067
Spike yields a couple of tickets: https://github.com/elastic/kibana/issues/143311

[2022-11-28 20:49] #143067 closed

[2022-11-28 20:52] kdelemme opened #146475 "[SLO] Burn Rate Alerting uses SLO settings for lookback windows"
## 📝 Summary

Part of #143311

As part of https://github.com/elastic/kibana/issues/146454, we introduce slo settings that can have an impact on how we compute burn rate alerting.

The transform sync delay value needs to be taken into account when computing the long and short lookback windows for computing the burn rate values.

[2022-11-28 20:52] elasticmachine commented on #146475
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-28 20:54] elasticmachine commented on #146442
Pinging @elastic/kibana-visualizations @elastic/kibana-visualizations-external (Team:Visualizations)

[2022-11-28 20:55] elasticmachine commented on #146366
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-11-28 20:56] elasticmachine commented on #146342
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-28 20:56] elasticmachine commented on #146333
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-11-28 21:22] elasticmachine commented on #13649
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #17150
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #24906
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #25538
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #28570
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #54894
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #54957
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #57645
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #57728
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #59432
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #65284
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #68049
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #69856
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #70512
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #71505
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:22] elasticmachine commented on #72665
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #74220
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #76980
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #80795
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #82318
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #82348
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #84857
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #84923
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #85162
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #87309
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #87607
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #87656
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #89726
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #95993
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #98330
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #99100
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #101142
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #102467
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:23] elasticmachine commented on #103082
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #103711
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #103776
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #103989
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #104370
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #105238
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #105521
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #106468
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #106706
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #107235
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #111244
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #113128
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #113440
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #113922
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #115942
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #120058
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:24] elasticmachine commented on #120284
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #120799
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #121408
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #122885
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #123746
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #123828
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #125089
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #125212
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #128581
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #129780
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #129808
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #129827
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:25] elasticmachine commented on #132478
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #133083
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #133084
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #133120
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #133273
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #133744
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #133749
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #134176
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #134305
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #134306
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #136388
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #139103
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #139340
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #140426
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #140679
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #141534
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #143609
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #143952
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #144052
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #144253
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:26] elasticmachine commented on #144517
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-28 21:32] kqualters-elastic commented on #141917
fwiw only see this issue on Firefox on OSX, everything seems to work as expected with most recent Firefox on Windows
![alerts-firefox-windows](https://user-images.githubusercontent.com/56408403/204385469-36f9b2d6-9ebf-4b2d-af13-af78a442f5fc.gif)

[2022-11-28 22:18] marshallmain commented on #146375
@MadameSheema Yes, we should have an error and prevent moving to step 2 if the EQL query in step 1 is not valid (empty query is not valid).

[2022-11-28 22:38] marshallmain commented on #146099
This appears to be expected behavior - when the field name is too long, it wraps onto a second line. It just looks odd for this field name because the field name is 1 character longer than the first line. Here's how it looks for a longer field name:

![image](https://user-images.githubusercontent.com/55718608/204395684-99f52031-9e25-47bd-b729-87c8bdc8ddaa.png)

[2022-11-28 23:22] nimarezainia commented on #135699
@aarju We will be adding support for FQDN in those hostnames so that would alleviate the problem you mention.

However if there are multiple host enrollments we will see multiple agents. the older will be offline.
https://github.com/elastic/observability-docs/issues/2352 should resolve this concern (we will keep the agents around for auditing but they will not appear in the UI)

[2022-11-28 23:39] ryankeairns commented on #144655
FYI, EUI added a prop for this so you can remove your custom override going forward: https://github.com/elastic/kibana/pull/145888

[2022-11-28 23:40] spalger commented on #146302
Feels like this would be relatively easy to write an ESLint rule for

[2022-11-29 00:06] tinnytintin10 commented on #145213
@neptunian

This won't be something we'll be able to dedicate the time to provide in the coming releases.

In the meantime, a posture score is a ratio of passed evaluations to total evaluations. While we only calculate posture scores for clusters and accounts, y'all can easily calculate it for a specific resource (like an ec2 instance) by taking a resource's passing evaluations / its total evaluat

[2022-11-29 00:29] #146464 closed

[2022-11-29 01:06] alisonelizabeth commented on #145962
Fixed by https://github.com/elastic/kibana/pull/146116

[2022-11-29 01:08] alisonelizabeth commented on #144810
Fixed by https://github.com/elastic/kibana/pull/144957 and https://github.com/elastic/kibana/pull/145284

[2022-11-29 01:08] #144810 closed

[2022-11-29 01:09] alisonelizabeth commented on #144458
I believe all the feedback has been addressed here. Feel free to open up separate issues if you find anything outstanding.

[2022-11-29 01:09] #144458 closed

[2022-11-29 01:13] alisonelizabeth commented on #143685
I'm going to go ahead and close this one. A separate google doc has been created to document manual test cases.

[2022-11-29 01:13] #143685 closed

[2022-11-29 02:12] christineweng commented on #141617
@karanbirsingh-qasource and @MadameSheema this is fixed, could you confirm on your end?

[2022-11-29 05:41] deepikakeshav-qasource opened #146494 "[Security Solution] Error occurs on rule execution after adding the suppression alert fields in endpoint security [Duplicate] rule"
**Describe the bug**
Error occurs on rule execution after adding the suppression alert fields in endpoint security [Duplicate] rule

**Build info**

[code]

**Preconditions**
- Kibana should be running

**Steps to Reproduce**
- Navigate to Security > Rules Page
- Duplicate the endpoint Security rule
- Add the Suppression alert field
- Now execute the rule
- Observe that error occur on rule executi

[2022-11-29 05:41] elasticmachine commented on #146494
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-29 05:41] deepikakeshav-qasource commented on #146494
@karanbirsingh-qasource Please review!!

[2022-11-29 07:38] formgeist commented on #126319
@katrin-freihofner Maybe I'm not remembering the conversation around this, but are you just suggesting we hide the links when the empty state is shown or permanently remove the links from the menu?

[2022-11-29 07:47] majagrubic opened #146498 "[Global Experience] Improve FilePicker storybook"
At the moment the FilePicker story treats all "create" actions as a noop. It would be nice if we could show the state of the component as if something were uploaded and emulate some of the UX flow there.

[2022-11-29 07:57] osama878 opened #146499 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2022-11-29 07:57] elasticmachine commented on #146499
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-11-29 07:58] formgeist commented on #144337
Sorry for the delayed response, but yes - we imagine a solution where the user can enter freeform text to leave a "note" for their team on a chart. We also have auto-generated annotations for deployments today which just shows the `service.version`. So both capabilities would be great to have for our use-cases.

[2022-11-29 08:10] miltonhultgren commented on #146342
Thanks for reporting this, I opened a [PR](https://github.com/elastic/kibana/pull/146500) to fix it!

[2022-11-29 08:15] azasypkin commented on #146388
I'll let @elastic/kibana-global-experience team to do the initial triage and assess whether current behavior is expected or not, but happy to help if there is anything needed from Kibana Platform team.

[2022-11-29 08:47] jlind23 commented on #146361
cc @jen-huang @kpollich for awareness

[2022-11-29 08:58] rameshelastic commented on #145529
@kpollich , @nimarezainia , could you confirm if this is on your list for 8.7?

[2022-11-29 09:17] #146342 closed

[2022-11-29 09:27] boriskirov commented on #127249
Fixed in #146485

[2022-11-29 09:27] #127249 closed

[2022-11-29 09:36] crespocarlos commented on #145239
@neptunian based on the discussion [here](https://github.com/elastic/kibana/issues/144576), we're going to implement the second option. My only concern is about the derivative for the logs rate. Even though we're probably only going to set `includeTimeseries` to `false` for the hosts table, which doesn't have the logs rate metrics, if we can change it to make it work with or without a histogram wo

[2022-11-29 09:41] #142667 closed

[2022-11-29 09:43] pmeresanu85 commented on #145213
@formgeist would you be able to support @neptunian with a UX/design adaptation to integrate the cloud posture score in the host list view? Thanks

[2022-11-29 09:43] shlomishabatpx opened #146508 "Browser getting stuck"
**Kibana version:**
7.10.2
**Elasticsearch version:**
7.10.2
**Server OS version:**
Core OS 3033.2.4
**Browser version:**
Tried on Chrome: Version 107.0.5304.110 (Official Build) (arm64) and Brave: [Version 1.45.131 Chromium: 107.0.5304.110 (Official Build) (arm64)](https://brave.com/latest/)
**Browser OS version:**
macOS
**Original install method (e.g. download page, yum, from source, etc.):**
se

[2022-11-29 09:44] MadameSheema commented on #141617
@christineweng I was able to reproduce the same behaviour on 8.6.0 BC3, so, something has happened since you merged the fix. Can you please check? Thanks

[2022-11-29 09:44] muskangulati-qasource commented on #99597
Hi Team,

We are blocked to test this issue as we are unable to get alerts from the Windows Endpoint.

So once, the [issue for installation](https://github.com/elastic/kibana/issues/146358) is fixed, we will retest this issue and post our observations.

Thanks!!

[2022-11-29 09:44] muskangulati-qasource commented on #139697
Hi Team,

We are blocked to test this issue as we are unable to get alerts from the Windows Endpoint.

So once, the [issue for installation](https://github.com/elastic/kibana/issues/146358) is fixed, we will retest this issue and post our observations.

Thanks!!

[2022-11-29 09:45] #145745 closed

[2022-11-29 09:51] shahzad31 commented on #145895
Moving this to 8.7 since this part of the page is being refactored completely in https://github.com/elastic/kibana/issues/144996

[2022-11-29 09:55] aarju commented on #135699
@nimarezainia the FQDN will help, but in our MacOS environment we will still run into issues with duplicate named hosts. Most of our MacOS systems come back with a domain of `.local` so we will still have a lot of hosts with a name of `macbook-pro.local`

We'll still run into issues with the duplicate agents, we regularly see instances where we have 4 hosts with the same name and they are all offl

[2022-11-29 09:56] MadameSheema commented on #146494
@deepikakeshav-qasource may you please check if the above error persists when:
1. You modify the additional look-back time with a smaller value i.e. 5 minutes
2. You modify the Runs every with a bigger value i.e. 5 minutes

Remember to enable and disable the rule after modifying the values to force it to re-execute.

Thanks!

[2022-11-29 09:56] karanverma-qasource commented on #145799
Hi Team,

We have validated above issue on 8.6.0 BC3 and it's fixed. 🟢

[code]

**Screenshots:**

![Annotation 2022-11-29 152128](https://user-images.githubusercontent.com/91867110/204497391-c4a68b78-1c2d-4415-bd5c-f58615c98714.jpg)

Hence we are marking this as "QA Validated"

Thanks !

[2022-11-29 09:56] #145799 closed

[2022-11-29 09:58] karanverma-qasource commented on #145801
Hi Team,

We have validated above issue on 8.6.0 BC3 and it's fixed. 🟢

[code]

**Screenshots:**

![Annotation 2022-11-29 152214](https://user-images.githubusercontent.com/91867110/204497958-85125989-447b-4390-88e2-c72b94b084c8.jpg)

Hence we are marking this as "QA Validated"

Thanks !

[2022-11-29 09:58] #145801 closed

[2022-11-29 10:13] e40pud commented on #145324
@MadameSheema @karanbirsingh-qasource The fix is merged into both main and 8.6 branches and ready to be verified.

[2022-11-29 10:18] MadameSheema commented on #145324
Thanks @e40pud!!

Please @karanbirsingh-qasource validate this tomorrow on latest 8.6.0-SNAPSHOT and on 8.6.0BC4 when available. Thanks!

[2022-11-29 10:31] crespocarlos opened #146517 "[Infrastructure UI] Add an option to Snapshot API to not query using date histogram"
# Summary

The Snapshot API was designed to aggregate using a date histogram. For hosts table, the API needs have an option to not aggregate using data histogram to avoid the [max bucketing error](https://github.com/elastic/kibana/issues/144576). This can be done by using the existing `includeTimeseries` flag and changing the way the query is built based on its value.

We need to make sure that th

[2022-11-29 10:31] elasticmachine commented on #146517
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-29 10:33] kertal commented on #75187
Closing since this issue is about the 'classic table', and we migrated to a new table, the document explorer a while ago

[2022-11-29 10:33] #75187 closed

[2022-11-29 10:40] kibanamachine opened #146518 "Failing test: Chrome UI Functional Tests.test/functional/apps/console/_xjson·ts - console app XJSON inline http request should have correct syntax highlighting"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24254#0184c2c9-09ba-4bec-9beb-601e6be76282)

[2022-11-29 11:00] simranvaseer-qasource commented on #146273
Hi @kpollich

Thank you for the feedback.

[2022-11-29 11:10] karanbirsingh-qasource commented on #146358
Hi @ferullo

we have tried with test-signing on also on windows os but still agent state is unhealthy.

![image](https://user-images.githubusercontent.com/59917825/204513878-d09ae791-1d23-4b31-ad7b-00783b181a87.png)

please let me known if any more information and logs are required.

[2022-11-29 11:11] uri-weisman opened #146521 "[Cloud Posture] Findings page - columns are not being sorted with group by resource"
**Kibana version:**
VERSION: 8.6.0
BUILD: 58560
COMMIT: d4567dc2eaa4f59503c1822e1f10bf0292b97066

**Elasticsearch version:**
VERSION: 8.6.0

**Browser version:**
Chrome

**Describe the bug:**
Findings table columns are not being sorted when **group by resource** is used.

**Steps to reproduce:**
1. Deploy env + install an agent + install the KSPM integration.
2. Navigated to the Cloud Posture dash

[2022-11-29 11:11] elasticmachine commented on #146521
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 11:20] JordanSh opened #146523 "[Cloud Posture] CSPM integration - Create new CSPM integration policy template"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204514407-135e0f5f-35c8-45eb-a2f2-4fc193292e2f.png)

Add the new CSPM policy template to the fleet's integrations screen.
[You can follow this discussion](https://github.com/elastic/security-team/issues/5523), but currently the plan is to add it as another policy template under the same integration in the [manifest file](https

[2022-11-29 11:20] elasticmachine commented on #146523
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 11:30] JordanSh opened #146527 "[Cloud Posture] CSPM integration - Create new CSPM integration installation form"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204517122-2ee0a777-f70e-4fe9-8561-c9e03f3ad987.png)

Create the new [CSPM integration installation form](https://www.figma.com/file/QITLtzCQWAJCOW2xNsnO81/CSP-Visualizations?node-id=1080%3A345370&t=mV7hQS9abQgFV2av-0), reuse the [form components from this task](https://github.com/elastic/kibana/issues/146447) to create this fo

[2022-11-29 11:31] elasticmachine commented on #146527
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 11:44] orouz commented on #146521
good catch! @uri-weisman 👑

since this table only sorts by failed findings, we should remove the `sortable` field from all columns, so they can't be clicked at all.

[2022-11-29 11:58] neptunian commented on #145239
In what ways would it be better to have the histogram when no time series data is requested?  Is the concern about breaking something by moving Log Rate out of the histogram and calculating it differently?  We can move this to a separate technical debt issue if you prefer and not use the date histogram only in the case `includeTimeseries` is false assuming only the Hosts table uses it this way.  I

[2022-11-29 11:58] #142898 closed

[2022-11-29 12:08] sqren opened #146531 "[APM] Add kql bar to service map"
Pitch: https://github.com/elastic/apm-dev/issues/894 (_internal_)

When we the service map was introduced we decided to remove the search bar (kuery bar) because we were not sure of the use cases. We've since received multiple requests from customers with many service maps that they need a way to filter the service map to make it more manageable.

**Which nodes to filter**

The `kuery` from the se

[2022-11-29 12:08] uri-weisman commented on #146521
Works well.

[2022-11-29 12:09] sqren commented on #71772
Replaced by https://github.com/elastic/kibana/issues/146531

[2022-11-29 12:09] #71772 closed

[2022-11-29 12:09] elasticmachine commented on #146531
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 12:11] kibanamachine opened #146532 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_test_huge_fields·ts - management test large number of fields "before all" hook for "test_huge data should have expected number of fields""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24262#0184c31a-2599-408f-a450-2f6a590d3bd8)

[2022-11-29 12:25] deepikakeshav-qasource commented on #146494
Hi @MadameSheema ,

The issue is still persists when modify the additional look-back and Runs every time.

**Screencast:**

https://user-images.githubusercontent.com/61860752/204527837-ad4ee0b3-0daa-439c-88b9-21a6e42b20cc.mp4

https://user-images.githubusercontent.com/61860752/204528100-b9235144-11cb-4b0e-8263-73285f71a30a.mp4

Please let us know if anything else is required from our end!!

Thanks

[2022-11-29 12:26] ghost opened #146537 "[Security Solution] Suppression alert icon is not displayed under session alerts icon on alerts table"
**Describe the bug**
Suppression alert icon is not displayed under session alerts icon on alerts table

**Build info**

[code]

**Preconditions**
- Kibana should be running
- Session alerts should be generated

**Steps to Reproduce**
- Navigate to Security > Alerts table
- Click on session icon
- Click on alerts icon
- Now execute the rule
- Observe that Suppression alert icon is not displayed

**

[2022-11-29 12:26] elasticmachine commented on #146537
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-29 12:26] deepikakeshav-qasource commented on #146537
@karanbirsingh-qasource please review!!

[2022-11-29 12:31] kevinlog commented on #146358
@karanbirsingh-qasource thank you for the update.

Can you confirm that the Endpoint installs on the Agent?  Can you let us know if there is a directory created at `C:\Program Files\Elastic\Endpoint` ?  I want to see if it is now Unhealthy for a different reason than the Endpoint not installing.

And then you provide Agent logs and Endpoint logs?

The Agent logs are in `C:\Program Files\Elastic\Ag

[2022-11-29 12:33] paulb-elastic commented on #145380
There's been some recent discussion with @drewpost and @hbharding where it may be more preferable right now, not to show the "last successful result" column, they will confirm and update the description accordingly

[2022-11-29 12:38] sqren opened #146538 "[APM] Trace waterfall: Improve performance and reliability"
## Problem

Today the trace waterfall can only show up to 1000 trace items by default. This limit is a problem for customers with large traces. The only workaround for these customers is to increase the limit (via `ui.maxTraceItems`) but this causes the api response to increase and the browser will in some cases freeze/crash ([sdh: Trace waterfall crashes](https://github.com/elastic/sdh-apm/issues

[2022-11-29 12:38] elasticmachine commented on #146538
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 12:56] CoenWarmer opened #146539 "Add Telemetry to Rules Management Page"
## Summary
As part of the initiative to strengthen the telemetry efforts of Observability, the Observability Rules Management Page should be instrumented so that a number of KPIs can be tracked in FullStory.

## Acceptance Criteria:
- [X] It should be possible to count clicks on "Create Rule" in FullStory
- [X] It should be possible to track the count of searches via KQL query bar in FullStory
- [

[2022-11-29 12:57] elasticmachine commented on #146539
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-29 13:01] CoenWarmer opened #146540 "Add Telemetry to Alerts Page"
## Summary
As part of the initiative to strengthen the telemetry efforts of Observability, the Observability Alerts Page should be instrumented so that a number of KPIs can be tracked in FullStory.

## Acceptance Criteria:
- [x] It should be possible to count the number of clicks on Active and Recovered buttons (separate counts) in FullStory
- [x] It should be possible to count the number of searc

[2022-11-29 13:01] elasticmachine commented on #146540
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-29 13:04] karanbirsingh-qasource commented on #146358
Hi @kevinlog

please find below details for the above asked questions.

- Endpoint directory is present on the VM

[code]

- **C:\Program Files\Elastic\Agent location logs**

[elastic-agent-20221129.ndjson.zip](https://github.com/elastic/kibana/files/10113222/elastic-agent-20221129.ndjson.zip)

- **C:\Program FilesElastic/Endpoint/state/log logs**

[endpoint-000000.zip](https://github.com/elastic/

[2022-11-29 13:05] CoenWarmer opened #146541 "Add Telemetry to Cases Page"
## Summary
As part of the initiative to strengthen the telemetry efforts of Observability, the Observability Cases Page should be instrumented so that a number of KPIs can be tracked in FullStory.

## Acceptance Criteria:
- [x] It should be possible to track the Number of cases in FullStory
- [x] It should be possible to count the number of clicks on 'Create case' (could be proxy for number of cas

[2022-11-29 13:05] jlind23 commented on #145522
Seems to be linked to this PR made by Jaime - https://github.com/elastic/package-storage-infra/pull/324

[2022-11-29 13:15] adcoelho commented on #144614
I made some progress on these and now was working on the confirmation modal you mentioned.

<img width="789" alt="Screenshot 2022-11-29 at 14 06 22" src="https://user-images.githubusercontent.com/1533137/204538414-568cb427-1317-4678-b141-0a6c7a8bd2bd.png">

Any insights on the specific text?

Also, I feel like the confirmation button("Yes") being red might be misleading

[2022-11-29 13:18] neptunian commented on #145213
Thanks for the explanation @tinnytintin10 .  When querying the index filtering by host.name:

[code]
I receive 378 hits, all with a timestamp within 2 minutes of each other.  If I understand correctly we need to read `result.evaluation` from ALL documents and count them and do the division.   Each document represents a unique rule and its evaluation?  These are updated every 5 minutes via transfor

[2022-11-29 13:19] kfirpeled commented on #146523
cc: @uri-weisman

[2022-11-29 13:20] kevinlog commented on #146358
@karanbirsingh-qasource thanks for the additional info.

I see several `error` logs in the Agent logs, but most of it seems like normal Endpoint installation logs.

[code]

And later on, we see a log that Endpoint is Healthy and communicating with Endpoint.

[code]

@cmacknz @kpollich is it possible that the "error" logs reported earlier in Agent is causing Unhealthy to be reported in the Agent de

[2022-11-29 13:20] justinkambic opened #146542 "[Synthetics] Monitor count stats can be higher than actual number of monitors"
**Kibana version:**

8.6.0-SNAPSHOT

**Elasticsearch version:**

8.6.0-SNAPSHOT

**Server OS version:**

macOS

**Browser version:**

Chrome 107

**Browser OS version:**

macOS

**Original install method (e.g. download page, yum, from source, etc.):**

from source

**Describe the bug:**

The monitor status count can be greater than the maximum number of defined monitors.

**Steps to reproduce:**
T

[2022-11-29 13:20] elasticmachine commented on #146542
Pinging @elastic/uptime (Team:uptime)

[2022-11-29 13:23] kevinlog commented on #99597
@muskangulati-qasource

Can you try to run the Windows Endpoint on a Windows VM with Test Signing turned OFF?  It looks like you will be able to install the Endpoint using that workaround until the [signing build issue](https://github.com/elastic/release-eng/issues/477) is resolved.

See @karanbirsingh-qasource [comment right here](https://github.com/elastic/kibana/issues/146358#issuecomment-13306

[2022-11-29 13:24] kevinlog commented on #139697
@muskangulati-qasource

Can you try to run the Windows Endpoint on a Windows VM with Test Signing turned OFF?  It looks like you will be able to install the Endpoint using that workaround until the [signing build issue](https://github.com/elastic/release-eng/issues/477) is resolved.

See @karanbirsingh-qasource [comment right here](https://github.com/elastic/kibana/issues/146358#issuecomment-13306

[2022-11-29 13:24] paulb-elastic commented on #146542
(note this is separate to https://github.com/elastic/kibana/issues/146001)

[2022-11-29 13:24] CoenWarmer opened #146544 "Script to traverse the Kibana repo to search for missing telemetry instrumentation on frontend components"
## Summary
In order to more easily allow the construction of more fine grained funnels in telemetry tools such as FullStory, event generating components in the frontend code of Kibana should have `data-test-subj` properties set.

In another issue in this epic, an ESLint rule is created to warn engineers inside their IDE to add a `data-test-subj` to specific elements. This however requires that the

[2022-11-29 13:25] elasticmachine commented on #146544
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-29 13:25] #145522 closed

[2022-11-29 13:29] lizozom opened #146545 "Create a TypeScript runner for performance tests"
The bash runner is hard to maintain and also occasionally leaves dangling processes due to improper shutdow.
A TS version would allow for easier maintenance.

[2022-11-29 13:30] lizozom opened #146546 "Create a TypeScript runner for scalability tests"
Related to https://github.com/elastic/kibana/issues/146545

The bash runner is hard to maintain and also occasionally leaves dangling processes due to improper shutdow.
A TS version would allow for easier maintenance.

[2022-11-29 13:35] lizozom opened #146547 "Support enabling APM when starting Elasticsearch (snapshot \ source)"
Elasticsearch recently enabled it's own APM integration. This should allow traces to continue deeper into Elasticsearch and help troubleshooting performance issues and bugs.

Add support to start Elasticsearch the following way:

[code]

[2022-11-29 13:36] ferullo commented on #146358
Those provided logs are cut off as Endpoint is in the process of applying policy a second time. The failure from the first time has succeeded the second time. This makes me think Endpoint was a failed initial policy that turns into a successful policy. Can you confirm that happens?

[2022-11-29 13:49] vitaliidm commented on #145507
As discussed at **Advanced Correlation Working Group**, if users don't have admin ML permissions but only ML user permissions, they will be able to see a list of jobs, and open job's links. But won't be able to start/stop the job, and on switch hover a relevant message will be displayed.

[2022-11-29 14:08] neptunian commented on #141843
@pmeresanu85 Thanks and yes that makes sense to me.  I've updated the description.  Feel free to update or add any details I may have missed.

[2022-11-29 14:12] #144081 closed

[2022-11-29 14:18] elasticmachine commented on #146394
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-11-29 14:18] #143106 closed

[2022-11-29 14:22] johnbarrierwilson commented on #145941
Y'all are awesome! Thanks so much!

[2022-11-29 14:24] #104249 closed

[2022-11-29 14:33] kibanamachine commented on #142155
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24272#0184c39e-10d3-403c-b670-aca2285ef2e6)

[2022-11-29 14:37] shahzad31 commented on #146075
Moving this to 8.7, i think this isn't critical

[2022-11-29 14:45] cauemarcondes opened #146563 "[APM] improve waterfall helper"
This is part one of many improvements we'd like to make to the waterfall.

The goal of this issue is to move the [waterfall_helper](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_helpers/waterfall_helpers.ts) to be executed on the server-side.

The expected result is that the AP

[2022-11-29 14:46] elasticmachine commented on #146563
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 15:10] dominiqueclarke commented on #143669
Updated to reflect that this can still be recreated.

[2022-11-29 15:18] afharo commented on #146346
I agree that manually tampered documents should not be of our concerns (especially since there are already measures to ensure they are not created in recent versions).

However, somehow, we managed to break Kibana by importing documents with empty IDs (https://github.com/elastic/kibana/issues/146345). Probably fixing that issue I linked is just enough for now.

[2022-11-29 15:19] kfirpeled commented on #140953
for now, it is not required - by product team
cc: @tinnytintin10

[2022-11-29 15:19] #140953 closed

[2022-11-29 15:22] lrishi commented on #141845
Hi @kpollich, have a question for you from tracking perspective, Are we still tracking this for 8.6.0? I was a bit confused as one of the projects mentions this ticket as blocked. It'll be really helpful if you could shed some light 🙏🏽 , as we have some WIP on docs and support side to align to the outcome of this ticket.

[2022-11-29 15:22] neptunian commented on #141843
@pmeresanu85 I'm not sure these charts would be very useful given a wide time range.  We could not return too much time series data without risking a bucketing error (each data point is a bucket) so the charts data will be sparse.   Also, querying for time series over a large time range takes ES a long time and it can sometimes timeout.  We should think about whether we need to support wider time

[2022-11-29 15:25] kpollich commented on #141845
@lrishi - Apologies for the confusion. This is tracked for 8.7. The project with the "Blocked" status is no longer in use, but this issue was added to it via automation.

We've just kicked off our Sprint 4 (3 weeks in duration), and this ticket is prioritized for Sprint 5.

[2022-11-29 15:28] afgomez opened #146565 "[Synthetics UI] Sometimes "down" monitors don't show as down in the overview page"
This is hard to reproduce, but I've noticed that sometimes monitors that are supposed to be down show up as up in the UI.

In the screenshot we can see that we have in redux a down monitor that shows up green in the UI. (the monitor that shows in red corresponds to a different location).

The UI places this monitor in the first place because we are sorting by status, showing down monitors first.

[2022-11-29 15:37] JordanSh opened #146568 "[Cloud Posture] CSPM integration - Handle integration policy template parent"
## Summary

In case we will use one integration with multiple policy templates, a parent policy template will also be included at the fleet integration selection screen. This can have multiple implications.

1. We can create a third "form" which is a link to one of the other policy templates (CSPM/KSPM)
2. We can create a combined form to create both policy templates
3. Maybe find a way to hide th

[2022-11-29 15:37] elasticmachine commented on #146568
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 15:44] kpollich commented on #146312
There is no `apm-8.6.0` in EPR: https://epr.elastic.co/package/apm/8.6.0/

The bundled version of APM in this environment would be available at `apm-8.6.0-SNAPSHOT`. Are we hardcoding a link to `apm-8.6.0` from the "APM Integration in Fleet" button in the APM UI?

[2022-11-29 15:50] mdefazio commented on #144614
Thanks for adding this.  Yes, I think we should go with the red button—I see this as something akin to creating a Lens visualization.

**Lens:**

<img width="504" alt="image" src="https://user-images.githubusercontent.com/3756330/204571413-28ddb60e-b976-4532-8dfb-247f233381a9.png">

- - -

**Proposed modal:**

<img width="614" alt="image" src="https://user-images.githubusercontent.com/3756330/2045

[2022-11-29 15:50] nimarezainia commented on #135699
@joshdover & @kpollich any ideas what's happening here? Sounds like we never got a checkin.

@aarju if something happens during enrollment there won't be any cleanup per se. not sure we can detect that. Are you able to identify at all what has happened to these agents that show offline? I'd like to understand how you get there. For example, if you reinstall the agent on the same host, and it enrol

[2022-11-29 15:51] afgomez commented on #145378
The solution ended up not being simple and caused me to hate React a bit more.

[2022-11-29 15:53] kibanamachine commented on #145271
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24280#0184c3e6-3ece-4251-b1aa-771d43777881)

[2022-11-29 15:55] andrewctate opened #146574 "[Lens] Pie chart doesn't show tooltips"
**Kibana version:**
8.6 (unreleased)

**STR**
Create pie chart in Lens. Hover over a slice. No tooltip.

[2022-11-29 15:58] michaelolo24 commented on #144154
@mattkime or @kertal, will the plan to be to turn the entire flyout into a consumable package, or turn the components (i.e., table, json, pagination) into consumable components? We have a similar flyout in security currently, so it would be great to be able to utilize this functionality in security instead of maintaining our own which is behind the current Discover one in the table and json functi

[2022-11-29 16:01] simitt commented on #146312
@sqren could you help answer this? Now that the apmpackage is only bundled in Kibana, and not pushed to epr any longer. What would the correct link be?

[2022-11-29 16:06] kibanamachine commented on #124779
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24284#0184c3f9-e896-4052-9519-becf73bd9eca)

[2022-11-29 16:06] kibanamachine commented on #124780
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24284#0184c3f9-e896-4052-9519-becf73bd9eca)

[2022-11-29 16:06] kibanamachine commented on #124781
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24284#0184c3f9-e896-4052-9519-becf73bd9eca)

[2022-11-29 16:06] kibanamachine commented on #134529
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24284#0184c3f9-e896-4052-9519-becf73bd9eca)

[2022-11-29 16:07] kdelemme opened #146575 "[SLO] Scaffold listing SLO page"
## 📝 Summary

Part of https://github.com/elastic/kibana/issues/143216

Even without the latest design version done, we should be able to scaffold the listing SLO page behind a feature flag.
- Setup the router for the SLO page
- Create a basic page fetching the SLO from the API
- Dump the SLO into the page

[2022-11-29 16:07] elasticmachine commented on #146575
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-29 16:08] #143677 closed

[2022-11-29 16:13] #145537 closed

[2022-11-29 16:13] kevinlog commented on #146358
@ferullo see my findings below.  I see the Endpoint be Healthy when installed alone (i.e. no System integration).  When I install it with the System integration, I eventually see it cycle to Unhealthy.

**Endpoint only:**

Healthy Agent, successful Policy.

![image](https://user-images.githubusercontent.com/56395104/204569558-ba0671d5-392d-4ec2-be6c-2f5af83db9cf.png)

Agent logs:
[Agent-logs-Endpo

[2022-11-29 16:19] #142305 closed

[2022-11-29 16:20] ajosh0504 commented on #142827
@darnautov Any update on this issue?

[2022-11-29 16:33] neptunian opened #146581 "[Infrastructure UI] Incorrect payload in time range when landing on the Hosts View"
The `from` value is a small number even thought the date picker is defaulting to "15 minutes from now".  If i click "refresh" on the datepicker it uses the correct timestamp
<img width="721" alt="Screen Shot 2022-11-29 at 10 29 11 AM" src="https://user-images.githubusercontent.com/1676003/204587113-beb78c48-5b22-4282-81ed-7654fae53820.png">

[2022-11-29 16:33] elasticmachine commented on #146581
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-29 16:36] crespocarlos opened #146583 "[Infrastructure UI] Host View: Store pagination and sorting info in the URL state"
# Summary

On the host view, we'd want to save in the URL state the pagination details (current page, number of rows per page) and sorting.

![Image](https://user-images.githubusercontent.com/2767137/204585834-f47c23ee-a7df-40bd-9328-72590d2adad3.png)

### Acceptance criteria

* When a user paginates, the page number is saved in the URL state
* When a user sorts by any possible column, both sorted

[2022-11-29 16:36] cmacknz commented on #146358
The winglog input created by the system integration is failed/unhealthy:

[code]

This is already tracked here: https://github.com/elastic/elastic-agent/issues/1800

The only other interesting logs in the attached agent file are endpoint related (possibly related to the known issue with Endpoint not being signed properly):

[code]

[2022-11-29 16:36] elasticmachine commented on #146583
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-29 16:40] #146499 closed

[2022-11-29 16:46] andrewctate commented on #146200
May be related to/caused by optimizations introduced in https://github.com/elastic/kibana/pull/140859

[2022-11-29 16:47] #146454 closed

[2022-11-29 16:50] #145870 closed

[2022-11-29 16:53] mdefazio opened #146586 "[ML] Styling edits for the data frame analytics results explorer"
The following are edits to the results explorer page as a follow up to https://github.com/elastic/kibana/pull/146451

- Moves the location of the caret to the left of the accordion label to be consistent with other usages of expanding rows
- Styling edits to expanded content to account for new caret placement
- Uses `EuiDescriptionList` inline version to keep collapsed row on one line.  By keeping

[2022-11-29 16:53] elasticmachine commented on #146586
Pinging @elastic/ml-ui (:ml)

[2022-11-29 16:58] yiyangliu9286 commented on #134377
@flash1293 @MichaelMarcialis Thanks so much for the feedback, those are really helpful, very appreciated it.

Here are the updates for medium breakpoint (side-by-side view) and small breakpoint (tabs view). The following points are the updates in reflecting to the feedback ([figma](https://www.figma.com/file/gI4vRSqDuoqQYexxtRjhJa/%5BLens%5D-Explore-responsive-layout-enhancements-in-smaller-viewpo

[2022-11-29 17:03] JordanSh opened #146589 "[Cloud Posture] Multiple integrations support - Dashboard onboarding"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204586822-14a887f4-80f0-4964-b89c-aedf193b0974.png)

- [x] separate the dashboard into two tabs, `Cloud` and `Kubernetes`.
- [x] display the general onboarding component in case both integrations are not installed
- [x] in case one of the integrations is installed, default to display this integration
- [x] both dashboards shou

[2022-11-29 17:03] elasticmachine commented on #146589
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 17:03] JordanSh opened #146590 "[Cloud Posture] Multiple integrations support - Dashboard per integration"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204589367-9f716443-1f26-4e4c-b9cc-4e6b185c15c2.png)

- [x] separate the dashboard into two tabs, `Cloud` and `Kubernetes`.
- [x] each tab should display a filtered view of the dashboard, according to the matching finding integration type (use es query filter)
- [x] links to findings page should filter for the correct policy te

[2022-11-29 17:04] elasticmachine commented on #146590
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 17:04] JordanSh opened #146591 "[Cloud Posture] Multiple integrations support - Findings tables changes"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204590767-85c5b2d9-2abc-4319-a55a-11ad6b333bfb.png)

Follow the column changes described in the epic:

- [x] Grouped by none

Show the following columns in the order specified:
    - `Result`
    - `Resource ID`
     --- For AWS resources this should be a resource's ARN
    - `Resource Name`
    - `Resource Type`
    - `Rule N

[2022-11-29 17:04] elasticmachine commented on #146591
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-29 17:04] JordanSh opened #146592 "[Cloud Posture] Multiple integrations support - Benchmarks table changes"
## Summary

![Image](https://user-images.githubusercontent.com/51442161/204592021-9a373d78-86ad-4731-b9ff-58a878d69303.png)

- [ ] rename the` Deployment Type` column to `Monitoring`
- [ ] The `Add new integration` button should now link to a page showing both integrations
- [ ] expand search bar to be full width
- [ ] replace the placeholder text for the search box from `e.g. benchmark name` to `

[2022-11-29 17:04] #146418 closed

[2022-11-29 17:06] sophiec20 commented on #146586
Those full width progress bars will look super weird on a wide monitor. I recommend avoiding that.

[2022-11-29 17:16] dominiqueclarke opened #146596 "[Synthetics] Test run details - Duration by step metric filters by wrong location"
When viewing the duration by step metric from Synthetics -> Monitor Details -> View test run, the wrong location is used as a filter

Notice this monitor is for the North America location

![image](https://user-images.githubusercontent.com/11356435/204595648-b1ca2b49-a1d4-4633-86ab-20113e79b2fb.png)

When viewing the test run details, the step duration metric is empty

![image](https://user-images

[2022-11-29 17:16] elasticmachine commented on #146596
Pinging @elastic/uptime (Team:uptime)

[2022-11-29 17:25] #145941 closed

[2022-11-29 17:36] kibanamachine commented on #124779
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24297#0184c44b-b609-4a4a-9778-ab64abb17fa4)

[2022-11-29 17:36] kibanamachine commented on #124780
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24297#0184c44b-b609-4a4a-9778-ab64abb17fa4)

[2022-11-29 17:36] kibanamachine commented on #124781
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24297#0184c44b-b609-4a4a-9778-ab64abb17fa4)

[2022-11-29 17:36] kibanamachine commented on #134529
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24297#0184c44b-b609-4a4a-9778-ab64abb17fa4)

[2022-11-29 17:41] shahzad31 commented on #135154
POST FF Testing, there have been few issues raised which will be tracked separately, but overall POST FF Testing looks good

[2022-11-29 17:43] #146545 closed

[2022-11-29 17:45] shahzad31 commented on #142896
POST FF testing on staging 8.6 , looks good

<img width="1350" alt="image" src="https://user-images.githubusercontent.com/3505601/204603899-11cd03f5-c3a7-4b30-ac78-ca4613a5380f.png">

[2022-11-29 17:48] jen-huang commented on #146312
The APM button in the tutorial is non-versioned, it links to `/app/integrations#/detail/apm/overview` so it should be fine.

I just tried this on 8.6.0 BC3 on Cloud and everything worked fine. I'm not sure what the difference via Docker would be.

[2022-11-29 17:54] gbamparop opened #146603 "[APM] Telemetry - Collect kuery fields used in Search bar"
We already collect the kuery fields that are used for creating service groups, similarly we can collect the fields used in each search bar.

Having this information will help us understand how users interact with the search bar per page and which fields are more important per user/role. Only the fields names will be collected.

Also, as a future enhancement we'll be able to create personalised fil

[2022-11-29 17:54] elasticmachine commented on #146603
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 18:06] mdefazio commented on #146586
Good point.  I'll update the mockup.

[2022-11-29 18:07] gbamparop opened #146606 "[APM] Improve navigation for span links"
Navigating traces through span links is currently inconvenient.
- First of all, you need to know where you can find the actual links.
- Second, you need to do three clicks to jump from one trace to another through a span link:

1. click on span to open span details
<img width="1393" alt="image" src="https://user-images.githubusercontent.com/866830/199446014-00bf27e7-0ad3-4af9-afc7-8bc32f2f4bfd.png

[2022-11-29 18:07] elasticmachine commented on #146606
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 18:16] #130178 closed

[2022-11-29 18:19] gbamparop opened #146609 "[APM] Incorporate agent health metrics to agent explorer"
Users today are relatively blind with respect to the performance and health state of agents as they are sending data from applications to APM Server.

A PoC can be created to allow customers to view Agent Health Metrics as part of Agent Explorer (at this time limited to Java Agents).

This can look similar to storage explorer row expansion:

![image](https://user-images.githubusercontent.com/93936

[2022-11-29 18:19] elasticmachine commented on #146609
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 18:20] gbamparop commented on #146609
@boriskirov could you please add some designs?

[2022-11-29 18:20] rashmivkulkarni opened #146610 "[Tests needed] For `geotile_grid` and `geohex_grid aggreations`"
[This PR](https://github.com/elastic/kibana/pull/141504) needs some tests added to cover  the `geotile_grid` and `geohex_grid aggreations`
Tested: works well in 8.6

[2022-11-29 18:20] elasticmachine commented on #146610
Pinging @elastic/kibana-gis (Team:Geo)

[2022-11-29 18:25] pmuellr opened #146613 "[ResponseOps][flapping] add flapping state to alert context for action parameters"
_part of the flapping meta issue https://github.com/elastic/kibana/issues/142876_

Just realizing that we didn't call out that we want the flapping indicator for an alert to be made available in the context variables made available for action mustache templates.  Not clear on where it would go yet.

[2022-11-29 18:25] elasticmachine commented on #146613
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-11-29 18:38] gbamparop opened #146615 "[META][APM] Mobile APM improvements"
In 8.6, we started implementing some of the UI/UX changes pertaining to the service overview page for the mobile APM agents. In 8.7, aim is to implement further improvements to the mobile APM dashboards based on the latest mock-ups. Purpose of these improvements is to provide more actionable insights to SREs and dev users at a glance, as well as to make it easier to slice and dice the APM data bas

[2022-11-29 18:38] elasticmachine commented on #146615
Pinging @elastic/apm-ui (Team:APM)

[2022-11-29 18:38] dedemorton commented on #143579
I put up a test PR [here](https://github.com/elastic/kibana/pull/146491), but as @lcawl has mentioned, there are some problems with the current approach. It's not a great user experience, especially for users who are accustomed to the dynamic layout provided by Swagger. I've added my initial impressions in the PR summary.

It sounds like we need help on the development side if we want to publish n

[2022-11-29 18:44] #143443 closed

[2022-11-29 18:55] TinaHeiligers commented on #146346
Sounds to me like extending validation on objects being imported/created might work. An extension of https://github.com/elastic/kibana/pull/118969? Then again, I haven't seen any other issues with import/export docs with empty ID's yet.

[2022-11-29 19:04] kibanamachine commented on #145893
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24316#0184c49e-50ab-4f52-9906-497daddd6bf5)

[2022-11-29 19:04] kibanamachine commented on #145894
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24316#0184c49e-50ab-4f52-9906-497daddd6bf5)

[2022-11-29 19:34] kpollich commented on #146000
Thanks for clarifying. This setting will control from where Fleet loads its bundled packages. Note that bundled packages are not automatically installed - just available on disk. Bundled packages exist to support offline environments.

If you'd like to install some packages by default, then you can use `xpack.fleet.packages` in `kibana.yml`: https://www.elastic.co/guide/en/kibana/current/fleet-set

[2022-11-29 19:38] pmeresanu85 commented on #141843
focusing on performance by restraining the bucket size for host chart would be the preferred approach here

[2022-11-29 19:54] pmeresanu85 commented on #141843
@alexsapran could you hint us at what the average host group size is you use for analysis ?

[2022-11-29 19:55] exalate-issue-sync[bot] opened #146622 "Test Issue for Sync"

[2022-11-29 19:58] dhurley14 commented on #145540
I will double check this but I'm wondering if this was added to support a custom field entry.. hmm. Will update if I find something.

[2022-11-29 20:03] dhurley14 commented on #143051
Just tested this on 8.3 and seems like this is a pre-existing bug.

[2022-11-29 20:05] #146622 closed

[2022-11-29 20:09] #146074 closed

[2022-11-29 20:14] petrklapka opened #146625 "[PK] Test for Sync - Ignore"
More updating happening here!

[2022-11-29 20:18] justinkambic opened #146626 "[Synthetics] Add `toasts` argument to `fetchEffectFactory` generator"
**Describe the feature:**

In Synthetics frontend state management, we use [Redux Sagas](https://redux-saga.js.org/) to create side effects like API requests.

I recently merged a [new effect](https://github.com/elastic/kibana/blob/5d81d87e1dca3df9a93d44fe5953facaa0cf346c/x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts#L38) that enables us to respond to an API reques

[2022-11-29 20:18] elasticmachine commented on #146626
Pinging @elastic/uptime (Team:uptime)

[2022-11-29 20:29] #137501 closed

[2022-11-29 20:48] elasticmachine commented on #146443
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-29 20:48] alisonelizabeth commented on #143412
This should be fixed by https://github.com/elastic/kibana/pull/145318

[2022-11-29 20:48] #143412 closed

[2022-11-29 20:48] elasticmachine commented on #146610
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-11-29 20:49] kellyemurphy commented on #146018
I'd recommend `Define the rollout period for upgrades to your Elastic Agents. Any agents that are offline during this period will be upgraded when they come back online.`

[2022-11-29 20:49] kibanamachine opened #146631 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/synthetics/add_monitor_project_legacy·ts - apis synthetics CRUD routes AddProjectLegacyMonitors project monitors - does not delete a monitor from the same suite in a different space"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24326#0184c4f2-c540-4eee-b2d3-812c91a0b9a6)

[2022-11-29 20:59] kibanamachine commented on #146223
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24328#0184c4fb-fb06-4662-a745-80a55311b075)

[2022-11-29 21:02] nimarezainia commented on #140533
Beta available in 8.7.
This feature is in Beta mainly because we would like to build extra reachability validation when the proxy is changed. An incorrect proxy address could render the agents un-usable as their connectivity to the fleet server is affected.

[2022-11-29 21:21] jbudz commented on #146223
/skip

[2022-11-29 21:22] kibanamachine commented on #146223
Skipped

8.6: 7ad2df206753edd4d8f0bd95cdef9db951677bce

[2022-11-29 21:26] jbudz commented on #145894
Skipped

main: 42b15739e422f792638655bafd59e0b35239e93f

[2022-11-29 21:39] elasticmachine commented on #146631
Pinging @elastic/uptime (Team:uptime)

[2022-11-29 21:43] dhurley14 commented on #145682
@samratbhadra-qasource can you please retest? The PR with the fix should be available in the BC for tomorrow.

[2022-11-29 21:43] dhurley14 commented on #145682
ref: https://github.com/elastic/kibana/pull/145924

[2022-11-29 21:43] #143669 closed

[2022-11-29 21:52] paul-tavares commented on #141229
@nchaulet ,
I think I follow.

You are correct in that today, we don't expose the full configuration on a create. Recently, @opauloh did make some changes that allows uses to select a "preset" on the create form (the section title _"Select configuration settings"_ below in the screen capture) - so this seems very similar to what you are mentioning above.

<img width="842" alt="image" src="https://

[2022-11-29 22:03] dhurley14 commented on #81299
@WafaaNasr Can you take a look at this bug? It looks like the autosuggest is populating but the validation for the "Add Exception" button is preventing us from adding this nested exception. I know you were in the validation code recently so hopefully this is an easy fix.

To test you will need endpoint data which you can generate by using the following script:

`cd ~/kibana/x-pack/plugins/security

[2022-11-29 22:09] kibanamachine commented on #145635
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24335#0184c541-7474-466e-a4b5-0401009b56e5)

[2022-11-29 22:17] jbudz commented on #145635
Skipped

main: 9417165d2d2ee28b8273c364c7402af7ac291b71
8.6: 5da3891b6884a40db5ce6117d174f07c96d92427

[2022-11-29 22:42] dominiqueclarke opened #146640 "[Synthetics] Granular permissions for Synthetics users of private locations"
Currently, to utilize private locations in Synthetics, a user must have both Fleet and Integration permissions.

This is because both permissions are required to create an agent policy and add integrations to your agent policy.

However, users want to be able to utilize Synthetics private locations without a large permissions set.

Ideally, we the Synthetics write permission would also grant write

[2022-11-29 22:42] elasticmachine commented on #146640
Pinging @elastic/uptime (Team:uptime)

[2022-11-29 22:53] nimarezainia commented on #134518
@kpollich any chance you have a link to a few SDHs that you mention. I raised the prio or this based on your comment.

[2022-11-29 23:01] nimarezainia commented on #144702
@kpollich could this be done as some sort of an action? not by default.
there are other issues dealing with duplicated agents, mainly inactive/offline ones. Although I think what you are asking for is perhaps surfacing Healthy agents from different hosts that have the same host.name (maybe different fqdn).

I am wondering perhaps a separate tab or page that just shows the duplicates (i. user choos

[2022-11-29 23:13] kibanamachine opened #146642 "Failing test: Jest Tests.x-pack/plugins/security_solution/public/common/components/event_details - AlertSummaryView doesn't render empty fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24341#0184c57b-f563-42e4-80b0-1408013f0993)

[2022-11-29 23:23] marshallmain commented on #145544
This should be fixed by https://github.com/elastic/kibana/pull/145587, can you re-test on the next BC?

[2022-11-29 23:23] marshallmain commented on #145669
This should be fixed by https://github.com/elastic/kibana/pull/145587, can you re-test on the next BC?

[2022-11-29 23:23] ferullo commented on #146358
The original issue this was opened for should now be fixed. 8.6.0 BC4 should be able to install and be HEALTHY on the original system this was reported for, with Test Signing off, if Elastic Defend is the only integration. @deepikakeshav-qasource can you please validate that and close this issue if you agree.

[2022-11-29 23:51] sqren opened #146648 "[APM] Display warning if transaction groups are dropped"
## Background
Some services (e.g. RUM) may produce high cardinality transaction names, which could lead to an extremely high number of transaction groups. To avoid one service eating up the limit for all other services, a transaction group limit per-service is introduced.

Once the limit is reached, any additional transaction will be added to a dedicated "other" bucket, (`transaction.name: "_other

[2022-11-29 23:51] elasticmachine commented on #146648
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 00:28] sqren opened #146650 "[APM] Show warning if services are dropped"
## Background
Similar to the limits for transactions metrics in (https://github.com/elastic/kibana/issues/146648) for service metrics APM Server is adding a limit to the number of services. I limit is reached stats for additional services will be counted in the "_other" bucket.

## UI implications for service inventory
The "other" bucket will automatically show up in the service inventory table (w

[2022-11-30 00:29] elasticmachine commented on #146650
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 00:30] sqren commented on #146312
As @jen-huang says, there's no hardcode link in the APM code:

https://github.com/elastic/kibana/blob/e6ea551f38f9c4b7dcb9a05dbc995ee84e6bc5ec/x-pack/plugins/apm/public/tutorial/tutorial_fleet_instructions/index.tsx#L75-L77

[2022-11-30 00:32] sqren commented on #146312
It's a little hard to debug as I can't see the url bar, and can't determine where this goes wrong, and whether it's something APM is doing wrong.

[2022-11-30 00:34] alisonelizabeth commented on #146366
@mibragimov can you take a look at this when you have a minute?

[2022-11-30 00:35] alisonelizabeth commented on #145764
@mibragimov can you take a look at this when you have a minute?

[2022-11-30 01:44] peluja1012 commented on #132361
Implemented by https://github.com/elastic/kibana/pull/144782

[2022-11-30 01:44] #132361 closed

[2022-11-30 01:55] peluja1012 commented on #131661
Implemented by https://github.com/elastic/kibana/pull/143041

[2022-11-30 01:55] #131661 closed

[2022-11-30 04:31] kibanamachine commented on #124779
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24353#0184c6a9-2ffc-4643-8542-995820ebaa68)

[2022-11-30 04:31] kibanamachine commented on #124780
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24353#0184c6a9-2ffc-4643-8542-995820ebaa68)

[2022-11-30 04:31] kibanamachine commented on #124781
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24353#0184c6a9-2ffc-4643-8542-995820ebaa68)

[2022-11-30 04:32] kibanamachine commented on #134529
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24353#0184c6a9-2ffc-4643-8542-995820ebaa68)

[2022-11-30 04:33] kibanamachine commented on #128836
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24353#0184c6a9-2ff8-47e5-ad73-968a3835b797)

[2022-11-30 05:19] karanbirsingh-qasource opened #146652 "[Security Solution]Endpoint Policy [Streaming][Configure Output] is failing"
**Describe the bug**
Endpoint Policy [Streaming][Configure Output] is failing

**Build Details:**
[code]

**preconditions**
- windows vm with test-signing off
- Create BC4 Build on Staging and make sure hosted fleet server is available
- Create new policy and add Elastic Defend integrations

![image](https://user-images.githubusercontent.com/59917825/204712160-44ac8238-303d-4060-8978-de826d03f2f3.

[2022-11-30 05:19] elasticmachine commented on #146652
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-30 05:35] deepikakeshav-qasource commented on #146358
Hi @ferullo ,

We have Validated this issue on **8.6.0 BC4**. Please find the below observations:

[code]

- Install Endpoint with Elastic Defend only [Test Signing off] 🟢

![image](https://user-images.githubusercontent.com/61860752/204711123-721e408f-9b00-4e26-802a-9a41526c4d2c.png)

- Install Endpoint with Elastic Defend and System integration [Test Signing off]. We are able to in install the en

[2022-11-30 06:25] simranvaseer-qasource commented on #145522
Hi Team,
We have revalidated this issue on latest 8.6 BC4 kibana Cloud environment and found it **fixed** now.

- Text is displayed under License.txt file for the integrations.

Build Details:
BUILD: 58612
COMMIT: 218162f282314db5b3833c84752dd24395949b3f

**Screenshot:**
![image](https://user-images.githubusercontent.com/102019374/204720423-77f1351a-c391-494a-89ef-74df2149dc66.png)

Hence, marking

[2022-11-30 06:35] jlind23 commented on #140533
@nimarezainia Be aware that we still have to fix this issue on the Elastic Agent end: https://github.com/elastic/elastic-agent/issues/1728

cc @pierrehilbert

[2022-11-30 06:52] #146574 closed

[2022-11-30 07:38] stratoula opened #146655 "[Visualizations] sync colors do not sync the Other bucket color"
**Kibana version:**
8.5 (but it might happen on a prior version)

**Describe the bug:**

When you have 2 charts with Other bucket enabled and switch on the "Sync colors across panels" switch all the colors are synchronized expept from the Other bucket

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/17003240/204734970-6a4bc015-8016-405d-9ab2-f959a1c483d9.png">

This wo

[2022-11-30 07:38] elasticmachine commented on #146655
Pinging @elastic/kibana-visualizations @elastic/kibana-visualizations-external (Team:Visualizations)

[2022-11-30 07:58] prachigupta-qasource opened #146656 "[Fleet]: Agent logs are not shown on Logs page for Linux, Mac and Windows agent"
**Kibana version:** 8.6 Kibana Staging environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]

**Preconditions:**

- 8.6 Kibana Staging environment should be available.
- Agent should be installed.

**Steps to reproduce:**

1. Navigate to `Fleet > Agents tab`.
2. Click on the Agent.
3. Click on `Logs` tab.
4. Observe that `'There are no log messages to display.'` messag

[2022-11-30 07:58] elasticmachine commented on #146656
Pinging @elastic/fleet (Team:Fleet)

[2022-11-30 07:58] muskangulati-qasource commented on #139697
Hi Team,

We have  this issue on the latest 8.6 BC4 and found the issue is now **fixed**. 🟢

Please find below the testing details:

**Build Details**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/204739480-479610a7-57d8-4593-aa17-f1109d0e07a2.mp4

Hence, we are losing this issue and marking it as "QA Validated".

Thanks!!

[2022-11-30 08:01] muskangulati-qasource commented on #99597
Hi Team,

We have  this issue on the latest 8.6 BC4 and found the issue is ** partially fixed**.  🟤

Please find below the testing details:

**Build Details**
[code]

**Observations**
- The Subject field is empty by default
- If we click on the subject field, it still generates an error and user is not able to add the entry
- If user changes value in any other field, the subject field is reset to

[2022-11-30 08:06] #139697 closed

[2022-11-30 08:10] prachigupta-qasource commented on #140014
Hi @nchaulet,

We are blocked to test this feature due to #146656

We will test this feature once the blocker issue is fixed.

Thanks!

[2022-11-30 08:23] #145378 closed

[2022-11-30 08:26] shahzad31 commented on #139746
This is not valid anymore, so closing. Since we are moving away from streaming in new api structure

[2022-11-30 08:26] #139746 closed

[2022-11-30 08:35] ghost opened #146659 "[Security Solution] OR button is enable when edit the Exception from rule details page"
**Describe the bug**
OR button is enable when edit the Exception from rule details page

**Build info**

[code]

**Preconditions**
- Kibana should be running
- Exception should be created

**Steps to Reproduce**
- Navigate to Security > Rules details page
- Click on exception tab
- Edit the exception tab
- Observe that OR button is enable

**Actual Result**
- OR button is enable when edit the Exce

[2022-11-30 08:35] elasticmachine commented on #146659
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-30 08:46] deepikakeshav-qasource opened #146661 "[Security Solution] Error occurs and unable to close the all alerts when edit the exception from rule details page"
**Describe the bug**
Error occurs and unable to close the all alerts when edit the exception from rule details page

**Build info**

[code]

**Preconditions**
- Kibana should be running
- Exception should be created

**Steps to Reproduce**
- Navigate to Security > Rules details page
- Click on exception tab
- Edit the exception tab
- Select the Click all alerts check box and update the exception
-

[2022-11-30 08:46] elasticmachine commented on #146661
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-30 08:47] deepikakeshav-qasource commented on #146661
@karanbirsingh-qasource Please review!!

[2022-11-30 08:48] machadoum opened #146662 "[Meta][Security Solution] Update ML modules installation to be space aware"

[2022-11-30 09:11] muskangulati-qasource opened #146663 "[Question] The Responder Option is not available for the non-super user role"
**Description:**
The Responder Option is not available for the non-super user role

**Build Details:**
[code]

**Preconditions:**
1. Kibana user should be logged in.
2. An alert should be triggered for Endpoint Security rule (Eg malicious)

**Steps to Reproduce:**
1. Create a non super user role with following privileges:
![privilege](https://user-images.githubusercontent.com/60252716/204754294-59

[2022-11-30 09:12] elasticmachine commented on #146663
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-11-30 09:13] muskangulati-qasource commented on #146663
@manishgupta-qasource please review!

[2022-11-30 09:19] kibanamachine commented on #140867
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24357#0184c7a4-2f51-44fa-a286-e41f1fd73980)

[2022-11-30 09:22] manishgupta-qasource commented on #146663
Reviewed & assigned to @kevinlog

[2022-11-30 09:38] aarju opened #146666 "[Feature Request][Timelines] Enable full customization of Timeline Template fields"
**Describe the feature:**
When creating a new timeline template it should be possible to fully customize the search fields within the template. For example, I want to take the `source.ip` from an alert and search for that value in the `client.ip` OR `destination.ip` fields. In this use case I should be able to edit the template field to be `destination.ip: "{source.ip}"`

**Describe a specific use

[2022-11-30 09:48] elasticmachine commented on #146592
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-30 09:52] #144289 closed

[2022-11-30 10:11] juliaElastic opened #146669 "[Fleet] Add ability to update a hosted output with force flag with the API"
Encountered an issue in an SDH where the client created a deployment from a snapshot from another deployment in Cloud.

This resulted in an issue where the hosted elasticsearch output pointed on the wrong url.

In 8.x hosted outputs can't be updated (https://www.elastic.co/guide/en/fleet/master/fleet-settings.html#output-settings) which makes it difficult to fix issues like this.
Few improvements

[2022-11-30 10:11] elasticmachine commented on #146669
Pinging @elastic/fleet (Team:Fleet)

[2022-11-30 10:17] #140445 closed

[2022-11-30 10:20] sukhwindersingh-qasource commented on #145675
Hi @MadameSheema

We have validated this issue on **8.6.0 BC4** build and observed that issue is **Fixed.**  :heavy_check_mark:

Please find the below Testing Details:

**Build info**

[code]

**Screen recoding**

https://user-images.githubusercontent.com/108654988/204766517-0e43b70d-a728-4e3d-80c6-e2168178893a.mp4

Hence, We are marking  this issue as QA Validated!!

Thanks!!

[2022-11-30 10:32] jennypavlova opened #146670 "[Infrastructure UI] Host View: Unified search bar has wrong size"
**Steps to reproduce:**
1. Open Hosts page
The unified search bar has extra padding on the left and right side
<img width="2461" alt="image" src="https://user-images.githubusercontent.com/14139027/204772849-16e6425e-bbb1-4be0-bfe8-f86ec5a6aff1.png">

**Expected behavior:**

<img width="2471" alt="image" src="https://user-images.githubusercontent.com/14139027/204773034-7f1eb61a-e2c4-4d54-82ad-e735f

[2022-11-30 10:32] elasticmachine commented on #146670
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-30 10:35] mibragimov commented on #146366
Sure, will do

[2022-11-30 10:43] yuliacech opened #146672 "[Guided onboarding] Configurable landing page cards"
We need to consider making the cards on the guided onboarding landing page configurable. The plugins could add a card config together with the guide config registration. It could also be possible to register a card with just a link to a solution page.

[2022-11-30 10:43] elasticmachine commented on #146672
Pinging @elastic/platform-onboarding (Team:Journey/Onboarding)

[2022-11-30 10:44] vitaliidm commented on #146436
@peluja1012 , as discussed here is a ticket for rule details when license is basic.
We do not block the whole page, but just some actions(edit, enable/disable). Some of them are enabled (duplicate), but failing when performed.

Since it rule details, it might be area of interest for rules team
cc: @banderror

[2022-11-30 10:54] #145238 closed

[2022-11-30 11:01] elasticmachine commented on #146659
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-11-30 11:13] MadameSheema commented on #99597
@dhurley14 @peluja1012 may you please take a look at the above? Thanks!

[2022-11-30 11:22] dikshachauhan-qasource commented on #146656
Secondary Review is done

[2022-11-30 11:31] kertal commented on #144154
@michaelolo24 yes, this is exactly what we intend to do, it will be the `unified doc viewer`, also providing parts of it would be an option. Resolving this issue is a requirement for further work in this area. Thx a lot for giving info about a new potential consumer of this work. FYI @lukasolson @ninoslavmiskovic

[2022-11-30 11:34] afharo opened #146676 "[Telemetry] Group requests to `POST /api/telemetry/v2/clusters/_stats`"
Today, the requests to `POST /api/telemetry/v2/clusters/_stats` resolve with a cached usage whenever those requests occur in a 4h span.

However, if too many requests occur at the same time when still populating that cache, all requests are processed.

This is an expensive query, and it provides the same response to all users. We should consider also caching the promise that fetches the cache and/

[2022-11-30 11:34] elasticmachine commented on #146676
Pinging @elastic/kibana-core (Team:Core)

[2022-11-30 11:37] kevinlog commented on #146663
@muskangulati-qasource this one is expected. Since there are no response actions enabled via the feature controls (host isolation or process operations) we remove the respond option.

Actions suchs as "help" or "status" are considered helpers for the actual response actions. It's expected that there's no access without at least having host isolation or the process operations.

Let me know if you h

[2022-11-30 11:59] MadameSheema commented on #145669
Looks like the fix didn't make it to BC4. @deepikakeshav-qasource can you please take a look at the fix on latest 8.6 branch? Thanks! :)

[2022-11-30 11:59] MadameSheema commented on #145683
Looks like the fix didn't make it to BC4. @samratbhadra-qasource  can you please take a look at the fix on latest 8.6 branch? Thanks! :)

[2022-11-30 12:10] kibanamachine commented on #145271
New failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24366#0184c840-1fbd-43a8-983c-93d2cf1ea691)

[2022-11-30 12:27] CoenWarmer commented on #146450
Did a refactoring of the Rules Page the other day, makes sense I pick this up

[2022-11-30 12:31] kpollich commented on #144702
@nimarezainia - Yes we could accomplish this with a filter button or something along those lines. The goal here is definitely just to allow customers to find these duplicates, then take whatever action they deem necessary.

[2022-11-30 12:33] kpollich commented on #146656
I think this is probably due to https://github.com/elastic/elastic-agent/issues/1814/

[2022-11-30 12:33] mdefazio commented on #146586
Updated the mockup in the summary:

- Proposing consolidating the details and stats tab.  Not sure if I have the data hierarchy right, but this also helps to keep the content readable on wider screens. Happy to put together some different size mocks as well to show how this stacks for smaller screens.
- Showing more readable stats for Data counts and Memory usage — I didn't do this on the Analysis

[2022-11-30 13:06] boriskirov commented on #143421
Closed with #146406

[2022-11-30 13:06] #143421 closed

[2022-11-30 13:06] boriskirov commented on #143503
Closed with #146406

[2022-11-30 13:06] #143503 closed

[2022-11-30 13:14] dgieselaar opened #146682 "[APM] Automatically select right resolution for service metrics"
We are planning to continuously rollup metrics in different resolutions, to improve query performance for bigger time ranges [1]. When querying service metrics for the service inventory, we should automatically select the right resolution to query by executing a pre-flight requests that determines the appropriate resolution, and whether data is available for that resolution.

[1] https://github.co

[2022-11-30 13:14] elasticmachine commented on #146682
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 13:17] dgieselaar opened #146683 "[APM] Automatically select right resolution for transaction metrics"
We are planning to continuously rollup metrics in different resolutions, to improve query performance for bigger time ranges [1]. When querying transaction metrics, we should automatically select the right resolution to query by executing a pre-flight requests that determines the appropriate resolution, and whether data is available for that resolution.

The easiest way to do this is to change the

[2022-11-30 13:17] elasticmachine commented on #146683
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 13:25] CoenWarmer commented on #132603
The `<RuleDefinition />` panel is a component exposed by `TriggerActionsUi`. Should therefore be assigned to @elastic/response-ops-ram

[2022-11-30 13:31] karanbirsingh-qasource commented on #145800
Hi @MadameSheema

we have validated this issue on BC4 and found this issue to be fixed on Network page card and overview page also✔️ .

https://user-images.githubusercontent.com/59917825/204808793-fe7a0a52-7173-4b2e-b7c5-723013857bf6.mp4

https://user-images.githubusercontent.com/59917825/204808881-13c20245-008d-4c94-bd55-57bd0717f4c1.mp4

However as mentioned in bug additional notes it is occurin

[2022-11-30 13:34] angorayc commented on #131791
Hi @karanbirsingh-qasource , it seems that the query and response are outdated. Could you please check if you can reproduce on 8.6? Thank you.

[2022-11-30 13:34] karanbirsingh-qasource commented on #145676
Hi @MadameSheema

we have validated this issue on BC4 and found this issue to be fixed now ✔️

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/59917825/204809765-18013664-3713-44f6-aa31-9c42dc2fef11.png)

Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-11-30 13:36] klacabane opened #146686 "[Stack Monitoring] Support beat package data streams"
### Summary

Stack Monitoring should support the package data streams created by the Beat package (see https://github.com/elastic/kibana/issues/144995).

### AC
- Standalone beats and APM server are surfaced in SM when monitored by Agent

[2022-11-30 13:36] elasticmachine commented on #146686
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-11-30 13:37] karanbirsingh-qasource commented on #145534
Hi @MadameSheema

we have validated this issue on BC4 and found this issue to fixed now ✔️ .

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/204810171-7a2779df-127c-4f12-ac8d-00c64c49ef82.mp4

Hence we are closing this issue and adding "QA:Validated" tag to it.

thanks !!

[2022-11-30 13:37] #145534 closed

[2022-11-30 13:44] tehilashn commented on #146521
Thanks @uri-weisman , I don't consider this to be critical to fix for 8.6.
We'll prioritize this with the other bugs that we have for a future release.

[2022-11-30 13:46] #141470 closed

[2022-11-30 13:47] karanbirsingh-qasource commented on #131791
Hi @angorayc

we have validated this issue on 8.6 BC4 and found the issue to be fixed now ✔️  on Host and Network and occuring on user authentication card of user page.

**Build Details:**
[code]

**Snap-Shoots of Not Fixed Areas**

![image](https://user-images.githubusercontent.com/59917825/204811946-dd60d3b0-8348-4365-80ce-fdcd9de18f3e.png)

**Inspect User authentications Details**

**Statistics

[2022-11-30 13:48] MadameSheema commented on #145800
@angorayc can you please take a look at the above? Thanks! :)

[2022-11-30 13:53] klacabane commented on #146067
Introduced by https://github.com/elastic/kibana/pull/145138

[2022-11-30 13:53] klacabane commented on #146068
Introduced by https://github.com/elastic/kibana/pull/145138

[2022-11-30 13:54] orouz commented on #140500
[testrail](https://elastic.testrail.io/index.php?/cases/view/166344&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=35316) includes descriptions for a test that checks the distribution bar itself changes according to results.

the FTR test checks that clicking the red part of the bar filters by `failed findings` and same for `pass findings`

tests to verify the bar rende

[2022-11-30 13:57] uri-weisman opened #146688 "Finding's flyout presents an empty component"
**Kibana version:**
VERSION: 8.6.0
BUILD: 58560
COMMIT: d4567dc2eaa4f59503c1822e1f10bf0292b97066

**Elasticsearch version:**
VERSION: 8.6.0

**Browser version:**
Chrome

**Describe the bug:**
Finding's flyout creates a UI component even though no data are in it.

**Steps to reproduce:**
1. Deploy env + install an agent + install the KSPM integration.
2. Navigated to the Cloud Posture dashboard.
3.

[2022-11-30 13:57] elasticmachine commented on #146688
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-11-30 14:04] #144278 closed

[2022-11-30 14:13] pmuellr opened #146689 "[ResponseOps] provide more validation of action params during rule create/update"
When a rule is created or updated, we [do some validation of the actions](https://github.com/doakalexi/kibana/blob/7ac6561697e5d3731aa02c6d2711e7c1fb534fac/x-pack/plugins/alerting/server/rules_client/rules_client.ts#L3905-L3951), but we don't do any on the action parameters.

We can't do the **REAL** param validation here, as these are potentially mustache templates, and so would have mustache tem

[2022-11-30 14:13] elasticmachine commented on #146689
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-11-30 14:18] uri-weisman commented on #146688
Actually, it seems that we have two issues here.
1. The Component is not presenting the `host` info even though it's sent.
2. In case there are no data, the component should be hidden.

<img width="839" alt="Screen Shot 2022-11-30 at 16 10 18" src="https://user-images.githubusercontent.com/68195305/204819460-1e9b91e9-373b-4844-81c5-730360d84f56.png">

[2022-11-30 14:23] kibanamachine opened #146692 "Failing test: Jest Integration Tests.x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests - When using processes action from response actions console and when console is closed (not terminated) and then reopened should display completion output if done (no additional API calls)"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24375#0184c8cb-a1f8-4c10-90ce-d7b0e7894bb9)

[2022-11-30 14:24] elasticmachine commented on #146692
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-30 14:25] hop-dev commented on #143455
@kpollich @joshdover just an update on where I am at with this.

I have a proof of concept runtime field which works all statuses (except the new inactive status) the script is as follows, I can condense it but more clauses was clearer while I was writing it (see below). I think it would be cool to add this to the .fleet-agents mapping, that way it will be available to any query on the agents inde

[2022-11-30 14:29] orouz commented on #146688
good catch @uri-weisman 🥇

turns out we don't show first item (if there is only one) and last item (all other cases)

https://user-images.githubusercontent.com/20814186/204822102-d90189a7-c614-4efc-a7b3-77ebb2c1c7a9.mov

this happens because of some styles we apply:

https://github.com/elastic/kibana/blob/2cb675d8142638f35b8e4abb6e91a0349f9f5c73/x-pack/plugins/cloud_security_posture/public/pages/f

[2022-11-30 14:34] Bamieh opened #146693 "[8.5][8.6][i18n] Kibana server fails to start when locale is set to ja-JP"
**Kibana version:** 8.5+

**Describe the bug:**
Kibana server fails to start when `i18n.locale` is set to `ja-JP`. This is happening due to the plugin `guided_onboarding` is attempting to load a translation file that does not exist inside its `.i18rc.json` file.

**Steps to reproduce:**
Run kibana with `i18n.locale` set to `ja-JP`:

[code]

**Expected behavior:**
Kibana server to start with Japane

[2022-11-30 14:37] elasticmachine commented on #145978
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-11-30 14:38] #146625 closed

[2022-11-30 14:42] exalate-issue-sync[bot] opened #146695 "Demo for Idalko"
New Description from GH Side.

[2022-11-30 14:48] petrklapka opened #146697 "Demo from GH for Idalko"
Changed this in GIthhub

[2022-11-30 14:52] kibanamachine commented on #142347
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24379#0184c8e8-2291-42fe-9117-7e9f9c8f5864)

[2022-11-30 14:52] droberts195 opened #146700 "[ML] Allow "no timestamp" to be specified as the timestamp format in file upload"
In https://github.com/elastic/elasticsearch/pull/90764 we added the ability to specify `null` as the timestamp format override in the file structure finder endpoint.

The file data visualizer/file upload in Kibana can now be enhanced to make this option available. If a user chooses to add overrides then specifying "there is no timestamp" should be an alternative to overriding the timestamp format

[2022-11-30 14:52] elasticmachine commented on #146700
Pinging @elastic/ml-ui (:ml)

[2022-11-30 14:54] sqren opened #146701 "[APM] Show alert indicator on service inventory page"
In https://github.com/elastic/kibana/issues/143613 we are adding alert counts to the service groups page. To expand on this we also want to allow the user to see alert indicators on the service inventory page.

![image](https://user-images.githubusercontent.com/209966/204814677-9ce6e0e5-c433-4383-a20b-b4e8c56d8303.png)

**What is an active alert**
The alert indicator should show whether there are

[2022-11-30 14:54] elasticmachine commented on #146701
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 14:55] sqren opened #146702 "[APM] Show alert indicator on Alerts tab"
**Background**
In https://github.com/elastic/kibana/issues/143613 we are adding alert counts to the service groups page.
In https://github.com/elastic/kibana/issues/146701 we are adding alert indicators to service inventory page.

To finalize the flow we want to display an alert indicator on the Alerts tab to make it clear to the user whether the selected service has alerts actively firing.

![ima

[2022-11-30 14:55] elasticmachine commented on #146702
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 14:56] #146670 closed

[2022-11-30 14:56] benakansara opened #146703 "[Log Threshold Rule] Add Minimum total docs as advanced setting for Ratio alerts"
We have a [question](https://discuss.elastic.co/t/add-count-threshold-to-ratio-threshold-alert/320107/2) on Discuss forum about possibility of adding `sample size / count threshold` on the `ratio threshold` for the Log threshold rule.

Currently it is possible to use either `count` threshold or `ratio` threshold, but not a combination of both.

As suggested by @vinaychandrasekhar and @simianhacker

[2022-11-30 14:56] elasticmachine commented on #146703
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-30 15:00] dominiqueclarke commented on #142863
Post FF testing LGTM. I can't delete an agent policy with a synthetics monitor attached.

<img width="419" alt="Screen Shot 2022-11-30 at 9 58 46 AM" src="https://user-images.githubusercontent.com/11356435/204832307-504d8b4c-be85-4a92-b96b-e14daaccd81f.png">

I do think the UX could use a little extra help done the line. It's not clear what a user has to do in order to delete the agent policy, if

[2022-11-30 15:10] #126514 closed

[2022-11-30 15:10] kfirpeled commented on #146527
Suggesting a new configuration structure for cspm including versioning:

[code]

[2022-11-30 15:11] kfirpeled commented on #146527
Suggesting a new configuration structure of the agent policy for cspm:

[code]

cc: @uri-weisman , @eyalkraft , @oren-zohar , @JordanSh

[2022-11-30 15:12] nchaulet commented on #146669
@juliaElastic we `hosted` outputs are defined in kibana config file, in my opinion it will be a bad idea to allow to edit them via API could we solve the root issue here and update the bad value in Kibana config file?

allowing two source of truth for preconfigured output make things hard to manage, how do you detect a preconfigured output is updated in the kibana config file vs in the API, we sho

[2022-11-30 15:19] mistic commented on #124779
Skipped.

main: [b70812e](https://github.com/elastic/kibana/commit/b70812e731f2803b40674581b2301937a1f43e25)
8.6: [0e2c9f2](https://github.com/elastic/kibana/commit/0e2c9f2086947de29025786dfc795cacf034d01c)

[2022-11-30 15:22] mistic commented on #124780
Skipped.

main: [0a03a91](https://github.com/elastic/kibana/commit/0a03a911c90fce4116f74aaf80588350aff9982a)
8.6: [b0cf4e4](https://github.com/elastic/kibana/commit/b0cf4e48fd96acce582ce873f1a66a9aeeae32fd)

[2022-11-30 15:24] #145196 closed

[2022-11-30 15:24] mistic commented on #124781
Skipped.

main: [d70497c](https://github.com/elastic/kibana/commit/d70497ccf7f75a168dc8e56f021df2504c5a3ef6)
8.6: [94b41fe](https://github.com/elastic/kibana/commit/94b41fecf01bec6b1724afa936b52ae2faf20f19)

[2022-11-30 15:27] mistic commented on #134529
Skipped.

main: [1a9eb5d](https://github.com/elastic/kibana/commit/1a9eb5dfa58887ec3bc989b427c10e65a6148ffb)
8.6: [dd26b07](https://github.com/elastic/kibana/commit/dd26b0704ccbfe85f180aae93764bce6b113934c)

[2022-11-30 15:31] mistic commented on #140867
Skipped.

main: [6085bea](https://github.com/elastic/kibana/commit/6085beafce821b21fc7f717fb0cd3ec6682e46da)

[2022-11-30 15:32] kibanamachine commented on #124779
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24381#0184c90b-e835-4a83-aa28-3fdf65f5ca4a)

[2022-11-30 15:32] kibanamachine commented on #124780
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24381#0184c90b-e835-4a83-aa28-3fdf65f5ca4a)

[2022-11-30 15:32] kibanamachine commented on #124781
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24381#0184c90b-e835-4a83-aa28-3fdf65f5ca4a)

[2022-11-30 15:34] mistic commented on #142347
Skipped.

main: [3718b77](https://github.com/elastic/kibana/commit/3718b773c8461e5d06fdab8af68190fc513352ed)

[2022-11-30 15:44] kfirpeled commented on #146589
@tinnytintin10 do we need the full onboarding for both kspm and cspm?

We have the use-case that a user is installed one of the integrations, lets say `kspm`.
In the `cspm` tag the user sees `add cspm integration`, the user clicks on it and adds the `cspm` integration.
What is the next step?
1. showing the user an empty dashboard
2. showing the user, `agent is not deployed` empty state, followed b

[2022-11-30 15:48] kfirpeled commented on #146590
Suggesting a query filter to start from filtering by `benchmark.id`

@uri-weisman and @JordanSh please finalize the details of adding an identifier of `cspm` | `kspm` to the findings

cc: @oren-zohar

[2022-11-30 15:48] fkanout commented on #126375
@vinaychandrasekhar, could you please tell how we could manage this one?

[2022-11-30 15:51] kibanamachine opened #146710 "Failing test: X-Pack Cloud Security Posture Functional Tests.x-pack/test/cloud_security_posture_functional/pages/findings·ts - Cloud Security Posture Findings Page Sort Sorts by rule name"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24381#0184c90b-e842-4e5c-b4e9-72066bdbc59f)

[2022-11-30 15:51] michaelolo24 commented on #144154
Fantastic, thanks for the update! Let me know if there's any way I can help @kertal !

[2022-11-30 15:52] fkanout commented on #132601
@maciejforcone, is this still relevant looking at the date of the issue?

[2022-11-30 15:57] kfirpeled commented on #146591
@oren-zohar is there an open issue for adding the rule number to the finding? if so, can you please attach it here?

[2022-11-30 15:58] eyalkraft commented on #146527
I liked it, Let's also make sure we're correlated with the work @yashtewari has done for backwards/forwards compatibility of the config struct for health reports. (He included version, maybe we can use it, maybe we should introduce this new config version anyways).

see linked PRs https://github.com/elastic/cloudbeat/issues/239#issuecomment-1323681465

Should be deprecated.

[2022-11-30 15:59] oren-zohar commented on #146591
- https://github.com/elastic/cloudbeat/issues/552 @kfirpeled

[2022-11-30 16:03] kfirpeled commented on #146592
@tinnytintin10 in the screenshot above there are several miss-matches in terminology:
1. breadcrumb is `CSP benchmark`
2. title: `Benchmark integration`
3. CTA : `Add a posture integration`
4. search placeholder: `e.g, benchmark name`
5. column: `integration name`

Is this intentional? if not, can you please fix that on figma?

[2022-11-30 16:13] kibanamachine commented on #72874
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24387#0184c924-f1dd-4099-8ac9-4c3ab95ae4a2)

[2022-11-30 16:15] kibanamachine opened #146718 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/group2/_chart_hidden·ts - discover app discover show/hide chart test shows chart by default"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24384#0184c922-9293-4bb3-b8e7-405b1326011b)

[2022-11-30 16:15] kibanamachine opened #146719 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/group2/_hide_announcements·ts - discover app test hide announcements should display take tour button"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24384#0184c922-9293-4bb3-b8e7-405b1326011b)

[2022-11-30 16:16] kibanamachine opened #146720 "Failing test: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/settings/anomaly_detection/update_to_v3·spec·ts - APM API tests trial no data Updating ML jobs to v3 when there are both v2 and v3 jobs only creates new jobs for environments that did not have a v3 job"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24387#0184c924-f1b9-4462-9316-7d1c6339a0b0)

[2022-11-30 16:16] elasticmachine commented on #146718
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-30 16:16] kibanamachine commented on #141923
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24388#0184c925-94c0-466e-9cc0-728c7898b815)

[2022-11-30 16:16] elasticmachine commented on #146719
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-30 16:16] elasticmachine commented on #146720
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 16:16] paulb-elastic opened #146721 "[Synthetics] Auto enable Monitor Management"
As the Synthetics UI is maturing and we’ll be enabling it by default in the future, we want to reduce friction using it.  At the moment, an admin user has to enable Monitor Management (either in Uptime, or when they first access Synthetics UI, whichever is done first), which creates an API key that’s used internally.
      <img src="https://user-images.githubusercontent.com/70908889/204819116-2da7

[2022-11-30 16:16] elasticmachine commented on #146721
Pinging @elastic/uptime (Team:uptime)

[2022-11-30 16:19] kibanamachine opened #146722 "Failing test: Chrome X-Pack UI Functional Tests - ML stack_management_jobs.x-pack/test/functional/apps/ml/stack_management_jobs/manage_spaces·ts - machine learning - stack management jobs manage spaces add one space and remove initial space should edit job space assignment"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24383#0184c920-c7fe-4eb2-9ab2-fa43fbd676a3)

[2022-11-30 16:19] kibanamachine opened #146723 "Failing test: Chrome X-Pack UI Functional Tests - ML stack_management_jobs.x-pack/test/functional/apps/ml/stack_management_jobs/manage_spaces·ts - machine learning - stack management jobs manage spaces add one space and remove initial space should display the updated job spaces correctly in the jobs list"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24383#0184c920-c7fe-4eb2-9ab2-fa43fbd676a3)

[2022-11-30 16:19] kibanamachine opened #146724 "Failing test: Chrome X-Pack UI Functional Tests - ML stack_management_jobs.x-pack/test/functional/apps/ml/stack_management_jobs/manage_spaces·ts - machine learning - stack management jobs manage spaces add one space and remove initial space should display updated job only in assigned spaces"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.6](https://buildkite.com/elastic/kibana-on-merge/builds/24383#0184c920-c7fe-4eb2-9ab2-fa43fbd676a3)

[2022-11-30 16:20] elasticmachine commented on #146722
Pinging @elastic/ml-ui (:ml)

[2022-11-30 16:20] elasticmachine commented on #146724
Pinging @elastic/ml-ui (:ml)

[2022-11-30 16:20] elasticmachine commented on #146723
Pinging @elastic/ml-ui (:ml)

[2022-11-30 16:40] kibanamachine opened #146726 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/group2/_data_grid_doc_table·ts - discover app discover data grid doc table should show popover with expanded cell content by click on expand button on embeddable"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24395#0184c935-25df-4e9b-affa-19c7b9561aa7)

[2022-11-30 16:40] elasticmachine commented on #146726
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-30 16:44] kibanamachine commented on #141538
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/24396#0184c93b-744a-4873-a3fa-e80679e2dff8)

[2022-11-30 16:48] dominiqueclarke commented on #144367
Post FF testing LGTM. Last 10 test runs no longer caches.

I did notice that `Last test run` itself still caches. Unrelated, will raise an issue

<img width="620" alt="Screen Shot 2022-11-30 at 11 45 20 AM" src="https://user-images.githubusercontent.com/11356435/204858148-14ec64ac-6ab4-453f-90b2-2281ee6abfbb.png">

[2022-11-30 16:52] tylersmalley commented on #146723
/skip

[2022-11-30 16:53] kibanamachine commented on #146723
Skipped

8.6: 5351c0ab89286e499a8639e923e5305a959d8d8a

[2022-11-30 16:55] dominiqueclarke opened #146727 "[Synthetics] Last test run on Monitor Details page does not update until a hard refresh"
The last test run on the Monitor Details page does not updated until a hard refresh.

This is for a monitor running every 10 minutes.

<img width="620" alt="Screen Shot 2022-11-30 at 11 45 20 AM" src="https://user-images.githubusercontent.com/11356435/204859684-6d37beab-0e30-4310-9ff0-c51a6b0ee8e8.png">

The last 10 test runs update, but not the last test run.

**Kibana version**: 8.6.0

[2022-11-30 16:55] elasticmachine commented on #146727
Pinging @elastic/uptime (Team:uptime)

[2022-11-30 16:57] alexh97 commented on #21503
@kobelb is this still relevant?

[2022-11-30 16:57] neptunian commented on #141843
Looking at this issue a bit deeper I agree with @miltonhultgren that similar to how the Hosts Overview dashboard works, per host visualization would be more useful than a single line in a chart representing all the filtered hosts.  A couple of SREs also gave that feedback however after a few hosts it becomes not usable and difficult to read.  Initially the Host Map visualization was meant to be th

[2022-11-30 16:58] MichaelMarcialis commented on #134377
Wow, these updates look great! Well done, @yiyangliu9286! I will give them a closer look and add any comments I have to your Figma document.

[2022-11-30 17:12] pmeresanu85 commented on #141843
@formgeist would probably need to see the comment above.

[2022-11-30 17:15] alisonelizabeth commented on #144189
I'm not able to reproduce this anymore. On-prem users should never see the guided onboarding landing page with [this logic in place](https://github.com/elastic/kibana/blob/main/src/plugins/home/public/application/components/guided_onboarding/getting_started.tsx#L94). I'm going to close this issue.

[2022-11-30 17:28] e40pud commented on #146133
We did not do any changes related to the rule execution status/messages or that particular call out. That must have been changed by some other changes.

Current implementation checks whether any added ML job is off and shows appropriate warning message in that case. Because the job in screenshot is off, it is being considered that rule execution is only partially failed (thus warning).

Rule execu

[2022-11-30 17:32] cmacknz commented on #146361
Likely caused by https://github.com/elastic/elastic-agent/issues/1814, which will be fixed in the next snapshot and BC. 8.6 specific fix is on https://github.com/elastic/elastic-agent/issues/1847

[2022-11-30 17:37] dej611 opened #146731 "[Lens][Dashboard] Improve feature visibility handling in spaces"
**Describe the feature:**

When configuring a space it is possible to set a feature visibility for the Analytics group (and others of course).

The panel quote:

The quote is a bit ambiguos but the security team clarified the initial intention as UI vs API: disabling the visibility here originally meant to hide any UI and allow only API access. So not a role configuration, just a "masking" behavio

[2022-11-30 17:37] elasticmachine commented on #146731
Pinging @elastic/kibana-visualizations @elastic/kibana-visualizations-external (Team:Visualizations)

[2022-11-30 17:37] sqren opened #146732 "[APM] Benchmark APM UI query performance"
Pitch: https://github.com/elastic/apm-dev/issues/900 (_internal_)

TBD

[2022-11-30 17:37] elasticmachine commented on #146732
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 17:46] drewdaemon opened #146733 "[Lens] collapse by only one field for multi-field top values"
**Describe the feature:**
Collapse-by is currently only be applied at the dimension level. We could consider allowing it to be applied more granularly.

<img width="472" alt="Screen Shot 2022-11-30 at 11 44 00 AM" src="https://user-images.githubusercontent.com/315764/204870489-7f0459bf-1f7e-49fd-a393-53c26d9d1396.png">

[2022-11-30 17:47] elasticmachine commented on #146733
Pinging @elastic/kibana-visualizations @elastic/kibana-visualizations-external (Team:Visualizations)

[2022-11-30 17:53] gbamparop opened #146734 "[APM] Enable service metrics"
With https://github.com/elastic/kibana/issues/138527, we have introduced service metrics in the UI, which are similar to transaction metrics, without the transaction.name dimension. However, the data model of the service metrics is quite different from the transaction metrics. This makes it hard to use the same queries for both metrics in order to make the implementation less complex.

The data mo

[2022-11-30 17:53] elasticmachine commented on #146734
Pinging @elastic/apm-ui (Team:APM)

[2022-11-30 17:54] kobelb commented on #21503
@alexh97 I defer to @legrego and @azasypkin

[2022-11-30 17:55] #144602 closed

[2022-11-30 18:14] ThomThomson commented on #146731
The most obvious way to straighten this out would be to relate these permissions to the various types of saved objects, roughly as follows:

**Dashboard permissions**
- If a user has dashboard read they should have access to the dashboards listing page and individual dashboards.
- If a user has dashboard read but not dashboard write the `edit mode` button should  be inaccessible * hidden
- If a us

[2022-11-30 18:19] paulb-elastic opened #146740 "Improve copy when unable to delete managed package policy"
Further to https://github.com/elastic/kibana/issues/142863#issuecomment-1332301863, improve the message for users so they know how they can proceed.

Current implementation:
<img width="419" alt="Screen Shot 2022-11-30 at 9 58 46 AM" src="https://user-images.githubusercontent.com/11356435/204832307-504d8b4c-be85-4a92-b96b-e14daaccd81f.png">

This is a generic case that will occur for managed packa

[2022-11-30 18:19] elasticmachine commented on #146740
Pinging @elastic/uptime (Team:uptime)

[2022-11-30 18:28] #146693 closed

[2022-11-30 18:35] petrklapka opened #146743 "Sync Test - Team Field"
Forced update 3

[2022-11-30 18:35] elasticmachine commented on #146743
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-11-30 18:49] opauloh opened #146745 "[Onboarding][Elastic Defend] Add more presets to Elastic Defend"
We'd like to add two more use cases to the Cloud/Endpoint (Elastic Defend) guided onboarding configuration. These options will appear - along with the other existing 3 options - when a user selects "Endpoint" from the drop down ("Select the type of environment you want to protect").

### New option 1
**Option label:** Data Collection
**Option description text:**
Augment your existing anti-virus so

[2022-11-30 18:51] awahab07 commented on #146727
Should have been fixed by https://github.com/elastic/kibana/pull/146336.

[2022-11-30 18:54] kfirpeled commented on #140494
@orouz what do you mean by:

I thought it is clicking on the plus/minus buttons of a cell, but haven't saw any test doing it. Is it something else?

[2022-11-30 18:57] #140494 closed

[2022-11-30 19:00] orouz commented on #140494
@kfirpeled

meant that adding filters from those plus/minus buttons is tested (`describe('Table FIlters'...)`)

[2022-11-30 19:03] gbamparop commented on #143614
Closing this as it is out of scope for this [pitch](https://github.com/elastic/apm-dev/issues/869) (_internal_). Will reopen / recreate if needed in the future.

[2022-11-30 19:03] #143614 closed

[2022-11-30 19:18] kfirpeled commented on #140494
amazing, missed that (this thing works too fast 😅 )

[2022-11-30 19:24] kfirpeled commented on #140500
Cool, is there a followup issue for that? or is it part of #140860?

[2022-11-30 19:31] justinkambic commented on #143313
Post FF Testing LGTM

Tried updating a monitor with a different type.

[code]

[2022-11-30 19:51] justinkambic commented on #144363
Post-FF testing LGTM after running through the resolving PR's testing instructions.

[2022-11-30 19:55] e40pud commented on #145954
@MadameSheema @karanbirsingh-qasource This bug was fixed and changes were merged in both Ian and 8.6 branches.

[2022-11-30 20:07] justinkambic commented on #143981
There aren't any easy repro steps for this so we've agreed to move it to Done Done as the possibility is covered via a unit test in the solution that resolved this.

[2022-11-30 20:11] kdelemme opened #146751 "[SLO] Scaffold SLO details page"
## 📝 Summary

Part of https://github.com/elastic/kibana/issues/143216

Even without the latest design version done, we should be able to scaffold the SLO details page behind a feature flag.
- Setup the router for the SLO details page, e.g. /slos/:sloId
- Create a basic page fetching the SLO from the API
- Dump the SLO into the page

[2022-11-30 20:11] elasticmachine commented on #146751
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-11-30 20:53] nicpenning opened #146753 "[Manage Endpoint] Shifting Endpoints Can Cause Improper Isolation and Other Actions"
**Kibana version:**
8.5.2
**Elasticsearch version:**
8.5.2
**Server OS version:**
Server 2019
**Browser version:**
107+
**Browser OS version:**
Chrome
**Original install method (e.g. download page, yum, from source, etc.):**
Download Page - On Premise - Windows Deployment
**Describe the bug:**
On the Endpoints (Manage) page the auto refresh moves endpoints around on the page which is hazardous whe

[2022-11-30 20:59] #146460 closed

[2022-11-30 21:02] kevinlog opened #146755 "Agent details reports `Healthy` when `last_checkin_status` is `DEGRADED`"
**Kibana version:**
8.6

**Elasticsearch version:**
8.6

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When the Agent reports that the `last_checkin_status` is `DEGRADED`, the Agent stays in a "Healthy" state in the UI.  This may be confusing to users and they could miss some important problems they need to address to due to the `DEGRADED` c

[2022-11-30 21:02] elasticmachine commented on #146755
Pinging @elastic/fleet (Team:Fleet)

[2022-11-30 21:02] kevinlog commented on #146755
fyi @kpollich

[2022-11-30 21:21] justinkambic commented on #142657
Post-FF Testing LGTM

[2022-11-30 21:36] kpollich commented on #146755
@juliaElastic or @nchaulet - You might have a good idea for next steps here. Do we only have healthy/unhealthy indicators for overall agent status in the UI? Should we have a "degraded" badge as well?

[2022-11-30 21:38] trainings commented on #134481
I would like to add that it would also also be useful to be able to create latency threshold & error count alerts at the individual transaction granularity.

For example, we have a requirement that each request must process server side less than a 0.5sec
Very often in an application there can be 50+ different API endpoints (transactions)
And in case only 1 is slow (avg 1sec), the remaining 49 succ

[2022-11-30 21:41] andrew-goldstein commented on #146666
### Summary

There's no affordance in the current `8.6.0` UI to realize the outcome described in @aarju 's feature request.

- There's no workaround, per the _Details_ section of this comment
- A small change to the existing code may enable a workaround via export / import that's otherwise not possible today (in `8.6.0`)
- The UI should provide the affordance suggested in this feature request, bec

[2022-11-30 21:43] andrew-goldstein commented on #146666
cc: @paulewing

[2022-11-30 21:45] nchaulet commented on #146755
Normally the agent here should be marked as unhealthy, looks like the agent v2 introduce a change where `last_checkin_status` is no reported in upper case (was lowercase before), the agent used to report `degraded` before.

@kpollich should we support this in Kibana? or this should be fixed in Fleet server?

[2022-11-30 21:45] elasticmachine commented on #146666
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-11-30 21:47] kpollich commented on #146755
Let's fix this in Kibana if we can.

[2022-11-30 21:49] nchaulet commented on #146755
Sure it should be easy to fix, I can come with a quick PR

[2022-11-30 22:17] tylersmalley opened #146758 "Failing ES Promotion"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot. Details on the snapshot promotion process can be found [here](https://docs.elastic.dev/ci/es-snapshot-promotion).

* [ES snapshot](https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/1982#annotation-es-snapshot-manifest)
* [Failed promotion job](https://buildkite.com/elastic/kibana-elastic

[2022-11-30 22:56] bhavyarm opened #146761 "Navigate to discover from panel in dashboard displays " <id> is not a configured data view ID Showing the default data view message""
**Kibana version:** 8.6.0 BC4

**Elasticsearch version:** 8.6.0 BC4

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  If you navigate to visualize (lens) from a field's side bar on a ad-hoc data-view and save it and add it a dashboard

[2022-11-30 22:56] elasticmachine commented on #146761
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-11-30 23:01] caitlinbetz commented on #146753
FYI @kevinlog

[2022-11-30 23:04] elasticmachine commented on #146753
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-11-30 23:06] kevinlog commented on #146753
@nicpenning thanks for filing.  We will take a closer look at what the right solution should be.  The problem is that data is sorted by most recently updated.

To mitigate this issue for the time being, you can turn off the auto-refresh which periodically updates data.

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/56395104/204927180-4a89f7cc-ddf4-4d6a-a05a-658d024ae

[2022-11-30 23:10] nicpenning commented on #146753
Sounds great, thank you!