[2021-06-16 16:31] #31809 closed

[2021-06-16 16:34] pmuellr commented on #94956
also see: https://github.com/elastic/kibana/issues/98456 which is asking for _just_ the rule type ids - the params will be the next thing that users of the HTTP APIs will need ...

[2021-06-16 16:35] jbudz commented on #23245
This should be resolved by the move to kbn-ui-shared-deps.

[2021-06-16 16:35] #23245 closed

[2021-06-16 16:37] jportner commented on #96101
We can also change the [Securing access to Kibana page](https://www.elastic.co/guide/en/kibana/7.13/tutorial-secure-access-to-kibana.html) to mention tenants in the first sentence. That also links to the Spaces documentation page where we can dedicate a full paragraph to it as Tom mentioned above.

[2021-06-16 16:37] thomasneirynck commented on #78314
cc @mbarretta

[2021-06-16 16:41] elasticmachine commented on #67407
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-16 16:45] kertal commented on #86757
@andreadelrio thx, sorry for the late reply, overseen the notification. For the tooltip I'm adding @gchaps @shaunmcgough. so how could we explain multi fields in a sentence?

[2021-06-16 16:53] ThomThomson opened #102381 "Add Filter Popover Sometimes Doesn't Close on Outside Click"
**Kibana version:** Master

**Describe the bug:** If the user clicks around on the filter UI, they can get into a state where the add filter popover cannot be closed by clicking outside or on the 'add filter' button. Clicking cancel is the only way to remove this popover. This is a tiny bug, but can be slightly annoying. Also it should be a very easy fix.

https://user-images.githubusercontent.com

[2021-06-16 16:53] elasticmachine commented on #102381
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-16 16:54] mikecote commented on #93466
The current issue is pending a product decision (cc @arisonl) to assess the impact. The scope of the OAuth flow may not be as big if the tokens never expire (can defer an experience about token expiry compared to OAuth tokens provided by other services providers).

[2021-06-16 16:56] monina-n commented on #101873
@MadameSheema I wasn't able to reproduce the bug but just from reading over he issue, I would say actually to get rid of all the hover tooltips for the menu items. Tooltips should be used to reveal additional information, so I don't think we need to have a tooltip for the tabs because it's only repeating the page title. So, all the other tab tooltips should be removed to be like the Cases tab (no

[2021-06-16 17:02] kibanamachine commented on #101984
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14848/)

[2021-06-16 17:05] elasticmachine commented on #101984
Pinging @elastic/uptime (Team:uptime)

[2021-06-16 17:08] spalger commented on #101984
6 failures across 7.x, master, and prs in the last week

![image](https://user-images.githubusercontent.com/1329312/122262652-79d8eb80-ce8a-11eb-8621-773e53c5f8db.png)

Skipped

master/8.0: https://github.com/elastic/kibana/commit/c8256d57bdf23de5354b178e418b8e6694851c64
7.x/7.14: https://github.com/elastic/kibana/commit/aa9571b2cc48ac60542425b007697a35973ed945

[2021-06-16 17:11] jportner commented on #100489
When sharing an object that references tags: tags will be skipped.
However,

1. We are pretty sure that we _eventually_ want tags to be included in shares, when there is some workflow to reconcile/merge "identical" tags
2. We can still allow users to share tags directly, even before that workflow is available

Any object that will be or may be eventually shareable needs to be converted in 8.0.

[2021-06-16 17:12] spalger commented on #100296
Skipped entire suite and backported it to 7.x

master/8.0: https://github.com/elastic/kibana/commit/f4e0895b173faf6c0878b82182265697d79ab481
7.x/7.14: https://github.com/elastic/kibana/commit/7a3915949cb94f37a1fa9fe5903b7c4862ebaa80

[2021-06-16 17:26] EthanVQ commented on #30626
Is there any known work arounds for this?

I'm Currently trying to filter 'index A'  by entries retrieved from 'index B'. At the moment I have to settle with returning all of 'index B' then applying a lookup transform using 'index A'.

It actually runs ok, but it essentially has an upper limit on the n0 of hits, and the more hits the more computationally expensive the operation is.

[2021-06-16 17:29] #101781 closed

[2021-06-16 17:58] shaunmcgough commented on #86757
I agree with this design, it's elegant and relevant. My one question is in regards to the tooltip. Does it popup automatically, or do you have to click 'multifield'. I would prefer you to have to click it. The text should be relatively easy for @gchaps and I. Perhaps something like "Multifields can have multiple values per field".

[2021-06-16 18:01] kertal commented on #86757
Ah yes, one adding, actions should stay on the left side, you know we
changed that recently, but had to change it back , users with large screen
riot!

Andrea Del Rio ***@***.***> schrieb am Mo. 14. Juni 2021 um
21:09:

[2021-06-16 18:07] graphaelli commented on #77966
related to https://github.com/elastic/elasticsearch/pull/73705, should make this possible.

[2021-06-16 18:08] ecezalp opened #102395 "[Security Solution] update generateId function to use _seq_no and _primary_term"
`generateId` in `x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts` uses `_version` value to create a hash. `_version` should be replaced with `_seq_no` and `_primary_term` for a more up-to-date implementation (details below)

_Originally posted by @FrankHassanabad in https://github.com/elastic/kibana/pull/102106#discussion_r652792680_

[2021-06-16 18:12] elasticmachine commented on #102395
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-16 18:15] #100451 closed

[2021-06-16 18:18] graphaelli commented on #64144
Is this still blocked given capabilities introduced via RAC efforts?

[2021-06-16 18:26] myasonik opened #102398 "[Navigational Search] Shows results that should be hidden (such as error pages) allowing users to navigate to them"
Navigational search shouldn't show all pages (namely "App Error"). This is probably a minor bug (I hope) because I know it used to work so hopefully it's just a minor regression.

The user impact of this error is pretty high though.

<img width="601" alt="Screenshot of navigational search in the header showing incorrect options" src="https://user-images.githubusercontent.com/4188087/122272350-735c

[2021-06-16 18:26] elasticmachine commented on #102398
Pinging @elastic/kibana-core (Team:Core)

[2021-06-16 18:28] andreadelrio commented on #86757
I would recommend that the tooltip appears on hover which is the usual behavior. Badges can have onClick actions but displaying a tooltip is not usually one of them.

[2021-06-16 18:33] ashokaditya commented on #102335
Yes it is related to an earlier PR. @kevinlog. I'll fix it first thing tomorrow. I don't think it's a good experience to see unrelated pop-ups on policy response flyout.

[2021-06-16 18:35] bytebilly commented on #77966
I don't have full visibility on the use of API keys and metadata that you are envisioning, so I want to point out that relying on metadata should not be considered a security paradigm since anyone with proper permissions can create API keys with arbitrary metadata, potentially the very same as what is set for APM.

You could rely on the API key creator in conjunction with metadata to make it safer

[2021-06-16 18:41] chrisronline opened #102400 "[Task Manager] Optimize status field output for health api"
Relates to https://github.com/elastic/kibana/issues/101505

There are some points of confusion related to the task manager health API response that we should discuss and potentially fix.

1. The [runtime health status](https://github.com/elastic/kibana/blob/master/x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts#L393) is _always_ `OK`, even though we set the overall status to `

[2021-06-16 18:41] elasticmachine commented on #102400
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-16 18:55] LeeDr commented on #102272
It could be that the esArchive being loaded by the test doesn't have the default space object but needs it?  I thought, but could be wrong, that esArchiver always left the default space alone on load/unload calls?

[2021-06-16 19:17] pgayvallet commented on #102272
From the stack:

[code]

Meaning that this error was cause by a client-side requests initiated  against `/api/core/capabilities`

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/core/server/capabilities/routes/resolve_capabilities.ts#L14-L19

This route is requested by the client-side everytime Kibana is loaded.

Which
1. cannot be caused by the migration
2. can

[2021-06-16 19:20] #101505 closed

[2021-06-16 19:53] ghudgins opened #102405 "[Lens] allow synonyms and spaces in time shift intervals configuration"
**Describe the feature:**
During usability testing someone attempted `8 w` and `8 wk` as a shift interval. We should allow the spaces as a valid input if we are able. Would be nice to handle common synonyms and fully typed out intervals like `mon` `month` `wk` `week` `day` `yr` `year` `qtr` `quarter`. Might also be good to allow the plural on all fully spelled out variants `months` `weeks` `days`

[2021-06-16 19:53] elasticmachine commented on #102405
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-16 19:58] pgayvallet commented on #100982
To date, that's the only report of such problem, yes

- If the data is not sensitive, could you provide an export file that trigger this error (the smallest the better, if a single-object export reproduces the problem, that's great)

- Could you record and provide a HAR file (https://toolbox.googleapps.com/apps/har_analyzer/) for the following scenarios:
  - when generating the export file
  - whe

[2021-06-16 20:06] graphaelli commented on #50143
closing this since the filters have been removed

[2021-06-16 20:06] #50143 closed

[2021-06-16 20:29] graphaelli commented on #51599
confirmed this is still the case in 7.14

[2021-06-16 20:41] elasticmachine commented on #102408
Pinging @elastic/fleet (Team:Fleet)

[2021-06-16 20:43] EricDavisX commented on #102408
hi - i'm only doing a brief review here, if this relates to integrations work (at all), we were going to log all concerns into one test ticket right?  best to track it there, the team is still tracking check-ins for this btw.

Still, @kpollich were you working that feature?  i don't see it cited, but presume this is regressed behavior.  @dikshachauhan-qasource please confirm, thanks

[2021-06-16 20:45] graphaelli commented on #64070
@cauemarcondes is this superseded by the recent work on these instructions?

[2021-06-16 20:47] kpollich commented on #102408
Thanks, @EricDavisX - I am working on the new top-level Integrations app scope, yes. This looks like it could be a regression related to that work, but I can't say for sure at first glance.

[2021-06-16 20:55] #99994 closed

[2021-06-16 20:58] ThomThomson opened #102416 "[Meta] Dashboard Migration Smoke Tests"
### Smoke Tests
Functional migration smoke test suites should be created for each major panel type on dashboard (e.g. Lens, Visualize, TSVB, Maps). These smoke test suites should focus on detecting possible **error cases** which a missing migration could cause.

Each of these smoke test suites should:
1. Import a dashboard or a collection of dashboards with representative samples of the embeddable

[2021-06-16 20:58] elasticmachine commented on #102416
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-16 21:00] MichaelMarcialis commented on #102116
I like the direction that @ghudgins' suggestion is going. Perhaps we can tweak it slightly to also account for the case that @flash1293 mentions (where a value is already set) by putting such assistive text in the `helpText` prop on the parent `EuiFormRow` component. Doing so would show the text regardless if a value is selected, and would also provide space to link to or explain the syntax, if ne

[2021-06-16 21:03] cauemarcondes commented on #64070
No @graphaelli , the `APM Server` section is currently hidden in the cloud when there is a `apmServerUrl` property defined, but for the onPrem tutorial it's always visible.

[2021-06-16 21:13] ghudgins commented on #102116
sounds really good.

"Enter a time shift. Type to specify custom values (e.g. 8w)"

I like the first option better than the second because it's fewer interactions for returning users who know it already. I don't think we have to be overly verbose on this text. A help link or popover could be useful to fulfill that need.

[2021-06-16 21:34] cuff-links opened #102427 "[Docs] Update Documentation for Clarification of Ingest Node Pipeline Kibana Permissions"
# Summary
While working on https://github.com/elastic/kibana/pull/102409, I was in the process of setting permissions for a custom user within Kibana to be able to work with Ingest Node Pipelines. After adding the proper cluster level privileges, I found that the user still needed Kibana privileges to be able to access the app. I went to our [security docs](https://www.elastic.co/guide/en/kibana/c

[2021-06-16 21:34] elasticmachine commented on #102427
Pinging @elastic/kibana-docs (Team:Docs)

[2021-06-16 22:01] neptunian commented on #100133
Not sure if this was taken into consideration, but since we will soon enable the possibility for multiple types of alerts to exist, if a user already created, for example, a `monitoring_alert_cpu_usage` alert, the app would see that as the alert already having been created.  So I don't know if we want to try to differentiate between "default" alerts vs custom user created stack monitoring alerts o

[2021-06-16 22:28] wylieconlon commented on #74910
This seems especially relevant for formulas, thanks @ghudgins for raising that connection. Part of the question is whether at the formula level we would want `count(field)`, `value_count(field)`, or maybe a more SQL-inspired syntax like `count(all field)`

[2021-06-16 22:51] jasonrhodes opened #102435 "[Stack Monitoring] Convert everything in server/lib to TS"
AC:
* Every non-test file in server/lib is a .ts file (no more .js files)

[2021-06-16 22:51] elasticmachine commented on #102435
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-16 22:53] jasonrhodes opened #102436 "[Stack Monitoring] Everything in /server is converted to TS"
DEPENDS ON: ~https://github.com/elastic/kibana/issues/102435~

AC:
* Every non-test file in /server is converted to Typescript with no @ts-ignore or typescript errors

- [x] https://github.com/elastic/kibana/issues/117728
- [x] https://github.com/elastic/kibana/issues/106761
- [x] https://github.com/elastic/kibana/issues/117729

[2021-06-16 22:53] elasticmachine commented on #102436
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-16 22:55] jasonrhodes opened #102437 "[Stack Monitoring] Create scoped issues for "All stack monitoring server routes use iots for type-safe validation""
DEPENDS ON: https://github.com/elastic/kibana/issues/102436

AC:
* This issue is broken into chunks representing the work needed to do the following:
  * all SM routes use iots
  * All types used for return values are moved to common/ so that the client can refer to them too

[2021-06-16 22:55] elasticmachine commented on #102437
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-16 22:56] TinaHeiligers opened #102438 "Add a versioned class name to one of the root containing divs"
We need to add a versioned class name to one of the [DOM root elements](https://github.com/elastic/kibana/blob/master/src/core/server/rendering/views/template.tsx#L51) in order to allow is to configure version-specific rules.

The classname should contain the Kibana version in the format: `kibana-version-X-X-X`

[2021-06-16 22:56] elasticmachine commented on #102438
Pinging @elastic/kibana-core (Team:Core)

[2021-06-16 22:57] jasonrhodes opened #102439 "[Stack Monitoring] All client-side files are converted to Typescript"
DEPENDS ON: https://github.com/elastic/kibana/issues/102437

AC:
* All non-test files in /public are converted to Typescript
* Types are used from the /common directory, shared with server via iots

[2021-06-16 22:57] elasticmachine commented on #102439
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-17 00:14] TinaHeiligers commented on #102438
@joshdover I had a deeper look at this once I got stuck in and I _think_ we might be able to target [core's `div`](https://github.com/elastic/kibana/blob/master/src/core/public/core_system.ts#L177) rather than appending the class name to the [main body](https://github.com/elastic/kibana/blob/master/src/core/public/kbn_bootstrap.ts#L32) itself.
WDYT?

[2021-06-17 00:18] spong commented on #87992
So I think we're good here @ymao1! Chatted a little with @mikecote today as well and the only extra item that came up was if the SO References[] would also be exposed via the Rules API. We were both along the lines of keeping access server side and Security can add any additional specific API's it needs for linking/unlinking any associated Exception Lists to Rules as we develop features that requi

[2021-06-17 02:02] GrahamHannington commented on #102329
@stratoula wrote:

**Is this still your position?**

I ask because @alexwizp later wrote:

and I'm unsure whether that statement by @alexwizp affects (supersedes) the earlier statement by @stratoula.

If you intend to fix the problem (with Markdown and no time field present) then I can simply wait for the fix without changing my saved objects.

If you are _not_ going to fix the problem, then I wil

[2021-06-17 02:43] harsha-gsai commented on #101705
Hi @flash1293 do we have any solution to overcome this bug, or any other alternate visualisations that support both string type data as well as ratios. Hoping for a quick response. Thank you.

[2021-06-17 03:19] #102022 closed

[2021-06-17 03:23] GrahamHannington commented on #102329
@alexwizp ,

While I sincerely appreciate the suggestion, I strongly dislike the combination of creating a runtime field and having to edit each TSVB Markdown viz to specify that runtime field. In particular, creating a runtime field extends the scope of the existing kludge.

I would much rather specify an existing field in the index pattern, such as `updated_at`, as the `timeFieldName` for the in

[2021-06-17 05:27] #102131 closed

[2021-06-17 05:52] muskangulati-qasource opened #102448 "[Security Solution] Wrong Navigation URL for the 'add integration' from Endpoint Tab"
**Describe the feature**
Wrong Navigation URL for the 'add integration from Endpoint Tab

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
NOTE: No endpoint should be deployed
2. Click on the 'Add Endpoint Security' button
3. Observe wrong URL navigation for the integration ta

[2021-06-17 05:52] elasticmachine commented on #102448
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-17 05:55] pgayvallet commented on #102438
FWIW, we're already providing an internal API to properly append classes to the `body` element

https://github.com/elastic/kibana/blob/f07ebc822f55bda1d04880cf2fd3269e6a3da75a/src/core/public/rendering/rendering_service.tsx#L40-L47

https://github.com/elastic/kibana/blob/f5e8b108da67caeadfd970a2af9113f1cc68c111/src/core/public/chrome/chrome_service.tsx#L120-L128

We could probably leverage that an

[2021-06-17 06:08] manishgupta-qasource commented on #102448
Reviewed & assigned to @kevinlog

[2021-06-17 06:34] karanbirsingh-qasource commented on #102320
Hi @MadameSheema

we have validated this issue on 7.13.2 with same field and value that is `process.args: C:\Windows\system32\notepad.exe` and found that issue is occuring there too.

Moreover as stated earlier issue is occuring only for this specific value and not occuring for other process mimikatz,power shell.

**Build Details:**
[code]

**Screen-Cast**
https://user-images.githubusercontent.com

[2021-06-17 06:37] karanbirsingh-qasource commented on #102326
sure @jonathan-buttner we we kill track of PR merge and regress the issue.

[2021-06-17 06:38] karanbirsingh-qasource commented on #102321
Thanks @stephmilovic for the update.

[2021-06-17 06:39] simitt opened #102453 "[apm-integration][cloud] Keep apm-server URL on cloud and fleet integration in sync"
This is a placeholder task and will be filled with more details as we figure them out.

[2021-06-17 06:39] elasticmachine commented on #102453
Pinging @elastic/apm-ui (Team:apm)

[2021-06-17 06:49] elasticmachine commented on #102369
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 06:58] sqren commented on #102255
@formgeist I ran into this as well and was going to investigate the cause. I'll double check to see if it still happens in some cases.

[2021-06-17 07:00] formgeist commented on #102255
@sqren I was seeing it on a few PRs, but then the problem disappeared on more recent versions of master, so I figured it was a fluke

[2021-06-17 07:07] stratoula commented on #102329
@GrahamHannington what I meant about the markdown and no timefield present:
TSVB is a timeseries visualization, it is developed to be used for data with a time field. Before 7.13 (that we introduced the dual-mode), the user could create a TSVB visualization without applying a timefield because silently it would apply the time field of the index pattern, even though the user didn't apply it. Now wh

[2021-06-17 07:08] muskangulati-qasource opened #102454 "[Security Solution] Data is hidden on the flyout because of the 'Take Action' button"
**Describe the feature**
Data is hidden on the flyout because of the 'Take Action' button

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
NOTE: An endpoint having multiple IPs is having this issue
2. Click on the Hostname
3. Observe Data is hidden on the flyout because of th

[2021-06-17 07:08] elasticmachine commented on #102454
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-17 07:08] elasticmachine commented on #102454
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 07:08] muskangulati-qasource commented on #102454
@manishgupta-qasource please review!

[2021-06-17 07:11] sqren commented on #77966
I don't think is is going to be a security issue but I'll explain our use case and you can tell me how I'm wrong :D

Without the ability to filter by metadata we would have to refer the user to the general API keys view, where they'd have to manually sift through the list of possible 1000s of keys to find the ones relevant to APM.

By filtering by metadata, we can show them just the relevant APM k

[2021-06-17 07:13] manishgupta-qasource commented on #102454
Reviewed & Assigned to @kevinlog

[2021-06-17 07:15] sqren commented on #64144
This will be unblocked by rac. Given we don't have an exact date for the release of rac I suggest we leave it blocked for now.

[2021-06-17 07:20] deepikakeshav-qasource opened #102455 "[Security Solution] Comment is displayed after refresh the case page under the isolate host."
**Description**
Comment is displayed after refresh the case page under the isolate host.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to detection tab of security.
2. Attach the alert to case.
3. Navigate to the case tab under security.
2. Click on case that we added th

[2021-06-17 07:20] elasticmachine commented on #102455
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 07:22] elasticmachine commented on #102455
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-17 07:22] deepikakeshav-qasource commented on #102455
@manishgupta-qasource Please Review!!

[2021-06-17 07:23] deepikakeshav-qasource opened #102456 "[Security Solution] The link for the case name is not working"
**Description**
The link for the case name is not working

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to detection tab of security.
2. Attach the alert to case.
3. Navigate to the case tab under security.
2. Click on case that we added the alert.
3. Click on the "Aler

[2021-06-17 07:23] elasticmachine commented on #102456
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 07:23] elasticmachine commented on #102456
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-17 07:24] deepikakeshav-qasource commented on #102456
@manishgupta-qasource Please review

[2021-06-17 07:38] manishgupta-qasource commented on #102455
Reviewed & Assigned to @kevinlog

[2021-06-17 07:39] manishgupta-qasource commented on #102456
Reviewed & Assigned to @kevinlog

[2021-06-17 07:42] GrahamHannington commented on #102329
Hi @stratoula ,

Understood, thanks for the clarification.

For now, then, I'll go with the workaround: update the `.kibana` index pattern to use the `updated_at` field as its `timeFieldName`, and ensure my TSVB Markdown visualizations refer to that time field.

I look forward to not having to use TSVB to present custom-styled static Markdown. (For example, a fix for #13313, and preferably also #9

[2021-06-17 07:42] #102329 closed

[2021-06-17 07:57] mandeepkaur-qasource commented on #100259
Hi @MadameSheema,

We have validated this issue on 7.14.0 snapshot and found that the issue is still occurring as user is not able to access the alert table by scrolling down the timeline on providing long content in 'Description' section.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41559
Commit: 9838db392e7fcfc12f004b68fb1b09739f131148
Artifact link: https://artifacts-api.elastic.co/v1/se

[2021-06-17 08:00] karanbirsingh-qasource opened #102460 "[Security Solution]Missing username initial letter under Event Filter Modals for superuser"
**Describe the bug**
Missing username initial letter under Event Filter Modals for superuser

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Create another user under stack management.

**Steps to Reproduce**
1.Login to Kibana with superuser.
2.Go to Security App.
3. Go to Administration Tab > Events Filters.
4.

[2021-06-17 08:00] elasticmachine commented on #102460
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 08:01] karanbirsingh-qasource commented on #102460
@manishgupta-qasource please review

[2021-06-17 08:02] flash1293 commented on #101705
@harsha-gsai I looked into this problem and this happens if the field name is not the same as the key in the original `_source` object you indexed.

It seems like you are using a default mapping and got the `.keyword` suffix for the keyword variant of your field.

Changing your mapping so `user_details.first_name` is of type keyword, then getting the top value of that field should make it work.

T

[2021-06-17 08:03] aarju opened #102461 "Feature Request: Provide an easy way to filter for runtime fields in the Index Patterns page."
**Describe the feature:**
Within the Kibana->Stack Management->Index Patterns interface there should be an easy way to filter to view all of the runtime fields in an index.

**Describe a specific use case for the feature:**
An admin is troubleshooting performance issues on an index that they believe is caused by a painless script in a runtime field. with this feature they can filter to only view t

[2021-06-17 08:05] flash1293 commented on #74910
Not sure how far we should reach into SQL territory with this. If we go with `count(field)` / `count(all field)`, we should also go with `count(distinct field)` for cardinality, but that's called `unique_count(field)` already.

[2021-06-17 08:17] katrin-freihofner opened #102462 "[RAC] Cases: update settings text"
<img width="1680" alt="Screenshot 2021-06-10 at 16 23 09" src="https://user-images.githubusercontent.com/20965076/122358611-17005680-cf55-11eb-959b-b6db9c234b33.png">

We'd like to update the wording on the cases settings page. To the following:

**Case closures**
Define how to close your cases. Automatic closures require an established connection to an external incident management system.
Automat

[2021-06-17 08:17] #102398 closed

[2021-06-17 08:19] katrin-freihofner opened #102465 "[RAC] Polish cases view: table column width"
Let's adjust the width of the columns to better adjust to the content.

This is dependent on:
https://github.com/elastic/kibana/issues/102466
https://github.com/elastic/kibana/issues/102468

<img width="1056" alt="Screen Shot 2021-06-21 at 8 19 39 AM" src="https://user-images.githubusercontent.com/67915896/122786744-7a49fb80-d269-11eb-81a7-a42f671d9d0e.png">

[2021-06-17 08:20] dasansol92 commented on #102448
@muskangulati-qasource @kevinlog It seems this error was introduced [here](https://github.com/elastic/kibana/pull/99848/files#diff-b278029c5e0754f0be2b5c7fb170b37dcd12b494226e82ca64ab26527a79bc80L160) 10 days ago and was fixed [here](https://github.com/elastic/kibana/pull/101804/files#diff-b278029c5e0754f0be2b5c7fb170b37dcd12b494226e82ca64ab26527a79bc80R160) 8 days ago.

It's working locally in bo

[2021-06-17 08:21] harsha-gsai commented on #101705
@flash1293 I tried to change it from index pattern but kibana is not allowing me to change the field type of `user_details.first_name` from text to keyword. The type filed inside the edit is greyed out. Can you please suggest me how to do that? Thanks in advance.

![image](https://user-images.githubusercontent.com/78343064/122359299-11196e00-cf73-11eb-91ae-9d0f2216c3ed.png)

[2021-06-17 08:22] katrin-freihofner opened #102466 "[RAC] cases table: remove "Incident management" system column and add icon to "External incident" column"
Is there a need for a separate incident management column? The link to the incident system is already available in the "External incident" column next to it.

Desired state
<img width="1117" alt="Screen Shot 2021-06-17 at 11 06 35 AM" src="https://user-images.githubusercontent.com/67915896/122450674-1f0fc480-cf5c-11eb-876c-4f062300ee15.png">

Current state
![](https://whimuc.com/NDiXirfDRLaGcYWKQY

[2021-06-17 08:27] aarju opened #102467 "Provide an easy way to apply a runtime field to an index mapping or ingest processor"
**Describe the feature:**
A feature within the Kibana Index management interface that allows an administrative user to easily convert a runtime field to a 'permanent' field within the Elasticsearch index mappings. It could be a button to apply the changes to the index directly, or even a pop-up that displays the command to run in the dev console to update the mapping for that field and remove the

[2021-06-17 08:27] katrin-freihofner opened #102468 "[RAC] polish cases table: change status UX"
Let's remove the overflow menu and move the actions to be available directly.

**Mockup**
<img width="1056" alt="Screen Shot 2021-06-21 at 8 19 39 AM" src="https://user-images.githubusercontent.com/67915896/122786744-7a49fb80-d269-11eb-81a7-a42f671d9d0e.png">

The status of a case can be changed by clicking the badge.

<img width="243" alt="Screenshot 2021-06-23 at 10 07 49" src="https://user-imag

[2021-06-17 08:27] #100880 closed

[2021-06-17 08:29] muskangulati-qasource opened #102469 "[Security Solution] The search tab does not work for the Activity Log under the Endpoints Tab"
**Describe the feature**
The search tab does not work for the Activity Log under the Endpoints Tab

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Isolate host and add a message for the same
3. Observe in the Activity log tab, the search button does not work

**Test data*

[2021-06-17 08:29] elasticmachine commented on #102469
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-17 08:29] elasticmachine commented on #102469
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 08:30] flash1293 commented on #101705
You can't do this in Kibana - you have to change the mapping of your Elasticsearch index which will involve re-indexing existing data:
* Create new index with the mapping changed so `user_details.first_name` is a keyword itself, all other mappings being the same
* Use the reindex API to move the existing data from the current index into the new index
* Use the new index to build the visualization

[2021-06-17 08:30] katrin-freihofner opened #102471 "[RAC] polish cases overview header"
Let's improve the responsive behavior of the cases overview header.

- Hide counters?
- Align buttons

<img width="771" alt="Screenshot 2021-05-31 at 09 57 05" src="https://user-images.githubusercontent.com/20965076/122360582-c8ec5280-cf56-11eb-914b-5e95cb450702.png">

[2021-06-17 08:33] katrin-freihofner opened #102472 "[RAC] Move banner in case details view"
Select external connector banner is very large and should be moved to the external connector section.
+ text changes

<img width="1441" alt="Screenshot 2021-06-17 at 10 32 28" src="https://user-images.githubusercontent.com/20965076/122361214-54fe7a00-cf57-11eb-93df-8ff53581f9f9.png">
The `add connector` button has the same functionality as the edit button next to the title.

[2021-06-17 08:35] karanbirsingh-qasource commented on #102045
Hi Team,

we have observed another pagination scenario for which the same issue is occuring .

**Build Details:**
[code]
Please find bellow details for the same.
- Create at least 11 Event entries
- Go to page 2
- set per page pagination to 20
- All the data got disappeared

https://user-images.githubusercontent.com/59917825/122361343-c993e180-cf74-11eb-9583-c5c23dad2647.mp4

We will regress this

[2021-06-17 08:36] katrin-freihofner opened #102473 "[RAC] remove comments input if case is closed"
Remove comments input if the case is closed and add an option to reopen.

<img width="1440" alt="Screenshot 2021-06-17 at 10 35 13" src="https://user-images.githubusercontent.com/20965076/122361768-d8b86680-cf57-11eb-83c4-1a5a977295b2.png">

[2021-06-17 08:39] katrin-freihofner opened #102474 "[RAC] case details no clear primary action"
Let's clean up the buttons underneath the comment input.

<img width="869" alt="Screenshot 2021-06-17 at 10 39 29" src="https://user-images.githubusercontent.com/20965076/122362304-4fedfa80-cf58-11eb-91ef-be7646e231bd.png">

[2021-06-17 08:52] jsoriano commented on #82273
Sounds good, thanks!

[2021-06-17 08:55] katrin-freihofner opened #102475 "[Meta][RAC] cases polish 7.14"
These are the things we would like to polish for 7.14.

- [x] [Cases: update settings text](https://github.com/elastic/kibana/issues/102462)
- [x] [Polish cases view: table column width](https://github.com/elastic/kibana/issues/102465)
- [x] [cases table: remove Incident management system column](https://github.com/elastic/kibana/issues/102466)
- [x] [polish cases table: change status UX](https://

[2021-06-17 08:56] dasansol92 commented on #102045
Hi @karanbirsingh-qasource . This pr: https://github.com/elastic/kibana/pull/102173 should fix both. Thanks!

[2021-06-17 09:11] manishgupta-qasource commented on #102469
Reviewed & Assigned to @kevinlog

[2021-06-17 09:15] formgeist opened #102476 "[Uptime] Use `hasBorder={true}` on panels within page content"
# Summary

Since converting to use the new page template, the inner content panels will need to have another style as to not have double shadow depth. This means adding the `hasBorder={true}` prop to all panels in the Uptime app.

### Examples within Uptime

<img width="1478" alt="Screenshot 2021-06-17 at 11 12 35" src="https://user-images.githubusercontent.com/4104278/122367873-1e2b6280-cf5d-11eb

[2021-06-17 09:15] elasticmachine commented on #102476
Pinging @elastic/uptime (Team:uptime)

[2021-06-17 09:54] kibanamachine commented on #101454
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14725/)

[2021-06-17 10:17] #35043 closed

[2021-06-17 10:33] amolnater-qasource opened #102483 "[Fleet]: Dropdown filters "Dataset" and "Log level" get stuck on few clicks under Logs tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent logs tab.
3. Click on Dataset and Log Level dropdown filter 2-3 times.
4. Click somewhere else and observe

[2021-06-17 10:34] elasticmachine commented on #102483
Pinging @elastic/fleet (Team:Fleet)

[2021-06-17 10:34] thomasneirynck commented on #78314
Looking at this closer, Maps _can_ distinguish between auto-refresh updates and clicking of the refresh button in the Maps-app, but not the MapsEmbeddable.

In hindsight, I'm not even sure if layers for which the "apply global filter" flag is turned off should respond to clicks on the refresh button anyway. When that flag is turned off, layers should basically behave as a static layer, only loadin

[2021-06-17 10:35] amolnater-qasource commented on #102483
@manishgupta-qasource Please review.

[2021-06-17 10:39] thomasneirynck commented on #81703
support of equivalent to `min_doc_count` should be introduced  in Maps.

[2021-06-17 10:55] karanbirsingh-qasource opened #102484 "[Security Solution]event.severity field value can be set to negative number"
**Describe the bug**
event.severity field value can be set to negative number

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Endpoint Security should be installed.

**Steps to Reproduce**
1.login to kibana.
2.Go to detection tab.
3.Click on Add rule exception.
4.select event.severity field and click on down arr

[2021-06-17 10:55] elasticmachine commented on #102484
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 10:55] elasticmachine commented on #102247
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 10:59] elasticmachine commented on #101694
Pinging @elastic/fleet (Team:Fleet)

[2021-06-17 10:59] katrin-freihofner opened #102485 "[Metrics UI] change "create alert" label"
We need to change all `alert` labels to `rule`. There has already been done some work here: https://github.com/elastic/kibana/pull/100918 but Metrics has been postponed.

Other instances where we still need to find a label:

### node detail pane:
![image](https://user-images.githubusercontent.com/973741/120367628-63bb1f00-c311-11eb-9d70-1eb7edb78985.png)

edit: language should be `Create inventory

[2021-06-17 11:00] kertal commented on #101982
could you provide some details when this error is happening? thx

[2021-06-17 11:02] elasticmachine commented on #102467
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-17 11:24] elasticmachine commented on #102461
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-17 11:24] joshdover commented on #102438
Yes I think we can pull this directly from `PackageInfo` which will always be in sync with the version in `package.json`. If you go with the option Pierre suggested, we'll likely just need to modify the `ConstructorParams` for `ChromeService` to accept the `CoreContext` type that we construct here: https://github.com/elastic/kibana/blob/f5e8b108da67caeadfd970a2af9113f1cc68c111/src/core/public/core

[2021-06-17 11:25] elasticmachine commented on #102287
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-17 11:32] kevinlog commented on #102455
This is a duplicate of this bug - https://github.com/elastic/security-team/issues/1206

Will close this one in favor of the other ticket.

[2021-06-17 11:32] #102455 closed

[2021-06-17 11:32] #91481 closed

[2021-06-17 11:34] manishgupta-qasource commented on #102484
Reviewed & assigned to @kevinlog

[2021-06-17 11:38] kevinlog commented on #102469
@ashokaditya we can use this as a reminder to remove the search bar.

@muskangulati-qasource - we won't ship a search bar in 7.14, we just need to remove it from the UI here.

[2021-06-17 11:40] ghost opened #102487 "[Security Solution]Message text and Field name hover text are getting overlapped on 'Customize Event Renderers' modal window."
**Description:**
Message text and Field name hover text are getting overlapped on 'Customize Event Renderers' modal window.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41559
Commit: 9838db392e7fcfc12f004b68fb1b09739f131148
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint sec

[2021-06-17 11:40] elasticmachine commented on #102487
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 11:40] deepikakeshav-qasource opened #102488 "[Security Solution] UI is broken when Endpoint Security Exception List added in multiple rules."
**Description**
UI is broken when Endpoint Security Exception List added in multiple rules.

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to detection tab of security.
2. Create the multiple custom rules with enable the option "Add existing Endpoint exceptions to the rul

[2021-06-17 11:40] elasticmachine commented on #102488
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 11:41] deepikakeshav-qasource commented on #102488
@manishgupta-qasource Please review!!

[2021-06-17 11:41] mandeepkaur-qasource commented on #102487
@manishgupta-qasource Please review

[2021-06-17 11:41] manishgupta-qasource commented on #102487
Reviewed & Assigned to @MadameSheema

[2021-06-17 11:41] flash1293 opened #102489 "[Lens] Add telemetry for formula help popover"
There's already an ui counter for opening help popovers in Lens (`open_help_popover`). To gather the same information for the formula documentation specifically, a similar ui counter should be implemented (`open_formula_help_popover`)

[2021-06-17 11:41] elasticmachine commented on #102489
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 11:42] manishgupta-qasource commented on #102488
Reviewed & Assigned to @MadameSheema

[2021-06-17 11:46] jakommo opened #102491 "[Fleet] "Go to download page" should link to the same version the stack is running in an not the latest release"
**Kibana version:** 7.12.1 (but also 7.13.2)

**Elasticsearch version:** 7.12.1

**Describe the bug:**

When you add a new agent under Fleet -> Agents -> Add new Agent, the `Go to download page` button links to `https://ela.st/download-elastic-agent` which redirects to `https://www.elastic.co/downloads/elastic-agent` and thus the latest released version of the Agent, rather than the Agent matching

[2021-06-17 11:46] elasticmachine commented on #102491
Pinging @elastic/fleet (Team:Fleet)

[2021-06-17 11:48] legrego commented on #102427
Ah yeah this is confusing. In addition to the documented cluster privileges, you also need _some_ privilege to access Kibana. Cluster privileges alone won't allow you to authenticate to Kibana, you also need to have a Kibana privilege -- the most basic one would be `Read` access to `Advanced Settings`. A related issue you may be interested in: https://github.com/elastic/kibana/issues/102129

[2021-06-17 11:58] flash1293 opened #102493 "[Lens] Absolute time shifts"
Currently time shift only allows to shift by a relative amount of time (e.g. "1 week"). However when investigating events it often makes sense to have a "reference" time range which is compared to the current time range. While it's possible to do the calculation and do a relative shift, for these cases it would be much easier to specify the date to shift to.

The following questions have to be ans

[2021-06-17 11:58] elasticmachine commented on #102493
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 12:01] mistic commented on #101454
The test keeps failing and looks flaky. Skipping for now.

master/8.0: 9569fe0
7.x/7.14: ec19fa4

[2021-06-17 12:06] flash1293 commented on #102245
Fixed by https://github.com/elastic/kibana/pull/101718

[2021-06-17 12:06] #102245 closed

[2021-06-17 12:17] dgieselaar commented on #101408
@rashmivkulkarni hey Rashmi, anything we can do to move this issue forward?

[2021-06-17 12:25] flash1293 commented on #100111
I tested with the new EUI version https://github.com/elastic/kibana/pull/101334 and the EUI side fix takes care of the left click scenario (no freezes anymore), but not the right click scenario (still freezes). As right click is much less likely I'm going to move this to minor bugs, but we should still try to find a fix during next fix-it week.

[2021-06-17 12:30] kertal opened #102495 "[Discover] Display of multi fields when root field is not indexed"
**Kibana version:**
7.13.1  (discovered, but most likely 7.12+)
**Describe the bug:**

In case there's a multi fields and its root field is not indexed (e.g. because of the `ignore_above` setting), its child field is not displayed.  So here's an example: `error.stack_trace` is a keyword field with `ignore_above` set to 10, it contains a text field `error.stack_trace.text`. So when there a string t

[2021-06-17 12:30] elasticmachine commented on #102495
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 12:38] flash1293 commented on #85771
Most of the infrastructure is already able to do this, we just need to pass a request id as part of the inspector options to the search source:

* Add an additional optional argument to `esAggs` : `searchId`
* If it's not set, clear the full request adapter (as we do right now) in `request_handler`
* If it is set, we will simply overwrite the request
* Pass the id to the search source as part of t

[2021-06-17 12:41] ghudgins commented on #74910
I think `count(distinct field)` could be an interesting convenience function (like we let that work how the user expects but don't document it) but it's probably too complex...we'd have to make sure it works with time shifts and KQL and it just gets weirder from there so it's probably too much syntax mashing. I'm always open to shortcuts from what a user expects, though. we could show a message if

[2021-06-17 12:49] ghudgins commented on #74247
+1 on this from a usability test yesterday

[2021-06-17 12:53] samratbhadra-qasource opened #102498 "Extra zeroes are appended with the Integer valued in integration name"
**Describe the bug**
Extra zeroes are appended with the Integer valued in integration name

**Build Details**

Version: 7.14.0-SNAPSHOT
Commit:  9838db392e7fcfc12f004b68fb1b09739f131148
Build number: 41559
Artifact: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Preconditions**
Elastic 7.14.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce**

Navigate to the administr

[2021-06-17 12:54] elasticmachine commented on #102498
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 12:54] samratbhadra-qasource commented on #102498
@manishgupta-qasource please review

[2021-06-17 12:56] #100253 closed

[2021-06-17 12:57] elasticmachine commented on #102498
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-17 12:57] stacey-gammon commented on #50216
@joshdover @ppisljar - This looks like another use case for Persistable State. This is an interesting one though because it appears that the registrar can define _mappings_ on the saved object. I was hoping we could get away with just leveraging "migrateToLatest" functionality rather than the SO-required object mapping of version to migrate function, but because of this use case, we may need to co

[2021-06-17 12:58] formgeist opened #102499 "[APM] Design review [meta]: ML Correlations UX"
# Summary

This is a meta issue containing all related UX and design review notes for the new ML correlations feature in APM. The intent is to go through these issues and proposals with the ML team who are responsible for carrying out the implementation in this first iteration and open separate tickets for the issues we're going to include in this release scope.

# Review

**Legend**
- 📌 TBD for l

[2021-06-17 12:58] elasticmachine commented on #102499
Pinging @elastic/apm-ui (Team:apm)

[2021-06-17 13:00] muskangulati-qasource commented on #102498
Reviewed & assigned to @kevinlog

[2021-06-17 13:12] dikshachauhan-qasource commented on #102408
Hi @EricDavisX

Yes, It is a regressed behavior we observed while exploratory.

[2021-06-17 13:14] kpollich commented on #100978
There are two existing flows that we will want to maintain this behavior for:

1. Endpoint's onboarding flow
2. `osquery`'s onboarding flow

Both of these apps include behavior along these lines:

1. Prompt user to install an integration
2. Deep link into integrations app to package install page
3. Install installation
4. Redirect to a configured location
  - For endpoint, this is back into the se

[2021-06-17 13:15] ghudgins commented on #102405
@markov00 mentions i18n (can we use translatable intervals via moment or something) and considering the word "ago" in the dropdown (example: 1 week ago)

this concept overall is sometimes referred to as time stamp humanization

[2021-06-17 13:22] flash1293 commented on #74910
I think the danger here is to make both the implementation and the tool itself more complex in order to make it easier for people to pick up formula, which will in the long term do more harm than good. Let's say we would implement `count(distinct field)` to do the same as `unique_count(field)` - people getting used to the first because it's what SQL does would expect everything to work like SQL an

[2021-06-17 13:24] dikshachauhan-qasource commented on #92612
Hi @jen-huang Thanks for the feedback and confirmation.

[2021-06-17 13:25] flash1293 commented on #102405
These are two separate things - the phrase `1 week ago` in the dropdown is already translated. The underlying value is just `1w` (and I don't think we should translate these as it will get very messy and I don't see a good reason for it - we also don't translate function names)

[2021-06-17 13:28] stephmilovic commented on #102473
the reason we did this is to follow github's example, sometimes closed issues need comments too

[2021-06-17 13:29] stephmilovic commented on #102475
🇵🇱

[2021-06-17 13:33] patrykkopycinski commented on #102475
🇵🇱
https://user-images.githubusercontent.com/5188868/122406720-593f8d00-cf81-11eb-827d-7fd8ef05c164.mp4

[2021-06-17 13:39] stephmilovic commented on #102473
<img width="956" alt="Screen Shot 2021-06-17 at 7 39 26 AM" src="https://user-images.githubusercontent.com/6935300/122407891-312f3a00-cf3f-11eb-9bfd-8e875533a06c.png">

[2021-06-17 13:39] jthack commented on #96029
100% agree with @thekofimensah. As a daily user of kibana, it makes the discover page so difficult to visually parse.

[2021-06-17 13:45] kpollich commented on #101723
Another area this comes up is now that we'll have packages in the global Kibana search bar (https://github.com/elastic/kibana/pull/102227), when clicking those results from the Integrations app the page won't actually change.

![Kapture 2021-06-17 at 09 43 04](https://user-images.githubusercontent.com/6766512/122408650-8cb5f380-cf50-11eb-8a89-227f874d8767.gif)

I think this is something to do with

[2021-06-17 13:45] #86171 closed

[2021-06-17 13:51] mshustov commented on #97934
We've spent several days talking with @felixbarny about implementing this functionality and improving the observability for the whole Stack at the same time. I updated the https://github.com/elastic/kibana/issues/101587 description to reflect the current plan. Feel free to chime in.

[2021-06-17 14:25] david-rooke opened #102512 "Index pattern provisioning error"
**Kibana version:**
7.11.2
**Elasticsearch version:**
7.11.1
**Server OS version:**
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME_URL="https://amazonlinux.com/"**Browser version:**

**Browser OS version:**
n/a
**Original install method (e.g. download page, yum, fro

[2021-06-17 14:30] ghudgins opened #102514 "[Lens] Axis controls look too much like sorting controls"
**Describe the feature:**
For these icons in Lens, consider changing the arrow from `<->` to just `->`. Consider other ways to solve this as well, this is just a suggestion
![image](https://user-images.githubusercontent.com/5465514/122416508-cbe74300-cf56-11eb-95fa-13d1f5d10691.png)

**Describe a specific use case for the feature:**
We have some informal usability feedback that this icon can look

[2021-06-17 14:30] elasticmachine commented on #102514
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 14:46] markov00 commented on #102405
@flash1293 you are right, we were talking about time and ended up talking about that humanize the timestamp in general.
I think we just mess up with the ideas in this ticket

[2021-06-17 14:49] felixbarny commented on #101587
Adding a bit of background why we've decided to not use the RUM agent for that particular part.

This would require support for baggage, and either the ability to manually inject headers (https://github.com/elastic/apm-agent-rum-js/issues/468) or a context management API (https://github.com/elastic/apm-agent-rum-js/issues/1040). As that's a lot of dependencies and a non-trivial amount of work for

[2021-06-17 14:49] hueyg commented on #95321
Forgive my ignorance, but how do you carry out these POST and GET commands if you cannot run Kibana to use the Console then I assume you can use CURL, but what exactly am I carrying out these commands against?  What port?

I came here from the 7.13 documentation and suffering this exact issue from a cluster that I have had around since 6.x days.  The upgrades where carried out from official elasct

[2021-06-17 14:57] Zacqary commented on #92612
Yesterday I did some more tests, and it turns out the upgrade process (adapted from the logic of the `update` API) will not error out if a field has been added in the next version, but it also won't automatically pull the default value from the template. This leads to an error when the user opens the integration in the UI.

We'll need to merge the template defaults with the pre-existing inputs. `u

[2021-06-17 15:01] pgayvallet commented on #95321
Any CLI or GUI client, such as `curl` or `postman`

e.g for `curl`

[code]

Your configured ES port. The default is `9200`

[2021-06-17 15:04] hueyg commented on #95321
Thank you pgayvallet!

[2021-06-17 15:08] kpollich commented on #102408
Digging around here the same way I investigated over on https://github.com/elastic/integrations/issues/1137. It seems this behavior is present prior to dc1d98ba177ce8dfdf312b9dd5c0b8c7404d147d as well, so looks like either a preexisting issue or a regression caused outside of the top-level integration feature work.

![Kapture 2021-06-17 at 11 07 00](https://user-images.githubusercontent.com/676651

[2021-06-17 15:08] dikshachauhan-qasource opened #102519 "Installed successfully message is displayed instead of Package updated successfully message when integration with lower package version is updated."
**Kibana version:** 7.14.0 Snapshot Kibana staging environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14.0 Snapshot Kibana staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Integrations tab.
3. Using Below API change the integration package version.
curl -X POST -u el

[2021-06-17 15:11] jen-huang commented on #102519
Comments are kept on issue transfer, so went ahead and transferred this to Kibana.

Yeah, we'll keep updating the meta with verified issues/regressions.

[2021-06-17 15:17] jen-huang commented on #101694
@nchaulet Do you think this error is the same as what you fixed in #101752?

[2021-06-17 15:18] kibanamachine commented on #102332
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14729/)

[2021-06-17 15:31] jportner commented on #81605
![image](https://user-images.githubusercontent.com/5295965/122427979-89763400-cf5f-11eb-91a1-a5d9f00f0e54.png)
Looks great!

[2021-06-17 15:35] jbudz commented on #102332
skipped
main: c79519a
7.x: 126b58f

[2021-06-17 15:36] dasansol92 commented on #102044
PR: https://github.com/elastic/kibana/pull/102522

[2021-06-17 15:38] nchaulet commented on #101723
@kpollich I think it could be solved with something like this https://github.com/elastic/kibana/pull/102523 (the dashboard plugin is doing something very similar)

[2021-06-17 15:39] nerophon commented on #17879
Perhaps we might break this issue down into manageable chunks? For example putting a configurable logo next to ours here and there in the app as a first step? To me it seems like a win-win from all angles. If we can make simple progress like this, we'll satisfy the majority of requests without causing us excessive code-strain :)

[2021-06-17 15:43] elasticmachine commented on #86100
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 15:43] elasticmachine commented on #86100
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-17 15:45] simitt commented on #100661
Some more details how to make decisions according to https://github.com/elastic/kibana/issues/100661#issuecomment-853124645:

## Figure out which scenarios are available
branch | condition
-- | --
&nbsp; | &nbsp;
Kibana on Cloud and does an APM cluster exist? | cloud plugin: isCloudEnabled &amp;&amp; apm.url != ""
Does Elastic Cloud managed policy with APM Integration exist? | query Fleet API for

[2021-06-17 15:50] thomasneirynck opened #102525 "[Maps] Default buffer is too large"
Snapping the buffer (viewbounds after expansion) to the tiles of the current zoom levels creates a buffer that is too large.

This was introduced in https://github.com/elastic/kibana/pull/100717.

It is noticeable with dense large data, that looks a lot more sparse when the 10k data limit is used.

[2021-06-17 15:50] elasticmachine commented on #102525
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-17 15:50] ghudgins commented on #102405
we aren't using the word `ago` in that dropdown. might be worth adding (since it'll get translated)

[2021-06-17 15:52] #101898 closed

[2021-06-17 15:53] nreese commented on #102525
would it make sense to remove the 50% extent increase and just use tile boundaries?

[2021-06-17 15:54] ghudgins commented on #74910
just closing the loop - I retract the tangent about count following a discussion. We agreed it's a slippery slope to support some SQL syntax and not others in custom formula. Thanks for the clarification

We can continue the discussion about the value count aggregation in Lens. Appreciate the conversation!

[2021-06-17 15:57] flash1293 commented on #102332
Name of the panel is duplicated:
<img width="694" alt="Screenshot 2021-06-17 at 17 56 21" src="https://user-images.githubusercontent.com/1508364/122432131-5b134b80-cf95-11eb-887b-90df17fb415f.png">

This happens because
[code]

in `test/functional/page_objects/time_to_visualize_page.ts` is not fully reliable.

We had that in other places as well. In these cases using the "clear with keyboard" and

[2021-06-17 16:14] ppf2 commented on #96029
For those looking for a quick U/X workaround, please see the workaround proposed [here](https://github.com/elastic/kibana/issues/96029#issuecomment-819658319).

[2021-06-17 16:38] yuliacech opened #102531 "[Index Management][Mappings Editor] Add mappings parameters for dimensions and metrics"
Elasticsearch will be adding new mappings parameters for dimensions and metrics ([#74014](https://github.com/elastic/elasticsearch/issues/74014))

Most systems will have index templates installed by a Fleet agent (when setting up data ingestion). Those index templates will have the new dimensions/metrics mapping parameters defined. So we need a way for users to add / edit the new mappings paramete

[2021-06-17 16:38] elasticmachine commented on #102531
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-17 16:55] peluja1012 commented on #86100
Implemented by this PR https://github.com/elastic/kibana/pull/90826

[2021-06-17 16:55] #86100 closed

[2021-06-17 16:56] elasticmachine commented on #86625
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-17 16:56] elasticmachine commented on #86625
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 17:10] trentm commented on #101587
@felixbarny We aren't turning off agent tracing here, though, are we? We are just not sending trace data on to an APM server.

[2021-06-17 17:11] aaronjcaldwell opened #102537 "[Maps] Improve new draw shape flow"
Following up on the introduction of the [new layer wizard](https://github.com/elastic/kibana/pull/96913) and [layer edit tools](https://github.com/elastic/kibana/pull/99812), we need to tie together the user experience to create a better flow unifying the two tools. The following capabilities/changes should be introduced:

1. Update wording for new vector layer to indicate this will also entail dr

[2021-06-17 17:11] elasticmachine commented on #102537
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-17 17:11] azasypkin opened #102538 "Interactive setup mode UI/UX"
Interactive setup mode is the mode Kibana enters to on the first launch if it detects that user hasn't explicitly configured their own connection to Elasticsearch. In this mode, Kibana will present an interface to the user that would allow them to provide Elasticsearch connection information and potentially any other configuration information. Once the information is verified, Kibana will write it

[2021-06-17 17:12] laurentiubanica commented on #100470
Hi,
I have commented the following lines, to go back to the default settings:
#xpack.reporting.csv.maxSizeBytes: 1048576000
#xpack.reporting.csv.scroll.size: 1048576000
#xpack.reporting.csv.scroll.duration: 10m
After having done this, the csv contained only one row with the following characters: @timestamp,"_source". Nothing else.

Then, I changed the xpack.reporting.csv.scroll.size to 100 and ran

[2021-06-17 17:19] #100867 closed

[2021-06-17 17:36] rylnd commented on #100510
As the [indicator](https://github.com/elastic/ecs/pull/1293) and [enrichment](https://github.com/elastic/ecs/pull/1460) RFCs continue to make progress, we're going to be moving this issue to 7.15, with the expectation that those RFCs will be official as part of ECS 1.11.

[2021-06-17 17:49] katrin-freihofner commented on #102473
Talked about this in our UX sync and settled on leaving it as it is right now.

[2021-06-17 17:49] #102473 closed

[2021-06-17 17:57] #101723 closed

[2021-06-17 18:06] wylieconlon commented on #95291
I've done some testing and determined that there is only one workaround available for this bug: Convert the spec to Vega. You can convert the spec to Vega by opening the browser dev tools and typing `VEGA_DEBUG.vega_spec`.

[2021-06-17 18:08] monina-n commented on #102466
**Updated Mock**
<img width="1117" alt="Screen Shot 2021-06-17 at 11 06 35 AM" src="https://user-images.githubusercontent.com/67915896/122450674-1f0fc480-cf5c-11eb-876c-4f062300ee15.png">

Per discussions, the external incident column will have an icon of the type of connector and on hover, it will reveal the name of the connector in a tooltip.

[2021-06-17 18:09] elasticmachine commented on #102260
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-17 18:10] Bamieh commented on #102230
@mshustov @stratoula closing in favor of the other issue since its already referenced in another meta issue.

[2021-06-17 18:10] #102230 closed

[2021-06-17 18:15] rashmivkulkarni commented on #101408
Hi , sorry for the delayed response. ES is very well running and responding to all the other long running API requests. However, what is the way to increase the time out, I might give it a try.

[2021-06-17 18:36] kibanamachine opened #102551 "Failing test: X-Pack Case API Integration Tests.x-pack/test/case_api_integration/security_and_spaces/tests/common/comments/post_comment·ts - cases security and spaces enabled: basic Common post_comment alerts should change the status of the alert if sync alert is on"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14732/)

[2021-06-17 18:37] tylersmalley opened #102552 "[meta] Migrate .kibana esArchives to kbnArchiver"
The `esArchiver` is replacing the [Kibana](https://github.com/elastic/kibana/pull/136302) index, which is not something that Kibana still supports, causing numerous issues. Going forward we will use `kbnArchiver`, which is a saved object export to handle this data. In cases where isolation is required, Spaces can now be used.

## Standard List (Types of Saved Objects that we do migrate)
As alluded

[2021-06-17 18:44] bhavyarm opened #102554 "Kibana should display error message with information instead of internal server error when user tries to import buggy saved objects"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If user tries to import the attached saved object .ndJSON , Kibana displays internal server error instead of displaying wha

[2021-06-17 18:44] elasticmachine commented on #102554
Pinging @elastic/kibana-core (Team:Core)

[2021-06-17 18:53] elasticmachine commented on #102551
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-17 18:58] #101507 closed

[2021-06-17 18:58] #96026 closed

[2021-06-17 19:04] jen-huang commented on #91831
Given the above information where it is only an issue on upgrade from older versions and not new ones, I'm going to close this issue.

[2021-06-17 19:04] #91831 closed

[2021-06-17 19:09] gchaps commented on #86757
We use "multi-field" with a hyphen, so we should use that in both the text and the badge.

[2021-06-17 19:15] TinaHeiligers commented on #101605
Closed by #102281 and #102284

[2021-06-17 19:15] #101605 closed

[2021-06-17 19:16] rashmivkulkarni commented on #102272
There is no other headless browser running ( no other non-headless too.  running locally) when this test runs.  But when the tests are done and when I open the browser- I do see the default space has been created . When I match the time stamps of the logs..looked like this happened when the migration were taking place.

[2021-06-17 19:21] cuff-links commented on #102427
@legrego Thanks.

[2021-06-17 19:27] gtback commented on #76774
Sorry, I haven't had a chance to look at this. And yikes! How has it been 3 months already ⁉️ I'll see if I can figure something out next week.

[2021-06-17 19:47] osmanis commented on #101866
@cristina-eleonora I imagine if an admin configures the home page to be different from the default, they expect different user behaviour from the logo click for those Kibana instances.

[2021-06-17 20:13] hbharding commented on #102317
Thanks @kpollich. You're right, looks like I accidentally omitted the description in the designs. But now that I see it, I think we could add a little more value to the description if we removed the repeat word "integrations" and instead described the value of what Integrations do. How about this instead:

![image](https://user-images.githubusercontent.com/847805/122465851-8f334000-cf86-11eb-884d-

[2021-06-17 22:31] LeeDr opened #102587 "Discover hangs when you re-select the current index pattern"
**Kibana version:** master

**Elasticsearch version:** master

**Server OS version:** Windows 10

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
source (started from x-pack dir with `node scripts/functional_tests_server.js`)

**Describe the bug:** If you select the index pattern in Discover that you are alr

[2021-06-17 22:31] elasticmachine commented on #102587
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-17 22:56] jasonrhodes commented on #100133
Good point, @neptunian -- thanks for calling it out. In my opinion, I think if they are creating their own Stack Monitoring alerts, we can feel confident that they don't need the "default" ones, especially per type. So I'm comfortable with this working the way it is. @ravikesarwani do you have any other concerns about this?

[2021-06-17 22:58] jasonrhodes commented on #100133
One more thing to consider: we currently have a config option that @simianhacker implemented a few weeks ago that restricts the auto-creation of SM alerts to a single space (default), but can be configured to auto-create those alerts in as many spaces as the user likes, listed out by ID.

When we no longer create them by default, I imagine we should just remove this config entirely? As it is, I do

[2021-06-17 23:04] jasonrhodes commented on #100451
Sorry, just saw this -- I think the conventions are the same? The currently proposed convention is:

[code]

where `{registrationContext}` is "observability.apm", `{dataset}` is "alerts", and `{namespace}` is not yet implemented. So it should be writing events to `.alerts-observability.apm.alerts-default` for now. If it's not, we'll fix it. Also, we're not going to write the "evaluation events" fo

[2021-06-17 23:23] geekpete commented on #101007
You might still conditionally show a warning if the number of overlapping policies is greater than the configured concurrent snapshot setting value? `snapshot.max_concurrent_operations`

https://www.elastic.co/guide/en/elasticsearch/reference/current/snapshots-take-snapshot.html#create-snapshot-process-details

For example, if a user has set this to `1` then the warning would be pertinent rather t

[2021-06-18 01:03] LeeDr commented on #102587
Note that I haven't tested 7.x or 7.13 yet but I did test 7.12.0 and we don't have this problem.

[2021-06-18 04:54] karanbirsingh-qasource commented on #102460
Hi @dasansol92

Thanks for looking into the issue.

we have seen that if you go to case tab and create case with same username that is superusers (in cloud) you would see the initial username letter .

**Case:**
![image](https://user-images.githubusercontent.com/59917825/122506416-ecc59c00-d01b-11eb-9cb3-493a41130fe5.png)

**Event Filter:**(**_custom user on kibana_**)
![image](https://user-images

[2021-06-18 05:07] TomonoriSoejima opened #102594 "[ML] Transforms: Add support on create transform UI to accept pipeline."
**Describe the feature:**

**Describe a specific use case for the feature:**

Transform create form appears it can not accept pipeline and currently you need to call [`PUT _transform`](https://www.elastic.co/jp/blog/using-elastic-supervised-machine-learning-for-binary-classification).

Added is a screenshot that explains graphically.

![image](https://user-images.githubusercontent.com/25199092/122

[2021-06-18 05:47] pheyos commented on #93890
This failure didn't come up in the last ~7 weeks. Closing this issue for now.

[2021-06-18 05:57] dgieselaar opened #102595 "Move ES aggregation typings to src/core/server/elasticsearch"
Move ES aggregation types to src/core/server/elasticsearch so we can use .ts files instead of .d.ts, and see errors (the current location will result in the bundler complaining that the files do not belong to a project).

[2021-06-18 05:57] elasticmachine commented on #102595
Pinging @elastic/apm-ui (Team:apm)

[2021-06-18 06:33] dikshachauhan-qasource commented on #102408
Hi @EricDavisX

We have revalidated this issue on 7.13.2 GA shipped build as per your feedback and confirm you that this issue is reproducible.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/122517074-379bdf80-d02d-11eb-9714-1f5b34038ffc.png)

**Build Details:**
[code]

Thanks
QAS

[2021-06-18 06:33] dikshachauhan-qasource commented on #102519
Hi @EricDavisX

We have revalidated this issue on 7.13.2 GA shipped build as per your feedback and confirm you that this issue is partially reproducible.

**Not Working Fine:**
- Installed successfully message is displayed instead of Package updated successfully message when integration with lower package version is updated.
-
**Working Fine:**
- Integration header appears as per integration selec

[2021-06-18 06:40] felixbarny commented on #101587
No we wouldn’t turn off tracing completely when setting `disable_send=true`. We'd work in a mode that's similar to 0% sampling where we may want to noop some things. For example not storing labels, not collecting the ES query and other things that reduce memory and runtime overhead. If we expose getters for `labels`, that may not be possible anymore. OTel doesn't expose getters for their attribute

[2021-06-18 07:13] mbondyra commented on #101621
<img width="872" alt="Screenshot 2021-06-18 at 09 12 32" src="https://user-images.githubusercontent.com/4283304/122521605-52faf080-d015-11eb-89b7-19bd0a080bc7.png">

Thanks for the comment @cchaos  - yeah, it only happens for lower licenses, not enterprise or platinum.

[2021-06-18 07:31] cnasikas opened #102600 "[Cases] Replace `Boom` errors in client/services/routes"
Throwing `Boom` errors is [deprecated](https://www.elastic.co/guide/en/kibana/current/migrating-legacy-plugins-examples.html) in favour of using the functions provided by the `response` handler. We should migrate and replace all `Boom` errors in the case client, services, and routes.

[2021-06-18 07:31] elasticmachine commented on #102600
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 07:31] elasticmachine commented on #102600
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-18 07:34] flash1293 commented on #91087
Closed by https://github.com/elastic/kibana/pull/99297

[2021-06-18 07:34] #91087 closed

[2021-06-18 07:37] shahzad31 opened #102602 "[Exploratory View] Handle index pattern permissions"
If user doesn't have permission to create index pattern, exploratory view breaks.

We should handle this in the UI and let user be aware of this constraints.

[2021-06-18 07:38] elasticmachine commented on #102602
Pinging @elastic/uptime (Team:uptime)

[2021-06-18 07:57] #101816 closed

[2021-06-18 08:03] Dosant opened #102603 "[Bug] @kbn/eslint/module_migration skips re-export syntax"
I [noticed](https://github.com/elastic/kibana/pull/102497#discussion_r654222362) that `@kbn/eslint/module_migration` doesn't validate import that is imported using an export syntax.

See:

[code]

<img width="861" alt="Screen Shot 2021-06-18 at 09 59 02" src="https://user-images.githubusercontent.com/7784120/122527964-1ed6fe00-d01c-11eb-942e-9f0fd05e825b.png">

[2021-06-18 08:03] elasticmachine commented on #102603
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-18 08:05] timroes opened #102605 "[Discover] Using fields option with many fields renders the sidebar slower than source mode"
There currently seem to be some performance impact in the `DiscoverField` component when `readFieldsFromSource` is off, i.e. fields are read from the fields options. The difference in the sidebar is that we'll group multi fields together so the suspicion is, that code is causing performance drawbacks compared to not using it.

My investigation so far show, that this is most likely caused by the [m

[2021-06-18 08:05] elasticmachine commented on #102605
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-18 08:06] dasansol92 commented on #101706
Hi @manishgupta-qasource,
This is because the refresh button just refresh the results depending on the search query. In this case, the search query didn't change so the request is not triggered twice for the same query. This behaviour is the same in trusted apps.

@kevinlog Do you want to prioritise this for 7.14 and dispatch the search every time the search button is clicked?
Maybe @caitlinbetz o

[2021-06-18 08:08] pgayvallet commented on #102009
Reproducing both locally and on cloud instance:

<img width="784" alt="Screenshot 2021-06-18 at 09 35 58" src="https://user-images.githubusercontent.com/1532934/122527055-44173c80-d01b-11eb-878a-c7e5249127c9.png">

<img width="783" alt="Screenshot 2021-06-18 at 09 35 44" src="https://user-images.githubusercontent.com/1532934/122527063-45e10000-d01b-11eb-8c9b-2e4b9c8910a2.png">

It's not impacting

[2021-06-18 08:15] kertal commented on #102605
another performance optimization:

https://github.com/elastic/kibana/blob/504f9d6aac68524e5df4f946bb5999b25b21b429/src/plugins/discover/public/application/apps/main/components/sidebar/discover_field.tsx#L386-L400

L396 check for `infoIsOpen` should be added, to just render it when the Popover is displayed

[2021-06-18 08:19] stratoula opened #102606 "[TSVB] Add more functional tests"
**Describe the feature:**
We want to add more functional tests for our TSVB plugin.

Some scenarios that will be useful to test are:

- **Timeseries**: https://github.com/elastic/kibana/pull/106100
1. Test actual chart data (elastic-charts offers this ability now) (for example with an Avg aggregation, percentile aggregation)
2. Test group by terms (chart data and legends, also colors applied)
3. T

[2021-06-18 08:19] elasticmachine commented on #102606
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-18 08:31] #101877 closed

[2021-06-18 08:32] dasansol92 opened #102607 "[Security Solution] Trusted Apps and Event Filters search bar is returning lists when matching list names"
**Kibana version:** 7.13, 7.14

**Elasticsearch version:** 8

**Describe the bug:** With the current query, exception lists as returned as results when matching names or descriptions. If an exception list matches, the API throws an error because we cannot map exception list into a trusted app.

**Steps to reproduce:**
1. Log in in kibana
2. Go to administration section
3. Go to event filters (in o

[2021-06-18 08:32] elasticmachine commented on #102607
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-18 08:32] elasticmachine commented on #102607
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 08:32] karanbirsingh-qasource opened #102608 "[Security Solution]Incorrect information (10.0) showing under build version details of Endpoint under Administration for window 10"
**Describe the bug**
Incorrect information (10.0) showing under build version details of Endpoint under Administration for window 10

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.
2. Endpoint Security should be installed.

**Steps to Reproduce**
1.login to kibana.
2.Go to Administration tab.
![image](https://user-

[2021-06-18 08:32] elasticmachine commented on #102608
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 08:34] manishgupta-qasource commented on #102608
Reviewed & Assigned to @kevinlog

[2021-06-18 08:36] hendrikmuhs opened #102610 "[ML] Transforms add range support for filter aggregations"
The transform UI support for filter aggregation allows bool, terms and exists queries, however `filter` supports to specify any query:

![image](https://user-images.githubusercontent.com/7126422/122530874-3fed1e00-d01f-11eb-82e7-7f447d679576.png)

Adding generic query support might be too exotic, but it seems to me we should add at least `range` as this is quite useful, e.g. for response code.

As

[2021-06-18 08:36] elasticmachine commented on #102610
Pinging @elastic/ml-ui (:ml)

[2021-06-18 08:45] #101758 closed

[2021-06-18 08:45] dasansol92 commented on #102607
@kevinlog Can we do this fix for 7.13 (just for trusted apps)?

[2021-06-18 08:56] dasansol92 commented on #102607
PR: https://github.com/elastic/kibana/pull/102612

[2021-06-18 09:05] deepikakeshav-qasource opened #102613 "[Security Solution] Alerts are not triggered for windows OS if user add the exception for MAC OS Only."
**Description**
Alerts are not triggered for windows OS if user add the exception for MAC OS Only.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Alerts should be generated

**Steps to Reproduce:**
1. Navigate to detection tab of security.
2. Click on Endpoint security rule.
3. Scroll down and click on "exception" tab.
2. Click on "A

[2021-06-18 09:05] elasticmachine commented on #102613
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 09:05] deepikakeshav-qasource commented on #102613
@manishgupta-qasource Please review!!

[2021-06-18 09:06] manishgupta-qasource commented on #102613
Reviewed & Assigned to @MadameSheema

[2021-06-18 09:21] stratoula commented on #100866
We will do it as Lens
![image](https://user-images.githubusercontent.com/17003240/122538856-a67a3800-d02f-11eb-854a-5b773a009c68.png)

We will allow to set the extents as long as zero is included.

[2021-06-18 09:40] mshustov commented on #101627
closing as the initial implementation is going to use APM nodejs agent from the very beginning https://github.com/elastic/kibana/issues/101587

[2021-06-18 09:42] weltenwort commented on #100451
@jasonrhodes that convention makes sense, thanks for the clarification :+1: I'll double check the index names while working on elastic/kibana#100927.

[2021-06-18 09:47] mshustov opened #102615 "Use APM RUM agent to pass Kibana execution context"
In https://github.com/elastic/kibana/issues/101587, Kibana is going to use a custom `kbn-context` header to pass execution context during a request from the Kibana browser app to the Kibana server.
With https://github.com/elastic/apm-agent-rum-js/issues/1040, we should be able to remove the custom header and switch to APM RUM agent API that will allow associating `context` metadata with an APM tra

[2021-06-18 09:47] elasticmachine commented on #102615
Pinging @elastic/kibana-core (Team:Core)

[2021-06-18 09:52] gmmorris opened #102616 "[Task manager] Evaluate the impact of Ephemeral Tasks"
The Ephemeral Task feature was released in https://github.com/elastic/kibana/issues/90888 (PR: https://github.com/elastic/kibana/pull/97311) under a feature flag and is disabled by default.

In order to open this feature up we need to verify its performance and sustainability at scale.

# Acceptance Criteria

1. Before this is tested, we need to define a concrete experiment which we should write u

[2021-06-18 09:53] elasticmachine commented on #102616
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-18 09:55] muskangulati-qasource opened #102617 "[Security Solution] The 'is not one of' & 'is not' filters give 400 error"
**Describe the feature**
The 'is not one of' & 'is not' filters give 400 error

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Go to Event Filtering Tab
3. Add the following values:
'event.category' 'is not' or 'is not one of'
4. Save the entry
5. Observe an error is thro

[2021-06-18 09:55] elasticmachine commented on #102617
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-18 10:04] felixbarny commented on #102615
This will only work once our agents implement support for [`baggage`](https://www.w3.org/TR/baggage/). This requires a new API to add baggage, as well as header propagation.

[2021-06-18 10:09] dasansol92 commented on #102617
Hi @muskangulati-qasource,
This issue is related to [this](https://github.com/elastic/kibana/issues/102044) one and has been fixed with this [pr](https://github.com/elastic/kibana/pull/102522)
Let me know if you have more questions on this,

Thanks

[2021-06-18 10:09] muskangulati-qasource opened #102619 "[Question] If we add event filters, events are not generated and also alerts are not triggered for the same event filter"
**Description**:
If we add event filters, events are not generated and also, alerts are not generated.
However, if we add endpoint exception, alerts are not generated but events are generated

**Obsrevation**:
Since alerts are a kind of promoted events, and occur if rules are triggered, and on adding event exception, no rule is dependent on the event filter. It should trigger alerts.

**Data used*

[2021-06-18 10:09] elasticmachine commented on #102619
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-18 10:09] elasticmachine commented on #102619
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 10:09] muskangulati-qasource commented on #102619
@manishgupta-qasource please review!!

[2021-06-18 10:10] muskangulati-qasource commented on #102617
Hi @dasansol92,

Thank you for the update. Should we close this issue then?

Thanks!

[2021-06-18 10:12] dasansol92 commented on #102617
I think you can close this or link this with the other one and close both together when those changes are available in 7.14 snapshot.
cc: @kevinlog

[2021-06-18 10:15] manishgupta-qasource commented on #102619
Reviewed & Assigned to @kevinlog

[2021-06-18 10:21] muskangulati-qasource commented on #102617
Sure @dasansol92,

For now, we are keeping this issue open, and once the changes are merged, we will test both scenarios to be sure :)

Thanks!

[2021-06-18 10:23] mostlyjason opened #102621 "[Fleet] Fleet settings docs link is incorrect"
**Kibana version:**
7.13

**Describe the bug:**
The link on the Fleet Settings page to the Fleet User Guide links to https://www.elastic.co/guide/en/fleet/current/index.html. However, it should link to https://www.elastic.co/guide/en/fleet/current/fleet-settings.html. This is a more direct link to the docs about fleet settings.

**Screenshots (if relevant):**
![image](https://user-images.githubuse

[2021-06-18 10:23] elasticmachine commented on #102621
Pinging @elastic/fleet (Team:Fleet)

[2021-06-18 10:29] stratoula opened #102622 "[Visualize] Client Side caching"
**Describe the feature:**
We could do some optimizations in order for our visualizations to cache the data in the browser and only fetch them when is necessary. Even if I change something that affects the chart and not the data (for example change the palette), a search request runs again.

We could use the session id in order to cache our search requests and only trigger them when is necessary.
M

[2021-06-18 10:29] elasticmachine commented on #102622
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-18 10:35] manishgupta-qasource commented on #102617
Reviewed & Assigned to @kevinlog

[2021-06-18 10:37] mostlyjason opened #102623 "[Fleet] Incorrect default Fleet Server port on self-managed clusters"
**Kibana version:**
7.13

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
The default port for Fleet Server in self-managed clusters is 8220 https://www.elastic.co/guide/en/fleet/current/fleet-settings.html. However, the fleet settings dialog sets it to 443.

**Steps to reproduce:**
1. Create a self-managed clusters and add fleet server
2. Se

[2021-06-18 10:37] elasticmachine commented on #102623
Pinging @elastic/fleet (Team:Fleet)

[2021-06-18 10:43] mshustov commented on #102615
@felixbarny Won't APM RUM agent propagate a bound context?
I agree that `baggage` header has the right semantic, we can wait for https://github.com/elastic/apm-agent-nodejs/issues/2102 then.

[2021-06-18 10:51] mshustov opened #102624 "update APM nodejs agent to a version usable without APM-server"
Kibana is going to use the APM nodejs agent for log correlation. For this, we need a mode when the APM nodejs agent can be used without sending data to the APM server.

Blocked by elastic/apm-agent-nodejs#2101 Update to a version containing the enhancement.

After the agent version is updated, investigate whether we can (and should) use APM (see [setCustomContext](https://www.elastic.co/guide/en/a

[2021-06-18 10:51] elasticmachine commented on #102624
Pinging @elastic/kibana-core (Team:Core)

[2021-06-18 10:54] mshustov opened #102625 "updated APM RUM agent to version instrumenting custom transactions"
The custom transactions created by the APM RUM agent aren't propagated to the Kibana server.
Blocked by https://github.com/elastic/apm-agent-rum-js/issues/468
Update to a version fixing the problem.

[2021-06-18 10:54] elasticmachine commented on #102625
Pinging @elastic/kibana-core (Team:Core)

[2021-06-18 10:56] mshustov opened #102626 "Implement execution context management service"
Context should allow Kibana users to unambiguously identify the source of a query in the Kibana App in the browser, Kibana server, or the `task manager`.
[code]

## Client-side
APM RUM agent doesn't provide support for async context propagation in the browser. Kibana will have to implement manual context passing.

A plugin creates an `execution context` object with API provided by Core. Returned v

[2021-06-18 10:56] elasticmachine commented on #102626
Pinging @elastic/kibana-core (Team:Core)

[2021-06-18 11:06] sqren opened #102627 "[RAC] Consider whether APM rules should support metrics"
Currently APM alerts are hardcoded to query transaction indices:

https://github.com/elastic/kibana/blob/e51886522525c361fa10798b806b7d5ac5240b24/x-pack/plugins/apm/server/lib/alerts/register_transaction_duration_alert_type.ts#L90-L92

Instead it should conditionally query the metric index when metrics (pre-aggregated transactions) are enabled:

https://github.com/elastic/kibana/blob/e51886522525c

[2021-06-18 11:06] elasticmachine commented on #102627
Pinging @elastic/apm-ui (Team:apm)

[2021-06-18 11:08] felixbarny commented on #102615
No, our agents only propagate the `traceparent` header which contains correlation IDs. It looks like this:

[code]

All the labels are not propagated to downstream services. Instead, each agent directly sends it's spans to APM Server. Using the trace-id it's then possible to correlate the different events.

[2021-06-18 11:09] ghost opened #102628 "[Security Solution]Incorrect Date showing under trends data over mouser hover on seting last year timestamp"
**Describe the bug**
Incorrect Date showing under trends data over mouser hover on seting last year timestamp

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Fresh Kibana user should be logged in.
2. Fresh Endpoint Security should be installed.

**Steps to Reproduce**
1.login to kibana.
2.Go to detection tab or some other section having trends.
3.

[2021-06-18 11:09] elasticmachine commented on #102628
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 11:11] karanbirsingh-qasource commented on #102628
@manishgupta-qasource please review

[2021-06-18 11:11] mshustov commented on #102615
ok, I wrongly assumed our agent propagates [tracestate](https://w3c.github.io/trace-context/) header as well.

[2021-06-18 11:14] mshustov opened #102629 "[Meta] Implement context propagation for Kibana entities"
Use the service introduced in https://github.com/elastic/kibana/issues/102626 to instrument Kibana code with runtime context metadata:
Phase I:
- Visualizations
  - [x] vis_type_metric
  - [x]  vis_type_table
  - [x] vis_type_tagcloud
  - [x] vis_type_timelion
  - [x] vis_type_timeseries
  - [x] vis_type_vega
  - [x] vis_type_vislib
  - [x] vis_type_xy
  - [x] vis_type_pie
  - [ ] input_controls_v

[2021-06-18 11:14] elasticmachine commented on #102629
Pinging @elastic/kibana-core (Team:Core)

[2021-06-18 11:16] paulb-elastic commented on #102602
@shahzad31 do we have a view of what that will look like (based on other cases where we do this), or do we need input from @liciavale?

[2021-06-18 11:23] karanbirsingh-qasource opened #102630 "[Security Solution]No information of unit of file size number showing under file event for Event Resolver"
**Describe the bug**
No information of unit of file size number showing under file event for Event Resolver

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Fresh Kibana user should be logged in.
2. Fresh Endpoint Security should be installed.
3. Generate Malicious detection alert.

**Steps to Reproduce**
1.login to kibana.
2.Go to detection tab.
3

[2021-06-18 11:23] elasticmachine commented on #102630
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-18 11:23] karanbirsingh-qasource commented on #102630
@manishgupta-qasource please review

[2021-06-18 11:25] stratoula opened #102631 "[TSVB] tooltip on annotations with `'s` are not displayed correctly"
**Kibana version:**
master

**Describe the bug:**
When I create annotations and the values contain `'s` they are not rendered correctly.

![image](https://user-images.githubusercontent.com/17003240/122553744-c108dd00-d040-11eb-9ced-5db44d6fa802.png)

**Steps to reproduce:**
1. Create a new TSVB viz
2. Add annotations from `kibana_sample_data_ecommerce` dataset
3. Configure it in order to create an

[2021-06-18 11:25] elasticmachine commented on #102631
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-18 11:37] manishgupta-qasource commented on #102628
Reviewed & Assigned to @MadameSheema

[2021-06-18 11:37] manishgupta-qasource commented on #102630
Reviewed & Assigned to @MadameSheema

[2021-06-18 11:50] pgayvallet commented on #102353
As discussed during our zoom meeting, I'm mixed on that one. The issue encountered by alerting is caused by multiple things:
- Due to limitations and/or opinionated decisions, the current behavior when executing a task is to assume that if fetching the associated rule returned a 404, it is because it was in a space that was deleted, and that the appropriate action is to also delete the task. This

[2021-06-18 11:55] flash1293 commented on #87551
Adding layer includes a popover for different layer types (threshold being another layer type):
<img width="351" alt="Screenshot 2021-06-18 at 13 49 29" src="https://user-images.githubusercontent.com/1508364/122556746-2b6b4e80-d03c-11eb-910e-d28ca3ddf505.png">

This is how a threshold layer looks like (dimension groups are the axes that can get thresholds):
<img width="352" alt="Screenshot 2021-06

[2021-06-18 11:57] felixbarny commented on #102615
Yep, we transmit that, too. But that header is not meant for user-definable key/value pairs. We use that internally to propagate the sampling rate so that we can upscale metrics.

[2021-06-18 12:08] karanbirsingh-qasource commented on #102487
Hi Team,

We have found another issue under the Customize Event Renders modal on 7.14.0-SNAPSHOT.

Please find below complete details.

**Build Details:**
[code]

**Snap-Shoot:**
- Data is overlapping and nothing is readable
![image](https://user-images.githubusercontent.com/59917825/122558378-a132e280-d05b-11eb-9d6d-f20ee6eb533b.png)

we will regress this above scenario also once this original is

[2021-06-18 12:20] elasticmachine commented on #102608
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-18 12:24] Jamalarm opened #102634 "Cannot access raw JSON of document in discover tab anymore"
**Kibana version**: v 7.13.1

**Elasticsearch version**: v 7.13.1

**Server OS version**: N/A

**Browser version**:  Chrome Version 91.0.4472.106 (Official Build) (64-bit)

**Browser OS version**: Ubuntu

**Original install method (e.g. download page, yum, from source, etc.)**: Elastic Cloud Hosted

**Description of the problem including expected versus actual behavior**:

It seems like Kibana has

[2021-06-18 12:27] machadoum commented on #100259
My PR has been merged and I [backported the fix to 7.x](https://github.com/elastic/kibana/pull/102301) on Jun 16, but It looks like that this snapshot is from Jun 8.

[2021-06-18 12:30] Jamalarm opened #102635 ""View Event With Filter" button in log details modal no longer applies filter correctly"
**Kibana version**: v 7.13.1

**Elasticsearch version**: v 7.13.1

**Server OS version**: N/A

**Browser version**:  Chrome Version 91.0.4472.106 (Official Build) (64-bit)

**Browser OS version**: Ubuntu

**Original install method (e.g. download page, yum, from source, etc.)**: Elastic Cloud Hosted

**Describe the bug:**

**Steps to reproduce:**
1. Open the logs viewer and navigate to a particular

[2021-06-18 12:46] ppisljar opened #102637 "disabled filter in filter bar affects saved filters in searches/visualizations"
**Kibana version:** master, 7.13, possibly older

**Describe the bug:**
creating a saved search with filter and using that saved search in application which adds the same filter and marks it as disabled removes the filter from saved search. same happens if visualization is saved with filter and dashboard adds the same filter and disables it.

**Steps to reproduce:**
1. create saved search (or visu

[2021-06-18 12:46] yuliacech opened #102638 "[Index Management] Display indices/data streams rolled up by rollups v2"
This issue is to discuss and plan work for rollups v2 [project](https://github.com/elastic/elasticsearch/issues/42720), specifically how Index Management UI will display indices and data streams.

Rollups v2 API will not be compatible with the current Rollups API that is used in Index Management to query for and display rolled up indices. We need to discuss following updates to Index Management:
-

[2021-06-18 12:46] elasticmachine commented on #102638
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-18 12:46] elasticmachine commented on #102637
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-18 12:48] elasticmachine commented on #102551
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-18 12:50] #101307 closed

[2021-06-18 12:54] dej611 commented on #102034
Created a first MVP for this: https://github.com/elastic/kibana/issues/102034

Note that the color continuity has been removed in the panel due to some limitations of the `Heatmap` visualization component and a chat with @markov00 from the dataviz team.

In the current PR the color continuity value set is `Above and below range`, which extends the color palette on both extremities as in the Heatma

[2021-06-18 12:55] maihde opened #102640 "[Lens] "Top Values" allows setting missing values switch for numeric fields"
**Kibana version:** master @ b5f0bc9faab

**Elasticsearch version:** 8.0.0 snapshot

**Original install method (e.g. download page, yum, from source, etc.):** Source

**Describe the bug:**

**Addition**:
Part of this is fixed already - https://github.com/elastic/kibana/issues/102640#issuecomment-864867022 is the missing part

Legacy aggregation based visualizations didn't allow "Show missing value

[2021-06-18 13:06] muskangulati-qasource commented on #86102
Hi @MadameSheema,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that an issue occurs on this build too.

**Build Details**:
[code]

**Screenshot**:
![Issue](https://user-images.githubusercontent.com/60252716/122563881-5f596a80-d062-11eb-93e1-82c5725fc7da.JPG)

Hence, reopening this issue.

Thanks!

[2021-06-18 13:06] MadameSheema commented on #100259
@mandeepkaur-qasource can you please validate this issue on latest master branch? thanks :)

[2021-06-18 13:10] elasticmachine commented on #102487
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-18 13:11] flash1293 commented on #102034
I think it makes sense to always do "Above and below range" for a heatmap - the color of a cell is whole deal, so it doesn't make sense to not assign a color. If they really want, the user could work around this by setting the first/last color stop to white (emulating out of range)

[2021-06-18 13:11] flash1293 commented on #102034
cc @ghudgins @MichaelMarcialis

[2021-06-18 13:11] elasticmachine commented on #102628
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-18 13:13] elasticmachine commented on #102630
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-18 13:17] nchaulet commented on #102623
@mostlyjason Not sure there is a bug here, there was a lot of discussion around this but I think it's the way we want it to work (some here https://github.com/elastic/beats/issues/25420 and the implementation here https://github.com/elastic/kibana/pull/98957) the standard for url define that the default port for http is 80 and 443 for https.

[2021-06-18 13:42] MadameSheema commented on #86102
@cnasikas can you please take a look at this? Thanks :)

[2021-06-18 13:52] elasticmachine commented on #102613
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-18 14:18] pchesneau commented on #100982
Hello! I just ran into the exact same issue. You're not alone ;)  (I've not yet had time to further investigate the issue though)

[2021-06-18 14:31] Dosant commented on #14395
@elastic/kibana-core, I bumped into this issue. Wasn't this already implemented?

https://github.com/elastic/kibana/blob/d65416c60c803092eb17b80e77836e5ef772a429/src/core/server/ui_settings/ui_settings_config.ts#L24-L28

I noticed, that this config option wasn't documented https://www.elastic.co/guide/en/kibana/current/settings.html
Is this intentional and shouldn't be used? Or otherwise, should w

[2021-06-18 14:31] ruflin opened #102651 "[Fleet] Synthetics data streams do not show up in data streams list"
I'm using the synthetics integration and it ships data to the `synthetics-*-*` data streams. But these data streams do not show up in the data streams page in Fleet, only logs and metrics.

My assumption is that it missing in the filter. `traces` from APM might also be missing.

We should ensure to somehow keep this in sync with the spec supported prefixes: https://github.com/elastic/package-spec/

[2021-06-18 14:31] elasticmachine commented on #102651
Pinging @elastic/fleet (Team:Fleet)

[2021-06-18 14:32] #102180 closed

[2021-06-18 14:51] kevinlog commented on #101706
@dasansol92 it makes sense to me to have the refresh button also check for new entries so the user doesn't have to switch tabs or refresh the page.  It would be good to address for this release, but it's not a critical blocker.  If you have cycles next week with no other critical issues, you should pick it up.

let me know your thoughts @bfishel @caitlinbetz

[2021-06-18 14:56] kevinlog commented on #102619
@ferullo - fyi on this.

@muskangulati-qasource observation makes sense.  Since the Event Filter blocks the event from ever being streamed to ES, the Custom Rule will never trigger because it's run in the detections engine in the server.  I'm not quite sure how we would work around something like this (maybe there is no working around it and this is expected).  We need to document this nuance pret

[2021-06-18 15:05] kevinlog commented on #102608
@ferullo we just relay build information that we get from the Endpoint metadata docs.  I'm not sure what would be going on here.

[2021-06-18 15:22] jgowdyelastic opened #102657 "[ML] Calendars and Filters in spaces"
ML jobs became space aware in 7.11 https://github.com/elastic/kibana/pull/77916, however calendars and filter lists which are linked to anomaly detection jobs are still not space aware.

**Problems with calendars**
The UI currently ensures a user can only see space restricted jobs or groups when creating a calendar and attaching it to jobs and groups.
Calendars which are attached to jobs which the

[2021-06-18 15:22] elasticmachine commented on #102657
Pinging @elastic/ml-ui (:ml)

[2021-06-18 15:50] dimitris-athanasiou opened #102661 "[ML] Add reset action for anomaly detection jobs"
**Describe the feature:** From version 7.14 ML has a reset API (see elastic/elasticsearch#73908). This allows users reset a job and start from scratch without having to create a new job with a different name. It would be great to expose this by adding an action button in the UI.

**Describe a specific use case for the feature:** A user wants to reset a job in order to rerun it without changing the

[2021-06-18 15:51] dimitris-athanasiou commented on #102661
When someone picks this up please ping me so I can explain a few more details.

[2021-06-18 15:51] elasticmachine commented on #102661
Pinging @elastic/ml-ui (:ml)

[2021-06-18 15:55] cjcenizal commented on #100844
Just leaving a note here, that AFAIK there aren't any Stack Management plugins that refer to Kibana Index Pattern saved objects -- just ES index patterns, which aren't affected by this effort.

[2021-06-18 16:01] pmuellr commented on #101521
Ya, we need to doc this.  I'm going to start pointing folks asking to this issue, and here's a quick summary:

- **active** - the conditions for the rule have been met, and the associated actions should be invoked
- **ok** - the conditions for the rule had **previously** been met, but no longer are being met.  This will change to **recovered** in a future release (see PR referenced below).
- **err

[2021-06-18 16:06] elasticmachine commented on #102488
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-18 16:37] elasticmachine commented on #102613
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-18 16:40] kevinlog commented on #102613
Chatted with @peluja1012 offline - our team can take this since we (me specifically) introduced this nuance.

Proposed solution is to introduce a third option "Windows and macOS" so that users have the flexibility to create Exceptions for both OSs from scratch.  Linux still needs to remain exclusive because we must form `file.path` values in a way to make them case sensitive.

Options in the dropd

[2021-06-18 17:33] nchaulet commented on #102621
Resolved by https://github.com/elastic/kibana/pull/100698

[2021-06-18 17:33] #102621 closed

[2021-06-18 18:17] kevinlog commented on #102331
Draft PR: https://github.com/elastic/kibana/issues/102331

[2021-06-18 18:25] #99445 closed

[2021-06-18 20:05] kibanamachine commented on #102366
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14758/)

[2021-06-18 20:32] ferullo commented on #102608
`20H2` is a pre-release "code name". It is not a formal part of the windows version string, 20H2 is not expected to show up in the OS full name/version.

[2021-06-18 20:32] #102608 closed

[2021-06-18 20:33] ferullo commented on #102608
@karanbirsingh-qasource if this has changed from one version of Kibana to another please reopen this issue. Otherwise, I think this is just a misunderstanding.

[2021-06-18 20:37] ferullo commented on #102619
Yes, this makes sense to me too. FYI @muskangulati-qasource you should still get Endpoint generated alerts for documents that would match an event filter. So, for instance, if you filter on the file name `mimikatz.exe` you won't get any events for Mimikatz, but you would still get a Malware alert.

[2021-06-18 22:37] mistic commented on #102366
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 693823f
7.x/7.14: 116a4aa

[2021-06-18 23:12] kibanamachine opened #102675 "Failing test: Jest Tests.x-pack/plugins/reporting/server/export_types/csv - CSV Execute Job cancellation should stop calling Elasticsearch when cancellationToken.cancel is called"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14903/)

[2021-06-19 01:53] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14764/)

[2021-06-19 02:08] mattkime commented on #102467
@elastic-jb Could you make sure this is considered from a product perspective? At this moment I'm unsure who from product is working on this particular aspect.

[2021-06-19 06:08] kibanamachine opened #102678 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/feature_controls/ml_security·ts - machine learning feature controls security global all "before all" hook for "doesn't show ml navlink""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14909/)

[2021-06-19 12:11] kibanamachine commented on #102183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14774/)

[2021-06-19 15:01] elasticmachine commented on #102675
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-19 15:03] elasticmachine commented on #102678
Pinging @elastic/ml-ui (:ml)

[2021-06-19 22:14] kibanamachine commented on #102183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14784/)

[2021-06-20 02:08] elastic-jb commented on #102467
@mattkime it definitely is. We are currently scoping this as part of a larger saved object management initiative. Will catch you up next week.

[2021-06-20 06:27] kibanamachine opened #102681 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/modules/setup_module·ts - apis Machine Learning modules module setup sets up module data for metrics_ui_hosts with prefix, startDatafeed true and estimateModelMemory true"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14792/)

[2021-06-20 06:53] kibanamachine commented on #88812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14793/)

[2021-06-20 07:07] odmby commented on #89726
Is this feature planned in the near future?
At least having the option to add and view the description in the Index Patterns, but also to have a hover possibility in discover.

[2021-06-20 12:55] hereCOMESlappy opened #102683 "Table doesn't show data until maximised"
**Kibana version:**
7.13.2

**Elasticsearch version:**
7.13.2

**Server OS version:**
Ubuntu Server 20.04.2

**Browser version:**
Brave Version 1.25.73 Chromium: 91.0.4472.106 (Official Build) (x86_64)

**Browser OS version:**
macOS 11.4

**Original install method (e.g. download page, yum, from source, etc.):**
apt install from official repo

**Describe the bug:**

The table visualisation does not

[2021-06-20 13:13] CR-ItsikHarel opened #102684 "elasticsearch.hosts with multiple nodes"
**Kibana version:**
v 7.10.1

**Elasticsearch version:**
v 7.10.1

**Server OS version:**
Centos 7 , uanme -a:3.10.0-1127.19.1.el7.x86_64

**Browser version:**
Chrome

**Browser OS version:**
macos

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
In kibana.yml, when i specify a single node or multiple valid nodes everything works, exmaple:
elasticse

[2021-06-20 14:41] harsha-gsai commented on #101705
@flash1293 Thanks for the workaround. It works for me. Is there a way to show max and min of date fields in the above tsvb table, I was able to accomplish this in a regular table visualization but in tsvb the max and min metrics are not supporting date fields. Thanks in advance.

[2021-06-20 17:23] elastic-jb commented on #89726
This is something we are actively discussing, albeit at a more general level. We are scoping an initiative related to Saved Object Metadata and Governance. The ability to annotate anything from a field to a dashboard is in scope. This effort will not kick off in earnest until 8.0, but it's part of a quickly developing roadmap in this area.

[2021-06-20 18:11] rschirin commented on #89726
well....cross finger! it will funny to say to our colleague that this feature will see the light

[2021-06-20 18:12] kibanamachine commented on #102183
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14804/)

[2021-06-20 22:18] pchesneau commented on #100982
By any chance @erms77 , are you a readOnlyRest plugin  user ?

[2021-06-21 00:02] kibanamachine commented on #100951
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14811/)

[2021-06-21 03:08] kibanamachine opened #102687 "Failing test: Firefox UI Functional Tests.test/functional/apps/visualize/_tsvb_chart·ts - visualize app visualize ciGroup12 visual builder switch index patterns should be able to switch using text mode selection"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/14954/)

[2021-06-21 04:11] clintandrewhall opened #102689 "[meta][tech debt] Replace react-beautiful-dnd with EUI Drag and Drop"
As I discovered in https://github.com/elastic/kibana/pull/102688, Canvas was using `react-beautiful-dnd` for its Drag n' Drop functionality.  It turns out EUI Drag n' Drop uses it [under the hood](https://eui.elastic.co/#/display/drag-and-drop).

Unless I'm reading it incorrectly, we saved 377k from one of our async bundles with this replacement, and removed an external dependency in the process.

[2021-06-21 06:27] AlexanderWert commented on #100759
@sqren , @formgeist
The changes on the exploratory-view for the mobile data reports have been merged (https://github.com/elastic/kibana/pull/99565), so we are good to move on with this issue.
I updated / corrected some of the examples / documentation in the description above.

Let me know if there are any questions / blockers.

[2021-06-21 06:27] elasticmachine commented on #102681
Pinging @elastic/ml-ui (:ml)

[2021-06-21 07:10] dgieselaar opened #102692 "[APM] Merge environments from transactions/metrics for service overview"
For the service overview, we'll fetch environments from both transactions and metrics documents, but if transactions are available, we'll only use the environments from those. Only if there are no transactions for that service at all we'll fall back to using environments from metric documents. That means that if e.g. you have transactions for one environment, but metrics for more, we'll not show t

[2021-06-21 07:10] elasticmachine commented on #102692
Pinging @elastic/apm-ui (Team:apm)

[2021-06-21 07:13] flash1293 commented on #101705
@harsha-gsai Unfortunately this is a deliberate limitation in TSVB for now: https://github.com/elastic/kibana/blob/40bc95b3fdb2c7ed01b488bc3dfa3b3c5c8b3efe/src/plugins/vis_type_timeseries/public/application/components/aggs/top_hit.js#L113

[2021-06-21 07:26] amolnater-qasource opened #102693 "[Fleet]: Note under Endpoint Security Integration settings needs to be updated."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Navigate to Endpoint Security Integration>Settings.
4. Observe Endpoint Security is not pre

[2021-06-21 07:27] elasticmachine commented on #102693
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 07:27] amolnater-qasource commented on #102693
@manishgupta-qasource Please review.

[2021-06-21 07:33] #82439 closed

[2021-06-21 07:35] amolnater-qasource opened #102694 "[Fleet]: No logs available for agents under agent "Logs" tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. Agent must be installed with Default policy having System Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents> agent "Logs" tab,
3. Ob

[2021-06-21 07:35] elasticmachine commented on #102694
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 07:36] sqren commented on #84969
This is already implement

[2021-06-21 07:36] amolnater-qasource commented on #102694
@manishgupta-qasource Please review.

[2021-06-21 07:36] #84969 closed

[2021-06-21 07:38] manishgupta-qasource commented on #102694
Reviewed & Assigned to @EricDavisX

[2021-06-21 07:48] amolnater-qasource opened #102695 "[Question][Fleet]: No description available for Agents, Agent Policies and Data Streams tab on 7.14.0 Snapshot."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Build Details:**
[code]

**Question:**
Description was available for each tab under Fleet section before 7.14.0.
Now description is available for only Enrollment Token and not for any other tab under Fleet section.
Could anybody please confirm if this is expected now?

**Screenshots:**
![Description](https://user-images.githubusercont

[2021-06-21 07:48] elasticmachine commented on #102695
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 07:49] amolnater-qasource commented on #102695
@manishgupta-qasource Please review.

[2021-06-21 07:51] matschaffer commented on #100696
I was testing this out using the docker-compose set up @jguay provided and this may go beyond stack monitoring.

Just a basic CCS+local query from kibana also results in a 502 from kibana devtools.

![Screenshot_2021_06_21_16_50](https://user-images.githubusercontent.com/690/122726225-c53b3180-d2b0-11eb-9521-5b9ebabdec9f.png)

[2021-06-21 07:55] wolframhaussig opened #102696 "Stack Monitoring: Versions are not ordered correctly"
**Kibana version:** 7.12.1

**Elasticsearch version:** 7.12.1

**Server OS version:** RHEL 8.4

**Browser version:** Chrome 91.0

**Browser OS version:** Windows 10 1909

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:**
The versions sorting does not work as expected - it seems that it sorts the versions as strings instead of the version. This cau

[2021-06-21 08:02] Dosant opened #102697 "[shared-ui-deps] should handle transitive deps?"
`@kbn/shared-ui-deps` is used so that most common dependencies across kibana UI are shared between all the plugins and loaded once (e.g. React, EUI, lodash, etc...)

However, when a plugin imports a dependency of one of `@kbn/shared-ui-deps` dependencies it doesn't get imported from a single `@kbn/shared-ui-deps` bundle, but it gets bundle into plugin's bundle.

For example:

* Some plugins import

[2021-06-21 08:02] elasticmachine commented on #102697
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-21 08:06] #99680 closed

[2021-06-21 08:09] manishgupta-qasource commented on #102693
Reviewed & Assigned to @EricDavisX

[2021-06-21 08:11] manishgupta-qasource commented on #102695
Reviewed & Assigned to @EricDavisX

[2021-06-21 08:12] matschaffer commented on #100696
I did a basic test direct to ES and it returned in ~12 minutes which I'm guessing is far longer than any kibana timeout in the chain:

[code]

Not seeing anything on https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-remote-clusters.html but I'm guessing we'll need some way to tell ES to be shorter than the kibana timeouts to try to handle this gracefully.

[2021-06-21 08:14] mshustov opened #102699 "Include tracing information in the log records"
To implement [log correlation](https://www.elastic.co/blog/how-to-easily-correlate-logs-apm-traces-for-better-observability-elastic-stack), Kibana must include tracing information into the log records.
ECS schema contains [tracing](https://www.elastic.co/guide/en/ecs/current/ecs-tracing.html) fields reserved for these needs. It means that Kibana should include the tracing fields when emits in the

[2021-06-21 08:14] elasticmachine commented on #102699
Pinging @elastic/kibana-core (Team:Core)

[2021-06-21 08:16] formgeist opened #102700 "[Uptime] Exploratory view: Mobile experience metrics names are inconsistent with APM"
# Summary

We're using two different names for Latency and Throughput in the Exploratory view for the Mobile experience. Unless intentional, because the charts will be different, I think it makes sense to at least align on the names. The metrics are the same.

<img width="492" alt="Screenshot 2021-06-21 at 10 12 49" src="https://user-images.githubusercontent.com/4104278/122729248-3eb72d80-d279-11e

[2021-06-21 08:16] elasticmachine commented on #102700
Pinging @elastic/uptime (Team:uptime)

[2021-06-21 08:17] formgeist commented on #100759
@AlexanderWert Not sure what the scope of this integration is, but I've opened https://github.com/elastic/kibana/issues/102700 to at least rename the names of the metrics to make them consistent and some minor adjustments.

[2021-06-21 08:31] elasticmachine commented on #102696
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-21 08:34] elasticmachine commented on #102689
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 08:34] elasticmachine commented on #102689
Pinging @elastic/kibana-gis (Team:Geo)

[2021-06-21 08:34] elasticmachine commented on #102689
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2021-06-21 08:34] elasticmachine commented on #102689
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-21 08:34] elasticmachine commented on #102689
Pinging @elastic/workplace-search-frontend (Team:WorkplaceSearch)

[2021-06-21 08:35] #102336 closed

[2021-06-21 08:36] elasticmachine commented on #102687
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-21 08:36] elasticmachine commented on #102684
Pinging @elastic/kibana-core (Team:Core)

[2021-06-21 08:38] mshustov opened #102704 "Support configuring APM modes"
With https://github.com/elastic/kibana/issues/102624 Kibana will be able to implement three different modes:
|mode| kibana.yml | finalized agent config|
|--|--|--|
|APM agent sends data to the APM server, Kibana relies on the agent to implement log correlation.| active: true |{ active: true, disableSend: false }|
|APM agent doesn't send data to the APM server, but Kibana uses it to implement log c

[2021-06-21 08:38] elasticmachine commented on #102704
Pinging @elastic/kibana-core (Team:Core)

[2021-06-21 08:39] pheyos commented on #102678
The test log shows the well known `ERR_NETWORK_CHANGED` CI network problem:
[code]
So this is not a problem with the test code or with the ML app. Closing this issue.

[2021-06-21 08:39] #102678 closed

[2021-06-21 08:41] azasypkin commented on #102683
Hey @hereCOMESlappy ,

Thanks for filing this issue! It's not completely clear what table you're referring to exactly (Kibana is huge), but I assume it's coming from Security Solution and tagging the appropriate team.

[2021-06-21 08:41] elasticmachine commented on #102683
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 08:42] elasticmachine commented on #102640
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-21 08:45] elasticmachine commented on #102634
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-21 08:46] elasticmachine commented on #102594
Pinging @elastic/ml-ui (:ml)

[2021-06-21 08:46] elasticmachine commented on #102594
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-21 08:46] elasticmachine commented on #102552
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-21 08:47] mshustov opened #102706 "Measure performance overhead of tracing solution for Kibana server"
Part of  https://github.com/elastic/kibana/issues/101587
Before enabling the tracing solution by default for all the Kibana instances, we should test the defaults added in https://github.com/elastic/kibana/issues/102704 do not impact the overall Kibana performance.

For testing use the standard `DemoJourney` from https://github.com/elastic/kibana-load-testing
Compare numbers with `execution_contex

[2021-06-21 08:47] elasticmachine commented on #102706
Pinging @elastic/kibana-core (Team:Core)

[2021-06-21 08:47] elasticmachine commented on #102512
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-21 08:47] elasticmachine commented on #102485
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-21 08:48] elasticmachine commented on #102376
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 08:48] elasticmachine commented on #102158
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-21 08:49] elasticmachine commented on #102122
Pinging @elastic/uptime (Team:uptime)

[2021-06-21 08:49] elasticmachine commented on #102021
Pinging @elastic/uptime (Team:uptime)

[2021-06-21 08:49] elasticmachine commented on #101700
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 08:50] elasticmachine commented on #101693
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 08:50] elasticmachine commented on #101621
Pinging @elastic/ml-ui (:ml)

[2021-06-21 08:51] elasticmachine commented on #101485
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-21 08:52] kertal commented on #101998
closed by #101059

[2021-06-21 08:52] #101998 closed

[2021-06-21 08:53] flash1293 commented on #102640
@dej611 Does https://github.com/elastic/kibana/pull/102384 fix this? Sounds very similar

[2021-06-21 08:53] elasticmachine commented on #48630
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-21 08:56] azasypkin commented on #101982
Since there is no feedback in the last 4 days I'll move forward and close this issue, but @sayeeguru feel free to re-open it once you have more details about the issue you're facing.

[2021-06-21 08:56] #101982 closed

[2021-06-21 08:57] elasticmachine commented on #101925
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-21 08:58] elasticmachine commented on #101923
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 08:58] dej611 commented on #102640
Sounds similar to me as well.

[2021-06-21 08:58] elasticmachine commented on #101710
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 08:59] elasticmachine commented on #101702
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 09:00] elasticmachine commented on #101701
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 09:04] hereCOMESlappy commented on #102683
Hey no it's not coming from Security Solution, it's my own custom dashboard I've made from scratch.

It's the Data Table control when you create visualisation.

[2021-06-21 09:06] flash1293 commented on #102640
The fact missing can be set for number fields in Lens is a real bug though - I will keep the issue open to track fixing this part.

[2021-06-21 09:07] azasypkin commented on #102683
Ah, good to know, re-labeling...

[2021-06-21 09:07] elasticmachine commented on #102683
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-21 09:49] erms77 commented on #100982
Hello @pchesneau,

Exact,  the problem comes from the RoR plugin

https://forum.readonlyrest.com/t/kibana-import-export-module-broken/1885

[2021-06-21 09:49] #100982 closed

[2021-06-21 09:52] mshustov commented on #102684
I *think* it's https://github.com/elastic/elasticsearch-js/issues/1426
Would you mind trying out a recommendation from https://github.com/elastic/elasticsearch-js/issues/1426#issuecomment-809470034 ?

[2021-06-21 09:55] AlexanderWert commented on #102700
@formgeist I created https://github.com/elastic/kibana/pull/102711 to fix the names and order.

For including `http.response.status_code` into breakdown I think we would need to breakdown the KPI report into two different reports (one for transaction related metrics and one for System related), otherwise this label wouldn't make much sense for CPU and Memory usage.

Let's keep this enhancement plu

[2021-06-21 10:02] amolnater-qasource commented on #101656
Hi @EricDavisX
We have revalidated this issue on 7.14.0 Snapshot and found it **fixed** now.

On clicking Create Agent Policy, new policy flyout is available and user is able to create the new policy from there.

**Build details:**
Build: 41846
Commit: 3cfbe712030c898819006195e6c9ddae6cbd0a3a

Thanks
QAS

[2021-06-21 10:08] timroes commented on #87992
Just a note on prefixing the "alerting internal" references with `action_` and preventing clashing by checking for reserved keyword: Why not simply prefix all custom extracted references, before saving them? i.e. get the list of `SavedObjectReference[]` via the above API, but before saving, itterate over them and change each of those ref's name to `params:${originalRefName}`, and then before calli

[2021-06-21 10:25] mikecote commented on #100667
cc @spong

[2021-06-21 10:27] kuisathaverat opened #102713 "[8.0.0-SNAPSHOT] The environment variable SERVER_HOST value is ignored"
**Kibana version:**

"version": {
    "number": "8.0.0",
    "build_hash": "693823f8c59a19a08ffb1ae2fe0daae3bb195ecb",
    "build_number": 43641,
    "build_snapshot": true
  }

**Elasticsearch version:**
8.0.08-SNAPSHOT

**Server OS version:**
Docker image

**Browser version:**
Chrome 91

**Browser OS version:**
MacOS 11.3

**Original install method (e.g. download page, yum, from source, etc.):**

[2021-06-21 10:32] mshustov commented on #14395
@Dosant It's implemented, but we're discussing whether it should be a public API at all. There is a chance, we remove this functionality in the favor of a special UI for admins only.

[2021-06-21 10:34] dej611 commented on #102176
Tracked back this behaviour since the beginning of Lens.
The fix is pretty straightforward, but it may look more as a behaviour change rather than a bug fix. I'll create a PR for it, and perhaps we can discuss there.

[2021-06-21 10:35] elasticmachine commented on #102713
Pinging @elastic/kibana-core (Team:Core)

[2021-06-21 10:45] mandeepkaur-qasource commented on #100259
Hi @MadameSheema

We have validated this issue on 7.14.0 snapshot build with **latest commit.** Please find below observations:
**Case 1: ** We found that on providing long content in Timeline description 'Read More/Read Less' button is now available for 'Description' section. However, user is able to access 'Alert table' only if user do not click on 'Read More' button **[Pass]**
**Screen-Shot: Ca

[2021-06-21 10:47] mshustov commented on #102353
Agree, but someone still has to work around the problem until the root cause is fixed on Cloud. I wasn't able to find an appropriate issue in the Cloud repo, seems like a small chance that this will be fixed soon.

@elastic/cloud-stack-n-soln Have you encounter the problem before?

[2021-06-21 10:55] elasticmachine commented on #102713
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-21 10:55] mshustov commented on #102713
cc @jbudz

[2021-06-21 10:56] formgeist commented on #102700
Sounds good - and thanks for opening the PR for fixing the names and the order in the selector 👍

[2021-06-21 11:01] weltenwort commented on #102158
Thanks for presenting an argument for this enhancement. It's related to #39703 and #44327, in which we discussed making the column width proportions user-configurable.

Maybe you can help us understand what a completely automatic column width adjustment could look like:

- Which message's content would you expect be used to determine the column width?
- What would you expect to happen if scrolling

[2021-06-21 11:06] karanbirsingh-qasource opened #102719 "[Security Solution]Endpoint goes to unhealthy and policy fails after Healthy Endpoint"
**Describe the bug**
Endpoint goes to unhealthy and policy fails after Healthy installation

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Fresh Kibana user should be logged in.
2. Fresh Endpoint Security should be installed.
3. Generate Malicious detection alert.

**Steps to Reproduce**
1.login to kibana.
2.Go to Administration tab.
3.Check that

[2021-06-21 11:06] elasticmachine commented on #102719
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 11:07] mistic commented on #102697
I think transitive deps should be already bundled. The only thing we need to do if we want to use them is expose them as externals.

[2021-06-21 11:13] karanbirsingh-qasource opened #102720 "[Security Solution]Blank entry showing under datastream under integration drop-down"
**Describe the bug**
Blank entry showing under datastream under integration drop-down

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1. Fresh Kibana user should be logged in.
2. Fresh Endpoint Security should be installed.

**Steps to Reproduce**
1.login to kibana.
2.Go to Fleet Tab.
3.Go to datastream tab.
4.Click on Integration drop-down.
5.Observ

[2021-06-21 11:13] elasticmachine commented on #102720
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 11:14] elasticmachine commented on #102499
Pinging @elastic/ml-ui (:ml)

[2021-06-21 11:15] mistic commented on #102183
master/8.0: 29e90f5
7.x/7,14: b1ac965

[2021-06-21 11:21] ymao1 commented on #101270
https://github.com/elastic/kibana/issues/99680 has been resolved so this issue is no longer blocked.

[2021-06-21 11:23] mistic opened #102722 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/reporting/reporting·ts.Reporting Reporting downloaded PDF has OK status"
This test is failing on our CI jobs for package testing both on master and 7.x.

https://kibana-ci.elastic.co/job/elastic+kibana+package-testing/18/testReport/junit/Chrome%20X-Pack%20UI%20Functional%20Tests/x-pack_test_functional_apps_reporting_reporting%C2%B7ts/Kibana_Pipeline___package_rpm___Reporting_Reporting_downloaded_PDF_has_OK_status/

https://kibana-ci.elastic.co/job/elastic+kibana+packag

[2021-06-21 11:23] elasticmachine commented on #102722
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-21 11:24] peteharverson commented on #101621
@mbondyra I have tried to reproduce this on latest master with a basic license, and I am not seeing the i18n error. The steps I tried were:

- Open new browser tab on Chrome
- Open Chrome dev tools
- Navigate to `http://localhost:5601/abc/app/management/insightsAndAlerting/jobsListLink`

Am I missing any steps?

![image](https://user-images.githubusercontent.com/7405507/122754230-4b448180-d28b-11e

[2021-06-21 11:26] dgieselaar opened #102724 "[APM] Warm up cache for popular dashboards with a background job"
To leverage shard request cache, we can warm up the cache by periodically polling ES for rolled over APM indices, and executing searches for the most popular/slow dashboards, to ensure that dashboards can be loaded more quickly when users access them. A list of suggestions:

- service inventory
- traces overview
- global service map
- service overview for the top n services

[2021-06-21 11:26] elasticmachine commented on #102724
Pinging @elastic/apm-ui (Team:apm)

[2021-06-21 11:28] dgieselaar opened #102725 "[APM] Set preference to any value for APM searches"
If the APM indices have replica shards, the shard request cache hit ratio goes down, as each shard (primary/replica) has its own cache. If we set `preference` to any value, ES will ensure requests are routed to the same shard if possible, which should result in a better cache hit ratio.

See:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-shard-routing.html

[2021-06-21 11:28] elasticmachine commented on #102725
Pinging @elastic/apm-ui (Team:apm)

[2021-06-21 11:28] mistic commented on #102722
This test keeps failing and looks flaky. Skipping for now.

master/8.0: fa8ab2a
7.x/7.14: f57de02

[2021-06-21 11:28] ymao1 commented on #87992
@timroes Thanks Tim! That sounds like a good idea!

[2021-06-21 11:34] sophiec20 opened #102726 "[APM] ML correlations - field candidate selection optimization"
The basic initial implementation for field candidate selection is as follows:

fieldCandidates:
- First queries fields caps to get a list of all fields mapped as keyword.
- Then gets a random sample of 500 docs to find out which fields are populated with values.
- The returns a list of all populated fields mapped as keyword.

Because there are many keyword fields, this should be optimised in order

[2021-06-21 11:34] elasticmachine commented on #102726
Pinging @elastic/apm-ui (Team:apm)

[2021-06-21 11:34] elasticmachine commented on #102726
Pinging @elastic/ml-ui (:ml)

[2021-06-21 11:41] kevinlog commented on #102719
@karanbirsingh-qasource can we also get the endpoint logs for this?

[2021-06-21 11:42] manishgupta-qasource commented on #102720
Reviewed & Assigned to @MadameSheema

[2021-06-21 11:42] karanbirsingh-qasource commented on #102719
here is the endpoint logs : [endpoint-000000.zip](https://github.com/elastic/kibana/files/6686322/endpoint-000000.zip)

[2021-06-21 11:43] manishgupta-qasource commented on #102719
Reviewed & Assigned to @kevinlog

[2021-06-21 11:45] mandeepkaur-qasource opened #102729 "[Security Solution]Case Info table and Edit opions gets disappeared on adding a long content under 'Description and Comment' box on 'Create New Case' page"
**Description:**
Case Info table and Edit options gets disappeared on adding a long content under 'Description and Comment' box on 'Create New Case' page

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
- Kibana Environmen

[2021-06-21 11:45] elasticmachine commented on #102729
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 11:45] mandeepkaur-qasource commented on #102729
@manishgupta-qasource Please Review!

Thanks!!

[2021-06-21 11:47] kpollich commented on #102695
@hbharding - Same question here as in https://github.com/elastic/kibana/issues/102317#issuecomment-862476326. These subtitles were omitted in the [designs](https://www.figma.com/proto/G3jnu6rub6x8YExOfTWoO9/Integrations-UI-%2B-Fleet?node-id=963%3A2&scaling=min-zoom), but we can add them back in or take the opportunity to update them as you see fit.

Let me know if we'd like an update here and I'll

[2021-06-21 11:47] manishgupta-qasource commented on #102729
Reviewed & Assigned to @MadameSheema

[2021-06-21 11:51] karanbirsingh-qasource commented on #102719
policy response:
![image](https://user-images.githubusercontent.com/59917825/122757209-003f6400-d2b5-11eb-8267-43992342e4db.png)

[2021-06-21 12:01] dej611 commented on #102183
I'm working on a fix for it

[2021-06-21 12:02] elasticmachine commented on #102729
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-21 12:03] MadameSheema commented on #102729
@kevinlog can you please take a look at this? thanks :)

[2021-06-21 12:04] kevinlog commented on #102719
@dasansol92 it looks like there are errors in downloading the artifacts here.

![image](https://user-images.githubusercontent.com/56395104/122758633-073f8580-d267-11eb-9742-63cbaf3f5042.png)

I can see in the Policy that the artifacts are there:
![image](https://user-images.githubusercontent.com/56395104/122758795-35bd6080-d267-11eb-8f3f-7b6c8a47d038.png)

Does this have to do with the recent chan

[2021-06-21 12:04] alexwizp commented on #102631
This is the correct behavior that matches the filled template. You should use `2` curve braces to visualize data with escaping, `3` - without.

![image](https://user-images.githubusercontent.com/20072247/122758866-f8c28f80-d2a1-11eb-90b8-39d19738d8b6.png)

[2021-06-21 12:14] kevinlog commented on #102719
fyi @ferullo - I think that may have to do with changes that we made, but here are [agent-logs.zip](https://github.com/elastic/kibana/files/6686120/agent-logs.zip) and [endpoint-000000.zip](https://github.com/elastic/kibana/files/6686322/endpoint-000000.zip) just in case

[2021-06-21 12:19] muskangulati-qasource opened #102732 "[Security Solution] The comment can't be updated/edited for the cases"
**Describe the feature**
The comment can't be updated/edited for the cases

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Create a case without any connector.
2. Add an alert to the case
3. Add any comment
4. Try to update the comment, I am getting error for the same

**Test data**
N/A

**Impacted Test case(s)**
N/A

**Act

[2021-06-21 12:19] elasticmachine commented on #102732
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 12:19] muskangulati-qasource opened #102733 "[Security Solution] The agent status is incorrectly sent as Healthy for Unhealthy"
**Describe the feature**
The agent status is incorrectly sent as Healthy for Unhealthy

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Administration Tab under the Security
2. Observe the agent status is shown as "Healthy" for Unhealthy agents in the Integration tab agent status breakdown bar.

**Test data**
N/A

[2021-06-21 12:19] elasticmachine commented on #102733
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 12:21] elasticmachine commented on #102732
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-21 12:22] MadameSheema commented on #102732
@muskangulati-qasource can you please check if this happen as well in the latest master branch? Thanks

[2021-06-21 12:23] manishgupta-qasource commented on #102733
Reviewed & Assigned to @kevinlog

[2021-06-21 12:24] muskangulati-qasource commented on #102469
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
![6](https://user-images.githubusercontent.com/60252716/122753060-53161d00-d2af-11eb-9cf6-af6c2b52b2f8.JPG)

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-21 12:24] #102469 closed

[2021-06-21 12:24] muskangulati-qasource commented on #102045
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/122753093-5d381b80-d2af-11eb-9032-fbb2861781ec.mp4

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-21 12:24] #102045 closed

[2021-06-21 12:24] muskangulati-qasource commented on #102044
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
![4](https://user-images.githubusercontent.com/60252716/122753106-61643900-d2af-11eb-8263-ae5537168af9.JPG)

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-21 12:24] #102044 closed

[2021-06-21 12:24] muskangulati-qasource commented on #101577
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
![3](https://user-images.githubusercontent.com/60252716/122753114-64f7c000-d2af-11eb-9a27-bf1e508d38ef.JPG)

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-21 12:24] #101577 closed

[2021-06-21 12:24] muskangulati-qasource commented on #101264
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
![2](https://user-images.githubusercontent.com/60252716/122753127-6aeda100-d2af-11eb-9c81-5c7f99f4e157.JPG)

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-21 12:24] #101264 closed

[2021-06-21 12:24] muskangulati-qasource commented on #85545
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
![1](https://user-images.githubusercontent.com/60252716/122753136-6f19be80-d2af-11eb-8fb6-a26bd303f115.JPG)

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-21 12:24] #85545 closed

[2021-06-21 12:31] samratbhadra-qasource commented on #102335
Hi @kevinlog ,

We tested this ticket on the latest 7.14.0-SNAPSHOT build & found that issue is now **Fixed**. Please find below the exact testing details:

**Build Details**:
[code]

**Screenshots**
No error pop-up come up while we open a flyout for Hostname or Policy status under the Endpoints Tab for Admin tab.
![Screenshot (76)](https://user-images.githubusercontent.com/84007952/122751949-02ea

[2021-06-21 12:33] stacey-gammon commented on #87992
I didn't quite follow approach 1, but it sounds like approach 2 is closer to what we do with other persistable state situations.

We don't have documentation yet, but until then, I recommend syncing with @ppisljar  on the App Services team to help you work through how to use the persistable state interfaces.

One thing that is confusing me is this part:

In other cases of persistable state, a prod

[2021-06-21 12:34] samratbhadra-qasource commented on #102308
Hi @kevinlog ,

We tested this ticket on the latest 7.14.0-SNAPSHOT build & found that issue is now **Fixed**. Please find below the exact testing details:

**Build Details**:
[code]

**Screenshots**
User Name is displaying in "Modified by" field .
![Screenshot (71)](https://user-images.githubusercontent.com/84007952/122749558-1c3e0800-d2ab-11eb-8a62-2deaee13a561.png)

Hence, closing this issue an

[2021-06-21 12:34] #102308 closed

[2021-06-21 12:34] #102335 closed

[2021-06-21 12:35] samratbhadra-qasource commented on #102206
Hi @kevinlog ,

We tested this ticket on the latest 7.14.0-SNAPSHOT build & found that issue is now **Fixed**. Please find below the exact testing details:

**Build Details**:
[code]

**Screenshots**
The long name is truncating on the delete form for the Event Filter.
![Screenshot (70)](https://user-images.githubusercontent.com/84007952/122749732-4c85a680-d2ab-11eb-9508-917821e5a22f.png)

Hence, c

[2021-06-21 12:35] #102206 closed

[2021-06-21 12:36] samratbhadra-qasource commented on #101730
Hi @kevinlog ,

We tested this ticket on the latest 7.14.0-SNAPSHOT  build & found that issue is now **Fixed**. Please find below the exact testing details:

**Build Details**:
[code]

**Screenshots**
The user can save the Event Filter value if the user gives the correct alphanumeric comment after giving space as a comment.
![Screenshot (74)](https://user-images.githubusercontent.com/84007952/1227

[2021-06-21 12:36] #101730 closed

[2021-06-21 12:39] formgeist opened #102737 "[APM] Bug: Errors UI renders empty if the currently selected time range doesn't include any error occurrences"
Kibana version: master

# Summary

I found an issue where a user might have a wider time range but the current time doesn't have any occurrence, so when picking a shorter time range like last 15 minutes, the entire Errors UI will just error out without no real way for the user to recover.

![2021-06-21 at 14 37 49 - Jade Grouse](https://user-images.githubusercontent.com/4104278/122763340-843a2180-

[2021-06-21 12:39] elasticmachine commented on #102737
Pinging @elastic/apm-ui (Team:apm)

[2021-06-21 12:46] ymao1 commented on #87992
@stacey-gammon This comment is specific to this issue, which will allow producers of existing rule types to update their rule type with a `useSavedObjectReferences.extractReferences`. If they do that, they will need to write a migration to update user's existing rule saved objects. You are correct that in any case where a producer changes the schema of their rule type (with or without using `extra

[2021-06-21 13:08] nreese commented on #102689
I am removing kibana-gis tag from this issue since Maps usage is a type only import

[2021-06-21 13:56] mbarretta commented on #37252
I have no preference on tree view vs other implementation scheme, but I agree it'd be handy to toggle different sets of layers to achieve different analysis—or "next step"—on the same map.

For the flight data I often play with, I have a set of layers that provide more real-time views with a high level heatmap and on zoom just the last known location of a flight displayed on the map along with a s

[2021-06-21 13:59] timroes commented on #102634
Duplicate of https://github.com/elastic/kibana/issues/95946

[2021-06-21 13:59] #102634 closed

[2021-06-21 14:05] timroes commented on #1810
Alignment options on tables are now available in 7.13 in Lens.

[2021-06-21 14:05] #1810 closed

[2021-06-21 14:15] timroes commented on #2786
The dashboard embedded in a iframe takes the size the iFrame has, thus the embedding page controls the size not the Kibana inside it. Since this is a really old issue, I assume this was different before we had responsive design for dashboards, and will go ahead and close it.

[2021-06-21 14:15] #2786 closed

[2021-06-21 14:21] elasticmachine commented on #4292
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-21 14:24] timroes commented on #4307
All discussed items should be nowadays available via the table in Lens (hiding columns, splitting columns, etc.)

[2021-06-21 14:24] #4307 closed

[2021-06-21 14:30] timroes commented on #4312
Lens supports `auto` interval on all time fields, and will use the above described mechanism to bind the selected time field to the timepicker.

[2021-06-21 14:30] #4312 closed

[2021-06-21 14:33] timroes commented on #5282
I'll close this in favor of the more recent issues of [a JSON query datasource](https://github.com/elastic/kibana/issues/59439) and [an expression datasource](https://github.com/elastic/kibana/issues/80869) (which would also allow that, given that we have a `esdsl` function allowing specification of any query).

[2021-06-21 14:33] #5282 closed

[2021-06-21 14:34] ymao1 opened #102746 "[Alerting][Docs] Updates to improve clarity of Alerting API documentation"
Some of our Alerting API documentation can be improved to be clearer:

* To create a rule through the API, you must specify a `rule_type_id`, but it is unclear what the possible set of `rule_type_id`s are. Could update the docs to explicitly list all the possibilities for `rule_type_id` or add a section to suggest using the `List rule types` API to determine which ones the user is able to create.

[2021-06-21 14:37] ferullo commented on #102719
OK. Let me know if you wind up not thinking its a Kibana bug.

[2021-06-21 14:43] elasticmachine commented on #102746
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-21 14:50] timroes commented on #4462
This is easily possible in Lens nowadays, by just drag'n'droping an existing dimension into another slot in the dimension panel.

[2021-06-21 14:50] #4462 closed

[2021-06-21 14:52] timroes commented on #4612
This will be possible using the upcoming Lens Formulas (see https://github.com/elastic/kibana/issues/91087) in 7.14, by using an expression like the following:

<img width="1290" alt="Screenshot 2021-06-21 at 16 49 58" src="https://user-images.githubusercontent.com/877229/122782289-e2700000-d2b0-11eb-8b02-d32cbbc3830c.png">

I'll close this issue in favor of the above linked Lens formular issue.

[2021-06-21 14:52] #4612 closed

[2021-06-21 14:53] #102175 closed

[2021-06-21 14:55] ymao1 opened #102751 "[Alerting][Docs] Add step-by-step tutorial for creating rule through API"
It would be helpful to users to add a tutorial for creating a rule through the Alerting API. We should focus on the steps that may require additional steps (for example, using the `List rule types` API to determine the `rule_type_id`).

[2021-06-21 14:55] elasticmachine commented on #102751
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-21 14:56] ghudgins opened #102753 "[Lens] Tooltip customization basics (hover mode & visibility)"
**Describe the feature:**
Elastic-charts supports "Tooltip types". Include additional controls in Lens that expose...
 - disabling tooltip
 - changing mouse over behavior from "follow" mode to other modes

_see "other" tab under "Knobs" here_ https://elastic.github.io/elastic-charts/?path=/story/grids--lines

**Describe a specific use case for the feature:**
_Other hover types_
**When** visualizin

[2021-06-21 14:56] elasticmachine commented on #102753
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-21 14:57] timroes commented on #4394
Lens already has a way to scale to a specific time-unit (which goes a bit beyond what's asked here), i.e. normalize a value "per second", "per minute", etc.

Also the upcoming Lens Formulas (https://github.com/elastic/kibana/issues/91087) will allow making this arbitrary scaling, by being able to multiply any aggregation or calculation of aggregation with any (fixed) factor. Closing this thus in f

[2021-06-21 14:57] #4394 closed

[2021-06-21 15:02] nchaulet commented on #102720
In Fleet we display the integration from the metadata contains in the datastream, I think for these one the agent is not sending the correct data.
Also these datastreams are not really related to an integration, as currently the elastic_agent package is not defining them.

[2021-06-21 15:02] maihde commented on #102640
@flash1293 my hope is that the fix for allowing setting "missing" values is accomplished by altering the behavior such that missing values can be shown for numeric fields (as shown above) instead of blocking the selection of "missing".  I understand this becomes more of a feature request, but our users frequently complain about the inability to use "missing" in conjunction with numeric fields.

[2021-06-21 15:02] timroes commented on #7175
This is nowadays the default behavior in Lens to use shaded colors of the selected color palette for different layers. Thus closing this.

[2021-06-21 15:02] #7175 closed

[2021-06-21 15:03] kevinlog commented on #102720
@nchaulet thanks, also tagging @ph in this one.  Sounds like it may be an Agent bug

[2021-06-21 15:03] elasticmachine commented on #7055
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-21 15:06] timroes commented on #7015
I don't think those screens exist anymore (or at least I can't link them to any specific screen), thus closing this issue.

[2021-06-21 15:06] #7015 closed

[2021-06-21 15:06] timroes commented on #6957
Closing this issue due to inactivity.

*We are trying to keep our issues to a manageable amount, which means we are trying to close issues we cannot reproduce or gather required information for some time. Please feel free to still provide the requested information in case the issue still persists on an up-to-date Kibana version. We will gladly reopen this issue again.*

[2021-06-21 15:06] #6957 closed

[2021-06-21 15:08] timroes commented on #4731
I'll close this issue, since I think it's abit too generic for what Kibana is nowdays. Please feel free to open new issues for more specific error messages that should be addressed.

[2021-06-21 15:08] #4731 closed

[2021-06-21 15:08] scottybollinger commented on #102689
Enterprise Search (App Search and Workplace) Search only uses the library for types ([example](https://github.com/elastic/kibana/blob/master/x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/curation_result.tsx#L9)). Looks like EUI exports one of the ones we use so I put up [a PR](https://github.com/elastic/kibana/pull/102758) for that one.

If w

[2021-06-21 15:14] blakerouse commented on #100617
https://github.com/elastic/elasticsearch/pull/74180 has been merged into elasticsearch and the change for Fleet Server is in review https://github.com/elastic/fleet-server/pull/472

The fields where updated because I was confused on the feature.

`unenroll_timeout` is set on the policy to un-enroll all Elastic Agents that have not checked in for that amount of time and `unenroll_reason` was added

[2021-06-21 15:21] monina-n commented on #102468
Here's another alternate idea we've discussed about having the inline change status action be the same as the change status as the case details page

<img width="1056" alt="Screen Shot 2021-06-21 at 8 19 39 AM" src="https://user-images.githubusercontent.com/67915896/122786744-7a49fb80-d269-11eb-81a7-a42f671d9d0e.png">

[2021-06-21 15:22] flash1293 commented on #101585
We discussed this and decided to not implement a quick-fix for this scenario because it's an edge case and adding a new high level concept / setting will add more complexity than justified. Once we implement https://github.com/elastic/kibana/issues/86190 , this can be solved in a nice way.

[2021-06-21 15:22] #101585 closed

[2021-06-21 15:29] elasticmachine commented on #102732
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-21 15:30] elasticmachine commented on #102628
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-21 15:32] simianhacker opened #102760 "[Monitoring] Revert monitoring.cluster_alerts.allowedSpaces on Cloud"
This PR depends on https://github.com/elastic/kibana/issues/100133 being merged. We also need to remove this setting from the cloud console which was added in https://github.com/elastic/kibana/issues/100133

It still needs to exist for 7.13 but whatever version #100133 lands in it needs to be removed.

[2021-06-21 15:35] cjcenizal opened #102761 "Validate that component template name doesn't contain a wildcard"
The API disallows wildcards. We can save the user some time by validating the name doesn't contain a wildcard on the client. This will also fix a UX oddity in which our server-side uniqueness check fails because a name that contains a wildcard (`test-*`) could match existing component templates (`test-1`), resulting in the UI telling the user that a component template with that name already exists

[2021-06-21 15:40] ravikesarwani commented on #100133
I don't have concerns regarding the topic on this PR since this PR won't enable users to create new custom SM rules. When we fix [91145](https://github.com/elastic/kibana/issues/91145)I think we will need to think through the use case some more to make sure we are covered.

[2021-06-21 15:51] timroes commented on #4957
This has been adressed in Lens and released in 7.7, thus closing this.

[2021-06-21 15:51] #4957 closed

[2021-06-21 15:57] elasticmachine commented on #102512
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-21 16:05] spalger commented on #102697
Yeah, we need to explicitly choose which packages we want to expose via externals otherwise we'd be bound to the specific version of each transitive dependency used by the packages in `@kbn/ui-shared-deps`. Exposing transitive dependencies and automatically rewriting all imports for those packages to use `ui-shared-deps` is as easy as exposing them in two places:

 - with a `export const PackageNa

[2021-06-21 16:09] #102147 closed

[2021-06-21 16:10] alvarezmelissa87 opened #102764 "[ML] Data Frame Analytics creation wizard: selecting multiple included fields causes re-render loop on slow network"
**Kibana version:**
latest

**Browser version:**
Chrome

**Describe the bug:**
When on a slower network, selecting more than one includes fields in quick succession causes a rerender loop in the wizard.

**Steps to reproduce:**
1. Go to DFA creation wizard
2. In network tab in chrome dev console - select slow 3G throttling
2. select kibana sample flights dataset
3. select classification job and de

[2021-06-21 16:10] elasticmachine commented on #102764
Pinging @elastic/ml-ui (:ml)

[2021-06-21 16:27] elasticmachine commented on #102719
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-21 16:28] katrin-freihofner commented on #102468
@monina-n I thank you for creating this mockup, I like that a lot!

[2021-06-21 16:29] #102551 closed

[2021-06-21 16:32] dasansol92 commented on #102719
PR: https://github.com/elastic/kibana/pull/102767

[2021-06-21 16:43] timroes commented on #6563
We're trying to stay away from that kind of implicit behavior that might cause weird unknown side-effects. I'll close this in reference to discussion around [semantic data for fields](https://github.com/elastic/kibana/issues/17087) that could indicate if a field is bytes, and e.g. Elastic Common Schema conform data could automatically prefill those semantic information, which itself would e.g. con

[2021-06-21 16:43] #6563 closed

[2021-06-21 16:48] timroes commented on #6345
Closign this as not really up-to-date with our current infrastructure anymore :-)

[2021-06-21 16:48] #6345 closed

[2021-06-21 16:48] elasticmachine commented on #6183
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-21 16:53] timroes commented on #4929
It's nowadays possible to specify custom labels for ranges in Lens. Closing this.

![screenshot-20210621-185222](https://user-images.githubusercontent.com/877229/122799314-dc364f80-d2c1-11eb-81df-fd38031b2922.png)

[2021-06-21 16:53] #4929 closed

[2021-06-21 16:56] droberts195 commented on #18328
This is added in elastic/elasticsearch#74376

[2021-06-21 16:56] stacey-gammon opened #102771 "[PersistableState] Embeddable example plugin that uses persistable state services"
Have one of our Embeddable example plugins showcase how to use the persistable state services. Include functional test coverage.

[2021-06-21 16:56] elasticmachine commented on #102771
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-21 17:02] stacey-gammon opened #102772 "[PersistableState] Improve unit test coverage of embeddable migrations"
See https://github.com/elastic/kibana/pull/101470#discussion_r655514887 for context.

There was some intermediate code that had a bug that would not be caught by our current set of unit tests. Filling this issue to keep track of this opportunity to improve unit test coverage.

[2021-06-21 17:02] elasticmachine commented on #102772
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-21 17:28] chrisronline opened #102783 "[Task Manager] Throttle TM health logging"
Relates to https://github.com/elastic/kibana/pull/101751

Some possible ideas:

- Gate entire logging changes behind a config switch (off by default)
- Log a message telling users they can switch config on when the status changes (from green -> warn/error)
- While in a warn/error status, perhaps log at some throttled interval (every 1h?)

[2021-06-21 17:28] elasticmachine commented on #102783
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-21 17:51] neptunian commented on #100136
@jasonrhodes @ravikesarwani  I am thinking to remove the template variables from the action messaging, `count` (node count) and `nodes` (list of node ids and metric) and add `node` (node id and metric).  Since `count `will now always be 1 and nodes is always one node, I think this could confuse users by keeping it and it's no longer useful.  My plan is to remove the variable from the menu of optio

[2021-06-21 17:57] clintandrewhall commented on #102689
@nreese Can those types be imported from EUI instead?  I'd love to remove this library from the `package.json` file entirely.

[2021-06-21 18:17] #101476 closed

[2021-06-21 18:26] wylieconlon opened #102789 "[Fleet] Unnecessary warning logged to Kibana output"
While developing on a newly started Elasticsearch + Kibana on `master` branch I have seen this warning message logged:

[code]

This warning seems to show the expected state for me, which is that I have not installed Fleet locally.

[2021-06-21 18:26] elasticmachine commented on #102789
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 18:32] #99006 closed

[2021-06-21 18:37] bhavyarm commented on #101923
@ecezalp Thanks!

[2021-06-21 18:39] mistic commented on #102697
@Dosant do you think we can consider this closed?

[2021-06-21 18:45] #102249 closed

[2021-06-21 18:50] nchaulet opened #102794 "[Fleet] Allow to configure output config yaml via kibana config"
## Description

Currently it's only possible to configure extra output configuration via the Fleet UI, we should allow this to be set via a Kibana config key.

<img width="854" alt="Screen Shot 2021-06-21 at 2 49 55 PM" src="https://user-images.githubusercontent.com/1336873/122812707-04ad5200-d2a0-11eb-968e-46bfb4b1c50e.png">

## Open questions

Currently we do not update the output if the kibana

[2021-06-21 18:51] elasticmachine commented on #102794
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 18:54] #100371 closed

[2021-06-21 18:54] streamich commented on #98107
Usage in maps.

![image](https://user-images.githubusercontent.com/9773803/122813156-e876d880-d2d2-11eb-81ae-bbce220c3144.png)

[2021-06-21 18:58] alisonelizabeth commented on #98482
@Bamieh Sorry for the delay here - I think it will be sufficient to make `correctiveActions` required and not add a new description field.

We've decided to change the modal to a flyout and include an info callout indicating that the deprecation can be resolved manually or automatically.

Rough idea:

<img width="1230" alt="Screen Shot 2021-06-21 at 2 56 40 PM" src="https://user-images.githubuserc

[2021-06-21 19:02] #102260 closed

[2021-06-21 19:08] katefarrar commented on #102187
@Kerry350 thanks for flagging this - apologies for any confusion - these Inventory UI enhancements are all meant for 7.15, but they were kept in so we didn't have to re-do the prototypes. I'll work with @paulb-elastic, @sorantis, & @jasonrhodes for the planning and getting these broken out into separate issues that will be ready for 7.15 implementation.

Going to close this for now, but will add l

[2021-06-21 19:08] #102187 closed

[2021-06-21 19:09] ravikesarwani commented on #100136
Thanks @neptunian. Makes sense to me.

[2021-06-21 19:46] elasticmachine commented on #102484
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-21 19:48] elasticmachine commented on #102460
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-21 19:51] pmuellr opened #102811 "[event log] Do we really need the saved_object.rel: primary field?"
Event log documents contain a list of saved objects that are associated with the event.  When we added these references, we were a little concerned that users might be able to "find" events that used a saved object, but also referenced a different saved object, and perhaps the user _shouldn't_ be able to "find" the event via that different saved object.

To handle this, we have an "optional" field

[2021-06-21 19:51] elasticmachine commented on #102811
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-21 20:11] elasticmachine commented on #102733
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 20:12] Dosant commented on #102697
@mistic, I think these changes that @spalger laid out should be at least done for `react-intl` and `react-beautiful-dnd` before closing this? Ideally, in the scope of this, we also could identify other packages that could benefit from this? (maybe a script?)

Or are you suggesting this isn't worth pursuing?

[2021-06-21 20:16] elasticmachine commented on #102733
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-21 20:18] kevinlog commented on #102733
@ashokaditya from the gif, it looks like on the Agent status breakdown on the Policy page, we're showing `Healthy` when we should be showing `Unhealthy`.

Looks related to this? https://github.com/elastic/kibana/pull/99314

[2021-06-21 20:29] kevinlog commented on #102333
@parkiino your new component would fix this, assigning to you for now.  We can add the `QA: Ready for Testing` label after the component is merged

[2021-06-21 20:32] mostlyjason opened #102816 "[Fleet] Label beta and experimental inputs"
**Problem**
Currently, our integrations page shows GA, beta or experimental for each integration. However, each input in Elastic Agent can be GA, beta or experimental. Thus, we need to show our support policy at a lower level of granularity.

**Solution**
Let's update our integration policy editor page to include a label next to each input that is beta or experimental. For example, if Apache was a

[2021-06-21 20:32] elasticmachine commented on #102816
Pinging @elastic/fleet (Team:Fleet)

[2021-06-21 20:33] kevinlog commented on #102729
@asnehalb fyi on this one, it looks like it's happening with comments in general with cases

[2021-06-21 20:38] a03nikki opened #102817 "[DevTools][Console] Auto complete for script suggests deprecated query type"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Unknown Cloud

**Browser version:** Firefox

**Browser OS version:** MacOS

**Original install method (e.g. download page, yum, from source, etc.):** Cloud

**Describe the bug:**

The auto complete in Stack Management > Dev Tools > Console suggests deprecated `function_score` instead of `script_score`

**Steps to

[2021-06-21 20:38] elasticmachine commented on #102817
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-21 20:53] simianhacker commented on #52245
I'm going to close this issue because it seems like https://github.com/elastic/logstash/issues/11066 fixed the issue.

[2021-06-21 20:53] #52245 closed

[2021-06-21 21:02] nchaulet commented on #102733
@kevinlog Looks like we had a typo in our kuery in Fleet https://github.com/elastic/kibana/pull/102821

[2021-06-21 21:23] pmuellr commented on #102811
In addition to perhaps not really being needed, the `rel` property is a common source of confusion; see: https://github.com/elastic/kibana/pull/101526#discussion_r655354292

[2021-06-21 22:01] cchaos commented on #99901
Reopening this issue because it looks like the page is not stretching to the full height of the window. There are several generic div wrappers that occur between the  closest Kibana app wrapper and the page template. Each of these need the `APP_WRAPPER_CLASS` in order for the page to stretch.

<img width="1275" alt="Screen Shot 2021-06-21 at 17 59 14 PM" src="https://user-images.githubusercontent.

[2021-06-21 22:16] clintandrewhall opened #102829 "[optimizer][scss] Webpack bundles/repeats potentially unnecessary SCSS code with each file"
Today, the optimizer `webpack.config` [prepends SCSS files](https://github.com/elastic/kibana/blob/master/packages/kbn-optimizer/src/worker/webpack.config.ts#L159-L179) with mixins, variables and other pre-requisites a SCSS file might utilize.  As a result, every compiled SCSS file is bloated with an additional ~3k of code _whether it needs it or not_.  The impact of this is better described in ht

[2021-06-21 22:16] elasticmachine commented on #102829
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-21 22:17] kevinlog commented on #102733
thanks @nchaulet !

@ashokaditya we can see if this fixes the issue

[2021-06-21 22:23] nreese commented on #27714
closed by https://github.com/elastic/kibana/pull/99661

[2021-06-21 22:23] #27714 closed

[2021-06-21 22:25] nreese commented on #35482
closed by https://github.com/elastic/kibana/pull/100735

[2021-06-21 22:25] #35482 closed

[2021-06-21 22:31] nreese commented on #36598
Closing, geo_shape fields have allowed for selecting the spatial relationship for some time. Geo_point support recently added by https://github.com/elastic/kibana/pull/96849

[2021-06-21 22:31] #36598 closed

[2021-06-21 22:35] spalger commented on #102829
This `@import` that we put at the top of each scss file is only supposed to initialize some variables and mixins in the scss, it's not supposed to include any actual CSS unless the mixins are used by the styles... Sounds like a bug we should fix, as we're still going to need the variables available everywhere, no?

[2021-06-21 22:43] clintandrewhall commented on #102829
In our case, since all of the SCSS files are imported by a single SCSS file, that import only happens once, so all of the vars and mixins are imported.

I'm not seeing the dedupe or removal of unused SCSS in the local dev build.  Perhaps that's handled in the prod build?  I guess we'll see when the PR finishes, but that would be awesome.

I wish there was a way to get prod webpack profiles of your

[2021-06-21 22:48] nreese commented on #75217
Closed by https://github.com/elastic/kibana/pull/100735

[2021-06-21 22:48] #75217 closed

[2021-06-21 22:56] nreese commented on #86109
closed by https://github.com/elastic/kibana/pull/89342

[2021-06-21 22:56] #86109 closed

[2021-06-21 23:15] spong commented on #82553
Closing this issue as this functionality has been shipped and verified.

[2021-06-21 23:15] #82553 closed

[2021-06-21 23:18] spalger commented on #102697
I think that instead of sharing `react-intl` we should rely on ESLint to discourage it's use, but we'll see what the improvement of sharing `react-beautiful-dnd` is in https://github.com/elastic/kibana/pull/102834. I don't think it's clear how we'd write a script to determine what is or isn't worth sharing, but if you wanted to take a stab at it I'd be happy to lend a hand or walk you though how I

[2021-06-21 23:22] spalger commented on #102829
Best I can tell the scss behind this `@import` is all `$variable: x`, `@mixin`, and `@function` definitions which don't actually produce any CSS so there isn't any deduplication to do...

Use `--dist --profile` and it will do just that.

[2021-06-21 23:48] kibanamachine opened #102836 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/canvas/lens·ts - Canvas app lens in canvas renders lens visualization"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14834/)

[2021-06-21 23:49] clintandrewhall commented on #102829
@spalger I updated the issue with the results from the PR: 21k and 63 fewer modules.

[2021-06-21 23:51] spong opened #102837 "[Security Solution][Detections] Migrate ML Job Settings UI out of popover to dedicated UI"
The `ML Job Settings` UI has outgrown its home in the `EuiPopover` on the main Detection page and should be considered to be moved to a dedicated UI. This issue is for tracking this effort and any additional UI/UX changes that may want to be implemented as part of this move.

Additional issues to consider in the design include:

* [SIEM] [ML] Starting a job without enough memory doesn't always sho

[2021-06-21 23:52] elasticmachine commented on #102837
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-21 23:52] elasticmachine commented on #102837
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-22 00:16] clintandrewhall commented on #102829
I did a local `--dist` build against `master` and confirmed the output.  While the `stats.json` file is too large I created a gist of [`canvas.chunk.5.js`](https://gist.github.com/clintandrewhall/b493b17858b674296657e4fd416c2890).

<img width="908" alt="Screen Shot 2021-06-21 at 7 15 49 PM" src="https://user-images.githubusercontent.com/297604/122843454-1bb26b00-d2c5-11eb-88c1-90c95833cee1.png">

[2021-06-22 00:43] zhaoyi0113 opened #102841 "Time range is not showing in Discover page"
**Kibana version:** 7.10.1

**Elasticsearch version:**. 7.10.1

**Server OS version:**. Docker

**Browser version:** Chrome, Safari

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**. Docker

**Describe the bug:**

I have installed Kibana v7.10.1 and connects to elasticsearch 7.10.1. I am able to search data in Kibana. But the time range filter in D

[2021-06-22 01:20] #102733 closed

[2021-06-22 01:44] matschaffer commented on #100696
So this morning, with everything still running, the UI works now.

![Screenshot_2021_06_22_10_42](https://user-images.githubusercontent.com/690/122849439-7d66e980-d346-11eb-8ef2-67607c59dd90.png)

![Screenshot_2021_06_22_10_42](https://user-images.githubusercontent.com/690/122849471-8a83d880-d346-11eb-952e-e1edef3a53a1.png)

the iptables REJECT is still in place

[code]

So I'd say what we're look

[2021-06-22 01:48] kibanamachine commented on #98240
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14836/)

[2021-06-22 01:52] mattkime commented on #102512
@david-rooke Were you attempting to create an index pattern via the REST API? Did you figure out your problem?

[2021-06-22 01:53] matschaffer commented on #100696
Looks like https://github.com/elastic/elasticsearch/issues/34405 has some connection here.

Also due to https://github.com/elastic/elasticsearch/issues/32678 it seems unlikely kibana could set a query timeout to avoid just exploding.

[2021-06-22 01:55] chengyang14 opened #102844 "Configuration `index.refresh_interval` in the .kibana* indices"
Some APIs for invoking the ES in Kibana use the `refresh=wait_for` parameter, for example, creating a dashboard.

To improve the write performance, some users may set `index.refresh_interval` to a large value in the index template and apply the template to all indexes. The indexes created by Kibana are also affected.

In the preceding scenario, the API whose [refresh=wait_for](https://www.elastic.

[2021-06-22 02:11] matschaffer commented on #100696
In the mean time I've confirmed that the workaround of `monitoring.ui.ccs.enabled: false` does work as expected.

[2021-06-22 02:40] mattkime commented on #92754
closed by https://github.com/elastic/kibana/pull/100524

[2021-06-22 02:40] #92754 closed

[2021-06-22 02:41] #92753 closed

[2021-06-22 03:00] mattkime commented on #10775
@bhavyarm Is this still relevant? So much time has passed.

[2021-06-22 03:02] mattkime commented on #11959
I'm closing this as Scripted Fields are deprecated in favor of runtime fields.

[2021-06-22 03:02] #11959 closed

[2021-06-22 03:16] matschaffer commented on #100696
I found another workaround from @DaveCTurner in https://discuss.elastic.co/t/elasticsearch-ccs-client-get-timeout-when-remote-cluster-is-isolated-by-firewall/152019/7

[code]

Where es0 is the cluster we're hitting with kibana0, attempting CCS to the blocked cluster.

So far I can't seem to find out how to override the 30s timeout on `/api/monitoring/v1/clusters` which would be good to have handy

[2021-06-22 03:17] mattkime commented on #57645
We now have an API specifically for creating index patterns - https://www.elastic.co/guide/en/kibana/master/index-patterns-api-create.html

[2021-06-22 04:48] anoopm89 commented on #58096
Hi, Could you please elaborate on the work around. Even though the issue is resolved as per comment, we won't get it soon as we are still using old version of Kibana.

[2021-06-22 05:37] #90167 closed

[2021-06-22 06:03] matschaffer commented on #48630
Not sure what the design expectation here is, but if we're going to have those fields update, should we have the other fields update as well?

So for example your search would switch "Total Beats" to be 294. Since that's all the winlog beats.

I could see either way being confusing.

Might be nicer if the table included total rows. Or if we at least visually isolated the "totals" header from the s

[2021-06-22 06:17] philippkahr commented on #48630
Hi,

oh this issue is ages old 😄 . I guess something like this?

 | Total beats | ... | Total Events | ... |
 |---|---|---|---|
 | 294/316     | ... | 1.4million/3.6million | ... |

In a sense I find it confusing that nearly everything in Kibana dynamically changes based on the time filter query.

[2021-06-22 06:22] Bamieh commented on #98482
@alisonelizabeth thanks for the update! the direction makes sense. I've already made `correctiveActions.manualSteps` required and updated all the current deprecations to include those. We can close this issue then.

[2021-06-22 06:22] #98482 closed

[2021-06-22 06:52] formgeist commented on #99901
@cchaos I actually opened a bug report from this in https://github.com/elastic/kibana/issues/102311

[2021-06-22 06:54] #99901 closed

[2021-06-22 07:04] stratoula commented on #102631
Is it documented?

[2021-06-22 07:31] #102462 closed

[2021-06-22 07:32] flash1293 commented on #102640
@maihde There are some technical challenges in doing this - I think it's worth a separate issue. However, there should be an easy workaround - extend your mapping and index the number as a keyword as well:
[code]

On `field1.keyword` you can use the missing option and it will work just fine.

Note: You won't be able to format the numbers this way

[2021-06-22 07:52] muskangulati-qasource opened #102858 "[Security Solution] The long name integration does not allow the user to view the rest of the details under the Host Tab"
**Describe the feature**
The long name integration does not allow the user to view the rest of the details under the Host Tab

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to Integration Tab
2. Select the Endpoint Security Integration
3. Name your integration long
4. Navigate to hosts tab & select the host to whi

[2021-06-22 07:56] droberts195 commented on #18328
I just realised there's a complication with the way the notifications index mappings are managed. For that index, we don't update the mappings on existing indices, but instead create new indices with the desired mappings. What this means is that the index with cleared in its mappings will be `.ml-notifications-000002`. Users who have upgraded from old ML versions will also have `.ml-notifications`

[2021-06-22 07:59] #102288 closed

[2021-06-22 08:02] flash1293 commented on #87068
Closing for now as we treat this case as an error

[2021-06-22 08:02] #87068 closed

[2021-06-22 08:06] formgeist commented on #100661
After reviewing the initial design with EUI and a closer look at the existing Fleet UI policy selector, we should make sure to use the `EuiCombobox` single selection component instead of a custom `EuiSelectable`.

Here are some new designs that reflect these changes to the different scenarios; including default and open states of the combobox.

Wraps the `EuiCombobox` in an `EuiFormRow` component

[2021-06-22 08:13] flash1293 commented on #94599
Fixed by https://github.com/elastic/kibana/pull/101718

[2021-06-22 08:13] #94599 closed

[2021-06-22 08:14] amolnater-qasource opened #102863 "[Fleet]: Command string is not updated as per Policy selected under Add Agent fly-out."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Create "New Policy" and then navigate to Agents tab.
3. Click on Add Agent button and select "New Policy".
4. Observe comman

[2021-06-22 08:14] elasticmachine commented on #102863
Pinging @elastic/fleet (Team:Fleet)

[2021-06-22 08:14] amolnater-qasource commented on #102863
@karanbirsingh-qasource Please review.

[2021-06-22 08:14] flash1293 commented on #71287
Fixed by https://github.com/elastic/kibana/pull/98781

[2021-06-22 08:14] #71287 closed

[2021-06-22 08:17] formgeist opened #102864 "[APM] Service overview: Switch "last seen" and "occurrences" around in the Errors table"
# Summary

The original idea was to have both first and last seen time indications. We dropped the "first seen" option, but kept the layout. In most other tables we prefer to show the time as the last column on the right (unless there's the impact indicator).

# Solution

Switch the "last seen" and "occurrences" around.

<img width="1157" alt="Screenshot 2021-06-22 at 10 13 51" src="https://user-i

[2021-06-22 08:17] elasticmachine commented on #102864
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 08:23] deepikakeshav-qasource opened #102866 "[Security Solution] UI is broken if policy contains long text under the administration tab"
**Description**
UI is broken if policy contains long text under the administration tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Elastic 7.14.0 environment should be deployed.
2. Long policy name should be assign to endpoint.

**Steps to Reproduce:**
1. Navigate to Administration tab of security.
2. Click on hostname.
3. Observe that UI is broken on side panel whe

[2021-06-22 08:23] elasticmachine commented on #102866
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 08:25] flash1293 opened #102868 "Allow missing buckets for non-string fields"
Right now missing bucket only works for string fields: https://github.com/elastic/kibana/blob/8cb3dbc4abd9dffbe4c4c9bde6a66eeed96fd8b6/src/plugins/data/common/search/aggs/buckets/terms.ts#L174

However it would be helpful to be able to use this feature for other field type as well. I suggest we change the implementation of how missing bucket works - instead of using the `missing` param on Elastics

[2021-06-22 08:25] elasticmachine commented on #102868
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-22 08:32] elasticmachine commented on #102866
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-22 08:34] kertal commented on #92297
Fixed by #97809

[2021-06-22 08:34] #92297 closed

[2021-06-22 08:34] flash1293 commented on #72502
I looked into this and we could implement this similar to `showNoDataPopover`, but it will become much easier once https://github.com/elastic/kibana/pull/100858 lands because by then it will be a simple selector on the state instead of passing it up from the editor frame to the app in a weird way.

Let's wait until this is merged before fixing this bug.

[2021-06-22 08:35] Dosant commented on #102841
@zhaoyi0113, could you check if your `test_metrics*` index pattern has a time field configured?

`Stack Management` -> `Kibana` -> `Index Patterns` -> `test_metrics*` -> look for `time field label`
Example:

![Screen Shot 2021-06-22 at 10 32 53](https://user-images.githubusercontent.com/7784120/122892009-4fcd7080-d345-11eb-8638-4525aca212eb.png)

If not, then you should delete this index pattern,

[2021-06-22 08:39] beiske commented on #102353
If the proxy responds with `{"statusCode":404,"response":"{\"ok\":false,\"message\":\"Unknown resource.\"}\n"}` for an ES cluster that actually exists and is live, then it is likely an issue with the services forwarder. @elastic/cloud-core-network are the owners of it and would be the ones that know if there are any known issues.

[2021-06-22 08:48] pgayvallet opened #102870 "[SO Tagging] Migrate the `tag` type to `namespaceType : "multiple-isolated"` mode"
Part of https://github.com/elastic/kibana/issues/100489

As we'll potentially want to make the `tag` type shareable in the (near?) future, we need to change its `namespaceType` to `multiple-isolated` before `8.0`

See https://github.com/elastic/kibana/issues/100489 for more detail about the reasons and conversion process.

See https://github.com/elastic/kibana/issues/54837 for full background info

[2021-06-22 08:51] formgeist opened #102871 "[APM] Traces: Add sparklines and time comparison to list of traces"
# Summary

Related design issue: https://github.com/elastic/observability-design/issues/52

We have added sparklines to the Services inventory and Service overview pages in recent releases and now it's time we bring these powerful charts to the rest of the APM views. In conjunction with adding sparklines, we'll also be adding the time comparison feature to these views.

# Solution

- [ ] Add spark

[2021-06-22 08:55] dej611 opened #102872 "[Lens] Improve time shift messages for invalid strings"
When the time shift is focused and the user sets and invalid string (even something that looks ok, as `5 months`) the only hint about the error state is the red highlight of the field - as the label has the focus color.

For specific cases an error message is shown, as for the shift too small or not multiple. I suggest to add also in case of invalid string an error message to hint the user to fix

[2021-06-22 08:56] streamich commented on #98107
ML link to ingest management.

![image](https://user-images.githubusercontent.com/9773803/122895463-6b864600-d348-11eb-83e8-415391ccae86.png)

[2021-06-22 08:56] formgeist opened #102873 "[APM] Errors: Add sparklines with time comparison to the Errors list"
# Summary

Related design issue: https://github.com/elastic/observability-design/issues/52

We have added sparklines to the Services inventory and Service overview pages in recent releases and now it's time we bring these powerful charts to the rest of the APM views. In conjunction with adding sparklines, we'll also be adding the time comparison feature to these views.

# Solution

- [ ] Add spark

[2021-06-22 08:56] elasticmachine commented on #102873
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 08:59] formgeist opened #102874 "[APM] Errors: Add comparisons to error occurrences to Error group detail view"
# Summary

Related design issue: https://github.com/elastic/observability-design/issues/52

We have added sparklines to the Services inventory and Service overview pages in recent releases and now it's time we bring these powerful charts to the rest of the APM views. In conjunction with adding sparklines, we'll also be adding the time comparison feature to these views.

# Solution

- [x] Add error

[2021-06-22 08:59] elasticmachine commented on #102874
Pinging @elastic/apm-ui (Team:apm)

[2021-06-22 09:09] pgayvallet commented on #92185
There wasn't, but if we're unblocked, I will try to do it asap.

Need to take a look to check if https://github.com/elastic/kibana/pull/93620 solves all we need to unblock the `licensing` migration. Planning to take a look this week.

[2021-06-22 09:10] cristina-eleonora commented on #101866
A third option could be:

### c) Breadcrumbs for deployment nav + cloud logo for portal

- Add a navigation system for the deployments across Cloud and Kibana, that includes the name of the deployment as the top level
- Clicking the name of the deployment in the breadcrumb will take users to the Kibana home page
- The cloud logo will take users to the cloud portal
- The `Home` link from the  side

[2021-06-22 09:11] cristina-eleonora commented on #101866
I fear that we're expecting too much from users, and for them it will be a confusing experience.

[2021-06-22 09:13] muskangulati-qasource opened #102875 "[Security Solution] The host is successfully isolated but the status keeps showing as 'isolating pending'"
**Describe the feature**
The host is successfully isolated but the status keeps showing as 'isolating pending'

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Administration Tab
2. Isolate the endpoint
3. Observe the host is successfully isolated but the status keeps on showing 'isolating pending'.

**Test d

[2021-06-22 09:13] muskangulati-qasource commented on #102875
@karanbirsingh-qasource please review!

[2021-06-22 09:23] MadameSheema commented on #102460
Closing since this is the expected behaviour ping @spong @peluja1012

[2021-06-22 09:25] MadameSheema commented on #102729
ping @XavierM

[2021-06-22 09:27] majagrubic commented on #102495
How do we expect this to behave in the light of the recent change to hide multi-fields? Is it expected that this field would show up as a regular field, while all the other multi-fields of the same name are hidden, or is it hidden as well?

[2021-06-22 09:32] majagrubic commented on #102495
Scenario A:
<img width="688" alt="Screenshot 2021-06-22 at 10 28 24" src="https://user-images.githubusercontent.com/1937956/122901049-172d9700-d345-11eb-981f-120c99533ddc.png">

[2021-06-22 09:34] majagrubic commented on #102495
Scenario B:
<img width="775" alt="Screenshot 2021-06-22 at 10 33 17" src="https://user-images.githubusercontent.com/1937956/122901434-725f8980-d345-11eb-8b2f-d41326a50fbe.png">

[2021-06-22 09:40] kertal commented on #102495
that's a good question, I'd say the most user friendly way is to show it in this case, WDYT @timroes

[2021-06-22 09:44] bytebilly commented on #77966
@sqren I agree with you. My concern was not specific to the view of keys, so I don't think it's a blocker here.

[2021-06-22 09:52] gmmorris commented on #55340
Following [this PR](https://github.com/elastic/kibana/pull/96971) these Saved Object no longer remain forever, but rather they are cleaned up.
This task runs every `5m` by default, though it has a backoff of an `1h` when there are none to clean up.
Given this it's not safe to assume that if an action fails it won't leave any Saved Objects for ever, so this issue feel like it can be closed.

Any ob

[2021-06-22 10:18] mostlyjason commented on #102623
I guess 443 is technically correct as a default, but it won't result in a working system in this scenario. We also don't provide any guidance on what port they should choose. What about mentioning the default port in the text below the input box? Something like this?

Also, I have no way to see it is appending 443 as an explicit port unless I reopen the dialog. Can we show the port in the confirma

[2021-06-22 10:28] amolnater-qasource opened #102881 "[Fleet]: Long name policy moves outside the window on "Assign to new Policy" Flyout."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, Chrome

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Create "New Policy" with long name(150+).
3. Click on "Assign to new policy" and select "New Policy" with long name.

[2021-06-22 10:28] elasticmachine commented on #102881
Pinging @elastic/fleet (Team:Fleet)

[2021-06-22 10:28] amolnater-qasource commented on #102881
@karanbirsingh-qasource Please review.

[2021-06-22 10:34] daverick opened #102883 "[DOCS] Page "Kibana Guide/Set-up/Configure Kibana" is broken starting at `server.xsrf.disableProtection`"
**Kibana Doc version:**
7.13
**Browser version:**
Reproduced on Safari and Chrome on Mac

**Describe the bug:**

In the page [Documentation Page "Kibana Guide/Set-up/Configure Kibana"](https://www.elastic.co/guide/en/kibana/7.13/settings.html#settings-xsrf-disableProtection) only the names of the settings are visible, the descriptions are not visible.

Works correctly on [7.12](https://www.elastic

[2021-06-22 10:37] gmmorris commented on #102353
I feel like there are two perspectives worth considering here:

1. Can the Saved Objects service trust that a 404 from an ES call means the document doesn't exist?
2. Can Kibana plugins that use the Saved Objects service trust that an error where `isNotFoundError(e) === true` means the Saved Object doesn't exist?

As it stands, the Alerting team have designed a mechanism that assumed the answer to

[2021-06-22 10:38] muskangulati-qasource opened #102884 "[Security Solution] The Endpoint keeps on showing under the Administration tab after successful uninstallation from the console"
**Describe the feature**
The Endpoint keeps on showing under the Administration tab after successful uninstallation from the console

**Build Details:**
[code]

**Preconditions**
1. Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Administration Tab
2. After some time the Endpoint goes to an unhealthy state [ Bug Reported: #102719 ]
3. RDP to the agent inst

[2021-06-22 10:38] elasticmachine commented on #102884
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-22 10:38] elasticmachine commented on #102884
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 10:40] amolnater-qasource opened #102885 "[Security Solutions]: Past timestamps for "First seen" and "Last seen" fields for Centos Agent under Hosts tab."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Centos 8.0 OS, All

**Build Details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. Linux Centos agent must be installed using default policy having System and Endpoint Security integrations.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Nav

[2021-06-22 10:40] elasticmachine commented on #102885
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 10:41] amolnater-qasource commented on #102885
@karanbirsingh-qasource Please review.

[2021-06-22 10:46] igor-kupczynski commented on #102353
As @beiske suggests this means that the proxy was not aware of the cluster (so the 404 doesn't come from ES, but rather the proxy has no idea to which cluster to route the request), e.g. the cluster was deleted. In a rare case (but I guess at ESS scale if rare cases do happen) if the cluster exists and is healthy it may mean that a specific proxy lost connection with the platform (even in such a c

[2021-06-22 10:50] gmmorris opened #102888 "[Discuss][Actions] Should actions remain "at most once"?"
When the actions plugin was introduced we chose to go with an "at most once" approach, meaning we wanted to ensure actions don't accidentally fire more than once.

We achieved this by setting action tasks to `maxAttempts` to `1`, which means actions are never retried.
The thinking at the time was that running an action twice was worse than not running it at all, as we had a history of failed tasks

[2021-06-22 10:53] #102009 closed

[2021-06-22 11:09] mandeepkaur-qasource opened #102891 "[Security Solution]Success message on the toaster is getting cropped on attaching an alert with a New Case."
**Description:**
Success message on the toaster is getting cropped on attaching an alert with a New Case.

**Build Details:**
Version: 7.14.0 snapshot
Build: 41498
Commit: 5cab87e2069dd31848490f83964291fc802d6889
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic

[2021-06-22 11:09] elasticmachine commented on #102891
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-22 11:09] mandeepkaur-qasource commented on #102891
@deepikakeshav-qasource Please review!

[2021-06-22 11:17] muskangulati-qasource commented on #99756
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/122904182-bbc3cf00-d36d-11eb-9109-dc54b377e868.mp4

Hence, closing this issue & marking it as "Validated".

Thanks!!

[2021-06-22 11:17] #99756 closed

[2021-06-22 11:17] muskangulati-qasource commented on #102617
Hi @kevinlog,

We tested this scenario on the latest 7.14.0-SNAPSHOT build and found that this issue is **fixed**.

Please find below the whole testing details:

**Build Details**:
[code]

**Screenshot**
- Is Not:
![IsNot](https://user-images.githubusercontent.com/60252716/122903768-596ace80-d36d-11eb-9c3a-1416177e752a.JPG)

- Is Not one of:
![IsNotOneOf](https://user-images.githubusercontent.com/