[2021-02-25 08:13] ruflin commented on #90513
I like the idea of this new artifact endpoint as I could also see other use cases for it. How will fleet-server decide which Elastic Agent has access to which artifacts?

@paul-tavares I stumbled over your last comment on not making it generic. My concern is that fleet-server is generic and serves all purposes so it is already generic. So I would probably just move the code from endpoint to Fleet

[2021-02-25 08:38] pgayvallet commented on #81130
It's unclear if those metrics should / could really be managed / provided by the 'low-level' core API. It looks more like it should be provided/handled by the associated apps / services (e.g `dashboard` and `security` respectively here)

I mean, we could add an `accessCount` and/or a `lastAccessDate` on all SOs, but that would only be it, a timeframe-independant counter and/or date.

We would not

[2021-02-25 08:41] pgayvallet commented on #92689
Do we want something like

[code]

or would a per-space structure make more sense, such as

[code]

per-space is more breaking, and probably don't make any sense for OSS, but still asking

[2021-02-25 08:42] #91845 closed

[2021-02-25 08:42] #92577 closed

[2021-02-25 08:43] #90423 closed

[2021-02-25 08:44] muskangulati-qasource commented on #92393
Thanks, @parkiino for looking into the issue.

As per the shared information that is on the Platinum license, the ransomware card should show up but with Switch toggle should be OFF.
But when we have upgraded the Elastic Cloud build 7.11.0 [ having Platinum license] to 7.12.0 the ransomware card showed up but with **Switch toggle ON** which is not as per AC and above comment. However, Prevent and

[2021-02-25 08:51] pgayvallet opened #92765 "[uiSettings] Allow setting owners to register migrations"
We currently have no way to let setting owners register migrations for their settings, forcing to implement such migrations directly into core code

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/core/server/ui_settings/saved_objects/migrations.ts#L11-L21

We should enhance the uiSettings server-side API to allow such migration without doing it directly in core

[2021-02-25 08:51] elasticmachine commented on #92765
Pinging @elastic/kibana-core (Team:Core)

[2021-02-25 08:54] dgieselaar opened #92766 "[APM] Use .debug instead of .info for not found agent configurations"
We are currently using `logger.info(...)` to log a message when a requested agent configuration has not been found. This is too noisy and we should use `logger.debug(...)` instead. Additionally we should more clearly identify this as an agent configuration message.

**Suggested message:**
[code]

to be changed in:
https://github.com/elastic/kibana/blob/6dc27348ad34c1ba0ed7b08a710cdc4f868d9ff2/x-pa

[2021-02-25 08:54] elasticmachine commented on #92766
Pinging @elastic/apm-ui (Team:apm)

[2021-02-25 09:04] ruflin commented on #92612
This definitively sounds like a bug.

[2021-02-25 09:09] pgayvallet commented on #92414
The `features` plugin is an `xpack` plugin, so we won't be able to leverage it from the `home` plugin. If we want to use user-right based check, we would have to directly use the `uiCapabilities`.

Now, the hardest part would be to find the capabilities we want to base all those restrictions on.

For example the `manage your data` section:

<img width="1243" alt="Screenshot 2021-02-25 at 10 06 44"

[2021-02-25 09:14] pgayvallet commented on #17888
@TinaHeiligers  https://github.com/elastic/kibana/issues/17888#issuecomment-777825420

Sorry, I missed the ping before my PTOs. We already discussed it during the breakout session, but yea, those statements were correct.

[2021-02-25 09:23] #81989 closed

[2021-02-25 09:25] elasticmachine commented on #92607
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-25 09:26] MadameSheema commented on #92607
@cnasikas @XavierM can you please take a look at this? Thanks :)

[2021-02-25 09:26] MadameSheema commented on #92607
Bug found during BC2 regression: https://github.com/elastic/security-team/issues/843

[2021-02-25 09:27] elasticmachine commented on #92608
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-25 09:27] MadameSheema commented on #92608
Bug found in BC2 regression: https://github.com/elastic/security-team/issues/843

[2021-02-25 09:27] MadameSheema commented on #92608
@XavierM can you please help with this? Thanks :)

[2021-02-25 09:30] Bamieh commented on #92765
I feel that the migrations API is too complicated for this usecase. We can the setting migrated without requiring a version. If the deprecated ui settings is being used we can automatically migrate it. Something similar to the `rename` helper for plugin configs

[2021-02-25 09:32] pgayvallet commented on #77214
Now that we're sending the `x-elastic-product-origin` header for https://github.com/elastic/kibana/issues/81536, should we align the header name for the calling plugin? Maybe `x-elastic-plugin-origin`?

[2021-02-25 09:44] #91647 closed

[2021-02-25 09:52] Mohitj252 opened #92775 "For logout button in kibana UI (7.8.0) with OD security plugin the cursor symbol is not changing to hand icon"
**Kibana version**: 7.8.0

**Elasticsearch version**: 7.8.0

**Steps to reproduce**:
 1. We are installing kibana(7.8.0) and integrating with OD Security plugin(1.9.0.0).
 2. After login to the kibana, we observed that, hand icon is not coming for the logout button. PFA screenshot for the same.

<img width="1429" alt="logout (2)" src="https://user-images.githubusercontent.com/20572160/109135546-32

[2021-02-25 10:45] ruflin commented on #92636
This needs to be fixed in the integration. @fearful-symmetry I assume you should be able to add a name to the data_stream manifest to overwrite `system.process_summary` with `system.process.summary`. You should also check if the fields are defined correctly.

[2021-02-25 10:52] RamjiRamachandran commented on #92775
.securityLogoutLink__icon-image {
    cursor: pointer !important;
}

This above css fix this issue while integrate OD security plugin with Kibana.

[2021-02-25 10:54] stratoula commented on #92366
@ThomThomson I am closing it. I checked on the new BC and it works!!

[2021-02-25 10:54] #92366 closed

[2021-02-25 10:55] lizozom opened #92779 "[Autocomplete] Unify data.autocomplete plugin"
Unify the autocomplete code from `data` and `data_enhanced`
- [ ] Move the KQL autocomplete provider to `data`
- [ ] Delete the `setAutocompleteService` getter-setter
- [ ] Delete `addQuerySuggestionProvider`

[2021-02-25 10:55] elasticmachine commented on #92779
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 10:56] muskangulati-qasource opened #92780 "[Enhancement] No option in advanced settings to prevent the file from being quarantined"
**Description**
No option in advanced settings to prevent the file from being quarantined

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment for 7.11.0 should exist.
2. Endpoint should be installed with Security Integration

**Steps to Reproduce:**
1. Navigate to the Administration tab under Security.
2. Click on the Policy name
3. Scroll down to find the

[2021-02-25 10:57] afharo opened #92781 "[Meta] Usage Collection: Add `description` field to `schema`"
This issue is meant to group all the action points related to adding the `_meta.description` fields to the usage collection `schema`.

- [ ] Add support to the initially-optional field (#89685)
- [ ] Add the description fields to the _Platform collectors_ (also #89685)
- [ ] Create `[Meta]` issue to track all other teams' plugins to backfill the description to their fields (probably help them with

[2021-02-25 10:57] elasticmachine commented on #92781
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-02-25 10:57] elasticmachine commented on #92781
Pinging @elastic/kibana-core (Team:Core)

[2021-02-25 10:57] muskangulati-qasource commented on #92780
@karanbirsingh-qasource please review!

[2021-02-25 10:57] #88893 closed

[2021-02-25 10:59] afharo commented on #89685
Since we clearly defined the scope of this issue to add support for the new field and to describe the Platform collectors as an example and proof that it works, I've created this meta issue to track all the other follow-ups that may come in future releases: https://github.com/elastic/kibana/issues/92781

[2021-02-25 11:00] #91336 closed

[2021-02-25 11:02] MadameSheema commented on #82529
@FrankHassanabad  @rylnd @peluja1012 @spong is this fix still going to happen for 7.12? Thanks :)

[2021-02-25 11:05] MadameSheema commented on #86273
@peluja1012 @spong is this issue going to be fixed on 7.12?

[2021-02-25 11:05] Bamieh commented on #92689
I have some thoughts about this!

- Should we consider this as a bug?
- We dont want to be including the name of the spaces here since they might be sensitive and dont provide any value for product telemetry.
- We need product to give us some guidance how they'd be consuming this data per space to figure out the correct architecture to report this.

[2021-02-25 11:12] MadameSheema commented on #87546
@dplumlee is there any work missing? Thanks :)

[2021-02-25 11:14] lizozom opened #92783 "[Autocomplete] Integrate new autocomplete API"
The Elasticsearch team is developing a [new, faster API for autocomplete](https://github.com/elastic/elasticsearch/pull/66452).
We need to integrate this new API into the value suggestions route (`/api/kibana/suggestions/values/${index}`).

## API format

Courtesy of @markharwood

#### Request

[code]

### Response

[code]

Errors will be returned in standard Elasticsearch format (root cause and a

[2021-02-25 11:14] elasticmachine commented on #92783
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 11:14] MadameSheema commented on #88450
@muskangulati-qasource can you please validate this issue on 7.12? Thanks :)

[2021-02-25 11:19] pgayvallet commented on #54375
We probably can yea, even if I'd prefer to first migrate the endpoint before trying to factorize it with the rendering service logic.

[2021-02-25 11:29] lizozom opened #92785 "[Search Sessions] Show generation time of search sessions"
Show the generation time of a search session in the search session indicator

Latest designs: https://www.figma.com/file/FD2M7MUpLScJKOyYjfbmev/Search-Sessions?node-id=1549%3A0
Related: https://github.com/elastic/kibana/issues/89010

[2021-02-25 11:30] joshdover commented on #75781
With just a few plugins remaining, I don't think this is necessary/helpful anymore.

[2021-02-25 11:30] #75781 closed

[2021-02-25 11:32] legrego commented on #92414
Hmm, if these "Manage your data" items are showing up for underprivileged users, then that's a new bug for the respective teams. When I introduced https://github.com/elastic/kibana/pull/67791 in 7.10, I took the time to make sure that the home screen was updated correctly based on user rights (It's all driven by UI Capabilities, which is available in OSS)

[2021-02-25 11:33] #88207 closed

[2021-02-25 11:35] azasypkin commented on #92558
Yes, please share when you have the numbers. We'd like to better understand the needs of the consumers of this API.

Good, 7.14 sounds doable to me.

Got it, let us know if you're stuck with anything.

[2021-02-25 11:37] angorayc commented on #90136
Fixed in https://github.com/elastic/kibana/pull/89592

[2021-02-25 11:37] angorayc commented on #90135
Fixed in https://github.com/elastic/kibana/pull/89592

[2021-02-25 11:37] angorayc commented on #90545
Fixed in https://github.com/elastic/kibana/pull/89592

[2021-02-25 11:37] #90545 closed

[2021-02-25 11:37] angorayc commented on #90416
Fixed in https://github.com/elastic/kibana/pull/89592

[2021-02-25 11:37] #90416 closed

[2021-02-25 11:39] lizozom commented on #91197
I would recommend splitting this into three tasks:
- Implementing the SQL search strategy
- Migrating all `search`es to use `data.search`
- Integrating search sessions (this task)

Tasks 1 and 2 should be pretty straight forward and quick and the team have allocated time in 7.13 to help you with them. :pray:

[2021-02-25 11:42] Bamieh commented on #92781
LGTM!

[2021-02-25 11:44] lizozom opened #92788 "[Search Sessions] Use object level security"
Once https://github.com/elastic/kibana/issues/82725 is ready, we should be able to undo the changes from https://github.com/elastic/kibana/pull/84975 and rely on OLS to control access to Search Session objects.

[2021-02-25 11:44] elasticmachine commented on #92788
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 11:50] lizozom opened #92790 "[Search Sessions] Client side caching"
Based on [requirements for Lens](https://github.com/elastic/kibana/issues/90945), but should improve performance for other apps as well.

Implement a search cache on the client side. The cache will be `searchSessionId` based, and will persist responses to be reused within the context of the session. It will also attempt to detect identical requests within the session, and avoid sending identical r

[2021-02-25 11:50] elasticmachine commented on #92790
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 11:54] lizozom commented on #84908
@flash1293 I think we've had a couple discussions (with you and @timroes as well), deciding that actually "Sending to background" (saving a search session) is not a realistic use case for Lens editor (or visualize editor). We should instead encourage users to **edit** with a smaller data set.

I think this can be closed and if the need rises at some point, we can discuss this then.

[2021-02-25 11:54] dikshachauhan-qasource commented on #91505
Hi @EricDavisX

We have performed testing on this ticket and below are our observations:

On 7.12 snapshot kibana cloud build
windows package 4.1
Linux 3.8
- Windows agent is going to unhealthy state tried on different OSs

Hence, switched to 7.11.1 snapshot. However,  we were facing issues while build deployments from staging URL. All deployments were showing up as unhealthy.

So, finally we atte

[2021-02-25 12:01] afharo commented on #92689
cc @alexfrancoeur @thesmallestduck so they can weight in from the product POV.

[2021-02-25 12:01] sebelga commented on #91979
@mattkime Makes sense to me. 👍

[2021-02-25 12:02] joshdover commented on #78792
Sorry for the delay here folks, I had written a lengthy reply but it appears it didn't get posted. So let's try this again 😄

So I'm not the most statistically knowledgeable, but the way I was able to reproducible results was by running the DemoJourney scenario 30 times and then taking the percentiles of the entire distribution of all request timings from all tests. This resulted in about 42k tota

[2021-02-25 12:06] mikecote commented on #70169
After discussing with @sqren yesterday, "alerts as data" is necessary for the 7.x Observability workflows, which remove the need for these APIs as a half-way measure.

[2021-02-25 12:06] #70169 closed

[2021-02-25 12:07] flash1293 commented on #84908
Good point @lizozom, I edited the description. I still think there's something to do here for the current feature set.

[2021-02-25 12:12] afharo commented on #91687
I'm wondering what's the difference between the opt-in approach and a plugin creating its own collector, reporting the config items they feel they need to report. What do you think?

[2021-02-25 12:12] dgieselaar commented on #78792
Mostly just interested in the performance impact of increasing or decreasing the sample rate, compared to the baseline.

[2021-02-25 12:12] legrego commented on #41527
Related: https://github.com/elastic/elasticsearch/issues/69588

[2021-02-25 12:13] ruflin commented on #92427
For the config options, it would be nice to match them against the package. At the same time this adds complexity. Instead I would focus a first effort on hardcoding what is supported and what not.

Additional thought here: In some cases it would be nice to tell users why something is not supported anymore. This could be built into the return json blob or probably simpler, just a docs page we link

[2021-02-25 12:15] deepikakeshav-qasource opened #92794 "[Security Solution] Ransomware file is not quarantined when trigger the alert with prevention mode enable in policy"
**Description**
Ransomware file is not quarantined when trigger the alert with prevention mode enable in policy

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. 7.12.0 Environment should exist.
2. Endpoint security should be installed.
3. Policy should be enabled for Ransomware prevention

**Steps to Reproduce:**
1. Navigate to the endpoint and trigger the ransomware ale

[2021-02-25 12:15] elasticmachine commented on #92794
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 12:16] flash1293 opened #92795 "Visualize: Heatmap visualization switches from row split to column split"
**Kibana version:** 7.12 BC2

**Describe the bug:** Importing a heatmap with a row wise chart split from 6.8 turns into a column split

**Steps to reproduce:**
1. Go to a 6.8 instance and configure a chart with a row chart split (or install logs sample data and import https://gist.github.com/flash1293/5cb35e1b4390a48a9417cfe53970833e)
2. Open heatmap chart in editor
3. Is split by columns

**Expec

[2021-02-25 12:16] elasticmachine commented on #92795
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 12:17] Kerry350 commented on #92438
@neptunian Ah, sorry for the noise, looks good against BC2 (tested on Cloud)

![Screenshot 2021-02-25 at 12 16 53](https://user-images.githubusercontent.com/471693/109152471-73035d00-7763-11eb-999d-59da5367e4cc.png)

[2021-02-25 12:18] #92438 closed

[2021-02-25 12:19] flash1293 opened #92796 "Visualize: Metric vis pushes update button below fold"
**Kibana version:** 7.12 BC

**Describe the bug:** If a metric vis overflows the editor, it's not scrollable within the workspace, but increases the height of the side bar which pushes the update button below the fold

**Steps to reproduce:**
1. Configure a metric vis which will produce lots of different metrics (split plus multiple metric aggs)
2. Update button is only reachable via scroll

**Exp

[2021-02-25 12:19] elasticmachine commented on #92796
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 12:25] flash1293 opened #92797 "[Lens] Most of the UI elements can't be focused in Safari"
**Kibana version:** 7.12 BC2

**Browser version:** Safari 13.1.3

**Describe the bug:** Most of the Lens UI can't be focused in Safari - pressing tab just cycles through query bar, fields filter bar, available fields section and empty fields section, then going back to the URL bar. It seems like it's not possible to tab to the chart switcher for instance.

**Steps to reproduce:**
1. Go to Lens
2.

[2021-02-25 12:25] elasticmachine commented on #92797
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 12:34] karanbirsingh-qasource opened #92798 "[Security Solution]Customize event rendering under timeline area was disabled on all browser"
**Describe the bug**
customize event rendering under timeline area was disabled on all browser

**Build Details:**
[code]

**Browser Details**
[code]
**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Audit beat should be installed on above environment.

**Steps to Reproduce**
1. Navigate to Kibana and Select Security Solution App from the left navigation pa

[2021-02-25 12:34] elasticmachine commented on #92798
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 12:34] deepikakeshav-qasource opened #92799 "[Security Solution] 'Add Endpoint Exception' button is Enabled with only the "Trusted" field."
**Description**
'Add Endpoint Exception' button is Enabled with only the "Trusted" field.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. 7.12.0 Environment should exist.
2. Endpoint security should be installed.
3. Alert should be generated.

**Steps to Reproduce:**
1. Login to Kibana environment.
2. Click on the detection tab of security.
3. Click on the more action i

[2021-02-25 12:34] elasticmachine commented on #92799
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 12:34] karanbirsingh-qasource commented on #92798
Assigned to @MadameSheema

[2021-02-25 12:34] deepikakeshav-qasource commented on #92799
@muskangulati-qasource Please review!!

[2021-02-25 12:38] muskangulati-qasource commented on #92799
Reviewed and assigned to @MadameSheema

[2021-02-25 12:46] karanbirsingh-qasource opened #92800 "[Security Solution] vertical bar observed in the JSON view of timeline right side details result"
**Describe the bug**
vertical bar observed in the between of JSON view content of timeline right side details result

**Build Details:**
Build Details:
Version: 7.12.0 BC2
Commit: 4f65a5a1268fa78f1af9117d12312e1cee433376
Build:39000

**Browser Details**
Edge  88.0.705.74
Safari 13.1.2 (13609.3.5.1.5)
Firefox 86.0
Chrome ( 88.0.4324.190 )

**Preconditions**
1.Elastic Cloud environment having versio

[2021-02-25 12:46] elasticmachine commented on #92800
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 12:47] karanbirsingh-qasource commented on #92800
Assigned to @MadameSheema

[2021-02-25 12:49] flash1293 opened #92801 "Visualize: Listing page unbearably slow"
**Kibana version:** 7.12 BC

**Browser version:** Safari 13.1.3

**Describe the bug:** In Safari, as soon as accessing the Visualize listing page, everything slows down to a crawl (even opening the side menu). Rendering the list takes >5s on a well equipped macbook and every interaction is very slow - it's very hard to use, I can imagine it will get much worse on low-end devices.

Every part of Ki

[2021-02-25 12:49] elasticmachine commented on #92801
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 12:51] lizozom opened #92802 "[Search] Unify data.search plugin"
`_async_search` is available with the Free license since 7.11
This means we can unify the `data.search` plugin and simplify the code.

- [x] Unify search interceptor https://github.com/elastic/kibana/pull/97845
- [x] Deprecate `TimeoutErrorMode.UPGRADE` https://github.com/elastic/kibana/pull/97845
- [x] Remove the `defaultStrategy` override https://github.com/elastic/kibana/pull/95811
- [x] Move a

[2021-02-25 12:51] elasticmachine commented on #92802
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 12:53] #92775 closed

[2021-02-25 12:53] toby-sutor opened #92803 "[Docs] Kibana API does not consistently refer to Kibana Spaces Requests for Alarms and Connectors"
In the Kibana API docs for [the saved spaces](https://www.elastic.co/guide/en/kibana/master/saved-objects-api-get.html) we state the `Request` URLs for both the use with and without spaces.

E.g.:
[code]

However, for most of the alerts and connectors docs we do not make it clear that those requests are also valid (and sometimes even required) for the usage with Kibana Spaces.

E.g. for [the find

[2021-02-25 12:53] elasticmachine commented on #92803
Pinging @elastic/kibana-docs (Team:Docs)

[2021-02-25 12:59] EricDavisX commented on #92612
I'd like to encourage us to review this as a feature. We would ideally want to leave the product in a state where a user can test out changes before rolling it out to all Agents.  Just my 2 cents.

[2021-02-25 13:03] flash1293 opened #92804 "Visualize: visualization:visualize:legacyChartsLibrary setting requires a page load to take effect"
**Kibana version:** 7.12 BC2

**Describe the bug:** On toggling the `visualization:visualize:legacyChartsLibrary` flag in advanced settings, the page has to be reloaded for the change to take effect in Visualize. The notification toast is not shown though.

**Steps to reproduce:**
1. Go to Advanced settings
2. Change `visualization:visualize:legacyChartsLibrary` and save
3. Go to Visualize
4. Char

[2021-02-25 13:04] elasticmachine commented on #92804
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 13:05] elasticmachine commented on #92798
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-25 13:08] MadameSheema commented on #92798
Found during BC2 regression https://github.com/elastic/security-team/issues/843

[2021-02-25 13:09] elasticmachine commented on #92799
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-25 13:11] MadameSheema commented on #92799
Found during BC2 regression: https://github.com/elastic/security-team/issues/840

@peluja1012 @spong can you please help to prioritise this? Thanks :)

[2021-02-25 13:12] elasticmachine commented on #92800
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-25 13:13] MadameSheema commented on #92800
Bug found during BC2 regression: https://github.com/elastic/security-team/issues/843

@XavierM can you please help to prioritise this? Thanks :)

[2021-02-25 13:15] stratoula commented on #92796
This [PR](https://github.com/elastic/kibana/pull/86934) fixes this problem. So this will be solved on 7.13 unless it is safe to backport it on 7,12. @sulemanof wdyt?

[2021-02-25 13:16] mbondyra opened #92807 "[Lens] reordering parent aggregation metric with whichever metric doesn't work correctly"
master
These two are probably related so I am creating just one issue.

1. Create a chart like on the picture:

<img width="930" alt="Screenshot 2021-02-25 at 14 13 19" src="https://user-images.githubusercontent.com/4283304/109158816-296f3e00-7774-11eb-88ce-b69de7ae0a21.png">

2. Reorder operations.
Behaviour: chart won't render the data:
<img width="945" alt="Screenshot 2021-02-25 at 14 13 43" sr

[2021-02-25 13:16] elasticmachine commented on #92807
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 13:23] flash1293 opened #92809 "Visualize: elastic-charts xy charts do not render partial bucket markers"
**Kibana version:** 7.12 BC2

**Describe the bug:** If legacy rendering is disabled, partial bucket markers ("endzones") are not rendered anymore

**Steps to reproduce:**
1. Go to Visualize, create new xy chart
2. Configure date histogram on the x axis
3. not rectangle annotations at the beginning and the end are shown

**Expected behavior:**
Partial buckets at the beginning and the end should be

[2021-02-25 13:23] elasticmachine commented on #92809
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 13:25] mbondyra commented on #92797
I think it's something in your settings Joe, it works fine for me when I was testing keyboard navigation.

https://user-images.githubusercontent.com/4283304/109159649-258feb80-7775-11eb-829b-64a1958ee300.mp4

Here's what google says:

https://corehelpcenter.bqe.com/hc/en-us/articles/115003481673-Tab-key-is-not-working-on-Mac-Safari

[2021-02-25 13:27] flash1293 commented on #92797
That's it, thanks @mbondyra ! Sorry for the noise

[2021-02-25 13:27] #92797 closed

[2021-02-25 13:28] mbondyra commented on #92797
No worries! myself I am the master of creating the noise 😂

[2021-02-25 13:37] mostlyjason commented on #91906
++ tooltips sound like a better way to provide context

++ this allows users flexibility while matching our cloud restrictions. This could be an advanced option in the create agent policy dialog. We only have two options today, but plan to have more in the future.

Good idea. If we show header text like Policy Type: Managed then they mouse over, they could see a tooltip with a definition of manage

[2021-02-25 13:38] aarju opened #92813 "Add a Kibana UI function to import built in saved objects for a data source"
**Describe the feature:**
I would like to be able to import the Elastic prebuilt Dashboards, saved searches, and visualizations for a particular data type directly within the Kibana UI. I would like to be able to go to an interface in Kibana that shows me all of the Elastic Built in dashboards and then lets me pick the datasources I want to load and update dashboards for. If there are updates to e

[2021-02-25 13:42] muskangulati-qasource commented on #88450
Hi @MadameSheema,

We tested this ticket on the latest 7.12.0 BC2 and found that issue is now **fixed**. We are able to search the exception lists correctly. Please find details information below.

**Build Details**:
[code]

**Refer Screenshots**:
- Searched the existing entry:
![Search1](https://user-images.githubusercontent.com/60252716/109152210-2f274c80-7791-11eb-97ee-94ac274e017b.PNG)

- Sear

[2021-02-25 13:42] #88450 closed

[2021-02-25 13:42] Bamieh commented on #91687
- opt-in: add a flag in the configs definition to collect this setting. telemetry code will automatically collect and send it.

- using a collector: every plugin has to wire up all the logic to send it, circling back to the main reason this issue was opened.

I like the automatic approach because we've seen a lot of success doing that with aplication usage, and ui_settings. The more we can make it

[2021-02-25 13:45] deepikakeshav-qasource commented on #92780
Reviewed and assigned to @kevinlog

[2021-02-25 14:06] amolnater-qasource opened #92814 "Incorrect Agents count under telemetry collection."
**Kibana version:** 7.12.0 BC-2 Kibana Cloud environment

**Host OS and Browser version:** Windows 10, All

**Build Details:**
[code]

**Preconditions:**
1. 7.12.0 BC-2 Kibana cloud environment should be available.
2. Few Agents must be installed.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to telemetry collection by visiting http://<Kibana_url with port>/api/stats?e

[2021-02-25 14:07] simitt commented on #92612
I believe we need to review the whole update process, with respect to the purpose of installed 'global' packages (not installed to a policy) and whether or not they should be considered when installing integrations to policies. It should be clear whether an integration is connected to the global package or not. There should not be a difference in behavior when installing an integration from the In

[2021-02-25 14:07] sqren commented on #92631
What should we use as the domain (aka range) for the x-axis in this example? imo the ideal domain in this case is `[0, 16]` which would put the instance in the middle. But the logic to find the upper ound might be odd, something like:
[code]

Other options is simply `[0, 7.6]` as we normally do.

[2021-02-25 14:07] amolnater-qasource commented on #92814
@karanbirsingh-qasource Please review

[2021-02-25 14:10] skh commented on #92612
I think we might have a misunderstanding here -- there is no global package, or you could say there is _only_ the global package. There is always only one version of the package installed. The first time a package is used in a policy, it is installed, and can then be used by other policies as well.

[2021-02-25 14:14] karanbirsingh-qasource commented on #92814
Assigned to @EricDavisX

[2021-02-25 14:16] monfera opened #92815 "[Canvas] Share on Website runtime download doesn't work"
**Kibana version:**
7.12

**Elasticsearch version:**

**Server OS version:**
OS X

**Browser version:**
Chrome 88

**Browser OS version:**
OS X

**Original install method (e.g. download page, yum, from source, etc.):**
`kbn bootstrap` etc. from the `7.12` branch

**Describe the bug:**
Couldn't export workbook as web site

**Steps to reproduce:**
1. Try to export the runtime part of the web export

[2021-02-25 14:16] elasticmachine commented on #92815
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 14:16] flash1293 opened #92816 "Visualize data table: Summary row is detached and jumps in Firefox"
**Kibana version:** 7.12 BC2

**Browser version:** Firefox 86.0

**Describe the bug:** In a row-wise splitted data table, in Firefox the summary row is not attached to the other rows and jumps up and down on hover

**Steps to reproduce:**
1. Go to visualize data table
2. Add some data plus summary row and row-wise split
3. Hover over different parts of the summary row

**Expected behavior:**
Shoul

[2021-02-25 14:16] elasticmachine commented on #92816
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 14:17] ryankeairns commented on #54192
@balee for clarification, which version of Kibana did you encounter this on?

[2021-02-25 14:17] ryankeairns commented on #92414
Thanks for the feedback. I've asked the original poster to confirm which version of Kibana they were running.

[2021-02-25 14:19] deepikakeshav-qasource opened #92819 "[Security Solution] Error is displaying under cases tab after upgrade from 7.11.1 to 7.12.0"
**Description**
Error is displaying under cases tab after upgrade from 7.11.1 to 7.12.0

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. 7.11.1 Environment should exist.
2. Endpoint security should be installed.
3. Cases should be created with connectors.

**Steps to Reproduce:**
1. Upgrade the build from 7.11.1 to 7.12.0
2. Navigate to the cases tab
3. Observe that no c

[2021-02-25 14:19] elasticmachine commented on #92819
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 14:21] deepikakeshav-qasource commented on #92819
@muskangulati-qasource Please review!!

[2021-02-25 14:21] elasticmachine commented on #91906
Pinging @elastic/fleet (Team:Fleet)

[2021-02-25 14:25] thomasneirynck commented on #92741
Agreed that UX is wonky here. Graying out when a layer-type does not support fit2 layer (e.g. in the case of a raster layer) makes sense to me.

[2021-02-25 14:27] muskangulati-qasource commented on #92819
Reviewed and assigned to @MadameSheema

[2021-02-25 14:28] crob611 commented on #92815
@monfera Locally you will need to run `canvas/scripts/shareable_runtime.js` to generate that file.  I don't think just a standard bootstrap causes it to be built.

[2021-02-25 14:34] paul-tavares opened #92820 "[Fleet] Add new system index in support of user generated kibana artifacts"
## Describe the feature
Add a new system (`.fleet-artifacts`) index to fleet in order to support Integration's user generated artifacts.

### Describe a specific use case for the feature:

This new index will serve as the interface between Kibana and Fleet Server, which will introduce a new API for use by Agent (currently only Endpoint really) to download those artifacts.

[2021-02-25 14:34] elasticmachine commented on #92820
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-02-25 14:34] elasticmachine commented on #92820
Pinging @elastic/fleet (Team:Fleet)

[2021-02-25 14:39] monfera opened #92821 "[Visual Library] Non-modal editing of a Visual Library chart still offers Save and Return, lands in a Canvas workbook"
**Kibana version:**
7.12

**Original install method (e.g. download page, yum, from source, etc.):**
`kbn bootstrap` etc. from the `7.12` branch

**Describe the bug:**
as in the title

**Steps to reproduce:**
1. Go to somewhere eg. home page
2. Go to Visual Library
3. "Save and Return" is shown, and actually lands you somewhere, like a forgotten continuation

**Expected behavior:**
Save and Return

[2021-02-25 14:39] elasticmachine commented on #92821
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 14:39] elasticmachine commented on #92821
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 14:43] thomasneirynck commented on #92664
I can take a look at this. We need to remove the dependency from Vega from maps_legacy, so this could be part of that refactoring effort.

[2021-02-25 14:45] elasticmachine commented on #92819
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-02-25 14:45] flash1293 commented on #92821
I think this should be fixed by https://github.com/elastic/kibana/pull/91005 @monfera could you check whether you have this commit locally?

cc @ThomThomson

[2021-02-25 14:45] MadameSheema commented on #92819
@deepikakeshav-qasource if you refresh the page you continue having that issue?

@XavierM please help to prioritise this, thanks

[2021-02-25 14:46] nreese commented on #92658
This is a regression caused by [labels for polygons and lines](https://github.com/elastic/kibana/pull/86191). A centroid feature is added for each line and polygon feature. Thus the feature collection of length 10000 is actually doubled in size to 20000 features.    Instead of using [values: { count: featureCollection.features.length }](https://github.com/elastic/kibana/blob/master/x-pack/plugins/

[2021-02-25 14:47] MadameSheema commented on #92819
Found during BC2 regression elastic/security-team#843

[2021-02-25 14:50] monfera commented on #92821
Thanks Joe, I didn't have this commit and a git pull on `7.12` didn't add it, so it may still need a backport. Hey at least the "before" state got tested!

[2021-02-25 14:52] paul-tavares commented on #90513
@ruflin

I talked briefly with @scunningham and I don't think it will know that - at least not initially. Doing so would possibly have to include changes in Fleet Server to look inside of an agent policy to see if it has a manifest and then look at the URLs for those _(FYI - look below for what a manifest looks like for the endpoint integration policy)_. That could imply introducing a standard loc

[2021-02-25 14:52] nreese commented on #92658
Added the following instructions to issue description

Steps to produce:
1) upload a line or polygon dataset that has more then 10000 features
2) Add a "Documents" layer for the uploaded index and set scaling to "Limit results".
3) Notice how the icon in the legend shows results have been trimmed. Mouse over the title in the legend to view the tooltip. The results trimmed message has double counte

[2021-02-25 14:53] ThomThomson commented on #92821
Not sure how, but it looks like this didn't make it into the 7.12 branch. Good find @monfera, thanks! I will run another backport for it. Fingers crossed for no conflicts.

[2021-02-25 14:53] benwtrent opened #92823 "[ML] Categorization wizard - allow datafeed query to be adjusted"
**Describe the feature:**

In the categorization wizard, it would be useful to allow the datafeed query to be easily adjustable without jumping to the advance configuration wizard.

Especially when manually creating jobs for large indices with numerous event sources (e.g. `logbeat`).

**Describe a specific use case for the feature:**

Adjusting the datafeed to filter out specific log sources, or s

[2021-02-25 14:54] balee commented on #54192
v7.11.0

[2021-02-25 14:57] EricDavisX commented on #92814
Thanks Karanbir.  @skh can you help confirm the issue and severity / need?

[2021-02-25 14:58] EricDavisX commented on #92814
@ph fyi

[2021-02-25 15:00] nreese commented on #92672
Closing.

In the description screen shot, the icon is a vector tile layer icon meaning the Documents layer has scaling set to "Use vector tiles". There is no feature meta data available for vector tile layers so the styling UI does not know that the source is only lines.

If you set scaling to "Limit" then the form correctly selects lines displaying the styling UI. The only caveat to this is if th

[2021-02-25 15:13] afharo opened #92825 "[Telemetry] Test helpers for `kibana_system`"
We should provide some test helpers for devs to make sure the data they are collecting is actually accessible by the internal `kibana_system`.

At the moment, we have the service https://github.com/elastic/kibana/blob/master/x-pack/test/api_integration/services/usage_api.ts that folks can use to retrieve the telemetry in their FTR. We could improve this service by making it more accessible (not on

[2021-02-25 15:13] elasticmachine commented on #92825
Pinging @elastic/kibana-core (Team:Core)

[2021-02-25 15:13] elasticmachine commented on #92825
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-02-25 15:20] EthanStrider commented on #92703
Yes, almost! Thanks, @cjcenizal for the reply! This shows the indices, but I still find it hard to believe that this is not a 1st class citizen in the Kibana UI. It feels like the starting point for most work. Maybe there is an intentional reason to burry it two layers down, but it feels like a fundamental aspect of data overview (and discovery).

Long story short, I think this should live on the

[2021-02-25 15:23] EricDavisX commented on #91505
those are the correct package versions I'd expect so, perhaps there was a problem that  was somehow transient with the way we remove packages from storage-repo and promote / build new images.  I don't have any further recourse to investigate this... if we reproduce it again we can re-open it, or log a new, more specific issue.

I hope / expect that most of our testing won't need the custom registr

[2021-02-25 15:23] #91505 closed

[2021-02-25 15:29] simitt commented on #92612
When an integration is installed to a new policy, the latest available package information for this integration is shown. When installing it and an older version is already _globally_ installed - what is the expected behavior in this case?

[2021-02-25 15:30] joshdover commented on #69592
Deciding not to do this now.

[2021-02-25 15:30] #69592 closed

[2021-02-25 15:31] deepikakeshav-qasource commented on #92819
Hi @MadameSheema

Thanks for looking into the Issue.

However, the issue was persisting after refresh also and even done the hard refresh fn+f5.

We tested it on the incognito tab also, it was occurring there too.

Please let us know if something else needs to be tried.

Thanks!

[2021-02-25 15:35] fearful-symmetry commented on #92636
@ruflin tried that, doesn't seem to work?
[code]

[2021-02-25 15:35] aaronjcaldwell commented on #92672
Point well taken, and I understand the solution isn't so straightforward with vector tiles, but I believe this should be captured as a UX issue. The solution might be as simple as swapping the `Fill color` and `Border color` adjustments. As it stands right now, when you have a vector line layer and go to adjust what appears to be the first valid adjustment, nothing happens and it's confusing. We m

[2021-02-25 16:00] #64092 closed

[2021-02-25 16:07] ryankeairns commented on #92414
It was on v7.11.0. Sounds like we need to do some testing and validation before proceeding. I'll add this to ye ol' to-do list.

[2021-02-25 16:08] nreese commented on #92672
I still recommend closing this issue. This is not something I see us addressing in the next 6 months and is a minor UX issue. I think it would be best to close this issue to try and keep our issue list only containing issue that will likely get addressed.

[2021-02-25 16:10] afharo commented on #91687
As discussed in private, please make sure this approach would work if we have access to the _default_ values.

[2021-02-25 16:13] flash1293 opened #92835 "Visualize: Can't use ip range to split series in xy chart"
**Kibana version:** 7.12 BC2

**Describe the bug:** Trying to split a series by an ip range aggregation results in a "no data" screen. The inspector shows the correct data. Splitting the chart by ip range works fine.

**Steps to reproduce:**
1. Create new area chart
2. Add date histogram x axis
3. Add split series on ip range
4. No data is shown

**Expected behavior:**
Two series should be shown

[2021-02-25 16:13] elasticmachine commented on #92835
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 16:18] thomasneirynck commented on #92672
It's ok to keep this open I think. There's a backend issue on the ES-side that is blocking this. https://github.com/elastic/elasticsearch/issues/49569

Given that all .mvt work is in flux right now (potentially having mvt generation pushed down into the ES-layer - https://github.com/elastic/elasticsearch/issues/58696), I agree that this is a hard one to prioritize.

[2021-02-25 16:19] elastic-jb commented on #89549
This is a really good change. I have seen several users lose a drilldown change going back and forth between edit to test. This will help keep users in the iteration flow until they have the configuration they want.

[2021-02-25 16:20] spalger opened #92837 "[dev/build_ts_refs] APM error caused by mixed casing usage"
I'm seeing a TypeScript error locally seemingly caused by an import in APM which was seemingly merged over a week ago... but the error seems legitimate because in all but one location APM is importing from `../Correlations` but in only one location from `../correlations` (lowercase `c`), so it seems the `forceConsistentCasingInFileNames` setting from `tsconfig.base.json` is not being enforced corr

[2021-02-25 16:20] elasticmachine commented on #92837
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-25 16:20] elasticmachine commented on #92837
Pinging @elastic/apm-ui (Team:apm)

[2021-02-25 16:27] andrew-goldstein opened #92838 "[Security Solution] Allow timeline templates to be directly assigned to Elastic rules without cloning them"
## Allow timeline templates to be directly assigned to Elastic rules without cloning them

Users must duplicate detection rules authored by Elastic before assigning timeline templates to them, because the rules are immutable.

We received user feedback that this requirement is burdensome, especially when associating many rules with a template. Users must also re-duplicate rules when new revisions

[2021-02-25 16:27] elasticmachine commented on #92838
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-02-25 16:27] elasticmachine commented on #92838
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 16:29] elasticmachine commented on #92813
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 16:29] Bamieh commented on #91687
Yes we can get the default value from the schema object itself.

[2021-02-25 16:32] dgieselaar opened #92839 "[APM] APM Anomaly rule type might miss anomalies"
The APM Anomaly alert type is always querying now-15m when retrieving anomaly data. Anomaly records are timestamped at the leading edge of the bucket, and are only finalized when the bucket has closed, which means that the final result is likely indexed in Elasticsearch with a timestamp of more than 15 minutes prior to the time of ingestion. This means that we are likely to miss final results. We

[2021-02-25 16:32] elasticmachine commented on #92839
Pinging @elastic/apm-ui (Team:apm)

[2021-02-25 16:42] majagrubic opened #92843 "[Discover][Search Search] Discrepancy in results in Discover and devtools when sorting and size present"
**Kibana version:**
7.12, testing on cloud

We have large dataset, currently returning 3156517 hits. When sorting on a column, Discover sends a `size` parameter, together with a `sort` parameter, eg:
[code]

  In the response, all hits are returned, disregarding the `size` parameter:
[code]

Due to this, sort appears broken. When executing the same request from the devtools console, only 1000 hits

[2021-02-25 16:42] elasticmachine commented on #92843
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 16:42] elasticmachine commented on #92843
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 16:43] #92804 closed

[2021-02-25 16:44] ThomThomson commented on #92821
Seems like both #91005 and #90243 were merged correctly into 7.12 - (back when 7.x was 7.12)

Interestingly, this issue seems like more of a design / UX consideration.

@kmartastic @ryankeairns

This earlier issue: https://github.com/elastic/kibana/issues/90221 describes a situation where editing a by value panel would put the state into the app link, which meant that leaving (going to home for in

[2021-02-25 16:46] spalger commented on #92837
From some side discussion it sounds like @restrry ran into this error right after #89952 was merged, though it went away by blowing out the cached target dirs for some reason. It seems like the `forceConsistentCasingInFileNames` setting in our `tsconfig.base.json` file isn't being applied consistently, as CI should have caught this and prevented the change from being merged, so I think I'm in supp

[2021-02-25 16:46] elasticmachine commented on #89467
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-25 16:47] nickpeihl commented on #92815
I also ran into this error in my local testing. So I tested a build on Elastic Cloud and the runtime download does work there. So I guess it's only an issue in development?

[2021-02-25 16:48] simianhacker commented on #79093
@katefarrar Is there an issue on the design side for the logos for the other platforms? It looks like`EuiIcon` works with SVGs.

[2021-02-25 16:49] nickpeihl commented on #92673
Duplicate of https://github.com/elastic/kibana/issues/92815

[2021-02-25 16:49] simianhacker commented on #79093
@kaiyan-sheng Do you have the new names?

[2021-02-25 16:51] kibanamachine opened #92847 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/visualize/feature_controls/visualize_security·ts - Visualize visualize feature controls security global visualize read-only privileges can't save existing Visualization"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12036/)

[2021-02-25 16:51] elasticmachine commented on #89467
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 16:51] jasonrhodes opened #92848 "[Metrics UI] Change composite size for snapshot query"
We currently limit our snapshot query to only 5 per request, which means requesting x nodes takes x/5 requests, in sequence (they cannot be done in parallel because it's a cursor based pagination lookup).

https://github.com/elastic/kibana/blob/master/x-pack/plugins/infra/server/routes/snapshot/lib/transform_request_to_metrics_api_request.ts#L38

https://github.com/elastic/kibana/blob/master/x-pac

[2021-02-25 16:51] elasticmachine commented on #92848
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-25 16:53] michaelolo24 commented on #92800
I'll take a look as I'm cleaning up all the bugs for the side panel. Thanks for finding @karanbirsingh-qasource!

[2021-02-25 16:58] ryankeairns commented on #92821
If I'm following the flow correctly...
- I was in Dashboard
- went out to edit in Visualize Library
- jumped off to the home page and
- am now going directly to Visualize Library.

If that is the flow, then my expectation would be to see the listing page. In my mind, the editing I was doing prior was in the context of the dashboard, so I wouldn't expect to land back in that editing flow unless I w

[2021-02-25 17:00] jasonrhodes commented on #92839
@Zacqary @phillipb this is similar to what we were dealing with when we implemented metrics anomaly alerts, right?

[2021-02-25 17:05] #92590 closed

[2021-02-25 17:05] EricDavisX opened #92853 "[Fleet] Error fetching Agents pop up shows, with error [the key is empty and needs to be wrapped by a saved object type...]"
version 7.12 BC2 on cloud stack

The error I see is this:  The key is empty and needs to be wrapped by a saved object type like fleet-agents: Bad Request

And I only see it when I pass in a bad kql to the Agents search bar like 'win' and hit enter.  It shows the error every time I hit enter, and on whatever auto refresh view timer is there.

the dev tools call is:
/api/fleet/agents?page=1&perPage=

[2021-02-25 17:06] EricDavisX commented on #92853
@ph is this important enough to fix now during 7.12?  I'd be ok with a Kibana fix if we understood it well and it seems low risk, and could get it done in next few days.

[2021-02-25 17:07] monfera commented on #92815
Thanks Corey, it fixed it, closing this issue

[2021-02-25 17:07] #92815 closed

[2021-02-25 17:09] #90427 closed

[2021-02-25 17:14] jasonrhodes commented on #92839
Ideally, there would be an ML API that we could query that gives us "how many anomalies are in a reportable state to the user in the past x minutes" for any value of x. The logic for answering all of the complicated questions about what qualifies for that state would live inside that API, inside the ML app.

Is this a possibility, @elastic/machine-learning ?

[2021-02-25 17:16] jfsiii commented on #92693
@paul-tavares 👍🏻 on switching to individual `run*Callbacks` methods.

We can discuss specifics later but I'd love to replace `ExternalCallback[0]` with a name like `ExternalCallbackType` and use "callback"  to refer to the functions instead of the tuple. In something between pseudo and real TS:

[code]

[2021-02-25 17:22] elasticmachine commented on #89555
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 17:23] elasticmachine commented on #91612
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 17:25] marius-dr commented on #89456
all good in the latest BC, it was caught 100% of the times in our integration-test.

[2021-02-25 17:25] #89456 closed

[2021-02-25 17:26] jbudz commented on #92847
This most likely fail scenario here was due to a missing backport fixed with https://github.com/elastic/kibana/commit/527f026a0fd1ae5bf19f84a4b95d76fdba87e723.  The build failed in prior to the test during environment setup.  Closing this out.

[2021-02-25 17:26] #92847 closed

[2021-02-25 17:31] joegallo commented on #92037
Following up from today's`@elastic/es-core-features` weekly -- we definitely want to make this default (as in, when "Use recommended defaults" is selected then it'll use this). And the default value for this field should indeed be 50gb.

Going still further, though, we are very likely to deprecate the `max_size` field in the API, in which case we'd want to remove the ability to create new policies

[2021-02-25 17:35] chandlerprall commented on #92135
@flash1293 in this case, the extra scrollbar is coming from the `euiBody-hasPortalContent` class on body. Manually adding that class, even without a popover present, triggers the scrollbar.

[2021-02-25 17:39] flash1293 commented on #92135
@chandlerprall it's only triggered if the `euiScreenReaderOnly` portal element is appended to the body (plus the `euiBody-hasPortalContent` class)

[2021-02-25 17:44] cchaos commented on #92135
If you can re-create this problem in a [Codesandbox with EUI](https://codesandbox.io/s/charming-jepsen-65s5i?file=/index.js), I can take a look.

[2021-02-25 17:45] kaiyan-sheng commented on #79093
@simianhacker Yes, I have the new names but these names are not used by Metricbeat yet.
New names are in [ECS 1.9.0](https://www.elastic.co/guide/en/ecs/1.9/ecs-host.html) and the main changes are:

host.cpu.pct -> host.cpu.usage
host.network.in.bytes -> host.network.ingress.bytes
host.network.out.bytes -> host.network.egress.bytes

I'm working on a [PR](https://github.com/elastic/beats/pull/24225

[2021-02-25 17:50] chandlerprall commented on #92135
That euiScreenReaderOnly comes from Lens, not a portal. The interaction/scrollbar might be a bug or otherwise fixable through EUI, but without a separate reproduction as Caroline mentioned it looks more like a Kibana layout thing.

https://user-images.githubusercontent.com/313125/109194871-14d07d00-7757-11eb-9e94-f5ec989de7e4.mov

[2021-02-25 17:52] monina-n commented on #92465
After our alert details flyout sync this morning, we’ve come up with four options (ranked) of how we can address this bug in 7.12.

1. Making the panel resizable -> most preferred out of all options
2. Panel sizing default: medium
3. Panel sizing default: large
4. Adding a full-screen option to the table view

@michaelolo24 will update this issue when he looks into each of the options and sees wha

[2021-02-25 17:53] clintandrewhall commented on #92815
@monfera @nickpeihl I might make this a bit more prominent? 🤷‍♂️

https://github.com/elastic/kibana/blob/master/x-pack/plugins/canvas/shareable_runtime/README.md#prerequisite

[2021-02-25 17:54] darnautov commented on #92839
hey @dgieselaar  @jasonrhodes,
We consider extending the ml alerting shared service available in Kibana server-side to cover solution apps needs (not only AMP), so indeed the logic of retrieving anomalies will live in the ML app.
Shall we prioritize it for 7.13?

[2021-02-25 18:02] smith opened #92870 "[APM] Un-hide instances latency distribution chart on service overview"
Blocked by: https://github.com/elastic/elastic-charts/issues/615

The chart was disabled in #92869.

Revert that commit to re-enable the chart once elastic/kibana#88852 and elastic/kibana#92631 are resolved.

[2021-02-25 18:02] elasticmachine commented on #92870
Pinging @elastic/apm-ui (Team:apm)

[2021-02-25 18:02] andrew-goldstein commented on #92798
This issue is the result of a breaking change in EUI, via this PR: https://github.com/elastic/eui/pull/4480

The behavior of `EuiModal` has changed such that it's no longer necessary to wrap the modal in an `EuiOverlayMask`, because the mask is now built-in to `EuiModal`.

The breaking change became effective throughout Kibana when it was upgraded to use a newer version of EUI via [this commit on

[2021-02-25 18:03] lizozom commented on #91036
@wylieconlon should be resolved by https://github.com/elastic/kibana/pull/92861

[2021-02-25 18:04] pgayvallet commented on #54375
TIL, because of our CSP policy, we can't inline `bootstrap.js` into our main app template, so using a real js file can't be avoided.

[2021-02-25 18:05] smith commented on #88852
It looks like we'll need the capabilities in elastic/elasic-charts#615 for this to work.

[2021-02-25 18:05] flash1293 commented on #92135
@chandlerprall What I meant is Lens is rendering the `.euiScreenReaderOnly` within a portal (which is appended to the body), and that together with the eui class on the body and the fact that Kibana has a layout which tries to stay at exactly 100% height here, is causing this problem.

If I remove the screenreader element, the scrollbar goes away but for some reason the dropdown of the EUI combo b

[2021-02-25 18:08] nreese opened #92872 "[Maps] use _search.fields API to retrieve document field values"
There are lots of ways to retrieve document fields from Elasticsearch _search API. The Maps application currently uses a combination of these mechanisms.
1) [docvalue_fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#docvalue-fields)
2) [stored_fields](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#stored-fields)
3) [_sou

[2021-02-25 18:08] elasticmachine commented on #92872
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-25 18:12] ph commented on #92853
@nchaulet Could it be related to a recent changes for migrating to fleet server?

[2021-02-25 18:13] nchaulet commented on #92853
No it's related to the change of agent status where we started to show errors while fetching agents instead of swallowing them actually moving to fleet server indices will make that kuery valid

[2021-02-25 18:14] clintandrewhall opened #92875 "Refactor/Add State Management in Canvas and Dashboard"
Canvas has an overly-complicated and multi-dependency Redux implementation, using a number of external dependencies-- `lodash`, `immutable`, `immer`, `recompose` and more-- some of which overlap.  This is before mentioning how much of it remains untyped, crufty and difficult to maintain.

I've played around with replacing all of it with `redux-toolkit` and had a lot of success.

https://redux-tool

[2021-02-25 18:14] elasticmachine commented on #92875
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 18:18] nickpeihl commented on #92815
Ah, I didn't RTFM.

I would only make a slight change to that README.md. 😄

[code]

[2021-02-25 18:20] majagrubic opened #92876 "[Discover][Dasbhoard] Weird filter values when applying filters from search embeddable"
**Kibana version:**
7.12, testing on Cloud

**Steps to reproduce:**
0. Make sure you have DataGrid enabled
1. Go to Discover
2. Create a Saved Search with some columns
3. Save it
4. Go to Dashboard
5. Add the saved search from step 3
6. Hover on a row so that filtering buttons appear
7. Filter popup shows 5 same values:
<img width="400" alt="Screenshot 2021-02-25 at 18 18 01" src="https://user-ima

[2021-02-25 18:21] elasticmachine commented on #92876
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 18:22] elasticmachine commented on #92876
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 18:22] clintandrewhall opened #92877 "Add/Refactor Services Abstraction layer to Canvas and Dashboard"
We should add the new Services abstraction layer to Dashboard, and refactor Canvas to use it.

For **Dashboard**, this would mean building the services and finding and replacing all instances of `useKibana`, etc.  Should go pretty quickly.

For **Canvas**, this would mean a larger refactor to use services *only* within React.  In my attempts to PoC this, I found we really need to [refactor Redux](

[2021-02-25 18:22] elasticmachine commented on #92877
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 18:25] ph commented on #92612
I've added this issue to discuss in our sync, as @EricDavisX mentioned we need to be careful in the changes in.

[2021-02-25 18:28] weltenwort opened #92881 "[Logs UI] Support querying runtime fields defined on Kibana index patterns"
## Summary

With #92650 the log source configuration can reference a Kibana index patter (KIP) instead of a plain string. This enhancement expands on that by making the runtime fields defined in the KIP available for querying.

depends on: #92650
relates to: #88607

## Acceptance Criteria

- Queries that retrieve or aggregate over log entries include the runtime fields defined in the KIP in their

[2021-02-25 18:28] elasticmachine commented on #92881
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-02-25 18:34] ThomThomson commented on #92877
Related to: https://github.com/elastic/kibana/issues/91950

[2021-02-25 18:42] nik9000 commented on #92848
Y'all should test it on real data, certainly, but I can't think of any reason you can't go pretty high. The trick is multiplying out the number of sub-buckets you'll be making. That's a little hard to predict if you aren't an Elasticsearch hacker. But with the date range I was looking at it looked like you made something like 30 buckets per container. I've started talking with folks about some way

[2021-02-25 18:44] #91484 closed

[2021-02-25 18:45] michaelolo24 commented on #92465
Thanks for the notes @monina-n. After looking into it further, looks like the Eui Resizable Container (https://elastic.github.io/eui/#/layout/resizable-container) won't serve as a drop in replacement as it requires resizing between two children. (When you resize the flyout then the timeline would shrink). Looks like there's an outstanding issue here that goes into a bit more detail: https://github

[2021-02-25 18:46] majagrubic opened #92886 "[Discover][DataGrid] Timestamp column removal has no effect"
**Kibana version:**
7.12, testing on Cloud

With DataGrid enabled, I have a "Time @timestamp" column and "Document" column. When selecting and deselecting "@timestamp" from the field list, nothing changes in the Data Grid itself.

https://user-images.githubusercontent.com/1937956/109201406-b5e02780-7799-11eb-9a95-42ac5eec67bf.mp4

[2021-02-25 18:46] elasticmachine commented on #92886
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 18:48] michaelolo24 commented on #92800
Took a look @karanbirsingh-qasource and it looks like it's part of the underlying component and expected behavior. You can see here: https://elastic.github.io/eui/#/editors-syntax/code-editor

[2021-02-25 18:48] liza-mae opened #92887 "Sample data element type different across spaces"
Hi,

I am installing sample data across two spaces and I noticed the rendering elements that there are different element types in default space vs non-default space.  I am not sure on details on sample data, so just wanted to get clarification on if this is expected behavior.   In this case non default space renders as canvas vs default space renders as vislib chart.   Are they suppose to be diffe

[2021-02-25 18:48] wylieconlon commented on #92843
@majagrubic Where is the bug here? `size` does not affect `hits.total`, `hits.total` tells you how many matches your query has. So your query can match 1 million documents, but you only get `size` results per page.

[2021-02-25 18:50] elasticmachine commented on #92887
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 18:59] #92837 closed

[2021-02-25 18:59] ph commented on #92142
@sorantis should this issue be assigned to you?

[2021-02-25 19:17] #92708 closed

[2021-02-25 19:23] blakerouse commented on #89442
@mostlyjason At the moment we only populate the index with the list of IP addresses. I was currently leaving it up to Kibana to use that information to create the URL.

I could see it being an Administrators job to create the initial URL presented to the users, by selecting from the list of IP's or by providing a DNS address.

[2021-02-25 19:24] neptunian commented on #92215
- One intermittent issue I'm seeing is if I'm on the Stream tab, i see the logs.  Then I click on the Anomalies tab and it immediately redirects me back to the Stream tab with "There are no log messages to display."  I click "check for a new data" or switch between tabs and the logs are back.  I can reproduce this by clicking between the Stream and Anomalies tab for a while.
- I was not able to in

[2021-02-25 19:26] #92255 closed

[2021-02-25 19:35] nreese opened #92899 "[Discover] Only request fields used in columns instead of requesting all fields"
When a saved search is embedded in a dasboard and columns are defined, the saved search should only request the required columns and not all fields. Requesting all fields blots the response with unused data.

In the screen shot below, the table only shows "Time" and "hour_of_day", yet if you look in the inspector a whole lot more data was returned that is never used or displayed.

<img width="800"

[2021-02-25 19:35] elasticmachine commented on #92899
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 19:38] jportner commented on #59960
@ppisljar Do you have any updates on this?

[2021-02-25 19:39] wylieconlon commented on #92899
It turns out that this is not a bug, I thought the same and we closed the issue I opened for it: https://github.com/elastic/kibana/issues/91897

As stated in the other issue, we are only making a single request to show the table, so we need the full information.

[2021-02-25 19:39] #92899 closed

[2021-02-25 19:39] crob611 opened #92900 "[Dashboard] Properly Extract and Inject references of by value panels"
In #91567 we added some `extracts` to the common factories so that dashboards get proper references when saving them.

Those injects did no properly remove the references from the given state because we could have issues arise with name conflicts between two references.  (Ex, a visualize index-pattern is always given the same name, so having two visualizations in a dashboard, extracting the index-

[2021-02-25 19:39] elasticmachine commented on #92900
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 19:40] nreese commented on #92899
But when embedded in dashboard, all of the other information is not needed. I think in dashboard it would be a great performance boost to no fetch unused data.

[2021-02-25 19:43] Roguelazer opened #92901 "kibana 7.11.0 drops support for glibc 2.12"
**Kibana version:** 7.11.0

**Server OS version:** CentOS 6

**Original install method (e.g. download page, yum, from source, etc.):** Download page

**Describe the bug:** Kibana 7.11.0 bundles a copy of nodejs which requires glibc 2.16, dropping support for glibc 2.12-based distributions. This isn't noted in the Release Notes anywhere. This change happened between 7.10.2 and 7.11.0 and is an effe

[2021-02-25 19:54] wylieconlon commented on #92899
That's not entirely true: the rows are expandable, so users can see the full document on any row, even if the columns are limited.

[2021-02-25 19:54] liza-mae opened #92902 "Add support for Amazon Linux"
Elasticsearch has support for Amazon Linux in our support matrix: https://www.elastic.co/support/matrix - we should look into adding Kibana.   In order for us to support we need CI testing and this is pending worker availability which is currently being worked on.

[2021-02-25 19:54] elasticmachine commented on #92902
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-25 19:56] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12040/)

[2021-02-25 20:00] myasonik opened #92903 "[Discover] Inspect flyout never closes"
On Discover, the Inspect flyout doesn't close when clicking out of the panel (probably should?) and doesn't close when moving to other pages (definitely should).

<img width="1920" alt="Screen shot of Discover's Inspect flyout open on the Canvas page" src="https://user-images.githubusercontent.com/4188087/109209808-fa5bcb00-7779-11eb-88aa-c659e6e52bb0.png">

<img alt="" src="https://user-images.gi

[2021-02-25 20:00] elasticmachine commented on #92903
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 20:16] nreese opened #92904 "[Discover] unable to view single document or context from Dashboard"
Steps to produce
1) Install web logs sample data set
2) create saved search
3) embed saved search in dashboard
4) expand a row and click "view single document"
5) User is taken to Discover but instead of seeing the document, they see an error message

<img width="500" alt="Screen Shot 2021-02-25 at 1 04 04 PM" src="https://user-images.githubusercontent.com/373691/109211562-a0ec9f80-776b-11eb-9bf5-

[2021-02-25 20:16] elasticmachine commented on #92904
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 20:23] wylieconlon commented on #92904
Looks like the "view single document" link is using a relative URL instead of navigating to the Discover app. This is probably left over from when we had a single Kibana app.

[2021-02-25 20:25] A-Hall opened #92906 "More granular control over permissions in Security App"
**Describe the feature:**
Allow for more granular control over the permissions for users in the Security App.  Specifically the ability to open close cases without editing connectors and opening/closing detections without editing detection rules.

**Describe a specific use case for the feature:**
A role that needs to be able to open/close detections, timelines (make notes/save timelines), and open

[2021-02-25 20:25] elasticmachine commented on #92906
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-02-25 20:25] jfsiii commented on #92591
@mostlyjason re: current bulk behavior, if a list of agent ids includes any enrolled in a managed policy

 * Bulk reassign filters the managed agents from the list to be reassigned. It reassigns the permitted agents.
 * Bulk unenroll filters the managed agents from the list to be unenrolled. It unenrolls the permitted agents.
 * Bulk upgrade throws `Cannot upgrade agent in managed policy ${policy.

[2021-02-25 20:26] dplumlee commented on #87546
@MadameSheema we updated the schema to fit this ticket, but the rules themselves won't be updated from the detections side of things until after 7.13 per [this ticket](https://github.com/elastic/detection-rules/issues/813). We can probably close this ticket though, the work on our side is done

[2021-02-25 20:29] ph commented on #91864
@skh @jfsii @nchaulet @ruflin Do we have a conscensus around the discussion?

[2021-02-25 20:40] jfsii commented on #91864
@jfsiii ^ one more i

[2021-02-25 20:44] wylieconlon commented on #92904
The same bug affects the "view surrounding documents" view. Working on a fix for both.

[2021-02-25 20:54] kindsun opened #92909 "[Maps] Time picker still shows when time field not enabled on index pattern"
Index patterns without a time field enabled cause the timepicker to show up as `off` in visualizations since limiting data by time isn't applicable:

![image](https://user-images.githubusercontent.com/1728976/109215611-668dfd00-7781-11eb-8039-3f41443b09d7.png)

In Maps it's a little trickier since there can be multiple index patterns present, some of which might have a time field and some of which

[2021-02-25 20:54] elasticmachine commented on #92909
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-25 21:15] cjcenizal commented on #92703
CC @elastic/kibana-app @stacey-gammon Ethan's flow of viewing indices, using that information to define an index pattern, and then viewing that index pattern in Discover sounds an awful lot like some of @mattkime's ideas of merging Index Patterns with Discover. We can also look into cross-linking between these apps and Index Management to support this flow.

[2021-02-25 21:16] kmartastic commented on #92741
@aaronjcaldwell @thomasneirynck I actually like removing it, because it will never be enabled on this menu (for this layer type)... or would it be if the tile layer had a small extent?

[2021-02-25 21:22] aaronjcaldwell commented on #92741
@kmartastic I guess I'm more in this camp. All of the options except this one are consistent and applicable to all other layer types so seems easiest just to keep the same options but grey this one out here. That said, I'm not passionate about it so happy to jump on the removal bandwagon if anyone feels strongly.

[2021-02-25 21:28] gwbrown opened #92916 "Add a note in the UI when restoring a snapshot with `include_global_state: true` that system indices will be overwritten"
Elasticsearch recently added the concept of "Feature States" to snapshots to formalize the process of snapshotting data in system indices (see https://github.com/elastic/elasticsearch/pull/63513). We do not consider this a breaking change as it only impacts snapshots taken by ES >=7.12.0, but it does mean that the behavior when restoring a snapshot with `include_global_state` set to `true` is slig

[2021-02-25 21:42] #92820 closed

[2021-02-25 21:46] EricDavisX opened #94017 "[Fleet] System integration gets added to a policy with empty default values, causing agent to show processor errors"
I'm logging this as I'm uncertain to the severity of this.

Not sure if we need to follow up urgently or not...  I don't know yet if I can pin point anything I can see going wrong, but it is flooding the logs (every few seconds) of a Debian OS Agent and a Win 2008 Agent (confirmed so far).  I don't see it on the one macOS host I scrolled through so far.

[elastic_agent][error] failed to dispatch a

[2021-02-25 21:47] #92712 closed

[2021-02-25 21:52] paul-tavares commented on #92693
Thanks @jfsiii for your time on reviewing this proposed changed. And yes, I was thinking the same thing for the types. I seem to remember doing something similar on our code where the callback type is narrowed down to appropriate one based on the "key" - that Type would be important for the `registerExternalCallback()` method so that the incorrect callback is not defined for a given `ExternalCallb

[2021-02-25 22:09] kmartastic commented on #92741
@miukimiu What do you think?

Consistent position on layer menu, but disabled.
vs
A disabled menu option that can never be enabled given it's context (layer type doesn't support option).

[2021-02-25 22:11] #74118 closed

[2021-02-25 22:13] elasticmachine commented on #92916
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-25 22:15] dontcallmesherryli commented on #53186
https://github.com/elastic/security-docs/issues/532 doc ticket created to help guide users with max signals hit.

[2021-02-25 22:18] elasticmachine commented on #92909
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 22:18] thomasneirynck commented on #92909
Maybe not a "bug" perse, but I do agree it is a real challenge.

Layers can have capabilities and depending on those capabilities, one or more global features of the Kibana-chrome is not applicable.

Time-picker is a good example (so this ticket). Another one in the context of Maps is that the map can consist of layers that are not filterable/queryable, so for those it would not be relevant to sho

[2021-02-25 22:19] nreese commented on #92909
The legend has a clock icon next to layers filtered by time picker to clearify which layers are filtered by the time picker

<img width="300" alt="Screen Shot 2021-02-25 at 3 18 24 PM" src="https://user-images.githubusercontent.com/373691/109226966-d1890500-777c-11eb-98ca-f0e8d7a64b7f.png">

[2021-02-25 22:20] MichaelMarcialis commented on #92624
Yes, I believe I mentioned experiencing similar confusion regarding this behavior when we were updating the suggestion buttons' focus states. I completely agree with @markov00's take here.

@flash1293, you mention this is done intentionally as a means to preview a suggestion before committing to it. Is this because committing to a suggestion currently updates the available suggestions (thus potent

[2021-02-25 22:28] aaronjcaldwell commented on #92909
@nreese Good point, but it's an inclusive-only indicator. It helps you differentiate when you have multiple layers some of which are controlled by the Time picker and some of which aren't. When you have map with just one or more index patterns without time fields, it just looks like this:

![image](https://user-images.githubusercontent.com/1728976/109227701-ba531300-778e-11eb-8212-40422079e956.png

[2021-02-25 22:31] nreese commented on #92909
In the case where no layers are using the time picker, the should be off like in visualizations.

[2021-02-25 22:35] wylieconlon commented on #92624
@MichaelMarcialis Your intuition is exactly right, we didn't want users to get stuck. To respond to your ideas specifically:

1. We haven't talked about undo/redo in a while because a generic undo feature is more complicated, [here's the issue for it](https://github.com/elastic/kibana/issues/54971). Maybe we can find a way to reduce the scope.

2. That is exactly how the suggestions behave today.

[2021-02-25 22:35] nickpeihl opened #92927 "[Canvas] Unable to create report with embedded Maps visualization"
**Kibana version:**
7.12-SNAPSHOT

**Browser version:**
Firefox, Safari

**Browser OS version:**
Mac OSX

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
An Elastic Maps visualization embedded into Canvas throws an error when trying to create a report.

**Steps to reproduce:**
1. Load kibana_sample_data_flights
2. Add the `[Flights] Orig

[2021-02-25 22:35] elasticmachine commented on #92927
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 22:40] trentm commented on #78792
No, the APM agent doesn't currently support using worker threads for any of its work. Worth considering, but not something that would available anytime soon.

[2021-02-25 22:48] nreese commented on #92688
Closing, underlying issue is a duplicate of https://github.com/elastic/kibana/issues/92658

[2021-02-25 22:48] #92688 closed

[2021-02-25 23:00] kobelb opened #92933 "[Discuss] Too many saved-objects + migrations == 💥"
Currently, when there are a lot of saved-objects it can take an extremely long-time to migrate them during version upgrades. This is antithetical to the [future goal of saved-object migrations causing a small downtime window](https://github.com/elastic/kibana/blob/master/rfcs/text/0013_saved_object_migrations.md#2-motivation). Additionally, this was recently such a large issue for Fleet's agent ev

[2021-02-25 23:00] elasticmachine commented on #92933
Pinging @elastic/kibana-core (Team:Core)

[2021-02-25 23:06] nreese commented on #92660
Closing, underlying issue is a duplicate of https://github.com/elastic/kibana/issues/92658

[2021-02-25 23:06] #92660 closed

[2021-02-25 23:07] cjcenizal commented on #83014
This is related to https://github.com/elastic/kibana/issues/92916, so consult that issue when addressing this one.

[2021-02-25 23:07] cjcenizal commented on #92916
This is related to https://github.com/elastic/kibana/issues/83014, so consult that issue when addressing this one.

[2021-02-25 23:12] elasticmachine commented on #41481
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #46007
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #53196
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #61008
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #61691
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #63639
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #70989
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #76210
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #78478
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #79793
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #87071
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #87074
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #89466
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #90496
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:12] elasticmachine commented on #87956
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #25972
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #29281
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #34376
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #34377
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #34668
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #40819
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:13] elasticmachine commented on #41479
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-02-25 23:14] tsullivan commented on #89555
Depends on https://github.com/elastic/kibana/issues/90496

[2021-02-25 23:14] tsullivan commented on #89467
Depends on https://github.com/elastic/kibana/issues/90496

[2021-02-25 23:15] tsullivan commented on #87956
Depends on https://github.com/elastic/kibana/issues/90496

[2021-02-25 23:18] tsullivan commented on #87071
Let's test if this is possible / still makes sense after switching Reporting to use Task Manager

[2021-02-25 23:21] tbsf commented on #3189
I put this in an extension called "Script Runner" or you can run from dev tools.

`$(".visLegend__list").width(500)`

[2021-02-25 23:22] tsullivan commented on #81561
Closing this since it is documented that Reporting requires at least 2GB or RAM or more for some dashboards:

https://www.elastic.co/guide/en/kibana/current/reporting-troubleshooting.html#reporting-troubleshooting-system-requirements

Beyond that, there are other open issues being tracked to fix stability issues with Reporting: https://github.com/elastic/kibana/issues?q=is%3Aissue+is%3Aopen+label%

[2021-02-25 23:22] #81561 closed

[2021-02-25 23:23] tsullivan commented on #76210
Depends on https://github.com/elastic/kibana/issues/19914

[2021-02-25 23:25] tsullivan commented on #73515
Duplicate of https://github.com/elastic/kibana/issues/81561

[2021-02-25 23:25] #73515 closed

[2021-02-25 23:27] tsullivan commented on #32382
Closing as this seems to be an environmental issue

[2021-02-25 23:27] #32382 closed

[2021-02-25 23:30] tsullivan commented on #41402
This is blocked on having some kind of UI Service that the Telemetry plugin could depend on to notify when the page is rendering for screenshot purposes only.

[2021-02-25 23:30] tsullivan commented on #63639
Depends on https://github.com/elastic/kibana/issues/19914

[2021-02-25 23:32] elasticmachine commented on #41481
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 23:34] tsullivan commented on #59095
This is a bug with the custom CSS which is injected (on the Reporting side) into the browser to "fix" the layout for capturing the page in the "print friendly" view.

https://github.com/elastic/kibana/blob/d0a7ca2/x-pack/plugins/reporting/server/lib/layouts/print.css

[2021-02-25 23:35] wylieconlon opened #92938 "[Discover] Can't expand row when embedding data grid into dashboard"
Steps to reproduce:

1. Advanced settings > Use legacy table > False
2. Go to a saved search in a dashboard
3. Expand the context, and you will see errors in the console

The console error is `Uncaught TypeError: setExpanded is not a function`

cc @kertal

[2021-02-25 23:35] elasticmachine commented on #92938
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 23:40] tsullivan commented on #40819
The failures and exceptions look like test environment setup problems, where the mapping of the index went away and broke sorting by date.

The error formatting was fixed in 7.5

[2021-02-25 23:40] #40819 closed

[2021-02-25 23:42] wylieconlon commented on #91036
I just tried to reproduce this on master, and it seems like newly created index patterns get saved using `fields: "[]"`, and I wasn't able to reproduce the behavior I described as a bug. I _was_ able to reproduce the bug in testing if I delete the `fields` property of the saved object entirely.

[2021-02-25 23:49] wylieconlon opened #92941 "[Lens] Remove unnecessary info from "rank direction" tooltip"
The text currently says Rank order -> "Specifies the ranking order of the top values", which is not helpful.

[2021-02-25 23:50] elasticmachine commented on #92941
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-25 23:51] elasticmachine commented on #18257
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-25 23:56] tsullivan commented on #91612
Duplicate of https://github.com/elastic/kibana/issues/89467

[2021-02-25 23:56] #91612 closed

[2021-02-25 23:58] kibanamachine commented on #92114
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12176/)

[2021-02-25 23:59] tsullivan commented on #34376
Duplicate of https://github.com/elastic/kibana/issues/68718

[2021-02-25 23:59] #34376 closed

[2021-02-26 00:06] elasticmachine commented on #23289
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-26 00:07] tsullivan commented on #19250
Depends on https://github.com/elastic/kibana/issues/19914

[2021-02-26 00:09] #92659 closed

[2021-02-26 00:14] elasticmachine commented on #25972
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-26 00:15] tsullivan commented on #34668
The export to CSV issue will possibly be resolved in https://github.com/elastic/kibana/pull/88303

[2021-02-26 01:03] aaronjcaldwell opened #92947 "[Maps] Telemetry error when `getFieldsForIndexPattern` can't find index pattern"
The following error was reported to the Maps team. It occurs when Maps telemetry attempts to get fields for an index pattern but the field capabilities api reports the index pattern isn't available.

![image](https://user-images.githubusercontent.com/1728976/109239456-82a29600-77a3-11eb-9a9d-75dc9d67b6ea.png)

This error bears some similarity to issues encountered when originally [switching Maps t

[2021-02-26 01:03] elasticmachine commented on #92947
Pinging @elastic/kibana-gis (Team:Geo)

[2021-02-26 02:39] jagjag opened #92949 "[Actions] email action fails due to enabled HTTP proxy in kibana"
**Kibana version:**
7.10.2
**Elasticsearch version:**
7.10.2
**Server OS version:**
Redhat Linux 7.9
**Browser version:**
Chrome 88.0.4324.190
**Browser OS version:**
Windows 10
**Original install method (e.g. download page, yum, from source, etc.):**
yum
**Describe the bug:**
Alerting mail action goes failed due to enabled HTTP proxy in kibana

**Steps to reproduce:**
1.  add the proxy parameter

[2021-02-26 02:54] kibanamachine commented on #92114
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12047/)

[2021-02-26 02:56] #91868 closed

[2021-02-26 03:00] mistic commented on #92114
The test failed again and looks flaky. Skipping for now.

master/8.0: 3d91390
7.x/7.13: d29e6e6

[2021-02-26 03:11] igoristic commented on #90660
@chrisronline One thing I don't understand is that we're explicitly creating roles/polices for `metricbeat-*` indices, but we also have a way to change it via: `monitoring.ui.metricbeat.index`. Do we need a way to detect that and add the same index privileges that `metricbeat-*` has to the `remote_monitoring_agent` role?

---

Also, I was able to fix "monitoring `remote_monitoring_user` failed to

[2021-02-26 05:33] insanity13 opened #92952 "[APM] Add separate page for "Service Dependencies""
**Current state:**
In the Overview tab of the APM module, we can see the "Dependencies" block (and it is great).
![image](https://user-images.githubusercontent.com/1174911/109257841-6e49b200-7812-11eb-8c46-4bc6c4b539e8.png)

With the link "View service map" to the "Service map".
Which is not useful for researching dependencies.
![image](https://user-images.githubusercontent.com/1174911/109257924-a

[2021-02-26 06:09] nehaduggal opened #92954 "[Docs] Remove contextual filter documentation"
We are working on removing the filters in the APM UI in the next release. Some of the filters will be replaced with contextual drop down menus throughout the different screens in the experience. Kuery bar will also allow users to search and filter on any dimension available. In order to document these changes, lets remove [this documentation](https://www.elastic.co/guide/en/kibana/7.11/filters.htm

[2021-02-26 06:09] elasticmachine commented on #92954
Pinging @elastic/kibana-docs (Team:Docs)

[2021-02-26 06:09] elasticmachine commented on #92954
Pinging @elastic/apm-ui (Team:apm)

[2021-02-26 06:42] vikramnr opened #92955 "Exclude results using controls"
**Feature Request**

Is there way to exclude results using Controls visualisation, similar to what we do manually with filter? Like the below NOT filter using controls

![Example](https://aws1.discourse-cdn.com/elastic/original/3X/3/c/3c5ad521b9f9b39e4d4ca5550a029c1b0770276c.png)

**Use case for the feature**

Idea behind the request it that whenever that I need to exclude only one of the option i

[2021-02-26 07:04] #83978 closed

[2021-02-26 07:08] peluja1012 commented on #92799
I think this is the desired behavior. @dplumlee Could you please confirm?

[2021-02-26 08:24] waaalex opened #92957 "Unable to untar kibana without error"
_Related discuss issue: https://discuss.elastic.co/t/kibana-cant-install-7-11-1/265578_

**Kibana version:** 7.11.1
**Elasticsearch version:** 7.11.1
**Server OS version:** centos 7
**Browser version:** brave latest
**Browser OS version:** latest windows 10
**Original install method (e.g. download page, yum, from source, etc.):** yum and sources
**Describe the bug:**
frm sources :
kibana-7.11.1-li

[2021-02-26 08:59] peluja1012 commented on #87546
PR for this work is here https://github.com/elastic/kibana/pull/92281. Closing.

[2021-02-26 08:59] #87546 closed

[2021-02-26 09:11] monfera opened #92958 "[Canvas] Unresponsive page possibly stuck in rendering"
**Kibana version:**
Branch 7.8 (will test it with 7.12 soon; I just happened to run into it during the migration step)

**Elasticsearch version:**
Corresponding

**Server OS version:**
Big Sur

**Browser version:**
Chrome 88

**Browser OS version:**
Big Sur

**Original install method (e.g. download page, yum, from source, etc.):**
`kbn clean; kbn bootstrap` etc.

**Describe the bug:**
Once got an

[2021-02-26 09:11] elasticmachine commented on #92958
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-26 09:45] elasticmachine commented on #92823
Pinging @elastic/ml-ui (:ml)

[2021-02-26 10:24] Aaron3 opened #92960 "Kibana can not create index patterns with a join field."
**Kibana version:** 7.11.0 and 7.11.1

**Elasticsearch version:** 7.11.0

**Server OS version:** Ubuntu Bionic

**Original install method (e.g. download page, yum, from source, etc.):**

Apt from the official repos

**Describe the bug:**

When using a join field, kibana will not parse other fields including timestamps etc.

**Steps to reproduce:**

1. Create an index with join and a timestamp fiel

[2021-02-26 10:47] dgieselaar opened #92961 "[Uptime] Anomaly alert labels mismatch"
For severity level warning, the dropdown label is "Warning", but the displayed value in the form is "Low". For other labels, this is consistent. I'm assuming this mismatch is not intentional, but feel free to close it if it is.

![image](https://user-images.githubusercontent.com/352732/109290758-52510b00-7828-11eb-9ae4-c5646b1ebd69.png)

[2021-02-26 10:47] elasticmachine commented on #92961
Pinging @elastic/uptime (Team:uptime)

[2021-02-26 10:54] dgieselaar opened #92962 "[Discover] Tooltip gets stuck if document is removed from list"
If I'm hovering over a document action in Discover, and the document disappears (when it is deleted?), the tooltip gets stuck:

![image](https://user-images.githubusercontent.com/352732/109291482-53366c80-7829-11eb-9568-660e4f481710.png)

[2021-02-26 10:54] elasticmachine commented on #92962
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-26 10:58] monfera opened #92963 "[Canvas] Somewhat different Canvas page after the 7.8 -> 7.12 migration"
**Kibana version:**
7.8 -> 7.12

**Elasticsearch version:**
corresponding

**Server OS version:**
Big Sur

**Browser version:**
Chrome 88

**Browser OS version:**
Big Sur

**Original install method (e.g. download page, yum, from source, etc.):**
local checkout of `7.8` then `7.12` branch; both with `kbn clean; ...`

**Describe the issue:**
Overall functional, but in detail, different page

**Steps

[2021-02-26 10:58] elasticmachine commented on #92963
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-26 11:52] kibanamachine opened #92965 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/remote_clusters/feature_controls/remote_clusters_security·ts - Remote Clusters app feature controls security global dashboard read with license_management_user should render the "Data" section with Remote Clusters"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12055/)

![fail5](https://user-images.githubusercontent.com/10977896/109493988-525a4080-7a9e-11eb-9153-2d3977f58ea9.png)

[2021-02-26 11:53] dgieselaar commented on #92839
Some other things to note about the APM Anomaly alert type:

1. When an alert is created for all environments, transaction types and services, and an anomaly that exceeds the specified threshold is found, **the alert fires for every started job, regardless if the anomaly was generated by that job**. E.g., suppose the user has started ML jobs for production, testing, and (NOT DEFINED), and creates

[2021-02-26 11:54] elasticmachine commented on #92957
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-26 12:55] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12189/)

[2021-02-26 14:40] dgieselaar opened #92969 "[Uptime] Editing Anomaly alert leads to error page"
When I click on "Anomaly Alert > Edit", I get an error page:

![image](https://user-images.githubusercontent.com/352732/109313789-e4690b80-7848-11eb-9f9e-386168da8ad7.png)

[2021-02-26 14:40] elasticmachine commented on #92969
Pinging @elastic/uptime (Team:uptime)

[2021-02-26 15:39] jonathan-buttner commented on #92819
@deepikakeshav-qasource @MadameSheema can you describe the steps you used to reproduce this? I tried creating a few cases with user comments (no alerts though) on 7.11.1 and upgrading to 7.12.0 but didn't see any issues

![image](https://user-images.githubusercontent.com/56361221/109321215-e4541600-781e-11eb-9eb3-7d6add84e4ac.png)

Or if you could email me the creds and URL of the cloud instance t

[2021-02-26 15:47] jonathan-buttner commented on #92819
cc: @michaelolo24 ^^

[2021-02-26 15:54] elasticmachine commented on #92965
Pinging @elastic/kibana-security (Team:Security)

[2021-02-26 15:54] gmmorris commented on #92965
@elastic/kibana-security I've tagged you as I _think_ this is yours. 😬
Sorry if I got that wrong

[2021-02-26 15:57] elasticmachine commented on #92960
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-26 16:04] elasticmachine commented on #92955
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-02-26 16:07] elasticmachine commented on #92949
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-02-26 16:39] 111andre111 opened #92973 "monitoring page does not clearly document how the filebeat approach works to ship the logs to the monitoring cluster"
https://www.elastic.co/guide/en/elasticsearch/reference/master/configuring-filebeat.html

Especially point 2 is not clearly differing between legacy monitoring settings versus the new approach to monitor with metricbeat.

Mentioning there setting xpack.monitoring.collection.enabled is the legacy monitoring approach:
https://www.elastic.co/guide/en/elasticsearch/reference/master/collecting-monitori

[2021-02-26 16:39] elasticmachine commented on #92973
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-02-26 16:47] elasticmachine commented on #92901
Pinging @elastic/kibana-operations (Team:Operations)

[2021-02-26 16:47] elasticmachine commented on #92901
Pinging @elastic/kibana-security (Team:Security)

[2021-02-26 16:48] mholttech commented on #77775
@bvader - This is something we're also finding a limitation on. We have a use case where we're grouping by Host and Disk for storage alerts but we need to be able to get the Host and Disk as separate variables. Is this something that Elastic has an internal ticket for yet?

[2021-02-26 16:50] YulNaumenko commented on #90008
Closing on behalf of creation all missing docs PRS

[2021-02-26 16:50] #90008 closed

[2021-02-26 17:51] elasticmachine commented on #92960
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-26 17:56] elasticmachine commented on #92853
Pinging @elastic/fleet (Team:Fleet)

[2021-02-26 18:18] gbanasiak opened #92978 "sanitize index templates before removal"
**Kibana version:** 7.11.1

**Describe the bug:**

Removal of an index template with `*` results in removal of all matching index templates. Note: prior to ES 7.8.0, index templates with `*` were accepted (see PR https://github.com/elastic/elasticsearch/pull/56170, issue https://github.com/elastic/elasticsearch/issues/43737).

**Steps to reproduce:**
1. Create < 7.8.0 ES cluster and configure `tes

[2021-02-26 18:20] elasticmachine commented on #92952
Pinging @elastic/apm-ui (Team:apm)

[2021-02-26 18:23] dgieselaar commented on #92952
Thanks @insanity13, very much appreciate all the feedback! This is something we are looking into, but it's still very much in flux.

[2021-02-26 18:25] dgieselaar commented on #90813
@cauemarcondes I think that's a different problem, not related to the cache, because rangeId is not passed to callApmApi. We should probably change the way rangeId is implemented. Can you open up a new issue for that?

[2021-02-26 18:25] #90813 closed

[2021-02-26 19:00] lukeelmers commented on #74118
@rashmivkulkarni I am not sure if the linked PR resolved this issue; IIRC, this issue exists to track the _removal_ of the expression-based scripted fields.

(This is a breaking change that we intend to make in 8.0)

[2021-02-26 19:01] lukeelmers commented on #74118
Although looking at this issue again, I think it might be a duplicate of https://github.com/elastic/kibana/issues/77669 so maybe it's okay to close anyway. WDYT @mattkime ?

[2021-02-26 19:04] chrisronline commented on #90660
I'd wager a guess that we'd need to follow the same practices the @elastic/logs-metrics-ui team does for this. Perhaps they handle the security of the custom index at the Kibana security level?

[2021-02-26 19:41] stephmilovic commented on #89784
Partially resolved [here](https://github.com/elastic/kibana/pull/92025). This is what still is broken:
<img width="1367" alt="Screen Shot 2021-02-26 at 12 25 31 PM" src="https://user-images.githubusercontent.com/6935300/109347136-e377b000-782f-11eb-978a-7d65604bfe76.png">
<img width="1380" alt="Screen Shot 2021-02-26 at 12 39 15 PM" src="https://user-images.githubusercontent.com/6935300/109347145-

[2021-02-26 20:33] dgieselaar commented on #92027
@glucaci I'll try to update this issue, I've subscribed to the internal one. If you don't mind, I'll keep this one closed - we unfortunately are not involved in maintaining that demo, and we would prefer our backlog to be somewhat relevant to our own responsibilities.

[2021-02-26 21:01] kibanamachine commented on #92528
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/60/)

[2021-02-26 23:02] kibanamachine commented on #57737
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12067/)

[2021-02-27 03:00] graphaelli commented on #57692
@sqren Can we repurpose this for data stream support or can it be closed?

[2021-02-27 04:57] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12205/)

[2021-02-27 07:05] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12207/)

[2021-02-27 07:44] #92075 closed

[2021-02-27 11:01] kibanamachine commented on #87010
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12079/)

[2021-02-27 13:50] kibanamachine commented on #91939
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/62/)

[2021-02-27 15:48] kibanamachine opened #92984 "Failing test: X-Pack Background Search UI (Enabled WIP Feature).x-pack/test/send_search_to_background_integration/tests/apps/dashboard/async_search/sessions_in_space·ts - Dashboard dashboard in space Storing search sessions in space Saves and restores a session"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12215/)

![fail2](https://user-images.githubusercontent.com/10977896/109493479-9bf65b80-7a9d-11eb-8892-19b832c81f4d.png)

[2021-02-27 19:01] kibanamachine opened #92985 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/graph/graph·ts - graph app graph should show correct node labels"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12087/)

![fail1](https://user-images.githubusercontent.com/10977896/109493346-67829f80-7a9d-11eb-989d-6aa1f637535e.png)

[2021-02-28 00:26] sqren opened #92986 "[APM] Add support for data streams"
Continuation of  https://github.com/elastic/kibana/issues/87501
Details are tbd

[2021-02-28 00:26] elasticmachine commented on #92986
Pinging @elastic/apm-ui (Team:apm)

[2021-02-28 00:27] sqren commented on #57692
Will close. I've created https://github.com/elastic/kibana/issues/92986. Feel free to add details if you have some.

[2021-02-28 00:27] #57692 closed

[2021-02-28 00:49] mistic commented on #89072
The test has failing across master and 7.x. Skipping for now.

master/8.0: 58a5a7c
7.x/7.13: 68ff00e

[2021-02-28 00:53] elasticmachine commented on #92984
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-02-28 00:54] elasticmachine commented on #91939
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-02-28 00:58] mistic commented on #91939
The test looks flaky. I'll skip it for now.

master/8.0: c6336e5
7.x/7.13: d1c9836
7.12: e0b601e

[2021-02-28 01:00] elasticmachine commented on #92985
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-02-28 04:23] austinsonger opened #92987 "[Security Solution] Reopen Rule Actions For JIRA Connection - The Priority Resets to "Highest""
When going into a rule actions to edit context for JIRA, the priority resets to highest even if the priority was originally set at Medium. This is quite annoying.

### Viewing Rule Severity
![besMTcjaN9.png](https://i.vgy.me/cnrzgc.png)

### Viewing Rule Action
![AogYxN10We.png](https://i.vgy.me/MbMCbl.png)

[2021-02-28 15:40] tanish14 commented on #92766
@dgieselaar, @elasticmachine  Can I work on this?

[2021-02-28 16:07] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12240/)

[2021-02-28 16:07] kibanamachine commented on #90438
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12240/)

[2021-02-28 16:27] dgieselaar opened #92988 "[APM] Configurable dashboards in the APM app"
We have some issues around integrating with lens/embeddables to allow users to include APM components in custom dashboards:
- https://github.com/elastic/kibana/issues/24649
- https://github.com/elastic/kibana/issues/82388
- https://github.com/elastic/kibana/issues/85727
- https://github.com/elastic/kibana/issues/67774

I want to propose the opposite, not as an alternative, but as an addition: to a

[2021-02-28 16:27] elasticmachine commented on #92988
Pinging @elastic/apm-ui (Team:apm)

[2021-02-28 17:06] lealog commented on #57980
This feature is something important to have. Hope can be implemented soon.

[2021-03-01 05:27] PengYi-Elastic opened #92990 "[Snapshot Restore] Unable to create multiple SLM policies for a single repository"
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Server OS version:** ESS

**Browser version:** Version 88.0.4324.150 (Official Build) (x86_64)

**Browser OS version:** macOS Catalina 10.15.7

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**
It showed `Policy "cloud-snapshot-policy" is already associated with this reposi

[2021-03-01 05:27] elasticmachine commented on #92990
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2021-03-01 06:02] kkryooniq opened #92991 "There is no data to display on Inventory Metrics page"
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Server OS version:** Amazon Linux 2

**Browser version:** Firefox

**Browser OS version:** Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:** There is no data to display on Inventory page of Metrics.

**Steps to reproduce:**
1. Install 7.4.2
2. Upgrade ELK and beats t

[2021-03-01 06:35] yashgupta4992 commented on #62115
Hi, Dose anyone knows any workaround for this issue ?

[2021-03-01 06:36] yashgupta4992 commented on #62115
Hi, Dose anyone knows any workaround for this issue ?

[2021-03-01 07:38] kertal opened #92992 "[Lens] Stacked bar editor preview doesn't render correctly in Safari"
**Kibana version:**
7.12 BC2

**Describe the bug:**
When trying to edit/create a stacked bar Lens visualization in Safari the preview of the chart is not displayed

**Steps to reproduce:**
1. Try to create a stacked bar visualization in Lens using Safari 14.03
2. Preview isn't displayed

Guess the it's rendered but the height of the container is not adapted, also doesn't work with other vis types,

[2021-03-01 07:38] elasticmachine commented on #92992
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 07:50] ruflin commented on #90408
In https://github.com/elastic/kibana/pull/90973 @nchaulet added that by default now a policy with fleet-server inside is created.

[2021-03-01 08:00] aarju opened #92995 "[Feature Request] Add support for Webhooks in the Dashboard Drilldown without navigating away from dashboard"
**Describe the feature:**
I would like to be able to create a custom dashboard drilldown using an external URL that sends the selected values to a webhook instead of navigating away from the dashboard. The new feature would have a configuration option available that lets you configure the drilldown to send the GET request, have a small confirmation popup that the GET completed successfully, but do

[2021-03-01 08:00] ruflin commented on #90410
I think the part we agree is that we should make it at the moment for Cloud as easy as possible to setup. Basically it should be a single API Call that is made for the setup. What is setup by default and the exact configs depends on the environment. Ideally what the setup should exactly look like could be defined as a config option for Kibana: https://github.com/elastic/kibana/issues/88956 Like th

[2021-03-01 08:17] cnasikas commented on #85750
Fixed by: https://github.com/elastic/kibana/pull/91301

[2021-03-01 08:17] #85750 closed

[2021-03-01 08:30] sulemanof commented on #92796
I’d prefer to fix it separately.
I can’t be sure the eui resizer is safe for the moment, so we’ll have time to test it until 7.13 release
I'll take it !

[2021-03-01 08:42] ruflin commented on #92636
Ah, I think it is called `dataset`: https://github.com/elastic/package-storage/blob/production/packages/endpoint/0.18.0/data_stream/security/manifest.yml#L3

[2021-03-01 08:45] dej611 commented on #92992
A fix is already in `master`. So probably it requires a backport.

[2021-03-01 09:00] elasticmachine commented on #92995
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 09:02] Dosant commented on #92995
This will be covered by https://github.com/elastic/kibana/issues/79023

[2021-03-01 09:02] #92995 closed

[2021-03-01 09:08] flash1293 commented on #92992
Duplicate of https://github.com/elastic/kibana/issues/92577

[2021-03-01 09:08] #92992 closed

[2021-03-01 09:16] flash1293 opened #93000 "Discover: Disambiguate saved searches and saved queries"
Saved searches and saved queries are very similar concepts, and in some places they are easy to confuse.

One quick win would be to have distinct icons used consistently - right now saved searches and saved queries are both using the magnifier icon in some places.

<img width="952" alt="Screenshot 2021-03-01 at 10 15 32" src="https://user-images.githubusercontent.com/1508364/109476371-24add100-7a7

[2021-03-01 09:16] elasticmachine commented on #93000
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 09:16] dgieselaar commented on #91849
This was fixed in https://github.com/elastic/kibana/pull/92012.

[2021-03-01 09:16] #91849 closed

[2021-03-01 09:25] deepikakeshav-qasource commented on #85951
Hi @MadameSheema

We have validated this ticket on **7.12.0 BC2** and found that issue is **Fixed**. The detection rules have both source values and Source fields for severity overridden when editing the rule.

**Build Details:**
[code]

**Screenshot:**
![Edit_rule](https://user-images.githubusercontent.com/61860752/109474743-d5799780-7a9a-11eb-8c9c-eb030dc21f10.jpg)

![risk_score](https://user-im

[2021-03-01 09:26] deepikakeshav-qasource commented on #86773
Hi @MadameSheema

We have validated this ticket on **7.12.0 BC2** and found that issue is **Fixed**. Full value list Filename is displaying in the upload value list table.

**Build Details:**
[code]

**Screenshot:**
![LongName](https://user-images.githubusercontent.com/61860752/109474890-ff32be80-7a9a-11eb-9e19-78b9a381e53a.jpg)

Please let us know if anything else is required from our end.

Thank

[2021-03-01 09:29] flash1293 commented on #92876
I think this is related to https://github.com/elastic/kibana/issues/66595 - this part of the code is owned by @elastic/kibana-app-services

[2021-03-01 09:30] elasticmachine commented on #92887
Pinging @elastic/kibana-core (Team:Core)

[2021-03-01 09:40] jloleysens commented on #92037
Thanks for the information @joegallo ! What would be the expected behaviour from ES if we specified both deprecated `max_size` and the new `max_primary_shard_size` field?

[2021-03-01 09:41] Dosant commented on #92876
Agree with @flash1293 - does look like uiActions/filters issue and probably could be fixed together with https://github.com/elastic/kibana/issues/66595

[2021-03-01 09:44] kertal commented on #93000
Fixed at the first place: https://github.com/elastic/kibana/pull/93001

[2021-03-01 09:48] sorantis commented on #92142
@ph this is a design ticket which will be required for the integrations granularity phase 2. Someone from design should own it.

[2021-03-01 09:50] muskangulati-qasource opened #93004 "[Security Solution] The links for Rule name and hostname are not navigable from the rule page"
**Description**
The links for Rule name and hostname are not navigable from the rule page

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Cloud environment should exist.
2. Endpoint should be installed with Security Integration
3. Alerts should exist for malware/Ransomware

**Steps to Reproduce:**
1. Navigate to the detections tab under the Security
2. Click on the rule

[2021-03-01 09:50] elasticmachine commented on #93004
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 09:50] muskangulati-qasource commented on #93004
@manishgupta-qasource please review

[2021-03-01 09:53] majagrubic opened #93005 "[Discover][Data Grid] Saved search embeddable not expanda ble"
**Kibana version:**
7.12, testing on Cloud

**Steps to reproduce:**
1. Make sure `doc_table:legacy` setting is off in Advanced settings
2. Go to Dashboard
3. Add Saved Search embeddable
4. Click "Toggle Dialog with details"
<img width="656" alt="Screenshot 2021-03-01 at 09 52 18" src="https://user-images.githubusercontent.com/1937956/109480758-d519d600-7a73-11eb-88e2-f5cca0345270.png">
5. Nothing

[2021-03-01 09:53] elasticmachine commented on #93005
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 09:54] kertal commented on #92886
this is to stay compatible with the legacy grid. since it's always showing the time column as first column. you could add another column with the same time field here. In the date grid you can just use a single column, you can move it (which you couldn't do in legacy), but yes, you can't remove it. When we sunset legacy this should be possible. But I wonder how we could make that less confusing no

[2021-03-01 09:57] flash1293 commented on #92624
We wanted to user to be able to switch around suggestions quickly - an undo/redo feature would help with this and be a useful feature in itself, but it's not exactly the same because the flow would become "select suggestion - undo - select next suggestion" instead of "select suggestion - select next suggestion".

If we don't think clicking through the suggestions is a thing we want to highlight, t

[2021-03-01 10:02] mandeepkaur-qasource opened #93006 "[Security Solution] Error message 'Failed to create the Lists Index' is displayed intermittently."
**Description**
Error message 'Failed to create the Lists Index' is displayed intermittently.

**Build Details**:
Version: 7.12.0-BC2
Commit: 4f65a5a1268fa78f1af9117d12312e1cee433376
Build number: 39000
Artifact: [https://staging.elastic.co/7.12.0-37f40745/summary-7.12.0.html]

**Browser Details**:
All

**Preconditions**:
1. Stage environment should exist.
2. An 'Endpoint' should be installed with

[2021-03-01 10:02] elasticmachine commented on #93006
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 10:04] elasticmachine commented on #93006
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-01 10:05] MadameSheema commented on #93006
@peluja1012 @spong can you please take a look at this and provide an impact? Thanks :)

[2021-03-01 10:06] elasticmachine commented on #93004
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-01 10:06] MadameSheema commented on #93004
@XavierM @michaelolo24 can you please help with this? Thanks :)

[2021-03-01 10:21] Dosant opened #93007 "[Partial Results] Partial results visualizations UX"
Part of (tentative until better meta issue is created) https://github.com/elastic/kibana/issues/84051

We need a common way to represent a _partial result_ state.
Ideally, it should overlap with [the search session UI](https://github.com/elastic/kibana/issues/83640). It should be visually connected with it.

We will use this state on a dashboard on each panel that supports partial results:

- Lens

[2021-03-01 10:21] elasticmachine commented on #93007
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 10:35] kertal commented on #92702
I think when I choose to save a dashboard with time, change the time, the saved button should also be displayed, which is currently not the case

[2021-03-01 10:41] RachanaPole commented on #78543
@flash1293
I am using these version of elasticsearch and kibana -> elasticsearch-oss-7.10.0-1.x86_64, opendistroforelasticsearch-1.12.0-1.noarch, opendistroforelasticsearch-kibana-1.12.0-1.x86_64
But I still see the Below errors on kibana logs for TSVB visualizations

`{"type":"log","@timestamp":"2021-03-01T10:35:49Z","tags":["warning","plugins","visTypeTimeseries","visTypeTimeseries"],"pid":18060

[2021-03-01 10:55] flash1293 commented on #78543
cc @stratoula

@RachanaPole Thanks for reporting them, this helps us cleaning up some leftovers. These warnings do not impact Kibana running properly, everything will still work as intended. You can simply ignore them.

[2021-03-01 10:55] sqren commented on #92766
@tanish14 Sure, feel free to give it a try and mention me or @dgieselaar in the PR when it's ready for review.

[2021-03-01 10:57] Kerry350 commented on #92428
All looks good against BC2 on cloud 🎉

[2021-03-01 10:57] #92428 closed

[2021-03-01 10:59] sqren commented on #92988
Thanks for being so specific. Doing these things definitely sounds doable, and more realistic to do in the short term than converting everything to Lens embeddables (which still makes sense to do but is further out).

Changing the order could be a little tricky wrt to layouting so we might want to think twice about that.

[2021-03-01 11:02] karanbirsingh-qasource opened #93008 "[Security Solution][CASE]Category and Sub-category drop-down field having no value for ServiceNow SecOps"
**Describe the bug**
Category and Sub-category drop-down field having no value for ServiceNow SecOps

**Build Details:**
Version: 7.12.0-BC2
Platform: Production
Commit:4f65a5a1268fa78f1af9117d12312e1cee433376
Build:39000

**Browser Details**
All

**Preconditions**
1.Elastic Cloud environment having version 7.12.0 should be available.
2.Audit beat should be installed on above environment.
3.Servic

[2021-03-01 11:02] elasticmachine commented on #93008
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 11:02] karanbirsingh-qasource commented on #93008
@manishgupta-qasource Please review

[2021-03-01 11:03] sqren commented on #92988
What's the difference between `add.name` and `add.title`? `add.title` makes sense to me as a human readable label but isn't `add.name` identical to `for` which is a machine-readable identifier?

[2021-03-01 11:05] sqren commented on #92988
I have a couple of thoughts about the DSL but it's probably too early to discuss those details. The core idea sounds super interesting to me though.

[2021-03-01 11:08] stratoula commented on #78543
Thank you for pinging me here 🙂 We will look into them but as Joe said, they are just warnings, the TSVB visualizations will work as intended.

[2021-03-01 11:11] manishgupta-qasource commented on #93008
Reviewed & Assigned to @MadameSheema

[2021-03-01 11:13] ywangd commented on #48410
The "Global Search" is a very useful feature to quickly navigate around Kibana. Unfortunately, its keyboard shortcut (`Ctrl/Cmd + /`) conflicts with the "open documentation for current request" shortcut of Kibana Console. It would be great if the Global Search function can always take precedence. Alternatively, as this issue suggested, allow selectively disable the keyboard shortcuts of Kibana Con

[2021-03-01 11:14] Kerry350 commented on #92215
Thank you for testing.

All of this sounds an awful lot like this problem I experienced https://github.com/elastic/kibana/pull/90303#pullrequestreview-585448543 (point 2) 🤔

This was due to async searches not being dispatched sometimes. A fix was merged, but it's possible it wasn't 100%. I'll take a look into it.

The immediate redirection back to stream feels like something I've seen before, but

[2021-03-01 11:17] darnautov opened #93009 "[Alerts][Actions] Support dedicated context per action group"
**Describe the feature:**
The alerting framework allows providing context variables per action group.

**Describe a specific use case for the feature:**
In the Anomaly detection alert type it's possible that selected anomaly detection jobs encountered some issues, e.g. datafeed has been stopped for some reason. In such a scenario we should notify the user. According to the Alerting framework logic

[2021-03-01 11:22] muskangulati-qasource commented on #92162
Hi @ferullo,

We tested this on the latest 7.12.0 BC2 build and issue is resolved.

**Build details**:
[code]

**Refer screenshot**:
![Bug1212](https://user-images.githubusercontent.com/60252716/109490314-129b5500-7aae-11eb-99f4-7619d162e383.PNG)

Hence, closing this ticket and marking it as 'Validated'.

Thanks!

[2021-03-01 11:22] #92162 closed

[2021-03-01 11:23] VanDuy91 commented on #91215
/usr/share/kibana/src/plugins/vis_type_timeseries/public/application/components/vis_types/_vis_types.scss
I've add "overflow: auto;" into this file but it's not work (ELK ver 7.11.0).
![image](https://user-images.githubusercontent.com/17443216/109490304-a2df9700-7aba-11eb-8b5d-4a2899f422ba.png)

[2021-03-01 11:38] dgieselaar commented on #92988
`for` would be the view, e.g. the name of the dashboard. `add.name` would be the name of the added component (a human-readable identifier). `add.title` would be the title (label) of the chart.

[2021-03-01 11:41] deepikakeshav-qasource commented on #92819
Hi @jonathan-buttner

Thank you for looking into it.

**Steps to reproduce:**

1. Deployed the cloud production build of 7.11.1.
2. Navigate to the cases tab.
3. Click on "Edit External Connection".
4. Add the connectors [JIRA, IBM, Service Now]
5. Click on back to the cases.
6. Create the cases for [JIRA, IBM, Service Now]
7. Now upgrade the build from 7.11.1 to 7.12.0.
8. After up-gradation has

[2021-03-01 11:47] sqren opened #93011 "[APM] Make service color static"
Currently the color of a service in the waterfall is defined by its position in the visible trace. The first service will be blue, second green, third purple and so on with other colors.

This is confusing because the same service changes color between traces. It is even more confusing because the same service changes color within the same trace if the user "zooms in" on a specific transaction by

[2021-03-01 11:47] elasticmachine commented on #93011
Pinging @elastic/apm-ui (Team:apm)

[2021-03-01 11:52] elasticmachine commented on #92521
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-01 11:54] elasticmachine commented on #92588
Pinging @elastic/kibana-security (Team:Security)

[2021-03-01 11:58] #89404 closed

[2021-03-01 11:59] elasticmachine commented on #92116
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 12:00] karanbirsingh-qasource commented on #89401
Hi @cnasikas

we have validate this issue on 7.12.0 BC2 and Found it Fixed. User having Gold License is able to create JIRA connector and push case comment to JIRA instance. Tested on Both Cloud and On-Prem Environment.

**Build Details:**
[code]

Snapshot:
- Cloud
![image](https://user-images.githubusercontent.com/59917825/109492924-b76b6180-7ab1-11eb-818b-69415246bafe.png)
![image](https://user-

[2021-03-01 12:01] afharo commented on #92947
@aaronjcaldwell, thank you for creating this issue. I wonder if the issue happens because the Kibana's internal user (`kibana_system`) lacks enough permissions to read those index patterns.

Please, bear in mind that telemetry is reported after collecting it with the user mentioned above. Apologies if this is not the root of the issue.

[2021-03-01 12:01] elasticmachine commented on #92358
Pinging @elastic/kibana-security (Team:Security)

[2021-03-01 12:03] elasticmachine commented on #91672
Pinging @elastic/kibana-security (Team:Security)

[2021-03-01 12:04] lizozom commented on #90293
@jerodwaldman I'm trying to reproduce the bug on 7.9.3 and Chrome 88.0.4324.182 on Linux.
The scenario described above seems to work and I can't reproduce the bug.

Can you still reproduce it? Maybe there's some additional step required?

Here are two visualizations with 3 lines of filters that work properly on reload:

![image](https://user-images.githubusercontent.com/3016806/109494766-00fa8300-

[2021-03-01 12:07] elasticmachine commented on #91672
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 12:13] ppisljar opened #93016 "rewrite functions using `resolve:false` to support observable arguments"
rewrite functions using `resolve:false` to support observable arguments
  - [ ] case
  - [ ] if
  - [ ] filterrows
  - [ ] mapColumn
  - [ ] ply
  - [ ] switch

parent issue: https://github.com/elastic/kibana/issues/84051

[2021-03-01 12:13] elasticmachine commented on #93016
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 12:16] elasticmachine commented on #92007
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-01 12:17] ppisljar opened #93017 "inspector: support partial results"
in order to be able to open inspector before the data has completed loading inspector will need to support displaying partial results. Inspector is currently event driven, each `inspectorAdapter` needs to emit event when data is ready. We need to investigate if we can reuse this for partial results or if we need to refactor inspector to rather work with observables.

parent issue: https://github.c

[2021-03-01 12:17] deepikakeshav-qasource commented on #84893
Hi @MadameSheema

We have validated this ticket on **7.12.0 BC2** and found that issue is **Fixed**. Data for any row is not overwritten under indicator match

**Build Details:**
[code]

**Screenshot:**
**Entered 02 field values:**
![ind_match](https://user-images.githubusercontent.com/61860752/109491475-9e61b100-7aaf-11eb-835e-634b169b511e.jpg)

**Deleted the first one:**
![After_delete](https://

[2021-03-01 12:17] elasticmachine commented on #93017
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 12:18] elasticmachine commented on #91672
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-01 12:20] deepikakeshav-qasource commented on #87546
Hi @MadameSheema

We have validated this ticket on **7.12.0 BC2** and found that issue is **Fixed**. We observed that threat techniques is optional. User can add the tactic without threat techniques

**Build Details:**
[code]

**Screenshots:**
![Mitre+attack](https://user-images.githubusercontent.com/61860752/109491613-cbae5f00-7aaf-11eb-8c77-f3e24092b295.jpg)
![Rule_created](https://user-images.g

[2021-03-01 12:20] elasticmachine commented on #92116
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-01 12:25] kertal opened #93019 "[Inspector] Request and Response tab are not displayed correctly in Safari"
**Kibana version:**
7.12 BC2

**Steps to reproduce:**
1. Use Safari for testing (14.0.3 in my case)
1. Go to any app using Inspector, I encountered it trying to open Inspector of an Dashboard embeddable
2. Switch to Request or Response
3. There should be a JSON view of Request / Response. It's rendered but it barely visible, only a few pixels height

**Expected behavior:**

There should be a full

[2021-03-01 12:25] elasticmachine commented on #93019
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 12:28] kumaravel29 commented on #69646
+1

[2021-03-01 12:42] amolnater-qasource opened #93021 "Inconsistent agent status is shown under Fleet>Agents and under Security>Administration tab."
**Kibana version:** 7.12.0 BC-2 Kibana Cloud environment

**Build Details:**
[code]

**Preconditions:**
1. 7.12.0 BC-2 Kibana cloud environment should be available.
2. Few agents must be installed with default policy having system and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Fleet>Agents tab.
3. Observe statuses available for agents under Fle

[2021-03-01 12:42] amolnater-qasource commented on #93021
@manishgupta-qasource Please review.

[2021-03-01 12:47] ppisljar commented on #16234
this seems to have been fixed, if encountered again please reopen

[2021-03-01 12:47] #16234 closed

[2021-03-01 12:47] ppisljar commented on #16653
closing as this is referring to an old version of kibana which we no longer maintain.

[2021-03-01 12:47] #16653 closed

[2021-03-01 12:49] manishgupta-qasource commented on #93021
Reviewed & Assigned to @EricDavisX

[2021-03-01 12:50] ppisljar commented on #30885
closing as this seems to have been fixed. please reopen if encountered again

[2021-03-01 12:50] #30885 closed

[2021-03-01 12:53] ppisljar commented on #48019
@mattkime can you close this with a link to the relevant PR ?

[2021-03-01 12:54] kevinlog commented on #92780
@ferullo does the existing setting turn off all quarantine capabilities or is it just for malware?

[2021-03-01 12:59] ph commented on #91906
After talking @jfsiii last week, seems we have enough on our side to make some progress on the implementation.

[2021-03-01 13:18] jgowdyelastic commented on #91983
Related to https://github.com/elastic/kibana/pull/61698

[2021-03-01 13:23] flash1293 opened #93026 "Visualize: Upgrading vis with pipeline agg from 6.8 doesn't render"
**Kibana version:** 7.12 BC2

**Describe the bug:** Upgrading from 6.8 with visualizations using pipeline aggs in any way or importing visualizations from 6.8 results in rendering a blank visualization with an error in the console

**Steps to reproduce:**
1. Spin up 6.8 and configure a visualization using a pipeline agg (e.g. area chart with time x axis and moving avg on y axis)
2. Upgrade to 7.12

[2021-03-01 13:23] elasticmachine commented on #93026
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 13:28] mostlyjason commented on #91906
Great thanks! @hbharding can you comment on the option to replace the number of integrations with the policy type (see details in the comments above)

Also, disabling the unenroll menu item will also prevent users from force unenrolling agents in a managed policy in the UI https://github.com/elastic/kibana/pull/88688#issuecomment-773470837

[2021-03-01 13:29] elasticmachine commented on #87948
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-01 13:30] ppisljar commented on #89208
seems related to https://github.com/elastic/kibana/issues/87948

[2021-03-01 13:34] flash1293 opened #93027 "Visualize: Sibling pipeline aggs can't switch to "ipv4 range""
**Kibana version:** 7.12 BC2

**Describe the bug:** It's not possible to switch the bucket agg of a sibling pipeline agg like sum bucket to "ipv4 range". (just get an error in the console)

**Steps to reproduce:**
1. Configure date histogram on x axis
2. Configure sum bucket on y axis
3. Switch from date histogram to ipv4 range
4. Nothing happens (besides error in console)

**Expected behavior:**

[2021-03-01 13:34] elasticmachine commented on #93027
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 13:36] mistic commented on #85208
It has now failed on master too. Skipping for now.

master/8.0: 31041af
7.x/7.13: 7b29290
7.12: f142bc6

[2021-03-01 13:37] shahzad31 commented on #90806
## UPTIME

### Read only user
[code]

### Power user
[code]

[2021-03-01 13:38] elasticmachine commented on #90907
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 13:38] elasticmachine commented on #90845
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 13:39] rudolf opened #93029 "Support sharding large workloads across multiple Kibana instances"
(although this is on the core team's long term radar, we're not actively working towards adding this at the moment)

Kibana instances are currently completely isolated and don't know anything about other instances that are connected to the same Elasticsearch cluster. This means that synchronizing workloads between instances has to be done with optimistic concurrency control, however every conflict

[2021-03-01 13:39] elasticmachine commented on #93029
Pinging @elastic/kibana-core (Team:Core)

[2021-03-01 13:41] cnasikas commented on #93008
@karanbirsingh-qasource @manishgupta-qasource @MadameSheema If category and subcategory are not being displayed then you probably do not have install SIR in your developer instance. Could you please verify it?

[2021-03-01 13:45] rudolf commented on #92933
The bottleneck in v1 migrations and soon in v2 migrations (once we implement rewriting _id support https://github.com/elastic/kibana/pull/93002) is that Kibana reads all documents from the outdated index and then writes these into the target index in batches.

This adds network latency between Kibana and Elasticsearch to every batch. For many millions of documents this could be significant overhea

[2021-03-01 13:50] flash1293 opened #93030 "Gauge/goal: Tooltip always includes "_all""
**Kibana version:** 7.12 BC2

**Describe the bug:** On configuring a gauge/goal, the tooltip always includes an additional level "_all"

**Steps to reproduce:**
1. Configure gauge (including a split)
2. Hover over one gauge
3. Tooltip shows "_all"

**Expected behavior:**
Tooltip with "_all" should be omitted

**Screenshots (if relevant):**
<img width="368" alt="Screenshot 2021-03-01 at 14 37 35" s

[2021-03-01 13:50] elasticmachine commented on #93030
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 13:57] flash1293 opened #93031 "[Lens] Changing datasource configuration switches from donut to pie"
**Kibana version:** 7.12 BC2

**Describe the bug:** Every change on the datasource side is switching the visualization type from donut to pie

**Steps to reproduce:**
1. Configure donut chart
2. Change metric
3. Chart renders as pie

**Expected behavior:**
Should stick to donut

**Screenshots (if relevant):**
![pie_donut](https://user-images.githubusercontent.com/1508364/109506864-6aca5b00-7a9e-11

[2021-03-01 13:57] elasticmachine commented on #93031
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 14:01] pmuellr commented on #93009
We still need to do something about a "NO DATA" status - perhaps this would work in this case?  I think we'd need to provide some way for an alert type to provide a message providing a description of what happened.

see issue https://github.com/elastic/kibana/issues/67296

[2021-03-01 14:10] flash1293 commented on #92135
Same problem in Visualize when using the inspector (because it also includes monaco I guess). It's pretty likely a lot of apps have that issue in one way or the other, but it's especially noticable in Lens.

@elastic/kibana-core Any idea how we could resolve this issue on the Kibana level? The problems boil down to "adding an element directly to the body causes the body element to become scrollabl

[2021-03-01 14:35] mbondyra opened #93036 "[Lens] A simple chart generates warning coming from elastic-charts"
**Kibana version:**
master

To reproduce:
1. Open Lens with e-commerce data
2. Move Records to workspace
3. Move category to vertical axis.
<img width="219" alt="Screenshot 2021-03-01 at 15 34 40" src="https://user-images.githubusercontent.com/4283304/109511747-a582c200-7aa3-11eb-8829-1d8d9699f465.png">

You'll see this warning in the console:
<img width="731" alt="Screenshot 2021-03-01 at 15 34 2

[2021-03-01 14:35] elasticmachine commented on #93036
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 14:38] mbondyra opened #93037 "[Lens] Starting a drag on field element with open popover doesn't close popover"
**Kibana version:**
master

**Steps to reproduce:**
1. Open lens with e-commerce data
2. Click on the field item to open a popover
3. Start dragging a field without closing a popover

The popover is open till we click on the field again.
Expected behavior: Popover closes as soon as we start dragging.

https://user-images.githubusercontent.com/4283304/109512384-57ba8980-7aa4-11eb-8837-da7f2383b4d9.

[2021-03-01 14:38] elasticmachine commented on #93037
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 14:42] flash1293 commented on #50107
I just tested this with an upgrade from 6.8 to 7.12 and it didn't work for me (at least for custom spaces)

The url looks like this:
http://localhost:5605/s/asd/goto/36d6831001a74d5db7f830d0cdfe3fc3?embed=true

And it seems like somehow in the URL migration process the embed flag gets lost and the URL renders with chrome

[2021-03-01 14:43] #82529 closed

[2021-03-01 14:55] mbondyra commented on #81780
Linking PR: https://github.com/KOTungseth/kibana/pull/4

[2021-03-01 14:56] paulb-elastic commented on #85401
A list of the metric short names is [here](https://docs.google.com/document/d/15IFK4fm7DK-RVIPyt6BA6y9PA-AWFUc4oMvt3lC3GS8/edit#).

Discussed in the epic refinement, if there are a small (ish) number of metrics ready to be shown in the first iteration, then the table as shown at the top of the waterfall chart will be a suitable layout. However, if there are many (> ~10), then a table may not be th

[2021-03-01 14:57] ferullo commented on #92780
Ransomware is not quarantined on prevention so no advanced option to disable it is relevant.

[2021-03-01 14:57] #92780 closed

[2021-03-01 15:00] neptunian commented on #92661
Testing on BC2 on release-oblt

- When trying to create an infrastructure alert for Kubernetes Pods I get this error if i don't have k8s jobs enabled.  It should not mention these jobs but rather the Kubernetes job.  If i enable the host job and try to preview the alert the messaging is accurate.
<img width="618" alt="Screen Shot 2021-02-25 at 3 52 16 PM" src="https://user-images.githubusercontent

[2021-03-01 15:09] lizozom commented on #92843
@majagrubic do you mean that in discover we return all hits and not only the first 1000?
And can you please elaborate how is this affected by sorting?

[2021-03-01 15:12] pheyos opened #93040 "[ML] Show custom time ranges in the time picker"
When adding a custom time picker range via Kibana advanced settings > `Time filter quick ranges`, it shows up correctly in the `Commonly used` entries of Discover's time picker, but not in the one on ML single metric viewer or anomaly explorer pages.

It seems the custom options need to be added explicitly to the time picker, there are examples for [APM](https://github.com/elastic/kibana/blob/mast

[2021-03-01 15:12] elasticmachine commented on #93040
Pinging @elastic/ml-ui (:ml)

[2021-03-01 15:17] 111andre111 opened #93041 "monitoring kibana section doesn't differ node types"
**Kibana version:** 7.11.1

**Elasticsearch version:** 7.11.1

**Browser version:** Chrome or Firefox

**Describe the bug:**
Monitoring node types do not reflect the master node type roles.

**Steps to reproduce:**
1. Go to monitoring
2. Go to nodes overview
3. See that only one active master shows a filled star picture.

**Expected behavior:**
The other non-active master nodes should have a hollo

[2021-03-01 15:17] elasticmachine commented on #93041
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 15:20] elasticmachine commented on #89362
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-01 15:21] lizozom commented on #89362
It seems to me that this is related to how Dashboard behaves, so I'm adding the @elastic/kibana-presentation team to evaluate this

[2021-03-01 15:23] lizozom commented on #89208
@ppisljar not necessarily. It think that the maps app is not handling the top nav options from the URL. This is why they behave differently from other apps.

[2021-03-01 15:23] elasticmachine commented on #93008
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-01 15:24] Dosant opened #93045 "[Lens] Table column popover closing glitches"
**Kibana version:** master

**Describe the bug:**

Table column popover needs some improvements:

When the popover is opened, I am clicking on a cell to close it.
It doesn't close and after that click outside doesn't work

**Steps to reproduce:**
1. Open popover
2. Try to close it by clicking on a cell
3. It didn't close. Now you also can't close it by clicking outside.

**Expected behavior:**

I

[2021-03-01 15:24] elasticmachine commented on #93045
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 15:30] flash1293 commented on #93045
I can reproduce this in the EUI documentation as well - opened a cross issue there: https://github.com/elastic/eui/issues/4588

[2021-03-01 15:33] jen-huang commented on #92612
FYI this issue to show package version number in agent policy details is related, though it's more of a proposed workaround for current behavior: https://github.com/elastic/kibana/issues/90308

[2021-03-01 15:34] kertal commented on #91616
update: we were discussing various flamecharts in a email conversation, this is ongoing, will post a summary once it can be summarized

[2021-03-01 15:37] kibanamachine opened #93046 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_region_map·ts - visualize app vector map "before all" hook in "vector map""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12263/)

[2021-03-01 15:40] streamich opened #93047 "Human readable short URLs"
Add ability to Short URL service in `share` plugin to generate human readable URLs.

- [x] Allow user supply any slug.
- [ ] Automatically generate human readable slug, if one is not supplied.

Related: [Human readable dashboard URLs](https://github.com/elastic/kibana/issues/15023)

Part of https://github.com/elastic/kibana/issues/87304

[2021-03-01 15:40] elasticmachine commented on #93047
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 15:41] streamich opened #93048 "URL service documentation"
Add top-notch docs for the new URL Service that are published to elastic.co.

Part of https://github.com/elastic/kibana/issues/87304

[2021-03-01 15:41] elasticmachine commented on #93048
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 15:54] narph opened #93051 "[Fleet] Add support for authorizing kibana fleet or fleet server apis using the security api key"
When calling the Kibana Fleet apis and using the ApIKey authorization instead of Basic auth (username:password) the response is:
`{"statusCode":403,"error":"Forbidden","message":"Access to Fleet API require the superuser role."}`

The user creating the api key has superuser role, also this was tested with an api key which had as role decriptors a superuser role.

More on the security api key here:

[2021-03-01 15:55] pmuellr commented on #92654
The only detection we have in alerting is that we get an error decrypting the alerting ESOs.  Which _could_ be some other problem other than mismatched encryption keys - but it does certainly occur when encountering mismatched keys.  So we're left wondering - is it mismatched keys, or alerting?  The customer never believes it's mismatched keys :-)

I do think we need some kind of canary.  Kibana c

[2021-03-01 15:55] sqren commented on #92952
fyi @alex-fedotyev

[2021-03-01 15:58] myasonik commented on #92135
Looping in @elastic/kibana-design too - to make sure we don't bungle a broad CSS change.

[2021-03-01 16:05] pmuellr commented on #92949
Could you try execution the connector from it's "Test" tab?  You may see more diagnostic information.

![image](https://user-images.githubusercontent.com/25117/109524090-12836100-7a7e-11eb-9611-d7cf6ba4edc1.png)

Also curious about your email settings - server, port, secure setting

Also, I'd have to look up the exact details on use of the proxy for email, but I believe your proxy will have to sup

[2021-03-01 16:11] MadameSheema commented on #92607
@karanbirsingh-qasource can you please validate this on BC3? Lots of thanks :)

[2021-03-01 16:21] elasticmachine commented on #93046
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 16:22] jesse-ECS opened #93058 "Global Access to URL Templating Variables"
**Global URL Templating Variable Access**

The URL Template Drill Down variables should be globally accessible so that links in the index template or in TSVB item URL's can access the panel context and index template id of the currently open dashboard.  This will allow the developer to write code one time and deploy it to many systems.  Specifically, the below variable should be accessible.  (cann

[2021-03-01 16:24] pmuellr opened #93062 "[alerting] sticky "red" status when getting a 50x error calculating alerting health status"
**Kibana version:** 7.11.0

**Elasticsearch version:** 7.11.0

**Server OS version:** cloud

**Describe the bug:**

It appears that if alerting encounters a 50x status while it's calculating it's health status, that error state will be sticky, and won't ever get cleared.

**Steps to reproduce:**
1. Seems to happen fairly often in the cloud, but not deterministic
2. check Kibana API `/api/status?v8

[2021-03-01 16:24] elasticmachine commented on #93062
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-03-01 16:24] XavierM commented on #92355
This confusion has not been created by us, if you feel strongly about it you should bring it back to the alerting team. Sorry about that, we do not have any control here.

[2021-03-01 16:26] mdefazio commented on #93007
Please see [this google doc](https://docs.google.com/document/d/1u2u1drMXolg4863FjOCw_8fvwvtkx6tSlqQDmSBLEuI/edit#) for a list of all the possible scenarios and views that the UI needs to account for and confirm these are all correct

[2021-03-01 16:27] XavierM commented on #91816
I think we can consider this issue as an enhancement and not a bug because we do not have control over what the user do in `Alerts and Actions`, we will need to work with this team to figure out a good solution to clean up that. Therefore, case will be aware of deletion of connector inside of this page.

It is legit issue but need more work that just a bug fix over here.

[2021-03-01 16:29] spong commented on #93006
This is a duplicate of https://github.com/elastic/kibana/issues/87686 (which will handle both the create/read errors). Going to close in favor of that issue.

[2021-03-01 16:29] #93006 closed

[2021-03-01 16:30] mattkime commented on #80316
@hendry-lim Are you still seeing this problem?

[2021-03-01 16:31] jesse-ECS opened #93064 "Dashboard Developer Debug Context Window"
**A Window that shows the contents of all of the [*URL Templating Variables*](https://www.elastic.co/guide/en/kibana/current/url_templating-language.html)**

In the browser developer console. the event object is accessible through [object Object] object but the visualization developer will require a heads up display of the values of all of the context variables for the current mouse position in Ki

[2021-03-01 16:31] FrankHassanabad commented on #82529
@MadameSheema , Yes, it is now merged and we will have this for 7.12

[2021-03-01 16:32] mattkime commented on #60359
Closing as the field cache was removed in 7.11 - https://github.com/elastic/kibana/pull/82223 Feel free to reopen if there's something I've missed.

[2021-03-01 16:32] #60359 closed

[2021-03-01 16:33] neptunian commented on #92665
Testing on BC2 pointed at release-oblt

- When creating an Inventory or Metrics alert, after I added but then removed the warning threshold, the preview messaging still mentions the warning threshold.  Upon saving, the request still has the warning threshold.
<img width="600" alt="Screen Shot 2021-03-01 at 10 56 48 AM" src="https://user-images.githubusercontent.com/1676003/109523275-2aa6b080-7a7d-

[2021-03-01 16:37] elasticmachine commented on #93046
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-01 16:43] liza-mae commented on #92299
https://github.com/elastic/kibana/issues/93062

[2021-03-01 16:44] parkiino commented on #92567
https://github.com/elastic/kibana/pull/92919

[2021-03-01 16:45] MadameSheema commented on #82529
@deepikakeshav-qasource can you please valide this fix on BC3? Thanks :)

[2021-03-01 16:48] flash1293 commented on #92985
The DOM is definitely in the right state, it seems like the `getText` method of the selenium driver is not correctly reporting off-screen text. I think executing JS in the page context and using `innerHTML` instead to grab the label will be more stable. I can't think of a good way to force the graph to be centered, it can always happen it drifts somewhere. I'm going to set up a PR  for this.

[2021-03-01 16:51] graphaelli commented on #91409
This will be good to have but considering it an unlikely stretch goal for 7.13.

[2021-03-01 16:51] graphaelli commented on #91412
This will be good to have but considering it an unlikely stretch goal for 7.13.

[2021-03-01 17:00] alvarezmelissa87 commented on #87982
Reopening as this is still occurring.

[2021-03-01 17:02] legrego commented on #92901
Hi @Roguelazer,

Thanks for raising this, and sorry about the frustration we caused. We didn't consider this change noteworthy at the time because version `6.8` of Kibana was the last release to officially support CentOS 6 as far as I'm aware (reference: [support matrix](https://www.elastic.co/support/matrix)).

That said, we can certainly update the release notes to call out this change. I've ope

[2021-03-01 17:03] graphaelli commented on #88659
@simitt Can you define:
* how to know when the link should be shown
* where link should point to (url)

thanks for the design @formgeist

[2021-03-01 17:06] flash1293 opened #93069 "Pie: Field names are not escaped in expression"
**Kibana version:** 7.11 (still present in 7.12 BC 2)

**Describe the bug:** Field names can contain single and double quotes. Because of this they have be escaped before put into an expression argument.

**Steps to reproduce:**
1. Create an index with a field name containing a single quote
2. Try to build a pie visualization using it
3. Search error toast pops up

**Expected behavior:**
Should wo

[2021-03-01 17:06] elasticmachine commented on #93069
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 17:13] graphaelli commented on #89311
@simitt and I discussed - we still need to determine what needs to be done here to figure out who will do it, depending on the outcome of the indexing permissions discussion.  As of now this is not slated for a specific milestone.

[2021-03-01 17:15] legrego commented on #92965
@gmmorris for future reference, @elastic/kibana-security only owns security-related tests that are associated with security plugins (and saved objects, just because 😄).

Security-related tests that verify functionality of specific applications or solutions are owned by the respective app/solution teams. It's very possible that we were the original authors, but the responsibility lies with the app/

[2021-03-01 17:23] Dosant commented on #28724
closing as we don't support IE11 since 7.9

[2021-03-01 17:23] #28724 closed

[2021-03-01 17:26] hbharding commented on #89396
@mostlyjason can you update this issue to include a problem statement and the user stories we want to solve for? I'd like to use this as my design issue for tracking purposes. Alternatively, you can create a separate issue and link to this one. I can fill in details for deliverables.

[2021-03-01 17:27] bhavyarm opened #93070 "Click here to create the index pattern message from notifications on saved objects view doesn't redirect the user to index patterns page"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If a saved object is missing index pattern details on saved object view page under management - the "click here" ui notific

[2021-03-01 17:27] elasticmachine commented on #93070
Pinging @elastic/kibana-core (Team:Core)

[2021-03-01 17:30] ThomThomson commented on #62115
Input Controls are currently experimental. We are planning on doing a major overhaul of them in a coming version.

That said, I can think of a workaround, although it is pretty clunky. If you place the input controls on a dashboard with at least one visualization that uses the same non-default index pattern you can then change filters on the dashboard and see how they apply to the input control.

[2021-03-01 17:33] Dosant commented on #90496
Postpone until @tsullivan looks into automating building of puppeteer.

[2021-03-01 17:40] Dosant commented on #90274
@elastic/kibana-app-services: If it is reporting and reporting is not really used then the code in question (task manager) will be removed in the next release (after 7.12)

[2021-03-01 17:41] chrisronline opened #93072 "[Stack Monitoring] [Test Scenario] Out of the box alerting"
# Summary

Stack Monitoring provides a set of out-of-the-box alerts, created by simply loading the Stack Monitoring UI within Kibana. The default action for each alert is a server log and the action messaging is controlled by the Stack Monitoring UI code directly.

# PRs

Original, and CPU alert: https://github.com/elastic/kibana/pull/68805
Disk usage alert: https://github.com/elastic/kibana/pull/

[2021-03-01 17:41] elasticmachine commented on #93072
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:43] legrego commented on #90779
@watson would you be willing to take a look at this one as our resident Hapi expert? 🙂

[2021-03-01 17:44] chrisronline opened #93075 "[Stack Monitoring] [Test Scenario] Cloud"
## Testing

- [x] Create two cloud deployments (`A` and `B`), and have `A` send their monitoring data to `B`. Go into the Kibana of `A` and visit the Stack Monitoring UI. Ensure the error message is relevant to cloud https://github.com/elastic/kibana/issues/81860

[2021-03-01 17:44] elasticmachine commented on #93075
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:50] pmuellr commented on #40019
we settled on config-schema

[2021-03-01 17:50] #40019 closed

[2021-03-01 17:56] chrisronline opened #93077 "[Stack Monitoring] [Test Scenario] Config testing"
# Testing

## monitoring.kibana.collection.enabled
- [x] Kibana does not crash when this is enabled
- [x] Ensure there are new Kibana monitoring documents (`.monitoring-kibana-*`) (For this to work, you need to ensure monitoring is enabled on the cluster which can be done through the setup page on the Stack Monitoring UI, or update ES cluster settings manually to set `xpack.monitoring.collection.e

[2021-03-01 17:56] elasticmachine commented on #93077
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:57] chrisronline opened #93078 "[Stack Monitoring] [Test Scenario] Remote clusters"
This involves running two separate clusters and connecting them together through the Remote Clusters feature in Kibana. The Stack Monitoring UI supports searching across remote clusters to show all known monitoring data.

# Testing
- [x] Ensure you can see a remote cluster's monitoring data in the Stack Monitoring UI
- [ ] Ensure the Stack Monitoring UI still works if that remote cluster is unavai

[2021-03-01 17:57] elasticmachine commented on #93078
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:57] chrisronline opened #93079 "[Stack Monitoring] [Test Scenario] Multi-cluster monitoring"
# Testing

- [x] Ensure loading page shows when navigating to Stack Monitoring
- [x] Ensure cluster listing page loads when after loading screen
- [x] Ensure each cluster link properly resolves to that cluster's overview screen
- [x] In relation to the above, ensure there is no rison error toast message when navigating to a specific cluster https://github.com/elastic/kibana/issues/83212

[2021-03-01 17:57] elasticmachine commented on #93079
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:58] chrisronline opened #93080 "[Stack Monitoring] [Test Scenario] Metricbeat monitoring"
# Testing
- [x] Ensure that the Stack Monitoring UI works as expected with both `metricbeat-*` data and `.monitoring-*` data (https://github.com/elastic/kibana/pull/77099). This involves using either legacy or Metricbeat-based collection in addition to using Metricbeat for non-stack monitoring data. The easiest way to do this is to setup monitoring via Metricbeat and ensure the `system` module is

[2021-03-01 17:58] elasticmachine commented on #93080
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:59] chrisronline opened #93081 "[Stack Monitoring] [Test Scenario] Consistent UX across stack products"
# Summary

We need to ensure each stack product has a consistent experience and there is consistency between stack products.

# Testing
- [x] Every overview page consists of a status section and a collection of charts
- [x] Each page has a page heading
- [x] Every listing page has working pagination https://github.com/elastic/kibana/pull/85862

# samples
<img width="2070" alt="Screen Shot 2020-10-

[2021-03-01 17:59] elasticmachine commented on #93081
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 17:59] chrisronline opened #93082 "[Stack Monitoring] [Test Scenario] Kibana monitoring data collection"
# Testing

- [x] Kibana does not crash when disabling collection in `kibana.yml` (setting is `monitoring.kibana.collection.enabled:`)

[2021-03-01 17:59] elasticmachine commented on #93082
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-03-01 18:11] andrew-goldstein opened #93083 "[Security Solution] Implement a bulk action on the Detections rule page for associating timeline templates with rules"
##  Implement a bulk action on the Detections rule page for associating timeline templates with rules

To associate a timeline template with multiple rules, users must visit the Detections rule page, manually click-through  to each rule definition that will be associated with the template, and then update the rule to associate the template timeline.

When associating a timeline template with rules

[2021-03-01 18:11] elasticmachine commented on #93083
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-03-01 18:11] elasticmachine commented on #93083
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 18:13] fearful-symmetry commented on #92636
Okay, I'm probably doing something wrong, but I'm still running into issues with this @ruflin .
`dataset: process.summary` blows up, because it's being parsed by Kibana as `summary`
`dataset: system.process.summary` runs `system.process` as `system.process.summary`
`dataset: process_summary.process.summary` also does that.

[2021-03-01 18:19] mostlyjason opened #93084 "[Fleet] Add discoverability for non-Fleet integrations"
**Describe the feature:**
When integrations UI becomes the default experience for adding data in Kibana, we want to help users discover all the ways to add data to Elastic. That includes everything listed on https://www.elastic.co/integrations. Currently the Fleet integrations page is missing Enterprise search connectors, Beats modules, Logstash plugins, sample data, file upload, ES clients, etc.

[2021-03-01 18:19] elasticmachine commented on #93084
Pinging @elastic/fleet (Team:Fleet)

[2021-03-01 18:24] dplumlee commented on #92799
@MadameSheema @peluja1012 can confirm this is the expected action, we pushed a fix to validate the nested fields individually so this should just add an exception that has all empty fields removed

[2021-03-01 18:30] #83704 closed

[2021-03-01 18:41] neptunian commented on #92396
- Same as what I mentioned on the anomalies page.  Cannot access via keyboard the dropdown contents and menu
<img width="2537" alt="Screen Shot 2021-03-01 at 12 42 00 PM" src="https://user-images.githubusercontent.com/1676003/109536380-a60f5e80-7a8b-11eb-9471-5bd8d9c575b2.png">

-  If you make the browser window more narrow, but not as narrow as a phone, such as an ipad in portrait mode, the conte

[2021-03-01 18:44] spalger commented on #92957
Are there additional files listed that can't be opened? I wonder if the error is caused by the use of the `-p` flag to tar, which attempts to preserve file permissions.

[2021-03-01 18:53] bhavyarm commented on #87929
@restrry apologies this one slipped my radar. yes after 7.12.0 release. Thanks!

[2021-03-01 18:55] neptunian commented on #92431
I was able to reproduce the part where editing the custom metric does not refresh the waffle map.  However the name of the metric did appear updated to me in the dropdown and when I rolled over the node in the tooltip it was updated.  We should definitely open an issue to refresh the waffle map upon editing of the tooltip. If they change the metric type, you will still be looking at the old metric

[2021-03-01 19:00] ThomThomson commented on #87929
I've been looking into fixing some other iframe issues, but am running into this issue. When I add these changes to `kibana.dev.yml` I am unable to log in:

[code]

<img width="715" alt="Screen Shot 2021-03-01 at 1 59 08 PM" src="https://user-images.githubusercontent.com/14276393/109545049-54200600-7a96-11eb-9511-2d116b63f253.png">

Is there a step I am missing?

[2021-03-01 19:04] aaronjcaldwell opened #93088 "[Maps] Geo containment alert V2"
As a follow-up to https://github.com/elastic/kibana/issues/80749, this issue describes the features targeted for Geo Alerting V2 capabilities

- [ ] Ability to draw shapes and persist (https://github.com/elastic/kibana/issues/41469)
- [ ] Alert on drawn shapes (https://github.com/elastic/kibana/issues/69219, https://github.com/elastic/kibana/issues/35324)
- [ ] Add proximity alert type (https://gi

[2021-03-01 19:04] elasticmachine commented on #93088
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-01 19:14] michaelolo24 commented on #93004
@XavierM, this is caused by this here: https://github.com/elastic/kibana/blob/1a7709541cfc5f5e5471ee7fb046447f60f941ea/x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/host_name.tsx#L39

Do we want to enable different functionality for this button when it's not in the scope of timeline? Should it link to the details page when not in the scope of timeline? That w

[2021-03-01 19:14] elasticmachine commented on #93064
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 19:22] #92383 closed

[2021-03-01 19:23] neptunian commented on #92383
Passed cases on BC2 in both local and cloud setups

[2021-03-01 19:27] nreese opened #93093 "Saved search highlighting not working when embedded in Dashboard"
Steps to produce:
1) Install web logs sample data
2) Open discover and select kibana_sample_data_logs. Remove all columns so document is displayed in table. Save search
3) Apply the search `geo.src : "CN"`. Notice how search results are highlighted. And in response, there is a highlight
    <img width="500" alt="Screen Shot 2021-03-01 at 12 22 32 PM" src="https://user-images.githubusercontent.com/

[2021-03-01 19:27] elasticmachine commented on #93093
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-01 19:29] graphaelli commented on #89987
@simitt do you understand this to be for the overview page on integrations installation (app/fleet#/integrations/detail/apm-0.1.0-dev.5/overview) ?

[2021-03-01 19:40] nickofthyme commented on #77883
I think this can be closed via #78154. The current `vis_type_xy` plugin renders the above configuration as so...

![image](https://user-images.githubusercontent.com/19007109/109549521-b297b500-7a93-11eb-9f75-33be6cffb05c.png)

[2021-03-01 19:40] #77883 closed

[2021-03-01 19:43] waaalex commented on #92957
Hello.
Yes, over 30 files are like this.  JS files. I will test without -p. I always use -p to preserve rights.

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Spencer <notifications@github.com>
Sent: Monday, March 1, 2021 7:44:19 PM
To: elastic/kibana <kibana@noreply.github.com>
Cc: waaalex <waaalex@hotmail.com>; Author <author@noreply.github.com>

[2021-03-01 19:44] nickofthyme commented on #83917
@th0ger this feature will be added in `7.13`. Unfortunately, I was not able to get this into `7.12`. The required changes within our charting library can be found here https://github.com/elastic/elastic-charts/pull/1032. I'll open a PR with the kibana implementation and tag this issue.

[2021-03-01 19:47] rudolf commented on #89368
Implemented in https://github.com/elastic/kibana/pull/92526

[2021-03-01 19:47] #89368 closed

[2021-03-01 19:53] tsullivan commented on #76182
I'm not seeing this failure in the master branch: https://internal-ci.elastic.co/job/elastic+estf-cloud-kibana-flaky-test-runner/JOB=flakyRun1,TASK=saas_run_kibana_tests,node=ess-testing/220/console

[2021-03-01 19:53] #76182 closed

[2021-03-01 20:05] #92803 closed

[2021-03-01 20:06] tsullivan commented on #84930
I can confirm this issue does not appear in 7.12.0

I'm using EC2 for testing ARM with this AMI name: `ubuntu/images/hvm-ssd/ubuntu-focal-20.04-arm64-server-20210223-3ba3581b-86f4-4bf1-a9a5-c2e11fe9408d`

I did not get a chance to test in 7.11, but Reporting uses the same browser build for 7.11 and 7.12.0

[2021-03-01 20:06] #84930 closed

[2021-03-01 20:14] #92409 closed

[2021-03-01 20:14] #92642 closed

[2021-03-01 20:14] #92745 closed

[2021-03-01 20:25] simianhacker commented on #92381
Everything looks great!

[2021-03-01 20:25] #92381 closed

[2021-03-01 20:35] LeeDr opened #93109 "Metricbeat dashboard hits "payload too large" error on 7.13"
**Kibana version:** 7.13.0-SNAPSHOT

**Elasticsearch version:** 7.13.0-SNAPSHOT

**Server OS version:** CentOS 7

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** rpm from snapshot build

**Describe the bug:** Something changed in either Kibana or the metricbeat data or dashboard to where it now shows errors

[2021-03-01 20:35] elasticmachine commented on #93109
Pinging @elastic/kibana-core (Team:Core)

[2021-03-01 20:42] #92288 closed

[2021-03-01 20:42] nreese commented on #92657
closed with https://github.com/elastic/kibana/pull/92697

[2021-03-01 20:42] #92657 closed

[2021-03-01 20:43] elasticmachine commented on #93109
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-03-01 20:43] ph commented on #89396
@hbharding @mostlyjason can we only a single owner for an issue, which should be the person responsible to drive to a conclusion?

[2021-03-01 20:48] jonathan-buttner opened #93114 "[Security Solution][Timeline] Custom Event Renderers is grayed out and not responsive"
**Describe the bug:**
The Custom Event Renderers within the event table of timeline is grayed out and not responsive.

**Kibana/Elasticsearch Stack version:**
Master/8.0

**Browser and Browser OS versions:**
Chrome

**Original install method (e.g. download page, yum, from source, etc.):**

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Timelines

**Steps to reproduce:**

[2021-03-01 20:48] elasticmachine commented on #93114
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-03-01 20:48] elasticmachine commented on #93114
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-03-01 20:50] thomasneirynck opened #93116 "[Maps] Document layers should support heatmap styling"
Individual documents can only be styled using the vector-style properties (fill-color, icon-size, ...).

This layer should also support a heatmap-style. Right now, heatmaps are only supported as a separate layer-type "heatmap layer". This layer-type uses an aggregation in the background to avoid retrieving all the documents.

[2021-03-01 20:50] elasticmachine commented on #93116
Pinging @elastic/kibana-gis (Team:Geo)

[2021-03-01 20:52] bhavyarm opened #93117 "Area chart displays data points on y-axis and user cannot brush on it to see the chart over a large time period"
**Kibana version:** 7.12.0

**Elasticsearch version:** 7.12.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  The new elastic charts area chart displays datapoints on y-axis directly if user tries to drill down into data over a larg

[2021-03-01 20:52] elasticmachine commented on #93117
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-03-01 20:56] maggieghamry commented on #57327
same issue on 7.9 as well

[2021-03-01 20:59] a03nikki opened #93122 "Add feature to hide help links based on space"
**Describe the feature:**
Add the ability to not display certain options from the help menu drop down.

**Describe a specific use case for the feature:**
The help menu for Kibana lists the following options (example from 7.11.1)

It would be helpful to be able to hid the `Ask Elastic` and `Open an issue in Github` for all of Kibana and/or a subset of the Kibana spaces.  Not all users of Kibana wil

[2021-03-01 21:04] spong commented on #86167
Thanks @kqualters-elastic! For future reference, here's the issue I created for adding deep links into those views within Detections: https://github.com/elastic/kibana/issues/92345

[2021-03-01 21:09] nreese commented on #93116
Can you provide some background on the intended use case and where this request came from?

[2021-03-01 21:11] #92658 closed

[2021-03-01 21:11] markov00 commented on #93117
@bhavyarm do you mind sharing the es response from the inspector about the second screenshot?

[2021-03-01 21:20] thomasneirynck commented on #93116
This would be useful in a few scenarios:
    -  support styling for timeslidered-data, which will likely introduce client-side filtering based on timestamp. heatmaps for moving tracks is fairly common
    -  useful for shapes, e.g. lines, where users wants to blend track-paths together (e.g. the tracks-layer)
    -  it would be useful when the 10k limit starts to matter less, e.g. when .mvt genera

[2021-03-01 21:23] tsullivan commented on #31379
test is no longer skipped as of 7.7

[2021-03-01 21:23] #31379 closed

[2021-03-01 21:23] spalger commented on #92957
Can you send a list of all the files? I'm not seeing any pattern in the ones mentioned but maybe if we had the full list of files it would point us in a direction.

[2021-03-01 21:28] neptunian commented on #92382
Tested locally on BC2 of Kibana, Filebeat, and ES

- For "The CTA to setup instructions goes to the help page", is that the same as the "Add Data" page?  That is where the link takes me.
<img width="1268" alt="Screen Shot 2021-03-01 at 3 41 11 PM" src="https://user-images.githubusercontent.com/1676003/109556323-ab2cd780-7aa4-11eb-9e4f-3e539e4879cf.png">

- If i select a range with no data, and the

[2021-03-01 21:30] waaalex commented on #92957
Ok i will send it  tomorrow. I will test untar without -p too. It is 10pm in France. Thanks for help.
Regards.

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Spencer <notifications@github.com>
Sent: Monday, March 1, 2021 10:23:47 PM
To: elastic/kibana <kibana@noreply.github.com>
Cc: waaalex <waaalex@hotmail.com>; Author <author@noreply.github.com>

[2021-03-01 21:30] #91686 closed

[2021-03-01 21:33] tsullivan commented on #37835
Duplicate of https://github.com/elastic/kibana/issues/42725

[2021-03-01 21:33] #37835 closed

[2021-03-01 21:39] tsullivan commented on #63800
This test does not exist any more (checkd in 7.x branch)

[2021-03-01 21:39] #63800 closed

[2021-03-01 21:43] tsullivan commented on #89194
This only failed once in the last 35 days. It could be an environmental issue. I am going to close it.

[2021-03-01 21:43] #89194 closed

[2021-03-01 21:45] bhavyarm commented on #93117
@markov00 yep here you go. Thanks!

ES request:
[code]

ES response:
[code]

<img width="1792" alt="Screen Shot 2021-03-01 at 4 45 05 PM" src="https://user-images.githubusercontent.com/7074629/109563238-80934c80-7aad-11eb-9d0d-7a385b3a877c.png">

[2021-03-01 21:50] tsullivan commented on #89195
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89195 closed

[2021-03-01 21:50] tsullivan commented on #89196
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89196 closed

[2021-03-01 21:50] tsullivan commented on #89198
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89198 closed

[2021-03-01 21:50] tsullivan commented on #89197
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89197 closed

[2021-03-01 21:50] tsullivan commented on #89199
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89199 closed

[2021-03-01 21:50] tsullivan commented on #89369
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] tsullivan commented on #89518
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89518 closed

[2021-03-01 21:50] tsullivan commented on #89656
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:50] #89656 closed

[2021-03-01 21:51] tsullivan commented on #89657
Several `x-pack/plugins/reporting/server/routes` jest tests failed once on Jan 25, with a couple more on Jan 27 and 28.

 - https://github.com/elastic/kibana/issues/89195
 - https://github.com/elastic/kibana/issues/89196
 - https://github.com/elastic/kibana/issues/89198
 - https://github.com/elastic/kibana/issues/89197
 - https://github.com/elastic/kibana/issues/89199
 - https://github.com/elastic

[2021-03-01 21:51] #89657 closed

[2021-03-01 21:54] dominiqueclarke opened #93136 "[Fleet] Multiple data streams using an individual agent policy template by default"
**Kibana version**: 8.0.0

**Description of the problem including expected versus actual behavior**: When creating an integration package utilizing multiple data streams, if `template_path` is not specified in the data stream's `manifest.yml`, the first instance of `stream.yml.hbs` within the entire package is used as the policy template. This can cause confusion as the `stream.yml.hbs` found coul

[2021-03-01 21:54] elasticmachine commented on #93136
Pinging @elastic/fleet (Team:Fleet)

[2021-03-01 21:55] tsullivan commented on #89201
Although there were two failures logged for this test, none have been logged in the past 30 days. There were several other Jest tests that had a hiccup of failures around this time.

[2021-03-01 21:55] tsullivan commented on #89200
Although there were two failures logged for this test, none have been logged in the past 30 days. There were several other Jest tests that had a hiccup of failures around this time.

[2021-03-01 21:56] nchaulet commented on #93136
The bug seems to be related to the fact that we use `stream.ybl.hbs` as the default `template_path` and the code here is taking the first assets with the path ending by the template_path https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/package_policy.ts/#L568-L572

[2021-03-01 22:05] tsullivan commented on #71822
Going to close this since it failed once in the last several months, and isn't a skipped test.

Also, according to the error and the endpoint of the failed API call, it doesn't look like a Reporting issue:
[code]

[2021-03-01 22:05] #71822 closed

[2021-03-01 22:08] Zacqary commented on #92661
Looks like the Spaces plugin, which is necessary to create and manage anomaly alerts, isn't enabled in `triggers_actions_ui`, which wraps Alert Management.

Adding to that difficulty, it doesn't look like we can actually import some kind of context fetcher directly from the `spaces` plugin to get the current active space. `infra` loads Spaces services into our `useKibana` wrapper.

Seems a little

[2021-03-01 22:38] #90718 closed

[2021-03-01 22:43] clintandrewhall opened #93147 "Test Issue"

[2021-03-01 22:48] jen-huang commented on #92728
Is this an autocomplete bug? AFAIK kuery operators can be both [upper and lowercase](https://www.elastic.co/guide/en/kibana/current/kuery-query.html#_boolean_queries) so I am surprised by this behavior.

[2021-03-01 22:54] nickofthyme commented on #93117
@bhavyarm Good catch! This is fixed by #93091 which caused the time domain to be `undefined`. With that PR the above example behavior is seen below.

https://user-images.githubusercontent.com/19007109/109569751-8dfd0680-7aae-11eb-8f64-8af433c958cc.mp4

I'm not sure what you mean by this but I think this would also be solved by #93091

[2021-03-01 23:05] kmartastic commented on #50107
@clintandrewhall perhaps a quick win for @ThomThomson? LOE:needs research.

[2021-03-01 23:30] elasticmachine commented on #93147
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-03-01 23:38] jonathan-buttner commented on #93114
Duplicate of this one: https://github.com/elastic/kibana/issues/92798

[2021-03-01 23:38] #93114 closed

[2021-03-01 23:38] hendry-lim commented on #80316
HI @mattkime yes, tried with `7.11.1`.

<details>
<summary>screenshot</summary>

![image](https://user-images.githubusercontent.com/48344515/109573684-41571100-7b2a-11eb-818d-047c0e025f83.png)

</details>

<details>
<summary>error<summary>
[code]
</details>

[2021-03-01 23:38] mattkime commented on #74766
@bhavyarm I attempted to reproduce this on kibana master and failed. It unclear to me whether I'm doing something wrong of if this has been fixed since you filed the issue. Can you attempt to reproduce the problem?

[2021-03-02 00:11] kmartastic commented on #92702
Seems like a no-brainer to fix.

[2021-03-02 00:13] kibanamachine opened #93152 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching·ts - detection engine api security and spaces enabled create_threat_matching tests with auditbeat data indicator enrichment generates multiple signals with multiple matches"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12272/)

[2021-03-02 00:42] kobelb commented on #92933
Related https://github.com/elastic/kibana/issues/91768

[2021-03-02 00:44] kmartastic commented on #91474
@ThomThomson can you estimate loe to fix this?

[2021-03-02 00:47] tsullivan commented on #69636
closing as not able to reproduce in 7.x

[2021-03-02 00:49] kobelb opened #93155 "Document and use `migrations.batchSize` in v2 migrations"
The saved-object migrations v1 used the undocumented `migrations.batchSize` setting to control how many documents are migrated per batch. We found some utility in allowing users to increase this setting to deal with a large number of saved-objects that should be migrated.

However, the saved-object migrations v2 don't use this setting and they're currently hard-coded to migrate 1000 saved-objects

[2021-03-02 00:50] elasticmachine commented on #93155
Pinging @elastic/kibana-core (Team:Core)

[2021-03-02 01:03] kmartastic commented on #89765
@crob611 @ThomThomson -- I'm sorry, I don't understand the issue reading the problem statement above. Can you clarify for me?

[2021-03-02 01:07] kmartastic commented on #87671
@ThomThomson -- can you estimate a loe on this?

[2021-03-02 01:25] crob611 commented on #89765
@kmartastic This was fixed by #91567 but I'll summarize it for you.  Before TimeToVisualize, a dashboard panels were all backed by saved objects.  This made it easy when saving a dashboard to know the other saved objects that it referenced.

With TimeToVisualize, now the panels are not backed by a saved object, but they could still be referencing saved objects, such as an index pattern.  The point

[2021-03-02 01:25] #89765 closed

[2021-03-02 01:51] kibanamachine opened #93159 "Failing test: API Integration Tests.test/api_integration/apis/ui_counters/ui_counters·ts - apis UI Counters UI Counters API stores ui counter events in savedObjects"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.12/73/)

[2021-03-02 02:14] kibanamachine opened #93162 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/api_keys/feature_controls/api_keys_security·ts - API Keys app feature controls security global dashboard read with manage_security should render the "Security" section with API Keys"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/12142/)

[2021-03-02 02:29] elasticmachine commented on #93162
Pinging @elastic/kibana-security (Team:Security)

[2021-03-02 02:39] #84476 closed

[2021-03-02 02:43] mattkime commented on #80316
@hendry-lim Can you provide a `har` file of the requests that occur when the error presents itself? Something is wrong with a search response thats attempting to return a list of indices.

[2021-03-02 02:57] hendry-lim commented on #80316
Yup, sure, here you go

HAR file (renamed to .txt):
[localhost_Archive [21-03-02 10-55-14].har.txt](https://github.com/elastic/kibana/files/6065908/localhost_Archive.21-03-02.10-55-14.har.txt)

Console export:
[console-export-2021-3-2_10-55-43.txt](https://github.com/elastic/kibana/files/6065905/console-export-2021-3-2_10-55-43.txt)

[2021-03-02 03:12] alexfrancoeur commented on #92262
Yeah that was the intent, but I had assumed this worked for other groupings as well. It doesn't seem to be the case.

![image](https://user-images.githubusercontent.com/25181823/109591211-25784e80-7adb-11eb-8250-98122cd583bf.png)

We can do one of three things. Close this one out because I made a terrible assumption. Make the change only for Analytics. Make this change more broadly for groupings,

[2021-03-02 03:35] #89996 closed

[2021-03-02 04:00] kibanamachine opened #93170 "Failing test: X-Pack Background Search UI (Enabled WIP Feature).x-pack/test/send_search_to_background_integration/tests/apps/lens/search_sessions·ts - lens search sessions lens search sessions doesn't shows search sessions indicator UI"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12276/)

[2021-03-02 04:00] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12276/)

[2021-03-02 04:11] yashgupta4992 commented on #62115
Hi @ThomThomson  , thanks much for your reply. I had already tried the workaround you are suggesting but it seems that he controls dose not tale the filters implemented at dashboard level.

[2021-03-02 04:24] kmartastic commented on #85718
@ThomThomson Did you ever determine the cause of the break?

[2021-03-02 04:39] #25827 closed

[2021-03-02 04:39] #28939 closed

[2021-03-02 04:39] #28953 closed

[2021-03-02 04:39] #28960 closed

[2021-03-02 04:39] #42025 closed

[2021-03-02 04:39] #59764 closed

[2021-03-02 04:54] kmartastic commented on #17258
@clintandrewhall @ThomThomson help me understand the _impact_ of this one?

[2021-03-02 04:58] clintandrewhall commented on #17258
@kmartastic We need to confirm it's still an issue, to understand the scope... this bug is a few levels above a bunch of older PRs and issues.

[2021-03-02 05:07] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12277/)

[2021-03-02 05:10] #68271 closed

[2021-03-02 05:12] insanity13 opened #93174 "Vertical time line on all charts"
**Components**
- Elastic (Cloud) v 7.11.1
- Metricbeat MSSQL

**Describe the feature:**
Checking "[Metricbeat MSSQL] Performance ECS" dasboard
I want to compare data by time with all charts: need to look at the timeline of each chart.

It'll be great to have a vertical line under the cursor (and moving with the cursor),  and the same vertical line on each chart
Example
![image](https://user-images

[2021-03-02 05:13] #43668 closed

[2021-03-02 05:21] #25070 closed

[2021-03-02 05:30] tsullivan commented on #73242
Puppeteer has a `page.emulateTimezone()` function, which should help to solve this bug: https://pptr.dev/#?product=Puppeteer&version=v5.5.0&show=api-pageemulatetimezonetimezoneid

[2021-03-02 07:31] #92938 closed

[2021-03-02 07:31] #93005 closed

[2021-03-02 08:04] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12280/)

[2021-03-02 08:19] darnautov commented on #93009
@pmuellr it might work, but it would require the user to explicitly configure an action for this alert status, wouldn't it? Is it going to be another built-in action group then, i.e. `Recovered` and `No data`?

[2021-03-02 08:42] majagrubic opened #93180 "[Discover][DataGrid] DataGrid doesn't respect change in `fieldsFromSource`"
**Kibana version:**
7.12, testing on cloud staging

**Steps to reproduce:**
1. Make sure DataGrid is enabled in Advanced settings (`doc_table:legacy` is off)
2. Go to Discover, select an index pattern; make sure `Document` column is displayed
3. Go to Advanced settings, change `fieldsFromSource` switch to ON
4. Go to Discover
5. Document column is still shown

The same behavior is displayed in sea

[2021-03-02 08:42] elasticmachine commented on #93180
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-03-02 08:46] flash1293 commented on #93180
@majagrubic In data grid the _source column is also called "Document". When I raised this offline last week, @timroes mentioned this was done on purpose.

[2021-03-02 08:54] kertal commented on #93180
@majagrubic @flash1293 agreed, we renamed this column here to `Document` , which can be powered by `fields` or `_source`

[2021-03-02 09:05] flash1293 commented on #46410
I can see references to kui in:
* discover
* home
* kibana_legacy (used by timelion and discover)
* maps_legacy
* graph (heavy usage)
* ml

I'm not planning to work on this right now, so I'm going to remove my assignment.

[2021-03-02 09:10] kertal commented on #92618
I would prefer a temporary thing, should get out of the way

We don't have a good way to emulate a user setting currently, it would be quick way to undo the advanced setting switch.

[2021-03-02 09:14] kertal commented on #46410
Removing it in Discover is on our todo list:
https://github.com/elastic/kibana/issues/92573

[2021-03-02 09:23] afharo opened #93183 "[Telemetry] Remove uses of `any` in the Telemetry & Usage Collection plugins and libraries"
Let's remove (or minimize as much as possible) the use of `any` from all the code related to Telemetry and Usage Collection plugins:

- [x] packages/kbn-analytics/** (#98338)
- [x] src/plugins/kibana_usage_collection/** (#98338)
- [x] src/plugins/usage_collection/** (#98338)
- [x] src/plugins/telemetry/** (#98338)
- [x] src/plugins/telemetry_collection_manager/** (#98338)
- [x] src/plugins/telemet

[2021-03-02 09:23] elasticmachine commented on #93183
Pinging @elastic/kibana-core (Team:Core)

[2021-03-02 09:28] afharo opened #93184 "[Telemetry] Enforce use of `import type` and `export type`"
Let's use `import/export type` where it applies. This is recommended for better bundle size, but also for not publicly exposing classes we don't want external services to use (but we still want to share their types).

- [ ] packages/kbn-analytics/**
- [ ] packages/kbn-telemetry-tools/**
- [ ] src/plugins/kibana_usage_collection/**
- [ ] src/plugins/usage_collection/**
- [ ] src/plugins/telemetry/*

[2021-03-02 09:28] elasticmachine commented on #93184
Pinging @elastic/kibana-core (Team:Core)

[2021-03-02 09:33] afharo opened #93185 "Remove `telemetry_collection_manager` in favour of a better X-Pack extension API in the `telemetry` plugin"
The reason for `telemetry_collection_manager` was to provide a set of APIs to add priority-based collection. This helped us to attempt `monitoring` collection before rolling back to the `local` (X-Pack or OSS) methods.

Now, `monitoring` collection doesn't count as a strategy on its own, and X-Pack simply replaces OSS when available. This can be handled in a better way directly in the `telemetry`

[2021-03-02 09:33] elasticmachine commented on #93185
Pinging @elastic/kibana-core (Team:Core)

[2021-03-02 09:34] timroes commented on #92618
I have a bit different opinion on temporary vs permanent. In my opinion we should make it a permanently visible setting and only hint to the existing of the setting (e.g. via a EuiTour) temporarily on the first time. The reason for that is, that I think we want to have users at least trying out the new design before falling back. Users using Kibana a lot will know that a toast vanishes, and might

[2021-03-02 09:44] restrry commented on #87929
@ThomThomson It requires a secure connection over HTTPS.

[2021-03-02 09:50] afgomez commented on #92382
This is correct.

For the rest of the issues, I'm busy with Fleet stuff today but I'll try to look into it

[2021-03-02 09:57] kibanamachine opened #93188 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/feature_importance·ts - machine learning data frame analytics total feature importance panel and decision path popover binary classification job should display the feature importance decision path in the data grid"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12282/)

[2021-03-02 09:58] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12282/)

[2021-03-02 09:58] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12282/)

[2021-03-02 10:08] #78865 closed

[2021-03-02 10:17] majagrubic commented on #93180
IMHO confusing, but closing this as obviously not an issue.

[2021-03-02 10:17] #93180 closed

[2021-03-02 10:25] #89708 closed

[2021-03-02 10:35] ednon-labs opened #93371 "Disk Metric in Observability"
Hi, everyone

I have been working with the new version of **Elastic Stack (7.11.1)** for several days. I would like to know if **Elastic team will add Disk metricset in Observability** in future versions.

Here you are my **metricbeat config**:

    metricbeat.modules:
    - module: system
      metricsets:
        - cpu             # CPU usage
        - load            # CPU load averages

[2021-03-02 10:37] estermv opened #93191 "[Metrics UI] Waffle map not updated after editing a custom metric"
**Summary:**
In the inventory view, when selecting something in the Metric dropdown (either a default metric or a custom one) the waffle map gets refreshed. When we are editing a custom metric (changing the metric or the label), this doesn't happen: the selected option in the dropdown has the old label and the waffle map is not updated.

**Steps to reproduce:**
1. Go to the Inventory view
2. On th

[2021-03-02 10:37] elasticmachine commented on #93191
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-03-02 10:45] sebelga commented on #91189
@cjcenizal of course, we'll do a full UX test on Cloud. Do we have a way to test it before merging to master?

[2021-03-02 10:47] lizozom commented on #89878
@Betaminos

Could you please check if the filter is being sent to Elasticsearch after you change it?
You can do that by opening the network panel in Chrome debugger and opening the `bsearch` request and looking for the request payload. I would appreciate if you paste what you see in a comment.

If it **is** being sent, are you trying to filter a field that's an array? i.e. can a single document co

[2021-03-02 10:53] #88816 closed

[2021-03-02 10:55] MadameSheema commented on #92800
Thanks @michaelolo24 !

@XavierM @michaelolo24 if we are not going to fix this issue please close the ticket. If we are going to do some work to  improve the UX formatting the text, please change the type from bug to enhancement.

[2021-03-02 10:56] estermv commented on #92431
Exactly, in the tooltip it was updated. After changing it, the "button" dropdown is not updated (not really sure how to call it, after reading my message I see it is confusing). This is what happens to me when editing
<img width="200" alt="Screenshot 2021-03-02 at 11 49 51" src="https://user-images.githubusercontent.com/2249229/109637852-9eb08980-7b4d-11eb-8feb-ecd380a786aa.png">

Anyway, I'll clo

[2021-03-02 10:56] #92431 closed

[2021-03-02 10:56] karanbirsingh-qasource commented on #92800
Thanks @michaelolo24 for looking into the issue and providing the documentation for the Expected functionality.

We will document the same in the related test-Case.

[2021-03-02 10:57] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12283/)

[2021-03-02 10:57] kibanamachine commented on #93152
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/12283/)

[2021-03-02 10:58] karanbirsingh-qasource commented on #92607
sure @MadameSheema we will keep track of BC3 Availability and regress the same .

[2021-03-02 11:03] ppisljar commented on #59960
This continues to be pushed back due to other things getting a higher priority. Work on kibana_context function is planned again for 7.13 hopefully it does happen this time.

[2021-03-02 11:03] karanbirsingh-qasource commented on #92355
Thanks @XavierM for into it and providing  the update . @MadameSheema can you please help re-directing this issue to the Alerting team for the correct point of contact and feedback on the same.

thanks !!

[2021-03-02 11:05] streamich commented on #93109
I've set up the Metricbeat as described above and indeed the payload size for `/bsearch` requests is around __1.4Mb__.

[2021-03-02 11:09] streamich commented on #93109
When looking at the request payload more closely, I see the main problem is actually with the size of Metricbeat requests, there are only __2__ Metricbeat requests in the batch I am looking at, which means each request is about 0.7Mb, which is already at the limit of the default 1Mb default Kibana body payload size.

![image](https://user-images.githubusercontent.com/9773803/109639959-26979300-7b5

[2021-03-02 11:10] MadameSheema commented on #92799
Thanks @dplumlee @peluja1012 :)

Closing this ticket as the described behaviour is the expected.

[2021-03-02 11:10] #92799 closed

[2021-03-02 11:11] simitt commented on #88659
@sqren and @formgeist - the _Add data_ link today takes you to the _APM Server_ and _APM Agent_ overview. The Fleet Integration only manages the APM Server so far. How about, instead of replacing the _Add data_ link, keep this as is, but link to Fleet from the _APM Server_ section?

I just saw that the _Add data_ section already mentions Fleet (see screenshot below).
<img width="1372" alt="Screens

[2021-03-02 11:13] andresrc commented on #93051
/cc @ruflin

[2021-03-02 11:13] elasticmachine commented on #93051
Pinging @elastic/fleet (Team:Fleet)

[2021-03-02 11:16] dgieselaar opened #93194 "[APM] Investigate possibility of requiring same minor for Kibana/APM Server"
We should consider requiring Kibana and APM Server to have the same minor. Currently we require same major only: https://www.elastic.co/support/matrix#matrix_compatibility.

Requiring same minor would mean that we have less scenarios to consider during testing.

One issue is that with Fleet, Kibana gets upgraded before the user can upgrade the APM integration (and thus APM Server). The Security te

[2021-03-02 11:16] elasticmachine commented on #93194
Pinging @elastic/apm-ui (Team:apm)

[2021-03-02 11:16] streamich commented on #93109
When looking in more detail inside those two requests, there is nothing special about them except the `fields` field:

![image](https://user-images.githubusercontent.com/9773803/109640465-ce14c580-7b50-11eb-9dcb-ea09eb86f5dd.png)

Each Metricbeat request sends a large list of field formatting information which looks like this:

![image](https://user-images.githubusercontent.com/9773803/109640597-f