[2021-08-11 21:28] ThomThomson commented on #101190
Closed by https://github.com/elastic/kibana/pull/106877

[2021-08-11 21:28] ThomThomson commented on #101190
Closed by https://github.com/elastic/kibana/pull/106877

[2021-08-11 21:28] #101190 closed

[2021-08-11 21:33] ryankeairns commented on #107873
+1 to the sorting and expandable rows.

[2021-08-11 21:34] peluja1012 commented on #106616
Hi @jloleysens, the permissions listed in the [docs](https://www.elastic.co/guide/en/security/7.14/detections-permissions-section.html#enable-detections-ui) should be the correct ones for Detections to function. Could you please describe what unexpected behavior you're seeing when using the documented permissions?

[2021-08-11 21:34] elasticmachine commented on #106616
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-11 21:38] rylnd opened #108287 "[Security Solution][CTI] Threat Indicator Match event renderer fails on unmapped CTI fields"
### Summary
If a detections user has alerts with `threat.indicator` fields, but the index does not have the appropriate nested mappings for those fields, the Threat Indicator Match event renderer will fail to parse the data and instead throw an error:
<kbd><img width="1320" alt="Cursor_and_08bbe070-fae4-11eb-b4c0-dfa9f18759ec_-_Kibana" src="https://user-images.githubusercontent.com/657252/12910559

[2021-08-11 21:38] elasticmachine commented on #108287
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-11 21:45] ThomThomson opened #108288 "[Controls] Options List Embeddable & Factory"
The initial options list component should be re-architected into an Embeddable with a public API represented as the input.

An embeddable factory will also have to be built.

[2021-08-11 21:46] elasticmachine commented on #108288
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-11 21:46] peluja1012 commented on #108071
Here's a related bug that can be closed when we add the "empty" state https://github.com/elastic/kibana/issues/108168

[2021-08-11 21:47] elasticmachine commented on #108166
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 21:47] elasticmachine commented on #108165
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 21:48] ThomThomson commented on #108288
Closed as this issue is created for catch-up on the meta issue, and the PR that fixes it is already merged: https://github.com/elastic/kibana/pull/106877

A little backwards, but at least it's tracked!

[2021-08-11 21:48] #108288 closed

[2021-08-11 21:49] elasticmachine commented on #108163
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-11 21:50] elasticmachine commented on #108156
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 21:55] elasticmachine commented on #106396
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-11 21:56] elasticmachine commented on #103419
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-11 21:57] cjcenizal opened #108289 "Support pipeline _meta field in ingest node pipelines"
In https://github.com/elastic/elasticsearch/pull/75905, support was added to ES for the `_meta` field to support custom metadata for a pipeline. We'll need to surface this in the UI. Because this can be arbitrary JSON, we can support this with a JSON editor.

[code]

[2021-08-11 21:58] elasticmachine commented on #101990
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-11 21:59] elasticmachine commented on #101870
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 22:00] elasticmachine commented on #101560
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-11 22:03] elasticmachine commented on #99238
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 22:05] elasticmachine commented on #98689
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 22:07] elasticmachine commented on #94967
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 22:09] elasticmachine commented on #91803
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-11 22:09] ThomThomson opened #108292 "[Controls] Create Edit Mode Experience for Options List Control"
### Options
The Options List Input Control needs to have an editing experience that allows a user to specify the following items
- **multiselect vs single select** this should be a slider
- **Index Pattern** all index patterns should be available
- **Field** a field list will be captured from the index pattern only in edit mode, only when the editor is opened.
- **Default selections** all availabl

[2021-08-11 22:09] sqren commented on #108171
No, I only saw your message with the tooltip after merging the PR. Yes, please open an issue!

[2021-08-11 22:10] elasticmachine commented on #84616
Pinging @elastic/integrations (Team:Beats)

[2021-08-11 22:14] cchaos opened #108294 "[Analytics] Enhance the No Data experience with the new NoDataPage"
`/app/management/kibana/indexPatterns`

| Application | No data experience |
|---|---|
| Overview | Single CTA to add data => Index pattern page |
| Discover | Redirect to index pattern page |
| Dashboard | Single CTA to create dashboard => Index pattern page |
| Canvas | Single CTA to create Canvas => Blank Canvas |
| Maps | Blank Map |
| Machine Learning | Data Visualizer with multiple CTA's for

[2021-08-11 22:15] lcawl opened #108295 "[ML] Failure to create job rule when filter list does not exist"
**Kibana version:**

8.0.0

**Elasticsearch version:**

8.0.0

**Original install method (e.g. download page, yum, from source, etc.):**

ML QA scripts

**Describe the bug:**

Trying to create a custom/job rule in Kibana fails (blank screen) if you try to set the scope and there are no filter lists already in existence.

**Steps to reproduce:**
1.  Add sample data set (e.g. eCommerce data).

2. Go

[2021-08-11 22:15] spong commented on #108163
Note, this is as expected since it is using the `FormattedDate` component for generic viewing of a specific field (which includes tooltip), and in this instance the field name is `updatedAt`.

https://github.com/elastic/kibana/blob/6b29ca1ce8b1de4d8a8433391b0bb778434dae8b/x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/index.tsx#L316-L319

That said, since t

[2021-08-11 22:15] elasticmachine commented on #108295
Pinging @elastic/ml-ui (:ml)

[2021-08-11 22:22] peluja1012 commented on #106233
@mandeepkaur-qasource Could you please validate this in the first BC for 7.15? We merged this PR to fix it https://github.com/elastic/kibana/pull/107230

[2021-08-11 22:25] ThomThomson opened #108296 "[Controls] Create Embeddable & Factory for Controls Group"
## Control Group Embeddable Container

The Controls group component should be rearchitected into an embeddable container which can handle creating, removing, and sorting its embeddable children.

[2021-08-11 22:25] elasticmachine commented on #108296
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-11 22:28] lukeelmers commented on #59588
SGTM. As long as the json is read-only, I think we'll be good here. I don't feel particularly strongly about having a CTA, and it would be easy to add later if we changed our minds.

[2021-08-11 22:49] sqren commented on #88822
Replaced by https://github.com/elastic/kibana/issues/106440

[2021-08-11 22:49] #88822 closed

[2021-08-11 22:51] sqren commented on #91409
@simitt Is this strictly needed for 7.15 or can this be moved to 7.16?

[2021-08-11 22:55] cjcenizal opened #108302 "Runtime field preview information hierarchy issues"
CC @dborodyansky @sebelga

While testing the preview feature, I noticed a few information hierarchy issues:

* I think listing the name of the index pattern is redundant, since this information is already surfaced at the top of the index pattern field editor.
* I think we should elevate and label the preview value. As it is, there's no label so the user is left to hunt for this value in the previe

[2021-08-11 22:55] elasticmachine commented on #108302
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-11 22:57] cjcenizal opened #108303 "Runtime field preview forgets "Show more" button state when the script is edited"
If you click the "Show more" button, then the list of fields expands and the button changes to say "Show less". If you then start editing the script, the preview reverts these UI elements to their original states. Instead, these states should be preserved until the user clicks the "Show less" button.

![preview_show_more](https://user-images.githubusercontent.com/1238659/129114097-97256304-1d1c-43

[2021-08-11 22:57] elasticmachine commented on #108303
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-11 23:01] LeeDr opened #108304 "Cross Cluster Search from 7.x to 6.8 can't create index pattern"
**Kibana version:** 7.15.0 (7.x)

**Elasticsearch version:** 7.15.0 (7.x)

**Server OS version:** Ubuntu 16.04

**Browser version:** Chrome

**Browser OS version:** Ubuntu 21.04

**Original install method (e.g. download page, yum, from source, etc.):** tar.gz archives

**Describe the bug:** We had partial support for this range of mixed version cross cluster search up until at least 2021-07-28 but

[2021-08-11 23:01] elasticmachine commented on #108304
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-11 23:05] cjcenizal opened #108305 "Runtime field editor preview empty state hides helpful information"
CC @dborodyansky @sebelga

When the user first starts writing a runtime field script, the input is empty. This is the time when the user needs the most help -- what does this thing do? How do I get started? The preview contains some helpful information:
* It shows you the list of existing fields and their values, so you can prefer to them when thinking of how to construct your runtime field
* It s

[2021-08-11 23:05] elasticmachine commented on #108305
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-11 23:09] elasticmachine commented on #108304
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-11 23:31] kibanamachine opened #108308 "Failing test: X-Pack Example plugin functional tests.x-pack/test/examples/search_examples/search_session_example·ts - search examples Search session example "before all" hook for "should start search, save session, restore session using "restore" button""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16058/)

[2021-08-11 23:31] kibanamachine commented on #108308
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16058/)

[2021-08-11 23:47] jportner commented on #54755
Related: #42853 (also deals with roles that need to be changed)

[2021-08-11 23:48] jportner commented on #42853
Related: #54755 (also deals with roles that need to be changed)

[2021-08-12 00:09] spalger commented on #108308
Happened twice in https://github.com/elastic/kibana/pull/106137 weeks ago, but hasn't happened since. I can't imagine this being related to reporting but pinging @tsullivan just in case he can think of some reason these failures might be related...

[2021-08-12 00:09] elasticmachine commented on #108308
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-12 00:23] kibanamachine commented on #107911
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16205/)

[2021-08-12 00:27] kibanamachine opened #108311 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/authentications·ts - apis SecuritySolution Endpoints authentications Make sure that we get Authentication data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16059/)

[2021-08-12 00:33] jasonrhodes commented on #107629
Thanks for calling that out, @afgomez -- I think this would be @michaelolo24 / @XavierM and @elastic/security-threat-hunting

I'm fine if we punt on that change for right now and focus on getting the button group working.

[2021-08-12 00:35] jasonrhodes commented on #107629
Oh I see you've separated them in your PR, perfect. Thanks!

[2021-08-12 00:38] spalger commented on #107911
56 failures across PRs and master, skipping

![image](https://user-images.githubusercontent.com/1329312/129120891-3e98fb7e-44ae-48f3-abf0-ca3be04c9811.png)

8.0/master: https://github.com/elastic/kibana/commit/31b8a8229ca8110ba8a464a714588ec4532fbaca
7.x/7.15: https://github.com/elastic/kibana/commit/617775d343b9ae3f5c312559ded82517ba098805

[2021-08-12 00:40] spalger commented on #108311
First ever failure, monitoring for now

[2021-08-12 00:41] elasticmachine commented on #108311
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-12 01:16] elasticmachine commented on #86244
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-12 01:32] jasonrhodes opened #108312 "[Observability] Require all observability plugins to register a 'isSetup' flag in addition to 'hasData'"
Currently when observability apps register their data handlers with the observability plugin, they have to provide a "hasData" function:

https://github.com/elastic/kibana/blob/67c7b6aba13e2bc1ece650bef06d918ddd4bf8d3/x-pack/plugins/observability/public/data_handler.ts#L12-L18

This function returns whether the app has data in the currently selected time window, i.e. whether _documents_ exist for

[2021-08-12 02:56] tsullivan opened #108315 "[Reporting] Find and fx deprecation warnings"
**Kibana version:** 7.15+

There is probably a better way to find these types of warnings. I usually only see them in an IDE when I have feedback turned up really high, and add these comments as I see them:

[code]

Side note: There should be an automated way to find these types of warnings when running the `type_check` script.

[2021-08-12 02:57] elasticmachine commented on #108315
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-12 02:57] elasticmachine commented on #108315
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-12 03:13] kibanamachine commented on #106053
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16062/)

[2021-08-12 04:45] #86365 closed

[2021-08-12 05:56] karanbirsingh-qasource commented on #98466
Hi @MadameSheema

we have validated this issue on 7.15.0-SNAPSHOT and found it still occuring , we be keeping tracking of this https://github.com/elastic/security-team/issues/772 once this get merged.

thanks !!

[2021-08-12 06:15] karanbirsingh-qasource commented on #87022
Hi @stephmilovic thanks for working on it .

We have validated this issue on `7.15.0-SNAPSHOT` and found that windows machine with `1366 X 768` Resolution it is still occuring 🔴 . however for `1920 x 1080` resolution it is Fixed 🟢

**Please let us known if we can move and close this issue as in general high resolution machine is being used by analyst.**

find below detailed observation:

**Build D

[2021-08-12 06:20] karanbirsingh-qasource commented on #99324
Hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found that issue is still occuring , No remark of timeline no longer existing on clicking the timeline attached to case on UI as well in  GET Hit Response Network Logs.

**Build Details:**
[code]

thanks !!

[2021-08-12 06:34] karanbirsingh-qasource commented on #102320
Hi @MadameSheema

we have validated this issue on 7.15.0-SNAPSHOT and found **it is still occuring** . Timeline result got zero on adding the process.args in timeline drop bar.

**Note:** This issue is only for the process.name: "notepad.exe" in timeline search bar.

Build Details:
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/129148935-85706155-5d0e-4faa-89cb

[2021-08-12 06:39] formgeist commented on #107682
@mukeshelastic That's right - at this time we would want to link to the apm agents add data tutorial because that's the most sufficient way of onboarding APM users within Kibana.

For the copy, we'd need to deviate from the others a bit as we're directing the users to APM agents. Just a proposal, here's some changes for the title and button copy in the empty state.

![129027564-a8717032-a049-4cc5-

[2021-08-12 06:49] formgeist opened #108325 "[APM] Update the style of the service/backend info icons in the selected service/backend header."
# Summary

We want to update the style of the service and backend info icons in the service/backend header to ensure that they are presenting themselves as clickable.

# Solution

- Envelop the service icons in a `EuiCard` to gain the hover and click effect.

We might have to investigate whether or not `EuiCard` support an icon-only version. If not, we'll open a EUI issue to discuss making this av

[2021-08-12 06:49] elasticmachine commented on #108325
Pinging @elastic/apm-ui (Team:apm)

[2021-08-12 06:50] formgeist commented on #94409
I've extracted the updated service info icon style to https://github.com/elastic/kibana/issues/108325 since this is not dependent of this filter implementation.

[2021-08-12 06:58] arvindersingh-qasource commented on #101158
Hi @MadameSheema ,

We have validated this ticket on ``` v7.15.0-SNAPSHOT ``` build and found that issue is still occurring.
### Build Details:
[code]
### Please find the Below Observations:
![2](https://user-images.githubusercontent.com/78947943/129148144-5e40643a-6951-436b-8667-17d55387eb20.png)

Thanks.

[2021-08-12 06:59] arvindersingh-qasource commented on #101560
Hi @MadameSheema ,

We have validated this ticket on ```v7.15.0-SNAPSHOT``` build and found that issue is still occurring.
### Build Details:
[code]
### Please find the Below Observations:

![1](https://user-images.githubusercontent.com/78947943/129146577-e2c86185-b4d6-47d3-a061-e129314f2234.PNG)

Thanks.

[2021-08-12 06:59] arvindersingh-qasource commented on #103441
Hi @MadameSheema ,

We have validated this ticket on ``` v7.15.0-SNAPSHOT ``` build and found that issue is still occurring.
### Build Details:
[code]
### Please find the Below Observations:

https://user-images.githubusercontent.com/78947943/129148990-d90eb0d5-5311-4217-8c57-8a74f46972a9.mp4

Thanks.

[2021-08-12 07:00] karanbirsingh-qasource commented on #102628
Hi @MadameSheema

we have validated this issue on 7.15.0-SNAPSHOT and found that issue is still occuring . Date got changed on changing the timestamp to last 1 year.

**Build Details:**
[code]
**Snap-Shoot:**
- last 1 day ( **_correct date is showing_** ) 🟢

![image](https://user-images.githubusercontent.com/59917825/129151994-ac6a8ea9-24d5-494c-bd80-eb8825d8713d.png)

- last 1 year ( **_Incorrect

[2021-08-12 07:01] arvindersingh-qasource commented on #104391
Hi @XavierM

We have validated this ticket on ```v7.15.0-SNAPSHOT``` build and found that issue is still occurring.
### Build Details:
[code]
### Please find the Below Observations:
![3](https://user-images.githubusercontent.com/78947943/129150503-fcafe8b0-07ad-4bc9-a723-9b67f2a91543.png)

Thanks.

[2021-08-12 07:01] arvindersingh-qasource commented on #105744
Hi @MadameSheema ,

We have validated this ticket on ```v7.15.0-SNAPSHOT``` build and found that issue is still occurring.
### Build Details:
[code]
### Please find the Below Observations:

https://user-images.githubusercontent.com/78947943/129150867-3b253558-8e00-4350-bdb9-91714de8e3e4.mp4

Thanks.

[2021-08-12 07:03] karanbirsingh-qasource commented on #103873
Hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring .

**Build Details:**
[code]

[2021-08-12 07:05] karanbirsingh-qasource commented on #104078
Hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring.

**Build Details:**
[code]

[2021-08-12 07:08] karanbirsingh-qasource commented on #104437
Hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring.

**Build Details:**
Version:7.15.0-SNAPSHOT
commit:00fcc2cd00d309f4c17db4ec7d552bc54fbd1b81
Build:43271

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/129153041-4a2ee8bc-ef2b-48a5-ac2e-bfe0c7ba9638.png)

[2021-08-12 07:13] karanbirsingh-qasource commented on #105388
Hi @MadameSheema

We have validated this issue on `7.15.0-SNAPSHOT `and found it still occuring.

**Build Details:**
[code]

**Snap-Shoot:**
- on bulk events on trying to click the copy icon it get collapsed to another event
![image](https://user-images.githubusercontent.com/59917825/129153805-73453a3a-092c-4f2b-a5a8-8c6e12b28aee.png)

[2021-08-12 07:16] karanbirsingh-qasource commented on #106212
Hi @MadameSheema

We have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring.

**Build Details:**
[code]

[2021-08-12 07:18] karanbirsingh-qasource commented on #106380
Hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring.

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/129154459-831355fa-629e-4e4d-974b-e1927d6cc84e.png)

[2021-08-12 07:23] kibanamachine commented on #105171
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16212/)

[2021-08-12 07:23] amolnater-qasource opened #108327 "[Fleet]: event.datasets field is blank with logs under Logs tab."
**Kibana version:** 7.15.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana cloud environment should be available.
2. An agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents>Logs tab.
3. Observe blank e

[2021-08-12 07:23] elasticmachine commented on #108327
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 07:24] amolnater-qasource commented on #108327
@manishgupta-qasource Please review.

[2021-08-12 07:33] mshustov commented on #101944
We can work it around by allowing plugins to create a custom client with `disablePrototypePoisoningProtection: true`. However, plugins deal with user-supplied data not only via `data` plugin but via the ES client as well.

[2021-08-12 07:38] deepikakeshav-qasource commented on #84616
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still occurring**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129157080-69589d44-0c43-43ad-9635-c2d9981e0a28.png)

Thanks.

[2021-08-12 07:40] formgeist opened #108328 "[APM] Update throughput chart tooltip content"
# Summary

Update the tooltip content for the Throughput chart.

<img width="547" alt="CleanShot 2021-08-11 at 12 35 29@2x" src="https://user-images.githubusercontent.com/4104278/129015006-7ef74bd1-1ab8-44b4-b9b0-5c65f30db41f.png">

`Throughput is measured in transactions per second (tps)`

<img width="461" alt="CleanShot 2021-08-11 at 12 35 50@2x" src="https://user-images.githubusercontent.com/41

[2021-08-12 07:40] elasticmachine commented on #108328
Pinging @elastic/apm-ui (Team:apm)

[2021-08-12 07:40] formgeist commented on #108171
@sqren OK, I've opened https://github.com/elastic/kibana/issues/108328

[2021-08-12 07:43] amolnater-qasource opened #108329 "[Fleet]: Log level dropdown is blank under Logs tab."
**Kibana version:** 7.15.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 Snapshot Kibana cloud environment should be available.
2. An agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents>Logs tab.
3. Click Log level

[2021-08-12 07:43] elasticmachine commented on #108329
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 07:45] amolnater-qasource commented on #108329
@manishgupta-qasource Please review.

[2021-08-12 07:47] manishgupta-qasource commented on #108329
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-08-12 07:53] machadoum commented on #103441
Yes, we haven't fixed the issue yet. The team is entirely focused on the RAC project right now. We will work on this issue as soon as we have the bandwidth.

[2021-08-12 08:14] karanbirsingh-qasource commented on #108165
just to add the filter for and filter out is also not working in timeline result in addition on fly out
![image](https://user-images.githubusercontent.com/59917825/129162403-87506d45-ddc7-4b67-a046-83b57a5886df.png)

[2021-08-12 08:15] deepikakeshav-qasource commented on #87032
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Fixed**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129162474-5d7da1c2-190c-407f-a1a3-80871d7f46f9.png)

Hence, we are closing this ticket and marking as QA Validated

Thanks.

[2021-08-12 08:16] #87032 closed

[2021-08-12 08:17] karanbirsingh-qasource commented on #106819
hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring.

**Build Details:**
[code]

[2021-08-12 08:18] karanbirsingh-qasource commented on #107123
Hi @MadameSheema

we have validated this issue on `7.15.0-SNAPSHOT` and found it still occuring.

**Build Details:**
[code]

[2021-08-12 08:22] arvindersingh-qasource opened #108331 "[Security Solution] "Horizontal Scroll" bar for "Count" box on Alerts page is not fixed to Count Box Border."
**Describe the bug**
```Horizontal Scroll``` bar for ```Count``` box on Alerts page is not fixed to Count Box Border and moves up and down as the Rule Name list increases/decreases.

**Build Details**
[code]

***Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. 7.15.0 Snapshot Kibana cloud environment should be available.
2. Alerts must be present for different rules

[2021-08-12 08:22] elasticmachine commented on #108331
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-12 08:22] deepikakeshav-qasource commented on #88808
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Fixed**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129163476-c17efbf1-fd8b-470e-beb4-9c5cc300b6b4.png)

Hence, We are closing this ticket and marking QA Validated.

Thanks.

[2021-08-12 08:22] #88808 closed

[2021-08-12 08:23] arvindersingh-qasource commented on #108331
@manishgupta-qasource  Please review this bug

[2021-08-12 08:27] mshustov commented on #83910
I'm sure we are done with this task. I'm removing the client in https://github.com/elastic/kibana/issues/106885. Many thanks to everyone involved, that's been a long journey!

[2021-08-12 08:27] #83910 closed

[2021-08-12 08:38] deepikakeshav-qasource commented on #89863
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/129165975-85e3ee8b-a34e-4953-b778-41bd752d6267.mp4

Thanks.

[2021-08-12 08:41] formgeist opened #108332 "[APM] Correlations GA UX polish (meta)"
# Summary

This issue tracks the summarized list of UX improvements and changes before making the Latency Correlations feature GA within the Transaction group detail page.

# Tasks

### General

- [x] Rename "Latency correlations analysis" -> "Latency correlations" 5f8c045
- [x] Rename "Failed transaction rate" -> "Failed transactions correlations" 14c229d
- [x] Add beta badge to the "Failed trans

[2021-08-12 08:41] elasticmachine commented on #108332
Pinging @elastic/apm-ui (Team:apm)

[2021-08-12 08:44] samratbhadra-qasource opened #108333 "[Question] While we filter data streams for integration it shows as package in search bar."
**Observation:**

We have noticed that while testing in this build, it is referred as integration at some places and package at some other places too. So it shows inconsistent behavior in Kibana. As per our understanding it either should be referred as integration or packages at all places.
Could anyone please confirm, is this behavior expected.

**Build Details:**
Version: 7.15.0-SNAPSHOT
Commit:

[2021-08-12 08:44] elasticmachine commented on #108333
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 08:44] samratbhadra-qasource commented on #108333
@manishgupta-qasource please review.

[2021-08-12 08:45] elasticmachine commented on #108332
Pinging @elastic/ml-ui (:ml)

[2021-08-12 08:47] deepikakeshav-qasource commented on #90275
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/129167356-d7e122a9-491c-4643-aa30-e9616489e360.mp4

Thanks.

[2021-08-12 08:51] deepikakeshav-qasource commented on #90000
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129168031-d2a5b53b-72e1-47a9-a752-70d7a0a09748.png)

Thanks.

[2021-08-12 09:01] deepikakeshav-qasource commented on #90928
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/129169295-77402476-6fd9-4956-a829-befb9708af8c.mp4

Thanks.

[2021-08-12 09:08] deepikakeshav-qasource commented on #96289
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129170443-38a2e62b-e07f-440d-a0a7-8bb9cad6e22b.png)

Thanks.

[2021-08-12 09:12] deepikakeshav-qasource commented on #99760
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129171020-dbcb30dd-c953-46f0-87b5-8a12b34fa74b.png)

Thanks.

[2021-08-12 09:13] timroes opened #108334 "Reduce calling canFilter significantly"
We currently seem to call `canFilter` which itself calls [`createFilter`](https://github.com/elastic/kibana/blob/master/src/plugins/data/public/actions/filters/create_filters_from_value_click.ts#L74), which can be expensive depending on your data, waaaay too often:

**Intial render**
![screenshot-20210812-110910](https://user-images.githubusercontent.com/877229/129171066-40210834-ac7a-443b-9835-14

[2021-08-12 09:13] elasticmachine commented on #108334
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-12 09:13] sqren commented on #108332
Perhaps simply "Failed transaction correlation" is better?

[2021-08-12 09:17] sqren commented on #108332
Comment for @walterra: In APM duration units are dynamic, meaning it can be ms, seconds, minutes etc. depending on the size. I think elastic charts work the same way, so we might have to call a utility function in elastic charts that can return the unit used for the specific data (pseudo code):

[code]

[2021-08-12 09:18] ppisljar opened #108335 "use savedObjectsClient.resolve for retrieving index patterns"
index patterns service should use savedObjectsClinent.resolve instead `get` to retrieve the saved object.

It should handle an exactMatch and an alias as a hit and return the corresponding saved object, and a conflict as an error and will just throw.

[2021-08-12 09:18] elasticmachine commented on #108335
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-12 09:19] ppisljar opened #108336 "use savedObjectsClient.resolve inside saved queries service"
saved queries service should use savedObjectsClinent.resolve instead `get` to retrieve the saved object.

It should handle an exactMatch and an alias as a hit and return the corresponding saved object, and a conflict as an error and will just throw.

[2021-08-12 09:19] elasticmachine commented on #108336
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-12 09:21] muskangulati-qasource commented on #107002
Hi @dasansol92,

We have validated this ticket on the latest 7.15.0-SNAPSHOTbuild and found that the 'is in list' and 'is not in list' options are not showing as these are not supported for the event filter.

**Build Details**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/59917825/129003246-b56e8a6d-155c-491a-8835-fd81cae9b540.png)

Hence, we are closing this issue & ma

[2021-08-12 09:21] #107002 closed

[2021-08-12 09:22] ppisljar commented on #69390
we can make this internal to embeddable (so root applications don't need to pass this down), where embeddable would be using screenshotmode service internally

[2021-08-12 09:26] walterra commented on #108332
I remember a discussion that the analysis we do for the errors/failed transactions is technically speaking not a correlation analysis, do you have any input on the wording here @sophiec20 @benwtrent ?

[2021-08-12 09:30] manishgupta-qasource commented on #108331
Reviewed & assigned to @MadameSheema

[2021-08-12 09:31] formgeist commented on #108332
Right, it's not the rate 👍

[2021-08-12 09:36] manishgupta-qasource commented on #108333
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-08-12 09:42] #106038 closed

[2021-08-12 09:58] mgiota commented on #108119
I checked current implementation and filter actions are being applied to all columns (whole row), whereas we would like to apply them only to one column, the status column. If we apply them to all columns, then I guess the reason field would be problematic, since it is not analyzed.

@jasonrhodes who should I tag from security team to check if there is already a way to add filter actions per colum

[2021-08-12 10:01] liza-mae commented on #105353
Fixed by setting ```xpack.observability.unsafe.cases.enabled: true```

[2021-08-12 10:01] #105353 closed

[2021-08-12 10:04] rudolf commented on #104086
In case of an unexpected error, the migration will fail, but the server will restart and re-attempt the migration. This is much more time consuming and expensive, but it does mean transient failures will always be retried eventually.

I agree we should try to handle and retry identified causes of a migration failure without restarting the server. But I feel like retrying all unhandled edge cases i

[2021-08-12 10:11] afharo commented on #98851
I managed to replicate the issue in the [`eui` docs](https://eui.elastic.co/#/forms/selectable), so I created the issue https://github.com/elastic/eui/issues/5020 in that project to fix it upstream.

[2021-08-12 10:26] deepikakeshav-qasource opened #108345 "[Security Solution] Hover actions are no operatable on long name field values"
**Describe the bug**
Hover actions are no operatable on long name field values

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. Host with long name should be exist

**Steps to Reproduce**
1. Generate the alerts say: mimikatz.exe
2. Navigate to alerts page.
3. Click on vie details icon "<".
4. Observe th

[2021-08-12 10:26] elasticmachine commented on #108345
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-12 10:26] deepikakeshav-qasource commented on #108345
@manishgupta-qasource Please review!!

[2021-08-12 10:31] manishgupta-qasource commented on #108345
Reviewed & assigned to @MadameSheema

[2021-08-12 10:34] mshustov opened #108346 "Provide API to refresh token after authc lifecycle"
Security has to deal with a growing number of cases when authc credentials expired and request to Elasticsearch failed with 401 after `onAuth` hook. Since only Core has access to all the calls to the Elasticsearch service, it should provide an API for Security plugin that would allow it to handle this periodic authentication issue.

__Blocks:__ https://github.com/elastic/kibana/issues/104893 (see

[2021-08-12 10:35] elasticmachine commented on #108346
Pinging @elastic/kibana-core (Team:Core)

[2021-08-12 10:36] deepikakeshav-qasource commented on #89091
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129181596-ea9bd55c-c9ff-424f-9c38-4d19234fad74.png)

Thanks.

[2021-08-12 10:47] #107628 closed

[2021-08-12 10:48] deepikakeshav-qasource commented on #101870
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/129175509-ccf276df-4d57-42cb-b70d-b1a757589ddd.mp4

Thanks.

[2021-08-12 10:50] cachedout commented on #82020
Hi @kobelb (and the rest of the thread) 👋

It appears that #108111 went in which I suspect was related to the work outlined in #101964. As I [mention in the PR](https://github.com/elastic/kibana/pull/108111#issuecomment-897530104) this has broken the Observability Test Clusters which in turn as disrupted the development workflow for a number of folks on the Observability team.

As has been discuss

[2021-08-12 10:51] arvindersingh-qasource commented on #106213
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations
![1](https://user-images.githubusercontent.com/78947943/129166186-c8961fc6-8456-440b-9a1c-d85c8a85931f.PNG)

Thanks.

[2021-08-12 10:53] arvindersingh-qasource commented on #107277
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations

https://user-images.githubusercontent.com/78947943/129165523-c1712e3e-7dbd-4ed2-b321-a3b3cd13d9d7.mp4

Thanks.

[2021-08-12 10:53] arvindersingh-qasource commented on #84741
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations
![2](https://user-images.githubusercontent.com/78947943/129173278-112d15b4-0c26-4a17-b593-108ff1c8cd2c.png)

Thanks.

[2021-08-12 10:54] arvindersingh-qasource commented on #88449
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations
![4](https://user-images.githubusercontent.com/78947943/129174134-ec2be225-3ded-4d6c-bfa9-b77264b7a18e.png)

Thanks.

[2021-08-12 10:56] arvindersingh-qasource commented on #97953
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations
![6](https://user-images.githubusercontent.com/78947943/129178491-4821c79e-2707-4322-8727-6c7f6726c327.png)

Thanks

[2021-08-12 10:57] deepikakeshav-qasource commented on #101260
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129172090-61b6119b-9841-408b-b320-0aa8f9ed1c88.png)

Thanks.

[2021-08-12 11:05] #102984 closed

[2021-08-12 11:06] dikshachauhan-qasource opened #108350 "[Enhancement]: Tooltip names should be provided for integration name on Agent detail page."
*Kibana version:**  8.0 snapshot Kibana cloud-qa environment

**Browser version:** Chrome
**Host OS**: Windows 10.

**Preconditions:**
1. 8.0 snapshot Kibana cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Agent detail page.
	- Now go Integration section.
	- Observe, no tooltip is provided for integration name.

**Enh

[2021-08-12 11:07] elasticmachine commented on #108350
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 11:07] dikshachauhan-qasource commented on #108350
@manishgupta-qasource Please review

[2021-08-12 11:08] sophiec20 commented on #108332
We have three tabs and naming should work when seen together.

Currently:
`Trace samples | Latency correlation analysis | Failing transactions`

Tense for "failing" feels wrong as they have already failed.
Having "analysis" in one and not in the other seems odd. Suggest dropping.
Having "transactions" in one and not in the other seems odd too.

We have had discussions in the past about use of the

[2021-08-12 11:21] arvindersingh-qasource commented on #99597
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations
![1](https://user-images.githubusercontent.com/78947943/129188553-c2fc0606-d722-4844-a59c-1fcb70e70a4d.PNG)

Thanks.

[2021-08-12 11:22] kibanamachine opened #108352 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/drag_and_drop·ts - lens app lens drag and drop tests basic drag and drop should construct the basic split xy chart"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16215/)

[2021-08-12 11:26] buzzdeee commented on #101710
just hit a similar thing. Updated from 7.13.3 to 7.14.0, and wanted to look into fleet. I changed the fleet settings, and hit the save and apply button. Then I got the error:

package info for windows-0.1.4 does not exist

I ran above snipped in the dev tools, and retried.
It seems, at least the values I entered before, were taken.
I changed something in the ES YAML input field, and hit again the

[2021-08-12 11:33] dikshachauhan-qasource opened #108355 "[8.0-snapshot]: Alignment for version get broken under integration column of policy page when integration with big name is used."
**Kibana version:** 8.0.0 Snapshot Kibana cloud-qa environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. Default or newly created policy having integration with big name say endpoint security should exist.

**Build Details:**
Build: 45032
Commit: 9d42d670e1676a622d7ee7d4d564c4d7dc3973e8

**Steps to reproduce:*

[2021-08-12 11:34] elasticmachine commented on #108355
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 11:34] dikshachauhan-qasource commented on #108355
@manishgupta-qasource Please review

[2021-08-12 11:42] jasonrhodes commented on #104269
Replaced by tracking 7.15 overall here: https://github.com/elastic/kibana/issues/107933

[2021-08-12 11:42] #104269 closed

[2021-08-12 11:53] #102325 closed

[2021-08-12 11:54] manishgupta-qasource commented on #108350
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-12 11:55] manishgupta-qasource commented on #108355
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-08-12 12:02] mgiota opened #108360 "[Observability RAC] Basic functional tests for Observability alerts"

[2021-08-12 12:14] Theoooooo commented on #108212
Ok nethermind, the issue seems to have solved itself.

When you are uprgading your nodes, be sure that every master nodes has been upgraded to the same version before starting to use the _alias call.
When i finished upgrading all of my master nodes, the indice was created again and filled with the correct informations. I can now use my external web application to display my shards inside my cluste

[2021-08-12 12:14] #108212 closed

[2021-08-12 12:17] jportner commented on #107733
Another place where we use `CodeEditor` for editing JSON is in the Role Mappings page. I used XJSON highlighting for the initial implementation in #107459, but it would be great to use regular JSON highlighting instead.

[2021-08-12 12:30] muskangulati-qasource opened #108363 "[Security solution] 'Add Trusted Application' button blink when we search trusted application with non existing value."
**Description:**
'Add Trusted Application' button blink when we search trusted application with non existing value.

**Build Details:**

[code]

**Browser Details:**
All

**Preconditions:**

1. 8.0.0 alpha1 Kibana user should be logged in.
2. Trusted applications already added.

**Steps to Reproduce:**

1. Navigate to the Trusted application tab.
2. By default grid view selected and already added

[2021-08-12 12:30] elasticmachine commented on #108363
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-12 12:30] elasticmachine commented on #108363
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-12 12:30] sqren opened #108364 "[APM] Configuring data sources in APM"
To store data end users can either use **classic indices** (`apm-*`) or data streams (`traces-apm*`). The current UI can be used to configure both but it is made with classical indices in mind, making it less intuitive to use for data stream users

![image.png](https://zube.io/files/elastic/b0fa7550fa58e6474d662e9c8fcb9f65-image.png)

Data streams are currently hardcoded here:
https://github.com/e

[2021-08-12 12:30] elasticmachine commented on #108364
Pinging @elastic/apm-ui (Team:apm)

[2021-08-12 12:30] muskangulati-qasource commented on #108363
@manishgupta-qasource : Please review the Bug.

[2021-08-12 12:37] manishgupta-qasource commented on #108363
Reviewed & assigned to @kevinlog

[2021-08-12 12:40] dasansol92 commented on #108363
It seems a regression introduced on this https://github.com/elastic/kibana/pull/106710

[2021-08-12 13:06] jonathan-buttner commented on #97953
Thanks for the heads up @arvindersingh-qasource . I added this to our backlog so we can determine prioritization 👍 .

[2021-08-12 13:40] dasansol92 commented on #108363
PR: https://github.com/elastic/kibana/pull/108373

[2021-08-12 13:42] alisonelizabeth opened #108374 "Runtime field editor preview shows "Updating" state when error"
**Steps to reproduce:**
1. Open the runtime field editor and add a painless script to trigger the preview flyout.
2. Add an invalid document ID, e.g., `foobar`.
3. Remove the invalid ID. Note error still displays, and an "Updating" state remains at the top.

**Expected behavior:**
I would not expect the "Updating" state to persist if the field input is empty. Also, rather than the "Document not fo

[2021-08-12 13:56] elasticmachine commented on #108352
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-12 14:07] katrin-freihofner opened #108377 "[RAC] update "view in app" icon in alerts table"
https://github.com/elastic/observability-design/issues/81

We need to update the "View in app" icon to use the `eye` icon. Additionally, this should not open a new tab.

**Current version**
![Observability--with Alerts](https://user-images.githubusercontent.com/20965076/129083771-a7d1404f-747f-40bc-809e-5cc74c532885.png)

**New version**
![Observability--with Alerts-2](https://user-images.githubus

[2021-08-12 14:07] elasticmachine commented on #108377
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-12 14:15] katrin-freihofner opened #108379 "[Metrics and Logs UI] settings view: remove shadow from panels"
We should remove the shadows from all panels in the settings.

<img width="950" alt="CleanShot 2021-08-12 at 15 45 09@2x" src="https://user-images.githubusercontent.com/20965076/129212631-f54291a5-30fa-4a1a-8f8b-86efbc0168f5.png">

[2021-08-12 14:15] elasticmachine commented on #108379
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-12 14:21] spong commented on #90757
Please see https://github.com/elastic/kibana/issues/108283 for details, but `0.0.0.0` isn't an actual value in this instance (but rather the absence of a value/missing agg bucket), so this filtering behavior is as expected. Once a fix is merged for the former issue, we can validate that this issue is no longer present.

[2021-08-12 14:26] spong commented on #108331
Scrollbar styling also reported in https://github.com/elastic/kibana/issues/108283.

[2021-08-12 14:31] elasticmachine commented on #108208
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-12 14:32] elasticmachine commented on #108198
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-12 14:35] #33955 closed

[2021-08-12 14:46] elasticmachine commented on #108146
Pinging @elastic/ml-ui (:ml)

[2021-08-12 14:48] #108146 closed

[2021-08-12 14:50] elasticmachine commented on #108145
Pinging @elastic/ml-ui (:ml)

[2021-08-12 14:51] pheyos commented on #108145
The test log shows `proc [kibana]   log   [06:11:48.930] [info][status] Kibana is now unavailable (was available)` right before the failure, so it looks like an issue with the test environment and not with the app or the tests. Closing.

[2021-08-12 14:51] #108145 closed

[2021-08-12 14:54] kdbisen commented on #15628
I'm also facing the issue .. please  give some proper solution

[2021-08-12 15:10] academo commented on #107395
PR merged

[2021-08-12 15:13] brianseeders commented on #79728
@stacey-gammon Yep, that's my plan. It really shouldn't affect things on my end, those ones just won't work for now.

[2021-08-12 15:13] mattkime commented on #101944
correct

[2021-08-12 15:17] chrisronline commented on #90934
To clarify here, it sounds like the plan is to:

- Deprecate the ability to disable these plugins in 7.x
- Remove the `.enable` config for these plugins in 8.0

Are we still discussing this, or are we happy with the above approach?

[2021-08-12 15:21] mshustov opened #108387 "Support ES client version upgrade to v8.0"
You can find the full Elasticsearch client roadmap here https://github.com/elastic/clients-team/issues/401
There are a few things that may require additional work from the Core side:
- `Remove the body key from the request`. effort for Core: `Small`, providing the client gives a long migration period for the legacy style, otherwise it affects nearly all the usages in Kibana codebase.
- `The return

[2021-08-12 15:21] elasticmachine commented on #108387
Pinging @elastic/kibana-core (Team:Core)

[2021-08-12 15:25] constancecchen commented on #106038
This is great!! Thanks for the filters example @Kerry350!

[2021-08-12 15:28] thoma01 commented on #72637
Been doing some development with Kibana, and came across this UX issue as well (I am currently using an older version). I think this is something that would add a lot of value for the user experience.

In addition, if a visualization is based off of a saved search and not just an index-pattern, then the saved search should be loaded as well when "Exploring underlying data".

[2021-08-12 15:32] thomheymann commented on #97200
I'm on Big Sur (11.5) and can confirm that this issue still exists.

A similar issue has been reported here: https://discuss.elastic.co/t/embedded-iframe-kibana-login-loop-on-mobile-browsers/280859

If we can't find a fix for this we should probably add some kind of feature detection and show a more helpful error message so that users know what the cause of the issue is and how to work around it (

[2021-08-12 15:37] mshustov opened #108388 "Jest Integration test failures produce a cryptic error stack trace"
I'm working on removing the legacy `elasticsearch` client and likely some test `integration tests` failures have been caused by my changes, but the error stack trace doesn't help me to debug the problem:
[code]
see https://github.com/elastic/kibana/pull/107619 for details.

It looks like a problem with the building pipeline.  I didn't manage to find other failures on CI with the problem. See the l

[2021-08-12 15:37] elasticmachine commented on #108388
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-12 15:46] mikecote commented on #90934
I'm 👍 to say we're happy to remove the above approach. The reason we originally added support for `.enabled` was to comply with the standards of being able to disable any plugin in Kibana. Now that the narrative has changed, I'm thinking we follow along as there wasn't prior requirements for this.

Yup that's the correct plan 👍

[2021-08-12 15:53] #105712 closed

[2021-08-12 15:58] Kerry350 opened #108393 "[RAC] Turn off RAC features for those using multi tenancy"
## Summary

When a user has the `kibana.index` config value set a custom index is written to. We originally wanted to support multi tenancy for RAC via the `xpack.ruleRegistry.index` setting.

However, it has become hard to reason about this with three methods of accessing data (the rule data client, the alerts data client, and the timeline search strategy), and RBAC layered on top.

Various discu

[2021-08-12 16:02] timroes commented on #108208
Duplicate of https://github.com/elastic/kibana/issues/40183

[2021-08-12 16:02] #108208 closed

[2021-08-12 16:05] jportner commented on #97200
That's the rub, I'm not sure if/how we can add detection of this. AFAIK, there is no way for Kibana to reliably tell if it is running inside of an iFrame, or that an authentication failure is related to Safari's cross-site tracking measures.

[2021-08-12 16:07] chrisronline opened #108396 "[7.x] Deprecate ability to disable alerting, actions, task manager, stack alerts, and event log plugins"
Relates to https://github.com/elastic/kibana/issues/90934

This issue is for the work in 7.x to deprecate these settings.

[2021-08-12 16:07] elasticmachine commented on #108396
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-12 16:08] jonathan-buttner commented on #94088
Just wanted to add some testing direction for this issue for QA Source.

- Ensure that all the connectors available prior to 7.15 are still available for selection when configuring a connector through the Cases Configuration page (i.e. jira, service now, swimlane etc)
- Ensure that adding a connector to a Case works as it did in prior to 7.15
- Ensure that pushing a case to the external service co

[2021-08-12 16:16] #103645 closed

[2021-08-12 16:25] #107946 closed

[2021-08-12 16:25] #104093 closed

[2021-08-12 16:27] alex-fedotyev commented on #108332
I suggest we keep failed transactions and correlations, although it may looks somewhat complicated.
`Trace samples | Latency correlations | Failed transactions correlations`

My reasons:
- We are trying to get away from "errors" and "failures" in transaction view which were causing misunderstanding in the past.
- We will still have a chance to rename it again, when we make "failed transactions cor

[2021-08-12 16:33] elasticmachine commented on #108393
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-12 16:35] ThomThomson commented on #93266
This was fixed by https://github.com/elastic/kibana/pull/97941. State from the URL now overrides saved object state, and is loaded into the session storage so it persists over reloads.

[2021-08-12 16:35] #93266 closed

[2021-08-12 16:36] thomheymann commented on #97200
Not really feature detection per se, since Safari doesn't expose anything to detect whether Cross Site Tracking is enabled or not, but we should be able to detect if a cookie didn't get set by the browser even though we attempted to set one.

Or we could add some kind of circuit breaker for situations like this:

<img width="606" alt="Screenshot 2021-08-12 at 17 27 26" src="https://user-images.git

[2021-08-12 16:39] #107636 closed

[2021-08-12 16:40] jasonrhodes commented on #108393
Note: the way to access the `kibana.index` value is to look at `context.config.legacy.get().kibana.index` -- this is a legacy deprecated API that will likely go away in 8.0.0 but since multi-tenancy will also go away at that point, this is the perfect fit for our use case.

[2021-08-12 16:42] jasonrhodes commented on #108393
Suggestion for the unsafe flag:
`xpack.ruleRegistry.unsafe.multiTenancy.enabled: true` (defaults to `false`)

[2021-08-12 16:50] stacey-gammon commented on #103016
Thanks to everyone who helped make this list a little smaller so it wasn't as intimidating a task to finish up the rest!

Between this PR (https://github.com/elastic/kibana/pull/108407) and the one @crob611 is creating for presentation utils, we should have this covered, and then I will quickly follow up with https://github.com/elastic/kibana/pull/108231

[2021-08-12 16:52] andrewvc commented on #98481
Per a meeting on this date, we'd like to add a `severity` dropdown to the alert dialog letting the user pick the severity on a per-alert basis. This is important because severity is usually more about the site / check than anything else.

[2021-08-12 16:52] ymao1 commented on #107084
It would be nice to add a functional test that mimics the verification steps from [this PR](https://github.com/elastic/kibana/pull/108091). Perhaps use `esArchiver` to load pre-8.0 rules and navigate to the rule details page to test for the redirect and toaster popup.

[2021-08-12 17:01] #108035 closed

[2021-08-12 17:01] #108295 closed

[2021-08-12 17:02] #106563 closed

[2021-08-12 17:03] stiltz opened #108409 "Filter in/out not functioning within Timelines and Flyout"
**Kibana version:**
7.14.0

**Elasticsearch version:**
7.14.0

**Server OS version:**
GKE running ECK 1.7.0

**Browser version:**
 92.0.4515.131 (Official Build) (x86_64)

**Browser OS version:**
Mac OS 11.4

**Describe the bug:**
When investigating an alert in Timeline within the security app the filter in/out magnifying glass buttons are not actually performing an action. This also isn't working

[2021-08-12 17:10] elasticmachine commented on #108294
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-12 17:20] joshdover commented on #108294
@elastic/kibana-app-services I started looking at fixing this by updating the logic in https://github.com/elastic/kibana/blob/master/src/plugins/data/common/index_patterns/index_patterns/ensure_default_index_pattern.ts to match the changes I'm using in #108193, however there are many layers here that I could use some help with fixing.

First, the `ensureDefaultIndexPattern` function likely needs t

[2021-08-12 17:20] EricDavisX opened #108414 "[Agent] page to download Agent points to different (wrong?) corporate site (tho it works) so the page has less formatting / styling than desired"
Noted a few times and finally cited and discussed with some attention.  Copying most text from slack:

a PM Found a weird glitch with fleet - when you navigate in kibana to add an agent, the first step is, of course, Download the Elastic Agent to your host- however, now it points to the wrong place
https://www.elastic.co/downloads/past-releases/elastic-agent-7-14-0
![past](https://user-images.gith

[2021-08-12 17:20] elasticmachine commented on #108414
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 17:21] elasticmachine commented on #108409
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-12 17:24] elasticmachine commented on #103115
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-08-12 17:29] lucabelluccini commented on #107498
Possible workaround described at https://discuss.elastic.co/t/how-to-remove-dotted-border-from-visualizations-when-imported-to-canvas-workpads/276785/2

[2021-08-12 17:41] ymao1 commented on #107901
Closing as we have decided to no longer remove support for this in 8.0

[2021-08-12 17:41] #107901 closed

[2021-08-12 17:41] marianadinf commented on #42406
Hi - just checking if tihs is fixed?
like checking for a hostname that starts with for instance uk-myserverrole*-*

[2021-08-12 17:42] thomasneirynck opened #108416 "[Maps] Track proxied EMS requests"
**Describe the feature:**

Add flag to EMS-requests that originate from proxyElasticMapsService flag

**Describe a specific use case for the feature:**

Needed to track usage before deprecation https://github.com/elastic/kibana/pull/103740

[2021-08-12 17:42] elasticmachine commented on #108416
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-12 17:43] thomasneirynck commented on #108416
cc @nickpeihl @jsanz

[2021-08-12 17:43] mattkime commented on #108294
It should be noted that the new index pattern create flyout was recently merged. It includes no data and no existing index pattern flows. The intention is that any app that was redirecting to index pattern management could use the new flyout instead.

[2021-08-12 17:45] ymao1 opened #108417 "[Alerting] Add telemetry for usage of pre-defined ID in rule creation API in non-default spaces."
We currently allow users to pass in a pre-defined ID when creating rules via to the API. Due to breaking changes to make rule SOs share-capable (in which SO IDs will be regenerated), we would like to add telemetry to capture how often this feature is used.

[2021-08-12 17:45] elasticmachine commented on #108417
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-12 17:46] ymao1 commented on #107899
Description updated to reflect decision not to deprecate this feature, rather to log lots of warnings when it is used.

[2021-08-12 17:48] joshdover commented on #108294
Interesting, that may make the fix for 7.14.1 a bit different than 7.15.0 then.

Sounds like a nice way to avoid redirecting to a completely different UI, however I worry about including that change in this fix as it seems quite large?

[2021-08-12 17:49] #107457 closed

[2021-08-12 17:51] jen-huang commented on #108355
This is acceptable per design. Closing.

[2021-08-12 17:51] #108355 closed

[2021-08-12 17:57] gchaps commented on #107682
@mostlyjason will provide the copy for the description, but here are a few comments:

- "Set up" is two words for the button label (same as in the title):  Set up APM agents
- This line needs a comma before the word "or":
   Add your data to get started, or learn more about Observability.

[2021-08-12 17:59] mostlyjason commented on #100393
@aleksmaus I got pinged about this on slack. We provide a capability already to extend the integration page with additional tabs. Those tabs can contain settings that apply globally across all integration policies. Endpoint security is already using this for things like trusted apps. I believe the settings on these tabs can be bundled into the integration policies (though I am not familiar with th

[2021-08-12 18:13] elasticmachine commented on #15835
Pinging @elastic/kibana-security (Team:Security)

[2021-08-12 18:17] mdefazio opened #108432 "Alert Table loading state for change and switching pagination"
When switching the pagination count or changing pages, the loading indicator appears below the current list of rows.

![Screen Recording 2021-08-12 at 02 26 55 PM](https://user-images.githubusercontent.com/3756330/129249444-17deb7e5-dd94-4013-aaa8-3ad7cb68d732.gif)

**The expected behavior should be:**
When switching pages, height of the table remains the same, loading indicator overlays (or repla

[2021-08-12 18:19] ThomThomson opened #108433 "[Dashboard] Cannot Snapshot Share With Only Filters and Query"
Blocked by https://github.com/elastic/kibana/pull/105999

### The Problem
In 7.14, the full app state of dashboards was removed from the URL. This means that users can no longer copy and paste the URL from the browser's address bar and get the full state of the dashboard. In order to get any state serialized into a URL, the 'snapshot share' feature must be used. Unfortunately, this means that **al

[2021-08-12 18:19] elasticmachine commented on #108433
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-12 18:22] mattkime commented on #108294
Agreed. I'm coming into this conversation in the middle, just wanted to make sure people knew about that even if it doesn't effect anything.

Yes, there will be two different fixes.

[2021-08-12 18:25] LeeDr commented on #108304
@mattkime  zipped har file

[localhost.har.zip](https://github.com/elastic/kibana/files/6977678/localhost.har.zip)

[2021-08-12 18:39] mostlyjason commented on #107682
@drewpost are you ready to make the synthetics integration GA? It might be frustrating to tell users to onboard with the synthetics integration but not support it in production environments. Also, would User experience link to the RUM (JS) agent add data tutorial?

I wrote up draft copy for the cards here https://docs.google.com/document/d/1EoYp8Ae5nDk4P61_YCzbMKLi16t8KFW3amO4XUzDZks/edit?usp=shar

[2021-08-12 18:47] chrisronline commented on #102076
Reopening as we had to revert due to https://github.com/elastic/kibana/pull/108111#issuecomment-897530104

[2021-08-12 18:50] mikecote commented on #107899
The reason for `in the non-default space` is because IDs in the default space do *not* get re-generated (TIL).

The message is TBD, I guess. Since we're not deprecating or removing the feature, we need to give users a heads up that using pre-defined IDs will have a side effect of getting a new ID generated when upgrading to 8.0.

[2021-08-12 18:50] mikecote commented on #108417
Dev Guide on Telemetry: https://github.com/elastic/kibana-team/issues/364

[2021-08-12 18:50] cqliu1 opened #108439 "[Canvas] By-Value Embeddables Roadmap"
This is the meta issue for supporting by-value embeddables in Canvas.

### Objective
Support all embeddable types in Canvas

### Tasks
- [x] Add by-value embeddables lab config #104499
- [x] Create raw "embeddable" function #101633 #104499
- [x] Support by-value embeddable input in embeddable renderer #111411
  - The embeddable renderer currently only does "Embeddable.createFromSavedObject" but sh

[2021-08-12 18:51] elasticmachine commented on #108439
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-12 18:51] mikecote commented on #108417
Development guide for Telemetry: https://github.com/elastic/kibana/blob/master/src/plugins/usage_collection/README.mdx

[2021-08-12 18:55] tylersmalley opened #108440 "[Integration Tests] Fix managed configuration test"
In order to ensure these were running in CI (https://github.com/elastic/kibana/pull/93331/), we needed to disable these failing tests.

Remove from `testPathIgnorePatterns` in `jest.config.integration.js`
Run tests: `yarn test:jest_integration x-pack/plugins/task_manager/server/integration_tests/managed_configuration.test.ts`

[2021-08-12 18:59] cjcenizal commented on #97507
@alisonelizabeth I don't think we need to act on this yet, since legacy index templates haven't yet been slated for removal.

[2021-08-12 19:01] cjcenizal commented on #15628
@kdbisen Does https://github.com/elastic/kibana/pull/39114 not resolve your issue?

[2021-08-12 19:02] simianhacker commented on #104271
I started digging into this issue, there are a few things I think we need to decide before moving forward...

1. Should we remove the `appendMetricbeatIndex` functions? I think it's unnecessary complexity when we should just add `metrics-monitoring-*` to the current constants that define the `.monitoring-*` index patterns.
2. Should we remove the `mbSafeQuery`? The main issue I have with this func

[2021-08-12 19:04] VijayDoshi commented on #85965
@shaunmcgough I've had several people comment on multi-field behavior changes having a big impact on the UX for Discover. Is resolving that part of MVP?

[2021-08-12 19:07] stejacks opened #108442 "[Lens] y-axis automatic scaling/data bound values puts a single value at the bottom."
**Describe the feature:**

This is hard to explain but easy to demonstrate.

Here's a lens visualization with 7.14 and the y-axis set to data bounds (example data).  Data goes from 94.51 to 95.78, graph looks exactly like you'd expect.

<img width="1314" alt="Screen Shot 2021-08-12 at 3 02 01 PM" src="https://user-images.githubusercontent.com/8227774/129253816-ce0e425c-586c-40d8-a6be-e2ff98e01bc8.

[2021-08-12 19:07] dominiqueclarke opened #108443 "[Uptime] Index Alert Severity Default"
Uptime RAC alert documents should contain a default alert severity.

This severity should be indexed to the `kibana.alert.severity.level` field, using the `ALERT_SEVERITY_LEVEL` variable from the rules data utils.

Both TLS and Monitor Status alerts should default to `warning`.

Anomaly alerts will use the anomaly provided severity.

[2021-08-12 19:07] elasticmachine commented on #108443
Pinging @elastic/uptime (Team:uptime)

[2021-08-12 19:08] shaunmcgough commented on #85965
I think you might be talking about this issue?

https://github.com/elastic/kibana/issues/96029

We’ve resolved that.

--
Shaun Mc Gough
Product Manager
Based in NYC
Search. Observe. Protect

[2021-08-12 19:09] elasticmachine commented on #108442
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-12 19:09] mostlyjason opened #108444 "[Fleet] Explcitly name integration policies"
I was talking to @kpollich and he found it difficult to differentiate between agent policies and integration policies. I've heard similar feedback from other users. We don't give them an explicit name in the UI, but we call them "integration policies" internally. He thought it'd be more clear and help users differentiate these two types of policies if we named them in the UI. While I don't love th

[2021-08-12 19:09] elasticmachine commented on #108444
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 19:14] cauemarcondes opened #108445 "[RUM] Rewrite previous rum e2e tests to the new testing framework"
The APM team created a new e2e test structure that is located here: https://github.com/elastic/kibana/tree/master/x-pack/plugins/apm/ftr_e2e. The tests run with functional test runner and cypress.

There're still some RUM tests using the old structure (https://github.com/elastic/kibana/tree/master/x-pack/plugins/apm/e2e), so we would like to move them to use the Synthetics E2E framework.

ACs:
* R

[2021-08-12 19:19] elasticmachine commented on #88423
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-12 19:28] jportner commented on #15835
This was added in 7.4 via #43090!

[2021-08-12 19:30] mikecote commented on #107899
Random thought; the warnings and doc changes should be 7.x only, I believe?

[2021-08-12 19:33] ymao1 commented on #107899
Oh! That's a good point!

[2021-08-12 19:37] nickofthyme commented on #108442
We have a related issue in chart already. See https://github.com/elastic/elastic-charts/issues/1095

[2021-08-12 19:46] timroes commented on #108442
I would suggest when we fit to bounds and there is only one data point we might just want to render it centrally? Maybe for the only exception of the value 0 which I assume we would still want to draw as the x axis? Cc @ghudgins

[2021-08-12 19:50] mostlyjason commented on #74353
@jen-huang @joshdover since we have limited capacity in 8.0, what do you think about scoping this to fix bugs in our implementation of globally scoped assets? Global scoping was our intention when we first started Fleet. We intended this as a starting point because adding support for assets scoped by spaces seems like a bigger task with more workflows and UX to consider. Also, many ES assets like

[2021-08-12 19:53] stejacks commented on #108442
I think that central is probably the best for this for all the various ways one might use this.  I like @timroes's suggestion.

[2021-08-12 20:05] kobelb commented on #82020
Sorry about that @cachedout, https://github.com/elastic/kibana/pull/108111 has been reverted so you all can continue to proceed to use those settings for the time being.

[2021-08-12 20:22] #104927 closed

[2021-08-12 20:39] dborodyansky commented on #108444
@kpollich and I discussed this as well, and considered expanding consistently labeling integration policies as well as agent policies throughout, leaving no orphan "Policy/ies" labels for the user to decipher. This may also apply to tabs:
![image](https://user-images.githubusercontent.com/3674406/129266387-d5a631c2-4bd3-4676-8065-fa2ee6d00571.png)

[2021-08-12 20:45] gmmorris commented on #55340
I don't know TBH... perhaps a "retry" button that tries to refire the action? 🤷
This is more of a product question IMHO...

[2021-08-12 21:05] mostlyjason opened #108456 "[Fleet] Remove default integrations"
Currently, the system, elastic agent, and fleet server packages are automatically installed. The system integration is also added to the default agent policy in Fleet.  This creates problems for the onboarding flow in other solutions and products https://github.com/elastic/kibana/issues/82851. It's also not the best UX because we are adding these integrations without explicit consent from the user

[2021-08-12 21:05] elasticmachine commented on #108456
Pinging @elastic/fleet (Team:Fleet)

[2021-08-12 21:15] rw-access commented on #42406
IIRC, when writing detection rules, we usually get around this error by using `\-` instead of `-`

[2021-08-12 21:26] #108377 closed

[2021-08-12 21:43] #105182 closed

[2021-08-12 22:32] lukeelmers commented on #94419
I discussed this with @stacey-gammon & @kobelb, and since we don't have any telemetry indicating usage of this API, their preference is to take this a step further and introduce something like `v7format` which still preserves the old format. At the same time, we can also add telemetry to measure usage of the flag over time and then get rid of it in `8.x`.

So to summarize:
- Continue accepting `v8

[2021-08-12 23:05] lukasolson commented on #106005
I believe this was resolved by https://github.com/elastic/kibana/pull/106220.

[2021-08-12 23:47] graphaelli opened #108466 "[APM] Support for dropping unsampled transactions (meta)"
Meta Issue for tracking overall progress on updates for supporting `apm-server.sampling.keep_unsampled: false`.

- [x] https://github.com/elastic/kibana/issues/101734
- [x] https://github.com/elastic/kibana/issues/78122
- [ ] https://github.com/elastic/kibana/issues/118437

[2021-08-12 23:47] elasticmachine commented on #108466
Pinging @elastic/apm-ui (Team:apm)

[2021-08-12 23:53] YulNaumenko commented on #93466
Closing in favor of create issues: https://github.com/elastic/kibana/issues/107898, https://github.com/elastic/kibana/issues/107846, https://github.com/elastic/kibana/issues/107847, https://github.com/elastic/kibana/issues/107918, https://github.com/elastic/kibana/issues/107904,   based on RFC.

[2021-08-12 23:53] #93466 closed

[2021-08-12 23:54] kibanamachine commented on #106660
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16228/)

[2021-08-13 01:34] #108396 closed

[2021-08-13 03:35] jasonrhodes commented on #108119
I think we need to proceed with applying this to all columns for now and we can circle back on whether it's possible (or useful, even) to have different hover actions per column/cell.

The "reason" field won't be totally problematic in this case because it will filter for the _exact_ reason, which will work since the field is a "keyword" field. It will have issues because some rule types are not i

[2021-08-13 03:42] jasonrhodes commented on #106727
One issue with not indexing the reason is that it won't be searchable via the KQL search bar, since that search only searches the indexed document. In this mixed environment, we're using "type: keyword" for the reason, so searches won't work super well for the indexed one either unless a user searches for the full exact string. But even in those cases, and especially if we were to analyze this fie

[2021-08-13 03:49] jasonrhodes commented on #107785
Yes, it's global across spaces. In 7.14+, if the user has the out of the box alerts, it's either because they had them before the upgrade, or they saw the modal once and said "Yes" to creating the alerts.

@estermv - I guess what Lee is getting at here is that because the modal decision flag is tied to local storage, the following can happen frequently:

- User A logs into Space A, is shown the mo

[2021-08-13 04:11] Hhhhelix opened #108477 "How can I convert KQL to es dsl through kibana's library file?"
Describe the feature:
convert KQL to es dsl through kibana's library file
**Describe a specific use case for the feature:**
I need to implement a script to convert KQL to es dsl, can kibana  help me？
eg:
---------------
**input**

exp = "id:(1 or 2)"
timerange = "Last 15 minutes"
---------------
**output**

dsl = convert_func(exp, timerange)
---------------

[2021-08-13 04:51] kibanamachine opened #108478 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/deleting·ts - transform deleting continuous transform with pivot configuration delete transform"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/249/)

[2021-08-13 04:51] kibanamachine opened #108479 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/deleting·ts - transform deleting "after all" hook in "deleting""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/249/)

[2021-08-13 04:51] kibanamachine commented on #93890
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/249/)

[2021-08-13 05:58] kertal commented on #99192
closing this since it has been implemented in #104361
![_eCommerce__Revenue_Dashboard_-_Elastic_und__Discover__Show_total_hits_number_in_saved_search_embeddable_when_using_EuiDataGrid_·_Issue__99192_·_elastic_kibana_und_matthiaswilhelm_—_ubuntu_kbn-dev-v1-pr-108322____kibana_—_ssh_ubuntu_a-la-ca](https://user-images.githubusercontent.com/463851/129311573-65fd84df-99a0-4f92-bc14-6f448f55ee3d.png)

[2021-08-13 05:58] #99192 closed

[2021-08-13 06:00] kertal commented on #98567
do we still need this, shall we keep this open?

[2021-08-13 06:08] muskangulati-qasource commented on #99184
### Bug Conversion:

- Test-Case updated under the 'Trusted Apps' section :
    - https://elastic.testrail.io/index.php?/cases/view/76964

Thanks!

[2021-08-13 06:34] elasticmachine commented on #108479
Pinging @elastic/ml-ui (:ml)

[2021-08-13 06:34] elasticmachine commented on #108478
Pinging @elastic/ml-ui (:ml)

[2021-08-13 06:34] muskangulati-qasource commented on #98468
## Bug Conversion

- 01 new testcase is created under the 'Agent and Endpoint Enrollment' section:
    - https://elastic.testrail.io/index.php?/cases/view/149904

Thanks!

[2021-08-13 06:37] pheyos commented on #108478
Another occurrence of the known CI network issues: `proc [kibana]   log   [03:47:42.516] [error][server][Kibana][http] ConnectionError: connect ECONNREFUSED 127.0.0.1:62121`.
So no issue with the app or the tests, closing.

[2021-08-13 06:37] #108478 closed

[2021-08-13 06:37] formgeist commented on #108332
@alex-fedotyev thanks - I agree to keep failed transactions. I've updated the description task list above.

[2021-08-13 06:40] pheyos commented on #108479
In the test log I can see `proc [kibana]   log   [03:49:46.023] [warning][licensing][plugins] License information could not be obtained from Elasticsearch due to ConnectionError: connect ECONNREFUSED 127.0.0.1:62121 error`. SO it's another occurrence of the know CI network error and no issue with the app or the tests. Closing.

[2021-08-13 06:40] #108479 closed

[2021-08-13 06:53] mgiota commented on #108150
After our RAC meeting there were discussing around keeping the copy button in order to be consistent with other solutions.

2nd button (expand/popover icon) comes from EuiDataGrid. @michaelolo24 I haven't looked into that yet, in case you already figured it out, keep me in the loop.

[2021-08-13 07:21] stratoula opened #108487 "[XY axis] Split chart and alphabetical descending order doesn't work as expected"
**Kibana version:**
master

**Describe the bug:**
It seems that there is a bug with split chart and alphabetical descending order.

**Steps to reproduce:**
1. Create a vertical bar
2. the configuration I used is a split series with filters and a split chart column with terms
3. Change the order to alphabetical descending

The order is ascending. The expected behavior should be:
If you pick descend

[2021-08-13 07:21] elasticmachine commented on #108487
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-13 07:22] formgeist opened #108488 "[APM] Remove "new" badge from Dependencies link in the solution navigation"
# Summary

https://github.com/elastic/kibana/pull/108397 introduced a "new" badge promotion of Dependencies. We should remove it so it's not redundant information when the user upgrades to the next release.

[2021-08-13 07:22] elasticmachine commented on #108488
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 07:27] muskangulati-qasource commented on #97457
## Bug Conversion

- 03 Test-Case updated under the 'Endpoint List' section :
    - https://elastic.testrail.io/index.php?/cases/view/76954
    - https://elastic.testrail.io/index.php?/cases/view/76955
    - https://elastic.testrail.io/index.php?/cases/view/76956

Thanks!

[2021-08-13 07:27] elasticmachine commented on #51672
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-13 07:29] simitt commented on #91409
Can be moved to 7.16

[2021-08-13 07:35] sqren commented on #108328
Closed by https://github.com/elastic/kibana/pull/108351

[2021-08-13 07:35] #108328 closed

[2021-08-13 07:39] dikshachauhan-qasource commented on #103619
Hi @EricDavisX

We have created a testcase for above reported issue under bug conversion task .

Testcase link is : [C149905](https://elastic.testrail.io/index.php?/cases/view/149905)

Thanks
QAS

[2021-08-13 07:47] sqren commented on #106727
I think it's fine to index the reason. And I can see the case for partially matching searches. I just don't see any reason for solutions to display the indexed reason, when it can be computed at runtime with the correct locale.

[2021-08-13 07:55] deepikakeshav-qasource commented on #104089
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

Thanks.

[2021-08-13 07:56] deepikakeshav-qasource commented on #100021
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

**Screenshot:**
![ml_rule](https://user-images.githubusercontent.com/61860752/129315880-852104a4-b0e6-4d2f-b6c7-f42c7e519e37.jpg)

Thanks.

[2021-08-13 07:57] elasticmachine commented on #108445
Pinging @elastic/uptime (Team:uptime)

[2021-08-13 07:59] deepikakeshav-qasource commented on #106980
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]

Thanks.

[2021-08-13 08:08] muskangulati-qasource commented on #97230
### Bug Conversion:

- Test-Case updated under the 'Ransomware Protection' section :
    - https://elastic.testrail.io/index.php?/cases/view/76794
Thanks!

[2021-08-13 08:10] jzdayz commented on #100248
hello,any progress?

[2021-08-13 08:11] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16090/)

[2021-08-13 08:17] fp185001 commented on #108433
Hi @ThomThomson
We're experiencing with 7.14 a problem which is probably related to this new state management.
Our Angular application embeds inside an iframe some kibana dashboards,
The integration approach is to get the shared snapshot url with timeRange and specific query, and navigate with this one on a dedicated iframe.

Externally to iframe also we are giving our users the capability to chan

[2021-08-13 08:33] katrin-freihofner opened #108493 "[Logs UI] can't create alert because of preview chart"
The fields for the alert can not be selected.

**Kibana version:**
Master branch, local build

**Screenshots (if relevant):**
![log-create-alert-bug](https://user-images.githubusercontent.com/20965076/129328806-159759c2-0b5b-4143-a2fc-aaa58551b6bf.gif)

[2021-08-13 08:33] elasticmachine commented on #108493
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-13 08:34] dikshachauhan-qasource commented on #104280
Hi @EricDavisX

We have created a testcase for above reported issue under bug conversion task .

Testcase link is : [C149906](https://elastic.testrail.io/index.php?/cases/view/149906)

Thanks
QAS

[2021-08-13 08:35] formgeist opened #108494 "[APM] Backends UI: Add Service map link and actions to focus on the selected backend"
# Summary

We would want to leverage the service maps to display a given backend in context of its upstream services. Proposing that we consider adding a link to a focused service map for the selected backend in a tab navigation for the selected backend. Additionally, the service map itself will support that the user can focus on a selected backend node. And finally, the link from the selected bac

[2021-08-13 08:35] elasticmachine commented on #108494
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 08:35] formgeist opened #108495 "[APM] Backends UI: UX/UI polish (meta)"
# Summary

This issue tracks a number of UX/UI improvements for the Backends UI feature in APM before making it GA.

# Tasks

- [ ] Make the list table height auto instead of a min-height as we have implemented on the Service overview. This is globally how the tables are presented through all the views.

## Backends list

![screencapture-localhost-5601-pzn-app-apm-backends-2021-08-13-10_03_52](htt

[2021-08-13 08:35] elasticmachine commented on #108495
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 08:35] mgiota commented on #108119
@jasonrhodes Ok agree.

Regarding reason there are a couple of bugs at the moment. I am writing them down and we should handle them in another ticket:
- clicking on the filter in button filters by `kibana.alert.rule.name` instead of `kibana.alert.reason`
- if I manually type `kibana.alert.reason: 'CPU'` or just `CPU` in the urlbar, I don't get any results, which is what I mention in this ticket ht

[2021-08-13 08:41] muskangulati-qasource commented on #97229
### Bug Conversion:

- Test-Case updated under the 'Agent and Endpoint Enrollment' section :
    - https://elastic.testrail.io/index.php?/cases/view/34343

Thanks!

[2021-08-13 09:18] deepikakeshav-qasource commented on #94408
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**
![network](https://user-images.githubusercontent.com/61860752/129334980-148fc7c0-68c4-4f70-964e-66cfc4b0891e.jpg)

Thanks.

[2021-08-13 09:23] arvindersingh-qasource commented on #102487
Hi @MadameSheema
We have Validated this ticket on ``` 7.15.0 Snapshot ``` build and found that issue is still occurring.

### Build Details
[code]
### Observations
![1](https://user-images.githubusercontent.com/78947943/129335371-14238e06-de48-4ebd-b881-33e1049bf459.PNG)

Thanks

[2021-08-13 09:27] deepikakeshav-qasource commented on #97094
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**
![search](https://user-images.githubusercontent.com/61860752/129336237-3e31cee2-3628-4978-929d-c31391e1a6e1.jpg)
![Rule](https://user-images.githubusercontent.com/61860752/129336251-3d0a52f1-0cd6-4669-b6f1-12081140139a.jpg)

Than

[2021-08-13 09:31] muskangulati-qasource commented on #102607
## Bug Conversion

- Test-Case updated under the 'Trusted Apps' section :
    - https://elastic.testrail.io/index.php?/cases/view/76964

Thanks!

[2021-08-13 09:32] gmmorris commented on #104181
That's fair, in that case I'm rephrasing this issue to express a problem statement.

[2021-08-13 09:34] deepikakeshav-qasource commented on #100020
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**

https://user-images.githubusercontent.com/61860752/129336937-bdbf8241-8e8c-4f6b-8941-d96991ab8b96.mp4

Thanks.

[2021-08-13 09:36] Dosant commented on #51672
Can't reproduce, apperantly fixed in newer versions

[2021-08-13 09:36] #51672 closed

[2021-08-13 09:37] arvindersingh-qasource commented on #101873
Hi @MadameSheema
We have Validated this ticket on ``` 7.15.0 Snapshot ``` build and found that issue is still occurring.

### Build Details
[code]
### Observations
![cases_tool_tip](https://user-images.githubusercontent.com/78947943/129337588-c6a376a0-b1fe-4451-a562-9a6d0f9d2a70.jpg)

Thanks

[2021-08-13 09:38] arvindersingh-qasource commented on #102194
Hi @MadameSheema
We have Validated this ticket on ``` 7.15.0 Snapshot ``` build and found that issue is still occurring.

### Build Details
[code]
### Observations
![full_screen](https://user-images.githubusercontent.com/78947943/129337696-817b4233-e843-457a-9b7b-0da659c8edf3.jpg)

Thanks

[2021-08-13 09:40] deepikakeshav-qasource commented on #100259
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.  UI is distorted when provide the long description under timeline

**Build Details:**
[code]
**Screenshot:**
![Timeline](https://user-images.githubusercontent.com/61860752/129337883-68503389-80d7-4ba3-a9b1-7d4b7c3fe0cd.jpg)

Thanks.

[2021-08-13 09:44] #107288 closed

[2021-08-13 09:44] sqren opened #108496 "[Logs] Log threshold alert preview breaks"
When creating a "Log threshold" alert, and setting the condition to "is more than 0" the visualisation breaks and condition value ("0") is not displayed

### Condition rendering bug

**It works fine for `IS more than 1`:**
<img src="https://user-images.githubusercontent.com/209966/129337762-6ca57062-f2ad-4101-abb3-bd65244b0f1c.png" width="200">

**The condition value is not displayed for `IS more

[2021-08-13 09:44] elasticmachine commented on #108496
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 09:46] weltenwort commented on #108177
The reason field is indexed as a `keyword`, which means it is not analyzed but stored as a single term. The expected behavior for that would be that querying for the full literal reason message works.

We can discuss whether it should be analyzed or not, of course.

[2021-08-13 09:49] weltenwort commented on #108119
:information_source: To add some more context: Currently we have constants for both `ALERT_STATUS` and `ALERT_SYSTEM_STATUS`. The former is used everywhere across the security, uptime, apm, rule_registry, and observability apps. The latter is not used anywhere yet.

Regarding the reason field, I commented on your other issue. The question becomes whether we want the field to be a `keyword` or a `t

[2021-08-13 09:55] weltenwort commented on #106727
I agree that there's no reason for not doing both. For most rule types rendering the reason at runtime requires additional rule parameters to be indexed, though. I've proposed a way to do that in the past to achieve correct "expected"/"actual" value rendering, but it has not been a priority for 7.15. Once that has been solved dynamically rendering the reason should be trivial for most rule types.

[2021-08-13 09:55] ashokaditya opened #108497 "[Security Solution] Activity Log screen shows empty screen UI, on page load"
**Describe the bug:**

**Kibana/Elasticsearch Stack version:**
v7.15.0

**Server OS version:**
Mac OS 11.4

**Browser and Browser OS versions:**
Chrome Version 91.0.4472.114 (Official Build) (x86_64),
Firefox 91.0 (64bit),
Safari 14.1.1 (16611.2.7.1.4)

**Steps to reproduce:**

1. Once in Kibana, navigate to `Security -> Endpoints` to see list deployed of endpoints.
2. Select an endpoint to see th

[2021-08-13 09:55] elasticmachine commented on #108497
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 09:55] elasticmachine commented on #108497
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-13 10:00] jloleysens opened #108498 "[Reporting] Management UI should link to UI used to generate report"
## Summary

With new reporting export types (https://github.com/elastic/kibana/pull/101048) the Kibana URL will no longer be logged. This was often used for debugging purposes to open the UI that reporting would open when generating a report. We can use the redirect app to open the same UI, loading all of the state that reporting would load.

This will require some updates to the Reporting redirec

[2021-08-13 10:00] elasticmachine commented on #108498
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-13 10:00] elasticmachine commented on #108498
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-13 10:06] deepikakeshav-qasource commented on #106840
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**
![fields](https://user-images.githubusercontent.com/61860752/129341218-6ed364bd-f50f-4cb6-9d4f-36d84f45e6ab.jpg)

Thanks.

[2021-08-13 10:11] gmmorris commented on #89152
Reading through the thread it feels like this is more likely a framework level thing than specific rule type so relabelling appropriately.
I suspect this issue will have to wait for the result of research into [alerts as data becoming framework level](https://github.com/elastic/kibana/issues/104181) itself, that way we can explore addressing this duplication of effort (and logic) across the rules

[2021-08-13 10:25] katrin-freihofner commented on #108496
Related: https://github.com/elastic/kibana/issues/108493

[2021-08-13 10:26] jloleysens opened #108500 "[Reporting] Migrate to v2 PNG and PDF report types"
## Summary

With v2 report types available (https://github.com/elastic/kibana/pull/101048) all integrations with reporting should move over to using the new method of generating reports that ensures URLs are migrated and that extremely large URLs never enter the address bar.

[2021-08-13 10:26] elasticmachine commented on #108500
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-13 10:26] elasticmachine commented on #108500
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-13 10:35] arvindersingh-qasource opened #108501 "[Security Solution] Checkbox corresponding to rules are empty whereas Bulk Actions shows that Rules are Selected."
**Describe the bug**
On ```Rules``` page, checkbox present against rules is empty whereas in Bulk Action toolbar, it shows that rules are selected.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. 7.15.0 Kibana must be deployed.

**Steps to Reproduce**
1. Navigate to ``` Security ``` -> ``` Rules ``` from left hand side panel.
2. Click o

[2021-08-13 10:35] elasticmachine commented on #108501
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 10:36] arvindersingh-qasource commented on #108501
@manishgupta-qasource  Please review this bug .

[2021-08-13 10:38] #107718 closed

[2021-08-13 10:40] elasticmachine commented on #108496
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-13 10:41] weltenwort commented on #108496
On first glance this looks like `elastic-charts` now automatically scales the y axis but doesn't take annotations into account. We'll probably have to manually extend the y axis boundary to include threshold values if the are outside of range of values fetched for the preview.

[2021-08-13 10:45] gmmorris commented on #104744
Closed in favour of https://github.com/elastic/kibana/issues/100105

[2021-08-13 10:45] #104744 closed

[2021-08-13 10:56] manishgupta-qasource commented on #108501
Reviewed & assigned to @MadameSheema

[2021-08-13 11:05] #106727 closed

[2021-08-13 11:11] deepikakeshav-qasource opened #108508 "[Security Solution] UI is distorted for "updated now" on alerts page"
**Describe the bug**
UI is distorted for "updated now" on alerts page

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.

**Steps to Reproduce**
1. Navigate to alerts page.
3. Scroll down to Alerts table
4. Observe that UI is distorted for "updated now" on alerts page

**Actual Result**
UI is distorted for "

[2021-08-13 11:11] elasticmachine commented on #108508
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 11:12] deepikakeshav-qasource commented on #108508
@manishgupta-qasource Please review!!

[2021-08-13 11:15] manishgupta-qasource commented on #108508
Reviewed & Assigned to @MadameSheema

[2021-08-13 11:17] muskangulati-qasource opened #108509 "[Security Solution] The 'Add Trusted Application button' should not be enabled when Name is not added"
**Description:**
The 'Add Trusted Application button' should not be enabled when Name is not added

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**

1. 7.15.0 Snapshot Kibana user should be logged in.

**Steps to Reproduce:**

1. Navigate to the Trusted application tab.
2. Click on 'Add Trusted Application' button.
3. Not providing name in 'Name your trusted application' fi

[2021-08-13 11:17] elasticmachine commented on #108509
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-13 11:17] elasticmachine commented on #108509
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 11:18] muskangulati-qasource commented on #108509
@manishgupta-qasource : Please review the bug.

[2021-08-13 11:24] muskangulati-qasource commented on #106992
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
    - https://elastic.testrail.io/index.php?/cases/view/147441

Thanks!

[2021-08-13 11:24] muskangulati-qasource commented on #106859
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147536

Thanks!

[2021-08-13 11:25] muskangulati-qasource commented on #106712
## Bug Conversion

- No Test case is required since it is expected behaviour!

Thanks!

[2021-08-13 11:25] muskangulati-qasource commented on #106711
## Bug Conversion

- No Test case is required since it is expected behaviour!

Thanks!

[2021-08-13 11:25] muskangulati-qasource commented on #106664
## Bug Conversion

- No Test case is required since it is expected behaviour!

Thanks!

[2021-08-13 11:25] muskangulati-qasource commented on #106387
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147410

Thanks!

[2021-08-13 11:25] muskangulati-qasource commented on #106203
## Bug Conversion

- No Test case is required since it is expected behaviour!

Thanks!

[2021-08-13 11:25] manishgupta-qasource commented on #108509
Reviewed & assigned to @kevinlog

[2021-08-13 11:26] muskangulati-qasource commented on #106014
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/runs/view/2037

Thanks!

[2021-08-13 11:26] muskangulati-qasource commented on #105567
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
    - https://elastic.testrail.io/index.php?/tests/view/587541

Thanks!

[2021-08-13 11:26] muskangulati-qasource commented on #105547
## Bug Conversion

- No Test case is required since it is expected behaviour!

Thanks!

[2021-08-13 11:26] muskangulati-qasource commented on #105408
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/runs/view/2037

Thanks!

[2021-08-13 11:27] muskangulati-qasource commented on #105212
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/tests/view/585584

Thanks!

[2021-08-13 11:27] muskangulati-qasource commented on #104820
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/tests/view/585579
    - https://elastic.testrail.io/index.php?/tests/view/585580

Thanks!

[2021-08-13 11:27] muskangulati-qasource commented on #104435
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/35311

Thanks!

[2021-08-13 11:28] muskangulati-qasource commented on #104375
## Bug Conversion

- 01 new testcase created:
    - https://elastic.testrail.io/index.php?/cases/view/149908

Thanks!

[2021-08-13 11:31] formgeist opened #108510 "[APM] Remove the Dependencies tab for RUM services"
# Summary

RUM services are already filtered out from the backends UI but we need to hide the dependencies tab for a selected RUM service.

![CleanShot 2021-08-13 at 13 31 03@2x](https://user-images.githubusercontent.com/4104278/129350996-8063ef67-4dc0-40a3-916c-3b1f518465e4.png)

[2021-08-13 11:31] elasticmachine commented on #108510
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 11:34] kibanamachine commented on #93354
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16094/)

[2021-08-13 11:35] rudolf commented on #12342
We set a priority of `10` https://github.com/elastic/kibana/blob/master/src/core/server/saved_objects/migrationsv2/actions/create_index.ts#L88

But now that `.kibana` is a system index it will receive further priority above "normal"/user indices https://github.com/elastic/elasticsearch/pull/62640

[2021-08-13 11:35] #12342 closed

[2021-08-13 11:38] #80051 closed

[2021-08-13 11:40] stratoula commented on #106352
An important note here: All the vega visualizations that actually have interval set in their specs, will also fail.
Tim has asked the ES team to keep the interval. Let's see how it goes but if we don't keep it let's also have this in mind cc @ghudgins

[2021-08-13 11:42] samratbhadra-qasource opened #108511 "[Trusted applications] When we click on Grid view and List view button it encircled with black bold line."
**Describe the bug:**
When we click on Grid view and List view button it encircled with black bold line.

**Build Details:**
VERSION: 7.15.0-SNAPSHOT
BUILD: 43370
COMMIT: aa12d107c38c5cda96fc32bcd1f8226df172826a
ARTIFACT: https://artifacts-api.elastic.co/v1/search/7.15.0-SNAPSHOT

**Preconditions:**
Elastic 7.15.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1. Log in to Kiba

[2021-08-13 11:42] elasticmachine commented on #108511
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 11:42] elasticmachine commented on #108511
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-13 11:43] samratbhadra-qasource commented on #108511
@manishgupta-qasource please review.

[2021-08-13 11:49] sqren opened #108513 "[APM] Fleet: Auto attachment for java agent beta"
Meta issue: https://github.com/elastic/apm-server/issues/4830 (APM Server)
Design issue: https://github.com/elastic/observability-design/issues/107

In https://github.com/elastic/kibana/issues/106440 we added the manual agent installation instruction. Going forward we want to push people towards auto attachment for the agents that support it.
The first phase only includes the Java agent

[2021-08-13 11:49] elasticmachine commented on #108513
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 11:52] kevinlog commented on #108509
@ashokaditya can you take a look at this one with priority for the `7.16` release?  I doesn't need to go in now for `7.15`

[2021-08-13 11:55] kevinlog commented on #108511
@parkiino this one should be fixed with your UX updates.  After your PR goes in, you can set this one to "Ready for Test"

[2021-08-13 11:56] deepikakeshav-qasource commented on #106663
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**
![Exception](https://user-images.githubusercontent.com/61860752/129348976-6687b88e-0bd8-4cf5-85e5-edd76bb442ec.jpg)

Thanks.

[2021-08-13 12:00] gmmorris commented on #105512
How would that address the perception of this as a bug? Are you thinking users with `read` on `Actions & Connectors` would not be able to execute actions by default?
What's the point of `read` on the feature if they can't execute?

The only thing they could do in such a case is view the configuration of connectors that they can't actually use, so it seems like there isn't much point to them having

[2021-08-13 12:02] gmmorris commented on #105512
Changing this issue from `bug` to a `docs` and `UX` issue as it is an expected behaviour, but I recognise users might be surprised by this and I think we should address this at UX and docs level.

[2021-08-13 12:07] deepikakeshav-qasource commented on #99914
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**

https://user-images.githubusercontent.com/61860752/129354627-30708f6d-2ae0-4f01-871a-757b58d42682.mp4

Thanks.

[2021-08-13 12:22] muskangulati-qasource opened #108518 "[Security Solution] 'view the Elastic Security documentation' link open in same tab instead on another tab under 'Endpoints' tab."
**Description:**
'view the Elastic Security documentation' link open in same tab instead on another tab under 'Endpoints' tab.

**Build Details:**

[code]

**Browser Details:**
All

**Preconditions:**

1. 7.15.0 Snapshot Kibana user should be logged in.

**Steps to Reproduce:**

1. Navigate to the 'Endpoints' tab.
2. Click on 'view the Elastic Security documentation' link.
3. Observe that link ope

[2021-08-13 12:22] elasticmachine commented on #108518
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 12:22] elasticmachine commented on #108518
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-13 12:22] muskangulati-qasource commented on #108518
@manishgupta-qasource : Please review the Bug.

[2021-08-13 12:32] kibanamachine opened #108521 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/annotations·ts - machine learning anomaly detection annotations deleting deletes the annotation"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16241/)

[2021-08-13 12:38] elasticmachine commented on #108521
Pinging @elastic/ml-ui (:ml)

[2021-08-13 12:38] formgeist opened #108522 "[APM] Show subtle loading indicator for SparkPlot"
# Summary

Related to https://github.com/elastic/kibana/pull/108256

Since changing the loading state for the tables, the table loading indicator is hidden as soon as all other content than the sparklines are loaded. We want to indicate that we're still loading this information.

<img width="1673" alt="CleanShot 2021-08-13 at 14 31 31@2x" src="https://user-images.githubusercontent.com/4104278/1293

[2021-08-13 12:38] elasticmachine commented on #108522
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 12:40] formgeist commented on #103645
Opened a new issue for adding a subtle loading animation to the SparkPlot empty state icon as the plots continue to load. https://github.com/elastic/kibana/issues/108522

[2021-08-13 12:40] alexwizp commented on #105031
@DziyanaDzeraviankina Am I right that it will be closed with your PR #101245? If yes, please link that issue with your PR

[2021-08-13 12:42] mostlyjason opened #108524 "[Meta][Fleet] Improve support for IaC and change control"
Both Beats and Elastic Agent standalone work well with version control, infrastructure as code (IaC), and change management processes because the configuration is a simple text file. Fleet only supports these processes through its REST API. We should improve Fleet's support for so it is easier to work with these processes.

[2021-08-13 12:42] elasticmachine commented on #108524
Pinging @elastic/fleet (Team:Fleet)

[2021-08-13 12:48] mostlyjason opened #108525 "[Meta][Fleet] Offer a UI for input conditions"
Elastic Agent offers [input conditions](https://www.elastic.co/guide/en/fleet/current/dynamic-input-configuration.html#conditions) as a way to control when inputs are enabled or disabled based on the local host environment or other providers. These conditions are often included in integration packages. We should also add a way for users to set these conditions in the Fleet UI so that users have a

[2021-08-13 12:48] elasticmachine commented on #108525
Pinging @elastic/fleet (Team:Fleet)

[2021-08-13 12:52] manishgupta-qasource commented on #108518
Reviewed & assigned to @kevinlog

[2021-08-13 12:57] d4nnyx-cz opened #108529 "Many _fields_for_wildcard calls overload elasticsearch"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Debian 10

**Browser version:** all browsers

**Original install method (e.g. download page, yum, from source, etc.):** apt

**Describe the bug:**
I have a lot of index patterns in Kibana and if I click on index pattern section in Kibana management, there is for every index pattern _fields_for_wildcard call which

[2021-08-13 13:13] drewpost commented on #107682
@mostlyjason - We are ready to make it GA however I want to confirm the timelines as this is not something we could do until 7.16 given FF is Tuesday for 7.15

cc @paulb-elastic

[2021-08-13 13:17] mistic commented on #106660
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 3c75b1f
7.x/7.15: 422d00f

[2021-08-13 13:25] d4nnyx-cz opened #108533 "Role with access to all indices kills Elasticsearch"
**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Debian 10

**Original install method (e.g. download page, yum, from source, etc.):** apt

**Describe the bug:**
Cannot load Kibana role with access to all indices because of request /internal/security/fields/* which overload the Elastic on the same host.

**Steps to reproduce:**
1. Create role in Kibana, fill the

[2021-08-13 13:31] #20423 closed

[2021-08-13 13:44] kibanamachine commented on #105018
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16244/)

[2021-08-13 13:45] elasticmachine commented on #108529
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-13 13:50] elasticmachine commented on #108477
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-13 13:50] timroes commented on #108477
I think there is more information required here. What library file do you exactly mean? Kibana isn't offered anyhow as a library, and only within the product. Are you writing a custom plugin and want to convert a KQL string in your plugin into Query DSL?

[2021-08-13 13:55] dgieselaar opened #108539 "[APM] Hash-based links into APM app don't work"
The APM app ignores hash-based links, e.g. the one that's coming from Uptime:

/app/apm#/services?kuery=url.domain:%20%22foo%22&rangeFrom=now-15m&rangeTo=now

This is broken since we've added typed client-side routes in https://github.com/elastic/kibana/pull/104274.

[2021-08-13 13:55] elasticmachine commented on #108539
Pinging @elastic/apm-ui (Team:apm)

[2021-08-13 14:14] jasonrhodes opened #108543 "[Stack Monitoring] Manually test package-driven collection"
Step 1: Make sure we get the aliases merged into 7.x (without merging the removal of the xpack.enabled fork)
* [ ] https://github.com/elastic/beats/pull/24427

Step 2: Watch for packages as they become available, confirm that they work as expected for us, work with @sayden to iron out any problems.

* [ ] https://github.com/elastic/integrations/pull/1365
* [ ] https://github.com/elastic/integratio

[2021-08-13 14:15] elasticmachine commented on #108543
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-13 14:23] joshdover commented on #74353
It's possible to make an asset global and be shared to all current and future spaces, and I think this likely a reasonable default for Fleet assets. However, I do think we'll want to include flows for only sharing the assets into certain spaces. This would help improve the experience for when a user is assigned a role that has specific index and Kibana Space privileges where they don't have access

[2021-08-13 14:38] jportner commented on #74353
Yeah, the flyout in its current design is focused on a single target object, but it does technically support sharing multiple objects. The API also supports sharing multiple objects. The current design is:
1. Load the flyout and pass in a target object
2. The flyout fetches all outbound references (including transitive references) of that object
3. The user selects or deselects space(s)
3. When th

[2021-08-13 14:42] gmmorris commented on #19346
@arisonl do we want an equivalent feature request for Kibana Alerting's Slack action?

[2021-08-13 14:44] katefarrar commented on #104095
Closing and adding this to https://github.com/elastic/kibana/issues/104094 since they are so closely tied together.

[2021-08-13 14:51] Hhhhelix commented on #108477
yes,so anything can help me?

[2021-08-13 15:01] jasonrhodes commented on #106432
This work is not possible without significant risk, so we have opted for a different solution: https://github.com/elastic/kibana/pull/108506

[2021-08-13 15:01] #106432 closed

[2021-08-13 15:06] ThomThomson opened #108548 "[Dashboard] Allow App State Modifications Via URL"
**When is Dashboard state read from URL**

After https://github.com/elastic/kibana/pull/97941, in 7.14.0, dashboard state is only read and updated from the URL once on app load. The state is then removed from the URL and backed up in the session storage and redux state.

Some use cases, like https://github.com/elastic/kibana/issues/108433#issuecomment-898276362 require app state to be modified pro

[2021-08-13 15:06] elasticmachine commented on #108548
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-13 15:07] YulNaumenko commented on #62854
@pmuellr can we close this issue? We believe this is already implemented.

[2021-08-13 15:07] #62854 closed

[2021-08-13 15:09] YulNaumenko commented on #63257
We've added recent fields to the event log documents and follow up issues will be created as needed.

[2021-08-13 15:09] #63257 closed

[2021-08-13 15:10] ThomThomson commented on #108433
Hi @fp185001, unfortunately this proposal will not change the behaviour you are seeing. This proposal is in regards to _generating_ the snapshot URLs, not _applying_ them to the dashboard.

That said, the issue you are experiencing is a real consequence of us removing App state from the Dashboard URLs in https://github.com/elastic/kibana/pull/97941. This is a strategic decision which simplifies th

[2021-08-13 15:12] YulNaumenko commented on #63393
Is it still a request from @elastic/stack-monitoring ? cc @chrisronline

[2021-08-13 15:15] #63755 closed

[2021-08-13 15:25] #64674 closed

[2021-08-13 15:27] YulNaumenko commented on #64920
Closing in favor of removing configuration

[2021-08-13 15:27] #64920 closed

[2021-08-13 15:40] YulNaumenko commented on #67661
@aris, @Kushmaro is it still a requirement?

[2021-08-13 15:45] YulNaumenko commented on #67863
@arisonl do you have more concrete customers enhancements for this?

[2021-08-13 15:47] mostlyjason opened #108554 "[Integrations] Add a link to the ILM policy in the integration policy editor"
A problem with our current UX for integrations is that users don't have an easy way to discover or change their data retention settings when they are adding data to Elastic. The current experience is that the user adds an integration. They then have to understand that this integration adds data streams, which have index templates and ILM policies. They also have to understand that they can change

[2021-08-13 15:47] elasticmachine commented on #108554
Pinging @elastic/fleet (Team:Fleet)

[2021-08-13 15:48] VladLasitsa commented on #93027
@flash1293 I cannot reproduce this issue on 7.13. I see this behavior:

https://user-images.githubusercontent.com/16915480/129385132-f0abf0fe-f06b-4cea-b1b6-276cb1cdc885.mp4

Is it right behavior?

[2021-08-13 15:48] YulNaumenko commented on #69436
Not using this any more.

[2021-08-13 15:48] #69436 closed

[2021-08-13 15:48] lukasolson commented on #108477
We use GitHub to track feature requests and bug reports. Please do not submit issues for questions about how to use features of Kibana, how to set Kibana up, best practices, or development related help.

However, we do want to help! Head on over to our official Kibana forums and ask your questions there. In additional to awesome, knowledgeable community contributors, core Kibana developers are on

[2021-08-13 15:48] #108477 closed

[2021-08-13 15:52] mattkime commented on #108529
@d4nnyx-cz You can follow https://github.com/elastic/kibana/issues/100139 for resolution of this problem.

That said, I'm surprised you're seeing this problem. You could provide a har file capturing the problem?

How many index patterns do you have? How many indices? How many shards? Are you using Role Based Access Control?

[2021-08-13 15:53] ravikesarwani commented on #88423
7.10 does not support multiple rules/alerts for the same rule/alert type and so in 7.10 you cannot set different slack connector for each cluster (you are monitoring) if you are consolidating monitoring data from different clusters into the same monitoring cluster.

In 7.10 the way to do that would be to setup separate monitoring cluster if you want to manage different configurations for different

[2021-08-13 15:59] ravikesarwani commented on #108142
We are tracking the discussion on this via issue https://github.com/elastic/kibana/issues/105659 and have a solution for this to be worked on via issue https://github.com/elastic/kibana/issues/96800

[2021-08-13 16:02] #108121 closed

[2021-08-13 16:06] jasonrhodes commented on #108162
Update: we may want to just remove this column for now if we don't have time to make sure the rule types are indexing the severity value.

[2021-08-13 16:06] mostlyjason commented on #108554
Mockup to help illustrate the concept (not final)
![image](https://user-images.githubusercontent.com/6370704/129387721-6f60cd32-7158-49ac-aa43-54246a58d05d.png)

[2021-08-13 16:07] #108275 closed

[2021-08-13 16:24] #72502 closed

[2021-08-13 16:36] d4nnyx-cz commented on #108529
Right now I cannot replicate the issue, maybe it can be replicated in high load at work hours. I'll try on Monday.

Almost 300 index patterns, cluster has 45TB, 10K indices, 43K shards and yeah, we are using RBAC (Idk if it has something to do with this, but same type of overload (meaning Elasticsearch node stops respond and cannot rejoin the cluster) comes from my RBAC issue [#108533](https://git

[2021-08-13 16:46] simianhacker opened #108564 "[Metrics UI] Use new gauge fields for ALL metrics in Inventory View"
### Motivation

Metricbeat is now shipping a new set of fields for CPU, Memory, Network and Load as gauges. This will allow us to change the amount of data we query to just "the last 1 minute" and should increase performance of the Snapshot API.

### Considerations

- Give users a way to continue to use the "legacy" fields and aggregations by switching a flag in the configuration, `infra.legacy_da

[2021-08-13 16:46] elasticmachine commented on #108564
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-13 16:48] mattkime commented on #108529
@d4nnyx-cz

I think https://github.com/elastic/kibana/issues/108533 might be an ES problem. It may be worth seeing if you have the same problem when interacting with ES directly. If so, you might file a bug against ES.

Its unclear to me if the problem is occurring because one of the index patterns is problematic or because they're all being loaded. It seems like loading them all shouldn't overloa

[2021-08-13 16:51] katefarrar commented on #104094
@sorantis can you take a look at this and give any feedback you have? thanks!

[2021-08-13 16:53] lucabelluccini commented on #65697
Workaround to hide the time picker in embeddables - Add the following using the Expression Editor (or adding the CSS)
[code]

[2021-08-13 17:05] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16246/)

[2021-08-13 17:05] #92358 closed

[2021-08-13 17:05] #106698 closed

[2021-08-13 17:19] #107756 closed

[2021-08-13 17:34] neptunian opened #108573 "[Stack Monitoring] convert logstash and pagination directory to typescript"
As part of https://github.com/elastic/kibana/issues/106761 convert logstash and pagination directory to typescript

[2021-08-13 17:34] elasticmachine commented on #108573
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-13 17:46] kobelb commented on #74353
@jportner, please correct me if I'm wrong, but this will be possible in the future but it isn't currently possible. The Fleet packages include Dashboards, Visualizations, Saved Searches and Kibana Index Patterns. These will become "share capable" starting in 8.0, but they won't truly be able to be shared in multiple spaces until a later date.

We'll also want to be careful about now exacerbating t

[2021-08-13 17:46] jbudz commented on #86042
I believe this is resolved with #97884.  Testing 7.14.0:

[code]

[2021-08-13 17:46] #86042 closed

[2021-08-13 17:57] lukeelmers commented on #40768
Closing as this is pretty outdated at this point -- @mshustov feel free to re-open if you had a reason you wanted to keep track of this.

[2021-08-13 17:57] #40768 closed

[2021-08-13 17:59] mattkime commented on #105578
I need to correct my previous statement. All the runtime fields can be sent. They'll all be compiled but they'll only execute as needed. There shouldn't be a noticeable performance decrease.

[2021-08-13 18:08] d4nnyx-cz commented on #108529
@mattkime Ok, thanks for advice, I'll try.

I think there is no problematic index pattern, the index patterns which fail are not always the same, they are different. I tried to delete those which has more than 2K fields, but that wasn't helpful.

[2021-08-13 18:27] jbudz commented on #63501
Resolved with https://github.com/elastic/kibana/pull/89437

[2021-08-13 18:27] #63501 closed

[2021-08-13 18:40] jbudz commented on #11956
This error can happen when assets are partially loaded - rate limiting, function errors, and a bug in an older version of Node are possible causes.

We haven't seen any reports of this in recent 7.x versions, so I'm going to close this out as stale

[2021-08-13 18:40] #11956 closed

[2021-08-13 19:04] jbudz commented on #11475
Closing this out, no activity here.

[2021-08-13 19:04] #11475 closed

[2021-08-13 19:09] jbudz commented on #12629
This should be resolved

[code]

[2021-08-13 19:09] #12629 closed

[2021-08-13 19:23] A-Hall opened #108584 "[Fleet] Automatic update of installed integrations"
**Describe the feature:**

Allow for installed integrations to be automatically updated, instead of having to remove and re-add the integration.

The pain point here is that the integrations that have been added to an agent profile have to be entirely reconfigured when the integration is updated.  This is especially problematic for the custom Windows event log integration, which has to be added to

[2021-08-13 19:27] jbudz commented on #15692
This docs section has been rewritten to recommend multiple elasticsearch hosts instead.  Closing this out

[2021-08-13 19:27] #15692 closed

[2021-08-13 19:30] A-Hall opened #108585 "[Fleet] Enhance integration UX with update information"
**Describe the feature:**

Add UI feedback to alert users there are integration upgrades available.   Separate reminders would be very helpful on the Fleet page to remind the user that the agent profiles themselves need to have the integrations updated.  Also, exposing the change log of changes in the integrations would be nice if feasible.

[2021-08-13 19:36] thomasneirynck opened #108587 "[Maps] Drawings do not show when there is a global filter"
**Kibana version:**

7.14

**Describe the bug:**

Shape does not show when there is a global filter

**Steps to reproduce:**
1. Open Maps
2. Add query to the search bar (e.g. "foobar")
3. Add drawing layer
4. draw shape

**Expected behavior:**

Shape shows after finishing drawing

**Any additional context:**

This is because the filter is applied, hiding the shape. Should not allow editing feature

[2021-08-13 19:36] elasticmachine commented on #108587
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-13 19:38] #94327 closed

[2021-08-13 19:55] kevinlog opened #108595 "Kibana logs has Endpoint Artifact not found errors after upgrade to 7.14 from 7.13."
**Kibana version:**
7.14

**Elasticsearch version:**
7.14

**Original install method (e.g. download page, yum, from source, etc.):**
Self installed

**Describe the bug:**
A user upgraded their stack from 7.13 to 7.14 and encountered the follow log in Kibana indicating that it cannot find an Endpoint artifact.

[code]

**Steps to reproduce:**
1. Install 7.13 stack and deploy 2 Fleet servers
2. Depl

[2021-08-13 19:55] elasticmachine commented on #108595
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-13 20:04] tsullivan commented on #108134
closed via https://github.com/elastic/kibana/pull/108586

[2021-08-13 20:04] #108134 closed

[2021-08-13 20:06] mdefazio opened #108597 "Remove EuiPanel padding and shadow around Alerts DataGrid"
EuiPanel shadow and padding should be removed so Alerts table aligns with edge of content area

![image](https://user-images.githubusercontent.com/3756330/129413414-ffe19e6d-02f0-4e4e-92c4-6799d6664c47.png)

[2021-08-13 20:07] tsullivan commented on #105868
@stacey-gammon I've updated the issue title and description

[2021-08-13 20:20] debadair opened #108601 "Add UTM parameters to links to the docs so we can track how often users click them"
By adding utm_* parameters to _Learn more_ links and other links from the Kibana UI to the documentation, we can use Google Analytics to monitor how often users access the docs from Kibana. This can give us insight into where users need more information to complete their task and what types of links generate the most clicks.

This will help us identify places where users get derailed during the on

[2021-08-13 20:20] elasticmachine commented on #108601
Pinging @elastic/kibana-docs (Team:Docs)

[2021-08-13 20:29] mostlyjason commented on #74353
These are both excellent points! We want to improve adoption of Integrations and that means requiring users to have fewer permissions in order to use them. This plus the ability to reduce the clutter as @kobelb points are seem like good reasons to consider the cases when users don't have permissions to all spaces or indices, or don't want to add an integration to all spaces.

I also wonder how com

[2021-08-13 20:29] ymao1 opened #108602 "[Alerting][Docs] Update docs regarding API keys to be more explicit."
We have a [section in the Alerting docs](https://www.elastic.co/guide/en/kibana/master/alerting-setup.html#alerting-authorization) that touches on API key usage. We need to clarify that
* disabling/re-enabling a rule will regenerate an API key (docs only say create/update)
* there is potential for role escalation if a user different than the rule creator updates/enables/disables the rule (this is

[2021-08-13 20:29] elasticmachine commented on #108602
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-13 20:37] debadair commented on #108601
I'm no Google Analytics expert, but I think this entails adding three parameters to each link:  utm_source, utm_medium, and utm_campaign. (At least [this article ](https://support.google.com/analytics/answer/1033863?hl=en#zippy=%2Cin-this-article) seems to indicate that all three are required.)

So, our links would look something like:

https://www.elastic.co/guide/en/elasticsearch/reference/curre

[2021-08-13 20:49] dborodyansky commented on #108305
Thank you for the valuable feedback, @cjcenizal. We have come to similar realizations through testing and would appreciate follow up feedback on revised ideas.

We have found users to need help with Painless syntax and are considering providing guidance as samples in the editor which may be used as a starting point for manipulation. (cc: @elastic-jb)

In the preview panel, we expect referencing ex

[2021-08-13 21:21] cjcenizal commented on #107215
https://github.com/elastic/kibana/pull/108318 implements a stop-gap solution, which requires migration to an internal copy of EuiCodeEditor. This checklist will track that work.

## Plugins

### ES UI shared

- [ ] src/plugins/es_ui_shared/public/components/json_editor/json_editor.tsx - Convert to `CodeEditor`

`JsonEditor` is consumed by:
* Index Management
* Ingest Node Pipelines

### Grok Debug

[2021-08-13 21:25] brianseeders commented on #79728
I think this is pretty close to complete. Take a look here: https://kb-8-0.demo.kibana.dev/

I have a job that runs daily that will build Kibana and update the environment. When we backport to 7.x, it will automatically create new ones for each new minor version as well.

The Elasticsearch docker image that we currently build on a daily basis doesn't work with ECK. Digging into that should be the

[2021-08-13 21:34] cjcenizal commented on #108305
I think it'd be helpful to have a working script, with a commented-out example of how you'd refer to a field value (example below). I'd be wary of bloating this input with too much default content, since it might become annoying for users as they become more comfortable with Painless. If we have many ideas for handy pre-built scripts, then I think it'd be better to supplement this with a menu for

[2021-08-13 21:41] marshallmain opened #108607 "[RAC] Populate alert status field with allowed values"
Per the latest [Alerts as Data schema definition](https://docs.google.com/spreadsheets/d/1Cqv0bRx1BgY6VP9PY4FK6kppUEZJ5qMPoFgr5_XQXJI/edit#gid=1775019155), the alert status field `kibana.alert.status` is expected to be populated with either `active` or `recovered`. A number of places in Kibana are populating this field with `open` or `closed`. We need to audit each of these places, determine if th

[2021-08-13 21:42] elasticmachine commented on #108607
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-13 21:42] elasticmachine commented on #108607
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-13 21:48] lukeelmers commented on #107539
I believe @joshdover and @mattkime are currently looking into this.

[2021-08-13 22:12] bhavyarm opened #108609 "Maps full screen should abort if user clicks on browser back button(to dashboard)"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Server OS version:** cloud

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** User can get stuck on dashboard in full screen mode if he clicks on browser back button on maps.

**Steps to reproduce:**
1. Open a

[2021-08-13 22:12] elasticmachine commented on #108609
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-13 22:27] #105723 closed

[2021-08-13 23:10] mattkime commented on #108529
@d4nnyx-cz

We still need to define what exactly causes the problem. Many people are running 5k fields without trouble. I suspect the problem has more to do with hitting a large number (thousands) of indices with a single index pattern and there's a likely relationship with RBAC.

[2021-08-14 02:07] kibanamachine opened #108622 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/drag_and_drop·ts - lens app lens drag and drop tests keyboard drag and drop should drop a field to workspace"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16108/)

[2021-08-14 02:08] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16255/)

[2021-08-14 02:20] jportner commented on #74353
@kobelb Yes that's exactly right. Josh mentioned it when he said _"and users should already be able to use this for Fleet-installed assets (once these types are made shareable in 8.x)"_ but I'm probably taking my close proximity to this work for granted! It sounds like that point wasn't 100% clear, and it definitely bears repeating.

That's a fair point. So maybe [option (2) that I suggested above

[2021-08-14 03:05] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16256/)

[2021-08-14 03:48] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16257/)

[2021-08-14 03:48] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16257/)

[2021-08-14 03:49] kibanamachine opened #108625 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/hosts·ts - apis SecuritySolution Endpoints hosts Make sure that pagination is working in Hosts Table query"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16257/)

[2021-08-14 05:11] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16111/)

[2021-08-14 05:31] mattkime commented on #102512
closing since I haven't heard back. feel free to reopen if needed.

[2021-08-14 05:31] #102512 closed

[2021-08-14 06:56] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16113/)

[2021-08-14 10:07] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16263/)

[2021-08-14 10:49] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16264/)

[2021-08-14 11:07] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16118/)

[2021-08-14 11:25] #103115 closed

[2021-08-14 12:07] kibanamachine commented on #107028
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16119/)

[2021-08-14 13:54] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16120/)

[2021-08-14 14:22] kibanamachine commented on #106627
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16268/)

[2021-08-14 15:10] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16122/)

[2021-08-14 16:25] kibanamachine opened #108633 "Failing test: Jest Integration Tests.src/core/server/logging/integration_tests - RollingFileAppender `size-limit` policy with `numeric` strategy only keep the correct number of files"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16270/)

[2021-08-14 22:09] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16275/)

[2021-08-14 23:24] kibanamachine opened #108636 "Failing test: Chrome X-Pack Security Functional Tests (OpenID Connect).x-pack/test/security_functional/tests/oidc/url_capture·ts - security app - OIDC interactions URL capture "after each" hook for "can login preserving original URL""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16277/)

[2021-08-15 00:47] kibanamachine commented on #103273
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16278/)

[2021-08-15 01:51] Karrade7 commented on #85518
I see this moved to 8.1. Just wanted to mention the lens suggestions become more of a problem in 7.14 with formulas available and more lens options. I'm trying out a formula right now on a data table where I can't get Kibana to return because its waiting for one suggestion (the over time suggestion) The visualization works without a problem on a dashboard, but when I edit the visualization kibana

[2021-08-15 02:53] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16133/)

[2021-08-15 04:07] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16281/)

[2021-08-15 04:53] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16135/)

[2021-08-15 08:08] kibanamachine commented on #95376
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16139/)

[2021-08-15 13:04] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16144/)

[2021-08-15 13:08] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16290/)

[2021-08-15 13:48] #92125 closed

[2021-08-15 17:25] Kushmaro commented on #67661
Hey @YulNaumenko ! :)

IIRC the rationale for this one was to enable cloud  deployments with the  email functionality even if the cloud account is on a "standard" license.

I think * currently * , all Elastic Cloud deployments get assigned with the Enterprise license. However, I'm not sure if this will be the case  in the  future.

In any case, we'd  like Cloud users to be  able to use the cloud-s

[2021-08-15 22:48] kibanamachine opened #108640 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/tls·ts - apis SecuritySolution Endpoints Tls Test with Packetbeat Tls Overview Test Ensure data is returned for FlowTarget.Destination"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16300/)

[2021-08-15 23:11] ghudgins commented on #108442
centrally makes sense to me as well. it's what most stock apps do

[2021-08-16 00:29] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16155/)

[2021-08-16 01:53] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16156/)

[2021-08-16 05:04] kertal commented on #102132
@LeeDr I do agree, but to fix this we would need a redesign, to extract this functionality of our time picker that's not displayed when there is no time field

[2021-08-16 05:15] kertal commented on #102132
I really liked the solution @cristina-eleonora drafted a while ago , this would solve this issue
![Bildschirmfoto 2021-08-16 um 07 07 16](https://user-images.githubusercontent.com/463851/129514426-f7955771-7d8b-4675-bc82-5f7bdadafb13.png)

FYI @elastic/kibana-design

[2021-08-16 06:58] axw opened #108649 "[Fleet] Initiating package package installation immediately sets status to "installed""
**Kibana version:**

8.0.0-SNAPSHOT

**Elasticsearch version:**

8.0.0-SNAPSHOT

**Describe the bug:**

When installing a package through the Integrations app, the package status as reported by the API is immediately "installed" even before the Elasticsearch assets are created.

**Steps to reproduce:**
1. Visit `http://kibana/app/integrations/detail/apm-0.4.0/settings`, install the integration
2.

[2021-08-16 07:10] BBQigniter commented on #92156
you need a status bar in your browser for example - at home I use [Waterfox](https://www.waterfox.net/) for example which is based on Firefox.

[2021-08-16 07:14] #92286 closed

[2021-08-16 07:19] amolnater-qasource commented on #107952
Hi @mostlyjason

I added Fleet Server integration to a New Policy[User Created] and selected that policy.

Cloud build refer to the builds we deploy from: https://staging.found.no/login?redirectTo=%2Fhome
Similarly builds deployed from production and cloud-qa. We don't refer self-managed environments here.

Yes, @nchaulet we refer to this only.

Thanks

[2021-08-16 07:48] stratoula commented on #93027
I can't reproduce it either. When I switch to Ip range the field dropdown is reset so I need to select the IP. I am closing it but feel free to re-open it if we miss something.

[2021-08-16 07:48] #93027 closed

[2021-08-16 08:08] gmmorris commented on #108602
In [this issue](https://github.com/elastic/kibana/issues/106876) we're actually discussing changing this behaviour - so enable/disable will retain the original APIKey and this should make the behaviour less surprising (and would mean escalation only happens on _update_.

So I'd consider blocking this issue on https://github.com/elastic/kibana/issues/106876, though we can update the docs for 7.10-7

[2021-08-16 08:11] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16162/)

[2021-08-16 08:24] stratoula commented on #95614
The problem now is on editing the runtime field, the name is not set correctly
![image](https://user-images.githubusercontent.com/17003240/129533973-9ad7ee91-b546-4a10-942b-be438cab8392.png)

[2021-08-16 08:40] sorantis commented on #104094
@katefarrar
I wonder if moving the color gradient selector closer to the color legend would make more sense since these two are closely connected?
<img width="190" alt="Screen Shot 2021-08-16 at 10 38 39" src="https://user-images.githubusercontent.com/1685068/129535915-58cc2169-849f-4be5-ad15-d5badcc11381.png">

[2021-08-16 08:42] pgayvallet commented on #108127
This is correct, there isn't currently a way to generate a 'context' from ES to be used by the migration. The only option for now would be to fix the objects at read-time from a service when accessing them

[2021-08-16 08:49] mgiota commented on #108150
@katrin-freihofner What shall we do with the copy icon?

Regarding broken expand icon looks like there is a fix from Security team https://github.com/elastic/kibana/pull/108616. I am checkin it now. Shall we keep the icon if it is fixed? This way we will be consistent with Security team

[2021-08-16 08:53] banderror commented on #102089
@weltenwort @jasonrhodes this should be resolved after merging https://github.com/elastic/kibana/pull/108115
All the ACs should be ✅

[2021-08-16 08:56] banderror commented on #106428
Addressed in https://github.com/elastic/kibana/pull/108115

[2021-08-16 08:56] #106428 closed

[2021-08-16 08:57] banderror commented on #106421
Partially addressed in https://github.com/elastic/kibana/pull/108115

[2021-08-16 09:00] muskangulati-qasource commented on #104374
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147406

Thanks!

[2021-08-16 09:00] stratoula commented on #105874
This flakiness was solved in 7.14 from Joe

Here is the PR that solves this problem https://github.com/elastic/kibana/pull/102101

[2021-08-16 09:00] #105874 closed

[2021-08-16 09:00] stratoula commented on #105873
This flakiness was solved in 7.14 from Joe

Here is the PR that solves this problem https://github.com/elastic/kibana/pull/102101

[2021-08-16 09:00] #105873 closed

[2021-08-16 09:00] muskangulati-qasource commented on #104295
## Bug Conversion

- No testcase required as this feature for pending status was removed from 7.14.0

Thanks!

[2021-08-16 09:01] muskangulati-qasource commented on #104159
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147435

Thanks!

[2021-08-16 09:01] stratoula commented on #107622
I looked a bit into it. This will be solved when https://github.com/elastic/kibana/issues/97100 will be addressed

[2021-08-16 09:01] #107622 closed

[2021-08-16 09:02] muskangulati-qasource commented on #103972
## Bug Conversion

- Test-Case not required as this is a Dev Validation ticket

Thanks!

[2021-08-16 09:03] muskangulati-qasource commented on #103971
## Bug Conversion

- Test-Case not required as this is a Dev Validation ticket

Thanks!

[2021-08-16 09:04] muskangulati-qasource commented on #103871
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/147448

Thanks!

[2021-08-16 09:04] muskangulati-qasource commented on #103847
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/450

Thanks!

[2021-08-16 09:05] muskangulati-qasource commented on #103379
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/407

Thanks!

[2021-08-16 09:05] muskangulati-qasource commented on #103070
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/450

Thanks!

[2021-08-16 09:06] muskangulati-qasource commented on #103060
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/147406

Thanks!

[2021-08-16 09:06] muskangulati-qasource commented on #102884
## Bug Conversion

- No testcase required as this is an expected behavior

Thanks!

[2021-08-16 09:06] muskangulati-qasource commented on #102875
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147458

Thanks!

[2021-08-16 09:07] muskangulati-qasource commented on #102733
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/76954

Thanks!

[2021-08-16 09:13] deepikakeshav-qasource commented on #80470
Hi @MadameSheema ,

We have validated this ticket on ``` 7.15.0-SNAPSHOT ``` build and found that issue is **Still Occurring**.

**Build Details:**
[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/129540038-39f23b4b-4a03-42d5-bc58-76674039092a.png)

![image](https://user-images.githubusercontent.com/61860752/129539975-1495a0f2-1d8d-4c9b-aad1-28c5805a5664.png)

Tha

[2021-08-16 09:18] #69035 closed

[2021-08-16 09:19] sqren opened #108655 "[UX] Move UX app to separate app, instead of bundled with APM"
Move the UX codebase to a separate app. This could be a breaking change wrt permissions so should be done for 8.0.

[2021-08-16 09:19] elasticmachine commented on #108655
Pinging @elastic/uptime (Team:uptime)

[2021-08-16 09:24] sqren commented on #108655
Duplicate of https://github.com/elastic/kibana/issues/78430

[2021-08-16 09:24] #108655 closed

[2021-08-16 09:27] elasticmachine commented on #108154
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 09:27] elasticmachine commented on #108154
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 09:29] arvindersingh-qasource opened #108656 "[Security Solution] For JIRA connector, only "Email Address" is mentioned as field heading whereas field accepts both "Email address" and "Username" while creating new incident."
**Describe the bug**
For JIRA connector, only ```Email Address``` is mentioned as field heading whereas field accepts both ```Email address``` and ```Username``` while creating new incident.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana 7.15 Snapshot build must be available.

**Steps to Reproduce**
1. Navigate to ```Security ``

[2021-08-16 09:29] elasticmachine commented on #108656
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 09:29] arvindersingh-qasource commented on #108656
@manishgupta-qasource  Please review this bug .

[2021-08-16 09:30] gmmorris commented on #82925
This doesn't seem to be related to the Alerting framework, but rather specific usage by @elastic/stack-monitoring , so I'm removing our team's label (reducing noise in our backlog).

[2021-08-16 09:38] gmmorris commented on #107962
Marking as `core services` and `technical debt` as this directly relates to the Sharing of SO breaking changes in 8.0

[2021-08-16 09:57] elasticmachine commented on #108656
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 10:01] #108334 closed

[2021-08-16 10:02] elasticmachine commented on #108508
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 10:03] elasticmachine commented on #108501
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-16 10:06] deepikakeshav-qasource opened #108662 "[Security Solution] Host.ip are not formatted correctly."
**Describe the bug**
Host.ip are not formatted correctly.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. Alerts should be generated say: mimikatz

**Steps to Reproduce**
1. Navigate to alerts page.
2. click on "view details" icon of generated alerts
3. Click on table tab and search the host.ip
4. Obse

[2021-08-16 10:06] elasticmachine commented on #108662
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 10:06] deepikakeshav-qasource commented on #108662
@manishgupta-qasource Please review!!

[2021-08-16 10:07] elasticmachine commented on #108331
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-16 10:08] MadameSheema commented on #108331
@spong can we close it as a duplicate of #108283? Thanks :)

[2021-08-16 10:09] elasticmachine commented on #108662
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 10:09] gmmorris commented on #89564
I wonder if it makes sense to implement this at core level (so all SOs can support soft deletion)?

TBC I'm not saying this needs to be done by @elastic/kibana-core , we can contribute this effort to the platform, just thinking that it might make sense to do this as a core servoce rather than alerting specific

[2021-08-16 10:10] elasticmachine commented on #108345
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 10:13] pgayvallet commented on #106863
I don't think this is something that can be reproduced in production, as it requires to restart an instance at the same version and changing the `namespaceType` manually in the code, to have the document converted during the `OUTDATED_DOCUMENTS_SEARCH_READ` step on the target (already migrated) index.

In non-local envs, what you did is not possible, and the id-rename will only occur during the ve

[2021-08-16 10:22] MadameSheema commented on #107721
@ecezalp @rylnd can you please take a look at this? Thanks :)

[2021-08-16 10:24] kibanamachine opened #108664 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/settings/calendar_edit·ts - machine learning settings calendar edit "before all" hook for "updates jobs, groups and events""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16312/)

[2021-08-16 10:29] gmmorris commented on #77793
@arisonl @alexfrancoeur I think this issue is a near-duplicate of https://github.com/elastic/kibana/issues/89161 but not a 1-to-1 overlap.

Should they be merged into one? Should we dedup the parts that *are* the same?

cc @mikecote

[2021-08-16 10:36] weltenwort commented on #102089
Looks like the might be additional places where these indices are mentioned and must be adjusted, such as

https://github.com/elastic/kibana/blob/c2d5d1b6c26ea6658a7dadc27f5f860db3f4d5d1/packages/kbn-rule-data-utils/src/alerts_as_data_rbac.ts#L32-L39

[2021-08-16 10:37] afharo commented on #89564
I can definitely see others taking advantage of this feature.

Q: Should this soft-delete, have a policy that eventually removes the documents? I'm concerned about not giving the users a way to actually remove objects from their own product.

And, if we are removing the documents after such policy, wouldn't we jump into the same issue? Should RBAC have a _delete hook_ that also deletes the related

[2021-08-16 10:46] katrin-freihofner commented on #108150
@mgiota looks good, let's keep it that way.

[2021-08-16 11:05] VladLasitsa opened #108668 "Switching between some aggregations in `bucket` section for sibling aggregations breaks the visualization"
**Kibana version:**

master

**Describe the bug:**

When we switch between `Range` and `Ip Range` aggreagations in `bucket` section for sibling aggregations we get the error.

**Steps to reproduce:**
1. Open xy chart
2. Select sibling aggregation
3. Choose `Range` as aggregation for `bucket`
4. Choose `Ip Range` as aggregation for `bucket`
5. See the error "Cannot read property 'map' of undefined"

[2021-08-16 11:05] elasticmachine commented on #108668
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-16 11:07] #108150 closed

[2021-08-16 11:19] weltenwort opened #108670 "[RAC] Preserve lifecycle alert document changes for active alerts"
## :memo: Summary

The lifecycle alert executor factory currently completely overwrites the alert documents for ongoing, active alerts. This would reset the workflow status and other similar changes in the document.

:information_source: code changes might overlap with in-progress #108679

## :heavy_check_mark: Acceptance criteria

- The alert documents of ongoing, active alerts are updated instea

[2021-08-16 11:19] elasticmachine commented on #108670
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-16 11:23] mgiota commented on #108148
@weltenwort I think you got it right. This issue is about making sure we have at least a horizontal scrollbar that works well and reacts to size change of its container. At the moment while I keep resizing the browser, it doesn't do what it is supposed to do, whereas if I refresh the browser it works well and all columns get rendered within the scrollable area.

[2021-08-16 11:26] arvindersingh-qasource opened #108671 "[Security Solution] "Error fetching data" appears if user set status of ``` Case ``` again to currently selected status from Cases Page.."
**Describe the bug**
```Error fetching data``` appears if user set status of  ``` Case ``` again to currently selected status i.e. changing status from ```Open``` to ```Open``` and likewise ```Close``` to ```Close``` and ```In progress``` to ```In Progress```.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana 7.15 Snapshot build mu

[2021-08-16 11:26] elasticmachine commented on #108671
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 11:26] elasticmachine commented on #108671
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 11:27] arvindersingh-qasource commented on #108671
@manishgupta-qasource  Please review this bug.

[2021-08-16 11:28] manishgupta-qasource commented on #108671
Reviewed & assigned to @MadameSheema

[2021-08-16 11:35] elasticmachine commented on #108622
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-16 11:41] mistic commented on #106651
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 2c7548e
7.x/7.15: 3fdd43f

[2021-08-16 11:41] elasticmachine commented on #108625
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 11:41] elasticmachine commented on #108625
Pinging @elastic/siem (Team:SIEM)

[2021-08-16 11:43] LANopop opened #108674 "[Security Solution] SIEM Rules and Slack Connector - Fields empty when shown as available."
**Describe the bug:**
some fields are shown in kibana as available, but are empty when using in a the slack connector message

**Kibana/Elasticsearch Stack version:**
7.14 (Elastic Cloud)

**Server OS version:**
Elastic Cloud

**Browser and Browser OS versions:**
Version 92.0.4515.131 (Official Build) (64-bit)

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
SIEM Rules a

[2021-08-16 11:43] elasticmachine commented on #108674
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 11:45] mistic commented on #108352
This test keeps failing and looks flaky. Skipping for now.

master/8.0: b20ccd9
7.x/7.15: 862494f

[2021-08-16 11:46] elasticmachine commented on #107028
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-16 11:47] elasticmachine commented on #108633
Pinging @elastic/kibana-core (Team:Core)

[2021-08-16 11:48] ymao1 commented on #108602
Yes, this issue was meant to make the current docs more explicit since the linked issue likely won't be tackled by 7.15. There has been some concern that we make recommendations to enable/disable regularly for SDHs and the permissions impact is never clearly stated in the docs anywhere.

[2021-08-16 11:48] elasticmachine commented on #108636
Pinging @elastic/kibana-security (Team:Security)

[2021-08-16 11:50] elasticmachine commented on #108664
Pinging @elastic/ml-ui (:ml)

[2021-08-16 11:51] elasticmachine commented on #108640
Pinging @elastic/siem (Team:SIEM)

[2021-08-16 11:51] elasticmachine commented on #108640
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 11:54] mistic commented on #95614
This test keeps failing and looks flaky. Skipping for now.

master/8.0: e276554
7.x/7.15: ffc7752

[2021-08-16 11:55] elasticmachine commented on #108597
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 11:55] karanbirsingh-qasource opened #108675 "[Security Solution]manual refresh required on individual alert page after changing alert state"
**Describe the bug**
manual refresh required on individual alert page after changing alert state

**Build Details**
[code]
**Browsers**
all

**Precondition**
- Endpoint security should be installed.
- Generate few of the alerts

**Steps to Reproduce**
1. Go to Detection page
2. Go to the individual alert page from which user have generated alerts.
3. scroll down and note down the open alert counts

[2021-08-16 11:55] elasticmachine commented on #108675
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 11:57] manishgupta-qasource commented on #108675
Reviewed & Assigned to @MadameSheema

[2021-08-16 12:01] #66368 closed

[2021-08-16 12:05] mgiota opened #108676 "[RAC][Observability] Overflow icon in small screen resolutions looks broken"
In smaller screen resolutions the overflow icon looks broken.

Relates to https://github.com/elastic/kibana/pull/108502
<img width="543" alt="Screenshot 2021-08-16 at 14 04 27" src="https://user-images.githubusercontent.com/2852703/129560894-16eadbf8-3073-4008-9bb3-6a2c62ca86cd.png">

[2021-08-16 12:08] #108497 closed

[2021-08-16 12:11] elasticmachine commented on #108675
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-16 12:17] stacey-gammon commented on #105868
Thanks @tsullivan! I think that means we can remove the `breaking change` label now?

[2021-08-16 12:19] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16313/)

[2021-08-16 12:20] snide opened #108681 "[Discover] Flyout in Fullscreen mode needs to be full-height"
Discover's data grid when in full screen mode does not account for the header being missing when the flyout for each row is invoked.

![image](https://user-images.githubusercontent.com/324519/129562519-075189b9-2567-4967-b9a7-4d8c0fd527a3.png)

[2021-08-16 12:20] elasticmachine commented on #108681
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-08-16 12:20] elasticmachine commented on #108681
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-16 12:25] dokmic opened #108682 "[Expressions] Implement partial results demo plugin"
Part of #84051.

## Requirements
- Implement a demo plugin showing usage of the partial results.
- Provide functional tests to cover the partial results feature.

[2021-08-16 12:25] elasticmachine commented on #108682
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-16 12:27] #84051 closed

[2021-08-16 12:37] samratbhadra-qasource commented on #102455
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147558

Thanks!

[2021-08-16 12:38] samratbhadra-qasource commented on #102617
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147437

Thanks!

[2021-08-16 12:39] samratbhadra-qasource commented on #102608
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/407

Thanks!

[2021-08-16 12:39] muskangulati-qasource commented on #102448
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/34342

Thanks!

[2021-08-16 12:39] muskangulati-qasource commented on #102335
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/34376
    - https://elastic.testrail.io/index.php?/cases/view/450

Thanks!

[2021-08-16 12:40] muskangulati-qasource commented on #102333
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147559

Thanks!

[2021-08-16 12:40] samratbhadra-qasource commented on #102719
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/76955

Thanks!

[2021-08-16 12:40] samratbhadra-qasource commented on #102613
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/76973

Thanks!

[2021-08-16 12:41] samratbhadra-qasource commented on #102469
## Bug Conversion

- No Test case is required since it is expected behavior!

Thanks!

[2021-08-16 12:41] samratbhadra-qasource commented on #102456
## Bug Conversion

- Test-Case not required as this particular checkpoint is covered in the ' Isolate & Release Host from Cases' section :
       - https://elastic.testrail.io/index.php?/cases/view/147559

Thanks!

[2021-08-16 12:50] #101282 closed

[2021-08-16 12:59] arvindersingh-qasource commented on #102858
Hi @XavierM

We have validated this ticket on ``` 7.15.0 - SNAPSHOT ``` build and found that issue is still occurring.

### Build Details
[code]

### Please find below observations
![image (1)](https://user-images.githubusercontent.com/78947943/129567579-2ab7c441-937c-4b8c-8731-62a10b88f51c.png)

Thanks.

[2021-08-16 13:05] elasticmachine commented on #108584
Pinging @elastic/fleet (Team:Fleet)

[2021-08-16 13:06] elasticmachine commented on #108533
Pinging @elastic/kibana-security (Team:Security)

[2021-08-16 13:09] mandeepkaur-qasource opened #108692 "[Security Solution]UI is getting distorted on "Show Top" modal for fields having longer name."
**Description:**
UI is getting distorted on "Show Top" modal for fields having longer name.

**Build Details:**
Version: 7.15.0 Snapshot
Commit: aa12d107c38c5cda96fc32bcd1f8226df172826a
Build: 43370

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint Security and elastic agent should be installed
- Alerts should be generated.

**Steps to Reproduce:**
1. Cre

[2021-08-16 13:09] elasticmachine commented on #108692
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 13:10] #108181 closed

[2021-08-16 13:10] afharo commented on #108346
Q: Is this an HTTP Service `on401` hook or an Elasticsearch client's one?

If Elasticsearch client-only, shouldn't this re-authentication mechanism be implemented on the client-level `@elastic/elasticsearch-js`?

[2021-08-16 13:13] mandeepkaur-qasource commented on #108692
@manishgupta-qasource please review!!

[2021-08-16 13:17] legrego commented on #108533
Hi @d4nnyx-cz, this was resolved in the 7.14.0 release via https://github.com/elastic/kibana/pull/98681

[2021-08-16 13:17] elasticmachine commented on #108692
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 13:18] #106433 closed

[2021-08-16 13:22] mshustov commented on #108346
Yes, in the Elasticsearch service. Maybe we should decouple `auth` from `http` service as much as possible. Having this authc logic scattered across `http` and `elasticsearch` services may make it difficult to support it in the future.

Could you elaborate on the benefits of this approach? Right now the es client doesn't know about the `authc` mechanism but operates with provided credentials.

[2021-08-16 13:23] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16315/)

[2021-08-16 13:23] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16315/)

[2021-08-16 13:27] muskangulati-qasource commented on #102045
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
    - https://elastic.testrail.io/index.php?/cases/view/147437

Thanks!

[2021-08-16 13:27] muskangulati-qasource commented on #102044
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
    - https://elastic.testrail.io/index.php?/cases/view/147437

Thanks!

[2021-08-16 13:28] muskangulati-qasource commented on #101730
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
    - https://elastic.testrail.io/index.php?/cases/view/147405

Thanks!

[2021-08-16 13:28] muskangulati-qasource commented on #101729
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147405

Thanks!

[2021-08-16 13:28] muskangulati-qasource commented on #101706
## Bug Conversion

- Test-Case updated:
    - https://elastic.testrail.io/index.php?/cases/view/147439

Thanks!

[2021-08-16 13:28] muskangulati-qasource commented on #101577
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/147441

Thanks!

[2021-08-16 13:29] muskangulati-qasource commented on #101458
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/15145
    - https://elastic.testrail.io/index.php?/cases/view/15146

Thanks!

[2021-08-16 13:29] muskangulati-qasource commented on #101376
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/147435

Thanks!

[2021-08-16 13:29] muskangulati-qasource commented on #101264
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/147434

Thanks!

[2021-08-16 13:29] muskangulati-qasource commented on #100137
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/147435

Thanks!

[2021-08-16 13:30] muskangulati-qasource commented on #95075
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/15361

Thanks!

[2021-08-16 13:30] muskangulati-qasource commented on #88804
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/35314

Thanks!

[2021-08-16 13:31] muskangulati-qasource commented on #85545
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/34375

Thanks!

[2021-08-16 13:31] muskangulati-qasource commented on #102205
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/147434

Thanks!

[2021-08-16 13:32] muskangulati-qasource commented on #102206
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/147421

Thanks!

[2021-08-16 13:32] muskangulati-qasource commented on #102308
<html><body>

Exist | ##                   Bug Conversion                                                     - Test-Case not required as this particular checkpoint                   is already covered in the following test case:                       -                   https://elastic.testrail.io/index.php?/cases/view/28363                                                     Thanks!
-- | --

</b

[2021-08-16 13:32] muskangulati-qasource commented on #102331
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/147557

Thanks!

[2021-08-16 13:32] muskangulati-qasource commented on #102454
## Bug Conversion

- Test-Cases updated:
    - https://elastic.testrail.io/index.php?/cases/view/147455

Thanks!

[2021-08-16 13:35] karanbirsingh-qasource opened #108697 "[Security Solution]Incorrect Tool tip information for Array field"
**Describe the bug**
Incorrect Tool tip information for Array field

**Build Details**
[code]

**Browsers**
all

**Precondition**
- Endpoint security should be installed.
- Generate alert having array field . refer below dev hits

[code]
Create the custom rule with index: mydata
Rule name: My_rule
Description: testing
Run every: 5 seconds and Additional look-back time: 30000h

**Steps to Reproduce

[2021-08-16 13:35] elasticmachine commented on #108697
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 13:37] jportner commented on #108533
Closing as a duplicate of #47378

[2021-08-16 13:37] #108533 closed

[2021-08-16 13:38] manishgupta-qasource commented on #108697
Reviewed & assigned to @MadameSheema

[2021-08-16 13:39] sqren commented on #80311
Is this still relevant? If so, we'll pull this into 7.16 as a stretch goal.

I imagine we'll expose a React (or embeddable) component with the following interface:

[code]

[2021-08-16 13:41] elasticmachine commented on #108697
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 13:49] thomasneirynck commented on #108609
thx @bhavyarm , I can reproduce this easily. This seems to be a bug we've had for a while, I can repro on 7.13 as well.

[2021-08-16 13:53] #78122 closed

[2021-08-16 13:56] thomasneirynck commented on #108609
I think the issue is that the `full screen` button is not appearing in any app, when using the browser's page navigation.

the "Exit full screen button" is missing both form maps and dashbaords after enabling full-screen and then navigating back&forth

![image](https://user-images.githubusercontent.com/1833023/129575055-36bff485-4ff0-4fe3-8781-cfcb301211fb.png)

[2021-08-16 14:02] sorantis commented on #80311
still very much relevant. thanks @sqren

[2021-08-16 14:18] afharo commented on #108346
After syncing offline, I noticed I was missing some context. Dismiss my comment 😇

[2021-08-16 14:27] sqren opened #108707 "[APM] Investigate whether data views and runtime fields can mitigate breaking changes"
Blocked by: Elasticsearch

As it works today, if a new field is added by agent/server in 7.15 the UI must treat it as optional since indices created before 7.15 will not have this field.
This optionality can make some aggregations more difficult.

We want to investigate whether runtime fields together with data views (aka Kibana Index Patterns) can mitigate this my creating a runtime field that re

[2021-08-16 14:27] elasticmachine commented on #108707
Pinging @elastic/apm-ui (Team:apm)

[2021-08-16 14:29] rudolf opened #108708 "migrationsv2: Dynamically adjust batch size to prevent exceeding ES HTTP payload size"
As described in https://github.com/elastic/kibana/issues/107288 migrations can fail when they create batches of saved objects that are larger than the configured ES `http.max_content_length` (default 100Mb).

Since saved objects vary greatly in size from a few kb to several megabytes it's very difficult to choose an appropriate batch size for a given deployment. Documents like `siem-detection-engi

[2021-08-16 14:29] elasticmachine commented on #108708
Pinging @elastic/kibana-core (Team:Core)

[2021-08-16 14:32] mgiota commented on #108174
While testing this issue in my current branch, I noticed that Reason field is not clickable. I update now from master to verify that on master reason field is clickable to be able to test it.

[2021-08-16 14:36] kpollich opened #108709 "If is checked, show confirmation modal when user clicks upgrade package button that matches this"

[2021-08-16 14:36] #108709 closed

[2021-08-16 14:38] markov00 commented on #102628
Hi there, the tooltip time shown is always the value representing the start of the bucket, if you have a greater granularity like every week, month, day, it will show only the starting value, not the range of the bucket by default.
If you want you can change this behavior changing the tooltip header formatter like the following:
[code]

If instead you think this is an issue with the current shown

[2021-08-16 14:39] banderror commented on #102089
The Uptime index naming is being fixed in https://github.com/elastic/kibana/pull/108200

[2021-08-16 14:45] rudolf commented on #108708
Thoughts on implementation...

For simplicity we should continue to read batches of `migrations.batchSize`, theoretically reading a large batch could exceed Kibana's available heap, but this is currently a low risk.

So the dynamic batch size would only be relevant when indexing documents (the `bulkOverwriteTransformedDocuments` action). I see two alternatives:
 1. Use a library like `json-size` t

[2021-08-16 14:50] andrewvc opened #108710 "[Uptime] Add Info EuiCallOut for browser re: complete image"
The browser integration for synthetics will only work with the new "complete" elastic – agent docker image. There is no current way of enforcing this requirement so the best we can do is document it. We should add an EuiCallOut at the `info` level with the text:

[2021-08-16 14:50] elasticmachine commented on #108710
Pinging @elastic/uptime (Team:uptime)

[2021-08-16 14:51] afharo opened #108711 "Use the `data` plugin's index-pattern APIs for the "Should show the interstitial page" validation"
There are plans to block plugins from accessing the `index-patterns` SOs (#91715).

We use it in the Home plugin to validate whether we should show the interstitial page or not: `src/plugins/home/public/application/components/home.js:78`

Let's use the `data` plugin's APIs to run those validations.

[2021-08-16 14:51] kibanamachine commented on #95614
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16169/)

[2021-08-16 14:52] rudolf commented on #108708
Duplicate of https://github.com/elastic/kibana/issues/107641

[2021-08-16 14:52] #108708 closed

[2021-08-16 14:53] pgayvallet commented on #71550
Just some technical pointers in case we decide to perform any change:

https://github.com/elastic/kibana/blob/523cd0fbe51f1acbdf2c64a2acb8a0efc94ff7f9/src/core/public/chrome/ui/header/header.tsx#L121-L122

https://github.com/elastic/kibana/blob/bb4e0cc1fc2cbefa4570561b7eb23785981b382b/src/core/public/chrome/chrome_service.tsx#L224

[2021-08-16 14:56] rudolf commented on #107641
In one case this was caused by `siem-detection-engine-rule-status` documents, when a rule fails it includes the failure log (I believe this is the case for other rule status types too). In this specific case the failure log was extremely long (log line was truncated so unable to say exactly what size it is) and there were probably many rule status documents. In the past there was also `canvas-work

[2021-08-16 14:57] rudolf commented on #107641
Only saw this after creating my own issue which I now closed as a duplicate. From https://github.com/elastic/kibana/issues/108708

Thoughts on implementation...

For simplicity we should continue to read batches of migrations.batchSize, theoretically reading a large batch could exceed Kibana's available heap, but this is currently a low risk.

So the dynamic batch size would only be relevant when

[2021-08-16 14:58] afharo commented on #66405
@azasypkin your comment makes sense to me. However, the error message seems a bit off: `"License is not available."` on a 503 response _seems_ unrelated to an authentication issue.

What do you think?

[2021-08-16 15:01] simianhacker opened #108713 "[Metrics UI & Stack Monitoring] Basic Test Plan for 7.15.0"
## Instructions

Load the Docker configuration in the setup below and visit each section. The goal is to "play" around with the different UIs until you feel confident that the it "basically works".

## Setup

1. Use our Docker Testing Stack from Observability Dev: https://github.com/elastic/observability-dev/tree/master/tools/docker-testing-cluster
2. Run `ELASTIC_VERSION=7.15.0-SNAPSHOT docker co

[2021-08-16 15:01] elasticmachine commented on #108713
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-16 15:05] #108521 closed

[2021-08-16 15:06] paulb-elastic commented on #108142
Closing as tracking in the other issues

[2021-08-16 15:06] #108142 closed

[2021-08-16 15:10] mikecote opened #108716 "Missing telemetry to help remove alerting deprecated 7.x features"
|Deprecated?|Description|Telemetry questions|GitHub Issue|
|---|---|---|---|
|Yes, but more could be done|Legacy alert HTTP APIs|What percentage of clusters are using the legacy alert HTTP APIs? How many times per cluster? What is the breakdown by endpoint?|https://github.com/elastic/kibana/issues/90383|
|Yes, but more could be done|Legacy action HTTP APIs|What percentage of clusters are using the

[2021-08-16 15:10] elasticmachine commented on #108716
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-16 15:11] mshustov commented on #107641
What if we talk to the Elasticsearch team to include the actual request size and max allowed request size in the error response? So we can use these limits to lower the number of the object sent. This approach is quite similar to option (2), but it might be a bit more faster than halving the payload.

I agree it's rather low risk, but uncontrolled growth of SO size might sooner or later lead to th

[2021-08-16 15:22] afharo commented on #108711
cc @joshdover since he recently revisited that piece of logic in #108193

[2021-08-16 15:25] MadameSheema commented on #108662
@deepikakeshav-qasource can you please share the JSON data? Thanks :)

[2021-08-16 15:27] afharo commented on #98851
The fix has been merged in the `@elastic/eui` library. This issue will be closed when the module is published and upgraded.

The intention is to backport it to `7.15.0` and `7.14.1`.

cc @thompsongl

[2021-08-16 15:28] MadameSheema commented on #108656
@cybersecdiva can you please update the documentation? Thanks :)

[2021-08-16 15:29] MadameSheema commented on #108508
@deepikakeshav-qasource can you please validate the issue on the first BC? Thanks :)

[2021-08-16 15:31] elasticmachine commented on #108409
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-16 15:32] MadameSheema commented on #108345
@deepikakeshav-qasource can you please try to put spaces on the rule name? thanks :)

[2021-08-16 15:37] MadameSheema commented on #108156
Closing since this is the old table and we are not going to use it on 7.15.

[2021-08-16 15:37] #108156 closed

[2021-08-16 15:40] azasypkin commented on #66405
I'm definitely open to improving this if it's confusing, what would you suggest instead? In any case, let me explain our idea behind this snippet https://github.com/elastic/kibana/blob/65d3f49f000c766211a58b7c25f63d2fc2cf6df5/x-pack/plugins/security/server/authentication/authentication_service.ts#L105-L112

If request reaches `auth` hook we assume that ES was available previously (otherwise main H

[2021-08-16 15:41] jonathan-buttner commented on #108671
Thanks for reporting this. This is a very similar issue to this one: https://github.com/elastic/kibana/issues/104391 is boils down to the fact that an update request is being made where no values are being updated which causes the update API to respond with an error. I added this to the backlog to track prioritization.

[2021-08-16 15:42] alexwizp opened #108721 "[TSVB] Markdown variables are not available on the first rendering"
**Kibana version:**

**Describe the bug:**
[TSVB] Markdown variables are not available on the first rendering

**Steps to reproduce:**
1. Create or open TSVB visualization
2. Go to Markdown Tab
3. See the variables list - it should be populated
5. Refresh page

**Actual (wrong) behavior:**
`variables list  is empty`

**Any additional context:**
Regression of #97423. The PR above modify the default

[2021-08-16 15:43] elasticmachine commented on #108721
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-16 15:45] afharo opened #108723 "Advanced Settings: Can we improve the UX?"
Currently, Kibana's Advanced Settings page contains a long list of items to tweak its behaviour. On the top of that list, there's a warning "Caution! You can break stuff here". While this is mostly true in many of the settings, there are some others that are very safe, and that users may want to explore (i.e.: Dark Mode).

I wonder if having to find those _safe-to-change_ configurations in such a

[2021-08-16 15:45] elasticmachine commented on #108723
Pinging @elastic/kibana-core (Team:Core)

[2021-08-16 15:45] elasticmachine commented on #108723
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-08-16 15:46] jportner commented on #108636
Here is the full error from the CI run:
[code]

So the failure happened because of a 401 error, which is the most common cause of flaky tests that we see.

This code hasn't changed in the last 4 months, and [I don't see any other failed tests for URL capture](https://github.com/elastic/kibana/issues?q=is%3Aissue+%22URL+capture%22+label%3Afailed-test+).

I think it's safe to say this is a transient

[2021-08-16 15:48] afharo commented on #104124
We might need to sync with Metricbeat and Monitoring when applying these changes.

[2021-08-16 15:57] Dosant opened #108726 "Update index pattern redirect logic to handle default Fleet assets"
**Kibana version:**

7.14 - Cloud

**Elasticsearch version:**

7.14

**Describe the bug:**

This is the same as https://github.com/elastic/kibana/issues/107020 but for index pattern redirect logic:

Originally posted by @joshdover in https://github.com/elastic/kibana/issues/108294#issuecomment-897820516:

[2021-08-16 15:59] weltenwort commented on #107980
:information_source: A lightweight variant of this on the lifecycle/persistent-executor-level is in progress in #108679.

[2021-08-16 16:07] Dosant commented on #108294
We discussed with @joshdover, that the bug he was actually addressing got conflated with the more general problem of aligning the UX of empty states across solutions which this issue covers.
Created a separate issue to tackle index pattern redirect bug:  https://github.com/elastic/kibana/issues/108726

[2021-08-16 16:16] joshdover commented on #106048
Was a decision reached regarding allowing packages to opt-out of package policy auto-upgrades?

[2021-08-16 16:22] lukeelmers commented on #107678
Discussed this with @Rudolf and @pgayvallet -- The main concern with solution (2) is around how to handle SO references:
1. If there are any inbound references to the SO of an unknown type, they will break when we move the SO to an orphan index
    - Do we orphan the referring SOs as well to prevent breaking references? Depending on the number of references, this could mean removing a lot of extra

[2021-08-16 16:25] dmlemeshko commented on #102706
Dedicated [dashboard](https://kibana-stats.elastic.dev/s/load-testing/app/dashboards#/view/838e6fd0-fe9e-11eb-b0d6-81697ff344f7?_g=(filters:!(),query:(language:kuery,query:''),refreshInterval:(pause:!t,value:0),time:(from:now-24h%2Fh,to:now))) is created to represent test results.

Test Scenario: DemoJourney
Test runs: 3 each
Branch: master (cd3cc29133fada9254806f707e6b97698caa8a3a) vs execution-c

[2021-08-16 16:32] thomasneirynck opened #108729 "[Maps] No feedback when user has no permissions to create layer"
**Kibana version:**

7.14

**Describe the bug:**

when a user without permissions creates a layer, no feedback is given.

**Steps to reproduce:**
1. create user. don't assign creation roles
2. add drawing index in maps

-> error!

**Expected behavior:**

- should disable "create index layer" card (this is the preferred solution)
- should show error message after layer-creation

**Screenshots (if r

[2021-08-16 16:32] elasticmachine commented on #108729
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-16 16:36] thomasneirynck opened #108730 "[Maps] Documentation on drawing layer"
Add docs for drawing layer.

[2021-08-16 16:36] elasticmachine commented on #108730
Pinging @elastic/kibana-gis (Team:Geo)

[2021-08-16 16:42] afharo commented on #102704
should we consider a 4th option? [1] but sending to an Elastic-owned server (if users want to help us with performance metrics). What do you think?

[2021-08-16 16:48] katrin-freihofner opened #108733 "[RAC] Observability alerts view brakes when changing timeframe to "last 15 days""
**Kibana version:**
Internal edge cluster

**Browser version:**
Version 92.0.4515.107 (Official Build) (x86_64)

**Browser OS version:**
MacOS

**Describe the bug:**
The view does not properly load.
![Kapture 2021-08-16 at 18 45 37](https://user-images.githubusercontent.com/20965076/129599859-f5633cc5-8cc0-484b-b86d-919fc2b3c91e.gif)

**Steps to reproduce:**
1. Open the Observability alerts view
2

[2021-08-16 16:54] nickpeihl commented on #105264
@pmuellr Thanks for the feedback. You are most likely correct that I missed the error below the fold.

[2021-08-16 16:55] mshustov commented on #108723
That heavily depends on the final design of user-specific settings https://github.com/elastic/kibana/issues/17888 IIRC there was an idea to move user-specific settings closer to their context, for example within an app defining a setting.

[2021-08-16 16:55] afharo commented on #105758
This failed test might be related: https://github.com/elastic/kibana/issues/97942

[2021-08-16 16:58] thomasneirynck commented on #55520
adding 7.16 label on this. cc @nreese . adding equivalent of `min_doc_count` to Maps metric-aggs would close functional gap with region/coordinate-map.

[2021-08-16 17:04] simianhacker commented on #105779
Already implimented

[2021-08-16 17:04] #105779 closed

[2021-08-16 17:04] simianhacker commented on #105569
Already implemented

[2021-08-16 17:04] #105569 closed

[2021-08-16 17:06] nickpeihl commented on #102909
The `@elastic/eui` and `@elastic/charts` libraries are experiencing similar issues. See https://github.com/elastic/kibana/issues/105614

[2021-08-16 17:07] #108676 closed

[2021-08-16 17:08] cjcenizal commented on #95023
@sqren Can we delete the `techdebt` label and relabel this issue `technical debt`, which is more commonly used?

[2021-08-16 17:08] cjcenizal opened #108736 "Remove unused "json" mode from Mappings Editor"
The mappings editor [supports a "json" mode](https://github.com/elastic/kibana/blob/master/x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/document_fields.tsx#L40) which will render a `<JsonEditor>` instead of the fields tree:

![image](https://user-images.githubusercontent.com/1238659/129602020-7591ec58-c9d4-4f90-ba44-08ca34ee6e1e.png)

The

[2021-08-16 17:08] elasticmachine commented on #108736
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-16 17:09] #84669 closed

[2021-08-16 17:11] afharo commented on #101907
Additional thing to consider: multiple plugins could register the same UiSetting, and we should allow it, as long as they match the same format and validation.

[2021-08-16 17:21] ppf2 commented on #100268
A few more confusing aspects on (all) of our connector setup pages.

- The ordering of information is not ideal.  Connector network settings (e.g. customHostSettings) are more advanced settings and should be placed towards the end of the page, not at the every beginning
- Preconfigured connector type section does not indicate where to put these settings.  We just assume that users know it belongs

[2021-08-16 17:22] #106440 closed

[2021-08-16 17:23] thomasneirynck opened #108742 "[Maps] Migrate to MapLibre"
Migrate from Mapbox-gl to MapLibre

[2021-08-16 17:37] lukeelmers commented on #41439
Beats has moved away from this API in https://github.com/elastic/beats/pull/27220, which looks like it will make the cut for `7.15` 🤞

After further discussion, we've decided we will not remove this in 8.0, but rather we will:
- Mark the API as deprecated
- Add telemetry so we can track remaining usage of it now that Beats is no longer relying on it

We are okay with this tradeoff because of the r

[2021-08-16 17:48] pmuellr commented on #105264
So, somehow we'll want to ensure that some of the **Results** element is visible, after clicking the **Run** button (for example, with `scrollIntoView()`)

[2021-08-16 18:02] #94089 closed

[2021-08-16 18:02] #95839 closed

[2021-08-16 18:05] mshustov commented on #101907
Could you provide any real-world examples? It's not obvious why we should allow it. It creates ambiguity on ownership and creates implicit dependencies between plugins.

[2021-08-16 18:07] #108416 closed

[2021-08-16 18:09] cjcenizal opened #108754 "Update Watcher to use fixed_interval instead of interval"
In 8.0, Elasticsearch removes support for date histogram's `interval` in favor of `fixed_interval` and `calendar_interval`. Watcher currently depends upon `interval` (https://github.com/elastic/kibana/blob/master/x-pack/plugins/watcher/server/models/watch/threshold_watch/build_visualize_query.js#L29), which throws an API error that breaks the UI:

![image](https://user-images.githubusercontent.com

[2021-08-16 18:09] elasticmachine commented on #108754
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-16 18:11] jen-huang commented on #108333
It is acceptable at the moment to have `package` show in query bar as this is the field name we use behind the scenes even though UI copy refers to integrations.

[2021-08-16 18:11] #108333 closed

[2021-08-16 18:17] chrisronline opened #108757 "Provide way to easily "switch off alerts" in a running Kibana instance"
With the introduction of https://github.com/elastic/kibana/pull/108281, it will soon not be possible to disable the alerting/actions/task manager plugins which might be a useful feature for some if they need to temporarily disable all running alerts to isolate some performance or technical problem. We should figure out how we can achieve both of these things. Perhaps exposing a new config that dis

[2021-08-16 18:17] elasticmachine commented on #108757
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-16 18:17] jen-huang commented on #108327
Looks like this is happening because multiple values are being written to `event.dataset` field and the UI handles strings only, not arrays of strings:

![image](https://user-images.githubusercontent.com/1965714/129610642-e1845355-a07f-45b1-a337-1fc83c5a8567.png)

This looks like something the agent team should look at and confirm if these kind of values are expected (`metricbeat-json.log` doesn't

[2021-08-16 18:25] paulb-elastic commented on #108564
@sorantis, this was discussed in the team meeting earlier, and this has potentially quite big performance benefits, so should be taken into consideration when thinking about priority.

[2021-08-16 18:29] nreese commented on #108730
A good place to add this documentation would be on https://www.elastic.co/guide/en/kibana/current/import-geospatial-data.html.  That page already contains the permissions needed for geojson upload and they should be similar to drawing layer.

[2021-08-16 18:31] #95821 closed

[2021-08-16 18:39] weltenwort commented on #105237
related API documentation changes: #100039

[2021-08-16 18:52] mattkime opened #108762 "Data view management - remove legacy cross cluster search support"
Data view management queries twice to get index lists - once using the resolve endpoint and one using the search endpoint. The search endpoint was to support early 7.x and 6.last versions. This should no longer be needed once we're on >8.1. Verify before removing.

[2021-08-16 18:52] elasticmachine commented on #108762
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-16 19:00] spong commented on #108675
Related refresh issue upon status change: https://github.com/elastic/kibana/issues/108244

[2021-08-16 19:02] spong commented on #108331
@MadameSheema -- let's keep these separate for the time being in case #108283 doesn't end up being worked for `7.15`, that way we can at least get this style fix in.

[2021-08-16 19:03] kpollich commented on #106048
I spoke with @jen-huang offline a bit, and we need to make some validation fixes to the API targeted for 7.15 here.

We need to make use of existing validation logic when we attempt to upgrade package policies using this service helper:

https://github.com/elastic/kibana/blob/768957a2c2d5658267ecb88b6ce223a37ec8ad9e/x-pack/plugins/fleet/common/services/validate_package_policy.ts

The goal here is

[2021-08-16 19:07] gchaps commented on #107682
Currently, I see "Set up", "Add", "Welcome", and "Install".  I like Jason's suggestion to keep it simple and just use "Add data".  My recommendation is to use this text, which uses the language from [Jason's google doc](https://docs.google.com/document/d/1EoYp8Ae5nDk4P61_YCzbMKLi16t8KFW3amO4XUzDZks/edit?usp=sharing ).

See the google doc for copy on using Logs, APM, Uptime, and more.

[2021-08-16 19:14] ymao1 commented on #102251
Socialized the changes with Camilo via Google Doc and opened a few docs issues based on feedback ([#107888](https://github.com/elastic/kibana/issues/107888) and [#107889](https://github.com/elastic/kibana/issues/107889)). Closing this issue for now but can reopen if anything else comes up related to this.

[2021-08-16 19:14] #102251 closed

[2021-08-16 19:15] jen-huang commented on #108329
Looks like this is caused by lack of mappings on `log.*` fields. I also noticed that mappings are missing for a bunch of other fields like `monitoring.*` too:

This screenshot is from a `logs-elastic_agent.filebeat-*` from a 7.14 agent:

![image](https://user-images.githubusercontent.com/1965714/129616617-dca5d371-6815-4713-bc8d-da221cbe87b3.png)

Here is a sample response of
[code]
on my local ma

[2021-08-16 19:19] sorantis commented on #108564
++ agreed. This will also allow us to visualize cloud compute resource inventory, since our cloud integrations have also adopted these fields and report host metrics uniformly.

[2021-08-16 19:34] ryankeairns commented on #102132
FWIW, there are split opinions (pun intended) on the split button approach. That aside, I do like having the options closer to the button and we could simply use a second, icon-only button in lieu of a true split button design.

[2021-08-16 19:36] #107273 closed

[2021-08-16 19:41] katefarrar commented on #104094
I see your logic there, but after looking at Obs and the rest of Kibana, I wasn't able to find any examples where controls are paired with a legend (that I was able to find). I think it will be clearer to the user if the color controls are grouped with the rest of the controls for the page. This also keeps things consistent form a visual hierarchy perspective and follows a similar patterns we have

[2021-08-16 19:41] ryankeairns commented on #108723
+1 to Mikhail's reply.

User-level (and app-contextual) preferences is where I see the most impact. Perhaps some level of re-organizing could improve things, but I suspect it would be minimal toward improving adoption.

[2021-08-16 19:49] mikecote commented on #67661
@Kushmaro, you are good to go on this requirement now :) We have developed [preconfigured connectors](https://www.elastic.co/guide/en/kibana/current/pre-configured-connectors.html) for this use case. It can be used to pre-configure an [email connector](https://www.elastic.co/guide/en/kibana/current/email-action-type.html#preconfigured-email-configuration) on Cloud via kibana.yml configuration.

Ke

[2021-08-16 19:53] aleksmaus commented on #100393
So it looks like this involves some kibana side customizations for osquery manager specifically. Nothing at the integration package level that can help with this it seems. Thanks!

[2021-08-16 20:04] bhavyarm opened #108774 "Internal server error on task manager after api fail while installing metricbeat dashboards and generating reports"
**Kibana version:** 7.15.0 (latest 7.X snapshot)

**Elasticsearch version:** darwin_x86_64

**Server OS version:** Chrome latest

**Browser version:** OS X

**Browser OS version:** snapshots

**Original install method (e.g. download page, yum, from source, etc.):**  snapshots link

**Describe the bug:**  Please note - there is a related bug in beats - https://github.com/elastic/beats/issues/27036

[2021-08-16 20:04] elasticmachine commented on #108774
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-16 20:04] elasticmachine commented on #108774
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-08-16 20:04] jen-huang commented on #108584
Hi @A-Hall, we are actively working on this exact feature! https://github.com/elastic/kibana/issues/106048

I am closing this issue in favor of that one.

[2021-08-16 20:04] #108584 closed

[2021-08-16 20:10] pmuellr opened #108776 "[alerting][task manager] update wording in execution context properties"
In PR https://github.com/elastic/kibana/pull/108197, support was added to alerting and task manager to set the "executionContext", so that calls to ES will be sent with a header indicating the source of the ES call (task, alerting rule, etc).

Realized after the merge, that "alert" leaked through 🤦🏻.

I also thought we might want to tweak the strings that are being used anyway.  We should check ho

[2021-08-16 20:10] elasticmachine commented on #108776
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-16 20:12] elasticmachine commented on #108674
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-16 20:20] graphaelli commented on #107565
Sorry, notifications on your responses were filtered out.  I should have been more specific that this is data collected with the APM Integration, so the data goes into data streams matching the metrics ui's default patterns.