[2021-06-28 02:17] blankhang commented on #32237
here is the from [source ](https://github.com/deviantony/docker-elk)

[2021-06-28 04:07] kibanamachine opened #103430 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/reporting/download_csv·ts - dashboard Reporting Download CSV E-Commerce Data Download CSV export of a saved search panel"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15124/)

[2021-06-28 05:46] baurine commented on #94998
Hi all, I tried 7.13.0, this bug still exists. It costs me several seconds or even more than ten seconds to return a 4MB response, that's too slow.

This bug even exists in the official demo page, for example: [official demo page](https://demo.elastic.co/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-24h,to:now))&_a=(columns:!(),filters:!(),index:'filebeat-*',inte

[2021-06-28 05:48] Dosant commented on #94998
@baurine https://github.com/elastic/kibana/pull/97994 is merged, but not released yet. Should be available in the next minor 👍

[2021-06-28 05:49] dgieselaar commented on #102251
https://github.com/elastic/support-knowledge-articles/issues/1753

[2021-06-28 05:57] baurine commented on #94998
got it, thank you!

[2021-06-28 06:13] pgayvallet commented on #32237
@blankhang if you have a specific problem, please open a new issue with the detail and description.

[2021-06-28 06:15] pgayvallet commented on #21360
`createLegacyClass`: no occurrence found in master code. Closing.

[2021-06-28 06:15] #21360 closed

[2021-06-28 06:20] formgeist commented on #102499
Closing this review as most of the issues have been addressed or have separate issues already.

[2021-06-28 06:20] #102499 closed

[2021-06-28 06:28] elasticmachine commented on #103430
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-28 06:29] elasticmachine commented on #103395
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-28 06:30] elasticmachine commented on #103252
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 06:32] stratoula commented on #103252
@flash1293 I remember that we have seen this kind of error again. Am I right?

[2021-06-28 06:33] elasticmachine commented on #103215
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 06:34] elasticmachine commented on #103215
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-28 06:35] formgeist commented on #103397
@sqren I would argue that we'd need to improve the charts to be able to show a line chart in these cases not just dots. We need to look into what options we have available to connect them for a better visual.

[2021-06-28 06:46] ruflin commented on #103187
On top of the frozen idea, there could also be an additional flag "overwrite: true" or similar that in case it is set in the kibana.yml file it will always overwrite it in case /setup is called. It could be per field or the fully policy.

[2021-06-28 06:47] alpar-t commented on #103180
We have been playing around with the idea in cloud too. The description of this issue would I think work well for cloud  too, the only additional feature I see us needing is the ability to manually override the queue or move a PR to the front (maybe both). The reason is that we may have infrastructure PRs that we need to be able to merge very quickly as we might be responding to an incident in ESS

[2021-06-28 06:47] kibanamachine opened #103434 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/canvas/feature_controls/canvas_security·ts - Canvas app security feature controls global canvas all privileges allows a workpad to be created"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14985/)

[2021-06-28 07:09] karanbirsingh-qasource opened #103437 "[Security Solution][Action][Swimlane]: Unable to create record in application with id aBAWi7VptoHy0XHAm. Status: 500. Error: timeout of 60000ms exceeded. Reason: unknown"
**Describe the bug**
[Action][Swimlane]: Unable to create record in application with id aBAWi7VptoHy0XHAm. Status: 500. Error: timeout of 60000ms exceeded. Reason: unknown

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security should be installed.
3.Create Swimlane Case type connector.

**Steps to Repro

[2021-06-28 07:10] elasticmachine commented on #103437
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 07:13] deepikakeshav-qasource opened #103438 "[Security Solution] Close icon is displayed out of navigation"
**Description**
Close icon is displayed out of navigation

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Click on Navigation Icon ☰.
2. Observe that Close icon is displayed out of navigation

**Impacted Test case:**
N/A

**Actual Result:**
Close icon is displayed out of navigation

**Expected Result:**
Close

[2021-06-28 07:13] elasticmachine commented on #103438
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 07:13] deepikakeshav-qasource commented on #103438
@manishgupta-qasource Please review

[2021-06-28 07:16] flash1293 commented on #103252
This seems to be the root cause. This field is defined as `keyword` in a lot of places in the xpack es_archives. I didn't find a place where it's defined as `text`. @gmmorris do you have an idea what this could be caused by?

[2021-06-28 07:17] manishgupta-qasource commented on #103437
Reviewed & Assigned to @MadameSheema

[2021-06-28 07:18] manishgupta-qasource commented on #103438
Reviewed & Assigned to @MadameSheema

[2021-06-28 07:21] flash1293 commented on #88927
Good old `Failed to load resource: net::ERR_NETWORK_CHANGED`

[2021-06-28 07:21] flash1293 commented on #90723
Good old `Failed to load resource: net::ERR_NETWORK_CHANGED`

[2021-06-28 07:21] #90723 closed

[2021-06-28 07:38] simitt commented on #103187
What if Fleet had a concept of `default` values? In a package spec default values can already be configured. I assume package upgrades will create a similar problem for existing agent policies that have the integration configured? On upgrade, are default values from the newer package-spec only set if the existing policy doesn't contain any value for a specific field (in which case default value ch

[2021-06-28 07:45] dikshachauhan-qasource opened #103440 "Host not auto un-enrolled after provided time limit."
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** Linux, All

**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. APM and Fleet section should be there while creating deployments.
3. No agent should be deployed under test policy.

**Steps to reproduce:**
- Login to Kibana.
- Navigate to tes

[2021-06-28 07:46] elasticmachine commented on #103440
Pinging @elastic/fleet (Team:Fleet)

[2021-06-28 07:46] dikshachauhan-qasource commented on #103440
@manishgupta-qasource Please review

[2021-06-28 07:50] samratbhadra-qasource opened #103441 "[Security Solution] The name of Timeline is displaying untitled while navigating to different tabs."
**Describe the bug**
The name of Timeline is displaying untitled while navigating to different tabs.

**Build Details:**
Version: 7.14.0-SNAPSHOT
Commit: 67a71c75d2da40e49fba2620f488c9b4ce2467d2
Build number: 42089
Artifact: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Preconditions**
Elastic 7.14.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce**
Navigate to timel

[2021-06-28 07:50] elasticmachine commented on #103441
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 07:50] samratbhadra-qasource commented on #103441
@manishgupta-qasource Please review.

[2021-06-28 07:53] manishgupta-qasource commented on #103440
Reviewed & Assigned to @EricDavisX

[2021-06-28 07:53] amolnater-qasource opened #103442 "[Fleet]: Actions dropdown gets stuck on UI under Policy tab on clicking "View Policy"."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Policies tab and click "..." under Actions.
3. Select "View Policy".
4. Observe Actions dropdown is stuck on UI.

[2021-06-28 07:53] elasticmachine commented on #103442
Pinging @elastic/fleet (Team:Fleet)

[2021-06-28 07:54] amolnater-qasource commented on #103442
@manishgupta-qasource Please review.

[2021-06-28 07:55] amolnater-qasource commented on #103442
@EricDavisX FYI.

[2021-06-28 07:59] timroes commented on #103010
@Bamieh From my latest understanding the Upgrade Assistant is only working for major version upgrades? Thus not use-ful for our need here, where we're deprecating and removing advanced settings within a couple of minors. If the UA is useful also for minor upgrades we def (also?) want to link into this.

[2021-06-28 08:07] flash1293 commented on #103342
@jportner I can't reproduce this problem, it seems to work fine for me:
<img width="1341" alt="Screenshot 2021-06-28 at 10 06 00" src="https://user-images.githubusercontent.com/1508364/123601948-89482500-d7f8-11eb-8dc3-0c5a73857a45.png">

Could you check the latest master with a fresh bootstrap?

[2021-06-28 08:10] manishgupta-qasource commented on #103442
Reviewed & Assigned to @EricDavisX

[2021-06-28 08:11] karanbirsingh-qasource opened #103443 "[Security Solution]New Bottom Timeline drop area showing up for Analyzer under timeline and Notes section"
**Describe the bug**
New Bottom Timeline drop area showing up for Analyzer under timeline and Notes section

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security should be installed.
3.Detection or Prevention alert should be triggered on machine.

**Steps to Reproduce**
1.Go to Timeline .
2.Create time

[2021-06-28 08:11] elasticmachine commented on #103443
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 08:19] kertal opened #103444 "[Discover] Deangularize classic table"
**Prerequisite**
Before this should be started, all font-awesome icons (mainly table header sorting, and moving icons) should be replaced by EUI in a separate PR

Deangularize classic table use React. The classic table has to work in 2 ways:

1. "Infinite" scrolling on the main page - by scrolling down documents in batches of 50 are rendered

2. Paginated on Dashboards as saved search embeddable

[2021-06-28 08:19] elasticmachine commented on #103444
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 08:22] flash1293 commented on #99628
This will be fixed by https://github.com/elastic/kibana/issues/103279

Right now in these cases docvalues are used which are not preserving the original order.

[code]

returns

[code]

However using fields like this:

[code]

will return this:

[code]

[2021-06-28 08:23] dasansol92 commented on #101863
@kevinlog I guess this is expected. If you add a new entry and select the entry field type without selecting any value, this entry is ruled out. The error is showed when you select a value (or types something by yourself) and then removes the value to an empty state. At this point the error is displayed and you cannot save the event filter until fix it.
Let me know if that make sense to you or iwe

[2021-06-28 08:25] karanbirsingh-qasource opened #103445 "[Security Solution]Complete details of Timeline drop area not showing area under new bottom drop area opening."
**Describe the bug**
Complete details of Timeline drop area not showing area under new bottom drop area opening.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security should be installed.
3.Detection or Prevention alert should be triggered on machine.

**Steps to Reproduce**
1.Go to Timeline .
2.Create

[2021-06-28 08:25] elasticmachine commented on #103445
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 08:25] manishgupta-qasource commented on #103441
Reviewed & assigned to @MadameSheema

[2021-06-28 08:30] manishgupta-qasource commented on #103443
Reviewed & assigned to @MadameSheema

[2021-06-28 08:30] manishgupta-qasource commented on #103445
Reviewed & assigned to @MadameSheema

[2021-06-28 08:31] flash1293 commented on #103279
We should always use the fields API if possible - it will also fix this problem with docvalues: https://github.com/elastic/kibana/issues/99628

[2021-06-28 08:33] flash1293 commented on #102156
Realized this is a general issue with data grids and we should solve it upstream: https://github.com/elastic/eui/issues/4923

[2021-06-28 08:36] dasansol92 commented on #103060
@kevinlog Yes, that make sense! I will add a condition to prevent users create event filters for filebeat events.

[2021-06-28 08:38] slhck commented on #99624
I have done this migration again, and I was not able to reproduce this error. But I did make sure Elasticsearch was really started properly before migrating Kibana. It could have been a race condition where the check was executed from Kibana's side and then Elasticsearch wasn't available briefly, causing Kibana migrations to fail.

[2021-06-28 08:38] #99624 closed

[2021-06-28 08:39] elasticmachine commented on #103441
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 08:47] karanbirsingh-qasource opened #103447 "[Fleet] Bread Crumb "Polices" need to updated to "Agent Polices""
**Describe the bug**
Fleet Bread Crumb "Polices" need to updated to "Agent Polices"

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.

**Steps to Reproduce**
1.Go to Fleet Tab.
2.Click on Agent policies tab.
3.Observed that old name is showing under Bread Crumb.

**Actual Result**
Fleet Bread Crumb "Polices" is showin

[2021-06-28 08:47] MadameSheema commented on #103445
@karanbirsingh-qasource that is the expected behaviour, @angorayc can you please confirm? thanks

[2021-06-28 08:50] dgieselaar opened #103448 "[APM] Return operation name in _inspect response"
We name our ES searches, to have more appropriate names for spans (rather than the default generic ES endpoint), and to the terminal, to better correlate ES search request bodies to its corresponding operation. We should also output this name in the `_inspect` response that we use for debugging.

[2021-06-28 08:50] elasticmachine commented on #103448
Pinging @elastic/apm-ui (Team:apm)

[2021-06-28 08:51] dikshachauhan-qasource commented on #95442
Hi @jen-huang

Thanks for the feedback and sharing the main PR ticket id for follow up.

We will track further changes from there.

Thanks
QAS

[2021-06-28 08:52] dikshachauhan-qasource commented on #103250
Hi @jen-huang

Thanks for the feedback and sharing the main PR ticket id for follow up.

We will track further changes from there.

Thanks
QAS

[2021-06-28 08:53] elasticmachine commented on #103443
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 08:55] elasticmachine commented on #103438
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 08:56] MadameSheema commented on #103438
@semd @michaelolo24 not sure if this is in our scope, if not, can you please redirect to the correct team? thanks

[2021-06-28 08:57] dasansol92 commented on #103060
PR: https://github.com/elastic/kibana/compare/master...dasansol92:fix/olm-error_thrown_when_add_the_event_exception_for_Debian_OS-103060?expand=1

[2021-06-28 08:57] elasticmachine commented on #103437
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 08:57] MadameSheema commented on #103437
@cnasikas can you please take a look at this? thanks :)

[2021-06-28 08:59] elasticmachine commented on #103447
Pinging @elastic/fleet (Team:Fleet)

[2021-06-28 09:01] elasticmachine commented on #103229
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 09:02] MadameSheema commented on #103229
This is happening on 7.13.1 as well.

[2021-06-28 09:05] cnasikas commented on #103437
@MadameSheema @karanbirsingh-qasource Are you sure you have access to your test instance? This error indicates that. It should not be considered a bug. If this persist let me know.

[2021-06-28 09:05] karanbirsingh-qasource opened #103452 "[Security Solution]Global deep link Search not available for Events Filter ."
**Describe the bug**
Global deep link Search not available for Events Filter .

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Security App.
2.Search for "Administration".
3.Observed that global deep link search is missing for Event Filters tab

[2021-06-28 09:05] elasticmachine commented on #103452
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 09:17] elasticmachine commented on #103452
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 09:17] MadameSheema commented on #103452
@semd @michaelolo24 can you please take a look at this? Thanks :)

[2021-06-28 09:17] sophiec20 opened #103455 "[Transforms] top_metrics UI feedback"
Feedback on `top_metrics` UI in transforms (added in 7.14).

- [ ] select a better parent name

From the UI, we try to use a dest field naming convention that groups fields together. E.g. `CPU.min` and `CPU.max` are both children of  `CPU` . The UI workflow takes the initial selected field to use as the parent name.

Now `top_metrics` is available, this creates weird filenames as the initial field

[2021-06-28 09:17] elasticmachine commented on #103455
Pinging @elastic/ml-ui (:ml)

[2021-06-28 09:27] dasansol92 commented on #101706
PR: https://github.com/elastic/kibana/pull/103118

[2021-06-28 09:27] ppisljar commented on #87992
take a look at https://github.com/elastic/kibana/blob/master/src/plugins/kibana_utils/common/persistable_state/index.ts and please ping me on slack as this is probably not clear enough and docs are still missing. If alert type implements PersistableState interface it can provide inject and extract functions which should inject/extract SO references as well as object of versioned migrate functions.

[2021-06-28 09:30] sebelga commented on #89726
It all depends on the vision we have. I am all in to build incrementally and start small with a text field to add a description. But maybe this is the first stone for a collaborative feature in Kibana where user can see a history of comments for saved object or ES primitives (instead of the author adding a description to a field maybe it is a consumer who needs to ask "what is this field for?" and

[2021-06-28 09:35] estermv opened #103456 "[Stack monitoring] Add rules modal to listing page"
### Summary
This is a follow-up issue from https://github.com/elastic/kibana/issues/100133, to add the rules modal to the listing page in Stack Monitoring.

When rules were auto-created, they were created when the user was visiting the cluster page or the listing page. In https://github.com/elastic/kibana/pull/101565 the modal was added to the cluster page and this issue is to add it to the listin

[2021-06-28 09:35] elasticmachine commented on #103456
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-28 09:35] elasticmachine commented on #103456
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-28 09:41] timroes commented on #16548
I'll be closing this, given our move to [data grid](https://github.com/elastic/kibana/issues/61906), which will make those documents appear in a flyout, thus this request no longer being relevant.

[2021-06-28 09:41] #16548 closed

[2021-06-28 09:42] #10845 closed

[2021-06-28 09:43] estermv commented on #100133
I opened a PR for the first version of this: https://github.com/elastic/kibana/pull/101565.

I added the modal only on the cluster page. After looking a bit into the code and playing with it, I think I need a little bit more time to further investigate it since if I add it in the same way I added it on the cluster overview page it seems that there is something that is not working as I would expect

[2021-06-28 09:55] karanbirsingh-qasource opened #103457 "[Security Solution]Timeline details page width can be increased (horizontally) to have more readability"
**Describe the bug**
Timeline details page width can be increased (horizontally) to have more readability

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Security App.
2.Create Timeline.
3.Enter process.name: "mimikatz" in timeline search.
4.Cl

[2021-06-28 09:55] elasticmachine commented on #103457
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 09:56] karanbirsingh-qasource opened #103458 "[Enhancements] timeline’s view on 7.14.0"
## This issue is to keep track of all the enhancements to be done in new behavior of timeline’s flyout

- [x] New Bottom Timeline drop area showing up for Analyzer under timeline and Notes section  https://github.com/elastic/kibana/issues/103443
- [x] timeline flyout will cover will cover the entire view https://github.com/elastic/kibana/issues/103445
- [x] Timeline details page width can be incre

[2021-06-28 09:56] elasticmachine commented on #103458
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 09:59] deepikakeshav-qasource opened #103459 "[Security Solution] UI is broken and Id is displayed in description instead of Drag and drop area when click on "Timeline investigation" icon for Threshold Rule."
**Description**
UI is broken and Id is displayed in description instead of Drag and drop area when click on "Timeline investigation" icon for Threshold Rule.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Click on Detection tab of security.
2. Create the Threshold rule with below data:
-Add the query: process

[2021-06-28 09:59] elasticmachine commented on #103459
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 09:59] deepikakeshav-qasource commented on #103459
@manishgupta-qasource Please Review!!

[2021-06-28 10:01] elasticmachine commented on #103457
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-28 10:02] MadameSheema commented on #103457
@karanbirsingh-qasource note that the way the timeline is displayed now should be fixed before 7.14 and is going to be displayed as usual.

[2021-06-28 10:04] flash1293 commented on #103342
So far we didn't make sure this would work in general - I added a functional test for this here: https://github.com/elastic/kibana/pull/103460

[2021-06-28 10:05] karanbirsingh-qasource commented on #103457
ok thanks for update @MadameSheema , we keep take care of same for further timeline issues.

[2021-06-28 10:05] #90165 closed

[2021-06-28 10:05] #92648 closed

[2021-06-28 10:05] elasticmachine commented on #103459
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 10:06] MadameSheema commented on #103459
Thanks @deepikakeshav-qasource please note that before 7.14 release timeline should be displayed as usual, at the bottom of the page ;)

[2021-06-28 10:15] ppisljar commented on #103062
would that mean we get rid of the range select action  completely ? should we simplify the typing then and say that we always do range selection, but possibly `startdate === enddate` for the case of simple value click ?

[2021-06-28 10:25] peteharverson commented on #18156
Closing issue, as we now disable the 'Estimate bucket span' button in the advanced job wizard for jobs using `mlcategory` and the categorization job wizard does not show the 'Estimate bucket span' button.

[2021-06-28 10:25] #18156 closed

[2021-06-28 10:26] karanbirsingh-qasource opened #103464 "[Observability] Case Feature is not showing under Observability Application."
**Describe the bug**
[Observability] Case Feature is not showing under Observability Application.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Observability App.
2.Observed that Case Feature is not showing under the Observability Application

[2021-06-28 10:27] joshdover commented on #101579
This is no longer needed by any internal consumers. Closing, but feel free to reopen if a new use case comes up.

[2021-06-28 10:34] deepikakeshav-qasource commented on #102197
Hi @cnasikas ,

We tested this scenario with below steps on the latest 7.14.0-SNAPSHOT build and found that this issue is **Fixed**.

**Steps:**

Please find below the whole testing details:

**Build Details:**

[code]

**Screen Recording:**

https://user-images.githubusercontent.com/61860752/123622609-0dff6700-d82a-11eb-8fd1-3b29e7f2a832.mp4

Hence, We are closing this ticket and marking as "QA V

[2021-06-28 10:35] #102197 closed

[2021-06-28 11:07] peteharverson opened #103466 "[ML] Improve bucket span estimator for detectors running against sparse data"
**Found in version:** 7.14.0

The bucket span estimator in the anomaly detection wizards can fail to return an interval for configurations with partitioning fields when running against sparse data sets, displaying an error:

![image](https://user-images.githubusercontent.com/7405507/123625652-ded7fe00-d807-11eb-99ce-46a24b9a346c.png)

with messages in the server console of the form:

[code]

See t

[2021-06-28 11:07] elasticmachine commented on #103466
Pinging @elastic/ml-ui (:ml)

[2021-06-28 11:13] flash1293 commented on #103062
No strong opinion on how the API is going to look like

[2021-06-28 11:14] DaveCTurner commented on #100696
FWIW today we [officially recommend `net.ipv4.tcp_retries2=5`](https://www.elastic.co/guide/en/elasticsearch/reference/current/system-config-tcpretries.html) which gives a timeout of ~6s. Setting it to 6 roughly doubles that to ~12s which we feel to be too long.

[2021-06-28 11:16] manishgupta-qasource commented on #103447
Reviewed & Assigned to @jen-huang

[2021-06-28 11:17] manishgupta-qasource commented on #103452
Reviewed this bug

[2021-06-28 11:18] amolnater-qasource commented on #98498
Hi @EricDavisX

We have created 01 testcase for this ticket at link: [C147401](https://elastic.testrail.io/index.php?/cases/view/147401)

Thanks
QAS

[2021-06-28 11:21] elasticmachine commented on #103421
Pinging @elastic/kibana-security (Team:Security)

[2021-06-28 11:22] elasticmachine commented on #103434
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-28 11:24] karanbirsingh-qasource opened #103467 "[Security Solution]Glasses icon disappears if user select go to case tab from global search for Read Case Access."
**Describe the bug**
Glasses icon dissappears if user select go to case tab from global search for Read Case Access.

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.
3.Case should be present on above environment.

**Steps to Reproduce**
1.Go to case Tab.
2.Check the glasses ic

[2021-06-28 11:24] elasticmachine commented on #103467
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 11:26] manishgupta-qasource commented on #103467
Reviewed & assigned to @MadameSheema

[2021-06-28 11:31] manishgupta-qasource commented on #103458
Reviewed & Assigned to @angorayc

[2021-06-28 11:33] amolnater-qasource opened #103468 "[Fleet]: Unable to install standalone agent if APM & Fleet is disabled while creating kibana deployment."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.
2. APM & Fleet settings must be disabled while creating deployment.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and observe no "Add Agent" button

[2021-06-28 11:33] elasticmachine commented on #103468
Pinging @elastic/fleet (Team:Fleet)

[2021-06-28 11:33] amolnater-qasource commented on #103468
@manishgupta-qasource Please review.

[2021-06-28 11:36] flash1293 commented on #100346
When implementing this we can also get rid of the hardcoded debounce of 2s for rendering of suggestion charts - waiting for the main chart is a much better way of handling this: https://github.com/elastic/kibana/blob/b35cde568b6d25944ae94d41460fc0691e3abb9c/x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx#L97

[2021-06-28 11:36] majagrubic commented on #103239
I can't reproduce this. Which version is this happening in?

[2021-06-28 11:42] elasticmachine commented on #103467
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 11:46] shahzad31 opened #103469 "[Exploratory view] Displays distribution as percentages in charts"
**Describe the feature:**

Since lens has implemented overall count in https://github.com/elastic/kibana/pull/99461

we can use that to display distribution count as percentages in exploratory view

we should use that to achieve displaying percentages

Right now it displays as absolute count
![image](https://user-images.githubusercontent.com/3505601/123631608-3b8ee500-d817-11eb-84fb-c21b5b55b168.p

[2021-06-28 11:47] elasticmachine commented on #103469
Pinging @elastic/uptime (Team:uptime)

[2021-06-28 11:48] estermv commented on #100133
I was also checking the docs, @ravikesarwani, I guess we need to update this page https://www.elastic.co/guide/en/kibana/current/kibana-alerts.html, this sentence in particular:

How much detail do we have to add?

[2021-06-28 12:03] manishgupta-qasource commented on #103468
Reviewed & Assigned to @EricDavisX

[2021-06-28 12:09] stratoula opened #103472 "[TSVB] Geo_point should be excluded from terms aggregation"
When I create a TSVB visualization and select to group it by terms, I see fields with the `geo_point` type. I think that they should be excluded. Same for the table. When I am trying to create one, I see `geo_point` on the list.
TSVB will appear with `No results` (there is an error but is silent) but after this PR is merged https://github.com/elastic/kibana/pull/102926, it will show the error:
![i

[2021-06-28 12:09] elasticmachine commented on #103472
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 12:13] #100978 closed

[2021-06-28 12:14] weltenwort commented on #80669
It never did that. But the screenshots don't show the logs threshold alert but the generic index threshold alert.

[2021-06-28 12:17] mandeepkaur-qasource opened #103474 "[Security Solution][Enhancement] User friendly error message should be displayed if User tries to save a timeline 'Title' with blank or white spaces."
**Describe the bug**
A User friendly error message should be displayed if User tries to save a timeline 'Title' with blank or white spaces.

**Build Details:**
Version: 7.14.0-SNAPSHOT
Commit:67a71c75d2da40e49fba2620f488c9b4ce2467d2
Build:42089
Artifact Page : https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details**
All

**Preconditions**
1. Kibana user should be logged in.

[2021-06-28 12:17] elasticmachine commented on #103474
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 12:17] mandeepkaur-qasource commented on #103474
@manishgupta-qasource Please Review!!

[2021-06-28 12:30] manishgupta-qasource commented on #103474
Reviewed & Assigned to @MadameSheema

[2021-06-28 12:34] flash1293 commented on #103342
The functional test failed and I think I know the reason now - you need to have configured a default index pattern and it needs to have a default time field, otherwise the example won't render. @jportner could you check whether this is the case for you?

[2021-06-28 12:35] EricDavisX commented on #103440
@jen-huang @urso is this relating to the ephemeral agent work I guess?  I am not 100% if all work is in for that, can you help confirm / process on and review?

[2021-06-28 12:39] cnasikas commented on #103464
I think this PR will fix this issue: https://github.com/elastic/kibana/pull/102556

[2021-06-28 12:41] elasticmachine commented on #103474
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-28 12:42] machadoum commented on #100259
@monina-n I need some help here. It isn't possible to implement the requested behavior with the current layout. Currently, the timeline page takes 100% of the page size and has no scrolling. If the description and title take 90% of the page, there is only 10% left for the table. We would have to define a minimum table width and length and enable scrolling inside the timeline page.

To solve this i

[2021-06-28 12:42] timroes commented on #98764
@stacey-gammon Could you maybe clarify which exact errors we should test. I couldn't find (neither in the linked parent issue), the exact errors that could happen anyhow that we should test?

[2021-06-28 12:59] stacey-gammon commented on #98764
I don't think we need to test for a specific error situation, just that _any_ error or warning returned from the search API is caught and shown to the user. This is why I think it will be easiest to use the test module Jim merged to simulate an error and a warning failure and see what happens.  It may be more difficult than I think though because you need to hack the search request to include that

[2021-06-28 13:14] dgieselaar commented on #78122
Moving to 7.15 after discussing with @sqren. The feature to drop unsampled transactions is undocumented and experimental for now.

[2021-06-28 13:17] stacey-gammon commented on #100876
I was mistaken. I thought ES already had support for returning errors in the CCS silent data loss situation, but that is not implemented yet, so these scenarios cannot be tested. Apologies for the needless ping. Closing until that is implemented.

[2021-06-28 13:17] #100876 closed

[2021-06-28 13:18] stacey-gammon commented on #98764
Synced with Tim and Jim this am a bit. Shard errors are already apparently handled generically by data search services. I believe the only thing left is to ensure warnings in the response header are likewise handled generically and shown to the user.

[2021-06-28 13:21] jportner commented on #103342
Yes, I merged master and confirmed:
* Start Kibana, go directly to Embedded Lens Example page -- no example
* Go to Home page, add sample data, go back to Embedded Lens Example page -- I now see the example!

[2021-06-28 13:22] flash1293 commented on #103342
I will add a warning in this case to explain what's going on

[2021-06-28 13:27] semd commented on #103438
@MadameSheema We haven't added the close button, it probably comes from a EUI change

[2021-06-28 13:38] mshustov commented on #16493
@stacey-gammon I started working on https://github.com/elastic/kibana/issues/101587 Could you elaborate on a few moments:

Not all Kibana entities have SO, as you said. Maybe we should pass Kibana entity identifier? With this `id` we should be able to find an associated SO.

Do you mean the URL to a current Kibana entity (a visualization, for example)? the url to a SO? the current page URL?

[2021-06-28 13:43] dominiqueclarke opened #103480 "[Exploratory View] User Experience data type / Core Web Vitals report type displays inaccurate default breakdown"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 90.x

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the bug:**
When first initializing a core web vitals report for UX data, default breakdowns are applied. However, it is unclear what these default bre

[2021-06-28 13:43] elasticmachine commented on #103480
Pinging @elastic/uptime (Team:uptime)

[2021-06-28 13:44] stratoula commented on #102687
It seems that the popover hasn't opened

![image](https://user-images.githubusercontent.com/17003240/123646619-0d69cf00-d830-11eb-8e01-84380dbd19e7.png)

[2021-06-28 13:44] semd commented on #103452
@MadameSheema Yes, I already added `event filters` and `endpoints` in the global search here: https://github.com/elastic/kibana/pull/103275

[2021-06-28 13:46] stratoula commented on #97538
Something goes wrong with locating the saved viz

![image](https://user-images.githubusercontent.com/17003240/123646906-4f931080-d830-11eb-8efe-818e855e4283.png)

[2021-06-28 13:47] #100065 closed

[2021-06-28 13:51] stratoula commented on #89381
I am closing it as it hasn't failed for the last 3 months. It will automatically reopen if it fails then and we will investigate it then

[2021-06-28 13:51] #89381 closed

[2021-06-28 13:52] stratoula commented on #90117
I am closing it, this has failed only once
![image](https://user-images.githubusercontent.com/17003240/123647938-3343a380-d831-11eb-8c2f-32f3b08c24b2.png)

[2021-06-28 13:52] #90117 closed

[2021-06-28 14:05] alisonelizabeth opened #103486 "[Ingest Node Pipelines] Support output_format option in date processor"
Per the [date processor docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/date-processor.html), there is an optional parameter called `output_format`. This is not currently supported in the UI.

<img width="811" alt="Screen Shot 2021-06-28 at 10 01 29 AM" src="https://user-images.githubusercontent.com/5226211/123649667-f27b6880-d7f7-11eb-8ea2-229fb4d34c38.png">

[2021-06-28 14:05] elasticmachine commented on #103486
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-28 14:13] kobelb commented on #89287
Do we have more details on how authentication and authorization will work for interactive setup mode?

[2021-06-28 14:16] dasansol92 commented on #103379
PR: https://github.com/elastic/kibana/pull/103487
@kevinlog I've added a screenshot, let me know if that works for you.
I noticed could be good to put host isolation status below agent status and integration policy status below integration policy for small screen sizes.

[2021-06-28 14:17] snide commented on #103438
This is on purpose and part of accessibility.

[2021-06-28 14:24] #45815 closed

[2021-06-28 14:32] EricDavisX commented on #103447
I don't know if this is a bug or working as designed.  Jen or Jason can assess this, please.

[2021-06-28 14:40] EricDavisX commented on #103468
@mostlyjason @hbharding @jen-huang this is an interesting case. I know stand-alone agent on a cloud env isn't the highest priority usage, so I can bump it down from 'high' impact.  Do we want to assess and think about it now or no?

Also note, I think an Agent likely could be deployed against ES directly if the user knew what policy to place for the Agent, which may be feasible via docs review.

[2021-06-28 14:59] wylieconlon opened #103496 "[Index Patterns] Logs contain `Cannot read property 'payload' of undefined`"
I just started Kibana locally and I'm seeing many log messages containing this text:

[code]

[2021-06-28 14:59] elasticmachine commented on #103496
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-28 14:59] dridk opened #103497 "[.kibana_task_manager] Action failed with 'security_exception'."
**Kibana version:**
7.13.2

**Elasticsearch version:**
7.13.2
**Server OS version:**
Ubuntu 20.04.2 LTS

**Browser version:**
firefox 89.0.2

**Original install method (e.g. download page, yum, from source, etc.):**
- install elasticsearch with deb
- Run kibana from downloaded bin/

**Describe the bug:**
After updating my ubuntu server ( apt update) Kibana won't start and stay on "Kibana server is

[2021-06-28 15:04] ravikesarwani commented on #100133
@estermv I would really like the UI to be self sufficient and feel what you have added as a flow shouldn't require too much extra documentation. The only clarification I was thinking was if they selected "No" is it clear right now "That they can create these rules easily later on and how".

I was wondering if we should add an extra line in the modal itself to make this clear. Something like:
"If y

[2021-06-28 15:24] djptek commented on #7324
Hi @timroes, saw this was a candidate for Kibana 7 then not implemented. @elastic/ecs were discussing how exposing this field in the UI might be useful in helping users make the right storage choice for their data in e.g. Security (unset `ignore_above`) vs Logging (set `ignore_above`) use cases.

Would this be an appropriate time to revisit?

[2021-06-28 15:28] djptek commented on #7324
@jimczi ⬆️

[2021-06-28 15:32] monina-n commented on #100259
@machadoum I'd recommend imposing a character limit of 64 characters for the title. Titles shouldn't have the option to be incredibly long to begin with, so let's just limit that instead of implementing a read more button.

[2021-06-28 15:34] dominiqueclarke opened #103504 "[Uptime] TLS status alerts - use date format defined in Kibana UI settings for action message content"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 90.x

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the enhancement:**
The date format schema in the TLS certificate status alert is [currently hardcoded](https://github.com/elastic/kibana/blob/master/x

[2021-06-28 15:34] elasticmachine commented on #103504
Pinging @elastic/uptime (Team:uptime)

[2021-06-28 15:47] MadameSheema commented on #103438
Not a bug

[2021-06-28 15:47] #103438 closed

[2021-06-28 15:48] alisonelizabeth commented on #103368
Thanks @wylieconlon for opening an issue! I was able to reproduce. Looks like we are currently getting the list of timezones via `moment.tz.names()` and are also not handling the error correctly.

[2021-06-28 15:50] wylieconlon commented on #103368
It turns out that this has been an issue multiple times in the past, but the implications on rollups were unknown. Related issues:

https://github.com/elastic/kibana/issues/74630
https://github.com/elastic/kibana/issues/17848

[2021-06-28 15:59] ravikesarwani commented on #100136
Thanks @neptunian. Separating the alert notification for each index as you mentioned above is fine.

[2021-06-28 16:18] #103059 closed

[2021-06-28 16:31] #102764 closed

[2021-06-28 16:48] #100975 closed

[2021-06-28 16:49] #99212 closed

[2021-06-28 16:55] #33388 closed

[2021-06-28 17:05] #103364 closed

[2021-06-28 17:13] paulb-elastic commented on #103504
Linking to https://github.com/elastic/kibana/issues/91392

[2021-06-28 17:20] shahzad31 opened #103516 "[Lens] Embeddable doesn't render on first change"
**Kibana version:**
master

We are using lens embeddable in exploratory view, it has stopped rendering on first render. if we change the attributes provided it renders.

[2021-06-28 17:20] elasticmachine commented on #103516
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 17:23] banderror commented on #101016
I'd like to just add my 2 cents and try to provide a more high-level overview of our recent discussions with @marshallmain and @xcrzx.

We had a chat on the following topics:

- TypeScript schema based on `io-ts`
  - manually defined `io-ts` types vs dev-time code generation vs runtime conversion
  - based on `FieldMap` vs mappings from component and index templates
  - do we need validation on wr

[2021-06-28 17:23] ymao1 opened #103517 "Error when importing a file with file containing only excluded saved objects"
With the recently added ability to [filter out items `onExport`](https://github.com/elastic/kibana/issues/99680), it is possible to export an ndjson file that only contains "excluded" saved objects. If that file is then imported, the following error occurs:

[code]

and the UI shows the following:

<img width="382" alt="Screen Shot 2021-06-28 at 1 23 19 PM" src="https://user-images.githubuserconte

[2021-06-28 17:24] elasticmachine commented on #103517
Pinging @elastic/kibana-core (Team:Core)

[2021-06-28 17:30] banderror commented on #101016
@jasonrhodes @dgieselaar @smith please review ^^^^ and give us some feedback 🙂  Let me know if we should elaborate more on anything. The plan is to start working on the next PR soon, would be great to unblock https://github.com/elastic/kibana/pull/102586 sooner rather than later because it brings changes to the public API of `RuleDataService` and `RuleDataClient`.

[2021-06-28 18:02] #103061 closed

[2021-06-28 18:12] poffdeluxe opened #103525 "Move Canvas datasource expression functions into their own plugin"
In https://github.com/elastic/kibana/pull/99549, we've made the esdocs, essql, and escount expression functions for Canvas dependent on Canvas's searchService. The downside with this is that we can't use these functions outside of Canvas since that searchService is setup through the Canvas plugin lifecycle.

We should move these functions to their own plugin that can handle their own setup and use

[2021-06-28 18:12] elasticmachine commented on #103525
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-28 18:13] gemaliano opened #103526 "[TSVB][Docs] Document Item URL syntax"
It would be very helpful to have URL syntax to use in TSVB ->  Top N -> Panel options -> Item URL

Difference between `dashboards#/view/69ede510-d27f-11eb-b695-035e5ba26501` or `../app/kibana#/dashboard/69ede510-d27f-11eb-b695-035e5ba26501`

[2021-06-28 18:13] elasticmachine commented on #103526
Pinging @elastic/kibana-docs (Team:Docs)

[2021-06-28 18:19] #53836 closed

[2021-06-28 18:19] #56229 closed

[2021-06-28 18:19] #75068 closed

[2021-06-28 18:19] #94457 closed

[2021-06-28 18:19] #97305 closed

[2021-06-28 18:27] spong commented on #103134
Setting as `impact:critical` to be fixed for `7.14` as this can result in data redundancy issues and duplicate pre-packaged rules:

![image](https://user-images.githubusercontent.com/2946766/123685688-311b1e00-d80c-11eb-800a-51530d4f1cad.png)

[2021-06-28 18:39] wylieconlon commented on #63270
I am still running into this confusing error message on master, it seems like we should validate that the rollup pattern matches all indices _before_ allowing the user to create a rollup.

[2021-06-28 18:41] #95291 closed

[2021-06-28 18:44] kibanamachine commented on #100968
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/14997/)

[2021-06-28 18:57] #83484 closed

[2021-06-28 18:59] kevinlog commented on #102875
@jrmolin @ferullo @blakerouse @ph

I tried this again with the latest SNAPSHOT with this Endpoint:

`version: 7.14.0-SNAPSHOT, compiled: Sun Jun 27 16:03:33 2021, branch: 7.x, commit: c51d59af5f03015283c2ae9373bea217263c9df7`

Unfortunately, I'm still seeing the issue persist.

Fairly consistently, I'm seeing the following behavior:
- Send Isolate request to the Endpoint
- **No Response comes back

[2021-06-28 19:04] kibanamachine opened #103538 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/ml·ts - ml for user with full ML access with data loaded data frame analytics create job additional options step for outlier job"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15139/)

[2021-06-28 19:04] kibanamachine commented on #103538
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15139/)

[2021-06-28 19:17] rayafratkina commented on #95141
+1 - this came up recently again and is confusing to users

[2021-06-28 19:23] smith commented on #90039
This is no longer an issue 🚀 🎸

[2021-06-28 19:23] #90039 closed

[2021-06-28 19:23] wylieconlon commented on #14791
Since the number of settings has exploded, this idea seems more relevant than ever. It seems like we should have "regular" settings, "advanced" settings, and app-specific settings.

[2021-06-28 19:26] wylieconlon commented on #34674
EUI cross issue: https://github.com/elastic/eui/issues/1715

[2021-06-28 19:34] spalger opened #103545 "[discuss] Always run casing check on CI? Ignore casing on documentation-specific files?"
Master CI broke today when https://github.com/elastic/kibana/pull/94057 was merged because the files in that PR use kebab-case which is not allowed by our casing check. This didn't fail CI in the PR because those files are seen as not requiring all the work we do in CI, so we skip CI automatically due to the patterns in https://github.com/elastic/kibana/blob/master/vars/prChanges.groovy#L9-L17.

I

[2021-06-28 19:34] spalger commented on #103545
I think I vote for number 3

[2021-06-28 19:35] spalger commented on #103545
Option 4. Synchronize the casing check list in https://github.com/elastic/kibana/blob/cfd836014d969eb75e4229cfd0cbaec99c1a3622/src/dev/precommit_hook/casing_check_config.js with the list of patterns which can ignore CI

[2021-06-28 19:41] wylieconlon opened #103548 "[Time picker] End time should not use `lte`, should default to `lt` or allow user to choose mode"
I believe that this is a bug in Kibana, but it would be a breaking change to make any changes to this since it's one of the core components in the Kibana UI. So instead I'm reporting this as a feature request to be able to select `lt` instead of `lte` as my time range mode.

For example, if I filter from `Jan 1, 2020 @ 00:00:00.000` to `Jan 1, 2021 @ 00:00:00.000`, Kibana will send this ES query,

[2021-06-28 19:41] elasticmachine commented on #103548
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-28 19:41] elasticmachine commented on #103548
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-28 19:47] wylieconlon opened #103552 "[Time picker] Previous / next time does not respect time boundaries"
Steps to reproduce:

1. Start the time picker at an exact 00:00:00.000 time boundary
2. Click previous/next time range
3. The previous/next time will have a .999 or .99 or .97 time boundary instead of matching the .000 time.

![time picker previous next issues](https://user-images.githubusercontent.com/666475/123694992-05a62c80-d828-11eb-88be-7997c835b42e.gif)

[2021-06-28 19:47] elasticmachine commented on #103552
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-28 19:48] ymao1 commented on #103517
It is erroring here:

https://github.com/elastic/kibana/blob/82e32faf1a1ee3818ed028946e67f5d34d44e509/src/core/server/saved_objects/import/lib/collect_saved_objects.ts#L39-L66

because it can't destructure `title` from `obj.attributes` on line 47.

If I add

[code]

to line 42 to filter out entries without an id, I end up with a "successful" import and this in the UI:

<img width="643" alt="Screen

[2021-06-28 19:49] elasticmachine commented on #103538
Pinging @elastic/kibana-qa (Team:QA)

[2021-06-28 19:50] mistic commented on #103538
This test looks flaky. Skipping for now:

master/8.0: 906b4fc
7.x/7.14: bbdf550

[2021-06-28 19:50] Dosant commented on #103548
Sounds like a duplicate of https://github.com/elastic/kibana/issues/78907 ?

I think we could close this one, but consider to treat this as enhancement in #78907

[2021-06-28 19:52] wylieconlon commented on #103548
Yes, I think it's a duplicate. I wasn't able to find that previous issue in search.

[2021-06-28 19:52] #103548 closed

[2021-06-28 19:53] #93393 closed

[2021-06-28 19:55] elasticmachine commented on #14751
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-28 19:56] wylieconlon commented on #14751
We already have the option to round relative times but I really want my absolute times to be snapped as well. For example I would like it to be easy to select "Go to the beginning of the current year" or "beginning of the current day" when starting with an absolute time.

<img width="491" alt="Screen Shot 2021-06-28 at 3 55 44 PM" src="https://user-images.githubusercontent.com/666475/123696059-523

[2021-06-28 19:58] mistic commented on #100968
This test keeps failing and looks flaky. I'm skipping it for now.

master/8.0: f3a5ff2
7.x/7.14: 0b288bf

[2021-06-28 20:02] brianseeders commented on #103180
If we do it, we're planning to have a way to tag a PR as "emergency", which would immediately bump it to the front of the queue and let it run in a batch by itself, isolated from other PRs. Pushing straight to master is also an option, which would cause all of the PRs in the queue to restart testing in our current proposal.

A branch is simply a place to place the commits that need to be tested. I

[2021-06-28 20:04] alexfrancoeur commented on #82851
Does this happen on upgrade as well? Or is it just net-new deployments?

[2021-06-28 20:08] wylieconlon opened #103557 "[Lens] Improve handling of partial data in date histograms"
[Date histograms are *rounded down* in Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html) which means that users will often have partial data for their data histograms. For example, if today is March 15th 2021 and I choose a "Last 1 year" time filter with `1 month` as my date histogram interval, the date histogr

[2021-06-28 20:08] elasticmachine commented on #103557
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 20:09] stacey-gammon commented on #16493
What is the Kibana Entity Identifier? You mean the type, like "Lens"?

I meant the current page URL. For example, if an expensive query is coming from the security network page - there is no saved object.

[2021-06-28 20:18] stacey-gammon commented on #102128
The reporting feature for creating the POST URL includes panel state, so if a user tries to generate a report for a dashboard that contains one of these affected by-value embeddable, it will also fail.

FYI @ppisljar @elastic-jb

[2021-06-28 20:43] tsullivan opened #103561 "[Reporting/Lens] Saved POST URLs for dashboard with Lens needs migration"
**Kibana version:** Between 7.13 and 7.14.

It's possible to create a scheduled report (using a POST URL in Watcher or a shell script) using Kibana 7.13 and get a bug after upgrading to Kibana 7.14 or above. This is because the POST URL string stores dashboard state that might only work in 7.13.

## Steps:
1. Using Kibana 7.13, create a dashboard that has a Lens By-Value panel
2. Save the dashboar

[2021-06-28 20:45] spalger commented on #103545
Yeah, Option 4 seems like a very reasonable option.

IMO casing consistency is especially useful when we're referencing files from all over the place and a lot of people are regularly looking though directories of files contributed by different people, which doesn't seem like a problem for documentation-like directories, so I don't think we'd loose much by going this way.

[2021-06-28 20:47] jen-huang commented on #103187
This could cause us to run into a case where the user does want to change the value for valid reasons, but finds the value reset next time setup happens.

Zacquary can better answer this from his exploration around upgrading package policies in https://github.com/elastic/kibana/pull/103017, but I think it is the former where we only update with the new default value if the field currently doesn't

[2021-06-28 20:48] elasticmachine commented on #103561
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-28 20:48] elasticmachine commented on #103561
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 20:48] elasticmachine commented on #103561
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-06-28 20:50] EricDavisX opened #103563 "[Fleet] logs dataset / level selection in Agent Logs view is not auto-refreshing the view with each click"
**Kibana version:**
8.0 - self-managed stack tested.  latest 8.0 snapshot used.  current hash in the server is:
07af5d31c78be3b884e84ed3d7f7582d9da3bcf5

**Browser OS version:**
chrome

**Describe the bug:**
When the user clicks in the Agent logs tab drop down selecteds, the UI was previously refreshing with each click to show the user the different logs.  It isn't refreshing at all now, and with

[2021-06-28 20:51] elasticmachine commented on #103563
Pinging @elastic/fleet (Team:Fleet)

[2021-06-28 20:52] jen-huang commented on #103563
@afgomez More LogStream component fun :) I wonder if this was impacted by #102980?

[2021-06-28 20:58] Zacqary commented on #103187
The API I've written to upgrade package policies does indeed fill default values for any new vars in the post-upgrade version of the package. So assuming there's a default value for `unenroll_timeout` then this would be set on upgrade.

The fact that the user can edit this value in the UI gives me pause about implementing a potentially complex system for pushing changes from the config file. It's

[2021-06-28 20:58] mostlyjason commented on #103468
++ to fix this bug.  I believe the add agent button should still show on this page since we want to allow users to add standalone agents. That is the design described in this PR https://github.com/elastic/kibana/pull/96867

[2021-06-28 21:00] pgayvallet commented on #103517
https://github.com/elastic/kibana/blob/fd1d96503933a4ca8559d7b9fe3951a8e7baafc0/src/core/server/saved_objects/routes/utils.ts#L34-L36

This condition is buggy when `exportCount` is `0`, causing the export detail line to be considered as a SO line.

It should be replaced by

[code]

[2021-06-28 21:06] wylieconlon opened #103564 "[Lens] Allow opening a prefilled Lens in read-only mode that can return to an originating app"
Based on discussion with @patrykkopycinski there is a use case for users to open an embedded Lens visualization where the most prominent button is not "Save and return", but simply "Return".

[2021-06-28 21:06] elasticmachine commented on #103564
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-28 21:07] mattkime commented on #14856
dupe of https://github.com/elastic/kibana/issues/2551

[2021-06-28 21:07] #14856 closed

[2021-06-28 21:28] #102603 closed

[2021-06-28 21:34] #103339 closed

[2021-06-28 21:46] ecezalp commented on #103134
#103568

[2021-06-28 21:50] elasticmachine commented on #103538
Pinging @elastic/ml-ui (:ml)

[2021-06-28 21:51] bhavyarm commented on #103538
Thanks @mistic I have removed QA team assignment and pinged ML. Cheers!

[2021-06-28 21:58] ghudgins commented on #103564
when we consider this we should consider cases where we might want _both_ a return functionality AND a save button. I could see this "return to originating app" being useful for discover (today you have to use the hamburger)

[2021-06-28 22:00] wylieconlon commented on #78907
I prefer option 2 as well, because the issue is not just about actions. I recorded this GIF which shows that there are issues with both the time picker *and* actions:

![time picker unclear start end](https://user-images.githubusercontent.com/666475/123694147-eeb30a80-d826-11eb-8afb-e6608ad8a774.gif)

The issue in both cases is that a 1 year period from January 1 to the next January 1st should nev

[2021-06-28 22:02] TinaHeiligers commented on #103517
@pgayvallet I used your recommendation in https://github.com/elastic/kibana/pull/103573.

[2021-06-28 22:06] #81605 closed

[2021-06-28 22:06] #100686 closed

[2021-06-28 22:08] EricDavisX commented on #103563
For testers, fyi: a quick work-around is to refresh the UI page in the browser and it will pick up the change and show logs (no need to do the date picker which is not as easy to me, as the whole page refresh)

[2021-06-28 22:28] DasUberLeo commented on #103196
+1

[2021-06-28 22:37] ymao1 commented on #103517
Fix included in this PR: https://github.com/elastic/kibana/pull/102999 in these commits:
* https://github.com/elastic/kibana/pull/102999/commits/4a8fc64a72cdcfdb72a5b63f7f160e7432e24606
* https://github.com/elastic/kibana/pull/102999/commits/f69be9d29302e98372866b4c6050e5fe6eff7d12

Thanks @pgayvallet and @TinaHeiligers for figuring out the bug fix & writing the test and letting me include it in m

[2021-06-28 22:44] kobelb commented on #82851
Both...

[2021-06-28 22:54] jen-huang commented on #103468
I believe this button got moved with the overall layout changes after Integrations was moved to its own top-level app. As a stop-gap solution maybe we can just add the `Add agent` button back to the Fleet header? It will be visible regardless of which tab the user is viewing.

[2021-06-28 23:04] nicpenning commented on #102329
@alexwizp could you try the tsvb/dashboard from here?

https://github.com/nicpenning/Nessus-ES

[2021-06-28 23:14] jen-huang commented on #103340
Closing as I can't replicate this any more :D

[2021-06-28 23:14] #103340 closed

[2021-06-28 23:25] spong opened #103581 "[Security Solution][Detections] Multi index pattern in securitySolution:defaultIndex not supported in Detection Rules"
In testing Detections Runtime field support in https://github.com/elastic/kibana/pull/102280, @FrankHassanabad and I discovered that multi-index patterns (e.g. `auditbeat-*,filebeat-*`) work within the `Data Sources` (Sourcerer) throughout the security app, however they do not work with the Detections UI.

To test, configure a multi-index pattern (matching a corresponding Kibana Index Pattern that

[2021-06-28 23:25] elasticmachine commented on #103581
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-28 23:25] elasticmachine commented on #103581
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-28 23:44] #98296 closed

[2021-06-28 23:46] mattkime commented on #103496
@wylieconlon I just attempted to reproduce this with the latest on master but I'm not seeing it. Do you still see it?

[2021-06-28 23:54] FrankHassanabad opened #103587 "[Security Solutions] Detection Engine and Security Pages do not operate with runtime fields defined in Kibana Indexes"
**Describe the bug:**
When you define a [runtime mapping](https://www.elastic.co/guide/en/elasticsearch/reference/master/runtime-search-request.html) field in a Kibana index, the runtime field is there to be used for runtime-search-requests and is actually not directly in an Elastic mapping.

When you use Discover it knows to pull the runtime fields from the Kibana index and knows to attach the ru

[2021-06-28 23:54] elasticmachine commented on #103587
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-28 23:54] elasticmachine commented on #103587
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-29 00:08] FrankHassanabad commented on #103581
Related: https://github.com/elastic/kibana/issues/103587

[2021-06-29 00:22] alexfrancoeur commented on #82851
@ph @ruflin @mostlyjason is this something we can revisit? This feels like an odd experience for folks that are not using the stack for this use case, especially on upgrades. I know we've only talked about it briefly, but maybe for the code-dependent packages we can provide more of an opt-in experience for the more visible Kibana assets.

[2021-06-29 00:33] ymao1 opened #103597 "Avoid generating export file when no saved objects are actually exported"
With the recently added [ability to filter out items `onExport`](https://github.com/elastic/kibana/issues/99680), it is possible to initiate an export where all selected objects are filtered out. This results in an `ndjson` with a single line containing the number of objects excluded, example:

[code]

In this scenario, it would be nice to avoid generating this file altogether and show a warning t

[2021-06-29 00:33] elasticmachine commented on #103597
Pinging @elastic/kibana-core (Team:Core)

[2021-06-29 00:35] #101270 closed

[2021-06-29 00:35] #103517 closed

[2021-06-29 00:42] ymao1 opened #103599 "[Alerting] Include stack monitoring rules in import/export"
We have enabled import/export of rules through the SO management UI via [this PR](https://github.com/elastic/kibana/pull/102999) but are currently excluding stack monitoring rules from being exported via this UI.

There are [multiple issues open](https://github.com/elastic/kibana/issues?q=is%3Aopen+is%3Aissue+label%3A%22Epic%3A+Stack+Monitoring+Alerting+Alignment%22) that need to be addressed befo

[2021-06-29 00:43] elasticmachine commented on #103599
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-29 00:43] ymao1 opened #103600 "[Alerting] Include security rules in import/export"
We have enabled import/export of rules through the SO management UI via [this PR](https://github.com/elastic/kibana/pull/102999) but are currently excluding security rules from being exported via this UI.

Before we can align import/export of security rules, https://github.com/elastic/kibana/issues/87992 and https://github.com/elastic/kibana/issues/99741 must be addressed. Once those issues are re

[2021-06-29 00:43] elasticmachine commented on #103600
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-29 00:43] ymao1 commented on #101270
Followup issues:
* https://github.com/elastic/kibana/issues/103600
* https://github.com/elastic/kibana/issues/103599

[2021-06-29 02:27] #97958 closed

[2021-06-29 04:28] karanbirsingh-qasource commented on #103467
sure @jonathan-buttner i will keep the track of above pr and regress this issue.

[2021-06-29 05:26] karanbirsingh-qasource commented on #103447
Hi @EricDavisX  we have seen the correct bread crumb name for Agent Policies tab under one of the mock.

here https://www.figma.com/proto/G3jnu6rub6x8YExOfTWoO9/Integrations-UI-%2B-Fleet?node-id=963%3A8266&scaling=min-zoom

![image](https://user-images.githubusercontent.com/59917825/123742011-a4826580-d8c8-11eb-91e0-2977568d957d.png)

[2021-06-29 06:46] #97097 closed

[2021-06-29 06:56] rish2410 opened #103609 "courier:ignoreFilterIfFieldNotInIndex in vega visualization"
I want to have this feature of ignoreFilterNotInIndex in Vega visualization apparently it only works on Kibana inbuilt visualization so if possible to add this feature in vega and TSVB it will be help for us to built more dynamic dashboard

**Kibana version**:7.11.0

**Elasticsearch version**:7.11.0

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (

[2021-06-29 07:11] flash1293 commented on #103561
This seems like an issue with how dashboard is integrating with the share plugin - how can the Kibana app help here?

[2021-06-29 07:14] flash1293 commented on #103516
@dej611 Could you take a look at this? It's most likely an issue with https://github.com/elastic/kibana/pull/102038

[2021-06-29 07:15] afgomez commented on #103563
I doubt it, since changing the datasets should change the query. I'll take a look nonetheless

[2021-06-29 07:18] amolnater-qasource opened #103612 "[Fleet]: Unable to access "Unenrollment Timeout" properly if any updates are made in any other available field under Policy Settings."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

Build details:
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Policies tab and go to Settings of a Policy.
3. Edit anything, say name of Policy and navigate down.
4. Observe user

[2021-06-29 07:18] elasticmachine commented on #103612
Pinging @elastic/fleet (Team:Fleet)

[2021-06-29 07:18] amolnater-qasource commented on #103612
@manishgupta-qasource Please review.

[2021-06-29 07:24] flash1293 commented on #55899
We handle this nicely now, respecting formatting in the cases where mixing works fine (e.g. terms and filters) and throwing an error for ugly cases (e.g. date histogram + number histogram)

[2021-06-29 07:24] #55899 closed

[2021-06-29 07:27] amolnater-qasource opened #103613 "[Question][Fleet]: Use of "Unenrollment timeout" in "Elastic Cloud agent policy""
**Description of Query:**
We can't install/uninstall Fleet server agents installed with "Elastic Cloud agent policy", as it is a hosted agent policy.
Could you please let us know the use of "Unenrollment timeout" field under this policy?

**Enhancement:**
"Unenrollment timeout" field can be removed from "Elastic Cloud agent Policy" if it is not required.

**Screenshot:**
![3](https://user-images.g

[2021-06-29 07:27] elasticmachine commented on #103613
Pinging @elastic/fleet (Team:Fleet)

[2021-06-29 07:28] flash1293 commented on #74488
We have implement the first option "Add field to chart" button

[2021-06-29 07:28] #74488 closed

[2021-06-29 07:31] flash1293 commented on #81780
@dej611 @KOTungseth does it still make sense to keep this open?

[2021-06-29 07:32] flash1293 commented on #83332
Closing for now, if there's still an issue feel free to reopen and provide additional context

[2021-06-29 07:32] #83332 closed

[2021-06-29 07:38] amolnater-qasource commented on #103613
@manishgupta-qasource Please review.

[2021-06-29 07:43] manishgupta-qasource commented on #103612
Reviewed & Assigned to @jen-huang

[2021-06-29 07:44] manishgupta-qasource commented on #103613
Reviewed & Assigned to @jen-huang

[2021-06-29 07:54] amolnater-qasource opened #103617 "[Fleet]: Flickering "Fleet Settings" flyout on clicking "Add Agent" button."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and click "Add Agent" button.
3. Observe flickering "Fleet Settings" and then agent commands are avai

[2021-06-29 07:54] elasticmachine commented on #103617
Pinging @elastic/fleet (Team:Fleet)

[2021-06-29 07:55] amolnater-qasource commented on #103617
@manishgupta-qasource Please review.

[2021-06-29 08:03] mandeepkaur-qasource commented on #97953
Hi @MadameSheema ,

We have validated this issue on **7.14.0 snapshot** build with latest commit and found that this issue is **re-occurring** on 7.14.0 snapshot as well. Please find below the details:

**Steps to Reproduce**
1. Navigate to the Detection Tab.
2. Go to alert table and open the analyzer for any alert
3. Observe that proper UI shows with nodes and information on the UI
4. Click on th

[2021-06-29 08:18] mshustov commented on #16493
yes, a dashboard panel, canvas workpad, etc.

Let's consider a dashboard page with several panels. It's hard to identify what panel causes a specific query. So, I'd say we are interested in `panel URL` that a user can open to the browser and modify the panel.

[2021-06-29 08:19] dikshachauhan-qasource opened #103619 "[Fleet] Unable to rollback changes made at 'Unenrollment timeout' field."
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** linux, All

**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Default policy should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to default policy's settings tab.
	- Make any changes to say name and description.

[2021-06-29 08:19] elasticmachine commented on #7324
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-29 08:19] #99894 closed

[2021-06-29 08:20] elasticmachine commented on #103619
Pinging @elastic/fleet (Team:Fleet)

[2021-06-29 08:20] timroes commented on #7324
@djptek I am not sure if we would still want to persue the issue as it's outlined here. We're planning to move warning for not indexed too long field values into Discover (see discussion in https://github.com/elastic/kibana/issues/101232). So users will be able when viewing their data directly in Discover see if specific values got ignored. Do you feel there is an additional usage in showing that

[2021-06-29 08:21] dikshachauhan-qasource commented on #103619
@manishgupta-qasource Please review

[2021-06-29 08:25] manishgupta-qasource commented on #103617
Reviewed & Assigned to @jen-huang

[2021-06-29 08:27] sqren commented on #80311
@sorantis We haven't created fully reusable components (that does data fetching) for other teams to consume so I don't have an ETA. I don't think it should be too complex though and if this is important for your team we should prioritise this for 7.15.

[2021-06-29 08:27] elasticmachine commented on #80311
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 08:31] djptek commented on #7324
Hi @timroes this has come up because formerly ECS has automatically added a value for this field under certain circumstances, to encourage best practice for the Logging use case, however, it turns out this is potentially a very bad thing for the Security use case so we're removing that see https://github.com/elastic/ecs/pull/1483

So, more than showing the value of `ignore_above` the goal is to gi

[2021-06-29 08:31] sqren opened #103622 "[APM] Componentize Service Inventory for other teams to consume"
Related to https://github.com/elastic/kibana/issues/80311

The Metrics team is interested in showing APM services in their app like:
![image.png](https://zube.io/files/elastic/523c026bd20fdcc432846ad5978b1b84-image.png)

To make this easier APM should embed the Service Inventory view in a component that can be consumed by other plugins.

**Filtering**
It should be possible to filter the services b

[2021-06-29 08:31] elasticmachine commented on #103622
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 08:31] #102489 closed

[2021-06-29 08:31] sqren commented on #80311
Created this issue for APM to track: https://github.com/elastic/kibana/issues/103622

[2021-06-29 08:41] plumpNation commented on #16877
Would love to see this feature. For those who cannot reindex easily, but do not want to take the recommended-against path of increasing index.highlight.max_analyzed_offset

[2021-06-29 08:55] MadameSheema commented on #97953
@kqualters-elastic @michaelolo24 @jonathan-buttner can you please take a look at this? thanks

[2021-06-29 09:21] #103469 closed

[2021-06-29 09:25] gmmorris commented on #100764
I notices this issue wasn't linked to this one: https://github.com/elastic/kibana/issues/102353

In relation to [my comment](https://github.com/elastic/kibana/issues/102353#issuecomment-865870100) over there, are we thinking of taking an approach where by "Saved Object wasn't found" does *not* mean the SO is missing as it might be networking issues?

[2021-06-29 09:40] gmmorris commented on #103252
Weird, no idea.
That field is definitely a `keyword` and has never changed 🤔

Feels like a funky esArchiver issue, but I don't really know enough about this stuff to say.

[2021-06-29 09:42] xcrzx opened #103628 "[Security Solution] 404 error when trying to add rule exception to a deleted rule"
**Describe the bug:**
A user gets a 404 error when trying to add a rule exception to a deleted rule.

**Kibana/Elasticsearch Stack version:**
8.0.0 SNAPSHOT

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):**
Detection alerts

**Steps to reproduce:**

1. Navigate to the Detections tab of the security solution
2. Generate some alerts
3. Delete the rule that generated the abo

[2021-06-29 09:42] elasticmachine commented on #103628
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-29 09:42] elasticmachine commented on #103628
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 09:50] rschirin commented on #89726
Could be an idea to start from a tooltip for the field's name column in Kibana and then add a scroll icon for every field to see the history of comments?

[2021-06-29 10:14] majagrubic commented on #98413
Is this still an issue in 7.14 builds?

[2021-06-29 10:21] stratoula opened #103633 "[Vis_type_heatmap] Implementation with elastic-charts"
**Describe the feature:**
We want to create a new plugin `vis_type_heatmap` that will use the elastic-charts heatmap implementation.

It should offer the same features as vislib and for some minors, both implementations will exist.

- We need a new switch for Heatmaps to switch between the two implementations
- Functional tests needed for the new implementation
- We should check for heatmap relate

[2021-06-29 10:21] elasticmachine commented on #103633
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 10:21] elasticmachine commented on #103633
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-06-29 10:24] peteharverson commented on #102315
Closing issue as the ML Management page jobs list has been converted to the new page layout in #103117 and Transforms in #102648.

[2021-06-29 10:24] #102315 closed

[2021-06-29 10:27] dikshachauhan-qasource opened #103634 "Loading indicator are hanged and not processing."
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** **Chrome, Firefox and edge**

**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to Kibana.
- Navigate to Admin tab.
- Look for loading indicators.
- Navigate to integrations tab.
- select and open any integrat

[2021-06-29 10:27] elasticmachine commented on #103634
Pinging @elastic/fleet (Team:Fleet)

[2021-06-29 10:27] dikshachauhan-qasource commented on #103634
@manishgupta-qasource Please review

[2021-06-29 10:29] manishgupta-qasource commented on #103634
Reviewed & assigned to @jen-huang

[2021-06-29 10:31] manishgupta-qasource commented on #103619
Reviewed & assigned to @jen-huang

[2021-06-29 10:32] Bamieh commented on #103010
@timroes That is true UA is in `read-only` mode during minor upgrades so it is not useful for us here.

[2021-06-29 10:46] dej611 commented on #81780
I'm using this issue to keep track of old and new Lens questions.
If closed I would have to create something similar to keep track of the same information.

[2021-06-29 10:52] deepikakeshav-qasource opened #103639 "[Security Solution] Threat intel list is not in ascending order under the overview page."
**Description**
Threat intel list is not in ascending order under the overview page.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Filebeat should be installed

**Steps to Reproduce:**
1. Navigate to Overview tab of security.
2. Scroll down and go to the Threat Intelligence card on overview page
3. Observe that Threat intel list is

[2021-06-29 10:52] elasticmachine commented on #103639
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 10:53] deepikakeshav-qasource commented on #103639
@manishgupta-qasource Please review!!

[2021-06-29 10:54] manishgupta-qasource commented on #103639
Reviewed & assigned to @MadameSheema

[2021-06-29 10:57] amolnater-qasource commented on #103442
Hi @EricDavisX
We have observed this issue reproducible at Policy detail page.
- Action button dropdown is stuck on UI, even on clicking View Policy.

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/123785402-1d4be680-d8f6-11eb-9302-e3cc87dd7af0.mp4

Thanks
QAS

[2021-06-29 11:01] liciavale opened #103640 "[Uptime][User experience] Exploratory view breadcrumbs"
**Exploratory view - Uptime and User Experience should be included in the Breadcrumbs**

When you are in the Exploratory view there is no way to get back to the previous app - Uptime or User Experience (depending on where the user navigated from) should be included in the breadcrumbs.

Old:
<img width="406" alt="117042506-50dd0c80-acc9-11eb-8520-b6eff84ffa58" src="https://user-images.githubusercon

[2021-06-29 11:01] elasticmachine commented on #103640
Pinging @elastic/uptime (Team:uptime)

[2021-06-29 11:12] elasticmachine commented on #103639
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-29 11:13] MadameSheema commented on #103639
@ecezalp @rylnd can you please take a look at this? thanks

[2021-06-29 11:20] formgeist opened #103643 "[Exploratory view] Browser back option doesn't work as expected, stays on the page instead of going back to place of origin"
Kibana version: master

# Summary

The exploratory view is meant to be a view that can be viewed from most apps in Observability, but I'd expect the normal back option would work as intended to go back to the place of origin.

![2021-06-29 at 13 17 59 - Aqua Crow](https://user-images.githubusercontent.com/4104278/123788743-a524f700-d8dc-11eb-8bf9-209328dbb2a0.gif)

[2021-06-29 11:20] elasticmachine commented on #103643
Pinging @elastic/uptime (Team:uptime)

[2021-06-29 11:21] formgeist commented on #102700
Closed by https://github.com/elastic/kibana/pull/102711

[2021-06-29 11:21] #102700 closed

[2021-06-29 11:34] deepikakeshav-qasource opened #103644 "[Security Solution] Threat intel List is shuffling automatically if we set the future time"
**Description**
Threat intel List is shuffling automatically if we set the future time

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Filebeat should be installed

**Steps to Reproduce:**
1. Navigate to Overview tab of security.
2. Set the future time range E.g "Next 7 Hours" on overview page.
3. Scroll down and go to threat intel ca

[2021-06-29 11:34] elasticmachine commented on #103644
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 11:35] formgeist opened #103645 "[APM] Service overview: Tables show links but cannot be clicked until the table is done loading"
Kibana version: master

# Summary

Seems the click interaction is not available even if the transaction links are shown in the overview. Once the table is done loading metrics and sparklines, the user can interact. There shouldn't be a reason for us to wait, if the user wants to continue on a slow loading page.

![2021-06-29 at 13 33 40 - White Dog](https://user-images.githubusercontent.com/410427

[2021-06-29 11:35] elasticmachine commented on #103645
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 11:35] deepikakeshav-qasource commented on #103644
@manishgupta-qasource Please review

[2021-06-29 11:38] manishgupta-qasource commented on #103644
Reviewed & Assigned to @MadameSheema

[2021-06-29 11:44] stacey-gammon commented on #16493
Yea, that's a good example. That might be tough though because the dashboard doesn't send the query, the embeddable does. The embeddable knows it's in a dashboard, but doesn't know where that dashboard is embedded.

[2021-06-29 11:51] formgeist opened #103647 "[APM] Show framework icon for the span type DB and Messaging aligning it with service map and backends UI."
# Summary

As proposed alignment of the span naming in https://github.com/elastic/apm/issues/446 the span row design could be updated to show the framework icon.

We have a function describing which icon to use for the appropriate framework. We have a fallback for DB (missing for Messages).

# Solution

**Elasticsearch example**

![Span type visuals - ES](https://user-images.githubusercontent.com/

[2021-06-29 11:51] elasticmachine commented on #103647
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 11:58] cauemarcondes commented on #103622
We might be able to use embeddables here.

[2021-06-29 11:59] ghudgins commented on #67206
+1

[2021-06-29 12:00] stacey-gammon commented on #95372
This will be fixed when ES adds support for the fields search parameter going back to 6.8. No issue yet, but @jimczi will create one soon to track this work.

There is also work on the ES to improve error messages when the cause is CCS related. That work would also help in this situation.

For the time being, I don't see any work to be done on the Lens side, so I would consider this a known issue

[2021-06-29 12:08] #101122 closed

[2021-06-29 12:11] dikshachauhan-qasource commented on #103563
Hi @EricDavisX

While performing exploratory today on 7,14 snapshot cloud-qa build, we have observed similar issue on Observability> logs tab.

- Logs are not filtered out when any filter criteria is applied at search bar.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/123795002-1e364580-d901-11eb-8544-90ce29fe31b8.png)

**Build Details:**
[code]

Please let us know if an

[2021-06-29 12:11] flash1293 commented on #103633
Implementation notes:

There is already a heatmap chart renderer used in Lens. To avoid redundant code, it should be reused for the visualize heatmap implementation. These are the steps that need to be taken:
* Move current heatmap renderer https://github.com/elastic/kibana/blob/59d422394aad7124cf07efbd651fed944e73f0e5/x-pack/plugins/lens/public/heatmap_visualization/chart_component.tsx#L36  (and

[2021-06-29 12:16] dikshachauhan-qasource opened #103649 "[enhancement]: User should be redirected to respective deployment page from Stack Monitoring tab."
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** Chrome, Firefox and edge
**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Default policy should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Stack Monitoring tab.
	- Click on 'Elasticsearch service console' li

[2021-06-29 12:16] elasticmachine commented on #103649
Pinging @elastic/fleet (Team:Fleet)

[2021-06-29 12:17] dikshachauhan-qasource commented on #103649
@manishgupta-qasource Please review

[2021-06-29 12:26] manishgupta-qasource commented on #103649
Reviewed & Assigned to @EricDavisX

[2021-06-29 12:33] elasticmachine commented on #103644
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-29 12:34] MadameSheema commented on #103644
@ecezalp @rylnd can you please take a look at this? Thanks

[2021-06-29 12:43] jloleysens opened #103653 "[ILM] Jumping search bar when typing in a search term"
**Kibana version:** Current master

**Steps to reproduce:**
1. Start Kibana + ES on basic
2. Go to ILM (you need at least a few policies) can also be reproduced by passing in an empty array `[]` into `EuiTableBody`
3. See the visual layout of the search bar grow to fill the space not used by the table

**Expected behavior:**

The search bar area should not grow to occupy empty space

**Screenshots

[2021-06-29 12:43] elasticmachine commented on #103653
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-29 12:47] streamich commented on #98107
ML usage.

- `x-pack/plugins/infra/public/pages/logs/log_entry_rate/sections/anomalies/log_entry_example.tsx`

![image](https://user-images.githubusercontent.com/9773803/123799831-e7eccc00-d8e8-11eb-991c-fb667dc75340.png)

[2021-06-29 12:52] joshdover commented on #55485
@ppisljar any update here on moving esKuery?

[2021-06-29 12:55] #100661 closed

[2021-06-29 12:59] justinkambic commented on #100474
This was resolved by #101122.

We determined that performing this compositing with the Canvas API was the way to go. The native lib used in Synthetics would require the Kibana distribution to markedly increase in size, and put significant processing load on the Kibana server. Performing the computations on the client alleviate that pressure, and opens the door for further optimization to limit net

[2021-06-29 12:59] #100474 closed

[2021-06-29 13:01] alisonelizabeth commented on #103653
Thanks for opening this issue @jloleysens! I think this has been addressed as part of https://github.com/elastic/kibana/pull/103237. @sabarasaba can you confirm and close if so?

[2021-06-29 13:04] elasticmachine commented on #103609
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 13:05] stratoula commented on #103609
From 7.13 TSVB works fine with this setting. Vega doesn't support it yet so I will keep this enhancement request only for vega 🙂

[2021-06-29 13:07] elasticmachine commented on #103265
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-29 13:18] aarju opened #103657 "Add a 'copy to clipboard' option to the column menu in the new Table view"
**Describe the feature:**
In the new Table view there currently (7.13) isn't an easy way to highlight and copy the column header field with the field name. It would be nice if the column dropdown menu contained a 'copy to clipboard' option to copy the name of the field to the clipboard.

**Describe a specific use case for the feature:**
A user is collaborating with someone via email or slack and t

[2021-06-29 13:22] elasticmachine commented on #103657
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 13:34] Bamieh opened #103660 "[Localization] postfix i18n messages containing markdown with `.markdown`"
Full user story: https://github.com/elastic/kibana/issues/101557

Currently we have some lens inernatinoalized messags containing markdown syntax. I have a list of these ids already sent to translators. We need to postfix the ids of those i18n messages with `.markdown` to enable our automation to identify them in a separate file for translators.

[2021-06-29 13:34] elasticmachine commented on #103660
Pinging @elastic/kibana-localization (Team:Localization)

[2021-06-29 13:34] elasticmachine commented on #103660
Pinging @elastic/kibana-core (Team:Core)

[2021-06-29 13:35] sqren opened #103661 "[APM] Add minimum bucket size when using metric powered ui"
Related to: https://discuss.elastic.co/t/what-is-timestamp-field-exactly/277189

Metrics are ingested in batches, by default every minute. For the default time range (15min) the bucket size will be less than 1 minute, and thus producing empty buckets and creating a chart that looks like this:

![image.png](https://zube.io/files/elastic/aee6363b6bfc6c83c72e860e44f2b8da-image.png)

**Solution**
To a

[2021-06-29 13:35] elasticmachine commented on #103661
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 13:36] ghudgins commented on #95556
+1

[2021-06-29 13:36] #62176 closed

[2021-06-29 13:39] kobelb commented on #85858
I'm closing this issue, as it's fallen out of date as people have been able to integrate directly with the upgrade assistant.

[2021-06-29 13:39] #85858 closed

[2021-06-29 13:43] lukeelmers commented on #55485
I believe @lizozom is working on this currently, splitting the work into a couple PRs. Not sure how much work is remaining, though.

[2021-06-29 13:44] #103516 closed

[2021-06-29 13:46] sabarasaba commented on #103653
Indeed, was fixed already in that [pr](https://github.com/elastic/kibana/pull/103237/commits/5b40c9fee17e1ec195e212fbb09fc6144c433103) and should be in master now!

[2021-06-29 13:46] #103653 closed

[2021-06-29 13:50] liciavale opened #103665 "[Uptime] Improve steps view thumbnail text in lightbox"
**Enhancement
Steps view thumbnail text in the lightbox is very hard to read**

- Update steps view thumbnail text in lightbox from white to `color: $euiTitleColor;`
- Update Previous steps and arrow color with `color: euiColorDarkShade;`
- Increase the bottom padding
- Reduce the font size to 12px

Before: Step 1 of 2 and timestamp text is white on white

<img width="1042" alt="117042362-1a06f680

[2021-06-29 13:51] elasticmachine commented on #103665
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 14:02] shaunmcgough opened #103667 "[Discover] [Meta] Multi-line New Table"
This should be the place we track progress of fixed height and auto height rows in the New Table rollout in Discover. For now, the plan is to enable the New Table by default, when we have both the fixed and auto solutions in place (and other enhancements such as a selector)

:: Related issues / PRs
EUI - https://github.com/elastic/eui/pull/4853
Meta issues for EUIDataGrid enhancements - https://gi

[2021-06-29 14:02] elasticmachine commented on #103667
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 14:07] dominiqueclarke opened #103670 "[Uptime] Monitor details and waterfall page headers contain invalid markup"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Server OS version:**
macOS

**Browser version:**
Chrome 90.x

**Browser OS version:**
macOS

**Original install method (e.g. download page, yum, from source, etc.):**
from source

**Describe the enhancement:**
Following elastic/kibana#99901, Uptime moved to the new `ObservabilityPageTemplate`. This `ObservabilityPageTemplate` wraps `EuiPag

[2021-06-29 14:07] elasticmachine commented on #103670
Pinging @elastic/uptime (Team:uptime)

[2021-06-29 14:12] hbharding commented on #103468
Hey there. I caught this recently as well and think @nchaulet should be addressing it in the fleet onboarding issue. I documented this here: https://github.com/elastic/kibana/issues/98498

I proposed that we add an "add agent" button to the header, but this button only appears when we show the Fleet Server onboarding prompt, like so:

![image](https://user-images.githubusercontent.com/847805/12381

[2021-06-29 14:17] dvirlevy-comm-it commented on #27017
This is still relevant, I have the same issue.

I have deployed this solution:
https://github.com/aws-samples/aws-waf-dashboard

And when I am trying to filter the dashboard with "Host" URL I am getting "1 of 6 shards failed" error.
When looking into the request I can see "NullPointer Exception".

Host Scripted field:
def header_name; for(int i=0; i<params._source.httpRequest.headers.length; i++)

[2021-06-29 14:21] elasticmachine commented on #103665
Pinging @elastic/uptime (Team:uptime)

[2021-06-29 14:22] alisonelizabeth opened #103673 "[Snapshot + Restore] Repository API does not handle snapshot error"
**Describe the bug:**
In Snapshot and Restore, if you try to view the details of a repository and it contains a snapshot with an error, you will receive a generic 500 Internal Server Error.

<img width="1774" alt="Screen Shot 2021-06-29 at 9 18 53 AM" src="https://user-images.githubusercontent.com/5226211/123809922-012d5280-d8c0-11eb-8694-539eee581eb0.png">

**Expected behavior:**
The snapshot req

[2021-06-29 14:22] elasticmachine commented on #103673
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-29 14:23] simitt commented on #82851
This should _only_ happen when a cluster has the `apm/fleet` slider enabled. In this case the elastic-agent is set up and enrolls via fleet-server to Fleet, which triggers all the default Fleet setup (including loading these assets). This is necessary for th agent/fleet-server to fully work and be ready to use.

If this should be changed then I suggest to revisit the elastic-agent/Fleet setup beha

[2021-06-29 14:29] timroes opened #103674 "Allow filtering index pattern UI for runtime fields"
Currently the runtime fields are mixed into the field list in the index pattern UI. There is unfortunately no way to deliberately filter down to only runtime fields (since they don't list as an own field type in the field type filter).

This is a bit hampering trying to see all (Kibana side!) runtime fields in the index pattern to edit some of them. I've also heard the request to see them so one c

[2021-06-29 14:29] elasticmachine commented on #103674
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-29 14:40] alisonelizabeth commented on #63270
Thanks for raising this again @wylieconlon.

👍

Note the issue with the confusing error message is related to https://github.com/elastic/kibana/issues/84801.

[2021-06-29 14:40] jen-huang commented on #103468
@nchaulet Assigning this to you as I see you did work for this in #103550.

[2021-06-29 14:40] wylieconlon commented on #103496
Yes, I am still seeing it on the latest master.

On Mon, Jun 28, 2021 at 7:46 PM Matthew Kime ***@***.***>
wrote:

[2021-06-29 14:42] liciavale commented on #85401
New updated design here https://www.figma.com/proto/VNNDSawIv5crAuOBk3xCzJ/Synthetic-monitoring?node-id=2017%3A52567&scaling=min-zoom&page-id=1742%3A11197 let me know if you have any feedback

[2021-06-29 14:42] zraider7 opened #103679 "Kibana give a 500 error when running any command in the Dev tools/console"
**Kibana version:7.13.1**

**Elasticsearch version:7.13.1**

**Server OS version:**
Using defualt kibana docker image dictated by the helm chart
https://github.com/elastic/helm-charts/tree/master/kibana

**Browser version: Firefox 89.0.2 (64-bit)**

**Browser OS version:Windows 10 Pro 19042.1052**

**Original install method (e.g. download page, yum, from source, etc.):**
https://github.com/elastic

[2021-06-29 14:44] wylieconlon commented on #67206
@ghudgins Right, the reason is that Lens (and other visualizations) use the `dateFormat:scaled` options instead of the index pattern date formatter, which has both benefits and downsides. It would be helpful to collect a list of user expectations/requirements for date formatting since my list above is purely my opinion..

[2021-06-29 14:44] zraider7 commented on #103679
For added information, we started this at version 7.8.0 and have upgraded to 7.13.1. It hasn't worked before and we are trying to get it to work

[2021-06-29 14:46] elasticmachine commented on #103649
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-29 14:46] jen-huang commented on #103649
Fleet team isn't responsible for this page. cc Monitoring team.

[2021-06-29 14:50] KOTungseth commented on #102883
Reopening. The changes in #103519 are a temporary workaround, but the bigger issue is that we are forced to split settings names on two lines, which we've found to be confusing to users. To permanently fix this issue, the settings tables should be reformatted into definition lists. I have planned this work for 7.15.0.

[2021-06-29 14:58] ppisljar commented on #103561
@joe most likely we'll resolve this internally. Once new URL service gets introduced reporting will no longer store the URL but `LocatorState` which implements `PersistableState` interface, meaning it supports migrations and those will be handled internally (when using LocatorState it will be automatically migrated to latest version)

[2021-06-29 15:31] jen-huang commented on #103187
#103613 reminded me that `unenroll_timeout`, unlike integration policy user-configurable values, is at the agent policy level, similar to the Name and Description fields. Name and Description cannot be edited by the user in a hosted agent policy.

@simitt For `unenroll_timeout` on Cloud, would this be in a hosted agent policy and therefore not modifiable by the user? Thinking of ways we can reduce

[2021-06-29 15:32] #44817 closed

[2021-06-29 15:32] jen-huang commented on #103613
The intention is for the Cloud agent policy to set its own `unenrollment_timeout` value, similar to the Name and Description fields you see there, so it should be present on this page. I am following up in https://github.com/elastic/kibana/issues/103187#issuecomment-870701864 whether it should be a user-editable value or disabled like the Name and Description fields.

[2021-06-29 15:33] #103613 closed

[2021-06-29 15:35] #100133 closed

[2021-06-29 15:39] alisonelizabeth commented on #103673
Looks like this may have been a regression introduced on master only, appears to be handled correctly on 7.x: https://github.com/elastic/kibana/blob/7.x/x-pack/plugins/snapshot_restore/server/routes/api/repositories.ts#L121.

[2021-06-29 15:42] Stexxen opened #103696 "Links point to ReadMe MarkDown but is actually asciidocs"
For instance
https://www.elastic.co/guide/en/kibana/current/development-best-practices.html

has links through to these github pages. (just a sample of the bad links, not a complete list)

* https://github.com/elastic/kibana/tree/7.13/src/plugins/data/README.md
* https://github.com/elastic/kibana/tree/7.13/src/plugins/embeddable/README.md
* https://github.com/elastic/kibana/tree/7.13/src/plugins/u

[2021-06-29 15:44] gtback commented on #103696
@stacey-gammon I know the developer docs are being migrated. Can you take a look at this?

Also cc: @elastic/kibana-docs

[2021-06-29 15:53] ghudgins opened #103701 "[Lens] Improve field dropdown readability"
**Describe the feature:**
*When* My field names are very long (a certain telemetry environment comes to mind)
*I need* To see the beginning AND the end of fields
*So I can* make a choice less painfully

Workaround today - you can hover over a field in the dropdown and get the browser-powered tooltip to see the full field name. There is *no* way to see what field the system is configured to use wit

[2021-06-29 15:53] elasticmachine commented on #103701
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 16:03] #100657 closed

[2021-06-29 16:04] kobelb commented on #82851
When I upgrade an ESS 7.12 cluster to 7.13, Fleet is enabled automatically and I don't see a way to opt-out.

![7 12-upgrade-fleet](https://user-images.githubusercontent.com/627123/123830924-a17f7900-d8b8-11eb-9a27-11366371d8d0.gif)

Why do the dashboards/visualizations and index-patterns have to be created for Fleet to startup?

As far as I can tell, this behavior does not happen to the on-prem d

[2021-06-29 16:05] bfishel opened #103704 "[Security Solution] Spacing in host page visualizations"
**Describe the bug:**
With the switch to Amsterdam, the spacing looks a bit wonky on the Host page.

**Current implementation:**
![image](https://user-images.githubusercontent.com/48926600/123830759-9b49c680-d8d1-11eb-89e0-8729bc29cb72.png)

**Expected implementation:**
![image](https://user-images.githubusercontent.com/48926600/123831067-ed8ae780-d8d1-11eb-860e-33ccf099c710.png)

**Figma Link:**

[2021-06-29 16:05] elasticmachine commented on #103704
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-29 16:05] elasticmachine commented on #103704
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 16:16] #103346 closed

[2021-06-29 16:29] timroes opened #103711 "Painless script error should open field edit flyout"
We have a central place to handle all painless scripts and show the following error toast:

![screenshot-20210629-163024](https://user-images.githubusercontent.com/877229/123816592-ba5b4f00-d8f7-11eb-8d16-6a20ef3429df.png)

The "Edit Script" button currently brings you to the index pattern UI to the causing index pattern. I think it would be better UX if it instead would open the new field editor

[2021-06-29 16:29] elasticmachine commented on #103711
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-29 16:41] #102537 closed

[2021-06-29 16:43] #103103 closed

[2021-06-29 16:45] wylieconlon commented on #103701
I think we have two main options here:

1. Use a custom `renderOption` function to do our own rendering of each item in the list, which we currently leave to the EUI defaults
2. Contribute a feature to EUI [to prevent truncation](https://github.com/elastic/eui/issues/2082) or to use middle truncation, and then use this feature.

My preference is to contribute this to EUI so that we can use this fe

[2021-06-29 16:50] flash1293 commented on #103701
We already use `renderOption` for this for the icons: https://github.com/elastic/kibana/blob/5da47f8969e9edff22b479c749a507f6bef79325/x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx#L209

[2021-06-29 16:55] paulb-elastic commented on #85401
Linking the second AC to https://github.com/elastic/kibana/pull/103642

[2021-06-29 17:05] #100136 closed

[2021-06-29 17:07] neptunian commented on #100136
@ravikesarwani This has been merged into master so you are able to and would like to test yourself you can do so.  There is information regarding how each alert should function in the PR https://github.com/elastic/kibana/pull/102544

[2021-06-29 17:13] neptunian opened #103720 "[Monitoring] Write missing unit tests for rules"
Stack Monitoring rules CCR and Shard Size are missing unit tests unlike the other rules.

[2021-06-29 17:13] elasticmachine commented on #103720
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-29 17:15] gmmorris commented on #98263
Sounds like the Alerting bug is closed, the Discover bug has another issue to track and it doesn't sound like Core have a follow up here.

Mind if I close this issue @timroes @pgayvallet ?

[2021-06-29 17:16] stephmilovic commented on #103587
not a bug, feature not implemented yet. Issue tracking this feature: https://github.com/elastic/security-team/issues/772

[2021-06-29 17:21] spalger commented on #95011
Just had this fail a backport of mine, would be great it we could get a small PR in to sort these lines before asserting

[2021-06-29 17:21] timroes commented on #103667
I don't that reflect the current state. We're planning to have a timeboxed spike to see how much it will take to deangularize the actual legacy table (not replace it by EUI, but simply replace Angular by React to render the very same HTML), and see if we might get this way of getting rid of Angular done in a quick way (aroundish 2 weeks would be the target, and we timebox it for 1 week first to se

[2021-06-29 17:24] #103414 closed

[2021-06-29 17:29] simitt commented on #103187
Clarified offline with @jen-huang and @Zacqary; see https://github.com/elastic/kibana/pull/103722

[2021-06-29 17:31] stacey-gammon commented on #103696
Thanks Greg and @Stexxen. The public developer guide is currently in legacy mode as we transition to a new documentation system that is not yet public (and will nicely render those mdx files).

We should still fix this, but I'm not sure when I'll be able to get around to it.

You are welcome to open up a PR if you would like to contribute! :)

[2021-06-29 17:36] simitt commented on #82851
Only when you already had the `apm` deployment enabled - from `7.13` on that deployment always also contains `elastic-agent` and `fleet-server`.

Let me rephrase to be more precise - the Fleet setup is required for the agent/fleet-server on ESS/ECE to work. Whatever this Fleet setup contains is something that needs to be discussed with the elastic-agent team; I let them chim in here.

Regarding on

[2021-06-29 17:54] mattkime commented on #103496
This happens when rollup indices are present. Its because telemetry is being collected on index patterns with the kibana_system user. While the kibana_system user has access uses `view_index_metadata` to get the field list of normal indices, it currently needs `read` access for rollup indices - https://www.elastic.co/guide/en/elasticsearch/reference/current/rollup-get-rollup-index-caps.html

[2021-06-29 17:57] #96192 closed

[2021-06-29 18:02] #73635 closed

[2021-06-29 18:07] jportner commented on #103679
This looks like an error that is coming from the Kibana server.

Can you provide a [HAR capture](https://toolbox.googleapps.com/apps/har_analyzer/) that shows the API call from dev tools?

[2021-06-29 18:07] elasticmachine commented on #103679
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-29 18:11] jportner commented on #103497
It sounds like this isn't necessarily a bug but probably a configuration problem. GitHub issues are only intended for bugs or feature requests.

Can you please open a topic on our [Kibana Discuss Forum](https://discuss.elastic.co/c/elastic-stack/kibana/7)? Please include your _full_ Kibana logs, along with the contents of your kibana.yml and elasticsearch.yml files (redact any sensitive info like

[2021-06-29 18:11] #103497 closed

[2021-06-29 18:12] elasticmachine commented on #103402
Pinging @elastic/ml-ui (:ml)

[2021-06-29 18:15] shaunmcgough commented on #103667
Thanks for the clarification on the deangularization efforts @timroes. I should have put, we 'may' not be. I am looking forward to finding out what the effort will take and deciding how to proceed.

[2021-06-29 18:17] elasticmachine commented on #103394
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-29 18:18] pgayvallet opened #103731 "[SO Migration v2] Remove the OUTDATED_DOCUMENTS_* steps"
Now that
1. we're performing a client-side reindex during the `source` to `temp` copy #97222
2. Are officially no longer supporting migrating unknown document types (https://github.com/elastic/kibana/issues/101351)

It seems there is no longer any need to perform the outdated document search and update in the target index.

We need to make sure that these steps no longer make any sense, and if so,

[2021-06-29 18:18] elasticmachine commented on #103731
Pinging @elastic/kibana-core (Team:Core)

[2021-06-29 18:19] kobelb commented on #82851
Thanks for the clarification @simitt. I'm seeing APM enabled by default with the General purpose, Observability and Security "templates" but not the Enterprise Search templates. However, I can explicitly disable APM from any of them. It's good to know that this doesn't affect all deployments

You're right on this as well. Thanks, @simitt .

[2021-06-29 18:20] elasticmachine commented on #103392
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-29 18:21] elasticmachine commented on #103385
Pinging @elastic/siem (Team:SIEM)

[2021-06-29 18:22] elasticmachine commented on #103358
Pinging @elastic/siem (Team:SIEM)

[2021-06-29 18:24] #101351 closed

[2021-06-29 18:24] elasticmachine commented on #103351
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-29 18:25] elasticmachine commented on #103273
Pinging @elastic/siem (Team:SIEM)

[2021-06-29 18:28] #103345 closed

[2021-06-29 18:28] zraider7 commented on #103679
Sure thing! Here you har:
[kibana_har.zip](https://github.com/elastic/kibana/files/6735582/kibana_har.zip)

[2021-06-29 18:34] elasticmachine commented on #103233
Pinging @elastic/kibana-core (Team:Core)

[2021-06-29 18:34] elasticmachine commented on #103231
Pinging @elastic/kibana-core (Team:Core)

[2021-06-29 18:38] jportner commented on #103210
This GitHub repository is only intended for reporting bugs or requesting features in Kibana itself. It sounds like you need assistance configuring Kibana to work with an Apache reverse proxy. Feel free to open a topic on the [Kibana Discuss Forum](https://discuss.elastic.co/c/elastic-stack/kibana/7) for assistance with configuration issues.

[2021-06-29 18:38] #103210 closed

[2021-06-29 18:39] elasticmachine commented on #103196
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 18:39] elasticmachine commented on #103042
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-29 18:40] elasticmachine commented on #103039
Pinging @elastic/siem (Team:SIEM)

[2021-06-29 18:40] elasticmachine commented on #103037
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-29 18:42] alisonelizabeth commented on #103679
Hi @zraider7! I was able to track down a similar issue in our Discuss forum: https://discuss.elastic.co/t/error-expected-location-header-to-be-set/248025/5. Perhaps this can be of help while we look further into this.

[2021-06-29 18:44] elasticmachine commented on #102844
Pinging @elastic/kibana-core (Team:Core)

[2021-06-29 18:44] mikecote commented on #103042
[code]

[2021-06-29 18:45] ghudgins opened #103738 "[Lens] Copy/insert action on custom formula doc examples"
**Describe the feature:**
*When* I am referencing the in-app doc for custom formula
*I need* a quick copy / insert action
*So I can* more easily use the examples in my new custom formula

**Describe a specific use case for the feature:**
Shorten user actions for copying and modifying an example from the in app product help. Per the original formula designs, could look something like this (minus th

[2021-06-29 18:45] elasticmachine commented on #103738
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 18:45] elasticmachine commented on #101455
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 18:48] jportner commented on #101139
I'm closing this as it appears to be stale. Feel free to reopen it if you have the additional feedback that was requested.

[2021-06-29 18:48] #101139 closed

[2021-06-29 18:48] elasticmachine commented on #101336
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-29 18:48] elasticmachine commented on #98359
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-06-29 18:51] tylersmalley commented on #95866
@streamich, I think a package would be a much more appropriate place for utilities and would delegate bundle size to the consumer. A plugin that is just a dumping ground for shared utilities is the issue. We shouldn't be loading all these utilities on every page load.

[2021-06-29 18:51] tylersmalley commented on #95865
Related: https://github.com/elastic/kibana/issues/95866#issuecomment-870834106

[2021-06-29 18:52] elasticmachine commented on #102475
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #100452
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #101541
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #101550
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #102089
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #102465
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #102466
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #102468
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #102471
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 18:53] elasticmachine commented on #102089
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-29 18:54] elasticmachine commented on #101550
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-29 18:55] ymao1 commented on #103037
This was from [this PR](https://github.com/elastic/kibana/pull/102252) that got merged and then reverted and then [resubmitted](https://github.com/elastic/kibana/pull/103172)

[2021-06-29 18:55] ymao1 commented on #103042
This was from [this PR](https://github.com/elastic/kibana/pull/102252) that got merged and then reverted and then [resubmitted](https://github.com/elastic/kibana/pull/103172)

[2021-06-29 18:56] #103037 closed

[2021-06-29 18:56] #103042 closed

[2021-06-29 19:09] alvarezmelissa87 opened #103742 "[ML] Anomaly Detection: ability to clear warning notification from jobs list - improvements"
Follow up to https://github.com/elastic/kibana/pull/103608

Address future proofing concern when hard coding the notifications index https://github.com/elastic/kibana/pull/103608#discussion_r660456523

- Instead of checking `.ml-notifications-000002` specifically we should set an index as clearable if it ends with a 6 digit number and that number is >= 2.

- We should pass the index name from the

[2021-06-29 19:09] elasticmachine commented on #103742
Pinging @elastic/ml-ui (:ml)

[2021-06-29 19:29] mvenukadasula commented on #75377
One more year passed and zero momentum!

[2021-06-29 19:30] tylersmalley commented on #95857
Currently 489,159kB

[2021-06-29 19:31] tylersmalley opened #103748 "[cases] Reduce page load bundle to under 100kB"
For details, refer to the meta issue at https://github.com/elastic/kibana/issues/95853

The `cases` plugin is currently 146,928 bytes. To consider this issue closed, the [limits.yml](https://github.com/elastic/kibana/blob/master/packages/kbn-optimizer/limits.yml) should be updated with the value under 100000.

[2021-06-29 19:31] elasticmachine commented on #103748
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 19:33] tylersmalley opened #103749 "[charts] Reduce page load bundle to under 100kB"
For details, refer to the meta issue at https://github.com/elastic/kibana/issues/95853

The `charts` plugin is currently 105,589 bytes. To consider this issue closed, the [limits.yml](https://github.com/elastic/kibana/blob/master/packages/kbn-optimizer/limits.yml) should be updated with the value under 100000.

[2021-06-29 19:33] elasticmachine commented on #103749
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 19:34] tylersmalley commented on #95858
Currently, 350,855 bytes - trending in the wrong direction. Can someone confirm this is on the team's radar?

[2021-06-29 19:35] tylersmalley commented on #95859
Currently 869,123 bytes. This is almost 1MB of JS - anything we can do here would greatly benefit the Kibana performance as a whole.

[2021-06-29 19:36] tylersmalley opened #103751 "[discover] Reduce page load bundle to under 100kB"
For details, refer to the meta issue at https://github.com/elastic/kibana/issues/95853

The `discover` plugin is currently 110,241 bytes. To consider this issue closed, the [limits.yml](https://github.com/elastic/kibana/blob/master/packages/kbn-optimizer/limits.yml) should be updated with the value under 100000.

[2021-06-29 19:36] elasticmachine commented on #103751
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 19:37] tylersmalley commented on #95860
Currently, 200,887 bytes - trending in the wrong direction. Can someone confirm this has been prioritized?

[2021-06-29 19:38] tylersmalley commented on #95862
Currently, 230,157 bytes - trending in the wrong direction. Can someone from the team please confirm this has been prioritized.

[2021-06-29 19:39] formgeist opened #103753 "[APM] Remove title from the Schema page"
# Summary

Super minor visual fix, but we don't need the title on the page here, as it's already reflected in the tab navigation.

<img width="1493" alt="Screenshot 2021-06-29 at 21 27 14" src="https://user-images.githubusercontent.com/4104278/123857263-5e59f000-d922-11eb-981c-466266109262.png">

[2021-06-29 19:44] sqren commented on #102047
I don't know how you noticed this @dgieselaar but good catch!

This made me think that problems like this can be super hard to spot, but can be make obvious with Synthbean. As part of our test plan we should have Synthbean scenarios that we can go through to validate that the UI shows what it should to.

I already created https://github.com/elastic/kibana/issues/102047 but wondering what the best

[2021-06-29 19:45] pgayvallet commented on #75377
@mvenukadasula we're currently in the process of migrated our EUI library from sass to jss, which is a prerequisite to allow advanced theme customization. Until this rework is done, any customization feature is on hold.

[2021-06-29 19:45] #102047 closed

[2021-06-29 19:46] #98827 closed

[2021-06-29 19:51] pgayvallet commented on #103233
cc @spalger did we already though about using the basepath proxy as an actual rewrite proxy, e.g to allow rewriting `/api/foo` to `/{basePath}/api/foo`?

[2021-06-29 19:51] pgayvallet commented on #98263
Please do.

[2021-06-29 19:53] #102465 closed

[2021-06-29 19:53] #102466 closed

[2021-06-29 19:53] #102468 closed

[2021-06-29 20:00] neptunian opened #103762 "[Monitoring] Investigate issue with incorrect type returned from ES"
In https://github.com/elastic/kibana/pull/103718, the total number of ES nodes returned is a number, but when no nodes exist, its an object.  The issue appears to occur in the code [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/cluster/get_clusters_summary.ts#L121).  Since `cluster.cluster_stats?.nodes?.count?.total` does not exist on the standalone close

[2021-06-29 20:00] elasticmachine commented on #103762
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-29 20:04] dominiqueclarke commented on #100944
@paulb-elastic This appears to now be resolved on edge and locally from master
<img width="761" alt="Screen Shot 2021-06-29 at 4 03 07 PM" src="https://user-images.githubusercontent.com/11356435/123860226-a01f7200-d8f3-11eb-8584-a4e85c9e47d4.png">

[2021-06-29 20:17] cuff-links commented on #84440
Reenabled tests via https://github.com/elastic/kibana/pull/102839. The tests started failing again. Not entirely sure why. Will investigate to find out what's going on with the flakiness.

[2021-06-29 20:24] nreese commented on #78420
closed by https://github.com/elastic/eui/pull/4879. EUI version with fix merged into kibana with https://github.com/elastic/kibana/pull/103297

[2021-06-29 20:24] #78420 closed

[2021-06-29 20:36] smith commented on #54895
This is no longer an issue because UI filters have been removed.

[2021-06-29 20:36] #54895 closed

[2021-06-29 20:38] #103187 closed

[2021-06-29 20:56] willemdh commented on #103265
The Kibana UI has multiple functionalities where the current maxwidth looks ridiculous.. Tried escalating this for years.

[2021-06-29 21:00] rashmivkulkarni commented on #103009
identifying the missing references and adding them to the `kbnArchiver- data.json` resolves this issue. Also added the logic in the maps ` index.js` file to delete them using the API after successful import .

Ref PR: https://github.com/elastic/kibana/pull/103028

[2021-06-29 21:00] #103009 closed

[2021-06-29 21:07] spalger commented on #103233
Yeah, we want to avoid the basePathProxy from hiding basePath issues in the code so automatic redirects from `/api/foo` to `/{basePath}/api/foo` are intentionally not supported.

@sqren can you explain how you are trying to call the Kibana instance that's running with a basePath? Is this for product code? If so users will always have to supply a basePath.

If you're only trying to write some autom

[2021-06-29 21:22] elastic-jb opened #103776 "[Runtime Fields] - Authoring Local Runtime Fields without Index Patterns"
Data Views, previously known as Index Patterns, are the home of Runtime Fields in Kibana. This can be both problematic and limiting. It’s common for users to have read-only access to an Index Pattern, but those same users can author dashboards or build alerts based on top of them. What happens when you want to format a field differently? Maybe your table would fit perfectly if you combined city an

[2021-06-29 21:22] elasticmachine commented on #103776
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-29 21:23] marshallmain opened #103777 "[RAC][Discuss] Support for user-defined field mappings in .alerts indices"
Advanced users of the Security Solution have a history of wanting additional custom fields mapped in the .siem-signals indices. Even though the Security Solution copies the entire source document into the generated alert, fields that were mapped in the original document may not be mapped in the alert document, preventing users from queries on .siem-signals from using those fields effectively.

Use

[2021-06-29 21:24] MichaelMarcialis opened #103778 "[Lens] Configuration Flyout Issues on Small Viewport Sizes"
**Kibana version:**
8.0.0

**Elasticsearch version:**
8.0.0-SNAPSHOT

**Server OS version:**
macOS 10.14.6

**Browser version:**
Chrome 91.0.4472.114

**Browser OS version:**
macOS 10.14.6

**Original install method (e.g. download page, yum, from source, etc.):**
From source

**Describe the bug:**
At very small viewport sizes, EUI flyouts are intended to cover over the entirety of the page content

[2021-06-29 21:24] elasticmachine commented on #103778
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-29 21:33] elasticmachine commented on #103777
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 21:33] elasticmachine commented on #103777
Pinging @elastic/apm-ui (Team:apm)

[2021-06-29 21:36] #92783 closed

[2021-06-29 21:44] EricDavisX commented on #101830
@nimarezainia FYI

[2021-06-29 21:59] #103468 closed

[2021-06-29 22:00] dplumlee opened #103782 "[Security Solution] Create a common component for table overview popovers"
Related: #103377

Currently we use a very similar component in the `x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/tag_display.tsx` file and the `x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/exceptions/exceptions_overflow_display.tsx` file.

With not too much work, we could abstract these out into a common component for th

[2021-06-29 22:00] elasticmachine commented on #103782
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-29 22:00] elasticmachine commented on #103782
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-29 22:17] sqren opened #103785 "[APM] Alerting on garbage collection"
We've received several requests for making it possible to create alerts for garbage collection metrics.
We should investigate this more and consider if we can find a generic alert that can also support this use case.

[2021-06-29 23:00] sqren commented on #103233
This is for https://github.com/elastic/apm-integration-testing which is Docker Compose-based setup used by devs to make APM development easier. Kibana devs will mostly run this setup to start Elasticsearch, APM Server and a bunch of APM agents inside Docker. They'll then run Kibana from source on their host machine.

APM Server needs to connect to Kibana for certain features. Without basepath we c

[2021-06-29 23:04] jen-huang commented on #103266
@dikshachauhan-qasource Can you help revalidate this? I spun up a new 7.14-SNAPSHOT instance and am not seeing this issue, we had various fixes go in the past few days so it may have already been fixed. Going to close for now.

[2021-06-29 23:12] spong commented on #102146
Resolved in `7.13.3` as of https://github.com/elastic/kibana/pull/103695

And resolved in `7.14` as of https://github.com/elastic/kibana/pull/101846

[2021-06-29 23:12] #102146 closed

[2021-06-29 23:15] EricDavisX commented on #103634
@dikshachauhan-qasource can you add a screenshot or video showing?

[2021-06-29 23:26] jen-huang commented on #103634
@EricDavisX There is a video at the bottom :D

Actually I just tested this with a new 7.14-SNAPSHOT deployment and am not seeing the same thing, the spinners animate fine for me. @dikshachauhan-qasource can you click around other areas of Kibana and observe the animation (or lack thereof) in them? From the video it seems like a resource or performance problem of your machine or VM, and not a Fleet

[2021-06-29 23:41] #102903 closed

[2021-06-30 00:07] #102143 closed

[2021-06-30 00:13] #103673 closed

[2021-06-30 00:23] shaunmcgough opened #103802 "[Discover] A lighter shade of pale gray"
With the new value of "(empty)" being displayed, we should change the color from black to a shade of gray.  Perhaps #484848 or something close. [A good link to check out for shades of gray is here](https://www.w3schools.com/colors/colors_shades.asp). Design may have other ideas.

@kertal @timroes @andreadelrio

[2021-06-30 00:23] elasticmachine commented on #103802
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-30 01:15] rylnd commented on #84020
This test has been failing regularly on my [feature branch](https://github.com/elastic/kibana/pull/103383):
* :broken_heart: [Build #135223](https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/135223/) failed ea1128db32559fdda576299c6f9fe13d25e9adc2
* :broken_heart: [Build #135090](https://kibana-ci.elastic.co/job/elastic+kibana+pipeline-pull-request/135090/) failed 93811257b1222

[2021-06-30 01:16] alisonelizabeth commented on #103762
This doesn't appear related to the stack management team so removing team label.

[2021-06-30 02:02] matschaffer commented on #100696
oh, thanks @DaveCTurner ! I'd still like to figure out how we can tune out the stack monitoring elasticsearch client in kibana (for example to 60s).

So long as that setting (once I find it) and `monitoring.ui.ccs.enabled: false` are easily available as workarounds I think we can call this issue done and focus on making ES more responsive when working with CCS networking difficulties.

[2021-06-30 03:10] rylnd commented on #84020
This was, in fact, My Bad™. Closing this issue as e007972 on my feature branch should address it.

[2021-06-30 03:10] #84020 closed

[2021-06-30 03:46] kibanamachine commented on #88926
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15031/)

[2021-06-30 03:46] kibanamachine commented on #88927
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15031/)

[2021-06-30 03:59] kibanamachine opened #103827 "Failing test: Jest Tests.src/plugins/expressions/common/execution - Execution debug mode when functions succeed saves duration it took to execute each function"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15032/)

[2021-06-30 04:27] clintandrewhall commented on #98827
Sorry @cchaos, my PR got excited when it merged because I used the wrong prefix in the description. 😇

[2021-06-30 06:12] ashokaditya commented on #103070
@muskangulati-qasource please close this if already fixed.

[2021-06-30 06:39] kertal commented on #99046
Tested in master and works
![image](https://user-images.githubusercontent.com/463851/123913605-b292bd80-d97e-11eb-84cf-e24fe79b00f0.gif)

[2021-06-30 06:39] #99046 closed

[2021-06-30 06:43] kertal commented on #103369
fixed by #102149

[2021-06-30 06:43] #103369 closed

[2021-06-30 06:46] kertal commented on #103096
fixed by #103100

[2021-06-30 06:46] #103096 closed

[2021-06-30 06:48] kertal commented on #102369
Thanks for reporting, this was fixed in #97634

[2021-06-30 06:48] #102369 closed

[2021-06-30 06:51] kertal commented on #102247
thx for reporting, you're right, and it was already fixed in the used component, which is EuiDataGrid ... Will be part of our next release https://github.com/elastic/eui/pull/4733

[2021-06-30 06:51] #102247 closed

[2021-06-30 07:13] muskangulati-qasource opened #103834 "[Fleet] Filtered agents from agent policy link does not work"
**Description:**
The agents deployed with a policy link under the policies tab does not work

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Agents should be deployed using different policies

**Steps to Reproduce:**
1. Navigate to the Policy Tab under the fleet
2. Select any policy
3. Click on the link for '<count> Agents'
4. Observe

[2021-06-30 07:13] elasticmachine commented on #103834
Pinging @elastic/fleet (Team:Fleet)

[2021-06-30 07:18] timroes commented on #103802
We're using [EUI](https://elastic.github.io/eui/#/) as a UI framework in Kibana, which includes already [color guidelines](https://elastic.github.io/eui/#/guidelines/colors) and defines color palettes. Thus the gray we're using is defined by the ["subdued"](https://elastic.github.io/eui/#/display/text#coloring-text) text color and no need to pick a specific gray.

[2021-06-30 07:19] manishgupta-qasource commented on #103834
Reviewed & Assigned to @EricDavisX

[2021-06-30 07:23] mandeepkaur-qasource opened #103836 "[Security Solution][Enhancement] Inspect Icon is missing on 'Anomalies' tab under Networks page."
**Description:**
[Enhancement] Inspect Icon is missing on 'Anomalies' tab under Networks page.

**Build Details:**
Version: 7.14.0 snapshot
Build: 42091
Commit: fe3ea8ed1fc80caa3acd805d24a1e9ea882aa30f
Artifact link: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Browser Details:**
 All

**Preconditions:**
- Kibana Environment should exist.
- Endpoint security and Elastic Agent shou

[2021-06-30 07:23] elasticmachine commented on #103836
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 07:23] mandeepkaur-qasource commented on #103836
@manishgupta-qasource Please review!!

Thanks!!

[2021-06-30 07:30] deepikakeshav-qasource opened #103837 "[Security Solution] Collapse side navigation icon is not aligned properly under security navigation."
**Description**
Collapse side navigation icon is not aligned properly under security navigation.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Security tab of security.
2. Hover on security navigation.
3. Observe that Collapse side navigation icon is not aligned properly under security navigation

[2021-06-30 07:30] elasticmachine commented on #103837
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 07:31] deepikakeshav-qasource commented on #103837
@manishgupta-qasource Please review

[2021-06-30 07:48] formgeist commented on #93907
`EuiBasicTable` allows for selection on table rows. We should use the same hover and focus states on the rows as their example.

![2021-06-30 at 9 47 23 - Maroon Guppy](https://user-images.githubusercontent.com/4104278/123922396-487f1600-d988-11eb-8602-28162601f796.gif)

[2021-06-30 07:50] karanbirsingh-qasource opened #103839 "[Security Solution]Kibana page crash on breadcrumbnavigation with timeline opened"
**Describe the bug**
Kibana page crash on breadcrumb navigation with timeline opened

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Host tab.
2.Go to Authentication tab.
3.Open timeline.
4.Click on Host from breadcrumb.
5.Observed that the kib

[2021-06-30 07:50] elasticmachine commented on #103839
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 07:54] #74541 closed

[2021-06-30 07:54] #94182 closed

[2021-06-30 07:56] formgeist commented on #103665
@liciavale I think we should make sure to use the appropriate [EUI color variables](https://elastic.github.io/eui/#/guidelines/colors) instead of custom hex colors.

[2021-06-30 07:58] watson commented on #90779
Implemented in #97605

[2021-06-30 07:58] #90779 closed

[2021-06-30 08:04] flash1293 commented on #88926
<img width="1397" alt="Screenshot 2021-06-30 at 10 04 16" src="https://user-images.githubusercontent.com/1508364/123924788-95fc8280-d98a-11eb-8c8a-3ff87859928f.png">

Network changed error

[2021-06-30 08:04] #88926 closed

[2021-06-30 08:06] flash1293 commented on #88927
<img width="1397" alt="Screenshot 2021-06-30 at 10 04 16" src="https://user-images.githubusercontent.com/1508364/123924845-a14fae00-d98a-11eb-80dc-b9956af80506.png">

Network changed error.

FYI @spalger Somehow these tests are vulnerable for this problem (maybe because of the timing of groups? I imagine this test executes around a time when another ci group is doing something with the potential t

[2021-06-30 08:07] dgieselaar opened #103841 "Updating resources on a stack upgrade should be easier"
As part of the RAC project, we are installing various component and index templates, and creating indices/aliases that use these templates. When we roll out a new version of the stack, some of these templates might have changed, and we need to update the mappings of write indices, and rollover/migrate data when needed.

Currently, our only option is to use the setup or start lifecycle. However, th

[2021-06-30 08:07] elasticmachine commented on #103841
Pinging @elastic/kibana-core (Team:Core)

[2021-06-30 08:20] #100759 closed

[2021-06-30 08:22] gbit-is commented on #101710
Sorry for the late reply, I didn't see your response at first

Here are the log lines

{"type":"response","@timestamp":"2021-06-30T08:18:16+00:00","tags":[],"pid":4920,"method":"post","statusCode":200,"req":{"url":"/api/ui_counters/_report","method":"post","headers":{"host":"redacted","sec-ch-ua":"\" Not;A Brand\";v=\"99\", \"Google Chrome\";v=\"91\", \"Chromium\";v=\"91\"","sec-ch-ua-mobile":"?0"

[2021-06-30 08:24] philippkahr opened #103844 "kibana-keystore add shows input in plain text when max chars per line are hit"
**Kibana version:**
7.13.2

**Describe the bug:**

When adding content to the kibana-keystore as soon as the char count hits the max length of the terminal window, it is converted to plain text.

This does not happen with the elasticsearch-keystore add command.

**Steps to reproduce:**
1. Go to kibana/bin
2. run ./kibana-keystore create
3. run ./kibana-keystore add password
4. type in something th

[2021-06-30 08:25] azasypkin commented on #89287
There are four "types" of authentication here:

* Kibana should be able to check that the user configuring connection to ES is the legitimate operator of this Kibana instance. We don't have exact details on how that would work yet, but most likely it will be a variation of the approach @legrego suggested (some sort of secret in stdout).

* Kibana should be able to check that ES cluster it connects

[2021-06-30 08:36] karanbirsingh-qasource opened #103845 "[Security Solution]view host details linking not working from timeline host details modal"
**Describe the bug**
view host details linking not working from timeline host details modal

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Timeline tab.
2.Enter * in timeline search bar.
3.click on host.name field value.
4.Right side host deta

[2021-06-30 08:36] elasticmachine commented on #103845
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 08:38] elasticmachine commented on #103839
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-30 08:39] MadameSheema commented on #103839
@semd @michaelolo24 can you please take a look at this?

[2021-06-30 08:40] elasticmachine commented on #103837
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-30 08:40] MadameSheema commented on #103837
@semd @michaelolo24 can you please take a look at this?

[2021-06-30 08:41] elasticmachine commented on #103836
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-30 08:50] streamich opened #103846 "Remove URL Generators"
As URL Generators have been deprecated and replaced by *locators*, remove URL Generators service one there are no more users.

- [x] Remove usage of Discover URL generator in `data_visualizer` plugin.
- [x] Remove usage of Discover URL generator in `upgrade_assistant` plugin.
- [x] Remove usage of Discover URL generator in `transform` plugin.
- [x] Remove usage of Dashboard URL generator in `inges

[2021-06-30 08:51] samratbhadra-qasource opened #103847 "The activity log under Hostname shows error in Administration tab."
**Describe the bug**
The activity log under Hostname shows error in Administration tab.

**Build Details:**
Version: 7.14.0-SNAPSHOT
Commit: fe3ea8ed1fc80caa3acd805d24a1e9ea882aa30f
Build number: 42091
Artifact: https://artifacts-api.elastic.co/v1/search/7.14.0-SNAPSHOT

**Preconditions**
Elastic 7.14.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce**
Navigate to the Administration

[2021-06-30 08:51] elasticmachine commented on #103847
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 08:51] samratbhadra-qasource commented on #103847
@manishgupta-qasource please review.

[2021-06-30 08:52] elasticmachine commented on #103846
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 08:54] liciavale commented on #103665
Hey @formgeist yes, this is not a custom hex colour but it is the one for the titles we are using. It was simpler for me to copy the #. I'll replace it with the proper EUI colour label :)

[2021-06-30 09:10] gmmorris commented on #87048
This issue came up in Slack today and I provided some historical context which, I figure, is worth copy-pasting it in here as well.

-----

To add some historical context around this:

As Recovery is caused by _the omission_ of an alert by a rule, there is no `context` available to us which we can pass into actions here (as the `context` is provided by the rule type implementer).
An idea had been

[2021-06-30 09:11] timroes commented on #103751
Could you clarify how you got those numbers? The current limit for `discover` is [configured](https://github.com/elastic/kibana/blob/master/packages/kbn-optimizer/limits.yml#L19) as 105145 bytes, so how can the plugin be above that limit? Also the numbers are very different from what I see in the kibana-stats instance where Discover reports as 93.01kB page load bundle size? Same applies for https:

[2021-06-30 09:17] #99664 closed

[2021-06-30 09:20] manishgupta-qasource commented on #103836
Reviewed the ticket

[2021-06-30 09:21] manishgupta-qasource commented on #103837
Reviewed the ticket

[2021-06-30 09:22] manishgupta-qasource commented on #103839
Reviewed the Ticket

[2021-06-30 09:23] ppisljar commented on #74643
revisiting this discussion:

it seems multitable is not something lens specific but will be needed in other places:
- if maps were to use expressions they need layered data (multiple tables as well)
- we might have single data fetching functions that need to return multiple tables (for example graph data, one table for nodes one for links)

[code]

for this reasons we are considering keeping the m

[2021-06-30 09:45] manishgupta-qasource commented on #103847
Reviewed & assigned to @kevinlog

[2021-06-30 09:51] flash1293 commented on #74643
I think we can go both ways and I don't feel strongly about either way.

As we won't do it in a loop (like with `mapColumn`), I'm not too concerned about this performance hit.

[2021-06-30 10:00] timroes opened #103854 "String field formatter doesn't apply when highlight was found"
When configuring a string field formatter on a field and then search for a value for it, the highlighting of the fields value completely disables the field formatting for that field, e.g. in the following example I've used the decode base64 formatting (which of course doesn't make the most sense in this example):

![screenshot-20210630-115219](https://user-images.githubusercontent.com/877229/12394

[2021-06-30 10:00] elasticmachine commented on #103854
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 10:20] goupcoder commented on #56743
For my task, I'm also need these parameters for calculations.

[2021-06-30 10:20] sqren commented on #35938
Re-opening as this is not fixed. In latest master a single requests is rendered as this:

![image](https://user-images.githubusercontent.com/209966/123944602-8fc3d180-d99d-11eb-8ce7-ab6e0e11946c.png)

[2021-06-30 10:20] streamich opened #103856 "Migrations for short URLs"
Add migration support for new short URL service.

Part of https://github.com/elastic/kibana/issues/98110

[2021-06-30 10:21] elasticmachine commented on #103856
Pinging @elastic/app-search-frontend (Team:AppSearch)

[2021-06-30 10:22] karanbirsingh-qasource opened #103857 "[Security Solution]Align Breadcrumb info for Endpoint,Trusted app and Event Filter as per update security navigation"
**Describe the bug**
Align Breadcrumb info for Endpoint,Trusted app and Event Filter as per update security navigation

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Security App.
2.Under Manage , you will see below 03 items
- Endpoints
- Trus

[2021-06-30 10:22] elasticmachine commented on #103857
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 10:23] streamich opened #103858 "Short URL service in browser"
- [x] Implement short URL client on the browser.
- [x] Combine locators and short URLs into a single service.
- [x] Make sure all short URLs are created using locators.
- [x] In the same one PR make `share` plugin use the new short URL client. Refactor sharing feature for Dashboard, Discover, Visualize to use the new short URL client.
- [ ] Add docs for the new feature.
- [ ] Check that old short

[2021-06-30 10:25] elasticmachine commented on #103857
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-30 10:25] elasticmachine commented on #103858
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 10:25] MadameSheema commented on #103857
@semd @michaelolo24 can you please take a look at this? Thanks :)

[2021-06-30 10:30] manishgupta-qasource commented on #103857
Reviewed this ticket

[2021-06-30 10:30] deepikakeshav-qasource opened #103859 "[Security Solution] Add Data button is not working under navigation bar."
**Description**
Add Data button is not working under navigation bar.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Click on Navigation Icon ☰.
2. Scroll down and click on "Add Data" button.
3. Observe that Add Data button is not working under navigation bar.
4. Observe that in dev tool anchor tag is not pres

[2021-06-30 10:30] elasticmachine commented on #103859
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 10:30] deepikakeshav-qasource commented on #103859
@manishgupta-qasource Please review

[2021-06-30 10:33] manishgupta-qasource commented on #103859
Reviewed & assigned to @MadameSheema

[2021-06-30 10:42] mostlyjason commented on #102491
Thanks this is a good catch. It won't work if we link the user to a version newer than their stack.

[2021-06-30 10:43] voondo opened #103861 "Dashboards with empty `time_field`"
_(Disclaimer: I actually don't know if the problem is with kibana or metricbeat)_

**Kibana version:** 7.13.2

**Elasticsearch version:** 7.13.2

**Server OS version:** Debian GNU/Linux 10 (buster)

**Browser version:** Firefox 89.0.1

**Browser OS version:** Ubuntu 20.04.2 LTS

**Original install method:** apt install from https://artifacts.elastic.co/packages/7.x/apt

**Describe the bug:**
When

[2021-06-30 10:44] mostlyjason commented on #102491
The past download page is missing this helpful note: "We recommend using the installers over (RPM/DEB)". Perhaps we could add this to step 1 in the add agent flyout? Users also need the installer for step 3 to work.

[2021-06-30 10:48] peteharverson commented on #98939
Closing issue as the index data visualizer code has now been moved out of the `ml` plugin into the `data_visualizer` plugin for 7.14 in https://github.com/elastic/kibana/pull/100922.

Follow-up items (moving functional tests, adding back links to the ML job wizards) are tracked in https://github.com/elastic/kibana/issues/101435.

[2021-06-30 10:48] #98939 closed

[2021-06-30 10:52] gmmorris commented on #92341
For what it's worth - this is true in the Alerting framework as well.

If I'm not mistaken, the reason you're encountering this is that in Security Solution specifically signals get batched into a single alert at framework level (`scheduleAction` is only called once, instead of once per alert).

This came up in the Q&A session last week around Alerts-as-data, and @mikecote and @tsg are supposed to

[2021-06-30 10:52] #103455 closed

[2021-06-30 10:55] mtojek commented on #100031
Another one: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/500/pipeline

[2021-06-30 11:09] paulb-elastic opened #103864 "Logs & Metrics UI 7.14.0 test plan"
This meta issue is meant to kick off the test plan for 7.14.0 and acts as our go-to place for discussions around it.

Next steps:

1. Copy [test plans from the previous release](https://github.com/elastic/kibana/milestone/30) and adjust based on PRs you've authored:

- [x] [@estermv](https://github.com/elastic/kibana/issues?q=is%3Amerged+label%3Av7.14.0+author%3Aestermv)
- [x] [@Kerry350](https://

[2021-06-30 11:09] elasticmachine commented on #103864
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-30 11:18] elasticmachine commented on #103827
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 11:36] flash1293 commented on #103749
Did some investigation. The easiest way to save some bytes is to not require the `color` package in the main bundle.

This is where it's used:

[code]

Plan:

* Lazy load legacy color service (getLegacyColorService: Promise<LegacyColorService> on contract instead of instance)
* Resolve in render method of VisController in vislib and pass down to initVisConfig
* Pass this service getter into Palett

[2021-06-30 11:40] deepikakeshav-qasource opened #103866 "[Security Solution] Breadcrumb "Create" is not disable even user can not move further."
**Description**
Breadcrumb "Create" is not disable even user can not move further

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Rules tab of security.
2. Click on craete a new rule.
3. Observe that breadcrumb "Create" is not disable

**Impacted Test case:**
N/A

**Actual Result:**
Breadcrumb "Cre

[2021-06-30 11:40] elasticmachine commented on #103866
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 11:40] deepikakeshav-qasource commented on #103866
@manishgupta-qasource Please review

[2021-06-30 11:41] deepikakeshav-qasource opened #103868 "[Question] Alerts navigation is displaying in left navigation when navigate to Host > External alerts tab."
**Description**
[Question] Alerts navigation is displaying in left navigation when navigate to Host > External alerts tab.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to host tab of security.
2. Click on External alerts of host tabs.
3. Observe that Alerts navigation is displaying in left navigati

[2021-06-30 11:41] elasticmachine commented on #103868
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 11:41] deepikakeshav-qasource commented on #103868
@manishgupta-qasource Please review.

[2021-06-30 11:41] muskangulati-qasource commented on #101729
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and found that issue is now **fixed**.

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/123924513-abcc7080-d9a7-11eb-8048-25be297aab85.mp4

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-06-30 11:41] #101729 closed

[2021-06-30 11:42] muskangulati-qasource commented on #102454
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and found that issue is now **fixed**.

**Build Details**:
[code]

**Screenshot**:
![2](https://user-images.githubusercontent.com/60252716/123937446-ce648680-d9b3-11eb-90c5-ebafa18da818.png)

However, we have seen that the information for Hostname & Agent version is now removed from the Overview Tab, please confirm if it is e

[2021-06-30 11:42] manishgupta-qasource commented on #103866
Reviewed & assigned to @MadameSheema

[2021-06-30 11:42] muskangulati-qasource commented on #102607
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and found that issue is now **fixed**.

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/123937017-5f872d80-d9b3-11eb-9aca-144fd90d9052.mp4

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-06-30 11:43] muskangulati-qasource commented on #102719
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and found that issue is now **fixed**.

**Build Details**:
[code]

**Screenshot**:
![3](https://user-images.githubusercontent.com/60252716/123937183-88a7be00-d9b3-11eb-86e1-589b84301527.JPG)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-06-30 11:43] #102719 closed

[2021-06-30 11:43] manishgupta-qasource commented on #103868
Reviewed & assigned to @MadameSheema

[2021-06-30 11:43] muskangulati-qasource commented on #103070
Hi @kevinlog,

We tested this ticket on the latest 7.14.0-SNAPSHOT build and found that issue is now **fixed**.

**Build Details**:
[code]

**Screenshot**:
![1](https://user-images.githubusercontent.com/60252716/123937313-a83ee680-d9b3-11eb-9a30-25aec82d3081.JPG)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-06-30 11:43] #103070 closed

[2021-06-30 11:49] flash1293 commented on #59430
Chatted with @nik9000 and he recommends to offer rare terms separately from ascending count. We could add a new entry to the ranking dropdown - "Rare terms".

[2021-06-30 11:50] elasticmachine commented on #103844
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-30 11:54] flash1293 opened #103869 "[Lens] empty string not converted to (empty) on x axis in xy charts"
**Kibana version:** master

**Describe the bug:** "falsy" data like the empty string & the boolean value `false` are not formatted on the x axis, and can't be filtered

**Steps to reproduce:**
1. Install logs sample data
2. Drag in extension field
3. The largest bar doesn't have a label
4. If you click the largest bar, a filter should be added

Other steps:

1. Install the flights sample data
2. D

[2021-06-30 11:54] elasticmachine commented on #103869
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-30 11:57] stratoula commented on #103861
I am closing it as it already reported and solved https://github.com/elastic/kibana/pull/102494. This will be fixed with 7.13.3. For now, the workaround is to select the timefield, as you correctly mention 🙂

[2021-06-30 11:57] flash1293 opened #103870 "[Lens] Add telemetry for error message "fix action" usage"
It should be tracked how often the fix action converting top values into filters to be able to use them together with multiple time shifts is used https://github.com/elastic/kibana/blob/2ab5d6bc46ccc5d57eb0ccc35351052d1d72bdf2/x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx#L84

This is very similar to https://github.com/elastic/kibana/pull/94903

[2021-06-30 11:57] elasticmachine commented on #103870
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-30 11:58] elasticmachine commented on #103861
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-30 11:59] #103861 closed

[2021-06-30 12:00] muskangulati-qasource opened #103871 "[Security Solution] The isolation status is not consistent on the application"
**Description:**
The isolation status is not consistent on the application

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed

**Steps to Reproduce:**
1. Navigate to the Admin Tab
2. Isolate the host
3. Observe the status is different on both alerts tab & Admin Tab

**Impacted Test case:**
N/A

**Actual Result

[2021-06-30 12:00] elasticmachine commented on #103871
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-30 12:00] elasticmachine commented on #103871
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 12:00] muskangulati-qasource commented on #103871
@manishgupta-qasource please review!

[2021-06-30 12:12] ghost opened #103873 "[Security Solution]Truncation Required for Timeline Template search field placeholder"
**Describe the bug**
Truncation Required for Timeline Template search field placeholder

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
1.Kibana user should be logged in.
2.Endpoint Security Should be installed.

**Steps to Reproduce**
1.Go to Manage detection rule.
2.create new rule.
3.Observed that Complete text of placeholder is not showing in the

[2021-06-30 12:12] elasticmachine commented on #103873
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 12:14] kevinlog commented on #103871
This is because the pending status for Alert details wasn't merged until last night.  This should be fixed in the next build or BC 1.

Here is the the PR: https://github.com/elastic/kibana/pull/103549

cc @parkiino

[2021-06-30 12:21] MadameSheema commented on #103859
Hi @deepikakeshav-qasource , this issue was introduced by Kibana development team. The fix has been merged already: https://github.com/elastic/kibana/pull/103810 so you can retest it on the latest master branch.

Thanks :)

[2021-06-30 12:22] paulb-elastic commented on #102067
After discussing with @sorantis, I’ve added that we need to review these results once we have them, to determine if further improvements are needed.

[2021-06-30 12:25] manishgupta-qasource commented on #103873
Reviewed & Assigned to @MadameSheema

[2021-06-30 12:29] gmmorris commented on #64144
@sqren  Given this is being delivered by RAC, can I remove this from the Alerting team's [dependencies list](https://github.com/elastic/kibana/issues/67992)?

We're trying to groom the backlog of work and figuring out what is being blocked **by us** is important :)

[2021-06-30 12:36] gmmorris commented on #62483
Hi @Zacqary ,
I think this was addressed by https://github.com/elastic/kibana/pull/72716 back in July last year.

Am I right? Can this issue be closed?

[2021-06-30 12:37] elasticmachine commented on #103847
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-30 12:39] mikecote opened #103874 "Unable to identify how many alerts were found during a rule execution"
It would be nice to view the rule execution events and know how many alerts were found during each execution. It might also be nice to filter on this value.

[2021-06-30 12:39] elasticmachine commented on #103874
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-30 12:44] #103612 closed

[2021-06-30 12:44] #103619 closed

[2021-06-30 12:54] #102090 closed

[2021-06-30 13:00] sqren opened #103878 "[APM] Remove `start` and `end` from `setupRequest`"
`start` and `end` are the only url params that not explicitly passed to the underlying handler.

**Example:**
The params `environment`, `kuery`, `transactionType` and `transactionName` are all explicitly passed to `getThroughputCharts`. `start` and `end` are handled implicitly in `setupRequest `

https://github.com/elastic/kibana/blob/2bc801c8ef26c357a4be437852bd1fd6745724a4/x-pack/plugins/apm/ser

[2021-06-30 13:00] elasticmachine commented on #103878
Pinging @elastic/apm-ui (Team:apm)

[2021-06-30 13:02] afgomez commented on #103563
It was indeed because of it. Changing a `ref.current` doesn't trigger whatever needs to be triggered internally in React, so I used a `useState` hook instead in #103876

[2021-06-30 13:08] himanshu007-creator commented on #103869
Hi , i would like to work on this issue

[2021-06-30 13:11] flash1293 commented on #103869
@himanshu007-creator That's great, thanks for participating. I will assign the issue to you. Please let me know if you have to drop it for whatever reason.

[2021-06-30 13:16] cauemarcondes opened #103881 "[APM] Filters/table going over the new observability menu"
Filters:
![Screen Shot 2021-06-30 at 09.14.53.png](https://zube.io/files/elastic/85e881b2d456b357a6e9540efc1c1743-screen-shot-2021-06-30-at-09-14-53.png)

Service inventory table:
![Screen Shot 2021-06-30 at 09.25.23.png](https://zube.io/files/elastic/7b3e91d64d26e7371ccfac7f0571ecc3-screen-shot-2021-06-30-at-09-25-23.png)

Related to https://github.com/elastic/observability-design/issues/71

[2021-06-30 13:16] elasticmachine commented on #103881
Pinging @elastic/apm-ui (Team:apm)

[2021-06-30 13:18] nik9000 commented on #59430
I had to reread some things but I think I can summarize the difference between sorting terms with count ascending and rare terms:
* rare terms doesn't have a `size` - instead you control how many terms are returned by modifying the rarity. That's weird, but its sort of required for that agg's definition of "correct".
* rare terms [might](https://en.wikipedia.org/wiki/Cuckoo_hashing) incorrectly le

[2021-06-30 13:18] sqren commented on #64144
@gmmorris sure 👍

[2021-06-30 13:18] peteharverson opened #103882 "[ML] Transforms: Layout issues with Transforms wizard"
The content in the Transforms wizard overflows into the side nav when the window is made smaller.

![image](https://user-images.githubusercontent.com/7405507/123966499-6612a680-d9ad-11eb-8597-c467ceb5b9da.png)

Possibly a regression caused by the page layout changes in #102648.

Also the cards displayed at the end of wizard no longer have equal width, and are narrower than previously:

![image](ht

[2021-06-30 13:18] elasticmachine commented on #103882
Pinging @elastic/ml-ui (:ml)

[2021-06-30 13:24] XavierM commented on #103837
@michaelolo24 Can you check with @cchaos?

[2021-06-30 13:28] XavierM commented on #103836
it has been working like that since the beginning, we should talk to @paulewing to see when it want us to prioritize this bug in future

[2021-06-30 13:30] XavierM commented on #103474
@asnehalb can you please put this enhancement in the backlog?

[2021-06-30 13:31] XavierM commented on #103836
@asnehalb can you please put this enhancement in the backlog?

[2021-06-30 13:34] kevinlog commented on #102454
@muskangulati-qasource thanks for the info.

The Hostname was removed purposefully with this ticket as it's available in the header: https://github.com/elastic/security-team/issues/1223

The Agent Version is actually just called Endpoint Version now.  It is still available in the flyout that I can see in the screenshot.  I think we can close this one.

Let me know if you have any other questions!

[2021-06-30 13:34] smith opened #103884 "Move Cases components from security solutions to the plugin case, we will follow the same architecture than the alert team. We had a meeting with the alert teams and @YulNaumenko advice us to follow this PR"

[2021-06-30 13:35] XavierM commented on #103452
@karanbirsingh-qasource can you please check that everything is good now

[2021-06-30 13:35] smith commented on #103884
Sorry I was checking out the new "convert to issue" feature on GitHub. I can confirm it works but I didn't mean to do this.

[2021-06-30 13:35] #103884 closed

[2021-06-30 13:36] formgeist commented on #103881
Related open issue for the inventory table https://github.com/elastic/kibana/issues/94828

[2021-06-30 13:36] XavierM commented on #103443
This has been fixed, @karanbirsingh-qasource,canyou please re-test?

[2021-06-30 13:40] voondo commented on #103861
My bad... Thanks for the reply.

[2021-06-30 13:41] flash1293 commented on #59430
Good point @nik9000 - we would have to enforce the `size` on Lens side (or simply omit it for rare terms). Also I guess it makes sense to expose the max doc count to the user.

[2021-06-30 13:43] kevinlog commented on #103847
This should be fixed in the next build or BC 1.

The fix was merged with this PR: https://github.com/elastic/kibana/pull/103159

fyi @ashokaditya

[2021-06-30 13:46] XavierM commented on #102858
@asnehalb can you put this in the backlog?

[2021-06-30 13:48] elasticmachine commented on #103868
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-06-30 13:49] MadameSheema commented on #103868
@semd @michaelolo24 can you please take a look at this?

[2021-06-30 13:49] dominiqueclarke commented on #101945
@katrin-freihofner @jasonrhodes I'm interested to know how we'll display expected/actual values for rule types with values that don't fit neatly into numeric values.

For example, for Uptime TLS certificate alerts, the "expected" value is either "Certificate is **not** expiring in X days" or "Certificate is **not** greater than X days old"

Likewise, for monitor status alerts, the "expected" value

[2021-06-30 13:49] #103448 closed

[2021-06-30 13:51] EricDavisX commented on #103834
@jen-huang can you take a look and assess please?

[2021-06-30 13:52] wavded commented on #24709
In my case it seems even if I "exclude" fields in the index, I still see fields excluded as well in autocomplete, even though they don't show up elsewhere in the UI.  Is that expected?

[2021-06-30 13:52] XavierM commented on #102630
@snehal,can we add this in our backlog?

[2021-06-30 13:52] mikecote opened #103888 "Identify potential failure cases around our data and produce a set of data-focused tests"
From the 7.13 post-mortem and issue https://github.com/elastic/kibana/issues/100607, we should organize a meeting with someone in the Elasticsearch team to help us identify as many potential failure cases around our data and produce a set of data-focused tests that we can apply to every API, migration etc.

[2021-06-30 13:52] elasticmachine commented on #103888
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-06-30 13:54] XavierM commented on #101265
@asnehalb, can we add this in our backlog?

[2021-06-30 13:55] patriczek opened #103890 "[APM] Possibility to show labels in Trace Sample"
Add possibility to show span labels (or something similar key, value) in APM Trace sample waterfall.

The reason this that, sometimes is pretty nice to see some additional information about span/transaction without opening metadata.

[2021-06-30 13:55] elasticmachine commented on #103890
Pinging @elastic/apm-ui (Team:apm)

[2021-06-30 13:56] XavierM commented on #100701
@asnehalb, can we add this in our backlog?

[2021-06-30 13:57] adam-stokes opened #103891 "Unable to configure fleet server via environment variables in dockerized Kibana"
**Kibana version:**

8.0.0-SNAPSHOT

**Elasticsearch version:**

8.0.0-SNAPSHOT

**Server OS version:**

Ubuntu 20.04

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

Via docker-compose

**Describe the bug:**

Kibana will fail to configure fleet server if started via docker and attempting to configure everything with environ

[2021-06-30 13:57] stephmilovic commented on #103581
We've got an internal ticket for refactoring the Sourcerer to use the _actual_ Kibana Index Patterns vs the sorcery thats going on now. 7.15: https://github.com/elastic/security-team/issues/772

[2021-06-30 13:59] #92185 closed

[2021-06-30 13:59] formgeist commented on #103890
@patriczek Thanks for your suggestion! We have a [redesigned trace view](https://github.com/elastic/kibana/issues/92017) in the pipeline but we will consider how we can accommodate the transaction and/or span details inside the waterfall itself.

[2021-06-30 14:01] kpollich opened #103894 "[Integrations UI] Improve Tests for Agent Enrollment Flyout"
Ref #103554

Some tests for the [Agent Enrollment flyout ](https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/public/components/agent_enrollment_flyout/agent_enrollment_flyout.test.tsx)are currently being skipped because the `step` component passed into the flyout are not first-class React components. We should update this implementation and improve the tests to assert that the exp

[2021-06-30 14:01] elasticmachine commented on #103894
Pinging @elastic/fleet (Team:Fleet)

[2021-06-30 14:04] XavierM commented on #99626
That seems to work as expected!

[2021-06-30 14:12] michaelolo24 commented on #99614
@joshdover are we okay to close this issue now?

[2021-06-30 14:23] bnkamalesh commented on #102021
@andrewvc following is the script which I ran

[code]

[2021-06-30 14:23] ghudgins commented on #102035
additional question from planning week: what do we do if the user changes palettes

[2021-06-30 14:35] jen-huang commented on #103834
This is a small bug where it's just the query on the policy ID seems to have broken. Removing the priority label but adding it to the board.

[2021-06-30 14:42] bvader commented on #100998
Simple Data set showing correct calculate for Metric : Average over Entire Time Range for Series Agg : Sum
In other words the correct calculation should be the Average over the Entire Time Range for the Sum of Series in Each Bucket

<img width="1087" alt="Screen Shot 2021-06-30 at 7 40 28 AM" src="https://user-images.githubusercontent.com/15572155/123980603-85421180-d976-11eb-8aa2-f954fe9df80a.png

[2021-06-30 14:48] michaelolo24 commented on #103837
Yep, np. Looks like it's something that's known given the comment here: https://github.com/elastic/kibana/pull/103192#issuecomment-869807559

[2021-06-30 15:05] gemaliano opened #103906 "Threshold value per bar in bar chart visualisation"
**Describe the feature:**
Possibility to set a threshold value per bar in the bar chart visualization and change the color of the bar if the value crosses the set threshold.

**Describe a specific use case for the feature:**
This is possible in vega --> https://discuss.elastic.co/t/color-in-vega-bar-charts/261739/4

[2021-06-30 15:05] elasticmachine commented on #103906
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-30 15:12] flash1293 commented on #103906
I'm going to close this because we have a more general issue already tracking this here: https://github.com/elastic/kibana/issues/95556

[2021-06-30 15:12] #103906 closed

[2021-06-30 15:22] mshustov commented on #92933
Why then do we have cases where the migration fails with the timeout error due to a large number of `task` documents? We have several incidents reported every month.

AFAIK SO migrations v2 has been designed to support [migration up to 300,000 SO](https://github.com/elastic/kibana/issues/96626). If we need to support the migration of 1,000,000 SOs, we will have to revise the architecture, which wi

[2021-06-30 15:27] nik9000 commented on #59430
Its really a strange thing to try and integrate, I buy that.

[2021-06-30 15:32] #103617 closed

[2021-06-30 15:34] mikecote commented on #103258
@arisonl what urgency do you think this issue has? Should we aim to have it fixed sooner than later?

[2021-06-30 15:40] michaelolo24 commented on #103868
Yep, @semd and @angorayc I'm guessing it has to do with the fact that the id for the host sub tab `external alerts` is the same as the top level `alerts`:

https://github.com/elastic/kibana/blob/9fdd5698387bc1ef156fee2b29cc40031a7e8220/x-pack/plugins/security_solution/public/hosts/store/model.ts#L22

Any objections to just renaming it? Also @XavierM, what do we think the impact is here?

[2021-06-30 15:44] mikecote commented on #100738
Yeah, I think we can use this issue to add functional tests.

[2021-06-30 15:45] ghudgins commented on #102035
Nice to have: affordance when the aggregation is `Percentile` https://discuss.elastic.co/t/change-colour-of-metric-visualization-for-percentile-ranks-aggregation/277454/4

[2021-06-30 15:50] joshdover opened #103915 "Remove deprecated settings https://github.com/elastic/kibana/blob/master/src/core/server/config/deprecation/core_deprecations.ts"

[2021-06-30 15:56] joshdover commented on #56205
This was completed in 7.9

[2021-06-30 15:56] #56205 closed

[2021-06-30 16:00] formgeist opened #103917 "[APM] Backends UI: Implement telemetry tracking"
# Summary

For our new Backends UI views we want to know the following from telemetry;

- Number of visits for each individual view.
- For each link into the view, track the usage so we understand whether users are finding the links or not.

[2021-06-30 16:00] elasticmachine commented on #103917
Pinging @elastic/apm-ui (Team:apm)

[2021-06-30 16:00] formgeist commented on #103917
@alex-fedotyev feel free to add more if necessary for the backends views.

[2021-06-30 16:03] alexwizp commented on #100998
@bvader Your calculation make sense and I agree ideally it should work in that way.  Let me explain why we have what we have.
In #37185 the `Entire Timerange Mode` was introduced.  To avoid huge refactoring we decided to use a `auto_date_histogram` aggregation  instead of `date_histogram ` to return only `1` bucket.  It's important note and this approach works fine for simple aggregation.

But wha

[2021-06-30 16:03] kobelb commented on #89287
Thanks for the elaboration, @azasypkin; and apologies for the vague question, there is clearly a lot of different forms of authc/authz going on here. The following is what I was primarily concerned about since we can't use ES as the basis for this authc/authz because Kibana can't communicate with ES at the time the user is using the UI:

If we're outputting the secret to stdout, if users install K

[2021-06-30 16:03] stacey-gammon opened #103918 "build_api_docs script deleted index_pattern_management docs"
I'm not sure why this doc got deleted because there are public API items being exported. Needs investigation.

Tagging team ops so it has a team owner, but I will assign myself (though, TBD on when I'll get around to investigating).

[2021-06-30 16:03] elasticmachine commented on #103918
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-30 16:12] estermv opened #103920 "[Monitoring] Change wording of the create option in the "Alerts and rules" dropdown"
## Summary
This issue is a follow up of https://github.com/elastic/kibana/pull/101565 to discuss the following feedback point from @katefarrar:

Once a user selects "Yes" from the modal and creates the rules they are then able to go to the "Alerts and rules" dropdown and "Create default rules". That makes it seem like the default rules were never created. Instead, could the language say "Re-create

[2021-06-30 16:12] elasticmachine commented on #103920
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-06-30 16:12] elasticmachine commented on #103920
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-30 16:14] michaelolo24 commented on #103845
FYI: This issue is the same as https://github.com/elastic/kibana/issues/103839

[2021-06-30 16:14] joshdover opened #103921 "Remove support for legacy exports"
Related to https://github.com/elastic/kibana/issues/41439

In Kibana 8.0, we will no longer support the legacy dashboard export format from Kibana 6.x. We've had a warning in place in the UI since 7.0 that these exports will no longer be supported.

This is issue is to scope out removal of the UI code for handling legacy imports. This code leverages the SavedObjectLoader pattern for saving these o

[2021-06-30 16:15] elasticmachine commented on #103921
Pinging @elastic/kibana-core (Team:Core)

[2021-06-30 16:18] michaelolo24 commented on #103445
@MadameSheema Yep, there was a bug that caused the Timeline to return as a flyout, it has since been fixed and should be full screen now! Please confirm in the next build @karanbirsingh-qasource. Thank you 😄

[2021-06-30 16:19] daverick opened #103922 "index threshold rule does not work as expected with a threshold below a value"
**Kibana version:**
7.13.2
**Elasticsearch version:**
7.13.2

***Original install method (e.g. download page, yum, from source, etc.):**
ECE 2.7.1

**Describe the bug:**
A index threshold rule with a condition below a value is not active when it should be.
A similar Elasticsearch query rule with a  condition below a value is working as expected.

**Steps to reproduce:**
1. Create a `index threshol

[2021-06-30 16:20] michaelolo24 commented on #103441
This issue has been fixed when the new side navigation changes were added. Please confirm in the next build! @samratbhadra-qasource

[2021-06-30 16:23] alisonelizabeth opened #103924 "[Index Management] Make fetch indices call more resilient"
Due to a change in Elasticsearch (https://github.com/elastic/elasticsearch/issues/74687), the call to fetch indices in Index Management is failing, causing the "Indices" tab to error.

<img width="874" alt="Screen Shot 2021-06-30 at 12 15 25 PM" src="https://user-images.githubusercontent.com/5226211/123995987-df55cd80-d99c-11eb-82c6-bed526698d1d.png">

While this should be resolved on the ES side,

[2021-06-30 16:24] elasticmachine commented on #103924
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-06-30 16:25] jen-huang commented on #102651
I was able to replicate this and found that although Fleet is finding the synthetics data streams correctly, in the end they get filtered out because the documents do not contain `data_stream.*` fields. Fleet will filter out data streams whose documents do not contain `data_stream.dataset`, `data_stream.namespace`, and `data_stream.type`:

https://github.com/elastic/kibana/blob/2323b9864239e8db789

[2021-06-30 16:25] elasticmachine commented on #102651
Pinging @elastic/uptime (Team:uptime)

[2021-06-30 16:30] jbudz commented on #101249
I believe I tracked this down to https://github.com/elastic/kibana/pull/67433.  This assumes KBN_PATH_CONF is globally available and removed the fallback.  I'll open a PR.

[2021-06-30 16:31] gmmorris commented on #67992
Removed from APM:
[code]

@sqren confirmed this should be delivered by RAC. We can bring it back if RAC doesn't deliver the goods ;)

[2021-06-30 16:37] constancecchen commented on #103856
Sorry, can you clarify how this is an `Team:AppSearch` issue? Was this tag mistakenly added?

[2021-06-30 16:43] MadameSheema commented on #103134
@deepikakeshav-qasource can you please validate the fix of this issue in the first BC? Thanks :)

[2021-06-30 16:44] MadameSheema commented on #103051
@mandeepkaur-qasource can you please validate the fix of this issue on the first BC? Thanks :)

[2021-06-30 16:46] MadameSheema commented on #102488
@deepikakeshav-qasource can you please validate the fix of this issue in the first BC? Thanks :)

[2021-06-30 16:59] #97532 closed

[2021-06-30 17:00] spong commented on #102484
`severity` in both these contexts is going to be a `string`, so whatever users put in the input, even if it's `-34`, will be stored as a string. `risk_score` however is a number, and should only allow positive values. Going to close as designed.

[2021-06-30 17:00] #102484 closed

[2021-06-30 17:03] spalger opened #103940 "[performance testing] Formalize hardware conditions for performance testing"
Performance testing requires a stable environment to reduce the number of variables affecting the final results. We need to formalize the requirement to "baseline" hardware setup for performance testing, reflecting the configuration relevant for most users (or worst-case scenarios)

### CPU
Nodejs application runs on a single thread, v8 spawns other threads for internal needs: libuv, garbage colle

[2021-06-30 17:03] elasticmachine commented on #103940
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-30 17:06] spalger opened #103942 "[performance testing] initial testing scenarios"
After consultations with the solution teams, we decided to start with the following 4 test cases:
- [ ] `Login` page load time
- [ ] `Home` page load time
- [ ] `Integrations` page load time
- [ ] Loading time of the `Discover` page with a dataset with lots of fields

You can find further details about testing setup, prerequisites, and a set of the collected metrics in [this document](https://docs

[2021-06-30 17:06] elasticmachine commented on #103942
Pinging @elastic/kibana-operations (Team:Operations)

[2021-06-30 17:07] gmmorris commented on #102089
Haha there's been some Team label juggling over here.
I believe this will be implemented by Security Solution, so adding them back.

[2021-06-30 17:09] FrankHassanabad opened #103944 "[Security Solution][Detections Engine] Update search_after to use PIT to work with tie breakers and issues in @timestamp fields and overrides"
Agents can have multiple documents having the same `@timestamp`, `event.ingested`, or other fields since multiple events can happen within the same granularity of second, millisecond, nanosecond, etc... IoC's and lists has the same potential use case where people can add multiple list items with the same exact timestamps. This can cause an issue where when we use `search_after` we do not have a ti

[2021-06-30 17:10] elasticmachine commented on #103944
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-06-30 17:11] gauravubnare commented on #67746
Hi,

please we need help on this. we have elasticsearch running with over 2 billion documents (32 GB ram, 4.5 cpu and 16 gb heap) and over 700 shards

we tried makes these changes but ended up rebuilding kibana as it was no longer responding we had some luck as we increased the number slowly slowly... but it didn't worked..

Is there any other way to do it or any other dropdown visualization we ca

[2021-06-30 17:14] cauemarcondes opened #103946 "[APM] Add API tests for transactions metrics"
We should create some API tests having the `xpack.apm.searchAggregatedTransactions` set to `auto`, this enabled the transactions metrics.

[2021-06-30 17:14] elasticmachine commented on #103946
Pinging @elastic/apm-ui (Team:apm)

[2021-06-30 17:17] elasticmachine commented on #103856
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 17:18] streamich commented on #103856
@constancecchen yup, mistake

[2021-06-30 17:22] rylnd opened #103949 "[Security Solution] Event details errors when switching from an event to an alert"
**Describe the bug:**

We have two significantly different views on Event Details depending on whether the event is a detection alert or not. While both views work correctly when opened from the respective event, there is a bug caused by swapping from a detection alert to a regular alert _while the details component remains open_.

**Kibana/Elasticsearch Stack version:**
7.13+

**Steps to reproduc

[2021-06-30 17:22] elasticmachine commented on #103949
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 17:25] spalger commented on #103233
Sounds good to me

[2021-06-30 17:25] gmmorris commented on #101090
In the interest of making it easier for us to triage our backlog I've removed "Actions" label as this is more of an issue on how Alerting is using Actions than an issue in Actions itself.

[2021-06-30 17:26] constancecchen commented on #103856
<img src="https://media.giphy.com/media/jUwpNzg9IcyrK/giphy.gif" alt="disappearing" width="300">

[2021-06-30 17:35] #101521 closed

[2021-06-30 17:43] paulb-elastic commented on #100944
I can also see it working on my local set up.

[2021-06-30 17:43] #100944 closed

[2021-06-30 17:55] nreese commented on #100944
Fixed by https://github.com/elastic/kibana/pull/101604. Effected versions are 7.13.0 and 7.13.1.

[2021-06-30 17:58] dominiqueclarke commented on #96121
@liciavale FYI, the additional length of Katrin's suggestions for the monitor status alerts toggle made it a bit crowded when placed to the right of the title, so I opted to place it underneath. Let me know if that's alright with you.
![image](https://user-images.githubusercontent.com/11356435/124008934-fc919880-d9aa-11eb-9b8d-261ac1a22134.png)

[2021-06-30 18:31] paul-tavares opened #103971 "[BUG][Security Solution] When a user is logged in as a NON-supperuser, they are still able to access the Endpoint Mangement pages"
**Kibana version:**
7.14 / master

**Describe the bug:**
When logged in as a NON-`superuser` user, the Management pages (Endpoints, Trusted Application and Event Filters) are accessible to the user.

**Steps to reproduce:**
1. Create user with non-superuser role. NOTE: for this instance, I used `kibana_admin` role
2. access the Security Solution Management pages

![bug-no-permission-checks-on-mana

[2021-06-30 18:31] elasticmachine commented on #103971
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-30 18:34] paul-tavares opened #103972 "[Security Solution][BUG] When a user who does NOT have `superuser` role is logged in, a failed API call to fleet epm packages is consistency being triggered"
**Describe the bug:**
When a user who does NOT have `superuser` role is logged in, a failed API call to fleet epm packages is consistency being triggered

**Kibana/Elasticsearch Stack version:**
7.14 / master

**Steps to reproduce:**

1. Login with a user NOT having superuser role
2. navigate to security solution pages
3. Note the error in the browser console

![image](https://user-images.githubus

[2021-06-30 18:34] elasticmachine commented on #103972
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-06-30 18:35] elasticmachine commented on #103972
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-06-30 18:39] mikecote commented on #92933
To provide a short-term fix to the surge in incident reports we've been having, I added in 7.13 (https://github.com/elastic/kibana/pull/96971) a cleanup utility that goes through old `task` and `action_task_params` documents and deletes them.

Correct and if we need to revise the architecture, we can do it with the [saved objects as data](https://github.com/elastic/kibana/issues/94502) story once

[2021-06-30 18:49] paul-tavares commented on #103971
Sure, but there is really nothing displayed. It just shows the regular pages. List has an api error on it.  Will post it in a minute

[2021-06-30 18:51] kevinlog commented on #103971
here's what I'm seeing on my side, which is what we original implemented.

![image](https://user-images.githubusercontent.com/56395104/124015420-a3c5fe00-d9b2-11eb-95a8-a14c2b2e7d98.png)

[2021-06-30 18:51] mattkime opened #103978 "Index patterns => data views - rename code"
- [ ] Rename API in code - `data.indexPatterns` => `data.views` - 7.16
  - deprecate `data.indexPatterns` and offer `data.views`
  - don't rename saved object name for now
  - check for `index pattern` references in API methods, not just top level service name

Parent issue - https://github.com/elastic/kibana/issues/94244

[2021-06-30 18:52] elasticmachine commented on #103978
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 18:53] paul-tavares commented on #103971
What version are you running?

[2021-06-30 19:12] kibanamachine commented on #100570
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/300/)

[2021-06-30 19:16] spalger commented on #100570
@elastic/kibana-security this issue was improperly labeled as an 8.0 blocker but is actually skipped in 7.14/7.x, and most recently failed in 7.13, so there is clearly something wrong here (though it's likely not a regression since it appears to happen in 7.13 as well).

[2021-06-30 19:20] #102971 closed

[2021-06-30 19:35] clintandrewhall opened #103988 "[dashboard] Clarify and correct URLs that contain state"
## Background

Since 7.12, Dashboards have had the ability to create panels that exist "by value" rather than "by reference"-- in other words, panels exists as wholly contained entities within a Dashboard rather than be backed by a Saved Object.

At the same time, users have had the ability to generate URLs to share Dashboards.  These URLs can contain not only filters and other parameter-based sta

[2021-06-30 19:35] elasticmachine commented on #103988
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-06-30 19:46] mattkime opened #103989 "Plan for removal of IIndexPattern type"
IIndexPattern is a legacy type that contains too much ambiguity. It exists in the data plugin but some API consumers rely on its flexibility so we can't remove it without addressing the API consumers first.

- [ ] Document which plugins have IIndexPattern references and track their removal
- [ ] Remove IIndexPattern from data plugin code

[2021-06-30 19:50] kt9ck commented on #3189
+1

[2021-06-30 19:55] #103442 closed

[2021-06-30 19:58] sqren commented on #103233
Cool, thanks for the help. Closing

[2021-06-30 19:58] #103233 closed

[2021-06-30 19:59] snide commented on #103837
This is not a bug and is intended.

[2021-06-30 20:01] #101336 closed

[2021-06-30 20:01] #98359 closed

[2021-06-30 20:13] zraider7 commented on #103679
Yeah, I saw that as well but didn't change that because a redeploy/upgrade would yank those changes. I can give it a go if you would like and maybe we can work on a pr if it fixes it

[2021-06-30 20:40] #102485 closed

[2021-06-30 20:41] elasticmachine commented on #103989
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 20:48] #103056 closed

[2021-06-30 20:48] mattkime opened #104000 "Plan for removal of IFieldType"
IFieldType is a legacy type that contains too much ambiguity. It exists in the data plugin but some API consumers rely on its flexibility so we can't remove it without addressing the API consumers first. The Index Pattern `Field` type or `IndexPatternFieldSpec` should be used instead. If this doesn't work, AppServices should be involved.

- [ ] Document which plugins have IFieldType references and

[2021-06-30 20:48] elasticmachine commented on #104000
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 20:51] michaelolo24 commented on #103837
Sweet, thanks @snide! Mucho appreciado 😄

[2021-06-30 20:53] stacey-gammon commented on #103988
Thanks for pulling this issue together, Clint.

Have we thought about trying to apply migrations to the URL in 7.15, or does the team think this is unreasonable to accomplish in that timeframe?

This sounds like a breaking change, as it would mean no longer supporting the snapshot URL feature. Am I misunderstanding?

I just want to make it clear that even though we often use the term "by value" an

[2021-06-30 20:54] wylieconlon opened #104003 "[Lens] Add additional restrictions on rollup indices"
The *Filters* aggregation is not supported on rollups, and the *Top values* aggregation does not work on meta fields like `_index` the same way it works regularly. So this causes 4 places that rollups should be restricted more:

1. No *Filters* bucket aggregation
<img width="564" alt="Screen Shot 2021-06-30 at 4 48 44 PM" src="https://user-images.githubusercontent.com/666475/124029867-9b29f380-d9c

[2021-06-30 20:54] elasticmachine commented on #104003
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-06-30 21:00] #102471 closed

[2021-06-30 21:11] #99614 closed

[2021-06-30 21:17] clintandrewhall commented on #103988
@stacey-gammon To clarify:

This implicitly included migrations.  I'll explicitly add that to the list.

We're trying to make URLs stateless moving forward, in the immediate term, at least from this particular dialog... we need URLs created from the share menu to not include unsaved or full by-value panels.  That's what we're trying to address in 7.15, from this issue.

We have many ideas for how

[2021-06-30 21:22] bryce-b opened #105242 "Hide the "Instances" chart from mobile overview page"
This chart is probably irrelevant for Mobile in the long run, but it might be worthwhile to understand what the disconnect here is.

edit: after discussing we've decided to just hide this chart, as it doesn't make sense for mobile.

[2021-06-30 21:24] ThomThomson commented on #103988
As a middle ground on this, we could still _allow_ full snapshot sharing, but add a 'middle' option which allows the user to snapshot their query filters and time picker, but nothing else. Additionally, snapshot sharing is the default selection which artificially inflates the number of full snapshot URLs in circulation.

Adding a new option, better explaining the 'full snapshot', and making snapsh

[2021-06-30 21:45] elasticmachine commented on #103988
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-06-30 21:45] stacey-gammon commented on #103988
This sounds like a good idea to me.

++

++

I know @ppisljar is working on some improvements, but I think they may be isolated to the Saved Object migration scenario.  I agree this is a risk. What if introduced a migration API, that the client-side code could call, so migrations only had to be registered server-side? It would increase the performance penalty, but then we can get rid of the client

[2021-06-30 21:51] bryce-b opened #105239 "Metric page charts don't populate"
<img width="1094" alt="Screen Shot 2021-06-30 at 2 50 21 PM" src="https://user-images.githubusercontent.com/75274611/124036204-8002b800-d9b2-11eb-8a93-82661327aead.png">

the iOS agent's metrics conform to open-telemetry format, which may be in conflict with the expected format of these charts. We'll have to make the appropriate adjustments

[2021-06-30 22:31] param-thakker commented on #103869
Hi @flash1293, is this still open? If not, can you please assign me a good first issue? I'm a first time contributor and would love to work on something interesting.

[2021-06-30 22:36] ThomThomson commented on #103988
++ to the migration API idea handled internally by the embeddables plugin. Increasing the potential performance impact is not a bad trade-off, especially since it will make migrations even more explicit.

It also pairs well with the 'intermediary / loading page' that @clintandrewhall suggested.

[2021-06-30 22:47] lukeelmers opened #104031 "[core.metrics] Add support for multiple processes in ops metrics & stats API; deprecate `process` field"
Part of #68626

### Summary

In order to support a multi-process Kibana (RFC: #94057), we need to update the `/stats` REST API to support metrics for more than one process.

This endpoint, registered from the `usage_collection` plugin, is getting these stats from Core's `metrics` service (`getOpsMetrics$`), which is also used in the `monitoring` plugin for stats collection.

The `/stats` are probl

[2021-06-30 22:47] elasticmachine commented on #104031
Pinging @elastic/kibana-core (Team:Core)

[2021-06-30 22:50] simianhacker opened #104032 "[Metrics UI] Metric threshold alert preview values are wrong"
**Kibana version:**
master

**Elasticsearch version:**
master

**Original install method (e.g. download page, yum, from source, etc.):**
source

**Describe the bug:**
When previewing "Last hour" for an alert that has "Check every" configured for "1m" using "For the last 20 minutes", the preview message says the alert has 100 instances that would satisfy that condition. This is mathematically impos

[2021-06-30 22:50] elasticmachine commented on #104032
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-06-30 22:52] simianhacker commented on #104032
Inventory threshold alerts has the same issue.

[2021-06-30 22:58] sqren commented on #100469
Closed in https://github.com/elastic/kibana/pull/78499

[2021-06-30 22:58] #100469 closed

[2021-06-30 23:03] stephmilovic commented on #102729
fixed by https://github.com/elastic/kibana/pull/103766

[2021-07-01 00:01] kibanamachine commented on #101126
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/303/)

[2021-07-01 00:27] michael-lh commented on #4060
upvoting

[2021-07-01 01:04] kibanamachine opened #104042 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with data loaded (ft_ml_poweruser) should display elements on File Data Visualizer page correctly"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15194/)

[2021-07-01 01:10] elasticmachine commented on #104042
Pinging @elastic/ml-ui (:ml)

[2021-07-01 02:03] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15195/)

[2021-07-01 03:06] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15196/)

[2021-07-01 03:06] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15196/)

[2021-07-01 03:31] mattkime commented on #65993
Restarting this conversation as the `data` plugin has only gotten larger in the mean time.

The benefit of splitting at the registry level is that it would be solution agnostic. For a single use case it really wouldn't matter but the `data` plugin alone has a couple of these.

I think this is something that we can design for.

[2021-07-01 04:21] wwang500 commented on #103466
I hit one too.
using `ml-siem-auditbeat` dataset from qa repo.

`rare by process.name over agent.name`
![image](https://user-images.githubusercontent.com/47184485/124064079-22965780-da02-11eb-9916-d0474da20166.png)

[2021-07-01 04:36] wwang500 commented on #103466
one more:
snapshot from qa: `ml-siem-packetbeat`
detector: `rare on dhcpv4.flags`

![image](https://user-images.githubusercontent.com/47184485/124065217-4bb7e780-da04-11eb-9159-0ea023ba7ea6.png)

[2021-07-01 04:42] spalger commented on #104042
4 failures in an hour, all on master but PRs are pretty quiet right now. Something might have changed in ES to make this more flaky, and since the tests in the `functional/apps/ml/permissions` directory looked pretty similar I skipped the entire containing suite.

master/8.0: https://github.com/elastic/kibana/commit/a06c0f1409c138d6c096d37ae85406333a98653c

[2021-07-01 04:47] spalger commented on #101126
@lizozom was this feature always in 7.13? Do you mind backporting the fix there too?

[2021-07-01 05:03] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15198/)

[2021-07-01 06:06] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15199/)

[2021-07-01 06:06] kibanamachine commented on #104042
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15199/)

[2021-07-01 06:27] ruflin commented on #102651
It is important that heartbeat / synthetics sets the data_stream.* fields. @andrewvc can you take this on?

[2021-07-01 06:36] deepikakeshav-qasource commented on #103859
Hi @MadameSheema,

We have validated this ticket on **8.0.0** Master branch and observed that issue is **Fixed**. "Add data" button is not available in side navigation bar.

Build Details:
[code]

**Screenshot:**
![add_data_button1](https://user-images.githubusercontent.com/61860752/124069860-86e50580-da5a-11eb-8602-e9beb82cc86f.jpg)

Hence we are closing this ticket and marking as "QA Validated"

[2021-07-01 06:44] amolnater-qasource commented on #103468
Hi @EricDavisX
We have revalidated issue https://github.com/elastic/kibana/issues/103468 on 7.14.0 snapshot and found it **fixed** now.
- We are able to access Agents tab when APM & Fleet settings are disabled while creating environment.
- We are now able to install standalone agent through it and we have observed datastreams for standalone agent.

**Build details:**
Build: 42233
Commit: 535bbb594

[2021-07-01 07:03] #98951 closed

[2021-07-01 07:26] #103802 closed

[2021-07-01 07:32] karanbirsingh-qasource commented on #103452
thanks @XavierM for notfying about bug fix.

we have validated this issue on 7.14.0-SNAPSHOT and found that issue is now **fixed** ✔️ . Event Filter global search is now available and also navigable.

**Build Details:**
[code]
**Snap shoot:**
![image](https://user-images.githubusercontent.com/59917825/124084304-7a69a880-da6c-11eb-8753-e5e4885e6a75.png)

Hence we are closing this issue and adding "

[2021-07-01 07:32] #103452 closed

[2021-07-01 07:42] karanbirsingh-qasource commented on #103443
Thanks @XavierM for notifying about bug fix.

we have validated this issue on 7.14.0-SNAPSHOT and found that issue is Fixed ✔️ . Timeline UI is now getting opening in Full page and back to usual .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/124085558-cd902b00-da6d-11eb-8fa2-94720e637215.png)

Hence closing this issue and adding "QA:Valid

[2021-07-01 07:42] #103443 closed

[2021-07-01 07:42] karanbirsingh-qasource commented on #103445
Thanks @XavierM for notifying about bug fix.

we have validated this issue on 7.14.0-SNAPSHOT and found that issue is Fixed ✔️ . Timeline UI is now getting opening in Full screen now and back to usual .

**Build Details:**
[code]

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/124085558-cd902b00-da6d-11eb-8fa2-94720e637215.png)

Hence closing this issue and adding "QA