[2022-07-22 17:27] mdefazio opened #136983 "[Response Ops] Create connector flyout footer"
Kibana version: 8.4 main branch.  I don't see it on 8.3.2

## Problem:

The footer in the Create connector flyout shows 'Save' and 'Save and test' before I select a connector type.

<img width="1227" alt="image" src="https://user-images.githubusercontent.com/3756330/180480861-1aa401bb-19d8-4bdd-b896-7997c7fd5b84.png">

## Expected behavior

The flyout footer should only show 'Cancel' on the left f

[2022-07-22 17:27] elasticmachine commented on #136983
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-22 17:30] #120642 closed

[2022-07-22 17:46] #131368 closed

[2022-07-22 17:46] #135972 closed

[2022-07-22 18:00] #136626 closed

[2022-07-22 18:05] andrew-goldstein opened #136987 "[Security Solution] The Hosts > Events table query contains duplicate entries for each filter at the top of the page"
The Hosts > Events table query contains duplicate entries for each filter at the top of the page.

For example, when three filters are added to the Hosts > Events page, per the screenshot below:

![hosts-page-filters](https://user-images.githubusercontent.com/4459398/180495918-582a9e64-f99d-46c1-a78d-33af37d70b05.png)

_Above: The Hosts > Events page, with three filters_

inspecting the request fo

[2022-07-22 18:05] elasticmachine commented on #136987
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-22 18:07] #136554 closed

[2022-07-22 18:09] #136252 closed

[2022-07-22 18:09] #136901 closed

[2022-07-22 18:22] kdelemme commented on #102983
I'm trying to reproduce the error locally by creating this rule:
<img width="553" alt="image" src="https://user-images.githubusercontent.com/1376800/180498692-a66a8b2e-ff99-4d31-98de-8fcea5ed88dd.png">

When the warning threshold is reached, the following data is indexed into ES:
[code]

As far as I understand, the `context.reason` seems to be correct: `CPU usage is 12.6% in the last 1 min for Kev

[2022-07-22 18:41] kibanamachine opened #136990 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/migrations - incompatible_cluster_routing_allocation retries the INIT action with a descriptive message when cluster settings are incompatible"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18748#01822713-8b1c-4cda-972d-54e144904229)

[2022-07-22 18:41] elasticmachine commented on #136990
Pinging @elastic/kibana-core (Team:Core)

[2022-07-22 18:52] drewdaemon opened #136993 "[Lens] workspace panel dimensions by chart type"
An idea from https://github.com/elastic/kibana/issues/134242 . We could allow visualization types to impose constraints on the dimensions of the workspace panel. These could be specific measurements or just an aspect ratio.

### Potential benefits
- Makes the visualizations in the editor look better "for free"
- Guides the user toward the best possible visualization appearance
- Smaller workspace

[2022-07-22 18:52] elasticmachine commented on #136993
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-22 18:53] elasticmachine commented on #136993
Pinging @elastic/datavis (Team:DataVis)

[2022-07-22 19:06] #135440 closed

[2022-07-22 19:13] drewdaemon opened #136995 "[Dashboards] give embeddable a say in panel dimensions"
**Describe the feature:**
Giving embeddables power to inform the containing panel's dimensions. The embeddable could supply
- hard constraints such as an aspect ratio
- softer suggestions such as initial panel dimensions that can be overridden by the user

This could improve both appearance and accessibility. For example, if the Lens metric is created with the default panel size today, there is a

[2022-07-22 19:13] elasticmachine commented on #136995
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-22 19:17] #136134 closed

[2022-07-22 19:21] #135594 closed

[2022-07-22 19:24] lcawl opened #136996 "[DOCS] Add deletion sub feature privilege for cases"
### Description
The cases team implemented a new deletion sub feature privilege within Kibana for Security Solution, Observability, and Stack Management. The deletion sub feature privilege governs a users ability to delete cases and comments. If a user does not have the deletion privilege they cannot delete these entities.

Relates to https://github.com/elastic/kibana/pull/135487

### Acceptance T

[2022-07-22 19:24] elasticmachine commented on #136996
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-22 19:24] elasticmachine commented on #136996
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-07-22 19:25] yiyangliu9286 commented on #127746
Thanks for the question. Yes I think the biggest problem right here is the inconsistency for how we treat and let users know that for prebuilt/immutable rules they cannot do single and bulk actions.

However I am leaning towards to leave as it is for now (because I don't see there would be strong negative or blocker for users to see a disable button since immutable rules cannot be edited anyway),

[2022-07-22 19:29] nchaulet commented on #135337
@joshdover we already have some feedback of the agent that cannot be upgraded it's in toast notification like this
<img width="409" alt="Screen Shot 2022-07-22 at 3 28 09 PM" src="https://user-images.githubusercontent.com/1336873/180513895-b2ed7942-804c-43b4-bcc1-94d0de9dc34f.png">

I am closing that issue for now, but feel free to reopen it if it's not good enough.

[2022-07-22 19:29] #135337 closed

[2022-07-22 19:39] #136587 closed

[2022-07-22 19:51] nchaulet commented on #131885
Resolved by https://github.com/elastic/kibana/pull/136649

[2022-07-22 19:51] #131885 closed

[2022-07-22 19:55] nastasha-solomon commented on #136996
Related to https://github.com/elastic/security-docs/issues/2205.

[2022-07-22 20:00] jonathan-buttner commented on #123225
I was able to reproduce it 👍 another thing I noticed is that our `excess` method does not check nested fields. I believe it's just the top level. So for a create request with a body like this:

[code]

will not be reported by excess (only if `bananas` was at the same level as `owner). The failure we get is related saved objects strict mapping:

<img width="1337" alt="Screen Shot 2022-07-22 at 3 47

[2022-07-22 20:20] kibanamachine opened #137004 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/get_action_error_log·ts - alerting api integration spaces only Alerting getActionErrorLog get and filter action error logs for rules with multiple action errors"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18759#0182276d-cfc2-456a-b811-8178e5b661f7)

[2022-07-22 20:21] elasticmachine commented on #137004
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-22 20:26] nchaulet opened #137005 "[Fleet] Make packagePolicy.create more robust to concurrent calls"
## Description

The `packagePolicy.create` has a risk of race condition if it's called simultaneously for the same agent policy, we should probably fix that.

The problem is probably the same in `packagePolicy.delete`

### Details

Our data model is composed of two document agent policy and package policy
What happens in the `packagePolicy.create` method :
1.  we create a package policy
2. we assi

[2022-07-22 20:26] elasticmachine commented on #137005
Pinging @elastic/fleet (Team:Fleet)

[2022-07-22 20:35] kibanamachine commented on #137004
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18760#0182277b-8b92-4524-b0ce-20340886e4ee)

[2022-07-22 20:48] kibanamachine commented on #137004
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18761#01822787-c974-4b25-b05d-fae94a483658)

[2022-07-22 20:49] kibanamachine commented on #137004
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18760#0182279f-8369-4751-9902-c1210b49a734)

[2022-07-22 20:52] brianseeders commented on #137004
/skip

[2022-07-22 20:52] kibanamachine commented on #137004
Skipped

main: ef311f22fee24c1124d11172e547d2d026ad2b54

[2022-07-22 20:55] brianseeders commented on #137004
@JiaweiWu looks related to #136588

[2022-07-22 20:56] #136720 closed

[2022-07-22 21:09] andrewvc commented on #137005
I've added this to our 8.5 board purely so we can track this

[2022-07-22 21:17] kibanamachine commented on #137004
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18763#018227a0-f18d-4dde-bb74-042b2979f759)

[2022-07-22 21:24] kibanamachine commented on #137004
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18764#018227a9-9455-4656-9495-aecc72ca3918)

[2022-07-22 21:28] andrew-goldstein commented on #136987
The `Hosts > External alerts` table query in `8.3.2` also appears to have duplicate `host.name` `exists` query clauses, like the one below:

[code]

as observed when inspecting the `Hosts > External alerts` table query in `8.3.2`:

[code]

Both the of the `host.name` `exists` query clauses in the query above are at the same level in the `filter` query, thus one of them appears to be an unintention

[2022-07-22 21:59] 1Copenut commented on #135196
I've been looking at this issue today, and can't see why this would be tripping on CI but passing locally. Bhavya and I are pair coding on Monday, I"ll add this to the meeting invite to see if it relates to our other issue.

[2022-07-22 23:00] stefnestor commented on #133127
❓ is this the same as https://github.com/elastic/kibana/issues/97641?

[2022-07-22 23:52] kibanamachine opened #137016 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts - apps machine learning basic license data visualizer index based with farequote KQL saved search displays index details"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18771#01822834-1f66-45a3-a899-68fd8a20d47b)

[2022-07-22 23:52] elasticmachine commented on #137016
Pinging @elastic/ml-ui (:ml)

[2022-07-23 00:16] nimarezainia commented on #135699
@aarju thanks for raising this request.

I wanted to step back and look at the original reason why you ended up here and ask some questions about your use case.
Do you ever see the need to have an agent that was un-enrolled or un-installed to show up in the UI?

for the use cases where the user is aware of agent being uninstalled (say rebuilding the machines) there may not be a reason to have the

[2022-07-23 00:44] watsoninfosec commented on #134293
I will try this once I get home.

[2022-07-23 04:23] mattkime commented on #119176
closed by https://github.com/elastic/kibana/pull/124191
and https://github.com/elastic/kibana/issues/135454

[2022-07-23 04:23] #119176 closed

[2022-07-23 10:07] matthiasledergerber commented on #131458
This is another example of having much whitespace available at a position where it is not really needed. Sorry for blurring out the data. on the right side there is the whole message and on the left side we have useful metadata. But the message doesn't get enough space per default compared to the other columns.
![image](https://user-images.githubusercontent.com/22050363/180600679-0ec86bdd-b8a4-49e

[2022-07-24 02:42] jgowdyelastic commented on #136976
The 'ResultLink' object needs to be removed from this array:
https://github.com/jgowdyelastic/kibana/blob/ca6a4511a662ef861c00eb1a366bedf199951045/x-pack/plugins/ml/public/application/jobs/jobs_list/components/jobs_list/jobs_list.js#L295-L301

[2022-07-24 07:48] gurevichdmitry opened #137020 "[Cloud Posture] Adding Navbar test cases to TestRail"
**Motivation**
As a developer, I would like to define test cases for Navbar verification.

**Definition of done**
- All test cases are defined in TestRail CSP Solution -> Data Visualization under relevant folder
- Navbar navigation tests:
   - [ ] Dashboards
   - [ ] Findings
   - [ ] CSP Benchmarks
- Navigation through _search_ edit box

[2022-07-24 07:49] elasticmachine commented on #137020
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-07-24 08:03] #134423 closed

[2022-07-24 08:39] kibanamachine commented on #137016
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18776#01822f3d-7a34-46dd-8217-99140b676cc9)

[2022-07-24 14:04] orouz commented on #135687
PR
- https://github.com/elastic/kibana/pull/137021

[2022-07-24 14:47] orouz opened #137022 "[Cloud Posture] Add icon for CIS EKS"
**Describe the feature:**

We should show the icon of the benchmark type. currently we show the default CIS icon for all integrations type.

**Describe a specific use case for the feature:**

These are locations in the app where the integration benchmark type icon is used:
![Screen Shot 2022-07-24 at 17 44 10](https://user-images.githubusercontent.com/20814186/180652407-27739977-f7e4-4575-829e-587

[2022-07-24 14:48] elasticmachine commented on #137022
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-07-24 16:49] Toshken21 commented on #136933
Hi can I take on this one? It's my first time trying to contribute to open source haha

[2022-07-24 17:20] ofiriro3 opened #137023 "CSP rule template are not deleted after deleting integration assets"
**Describe the bug:**
Rule templates are not deleted after deleting the CSP benchmark integration.

**Steps to reproduce:**
1. Create `CIS Kubernetes Benchmark` integration.

2. Remove all integration policies:
a. Open `CIS Kubernetes Benchmark` integration page
b. Navigate to the `Integration policies` tab
c. delete the integration from all agents

3. Uninstall the integration:
a. Open `CIS Kuber

[2022-07-24 17:20] elasticmachine commented on #137023
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-07-24 17:29] JiaweiWu commented on #137004
Ah yes, will fix ASAP

[2022-07-25 00:17] TinaHeiligers commented on #134122
Marking this as blocked until https://github.com/elastic/kibana/pull/136722 is merged.
cc @pgayvallet

[2022-07-25 05:30] matschaffer commented on #135379
Might be nice to have something that opens a github issue similar to what happens when tests fail on `main` today. Granted de-duping github issues can be tricky but we seem to have solved it for that case.

[2022-07-25 05:38] prachigupta-qasource commented on #132776
Hi @criamico,

Thank you for the confirmation. We have created below test cases for this feature under our Fleet Test Suite:

- [[C167292]: Validate that the upgrade warning callout should be available on the Schedule upgrade agent flyout when the agent is older than the 8.3 kibana version](https://elastic.testrail.io/index.php?/cases/view/167292)
- [[C167298]: Validate that the upgrade warning ca

[2022-07-25 06:10] MadameSheema opened #137028 "[Security Solution] Error displayed when previewing results for new terms rules under certain conditions"
**Describe the bug:**
- Error displayed when previewing results for new terms rules under certain conditions when some of the mandatory fields are not filled.

**Kibana/Elasticsearch Stack version:**
- main (e348f74d50f739ec1b57117f661e0073567effa4)
- 8.4.0

**Steps to reproduce:**
1. Navigate to `rules management` page
2. Click on `Create new rule`
3. Select `New Terms`
4. Click on `Preview resul

[2022-07-25 06:10] elasticmachine commented on #137028
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-25 06:10] elasticmachine commented on #137028
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 06:15] azasypkin commented on #136467
It didn't re-occur, closing.

[2022-07-25 06:30] matschaffer commented on #120414
@klacabane or @neptunian is this definitely ready to get picked up? From looking at https://github.com/elastic/integrations/blob/main/packages/elasticsearch/manifest.yml#L16 it seems like I probably can't install the existing packages on main today.

Thinking maybe the [parent epic](https://github.com/elastic/kibana/issues/120415) might need an issue for that.

Seems like part of the ask is UX-cen

[2022-07-25 06:40] prachigupta-qasource commented on #136915
Hi @kpollich,

We have re-validated this issue on the latest **8.4.0-SNAPSHOT** build and observed that the issue is **fixed**.

**Build details:**

[code]

**Below are the observations**

- Upgrade warning callout `"Rolling upgrade only available for Elastic Agent versions 8.3+"` is not displayed on `Upgrade x agents` and `Schedule upgrade x agents` confirmation pop-up on selecting **more than on

[2022-07-25 06:50] prachigupta-qasource commented on #136371
Hi @juliaElastic,

We have re-validated this issue on the latest **8.4.0-SNAPSHOT** build and observed that the issue is **fixed**.

**Build details:**

[code]

**Below are the observations**

- Add/remove Tags drop-down is stable and not moving upward automatically on scrolling to the last tag when a new tag is created.

**Screen recording:**

https://user-images.githubusercontent.com/97870262/18

[2022-07-25 07:08] amolnater-qasource commented on #136022
Hi @joshdover
Thank you for the confirmation.

We have revalidated this on latest 8.4 Snapshot and found it **working fine**.
- Scheduled agents with maintenance windows set to immediately upgraded to latest version.

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/180717658-32580da7-6732-42f9

[2022-07-25 07:20] MadameSheema opened #137029 "[Security Solution] All indexes can be deleted on `new terms` rule type using bulk editing"
**Describe the bug:**
- A new terms rule can end up in a state without index patterns using bulk update.

**Kibana/Elasticsearch Stack version:**
- main (e348f74d50f739ec1b57117f661e0073567effa4)
- 8.4.0

**Initial setup:**
- To have a new terms rule created

**Steps to reproduce:**
1. Navigate to `Rules` page
2. Select the new terms rule created
3. Click on `Bulk actions`
4. Click on `Index patte

[2022-07-25 07:21] elasticmachine commented on #137029
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-25 07:21] elasticmachine commented on #137029
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 07:31] kertal commented on #136933
@Toshken21 for sure!

[2022-07-25 07:34] MadameSheema commented on #136081
@dhurley14 @yctercero with latest main (e348f74d50f739ec1b57117f661e0073567effa4) I was able to do the following:

1. Create a rule with a data view
2. On rules page select the rule
3. With bulk actions add an index pattern WITHOUT selecting any of the current options
4. Click on `Save`

I ended up with a rule with both, `Index patterns` and `Data View`

<img width="502" alt="Screenshot 2022-07-25

[2022-07-25 07:37] deepikakeshav-qasource opened #137030 "[Security Solution] Unable to edit the exception from exception tab"
**Describe the bug**
Unable to edit the exception from exception tab

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Alerts should be created

**Steps to Reproduce**
1. Navigate to security > Alerts page
2. Create any exception say rule exception
3. Now navigate to rule details page
4. Click on exception tab
5. Edit the exception
6. Observe that unable to edit the excepti

[2022-07-25 07:37] elasticmachine commented on #137030
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 07:41] elasticmachine commented on #137030
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-25 07:42] deepikakeshav-qasource commented on #136374
Hi @andrew-goldstein ,

Yes, We will test this fix on latest 8.4.0 snapshot

Thanks!!

[2022-07-25 08:05] simranvaseer-qasource commented on #135696
Hi @juliaElastic
Thank you for looking into this.

- Actually, we reported this issue as we have to click 'Add/ remove tag' button twice to open the tag list.
- On multiple usage of this button gets stuck and user has to click twice to open the list.
- We are still able to reproduce this on latest 8.4 Snapshot.

**Build Details:**
VERSION: 8.4.0
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11

[2022-07-25 08:06] simranvaseer-qasource commented on #136366
Hi @juliaElastic
We have revalidated this issue on latest 8.4 Snapshot kibana Cloud environment and found it **fixed** now.

- Tags count for more than 3 tags are visible under Agent details page.

**Build Details:**
VERSION: 8.4.0
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screenshot:**
![1](https://user-images.githubusercontent.com/102019374/180711955-86346522-fa75-4be0-a5a

[2022-07-25 08:06] kibanamachine opened #137032 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer·ts - machine learning - data visualizer index based with farequote KQL saved search displays index details"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18781#0182343d-7335-4777-af5f-8aa64800eff3)

[2022-07-25 08:06] simranvaseer-qasource commented on #136080
Hi @kpollich
We have revalidated this issue on latest 8.4 Snapshot kibana Cloud environment and found it **fixed** now.

- On clicking Continue enrolling button under Add Fleet Server flyout, user is redirected to Add agent flyout> Enroll in fleet.

**Build Details:**
VERSION: 8.4.0
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screen Recording:**

https://user-images.githubuser

[2022-07-25 08:07] elasticmachine commented on #137032
Pinging @elastic/ml-ui (:ml)

[2022-07-25 08:07] XavierM opened #137033 "[ALERT] URL in view app for inventory rule"
As of today for 8.4, o11y is using two different alert table components one from timelines plugins (old) and triggerActionsUI (new). In the  alert table from timelines plugin (old table), we are using an API who is flattening all the response from elasticsearch to Record<string, string[]>, The new alert table API from TriggersActionUI is not doing that anymore, it is trusting and returning the way

[2022-07-25 08:07] elasticmachine commented on #137033
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-25 08:07] elasticmachine commented on #137033
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-25 08:19] samratbhadra-qasource opened #137035 "[Security Solution]: Alert treemap retains when user mark the alerts as Acknowledged/Closed from open state."
Describe the bug
Alert treemap retails when user mark the alerts as Acknowledged/Closed from open state.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Alert should be available.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Navigate to alert details page of any available alert.
3. Now, filter in the status, severity, riskscore and rule.
4. Navigate back to A

[2022-07-25 08:19] elasticmachine commented on #137035
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 08:20] elasticmachine commented on #137035
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-25 08:25] vipulsrivastava-qasource opened #137036 "[Security Solution] Error "Minified React error" occurred when search blocklist entry with comma(" , ") symbol"
**Description:**
Error "Minified React error" occurred when search blocklist entry with comma(" , ") symbol

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Blocklist entry should be available with name include comma(" , ") symbol let say : **wvvwihqv,,**

**Steps to Reproduce:**
1. Click on the "Manage" link from the L.H.S menu section

[2022-07-25 08:25] elasticmachine commented on #137036
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 08:25] elasticmachine commented on #137036
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-25 08:26] vipulsrivastava-qasource commented on #137036
@manishgupta-qasource : Please review the bug.

[2022-07-25 08:31] banderror commented on #137029
@marshallmain I'm open to collaborating with you on fixing it.
cc @vitaliidm

[2022-07-25 08:38] #136892 closed

[2022-07-25 08:46] vitaliidm commented on #137029
Here is a missing part that should be in corresponding `new_terms`  create_new_terms_alert_type.ts.
https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/saved_query/create_saved_query_alert_type.ts#L44

That should do a job

[2022-07-25 08:47] MadameSheema opened #137041 "[Security Solution] Runtime fields cannot be used in `Fields` when creating a New Terms rule"
**Describe the bug:**
- Runtime fields cannot be used in `Fields` when creating a New Terms rule

**Kibana/Elasticsearch Stack version:**
- main (e348f74d50f739ec1b57117f661e0073567effa4)
- 8.4.0

**Initial Setup:**
- To have a data view created with at least one runtime field

**Steps to reproduce:**
1. Navigate to `Rules` page
2. Click on `Create new rule`
3. Select `New Terms` rule
4. Select `D

[2022-07-25 08:47] elasticmachine commented on #137041
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-25 08:47] elasticmachine commented on #137041
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 08:48] muskangulati-qasource opened #137042 "[Security Solution] The 'read more' link is not working"
**Description:**
The 'read more' link is not working

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section of the Security from the left-hand side navigation bar
2. Click on the three dots for the endpoint deployed
3. Click on launch responder
4. Click on the hel

[2022-07-25 08:48] elasticmachine commented on #137042
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 08:48] elasticmachine commented on #137042
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-25 08:52] miltonhultgren commented on #133127
@stefnestor I think so, it looks like any refresh of the React tree causes the bug (so either from hovering or the refresh timer).

[2022-07-25 08:54] dasansol92 commented on #137042
Hi @muskangulati-qasource , this is expected for now since there is no documentation link at this moment. We will add the correct link when it's ready. Thanks for checking this!
cc: @kevinlog

[2022-07-25 08:55] kertal commented on #127899
Closing since it was fixed by #136473

[2022-07-25 08:55] #127899 closed

[2022-07-25 09:00] deepikakeshav-qasource opened #137043 "[Security Solution] UI breaks when click on full screen icon under Timeline"
**Describe the bug**
UI breaks when click on full screen icon under Timeline

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Alerts should be created

**Steps to Reproduce**
1. Navigate to security > Alerts page
2. Click on timeline investigate
3. Click on full screen icon
4. Observe that UI breaks when click on full screen icon under Timeline

**Actual Result**
UI breaks

[2022-07-25 09:00] elasticmachine commented on #137043
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 09:00] muskangulati-qasource commented on #137042
Hi @dasansol92,

Do you want us to close this ticket? Or should we keep it open and revalidate it once it is ready to test?

Please share your insight and we shall follow the same!

Thanks!

[2022-07-25 09:01] jsanz opened #137044 "[Maps] Bulk switch for global search on layers"
**Describe the feature:**

With the Maps App allowing to add multiple layers, it is not uncommon that not all of them are expected to be affected by the Kibana search bar. For each layer we do have the switch "Apply global search to layer data" but if the number of layers is high and the user wants to change this setting often, this involves quite a lot of clicking.

![image](https://user-images.g

[2022-07-25 09:01] elasticmachine commented on #137044
Pinging @elastic/kibana-gis (Team:Geo)

[2022-07-25 09:07] dasansol92 commented on #137042
You can keep it open if you want, I will ping you here when it's ready for test

[2022-07-25 09:09] kertal commented on #72647
tested in main, was works, was fixed a long time ago, therefore closing this issue

[2022-07-25 09:09] #72647 closed

[2022-07-25 09:09] manishgupta-qasource commented on #137036
Reviewed & assigned to @kevinlog

[2022-07-25 09:12] #136520 closed

[2022-07-25 09:15] elasticmachine commented on #137043
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-25 09:15] banderror commented on #137029
@vitaliidm and I think in addition to validating index patterns we now need to validate data view as well in the same validation function, so it would be:

[code]

Because all rules (except ML rules) must have either a non-empty array of index patterns, or a non-empty data view.

That would probably fix https://github.com/elastic/kibana/issues/136006 as well.

[2022-07-25 09:15] muskangulati-qasource commented on #137042
Sure, Thank you for looking into this @dasansol92.

[2022-07-25 09:18] kertal commented on #116646
It  happens when JSON data is requested. the loading spinner is displayed, and therefor the height of the doc viewer adapts to this new very small height, before the big height is displayed. I tried to assign a min-height to the container, however it doesn't improve this twitch. There would be ways to fix this, like setting a static height to the DocViewer when rendered in the table view, setting

[2022-07-25 09:18] #116646 closed

[2022-07-25 09:18] amolnater-qasource commented on #136258
Hi @juliaElastic
We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
- User is able to Rename or Delete tags with 20 characters length.

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/180736054-0fa7644a-7a4e-4b08-88da-8fe84b7ade56.mp4

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

Hence marking this as **Q

[2022-07-25 09:19] amolnater-qasource commented on #136505
Hi @criamico
We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
- User is not be able to create duplicate names in Agent Binary Download under Settings tab.

**Screenshots:**
![8](https://user-images.githubusercontent.com/77374876/180734615-8f237d15-e90b-445e-ac9e-fdef71f169a4.JPG)

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

Hen

[2022-07-25 09:24] kertal commented on #102132
Re-adding our fix it week label. When autorefreshing the data, and switching to an data view without time picker, auto refresh should be stopped. If our time picker would be ready to just provide the auto-refresh functionality for data views without time field, this behavior can be changed. But currently, a such a change causes a state that the user can only change by tweaking the URL.

[2022-07-25 09:29] harshitgupta-qasource commented on #136704
Hi @kevinlog,

We have validated this issue on the latest **8.4.0 SNAPSHOT** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/101545338/180734776-6182e7cb-41b0-4d20-b97a-b5326f5da4b5.png)

Hence, We are closing this issue and marking it as QA Validated.

Thanks!!

[2022-07-25 09:29] #136704 closed

[2022-07-25 09:30] kertal commented on #136866
Thx for this issue @LeeDr , discover just shows raw values from Elasticsearch, I don't think this is wrong technically
What's wrong and what we should fix:
* The histogram should not be displayed for rollups

[2022-07-25 09:30] harshitgupta-qasource commented on #136592
Hi @kevinlog,

We have validated this issue on the latest **8.4.0 SNAPSHOT** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/101545338/180737166-03ae9a5f-e9c1-4e49-b30d-b93cd9f21f3d.png)

Hence, We are closing this issue and marking it as QA Validated.

Thanks!!

[2022-07-25 09:30] #136592 closed

[2022-07-25 09:30] harshitgupta-qasource commented on #136592
Hi @kevinlog,

We have validated this issue on the latest **8.4.0 SNAPSHOT** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/101545338/180737166-03ae9a5f-e9c1-4e49-b30d-b93cd9f21f3d.png)

Hence, We are closing this issue and marking it as QA Validated.

Thanks!!

[2022-07-25 09:32] harshitgupta-qasource commented on #136593
Hi @kevinlog,

We have validated this issue on the latest **8.4.0 SNAPSHOT** and observed that issue is now **Fixed**. 🟢

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/101545338/180738304-f05424c9-7fc4-4cc7-9bb9-8953d3d00e32.png)

Hence, We are closing this issue and marking it as QA Validated.

Thanks!!

[2022-07-25 09:32] #136593 closed

[2022-07-25 09:33] harshitgupta-qasource commented on #136916
Hi @kevinlog,

Thank you for the update. Our query is now **resolved**. We will keep note of this.

We are closing this ticket and marking it is QA Validated.

Thanks!!

[2022-07-25 09:33] #136916 closed

[2022-07-25 09:35] kibanamachine opened #137046 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_actions_panel·ts - machine learning - data visualizer index based actions panel on trial license view in discover page action loads the source data in the data visualizer"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18783#01823483-6e0d-430b-a4df-360bf3877024)

[2022-07-25 09:36] elasticmachine commented on #137046
Pinging @elastic/ml-ui (:ml)

[2022-07-25 09:44] juliaElastic commented on #135775
Hi Amol,
Yes, only letters, numbers, space and hyphen are allowed, as described in my pr: https://github.com/elastic/kibana/pull/136019

[2022-07-25 09:48] kibanamachine commented on #118472
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18785#018234a3-6996-417a-a670-a65075701566)

[2022-07-25 09:53] #135687 closed

[2022-07-25 09:59] deepikakeshav-qasource opened #137047 "[Security Solution] Threshold data as threshold count, threshold and threshold cardinality is not displaying under alert details flyout"
**Describe the bug**
Threshold data as threshold count, threshold and threshold cardinality is not displaying under alert details flyout

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Threshold rule should be created

**Steps to Reproduce**
1. Navigate to security > Alerts page
2. Click on alerts details icon of above created threshold rule
3. Observe that Threshold data

[2022-07-25 09:59] elasticmachine commented on #137047
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 10:04] vitaliidm commented on #127746
@karanbirsingh-qasource, issue has been addressed in https://github.com/elastic/kibana/pull/136418

[2022-07-25 10:07] #117367 closed

[2022-07-25 10:08] emma-raffenne commented on #137033
@XavierM
Please, can you detail in the description what needs to be done for this issue and what would be the acceptance criteria?

[2022-07-25 10:09] #48352 closed

[2022-07-25 10:23] MiriamAparicio opened #137049 "[APM] Create Kibana package for shared SVG between plugins"
Some plugins (apm, infra and alerts) are sharing the same SVG for the no results messages.

While we wait for the Eui initiative on having a [EuiIlustrations](https://github.com/elastic/eui/discussions/5546) ready, we agreed that it would be a good idea to add them to a kibana package.

[2022-07-25 10:23] elasticmachine commented on #137049
Pinging @elastic/apm-ui (Team:apm)

[2022-07-25 10:29] dgieselaar commented on #137049
How would this save on bundle size? cc @weltenwort as I think you were involved in the discussion as well.

[2022-07-25 10:32] flash1293 opened #137051 "[RUM] RUM dashboard crashes in incognito mode"
**Kibana version:** main

**Describe the bug:** Trying to access the RUM dashboard in incognito mode crashes the app

**Steps to reproduce:**
1. Go into incognito mode
2. Navigate to `/app/ux`
3. Crash

**Expected behavior:**
Doesn't crash (like in non-incognito mode)

**Screenshots (if relevant):**
<img width="1253" alt="Screenshot 2022-07-25 at 12 31 13" src="https://user-images.githubuserconten

[2022-07-25 10:32] elasticmachine commented on #137051
Pinging @elastic/uptime (Team:uptime)

[2022-07-25 10:35] flash1293 opened #137052 "[Lens] Chart doesn't render if reference line quick function returns no data"
**Kibana version:** main

**Describe the bug:** When a quick function reference line doesn't have a value, the chart doesn't render

**Steps to reproduce:**
1. Configure over time chart
2. Add reference line average of something
3. Filter out all data
4. Chart doesn't render, stuck in loading mode

**Expected behavior:**
Chart renders empty

**Screenshots (if relevant):**
<img width="643" alt="Scr

[2022-07-25 10:35] elasticmachine commented on #137052
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-25 10:47] amolnater-qasource opened #137055 "[Fleet]: Inactive tags are not removed from tags list under Agents tab."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Add tag: `test` to that agent.
3. Add some other tags to different agents.
4. Unenroll all th

[2022-07-25 10:47] elasticmachine commented on #137055
Pinging @elastic/fleet (Team:Fleet)

[2022-07-25 10:47] amolnater-qasource commented on #137055
@manishgupta-qasource Please review.

[2022-07-25 10:47] flash1293 opened #137056 "[Lens] Set min bound for shard_size on top values"
The shard size on the terms agg is derived from the size parameter - a changing size parameter implies a changing shard size parameter which is very likely to change the top values for high cardinality fields on many shards.

As this is a very confusing user experience, the shard size should be set to a minimum of 25 - this doesn't resolve the problem but limits its impact as top values from 3 to

[2022-07-25 10:47] elasticmachine commented on #137056
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-25 10:48] manishgupta-qasource commented on #137055
Secondary review for this ticket is Done

[2022-07-25 10:54] suchcodemuchwow commented on #137032
/skip

[2022-07-25 10:54] kibanamachine commented on #137032
Skipped

main: 39d38141eb83b8ecf923a5540869676bb9c33c57

[2022-07-25 10:55] suchcodemuchwow commented on #137046
/skip

[2022-07-25 10:56] kibanamachine commented on #137046
Skipped

main: 7afe268c8a02eb460017338a990f491b9f9539c2

[2022-07-25 11:00] suchcodemuchwow commented on #118472
/skip

[2022-07-25 11:00] kibanamachine commented on #118472
Skipped

main: c932ce04a811cd16a5a94c45e3432b958845c837

[2022-07-25 11:03] flash1293 opened #137057 "[Lens] "Collapse by" for partition charts"
Similar to the xy and table implementations, partition charts should allow to "collapse" breakdown dimension.

If a dimension is collapsed, it doesn't count against breakdown dimension limits anymore (e.g. two for treemap).

[2022-07-25 11:03] elasticmachine commented on #137057
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-25 11:11] #136227 closed

[2022-07-25 11:53] kibanamachine opened #137062 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_grid_in_discover·ts - machine learning - data visualizer field statistics in Discover when enabled with farequote index pattern displays the 'Field statistics' table content correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18797#0182350f-f83a-418b-9280-36d7994469ef)

[2022-07-25 11:54] elasticmachine commented on #137062
Pinging @elastic/ml-ui (:ml)

[2022-07-25 11:54] samratbhadra-qasource opened #137064 "[Security Solution]: Add field flyout is not collapsing on clicking the Add field button twice under timelines tab."
Describe the bug
Add field flyout is not collapsing on clicking the Add field button twice under timelines tab.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Timelines tab .
3. Click on create new timeline.
4. Click on Add field option under timelines tab.
5. After the Add field flyout pops-up again click on Add field button.
6. O

[2022-07-25 11:54] juliaElastic commented on #137055
@amolnater-qasource @kpollich If we expect tags list to include/exclude inactive agents' tags depending on filters, do we expect the same functionality for upgradeable or other queries? Right now tags of all agents are visible in the list independent of filters.

[2022-07-25 11:55] #135861 closed

[2022-07-25 12:04] kpollich commented on #137055
@juliaElastic I would say yes. If possible, tags should respect the filters available in the status/filter bar. Do you think this is something that's fairly involved to implement?

[2022-07-25 12:06] awahab07 opened #137067 "[Synthetics 1.0] Monitor Management Page"
## Implementation Issues
- [x] [Basic list table](https://github.com/elastic/kibana/pull/132836)
- [x] [Make Frequency column sortable](https://github.com/elastic/kibana/pull/133713)
- [x] [Fix pagination bug](https://github.com/elastic/kibana/pull/134282)
- [x] [Search and Type, Location and Tag filters](https://github.com/elastic/kibana/pull/133882#event-6794844592)
- [x] Fix filtering and searc

[2022-07-25 12:06] elasticmachine commented on #137067
Pinging @elastic/uptime (Team:uptime)

[2022-07-25 12:06] mistic commented on #137016
Skipped.

main: [6fc46b5](https://github.com/elastic/kibana/commit/6fc46b5eaf78cb413467a67db4b33d3c321460c6)

[2022-07-25 12:08] klacabane commented on #120414
The actual testing is too early to pick up since it has dependencies on working integrations packages but for the user experience question, I'd be inclined to implement a simple detection mechanism that verifies whether we are reading any documents from `metrics-*`. If not, we display [a callout](https://elastic.github.io/eui/#/display/callout) that explains the migration to agent is possible with

[2022-07-25 12:10] awahab07 commented on #137067
Meta issue: https://github.com/elastic/kibana/issues/134570.

[2022-07-25 12:15] deepikakeshav-qasource opened #137068 "[Security Solution] Rule execution logs are not displaying for new term rule"
**Describe the bug**
Rule execution logs are not displaying for new term rule

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. New Term rule should be created

**Steps to Reproduce**
1. Navigate to security > Rule management page
2. Navigate the rule details page of new term rule
3. Click on Rule execution logs tab
3. Observe that Rule execution logs are not displaying for

[2022-07-25 12:17] elasticmachine commented on #137068
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-25 12:18] #136304 closed

[2022-07-25 12:19] amolnater-qasource commented on #137055
Hi @juliaElastic

Before the fixes for https://github.com/elastic/kibana/issues/135888 this issue, on unenrolling tags used to removed from this list.
Please let us know if anything else is required from our end.

Thanks

[2022-07-25 12:19] amolnater-qasource commented on #133740
Hi @nchaulet

Thank you for all the information and sharing a demo recording for the feature testing.

We have revalidated this feature on latest 8.4 Snapshot and had below observations:
- We are able to create custom pipeline.
- We attempted to modify custom mappings however we are not getting added custom pipeline.

**Could you please confirm if this is an issue?**

**Screen Recording:**

https:

[2022-07-25 12:24] juliaElastic commented on #137055
I think it is doable with small effort, to pass similar options to the tags API as the agents API uses.

[2022-07-25 12:26] pgayvallet commented on #134122
👍 . I think this should be ready to pickup as soon as https://github.com/elastic/kibana/pull/136722 is merged, I don't think this should be blocked by the second stage of https://github.com/elastic/kibana/issues/135820 (moving the other public server-side SO types to packages)

[2022-07-25 12:41] pgayvallet commented on #136728
Seems to just be a typo: `severUrl` instead of `serverUrl`.

[2022-07-25 12:43] pgayvallet commented on #136728
@philippkahr Could you confirm this is working as intended when the correct configuration key is used?

[2022-07-25 12:43] jsanz commented on #137044
Closing, since this issue description came from a misunderstanding on my end :sweat_smile:

[2022-07-25 12:43] #137044 closed

[2022-07-25 12:58] #136826 closed

[2022-07-25 12:58] #136848 closed

[2022-07-25 13:04] philippkahr commented on #136728
@pgayvallet 🤦

[code]

With `seRverUrl` it now works. I forgot an `r` 🤦 .

Sorry for the noise!

[2022-07-25 13:06] kibanamachine commented on #137062
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18801#0182354d-623b-48b6-bce3-6936950dd65e)

[2022-07-25 13:11] kpollich opened #137075 "[Fleet] Support dark mode icons"
In https://github.com/elastic/package-spec/pull/378, we added support for icons with a `dark_mode` flag. We should support this flag in the integrations UI. If the user's current theme is dark, we should display dark mode icons for all integrations in which they exist.

[2022-07-25 13:11] elasticmachine commented on #137075
Pinging @elastic/fleet (Team:Fleet)

[2022-07-25 13:16] pgayvallet commented on #136581
@sethmlarson I took a quick look at trying to set a `user-agent` header when instantiating the client, to have something, as suggested:

The good new: any value passed to the client during construction (via `ClientOptions.headers['user-agent']`) is properly used and not overridden by the client's default value.

The (kinda) bad new: Kibana has no knowledge of the ES client's version we're using (a

[2022-07-25 13:17] #137047 closed

[2022-07-25 13:19] #133654 closed

[2022-07-25 13:24] #135467 closed

[2022-07-25 13:24] #82502 closed

[2022-07-25 13:29] flash1293 opened #137078 "[Lens] Performance benchmark tests"
As part of regular CI a stress-test dashboard should be rendered and the results included in the regular CI message (at least a link to some dashboard somewhere to see the results):

* Based on a data view with 50k fields in the mapping
* Render a single Lens XY vis with 20k data points on a dashboard

[2022-07-25 13:29] elasticmachine commented on #137078
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-25 13:34] maryam-saeidi opened #137080 "Remove View rule details link in rule details page"
# Summary
When we are in rule details page, we have a row action in alerts table to `View rule details`, but since we are already there, this button will not do anything and it seems broken. (more info in the description of this [PR](https://github.com/elastic/kibana/pull/136601))

![image](https://user-images.githubusercontent.com/12370520/180789264-ecae0ded-803f-4e35-b677-c0089581fc25.png)

Same

[2022-07-25 13:35] elasticmachine commented on #137080
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-25 13:42] emma-raffenne commented on #132730
@vinaychandrasekhar This epic mentions to alerts in context of Infra. Is it something we want to do for 8.5.0? Is there a design for it?

[2022-07-25 13:45] ckauf opened #137081 "Remove unnecessary rollover time units in ILM policy dialog"
**Describe the feature:**
Please remove unnecessary time units (less than minutes) in the[ Index Lifecycle Policy creation](https://www.elastic.co/guide/en/elasticsearch/reference/current/set-up-lifecycle-policy.html#ilm-create-policy) dialog. There is no use case for these rollover periods and they are potentially harmful when selected by accident.

![ilm_intervals](https://user-images.githubuser

[2022-07-25 13:45] mistic commented on #137062
Skipped.

main: [c6f6b62](https://github.com/elastic/kibana/commit/c6f6b62ac69da183d9a98a32596f746109d73612)

[2022-07-25 13:49] kibanamachine commented on #137062
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18806#01823575-404d-4832-9227-fb39dbf015b6)

[2022-07-25 13:49] #111367 closed

[2022-07-25 13:51] vinaychandrasekhar commented on #132730
@emma-raffenne conversations ongoing between me and @pmeresanu85. Please stay tuned, meeting to be scheduled to make progress on this. The designs in https://github.com/elastic/observability-product/issues/168 are for the current Infra screens. Those screens are being reviewed and may change. Our goal is to use the same alerts table and summary widget in the new screens as we offer elsewhere in th

[2022-07-25 13:55] neptunian commented on #120414
Good question.  We need to clarify whether we want to only encourage users using self monitoring to migrate to Agent or self monitoring AND metricbeat users.

As Kevin said, detect collection type, or whether the user is using `metrics-*` or not.  Though I was thinking we can modify the current [getCollectionStatus](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/s

[2022-07-25 14:00] #132585 closed

[2022-07-25 14:10] dannycroft opened #137084 "[APM] Storage Explorer Beta"
Based on the success of https://github.com/elastic/kibana/issues/128628, we'd like to focus some effort on refining the UX, feature set and overall "feel" of the feature. We have processed and documented all necessary feedback to allow us to create an MVP under the Beta status.

Below are the changes needed for the initial offering in groups of priority:

**Phase 1** https://github.com/elastic/kib

[2022-07-25 14:10] elasticmachine commented on #137084
Pinging @elastic/apm-ui (Team:apm)

[2022-07-25 14:13] kibanamachine opened #137085 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_grid_in_discover·ts - machine learning - data visualizer field statistics in Discover when enabled with KQL saved search displays the 'Field statistics' table content correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18808#01823589-acd4-4371-8747-becc58d8dd84)

[2022-07-25 14:13] elasticmachine commented on #137085
Pinging @elastic/ml-ui (:ml)

[2022-07-25 14:18] kibanamachine commented on #137062
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18808#018235b4-7543-425c-a108-6d5b1cb51659)

[2022-07-25 14:21] marshallmain commented on #137068
@deepikakeshav-qasource I'm seeing the rule execution logs when I test a new terms rule with those steps. Can you provide any further information about how to reproduce this bug?

![image](https://user-images.githubusercontent.com/55718608/180799754-5b93d166-09dc-460d-97b5-9e14eed53a9a.png)

[2022-07-25 14:22] MadameSheema opened #137086 "[Security Solution] Not able to add to add `kibana.alert.new_terms` field to alerts table and timeline"
**Describe the bug:**
- Not able to add to add `kibana.alert.new_terms` field to alerts table and timeline

**Kibana/Elasticsearch Stack version:**
- main (d4bb959beaeac9115bf97911e75fc0645ca7d0ed)
- 8.4.0

**Initial setup:**
- To have at least one alert generated by a new terms rule.

**Steps to reproduce:**
1. Open the fields browser on the alerts table or timeline
2. Search for `kibana.alert.ne

[2022-07-25 14:22] elasticmachine commented on #137086
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-25 14:22] elasticmachine commented on #137086
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-25 14:22] elasticmachine commented on #137086
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 14:22] qcorporation opened #137087 "[Kubernetes Dashboard] K8s Tree needs to key off of cluster.id"
## Description and Rationale
Based upon the changes being made within the K8sMD ticket: https://github.com/elastic/k8smd/issues/60
There is a gap within K8sMD retrieval of the Cluster Name within EKS. There is no standard/generalized way of capturing the Cluster Name reliably. As such, we need to consider that the Cluster Name might not exist. Within the UI, the tree view keys off of this identifi

[2022-07-25 14:23] mikecote commented on #90931
Blocked on https://github.com/elastic/kibana/issues/64659.

[2022-07-25 14:23] kpollich commented on #134738
I think it's intentional that we don't show a timestamp for immediate upgrades. Closing.

[2022-07-25 14:23] #134738 closed

[2022-07-25 14:25] qcorporation opened #137088 "[Kubernetes Dashboard] The `xpack.securitySolution.kubernetesEnabled` should be enabled by default"
## Description and Goal
AWP would like to showcase the K8s Dashboard within the 8.4 release by having the feature flag turned on by default

## Acceptance Criteria
Once the code has been merged into main, validate that the K8s Dashboard menu item appears within staging and production env when a new instance is created or an existing instance is upgraded

[2022-07-25 14:27] kpollich commented on #131928
It might make sense when we catch this error in the client, we should delete the orphaned package policy behind the scenes. Or allow it to be done in some way.

[2022-07-25 14:32] juliaElastic commented on #132263
@joshdover
To provide human readable input ids like `apache_logs`, do you think the id field should be added to all package definitions?
If so, this task should be raised for Ecosystem team.

[2022-07-25 14:34] juliaElastic commented on #136368
@jen-huang I checked, and it is not fixed, I'll submit a pr soon.

[2022-07-25 14:47] #135696 closed

[2022-07-25 14:50] joshdover commented on #137005
I've been wondering if we need this bidirectional foreign key referencing myself. I think just having the package policies reference the agent policies make sense.

[2022-07-25 14:50] joshdover commented on #123150
We may want to consider this one as well as a fix required for GA: https://github.com/elastic/kibana/issues/137005

[2022-07-25 14:50] kevinlog commented on #137036
@dasansol92 could you take a look?  My guess is that this affects most of the artifact pages

[2022-07-25 14:54] dasansol92 commented on #137036
@kevinlog Yes, it is related to the api request we do for getting the exception items in all of our artifact list pages. Seems KQL syntax does not allow colons or semi colons.

[2022-07-25 14:54] #136983 closed

[2022-07-25 15:05] zizhouW commented on #136973
Addressed in https://github.com/elastic/kibana/pull/136696

[2022-07-25 15:05] #136973 closed

[2022-07-25 15:11] #135772 closed

[2022-07-25 15:16] #126066 closed

[2022-07-25 15:21] kpollich commented on #123150
@joshdover Thanks - added to the description.

[2022-07-25 15:30] #135357 closed

[2022-07-25 15:36] criamico opened #137094 "[Fleet] Reenable skipped cypress test integrations_real"
The [integrations_real](https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/cypress/integration/integrations_real.spec.ts#L29-L30) spec has been failing a lot with timeouts and we skipped it to avoid flakiness.

Let's try to make it more stable and re-enable it.

[Failing run ](https://buildkite.com/elastic/kibana-pull-request/builds/60345#01823590-f73a-47d2-8327-c5412d490515)

[2022-07-25 15:36] elasticmachine commented on #137094
Pinging @elastic/fleet (Team:Fleet)

[2022-07-25 15:43] flash1293 opened #137095 "[Lens] Make renderers more robust"
Bugs like https://github.com/elastic/kibana/issues/137052 are not handled gracefully - the UI looks like it's loading forever.

Instead it should be handled like an error while executing the expression:
* Add a custom error boundary with a callback on error
* When an error is thrown, put the expression loader into error state (to do this the `onRenderError` has to be exposed to the renderer via ha

[2022-07-25 15:43] elasticmachine commented on #137095
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-25 15:44] davismcphee opened #137096 "[Discover] Support 'Store URLs in session storage' for Surrounding documents"
Currently Surrounding documents doesn't support storing application state in session storage like Discover does. We should add support for this to Surrounding documents to be consistent with how Discover works.

![image](https://user-images.githubusercontent.com/25592674/180819415-363b0ff3-a735-460a-ac73-3abe42de6a4e.png)

[2022-07-25 15:44] elasticmachine commented on #137096
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-25 15:45] criamico commented on #133309
@kpollich I'm working on this issue and I basically have two options:

1. Writing a test that compares the hardcoded versions with the response from https://www.elastic.co/api/product_versions. This test should fail when a new minor/major version is released, remainding us to update the hardcoded list,  however while writing it the endpoint became unavailable.
2. Adding some code that fetches the

[2022-07-25 15:59] legrego commented on #65919
I'm going to close this issue for now due to lack of interest. This does not align with our team's current priorities. Please feel free to re-open if you want to continue the discussion.

[2022-07-25 15:59] #65919 closed

[2022-07-25 16:04] #132684 closed

[2022-07-25 16:04] #122366 closed

[2022-07-25 16:05] ghudgins commented on #111313
yes - @stratoula has a proof of concept that would leverage saved objects for color stops / palettes.

[2022-07-25 16:09] #136051 closed

[2022-07-25 16:10] XavierM commented on #123637
@lcawl I think I need your help on this https://github.com/elastic/kibana/pull/133304

[2022-07-25 16:10] #134796 closed

[2022-07-25 16:10] #134797 closed

[2022-07-25 16:10] #136575 closed

[2022-07-25 16:13] XavierM commented on #135697
For 8.4, we did `Support partial matches`

[2022-07-25 16:16] orouz commented on #137022
PR
- https://github.com/elastic/kibana/pull/137100

[2022-07-25 16:18] #134500 closed

[2022-07-25 16:18] kpollich commented on #133309
It's pretty unfortunate that that API is somehow down while we need to figure this out 😅

Option number one doesn't sound ideal to me, because as soon as the product versions API goes down like it is now every Kibana PR will fail CI when our test runs. Depending on a network location like this during CI is generally going to introduce flakiness.

Option number two is a bit better because we can sa

[2022-07-25 16:19] kpollich commented on #133309
Looks like the API is maybe back now, but it's extremely slow.

![image](https://user-images.githubusercontent.com/6766512/180826603-c6c78806-18d4-4bc8-99fb-54f1d382a458.png)

8 seconds for a response here means we probably can't rely on this API to block the rendering of the version dropdown.

[2022-07-25 16:26] nchaulet commented on #133309
Did we consider an option 3: a script that populate the list during Kibana build? we do not introduce flakyness in the UI if this endpoint is down or private network .... and we have an up to date version list

[2022-07-25 16:30] kpollich commented on #133309
Build task to write the product versions to a gitignored file would probably work well here, I like that idea @nchaulet

[2022-07-25 16:31] #129821 closed

[2022-07-25 16:31] criamico commented on #133309
Yes exactly, I think that we initially ruled out the idea of using this endpoint for production because of its slowness.

@nchaulet actually I wasn't aware of this option :) could you send an example of  it? I already have the code that filters out the fetched list, I just need to move it to the correct place.

[2022-07-25 16:36] nchaulet commented on #133309
@criamico the kyle PR for bundled package for inspiration I think we could have something similar https://github.com/elastic/kibana/pull/122297

[2022-07-25 16:41] xcrzx commented on #136213
We have discussed renaming the `version` field to something more specific and decided to keep the name as is for now. In the case of renaming, we would need to write migrations for all existing rules, which is not trivial as users could have exported rules out of reach for us. So that outweighs the benefits of renaming the field. But probably, we'll rename the `version` field when we decide to mov

[2022-07-25 16:41] sethmlarson commented on #136581
@pgayvallet Using the version field inside of `package.json` should be fine for this first implementation. The JS client won't change it's product name of `elasticsearch-js` as that'd be a change within our own filters as well.

I can see the different User-Agent strings across clients and see if there'd be value in exposing them to be used in this way. Thanks for raising this!

[2022-07-25 16:47] qcorporation commented on #137087
@m-sample had a suggestion of separating some attributes into different fields.
Then, if Endpoint+K8sMD did not populate the cluster name field, we can display it within the UI (root node) based upon a combination of other fields.

[2022-07-25 16:51] #136667 closed

[2022-07-25 17:00] banderror commented on #136213
Just to keep it clear what our suggested implementation plan is (and @xcrzx please correct me here if I'm wrong):

Stage 1 (**we're only discussing this right now**):

1.1. Implement `revision` at the Alerting Framework level. Keep `version` in the Security rule parameters as is.
1.2. Migrate Security Solution rules to the new `revision` field. For custom rules: `revision = version; version = 0;`.

[2022-07-25 17:02] legrego commented on #108063
Resolved via https://github.com/elastic/kibana/pull/134499

[2022-07-25 17:02] #108063 closed

[2022-07-25 17:09] legrego commented on #102957
Superseded by https://github.com/elastic/kibana/issues/133835

[2022-07-25 17:09] #102957 closed

[2022-07-25 17:11] legrego commented on #63435
Closing due to inactivity. Please feel free to reach out in our [discussion boards](https://discuss.elastic.co/c/kibana/7) if you require assistance.

[2022-07-25 17:13] legrego commented on #59544
Closing as this isn't a current priority. Saved objects are becoming _sharable_, which reduces the need for copying between spaces. Feel free to reopen if needed.

[2022-07-25 17:13] #59544 closed

[2022-07-25 17:41] MichaelMarcialis commented on #136993
Responded to the thread in Slack, but adding here for the sake of visibility. Personally, I’d prefer to get rid of the white shadowed panel/container for the visualization altogether in Lens, and simply make the center content area (containing toolbar visualization and suggestions) all on a white background. I think it would help reduce visual noise and avoid the box-in-a-box looks that a lot of a

[2022-07-25 17:53] sethmlarson commented on #136581
@pgayvallet Another question, does Kibana use the elastic-transport-js library directly as well? I'm seeing a large amount of clusters that are receiving it's default User-Agent as well but don't know of any project that scale that'd be using the library besides Kibana.

[2022-07-25 17:56] nchaulet commented on #133314
Resolved by https://github.com/elastic/kibana/pull/136838

[2022-07-25 17:56] #133314 closed

[2022-07-25 18:08] klacabane commented on #135379
I like that, could be worth investigating how this is currently done and we can hook into that mechanism without having the test fail. Avoiding failing the test is important here because failures can be expected when introducing changes to the mappings on one end (ES), the other end (integration) may not be updated yet (or the change is not available to the the registry used by CI jobs).

Are CI j

[2022-07-25 18:14] yctercero commented on #136188
@mjraa thank you, this is really great feedback. I agree that one definitely does not invalidate the other.

As I mentioned - we're actively examining the design here and I will definitely bring this feedback up. I'll be sure to link to this ticket as well once we kick things off.

[2022-07-25 18:20] mikecote commented on #50215
From https://github.com/elastic/kibana/issues/134400.

[2022-07-25 18:20] #134400 closed

[2022-07-25 18:22] klacabane opened #137112 "[Stack Monitoring] Align integration packages ingest pipelines with filebeat"
### Summary

We should verify that the logs mappings and ingest pipelines defined in filebeat for the elasticsearch, kibana and logstash modules are aligned with the ones defined in the corresponding integration packages.

- [x] https://github.com/elastic/integrations/issues/4046
- [x] https://github.com/elastic/integrations/issues/4047
- [x] https://github.com/elastic/integrations/issues/4048

##

[2022-07-25 18:22] elasticmachine commented on #137112
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-25 18:22] mikecote commented on #50215
This feature should leverage the new task manager's `runSoon` API that will allow any Kibana from picking up this task. The run soon API sets new Date() as the next runAt which will work for this use case. We should lookout for rule types using the rule's `interval` value in case running a rule more frequently may behave differently. (we should also look into discouraging the use of `interval`..)

[2022-07-25 18:26] marshallmain opened #137113 "[Security Solution][Platform] Field options are not populated in edit rule page with data views"
When editing a rule that uses a data view, options that have suggested fields in the create rule page such as the query bar, "Group by" for threshold rules, "Fields" for new terms rules, etc, do not have suggested fields.

Steps to reproduce:
1. Create a rule that uses a data view
2. Go to the "Edit rule" page for that rule
3. Click on a field that should have suggested fields in a drop down. No o

[2022-07-25 18:34] dplumlee opened #137114 "[Security Solution][Response Ops] Rule actions sending malformed JSON when using `{{context.alerts}}` action template"
Rule actions are failing to fire when using the `{{context.alerts}}` placeholder due to the JSON output being malformed when sent to the assigned webhook. This is causing `502` errors to come back from the webhook and not properly fire when the rule executes successfully. When looking at the malformed output, the JSON is often arbitrarily cut off and not escaped properly which is causing it to err

[2022-07-25 18:34] elasticmachine commented on #137114
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-25 18:34] elasticmachine commented on #137114
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-25 19:08] #135954 closed

[2022-07-25 19:11] kibanamachine commented on #136033
New failure: [CI Build - 8.3](https://buildkite.com/elastic/kibana-on-merge/builds/18843#0182368f-a2e7-4e2f-8aec-85415643c834)

[2022-07-25 19:15] 1Copenut commented on #136033
@bhavyarm This looks like the same issue we were seeing in the Tags Management `ul[role="listbox"]`

[code]

[2022-07-25 19:25] dominiqueclarke opened #137118 "[Uptime UI] Add tooltip for users without Fleet permission on-prem"
When using Uptime monitor management on-prem, the only option is using private locations. However, if the user does not have Fleet permissions, they are not able to add monitors with private locations.

Because of this, the Add Monitor button is complete disabled for on-prem users without Fleet permissions. We should add a tooltip to provide these users more context and direct users to contact the

[2022-07-25 19:25] elasticmachine commented on #137118
Pinging @elastic/uptime (Team:uptime)

[2022-07-25 19:29] nchaulet opened #137119 "[Fleet] Code coverage in pull request"
## Description

There is a lot of code not covered by tests in Fleet (especially some public code where we want to add some unit tests), and having some code coverage metrics in our pull request will really help making progress their and avoid to remove some code coverage too.

@elastic/kibana-operations Do you think this is something that is doable? if it's help we are really interested in gettin

[2022-07-25 19:29] elasticmachine commented on #137119
Pinging @elastic/fleet (Team:Fleet)

[2022-07-25 19:47] spalger commented on #137119
We've done some investigation of existing code coverage solutions and explored how they would work in PRs, but found that all of them would fail to work for us in one way or another. Jest unit test coverage is pretty easy to calculate locally, before and after a PR, but doing it in a way that applies to all PRs and has the appropriate baselines for all commits is even trickier. @brianseeders can p

[2022-07-25 19:57] legrego commented on #38305
This issue is quite old, and inactive. Since this was originally written, Kibana has been reorganized around "Solutions", and the Spaces UI has been updated accordingly. While we still expose new features by default, I don't believe this has been an issue for our users in practice.

I'm going to close this issue for now, but feel free to reopen if anyone would like to continue the discussion.

[2022-07-25 19:57] #38305 closed

[2022-07-25 20:01] kobelb commented on #136213
We will 100% be renaming the version field when it is moved to the alerting framework.

[2022-07-25 20:21] #131928 closed

[2022-07-25 20:41] kibanamachine commented on #132566
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-on-merge/builds/18851#018236e7-a86d-408c-9f51-7a469c1973d2)

[2022-07-25 21:14] #133418 closed

[2022-07-25 21:27] #136098 closed

[2022-07-25 21:41] #137088 closed

[2022-07-25 21:51] kibanamachine opened #137124 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/uptime/rest/add_monitor_project·ts - apis uptime uptime REST endpoints uptime CRUD routes [PUT] /api/uptime/service/monitors creates integration policies for project monitors with private locations"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18859#01823738-9d2e-4449-abe7-160b50df9bf2)

[2022-07-25 21:52] elasticmachine commented on #137124
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-25 22:04] smith commented on #134412
Updated description to more closely match what we're doing.

[2022-07-25 22:20] kibanamachine commented on #137124
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18862#01823750-efbc-4dba-b897-e3a5e2a9cf24)

[2022-07-25 22:30] kibanamachine commented on #135341
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18863#01823756-22eb-43de-9167-8358cd674520)

[2022-07-25 23:08] afharo commented on #136581
@sethmlarson it's not clear to me why we need to report the elasticsearch-js client version in the `user-agent`. AFAIK, it's reported in the header `x-elastic-client-meta`, isn't it?

[2022-07-25 23:09] afharo commented on #131131
Tagging the Operations team because most folks in the Performance WG belong in that team instead of Core. Feel free to tag us back if we need to do anything on our end.

[2022-07-25 23:26] lcawl opened #137130 "[DOCS] Scheduled snoozing for rules"
Relates to https://github.com/elastic/kibana/issues/130724, https://github.com/elastic/kibana/issues/126601, https://github.com/elastic/kibana/issues/132268

The scheduled snooze functionality affects https://www.elastic.co/guide/en/kibana/master/create-and-manage-rules.html

There are also some places where the UI text requires edits.

- [x] Add intro text to Snooze notifications panel https://gi

[2022-07-25 23:28] elasticmachine commented on #137130
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-25 23:44] sethmlarson commented on #136581
@afharo It's not necessary to report, including the Kibana product name and version as `User-Agent: Kibana/<version>` would be enough too. Typically Kibana version and elasticsearch-js version are the same anyways.

[2022-07-25 23:51] mistic commented on #137124
Skipped.

main: [37831e4](https://github.com/elastic/kibana/commit/37831e4e1978fc115e7830cd45e3c41026c56644)

[2022-07-25 23:53] mistic commented on #135341
Failing again, skipped.

main: [bf12ac2](https://github.com/elastic/kibana/commit/bf12ac2e6cbab88b6394364758dfdd38a811e290)

[2022-07-25 23:54] marshallmain commented on #137113
Fixed by https://github.com/elastic/kibana/pull/136448

[2022-07-25 23:54] #137113 closed

[2022-07-26 00:33] pjbertels opened #137135 "fleet scaling moving agents between policies causes instability"
**Elasticsearch version:**
8.4.0-SNAPSHOT 8.4.0-31269fd2

**Original install method (e.g. download page, yum, from source, etc.):**
Installed with terraform on elastic cloud

**Describe the bug:**
After moving all agents from one policy to another there is an immediate spike in CPU utilization which to some degree is expected. But the elastic search cpu consumption never returns to previous idle l

[2022-07-26 00:33] elasticmachine commented on #137135
Pinging @elastic/fleet (Team:Fleet)

[2022-07-26 00:37] kibanamachine opened #137136 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/spaces·ts - Kibana Spaces Accessibility a11y test for space selection page"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18869#018237c9-66ac-4d72-a268-86a7b5d4717e)

[2022-07-26 00:46] kibanamachine commented on #137136
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18869#018237f0-5872-493a-b871-f293f1c231f3)

[2022-07-26 00:58] matschaffer commented on #137112
Interesting! I was under the assumption that the current packages used the filebeat modules under the hood, but if this is the case I guess not. Looking forward to trying it out.

[2022-07-26 00:59] matschaffer commented on #135379
Pretty sure yes, but no idea on details. Folks in kibana-operations should be able to tell us.

[2022-07-26 01:02] kibanamachine commented on #137136
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18870#018237de-85cb-4985-8d6c-43f7bd24b63f)

[2022-07-26 01:12] kibanamachine commented on #137136
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18870#01823806-c519-4a5c-92e7-193cd46e2833)

[2022-07-26 01:19] andrewctate opened #137140 "[Lens] number palettes aren't applied until stop is adjusted"
## STR
1. Create a gauge visualization
2. Turn on color-by-value and see the bands
3. Switch the palette to numeric instead of percent-based

**Result:** The stops are converted but the bands disappear. They reappear when any of the stops are adjusted.

~Also applies to new metric visualization.~

[2022-07-26 01:19] elasticmachine commented on #137140
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-26 01:50] matschaffer opened #137141 "[APM] Dashboard-embeddable tracing/waterfall components"
We have some work going on to as part of the (internal) [Platform Observability Working Group](https://github.com/elastic/observability-dev/issues/2055) that are pointing to the need for being able to embed tracing data into a dashboard.

The use case we're specifically talking about so far is that the current [Logtash pipeline UI](https://www.elastic.co/guide/en/logstash/current/logstash-pipeline

[2022-07-26 01:53] elasticmachine commented on #137136
Pinging @elastic/kibana-qa (Team:QA)

[2022-07-26 02:19] kibanamachine commented on #137136
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18871#01823826-6c74-42b7-a5a6-abd2d790b9c1)

[2022-07-26 02:21] clintandrewhall commented on #135076
https://github.com/elastic/kibana/pull/136790 has been merged, so unless there is additional work to do, we can close this issue.

[2022-07-26 02:21] #135076 closed

[2022-07-26 02:28] matschaffer opened #137142 "Hide "Help us improve the Elastic Stack" if hideAnnouncements is set"
https://github.com/elastic/kibana/pull/135030 introduces a new `hideAccouncements` flag we can use to limit UI noise for advanced users or developers.

I'd like to have this popup hide when it's set as well.

![Home_-_Elastic](https://user-images.githubusercontent.com/690/180909504-d07ba2cb-cfd9-4f52-8d85-ab6f15499c9a.png)

[2022-07-26 02:28] elasticmachine commented on #137142
Pinging @elastic/kibana-core (Team:Core)

[2022-07-26 02:28] matschaffer commented on #137142
Starting with core. Not sure if that's the right team, so please re-route if necesary.

[2022-07-26 02:30] kibanamachine commented on #137136
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18871#0182384d-b394-4e4e-b84f-3a366a6c8665)

[2022-07-26 02:51] matschaffer commented on #137142
Oh, this might be the case already. I booted elastic-package stack which probably doesn't have `hideAnnouncements` set.

[2022-07-26 02:51] #137142 closed

[2022-07-26 02:53] matschaffer commented on #137142
Yep, done already. Thanks in advance and apologies for the noise. I'll work on figuring out how to get this set in elastic-package stack.

[2022-07-26 03:37] ITSEC-Hescalona commented on #112938
Why do you permit long names in spaces if later this name can affect thinks like ML job id with no possibility to go back or change identifier?

[2022-07-26 05:05] deepikakeshav-qasource commented on #137068
Hi @marshallmain ,

Thanks for the update!!

We did not perform any specific step. We have created 4 to 5 different new terms rules.

However, We are unable to see the execution logs on `mains branch` for new Term rules.

Please find the below new term rule:

`Commits: 4227348b9579900e5142a63720bb108c2c33f48a`

**Rule**
[new_term.zip](https://github.com/elastic/kibana/files/9186607/new_term.zip)

[2022-07-26 05:22] deepikakeshav-qasource opened #137146 "[Security Solution] Dashboard list showing under Security Dashboard even with `none` privilege on Kibana dashboard"
**Describe the bug**
Dashboard list showing under Security Dashboard even with `none` privilege on Kibana dashboard

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. Dashboard should be exist under Security Dashboards page

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
![image](https://user-images.githubusercontent.c

[2022-07-26 05:22] elasticmachine commented on #137146
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 05:26] kertal commented on #12706
I've tested it with CCS and it works as expected, so I'm closing this issue.
![CCS-index-filtering](https://user-images.githubusercontent.com/463851/180929971-7d92b6b5-408d-4b80-9c96-98d85d9a7106.gif)

[2022-07-26 05:26] #12706 closed

[2022-07-26 05:28] kertal commented on #130838
@liza-mae this is because Graph demo data was added in 7.6:
https://github.com/elastic/kibana/pull/54558
Therefore it's can't be tested

[2022-07-26 05:33] elasticmachine commented on #137146
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-26 05:33] elasticmachine commented on #137141
Pinging @elastic/apm-ui (Team:apm)

[2022-07-26 05:50] dgieselaar commented on #137141
cc @dannycroft

[2022-07-26 05:57] dannycroft commented on #137141
@chrisdistasio @alex-fedotyev would love to discuss this more to see if we can get the ball rolling on more sharable APM content across Kibana.

[2022-07-26 06:35] simranvaseer-qasource commented on #136259
Hi @kpollich
Thank you for confirming this as an expected behaviour under https://github.com/elastic/eui/issues/6060 and we will be considering this as intended.
Thanks

[2022-07-26 06:36] prachigupta-qasource commented on #134738
Hi @kpollich,

Thank you for the confirmation. Moving forward, we will take care of this.

[2022-07-26 06:45] #136368 closed

[2022-07-26 06:46] kibanamachine commented on #136990
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18877#0182391e-3256-4a1a-a569-fd61f0fd09d5)

[2022-07-26 07:15] #137086 closed

[2022-07-26 07:19] amolnater-qasource commented on #136504
Hi @criamico
Thank you for the fixes.
We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
- Checkboxes are updated with checkmark icon under download sources table.

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screenshot:**
![12](https://user-images.githubusercontent.com/77374876/180945930-88f37915-c7a8-40f6-aa4e-b4c42703735c.JP

[2022-07-26 07:19] amolnater-qasource commented on #135775
Hi @juliaElastic
Thank you for the confirmation.
We just wanted to re-confirm for few special characters before creating testcases for this feature.

Further as revalidation is completed under https://github.com/elastic/kibana/issues/135775#issuecomment-1180304796 and hence marking this as QA: Validated.
Thanks!

[2022-07-26 07:26] miltonhultgren commented on #120414
Maybe this is a curveball but as part of this effort, could we hide the text for self monitoring? :D
I know we have it there to make it as easy as possible to get started but shouldn't we drive that ease of use towards improving Agent instead?

[2022-07-26 07:31] rahuldimri commented on #133748
@pgayvallet Can I work on this ?

[2022-07-26 07:41] dannycroft commented on #132898
Closed by https://github.com/elastic/kibana/pull/132975. Please reopen if I'm incorrect.

[2022-07-26 07:41] #132898 closed

[2022-07-26 07:45] dannycroft commented on #132917
@LucaWintergerst can you see if https://github.com/elastic/kibana/pull/132975 has fixed you issue?

[2022-07-26 07:49] matschaffer commented on #120414
You mean the "or set up with self monitoring"? Doesn't seem like a terrible thing to remove at this stage.

[2022-07-26 07:56] pgayvallet commented on #136581
No, we don't even have a direct dependency to this module, only via `@elastic/elasticsearch-js`. I suspect that some internal client calls may be using the client directly and therefor using its UA instead of the client;s?

[2022-07-26 07:56] dgieselaar commented on #132917
From what I can tell this is still an issue, esp. with failure rate (which is interpreted as a value between 0 and 100). You can ee it in the screenshot in the charts on the right:

![image](https://user-images.githubusercontent.com/352732/180954035-802a7b4a-ef7a-46eb-8a61-8959d278a838.png)

[2022-07-26 07:57] muskangulati-qasource opened #137148 "[Security Solution] The ML rule link for the license upgrade is different from the one under cases tab"
**Describe the bug**
The ML rule link for the license upgrade is different from the one under cases tab

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. The user should be logged in to a Basic licensed environment

**Steps to Reproduce**
1. Navigate to the Rules tab
2. Click on the rules tab
3. Click on 'create new rule'
4. Observe the ML rule should not be enabled and sho

[2022-07-26 07:57] elasticmachine commented on #137148
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 07:57] pgayvallet commented on #133748
@rahuldimri Sure, please feel free to take a shot at it!

[2022-07-26 07:58] muskangulati-qasource commented on #137148
@manishgupta-qasource please review!

[2022-07-26 07:58] muskangulati-qasource opened #137149 "[Security Solution] Enable button not working on rule details page for custom users"
**Describe the bug**
- Enable button not working on rule details page for custom users

**Build info**

[code]

**Preconditions**
1. To have a user with a custom role:
  - Role different from `superuser`
  - `superuser` should not be part of the roles the user has
  - The user should have `customized` kibana privileges
2. To have at least one detection rule disabled

**Steps to Reproduce**
1. Navi

[2022-07-26 07:58] elasticmachine commented on #137149
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 07:58] muskangulati-qasource commented on #137149
@manishgupta-qasource please review!

[2022-07-26 08:03] manishgupta-qasource commented on #137149
Reviewed & assigned to @MadameSheema

[2022-07-26 08:03] amolnater-qasource opened #137150 "[Fleet]: Tags are not removed from Bulk Actions when `Everything on all pages` is selected."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Few agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Add tag: `test` to that agent.
3. Add some other tags to different agents.
4. Select All Agen

[2022-07-26 08:03] elasticmachine commented on #137150
Pinging @elastic/fleet (Team:Fleet)

[2022-07-26 08:03] manishgupta-qasource commented on #137148
Reviewed & assigned to @MadameSheema

[2022-07-26 08:03] amolnater-qasource commented on #137150
@manishgupta-qasource Please review.

[2022-07-26 08:04] manishgupta-qasource commented on #137150
Secondary review for this ticket is Done

[2022-07-26 08:05] jcger commented on #125561
I reviewed all points with the new Alerts table and everything is working as expected so we should be ready to go once we do the migration.

cc @XavierM

[2022-07-26 08:22] #121997 closed

[2022-07-26 08:40] miltonhultgren commented on #137112
They do but not the mappings. The metricbeat mappings are joined and put into a huge mega mapping, while the integrations keep their own single index mappings to keep it slim (also in line with the index naming schema).
I think it's done this way also to allow future versions of these integrations to not use Beats under the hood.

So same document but different mappings, and maybe different ingest

[2022-07-26 08:41] juliaElastic commented on #137150
@amolnater-qasource Does this only happen when there is a hosted agent included in selection?

[2022-07-26 08:43] rahuldimri commented on #133748
Thanks @pgayvallet  can you assign this one to me.

[2022-07-26 08:46] mrodm opened #137152 "[Lens] Add numbering format for metric visualizations"
**Describe the feature:**

Add numbering format feature to display metrics in Lens visualizations. This is already available using the TSVB. For instance, being able to show a number (long type) that represents the number of seconds as a duration period. Example of metric:

[code]

![Metric using TSVB](https://user-images.githubusercontent.com/5330827/180963814-0122b7d2-f5c1-4580-a424-221831d5d433

[2022-07-26 08:48] stratoula commented on #134654
@kertal I think we can close this, right?

[2022-07-26 08:50] stratoula commented on #127252
I am closing this as this PR https://github.com/elastic/kibana/pull/136702 was merged in main and it contains the main functionality for supporting text-based languages in Discover. I have created a new issue for the follow-ups.https://github.com/elastic/kibana/issues/136950

[2022-07-26 08:50] #127252 closed

[2022-07-26 08:50] kertal commented on #134654
sure, thx

[2022-07-26 08:50] #134654 closed

[2022-07-26 09:09] ghost opened #137153 "[Security Solution] Incorrect validation message is displaying for the `Fields`"
**Describe the bug**
Incorrect validation message is displaying for the `Fields`

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to security > Rule management page
2. Click on new Term rule
3. Click on continue button without adding any information
3. Observe that incorrect validation message is displaying for the `Fields`

**Actual Result

[2022-07-26 09:09] elasticmachine commented on #137153
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 09:15] #137055 closed

[2022-07-26 09:21] muskangulati-qasource opened #137154 "[Security Solution] The user can update the endpoint security integration config even if the user is not having the superuser role privileges"
**Description:**
The user can update the endpoint security integration config even if the user is not having the superuser role privileges

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. Create a new user without super user privilege and provide access 'all' to the user

**Steps to Reproduce:**
1. Navigate to the Fleet tab under the le

[2022-07-26 09:21] elasticmachine commented on #137154
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 09:21] elasticmachine commented on #137154
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-26 09:21] muskangulati-qasource commented on #137154
@manishgupta-qasource please review!

[2022-07-26 09:26] MadameSheema commented on #137153
Currently, we just allow 1 field, so the error message is correct. cc @marshallmain

[2022-07-26 09:28] aarju commented on #135699
I think there should be an 'archived' section in the UI to show the un enrolled agents, but by default they should not be displayed in the UI. There will be a need to get the historic information about a host from time to time, for example if we are investigating the last month of activity from a laptop we would want to see every agent that was installed on that system over the last month. It woul

[2022-07-26 09:39] elasticmachine commented on #137152
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-26 09:42] elasticmachine commented on #137148
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-26 09:44] elasticmachine commented on #137149
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-26 09:45] MadameSheema opened #137156 "[Security Solution] Missing name of the value list used in exception"
**Describe the bug:**
- Missing name of value list used in exception

**Kibana/Elasticsearch Stack version:**
- main (a296e4cc970033c1a466b60b46b16136d9a35699)
- 8.4.0

**Initial setup:**
- To have at least one value list on the instance
- To have at least one detection rule created

**Steps to reproduce:**
1. Add a an exception to the created rule
2. Select a field
3. Select as operator is `in li

[2022-07-26 09:45] elasticmachine commented on #137156
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-26 09:45] elasticmachine commented on #137156
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 09:46] klacabane commented on #120414
I'm not sure we should completely discard self-monitoring when deprecation is still not on the horizon. For cloud the option is already disabled, for on-prem it is the fastest way to get data and a functioning UI for a quick evaluation of the product.
What about keeping the option in a documentation page ? We can have the same "No monitoring" page with Agent setup primary cta and instead of the se

[2022-07-26 09:50] banderror commented on #131352
This has been addressed in https://github.com/elastic/kibana/pull/126063

[2022-07-26 09:50] #131352 closed

[2022-07-26 09:53] harshitgupta-qasource opened #137158 "[Security Solution] Auto Refresh button text should not be truncated and Tool tip should be displayed if truncated."
**Describe the bug**
Auto Refresh button text should not be truncated and Tool tip should be displayed if truncated.

**Build Details**

[code]
**Preconditions**
- Kibana should be deployed
- Endpoint should be deployed

**Steps**
- Navigate to Endpoint tab.
- Observe that Auto refresh button text is truncated and tool tip is not displayed

**Actual Result**
- Auto refresh button text is truncated

[2022-07-26 09:53] elasticmachine commented on #137158
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-26 09:53] harshitgupta-qasource commented on #137158
@manishgupta-qasource Please review

[2022-07-26 09:57] manishgupta-qasource commented on #137158
Reviewed & assigned to @kevinlog

[2022-07-26 09:58] manishgupta-qasource commented on #137154
Reviewed & assigned to @kevinlog

[2022-07-26 10:03] joshdover commented on #137135
@pjbertels I think this might be a duplicate of https://github.com/elastic/fleet-server/issues/1640?

[2022-07-26 10:03] #137135 closed

[2022-07-26 10:15] emma-raffenne opened #137160 "Alert view in Cases shows Technical Preview icon"
# Environment

- Kibana main branch (8.4.0)
- Elasticsearch main branch (8.4.0)
- Local github clone and run

# Description

A _Technical Preview_ icon is shown for the alert tab in the case view.

# Steps to reproduce

1. Go to Observability -> Alert page
2. Create a new case for an active alert
3. View the newly created case

<img width="1698" alt="20220726-alerts-in-case" src="https://user-imag

[2022-07-26 10:15] elasticmachine commented on #137160
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-26 10:16] emma-raffenne commented on #137160
cc @vinaychandrasekhar - Please confirm this _Technical Preview_ should be removed.

[2022-07-26 10:35] weltenwort commented on #137049
I don't see how this would directly affect bundle size. If it was written to be imported lazily its impact on the critical path could be reduced. Aside from that, the advantages of sharing are mainly increased discoverability and consistency IMO.

[2022-07-26 10:38] amolnater-qasource commented on #136079
Hi @kpollich
We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
- UI doesn't get distorted with long fleet server host url under Add fleet server flyout.

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screenshot:**
![13](https://user-images.githubusercontent.com/77374876/180982457-dcbce4ec-00d2-4e54-b09b-0b4dfd09209c.JPG)

Hence

[2022-07-26 10:38] amolnater-qasource commented on #135975
Hi @juliaElastic

We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
- User is no longer able to add tags to hosted fleet server.

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/180985977-0d478f05-c8a3-47e9-990f-6d0ec9db908a.mp4

Hence marking this as **QA:Val

[2022-07-26 10:45] lucabelluccini commented on #132267
The problem can also occur when manually executing a Watch via Dev Tools and a timeout occurs (because the report takes more time than the Kibana timeout):
[code]

[2022-07-26 10:49] karanbirsingh-qasource commented on #112086
Hi @MadameSheema

we have encountered the similar issue of element overriding with text for the Events Tab , `Show only Alert` Checkbox on explore page .

**Build Details:**
`Branch : Main`

**Snap-shoot:**
![image](https://user-images.githubusercontent.com/59917825/180988812-ee5ccbfc-d9f6-4e52-871e-93e5282af222.png)

thanks!!

[2022-07-26 10:51] samratbhadra-qasource opened #137163 "[Security Solution][Enhancement]: Group by top field can be removed for Trend view."
Describe the bug
Group by top field can be removed for Trend view as it is not available for Trend view.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Alerts tab.
2. Under alert canvas click on view selector toggle.
3. Now, select Trend view from the view selector dropdown.
4. Observe that Group by top field is available for Trend

[2022-07-26 10:51] elasticmachine commented on #137163
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 10:55] elasticmachine commented on #137163
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-26 10:57] MadameSheema commented on #112086
@karanbirsingh-qasource please, report a different issue for that behaviour, thanks :)

[2022-07-26 10:58] xcrzx opened #137164 "[ResponseOps] Add revision field support to Alerting framework rules"
**Parent ticket: https://github.com/elastic/kibana/issues/136213**

## Summary

Implement a new rule attribute `revision` of type `long`:

- All newly created rules should have revision set to 0
- On rule save, if rule params have been modified, increase the revision number by 1
- Revisions should not be modifiable by users, i.e., they are increased automatically and ignored when passed as argumen

[2022-07-26 10:58] elasticmachine commented on #137164
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-26 10:58] elasticmachine commented on #137164
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 11:02] miltonhultgren opened #137166 "[Infra Monitoring UI] Empty toast is shown when failing to create a Metrics view"
If the request to create the Metrics view fails, the toast we display is empty.

<img width="1196" alt="178971111-a94b7a1f-9778-4dba-910d-503cdf954f01" src="https://user-images.githubusercontent.com/2564140/180991059-9aa3ddc7-734d-4989-901d-fe346beb04fc.png">

This can happen for example if the user doesn't have the privileges to create a Saved Object.

* Perhaps we should not even show the option

[2022-07-26 11:03] elasticmachine commented on #137166
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-26 11:07] miltonhultgren opened #137167 "[Infra Monitoring UI] Metrics UI requires too wide privileges for Saved Objects / Metrics views"
The Metrics feature seems to require privileges that are too wide in order to create Metrics views.
Metrics views require access to creating Saved Objects but the [current setup](https://github.com/elastic/kibana/blob/bb9fc4b06bdbc27d4fd06dce836379b86c33e644/x-pack/plugins/infra/server/features.ts#L19-L135) requires access to all of Stack Management which is too wide for an Observability only role

[2022-07-26 11:07] elasticmachine commented on #137167
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-26 11:08] vinaychandrasekhar commented on #137160
@emma-raffenne yes please remove. IIRC this uses the same widgets as elsewhere in the alerting system (i.e., same shareable components.) Correct?

[2022-07-26 11:13] amolnater-qasource commented on #137150
Hi @juliaElastic

Thank you for looking into this.
This issue is only reproducible when `Everything on all pages` is selected.

**Screen Recording:**
Working fine without selecting `Everything on all pages`.

https://user-images.githubusercontent.com/77374876/180990912-63552021-e110-44e0-9800-55eb1bf83162.mp4

Please let us know if anything else is required from our end.
Thanks

[2022-07-26 11:13] kfirpeled commented on #134417
Once this is done please close https://github.com/elastic/security-team/issues/3666 as won't do

[2022-07-26 11:14] #136426 closed

[2022-07-26 11:16] xcrzx opened #137168 "[Security Solution] Remove logic that bumps rule version on every change"
**Parent ticket: https://github.com/elastic/kibana/issues/136213**

## Summary

After https://github.com/elastic/kibana/issues/137164 is implemented, we don't need to bump rule `version` in Security Solution anymore. So we need to remove it, as it will conflict with the rule upgrade logic for prebuilt rules.

Consider also migrating the `version` field of current rules over to `revision`.

## Todo

[2022-07-26 11:16] elasticmachine commented on #137168
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-26 11:16] elasticmachine commented on #137168
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 11:17] deepikakeshav-qasource opened #137169 "[Security Solution] `is in list and is not in list` is displaying when creating the exception for New Term Rule"
**Describe the bug**
`is in list and is not in list` is displaying when creating the exception for New Term Rule

**Build info**

[code]

**Preconditions**
1. Kibana should be running
2. New Term rule should be created

**Steps to Reproduce**
1. Navigate to security > Alerts page
2. Click on more action new Term alert
3. Click on rule exception
4. Select any field say host.name
5. Observe that is

[2022-07-26 11:17] elasticmachine commented on #137169
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 11:18] kevinlog commented on #137154
@muskangulati-qasource this one is expected right now because we can only control access in the Security app today.  Fleet permissions control Fleet access and we shouldn't block Fleet users from performing any tasks of the Fleet permissions are set correctly.

[2022-07-26 11:22] banderror commented on #136006
Since it looks like it might be easy to fix this one (https://github.com/elastic/kibana/issues/137029#issuecomment-1193792894), I moved this ticket to Todo on our board.

[2022-07-26 11:31] elasticmachine commented on #137169
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-26 11:49] ghudgins commented on #19672
another case to consider in this issue

[2022-07-26 11:54] fkanout opened #137173 "[ResponseOps] [Actionable Observability] [BUG] - Fix responsivity Alert Summary chart in the Rule details page"
## Summary
When shrinking the page width, the chart goes out of its parent component.

![image](https://user-images.githubusercontent.com/6838659/180998686-dee5278f-98c3-4c3d-9108-5330e1c4b917.png)

## AC
- Fix the chart responsivity

[2022-07-26 11:54] elasticmachine commented on #137173
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-26 11:54] elasticmachine commented on #137173
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-26 11:57] kibanamachine opened #137174 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_index_pattern_management·ts - machine learning - data visualizer data view management "before each" hook for "sets custom label for existing field""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18882#01823a2d-3756-4b42-ac87-c6a3fc027686)

[2022-07-26 11:57] elasticmachine commented on #137174
Pinging @elastic/ml-ui (:ml)

[2022-07-26 12:00] lucabelluccini commented on #127748
Creating a field alias or a runtime field is not applicable in the context of Elasticsearch Query Alerts in Kibana Alerting as we only have access to `_source` and it is not possible to inject `fields` parameter to retrieve the field aliases or runtime fields.

Sample data:
[code]

If in the ES Query alert we try to inject the `fields`, e.g.
[code]

And as email body:
[code]

It gets ignored.
Emai

[2022-07-26 12:11] suchcodemuchwow commented on #137174
/skip

[2022-07-26 12:12] kibanamachine commented on #137174
Skipped

main: 56a870948e363a9b1cd59498488e14c60c3b31ed

[2022-07-26 12:19] juliaElastic commented on #137150
@amolnater-qasource thanks, I could reproduce it, and merged the fix now.

[2022-07-26 12:23] darnautov opened #137177 "[ML] Fix table layout in the Management page"
After the Management page [refactor](https://github.com/elastic/kibana/pull/134893), some columns appear misaligned or cut off the content.

- Model / Job IDs should be wrapped (otherwise long IDs are cut off)
- Description column should be wider for better readability
- Tags should be rendered as badges
- The state column should be smaller, and content should be rendered as badges
- Spaces column

[2022-07-26 12:23] elasticmachine commented on #137177
Pinging @elastic/ml-ui (:ml)

[2022-07-26 12:23] emma-raffenne commented on #137160
@vinaychandrasekhar I was wondering the same. I don't think we (AO) replaced it, we'll double-check.

[2022-07-26 12:30] nchaulet opened #137179 "[Fleet] Allow to provide custom CA for custom package registry"
## Description

Currently if you need to use a custom package registry with a custom ssl certificate you may have to run Kibana with an environment variable `NODE_EXTRA_CA_CERTS="/etc/kibana/root_ca_chain.pem"` to provide a custom CA.

This does not work in ECE it will be a good improvement to allow user to configure this through a config variable.

[2022-07-26 12:30] elasticmachine commented on #137179
Pinging @elastic/fleet (Team:Fleet)

[2022-07-26 12:35] Rick25-dev opened #137180 "[ML] Machine learning jobs can't be cloned"
**Kibana version: 8.3.1**

**Elasticsearch version: 8.3.1**

**Browser version:  Chrome Version 103.0.5060.134**

**Browser OS version: windows 10 build 19044.1826**

**Original install method (e.g. download page, yum, from source, etc.): Cloud**

**Describe the bug: Machine learning jobs can't be cloned. When clone job is clicked, the error message: Page Not Found
The Machine Learning application

[2022-07-26 12:42] #134595 closed

[2022-07-26 12:47] sqren commented on #136640
For clarity, these are the conditional tabs:
 - Dependencies (Server agents only)
 - JVM tab (java agents only)
 - Metrics (server side agents, except java)
 - Infrastruture (feature flag)
 - Logs (Server agents only)
 - Profiling (Feature flag)
 - Alerts (Permissions)

[2022-07-26 12:56] karanbirsingh-qasource opened #137182 "[Security Solution]Show only external alerts override with page text on page scroll"
**Describe the bug**
Show only external alerts override with page text on page scroll

**Build Details:**
[code]

**Steps**
- Login to Kibana
- Go to Host page > Events tab
- Scroll the page and  observer the checkbox for Show only external alerts and seen that its been override  with the  page

**Screen-Shoot**

![image](https://user-images.githubusercontent.com/59917825/181010693-dcda5053-eacf-4

[2022-07-26 12:57] nchaulet commented on #135414
I think it's the expected behavior when clicking select all we do not validate version (and the agent with the same version will just not be upgraded when clicking on upgrade), this allow us to support upgrading a large number of agents in the UI.

[2022-07-26 12:57] #135414 closed

[2022-07-26 12:58] sqren commented on #136640
I think we should:
 - Rename "JVMs" to "Metrics" and always show it. Disabled for RUM and Mobile
 - Show all tabs as disabled instead of hiding them, except for the feature flags. They should still be hidden.

[2022-07-26 12:58] nchaulet commented on #133740
Hi @amolnater-qasource yes you should not get anything in custom mapping it's up to the user to add custom mappings after adding a custom pipeline..

[2022-07-26 13:19] fkanout commented on #134218
Fixed by https://github.com/elastic/kibana/pull/136778

[2022-07-26 13:20] fkanout commented on #135983
Fixed in https://github.com/elastic/kibana/pull/135805

[2022-07-26 13:21] fkanout commented on #135983
fixed in https://github.com/elastic/kibana/pull/135805

[2022-07-26 13:23] #129878 closed

[2022-07-26 13:27] #137173 closed

[2022-07-26 13:33] #137052 closed

[2022-07-26 13:42] stratoula commented on #129261
By removing the background color from the Color flyout we are also going to fix this bug:
<img width="453" alt="Screenshot 2022-07-26 at 4 40 00 PM" src="https://user-images.githubusercontent.com/17003240/181020586-7cda8419-c409-4a5f-a957-e59c57ce8dc2.png">

[2022-07-26 13:44] emma-raffenne commented on #136229
Example of implementation by APM: https://github.com/elastic/kibana/pull/137039

[2022-07-26 13:45] dominiqueclarke opened #137185 "[Synthetics] e2e tests are timing out after two hours"
Synthetics e2e tests for the Uptime project are timing out after two hours.

All tests appear to run successfully, but the process hangs for an unknown reason.

The suite has been skipped, we should investigate and ensure that these tests can be run stably and re-enable as soon as possible.

[2022-07-26 13:45] elasticmachine commented on #137185
Pinging @elastic/uptime (Team:uptime)

[2022-07-26 14:06] tiagofgoncalves commented on #65706
Grafana has already this feature implemented, it calls **Mute timings**. This would be a definitely a very usefull improvement.

[2022-07-26 14:11] suchcodemuchwow opened #137191 "Performance Event Schema"
### Summary

In order to simplify the consumption of performance telemetry, we’d like to standardize the shape of events. This requires considering the following aspects:

* Performance - amount and size of events being sent
* Discoverability - how easy it is to find different events, dimensions and metrics
* Queriability - we would like to have the ability to write complex queries on top of telem

[2022-07-26 14:29] emma-raffenne commented on #136229
@emma-raffenne and @vinaychandrasekhar to investigate if it can be obtained OOTB from Fullstory

[2022-07-26 14:34] qn895 commented on #132938
Closing this issue via https://github.com/elastic/kibana/pull/132975

[2022-07-26 14:34] #132938 closed

[2022-07-26 14:34] criamico commented on #133309
Thanks @nchaulet. I have a couple of questions about it:
- Are those scripts executed at every kibana restart? I'm trying to see when they are executed but cannot find them in the logs.
- Do you suggest to create an internal API to provide the content of the file? I don't know if reading directly the file from the UI is possible or even advised.

[2022-07-26 14:39] criamico commented on #136014
I think that this makes sense and actually improves the whole flow. I noticed the inconsistencies in the standalone mode when I was working on it but I didn't have enough context to make this type of change.

[2022-07-26 14:41] matschaffer opened #137195 "[Stack Monitoring] Validate integrations on standalone agent"
As part of the validation for our stack monitoring integrations, we should make sure to validate that they can be used with standalone agent as well.

This was called out by @robbavey since we might not be including fleet in logstash installations as a standard practice.

[2022-07-26 14:43] nchaulet commented on #133309
No they are executed when building Kibana, or manually for local dev

Yes I think we probably need a new API to provide versions

[2022-07-26 14:55] emma-raffenne opened #137196 "Alerts Summary Stats - Design v2"
# Description

A [new design](https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=1076%3A501793) is available for the summary stats, that will be used in the following views:

- [ ] Rule detail page
- [ ] APM overview
- [ ] Observability overview (to be confirmed by @katrin-freihofner )

[2022-07-26 14:55] elasticmachine commented on #137196
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-26 14:58] #137041 closed

[2022-07-26 14:59] bhavyarm opened #137197 "Remove the usage of allowByValueEmbeddables in Kibana code base"
**Kibana version:** 8.4.0

**Describe the bug:** Usage of allowByValueEmbeddables should be removed from Kibana code base. No customers seem to be using it (?) and there are no tests which cover if the value is turned off.  Its a kibana.yml setting. Not in advanced settings

[2022-07-26 14:59] elasticmachine commented on #137197
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-26 15:00] emma-raffenne commented on #133578
Design mentioned above is superseded by the following one: https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=1076%3A501793

[2022-07-26 15:10] yuliacech opened #137198 "[Guided onboarding] Observability tour: steps are "bumping" while the page is loading"
When the user clicks on the side navigation items to follow the tour, the tour steps are "bumping" while the data is loading.

### Screencast

https://user-images.githubusercontent.com/6585477/181041899-c9944677-de63-4d56-a9ea-5efbd2fa7814.mov

[2022-07-26 15:17] ThomThomson opened #137200 "[Portable Dashboards] Remove Legacy Clientside Migrations"
**Overview**
It seems like it's finally come time to remove the client side legacy migrations that Dashboard runs through every time a dashboard is loaded.

These migrations were introduced before the saved object migrations, and have stuck around to ensure that really old dashboard state that a user has bookmarked in their browser still works when it's opened, even if Kibana has been upgraded mul

[2022-07-26 15:17] elasticmachine commented on #137200
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-26 15:26] #137028 closed

[2022-07-26 15:26] #137029 closed

[2022-07-26 15:30] bzarbalthazar commented on #124027
Any movement on this? This still exists in 7.17.3. After testing in the Grok Parser in Dev Tools my grok pattern works, but in the ingest pipeline it breaks with this error.

[2022-07-26 15:33] cnasikas commented on #137160
Hey! We are going to provide a flag so you can pass it in when rendering cases so you can disable the experimental badge on the alerts table. I will open a PR soon.

[2022-07-26 15:35] emma-raffenne opened #137205 "[APM] Add the alert summary stats in the APM overview page"
# 📝 Summary

We want to include the alerts summary stats widget in the overview page of APM, following the design described in this [figma file](https://www.figma.com/file/EE8RQphgSXcUqpvpPCybFu/Alerts-in-context---Rules-detail-page?node-id=1076%3A501793).

[2022-07-26 15:35] elasticmachine commented on #137205
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-26 15:38] nchaulet commented on #137119
Yes I can imagine it's a pretty hard problem, maybe it's a dumb question but did we investigated to have something like custom reporting based on the Team label maybe?

[2022-07-26 15:40] cauemarcondes commented on #124369
@dannycroft we had a similar discussion about this a couple of weeks ago but I couldn't find the issue. This happens because of the margin needed by the collapsible element. If this margin is not set, items will start overlapping the collapsible element when a long trace is opened.

Tagging @boriskirov because I think we'll need to discuss the design of it.

[2022-07-26 15:40] emma-raffenne commented on #137205
@dannycroft
As a continuation of the work started in 8.4.0 to show alerts information in APM views, there is a requirement to show the alert summary widget in the APM overview page. A [shareable component has been implemented in 8.4.0](https://github.com/elastic/kibana/issues/133418), and the widget has been added to the rule detail page.
There is a new design that we will [implement for 8.5.0](ht

[2022-07-26 15:46] #125236 closed

[2022-07-26 15:47] jethr0null commented on #92347
Thanks for your inquiry! We have prioritized working on this feature and are actively researching possible implementations.

[2022-07-26 15:55] Heenawter opened #137206 "[Dashboard Usability] Edit for panel-level filters"
**Describe the feature:**

Expanding on https://github.com/elastic/kibana/pull/136655, we should allow users to edit their panel-level filters from this new modal since it is currently read-only. This should probably only be accessible if the user is in edit mode - if the user is in view mode, they should still see the read-only filter pills in this modal.

**Describe a specific use case for the f

[2022-07-26 15:55] elasticmachine commented on #137206
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-26 15:56] cnasikas commented on #137160
Thanks, @maryam-saeidi! I will do it in the same PR 🙂. I will ping you to review.

[2022-07-26 15:58] gsoldevila commented on #135529
I think I found the culprit:

The search bar expands using an animation that is performed by CSS with the `:focus` meta selector:

https://github.com/elastic/kibana/blob/main/x-pack/plugins/global_search_bar/public/components/search_bar.scss#L35,L48

When losing focus, the CSS animation happens before the "clear" icon can receive the click.

[2022-07-26 15:58] maryam-saeidi commented on #137160
Aaah, perfect!

[2022-07-26 16:02] #100770 closed

[2022-07-26 16:03] awahab07 commented on #108445
Marking it as done as the rewrite of e2e tests are now part of code migration PRs listed in https://github.com/elastic/uptime/issues/454.

The new e2e tests via Synthetics are [here](https://github.com/awahab07/kibana/tree/main/x-pack/plugins/ux/e2e).

[2022-07-26 16:05] #108445 closed

[2022-07-26 16:06] suchcodemuchwow opened #137210 "7.17 forward compatibility test failures"
Following test has been failed on CI as part of the forward compatibility tests. We are not skipping this for a while but it's quite important to resolve the issue 😇

[code]

[2022-07-26 16:10] elasticmachine commented on #137182
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-26 16:13] #135906 closed

[2022-07-26 16:17] #136920 closed

[2022-07-26 16:21] gsoldevila commented on #135529
I have attempted a few CSS-only solutions to the problem, unsuccessfully.

I think the easiest way, although it is less fancy, would be to simply have a larger bar (600px) in `"l"` and `"xl"` sized layouts, and get rid of the animation altogether, WDYT?

IMHO effective UI that works > fancy UI with bug, but that's just an opinion.

[2022-07-26 16:23] elasticmachine commented on #137210
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-07-26 16:29] semd commented on #137146
sorry it closed automatically

[2022-07-26 16:36] cnasikas commented on #137160
@maryam-saeidi Done! https://github.com/elastic/kibana/pull/137215

[2022-07-26 16:55] kibanamachine commented on #136990
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18910#01823b4a-f825-438c-a6e3-3b824716eef4)

[2022-07-26 16:59] sethmlarson commented on #136581
Figured out what was going on, we regressed on the elasticsearch-js default User-Agent in 8.x. [Opened an issue to fix that](https://github.com/elastic/elasticsearch-js/issues/1737) but shouldn't block this work in any way.

[2022-07-26 17:14] stephmilovic opened #137218 "Cases Webhook Connector Follow Ups"
Follow up items from https://github.com/elastic/kibana/pull/131762

Needs unit tests
- `x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/create_connector_flyout/header.tsx`
- `x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_menu.tsx`

Remove real urls
- x-pack/plugins/actions/server/builtin_action_types/cases_webh

[2022-07-26 17:19] elasticmachine commented on #137218
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-26 17:39] paulb-elastic commented on #136358
@andrewvc is this a dupe of https://github.com/elastic/uptime/issues/464?

[2022-07-26 17:49] #131577 closed

[2022-07-26 17:54] BenB196 opened #137221 "Data View Field Format Duration Centisecond Support"
**Describe the feature:**

The Kibana data views allow for setting a format of a field, one of these formats is `duration`. Currently there is a list of pre-defined options, but an option that is missing is a centi-second (1/100th of a second). It would be nice to have this as an option.

**Describe a specific use case for the feature:**

SNMP sysuptime reports uptime in centi-seconds (https://oid

[2022-07-26 17:59] cchaos commented on #135529
The `EuiFieldSearch` component (which is the underlying input that's rendered by this template component) doesn't actually perform the `onBlur`. What is happening, is that `onBlur` is naturally occurring when the user transfers focus from the input to the clear button (which is a `<button>` that is outside of the `<input>`). I'm don't think there's a way around this. In fact, if you just tab from

[2022-07-26 17:59] cjcenizal opened #137222 "Add tests for Console's text input"
## Summary

Console supports different methods of interpreting and loading text input into the request pane. I haven't audited the codebase to see if any of this is tested, so we should do that first to assess what kind of gaps we have in coverage. Let's add functional tests to document and verify this behavior in Console:

- [ ] `load_from` parameter
- [ ] Copy/pasting cURL

## `load_from` parame

[2022-07-26 17:59] elasticmachine commented on #137222
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-26 18:15] cauemarcondes commented on #127336
Closing it since I couldn't reproduce it anymore.

[2022-07-26 18:15] #127336 closed

[2022-07-26 18:15] kpollich commented on #123150
It'd be great to integrate Fleet's OpenAPI docs with a first party Elastic docs site, preferably https://docs.elastic.co/. OpenAPI support isn't quite ready yet, but is planned and tracked here https://github.com/elastic/docs.elastic.co/issues/37.

We should be doing everything we can do clean up and improve our existing OpenAPI files to make sure they're ready for integration with a first-party d

[2022-07-26 18:47] #65274 closed

[2022-07-26 18:47] nreese commented on #136662
closed by https://github.com/elastic/kibana/pull/137008

[2022-07-26 18:47] #136662 closed

[2022-07-26 18:51] serenachou commented on #118897
@akshay-saraswat based on our conversation today, where should this type of request move to?

[2022-07-26 19:18] #134242 closed

[2022-07-26 19:32] KnechtionsCoding commented on #89340
Also, having this be a user specific setting. Having to set it for an entire space is clunky and very odd compared to most other implementations.

[2022-07-26 19:32] TinaHeiligers commented on #134126
The dependency on MountWrapper util means we'll likely need an implementation package too.
In other words, we need both `@kbn/core-mount-utils-browser` and `@kbn/core-mount-utils-browser-internal` if we are to stick with our current migration conventions.

[2022-07-26 19:37] elasticmachine commented on #137180
Pinging @elastic/ml-ui (:ml)

[2022-07-26 19:38] elasticmachine commented on #137081
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-26 19:39] elasticmachine commented on #136847
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-26 19:40] #137169 closed

[2022-07-26 19:41] #136810 closed

[2022-07-26 19:46] bhavyarm commented on #136033
Thank you @1Copenut

[2022-07-26 19:49] EricDavisX commented on #88388
I have not seen it.   @mikecote
That may be because we don't try many different configurations (sizes).  ...In the baseline test we setup and which is run in the MLR QA Jenkins, we have a fairly modest stack setup and it isn't changing.  The Jenkins job is the only consume that the QA group uses of kbn-alert-load (we don't do much ad-hoc manual setup of tests).  I might guess it was still a proble

[2022-07-26 19:52] mikecote commented on #88388
@EricDavisX fair enough, thanks! I will close the issue for now.

[2022-07-26 19:52] #88388 closed

[2022-07-26 19:54] andrewctate commented on #79015
Addressed in the new metric visualization (https://github.com/elastic/kibana/pull/136567)! 🍾

[2022-07-26 19:54] #79015 closed

[2022-07-26 20:00] lukasolson commented on #132714
@ppisljar I spent some time investigating this some more. I don't think we need to complicate this layer:

`SearchBar` already has an `indexPatterns` property: https://github.com/elastic/kibana/blob/0dc6028d0eac9f52ae70d2115216825f7050d538/src/plugins/unified_search/public/search_bar/search_bar.tsx#L45

This property is already passed through the whole embeddable layer and is already async. It sho

[2022-07-26 20:23] #135846 closed

[2022-07-26 20:28] GexogenSG1 commented on #124027
Up

[2022-07-26 20:34] lcawl commented on #82587
FYI while generating specifications for a handful of Kibana APIs (e.g. [cases](https://github.com/elastic/kibana/tree/main/x-pack/plugins/cases/docs/openapi), [ML](https://github.com/elastic/kibana/tree/main/x-pack/plugins/ml/common/openapi)), it became clear that there need to be two specs for each Kibana API due to the optional space ID parameter in the path. Per https://swagger.io/docs/specific

[2022-07-26 20:47] kibanamachine opened #137238 "Failing test: Jest Tests.x-pack/plugins/triggers_actions_ui/public/application/sections/field_browser - FieldsBrowser updateSelectedCategoryIds should remove a selected category, which deletes the category badge"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18933#01823c1b-6c2d-4d4a-8326-cc94a071fef4)

[2022-07-26 20:48] elasticmachine commented on #137238
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-26 21:01] alexfrancoeur commented on #109294
Thanks for following up on this @afharo. I'd still love to provide a much better nav search experience, so appreciate you dropping in here with some priority questions.

I'd say the current behavior is suboptimal. As a platform, I'd love to be opinionated in what we surface under navigational search. We should provide the best search result, potentially prioritized by application. Here's an exampl

[2022-07-26 21:03] alexfrancoeur commented on #109294
If you'd really like to see where I'd like to end up, here's a quick screenshot:

![image](https://user-images.githubusercontent.com/25181823/181111487-0e30fd86-72a3-4935-9760-30355eb6df6c.png)

[2022-07-26 21:12] lcawl opened #137240 "[DOCS] Generate Kibana API docs from open API specifications"
Per https://github.com/elastic/kibana/issues/82587, it's a long-term plan to automatically generate open API specifications for Kibana.

In the nearer term, there are plans to publish API documentation from such specifications.  This is already being done for the [Cloud APIs](https://www.elastic.co/guide/en/cloud/current/ec-api-swagger.html), for example.

To get the docs automation rolling, we ca

[2022-07-26 21:12] elasticmachine commented on #137240
Pinging @elastic/kibana-docs (Team:Docs)

[2022-07-26 21:27] andrew-goldstein commented on #137163
@paulewing although the Trend's disabled `Group by top` dropdown in this issue matches the Figma mock in the screenshot below:

![figma](https://user-images.githubusercontent.com/4459398/181114490-68ecba24-64f2-4a8d-a49f-7cc075f9a217.png)

I recall some discussion during the review whether or not it might be unexpected by users, because there's never a case where it will be enabled.

How do you fe

[2022-07-26 21:36] klacabane commented on #135379
The comparison between the metricbeat mappings (eg `.monitoring-kibana-mb`) and the merged result of the integrations data streams is straightforward to implement. The difficulty is how to reach the point where we can confidently compare the merged version. Because each datastream is independent, the merged version won't catch issues where a property like `elasticsearch.cluster.id` is defined in o

[2022-07-26 21:40] #137185 closed

[2022-07-26 21:46] andrew-goldstein commented on #136386
Thanks @deepikakeshav-qasource!

The tooltip wrapping reported in this issue:

![image](https://user-images.githubusercontent.com/61860752/178963400-70e51295-9014-49f8-87a3-9f2692e56a95.png)

is the expected / default tooltip wrapping behavior of the [Elastic Charts](https://github.com/elastic/elastic-charts) library, which is used to render the Treemap.

An example of this default behavior, which

[2022-07-26 21:46] #136386 closed

[2022-07-26 22:22] 1Copenut commented on #136154
@legrego Thank you for the local config override. I was able to interact with the toast message and the user logged out message. I added a screenshot to the original ticket description for the logged out message update needed.

[2022-07-26 22:26] #133822 closed

[2022-07-26 22:44] jen-huang commented on #137179
@nchaulet Thanks for finding the issue! Do we know why this does not work on ECE?

[2022-07-26 22:53] nchaulet commented on #137179
It's not possible to run Kibana with custom environment variable in ECE

[2022-07-26 23:03] parkiino commented on #136376
https://github.com/elastic/kibana/pull/137243

[2022-07-26 23:32] #129966 closed

[2022-07-26 23:32] #136449 closed

[2022-07-26 23:48] cjcenizal commented on #124027
@bzarbalthazar Could you please share the pattern you're using that's not working?

@GexogenSG1 Could you also please share a pattern that's being rejected by the Ingest Pipelines UI?

[2022-07-26 23:50] akshay-saraswat commented on #132263
[Product brief](https://docs.google.com/document/d/1HP_UJQ8ntQijzagH4R-B8hSP3MDPwpVEHv0s54ysu8Q)

[2022-07-27 02:12] jen-huang commented on #133828
As everything except the testing task for https://github.com/elastic/elastic-agent/pull/686 is complete, I will close this issue. Thanks @criamico!

[2022-07-27 02:12] #133828 closed

[2022-07-27 02:13] jen-huang commented on #100413
This has been implemented in Kibana with https://github.com/elastic/kibana/issues/133828 and will land in 8.4.

[2022-07-27 02:13] #100413 closed

[2022-07-27 03:59] jen-huang commented on #132909
@criamico Could you review the above comments?

[2022-07-27 04:00] jen-huang commented on #114169
@juliaElastic Should we still target getting the above items done soon?

[2022-07-27 04:03] jen-huang commented on #135579
@criamico Is this still needed?

[2022-07-27 06:01] prachigupta-qasource commented on #135414
Hi @nchaulet,

Thank you for the confirmation. Moving ahead, we will take care of this.

[2022-07-27 06:09] #135391 closed

[2022-07-27 06:13] stratoula opened #137247 "[Unified search] Sort the dataviews on the picker alphabetically"
**Describe the feature:**
At the moment the list of dataviews on the dataview picker is unsorted. The dataview picker appears in Lens, Discover and agg-based visualizations.

<img width="276" alt="image" src="https://user-images.githubusercontent.com/17003240/181174291-33df766b-7b1d-4419-98c7-24e840ce504e.png">

There is a request for sorting the SOs alphabetically.

[2022-07-27 06:13] elasticmachine commented on #137247
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-27 06:14] stratoula commented on #137247
@ghudgins @cchaos any objections on this?

[2022-07-27 06:26] deepikakeshav-qasource commented on #129294
Hi @banderror ,

We have observed that this issue is occurring on `Main branch.`  We are unable to reset to none if rule contains any timeline template under bulk apply timeline template.

Please find the below testing details:

**Build Details**
[code]
**Screencast:**

https://user-images.githubusercontent.com/61860752/181175454-0ee8395e-6868-455b-af5a-44dbcf22bf47.mp4

Hence, We are re-opening t

[2022-07-27 06:50] stratoula opened #137248 "[Lens] Adding a formula metric on the new metric chart creates an error"
**Kibana version:**
main

**Describe the bug:**
This happens if you create a new metric viz but without dropping the field. Go to the dimension panel, click the primary metric but not select a quick function. Select formula instead. An error appears .
<img width="689" alt="image" src="https://user-images.githubusercontent.com/17003240/181180459-12aea1ae-0472-4725-b3f4-7f84ff22015e.png">

![lens_bu

[2022-07-27 06:50] elasticmachine commented on #137248
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-27 06:51] #134629 closed

[2022-07-27 07:02] kertal commented on #136933
@Toshken21 did you start it? thx!

[2022-07-27 07:09] matschaffer opened #137249 "Remote dev solution for elastic integrations"

[2022-07-27 07:10] matschaffer commented on #120414
I'm gonna put this down in favor of https://github.com/elastic/kibana/issues/137249

Not sure how folks are making decent headway with integrations. Maybe Japan's internet has really just gotten that bad, but it takes at least 30min for me to finish any elastic-package operation.

[2022-07-27 07:40] muskangulati-qasource opened #137250 "[Security Solution] The error message is not displayed for an incorrect PID"
**Description:**
The error message is not displayed for an incorrect PID. The PID is an integer but relatively long.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in

**Steps to Reproduce:**
1. Navigate to the Endpoints tab under the Manage section from the left-hand side navigation bar
2. Click on the hostname
3. Click on the 'Take Action

[2022-07-27 07:40] elasticmachine commented on #137250
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-27 07:40] elasticmachine commented on #137250
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-27 07:40] muskangulati-qasource commented on #137250
@manishgupta-qasource please review!

[2022-07-27 08:04] harshitgupta-qasource opened #137252 "[Security Solution] The help message for the command shows red even for correct command if it is overridden over a wrong command."
**Describe the bug**
The help message for the command shows red even for correct command if it is overridden over a wrong command.

**Build Details**

[code]
**Preconditions**
- Kibana should be deployed
- Endpoint should be deployed

**Steps**
- Navigate to Endpoint tab.
- Open responder console.
- Enter any wrong Response actions.
- After that choose any other Response actions by using (+) butto

[2022-07-27 08:04] elasticmachine commented on #137252
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-27 08:04] elasticmachine commented on #137252
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-07-27 08:05] harshitgupta-qasource commented on #137252
@manishgupta-qasource Please Review

[2022-07-27 08:23] banderror commented on #129294
Thank you @deepikakeshav-qasource. @vitaliidm you are in the context of bulk editing, could you please take a look at what we might break in `main`?

[2022-07-27 08:33] manishgupta-qasource commented on #137250
Reviewed & assigned to @kevinlog

[2022-07-27 08:33] manishgupta-qasource commented on #137252
Reviewed & assigned to @kevinlog

[2022-07-27 08:39] muskangulati-qasource commented on #137154
Hi @kevinlog,

Thank you for looking into our issue.

Since it is working as expected, we are closing this issue!

Thank you!

[2022-07-27 08:39] #137154 closed

[2022-07-27 08:53] andresrc commented on #132818
@joshdover @jsoriano I as we move forward with the testing we keep finding corner cases: the `ignore_above` parameter, the fact that some logs data streams seem to store `event.original` just in `_source`. There's also the possibility mentioned in different place that this might be a breaking change in some cases.

Given this, I would like to propose a gradual approach.

### Phase I

Add the toggl

[2022-07-27 09:07] sqren commented on #133116
We need to keep the option to turn off comparisons (it was requested by customers due to perf concerns).

That sounds good to me.

We can add support for expected bounds comparisons (on spark lines) on the service inventory page. That will mostly fix this problem afaict.

[2022-07-27 09:10] sqren commented on #133116
One more thing: we should change the comparisons dropdown to be [EUI Selectable](https://eui.elastic.co/#/forms/selectable) (or similar). This will help us add custom messaging when needed. For instance, if no ML jobs exist, we should still display the ML option but show a text below the option telling the user to add an ML job for the selected environment.

[2022-07-27 09:13] jsoriano commented on #132818
@andresrc thanks, the plan sounds good to me. The only change I would do is to make the phase II conditional to the results of phase I. If things go well I think that we could go directly to the first point of phase III, enabling synthetic source by default in all new policies, and avoid adding a setting that would have expiration date. Such a setting may be confusing for package developers.

[2022-07-27 09:14] crespocarlos opened #137254 "[Logging] Kibana generating non ECS formatted logs"
**Kibana version:** ^8.3.x

**Elasticsearch version:** ^8.3.x

**Describe the bug:**
While working on an integration package that will ingest Kibana ECS formatted logs, it was observed that some times a log line is outputted containing fields (`_tag` and `right`) that are not part of ECS standard

[code]

**Steps to reproduce:**
1. Enable Kibana logging
[code]
2. Start Elastisearch
3. Start Kibana

[2022-07-27 09:14] elasticmachine commented on #137254
Pinging @elastic/kibana-core (Team:Core)

[2022-07-27 09:15] karanbirsingh-qasource commented on #127746
Hi @vitaliidm

thanks for updating.

we have validated this issue on `mains` branch and found it fixed . export option is enabled and after ward message of only custom rule can be exported and not the elastic ones which are selected in bulk action.

**Build Details:**
`Mains branch`

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/181210098-2ec5911d-0714-4896-b31a-954d

[2022-07-27 09:15] #127746 closed

[2022-07-27 09:23] karanbirsingh-qasource commented on #135516
Hi @dhurley14

we have validated this issue on Main branch and found it fixed .

**Build Details:**
`Main Branch`

**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/181211428-e69218f7-e70e-4e57-936a-26cf4af64d69.png)

![image](https://user-images.githubusercontent.com/59917825/181211719-6ff59c35-c7e3-4ebe-aca3-654c61edfee1.png)

![image](https://user-images.githubusercon

[2022-07-27 09:23] #135516 closed

[2022-07-27 09:28] darnautov opened #137257 "[ML] Data visualizer responsive layout"
The Data visualizer page has some issues on laptop screens, especially with a scaled resolution.

#### How it looks with a 1376px screen width
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/5236598/181210956-5660bb26-13d7-4100-a8d4-7a74eddc421d.png">

- "Explore your data" section is cut off
- Search placeholder content is wrapping

#### iPad layout
<img width="819" a

[2022-07-27 09:28] elasticmachine commented on #137257
Pinging @elastic/ml-ui (:ml)

[2022-07-27 09:39] samratbhadra-qasource opened #137258 "[Security Solution]: Dashboard details page remained open when navigated to other pages of app and even on hard refresh."
Describe the bug
Previously navigated dashboard details page remained open when navigated to other pages of app and even on hard refresh.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.

**Steps to Reproduce**
1. Navigate to Dashboard tab under Analytics.
2. Navigate to any dashboard available.
3. Now, go back to home page and perform a hard refresh.
4. Now, again go to

[2022-07-27 09:40] elasticmachine commented on #137258
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-27 09:40] miltonhultgren commented on #135379
Since integrations are versioned independently, I suspect it's easier to iterate on them **if** we miss something, compared to releases of the Metricbeat module?

[2022-07-27 09:57] maryam-saeidi opened #137261 "[Console] Missing `is_write_index` autocomplete"
**Kibana version**:
v 8.1.0

**Elasticsearch version**:
[code]

**Browser version**:
Google Chrome (Version 103.0.5060.134 (Official Build) (arm64))

**Description of the problem including expected versus actual behavior**:
During Elasticsearch engineer course in `Lab 7.1: Data management concepts`, there was no autocomplete for `is_write_index` parameter.

**Example query:**
[code]

[2022-07-27 09:57] elasticmachine commented on #137261
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-27 09:58] darnautov commented on #137180
hi @Rick25-dev, could you please tell provide more details regarding the issue

1. Are you running Elasticsearch and Kibana in Cloud or on-prem?
2. What is the config of your Anomaly detection job / datafeed?
3. Does the cloning of this job work fine after some time? (when the job is closed)

[2022-07-27 09:59] ari-aviran opened #137262 "[Cloud Posture] Remove or deprecate `xpack.cloudSecurityPosture.enabled`"
**Motivation**
The cloud security posture plugin is now enabled by default and we don't want users to be able to disable it, so we need to remove the setting.

**Definition of Done**
- [ ] Remove (or deprecate if not possible) the `xpack.cloudSecurityPosture.enabled` setting (might need to contact the breaking changes committee as this is a Kibana setting that users might have in their config)
- [

[2022-07-27 09:59] elasticmachine commented on #137262
Pinging @elastic/kibana-cloud-security-posture (Team:Cloud Security Posture)

[2022-07-27 09:59] ari-aviran commented on #134417
Followup ticket: https://github.com/elastic/kibana/issues/137262

[2022-07-27 09:59] #134417 closed

[2022-07-27 10:04] samratbhadra-qasource opened #137263 "[Security Solution][Inconsistent]: Custom created rules failing while performing bulk actions on adding timeline template."
Describe the bug
Custom created rules failing while performing bulk actions on adding timeline template.

**Build Details:**
[code]
**Preconditions**

1. Kibana should be running.
2. Custom created rules should be available.

**Steps to Reproduce**
1. Navigate to Rules tab.
3. Navigate to Custom rules tab.
4. Bulk select the custom created rules.
5. Click on Bulk actions and select Apply Timeline

[2022-07-27 10:14] #127136 closed

[2022-07-27 10:15] ari-aviran commented on #137020
Done:
https://elastic.testrail.io/index.php?/cases/view/167378&group_by=cases:section_id&group_id=35467&group_order=asc&display_deleted_cases=0

https://elastic.testrail.io/index.php?/cases/view/167379&group_by=cases:section_id&group_id=35467&group_order=asc&display_deleted_cases=0

[2022-07-27 10:15] #137020 closed

[2022-07-27 10:20] semd opened #137265 "[Bug] Fix Overview link image in the Dashboards landing page"
**Describe the bug**

In the new streamlined navigation, there are landings pages for the "dashboards", "manage", and "explore" section. For the overview section, the image is not of the overview dashboard. Please update the image to represent the overview dashboard.

**Preconditions**
 `>= v8.3` (where streamlined navigation exists)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable str

[2022-07-27 10:20] elasticmachine commented on #137265
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-27 10:30] weltenwort opened #137267 "[Infra Monitoring UI] KQL auto-completion does not work"
**Kibana version:** `main` as of 57f7a48b8dd3047461fee36061701564a4030585

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:**

The auto-completion in the filter bar does not work since #129977 introduced an implicit dependency on the `unified-search` plugin without actually adding it to the dependencies and without injecting the required se

[2022-07-27 10:30] elasticmachine commented on #137267
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-27 10:34] klacabane commented on #120414
`( elastic-package stack up -v -d; )  7.80s user 1.48s system 6% cpu 2:33.14 total`

this is my worst case scenario (nothing cached)

[2022-07-27 10:57] amolnater-qasource commented on #135888
Hi @juliaElastic

We have revalidated this issue on latest 8.4 Snapshot and found it **fixed** now.
- Tags filter is consistent on changing pages and all available tags are displayed under the tags filter dropdown.

**Build details:**
BUILD: 54789
COMMIT: af3a3cba9a7fa3b3e0d2e4766a1db11a5ff4f192

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/181230924-68adfa11-d1b4-4769

[2022-07-27 11:09] ghost opened #137269 "[Fleet]: Different titles and upgrade buttons are shown for 'Schedule upgrade for x agents' pop-up on selecting one agent OR more than one agent"
**Kibana version:** 8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**

[code]

**Preconditions:**

- 8.4 Snapshot Kibana cloud environment should be available.
- Multiple agents should be installed.

**Steps to reproduce:**

1. Navigate to Fleet>Agents tab.
2. Select one agent
3. Click `Schedule upgrade for 1 agent` under Actions.
4. Observe the t

[2022-07-27 11:09] elasticmachine commented on #137269
Pinging @elastic/fleet (Team:Fleet)

[2022-07-27 11:10] prachigupta-qasource commented on #137269
Please review @manishgupta-qasource

[2022-07-27 11:14] #134424 closed

[2022-07-27 11:14] #134425 closed

[2022-07-27 11:15] kevinlog commented on #137252
@paul-tavares can you take a look?

[2022-07-27 11:23] manishgupta-qasource commented on #137269
Secondary review for this ticket is Done

[2022-07-27 11:26] sophiec20 opened #137270 "[DOCS] Inconsistency between UI and docs for rule actions notify policy"
**Kibana version:**
8.4.0-SNAPSHOT

**Describe the bug:**

The [docs](https://www.elastic.co/guide/en/kibana/master/create-and-manage-rules.html#defining-rules-general-details) say this:
<img width="552" alt="image" src="https://user-images.githubusercontent.com/4185750/181235435-36251195-3feb-437f-85a9-0e99c93bb55d.png">

The UI says this:
<img width="231" alt="image" src="https://user-images.git

[2022-07-27 11:26] elasticmachine commented on #137270
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-27 11:31] elasticmachine commented on #137258
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-07-27 11:34] miltonhultgren opened #137273 "Make drill downs easier to discover"
Today, if a drilldown is added to a Lens table then you have to hover over the main cell, click the little plus and then follow the pop up menu.

<img width="444" alt="Screenshot 2022-07-25 at 10 34 43" src="https://user-images.githubusercontent.com/2564140/180735296-391c3e82-cb96-4bf6-9d3c-ca8267a096d9.png">

For users who are more familiar with Dashboards that might feel natural but it is fairly

[2022-07-27 11:37] miltonhultgren opened #137274 "Make it possible to select which cell should include the drilldown"
Today, if a drilldown is added to a Lens table, it's added to one of the "row" columns but sometimes the "row" column is added (and hidden) just to decide which field to group on. We would like to be able to decide which column (from rows/colmns/metrics) should show the drilldown.

A real example:
We group a list of Kibana instances by their UUID, but we want to use the display name instead of the

[2022-07-27 11:49] Dosant commented on #137258
As far as I know, this is a prehistoric Kibana analytics feature where Discover/Dashboard/Visualize app remembered their last state and persisted it into the navigation

[2022-07-27 11:50] deepikakeshav-qasource opened #137275 "[Security Solution] Unable to create the new term rule with custom user"
**Describe the bug**
Unable to create the new term rule with custom user

**Build info**

[code]

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
![image](https://user-images.githubusercontent.com/61860752/181239163-63d1cbbe-7dcf-44dc-87d3-40487d2676d8.png)

![image](https://user-images.githubuse

[2022-07-27 11:50] elasticmachine commented on #137275
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-27 11:55] legrego opened #137276 "Create sharable User Profile Tooltip"
In order to support collaboration features, the platform should expose a tooltip that allows us to consistently render user profile information across our solutions:

<img width="272" alt="CleanShot 2022-07-27 at 07 54 22@2x" src="https://user-images.githubusercontent.com/3493255/181240591-ebf7cd05-96f1-4bd4-8e01-ab12f66b5cfb.png">

https://www.figma.com/proto/1Xw4izVJlj0WmhgmSUC2GX/Case-Assignmen

[2022-07-27 11:55] elasticmachine commented on #137276
Pinging @elastic/kibana-security (Team:Security)

[2022-07-27 11:56] joshdover opened #137278 "[Fleet] Support installing transforms without granting `kibana_system` index privileges"
In https://github.com/elastic/kibana/issues/111755 we started using the internal `kibana_system` user to install integration package assets into Elasticsearch in order to support automatic upgrades of packages without end user intervention. We then leveraged this capability to remove the requirement for end users to have the superuser role to install packages in https://github.com/elastic/kibana/i

[2022-07-27 11:59] miltonhultgren opened #137277 "Investigate if Stack Monitoring rules can be recreated with current Observability rules"
If we want to put Rules into Platform Observability packages  and display data about them in the future we will need to use Rules that integrate with Alerts-As-Data (since that is the only rules data which will be public).

The current Stack Monitoring rules do not do this, but before we refactor them (https://github.com/elastic/kibana/issues/127284), we should investigate if we can do the same th

[2022-07-27 11:59] elasticmachine commented on #137277
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-27 12:01] elasticmachine commented on #137278
Pinging @elastic/fleet (Team:Fleet)

[2022-07-27 12:02] kibanamachine opened #137279 "Failing test: Chrome X-Pack Security Functional Tests (SAML).x-pack/test/security_functional/tests/saml/url_capture·ts - security app - SAML interactions URL capture "before all" hook for "can login preserving original URL""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18951#01823f4e-f02b-480f-a0e6-428385debfbd)

[2022-07-27 12:02] elasticmachine commented on #137279
Pinging @elastic/kibana-security (Team:Security)

[2022-07-27 12:03] miltonhultgren commented on #137277
One obvious blocker is the selection of the right data stream to pull the data from. Today our rules select the data stream by way of Metrics UI source configuration but we likely want to change that similar to what's outlined in https://github.com/elastic/kibana/issues/120928 (for logs). This has been raised via SDH as well.

[2022-07-27 12:06] karanverma-qasource opened #137281 "[Security Solution] System dashboards are not showing under security dashboards with Security Solution tag."
**Describe the bug:**
System dashboards are not showing under security dashboards with Security Solution tag.

Build Details:

[code]

**Preconditions:**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Stack management --> Kibana --> Tags.
2. Select the `Security Solution` Tag.
3. Click on Manage Tag assignments.
4. Assign syste

[2022-07-27 12:06] elasticmachine commented on #137281
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-27 12:06] miltonhultgren commented on #127284
If we want to use the Stack Monitoring rule executors for Platform Observability packages and dashboards we'll need to migrate them the Alerts-As-Data scheme. Before we do that we should investigate if we can recreate those rules with the current Observability rules https://github.com/elastic/kibana/issues/137277.

We also raised the question of who should do this work and own those rules long ter

[2022-07-27 12:22] elasticmachine commented on #137254
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-27 12:26] crespocarlos commented on #137254
adding @elastic/infra-monitoring-ui for visibility

[2022-07-27 12:27] klacabane commented on #137195
I'm wondering if there are fundamental differences between the two operation mode. I'd expect the policy fed to the agents to be the same except that fleet-managed policies may have an additional section that allows an agent to communicate with the fleet server and pull changes automatically, while the standalone agent can only be updated by updating the policy on disk. This will be a good issue t

[2022-07-27 12:35] ebuildy commented on #47336
Any news about it? A small "Advanced" options could do the trick. Is "controls" visualization deprecated in favor of Lens? If not, I could work on it a few days.

[2022-07-27 12:37] banderror commented on #135199
@vitaliidm This looks great! I added quite a lot of comments, most of them minor. There are a few comments on structuring scenarios and a few concerns about bulk editing index patterns for rules with a data view.

[2022-07-27 12:38] elasticmachine commented on #137281
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-27 12:41] pgayvallet commented on #137254
Seems like a duplicate of https://github.com/elastic/beats/issues/31576?

[2022-07-27 12:43] elasticmachine commented on #137275
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-07-27 12:59] #134825 closed

[2022-07-27 13:21] klacabane commented on #135382
Work to bring integrations package to a GA state is approaching and the naming of the dataset is one of the decision that has impact on other main tasks, I'd love to get consensus of the naming before we dive into these. The last discussion pointed at `metrics-{product}.stack_monitoring.{metricset}-{namespace}` to clarify the usage of these datastreams, but maybe that's not explicit enough ?
@elas

[2022-07-27 13:30] maryam-saeidi opened #137285 "[Console] Missing autocompletes"
**Kibana version**:
v 8.1.0

**Elasticsearch version**:
[code]

**Browser version**:
Google Chrome (Version 103.0.5060.134 (Official Build) (arm64))

**Description of the problem including expected versus actual behavior**:
During Elasticsearch engineer course, I noticed following missing autocompletes, not sure there is already a plan for them or not.

1. **date_histogram aggs > interval_calendar

[2022-07-27 13:30] semd commented on #137281
Hi @karanverma-qasource,

When I assign the `Security Solution` tag to system dashboards they are listed in the Security Dashboard landing correctly:

![system_dashboard_listed](https://user-images.githubusercontent.com/17747913/181258130-bdc9ffcc-6bd0-4361-89db-4a41e318061e.png)

I think you probably assigned some _visualizations_ instead of _dashboards_.

![tag_management](https://user-images.gi

[2022-07-27 13:30] elasticmachine commented on #137285
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-27 13:51] #135579 closed

[2022-07-27 13:52] suchcodemuchwow opened #137286 "Functional Test Failure"
Following test has been failed on CI as part of the functional tests. We are not skipping this for a while but it's quite important to resolve the issue 😇
[code]

Failure: [main](https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/1484#01823b0b-7971-4b6d-8255-a51000e5c11f)

[2022-07-27 13:53] suchcodemuchwow commented on #136990
/skip

[2022-07-27 13:54] paul-tavares commented on #137252
Will do. I was able to recreate it, so that's good

[2022-07-27 13:56] flash1293 commented on #102115
Copied from https://github.com/elastic/kibana/issues/137274

Today, if a drilldown is added to a Lens table, it's added to one of the "row" columns but sometimes the "row" column is added (and hidden) just to decide which field to group on. We would like to be able to decide which column (from rows/colmns/metrics) should show the drilldown.

A real example:
We group a list of Kibana instances by t

[2022-07-27 13:56] flash1293 commented on #102115
Copied from https://github.com/elastic/kibana/issues/137273

Today, if a drilldown is added to a Lens table then you have to hover over the main cell, click the little plus and then follow the pop up menu.

<img width="444" alt="Screenshot 2022-07-25 at 10 34 43" src="https://user-images.githubusercontent.com/2564140/180735296-391c3e82-cb96-4bf6-9d3c-ca8267a096d9.png">

For users who are more fami

[2022-07-27 13:56] flash1293 commented on #137273
Rolled up into https://github.com/elastic/kibana/issues/102115

[2022-07-27 13:56] #137273 closed

[2022-07-27 13:56] flash1293 commented on #137274
Rolled up into https://github.com/elastic/kibana/issues/102115

[2022-07-27 13:56] #137274 closed

[2022-07-27 13:57] pgayvallet commented on #136990
CC @elastic/uptime given that's another test flakiness which cause is effectively unrelated to the test and coming from the `synthetics` plugin.

[code]

[2022-07-27 14:08] gsoldevila commented on #31683
FWIW I think recent browser versions don't request the `favicon.ico` anymore (tested with Firefox 102 and Chrome 103 in local and cloud).

What about "simply" adding the missing `favicon.ico` file? This way we don't need to change anything security-wise because the file will actually exist and it will be simply served.

[2022-07-27 14:26] kpollich opened #137290 "[Fleet] Don't allow setting a Logstash output for a policy that contains the Fleet Server integration"
Fleet Server always writes directly to Elasticsearch, and doesn't honor a configured Logstash output. We should prevent users from selecting Logstash outputs when changing output settings on Fleet Server policies, similar to what we do for APM in these cases.

Relevant discuss post: https://discuss.elastic.co/t/bug-logstash-ouput-initial-fleet-setup/310751

[2022-07-27 14:26] elasticmachine commented on #137290
Pinging @elastic/fleet (Team:Fleet)

[2022-07-27 14:28] swmlark commented on #135068
@kpollich In this case we have thousands of monitors, not hundreds.  We had 4500 Synthetics configured between 12 policies to monitor servers we have across our environment.  We saw in the page below there is no limit to the amount of integrations that can used in a policy.  Building out more infrastructure to monitor 100 synthetics a piece is not very cost effective.

https://github.com/elastic/k

[2022-07-27 14:28] #135528 closed

[2022-07-27 14:30] peteharverson commented on #137286
@suchcodemuchwow we are currently looking into how best to resolve this in ML. Will provide an update shortly.

[2022-07-27 14:33] #136929 closed

[2022-07-27 14:40] maciejforcone opened #137292 "[Actionable Observability] Alerts summary widget usability bug"
**Kibana version:**
8.4.0

**Describe the bug:**
Misleading headings, misleading chart when there is less that 30 day of data, no hover state on chart to be able to see alerts in specific day, no timeframe information.

**Screenshots (if relevant):**
<img width="325" alt="image" src="https://user-images.githubusercontent.com/104486848/181274573-ac1dd5d6-52f6-469b-8a30-d07f4b7a1cc7.png">

**Expecte

[2022-07-27 14:41] elasticmachine commented on #137292
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-27 14:55] joshdover commented on #132263
Yes, we should open a package-spec discussion about this. I think this will be important for the long-term. Otherwise, it's very easy for a package author to introduce a breaking change in their package, simply by re-ordering their inputs.

[2022-07-27 14:58] andresrc commented on #132818
Thanks @jsoriano , edited the comment

[2022-07-27 15:00] dhurley14 commented on #136081
@MadameSheema I can update this to only display the data view id 👍 would that work?

[2022-07-27 15:07] paul-tavares commented on #137252
PR opened: https://github.com/elastic/kibana/pull/137296

[2022-07-27 15:11] cchaos commented on #137247
This one is harder to say what's more valuable to a user because it all depends on types and quantities of data views. I'd love to see an advanced setting (since Unified Search doesn't have a settings menu) that allows users to swap between two options:

1. Alphabetical
2. Recently used

[2022-07-27 15:22] elasticmachine commented on #137286
Pinging @elastic/ml-ui (:ml)

[2022-07-27 15:22] qn895 commented on #136124
Closing via https://github.com/elastic/kibana/pull/136150

[2022-07-27 15:22] #136124 closed

[2022-07-27 15:25] spalger opened #137300 "Failing ES Promotion: Chrome X-Pack UI Functional Tests - ML anomaly_detection.x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer·ts - machine learning - anomaly detection anomaly explorer with farequote based multi metric job renders View By swim lane"
**Chrome X-Pack UI Functional Tests - ML anomaly_detection**
**x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer.ts**

**machine learning - anomaly detection anomaly explorer with farequote based multi metric job renders View By swim lane**

This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot pr

[2022-07-27 15:26] gchaps opened #137301 "[Console] Update copy in Console settings"
The copy in Console settings needs to be updated to meet the [EUI guideline that we use sentence case](https://eui.elastic.co/#/guidelines/writing/guidelines#capitalization).

<img width="472" alt="Screen Shot 2022-07-27 at 8 03 18 AM" src="https://user-images.githubusercontent.com/33642766/181283163-acab6034-48bc-4e7f-a9b7-14cea3e2bce8.png">

**Capitalization fixes**

Console Settings > Console s

[2022-07-27 15:26] elasticmachine commented on #137301
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-27 15:27] peteharverson commented on #137286
The order of the anomaly scores for `EGF` and `VRD` has now changed from the anomaly detection job (Elasticsearch side) - @tveasey should we edit the expected order from the Kibana functional test, or is a change needed on the ML backend?

[2022-07-27 15:29] spalger commented on #137300
Skipped on main: https://github.com/elastic/kibana/commit/c6840572499c1af1b27e90a60677d41046c9f567

[2022-07-27 15:32] gigerdo opened #137303 "Support/document dynamically reloading Kibana settings without restart"
**Describe the feature:**
The main idea is to dynamically reload settings without having to restart the Kibana server. This functionality seems to exist already, but is only documented to reload logging settings.
There is this issue mentioning the feature: https://github.com/elastic/kibana/issues/52756

I would specifically like to have dynamic reload for `xpack.actions.email.domain_allowlist`. I

[2022-07-27 15:34] elasticmachine commented on #137300
Pinging @elastic/ml-ui (:ml)

[2022-07-27 15:36] peteharverson commented on #137286
@suchcodemuchwow  I'm going to close this issue in favor of https://github.com/elastic/kibana/issues/137300.

[2022-07-27 15:36] #137286 closed

[2022-07-27 15:37] #119028 closed

[2022-07-27 15:38] katrin-freihofner commented on #118297
This is not on the roadmap for now. Feel free to reopen if we decide to approach it.

[2022-07-27 15:38] #118297 closed

[2022-07-27 15:40] nchaulet opened #137304 "[Fleet] Instruction to setup Fleet server are not correct with a logstash default output"
## Description

In the instruction to setup Fleet server we populate the `--fleet-server-es` flag with the default output host, in the case the default output is a logstash output will prepopulate `--fleet-server-es` with the logasth host this is incorrect

<img width="747" alt="Screen Shot 2022-07-27 at 11 36 27 AM" src="https://user-images.githubusercontent.com/1336873/181289530-97c31706-f555-4e

[2022-07-27 15:40] elasticmachine commented on #137304
Pinging @elastic/fleet (Team:Fleet)

[2022-07-27 15:41] katrin-freihofner commented on #107361
This does not seem to be prioritized for now. cc @chrisdistasio

[2022-07-27 15:41] #107361 closed

[2022-07-27 15:45] elasticmachine commented on #137064
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-27 15:48] MadameSheema commented on #137263
Closing as duplicate of: https://github.com/elastic/kibana/issues/129294#issuecomment-1196314998

[2022-07-27 15:48] #137263 closed

[2022-07-27 15:52] nchaulet commented on #137290
@kpollich I am closing this one in favor of https://github.com/elastic/kibana/issues/137304
The issue seems to be in displaying the instructions

[2022-07-27 15:52] #137290 closed

[2022-07-27 15:57] elasticmachine commented on #137303
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-27 15:57] dhurley14 commented on #135513
Can we close this out?

[2022-07-27 15:59] MadameSheema commented on #135513
Let's first validate it ;)

[2022-07-27 15:59] pmuellr commented on #137303
There are probably other settings - mainly for the actions plugin - that would be nice to have hot-reloadable.  But thinking there are some that won't work that way - preconfigured connectors, perhaps?

I'm assuming the ask here is to document the alerting-related config (including task manager, if anything is hot-reloadable there) specifically, versus across all of Kibana, so marking this as a Re

[2022-07-27 16:06] gigerdo commented on #137303
Yes, for me the most important one is just `xpack.actions.email.domain_allowlist`. We can always look at individual other settings later if it makes sense to also mark them as dynamic. There for sure are also others that would be nice to dynamically reload to avoid restarts.

[2022-07-27 16:08] mikecote commented on #137303
Linking with https://github.com/elastic/kibana/issues/132183.

[2022-07-27 16:09] mikecote commented on #132183
Linking with https://github.com/elastic/kibana/issues/137303.

[2022-07-27 16:13] defensivedepth commented on #137290
I was the OP in the linked post.

If ES should always be the output for a Fleet server policy, then I believe the UI shouldn't allow someone to select a Logstash output for a fleet server policy.

[2022-07-27 16:15] zizhouW commented on #136975
@benironside Thanks for looking into the page! It seems like the two areas that have the discrepancy described both live outside of Kubernetes Security. The `Take action` button lives in the `security_solution` plugin, and the pop up with `Run osquery` is a part of the `timelines` plugin.

cc @elastic/security-threat-hunting

[2022-07-27 16:16] #137275 closed

[2022-07-27 16:17] dimadavid commented on #136718
Thanks, @qcorporation. I suggest closing the session view when the session leaders' table reloads with new content.

cc @Max-Iskra @codearos

[2022-07-27 16:17] #137265 closed

[2022-07-27 16:19] tveasey commented on #137300
This looks safe to edit to me. The key item in this case is AAL which should stay at the top.

[2022-07-27 16:19] TinaHeiligers commented on #135346
@elastic/kibana-security It would be very useful if we had public documentation around shared saved objects to reference if and when problems arise. Unfortunately, ATM, our knowledge articles are for internal use only and we can't share those. Is it possible to create summaries of these and add them to the docs? I'm thinking along the lines of something similar to how Core documents [known issues]

[2022-07-27 16:19] andrewctate opened #137310 "[Lens] Improve subsequent quick function defaults"
**Describe the feature:**
Several lens visualizations support adding multiple identical dimensions:
- Primary and secondary metric in the metric visualization
- Multiple vertical axes in XY types
- Multiple metrics in a table
- Horizontal and vertical axes in heat map
- Multiple slice-by dimensions for pie

When the user drags a field that is already in use in one of these "identical" dimensions,

[2022-07-27 16:19] elasticmachine commented on #137310
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-27 16:19] andrewctate commented on #137310
cc @MichaelMarcialis

[2022-07-27 16:21] nastasha-solomon commented on #131471
@andrew-goldstein if this content should be added as an example or tutorial to the [runtime field docs](https://www.elastic.co/guide/en/security/master/alerts-runtime-fields.html), I can transfer this issue to our `security-docs` repo.
cc: @elastic/security-docs

[2022-07-27 16:30] azasypkin commented on #137279
Haven't seen issues in these tests for a long time...

Looks like unrelated to SAML, will close if it doesn't happen again during the next week.

[2022-07-27 16:35] yctercero commented on #114366
I'm going to close out for now - please feel free to open if there is something further/missed in my response.

[2022-07-27 16:35] #114366 closed

[2022-07-27 16:36] spalger commented on #136000
This has failed 15 times in the last week, all in PRs which is why this hasn't triggered any comments

<img width="3351" alt="image" src="https://user-images.githubusercontent.com/1329312/181301270-6af7b646-f7a8-45b5-ae5a-4eb96d568531.png">

Skipped
main/8.5: https://github.com/elastic/kibana/commit/ea2098fea07ea67380b9cfc995503576ff58bf50
8.4: https://github.com/elastic/kibana/commit/e902476ddef4

[2022-07-27 16:38] #102132 closed

[2022-07-27 16:49] miltonhultgren opened #137317 "Investigate requirements for rules-in-packages"
While working on Platform Observability related work about recreating Stack Monitoring views as Kibana Dashboards, I realized that Stack Monitoring also includes alerts.

While we might re-create those Rules with [existing Observability rules](https://github.com/elastic/kibana/issues/137277) or [refactor the existing rules](https://github.com/elastic/kibana/issues/127284) to work with Alerts-As-Da

[2022-07-27 16:49] elasticmachine commented on #137317
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-07-27 16:50] andrewctate opened #137318 "[Lens] Unify metric vis palette defaults"
**Describe the feature:**
When enabling color-by-value, the current metric value is placed in different color stop locations for the metric and legacy metric visualizations.

Legacy metric places the current metric value in the middle of three colors and defines a custom minimum.
<img width="1155" alt="Screen Shot 2022-07-27 at 11 36 41 AM" src="https://user-images.githubusercontent.com/315764/181

[2022-07-27 16:50] elasticmachine commented on #137318
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-27 16:50] miltonhultgren commented on #137317
I'll copy a quote from @jasonrhodes here because I liked how it was worded:

[2022-07-27 16:55] ghudgins opened #137319 "[Unified Search] Remove "a new data view" tour from Discover/Lens"
**Describe the feature:**
Remove "a new data view" tour from Discover in 8.5+

**Describe a specific use case for the feature:**
8.3 wasn't yesterday....let's remove this tour because it is no longer "new"

[2022-07-27 16:55] elasticmachine commented on #137319
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-27 16:55] andrewctate opened #137320 "[Lens] geo fields drop view is goofed up"
<img width="1920" alt="Screen Shot 2022-07-27 at 11 10 04 AM (2)" src="https://user-images.githubusercontent.com/315764/181305009-a7dc7389-f461-407a-a8fe-39df3539f5c0.png">

Related to https://github.com/elastic/kibana/pull/135406

[2022-07-27 16:55] elasticmachine commented on #137320
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-27 17:01] emma-raffenne opened #137323 "SLOs API - Phase 1"
# Context

- [MVP definition document](https://docs.google.com/document/d/1ETUpHonf4nbJIuwufRv2O43qIQfx7LnSLh4_u8ZO84Q/edit)
- elastic/observability-product#13

# Objective

The objective of this first phase is to provide an API for CRUD operations on SLOs that would support `Service` and `Transaction` types of entity, and the following APM metrics:
- Latency (i.e., performance)
- Transaction Fail

[2022-07-27 17:01] elasticmachine commented on #137323
Pinging @elastic/actionable-observability (Team: Actionable Observability)

[2022-07-27 17:11] andrewctate opened #137326 "[Lens] Metric Vis 8.4 Follow-ups"
Aiming to get these in for 8.4

- [x] https://github.com/elastic/kibana/issues/137248

- [x] Impose rounded corners on dashboard ([source](https://github.com/elastic/kibana/pull/136567#issuecomment-1193799501)) — Resolved in https://github.com/elastic/kibana/pull/137597
- [x] Color stops UI has light background in dark mode https://github.com/elastic/kibana/pull/137340
- [x] Add color swatch previ

[2022-07-27 17:11] elasticmachine commented on #137326
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-27 17:15] elasticmachine commented on #134047
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-07-27 17:15] flash1293 commented on #137326
@stratoula I think you mentioned you already fixed the color stop UI somewhere else, right?

[2022-07-27 17:16] kibanamachine commented on #99010
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18969#01824074-b6a0-4221-8b6e-fd0b32ebdfb7)

[2022-07-27 17:16] kibanamachine opened #137327 "Failing test: Chrome UI Functional Tests.test/functional/apps/getting_started/_shakespeare·ts - Getting Started new charts library Shakespeare "after all" hook for "should change the Y-Axis extents""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/18969#01824074-b6a0-4221-8b6e-fd0b32ebdfb7)

[2022-07-27 17:16] kibanamachine opened #137328 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/uptime/rest/add_monitor_private_location·ts - apis uptime uptime REST endpoints uptime CRUD routes PrivateLocationMonitor "before all" hook for "adds a test fleet policy""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18972#01824085-33c9-47fc-ae2d-bf063790ac64)

[2022-07-27 17:17] elasticmachine commented on #137328
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-27 17:17] stratoula commented on #137326
Yes I did! On my dimension panel redesign PR!

[2022-07-27 17:19] flash1293 commented on #137326
@stratoula As this PR won't go into 8.4, is it possible to backport just that bit?

[2022-07-27 17:19] kibanamachine opened #137329 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/migrations - migration v2 when `migrations.discardCorruptObjects` does not match current kibana version fails to migrate when corrupt objects and transform errors are encountered"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18972#01824085-3308-48a8-a827-9cb480e9cea6)

[2022-07-27 17:19] kibanamachine opened #137330 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/migrations - migration v2 with corrupt saved object documents collects corrupt saved object documents across batches"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18972#01824085-3308-48a8-a827-9cb480e9cea6)

[2022-07-27 17:19] kibanamachine opened #137331 "Failing test: Jest Integration Tests.src/core/server/integration_tests/saved_objects/migrations - migration v2 clean ups if migration fails"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18972#01824085-3308-48a8-a827-9cb480e9cea6)

[2022-07-27 17:20] elasticmachine commented on #137329
Pinging @elastic/kibana-core (Team:Core)

[2022-07-27 17:20] elasticmachine commented on #137331
Pinging @elastic/kibana-core (Team:Core)

[2022-07-27 17:20] elasticmachine commented on #137330
Pinging @elastic/kibana-core (Team:Core)

[2022-07-27 17:20] stratoula commented on #137326
Joe my fix is to remove the background colour from the fly out. It is one of Michael's changes. We can't apply this in 8.4 but we can check for dark mode and apply the correct background. I will take care of it tomorrow!

[2022-07-27 17:23] ThomThomson commented on #137141
Just wanted to mention here that the Presentation team will be available to provide guidance on embeddable usage and creation for this. Please feel free to reach out to us when the engineering effort begins!

[2022-07-27 17:24] spalger commented on #137327
@elastic/kibana-qa we've got another test that's failing because of saved objects in esArchives. Would you mind tackling this?

[2022-07-27 17:28] kibanamachine commented on #137328
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18972#018240a9-4df4-4706-88cf-d7b4f3a70bfb)

[2022-07-27 17:28] jen-huang commented on #129344
Bumped up to P1 per discussion with @akshay-saraswat as it is blocking CockroachDB integration from going GA.

[2022-07-27 17:53] spalger commented on #137328
@elastic/unified-observability this test seems to rely on being run on main, and started failing as soon as 8.4 was branched. Please make sure this test can be run on new branches before unskipping. Branching a new version is a complicated process and we would love to avoid problems like this.

Skipped

main/8.5: https://github.com/elastic/kibana/commit/3c1d4588fd2dc3d95ba700e8fb46f1019f42a4c4
8.4

[2022-07-27 17:56] slhck opened #137335 "[Fleet] "registryProxyUrl" is not allowed to be empty"
**Kibana version:** 8.3.2

**Elasticsearch version:** 8.3.2

**Server OS version:** Ubuntu Linux 18.04.6

**Browser version:** Google Chrome 103.0.5060.134

**Browser OS version:** macOS 11

**Original install method (e.g. download page, yum, from source, etc.):** Docker images

**Describe the bug:**

I have a Docker-based ELK stack that runs in different environments (e.g., on-premise or in the c

[2022-07-27 18:00] spalger commented on #137330
@elastic/kibana-core this test seems to rely on being run on main, and started failing as soon as 8.4 was branched. Please make sure this test can be run on new branches before unskipping. Branching a new version is a complicated process and we would love to avoid problems like this.

Skipped

main/8.5: https://github.com/elastic/kibana/commit/15403252522df6367414500503c80a3d285d15aa
8.4: https://

[2022-07-27 18:02] nchaulet commented on #137290
Actually logstash could be the output for Fleet server policy but it will not be used by Fleet server as Fleet server use an other output specified while launching the agent (this one should be elasticsearch with a service token), this is a little confusing.

[2022-07-27 18:02] spalger commented on #137329
@elastic/kibana-core this test seems to rely on being run on main, and started failing as soon as 8.4 was branched. Please make sure this test can be run on new branches before unskipping. Branching a new version is a complicated process and we would love to avoid problems like this.

Skipped

main/8.5: https://github.com/elastic/kibana/commit/9cbfe080b355db4defca8e763131e3cadb6f2937
8.4: https://

[2022-07-27 18:04] spalger commented on #137331
@elastic/kibana-core this test seems to rely on being run on main, and started failing as soon as 8.4 was branched. Please make sure this test can be run on new branches before unskipping. Branching a new version is a complicated process and we would love to avoid problems like this.

Skipped

main/8.5: https://github.com/elastic/kibana/commit/7debb42333de64f55f6804f8aa5833b52c485f18
8.4: https://

[2022-07-27 18:08] slhck commented on #137335
I realize now that if I set `XPACK_FLEET_REGISTRYPROXYURL` via an `.env` file (or not), I can achieve the same thing.

Just wondering if it's intended for the URL to be parsed that strictly. Feel free to close this issue otherwise!

[2022-07-27 18:16] andrewctate commented on #137326
I know the color stops UI looks right on the legacy metric vis. It must be doing this 👍

[2022-07-27 18:21] defensivedepth commented on #137290
` this is a little confusing.`

Yes, it is :)

But I think I am getting there.

[2022-07-27 18:32] stratoula commented on #137326
Really? This is so weird, it is the same component 🤔

[2022-07-27 18:33] kibanamachine opened #137338 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts - apis uptime uptime REST endpoints uptime CRUD routes [DELETE] /internal/uptime/service/monitors "before all" hook for "deletes monitor by id""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18978#018240ca-ebb3-4513-98d4-f7566642719c)

[2022-07-27 18:34] elasticmachine commented on #137338
Pinging @elastic/unified-observability (Team:Observability)

[2022-07-27 18:34] elasticmachine commented on #99312
Pinging @elastic/eui-design (EUI)

[2022-07-27 18:34] kibanamachine commented on #137329
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18978#018240ca-eb08-4d54-9e20-dcc14218707e)

[2022-07-27 18:34] kibanamachine commented on #137330
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18978#018240ca-eb08-4d54-9e20-dcc14218707e)

[2022-07-27 18:34] kibanamachine commented on #137331
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18978#018240ca-eb08-4d54-9e20-dcc14218707e)

[2022-07-27 18:36] stratoula commented on #137326
@andrewctate it also happens in gauges

[2022-07-27 18:40] kibanamachine commented on #137338
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18980#018240d2-f7da-4654-aff6-237603339395)

[2022-07-27 18:40] kibanamachine commented on #137329
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18980#018240d2-f745-479f-a097-f1aa3b5575e4)

[2022-07-27 18:40] kibanamachine commented on #137331
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18980#018240d2-f745-479f-a097-f1aa3b5575e4)

[2022-07-27 18:42] #136996 closed

[2022-07-27 18:43] kibanamachine commented on #137338
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18982#018240d6-2d23-4743-8f37-c7dc5588855d)

[2022-07-27 18:43] kibanamachine commented on #137331
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18982#018240d6-2ca8-47de-a658-4ca6a2cc3b85)

[2022-07-27 18:44] kibanamachine commented on #137338
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/18984#018240d6-56f6-4356-b09a-f7a6bacaeccc)

[2022-07-27 18:46] constancecchen commented on #99312
I think this is similar/related to https://github.com/elastic/eui/issues/5828. Essentially, it sounds like data grid needs to check when the cell is too small for the cell actions to display without blocking the majority of the content, and figure out some other way of displaying the cell actions.

[2022-07-27 18:47] spalger commented on #137338
@elastic/unified-observability this test seems to rely on being run on main, and started failing as soon as 8.4 was branched. Please make sure this test can be run on new branches before unskipping. Branching a new version is a complicated process and we would love to avoid problems like this.

Skipped
main/8.5: https://github.com/elastic/kibana/commit/d2fb7e1f7664e03f2412598b8df1e956ee41010e
8.4:

[2022-07-27 19:25] yctercero commented on #137156
Ready for QA check!

[2022-07-27 19:36] simianhacker commented on #137292
We should add the `extended_bounds` option to the `date_histogram` ([here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/public/application/hooks/use_load_rule_alerts_aggregations.ts#L170)) which looks like this

[code]
That will draw the additional buckets, so instead of one big bucket we will have 29 empty buckets and 1 full bucket at the end (for one days worth

[2022-07-27 19:39] klacabane commented on #135379
@miltonhultgren yes, the release model being decoupled from the stack we have lot more flexibility

---

Observations after running [the sensational diffing tool](https://github.com/klacabane/metrics-mappings-to-monitoring/blob/main/README.md?plain=1#L15-L19) on metricbeat and package mappings:
- there are only a few differences in the metricset-specific properties, which is a good thing as it'll

[2022-07-27 19:52] #81536 closed

[2022-07-27 19:55] elasticmachine commented on #137210
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-27 19:56] bhavyarm commented on #136033
Closed via https://github.com/elastic/kibana/pull/137234

[2022-07-27 19:56] #136033 closed

[2022-07-27 19:56] bhavyarm commented on #135985
Closed via https://github.com/elastic/kibana/pull/137234

[2022-07-27 19:56] #135985 closed

[2022-07-27 20:14] nik9000 commented on #136796
Relates to https://github.com/elastic/elasticsearch/issues/88660

[2022-07-27 20:39] pmuellr opened #137352 "[ResponseOps] space-agnostic admin-only route to return all rules / connectors"
For support purposes, and specifically the Kibana diagnostics tool, we're considering adding routes for rules and connectors that would return all the relevant SO's like their `find` routes currently do, except it would return ALL the rules / connectors across all spaces, and presumably require "superuser" access, or equivalent sort of authorization gating.

This would greatly simplify the ability

[2022-07-27 20:39] elasticmachine commented on #137352
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-07-27 20:40] kevinlog commented on #137250
@muskangulati-qasource - I don't think this has the correct reproduction steps, could you add?

[2022-07-27 20:52] paul-tavares commented on #137252
Merged and ready for re-test

[2022-07-27 21:04] travisestill opened #137357 "[Security Solution] Selecting Lucene query syntax in the Timeline creation/edit page does nothing."
**Kibana version:** 7.17.5

**Elasticsearch version:** 7.17.5

**Server OS version:** ESS - GCP - Oregon (us-west1) (can be reproduced anywhere)

**Browser version:** Any

**Browser OS version:** Any

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**
When creating a new timeline, you can specify an AND filter to use Lucene Query Syntax (by turning

[2022-07-27 21:05] elasticmachine commented on #137357
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-07-27 21:06] kertal commented on #54549
Closing in favor of having default columns / data view #17726

[2022-07-27 21:06] #54549 closed

[2022-07-27 21:10] elasticmachine commented on #59432
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-07-27 21:15] #136976 closed

[2022-07-27 21:15] kertal commented on #68415
closing since this was implemented in #135726

[2022-07-27 21:15] #68415 closed

[2022-07-27 21:20] kertal commented on #72851
Closing since this was recently changed. it's a shared component now and it works
<img width="393" alt="Bildschirmfoto 2022-07-27 um 23 19 32" src="https://user-images.githubusercontent.com/463851/181374487-eb5f28a7-1a26-43db-8f98-c297e911fcbb.png">

[2022-07-27 21:20] #72851 closed

[2022-07-27 21:27] bhavyarm commented on #137327
Will do @spalger

[2022-07-27 21:33] kertal commented on #89267
closing since it's now possible to directly add a new index pattern / data view in Discove
<img width="293" alt="Bildschirmfoto 2022-07-27 um 23 32 27" src="https://user-images.githubusercontent.com/463851/181376312-5ffff7e5-b02f-434b-94ee-7b3044c09a2b.png">
r

[2022-07-27 21:33] #89267 closed

[2022-07-27 21:39] kertal commented on #135351
I've just tested it and now it works with mouseover , so the EUI fix has landed, thx a lot!
<img width="213" alt="Bildschirmfoto 2022-07-27 um 23 38 27" src="https://user-images.githubusercontent.com/463851/181377322-05d43e2f-f317-4f69-8ee9-e56b0c5dfe50.png">

[2022-07-27 21:39] #135351 closed

[2022-07-27 22:27] cjcenizal commented on #137301
@gchaps Can you help me understand these? Where are you seeing this copy -- I can't find it.

[2022-07-28 00:00] kibanamachine commented on #133259
New failure: [CI Build - 8.4](https://buildkite.com/elastic/kibana-on-merge/builds/19007#018241e7-6b1e-4b93-a615-eae0d6c4a2a7)

[2022-07-28 01:26] renshuki opened #137368 "Facilitate the restore of red indices"
Kibana version: 8.3.2

## Synopsis

Currently, restoring red indices from a snapshot require the following steps in Kibana UI:

1) Close all the red indices
- Go to **Stack Management** > **Index Management**
- Toggle "**Include hidden indices**"
- Sort by *Health* column or search for: `health:red`
- At the bottom of the page select: `Rows per page: 100` if you have a high number of red indices t

[2022-07-28 01:26] elasticmachine commented on #137368
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 02:51] matschaffer commented on #135382
I don't see any strong reason against it, but I can't remember _why_ the `stack_monitoring` is being added. Mind refreshing me?

You say "will change" in the description, is it due to the package naming?

[2022-07-28 02:54] matschaffer commented on #137195
Indeed. Hopefully it "just works" ™️  - but logstash could be in a pinch if we ship the packages and it doesn't work in standalone mode.

[2022-07-28 03:06] #136576 closed

[2022-07-28 03:07] #136202 closed

[2022-07-28 03:07] #135933 closed

[2022-07-28 03:16] pmuellr commented on #84217
Just had a thought on the problem here that seems to come up the most.  Folks wanting to "pass through" a JSON array value as JSON.  This doesn't work since we preserve array's `toString()` method, which is basically `join(',')`, so that ['a', 'b', 'c'] is rendered as `a,b,c`.

Since we only support typical array access, there won't be any other properties on arrays that you could reference.  For

[2022-07-28 03:18] pmuellr commented on #137114
Could you provide some sample output here?

What is the value in `context.alerts`?  If it's an array, we got problems.  We don't currently have a way of expanding out an array like this, as JSON, in the rendered output.

I haven't seen anyone successfully render an array of JSON values as a valid JSON value in the output, but I'd be interested to see what you try.

The most relevant issue related

[2022-07-28 04:59] #129440 closed

[2022-07-28 05:14] renshuki opened #137373 "Red indices are not displayed properly in Index Management UI"
Kibana version: 8.3.2

**Synopsis:**

Red indices are not displayed properly in Kibana **Stack Management > Index Management** UI.
![Screen Shot 2022-07-28 at 13 58 21](https://user-images.githubusercontent.com/7076736/181424055-93732dc2-34cd-4bbb-b053-46003d8b38ce.png)

From Kibana Dev Tools:
[code]

Red indices are shown with a black dot (●) instead of a red one and *Health* is not displayed as

[2022-07-28 05:14] elasticmachine commented on #137373
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-07-28 05:15] karanverma-qasource commented on #137281
Hi @semd,

Thank you so much for the clarification, we have validated above issue and it's working fine.

**Build Details:**
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/181425774-fd893d59-326c-433f-b537-2829382977ac.png)

![image](https://user-images.githubusercontent.com/91867110/181425855-9fb89a02-6504-48fd-bfdb-7441448775b3.png)

Thanks !

[2022-07-28 05:15] #137281 closed

[2022-07-28 05:19] karanbirsingh-qasource commented on #135513
Hi @MadameSheema  and team,

we have validated this issue on `8.4.0-SNAPSHOT` and found the issue to be fixed now ✔️ . User is able to switch to index patter within the rule creation flow.

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/181426176-60feab84-c7ee-40ee-ab94-1d59800a7841.mp4

Hence we are closing this issue and adding "QA:Validated" tag t

[2022-07-28 05:19] #135513 closed

[2022-07-28 05:27] kibanamachine opened #137374 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_no_data·ts - discover app discover no data adds a new data view when no data views"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac68-4090-85c3-d020354a209d)

[2022-07-28 05:28] elasticmachine commented on #137374
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-28 05:29] elasticmachine commented on #137357
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-07-28 05:35] kibanamachine commented on #137374
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#01824346-c05d-4a30-89f8-77ff93d10f86)

[2022-07-28 05:36] kibanamachine opened #137375 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group1/url_field_formatter·ts - dashboard app - group 1 Changing field formatter to Url applied on discover"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ace9-4b1f-adac-241fe87b86ca)

[2022-07-28 05:36] kibanamachine opened #137376 "Failing test: Firefox UI Functional Tests.test/functional/apps/discover/_field_data·ts - discover app discover tab field data search php should show the correct hit count"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac63-48ea-b4f7-3fe9482a7811)

[2022-07-28 05:36] elasticmachine commented on #137375
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 05:36] elasticmachine commented on #137376
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-28 05:36] kibanamachine opened #137377 "Failing test: Chrome X-Pack UI Functional Tests - ML data_visualizer.x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer_grid_in_dashboard·ts - machine learning - data visualizer field statistics in Dashboard with lucene saved search and filter saves search with Field statistics table in Discover"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acf3-4824-a9f3-b7f117f0ef85)

[2022-07-28 05:37] kibanamachine opened #137378 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group2/_async_dashboard·ts - dashboard sample data dashboard "before all" hook for "should launch sample flights data set dashboard""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acf3-4824-a9f3-b7f117f0ef85)

[2022-07-28 05:37] elasticmachine commented on #137377
Pinging @elastic/ml-ui (:ml)

[2022-07-28 05:37] kibanamachine opened #137379 "Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group3/dashboard_time_picker·ts - dashboard app - group 3 dashboard time picker Saved search updated when time picker changes"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac79-4b28-acd3-49406506f3f5)

[2022-07-28 05:38] elasticmachine commented on #137379
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-07-28 05:40] kibanamachine opened #137380 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/group3/_lab_mode·ts - visualize app visualize lab mode disabling does not break loading saved searches"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac6c-401a-932e-5c80ea01022d)

[2022-07-28 05:40] kibanamachine opened #137381 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/group3/_lab_mode·ts - visualize app visualize lab mode "after all" hook for "disabling does not break loading saved searches""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac6c-401a-932e-5c80ea01022d)

[2022-07-28 05:41] elasticmachine commented on #137380
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-28 05:41] elasticmachine commented on #137381
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-07-28 05:42] kibanamachine opened #137382 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts - discover feature controls discover feature controls security global discover all privileges "before all" hook for "shows discover navlink""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-acc6-4f76-993e-b9a24dc48f82)

[2022-07-28 05:45] kibanamachine commented on #137375
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182434e-6619-4c94-b4fc-228ac6408af5)

[2022-07-28 05:45] kibanamachine opened #137383 "Failing test: Jest Tests.src/plugins/discover/public/application/main/hooks - test useSavedSearch refetch$ triggers a search"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac4e-4183-b333-9226de9071e9)

[2022-07-28 05:45] kibanamachine opened #137384 "Failing test: Jest Tests.src/plugins/discover/public/application/main/hooks - test useSavedSearch reset sets back to initial state"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac4e-4183-b333-9226de9071e9)

[2022-07-28 05:45] kibanamachine opened #137385 "Failing test: Jest Tests.src/plugins/discover/public/application/main - DiscoverMainApp renders"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac4e-4183-b333-9226de9071e9)

[2022-07-28 05:45] kibanamachine opened #137386 "Failing test: Jest Tests.src/plugins/discover/public/application/main/hooks - test useDiscoverState return is valid"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182432e-ac4e-4183-b333-9226de9071e9)

[2022-07-28 05:46] kibanamachine commented on #137379
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/19009#0182434f-ccea-4f1f-844b-385f0d7a9011)

[2022-07-28 05:46] elasticmachine commented on #137383
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-28 05:46] elasticmachine commented on #137384
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-28 05:46] elasticmachine commented on #137386
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-07-28 05:46] elasticmachine commented on #137385
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)