[2021-12-08 23:14] elasticmachine commented on #117779
Pinging @elastic/kibana-security (Team:Security)

[2021-12-08 23:15] elasticmachine commented on #117822
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-08 23:16] elasticmachine commented on #117826
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-08 23:17] elasticmachine commented on #117925
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-08 23:18] elasticmachine commented on #118159
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-08 23:21] elasticmachine commented on #118180
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-08 23:22] elasticmachine commented on #118243
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-08 23:24] elasticmachine commented on #118592
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-08 23:25] elasticmachine commented on #118603
Pinging @elastic/apm-ui (Team:apm)

[2021-12-08 23:27] elasticmachine commented on #118621
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:27] kqualters-elastic commented on #120711
https://github.com/elastic/kibana/blob/main/x-pack/plugins/timelines/public/components/rule_name/index.tsx#L27 and https://github.com/elastic/kibana/blob/main/x-pack/plugins/timelines/public/components/rule_name/index.tsx#L36 need to be 'securitySolutionUI'

[2021-12-08 23:31] kqualters-elastic commented on #120711
@michaelolo24 will not be a problem in any 7.x branches, as APP_UI_ID is not a concept, only APP_ID https://github.com/elastic/kibana/blob/7.16/x-pack/plugins/security_solution/common/constants.ts#L12

[2021-12-08 23:35] elasticmachine commented on #118746
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-08 23:36] elasticmachine commented on #118749
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-08 23:38] nickpeihl commented on #118780
Thank you @thanh-lam for posting your question to Discuss. Hopefully you were able to get help there. I hope you don't mind if I close this.

[2021-12-08 23:38] #118780 closed

[2021-12-08 23:40] lukeelmers commented on #120833
Yes we do; thanks for the ping.

[2021-12-08 23:40] elasticmachine commented on #118976
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-08 23:40] elasticmachine commented on #120833
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:41] elasticmachine commented on #118976
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-08 23:43] lukeelmers commented on #120833
It looks like this might have been a result of some confusion in the original implementation -- currently it points to the Cloud user profile page (https://cloud.elastic.co/user/settings/), which does have a change password link, however it's not the password we want to change in this scenario.

We should be able to fix this by pointing the link to `${cloud.deployment_url}/security`

[2021-12-08 23:45] nickpeihl commented on #119288
Thanks very much for your interest in Kibana.

This appears to be a user question, and we'd like to direct these kinds of things to the [Kibana forum](https://discuss.elastic.co/c/kibana). If you can post your question there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://discuss.el

[2021-12-08 23:45] #119288 closed

[2021-12-08 23:46] elasticmachine commented on #119305
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-08 23:47] ThomThomson commented on #118746
Closing as this test was actually removed in https://github.com/elastic/kibana/pull/105326

[2021-12-08 23:47] #118746 closed

[2021-12-08 23:48] nickpeihl commented on #119420
Thanks very much for your interest in Kibana.

This appears to be a user question, and we'd like to direct these kinds of things to the [Kibana forum](https://discuss.elastic.co/c/kibana). If you can post your question there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://discuss.el

[2021-12-08 23:48] #119420 closed

[2021-12-08 23:50] elasticmachine commented on #119770
Pinging @elastic/uptime (Team:uptime)

[2021-12-08 23:51] elasticmachine commented on #119787
Pinging @elastic/apm-ui (Team:apm)

[2021-12-08 23:53] lukeelmers commented on #90429
There is currently a PR in progress to allow for registering SO type validations, which are run on `create` and `bulkCreate`: https://github.com/elastic/kibana/pull/118969

I think the larger thing keeping us from moving to beta at this point is getting an understanding of how we expect these APIs to be affected by some of the work we are planning around the future saved objects architecture and t

[2021-12-08 23:53] elasticmachine commented on #119807
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119808
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119809
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119811
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119812
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119810
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119813
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119814
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119815
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119816
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119817
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119818
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119819
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119820
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119821
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119822
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119823
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119824
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:53] elasticmachine commented on #119825
Pinging @elastic/kibana-core (Team:Core)

[2021-12-08 23:56] nickpeihl commented on #119897
Hi @omegahack0. It looks like this is a duplicate of https://github.com/elastic/kibana/issues/117548. To avoid a lot of hassle, let's keep the discussion going in that issue.

[2021-12-08 23:56] #119897 closed

[2021-12-09 00:01] nickpeihl commented on #119902
Thanks very much for your interest in Kibana.

This appears to be a user question, and we'd like to direct these kinds of things to the [Kibana forum](https://discuss.elastic.co/c/kibana). If you can post your question there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://discuss.el

[2021-12-09 00:01] #119902 closed

[2021-12-09 00:03] nickpeihl commented on #119924
Hi @mattbimbeats. Can you expand on this request a little bit? I'm not quite sure I understand the request. Are you referring to values in charts or something else? Once we clarify this I can triage to the appropriate team. Thanks.

[2021-12-09 00:04] nickpeihl commented on #120034
Thanks very much for your interest in Kibana.

This appears to be a user question, and we'd like to direct these kinds of things to the [Kibana forum](https://discuss.elastic.co/c/kibana). If you can post your question there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://discuss.el

[2021-12-09 00:04] #120034 closed

[2021-12-09 00:05] elasticmachine commented on #120058
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-09 00:07] elasticmachine commented on #120102
Pinging @elastic/fleet (Team:Fleet)

[2021-12-09 00:08] elasticmachine commented on #120213
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-09 00:08] elasticmachine commented on #120242
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-09 00:09] elasticmachine commented on #120286
Pinging @elastic/kibana-docs (Team:Docs)

[2021-12-09 00:09] elasticmachine commented on #120292
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 00:11] elasticmachine commented on #120416
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 00:12] elasticmachine commented on #120449
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-09 00:19] #119666 closed

[2021-12-09 00:39] elasticmachine commented on #120484
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-09 00:41] kqualters-elastic opened #120859 "[Security Solution] Selecting a data view in timeline that is not in the set active on detections pages causes tables to not render"
**Kibana version:**
8.x

**Elasticsearch version:**
8.x

**Browser version:**
Any

**Original install method (e.g. download page, yum, from source, etc.):**
All
**Describe the bug:**
Selecting a data view in timeline that is not included in the default security view causes all timelines plugin based tables to fail to render.
**Steps to reproduce:**
1. Navigate to any page in the security app.
2. O

[2021-12-09 00:41] elasticmachine commented on #120859
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 00:46] elasticmachine commented on #120504
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-09 00:47] nickpeihl commented on #120504
This appears to be related to [this feature request](https://github.com/elastic/kibana/issues/118559) for a geo_point field formatter.

[2021-12-09 00:49] elasticmachine commented on #120498
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-09 00:49] tylersmalley commented on #117112
I have seen issues like this with a bad decompress, but not with deb. @jbudz is this something you have seen before?

[2021-12-09 00:49] kqualters-elastic commented on #120859
I think the problem is related-ish to this line https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx#L184 as the graph overlay is used in more places than just the "timeline" (this word is overloaded to the point of being useless almost), it's also used in the detections table, the host event table, etc. All of these place

[2021-12-09 01:01] tylersmalley commented on #120715
@dgieselaar, this sounds pretty exciting. Do you have a draft available to see what you have for the first option?

[2021-12-09 01:41] matschaffer commented on #118592
As @jowiho mentioned in https://github.com/elastic/kibana/issues/108829 the link wording probably should be something like "Elastic Cloud Console" since it would apply to both ECE and ESS.

[2021-12-09 02:06] pmuellr commented on #88993
I took a re-look at this, comparing it to the current version available - 7.16.0.

The only issue that's been resolved is that the status now says Recovered, rather than OK.  Doing some ad hoc testing, I was easily able to get Active alerts to not show their start or duration.  Recovered alerts show neither start nor duration, ever, near as I can tell.

I believe we now have the start and duration

[2021-12-09 02:22] dedemorton commented on #120823
I agree 100%. But unless this fix is coming soon, we should add some text to the UI intro to help users.

[2021-12-09 02:38] beanaroo commented on #120484
In our case, we had to recreate a transform but can't update dashboards to use the replacement index pattern

[2021-12-09 03:03] elasticmachine commented on #118243
Pinging @elastic/apm-ui (Team:apm)

[2021-12-09 03:04] mattkime commented on #118243
I haven't heard of something like this happening before. Might it be specific to apm code?

[2021-12-09 03:59] lukeelmers commented on #116106
I'm surprised to see this reported for 7.14, as we introduced support for exporting >10k objects in 7.12: https://github.com/elastic/kibana/pull/89915

Are you certain this is a 7.14 deployment?

Note that you will need to increase the `savedObjects.maxImportExportSize` in the Kibana config if you want to export more than 10k objects (which is the default).

[2021-12-09 04:09] karanbirsingh-qasource commented on #120711
@michaelolo24 Issue is not occuring on `7.16.0 BC7`

https://user-images.githubusercontent.com/59917825/145332869-9b56c34d-4325-476a-a76c-e224b6bbe1d0.mp4

[2021-12-09 04:49] kibanamachine commented on #120056
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5081#b6ea1fb3-bfe2-45de-a1f6-76514ffd8ff2)

[2021-12-09 04:51] karanverma-qasource commented on #120741
Hi @michaelolo24 ,

We would like to confirm if message field is empty, On hover actions are available for it and if it has data actions are missing. Please confirm if this is expected, so we are good to close this bug.

**Screen records:**

8.0.0 Snapshot build

https://user-images.githubusercontent.com/91867110/145335778-bda2702d-3ffb-477e-a885-688739575fe5.mp4

7.16.0 build

https://user-images

[2021-12-09 05:44] muskangulati-qasource opened #120862 "[Security Solution] No back button from the Host Isolation Exception tab to Endpoint Security Integration"
**Description:**
No back button from the Host Isolation Exception tab to Endpoint Security Integration

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Integrations tab under the Management section from the left side navigation on Kibana
2. Click on Endpoint Security integration and then go to t

[2021-12-09 05:44] elasticmachine commented on #120862
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-09 05:44] elasticmachine commented on #120862
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 05:44] muskangulati-qasource commented on #120862
@manishgupta-qasource please review!!

[2021-12-09 05:57] flash1293 commented on #120484
@mbondyra i vaguely remember you worked on something in this direction - is this still a problem?

[2021-12-09 06:08] flash1293 commented on #120498
Agreed, we should really support this, I will add it to the short term list. Duplicate of https://github.com/elastic/kibana/issues/104787

[2021-12-09 06:08] #120498 closed

[2021-12-09 06:10] katrin-freihofner commented on #120807
@jasonrhodes thank you for adding this issue. I think what is missing is the entry point from the Logs UI.
(Also, I'm wondering what the future of the Metrics explorer looks like).

I agree with that.

Do you mean time-series bases charts? Our aim is definitely to keep this as simple as possible, the more advanced features will still be available in Lense. That said, I'm of course open to discussi

[2021-12-09 06:33] kqualters-elastic commented on #120736
@kevinlog there was a change recently that added an app id for the security solution ui that's different from the one we had been using previously, https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/common/constants.ts#L20 . if you use this const instead of however state is passed to https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/public/applications/flee

[2021-12-09 06:58] pgayvallet commented on #116106
The HTTP API supports it, but the UI didn't in `7.14`. This was fixed on `7.16` in https://github.com/elastic/kibana/pull/118335

[2021-12-09 06:58] #116106 closed

[2021-12-09 07:02] stratoula commented on #120449
@Kilhog thanx a lot for submitting this. Can you please check if the gaps are gone when you turn to `Yes` the `Ignore daylight time` setting? You can find it on the Panel options tab

![image](https://user-images.githubusercontent.com/17003240/145349313-18ba0513-77cd-4fbd-a29f-1ff5ac0e2133.png)

[2021-12-09 07:04] karanverma-qasource commented on #119797
Hi @michaelolo24 ,

Please find below attached file for updated query response as requested:

[Updated_query.txt](https://github.com/elastic/kibana/files/7682841/Updated_query.txt)

Hi @jonathan-buttner,

We have created a new environment for this ticket's required test data and shared the credentials for the same on email.

Thanks !!

[2021-12-09 07:06] stratoula commented on #120850
Yes I could replicate it, TSVB and agg based viz work fine btw.

[2021-12-09 07:15] deepikakeshav-qasource opened #120863 "[Security Solution] All fields are populated instead of custom index fields in rule exception modal when rule is created with custom index"
**Describe the bug**
All fields are populated instead of custom index fields in rule exception modal when rule is created with custom index

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. Index should be created

**Steps to Reproduce**
1. Navigate to Rules tab of security
2. Create any rule say indicator rule with created index
3. Generate som

[2021-12-09 07:15] elasticmachine commented on #120863
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 07:17] pgayvallet commented on #120840
cc @elastic/fleet another failure in core tests caused by an unhandled error/rejection coming from fleet's code.

[2021-12-09 07:33] manishgupta-qasource commented on #120862
Reviewed & assigned to @kevinlog

[2021-12-09 07:36] delvedor commented on #108346
@pgayvallet every child client has its own Transport instance.

It will not cause any issue with the connection pool.

@pgayvallet you are right, symbols are not exported as they should not be part of the public API. While TransportOptions should be re-exported, I'm a bit on the fence about exposing the symbols, since they are not part of the public API.

[2021-12-09 07:59] amolnater-qasource opened #120867 "[Fleet]: Authentication settings didn't collapse itself when all the enrollment tokens are deleted for a policy under Add Agent flyout."
**Kibana version:**  8.0.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana Cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Create a "New Policy".
3. Delete All enrollment tokens for this policy.
4. Navigate to Agents>Add agent flyout.
5. Select "Ne

[2021-12-09 07:59] elasticmachine commented on #120867
Pinging @elastic/fleet (Team:Fleet)

[2021-12-09 08:02] manishgupta-qasource commented on #120867
Reviewed & mention to @jen-huang

CC: @EricDavisX

[2021-12-09 08:07] spalger commented on #120056
4 failures in the last 7 days, including a PR against main and an 8.0 backport. Only fails on the 7.16 tracked branch interestingly, but skipping it all the same

main/8.1: https://github.com/elastic/kibana/commit/d9f436ccd06601621f5a5af57d4d525e3c5d3c86
8.0: https://github.com/elastic/kibana/commit/5aa05f028f02501905951658d6b3a46c7b27d9e6
7.16: https://github.com/elastic/kibana/commit/046d7fb0d8b

[2021-12-09 08:08] Kilhog commented on #120449
@stratoula same behaviour with "Ignore daylight time" to true

[2021-12-09 08:08] mgiota opened #120868 "[RAC][Observability] Stop indexing severity in Uptime"
### 📝 Summary

At the moment Uptime indexes severity under `kibana.alert.severity` with values `critical` and `warning`. We should stop indexing these values for following reasons:
- We don't display the severity value in the Observability Alerts table anyway. Severity column is hidden (https://github.com/elastic/kibana/pull/109004)
- We need to clarify first the severity levels across Observabili

[2021-12-09 08:10] stratoula commented on #120449
Thank you, we will look into this :) cc @alexwizp

[2021-12-09 08:13] philippkahr opened #120869 "Hitting delete on multiple items should give some visual acknowledgment"
**Kibana version:** 7.16.0

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**
Since the workflow to delete multiple items in Kibana does not give a visual "started with that task", one could think that the delete button is not working and clicking it multiple times leads to errors.

**Steps to reproduce:**
1. Have multiple things e.g. indices that

[2021-12-09 08:18] Kilhog opened #120870 "Invisible line on series when using "Offset series time by" on TSVB with series Stacked"
**Kibana version:** 7.15.2
**Elasticsearch version:** 7.15.2
**Server OS version:** Latest Docker
**Browser version:** Safari
**Browser OS version:** 15.1
**Original install method (e.g. download page, yum, from source, etc.):** Docker
**Describe the bug:**

When I try do make a TSBV with my current data on 1 year (01/01/2021 - 31/12/2021), and add a second series on the same graph with the same p

[2021-12-09 08:24] mgiota opened #120871 "[RAC][Observability] Mark kibana.alert.evaluation* and kibana.alert.instance.id as experimental"
### 📝 Summary

Currently in Observability we have `kibana.alert.evaluation.threshold`, `kibana.alert.evaluation.value` and `kibana.alert.instance.id` fields which we want to mark as experimental.

These fields need to be in the solution specific component template (extended schema).

### ✔️ Acceptance criteria
- field types for `kibana.alert.evaluation.threshold`, `kibana.alert.evaluation.value` a

[2021-12-09 08:25] deepikakeshav-qasource opened #120872 "[Security Solution] Rule is getting failed intermittently when enable or disable the rule even not able to enable the failed rule from rule details page"
**Describe the bug**
Rule is getting failed intermittently when enable or disable the rule even not able to enable the failed rule from rule details page

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
3. Any rule should be created

**Steps to Reproduce**
1. Navigate to Rules tab of security
2. Edit the created rule.
3. Disable the rule from rule

[2021-12-09 08:25] elasticmachine commented on #120872
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 08:45] flash1293 commented on #120788
I really like this feature as it gives the user more control over the speed-accuracy tradeoff. We could monitor the time requests need to complete and prompt the user to use this if they are slow. We should talk about how to expose it though, not sure about this part. It feels like a general configuration of the datasource (or maybe the layer?): "Sample data to speed up processing" or something li

[2021-12-09 08:49] dikshachauhan-qasource opened #120874 "[Fleet]: Hide token hover over doesn't disappear when clicked anywhere on screen"
*Kibana version:**  7.16.1 snapshot Kibana cloud-staging environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 7.16.1 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
[code]
2. Few policies should be available.

**Steps to reproduce:**
- Login tio kibana
- Navigate to fleet> enrollment token tab.
- Click on show icons against enrollm

[2021-12-09 08:50] elasticmachine commented on #120874
Pinging @elastic/fleet (Team:Fleet)

[2021-12-09 08:54] flash1293 commented on #117778
@spalger Seems like on 7.16 something is still causing these issues with the last test in the suite. Do you have an idea what we can do about this? Switching it over to the operation team because we investigated this problem a month ago and it's not related to the actual test.

[2021-12-09 08:55] elasticmachine commented on #117778
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-09 08:57] mshustov opened #120876 "rename deprecation factory does not remove an empty object"
*version*: `main` branch
Cloud staging is failing after https://github.com/elastic/kibana/pull/120110 with an error:
[code]
It's been caused by a bunch of `rename` deprecations in https://github.com/elastic/kibana/blob/da78a9ecd5eecfae86a31ee652857006af4141a5/x-pack/plugins/screenshotting/server/config/index.ts.

Therefore, if Config contains at least a single property under `xpack.reporting.captu

[2021-12-09 08:57] elasticmachine commented on #120876
Pinging @elastic/kibana-core (Team:Core)

[2021-12-09 09:04] mgiota commented on #120868
@jasonrhodes As discussed I wanted to stop indexing the severity value for APM as well as part of this ticket. I kept indexing the severity for APM because it is currently used in two places:
- as an annotation in a chart
- it is used to construct the reason message in Observability alerts table

The severity values for APM are being calculated reading a severity score and they can be `critical`,

[2021-12-09 09:06] miltonhultgren commented on #117826
In the Logs and Metrics UI we've now removed these config options from kibana.yml (can't find the issue), @weltenwort maybe you can add some context as to why we did this?

[2021-12-09 09:07] elasticmachine commented on #117826
Pinging @elastic/uptime (Team:uptime)

[2021-12-09 09:08] markov00 commented on #117280
A PR was merged to change the style of interpolated missing values: https://github.com/elastic/elastic-charts/pull/1505
A release with that will come soon

[2021-12-09 09:12] ylasri opened #120878 "Error bootstrapping Kibana dev on windows 10"
Trying to build a new plugin using Kibana but got following error when running `yarn kbn bootstrap`
I used the main github branch of Kibana repo

[code]

[2021-12-09 09:14] miltonhultgren commented on #120615
Upon some reflection I think this will be solved by us being able to offer curated views where the user can easily narrow down their index set to only show data for that view (and use that for the alerts they create too). If we can get Integrations to install these then it's all the easier.

[2021-12-09 09:14] #120615 closed

[2021-12-09 09:15] ylasri commented on #120878
An other for of the error when running `yarn kbn bootstrap` from cmd on windows 10

[code]

[2021-12-09 09:20] ppisljar commented on #119281
this is already implemented

[2021-12-09 09:20] #119281 closed

[2021-12-09 09:21] markov00 commented on #120850
Probably is just a matter of fixing this check:
[code]

to something like
[code]

[2021-12-09 09:26] afharo commented on #120876
++ to removing the empty properties. IMO, if renaming, the _old_ name should completely go away.

Do we know how many cases are affected by this statement?

[2021-12-09 09:30] shahzad31 commented on #117826
in uptime this can be done via, though it's a recent addition, targeted towards 8.0

`xpack.uptime.index: remote_cluster:heartbeat-*
`

[2021-12-09 09:39] molsza opened #120879 "[APM] Dependencies: Configurable number of items on dependencies view"
**Describe the feature:**
APM dependencies view shows only 5 items per page. But it could show more....

**Describe a specific use case for the feature:**
![image](https://user-images.githubusercontent.com/41799777/145371660-e4747dcc-a422-4dec-853d-d6f812946974.png)

[2021-12-09 09:40] manishgupta-qasource commented on #120874
Reviewed & mention to @kpollich

CC: @EricDavisX

[2021-12-09 09:53] sabarasaba commented on #120242
I was able to reproduce this also in `main`, the issue seems to be that once you navigate to `app/management/data/transform/create_transform/$id` and hit the back button you skip the `/app/management/data/transform/` page and go to whatever page you were in before.

https://user-images.githubusercontent.com/1191206/145373616-60ec4992-f933-4e5b-a2dd-b7765c7d6f76.mov

I wonder if perhaps there's som

[2021-12-09 09:56] pgayvallet commented on #120876
Another option would be to allow `rename` and `renameFromRoot` to allow the destination to be present, and perform a merge. It may be a pain to handle the logic required in the `ConfigDeprecationCommand` return though.

I'm ++ to remove all parents of the `source` property of the `rename` operation that no longer have any remaining properties.

I would say it's unlikely for configuration schemas a

[2021-12-09 10:14] #116613 closed

[2021-12-09 10:16] Bamieh commented on #120876
Maybe this step of removing empty objects can be done after all factory functions are run instead of doing something specific to `rename`.

Since the deprecation updates are run sequentially we might remove an object that will later get repopulated? Maybe not a concern just sharing what I had in mind.

[2021-12-09 10:17] sebelga commented on #118212
@psanz-estc It will be fixed in the `7.16.1` release 👍

[2021-12-09 10:20] pgayvallet commented on #120876
`unset` can return the parent's path instead of the property path when matching the condition, no?

e.g

[code]

would return, when the config is `{foo: {bar : 42}}`

[code]

and when the config is `{foo: {bar : 42, baz: 9000}}`

[code]

Or am I missing something?

[2021-12-09 10:39] MadameSheema commented on #112780
@amolnater-qasource @karanbirsingh-qasource @deepikakeshav-qasource can you please validate this? Thank you :)

[2021-12-09 10:39] #117980 closed

[2021-12-09 10:54] MadameSheema commented on #120872
@deepikakeshav-qasource can you please try to reproduce the same on 8.0.0 of cloud prod? Thanks :)

[2021-12-09 10:54] amolnater-qasource commented on #112780
Hi @michaelolo24
We have revalidated this on 8.0 Snapshot and this issue is **still reproducible** on screen resolution shared at https://github.com/elastic/kibana/issues/112780#issuecomment-924836618

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/145382590-cc83a787-c599-405f-9646-3a8fb08b4f68.mp4

**Build Details:**
[code]

Please let us know if anything else is requir

[2021-12-09 10:57] elasticmachine commented on #120870
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-09 10:58] flash1293 commented on #119363
Fixed by https://github.com/elastic/kibana/pull/119434

[2021-12-09 10:58] #119363 closed

[2021-12-09 11:05] juliaElastic commented on #118626
related https://github.com/elastic/kibana/issues/120840

[2021-12-09 11:06] flash1293 opened #120883 "[Lens] Allow rendering prompt below the configuration panel with access to both data and visualization state"
In order to prompt the user to take the current Lens configuration and switch over to Maps, we need to introduce a way to render a button below the configuration panel which has access to both the data and visualization state

<img width="1313" alt="Screenshot 2021-12-09 at 12 00 23" src="https://user-images.githubusercontent.com/1508364/145384547-3a43e7a2-d26c-49fb-b3b1-47983cdf1ed0.png">

I'm no

[2021-12-09 11:06] elasticmachine commented on #120883
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-09 11:08] #106517 closed

[2021-12-09 11:11] flash1293 commented on #77632
Fixed by https://github.com/elastic/kibana/pull/116928

[2021-12-09 11:11] #77632 closed

[2021-12-09 11:13] MadameSheema commented on #120741
@michaelolo24 @monina-n can you please confirm the above? Thanks :)

[2021-12-09 11:16] MadameSheema commented on #120714
Closing as duplicate of: #117703

@michaelolo24 do we want to tackle this issue for 8.0.0 release?

[2021-12-09 11:16] #120714 closed

[2021-12-09 11:20] flash1293 commented on #86190
@shahzad31 I'm hoping this feature can fix the legend problem with filtered metrics in a general way without introduce some magic or a special flag right now.

[2021-12-09 11:29] MadameSheema commented on #120732
@michaelolo24 can you please help with this? Thanks!

[2021-12-09 11:29] karanbirsingh-qasource commented on #118515
Apologizes on delay in bug regress @michaelolo24

we have validated this issue on latest safari version and issue is not occuring there , Hence we are closing this issue.

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/145388490-3b1bca78-8486-48cd-a6e0-5cedc7527064.png)

thanks !!

c.c. @MadameSheema

[2021-12-09 11:29] #118515 closed

[2021-12-09 11:38] karanverma-qasource opened #120885 "[Security Solution] Analyzer is showing "No process events" for alerts and Timeline events."
**Describe the bug:**
Analyzer is showing "No process events" for alerts and timeline events.

**Build Details:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Endpoint should be installed
4. Malware alerts should be generated

**Steps to reproduce**

1. Navigate to alerts table and click on resolver icon for malware alerts
2. Click on un

[2021-12-09 11:38] elasticmachine commented on #120885
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 11:39] MadameSheema commented on #117992
@kqualters-elastic @michaelolo24 can you please take a look at this? Thanks!!

[2021-12-09 11:40] pgayvallet commented on #118621
Manually tempering with export files is not supported and can lead, one way or the other, to corrupted state and undesired behavior after import.

We're aware of these problems, and are actively working on improving the validation and data-consistency checks of our saved objects API. https://github.com/elastic/kibana/issues/104088 is the first step, that will add per-type validation schema, to add

[2021-12-09 11:55] yuliacech opened #120888 "[Console] Condition doesn't work for template autocompletion"
**Kibana version:**
Main branch https://github.com/elastic/kibana/commit/d1774fe48081879c2377a52f6b6ba93f12a4b6c6
**Elasticsearch version:**
8.0
**Server OS version:**
macos Catalina
**Browser version:**
Version 96.0.4664.55 (Official Build) (x86_64)

**Describe the bug:**
When there are different conditions for autocomplete, the suggestions work as expected but template is always the same.

**Ste

[2021-12-09 11:56] elasticmachine commented on #120888
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-09 12:11] legrego commented on #117779
Jest test timed out. This test hasn't been touched to my knowledge in quite some time, so this is likely due to an infrastructure change, or a blip during this specific CI run. Closing as transient for now, but if it fails again we can look to optimize this test case.

[2021-12-09 12:11] #117779 closed

[2021-12-09 12:25] joshdover commented on #120608
Fixed in https://github.com/elastic/kibana/pull/120549

[2021-12-09 12:25] #120608 closed

[2021-12-09 12:32] kibanamachine commented on #93891
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5102#17aeafab-a8d5-4212-a8d5-f5b4ddf791e2)

[2021-12-09 12:32] kevinlog commented on #120862
@academo can you take a look?

[2021-12-09 12:41] afharo commented on #120876
when looking at the actual implementation, I think that we need to apply this _parent cleanup_ check after every `unset`. As @Bamieh mentioned, this issue can happen on `rename` and on `unused` as well.

I'm submitting the PR now #120889.

@pgayvallet the problem I see with that example is that `renameFromRoot` is not aware of other declared changes on the same object: In [this example](https://gi

[2021-12-09 12:48] #116419 closed

[2021-12-09 12:51] sqren opened #120895 "[APM] Don't show deprecation notice in Kibana Upgrade Assistant for non-apm users"
**Problem**

Users who don't use APM and don't have a legacy APM Server are seeing the deprecation notice in Kibana Upgrade Assistant

![image.png](https://zube.io/files/elastic/ec9394769f9ecc66eea84529d73b3406-image.png)

https://github.com/elastic/kibana/blob/0a2b96bf55fad7f39cff7b58a6f2c9a8a5dbf65b/x-pack/plugins/apm/server/deprecations/index.ts#L41-L42

**Expectation**

Only users with a legac

[2021-12-09 12:51] elasticmachine commented on #120895
Pinging @elastic/apm-ui (Team:apm)

[2021-12-09 12:52] claudiopro opened #120896 "[Actionable Observability] Adapt Observability Alerts to use the new `KibanaThemeProvider`"
## :notebook: Summary

In order to support the new theming mechanism of EUI we need to include the recently added `<KibanaThemeProvider>` in the app component hierarchy.

part of #118866

## :heavy_check_mark: Acceptance criteria

- The function that mounts the React root node of the Observability Alerts app wraps the hierarchy into a `<KibanaThemeProvider>` with props from the core `theme$` argum

[2021-12-09 13:04] kevinlog commented on #120736
thanks @kqualters-elastic !

@paul-tavares I know have a PR for this: https://github.com/elastic/kibana/pull/120897

[2021-12-09 13:09] karanbirsingh-qasource opened #120898 "[Security Solution][Event Correlation][Sequence]Investigate in timeline returning no result"
**Describe the bug**
[Event Correlation][Sequence]Investigate in timeline returning no result

**Build Details**
[code]

**Steps**
- Create a EQL Rule with Sequence query
`sequence [ process where process.name == "cmd.exe" ] [ process where process.name == "notepad.exe" ]`
- generate alert for above rule
- investigate in timeline for above generated alert
- Observed that no result is filtered for

[2021-12-09 13:09] elasticmachine commented on #120898
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 13:11] #119946 closed

[2021-12-09 13:14] manishgupta-qasource commented on #120898
Reviewed & assigned to @MadameSheema

[2021-12-09 13:18] #115614 closed

[2021-12-09 13:18] #120079 closed

[2021-12-09 13:22] pgayvallet opened #120900 "[SavedObjects] `find` call fails when too many references are passed to `hasReference`"
Related to https://github.com/elastic/kibana/issues/119853

We're currently generating a clause for each type/id reference type passed to the `find` API via `hasReferences`

https://github.com/elastic/kibana/blob/58f6d9002a7fba53e99299148ff30fe32b852f52/src/core/server/saved_objects/service/lib/search_dsl/query_params.ts#L142-L160

However, when too many references are passed, the ES call to `_sea

[2021-12-09 13:22] elasticmachine commented on #120900
Pinging @elastic/kibana-core (Team:Core)

[2021-12-09 13:24] shamsh4s opened #120901 "[APM]"
### Kibana version

7.15.1

### APM Server version (if applicable)

7.15.1

### Elasticsearch version (if applicable)

7.15.1

### Steps to Reproduce

STEP 1: Started Elastic search service.
STEP 2: Started Kibana service.
STEP 3: Started APM-Server
STEP 4: Started Application under instrumentation with JVM arguments set for APM java agent jar.

### Expected Behavior

APM service list in APM under

[2021-12-09 13:25] elasticmachine commented on #120901
Pinging @elastic/apm-ui (Team:apm)

[2021-12-09 13:26] MadameSheema commented on #120898
@karanbirsingh-qasource can you please let us know which data views were selected in the timeline? Thanks

[2021-12-09 13:28] pgayvallet commented on #119853
I opened https://github.com/elastic/kibana/issues/120900 to discuss the possible fix at the `SavedObjectRepository.find` level.

[2021-12-09 13:28] mgiota commented on #120871
@marshallmain Is this solution fine? Is there an alternative solution I haven't thought of? I tried for example to define field names in Observability plugin, but then `create_lifecycle_executor` which is in the `rule_registry` plugin could not import field names from observability because of circular dependency. Same is true for defining rule names in solution specific plugins.

cc @jasonrhodes

[2021-12-09 13:30] kpollich opened #120903 "[Fleet] Prevent installation of packages containing ML models during preconfiguration/setup"
Fleet cannot guarantee idempotency when installing ML models, so it makes sense for us to disallow this for now.

- [ ] Add a step to Fleet setup that excludes any packages that contain at least one ML model asset when installing managed/preconfigured packages
- [ ] Ensure we output a log message indicating the package that was excluded and why

[2021-12-09 13:33] elasticmachine commented on #120903
Pinging @elastic/fleet (Team:Fleet)

[2021-12-09 13:36] deepikakeshav-qasource opened #120905 "[Security Solution] Old alerts are displayed under rule details page when import the rule before upgrade and export the same rule after upgrade"
**Describe the bug**
Old alerts are displayed under rule details page when import the rule before upgrade and export the same rule after upgrade

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 7.16
2. Any custom rule should be created
3. Alerts should be triggered for the above custom rule
4. Export the above rule on previous build

**Steps to

[2021-12-09 13:36] elasticmachine commented on #120905
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 13:41] deepikakeshav-qasource opened #120906 "[Security Solution] Alert not triggering for Activated Rule after upgrading to 8.0.0-SNAPSHOT"
**Describe the bug**
Alert not triggering for Activated Rule after upgrading to 8.0.0-SNAPSHOT

**Build Details**
[code]

**Steps**
**_7.16.0-SNAPSHOT_**
- Create a Rule on 7.16.0-SNAPSHOT
- Trigger alert for above rule
- **Upgrade the build to 8.0.0-SNAPSHOT**

**_8.0.0-SNAPSHOT_**
- Generate again alert for same above rule
- Observed that no alert get triggered after upgrading to 8.0.0-SNAPSHOT

[2021-12-09 13:41] elasticmachine commented on #120906
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-09 13:42] karanbirsingh-qasource commented on #120898
**Security Default data view**
![image](https://user-images.githubusercontent.com/59917825/145407165-87127b8a-59b0-46e4-b280-42e89592f94c.png)

[2021-12-09 13:44] pgayvallet commented on #120900
Hum, after taking a closer look, note that this approach would only work when using `hasReferenceOperator=OR`, we can't use this aggregated `terms` clauses for `AND`, which is a real issue here...

[2021-12-09 13:46] legrego commented on #120832
@thomheymann thanks for triaging this. Would you be able to give the Commander upgrade a shot?

[2021-12-09 13:52] pheyos opened #120907 "Pre-7.13 sample data causes deprecation warning in upgrade assistant"
Before 7.13 our Kibana sample data used to contain scripted fields (changed to runtime fields with #97651). But if this old sample data is still around in 7.16 it causes a deprecation warning (see screenshot). While this is technically correct, I'm wondering if we want to treat this warning differently when it's coming from our very own sample data (like offer an auto-fix or something).
Ideally, t

[2021-12-09 14:01] #120599 closed

[2021-12-09 14:04] #120868 closed

[2021-12-09 14:06] sqren opened #120908 "Test plan 8.0"
# Test plan 8.0

## Phase 1 - Manual Testing (Day 1)

- Pay special attention to issues in the [curated list](https://github.com/elastic/kibana/issues?q=label%3Aapm%3Atest-plan-8.0.0+is%3Aclosed+-label%3Aapm%3Atest-plan-done)
- After testing apply `apm:test-plan-done` label. If a problem is found a new issue should be opened and labelled `apm:test-plan-regression` and moved to "8.0" column.

### R

[2021-12-09 14:06] elasticmachine commented on #120908
Pinging @elastic/apm-ui (Team:apm)

[2021-12-09 14:06] iverase opened #120909 "[Maps] Elastic maps does not handle correctly geometries that crosses the dateline"
Elastic maps does not handle correctly geometries that crosses the dateline when reading the geometries from _source. On the other hand vector tiles handle them properly from [8.1](https://github.com/elastic/elasticsearch/pull/80649).

To reproduce the issue you just need to add one geometry crossing the dateline:

[code]

Then visualise this document in Elastic maps.

When using vector tiles it r

[2021-12-09 14:06] elasticmachine commented on #120909
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-09 14:10] deepikakeshav-qasource commented on #120872
Hi @MadameSheema,

We have validated this issue on **8.0.0 SNAPSHOT cloud production** and found that issue is reproducible on cloud production also.

**Build Details:**
[code]

**Screen-record:**

https://user-images.githubusercontent.com/61860752/145411361-e67e51d3-2a9c-4dd4-be9f-843289cc6492.mp4

Please let us know if anything else is required from our end.

Thanks!!

[2021-12-09 14:10] kibanamachine commented on #89048
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5106#83b1d10c-c2d6-4477-90cd-556036e90e9a)

[2021-12-09 14:13] that-dom opened #120911 "Allow use of estimate_bucket_span API"
**Describe the feature: Allow and document use of the estimate_bucket_span API.

**Describe a specific use case for the feature: A customer is using API's to build all of their ML Jobs and from what I can tell the Estimate Bucket Span is only available in the GUI of Kibana. They would like to use `/api/ml/validate/estimate_bucket_span` as part of this process.

[2021-12-09 14:13] elasticmachine commented on #120911
Pinging @elastic/ml-ui (:ml)

[2021-12-09 14:18] michaelolo24 commented on #116587
Hi @mark-lsd ! Thanks for pointing this issue out. This was fixed for 7.15.2 😄 . It's actually a duplicate of the issue here: https://github.com/elastic/kibana/pull/114481 .

TLDR; You can update to 7.15.2 or alternatively upgrade your browser to match one of the ones provided on the compatibility table at the bottom of the page here: developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Globa

[2021-12-09 14:21] michaelolo24 commented on #120732
Yep, will take a look, thanks for finding!

[2021-12-09 14:21] pgayvallet commented on #120876
We're applying the `set` and `unset` in-between calls to deprecations, so the next deprecation should be aware that the key it removes is the last one, as the config object passed is already updated by the previous deprecation:

https://github.com/elastic/kibana/blob/58bab9105c0160ee28691757a732f5737b9a9795/packages/kbn-config/src/deprecation/apply_deprecations.ts#L36-L49

unless I'm missing somet

[2021-12-09 14:31] mikecote commented on #88389
@kobelb mentioned that if the versioning of the `kbn-alert-load` tool isn't the same as Kibana, it's ok to have it in a separate repository. But, if we wanted to couple the tool and Kibana version together, it's ok to integrate with Kibana.

[2021-12-09 14:32] mikecote commented on #88389
cc @ymao1 this issue may be something we want to do early in the performance work (https://github.com/elastic/kibana/issues/119845).

[2021-12-09 14:33] #118957 closed

[2021-12-09 14:37] afharo commented on #120876
@pgayvallet you are right! I was misreading the code. Do you think it's best to change the behaviours of the APIs `unused` and `rename` instead of cleaning any empty parents on `command.unset`?

[2021-12-09 14:38] ymao1 commented on #88389
I believe @YulNaumenko is working on this.

[2021-12-09 14:43] gbamparop commented on #77966
In order to create an APM agent key, users must have at least the `manage_own_api_key` cluster privilege and the required application privileges. For example, a user with the privileges shown in the example below will be able to create an APM agent key with all the currently supported privileges (`sourcemap:write`, `event:write`, `config_agent:read`). After discussing with @graphaelli and @sqren t

[2021-12-09 14:47] pgayvallet commented on #120876
Na, your implementation looks fine, and I don't think mine is better in any way since we don't want to add the option to enabled or disable the behavior from the deprecation's options.

[2021-12-09 14:49] jgowdyelastic commented on #120911
Can you please clarify how the customer wishes to consume this endpoint?
The is nothing currently stopping someone from calling this kibana endpoint from a 3rd party app or REST client, we just do not document it we don't consider it to be for public use.

If the customer wishes to be able to call this using kibana's Dev Tools, then it would require moving this functionality into elasticsearch.

[2021-12-09 14:53] sebelga commented on #117065
Closing the issue as the test is running on `main` without problem.

[2021-12-09 14:54] michaelolo24 commented on #120885
This is definitely a bug, and most likely due to the fact that the analyzer accesses the event data from the `logs-*` indices. @jonathan-buttner / @kqualters-elastic thoughts on also defaulting to always include the `logs-*` indices in our request? I can take a look into it and do it as part of completing this work? https://github.com/elastic/kibana/pull/116505

[2021-12-09 14:55] #117889 closed

[2021-12-09 14:57] michaelolo24 commented on #118515
no problem @karanbirsingh-qasource , thanks!

[2021-12-09 14:57] elasticmachine commented on #120732
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-12-09 14:59] michaelolo24 commented on #120714
Thanks @MadameSheema ! Yep!

[2021-12-09 14:59] that-dom commented on #120911
Hi @jgowdyelastic , thanks for the quick response. They have built out automations for ML job creation in Python scripts and want to understand if there is a better Bucket Span than 15m. While this can be done in the GUI it doesn't fit with their workflow since it's all automated.
We understand it's possible to use it today but I didn't want to advise them to use something undocumented and suscept

[2021-12-09 15:00] joshdover opened #120918 "Data view fields with compatible conflicts do not display a type"
If you create a data view for an index pattern that matches indices with conlficting types, but those types are compatbile within Kibana (eg. `long` and `scaled_float`) the field table will not display a type at all.

To reproduce:
1. Create two indices with conflicting types on the same field name:
[code]
2. Create a data view that matches the new indices on `conflict*`
3. View type table and see

[2021-12-09 15:04] michaelolo24 commented on #112780
Much appreciated @amolnater-qasource! We'll take a look into it.

[2021-12-09 15:07] weltenwort opened #120920 "[Infra UI] [Epic] Use-case specific logs ui views"
## :notebook: Summary

We want to improve the way the Logs and Metrics UI, their respective alerts, components, and `Embeddables` are configured to allow for more robust, performant and flexible usage. This epic wants to improve both the UX and the technical basis using several goals as guideposts.

## :dart: Immediate goals

### Goal 1: Improve user awareness of configuration in the Log stream pa

[2021-12-09 15:07] elasticmachine commented on #120920
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 15:14] KOTungseth commented on #120286
@marius-dr do you have an example that I can add?

[2021-12-09 15:16] weltenwort opened #120924 "[Logs UI] Use dedicated configuration saved object"
## :notebook: Summary

We want to separate the saved object type that stores Logs UI source configurations from the saved object type that stores Metrics UI source configurations. As a first step, the former will be stored in a newly introduced saved object type `infrastructure-monitoring-log-view` while the latter will continue to use the `infrastructure-ui-source` type.

While doing so the "sour

[2021-12-09 15:16] elasticmachine commented on #120924
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 15:18] criamico commented on #113750
Adding here the PR as it was not linked: https://github.com/elastic/kibana/pull/119739

[2021-12-09 15:20] Kuznietsov opened #120927 "[Expression] Migrations."
## Introduction

Right now migrations of the expressions are organized in a further way:
`expression1` -> `expression2`.

Let us assume, that at v8.1.0 `expression1` has migration to `expression2` and `expression2` to `expression3` and `expression3` to `expression1`. In such a case we have further problems:
 - At the current implementation, `expression1` will migrate to `expression2`, but all othe

[2021-12-09 15:21] Kunzetsov commented on #120927
cc @ppisljar

[2021-12-09 15:21] weltenwort opened #120928 "[Logs UI] Explicitly reference a LogsViewConfiguration in log threshold rule parameters"
## :notebook: Summary

With the introduction of log views in #120924 the currently implicit dependency of rules on the log view `default` becomes problematic. In order to prepare for a multiple-log-views scenario we should introduce an explicit reference to the log view's saved object into the rule configuration.

part of #120920

## :heavy_check_mark: Acceptance criteria

- The log threshold rule

[2021-12-09 15:21] elasticmachine commented on #120928
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 15:23] shahzad31 commented on #120807
@jasonrhodes i have added a small PR https://github.com/elastic/kibana/pull/120881
which can act as starting point for you guys while working on this.

[2021-12-09 15:23] weltenwort opened #120929 "[Logs UI] Allow for internal configurations to be overridden using a saved object"
:warning: This is work in progress!

## :notebook: Summary

TBD

part of #120920

## :heavy_check_mark: Acceptance criteria

## :bulb: Background

[2021-12-09 15:23] elasticmachine commented on #120929
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 15:24] weltenwort opened #120930 "[Logs UI] Make configuration ID required in Log Stream component"
## :notebook: Summary

Currently the source configuration id of the shared log stream component defaults to `default`. In order to prepare for #120920 and #120931, this reference should be made explicit.

part of #120920

## :heavy_check_mark: Acceptance criteria

- The shared log stream component's optional `sourceId` property is replaced by a required `logView` property.
- The new `logView` prop

[2021-12-09 15:26] weltenwort opened #120931 "[Logs UI] Inject internal configuration per consuming app"
## :notebook: Summary

Several usage sites of the shared log stream component rely on the `default` log view to be suitable for them. To prevent customization of the default log view by the user from breaking these components, the consumers of the component should define their own log view via the provided `logViews.defineInternalLogView()` function on the `infra` plugin's `setup` contract.

part

[2021-12-09 15:26] weltenwort opened #120932 "[Logs UI] Allow/require user to choose which configuration to use"
:warning: This is work in progress!

## :notebook: Summary

TBD

part of #120920

## :heavy_check_mark: Acceptance criteria

## :question: Open questions

### Explicit or implicit selection

Currently, the Logs UI (and the Metrics UI) implicitly use the `default` source configuration. This works because...

1. there are defaults for all values even no user saved any source configuration before and

[2021-12-09 15:27] pheyos opened #120934 "[ML] Job list displays error toast if index is missing for data view"
**Found in version**
- 7.16.0

**Browser**
- Chrome

**Steps to reproduce**
- Create a data view and then remove the corresponding index
- Navigate to the anomaly detection job list or to the data frame analytics job list

**Expected result**
- The job list loads without issues

**Actual result**
- An error toast is displayed - sometimes multiple times per data view, which can be very annoying
![i

[2021-12-09 15:27] elasticmachine commented on #120934
Pinging @elastic/ml-ui (:ml)

[2021-12-09 15:28] elasticmachine commented on #120932
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 15:33] jloleysens opened #120936 "[Reporting] Observed dangling Chromium headless browser processes"
**Kibana version:** 7.15.1

**Elasticsearch version:** 7.15.1

**Original install method (e.g. download page, yum, from source, etc.):**

Running in docker.

**Describe the bug:**

Sometimes there are dangling headless shell PIDs. Not exactly sure how this occurs. Could be something to do with Chromium
returning "page closed unexpectedly" error.

[code]

**Steps to reproduce:**

Not exactly sure h

[2021-12-09 15:33] elasticmachine commented on #120936
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-09 15:44] elasticmachine commented on #120927
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-09 15:46] jonathan-buttner commented on #119797
Hey @karanverma-qasource we figured it out, the issue is that the timerange does not include the explorer.exe process event. If you back the timerange up a year you'll see the explorer.exe process event in the Analyzer view. There's definitely some improvements we could make here to help the user understand that they're missing the analyzed event. I'm going to switch this issue to an enhancement t

[2021-12-09 15:49] kqualters-elastic commented on #117992
ya this would be expected, as 'rule.name' is not here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/public/common/lib/cell_actions/helpers.ts#L20 @marshallmain @madirey 'signal.rule.name', 'kibana.alert.rule.name' and 'rule.name' are we missing any others? how about for host name? we should also make the state where we don't have a header definition for a field look

[2021-12-09 15:57] michaelolo24 commented on #120741
@MadameSheema - Communicated with @andrew-goldstein on this issue and he graciously took a look at a 7.14 instance he has and saw that the message field was only actionable when the field was empty with (filter in and filter out). We can wait for confirmation from @monina-n, but based on Andrew's investigation I would say the above is correct.

[2021-12-09 16:02] #120896 closed

[2021-12-09 16:03] nerophon commented on #120340
The following has been proposed by a user:

- Fleet should name the logs and metrics index patterns "logs" and "metrics" explicitly. Don't use random ID's.
- Fleet shouldn't overwrite the logs and metrics index patterns if they already exist
- Users delete and re-create the logs and metrics index patterns so they include the remote cluster name i.e. *-cluster, and use the same logs and metrics nam

[2021-12-09 16:03] jbudz commented on #117112
I haven't, but +1 one on the compression thought.  Is there a proxy in front of Kibana, and does it support gzip/brotli?

[2021-12-09 16:06] alexfrancoeur commented on #120833
Thanks @lukeelmers !

[2021-12-09 16:21] #113436 closed

[2021-12-09 16:23] nreese commented on #107453
Closing, only failed once since August. Jenkins build with failure has been deleted so there is no way to investigate failure.

[2021-12-09 16:23] #107453 closed

[2021-12-09 16:24] nreese commented on #107454
Closing, only failed once since August. Jenkins build with failure has been deleted so there is no way to investigate failure.

[2021-12-09 16:24] #107454 closed

[2021-12-09 16:25] nreese commented on #105912
Closing, has only failed once. Jenkins build with failure has been deleted so there is no way to investigate failure.

[2021-12-09 16:25] #105912 closed

[2021-12-09 16:26] nreese commented on #105913
Closing, has only failed once. Jenkins build with failure has been deleted so there is no way to investigate failure.

[2021-12-09 16:26] #105913 closed

[2021-12-09 16:27] weltenwort commented on #112938
related: #47477

[2021-12-09 16:30] kpollich commented on #120903
@joshdover - I was actually just taking a deeper look at this and it seems like we might not actually have an idempotency issue w/ ML model installation:

https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/epm/elasticsearch/ml_model/install.ts#L86-L94

When Fleet installs ML Models, we specifically ignore `resource_already_exists_exception` exceptions from Elasticsear

[2021-12-09 16:30] nreese commented on #90858
Test is failing when kibana can not access EMS. Since this test has nothing to do with EMS, it should be re-written to use layer from elasticsearch to avoid failures when EMS is down.

screen shot from latest failure. Notice how EMS layer list is not populated.

<img width="500" alt="Screen Shot 2021-12-09 at 9 29 09 AM" src="https://user-images.githubusercontent.com/373691/145436354-2caf7982-c809

[2021-12-09 16:31] nreese commented on #50388
Closing, has not failed since August. Jenkins build with failure has been deleted so there is no way to investigate failure.

[2021-12-09 16:32] kibanamachine commented on #117783
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:32] kibanamachine commented on #117785
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117787
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117788
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117789
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117790
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117791
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117793
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117794
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117796
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117797
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117798
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117800
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117801
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:33] kibanamachine commented on #117802
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120947 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves left incompatible_mapping_exception if all reindex failures are due to a mapper_parsing_exception"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120948 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves left index_not_found_exception if source index does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120949 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves left target_index_had_write_block if all failures are due to a write block"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120950 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions reindex & waitForReindexTask resolves left if requireAlias=true and the target is not an alias"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine commented on #103231
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120951 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions verifyReindex resolves right if source and target indices have the same amount of documents"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120952 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions verifyReindex resolves left if source and target indices have different amount of documents"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120953 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions verifyReindex rejects if source or target index does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120954 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions openPit opens PointInTime for an index"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120956 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit requests documents from an index using given PIT"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120957 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit requests the batchSize of documents from an index"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120958 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit it excludes documents not matching the provided "query""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120959 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit only returns documents that match the provided "query""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120960 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit returns docs with _seq_no and _primary_term when specified"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120961 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit does not return docs with _seq_no and _primary_term if not specified"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120962 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions readWithPit rejects if PIT does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120963 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions closePit closes PointInTime"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120964 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions closePit rejects if PIT does not exist"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:34] kibanamachine opened #120965 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/actions/integration_tests - migration actions transformDocs applies "transformRawDocs" and returns the transformed documents"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5118#e1045189-67ee-4131-be71-08607288a066)

[2021-12-09 16:42] weltenwort commented on #117826
We removed the settings in the infra ui in 8.0.0 to prepare the path for supporting multiple configurations.

[2021-12-09 16:44] mattkime commented on #120799
This doesn't sound difficult but we could use more details about what is desired and how it might work from a UX perspective. Also, how does this relate OKRs / larger goals? So we can prioritize this correctly.

[2021-12-09 16:45] shahzad31 commented on #117826
i think this issue can be closed. Please reopen @jakommo if you think otherwise.

[2021-12-09 16:45] #117826 closed

[2021-12-09 16:48] marshallmain commented on #120871
I think it would make sense to continue defining the field names in the `rule-data-utils` package and simply move the definition of the field type out of the `technicalRuleFieldMap` into an experimental Observability-specific field map. The plugin(s) that need to register index templates can then pull the experimental field map in from the rule registry and register it as needed.

[2021-12-09 16:54] sebelga commented on #117547
Closing the issue as the test is running in `main` without problem.

[2021-12-09 16:54] #117547 closed

[2021-12-09 16:56] MakoWish commented on #112447
Simply changing `{{context.alerts}}` to `{{context.hits}}` did not work. With the Security Detection Rules, I could do this:

[code]

The email I would receive from such an alert would tell me "SERVER1 experienced an error!"

For this Alerting rule, the above did not work, but per @ymao1 suggestion, I tried:

[code]

Unfortunately, the email I receive when testing the rule simply says " experience

[2021-12-09 16:58] #107342 closed

[2021-12-09 16:58] sebelga commented on #117977
Closing the issue as the test is running on `main` without problem. This issue will reopen if the test is indeed flaky.

[2021-12-09 16:58] #117977 closed

[2021-12-09 17:04] michaelolo24 commented on #120741
We may be able to actually enable this moving forward as it seems the rationale behind disabling it on the ecs side may no longer exist. Going to make this issue an enhancement to enable it for messages

[2021-12-09 17:06] joshdover commented on #118214
It'd be nice if this API provided two modes:
- Reset preconfiguration mode
	- This would only delete & recreate the objects that are configured in the `kibana.yml` and not touch any other agent policies or package policies that were created by the user.
	- Agents enrolled in any of the policies that will be deleted will have to be unenrolled, else the policy revisions will get out of sync.
- Full

[2021-12-09 17:09] fkanout commented on #117697
Looking at the new messages, I assume we will use the following naming conversion for the time unit:
**sec, min, hour, day**

Would you confirm @vinaychandrasekhar? Thanks!

[2021-12-09 17:09] #120195 closed

[2021-12-09 17:09] #120568 closed

[2021-12-09 17:10] ymao1 commented on #112447
Ah yeah, you likely need to do `_source.host.name` to get the same values from the ES query rule context. Documentation available here: https://www.elastic.co/guide/en/kibana/master/rule-type-es-query.html

[2021-12-09 17:15] weltenwort commented on #119887
merged into #120932

[2021-12-09 17:15] #119887 closed

[2021-12-09 17:20] MakoWish commented on #112447
I actually just found that and was trying it out as I saw your reply come through. Any way we can push for some standardization on these? Having different methods to access the documents depending on the rule type or area of Kibana is a bit convoluted.

[2021-12-09 17:27] vinaychandrasekhar commented on #117697
Thanks for the question @fkanout

Two pieces of general guidance - short is better than long, and consistency with other areas of the product is better than inconsistency. Other than that, I'll look to @hbharding for his inputs here (he and I just chatted about this).

[2021-12-09 17:28] #114489 closed

[2021-12-09 17:31] #118859 closed

[2021-12-09 17:35] bhavyarm commented on #120137
cc @LeeDr

[2021-12-09 17:38] #120947 closed

[2021-12-09 17:38] #120948 closed

[2021-12-09 17:38] #120949 closed

[2021-12-09 17:38] #120950 closed

[2021-12-09 17:38] #120951 closed

[2021-12-09 17:38] #120952 closed

[2021-12-09 17:38] #120953 closed

[2021-12-09 17:38] #120954 closed

[2021-12-09 17:38] #120956 closed

[2021-12-09 17:38] #120957 closed

[2021-12-09 17:38] #120958 closed

[2021-12-09 17:38] #120960 closed

[2021-12-09 17:38] #120963 closed

[2021-12-09 17:38] #120964 closed

[2021-12-09 17:38] #120965 closed

[2021-12-09 17:39] #43084 closed

[2021-12-09 17:40] #42995 closed

[2021-12-09 17:41] #50365 closed

[2021-12-09 17:42] #50366 closed

[2021-12-09 17:42] #50367 closed

[2021-12-09 17:42] #50374 closed

[2021-12-09 17:42] #50376 closed

[2021-12-09 17:42] #50377 closed

[2021-12-09 17:42] #50378 closed

[2021-12-09 17:42] #53431 closed

[2021-12-09 17:42] #53432 closed

[2021-12-09 17:42] #53435 closed

[2021-12-09 17:42] #53436 closed

[2021-12-09 17:42] #53443 closed

[2021-12-09 17:42] #54871 closed

[2021-12-09 17:50] crisdarocha commented on #120384
The array sounds like a nice solution. Specially in ESS where deployments can have the most unexpected names.

[2021-12-09 17:50] mikecote commented on #120133
@Kushmaro we have logic to hide this option for non-Cloud customers. However, we felt it was still valuable to leave as-is for those customers who aren't starting a new deployment and don't have the pre-configured connector available on their deployment (I believe that's a limitation?). When choosing the Elastic Cloud service, we most likely use the same configuration as the pre-configured connect

[2021-12-09 17:55] kibanamachine commented on #117780
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5119#8681469f-3d5d-4871-984f-171c0cd98f0f)

[2021-12-09 18:13] spong commented on #120872
@deepikakeshav-qasource, was this an upgrade test by chance?

This appears to be a duplicate of this issue here: https://github.com/elastic/kibana/issues/118520

Where it's mentioned https://github.com/elastic/kibana/issues/118520#issuecomment-971622154:

Any additional details related to the above with when you're seeing this would be helpful. If not an upgrade, sounds like it could be a race con

[2021-12-09 18:15] jbudz commented on #113374
This should be fixed with https://github.com/elastic/kibana/pull/114940 targeting 7.15.2+.  I verified locally that Ctrl+C worked.  Can you give that version a try?

[2021-12-09 18:26] TinaHeiligers commented on #120667
@ryankeairns Do you have any suggestions on how to best display an odd number of metrics? We used to have 6 that aligned nicely on two rows or three each but now we're adding another one to make it 7. We could group a few more of the existing metrics into one card (response time ave & response time max, heap used & heap total) but then we'd again end up with an odd number of entries to display.

[2021-12-09 18:28] spong commented on #120905
As of https://github.com/elastic/kibana/pull/120053, this is now expected behavior.

I've opened this docs issue to document this change: https://github.com/elastic/security-docs/issues/1321

Thanks for the 🦅 👀 's on consistency here @deepikakeshav-qasource! 🙂 <img width="16" src="https://user-images.githubusercontent.com/2946766/141219243-86619f7f-c300-4355-96f5-316d70aa6a0e.png" />

[2021-12-09 18:28] #120905 closed

[2021-12-09 18:31] VimCommando commented on #118621
The only reason I manually tampered with the file was to _exactly_ recreate the issue that naturally occurred in a live cluster. I'm not sure how the original dashboard ended up in that state.

[2021-12-09 18:38] nickpeihl commented on #120452
Kibana does not store watches in the .kibana index. Rather Kibana interacts directly with the [Elasticsearch Watcher APIs](https://www.elastic.co/guide/en/elasticsearch/reference/current/watcher-api.html). So I think your request for version control details for watchers would be better suited to the [Elasticsearch repository](https://github.com/elastic/elasticsearch). Would you mind submitting you

[2021-12-09 18:38] #120452 closed

[2021-12-09 18:51] cauemarcondes opened #120987 "[APM] disable fleet depreaction warning"
Since we're going to have a new release version (7.17) we decided to not show the deprecation warning on 7.16

[2021-12-09 18:51] elasticmachine commented on #120987
Pinging @elastic/apm-ui (Team:apm)

[2021-12-09 18:56] kobelb commented on #117521
If you follow the instructions in https://www.elastic.co/guide/en/elasticsearch/reference/current/remote-clusters-privileges.html#clusters-privileges-ccs-kibana then CCS will work correctly for Alerting rules that execute using API Keys.

If you follow the instructions in https://www.elastic.co/guide/en/elasticsearch/reference/current/remote-clusters-privileges.html#remote-clusters-privileges-ccs

[2021-12-09 18:58] cauemarcondes opened #120989 "[APM][Fleet] Re-enable APM integration deprecation warning"
On https://github.com/elastic/kibana/pull/120988 I removed the deprecation warning when a user is running on cloud and doesn't have APM integration installed. We should check if we want to re-enable it for 7.17.

[2021-12-09 18:58] elasticmachine commented on #120989
Pinging @elastic/apm-ui (Team:apm)

[2021-12-09 19:00] kobelb commented on #117521
It'd be great for us to warn our users if they have misconfigured their roles, or explicitly state in the UI that their alerting rules failed to execute because of a privileges issue.

[2021-12-09 19:09] sqren commented on #118859
Regarding skeletons: I noticed this nice skeleton table on cloud the other day
![image](https://user-images.githubusercontent.com/209966/145460139-6fa18365-2d74-4f11-8d59-35be275b51da.png)

[2021-12-09 19:23] alexfrancoeur commented on #118967
@ruflin can the fleet team make these changes or do we need the core team to chime in given that this is the home plugin?

[2021-12-09 19:32] alexfrancoeur commented on #118967
As I think about this more, I'm a little concerned about the initial onboarding experience unless we put some serious thought into the UX. Given that this view is typically for new users, will someone starting a trial for instance have the username and password with that role specifically? To my knowledge, they only have the `elastic` username and password coming from cloud. If we do not go the AP

[2021-12-09 19:35] jportner opened #120993 "Add docs for `kibana-setup` CLI"
In #120836, we added docs for the `kibana-verification-code` CLI.

We should also add docs for the related `kibana-setup` CLI:

https://github.com/elastic/kibana/blob/7d081a97c97550b45f866bd788ae6cd0fc52c127/src/cli_setup/cli_setup.ts#L29-L37

[2021-12-09 19:35] elasticmachine commented on #120993
Pinging @elastic/kibana-security (Team:Security)

[2021-12-09 19:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5120#f32ee177-d5b4-4da5-8e89-5689a6ae513e)

[2021-12-09 19:59] tonymeehan commented on #118967
You've nailed the problem. One the one hand, we want to make it as easy as possible to get started. On the other hand, if we know this isn't the secure way to get started, then perhaps it's not the right way to get started, and we should make the secure/right way to get started as easy as possible -- especially since we know users may not go back and remove the insecure way of doing it.

We aren't

[2021-12-09 20:09] tsullivan opened #120995 "[Reporting] Problems with non-uniform enablement"
Replaces: https://github.com/elastic/kibana/issues/119914

Problem: Reporting in Kibana breaks down when the Reporting plugin is disabled on some instances but enabled on others. This is an unsupported configuration, but unfortunately it seems the user realizes that it's unsupported after their report task instances are are deactivated - Task Manager marks the stored task instance as unrecognized.

[2021-12-09 20:09] tsullivan commented on #119914
Rethinking this, we can come up with a plan that supports Reporting being disabled everywhere or enabled everywhere. Then the changes aren't breaking, since users legitimately disable reporting on every instance, and it doesn't create problems.

The problem to focus on is the unsupported environment where Reporting is disabled on some instances but enabled on others.

We should utilize https://git

[2021-12-09 20:09] #119914 closed

[2021-12-09 20:10] elasticmachine commented on #116194
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-09 20:11] #120987 closed

[2021-12-09 20:13] tsullivan opened #120996 "[Reporting] Document that disabling Reporting completely isn't recommended"
See https://github.com/elastic/kibana/issues/120995

When a user sets `xpack.reporting.enabled: false` in the kibana.yml, it creates a risk for Reporting to break down in other instances that have the Reporting plugin enabled.

The documentation on Reporting settings should state that instead of setting `xpack.reporting.enabled: false`, they should consider setting `xpack.reporting.queue.pollEnabl

[2021-12-09 20:14] elasticmachine commented on #120995
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-12-09 20:14] elasticmachine commented on #120995
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-09 20:19] neptunian opened #120999 "[Stack Monitoring] Incorrect Date Options in time picker"
Likely introduced during the angular migration to React, the time picker options have changed

7.15 Cloud (correct)
![Screen Shot 2021-12-09 at 3 03 30 PM](https://user-images.githubusercontent.com/1676003/145467707-55ba9b89-99fe-4c13-bcd9-5a3985ea8f9e.png)

7.16 Cloud (incorrect)

![Screen Shot 2021-12-09 at 3 17 01 PM](https://user-images.githubusercontent.com/1676003/145469479-7b96066f-f73d-40a

[2021-12-09 20:19] elasticmachine commented on #120999
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 20:23] tsullivan commented on #118477
Replacing with https://github.com/elastic/kibana/issues/120995

[2021-12-09 20:23] #118477 closed

[2021-12-09 20:25] elasticmachine commented on #114206
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-09 20:35] elasticmachine commented on #114273
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-09 20:53] chandlerprall commented on #119456
Testing against `main`, I've been unable to reproduce this or even encountered it once, nor in various DOM configurations I tried outside of Kibana.

[2021-12-09 21:05] marshallmain commented on #120906
Hi @deepikakeshav-qasource, can you provide more details about this bug?
1. Are there any errors on the Rule Details page for the rule that is not generating alerts?
2. Was the rule disabled before upgrading and then re-enabled after the upgrade was complete?

[2021-12-09 21:08] ThomThomson opened #121003 "[Dashboard][Canvas] Await IsEditable"
**Describe the bug:** the embeddable `isEditable` function is marked async, but its usages in `src/plugins/dashboard/public/application/top_nav/editor_menu.tsx` and `x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.tsx` are not awaited. This means that potentially embeddables that the user doesn't have permission for could show up in the list.

Thanks to @brianseeders

[2021-12-09 21:11] ravikesarwani commented on #105659
Looks like this alert is clearly not working on the default value (The condition is met if an index’s **average** shard size is 55gb or higher in the last 5 minutes) and generating false positive when using default rollover value of 50GB. Elasticsearch internal operations can increase the shard size to double temporarily and this can cause the false positive. If this is normal ES operation then we

[2021-12-09 21:14] roaksoax commented on #118866
@pgayvallet Happy to chat about the resourcing details elsewhere, but for the context of this issue, all of the recent work (in the past 1-2 years) that has happened in Kibana that involved Logstash, has been contributed by teams/people outside of Logstash.

[2021-12-09 21:25] nickofthyme commented on #118066
I was hopeful this fix would get into `7.16.1` but unfortunately it was MUCH more involved than expected. See fun stacking logic [here](https://github.com/elastic/elastic-charts/pull/1502/files#diff-acd6e74802be4ac50cc6efd7281e83432a694aeeec0ef571900c45edaca86347). I am working to add this to `8.0` in https://github.com/elastic/kibana/pull/120271.

[2021-12-09 21:25] dominiqueclarke opened #121006 "[Uptime] Add Locations to the UI Monitor Management Table"
As an Uptime user, I want to be able to tell at a glance which locations my monitors are run against.

**Feature description**
Add a locations column to the UI Monitor management table, located at `uptime/manage-monitors`.

**AC**
- When a user visits the UI Monitor Management table, their locations are displayed under a locations column with `EuiBadge` components displaying the label for each ass

[2021-12-09 21:25] elasticmachine commented on #121006
Pinging @elastic/uptime (Team:uptime)

[2021-12-09 21:36] nreese commented on #32316
Closing. This is a really vague issues that does not provide any details about what telemetry to actually add. Some additional telemetry has been added since this issue has been created.

[2021-12-09 21:36] #32316 closed

[2021-12-09 21:39] Heenawter opened #121009 "[Visualize][Dashboard] Linking a visualize embeddable that uses a saved search causes error"
**Kibana version:** 8.1.0

**Describe the bug:**
When a Visualization is created via a saved search (rather than an index pattern) and then linked to the library via the embeddable action on the Dashboard, the following error message appears in the panel:
![image](https://user-images.githubusercontent.com/8698078/145479583-b93efbbc-9dd2-473a-974e-33f52ddeb5ce.png)
The visualization also does not a

[2021-12-09 21:43] elasticmachine commented on #121009
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-09 21:44] cjcenizal opened #121014 "Version EOL is hidden from users"
@stefnestor Mentioned to me today that our users don't have clear visibility into when the version they're currently on will reach end-of-life. For reference, here are where we document our support commitments and version end-of-life schedule: https://www.elastic.co/support/eol. The problem is that users can be surprised by versions reaching end-of-life and being left unsupported when they encount

[2021-12-09 21:44] elasticmachine commented on #121014
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-09 21:47] #102817 closed

[2021-12-09 21:48] #113003 closed

[2021-12-09 21:49] nreese commented on #36224
Closing. Have not user request for feature

[2021-12-09 21:49] #36224 closed

[2021-12-09 21:49] #37920 closed

[2021-12-09 21:55] MichaelMarcialis commented on #120682
Hey, @nreese. I've put together a quick region map icon for you to use in the Lens visualization selector. The [SVG is available for download](https://drive.google.com/file/d/1T_Z5znpnOWiqh5lNcy-rMX6C5S79barn/view?usp=sharing) from my Google Drive. Let me know if this will work for you. Thanks!

![image](https://user-images.githubusercontent.com/3884767/145481812-b350f5f4-ea98-476a-96ec-75c867a300

[2021-12-09 21:59] kobelb commented on #119853
@xcrzx can we make `legacyGetBulkRuleActionsSavedObject` make multiple requests to `SavedObjectsClient#find` with a smaller number of alerts?

Also, do we need to load 10,000 detection rules? That's going to consume a lot of memory, and users almost certainly won't want to be viewing all 10,000 detection rules.

[2021-12-09 22:09] nreese commented on #50087
Closing. Issue is about dynamic mapping for geojson upload. That issue can be tracked with https://github.com/elastic/kibana/issues/40197

[2021-12-09 22:09] #50087 closed

[2021-12-09 22:20] paulb-elastic commented on #121006
Out of interest, will we store this in a different field to the current location that's made available from the `heartbeat.yml` `processors` (i.e. the location property is the same for monitors of either type, so a common UI could show location from the same field)?

[2021-12-09 22:20] nreese commented on #120682
@MichaelMarcialis Thanks for putting together an icon. Is there anyway we could make the following changes?
* The large gaps between dark areas look more like rivers or roads then administrative boundaries and do not give a good representation of what a regionmap visualization looks like
* Would it be possible to show some graduation in greys wrt shapes, See image below for what the product looks

[2021-12-09 22:27] LeeDr opened #121022 "Alerts and rules menu from Monitoring stays visible when navigating to Discover"
**Kibana version:** 8.0.0-SNAPSHOT

**Elasticsearch version:** 8.0.0-SNAPSHOT

**Server OS version:**CentOS7

**Browser version:** Edge

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** rpm packages

**Describe the bug:** The `Alerts and rules` menu from Monitoring doesn't clear when navigating away to other plugins.  For example, it's visible

[2021-12-09 22:27] elasticmachine commented on #121022
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-09 22:29] 1Copenut commented on #117550
Talked with @cchaos on Slack about this one. The EuiLink is using a `font-weight: 500` declaration to set itself apart from text around it. Additionally:

I'm going to close this issue as resolved given the context around the visual decision. It meets the spirit of the linked WCAG SC 1.4.1 above. We can revisit in a wider context later if needed.

[2021-12-09 22:29] #117550 closed

[2021-12-09 22:41] SpencerLN commented on #105659
@ravikesarwani unless I am missing something, I don't see a way to adjust the lookback period:
![image](https://user-images.githubusercontent.com/6659148/145487120-022dc1bf-31d0-4809-be92-c29b4357ee9f.png)

I've adjusted the threshold value to 75GB and will leave it to run over the weekend and see how things look.

[2021-12-09 23:05] lchdev commented on #113374
I confirm this is now working properly in version 7.15.2.  Thanks !

[2021-12-09 23:05] stefnestor opened #121025 "[ML UI] Says job failed create but actually creates causing duplicate error on next creation attempt"
**Kibana/Elasticsearch version:** 7.15.2
**Server OS version:** Mac (11.6.1)
**Browser version:** Firefox (94.0.2)
**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:** Kibana will error ML job failed create but actually creates causing duplicate error on next attempt.

**Steps to reproduce:**
1. Create test ESS deployment
1. Create new Anomaly Detect

[2021-12-09 23:05] elasticmachine commented on #121025
Pinging @elastic/ml-ui (:ml)

[2021-12-09 23:09] jbudz commented on #113374
Great - closing this out

[2021-12-09 23:09] #113374 closed

[2021-12-09 23:09] yakhinvadim commented on #115112
Sorry for not getting back earlier. I resurfaced this issue and [another one](https://github.com/elastic/kibana/issues/115266) to our leads and I expect them to prioritize the work. I don't think a decision has been made yet.

[2021-12-09 23:20] gchaps commented on #120727
This text LGTM.

[2021-12-09 23:29] kibanamachine commented on #113043
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/407#40aa0804-9f70-4f0f-a04d-77ef1a7ebcae)

[2021-12-10 03:25] mattkime commented on #21554
We now have an API that can be used to create index patterns - https://www.elastic.co/guide/en/kibana/current/index-patterns-api.html

Closing this issue as its been stale for a while but feel free to reopen if needed.

[2021-12-10 03:25] #21554 closed

[2021-12-10 05:32] kibanamachine commented on #89079
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5150#71ca9fa9-f1a8-4d08-949b-4e0232d59376)

[2021-12-10 06:15] Sandy381 commented on #15958
+1

[2021-12-10 06:16] Sandy381 commented on #17301
+1

[2021-12-10 06:17] Sandy381 commented on #17301
+1

[2021-12-10 06:54] muneebsajjad commented on #120477
I can take this up, a tiny effort to start contributing to the open source

[2021-12-10 07:43] kibanamachine commented on #106650
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5163#6ba96d41-ddb4-4031-9244-01a7b7e97b1c)

[2021-12-10 08:56] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5158#fd75e97a-7dc2-4e0b-9f96-ee34fb412d2d)

[2021-12-10 09:36] #87332 closed

[2021-12-10 09:39] pgayvallet commented on #119853
Yea, that was going to be my next question. If the request is initiated from the UI, I'm assuming adding pagination would solve this altogether? Displaying 10k, or even 1k, item in a simple page of a table doesn't make much sense in term of usability?

[2021-12-10 09:47] LeyaSi commented on #120484
Can confirm potential workaround @fssup suggested works 👍
_A potential workaround for users for now would be to download the whole dashboard under Stack management -> Saved Objects, edditing the missing index pattern ID for one that does exist and importing the object with overwrite enabled._

1. Open saved objects .ndjson
2. Replace old id with new one
3. Import backup and confirm changes for len

[2021-12-10 09:51] kibanamachine commented on #104249
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5168#efd2fdf4-cdd6-4452-9685-9f712de27b47)

[2021-12-10 09:52] #120833 closed

[2021-12-10 10:50] stanosamek commented on #112091
Hi,

is anything new about this issue? We have the same problem.

[2021-12-10 10:52] kibanamachine commented on #104249
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5171#ea3c64d2-1bd1-440d-b7d4-4ed88813c87c)

[2021-12-10 11:37] muneebsajjad commented on #120477
@formgeist  can you look into [this](https://github.com/elastic/kibana/pull/121032) PR a few checks are failing, it's my first time contributing to a public repo, pardon me if I miss any flow.

[2021-12-10 11:38] Raboo commented on #119288
@nickpeihl ^^
At least tell me that I am wrong. Then I know this is a config error and I need to use the forums.

[2021-12-10 12:01] kibanamachine commented on #118478
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5173#591d60ef-097d-4884-a558-a243b167f8da)

[2021-12-10 13:48] kibanamachine commented on #104249
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5180#eb43ce84-a021-48fb-9d56-60bbc203e358)

[2021-12-10 13:56] Wout71 opened #121035 "Logstash output on Fleet Managed Elastic Agent."
Currently we are implementing Elastic SaaS (ES) on Azure. We are using version 7.16
As we are going to use Logstash as our logcollector (on premise server) and prefer deployment of Elastic Agent through Fleet instead of Beats, we would like  the following feature:

- Possbility of Logstash output on Fleet managed Elastic Agent.

This will enable us to manage all agents from Kibana and also make us

[2021-12-10 15:31] mshustov commented on #120201
@delvedor suggested deleting the `x-elastic-product-origin` header on the Transport level. I don't think it's possible (see  https://github.com/elastic/elasticsearch-js/blob/7.16/lib/Transport.js#L382) because `prepareRequest` is called inside of `Transport.request` method. We can work around it by conditionally **setting** the header in KibanaTransport:
[code]

After thinking a bit more, I realiz

[2021-12-10 15:40] sqren commented on #112091
@dannycroft I think we should fix this for 8.1

[2021-12-10 16:09] jportner opened #121038 "Import saved object does not prefer exact match when using `overwrite=true`"
When importing or copying a saved object, conflict destination checking occurs based on the object's _origin_.
An existing object could have a matching origin without having the same object `id`.
The object's origin is its `originId` by default, or if that field is undefined, it is the object's `id`.

When multiple conflict destinations are found, the "exact match" should always be preferred if po

[2021-12-10 16:09] elasticmachine commented on #121038
Pinging @elastic/kibana-security (Team:Security)

[2021-12-10 16:50] elasticUser472 opened #121039 "Persist auto refresh settings for Kibana Canvas"
**Kibana version:**
7.15.2
**Elasticsearch version:**
??
**Server OS version:**
??
**Browser version:**
Google Chrome
**Browser OS version:**
Version 95.0.4638.69
**Original install method (e.g. download page, yum, from source, etc.):**
??
**Describe the bug:**
Auto refresh settings do not persist on Canvas when entering a value (i.e. 15 s)
**Steps to reproduce:**
1. Open Canvas. Go to View -> Aut

[2021-12-10 17:27] flash1293 commented on #113043
Seems like this was a CI problem:
[code]

[2021-12-10 17:27] #113043 closed

[2021-12-10 17:57] ghudgins commented on #66222
user who would also like explicit "color by value" options for the comparison metric https://discuss.elastic.co/t/is-it-possible-to-change-the-color-of-a-submetric-inside-a-metric/291404/

[2021-12-10 18:39] omegahack0 commented on #117548
Hey Nick so what I had in my mind was having a variable that you could call in a tsvb visualization, that would represent the amount of time that the user has selected for their timespan. So within the Math function of the tsvb visualization you could take something like the count of the amount of records you got and then divide that by the variable Im suggesting and that would give you the the av

[2021-12-10 18:44] elasticmachine commented on #117548
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-10 18:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5188#bce2387e-d8e3-49c8-bcea-a266cc50b7cf)

[2021-12-10 20:16] EricPSU opened #121041 "Setting to exclude the Header/Footer when generating iFrame code to share a Dashboard"
Issue #[17298](https://github.com/elastic/kibana/issues/17298) introduced a configurable option to create a header (and soon footer) that persists on all screens in Kibana.

Requesting the ability to exclude this header/footer from the "Include" portion of the embed options when generating iFrame code to share a dashboard.

![image](https://user-images.githubusercontent.com/25805189/145635392-adaa

[2021-12-10 20:36] ghudgins commented on #104940
+1 from a someone's short list of issues:

[2021-12-10 22:28] jonasll commented on #115112
Thank you all for raising this. I do not personally think _License Handling_ needs to happen at the Integrations page level, if I'm honest. And if it does, it should be a broader conversation across all solutions to determine if (1) license-tied connectors are a thing, and (2) how to tackle it for the broader platform.

Two additional points of context:
a) Most connectors have a semi-Platinum requ

[2021-12-10 22:42] jonasll commented on #115266
**A few thoughts:**
1. This screen will appear on 2 main occasions: (i) on Elastic Cloud, after a cluster has made the decision to autoscale down (i.e. shut down) an Enterprise Search node, and (ii) for self-managed deployments when a new user is exploring and has no context as to what Enterprise Search is, and why it should be running independently.
2.  For item (i), this is being solved with bet

[2021-12-11 00:53] kibanamachine commented on #115489
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5214#c1c4b060-a2f1-4e5c-a03b-cd57ecebd086)

[2021-12-11 01:42] kibanamachine commented on #119267
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5217#564d8c6a-db93-4176-8ae6-a97a7f90b879)

[2021-12-11 02:42] kibanamachine commented on #119267
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5218#2f3412fb-330d-4c68-823f-1523aeab6494)

[2021-12-11 03:44] kibanamachine opened #121044 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/reporting·ts - Reporting List reports view"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5223#c2aafbca-a94a-463d-8f64-cbbe0324c6c7)

[2021-12-11 11:34] kibanamachine commented on #119770
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5245#d909087d-bf92-4b71-be82-d4f5d3aa5701)

[2021-12-11 15:04] berkoaviv opened #121047 "Discover new document explorer - single cell view error"
**Kibana version:**
7.16.0
**Elasticsearch version:**
7.16.0
**Browser version:**
Chrome and Edge

**Describe the bug:**
When trying to view a quick cell content in the new table explorer when it is part of a dashboard, the entire table disappears.
**Steps to reproduce:**
1. Change from classic document to new document explorer in Kibana settings
2. Create a save search in Discover Tab
3. Add this

[2021-12-11 15:50] pdsuthar10 commented on #120477
I would like to try solving this issue to start my journey into open source.

[2021-12-11 20:51] kibanamachine opened #121049 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation·ts - machine learning data frame analytics regression creation electrical grid stability edits the analytics job and displays it correctly in the job list"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5273#4d72ac22-5063-45f3-9d37-5818cef7efb4)

[2021-12-11 21:57] kibanamachine commented on #120440
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5277#48d0a9fc-def8-4d61-a8d7-1e4352739c96)

[2021-12-11 23:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5276#5d070c08-7858-4b86-ac2e-7eb3eecb8a2d)

[2021-12-12 01:06] kibanamachine opened #121050 "Failing test: X-Pack Saved Object API Integration Tests -- spaces_only.x-pack/test/saved_object_api_integration/spaces_only/apis/bulk_create·ts - saved objects spaces only enabled _bulk_create within the default space with overwrite enabled "before all" hook for "should return 200 success [isolatedtype/defaultspace-isolatedtype-id,isolatedtype/space1-isolatedtype-id,isolatedtype/space2-isolatedtype-id,sharedtype/all_spaces,sharedtype/default_and_space_1,sharecapabletype/only_default_space,globaltype/globaltype-id,dashboard/new-dashboard-id,sharedtype/new-sharedtype-id,globaltype/new-globaltype-id,isolatedtype/new-other-space-id,sharecapabletype/new-other-space-id,sharedtype/new-each-space-id,sharedtype/new-all-spaces-id] and bad request [hiddentype/any,isolatedtype/new-other-space-id,sharecapabletype/new-other-space-id] and conflict [sharedtype/only_space_1,sharedtype/only_space_2,sharecapabletype/only_space_1]""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5286#9cc3074b-dc1b-4aa5-b17d-f31e2bf84e08)

[2021-12-12 01:32] kibanamachine commented on #77969
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5287#b1b8c370-a625-44b8-b23d-210dab3dc2d4)

[2021-12-12 07:14] kibanamachine opened #121051 "Failing test: API Integration Tests.test/api_integration/apis/home/sample_data·ts - apis home apis sample data apis install in the default space should load elasticsearch index containing sample data with dates relative to current time"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5305#2d62cbe4-6bc2-48b6-9b45-91ee06e80706)

[2021-12-12 14:54] kibanamachine commented on #117778
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5322#0c32ac35-6271-4395-aa55-51061fa778e2)

[2021-12-12 16:46] robcowart commented on #119456
@chandlerprall I can't speak to `main`, but the same issue still exists in 7.16.0.

[2021-12-12 18:41] dminovski0 commented on #120878
I've got similar errors, using Windows 10. Cloned Kibana with `git clone https://github.com/elastic/kibana.git` and installed `yarn` with `nvm`. With CMD:

yarn run v1.22.15
$ node scripts/kbn bootstrap
 info [bazel_tools] installing Bazel tools
 succ [bazel_tools] all bazel tools are correctly installed
 info [bazel] WARNING: Running Bazel server needs to be killed, because the startup options ar

[2021-12-12 20:17] ravikesarwani commented on #105659
@SpencerLN I forgot we have this option missing in this rule. I had opened https://github.com/elastic/kibana/issues/111889 for this that we still have to fix. @jasonrhodes @neptunian can we get https://github.com/elastic/kibana/issues/111889 fixed. In that I have suggested to increase the default to 15 minutes so short spikes (because of internal ES operations) doesn't cause a false positive alert

[2021-12-12 20:38] kibanamachine commented on #99879
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5346#a6061644-08d0-488f-a78a-a51a795db378)

[2021-12-12 21:33] sqren commented on #45272
This has been replaced with the log-log distribution chart. Closing

[2021-12-12 21:33] #45272 closed

[2021-12-12 21:34] #85527 closed

[2021-12-12 22:47] kibanamachine commented on #117780
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5351#181638f5-3796-4659-bb2a-6e56a0356451)

[2021-12-13 04:51] kibanamachine commented on #104249
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5369#4000e618-4075-485e-b6d0-481777991bdf)

[2021-12-13 05:14] cjcenizal commented on #116327
There's a cross-team effort to address these types of logs so I'll close this for now.

[2021-12-13 05:14] #116327 closed

[2021-12-13 05:14] deepikakeshav-qasource commented on #120906
Hi @marshallmain ,

**Please find the errors under rule Details page after upgrade to 8.0.0:**

![image](https://user-images.githubusercontent.com/61860752/145753748-b145634e-63b3-4a05-bffb-f78b7c538b45.png)

**No, Rule was not disable before upgrade. We enable the rule before upgrade.**

**Screenshots:**

**7.16.0 [Enabled Rule]**
![custom_enable](https://user-images.githubusercontent.com/6186075

[2021-12-13 05:15] elasticmachine commented on #120869
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-13 05:15] elasticmachine commented on #120757
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-13 05:21] matschaffer commented on #112512
@jasonrhodes this has come up near the top of "Ready" but it feels way to large to work on as-is.

I'm guessing each of @estermv 's notes could be an issue on their own. "Re-write setup mode" feels like an epic really.

@estermv or @jasonrhodes what would you recommend as a good "do first" from this issue, if anything?

[2021-12-13 05:22] matschaffer commented on #112512
Actually, the above has me thinking this should really be in "refining" so I moved it there for now.

[2021-12-13 05:50] GrahamHannington commented on #85013
Is there any progress on this issue, or any other issue being worked on that might help here? I get the feeling that I'm missing something, or coming at this from the wrong angle: only 3 comments on this issue and no one assigned? I would have thought this was a common use case: a set of dashboards presented as a hierarchy, and for Kibana to show your position in that hierarchy.

[2021-12-13 05:59] deepikakeshav-qasource commented on #120872
Hi @spong

It is not an upgrade issue. we did not upgrade the build.

Yes, It is fresh install 8.0.0 SNAPSHOT. Please Find the more below observations:

- It is an intermittent issue.
- In failed rule we have performed some scenarios like
       1. After created the rule
       2. Edit the rule and added the action and save it
       3. Then disable the rule and observe that rule is getting failed

[2021-12-13 06:19] GrahamHannington commented on #70653
Related suggestion: Enhance the existing dashboard breadcrumb trail to show available dashboards in a "flyout" menu hierarchy. This will involve enabling dashboard developers to organize dashboards in a hierarchy, similar to organizing bookmarks in folders in web browsers.

[2021-12-13 06:39] elasticmachine commented on #121049
Pinging @elastic/ml-ui (:ml)

[2021-12-13 06:53] pheyos commented on #121049
Failure screenshot:
![image](https://user-images.githubusercontent.com/1945390/145765706-5caa60a9-57fb-470b-ad35-c55364f2c5b7.png)

I think this is fixed with #116455 in 8.0 (will probably be backported to 7.17).

[2021-12-13 08:07] christianhuening commented on #48687
Please do this, we just have bought a couple of licenses and people are already fighting over whether the dark or the light side is the best :)

[2021-12-13 08:24] #119332 closed

[2021-12-13 08:52] GrahamHannington commented on #70653
I had a harebrained idea to use a script inside an SVG inside a TSVB Markdown panel to query the `dashboardStateManagerPanels` key in session storage, because I notice that key contains the current view ID (e.g. the current dashboard displayed in Kibana), and so I thought I might be able to use that to build a dashboard navigation tree that was aware of the current location; but, nope, I got a "Re

[2021-12-13 09:04] jloleysens opened #121056 "[Reporting] Run diagnostics should provide a clickable link"
**Kibana version:** master 8.1.0 (tested onc4e8cb3594b0b5dd81e0cda735831508c26afa81)

**Describe the bug:**

When running diagnostics in Stack Management > Reporting to check whether Chromium is working the following text may be displayed:

![should-be-a-link](https://user-images.githubusercontent.com/8155004/145782677-2ef84057-5ecd-4572-b979-156b7f0e8c51.png)

**Expected behavior:**

The highligh

[2021-12-13 09:04] elasticmachine commented on #121056
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-13 09:27] kibanamachine opened #121057 "Failing test: Jest Tests.packages/kbn-cli-dev-mode/src - BasePathProxyServer shouldRedirect it will do a redirect if it detects what looks like a stale or previously used base path"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5385#bfc82a5d-363f-460a-8ea0-f365c7355124)

[2021-12-13 09:48] mshustov opened #121058 "ConfigService.isEnabledAtPath validates the whole plugin config"
**Kibana version:** main

**Steps to reproduce:**
related to
1. declare `xpack.reporting.capture.browser.chromium.disableSandbox: true` in `kibana.yml`
2. start Kibana
3. Kibana fails with `Error: [config validation of [xpack.reporting].capture.browser]: definition for this key is missing`

**Expected behavior:**
Kibana applies deprecations from https://github.com/elastic/kibana/blob/c4e8cb3594b0b

[2021-12-13 09:48] elasticmachine commented on #121058
Pinging @elastic/kibana-core (Team:Core)

[2021-12-13 09:49] amolnater-qasource opened #121059 "[Fleet]: Error when creating an Agent Policy, seen after editing an Integration / package policy that is used in other Agent Policies"
**Kibana version:**  7.16.0, 7.16.1, 8.0.0-SNAPSHOT, 8.1.0-SNAPSHOT

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Minimum steps to reproduce:**
1. Create two Agent policies with "Collect system logs and metrics" enabled, called `test1` and `test2`
2. Edit the system package policy in the `test1` policy
3. Try to create a new policy `test3` with "Collect system logs and m

[2021-12-13 09:49] elasticmachine commented on #121059
Pinging @elastic/fleet (Team:Fleet)

[2021-12-13 09:55] amolnater-qasource commented on #121059
@manishgupta-qasource Please review.

[2021-12-13 10:12] jgowdyelastic commented on #121025
This error is being caused because we create the job saved object after successfully creating the job in elasticsearch.
We might be able improve the text in the error toast to reflect this.

One important factor to acknowledge here: `e.g. temporarily close .kibana to not allow updated docs` if this is the case then kibana will not be in a stable state, all kinds of other things will be broken.
I t

[2021-12-13 10:15] flash1293 commented on #117548
This is related to https://github.com/elastic/kibana/issues/94605 - there are different ways we could expose functionality to cover this use case.

[2021-12-13 10:37] xcrzx commented on #119853
Yes, it's possible. Still, I think it would be good to optimize the ES query sent by `SavedObjectsClient.find`. Currently, it's putting every `reference.id` in its own clause, which generates 200Kb JSON per 1000 rules requested. That creates unnecessary pressure on the network, increases parsing time, etc.

So optimizing the query on the SO client side + chunking requests on the solution side woul

[2021-12-13 10:44] sqren opened #121062 "[APM] Fix docs for `xpack.apm.searchAggregatedTransactions`"
In 8.0 `xpack.apm.searchAggregatedTransactions` has been changed to default to `auto`:

https://github.com/elastic/kibana/blob/c4e8cb3594b0b5dd81e0cda735831508c26afa81/x-pack/plugins/apm/server/index.ts#L40

The [documentation](https://github.com/elastic/kibana/blob/8.0/docs/settings/apm-settings.asciidoc#L76-L78) needs to be updated to reflect this (`never` is still listed as the default) and rem

[2021-12-13 10:44] elasticmachine commented on #121062
Pinging @elastic/apm-ui (Team:apm)

[2021-12-13 10:48] manishgupta-qasource commented on #121059
Reviewed & mention to @kpollich

CC: @EricDavisX

[2021-12-13 10:56] dej611 opened #121063 "[Lens] CSV download does not filter partial columns from formula"
**Describe the bug:**

Partial columns (hidden, generated by the formula's feature) are exported and downloaded in the CSV file generated.

**Steps to reproduce:**
1. Create a Lens XY chart with a formula like `unique_values( fieldA ) / count()`
2. Download the CSV
3. 3 columns for `unique_values( fieldA )` will be present as `Part-of X` , together with the final formula column (all with the same

[2021-12-13 10:56] elasticmachine commented on #121063
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-13 10:56] joshdover commented on #120102
Hi there, thanks for filing an issue. This is expected behavior today with the OsQueryBeat and Endpoint integrations. I recommending opening a new feature request in the [elastic/beats](https://github.com/elastic/beats) repo where Elastic Agent is developed to explain how this functionality is a problem for your use case so we can help determine a better solution.

[2021-12-13 10:56] #120102 closed

[2021-12-13 10:58] pgayvallet commented on #121058
That's strange: the deprecations are supposed to be applied before anything in the config service:

https://github.com/elastic/kibana/blob/94aa791a49e2d809ec0cbdfebe8c439ec923a912/packages/kbn-config/src/config_service.ts#L71-L76

[2021-12-13 11:04] MadameSheema commented on #117992
@samratbhadra-qasource can you please open a separate ticket for the issue you found? Thanks :)

[2021-12-13 11:05] Mpdreamz commented on #121062
The docs should also remove the `experimental` annotation.

[2021-12-13 11:06] MadameSheema commented on #120898
@karanbirsingh-qasource can you please take the same screenshot after clicking on Advanced options in order to see the data views? thank you

[2021-12-13 11:09] afharo commented on #121058
We've identified this issue to occur here: https://github.com/elastic/kibana/blob/32d0e877249121364f7adef97bd2cee530feb152/packages/kbn-config/src/config_service.ts#L180

Ha! That's an interesting comment! It looks like there's a race condition: Reporting's plugin is validated before Screenshotting's deprecation is applied.

I guess we'll need to change this piece of logic to ensure that all depre

[2021-12-13 11:12] flash1293 commented on #119456
I can't reproduce it either on master, maybe the latest EUI update fixed this? There were some changes in this area https://github.com/elastic/eui/pull/5376 https://github.com/elastic/eui/pull/5284 As this seems fixed I'm going to close the issue (the current state of main will be released in 8.1)

[2021-12-13 11:12] #119456 closed

[2021-12-13 11:14] robcowart commented on #119456
@flash1293 can you share a screenshot of it working for you?

[2021-12-13 11:14] pgayvallet commented on #121058
Nevermind my last comment, if any method using the config is called before the deprecations are effectively registered by the plugins, they won't be applied / used.

[2021-12-13 11:25] philippkahr opened #121064 "[Fleet][Integrations] Show changelog on upgrading integration"
**Kibana version:** 7.16.0

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:**

There are "two" issues.
1. The windows integration is has released 1.5.0 version. I was still running 1.2.2.
2. When going to the integration page and then selecting the windows event log integration, I got the "update available" checkmark warning.
3. ~~When going throu

[2021-12-13 11:29] flash1293 commented on #119456
Sure:
![Kapture 2021-12-13 at 12 27 33](https://user-images.githubusercontent.com/1508364/145804503-23c12329-375c-4456-bb39-1e970bfc5b99.gif)

[2021-12-13 11:30] robcowart commented on #119456
Yeah, that looks correct. When will the current fix in `main` make it into a release?

[2021-12-13 11:36] flash1293 commented on #120484
I can't reproduce on 7.16, closing. @fssup if this is still a problem for you in 7.16 feel free to re-open

[2021-12-13 11:36] #120484 closed

[2021-12-13 11:37] flash1293 commented on #119456
@robcowart Unfortunately it will be a few more months, there is no fixed release date yet.

[2021-12-13 11:53] #120918 closed

[2021-12-13 12:03] azasypkin commented on #120396
Hmm, looks like a clean-up issue. The `userEast` is created in completely different test (`x-pack/test/functional/apps/security/doc_level_security_roles.ts`). We should probably remove this user in the `after` hook in that test, but I have no idea why it only matters in the Cloud test suite.

[2021-12-13 12:05] karanbirsingh-qasource commented on #120898
Sure @MadameSheema please find below the required screen-cast

![image](https://user-images.githubusercontent.com/59917825/145809117-fd7ffffe-06ba-4e48-be9c-ffd4dc52f4b8.png)

https://user-images.githubusercontent.com/59917825/145809134-af10b6fc-97de-4358-b060-9f4ded0f26d8.mp4

[2021-12-13 12:14] jlind23 opened #121069 "[Fleet] Give the ability to set up elastic agent download timeout"
As part of the policy we should give the ability to the customer to set up "agent.download.timeout: 10s" through the UI instead of letting them do it in the fleet.yml config.

[2021-12-13 12:14] elasticmachine commented on #121069
Pinging @elastic/fleet (Feature:Fleet)

[2021-12-13 12:15] estermv commented on #119499
@claudiopro sorry I was on PTO last week. For the next time, if you don't hear from me, I would suggest pinging the team if you need a quick response.

I'll close this as it seems to be fixed by https://github.com/elastic/kibana/pull/120400 and it's also duplicated by https://github.com/elastic/kibana/issues/120896.

@claudiopro could you please update the status for the observability plugin in th

[2021-12-13 12:15] #119499 closed

[2021-12-13 12:32] joshdover commented on #105480
Testing this will need to be done on-prem since we do not allow users to force unenroll agents on managed policies in the UI so there is no way to simulate an unhealthy Fleet Server.

Testing instructions:
1. Start ES 8.0 and Kibana 8.0 on-prem / locally without setting up Fleet Server
2. Navigate to Fleet and verify that the normal Fleet Server instructions are displayed:
	<img width="1320" alt="

[2021-12-13 12:35] fssup commented on #120484
Updated installation to 7.16.2, can confirm clicking the gear icon and "Edit Lens" now properly lets us edit the Lens, and also tells us the exact problem and a way to resolve it.
![image](https://user-images.githubusercontent.com/64262521/145813201-87d101df-0820-4ba8-bf20-6157a80e3ece.png)

This issue is now solved as of at least 7.16.2.

[2021-12-13 12:43] #120486 closed

[2021-12-13 12:51] #117118 closed

[2021-12-13 12:55] MurageKibicho opened #121074 "Feature Request: Binomial Coefficient Entropy Coding for Inverted Index Postings"
- Feature Name: Binomial Coefficient Entropy Coding for Inverted Index Postings
- Status: draft
- Start Date: 2021-12-13
- Authors: Murage Kibicho

# Summary
This is a proposal for encoding inverted index integer sequences using a number system based on binomial coefficients.
This number system is chosen because the [minimum number of bits](https://arxiv.org/abs/1908.10598) needed to encode a list

[2021-12-13 13:02] mshustov commented on #121058
This solution is not scalable. Let's validate the config (read `enabled`) after all the deprecations are applied.

[2021-12-13 13:23] juliaElastic opened #121079 "[Fleet] Dry run gives misleading error when package policy has latest version"
**Kibana version:** 7.16

**Elasticsearch version:** 7.16

**Original install method (e.g. download page, yum, from source, etc.):** Download page

**Describe the bug:**
When package policy has latest version (same as base package), dry run call gives an error response (and logged as ERROR server log).
This is misleading because the package can not be updated (already on latest version).

**Steps

[2021-12-13 13:23] elasticmachine commented on #121079
Pinging @elastic/fleet (Team:Fleet)

[2021-12-13 13:24] #98904 closed

[2021-12-13 13:25] #99563 closed

[2021-12-13 13:26] elasticmachine commented on #121057
Pinging @elastic/kibana-core (Team:Core)

[2021-12-13 13:26] #119737 closed

[2021-12-13 13:28] claudiopro commented on #119499
Sure thing! Apologies for the lack of comms, I'm still familiarizing with team structure 😇

[2021-12-13 13:29] kpollich commented on #120903
I spoke with @alvarezmelissa87 last week about this since she implemented all of Fleet's support for ML assets in integrations. She had no concerns about idempotency or duplication as a result of multiple concurrent installs of ML assets, so it seems like we can close this out.

[2021-12-13 13:29] #120903 closed

[2021-12-13 13:29] elasticmachine commented on #121051
Pinging @elastic/kibana-security (Team:Security)

[2021-12-13 13:30] elasticmachine commented on #121050
Pinging @elastic/kibana-core (Team:Core)

[2021-12-13 13:35] elasticmachine commented on #121051
Pinging @elastic/kibana-core (Team:Core)

[2021-12-13 13:36] EricDavisX commented on #120731
@dikshachauhan-qasource can you help re-test this please?
@sagarnagpal-qasource can you help us do a review on if this would have been caught in regular qa testing (if we have a test case for it) ?  thanks.

[2021-12-13 13:37] flash1293 commented on #121009
This bug might be pretty important - it's not just losing the linked saved search, it's also dropping all filters/query within the visualization which can lead to very strange behavior. I'm preparing a fix.

[2021-12-13 13:37] mistic commented on #118478
This test keeps failing and looks flaky. Skipping for now.

7.16: 54dd3f3

[2021-12-13 13:43] mistic commented on #104249
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 30786a6
8.0: 8a2f610

[2021-12-13 13:45] mistic commented on #120440
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 862f1a9

[2021-12-13 13:46] elasticmachine commented on #121057
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-13 13:48] mistic commented on #119267
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 38aa34f
8.0: 97bda08

[2021-12-13 13:52] mistic commented on #117780
This test keeps failing and looks flaky. Skipping for now.

main/8.1: 6e62f5a
8.0: 304559a

[2021-12-13 13:56] ruflin commented on #118967
We can likely split this into two paths that might merge into one:

* Users that already know they want and API key and are willing to find the right place
* New users onboarding

We don't have a solution for either of the two today. For the first one, we mainly need a place where this can happen in a simple way that we can link to. The second is likely trickier from a UX perspective. But hope is

[2021-12-13 14:05] dominiqueclarke opened #121085 "[Fleet] Multi field mappings are not being applied for fields of type 'wildcard'"
For index templates generated by integration packages, multi fields mappings are not applied for fields of type 'wildcard'.

For example, the mapping of the `url.full` field, which contains multi field mappings, resolves to
[code]

As the ecs definition contains `multi_fields`, the type should resolve to

[code]

**Kibana version**: 8.1.0

**Elasticsearch version**: 8.1.0

[2021-12-13 14:05] elasticmachine commented on #121085
Pinging @elastic/fleet (Team:Fleet)

[2021-12-13 14:09] claudiopro commented on #120660
Hmm I may have to ask you to ELI5, let's chat about this at today's meeting.

[2021-12-13 14:11] paulb-elastic commented on #120813
Pushing to the backlog for a future optimisation

[2021-12-13 14:13] machadoum opened #121086 "Hosts Risk Step 3 - Filter"
**Add risk level filtering and sorting to Host page**
* The filter should work for every query on Host, Alerts, Network, and Overview pages.
* The user should be able to add the filter from Host page "risk score KPI panel".
* [to be confirmed] The user should be able to add the filter from "All Hosts" table risk column.

original issue: https://github.com/elastic/security-team/issues/1636
[figma l

[2021-12-13 14:13] elasticmachine commented on #121086
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-12-13 14:14] paulb-elastic commented on #120817
Pushing back as a future optimisation

[2021-12-13 14:21] #120850 closed

[2021-12-13 14:22] dikshachauhan-qasource commented on #120731
Hi @EricDavisX

We have attempted same on 7.16.1 BC2 build and couldn't reproduce.

Although, we regularly keep on testing these filters with multiple combinations in past builds as well. However, we will recheck it on released 7.16 build and share updates with you.

Thanks'
QAS

[2021-12-13 14:27] afharo commented on #121058
I've created the PR to split the loops that register the deprecations and the one running `isEnabledPath`

[2021-12-13 14:36] estermv commented on #112512
This definitely needs to be refined, this issue was opened before I went on PTO just to keep some notes about things that should be done after the migration, but it's just my opinion. Is up to the team to decide if this makes sense or you just want to close the issue.

I'll add more details to the description between today and tomorrow, so it's easier to decide if it's something worth working on o

[2021-12-13 14:47] ghudgins opened #121092 "[Pie] Split chart "order by" control doesn't work for metrics"
**Kibana version:** 8.0-beta1

**Elasticsearch version:** 8.0-beta1

**Server OS version:** Elastic Cloud

**Browser version:** Chromium Edge

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:** Split series "Order by" doesn't work for metric descending

**Steps to reproduce:**
1. Create a simple pie on sample log data using "split slices"

[2021-12-13 14:47] elasticmachine commented on #121092
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-13 14:48] ghudgins commented on #121092
I confirmed other options like Alphabetical do function correctly

[2021-12-13 14:49] jasonrhodes commented on #112512
Thanks for the ping, @matschaffer -- let's convert this to type: Epic and then create implementation tickets for individual pieces that are actionable, and connect them here using the `- [ ] link-to-ticket` format. @matschaffer would you mind taking the lead on refining this and pulling in Ester, Philip, Sandy, or whoever else may have context here to help get those implementation tickets created?

[2021-12-13 15:00] ryankeairns commented on #120667
@TinaHeiligers +1 to spending some time on a redesign. It would be best to work through a few options and discuss which metrics are related, etc. Short of that, it's going to remain a bit messy.

[2021-12-13 15:09] pgayvallet commented on #120137
If this is too much work, or just isn't possible to do from UA, I agree that we'll 'just' have to do it from the home plugin. I just hate the idea to add additional bullet-proofing logic to protect against changes in the indices/aliases that aren't performed from the owning plugin. I mean, what proof do we have that these sample data indices are the only ones impacted by this problem? I doubt thes

[2021-12-13 15:40] elasticmachine commented on #83706
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-13 15:42] joshdover commented on #118423
Good thinking. I'm thinking we should try running several instances of `setupFleet` https://github.com/elastic/kibana/blob/da96f61330c0888180f5fa3cddc88dd16cda1afa/x-pack/plugins/fleet/server/services/setup.ts#L50 in parallel in a Jest integration test and then verifying the exact same objects are created, no less, no more.

However, I know we've had some challenges with the Jest integration tests

[2021-12-13 15:43] yuliacech commented on #117663
@pgayvallet @mdefazio I went through all Kibana pages and was not able to find any use cases where the last breadcrumb would be anything else than the current page. To be 100% sure that this is the case, should I send an email to kibana-contributors saying something along the lines "we want to disable the last breadcrumb, tell us if that would break something for your plugin"?

[2021-12-13 15:43] kibanamachine commented on #81844
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5403#f943782e-52a9-471a-aa34-45d9dbbcaf2a)

[2021-12-13 15:44] kibanamachine commented on #90858
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5402#f6446c6c-513c-478c-9ea9-89c227c8b852)

[2021-12-13 15:45] elasticmachine commented on #120712
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-13 15:47] klacabane commented on #120825
I ran a diff of the template generated from the datastream mappings and the one built manually. One thing to consider is that we don't have a `beats` integrations package so we're missing the relevant properties in the template constructed from datastreams mappings, namely `beat`, `beats_state` and `beats_stats`.

There are other differences, like missing `index_stats` which was already known, the

[2021-12-13 15:52] kibanamachine opened #121097 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_region_map·ts - visualize app visualize ciGroup4 vector map "before all" hook in "vector map""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/411#4b98e505-f365-46b4-9913-b87c5a9e0e96)

[2021-12-13 15:52] lucasfcosta opened #121098 "[Uptime] Users without permissions to create actions and connectors can still open the actions and connectors flyout in settings, but can't use it"
**Kibana version:** `8.1.0-SNAPSHOT`

**Elasticsearch version:** `8.1.0-SNAPSHOT`

**Server OS version:** macOS Big Sur 11.6

**Browser version:** Version 96.0.4664.93 (Official Build) (x86_64)

**Browser OS version:** macOS Big Sur 11.6

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Package (Docker)

**Describe the bug:** When a user without permissions accesse

[2021-12-13 15:52] elasticmachine commented on #121098
Pinging @elastic/uptime (Team:uptime)

[2021-12-13 15:53] elasticmachine commented on #120678
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-12-13 15:54] joshdover opened #121099 "[Fleet] Changes in package install format should be applied on Stack upgrades"
Whenever Fleet makes changes to how package assets are installed into Elasticsearch or Kibana, the changes are not applied to packages that were installed on prior versions of Kibana, until the package is upgraded. This can cause a discrepancy in what we can document and instruct users to do, based on what Stack version they were running when they installed a package instead of which Stack version

[2021-12-13 15:54] elasticmachine commented on #121099
Pinging @elastic/fleet (Team:Fleet)

[2021-12-13 16:08] SpencerLN commented on #105659
That looks great, being able to adjust the time period sounds like it should resolve this, thank you!

[2021-12-13 16:13] nchaulet commented on #121059
This issue seems to be present since we introduce the globally unique package name in 7.16.0
You can reproduce it by:
1. creating two policy with system integration enabled test1 than test2
2. edit the system package policy in the test1 policy
3. create a new policy test3 with system integration enabled.

[2021-12-13 16:15] TinaHeiligers commented on #120667
@pgayvallet The PR is ready for review: https://github.com/elastic/kibana/pull/121052

[2021-12-13 16:22] flash1293 commented on #121092
This is the code handling sorting of the small multiples: https://github.com/elastic/kibana/blob/cb868928a72b9fef31f1081b7abb146d2d1f7aed/src/plugins/vis_types/pie/public/components/chart_split.tsx#L48

It seems like what we really want is just ordering them by the first occurrence in the source data table - we do the same thing for mosaic. @stratoula could you check this out?

[2021-12-13 16:25] chrisronline opened #121100 "[Alerting] Re-enable skipped long running rule tests"
In https://github.com/elastic/kibana/pull/119664, we ran into issues updating this suite of tests based on invalidating tasks that timeout. This issue is a reminder to unskip these tests and update them so they pass and still test what they need to test.

[2021-12-13 16:25] elasticmachine commented on #121100
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-13 16:25] kpollich commented on #118423
I think that approach is definitely sound, but as I recall we weren't able to actually get Kibana to boot up when running Jest integration tests against the x-pack directory. I probably won't have time this week to actually start addressing this, but I do think documenting that approach is a good start.

[2021-12-13 16:25] #77969 closed

[2021-12-13 16:30] nreese commented on #113993
closed by https://github.com/elastic/kibana/pull/120771

[2021-12-13 16:30] #105740 closed

[2021-12-13 16:32] #90858 closed

[2021-12-13 16:33] stratoula commented on #121092
Yes @flash1293 I will take a look :)

[2021-12-13 16:34] #120243 closed

[2021-12-13 16:35] thomasneirynck commented on #120909
after discussion with @iverase , is to use the fields-API.

There's a nice downstream benefit, is that we can remove the WKT-parsing from Kibana

[2021-12-13 16:36] kpollich commented on #120059
Yes this should be expected behavior. APM, Endpoint, and Synthetics packages should all exhibit this behavior.

[2021-12-13 16:36] #120059 closed

[2021-12-13 16:39] kpollich commented on #116958
This was done as part of https://github.com/elastic/obs-dc-team/issues/655

[2021-12-13 16:39] #116958 closed

[2021-12-13 16:39] #120240 closed

[2021-12-13 16:39] thomasneirynck commented on #120909
cf. https://github.com/elastic/kibana/issues/92872

[2021-12-13 16:48] nreese commented on #92872
Fetching values from fields API would also resolve https://github.com/elastic/kibana/issues/120909.

[2021-12-13 16:48] estermv opened #121106 "[Stack Monitoring] Remove not used files from React migration"
We just found some files that are not used anymore after the React migration that need to be removed:
* ajax_error_handler.tsx
* get_page_data.js
* route_init.js

[2021-12-13 16:48] elasticmachine commented on #121106
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-13 16:53] MichaelMarcialis commented on #120682
What looks like large gaps in the zoomed-in screenshot above will actually be quite small when implemented in Lens, as the icon is only used at small sizes throughout the interface (much smaller than what the Maps app uses for their icons). As such, the icon needs to be able to scale down without losing some of the finer details (on both high and low pixel density displays). Please see the mockup

[2021-12-13 17:05] spong commented on #110549
After some user feedback in the [community slack](https://elasticstack.slack.com/archives/CNRTGB9A4/p1639056739375600), I wonder if this effort should include the ability to assign/remove exceptions to/from rules. The proposed changes above will resolve the issues around duplication, however users will still not have control over adding/removing these referenced exception lists. Perhaps this is be

[2021-12-13 17:15] pmuellr commented on #120640
Discussed in the Alerting planning session, decided to go with "fix the docs" on this one.

So, I think we need two things:

- change the example to use lower case `post`
- note in the doc for the config property `method` that it needs to be lower case

[2021-12-13 17:16] joshdover commented on #121059
I think we also need to document a known issue for this in the 7.16.0 release. I believe the workaround would be to rename the other system integration policies, is that correct?

@criamico would you be able to test that workaround and add a known issue to https://github.com/elastic/observability-docs/blob/main/docs/en/ingest-management/release-notes/release-notes-7.16.asciidoc? You can follow the

[2021-12-13 17:26] alexfrancoeur commented on #115266
Thanks for the reply @jonasll! Adding thoughts and comments inline below.

If you're comfortable with the way this is presented for an onboarding use case, then I think we can pause on this and de-prioritize. Brainstorming, I believe there is room for some small improvements to this UX. Today we show a big red exclamation point and the CTA is go to the docs. Visually, we can probably make this mor

[2021-12-13 17:27] nreese commented on #120682
Thanks for showing the logo in product. That helps provide better context.
* I still think the icon should not have a placemark in it for the reasons stated above. If the regions look map like, then the placemark is not really needed and the icon will look like a map.
* It would be great if the different regions could be colored. Sticking to 2 colors is fine to match the other icons. Maybe the ico

[2021-12-13 17:29] EdCSM commented on #104977
any insight would be appreciated @spong @jethr0null

[2021-12-13 17:30] EdCSM commented on #112549
any insight would be appreciated @azasypkin @legrego @jportner

[2021-12-13 17:31] nchaulet commented on #121059
One easy workaround will be to create the policy without the system integration and add it later with a proper name.

[2021-12-13 17:36] tsullivan opened #121115 "[Reporting/Telemetry] Add telemetry for new report metrics"
We need to instrument reporting and capture run-time statistics such as width & height of the dashboard, and number of panels in the dashboard so that we can understand the need of the customers and what they are trying to achieve. Seeing this information in context with the success rate of the reports and the hardware configuration of the server will help us understand if we are providing users w

[2021-12-13 17:36] elasticmachine commented on #121115
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-13 17:41] thomasneirynck opened #121116 "[Maps] Add execution_context"
Keep track of exection_context when querying ES.

[2021-12-13 17:41] elasticmachine commented on #121116
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-13 17:41] thomasneirynck commented on #121116
Some previous examples in Kibana:
- https://github.com/elastic/kibana/pull/108016
- https://github.com/elastic/kibana/pull/105206

[2021-12-13 17:46] #113457 closed

[2021-12-13 17:46] joshdover commented on #121099
One concern with implementing this change is the performance issues we've encountered writing templates and pipelines in bulk to Elasticsearch. See https://github.com/elastic/kibana/issues/110500 for my initial investigations into this. We could either workaround this issue by having some UI state that blocks users from upgrading or removing packages that are in this migrating state or work with E

[2021-12-13 17:51] tsullivan commented on #87535
The report failure is fixed in 7.16.0. In the fix, a screenshot of the entire dashboard is generated, so it is the opposite of what I wrote here: https://github.com/elastic/kibana/issues/87535#issuecomment-755457770

However, I think this behavior is acceptable. If the user wants to create a report of the single visualization, they can do that in the Visualize Editor application.

Meeting the crit

[2021-12-13 17:51] hbharding commented on #117697
@fkanout we spoke about this on Slack but posting the outcome we had also based on discussions I had with @gchaps. The plan is to use abbreviations like so:
- 1 sec, 2 sec
- 1 min, 2 min
- 1 hr, 2 hr
- 1 wk, 2 wk
- 1 mo, 2 mo
- 1 yr, 2 yr

[2021-12-13 17:59] dominiqueclarke opened #121117 "[Uptime] Monitor Management Table - Sorting - Default Sorting"
As an Uptime user, I want to be able to see my monitor list sorted in a consistent way, so I can easily find the monitor I am looking for.

As a first pass for sorting, we should sort our monitor saved objects by the monitor name, alphabetically.

[2021-12-13 17:59] elasticmachine commented on #121117
Pinging @elastic/uptime (Team:uptime)

[2021-12-13 18:00] joshdover opened #121118 "[Fleet] Add namespace-specific index and component templates"
Fleet and Elastic Agent users need a mechanism to customize how their data is being ingested, mapped, and stored that will be preserved across Stack and integration package upgrades. This issue outlines how we plan to structure index and component templates to support user customizations to Fleet-managed data streams, on a namespace-level of granularity.

## Scope

The goal is provide a future-pro

[2021-12-13 18:00] elasticmachine commented on #121118
Pinging @elastic/fleet (Team:Fleet)

[2021-12-13 18:04] andrewvc commented on #121006
The service does not do this today, but we have an open task to do so. I think we should do it there, and not in the configs to reduce possible errors.

[2021-12-13 18:14] alexfrancoeur commented on #118967
![scary](https://media.giphy.com/media/9kKlRx7qpUGze/giphy.gif)

I agree here, and we can start tracking the onboarding UX through the getting started initiative. Do we want to treat this issue as the source of truth for both or should I open one specific to onboarding?

[2021-12-13 18:19] #121085 closed

[2021-12-13 18:23] #120203 closed

[2021-12-13 18:24] #120895 closed

[2021-12-13 18:35] vladpro25 commented on #20256
Hey! This isn't an actual problem at the moment. The autocomplete works as expected.

[2021-12-13 18:35] #20256 closed

[2021-12-13 18:40] jportner commented on #112549
We haven't been able to address this yet due to some PTO on our team and a couple of high priority items that came in, but this is still in our "Next sprint" bucket.

[2021-12-13 18:51] marshallmain commented on #120906
Thanks for the additional details @deepikakeshav-qasource ! We're tracking the issue. Rules must be disabled before upgrading and then re-enabled after upgrading in order to avoid errors in general.

[2021-12-13 18:55] dominiqueclarke opened #121125 "[Uptime] Periodically hydrate Uptime monitor saved objects with data from indexed documents"
As an Uptime user, I want to be able to filter my monitors on the UI Monitor Management table by fields like URL and port, even though they are not always defined at the time the monitor is configured.

**Background**
When configuring monitors, certain valuable data points that are not included on the saved object spec. This is because that data point is not available until the monitor is ran and

[2021-12-13 18:55] elasticmachine commented on #121125
Pinging @elastic/uptime (Team:uptime)

[2021-12-13 19:01] dominiqueclarke opened #121126 "[Uptime] UI Monitor Management Table Filters - "New" Monitors - ES Data based filters"
As a user of Uptime, I want to be able to filter my monitors on the monitor management page in order to find what I'm looking for more quickly.

Filtering capability should be added to the `uptime/manage-monitors` page for new saved object monitors. https://github.com/elastic/kibana/issues/120785 handles filters that are automatically available on the saved objects spec. This issue handles filteri

[2021-12-13 19:01] elasticmachine commented on #121126
Pinging @elastic/uptime (Team:uptime)

[2021-12-13 19:18] mikecote commented on #60315
@YulNaumenko thanks for driving this issue through 7.16 / 8.0 ❤️! After today's planning session and given we're past 8.0, we've done as much as we can in regards to additional telemetry points and we can now move this issue back into the backlog for now.

[2021-12-13 19:24] ymao1 commented on #113466
Combined with https://github.com/elastic/kibana/issues/113465

[2021-12-13 19:24] #113466 closed

[2021-12-13 19:26] mostlyjason commented on #120358
Good catch @joshdover. What is the performance impact of number 3?

If the impact is significant, what about this?
4. Automatically call setup if its not completed yet when a user clicks the install package button, then call the install package API afterwards. This will only make clicking the install package button slower, and users won't need to switch to a different app and back again.

[2021-12-13 19:28] simianhacker opened #121129 "[Stack Monitoring] Stack Monitoring alerts no longer work with monitoring.ui.elasticsearch.* config settings"
**Kibana version:**

Starting with 7.13.0

**Elasticsearch version:**

Starting with 7.13.0

**Original install method (e.g. download page, yum, from source, etc.):**

Amu

**Describe the bug:**

When a customer uses `monitoring.ui.elasticsearch.*` to configure a separate monitoring cluster for the UI, the rules (alerts) fail to see the data because the the Alerting Framework's Elasticsearch clien

[2021-12-13 19:28] elasticmachine commented on #121129
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-13 19:37] cjcenizal commented on #120137
@sebelga Could you please investigate this? I see two main questions we want to answer.

### Is a second full reindex feasible?
To conclude Upgrade Assistant's reindex process with an updated index that has the same name as the original, we'd need to reindex the update index into a new index. We wouldn't need to make any changes to the destination index other than giving it a new name. What's the

[2021-12-13 19:42] simianhacker commented on #120111
Here is a second way this could happen: https://github.com/elastic/kibana/issues/121129

[2021-12-13 19:42] weltenwort opened #121130 "[Metrics UI] Saved view references in existing source configs are not migrated"
## :notebook: Summary

The saved object references were introduced in #110556 without a migration for existing saved objects that contain saved inventory view and metrics explorer view references. After upgrading to 7.16.0 loading these fails because the function to extract the references can't find them in the `references` array, leading to an internal server error.

## :hash: Steps to reproduce

[2021-12-13 19:42] elasticmachine commented on #121130
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-13 20:42] katefarrar opened #121138 "[Uptime] Enhanced Node Details Uptime links are broken"
When a user clicks the Uptime link in the enhanced node details panel, the link goes to the default Monitors view instead of a search for the specific node.

Did some digging with @jasonrhodes and it looks like removing `#/` from the URLs will fix the problem. Example on Edge:
Enhanced node details links to Uptime is: https://edge-oblt.elastic.dev/app/uptime#/?search=host.ip:%2210.36.1.1%22
Should

[2021-12-13 20:42] elasticmachine commented on #121138
Pinging @elastic/uptime (Team:uptime)

[2021-12-13 20:44] katefarrar commented on #120425
@jasonrhodes @phillipb if y'all are good with these updates, then we can move to this out of "Refining" into "Ready". Thanks!

[2021-12-13 21:02] dominiqueclarke commented on #116591
@joshdover @jen-huang Is using a local version of EPR still the goal for this ticket? I had also tried adding docker to `test/functional/config.js` with little luck.

[2021-12-13 21:02] sqren commented on #118243
The index pattern `apm_static_index_pattern_id` is automatically created and updated by APM UI. You can disable this with `xpack.apm.autocreateApmIndexPattern`.

See https://www.elastic.co/guide/en/kibana/current/apm-settings-kb.html for details

[2021-12-13 21:12] phillipb commented on #120425
@katefarrar sounds good to me. Let's put it in ready and I can probably tackle next cycle.

[2021-12-13 21:16] YulNaumenko opened #121141 "[Alerting UI] Provide the capability to defined AlertTypeModel with enabled edit, but disabled create mode."
Extend AlertTypeModel with additional param, to allow editing rules but don’t allow creating one. Setting existing option `requiresAppContext`  as true will disable adding and editing the rule.

**Describe a specific use case for the feature:**
This feature is requested from Discover to enable only create mode for their rule type https://github.com/elastic/kibana/pull/120328

[2021-12-13 21:16] elasticmachine commented on #121141
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-13 21:21] mostlyjason commented on #118967
I believe this is also true with security on by default in 8.0.

Is there any reason not to go the API key route? It seems easier than generating a user/pass/role.

I'd focus on the new users onboarding use case here since most of our tutorial page users are in trial. I suspect they are also more likely to misconfigure Beats and run into a security issue. They also need more help for a good UX. We

[2021-12-13 21:36] mostlyjason commented on #119606
@joshdover I believe the quick start mode and the option `fleet-server-insecure-http` refers to the Agent->FS connection. Security on by default only applies to the Agent->ES and FS->ES connections. They have separate certificates.

Makes sense to me to add this if the user can't proceed without it.

[2021-12-13 21:37] marshallmain commented on #80792
Remaining work on this issue is to remove the legacy `RulesSchema` (`kibana/x-pack/plugins/security_solution/common/detection_engine/schemas/response/rules_schema.ts`) in favor of the new schemas introduced in https://github.com/elastic/kibana/pull/82462.

[2021-12-13 21:38] jakelandis commented on #105659
In that case is there a suggestion for a value to use as default?

Yes, it is possible that during a forcemerge the size can temporarily grow. I am not sure about the specifics upper bound but it is likely ~2x but in reality is likely much less (especially in 7.15 via https://github.com/elastic/elasticsearch/pull/76221).  Without testing and digging in pretty deep it is hard to recommend a specifi

[2021-12-13 21:53] dominiqueclarke commented on #119263
Post FF testing: Copying console output works in Chrome 96, Safari 14, and Firefox 95.

[2021-12-13 21:58] bmorelli25 opened #121238 "Can't upgrade APM integration to version 7.16.1 on ESS"
**APM Server version** (`apm-server version`):

* ESS version 7.16.1
* APM integration version 7.16.0

**Description of the problem including expected versus actual behavior**:

* Can't upgrade the APM integration to 7.16.1
* Can't save configuration options

**Steps to reproduce**:

 1. Spin up 7.16.1 on ESS
 2. Click **Add integration** > **Elastic APM** > **APM integration** > **Switch to Elast

[2021-12-13 22:12] mattkime commented on #33696
Closing as the index pattern list in the sidebar was removed some time ago.

[2021-12-13 22:12] #33696 closed

[2021-12-13 22:43] rayafratkina commented on #118242
cc @sixstringcode @ghudgins @VijayDoshi as this is related to the composability of apps & flow from solutions we were discussion recently

[2021-12-13 22:43] #121058 closed

[2021-12-13 22:45] lukeelmers commented on #116106
Ah of course 🤦  Thanks for updating.

[2021-12-13 22:50] tylersmalley commented on #119064
@jbudz I believe you have been testing Tiago's PR's on Windows. Can you confirm that is the case?

@liza-mae is this still an issue?

[2021-12-13 23:01] jbudz commented on #119064
I haven't run into this, but I imagine CI is running more frequently than I am.  I'm maybe at 10 bootstraps in the last month.

[2021-12-13 23:57] #56077 closed

[2021-12-14 00:27] matschaffer commented on #120233
From the team meeting it sounded like this might have been rooted in a bad bootstrap. Closing out, will re-open if someone is able to reproduce.

[2021-12-14 00:27] #120233 closed

[2021-12-14 00:59] matschaffer opened #121149 "[Stack monitoring][Angular removal] Add unit tests"
As @estermv called out in https://github.com/elastic/kibana/issues/112512, the unit tests are a bit thin for Stack Monitoring.

We should come up with a list of what lacks testing (perhaps a coverage report?) and work it down.

[2021-12-14 00:59] matschaffer opened #121150 "[Stack monitoring][Angular removal] Refactor global state"
@estermv mentioned in https://github.com/elastic/kibana/issues/112512

I believe this is referring to https://github.com/elastic/kibana/blob/eb5ffff7d09f53880d24f5d6d43289afe1eee2d3/x-pack/plugins/monitoring/public/application/contexts/global_state_context.tsx but I'm not clear on what exactly should get done here.

Hopefully @estermv can fill in some details.

[2021-12-14 00:59] matschaffer opened #121151 "[Stack monitoring][Angular removal] Remove external config context"
Originally part of https://github.com/elastic/kibana/issues/112512

Looks like this is https://github.com/elastic/kibana/blob/c8a01082696a94453060ded28ee67a32a2487e0d/x-pack/plugins/monitoring/public/application/contexts/external_config_context.tsx

It gets populated from https://github.com/elastic/kibana/blob/52464ca64a07dc151cb4cc4e8abdc7b6ca084c5d/x-pack/plugins/monitoring/public/plugin.ts#L137

[2021-12-14 01:07] #121106 closed

[2021-12-14 01:26] elasticmachine commented on #121097
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-14 01:27] jonasll commented on #115266
@alexfrancoeur That context is being laid out as we speak, please stay posted early in CY22.

[2021-12-14 01:30] klacabane commented on #120825
Going through Kibana views powered by the new templates there are missing aliases (on both agent and metricbeat-generated template) which fail queries, and wrong assumptions about the data structure of the metricbeat-generated data. MB queries expect a nested [`kibana` object to retrieve](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/kibana/get_kibanas.ts#L101) d

[2021-12-14 01:33] ymao1 opened #121152 "[Alerting] Short-circuit stack rule types on rule execution cancellation"
With [this PR](https://github.com/elastic/kibana/pull/120506), the alerting framework has added some new service functions for rule executors to use to cancel rule execution on timeout. We should update the stack rule types: index threshold and ES query to take advantage of these new services.

[2021-12-14 01:33] elasticmachine commented on #121152
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-14 04:07] #113462 closed

[2021-12-14 06:21] samratbhadra-qasource opened #121156 "[Security Solution] The rule.name column value is distorted while hovering over it under alerts table."
**Describe the bug:**
The rule.name column value is distorted while hovering over it under alerts table.

**Build Details:**
VERSION: 8.0.0-SNAPSHOT
BUILD: 48594
COMMIT: ad3660f3acbfe6eb809d869b908221edf2846313
ARTIFACT: https://snapshots.elastic.co/8.0.0-4535d287/summary-8.0.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.0.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**
1. Navi

[2021-12-14 06:21] elasticmachine commented on #121156
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 06:21] samratbhadra-qasource commented on #121156
@manishgupta-qasource Please review.

[2021-12-14 06:23] manishgupta-qasource commented on #121156
Reviewed & assigned to @MadameSheema

[2021-12-14 06:27] samratbhadra-qasource commented on #117992
Opened a separate ticket for the same [#121156](https://github.com/elastic/kibana/issues/121156)
Hence, closing this ticket.

Thanks!!

[2021-12-14 06:27] #117992 closed

[2021-12-14 07:11] amolnater-qasource opened #121157 "[Fleet]: Inappropriate error on duplicating same policy more than once."
**Kibana version:**  8.0.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana self-managed environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agent Policies and duplicate a policy, say "New Policy".
3. Observe new policy with name "New Polic

[2021-12-14 07:12] elasticmachine commented on #121157
Pinging @elastic/fleet (Team:Fleet)

[2021-12-14 07:12] amolnater-qasource commented on #121157
@manishgupta-qasource Please review.

[2021-12-14 07:59] dwzhanglong opened #121158 "KQL parse to JSON"
KQL：id < 116245 and name : * and age > 23 and (1 and 2)

How can the KQL string parse to the JSON below？

[{"request":{"params":{"index":"demo01","body":{"sort":[{"timeadd":{"order":"desc","unmapped_type":"boolean"}}],"fields":[{"field":"*","include_unmapped":"true"},{"field":"timeadd","format":"strict_date_optional_time"}],"size":500,"version":true,"script_fields":{},"stored_fields":["*"],"runtim

[2021-12-14 08:22] elasticmachine commented on #118610
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 08:32] katrin-freihofner commented on #117697
@hbharding please make sure we don't have an existing pattern for these abbreviations. If we don't have a pattern, please document it for Kibana.

[2021-12-14 09:02] amolnater-qasource commented on #111737
Hi @joshdover
We have validated this on latest 8.0 Snapshot.
**Build details:**
Build: 48703
Commit: a739f060ba0b563a157d640a7a7eb90ceb573811

**Please find our observations below:**
- Index templates:
![12](https://user-images.githubusercontent.com/77374876/145961719-a1a56c17-9a43-41e7-aa04-2bc8ce088f9c.JPG)

- Component templates:
![13](https://user-images.githubusercontent.com/77374876/14596176

[2021-12-14 09:03] amolnater-qasource commented on #120059
Hi @kpollich
Thanks for confirming the expected behaviour.

We have created **02** testcases for this expectation for Elastic APM and Elastic Synthetics integration in our Ingest Manager test suite at links:
[C164187](https://elastic.testrail.io/index.php?/cases/view/164187)
[C164188](https://elastic.testrail.io/index.php?/cases/view/164188)

Thanks

[2021-12-14 09:17] pheyos commented on #120263
Additional observation in the wording for this deprecation warning:

Step 2 says `Remove "xpack.reporting.roles.allow" to "false" in kibana.yml, if present.` - it's not clear if the user is supposed to remove this setting or update its value. Could we please update and clarify this for 7.17.0?

![image](https://user-images.githubusercontent.com/1945390/145968899-b23cc722-7f28-405b-a9ed-54ca997eca3

[2021-12-14 09:25] #118404 closed

[2021-12-14 09:33] formgeist opened #121164 "[APM] Bug: No data empty screen persists even if there's data available"
**Kibana version**:

8.0.0

**Original install method (e.g. download page, yum, from source, etc.)**:

APM Integration testing using the following compose;

`scripts/compose.py start 8.0 --all --with-elastic-agent --apm-server-managed`

**Description of the problem including expected versus actual behavior**:

The no data empty screen appears for APM and User Experience apps although there are ser

[2021-12-14 09:33] elasticmachine commented on #121164
Pinging @elastic/apm-ui (Team:apm)

[2021-12-14 09:41] #118391 closed

[2021-12-14 09:41] #103778 closed

[2021-12-14 09:48] #120606 closed

[2021-12-14 09:48] joshdover commented on #119606
Ah yes, you're correct.

Yeah let's go ahead and add this then. Seems like a quick fix we can get in for a 7.x patch release.

[2021-12-14 09:54] fkanout opened #121165 "[RAC] [8.0.0] [META] Manually backport PRs to 8.0.0"
# Summery
We face a backport issue for some PRs, due to a big non-backported refactor PR from another team.

# List of PRs impacted - **Order is important**:
- [x] https://github.com/elastic/kibana/pull/119211
- [x] https://github.com/elastic/kibana/pull/119104
- <del> [ ] https://github.com/elastic/kibana/pull/120335 </del>
See https://github.com/elastic/kibana/issues/121165#issuecomment-99472316

[2021-12-14 10:20] stevedearl opened #121167 "Allow date picker to have relative dates to start/end rather than 'now'"
This may be a bit of an edge case, but it would be useful for us to be able to select an absolute start date, and then have a relative date of +24h from that start date.
The reverse may also be useful, so that we set an absolute end date and have the ability to set the start date relative to it, say -7 days.

At the moment, we can only set dates relative to 'now'.

**Describe a specific use case f

[2021-12-14 10:32] #121009 closed

[2021-12-14 10:36] deepikakeshav-qasource opened #121168 "[Security Solution] Detection alerts are showing in raw events when click on show to modal under alerts page"
**Describe the bug**
Detection alerts are showing in raw events when click on show to modal under alerts page

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. Alerts should be triggered

**Steps to Reproduce**
1. Navigate to Alerts page under the security tab
2. Hover on rule column
3. Click on expand icon
4. Click on show to modal and select t

[2021-12-14 10:36] elasticmachine commented on #121168
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 10:40] deepikakeshav-qasource opened #121169 "[Security Solution] "View Rule Details" link is not displaying under alerts table when click on expand icon"
**Describe the bug**
"View Rule Details" link is not displaying under alerts table when click on expand icon

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. Alerts should be triggered

**Steps to Reproduce**
1. Navigate to Alerts page under the security tab
2. Click on expand icon under rule column
3. Observe that "View Rule Details" link is n

[2021-12-14 10:40] elasticmachine commented on #121169
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 10:47] Dosant opened #121170 "[FieldFormats] Wrong default format params on editor load"
**Kibana version:** 7.14.0

**Describe the bug:**

When opening an editor for some format editors with default params values displayed in the form might be wrong.

Example is duration format with input "seconds" which will display as "picoseconds"

**Steps to reproduce:**
1. Create a duration format, set input as "seconds", save
2. Open an editor again
3. See "picoseconds" instead of "seconds"

**

[2021-12-14 10:47] elasticmachine commented on #121170
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-14 11:26] manishgupta-qasource commented on #121157
Reviewed & mention @kpollich

CC: @EricDavisX

[2021-12-14 11:34] muskangulati-qasource commented on #118136
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147455

Thanks!

[2021-12-14 11:35] muskangulati-qasource commented on #118002
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/149926

Thanks!

[2021-12-14 11:35] muskangulati-qasource commented on #117523
## Bug Conversion

- Test-Case not required as this is a Dev Validation ticket

Thanks!

[2021-12-14 11:38] muskangulati-qasource commented on #116741
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the Trusted Applications per policy › View Trusted Applications test plan:
      - https://elastic.testrail.io/index.php?/cases/view/150242

Thanks!

[2021-12-14 11:40] muskangulati-qasource commented on #116740
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the` Host Isolation Exception list › Add Host Isolation Exception list value` test plan

Thanks!

[2021-12-14 11:41] muskangulati-qasource commented on #116730
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147437

Thanks!

[2021-12-14 11:42] muskangulati-qasource commented on #116729
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147437

Thanks!

[2021-12-14 11:43] kibanamachine opened #121172 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/monitoring/logstash/pipelines_mb·js - Monitoring app Logstash pipelines mb should have Pipelines Table showing correct rows after sorting by Events Emitted Rate Asc"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5462#dde68560-c2d9-4712-b92a-807d40625582)

[2021-12-14 11:44] #121079 closed

[2021-12-14 11:44] muskangulati-qasource commented on #116594
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147455

Thanks!

[2021-12-14 11:44] muskangulati-qasource commented on #116565
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150255

Thanks!

[2021-12-14 12:32] kibanamachine commented on #96625
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5465#5358d4ce-918a-4cb0-986d-a5dc2221608e)

[2021-12-14 12:34] #120670 closed

[2021-12-14 12:40] EricDavisX commented on #121157
this kinda smells like the same error and bug from yesterday about policy.  that one is being fixed, we could track and re-test.

[2021-12-14 13:03] #120900 closed

[2021-12-14 13:04] philippkahr opened #121176 "[APM] Show an OTEL button"
### Kibana version

7.16.1

### APM Server version (if applicable)

7.16.1 through Fleet APM Integration

### Elasticsearch version (if applicable)

7.16.1, ESS

### Steps to Reproduce

More and more services are onboarded using OTEL and in our docs we mention how that we support OTEL.

### Expected Behavior

Give me a tab where I can select OTEL and I see the variables such as APM server url, tok

[2021-12-14 13:04] elasticmachine commented on #121176
Pinging @elastic/apm-ui (Team:apm)

[2021-12-14 13:04] mikecote commented on #117199
I'm going to close this issue as "works as designed" based on @pmuellr's comment (https://github.com/elastic/kibana/issues/117199#issuecomment-963601855). If we feel we need to change the UX, we can open up a follow-up issue 👍

[2021-12-14 13:04] #117199 closed

[2021-12-14 13:06] mikecote commented on #116055
Closing as the last occurrence is Oct 23.

[2021-12-14 13:06] mikecote commented on #115627
Closing as the last occurrence is Oct 19.

[2021-12-14 13:06] #115627 closed

[2021-12-14 13:06] mikecote commented on #113987
Closing as the last occurrence is Oct 5.

[2021-12-14 13:17] mikecote commented on #118535
We decided to track each flaky test individually as it turns out they aren't related. Closing this issue and moved references issue into To-Do / Backlog accordingly.

[2021-12-14 13:17] #118535 closed

[2021-12-14 13:40] paulb-elastic commented on #96560
We're not planning on doing this until the charts have been replaced with Exploratory View versions https://github.com/elastic/uptime/issues/323

[2021-12-14 13:47] lucasfcosta commented on #120352
@dominiqueclarke could you provide a bit more detail on which permissions you'd expect to trigger this message? I went looking into the code to figure out exactly which permissions are needed and ended up seeing that we actually set the permissions error based on an `HttpError` within the hook (see below):

[code]

Considering the above, which permission would you like me not to have for `HttpFetc

[2021-12-14 13:48] lucasfcosta commented on #117449
Just tested this on the `8.0-SNAPSHOT` version and it's working as expected as shown in the GIF below.

![enter_press](https://user-images.githubusercontent.com/6868147/146009588-ae1b6104-a84a-48b1-96c3-f801a193a465.gif)

Repro:

1. Login and access Uptime > Exploratory View
2. Edit an existing series and press enter once you finish changing its name

[2021-12-14 13:59] jasonrhodes commented on #120807
Hey @katrin-freihofner, thanks for your feedback/questions!

Yeah, I think we can create a separate ticket to address that as soon as the Logs Data is in place. I imagine we can either (a) put an "Explore Data" item in the header from Logs UI as well, just like there is one in User Experience, or (b) move to link to this section from the top-level Observability navigation now that we have more dat

[2021-12-14 14:09] joshdover commented on #118967
As a counter point, how much longer are there going to be Beats without an equivalent GA integration? Trial users are likely to use whatever path we direct them towards and GA integrations get priority over Beats. I'm just curious if the effort to build an API key feature in these tutorials for this use case makes sense at this stage for these users.

[2021-12-14 14:10] vinaychandrasekhar commented on #119103
Removing 8.1 labels for now, since discussions with RUM PM (Drew) still ongoing. Unlikely that the discussions will complete in time for this to fit into 8.1.

[2021-12-14 14:12] joshdover commented on #116591
That is still the intention, yes.

@elastic/kibana-operations I wonder if we should discuss long-term options here. It's likely that we increase the usage of packages across the product as time progresses and I think it'd be best if we default to a local EPR instance for all suites. Is there any technical reason we can't use `dockerServers` on all CI groups / workers?

[2021-12-14 14:14] joshdover commented on #118423
@kpollich Let me give a it a try later this week and see if I can't get something working.

[2021-12-14 14:16] joshdover commented on #121157
That fix went in yesterday. Can we revalidate this one tomorrow (builds on staging should be updated by then)?

[2021-12-14 14:17] mdefazio commented on #119175
Here is the [figma link](https://www.figma.com/file/bBSleY5ZIvfpQ2rc427VAN/Modify-Title-and-Description-%5Bkibana%2F119175%5D?node-id=23%3A147537) with screens for each step of the flyout form.

I will also update the mockup in the data view meta data doc.

![Screen Recording 2021-12-14 at 09 14 10 AM](https://user-images.githubusercontent.com/3756330/146014992-14cae26d-2b22-4052-8c9a-777b345c3711

[2021-12-14 14:18] joshdover commented on #120358
We could do this from the UI, yes that would be slightly less impact (eg. it wouldn't make adding a new integration slower). I think it's probably the best option since it requires less effort and this fix is only needed for 7.x.

[2021-12-14 14:19] stevedearl opened #121183 "Interacting with a cell on a 'Discovery' pane in a dashboard results in a blank page being displayed"
**Kibana version:**
7.16.1
**Elasticsearch version:**
7.16.1
**Server OS version:**
Windows Server 2016
**Browser version:**
Chrome 95.0.4638.69
**Browser OS version:**
95.0.4638.69
**Original install method (e.g. download page, yum, from source, etc.):**
Download page, unzip Windows zip files.
**Describe the bug:**
After upgrading to from 7.15.2 to 7.16.1 yesterday I've noticed that when I try to

[2021-12-14 14:19] joshdover commented on #120358
The downside of this option is that for API users, package installs would fail until they run setup for the first time. I'm ok with saying that you still need to call the setup API first which was the case before.

[2021-12-14 14:29] lucasfcosta commented on #117228
I've left [a note on the PR](https://github.com/elastic/kibana/pull/118883#issuecomment-993594939) to confirm I have post-FF tested this as expected before I move it into "*Done, done*". Once that's resolved I'll update the board accordingly.

[2021-12-14 14:32] hop-dev opened #121184 "[Fleet] Move data stream mappings from index template to component template."
Currently, integration data stream mappings are set directly on the index template, we are proposing moving this to being set on a component template.

This will enable us to centrally store and manage the mapping in the component template while potentially having multiple data streams using that component template (e.g a namespace specific data stream).

Not having the data stream in a component

[2021-12-14 14:32] elasticmachine commented on #121184
Pinging @elastic/fleet (Team:Fleet)

[2021-12-14 14:40] elasticmachine commented on #121183
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-14 14:51] legrego opened #121186 "Kibana audit logging: Capture session expiration"
Followup to [https://github.com/elastic/kibana/issues/119490|https://github.com/elastic/kibana/issues/119490|smart-link], we should capture session expiration in the audit log

[2021-12-14 14:51] elasticmachine commented on #121186
Pinging @elastic/kibana-security (Team:Security)

[2021-12-14 14:54] mostlyjason commented on #108456
@juliaElastic I have some questions about your task list. I'll schedule a meeting to review it with Dmitry.

[2021-12-14 15:00] thomheymann opened #121189 "Fail gracefully when cookies are disabled"
Resolves #41444
Related to #120944

When cookies are disabled, we currently show a cryptic "The operation is insecure" (Firefox) and "Failed to read sessionStorage property from Window" (Chrome) error message.

This is not very user friendly since it looks like Kibana crashed (when in fact the users browser is misconfigured) and it doesn't provide users with any instructions how to fix the error.

[2021-12-14 15:00] elasticmachine commented on #121189
Pinging @elastic/kibana-core (Team:Core)

[2021-12-14 15:00] elasticmachine commented on #121189
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-14 15:12] neptunian opened #121192 "[Stack Monitoring] Enterprise search module showing up in Cluster overview with no data"
The enterprise search module is always showing in the Cluster Overview even though there is no index `.monitoring-ent-search`.  Introduced in https://github.com/elastic/kibana/pull/114303
![Screen Shot 2021-12-13 at 3 53 11 PM](https://user-images.githubusercontent.com/1676003/146025062-6989de19-0edf-41b9-97e1-037d4476fdd9.png)

[2021-12-14 15:12] jasonrhodes commented on #96172
We will continue this work here -> https://github.com/elastic/kibana/issues/120803

[2021-12-14 15:12] #96172 closed

[2021-12-14 15:12] elasticmachine commented on #121192
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-14 15:19] paulb-elastic commented on #121125
More refinement suggested about how to deal with what URL we should index for browser monitors, as there will be many (single, multi steps, multi requests per step etc.)

[2021-12-14 15:20] paulb-elastic commented on #121125
Port to be split out separately

[2021-12-14 15:21] sebelga commented on #120137
Talking with @martijnvg it does seem that a bigger index will not linearly increase the time of reindex and is not an O(1) op. As per [his comment](https://github.com/elastic/sdh-elasticsearch/issues/5071#issuecomment-952709853):

"_in the hot threads a significant time is spent on looking up the id/version during reindexing. This is something that reindex does to ensure that no duplicates are ind

[2021-12-14 15:22] fkanout commented on #121165
1. https://github.com/elastic/kibana/pull/119211#event-5764806788  merged
@claudiopro

[2021-12-14 15:23] #120832 closed

[2021-12-14 15:24] jportner commented on #96625
Different failure this time:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/5295965/146027043-5438349a-65aa-4f0b-8ba5-6bafa9023c16.png)

Not really sure what's happening here but it looks like it could be a transient failure. I'll close for now and we can investigate further if it gets reopened.

[2021-12-14 15:24] #96625 closed

[2021-12-14 15:28] paulb-elastic commented on #121117
Another option could be to go to a pre-filtered list just showing the new monitor (although there is no search option yet)

Also, reconsider what page the user is taken to after saving the monitor (as well as the default sort order should be, e.g. alphabetical).

Further refinement needed, or split out into handling just the sort order (with the expectation that the field it's sorted on, is repres

[2021-12-14 15:40] simitt opened #121195 "[APM] No APM data showing up in Kibana APM UI"
### Kibana version

8.0.0-SNAPSHOT

### APM Server version (if applicable)

8.0.0-SNAPSHOT

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

0. Start ES, Kibana and APM Server `8.0.0-SNAPSHOT` (for example on Cloud QA, or with apm-integration-testing)
1. Install APM Integration (current version `8.0.0-dev4`)
2. Ingest data into APM Server, for example download [exa

[2021-12-14 15:40] elasticmachine commented on #121195
Pinging @elastic/apm-ui (Team:apm)

[2021-12-14 15:52] simitt commented on #121195
Closing as duplicate of https://github.com/elastic/kibana/issues/121164

[2021-12-14 15:52] #121195 closed

[2021-12-14 16:11] #120740 closed

[2021-12-14 16:16] nchaulet commented on #108927
Closed by #108924

[2021-12-14 16:16] #108927 closed

[2021-12-14 16:16] #92311 closed

[2021-12-14 16:49] mdefazio commented on #117663
@yuliacech @pgayvallet From the design side, we're good with disabling the last breadcrumb from core if we feel that's the right approach.  Seems like a good idea to let contributors know that this may break something if this isn't the case in their plugin.  Maybe it's more "We _will be_ disabling the last breadcrumb, tell us if this will break something..." 😄

[2021-12-14 16:57] stephmilovic commented on #120609
i will take care of both issues in the same PR

[2021-12-14 17:03] kibanamachine commented on #119257
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5476#bdd58a37-865e-4bf9-929b-51aa944a0937)

[2021-12-14 17:04] kibanamachine opened #121208 "Failing test: X-Pack Saved Object API Integration Tests -- spaces_only.x-pack/test/saved_object_api_integration/spaces_only/apis/bulk_create·ts - saved objects spaces only enabled _bulk_create within the space_1 space "before all" hook for "should return 200 success [isolatedtype/defaultspace-isolatedtype-id,isolatedtype/space2-isolatedtype-id,dashboard/new-dashboard-id,sharedtype/new-sharedtype-id,globaltype/new-globaltype-id,isolatedtype/new-other-space-id,sharecapabletype/new-other-space-id,sharedtype/new-each-space-id,sharedtype/new-all-spaces-id] and bad request [hiddentype/any,isolatedtype/new-other-space-id,sharecapabletype/new-other-space-id] and conflict [isolatedtype/space1-isolatedtype-id,sharedtype/all_spaces,sharedtype/default_and_space_1,sharedtype/only_space_1,sharedtype/only_space_2,sharecapabletype/only_default_space,sharecapabletype/only_space_1,globaltype/globaltype-id]""
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5477#59ce9506-5f7a-4ac0-adf5-c466da00686e)

[2021-12-14 17:14] kertal commented on #121183
confirmed also when testing main branch:
<img width="607" alt="Bildschirmfoto 2021-12-14 um 18 13 32" src="https://user-images.githubusercontent.com/463851/146046927-c69a3b4f-308e-444e-b8ad-1904e6352283.png">

[2021-12-14 17:20] jasonrhodes commented on #119501
@jimczi just pinging you again on this thinking. I'm okay with starting with a bump to 10K which will be a huge improvement for many customers, I believe. I am still not convinced that the arbitrary nature of that choice will be a good thing for the future, so I think our code needs to comment-reference this ticket and we should consider going higher with that number unless there is a concrete rea

[2021-12-14 17:29] nreese opened #121210 "[Maps] prevent users from filtering left-side of joins when filtering right side"
### Problem
When the left source of a term join is an Elasticsearch documents source, there is an issue where queries for the right source are applied to the left source causing the left source to return no results because the shared key for the left source is not the same field as the shared key for the right source. This results in the layer being empty instead of showing the desired results of

[2021-12-14 17:29] elasticmachine commented on #121210
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-14 17:38] jportner opened #121212 "Kibana-wide HTTP route authorization"
Currently, consumers do not have to specify any authorization controls when registering HTTP routes.

They can optionally use [API access tags](https://github.com/elastic/kibana/blob/b6c982c3b073c215aa5bfa09887048ca549e2147/x-pack/plugins/features/common/feature_kibana_privileges.ts#L38-L64) (`access:<tag>`). Otherwise, the route will rely on the authorization checks that are automatically applied

[2021-12-14 17:38] elasticmachine commented on #121212
Pinging @elastic/kibana-security (Team:Security)

[2021-12-14 17:39] klacabane commented on #120825
Got Beats to show up after fixing missing `elasticsearch.cluster.id` on both stats/state metricsets and fixing some aliases as well. The list starts to grow, I'll cut a separate issue to track the local patches

[2021-12-14 17:45] tylersmalley commented on #119430
Is cross-cluster search a possible solution for accessing this data? If so, we could provide an option for [@kbn/es](https://github.com/elastic/kibana/tree/main/packages/kbn-es) that will update the CCS settings.

[2021-12-14 17:46] flash1293 commented on #100301
Blocked by https://github.com/elastic/kibana/issues/119474 - we are working on handling this much more consistently

[2021-12-14 17:58] ThomThomson commented on #120567
Looks like this should also have been closed by https://github.com/elastic/kibana/pull/120673

[2021-12-14 17:58] vadimkibana commented on #72880
I'm not sure "impact" should be implied from priority or from the timing for when the task is scheduled.

Even if this task is not planned for in the near future or at all, IMO, it is still very high impact.

The description of the label is probably a bit misleading, we might want to change it.

[2021-12-14 18:06] elasticmachine commented on #121097
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-14 18:11] shaunmcgough commented on #89726
@qn895 just FYI. This is an issues about adding a description field and then having it available for use as a popup or elsewhere. I thought it would also make sense in Field statistics.

[2021-12-14 18:12] ThomThomson commented on #121097
I believe these `region_map` tests were removed by @elastic/kibana-gis when the region_map visualization was deprecated. I wonder if one was missed?

[2021-12-14 18:12] #120341 closed

[2021-12-14 18:13] jonathan-buttner commented on #90761
@deepikakeshav-qasource could you spin up a stack and email @machadoum and I the credentials so we can take a look?

[2021-12-14 18:14] jamster10 commented on #118684
After speaking with @monina-n , further consideration for this ticket:

**Buttons don't look like buttons**
When neither case type (solution) is selected, the `KeyPadMenuItem`s do not show up well as buttons. To alleviate this we could:

- Have one option always defaulted
- Use selectable [`Card`s ](https://elastic.github.io/eui/#/display/card#selectable) instead of [`KeyPadItems`](https://elastic

[2021-12-14 18:15] ThomThomson commented on #118750
This test was removed in https://github.com/elastic/kibana/pull/105326

[2021-12-14 18:15] #118750 closed

[2021-12-14 18:18] cjcenizal opened #121220 "Inform user about changes to reindexed data in Upgrade Assistant"
## The problem

The problem is the same as reported in https://github.com/elastic/kibana/issues/120137, but in the context of user-managed data.

In 7.16 and 7.17, Upgrade Assistant reindexes indices from 6.x to make them compatible with 8.x prior to the upgrade to 8.x. It does this by reindexing source to reindexed-source, creating a source->reindexed-source alias, and then deleting the original

[2021-12-14 18:18] elasticmachine commented on #121220
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-14 18:33] YulNaumenko commented on #64148
@gmmorris the alert task cancel function was created by this PR #114289 and action task cancel task by this PR https://github.com/elastic/kibana/pull/120853.
Do you think we can close this issue when the last PR will be merged?

[2021-12-14 18:34] nreese commented on #121097
Failed test is from 7.15 branch. region_map plugin and tests removed in 8.0

[2021-12-14 18:43] jportner commented on #119975
@peteharverson asked for my 2 cents on this--

It sounds reasonable to take some steps to avoid duplication of ML jobs. Keep in mind that the end user must have write access to the ML privileges in `* All spaces` to be able to create an ML jobs in all spaces.

The "Share saved objects to spaces" flyout contains a space selector that checks for the user's privileges and presents them with an option

[2021-12-14 18:53] paulb-elastic commented on #121117
Updated this to reflect that the default sort will be alphabetical for now.

[2021-12-14 19:06] mattkime commented on #119175
Some thoughts -

I think the title should go at the top. I guess I might be persuaded otherwise if there are other similar creation flows that don't place the title at the top. The title could default to the index pattern if not supplied.

For description, we could use a pattern from the data view field editor where there's a toggle for active / inactive state on optional form items. Perhaps it co

[2021-12-14 19:18] amitkanfer commented on #92113
@amar-rama-elastic @ari-aviran @einatjacoby

[2021-12-14 19:23] pickypg opened #121229 "[Dev Console] Triple Quotes breaks JSON object collapsing"
**Kibana version:** 7.16.1 (also in 7.13.x)

**Elasticsearch version:** 7.16.1

**Browser version:** Chrome

**Browser OS version:** 96.0.4664.110

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud

**Describe the bug:**

After doing a search that has large text blocks with newlines, Kibana helpfully converts the newline-including strings into triple quote (`"

[2021-12-14 19:24] sqren commented on #119430
Last time I checked we didn't allow local instances to connect to a remote cluster on Elastic Cloud via CCS. I don't think this has changed but I'd love to be wrong.

[2021-12-14 19:25] amar-rama-elastic commented on #92113
@snehsach19

team -> The CSP and AWP team are deeply invested in this workflow and eager to see it be excellent :-)  Simplifying the policies that are made available, what integrations comes with those policies and how to best communicate it to the user as part of the installation process. Would it be possible to get on a zoom with y'all and explore the end to end figma flow being proposed?

/cc @

[2021-12-14 19:37] #116557 closed

[2021-12-14 19:42] dominiqueclarke opened #121232 "[Uptime] UI Monitor Management - Monitor Management link does not appear on mapping errors page"
The monitor management link does not appear on the mapping issues page, despite the feature flag being on.

<img width="2541" alt="Screen Shot 2021-12-14 at 9 06 56 AM" src="https://user-images.githubusercontent.com/11356435/146068206-49baf244-3ad0-4507-8ed5-680ca6f3f79c.png">

Side note: this should hopefully never happen in the service, since we'll be using data streams. This occurred because th

[2021-12-14 19:42] elasticmachine commented on #121232
Pinging @elastic/uptime (Team:uptime)

[2021-12-14 19:44] #119922 closed

[2021-12-14 19:46] lukasolson commented on #117269
Closing this out, feel free to re-open if it is still an issue after upgrading.

[2021-12-14 19:46] #117269 closed

[2021-12-14 19:56] dominiqueclarke opened #121233 "[Uptime] Make Synthetics Service sync task interval configurable"
Add a new configuration key to Uptime: `xpack.uptime.unsafe.service.syncInterval`

This configuration should be used to inform the interval of the synthetics service configuration sync task, found here: https://github.com/elastic/kibana/blob/main/x-pack/plugins/uptime/server/lib/synthetics_service/synthetics_service.ts#L134

While this value will be configurable, it should be noted that we'd like

[2021-12-14 19:57] elasticmachine commented on #121233
Pinging @elastic/uptime (Team:uptime)

[2021-12-14 20:06] banderror commented on #120668
TODO @banderror review the implementation of this circuit breaker to better understand the problem to be able to reason about any possible solutions. We'll groom this ticket later.

[2021-12-14 20:35] nreese commented on #109751
Closing, visualizations have been removed and users can work around the problem by switching to Maps

[2021-12-14 20:35] #109751 closed

[2021-12-14 20:47] cjcenizal commented on #120137
Seb and I chatted and we agree that the ideal solution would be to rename the index in place (https://github.com/elastic/elasticsearch/issues/37880). Unfortunately, the ES Data Management team tells me it's not possible to implement this for 7.17.

It's not feasible to add a second reindexing phase as I originally proposed, because we're still stuck with the problem of having to create an index wi

[2021-12-14 20:55] cjcenizal opened #121237 "Upgrade Assistant README reindexing steps are inaccurate"
The current README states that reindexing works like this:
 1. Create a new index with a "reindexed-" prefix ([#30114](https://github.com/elastic/kibana/pull/30114)).
 2. Create an index alias pointing from the original index name to the prefixed index name.
 3. Reindex from the original index into the prefixed index.
 4. Delete the old index and rename the prefixed index.

Per @yuliacech's commen

[2021-12-14 20:55] elasticmachine commented on #121237
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-14 21:03] nreese commented on #105111
Closing, I don't see this as a huge problem and have not heard of this causing a lot of confusion with users.

[2021-12-14 21:03] #105111 closed

[2021-12-14 21:03] mdefazio commented on #119175
Makes sense @mattkime, thanks.  I'm happy to put together an alternate mockup—agree its a bit unconventional with the title after the index pattern.

My 2 concerns are that users are opening up this flyout and likely just want to start filling out the pattern (they have one in mind and we want to let them start filling out what they already are thinking about.) The other is dividing up related inp

[2021-12-14 21:07] nreese commented on #102958
Closed by https://github.com/elastic/kibana/pull/119586

[2021-12-14 21:07] #102958 closed

[2021-12-14 21:09] nreese commented on #95178
Closing, duplicate of https://github.com/elastic/kibana/issues/116359

[2021-12-14 21:09] #95178 closed

[2021-12-14 21:10] nreese commented on #93694
Closing, we are moving towards vector tiles and this feature moves in the opposite direction.

[2021-12-14 21:10] #93694 closed

[2021-12-14 21:15] nreese commented on #93116
Closing, heatmap layer has added support for high resolution gridding and this provides a much better heatmap.

Having heatmaps in multiple places, documents layer and aggregation layer, would be a UX nightmare of explaining how,why, when to use. Only having heatmap layer for aggregations keeps everything simple.

[2021-12-14 21:15] #93116 closed

[2021-12-14 21:16] nreese commented on #111982
@nickpeihl any updates on this?

[2021-12-14 21:40] kevinlog opened #121244 "[Security Solution][APM][Fleet] Cannot execute ILM policy for `logs-endpoint.collection-diagnostic` or APM data streams"
**Kibana version:**
`7.16.0`

**Elasticsearch version:**
`7.16.0`

**Describe the bug:**
In `7.16.0`, the the `kibana_system` user doesn't have permission to execute the ILM policy for `logs-endpoint.collection-diagnostic`.  The user is missing the `delete` privilege.   Here is the ILM policy in question: https://github.com/elastic/endpoint-package/blob/master/package/endpoint/data_stream/collecti

[2021-12-14 21:40] elasticmachine commented on #121244
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-14 21:40] elasticmachine commented on #121244
Pinging @elastic/fleet (Team:Fleet)

[2021-12-14 22:16] elasticmachine commented on #109897
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-14 22:49] hbharding commented on #117697
@fkanout @katrin-freihofner (cc @gchaps) I reached out to the design team to see if we had any existing patterns. Dave said we haven't standardized this, but we already have a free solution via `momentjs` and the `moment-duration-format`plugin that we should use.

I played around with these plugins in [CodeSandBox](https://codesandbox.io/s/practical-stallman-p8q2o?file=/src/App.js) to document wha

[2021-12-14 22:53] mattkime commented on #99876
implemented by https://github.com/elastic/kibana/issues/84725

[2021-12-14 22:53] #99876 closed

[2021-12-14 22:54] monina-n opened #121246 "[Security Solution] Alert attachment in case is missing border"
## Summary

In the activity log of a case, an alert does not have the same border as other attachments like the comment. It makes the UI look unpolished and it's difficult to see the background color of the alert without the border. Adding a border will make the UI in the activity log look more unified.

<img width="1273" alt="Screen Shot 2021-12-14 at 2 51 41 PM" src="https://user-images.githubus

[2021-12-14 22:54] elasticmachine commented on #121246
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 23:03] vadimkibana opened #121247 "Theming provider"
Part of https://github.com/elastic/kibana/issues/118866

Use React everywhere it needs to be used, possible places:

- [ ] Management app
- [ ] Management sections
  - [ ] Reporting
  - [ ] Search sessions
  - [ ] Data views
- [ ] Redirect apps
   - [ ] Short URL redirect app
   - [ ] Locator redirect app
   - [ ] Reporting redirect app
- [ ] Flyouts
  - [ ] Drilldowns
  - [ ] Inspector

[2021-12-14 23:04] elasticmachine commented on #121247
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-14 23:10] vadimkibana commented on #121247
Closing in favor of https://github.com/elastic/kibana/issues/119628

[2021-12-14 23:10] #121247 closed

[2021-12-14 23:17] monina-n opened #121248 "[Security Solution] Avatar size and spacing of user emails in the cases detail page"
## Summary

On the case details page, the avatar size of user emails is large and misaligned with user emails. There is also extra spacing between users in the participant list. Decreasing the avatar size, aligning the email, and decreasing the spacing will help the UI look more polished.

<img width="554" alt="Screen Shot 2021-12-14 at 3 13 38 PM" src="https://user-images.githubusercontent.com/67

[2021-12-14 23:17] elasticmachine commented on #121248
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 23:18] monina-n opened #121250 "[]"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2021-12-14 23:20] klacabane opened #121251 "Update code relying on hardcoded .monitoring template versions"
Parent https://github.com/elastic/kibana/issues/120825

In 8.x, Metricbeat will be writing its data in ECS compliant format. In order for stack monitoring to continue to support the legacy data format, new mappings have been created with the new ECS fields for indexing data, and alias fields for the legacy format which point to the corresponding ECS fields. See https://github.com/elastic/elasticse