[2022-02-04 11:50] elasticmachine commented on #124679
Pinging @elastic/fleet (Team:Fleet)

[2022-02-04 11:56] deepikakeshav-qasource commented on #120723
Hi @MadameSheema

We have validated this issue on **8.0.0 GA BC1** and observed that issue is **Fixed**.

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/152525094-a1735c52-2e98-4c99-a3a6-e7ce5af49652.png)

![image](https://user-images.githubusercontent.com/61860752/152525103-4de16604-531b-4090-a2c9-27f4515e

[2022-02-04 12:01] manishgupta-qasource commented on #124679
Reviewed & assigned to @jen-huang

[2022-02-04 12:02] nreese commented on #122442
It should not

[2022-02-04 12:08] manishgupta-qasource commented on #124675
Reviewed  & assigned to @kevinlog

[2022-02-04 12:13] kibanamachine opened #124681 "Failing test: Chrome X-Pack Observability UI Functional Tests.x-pack/test/observability_functional/apps/observability/alerts/rule_stats·ts - ObservabilityApp Observability rules Stat counters Exist and display expected values"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9249#1bc3e5ed-cb5b-4638-a1e2-69b22fd9105b)

[2022-02-04 12:18] paulb-elastic commented on #124670
@lucasfcosta I understood this was fixed in https://github.com/elastic/kibana/issues/122404, is it the same issue?

[2022-02-04 12:31] kevinlog commented on #124675
@dasansol92 perhaps this is something that can be made generic in the new unified components

For the time being l, it makes sense to me to include the name of the policy like we do in Trusted Apps

[2022-02-04 12:32] deepikakeshav-qasource commented on #119418
Hi @MadameSheema

We have validated this issue on **8.0.0 GA BC1** and observed that issue is **Fixed**.

Please find below testing details:

**Build Details:**
[code]

**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/152529595-ed2615e3-4e09-4ff0-af65-54008592da58.png)

![image](https://user-images.githubusercontent.com/61860752/152529613-af775c79-6f3e-41b7-bac2-b830976

[2022-02-04 12:41] #123116 closed

[2022-02-04 13:04] elasticmachine commented on #124649
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-02-04 13:05] mistic commented on #124649
This test keeps failing and looks flaky. Skipping for now.

main https://github.com/elastic/kibana/commit/78d2a8decbdff53f4822658345f6f7d379a4ee9f

[2022-02-04 13:09] elasticmachine commented on #124654
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-04 13:16] rudolf commented on #41439
Percentage of clusters using this API:
[code]

I'm not sure what exactly our cutt-off would be, but these usage numbers seem pretty low to me. Given the cost and risks outlined above I don't think these justify keeping the API around.

[2022-02-04 13:37] MikePaquette opened #124687 "[Security Solution] Need generic (webhook) connector for Cases"
**Scope**:  This epic covers the creation of a new generic (webhook?) case connector to allow users to send cases and case updates to a custom third-party case/ticket management system.

**Security Solution Initiatives**

- Enable SecOps Workflows via Case Workflow Integration / Case Management
- Integrate Security-Relevant Data Sources as modules/packages

**Security Solution Themes**

- Case / T

[2022-02-04 13:50] elasticmachine commented on #124149
Pinging @elastic/fleet (Team:Fleet)

[2022-02-04 14:04] joshdover commented on #124149
If these are intended to be integration policy-specific values, then I don't think using saved object that is directly shipped down to Agents is quite right, but I think there's a better path forward here that fits within our existing model.

If we want these rules to be integration policy-specific and they're used for deciding what data to ingest, these really sound like they should be part of th

[2022-02-04 14:07] kibanamachine commented on #124649
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9259#fa4b94f2-f86f-476f-b24d-824cd314a1c1)

[2022-02-04 14:20] #119719 closed

[2022-02-04 14:31] dcolazin commented on #122256
@kertal For example, how the Firefox JSON viewer does - similarly as arrays and subobjects, long strings are collapsible

[2022-02-04 14:35] Kerry350 commented on #124130
Yeah, fair point. I know Chris did some good work to produce high cardinality datasets for metrics, but I appreciate that might not help here.

For characteristics I'd say we need one or more fields to represent the high cardinality nature, and then it would also be handy to have some fields with varied types (text, keyword etc) so that we can test against different comparators (which have the lar

[2022-02-04 14:37] #121947 closed

[2022-02-04 14:44] dej611 opened #124690 "[Heatmap] Search error for Top Hits metric with some numeric fields"
**Describe the bug:**

Using the `memory` field with Top Hit metric in a Heatmap a Search Error is raised about breaking the rule of React hooks.

<img width="1092" alt="Screenshot 2022-02-04 at 14 54 26" src="https://user-images.githubusercontent.com/924948/152548123-71a2a2f6-570d-41e9-892e-a92cb3c76ccb.png">

**Steps to reproduce:**
1. Create an Aggregation-based Heatmap using the `logs` sample

[2022-02-04 14:44] elasticmachine commented on #124690
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-04 14:45] jportner opened #124691 "Suggestion to create service account tokens using CLI is wrong"
Related: #115241, #122704

In 7.17, the Upgrade Assistant shows a deprecation warning for Kibana instances that have `elasticsearch.username: elastic` or `elasticsearch.username: kibana` configured.

Authenticating Kibana to Elasticsearch with either of these users is deprecated and should be avoided.

Note that using `elasticsearch.username: kibana_system` is still supported / not deprecated, but

[2022-02-04 14:45] elasticmachine commented on #124691
Pinging @elastic/kibana-security (Team:Security)

[2022-02-04 14:49] flash1293 opened #124693 "[TSVB] Lucene query on dashboard level is not respected for annotations request"
**Kibana version:** >= 7.15

**Describe the bug:** If "ignore global filters" is disabled on an annotations source, the global filters are ignored nevertheless in case the query is specified as lucene

**Steps to reproduce:**
1. Configure TSVB visualization with annotations source and disabled "ignore global filters"
2. Add to dashboard
3. Filter dashboard using KQL, observe annotations being filt

[2022-02-04 14:49] elasticmachine commented on #124693
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-04 14:52] jportner opened #124694 "Audit events for `user_login` can be missing when using PKI or Kerberos authentication"
**Kibana version:** 7.11+

**Describe the bug:**

In Kibana 7.11, we introduced our new "ECS audit logger" -- this is the only audit logger available in 8.0+.
In fixing another bug (#124299) we discovered that `user_login` audit events may be missing when using PKI or Kerberos authentication in certain situations.

We rely on the `/login` endpoint for these audit events to be generated, but users

[2022-02-04 14:52] elasticmachine commented on #124694
Pinging @elastic/kibana-security (Team:Security)

[2022-02-04 14:54] michaelolo24 opened #124695 "[Security Solution][Investigations][Tech Debt] - FilterManager usage refactor"
## Background:

As with most other applications in Kibana, the security_solution is making use of the `FilterManager` for managing the filter state associated with the KQL Search Bar. Within the security_solution though, there are two instances of the SearchBar that are maintained. One in the main security_solution application seen on the Overview, Alerts, Rule Details, Hosts, and Network pages an

[2022-02-04 14:56] jbyroads commented on #7305
@mattkime just reiterating the last comment.  You closed this ticket "in favor of #7305", but THIS ticket is 7305.  This is a feature I would like to see in Kibana.

[2022-02-04 14:57] darnautov opened #124696 "[ML] Anomaly Explorer excessive API calls"
Anomaly Explorer page performs too many redundant API calls during initial load and some UI interactions. Some examples:

1. Open Anomaly Explorer from the Anomaly Detection Job list page ([open_anomaly_explorer.har.zip](https://github.com/elastic/kibana/files/8003691/open_anomaly_explorer.har.zip))
2. Selecting a cell on the Overall swim lane invoke **24 API calls**  ([click_overall_swim_lane.har

[2022-02-04 14:57] elasticmachine commented on #124696
Pinging @elastic/ml-ui (:ml)

[2022-02-04 15:13] mattkime commented on #7305
Apologies for my failed communication. Here's an active PR you can track - https://github.com/elastic/kibana/pull/124191

[2022-02-04 15:49] pmuellr commented on #104977
@mikecote - we should add this as another item in the "when you are adding a new connector ..." list of things to do - contact security solution to have them take a pass at them ...

[2022-02-04 16:16] pheyos commented on #124611
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:16] #124611 closed

[2022-02-04 16:16] pheyos commented on #124608
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:16] #124608 closed

[2022-02-04 16:16] pheyos commented on #124605
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:16] #124605 closed

[2022-02-04 16:19] pheyos commented on #124592
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:19] #124592 closed

[2022-02-04 16:20] pheyos commented on #124446
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:20] #124446 closed

[2022-02-04 16:20] pheyos commented on #124447
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:20] #124447 closed

[2022-02-04 16:20] pheyos commented on #124448
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:20] #124448 closed

[2022-02-04 16:20] pheyos commented on #124449
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:20] #124449 closed

[2022-02-04 16:20] pheyos commented on #124450
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:20] #124450 closed

[2022-02-04 16:21] pheyos commented on #124451
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:21] #124451 closed

[2022-02-04 16:21] pheyos commented on #124452
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:21] #124452 closed

[2022-02-04 16:21] pheyos commented on #124453
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:21] #124453 closed

[2022-02-04 16:22] pheyos commented on #124433
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:22] #124433 closed

[2022-02-04 16:22] pheyos commented on #124434
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:22] #124434 closed

[2022-02-04 16:22] pheyos commented on #124435
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:22] #124435 closed

[2022-02-04 16:23] pheyos commented on #124436
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:23] #124436 closed

[2022-02-04 16:23] pheyos commented on #124437
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:23] #124437 closed

[2022-02-04 16:23] pheyos commented on #124439
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:23] #124439 closed

[2022-02-04 16:23] pheyos commented on #124441
Looks like an issue with the environment, also I couldn't reproduce the issues in our 7.17.0 / 8.0.0 / 8.1.0 cloud runs.

[2022-02-04 16:23] #124441 closed

[2022-02-04 16:28] EricDavisX opened #124709 "[ResponseOps][Rules] Add unit tests for Rule Executors edge cases (we already have some e2e tests)"
ResponseOps team discussed:
The code can be improved by adding some unit tests around the rule executors
x-pack/plugins/stack_alerts/server/alert_types/es_query/alert_type.ts
x-pack/plugins/stack_alerts/server/alert_types/index_threshold/alert_type.ts

In each there is an executor function that we don't have any unit tests for.
This is not a critical risk, as it is quite useful to have the below n

[2022-02-04 16:28] elasticmachine commented on #124709
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-04 16:41] MadameSheema commented on #120596
Reopening this issue since this behaviour is currently present on 8.1.

This is the error logged when trying to investigate a timeline for Threshold alerts:

`actions.tsx:142 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'threshold')`

[2022-02-04 16:45] biasettigrulex commented on #124027
Hi All,
after several tests i found a way to bypass the issue.

I'm using this grok code and works:
`%{IPORHOST:ip}%{SPACE}-%{SPACE}%{DATA:user_name}%{SPACE}.%{HTTPDATE:timestamp}.%{SPACE}\"%{WORD:http_method}%{SPACE}%{NOTSPACE:url_path}%{SPACE}%{SPACE}HTTP/%{NUMBER:http_version}\"%{SPACE}%{NUMBER:response_code}%{SPACE}%{NUMBER:body_sent_bytes}%{SPACE}\"%{NOTSPACE:referrer}\"%{SPACE}\"%{DATA:clien

[2022-02-04 16:45] kpollich commented on #124273
It's hard to say with certainty what would happen here. We could potentially error when extracting a `.zip` archive somewhere in these two chunks of code:

- https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/x-pack/plugins/fleet/server/services/epm/archive/index.ts#L63-L92
- https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/x-pack/plugins

[2022-02-04 16:56] michaelolo24 opened #124713 "[Security Solution][Investigations][Tech Debt] - Investigate In Timeline Clean Up"
## Background:

Within the security_solution, there is a utility function `investigateInTimeline` that allows users to launch an investigation in a default timeline or a linked timeline template. With recent changes in 8.0, some potential buggyness was uncovered in how this function was implemented. Some of the bugs that came from this are included below.

- https://github.com/elastic/kibana/issue

[2022-02-04 16:58] jportner opened #124714 "Plugin failure can cause "Get All Deprecations" API to hang"
**Kibana version:** 7.17

**Describe the bug:**

When running Kibana 7.17 on an Apple Silicon Mac (arm64), I noticed this error is logged to the console on startup:

[code]

When using the Upgrade Assistant, the browser makes a call to `GET api/deprecations` to get all Kibana deprecations -- this call hangs and never returns. The reporting plugin failure is the culprit.

**Steps to reproduce:**
1.

[2022-02-04 16:58] elasticmachine commented on #124714
Pinging @elastic/kibana-core (Team:Core)

[2022-02-04 16:58] mdefazio commented on #123828
In regards to the extra confirmation step: noticed that switching from APM binary to Elastic agent feels like a similar pattern. There is a checkbox to confirm within the modal—likely a nice addition for RTF promotion.

Copy from switching APM server to Elastic agent just for visibility:

[2022-02-04 17:01] XavierM opened #124715 "[RAM] Bulk update on rules"
This work will be able to allow our solution to create bulk update on Rule with the bulk api from our saved object. Below, I am going to describe step by step how we want this bulk update to work but before that we want to make sure that will have our new bulk_update using our `retryIfConflicts` like we do for all our mutations.

Our bulk_update interface should looks like that:
[code]
Step by Ste

[2022-02-04 17:01] elasticmachine commented on #124715
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-04 17:02] cjcenizal commented on #124714
@elastic/kibana-core This seems like a bad bug, so I've taken the liberty of adding this to the 7.17.1 tracking issue. Do you agree about the priority, and if so do you have capacity to address this for 7.17.1?

[2022-02-04 17:05] A-Hall opened #124716 "Improve feedback on PagerDuty alerts when connector failed"
**Kibana version:** 7.16.3

**Elasticsearch version:** 7.16.3

**Describe the bug:**

Currently when a payload that would be sent to PagerDuty is larger than the limit, the alert is never sent to PD and there's no indication in the UI that the alert was not sent.  This can lead to issues where an urgent issue is never reported to the end user's reporting system.

**Steps to reproduce:**
1.  Create

[2022-02-04 17:09] A-Hall commented on #124716
Related to: https://github.com/elastic/kibana/issues/120542

[2022-02-04 17:13] nkhristinin opened #124718 "[CTI] Move kbn-alert-load to elastic org"
To be able to collaborate and develop a kbn-alert-load library it makes sense to move it to elastic org from [private repo](https://github.com/nkhristinin/kbn-alert-load).

### Acceptance Criteria

- [ ] Rebase changes from [original library](https://github.com/pmuellr/kbn-alert-load)
- [ ] Clean/refactor code (Typescript errors, naming, etc)
- [ ] Write readme / instructions

[2022-02-04 17:15] #86729 closed

[2022-02-04 17:15] #120383 closed

[2022-02-04 17:18] #124334 closed

[2022-02-04 17:27] elasticmachine commented on #124024
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-04 17:29] tsullivan commented on #124024
Another possibility is the larger export size is too large for Elasticsearch to index. Check to see if the ES setting `http.max_content_length` is large enough for ES to accept the data coming from Kibana Reporting.

https://www.elastic.co/guide/en/elasticsearch/reference/7.12/modules-network.html

[2022-02-04 17:29] #118423 closed

[2022-02-04 17:29] michaelolo24 opened #124724 "[Security Solution][Investigations][Tech Debt] - Timelines Template Documentation"
## Background:

This issue is focused on documenting the functionality of timeline templates as well as  is generally focused on documentation of behavior for the timeline templates including:

1. How does the import/export behavior currently work for timeline templates
2. How should query overrides work when tied with a rule
3. What areas need to be tested

In addition there are the below issues

[2022-02-04 17:37] #124690 closed

[2022-02-04 17:42] joshdover commented on #124273
I was thinking we'd do the file contents, not the file names. Your concerns about large packages is valid, but I think at this point it may be something we can defer on. Currently our largest bundled package is < 2MB and we have no immediate plans to add any more right now. I'd suspect we'd be able to use signature verification before that problem arises.

I don't suspect tampering to be an issue

[2022-02-04 17:46] kqualters-elastic opened #124730 "[Security Solution][Investigations][Tech Debt] - Remove code that was added to hack around api limitations in Eui components"
## Background:

Eui team has recently added a way to programmatically control the state/behavior of some components that was not possible before https://github.com/elastic/eui/pull/5590 and so now would be a good time to remove some less idiomatic code and use the more canonical component apis.

## Tasks

TODO: this will involve removing code related to full screen hacks, css in https://github.com

[2022-02-04 17:51] fkanout opened #124733 "[RAC] The "<" (less than) and ">" (more than) are ignored by KQL bar when a wildecard is applied"
# 🔖 Summery

Related to https://github.com/elastic/kibana/issues/117697. The `<`  (less than) and `>`(more than) symbols are used in the alerts reason message for all Apps.

The reason message field could be used in the KQL bar as a filter. However, using a wildcard query with `<` and `>`  e.g. `kibana.alert.reason : *>=*`, `kibana.alert.reason : *>*`  won't work as KQL ignore it and return all do

[2022-02-04 17:58] elasticmachine commented on #124649
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-04 17:58] qn895 commented on #123796
Closing this via https://github.com/elastic/kibana/pull/124587

[2022-02-04 17:58] #123796 closed

[2022-02-04 17:59] jportner opened #124734 "Platinum-only sub-feature privileges are hidden until Kibana is restarted"
Kibana's sub-feature privileges are available with a Gold or better license by default, but some of them may only be available with a Platinum license. An example of this is the Reporting sub-features of the Dashboard feature:

https://github.com/elastic/kibana/blob/64f1dddcb05a4330145174c06df81b96b7cba8ca/x-pack/plugins/features/server/oss_features.ts#L491-L516

When you have a Platinum license i

[2022-02-04 17:59] elasticmachine commented on #124734
Pinging @elastic/kibana-security (Team:Security)

[2022-02-04 18:06] tsullivan commented on #121056
We should use the docLinks service for this, which is now available on the server-side: https://github.com/elastic/kibana/pull/123818

[2022-02-04 18:07] kpollich commented on #124273
Looks like we have pretty thorough validation for package archives that fires before installing here:

https://github.com/elastic/kibana/blob/main/x-pack/plugins/fleet/server/services/epm/archive/validation.ts

If we fail to install because an error that surfaces here, we'll get a non-fatal setup error, e.g.

[code]

I put a bogus zip in the `bundled_packages` directory with just some random text

[2022-02-04 18:16] kpollich commented on #124273
As a follow up, I pulled up the actual apm package, wrote a bunch of gibberish in one of the YML files in the package and saw similar results.

[code]

[2022-02-04 18:39] andrew-goldstein opened #124742 "[Security Solution] Rule import fails when exceptions associated with the rule have comments"
Rule import fails when exceptions associated with the rule have comments.

- This issue only effects `8.0.0` and `main`, because the `7.x` releases did not support importing exception lists
- Importing a rule with exceptions works correctly when the exceptions do not have comments

**Kibana/Elasticsearch Stack version:**

8.0.0

**Steps to reproduce:**

1. Create a new rule in the Security Solutio

[2022-02-04 18:39] elasticmachine commented on #124742
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-04 18:39] elasticmachine commented on #124742
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-04 18:53] liza-mae commented on #122441
This is already set.

[2022-02-04 18:55] liza-mae commented on #122441
Settings can be found here: https://github.com/elastic/elastic-stack-testing/blob/7.17/ci/cloud/product/settings/kibana.yml

[2022-02-04 19:29] jbudz commented on #113292
Resolved by https://github.com/elastic/kibana/pull/122102

[2022-02-04 19:29] #113292 closed

[2022-02-04 19:29] ryankeairns opened #124745 "[Seamless] View documents behind a visualization"
#### Summary
As an analyst, reviewing dashboards and visualizations throughout Kibana, I would like to view the underlying documents of a given visualization without leave the context of the current application.

#### Problem
Customers can often lose context as they move between applications or they resort to keeping multiple tabs open often recreating their 'dataset' in each view. One of the most

[2022-02-04 19:33] kibanamachine opened #124746 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_index_pattern_popularity·js - management index result popularity should update the popularity input"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9282#258cf82d-49db-49d6-94af-de0e8f1154d1)

[2022-02-04 19:42] kibanamachine opened #124747 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/stack_management_jobs/import_jobs·ts - machine learning stack management jobs import jobs ensures jobs have been imported"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9280#222a760f-74ff-49d1-abcc-db6e782bf7d1)

[2022-02-04 19:50] rashmivkulkarni commented on #122441
I applied the setting to a **newly created 7.17 deployment** , but the setting doesn’t seem to reflect in the Kibana UI . Any idea, why the config is not being picked up ? Probably needs to be white listed and how ?   have asked cloud team.

<img width="1311" alt="Screen Shot 2022-02-04 at 11 31 09 AM" src="https://user-images.githubusercontent.com/11466284/152593853-c2da6b34-8157-4352-af77-eba0ba

[2022-02-04 19:53] michaelolo24 commented on #122111
Hi @deepikakeshav-qasource - can you please retest this as @ecezalp is seeing this behavior in `main` again, which would lead me to think it's showing up in 8.1. Thanks!

[2022-02-04 19:54] liza-mae opened #124748 "[Docs] Update upgrade assistant api status documentation"
**Kibana version**: 7.17.0

1. The documentation for the below needs to be updated: https://www.elastic.co/guide/en/kibana/current/upgrade-assistant-api-status.html

In 7.17.0: ```api/upgrade_assistant/status``` actually returns just a summary/details, no ```cluster``` or ```indices``` information is returned anymore.

Response example below:
[code]
So you can't take any action from this response

[2022-02-04 19:54] A-Hall opened #124749 "Add filter_path option to Elasticsearch query alert rules"
**Describe the feature:**

Currently there is no way to manipulate the response body in an alert action in Kibana alerts, for example to slim down `{{context.hits}}` to only fields relevant to the alert.   That leaves us with formatting the actual hits array sent back to Kibana from ES as the only option.  ~You can reduce the fields included in the _source by including `"_source": ["myRelevantFiel

[2022-02-04 19:55] elasticmachine commented on #124748
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-04 20:01] weberr13 opened #124750 "Create "uninstall" key for protecting Elastic-Agent/Endpoint/et al from malicious administrators"
**Describe the feature:**
Many security products such as Cylance feature a one time "uninstall key" that must be provided at uninstall time or the uninstall process fails.
**Describe a specific use case for the feature:**
Oftentimes users with administrative privs on a host (eg developers) will attempt to disable security scanning and protection services for various valid or invalid reasons.  Many

[2022-02-04 20:14] melissaburpo commented on #118504
Closing as this was addressed in the PR linked above for 8.1

[2022-02-04 20:14] #118504 closed

[2022-02-04 20:17] ryankeairns opened #124751 "[Seamless] Visualize data without leaving Discover"
#### Summary
As an analyst, I would like the ability to quickly visualize data without leaving my document exploration context.

#### Problem
Two common exploration use cases in Discover are 1) verifying/learning about my data and 2) digging into issues and looking for patterns. Discover is a document-oriented, text-heavy experience by nature. That said, while exploring, information and clues can

[2022-02-04 20:18] #120767 closed

[2022-02-04 20:18] #61605 closed

[2022-02-04 20:31] elasticmachine commented on #124751
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-04 20:34] ryankeairns opened #124752 "Add any visualization to a dashboard"

[2022-02-04 21:07] tsullivan opened #124753 "[Reporting] Revert the integration of Event Log"
**Kibana version:** 8.1.0

In two PRs, Reporting added Event Log integration to capture timings and metrics related to performance.

- elastic/kibana#119923
- elastic/kibana#124458

Since then, there have been talks that Event Log isn't ready to have other consumers besides Alerting:

For the time being, we should modify the implementation of `reportingEventLoggerFactory` to create a mocked `IEven

[2022-02-04 21:10] elasticmachine commented on #124752
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-04 21:10] ryankeairns opened #124755 "[Seamless] Add any Lens visualization to a Case"
Relates to https://github.com/elastic/kibana/issues/124752

#### Summary
As a user, when I see something interesting that I would like to include in a Case, it should be easy to do that in context.

#### Problem
As you are working case and exploring data, you may build or see things in disparate areas of (the ever growing!) Kibana landscape and you'd like to easily share them in Case. As it stands

[2022-02-04 21:15] elasticmachine commented on #124753
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-04 21:16] elasticmachine commented on #124755
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-04 21:16] tsullivan commented on #124753
cc @kobelb @stacey-gammon @elastic/response-ops @Dosant

[2022-02-04 21:20] spong opened #124756 "[Security Solution][Detections] Supporting alerts-on-alerts Pre-packaged Rules"
The `detection-rules` repo is looking to start shipping Pre-packaged Rules leveraging alerts-on-alerts (AOA from here) functionality (https://github.com/elastic/detection-rules/pull/1755). This will be the first time shipping AOA prebuilt rules and will require some considerations to fully support.

### What are AOA Rules?

AOA Rules are not a specific rule type, but rather a rule configuration wh

[2022-02-04 21:20] elasticmachine commented on #124756
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-04 21:20] elasticmachine commented on #124756
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-04 21:22] ryankeairns opened #124757 "[Seamless] Visualize geo data without leaving Discover"
Relates to https://github.com/elastic/kibana/issues/124751

#### Summary
As an analyst, I would like the ability to quickly visualize data without leaving my document exploration context.

#### Problem
Two common exploration use cases in Discover are 1) verifying/learning about my data and 2) digging into issues and looking for patterns. Discover is a document-oriented, text-heavy experience by na

[2022-02-04 21:29] ryankeairns opened #124758 "[Seamless] Start Canvas workpad from dashboard"
#### Summary
As a Dashboard user, I would like to share information in a more flexible layout that also supports branded graphics, multiple pages, etc. [insert definition of Canvas].

#### Problem
Dashboard has its limitations for good reason. Canvas addresses some of those (as noted above) but it can be challenging to start from scratch. In order to bridge that gap and help users understand the n

[2022-02-04 21:37] #123724 closed

[2022-02-04 21:41] danielkhan commented on #124370
Thank you @estermv - great progress, this looks good so far.

A few suggestions:
* I think we should show past/non-active alerts from the last 24 hours as well. When I come in, in the morning, I"d like to see what was going on.
* On the existing overview page, we have a button to configure alerts, we should do this here as well.
* Telemetry on clicking through to the alert from the overview page,

[2022-02-04 21:43] lukeelmers commented on #124714
@cjcenizal Thanks for the ping. We will add this to the queue and try to get it addressed between now and 7.17.1 FF.

[2022-02-04 21:50] ryankeairns opened #124760 "[Seamless] Improve the discoverability of common runtime field cases"
#### Summary
As an analyst or author, I would like the ability to add new fields during the exploration phase _[insert definition of runtime fields]_ . Often (assumption), I would like to do relatively simple things like basic calculations, concatenation, duplication, map ranges, or split on a delimiter to generate a new field for my analysis.

#### Problem
While these things are currently possibl

[2022-02-04 22:13] elasticmachine commented on #124760
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-04 22:13] elasticmachine commented on #124760
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-04 22:13] lukeelmers commented on #41439
I think our rough rule of thumb is < 1%, but based on our earlier discussions on this thread, it sounds like we were already comfortable removing it. I'm also unclear on whether the fact that this didn't merge for 8.0 means we need to stick with the newer, longer deprecation timelines, or if simply meeting the telemetry thresholds is sufficient.  cc @stacey-gammon WDYT?

[2022-02-04 22:13] elasticmachine commented on #124760
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-04 22:18] jportner commented on #124734
Testing this out more it's even less reliable than that. I've tried a couple dozen times and I'm only able to get Kibana into this state about 10% of the time. It appears to be some sort of race condition for the consumers of the license observable. My theory is that the race condition is as follows:

1. The `AuthorizationService` detects a license change and calls the `registerPrivilegesWithClust

[2022-02-04 22:40] lukeelmers commented on #93505
Yeah, I tend to agree that it doesn't make a lot of sense to apply this setting to the SO listing page, however I do understand that it's a little confusing from a UX perspective to see more objects than are indicated in the setting, especially when other parts of Kibana adhere to it.

If we did want to apply it to SO listing, we would need to explain the caveats in a big warning at the top simila

[2022-02-04 22:44] dakrone commented on #124200
Should we be making value judgements for on-prem users based on an arbitrary node attribute, given that the attribute name could be anything (using `data` is only our Cloud convention, after all)?

[2022-02-04 22:47] spong opened #124763 "[Security Solution][Detections] Hoist Timestamp Override configuration to Rule Preview to more accurately represent preview results"
This is an enhancement request for moving the [`Timestamp Override` configuration](https://www.elastic.co/guide/en/security/7.17/rules-ui-create.html#rule-ui-advanced-params) from the `Step 2 > Advanced` section of the Rule Creation/Edit flow, to the `Step 1 > Preview` section. The impetus for this ER is two-fold:

1. There has been some user feedback/confusion that when their rule runs they don't

[2022-02-04 22:47] elasticmachine commented on #124763
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-04 22:47] elasticmachine commented on #124763
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-04 22:51] yctercero commented on #124742
@peluja1012 @jethr0null

Currently the import allows for comments formatted as `[{ comment: "I'm a comment"}]` - so new comments to be added, but is throwing when importing existing comments (which in all likelihood is the more common use case). I have a fix, but wondering what you feel the behavior should be here.

With my fix, existing comments would be recreated using the username of the person

[2022-02-04 22:59] lukeelmers commented on #124425
Also, just to disambiguate for anyone who stumbles across this issue, this API is _not_ the same as the one proposed in https://github.com/elastic/kibana/issues/46984

That issue is focused on telling load balancers that Kibana is ready to receive traffic.

This project is focused on telling humans (and UIs) about the current health of key components in Kibana.

[2022-02-04 23:03] spong opened #124764 "[Security Solution][Detections] Remove allow-listing of Rule Actions"
As discussed [here](https://github.com/elastic/kibana/issues/104977#issuecomment-1029467941), it is no longer a requirement to allow-list which Rule Actions can be used within the Security app -- all actions may be made available by default.

Allow-list is currently located here:
https://github.com/elastic/kibana/blob/faf6482e01d5b7ef1b31a58bb70a576a54e422dd/x-pack/plugins/security_solution/common

[2022-02-04 23:03] elasticmachine commented on #124764
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-04 23:03] elasticmachine commented on #124764
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-04 23:07] spong commented on #104977
Thanks @jethr0null! I've created this issue (https://github.com/elastic/kibana/issues/124764) for removing our allow-listing logic (which will in turn expose `Server Log` and close this issue as well).

[2022-02-04 23:25] elasticforme commented on #123591
I am coming back to this. got busy with few other thing.
Something for sure wrong with lens. Finally I have setup test system to do this test. and quite huge amount of data for test in.
I don't think it is anything to do with sync search on/off. it gives result in same amount. did repeated test.

Here is 7.17.0 (elk and kibana same level)
Lens inspect.  it is taking more then two+ min to pop up on

[2022-02-04 23:33] peluja1012 commented on #124742
Hey @yctercero, my understanding is that we have these 3 options:

1. We could preserve the values of `created_at`, `created_by`, `updated_at`, `updated_by` on import. In this case, history is fully preserved but there is no indication that an import action took place.
2. We could preserve the values of `created_at`, `created_by` and update the values of `updated_at`, `updated_by` to be `updated_a

[2022-02-05 00:22] cjcenizal commented on #124200
@dakrone It sounds like you're concerned about providing guidance based on erroneous assumptions. Is that right? The way I read Ryan's suggestion, it sounded less about making assumptions, and more about pointing out possibilities and making suggestions. Bits that stood out to me in bold:

If we can craft a message that explains what ES has observed in the configuration and clearly explains how th

[2022-02-05 00:30] debadair commented on #122759
Fixed by #124744 and https://github.com/elastic/stack-docs/pull/1970.

[2022-02-05 00:30] #123243 closed

[2022-02-05 01:05] kibanamachine commented on #123372
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9301#1599c73e-b5f7-4760-ae08-aca2373f991e)

[2022-02-05 01:15] alex-fedotyev commented on #120377
It feels related to the question on aggregations, although not my area of expertise :)

I checked that today in APM we can show 4000 JVM instances in a grid with good performance.
Would it be possible to implement infra instances similarly?

![CPT2202041710-1784x1950](https://user-images.githubusercontent.com/61838744/152622888-6a97e60d-7ee8-4151-ad98-743630a3eea6.gif)

[2022-02-05 04:33] kibanamachine commented on #124663
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9317#53a8535a-a88a-464f-af0a-7db9a712fe66)

[2022-02-05 05:44] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9321#8f290bec-4fa1-4056-8a5e-efe51da20412)

[2022-02-05 08:34] flash1293 commented on #123591
@elasticforme I checked the har files and it's not configured completely identical - the TSVB chart is ordering the terms by count of records while the Lens chart is ordering them by the cardinality metric.

However, I don't think it's the root cause - in your screenshot you can see the `took` time of the raw response and the time in the green badge in the top right is extremely different. It seem

[2022-02-05 14:03] katsil commented on #124676
Any news?

[2022-02-05 15:37] rushilp2311 commented on #123527
@mattkime  Can I look into this?

[2022-02-05 18:43] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9373#eb9803e5-696a-4778-bc3c-0b6bff354e69)

[2022-02-05 20:32] TinaHeiligers commented on #101907
What problem are we specifically trying to solve by restricting a settings's access to only the plugin that registers it? I understand the benefit of reducing the risk of unknown/missing settings being used (a settings' owner isn't enabled, hence the setting is itself not registered), but we'd have the same situation anyway if the plugins had a direct interdependency.

Perhaps, as a middle ground,

[2022-02-05 20:33] kibanamachine commented on #122820
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9382#738ff799-960d-41ba-81cb-1b9a8c176ff4)

[2022-02-05 21:53] kibanamachine commented on #106547
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9384#a825b64b-cc1d-46ec-abcc-84695d1c1715)

[2022-02-05 23:41] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9393#25c1bda1-e1af-4d57-914f-2b5679456154)

[2022-02-05 23:54] kibanamachine commented on #106547
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9392#6f11452b-76c5-4529-b317-56fb4dbba5fa)

[2022-02-05 23:56] kibanamachine commented on #118479
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9392#77597560-28a2-4525-bb2a-105a0ac2951f)

[2022-02-06 00:06] kibanamachine commented on #124649
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9394#87fe8c43-d484-4301-933b-9152bee88abf)

[2022-02-06 02:07] kibanamachine commented on #115415
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9401#d5ed650d-b6ce-4994-aaa3-3d3bab6191c6)

[2022-02-06 10:00] dgieselaar opened #124772 "[APM] Set soft limit for number of services in the group"
To prevent performance issues (w/ the terms query), we should set a soft (configurable) limit on the amount of services in each service group. 50 (the number of services on a page) seems like a good start?

[2022-02-06 10:00] elasticmachine commented on #124772
Pinging @elastic/apm-ui (Team:apm)

[2022-02-06 10:02] eyalkraft commented on #124149
Hey @joshdover, Thanks for your comment! This sounds great and pretty similar to what we had in mind.
The idea was anyways not to ship the whole rule to the agent (description, etc..) but only the state of all the rules (enabled/disabled) as a Yaml field just like you suggested ([issue](https://github.com/elastic/security-team/issues/2489)).
You're also correct that everything a rule includes but

[2022-02-06 14:06] kibanamachine commented on #124649
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9448#15b4fa9b-fe6c-4b92-9739-0182344af764)

[2022-02-06 14:31] kibanamachine commented on #118288
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9454#803a76f5-79c1-4ace-ba54-09d8d2e3736d)

[2022-02-06 15:37] smith commented on #120377
I don't have an answer for this but here's where the query for that JVM table is: https://github.com/elastic/kibana/blob/d66a7bf255943639a639ba8d65ed5472c6c9125a/x-pack/plugins/apm/server/routes/service_nodes/get_service_nodes.ts#L43-L101.

Looks like a terms aggregation with size 10000 and we do the pagination on the client.

[2022-02-06 17:36] kibanamachine opened #124774 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/maps/maps_telemetry·ts - apis Maps endpoints maps_telemetry should return the correct telemetry values for map saved objects"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9466#b6d3bd34-0e6a-4cee-a8d9-2903c40e7862)

[2022-02-06 17:40] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9464#42aedac6-ec2e-434f-8bf0-25c3cdd7459d)

[2022-02-06 18:50] PaoloUr commented on #14536
+1

[2022-02-06 18:51] FrancescoUrbano commented on #14536
+20

[2022-02-06 21:07] kibanamachine commented on #124649
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9479#20e281ba-e529-4eac-bf5f-4336738514a4)

[2022-02-06 21:22] TinaHeiligers commented on #94876
I'm going to rename this issue to make the title more descriptive of what changes we want to make.

[2022-02-06 22:43] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9485#23a0a07a-261b-4085-8e4d-a355cac5ec4b)

[2022-02-06 22:51] kibanamachine commented on #107854
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9484#2be2cbc8-5331-42c7-a6ce-31049648f88d)

[2022-02-07 00:36] kibanamachine commented on #122001
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9493#046eaa67-bb8d-4a12-94c1-75aac5fe7bbe)

[2022-02-07 02:02] kibanamachine opened #124776 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alert_create_flyout·ts - Actions and Triggers app create alert should create an alert"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9496#a9eff031-8411-4205-8709-335635606064)

[2022-02-07 02:02] kibanamachine opened #124777 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alert_create_flyout·ts - Actions and Triggers app create alert "after each" hook for "should create an alert""
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9496#a9eff031-8411-4205-8709-335635606064)

[2022-02-07 02:24] matschaffer opened #124778 "Provide cluster_name or display_name as a mapped field in monitoring indices"
**Describe the feature:**

The cluster_stats documents contain information about the "human friendly" name of a given cluster under `cluster_settings.cluster.metadata.display_name`.

This used to be available as a mapped field `display_name`, but appears that they are no longer mapped as of at least 7.16 (maybe earlier).

Since it's unmapped, customers are probably unable to build any sort of visu

[2022-02-07 02:24] elasticmachine commented on #124778
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-07 02:25] matschaffer commented on #124778
Note that for the ECE customer case I think we'll have to do this mapping for both internal collection and metricbeat collection.

[2022-02-07 05:32] kibanamachine opened #124779 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Fleet preconfiguration reset Reset all policy Works and reset all preconfigured policies"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9508#cdae463c-91c8-4fd6-95ec-6d058ad75beb)

[2022-02-07 05:32] kibanamachine opened #124780 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Fleet preconfiguration reset Reset one preconfigured policy Works and reset one preconfigured policies if the policy is already deleted (with a ghost package policy)"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9508#cdae463c-91c8-4fd6-95ec-6d058ad75beb)

[2022-02-07 05:32] kibanamachine opened #124781 "Failing test: Jest Integration Tests.x-pack/plugins/fleet/server/integration_tests - Fleet preconfiguration reset Reset one preconfigured policy Works if the preconfigured policies already exists with a missing package policy"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9508#cdae463c-91c8-4fd6-95ec-6d058ad75beb)

[2022-02-07 06:44] flash1293 commented on #14755
The problem here is that the annotations are always fetched using the “auto” interval: https://github.com/elastic/kibana/blob/main/src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/annotations/date_histogram.ts#L35

In the longer time range it seems like the interval in the panel options is configured to be something smaller than the default, causing this issue as the annotat

[2022-02-07 07:14] karanbirsingh-qasource commented on #122111
Hi @michaelolo24

we have regressed the bug on multiple builds and please find below details observation.

Version | Commit | Build | Status | Remark
-- | -- | -- | -- | --
**8.0 Branch** | 4acb55ecce6f8c01ab51d4f4e39db5a386962f5c  |  9007199254740991 |  Fixed ✔️ | Alerts are showing on next page
**Main Branch** | ea6347cb9976fded63b429ce55e5581f3a039dc8  | 9007199254740991  | Fixed ✔️ | Alerts ar

[2022-02-07 07:36] elasticmachine commented on #124747
Pinging @elastic/ml-ui (:ml)

[2022-02-07 08:12] flash1293 commented on #124662
Fixed by https://github.com/elastic/kibana/pull/124664

[2022-02-07 08:12] #124662 closed

[2022-02-07 08:37] flash1293 commented on #107854
This is the first time this test failed this way (for some reason the newly created runtime field doesn't show up in the field list). Closing for now, if it comes back I will look into it.

[2022-02-07 08:47] karanverma-qasource commented on #122011
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. ✔️

[code]

**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/152753973-68157ab9-3728-4622-9570-296ae89c3eaf.png)

![image](https://user-images.githubusercontent.com/91867110/152754201-c3963797-6181-4d5b-9fe3-6102e152c71e.png)

Thanks !

[2022-02-07 08:52] formgeist commented on #124772
@dgieselaar I'm not sure I understand what implications this has. Can you elaborate on what changes if we enforce a "soft limit"?

[2022-02-07 08:52] amolnater-qasource opened #124784 "[Fleet]: Creating a policy on Add integration page and then adding integration navigates user to Blank page."
**Kibana version:**  8.0.0 BC-1 Kibana could environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 BC-1 Kibana could environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Search for Nginx integration>Add Integration.
4. Create a new policy, say `Test Policy` here.
5. Cli

[2022-02-07 08:52] elasticmachine commented on #124784
Pinging @elastic/fleet (Team:Fleet)

[2022-02-07 08:52] amolnater-qasource commented on #124784
@manishgupta-qasource Please review.

[2022-02-07 08:54] karanverma-qasource commented on #122067
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/152755041-dc49b278-1d8e-4601-a91a-fef6a3b333d5.png)

![image](https://user-images.githubusercontent.com/91867110/152755096-6b2f927a-ac8c-4845-be88-d9435b8a2205.png)

Thanks !

[2022-02-07 08:54] manishgupta-qasource commented on #124784
Reviewed & mention to @kpollich

[2022-02-07 08:58] katsil commented on #124676
?

[2022-02-07 09:07] karanverma-qasource commented on #122161
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/152757509-b2df4d34-678a-4121-94f3-8b1ddbbf7738.png)

![image](https://user-images.githubusercontent.com/91867110/152757548-9234204d-cb6e-436f-8ca8-95192bf9d482.png)

![image](https://user-images.githubusercontent

[2022-02-07 09:23] mateskoo commented on #124024
Hello all,

I've tried to increase the limit in kibana.yml, to 200mb, but the get report generating is still failing with the exact same error.

There is nothing in the logs related to that error - I've enabled quiet loggin in kibana to display only errors and reproducted the issue. I will look into elasticsearch logs also.

@tsullivan Thank you for the hint, will try to play with `http.max_conten

[2022-02-07 09:23] dikshachauhan-qasource opened #124785 "Kibana Upgrade fails from 7.17.0 to 8.0 BC1 when APM integration is added under Elastic Cloud Agent policy."
*Kibana version:**  7.17 Kibana cloud staging environment

**Browser version:** Firefox
**Host OS**: **n/a**

**Preconditions:**
1. 7.17 staging Kibana cloud staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
- Login to kibana.
- Navigate to Observability APM section.
- Add Elastic APM integration to Elastic Cloud agent policy.
![image](https://user-images

[2022-02-07 09:24] elasticmachine commented on #124785
Pinging @elastic/fleet (Team:Fleet)

[2022-02-07 09:31] karanverma-qasource commented on #119313
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screen records**

https://user-images.githubusercontent.com/91867110/152760015-472926ff-08ce-4e44-8797-f0feea9db435.mp4

Thanks!

[2022-02-07 09:32] manishgupta-qasource commented on #124785
Reviewed and mention to @kpollich

[2022-02-07 09:34] GexogenSG1 commented on #124027
Hi All,
after several tests i found a way to bypass the issue. Look at [(] as escape method.  I need to escape ( like \(, but it not worked, common patterns like [(] - worked.

(?:-|PhoneCall: %{BASE16NUM:id}) - (?:-|%{WORD:answer.status}). BadRequest from Beeline: (?:-|%{WORD:error}) - (?:-|%{DATA:message}): (?<trash>[(])(?:-|%{INT:answer.code})(?<trash>[)]) (?:-|%{GREEDYDATA:answer.text}).

[2022-02-07 09:51] karanverma-qasource commented on #120722
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/152762528-9b5df611-9277-4332-8502-e619cb1d65b5.png)

Thanks !

[2022-02-07 10:02] majagrubic opened #124786 "Create an empty state component"
## Description ##
The goal is to create an empty state component that could easily be reused across Analytics applications (and possibly others). The component should distinguish between two states and look differently based on two states:
1. No data at all (ie. a completely new Kibana instance)
2. There is data in ES, but no data views have been created yet

## Open questions ##
1. How much of em

[2022-02-07 10:05] Dosant commented on #123527
@rushilp2311, sure! Go ahead :)

[2022-02-07 10:10] lucasfcosta commented on #124670
@paulb-elastic Yes, indeed it seems to be the same issue, although it seems to have either come back or the cloud image for `8.0.0-rc1` did not include the fix, which I think isn't the case considering it's an `rc` image.

But just to highlight and confirm: it's definitely happening on the `8.0.0-rc1` image on Cloud (following the steps above).

[2022-02-07 10:32] kpatticha opened #124788 "[APM] Service inventory doesn't show detailed statistics that only contain error events"
**Kibana version:**

8.1

**Steps to reproduce:**
1. go to http://localhost:5601/app/apm/services
2. filter `processor.event:"error"`
3.

https://user-images.githubusercontent.com/3369346/152771055-44c0992d-85a6-431f-8fbf-30a13c67dad8.mov

**Expected behavior:**

It should show the detailed statistics for the listed service

**Actual behavior:**
It returns empty detailed statistics

related to htt

[2022-02-07 10:34] elasticmachine commented on #124788
Pinging @elastic/apm-ui (Team:apm)

[2022-02-07 10:34] mbondyra opened #124789 "[Lens] Floating point fields should not use rare terms"
**Kibana version:**
master

1. Create the following visualization:
<img width="272" alt="Screenshot 2022-02-07 at 11 31 20" src="https://user-images.githubusercontent.com/4283304/152771256-c969ec00-0dff-4f49-80dc-fa860d23ce7d.png">

2. For the top values, set rank direction to ascending.
3. You'll see a warning about not precise data
<img width="226" alt="Screenshot 2022-02-07 at 11 32 24" src="ht

[2022-02-07 10:34] elasticmachine commented on #124789
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-07 10:36] kibanamachine opened #124790 "Failing test: Accessibility Tests.test/accessibility/apps/discover·ts - a11y tests using flights sample data Discover a11y tests Discover main page"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9535#06434737-82e1-4639-a256-dcb9d4f0a729)

[2022-02-07 10:40] tmitanitky opened #124791 "Dashboard Control for terms lookup query"
Hi, I have one feature request which makes dashboard more interactable.

**Describe the feature:**
Enable to use terms lookup query in Control of Dashboard.

Just equivalent with the query:
[code]
Now users have to create this filter by entering Query DSL.

With this feature,  `_id`s of lookup index are listed in the drilldown and users can select from the `_id`s.
Then, the filter of the above que

[2022-02-07 10:41] banderror commented on #124756
@spong thank you for this write-up! Just a few thoughts:

As an alternative, we could explicitly represent a rule as being a "rule-on-alerts" in the API (via a new field) and rule creation/editing UI (e.g. via a checkbox). Similar to what we do for representing "building block" rules. Users wouldn't need to remember any special values that would indicate an alerts index for the current Kibana spac

[2022-02-07 10:43] flash1293 commented on #124556
Thanks @jloleysens - I could trace it back to a recent change (https://github.com/elastic/kibana/pull/123531). VisEditors will take care of it.

@DziyanaDzeraviankina It seems like the `onResize` callback is called during initialization of the visualization. As `throttle` will by default call the callback both on leading and trailing edge, it will kick off another render right away which seems to

[2022-02-07 10:43] elasticmachine commented on #124556
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-07 10:47] angorayc opened #124792 "[Security Solution] Open charts in Lens"
Add chart menu to Hosts and Network's charts:

- Inspect query / response
- Open in Lens
- ~Save as a Lens saved object~
- Attach to new case
- Attach to existing case

<img width="1663" alt="Screenshot 2022-03-01 at 03 35 04" src="https://user-images.githubusercontent.com/6295984/156409500-bb59ba06-ddee-4be9-804f-c45a55b3bbd7.png">

**Hosts**:

- [x] 1. Hosts metric
- [x] 2. Hosts area
- [x] 3. U

[2022-02-07 11:00] elasticmachine commented on #124792
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-07 11:15] elasticmachine commented on #124355
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-07 11:15] angorayc opened #124794 "[Security Solution] Create Security specific tag for embeddable visualisation"
Create saved objects for tags that can be attached to custom visualisations, so they will show up on a 'Dashboard' page in the security app.

[2022-02-07 11:18] gerardgorrion opened #124795 "Search date in snapshots page crashes"
**Kibana version: 7.16.2**

**Elasticsearch version:7.16.2**

**Server OS version: linux ami eks 1.19**

**Browser version: Chrome**

**Browser OS version:  97.0.4692.99**

**Original install method (e.g. download page, yum, from source, etc.): yaml from eck operator (v1.9)**

**Describe the bug: When we try to restore a snapshot (Stack Monitoring> Snapshot and restore> Snapshots) and search some

[2022-02-07 11:20] karanverma-qasource commented on #119836
Hi @MadameSheema ,
We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/152777518-e278a57a-6cce-429a-885b-b857d45d31a1.png)

![image](https://user-images.githubusercontent.com/91867110/152777623-bcb264e1-3b5c-47a1-b5ac-1c1edc1d9f8e.png)

![image](https://user-images.githubusercontent.

[2022-02-07 11:40] angorayc opened #124798 "[Security Solution] 'Dashboard' page in the security app."
We need a Dashboard page to display all the custom visualisations and a button to install the tags.

[2022-02-07 11:42] muskangulati-qasource commented on #122204
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 8.1.0 - BC1 build. Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/152781442-6c5bbddf-0eb1-4607-ad62-a420bff604fd.mp4

Hence, closing this ticket and marking it as "Validated".

Thanks!!

[2022-02-07 11:42] muskangulati-qasource commented on #122230
Hi @kevinlog,

We tested this ticket & found that the issue is **Fixed** on the 8.1.0 - BC1 build. Please find below the testing details:

**Build Details:**
[code]

**Screenshots**:
![8 1HostTan](https://user-images.githubusercontent.com/60252716/152779748-851cd355-c8f0-4d73-baf4-9e270f013659.PNG)
![HIETab](https://user-images.githubusercontent.com/60252716/152779767-2d4a4fbf-714c-493b-b485-0826f

[2022-02-07 11:42] #122204 closed

[2022-02-07 11:42] #122230 closed

[2022-02-07 11:42] banderror commented on #123982
@spong I think filtering by `alert.params.ruleId` and `alert.params.immutable` might work as is because `alert.params` is mapped as a flattened field type and should support filtering for keywords and booleans. So maybe we could remove `__internal` tags without explicitly mapping these two fields?

[2022-02-07 11:54] joshdover commented on #124149
Thanks for the additional detail here, @eyalkraft.

I think what would help me here is a more complete understanding of the end user experience we want to deliver. I'm having a hard time understanding why we need a _persisted_ concrete `csp-rule` saved object for each configured rule. Some questions that would help me understand:
- What will be stored in this concrete object and how will the user

[2022-02-07 11:56] joshdover commented on #121622
@pgayvallet Moving this back to you, we've stopped installing these by default on the 8.1 and main branches.

[2022-02-07 11:59] karanverma-qasource commented on #122958
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screen records:**

https://user-images.githubusercontent.com/91867110/152782852-e42714c9-6731-4675-8960-ed380b10dbdf.mp4

Thanks !

[2022-02-07 12:00] joshdover commented on #110367
@liza-mae Apologize for my ignorance here. How can I debug these or run these myself? Are there any screenshots being generated during failures?

I looked at https://github.com/elastic/elastic-stack-testing but I didn't see anything obviously relevant on how to work with these tests. Is there a better place to look?

[2022-02-07 12:17] joshdover commented on #124273
Thanks for double checking on the validation. Let's close this and rely on signature validation feature once it's available.

[2022-02-07 12:18] #123691 closed

[2022-02-07 12:19] dannycroft commented on #123186
@lizozom Hey! Yeah, we refined this issue and came to similar finidings. We weren't clear on what would be the next steps would be.

@sqren @formgeist @chrisdistasio did you have any preferences or thoughts here?

[2022-02-07 12:22] #95276 closed

[2022-02-07 12:36] gavinwye commented on #121400
Hey @stephmilovic I'm afraid we can't close the issue it seems to have got worse :( in `v 8.0.0-SNAPSHOT`

Here's a video of the 'Choose data view' drop-down floating up the page when you scroll. And the 'Index patterns' drop-down is still dropping out of the overlay you can see this in the video.

https://user-images.githubusercontent.com/868772/152786633-630174ec-4664-481f-bccb-9593a5347a45.MP4

[2022-02-07 12:40] #105131 closed

[2022-02-07 12:56] weltenwort commented on #120377
Client-side sorting and pagination is one of the options that @miltonhultgren enumerated. I'd consider it a last-ditch fallback as it compromises on scalability and accuracy. How does APM indicate these limitations to the user? Do we have a well-known pattern for indicating when the count of supported hosts is exceeded?

[2022-02-07 12:57] mikecote opened #124805 "Cancel search queries on timeout regardless of rule type"
As a first step toward enabling deployments to have a consistent MTTD of minutes and seconds, we need to limit how long alerting rules can run by stopping their execution whenever they're been running for too long. Capping execution times will help us answer explicitly to our users whether or not they have enough capacity to run their alerting rules or provide guidance in what scale they will need

[2022-02-07 12:57] elasticmachine commented on #124805
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 12:58] mikecote commented on #123621
Closing in favour of https://github.com/elastic/kibana/issues/124805.

[2022-02-07 12:58] #123621 closed

[2022-02-07 12:58] mikecote commented on #123604
Closing in favour of https://github.com/elastic/kibana/issues/124805.

[2022-02-07 12:58] #123604 closed

[2022-02-07 13:02] #124273 closed

[2022-02-07 13:06] ari-aviran opened #124806 "[Security Solution] Add a Cloud Security Posture application"
Add the initial version of the Cloud Security Posture application to the security solution

[2022-02-07 13:08] mikecote opened #124807 "Remove `ruleTaskTimeout` configuration from rule types"
As we work towards enabling deployments to have a consistent MTTD of minutes and seconds, we need to remove complexity in determining whether or not a customer will have enough capacity to run their alerting rules. Since a global config `defaultRuleTaskTimeout` can change via kibana.yml, leveraging that configuration would simplify configuring timeouts globally and help us determine necessary capa

[2022-02-07 13:08] elasticmachine commented on #124807
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 13:16] christophercutajar opened #124808 "Kibana Users and Roles UI Breaks with Malformed Roles"
**Kibana version:** v7.17.0

**Elasticsearch version:** v7.17.0

**Server OS version:** ECK 1.9.1

**Browser version:** Google Chrome Version 98.0.4758.80 (Official Build) (x86_64)

**Browser OS version:** macOS Monterey

**Original install method (e.g. download page, yum, from source, etc.):** ECK 1.9.1

**Describe the bug:**

We manage Kibana user roles using a GitOps approach, whereby all of ou

[2022-02-07 13:17] mbondyra commented on #122782
Blocked by https://github.com/elastic/elastic-charts/issues/1576

[2022-02-07 13:21] mikecote opened #124809 "Track search time during rule execution"
It would be good to capture per rule execution the amount of time it was running search queries using our scopedClusterClient. If we can use an approach like https://github.com/elastic/kibana/pull/124374 to put timers within the search function, we can capture such times and later on compare the time the rule was running queries versus processing data and indexing data to know which rules are expe

[2022-02-07 13:21] elasticmachine commented on #124809
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 13:22] elasticmachine commented on #124808
Pinging @elastic/kibana-security (Team:Security)

[2022-02-07 13:27] mikecote commented on #124809
Removing blocked since https://github.com/elastic/kibana/issues/124805 will most likely take longer to complete, but the `wrapScopedClusterClient` approach from [the PR](https://github.com/elastic/kibana/pull/124374) can be used here as well (by removing the cancellable stuff for now), and I will update my PR after the fact.

[2022-02-07 13:32] mikecote opened #124810 "Adding a configurable minimal rule interval for newly created rules to follow"
We should add a configurable minimum rule interval (kibana.yml) and make newly created rules follow the restriction. This will allow us to simplify the timeout logic in the future (to be for example min(interval, defautTimeout)) and help achieve a consistent MTTD of minutes and seconds.

Open questions:
- Do we restrict at the API level? breaking change? @kobelb
- What is the default minimum inter

[2022-02-07 13:32] elasticmachine commented on #124810
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 13:35] karanverma-qasource commented on #122455
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build and it's fixed. :heavy_check_mark:
[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/152797721-9504d98d-18e2-4054-af92-8875f64da50d.png)

![image](https://user-images.githubusercontent.com/91867110/152797758-7017e100-d223-4b68-a597-390e77e9fe11.png)

![image](https://user-images.githubusercontent

[2022-02-07 13:35] MadameSheema opened #124813 "[Security Solution] Missing data on alerts details flyout after upgrade for threshold alerts"
**Describe the bug:**
- Testing the new alerts flyout, we found that some details are missing for threshold alerts after performing an upgrade.

**Kibana/Elasticsearch Stack version:**
8.0 and 8.1

**Steps to reproduce:**
1. Generate threshold alerts on a 7.17 deployment filling all the threshold fields during the rule creation
2. Upgrade to 8.1 or 8.0
3. Check the alert details on the alerts gene

[2022-02-07 13:35] elasticmachine commented on #124813
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-07 13:35] mikecote commented on #124810
For further information on what this problem can solve, you can read https://github.com/elastic/kibana/issues/88625.

[2022-02-07 13:36] mikecote commented on #88625
Closing in favour of https://github.com/elastic/kibana/issues/124810.

[2022-02-07 13:36] #88625 closed

[2022-02-07 13:42] academo opened #124814 "[Cases] Support bulk cases POST comment"
The current cases API only supports adding one comment (attachment) at the time. We should provide a bulk add attachment API.

Description to be expanded.

[2022-02-07 13:42] elasticmachine commented on #124814
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-07 13:42] elasticmachine commented on #124814
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 13:46] jasonrhodes commented on #120377
Yes, rendering performance isn't the problem we're faced with (yet, anyway). So to come back to the options we have before us, listed by @miltonhultgren here: https://github.com/elastic/kibana/issues/120377#issuecomment-1001994250

| Option | Pros | Cons |
| :--- | :--- | :--- |
| [1] Composite Agg | Will find all group values, even over 10K | Will be slow (query time) for larger cardinality field

[2022-02-07 13:47] mikecote commented on #124809
We should coordinate with the R&AM team on where they would like this data stored as well (for monitoring / UX purposes).

[2022-02-07 13:48] Dosant opened #124815 "Dashboard can switch to edit mode on time changes"
**Kibana version:** 8.1 snapshot

**Describe the bug:**

Sometimes dashboard switches to edit mode from view mode when changing time range
Not sure about all the conditions when this can happen, but I noticed it a couple times and these are the steps to reliably reproduce one of the cases:

**Steps to reproduce:**
1. Create new dashboard
2. Add new lens visualization
3. Save dashboard
4.  Switch t

[2022-02-07 13:48] elasticmachine commented on #124815
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-07 14:00] DziyanaDzeraviankina commented on #124318
Applying a similar solution with "dataIndex" sort like it [was done for pie chart](https://github.com/elastic/kibana/pull/123810) didn't work for that case. Seems that's because of different Chart sorting implementations.

[XY](https://github.com/elastic/elastic-charts/blob/f3dcfd42baff50c2056c4e7d0f1a056a632583dc/packages/charts/src/chart_types/xy_chart/state/utils/utils.ts#L151)
[code]
<img widt

[2022-02-07 14:07] karanverma-qasource commented on #124156
Hi @MadameSheema ,

We have validated above issue on 8.0.0 GA build, Please find below observations:

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/91867110/152802576-7db7a944-ce67-4cd4-befa-a12fbf54aa1f.png)

![image](https://user-images.githubusercontent.com/91867110/152802710-211ed82c-7579-41fa-93de-04b17ae6e10a.png)

![image](https://user-images.githubusercontent.

[2022-02-07 14:21] yuliacech commented on #117776
The test doesn't currently fail on 7.16, 7.17 and 8.x branches, so closing this issue.

[2022-02-07 14:27] MadameSheema opened #124817 "[Security Solution] Threshold cardinality missing on alerts details"
**Describe the bug:**
- Threshold cardinality missing on alerts details

**Kibana/Elasticsearch Stack version:**
- 8.1

**Steps to reproduce:**
1. Generate threshold alerts filling all the threshold fields during the rule creation
3. Check the alert details on the alerts generated

**Current behavior:**

<img width="1295" alt="Screenshot 2022-02-07 at 15 17 12" src="https://user-images.githubuserc

[2022-02-07 14:28] darnautov opened #124818 "[ML] Fix the auto-refresh interval"
At the moment for all ML pages, the refresh interval parameters are resolved from the URL state and fall back to the `timefilter` refresh interval config provided by Kibana (`timepicker:refreshIntervalDefaults`). Extremely short intervals may lead to the hanging page that never loads because of consecutive requests that keep firing.  We need to add a sanity check for both cases with some sensible

[2022-02-07 14:28] elasticmachine commented on #124818
Pinging @elastic/ml-ui (:ml)

[2022-02-07 14:32] jasonrhodes commented on #123256
It sounds like some of this is possible today with the existing Log Stream component in use. I'm going to un-assign this from our board while APM figures out what exactly it would like to do here, and if there are any features needed with the log stream, we will open a ticket to address them. Please reach out for anything you need!

[2022-02-07 14:32] janmonschke commented on #124813
Thanks for reporting this, it seems like some fields are either missing or have different types after an upgrade to 8.x.

Regarding `host.name [threshod]`: This entry is generated from `kibana.alert.threshold_result.terms`. The value of that field is expected to be a JSON string of type `{ field: string, value: string }[]`. See the implementation of the enrichment here for [8.0](https://github.com

[2022-02-07 14:34] jamster10 opened #124819 "Alert Tabs [1] - Add alert table to hosts dashboard"
When viewing the hosts dashboard, a user would want to see a tab with all alerts from the detection engine filtered for host source events.

![image](https://user-images.githubusercontent.com/28942857/152807135-e9287f09-e44c-4ba0-9884-65f5c5e7b03a.png)

- [ ] Add (replace external alerts tab?) new 'Alerts' tab to the table section of the view
- [ ] Implement a table displaying alerts from the dete

[2022-02-07 14:34] elasticmachine commented on #124819
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-07 14:39] flash1293 opened #124820 "[TSVB] Report request errors like search service"
Similar to how https://github.com/elastic/kibana/issues/122944 added consistent shard warning handling, TSVB errors should be reported like errors of Lens/Visualize panels using an error toast.

[2022-02-07 14:40] elasticmachine commented on #124820
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-07 14:41] Dosant opened #124821 "[Lens] "Save and return" doesn't work when Lens has filters"
**Kibana version:** 8.1 snapshot

**Describe the bug:**

When lens has a filter then when editing Lens `Save and return` doesn't do anything.

**Steps to reproduce:**
1. Create a Dashboard with a Lens. Add a filter insider Lens (on filter bar).
2. When on a dashboard -> Edit lens
3. Click `Save and return` - doesn't work
4. Edit something, click `Save and return`  - doesn't work
5. Delete filter,

[2022-02-07 14:41] elasticmachine commented on #124821
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-07 14:42] PatHer69 commented on #85057
Adding my (annoyed) voice to this issue.
As far as I can say we lost this really interesting feature between 7.8.1 and 7.9.3 in our case.
We are about to switch to 7.16.3 but the lack of activity in this thread gives me little hope it will be solved.

[2022-02-07 14:43] elasticmachine commented on #115697
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-07 14:45] Dosant opened #124822 "[Lens] Edit filter starts in empty state"
**Kibana version:** 8.1-snapshot

**Describe the bug:**

When loading lens with saved filter and editing it - a filter editor starts in empty state instead of current filter state
![Screen Shot 2022-02-07 at 15 44 03](https://user-images.githubusercontent.com/7784120/152809925-910048ec-de62-4b11-af91-e1286c6918b8.png)

**Steps to reproduce:**
1. Create lens with a saved filter.
2. Reload the page

[2022-02-07 14:45] elasticmachine commented on #124822
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-07 14:46] jamster10 opened #124823 "Alert Tabs [2] - Add alert table to hosts details view"
Epic: https://github.com/elastic/security-team/issues/2861

When viewing the host details page, a user would want to see a tab with all alerts from the detection engine for that host.

- [ ] Add (replace external alerts tab?) new 'Alerts' tab to the table section of the view
- [ ] Implement a table displaying alerts from the detection engine for that specific host

Please note: This ticket needs f

[2022-02-07 14:46] elasticmachine commented on #124823
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-07 14:49] Dosant opened #124825 "[Lens] Bool filter doesn't show it's value"
**Kibana version**: 8.1 snapshot

**Description of the problem including expected versus actual behavior**:

Saved bool filter doesn't display it's value in Lens

**Steps to reproduce**:
 1. In Lens Create a filter with a bool field. Save it.
 2. Reload the page
 3. See that filter doesn't display it's value after page reload

![Screen Shot 2022-02-07 at 15 46 26](https://user-images.githubusercon

[2022-02-07 14:49] elasticmachine commented on #124825
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-07 14:50] Dosant commented on #124825
It seems like there is something funky going on with filters in Lens, here are some Lens specific bugs I noticed that might be related:

* https://github.com/elastic/kibana/issues/124825
* https://github.com/elastic/kibana/issues/124822
* https://github.com/elastic/kibana/issues/124821

[2022-02-07 14:50] Dosant commented on #124822
It seems like there is something funky going on with filters in Lens, here are some Lens specific bugs I noticed that might be related:

* https://github.com/elastic/kibana/issues/124825
* https://github.com/elastic/kibana/issues/124822
* https://github.com/elastic/kibana/issues/124821

[2022-02-07 14:51] Dosant commented on #115697
Seems like failed just once a while ago. Closing until occurs

[2022-02-07 14:51] ogupte opened #124826 "[APM] Update target migration version for APM package"
This should be updated from 8.0.0 to 8.1.0 to match the latest APM integration package version.

https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/common/fleet.ts#L11

This will continue to be necessary to hard code like this until #123477 is complete.

[2022-02-07 14:53] jamster10 opened #124827 "Alert Tabs [3] - Add alert table to network dashboard"
Epic: https://github.com/elastic/security-team/issues/2861

When viewing the network dashboard, a user would want to see a tab with all alerts from the detection engine filtered for network source events.

![image](https://user-images.githubusercontent.com/28942857/152811690-ee2b34e1-39f7-4ea1-8357-2df5308d2a7c.png)

- [ ] Add (replace external alerts tab?) new 'Alerts' tab to the table section of

[2022-02-07 14:57] janmonschke commented on #124817
I expect that the type of the field has changed with `8.x` as described in this other issue: https://github.com/elastic/kibana/issues/124813#issuecomment-1031532390

[2022-02-07 14:58] vinayakkulkarni commented on #108742
Awesome!

[2022-02-07 15:02] jamster10 opened #124828 "Alert Tabs [4] - Add alert table to network details view"
Epic: https://github.com/elastic/security-team/issues/2861

When viewing the network details page, a user would want to see a tab with all alerts from the detection engine for that network artifact.

- [ ] Add (replace external alerts tab?) new 'Alerts' tab to the table section of the view
- [ ] Implement a table displaying alerts from the detection engine for that specific network artifact

Pleas

[2022-02-07 15:05] michaelolo24 commented on #120885
Hi @karanverma-qasource , thanks for checking! It is actually there. Sorry for the confusion. It's the line that states:

We're hoping to get to a scenario in the near future where messaging like this isn't necessary, but it's a necessary stop gap for now. Thanks again!

[2022-02-07 15:09] fkanout commented on #123947
Adding a new action variable will require:
- Add the variable value in the alertUpdater function under context
- Add its name/description in the list I mentioned in my first message in the thread.
- And the alerting framework will map the variable name and its value.

[2022-02-07 15:12] yuliacech commented on #124454
I [backported](https://github.com/elastic/kibana/pull/124830) a test [fix](https://github.com/elastic/kibana/pull/123202) to 7.17 branch and that should fix this failure

[2022-02-07 15:13] kobelb commented on #124809
If we can track the # of searches, and the request/response size, that'd be 🥇

[2022-02-07 15:15] flash1293 commented on #117554
Fixed by https://github.com/elastic/kibana/pull/124509

[2022-02-07 15:15] #117554 closed

[2022-02-07 15:17] miltonhultgren commented on #98277
We should likely show this prompt on all Logs UI pages so that the user does the configuration before using any page.
Since the prompt will ask the user the same info that is put into the Settings page it would make sense to also show this on the Settings page but we're likely to remove the Settings page as we lift things out from it into the Log Stream page.

[2022-02-07 15:18] fkanout commented on #119090
@vinaychandrasekhar @hbharding, As you know, each rule variable has a description. Would you please provide the description/wording for `reason` and `view in-app IRL` variables? Metrics already have a description for `reason`. I can use that one if you like

[2022-02-07 15:19] miltonhultgren commented on #124011
We're likely to request some of this information when prompting the user to configure their first curated view as per 98277.

[2022-02-07 15:23] miltonhultgren commented on #120082
This won't be needed, as part of #98277 and #124011 we will make the configuration steps more fluent as part of prompting and eventually removing the Settings page in favor of Curated View editing.

[2022-02-07 15:23] spong commented on #123982
Oh that's right, I keep forgetting they're mapped as `flattened` now. Thanks @banderror! 🙂 In that case we should be able to clean up all our extra business logic around `__internal` without additional changes. I'll create a chore and add to our backlog (TODO: issue ref here) since this won't require field changes as part of this issue now. 👍

[2022-02-07 15:23] estermv commented on #124370
@danielkhan thanks!

I updated the description with your telemetry suggestions.

Could you please elaborate a bit more about this:

I guess that we are going to keep the existing date picker, so in my opinion, we should pick the timerange from it. Should we change the existing default (15 min) to 24 hours or are you suggesting a fixed time range for the alerts widget?

[2022-02-07 15:32] kpatticha commented on #124826
The `8.1.0`  is not available yet. Instead `8.1.0-dev3` is the latest version. Which team is releasing this package?

[2022-02-07 15:33] mikecote commented on #124206
We can have a team discussion before breaking it down.

[2022-02-07 15:34] joshdover commented on #120497
fixed in #124020

[2022-02-07 15:35] joshdover commented on #116975
Closing since this bug seems to have been fixed.

[2022-02-07 15:35] #116975 closed

[2022-02-07 15:44] EricDavisX commented on #119845
I'm researching this and hoping to finish evaluating what usage the ResponseOops and Security side teams have done in the next few days.  With that done I'll be able to come up with a modest plan for what I'll do next/further here.

[2022-02-07 15:49] joshdover commented on #86121
@hop-dev Do you think this issue is still relevant? I wonder if we should close it now that we're using import/export for index pattern creation?

[2022-02-07 15:50] joshdover commented on #82160
Superseded by https://github.com/elastic/kibana/issues/95863

[2022-02-07 15:50] #82160 closed

[2022-02-07 15:52] joshdover commented on #76261
Superseded by https://github.com/elastic/kibana/issues/122560

[2022-02-07 15:52] #76261 closed

[2022-02-07 15:57] Dosant commented on #123591
@elasticforme, just looking at :

We can see from the `har` that the whole request took around 10 seconds. And it means that ~70 seconds somehow spent on a client when just processing a request? Or maybe there is a bug in the inspector that it shows more time then it actually took?

Could you maybe capture and share a performance profile in chrome reproducing that lens with sync search example whe

[2022-02-07 15:57] joshdover commented on #62479
Closing for now.

[2022-02-07 15:57] #62479 closed

[2022-02-07 15:59] joshdover commented on #60952
We no longer generate field lists for index patterns as of https://github.com/elastic/kibana/pull/119527

[2022-02-07 15:59] #60952 closed

[2022-02-07 16:00] rudolf commented on #102177
I think the important thing is that nothing in KPT might prevent us from implementing soft-deletes.

Architecturally I agree it would be better in a layer higher than KPT. If KPT exposed scripted updates and scripted update by query then we would probably have the required building blocks to create fairly performant soft-deletes.

[2022-02-07 16:00] michaelolo24 commented on #123613
With the migration to the Fields api, the use of this type should not be necessary, but we would like to either consider a new type structure or something internal to kibana to allow us to properly type our data within security

[2022-02-07 16:01] #124545 closed

[2022-02-07 16:03] MadameSheema commented on #124813
**7.17, 8.0 and 8.1 for the alert generated on 7.17**

<img width="647" alt="Screenshot 2022-02-07 at 15 45 47" src="https://user-images.githubusercontent.com/17427073/152811368-e0047a92-62ea-445e-a77a-a1ca6d28616f.png">

<img width="635" alt="Screenshot 2022-02-07 at 15 46 04" src="https://user-images.githubusercontent.com/17427073/152811380-35b54e30-f966-405d-a883-6e9d968911d4.png">

But the new

[2022-02-07 16:22] elasticforme commented on #123591
@Dosant here is that profile. I have zip one file. because was not able to post large file.
[Profile-lens_sync_search.zip](https://github.com/elastic/kibana/files/8016898/Profile-lens_sync_search.zip)

[2022-02-07 16:31] shahzad31 commented on #121125
Updated the issue description to reflect implementation done in https://github.com/elastic/kibana/pull/124264

[2022-02-07 16:36] jeanfabrice opened #124839 "Clarify Kibana documentation regarding App privileges and reporting configuration"
**Kibana version:** Kibana documentation starting from 7.14

**Elasticsearch version:** n/a

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:**
The 7.14+ Kibana documentation regarding how to enable reporting for Kibana, through Kibana App privileges, is a bit confus

[2022-02-07 16:37] Dosant commented on #123591
@elasticforme, thank you for the profile, that's very helpful. It confirms that 70s spent processing the response and drawing the viz.
We will dig deeper to see what we can improve and from where exactly the slowness is coming from.

[2022-02-07 16:38] #124691 closed

[2022-02-07 16:39] hop-dev commented on #86121
@joshdover I believe it could be still relevant yes, using the API seems more robust that creating the saved objects directly. We currently import the index templates every time we create saved objects to avoid the reference checking bug at the time, I believe this issue has since been solved so we could revisit this https://github.com/elastic/kibana/issues/120312.

We no longer set fields on the

[2022-02-07 16:42] kqualters-elastic commented on #124695
started looking at this here https://github.com/elastic/kibana/pull/119129

[2022-02-07 16:47] spinscale opened #124842 "[APM] Transaction detail view: Different colors per graph for same transaction types"
### Kibana version

7.16.2

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

I am using the APM java agent, where is instrument some method manually. A trace sample looks like this

![Screenshot 2022-02-07 at 16 35 46](https://user-images.githubusercontent.com/667544/152832477-25824b71-236c-4cb5-b829-d02630c34b

[2022-02-07 16:47] elasticmachine commented on #124842
Pinging @elastic/apm-ui (Team:apm)

[2022-02-07 16:48] legrego commented on #87901
Closing this in favor of https://github.com/elastic/kibana/issues/121189, which appears to be reporting the same behavior

[2022-02-07 16:48] #87901 closed

[2022-02-07 16:54] elasticmachine commented on #124839
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-07 16:57] alexfrancoeur commented on #118897
Dropping in some wonderful feedback we've received from @serenachou to make sure we don't lose it. cc: @osmanis

[2022-02-07 17:02] #115475 closed

[2022-02-07 17:02] elasticmachine commented on #124839
Pinging @elastic/kibana-docs (Team:Docs)

[2022-02-07 17:11] alisonelizabeth commented on #63154
Confirmed this issue as described in https://github.com/elastic/kibana/issues/63154#issuecomment-822645451 still exists.

<img width="846" alt="Screen Shot 2022-02-07 at 12 10 13 PM" src="https://user-images.githubusercontent.com/5226211/152837275-46a9d4e3-6997-44df-bb04-e4917c78079c.png">

[2022-02-07 17:19] janmonschke commented on #124813
Ah yes, it does looks like the `kibana.alert.threshold_result.terms` field is gone now from `8.0` onwards. Something must have changed in the migration? I am not sure who made these changes to reach out to them.

It would be great to know if we can assume now that `kibana.alert.threshold_result.terms.field` will always be available and if it can be an array like it used to be before. Same for card

[2022-02-07 17:20] flash1293 commented on #123591
Thank you @elasticforme , this is extremely valuable. I think I found the issue - it's an accidental iteration through all the fields in an index pattern in a place where it really should happen. It should be especially noticeable if there are a lot of fields in your index pattern.

The `write` method of the `FieldParamType` is iterating through a list of fields: https://github.com/elastic/kibana/

[2022-02-07 17:22] gbamparop commented on #124826
I think the @elastic/apm-server team

[2022-02-07 17:28] elasticmachine commented on #124774
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-07 17:31] stacey-gammon commented on #41439
Unfortunately, since it didn't make it into 8.0, I think we need to stick with the new deprecation policy which is 18 months _and_ getting breaking change approval. I think the process for getting approval is still TBD. Let me check and I'll loop back.

[2022-02-07 17:34] elasticmachine commented on #124781
Pinging @elastic/fleet (Team:Fleet)

[2022-02-07 17:34] elasticmachine commented on #124779
Pinging @elastic/fleet (Team:Fleet)

[2022-02-07 17:35] elasticmachine commented on #124776
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 17:35] elasticmachine commented on #124777
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 17:37] liza-mae commented on #110367
@joshdover thanks for taking a look, I did a presentation on how to debug kibana cloud tests and that can be found on our drives Engineering -> ESTF -> Cloud Testing -> Kibana on Cloud, but it makes sense to put it in a README on https://github.com/elastic/elastic-stack-testing.

The test report is linked in the description of the failure (use the latest one).  From there you can find the screensh

[2022-02-07 17:39] jsoriano commented on #122973
Correct, there is no feature today to disable the search of experimental packages, and they are always searched. We could continue like this by now, only moving from experimental to prerelease. If we add a configuration flag, we can keep it enabled by default by now if we want to keep this behaviour.

But I think that this will be more needed in the future.

Currently one reason to have few in-dev

[2022-02-07 17:43] mikecote opened #124850 "Task Manager plugin API to bulk update task schedules"
To support https://github.com/elastic/kibana/issues/124715 and the existing functionality when updating a rule, we need to reflect the rule's schedule in the task's schedule. We previously ran the rule right away and let it update the task schedule at the end. However, when thinking of doing so in bulk, we encounter thundering herd and worker capacity problems.

We think of a way to allow bulk upd

[2022-02-07 17:43] elasticmachine commented on #124850
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 17:44] mikecote commented on #124715
I created https://github.com/elastic/kibana/issues/124850. Please let us know when you would like this completed and we'll plan accordingly 🙏

[2022-02-07 17:44] elasticforme commented on #123591
@Dosant, my pc where browser running is xeon E5-1607, 8gig ram windows 10 enterprise.
ELK cluster is dev cluster and it has only two node Dell R620 with SSD.
but another main cluster is little bigger with 10xR630 and nvme ram for storage.
Index pattern data are almost identical. I am just keeping this dev system for this testing for now as something does not look ok.

@flash1293, This is good news

[2022-02-07 17:47] vinaychandrasekhar commented on #119090
@fkanout thanks for checking. We should strive for a consistent description for each field across the various rule types.

I'll look to @katrin-freihofner and @hbharding for their thoughts.

Descriptions along the lines of the following might work -
- {{context.reason}} "A concise description of the reason for the alert"
- {{context.viewInAppUrl}} "Link to the view or feature within Elastic that c

[2022-02-07 17:48] liza-mae commented on #122441
I ran the same thing on a newly created cloud 7.17.0 and the setting does take affect.

![Screenshot from 2022-02-07 10-44-16](https://user-images.githubusercontent.com/23424008/152843155-94a4c1ba-e6f8-462b-b0f0-d4332283007d.png)

![Screenshot from 2022-02-07 10-44-52](https://user-images.githubusercontent.com/23424008/152843177-1131b254-3bc7-4408-9ca8-207c2b88f459.png)

As mentioned earlier the s

[2022-02-07 17:49] liza-mae commented on #122442
See comment in https://github.com/elastic/kibana/issues/122441#issuecomment-1031745257

[2022-02-07 17:49] liza-mae commented on #122441
Tests are passing, closing.

[2022-02-07 17:49] #122441 closed

[2022-02-07 17:49] liza-mae commented on #122442
Tests are passing, closing.

[2022-02-07 17:59] #124784 closed

[2022-02-07 18:09] LL6688 commented on #118897
@osmanis ; @dandreaj , fyi

[2022-02-07 18:26] hubbleview opened #124857 "[APM] Can we skip pressing Enter key when using APM filter?"
### Kibana version

any

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

When using [Filters](https://www.elastic.co/guide/en/kibana/current/filters.html#filters) in APM UI, without hitting `Enter` key after inputting the filter, just clicking `Refresh`, the filter won’t apply.

This is different behaviour as

[2022-02-07 18:26] elasticmachine commented on #124857
Pinging @elastic/apm-ui (Team:apm)

[2022-02-07 18:29] #123714 closed

[2022-02-07 18:39] gchaps commented on #122759
@bhavyarm can we close this issue.  The updated doc is here:   [ https://www.elastic.co/guide/en/kibana/8.0/upgrade.html](https://www.elastic.co/guide/en/kibana/8.0/upgrade.html).

[2022-02-07 18:42] afharo commented on #123720
Running my own tests in #124682. I noticed 2 potential issues here:

1. Installing artifacts on startup creates too much load on ES/Kibana, making early authentication requests to take longer than expected.
2. There's a circular dependency in the UI.

## Installing artifacts on startup

I have the suspicion that installing artifacts on startup is causing too much stress on ES/Kibana, and it makes

[2022-02-07 18:42] mikecote commented on #124809
We should also consider telemetry for this newly collected data.

[2022-02-07 18:46] liza-mae commented on #123994
@pheyos I am still facing an issue with this in my recent CI runs:

https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2888/JOB=basicGrp1,TASK=saas_run_kibana_tests,node=ess-testing/console

(Note: I had a work around to get initial cloud results out, by creating a super user outside FTR and setting the env ```TEST_ES_SYSTEM_INDICES_USER``` which worked, but I re

[2022-02-07 18:51] mikecote opened #124861 "Make alerting related plugin's telemetry part of the support diagnostics"
It would be nice to have the customer's alerting telemetry alongside the diagnostics report so we can view additional information about their cluster when working on a support case (ex: max alerts, rule duration, etc.). I believe this is reported under kibana stats but requires `?extended=true&legacy=true` to be set. If there's a way to leverage the stats report, great, otherwise we can explore an

[2022-02-07 18:51] elasticmachine commented on #124861
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 18:56] tsullivan opened #124862 "[Reporting] Document `xpack.reporting.kibanaServer` as optional"
There is a need to suggest against users adding `xpack.reporting.kibanaServer` settings to their kibana.yml.

### Background
Reporting was designed to generate screenshot reports by connecting a headless browser to the Kibana server running on `localhost`. In the early days of Reporting, this was not working well for developers running the code from source, due to the "basePath proxy". Therefore t

[2022-02-07 18:56] elasticmachine commented on #124862
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-07 18:56] spalger opened #124863 "CCS Testing in the FTR"
We need to be able to verify with tests that Kibana works with data stored in a remote cluster, accessed through [cross-cluster search](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-cross-cluster-search.html). Right now people are able to run Jest Integration tests for this by starting two ES nodes with the right configuration, but ideally we would be able to write functi

[2022-02-07 18:56] elasticmachine commented on #124863
Pinging @elastic/kibana-operations (Team:Operations)

[2022-02-07 18:56] elasticmachine commented on #124863
Pinging @elastic/kibana-qa (Team:QA)

[2022-02-07 19:00] kobelb opened #124864 "Server-side functional test coverage is wrong"
I was doing some spot-checking of the server-side functional test coverage because the numbers looked low for the `x-pack/plugins/cases` plugin in particular. I'm seeing only 5.63% of the lines of `authorization.ts` being covered by tests in these results: https://kibana-coverage.elastic.dev/2022-02-07T14:06:00Z/functional-combined/x-pack/plugins/cases/server/authorization/index.html

However, if

[2022-02-07 19:00] elasticmachine commented on #124864
Pinging @elastic/kibana-qa (Team:QA)

[2022-02-07 19:04] spalger opened #124865 "Add support for starting a CCS node with the FTR"
See https://github.com/elastic/kibana/issues/124863 for context

Add the ability to run a second CCS node via the FTR config. When defining the `esTestCluster.ccs` config ES would be started as normal but then a second CCS node would also be started, the remote connection would be established, and the `es`, `esArchiver`, etc services would automatically read from the CCS cluster and write to the r

[2022-02-07 19:04] elasticmachine commented on #124865
Pinging @elastic/kibana-operations (Team:Operations)

[2022-02-07 19:04] weltenwort commented on #124130
After looking at the synthtrace architecture and discussing it with @miltonhultgren I'd say it should be pretty feasible to add support for generating log entries and setting up the correct mappings. It's not a quick thing, though, so I'd rather not make it a dependency of this issue.

I'll try to come up with a simple bash script or so to use as a fallback in case this is prioritized higher than

[2022-02-07 19:13] mikecote commented on #124366
I wonder if it would be valuable to associate the occurrence to the rule type as well (or mostly?). If we see across our customer base that rule type A is logged in 80% of the occurrences, we have an idea that rule type A may need to be optimized.

[2022-02-07 19:16] elasticmachine commented on #123560
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-07 19:16] kobelb opened #124868 "JEST code-coverage includes mocks"
The code-coverage documents that are being ingested into Elasticsearch include the code-coverage for mocks. This can throw off calculations either for the better or worse:

<img width="1281" alt="Screen Shot 2022-02-07 at 11 15 47 AM" src="https://user-images.githubusercontent.com/627123/152856257-b09f343b-1510-48ef-9a45-dbbe7cf26259.png">

[2022-02-07 19:16] elasticmachine commented on #124868
Pinging @elastic/kibana-qa (Team:QA)

[2022-02-07 19:17] elasticmachine commented on #123558
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-07 19:17] elasticmachine commented on #123557
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-07 19:18] elasticmachine commented on #123555
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-07 19:18] flash1293 commented on #123591
I can prepare a preliminary fix for that.

[2022-02-07 19:28] mikecote commented on #119653
I am going to close the issue now that the research is completed. Work can be followed within the linked issues.

[2022-02-07 19:28] #119653 closed

[2022-02-07 19:36] mikecote commented on #122544
Adding `blocked` label until we have sufficient telemetry reported from https://github.com/elastic/kibana/issues/122535.

[2022-02-07 19:37] yctercero commented on #124742
@peluja1012

So testing the SOM, I did the following:

- Created a stack rule
- Exported rule
- Updated `created_by` value to "Yara"
- Imported and selected to overwrite

Also tried:

- Created a stack rule
- Sign in as different user
- Export/import rule created by first user

Rule was overwritten using imported values so now `created_by` said "Yara" instead of my cloud id. No values were updated

[2022-02-07 19:38] mikecote opened #124870 "Research how to add a circuit breaker for max number of active alerts per rule"
We should explore adding a circuit breaker to the number of active alerts per rule so the system doesn't end-up working with large data structures in memory. Some thoughts below..

[2022-02-07 19:38] elasticmachine commented on #124870
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 19:40] mikecote opened #124871 "Add circuit breaker for max number of actions a rule can schedule per execution"
As a starting point, until we can gather data from https://github.com/elastic/kibana/issues/122535, we should determine an unacceptable number of actions a rule can schedule and implement a cap at that unacceptable number. We should analyze how a cap would work and the impacts it has on a rule and the UX when invoked.

[2022-02-07 19:40] elasticmachine commented on #124871
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-07 19:41] nimarezainia opened #124873 "[Fleet] Provide the ability to add/modify agent tags in the fleet dashboard"
**Describe the feature:**
Being able to tag agents with information specific to the deployment of the agent is valuable as it enables the user create arbitrary groupings of the agent in order to view or perform actions on.

**Describe a specific use case for the feature:**

1. As a platform operator, I would like to attach a tag to the agents I am installing, during installation, with information

[2022-02-07 19:41] elasticmachine commented on #124873
Pinging @elastic/fleet (Team:Fleet)

[2022-02-07 19:41] elasticmachine commented on #124873
Pinging @elastic/fleet (Feature:Fleet)

[2022-02-07 19:41] nimarezainia commented on #124873
https://github.com/elastic/beats/issues/27712

[2022-02-07 19:55] andrewctate commented on #124821
Thanks, @Dosant .

@flash1293 I did some sleuthing.

## Bug Report

### STR

- Add logs sample data
- Create new dashboard
- Create lens by value
- Add filter
- Click "save and return"

**Result:** taken back to the dashboard

**Why does this work?**

At this point, `state.lens.filters[x].meta.value` is a _writable_ property so [this](https://github.com/elastic/kibana/blob/8.1/x-pack/plugins/lens/

[2022-02-07 20:03] mikecote commented on #124807
I'm working on https://github.com/elastic/kibana/issues/124805 and it also involves communicating with the security solution team. Whoever picks this up, let me know if you plan on starting conversations.

[2022-02-07 20:22] jen-huang commented on #124781
@nchaulet Something went awry with the docket setup in the jest integration tests, could you take a look? Related: #124780, #124779

[2022-02-07 20:40] mostlyjason commented on #121184
++ to what Josh said about offering an escape hatch. I remember in a previous company we were parsing apache status field as an int, and but its really a discrete rather than continuous variable, so keyword is better. The only way someone could fix that is by overriding the default mapping. Sure, a user could mess it up, but they can easily revert to the default behavior by deleting their customiz

[2022-02-07 20:43] lukasolson commented on #42406
Lucene syntax warnings have been removed so I will close this issue.

[2022-02-07 20:43] #42406 closed

[2022-02-07 20:44] mdefazio opened #124887 "[Stack Rules] [Meta] UX: Rule Enhancements"
# Stack Rule Enhancements
The following are enhancements to rules as it pertains to Stack management.

## Snoozing

### Phase I requirements (snoozing only one rule at a time)

#### Functionality Requirements:

- As a user, I would like to pause notifications/actions on a rule for a certain amount of time
- As a user, I would like to know the time the snooze finishes
- As a user, I would like to b

[2022-02-07 20:45] mdefazio opened #124888 "Create UX for snoozing a single rule"

[2022-02-07 21:04] lukeelmers commented on #108993
Just dropping a note as I'm starting to look at this. Currently here's what I'm thinking:
- We add a `CoreStart.registerBlockingStartTask(task: Promise<unknown>)` as [Josh suggests above](https://github.com/elastic/kibana/issues/108993#issuecomment-948767880)... (exact name/location within `CoreStart` still TBD, open to suggestions)
- Any tasks registered here are `await`ed before `http.start()`
-

[2022-02-07 22:01] andreadelrio opened #124895 "[Controls] [META] UX improvements based on internal user testing"
After receiving responses from the internal user testing exercise, here's the items we can improve on:

## **Design improvements**

- [x] In single-line layout, there is no way to see the full field name if it is truncated. Add a tooltip.

<img width="238" alt="image 2" src="https://user-images.githubusercontent.com/4016496/152855188-0eefde41-ee95-4373-a4ab-618d8a6e7b63.png">

- [x] Hide the searc

[2022-02-07 22:02] elasticmachine commented on #124895
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-07 22:30] spong opened #124899 "[Security Solution][Detections] Remove usage of `__internal_` tags from Security Detection Rules"
Now that some alert params are filterable using Elasticsearch’s "flattened" type (https://github.com/elastic/kibana/pull/92036), and with full searchable params support incoming (https://github.com/elastic/kibana/issues/123982), we should be able to clean up all our extra logic around the `__internal_` `tags` hacks that we had to do to work around these searchable params issues. This is the origin

[2022-02-07 22:30] elasticmachine commented on #124899
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-07 22:38] #124679 closed

[2022-02-07 22:43] yctercero commented on #124294
NOTE: It appears that meta fields in the SOM are taken from the import file and written to the SOs (`created_by`, `created_at`, `udpated_by`, `updated_at`). This diverges from our current import/export that prevented a user from specifying these fields for security purposes.

[2022-02-07 22:52] kqualters-elastic commented on #121514
This is not a bug, when an event has more than 1 category it is counted only once in the total count, but also once for each category.

[2022-02-07 22:52] #121514 closed

[2022-02-07 23:07] #123250 closed

[2022-02-07 23:35] kibanamachine commented on #124663
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9584#110d742b-80e6-4bad-af91-8fd5e14437b6)

[2022-02-07 23:39] andrewkroh opened #124905 "[EPM] Include match_only_text and wildcard types in index.query.default_field"
**Describe the feature:**

ECS is using `match_only_text` and `wildcard` for some fields and it would be nice if they were searched by default for Fleet integrations.

For example, __`message` is no longer searched by default for integrations__ because it is [mapped](https://www.elastic.co/guide/en/ecs/current/ecs-base.html#field-message) as `match_only_text`.

**Describe a specific use case for t

[2022-02-07 23:39] elasticmachine commented on #124905
Pinging @elastic/fleet (Team:Fleet)

[2022-02-07 23:39] elasticmachine commented on #124905
Pinging @elastic/fleet (Feature:EPM)

[2022-02-08 00:10] kibanamachine commented on #118432
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9586#e2ee9844-8a8d-4e18-afd8-f7bf52e3f9e1)

[2022-02-08 00:15] yctercero commented on #124742
I tried to see about adding a `meta` field to the comment which would essentially store the meta values from the import, but the `comment.created_at`, etc would still be set by the system. This still would require a great deal of work to ensure the `meta` is not altered.

If what we really want is a historical log of these imported items, taking the values passed in by the user would kind of defea

[2022-02-08 00:31] TinaHeiligers opened #124910 "Migrate `uiSettings` dev guide over to the new docs system"
The docs team is slowly migrating `*.asciidocs` over to the new docs system. In the meantime, devs have been asked to add any new content directly.

This issue is a follow-up to https://github.com/elastic/kibana/pull/124648, to add the new content.

Original request:

[2022-02-08 00:33] elasticmachine commented on #124910
Pinging @elastic/kibana-core (Team:Core)

[2022-02-08 01:41] renshuki opened #124916 "Prevent some fields to be edited in SLM managed policies"
**Describe the feature:**

Currently SLM policies (even managed) are fully editable apart from the `Policy Name`.

![Screen Shot 2022-02-08 at 10 30 02](https://user-images.githubusercontent.com/7076736/152900824-f19c1b1b-95ab-454a-999a-e723249c63d8.png)

In the case of the `cloud-snapshot-policy`, changing the default configured repository (`found-snpashots`) repository will lead to some issues o

[2022-02-08 01:49] elasticmachine commented on #124916
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-08 02:42] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9597#fa596b2c-fd2b-4352-8956-3d98866ba82d)

[2022-02-08 03:43] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9601#df3d650f-3395-4082-82ee-1e272fdc7014)

[2022-02-08 03:49] cybersecdiva opened #124918 "[Security Solution] Bulk update on index pattern for ML rules"
**Describe the bug:**
ML rules doesn't have index patterns. Users should not be able to modify and update and add index patterns

**Kibana/Elasticsearch Stack version:**
8.1 BC1

**Steps to reproduce:**

1. Create a new ML rule

Go to **Rules overview** and search Ml and select Mltest rules

- In this scenario I have a **total of 3 Ml test rules** and used _**ml***_ to list all  ML rules

2. Selec

[2022-02-08 03:49] elasticmachine commented on #124918
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-08 03:49] cybersecdiva commented on #124918
@MadameSheema  FYI

[2022-02-08 03:55] cybersecdiva commented on #124918
https://github.com/elastic/security-team/issues/2076

[2022-02-08 04:35] mattkime commented on #122899
@gwbrown I'm pretty sure the problem you're seeing is specific to `*` but let me know if you can reproduce it with other index patterns.

[2022-02-08 05:03] smith commented on #121744
@elastic/apm-ui has an issue open to expose the service inventory as an embeddable: #103622.

[2022-02-08 06:01] karanverma-qasource opened #124919 "[Security Solution] Kibana mapped fields/ Data are not present in Kibana environment."
**Describe the bug:**
Kibana mapped fields are not present in the Kibana environment.

**Kibana/Elasticsearch Stack version:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Alerts should be present on the environment

**Steps to reproduce**

1. Navigate to Security-->Alerts tab.
2. Click on view details icon on any alerts tab.
3. Search

[2022-02-08 06:01] elasticmachine commented on #124919
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-08 07:43] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9618#0dda9d50-de84-4d40-9a19-03bf048ba31e)

[2022-02-08 07:48] pheyos commented on #124747
The fix PR #124328 is currently being backported to the 8.0 and 7.17 branches so these failures should stop occurring soon.

[2022-02-08 08:55] elasticmachine commented on #123550
Pinging @elastic/kibana-security (Team:Security)

[2022-02-08 08:58] robcowart commented on #123550
I am not sure why this has been associated with `Team:Security`. This has nothing to do with the Security/SIEM app, nor with RBAC. It is an issue of importing saved objects.

[2022-02-08 09:05] zfrhv opened #124921 "kibana push alerts to alertmanager"
**Describe the feature:**
add option for the kibana to push alerts to prometheus AlertManager.

assuming we have kubernetes/openshift or any other applications.
we have the monitoring with prometheus that collects metrics creates alerts and pushes to AlertManager, and we have the elk or efk that collects the logs, and has the option to create alerts.
it would be nice to have 1 central point where

[2022-02-08 09:09] pgayvallet commented on #123550
That's not a mistake. The savedObjects spaces feature is owned by kibana-security.

[2022-02-08 09:10] robcowart commented on #123550
Thanks for the clarification

[2022-02-08 09:10] rudolf commented on #123550
@robcowart I understand that the association isn't obvious. The platform security team owns spaces and as part of a feature to allow sharing to multiple spaces saved object id's might be rewritten when upgrading to 8.0 https://github.com/elastic/kibana/issues/27004 https://github.com/elastic/kibana/issues/100489

Although the id's changed we made every effort to avoid it affecting e.g. deep links,

[2022-02-08 09:11] katrin-freihofner commented on #119090
@fkanout
Where (in which context) does a user see this description?

[2022-02-08 09:23] robcowart commented on #123550
I read through those issues and it is unclear how an upgrade from 7.x to 8.x will affect the existing saved object UUIDs. For example... in 7.17.x I have Space A and Space B, both of which have saved object X. I then upgrade to 8.0. Will X remain X in both A and B, or will it be changed to Y and Z respectively?

[2022-02-08 09:29] afharo opened #124923 "Detect `requiredBundles` circular references on Kibana startup"
We noticed that some plugins are getting around the current circular references runtime validation by using `requiredBundles` dependencies instead of `requiredPlugins`/`optionalPlugins`.

Circular dependencies in `requiredBundles` can also lead to unexpected behaviours like #123720.

We could add a new CI script that validates and warns about these circular dependencies #124860. However, we should

[2022-02-08 09:29] elasticmachine commented on #124923
Pinging @elastic/kibana-operations (Team:Operations)

[2022-02-08 09:29] elasticmachine commented on #124923
Pinging @elastic/kibana-core (Team:Core)

[2022-02-08 09:32] pheyos commented on #123994
@liza-mae I've looked into this and could reproduce your issue.
Looking at the code for [ES](https://github.com/elastic/kibana/blob/main/packages/kbn-test/src/es/es_test_config.ts#L54) and [KBN](https://github.com/elastic/kibana/blob/main/packages/kbn-test/src/kbn/kbn_test_config.ts#L40) test configs, it's not checking the env variables `*_USER`  but `*_USERNAME`. Running your example with exporte

[2022-02-08 09:34] jloleysens commented on #120167
Closed in https://github.com/elastic/kibana/pull/124003

[2022-02-08 09:38] Kuznietsov opened #124925 "[Gauge] Use EC library instead of the vislib one"
## Introduction
In order to [the issue](https://github.com/elastic/kibana/issues/123800), it is required to add support of some features, absent at the `gauge` visualization from `expression_charts`, but used at `vislib's` gauge. Some of these features are blocked on the side of `elastic-charts` and will be addressed separately. The others will be encountered at this issue and addressed at the fol

[2022-02-08 09:38] elasticmachine commented on #124925
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-08 09:41] gavinwye commented on #121752
Thanks @ecezalp I'm working on Threat Intelligence now so I'm going to pick this up as part of that work.

[2022-02-08 09:48] Kunzetsov commented on #124925
cc @crob611

[2022-02-08 09:53] kibanamachine commented on #119787
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9626#d21aa8d3-8232-44e6-9be9-aae6ad101fec)

[2022-02-08 09:59] formgeist commented on #124370
Thanks @danielkhan for filling in the gaps 👍

I've worked on a [PR](https://github.com/elastic/kibana/pull/124702) (open for review) that updates the current layout to accommodate the new Alerts section on top of the page. There are still some things to work out (like the empty state), but here's a mock-up of the proposed design.

![alert-panel-annotated](https://user-images.githubusercontent.com/

[2022-02-08 10:22] mdelapenya opened #124928 "[Fleet] Breadcrumb looses items on click"
**Kibana version**: 8.1.0-98e72485-SNAPSHOT

**Elasticsearch version**: 8.1.0-98e72485-SNAPSHOT

**Server OS version**: Docker

**Browser version**: Version 97.0.4692.99 (Official Build) (x86_64)

**Browser OS version**: Version 97.0.4692.99 (Official Build) (x86_64)

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus a

[2022-02-08 10:22] elasticmachine commented on #124928
Pinging @elastic/fleet (Team:Fleet)

[2022-02-08 10:33] kibanamachine commented on #124120
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9630#d42d2ba0-9c4b-436a-bcde-6a633833fcf3)

[2022-02-08 10:33] flash1293 commented on #124925
Sounds all good to me 👍

[2022-02-08 11:11] samratbhadra-qasource commented on #121156
Hi @kqualters-elastic
We have validated this issue on the latest 8.0.0-BC1 build and found that the issue is now fixed. Please find the testing details below:

- The rule column value is not distorted while hovering over it under alerts table.

**Build Details:**
VERSION: 8.0.0-BC1
BUILD: 49192
COMMIT: 57ca5e139a33dd2eed927ce98d8231a1f217cd15
ARTIFACT LINK: https://staging.elastic.co/8.0.0-da04e90

[2022-02-08 11:13] #124307 closed

[2022-02-08 11:15] kpatticha commented on #123573
@lmoya31 can you provide information about the issue you might encounter. if you opened the issue accidentally, feel free to close it.

[2022-02-08 11:43] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9633#3bcb37d9-fc5e-450d-8a25-d688834712d2)

[2022-02-08 11:51] dasansol92 commented on #124675
PR that includes messages unification and some UX fixes with links between policy page and artifacts list page under management tab:
https://github.com/elastic/kibana/pull/124936

[2022-02-08 11:53] elasticmachine commented on #46435
Pinging @elastic/kibana-core (Team:Core)

[2022-02-08 12:02] elasticmachine commented on #124918
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-08 12:12] rudolf commented on #103231
The last failure doesn't seem to be flakiness but someone trying to build 7.16 with an 7.17 ES version before we added the necessary support. This created the following errors:

Closing, since the last fix all failures turned out to be noise.

[2022-02-08 12:12] #103231 closed

[2022-02-08 12:18] elasticmachine commented on #118621
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-08 12:18] pgayvallet commented on #100533
Fixed by https://github.com/elastic/kibana/pull/100551, closing

[2022-02-08 12:18] #100533 closed

[2022-02-08 12:19] rudolf commented on #118621
@elastic/kibana-presentation We don't know the root cause of this corrupt data, but using https://github.com/elastic/kibana/issues/104088 for your saved objects will prevent this from happening in the future.

[2022-02-08 12:30] weltenwort commented on #120377
@jasonrhodes the pros and cons of the table don't seem correct to me. I'd put it like this:

### `composite` agg

#### Advantages

- client has exact control over page size
- can efficiently paginate through all groups
- can efficiently sort by grouping key

#### Disadvantages

- sorting by sub-aggregation must be done on the client side

### `terms` agg

#### Advantages

- client can control maxi

[2022-02-08 12:33] kibanamachine opened #124938 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with no data loaded (ft_ml_poweruser) should display elements on ML Overview page correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9639#2036501e-5ee4-4b30-b456-5d344c82ab73)

[2022-02-08 12:36] #114760 closed

[2022-02-08 12:36] rudolf commented on #103731
I agree that the OUTDATED_DOCUMENTS_* and also the UPDATE_TARGET_MAPPINGS steps are no longer necessary.

[2022-02-08 12:38] samratbhadra-qasource opened #124939 "[Fleet]: Unable to access Fleet tab on changing Elastic APM integration name."
**Describe the bug:**
Unable to access Fleet tab on changing `Elastic APM` integration name.

**Build Details:**
VERSION: 8.0.0-BC1
BUILD: 49192
COMMIT: 57ca5e139a33dd2eed927ce98d8231a1f217cd15
ARTIFACT LINK: https://staging.elastic.co/8.0.0-da04e908/summary-8.0.0.html

**Preconditions:**
Elastic 8.0.0-BC1 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the Integration tab

[2022-02-08 12:38] elasticmachine commented on #124939
Pinging @elastic/fleet (Team:Fleet)

[2022-02-08 12:39] samratbhadra-qasource commented on #124939
@manishgupta-qasource Please review.

[2022-02-08 12:41] karanbirsingh-qasource opened #124940 "[Security Solution]Threat intelligence card data stoped showing on upgrading cloud build from pre 8.0"
**Describe the bug**
Threat intelligence card data stoped showing on upgrading cloud build from pre 8.0

**Build Details**
[code]

**Pre-Conditions**
- create the 7.17.0 Build
- Install the file beat
- Enable the threatintel module for file beat
- The `Threatintel` Card get populated with data

![image](https://user-images.githubusercontent.com/59917825/152988542-e4f510aa-50c9-4691-80d9-a82bf5f5c7

[2022-02-08 12:43] manishgupta-qasource commented on #124939
Reviewed & mention to @mostlyjason

[2022-02-08 12:47] rudolf commented on #104080
We need need the temporary index + clone steps to avoid lost deletes. Otherwise, one instance completes the migration, acknowledges a delete, and then the second instance reindexes the deleted document and restores it.

The alternative is to implement soft deletes so that the second instance's reindex will get a write conflict. I feel like there was some kind of gotcha which soft deletes didn't so

[2022-02-08 12:47] #104080 closed

[2022-02-08 12:50] #100685 closed

[2022-02-08 13:09] cyrille-leclerc opened #124943 "[APM] OpenTelemetry span exception message not visible in the trace gantt chart visualization"
### Kibana version

7.17

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Produce an exception with the Ansible Otel plugin.

![image](https://user-images.githubusercontent.com/459691/152992831-80abb6f7-4c3e-41f8-ae2a-7b6b16e4d0de.png)

<img width="1271" alt="image" src="https://user-images.githubusercontent.c

[2022-02-08 13:09] elasticmachine commented on #124943
Pinging @elastic/apm-ui (Team:apm)

[2022-02-08 13:10] cyrille-leclerc commented on #124943
@v1v can you add details of the source code that record the exception to the OTel span?

[2022-02-08 13:11] danielkhan commented on #124370
@estermv, let's stick with the time range as suggested by @formgeist.

For recovered alerts, I think it would be interesting how many open alerts a cluster has on average at any given time.
I would always rank active alerts first but I suspect that sometimes there won't be 5 active alerts while in most cases there would be recovered ones and it would still add value to see what happened before as

[2022-02-08 13:11] kpollich commented on #124785
May be related to #124939

[2022-02-08 13:15] v1v commented on #124943
https://github.com/ansible-collections/community.general/blob/acd88532422ba890e2a881d27ef337092ef6624d/plugins/callback/opentelemetry.py#L264-L267 is the code in charge of generating an exception with the OTEL python SDK.

[2022-02-08 13:21] MadameSheema commented on #124940
@karanbirsingh-qasource if I'm not mistaken, the behaviour described here is expected. Filebeat has a breaking change on the ECS mappings introduced on 8.0, so the card is going to be displayed empty if filebeat-8 or the fleet threat integration is not used.

cc @ecezalp

[2022-02-08 13:25] mbondyra opened #124945 "[Lens] when changing the field type in top values, the options are not updated"
**Kibana version:**
master, but probably way down

1. Create the following visualization:
<img width="614" alt="Screenshot 2022-02-08 at 14 24 41" src="https://user-images.githubusercontent.com/4283304/152996146-35375040-0cc5-46b7-b2e2-d51e1fb38185.png">

2. Change the number formatting for the price to not default
<img width="238" alt="Screenshot 2022-02-08 at 14 24 52" src="https://user-images.g

[2022-02-08 13:25] elasticmachine commented on #124945
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-08 13:28] formgeist commented on #122433
Closed by https://github.com/elastic/kibana/issues/122947 and https://github.com/elastic/kibana/issues/122948

@MiriamAparicio @dannycroft if there's anything I misunderstood, I would mark this as closed for 8.1 implementation?

[2022-02-08 13:28] #122433 closed

[2022-02-08 13:33] #122991 closed

[2022-02-08 13:34] MadameSheema commented on #120712
@karanbirsingh-qasource can you please validate this fix on current 8.0GA? Thanks :)

[2022-02-08 13:35] #120885 closed

[2022-02-08 13:35] #120906 closed

[2022-02-08 13:38] rudolf opened #124946 "Only migrate an index if necessary"
In order to support different Kibana instances having different plugins enabled, the v2 migration algorithm had to perform a migration for every version, because even if instance 1 doesn't think any migrations are necessary, instance 2 might have a plugin which defines a migration for this version.

Given that we no longer support unknown saved object types https://github.com/elastic/kibana/issues

[2022-02-08 13:38] elasticmachine commented on #124946
Pinging @elastic/kibana-core (Team:Core)

[2022-02-08 13:38] MadameSheema commented on #121390
@peluja1012 @marshallmain are you planning to fix do some work over this on future releases?

[2022-02-08 13:39] banderror opened #124947 "[Epic][Security Solution][Detections] Troubleshooting and diagnostics"
## Summary

While working on recent SDHs, it became evident that, in contrast to Elasticsearch, Kibana, and Task Manager, we don't have a lot of diag data for Security Solution and Detection Engine. There's not a lot of console logs, rule execution logs stored in `.kibana-event-log-*`, not enough correlation ids in all those logs, [support-diagnostics](https://github.com/elastic/support-diagnostic

[2022-02-08 13:39] afharo commented on #122637
@mshustov is the performance working group thinking about providing anything similar?

[2022-02-08 13:39] MadameSheema commented on #121758
@yctercero can you please check Deepika's comment? Thanks

[2022-02-08 13:51] #91803 closed

[2022-02-08 13:55] mshustov commented on #7104
I took a stab adding http/2 support to Kibana. You can find some necessary changes and page load time benchmarks in this PR https://github.com/elastic/kibana/pull/123748

There are a few open questions left:
- [ ] to check compatibility with a request proxy in Console app
- [ ] to verify whether switching to http/2 will affect other Stack components interacting with Kibana: fleet, filebeats, etc.

[2022-02-08 13:56] VladLasitsa commented on #123797
@flash1293, As I see unified metric renderer has already supported coloring background / number via provided palette. One difference from Lens that in Lens background color appling for all container, but in `metric unified renderer` only for small area around metric.

**In Metric:**
![image](https://user-images.githubusercontent.com/16915480/153000388-728f5391-2178-4285-8d96-ee932a99c014.png)

**i

[2022-02-08 13:57] jonathan-buttner opened #124950 "[Response Ops][Cases] Alerts migration causes errors in the migration logs"
When the cases user actions are migrated in 8.0.0, an assumption is made that the `new_value` field is a valid json object. For most user actions this is true. When the status of a case is changed a string of the new status (i.e. `open`, `closed` etc) will be stored within the field. This causes the `JSON.parse` to throw an error which is caught and logged.

The error can be safely ignored because

[2022-02-08 13:58] elasticmachine commented on #124950
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-02-08 13:58] elasticmachine commented on #124950
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-08 14:01] flash1293 commented on #123797
@VladLasitsa good point

* This makes sense to me, I think we should make the current Lens behavior default with an option to switch to the Visualize behavior
* It seems like the label is smaller in the visualize case, right? Is this configurable already via font argument?

* If it works already nothing to be done here - the next step would be to use the unified renderer from within Lens and remov

[2022-02-08 14:05] #124693 closed

[2022-02-08 14:08] VladLasitsa commented on #123797
That next question: For now we don't have possibility to configure label font. The provided font arg only affects metric. Should we add something like `fontLabel` arg that allow configru font for label (in that case we should also check that all things which we can provide as `font` will be aplliable) or just `labelFontSize` is enogh?

[2022-02-08 14:08] MadameSheema commented on #124360
Reopening the issue in order to don't forget to validate it.

[2022-02-08 14:10] estermv opened #124956 "[Exploratory view] Expand series row on click"
## Summary
We would like a series row to be expanded by clicking on it:
<img width="1209" alt="Screenshot 2022-02-08 at 15 09 52" src="https://user-images.githubusercontent.com/2249229/153003682-9c6fa5e2-85ea-4231-ae15-4c0fad382de2.png">

### Acceptance criteria
* When the user clicks on the row this should be expanded.

[2022-02-08 14:10] elasticmachine commented on #124956
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-02-08 14:12] #118981 closed

[2022-02-08 14:17] juliaElastic commented on #124004
@jen-huang @joshdover
I think the root cause of this bug looks like this issue: https://github.com/elastic/kibana/issues/113921
Which was fixed for 8.0 and above here: https://github.com/elastic/kibana/pull/119488
I think we should backport the fix for the next minor of 7.16 and 7.17, do you agree?

And with that, this fix should be backported as well: https://github.com/elastic/kibana/pull/124363

[2022-02-08 14:20] fkanout commented on #119090
@vinaychandrasekhar thank you for the details. 👍🏻  for  _consistent description for each field across the various rule types._

When the user want to add a variable from the list (in the context of an alert):

![142485786-ebc8f423-5194-4a94-8d57-f2df6a5a1053](https://user-images.githubusercontent.com/6838659/153005512-c86d1eca-6209-4e9d-ad40-4a67d466ca5a.png)

[2022-02-08 14:21] simitt commented on #124342
Thanks for the insightful response Andrew. After some more conversations offline, I agree that it is not the right step to move the ampackage from the server to Kibana. While it would reduce some dependencies and pain for APM UI developers, it would come at a huge cost for existing development setup in apm-server. Overall the package ties closer into apm-server code, as the apm-server is the writi

[2022-02-08 14:25] flash1293 commented on #123797
Having a font arg for the label sounds like the cleanest way to me, but it's more relevant for Canvas than anything else. @crob611 what do you think?

[2022-02-08 14:28] nchaulet commented on #124781
Resolved by https://github.com/elastic/kibana/pull/124889

[2022-02-08 14:28] dej611 commented on #123797
Consider also this approach from @shahzad31 for font size : https://github.com/elastic/kibana/pull/124124

[2022-02-08 14:29] dannycroft commented on #124842
Linking: https://github.com/elastic/kibana/issues/119028

[2022-02-08 14:33] kibanamachine opened #124961 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/permissions/full_ml_access·ts - machine learning permissions for user with full ML access with data loaded (ft_ml_poweruser) should display elements on ML Overview page correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9646#867896b9-e84c-41bd-b177-4d20589c2009)

[2022-02-08 14:40] flash1293 commented on #123550
The markdown "visualization" is not owned by the VisEditors team (it's a presentation team thing). But TSVB has several places which allows links like this as well which are affected as well, so let's keep it like this.

I feel like I'm missing a key part here, but shouldn't the legacy URL aliases be written on import as well? I was under the impression importing old saved objects would be just li

[2022-02-08 14:40] elasticmachine commented on #123550
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-08 14:43] mshustov commented on #101277
another case to cover:
- a firewall blocks some requests from the Kibana app to the Kibana server. a HAR file shows these requests as having `0` status in `blocking` phase
![2022-02-08_15-42-08](https://user-images.githubusercontent.com/3198181/153009885-58e105e5-c5e4-4359-ae2d-35acdea00f87.png)

[2022-02-08 14:46] joshdover commented on #122560
@nchaulet Curious if you've been able to make any progress on this issue. We need to decide whether or not to include this in our 8.2 planning and it would be good to know the remaining effort to close this one out.

[2022-02-08 14:53] afharo commented on #122632
Increased the priority because the number of clients is growing

[2022-02-08 14:54] mbondyra opened #124966 "[Lens] unnecessary empty space in static value flyout"
**Kibana version:**
small bug on master caused by #121768 - empty space between static value and other options:

<img width="310" alt="Screenshot 2022-02-08 at 15 54 02" src="https://user-images.githubusercontent.com/4283304/153012342-2b229305-7604-4cec-bc16-74af7ca48a46.png">

[2022-02-08 14:54] elasticmachine commented on #124966
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-08 14:56] eyalkraft commented on #124149
Hey @joshdover, Thanks for the drill down.
I'll try and answer the questions to shed more light over how we imagine things would work:
## why we need a persisted concrete `csp-rule` saved object for each configured rule

So in the current design the rule looks like this ([doc](https://docs.google.com/document/d/1sKdHOKwWe-pgUZTQTbruEnARt_cxx8zTvTdD90q5WGw/edit#bookmark=id.t5gtg223kctd)):
[code]

I

[2022-02-08 14:57] nchaulet commented on #122560
@joshdover Yes I have a draft PR for that https://github.com/elastic/kibana/pull/123509 I need to fix some tests and potentially add new ones but hopefully I can finish that this week.

[2022-02-08 14:58] afharo commented on #122572
I think that it will be easier if we implement https://github.com/elastic/kibana/issues/96538 first. Because we can share the response to all users and do not bear in mind the permissions of each one of them.

[2022-02-08 14:59] afharo commented on #122516
I'd appreciate some guidance from the team to better understand how to use `execution_context`

[2022-02-08 15:00] dej611 commented on #124966
I think I've looked into this when all the different spacings in that area have been refactoring to a single place: at the time the problem was to inspect the operation to infer whether it could display additional options beneath.

[2022-02-08 15:03] MadameSheema commented on #124813
After synced with @paulewing, the impact should be low and ideally this issue to be fixed on 8.1.

ping @michaelolo24 @janmonschke @peluja1012 @marshallmain

[2022-02-08 15:05] bhavyarm commented on #123861
@sebelga apologies for the delay. I was away.

I cannot reproduce the error on sample logs -
<img width="1792" alt="Screen Shot 2022-02-08 at 10 03 07 AM" src="https://user-images.githubusercontent.com/7074629/153014215-ae2880e6-e7eb-49b0-8c98-48dac059e462.png">

But I did reproduce the error on logstash-* data set -
<img width="1792" alt="Screen Shot 2022-02-08 at 9 30 34 AM" src="https://user-im

[2022-02-08 15:09] afharo commented on #119464
It seems that the discussion has turned into how large the payloads for monitoring are... It seems like a duplicate of #115217. I'll go ahead and close this one. Feel free to reopen it if you think it's worth looking at it.

[2022-02-08 15:09] #119464 closed

[2022-02-08 15:19] robcowart commented on #123550
Another question. Reading the above it doesn't sound like it will be possible to have a "dev" space and "prod" space. A very common scenario when making changes to "prod" is to...

1. export everything from "prod" and import it into a "dev" space.
2. make changes in the "dev" space.
3. export from "dev" and re-import into "prod".

It sounds like step 2 would cause the UUIDs to change, which would

[2022-02-08 15:20] afharo commented on #124923
I agree! The graphs should look more like: https://github.com/elastic/kibana/pull/124860

IMO, we'll need to create a separate function for this validation because `getTopologicallySortedPluginNames` is used to identify the order we need to initialize the plugins, and `requiredBundles` should not affect this.

[2022-02-08 15:22] #124470 closed

[2022-02-08 15:31] jportner commented on #123550
Apologies in advance if I gloss over some details, I am attempting to summarize technical discussions and decisions that took place over ~15 months and a dozen PRs. I'll just call them "aliases" for short.

We explicitly made a decision _not_ to attempt to create aliases on import. These aliases exist to make sure that bookmarked URLs still work after Kibana is upgraded. That's their only purpose,

[2022-02-08 15:34] romanlum commented on #49647
Any progress here?
We also need this feature for managing microservices in different spaces using their own index.
https://github.com/elastic/kibana/pull/77882 would be a good start to merge  :)

[2022-02-08 15:40] jasonrhodes commented on #123471
I _think_ the relevant PRs have all landed for this work now, so we are no longer blocked. See:

- https://github.com/elastic/beats/pull/29871
- https://github.com/elastic/enterprise-search-team/issues/1174#issuecomment-1032745090

Do we have anything else we need to do for this to be resolved?

[2022-02-08 15:42] kibanamachine commented on #124938
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9648#df0ff166-2224-4d63-83f7-debc8eea75cc)

[2022-02-08 15:43] brianseeders commented on #124938
/skip

[2022-02-08 15:43] kibanamachine commented on #124938
Skipped

main: e7ab1e51c7f33a90009694de7a7fe810d95194b0
8.1: e8868b3b5fda198d0d7e47414d3b3d5fdbc60c31

[2022-02-08 15:43] crob611 opened #124976 "[Maps] Extract/inject references from server side embeddable"
Canvas handles reference extraction and injection server side.

It doesn't appear that maps implements either inject or extract for the server side embeddable, so a workpad with a by value map embeddable that is exported is missing references from the map.

[2022-02-08 15:44] elasticmachine commented on #124976
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-08 15:47] jportner commented on #123550
Whoops, I commented too soon!

You're talking about folks who may export all of their objects and import them into a new cluster? If they are importing the same objects into multiple _different_ spaces, then yes, what you're describing would happen.

I think the friction here is that exports/imports happen _within a single space_, and an object's space-related metadata is stripped when it is expor

[2022-02-08 15:54] joshdover commented on #124149
After discussion, we decided on a short-term and long-term solution to this problem which does not require significant changes to Fleet:
- Short-term: store all rule data in the package policy input vars and ship it down to Agents
- Long-term: leverage the [registerExternalCallback](https://github.com/elastic/kibana/blob/198b2e6f8a9f29656e70272d8b93eaf27f79f342/x-pack/plugins/fleet/server/plugin.t

[2022-02-08 16:05] kibanamachine commented on #119806
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9646#889c1f74-8b05-40b8-b52b-51a2493c3434)

[2022-02-08 16:05] kibanamachine commented on #119807
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9646#889c1f74-8b05-40b8-b52b-51a2493c3434)

[2022-02-08 16:08] robcowart commented on #123550
Sorry. I meant step 1 would cause the UUIDs to change... but you understood what I meant. That is a bit disappointing that it will work like that. While I am only aware of a few organizations that have the luxury of a dev cluster. I know a lot that have one or more dev spaces.

To simplify this for our users, we might just have to build our own Elastic Stack exporter/importer that takes all of the

[2022-02-08 16:11] rcanavan opened #124982 "Filters added to saved search and shared as short link disappear when selecting new time interval"
**Kibana version:** docker.elastic.co/kibana/kibana:7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** CentOS Linux release 7.9.2009 (Core)

**Browser version:**  Chromium 98.0.4758.80 and other releases of Chrome

**Browser OS version:** Ubuntu 21.10 (also tested on unknown versions MacOS)

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe

[2022-02-08 16:13] flash1293 commented on #123797
I think it's better to stick with the "regular" way of specifying font like @VladLasitsa suggests as it's exposed in other places in Canvas already.

I like this suggestion

[2022-02-08 16:15] bhavyarm opened #124984 "Allow string indices in TSVB in advanced settings has index pattern in copy instead of Data views"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Browser version:** chrome

**Describe the bug:**   Allow string indices in TSVB settings in advanced setting has  the help text -
"Enables you to use index patterns and Elasticsearch indices in TSVB visualizations."

The  **index patterns** here needs to be changed into "Data views"

<img width="1792" alt="Screen Shot 2022-02-08 at 11

[2022-02-08 16:24] brianseeders commented on #124961
See #124938

[2022-02-08 16:24] #124961 closed

[2022-02-08 16:28] jamster10 commented on #124146
# Selector considerations:

## Things to keep in mind [[docs](https://react-redux.js.org/api/hooks#useselector)]
- If the returned value is a primitive, it won't rerender unless the value changes.
- If it is an object it will always rerender as the selector gets a different reference to the object each time
- We can use an equality check to prevent an object from causing a rerender, by explicitly

[2022-02-08 16:38] carlosdelest commented on #123471
You may close this ticket. 👍

As it stands now, Enterprise Search is compatible with 8.1 Stack Monitoring, even if [that](https://github.com/elastic/enterprise-search-team/issues/1174) work is not yet done. We're planning to switch to Metricbeat 8.x in 8.2.

[2022-02-08 16:42] elasticmachine commented on #124982
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-08 16:43] #123471 closed

[2022-02-08 16:43] kibanamachine opened #124986 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_saved_queries·ts - discover app saved queries saved objects saved query management component functionality "before all" hook for "should show the saved query management component when there are no saved queries""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9655#db76c112-0f0e-4fb5-b750-b9e11c362d07)

[2022-02-08 16:59] kibanamachine opened #124990 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_saved_queries·ts - discover app saved queries saved objects saved query selection "before all" hook for "should unselect saved query when navigating to a 'new'""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9655#22f71993-1b5f-47bf-a819-fbfd268fb9f3)

[2022-02-08 17:07] jasonrhodes opened #124991 "Begin design/UX work for Logs UI saved views"

[2022-02-08 17:17] yctercero commented on #121758
Hey @deepikakeshav-qasource ! That is expected, it's now using the EUI component as opposed to the custom header component we were using before.

[2022-02-08 17:18] katrin-freihofner commented on #119100
I'm still working on a couple of details, especially for the rule details view. Please reach out if you have any questions in the meantime and add me to any PRs. I will add any updates here.

[2022-02-08 17:25] afharo commented on #119808
This is the same error as originally: ES took too long to start during the `beforeAll` step.

@elastic/kibana-operations as the codeowners of `@kbn/test`, do we have any common action to tackle when the time returned by `getStartTimeout()` is not enough?

[2022-02-08 17:25] #124821 closed

[2022-02-08 17:25] #123451 closed

[2022-02-08 17:25] #124822 closed

[2022-02-08 17:25] #124825 closed

[2022-02-08 17:26] afharo commented on #119807
Duplicated reason: I'll close this one in favour of #119808

[2022-02-08 17:26] #119807 closed

[2022-02-08 17:27] afharo commented on #119806
Duplicated reason: I'll close this one in favour of #119808

[2022-02-08 17:27] #119806 closed

[2022-02-08 17:28] #122202 closed

[2022-02-08 17:28] elasticmachine commented on #46435
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-08 17:36] bhavyarm opened #124997 "Change "pattern" to data views in no matching indices found error message on discover"
**Kibana version:** 8.0.0 BC1

**Elasticsearch version:** 8.0.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If matching indices don't exist for a data view - Kibana displays "_**No matching indices found: No indices match pat

[2022-02-08 17:36] elasticmachine commented on #124997
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-08 17:46] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9657#066656bd-88c7-4037-b1db-7120330bb780)

[2022-02-08 18:00] elasticmachine commented on #124947
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-08 18:00] elasticmachine commented on #124947
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-08 18:08] graphaelli commented on #122430
@dannycroft Does it make sense to consider this delivered and create a follow up issue for the next phase of implementation scoped to the 8.2 deliverables?

[2022-02-08 18:09] #121758 closed

[2022-02-08 18:27] angorayc opened #125002 "[Security Solution] Remove unused histogram code once embeddable is implemented"
We can do the clean up and remove the unused histogram code once all of the charts are replaced by embeddable.

- [ ] Remove the queries for histograms on host page.
- [ ] Remove the queries for histograms on network page.

[2022-02-08 18:27] elasticmachine commented on #125002
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-08 18:33] kpollich commented on #124785
I'm having the same issue reproducing this issue as Josh is above. No error when upgrading following the included steps.

[2022-02-08 18:35] bhavyarm opened #125003 "Kibana redirects to user wrongly to data view management when user clicks on index management on geoJSON upload layer"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Kibana is redirecting the user to data view management instead of index management when user clicks on "To modify the index,

[2022-02-08 18:35] elasticmachine commented on #125003
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-08 18:35] lizozom commented on #114843
Partially addressed by https://github.com/elastic/kibana/pull/124996

[2022-02-08 18:41] shahzad31 opened #125004 "[Exploratory view] Simplify comparisons by date"
Right now if you have to compare data against time/date in exploratory view, you have to add another series, we should simplify it, by adding a panel or section in the series, where user can select options like

Compare against Last week, Last day, last month etc. And we automatically add the series on chart.

This saves user adding another series and also makes sure filtering remains consistent.

[2022-02-08 18:48] vitaliidm commented on #124918
@yiyangliu9286 , @jethr0null , can you please look at this issue.
We need to come up with solution how to tell user that ML rules can't be edited for index patterns

1. Should we prevent user from proceeding with editing ML rules(like with Elastic ones)? We need to make sure in this case we don't display too many modal windows, like first one for Elastic rules, second for ML rules.
For this soluti

[2022-02-08 18:51] kibanamachine commented on #124747
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9662#ccb894df-21ad-4dc7-bc37-3e1fef01d98c)

[2022-02-08 18:55] kpollich opened #125005 "[Fleet] Support inaccessible Elastic Package Registry in air-gapped environments"
Fleet should be able to offer a limited experience around browsing and installing packages even if an instance of EPR isn't accessible on the network.

# Context

## Existing support for air-gapped environments

Fleet's [documentation](https://www.elastic.co/guide/en/fleet/current/air-gapped.html) currently details two approaches to supporting air-gapped environments:

- Using a proxy server to al

[2022-02-08 18:55] elasticmachine commented on #125005
Pinging @elastic/fleet (Feature:EPM)

[2022-02-08 18:55] elasticmachine commented on #125005
Pinging @elastic/fleet (Team:Fleet)

[2022-02-08 19:18] formgeist commented on #124370
I don't disagree, and that's why I added the recovered alerts count. We could look into group the alerts histogram by active/recovered too so you understand the ratio.

When you say "rank active alerts first" do you mean we should sort the table by status and not timestamp? I was think of adding a control to filter by "all | active | recovered" but moved away from it because I thought it was unnec

[2022-02-08 19:28] marshallmain commented on #124813
The field we write the threshold data to changed from `signal.threshold_result` to `kibana.alert.threshold_result` for new alerts in 8.0+. However the difference seen in the screenshots in https://github.com/elastic/kibana/issues/124813#issuecomment-1031634372 is because the screenshots are looking for different fields in the first set vs the second set. If you filter for `signal.threshold_result.

[2022-02-08 19:31] formgeist opened #125009 "[APM] Error occurrences bar chart comparison is using the legacy comparison style"
# Summary

We updated the comparison styles in https://github.com/elastic/kibana/pull/123858 but missed the error occurrences bar chart in the Errors overview + detail views.

<img width="730" alt="CleanShot 2022-02-08 at 20 23 54@2x" src="https://user-images.githubusercontent.com/4104278/153060831-26cdeddc-9d3c-4ab3-9847-72d920abafa7.png">

Expected style;

![image](https://user-images.githubuser

[2022-02-08 19:31] elasticmachine commented on #125009
Pinging @elastic/apm-ui (Team:apm)

[2022-02-08 19:39] kibanamachine commented on #124990
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9664#97e990cc-204c-4be9-8ec0-2d9a7be5fcb7)

[2022-02-08 19:40] cchaos commented on #11518
This doesn't sound like a `Design` issue, but something needed to be implemented in a router or view and required by plugins?

[2022-02-08 19:48] cchaos commented on #86528
@elastic/shared-ux  I'd like to evaluate the outstanding items on the list to see if they're still valid and/or close this issue.

[2022-02-08 19:54] MadameSheema commented on #124813
The first set of screenshots (the signals fields), the result is the same for a 7.17 alert, the same alert after upgrading to 8.0, and the same alert after upgrading to 8.1.

The second set of screenshots (the kibana fields), is from the 7.17 alert after the upgrade.

[2022-02-08 19:54] tsullivan opened #125011 "[Reporting/Cleanup] Remove LevelLogger class"
Reporting uses a server-side logger utility that comes with an old implementation going back to the "old" Kibana platform. While updating the Reporting code for the Kibana Platform of today, we kept the original logger utility, to reduce the amount of code change needed to upgrade the code. The internal implementation of the logger utility was changed to send log messages to the Logger provided by

[2022-02-08 19:54] elasticmachine commented on #125011
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-08 20:00] rashmivkulkarni opened #125013 "Do not allow the Import button to be enabled if there is no valid file to be imported."
**Kibana version:** 8.0 BC1 cloud deployment.

Description:

We need to do proper validation while importing a Saved Objects file.
- The import button should be disabled if there is no valid file to be imported.
- A User friendly error message should be sent to the end user, if the import fails.
- Console errors seen as show in the screenshot.

<img width="1545" alt="Screen Shot 2022-02-08 at 10 5

[2022-02-08 20:00] elasticmachine commented on #125013
Pinging @elastic/kibana-core (Team:Core)

[2022-02-08 20:10] formgeist commented on #123186
@dannycroft I think it makes sense to add the exception type column as we do on the main Errors table in the Errors view. I think we exempted in the first place for space-saving reasons.

So taking what's here

<img width="742" alt="CleanShot 2022-02-08 at 20 32 21@2x" src="https://user-images.githubusercontent.com/4104278/153062900-6c7c8998-b6e3-4902-8e1c-9d6fb3e5bfed.png">

and adding it to the

[2022-02-08 20:15] #124939 closed

[2022-02-08 20:18] brianseeders commented on #124990
/skip

[2022-02-08 20:18] jportner opened #125015 "Minimal access to prevent enumerating objects"
Reference: https://discuss.elastic.co/t/kibana-anonymous-access-how-do-you-prevent-listing-all-dashboards/296214/3

When an operator sets up Anonymous Access with minimal privileges to see dashboards, for example, it would be nice to be able to share public URLs without giving anonymous users the ability to enumerate _all other dashboards_ on the system.

This isn't currently possible today. Grant

[2022-02-08 20:18] elasticmachine commented on #125015
Pinging @elastic/kibana-security (Team:Security)

[2022-02-08 20:19] kibanamachine commented on #124990
Skipped

main: 1f3b7f405e7a8bd2c30c1a6e02d03f540b10f088

[2022-02-08 20:29] mostlyjason commented on #74353
@dikshachauhan-qasource can you test whether the text "This integration is installed, but no assets are available in this space" is showing up correctly? I tried this with 8.1 snapshot and it said "No assets found".

[2022-02-08 20:35] clement-fouque commented on #95161
We have another a use case for Vulnerability Management where we want to notify the different teams. We would need to have aggregations to notify based on the severity.

The moustache template allows us to access document through `context.hits`. We would be interested to be able to use aggregations in the _Actions_ section.

[2022-02-08 20:36] TinaHeiligers commented on #125013
The import flyout component initially has `file` as `undefined` in [state](https://github.com/elastic/kibana/blob/main/src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx#L107) and the file [import method](https://github.com/elastic/kibana/blob/main/src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx#L146

[2022-02-08 20:36] legrego commented on #125015
@jportner do you see this as a separate feature to OLS / "private objects"?

[2022-02-08 20:43] kibanamachine commented on #124986
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/9671#31c9352f-af8d-4999-bf7d-b3854e96b14d)

[2022-02-08 20:46] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9669#ee2800e5-b43e-4139-bda2-689e5b53607a)

[2022-02-08 20:50] rashmivkulkarni commented on #125013
[export.txt](https://github.com/elastic/kibana/files/8027385/export.txt)

[2022-02-08 20:52] KOTungseth commented on #124748
@liza @cjcenizal I can update the docs, but what is the updated request?

[2022-02-08 20:57] jportner commented on #125015
I think there is some overlap here but there are some separate concerns.

For example, if I open a Google Doc and get a "Public" link for that document, I understand that the user can only see that document with that link.

From an authorization standpoint, this feels like almost the _inverse_ of "private objects". As in, the anonymous user should by default have access to _zero_ objects in Kibana

[2022-02-08 21:12] liza-mae commented on #124748
@KOTungseth I believe we need to fix the response and remove the footnote.  See below on my thoughts.

Update the yellow circle contents with:
[code]

Remove the red circle, as it is not applicable anymore.

![Screenshot from 2022-02-08 14-07-45](https://user-images.githubusercontent.com/23424008/153076336-1b3e0f76-08d2-4d4b-af30-74abc582db13.png)

[2022-02-08 21:32] yctercero commented on #124742
@jethr0null what I was leaning towards is Option 3 proposed by @peluja1012 .

For a bit more context. The _current_ import behavior in the Security Solution is that meta fields such as `created_by`, `created_at`, `updated_by`, `updated_at` are only ever set by the system. This means that we do not trust the client side to tell us the "who" and "when" of object creation/update. A user can trust tha

[2022-02-08 21:37] #124910 closed

[2022-02-08 21:41] #122899 closed

[2022-02-08 21:53] jen-huang commented on #124004
@juliaElastic Yeah, let's backport those fixes.

[2022-02-08 21:55] jen-huang commented on #124873
cc @mostlyjason for roadmap prioritization

[2022-02-08 22:01] jen-huang commented on #124905
@andrewkroh The change here is pretty simple. How far back should we backport?

[2022-02-08 22:51] matschaffer commented on #121705
Guessing some of https://github.com/elastic/observability-dev/tree/main/docs/monitoring (internal) can probably move into the kibana repo as well as part of this effort.

[2022-02-08 22:57] kibanamachine opened #125033 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml·ts - detection engine api security and spaces enabled Generating signals from ml anomalies should create 1 alert from ML rule when record meets anomaly_threshold"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9679#636ceef4-609b-4cc3-9b05-14f3344349a5)

[2022-02-08 22:58] tsullivan commented on #123187
Closed in https://github.com/elastic/kibana/pull/123412

[2022-02-08 22:58] #123187 closed

[2022-02-08 23:42] neptunian opened #125035 "[Stack Monitoring] Alerts not working with metricbeat in 8.0"
Testing in cloud, metricbeat is now being used to send logs/metrics.  The alerts queries need to be updated to use the `metricset.name` field in the query used by metricbeat and currently only [uses the legacy `type`](https://github.com/elastic/kibana/blob/8.0/x-pack/plugins/monitoring/server/lib/alerts/fetch_cpu_usage_node_stats.ts#L53) so no results will be returned.

[2022-02-08 23:43] elasticmachine commented on #125035
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-08 23:51] andrewkroh commented on #124905
ECS 1.12 was the first release that contained `message` mapped as `match_only_text`. And ECS 1.12 was used in 7.16. So would backport this into 7.17 and 8.0.

[2022-02-09 00:39] #124170 closed

[2022-02-09 01:06] dominiqueclarke commented on #124522
Fixed by https://github.com/elastic/beats/pull/30187/files

[2022-02-09 01:06] #124522 closed

[2022-02-09 01:42] kibanamachine commented on #124986
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9690#7a6c5b79-7601-4826-8edc-5697bca1c132)

[2022-02-09 01:46] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9691#5d5cb07b-09fe-4333-8d76-f7edb5b986af)

[2022-02-09 02:10] andrewvc opened #125038 "[Uptime] Non-admin alert connectors are broken"
With an oblt cluster, using the `obs_admin` user I can't create / pick alert connectors even though I should be able to. That section of the UI is simply missing. I suspect there's some privilege missing.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/131427/153108494-2d011bbe-ad8a-4f97-875a-f4c62df530ca.png">

[2022-02-09 02:10] elasticmachine commented on #125038
Pinging @elastic/uptime (Team:uptime)

[2022-02-09 02:38] brianseeders commented on #124747
/skip

[2022-02-09 02:39] kibanamachine commented on #124747
Skipped

8.0: 8c822e7b298dff905ab53d8fef074d7dbee5f0dd
7.17: cd2f32d462db300c75a66c2a075519ba721caabc

[2022-02-09 02:41] elasticmachine commented on #125033
Pinging @elastic/ml-ui (:ml)

[2022-02-09 02:42] elasticmachine commented on #124986
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-09 02:46] mistic commented on #124986
Skipped

main: [0a8dde3](https://github.com/elastic/kibana/commit/0a8dde3d4341c81f9a15b77aeb914ab8dc5221ce)
8.1: [81427d9](https://github.com/elastic/kibana/commit/81427d938680f21e9f788e42a66d141a036df8d4)
8.0: [a4cf285](https://github.com/elastic/kibana/commit/a4cf285a0d45d4422fa790c14c597a8dd2852b86)

[2022-02-09 02:49] kibanamachine commented on #124747
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/9692#66635872-2765-43b7-94ba-9f47ba7a196f)

[2022-02-09 04:00] karanbirsingh-qasource commented on #124940
yes Glo this behavior is expected and we have mentioned same in the ticket, however if the user is not aware of this change or general experience enhancement of application  we are suggesting for adding some information of threat intel card like `Please make the Fillebeat index as the default ThreatIndex to view legacy threat intel data` as an enhancement for Cloud Upgrade worklofw.

[2022-02-09 04:42] amolnater-qasource opened #125039 "[Fleet]: `Settings` breadcrumb gets removed on clicking `Edit hosts` under fleet Settings."
**Kibana version:**  8.0.0 BC-1 Kibana could-staging environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 BC-1 Kibana could-staging environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Settings tab.
3. Observe `Settings` breadcrumb is available.
4. Click `Edit Hosts` under Host URL a

[2022-02-09 04:42] elasticmachine commented on #125039
Pinging @elastic/fleet (Team:Fleet)

[2022-02-09 04:42] amolnater-qasource commented on #125039
@manishgupta-qasource Please review.

[2022-02-09 07:20] karanbirsingh-qasource commented on #120712
hi @MadameSheema

we have validated this issue on 8.0 GA and found this to be fixed on it 🟢 . Prebuilt security detection rules integration is present on the kibana.

**Build Details:**
[code]

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/153140973-5651347b-5b8e-4ac5-88e1-a01fde9ee27a.png)

Hence we are closing this issue.

thanks !!

[2022-02-09 07:20] #120712 closed

[2022-02-09 07:36] mateskoo commented on #124024
Hi all,

I was trying to raise the http.max_content_length to 500mb. Also I've been playing with the timeouts in kibana conf. Unfortunatelly, the problem still persists, so it didn't have a big effect.

I also checked the logs, which took some time to analyze and when I enabled the debug option in Kibana I've seen this:
[code]

[code]

There are no errors in the logs after the job fails. Also, I'v

[2022-02-09 07:52] miltonhultgren opened #125042 "[Stack Monitoring] Migrate all APIs to use async search"
Similar to #124520 and #86441, we should look over which APIs in Stack Monitoring are not using async search and make plans for how to migrate those in order to support "Make it slow".

[2022-02-09 07:52] elasticmachine commented on #125042
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-09 08:05] MadameSheema commented on #124327
@karanverma-qasource can you please validate the following issue on latest 8.0.0-SNAPSHOT?? Meaning performing the upgrade path from 7.17-SNAPSHOT to 8.0.0-SNAPSHOT, thanks!! :)

[2022-02-09 08:18] amolnater-qasource commented on #74353
Hi @mostlyjason
We have revalidated this upon  8.0 Snapshot and 8.0 BC-1.
- We are also getting `No Assets found` text on other spaces.

**Screenshots:**
![9](https://user-images.githubusercontent.com/77374876/153153470-7d36889d-2b3c-4227-bf3b-ddc6ff9c6eed.JPG)
![10](https://user-images.githubusercontent.com/77374876/153153477-f92b68c3-8475-4580-aa2a-11f83d529a1e.JPG)

**8.0 Snapshot Build details

[2022-02-09 08:45] #123591 closed

[2022-02-09 08:53] juliaElastic commented on #125039
this one looks similar: https://github.com/elastic/kibana/issues/124928

[2022-02-09 09:24] #122756 closed

[2022-02-09 09:29] janmonschke commented on #122323
There's a [PR to bump EUI to 47.0](https://github.com/elastic/kibana/pull/125023) now. After that is merged to `main`, I'll see if that fixed this isse.

[2022-02-09 10:07] manishgupta-qasource commented on #125039
Reviewed & mention to @kpollich

[2022-02-09 10:29] karanverma-qasource opened #125050 "[Security Solution] Alerts that are generated from .siem-signals* index are displaying under other rules."
**Describe the bug:**
 Alerts that are generated from .siem-signals* index are displaying under other rules.

**Build Details:**
[code]
**Preconditions**

1. Elasticsearch should be up and running on 7.17.0 Snapshot.
2. Kibana should be up and running on 7.17.0 Snapshot.
3. Alerts should be present with default index rule.

**Steps to reproduce:**

1. Navigate to Stack management -->> Kibana->> In

[2022-02-09 10:29] elasticmachine commented on #125050
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-09 10:31] karanverma-qasource commented on #124327
Hi @MadameSheema

We have validated this issue on **8.0.0 SNAPSHOT** and observed that issue is fixed on 8.0.0-SNAPSHOT. 🟢

Please find below testing details:

**Build Details:**

[code]
**Screen cast:**

**7.17.0-SNAPSHOT**

https://user-images.githubusercontent.com/61860752/153162929-873d38f0-e595-4360-8eb3-244582a292f3.mp4

***8.0.0-SNAPSHOT**

https://user-images.githubusercontent.com/61860752

[2022-02-09 10:33] bhavyarm commented on #122759
yes thanks @debadair @gchaps

[2022-02-09 10:33] #122759 closed

[2022-02-09 10:38] amolnater-qasource opened #125052 "[Fleet]: On `Integrations>Upgrade Integration>Cancel integration upgrade` user is navigated to Agent Policies."
**Kibana version:**  8.0.0 BC-1 Kibana could-staging environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 BC-1 Kibana could-staging environment should be available.
2. Windows `v0.8.0` should be added to a policy.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations>Windows integration>Policies.
3. Click `Upg

[2022-02-09 10:38] elasticmachine commented on #125052
Pinging @elastic/fleet (Team:Fleet)

[2022-02-09 10:39] amolnater-qasource commented on #125052
@manishgupta-qasource Please review.

[2022-02-09 10:42] MadameSheema commented on #124327
Lots of thanks team!! reopening because we still need to validate this on 8.1.0 when the fix is available (just to don't forget about it :) )

[2022-02-09 10:42] #122391 closed

[2022-02-09 10:45] joshdover commented on #124785
@dikshachauhan-qasource Are you still able to reproduce this? Could you provide more detailed steps if so? I wonder if this was a temporary issue in Cloud staging.

[2022-02-09 10:46] jloleysens opened #125056 "[Reporting] When capturing screenshots only set viewport size for print-layout reports"
When taking a screenshot in Chromium we `setViewport` just before we get to the step of taking the screenshots. This can lead to a race condition with browser reflows (mitigated in this PR https://github.com/elastic/kibana/pull/123820).

We can mitigate this further by only calling for viewport resizing when it is actually necessary: PDF print-optimised reports. In this type of report we need to s

[2022-02-09 10:46] elasticmachine commented on #125056
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-02-09 10:46] elasticmachine commented on #125056
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-09 10:46] jloleysens commented on #125056
CC @tsullivan

[2022-02-09 10:59] bhavyarm opened #125057 "Graph description in listing table still says index instead of data view"
**Kibana version:** 8.0.0  BC1

**Elasticsearch version:** 8.0.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Found while testing this PR - https://github.com/elastic/kibana/pull/110403

I still see "index" in the listing tab

[2022-02-09 11:00] elasticmachine commented on #125057
Pinging @elastic/datavis (Team:DataVis)

[2022-02-09 11:00] elasticmachine commented on #125057
Pinging @elastic/kibana-graph (Feature:Graph)

[2022-02-09 11:00] elasticmachine commented on #125057
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-09 11:00] shahzad31 commented on #116983
turns out we can only pass number to the EUI component we are using, so `2+` `>2` won't work, though it's only type enforced, i am moving this to 8.2 , might need to push change to the EUI to do it properly.

[2022-02-09 11:06] manishgupta-qasource commented on #125052
Reviewed & mention to @kpollich

[2022-02-09 11:09] elasticmachine commented on #125057
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-09 11:09] stratoula commented on #125057
This doesn't seem wrong to me but I will let the @elastic/kibana-data-discovery team to decide :)

[2022-02-09 11:14] bhavyarm commented on #125057
@stratoula right.  The screenshot in the PR says data view.  Just want to be sure.
<img width="1792" alt="Screen Shot 2022-02-09 at 6 14 00 AM" src="https://user-images.githubusercontent.com/7074629/153187809-61c32296-ba60-46a5-aa7d-22778f08a438.png">

[2022-02-09 11:20] stratoula commented on #125057
@bhavyarm got it. We have changed the description of this sample graph, so if you install it from scratch you will see dataview

Here is a screenshot from my localhost
![image](https://user-images.githubusercontent.com/17003240/153189644-69b28555-d04c-4a1c-90ef-d1e25e3c73e4.png)

Maybe your sample data are old? This change affects the new "installations" of demo data.

[2022-02-09 11:21] bhavyarm opened #125058 "Maps layer should say Data view management privilege instead of index pattern management privilege for the user without access"
**Kibana version:** 8.0.0 BC1

**Elasticsearch version:** 8.0.0 BC1

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** Maps layer displays "Unable to create index. You are missing Kibana privilege index pattern management" for user with

[2022-02-09 11:21] elasticmachine commented on #125058
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-09 11:24] bhavyarm commented on #125057
@stratoula right. That graph was migrated from 7.17. This is on 8.0.0 - closing the bug *High five* Thanks!
<img width="1792" alt="Screen Shot 2022-02-09 at 6 23 40 AM" src="https://user-images.githubusercontent.com/7074629/153190442-34e62e93-3571-400c-b927-23a07e08d1b4.png">

[2022-02-09 11:24] #125057 closed

[2022-02-09 11:29] estermv commented on #124370
@danielkhan @formgeist I updated the description with the design you provided and the decisions taken, I hope I didn't miss anything!

The only pending decision is around the recovered alerts and how/where include them, is that correct?

[2022-02-09 11:32] MadameSheema opened #125059 "[Security Solution] Not able to create an EQL rule due to validation error"
**Describe the bug:**
- Not able to create an EQL rule due to validation error

**Kibana/Elasticsearch Stack version:**
- 7.17 latest branch (45be56082f7338428b62ebd1c67b222f470be0ce)
- 7.17.1 latest snapshot

**Steps to reproduce:**
1. Navigate to the rules page
2. Click on `create new rule`
2. Select `Event Correlation type`
3. Enter a valid EQL query

**Current behavior:**
- A validation error

[2022-02-09 11:32] elasticmachine commented on #125059
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-09 11:51] samratbhadra-qasource opened #125062 "[Fleet]: Modified fleet server integration name is not retained for `Elastic Cloud agent policy`."
**Describe the bug:**
Modified fleet server integration name is not retained for `Elastic Cloud agent policy`.

**Build Details:**
VERSION: 8.0.0-BC1
BUILD: 49192
COMMIT: 57ca5e139a33dd2eed927ce98d8231a1f217cd15
ARTIFACT LINK: https://staging.elastic.co/8.0.0-da04e908/summary-8.0.0.html

**Preconditions:**
Elastic 8.0.0-BC1 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to th

[2022-02-09 11:51] elasticmachine commented on #125062
Pinging @elastic/fleet (Team:Fleet)

[2022-02-09 11:52] samratbhadra-qasource commented on #125062
@manishgupta-qasource Please review.

[2022-02-09 11:53] flash1293 opened #125063 "[TSVB] Multi-field group by"
The "group by" terms should allow multiple fields using multi field terms under the hood.

[2022-02-09 11:53] elasticmachine commented on #125063
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-09 11:58] Dosant commented on #124538
### Conditions

These are the simple measurements I took. Simply from my machine:

- A dashboard with 13 Lenses and a map. Some Lens panels have a follow-up request (other bucket) 1 mln records of data
- Opened two browser windows with cloud instance in us-west2 side by side. One with bfetch ON, another OFF. There is a http2 connection to cloud's proxy, so browser does all the search requests in p

[2022-02-09 12:06] #103674 closed

[2022-02-09 12:06] klacabane commented on #121258
The uptime plugin registers the locator when the [app is rendered](https://github.com/elastic/kibana/blob/main/x-pack/plugins/uptime/public/apps/render_app.tsx#L45) which is problematic if any plugins needs the locator without first visiting uptime. @justinkambic could we move the registration to the plugin's initialization instead ?

We could also update the uptime locator key to follow the namin

[2022-02-09 12:08] shahzad31 commented on #121258
@klacabane yes that makes sense, feel free to do it if you are working on a PR, otherwise we will do a follow up PR.

[2022-02-09 12:15] formgeist opened #125064 "[Unified Observability] Overview: Loading state for the Metrics panel appear without containing panel"
# Summary

The loading state for the Metrics panel appears unstyled and without a containing panel which is inconsistent with the other panels on the page.

![image](https://user-images.githubusercontent.com/4104278/153198484-432a07ad-0946-46e9-8f4f-270c294aa489.png)

Storybook example

<img width="1228" alt="CleanShot 2022-02-09 at 13 14 39@2x" src="https://user-images.githubusercontent.com/41042

[2022-02-09 12:15] elasticmachine commented on #125064
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-02-09 12:17] karanbirsingh-qasource commented on #124340
Hi @MadameSheema

we have checked this issue on `7.17.0-SNAPSHOT` to `8.0.0-SNAPSHOT` and found that it is fixed 🟢 . Building Block UX remain on the existing old alert after build after.

**Build Details:**
[code]

**Snap-Shoot:**

- **Existing Alerts**

![fix](https://user-images.githubusercontent.com/59917825/153199158-784575d4-d252-4ce6-b687-c30780be2aa5.png)

- **New Alert generated from exist

[2022-02-09 12:21] manishgupta-qasource commented on #125062
Reviewed & mention to @kpollich

[2022-02-09 12:27] dasansol92 commented on #124675
@muskangulati-qasource I've merge the pr with the fix on this issue and fixed a couple more things:

- Open creation flyout when adding artifacts from policy view:
![open creation flyout from policy view](https://user-images.githubusercontent.com/15727784/152981243-59fcf85f-4519-4539-a1a6-d616356a4aad.gif)

- Adds back button when clicking on view full details from policy view:
![adds back button

[2022-02-09 12:37] kibanamachine opened #125066 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/permissions/full_transform_access·ts - transform permissions for user with full transform access with data loaded should display controls in the edit flyout correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9735#be33adf0-d14b-4cfa-b329-07e6945737a7)

[2022-02-09 12:43] klacabane commented on #121258
@shahzad31 I'll take this up as part of this PR

[2022-02-09 12:45] flash1293 opened #125067 "[Lens] use yNice option for xy chart"
the xy chart should use the yNice option for all y axes to improve tick placement.

when implementing, it has to be made sure there aren’t any cases where this is rendering in unexpected ways:
* bytes based formatters
* 0 decimals number formatter

[2022-02-09 12:45] elasticmachine commented on #125067
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-09 13:00] dannycroft commented on #122430
@graphaelli yeah, I would say so. I'd already marked it as `done`. I guess we could add some automation for that.

cc:// @formgeist @chrisdistasio

[2022-02-09 13:00] #122430 closed

[2022-02-09 13:00] juliaElastic commented on #123819
EditPackagePolicyPage could use a splitting too, it is more than 800 lines.
It has many smaller components in the same file like 4 Breadcrumb components, UpgradeStatusCallout.
Also it has some duplicated functionality from CreatePackagePolicyPage.

[2022-02-09 13:03] kibanamachine commented on #122461
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/9735#0cd65913-7cd0-4396-a931-c9a87366f114)

[2022-02-09 13:08] MadameSheema commented on #125050
@karanbirsingh-qasource can you please try to reproduce this without creating the .siem-signals index pattern? Also, I'm curious about why you were intentionally creating it. Thanks :)

[2022-02-09 13:09] nickpeihl opened #125072 "[Maps] Multiple requests for tile manifest limits zoom to 10"
**Kibana version:**
8.1

**Original install method (e.g. download page, yum, from source, etc.):**
cloud

**Describe the bug:**
Maps submits concurrently four requests for the EMS tile manifest, at least one of which is missing the `license` parameter. As a result, the manifest only returns tiles up to zoom level 10.

**Steps to reproduce:**
1. Open Network tab in Developer tools
2. Open an existi

[2022-02-09 13:10] elasticmachine commented on #125072
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-09 13:11] peteharverson commented on #83267
Note https://github.com/elastic/kibana/issues/123459 has been created to track UI support for the various 'Group by' and 'Aggregations' options for Pivot transforms. Changing title of this issue to focus on possible improvements for the control used to select the aggregation.

[2022-02-09 13:15] legrego commented on #125015
Makes sense, thanks for explaining 👍. I agree there are some interesting challenges to solve here, especially around API access

[2022-02-09 13:30] kibanamachine commented on #118288
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/9738#a1b650f1-a4ee-41c5-92c9-de9b6b531ebf)

[2022-02-09 13:44] elasticmachine commented on #124749
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-09 13:45] #122778 closed

[2022-02-09 13:46] graphaelli commented on #122430
Thanks.

I didn't realize the current automation only [goes the other way](https://github.com/orgs/elastic/projects/629/workflows/697).

[2022-02-09 13:49] elasticmachine commented on #125004
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-02-09 13:51] elasticmachine commented on #124795
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-09 13:56] joshdover commented on #122015
+1 on this, let's get this assigned to someone on the Fleet team to make this change.

[2022-02-09 13:59] juliaElastic commented on #124004
@nchaulet I went through this bug again to verify (see steps in description) and found that the fix for missing package_policies in preconfig is not entirely solved, only works for managed policies.

I found that your fix added a condition for `is_managed` here: https://github.com/nchaulet/kibana/blob/bcd9488c3fc836a46cb8c1712e857c19dafbb65f/x-pack/plugins/fleet/server/services/preconfiguration.ts

[2022-02-09 14:00] formgeist commented on #121744
@smith Just FYI, this issue is involving the status visualization (the content for the APM check) - not the APM panel content in the Overview page 👍

[2022-02-09 14:10] nickofthyme commented on #97101
Issue is open in charts https://github.com/elastic/elastic-charts/issues/1140, awaiting priority.

[2022-02-09 14:15] stacey-gammon opened #125079 "Detect when there is not enough memory to run api docs"
We should check to ensure there is enough memory when someone attempts to run the `node scripts/build_api_docs` without enough memory and provide a helpful error message. Generally you'll need to pass in `export NODE_OPTIONS="--max_old_space_size=8000"` to get it to work.

[2022-02-09 14:16] MadameSheema commented on #125050
@karanverma-qasource can you please give more detailed information about how to reproduce the issue? I tried creating the .siem-signals index pattern and without creating it and I was not able to reproduce it. Thanks :)

[2022-02-09 14:16] formgeist commented on #124370
@estermv Thanks for summarizing!

I got the impression that we want to include recovered alerts in the histogram and table because they also tell a story of the health of the system. So the alerts histogram chart will show all alerts during the selected time range and include recovered alerts in the table content (basically "Show all" if you look at the current Alerts table).

@danielkhan do you c

[2022-02-09 14:18] yuliacech opened #125080 "[Search Profiler] `api/searchprofiler/profile` request fails"
**Kibana version:**
Main branch 7c7d1cf5272cc86e1dec3c553e6b30b76f6217ac
**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant

[2022-02-09 14:18] hop-dev commented on #122015
@joshdover I'll take this one

[2022-02-09 14:18] elasticmachine commented on #125080
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-09 14:27] mostlyjason commented on #74353
@amolnater-qasource thanks, can you file a bug issue?

[2022-02-09 14:34] kpollich commented on #125005
Closing in favor of https://github.com/elastic/kibana/issues/74614

[2022-02-09 14:34] #125005 closed

[2022-02-09 14:41] jsanz commented on #125072
I could reproduce after removing the default basemap and add it again. Following issue instructions I could see four requests for the manifest, only the first one having the `license` parameter.

[2022-02-09 14:52] lizozom opened #125084 "Clearing APM query sometimes doesn't work"
**Kibana version:**
7.17 (cloud)

**Steps to reproduce:**
1. Load the APM UI with a kuery in the URL (for [example](https://overview.elastic-cloud.com/app/apm/services/kibana/transactions/view?kuery=service.node.name%20:%2206e7839566684b7034c15326f1dadb02f7bf32518cf88027c519d3711952cb9d%22&rangeFrom=now-1h&rangeTo=now&environment=ENVIRONMENT_ALL&transactionName=POST%20%2Finternal%2Fbsearch&transac

[2022-02-09 14:52] elasticmachine commented on #125084
Pinging @elastic/apm-ui (Team:apm)

[2022-02-09 15:03] sebastian3456 opened #125087 "[Alerting] Duplicated alerting messages after importing saved objects"
**Kibana version: 7.16.3**

**Elasticsearch version: 7.16.3**

**Original install method (e.g. download page, yum, from source, etc.): Docker, RPM**

**Describe the bug:** We are using the Saved Objects import/export feature for keeping the Kibana Alerts in our production and testing environments in sync.

Since we are using the feature our production system sends multiple messages to our connecto

[2022-02-09 15:05] thomasneirynck commented on #125072
thanks all for confirming. I'm seeing the same behavior.

From the top of my head, this is the only one I can think of from the Maps-side that could have caused this https://github.com/elastic/kibana/pull/104422

It did merge 4 weeks ago, so it's possible that something else caused it in between.

I'm wondering if something is going wrong here:
https://github.com/elastic/kibana/blob/14d6f7c871542e

[2022-02-09 15:10] stacey-gammon opened #125089 "Improve UX around data views finding data in remote CCS clusters"
I ran into what I thought was a bug because I didn't realize the `:` is essential. It's not obvious that if there is data in `log:*` (looking for all indices in a remote cluster named `log`), there might not be in `log*` (looking for local indices named `log*`)

I'm not sure I have any great ideas about improving this but it seems like something someone could easily trip up on.

Perhaps in the lis

[2022-02-09 15:10] elasticmachine commented on #125089
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-09 15:13] juliaElastic commented on #125062
@kpollich yes, your summary is correct

[2022-02-09 15:21] LeeDr opened #125093 "negative values appearing for stack_stats.kibana.plugins.search.averageDuration"
**Kibana version:** 7.12.0 - 7.17.0

**Elasticsearch version:** 7.12.0 - 7.16.3

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** n/a

**Describe the bug:** Our telemetry data shows some instances of negative values for `stack_stats.kibana.plugins.search.averageDuration`.

When I look at one

[2022-02-09 15:21] elasticmachine commented on #125093
Pinging @elastic/kibana-core (Team:Core)

[2022-02-09 15:28] #123045 closed

[2022-02-09 15:32] #124666 closed

[2022-02-09 15:37] walterra opened #125095 "[ML] Increase Test Coverage 8.2.0"
Follow up to #117501.

Meta issue to summarize improvements to test coverage for `8.2.0`.

## API integration tests

- [x] trained model creation, sync and initialisation (JG)
      https://github.com/elastic/kibana/pull/130115
- [x] POST /api/ml/data_frame/analytics/jobs_exist (PH)
       https://github.com/elastic/kibana/pull/126914
- [x] GET /api/ml/data_frame/analytics/new_job_caps/:indexPatte

[2022-02-09 15:38] elasticmachine commented on #125095
Pinging @elastic/ml-ui (:ml)

[2022-02-09 15:39] shahzad31 commented on #125038
[code]

This is a feature, not a  bug, user can add alerts but not have access to connectors.

[2022-02-09 15:39] #125038 closed

[2022-02-09 15:50] ryankeairns commented on #113050
[Wireframes](https://whimsical.com/space-selector-near-term-wireframes-version-4-RbjDAiTJLc2mkLwYioYmaT) based on latest review feedback.

Putting this project back on shelf until re-prioritized; likely after the user entity project makes progress as the use of user profiles would benefit this experience.

[2022-02-09 15:51] #122560 closed

[2022-02-09 15:54] elasticmachine commented on #125093
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-09 15:56] joshdover opened #125097 "[Fleet] Prevent registry network errors during Fleet setup's bulk install operation from failing the installation of bundled packages"
Content written by @kpollich in #74614, copying here:

Currently, if the EPR is inaccessible, Fleet Setup will succeed with a non-fatal error and will _not_ install a package even if it's bundled. e.g.

![image](https://user-images.githubusercontent.com/6766512/153060218-c2ca3c8e-f083-41e2-91fa-cf3878cc8a17.png)

This should be a relatively quick fix to catch this error and allow bundled install t

[2022-02-09 15:57] elasticmachine commented on #125097
Pinging @elastic/fleet (Feature:EPM)

[2022-02-09 15:57] elasticmachine commented on #125097
Pinging @elastic/fleet (Team:Fleet)

[2022-02-09 15:57] ecezalp commented on #124940
as Glo mentioned this is expected behavior, so I am removing the bug label. Will pass this to @shimonmodi & @paulewing to see if there are any desired product improvements here, but we have extensively discussed this subject before and previously the sentiment was that it's OK to have this breaking change as is.

[2022-02-09 16:03] joshdover commented on #125062
+1 on closing, this appears to be desired behavior.

I'd prefer to do this but I think it would be considered a breaking change and it could be impactful since we just introduced the `id` field recently IIRC. @juliaElastic could you open a separate issue for that case to discuss?

[2022-02-09 16:03] #125062 closed

[2022-02-09 16:06] michaelolo24 commented on #121287
@paulewing can we integrate these changes into the design work being done here: https://github.com/elastic/security-team/issues/713 ?

[2022-02-09 16:12] juliaElastic opened #125105 "Preconfigured package policies update behavior of policies without id"
Currently preconfiguration logic checks if package policy exists based on id or name match.
There is a use case when preconfigured package policy doesn't have an id, and the created package policy is renamed: the comparison logic doesn't find the policy, so it is recreated and overwrites the renamed policy.

1. We preconfigure an agent policy w/ a name and ID
2. That agent policy includes package

[2022-02-09 16:13] juliaElastic commented on #125062
@joshdover raised https://github.com/elastic/kibana/issues/125105

[2022-02-09 16:15] michaelolo24 commented on #124713
I added https://github.com/elastic/kibana/issues/121499 to the description as well

[2022-02-09 16:17] #112126 closed

[2022-02-09 16:22] bhavyarm opened #125106 "Clicking on clear selections on empty controls makes the dashboard go into unsaved state"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** os x

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  if user clicks on **clear selection** on controls without selecting anything - dashboard becomes unsaved.
Please note you ca

[2022-02-09 16:22] elasticmachine commented on #125106
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-09 16:23] michaelolo24 commented on #124813
So essentially, for legacy alerts generated prior to 8.0, we can only access the object structure via `signal.alert.threshold_result.terms` because the only thing that's converted to kibana.alert is `kibana.alert.threshold_result.terms.field`. Like you said only the leaf nodes of legacy alerts are aliased, not the whole object. So would it be safe in 8.0+ per @janmonschke earlier comment to just a

[2022-02-09 16:24] ogupte commented on #125084
It might be that the conversion of an empty string to a KQL query doesn't return a result (https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx#L138) and so it returns before [updating the URL](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx#L147).

[2022-02-09 16:28] ThomThomson commented on #125106
Ah, this is probably a difference between an empty array and `undefined`. Should be an easy fix!

[2022-02-09 16:32] #106586 closed

[2022-02-09 16:36] michaelolo24 commented on #124813
Linking this issue as well: https://github.com/elastic/kibana/issues/124817

[2022-02-09 16:40] banderror commented on #124918
Synced with @vitaliidm on the current behavior of the bulk actions endpoint.

So if the user tries to edit (add, remove, overwrite) index patterns of a set of rules, and there are one of a few ML rules among them, the endpoint will _silently skip_ applying this modification to the ML rules. However, in the endpoint response, these ML rules will be represented as successfully updated, which is not

[2022-02-09 16:46] janmonschke commented on #124813
Going forward we can fix this in two bugfix PRs. One for `8.0.1` and one for `8.1` :)

Those PRs will change the enrichment logic to read from `kibana.alert.threshold_result.terms.field` and `kibana.alert.threshold_result.terms.value`.

One thing I am still unsure about is that the previous logic expected an array for the `terms` field. Are arrays still supported? E.g. could `kibana.alert.threshol

[2022-02-09 16:50] threatangler-jp commented on #91424
We are seeing this same behavior in v7.16.0. Should it have been resolved in this version?

[2022-02-09 16:54] alvarezmelissa87 commented on #84427
Gave this a test with latest master and can no longer reproduce. Closing this as it is no longer an issue.

[2022-02-09 16:54] #84427 closed

[2022-02-09 16:55] afharo commented on #125093
Untagging the Core team since the collector is created by the AppServices team :)

[2022-02-09 17:02] elasticmachine commented on #125087
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-09 17:05] stephmilovic commented on #122009
It is a bug. We needed to pass an override boolean so that if the data view "title" already exists, overwrite it with `security-solution-default` id

[2022-02-09 17:10] marshallmain commented on #124813
Unfortunately accessing the leaf fields directly through the `kibana.alert` names is risky in this case because we need to correlate each field with its value. The fields and values would be returned as separate arrays rather than an array of objects like `terms` was. Since the `fields` [param](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-fields.html#search-fields-respons