[2022-04-13 15:26] elasticmachine commented on #130147
Pinging @elastic/kibana-core (Team:Core)

[2022-04-13 15:30] afharo opened #130148 "[FullStory] `org_id` / `esOrgId` is actually the `cloudId`"
In the current implementation of FullStory, we are sending the Cloud ID as the `org_id`.

According to @linyaru Org ID and Cloud ID are 2 different things and we should actually call it `cloudId`.

@lizozom is it OK to rename the field? Are there any backwards compatible requirements?

[2022-04-13 15:31] ph commented on #129851
@belimawr If I follow your code in the last paragraph nothing is required for the elastic agent it should be part of the author of the integration (or template) to ensure that the id used is unique enough or you are expecting that agent to automatically create it.

[2022-04-13 15:34] #125692 closed

[2022-04-13 15:38] #117492 closed

[2022-04-13 15:41] thompsongl commented on #130133
Yep, it looks like the global search bar plugin is not wrapped with the `KibanaThemeProvider`. I'll open a PR.

[2022-04-13 15:52] codearos opened #130153 "[Session View] Details Panel size issue"
**Kibana version:**
8.2

**Describe the bug**

- The panel width changes randomly when switching tabs
- The width of the panel cannot be reduced

https://user-images.githubusercontent.com/66887860/163219938-54b175af-52f6-4c11-9d0d-1e46a9ea31ac.mov

**Expected behavior**
The panel width should be preserved when switching tabs.

[2022-04-13 15:57] qcorporation commented on #130144
@codearos this seems related to https://github.com/elastic/kibana/issues/130060 have you tested sessions that have less than 1000 alerts?

[2022-04-13 16:00] hop-dev commented on #118479
@joshdover I'm not sure how to proceed here. I've run a couple of flaky test runner jobs for this test and they passed fine:

- [50 runs ](https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/435#6ed7ffbe-9475-4f33-8390-cf11d27a5fcf)
- [75 runs](https://buildkite.com/elastic/kibana-flaky-test-suite-runner/builds/442)

I've been trying to find where the error came from, it looks like

[2022-04-13 16:05] VijayDoshi commented on #127884
1. Agree with copying 500 (displayed pages).
2. Agree that all types should be copyable and that JSON format for fields that contain objects is appropriate.
3. Exporting as raw data is fine, I suspect we'll get "bugs" though on format is not as expected. Down the road this may need to be an option but not an immediate priority.
4. ++ to new line separated. However; we should be aware of new lines

[2022-04-13 16:17] criamico commented on #129863
I confirm that I was able to reproduce locally the bug following the provided instructions.

[2022-04-13 16:21] criamico commented on #130087
Yes this callout is meant to confirm how many agents were enrolled in the last 10 minutes, not how many agents there are globally.I don't think that this is a bug per se but it could be confusing for the user.

[2022-04-13 16:22] criamico commented on #130116
yes confirmed, the component is only fetching the agents enrolled in the last 10 minutes.

[2022-04-13 16:24] codearos opened #130155 "[Session View] UI fixies (QA design #3)"
### Toobar
- [x] Big spacing between `FInd` `Verbose mode `and `Details panel btn`. Correct `padding: 8px`
- [x] Toolbar has a `background-color: white.` Correct value:`$euiFormBackgroundDisabledColor`.

### Details Panel
- [x] Alert name overlaps with controls. Long alert name should be truncated. [➡️ Figma file](https://www.figma.com/file/3v90FFYIKKZ7aIPxj2fxiH/%5B8.2%5D-%5BSession-viewer%5D-Ses

[2022-04-13 16:28] JiaweiWu opened #130157 "[RAM] Make tags icon in rules list shareable"
We would like to make the tags icon in the rules list shareable as initial steps to make the entire rule list shareable

![image](https://user-images.githubusercontent.com/74562234/163226683-c77bc758-8e4a-4dc2-8b42-cc3202be1954.png)

parent issue: https://github.com/elastic/kibana/issues/129932

relates to: https://github.com/elastic/kibana/issues/127702

[2022-04-13 16:28] elasticmachine commented on #130157
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-13 16:31] JiaweiWu opened #130158 "[RAM] Add tag filter to rules list and make it shareable"
Implement a tag filter for the rule list and expose it to other plugins.

![image](https://user-images.githubusercontent.com/74562234/163227458-4a89d1d1-1180-44ea-8c88-645e97a59bce.png)

parent issue: https://github.com/elastic/kibana/issues/129932

relates to: https://github.com/elastic/kibana/issues/127013

[2022-04-13 16:31] elasticmachine commented on #130158
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-13 16:35] JiaweiWu opened #130160 "[RAM] Add status filter to rules list and make it shareable"
Implement a status filter for the rule list and expose it to other plugins.

![image](https://user-images.githubusercontent.com/74562234/163228021-54f31e82-eebb-4be8-abc7-4ef37dfd7447.png)

parent issue: https://github.com/elastic/kibana/issues/129932

relates to: https://github.com/elastic/kibana/issues/127015

[2022-04-13 16:39] belimawr commented on #129851
Yes, both approaches (doing it on the integration or the agent) solve the problem, however how can we ensure **all** integrations using filestream input are setting unique-and-stable IDs? That's where solving it on agent side has got an advantage.

However I agree it's a ugly solution having the agent fiddling the policy/template.

[2022-04-13 16:39] belimawr commented on #129851
Yes, both approaches (doing it on the integration or the agent) solve the problem, however how can we ensure **all** integrations using filestream input are setting unique-and-stable IDs? That's where solving it on agent side has got an advantage.

However I agree it's a ugly solution having the agent fiddling the policy/template.

[2022-04-13 16:50] kobelb commented on #112354
Do we really want to be automatically resolving all alerts when an alerting rule is deleted? I could see some users wanting to delete the alerts entirely, or manually resolve them.

[2022-04-13 16:54] #129865 closed

[2022-04-13 16:54] #129996 closed

[2022-04-13 17:09] opauloh opened #130165 "[Session View] Cache on the client side prevents querying for new events of Sessions in progress"
**Kibana version:**
8.2

**Describe the bug**

- Currently, `react-query` is caching all the session view data on the client-side, but if a user is attempting to check new events in a session that wasn't finished yet, the only way to see new events is by refreshing the page.

https://user-images.githubusercontent.com/19270322/163233076-26001074-8e01-43ef-b559-6145bae44175.mp4

**Expected behavior*

[2022-04-13 17:24] jen-huang commented on #129662
Oof, thanks for confirming, I'll update the details here.

[2022-04-13 17:24] yiyangliu9286 commented on #128740
Hi @banderror, thanks for providing the screenshot for UIs and interactions. This looks great.
There's only a small design fix that I'd suggest if we could update the default text in the search bar under "Apply Timeline template to selected rules" to be overflow "..." instead texts being cut off, that would be great.
<img width="1792" alt="Screen Shot 2022-04-12 at 3 49 27 PM" src="https://user-im

[2022-04-13 17:29] stratoula commented on #66752
Hey! We are currently working on improving the search and filter experience in kibana. We will take this request under consideration!

[2022-04-13 17:29] jasonrhodes commented on #128627
To move this into a "closer to ready" state, an initial proposal might be to allow for a "Health" or "Alerts" option in the existing "Metrics" dropdown for the inventory. That option would show the existing inventory but sorted by "number of active alerts per node". This would require a 2 step strategy like the one I described in my previous comment.

@katefarrar @katrin-freihofner @mlunadia what

[2022-04-13 17:29] ravikesarwani commented on #130128
Not something we have discussed and planned so far but feels like something important that we should think about.
I do feel that it will have to be something driven from the platform/cloud team perspective as that can only know when a plan change started/completed. The Kibana/alerting framework should provide some API way that the cloud team can use to enable and disable the rules.

[2022-04-13 17:34] nchaulet commented on #130061
@ph Effectively beats and endpoint should probably behave the same, but I am wondering if we should allow 0.0.0.0 as a valid logstash host?

[2022-04-13 17:35] qcorporation commented on #130144
closing as duplicate

[2022-04-13 17:35] #130144 closed

[2022-04-13 17:39] mattkime commented on #126911
@angorayc

Is this another case where you want to use lens?

[2022-04-13 17:43] bhavyarm commented on #100461
Reporting gailure on 1 GB kibana. Adding the screenshot here for recording -
<img width="1792" alt="Screen Shot 2022-04-13 at 1 13 46 PM" src="https://user-images.githubusercontent.com/7074629/163239215-d4a639b5-699e-4655-b499-6f77d7db84f8.png">

[2022-04-13 17:44] smith commented on #127125
Duplicate of #126279.

[2022-04-13 17:44] #127125 closed

[2022-04-13 17:47] michaelolo24 opened #130168 "[Session View] - Update hard coded index pattern"
Kibana version:
8.2

Describe the bug:

1. Currently in session view the index pattern is hard coded https://github.com/elastic/kibana/blob/981c51b6b0fcb9b4ac83ec238719e27527ddec39/x-pack/plugins/session_view/server/routes/process_events_route.ts#L46 to https://github.com/elastic/kibana/blob/981c51b6b0fcb9b4ac83ec238719e27527ddec39/x-pack/plugins/session_view/common/constants.ts#L12

- This poses

[2022-04-13 17:52] #130096 closed

[2022-04-13 17:58] philippkahr commented on #130128
I think there are a few edge cases that also need to be taken care off. Like `missing monitoring data for node`, if I do a downsizing deployment, or an instance gets replaced and thus gets a new name, the old node will not send any more data, thus the `missing monitoring data for node` will be triggered.

[2022-04-13 18:00] banderror commented on #129294
@deepikakeshav-qasource @MadameSheema so the backport to `8.2` has been merged, but I guess it won't be available in BC3. Could you please verify the fix in the `8.2` branch?

[2022-04-13 18:18] kibanamachine commented on #129337
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14862#629f6378-5352-4f48-beae-6cf4d5b989e4)

[2022-04-13 18:31] kibanamachine commented on #129467
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14865#7abb5632-9652-4ffb-ab74-06cb43876d0c)

[2022-04-13 18:32] miltonhultgren commented on #130029
@klacabane That sounds like what the Metricbeat docs describe, to always produce an event but if something went wrong produce an error event instead to be ingested.

[2022-04-13 18:32] kibanamachine opened #130177 "Failing test: Jest Tests.src/plugins/charts/public/services/active_cursor - useActiveCursor should trigger cursor pointer update (chart type: datatable - time based, event type: time)"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14867#8b784838-1d9c-4519-b3d6-5b10a2ce02cc)

[2022-04-13 18:32] bndabbs opened #130178 "Documentation is incorrect for fleet/settings API"
**Kibana version:** 8.1

**Elasticsearch version:** 8.1

**Server OS version:** Docker

**Browser version:** Safari 15.4

**Browser OS version:** macOS Monterey

**Original install method (e.g. download page, yum, from source, etc.):** Docker

**Describe the bug:**
The [API documentation](https://raw.githubusercontent.com/elastic/kibana/8.1/x-pack/plugins/fleet/common/openapi/bundled.json) for Fle

[2022-04-13 18:32] elasticmachine commented on #130177
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-13 18:34] miltonhultgren commented on #130128
How does the future Health/Topology APIs play into this? Has there been any thought for how Cloud might "tell" those APIs "I'm changing things under you, chill out for a bit"?

[2022-04-13 18:36] ph commented on #130061
I've missed the different behavior from endpoint and us, the difference hides in the library we are using. I am ok to reject the `0.0.0.0` as the destination.

[2022-04-13 18:38] andrew-goldstein commented on #109794
Thanks for providing the sample alerts @muskangulati-qasource!

@paulewing , @michaelolo24 I'm going to re-tag this issue as an enhancement, because the sample alerts have field values that don't match the existing criteria for displaying Endpoint row renderers, as documented in the two PRs below:

- https://github.com/elastic/kibana/pull/89810
- https://github.com/elastic/kibana/pull/91446

## Ne

[2022-04-13 18:47] katefarrar commented on #128627
I tend to think it's not worth it. The current waffle map is limited in only showing one metric at a time and [we are exploring](https://github.com/elastic/observability-design/issues/188) ways to improve the experience by showing more than one metric and/or showing a health status or alerts alongside a metric. I would recommend waiting until we have a clearer picture of what the next iteration of

[2022-04-13 18:51] cmacknz commented on #129851
Yes the ideal solution solves this in every case (fleet and standalone), with or without autodiscover involved.

We have the problem that we need stable and unique IDs for filestream to function as desired, but we have no way have generating IDs automatically and remembering them. Right now we want the user to do this, but they often don't and forcing them to do it by refusing to start or apply ch

[2022-04-13 19:07] jportner commented on #108928
We are well past the 7.17 release and we never prioritized plans to add in-Kibana warnings of this nature in the near future. I'll close this issue.

[2022-04-13 19:07] #108928 closed

[2022-04-13 19:17] dominiqueclarke commented on #93705
Reopening because this test is still skipped.

[2022-04-13 19:18] jen-huang commented on #130087
Closing as this is expected behavior.

[2022-04-13 19:18] jen-huang commented on #130116
Closing as this is expected.

[2022-04-13 19:18] #130116 closed

[2022-04-13 19:19] #128534 closed

[2022-04-13 19:21] jen-huang commented on #130088
Closing as won't fix. Once a step is done, the UX changes to a "completed" checkmark.

[2022-04-13 19:21] #130088 closed

[2022-04-13 19:24] jen-huang commented on #75868
@mikagika The concept of reusable integration policies is tracked in #75867.

[2022-04-13 19:24] jen-huang commented on #130101
@criamico Can you confirm the behavior of this button?

[2022-04-13 19:35] mikagika commented on #75868
Ah, good to know!

[2022-04-13 19:41] jamster10 opened #130186 "[Security Solution] IP Overview query is unbounded, causing a long load time with large dataset"
**Describe the bug:**
On the network details page (IP Overview) the current query implementation is not time bounded, forcing the query to look through all available data. This is problematic as the larger the dataset, the longer the query will take, and is unnecessary as some of the query fields can be time bounded- we can return results piecemeal.

Further research has uncovered that this issue

[2022-04-13 19:41] elasticmachine commented on #130186
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-13 19:55] spalger commented on #130177
Jest tests really shouldn't be flaky, and this has failed 5 PRs this week:

<img width="3353" alt="image" src="https://user-images.githubusercontent.com/1329312/163259495-df5597d5-385c-43de-8efd-3cca32722b35.png">

Skipped:
8.3/main: https://github.com/elastic/kibana/commit/de25fb028012f527e188ce39b411eb1a53290522

[2022-04-13 19:56] spalger commented on #129467
Skipped

main/8.3: https://github.com/elastic/kibana/commit/774f4a0f18c30cc3c37a93864ad898c008a58510

[2022-04-13 20:05] ph commented on #129851
Could we express the id as a mathematic function and generate the id based on that? We might be able to create a definition that would be stable based on the input data. This would work well on dynamic provider. Something like _i(x)_ where x is the input definition.

i(x) = container.id + p(x.paths) + d(x.data_stream.type, x.data_stream.type, x.data_stream.namespace) + other_settings(x.other_thing

[2022-04-13 20:10] dominiqueclarke commented on #127543
LGTM in cloud on 8.2.0-SNAPSHOT.

Snapshot is reporting 10 down monitors, and 10 down monitors appear in overview.
<img width="1494" alt="Screen Shot 2022-04-13 at 4 10 02 PM" src="https://user-images.githubusercontent.com/11356435/163262161-90dac5a8-09d3-46fa-a894-b256fd02c894.png">
<img width="1514" alt="Screen Shot 2022-04-13 at 4 09 55 PM" src="https://user-images.githubusercontent.com/1135643

[2022-04-13 20:26] kibanamachine opened #130190 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_index_pattern_filter·ts - management data view filter should filter indexed fields"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14876#09be9c7a-b611-4835-af69-5ca8e1c6b5ff)

[2022-04-13 20:33] #130168 closed

[2022-04-13 20:41] #129535 closed

[2022-04-13 21:02] #130081 closed

[2022-04-13 21:02] bhavyarm commented on #129948
@mattkime fixed in BC3. Closing this bug. Thanks!

[2022-04-13 21:14] ghudgins opened #130197 "[Lens] Legend size controls break when layout is "inside" the visualization"
**Kibana version:** 8.3 unreleased (main)

**Elasticsearch version:** 8.3 unreleased

**Server OS version:** OSX

**Browser version:** Chromium Edge

**Browser OS version:** OSX

**Original install method (e.g. download page, yum, from source, etc.):** from source

**Describe the bug:** Setting a legend to X-large, having a large breakdown value, and specifying "inside" for the visualization resul

[2022-04-13 21:15] elasticmachine commented on #130197
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-13 21:18] kibanamachine commented on #129337
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14878#53fe6773-8742-4def-bb68-e329c57abbf5)

[2022-04-13 21:37] nreese opened #130199 "[maps] vector tile load errors not displayed in legend"
Steps to view problem
1) Running locally, Install sample web logs
2) install trial license
3) create map
4) add clusters layer
5) select 'hexagons'
6) save map
7) revert to trial license
8) open map.

Notice how not data is loaded and legend shows empty icon instead of error

Opening the browser web tools, there are 2 problems.
1)The tiles are returned with 200 status code. The kibana vector tile

[2022-04-13 21:37] elasticmachine commented on #130199
Pinging @elastic/kibana-gis (Team:Geo)

[2022-04-13 21:45] jen-huang opened #130201 "[Fleet] k8 instructions is lost after agent flyout redesign"
K8 instructions were added in: https://github.com/elastic/kibana/pull/127703

Flyout redesign was done in: https://github.com/elastic/kibana/pull/128381

After the redesign got merged, the K8 instructions including section for downloading the manifest is completely lost:

![image](https://user-images.githubusercontent.com/1965714/163275369-cb62de76-dee1-4057-b79d-bba31ac57e59.png)

[2022-04-13 21:45] elasticmachine commented on #130201
Pinging @elastic/fleet (Team:Fleet)

[2022-04-13 23:07] lukeelmers commented on #123666
I think it is the opposite: we wait for the cluster to be green _unless_ it is a multi-node environment, in which case we wait to perform the readiness check (and native realm setup) until the last node has been started.

I don't think there would be any consequences to making that change. Wouldn't the end result be the same? If there's a single node, it will be `false`. If there are multiple, it

[2022-04-14 00:47] elasticmachine commented on #129337
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 00:48] spalger commented on #129337
/skip

[2022-04-14 00:48] brianseeders commented on #129337
/skip

[2022-04-14 00:48] kibanamachine commented on #129337
Skipped

main: cfae0832767062471ec86351586bdaf9844c47c7
8.2: 04db9287bf3ce112b658c52de8567ea47f290f45

[2022-04-14 00:48] kibanamachine commented on #129337
Skipped

main: 1dfce2a03f4870421886b976bcaee10d35a74566
8.2: f8a62886417bc8d4f1e9f8fc1c515f6defe300ae

[2022-04-14 01:01] liza-mae commented on #128103
**Version: 8.2.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae commented on #102008
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae commented on #105355
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae commented on #105356
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae commented on #98419
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae commented on #105357
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae commented on #98420
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:01] liza-mae opened #130208 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_policies·ts - apis management index lifecycle management snapshot policies returns empty array if no policies"
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_policies·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis management index lifecycle management snapshot policies returns policies

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae opened #130209 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_repositories·ts - apis management index lifecycle management snapshot repositories returns repositories"
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/management/index_lifecycle_management/snapshot_repositories·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae commented on #124599
**Version: 8.2.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get one monitor should get by id

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3

[2022-04-14 01:02] liza-mae commented on #126369
**Version: 8.2.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae commented on #120392
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae commented on #129802
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/ml_anomaly·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae commented on #124602
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dev_tools/breadcrumbs·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae commented on #126367
**Version: 8.2.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/editing·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3131/testReport/_

[2022-04-14 01:02] liza-mae opened #130210 "[test-failed]: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts - APM API tests trial apm_mappings_only_8.0.0 fetching service anomalies with a trial license with ml jobs "before all" hook for "checks if alert is active""
**Version: 8.2.0**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**
- APM API tests trial apm_mappings_only_8.0.0 fetching service anomalies with a trial license with ml jobs "before all" hook for "returns a 200 for a user _with_ access to ML"
- APM API tests trial apm_mappings_only_8.0.0 Sorted and filtere

[2022-04-14 01:03] elasticmachine commented on #130210
Pinging @elastic/apm-ui (Team:apm)

[2022-04-14 01:04] elasticmachine commented on #130208
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-14 01:10] liza-mae commented on #128103
**Version: 8.1.3**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:10] liza-mae commented on #98419
**Version: 8.1.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:10] liza-mae commented on #98420
**Version: 8.1.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:10] liza-mae commented on #124599
**Version: 8.1.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get many monitors with page params
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get on

[2022-04-14 01:10] liza-mae commented on #124601
**Version: 8.1.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/add_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:10] liza-mae commented on #124603
**Version: 8.1.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/edit_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [PUT] /internal/uptime/service/monitors returns bad request if payload is invalid for HTTP monitor
- apis uptime uptime REST endpoints uptime CRUD routes [PUT] /internal/uptim

[2022-04-14 01:10] liza-mae commented on #124604
**Version: 8.1.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:10] liza-mae opened #130211 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_shared_links·ts - discover app shared links shared links with state in query permalink should allow for copying the snapshot URL as a short URL"
**Version: 8.1.3**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_shared_links·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover app shared links shared links with state in sessionStorage should allow for copying the snapshot URL as a short URL and should open it

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2022-04-14 01:10] liza-mae opened #130212 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·js - management creating and deleting default index data view creation with exclusion"
**Version: 8.1.3**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:11] elasticmachine commented on #130211
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-14 01:11] liza-mae commented on #120392
**Version: 8.1.3**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:11] liza-mae commented on #124602
**Version: 8.1.3**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dev_tools/breadcrumbs·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:11] liza-mae commented on #126367
**Version: 8.1.3**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/editing·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:11] liza-mae commented on #125276
**Version: 8.1.3**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:13] liza-mae commented on #120392
**Version: 7.17.3**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3123/testReport/_

[2022-04-14 01:13] liza-mae commented on #124444
**Version: 7.17.3**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2022-04-14 01:13] liza-mae commented on #102008
**Version: 7.17.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3123/testReport/_

[2022-04-14 01:13] liza-mae commented on #105355
**Version: 7.17.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3123/testReport/_

[2022-04-14 01:13] liza-mae commented on #105356
**Version: 7.17.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3123/testReport/_

[2022-04-14 01:13] liza-mae commented on #98419
**Version: 7.17.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3123/testReport/_

[2022-04-14 01:13] liza-mae commented on #105357
**Version: 7.17.3**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3123/testReport/_

[2022-04-14 01:26] liza-mae commented on #126369
**Version: 8.1.3**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3128/testReport/_

[2022-04-14 01:26] liza-mae commented on #130212
Test was renamed, closing in favor of https://github.com/elastic/kibana/issues/126369

[2022-04-14 01:26] #130212 closed

[2022-04-14 01:34] alex-fedotyev commented on #128628
`What is the approach that we will follow for defining a time range for this POC?`

Could you please looks into what is feasible if we design storage exploration to link the index lifecycle defined on the cluster?

<img width="1765" alt="image" src="https://user-images.githubusercontent.com/61838744/163296194-427b78cb-8b45-415a-a2bd-b84ea72f6cd9.png">

For example:

- Default configuration is typi

[2022-04-14 01:38] alex-fedotyev commented on #128628
`Does sampling refer to the sample rate defined in agent config settings?`

I suggest we calculate the "real sampling rate" as it could vary based on the settings on the upstream services or affected by logic of tail-based sampling if enabled.

In that case sampling rate would be calculated using a formula like following:
rate = sum(# of transaction documents) / sum (total throughput of the servic

[2022-04-14 01:41] alex-fedotyev commented on #128628
`Do Calls refer to the number of spans that have this service as a destination?`

My original thoughts were that it would be useful to show it next to the sampling rates, so user would understand how many transactions each service processed totally and then based on sampling rate understand how much space was taken by errors, spans, metrics and transaction documents.

Let's remove that column for

[2022-04-14 01:42] matschaffer commented on #127219
@weltenwort do we have this info somewhere?

Guessing that shouldn't go into the kibana repo, but maybe something in an internal repo or google doc?

The above categorization looks sound to me and reflects a number of the issues I ran into last week as well.

[2022-04-14 01:44] alex-fedotyev commented on #128628
`Do Transactions refer to the number of transactions (e.g. when there are transactions metrics, it is the sum of _doc_count`

IMO, this should refer to just transaction documents and not metrics.
This way users would see the impact in the number of transactions collected based on their sampling configuration, and also could take an action by changing sampling to lower the size if needed.

[2022-04-14 02:03] bvader commented on #126741
Just a bit another couple data points.

Self Managed 8.1.2 : Version Odd at initial Startup
<img width="454" alt="Screen Shot 2022-04-13 at 5 00 18 PM" src="https://user-images.githubusercontent.com/15572155/163299292-0b9af908-c791-461b-b943-ef0a74eb656b.png">

Elastic Cloud 8.1.2 : Version OK at initial Startup / Configuration
<img width="441" alt="Screen Shot 2022-04-13 at 5 00 25 PM" src="https

[2022-04-14 04:13] #125843 closed

[2022-04-14 04:35] matschaffer commented on #126741
I seem to recall @gigerdo (or maybe @s-nel ) mentioning there are a few internal monitoring documents that show up before metricbeat data starts flowing. Wonder if that's what got the correct version on the first pass.

[2022-04-14 04:37] matschaffer commented on #130128
If the alert API has a mute option, I'm thinking it might make sense for the orchestrator to call it before operations start. We could potentially tag the rules with metadata about which ones are expected to get noisy during certain workflows (like upgrading).

[2022-04-14 04:39] s-nel commented on #126741
Yes immediately after enabling logs & metrics delivery internal collection will be on, then as the rolling restart plan change progresses each node disables internal collection and enables Metricbeat collection after restart.

[2022-04-14 04:41] matschaffer commented on #125686
I'm going to take a cue from "This is somewhat of a placeholder issue to start with. " and use this issue as an epic to flip to GA, with a sub-issue to figure out what's up with that `graph` reference.

[2022-04-14 04:42] matschaffer opened #130217 "[Stack Monitoring] undefined 'graph' reference in logstash pipeline UI"
The original issue can be seen here: https://github.com/elastic/kibana/issues/85057

The error that appears is the following:

[code]

And there is a hacky workaround that works temporarily, by running:

[code]

AC:
- Guard against the bug (ideally via reproduction)
- Merge https://github.com/elastic/kibana/pull/131752 and https://github.com/elastic/logstash/pull/14082 once this is fixed

[2022-04-14 04:45] matschaffer opened #130218 "[Stack Monitoring] Remove "beta" markers from logstash pipeline UI"
AC: Logstash pipeline UI no longer contains any reference to being beta

[2022-04-14 04:45] matschaffer opened #130219 "[Stack Monitoring] Remove "beta" markers from logstash pipeline monitoring docs"
AC: Logstash monitoring docs no longer contain any "beta" markers

[2022-04-14 04:47] matschaffer commented on #125686
Done. I've added 3 sub issues to the description. If anyone knows of other bugs that need resolution before we can remove the "beta" markers, please add them to the description.

[2022-04-14 05:00] dimitrius0901 opened #130220 "Fleet-server does not pick up policy"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

This will replace your current settings. Do you want to continue? [Y/n]:Y
{"log.level":"info","@timestamp":"2022-04-14T04:07:42.540Z","log.origin":{"file.name":"cmd/enroll_cmd.go","file.line":572},"message":"Spawning Elastic Agent daemon as a subprocess to complete bootstrap process.","ecs.version":"1.6.0"}
{"log.level":"info"

[2022-04-14 05:00] elasticmachine commented on #130220
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-14 05:09] matschaffer commented on #126741
Gotcha, thanks @s-nel.

Internal collection gets it right so looks like this is probably a beats bug.

![Screen Shot 2022-04-14 at 14 08 40](https://user-images.githubusercontent.com/690/163317656-65e423e9-8a4f-4d43-b73b-96d91a0b9036.png)

I'll leave this issue here though since it's sort of the main repo for our team, and there might be some interplay with how kibana is querying.

[2022-04-14 05:10] #130220 closed

[2022-04-14 05:12] matschaffer opened #130221 "[Stack Monitoring] Update monitoring template indices docs"
The docs at https://www.elastic.co/guide/en/elasticsearch/reference/current/config-monitoring-indices.html only apply to internal collection and make no mention of the data streams introduced for metricbeat monitoring in 8.0.

We should add some mention about that.

Note that until https://github.com/elastic/elasticsearch/issues/84149 is resolved we can't provide any customization of the embedded

[2022-04-14 05:33] deepikakeshav-qasource commented on #129191
Hi Team,

We have validated this issue on **8.2.0 BC3** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163320041-fa662037-e46a-45fa-87ce-2397552c5463.mp4

Hence, We are closing this is issue and marking as QA Validated

Thanks!!

[2022-04-14 05:34] #129191 closed

[2022-04-14 05:46] deepikakeshav-qasource commented on #129158
Hi Team,

We have validated this issue on **8.2.0 BC3** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163321516-77706749-df54-400f-abde-0c1e506bed43.mp4

Hence, We are closing this is issue and marking as QA Validated

Thanks!!

[2022-04-14 05:46] #129158 closed

[2022-04-14 05:52] deepikakeshav-qasource commented on #125190
Hi Team,

We have validated this issue on **8.2.0 BC3** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163322274-2154baae-bbaf-4b49-a33f-40afe59eed74.mp4

Hence, We are closing this is issue and marking as QA Validated

Thanks!!

[2022-04-14 05:52] #125190 closed

[2022-04-14 05:59] deepikakeshav-qasource commented on #123193
Hi Team,

We have validated this issue on **8.2.0 BC3** and observed that issue is **Still Occurring**  🔴

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163322963-d3884da5-bb27-43bd-a245-886283702b29.mp4

Thanks!!

[2022-04-14 06:12] muskangulati-qasource commented on #128597
Hi @angorayc,

Thank you for looking into our issue. We tested this issue on the 8.2.0 BC3 build and found the issue is now **fixed**. All the cards are consistent now and only show the count for the respective cards in lens visualization.

- Hosts 🟢

https://user-images.githubusercontent.com/60252716/160377456-0891e039-3e78-4c24-a443-1712c3aaca31.mp4

- Authentication Failure 🟢

https://user-imag

[2022-04-14 06:12] #128597 closed

[2022-04-14 06:14] amolnater-qasource commented on #130116
Hi @criamico
Thanks for sharing the expected time interval, we will be creating our testcases on the basis of this information.

FYI @joshdover
Thanks

[2022-04-14 06:14] amolnater-qasource commented on #130087
Hi @criamico
Thanks for the confirmation, we have revalidated this by installing two agents simultaneously with one policy on 8.2 BC-3 Kibana cloud environment.
- We observed that after getting count for 1 Agent, the count didn't get refresh itself for Agent 2.

For more clarity we have recorded our observations below:

https://user-images.githubusercontent.com/77374876/163321802-fa3628a7-6784-4cc

[2022-04-14 06:36] karanbirsingh-qasource commented on #129728
Hi @machadoum

we have validated this issue on `8.2.0 BC2` and PR fix is not available on the Build ❌

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast:**

![image](https://user-images.githubusercontent.com/59917825/163327628-b05adee9-c036-43e9-a679-a423bbb188aa.png)

c.c @MadameSheema

[2022-04-14 06:42] MadameSheema commented on #129728
@machadoum can you please check if the fix was properly backported?? Thanks :)

[2022-04-14 06:53] glucaci commented on #129845
We have also the same problem by seeing `unknown` on the Overview page and I tried to set the `event.dataset` on the fleet ingestion pipeline and the result is the follow: (I've removed the unimportant fields)
[code]
with this document the overview page is still displaying `unknown` for Logs.

[2022-04-14 06:56] karanbirsingh-qasource commented on #129285
Hi @banderror

we have validated this issue on 8.2.0 BC2 and issue is fixed now ✔️ but we can see name of **timestamp** column is changed now so it that change planed ? @MadameSheema

![image](https://user-images.githubusercontent.com/59917825/163328595-b68a9246-4d65-45ee-b1f6-e611b88f7340.png)

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast:**

- Creating new rule / Preview  ✔️

https://user

[2022-04-14 06:56] #129285 closed

[2022-04-14 07:00] samratbhadra-qasource opened #130222 "[Fleet]: Old Add agent layout retains on clicking Add Agent button."
**Describe the bug:**
Old Add agent layout retains on clicking Add Agent button.

**Build Details:**
VERSION: 8.2.0-BC3
COMMIT: 2ea6dc82752506d6f7aa34bda747f99c6fbfd152
BUILD: 51885
ARTIFACT LINK: https://staging.elastic.co/8.2.0-0295c2db/summary-8.2.0.html

**Preconditions:**
1. Elastic 8.2.0-BC3 environment should be deployed.

**Steps to Reproduce:**
1. Login to Kibana environment.
2. Navigate

[2022-04-14 07:00] elasticmachine commented on #130222
Pinging @elastic/fleet (Team:Fleet)

[2022-04-14 07:00] deepikakeshav-qasource commented on #129717
Hi Team,

We have validated this issue on **8.2.0 BC3** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]

**Role**
![image](https://user-images.githubusercontent.com/61860752/163330564-98a2784a-704f-4a29-914b-ef25b345042d.png)

**Screencast**

https://user-images.githubusercontent.com/61860752/163330624-2a51f1b7-d209-498d-b1d0-898f1f80bbfc.

[2022-04-14 07:00] #129717 closed

[2022-04-14 07:04] deepikakeshav-qasource commented on #129321
Hi Team,

We have validated this issue on **8.2.0 BC3** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screenshot**

![image](https://user-images.githubusercontent.com/61860752/163331765-98374174-adb0-4b80-a8e2-ff2f40ed38f7.png)

Hence, We are closing this is issue and marking as QA Validated

Thanks!!

[2022-04-14 07:04] #129321 closed

[2022-04-14 07:11] karanbirsingh-qasource commented on #127010
Hi @janmonschke

we have validated this issue on 8.2.0 BC3 and found that issue is fixed ✔️  as now no hover action are present for Agent.Status.

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast:**

- **_Alert Flyout_**

https://user-images.githubusercontent.com/59917825/163332159-19af308d-5cf0-4f9a-ad97-48823ccca26f.mp4

- **_Host Details Page_**

https://user-images.githubusercontent.com/599

[2022-04-14 07:11] #127010 closed

[2022-04-14 07:15] MadameSheema commented on #123193
@janmonschke can you please take a look at the above when you have the chance?

[2022-04-14 07:16] karanbirsingh-qasource commented on #115706
Hi @michaelolo24

we have validated this issue on 8.2.0 BC3 and found that issue is fixed now ✔️

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast:**

![image](https://user-images.githubusercontent.com/59917825/163333331-2369f8fc-87f2-4ec7-a014-46e533fea000.png)

![image](https://user-images.githubusercontent.com/59917825/163333753-9deaab2b-6690-4e44-82e7-91e8324ae016.png)

Hence we are closing

[2022-04-14 07:16] #115706 closed

[2022-04-14 07:21] ChrsMark commented on #129851
Can someone answer the question of which component is generating the ID in the current implementation?

[2022-04-14 07:35] pgayvallet commented on #130118
This is coming from the SO migrator. Like here:

https://github.com/elastic/kibana/blob/f7163878c0f291ab11d2b3daa7ec9df19786198d/src/core/server/saved_objects/migrations/migrations_state_action_machine.ts#L66-L73

we're using the unfiltered and whole action result as the log's meta

cc @rudolf I guess we will have to do some filtering somehow?

[2022-04-14 07:40] vipulsrivastava-qasource commented on #129442
Hi @marshallmain

We have validated this issue on **v8.2.0-BC3** build and found that issue is **fixed**. Preview Results shown in the graph format.

Please find below build and testing details.

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/69579402/163332620-06e1d9ab-1a44-48ed-ba15-781fdde60cf3.mp4

Hence, we are closing this issue.

Thanks!!.

[2022-04-14 07:40] #129442 closed

[2022-04-14 07:41] vipulsrivastava-qasource commented on #129707
Hi @marshallmain

We have validated this issue on **v8.2.0-BC3** build and found that issue is **fixed**. Pagination and Page Navigation options show under Timeline option bar on Full Screen option for Preview Results of New Rule.

Please find below build and testing details.

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/69579402/163333898-bce4dbf1-932

[2022-04-14 07:41] #129707 closed

[2022-04-14 07:57] #124814 closed

[2022-04-14 07:58] deepikakeshav-qasource commented on #129294
Hi Team,

We have validated this issue on **8.2.0 Branch** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163340274-ae23cf2b-10d2-410e-b635-84c11c9108b7.mp4

Hence, We are closing this is issue and marking as QA Validated

Thanks!!

[2022-04-14 08:03] deepikakeshav-qasource commented on #121984
Hi Team,

We have validated this issue on **8.2.0 Branch** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screenshot**

![image](https://user-images.githubusercontent.com/61860752/163341414-40e3b0b7-566f-4753-b606-827a76ae48ea.png)

Hence, We are closing this is issue and marking as QA Validated

Thanks!!

[2022-04-14 08:03] #121984 closed

[2022-04-14 08:03] machadoum commented on #129728
The user's risk tab isn't part of the 8.2 release. The feature flag is disabled to all users while the feature is under development. I changed the tags to reflect that. It means this fix will go live for the 8.3 release.
<img width="579" alt="Screenshot 2022-04-14 at 09 58 36" src="https://user-images.githubusercontent.com/1490444/163341103-a100ec40-fca9-4b51-9aef-29f7d74b1a8b.png">

[2022-04-14 08:09] manishgupta-qasource commented on #130222
Secondary review for this ticket is Done

[2022-04-14 08:12] #128478 closed

[2022-04-14 08:18] Radiergummi opened #130226 "Kibana fails to load in Safari: Definition of plugin "runtimeFields" not found and may have failed to load."
**Kibana version:**
`8.1.2`

**Elasticsearch version:**
Version: `8.1.2`
Build: `default/deb/31df9689e80bad366ac20176aa7f2371ea5eb4c1/2022-03-29T21:18:59.991429448Z`
JVM: `17.0.2`

**Server OS version:**
`Linux 5.4.0-107-generic #121-Ubuntu SMP Thu Mar 24 16:04:27 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

**Browser version:**
Safari Version `15.4 (17613.1.17.1.13)`

**Browser OS version:**
MacOS `

[2022-04-14 08:19] stratoula commented on #130197
This happens on 8.2 btw too. @markov00 I assume that this is something that needs to be fixed by your end, right?

[2022-04-14 08:22] #126664 closed

[2022-04-14 08:23] criamico commented on #130101
Currently this is a link button that takes the user to the list of agents and there's no filtering applied on it.
I looked in the design document and the other tickets and there is no detail about that specific button. There was some discussion about adding the filtering on the button in the "incoming data" component but because of time constraints it had to be cut. I think that we can have an enh

[2022-04-14 08:31] gmmorris commented on #119226
I think this got forgotten and should have been added to the R&AM project board for triage.
If I read this correctly - we want to extend the `find` api to support aggs.

cc @XavierM

[2022-04-14 08:37] samratbhadra-qasource commented on #127452
Hi @michaelolo24,
We have revalidated this issue on the latest **8.2.0-BC3** build and observed that the issue is **fixed** now. Please find below the testing details:

- The cross icon (x) is removed from the stack by count and trend fields under Alerts tab.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/163345133-15bf6926-d4a9-4622-8428-68a85fb5acd0.mp4

**Build Detai

[2022-04-14 08:37] #127452 closed

[2022-04-14 08:38] gsoldevila commented on #123666
Oh you're right! I misinterpreted the logic 🤦🏼. My proposal wouldn't have any effect at all, as it would only apply for  `nodes.length > 1`.

What that means though, is that the `_waitForClusterReady` is not working well enough for the use case, or perhaps even the concept of "ready" itself is not clear. A cluster is ready when ...

* A) the health endpoint returns !== "red"?
* B) the logs report

[2022-04-14 08:40] cnasikas opened #130227 "[Cases] Paginate user actions"
Every user action in Cases is recorded to an immutable appended list. This enables the ability of traceability and non-repudiation of users. Currently, all user actions are being fetched and shown to the UI. This could lead to performance issues if user actions grow significantly when for example multiple alerts will be attached to a case either dynamically (with the use of the case action) or man

[2022-04-14 08:40] elasticmachine commented on #130227
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-04-14 08:40] elasticmachine commented on #130227
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 08:41] vipulsrivastava-qasource commented on #129320
Hi @joshdover

We have validated this issue on v8.2.0-BC3 build and found that issue is **again reproducible inconsistently**.

Please find below build and testing details.

**Build Details:**
[code]

**Screenshot**

![No_logs](https://user-images.githubusercontent.com/69579402/163341563-93695571-ccb8-4b4c-9c90-aca5d7c24a4c.png)

**Logs:**

[logs.zip](https://github.com/elastic/kibana/files/848767

[2022-04-14 08:45] hop-dev commented on #129662
Thats right we don't clean them up currently, I meant to bring this up in 8.3 planning sorry, I think we want to fix this for 8.2 or we will be leaving a lot of mess behind. @jen-huang @joshdover I know we are quite full for 8.3 but are you happy for me (or someone) to pick this up?

[2022-04-14 08:52] Bamieh commented on #130147
Loading a browser hashing library for this is not worth it IMO. But what I feel needs addressing more is where this logic lives; I believe the ID creation belongs on the server side more than doing it ad-hoc on the browser.

If we were to add a cookie with this ID passed from the server when serving a page, where would be the best place to attach this cookie header? the service is already in core

[2022-04-14 08:56] vadimkibana commented on #114365
@1Copenut does the `aria-live` region have to be in the panel title? Or it could be in the table itself somewhere? I'm asking because it is harder to do it in the panel title, as the table embeddable does not have a way to set anything other than title in the panel currently, we would need to create an API for embeddables to be able to update the `aria-live` region.

[2022-04-14 08:58] cnasikas commented on #126161
@academo Are we done with that?

[2022-04-14 09:07] karanverma-qasource commented on #129708
Hi @machadoum,

We have validated above issue on 8.2.0 BC3 and it's working fine. 🟢

[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/163332226-9596063e-1e41-4996-9e21-7909bce9db28.png)

![image](https://user-images.githubusercontent.com/91867110/163332258-637dc38c-839e-4dec-b8ff-740c1fba5031.png)

Thanks !

[2022-04-14 09:07] #129708 closed

[2022-04-14 09:08] karanverma-qasource commented on #129031
Hi Team,

We have validated above issue on 8.2.0 BC3 and it's working fine. 🟢

[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/163333167-c773ad10-6e24-417b-8d8b-00518bd062bf.png)

Thanks !

[2022-04-14 09:08] #129031 closed

[2022-04-14 09:17] afgomez commented on #127444
@elasticmachine merge upstream

[2022-04-14 09:34] gsoldevila commented on #123666
I'm digging into (B) option, and trying to confirm if the `Cross origin http://localhost forbidden` error could be a valid explanation. I found some interesting clues:

* @pmuellr faced a similar issue within `x-pack/actions` plugin (see code [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/actions/server/builtin_action_types/lib/axios_utils_connection.test.ts#L45)).
* The issue i

[2022-04-14 09:35] angorayc commented on #126911
@mattkime Yes, Host risk score over time is an example, but we have more charts on Security Solution that consume an index that doesn't exist in Kibana data views.

[2022-04-14 09:42] belimawr commented on #129851
That's not quite possible. The ID is what allows an input to know which entries in the registry belongs to it (aka, the files offset). So adding/removing files should not affect the ID. Ideally changing "other settings" would also not affect the ID. If the ID changes, all files are going to be read from the beginning.

The current data duplication happens during the input start up when it looks th

[2022-04-14 09:47] alexwizp commented on #130177
Looks like it's related to #129087

[2022-04-14 09:55] karanverma-qasource commented on #129986
Hi @machadoum,

We have validated above issue on 8.2 branch and it's fixed. 🟢  We will validate it again when next BC is available.

**Build Details:**
[code]
**Screen records:**

https://user-images.githubusercontent.com/91867110/163359413-bfa89c6d-e41b-41b4-a7ad-d75f6f1bfc42.mp4

Thanks !

[2022-04-14 09:55] karanverma-qasource commented on #129210
Hi Team,

We have validated above issue on 8.2.0 BC3 and it's working fine. 🟢

[code]
**Screen records:**

https://user-images.githubusercontent.com/91867110/163351033-bc7bc46a-4dec-4156-9dd9-d4d22110be8d.mp4

Thanks !

[2022-04-14 09:55] #129210 closed

[2022-04-14 09:55] karanverma-qasource commented on #129037
Hi Team,

We have validated above issue on 8.2.0 BC3 and it's working fine. 🟢

[code]
**Screen records:**

https://user-images.githubusercontent.com/91867110/163352231-a07c5bd7-6001-42a4-a3ec-12b45724d9d3.mp4

https://user-images.githubusercontent.com/91867110/163352128-d5c761e7-1218-4f5d-bf4e-299649b906e8.mp4

Thanks!

[2022-04-14 09:55] #129037 closed

[2022-04-14 09:55] karanverma-qasource commented on #129025
Hi Team,

We have validated above issue on 8.2.0 BC3 and it's working fine. 🟢

[code]
**Screenshots:**

![image](https://user-images.githubusercontent.com/91867110/163352606-8141acef-20a3-4f56-9080-c40433dc9717.png)

Thanks !

[2022-04-14 09:55] #129025 closed

[2022-04-14 09:55] markov00 commented on #130197
Yes, this is on our end

[2022-04-14 09:59] deepikakeshav-qasource opened #130232 "[Security Solution] After deleted the Timeline Template, Timeline template is still displayed under rule"
**Describe the bug**
After deleted the Timeline Template, Timeline template is still displayed under rule

**Build Details:**
[code]

**preconditions**
1. Rule should be exist with any timeline template
2. Timeline templates should be exist

**Steps to Reproduce**
1. Navigate to timeline template
2. Delete the timeline template that is added in rule
3. Navigate to Rules tab
4. Open the above creat

[2022-04-14 09:59] elasticmachine commented on #130232
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-14 10:04] afgomez commented on #129845
👋! The aggregation to categorize the log entries for the overview page [lives here](https://github.com/elastic/kibana/blob/a736c44e2113715f496c186c148988372b205a44/x-pack/plugins/infra/public/utils/logs_overview_fetchers.ts#L122-L140). We split the logs by their `event.dataset` so if the field is correctly set it should all work.

@glucaci @cyrille-leclerc can you try running that aggregation in t

[2022-04-14 10:08] simitt commented on #129902
My understanding is that with `experimental` we signal that a feature might disappear again in the future, vs. `beta` signals that we aim for making it GA, but aren't quite there yet. Therefore I wouldn't see the necessity to downgrade to `experimental`.

[2022-04-14 10:12] #60559 closed

[2022-04-14 10:12] #106631 closed

[2022-04-14 10:12] #117059 closed

[2022-04-14 10:12] azasypkin commented on #129187
Hey @elastic/eui-design,

We use `EuiIcon` component (`<EuiIcon size="xl" type={provider.icon ? provider.icon : 'empty'} />`) to render icons for the configured authentication mechanisms in Kibana.

<p align="center">
  <img src="https://user-images.githubusercontent.com/1713708/163361869-dd7968b1-7006-4adc-a1d8-a1b663eed1d9.png" />
</p>

The icon itself can be configured by the administrator via

[2022-04-14 10:13] #127807 closed

[2022-04-14 10:14] jackshirazi commented on #129902
I think @eyalkoren 's concern is that we might need to move to a different mechanism that would need compatibility changes, which you would not expect with `beta` but are prepared for with `experimental`

[2022-04-14 10:17] MadameSheema commented on #130232
@deepikakeshav-qasource can you please quickly check if this behavior is present on 8.1.3??

[2022-04-14 10:20] estermv opened #130236 "[Unified Observability] Clean feature toggle for "new" overview page"
We introduced a [feature toggle](https://github.com/elastic/kibana/issues/119072) to display a new overview page that we don't need anymore.

[2022-04-14 10:20] elasticmachine commented on #130236
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-14 10:26] muskangulati-qasource commented on #129173
Hi @parkiino,

We have validated this issue on **8.2.0 BC3** and observed that issue is now **Fixed**.

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

Hence, We are closing this issue and marking it as QA Validated

https://user-images.githubusercontent.com/60252716/163367052-766ddf5d-574a-4dcd-8625-b3d2ba69edc9.mp4

cc: @kevinlog
Thanks!!

[2022-04-14 10:26] #129173 closed

[2022-04-14 10:29] muskangulati-qasource commented on #128717
Hi @dasansol92,

We have validated this issue on **8.2.0 BC3** and observed that issue is now **Fixed**.

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/60252716/163368903-2e20d203-877d-4b92-8644-929f3ff46f5e.png)

Hence, We are closing this issue and marking it as QA Validated

cc: @kevinlog
Thanks!!

[2022-04-14 10:29] #128717 closed

[2022-04-14 10:31] deepikakeshav-qasource commented on #130232
Hi @MadameSheema ,

We have validated this issue on **8.1.3** and observed that issue is **Occurring**

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163369259-c8be8766-f275-49fb-8802-9b531fd808b6.mp4

Please let us know if anything else is required from our end!!

Thanks!!

[2022-04-14 10:31] muskangulati-qasource commented on #129325
Hi @paul-tavares,

We have validated this issue on **8.2.0 BC3** and observed that issue is now **Fixed**.

Please find below the testing details:

**Build Details:**
[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/60252716/163370438-73101242-a703-404e-a86c-1c189954d5c7.png)

Hence, We are closing this issue and marking it as QA Validated

cc: @kevinlog
Thanks!!

[2022-04-14 10:31] #129325 closed

[2022-04-14 10:32] paulb-elastic commented on #128475
(Also following on from Dominique's [comment](https://github.com/elastic/kibana/issues/128475#issuecomment-1080085545) above) It would be good to understand if the getting started experience will actually create a single page _type_ of monitor, as originally described in https://github.com/elastic/uptime/issues/426 and also seen in the latest designs:

![image](https://user-images.githubuserconten

[2022-04-14 10:35] joshdover commented on #129863
My guess on this one is that the elastic_agent package wasn't installed so we're missing the mappings that would allow us to look up the data_stream.dataset field for that dropdown.

I wonder if we should always install elastic_agent whenever any agent policy with monitoring enabled is created?

[2022-04-14 10:40] muskangulati-qasource commented on #129039
Hi @paul-tavares ,

We have validated this issue on **8.2.0 BC3** and observed that issue is now **Fixed**.

Please find below the testing details:

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/60252716/163371424-cf535097-ca4b-4224-98ed-b60df58e7c52.mp4

Hence, We are closing this issue and marking it as QA Validated

cc: @kevinlog
Thanks!!

[2022-04-14 10:40] #129039 closed

[2022-04-14 10:40] MadameSheema commented on #130232
Thanks @deepikakeshav-qasource!! The fact that the timeline template name is still displayed is a known issue, my main concern is when the alert is investigated on the timeline, looks like does not default to the default timeline and not data is displayed.

Can you please check the following on 8.2 after deleting the template?
- Edit the rule to don't use any timeline template
- Investigate an ale

[2022-04-14 10:41] criamico commented on #130201
I checked out the [commit](https://github.com/elastic/kibana/commit/b1608537204d51a10e9b71457a7b33bf57039a5c) in  after the PR was merged and the step with the instructions for kubernetes wasn't there. So I guess it got lost at some point and that's why I didn't pick those changes when I rebased my PR:
![b1608537204_fleet_1](https://user-images.githubusercontent.com/16084106/163371736-08306ce3-209

[2022-04-14 10:57] ruflin opened #130238 "Field descriptions in Kibana based on integrations data"
Integration packages contain many fields for each type of data. To make it easier for the users to understand what each field is for and what kind of data is stored in this field, a description of each field is provided in a package ([AWS example](https://github.com/elastic/package-storage/blob/production/packages/aws/1.9.0/data_stream/billing/fields/fields.yml#L7)). This information is currently

[2022-04-14 10:58] ruflin commented on #130238
@flash1293 @joshdover @mattkime FYI

[2022-04-14 11:03] kfirpeled commented on #30503
+1

[2022-04-14 11:04] #127444 closed

[2022-04-14 11:05] deepikakeshav-qasource commented on #130232
Hi @MadameSheema ,

We have validated with above steps on 8.2 and observed that data is displayed with `_id ` when investigate the timeline

![image](https://user-images.githubusercontent.com/61860752/163378658-a8517cae-6b91-4321-9644-6e05eb19917d.png)

Please let us know if anything else is required from our end

Thanks you!!

[2022-04-14 11:09] gsoldevila opened #130240 "Investigate the need for 10 seconds delays after multiple saved_objects tests"
Multiple tests within the `src/core/server/saved_objects` folder have a 10 second delay at the es.stop() step, define on the`afterEach()` and `afterAll()` hooks.

<img width="597" alt="image" src="https://user-images.githubusercontent.com/25349407/163379604-1bfe315e-da19-4f1e-a6b9-dd7f80a77ce1.png">

<img width="542" alt="image" src="https://user-images.githubusercontent.com/25349407/163379739-f83

[2022-04-14 11:11] karanverma-qasource commented on #128898
Hi Team,

We have validated above issue on 8.2.0 BC3 build and it's not fixed. 🔴

[code]

**Screenshots:**
`Role assigned to the user`

![Annotation 2022-04-14 160230](https://user-images.githubusercontent.com/91867110/163369947-1a615a9b-472c-4607-90cb-43f30c85bc2f.jpg)

`Error message when importing 1 rule with action.`

![image](https://user-images.githubusercontent.com/91867110/163366993-69c2ba

[2022-04-14 11:13] elasticmachine commented on #130240
Pinging @elastic/kibana-core (Team:Core)

[2022-04-14 11:15] muskangulati-qasource opened #130241 "[Security Solution] The back navigation should be to Endpoint list if user navigated from Endpoints list"
**Description:**
The back navigation should be to Endpoint list if user navigated from Endpoints list

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints tab under Security from the left-hand side navigation.
2. Click on the policy name
3. Observe the Navigation back button

**Impacted Test c

[2022-04-14 11:15] elasticmachine commented on #130241
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-04-14 11:15] elasticmachine commented on #130241
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-14 11:15] muskangulati-qasource commented on #130241
@manishgupta-qasource please review!

[2022-04-14 11:17] lizozom commented on #129324
Where is this data from? An internal collection cluster?

[2022-04-14 11:22] #126687 closed

[2022-04-14 11:24] MadameSheema commented on #130232
Thanks @deepikakeshav-qasource!! changing the impact to `low` since there is an easy workaround we can use.

[2022-04-14 11:24] vipulsrivastava-qasource commented on #128144
Hi @michaelolo24

We have validated this issue on **v8.2.0-BC3** build and found that issue is **fixed**. 'Timeline' text shown on 'Failed to import 1 timeline' pop-up on importing timelines.

Please find below build and testing details.

**Build Details:**
[code]

**Screen Recording**

https://user-images.githubusercontent.com/69579402/163372103-f067a013-ab46-41ff-a0df-ef58f184cf2b.mp4

Hence, we

[2022-04-14 11:24] #128144 closed

[2022-04-14 11:24] fkanout commented on #129932
Hi @JiaweiWu, Thank you very much for the effort you are putting to make all these components shareable!!

As you can see I mentioned https://github.com/elastic/kibana/issues/130126 here as the Rule details page requires three components to be sharable:
1- Execution history table
2- Alerts table
3- Trigger actions (I believe this is the same one that @mgiota needs for the Rule list page `snooze st

[2022-04-14 11:34] kibanamachine commented on #130190
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14905#d7b59fd9-12c4-434b-a26d-c705c8d40a4a)

[2022-04-14 11:39] paulb-elastic commented on #128475
Also getting these down so we don’t lose them...

* (mentioned by @dominiqueclarke yesterday) - as with Monitor Management today, there is a need for an Administrator to enable it.  This is needed to set up the required API key for Monitor Management to work, and will also be needed for the Synthetics App.  We need to ensure that flow is included in the _Getting Started / Empty State_ flow.

![ima

[2022-04-14 11:39] ruflin opened #130242 "Conflicting fields in data views with data stream naming scheme"
Elastic Agent and other shippers are following the [data stream naming scheme](https://www.elastic.co/blog/an-introduction-to-the-elastic-data-stream-naming-scheme). This means that all that is shipped into data streams named as following: `{type}-{dataset}-{namespace}`. Many of the fields used are ECS but each data stream can also contain its own fields. This means for example `logs-foo-default`

[2022-04-14 11:39] #129559 closed

[2022-04-14 11:40] amolnater-qasource commented on #104985
Hi Team
We have created 05 testcases for this feature under our Fleet test suite at below links:
- [Validate two new fields under Add Agent flyout while creating Agent Policy- Output for integrations and Output for Agent monitoring.](https://elastic.testrail.io/index.php?/cases/view/166072)
- [Validate that both the fields - Output for integrations and Output for Agent monitoring are set to Defaul

[2022-04-14 11:41] ruflin commented on #130242
@mattkime Original discussion happened here https://github.com/elastic/kibana/issues/73797#issuecomment-813414450 and https://github.com/elastic/kibana/issues/73797#issuecomment-814026505

[2022-04-14 11:49] joshdover commented on #118479
One thing that would at least help improve the UX here is to have a more specific error message  so we know this is failing during transform creation. We could also check the cluster health before starting the install process and bail early if it's yellow?

[2022-04-14 11:59] manishgupta-qasource commented on #130241
Reviewed & assigned to @kevinlog

[2022-04-14 12:03] kibanamachine commented on #130190
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14907#79285e1d-60b7-44e2-bdc1-03de43309dbf)

[2022-04-14 12:05] kevinlog commented on #130241
@parkiino can you take a look at this?

[2022-04-14 12:15] #128080 closed

[2022-04-14 12:17] #129731 closed

[2022-04-14 12:19] xcrzx commented on #129324
@lizozom This is from my local Kibana. You can enable APM integration by setting `elastic.apm.active: true` in Kibana config to send performance metrics to any APM server you want.

[2022-04-14 12:28] jlosito opened #130250 "Allow creation of connectors via API using UUID"
**Describe the feature:**

I would like to be able to create connectors with a pre-generated UUID, just as one can create a rule with a given UUID.

The current API does not support pre-generated UUIDs as shown below. A random UUID will always be given to a connector upon creation.

https://www.elastic.co/guide/en/kibana/current/create-connector-api.html

Note that the current rule API does suppor

[2022-04-14 12:29] simianhacker commented on #112354
@gmmorris Yes... When the _**rule**_ is deleted the we need a way to clean up the "Alerts as Data" alerts.

[2022-04-14 12:45] nchaulet commented on #129863
Yes always installing elastic agent for every agent policy with monitoring is probably a good solution.

I am wondering (but it's probably a bigger scope project) if we can treat monitoring as a regular integration and add a package policy `elastic_agent` to the policy that will compile with an agent template

[2022-04-14 12:46] kibanamachine commented on #130190
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14912#8ed2ed2a-74b6-4fa0-b9b0-5e1c7227624c)

[2022-04-14 13:13] michaelolo24 commented on #128626
Thanks @constancecchen! The only thing reason I thought it might be is that no one made any changes to this functionality for 8.2 and everything was working in 8.1. Per the ref example you provided, maybe we need to update a prop? It's just strange that clicking in the popover causes it to close (whether it's the inspect icon that opens a modal or the super select that should open a dropdown when

[2022-04-14 13:16] 1Copenut commented on #114365
@vadimkibana My initial thinking was an `aria-live` on the header that would roll up the table name and the pagination announcement. Since the ticket was written, EUI has added a live region to table pagination. It announces the current page and total number of pages as "Page 1 of 2" when users press `Enter` on a pagination link.

With that and your comment above for context, I'll investigate ways

[2022-04-14 13:19] janmonschke commented on #123193
Ah yes, this appears to be an edge-case for isolated agents. I'll investigate!

[2022-04-14 13:21] dominiqueclarke opened #130257 "[User Experience] JavaScript error href links are broken"
**Kibana version**: 8.2.0, 8.3.0

**Original install method (e.g. download page, yum, from source, etc.)**: Custom Kibana Deploy in Cloud First Test

**Description of the problem including expected versus actual behavior**:
JavaScript errors links do not go to the proper href.
<img width="1486" alt="Screen Shot 2022-04-14 at 9 15 58 AM" src="https://user-images.githubusercontent.com/11356435/16339

[2022-04-14 13:21] elasticmachine commented on #130257
Pinging @elastic/uptime (Team:uptime)

[2022-04-14 13:22] dominiqueclarke commented on #78430
Performed smoke testing on UX

Utilized all filters and dropdowns
Scrubbed all charts
Used URL filter
Clicked around on map
Clicked on JavaScript errors.

JavaScript errors links do not go to the proper href.
<img width="1486" alt="Screen Shot 2022-04-14 at 9 15 58 AM" src="https://user-images.githubusercontent.com/11356435/163398995-f0b01602-9b9f-43a1-84e4-96771dbb3a38.png">
<img width="1262" alt

[2022-04-14 13:28] jgowdyelastic opened #130258 "[ML] Add type for job summary jobState"
`jobState` is used by external plugins and so should have an accurate type.
It should be a combination of [MlJobState](https://github.com/elastic/elasticsearch-specification/blob/31d7d3be1012f55069d536c1ce6beec095986bca/output/typescript/types.ts#L12075)
MlJobState and `deleting`, `resetting` and `reverting`

Created here:
https://github.com/elastic/kibana/blob/0a69ea12a2a40d87f11a4449d859b32639a5

[2022-04-14 13:28] elasticmachine commented on #130258
Pinging @elastic/ml-ui (:ml)

[2022-04-14 13:28] glucaci commented on #129845
With the query
[code]
I get the following result where I removed the hits and series buckets.
[code]
I can confirm that at least one hit has the `event.dataset` field set exactly as the document I've posted above.

[2022-04-14 13:28] joshdover opened #130259 "[Fleet] Implement rolling upgrades for Agent upgrades"
## Changes not related to rolling upgrade

### UI Remove licence restrictions for bulk selection

@criamico https://github.com/elastic/kibana/pull/130981
Currently we restrict bulk actions to user with gold plus licence, (note we only restrict this in the UI, API allow bulk actions without validating licence
- [x] Remove the restrictions from the UI https://github.com/elastic/kibana/blob/main/x-pa

[2022-04-14 13:28] elasticmachine commented on #130259
Pinging @elastic/fleet (Team:Fleet)

[2022-04-14 13:35] justinkambic commented on #129297
This issue appears to have not been closed after it was resolved.

[2022-04-14 13:35] #129297 closed

[2022-04-14 13:40] jbudz commented on #130190
/skip

[2022-04-14 13:41] kibanamachine commented on #130190
Skipped

main: f9dd12937b80aa727e2af99126e4bd24ecee0c4a

[2022-04-14 13:41] elasticmachine commented on #130190
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-14 13:56] #128428 closed

[2022-04-14 13:57] nkhristinin commented on #124718
Done and changes for detection rules also merged:
https://github.com/elastic/kbn-alert-load/

[2022-04-14 14:00] #124718 closed

[2022-04-14 14:01] dominiqueclarke opened #130261 "[Uptime] Monitor Management - test now - steps are often displayed before screenshot is indexed"
**Kibana version**: 8.3.0, 8.2.0

**Original install method (e.g. download page, yum, from source, etc.)**: Local Kibana via oblt-cli

**Description of the problem including expected versus actual behavior**:

When running test now for browser monitors, steps are sometimes displayed without a screenshot, even when a successful screenshot is available.

<img width="744" alt="Screen Shot 2022-04-14

[2022-04-14 14:04] fkanout opened #130262 "Add rule summary"
# Summary
Part of #129777

Add the rule summary to the Rule page

# AC
- Use the`rule_summary` in the `triggres_actions_ui`

[2022-04-14 14:06] chrisronline commented on #128755
Love this effort!

I'll just add some thoughts about the parts in the diagram above.

I don't have a strong opinion on the options listed in this issue, but I do want to stress the desire to make writes and reads as easy as possible for Kibana plugin owners. In an ideal world, they are able to either directly use some open telemetry SDK to write metrics (in my example above, I abstracted this deta

[2022-04-14 14:06] mattkime commented on #130242
@ruflin Is this a problem in places aside from data view management?

[2022-04-14 14:09] michaelolo24 commented on #129057
No, it's not expected as the size of the table adjusts as expected when filters are applied. Is it always reproducible or does it happen intermittently?

[2022-04-14 14:12] thompsongl commented on #129187
Pretty much anything that an [`<img>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Img) can render because custom `type` strings are passed through to that element.
So URLs and data URIs. `file://` doesn't work because browsers aren't allowed to access the local file system for security reasons.

[2022-04-14 14:15] mattkime commented on #130238
I like the idea of having field descriptions and having a source for them seems even better. I see two ways of approaching this -

a) The indices or data streams have some way of specifying which field description set applies.
b) The field description sets are specified field by field in the data view.

---

It may also be helpful to discuss what goals this is tied to so we can properly prioritize

[2022-04-14 14:17] hop-dev commented on #118479
@sophiec20 Hi, we just mentioned an error we were seeing on the fleet installing a transform, theres more detail in my comment above, but here is the error we see:

[code]

I only suspected that it was from transform creation based on a [slightly similar SDH](https://github.com/elastic/sdh-elasticsearch/issues/5800) I found . The endpoint package creates 2 transforms defined [here](https://github.

[2022-04-14 14:26] ersin-erdal commented on #129128
I think we can still modify `minimumScheduleInterval` and backport as it is still new in 8.2.
Not sure about `actions.max` but for timeouts `1d` sounds reasonable. Maybe for `minimumScheduleInterval` too.

[2022-04-14 14:33] lizozom commented on #129624
@mshustov can we close this issue?
I think we can work with @vigneshshanmugam and the ops team to define what we want to measure better and find a way and build the benchmarks around the data we have.
What do you think?

[2022-04-14 14:35] lizozom commented on #103942
This is a duplicate of https://github.com/elastic/kibana/issues/98339

[2022-04-14 14:35] #103942 closed

[2022-04-14 14:38] #126027 closed

[2022-04-14 14:53] cyrille-leclerc commented on #128755
Did you consider an abstraction so that plugin authors would just have a read API on observability data and the location of these data (local versus remote Elasticsearch) would be injected by the "Platform Observability" configuration?

[2022-04-14 14:55] gmmorris commented on #129932
@JiaweiWu @XavierM - In the _Simplified Protections Management_ meeting a requirement came up for Security Solution.

They were wondering if we were able to make the SearchBar in our sharable Rules List an independently sharable component that they could consume without needing to consume our Rules Table (yet, at least).

What are your thoughts? Is this doable as part of this issue without adding

[2022-04-14 14:55] afharo commented on #130027
Thanks for confirming! I'll create a quick follow-up PR next week to address this issue.

[2022-04-14 14:56] chrisronline commented on #128755
Exactly what I think we should do - in my model above, that's the other purpose of `monitoring_collection`. It serves a write abstraction (we could remove this if folks aren't a fan) and a read abstraction, allowing for a singe point of configuration.

Now, how that configuration gets there is another story. Following the stack monitoring path, we'd just need to document the need to configure it a

[2022-04-14 14:59] mikecote commented on #129128
Since we alias `xpack.alerting.defaultRuleTaskTimeout` to `xpack.alerting.rules.run.timeout`. Will the deprecated setting be affected buy such limitation? (causing a breaking change that we can't do)

For actions.max, maybe we use the default value of `100,000` as the max as well?

For timeouts, `1d` seems too high. The timeout logic is also used when a Kibana crashed / restarted to resume these t

[2022-04-14 15:08] wwang500 opened #130277 "[ML] Data Frame Analytics result - show blank web page after clicking interact with cell content"
**Found in version**
8.2.0 BC3

**Browser**
Firefox

**Steps to reproduce**

Open the results view for a DFA job

in the result grid, click `interact with cell content`

**Expect:**

it should pop up the text:

![image](https://user-images.githubusercontent.com/47184485/163418915-48119ee2-57a0-4dfc-92fa-98d73c15bb02.png)

**Actual result:**

it brought a blank page instead.

https://user-images.gi

[2022-04-14 15:08] elasticmachine commented on #130277
Pinging @elastic/ml-ui (:ml)

[2022-04-14 15:25] spalger opened #130282 "[Bug] page-load transactions sometimes being reported incorrectly"
We've noticed an inconsistency in page-load transactions being reported from Kibana locally. The video below shows this happening, but the summary is:

In the chrome dev tools, disable cache and load up the Kibana login page. Sometimes the page-load transaction from this page reports a time like 5000ms and sometimes it reports a time like 500ms, even though the loading time is consistent in the ne

[2022-04-14 15:25] elasticmachine commented on #130282
Pinging @elastic/apm-ui (Team:apm)

[2022-04-14 15:31] spalger commented on #130282
Response from @vigneshshanmugam in Slack:

![image](https://user-images.githubusercontent.com/1329312/163423491-9187b456-6efb-41ef-8095-a4d425006f98.png)
![image](https://user-images.githubusercontent.com/1329312/163423504-9fa5f246-81d2-45bc-a233-96e27db30bbb.png)

[2022-04-14 15:45] dominiqueclarke commented on #124603
@shahzad31 @paulb-elastic

I think we should skip these tests in 8.1.x. Monitor management wasn't fully supported in even a tech preview phase until 8.2.0. I'm not sure if it's worth debugging monitor management related test failures in versions lower than 8.2.

[2022-04-14 15:53] azasypkin commented on #129187
So URLs and data URIs. file:// doesn't work because browsers aren't allowed to access the local file system for security reasons.

Thanks @thompsongl! Good, I assume EUI won't change this without a preliminary deprecation notice/period then.

[2022-04-14 15:53] paulb-elastic commented on #124603
Agreed

[2022-04-14 15:59] spalger opened #130287 "Execute performance tests in dry-run mode in PR CI"
The performance tests are not currently running on CI because we don't get reliable performance metrics from them. Unfortunately this means that manual testing is required to know if a PR is going to break the performance tests after it's merged. We didn't do that with https://github.com/elastic/kibana/pull/129464 and it broke a few things, so I think we should add a single run of these tests in s

[2022-04-14 15:59] elasticmachine commented on #130287
Pinging @elastic/kibana-operations (Team:Operations)

[2022-04-14 16:03] jbudz commented on #129219
/skip

[2022-04-14 16:03] #129815 closed

[2022-04-14 16:04] kibanamachine commented on #129219
Skipped

main: b95c4f897e26934d7b61b58f934a27c291d6bc40
8.2: 6a0427ed88be4fd708e63892345dbddc39085463

[2022-04-14 16:05] mikecote commented on #128842
To discuss if we want to capture "ignored" instead. So we have, generated, triggered and ignored (triggered - generated) counts.

[2022-04-14 16:10] mikecote commented on #129120
We may need a proposal for feedback to discuss how we think of enhancing the event log plugin to support more than success / failure.

[2022-04-14 16:19] nickpeihl opened #130291 "[Maps] Vector tiles from Elasticsearch are not loading in on-prem instances"
**Kibana version:**
8.1.2

**Elasticsearch version:**
8.1.2

**Server OS version:**
Mac Monterey 12.3.1

**Browser version:**
Firefox 99.0
Chrome 100.0.4896.75

**Browser OS version:**
Mac Monterey 12.3.1

**Original install method (e.g. download page, yum, from source, etc.):**
From download

**Describe the bug:**

Requests for vector tiles from Maps are getting empty responses. This appears to o

[2022-04-14 16:19] elasticmachine commented on #130291
Pinging @elastic/kibana-gis (Team:Geo)

[2022-04-14 16:20] mikecote commented on #130130
Could follow the same pattern that @pmuellr did for the event log dashboards (gist). We could move them somewhere else too..

[2022-04-14 16:26] spalger opened #130292 "[ci/es snapshots] resolve to a single snapshot version at the beginning of a build"
We hit a race condition in CI today where CCS tests pulled two different ES snapshots because they start two nodes and in between the time the nodes started the "latest" snapshot was changed, causing two different ES versions starting with incompatible wire protocols. We should probably add a command to @kbn/es to resolve the latest snapshot url and define that URL as the manifest version for the

[2022-04-14 16:26] elasticmachine commented on #130292
Pinging @elastic/kibana-operations (Team:Operations)

[2022-04-14 16:30] jen-huang commented on #130222
In this flow, it is expected to have the old layout with the two tabs. Please note, that the actual instructions within Enroll in Fleet should have been updated.

[2022-04-14 16:30] #130222 closed

[2022-04-14 16:30] jen-huang commented on #129662
@hop-dev Yep, we agreed that this is a fix that should be backported for 8.2.

[2022-04-14 16:31] mikecote commented on #130134
Idea: we could see if we can add the breakdown into APM as well.

[2022-04-14 16:35] #130114 closed

[2022-04-14 16:37] kibanamachine commented on #117055
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14935#6fd20a4c-bcf1-4347-b7b5-a2c2effea753)

[2022-04-14 16:39] mikecote commented on #130135
Maybe a follow-up from https://github.com/elastic/kibana/issues/130134 in case we learn anything working on it or after it's shipped.

[2022-04-14 16:43] spalger commented on #130292
Looking at the manifests now, I think what might have actually happened is that the manifest at`https://storage.googleapis.com/kibana-ci-es-snapshots-daily/8.3.0/manifest-latest-verified.json` came back with different values on subsequent requests. I don't know for sure if GCS is "eventually consistent" but it wouldn't surprise me if that's the case and we are seeing that happen here. Sounds like

[2022-04-14 16:57] ersin-erdal commented on #129128
I couldn't understand the relation between `minimumScheduleInterval` and `defaultRuleTaskTimeout`

`defaultRuleTaskTimeout` could be used by the users, therefore we deprecated it. But `minimumScheduleInterval` is new in 8.2 and since 8.2 is not public yet, we can change it... no need to deprecate i think?

They have to use `xpack.alerting.rules.run.timeout` as we deprecate `defaultRuleTaskTimeout`

[2022-04-14 16:57] spalger commented on #123666
Love to see the research being done here, not sure if there's anything specifically you still need from me but I hope you're able to get to the bottom of this!

[2022-04-14 17:12] mikecote commented on #129128
Apologies, I mixed the two badly in my previous reply. Yes, we can put a max on `minimumScheduleInterval` and 1d seems ok.

Yeah, as I realize now, it would be considered a breaking change. Maybe for now, we skip `timeout` given the backwards compatibility concerns?

[2022-04-14 17:20] dominiqueclarke commented on #130261
@paulb-elastic what's your view on the priority for this bug? I can seem to reproduce it where others cannot, so I could work on this.

[2022-04-14 17:20] yuliacech opened #130302 "[ILM] Update edit policy form to use `EuiTimeline` instead of `EuiComment`"
`EuiTimeline` is a new EUI [component](https://github.com/elastic/eui/pull/5730) that creates a vertical thread and can be used to display phases in the edit policy form. We should be able to delete our custom scss code in [here](https://github.com/elastic/kibana/blob/main/x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/phase/phase.scss) and use

[2022-04-14 17:20] elasticmachine commented on #130302
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-14 17:30] kibanamachine commented on #129314
New failure: [CI Build - 8.2](https://buildkite.com/elastic/kibana-on-merge/builds/14945#5453b500-c869-48ac-bf87-5e0ca81146a2)

[2022-04-14 17:31] constancecchen commented on #128626
Just curious, does clicking the "Detection Alerts" select/dropdown next to the inspect icon also close the popover with no other action for you?

[2022-04-14 17:42] mattkime opened #130304 "better docs and feedback from using vault with bootstrap"
For the uninitiated, using vault with bootstrap is rather confusing and this can be addressed in a number of ways -

1) Add a verification step to the vault setup docs - `vault token lookup` seems to do the job but more info about what to expect would be nice.

2) vault errors occur at the start of bootstrap, effectively hiding the error behind a lot of output culminating in a success message. The

[2022-04-14 17:42] elasticmachine commented on #130304
Pinging @elastic/kibana-operations (Team:Operations)

[2022-04-14 17:43] kibanamachine opened #130305 "Failing test: API Integration Tests.test/api_integration/apis/saved_objects_management/scroll_count·ts - apis saved objects management apis scroll_count with less than 10k objects "before all" hook for "returns the count for each included types""
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/14949#deded5ad-4d5d-4591-88dc-bf77a70a06e8)

[2022-04-14 17:44] mikecote opened #130306 "[API] ServiceNow ITOM to support OAuth JWT"
POC PR: https://github.com/elastic/kibana/pull/121721
Copied from Google Doc (ask me for link)
Meta: https://github.com/elastic/kibana/issues/130308

## API Changes

### 1. Extend `ExternalIncidentServiceConfigurationBase` (this base config will be inherited by the all ServiceNow connectors) with the next configuration option which does not require the encryption:

- `isOAuth` - boolean, need this

[2022-04-14 17:44] elasticmachine commented on #130306
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 17:44] mikecote opened #130307 "[UI] ServiceNow ITOM to support OAuth JWT"
POC PR: https://github.com/elastic/kibana/pull/121721
Copied from Google Doc (ask me for link)
Meta: https://github.com/elastic/kibana/issues/130308

## UI Changes

### 1. Extend ServiceNow UI types for config and secrets:
<img width="432" alt="image3" src="https://user-images.githubusercontent.com/3694571/163442875-d0aeed73-0f2a-4438-829a-3c3d494b2aa6.png">

### 2. Extend validation with logic wh

[2022-04-14 17:44] elasticmachine commented on #130307
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 17:44] ersin-erdal commented on #129128
OK, lets skip `xpack.alerting.rules.execution.timeout` and `xpack.alerting.rules.execution.ruleTypeOverrides[x].timeout` for now.

[2022-04-14 17:44] mikecote opened #130308 "ServiceNow ITOM to support OAuth JWT"
POC PR: https://github.com/elastic/kibana/pull/121721
Copied from Google Doc (ask me for link)

## API Changes

See https://github.com/elastic/kibana/issues/130306

## UI Changes

See https://github.com/elastic/kibana/issues/130307

## Additional resources
### JWT token description
JSON Web Token (JWT) is an open standard ([RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519)) that defines a c

[2022-04-14 17:44] elasticmachine commented on #130308
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 17:46] mikecote commented on #130307
Blocked by https://github.com/elastic/kibana/issues/130306.

[2022-04-14 17:54] paulb-elastic commented on #130261
@dominiqueclarke it would be good if you can spend a little time on it as you're able to reproduce it.  Judge it based on the other final activities for 8.2 preparation, and see what time you're able to devote to it.  Thanks.

[2022-04-14 18:12] jportner opened #130311 "Enable merging saved objects with a shared origin"
## Background

When we introduced Spaces, "isolated" saved objects did not need to have a globally unique ID -- the object ID only had to be unique within a single space. This inadvertently introduced the behavior that objects that are copied to different spaces retain a shared "origin" because they had the same ID. When copying or importing an object, you would always overwrite a conflicting obje

[2022-04-14 18:14] elasticmachine commented on #130311
Pinging @elastic/kibana-core (Team:Core)

[2022-04-14 18:14] andrew-goldstein commented on #128626
@constancecchen I'm also observing the unexpected behavior described above when clicking the select/dropdown.

It looks like you have an environment with alert data now, but @chandlerprall asked us to leave the following note, which describes the sequence of commands to run the data generator:

[code]

The command above will output results like this:

[code]

The generator populates the Alerts pag

[2022-04-14 18:20] jbudz commented on #129314
/skip

[2022-04-14 18:20] elasticmachine commented on #129314
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 18:20] kibanamachine commented on #129314
Skipped

8.2: 4006fc3440e16790bd067e4ecce07473f9c74026

[2022-04-14 18:25] dominiqueclarke opened #130312 "[Uptime] Monitor Management - Monitor decryption must be space aware when syncing configs"
**Kibana version**: 8.2.0

**Original install method (e.g. download page, yum, from source, etc.)**: Local Kibana connected to ES via `oblt-cli`

**Description of the problem including expected versus actual behavior**:
When decrypting monitors, the decryption client must be passed the namespace of the monitor, in order to ensure that it can find appropriate saved object.

This is done correctly i

[2022-04-14 18:25] elasticmachine commented on #130312
Pinging @elastic/uptime (Team:uptime)

[2022-04-14 18:38] dominiqueclarke opened #130313 "[Uptime] Synthetics service API key should be accessible in all spaces"
**Kibana version**: 8.3.0, 8.2.0

**Description of the problem including expected versus actual behavior**:

Currently, the synthetics service API key is `namespace-type: single`. This allows the API key to only be accessible from the default namespace.

This creates the possibility for unintended bugs in a few different ways. For example, when a user enables Monitor Management in one space, if an

[2022-04-14 18:38] elasticmachine commented on #130313
Pinging @elastic/uptime (Team:uptime)

[2022-04-14 18:41] kqualters-elastic commented on #129185
@academo where exactly is cases rendering an alert table?

[2022-04-14 18:47] mikecote commented on #129122
I'm leaving this term out as it isn't used at this time. However, we should consider that term in https://github.com/elastic/kibana/issues/128842 given my [comment](https://github.com/elastic/kibana/issues/128842#issuecomment-1099345122).

[2022-04-14 18:50] jportner commented on #130313
If the object type is in use today, we don't have a clear migration path from `namespaceType: 'single'` to `namespaceType: 'agnostic'`. At a high level, you'd have to define a _new_ object type and add some routine to your plugin's `start` lifecycle method that 1. checks for old objects, 2. invalidates any redundant API keys (if there are more than one), and 3. creates a new object of the new type

[2022-04-14 18:51] constancecchen commented on #128626
Thanks Michael and Andrew for getting me set up!

I'm looking at the inspect button component code now. Here's where the logic is to display the modal, conditional on `isShowingModal` state:

https://github.com/elastic/kibana/blob/692ca00ef03eb0aca1c2c97be1242ba2a4375aaf/x-pack/plugins/security_solution/public/common/components/inspect/index.tsx#L104

And here's the file that manages `isShowingMod

[2022-04-14 18:52] kqualters-elastic commented on #129185
I think this list of required customizations is incomplete if feature parity is the goal, cell actions will need to be customizable, which are different from column to column, doesn't seem like this api design accounts for that.

[2022-04-14 19:07] dominiqueclarke commented on #130313
The object is not in use today. `8.2.0` is the first version this feature is being released broadly.

[2022-04-14 19:09] vigneshshanmugam commented on #130282
Had a discussion with @devcorpio on this same topic. Another reason why this could be the cause would be due to the way RUM agent instruments Fetch API calls.
- RUM agent waits for the API response to complete before closing any auto instrumented transactions (`page-load` or `route-change`) since they are treated as internal tasks and all transactions waits for the tasks to complete
- In the case

[2022-04-14 19:11] michaelolo24 commented on #128626
To answer this question, it does also close it for us. Clicking either the inspect or the dropdown closes it for us. The strange thing about the behavior is that the same component is used in the alert flyout and works fine. Will send you a video

[2022-04-14 19:12] michaelolo24 commented on #129185
@academo - would you be willing to set up a meeting with me, @kqualters-elastic , @andrew-goldstein and @YulNaumenko to talk through the technical design and implementation details to make sure we're all on the same page and there aren't edge cases that weren't considered from the security side?

Thanks!

[2022-04-14 19:18] kqualters-elastic commented on #129185
Another thing likely missing with registration being done on a per plugin level would be per table column ordering/visibility persistence to local storage.

[2022-04-14 19:21] jportner commented on #130313
That's great to hear, you might consider changing it to `namespaceType: 'agnostic' and backporting it to 8.2 before the final BC is generated next week.

[2022-04-14 19:29] constancecchen commented on #128626
Please disregard my mention of https://github.com/elastic/kibana/pull/126507, that was a red herring / me barking up the wrong tree. I see now how https://github.com/elastic/eui/pull/5681 is causing this unexpected behavior.

## Inspect button behavior

For the inspect modal, the underlying issue is that the modal is being rendered **alongside the inspect button**. When the button triggers the mod

[2022-04-14 19:30] #108909 closed

[2022-04-14 19:34] #108899 closed

[2022-04-14 19:35] marshallmain commented on #108899
The rule exceptions are now displayed in a flyout so the issue no longer occurs.

[2022-04-14 19:36] constancecchen commented on #128626
If neither of the above 2 options seem viable for 8.2, I can definitely look into reverting / narrowing down the scope of https://github.com/elastic/eui/pull/5681 to not close the cell popover if it loses focus due to complex children. In some senses I think it enforces a good UX pattern of not trying to do too much within a cell popover, but it's still probably way too opinionated/unintentional f

[2022-04-14 19:42] michaelolo24 commented on #128626
Thanks for the thorough write up @constancecchen !  It's something we can take a look into for 8.3, but I don't want to commit to any architectural changes especially when other teams are using it and would involve cross team discussion/implementation. For example the aforementioned pr here https://github.com/elastic/kibana/pull/126507) was owned by a separate team. The super select  changemay be

[2022-04-14 19:43] bhavyarm opened #130318 "Show all/only selected options needs to be disabled when user has made no selections"
**Kibana version:** 8.2.0 BC3

**Elasticsearch version:** 8.2.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** User can interact with the show  select all/only selected options button on a control now before making a selection.

[2022-04-14 19:43] elasticmachine commented on #130318
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-04-14 19:46] #89176 closed

[2022-04-14 19:48] ThomThomson commented on #130318
To add to this, the tooltip `show all options` vs `show only selected options` can be a little confusing. When showing **only selected options**, the tooltip for the button reads `show all options`. This is because that button switches **back** to the show all options mode, but it can make it seem like you're currently **in** the show all options mode.

@KOTungseth, how do we usually handle situat

[2022-04-14 19:53] davemoore- opened #130319 "APM service map assumes service.environment is null for some services, possibly causing missing links in service map."
Cross-posting from this [discussion board thread](https://discuss.elastic.co/t/troubleshooting-missing-links-for-some-opentelemetry-services-in-the-apm-service-map/302451) which I now believe could be a bug.

**Elastic version:** 8.1.2

**Elastic environment:** Elastic Cloud on GCP us-east1

**Client browser:** Chrome

**Client OS:** MacOS 12.1

**Describe the bug:** The APM Service Map incorrectl

[2022-04-14 19:57] constancecchen commented on #128626
That's totally fair! I think the right move here might be for us to revert https://github.com/elastic/eui/pull/5681 for 8.2 and try and get a backport in, and sync up with y'all again for 8.3 if/when you'd be able to make those changes. Any thoughts @chandlerprall?

[2022-04-14 19:58] jasonrhodes commented on #120384
Hey all! I just had a good chat with @neptunian about these changes and I asked if we can hold off on merging them for right now. She's going to merge some of her changes (after review) that will make it easier to enable this type of config in the future, but I want to hold off on introducing another configuration flag that we will have to maintain for a long time when the future of index selectio

[2022-04-14 20:16] bhavyarm opened #130321 "Legends don't get displayed for lens charts under proportion"
**Kibana version:** 8.2.0 BC3

**Elasticsearch version:** 8.2.0 BC3

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Legends don't show up for charts under proportion in lens app. They only show up after you add them to dashboard and

[2022-04-14 20:16] elasticmachine commented on #130321
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-14 20:16] #130292 closed

[2022-04-14 21:10] kobelb opened #130334 "Alerting circuit breaker docs"
We've added a bunch of great circuit breakers recently which constrain the impact that a single alerting rule can have on the health of all other operations. However, we're missing docs that walk users through how these circuit breakers should be used. The [Alerting production considerations](https://www.elastic.co/guide/en/kibana/master/alerting-production-considerations.html) section seems like

[2022-04-14 21:10] elasticmachine commented on #130334
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-04-14 21:24] KOTungseth commented on #130318
@ThomThomson when there are two available mode options, we usually use a toggle instead of a single icon. We can improve the UI copy, or change this to a toggle. I'm interested to see what @teresaalvarezsoler thinks.

cc: @gchaps

[2022-04-14 21:29] ThomThomson commented on #130318
Also we should get @andreadelrio in on the brainstorm too when she gets back.

I like the idea of a toggle that reads something like `Show selected options only`, but we'd potentially have to move things around to fit it.

[2022-04-14 22:00] marshallmain opened #130339 "[Security Solution][Alerts] Expose EQL search API configs in EQL rules"
The EQL search API supports some configuration options including `event_category_field`, `tiebreaker_field`, and `timestamp_field`. EQL rules currently support `event_category_field` through the API only, and none of the config options are exposed through the UI. We should expose these 3 fields for EQL rules through both the rules API and the UI.

[2022-04-14 22:00] elasticmachine commented on #130339
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-14 22:00] elasticmachine commented on #130339
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-14 22:06] andrew-goldstein opened #130340 "[Security Solution] Queries with `nested` field types fail open with `failed to create query: [nested] failed to find nested object under path [threat.enrichments]` errors for indexes where the nested fields are unmapped"
## Summary / Q&A

Queries throughout the Security Solution that request [nested](https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html) field types fail open with `failed to create query: [nested] failed to find nested object under path [threat.enrichments]` errors for indexes where the nested fields are unmapped.

- Users are most likely to encounter these errors when invest

[2022-04-14 22:06] elasticmachine commented on #130340
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-14 22:18] marshallmain commented on #130340
Related problem occurs with Endpoint exceptions on unmapped `nested` fields: https://github.com/elastic/kibana/issues/126544

[2022-04-14 23:02] andrew-goldstein opened #130348 "[ES Query] Update the `buildEsQuery` API to allow `nested` queries to use the `ignore_unmapped: true` parameter, to resolve `failed to create query: [nested] failed to find nested object under path` errors"
The [Nested](https://www.elastic.co/guide/en/elasticsearch/reference/current/nested.html) field type requires a [special query syntax](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-nested-query.html), which includes an optional [ignore_unmapped](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-nested-query.html#nested-top-level-params) parameter

[2022-04-14 23:05] elasticmachine commented on #130348
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-14 23:07] andrew-goldstein commented on #130348
CC @elastic/security-solution

[2022-04-14 23:34] andrew-goldstein commented on #130340
A fix for this issue depends on an update to the `buildEsQuery` API to allow `nested` queries to use the `ignore_unmapped: true` parameter as described in issue https://github.com/elastic/kibana/issues/130348

[2022-04-14 23:55] chandlerprall commented on #128626
[duplicating my question from a slack thread]

Is this something we want to _revert_ in EUI's `main`, or only for the version in 8.2 and treat as a must-solve in security solution during 8.3? Proper answer depends on your team's ability to take on that resolution @michaelolo24 , so definitely interested in your take!

[2022-04-15 01:06] constancecchen commented on #128626
At this point my vote would be to revert in EUI main until Security lets us know they have bandwidth to refactor (and it sounds like refactors would not be insignificant), and not timebox them to 8.3 or a specific major. The fix/alternative approach in EUI is fairly lightweight and easy for us to do in comparison to Security.

[2022-04-15 02:01] samratbhadra-qasource commented on #130222
Hi @jen-huang,
Thanks for updating the expected behavior.

[2022-04-15 02:41] samratbhadra-qasource commented on #128447
Hi @juliaElastic,
We have revalidated this issue on the latest **8.2.0-SNAPSHOT** build and observed that the issue is **fixed** now. Please find below the testing details:

- Correct validation message `Host URL is required` is displayed on saving default output without any host URL under `Fleet server hosts`.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/163508778-29

[2022-04-15 02:41] #128447 closed

[2022-04-15 06:11] flash1293 commented on #130321
Fixed by https://github.com/elastic/kibana/pull/130090

[2022-04-15 06:11] #130321 closed

[2022-04-15 06:55] deepikakeshav-qasource opened #130357 "[Security Solution] `entry_meta.type` text is overlapping in Entry Leader card under session view"
**Describe the bug**
entry_meta.type text is overlapping in Entry Leader card under session view

**Build Details:**
[code]

**preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to Host page > session tab
2. Click on "Session view" icon
3. Click on details view panel
4. Expand the Entity card
5. Observe the entry_meta.type is overlapping on 100% resoluti

[2022-04-15 06:55] elasticmachine commented on #130357
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 07:09] deepikakeshav-qasource commented on #129057
Hi @michaelolo24 ,

This issue is occurring intermittently!!

Thanks!!

[2022-04-15 08:50] deepikakeshav-qasource opened #130359 "[Security Solution] No data to render reflect for a second before loading data when click on session view icon"
**Describe the bug**
No data to render reflect for a second before loading data when click on session view icon

**Build Details:**
[code]

**preconditions**
1. Alerts should be exist with session view

**Steps to Reproduce**
1. Navigate to Alerts page
2. Click on timeline investigate icon of alert that contains the session view
3. Click on session view icon under timeline
3. Observe that No data

[2022-04-15 08:50] elasticmachine commented on #130359
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 08:57] karanbirsingh-qasource opened #130360 "[Security Solution]Timestamp name mentioned in place of process.end column for Session Table"
**Describe the bug**
Timestamp name mentioned in place of process.end column for Session Table

**Build Details**

[code]

**Steps**
- Login to Kibana
- Navigate to Security app and then go to session tab under host
- Observed column "process.end" on the Session table
- However process.end column is not present under selected columns under field modal
- Additionally on applying sorting on timestam

[2022-04-15 08:57] elasticmachine commented on #130360
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 09:32] karanbirsingh-qasource opened #130362 "[Security Solution]Session Data lost after changing alert status"
**Describe the bug**
Session Data lost after changing alert status

**Build Details**

[code]

**Steps**
- Login to Kibana
- Navigate to Security app and then go to session tab under host
- Perform the dev hits to generate the data under session tab
- Create Rule for process.executable : "/usr/sbin/sshd" and generate alert from it
- Now go to Session view and change one alert status ( open to ackn

[2022-04-15 09:32] elasticmachine commented on #130362
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 09:34] karanbirsingh-qasource opened #130363 "[Security Solution]Session Data count of alert not matching under details after changing alert status"
**Describe the bug**
Session Data count of alert not matching under details after changing alert status

**Build Details**

[code]

**Steps**
- Login to Kibana
- Navigate to Security app and then go to session tab under host
- Perform the dev hits to generate the data under sessions tab
- Create Rule for process.executable : "/usr/sbin/sshd" and generate alert from it
- Now go to Session view and

[2022-04-15 09:34] elasticmachine commented on #130363
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 09:46] deepikakeshav-qasource opened #130364 "[Security Solution] [intermittently] Data is not displayed in session view visualization under host > session tab"
**Describe the bug**
Data is not displayed in session view visualization under host > session tab intermittently

**Build Details:**
[code]

**preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to Host page > session tab
2. Click on "Session view" icon
3. Observe that data is not displayed in session view visualization under host > session tab

**What's

[2022-04-15 09:46] elasticmachine commented on #130364
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 09:50] ghost opened #130365 "[Fleet]: Linux Tar installation instruction missing while adding Elastic APM integration."
**Question:**
While testing we have observed that, on installing Elastic APM integration the Linux Tar installation instruction is missing.
We have observed that only Linux RPM, Linux DEB, macOS and Windows installation instruction is mentioned and Linux Tar installing instruction is missing.
Could anyone please confirm the expected behavior.

**Screenshot:**
![Screenshot (367)](https://user-image

[2022-04-15 09:50] elasticmachine commented on #130365
Pinging @elastic/fleet (Team:Fleet)

[2022-04-15 09:52] mgiota commented on #130053
I tested out use of sharable status dropdown component and works fine. Once https://github.com/elastic/kibana/pull/130205 is merged, I can apply the change I posted in the comment https://github.com/elastic/kibana/pull/130205#issuecomment-1100002221.

[code]

[2022-04-15 09:57] mgiota commented on #129932
@fkanout Regarding Trigger actions I tested out the PR @Zacqary has in Review and it works like a charm (with one small addition). You can have a look at my comment here https://github.com/elastic/kibana/pull/130205#issuecomment-1100002221 to get an idea on how you can reuse the shareable StatusDropdown in Rules Detail page as well.

[2022-04-15 10:08] manishgupta-qasource commented on #130365
Secondary review for this ticket is Done

[2022-04-15 10:14] endorama commented on #100031
On suggestion from @mtojek I'm adding here links to recent build failure where this error showed up:
- https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/main/436/pipeline
- https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/main/442/pipeline

[2022-04-15 10:35] vipulsrivastava-qasource opened #130366 "[Security Solution] [Bug] Only favorites template not selected instead non favorites template selected if non favorites and only favorites templates have same name"
**Describe the bug:**
Only favorites template not selected instead non favorites template selected if non favorites and only favorites templates have same name

**Kibana/Elasticsearch Stack version:**

[code]
**Pre-conditions:**

1. Elastic Search should be up and running
2. Kibana should be up and running
3.  Favorites template and non favorites templated having same name should be available.
4.

[2022-04-15 10:36] vipulsrivastava-qasource commented on #130366
@prachigupta-qasource : Please review the Bug.

[2022-04-15 10:45] elasticmachine commented on #130366
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 11:05] deepikakeshav-qasource opened #130367 "[Security Solution] Session view icon is overlapping and not working under event renderer on alerts page"
**Describe the bug**
Session view icon is overlapping and not working under event renderer on alerts page

**Build Details:**
[code]

**preconditions**
1. Alerts should be exist with session view

**Steps to Reproduce**
1. Navigate to Alerts page
2. Click on Event rendered view on alert table
3. Observe that Session view icon is overlapping and not working under event renderer on alerts page

**Ac

[2022-04-15 11:05] elasticmachine commented on #130367
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 11:12] muskangulati-qasource opened #130368 "[Security Solution] An icon is displayed instead of the user name who generated the session event"
**Describe the bug**
An icon is displayed instead of the user name who generated the session event

**Build Details:**
[code]

**Preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to Host page > session tab
2. Click on the "Session view" icon
3. Observe that data is not displayed in session view visualization for the User name

**Actual Result**
An icon

[2022-04-15 11:12] elasticmachine commented on #130368
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 11:12] muskangulati-qasource opened #130369 "[Security Solution] The Expand icon for Hosts section is hidden on full screen for session view card under detail panel"
**Describe the bug**
The Expand icon for Hosts section is hidden on full screen for session view card under detail panel

**Build Details:**
[code]

**preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to Host page > session tab
2. Click on "Session view" icon
3. Click on full screen
4. Click on the 'Detail Panel' button
5. Click on Host
6. Observe the e

[2022-04-15 11:12] elasticmachine commented on #130369
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 11:13] muskangulati-qasource commented on #130368
@manishgupta-qasource please review!

[2022-04-15 11:13] muskangulati-qasource opened #130370 "[Security Solution] Long values should be truncated and tooltip must show"
**Describe the bug**
Long values should be truncated and tooltip must show

**Build Details:**
[code]

**preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to Host page > session tab
2. Click on "Session view" icon
3. Click on the 'Detail Panel' button
4. Hover on any details which are long and are not fully visible.
5. Observe the data is truncated but

[2022-04-15 11:13] elasticmachine commented on #130370
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 11:13] muskangulati-qasource commented on #130369
@manishgupta-qasource please review!

[2022-04-15 11:13] muskangulati-qasource opened #130371 "[Security Solution] 'Beta' does not show for Session under Host detail page for a particular host"
**Describe the bug**
'Beta' does not show for Session under Host detail page for a particular host

**Build Details:**
[code]

**preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to Host page > session tab
2. Observe 'beta' is written next to the 'Session'
3. Go back to the Host page and select any host
4. Observe there is no 'beta' written next to the

[2022-04-15 11:13] elasticmachine commented on #130371
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 11:13] muskangulati-qasource commented on #130370
@manishgupta-qasource please review!

[2022-04-15 11:13] muskangulati-qasource commented on #130371
@manishgupta-qasource please review!

[2022-04-15 11:17] manishgupta-qasource commented on #130368
Reviewed & assigned to @MadameSheema

[2022-04-15 11:17] manishgupta-qasource commented on #130369
Reviewed & assigned to @MadameSheema

[2022-04-15 11:18] manishgupta-qasource commented on #130370
Reviewed & assigned to @MadameSheema

[2022-04-15 11:18] manishgupta-qasource commented on #130371
Reviewed & assigned to @MadameSheema

[2022-04-15 11:38] arvindersingh-qasource commented on #129571
Hi @cnasikas

Thanks for the update.
We have validated this ticket on Kibana v8.2_BC3 build and found that issue is now **Fixed**.
### Please find the below observations.
#### Build Details
[code]
#### Screen Recording

https://user-images.githubusercontent.com/78947943/163552679-5fc3fceb-9089-4144-940c-e01866287d16.mp4

Thanks.

[2022-04-15 12:04] #115044 closed

[2022-04-15 12:06] cnasikas commented on #129223
Fixed by https://github.com/elastic/security-docs/pull/1454

[2022-04-15 12:06] #129223 closed

[2022-04-15 12:52] fkanout opened #130373 "Add the shared Alerts table"
# Summary
Part of #129777

Depends on
- https://github.com/elastic/kibana/pull/130883
- https://github.com/elastic/kibana/pull/131883
-  https://github.com/elastic/kibana/pull/131401

Add the alerts table to the Rule details page.

# AC
- Use the sharable Alerts table from triggers actions UI

[2022-04-15 12:54] fkanout opened #130374 "Add the shared execution history table"
# Summary
Part of #129777
Add the execution history table to the Rule details page.

# AC
- Use the sharable execution history table from triggers actions UI

[2022-04-15 13:06] #129351 closed

[2022-04-15 13:45] petrklapka opened #130376 "Testing for new Cancellation feature in GH & Jira Sync"
This is for testing how the Cancelled state in GH impacts Jira sync.

[2022-04-15 13:46] elasticmachine commented on #130376
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-15 14:36] michaelolo24 commented on #128626
@chandlerprall, What @constancecchen said 😄 We scoped quite a bit of tech debt for 8.3 already, so don't want to commit to anything unless a team member has time available.

[2022-04-15 14:41] #130201 closed

[2022-04-15 14:47] kpollich opened #130383 "[Fleet] Add tooltip or other UI elements indicating Logstash output requires a Platinum license"
For on-prem setups without a Platinum license, we don't indicate via the Fleet UI that Logstash output requires a Platinum license. We simply disable the "save" button and it's not clear in the UI why that's the case.

We should add a callout or tooltip on the disabled save button to indicate the licensing restriction here. Ideally, we'd disable the entire form and display a callout if the licensi

[2022-04-15 14:48] MikePaquette opened #130384 "[Security Solution] Tweak Text on Getting Started Page"
**Describe the enhancement/bug:** Fix grammar/typo, and optimize text on Getting started page.

**Kibana/Elasticsearch Stack version:** 8.2.0 BC3

**Server OS version:** 8.2.0 BC3

**Browser and Browser OS versions:** Chrome Version 100.0.4896.88 (Official Build) (x86_64)

**Elastic Endpoint version:** N/A

**Original install method (e.g. download page, yum, from source, etc.):** Elastic Cloud ESS

[2022-04-15 14:48] elasticmachine commented on #130384
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-15 14:50] kpollich commented on #130383
cc @nchaulet - this isn't something we have captured elsewhere is it?

[2022-04-15 14:59] nchaulet commented on #130383
Actually I think we do not need to get a platinum licence to use the logsatsh output as the default output. Platinum licence is needed for per policy output

[2022-04-15 15:35] #130277 closed

[2022-04-15 16:13] 1Copenut commented on #114365
@vadimkibana I discussed this issue with @zuhairmahd at a shared accessibility meeting today. He's going to review this ticket and provide guidance about the approach we're discussing and help test with assistive technologies.

[2022-04-15 16:17] nickpeihl commented on #130291
This appears to happen when Elasticsearch is configured to use SSL (on by default since 8.0) and the [`http.compression` configuration](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html#http-settings) defaults to `false`. Setting `http.compression: true` in elasticsearch.yml appears to fix this, but may be a security risk.

To see this bug happen in development w

[2022-04-15 16:44] spalger commented on #129754
Failed 5 PRs this week

<img width="3355" alt="image" src="https://user-images.githubusercontent.com/1329312/163597551-de7bddd1-5e85-483b-bcf1-fcc220d3a273.png">

/skip

[2022-04-15 17:02] smith commented on #91023
Closing this. It may be addressed as part of #120803.

[2022-04-15 17:02] #91023 closed

[2022-04-15 17:06] smith commented on #99897
This would be valuable work but we're not prioritizing it at this time. We can reopen this issue at some point or create a new one that references the work done here.

[2022-04-15 17:06] #99897 closed

[2022-04-15 17:09] smith commented on #44327
Closing this but we should investigate whether we can implement this as part of #120803.

[2022-04-15 17:09] #44327 closed

[2022-04-15 17:10] smith commented on #41939
We're not prioritizing this at this time.

[2022-04-15 17:10] #41939 closed

[2022-04-15 17:11] smith commented on #118879
Closing this for now. Next time we're working on an ML-related bug in logs or metrics maybe we can implement this.

[2022-04-15 17:11] #118879 closed

[2022-04-15 17:13] smith commented on #122076
We're not prioritizing this at this time.

[2022-04-15 17:13] #122076 closed

[2022-04-15 17:14] elasticmachine commented on #100968
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 17:16] elasticmachine commented on #95707
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 17:17] smith commented on #125872
I'm going to close this as it seems to not be reported or reproduced anywhere else. Could it also be a chrome extension problem?

[2022-04-15 17:17] #125872 closed

[2022-04-15 17:25] kevinlog commented on #128860
@muskangulati-qasource this should be available to test in 8.2 BC4

[2022-04-15 17:32] smith commented on #130128
Moved to Refining on our board. We need to determine and decide whether this is something that we could/would implement or otherwise route this issue to the correct place.

[2022-04-15 17:33] rashmivkulkarni opened #130401 "(Accessibility) Tests are skipped for `home.ts`"
Tests are skipped for https://github.com/elastic/kibana/blob/7.17/x-pack/test/accessibility/apps/home.ts
    /**
     * Test fails claiming that a user can focus on an element with aria-hidden
     * But axe does not recognize our focus trap which prevents a user from ever actually doing that
     * Open question on why this doesn't fail in other areas though but the structure is the
     */
    i

[2022-04-15 17:33] elasticmachine commented on #130401
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 17:33] elasticmachine commented on #115614
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 17:40] smith commented on #129845
This visualization is going to be replaced by #129469, which does not contain a legend. Closing this.

[2022-04-15 17:40] #129845 closed

[2022-04-15 17:42] elasticmachine commented on #127514
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 17:46] VijayDoshi opened #130402 "[Discover] monospace font in Document Explorer"
Before the new table view Discover used a monospace font. The new version makes comparison between different documents more difficult. This request is to use (or make it an option) to use a monospace font in Discover.

https://github.com/elastic/enhancements/issues/15912

[2022-04-15 17:46] elasticmachine commented on #130402
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-15 17:51] constancecchen commented on #128626
https://github.com/elastic/kibana/pull/130404 This 8.2 backport should fix/close this issue once it merges. Please let us know if that's not the case!

[2022-04-15 17:59] smith commented on #129279
Closing this as a duplicate of #111325.

[2022-04-15 18:00] smith commented on #129279
Duplicate of #111325

[2022-04-15 18:00] #129279 closed

[2022-04-15 18:01] rashmivkulkarni opened #130409 "(Accessibility) Unskip Upgrade assisitant test which is currently skipped"
https://github.com/elastic/kibana/blob/main/x-pack/test/accessibility/apps/group3/upgrade_assistant.ts

cc @cuff-links

[2022-04-15 18:01] elasticmachine commented on #130409
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 18:08] alexfrancoeur commented on #13795
@ghudgins it looks like TSVB supports drilldowns, so I'd say yes, this is probably resolved by dashboard drilldowns.

[2022-04-15 18:08] jen-huang commented on #130365
@elastic/apm-ui Can someone help clarify this?

[2022-04-15 18:13] rashmivkulkarni opened #130412 "(Accessibility) Unskip a skipped test in test/accessibility/apps/visualize.ts"
There is a skipped test in `test/accessibility/apps/visualize.ts` which needs to be addressed.

cc @bhavyarm

[2022-04-15 18:13] elasticmachine commented on #130412
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-15 18:18] smith commented on #128624
Duplicate of #125869

[2022-04-15 18:18] #128624 closed

[2022-04-15 20:09] #13795 closed

[2022-04-15 21:12] richkuz commented on #129424
Reproduced on 8.2.0 BC3 on Cloud.

[2022-04-15 21:29] elasticmachine commented on #129424
Pinging @elastic/kibana-core (Team:Core)

[2022-04-15 21:37] richkuz commented on #129424
@rashmivkulkarni here is the log on Kibana server logs:
[code]

[2022-04-15 21:41] rashmivkulkarni commented on #129424
Deployment id: ` 5207c514d46b4dea94040ec25e89cccc`
Region: us-west2
Build : 8.2.0 BC3

[2022-04-15 22:28] hbharding commented on #128300
## Design Update

Hi there, I've made a lot of progress on the designs for this and wanted to update the issue. I will likely update Drew's original's post, but since he's been away I'm going to wait until I get a chance to talk with him.

Before you look too close at the mockups, a couple of notes:

- This is part of a phased release. I don't know where "Monitor Management" will ultimately live,

[2022-04-15 23:45] jportner commented on #129424
I confirmed I can reproduce this in 8.2 with a Kibana on Cloud, but _not_ when running it locally.

I think that's a red herring that is unrelated to this problem, it's Metricbeat attempting to collect usage stats with an underprivileged user, see #120422.

-----

### What is the root cause of the error?

_This_ problem according to the 400 response error message is: `all shards failed: search_pha

[2022-04-15 23:54] #129252 closed

[2022-04-16 00:08] #130367 closed

[2022-04-16 02:29] mattkime commented on #129780
@sebelga Is this considered a bug by the way the form framework operates?

[2022-04-16 02:49] dominiqueclarke commented on #129424
Thank you for the write up @jportner

As far as option 1 or 2, I think we may want to consider both. `name` should be a `text` field to enable partial matching once we implement search into Monitor Management.
For #2, hiding the saved objects from the SOM page, I agree but will defer to @paulb-elastic or @drewpost for product input.

[2022-04-16 03:24] mattkime commented on #126369
Ran this test 250 times and it passed. Keep an eye on it.

[2022-04-16 04:34] al-ah opened #130427 "Create more height for the results table on the Discover page"
Discovery page in Kibana is not well designed and the height of the docs table is low. There are other items on the page that take up a lot of space and leave less than half the height for docs table.
The black box at the top of the screen is never used by us, maybe it's better to put the buttons in the box below or disable it.
The histogram is very useful, but it is very large and can be less tal

[2022-04-16 05:07] #123765 closed

[2022-04-16 08:41] flash1293 commented on #129303
@mtojek Do you have some time to give https://github.com/flash1293/legacy_vis_analyzer a try? Always happy to hop on a zoom to talk through it.

[2022-04-16 09:08] flash1293 commented on #87322
I just realized my comment above was probably a bit off-topic

I think that was the main intention of these documentation popovers - explaining the small things that are not obvious / more complex under the hood than they seem.

Based on the thing right above - I'm not sure whether it would help in this specific case (but it's a weakly held opinion). As the help descriptions are pretty specific ab

[2022-04-16 12:51] #130291 closed

[2022-04-16 20:07] shahzad31 commented on #129424
i think we potentially need to do both of the things.

we should change data types for name and few other fields, we will need search in any case on these fields going forward. `name`, `type`, `urls`, `tags` all should be text.

and we should also hide from saved object management and may be have in built export mechanism with in the uptime app, where we can control permission and have secrets dec

[2022-04-17 02:57] mattkime commented on #127023
closing as this hasn't failed again in a while

[2022-04-17 02:59] mattkime commented on #127233
passed 250 tests. closing for now.

[2022-04-17 03:08] mattkime commented on #118243
closing as this doesn't seem actionable. Reopen if I'm mistaken.

[2022-04-17 09:03] shahzad31 commented on #129424
i have setup a draft here https://github.com/elastic/kibana/pull/130433

[2022-04-17 18:26] michellebsnider opened #130436 "Displaying a signal element in Vega visualization within a Kibana dashboard"
**Kibana version:** 7.12

**Browser version:** Chrome Version 100.0.4896.75

**Describe the bug:** Signals with input element binding in Vega code is positioned below the display such that one has to scroll down to get to it in the Kibana dashboard, regardless of the adjusted window size.

**Steps to reproduce:**
1. Take your favorite plot in Vega in Kibana (I took this one: [https://vega.github.i

[2022-04-17 18:28] elastichelix opened #130437 "Enable TSDB downsampling ILM configuration"
# TSDB Downsampling ILM Configuration

## Stakeholders

* Slack channel: #tsdb

| Name | Role |
| --- | --- |
| Lewis Smith-Tong @lewissmithtong  | PM |
| Beth Richardson @elastichelix  | Tech lead |
| Cristina Albu @cristina-eleonora  | Design |

## Purpose of project and known requirements

As part of the [TSDB project](https://github.com/elastic/elasticsearch/issues/74660), we want to enable au

[2022-04-17 18:28] elasticmachine commented on #130437
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-17 20:40] ghudgins opened #130438 "[Lens] Generating PDF and PNG exports directly from Lens"
**Describe the feature:** Make the reporting features available from Lens directly

**Describe a specific use case for the feature:** Today a user is making a dashboard to download a single Lens visualization. For convenience, they would prefer to download the single visualization directly without having to do the extra step. This would maximize the space in the export for the desired visualizatio

[2022-04-17 20:40] elasticmachine commented on #130438
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-18 01:30] kibanamachine commented on #117776
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-on-merge/builds/15024#6c9f63f3-5a1d-42d7-94d1-52facbce4800)

[2022-04-18 04:17] kausar3033 opened #130442 "Error Exception"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2022-04-18 05:25] deepikakeshav-qasource commented on #130367
Hi Team,

We have validated this issue on **8.2.0 SNAPSHOT** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163759079-182fd8f2-50ee-4317-a7df-1491493a6ade.mp4

Hence, We are marking as QA Validated

Thanks!!

[2022-04-18 06:54] vickydayma opened #130443 "(Accessibility)"
[Please add a WCAG level label: WCAG A/AA/AAA]

**Steps to reproduce**

1.
2.
3.

[Screenshot here]

**Actual Result**

*

**Expected Result**

*

**Meta Issue**

**Kibana Version:**

**OS:**

**Browser:**

**Screen reader:** [if relevant]

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion - Level A/AA/AAA](link to https://www.w3.org/WAI/WCAG21/quickref/)

**Relevant ARIA spec:** [](link to https:

[2022-04-18 06:54] elasticmachine commented on #130443
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-18 06:56] vickydayma commented on #130443
Unable to search case insensitive. It will be very useful it becomes case insensitive search on a field.
Or provide an option at option filter creation time to enable or disable case insensitive search on field.

[2022-04-18 06:59] vickydayma opened #130444 "Case insensitive search enable/disable option at option filter creation time"
**Case insensitive search**

**An option at option creation for search.  **

[2022-04-18 07:22] #130257 closed

[2022-04-18 08:01] arvindersingh-qasource-zz opened #130446 "[Security Solution] [Bug] Global Search Bar breaks when Action "Flyout" is opened in application."
**Describe the bug**
Global Search Bar breaks when Action `Flyout` is opened in application.

**Build Details**
[code]

**Browser Details**
This issue is occurring on all browsers.

**Preconditions**
1. Kibana must be available.
2. Agents must be installed with Agent Policy.
3. Few Alerts/Integrations must be present.

**Steps to Reproduce**
1. Navigate to ```Security``` -> ```Alerts```.
2. Open A

[2022-04-18 08:01] elasticmachine commented on #130446
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-18 08:02] arvindersingh-qasource commented on #130446
@karanbirsingh-qasource  Please review this bug.

Thanks.

[2022-04-18 08:05] amolnater-qasource commented on #125994
Hi @nchaulet
We have created **04 testcases** for this feature under our Fleet test suite at links:
- [Validate it’s not possible to add APM to a policy using the Default data output if the Default data output type is logstash.](https://elastic.testrail.io/index.php?/cases/view/166077)
- [Validate that it's not possible to add APM to a policy using a logstash output as data output.](https://elasti

[2022-04-18 08:06] amolnater-qasource commented on #130080
Hi @nchaulet
We have revalidated this issue on latest 8.2 Snapshot and found it **fixed** now.
- Flickering old Add agent layout on clicking Add Agent button.

**Build details:**
VERSION: 8.2.0 Snapshot
BUILD: 51956
COMMIT: 16c6f3346e0c2700cbfc94b8cca263751d0ecd53
(April 16, 2022)

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/163762210-fd07a780-dd29-40eb-b880-b7fa962b3

[2022-04-18 08:06] amolnater-qasource commented on #130081
Hi @jen-huang
We have revalidated this issue on latest 8.2 Snapshot and found it **fixed** now.
- No unnecessary spaces are available in commands for deb and rpm standalone agent installation command under Add agent flyout.

**Build details:**
VERSION: 8.2.0 Snapshot
BUILD: 51956
COMMIT: 16c6f3346e0c2700cbfc94b8cca263751d0ecd53

**Screenshots:**
![4](https://user-images.githubusercontent.com/77374

[2022-04-18 08:06] amolnater-qasource commented on #129996
Hi @nchaulet
We have revalidated this issue on latest 8.2 Snapshot and found it **fixed** now.
- `Server SSL certificate authorities` is marked as optional under Add output>Logstash.

**Build details:**
VERSION: 8.2.0 Snapshot
BUILD: 51956
COMMIT: 16c6f3346e0c2700cbfc94b8cca263751d0ecd53

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374876/163760909-e6a2dcd1-722c-4b4f-a9de-4069

[2022-04-18 08:07] amolnater-qasource commented on #129865
Hi @nchaulet
We have revalidated this issue on latest 8.2 Snapshot and found it **fixed** now.
- On view instructions for logstash output, `elastic-agent-pipeline` configuration file is available with `conf` extension.

**Build details:**
VERSION: 8.2.0 Snapshot
BUILD: 51956
COMMIT: 16c6f3346e0c2700cbfc94b8cca263751d0ecd53

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/16

[2022-04-18 09:05] samratbhadra-qasource commented on #122128
Hi @joshdover
We have tested this issue on the latest **8.2.0-BC3** build & observed that the issue is still **reproducible** . Please find below the testing details:

- Managed host is also counted while performing bulk actions.

**Screenshot:**
![Screenshot (371)](https://user-images.githubusercontent.com/84007952/163781915-8bd139bd-2446-4d8f-b606-db5726401c96.png)

![Screenshot (370)](https://u

[2022-04-18 09:34] amitav13 commented on #44327
Not sure why we're closing this, the issue does still exist. Would ideally want to close this only after it gets implemented as part of https://github.com/elastic/kibana/issues/120803 or something else.

[2022-04-18 11:21] lizozom commented on #109072
Is this a subset of https://github.com/elastic/kibana/issues/129050?

As for the infrastructure, if we want to do this in CI, this sounds like it could be a follow up phase to https://github.com/elastic/kibana-team/issues/501?

[2022-04-18 11:23] lizozom commented on #105441
@Dosant It feels like there a lot of duplucates of this issue (for example https://github.com/elastic/kibana/issues/106395).
I'd like to leave one issue open, close the others and add it to the [performance project board](https://github.com/orgs/elastic/projects/681/views/1). Do you think that's possible?

[2022-04-18 11:24] lizozom commented on #100784
I think this one is ✅ now

[2022-04-18 11:24] #100784 closed

[2022-04-18 11:28] lizozom commented on #99328
@joshdover

Docs on how to configure APM on prem were added in https://github.com/elastic/kibana/pull/127892
Cloud now sets all configurations internally as part of https://github.com/elastic/dev/issues/1443

I'm closing the issue for now. Feel free to reopen if you find this necessary 🙏🏻

[2022-04-18 11:28] #99328 closed

[2022-04-18 11:33] lizozom commented on #78869
A lot of these things are tracked on https://github.com/elastic/kibana/issues/78869

 For example https://github.com/elastic/kibana/issues/129050 and https://github.com/elastic/kibana/issues/114843

Closing this issue in favor of the maintained one.

[2022-04-18 11:34] #78869 closed

[2022-04-18 11:58] karanbirsingh-qasource opened #130450 "[Security Solution]Filter in and Filter out not present for dash data"
**Describe the bug**
Filter in and Filter out not present for dash data

**Build Details**

[code]

**Preconditions**
- Endpoint Security should be installed on Linux OS we used Ubuntu 20.
- Enable all event including session event under Linux endpoint policy
- Generate some ssh actions on the Linux endpoint to generate the Session data under the host tab

**Steps**
- Login to Kibana
- Navigate to

[2022-04-18 11:58] elasticmachine commented on #130450
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-18 12:03] karanbirsingh-qasource opened #130451 "[Security Solution]Copy to Clipboard more action presence for Session View Table field data"
**Describe the bug**
Copy to Clipboard more action presence for Session View Table field data

**Build Details**

[code]

**Preconditions**
- Endpoint Security should be installed on Linux OS we used Ubuntu 20.
- Enable all event including session event under Linux endpoint policy
- Generate some ssh actions on the Linux endpoint to generate the Session data under the host tab

**Steps**
- Login t

[2022-04-18 12:04] elasticmachine commented on #130451
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-18 12:09] stratoula commented on #130443
Hey @vickydayma, I saw that you have also opened this issue https://github.com/elastic/kibana/issues/130444. Can I close this one in favor of it or is this for something else?

[2022-04-18 12:11] stratoula commented on #130444
I am closing this as there is already a request for case insensitive filters here https://github.com/elastic/kibana/issues/50171 and here https://github.com/elastic/kibana/issues/55378

[2022-04-18 12:11] #130444 closed

[2022-04-18 12:13] stratoula commented on #130442
@kausar3033 can you provide more details here ? The title is very generic and the description doesnt give any details on your problem. Thanx a lot!

[2022-04-18 12:13] lizozom commented on #77945
Closing due to no activity. Re-open if needed 🙏🏻

[2022-04-18 12:13] #77945 closed

[2022-04-18 12:13] elasticmachine commented on #130436
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-18 12:14] lizozom commented on #54595
We are actively working on https://github.com/elastic/kibana-team/issues/501

[2022-04-18 12:15] #54595 closed

[2022-04-18 12:15] lizozom commented on #29281
Will be done as part of https://github.com/elastic/dev/issues/1443
Once we have customer deployments reporting APM stats to the overview cluster, we should be able to create monitorting and alerts around them.

[2022-04-18 12:17] lizozom commented on #30095
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:17] #30095 closed

[2022-04-18 12:17] stratoula commented on #130436
I think that the problem can be fixed by assigning specific width and height.

Running the aforementioned config on the[ vega editor,](https://vega.github.io/editor/#/url/vega/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykSArJQBWENgDsQAGhAATONABONHJnaT0AQQAETJBBpRdSRdtgnM2uAA8kCHABs4U7QHc6MbcSQOGcbQ5ITHAOENoQMGyu4toMOBLaCGwMEP6RpIqU0iA4SLKyNOJkaKBMbNhsCGgAjAIADAC+MrJImCioANqg4nZwa

[2022-04-18 12:17] lizozom commented on #31963
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:17] #31963 closed

[2022-04-18 12:18] lizozom commented on #17933
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:18] #17933 closed

[2022-04-18 12:18] lizozom commented on #23041
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:18] #23041 closed

[2022-04-18 12:18] lizozom commented on #23089
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:18] #23089 closed

[2022-04-18 12:18] lizozom commented on #21138
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:18] #21138 closed

[2022-04-18 12:19] lizozom commented on #24093
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:19] #24093 closed

[2022-04-18 12:19] elasticmachine commented on #130427
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-18 12:19] lizozom commented on #28536
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:19] #28536 closed

[2022-04-18 12:19] lizozom commented on #32313
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:19] #32313 closed

[2022-04-18 12:19] lizozom commented on #32521
Closing due to inactivity.
Feel free to re-open if needed 🙏🏻

[2022-04-18 12:19] #32521 closed

[2022-04-18 12:20] stratoula commented on #130427
I am pretty sure that there are ongoing discussions for improving the Discover's layout but @kertal and @ryankeairns you know better :D

[2022-04-18 12:20] elasticmachine commented on #130412
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-18 12:20] lizozom commented on #54626
This is being worked on with https://github.com/elastic/kibana-team/issues/501
I'm closing this issue for now. Please add any suggestions on the linked issue. 🙏🏻

[2022-04-18 12:20] #54626 closed

[2022-04-18 12:21] lizozom commented on #49015
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:21] #49015 closed

[2022-04-18 12:23] samratbhadra-qasource commented on #122529
Hi @joshdover ,
We have revalidated this issue on the latest **8.2.0-BC3** build and found that the issue is still **reproducible**. Please find below the testing details:

- No confirmation message is displayed while deleting an Enrollment token.

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/163805971-1ab8bdf7-e09e-4e02-8010-f279487c9de0.mp4

**Build Details:**
VERSIO

[2022-04-18 12:23] lizozom commented on #68440
@legrego Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:24] lizozom commented on #59454
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:24] #59454 closed

[2022-04-18 12:27] lizozom commented on #84621
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:27] #84621 closed

[2022-04-18 12:27] lizozom commented on #84623
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:27] #84623 closed

[2022-04-18 12:27] lizozom commented on #84647
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:28] #84647 closed

[2022-04-18 12:36] paul-tavares commented on #118479
@pzl interesting comments above re: transform☝️

[2022-04-18 12:40] lizozom commented on #84923
@lukeelmers @mshustov

This issue has been without activity for a while now.
Is it still relevant? Can it be made more actionable?
If it is releveant, we can add it to the Kibana Performance project and groom it.

[2022-04-18 12:41] lizozom commented on #86833
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:41] #86833 closed

[2022-04-18 12:43] lizozom commented on #78353
Duplicate of https://github.com/elastic/kibana/issues/78351
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:43] #78353 closed

[2022-04-18 12:48] lizozom commented on #78348
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:48] #78348 closed

[2022-04-18 12:49] lizozom commented on #95801
This was a relatively minor issue, compared to other performance concerns about how Search Sessions perform.
Closing this issue due to inactivity.
Feel free to reopen if needed 🙏🏻

[2022-04-18 12:51] lizozom commented on #98383
@mattkime Should we maybe close this issue in the meanwhile?
Or do you think this is useful for tracking?

[2022-04-18 12:52] amolnater-qasource commented on #104987
Hi @nchaulet
We have created **17** testcases for this feature under our Fleet test suite at link [fleet_suite](https://elastic.testrail.io/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=35102).

Please let us know if we are missing anything.
Thanks

[2022-04-18 12:58] lizozom commented on #121509
Sounds like a small and useful thing to do, especially as we try to reduce bundle sizes.
Why not tackle this?

[2022-04-18 13:28] #130313 closed

[2022-04-18 13:28] #130312 closed

[2022-04-18 13:49] #117776 closed

[2022-04-18 13:49] smith commented on #98010
Do we think we should close this and assume doing #122550 and #124130 will get us to a place where things are acceptable?

[2022-04-18 13:52] smith commented on #128627
Closing this for now based on @katefarrar's recommendation.

[2022-04-18 13:52] #128627 closed

[2022-04-18 13:56] ryankeairns commented on #130427
Thanks for the feedback, we agree the space is not currently being used as efficiently as it could.

We are working to address this in a few spots, including: not showing an empty filter row at all times, possibly relocating/consolidating the controls directly above the histogram, and other chart styling options.

[2022-04-18 13:58] nchaulet commented on #130383
@kpollich I am closing this as it seems working correctly to me.

[2022-04-18 13:58] #130383 closed

[2022-04-18 13:58] mikecote commented on #129128
@kobelb, any objections to adding the following validations?
- Can't set `xpack.alerting.rules.execution.actions.max` higher than `100,000`
- Can't set `xpack.alerting.rules.minimumScheduleInterval` to an interval greater than `1d`

[2022-04-18 14:01] smith commented on #123682
At this time this looks like something more likely to be handled by @elastic/platform-deployment-monitoring that could  perhaps be later brought into a future version of stack monitoring. Closing because it doesn't look like something @elastic/infra-monitoring-ui should be handling at this time.

[2022-04-18 14:01] #123682 closed

[2022-04-18 14:04] lizozom commented on #95864
Closing as duplicate of https://github.com/elastic/kibana/issues/89025

[2022-04-18 14:04] #95864 closed

[2022-04-18 14:13] lizozom commented on #95853
@tylersmalley and @danielmitterdorfer
I've merged PRs from this issue into https://github.com/elastic/kibana/issues/88678
I'm closing this issue and we can continue any related conversations there.

On a side note, I do think that we need to justify and prove whether bundle splitting is a good strategy in the long term in our [performance tests](https://github.com/elastic/kibana-team/issues/501).

[2022-04-18 14:25] smith commented on #130128
Closing this. It doesn't look like something @elastic/infra-monitoring-ui would be capable of implementing at this time.

[2022-04-18 14:40] justinkambic commented on #129297
I tested this locally by checking out e93f9c7780cd957cf7d5f981a6ee5b9693f1a438, standing up a stack, and then starting up a recent `8.2` branch. I was able to change the original settings to `something-*` (on the earlier commit), and then proceeded to run a new Kibana from recent `8.2`.

When I loaded up the settings view in the second instance, I saw this:

<img width="838" alt="image" src="https

[2022-04-18 14:43] kobelb commented on #129128
@mikecote no objections from me.

[2022-04-18 14:55] cristina-eleonora commented on #116451
It's a really nice concept, @yuliacech. What benefits does this approach offer over normal filters?

How would this work for mobile, where each row becomes a card and the column header is present within each card?

<img width="300" alt="Screenshot 2022-04-18 at 16 54 04" src="https://user-images.githubusercontent.com/44808440/163826749-210bc0d5-6581-41bf-b609-a09946efc9ae.png">

[2022-04-18 14:59] nreese opened #130461 "[maps][vega] Unable to use topojson EMS boundary layers"
Reported by https://discuss.elastic.co/t/vega-ems-problems-using-ems-map-world-countries/302507

To view problem:
* Create new vega visualization
* Set script to
[code]

<img width="500" alt="Screen Shot 2022-04-18 at 8 57 10 AM" src="https://user-images.githubusercontent.com/373691/163827163-820f6008-ecef-4462-8436-787a5a953136.png">

[Vega implementation switched from leaflet to maplibre in 7.12

[2022-04-18 14:59] elasticmachine commented on #130461
Pinging @elastic/kibana-gis (Team:Geo)

[2022-04-18 14:59] elasticmachine commented on #130461
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-18 15:08] tylersmalley opened #130463 "Ability to extract all available kibana.yml settings for a CLI tool"
We [would like to automate](https://github.com/elastic/kibana/issues/30598) the management of the [settings](https://github.com/elastic/kibana/blob/main/src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker#L17) available to Docker. Currently, when new settings are added or changed, they need to be manually added to this file.

Operations needs to be able to capture the

[2022-04-18 15:09] elasticmachine commented on #130463
Pinging @elastic/kibana-core (Team:Core)

[2022-04-18 15:18] lukeelmers commented on #130463
For Option 1, I could see a scenario where we conditionally expose the schemas collected during discovery based on a flag. But then we are maintaining an API in core just for the sake of this tooling, and it is another code path to test. We'd also have to decide exactly how we'd want to expose the schemas.

Option 2 seems more preferable and in line with the overall long term direction we have bee

[2022-04-18 15:21] mikecote commented on #129128
@ersin-erdal I have the Kibana PR here => https://github.com/elastic/kibana/pull/130465 but I will let you follow up if there was anything to do with Cloud allow list or what not before closing this issue off.

[2022-04-18 15:28] neptunian commented on #120384
New PR https://github.com/elastic/kibana/pull/130466

[2022-04-18 15:29] davemoore- commented on #130319
I was able to fix the symptoms by changing `api-gateway` from an Nginx service instrumented with `opentelemetry/cpp` to a Python service instrumented `opentelemetry/python`.

I don't think this is ready to be marked as resolved until we can determine why the `opentelemetry/cpp` instrumentation resulted in an incorrect presentation of data in Elastic APM. Plausibly, the `opentelemetry/cpp` instrume

[2022-04-18 15:35] #130033 closed

[2022-04-18 15:37] mistic commented on #115488
This test has been failing both on our `8.2 forward compatibility` and `7.17 snapshot verify` builds so I'm skipping it.

https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-2-forward-compatibility/builds/23
https://buildkite.com/elastic/kibana-elasticsearch-snapshot-verify/builds/1099#73a4aba9-0752-4001-87fe-873586e4083d

Skipped.

7.17: [ca5ed65](https://github.com/elastic/kibana/commit/c

[2022-04-18 15:38] #120640 closed

[2022-04-18 15:44] #93971 closed

[2022-04-18 15:44] mistic opened #130474 "Failing ES 8.2 forward compatibility: API Integration Tests / apis saved_objects /deprecations/_delete_unknown_types should return 200 with individual responses"
**API Integration Tests**
test/api_integration/apis/saved_objects/delete_unknown_types.ts

API Integration Tests / apis saved_objects /deprecations/_delete_unknown_types should return 200 with individual responses

This failure is preventing the ES 8.2 forward compatibility pipeline to successfully run

- [Failed job](https://buildkite.com/elastic/kibana-7-dot-latest-es-8-dot-2-forward-compatibili

[2022-04-18 15:44] elasticmachine commented on #130474
Pinging @elastic/kibana-core (Team:Core)

[2022-04-18 15:46] #120269 closed

[2022-04-18 15:50] #119409 closed

[2022-04-18 15:52] jasonrhodes commented on #119226
@simianhacker if you want to confirm for @XavierM if this is still something we'd like to have, in case they want more specific requirements?

[2022-04-18 16:09] #128302 closed

[2022-04-18 16:14] jasonrhodes commented on #127224
@Kerry350 / @matschaffer would you say that https://github.com/elastic/kibana/pull/130097 will close the last two items on the TS list (APM routes and iots plan)? If so, that should (hopefully) make the rest of the routes folder be much simpler to get through, IIUC?

[2022-04-18 16:18] #113294 closed

[2022-04-18 16:25] zizhouW commented on #130363
@karanbirsingh-qasource could you confirm that the session tested with in the video is the same as the one shown in https://github.com/elastic/kibana/issues/130362? If it is the alerts count should be correct, since in the other video, there are 8 more nested alerts in the child processes, and the number shown in the detail panel alerts tab is the total amount of alerts in the session (up to 500).

[2022-04-18 16:44] #129195 closed

[2022-04-18 17:03] elasticmachine commented on #130319
Pinging @elastic/apm-ui (Team:apm)

[2022-04-18 17:22] Heenawter opened #130488 "[Controls] Add accessibility tests"
As noted by @rashmivkulkarni,  we don't currently have **any** accessibility tests for the new input controls. Before these are released officially in `8.3`, we should make sure to add accessibility tests such as those found in `kibana/test/accessibility/apps/dashboard.ts`

[2022-04-18 17:22] elasticmachine commented on #130488
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-04-18 17:22] elasticmachine commented on #130488
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-04-18 17:49] jasonrhodes commented on #127695
Just to make sure I understand something here, I think I really like the idea of a `useKibana` hook but in one of these two scenarios:

**Caller-only**

Shared components require _specific_ dependencies, and callers can use the hook to store/access their start contracts, select the required dependency(ies), and pass them explicitly into the shared component.
[code]

**Kibana Ecosystem**

The more

[2022-04-18 17:55] jasonrhodes commented on #69061
@joshdover do you have someone you could divert to the initial work here? @smith this will likely become more and more important for us as well, so it might be nice to donate a few engineer hours to help test/review any changes that come out of this. We could possibly pick up the work, but it may not be for a little while if we go that route.

[2022-04-18 18:04] mitodrummer commented on #130363
The Alerts tab is the count of all alerts (open, ack, and closed) for the entire session, not just what is selected. So I imagine there is another process which has the rest of the alerts that are unaccounted for.

[2022-04-18 18:07] jasonrhodes opened #130492 "[Stack Monitoring] Document and test necessary roles and permissions for Stack Monitoring"
If this doesn't already exist, we need solid documentation on the required role(s) we expect users to use when setting up various Stack Monitoring scenarios. We have some documentation on this in various places, but we should confirm that we have docs for all of the following scenarios and that they are up to date, correct, and consistently presented across collection setups.

* Internal collectio

[2022-04-18 18:07] elasticmachine commented on #130492
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-04-18 18:08] mitodrummer commented on #130360
This can be fixed if this gets fixed: https://github.com/elastic/security-team/issues/3584

[2022-04-18 18:10] mitodrummer commented on #130368
Most likely a result of missing data from the endpoint. see: https://github.com/elastic/endpoint-dev/issues/10902

[2022-04-18 18:22] zizhouW commented on #130357
should be fixed from this issue https://github.com/elastic/kibana/issues/128966#:~:text=Property%20name%20text,to%20Figma%20QA%232

[2022-04-18 18:30] #129836 closed

[2022-04-18 18:31] jasonrhodes commented on #127235
I think this would be incredibly useful and that we should bump it up to the top of our tech debt plan. Thanks for laying out the baseline requirements, @matschaffer !

[2022-04-18 18:39] opauloh commented on #130357
@animehart let me know if you addressed this issue among the other Details Panel fixes, otherwise, I can take this one

[2022-04-18 18:58] dominiqueclarke commented on #78430
Retested in Cloud to ensure that the JavaScript errors href issue was resolved. Everything looks all good to me.

[2022-04-18 19:04] XavierM commented on #124715
@banderror, @vitaliidm, I am thinking about it a little bit differently here, why we are not moving the internal tag in a different attributes like `internal_tag` and since you are our only user who are having internal tags, I think it will make sense to move this new attribute in params. Then we just need to write a migration for it and keep the code the way it is. What do you think?

[2022-04-18 19:04] #126817 closed

[2022-04-18 19:07] jasonrhodes commented on #124130
Sorry for the delay in responding but this sounds like an excellent plan of action to me.

[2022-04-18 19:07] jasonrhodes commented on #98010
Yeah I think #124130 in particular just replaces this one.

[2022-04-18 19:07] #98010 closed

[2022-04-18 19:10] jasonrhodes commented on #129845
I'm concerned about why that query returns the event.dataset value to be "unknown" for those logs, though -- separately from the overview page. @weltenwort do you have any thoughts on why that query would act that way if the event.dataset value is set for the log documents?

[2022-04-18 19:16] jasonrhodes commented on #129351
Thanks, @matschaffer -- I gather from this that outside of waiting for an APM solution, this suggestion sounds like the best path forward for the short-term, is that right? https://github.com/elastic/kibana/issues/129351#issuecomment-1094630051

If so, could we summarize that in a comment on the other ticket? It might be nice for that group who have expressed interest in this feature to weigh in o

[2022-04-18 19:25] jasonrhodes commented on #127219
This is great. I'm going to let @smith weigh in on how to use this information to label/categorize SDHs in the future so we can track which problems are re-appearing. It'd be great if we could show that certain issues have disappeared from SDH load!

[2022-04-18 19:26] rayafratkina opened #130501 "[Lens] Lens should respect custom field names"
**Kibana version:**
8.1

**Describe the bug:**
I set a custom name for `system.cpu.total.norm.pct`  in Discover.
Now I open Lens - the custom name is gone...

**Steps to reproduce:**
1. Open discover.  Click on a field and select 'edit'. Set a custom name.
2. Open lens and create a visualization using the field.
Notice the original name is displayed in both the field list and the config panel.

**

[2022-04-18 19:26] elasticmachine commented on #130501
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-18 19:32] nickpeihl commented on #130461
Looks like we need to fix the documentation since TopoJSON requires a slightly different syntax than GeoJSON. Instead of `format: {property: "features"}` it should be `"format": {"type": "topojson", "feature": "data"}` where `data` is the key under `objects` in https://vector.maps.elastic.co/files/world_countries_v7.topo.json.

For example:

[code]

[2022-04-18 19:33] hbharding commented on #128475
# Design update

![Kapture 2022-04-18 at 15 03 17](https://user-images.githubusercontent.com/847805/163861302-63855a01-c60f-4c27-b23f-52e942bee6b6.gif)

Hello! Posting the latest designs that I have for this. I've incorporated a bunch of feedback already, but please let me know if you have any questions or concerns. For this issue, my designs are mainly focused on the empty state when no monitors

[2022-04-18 19:36] rayafratkina commented on #130501
I realized it was a display name, so both field list and config panel currently ignore the custom name set in Discover

[2022-04-18 19:36] #130006 closed

[2022-04-18 19:52] VijayDoshi opened #130503 "[Discover] Add "Toggle Field" action to Expanded Document view for quick access"
In the Expanded document view in Discover you have to click on the actions "..." to get to the "toggle field" action. Users would like easier access to this action. I suggest we provide a Toggle field action in a new column to the right of Actions in the expanded document view. Perhaps use the same "+" icon/behavior as is in the field list so the UI is not cluttered and the action is consistent.

[2022-04-18 19:52] elasticmachine commented on #130503
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-04-18 19:54] tsullivan commented on #129524
The solution we went with was to stream the output data to the client as the search results are compiled into CSV

Fixed in #123067

[2022-04-18 19:55] tsullivan commented on #129524
Sorry - I just realized that this issue was filed against 8.1, which includes that change I linked to.

[2022-04-18 19:57] tsullivan commented on #129524
@llermaly Can you provide a HAR file of the dashboard app, so we can see the network requests and what is happening with them? If not, maybe just a screenshot of the network panel of the browser, showing the request to download the CSV?

[2022-04-18 19:57] elasticmachine commented on #129524
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-04-18 20:05] llermaly commented on #129524
Hello @tsullivan , the download times out before finishing:

![image](https://user-images.githubusercontent.com/8575569/163869176-bc2284f7-2828-4df6-86c2-2834580e2395.png)

If you wait until the end the red toast mentioning time out appears.

![image](https://user-images.githubusercontent.com/8575569/163869628-aade4567-0bb2-4407-9a35-2170a63304e6.png)

Moment of failure

![image](https://user-imag

[2022-04-18 20:14] jasonrhodes commented on #128959
So I think there are two ideas here but I just want to make sure I'm tracking. Given the following setup:

| Cluster | Type | Components | Monitoring Cluster? |
| :--- | :--- | :--- | :---: |
| A | Production | Elasticsearch A + Kibana A + APM A | D |
| B | Staging | Elasticsearch B + Kibana B + APM B | D |
| C | Test | Elasticsearch C + Kibana C + APM C | D |
| D | Monitoring | Elasticsearch D +

[2022-04-18 20:36] zizhouW commented on #130369
Fixed in above mentioned PR https://github.com/elastic/kibana/pull/130496

[2022-04-18 20:49] hbharding commented on #128473
# Design  update

![Kapture 2022-04-18 at 15 47 08](https://user-images.githubusercontent.com/847805/163872620-2d7fb14c-9dbb-4b07-b2da-74e79457da31.gif)

Hello! Posting some updates and details for the **create** and **edit** monitor pages. Off the bat, I want to point out that this is more than a simple "lift and shift". I'm hoping we can reuse or copy a lot of our existing code for the form inpu

[2022-04-18 21:04] shahzad31 commented on #128473
Looks amazing, love the details.

[2022-04-18 21:48] hbharding opened #130513 "[Synthetics App] Getting started tour"
Related to: https://github.com/elastic/kibana/issues/128475

# Summary

After users create their first monitor, we want to demonstrate the capabilities / value that monitors provide so users are more likely to adopt the product. Without any context, landing on this page may feel overwhelming and confusing. By providing the opportunity to take a tour, we can better set user expectations and increas

[2022-04-18 21:48] elasticmachine commented on #130513
Pinging @elastic/uptime (Team:uptime)

[2022-04-18 21:58] spong commented on #128340
With regards to ML Rule failures, we should surface the underlying job/datafeed error(s) as the current _job missing/not running_ error is not helpful in guiding the user to the ML App to determine why their ML Jobs are not operational. We should also include a link to ([and expand](https://github.com/elastic/security-docs/issues/1849)) the [ML Rule Troubleshooting documentation](https://www.elast

[2022-04-18 22:20] #130199 closed

[2022-04-18 22:42] LeeDr commented on #128993
I just tried this same test except;
1. I started with 6.8.23 and installed sample data and checked that the Canvas workpad worked
2. Upgraded to 7.17.1 and found the same error as above.
3. Tried opening the Canvas workpad again and this time it worked (still on 7.17.1)
The only error I see in the Cloud Kibana log since upgrade is this one (which doesn't look like it's related to the canvas workpa

[2022-04-18 23:15] elasticmachine commented on #128101
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-18 23:29] lukasolson commented on #113694
Hi @cpmoore! I am hoping you can share more details about what you are requesting. Are you requesting a way for readonly users to share their current state of filters/queries without creating a saved object?

[2022-04-18 23:33] liza-mae commented on #128993
For clarification, this bug happens when originating from 6.8.x version and when launching canvas from the home page.  I don't observe the behavior where it does not work then works, it is broken when launching from home page, the sample id appears to have changed.

The id from the home page is: ```[canvas-workpad/workpad-ad72a4e9-b422-480c-be6d-a64a0b79541d]``` which fails, it is showing as ```/w

[2022-04-19 00:12] #128088 closed

[2022-04-19 00:12] #127233 closed

[2022-04-19 00:12] #129948 closed

[2022-04-19 00:12] #127023 closed

[2022-04-19 00:13] tsullivan commented on #17906
@LeeDr Checking in on this old issue. Is it still needed?

[2022-04-19 00:24] dhurley14 opened #130517 "[Security Solution] [Detections] [Platform] Expose `_tier` in the Security Solution"
Currently (versions `<= 8.1`), if users want to segment data in the security solution between the different data tiers they have to rely on index aliases. By exposing the [`_tier`](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-tier-field.html) field in queries executed in the security solution, we can better provide users with finer-grained controls when searching for ale

[2022-04-19 00:24] elasticmachine commented on #130517
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-19 00:36] cpmoore commented on #113694
Hi @lukasolson,
You got it! I'm requesting a way for users (read only, or otherwise) to be able to export their search results in CSV format without the need for creating the saved search first. Since every saved search is public in a space, requiring the saved object leads to a lot of saved objects cluttering everyone's view that may only be needed for a one time export.
Of course a user with edi

[2022-04-19 00:50] j-bennet opened #130518 "_cat/indices API output looks odd, like a quoted string"
**Kibana version:**

docker.elastic.co/kibana/kibana:8.3.0-SNAPSHOT

**Elasticsearch version:**

docker.elastic.co/elasticsearch/elasticsearch:8.3.0-SNAPSHOT

**Server OS version:**

Running in Docker.

**Browser version:**

Chrome Version 100.0.4896.88 (Official Build) (x86_64)

**Browser OS version:**

MacOS Monterey 12.3.1

**Original install method (e.g. download page, yum, from source, etc.):

[2022-04-19 01:09] matschaffer opened #130520 "[Stack Monitoring] Document data stored for enterprisesearch module"

[2022-04-19 01:22] kunisen commented on #128959
Thanks @jasonrhodes for the comment!

Yes, you are right, we had several rounds of discussion internally and it came out that using CCS is much simpler than local duplication, in terms of the complexity aspect (, while local duplication idea, self-monitoring itself isn't really an issue, i.e. self-monitoring can block monitoring visibility).

Sorry but can you share some more insights about how to

[2022-04-19 02:39] clintandrewhall commented on #127695
@jasonrhodes I'm still recovering from strep, but take a look at https://github.com/elastic/kibana/pull/130355 where I landed on a pattern that is similar to what you're describing:

- `README` for Shared Components: https://github.com/elastic/kibana/blob/main/packages/shared-ux/README.mdx
- `Services` for `ExitFullScreenButton`: https://github.com/elastic/kibana/blob/main/packages/shared-ux/butto

[2022-04-19 02:45] clintandrewhall commented on #127695
@jasonrhodes The biggest drawbacks to the current model include:

- having to mock/implement entire start contract objects when you want to use a component and the contract is unavailable, not desired, etc.  Storybook and Jest are great examples of how difficult this is, (e.g. huge portions of `coreStart` cast as `any`).
- contexts containing enormous amounts of nested objects.  I don't have solid

[2022-04-19 03:35] matschaffer commented on #129351
@jasonrhodes that summary is the description of https://github.com/elastic/kibana/issues/130078, specifically option 2. I included the doc structure from @b-deam 's work there for now. Mine is essentially the same just with more prometheus-style prefixing.

[2022-04-19 04:10] kertal commented on #95042
Closing since done, continuation in #101041

[2022-04-19 04:10] #95042 closed

[2022-04-19 04:24] kertal commented on #106379
@Dmitriynj I don't think we will improve our classic table, which renders 500 docs when you scroll down, which can lead to the issues you described, mind if we focus on https://github.com/elastic/kibana/issues/101041 to improve performance and close this? We should definitely limit the number of fields that we're fetching / rendering. partly we are already doing it

[2022-04-19 04:31] kertal commented on #130503
This was recently discussed, the request was that adding a filter takes more clicks now. So there are different requirement.  What we could do is to make `...` responsive. For small screen sizes we could display `...` like now. For larger screen sizes we could display all 5 buttons.

[2022-04-19 04:43] elasticmachine commented on #13016
Pinging @elastic/kibana-graph (Feature:Graph)

[2022-04-19 05:10] Dmitriynj commented on #106379
Sure, I agree. We can move our focus to #101041

[2022-04-19 05:10] #106379 closed

[2022-04-19 06:09] tomsonpl commented on #128768
This should be fixed when this MR https://github.com/elastic/kibana/pull/130523 gets merged :)

[2022-04-19 06:40] simranvaseer-qasource opened #130524 "[Fleet]: Error page on clicking upgrade button for "System" integration with v0.8.0"
**Kibana version**: 8.2.0 BC-3 Kibana Cloud environment

**Host OS and Browser version**: All, All

**Build details:**
BUILD: 51885
COMMIT: 2ea6dc82752506d6f7aa34bda747f99c6fbfd152

**Preconditions:**
- 8.2.0 BC-3 Kibana Cloud environment should be available.
- Lower version System integration should be available, say 0.8.0

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower vers

[2022-04-19 06:40] elasticmachine commented on #130524
Pinging @elastic/fleet (Team:Fleet)

[2022-04-19 06:42] stratoula commented on #113719
@flash1293 @ghudgins this setting is going to be off or on by default?

[2022-04-19 06:47] #104697 closed

[2022-04-19 06:48] #123795 closed

[2022-04-19 06:53] karanbirsingh-qasource commented on #130524
secondary review is done

[2022-04-19 07:53] mbondyra commented on #130501
Reserving for mob programming session.

[2022-04-19 08:15] endorama commented on #112272
Variables in `policy_template` (excerpt):
[code]

Variables moved from input to package root (excerpt):
[code]

[2022-04-19 08:17] #129424 closed

[2022-04-19 08:24] deepikakeshav-qasource opened #130532 "[Security Solution] Extra space is displaying when click on jump to alerted process under alert panel."
**Describe the bug**
Extra space is displaying when click on jump to alerted process under alert panel.

**Build Details:**
[code]

**preconditions**
1. Data should be exist under session view

**Steps to Reproduce**
1. Navigate to host page
2. Click on "Session view" icon in session tab
3. Click on detail panel button
4. Increase the width on panel
5. Click on alerts tab under detail panel
6. Cli

[2022-04-19 08:24] elasticmachine commented on #130532
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-04-19 08:25] gmmorris commented on #119696
I've taken this on to unblock a customer ask.
We shouldn't expose the config on the API if we can avoid that (this is a bigger risk with preconfigured connectors due to the lack of space awareness and limited RBAC.

Instead I am moving the deprecation check into the server side.

[2022-04-19 08:25] MadameSheema commented on #128626
Thanks @constancecchen!! :)

@deepikakeshav-qasource can you please validate the issue on the latest 8.2.0-SNAPSHOT and the next 8.2.0 BC? Thanks!! :)

[2022-04-19 08:29] cnasikas commented on #119696
Should we return an `is_deprecated` field at the same level as the `is_preconfigured` attribute? Connectors on registration can provide a `isDeprecated: (config, secrets) => boolean` function that the framework will call to determine the `is_deprecated` field.

[2022-04-19 08:34] deepikakeshav-qasource commented on #128626
Hi Team,

We have validated this issue on **8.2.0 SNAPSHOT** and observed that issue is **Fixed**  🟢

Please find below the testing details:

**Build Details:**
[code]
**Screencast**

https://user-images.githubusercontent.com/61860752/163960331-dbdee5fc-a3af-4d18-bafc-30ceac8bc0c5.mp4

We will validate this issue on **8.2.0 BC4** once it will be available.

Thanks!!

cc: @MadameSheema

[2022-04-19 08:50] flash1293 commented on #130501
@rayafratkina This should work and from a quick test on main and 8.1 I can't reproduce the problem. Could you provide the exact steps you took?

One common pitfall is that there are multiple data views with the same or a very similar name and Discover and Lens are using different ones (Lens has a different logic than Discover for the default selection)

[2022-04-19 09:04] flash1293 commented on #130436
Theoretically we should be able to control this because we render the controls ourselves: https://github.com/elastic/kibana/blob/eb0ef19583089b8de61747195c117d86f4ed77eb/src/plugins/vis_types/vega/public/vega_view/vega_base_view.js#L117

[2022-04-19 09:04] amolnater-qasource opened #130535 "[Fleet]: `Confirm Agent enrollment` and `Incoming data confirmed` are not removed on changing policy under Add Agent flyout."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. `Agent policy 1`  and `Agent policy 2` should already be created.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and click Add agent button.
3. Instal

[2022-04-19 09:04] elasticmachine commented on #130535
Pinging @elastic/fleet (Team:Fleet)

[2022-04-19 09:10] flash1293 commented on #130436
Here I pulled out the controls element as a sibling of `.vgaVis__wrapper` and it seems like it's rendering as expected (taking the controls into account for the auto height - not sure why there are still scrollbars):
<img width="948" alt="Screenshot 2022-04-19 at 11 08 46" src="https://user-images.githubusercontent.com/1508364/163970578-81524625-7de0-4b01-b3d0-41d8febfb519.png">

[2022-04-19 09:19] ersin-erdal commented on #129128
I don't think that we need to change anything in cloud allowed list but updating Docs might be helpful. e.g. Value can be maximum 1d or 100.000

[2022-04-19 09:21] elasticmachine commented on #130461
Pinging @elastic/kibana-docs (Team:Docs)

[2022-04-19 09:22] teresaalvarezsoler commented on #130318
I also think a toggle will work better here. Fyi, we haven't seen major usability problems with this option during our user research sessions. I remembered one user clicking that option when he had no selections made and he seemed to understand why nothing was being shown. While I agree a better UX will imply the toggle and disabling when no selection is made, this can fall into the nice-to-have i

[2022-04-19 09:33] karanbirsingh-qasource commented on #130535
secondary review done

[2022-04-19 09:34] mtojek commented on #129303
I created an issue for this: https://github.com/elastic/elastic-package/issues/791

[2022-04-19 09:45] Dosant commented on #105441
@lizozom, thanks! let's close this one in favor of https://github.com/elastic/kibana/issues/106395

[2022-04-19 09:53] janmonschke commented on #123193
Since the fix will have an impact to a lot of places where the `Agent status` field is shown, we decided not to squeeze this into 8.2 but to work on it for 8.3 and take some time to make sure that the field behaves correctly in other contexts.

[2022-04-19 09:53] vitaliidm commented on #124715
@XavierM , that would require to change our logic that uses internal tags across the app. For example filtering Elastic/custom rules and so on. I had a quick look, there are not that many places that uses it(few places for immutable tag, few for internal rule)

@banderror , any additional concerns you can think of, that might rise if try to move internal tags to a separate field within params?

[2022-04-19 09:54] elasticmachine commented on #130450
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-19 10:08] MadameSheema commented on #130369
@muskangulati-qasource can you please validate this fix on latest 8.2 branch and next 8.2 BC? Thanks! :)

@zizhouW feel free to ping me in case you are interested in a pair testing session or if you have any doubt/question ;)

[2022-04-19 10:12] markov00 commented on #113719
IMHO this should be off by default.
This configuration should contain 3 options:
1) no sync (only the chart with the mouse over it will show the tooltip)
2) sync only the cursor (the current chart will show the tooltip, all the others just the cursor)
3) sync and show tooltip everywhere.

I'm saying that because in some cases, like in TSVB and in Timelion, the legend already reflects the value of

[2022-04-19 10:25] #129372 closed

[2022-04-19 10:28] stratoula commented on #113719
@markov00 yes I agree with being off by default tbh. This is how I implemented it I just wanted to be certain that this is what we agreed on our planning.

About the second one `sync only the cursor (the current chart will show the tooltip, all the others just the cursor)`. This feature already exists, it is always on and there is no switch to close it.

Is this something that we want to change?

[2022-04-19 10:32] #128092 closed

[2022-04-19 10:32] elasticmachine commented on #130366
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-04-19 10:33] markov00 commented on #113719
I know, I was only list what, in my opinion, should be the capabilities available at the dashboard level. point 2 is what it is today, point 3 is what you have added, point 1 is an interesting option that is currently not available, but available by our competitors

[2022-04-19 10:41] #105441 closed

[2022-04-19 10:45] banderror commented on #124715
@XavierM @vitaliidm I like the idea 👍 But I suspect we could even completely get rid of all those internal tags and wouldn't need to migrate them to `params. internal_tags`.

I don't have any historical context on why we have internal tags, but my guess is because we were not able to filter by `params.immutable` and `params.rule_id` in the past when `params` was mapped as object with disabled inde

[2022-04-19 11:17] MadameSheema commented on #130446
Updating the impact to `low` since there is an easy workaround for this issue.

[2022-04-19 11:17] elasticmachine commented on #130446
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-19 11:19] mbondyra opened #130545 "[Lens] Remove automatic ticks placement from gauge chart and use charts solution instead"
**Describe the feature:**
After merging https://github.com/elastic/kibana/pull/130264 we'll be able to remove the gauge code that is responsible for automatic ticks placement. Instead we can use the elastc-charts solution.

This is the main piece of code to remove: https://github.com/elastic/kibana/blob/main/src/plugins/chart_expressions/expression_gauge/public/components/gauge_component.tsx#L140

[2022-04-19 11:19] elasticmachine commented on #130545
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-04-19 11:21] elasticmachine commented on #130366
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-04-19 11:22] michaelolo24 commented on #130446
Hi @arvindersingh-qasource - Thanks for your work pointing this out! We would probably want to classify this as an enhancement because the behavior is supposed to act similarly to a modal in that it focuses the user on the action at hand. They've chosen to take an action on a specific alert, so we want them to complete that action and not lose context by changing anything on the underlying page. J

[2022-04-19 11:28] banderror commented on #130366
Another related one: https://github.com/elastic/kibana/issues/128740

Not sure that we own this component, but I did add both of these bugs to the Rules Area backlog.

[2022-04-19 11:36] amolnater-qasource commented on #104987
Hi Team
We have also created 01 testcase covering detailed steps for logstash output setup and checking the data under our Fleet test suite at link:

- [[Self-Managed]: Validate user is able to setup logstash output and data is available under Data Streams tab.](https://elastic.testrail.io/index.php?/cases/view/166098)

Please let us know if anything else is required from our end.
Thanks

[2022-04-19 11:36] amolnater-qasource commented on #130201
Hi @jen-huang
We have revalidated this issue on latest 8.2 Snapshot and found it **fixed** now.
- Kubernetes instructions are now available under Add Agent flyout when kubernetes integration is added to the policy.

**Build details:**
BUILD: 51972
COMMIT: 44f2776a5ece1844358845994c9f4a2dfec4c4a4

**Screenshots:**
![8](https://user-images.githubusercontent.com/77374876/163994321-bf873dc2-04cf-4fdc-

[2022-04-19 11:39] mshustov commented on #84923
It's on `AppServices` team to answer these questions as they own `data` plugin

[2022-04-19 11:40] sebelga commented on #129780
This is a design decision we've taken in our forms (and ideally all the forms should follow but it is not enforced in any way by the form lib). We only disable the button after trying to submit the form **if** the form is invalid (using the `isSubmitted` + `isInvalid` form states).

What is missing in the form here is the `isInvalid` and `error` prop to render the list of errors on top of the form

[2022-04-19 11:42] #123354 closed

[2022-04-19 11:42] rudolf commented on #130118
Ignoring the rest of the stack for a moment, as a Kibana developer I want to include extra details in my log messages that aren't indexed but which can provide additional details to help debugging. In this case we're logging the return value of a function which can have a different shape. We could serialize this meta/debug info and include it in the message, but that makes it harder to read the lo

[2022-04-19 11:59] jamiesmith opened #130548 "Add support for link_text field in the observability news feed and put the feed somewhere more noticeable"
## Describe the feature:
The newsfeed for observability isn't really prominent and doesn't seem to support the `link_text`. It should be similar to the security one.

### Position
The observability newsfeed could more prominent, as it is in security:
![image](https://user-images.githubusercontent.com/220994/163996062-ebe8d5ad-7437-4d49-9517-d0a6ce95e0cf.png)

But the observability newsfeed looks t

[2022-04-19 12:00] elasticmachine commented on #130548
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-04-19 12:19] #126161 closed

[2022-04-19 12:19] academo commented on #126161
yes. this is finished.

[2022-04-19 12:24] samratbhadra-qasource commented on #125534
Hi @hop-dev,
We have tested this feature on the latest **8.2.0-BC3** build and below are our observation:

1. We have observed that for various OS's the add agent command tab is available.
2. On installing agent the 'view enrolled agent' button is visible for 10 minutes after installing the agent.
3. We have observed that the 'Confirm agent enrolled' and 'Incoming data confirmed' status is visible

[2022-04-19 12:30] academo commented on #129185
@michaelolo24 @kqualters-elastic this is more a tracking task for the work cases will do in this component than a full descriptive design document of what will be the the alerts table component.

@XavierM is leading the initiative and he is the best person to contact to get details of how things will work together and all the configuration that will be possible in this component.

[2022-04-19 12:35] academo opened #130550 "Allow plugins to register columns in the actions triggers ui plugin for the alerts table component"

[2022-04-19 12:52] mgiota opened #130551 "[o11y Rules page] Add disabled indicator to rules disabled due to license"
### 📝 Summary
Current `Stack Management > Rules and Connectors` page adds a disabled indicator to the rules that are disabled due to license. We should implement existing functionality to o11y rules page as well.

### Acceptance criteria

- Add `actRulesList__tableRowDisabled` to the `EuiTableRow`
- Add tooltip with text `This rule type requires a Platinum license.`
- Add unit test for above scena

[2022-04-19 13:04] #129122 closed

[2022-04-19 13:04] danielkhan commented on #130548
@formgeist I think we didn't yet consider this section in our new design and this might also be an issue with screen real estate but please chime in.

@elastic/unified-observability can you answer Jamie's questions on `link_text` and `image_url` foe the current implementation?

[2022-04-19 13:13] yuliacech opened #130553 "[Console] Use Elasticsearch specification repo for autocomplete definitions"
### Summary
Elasticsearch specification [repo](https://github.com/elastic/elasticsearch-specification) contains Elasticsearch request/response definitions in TypeScript and is a reliable source for automatically generating autocomplete definitions for Dev Tools Console.

I think we should use the specification repo instead of [REST API specs](https://github.com/elastic/elasticsearch/tree/master/re

[2022-04-19 13:13] elasticmachine commented on #130553
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-04-19 13:17] jportner opened #130554 "Roles with legacy "Fleet and Integrations" privilege are malformed"
**Kibana version:**

8.1.0+

**Describe the bug:**

In older versions of Kibana, "Fleet and Integrations" was a single feature (id: `fleet`):

![image](https://user-images.githubusercontent.com/5295965/164010653-5d2f5c73-c75c-4d08-b3e2-b65781cb0217.png)

Starting in the 8.1.0 release, this feature was renamed to "Integrations" and a separate feature was added for "Fleet" (id: `fleetv2`):

![image]

[2022-04-19 13:18] flash1293 commented on #94619
After offline discussion, we decided to allow the user to collapse certain existing breakdown dimensions:
<img width="334" alt="Screenshot 2022-04-19 at 15 05 21" src="https://user-images.githubusercontent.com/1508364/164012597-78ae7316-8a48-41a0-9401-e736a4dd4a14.png">
<img width="323" alt="Screenshot 2022-04-19 at 15 05 35" src="https://user-images.githubusercontent.com/1508364/164012612-b8dab8a

[2022-04-19 13:25] kertal opened #130557 "[Reporting] CSV Export shows no data when an unmapped field is used as a column"
**Kibana version:**
main (I assume it's 7.13+ since this is related to the fields API changes=

**Describe the bug:**
When selecting a unmapped field in Discover as a column, exporting to CSV, the value of the field is not displayed, just a `-` is shown

**Steps to reproduce:**
1. Go to Dev Tools / Console to create the following data
[code]
2. Create a data view for recipes
3. Go to Discover and

[2022-04-19 13:25] elasticmachine commented on #130557
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-04-19 13:32] suchcodemuchwow commented on #130287
I believe we can create a new build that does run on PR's whenever we change something on performance related files and folders it can be a bit over defensive approach but we can guarantee the metrics are not polluted because of something breaking.

[2022-04-19 13:33] jportner opened #130562 "Add server-side validation for "Share to space" restrictions"
Users can share some saved object types to multiple spaces.

When you do this, Kibana actually fetches the entire reference graph (all child relations) for that object and shares all of them.

Before doing this, Kibana validates (A) if there are any conflicting legacy URL aliases in the destination spaces, and (B) if there are any existing objects with matching origins in the destination spaces. I

[2022-04-19 13:33] elasticmachine commented on #130562
Pinging @elastic/kibana-security (Team:Security)

[2022-04-19 13:42] karanbirsingh-qasource commented on #129286
Hi @MadameSheema

Please find the observation for latest 8.2.0-SNAPSHOT . Issue is fixed ✔️

**Build Details:**
[code]

**Snap-Shoot:**

- New Rule

![image](https://user-images.githubusercontent.com/59917825/164017195-8f3a9f0a-6430-4773-be60-85338d2a04ab.png)

- Editing existing rule

![image](https://user-images.githubusercontent.com/59917825/164016932-f9ac7e95-049f-4271-bfaf-dd81cbc80431.png)

[2022-04-19 13:42] dominiqueclarke commented on #126280
@ymao1 I'd like to revisit Uptime state vs context variables.

We have begun the process of copying alert state into alert context.

However when beginning the process of specifying alert recovery context, I realized that persisting values in state works well for Uptime. Uptime rules can apply to 1 or many Uptime monitors, trigger 1 or many alerts. At the time the rule is created, key information