[2020-12-04 21:00] jportner commented on #16714
I think what you recapped makes sense.

[Our XSRF defense relies on same origin policy](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#use-of-custom-request-headers), so IMO it should be aligned/relaxed with configurable CORS settings.

At this point the only function of the `kbn-xsrf` header defense is to make sure that HTML injection exploit

[2020-12-04 21:01] kobelb commented on #16714
👍

[2020-12-04 21:07] jportner commented on #16714
🙌  🙌  🙌

[2020-12-04 21:23] wylieconlon commented on #69450
@flash1293 That clarifies what you were thinking, thanks! That UI looks pretty similar to what I would expect as well.

My biggest priority is to optimize the defaults for 80% of the most common use cases, and I don't think that the defaults you've suggested are doing that. These are two of the most common queries we have, and they wouldn't display nicely with the defaults you've shown:

* A stack

[2020-12-04 21:24] MichaelMarcialis commented on #84558
While working on wireframe sketches for the table enhancements, a question occurred to me regarding these summary rows. Do we wish to support just a single "grand" summary row for the entire table? Or is the desire to support both a "grand" summary row for the entire table and sub-summary rows (assuming there is more than one row dimension item defined)?

![image](https://user-images.githubusercon

[2020-12-04 21:26] iankoetter commented on #17888
Bumping this a bit.. I didn't see this referenced again anywhere locally and stumbled across this issue from another search.

Personal user preferences should definitely include theme- I currently work in a shared space where the preference is 'dark' but would personally prefer the light theme. It is slightly insulting that it is a global setting, and not a per-user one.

[2020-12-04 21:28] #83976 closed

[2020-12-04 21:28] #84131 closed

[2020-12-04 21:28] #84134 closed

[2020-12-04 21:53] legrego commented on #16714
👍 thanks, Joe!

[2020-12-04 22:05] spalger opened #85078 "[dev/cli] switch to static basePath, send sockets to forks rather than running HTTP proxy"
I'm currently investigating the way that dev cli works and how we can start to improve the DX. Part of that process would be decoupling the dev cli from the core so that we can work on the code more easily and have more control over what is happening in the parent process. The primary reason for the coupling between the dev cli and core is the BasePathProxy, which previously was independent of the

[2020-12-04 22:05] elasticmachine commented on #85078
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-04 22:11] wylieconlon commented on #84558
@MichaelMarcialis That's a good question. I think there are no technical blockers to add that feature- we can insert extra rows with different styling, based on the example above. It still adds complexity to the feature set. Is it important to have in the first version, or are we okay with grand totals only in V1?

In terms of configuration: Grouped summaries only make sense when there are 2 or mo

[2020-12-04 22:24] #82892 closed

[2020-12-04 22:28] kobelb commented on #85078
Given that the Kibana Core team is planning to investigate https://github.com/elastic/kibana/issues/68626 during 7.x, I think we can ignore the HA requirements for now. If we're using Node.js clustering in development, we don't really need the dev-cli to handle this complexity.

I'm honestly not familiar with the current architecture of the base path proxy to have an intelligent opinion on the oth

[2020-12-04 22:38] flash1293 commented on #69450
After giving it a bit more thought I think you are right and nesting row agg within column aggs is a better default.

@MichaelMarcialis and me discussed a way to flip the nesting as well, I wonder whether we can split this part out and see how common that need is in real-world use cases. IMHO a fixed nesting already provides a lot of value and might be an easier to manage first iteration.

[2020-12-04 23:07] mattkime commented on #65284
The field list is no longer being cached - https://github.com/elastic/kibana/issues/78758

The index pattern will no longer be overwritten but there may be other consequences. That said, this should be a big step in the right direction.

[2020-12-04 23:29] wylieconlon commented on #78790
cc @flash1293 We should use this idea for Lens color assignment as well

[2020-12-04 23:47] alex-fedotyev commented on #84803
I think **Latency** has become a standard term in the industry, I agree on using it across the UI.

Regarding traffic or throughput, I have alternative suggestions to consider.
Main reason for alternative is that it would be used for both web traffic as well as rate of background jobs executions like dequeueing and processing messages from the queue or something similar, so it would be good to mak

[2020-12-05 00:29] elasticmachine commented on #85048
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-05 00:34] wylieconlon commented on #84978
Yes, I think it's fixed by https://github.com/elastic/kibana/pull/84979

[2020-12-05 01:00] kibanamachine opened #85085 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/resolver·ts - endpoint Endpoint Event Resolver Resolver Tree events "before all" hook for "Check Related Events for event.process Node""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10043/)

[2020-12-05 01:28] kibanamachine opened #85086 "Failing test: API Integration Tests.test/api_integration/apis/ui_counters/ui_counters·js - apis UI Counters UI Counters API stores ui counter events in savedObjects"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10044/)

[2020-12-05 01:53] cqliu1 commented on #83142
@elastic-Mak-Ito Is it sufficient to add support for `ip` type by treating it as a string in Canvas? What is the customer trying to display in Canvas?

[2020-12-05 02:09] cqliu1 commented on #84896
@Azkron Can you provide an example or mockup of how this multi page datatable should look for your use case?

[2020-12-05 02:13] cqliu1 commented on #70884
@nathanrstacey I'm going close this issue for now since it seems to be fixed in 7.9+. Please reopen if you experience this issue again.

[2020-12-05 02:13] #70884 closed

[2020-12-05 02:17] pmuellr commented on #60767
- "Disable alerts with the higher license alert types" sounds right.
- "Constantly throw the console errors with Forbidden error" is not good :-).  Could we arrange to log a console error when we disable the alerts, just once?

It would be nice to provide some text on why these are disabled in the alerts list and in alert details.

[2020-12-05 02:25] cqliu1 commented on #83243
This is a similar enhancement request to https://github.com/elastic/kibana/issues/84896.

[2020-12-05 02:26] elasticmachine commented on #84793
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-05 02:26] elasticmachine commented on #83568
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-05 02:34] cqliu1 commented on #47311
They were removed in #59982.

[2020-12-05 02:34] #47311 closed

[2020-12-05 02:48] cqliu1 commented on #23087
Do we want to automatically filter out rows with null values in all datasource functions? Does this mean that we would filter out all rows with a `null` value in any of the fields?

I think it'd be better to leave it up to the user to add a line like `| filterrows fn={getCell "value" | gt 0}` and have the user explicitly define the conditions for filtering out unusable data.

[2020-12-05 02:56] lcawl opened #85088 "Add documentation link in help menu for Machine Learning app"
**Describe the feature:**

Many apps have a context-specific documentation link in the help menu:

![image](https://user-images.githubusercontent.com/26471269/101231765-40fdc580-3662-11eb-8529-d3390ba382ee.png)

We would like to do the same for the Machine Learning app, ideally such that there are appropriate links depending on which tab you're on.

Other apps seem to accomplish this through code

[2020-12-05 02:56] elasticmachine commented on #85088
Pinging @elastic/ml-ui (:ml)

[2020-12-05 03:09] cqliu1 commented on #30812
We switched to a context menu layout in #59982, and our elements no longer have preview thumbnails.

<img width="283" alt="Screen Shot 2020-04-15 at 9 59 07 AM" src="https://user-images.githubusercontent.com/1697105/79379971-9c811480-7f14-11ea-9083-c1fddd0f9ff3.png">

[2020-12-05 03:09] #30812 closed

[2020-12-05 04:07] reighnman opened #85090 "[ILM] Policy editor "Set Replicas" switch ignores 0 value"
**Kibana version**:
7.10

**Elasticsearch version**:
7.10

**Server OS version**:
Windows 2019

**Browser version**:
Chrome 86

**Browser OS version**:
Win10 1909

**Original install method (e.g. download page, yum, from source, etc.)**:
Windows ZIP

**Description of the problem including expected versus actual behavior**:
Defining "Set replicas" in ILM Policy to 0 applies correctly but switch sho

[2020-12-05 05:54] kibanamachine opened #85091 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/resolver·ts - endpoint Endpoint Event Resolver Resolver Tree events Check Related Events for event.network Node"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10048/)

[2020-12-05 08:06] nimaansary commented on #20965
dear friend, You are absolutely right, but I do not understand why a proxy can not replace free internet

[2020-12-05 10:41] #84884 closed

[2020-12-05 17:01] kibanamachine commented on #82920
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10059/)

[2020-12-05 18:15] elasticmachine commented on #85091
Pinging @elastic/siem (Team:SIEM)

[2020-12-05 18:15] elasticmachine commented on #82920
Pinging @elastic/siem (Team:SIEM)

[2020-12-05 20:10] Rodrimix commented on #81561
@tsullivan 1 GB RAM

[2020-12-05 21:56] kibanamachine commented on #62060
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10170/)

[2020-12-05 21:56] kibanamachine opened #85098 "Failing test: "after each" hook for "renders the data provider of a host dragged from the All Hosts widget on the hosts page" - timeline data providers "after each" hook for "renders the data provider of a host dragged from the All Hosts widget on the hosts page""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10170/)

[2020-12-05 21:56] kibanamachine commented on #62060
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10170/)

[2020-12-05 21:56] kibanamachine commented on #85098
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10170/)

[2020-12-05 22:14] elasticmachine commented on #85085
Pinging @elastic/siem (Team:SIEM)

[2020-12-05 22:23] mistic commented on #62060
Skipping to get the master CI green.

master/8.0: 058f28a
7.x/7.11: d22bb25

[2020-12-05 22:37] elasticmachine commented on #85098
Pinging @elastic/siem (Team:SIEM)

[2020-12-05 22:38] mistic commented on #85098
Skipped as part of https://github.com/elastic/kibana/issues/62060#issuecomment-739424305

[2020-12-05 22:56] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10065/)

[2020-12-06 02:54] kibanamachine opened #85100 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/resolver·ts - endpoint Endpoint Event Resolver Resolver Tree events Check Related Events for event.security Node"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10069/)

[2020-12-06 06:55] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10073/)

[2020-12-06 08:53] kibanamachine commented on #85100
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10075/)

[2020-12-06 09:14] lukelee1987 commented on #84858
Yes, my Kibana is giving me these errors: Complete error: https://github.com/wazuh/wazuh/compare/master...lukelee1987:patch-1

[2020-12-06 10:56] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10077/)

[2020-12-06 11:44] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10078/)

[2020-12-06 11:44] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10078/)

[2020-12-06 15:55] kibanamachine commented on #85085
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10082/)

[2020-12-06 16:34] YulNaumenko opened #85102 "[Alerts][License] Add license checks to alerts HTTP APIs and execution"
All alerts APIs should returns 403 errors for the license checks.
During the Alert execution with alert type which is under the higher license that the user currently has, alert should be disabled and the proper single log console message should be logged (about the license level is forbidden).
Delete API should be available for removing higher license alerts.

Part of meta issue https://github.co

[2020-12-06 16:34] elasticmachine commented on #85102
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-06 17:57] kibanamachine commented on #85085
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10084/)

[2020-12-06 18:21] kibanamachine opened #85105 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alert_create_flyout·ts - Actions and Triggers app create alert should show save confirmation before creating alert with no actions"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10191/)

[2020-12-06 18:53] kibanamachine opened #85106 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/resolver·ts - endpoint Endpoint Event Resolver Resolver Tree events Check Related Events for event.registry Node"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10085/)

[2020-12-06 20:04] pgayvallet commented on #84729
I think that would make sense. However, I'm not sure to see how this would solve the issue encounter for aggs for example? We would still need to code / maintain the transformation and validation, it would just move it to the client instead of the repository. Or would the client only have a subset of the features / apis of the repository in that case (like, you can't perform aggs directly using th

[2020-12-06 20:10] pgayvallet commented on #70431
You can't have a npm tag point to a GH branch, if that what you meant?

[2020-12-06 21:40] beanaroo commented on #44327
Plenty of whitespace in this screenshot too on Kibana 7.10.0
![image](https://user-images.githubusercontent.com/1748909/101293186-885d9f00-3878-11eb-88de-8b9bc4f58820.png)

[2020-12-07 01:29] kibanamachine commented on #85086
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10092/)

[2020-12-07 01:30] kibanamachine opened #85107 "Failing test: X-Pack Jest Tests.x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule - StepAboutRuleComponent is valid if both "name" and "description" are present"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10092/)

[2020-12-07 03:11] lukelee1987 commented on #84858
Do I need to run the Matricbeat in order to get this work? Is it required? Thanks

[2020-12-07 03:55] kibanamachine commented on #85100
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10094/)

[2020-12-07 07:24] elasticmachine commented on #85107
Pinging @elastic/siem (Team:SIEM)

[2020-12-07 07:25] elasticmachine commented on #85106
Pinging @elastic/siem (Team:SIEM)

[2020-12-07 07:25] elasticmachine commented on #85105
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-07 07:25] elasticmachine commented on #85100
Pinging @elastic/siem (Team:SIEM)

[2020-12-07 07:27] elasticmachine commented on #85090
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 07:28] elasticmachine commented on #85086
Pinging @elastic/kibana-core (Team:Core)

[2020-12-07 07:28] elasticmachine commented on #85086
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2020-12-07 07:29] elasticmachine commented on #85033
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 07:29] elasticmachine commented on #84970
Pinging @elastic/kibana-qa (Team:QA)

[2020-12-07 07:45] dgieselaar commented on #84507
We should also look into replacing our usage of top_hits with top_metrics where possible.

[2020-12-07 07:56] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10098/)

[2020-12-07 08:53] dikshachauhan-qasource opened #85110 "[Fleet] Hide inactive enrollment tokens by default"
See https://github.com/elastic/kibana/issues/85110#issuecomment-754194621 for proposed fix.

---

_Original bug report:_

Kibana version:
Kibana:7.10.1-BC3 Cloud deployed environment

Elasticsearch version:
Elasticsearch:  7.10.1-BC3 Cloud deployed environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.1-BC3 Cloud deplo

[2020-12-07 08:55] dikshachauhan-qasource commented on #85110
Please review @manishgupta-qasource

[2020-12-07 09:02] elasticmachine commented on #85110
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-07 09:03] manishgupta-qasource commented on #85110
Reviewed & Assigned to @EricDavisX

[2020-12-07 09:13] pgayvallet commented on #84763
That seems like a pragmatic solution, but that would change the whole `IContextProvider` API signature, and this interface is also exposed by core's `context` service, both on client and server side, so we need to check the usages in the codebase.

Another (also breaking) API change to keep the async capabilities would be to change the `buildContext` / `HandlerContextType` signature:

https://gith

[2020-12-07 09:14] Azkron commented on #84896
Just like any word or excel document with a table that takes multiple pages.

[2020-12-07 09:15] flash1293 commented on #84558
I agree this is a cool feature, but I would like to not tackle it in the first phase.

Once we do, I would expect this to be a setting of the bucket dimension - in the metric dimension you are configuring the aggregation function (e.g. sum), and it will show the grand summaries, then you have a checkbox in the "rows" dimensions to turn on grouped summaries (if there is at least one metric dimensio

[2020-12-07 09:32] flash1293 commented on #76828
The internal API is changed, it's just not surfaced in the UI yet

[2020-12-07 09:32] #76828 closed

[2020-12-07 09:52] #83505 closed

[2020-12-07 09:55] ruflin commented on #65284
Curious what you had in mind when you mentioned "other consequences". Any pointers?

[2020-12-07 09:59] jalvz opened #85114 "Implement package pipelines"
The package [registry](https://github.com/elastic/package-registry#package-structure) accounts for the possibility of package-level pipelines, that is, not tied to an specific data stream ([example](https://github.com/elastic/package-registry/tree/master/testdata/package/example/0.0.2)).

This is very convenient for APM because most of our pipelines are applicable to all event (data stream) types.

[2020-12-07 09:59] elasticmachine commented on #85114
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-07 10:08] jloleysens opened #85115 "[ILM] Improvements after searchable snapshot field"
**Describe the feature:**

After merging https://github.com/elastic/kibana/pull/83783 we identified items that should be addressed as follow up PRs and improvements to the ILM UI.

- [x] design changes requested by @mdefazio  https://github.com/elastic/kibana/pull/83783#issuecomment-738847669
- [x] we need to move toggles to the left per field (i.e., under descriptions)
- [x] investigate making th

[2020-12-07 10:08] elasticmachine commented on #85115
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 10:19] dikshachauhan-qasource opened #85118 "Duplicate enrollment tokens names allowed for same policy on Enrollment tokens page."
Kibana version:
Kibana:7.10.1-BC3 Cloud deployed environment

Elasticsearch version:
Elasticsearch:  7.10.1-BC3 Cloud deployed environment

Host OS and Browser version:
Windows 10, All

Original install method (e.g. download page, yum, from source, etc.):
7.10.1-BC3 Cloud deployed environment

Description
[Ingest Manager]: Duplicate enrollment tokens names allowed for same policy on Enrollment tok

[2020-12-07 10:19] mbondyra commented on #51739
I agree, that looks really good. How are we going to handle accessible way though?

[2020-12-07 10:19] dikshachauhan-qasource commented on #85118
Please review @manishgupta-qasource

[2020-12-07 10:30] flash1293 commented on #51739
I don't have a good answer to this, but If we find one, we can probably apply it to the "drag a field to a dimension" as well (that's also not accessible right now). Based on this I'm not sure whether we have to make this accessible from the start (as it's just a shortcut operation and not an additional feature)

My only idea would be something like a context menu opened on some keyboard combinati

[2020-12-07 10:44] sachin-frayne commented on #7383
In case anyone stumbles across this later and notices the Dashboard Drill Down's don't work with every visualization. You can always use the Pin All Filters option:

<img width="2544" alt="Screenshot 2020-12-07 at 10 42 19" src="https://user-images.githubusercontent.com/32795683/101341456-0621aa80-3879-11eb-9447-cfe3a21a20b9.png">
<img width="510" alt="Screenshot 2020-12-07 at 10 42 41" src="https

[2020-12-07 10:45] weltenwort opened #85122 "[Metrics UI] Custom metrics in inventory don't survive navigation"
**Kibana version:** `master` as of 78123a109d5eefe619ff71a46ebe952512b5daec

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

While the "default" view is selected on the inventory screen a custom metric is lost as soon as the user navigates anywhere, even within the same app. There is no warning about the loss of state.

**Steps to reproduce:

[2020-12-07 10:45] elasticmachine commented on #85122
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-07 10:48] elasticmachine commented on #85118
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-07 10:57] manishgupta-qasource commented on #85118
Reviewed & assigned to @EricDavisX

[2020-12-07 11:37] vipulsrivastava-qasource opened #85124 "Error "Namespace contains invalid characters" is displayed while provide name in "Default namespace" with special characters -(Hyphen) or :(Colon) under policies page."
**Kibana version:**
Kibana: 7.10.1-BC3

**Elasticsearch version:**
Elasticsearch: 7.10.1-BC3

**Host OS and Browser version:**
Windows 10 , All

**Description**
Error "Namespace contains invalid characters" is displayed while provide name in "Default namespace" with special characters -(Hyphen) or :(Colon) under policies page.

**Preconditions**

1. 7.10.1-BC3 latest Kibana cloud environment shoul

[2020-12-07 11:39] elasticmachine commented on #85124
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-07 11:39] azasypkin commented on #16714
FWIW, if you meant anonymous authentication provider and not reverse-proxy based "anonymous" access then we do require `credentials` (session cookie) as well.

[2020-12-07 11:44] vipulsrivastava-qasource commented on #85124
@manishgupta-qasource : Please review the Bug.

[2020-12-07 11:45] ruflin commented on #85114
@jalvz Could you open an issue for this in the package-spec as I think this where the discussion needs to start. There are few things that need to be discussed here first.

I think what you are looking for is reusable ingest pipelines, something I think currently fits better into the integrations building process.

The way we handle global assets at the moment is that there we give full flexibilit

[2020-12-07 11:48] azasypkin commented on #80243
Thanks for posting this @liza-mae ! I'll go ahead and try to bump timeouts as I originally planned in https://github.com/elastic/kibana/issues/80243#issuecomment-708192094 and see if it helps.

[2020-12-07 11:52] Dosant opened #85126 "[Search] Make URL generation to restore a background search optional"
Part of https://github.com/elastic/kibana/issues/61738

We planned to rely on the URL to restore a background search session:

![Untitled-2020-12-07-1233](https://user-images.githubusercontent.com/7784120/101346710-40934380-3889-11eb-9be2-2468a9273f93.png)

The problem is that not every app has all of its stored stored in the URL, so not every app can support restoring all the state from the URL.

[2020-12-07 11:52] elasticmachine commented on #85126
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-07 11:54] Dosant commented on #84908
Enabling full experience blocked by  [unability to restore a session without relying on state in the URL](https://github.com/elastic/kibana/issues/85126)

[2020-12-07 12:05] rafatawartani commented on #6218
++

[2020-12-07 12:22] sgrodzicki opened #85129 "[Logs UI] Investigate logs categorization adoption"
With [logs categorization](https://www.elastic.co/guide/en/observability/master/categorize-logs.html) available [since 7.6](https://www.elastic.co/blog/elastic-logs-7-6-0-released) we need to investigate why only ~10% (per existing telemetry) of users who clicked on categorization setup are running categorization jobs?

Today we gather page click data in clusters where users have clicked and staye

[2020-12-07 12:22] elasticmachine commented on #85129
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-07 12:33] skh commented on #84656
That's a really good point, thanks for your input. I'll have a PR up soon.

[2020-12-07 12:38] dgieselaar opened #85132 "[APM] Consider removing query snapshot tests"
I've noticed that I've not recently added query snapshot tests when adding endpoints. Probably because I feel like our API tests are more suitable. We can look into whether we should remove query snapshot tests entirely.

[2020-12-07 12:38] elasticmachine commented on #85132
Pinging @elastic/apm-ui (Team:apm)

[2020-12-07 12:46] manishgupta-qasource commented on #85124
Reviewed & assigned to @EricDavisX

[2020-12-07 12:56] kibanamachine commented on #85091
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10103/)

[2020-12-07 13:23] mistic commented on #85085
This test is looking flaky. Skipping for now.

master/8.0: 0868088
7.x/7.11: fdef2c5

[2020-12-07 13:27] mbondyra opened #85134 "[Lens] Filters popover stays open when it should be closed"
master

Steps to reproduce:
1. Create a filters aggregation with at least one filter.
2. Close the dimension panel and open it again.
3. Click on 'Add a filter'
4. Click outside of config panel.

Behavior: The popover changes its position but doesn't disappear:
<img width="1177" alt="Screenshot 2020-12-07 at 14 25 13" src="https://user-images.githubusercontent.com/4283304/101356266-16954d80-3898-1

[2020-12-07 13:27] elasticmachine commented on #85134
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-07 13:30] ciinema commented on #17674
if u want to use the workaround in kibana 7.9.2 u need to add the Filter "_other_" in addition to the json part. without u got the response from elastic but u cannot see anything in the vis.

[2020-12-07 13:35] #80144 closed

[2020-12-07 13:43] kibanamachine opened #85135 "Failing test: X-Pack Jest Tests.x-pack/plugins/index_management/public/application/components/mappings_editor/__jest__/client_integration/datatypes - Mappings editor: scaled float datatype should require a scaling factor to be provided"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10211/)

[2020-12-07 13:48] legrego commented on #83914
Thanks for putting this together! I agree with a lot of what you said here, and I don't see any glaring omissions.

Would it be possible to use the new `auth_provider_hint` query parameter to attempt authentication?

As much as I'd love to deprecate this, I worry that we will end up having to support this in some capacity.

[2020-12-07 13:57] elasticmachine commented on #85135
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 13:57] kibanamachine commented on #85106
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10104/)

[2020-12-07 14:05] mistic commented on #85091
Skipped via https://github.com/elastic/kibana/issues/85085#issuecomment-739915794

[2020-12-07 14:05] mistic commented on #85106
Skipped via https://github.com/elastic/kibana/issues/85085#issuecomment-739915794

[2020-12-07 14:36] flash1293 opened #85140 "[Lens] Allow hiding of columns in table"
Sometimes not all columns in a table should be shown initially if they are only important in some cases. To do so, it should be possible to configure a Lens table and hide certain columns.

Hiding columns should be implemented using the data grid toolbar (not part of the flyout) - the columns should not be sortable in here (we can implement this, but it would be a separate feature):
<img width="54

[2020-12-07 14:36] elasticmachine commented on #85140
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-07 14:43] #84212 closed

[2020-12-07 14:54] pmuellr commented on #85102
I'm a little worried about a situation where a user has created a gold+ alert during trial, then the trial ends and they're back to basic.  It seems like the customer should be able to delete the alert.  If the alert isn't executing, I'm not sure any other alert APIs would need to be allowed.

Seems like we might want to flag this as a new execution error, like the decrypt error.  That way, custom

[2020-12-07 14:56] elasticmachine commented on #84970
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 15:02] azasypkin commented on #83914
Yeah, it should allow you to pick any provider.

Right, my hope is that many users upgrade Kibana and just keep their legacy authc config and hence don't leverage Login Selector by default. And right now our Telemetry cannot tell us whether it's the case or users explicitly disabled Login Selector. In 8.0.0 when we drop legacy config completely we'll be able to see how many users explicitly disabl

[2020-12-07 15:07] peteharverson commented on #55085
Possibly related, the bounds on the context chart for this job on the `event_rate_gen` data set, using `sum count`, don't seem to correspond well to the bounds on the focus chart.

[code]

![image](https://user-images.githubusercontent.com/7405507/101367192-cde09300-389d-11eb-8ed5-219c343d4620.png)

[2020-12-07 15:14] MichaelMarcialis commented on #84558
@flash1293, just to clarify for the purposes of my designs, are we saying that the first phase will only offer the "grand" summary row (and that additional sub-summary options will be handled in later phases)?

[2020-12-07 15:18] flash1293 commented on #84558
@MichaelMarcialis Exactly, I think that's a good phasing for this feature.

[2020-12-07 15:19] kibanamachine opened #85145 "Failing test: X-Pack Endpoint Functional Tests.x-pack/test/security_solution_endpoint/apps/endpoint/resolver·ts - endpoint Endpoint Event Resolver Resolver Tree events Check Related Events for event.alert Node"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10212/)

[2020-12-07 15:27] mattkime commented on #65284
@ruflin The main thing I think of is that I'm not sure how dashboards responds when fields don't yet exist.

[2020-12-07 15:28] mistic commented on #85145
Skipped via https://github.com/elastic/kibana/issues/85085#issuecomment-739915794

[2020-12-07 15:32] sqren commented on #85132
👍

[2020-12-07 15:33] th0ger commented on #17542
@KrishnaChaitanya-Gopaluni I don't see `Saved Objects` under `Stack Management`. Has it been moved or removed?
Stack Management 7.10.0.

[2020-12-07 15:38] dgieselaar commented on #85025
Link is `/app/apm/settings/anomaly-detection`.

[2020-12-07 15:42] KrishnaChaitanya-Gopaluni commented on #17542
I

@th0ger My Stack Management is 7.9.3. I can see the saved objects at the bottom left. Seems like 7.10 too has one https://www.elastic.co/guide/en/kibana/current/managing-saved-objects.html

[2020-12-07 15:45] sqren opened #85150 "[APM] Service inventory: Add fallback icon for unsupported agents"
Related: https://github.com/elastic/kibana/issues/85016

[2020-12-07 15:45] elasticmachine commented on #85150
Pinging @elastic/apm-ui (Team:apm)

[2020-12-07 15:54] Dosant opened #85151 "[Search] Send to background restore state is not clear enough"
Part of https://github.com/elastic/kibana/issues/83640

When restoring search on a dashboard the only indication that user is viewing older search results is small button-icon in a page corner. [mocks](https://whimsical.com/LMKSnR7vmPrmAypPXYuA8T)

We agreed that would be nice to improve this state.
For example, one of suggestions for a dashboard was to add a subtle label to each chart (similar li

[2020-12-07 15:54] elasticmachine commented on #85151
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-07 15:58] neptunian commented on #65284
Will test this

[2020-12-07 16:00] mikecote commented on #60767
Option 1 looks good.

If something is done here, it could also be leveraged for [import / export](https://github.com/elastic/kibana/issues/50266). It could track a reason like `disabledReason: 'user' | 'import' | 'license'`. Where we can display a user friendly message in the UI and in the future we add `import` as a value.

[2020-12-07 16:04] dgieselaar commented on #83256
Some other fields we should consider making required:

- `span.subtype` (used in breakdown data)
- `transaction.result` (used in transaction result charts)

Simply put, we should look into making all fields that we aggregate on via a terms or composite aggregation required, as using `missing` or `missing_bucket` means that we miss out on specific ES optimisations.

[2020-12-07 16:10] #84978 closed

[2020-12-07 16:11] rudolf commented on #84724
https://github.com/elastic/kibana/blob/master/src/core/server/saved_objects/service/lib/repository.ts#L1808-L1809

This sounds like you're hitting a version conflict error which happens internally to Elasticsearch https://github.com/elastic/kibana/issues/82719#issuecomment-724643442

[2020-12-07 16:19] FrankHassanabad commented on #84724
I thought so too and added console log statements around there but didn't see it returning the version. I could be missing it from an earlier rule run or something else "getting in the way" so to speak. I was pretty thorough about it as I really thought that was the issue as well when looking through the code.

From  #82719 (comment)

If we had the retry flag to push down or that default behavior

[2020-12-07 16:34] tylersmalley commented on #83012
@liza-mae, have you been able to verify this was resolved?

[2020-12-07 16:36] liza-mae commented on #83012
@tylersmalley yes it is resolved, thank you.

[2020-12-07 16:36] #83012 closed

[2020-12-07 16:39] mdefazio commented on #50077
I've updated the mockups after some additional help from @ymao1 :
The custom interval view I think still needs work–—it looks like it's possible to set it so it conflicts with the alert schedule.
 I also think the copy would greatly benefit from @gchaps .  Curious to get the team's thoughts on it at this state though.

I think we should also move this to the bottom of the create flyout since this

[2020-12-07 16:40] flash1293 opened #85160 "[Lens] Color collisions if color swatches are used for custom colors"
**Kibana version:** 7.11

**Describe the bug:** In Lens, it's possible to select custom colors for xy series. These can be defined using the EUI color picker component which includes a color swatch UI featuring the colors of the EUI palette. However the auto colors assigned to other series are using the EUI palette as well and they are not considering custom overrides, this means it's very easy to

[2020-12-07 16:40] elasticmachine commented on #85160
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-07 16:42] shahzad31 commented on #59082
i think this has already been reasonably improved, so closing it.

[2020-12-07 16:42] #59082 closed

[2020-12-07 16:43] shahzad31 commented on #39684
location column is removed, so no longer applicable.

[2020-12-07 16:43] #39684 closed

[2020-12-07 16:52] #84007 closed

[2020-12-07 16:52] #84216 closed

[2020-12-07 16:52] #84324 closed

[2020-12-07 16:55] lukeelmers opened #85162 "[data.indexPattern][data.search.searchSource] Remove indexPattern.getComputedFields."
Currently the index pattern class has a `getComputedFields` method which returns docvalue, stored, and scripted fields for a particular pattern. This method is only used by high level search (search source), and in discover.

Now that we've added [support for the search fields API in search source](https://github.com/elastic/kibana/pull/82383), this method is less relevant and could probably be re

[2020-12-07 16:55] elasticmachine commented on #85162
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-07 16:56] shahzad31 commented on #79617
Fixed by https://github.com/elastic/kibana/pull/79756

[2020-12-07 16:56] #79617 closed

[2020-12-07 16:58] shahzad31 commented on #77848
@paulb-elastic Can you track this in uptime refinement sessions.

[2020-12-07 17:06] #84360 closed

[2020-12-07 17:09] hackery commented on #68049
I've seen this numerous times - often more than "a few" seconds. Trying to create a pattern today I went off on a goose chase checking templates and mappings before spotting that if I selected a pattern matching a small number of indices it came back quickly. Selecting the largest wildcard (or alias name) the request was taking ~58 seconds - that's perilously close to timing out completely (and I

[2020-12-07 17:34] jloleysens opened #85167 "[ILM] Should block searchable snapshot action in cold when rollover is disabled"
After merging https://github.com/elastic/kibana/pull/83783 I found that I can create a policy in the UI with searchable snapshot and rollover disabled. This errors at the ES level.

Should be fixed for 7.11 - this has not been shipped to users.

[2020-12-07 17:34] elasticmachine commented on #85167
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 17:35] clintandrewhall commented on #84777
My gut reaction is that this is a good idea... there are a few things I think we should consider:

1. Canvas already has "assets", which are base64-encoded images stored within the Canvas Workpad.  Since Canvas can embed "Kibana assets", we'll need to rename this, (e.g. "images").
2. I think there's an important distinction between user-created-and-saved assets and ships-with-Kibana-(or-Fleet) ass

[2020-12-07 17:42] timductive commented on #85160
@flash1293 my first reaction is that this is fine. If there is a collision the user would just go change the custom colors or change the palette, so the workaround is minimal effort. Excluding colors feels like it could be more confusing, if we want to do something my next suggestion would be perhaps a warning note, "Selected colors are duplicated" or something like that.

[2020-12-07 18:04] Seraph-DV opened #85172 "APM RUM Fails to connect agent in setup"
**Versions**
Kibana: 7.10.0
APM Server: 7.10.0
Elasticsearch: 7.10.0

When connecting and configuring the RUM agent and APM server to Elasticsearch and Kibana, the "check agent connection" button to verify that the agent is receiving data returns a 400 error, but the "check APM server responsiveness" button works just fine, and shows that the server sends data to Kibana. Upon closer inspection, th

[2020-12-07 18:10] spong commented on #50216
+1 here from the Security Detections side. It would be beneficial for us to be able to leverage dedicated SO migrations for Detection Rules (and not having to embed the migration within Alerting). A recent example here is in needing to find all Detection Rules that reference a set of Exception Lists, whose reference is currently being stored in the Rule's AlertParams and cannot be searched. We don

[2020-12-07 18:17] flash1293 commented on #82250
@wowpravin The fix will be part of the 7.10.1 version which is slated to be released in the next couple days

[2020-12-07 18:33] spong opened #85173 "[Alerting] Expose access to Saved Object References array"
In discussing ways to resolve data integrity issues between Detection Rules and Exception Lists the best path forward seems to be leveraging the existing Saved Object References array, however this isn't currently exposed to those building on top of Alerting SO's. As a workaround, we've been storing our references within AlertParams, which is not searchable, and makes linking back to Rules slow (t

[2020-12-07 18:33] elasticmachine commented on #85173
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-07 18:33] ThomThomson commented on #84777
I agree with Tim & Clint, about the need to provide separation between more technical assets, and user generated assets. The concept of 'your assets' / 'my assets' particularly appeals to me when paired with better metadata.

That said, having multiple listing pages, or separate libraries for each category could lead to a bit of redundancy or confusion from the user so I would be in favour of a si

[2020-12-07 18:34] #80923 closed

[2020-12-07 19:09] lcawl opened #85176 "Broken documentation link in Visualize app"
**Kibana version:**

8.0.0

**Elasticsearch version:**

8.0.0

**Describe the bug:**

When you click on the documentation link within the help menu in the Visualize app, it takes you to the following URL, which is a broken link: https://www.elastic.co/guide/en/kibana/master/visualize.html.  That page doesn't seem to exist after 7.9: https://www.elastic.co/guide/en/kibana/7.9/visualize.html
It seem

[2020-12-07 19:09] elasticmachine commented on #85176
Pinging @elastic/kibana-docs (Team:Docs)

[2020-12-07 19:22] sophiec20 opened #85179 "[ML] Add special handling for built-in lang-ident model"
Found in 7.11.0-SNAPSHOT

Usability issues identified:
1. The lang ident model is suspiciously visible without explanation
2. If a user tries to delete the lang-indent model, the error is non-informative
3. The user is given the option to delete the lang-ident model even though this will never be possible because it is built-in and the API does not allow it
4. The model description is not visible

[2020-12-07 19:39] #83045 closed

[2020-12-07 19:49] mbudge opened #85183 "Allow operators to set tags in custom fields and manually trigger SIEM detection's"
Hi,

Currently Kibana is read-only so operators can't flag an event in a parent/original index for ticketing. The SIEM works through automated detection's.

When we implement threat hunting use cases, the operators will have to manually ticket these events. There is currently no way for them to manually trigger a detection or automated ticketing process. We need some way for them to push an event

[2020-12-07 19:53] restrry commented on #16714
API endpoints with disabled auth? `api/status`, for example.

Kibana refuses to start with an invalid config.

Sure, we can change defaults to allow credentials but require list of allowed `origins`:
[code]
It will throw if `server.cors.enabled: true` but  `server.cors.origin` is not defined explicitly.
If a user set `server.cors.credentials: false`, they will be able to set `server.cors.origin: *

[2020-12-07 19:54] YulNaumenko commented on #60767
Sounds right for me. Do you mean here like exposing a separate alert property `disabledReason` in addition to `enabled` ?

[2020-12-07 20:20] #85064 closed

[2020-12-07 20:33] mikecote commented on #60767
That is an idea 🙂 I'm sure there may be better ways for this. As long as it could scale for future scenarios.

[2020-12-07 20:35] nchaulet opened #85188 "[Fleet] Editing a package policy with a input template fail"
## Description

It's not possible to edit a package policy with an input template (You can create it, delete it, but not update)

<img width="444" alt="Screen Shot 2020-12-07 at 3 35 23 PM" src="https://user-images.githubusercontent.com/1336873/101402512-d76bfa00-38a1-11eb-8dbc-72f38e937041.png">

[2020-12-07 20:35] elasticmachine commented on #85188
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-07 20:46] myasonik opened #85189 "[GS] Reuse `TagList` in search options"
Should use `SavedObjectsTaggingApi.ui.components.TagList` instead of a custom `getTag` method
1. it avoids having to add the `getTag` API as the component is already connected
2. it would allow to adapt code in a single place when we'll add options such as `exceptMaxLength` or `maxDisplayedTags` to enhance the tag list component to address the 'tag list is overflowing' issue

Might need `SearchRes

[2020-12-07 20:46] elasticmachine commented on #85189
Pinging @elastic/kibana-core (Team:Core)

[2020-12-07 20:46] #83968 closed

[2020-12-07 20:55] YulNaumenko commented on #85102
Good catch about the delete, I updated the description with the availability for Delete API.
Having a separate error flag is a great idea, I will keep that approach.

[2020-12-07 21:02] hbharding commented on #85043
Here's an updated design to accommodate the limitation we're running into. As discussed in our weekly sync (cc @sorantis), we decided to keep the search functionality, with the caveat that it will only search for processes that fall within the configured top N CPU or memory. The table will fetch the top N CPU and Memory consuming processes and remove any duplicate processes that appear in both cat

[2020-12-07 21:04] neptunian commented on #65284
It still gets the error that some fields don't exist so we will need to leave the index placeholder to continue repressing that.

[2020-12-07 21:21] pmuellr commented on #50077
Those views look good to me.

I also think the copy would greatly benefit from @gchaps . Curious to get the team's thoughts on it at this state though.

That's not new :-).  It's always been possible to set illogical throttle values.  It's not clear how much validation we should be doing on these, I sort of feel like we should have some visualization or better "explainer" for all the time-related

[2020-12-07 21:27] cuff-links opened #85199 "[Meta] Migrate X-Pack Functional Tests From Legacy ES Client to Updated ES Client"
# Summary
This issue captures the work being done to migrate all of our tests from using the legacy ES client

## Apps
- [ ] Ingest Node Pipelines
   * `./x-pack/test/functional/apps/ingest_pipelines/ingest_pipelines.ts`
- [ ] Management
   * `./x-pack/test/functional/apps/management/create_index_pattern_wizard.js`
- [ ] Rollup Jobs
   * `./x-pack/test/functional/apps/rollup_job/hybrid_index_patte

[2020-12-07 21:27] elasticmachine commented on #85199
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 21:28] pmuellr commented on #60767
We don't have a separate field for this for actions though, do we?  The reason calculated as needed?  Seems preferable to having a separate field, if that can be made to work.

[2020-12-07 21:33] eddieturizo opened #85201 "Kibana TSVB - allow for dropping partial buckets"
**Describe the feature:**

Drop partial buckets in a TSVB.

**Describe a specific use case for the feature:**

To account for use cases where there is a desire to drop the first bucket in a TSVB but currently not possible.

[2020-12-07 22:09] lockewritesdocs opened #85205 "Validate runtime fields sans scripts"
**Background:**
#84184 introduced runtime fields in the index template. Users can define a runtime field with or without a script. #85204 adds text to explain the behavior of a runtime field without a script:

**Describe the feature:**
If a user defines a runtime field and no field with the same name exists in `_source`, we should display an informational message to inform them. Something like:

*

[2020-12-07 22:41] kibanamachine opened #85208 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/uptime/locations·ts - Uptime app with generated data Observer location displays less monitor availability"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10220/)

[2020-12-07 22:41] kibanamachine commented on #85208
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10220/)

[2020-12-07 23:17] YulNaumenko opened #85211 "[Alerting UI] Console error on open Alert create flyout."
**Kibana version:**
master

**Describe the bug:**
Console error appears when user clicks on create Alert flyout in APM application.

**Steps to reproduce:**
1. Open APM application
2. Click Alerts -> Transaction error rate -> Create threshold alert
3. Flyout is opened and observe a console error:

**Errors in browser console (if relevant):**
[code]

**Any additional context:**
We might need here t

[2020-12-07 23:17] elasticmachine commented on #85211
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-07 23:26] elasticmachine commented on #85205
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-07 23:30] cjcenizal commented on #85199
@cuff-links FYI, we don't own Index Patterns, Uptime, Machine Learning, or Transform. The remaining tests are tracked as part of https://github.com/elastic/kibana/issues/73973, so I don't think we need this issue.

[2020-12-07 23:39] elasticmachine commented on #85208
Pinging @elastic/uptime (Team:uptime)

[2020-12-07 23:42] mistic commented on #85208
Skipping for now as it looks flaky.

master/8.0: pending

[2020-12-07 23:49] bvader opened #85212 "Metricbeat system dashboards / visualization are broken for I/O visualizations"
Note @simianhacker found that this appears to be fixed in master.

I would like to ask that is is backported to 7.10.x as the OOTB dashboards / visualizations are totally confusing AND you can not create a correct version of the visualization that my users / customer have become accustomed too.

**Kibana version:** 7.10

**Elasticsearch version:** 7.10

**Server OS version:** Docker / ESS

**Brows

[2020-12-08 00:07] tylersmalley commented on #85078
I am +1 on removing the parsing of requests and using a static path if it would prevent people from disabling it entirely. Could the basePath still be random for functional tests since we don't need the redirect?

[2020-12-08 00:11] tylersmalley commented on #84840
Realized there was already an issue open for this: https://github.com/elastic/kibana/issues/79490

Closing in favor of that.

[2020-12-08 00:11] #84840 closed

[2020-12-08 00:44] kibanamachine commented on #83793
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:44] kibanamachine commented on #83793
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine opened #85215 "Failing test: Creates and activates a new Indicator Match rule - Detection rules, Indicator Match Creates and activates a new Indicator Match rule"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine opened #85216 "Failing test: "after each" hook for "Creates and activates a new Indicator Match rule" - Detection rules, Indicator Match "after each" hook for "Creates and activates a new Indicator Match rule""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine opened #85217 "Failing test: "before all" hook for "Exports a custom rule" - Export rules "before all" hook for "Exports a custom rule""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 00:45] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10222/)

[2020-12-08 01:29] kibanamachine commented on #85086
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10116/)

[2020-12-08 01:41] mdefazio commented on #50077
Yes, apologies for the confusion.  My thought was that the whole block shown in the screenshots would move to the bottom

[2020-12-08 01:41] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83793
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83793
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:41] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10223/)

[2020-12-08 01:49] MichaelMarcialis commented on #85160
My first instinct would be to consider the current behavior "working as intended" and not a bug. However, if this is something a customer or internal usage has revealed as a pain point, then it would be worthwhile to consider our options to remedy. Regarding the potential workarounds you've listed, I have the following thoughts:

The exclusion of manually customized colors from the auto color rota

[2020-12-08 02:08] elasticmachine commented on #85216
Pinging @elastic/siem (Team:SIEM)

[2020-12-08 02:09] elasticmachine commented on #85217
Pinging @elastic/siem (Team:SIEM)

[2020-12-08 02:11] mistic commented on #85217
Test has been failing on master and looks flaky. Skipping for now.

master/8.0:

[2020-12-08 02:11] elasticmachine commented on #85215
Pinging @elastic/siem (Team:SIEM)

[2020-12-08 02:13] mistic commented on #85215
Test has been failing on master and looks flaky. Skipping for now.

master/8.0:

[2020-12-08 02:14] mistic commented on #85216
Test has been failing on master and looks flaky. Skipped for now as part of https://github.com/elastic/kibana/issues/85215#issuecomment-740314314

[2020-12-08 02:18] mistic commented on #83793
Looks like the test was enabled and is being flaky again. Skipping for now.

master/8.0:
7.x/7.11:

[2020-12-08 02:23] mistic commented on #83773
Looks like this test was re-enabled and it is being flaky again. Skipping.

master/8.0:
7.x/7.11:

[2020-12-08 02:25] mistic commented on #83774
That test was re-enabled but looks like it is being flaky again. Skipping.

master/8.0: cd1be91
7.x/7.11: 5608720

[2020-12-08 02:27] mistic commented on #83775
That test was re-enabled but is being flaky again. Skipping.

master/8.0:
7.x/7.11:

[2020-12-08 02:35] mistic commented on #85086
The test has been failing on 7.x and looks flaky. Skipping for now.

7.x/7.11:

[2020-12-08 02:39] mattkime commented on #65284
@neptunian - Can you file a bug? I think this is something we should handle gracefully instead of throwing unactionable errors.

[2020-12-08 04:09] cuff-links commented on #80253
I will update this test.

[2020-12-08 04:11] cuff-links commented on #80251
I will look into this.

[2020-12-08 05:56] sasconsul commented on #74457
Folks, I still see this problem with version 7.10 elasticsearch, kibana, (and logstash. )

This is the mystery log message (whole log attached)
[kibana.log.1.zip](https://github.com/elastic/kibana/files/5657146/kibana.log.1.zip)

[code]

Attached are the config files from my last iteration.
[elasticsearch.yml.zip](https://github.com/elastic/kibana/files/5657129/elasticsearch.yml.zip)
[kibana.yml.z

[2020-12-08 06:18] nehaduggal commented on #84863
Lets call it significant terms instead of tags because it ties it back to the capability that ES offers today.

[2020-12-08 07:30] muskangulati-qasource opened #85225 "[Security Solution] No 'Customize notification message' text area for Platinum License on the UI"
**Describe the bug**
No 'Customize notification message' text area for Platinum License on the UI

**Build Details:**
[code]

**Browser Details**
All

**Preconditions**
**1.** Elastic Cloud 7.10.0 environment should be deployed
**2.** Endpoint should be installed.
**3.** Policy should be deployed.

**Steps to Reproduce**
**1.** Upgrade the license from Gold to Platinum
Used below license:
Follow t

[2020-12-08 07:33] muskangulati-qasource commented on #85225
@manishgupta-qasource Please review!

[2020-12-08 07:35] manishgupta-qasource commented on #85225
Reviewed & Assigned to @kevinlog

[2020-12-08 07:52] jloleysens opened #85226 "[ILM] Replicas value persists when field is disabled in UI"
**Kibana version:** current master

**Elasticsearch version:** 7.10

**Describe the bug:**

When replicas has been set in ILM, disabling it does not remove the value.

**Steps to reproduce:**
1. Create or edit an ILM policy (in Kibana management)
2. Enable warm phase and add a replicas value
3. Save the policy
4. Edit the policy that was just created/editted
5. Disable the replicas field in warm
6

[2020-12-08 07:52] elasticmachine commented on #85226
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-08 07:58] formgeist opened #85228 "[Log Anomalies] Change step item to show loading when the ML job is creating"
# Summary

Related to https://github.com/elastic/eui/pull/4338

EUI improved the `EuiSteps` component to be able to show a `loading` state for async actions. That means we can update the step item to show a loading state rather than put an additional spinner in the content of item.

# Proposed solution

![anomaly-create-loading-state](https://user-images.githubusercontent.com/4104278/101455833-72f

[2020-12-08 07:58] elasticmachine commented on #85228
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 09:28] timroes opened #85234 "Custom visualizations plugin need to build their own expression AST"
# Plugin API changes

In Kibana all visualizations underneath render using Kibana expressions (that you can see user facing inside Canvas expression editor). Right now old custom visualization plugins are all using the same `visualizations` expression function underneath. **We're going to remove this function in one of the upcoming minors,** meaning your custom visualization plugin will require to

[2020-12-08 09:28] #85234 closed

[2020-12-08 09:30] flash1293 commented on #85160
It's just me at this point :)

Yes, the first series would change to avoid the custom color

It's using the 10 colors plus the first additional "rotation" offered by the EUI palette helper
<img width="273" alt="Screenshot 2020-12-08 at 10 25 43" src="https://user-images.githubusercontent.com/1508364/101465055-bf4ab800-393f-11eb-960b-9c15d73f411b.png">

I'm not a big fan of this because it would in

[2020-12-08 09:30] #85160 closed

[2020-12-08 09:33] paulb-elastic opened #85236 "[User Experience] Improve core web vitals (mainly CLS) display when low values"
When a core web vital has a low figure (typically seen with CLS), then the graph suggests there is no data.

It’s thought the current value is shown to 3 decimal places, so if the filtering ends up generating a CLS of 0.0004 for example, this is rounded to zero, so triggers the ‘no data found’ display.

For example, filtering down to only show Android is resulting in no CLS data being shown (for t

[2020-12-08 09:33] #12756 closed

[2020-12-08 09:33] #72360 closed

[2020-12-08 09:33] elasticmachine commented on #85236
Pinging @elastic/uptime (Team:uptime)

[2020-12-08 09:41] srgbnd commented on #66621
@legrego Hi! Does it mean the 3-rd party plugins will not be able to use the [createCookieSessionStorageFactory](https://github.com/elastic/kibana/blob/v7.10.0/src/core/server/http/cookie_session_storage.ts#L123) function? Because a 3-rd party plugin will not be able to register the auth cookie strategy named [security-cookie](https://github.com/elastic/kibana/blob/v7.10.0/src/core/server/http/coo

[2020-12-08 09:42] dgieselaar opened #85238 "[APM] Selecting a range sometimes leads to invalid extended bounds"
I notice that if I leave a tab open for a bit, and then select a new date range (e.g. "Last 30 minutes"), the start/end times we calculate are invalid (end being smaller than start), leading to date_histogram errors:

[code]

[2020-12-08 09:42] elasticmachine commented on #85238
Pinging @elastic/apm-ui (Team:apm)

[2020-12-08 10:01] peteharverson opened #85241 "[ML] Support datafeed search runtime_mappings in advanced job wizard"
https://github.com/elastic/elasticsearch/pull/65606 added an optional `runtime_mappings` section to the datafeed config for anomaly detection jobs, allowing users to define search type runtime fields for use in their job. Support needs to be added for this optional field to the advanced job wizard:

- Allow users to add `runtime_mappings` by editing the datafeed configuration using the JSON editor

[2020-12-08 10:01] elasticmachine commented on #85241
Pinging @elastic/ml-ui (:ml)

[2020-12-08 10:28] sqren commented on #83256
Thanks @dgieselaar. I'll talk to the server team about this.

[2020-12-08 10:29] #84964 closed

[2020-12-08 10:43] sqren commented on #84863
I was going to suggest a naming change to "Significant fields". "terms" is from Elasticsearch terminology, whereas "fields" doesn't require any knowledge of Elasticsearch queries.
Either way, both are better than "Significant tags".

[2020-12-08 10:44] jgowdyelastic commented on #85241
fields added via `runtime_mappings` should be extracted and be usable in the UI, similar to script fields.

[2020-12-08 10:49] stratoula opened #85248 "[TSVB] Y-axis is not being rendered"
**Kibana version:**
master

**Describe the bug:**
I open TSVB and the y-axis is not being displayed while I get the error on the console:
`[@elastic/charts] Cannot compute scale for axis spec yaxis_c9f1a880-3940-11eb-9632-f33bbd2c4802_main. Axis will not be displayed.`

<img width="2553" alt="Screenshot 2020-12-08 at 12 48 09 PM" src="https://user-images.githubusercontent.com/17003240/101474314-a7

[2020-12-08 10:49] elasticmachine commented on #85248
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-08 11:24] peluja1012 commented on #82658
Appears to be fixed by the Alerting PR:

![image](https://user-images.githubusercontent.com/616158/101477946-f4461300-391d-11eb-9bad-43dfa324b031.png)

[2020-12-08 11:35] monfera commented on #16746
@nickofthyme can it be closed now, or could you please add it to a vislib replacement item if not yet?

[2020-12-08 11:46] lizozom opened #85252 "[Search] Use filters in SavedObjects find"
As a follow up to https://github.com/elastic/kibana/pull/84225#discussion_r537617015, when using `find` from the polling task, use `filters` instead of `searchFields`.

For an example, see https://github.com/elastic/kibana/blob/223a18766ad4bc079d461ef145e9b2e3e9fa2469/x-pack%2Fplugins%2Falerts%2Fserver%2Fauthorization%2Falerts_authorization_kuery.ts

[2020-12-08 11:46] elasticmachine commented on #85252
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-08 11:57] peteharverson commented on #70244
Closing as fixed by #80317 (7.10.0) and #81291 (7.10.1).

[2020-12-08 11:57] #70244 closed

[2020-12-08 11:58] immon commented on #64291
@rfer the reported inconsistency in the responses is addressed by https://github.com/elastic/elasticsearch/pull/58212
On 7.8.1+ the query should terminate early no matter the value of `rest_total_hits_as_int`.

[2020-12-08 11:59] sorantis commented on #85043
It can show more than 10 if the users changes the default config. We can still remove the pagination though.

The docs say `The time when the process was started.` It doesn't mention CPU time. Let's stick with `time`, it's also what the output of `top` command shows:
<img width="645" alt="Screen Shot 2020-12-08 at 12 50 40" src="https://user-images.githubusercontent.com/1685068/101480484-0cd12000-

[2020-12-08 12:04] legrego commented on #66621
Hi @srgbnd, thanks for the question. The x-pack security plugin will register the auth cookie strategy (and registerAuth) when it's enabled, but this only happens for the Elastic licensed default distribution, which includes all of the "X-Pack" features. The Apache-2.0 Licensed Distribution ("OSS Distribution") does not include the x-pack security plugin, so it will not be registering the cookie s

[2020-12-08 12:16] peluja1012 commented on #83329
I'll close this issue as @InbarShimshon confirmed that a new rule is triggering slack messages, as expected. Inbar will open a new issue if she finds another problem.

[2020-12-08 12:16] #83329 closed

[2020-12-08 12:25] mikecote commented on #60767
Correct, we don't have a field for this at this time.

[2020-12-08 12:53] peteharverson commented on #65078
Closing as fixed by #81662 for 7.11.

[2020-12-08 12:53] #65078 closed

[2020-12-08 12:55] #80243 closed

[2020-12-08 13:02] #83473 closed

[2020-12-08 13:24] EricDavisX commented on #85110
reviewed - I'm not sure I have strong opinion on this yet.  Is it an easy fix?  Would we need the policy name for auditing purposes?  Maybe this could be fixed as part a larger auditing feature.  @ph your take?

[2020-12-08 13:26] EricDavisX commented on #85118
This looks like a good bug to fix for Fleet GA, if we easily have time - Reset impact to medium, it isn't hurting anyone unless they do it to themselves.  The work-around is to just not re-use token names

[2020-12-08 13:28] flash1293 commented on #77017
@mbondyra Seems like this is fixed already, can we close?

[2020-12-08 13:28] jonathan-buttner commented on #85145
@achuguy @IgorGuz2000 Heads up

[2020-12-08 13:30] jportner commented on #16714
I was originally thinking of the anonymous auth provider, but as @azasypkin pointed out, that requires a cookie. But yes this is another use case!

Yes, I was replying with regards to Pierre's proposal above which did not include validation, sorry I missed your newer comment and subsequent PR where you included some validation!

I like it!

`Access-Control-Request-Headers` originate from the brows

[2020-12-08 13:33] EricDavisX commented on #85124
@manishgupta-qasource @vipulsrivastava-qasource this is an interesting case.  Can I ask that you research the intended support of name space characters for a 7.11, 7.10, and 7.9 releases?  I think there were changes made intentionally but I don't recall if it was to allow or deny certain characters.  It may be doc'ed in the main elastic namespace documentation too, if we can further gather info it

[2020-12-08 13:39] chrisronline opened #85265 "[Monitoring] Report throttling values better"
In https://github.com/elastic/kibana/pull/43709, we changed the values to display in the appropriate units (in this case, `ns`). However, this isn't very helpful still. Since these values will be in the millions, we should convert them to a more human-readable unit (such as `s` or even `ms`).

On top of this, we need to document these values and their units in https://www.elastic.co/guide/en/kiban

[2020-12-08 13:41] DziyanaDzeraviankina commented on #69657
Apparently, fix from EUI has already been applied, @stratoula could you please check if it's still reproducible?

[2020-12-08 13:44] stratoula commented on #69657
@DziyanaDzeraviankina yes you are right! It is fixed so I am closing it 🙂

[2020-12-08 13:44] #69657 closed

[2020-12-08 13:48] MadameSheema commented on #83793
https://github.com/elastic/kibana/pull/85232

[2020-12-08 13:49] MadameSheema commented on #85217
https://github.com/elastic/kibana/pull/85235

[2020-12-08 13:49] MadameSheema commented on #85215
https://github.com/elastic/kibana/pull/85240

[2020-12-08 13:50] MadameSheema commented on #85216
https://github.com/elastic/kibana/pull/85240

[2020-12-08 13:50] MadameSheema commented on #83773
https://github.com/elastic/kibana/pull/85243

[2020-12-08 13:50] MadameSheema commented on #83774
https://github.com/elastic/kibana/pull/85243

[2020-12-08 13:50] MadameSheema commented on #83775
https://github.com/elastic/kibana/pull/85243

[2020-12-08 13:53] neptunian commented on #65284
@mattkime We discussed this issue before https://github.com/elastic/kibana/pull/61257 and it was ultimately decided that they felt the error/warning message should be shown in this situation.  I'm not sure how common it would be that the user has navigated to Fleet without ingesting any data and finds themself in this scenario.  We may be eliminating one common way this might happen which is the u

[2020-12-08 13:55] ruflin commented on #65284
I think the problem is that it will happen for some users and they will get an error shown that they don't really know why they get it. So in any case, I think we need to either have it fixed on our end (like now) or have a fix by Kibana (preferred).

[2020-12-08 13:55] pmuellr commented on #50077
Perfect - I think we discussed that in a previous design meeting, and seemed good to me.

[2020-12-08 13:57] dikshachauhan-qasource commented on #84119
Hi @EricDavisX,

We tested this ticket on the latest 8.0 build and here are our observations:

**Build Details**:
[code]
**Observations**:
We created a test plan and executed **09** testcases here: [Agent log level Test run](https://elastic.testrail.io/index.php?/runs/view/887)
- While performing testing, we observed one of scenarios is failing for the debug filter, when we apply debug filter, we

[2020-12-08 13:59] michaelpietzsch commented on #36630
Can we bump this up? We need this urgently!

[2020-12-08 14:19] nchaulet commented on #84119
Maybe it's a little confusing but the select below the log table is not used to filter logs by log level, but to set the log level on the agent, if you want to filter the log level you should use the log level field on top of the log level table.

[2020-12-08 14:23] neptunian commented on #65284
I think the error "No matching indices found: No indices match pattern "logs-*" could be helpful to the user when they navigate to a Dashboard and they don't see any data.  Perhaps we can improve this message to make it more "actionable"?  Or we do want no message at all?  When it shows up in Stack Management -> Index Patterns -> (logs-*), it seems more confusing to me.  They are both using `api/i

[2020-12-08 14:35] pmuellr commented on #75601
I had some code this in PR #83919 for a while, but am taking it out as that PR is getting too big.  I'll keep a branch of that though, and do a follow-on PR for this.

For reference, here's the code for it:

[code]

[2020-12-08 14:41] kibanamachine commented on #61612
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10237/)

[2020-12-08 14:41] kibanamachine commented on #61612
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10237/)

[2020-12-08 14:44] mikecote commented on #70303
I had a chat with @XavierM on this issue and this won't be needed until case moves out of the security solution. In the meantime, the case connector will only be visible in the security solution (hidden from connectors UI) and the executor should be running as the user already. This means it should handle proper RBAC at execution time if someone was to trying to use the `_execute` endpoint.

[2020-12-08 14:46] #83780 closed

[2020-12-08 14:53] YulNaumenko opened #85282 "[Alerting UI][License] Disable alert types in UI when the license doesn't support it."
Based on the discussion was decided to keep the same UX that we already have for a licensing for action types:
Add UI indicators whenever an alert is disabled via license. Users can only delete existing alerts.
Part of Meta issue https://github.com/elastic/kibana/issues/60767

[2020-12-08 14:53] elasticmachine commented on #85282
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-08 15:16] #80065 closed

[2020-12-08 15:20] #78778 closed

[2020-12-08 15:21] #85167 closed

[2020-12-08 15:28] EricDavisX commented on #84119
Thank you Nicolas.  @dikshachauhan-qasource further, if I understand your question, the short discussion is this:
 - the support on the Agent is just now merged for 8.0, so you can test again tomorrow tho not all fixes are in
 - the Agent log level sector will set it's level of verbosity... anything less verbose will be displayed.  So, setting it to 'debug' is the most verbose and all less-verbose

[2020-12-08 15:33] #85226 closed

[2020-12-08 15:33] 32bitbradley opened #85287 "Snapshot and restore doesn't compute Index math expressions"
**Kibana version:** 7.10.0

**Elasticsearch version:** 7.10.0

**Server OS version:** Centos 7

**Browser version:** Chrome

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):** Yum

**Describe the bug:**

Snapshot and restore doesn't compute Index math expressions for 'Data streams and indices'. Instead, the whole expression is passed as a

[2020-12-08 15:35] tylersmalley opened #85289 "Failing test: url state sets and reads the url state for timeline by id"
https://kibana-ci.elastic.co/job/elastic+kibana+master/10237/execution/node/587/log

[code]

[2020-12-08 15:37] elasticmachine commented on #77060
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 15:37] tylersmalley commented on #85289
Skipped

master/8.0: 68585629024e351e4d55e4997c89667e4383d26b
7.x: 7.11: 1c51fe8e1a438cadf4ae2098539bdcbd88187521

[2020-12-08 15:45] yuliacech commented on #85090
This issue was solved via [#85251](https://github.com/elastic/kibana/pull/85251).

[2020-12-08 15:45] #85090 closed

[2020-12-08 15:48] mikecote commented on #60767
Some further chat about disabling alerts vs pre-configured alerts

[2020-12-08 15:52] timroes commented on #80517
As of the latest discussion, ES team (@cbuescher) will begin work on the fields API to represent nested fields in query in an unflattened way. As soon as we have something ready, let's link it here. I've outlined the major expectations to the API from our side:

* Nested fields should be returned as structured (JSON) content from the closest to root nested object.
* Ideally (read optionally) they

[2020-12-08 15:52] mikecote commented on #85282
@YulNaumenko would you be able to add the sub-issues as bullet points in the meta issue? 🙏

[2020-12-08 15:52] Dosant opened #85293 "[Search][Dashboard] Don't create search session on "panels" change"
Part of https://github.com/elastic/kibana/issues/83640

[This](https://github.com/elastic/kibana/pull/84261) pr change when search session is started on a dashboard. It fixed bunch of bugs, but led to re-fetching data more often then we did before.

More context: https://github.com/elastic/kibana/pull/84261#issuecomment-740570714

We shouldn't trigger full refetch, for example, when a new panel wa

[2020-12-08 15:52] elasticmachine commented on #85293
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-08 16:07] A-Hall opened #85294 "Global filter applied by clicking visualization ignored on bucket filter visualizations if courier:ignoreFilterIfFieldNotInIndex is on"
**Kibana version:** 7.10.0

**Elasticsearch version:**  7.10.0

**Server OS version:** Windows 10

**Browser version:** Chrome 86.0.4240.198 (Official Build) (64-bit)

**Browser OS version:** Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**  Unpacked Tarball

**Describe the bug:**  When courier:ignoreFilterIfFieldNotInIndex is set to on, "clicked" filters are n

[2020-12-08 16:25] elasticmachine commented on #84582
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-08 16:26] FrankHassanabad commented on #83539
This is fixed now, closing

[2020-12-08 16:26] #83539 closed

[2020-12-08 16:28] lockewritesdocs commented on #85205
I talked to @javanna about this validation and think that we should not do it. Kibana would need to validate both the mapping and `_source` fields to check whether a field with the same name as the runtime field exists. We can check whether the field exists in the mappings, but because not all `_source` fields are mapped, we can’t go and check every single document if there is one value for the fi

[2020-12-08 16:28] #85205 closed

[2020-12-08 16:31] FrankHassanabad commented on #50578
If this is still failing on 7.8.1, then I would just skip for that particular branch. I haven't seen any updates since Oct, and there looks like a reference from when graphiql was cleaned up. So please let me know @liza-mae if you're seeing it on any recent branches such as `7.x`, otherwise I say we move forward.

[2020-12-08 16:31] #50578 closed

[2020-12-08 16:33] FrankHassanabad commented on #50577
This hasn't been commented on for a while and if this is still an issue for 7.8.1 I say we just skip it there and move on. If this fails for anything more recent such as 7.x+ let us know, otherwise I see that this was referenced as being refactored/changed a lot, so I think we should hopefully be able to move on and forward at this point. Closing for now, let me know if this is a mistake @liza-mae

[2020-12-08 16:34] #50577 closed

[2020-12-08 16:35] legrego commented on #27138
ES discovered an inconsistency between docs and implementation with the native realm specifically: https://github.com/elastic/elasticsearch/issues/66020.

The max length of a role name and user name is < 512 bytes, not the 1024 bytes that's advertised

[2020-12-08 16:38] FrankHassanabad commented on #82207
This is from October and the test hasn't been skipped and that code is refactored so I would imagine this is completed and not blocking anyone at this point.

[2020-12-08 16:38] #82207 closed

[2020-12-08 16:40] kibanamachine commented on #62060
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10239/)

[2020-12-08 16:40] kibanamachine commented on #85098
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10239/)

[2020-12-08 16:40] kibanamachine commented on #61612
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10239/)

[2020-12-08 16:42] rudolf commented on #54837
@joshdover wondered if we could introduce a `resolve` query paramater to all HTTP Saved Object API's that defaults to true in 7.x. We could then change our public Saved Objects client to always set `resolve=false` so that Kibana code doesn't depend on resolve and doesn't have any performance degradation.

This will significantly reduce the impact on users using our HTTP API. This will probably deg

[2020-12-08 16:48] mikecote opened #85302 "Exploratory testing of new Amsterdam theme"
In this issue, we should make sure the alerting UIs are working properly under the new Amsterdam theme. This will be turned on by default in 7.12 and we should make sure any custom usage of EUI still works. Example of custom usage would be overwriting the CSS classes (`.eui...`). We can fix the issues or ask for help from the design / EUI team.

[2020-12-08 16:48] elasticmachine commented on #85302
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-08 16:49] jportner commented on #54837
I solicited feedback internally before finalizing the "Technical details" section and we agreed not to allow resolving on multiple/all SO APIs. That creates a bigger testing burden for a feature that we ultimately don't want to continue supporting forever. Not to mention that consumers need to understand the resolution "outcome" which required that we change the shape of the response. Where the `g

[2020-12-08 16:53] mikecote commented on #84582
Fixed with https://github.com/elastic/kibana/pull/84707.

[2020-12-08 16:53] #84582 closed

[2020-12-08 16:53] bhavyarm opened #85303 "Measure accessibility (a11y) test coverage"
We have been steadily adding a11y tests using axe-core library. Here is the meta issue - https://github.com/elastic/kibana/issues/51456. I have also created issues to add tests for other solutions/apps team.

Right now - the way coverage is getting measured is with manual. But it will be great to see if we can get some sort of metrics automatically with our current code coverage.

Spoke to @dmleme

[2020-12-08 16:53] elasticmachine commented on #85303
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2020-12-08 16:59] #78790 closed

[2020-12-08 17:01] lizozom commented on #61741
@mdefazio I guess we could do this as a second step, but I think that rather than having a `refresh` button, we could re-fetch the data if there are any running sessions.

A good UI reference is what you see when restoring Kibana from a snapshot.

[2020-12-08 17:05] mikecote commented on #56573
It was discussed to deprecate the values above our limit and then in 8.0 to remove support. Log some sort of warning until 8.0, create follow up issue for cleanup.

[2020-12-08 17:13] spalger commented on #85078
@tylersmalley we don't use the basePath for functional tests because we want compatibility with cloud and haven't ever plumbed some sort of automatic basePath change functionality in the tests.

[2020-12-08 17:14] mikecote commented on #85302
@mdefazio do you have the steps on how to turn on the Amsterdam theme?

[2020-12-08 17:41] kibanamachine commented on #83772
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine opened #85310 "Failing test: "after all" hook for "Creates and activates a new ml rule" - Detection rules, machine learning "after all" hook for "Creates and activates a new ml rule""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine opened #85311 "Failing test: Creates and activates a new EQL rule - Detection rules, EQL Creates and activates a new EQL rule"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine opened #85312 "Failing test: "after each" hook for "Creates and activates a new EQL rule" - Detection rules, EQL "after each" hook for "Creates and activates a new EQL rule""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine commented on #83771
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:41] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #71299
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #77540
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #81836
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83772
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85310
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #65278
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #71300
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #84021
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83771
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85311
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85312
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine opened #85313 "Failing test: Correct incident fields show when connector is changed - Cases connector incident fields Correct incident fields show when connector is changed"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine opened #85314 "Failing test: "after all" hook for "Correct incident fields show when connector is changed" - Cases connector incident fields "after all" hook for "Correct incident fields show when connector is changed""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85313
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #85314
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #71299
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #77540
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #81836
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #65278
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #71300
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #84021
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:42] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10240/)

[2020-12-08 17:49] aky1286 commented on #84804
Hi Ferullo-

I work with @nbyt3 on this instance, see below for responses:

1.  Looking at the referred to /endpoint-*.log during installation, we saw a few messages logged that look of interest. (see below screenshots) they mention attempts to pull Config.cpp and Logging.cpp for data, like fleet api keys, ssl certs and is unable to find anything. The logs continue with attempts to trying to conne

[2020-12-08 18:09] shahzad31 opened #85317 "Add --pause-on-error flag in kibana functional test runner"
**Describe the feature:**

I just saw pause on error flag in elastic synthetics test runner demo , it's basically part of elastic/synthetics https://github.com/elastic/synthetics/blob/2356672ec095a6b14618101adeda33aee45dbdd6/src/parse_args.ts#L44

It is described as `pause on error until a keypress is made in the console. Useful during development`

if we can have that in kibana, it would be super

[2020-12-08 18:10] elasticmachine commented on #85317
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-08 18:21] exploded-view opened #85318 "Kibana 7.10 Pagination + Rows per page not working"
Coming from **discuss.elastic.co**
https://discuss.elastic.co/t/kibana-7-10-pagination-rows-per-page-not-working/258013

**Kibana version** : 7.10
**Elasticsearch version** : 7.10
**Metricbeat version**: 7.10

**Browser**:
|Google Chrome|87.0.4280.66 (Official Build) (64-bit)|
|---|---|
|Revision|fd98a29dd59b36f71e4741332c9ad5bda42094bf-refs/branch-heads/4280@{#1432}|
|OS|Linux|

|Firefox|83.0 (64

[2020-12-08 18:22] ravikesarwani commented on #85265
I think we should use standard SI symbols to represent time shorter than a second.

Value | SI symbol | Name
10−1 s | ds | decisecond
10−2 s | cs | centisecond
10−3 s | ms | millisecond
10−6 s | µs | microsecond
10−9 s | ns | nanosecond
10−12 s | ps | picosecond
10−15 s | fs | femtosecond
10−18 s | as | attosecond
10−21 s | zs | zeptosecond
10−24 s | ys | yoctosecond

My suggestion would be to con

[2020-12-08 18:31] elasticmachine commented on #85145
Pinging @elastic/endpoint-app-team (Feature:Resolver)

[2020-12-08 18:32] elasticmachine commented on #82920
Pinging @elastic/endpoint-app-team (Feature:Resolver)

[2020-12-08 18:43] elasticmachine commented on #85318
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-08 18:43] chrisronline commented on #85318
Related to https://github.com/elastic/kibana/issues/83175

[2020-12-08 18:54] hbharding opened #85321 "Node detail z-index / order issue with datetime picker"
From https://github.com/elastic/kibana/issues/85061

Users are unable to interact with the datetime picker when the node detail panel is open. I suspect we can fix this by moving the EuiPortal to be located somewhere else inside the Metrics UI rather than appended at the end of the document body. Since the panel is currently positioned absolutely to the document body, we'll need to update the css

[2020-12-08 18:54] elasticmachine commented on #85321
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 18:58] hbharding opened #85322 "Waffle map tooltip regression"
There used to be a tooltip that displayed when users hovered over a node that showed available metrics for the node at the time. There seems to have been a regression - I'm unable to see this tooltip anymore on hover. As an aside, we should be using the `title` prop for this tooltip. From the screenshot, It looks like we're passing the node title in as `content` and defining our own horizontal rul

[2020-12-08 18:58] elasticmachine commented on #85322
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 19:00] spalger commented on #85078
Alright, after digging in more into how cluster works, and doing a POC of this functionality (which totally works) I think going this path will require a lot more work from more people and so I'm instead pursuing other options. Thanks for taking a look @kobelb and @tylersmalley

[2020-12-08 19:00] #85078 closed

[2020-12-08 19:01] hbharding opened #85323 "Waffle map is missing selected node state"
The waffle map node should have a 4px black border (outline, box shadow, etc.) when the node detail panel is open to indicate which node is selected.

![image](https://user-images.githubusercontent.com/847805/101208814-b9538f00-3640-11eb-9efb-99ea352dffee.png)

[2020-12-08 19:01] elasticmachine commented on #85323
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 19:03] spalger commented on #85078
For historical purposes:

While investigating this option I realized that https://github.com/elastic/kibana/issues/79748 is describing a production feature that we might implement in core. This feature would conflict with the approach described for sending sockets to the child process unless we chose to manage socket distribution ourselves rather than relying on the cluster module to automatically

[2020-12-08 19:16] hbharding opened #85325 "Only 1 node detail panel should be open at a time"
If a node detail panel is already open, selecting a new node should close the previous one that was open. Currently the UI is allowing the user to open multiple panels, which is not the intended behavior.

In addition, we should store the selected tab on the detail panel so that when the user selects a different node, they are presented with the same tab / information. If storing "tab state" is no

[2020-12-08 19:16] elasticmachine commented on #85325
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 19:27] hbharding opened #85327 "Layout issues with node detail Processes tab"
There are a few layout issues with the Process panel, described below:

### 1. Process state summary section

![image](https://user-images.githubusercontent.com/847805/101197984-cb2d3600-3630-11eb-9f30-5fbe7e2f2c4b.png)
![image](https://user-images.githubusercontent.com/847805/101201092-31b45300-3635-11eb-9010-336e3e0a1487.png)

We probably shouldn't be using EuiTable here. There are several issue

[2020-12-08 19:27] elasticmachine commented on #85327
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 19:37] smith opened #85328 "[APM] Alert flyout expression popovers don't close when scrolling or selecting"
See recording. We probably need to add some handlers in the PopoverExpression component.

![CleanShot 2020-12-08 at 13 35 48](https://user-images.githubusercontent.com/9912/101532609-69cfd480-395a-11eb-9cf3-c9476c43542f.gif)

[2020-12-08 19:37] elasticmachine commented on #85328
Pinging @elastic/apm-ui (Team:apm)

[2020-12-08 19:38] chrisronline commented on #83175
Related to https://github.com/elastic/eui/issues/4369

[2020-12-08 19:38] chrisronline commented on #85318
Related to https://github.com/elastic/eui/issues/4369

[2020-12-08 19:42] kibanamachine commented on #83771
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85310
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #77540
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #81836
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83772
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85313
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85314
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #71300
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #65278
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83771
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #84021
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #65278
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85311
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85312
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #71300
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #68607
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85215
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85216
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #80569
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85310
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85313
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85314
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83772
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85311
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #85312
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83773
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:42] kibanamachine commented on #83774
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #83775
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #84021
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #71299
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #77540
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #81836
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #71299
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:43] kibanamachine commented on #85217
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10242/)

[2020-12-08 19:44] mikecote opened #85329 "Ability to retain event log data?"
After syncing with @XavierM, the case team is planning to leverage the event log. They may need the event log to retain data regardless of the ilm policy.

Let's use this issue to discuss such requirement. @XavierM if you can expand the requirements / use case.

[2020-12-08 19:44] elasticmachine commented on #85329
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-08 20:08] #83656 closed

[2020-12-08 20:55] hbharding opened #85340 "Improvements to charts on Metrics Tab"
There are a few bugs / improvements we can make for the charts on the Metrics tab. I think many of these may stem from re-using chart components that were created for Metric Explorer, but not 100% sure on that. We may want to consider creating our own chart components for this tab.

### 1. Charts X/Y axis are not consistent.

Let's use 5 ticks for the Y axis and 12 ticks for the X axis. Ideally th

[2020-12-08 20:55] elasticmachine commented on #85340
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2020-12-08 20:55] tylersmalley opened #85341 "Remove Grunt dependency"
Since moving to dedicated scripts, we have very little use for Grunt these days as it's mostly existing for legacy usages. We should migrate any existing tasks and remove the dependencies.

- [x] Remove [run](https://github.com/elastic/kibana/blob/master/tasks/config/run.js) abstractions (PR: #85210)
- [x] Remove @kbn/ui-framework [usage of Grunt](https://github.com/elastic/kibana/blob/master/pack

[2020-12-08 20:55] elasticmachine commented on #85341
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-08 21:04] VijayDoshi commented on #67153
Agreed the threshold lines should be unique per axis. Ideally, we'd change the default color (or some other visual queue) for each one too so you can tell which axis each threshold is associated with... even more ideally, provide a legend and a label as well.

[2020-12-08 21:09] pmuellr commented on #83472
We've not had any other info on this particular problem since the original investigation, seems like it was in fact TM making the first requests at Kibana startup that were hitting errors with an already overloaded elasticsearch cluster, and not a direct problem related to TM itself.

I think we can go ahead and close this @gmmorris

[2020-12-08 21:15] YulNaumenko commented on #85102
What is decided to do for Disable alert API? Is it supposed to be available for a higher license alerts if the license is basic?
For 7.11 we are not going to use disabling higher alerts on the license downgrade, so it is question should this API to be available similar as Delete API?

[2020-12-08 22:45] cjcenizal commented on #71499
I just want to note that this enhancement is tracked by https://github.com/elastic/kibana/issues/8887, though it's ancient and maybe needs to be updated with the latest concerns if this is something we want to move forward with.

Losing form state by refreshing or navigating away from the form is a looming concern for ES UI. We manage many forms, some of which can be very complex, and losing state

[2020-12-08 23:00] sqren opened #85356 "[APM] react-syntax-highlighter has started to treat linebreaks differently"
After updating react-syntax-highlighter in https://github.com/elastic/kibana/pull/84296 was necessary to modify the linebreak behaviour: https://github.com/elastic/kibana/pull/84296/commits/2be72fa46bf07a4109f355b635b1c3dab44f225e

We should do two things:
 - [ ] Look into why this was necessary and if there is a better solution
 - [ ] Add a test that will catch changes like this in the future

[2020-12-08 23:00] elasticmachine commented on #85356
Pinging @elastic/apm-ui (Team:apm)

[2020-12-08 23:36] cjcenizal opened #85359 "Validate that SLM policy frequency is greater than 15 minutes"
Per https://github.com/elastic/elasticsearch/pull/64452, ES disallows an SLM frequency less than 15 minutes. Per https://github.com/elastic/kibana/pull/84854#pullrequestreview-544260814 we can perform client-side validation to ensure the user hasn't manually defined a cross expression that evaluates to a frequency faster than or equal to every 15 minutes.

[2020-12-08 23:41] #49401 closed

[2020-12-08 23:47] tsullivan commented on #81561
Hi, please take a look at the "System Requirements" section at the bottom of our [troubleshooting document](https://www.elastic.co/guide/en/kibana/current/reporting-troubleshooting.html#reporting-troubleshooting-system-requirements):

There have been a few bugs in the past about screenshots failing, timing out, showing crashing messages, etc. Many times the problem tracked down to not enough memor

[2020-12-08 23:49] tylersmalley commented on #17284
@lukeelmers this is on my radar as I have opened https://github.com/elastic/kibana/issues/85341 to remove Grunt, which is used by kquery. Think we can move this to a package?

[2020-12-09 00:43] kibanamachine commented on #62060
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10248/)

[2020-12-09 00:43] kibanamachine commented on #85098
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10248/)

[2020-12-09 00:50] tylersmalley opened #85363 "Failing ES Promotion: apis Machine Learning ResultsService GetAnomaliesTableData should fetch anomalies table data"
This failure is preventing the promotion of the current Elasticsearch nightly snapshot.

For more information on the Elasticsearch snapshot promotion process: https://www.elastic.co/guide/en/kibana/master/development-es-snapshots.html

[code]

https://kibana-ci.elastic.co/job/elasticsearch+snapshots+verify/1879/execution/node/660/log/?consoleFull

[2020-12-09 00:50] elasticmachine commented on #85363
Pinging @elastic/ml-ui (:ml)

[2020-12-09 00:55] tylersmalley commented on #85314
Should be resolved by https://github.com/elastic/kibana/pull/85319

[2020-12-09 00:55] tylersmalley commented on #85313
Should be resolved by https://github.com/elastic/kibana/pull/85319

[2020-12-09 00:55] tylersmalley commented on #85312
Should be resolved by https://github.com/elastic/kibana/pull/85319

[2020-12-09 00:55] #85312 closed

[2020-12-09 00:55] tylersmalley commented on #85311
Should be resolved by https://github.com/elastic/kibana/pull/85319

[2020-12-09 00:55] tylersmalley commented on #85310
Should be resolved by https://github.com/elastic/kibana/pull/85319

[2020-12-09 01:03] cuff-links commented on #80994
PR is complete. Once the tests pass I will be looking for one of you to review.

[2020-12-09 02:16] cuff-links commented on #80251
This behavior is expected. License management is not enabled on cloud so the test needs to be updated. I will make the fix and take care of that.

[2020-12-09 02:17] cuff-links commented on #80253
This behavior is expected. License management is not enabled on cloud so the test needs to be updated. I will make the fix and take care of that.

[2020-12-09 02:18] cuff-links commented on #85199
Thanks. Closing.

[2020-12-09 02:18] #85199 closed

[2020-12-09 03:07] kibanamachine commented on #79463
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/363/)

[2020-12-09 03:20] mattkime commented on #65284
@neptunian @ruflin I'm going to create a PR to fix the case where the index pattern list has been seeded before there's an index.

[2020-12-09 03:23] mistic commented on #85098
Looks like the test was re-enabled but it keeps looking flaky. Skipped for now.

master/8.0: 3e9a132
7.x/7.11: ef9ea8f

[2020-12-09 03:27] mistic commented on #62060
Looks like the test was re-enabled but it keeps appearing to be flaky. Skipping for now.

master/8.0: 7bed867
7.x/7.11: b551320

[2020-12-09 03:39] axw commented on #79050
Mappings are updated (thanks for the review @chrisronline, I hope I wasn't too presumptuous in asking) and backported to 7.x. Just waiting on a final review of the beats changes before we can pull that into apm-server.

[2020-12-09 05:00] lukeelmers commented on #17284
@tylersmalley Yeah this is potentially something we could extract to a package, along with a few other pieces of `es_query` that have been problematic for different reasons (like circular dependencies & a core -> data dependency we need to remove).

I will bring this up so we can have it on the app services roadmap. Do you have a target release in mind for removing grunt?

[2020-12-09 05:24] #71787 closed

[2020-12-09 06:36] obi134 commented on #44272
Still an issue with 7.10, please fix

[2020-12-09 06:42] #84991 closed

[2020-12-09 07:17] muskangulati-qasource opened #85374 "[Ingest Manager] The long name breaks the UI structure for the Host details table under the Fleet tab."
**Describe the bug**
The long name breaks the UI structure for the Host details table under the Fleet tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent should be deployed with a long name text.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Fleet" from the left navigation bar.
3. Go to the A

[2020-12-09 07:18] elasticmachine commented on #85374
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-09 07:18] elasticmachine commented on #85374
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-09 07:18] muskangulati-qasource commented on #85374
@manishgupta-qasource Please review!

[2020-12-09 08:10] flash1293 commented on #71499
Another possible approach (not saying it's perfect, but it's an option) is to prevent the user from navigating away in a way they would lose data. Maps and Lens are using this at the moment:
<img width="507" alt="Screenshot 2020-12-09 at 09 09 11" src="https://user-images.githubusercontent.com/1508364/101602408-5e35e980-39fe-11eb-9ea9-5dece73872ed.png">

[2020-12-09 08:20] patrykkopycinski commented on #85217
https://github.com/elastic/kibana/pull/85235

[2020-12-09 08:20] patrykkopycinski commented on #85216
https://github.com/elastic/kibana/pull/85235

[2020-12-09 08:20] patrykkopycinski commented on #85215
https://github.com/elastic/kibana/pull/85235

[2020-12-09 08:22] kibanamachine commented on #85105
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10255/)

[2020-12-09 08:27] meierfra-ergon commented on #77590
@jbudz I retestet with 7.10 and can now confirm, that Kibana is starting properly with our settings. And the directories show the correct ownership now.

[2020-12-09 08:36] manishgupta-qasource commented on #85374
Reviewed & assigned to @EricDavisX

[2020-12-09 09:07] patrykkopycinski commented on #84027
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:07] #84027 closed

[2020-12-09 09:07] patrykkopycinski commented on #83774
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:07] patrykkopycinski commented on #83775
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:07] patrykkopycinski commented on #83773
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:08] patrykkopycinski commented on #83772
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:08] patrykkopycinski commented on #83771
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:08] patrykkopycinski commented on #83769
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:08] #83769 closed

[2020-12-09 09:09] patrykkopycinski commented on #83740
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:09] #83740 closed

[2020-12-09 09:09] patrykkopycinski commented on #83741
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:09] #83741 closed

[2020-12-09 09:09] patrykkopycinski commented on #83742
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:09] #83742 closed

[2020-12-09 09:10] patrykkopycinski commented on #65278
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:11] patrykkopycinski commented on #68607
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:12] patrykkopycinski commented on #65497
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:12] patrykkopycinski commented on #69849
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:12] #69849 closed

[2020-12-09 09:12] patrykkopycinski commented on #78557
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:12] #78557 closed

[2020-12-09 09:13] patrykkopycinski commented on #79522
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:13] patrykkopycinski commented on #80569
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:13] patrykkopycinski commented on #82759
https://github.com/elastic/kibana/pull/85235

[2020-12-09 09:13] #82759 closed

[2020-12-09 09:15] jguay opened #85378 "Introduce a setting for max saved objects per dashboard"
**Describe the feature:**
Feature request for having a setting to limit the number of saved objects embedded inside a single dashboard
**Describe a specific use case for the feature:**
Some users created dashboards with hundreds of saved objects
The aim would be to be able to set for example an advanced setting `dashboard:maxObjects` which defines the maximum limit a dashboard can have which shoul

[2020-12-09 09:18] MoranHuri-empow commented on #62770
Having the same issue. Version 7.9.2
Sorting on a table works fine, sorting on other visuals like bar chart is not working.

`filters
| essql
  query="SELECT threat.attack_stage AS Stage, count(*) AS Count
FROM \"empow-forensics*\"
WHERE Stage is not null and QUERY('@timestamp[now-7d TO now]')
GROUP By Stage
LIMIT 10"
| pointseries x="Count" y="Stage" text="Count" color="Count"
| sort by="y" rever

[2020-12-09 10:06] #83888 closed

[2020-12-09 10:06] pheyos commented on #85363
We had some changes in anomaly detection results after the merge of a [backend change](https://github.com/elastic/ml-cpp/pull/1614).

I've disabled the failing test and will re-enable with a fix after the ES snapshot containing this change is promotoed.

master: d63f769636b
7.x/7.11: f85dce0d6f0

[2020-12-09 10:18] jloleysens opened #85383 "[Form lib] Unexpected handling of validation onSubmit"
**Kibana version:**

Current master

**Describe the bug:**

There is a very specific validation implementation in ILM currently:

https://github.com/elastic/kibana/blob/73fbf2a703e2ac1754bad920ea2fc0059d4400eb/x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/form/validations.ts#L59

This validates the value of 3 fields and adds an error depending on that validation

[2020-12-09 10:18] elasticmachine commented on #85383
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-09 10:21] vipulsrivastava-qasource commented on #85124
Hi @Eric

Thank you for the feedback.

We have revalidate current namespace validation rules for different Build version and Please find the below observation for the same.

Build Version | Issue occurring or not | Remark
-- | -- | --
7.9.3 | Issue Is not occurring | Special Character -(Hyphen) is acceptable.
7.10.0 | Issue Is not occurring | Special Character -(Hyphen) is acceptable.
7.10.1 | Iss

[2020-12-09 10:23] dikshachauhan-qasource commented on #85118
Hi @EricDavisX

Thank you for the feedback.

We will re-validate it whenever fix is available for same. Please keep us posted.

Thanks.

[2020-12-09 10:29] dgieselaar opened #85385 "[APM] Look into searches lacking a range query"
Adding a range query means that indices can get skipped based on their min/max values. A terms query by itself is not enough to trigger this optimisation.

I've seen situations in our test environments where some searches without a range filter are inexplicably slow. One example is the service map search where we walk traces. We only have a terms query on trace.id there. My only theory is that som

[2020-12-09 10:29] elasticmachine commented on #85385
Pinging @elastic/apm-ui (Team:apm)

[2020-12-09 10:32] restrry commented on #80508
I audited the most used low-level plugins to prioritize the migration order. Code owners, please, focus on the migration of the following list first:

@elastic/kibana-app-services
- expressions
- uiActions
- data
- navigation

@elastic/kibana-core
- saved_objects
- saved_objects_tagging_oss
- features
- saved_objects_management
- home (owned by @elastic/kibana-core-ui)

@elastic/kibana-app
- vis_d

[2020-12-09 10:34] afharo commented on #80706
I don't think there is at the moment: The culprit was Application Usage and https://github.com/elastic/kibana/pull/77610 introduced a 30-minutes rollup process that aggregates the transactional entries into daily entries. And the daily entries are rolled-up after 90 days to _historic_ `total` documents. This makes it the max-worse-case-scenario total documents equal to `NumberOfApps * ( 1_totalDoc

[2020-12-09 10:44] restrry opened #85386 "[Core] Migrate the remaining plugins to TS project refs"
Prioritised list:
- [x] saved_objects https://github.com/elastic/kibana/pull/87294
- [x] saved_objects_tagging_oss https://github.com/elastic/kibana/pull/87610
- [x] features https://github.com/elastic/kibana/pull/87294
- [x] saved_objects_management  https://github.com/elastic/kibana/pull/88240
- [x] home (owned by @elastic/kibana-core-ui) https://github.com/elastic/kibana/pull/87610
- [x] cloud

[2020-12-09 10:52] delvedor commented on #70431
Hello! With https://github.com/elastic/elasticsearch-js/pull/1338 the client will start publishing two packages:
- `@elastic/elasticsearch`
- `@elastic/elasticsearch-canary`

The first one is the "normal" distribution and will follow stack releases. The second one will be released as soon as there are new changes in the client, such as new features o new supported APIs.
Kibana will **always** depe

[2020-12-09 11:16] #85001 closed

[2020-12-09 11:26] tsg opened #85391 "Add read permissions to the Kibana system user for the diagnostic telemetry"
Diagnostic Alert Telemetry is being added in https://github.com/elastic/kibana/pull/84422. The code uses the `kibana_system` user to query the hidden data stream `logs-endpoint.diagnostic.collection-*`.

We'd like to give `kibana_system` read-only access to these indices.

FYI @kobelb @peteharverson @stevewritescode @joe-desimone

[2020-12-09 11:27] dmlemeshko opened #85392 "Collecting code coverage for jest tests is broken"
With #77894 being merge code coverage job is failing constantly with jest failures:

For both `kibana-intake` and `xpack-intake-intake` steps finish with coverage output as `text`, though `json` is expected.
In case of `xpack-intake-intake`, steps may finish with 4h timout meaning tests execution may go up **4x** times (~ 1h 9 min before)

The only different from regular run is passing `--coverage

[2020-12-09 11:45] #83666 closed

[2020-12-09 11:53] afharo commented on #85086
@Bamieh do you mind taking a look at it when you have a moment?

[2020-12-09 11:54] dej611 commented on #80915
Can confirm that this is a Chrome only issue. Tested with Firefox and Safari.

This affects all partition charts on my tests: the resize event is triggered only for that type of chart somehow. Investigating what can cause this issue.
Initial findings show that disabling the `position: relative` attribute on the body when a tooltip portal is shown fixes it. Still need to find the root source of the

[2020-12-09 12:01] ppisljar commented on #71384
sorry, this slipped my mind. This should be fixed by now, please reopen if you still encounter it.

[2020-12-09 12:01] #71384 closed

[2020-12-09 12:06] ppisljar commented on #76401
this is hopefully resolved as we no longer calculateObjectHash inside esaggs

[2020-12-09 12:06] #76401 closed

[2020-12-09 12:06] peluja1012 commented on #82981
Thank you for filing this issue. We're closing it as a duplicate of https://github.com/elastic/kibana/issues/79566. Please look for updates updates there.

[2020-12-09 12:06] #82981 closed

[2020-12-09 12:17] peluja1012 commented on #83117
@garyjblackwell Thank you for filing this issue. What version of Kibana are you running? In 7.9.0, we introduced the [Exceptions feature](https://www.elastic.co/guide/en/security/current/detections-ui-exceptions.html), which I think you could leverage to exclude Logitech specific requests. Let us know if this solution works for you.

[2020-12-09 12:21] paulb-elastic opened #85401 "[Uptime] Display summary performance metrics on waterfall chart"
As a Website Performance Analyst using Elastic Synthetics and Uptime
I want to see main performance metrics easily on the waterfall chart
So I can get context about the performance of my website

Requirements:
- [ ] Display a summary of the performance metrics at the top of the waterfall chart
- [X] Display these as annotations on the waterfall chart (vertical lines with badges labelled with the a

[2020-12-09 12:21] elasticmachine commented on #85401
Pinging @elastic/uptime (Team:uptime)

[2020-12-09 12:22] dmlemeshko commented on #85392
@elastic/kibana-qa @elastic/kibana-operations

[2020-12-09 12:23] urso commented on #85265
Going in the other direction, can we introduce minutes the least? E.g.  `8000s` vs `133:20m`

[2020-12-09 12:27] cauemarcondes opened #85402 "[APM] Chart legends should change color on Dark theme"
When using the dark theme the chart legends are a bit difficult to see.

![Screenshot 2020-12-09 at 13.25.32.png](https://zube.io/files/elastic/fa65b30b43aba2f0d47e8217499b04aa-screenshot-2020-12-09-at-13-25-32.png)

[2020-12-09 12:27] elasticmachine commented on #85402
Pinging @elastic/apm-ui (Team:apm)

[2020-12-09 12:33] deepikakeshav-qasource opened #85403 "[Security Solution] Template Auto Save option is not working when creating timeline template using "Add to favorites" button before providing the name and description.""
**Description**
Template Auto Save option is not working when creating timeline template using "Add to favorites" button before providing the name and description."

**Build Details:**
[code]
**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps to Reproduce:**
1. Navigate to template tab of security.
2. First

[2020-12-09 12:34] vipulsrivastava-qasource opened #85404 "Long Integration name not truncated on Agent details page under the Agent tab."
**Kibana version:**
Kibana: 7.11.0-Snapshot cloud environment

**Elasticsearch version:**
Elasticsearch: 7.11.0-Snapshot

**Host OS and Browser version:**
Windows 10 , All

**Description**
Long Integration name not truncated on Agent details page under the Agent tab.

**Preconditions**

1. 7.11.0-Snapshot latest Kibana cloud environment should be available with commit https://github.com/elastic/ki

[2020-12-09 12:35] elasticmachine commented on #85404
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-09 12:35] deepikakeshav-qasource commented on #85403
@manishgupta-qasource Please review!!

[2020-12-09 12:36] vipulsrivastava-qasource commented on #85404
@manishgupta-qasource : Please review the Bug.

[2020-12-09 12:43] #82823 closed

[2020-12-09 12:44] manishgupta-qasource commented on #85403
Reviewed & Assigned to @MadameSheema

[2020-12-09 12:46] EricDavisX commented on #85124
That is all I needed, thank you @vipulsrivastava-qasource .  I'll push it to @ph to see if he has methods to easily see if there was a general stack change that would have modified this in 7.10.1+ and what urgency it may be to fix.

[2020-12-09 12:46] muskangulati-qasource commented on #80974
Hi @kevinlog,

We have validated the ticket on the latest 7.11.0-SNAPSHOT and found that the issue is now **FIXED**.

Please find below the complete details:

**Build Details:**
[code]

**Screenshot**
![80974](https://user-images.githubusercontent.com/60252716/101605702-84707f00-3a28-11eb-8071-036dd5ad59fb.png)

Hence, closing this ticket and marking it as Validated.

Thanks!

[2020-12-09 12:46] #80974 closed

[2020-12-09 12:47] manishgupta-qasource commented on #85404
Reviewed & Assigned to @EricDavisX

[2020-12-09 12:55] dikshachauhan-qasource commented on #84119
Hi @EricDavisX

Thank you for the clarification and deeper look to functionality.

We will re-validated same once code is available for feature as mentioned in [comment ](https://github.com/elastic/beats/issues/22986#issuecomment-740671829).

Moreover, we have updated 03 testcases as per above information. Updated testcases links are as follows:
https://elastic.testrail.io/index.php?/cases/view/35

[2020-12-09 13:00] fbaligand commented on #71384
Yes, it is fixed since Kibana 7.10.

I recently understood that issue was because « toExpression » function was not copied in basic_vis_type.

[2020-12-09 13:13] #85134 closed

[2020-12-09 13:18] andrewvc opened #85409 "[Uptime] Mini histogram on overview page is misleading"
The mini histogram here on the overview page is misleading because the query only searches for down checks, but doesn't scale the bars to account for up checks. So, if you perform a million checks and one fails, you'll get a very tall red bar in the miniature histogram, when it should be an invisible sliver really. The fix for this is to include up checks as well as down checks in that chart.

I'm

[2020-12-09 13:18] elasticmachine commented on #85409
Pinging @elastic/uptime (Team:uptime)

[2020-12-09 13:22] EricDavisX commented on #85404
@nchaulet and @hbharding do you have strong feelings on fixing this now or for GA? It doesn't seem urgent to me.  Leaving as unassigned for now.

[2020-12-09 13:24] rahulgupta-qasource commented on #84962
Hi Eric

We have updated 01, created 04 and executed 04 testcases on 8.0.0-snapshot build.

Testcase updated:
https://elastic.testrail.io/index.php?/tests/view/172672

Testcases created:
https://elastic.testrail.io/index.php?/cases/view/35202
https://elastic.testrail.io/index.php?/cases/view/35203
https://elastic.testrail.io/index.php?/cases/view/35204

Executed 04 testcases under [update agent de

[2020-12-09 13:27] EricDavisX commented on #85374
@nchaulet and @hbharding another UI / UX consideration for long strings, not urgent to me.  I'll leave it to you.

[2020-12-09 13:34] Dosant opened #85410 "[URL Drilldown] Conditional URL templates"
In https://github.com/elastic/kibana/pull/83167#pullrequestreview-548159082 we removed preview and validation in the editor. Now we have a simple path forward towards conditional templates. We just needs to introduce logical primitives (handle bars functions for comparison).
if we do this, then:

1. users could create URL that lead to different api depending on variables:
pseudo example:
[code]

2

[2020-12-09 13:41] stratoula opened #85411 "[TSVB] Fields lists do not populate all the times"
**Kibana version:**
master, 7.11

**Describe the bug:**
There are some occasions that the fields list and the time fields options don't populate.
<img width="1250" alt="Screenshot 2020-12-09 at 3 34 10 PM" src="https://user-images.githubusercontent.com/17003240/101636659-52fdb080-3a34-11eb-85b5-7e7e0261f0ed.png">

<img width="1876" alt="Screenshot 2020-12-09 at 3 34 25 PM" src="https://user-images

[2020-12-09 13:41] elasticmachine commented on #85411
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-09 13:52] filippog commented on #76401
I can confirm that dashboards in 7.10 are quite a lot more responsive, thanks!

[2020-12-09 14:10] #85188 closed

[2020-12-09 14:32] yuliacech commented on #82880
Hi @cjcenizal , readonly it also [allowed in warm phase](https://www.elastic.co/guide/en/elasticsearch/reference/master/ilm-readonly.html), should we add it there too?

[2020-12-09 14:33] #85363 closed

[2020-12-09 14:45] #83510 closed

[2020-12-09 14:55] peteharverson commented on #82140
Saw another example of the error in job creation not being displayed on the page, this time caused by a mapping conflict with an existing field in the results index:

![image (5)](https://user-images.githubusercontent.com/7405507/101645627-7c1b4280-3a2e-11eb-82c2-24b68b2eb8d9.png)

Response contains errors of the form:

[code]

[2020-12-09 15:07] mikecote commented on #62003
Note: The [share to](https://github.com/elastic/kibana/issues/60433) project is currently on hold.

[2020-12-09 15:08] ryankeairns commented on #69423
Connecting some dots here... it might be wise to use a similar UI to what was just implemented in the save modal (for picking new and existing dashboards):

<img width="902" alt="Lens_-_Elastic" src="https://user-images.githubusercontent.com/766596/100919520-8756f700-349f-11eb-8169-0ca6baa5110a.png">

[2020-12-09 15:42] kibanamachine commented on #43963
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.10/366/)

[2020-12-09 15:50] mistic commented on #70431
@pgayvallet when I said pointing to master I meant @next will always reflect the most update changes we have on that branch  which will imply the integration of an automatic release tool like `@semantic-release`. 😃

@delvedor I'm okay with that approach. Just one question: if kibana will always depend on `@elastic/elasticsearch-canary`, even on releases, where will `@elastic/elasticsearch` be used

[2020-12-09 15:52] elastic-jb commented on #85410
Yes! This is part of why I was asking about the active user or current role variables also. You could create conditional drills based on who the viewer is.

[2020-12-09 15:53] dej611 commented on #80915
@flash1293 found the issue is triggered by the DimensionEditor panel flyout, which adds few divs for the `FocusTrap` feature.

[2020-12-09 15:53] delvedor commented on #70431
@mistic `@elastic/elasticsearch` will not be used at all. Try to sync the release is really annoying, my plan is to remove completely this issue by making Kibana depend only on the canary package even for releases, as the canary package will publish stable versions as well. In this way, your work on the automation side should be easier.

[2020-12-09 15:58] mistic commented on #70431
@delvedor got it, I'm okay with it. \cc @tylersmalley

[2020-12-09 16:05] spalger commented on #43963
Really hoping this helps here: https://github.com/elastic/kibana/pull/85425

[2020-12-09 16:17] gmmorris commented on #83472
works for me 👍

[2020-12-09 16:17] #83472 closed

[2020-12-09 16:18] shahzad31 commented on #85409
I don't think it's unexpected behavior. Down history columns is meant to show down history. To get the sense where there was a downtime.

If we also start showing up ping, one occasional down time will get lost and it won't be visible.

You have to look very carefully.

Our current implementation is perfect to get a sense of the situation.

[2020-12-09 16:18] shahzad31 commented on #85409
Showing up pings will add no value, it will only clutter the mini chart.

[2020-12-09 16:24] jloleysens commented on #84442
After https://github.com/elastic/kibana/pull/85258 was merged this should be fixed for 7.10.2 and up.

[2020-12-09 16:24] #84442 closed

[2020-12-09 16:26] cjcenizal commented on #18886
@rashmivkulkarni Can you confirm this is still an issue and help me understand what an improved error message would look like, if so? Thanks!

[2020-12-09 16:28] ph opened #85428 "EPM should support installing Lens assets types."
The EPM  doesn't support the installation of Lens assets.

[2020-12-09 16:28] elasticmachine commented on #85428
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-09 16:29] cjcenizal commented on #23488
For reference, we've been exploring this a bit via https://github.com/elastic/kibana/pull/56769

[2020-12-09 16:33] cjcenizal commented on #24879
@spalger Can you please confirm this is still valid?

[2020-12-09 16:36] cjcenizal commented on #44467
Closing this as Upgrade Assistant is expected to change significantly for the 8.0 upgrade.

[2020-12-09 16:36] #44467 closed

[2020-12-09 16:39] cjcenizal commented on #51790
@shaohualuan We're still having trouble reproducing with the information you've provided. To help us understand exactly how to reproduce, could you please provide a video or animated GIF of how you're reproducing the bug? I'm going to close this for now, and we will reopen once you've provided clearer instructions. Thanks.

[2020-12-09 16:39] #51790 closed

[2020-12-09 16:43] kibanamachine commented on #76219
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10264/)

[2020-12-09 16:47] spalger commented on #24879
Yeah, no longer an issue since access controls hide the whole app unless you have the necessary permissions.

[2020-12-09 16:47] #24879 closed

[2020-12-09 16:47] ThomThomson commented on #69423
That's the plan! Thanks to @poffdeluxe, we now have this component in a re-usable library, so this implementation will (hopefully) be as easy as taking that component, and re-configuring it to remove the 'no dashboard, but add to library` option. I'm excited that these radios make the selection between new & existing much more explicit, which was one of the discussion points from earlier.

On a se

[2020-12-09 16:48] sqren commented on #82974
Fixed in https://github.com/elastic/apm-server/pull/4389

[2020-12-09 16:50] dej611 opened #85431 "[Lens] Provide a Parser and Comparable util for IP addresses"
**Describe the feature:**

The util should expose a Parser and Comparable functions for IP addresses (IPv4, IPv6, etc...).

The Parser would be mostly useful for IPv6 addresses (exp. for short notations expansion for things like `::1`).

The Comparable function would be useful to sort the IP addresses in a meaningful way.

**Describe a specific use case for the feature:**

The feature would be use

[2020-12-09 17:14] #83918 closed

[2020-12-09 17:17] #83957 closed

[2020-12-09 17:21] ryankeairns commented on #69423
Great to hear! And, yes, I don't think we should be making assumptions/converting things in this manner as it would be unclear. To that point, we might consider adding a switch below the box that allows for an explicit conversion.

[2020-12-09 17:28] #76307 closed

[2020-12-09 17:29] lizozom commented on #76307
Closing as there is significant work on partial results and splitting out the queries on Discover.
This PR is still irrelevant at the moment. WIll reopen if relevant.

[2020-12-09 17:33] #66859 closed

[2020-12-09 17:34] lizozom commented on #61743
https://github.com/elastic/kibana/pull/84225
https://github.com/elastic/kibana/pull/84837
https://github.com/elastic/kibana/pull/84975
https://github.com/elastic/kibana/pull/85350

[2020-12-09 17:34] #61743 closed

[2020-12-09 17:35] lizozom commented on #68082
https://github.com/elastic/kibana/pull/85253

[2020-12-09 17:35] yuliacech opened #85443 "[ILM] Warn user when shrink action has more shards in warm phase"
This [PR #84087](https://github.com/elastic/kibana/pull/84087) will add shrink action to the hot phase of an ILM policy.
Shrink action needs to have a number of shards configured. And it's possible to enable shrink in warm phase too.

If the warm phase is configured with a number of shards larger than the number of shards configured in hot phase, the ILM will fail because it can't shrink the index

[2020-12-09 17:36] elasticmachine commented on #85443
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-09 17:39] #85043 closed

[2020-12-09 17:44] lizozom opened #85449 "[Maps][Search Sessions] Pass down sessionId from embeddable to search calls"
We're aiming to release the MVP of [Background Sessions](https://github.com/elastic/kibana/issues/61738) (BGS) in 7.12.
The MVP supports saving BGS on Discover and Dashboard.

In order for a map on a dashboard to be saved with the session, the maps embeddable needs to take in the `searchSessionId` and pass it down to the search API.

[code]

_If this is not done before 7.12, when users try to save

[2020-12-09 17:44] elasticmachine commented on #85449
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-09 17:47] c4ss4fr4ss commented on #42005
+1 vote

[2020-12-09 17:53] peteharverson opened #85453 "[ML] Filtering in Anomaly Explorer fails when influencer value has trailing backslash"
Clicking to add a filter on an influencer field value which ends in a trailing backslash fails in the Anomaly Explorer, with an error displayed that the query in the KQL query bar has invalid syntax.

![image](https://user-images.githubusercontent.com/7405507/101667134-df18d380-3a46-11eb-95ae-3868a7366091.png)

The trailing backslash for the text in the query bar inside quotes needs to be escaped

[2020-12-09 17:53] elasticmachine commented on #85453
Pinging @elastic/ml-ui (:ml)

[2020-12-09 17:58] alvarezmelissa87 commented on #85453
https://elastic.slack.com/archives/CFFQ7RP9B/p1607536604175300?thread_ts=1607534159.172200&cid=CFFQ7RP9B

[2020-12-09 18:00] alvarezmelissa87 commented on #85453
If values are in quotes, then should really only need the `escapeSpecialCharacters` function

[2020-12-09 18:15] ThomThomson commented on #71499
@flash1293 Good call, I am working on the `onAppLeave Handler` implementation for dashboard as we speak. I do think this can be a temporary solution to the problem of losing unsaved state that @cjcenizal has brought up.

Even with this approach though, I think the URL length considerations are still valid due to the fact each by value panel contains so much information that a dashboard with 200 by

[2020-12-09 18:18] lukasolson opened #85455 "[KQL] Autocomplete suggestions for values with backslashes aren't treated properly"
**Describe the bug:**

When a value for a field contains backslashes, they aren't properly escaped when putting them into a value autocomplete suggestion. For example, the value `C:\path\to\dir\` will be provided as a suggestion of `"C:\path\to\dir\"`, and the trailing `\"` will be treated as an escaped double-quote instead of a backlash followed by a quote.

![Screen Recording 2020-12-09 at 11 40

[2020-12-09 18:18] elasticmachine commented on #85455
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-09 18:21] chrisronline opened #85456 "[Monitoring] Additional queries need `unmapped_type`"
Relates to https://github.com/elastic/kibana/issues/77066
Relates to https://github.com/elastic/kibana/pull/77099

We missed some `sort` queries that sort on fields that are not currently contained in `metricbeat-*` indices.

It currently looks like the following were missed:

- [ ] [get_beats.js](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/server/lib/beats/get_beats.js

[2020-12-09 18:21] elasticmachine commented on #85456
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2020-12-09 18:25] yctercero commented on #76979
Reopening for testing, closed automatically when PR merged.

[2020-12-09 18:26] lukasolson commented on #85453
So, it turns out what we should really be using is `escapeQuotes` function. (It's also used when we [provide value suggestions in autocomplete](https://github.com/elastic/kibana/blob/e3f150513c359b44e9bd9406de24126288dd5962/x-pack/plugins/data_enhanced/public/autocomplete/providers/kql_query_suggestion/value.ts#L56).) It actually has a bug that was highlighted by this issue being opened. (See http

[2020-12-09 18:26] yctercero commented on #82267
Reopening for testing, closed automatically when PR merged.

[2020-12-09 18:37] kibanamachine commented on #77969
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10157/)

[2020-12-09 18:44] dgieselaar opened #85459 "[APM] Display some kind of APM Server health check in the APM app"
It might be helpful to the user if we show a health check for APM Server in the APM app, and then link to Stack Monitoring where they can dig deeper into the problem. (I've personally ran into a situation where I couldn't figure out why I was not seeing any data and I had to tail APM Server logs to figure out what is happening).

Here's a visual overview of the data that Stack Monitoring has that

[2020-12-09 18:44] elasticmachine commented on #85459
Pinging @elastic/apm-ui (Team:apm)

[2020-12-09 18:58] cjcenizal commented on #82880
@yuliacech Good catch! Yes, I think we should mirror API capabilities in the UI unless a PM or engineer can share a good reason not to.

[2020-12-09 18:58] inqueue commented on #51025
Thank you for drilldowns! Unfortunately it does not capture the full use case of this ER, so we need to reopen this issue.

For example, if the user is pinning arbitrary filters on data not represented in any visualization on any dashboard, it would be really nice if clicking a dashboard link from a markdown widget would preserved pinned filters and carry them over to the URL target. This would fr

[2020-12-09 19:01] ThomThomson opened #85461 "[Maps] [Time to Visualize] Unlinking a Map Causes Error"
**Kibana version:** Master

**Describe the bug:**
When unlinking a map from the library, the following errorEmbeddable is

**Steps to reproduce:**
1. Add `dashboard.allowByValueEmbeddables: true` to your `kibana.dev.yml`
2. Load a dashboard with a by reference map embeddable
3. Unlink the map from the library

**Screenshots (if relevant):**
<img width="323" alt="Screen Shot 2020-12-09 at 1 53 58 P

[2020-12-09 19:18] sqren commented on #85459
Out of the box, is APM Server sending logs to elasticsearch? If they do we should display that as well with the new logs component.
All of this should probably be located under a dedicated APM health section

[2020-12-09 19:19] sqren commented on #77747
@elastic/apm-ui Any objections to removing the "All environments" option in 7.12?

[2020-12-09 19:26] kibanamachine commented on #77969
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10158/)

[2020-12-09 19:26] kibanamachine commented on #77969
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10158/)

[2020-12-09 19:27] kibanamachine commented on #70928
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10158/)

[2020-12-09 19:33] formgeist opened #85470 "[APM] Display services that are not showing because of the selected environment"
# Summary

Related to https://github.com/elastic/kibana/issues/77747

We should think about a way to describe to the user that the Service inventory isn't showing all available services because the environment selector has a specific environment variable selected. I.e. "user sets up a new service with environment `dev`, where is my service?`

![screencapture-release-oblt-elastic-dev-app-apm-servic

[2020-12-09 19:33] elasticmachine commented on #85470
Pinging @elastic/apm-ui (Team:apm)

[2020-12-09 19:35] bhavyarm commented on #84141
@marius-dr spoke to @LeeDr and we have the test cases assigned between us right now for when the BC comes out. Depending on how it goes and where we land at after holidays - we can have status check. Thanks!

[2020-12-09 19:46] spalger commented on #77969
Started failing all of the sudden on 7.x and PRs, skipped

![image](https://user-images.githubusercontent.com/1329312/101679428-9815e880-3a1c-11eb-9690-a983b7b6d9c5.png)

master: https://github.com/elastic/kibana/commit/3d8b95fe6702048713deb93bd3424cd29097b3f1
7.x/7.11: https://github.com/elastic/kibana/commit/d320cfc2c4a6ca5d6ad3690693d8928b02252b1a

[2020-12-09 19:47] spalger commented on #70928
One failure since the fix, coincided with https://github.com/elastic/kibana/issues/77969 so I'm not going to skip for now

[2020-12-09 19:50] #84699 closed

[2020-12-09 19:56] tylersmalley commented on #22913
We're seeing this error in the APM data collected from running the Functional Tests in CI about 70,000 times a day.

url.domain | localhost
-- | --
url.fragment | /edit/81eab320-3a57-11eb-bf94-a14630a76b81?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2015-09-19T06:31:44.000Z',to:'2015-09-23T18:31:44.000Z'))
url.full | http://localhost:6111/app/lens#/edit/81eab320-3a57-11eb-bf94-a

[2020-12-09 20:23] elasticmachine commented on #85461
Pinging @elastic/kibana-gis (Team:Geo)

[2020-12-09 20:28] andrewvc opened #85474 "[Uptime] Show Mime Type in check details"
In https://github.com/elastic/beats/pull/23039#pullrequestreview-548578314 we added MIME type (detected from body) to the heartbeat schema. We should probably show this in the results history somewhere. Note this may differ from the header since it is based on body content.

[2020-12-09 20:28] elasticmachine commented on #85474
Pinging @elastic/uptime (Team:uptime)

[2020-12-09 20:40] ryankeairns commented on #69423
Note to self: consider the 'Send to Canvas workpad' use case as well

[2020-12-09 21:26] sqren opened #85479 "[APM] Show alert annotations on charts"
Blocked by: https://github.com/elastic/kibana/issues/90627

Show alerts as annotations on latency chart. The alert instance should be displayed at the time it occurred. On hover it should be possible to see the threshold and the value that exceeded the threshold.
![image.png](https://zube.io/files/elastic/bbd89209e70242f741bee4cba350dea3-image.png)

Only alerts matching the currently selected `ser

[2020-12-09 21:27] sqren commented on #70169
Another issue which depends on being able to retrieve alert instances: https://github.com/elastic/kibana/issues/85479

Let me know if everything is clear or I should add more details.

[2020-12-09 21:54] jbudz commented on #77590
That's great to hear, thanks for the feedback.  I'm going to close this out for now then, but I'll stay subscribed and we can reopen if there's any further issues.

[2020-12-09 21:54] #77590 closed

[2020-12-09 21:55] alisonelizabeth opened #85482 "[Console] Autocomplete not working as expected"
**Kibana version:**
7.x

**Describe the bug:**
Autocomplete is not working as expected in Console. I am only able to see autocomplete options for `methods`.

Note: This does work as expected on `7.10` and `master`.

On 7.x:
![7 11](https://user-images.githubusercontent.com/5226211/101692877-d3c1aa00-3a3e-11eb-8576-735d2120bcf4.gif)

Expected behavior (7.10, master):
![expected](https://user-images

[2020-12-09 21:55] elasticmachine commented on #85482
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-09 22:47] andrewkroh opened #85486 "Incorrect data types in Fleet managed ingest pipelines"
**Kibana version:**

    {
      "version": {
        "number": "7.11.0",
        "build_hash": "1a6d7308e58787bf0448f65c039739b40d4a6e3d",
        "build_number": 37074,
        "build_snapshot": true
      }
    }

**Elasticsearch version:**

    {
      "version": {
        "number": "7.11.0-SNAPSHOT",
        "build_flavor": "default",
        "build_type": "docker",
        "build_hash": "279

[2020-12-09 22:47] elasticmachine commented on #85486
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-09 22:50] #82494 closed

[2020-12-09 22:52] paul-tavares commented on #84581
Fixed by https://github.com/elastic/kibana/pull/85355

[2020-12-09 22:52] #84581 closed

[2020-12-09 23:11] #69411 closed

[2020-12-09 23:36] Aloshi commented on #76210
+1 to this issue - I was trying to add snapshots to some code that already uses API keys and was very surprised to find my superuser's API key doesn't have permission to generate reports. It sounds like the work-around in the mean time is to switch to user-based authentication?

[2020-12-09 23:37] saiiman opened #85491 "siem detection rule misleading error message v7.10.0"
I tried to implement a detection rule (query rule) for the Elastic SIEM module (Elasticsearch Version 7.10.0) and got this error message.
![Screenshot 2020-12-04 at 11 47 33](https://user-images.githubusercontent.com/61563046/101159379-9f5c8100-362d-11eb-8cb9-ff42a678f5a2.png)

I wondered how an error in the system index `.siem-signals-default` could occur. Also in this index the `host` field was

[2020-12-09 23:54] ThomThomson opened #85493 "[Discuss][Time to Visualize] Browser / Hash History Conflict"
### Problem
In many Kibana apps, two types of histories are used. See https://github.com/elastic/kibana/issues/65968 and https://github.com/elastic/kibana/issues/67470 for more details. This is normally not a problem, but it causes a number of major issues with the `EmbeddableStateTransfer` service by interfering with the `location.state` which is used there to transfer state between applications.

[2020-12-09 23:54] elasticmachine commented on #85493
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-09 23:58] thekofimensah commented on #44272
This would be great to fix because I can't use the data bounds feature with this problem, it hides the data on the borders!

[2020-12-10 01:50] axw commented on #85459
Not at the moment. I think in the future that Agent will by default take care of setting up log collection for APM Server.

[2020-12-10 02:10] nchaulet commented on #84947
Closed we will be using agent template instead

[2020-12-10 02:10] #84947 closed

[2020-12-10 03:53] nehaduggal opened #85507 "[APM] Surface agent central config feedback in the UI"
**Describe the feature:**

Currently, the agent central config deploys a configuration and displays a green indicator with a message that the config has been deployed to one or more agents. Not knowing which applications/instances that the config is applied to is confusing. Once deployed, we should indicate what services/environments the configs were pushed to in the central config UI. Also, at th

[2020-12-10 03:53] elasticmachine commented on #85507
Pinging @elastic/apm-ui (Team:apm)

[2020-12-10 04:10] nehaduggal opened #85508 "[APM] Surface all APM data anomalies in the curated APM UI"
**Describe the feature:**

With our out of the box integration we only surface the anomalies associated with the APM response time ML jobs in the curated APM experience. It'll be really helpful if we could add a way to surface any anomaly detected with APM data to surface in the curated APM experience in a generic way. For e.g. if a user chooses to add a ML job for error rate or for GC metrics, th

[2020-12-10 04:11] elasticmachine commented on #85508
Pinging @elastic/apm-ui (Team:apm)

[2020-12-10 05:44] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10277/)

[2020-12-10 05:55] skmizuho commented on #8817
That will be really useful

[2020-12-10 06:01] nehaduggal opened #85510 "[Discover] Allow copying errors/cautions"
**Describe the feature:**

In Discover if there is an issue with an indexed field, there is a caution that shows up next to the field with information on what needs to get done to fix it but that error cannot be easily copied. As a user, I would have liked for a way to easily capture the error so I can search on how to fix issue. It would be even better if we allowed a user to navigate to the exac

[2020-12-10 06:58] stratoula opened #85512 "[Discover] Need to click navigation link twice when I refresh on a single document page"
**Kibana version:**
7.10

**Describe the bug:**
When I click the `View surrounding documents` or `View single document` I navigate to a new page. When I refresh the page (or copy-paste it to another tab) and click the Discover link, it needs to be clicked twice in order to navigate back to the table. Also, the timerange resets to 15 minutes.

**Steps to reproduce:**
1. Go to Discover and change th

[2020-12-10 06:58] elasticmachine commented on #85512
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 07:35] tylersmalley opened #85513 "Remove Mocha unit test runner"
We have long since preferred using Jest for unit tests within the Kibana repository, and from what I can tell there is no reason all existing Mocha tests can not be migrated to Jest. This meta issue will serve to track the migration of those tests and the cleanup to follow.

- [x] Convert `@elastic/datemath` tests to Jest
- [x] Move Jest tests outside `__tests__` directories
  `find src x-pack pac

[2020-12-10 07:35] elasticmachine commented on #85513
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-10 07:41] #84876 closed

[2020-12-10 08:16] flash1293 opened #85517 "[Lens] Integrate search session id"
Related to https://github.com/elastic/kibana/issues/84908

To enable client side request caching and the "send to background" feature, an important piece of the puzzle is to manage a "search session id". It's created by `const searchSessionId = searchService.session.start();`. This id has to be kept around in the state and be passed to the currently running expression. Every time the user hits ref

[2020-12-10 08:16] elasticmachine commented on #85517
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 08:21] flash1293 opened #85518 "[Lens] Allow users to not render suggestions"
Suggestions are relatively expensive because there are one or multiple separate requests dispatched on each state change for each suggestion.

In some environments it's beneficial for the user to turn off these additional queries.

## Open questions

* Is this an advanced setting or something to be done ad-hoc in Lens and saved to local storage?
* Does this setting turn off suggestions completely

[2020-12-10 08:21] elasticmachine commented on #85518
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 08:24] xgy560501 opened #85519 "How to change the language when i use the docker to deploy kibana."
How to change the language when i use the docker to deploy kibana.

[2020-12-10 08:36] #34989 closed

[2020-12-10 08:36] #34997 closed

[2020-12-10 08:47] xgy560501 commented on #85519
I want to change the language to Chinese.

[2020-12-10 08:55] muskangulati-qasource commented on #79450
Hi @kevinlog,

We have observed the same issue on the Integrations tab.

**Build Details**:
[code]

**Observation**:
When user navigates under Integration page from Overview tab to Policies tab, we get a message 'No Items Found' when data is uploading and not a relevant message to indicate that data is being loading.

**Screenshot**:
- The 'No Items Found' while data is being loaded.
![NoItemsFoun

[2020-12-10 08:59] flash1293 commented on #77969
There's an additional filter configured with an open flyout:
<img width="1007" alt="Screenshot 2020-12-10 at 09 58 27" src="https://user-images.githubusercontent.com/1508364/101749698-534a8a00-3ace-11eb-9120-cb94632db861.png">

Very likely caused by https://github.com/elastic/kibana/pull/85379, investigating

[2020-12-10 09:01] Rodrimix commented on #81561
Thanks @tsullivan for your reply. However, what it is weird is that I was able to generate pdf from canvas workpad in the past (v. 7.8.x if I remember correctly). Is there any difference if the canvas is single or multiple page?)

[2020-12-10 09:16] muskangulati-qasource opened #85521 "[Ingest Manager] The action button is not visible when Hostname is long under the Agents tab."
**Describe the bug:**
The action button is not visible when Hostname is long under the Agents tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent should be deployed with a long name text.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Fleet" from the left navigation bar.
3. Go to the Agents ta

[2020-12-10 09:17] dej611 commented on #84126
Should we close this as won't fix maybe?

[2020-12-10 09:27] elasticmachine commented on #85521
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-10 09:31] muskangulati-qasource commented on #85521
@manishgupta-qasource Please review!!

[2020-12-10 09:32] #83152 closed

[2020-12-10 09:37] #56291 closed

[2020-12-10 09:38] muskangulati-qasource opened #85523 "[ Question ] Pre-built Elastic rules load without user interaction after deploying an endpoint"
**Question**:
Pre-built Elastic rules load without user interaction after deploying an endpoint.

**Build Details**:
[code]

**Preconditions**:
1. Cloud environment on staging should exist.
2. Agent should be deployed with endpoint security enabled.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Detection" under Security from the left navigation bar.
3. Go to the 'Manag

[2020-12-10 09:39] VladLasitsa commented on #72314
I checked on master and this bug is not reproduced anymore. I think this PR #80744 fixed this issue.

[2020-12-10 09:39] #72314 closed

[2020-12-10 09:50] #82879 closed

[2020-12-10 09:55] muskangulati-qasource commented on #85523
@manishgupta-qasource Please review!!

[2020-12-10 10:02] kyberias opened #85526 "Installation zip extraction fails on Windows with path too long exception for file "add_documents_accordion.scss""
**Kibana version: 7.10.1**

**Elasticsearch version: N/A**

**Server OS version: Windows Server 2019**

**Browser version: N/A**

**Browser OS version: N/A**

**Original install method (e.g. download page, yum, from source, etc.): zip file**

**Describe the bug:**

Windows installation package zip extraction fails on Windows with path too long exception for file "add_documents_accordion.scss".

**

[2020-12-10 10:04] dgieselaar opened #85527 "[APM] Filter service dependencies on transaction.type"
Currently, we are not filtering service dependencies on the overview page on the selected transaction type, as spans (and thus, external span metrics) don't inherit transaction.type. We should discuss whether this is needed and if so, discuss with the agent/server teams how we could make it happen.

[2020-12-10 10:04] elasticmachine commented on #85527
Pinging @elastic/apm-ui (Team:apm)

[2020-12-10 10:09] muskangulati-qasource opened #85528 "[ Question ] No message for why a policy is not selectable while adding 'Elastic Security' integration for the second time."
**Question**:
No message for why a policy is not selectable when adding 'Elastic Security' integration for the second time.

**Build Details**:
[code]

**Preconditions**:
1. Cloud environment on staging should exist.
2. Agent should be deployed with Endpoint Security enabled.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser.
2. Click on "Fleet" from the left navigation bar.
3. Go to th

[2020-12-10 10:10] muskangulati-qasource commented on #85528
@manishgupta-qasource Please review!!

[2020-12-10 10:12] K-Kumar-01 commented on #81816
@mdefazio @ymao1
Is the issue still open up for grabs?
I see that there is a lot of time in between the last converstation.
I would like to have a go at the issue if possible.

[2020-12-10 10:13] flash1293 opened #85529 "[Lens] "Save to library" doesn't actually save visualization"
**Kibana version:** master

**Describe the bug:** On picking the new "No dashboard, but add to library" option in the save modal, the visualization is not actually saved even if the toast is shown. It's just reloading the editor in unsaved status

**Steps to reproduce:**
1. Go to Visualize > Create new vis > Lens
2. Configure chart
3. Save
4. Choose "No dashboard, but add to library"
5. Hit "Save"

[2020-12-10 10:13] elasticmachine commented on #85529
Pinging @elastic/kibana-presentation (Team:Presentation)

[2020-12-10 10:13] elasticmachine commented on #85529
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 10:13] flash1293 commented on #85529
@poffdeluxe could you take a look at this? It's likely this is related to the recent work on save modal.

[2020-12-10 10:15] flash1293 commented on #84126
If we can confirm the rules from Wylies table are working (easy to check by going to table, configuring it, then switching to bar), I'm fine with closing this for now.

[2020-12-10 10:18] afharo commented on #65291
I've been looking at usages of `res.internalError()`. It looks like most plugins provide either the error or a message in the body when invoking that helper.

The cases where the method is called but no error/message is provided are, primarily in the security plugin where they log the error first, and then call `res.internalError()` with no params. I think the logger used in these scenarios is key

[2020-12-10 10:22] manishgupta-qasource commented on #85521
Reviewed & Assigned to @EricDavisX

[2020-12-10 10:24] manishgupta-qasource commented on #85523
Reviewed & Assigned to @kevinlog

[2020-12-10 10:27] manishgupta-qasource commented on #85528
Reviewed & Assigned to @kevinlog

@kevinlog Can you please confirm the expected behavior

[2020-12-10 10:41] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/10282/)

[2020-12-10 10:47] ivssh commented on #41407
+1 for this.
Any updates on if this will be supported?

[2020-12-10 11:03] elasticmachine commented on #84764
Pinging @elastic/datavis (Feature:ElasticCharts)

[2020-12-10 11:03] timroes commented on #84764
cc @markov00 Since I don't think we should address that anymore in the vislib implementation and instead make sure Elastic Charts is behaving exactly the way we would want this to behave.

[2020-12-10 11:09] kibanamachine commented on #85105
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10173/)

[2020-12-10 11:12] karanbirsingh-qasource opened #85536 "[Security Solution][Timeline] Filter Button text and UI is Broken under Timeline"
**Describe the bug**
Filter Button text and UI is Broken under Timeline

**Build Details:**
Version: 7.11.0-SNAPSHOT
Commit: `6713443c4b42e001fdf5e77c0482f8a98bd3ffd7`
Build: 37117

Artifact Page: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details**
All

**Preconditions**
1. Any data shipper (for eg audit-beat) should be added to kibana

**Steps to Reproduce**
1. Select

[2020-12-10 11:13] karanbirsingh-qasource commented on #85536
@manishgupta-qasource Please review

[2020-12-10 11:17] restrry commented on #84447
I assumed so, but when I started working on https://github.com/elastic/kibana/pull/73672 I found out that it's not true.
Given you  example for `version_conflict_engine_exception`
- the new ES client logs an error.
- the legacy ES client doesn't log it by default. The only way to see it is to enable `logQueries:true`
[code]

I'm going to adjust the new ES client logging to be compatible with the l

[2020-12-10 11:18] karanbirsingh-qasource opened #85538 "[Security Solution][Timeline]Timeline: Full screen button is not working under Timeline"
**Describe the bug**
Timeline: Full screen button is not working under Timeline

**Build Details:**
Version: 7.11.0-SNAPSHOT
Commit: 6713443c4b42e001fdf5e77c0482f8a98bd3ffd7
Build: 37117

Artifact Page: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details**
All

**Preconditions**
1. Any data shipper (for eg audit-beat) should be added to kibana

**Steps to Reproduce**
1. S

[2020-12-10 11:18] karanbirsingh-qasource commented on #85538
@manishgupta-qasource please review

[2020-12-10 11:22] dgieselaar opened #85539 "[APM] Filter out service nodes if there are no metrics"
Currently we are showing service nodes even if there is no system metric data for them:

![image](https://user-images.githubusercontent.com/352732/101765827-2acc8b00-3ae2-11eb-9d1d-f863c1a56d3c.png)

This is because we have a broad search on metric events, and not all metric events have service.node.name set (for instance external span metrics), or system metric data.

We should filter out items t

[2020-12-10 11:22] elasticmachine commented on #85539
Pinging @elastic/apm-ui (Team:apm)

[2020-12-10 11:29] sqren opened #85540 "[Advanced Settings] Support for navigating directly to a setting"
The Observability solutions currently have their own settings pages but are considering migrating these to "Advanced Settings" for consistency.

One of the blockers are the ability to deep link to a specific setting. The list of settings in Advanced Settings is very long and it would be a bad experience to send the user to the full list. Instead when linking to Advanced Settings from the solution,

[2020-12-10 11:29] elasticmachine commented on #85540
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 11:32] manishgupta-qasource commented on #85536
Reviewed & assigned to @MadameSheema

[2020-12-10 11:32] manishgupta-qasource commented on #85538
Reviewed & assigned to @MadameSheema

[2020-12-10 11:43] timroes commented on #85540
Duplicate of https://github.com/elastic/kibana/issues/50418

[2020-12-10 11:43] #85540 closed

[2020-12-10 11:46] deepikakeshav-qasource opened #85542 "[Security Solution] UI breaks when deleting a long text Timeline name."
**Description**
UI breaks when deleting a long text Timeline name.

**Environment Detail:**
Version: 7.11.0 SNAPSHOT
Commit:6713443c4b42e001fdf5e77c0482f8a98bd3ffd7
Build number : 37117
Artifact: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat should be installed and running.

**Steps t

[2020-12-10 11:47] deepikakeshav-qasource commented on #85542
@manishgupta-qasource Please review

[2020-12-10 11:47] deepikakeshav-qasource opened #85543 "[Security Solution] "Add filter" link is not properly displayed after clicking on "Edit as Query DSL" under the timeline"
**Description**
"Add filter" link is not properly displayed after clicking on "Edit as Query DSL" under the timeline

**Environment Detail:**
Version: 7.11.0 SNAPSHOT
Commit:6713443c4b42e001fdf5e77c0482f8a98bd3ffd7
Build number : 37117
Artifact: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audi

[2020-12-10 11:48] deepikakeshav-qasource commented on #85543
@manishgupta-qasource Please review

[2020-12-10 11:49] afharo commented on #65291
I've created this draft PR with the suggested changes in my previous comment: https://github.com/elastic/kibana/pull/85541

[2020-12-10 11:51] sqren commented on #50418
This would be great to have. I added a duplicate issue (before I found this one) that adds another use case for this https://github.com/elastic/kibana/issues/85540

[2020-12-10 11:53] sqren commented on #50418
This would be perfect. I agree, scrolling is not necessary for the initial improvement.

[2020-12-10 11:57] muskangulati-qasource opened #85545 "[Security Solution] Long text name for Policy is not truncated under the Administration tab."
**Describe the bug:**
Long text name for Policy is not truncated under the Administration tab.

**Build Details:**
[code]
**Browser Details**
All

**Preconditions**
1. Cloud environment on staging should exist.
2. Agent should be deployed with a Security Endpoint integration enabled
3. Provide a long name to the policy without any space.

**Steps to Reproduce**
1. Navigate to Kibana URL on Browser

[2020-12-10 11:58] muskangulati-qasource commented on #85545
@manishgupta-qasource Please review!

[2020-12-10 11:59] dgieselaar opened #85546 "[APM] Hide instances visualisation for RUM services"
**Suggestions**
Remove the following vizualisations from the service overview for RUM services:
 - instances
 - failed transactions (`event.outcome`) (already removed)
 - Add callout mentioning the CSM identical to on the transaction overview

I'm also not sure whether the dependencies table is useful for RUM data. There will be lots of depedencies. (We currently don't have external span metrics f

[2020-12-10 11:59] elasticmachine commented on #85546
Pinging @elastic/apm-ui (Team:apm)

[2020-12-10 12:01] kkensy opened #85548 "KQL still removes leading zero and breaks query in some cases"
**Kibana version:**
7.9.1
**Elasticsearch version:**
7.9.1
**Server OS version:**
Ubuntu 16.04.6 LTS
**Browser version:**
Google Chrome Version 87.0.4280.66 (Official Build) (64-bit)
**Browser OS version:**
Linux Mint 19.1 Tessa
**Original install method (e.g. download page, yum, from source, etc.):**
download page
**Describe the bug:**
As in #62217, there are some cases left, where the leading ze

[2020-12-10 12:04] formgeist commented on #84803
Moving from Slack conversation, we discussed the use of "errors" as a term and whether we need to review the different error terms in the UI too.

### Errors

- error count
- transaction error rate
- error rate %

<img width="981" alt="Screenshot 2020-12-10 at 12 59 56" src="https://user-images.githubusercontent.com/4104278/101770019-1f7c5e00-3ae8-11eb-81d2-c53669ac39d4.png">
<img width="661" alt=

[2020-12-10 12:07] elasticmachine commented on #80706
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:08] formgeist opened #85549 "[APM] Service maps: Datepicker doesn't show when there's no map to be rendered."
# Summary

We should allow to change the time range even if the service map can't render any data, in case that data is in the past or the user has selected a range without data.

<img width="1673" alt="Screenshot 2020-12-10 at 13 01 31" src="https://user-images.githubusercontent.com/4104278/101770432-b9440b00-3ae8-11eb-9561-89746cab3cde.png">

[2020-12-10 12:08] elasticmachine commented on #85549
Pinging @elastic/apm-ui (Team:apm)

[2020-12-10 12:09] elasticmachine commented on #83704
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:09] elasticmachine commented on #81645
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:10] elasticmachine commented on #81017
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:11] kibanamachine commented on #85105
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10174/)

[2020-12-10 12:11] stratoula commented on #84800
I can replicate this problem on 7.10 but on the current master I can't. My pie chart appears with the correct colors after I clean up the search result. So I am closing this as it will be solved on 7.11 🙂

[2020-12-10 12:11] #84800 closed

[2020-12-10 12:11] elasticmachine commented on #84165
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:12] elasticmachine commented on #83124
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:13] elasticmachine commented on #84183
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:13] elasticmachine commented on #81944
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:15] elasticmachine commented on #83522
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:19] stratoula opened #85550 "[Visualize] I can't search with `[` while it is allowed to save a vis with this character"
**Kibana version:**
master

**Describe the bug:**
I have saved a visualization with a title that contains `[]` and it is a valid name. All the sample visualizations also have this character on their titles. But when I navigate to the listing page and search with this name I get the error:
<img width="940" alt="Screenshot 2020-12-10 at 2 16 01 PM" src="https://user-images.githubusercontent.com/1700

[2020-12-10 12:19] elasticmachine commented on #85550
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 12:22] rahulgupta-qasource opened #85552 "Agent remains in 'Healthy' status on updating the agent policy"
**Kibana version:**
Kibana: 8.0.0-SNAPSHOT Kibana cloud environment

**Elasticsearch version:**
Elasticsearch: 8.0.0-SNAPSHOT cloud environment

**Host OS and Browser version:**
Windows x64, All

**Original install method (e.g. download page, yum, from source, etc.):**
8.0.0-SNAPSHOT Kibana cloud environment from https://staging.found.no

**Description**
Agent remains in 'Healthy' status on updati

[2020-12-10 12:24] elasticmachine commented on #85552
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-10 12:25] rahulgupta-qasource commented on #85552
@manishgupta-qasource Please review the bug

[2020-12-10 12:29] manishgupta-qasource commented on #85542
Reviewed & Assigned to @MadameSheema

[2020-12-10 12:30] formgeist opened #85555 "[Uptime] Bug: The pie chart showing up/down statuses in the selected time window has the legend mixed up"
Kibana version: master

# Summary

The pie chart displaying the number of up/down pings in the top of the Overview page has the legend mixed up, so it's showing all good even if the down count is 5 vs. up 0. I think it's an issue with the legend and the state of the piechart.

<img width="374" alt="Screenshot 2020-12-10 at 13 26 01" src="https://user-images.githubusercontent.com/4104278/101772425-

[2020-12-10 12:30] elasticmachine commented on #85555
Pinging @elastic/uptime (Team:uptime)

[2020-12-10 12:33] afharo commented on #75237
I think this can be closed already, right?

[2020-12-10 12:35] manishgupta-qasource commented on #85545
Reviewed & assigned to @kevinlog

[2020-12-10 12:40] manishgupta-qasource commented on #85543
Reviewed & assigned to @MadameSheema

[2020-12-10 12:41] afharo commented on #79265
I can see the collector is now importing the types from the external `../[*]/core/server`, and not the deep internal paths:

https://github.com/elastic/kibana/blob/c39d14fef42186b7330133bad1d107b0754aa693/src/plugins/kibana_usage_collection/server/collectors/core/core_usage_collector.ts#L21

Closing the issue for now

[2020-12-10 12:41] #79265 closed

[2020-12-10 12:43] elasticmachine commented on #69159
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:44] manishgupta-qasource commented on #85552
Reviewed & Assigned to @EricDavisX

[2020-12-10 12:45] afharo commented on #69159
It think that it might be easier to implement once https://github.com/elastic/kibana/issues/81645 is completed

[2020-12-10 12:46] elasticmachine commented on #77057
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:46] flash1293 commented on #81944
@TinaHeiligers I think this fell through the cracks, is there a deadline for this?

[2020-12-10 12:47] watson commented on #82805
FYI: I've started working on this over at #85406

[2020-12-10 12:47] afharo commented on #75689
@TinaHeiligers do you think we can close this issue?

[2020-12-10 12:49] gmmorris commented on #84459
Hi @ggsood ,
I haven't been able to reproduce this, could you perhaps help by looking at your kibana logs? Can you see any error there?
Have you used the "Test Connector" feature (under `Stack Management > Alerts and Actions > Connectors`) to verify your PagerDuty connector is configured correctly?

Under the hood we do actually provide default values for `summary`, `severity` and `source`, so the

[2020-12-10 12:49] arisonl commented on #49412
Let's treat this issue as a meta for flapping and look into specific mechanisms for flapping mitigation? For example, one of the mechanisms used in the competition (e.g. Datadog) is recovery thresholds. Recovery thresholds are thresholds below the primary threshold that create a "buffer zone" within which the alert can flux, without notifying of a state change (either a recover or a subsequent bre

[2020-12-10 12:50] afharo commented on #49204
I'll go ahead and close this issue. If any of you think it's still valid, feel free to reopen it, please.

[2020-12-10 12:50] #49204 closed

[2020-12-10 12:51] afharo commented on #64156
Closing this issue as it feels like a duplicate of https://github.com/elastic/kibana/issues/81645

[2020-12-10 12:51] #64156 closed

[2020-12-10 12:55] deepikakeshav-qasource opened #85558 "[Security Solution] Customize Columns table is not displayed properly after clicking on the Customize Columns icon"
**Description**
Customize Columns table is not displayed properly after clicking on the Customize Columns icon

**Environment Detail:**
Version: 7.11.0 SNAPSHOT
Commit:6713443c4b42e001fdf5e77c0482f8a98bd3ffd7
Build number : 37117
Artifact: https://artifacts-api.elastic.co/v1/search/7.11.0-SNAPSHOT

**Browser Details:**
All

**Preconditions:**
1. Elastic stack should be up and running
2. Audit beat

[2020-12-10 12:55] elasticmachine commented on #70939
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:55] stratoula opened #85559 "[Visualize] Badges on OSS inactive cards appear with the external link icon"
**Kibana version:**
master

**Describe the bug:**
It's is not a bug but is a look and feel issue. When the new visualization wizard has merged the badges of the inactive cards on OSS were redirecting to external links but the icon was not depicted.

But I think that there was a change on EUI that every link that has `target=_blank` should default to true. This change has caused the badges to appea

[2020-12-10 12:55] elasticmachine commented on #85559
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 12:56] elasticmachine commented on #75329
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 12:59] manishgupta-qasource commented on #85558
Reviewed & assigned to @MadameSheema

[2020-12-10 13:00] afharo commented on #75329
Ideally, we can move to an array format and simplify the schema a lot.

Another possibility is to provide the `DYNAMIC_KEY` keyword we previously agreed on with @mindbat.

Finally, we can run some functional tests that list all the apps in Kibana and check they are listed in the schema. The problem with this last approach is that it will depend on whether plugins are enabled/disabled while running

[2020-12-10 13:01] stratoula commented on #85559
@elastic/kibana-design My dear design team I need your opinion on that. I can see two paths:

- add the `external=false` but I don't think that this is correct here as they redirect to an external link actually
- hide this icon with css
`  .visNewVisDialog__groupsCardLink .euiLink__externalIcon {
    display: none;
  }`

Wdyt?

[2020-12-10 13:01] dB2510 commented on #81816
@K-Kumar-01 Thanks for showing interest but I am currently working on it. I was stuck with some other things but now I am completely on it.

[2020-12-10 13:02] afharo commented on #69291
I think the only missing bit is https://github.com/elastic/kibana/issues/81645. Let's close this issue for the sake of housekeeping :)

[2020-12-10 13:02] #69291 closed

[2020-12-10 13:04] shahzad31 commented on #85555
OMG, is that true?? we never noticed it :O

[2020-12-10 13:05] afharo commented on #56730
With the latest changes of decoupling Telemetry and Monitoring, this issue has been organically fixed. The ES clients are owned by the Telemetry plugin now, and it waits to have them before looping through the collectors.

[2020-12-10 13:05] #56730 closed

[2020-12-10 13:06] afharo commented on #56498
We should also look if we can register it in the same way other Advanced Settings are registered (so users can use the _Filter by type_ option as well).

[2020-12-10 13:06] shahzad31 commented on #85555
seems to be a regression, can't reproduce on https://release-oblt.elastic.dev/app/uptime?filters=%5B%5B%22tags%22%2C%5B%22org%3Aelastic%22%5D%5D%5D

[2020-12-10 13:06] elasticmachine commented on #56498
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 13:07] afharo commented on #56498
Tentatively marking this issue as a bug

[2020-12-10 13:12] K-Kumar-01 commented on #81816
@dB2510 No problem, I will just look for another one. If there is a change of mind, please let me know :)

[2020-12-10 13:14] pheyos commented on #82415
Initial API tests done in #84789

[2020-12-10 13:18] azasypkin opened #85560 "Kibana doesn't return `keep-alive` HTTP header in 7.10 even if it's configured"
__NOTE:__ We're observing the issue only in 7.10.* and earlier, but not in 7.11 and master.

It seems we [have a default `120s` value for the `keep-alive`](https://github.com/elastic/kibana/blob/v7.10.1/src/core/server/http/http_config.ts#L61-L63), but I don't see this header in the response in 7.10:

[code]

The same configuration works as expected in 7.11:
[code]

[2020-12-10 13:18] elasticmachine commented on #85560
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 13:20] dej611 commented on #73125
I had a look at this issue, but think there are some open questions to discuss to help finding a solution for it:

* do we want the horizontal bar be chosen only on `initial` drop of the text field? Is there any other scenario where we want it to happen?
* Should it work on any terms type of operation, or should it be smarter about text length?
* In case of layer reset should the horizontal bar op

[2020-12-10 13:22] paul-tavares commented on #79450
Hi Muskan.
Can you clarify what “while data is loading” means?

This is just a list of policies with queries for policies when you first
enter then tab. In order to refresh the list one would have to reload the
browser tab or navigate out and then back in.

We’re you thinking that it would do auto/refresh of data maybe?

/Paul
--

___
*Paul Tavares *| Sr. Software Engineer | Elastic / www.elastic.

[2020-12-10 13:34] rahulgupta-qasource commented on #84962
Hi Eric

We have created 05 and executed 04 testcases on 8.0.0-SNAPSHOT Kibana cloud environment.

Testcases created:
https://elastic.testrail.io/index.php?/cases/view/35206
https://elastic.testrail.io/index.php?/cases/view/35207
https://elastic.testrail.io/index.php?/cases/view/35208
https://elastic.testrail.io/index.php?/cases/view/35209
https://elastic.testrail.io/index.php?/cases/view/35210

E

[2020-12-10 13:38] gmmorris opened #85563 "[Event Log] It's easy to accidentally update generated files instead of running the scripts"
We should catch this as part of CI to prevent this mistake from happening.

I'm not sure how this can be achieved, worth consulting @elastic/kibana-operations , but ideally the [scheme generation script](https://github.com/elastic/kibana/blob/master/x-pack/plugins/event_log/scripts/create_schemas.js) would get run as part of CI- if it causes any files to change, then that should fail CI.

There is

[2020-12-10 13:38] elasticmachine commented on #85563
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2020-12-10 13:47] elasticmachine commented on #84020
Pinging @elastic/siem (Team:SIEM)

[2020-12-10 13:48] EricDavisX commented on #85521
I am removing the impact:high label, I think most host names will be reasonable length.  But we can fix this for GA if we want, that is my 2 cents.

[2020-12-10 13:50] patrykkopycinski commented on #85558
that issue is caused by the small resolution screen, tested on a higher res and works fine

[2020-12-10 13:50] mistic commented on #84020
This test has been flaky on master. Skipping for now.

master/8.0: 07f90fa

[2020-12-10 13:51] EricDavisX commented on #85552
@nchaulet if you don't want to poke this issue you can un-assign / re-assign the issue - thanks for help.  @hbharding also.  Guys, do we think this part of the design was implemented?

[2020-12-10 13:53] MadameSheema commented on #84020
@spong @peluja1012 can you help to prioritise this? Thanks :)

[2020-12-10 13:56] mistic commented on #85105
This test looks flaky as it has been failing both on master and 7.x. Skipping for now.

master/8.0: 60b96d6
7.x/7.11: 1909172

[2020-12-10 13:59] muskangulati-qasource commented on #79450
Hi @paul-tavares,

Sorry for the confusion.

- “While data is loading” means the time which is taken by the tab to show the data _(that it has to)_ to the user.

On other tabs, we see an icon and loading text while the data comes up on the UI. Whereas, on this tab, it does not show a loading text instead shows 'No Items Found' text to the user.
This can create ambiguity to the user since the user

[2020-12-10 14:00] patrykkopycinski commented on #85536
confirm, Great catch @karanbirsingh-qasource  💪

[2020-12-10 14:03] patrykkopycinski commented on #85543
confirm, happens on smaller res devices

[2020-12-10 14:06] jasonrhodes commented on #85340
Just FYI, we shouldn't use `MM/DD/YYYY` format anywhere, since it's internationally confusing. I think that's probably why we are using `YYYY-MM-DD` right now, or we could explore doing some kind of `toLocaleString()` format which tailors itself to the region the person is in via their browser.

[2020-12-10 14:15] toby-sutor opened #85569 "Adjust the Kibana Space in the "kibana_siem_app_url" field during detection rule import"
**Kibana version:** Reported on `7.9.1` but can also be reproduce on `7.10.1`.

**Elasticsearch version:** 7.9.1-7.10.1

**Server OS version:** ESS

**Browser version:** Chromium

**Describe the bug:**
When detection rules are exported and re-imported into a different Kibana Space then the `"kibana_siem_app_url"` within a Webhook connector is not being adjusted, leading to "rule not found" errors

[2020-12-10 14:16] afharo commented on #38394
@Bamieh do you think we can close this issue now that we have the `schema` definitions?

Maybe @mindbat wants to provide some input regarding this piece of telemetry?

[2020-12-10 14:17] elasticmachine commented on #38394
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 14:19] afharo commented on #32519
Closing this issue now that Monitoring and Telemetry are decoupled (https://github.com/elastic/kibana/issues/83626). If anyone around here thinks it should remain open, please, feel free to reopen it 🙂

[2020-12-10 14:19] #32519 closed

[2020-12-10 14:24] #75237 closed

[2020-12-10 14:26] dej611 opened #85572 "[Lens] Data summaries percentage can go beyond 100%"
**Describe the bug:**

When in Lens, inspecting a field with data summaries, the `Other` entry is computed to fill the gap for documents without data for the inspected field.

Because of rounding in the computation, the sum of the distribution percentage can be more than 100%:

<img width="251" alt="Screenshot 2020-12-10 at 15 23 26" src="https://user-images.githubusercontent.com/924948/101784560-

[2020-12-10 14:26] elasticmachine commented on #85572
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 14:30] afharo commented on #75689
I got offline confirmation. Closing :)

[2020-12-10 14:30] #75689 closed

[2020-12-10 14:32] miukimiu commented on #85559
Hi @stratoula,
IMO we should just add `external=false` to the **EuiLink**. This prop only removes the icon but the link continues to have the `target="_blank"`.

There's actually an issue with the way the **EuiBadge** is handling the links and we need to solve it in EUI side: https://github.com/elastic/eui/issues/4190.

So I'll try to prioritize it. 🙌

[2020-12-10 14:37] ferullo commented on #84804
Thanks! I now realize how hard it must have been for you to just "look for something interesting" in logs you haven't looked at before. But you did screenshot an important part, so thanks!

First, as an aside, when Agent first installs Endpoint a config file is placed on disk for Endpoint to use as it is starting up and configuring with Agent. This config primarily is used to configure logging so

[2020-12-10 14:40] ymao1 commented on #83970
The comment on the PR (on the `x-pack/plugins/alerts/server/config.ts` file, which I unfortunately can't seem to link directly to, as it is resolved) also mentioned exposing the `healthCheck` and `invalidateApiKeysTask` settings in the cloud allowlist. I don't see these settings in cloud yet. Was there already an issue opened for this? @YulNaumenko

[2020-12-10 14:40] #61768 closed

[2020-12-10 14:40] #65067 closed

[2020-12-10 14:53] nchaulet commented on #85552
@EricDavisX the scope of status changed a little with the introduction of Fleet Server and it's currently not possible to report updating status when we update the agent policy, it's going to change when we move to Fleet server and we should keep this in mind.

[2020-12-10 14:57] stratoula commented on #85559
Thank you dear! Will create a PR right now!

[2020-12-10 15:01] Dosant commented on #45748
this should be fixed by https://github.com/elastic/kibana/pull/63329

[2020-12-10 15:01] #45748 closed

[2020-12-10 15:01] qn895 commented on #76075
Closing via #81923

[2020-12-10 15:01] #76075 closed

[2020-12-10 15:16] #83980 closed

[2020-12-10 15:17] skh opened #85583 "[Fleet] Data Streams not visible in space other than default"
Steps to reproduce:
* Create a space other than default. Leave all the default settings.
* In the default space, go to Fleet and enroll an agent. Verify that data streams are visible in Fleet -> Data Streams
* Switch to the other space

Result: data streams are not visible in Fleet -> Data Streams in the non-default space. They should be.

This is reproducible on current master.

[2020-12-10 15:17] elasticmachine commented on #85583
Pinging @elastic/ingest-management (Feature:Fleet)

[2020-12-10 15:17] elasticmachine commented on #85583
Pinging @elastic/ingest-management (Team:Ingest Management)

[2020-12-10 15:18] ryankeairns opened #85584 "[GS] Make tag search case insensitive"
Actually it doesn't, even on master.

What I did is that if you have a `Red` tag and you type `red`, the `tag:red` suggestion will be displayed.

However, the logic retrieving tags by their name always was case sensitive. So `tag:red` will not 'find' the `Red` tag. I think we do need to fix that, but this was not introduced by @myasonik's PR.

_Originally posted by @pgayvallet in https://github.co

[2020-12-10 15:19] elasticmachine commented on #85584
Pinging @elastic/kibana-core (Team:Core)

[2020-12-10 15:28] mikecote commented on #84696
Closing this issue as we are close to feature freeze.

[2020-12-10 15:28] #84696 closed

[2020-12-10 15:29] EricDavisX commented on #85552
Thanks.  The QA team knows this status as 'closed, wont fix' - we can keep the test case for later and will re-test it as such when Fleet Server is ready for deeper QA.

[2020-12-10 15:29] #85552 closed

[2020-12-10 15:31] #85461 closed

[2020-12-10 15:32] purestaketdb commented on #7438
An issue for us on 7.8.0 - most of the time switching to an incognito browser skips past it. Alternatively the user can purge all of their cookies/session data/history and restart Chrome, which they've been willing to do, once.

[2020-12-10 15:41] elasticmachine commented on #85548
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-10 15:46] timroes commented on #85510
Closing this, since that error message has been removed in https://github.com/elastic/kibana/pull/85018

[2020-12-10 15:46] #85510 closed

[2020-12-10 15:55] #85529 closed

[2020-12-10 15:56] flash1293 commented on #22913
I read a bunch of related issues and I'm not sure this is not something we can easily fix - resize observers are throwing an error bubbling up to `window.onerror` if there are unhandled resize events which couldn't be handled in a single animation frame.

There's no way to 100% prevent that as it can happen anytime depending on the available CPU/memory resources on the computer running Kibana.

As

[2020-12-10 16:01] ph commented on #85583
I would not consider this a blocker current release, I believe its been like this for quite a while.

[2020-12-10 16:01] elasticmachine commented on #85431
Pinging @elastic/kibana-app (Team:KibanaApp)

[2020-12-10 16:03] ph commented on #85583
@skh Is this the way we install package the problem, something in EPM? I thought we were doing everything globally and not use anything related to spaces? I believe this was like this since the beginning, but I haven't checked that.

cc @ruflin

[2020-12-10 16:15] jfsiii commented on #85583
@ph it may not apply here but  "doing everything globally and not use anything related to spaces"

Kibana assets are installed to the current space. ES assets are global

https://github.com/elastic/kibana/blob/89547bc0166e375e3249edffd94dbb2797085f52/x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/confirm_package_install.tsx#L59

[2020-12-10 16:19] #82748 closed

[2020-12-10 16:27] smith commented on #82831
Current status:

* [X] Latency chart (in open PR)
* [X] Traffic chart
* [ ] Transactions table: Does not pass in transaction type or filter by it on the server
* [ ] Error rate chart: Taking transactionType from url params not service context; does do filtering on the server
* [ ] Errors table: Does not use transaction type in client or server requests
* [X] Average duration by span type chart
* [

[2020-12-10 16:29] kibanamachine commented on #84020
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/10179/)

[2020-12-10 16:32] elasticmachine commented on #85183
Pinging @elastic/siem (Team:SIEM)

[2020-12-10 16:33] elasticmachine commented on #85287
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-10 16:33] elasticmachine commented on #85294
Pinging @elastic/kibana-app-services (Team:AppServices)

[2020-12-10 16:36] yuliacech opened #85597 "[IM] Index template wizard overwrites data stream properties"
**Kibana version:**
Current master branch

Currently, our index templates wizard will always set `data_stream` property to an empty object, if data stream creation is enabled in the form. This is controlled in form serializer: https://github.com/elastic/kibana/blob/a34cd204989514537dd859c3beadb227ec47466e/x-pack/plugins/index_management/public/application/components/template_form/template_form_sch

[2020-12-10 16:36] elasticmachine commented on #85597
Pinging @elastic/es-ui (Team:Elasticsearch UI)

[2020-12-10 16:36] jbudz commented on #84020
backported to 7.x/7.11: 5b8d992

[2020-12-10 16:37] lukasolson commented on #85519
We use GitHub to track feature requests and bug reports. Please do not submit issues for questions about how to use features of Kibana, how to set Kibana up, best practices, or development related help.

However, we do want to help! Head on over to our official Kibana forums and ask your questions there. In additional to awesome, knowledgeable community contributors, core Kibana developers are on

[2020-12-10 16:37] #85519 closed

[2020-12-10 16:37] kobelb commented on #85391
There's been a bit of communication regarding this request outside of this GitHub issue, primarily around this using `logs-endpoint.diagnostic.collection-*` as opposed to `.logs-endpoint.diagnostic.collection-*`. @ruflin, is my understanding correct that we'd like to use `logs-endpoint.diagnostic.collection-*` for 7.11, and switch to using `.logs-endpoint.diagnostic.collection-*` starting in 7.12?

[2020-12-10 16:40] elasticmachine commented on #85526
Pinging @elastic/kibana-operations (Team:Operations)

[2020-12-10 16:48] jbudz commented on #82474
Fixed by https://github.com/elastic/kibana/pull/83455

[2020-12-10 16:49] #82474 closed

[2020-12-10 16:54] weltenwort opened #85603 "Cancellation of search requests are not reliably forwarded to the server-side search strategy"
**Kibana version:** `master` as of dbd14ad39fe

**Browser version:** Chromium 87.0.4280.88

**Original install method (e.g. download page, yum, from source, etc.):** source

**Describe the bug:**

Async searches started via the `data.search.search()` API can be cancelled by passing an `AbortSignal`. When the `AbortSignal` is triggered while the `search` logic is polling the async result, the searc