[2022-03-17 21:06] tylersmalley commented on #69461
This will be replaced by https://github.com/elastic/kibana/issues/128012

[2022-03-17 21:06] #69461 closed

[2022-03-17 21:07] tylersmalley commented on #11775
I don't think it's likely we're going to change this at this point.

[2022-03-17 21:07] #11775 closed

[2022-03-17 21:08] tylersmalley commented on #78019
@spalger, want to send out an email and see how many people would take advantage of this?

[2022-03-17 21:08] tylersmalley commented on #78019
It's unlikely we're going to improve SCSS support at this point, so going to close this out.

[2022-03-17 21:08] #78019 closed

[2022-03-17 21:08] jbudz commented on #84609
There's some improvements.  SCSS, test files, and fixtures have been cleaned up and more docs will be gone after #127901.

This would reduce the distribution size by quite a bit, but I could see his causing issues.  All browsers support gzip, but I don't think we can rely on a proxy not to overwrite the accept-encoding header.

    empty *.js files with a single use strict instruction after compil

[2022-03-17 21:09] tylersmalley commented on #46925
We're moving away from SCSS entirely. All styles will be in JS/TS which have headers.

[2022-03-17 21:09] #46925 closed

[2022-03-17 21:10] tylersmalley commented on #37204
Apologies for this slipping through the cracks. This definitely should work as we're using this all over the place. Is it still a problem for you now?

[2022-03-17 21:11] tylersmalley commented on #93355
Thanks, we haven't received reports of this in while, so going to close until it comes up again. Plus, we're working to phase out Windows entirely.

[2022-03-17 21:11] #93355 closed

[2022-03-17 21:11] #126822 closed

[2022-03-17 21:18] graphaelli opened #128014 "[fleet] Integration ILM Policies have insufficient permissions to perform some actions"
**Kibana version:** 8.2.0-SNAPSHOT

**Elasticsearch version:** 8.2.0-SNAPSHOT

**Steps to reproduce:**
1. Configure installation of integrations via kibana.yml, eg for the APM Integration
2. Wait for ILM phase changes
3. Note that some cannot be executed due to permissions issues

**Expected behavior:**
ILM policices are executed as specified by the integration.

**Provide logs and/or server outpu

[2022-03-17 21:18] elasticmachine commented on #128014
Pinging @elastic/fleet (Team:Fleet)

[2022-03-17 21:18] tylersmalley commented on #118536
Related: we're prioritizing https://github.com/elastic/kibana/issues/117934 so we can lint for unhandled promises.

[2022-03-17 21:22] tylersmalley commented on #118536
Converting this to a discussion since there is no concrete action item here and doesn't need to be tracked as an incomplete task. Happy to move back if you disagree.

[2022-03-17 21:27] sqren commented on #113901
omg zube. Stop it already!!
And go to your room. You're grounded.

[2022-03-17 21:27] #113901 closed

[2022-03-17 21:33] tylersmalley commented on #95849
There is an opportunity here to experiment with using a folder hierarchy for this.

[2022-03-17 21:36] #24284 closed

[2022-03-17 21:39] elasticmachine commented on #7055
Pinging @elastic/kibana-core (Team:Core)

[2022-03-17 21:40] tylersmalley commented on #7055
Reassigning to core, didn't realize they owned Advanced Settings. This feels like an advanced settings specific bug.

[2022-03-17 21:41] tylersmalley commented on #120125
@stacey-gammon is this still an issue?

[2022-03-17 21:43] tylersmalley commented on #117778
/skip

[2022-03-17 21:43] tylersmalley commented on #117778
@spalger spent quite a bit of time investigating this and couldn't come up with the cause. This seems to only be an issue pre-8.0, so closing.

[2022-03-17 21:43] #117778 closed

[2022-03-17 21:43] #110367 closed

[2022-03-17 21:43] tylersmalley commented on #121842
@spalger spent quite a bit of time investigating this and couldn't come up with the cause. This seems to only be an issue pre-8.0, so closing.

[2022-03-17 21:43] #121842 closed

[2022-03-17 21:44] tylersmalley commented on #121843
@spalger spent quite a bit of time investigating this and couldn't come up with the cause. This seems to only be an issue pre-8.0, so closing.

[2022-03-17 21:44] #121843 closed

[2022-03-17 21:44] tylersmalley commented on #121844
@spalger spent quite a bit of time investigating this and couldn't come up with the cause. This seems to only be an issue pre-8.0, so closing.

[2022-03-17 21:44] #121844 closed

[2022-03-17 21:45] tylersmalley commented on #115654
@spalger spent quite a bit of time investigating this and couldn't come up with the cause. This seems to only be an issue pre-8.0, so closing.

[2022-03-17 21:45] #115654 closed

[2022-03-17 21:45] tylersmalley commented on #121974
@spalger spent quite a bit of time investigating this and couldn't come up with the cause. This seems to only be an issue pre-8.0, so closing.

[2022-03-17 21:45] #121974 closed

[2022-03-17 21:48] tylersmalley opened #128017 "ESLint rule to ensure relative paths never leave the Kibana repository"
Originally raised in https://github.com/elastic/kibana/issues/123236 - there are instances that don't stay within the Kibana repository. This requires that the checkout be named "kibana"

[2022-03-17 21:48] elasticmachine commented on #128017
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-17 21:48] tylersmalley commented on #123236
Closed in favor of https://github.com/elastic/kibana/issues/128017

[2022-03-17 21:48] #123236 closed

[2022-03-17 21:52] spalger commented on #128017
We should also take packages into consideration here, relative paths shouldn't leave the package directory in that case.

[2022-03-17 22:09] jbudz commented on #123127
I believe we can close this.  The compatibility builds are passing, and skipped tests have issues opened and can be handled by their respective teams.

[2022-03-17 22:09] #123127 closed

[2022-03-17 22:19] colleenmcginnis commented on #109284
👋  @mattkime @gchaps I'm catching up on these changes in https://github.com/elastic/observability-docs/pull/1671, but noticing that there are still mentions of "index pattern" in a couple places in the Observability UI as of v8.1.0 including:
* Metrics > Settings > Indices > Metric indices
    <img width="1156" alt="Screen Shot 2022-03-17 at 4 20 11 PM" src="https://user-images.githubusercontent.c

[2022-03-17 23:21] alisonelizabeth commented on #123063
Fixed via https://github.com/elastic/kibana/pull/126524

[2022-03-17 23:21] #123063 closed

[2022-03-17 23:48] spalger opened #128025 "Stop using custom postinstall scripts and start managing native dependencies holistically"
While debugging a recent break in the way that ENV vars are passed to yarn in bazel, and why users were getting build failures locally for a package which should have been downloaded, I realized we're also building `msgpack-extractor` locally on user machines which we had no idea about until we started delving into yarn's verbose output. Turns out there are several packages which are building nati

[2022-03-17 23:48] elasticmachine commented on #128025
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-17 23:50] Heenawter opened #128026 "[Dashboard] Close drilldown flyouts when navigating to dashboard landing page"
**Steps to reproduce:**

1. Open any drilldown flyout - for example, by creating a new drilldown action
2. Click to return to the dashboard landing page
3. Notice how the flyout remains open

Note that the drilldown **does** close when changing applications, but it **does not** close when going to the dashboard landing page specifically.

**Video of bug:**

https://user-images.githubusercontent.co

[2022-03-17 23:50] elasticmachine commented on #128026
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-17 23:50] spalger commented on #128025
Here is a snapshot of the difference between the files in `node_modules` when `--ignore-scripts` is used, and when it is not used. There are a lot of scripts patching and customizing the node_modules directory in ways that are not hermetic:

https://gist.github.com/spalger/d7dae536b7544111d491acdadd165321

[2022-03-18 00:23] mistic commented on #128025
I'm all down to this as it will only improve our bazel cache capabilities and solve future native node_modules from sneaking into our build and broke the cache unnoticed over and over again. Probably we can run post install hook on our yarn_install rule which runs a script that allow us to run scripts to patch the modules we support.

[2022-03-18 00:24] axw commented on #128014
I think we'll need to extend https://github.com/elastic/elasticsearch/pull/81811 to cover the rest of the data streams.

@joshdover do we have longer term plans for this, so we don't need to keep updating kibana_system when we add data streams?

[2022-03-18 00:28] spalger commented on #128025
After merging the following PRs into main the diff looks a little better, and totally replaceable with a custom script:

- https://github.com/elastic/kibana/pull/128021
- https://github.com/elastic/kibana/pull/128027
- https://github.com/elastic/kibana/pull/128029

New diff: https://gist.github.com/spalger/d7dae536b7544111d491acdadd165321/972dc5215ea9cf975739dbe52598e7b6440f9d43

[2022-03-18 01:16] mattkime commented on #109284
As best I can tell they're accurate as is - they're referring to index pattern strings rather than a kibana saved object.

[2022-03-18 01:21] matschaffer opened #128035 "[Stack Monitoring] Document data stored for beats (beats, apm-server, fleet) module"

[2022-03-18 02:06] liza-mae commented on #110367
Thanks @afharo I will kick off another build to catch these new changes, will let you know how it goes.

[2022-03-18 02:23] #126961 closed

[2022-03-18 02:42] ymao1 commented on #126509
Response Ops deprecations have been addressed in https://github.com/elastic/kibana/issues/126961

[2022-03-18 04:20] tylersmalley commented on #64265
Thanks @pgayvallet, I verified it works as expected and it is documented [here](https://www.elastic.co/guide/en/kibana/current/settings.html).

I was able to reproduce the `Unknown environment variable referenced in config` error that was reported by using an environment variable that was not defined - which is expected.

Doesn't seem like anything left here so going to close it out.

[2022-03-18 04:20] #64265 closed

[2022-03-18 04:41] kibanamachine commented on #60194
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13058#0a25e000-0184-40f3-b9ac-b672b956260b)

[2022-03-18 05:14] dimaanj opened #128041 "[Alerting] Error message hidden after closing action accordion"
### Steps to reproduce
1. Open rule creation sidebar
2. Go to actions and close action accordion before completing all the fields
3. Click `Save`
4. Nothing appears to happen

Actual: What actually happens is that a validation error exists but it is no longer visible unless you expand the accordion.

Expected: User should see error message

https://user-images.githubusercontent.com/39378793/158941

[2022-03-18 05:14] elasticmachine commented on #128041
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-18 05:21] spong opened #128042 "Data View Name doesn't revalidate after selecting `Allow hidden and system indices` setting"
**Kibana version:** `8.2.0`/`main` (and applicable previous stack versions)

**Describe the bug:**
Clicking the `Allow hidden and system indices` switch doesn't revalidate the data view name, which requires the user to click back into the `Name` field and make a change to revalidate even if the name is already fine as-is. This is particularly an issue as the `Allow hidden and system indices` setti

[2022-03-18 05:21] elasticmachine commented on #128042
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-18 05:21] elasticmachine commented on #128042
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-18 05:31] kibanamachine commented on #127539
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13062#733c87cb-3f89-4997-8ee1-39550769694a)

[2022-03-18 07:38] kertal opened #128043 "[Discover] Long running search source fetches in a Elasticsearch query rule"
We're extending the Elasticsearch query rule in #124534

This issue is a follow up, for discussing long running queries

The default search type uses the Elasticsearch client provided by the alerting framework. Any in progress searches performed using this client are aborted when a rule is cancelled.

_Originally posted by @ymao1 in https://github.com/elastic/kibana/pull/124534#discussion_r8290410

[2022-03-18 07:38] elasticmachine commented on #128043
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-18 08:18] #102332 closed

[2022-03-18 08:18] #107854 closed

[2022-03-18 08:28] flash1293 opened #128047 "[Lens] Show warning toast to hint users towards auto apply off"
The auto-apply setting is hard to discover - by checking whether a chart request takes longer than 30 seconds, we could show a toast message to hint the user towards this:
<img width="468" alt="Screenshot 2022-03-18 at 09 24 35" src="https://user-images.githubusercontent.com/1508364/158964238-7741348e-7d0c-415b-9a0b-404d64672d59.png">

[2022-03-18 08:28] elasticmachine commented on #128047
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-18 08:55] #115859 closed

[2022-03-18 08:57] rvalle commented on #58310
@alexbaileyuk yes, we are seeing this.

Because I am running a source processing service that fetches Graphql database and pushes to Elastic, I can control the batch size to be executed async. I limit it to 10 or it elastic client will complain. Our original plan was 100.

[2022-03-18 09:02] mbondyra opened #128048 "[Lens] [A11y] Focus is lost when adding a new layer"
**Kibana version:**
master

1. Using the keyboard, add a new layer to the config panel.
2. Focus goes away to the beginning of the page.

[2022-03-18 09:02] elasticmachine commented on #128048
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-18 09:39] elasticmachine commented on #127712
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-18 09:56] #99767 closed

[2022-03-18 09:57] yj7778826 commented on #95782
+1, it waste too much space of screen

[2022-03-18 10:12] Bamieh commented on #7055
I wonder if we can use the document version for optimistic locking (https://www.elastic.co/blog/elasticsearch-versioning-support)

[2022-03-18 10:16] jcimins commented on #119115
Hello - I have the same problem as well. Does this one have any movements?

[2022-03-18 10:54] jcimins commented on #119115
And one more thing. I just tested this out - when you add this way - then it gives just one host, but when you add ElasticSecurity To this policy then it adds another line there. Using elastic version 7.17

[2022-03-18 11:10] #127865 closed

[2022-03-18 11:22] weltenwort commented on #111325
The description shows that the log stream component is used deeply in UI hierarchies and in floating dialogs. Is the addition of a fly-out appropriate in all locations or do we need to be selective about it?

[2022-03-18 11:27] pgayvallet commented on #7055
We're using the `if_*` fields for SOs already (`if_seq_no` and `if_primary_term`) for optimistic concurrency control.

Problem with the uiSettings is more that it's an higher level API and the SO APIs are just the underlying implementation, so there isn't an easy way to keep track of the version of the `config` object the settings were coming from.

Looking at the issue's description, it may be mo

[2022-03-18 11:36] joshdover commented on #128014
We haven't agreed on a plan yet, but I did file an issue here for discussion: https://github.com/elastic/package-spec/issues/293.

Ideally, we consider starting to explore the long-term solution to package management, which would involve Elasticsearch installing these assets directly from packages, and requiring a `manage_package` privilege for end users or similar.

[2022-03-18 11:39] joshdover commented on #128014
@axw would you mind handling this PR? I'm happy to review it or help as needed

[2022-03-18 11:44] semd opened #128054 "[Security Solution] Field browser Apply button"
follow up of: https://github.com/elastic/security-team/issues/3068
## Summary

Implement the "Apply" functionality to the field browser selection. This means that we will no longer insert/remove the fields on the checkbox click, but we'll store the temporary selection and wait for the user to apply the selection or cancel the changes.

This implies the "Reset Fields" button will reset the default

[2022-03-18 11:44] elasticmachine commented on #128054
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-18 11:56] semd commented on #128054
Hi @Max-Iskra, It is not clear if the "select all" header checkbox should select/unselect all fields on the current page
(considering the selected categories, the search filter, and the "view selected" filter), or all the fields of all the pages. I would guess you want the second one, but just to confirm.

[2022-03-18 11:57] Kunzetsov opened #128056 "[XY] `xyVis` and `layeredXyVis` layers."
### `xyVis`
- [x] Remove `layers`. They will be supported at the `layeredXyVis`.
- [x] Add `referenceLineLayers` argument, which is accepting `dataLayer` type.
- [x] And `referenceLineLayers` argument, which is accepting `referenceLineLayer` type.
- [x] And `referenceLineLayers` argument, which is accepting `annotationLayer` type.
- [x] Add `extendedDataLayer` expression function, which is support

[2022-03-18 12:24] stratoula commented on #124086
I am taking the lens migration!

[2022-03-18 12:30] ruflin commented on #127000
My first instinct was, this should not happen because the following would still map it to a keyword.

[code]

But for elastic_agent package we have also set `"dynamic" : "false",`. If I remember correctly we set this to false to not just index everything and prevent mapping conflicts between the different processes: https://github.com/elastic/integrations/blob/main/packages/elastic_agent/data_stre

[2022-03-18 12:33] alisonelizabeth opened #128058 "[Form lib] Remove use of deprecated FormDataProvider"
The form lib deprecated the `FromDataProvider` in favor of the `useFormData()` hook.

There are several plugins that still use the deprecated feature. We should consider migrating them to the `useFormData()` hook.

I did a quick search, and I saw it referenced in the following plugins:

- `cases`
- `index_management`
- `ingest_pipelines`
- `osquery` (appears to be exported only, and not used)
- `s

[2022-03-18 12:33] elasticmachine commented on #128058
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-03-18 12:43] #127952 closed

[2022-03-18 12:49] miltonhultgren opened #128060 "[Stack Monitoring] Change version of Metricbeat to match that of the monitoring cluster in Cloud"
Based on this [SKI](https://github.com/elastic/support-known-issues/issues/1092) and recent SDH, we seem to break monitoring when upgrading the production cluster before the monitoring cluster.
There is a guideline to upgrade the monitoring cluster first but it feels like we shouldn't break if this isn't followed.

@weltenwort mentioned an idea in a Zoom call, that perhaps it would make more sense

[2022-03-18 12:49] elasticmachine commented on #128060
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-18 12:50] EricDavisX opened #128061 "[Performance] Kibana RSS / Memory usage seems higher in 8.2 vs previous releases (by 50% sometimes)"
**Kibana version:** 8.2.0-SNAPSHOT (details below show the problem seems to have started around March 1 2022)
 - latest commit tested was: ad5c67b44bd6fa2844799522c3ece9bf2cb6e890

**Elasticsearch version:**
same as Kibana

**Original install method (e.g. download page, yum, from source, etc.):**
 - deploiyed via cloud, on cloud-proud CFT region.  But problem was initially triaged and seen apart f

[2022-03-18 12:51] #124871 closed

[2022-03-18 12:51] stratoula commented on #128056
Just a note and maybe it worths adding it here. Lens is going to support another layer type, the annotations. The PR is WIP https://github.com/elastic/kibana/pull/126456 but good to have it in mind.

[2022-03-18 12:52] mdefazio commented on #126409
After thinking on this further, and with other updates that will potentially effect the UI of the rule row/table, I'm thinking simply keeping this on the column for now until we can nail down an update for the full row and take this into account more holistically.

My reasoning is that this feels like a general rule warning and if there are future warnings we need to accommodate, they should be pr

[2022-03-18 12:53] EricDavisX commented on #128061
I can copy in some additional research as posted in slack, if desired.  But I could let Tyler, Mikhail, and Response Ops team members cite their own latest.  @kobelb @mshustov @danielmitterdorfer fyi

[2022-03-18 12:55] kevinlog commented on #127570
@deepikakeshav-qasource I'm closing this for now to communicate to the release team that this issue got fixed in the latest 8.1.1 BC.  You can comment again after you check it yourself.

[2022-03-18 12:55] #127570 closed

[2022-03-18 13:07] joshdover commented on #116428
@thunderwood19 Have you had a chance to test this on 8.1? We've made some improvements and I'm no longer seeing this issue as widespread in our production data or in my personal cluster on Elastic Cloud.

[2022-03-18 13:20] #127436 closed

[2022-03-18 13:20] #127579 closed

[2022-03-18 13:21] mdefazio commented on #126247
@mattkime I've removed the flyout over flyout...apparently I was mis-remembering something. While I still think we will need a way to go from a child field to a parent (and vice-versa), let's keep the straightforward for the time-being and see how some feedback comes back.

[2022-03-18 13:25] EricDavisX commented on #128061
From Jonathan B:
i can't speak for all of ci metrics - but for package testing we first noticed this on march 3rd.  this doesn't collect metrics but there's some useful info in the build history

[Jonathan Budzenski](https://app.slack.com/team/U0HF5FZTL)  [3 days ago](https://elastic.slack.com/archives/C017DFNCV5H/p1647358322366479?thread_ts=1647271291.876599&cid=C017DFNCV5H)
Mar 03 19:57:57 packe

[2022-03-18 13:25] cauemarcondes commented on #125209
@bmorelli25 do you already have the link for the docs?

[2022-03-18 13:25] axw commented on #128014
@joshdover yup, I created https://github.com/elastic/elasticsearch/pull/85085

[2022-03-18 13:26] EricDavisX commented on #128061
From Mikhail Shustov, Tyler and Patrick:
@tylersmalley Do you know why APM metrics collected on CI on the 8.1.0 branch have a gap starting from 08 March?
I wonder why the 8.1 snapshot (latest) in our test didn’t seem to follow that pattern
Maybe a workload during your testing is different from the workload performed at CI? Can you see the difference in the memory size before running your test suit

[2022-03-18 13:26] EricDavisX commented on #128061
@jbudz did you find anything when you did the revert you were trying?

[2022-03-18 13:29] thunderwood19 commented on #116428
Yep! I let my support know yesterday, I can see the data streams via Fleet gui just fine now on 8.1.0.

[2022-03-18 13:33] Kunzetsov commented on #128056
@stratoula, updated the issue.

[2022-03-18 13:46] #121966 closed

[2022-03-18 14:18] gbamparop commented on #127423
If this isn't fixed, the [docs](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/dev_docs/local_setup.md#1-using-synthtrace) need to be updated

[2022-03-18 14:20] DavidStammbach commented on #48687
I would also like to request that feature! I know it's only a minority of developers that uses light mode, but I just can't adjust to dark mode... Would be really nice!

[2022-03-18 14:21] joshdover commented on #116428
Fantastic to hear, @jen-huang I'm going to de-prioritize this for now.

[2022-03-18 14:30] kibanamachine commented on #126414
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13088#04cf3343-9a1f-4d1a-a414-ad88669c02e3)

[2022-03-18 14:31] mdefazio commented on #123828
@mattkime @sixstringcode @ryankeairns I have updated this issue with design links and a new prototype walkthrough.

**Updates:**

- Simplify promote link on field list table to simply be a link next to runtime field badge: This is the most straightforward update without modifying the rest of the table
- Add tooltips to runtime field badge next to field name (to help clarify between data view rtf a

[2022-03-18 14:31] brianseeders opened #128065 "Failing test: Plugin Functional Tests.x-pack/test/plugin_api_integration/test_suites/task_manager/task_management·ts - several tests"
These tests are failing with unhandled promise rejections, see here: https://buildkite.com/elastic/kibana-hourly/builds/13077#7bfd3e22-c01e-4b73-b18e-c0a5c70f4f54/3268-3630

Looks like there are a bunch of calls to `expectReschedule` that need `await`.

[2022-03-18 14:32] ThomThomson commented on #126969
I think I'm going to close this one for now, if this happens again we can reopen!

[2022-03-18 14:33] brianseeders commented on #128065
Skipped

main: 37132967780e1fed2f6ab78137d4d8eb5732a49b

[2022-03-18 14:34] elasticmachine commented on #128065
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-18 14:38] ThomThomson commented on #127539
At least this time the failure actually has the correct number expected. I wonder if a panel on this dashboard is flaky in its loading.

<img width="316" alt="Screen Shot 2022-03-18 at 10 33 17 AM" src="https://user-images.githubusercontent.com/14276393/159023156-bb755157-aa6e-4151-8a4f-ee6a2106589b.png">

From the screenshot I can't exactly tell which panel this could be, but I will look through

[2022-03-18 14:47] ThomThomson commented on #127868
Good find Lee!

What a strange error to encounter though, what's strange about this is that it happens intermittently and only on Firefox. [Chrome also has an equivalent error](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Too_much_recursion): `maximum call stack size exceeded`, which should be triggered with the same amount of recursion, but it hasn't shown up so far.

[2022-03-18 14:53] matschaffer commented on #128060
My initial thought is that it might be easier to prohibit upgrade of a production deployment before the upgrade of its configured monitoring deployment.

probably good to get thoughts from @s-nel and @gigerdo here too though.

[2022-03-18 15:18] #127000 closed

[2022-03-18 15:23] Dosant opened #128071 "Possibility of unhandled rejection with `ReferenceError: Cannot access 'sub' before initialization`"
**Kibana version:** main (8.1), likely down to 7.13 / 7.14

**Describe the bug:**

Kibana server might throw unhandled rejection `ReferenceError: Cannot access 'sub' before initialization`.
In dev mode this leads to server crash.

**Steps to reproduce:**

There are no deterministic steps to reproduce from Kibana UI, but you can reliably reproduce the exception by executing `/internal/bsearch?compr

[2022-03-18 15:23] elasticmachine commented on #128071
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-18 15:35] yuliacech commented on #125080
Thanks both @rashmivkulkarni @alisonelizabeth for looking into this! I can also confirm that the error disappears when there is some sample index present. I'm pretty sure that I noticed the failure when testing on a fresh local setup without any data.

[2022-03-18 15:41] ruflin opened #128072 "[Fleet] Set dynamic field mapping to false or runtime"
Fleet with the package managers installs the package assets. Part of it is installing the Elasticsearch index templates. Elasticsearch by default has dynamic fields set to true: https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic-field-mapping.html This was convenient to make sure all fields can be queried. But over the past few months, Elasticsearch introduced runtime fields:

[2022-03-18 15:41] elasticmachine commented on #128072
Pinging @elastic/fleet (Team:Fleet)

[2022-03-18 15:41] cjcenizal commented on #127966
@azasypkin Thank you for raising this! The team will be able to get to this next week.

[2022-03-18 15:42] ruflin commented on #128072
@jpountz Would be great to get your take on the above as this might also have an effect on what we should do with the default templates in Elasticsearch.

[2022-03-18 15:42] ruflin commented on #104620
@kpollich In this issue, there was initially also a discussion around the default_fields. Do you know what the conclusion here was?

[2022-03-18 15:44] kibanamachine opened #128073 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/tags·ts - Kibana tags page meets a11y validations tag management page with connections column populated meets a11y requirements"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13092#c1155b02-8aa5-42a0-8de3-bc84c388cdf1)

[2022-03-18 15:49] neptunian commented on #127209
Not sure how useful this would be for docs.  What are you wanting to do with this information?

For this I think they might make more sense going into the Kibana Stack Monitoring docs.  We could have a doc for our visualizations that lists each chart with each [elasticsearch field metric](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics

[2022-03-18 15:51] jportner commented on #101579
Kibana ships with a default [Content Security Policy (CSP)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) that is as strict as possible without potentially breaking many operators' usage of Kibana.

Recently we've had users ask about configuring `default-src` on their deployments (is it safe to do?). We also have an open issue for setting `default-src: 'self'` _by default_ here: https://g

[2022-03-18 15:52] mdefazio commented on #126409
I was imagining a simple icon + tooltip after the interval value in the row. I was going between using a banner as well to let the user know there are rules with warnings.  But I felt like this would be too obtrusive for this case.  So I'm showing a toast instead.  That said, are we able to filter these rules based on this kind of warning?

[Prototype link](https://www.figma.com/proto/bErcD6YgkgYM

[2022-03-18 15:55] banderror commented on #124715
I was checking our bulk actions endpoint implementation and noticed a few things that I think need to be discussed. Please refer to these files:

- https://github.com/elastic/kibana/blob/37132967780e1fed2f6ab78137d4d8eb5732a49b/x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/perform_bulk_action_route.ts#L343-L375
- https://github.com/elastic/kibana/blob/bbb531af3a83c9cbd9

[2022-03-18 16:05] banderror commented on #124715
@XavierM so regarding the filter (`filter: KueryNode;`),

- Why it's `KueryNode` and not `string` and what are the benefits of that?
- How are we going to implement filtering by a list of rule ids?

[2022-03-18 16:06] ghudgins commented on #17764
Short term solutions....there is a field formatter you can use in your Data View (index pattern) to maybe get around this in lens data tables.

Edit the field from Lens and "set format" and specify a color
<img width="655" alt="image" src="https://user-images.githubusercontent.com/5465514/159039543-47dd1f83-c126-4f41-bff9-bf753ee464b8.png">

<img width="1316" alt="image" src="https://user-images.g

[2022-03-18 16:20] brianseeders commented on #127951
Take a look at https://github.com/facebook/jest/issues/1766

I believe instanbul is modifying code to add the instrumentation that it needs. The TLDR is not to test snapshots of functions. Is there something else you can use for the snapshot?

[2022-03-18 16:29] elasticmachine commented on #125756
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-18 16:36] azasypkin commented on #127966
Awesome, thank you :heart: !

[2022-03-18 16:48] vitaliidm commented on #124715
this is a draft POC PR. After rulesClient.bulkEdit method is implemented - it will be placed instead of current implementation in a separate PR

How are we going to implement filtering by a list of rule ids?

1. we will support both `string` and `KueryNode`. PR will be updated
2. we use filter property for this, by transforming list of ids into query(from PR):
[code]

Would make sense to do this c

[2022-03-18 16:55] peluja1012 commented on #127582
Hi @deepikakeshav-qasource, could you please do some testing on the Event Correlation Rule Preview and file a separate bug ticket if you see any errors when the query is empty?

[2022-03-18 17:03] #125384 closed

[2022-03-18 17:12] stiltz opened #128080 "Discover Classic View Filter In/Out placement"
**Kibana version:**
8.1.0

**Elasticsearch version:**
8.1.0

**Server OS version:**
ECK 2.0 running on GKE

**Browser version:**
Chrome 99.0.4844.74 (Official Build) (x86_64)
Firefox 96.0.1

**Browser OS version:**
Mac OS 12.2.1

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
The filter in/out icons appear on the line between rows when using Discov

[2022-03-18 17:15] peteharverson opened #128081 "[ML] Single Metric Viewer fails to load if opening for a job that has not been run"
When opening the Single Metric Viewer from the ML side nav and selecting a job that has not been run, with 'Apply time range' enabled, the page fails to load, with the following error displayed in the browser console:

![image](https://user-images.githubusercontent.com/7405507/159050602-40fb5503-9f1b-4943-8bf9-b0fafcbe55cb.png)

It looks like an error is occurring trying to find the time range of

[2022-03-18 17:15] elasticmachine commented on #128081
Pinging @elastic/ml-ui (:ml)

[2022-03-18 17:18] stratoula opened #128083 "[Timelion] Tooltip displays multiple decimal places for non-integer metric"
**Kibana version:**
7.16+

**Describe the bug:**
If you create a timelion visualization with a non-integer metric on the EC charts implementation, the tooltip displays the numbers with multiple decimal places.

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/17003240/159051442-4820bc28-a8af-49e3-914c-9e70c26357a6.png">

This used to work differently on the legacy imple

[2022-03-18 17:18] elasticmachine commented on #128083
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-18 17:30] #100555 closed

[2022-03-18 17:36] cauemarcondes opened #128086 "[APM] service groups alphabetical sort"
When `Alphabetical` is selected on the sort option, the service groups that start with uppercase are listed first.

We should lowercase the name before sorting it.

[2022-03-18 17:36] elasticmachine commented on #128086
Pinging @elastic/apm-ui (Team:apm)

[2022-03-18 17:39] dmlemeshko commented on #127951
Only for this particular test, which is at least strange. We have so many of them and there was never any issues while running code coverage.

Jest has in-built code coverage (instanbul) support so I would consider checking component definition (compare with any other) and see what may lead to wrong instanbul behaviour

[2022-03-18 17:43] brianseeders commented on #127951
To clarify, I meant can a snapshot be generated for something besides a function in those specific tests. It does seem odd to me to take a snapshot of a function.

[2022-03-18 17:46] dedemorton commented on #109284
@mattkime One thing that's confusing me (and might be confusing to users) is why the Logs UI gives users the option of using data views, but the Metrics and Uptime UIs do not. Maybe that's coming?

![image](https://user-images.githubusercontent.com/14206422/159055917-06496521-09e8-4f13-8ba5-8c4c6ce0cdf0.png)

[2022-03-18 17:47] spalger commented on #78019
I'm unable to reproduce this now... unsure why but it seems like the lens bundle runs in under 6 seconds on main and reducing the scss files to a single import still reduces the build time to 4 seconds but I might have just gotten a very bad time randomly in my previous testing...

[2022-03-18 17:57] jbudz commented on #128061
No that wasn't the root cause, unfortunately.

[2022-03-18 18:13] jportner opened #128088 "Shareable data view UI problems"
**Kibana version:** 8.2 (unreleased)

**Describe the bug:**

Data views were made shareable in #123991, and the UI was enhanced shortly afterwards in #127101.

When you delete a data view, it is supposed to show a warning callout like this:

![image](https://user-images.githubusercontent.com/5295965/159058061-88907ac3-407e-45e6-b975-f31d8acd52b1.png)

However, that warning callout _isn't_ shown in

[2022-03-18 18:13] elasticmachine commented on #128088
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-18 18:22] #126818 closed

[2022-03-18 18:40] elasticmachine commented on #60194
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-18 18:41] spalger commented on #60194
@flash1293 do you think this could be caused by https://github.com/elastic/kibana/pull/118855?

[2022-03-18 18:45] elasticmachine commented on #127940
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-03-18 18:46] flash1293 commented on #60194
It doesn’t look related to me… I can take a look on Monday

[2022-03-18 18:48] spalger commented on #127951
Looks like the issue is https://github.com/elastic/kibana/blob/5dc8e4b638f729a976e2b55acd706551de1eebfb/src/plugins/kibana_react/public/page_template/with_solution_nav.tsx#L73

It's including the `WrappedComponent` as a variable in the display name for the component, which prints the implementation of that component in the display name... which is wrong. It should probably be something like:

[cod

[2022-03-18 18:52] elasticmachine commented on #127679
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-18 18:52] elasticmachine commented on #126976
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-18 18:54] elasticmachine commented on #127980
Pinging @elastic/apm-ui (Team:apm)

[2022-03-18 18:54] elasticmachine commented on #127939
Pinging @elastic/apm-ui (Team:apm)

[2022-03-18 18:55] spalger commented on #127951
Submitted https://github.com/elastic/kibana/pull/128091 to fix and unskip the test

[2022-03-18 18:55] weltenwort opened #128092 "[Logs UI] The ML job status check doesn't support the status `reverting`"
## Summary

With the introduction of the ability to reset anomaly detection jobs to their initial state a new job status `reverting` was introduced. The job status check of the anomaly and categorization pages can't interpret that state and report a failure:

![image](https://user-images.githubusercontent.com/973741/159066239-4ef8ef42-b3e8-4a15-aff6-78a8799510e8.png)

In the browser console this m

[2022-03-18 18:55] elasticmachine commented on #128092
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-18 18:58] spalger commented on #126976
I fixed this in a recent PR, can't remember which one but shouldn't happen anymore.

[2022-03-18 18:58] #126976 closed

[2022-03-18 19:00] neptunian commented on #127209
I opened a [draft readme](https://github.com/elastic/beats/blob/06e27f6fe21bec023f7b118dc47edb3a2e4f7f09/metricbeat/module/elasticsearch/_meta/README.md).  I think it answers the first two questions without duplicating docs and helps to guide someone looking for more information.  I think it's fairly straight forward to look at exported fields vs the ES API response to see the difference.  Similar

[2022-03-18 19:01] bmorelli25 commented on #125209
No docs yet, but you can use `https://www.elastic.co/guide/en/kibana/current/services.html`.

[2022-03-18 19:04] VijayDoshi opened #128093 "[Discover] Allow for custom number of rows in the results and save the specified number with a Saved Search."
In addition to  (or instead of) the currently available 25, 50, 100 & 250 rows to display in discover I'd like to have the ability to specify _and save_ the number of rows to display.

Two primary use cases exist:

1. Users want to be able to embed a grid of results in a dashboard and sometimes they want a different number of rows than the current default of 100.
2. In discover, sometimes you want

[2022-03-18 19:04] elasticmachine commented on #128093
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-18 19:06] VijayDoshi commented on #122876
https://github.com/elastic/kibana/issues/128093

[2022-03-18 19:09] jen-huang commented on #127866
Kibana already only includes `keyword` and `text` fields to `default_fields` list: https://github.com/elastic/kibana/blob/a467450a476cf7d76e6ad2aa84f2d89199019a12/x-pack/plugins/fleet/server/services/epm/elasticsearch/template/default_settings.ts#L11

Looking further, I wonder if this might be an issue in just the system package? For `system.security` data stream definition, I see `event.module` d

[2022-03-18 19:28] VijayDoshi commented on #127244
Adding a requirement to support long data view names. Often, data view names are truncated making it difficult to select the correct one. We should increase the default width of the expanded selection pop-over and/or make the width of the navigation bar resizable.
https://github.com/elastic/enhancements/issues/14159

[2022-03-18 19:38] kibanamachine commented on #126414
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13106#406da48e-5526-4cb2-8bb7-0513e4d25f30)

[2022-03-18 19:52] michaelolo24 commented on #126892
Do we want to replace the table fields with labels then? And will this be done for 8.3 at this point? @janmonschke & @monina-n ?

[2022-03-18 19:54] elasticmachine commented on #127679
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-18 19:54] michaelolo24 commented on #127010
@janmonschke can you take a look at this when you have time when you look at the securityPermissions around opening,acknowledging,and closing a case?

[2022-03-18 19:54] mdefazio commented on #123765
Closed with https://github.com/elastic/kibana/pull/124114

[2022-03-18 19:55] michaelolo24 commented on #127452
This may be an eui bug. Will look into it, thanks @samratbhadra-qasource !

[2022-03-18 19:56] michaelolo24 commented on #127575
@paulewing this would be an enhancement I would expect? I think they've always been named timeline rather than template here

[2022-03-18 20:11] #127047 closed

[2022-03-18 20:12] mattkime commented on #109284
@dedemorton Thats a question for the teams that own those apps..

[2022-03-18 20:20] jbudz commented on #128061
Reverting https://github.com/elastic/kibana/pull/126320 appears to fix this.

https://github.com/elastic/kibana/pull/128096
https://github.com/elastic/kibana/pull/128095

Now: https://kibana-pr-128095.kb.us-west2.gcp.elastic-cloud.com:9243/app/monitoring#/kibana/instances
![image](https://user-images.githubusercontent.com/3143860/159077433-b61c0bbc-647c-423d-877b-09182c3cd295.png)

After reverting

[2022-03-18 20:20] elasticmachine commented on #128061
Pinging @elastic/kibana-core (Team:Core)

[2022-03-18 20:24] thekofimensah opened #128098 "Bug in Visualizer drag aggregation bucket"
**Kibana version:**
~7.13 - 17.16

**Browser version:**
Chrome Version 98.0.4758.102 (Official Build) (arm64)

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud
**Describe the bug:**
When inside of the aggregation based visual creators, while trying to rearrange the order of the aggregations, the drag doesn't work. I've been seeing this issue for around 2 years with d

[2022-03-18 20:25] jbudz commented on #128061
I added the blocker label for 8.2.0.  Kibana's pretty close to OOM on a fresh cloud installation.

[2022-03-18 20:43] patodevilla opened #128101 "Support custom label when filtering dashboard 🚀"
**Describe the feature:**

Display field custom labels when filtering in dashboards

**Describe a specific use case for the feature:**

Created runtime fields in index pattern with custom label and when filtering in the dashboard it displays the raw field name

![Screen Shot 2022-03-18 at 2 39 01 PM](https://user-images.githubusercontent.com/13631576/159080111-169694bf-6b5a-44ab-8711-d8bea0d9db3e.

[2022-03-18 20:49] peluja1012 commented on #81146
Closing as this behavior can no longer be reproduced in 8.1.

[2022-03-18 20:49] #81146 closed

[2022-03-18 20:57] liza-mae commented on #110367
Confirmed fixed in latest 8.1.1 report - https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/JOB=basicGrp1,TASK=saas_run_kibana_tests,node=ess-testing/testReport/

[2022-03-18 20:59] liza-mae opened #128103 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts - discover app discover filter editor filter editor version fields should support range filter on version fields"
**Version: 8.1.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 20:59] liza-mae opened #128104 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts - API Keys app Home page creates API key "after each" hook for "when submitting form, close dialog and displays new api key""
**Version: 8.1.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**
- API Keys app Home page deletes API key(s) "before each" hook for "one by one"
- API Keys app Home page creates API key when submitting form, close dialog and displays new api key

 _Test Report: https://internal-ci.elastic.co/view/Sta

[2022-03-18 21:00] elasticmachine commented on #87095
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-18 21:00] liza-mae commented on #125276
**Version: 8.1.1**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae commented on #102008
**Version: 8.1.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae commented on #98419
**Version: 8.1.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae commented on #98420
**Version: 8.1.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae commented on #124599
**Version: 8.1.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get many monitors with page params
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get on

[2022-03-18 21:00] liza-mae commented on #124601
**Version: 8.1.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/add_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae opened #128105 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_context_encoded_url_param·ts - discover app context encoded id param "before all" hook for "should navigate to context page correctly""
**Version: 8.1.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_context_encoded_url_param·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] elasticmachine commented on #128103
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-18 21:00] liza-mae commented on #124603
**Version: 8.1.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/edit_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [PUT] /internal/uptime/service/monitors returns bad request if payload is invalid for HTTP monitor
- apis uptime uptime REST endpoints uptime CRUD routes [PUT] /internal/uptim

[2022-03-18 21:00] liza-mae commented on #125277
**Version: 8.1.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/reports/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae commented on #120392
**Version: 8.1.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae commented on #124602
**Version: 8.1.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dev_tools/breadcrumbs·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] liza-mae opened #128106 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/runtime_fields·ts - lens app lens runtime fields should able to edit field"
**Version: 8.1.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/runtime_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**
- lens app  lens runtime fields should able to remove field

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/3011/testReport/_

[2022-03-18 21:00] elasticmachine commented on #128105
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-18 21:01] elasticmachine commented on #128106
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-18 21:08] elasticmachine commented on #128104
Pinging @elastic/kibana-core (Team:Core)

[2022-03-18 21:09] tsullivan commented on #127750
@jloleysens Looking again, I see that the "max attempts" config property is `xpack.reporting.capture.maxAttempts`. This isn't ideal because it's the only non-screenshot related config property under `capture`. The maxAttempts setting applies to every export type, not just the screenshot export types.

I guess we need a new config property called `xpack.reporting.queue.maxAttempts` which is a bette

[2022-03-18 21:11] peluja1012 commented on #89863
Still occurring in 8.1

[2022-03-18 21:16] peluja1012 commented on #90000
Hi @cnasikas, Is this connector owned by your team?

[2022-03-18 21:22] andrewctate commented on #128047
This is a great idea 👍

[2022-03-18 21:28] peluja1012 commented on #90757
@arvindersingh-qasource @muskangulati-qasource could you please revalidate? The linked issue https://github.com/elastic/kibana/issues/108283 has been fixed.

[2022-03-18 21:44] peluja1012 commented on #96289
In 8.1, users can select rules from the Rule Monitoring view as well. Hence, closing this issue.

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/616158/159086756-2c88543e-4cf0-4afa-888c-51d1c7402cf7.png">

[2022-03-18 21:44] #96289 closed

[2022-03-18 22:38] #126837 closed

[2022-03-18 22:45] #124572 closed

[2022-03-18 23:56] kibanamachine opened #128110 "Failing test: Jest Tests.x-pack/plugins/cases/public/components/all_cases - AllCasesListGeneric should hide the alerts column if the alert feature is disabled"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13116#6257f11b-4018-4164-b999-d25e30675c31)

[2022-03-19 00:31] jmw992 commented on #125756
The `monitoring.ui.ccs.enabled: false` from @floriankoenig-work worked for me.  My question is what kind of implications cause?  What kind of availability / performance/ accuracy degredations does that cause vs cross cluster search enabled?

[2022-03-19 04:52] kibanamachine commented on #119787
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13133#82d01ba0-ccc3-44b6-b622-b7fdd812da24)

[2022-03-19 05:11] CyberTaoFlow commented on #124357
I am seeing this exact issue in my limited  use of some integrations with standalone agents.  Not much of a concern at first but then I started indexing about 3TB of data from an EDR product.

The lack of spread across the 36 node cluster caused 1 host to exceed its low and high watermark before finally hitting flood stage.   My first thought was to apply a custom template component to make this d

[2022-03-19 08:20] miltonhultgren commented on #125756
Please see https://github.com/elastic/kibana/issues/120384 for more context!

[2022-03-19 11:43] kibanamachine commented on #127678
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13154#1cf6c15d-f077-479c-b3db-53dbc0256c85)

[2022-03-19 16:40] kibanamachine commented on #127678
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13167#4c883f40-bfe6-46b5-a4a5-e1dd4a38d0e2)

[2022-03-19 17:06] kibanamachine commented on #121482
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13168#66a9349f-0ad6-4739-9d36-5e84b305ce65)

[2022-03-19 17:53] #118217 closed

[2022-03-19 18:51] 0t3b2017 commented on #87095
I have the same issue.

Em sex., 18 de mar. de 2022 às 18:00, Elastic Machine <
***@***.***> escreveu:

--

* Atenciosamente, José Roberto Infraestrutura  Tel.: (11)
97262-2960 ***@***.*** ***@***.***>*
 [image: Imagem inline 1] <https://www.linkedin.com/in/roberto-it/>

*Esta mensagem, incluindo seus anexos, tem caráter confidencial e seu
conteúdo é restrito ao destinatário da mensagem. Caso você

[2022-03-19 19:41] kibanamachine commented on #127678
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13177#9bfc6ade-e5e2-4ae8-8941-800862f6da04)

[2022-03-19 22:31] kibanamachine commented on #127905
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13185#70f86b1c-4f10-41cb-9afd-05de0c8326f7)

[2022-03-20 02:32] kibanamachine commented on #126414
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13198#272360ba-2187-4e19-a552-b908032cf3fb)

[2022-03-20 03:28] kibanamachine commented on #100968
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13202#37c2f7bb-e63d-47ab-bd14-c2f5c10ca338)

[2022-03-20 04:56] kibanamachine commented on #118479
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13203#6c4c219c-186b-44ec-a884-a2dae57c6235)

[2022-03-20 11:42] kibanamachine commented on #127678
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13226#4f283854-8988-4649-8a27-21271102511e)

[2022-03-20 13:50] eyalkraft commented on #125270
@CohenIdo Nice progress!
Before merging any PR, make sure you conducted a complete successful manual test:

- [ ] create an (or use our own) integration with the new asset type
- [ ] build it locally
- [ ] run everything locally with elastic-package
- [ ] in Kibana - install your integration
- [ ] makes sure the new saved object was created (use the saved objects API)

[2022-03-20 22:01] spong opened #128121 "[Security Solution][Detections] Display confirmation modal if users have V1/V2 ML Rules installed"
In `8.2` there will be new V3 ML Modules shipping and the intent is to update the existing ML Rules instead of shipping new Rules as to ease the upgrade/deprecation flow for users. As a result, if a user has any V1/V2 Rules installed/running, we'll want to inform them of this change and present them with a confirmation modal when updating rules containing a link to the documentation detailing this

[2022-03-20 22:01] elasticmachine commented on #128121
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-20 22:01] elasticmachine commented on #128121
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-20 22:23] CohenIdo commented on #125270
Update from debugging failures in `x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts` file.
Important conclusions:
- For running the test locally, in one terminal run:
`CI_GROUP=Docker FLEET_PACKAGE_REGISTRY_PORT=12345 yarn test:ftr:server --config x-pack/test/fleet_api_integration/config.ts`
and in the second terminal run:
`CI_GROUP=Docker FLEET_PACKAGE_REGISTRY_PORT=12345 yarn

[2022-03-20 22:43] CohenIdo commented on #125270
Hey @eyalkraft, all that should be covered in the [following task](https://github.com/elastic/security-team/issues/3058), Iso as you suggested I will not merge it until everything will cover in this task.

[2022-03-21 02:15] EricDavisX opened #128122 "[ResponseOps][Cases] Continuation of Cases FTR UI Automation"
ResponseOps Cases Continued UI Automation efforts.  This is split off from:
https://github.com/elastic/kibana/issues/127118

Cases view (mostly):
- [ ] adding an Alert to a case
- [ ] adding a connector to a case and validate the UI updates to show correctly (details TBD, any work here is helpful, how to validate it may be out of scope - the Index connector has some test logic/samples we could bor

[2022-03-21 02:15] elasticmachine commented on #128122
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-21 02:15] elasticmachine commented on #128122
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-21 02:18] EricDavisX commented on #127118
I've updated the task list to NOT included connectors / alerts stuffs.

[2022-03-21 04:49] muskangulati-qasource commented on #90757
Hi @peluja1012,

We tested this ticket on the latest 8.1.1 Bc2 build and found the issue is now fixed 🟢
Please find below the testing details:

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/159206868-5efb2232-9269-4f9c-8c3a-813866358156.mp4

Hence, we are closing this issue and marking it as 'QA Validated'.

Thanks!!

[2022-03-21 04:50] muskangulati-qasource commented on #127570
Hi @kevinlog ,

We tested this ticket on the latest 8.1.1 Bc2 build and found the issue is now fixed 🟢
Please find below the testing details:

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/159206881-c77c9a73-9029-471c-86c5-55bd2ecfc2f9.mp4

Thanks!!

[2022-03-21 04:50] muskangulati-qasource commented on #127692
Hi @peluja1012,

We tested this ticket on the latest 8.1.1 Bc2 build and found the issue is now fixed 🟢
Please find below the testing details:

**Build Details**:
[code]

**Screen Recording**:

https://user-images.githubusercontent.com/60252716/159206908-7fec6568-792c-49cf-acc4-1bfeccdc054d.mp4

Hence, we are closing this issue and marking it as 'QA Validated'.

Thanks!!

[2022-03-21 04:51] #127692 closed

[2022-03-21 05:26] MrYueQ commented on #97604
[code]

**kibana** version: 7.13.3

[2022-03-21 06:25] #90757 closed

[2022-03-21 07:58] ruflin commented on #104620
Lets create a new fresh issue for it to continue the conversation. Can you check if for the all the other points we reached a conclusion to make sure we didn't leave anything else behind?

[2022-03-21 08:00] amolnater-qasource commented on #127664
Hi @joshdover
We have revalidated this issue on 8.1.1 BC-2 and found it **fixed** now.
- AWS integration installs assets and also shows assets under Assets tab.

**Build details:**
BUILD: 50609
COMMIT: 0a94c82a3656a1600666ba9beb0f0b18ceb7464f

**Screenshots:**
![2](https://user-images.githubusercontent.com/77374876/159222315-fbdd38ed-c6a0-4f26-add0-5a82fbba9625.JPG)

Further this issue is also fix

[2022-03-21 08:24] ppisljar commented on #8583
we are not working on this at the moment due to other priorities

[2022-03-21 08:33] kibanamachine commented on #126421
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13288#8356b184-cd42-4a18-9000-2918170fee64)

[2022-03-21 08:38] formgeist opened #128129 "[Unified Observability] Alerts table: Change the default page size to 10 for the Overview page"
# Summary

We rely on the embedded alerts table configurations for setting the default page size for the table (the number of rows per page), but in the instance of the Overview, it'd be preferable to override the default and fix it to 10 rows by default. That means the content below doesn't get pushed beyond the visible fold on the page if there indeed is 50+ rows in the alerts table.

<img width

[2022-03-21 08:38] elasticmachine commented on #128129
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-21 08:41] formgeist commented on #128129
@mgiota Do you think it's possible for us to override the default page size in the alerts table? cc @estermv

[2022-03-21 08:49] eyalkraft commented on #125270
Hey @CohenIdo , It can be covered on the hooks task, but I don't see why it's related to the hooks task and not to this one?
This current task name is `Adding fleet support for csp-rule-template asset type`. Only makes sense to validate you actually added the fleet support for this asset type.

The hooks task is a complicated task on Its own and will require many different tests around the changes

[2022-03-21 09:12] #124265 closed

[2022-03-21 09:18] jloleysens opened #128130 "[Fleet] Integrations plugins page can be SLOW to load"
Currently, the integrations page can be slow because it tries to pull new packages from EPR before displaying anything. It would be a really nice enhancement to "stream in" content as it arrives rather than block on first fetching everything since the request to EPR can be slow, or unavailable in certain scenarios.

This is especially true if users want to use some of the packages before having se

[2022-03-21 09:18] elasticmachine commented on #128130
Pinging @elastic/fleet (Team:Fleet)

[2022-03-21 09:24] Dmitriynj commented on #124982
Reproduced on 7.16.3, works correctly on 7.17.1.

[2022-03-21 09:27] stratoula commented on #127244
We should def take long names under consideration. For now, I hope that this will be improved by this PR https://github.com/elastic/kibana/pull/124191 that adds the ability to add a human-readable title to your dataView.

[2022-03-21 09:29] MiriamAparicio commented on #124826
@ogupte It looks like the version is already 8.1.0 in https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/common/fleet.ts#L11
Should we keep the issue for 8.2.0? Or close it?

[2022-03-21 09:37] harshitgupta-qasource opened #128132 "[Question] Cache File of Dev Console in local Storage present after logging Out and sensitive data like Signature is saved in network console."
**Description:**
Cache File of Dev Console in local Storage present after logging Out and sensitive data like Signature is saved in network console.

**Preconditions:**
- Kibana build for 8.2.0 should exist

**Steps to Reproduce:**
- Open Network Console
- Login to Elastic Kibana.
- Navigate to Dev Console.
- Downgrade license from trail to Basic or upgrade license from Basic to Platinum.
-  Logou

[2022-03-21 09:37] elasticmachine commented on #128132
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-21 09:37] elasticmachine commented on #128132
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-21 09:39] harshitgupta-qasource commented on #128132
@manishgupta-qasource please review!!

[2022-03-21 09:40] cnasikas commented on #90000
Hi @peluja1012! Yes, this is owned by the ResponseOps team. I transferred it accordingly.

[2022-03-21 09:41] cyrille-leclerc opened #128133 "Lens error tooltips: support copy/paste of the error message"
**Describe the feature:**

I would like to copy paste the error messages reported by Lens dashboard as tooltip fly overs.

![image](https://user-images.githubusercontent.com/459691/159236341-9939b5ce-8629-4c8e-8f2a-235a63cd22b9.png)

**Describe a specific use case for the feature:**

* Reporting bugs in my dashboards

[2022-03-21 09:41] elasticmachine commented on #128133
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-21 09:41] elasticmachine commented on #90000
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-21 09:51] kibanamachine commented on #122502
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13292#cbc71861-e1d5-45aa-a84f-7e9b13cce6e5)

[2022-03-21 09:51] formgeist opened #128134 "[APM] Bug: The event outcome failure badge is not showing in the transaction detail flyout header"
**Kibana version**:

8.1.0

**Description of the problem including expected versus actual behavior**:

The transaction row in the Waterfall visualization is showing a `failure` badge to indicate the transaction event outcome. This is not displayed in the transaction flyout header once you open the specific transaction.

![CleanShot 2022-03-21 at 10 44 23@2x](https://user-images.githubusercontent.c

[2022-03-21 09:51] elasticmachine commented on #128134
Pinging @elastic/apm-ui (Team:apm)

[2022-03-21 10:25] gigerdo commented on #128060
The beats always match the version of the production cluster because they are bundled with the app in the same image. If you enable log/metrics delivery, the bundled FIlebeat/Metricbeat is started together with the app.

I agree with Mat, that adding a validation is probably the easiest quick-fix to this problem. Is this problem specific to the upgrade 7->8 or do we expect this in general for all

[2022-03-21 10:26] elasticmachine commented on #128133
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-21 10:27] flash1293 commented on #128133
The error badge is managed in a central place by the embeddable plugin https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/src/plugins/embeddable/public/lib/panel/embeddable_error_label.tsx#L33

[2022-03-21 10:29] flash1293 commented on #128056
@Kunzetsov Can you elaborate on why we need `dataLayer` and `extendedDataLayer`? What about having only `dataLayer` with on optional argument which is used when provided? It seems like the two types make it harder for a user to choose the right thing.

[2022-03-21 10:37] Kunzetsov commented on #128056
@flash1293, `xyVis`, which will be used at Canvas and VisEditors, is accepting `dataLayer` input type (without table argument) for `dataLayer` argument. At the same time, `layerXyVis`, which will be used only at Lens,  is accepting `extendedDataLayer`, `extendedReferenceLineLayer` and `extendedAnnotationLayer`, which have optional table argument. So, for `xyVis` user will not have any options 😃

[2022-03-21 10:39] flash1293 commented on #128056
@Kunzetsov Ah, I see, that makes sense, thanks for explaining.

[2022-03-21 10:40] amolnater-qasource opened #128135 "[Fleet][Question]: Unable to view agent status and policy used by agent under Agent>Logs tab."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. Agent must be installed using Agent policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents>Agent details tab.
3. Observe n

[2022-03-21 10:40] elasticmachine commented on #128135
Pinging @elastic/fleet (Team:Fleet)

[2022-03-21 10:40] amolnater-qasource commented on #128135
@manishgupta-qasource Please review.

[2022-03-21 10:44] gsoldevila commented on #110638
As @afharo mentioned, the circular dependency is no longer an issue thanks to code refactoring.

Now, ATM there are 4 places where the Privacy statement notice **can** appear:

1. The welcome page interstitial.
    <img width="250" alt="image" src="https://user-images.githubusercontent.com/25349407/159228094-3f4808b7-e15c-40f7-a2c9-302901789c90.png">
    * Here, we need to hide the privacy stateme

[2022-03-21 10:46] Dosant commented on #57728
Reopening this because this now could happen during creating or updating a Data View
Error is caused by field_caps request with non-default meta_fields.

We should investigate why in some cases of `meta_fields` this throws an error.
I assume the problem happens in case we have just one field in `meta_fields` and likely it is being sent as a single string instead of an array and this throws `Bad Re

[2022-03-21 10:48] manishgupta-qasource commented on #128135
Secondary review for this ticket is Done

[2022-03-21 10:49] drewpost opened #128300 "[Synthetics App] Monitor Management Page"
The monitor management page is where all of a users monitors are found and can be deleted, disabled or modified. It also includes the ability to create new monitors in the UI flow.

Monitor management is space aware and will only show monitors for that space

# Design

See the related design issue for links to Figma design / prototype, or reach out to @hbharding for access.

## Mockup
![image](htt

[2022-03-21 10:50] deepikakeshav-qasource opened #128137 "[Security Solution] An error occur for empty query when click on "Preview button" for EQL rule."
**Describe the bug**
An error occur for empty query when click on "Preview button" for EQL rule.

**Build Details:**
[code]

**preconditions**
N/A

**Steps to Reproduce**
1. Navigate to rule tab under security
2. Click on create a new rule
3. Click on EQL rule.
4. Click on preview result without enter any query
5. Observe that error occur for empty query when click on "Preview button" for EQL rule

[2022-03-21 10:50] elasticmachine commented on #128137
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-21 10:50] elasticmachine commented on #128137
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-21 10:50] deepikakeshav-qasource commented on #127582
Hi @peluja1012 ,

We have reported the issue for Event Correlation Rule Preview for 8.1.1. [Here](https://github.com/elastic/kibana/issues/128137). Error is occur when click on preview button if EQL query is empty

However, EQL rule preview is disable when query is empty on 8.2.0 SANPSHOT.

Please let us know if anything else is required from our end.

Thank you!!

[2022-03-21 11:03] #126784 closed

[2022-03-21 11:04] amolnater-qasource commented on #116249
Hi @joshdover
We have revalidated this on 8.2 Snapshot self-managed Kibana and found it **working fine** now.
- Hosts gets added to kubernetes.proxy using xpack.fleet.agentPolicies.

**Configuration Used:**
[code]

**Build details:**
BUILD: 51077
COMMIT: 595b6948a1492a04fff14c8d6b2f8b50308681c0

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/159231927-3d76b6d2-458a-4af2-85

[2022-03-21 11:11] Dosant commented on #70562
@klacabane We'll try this again https://github.com/elastic/kibana/pull/99051

[2022-03-21 11:12] CohenIdo commented on #125270
@kfirpeled, @eyalkraft , please find this short demo following our conversations:
https://user-images.githubusercontent.com/90558359/159249465-e85c382b-37bc-4549-8807-3189ffd1d3dc.mov

[2022-03-21 11:15] flash1293 opened #128140 "[Lens] Only show hovered series if there are more than 10"
Right now the Lens XY chart is showing all series in the tooltip no matter where the user is hovering. This is nice for a low number of series but in case of dozens or more series, it becomes hard to read:
<img width="1073" alt="Screenshot 2022-03-21 at 11 37 15" src="https://user-images.githubusercontent.com/1508364/159250044-e602a8e4-b362-4e16-bf98-2b7466b16761.png">

If there are more than 10 s

[2022-03-21 11:15] elasticmachine commented on #128140
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-21 11:16] flash1293 commented on #126241
Fixed by https://github.com/elastic/elastic-charts/pull/1609

[2022-03-21 11:16] #126241 closed

[2022-03-21 11:20] flash1293 commented on #119147
Closing this as it's expected behavior - the "ranking" of top values is not necessarily represented in the chart (e.g. see pie chart), it's about selecting which values to show (e.g. selecting the top 5 by some metric out of 100 possible values).

For the feature requested here see the link above

[2022-03-21 11:20] #119147 closed

[2022-03-21 11:29] flash1293 commented on #124318
https://github.com/elastic/elastic-charts/issues/1593 is fixed, @DziyanaDzeraviankina do you want to take another look at this?

[2022-03-21 11:34] #116249 closed

[2022-03-21 11:36] joshdover commented on #127866
Makes sense to me. Thanks for taking a look!

[2022-03-21 11:36] joshdover commented on #127866
Reopening until PR is merged 🙃

[2022-03-21 11:51] samratbhadra-qasource commented on #122128
Hi @jen-huang
We have tested this issue on the latest 8.1.1-BC2 build & found that the issue still **exist** . Please find below the testing details:

- Managed host is also counted while performing bulk actions.

**Screenshot:**
![Screenshot (147)](https://user-images.githubusercontent.com/84007952/159245737-139083e3-7cbf-4db7-aaa0-7c62534bfb2a.png)

![Screenshot (146)](https://user-images.github

[2022-03-21 11:51] samratbhadra-qasource commented on #116739
Hi @jen-huang
We have tested this issue on the latest 8.1.1-BC2 build & found that the issue still **exist** . Please find below the testing details:

- In Agent details page the Agent Version field name having alignment issue.

**Screenshot:**
![Screenshot (142)](https://user-images.githubusercontent.com/84007952/159245024-2b9dd3b6-db8f-49f2-b97d-165923909e65.png)

**Build Details:**
VERSION: 8.1

[2022-03-21 11:58] dikshachauhan-qasource commented on #127947
Hi @jen-huang

Yes, you are correct here. However, we have noticed that these filters are not working as expected. Suppose, we talk about second screenshot, here today I again attempted to apply some filters with event.dataset : "system.syslog" filter, however, esults are not filtered using mentioned filter.

**Screenshot1:**
![image](https://user-images.githubusercontent.com/72375798/159255797-a3

[2022-03-21 12:13] prachigupta-qasource opened #128144 "[Security Solution] 'Failed to import 4 'Rules'' message is shown instead of ''timelines'' on importing timelines"
**Describe the bug:**

'Failed to import 4 'Rules'' message is shown instead of ''timelines'' on importing timelines

**Kibana/Elasticsearch Stack version:**

[code]
**Pre-conditions:**

1. Elastic Search should be up and running
2. Kibana should be up and running

**Steps to reproduce:**

1. Navigate to Timelines tab under Security
2. Click on 'Import'
3. Selected a timeline file and click on 'Im

[2022-03-21 12:13] elasticmachine commented on #128144
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-21 12:13] mgiota commented on #126498
@XavierM Is there an update on this?

[2022-03-21 12:15] formgeist commented on #126762
@mgiota Just following up again here, but do you think it's possible to add an appropriate empty state for the alerts table when there are no rules available? Something along the lines of this;

![image](https://user-images.githubusercontent.com/4104278/159258942-8dacad0b-2174-4d34-a24b-5cf888169168.png)

[2022-03-21 12:16] gbamparop opened #128146 "[APM] Investigate whether we can remove comparisonEnabled from url"
Currently, when users have selected a comparison option and then disable the comparison using the checkbox, the selected comparison option is saved in the url so it's preserved between sessions.

We could remove `comparisonEnabled` and only rely on the `offset` url param to get data for the comparison but this means that the selected option state will be preserved when comparison is enabled but lo

[2022-03-21 12:16] elasticmachine commented on #128146
Pinging @elastic/apm-ui (Team:apm)

[2022-03-21 12:20] mostlyjason commented on #125640
@kpollich yes the content on the flyout and the empty state should be the same. I believe that's how it is today too. It'd be good to have both tabs available.

[2022-03-21 12:26] ghost opened #128147 "[Fleet]: Long `Endpoint Security` integration name breaks the UI under Agent details page."
**Describe the bug:**
Long `Endpoint Security` integration name breaks the UI under Agent details page.

**Build Details:**
VERSION: 8.2.0-SNAPSHOT
COMMIT: 7184408f3316c2354694534c8ca079c85e4191cd
BUILD: 51277
ARTIFACT LINK: https://snapshots.elastic.co/8.2.0-a8c932d4/summary-8.2.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.2.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1.

[2022-03-21 12:26] elasticmachine commented on #128147
Pinging @elastic/fleet (Team:Fleet)

[2022-03-21 12:28] amolnater-qasource commented on #127327
Hi @juliaElastic
We have revalidated this on 8.2 Snapshot kibana cloud and self-managed environment and found it **fixed** now.
- We are now able to install kubernetes integration.

**Build details:**
[code]

**Screenshot:**
![9](https://user-images.githubusercontent.com/77374876/159260768-6fb0981c-a45a-4436-82e9-232e4a67d06f.JPG)

Thanks

[2022-03-21 12:42] mbondyra commented on #14177
+ 1 from Discuss forum: https://discuss.elastic.co/t/re-i-would-like-to-add-new-date-range-picker-in-kibana-dashboard-my-kibana-setup-is-in-developement-mode-in-ubuntu-16-04/299988/3

[2022-03-21 12:46] mostlyjason commented on #127653
Other integrations like system also have a large number of fields so a generic solution might be helpful. I agree this info is not useful for someone getting started. I've seen people scrolling these long pages in fullstory and I imagine they don't benefit in any substantial way. I have a hypothesis that an in-product reference info could be more convenient for existing users if we do it in a way

[2022-03-21 12:46] gigerdo commented on #128060
I just saw that there is already a similar open issue on this: https://github.com/elastic/cloud/issues/99084

Though it doesn't explicitly mention that there are actually incompatibilities between 7 and 8 that make this difficult, so maybe something you could add to that issue.

[2022-03-21 12:51] manishgupta-qasource commented on #128147
Secondary review for this ticket is Done

[2022-03-21 12:59] kpollich opened #128152 "[Fleet] Evaluate default value for `query.default_field` setting"
Capturing a point of discussion we missed in https://github.com/elastic/kibana/issues/104620

From @ruflin:

We set up our value for `query.default_field` on index templates here:

https://github.com/elastic/kibana/blob/de02c2da65c3431cd458a1b78f01cbeeaaf5f64a/x-pack/plugins/fleet/server/services/epm/elasticsearch/template/default_settings.ts#L48-L50

Currently, we pull all fields from the data st

[2022-03-21 12:59] elasticmachine commented on #128152
Pinging @elastic/fleet (Team:Fleet)

[2022-03-21 13:00] kpollich commented on #104620
@ruflin - Captured the issue around `query.default_field` in https://github.com/elastic/kibana/issues/128152

[2022-03-21 13:00] formgeist opened #128153 "Bug: Kibana error message renders especially text unstyled"
**Kibana version**:

8.2.0-SNAPSHOT

**Browser version**:

Chrome 99

**Description of the problem including expected versus actual behavior**:

If Kibana fails and renders the default error message, a lot of the text is left in an unstyled state. Compared to the buttons from EUI which does render the `Inter` default font but the rest of the text is rendered in `Times`.

<img width="1097" alt="Cle

[2022-03-21 13:00] elasticmachine commented on #128153
Pinging @elastic/kibana-core (Team:Core)

[2022-03-21 13:02] afgomez opened #128154 "Code navigation breaks when using packages"
Imagine the following scenario. I'm actively working on a package, and I'm using that package in the plugin. If I am in plugin-code and I click "Go to definition" on an identifier exported by my package, the editor sends me to the compiled `.d.ts` file instead of the original code.

Ideally the editor should take me to the original code.

https://user-images.githubusercontent.com/57448/159266118-a

[2022-03-21 13:02] elasticmachine commented on #128154
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-21 13:06] ph commented on #125534
@joshdover We left the deb/rpm out of the scope of the upgrade because this still leaves the system in a possible inconsistent state, I am not aware of many applications (chrome, firefox?) that actually upgrades themself via RPM/deb.

I do agree with the naming above.

[2022-03-21 13:07] afharo commented on #89839
@pjhampton added an important point: We should set Cloud to enable these logs as well by default so we can catch any potential bugs in those controlled environments.

[2022-03-21 13:32] mistic commented on #127678
Skipped.

main: [20ede5d](https://github.com/elastic/kibana/commit/20ede5dc33d66f8af0b296321c1004940cd65106)

[2022-03-21 13:37] stratoula commented on #128140
@flash1293 Q:  TSVB is using a setting. If I understand correctly from the description for Lens we want this to happen automatically?

[2022-03-21 13:39] flash1293 commented on #128140
@stratoula Right, the idea was to automatically enable this if the number of breakdown series is larger than 10 (because the tooltip isn't really usable anymore at this point).

We can also introduce a setting for this, but it feels heavy-handed. Let's discuss in our next sync.

[2022-03-21 13:39] kevinlog commented on #92567
with the PR added above, I haven't seen this test fail for a few weeks.  Going to close.

[2022-03-21 13:42] MadameSheema commented on #127582
Closing this issue as per @peluja1012 and @ecezalp agreement, the behavior described is the expected and we'll wait for user feedback to see if we should work on this or not. Thanks

[2022-03-21 13:42] #127582 closed

[2022-03-21 13:44] #128106 closed

[2022-03-21 13:45] machadoum opened #128156 "User page [5] - Create 'all users tab'"
**Describe the feature:**

* Create all users table with the following columns: `user name`, `last seen`, and `domain`.
* Rename all user tabs to authentication.

[2022-03-21 13:45] elasticmachine commented on #128156
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-21 13:47] ruflin commented on #128152
What does Kibana today if no default_fields are provided?

[2022-03-21 13:52] stratoula commented on #124086
I am closing this as all PRs have been merged into main.

[2022-03-21 13:52] #124086 closed

[2022-03-21 13:55] jbudz commented on #84609
Overall this is looking better.  We'll have to periodically re-review the distribution and make fixes here, but for now I think we can close this.

[2022-03-21 13:55] #84609 closed

[2022-03-21 13:59] MadameSheema commented on #122502
@mistic the commit referenced above does not match with the test tracked on this issue. Can you please confirm if is a mistake? Thanks!

cc @ecezalp

[2022-03-21 14:01] flash1293 commented on #123795
Should become part of https://github.com/elastic/kibana/blob/71af73c18bd170826f67e6a24ccd14e8c8ff552e/packages/kbn-shared-ux-components/README.mdx

[2022-03-21 14:01] dominiqueclarke commented on #122025
Closed by https://github.com/elastic/kibana/pull/124700

[2022-03-21 14:01] #122025 closed

[2022-03-21 14:02] mbarretta opened #128159 "[Feature Request] Add support for dates in max/min aggregation in Lens"
**Describe the feature:**
Allow the use of the Maximum and Minimum functions (`max() min()`  "formulas") for fields of type `date`

**Describe a specific use case for the feature:**
The legacy Metric visualization supports max/min for date fields, as does TSVB. With datasets that aren't constantly streaming in, dashboards greatly benefit with they include a "last timestamp" or other visualization

[2022-03-21 14:02] elasticmachine commented on #128159
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-21 14:04] flash1293 commented on #128159
This will be fixed in the upcoming version 8.2: https://github.com/elastic/kibana/pull/125389

[2022-03-21 14:04] #128159 closed

[2022-03-21 14:07] ymao1 commented on #128043
With each rule execution, the alerting framework creates an `AbortController`. When a rule execution exceeds the configured timeout, the framework calls `abortController.abort()`. The ES client that the framework provides to rule executors responds to this abort signal by cancelling all in-progress searches and preventing future searches. If possible, it would be great if the search source service

[2022-03-21 14:07] mbarretta commented on #128159
nuts...guess my searching skills failed me!

[2022-03-21 14:11] elasticmachine commented on #128144
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-21 14:12] MadameSheema commented on #128144
@michaelolo24 I was able to reproduce the issue as well. Please note that this looks like to happen when you try to import an existing timeline.

[2022-03-21 14:12] MadameSheema commented on #128144
@prachigupta-qasource can you please check if this is happening on 8.2 as well? Thanks

[2022-03-21 14:13] al-ah opened #128161 "Kibana server crashed with status code 1"
**Kibana version:**
 8.1.0
**Elasticsearch version:**
 8.1.0

**Server OS version:**
 Debian 10,11

**Describe the bug:**
I can not have Kibana development environment on the new system and I have " server crashed  with status code 1" error.
**Steps to reproduce:**
1. install single node of elasticsearch
2. do kibana developing guide : https://www.elastic.co/guide/en/kibana/current/development-get

[2022-03-21 14:16] boriskirov opened #128162 "[APM] Bug: When reviewing Span details, database statement title is missing from the header"
**Kibana version**:
8.1.0

**Description of the problem including expected versus actual behavior**:
When opening some span details in the Transactions tab in the Services in APM space, I don't see the title of the Database statement as I expect. You can see this is available in others.

![image](https://user-images.githubusercontent.com/13353203/159269379-0e699b24-478d-4e0e-99f7-09a815977fe6.png)

[2022-03-21 14:16] elasticmachine commented on #128162
Pinging @elastic/apm-ui (Team:apm)

[2022-03-21 14:28] afgomez commented on #97108
I did [this](https://github.com/afgomez/kibana/commit/00632da9cc4e91f31f859be040252ac93557fc0d), and everything works.

`infra` has `observability` as a required plugin.
`observability` has `infra` as a required **bundle**.
`observability/tsconfig.json` has a reference to `infra/tsconfig.json`

[2022-03-21 14:38] mikecote commented on #126944
Let's aim for 7.17.2 backport

[2022-03-21 14:48] ogupte commented on #124826
I'm working on https://github.com/elastic/kibana/issues/123477 which addresses this so we can probably close this one. Otherwise, we would need to update `SUPPORTED_APM_PACKAGE_VERSION` from `8.1.0` -> `8.2.0` at release time (currently `8.2.0-dev4`).

[2022-03-21 14:49] ogupte commented on #124826
You can also assign this one to me and i'll close it when the version support is merged.

[2022-03-21 14:53] #123251 closed

[2022-03-21 15:01] mistic commented on #127905
Skipped.

main: [b80aa87](https://github.com/elastic/kibana/commit/b80aa878cfed6123048b211c45a7c67458655391)

[2022-03-21 15:02] #125994 closed

[2022-03-21 15:03] bhavyarm opened #128167 "Display a better error message for extended bounds min cannot be greater than extended bounds max"
**Kibana version:** 8.1.1 BC2

**Elasticsearch version:** 8.1.1 BC2

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:**  Kibana needs to display a better ux message to user on TSVB viz when the extended bounds min exceeds max extended bo

[2022-03-21 15:03] elasticmachine commented on #128167
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-21 15:04] stratoula opened #128168 "[Unified search] Use the dataviews service"
When this PR https://github.com/elastic/kibana/pull/127651/files is going to be merged we must cleanup the deprecated indexPattern service and use the dataviews one.

Note: I am not requesting it as a change on the aforementioned PR as it is already big and the goal was to move the existing functionality to a new plugin.

[2022-03-21 15:04] elasticmachine commented on #128168
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-21 15:04] elasticmachine commented on #128168
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-21 15:19] zizhouW opened #128170 "[Meta Task] SessionView use callback passed from SecuitySolution to open alerts flyout."
Linked issue: https://github.com/elastic/security-team/issues/3266

Add alert fly out callback in session view

[2022-03-21 15:28] mistic commented on #118479
Skipped.

main: [1a215ba](https://github.com/elastic/kibana/commit/1a215ba08a0dcb5debdcecd760e998588b8fcb99)

[2022-03-21 15:53] KOTungseth opened #128173 "[DOCS] [Space/Time] Add aggregation terminology to UI"
**Describe the feature:**
In one of our UX sessions, we received feedback that the user was confused about the definition for each aggregation when they were creating visualizations.

**Describe a specific use case for the feature:**
When users configure visualizations, we should include the definition on the UI.
<img width="549" alt="Screen Shot 2022-03-21 at 10 53 07 AM" src="https://user-images

[2022-03-21 15:54] Max-Iskra commented on #128054
Hi @semd in this case header checkbox should select/unselect fields of the current page.

[2022-03-21 16:01] spalger commented on #128154
You're right, and we're currently working on a type-summarizer solution that supports source-maps to make this possible. We have implemented it in a handful of packages and I'm actively working on rolling it out more broadly. I'll try to get the `@kbn/observability-page-template` package migrated soon.

[2022-03-21 16:16] ymao1 commented on #126409
@mdefazio We would not be able to filter these rules based on the warning. It would be nice to be able to sort on the interval column though, so users could see all their smaller interval rules grouped together. cc @XavierM

[2022-03-21 16:25] mdefazio commented on #126409
Would that actually solve the issue though? Wouldn't I be able to set a minimum interval of 1 day? Whereas other rules could have a minimum of 1 hour or 1 min?

Wouldn't this fall under a 'Warning' status (from the new proposed rule execution statuses)?  So the inability to filter would only be until these new statuses are updated?

[2022-03-21 16:33] #127739 closed

[2022-03-21 16:40] ymao1 commented on #126409
The minimum is a global minimum and not per rule type so any rule that falls below the minimum would show this indicator on the rules list.

We are currently not putting the rule status into a `warning` state when the rule is below the configured minimum. That's an interesting idea, as I associated the warning status with `something funky happened during rule execution` and this seems more related

[2022-03-21 16:46] miltonhultgren commented on #120377
@alex-fedotyev @dannycroft @formgeist PR is merged!

Point one of your devs to [these](https://github.com/elastic/kibana/blob/main/x-pack/plugins/infra/public/components/infrastructure_node_metrics_tables/README.md#infrastructure-node-metrics-tables) dev docs to get started on integrating them.

In short, the Start contract of the Infra plugin now exposes 3 components (HostMetricsTable, ContainerM

[2022-03-21 16:51] alisonelizabeth opened #128180 "[Inspector] Use RedirectAppLinks in req_code_viewer"
The Dev Tools and Search Profiler links in `req_code_viewer.tsx` ([code](https://github.com/elastic/kibana/blob/main/src/plugins/inspector/public/views/requests/components/details/req_code_viewer.tsx#L80)) should be updated to use `RedirectAppLinks` for routing, rather than both an `href` and `onClick` handler, which is not recommended.

For context, see: https://github.com/elastic/kibana/pull/127

[2022-03-21 16:51] elasticmachine commented on #128180
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-21 16:55] yctercero opened #128182 "[Security Solution][Import/Export] - Users required to have actions privileges to upload rules"
**Describe the bug:**
Users are required to have actions privileges to import rules even when the rules being imported have no association with any actions.

**Kibana/Elasticsearch Stack version:**
7.17, 8.0, 8.1

**Steps to reproduce:**

1. Create a rule and export
2. Sign in with a user who does not have any actions privileges
3. Try importing rule with no actions

**Current behavior:**
Rule imp

[2022-03-21 16:55] elasticmachine commented on #128182
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-21 16:55] elasticmachine commented on #128182
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-21 16:56] yctercero commented on #128182
PR with fix [here](https://github.com/elastic/kibana/pull/126203).

[2022-03-21 16:58] joshdover commented on #128152
From my understanding Elasticsearch will just do the right thing automatically, unless there are more than 1024 fields on the data stream, in which case it will throw an error, completely breaking search. A few questions:
- Do we even have packages with such large mappings anymore? I suspect we may not, but in the past Filebeat and Metricbeat had 4000+ fields.
- If we do, then we should probably h

[2022-03-21 17:05] lizozom commented on #126798
Chatted with @dgieselaar and the relevant groups are _Synthetics & RUM, APM UI, Infrastructure Monitoring UI and Fleet UI_

[2022-03-21 17:19] #121742 closed

[2022-03-21 17:19] #121743 closed

[2022-03-21 17:19] #121744 closed

[2022-03-21 17:19] #121745 closed

[2022-03-21 17:19] #121746 closed

[2022-03-21 17:19] #127270 closed

[2022-03-21 17:22] dhurley14 opened #128186 "Failing Cypress test Mark one alert as acknowledged when more than one open alerts are selected"
*Kibana version:*
8.2

Failing test: https://buildkite.com/elastic/kibana-pull-request/builds/31565#b9dd9c8b-7861-4542-9e5b-f891118c4fc1

[Error message](https://s3.amazonaws.com/buildkiteartifacts.com/e0f3970e-3a75-4621-919f-e6c773e2bb12/0fda5127-f57f-42fb-8e5a-146b3d535916/8825e03b-08f5-4fc0-b6b6-3a00e842b89a/b9dd9c8b-7861-4542-9e5b-f891118c4fc1/target/test_failures/b9dd9c8b-7861-4542-9e5b-f8911

[2022-03-21 17:32] #127951 closed

[2022-03-21 17:33] mshustov commented on #128061
I checked the memory snapshot with https://github.com/elastic/kibana/pull/126320 to be reverted. There are still a lot of `Observables` objects.
Status service seems to be the root cause of the problem. I ran made a heap snapshot on a https://github.com/elastic/kibana/pull/128096 with the dev version of Kibana.

As you can see, there are quite a few RxJS created.
v8.2
![2022-03-21_18-14-44](https:

[2022-03-21 17:49] VijayDoshi commented on #126604
@gchaps Looks good to me.

[2022-03-21 17:50] xcrzx commented on #125596
@yiyangliu9286 Could you please help me with designs for the index pattern filter?

We need to provide an option for users to filter detection rules by one or more index patterns. I utilized a [combo box component](https://elastic.github.io/eui/#/forms/combo-box) similar to what we have on the rule edit page. But when a user enters more than two index patterns, they wrap to another line:

![Screen

[2022-03-21 17:53] mshustov commented on #128061
Maybe we can merge https://github.com/elastic/kibana/pull/128096? to check whether RSS is back to the norm on APM data gathered from CI https://kibana-ci-apm.kb.us-central1.gcp.cloud.es.io:9243/goto/ac99b0f0-a93f-11ec-94a3-2d0a38b40710

[2022-03-21 18:00] jbudz commented on #128061
I pulled #128096 out of draft and added core as a reviewer - whatever's easiest to help investigate.  Feel free to merge.

[2022-03-21 18:01] mdefazio commented on #126409
Ah, gotcha. But I guess then the issue is to let them know that I _should_ sort by that column to find those rules with low intervals. Explaining that in the toast seems like it would get lost pretty quick. 🤔

Regarding your second point, I'm not 100% clear on the difference.  A few reasons (which may or not be accurate though):
- This view is currently doing double duty on managing rules and moni

[2022-03-21 18:04] jen-huang commented on #128135
This is an expected change due to work done in #127882.

[2022-03-21 18:04] #128135 closed

[2022-03-21 18:06] colleenmcginnis opened #128192 "[Uptime UI] Support using Data views in source configuration"
Related https://github.com/elastic/kibana/issues/125498

Similar to the Logs UI (and the [Metrics UI](https://github.com/elastic/kibana/issues/125498) in a future release), we should support Data views in the Uptime UI to enable easier cross-Kibana linking.

cc @elastic/uptime

[2022-03-21 18:08] elasticmachine commented on #22943
Pinging @elastic/datavis (Feature:ElasticCharts)

[2022-03-21 18:08] elasticmachine commented on #22943
Pinging @elastic/datavis (Team:DataVis)

[2022-03-21 18:13] jportner opened #128194 "[Docs] Clarify interactive setup mode"
In the Unified Docs, we describe how to start the Stack with Security enabled: https://www.elastic.co/guide/en/elasticsearch/reference/8.1/configuring-stack-security.html#stack-start-with-security

However, we don't mention that Kibana will only enter interactive setup mode if it **doesn't** have ES hosts/credentials specified:

https://github.com/elastic/kibana/blob/fa5ccfedbda8e9dea1a6673742c1b2

[2022-03-21 18:13] elasticmachine commented on #128194
Pinging @elastic/kibana-security (Team:Security)

[2022-03-21 18:19] flash1293 commented on #88402
This can use the existing suffix formatter: https://github.com/elastic/kibana/blob/6d874caef56b4ed654bb9897114ae82fab52b38e/x-pack/plugins/lens/common/suffix_formatter/index.ts#L34

[2022-03-21 18:23] flash1293 commented on #94605
This can be built super similar to the existing `overall_*` functions: https://github.com/elastic/kibana/blob/4681a80317176543535bfdb2188d94aa40d741fc/x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/calculations/overall_metric.tsx#L28

* Only accessible in formula
* Compiles to the existing `time_scale` expression function https://github.com/elastic/kibana/blob/e2c6a039f6

[2022-03-21 18:25] yctercero commented on #128182
@MadameSheema @deepikakeshav-qasource

Ready for QA check on 8.2.

8.1 and 7.17 backports are in the works.

[2022-03-21 18:32] gchaps commented on #126604
Here's the final text:

**Exploring your data just got easier**
Experience the new **Document Explorer**. Understand your data with **Field Statistics**.  Take action on your search results with **Alerts**.

[2022-03-21 18:35] gbamparop commented on #108522
@formgeist what do you think about using `<EuiLoadingChart mono />` for the loading state?

https://user-images.githubusercontent.com/5831975/159340817-a9d3df67-73b9-4d6e-96da-ec7303b3bf9f.mov

[2022-03-21 18:37] Heenawter opened #128195 "[Controls] Allow the control type to be changed when editing existing control"
Follow up to https://github.com/elastic/kibana/pull/127524

**Describe the feature:**

When creating a new control, users are able to select one of many possible control types:

<img src="https://user-images.githubusercontent.com/8698078/158694315-6b08aba1-dc07-4205-b21c-0c15910f798e.gif" width="500px"/>

However, when editing an existing control, users are only given the option for the type of co

[2022-03-21 18:37] elasticmachine commented on #128195
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-21 18:43] jkakavas commented on #128194
See also https://github.com/elastic/kibana/issues/126878, maybe that can be closed in favor of the new one ?

[2022-03-21 18:44] jportner commented on #126878
Closing in favor of #128194

[2022-03-21 18:45] Heenawter opened #128197 "[Controls] Pass the data view between control editors"
Follow up to https://github.com/elastic/kibana/pull/127524

**Describe the feature:**

When creating a new control, if a non-default data view is selected, it will be lost when switching control types. Ideally, this should be remembered between types.

[2022-03-21 18:45] elasticmachine commented on #128197
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-21 18:48] weltenwort commented on #97108
possibly relevant: `requiredBundles` performance impact #126578

[2022-03-21 18:50] weltenwort commented on #97108
and #124923

[2022-03-21 18:54] ymao1 commented on #126409
@mdefazio The goal of this minimum interval configuration is to encourage users to only create rules that are above the minimum because running a lot of rules with a small interval **may** affect alerting performance. That's not to say it necessarily does. It really depends on the number of rules they're running and whether they are all running at small intervals or whether they run a long time. I

[2022-03-21 19:10] gbamparop commented on #128162
Currently, `Database statement` title is only displayed for SQL databases. As there can be different types of databases we can investigate whether there's something that we could use for all of them or per type / vendor.

[2022-03-21 19:30] spong opened #128202 "[Discussion][Security Solution] Enforcing unique `rule_id`'s within Integrations' `security-rule` Saved Objects"
### Summary
With the introduction of the `LotL Attack Detection` package (https://github.com/elastic/integrations/pull/2115), we'll now have two packages that are bundling Security Detection Rule assets that can be installed within the Security Solution App (the other being the `Prebuilt Security Detection Rules` [package](https://github.com/elastic/integrations/tree/main/packages/security_detecti

[2022-03-21 19:30] elasticmachine commented on #128202
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-21 19:30] elasticmachine commented on #128202
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-21 19:30] elasticmachine commented on #128202
Pinging @elastic/fleet (Feature:EPM)

[2022-03-21 19:35] #116418 closed

[2022-03-21 19:35] YulNaumenko opened #128203 "[Security Solution] Change the FieldBrowser component to make it reusable across the solutions"
The goal of that issue is to make FieldBrowser component easy to use by the new ResponseOps alerts table and Security solution.

There are a couple of things needs to be done/resolved:
- [x] Current `FieldBrowserProps` has the security specific properties, like `timelineId` which isn't used across the solutions which doesn't provide the support for the timeline functionality. https://github.com/el

[2022-03-21 19:35] elasticmachine commented on #128203
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-21 19:35] elasticmachine commented on #128203
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-21 19:49] elasticmachine commented on #128080
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-21 19:52] chrisronline opened #128207 "[ResponseOps] Amazon SES service selection assumes us-east region"
Creating an email connector and selecting the `Amazon SES` service defaults to the [us-east](https://github.com/nodemailer/nodemailer/blob/master/lib/well-known/services.json#L212) region but we should support users changing the region as others are supported on the SES side. It seems strange to me that once a known service is selected, we do not allow the user to edit it - the default value shoul

[2022-03-21 19:52] elasticmachine commented on #128207
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-21 20:01] nchaulet opened #128209 "[Fleet] Analyzer in index template settings are not working"
## Description

It's not possible to install the `windows` package anymore you got the following error

[code]

I think it's related to moving the mapping outside of the main index template, as the analyzer is define in index template settings.

[2022-03-21 20:24] jen-huang commented on #116739
I'm closing this as won't fix:
1. From 8.2 onwards, we have changed what is displayed in this header: #127882
2. Long policy name is an edge case in previous versions

[2022-03-21 20:24] #116739 closed

[2022-03-21 20:29] jen-huang commented on #128152
Backlinking a discussion from when the default fields list was originally implemented, particularly @andrewkroh's comment about having an explicit list vs `*` fields: https://github.com/elastic/kibana/pull/91791#issuecomment-782128272

[2022-03-21 20:42] andrewvc commented on #128192
@colleenmcginnis thanks so much for this suggestion, what do you think of it in light of https://github.com/elastic/uptime/issues/463 which I just opened. I've been meaning to open that issue for a while. I love the data views feature, but it may make some future functionality of our app more awkward. Your thoughts?

[2022-03-21 20:46] banderror commented on #127756
After having a chat with @xcrzx on deprecating the bulk APIs we decided to rephrase this ticket and add everything we will need to do to implement this deprecation. I just updated its title and description.

[2022-03-21 20:51] akshay-saraswat commented on #127653
- Another potential solution could be a tab dedicated to exported fields similar to the Overview tab.
- Searchable table would be awesome for sure but I think it would just be a nice-to-have requirement for the laptop users because cmd+F or Ctrl+F in any browser does a good job of page content searches unless it's collapsed. That's table stakes for browsers. For smartphone users, it would be a cri

[2022-03-21 20:56] thomasneirynck opened #128211 "[Maps] Add spatial filter from cluster"
**Describe the feature:**

Cluster features should have a little "create filter" button in them, similar to how individual docs can create filters from field-values.

This way, users can create dashboards where they can select a cluster, and see details of the contents of a cluster.

**Describe a specific use case for the feature:**

Dashboard with a map and a saved-search. Selecting a cluster in

[2022-03-21 20:56] elasticmachine commented on #128211
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-21 20:58] nreese commented on #127758
When a shapefile only contains points, "Index type" select is displayed, allowing users to select if features are indexed as geo_shapes or geo_points. It is not possible to have the geo_point selection option if shapefile also contains shapes.

<img width="300" alt="Screen Shot 2022-03-21 at 2 57 28 PM" src="https://user-images.githubusercontent.com/373691/159362616-0d239712-16d0-4add-978f-bfb1cc0

[2022-03-21 20:58] #127758 closed

[2022-03-21 20:59] #127311 closed

[2022-03-21 21:04] nreese commented on #128211
"Filter by geometry" exists when clusters are rendered with geojson. "Filter by geometry" does not exist when clusters are rendered by vector tiles.

The reason "Filter by geometry" does not exist for vector tiles is that the application has no access to the original geometry and can only get geometry from the tile. This means that the geometry may have been simplified or incomplete if it crosses

[2022-03-21 21:16] thomasneirynck commented on #128211
imho, I don't think this is all that big of an issue. Yes, zoomed-out this is a problem, but negligible when zoomed in.

Yes, I didn't realize we didn't have this for vector tiles only. Makes sense. I think just turning it on would be great.

Rather than saying, "filter by geometry", maybe it should say something like "Filter by cluster".

What I had more in mind here, is that is Maps is not neces

[2022-03-21 21:43] peluja1012 commented on #108501
Closing as this cannot be reproduced in 8.1.

<img width="1418" alt="image" src="https://user-images.githubusercontent.com/616158/159368549-edfab838-6e22-4765-904c-09e5ac8bc690.png">

[2022-03-21 21:43] #108501 closed

[2022-03-21 21:47] elasticmachine commented on #109794
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-21 22:27] yctercero commented on #127918
## Updates after some testing --

### Steps taken:
- Create 7.15.3 on cloud
- Create 4 rules, each with an action at a different interval
- Query dev tools for rules and sidecar actions (just to check)
<details>
<summary>Dev Tools Rules Search</summary>

[code]

</details>

<details>
<summary>Dev Tools Actions Sidecars Search</summary>

[code]

</details>

- Upgrade to 8.0.0 on cloud
- Notice all

[2022-03-21 22:35] spong commented on #125645
Closing as addressed by https://github.com/elastic/kibana/pull/126948

[2022-03-21 22:35] #125645 closed

[2022-03-21 22:37] #105497 closed

[2022-03-21 22:55] #126946 closed

[2022-03-21 23:38] #121115 closed

[2022-03-21 23:52] #127866 closed

[2022-03-22 00:41] #128014 closed

[2022-03-22 02:57] muskangulati-qasource opened #128224 "[Security Solution] The Blocklist entries are allowed to be assigned per policy on Basic license"
**Description:**
The Blocklist entries are allowed to be assigned per policy on Basic license

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Downgrade the license to Basic

**Steps to Reproduce:**
1. Navigate to Endpoints Tab from the left hand side navigation
2. Go to the Blocklist tab
3. Add a new entry and observe the user is able

[2022-03-22 02:57] elasticmachine commented on #128224
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-22 02:57] elasticmachine commented on #128224
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 02:58] muskangulati-qasource commented on #128224
@manishgupta-qasource please review!

[2022-03-22 03:02] mattkime commented on #13649
@michaelhyatt Do you know which method they're using to import saved objects?

[2022-03-22 04:02] matschaffer commented on #128060
It's the opposite @gigerdo.

We aim to keep monitoring backward compatible. Prod deployment version N should always be able to publish to monitoring deployment version >= N.

If it can't, we've broken backward compatibility and it's a bug.

The future compatibility may work in some cases (Prod N publish to monitoring < N), but not intended or supported.

Agreed. That risk sounds far too big to me.

[2022-03-22 05:03] kibanamachine commented on #110938
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/13347#d7343073-c29f-4a0a-bc3a-91761420e18a)

[2022-03-22 05:41] kibanamachine opened #128225 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/get_execution_log·ts - alerting api integration spaces only Alerting getExecutionLog gets execution log for rule with no executions"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13351#e6a81b07-8796-4318-9916-e74973d9d6f7)

[2022-03-22 06:19] samratbhadra-qasource commented on #116739
Hi @jen-huang,
Thanks for the confirmation on this issue.
Yes, we have observed the new UI for agents details page on 8.2.0-snapshot build.

Thanks!

[2022-03-22 06:43] muskangulati-qasource opened #128226 "[Security Solution] The source.ip value is not displayed for alerts under alerts tab"
**Description:**
The source.ip value is not displayed for alerts under alerts tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in
2. A few alerts should be generated

**Steps to Reproduce:**
1. Navigate to Alerts Tab under Security from the left hand side navigation
2. Observe the source.ip value is not displayed for alerts

**Impacted Te

[2022-03-22 06:43] elasticmachine commented on #128226
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 06:43] muskangulati-qasource commented on #128226
@karanbirsingh-qasource please review!!

[2022-03-22 06:45] manishgupta-qasource commented on #128224
Reviewed & assigned to @kevinlog

[2022-03-22 07:14] deepikakeshav-qasource commented on #128144
Hi @MadameSheema,

We have validated this issue and observe that issue also occurring on **8.2.0 SNAPSHOT**.

Please find the below testing details:

**Build Details:**
[code]

**Screen cast:**

https://user-images.githubusercontent.com/61860752/159425024-ebb11618-8ee7-482b-bc61-4da56812e2f8.mp4

Thanks!!

[2022-03-22 07:15] formgeist commented on #120325
No longer blocked by https://github.com/elastic/kibana/pull/122352 as it has merged 🎉

[2022-03-22 07:18] kibanamachine opened #128227 "Failing test: X-Pack Search Sessions Integration.x-pack/test/search_sessions_integration/tests/apps/management/search_sessions/sessions_management·ts - search sessions management Search Sessions Management UI New search sessions Saves a session and verifies it in the Management app"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13355#14293302-cce2-4258-a034-ab2ffe0ae5c9)

[2022-03-22 07:18] formgeist commented on #120377
Thanks for the update and your excellent work, @miltonhultgren 🎉 Look forward to us taking full advantage of the new components.

[2022-03-22 07:37] formgeist commented on #128162
@gbamparop Thanks for looking into this. Historically, I don't think we intentionally wanted to differentiate on the statements whether they were SQL or not. Perhaps the syntax highlighting had something to do with it, but removing the title doesn't seem to be an intended exclusion.

[2022-03-22 07:38] formgeist commented on #108522
@gbamparop Yeah, I think that will work nicely 👍

[2022-03-22 07:41] formgeist commented on #111325
@weltenwort That's definitely worth considering, but in my opinion I don't think it makes sense in the above use-cases to change the behaviour depending on the location. I can imagine in all cases the user will want to learn more details about the log line and it will quickly become an expected interaction.

@katefarrar @katrin-freihofner any thoughts on adding the "view details" flyout for inspec

[2022-03-22 07:45] formgeist opened #128229 "[APM] Bug: Services inventory page shows service group icon even if there are no groups available"
# Summary

The default services inventory page show the "service groups" icon next to the page title to indicate a group and a way back to the service groups overview, but when there are no groups created it still shows the icon which is considered a "dead link" because there is no service groups overview.

![CleanShot 2022-03-22 at 08 42 35@2x](https://user-images.githubusercontent.com/4104278/15

[2022-03-22 07:45] elasticmachine commented on #128229
Pinging @elastic/apm-ui (Team:apm)

[2022-03-22 07:53] amolnater-qasource commented on #128135
Hi @jen-huang
Thanks for the confirmation.
We will be creating/updating test content for the https://github.com/elastic/kibana/pull/127882

Thanks!

[2022-03-22 08:03] amolnater-qasource commented on #123569
Hi @mostlyjason
We have observed another dataset `enterprise_search.audit` on latest 8.2 Snapshot under Data Streams tab.

**Build details:**
VERSION: 8.2.0
BUILD: 51328
COMMIT: 2a93e80574f9c1052c541bc4083a440a623899e8

**Screenshot:**
![10](https://user-images.githubusercontent.com/77374876/159434729-802b2b45-3c4b-46bf-a873-b5484adcf768.JPG)

Thanks

[2022-03-22 08:18] karanbirsingh-qasource opened #128230 "[Security Solution]Random Symbol showing in the global search bar"
**Describe the bug**
Random Symbol showing in the global search bar

**Build Details**

[code]

**Steps**
- Login to Kibana
- Observed that random character been there showing in the global search bar

**Screen-Shoot**

![image](https://user-images.githubusercontent.com/59917825/159437126-c51307c9-7075-4df0-b13e-0e6e68f5134c.png)

[2022-03-22 08:18] elasticmachine commented on #128230
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 08:24] manishgupta-qasource commented on #128230
Reviewed & assigned to @MadameSheema

[2022-03-22 08:28] samratbhadra-qasource opened #128231 "[Fleet]: Incorrect `agent version` showing on Discover tab."
**Describe the bug:**
Incorrect `agent version` showing on Discover tab.

**Build Details:**
VERSION: 8.2.0-SNAPSHOT
BUILD: 51328
COMMIT: 2a93e80574f9c1052c541bc4083a440a623899e8
ARTIFACT: https://snapshots.elastic.co/8.2.0-63942b4d/summary-8.2.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.2.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1. Navigate to the Discover tab under

[2022-03-22 08:28] elasticmachine commented on #128231
Pinging @elastic/fleet (Team:Fleet)

[2022-03-22 08:28] samratbhadra-qasource commented on #128231
@manishgupta-qasource Please review.

[2022-03-22 08:32] MadameSheema commented on #128230
@karanbirsingh-qasource is this happening just on fleet page or in all the different pages?

[2022-03-22 08:34] MadameSheema commented on #128226
@muskangulati-qasource can you please provide the JSON of one of the alerts that are not displaying the source.ip? Thanks

[2022-03-22 08:35] samratbhadra-qasource commented on #127739
Hi @nchaulet,
We have validated this issue on the latest 8.2.0-SNAPSHOT build and found that the issue is fixed. Please find below the testing details:

- User is unable to add output with empty host URL field and it shows '**URL is required**' message.

**Screenshot:**
![Screenshot (156)](https://user-images.githubusercontent.com/84007952/159422469-4221eac5-15fd-4421-9ff8-f5c6d3ed2bc7.png)

Build

[2022-03-22 08:41] manishgupta-qasource commented on #128231
Secondary review for this ticket is Done

[2022-03-22 09:02] amolnater-qasource opened #128234 "[Fleet]: Incomplete description for Elastic APM integration under Installed Integrations tab."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Install Elastic APM integration and navigate to Installed integrations.
3. Observe description is incomplete for only Elastic APM

[2022-03-22 09:02] elasticmachine commented on #128234
Pinging @elastic/fleet (Team:Fleet)

[2022-03-22 09:02] amolnater-qasource commented on #128234
@manishgupta-qasource Please review.

[2022-03-22 09:07] MadameSheema opened #128235 "[Security Solution] User information overlaps with alerts details flyout"
**Describe the bug:**
- User information overlaps with alerts details flyout

**Kibana/Elasticsearch Stack version:**
- main (a3020b453047680e39b2267dbff78beff553ba9b)
- 8.2

**Steps to reproduce:**
1. Generate an alert with user.name information and open de details of it

**Current behavior:**

<img width="1054" alt="Screenshot 2022-03-22 at 09 59 13" src="https://user-images.githubusercontent.co

[2022-03-22 09:07] elasticmachine commented on #128235
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-22 09:07] elasticmachine commented on #128235
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 09:11] xcyk1226 opened #128236 "apm service can not show"
elk version:16.3
I have installed apm, but open apm service, as shown below
![image](https://user-images.githubusercontent.com/6274676/159445443-181b1876-0d81-4f51-82c9-01f6f54f0732.png)
![app_home](https://user-images.githubusercontent.com/6274676/159446098-513ba5b2-9093-4fd6-9211-13b473b926e9.png)

why?

[2022-03-22 09:12] markov00 commented on #128140
@flash1293 if you don't mind let's wait for that until we found the right compromise in the tooltip redesign?
cc @gvnmagni

[2022-03-22 09:16] #127622 closed

[2022-03-22 09:17] elasticmachine commented on #127306
Pinging @elastic/datavis (Team:DataVis)

[2022-03-22 09:26] markov00 commented on #127306
@gbamparop we are currently working on a tooltip redesign that will cover this requirement.
Can you please explain a bit more the desired outcome, in particular, I'd like to know:
- how are you offsetting the data (by calendar (start of the week vs start of the week before) or by fixed date (7 days vs 14 days ago).
- Do you need to show the exact date/time of the previous period, or just what "cha

[2022-03-22 09:41] markov00 commented on #124034
Thanks @BenB196  it looks like a legit request but I'm wondering if a different behavior can be more beneficial:
instead of a chart in a tooltip, I think a cross-filtered chart, rendered on the dashboard aside from the heatmap will work better.
With the term cross-filter, I mean a way to filter the content of a chart based on the input and action coming from a different chart. In this example, the

[2022-03-22 09:41] lucasfcosta commented on #121125
@dominiqueclarke given the port hydration PR has been merged, what do you think about closing this issue and linking the separate one for the errors which is marked as TBC in this one?

[2022-03-22 09:46] teresaalvarezsoler commented on #128195
@Heenawter IMO, the ideal solution would be to allow the user to freely choose another type and another field. However, if this makes things more complex, a quick solution may be to show the other type of control icon disabled. What do you think?

[2022-03-22 09:47] flash1293 opened #128241 "[Gauge] New renderer should respect min and max from ranges"
The new gauge/goal renderer for Visualize is not setting min and max values which causes the gauge to be rendered using the default behavior.

As this default behavior is not suitable for production charts, the min and max of the defined color range should be used in this case. The behavior of Lens should remain unchanged.

[2022-03-22 09:47] elasticmachine commented on #128241
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-22 09:47] flash1293 commented on #128241
cc @VladLasitsa @Kunzetsov

[2022-03-22 09:56] afgomez commented on #128154
That package doesn't exist yet. It's a proof of concept I'm working on to see what issues I find migrating existing code to packages.

[2022-03-22 09:58] miltonhultgren commented on #127219
@weltenwort Isn't this what we started doing in that other board?

[2022-03-22 10:01] #128083 closed

[2022-03-22 10:22] #119474 closed

[2022-03-22 10:24] jsoriano commented on #128202
Thanks @spong for the write-up.

This is not so uncommon under some circumstances. For example we found this kind of issues quite frequently in early versions of Fleet when migrating assets from Beats to integrations. Users of Beats found id conflicts when trying to use integrations in the same cluster. This may happen here too if security rules are migrated from an existing solution without chang

[2022-03-22 10:35] manishgupta-qasource commented on #128234
Secondary review for this ticket is Done

[2022-03-22 10:43] nbs-jeanpierrefouche commented on #69606
Please provide new feature to disable auto-refresh.  Many Thanks.

[2022-03-22 10:55] mshustov commented on #128061
The PR has been merged. I can see the drop in APM metrics, but it doesn't seem we are back to the norm.
3mon. trend
![2022-03-22_11-51-52](https://user-images.githubusercontent.com/3198181/159466091-754b198f-cbf0-42bc-97e1-72a1282b2ac2.png)

2d. trend
![2022-03-22_11-54-28](https://user-images.githubusercontent.com/3198181/159466326-ff4f27f9-cf36-4624-8a7a-9e74c315d9c7.png)

[2022-03-22 11:04] MelKeo commented on #125193
@cristina-eleonora yes I can set up the survey, I've got that on my todo for this week. I will send a test link here.

As for sending now to the initial list of users, that won't be possible as there's currently the Results that Matter study ongoing and this won't be over before the end of the month. They're sending out three waves and targeting a massive chunk of the customer list, it's best to w

[2022-03-22 11:11] amolnater-qasource commented on #125362
Hi @nchaulet
We have revalidated this issue on 8.2 Snapshot and  found this issue **still reproducible**.
- "No assets found" immediately after installing assets
- User has to manually refresh the page to get the assets.

**Build details:**
VERSION: 8.2.0
BUILD: 51328
COMMIT: 2a93e80574f9c1052c541bc4083a440a623899e8

**Screen-Recording:**

https://user-images.githubusercontent.com/77374876/1594688

[2022-03-22 11:15] gbamparop commented on #127306
@markov00 that's great to hear!

The offset depends on the selection of the comparison option.

It can be a day / week before or a custom period which is based on the time difference between the current start and end dates (we subtract this difference from both dates to calculate the previous period). In the last case, the day / time might be different than the current one so in my opinion it woul

[2022-03-22 11:22] samratbhadra-qasource commented on #122215
Hi @juliaElastic,
We have revalidated this issue on the latest **8.1.1-BC2** and **8.2.0-SNAPSHOT** builds and we have observed that we are still getting "**Invalid URL**" message. Please find below the testing details:

- Incorrect validation message 'Invalid URL' is displayed on saving default output without any host URL.

**Screenshots:**

- **8.1.1-BC2**
![Screenshot (151)](https://user-images

[2022-03-22 11:35] gmmorris opened #128248 "Alerting Saved Object migrations are becoming a maintenance risk"
Adding a Rule SO migration [is becoming unwieldy](https://github.com/elastic/kibana/blob/354cd01ecbfbac7b38a98ded6e15babdbae79a16/x-pack/plugins/alerting/server/saved_objects/migrations.ts).
We should probably refactor this file - separating code into dedicated files (perhaps a file per version? and extracting helpers into a single utility?)

For example, suppose you want to add a migration for th

[2022-03-22 11:35] elasticmachine commented on #128248
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-22 11:37] devdinu commented on #126655
@qcorporation Dedicated VM `https://34.127.30.249:5601/` have 1.5M+ events. (shared credentials in DM) Could we crosscheck the app against this data?

Is there any other acceptance criteria which need to tackle for closing this issue?

[2022-03-22 11:50] amolnater-qasource opened #128250 "[Fleet]: Wrong Extract command for windows under Add agent flyout."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. An agent policy should exist.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Click Add agent flyout and select Windows.
4. Run `wget <li

[2022-03-22 11:50] loka89 opened #128251 "Error: Max attempts reached (3). Queue timeout reached. | When I generating the CSV Report."
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2022-03-22 11:50] elasticmachine commented on #128250
Pinging @elastic/fleet (Team:Fleet)

[2022-03-22 11:50] amolnater-qasource commented on #128250
@manishgupta-qasource Please review.

[2022-03-22 12:00] deepikakeshav-qasource commented on #128226
Hi @MadameSheema ,

Please find the below alert JSON:

[alert json source ip.txt](https://github.com/elastic/kibana/files/8323952/alert.json.source.ip.txt)

Please let us know if anything else is required from our end.

Thank you!!

[2022-03-22 12:04] manishgupta-qasource commented on #128250
Secondary review for this ticket is Done

[2022-03-22 12:12] MadameSheema commented on #128226
After taking a look to the json file, I think the behavior described above is correct since the field is not present.
@michaelolo24 can you please confirm?

@deepikakeshav-qasource @muskangulati-qasource can you please check if the field was present on the index that generated the alert? Thanks

[2022-03-22 12:17] gmmorris commented on #124888
This is looking great so far!

Playing around with this I realise you can't tell that a rule is snoozed when viewing the rule details page.
Should we add a small badge just so that it's clear when looking at that page?

We can explore the UX to actually snooze from there later, but it would be a simple enough enhancement to include some visual that makes this clear.

[2022-03-22 12:23] elasticmachine commented on #127759
Pinging @elastic/apm-ui (Team:apm)

[2022-03-22 12:24] elasticmachine commented on #127645
Pinging @elastic/kibana-docs (Team:Docs)

[2022-03-22 12:25] elasticmachine commented on #127627
Pinging @elastic/kibana-security (Team:Security)

[2022-03-22 12:26] gmmorris commented on #128011
The UX looks great!

Am I right that the backend isn't done yet (@pmuellr )? I can see the state is saved and reflected in the UX, but actions are still firing 😂 just wanted to make sure this is the expected state. 😉

[2022-03-22 12:27] legrego commented on #127627
Hey @ppf2 -- I'm going to transfer this to the `elasticsearch` repository, as this message is managed entirely by Elasticsearch.

[2022-03-22 12:27] elasticmachine commented on #127845
Pinging @elastic/kibana-docs (Team:Docs)

[2022-03-22 12:28] elasticmachine commented on #127837
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-22 12:31] pmuellr commented on #128011
That's correct; working on function tests (and fixing the bugs function tests are finding :-) in PR [[responseOps] add snoozing MVP in alerting framework #127694](https://github.com/elastic/kibana/pull/127694)

[2022-03-22 12:31] formgeist commented on #127848
@LucaWintergerst Thanks for opening this issue. We changed the column widths not too long ago to accommodate for the spark lines. We found that some instances have the metric value overlap so we decided to reduce the transaction name column. Perhaps too much but it's a balance depending on the content and metric values.

I'd suggest following up on your suggestion to increase the % width and see h

[2022-03-22 12:41] nickpeihl commented on #127108
Hi @li1234yun, thanks for reaching out. Kibana was developed to be a User Interface for Elasticsearch. Kibana includes a [Stack Management application](https://www.elastic.co/guide/en/kibana/current/management.html) specifically designed to manage Elasticsearch. So I don't believe developing a VS Code plugin is currently on our roadmap. However, if you know of a missing feature for managing Elasti

[2022-03-22 12:46] EricDavisX commented on #128061
If helpful: I am seeing another big spike on 8.2.0-snapshot that may help / relate, the load avg for 8.2 is higher, consistently over several minutes, than 8.1 by double (and more, in some cases).  This is again from the kbn-alert-load tool:
<img width="279" alt="load-avg" src="https://user-images.githubusercontent.com/12970373/159254714-a49abcbc-08e3-4cd5-8824-ed93ced22e14.png">

[2022-03-22 12:49] MadameSheema commented on #128226
Thanks @deepikakeshav-qasource, what I'm seeing in the screenshot is the mapping, not the data, the fact that mapping is present does not mean that the data should be there. Can you please check if in the data in the time window the alerts were generated had source.ip? Thanks

[2022-03-22 12:50] MadameSheema commented on #128226
Can you please give us access to the instance?

[2022-03-22 12:55] BenB196 commented on #124034
Hi @markov00, based on your description I think a cross-filter chart maybe a suitable alternative, but I'd have a few concerns/questions, that probably relate to a later design phase of the implementation, but are also probably worth bringing up early.

- Would the cross-filter chart be something directly attached to a visualization, or would it just be another standalone visualization that is "li

[2022-03-22 13:08] MadameSheema commented on #128226
Closing since the behaviour described above is correct.

The index does not contain any source.ip field, that is why the field is not displayed. Reopen if you think That is not correct. Thanks.

[2022-03-22 13:08] #128226 closed

[2022-03-22 13:13] formgeist opened #128257 "[APM] Alert rules: The transaction type and environment options are not filtered by the selected service"
**Kibana version**:

8.2.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:

When the user wants to create a new rule for a specific service we also allow the user to specify the transaction type or environment to further narrow down the specific definitions for the rule. But these options are not filtered by the selected service, which makes it incredibly hard f

[2022-03-22 13:13] elasticmachine commented on #128257
Pinging @elastic/apm-ui (Team:apm)

[2022-03-22 13:28] lucabelluccini commented on #127881
I've modified the issue as we have a default ILM Policy `kibana-reporting` which can be modified to auto-delete old `.reporting*` indices.

[2022-03-22 13:30] formgeist opened #128259 "[APM] Add new rule type for Throughput threshold alerts"
# Summary

We currently have threshold alerts for latency and failed transaction rate but not a rule type for throughput. It would be sensible to allow the user to define rules for this because it means they can get notified whether their service is experiencing increased throughput over a period of time and can react accordingly if their infrastructure needs to scale up.

# Solution

<img width="

[2022-03-22 13:34] jportner opened #128261 "Add reusable space selector component"
When working on [Sharing Saved Objects](https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html) (#27004), we added reusable UI components that are exported from the spaces plugin:

https://github.com/elastic/kibana/blob/c97bfc8e3a539db6a3dc07d69f64b35dc419fdf2/x-pack/plugins/spaces/public/ui_api/types.ts#L28-L116

As consumers start to adopt shareable saved objects, we anticipate

[2022-03-22 13:35] elasticmachine commented on #128261
Pinging @elastic/kibana-security (Team:Security)

[2022-03-22 13:41] formgeist commented on #126757
Opened a related issue to add a threshold rule type for Throughput https://github.com/elastic/kibana/issues/128259

[2022-03-22 13:48] mgiota opened #128262 "[o11y rules] Update documentation link in the new o11y rules management page"
Depends on https://github.com/elastic/observability-docs/issues/1706
### Summary

Currently the new o11y rules management page documentation link points to the current rule management documentation page https://www.elastic.co/guide/en/kibana/master/create-and-manage-rules.html. As part of this ticket https://github.com/elastic/observability-docs/issues/1706 a new documentation page will be created

[2022-03-22 14:01] #121747 closed

[2022-03-22 14:08] kibanamachine opened #128263 "Failing test: Chrome X-Pack UI Functional Tests.unknown - "before each" hook: global before each for "shows visualize navlink""
A test failed on a tracked branch

[code]

First failure: [CI Build - workaround-for-visualize-default-archive](https://buildkite.com/elastic/kibana-hourly/builds/13377#52dac074-e7d4-415c-84cf-120eb25add09)

[2022-03-22 14:18] kibanamachine commented on #128263
New failure: [CI Build - workaround-for-visualize-default-archive](https://buildkite.com/elastic/kibana-hourly/builds/13377#3911248f-24db-4f48-b0bd-4e9809859f12)

[2022-03-22 14:18] teresaalvarezsoler opened #128265 "Region Maps in Lens: Warning message"
**Context**
We are launching Region Maps in Lens in 8.2.

**Problem**
There may be many fields containing geo information that are not yet supported, such as city names.

When this happens, we are:
1) Showing a warning icon which is very difficult to spot
![image](https://user-images.githubusercontent.com/99645649/159500646-d65941fe-c2b3-4260-9d95-59e2bab6f1ed.png)

2) If users manage to spot the

[2022-03-22 14:18] elasticmachine commented on #128265
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-22 14:18] lukeelmers commented on #31683
We could probably do this by allowing unauthenticated access to all ui assets (need to confirm this is okay to do)

https://github.com/elastic/kibana/blob/main/src/core/server/core_app/core_app.ts#L199

[2022-03-22 14:20] weltenwort opened #128267 "[Metrics UI] Host name and kubernetes node name are used to join metrics, but don't always match up"
## :lady_beetle: Problem description

Recent investigations into failures to display Kubernetes node metrics suggest that there is a mismatch between the node name added by the `add_kubernetes_metadata` and the host name added by the `add_host_metadata` in metricbeat. The mismatch has been observed to be caused by different characteristics:

1. the host name is not lower-cased while the k8s node n

[2022-03-22 14:20] elasticmachine commented on #128267
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-22 14:20] teresaalvarezsoler commented on #128265
@gchaps can you please review the wording of the message? Thank you!

[2022-03-22 14:49] markov00 commented on #124034
Thanks for your details and use cases

I consider it as a **standalone** chart that is linked to one or more visualizations via a specific operation (filter by the network port) triggered by an event (a mouseover event over a waffle cell).
It doesn't necessarily need to be empty if you don't trigger the event: it can represent, for example, the overall upload/download network trend when not "activ

[2022-03-22 14:50] lukeelmers commented on #123737
@dmlemeshko I know you've been looking into perf impacts of enabling APM, would you be able to help us assess the impact of this particular option?

[2022-03-22 14:52] elasticmachine commented on #127604
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-22 14:59] cnasikas opened #128274 "[Security Solution][Cases] Make the attachment of timelines consistent with how other items are being attached to a case"
If a user wants to attach a timeline to a case she gets redirected either to the creation page or to the selected case and the content of the timeline is being added to the markdown editor. On the other hand, if the user wants to add either an alert or a lens embeddable to a case the user creates or selects the case but the attach happens automatically behind the scenes without redirecting the use

[2022-03-22 14:59] elasticmachine commented on #128274
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-22 14:59] elasticmachine commented on #128274
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-22 14:59] elasticmachine commented on #128274
Pinging @elastic/response-ops-cases (Feature:Cases)

[2022-03-22 15:00] mdefazio commented on #124888
Updates on the snoozing to match implementation cc/ @Zacqary

<img width="753" alt="image" src="https://user-images.githubusercontent.com/3756330/159341261-a9903f5d-5bce-4725-b70a-db7690bf3bd6.png">

Here's also screenshots for the rule detail views (thanks @gmmorris :) ):

- Removes switches for Enabled/Mute
- Moves control to left side before Rule type
- Removes border between header and Rule ty

[2022-03-22 15:05] ecezalp commented on #125765
https://github.com/elastic/kibana/pull/128273

[2022-03-22 15:05] #125765 closed

[2022-03-22 15:06] Heenawter commented on #128195
@teresaalvarezsoler Yeah, the field part would naturally be part of this - that hard part is the type switching, not the field switching :) I talked with @andreadelrio about it, and we agreed to avoid *disabling* certain options, hence why you only see the current type when editing an existing control for now. We should only show the other options *once we support* switching types

[2022-03-22 15:08] alexfrancoeur commented on #110638
Hey @gsoldevila, thanks for the detailed summary and questions. Generally, we do not need to reference any telemetry collection in Cloud because end users have already agreed to product usage collection in our EULA when signing up for our service. I believe that originally, all text referencing collection was hidden in Cloud and that there was a regression that exposed it within the interstitial p

[2022-03-22 15:11] spong commented on #128202
Thank you for clarifying some of my assumptions above @jsoriano! 🙂

This is good to know, thank you! This scenarios makes sense and would still be applicable to security, although I imagine more-so for 3rd party integration developers than internally since we centrally manage most security rules. That said, this will definitely increase in scope if other solutions adopt this same way of delivering

[2022-03-22 15:36] #110926 closed

[2022-03-22 15:37] jportner opened #128282 "Saved Object API calls that search for aliases can result in unhandled error"
**Kibana version:**

8.0.0 - 8.1.1

**Describe the bug:**

This bug was introduced in #116007.

There are three occasions we _search_ for legacy URL aliases of an object:

1. If you are trying to create a saved object in [3+ spaces](https://github.com/elastic/kibana/blob/6627bd8b3ab49415e397495d8e076f9861fcc894/src/core/server/saved_objects/service/lib/preflight_check_for_create.ts#L25-L30), or
2.

[2022-03-22 15:37] elasticmachine commented on #128282
Pinging @elastic/kibana-security (Team:Security)

[2022-03-22 15:56] miltonhultgren commented on #128267
Some more context can be found in this comment https://github.com/elastic/sdh-beats/issues/1828#issuecomment-1067015155

@endorama Do you have any more thoughts to add or options we can consider for a solution?

[2022-03-22 16:02] dplumlee opened #128284 "[Security Solution] No warning shown to users when they don't have correct rule preview permissions"
When a user doesn’t have `read` permissions on `.preview.alerts-security.alerts`, we don’t display an error and the user sees no preview results. We should display an error or warning to users when the necessary permissions are missing to notify users that the (lack of) results can be corrected with the correct permissions

[2022-03-22 16:02] kpatticha commented on #126153
at first sight, the culprit seems to be the icons.
When I started profiling and clicked 3 times to sort the table the EuiIcon(s) ranked first.

Then I removed the `AgentIcon` to verify it and the rendering was much faster.

The question is why it affects only the service inventory page and not the traces (we also use the `AgentIcon` for the originating service column)

[2022-03-22 16:22] elasticmachine commented on #128284
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 16:33] katrin-freihofner commented on #111325
@formgeist Inventory is going to move that flying panel into a flyout which means triggering a flyout from a flyout. I think that's why @weltenwort is concerned. I think it can work - it just needs a bit more work to define the behavior in this case.

[2022-03-22 16:55] pmuellr opened #128293 "[event log] setting event log index mappings when creating initial index"
Currently when a new set of event log elasticsearch resources are being created (because a new deployment, or deployment upgraded their stack version), we perform the following steps:

- create index template that includes mappings
- create initial index that should reference the index template for default settings, including the mappings

full steps: https://github.com/elastic/kibana/blob/f4f51e6

[2022-03-22 16:56] joshdover commented on #122625
I think we need a developer to look more deeply at what's going on here. Moving to 8.2 iteration.

[2022-03-22 17:03] tylersmalley commented on #54668
This isn't being requested anymore.

[2022-03-22 17:03] #54668 closed

[2022-03-22 17:04] #52791 closed

[2022-03-22 17:04] #24230 closed

[2022-03-22 17:05] #42369 closed

[2022-03-22 17:05] mshustov commented on #128061
@gsoldevila is working on improving plugin status service memory footprint. I will test his PR and repeat heap snapshot analysis

[2022-03-22 17:07] tylersmalley commented on #25077
No longer relevant.

[2022-03-22 17:15] tylersmalley commented on #71256
More than likely this is a bug in the UI, as Selenium is simply having the browser click the button. I am not sure there is much Operations can do here to assist. Other UI folks are probably more versed in UI code to debug.

If you think this is a bug in the FTR, feel free to re-open.

[2022-03-22 17:15] #71256 closed

[2022-03-22 17:18] tylersmalley commented on #52408
Closing as this doesn't seem like a priority given the workaround provided by Brian. CI already has timestamps and `ts` is pretty widely used and has multiple features that are better - like time between lines.

[2022-03-22 17:18] #52408 closed

[2022-03-22 17:22] bfishel commented on #120295
Mock here https://www.figma.com/file/UboMLC68n1UbgXopz3Us59/Issue-120295?node-id=3%3A16041
qq would white text work or is there a link color for dark backgrounds?

[2022-03-22 17:23] tylersmalley commented on #116591
@joshdover, apologies as I don't fully understand the Fleet setup here. But did https://github.com/elastic/kibana/pull/122297 address some of the asks for this? Do we still need to run the EPR in CI now that we are downloading packages?

[2022-03-22 17:33] tylersmalley commented on #121457
With Cloud-First Testing being live now. Where do you stand with your need for this? Do you need assistance with creating a Buildkite job?

[2022-03-22 17:35] tylersmalley commented on #122172
Two presets have been created for this: [@kbn/test](https://github.com/elastic/kibana/blob/main/packages/kbn-test/jest_node/jest-preset.js) and https://github.com/elastic/kibana/blob/main/packages/kbn-test/jest_integration_node/jest-preset.js

[2022-03-22 17:35] #122172 closed

[2022-03-22 17:40] tylersmalley commented on #124863
The first two parts of this are done. The last part isn't a high priority right now. Once it is, QA can open a new issue.

[2022-03-22 17:40] #124863 closed

[2022-03-22 17:41] tylersmalley commented on #121552
We haven't seen any issues here. Might have been from the change of the mirror, or something else. If this persists we can re-open.

[2022-03-22 17:41] #121552 closed

[2022-03-22 17:42] yiyangliu9286 commented on #125596
Hi @xcrzx! Thanks for asking this question.

In the original proposed design, I think what we were proposing is to allow users to search index patterns in the search bar (to prevent adding more filters to the filter button to save more real estate for the search bar area), with the current search bar capability, can users search index patterns from there? Or there's technical challenge to accommod

[2022-03-22 17:45] tylersmalley commented on #114118
Do you know if the deprecations returned in the headers are always included in the deprecation log?

[2022-03-22 17:48] tylersmalley commented on #107648
Closing this out, since it has served it's purpose. We're working on creating a project spec for the next phase, which includes the findings here.

[2022-03-22 17:48] #107648 closed

[2022-03-22 17:49] #90281 closed

[2022-03-22 17:51] #119478 closed

[2022-03-22 17:51] tylersmalley commented on #70426
Closed by https://github.com/elastic/kibana/pull/75019

[2022-03-22 17:51] #70426 closed

[2022-03-22 17:52] tylersmalley commented on #72816
We're tracking this as part of ci-metric timings.

[2022-03-22 17:52] #72816 closed

[2022-03-22 17:52] tylersmalley commented on #69717
This is done and we are tracking in ci-stats timings.

[2022-03-22 17:52] #69717 closed

[2022-03-22 17:53] tylersmalley commented on #43290
The decision was to use Emotion, and not CSS modules. Closing this issue. Feel free to re-open if you feel like this needs discussed more.

[2022-03-22 17:53] #43290 closed

[2022-03-22 17:55] tylersmalley commented on #97439
Is this still a problem?

[2022-03-22 17:57] tylersmalley commented on #107233
I don't think there is a clear benefit here, and I share Spencers concerns that this would be really annoying. However, if more people express a desire for it we can consider it.

[2022-03-22 17:58] tylersmalley commented on #83094
Done.

[2022-03-22 17:58] #83094 closed

[2022-03-22 18:01] pmuellr commented on #121457
@EricDavisX - this is a slightly old issue we opened to look at automating some kbn-alert-load runs.  I'm thinking the requirements outlined in the top comment are being / will be handled by the work you're currently doing?  So we can probably close this?

[2022-03-22 18:06] Zacqary opened #128301 "[RAM] Implement Previous snooze control"
Part of #124888

Implement the pictured **Previous** functionality

![image](https://user-images.githubusercontent.com/3756330/159720732-a2154523-410b-4de9-a487-b11c5193111f.png)

## Summary

When selecting a snooze duration, it's likely that I will want the same snooze duration for multiple rules, or frequently use the same duration. To help with this, we will provide a link with the user's previ

[2022-03-22 18:07] Zacqary opened #128302 "[RAM] Add Snooze dropdown control to Rule Details page"
Part of #124888

Add the dropdown for Enabled/Snooze/Disabled to the Rule Details page.

~Store the [previous snooze](https://github.com/elastic/kibana/issues/128301) in localstorage so that it can persist from the Rules List to a Details page~ (Moved to https://github.com/elastic/kibana/issues/128956)

[2022-03-22 18:08] elasticmachine commented on #128300
Pinging @elastic/uptime (Team:uptime)

[2022-03-22 18:09] Zacqary commented on #124888
@mdefazio I've created two new issues (above) to track adding the Status badges to the Rule Details page, and to add the Previous functionality which I didn't see in the spec for my first PR.

Previous should be easy enough to get in asap. Adding these badges to the Rule Details page may or may not make it in before FF but I'll try.

[2022-03-22 18:12] elasticmachine commented on #128302
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-22 18:13] elasticmachine commented on #128301
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-22 18:18] chrisronline opened #128304 "[ResponseOps] Triggers actions UI experimental features does not respect the config"
[This recent feature](https://github.com/elastic/kibana/pull/126957) doesn't seem to work as intended because [this code](https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/public/common/get_experimental_features.ts#L26) needs to call into [the service](https://github.com/elastic/kibana/blob/main/x-pack/plugins/triggers_actions_ui/public/common/experimental_features_ser

[2022-03-22 18:19] chrisronline commented on #128304
I will fix this in https://github.com/elastic/kibana/pull/125977 as it's the first feature to use it.

[2022-03-22 18:23] jen-huang commented on #128231
@samratbhadra-qasource It is possible that these logs are not ingested by Fleet/Elastic Agent, but from a separate filebeat instance. You can confirm this by checking whether or not these documents contain `elastic_agent.*` fields. If they don't, then this is expected as the separate filebeat instances on Cloud lags behind in version.

[2022-03-22 18:26] elasticmachine commented on #128304
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-22 18:30] cauemarcondes opened #128306 "[APM] Service groups add telemetry"
Add telemetry for feature usage (# of groups created, number of services per group, KQL used for group definition, number of services not in groups, number of groups per non-default space)

[2022-03-22 18:30] elasticmachine commented on #128306
Pinging @elastic/apm-ui (Team:apm)

[2022-03-22 18:33] cauemarcondes opened #128307 "[APM] Delete managed table component"
Today we use the **ManagedTable** to wrap the `EuiBasicTable` this is causing some issues because multiple tables are reading the table options from the URL when they shouldn't (see https://github.com/elastic/kibana/issues/127998). My suggestion is to stop using this component and use the `EuiBasicTable` instead. We can create helper functions to be reused across the components.

[2022-03-22 18:36] teresaalvarezsoler opened #128308 "User attributes incorrectly tracked in Full Story"
**Problem**:
There are **65% of the total users** in Full Story that **don’t have the propertie**s either for **Staff** or **Trial**.
<img width="814" alt="image" src="https://user-images.githubusercontent.com/99645649/159551763-b9285806-c524-408f-a781-32877d13815a.png">

**Hypothesis**
It seems that these properties are being capture only when the users logs in and goes through the Kibana landing

[2022-03-22 18:38] Zacqary commented on #124888
@mdefazio I want to clarify, for the Previous functionality, where do we want to get the previous snooze time from? Do we store it for the current page load? i.e. user loads the page, snoozes one rule for 3 days, and this sets the "Previous" value for the next snooze, but then if the user refreshes the page, "Previous" is cleared?

[2022-03-22 19:00] colleenmcginnis commented on #128192
Thanks @andrewvc. I don't think I have enough background knowledge to have a strong opinion, but @dedemorton might!

[2022-03-22 19:11] #117280 closed

[2022-03-22 19:11] #72691 closed

[2022-03-22 19:24] tsullivan commented on #127881
Let's look at this from a bigger picture of something needed in Reporting: it doesn't have administrative features that allow a user with a special role manage all reports in the cluster. This can mean managing/deleting indices but it also means managing reports of other users individually and in bulk,

cc @sixstringcode we were just talking about this. It's something needed on the roadmap before

[2022-03-22 19:37] weltenwort commented on #127219
Indeed - unless @jasonrhodes objects I'll adopt this issue for this week and add the outcome here afterwards.

[2022-03-22 20:20] ph commented on #128314
@jen-huang fyi

[2022-03-22 20:20] dborodyansky commented on #104986
@mostlyjason @jen-huang Updated mockup per our conversation below. Please let me know of any questions or concerns.

![image](https://user-images.githubusercontent.com/3674406/159568666-e5238308-16df-4170-a70f-217c9e25c479.png)

[2022-03-22 20:33] kqualters-elastic opened #128315 "[Security Solution] Update the event generation script to create distinctly Posix and distinctly Windows event trees"
**Describe the bug:**
Currently, the event generation script creates trees of events that consist exclusively event.type of start or end for process events, which are what are found on windows endpoints, with some linux only fields, for testing. As of now this shouldn't cause any sort of bugs, however for testing behavior around fork/exec event types, the script is lacking.

**Kibana/Elasticsearch

[2022-03-22 20:33] elasticmachine commented on #128315
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 20:47] tsullivan opened #128316 "[Reporting] job completion notification popups should never auto-close"
Problem: users state the "job completion notifier" popup closes too quickly. Reports could take minutes to finish, and the user can't  actively wait the whole time to catch the appearance of this message.

When generating a report in Kibana, the user sees certain kinds of popup notifications as events happen to the report.

1. Request to generate a report: a popup states the report is pending
  ![

[2022-03-22 20:47] elasticmachine commented on #128316
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-03-22 20:50] #128170 closed

[2022-03-22 20:59] gchaps commented on #128265
Instead of one block of text, how about using a title and a description? Here is an idea we can iterate on.

**Some regions in your data are not supported**

Region maps support these [administrative regions](https://maps.elastic.co/#file/world_countries) only.  To visualize your data, try another type of map, or use the [Maps app](url) to pull boundaries from an existing index.

[2022-03-22 21:00] neptunian commented on #122338
This works in 7.x and not 8 because its another issue with an ECS path for 8.0.  Will comment the broken test back in and fix the path and it should get the sort working again.

[2022-03-22 21:01] spong opened #128318 "[Security Solution][Detections] Re-enable and fix broken ML tests as result of new V3 Modules"
With the introduction of the V3 ML Modules (https://github.com/elastic/kibana/pull/131166) some tests have been skipped and will need to be addressed within the `8.3.0` release. Current tests skips should be the following related to testing `anomaly_threshold` and react hooks for accessing security jobs. Most appear to be broken as a result of a job count mis-match or missing job as new jobs were

[2022-03-22 21:01] elasticmachine commented on #128318
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-22 21:01] elasticmachine commented on #128318
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-22 21:30] andrewvc commented on #128192
CCing @drewpost @paulb-elastic @hbharding and @katrin-freihofner  here as well. This is really a product level question. We'll need to figure out what the right UX pattern here is.

[2022-03-22 22:39] MikePaquette commented on #127969
Confirmed working now on 8.1.0 in Cloud.  Closing this issue.  Thanks @nyurik

[2022-03-22 22:39] #127969 closed

[2022-03-22 22:56] #127034 closed

[2022-03-22 23:00] BenB196 commented on #124034
Good point didn't really consider this type of "base" setup for a chart.

Yeah, recursive tool tips wouldn't be good.

Another option here, for a tooltip style chart, would be to allow specific parts of a visualization to have their own drill-down dashboards/visualization, when accessed, and just have a tooltip graph that shows a simplified view over the data. LibreNMS has some functionality like

[2022-03-22 23:32] tsullivan commented on #121468
We're still missing a metric for the amount of time a report job spends waiting in `pending` state, which is important for understanding the workload of reporting in the cluster.

[2022-03-23 00:43] kibanamachine opened #128332 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/maps·ts - Maps app meets ally validations single cancel modal"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13411#65efcde7-4af5-4109-b937-156850bc14a8)

[2022-03-23 04:22] muskangulati-qasource opened #128337 "[Security Solution] The search bar have different placeholder values for Blocklist tab and Blocklist page under Policy tab"
**Description:**
The search bar have different placeholder values for Blocklist tab and Blocklist page under Policy tab

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to Endpoints Tab from the left hand side navigation
2. Go to the Blocklist tab

**Impacted Test case:**
N/A

**Actual Result:**
The se

[2022-03-23 04:22] elasticmachine commented on #128337
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 04:22] elasticmachine commented on #128337
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2022-03-23 04:22] muskangulati-qasource commented on #128337
@manishgupta-qasource please review!

[2022-03-23 04:49] kibanamachine commented on #128332
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/13421#b606b5be-4eba-467d-819d-63b4b10925aa)

[2022-03-23 05:08] axw opened #128338 "[Fleet]: Simplify policy preconfiguration"
**Describe the feature:**

Simplify Fleet policy preconfiguration variables such that they can more easily be used in environment variables, such as in docker-compose.

Users should not need to customise `kibana.yml` to preconfigure a policy. However, at the moment, this is really the only practical way to do so. Preconfiguration of APM and Fleet Server looks something like this:

[code]

Setting

[2022-03-23 05:08] elasticmachine commented on #128338
Pinging @elastic/fleet (Team:Fleet)

[2022-03-23 05:21] spong opened #128340 "[Security Solution][Detections] Make Rule Execution Errors more user friendly and actionable"
We do a pretty good job surfacing the many different types of errors that may occur during rule execution, however often these errors are quite lengthy and require a bit of deciphering on the user's part. This issue is for providing more friendly and actionable rule execution errors, perhaps by introducing dedicated `error_code`'s that can be referenced in documentation, UI, telemetry, etc.

Most

[2022-03-23 05:21] elasticmachine commented on #128340
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-23 05:21] elasticmachine commented on #128340
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 06:12] amolnater-qasource opened #128341 "[Fleet]: Incorrect agent and agent policy count in Edit Output confirmation modal under Fleet>Settings tab."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. Few agent policies should exist.
3. Few Agents must be installed.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Settings.
3. Add Output, then edit tha

[2022-03-23 06:12] elasticmachine commented on #128341
Pinging @elastic/fleet (Team:Fleet)

[2022-03-23 06:12] amolnater-qasource commented on #128341
@manishgupta-qasource Please review.

[2022-03-23 06:23] amolnater-qasource opened #128342 "[Fleet]: `cd` command not available for Windows agent installation under Add Agent flyout."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. An agent policy should exist.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab.
3. Click Add agent flyout and select Windows.
4. Observe no `c

[2022-03-23 06:23] elasticmachine commented on #128342
Pinging @elastic/fleet (Team:Fleet)

[2022-03-23 06:23] amolnater-qasource commented on #128342
@manishgupta-qasource Please review.

[2022-03-23 06:23] manishgupta-qasource commented on #128337
Reviewed & assigned to @kevinlog

[2022-03-23 06:24] manishgupta-qasource commented on #128341
Secondary review for this ticket is Done

[2022-03-23 06:24] manishgupta-qasource commented on #128342
Secondary review for this ticket is Done

[2022-03-23 07:37] ruflin commented on #128152
In https://github.com/elastic/integrations/issues/2839 there is also a discussion currently ongoing about some integrations that have lots of fields per data stream.

[2022-03-23 07:47] deepikakeshav-qasource opened #128344 "[Security Solution] More action icon is overlap under hosts tab."
**Describe the bug**
More action icon is overlap under hosts tab.

**Build Details:**
[code]

**preconditions**
1. Agent should be installed
2. Data should be exist under hosts tab

**Steps to Reproduce**
1. Navigate to hosts page under security
2. Hover on chart under User authentications card
3. Observe that more action icon is overlap under hosts tab.

**Actual Result**
More action icon is over

[2022-03-23 07:47] elasticmachine commented on #128344
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 07:56] elasticmachine commented on #128344
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-23 08:14] juliaElastic commented on #126348
Shared findings with fleet-team on the engineering sync on March 22. Updated with suggested change in `Beats/Elastic Agent toggle`.

[2022-03-23 08:14] #126348 closed

[2022-03-23 08:15] dannycroft commented on #120377
Thanks for the effort here @miltonhultgren 👍🏻

[2022-03-23 08:21] #127942 closed

[2022-03-23 08:21] #127272 closed

[2022-03-23 08:23] pgayvallet commented on #114118
Sorry, In ES's or Kibana's deprecation logs? Kibana, no. ES, supposedly, yes.

[2022-03-23 08:25] formgeist opened #128345 "[Unified Observability] Bug: Overview page header incorrectly wraps the page title and elements when on a smaller viewport size"
**Kibana version**:

8.2.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:

<img width="1049" alt="CleanShot 2022-03-22 at 14 50 02@2x" src="https://user-images.githubusercontent.com/4104278/159497093-d420773b-e825-40b6-a23b-66c48726e1fd.png">

The page title is wrapping although it should stay and move the actions below the title when there's not enough space.

[2022-03-23 08:25] elasticmachine commented on #128345
Pinging @elastic/unified-observability (Team:Unified observability)

[2022-03-23 08:31] juliaElastic commented on #128338
there is a similar enhancement request created here: https://github.com/elastic/kibana/issues/124030

[2022-03-23 08:32] pheyos commented on #127678
Fixed in #128238

[2022-03-23 08:32] #127678 closed

[2022-03-23 08:32] pheyos commented on #126870
Fixed in #128238

[2022-03-23 08:32] #126870 closed

[2022-03-23 08:32] pheyos commented on #126642
Fixed in #128238

[2022-03-23 08:35] CohenIdo commented on #125270
Kibana PR is ready:
- https://github.com/elastic/kibana/pull/127741

[2022-03-23 08:43] kibanamachine commented on #128332
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13435#bcc1726d-ff14-41f7-ab3b-042bab6572a7)

[2022-03-23 09:00] pgayvallet opened #128346 "`SavedObjectAttributes` type do not accept arrays of arrays"
The way our `SavedObjectAttributes` is declared consider arrays of arrays as being invalid

https://github.com/elastic/kibana/blob/196531502f8cea18e484e05205fcb47990617300/src/core/types/saved_objects.ts#L9-L37

[code]

Even if recursive types are a pain with typescript, we should try to find a way to fix our type.

[2022-03-23 09:00] elasticmachine commented on #128346
Pinging @elastic/kibana-core (Team:Core)

[2022-03-23 09:08] axw commented on #124030
@juliaElastic this looks great. A couple of questions.

Would it be reasonable to make the agent policy name optional, and have it default to the policy ID?

Let's say I want a single agent policy with fleet_server and apm packages. The fleet_server package can have defaults, while we want to set some vars for apm. How might that look?

I can imagine Fleet being able to handle something like this:

[2022-03-23 09:13] pgayvallet commented on #123257
Ideally, I would love to go that direction. In practice, it's imho more complex that you may think.

Our main use case of uiSettings is renaming one, or multiple settings.

How would you handle renaming a setting with the per-setting migration approach?

To rephrase, how would the migration system know about which value to provide to the migration function in case of rename? We would have to ask s

[2022-03-23 09:13] teresaalvarezsoler commented on #128265
Thank you @gchaps ! I'm changing the wording in the issue.

[2022-03-23 09:17] teresaalvarezsoler commented on #128265
@gchaps I just realized... they cannot try to use another type of map using Lens now, they need to use our Maps app. Can we reword it like this?

**Some regions in your data can't be visualized**

Region maps support these [regions](https://maps.elastic.co/#file/world_countries) only. To visualize your data, use the [Maps app](https://github.com/elastic/kibana/issues/url) to try another type of ma

[2022-03-23 09:18] #126229 closed

[2022-03-23 09:20] markov00 commented on #124034
Good points @BenB196 and thanks again for sharing your thoughts here.
We are actually considering a [tooltip redesign](https://github.com/elastic/elastic-charts/issues/615) that can incorporate these ideas (add more contextual information in the tooltip, improve the ability operate in a clean way with what you have selected to filter/drilldown)
The cross-filter/link is still in the air but we real

[2022-03-23 09:21] karanbirsingh-qasource commented on #98742
Hi @cnasikas  & @MadameSheema

we have found that issue again start occuring on `8.2.0-SNAPSHOT`, so we are re-opening this issue. Closed and All Option and present under Attach alert to existing case modal.

More to add now on selecting the Closed case success prompt is also showing .

![image](https://user-images.githubusercontent.com/59917825/159665685-5e2dcd01-bafe-4963-b55d-570a6f25a946.png)

[2022-03-23 09:35] cnasikas commented on #101994
Fixed by https://github.com/elastic/kibana/pull/128143

[2022-03-23 09:35] #101994 closed

[2022-03-23 09:52] andyoulovexy opened #128349 "[Security Solution]his rule is attempting to query data from Elasticsearch indices listed in the "Index pattern" section of the rule definition, however no index matching: ["logs-endpoint.alerts-*"] was found"
**Describe the bug:I installed kibana ,es 8.1.0,install elastic-agent by fleet-server,but endpoint security rule show warning,I can't find logs-endpoint.alerts-* index.how can i solve it?tks

![image](https://user-images.githubusercontent.com/38940994/159671323-22c58bfb-4c3f-41a6-a323-588f7e7e2970.png)
![image](https://user-images.githubusercontent.com/38940994/159671445-b399c2f6-fdf6-4365-8e44-04

[2022-03-23 09:52] elasticmachine commented on #128349
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 09:53] ghost opened #128350 "[Security Solution] Show top modal is shown even after open the timeline from bottom"
**Describe the bug**
Show top modal is shown even after open the timeline from bottom

**Build Details:**
[code]

**preconditions**
1. Alert should be generated

**Steps to Reproduce**
1. Navigate to alerts page under security
2. Open the alert flyout of generated alert
3. Click on more actions icon of any field then click on "show top modal"
4. Now click on timeline from bottom banner
3. Observe

[2022-03-23 09:53] elasticmachine commented on #128350
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 09:54] pgayvallet opened #128351 "[config-schema] Expose an helper to get the `input` type of the validation"
We're currently exposing a `TypeOf` helper from `@kbn/config-schema` which allows to infer the **output** of the schema's validation.

However in some cases, developers may want to have a type for the accepted valid shape of the schema's **input**

Is these two are sometimes similar, in some situations, they're not. First example is the usage of the `defaultValue` option. The output of a field wit

[2022-03-23 09:54] elasticmachine commented on #128351
Pinging @elastic/kibana-core (Team:Core)

[2022-03-23 09:57] peteharverson commented on #119613
Closing as addressed for 8.2.0 by https://github.com/elastic/kibana/pull/126683.

[2022-03-23 09:57] #119613 closed

[2022-03-23 10:01] zacksiri opened #128352 "CSV Export wrong values"
**Kibana version:** 7.17

**Elasticsearch version:** 7.17

**Server OS version:** Elastic CLoud

**Browser version:** Chrome 99

**Browser OS version:** MacOS 11.5.2

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

CSV exported values do not match what is shown in Kibana

**Steps to reproduce:**
1. Index value with text
2. Go to discover add column

[2022-03-23 10:03] karanverma-qasource opened #128353 "[Security Solution] [Question] Warning messages shown under Upgrade Assistant are different in PR and Kibana environment."
**Describe the Question:**
Warning messages shown under Upgrade Assistant are different in PR and Kibana environment.

**Build Details:**
[code]

**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**

1. Navigate to Stack Management-->Kibana--> Index Patterns.
2. Create Index Pattern `.siem-signals-* `.
3. Navigate to Stack Manageme

[2022-03-23 10:03] elasticmachine commented on #128353
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-23 10:03] elasticmachine commented on #128353
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 10:17] samratbhadra-qasource commented on #128231
Hi @ph,
Please find below the json document of the log message.
[discoverdoc.zip](https://github.com/elastic/kibana/files/8329797/discoverdoc.zip)

cc: @jen-huang
Thanks!

[2022-03-23 10:18] cnasikas commented on #98742
Thank you @karanbirsingh-qasource! We will take a look and target 8.2 for a fix.

[2022-03-23 10:20] hop-dev commented on #126696
++ on this, I'm looking to use encrypted saved objects for a feature and a how to would be useful!

[2022-03-23 10:23] amolnater-qasource opened #128354 "[Fleet]: Wrong breadcrumb on Edit integration page when navigated from Integrations>Nginx>Policies>Edit."
**Kibana version:**  8.2 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.2 Snapshot Kibana cloud environment should be available.
2. Few agent policies should exist and nginx integration should be added to it.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agent Policies>New Policy>E

[2022-03-23 10:23] elasticmachine commented on #128354
Pinging @elastic/fleet (Team:Fleet)

[2022-03-23 10:23] amolnater-qasource commented on #128354
@manishgupta-qasource Please review.

[2022-03-23 10:23] andyoulovexy commented on #128224
![image](https://user-images.githubusercontent.com/38940994/159677356-40b012eb-263b-4b21-9229-5e309fa6ab9e.png)
![image](https://user-images.githubusercontent.com/38940994/159677698-b38e4143-4197-4adb-81a7-59a90e152494.png)

Maybe you need to set it ！

[2022-03-23 10:36] pgayvallet commented on #101579
This feature is already available, we probably just need to improve it by adding the missing values necessary for Kibana to function. E.g we're not adding `data: blob` in any of those:

https://github.com/elastic/kibana/blob/44c9611bd9256f069b7dddac4d95c90adcace628/src/core/server/csp/csp_directives.ts#L33-L44

@jportner do you have an exhaustive list of what should be added?

[2022-03-23 10:40] pgayvallet commented on #127695
It does for me

Please, do. You're preaching to the choir here :)

[2022-03-23 10:47] samratbhadra-qasource commented on #122206
Hi @mostlyjason,
We have tested this issue on the latest **8.2.0-snapshot** build and observed that the issue is still **reproducible**. Please find below the testing details:

- If an agent is upgraded while in unhealthy state, its status is stuck at updating but the banner shows as unhealthy.

**Screenshots:**
![Screenshot (177)](https://user-images.githubusercontent.com/84007952/159651158-e8475

[2022-03-23 10:49] emma-raffenne opened #128357 "Test for Actionable Observability"
Please ignore - Apologies for the noise

[2022-03-23 10:51] emma-raffenne commented on #128357
Action to add an issue labeled with "Team: Actionable Observability" to the AO project automatically works fine.

[2022-03-23 10:51] #128357 closed

[2022-03-23 11:16] amolnater-qasource commented on #122152
Hi @kpollich
Thanks for looking into this we have revalidated this issue on 8.2 Snapshot and found it **fixed**.
- We get below breadcrumb on Upgrade integration page when navigated from Integrations tab.
`Integrations UI: Integrations > Nginx > nginx-1 > Upgrade integration`

**Screenshot:**
![5](https://user-images.githubusercontent.com/77374876/159675471-3aeffdc8-0977-4536-96e4-48ce617ebe4f.JPG

[2022-03-23 11:41] flash1293 commented on #90271
Not relevant anymore as this is done via field caps now

[2022-03-23 11:41] #90271 closed

[2022-03-23 11:41] #87567 closed

[2022-03-23 11:48] samratbhadra-qasource commented on #122215
Hi @nchaulet,
We have tested this issue on the latest **8.2.0-snapshot** build and  observed that the issue is **partially fixed** under settings tab.
However, the issue is still reproducible under `Fleet server hosts`. Please find below the testing details:

**Screenshot:**

- **What's working:**
User is unable to add output with empty host URL field and it shows '**URL is required**' message.

!

[2022-03-23 11:58] flash1293 commented on #72637
This will be possible for Lens visualizations in 8.2 via https://github.com/elastic/kibana/pull/127355

[2022-03-23 12:02] samratbhadra-qasource opened #128360 "[Fleet]: User is unable to create enrollment token under Enrollment tokens tab."
**Describe the bug:**
User is unable to create enrollment token under Enrollment tokens tab.

**Build Details:**
VERSION: 8.2.0-SNAPSHOT
BUILD: 51328
COMMIT: 2a93e80574f9c1052c541bc4083a440a623899e8
ARTIFACT: https://snapshots.elastic.co/8.2.0-63942b4d/summary-8.2.0-SNAPSHOT.html

**Preconditions:**
Elastic 8.2.0-SNAPSHOT environment should be deployed.

**Steps to Reproduce:**

1. Navigate to the

[2022-03-23 12:02] elasticmachine commented on #128360
Pinging @elastic/fleet (Team:Fleet)

[2022-03-23 12:03] samratbhadra-qasource commented on #128360
@manishgupta-qasource Please review.

[2022-03-23 12:09] flash1293 commented on #120386
Fixed by https://github.com/elastic/kibana/pull/124124

[2022-03-23 12:09] #120386 closed

[2022-03-23 12:12] machadoum opened #128362 "[Security Solution] Move authentication table to 'public/common'"
### Todo:
Move authentication table and hooks to 'public/common' folder when 'usersEnabled' feature flag is removed

### Why:
The authentication table is going to be used by the Users and Hosts page at the same time. We have to create one store entry for each and move the table code and hook to a common folder.

[2022-03-23 12:13] elasticmachine commented on #128362
Pinging @elastic/kibana-security (Team:Security)

[2022-03-23 12:13] elasticmachine commented on #128362
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-23 12:20] manishgupta-qasource commented on #128360
Secondary review for this ticket is Done

[2022-03-23 12:20] joshdover commented on #128342
@criamico Any ideas here?

[2022-03-23 12:25] elasticmachine commented on #128362
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-23 12:26] machadoum commented on #128362
Sorry for that, wrong tag.

[2022-03-23 12:31] flash1293 commented on #122964
Blocked on https://github.com/elastic/kibana/issues/127203

[2022-03-23 12:36] joshdover commented on #116591
We probably don't need to, though it is possible the build fails due to not being able to download packages, but so far I haven't seen that happen?

@kpollich What do you think about removing the EPR docker images altogether?

[2022-03-23 12:49] rmetzger commented on #14681
I'm also affected by this. A fix would be much appreciated.

[2022-03-23 12:52] neptunian opened #128364 "[Stack Monitoring] cleanup code using fields paths from ES queries"
[It's difficult to know why](https://github.com/elastic/kibana/pull/128323#discussion_r832958665) we have to check for ECS code paths throughout the codebase due to the new ECS paths.  See if there is a way we can make this more explicit by having some helper that maps the code paths or at the very least commenting in all the places we do this.  Code eg: https://github.com/elastic/kibana/blob/main

[2022-03-23 12:52] elasticmachine commented on #128364
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-23 13:05] li1234yun commented on #127108
@nickpeihl Thank you for reply!

Is it feasible that kibana run in VSCode :-)

[2022-03-23 13:06] Dosant opened #128365 "[Search] `search:timeout` error toast is easy to miss"
**Kibana version**: 8.1 and older

**Description of the problem including expected versus actual behavior**:

Currently, we have a `search:timeout` (default is 10 minutes) which is a client-side timeout that aborts long-running searches that run beyond this timeout.

The timeout error experience is slightly different per every app as it is handled by an app, but also search service presents a toas

[2022-03-23 13:06] elasticmachine commented on #128365
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-23 13:14] kibanamachine opened #128367 "Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard·ts - Reporting APIs CSV Generation from SearchSource non-timebased With filters and non-timebased data"
A test failed on a tracked branch

[code]

First failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#f4ab9364-5e1f-4fe8-9973-60e890002e54)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#f9a09c3b-4933-42b1-8add-660d5215a149)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#da30c89b-25f0-4eba-bcd6-b2d359aabbd4)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#1863deae-c858-49f4-9022-dca3628baa4b)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#ffd777ee-c9ea-49cf-ad02-df7a8e836337)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#8e117d9f-17c3-487b-aee7-38f0d0b1beb1)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#6aeeafdf-853b-40a5-91da-bfd1ac1dad10)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#c05146d6-c3b8-4644-9599-eaf39633b40b)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#d899d66b-4df1-40f0-93c2-b206107c3f08)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#8a18fe44-a507-4ce7-b7a7-46eb677a9191)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#5c15ad4c-2234-473e-ba33-db57c320e295)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#b2214203-a784-4dcc-877f-75712c76fb6b)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#1adecf03-3fe3-4a5d-9edb-7e6f617891cb)

[2022-03-23 13:14] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#07fd0b7f-e2c4-4051-8be1-c0a9ed3a55b5)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#c7c2f3a0-efde-4bdf-b364-93127406cbbd)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#fac8acbd-e228-4b88-8987-d15d46ad72c2)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#e1ef0b0b-6dee-45b8-bc42-6b8eeaf6a583)

[2022-03-23 13:15] elasticmachine commented on #128367
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#52638547-25c3-413b-b35b-948729a8f5d5)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#ecae1cae-2dd4-425c-a015-279406c0e51d)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#d37f5ad3-4b59-45a3-9c53-49d3d890edc7)

[2022-03-23 13:15] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#d37f5ad3-4b59-45a3-9c53-49d3d890edc7)

[2022-03-23 13:16] kibanamachine commented on #128367
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#1e83c0ba-1fa6-47f7-80d6-b49774ccc160)

[2022-03-23 13:16] kibanamachine opened #128368 "Failing test: X-Pack Reporting API Integration Tests.x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard·ts - Reporting APIs CSV Generation from SearchSource non-timebased With filters and non-timebased data"
A test failed on a tracked branch

[code]

First failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#9733d00d-a447-4b42-b4e0-194f49dd8679)

[2022-03-23 13:16] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#0e919de8-4c1c-49d0-a0a5-8446b39e79dd)

[2022-03-23 13:17] elasticmachine commented on #128368
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-03-23 13:19] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#6b452f29-6d94-40f0-808e-5cd68b733205)

[2022-03-23 13:23] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#d7787e34-58a1-48f0-a6f3-b1a1184faeac)

[2022-03-23 13:23] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#a391e5ad-dad1-4341-8be6-d0f7dc66b1e0)

[2022-03-23 13:24] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#d31dcf34-f8d1-40ba-9ab0-6c97a4e9033c)

[2022-03-23 13:24] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#f065cc28-5d21-49ea-968f-9dbeb2dd1ac4)

[2022-03-23 13:24] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#3014db47-b0db-4388-a045-072e0a064937)

[2022-03-23 13:24] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#fff334a8-a3aa-4bde-b105-15df6bd28ded)

[2022-03-23 13:24] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#43a23ff3-4d60-42d3-8e41-9ecb236aaa3a)

[2022-03-23 13:24] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#089d0385-b719-48a5-8aeb-7f647227b196)

[2022-03-23 13:25] #125209 closed

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#e16558de-7cbe-4b76-83f0-e56c5eb2859d)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#c69e7812-7c90-47ba-a4a9-cac44da55153)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#9f12f6b7-1051-41b3-afaf-2e50d933acee)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#e371d76f-68dc-44fb-aec0-0526c0e644bb)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#61a4433a-dba7-4fc4-8123-7f306d9df2c8)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#ba21f7cc-5078-499d-ba36-b749800d2178)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#c60b3d14-c4cc-4177-96b9-786ad4acc35b)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#e99c6993-3596-4ed3-b017-646ace579c46)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#60f49fcd-c2cc-4973-8165-e417a362b245)

[2022-03-23 13:25] kibanamachine commented on #128368
New failure: [CI Build - reporting_sales](https://buildkite.com/elastic/kibana-hourly/builds/13451#460e363e-5099-4a25-b876-8b1d96e2152a)

[2022-03-23 13:36] elasticmachine commented on #128332
Pinging @elastic/kibana-gis (Team:Geo)

[2022-03-23 13:38] #123641 closed

[2022-03-23 13:45] hop-dev commented on #104986
Hi @dborodyansky, if you get a chance we will need to prevent the user from adding a remote ES output if they havent set `xpack.encryptedSavedObjects.encryptionKey. Not sure if to disable the whole form and have a banner in the flyout? More details under 2.a above:

[2022-03-23 13:45] kibanamachine commented on #128332
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/13452#d1f2b82d-1d54-46e2-970e-cf6a97239ea5)

[2022-03-23 14:00] klacabane commented on #70562
Nice! Did we already discuss the matter with the impacted teams (Discover, Maps..) or maybe the UX team ?
I see that this was initially planned for 8.0 and is a major behavior change across multiple products. I'm wondering if we are fine shipping this as a minor considering the implications it can have on resource utilization, although 60sec is a reasonable default

[2022-03-23 14:05] sabarasaba opened #128376 "[Index Management] Move `component_templates` cit's to main `__jest__/client_integration` folder"
Right now we have a bunch of cit's for `component_templates` section that live in the [public/aplication/components](https://github.com/elastic/kibana/tree/main/x-pack/plugins/index_management/public/application/components/component_templates/__jest__) folder that ideally should be in the main [__jest__/client_integration](https://github.com/elastic/kibana/tree/main/x-pack/plugins/index_management

[2022-03-23 14:05] #40393 closed

[2022-03-23 14:22] kostasb commented on #14681
@ghudgins Is there any chance this issue could be considered for a bugfix release? I am confident it has been affecting TSVB users all around but since it's transient it is likely hard to report.

It makes some TSVB time series visualizations look buggy depending on the momentary time bucket results.

It is pretty easy to reproduce, here's an example:

![image](https://user-images.githubuserconten

[2022-03-23 14:28] #124366 closed

[2022-03-23 14:49] #126230 closed

[2022-03-23 14:49] gtback commented on #122654
This should be fixed based on a change we made to the backend of the newsfeeds service yesterday. Please check that it's working, and feel free to close this if it is.

[2022-03-23 14:49] gtback commented on #126776
This should be fixed based on a change we made to the backend of the newsfeeds service yesterday. Please check that it's working, and feel free to close this if it is.

[2022-03-23 14:52] formgeist commented on #126776
@gtback Thanks for looking into it. It indeed looks like the issue has been resolved (screenshot from my local instance of Kibana)

<img width="1364" alt="CleanShot 2022-03-23 at 15 51 29@2x" src="https://user-images.githubusercontent.com/4104278/159727556-812b5865-8376-4986-90aa-418966650b77.png">

[2022-03-23 14:52] MadameSheema commented on #122654
@deepikakeshav-qasource @karanbirsingh-qasource can you please take a look at this? thanks

[2022-03-23 15:01] fbaligand commented on #40393
Great to see that this issue is now implemented!

[2022-03-23 15:05] stratoula opened #128383 "[Unified search] Move the autocomplete logic to the unified search plugin"
**Describe the feature:**
After this PR https://github.com/elastic/kibana/pull/127651 is merged, we should also move the autocomplete folder to the new `unified_search` plugin.

After syncing with @flash1293 and @ppisljar we decided that the new plugin will have :
- all the UI components that are parts of the unified search experience (dataview picker, queryInput, filterBar, datePicker, queryBarMe

[2022-03-23 15:41] formgeist opened #128389 "[APM] Show badges for technical preview in the Service groups tour component and by the Services group view page title"
# Summary

Since initial release of the Service groups feature will be as a technical preview, it makes sense to emphasize this status in the tour content upon introducing the new feature to make it clear to all users that the feature is in a development state. We can repeat this badge on the new Services group view too.

# Solution

- [ ] Add a "technical preview" `EuiBetaBadge` to the first step

[2022-03-23 15:41] cauemarcondes opened #128390 "[APM] Broken e2e tests"
List of broken tests:

- [x] power_user/feature_flag/comparison.ts: @cauemarcondes
- [x] power_user/rules/error_count.spec.ts: @cauemarcondes
- [x] read_only_user/deep_links.spec.ts @gbamparop
- [x] read_only_user/errors/error_details.spec.ts: @cauemarcondes
- [x] read_only_user/errors/errors_page.spec.ts @cauemarcondes
- [x] read_only_user/home.spec.ts @gbamparop
- [x] read_only_user/service_over

[2022-03-23 15:48] #122338 closed

[2022-03-23 15:49] dominiqueclarke commented on #127668
The UX has been updated to move the enable switch directly next to the Add Monitor button. See updates to the UX on the PR: https://github.com/elastic/kibana/pull/128223

[2022-03-23 15:49] criamico commented on #125674
Discussed this stretch goals with @mostlyjason.
For agent policies having `endpoint security`, `osquery` and `fleet server` this call out should be shown and the flyout should show the `managed` state, so the step showing the choice between `managed` and `standalone` won't be shown at all.
![Screenshot 2022-03-23 at 16 49 15](https://user-images.githubusercontent.com/16084106/159740269-60bfaa2d-30

[2022-03-23 15:51] flash1293 commented on #126586
Blocked on https://github.com/elastic/elastic-charts/issues/1631

[2022-03-23 15:57] flash1293 commented on #121536
Closing this issue because this is supported in Lens visualizations. In Lens, you can create visualizations without a date histogram with all chart types on rollup indices without limitations (Lens is always implicitly in "entire time range" mode as there is no "last value mode")

*Since this would require a large development effort to implement in Visualize/TSVB and our efforts are focused on ext

[2022-03-23 15:57] #121536 closed

[2022-03-23 15:58] KOTungseth opened #128394 "[Dashboard] Improve Dashboard empty state"
**Describe the feature:**

The current Dashboard empty state specifies only visualizations, but you can add more than just visualization panels to dashboards.

Current empty state:

<img width="559" alt="Screen Shot 2022-03-23 at 10 57 16 AM" src="https://user-images.githubusercontent.com/38990715/159742087-5cef9b6c-12e4-4e93-927c-3d8b634df03c.png">

**Describe a specific use case for the feature:

[2022-03-23 15:58] flash1293 commented on #120870
As https://github.com/elastic/kibana/issues/117280 has been merged, this is now possible to do in Lens. To make it work with TSVB, see the comment above https://github.com/elastic/kibana/issues/120870#issuecomment-1008739149

[2022-03-23 15:58] #120870 closed

[2022-03-23 15:59] smith commented on #128345
Note that this can occur on anything using the `ObservabilityPageTemplate`. Here's an APM service group at a specific width:

<img width="790" alt="CleanShot 2022-03-23 at 10 57 26@2x" src="https://user-images.githubusercontent.com/9912/159742261-f1913e00-e8ad-4b3e-b91c-fd64719c9cd6.png">

You have to have certain text at a certain viewport width to get the "one letter stacked on top of each other

[2022-03-23 16:06] elasticmachine commented on #128350
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-23 16:09] Heenawter opened #128395 "[Controls] Unable to delete control that has been modified"
**Describe the bug:**

When a new control is added and then modified, the author is unable to delete that control.

**Note:** I think this might be a race condition of sorts where the delete action happens *before* the control filter is applied. It doesn't happen reliably on smaller dashboards - it's easiest to see on a large, slow loading dashboard.

**Steps to reproduce:**
1. Create a new contro

[2022-03-23 16:11] elasticmachine commented on #128383
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-03-23 16:11] elasticmachine commented on #128383
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-23 16:24] janmonschke commented on #125647
@karanbirsingh-qasource I was not able to reproduce the issue (see attached video)

- I deployed a 7.17 instance, created a new rule, and added some alerts
- Upgraded that instance to 8.1
- Created some more alerts
- Toggled the field from the table in the flyout
- The values in the table are correctly showing up after the table performed a sync

https://user-images.githubusercontent.com/68591/159

[2022-03-23 16:25] lukeelmers commented on #128351
This was something I was thinking about when we were adding saved object type validations; it would be useful for folks to be able to infer a type for their SO attributes from the validation schema directly instead of maintaining a separate type for the accepted inputs.

I only briefly looked into it at the time, but this was my conclusion as well. Would probably be worth a deeper look though, sin