[2021-12-14 23:20] elasticmachine commented on #121251
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-14 23:25] monina-n opened #121252 "[Security Solution] Inconsistent placement of update time and description across several pages"
## Summary

We are inconsistent with the placement and style of the update time and description (for pages that have one). We can standardize these elements into one pattern.

<img width="1245" alt="Screen Shot 2021-12-14 at 3 19 33 PM" src="https://user-images.githubusercontent.com/67915896/146095013-b0f119a1-9e45-40d2-8988-8c7293991310.png">
<img width="1245" alt="Screen Shot 2021-12-14 at 3 19

[2021-12-14 23:25] elasticmachine commented on #121252
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 23:27] monina-n opened #121253 "[Security Solution] Decreasing spacing between header buttons on cases page"
## Summary

The spacing between the two header buttons on the all cases pages is larger then other pages.
<img width="1499" alt="Screen Shot 2021-12-14 at 3 26 04 PM" src="https://user-images.githubusercontent.com/67915896/146095525-ba5effb8-fcef-436f-85a4-e5efc1f4bd26.png">
<img width="1499" alt="Screen Shot 2021-12-14 at 3 26 09 PM" src="https://user-images.githubusercontent.com/67915896/1460955

[2021-12-14 23:27] elasticmachine commented on #121253
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-14 23:28] monina-n commented on #120277
**Small UX bugs**
- [ ] https://github.com/elastic/kibana/issues/121246
- [ ] https://github.com/elastic/kibana/issues/121248
- [ ] https://github.com/elastic/kibana/issues/121252
- [ ] https://github.com/elastic/kibana/issues/121253

[2021-12-14 23:37] #120477 closed

[2021-12-14 23:57] bojian-ben-li commented on #116616
I have two cases today hitting this scenario. Both are ESS deployments. Customer attempt upgrade then the ES node disk exceed 85% and new .kibana indices not able to be allocated and in red.

[2021-12-15 00:27] mattkime commented on #116709
Closing as the warning is no longer displayed.

[2021-12-15 00:27] #116709 closed

[2021-12-15 00:33] mattkime commented on #7646
This issue is quite old but I'd like to determine whether this is something we can address or whether we can close this ticket. Currently, this is something you could do with the index pattern api. Its not a user interface but it should still be quicker and less error prone than a lot of clicking - https://www.elastic.co/guide/en/kibana/current/index-patterns-api.html

[2021-12-15 00:34] mattkime commented on #14546
Closing this issue as scripted fields are deprecated and similar functionality is available for runtime fields.

[2021-12-15 00:34] #14546 closed

[2021-12-15 00:36] mattkime commented on #13901
Closing as this has been implemented. I'm not sure which release specifically, but one of the later 7.x releases.

[2021-12-15 00:36] #13901 closed

[2021-12-15 00:40] mattkime commented on #16252
We now have such functionality with runtime fields - https://www.elastic.co/guide/en/kibana/current/index-patterns-runtime-field-api-create.html

[2021-12-15 00:40] #16252 closed

[2021-12-15 00:42] #118624 closed

[2021-12-15 00:44] mattkime commented on #17814
This should be properly handled. Are you still having trouble?

[2021-12-15 00:56] mattkime commented on #16446
This issue has been resolved by using runtime fields instead of scripted fields, which are deprecated.

[2021-12-15 00:56] #16446 closed

[2021-12-15 01:24] mattkime commented on #116763
Closing as a month has passed and I haven't heard back. Reopen if desired.

[2021-12-15 01:24] #116763 closed

[2021-12-15 01:35] kibanamachine commented on #119770
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5503#590642f1-ffaa-43aa-a64c-a8bae0e3f6f0)

[2021-12-15 01:37] dominiqueclarke opened #121258 "[Metrics] Links to Uptime should filter for `monitor.ip`"
**Kibana version**: 8.1.0

**Elasticsearch version**: 8.1.0

**Original install method (e.g. download page, yum, from source, etc.)**: Source

**Description of the problem including expected versus actual behavior**:

Links to Uptime from Metrics Inventory or anywhere else in Metrics should filter by `monitor.ip` by appending `?search=monitor.ip:"ipValue"` onto the URL. Additionally, the query sho

[2021-12-15 01:37] elasticmachine commented on #121258
Pinging @elastic/uptime (Team:uptime)

[2021-12-15 01:37] elasticmachine commented on #121258
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-15 01:47] banderror commented on #117983
Hi @deepikakeshav-qasource, the [fix](https://github.com/elastic/kibana/pull/121127) has been merged and backported to 8.0. Thank you for spotting it and thank you @vitaliidm for the fix 🙌

[2021-12-15 02:09] mattkime commented on #19716
Scripted fields have been deprecated and are being replaced with runtime fields. We have APIs that would help you do something approximating this - https://www.elastic.co/guide/en/kibana/current/index-patterns-api.html

[2021-12-15 02:09] #19716 closed

[2021-12-15 02:10] mattkime commented on #9966
closing as scripted fields are deprecated and replaced by runtime fields.  Feel free to reopen if desired.

[2021-12-15 02:10] #9966 closed

[2021-12-15 02:14] mattkime commented on #8918
@flash1293 Is this something discovery / data visualization would be interested in for simplifying the field list? This idea has come up in the past but never came to any sort of conclusion.

[2021-12-15 02:17] mattkime commented on #7305
closing in favor of https://github.com/elastic/kibana/issues/7305

[2021-12-15 02:17] #7305 closed

[2021-12-15 02:24] mattkime commented on #6952
Closing as this issue is more than five and a half years old. Request errors have been displayed for some time.

[2021-12-15 02:24] #6952 closed

[2021-12-15 03:39] kibanamachine commented on #111667
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5509#3fdaad27-7039-4d5c-8006-bdf9d5d33a45)

[2021-12-15 04:52] elasticmachine commented on #120263
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-12-15 05:06] tsullivan opened #121259 "[Reporting] Legacy CSV export type can be removed"
**Kibana version:** 8.1

Fewer than 1% of all clusters reporting telemetry are using the legacy implementation for CSV export in versions where the replacement version is available. This means that the legacy export type under `x-pack/plugins/reporting/server/export_types/csv` can be removed.

[2021-12-15 05:06] elasticmachine commented on #121259
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-15 05:11] tsullivan commented on #93891
Will be closed by https://github.com/elastic/kibana/issues/121259

[2021-12-15 05:12] tsullivan commented on #115242
superceded by https://github.com/elastic/kibana/issues/121259

[2021-12-15 05:12] #115242 closed

[2021-12-15 05:42] kibanamachine commented on #121172
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5515#5d89cc78-16a5-4b75-9a84-6d95abe160e8)

[2021-12-15 05:53] flash1293 commented on #8918
It’s not relevant for Lens at the moment because we only show keyword fields. I think Discover has its own logic already (cc @kertal )

[2021-12-15 06:31] matschaffer commented on #121192
cc @kovyrin

[2021-12-15 07:01] amolnater-qasource opened #121260 "[Fleet]: No assets available when Nginx integration is installed from secondary space."
**Kibana version:**  8.0.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana self-managed environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Create a secondary space say `space2`.
3. Search for Nginx integration and click install integration.
4. Naviga

[2021-12-15 07:01] elasticmachine commented on #121260
Pinging @elastic/fleet (Team:Fleet)

[2021-12-15 07:02] amolnater-qasource commented on #121260
@manishgupta-qasource Please review.

[2021-12-15 07:08] matschaffer opened #121261 "[Stack Monitoring] "View these instances" link for standalone instances doesn't update UI"
**Steps to reproduce**:
 1. Start up something that produces monitoring documents without a cluster uuid (logstash on docker-testing-cluster will do this today)
 2. Pull up the cluster list
 3. Click "View these instances" at the top

**Provide logs and/or server output (if relevant)**:

![Screen_Shot_2021-12-15_at_15_51_05](https://user-images.githubusercontent.com/690/146137721-8669d824-dc45-4b2

[2021-12-15 07:08] elasticmachine commented on #121261
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-15 07:10] matschaffer commented on #121261
Just my opinion, but I think we could just remove the link and say "Click Standalone Cluster...."

It's a pretty rare case that we'll even have a standalone cluster and the link in the table below works fine and is pretty obvious.

[2021-12-15 07:39] th0ger opened #121263 "Sorting in Discover not working with "Hide Time Column" setting"
**Kibana version:**
Kibana 7.16.1

**Describe the bug:**
When "Hide Time Column" setting is enabled, the hidden `@timestamp` column prevents sorting on other fields.

**Steps to reproduce:**
1. In Advanced Settings, enable "Hide Time Column" (`doc_table:hideTimeColumn`).
2. Open Dicover in new tab.
    1. Select an index pattern. (Must contain a `@timestamp` field that is set as the Timestamp fiel

[2021-12-15 08:14] karanverma-qasource opened #121264 "[Security Solution] Inspect icon position is getting changed when we switch between Raw events and Detection alerts."
**Describe the bug:**
 Inspect icon position is getting changed when we switch between Raw events and Detection alerts.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Alerts should be generated

**Steps to Reproduce**

1. Navigate to Alerts table under alerts tab
2. Click on expand action for rule n

[2021-12-15 08:14] elasticmachine commented on #121264
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 08:15] karanverma-qasource opened #121265 "[Security Solution] empty value is showing when graph is set according to kibana.alert.rule.risk_score."
**Describe the bug:**
empty value is showing when graph is set according to kibana.alert.rule.risk_score.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Alerts should be generated

**Steps to Reproduce**

1. Navigate to Alerts table under alerts tab
2. Set the Trend graph according to "kibana.alert.

[2021-12-15 08:15] elasticmachine commented on #121265
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 08:21] miltonhultgren commented on #121258
Might be worth exposing a [Locator](https://github.com/elastic/kibana/blob/6693ef371f887eca639b09c4c9b15701b4ebabd4/src/plugins/share/common/url_service/locators/README.md) so that the Metrics side doesn't need to know how the URL should be formatted, as well as giving type support on which key should be used (this at least hints to the origin app which value should likely be used).

[2021-12-15 08:24] deepikakeshav-qasource commented on #90761
Hi @jonathan-buttner and @machadoum

We have shared the 7.16.0 environment Details through email.

**Subject:** [Environments Details for: #90761]

Please let us know if anything else is required from our end.

Thanks!!

[2021-12-15 08:40] kibanamachine commented on #98249
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5524#a98a932b-0772-408d-a86b-071a17d527ae)

[2021-12-15 08:40] formgeist opened #121266 "[APM] Elastic Agent: Add option to create APM agent keys in context of configuring an integration"
# Summary

Since we've added a UI around creating APM agent keys for authentication between APM server (Integration) and APM agents, we should consider showing an option to create keys directly within the integration as the user is configuring authentication. There are two proposals for how to support this UX.

## Proposal A: Link to APM agent keys in Settings

This is the minimal effort option to

[2021-12-15 08:40] elasticmachine commented on #121266
Pinging @elastic/apm-ui (Team:apm)

[2021-12-15 08:48] elasticmachine commented on #121263
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-15 08:50] kertal commented on #121250
looks a bit empty .. closing this

[2021-12-15 08:50] #121250 closed

[2021-12-15 08:50] elasticmachine commented on #121229
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-15 08:56] cnasikas commented on #119696
Same for me. Whatever is the easiest to change. Returning an empty object seems simple to me.

[2021-12-15 09:07] th0ger opened #121268 "Cannot destructure property 'params' of 'undefined' as it is undefined."
**Kibana version:**
7.16.1

**Elasticsearch version:**
7.16.1

**Browser version:**
Google Chrome Version 96.0.4664.45 (Official Build) (64-bit)
Microsoft Edge Version 96.0.1054.53 (Official build) (64-bit)

**Describe the bug:**
A classic visualisation (line chart) broke, possible after upgrade.
Throws error:
`Search Error: Cannot destructure property 'params' of 'undefined' as it is undefined.`

[2021-12-15 09:07] mgiota opened #121269 "[RAC][Timelines] Get field representation of the flattened kibana.alert.rule.parameters in the UI"
### Summary

As part of this issue https://github.com/elastic/kibana/issues/120749 we tried to use the new flattened field `kibana.alert.rule.parameters` in the Observability alerts table to be able to construct a custom link in the UI, but the field was not returned in the fields list of the Observability alerts table:

<img width="896" alt="Screenshot 2021-12-15 at 09 27 59" src="https://user-im

[2021-12-15 09:08] felixbarny commented on #121266
I didn't have a detailed look yet. But what comes to mind is that if an api key or secret token is configured, we have to pass that along when doing Java runtime attachment. This should be doable with the `--config` option in the attacher.

[2021-12-15 09:12] kertal commented on #121158
Hi
Could you provide some details, so you're using Discover enter a KQL query and this is converted to the JSON you posted, that's then sent to our Kibana server endpoint, which requests data from ES, the conversion is done by our `@kbn/es-query` package.

[2021-12-15 09:19] janmonschke commented on #121265
Was able to confirm this bug. It might actually happen on 7.16 already.

@karanbirsingh-qasource Can you confirm this is an issue on 7.16 as well?

@MadameSheema If this issue happens on 7.16, I think I would make the fix part of 7.17 as well. Wdyt?

[2021-12-15 09:20] #118247 closed

[2021-12-15 09:22] muskangulati-qasource commented on #116413
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test case:
    - https://elastic.testrail.io/index.php?/cases/view/150242

Thanks!

[2021-12-15 09:23] mgiota commented on #121269
@jasonrhodes I would like your opinion on this issue. Depending on the output of current ticket:
- if we have an elegant solution by security team that doesn't break existing functionality but also supports the use of kibana.alert.rule.parameters in the Observability UI, we can proceed with using the new flattened type in Observability.
- Otherwise I suggest we mark `kibana.alert.rule.params` as e

[2021-12-15 09:23] muskangulati-qasource commented on #116398
## Bug Conversion

- No test case is required as this ticket is marked as 'Working as expected'.

Thanks!

[2021-12-15 09:25] muskangulati-qasource commented on #116397
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150273

Thanks!

[2021-12-15 09:25] formgeist commented on #121266
@felixbarny thanks - that's definitely worth noting.

I've updated the description with more detailed flows so it's easier to follow the flow of each proposal.

[2021-12-15 09:26] muskangulati-qasource commented on #116396
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - !https://elastic.testrail.io/index.php?/cases/view/76947

Thanks!

[2021-12-15 09:26] elasticmachine commented on #121269
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 09:48] stratoula opened #121270 "[TSVB] Bucket script is disabled for timerange mode"
**Kibana version:**
7.16

**Describe the bug:**
When we disabled the parent pipeline aggregations for the entire timerange we also disabled the bucket script. But this makes sense for entire timerange and shouldn't be disabled.
This is the PR that made this change
https://github.com/elastic/kibana/pull/105073

**Steps to reproduce:**
1. Create a TSVB (non timeseries chart)
2. Choose to create a bu

[2021-12-15 09:48] elasticmachine commented on #121270
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-15 09:49] zez3 commented on #81353
@jamiehynds
Any updates on this? Can this be taken on the roadmap?

[2021-12-15 09:56] muskangulati-qasource commented on #116273
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150280

Thanks!

[2021-12-15 09:57] muskangulati-qasource commented on #116270
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150294

Thanks!

[2021-12-15 09:59] paulb-elastic commented on #121138
@katefarrar I am closing this in favour of https://github.com/elastic/kibana/issues/121258 which includes the `#/` issue and also suggests a more relevant search.  If I've misunderstood, please reopen, or let me know.

[2021-12-15 09:59] #121138 closed

[2021-12-15 10:04] pemontto commented on #7305
@mattkime this is #7305, which ticket should I be tracking?

[2021-12-15 10:06] cnasikas commented on #119153
The `action_field` attribute has been removed entirely as it is not used anymore. I also introduced a `type` attribute to distinguish user actions. I updated the issue accordingly.

[2021-12-15 10:08] muskangulati-qasource commented on #116114
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150275

Thanks!

[2021-12-15 10:08] muskangulati-qasource commented on #116083
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150252

Thanks!

[2021-12-15 10:09] fkanout opened #121271 "[RAC][LOGS] Review readability of Alert Reason Messages"
# Summary

Related to #117697

After reviewing our current alert reason mesages, we want to improve and standardize our alert reason messages across Observability. The messages should be limited in length while conveying the same bits of important information. When applicable, reason messages should convey the following parts:

1. **Metric** - The name of the metric. E.g. “CPU usage”, “Log entries

[2021-12-15 10:11] muskangulati-qasource commented on #116082
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150275

Thanks!

[2021-12-15 10:11] muskangulati-qasource commented on #116081
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150275

Thanks!

[2021-12-15 10:11] muskangulati-qasource commented on #116080
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150275

Thanks!

[2021-12-15 10:12] fkanout opened #121272 "[RAC][Metrics] Review readability of Alert Reason Messages"
# Summary

Related to #117697

After reviewing our current alert reason mesages, we want to improve and standardize our alert reason messages across Observability. The messages should be limited in length while conveying the same bits of important information. When applicable, reason messages should convey the following parts:

1. **Metric** - The name of the metric. E.g. “CPU usage”, “Log entries

[2021-12-15 10:14] fkanout opened #121273 "[RAC][APM] Review readability of Alert Reason Messages"
# Summary

Related to #117697

After reviewing our current alert reason mesages, we want to improve and standardize our alert reason messages across Observability. The messages should be limited in length while conveying the same bits of important information. When applicable, reason messages should convey the following parts:

1. **Metric** - The name of the metric. E.g. “CPU usage”, “Log entries

[2021-12-15 10:16] fkanout opened #121275 "[RAC][UPTIME] Review readability of Alert Reason Messages"
# Summary

Related to #117697

After reviewing our current alert reason mesages, we want to improve and standardize our alert reason messages across Observability. The messages should be limited in length while conveying the same bits of important information. When applicable, reason messages should convey the following parts:

1. **Metric** - The name of the metric. E.g. “CPU usage”, “Log entries

[2021-12-15 10:23] lucasfcosta commented on #121125
In the meeting yesterday, @andrewvc raised an interesting point:

Having thought about that, **IMO it would be useful to allow users to do so, but to have sensible defaults (first accessed URL)**.

**I think it would be useful to allow users to set that URL because** it seems that the URL displayed in the Uptime app is considered metadata. Semantically, it relates to what the test _is_, rather tha

[2021-12-15 10:48] afgomez commented on #119417
When copying/pasting from a good ol' `<table>` it respects the separation between columns and line breaks. I don't know if the effort to re-markup the log stream would be reasonable to fix this... but the solution exists!

[2021-12-15 10:57] karanbirsingh-qasource opened #121277 "[Security Solution][Timline]Modified tag showing for not edited data source till user click save button"
**Describe the bug**
Modified tag showing for not edited data source till user click save button

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Timeline Page and click on create timeline
- Enter any search query , let say process.name : *
- Change the `Security Default data view` data source
- click on Save Button
- Modified start showing at Data view
- click again on data vi

[2021-12-15 10:57] elasticmachine commented on #121277
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 10:57] karanbirsingh-qasource opened #121278 "[Security Solution][Timeline]Data source changes between different timeline have different result"
**Describe the bug**
Data source changes between different timeline have different result

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Timeline Page and click on create timeline let Say `Timeline #1`
- Enter any search query , let say process.name : *
- Click on `Show only Detection Alert` checkbox
- click on Save Button
- `Data view Alerts` start showing at Data view
- Cre

[2021-12-15 10:57] elasticmachine commented on #121278
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 10:57] karanbirsingh-qasource opened #121279 "[Security Solution][Timeline]Data view Alert should also show for manual Default pattern changed to Detection alert index only"
**Describe the bug**
Data view Alert should also show for manual Default pattern changed to Detection alert index only

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Timeline Page and click on create timeline
- Enter any search query , let say process.name : *
- Click on `Show only Detection Alert checkbox`
- click on Save Button
- `Data view Alerts` start showing at Data vie

[2021-12-15 10:57] elasticmachine commented on #121279
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 11:12] #107885 closed

[2021-12-15 11:14] manishgupta-qasource commented on #121277
Reviewed & assigned to @MadameSheema

[2021-12-15 11:14] manishgupta-qasource commented on #121278
Reviewed & assigned to @MadameSheema

[2021-12-15 11:14] manishgupta-qasource commented on #121279
Reviewed & assigned to @MadameSheema

[2021-12-15 11:19] klacabane opened #121282 "Stack monitoring.elasticsearch - 8.0 compatibility"
This ticket tracks the changes required to make the SM elasticsearch section compatible with metricbeat 8.x.

- [x] https://github.com/elastic/kibana/pull/121641
- [x] https://github.com/elastic/beats/pull/29548
- [x] https://github.com/elastic/beats/pull/29711

-------
Agent only

- https://github.com/elastic/kibana/issues/119984

[2021-12-15 11:19] elasticmachine commented on #121282
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-15 11:31] AlphaRaven commented on #105938
Solved by https://github.com/elastic/kibana/pull/119365 in release 7.16.1

[2021-12-15 11:31] #105938 closed

[2021-12-15 11:31] shubhamkanwar-qasource opened #121285 "[Security Solution]The drop down is distorted for edit filter option under timeline ui"
**Describe the bug**
The drop down is distorted for edit filter option under timeline

**Build Details:**
Version:8.0.0 snapshot
Build: 48594
COMMIT: ad3660f3acbfe6eb809d869b908221edf2846313

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running.
3. Alerts should be generated.

**Steps to Reproduce**
1. Navigate to timeline tab.
2.

[2021-12-15 11:31] elasticmachine commented on #121285
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 11:34] ghost opened #121287 "[Security Solution] Timeline is displaying instead of templates under import query from saved timeline option while creating a rule."
**Describe the bug**
Timeline is displaying instead of templates under import query from saved timeline option while creating a rule

**Build Details:**
Version:8.0.0 snapshot
Build: 48594
COMMIT: ad3660f3acbfe6eb809d869b908221edf2846313

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**
1. Click on crea

[2021-12-15 11:34] elasticmachine commented on #121287
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 11:40] klacabane opened #121289 "Stack monitoring.kibana - 8.0 compatibility"
This ticket tracks the changes required to make the SM kibana section compatible with metricbeat 8.x.

- [x] SM: some kibana queries have outdated assumptions about the stored data structure. It assumes a nested `kibana.kibana` object but I does not exist anymore (a similar property was deleted ~8months ago from metricbeat which is possibly the cause) https://github.com/elastic/kibana/pull/122034

[2021-12-15 11:40] elasticmachine commented on #121289
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-15 11:43] karanverma-qasource commented on #121265
Hi @janmonschke

We have validated the same issue on 7.16.0 build and it's occurring on it as well.

**Build Details:**

[code]

**Screen Records:**

https://user-images.githubusercontent.com/91867110/146171794-26124737-4d07-484a-9dcb-0170b9321108.mp4

Thanks!

[2021-12-15 11:50] deepikakeshav-qasource opened #121290 "[Security Solution] Invalid rule name is displaying in raw events under alerts table"
**Describe the bug**
Invalid rule name is displaying in raw events under alerts table

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to Alerts page under the security tab
2. Navigate to rule tab and click on create say custom query
3. Change the preview result while creating the rule
4. After created the rule

[2021-12-15 11:50] elasticmachine commented on #121290
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-15 11:50] estermv opened #121291 "[Unified Observability] Add observability status component to the overview page"
## Summary

Add a component that is going to be the basis for the new Observability status component:

<img width="960" alt="Desktop - 2" src="https://user-images.githubusercontent.com/2249229/146922659-eb5b86e2-0edc-4f60-9edf-233a85527774.png">

## Assumptions
(this assumptions only affect the first implementation)
* There will be three modules or less for each data source
* The behavior for the

[2021-12-15 11:50] elasticmachine commented on #121291
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-15 12:00] claudiopro commented on #121165
#119104 was successfully backported 🎉

I would exclude #120335 from the list cause it depends on a feature PR (#119750) which was blocked and wasn't merged to 8.0 either ahead of feature freeze.

[2021-12-15 12:06] janmonschke commented on #121265
Thanks for checking @karanverma-qasource 👍

[2021-12-15 12:26] jasonrhodes commented on #121269
@mgiota thanks for bringing this up. My preference based on what I understand right now would be:

1. Merge using new parameters field + your fix (or a modified fix if security solution or stack engineers have a better suggestion).
1. Merge using parameters but without fixing the bug, removing the link for 8.0.0 (and hopefully getting an approved fix in for 8.0.1) - this would just be a known bug

[2021-12-15 12:56] elasticmachine commented on #121167
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-15 12:56] joshdover commented on #121244
Looks like we missed this detail in the ILM privilege requirements. This would only affect packages that ship an ILM policy (there are only a couple):

I did a search on which packages are currently shipping a custom ILM policy, and it appears only the APM and Endpoint packages are currently affected based on this search pattern in the package-storage repo.

<details>
<summary>Glob pattern for all

[2021-12-15 13:00] sqren commented on #119975
@jportner Thanks for chiming in!

I don't think this will provide a good user experience. Imagine the user has the following three spaces with separate index settings:

 - Space 1: `apm-foo-*`
 - Space 2: `apm-foo-*`
 - Space 3: `apm-bar-*`

If an ML job is created in Space 1 and "All spaces" is selected, it will also apply to Space 3 which has a totally different data set. We will be showing ML a

[2021-12-15 13:03] mshustov commented on #72880
@vadimkibana @lizozom   Do we have any numbers to justify the impact?

[2021-12-15 13:03] elasticmachine commented on #121244
Pinging @elastic/apm-ui (Team:apm)

[2021-12-15 13:04] mgiota commented on #121269
@jasonrhodes Thanks a lot for your reply, great suggestions! You are right, having to drop old data will get tricky. Option (2) is actually a great idea and an easy fix.

I don't like my fix, because it adds an if condition to check specifically for`kibana.alert.rule.parameters` field name and act accordingly without breaking existing functionality. I'll try to pair with somebody from security tea

[2021-12-15 13:05] joshdover commented on #121244
@kevinlog I'd like to understand the `impact:high` assessment here. What's the impact if this ILM policy doesn't get executed?

[2021-12-15 13:18] Dosant commented on #118494
@sebelga, @mattkime fyi, I am fixing this as part of another bug fix

[2021-12-15 13:25] dej611 commented on #31183
This feature is already supported by Lens `Top values` function. Do you think we can close this issue @stratoula ?

[2021-12-15 13:32] pmuellr opened #121298 "[event log] unable to set some old event log alias to hidden when underlying indices are not hidden"
**Kibana version:** 7.16.0

**Describe the bug:**

Customer sees the following message (and similar related ones) at Kibana start time:

It seems like this is likely coming from the code that changes all the existing event log indices to hidden.  I haven't looked, but I believe this is just an informative message - the event log continues on after logging this error.  Presumably some of the event

[2021-12-15 13:32] elasticmachine commented on #120745
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-12-15 13:32] elasticmachine commented on #120746
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-12-15 13:32] elasticmachine commented on #120747
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-12-15 13:32] elasticmachine commented on #120748
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-12-15 13:33] legrego opened #121299 "Allow pages to only load a subset of plugins"
There are some niche use cases where we do not need to load (or download) the full set of Kibana plugins. Having this ability could reduce page load & initialization times, since there is less code to download, parse, and execute.

This request is also fraught with complexity, so I expect this is not something we would want to do without very careful consideration. This does keep coming up as a re

[2021-12-15 13:33] elasticmachine commented on #121299
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:36] kertal commented on #121074
Closing since it doesn't seem related to Kibana, feel free to reopen and explain a use case for this, maybe it's also more related to Elasticsearch?

[2021-12-15 13:36] #121074 closed

[2021-12-15 13:36] elasticmachine commented on #121064
Pinging @elastic/fleet (Team:Fleet)

[2021-12-15 13:37] elasticmachine commented on #121047
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-15 13:39] elasticmachine commented on #117797
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:39] elasticmachine commented on #117798
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:39] elasticmachine commented on #117799
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:39] elasticmachine commented on #117800
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:39] elasticmachine commented on #117801
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:39] elasticmachine commented on #117802
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 13:40] elasticmachine commented on #115973
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-15 13:41] pmuellr commented on #121298
Quick peek; it looks like this code is not waiting on the promise returned from `asyncForEach()` ... and same for the two calls to `asyncForEach()` below it.  That would explain the message - the code to set the indices to hidden hasn't completed yet, by the time it tries to set the alias to hidden.

https://github.com/elastic/kibana/blob/72e714c9a7e4281a002b9a31175119fa9bde7209/x-pack/plugins/eve

[2021-12-15 13:45] amolnater-qasource commented on #74353
Hi @joshdover
We have reported issue related to assets on 8.0 Kibana self-managed environment at https://github.com/elastic/kibana/issues/121260

Further we have done some exploratory upon the same:
- We have covered integration Assets, Dashboards and Package upgrades.
- We observed no changes on Fleet with Spaces.

Could you please share if there are any other testing areas for the spaces on inte

[2021-12-15 13:59] jportner commented on #119975
Nit: let's please try _not_ to use the term "space agnostic", that means something else entirely when it comes to Saved Objects (those are specific object types that exist _outside of spaces_), and using that term here might confuse other folks who read this thread. I'd prefer the term "shared to all spaces" 👍

That's an interesting idea.

A few things stick out to me:
* This means that users woul

[2021-12-15 14:01] juliaElastic commented on #108456
@mostlyjason I added my comment before seeing the design initially, updated now to reflect my understanding after seeing the designs.

[2021-12-15 14:06] #118899 closed

[2021-12-15 14:21] juliaElastic commented on #118145
@jeanfabrice how can we verify the fix locally?

[2021-12-15 14:27] michaelolo24 commented on #121290
@deepikakeshav-qasource can you provide a video walking through the steps. Just a little confused about what the bug actually is here. Thanks!

[2021-12-15 14:29] ghudgins opened #121309 "[Lens] Show visualization "skeleton" on empty/loading visualizations"
**Describe the feature:**
Instead of an icon an a message, show an empty visualization when there is no data.

**Describe a specific use case for the feature:**
_Empty data case_
When I am on a dashboard
And I have selected a date range that has no data
I need to see empty visualizations that represent the visualizations I should see
So I can visually see the structure of the dashboard even if the

[2021-12-15 14:29] elasticmachine commented on #121309
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-15 14:41] klacabane commented on #120825
Regarding Logstash section, we're looking for [`stats` or `logstash_stats`](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/logstash/get_logstash_for_clusters.ts#L59) metricset names but the metricbeat's logstash module only produces `node` and `node_stats`, did that also change since we initially implemented mb support ?

[2021-12-15 14:46] hop-dev commented on #74353
@joshdover @mostlyjason The remaining work for this issue is to handle showing assets across spaces. E.g User has installed the apache integration in space2, and I view the assets tab in the default space.
We should have a way of communicating to the user that there are assets installed in a different space than the current one.

### Option 1 - Directly link to assets in a different space

We coul

[2021-12-15 14:51] paulb-elastic commented on #121125
@lucasfcosta, out of interest, do you see the URL as a required field for the journey then?  I know the script recorder requires a URL from a user flow perspective, but I’m asking more in terms of if you’re thinking this should be a property of the `journey()` construction, as opposed to a `goto()` script in a step?

If it goes as a property of the journey, would you suggest we auto generate the `

[2021-12-15 14:51] elasticmachine commented on #117791
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:51] elasticmachine commented on #117792
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:51] elasticmachine commented on #117793
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] elasticmachine commented on #117794
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] elasticmachine commented on #117795
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] elasticmachine commented on #117796
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] michaelolo24 commented on #117703
@MadameSheema can we confirm this fix in the 8.0 testing? Thanks!

[2021-12-15 14:52] elasticmachine commented on #117787
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] elasticmachine commented on #117788
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] elasticmachine commented on #117789
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:52] elasticmachine commented on #117790
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:53] elasticmachine commented on #117784
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 14:54] jeanfabrice commented on #118145
@juliaElastic from a unit test framework perspective? I don't know.
Quick and dirty, `docker run -e XPACK_FLEET_REGISTRYPROXYURL=http://proxy:8080 docker.elastic.co/kibana/kibana:7.15.1` should show references to the proxy in the Kibana logs

[2021-12-15 14:54] sqren commented on #119975
That's a good point. We might have to do that to reduce complexity on our side.
However, I hope we can avoid it. Ideally users without global access should still be able to create ML jobs for the spaces they have access to. In that case the ML job would be isolated to those spaces.

Changing the index setting should restart the ML jobs with the new settings.

In general I think we need to try hard

[2021-12-15 14:54] elasticmachine commented on #121225
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-15 14:58] thomasneirynck commented on #103141
cc @maksimkovalev

[2021-12-15 15:02] droberts195 opened #121313 "Fix upgrade assistant tracking of ML job model snapshot upgrade status"
**Kibana version:**

7.16.1

**Elasticsearch version:**

7.16.1

**Describe the bug:**

Upgrade assistant currently uses the Elasticsearch tasks API to determine whether ML job model upgrades are running.  Unfortunately this method is not robust, especially on multi-node clusters.  (This is probably why it wasn't noticed in the initial testing, which was presumably using single node clusters on de

[2021-12-15 15:02] elasticmachine commented on #121313
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-15 15:05] r4zr32d3k1l commented on #118684
Here are the results of our discussion with Patryk.

- We have to pre-select the first type: “security” and stay with KeyPadMenuItem. Because in most cases there would be only one option available.
- We have to update this popup in every page, but it’s can be a different issue that can be done later.

[2021-12-15 15:07] thomasneirynck commented on #103141
Discussed offline with @Maksimkovalenk

First step:

- prototype
     - Add drop-down control to the timeslider
           - the drop down should have following options:
               - auto: -> this is the current behavior
               - 1 hour: preset
               - 1 day: preset
               -  ....
            - the presets should make sense
                  - cannot have "impossible"

[2021-12-15 15:09] r4zr32d3k1l commented on #118684
Also here the pre for dev mockup.
https://www.figma.com/file/O1K0rcWowk9SXzXaOr3FmY/Osquery-userflows?node-id=814%3A334213

[2021-12-15 15:16] davidkyle opened #121314 "[ML] Make file upload compatible with inference ingest processors"
PyTorch inference is slower than most other ingest processors, to help with bulk ingest a queue is implemented to hold pending requests as they wait to be processed. Once that queue is full any further requests are rejected until space is available in the queue again. For a single ml node the queue size defaults to 1024, if a bulk upload contains more documents the remainder are rejected. When usi

[2021-12-15 15:17] elasticmachine commented on #121314
Pinging @elastic/ml-ui (:ml)

[2021-12-15 15:18] dominiqueclarke commented on #102602
Tested in 8.0, this error is not displaying. This is because the error contract seems to have changed. The error is no longer of type `HTTPFetchError`, but is normal `Error` object. This has not be yet retested in 7.16.

[2021-12-15 15:23] MadameSheema commented on #117703
@karanbirsingh-qasource can you please validate this fix on 8.0.0? Thanks :)

[2021-12-15 15:27] joshdover commented on #121244
Looking at the APM ILM policies it appears all but one of them use this policy:

[code]

And the `traces-apm.sampled-*` data streams use this policy:
[code]

### Impact
- Most APM data streams are not going to rollover their backing indices which will cause the backing index to increase in size, most likely hurting query performance in the APM UI. Since the policy does not move data to cheaper dat

[2021-12-15 15:28] miltonhultgren commented on #98010
After working on "Check and warn about high cardinality of the grouping field when creating the job." for a few days and speaking with @weltenwort, my conclusion is that it is hard to offer meaningful up front warnings since the final performance will depend on the cluster size and load during execution (which also raises the question of when to perform such health checks).

Simply having a high c

[2021-12-15 15:29] thomasneirynck commented on #103141
@ThomThomson raised another issue.

Should the preset be respected when the time-range changes? e.g. a user has selected a by-day interval, and then changes the time-range to something in order of years.

[2021-12-15 15:37] legrego commented on #18258
Performing some long overdue cleanup. This used to be an internal ticket (back when x-pack was closed source) to track the work on https://github.com/elastic/kibana/issues/9583. Now that this is no longer the case, I am closing this one in favor of https://github.com/elastic/kibana/issues/9583

[2021-12-15 15:37] #18258 closed

[2021-12-15 15:40] sebelga commented on #120137
If we add a second reindexing phase we don't need to create an alias, right?

Adding a second reindexing phase and keeping an index seems the least intrusive change for our users. It would initially be less performant than a "rename in place API" but we'll update and use that API once it is ready. Thoughts @cjcenizal ?

[2021-12-15 15:43] #118145 closed

[2021-12-15 15:52] #43963 closed

[2021-12-15 15:52] #76245 closed

[2021-12-15 15:52] #77277 closed

[2021-12-15 15:54] afharo commented on #117787
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 15:54] #117787 closed

[2021-12-15 15:58] afharo commented on #117789
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 15:58] #117789 closed

[2021-12-15 15:58] sebelga commented on #118494
Thanks @Dosant. FYI there are some changes made in https://github.com/elastic/kibana/pull/110223 (in the preview context ) that might have fixed the current issue but I haven't checked. Maybe it would be good to pull the branch and double check.

[2021-12-15 15:59] afharo commented on #117790
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 15:59] #117790 closed

[2021-12-15 15:59] sebelga commented on #118494
@Dosant I just see your PR. Forget about my last comment 😊

[2021-12-15 16:00] MichaelMarcialis commented on #120682
@nreese: Based on the feedback from the #maps Slack channel and my initial instincts, I think it'd be best if we proceed with the [region map icon](https://drive.google.com/file/d/1IQy4kIoTIWbnXcSCDrdhB7AXa4RecYlf/view?usp=sharing) below (as it both addresses your feedback and reduces down better than the other options). Let me know if you have any questions/concerns. Otherwise, feel free to use.

[2021-12-15 16:00] flash1293 commented on #31183
Closing this issue because this is supported in Lens visualizations. In Lens individual percentiles are individual dimensions and each of them can be picked to rank the terms/top values funcion.

*Since this would require a large development effort to implement in Visualize/TSVB and our efforts are focused on extending the functionality of Lens in easy-to-use and consistent way. We aim to provide

[2021-12-15 16:01] afharo commented on #117788
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:01] afharo commented on #117786
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:01] #117786 closed

[2021-12-15 16:04] afharo commented on #117784
We agreed to close these issues for now until we see this becomes a recurring issue.

[2021-12-15 16:04] #117784 closed

[2021-12-15 16:04] afharo commented on #117785
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:05] afharo commented on #117795
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:05] #117795 closed

[2021-12-15 16:05] afharo commented on #117796
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:05] #117796 closed

[2021-12-15 16:06] afharo commented on #117793
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:06] #117793 closed

[2021-12-15 16:06] afharo commented on #117794
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:06] #117794 closed

[2021-12-15 16:07] nreese commented on #103141
The behavior should be the same as when bucketing by time range - which is the preset will be respected as long as it does not create too many buckets. In that case, auto will be used.

[2021-12-15 16:07] afharo commented on #117791
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:07] #117791 closed

[2021-12-15 16:07] afharo commented on #117792
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:07] #117792 closed

[2021-12-15 16:09] MichaelMarcialis commented on #120883
As mentioned in today's meeting, my initial instinct is that we should be consistent with design/placement of these buttons that transition a user's experience across applications. As such, perhaps we can place and style this maps button similar to how we are planning to do in the [designs for transition between TSVB and Lens](https://www.figma.com/file/1HRtOj6EyishYiULGqRRe8/TSVB-Open-In-Lens-%2F

[2021-12-15 16:09] afharo commented on #117801
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:09] #117801 closed

[2021-12-15 16:12] afharo commented on #117802
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:12] #117802 closed

[2021-12-15 16:12] afharo commented on #117799
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:12] #117799 closed

[2021-12-15 16:13] afharo commented on #117798
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:13] #117798 closed

[2021-12-15 16:13] #117800 closed

[2021-12-15 16:14] afharo commented on #117797
Same issue as in #117784:
[code]

Closing for now.

[2021-12-15 16:14] #117797 closed

[2021-12-15 16:15] #117785 closed

[2021-12-15 16:17] kobelb commented on #99736
@mshustov I'm still seeing multiple HTTP Agents being constructed. Whenever we instantiate a new instance of `@elastic/elasticsearch#Client` a new HTTP Agent is being created. The following are the code-paths I've found that do so:

https://github.com/elastic/kibana/blob/ec0f58208f9de37ac5c6d5e1bbe3061f889de143/src/core/server/elasticsearch/client/cluster_client.ts#L68

https://github.com/elastic/

[2021-12-15 16:18] #119818 closed

[2021-12-15 16:19] #119821 closed

[2021-12-15 16:19] #108587 closed

[2021-12-15 16:22] qn895 opened #121323 "[ML] Data frame analytics wizard adds invalid fields when switching between JSON editor and UI editor"
**Kibana version:** 7.16.0, 8.0.0-beta

**Describe the bug:**
When switching a cloned job back and forth between JSON editor and UI editor, the analyzed fields adds `null` or `""` which are invalid

**Steps to reproduce:**
1.  Clone the `glass_outlier_detection_1` and then switching back to UI editor
2. See errors about analyzed fields

**Expected behavior:**

**Screenshots (if relevant):**

https

[2021-12-15 16:22] elasticmachine commented on #121323
Pinging @elastic/ml-ui (:ml)

[2021-12-15 16:22] #119822 closed

[2021-12-15 16:22] #119824 closed

[2021-12-15 16:23] #119815 closed

[2021-12-15 16:23] #119810 closed

[2021-12-15 16:23] #119814 closed

[2021-12-15 16:23] #119812 closed

[2021-12-15 16:24] #119813 closed

[2021-12-15 16:24] #119811 closed

[2021-12-15 16:27] afharo commented on #119806
@cjcenizal after digging into these errors, it looks like there was an issue with the ES snapshot startup process... It occurs only during the `beforeAll`, so all the tests in the suite failed for the same reason.

It looks like a one-off situation, so we're closing them for now.

[2021-12-15 16:30] mostlyjason commented on #74353
Thanks for writing this up Mark! @alexfrancoeur do you have any input on the UX here, particularly if any other parts of Kibana have links to assets in other spaces? It seems like option 1 would reduce the number of clicks a user needs to make, but a link that changes the user to another space may be unusual. It'd also be more complex when we support installing assets in multiple spaces in the fut

[2021-12-15 16:30] mshustov commented on #116616
@cjcenizal Is the Stack Management team going to work on the problem? Can I remove `team:Core` label then?

[2021-12-15 16:51] dominiqueclarke opened #121327 "[Uptime] [Elastic Synthetics Integration] Remove timeout option for browser monitors"
The Elastic Synthetics Integration exposes the timeout field for browser monitors. This field should be removed for browser monitors, as it is not currently supported.

Timeout should not appear when browser monitor is selected, nor should timeout be saved on the integration policy for browser monitors.

[2021-12-15 16:51] elasticmachine commented on #121327
Pinging @elastic/uptime (Team:uptime)

[2021-12-15 16:58] simitt commented on #121244
The `traces-apm.sampled-*` datastream is used for a non-GA feature (tailbased sampling), therefore this seems less urgent. But having all other apm indices grow without rollover is very concerning and will cause quite some user pain. Is there any workaround at the moment that we can propose, such as manually updating the ILM policy with a user that has enough privileges for the rollover to succeed

[2021-12-15 17:01] joshdover commented on #121244
Yes I believe the ILM policy would just need to saved again in the ILM UI by a user with `manage` permissions to these data streams, but this needs to be tested. This would also need to happen again after package upgrades until this issue is resolved 😞

[2021-12-15 17:19] dominiqueclarke opened #121330 "[Spike] [Uptime] Investigate improving monitor status alert query to better support browser monitors"
Per the discussion in https://github.com/elastic/uptime/issues/418, investigate the following options for improving browser monitor alerts

- Explicitly check for up statuses. Draft PR is available here: https://github.com/elastic/kibana/pull/100339
- Check for the absence of `heartbeat/summary` documents before resolving alerts

[2021-12-15 17:19] elasticmachine commented on #121330
Pinging @elastic/uptime (Team:uptime)

[2021-12-15 17:21] elasticmachine commented on #121268
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-15 17:22] elasticmachine commented on #121208
Pinging @elastic/kibana-core (Team:Core)

[2021-12-15 17:23] elasticmachine commented on #121172
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-15 17:24] elasticmachine commented on #121041
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-15 17:24] elasticmachine commented on #121039
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-15 17:26] elasticmachine commented on #120996
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-15 17:26] dej611 commented on #120387
If we allow panel color fill (which I agree it's pretty useful), do you think that this "highlight" version would still be useful?

[2021-12-15 17:27] elasticmachine commented on #120879
Pinging @elastic/apm-ui (Team:apm)

[2021-12-15 17:28] elasticmachine commented on #120878
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-15 17:32] flash1293 commented on #121268
@th0ger Thanks for reporting this. Could you export the visualization (or the containing dashboard) in question via saved object management and post it here? This will help with the troubleshooting

[2021-12-15 17:32] kertal commented on #121047
thx for reporting, closing since it's a duplicate of #121183, we will fix it, for sure

[2021-12-15 17:32] #121047 closed

[2021-12-15 17:37] dominiqueclarke commented on #116368
Post FF testing LGTM. Tested with 8.0 branch.

<img width="1111" alt="Screen Shot 2021-12-15 at 12 36 39 PM" src="https://user-images.githubusercontent.com/11356435/146236821-6aa7bb69-6ac1-4a30-92ef-b5aae4a27408.png">
<img width="991" alt="Screen Shot 2021-12-15 at 12 36 21 PM" src="https://user-images.githubusercontent.com/11356435/146236824-392f0524-89c0-4f31-a4c0-5de34e8e475e.png">

[2021-12-15 17:40] alvarezmelissa87 commented on #121323
This fix (https://github.com/elastic/kibana/pull/120816) was merged and backported - looks like this build is just slightly older and doesn't contain the fix. Confirmed it's not present in main branch.

[2021-12-15 17:40] #121323 closed

[2021-12-15 17:45] MadameSheema commented on #121277
@monina-n can you please take a look to the above issue? Thanks

[2021-12-15 17:49] MadameSheema commented on #121279
@monina-n can you please review the above issue? Thanks :)

[2021-12-15 17:51] MadameSheema commented on #121287
@monina-n @yiyangliu9286 can you please take a look to the above issue? Thanks :)

[2021-12-15 17:52] dominiqueclarke commented on #118404
@elasticmachine merge upstream

[2021-12-15 17:56] cjcenizal opened #121333 "Upgrade Assistant status endpoint needs to also check system index migration"
Cloud depends upon UA's `/status` API to check whether or not the user can upgrade to 8.x. Currently, the API determines this status by verifying there are no remaining critical ES or Kibana deprecations:

https://github.com/elastic/kibana/blob/2fc9ff114b9fcfbd2e7dbdda04c0a9c888068f68/x-pack/plugins/upgrade_assistant/server/routes/status.ts#L43

We need to update this logic to also verify that sys

[2021-12-15 17:56] elasticmachine commented on #121333
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-15 17:56] cjcenizal commented on #121333
This needs to be completed for 7.17.

[2021-12-15 18:01] pmuellr opened #121334 "[alerting][docs] update docs to reference CCS requirements around API keys"
A user ran into a situation of creating an index threshold rule against a CCS index, where the CCS query only worked under some non-intuitive scenarios.  Turns out this is caused by CCS and API key interaction.  So we'll need to update some docs, noting the configuration required to make this work.  Since it potentially affects all rule types, the doc probably needs to go in a general place (perha

[2021-12-15 18:02] elasticmachine commented on #121334
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-15 18:04] ghudgins opened #121335 "[Lens] Limit top values & filters on waffle visualizations"
**Describe the feature:**
Limit the number of top values & filters allowed in waffle visualizations

**Describe a specific use case for the feature:**
Mitigate issues like this one which stem from how waffle calculates 1% bins:
https://github.com/elastic/elastic-charts/issues/1516

[2021-12-15 18:04] elasticmachine commented on #121335
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-15 18:43] #119853 closed

[2021-12-15 18:52] janmonschke commented on #121265
Can you check if the issue is fixed in 8.0? The fix should have just been merged.

[2021-12-15 18:55] nreese commented on #89928
Closing, showMapVisualizationTypes removed in 8.0

[2021-12-15 18:55] #89928 closed

[2021-12-15 18:56] EricPSU commented on #48687
Is there a reason why this ticket hasn't been merged into [17888](https://github.com/elastic/kibana/issues/17888)?  That ticket seems to include this scope and I'd prefer to only track one ticket :)

[2021-12-15 19:01] EricPSU commented on #17888
I see this was at one time tentatively scheduled for the 7.14 release, but that obviously didn't happen.  Is there a timeline for this issue or is it on any future roadmap?  This ticket was opened in 2017 and there was a lot of activity at the end of 2020 so it looked promising, but now we've gone all of 2021 without any meaningful discussion :(

[2021-12-15 19:02] legrego commented on #48687
@EricPSU I've thought about merging it into #17888 before, but I decided to leave it here for now because it has so much interest, and is probably easier to search for in our sea of `5k+` open issues.

There's also a chance that we will tackle some of these settings before others, so having dark mode tracked separately lets us send a clearer signal when this specific setting is configurable on a p

[2021-12-15 19:05] klacabane opened #121346 "Stack monitoring.logstash - 8.0 compatibility"
This ticket tracks the changes required to make the SM logstash section compatible with metricbeat 8.x.

- [x] https://github.com/elastic/beats/pull/29625
- [x] https://github.com/elastic/elasticsearch/pull/82152
- [x] support metricbeat nested `logstash.node.stats` path in every logstash queries https://github.com/elastic/kibana/pull/122177

[2021-12-15 19:05] elasticmachine commented on #121346
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-15 19:07] klacabane commented on #121346
For the SM Logstash section, we're looking for [`stats` or `logstash_stats`](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/logstash/get_logstash_for_clusters.ts#L59) metricset names but the metricbeat's logstash module only produces `node` and `node_stats`, did the metricset name change since we initially implemented mb support ? @chrisronline @sayden Do you have

[2021-12-15 19:08] legrego commented on #17888
@EricPSU we are actively making progress on a number of prerequisites in this space, as this is one of my team's top priorities. I can't offer a timeline, but I can promise you this hasn't been forgotten.

[2021-12-15 19:18] klacabane commented on #121346
With a couple of aliases and queries update to search the appropriate metricsets the UI eventually loads.

There is however a failure in the Pipeline viewer - it relies on a `type: nested` pipelines object which is defined in an ECS path, [with a non-ecs path `logstash_stats.pipelines` that we actually query](https://github.com/elastic/kibana/blob/main/x-pack/plugins/monitoring/server/lib/logstash

[2021-12-15 19:19] EricPSU commented on #48687
@legrego I support whatever gets per user themes implemented quicker :)  I'd be happy with a magic toggle under the user's profile menu for dark mode
<img width="142" alt="kibana-user-profile" src="https://user-images.githubusercontent.com/25805189/146250999-a892442f-4f8a-4e7d-8f77-61712e675462.PNG">

[2021-12-15 19:23] cjcenizal commented on #116616
@mshustov Done!

[2021-12-15 19:23] 1Copenut opened #121347 "[Discover][KEYBOARD]: Documents selected button should receive keyboard focus when the popover menu is closed"
**Steps to reproduce**

1. Log into a Kibana instance with the Discover data grid turned on
2. Navigate to the data grid and check two or three document checkboxes with the `SPACE` key
3. `SHIFT + TAB` to the button "3 documents selected" and press `ENTER` to open the menu
4. Press `ESC` to close the meu. Press `TAB` a few more times to verify focus was returned to the top of the page.

<img width

[2021-12-15 19:23] elasticmachine commented on #121347
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-12-15 19:23] elasticmachine commented on #121347
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-15 19:26] tsullivan commented on #71753
This investigation issue can be closed via https://github.com/elastic/kibana/issues/117418#issuecomment-965609991

[2021-12-15 19:26] #71753 closed

[2021-12-15 19:26] muneebsajjad commented on #121164
@formgeist for an early contributor what should be the starting point in debugging this issue!, moreover do we have any high level architecture diagram of the system to understand how multiple modules/components are integrated together... which might help to understand the codebase as well.

[2021-12-15 19:35] kibanamachine commented on #104249
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5557#3afb67b0-a018-43e5-9457-fe5ef9cbf3b5)

[2021-12-15 19:46] dominiqueclarke opened #121348 "[Uptime] Explore data button on Uptime Overview filters by a specific monitor"
**Kibana version**: 7.16.1

**Elasticsearch version**: 7.16.1

**Original install method (e.g. download page, yum, from source, etc.)**: Cloud deployment

**Description of the problem including expected versus actual behavior**:

When navigating to Uptime, clicking through to a monitor's details page, then clicking the `Explore data` button results in only one monitor being shown. The URL appears

[2021-12-15 19:47] elasticmachine commented on #121348
Pinging @elastic/uptime (Team:uptime)

[2021-12-15 19:48] kibanamachine commented on #106650
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5559#bf9c10ad-f4c1-4300-8f54-f5caa2f48473)

[2021-12-15 19:51] ryankeairns commented on #103141
@miukimiu , et al, I see the Figma file contains some 'Milestones' one of which had a button (upper left) for what appears to be settings of some sort. Could this feature live under that or was this penciled in for something other?

<img width="577" alt="Screen Shot 2021-12-15 at 1 49 14 PM" src="https://user-images.githubusercontent.com/446285/146255387-303fa8cf-217d-4f29-9eb5-c027d3669177.png">

[2021-12-15 20:12] kevinlog commented on #121244
@joshdover responding to an earlier comment and summarizing an offline conversation:

The ILM for `logs-endpoint.collection-diagnostic` is purposefully fairly quick so that we don't keep data around that is for use by telemetry and not by users directly.  We want to keep the data footprint small so that we don't take up too much space.  There isn't any product impact outside of the error showing u

[2021-12-15 20:13] snide commented on #120277
@monina-n added these. feel free to just edit it directly whenever you need.

[2021-12-15 20:23] cjcenizal commented on #120137
We discussed this sync, so I'll record what we discussed here for visibility.

Right.

Agreed. The main concern is cost, since reindexing incurs data transfer costs.

[2021-12-15 20:25] liza-mae commented on #119064
It still happens periodically

[2021-12-15 20:33] Heenawter opened #121352 "[Controls] Allow the input controls callout banner to be permanently dismissed."
**Describe the feature:**

Currently, the input controls callout banner is permanently placed at the top of the dashboard as follows:

![image](https://user-images.githubusercontent.com/8698078/146256937-7b767caa-eae1-4cad-99b0-f56e8a6261e9.png)

Rather than having this banner always present, which would be an undesirable distraction for users, we should allow it to be permanently dismissed / remo

[2021-12-15 20:33] elasticmachine commented on #121352
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-15 20:36] nreese commented on #89378
Closing, can not reproduce issue.

[2021-12-15 20:36] #89378 closed

[2021-12-15 20:44] jportner commented on #119975
So, Kibana's current authorization model demands that operators assign ES index privileges, ES cluster privileges, and Kibana privileges separately. I can appreciate that this isn't ideal for solutions, though. We have an open issue for supporting "composite features" in Kibana that automatically include the appropriate ES privileges: #96598

In Fleet's case, we are implementing some changes so th

[2021-12-15 20:54] TinaHeiligers commented on #103231
This test seems to be passing on the latest hourly builds for 7.16 and 8.0. Based on the history of the flakiness here, we should re-evaluate the testing strategy once we have more stats.

[2021-12-15 20:58] cjcenizal opened #121354 "Helping users deal with UA-reindexed indices"
Relates to:
* https://github.com/elastic/kibana/issues/120137
* https://github.com/elastic/kibana/issues/121220

When Upgrade Assistant reindexes 6.x indices, it renames them and prefixes them. This can be disruptive for users in a few ways:
* Indices are now presented different in Index Management
* Delete Index requests will fail if they use the original index name

This could also be confusing

[2021-12-15 20:58] elasticmachine commented on #121354
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-15 21:20] #114539 closed

[2021-12-15 21:24] #104097 closed

[2021-12-15 22:08] #120667 closed

[2021-12-15 23:03] tylersmalley commented on #31181
This should be much easier to do now with [managed plugins](https://www.elastic.co/guide/en/elasticsearch/plugins/current/manage-plugins-using-configuration-file.html).

[2021-12-15 23:09] cuff-links commented on #115421
This work has been merged.

[2021-12-15 23:09] #115421 closed

[2021-12-15 23:33] #117084 closed

[2021-12-15 23:36] kibanamachine opened #121363 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/documents_source/top_hits·js - maps app documents source geo top hits split on string field configuration should update top hits when configation changes"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5570#76322113-dca9-41a2-93ff-335ac35aad5a)

[2021-12-15 23:40] TinaHeiligers commented on #114053
Legacy imports aren't supported in 8.0 and a couple of related tests were [deleted](https://github.com/elastic/kibana/issues/111004).

Since legacy format imports are theoretically still supported in 7.16, there isn't an "easy" option to delete them from those branches. We'll need to get them re-enabled.

[2021-12-15 23:41] #120743 closed

[2021-12-15 23:52] tsullivan opened #121365 "[Reporting] Add `isDeprecated: true` for v1 PDF and PNG export types."
**Kibana version:** 8.1

PNG and PDF export types were reimplemented in #101048. The original implementation needs to be deprecated while support is continued for backwards compatibility.

Requirements:
1. Rename JobParamsPDF to JobParamsPDFDeprecated
2. Rename JobParamsPNG to JobParamsPNGDeprecated
3. Add `isDeprecated: true` in the create job functions of the two export types

[2021-12-15 23:53] kibanamachine commented on #113987
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5569#f2ed9462-0c42-465b-b273-bc94bce32e10)

[2021-12-16 00:03] elasticmachine commented on #121365
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-16 00:39] tsullivan opened #121368 "[Reporting] update pdfmake library"
**Kibana version:** 8.1

The current stable version of PDFMake is 0.2.4 (released 2021-11-10).  We are still on the 0.1.x branch of this library.

[2021-12-16 00:40] elasticmachine commented on #121368
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-16 00:40] elasticmachine commented on #121368
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-12-16 00:40] tsullivan commented on #118484
Related: https://github.com/elastic/kibana/issues/121368

[2021-12-16 03:47] kibanamachine commented on #118827
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5581#231e5afb-2b44-48c9-872c-c117537431d4)

[2021-12-16 04:47] kibanamachine opened #121373 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples·ts - apis Machine Learning jobs Categorization example endpoint - invalid, too many tokens."
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5584#6ca7f945-270c-4497-b675-f40f9394932d)

[2021-12-16 05:46] #118906 closed

[2021-12-16 06:11] deepikakeshav-qasource commented on #121290
Hi  @michaelolo24 ,

Please find the below video and steps:

**Steps:**

1. Navigate to rules tab.
2. click on create the custom rule
3. Enter any query lets say: host.name: *
4. Click on preview results button and change the time "last hour" to "last day"
5.  Now create the rule and trigger some alerts
6. Navigate to alerts table.
7. Click on "expand icon" under the rule column.
8. click on "Show

[2021-12-16 06:25] karanbirsingh-qasource commented on #117703
sure @MadameSheema

Validated on `8.0.0-SNAPSHOT` having commit `474d83d2bbc5dbe28ac4b4d2e9ddcecd434671fa` and on it issue is still occuring 🔴 , will regress the issue on next 8.0.0-SNAPSHOT Commit.

**Build Details:**
[code]
**Screen-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/146319125-094c6d46-4dbf-4385-8e4f-59b26b4fb2d1.png)

![image](https://user-images.githubusercon

[2021-12-16 06:33] kibanamachine commented on #118728
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5591#d92ac06c-e552-467c-bdfe-2a23d60b561b)

[2021-12-16 06:33] karanbirsingh-qasource opened #121374 "[Security Solution][ Alert List]User focus auto moved to Filter in for Timestamp column value expand cell content"
**Describe the bug**
User focus auto moved to Filter in for Timestamp column value expand cell content

**Build Details**

[code]

**Pre-Conditions**
- Few Alerts should be generated on Kibana

**Steps**
- Login to Kibana
- Navigate to Alert Page
- Click on expand cell content for any timestamp column value

![image](https://user-images.githubusercontent.com/59917825/146319979-566f2625-72c3-432a-8

[2021-12-16 06:33] elasticmachine commented on #121374
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 06:39] elasticmachine commented on #121373
Pinging @elastic/ml-ui (:ml)

[2021-12-16 06:44] pheyos commented on #121373
Failure log:
[code]

[2021-12-16 07:01] matschaffer commented on #121346
I get a 404 on https://github.com/klacabane/metrics-mappings-to-monitoring/blob/main/templates/logstash-template.json#L276-L278 so I might be missing some context. Have you checked if the view works with 7.x metricbeat monitoring? I wonder if it might already be broken.

What did you try exactly? In general nested type support can be a real pain to work with. If we can't alias into it we might nee

[2021-12-16 07:10] karanverma-qasource commented on #121265
Hi @janmonschke

We have validated the above issue on current 8.0.0 cloud build and it's still occurring. We will validate it again on next 8.0.0 commit.

**Build details:**
[code]

**Screen-Records:**

https://user-images.githubusercontent.com/91867110/146323930-9e1947b4-05ae-4f2b-9e35-a9bfb4fb545f.mp4

Thanks !

[2021-12-16 07:13] manishgupta-qasource commented on #121374
Reviewed & assigned to @MadameSheema

[2021-12-16 07:28] karanverma-qasource commented on #121287
Hi Team,

We observe that under Timeline template drop-down while creating a rule it is mentioned **"Select which timeline to use when investigating generated alerts"** but in drop-down we can select only Timeline templates.

**Screen Records:**

https://user-images.githubusercontent.com/91867110/146325811-256ef176-5a38-41d8-8731-ade707944d01.mp4

Thanks !

[2021-12-16 08:12] mbondyra opened #121376 "[Lens] Move gauge to expression"
**Describe the feature:**
Gauge expression should land in a separate plugin. https://github.com/elastic/kibana/pull/120623

Extra small things that we want to target:

1. Allow the dimensions to be highlighted when there's a visualization error that comes from specific dimensions. PR with work started here: [DONE](https://github.com/elastic/kibana/pull/121201)

4. Ticks on bands could propose a he

[2021-12-16 08:12] elasticmachine commented on #121376
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-16 08:12] #121376 closed

[2021-12-16 08:20] karanbirsingh-qasource opened #121377 "[Security Solution]inspect index pattern not aligned with data view index pattern"
**Describe the bug**
inspect index pattern not aligned with data view index pattern

**Build Details**
[code]

**Pre-Conditions**
- Few Alerts should be generated on Kibana
- file-beat should be installed on kibana with threat Intel module

**Steps**
- Login to Kibana
- Navigate to Overview page
- click on data view and change it to `metrics-*`
- click on save
- scroll down  and came to threat Int

[2021-12-16 08:20] elasticmachine commented on #121377
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 08:25] mgiota commented on #121269
@jasonrhodes As discussed with @XavierM and @kqualters-elastic we agreed for now to keep my current fix. Here's the conclusion: current code is written to support nested fields and can't tell if an object is a flattened field or nested. Since the existing nested code needs to support current functionality as it is, we decided for now to specially handle the new flattened field the way I handle it.

[2021-12-16 08:30] manishgupta-qasource commented on #121377
Reviewed & Assigned to @MadameSheema

[2021-12-16 08:48] #120622 closed

[2021-12-16 08:50] #19961 closed

[2021-12-16 08:59] karanbirsingh-qasource opened #121380 "[Security Solution][Timeline]Show only detection alert working unsuspectingly"
**Describe the bug**
Show only detection alert working unsuspectingly

**Build Details**
[code]

**Pre-Conditions**
- Few Alerts should be generated on Kibana

**Steps**
- Login to Kibana
- Navigate to Timeline page
- Click on Data view
- click on show only detection alert checkbox and don't click on save button
- click outside the data view modal
- data view get changed to **Alerts** [ **without

[2021-12-16 08:59] elasticmachine commented on #121380
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 09:02] manishgupta-qasource commented on #121380
Reviewed & Assigned to @MadameSheema

[2021-12-16 09:13] karanbirsingh-qasource opened #121381 "[Security Solution]Inspect Icon Index pattern issue for Raw Event"
**Describe the bug**
Inspect Icon Index pattern issue for Raw Event

**Build Details**
[code]

**Pre-Condition**
- Few Alerts should be generated on Kibana

**Steps**
- Login to Kibana
- Navigate to Alert Page
- click on show top over any table value like rule.name
- change the detection alert filter to raw event
- click on inspect icon
- observed that inspect pattern is not retrieved and some wen

[2021-12-16 09:13] elasticmachine commented on #121381
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 09:14] elasticmachine commented on #121363
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-16 09:26] manishgupta-qasource commented on #121381
Reviewed and assigned to @MadameSheema

[2021-12-16 09:37] karanverma-qasource opened #121382 "[Security Solution] Inspect icon is not clickable under timeline when timeline is created with EQL query."
**Describe the bug:**
Inspect icon is not clickable under timeline when timeline is created with EQL query.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Beats should be installed

**Steps to reproduce:**

1. Navigate to timelines under security tab.
2. Click on create timeline.
3. Enter the name a

[2021-12-16 09:37] elasticmachine commented on #121382
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 09:38] karanverma-qasource opened #121383 "[Security Solution][Question] Custom query rule is getting created and successfully run with wrong query."
**Describe the Question:**
Custom query rule is getting created and successfully run with wrong query.

**Kibana/Elasticsearch Stack version:**
[code]
**Preconditions**

1. Elasticsearch should be up and running
2. Kibana should be up and running
3. Beats should be installed

**Steps to reproduce:**

1. Navigate to rules tab under security.
2. Click on Create rule button.
3. Select the custom quer

[2021-12-16 09:38] elasticmachine commented on #121383
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 09:40] elasticmachine commented on #120821
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-16 09:41] elasticmachine commented on #115327
Pinging @elastic/kibana-core (Team:Core)

[2021-12-16 09:42] elasticmachine commented on #117783
Pinging @elastic/kibana-core (Team:Core)

[2021-12-16 09:56] #120752 closed

[2021-12-16 09:57] pgayvallet commented on #108346
The design POC proposed in https://github.com/elastic/kibana/pull/120677 has been validated as being sufficient for the needs of @elastic/kibana-security, and the approach did not receive any blocking feedback, so I guess this settles the design phase.

The implementation phase has been prioritized into our 'next sprint' queue, so we should start it in the next few weeks

[2021-12-16 09:57] elasticmachine commented on #120760
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-16 09:58] elasticmachine commented on #120782
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-16 10:05] kertal commented on #121263
Thx for reporting this, yes, I can confirm this. Note that there's a workaround, you could use our upcoming document explorer, there it works, you need to disable` doc_table:legacy` in` Advanced settings`
<img width="1010" alt="Bildschirmfoto 2021-12-16 um 11 01 28" src="https://user-images.githubusercontent.com/463851/146350956-e15eff9d-2415-49a0-a5f7-a5bea7fe7c84.png">

no sorting initially when

[2021-12-16 10:28] pgayvallet opened #121384 "`SavedObjectFinder` component disable non-present types from the `type` filter"
The `SavedObjectFinder` client-side component disables types that are not present in current results from the `type` filter

Items from the context menu are disabled with this condition:

https://github.com/elastic/kibana/blob/f1ea4794e6b0f57199f0af0eb567e9f4530bce97/src/plugins/saved_objects/public/finder/saved_object_finder.tsx#L416-L418

With this `availableSavedObjectMetaData` state coming fro

[2021-12-16 10:28] elasticmachine commented on #121384
Pinging @elastic/kibana-core (Team:Core)

[2021-12-16 10:28] lucasfcosta commented on #102602
Just as an update, these were the role configuration I was using in my tests:

![Screenshot 2021-12-16 at 10 28 11](https://user-images.githubusercontent.com/6868147/146354654-ec1bf174-c55a-4355-975a-563c01ad7f45.png)

(All read-only)
![Screenshot 2021-12-16 at 10 20 10](https://user-images.githubusercontent.com/6868147/146354664-74c986bd-d638-4544-a3e8-bdf99aabdef5.png)

[2021-12-16 10:39] pgayvallet commented on #99736
Is this really an issue given these agents are sharing the same connection pool?

[2021-12-16 10:41] sebelga opened #121386 "[Rollup] Investigate timeout hack added to UI"
While fixing the CIT of Rollup (https://github.com/elastic/kibana/pull/121144) I realised that we have in place a custom timeout to "avoid a weird flicker" in the UI. Rollup seems to be the only app requiring this hack, it would be good to investigate why.

Here is where we add the timeout: https://github.com/elastic/kibana/blob/main/x-pack/plugins/rollup/public/crud_app/store/actions/create_job.j

[2021-12-16 10:42] MadameSheema commented on #117703
@karanbirsingh-qasource can you please retest it tomorrow just in case the fix is not included on the snapshot yet? thanks

[2021-12-16 10:42] elasticmachine commented on #121386
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-16 10:43] dannycroft commented on #121238
@bmorelli25 thank you for raising this, we'll take a look at it ASAP _(the team are coming the end of thier on week)_

[2021-12-16 10:46] jsanz commented on #120799
I see this as a natural follow-up to the concept of a default time field in data views but for the spatial dimension; that is, wherever a UI element can benefit from accessing the geospatial aspect of a data view.

* Discover shows a date histogram because there is a default time field, it could very well also show a map.
* Lens could suggest a geospatial representation aggregating by a dragged fi

[2021-12-16 10:51] miltonhultgren commented on #119491
@jasonrhodes Let's book something!

My vote is for focusing on the issue of "data generation from mapping", since much of the work in Stack Monitoring would benefit from being able to take 1 of the 3 different mappings we have (which are moving towards a single mapping) and generate data from that, run tests and check that things work.
Beyond that, all of our initiatives around curated views insta

[2021-12-16 10:52] deepikakeshav-qasource opened #121387 "[Security Solution] Add Existing Endpoint Exception causing Rule Failure over upgrading to 8.0.0-SNAPSHOT"
**Describe the bug**
Add Existing Endpoint Exception causing Rule Failure over upgrading to 8.0.0-SNAPSHOT

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 7.16 snapshot
2. Endpoint alerts say ransomware should be triggered
3. Endpoint exception should be added under above rule.
4. Custom rule should be created and alerts should be triggered
5.

[2021-12-16 10:52] elasticmachine commented on #121387
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 10:53] karanbirsingh-qasource commented on #117703
sure, Glo I have kept this bug regress in my bucket

[2021-12-16 10:53] lucasfcosta commented on #112757
I have just post-FF tested this issue by following the steps below, as described in the PR:

1. Run a fresh version `8.0.0-SNAPSHOT` of the stack (I used `elastic-package`)

[2021-12-16 11:01] lucasfcosta commented on #112757
I have just post-FF tested this issue by following the steps below, as described in the PR:

1. Run a fresh version `8.0.0-SNAPSHOT` of the stack (I used `elastic-package`)
2. Access the `Uptime > Monitors` page and confirm it had an empty state
    ![Screenshot 2021-12-16 at 10 57 14](https://user-images.githubusercontent.com/6868147/146359172-243153dd-c8ac-43c2-88cd-468e7dd00f42.png)
3. Create a

[2021-12-16 11:02] amolnater-qasource commented on #74353
Hi @joshdover
We have proposed below test scenarios for Assets tab test within a space:
1. Validate the Assets tab is not broken when a user views an integration from a different space than they were installed in.
2. Validate  the Kibana assets will get deleted if a user uninstalls package from any space.
3. Validate if a user installs a package from a secondary space then the assets should be ava

[2021-12-16 11:02] #120336 closed

[2021-12-16 11:11] #31186 closed

[2021-12-16 11:13] samratbhadra-qasource commented on #108959
Hi @joshdover
We have created the below proposed test-cases for this PR. We will be validating these scenarios whenever the merges will be available and will update accordingly to the testrail once behaviour is confirmed.
- [ ] Validate that the user can successfully uninstall the integration from different space.
- [ ] Validate any duplicate options are not present on assets tab when user upgrade

[2021-12-16 11:14] gbamparop commented on #121238
The form validation error for "Maximum duration for reading an entire request" happens because `ms` is missing. For example, 3600ms is valid. This doesn't fix the other error (`definition for this key is missing) when submitting the form though. Having a look at this

[2021-12-16 11:19] miltonhultgren commented on #117885
@neptunian Can you clarify in the description what is left to be done in this issue (after your PR to reduce the target indices per request)? Some ACs would be helpful!

[2021-12-16 11:20] deepikakeshav-qasource opened #121390 "[Security Solution] Data view option is not displayed under alerts tab after upgrade the build."
**Describe the bug**
Data view option is not displayed under alerts tab after upgrade the build.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running on 7.16 snapshot
2. Alerts should be triggered

**Steps to Reproduce**
1. Upgrade the build from 7.16 snapshot to 8.0.0 snapshot
2. Navigate to alerts tab
3. Observe that data view option is not displaye

[2021-12-16 11:20] elasticmachine commented on #121390
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 11:23] lizozom commented on #117492
@sqren the main part is not only to update the defaults in the loader, but to establish the values that cloud will use to [prepopulate cloud settings](https://github.com/elastic/cloud/issues/91696).

I don't think there's much technical work to be done here, it's just about signing off these values as good enough and sufficient.

@mshustov no dedicated virtual team for this yet. It's being worked

[2021-12-16 11:24] jsanz commented on #121210
This is tricky, thanks for the comprehensive report @nreese.

With our current UI, I prefer the first option because it's explicit for the map creator and avoids map users' issues when filtering. Even informing the user about the problem, the second and third options still make the map impossible to filter when there's nothing they can do about it if they don't have edit permissions.

But the trad

[2021-12-16 11:32] ariel1k2 commented on #120752
@azasypkin My AWS ES cluster (version 7.10) appears to use Elastic and when clicking on the "Help" I am optionally prompted to "Open an issue on GitHub" and am redirected here.

[2021-12-16 11:32] #118494 closed

[2021-12-16 11:32] #121170 closed

[2021-12-16 11:34] miltonhultgren commented on #120377
@jasonrhodes Can you confirm that this:

Is for a future task?

[2021-12-16 11:36] samratbhadra-qasource commented on #113731
## Bug Conversion
 - 01 new testcases are created under the 'Manual Package Upgrades' section:
      - https://elastic.testrail.io/index.php?/cases/view/164190

 Thanks!

[2021-12-16 11:39] samratbhadra-qasource commented on #114591
## Bug Conversion
 - 01 new testcases are created under the 'Manual Package Upgrades' section:
      - https://elastic.testrail.io/index.php?/cases/view/164189

 Thanks!

[2021-12-16 11:42] peteharverson commented on #119007
Closing issue as the ml, transform, and data_visualizer plugins have been switched to the new `KibanaThemeProvider`.

[2021-12-16 11:42] #119007 closed

[2021-12-16 11:50] lucasfcosta commented on #121125
@paulb-elastic addressing your questions:

* (Starting with the one that summarises the further answers) _Or, were you suggesting it just becomes a property for the user to set (albeit we don’t actually do anything with it, other than use it to display the URL for the journey)?_
    Yes, that's exactly it! See the answers below for more details on why I think we should do so.

* _Do you see the UR

[2021-12-16 11:51] azasypkin commented on #120752
Well, I believe AWS team just didn't properly update their links.

I know it's confusing for users, sorry about that, but Open Distro is a fork and a completely different product that we don't know much about and obviously cannot support (e.g. official Elastic products don't even have a notion of `Permissions Group`). There is a bit more details here if you're curious: https://www.elastic.co/aws-e

[2021-12-16 11:55] gbamparop commented on #121238
Fleet allows packages to specify cluster privileges as part of [this](https://github.com/elastic/kibana/pull/114945) but the update policy endpoint throws a `Bad Request` error when adding this param:
[code]

[2021-12-16 11:57] joshdover commented on #121244
I have been able to confirm that ILM policies installed by Fleet that only require the `rollover` and `settings` actions are not affected by this bug. This greatly reduces the impact of this issue to only impact the two data streams that are currently using a `delete` action:
- `.logs-endpoint.diagnostic.collection-*` - as noted above, this only impacts telemetry and does not break any product fea

[2021-12-16 11:59] paulb-elastic commented on #121125
Thanks for the clarification @lucasfcosta.

Just to clarify this point, does that mean that if it **is** present, we would generate a `goto()` for it, or is it only ever metadata for displaying on the UI (we **never** actually do anything with it in the script)?

[2021-12-16 11:59] peteharverson commented on #119975
Note for 8.1 we plan to add a 'Managed' badge for anomaly detection jobs to indicate when they have been deployed and managed by elastic - https://github.com/elastic/kibana/issues/120631. This will include adding warnings when the user edits, deletes, stops or starts these type of jobs.

[2021-12-16 12:11] joshdover commented on #121238
FYI @hop-dev is taking a look at this validation issue ^

[2021-12-16 12:13] kertal opened #121394 "[Discover] Using the mapper_size (ES plugin) _size is missing in the document table"
**Kibana version:**
7.16.1

**Describe the bug:**
When using the `mapper_size` plugin, which enriches documents with the size of the respective document, the `_size` field is returned in the results but it's not displayed

* in the document table
* in the table tab of the doc_viewer

Note: `_size` needs to be added to `metaFields` in `Advanced settings`  before this should work.

**Steps to reprod

[2021-12-16 12:13] elasticmachine commented on #121394
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-16 12:18] kertal commented on #121394
Think it was an unwanted side effect of  #114517

[2021-12-16 12:21] ppisljar commented on #119653
We don't yet just because of the performance issue, but we would want to (for the sake of reporting and alerting)

[2021-12-16 12:23] joshdover commented on #121238
@ogupte This looks suspiciously similar to the fix you made in this PR for 8.0 and 8.1: https://github.com/elastic/kibana/pull/119131#discussion_r762314702

[2021-12-16 12:25] dikshachauhan-qasource commented on #111737
Hi @joshdover

While performing testing on related PR at 8.0 snapshot build, we have observed following :

1. No '_meta' field is provided at Index and component templates.
**Query:** Here in the ticket description data is provided **under _meta braces**. However at UI a column is provided for metadata under which same data is shared. Is the changes at UI is working as expected.

**Screenshot:**
!

[2021-12-16 12:27] gbamparop commented on #121238
@joshdover it seems the same issue

[2021-12-16 12:31] claudiopro opened #121395 "[8.0.0 beta1] Link to release notes is broken"
The [link to release notes](https://www.elastic.co/guide/en/kibana/main/release-notes-8.0.0-beta1.html) in the [release page for 8.0.0-beta1](https://github.com/elastic/kibana/releases/tag/v8.0.0-beta1) is broken.

<img width="1253" alt="Screen Shot 2021-12-16 at 13 26 13" src="https://user-images.githubusercontent.com/860099/146372393-0b02eec2-5a29-41c6-923c-3d45a516652a.png">

[2021-12-16 12:32] elasticmachine commented on #121395
Pinging @elastic/kibana-docs (Team:Docs)

[2021-12-16 12:35] kibanamachine commented on #104249
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-hourly/builds/5610#839634c1-83a3-486a-82d3-2a56761e7a05)

[2021-12-16 12:43] jsanz commented on #111982
@nreese would a fix like https://github.com/elastic/ems-client/pull/92/files solve the issue by removing the copyright character from layer `getAttributions()` returned array?

I was navigating the Kibana usage of this but I'm not sure if we deal with the attributions like a unique set? I see these lines so I think that's true

https://github.com/elastic/kibana/blob/d0cd05bccdc5b95072bccbf82158d6e

[2021-12-16 12:53] vinaychandrasekhar commented on #112354
Hi @ersin-erdal thank you for your question and suggestions. Not showing the "view rule details" on some alerts but showing that link on others might get confusing for users. Options are -
- Option 1: show the link but greyed out and unclickable, with a message next to it that the rule no longer exists and may have been deleted
- Option 2: show the link, and improve the message when the user lands

[2021-12-16 13:02] miukimiu commented on #103141
@ryankeairns yes, I was experimenting and added the button with the intention of this feature live under that. The flowing screensgot are very early explorations: [Figma](https://www.figma.com/file/5QGj3sKULvEloOpVJ9YpmC/%5BMaps%5D-Time-Slider?node-id=933%3A210888).

#### First option

A settings button on the left side of the time window. The intervals can live under that but I think it's not ver

[2021-12-16 13:02] kertal commented on #121394
confirmed, `_size` fields are considered as invalid meta fields, but in this case they are valid:

https://github.com/elastic/kibana/pull/114517/files#r727869023

[2021-12-16 13:14] MadameSheema commented on #121377
@karanbirsingh-qasource the behaviors you are describing here are expected.

- The threat intelligence card has its own index pattern, and that one does not change with the data view.
- The `-` at the beginning of the index pattern inform the user that specific index pattern is excluded. So it is a way to inform the user that index pattern is not going to be present.

@ecezalp @stephmilovic what d

[2021-12-16 13:18] #97200 closed

[2021-12-16 13:22] formgeist commented on #121164
@muneebsajjad Thanks for your interest, but I think this issue to better left to the @elastic/apm-ui to resolve as it's a bug in an upcoming Kibana release. We don't currently have much documentation on the app architecture other than what's presented [here](https://www.elastic.co/guide/en/kibana/current/xpack-apm.html) in our Kibana docs and in the [plugin documentation](https://github.com/elasti

[2021-12-16 13:30] gavinwye opened #121400 "[Security Solution] Data sources, drop-down list drops out of the bottom of the overlay"
**Describe the bug:**
Data sources, the drop-down list drops out of the bottom of the overlay see the screenshot below

**Kibana/Elasticsearch Stack version:**
v 7.16.1 (XDR from Eden)

**Browser and Browser OS versions:**
Version 1.32.113 Chromium: 96.0.4664.45 (Official Build) (arm64)

**Steps to reproduce:**

1. open data sources on the 'Overview' page
2. activate the drop-down

**Expected beha

[2021-12-16 13:30] elasticmachine commented on #121400
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 13:32] banderror commented on #119601
@FrankHassanabad had valid concerns about this approach a few weeks ago, and I finally compiled a summary of our chat and decisions made so far.

**Concerns:**

- Table loading and subsequent refresh polling. Full reload of all rules can generate significant load on the cluster and saturate the network, especially if being done often and regularly in the background.
- Users can open many tabs at a

[2021-12-16 13:39] Dosant opened #121401 "Field preview doesn't work on array of objects"
**Kibana version:** main (8.1)

**Describe the bug:**

Field preview of fields from source doesn't work on arrays of objects.

The context value always shows `Value not set`
And such fields are always missing from the rest of the field list.

**Steps to reproduce:**
1. Use ecommerce sample data set
2. Start editing one for `products.*` fields
3. See no preview for such fields

**Expected behavior:

[2021-12-16 13:39] elasticmachine commented on #121401
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-16 13:41] #120867 closed

[2021-12-16 13:42] dominiqueclarke opened #121402 "[Uptime] Pass monitor configuration as data stream configuration"
As a user of Uptime, I want my heartbeat data to be segmented into different data streams, so that I can better manage my ILM policies across different types of data.

Following the completion of https://github.com/elastic/beats/issues/29280, we must shift the Uptime server code to use data streams from Heartbeat.

To support this, we need to move the individual monitor configuration to the `strea

[2021-12-16 13:42] elasticmachine commented on #121402
Pinging @elastic/uptime (Team:uptime)

[2021-12-16 13:43] gavinwye opened #121403 "[Security Solution] Data is not rendered on mobile viewport < 767 px"
**Describe the bug:**
Data is not rendered on mobile viewport < 767

**Kibana/Elasticsearch Stack version:**
v 7.16.1 (XDR Eden)

**Browser and Browser OS versions:**
Version 1.32.113 Chromium: 96.0.4664.45 (Official Build) (arm64)

**Steps to reproduce:**

View at a viewport of 767px or less

**Current behavior:**

No data is displayed

**Expected behavior:**

The same data should be available as

[2021-12-16 13:43] elasticmachine commented on #121403
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-16 13:45] formgeist opened #121405 "[APM] Charts: Disable showing values on series labels"
# Summary

Considering that the individual plot values are already showing in the chart tooltip, having the legend values feel superfluous. Additionally, when not hovering over the chart, the legend values represent the last bucket not the overall average of the selected time range. The charts team have an open issue to address the average value in the legend item https://github.com/elastic/kibana

[2021-12-16 13:49] Dosant opened #121406 "Field preview doesn't work for dynamically mapped fields (e.g. `*.keyword`)"
**Kibana version:** main (8.1)

**Describe the bug:**

Field preview doesn't work for dynamically mapped fields (e.g. `*.keyword`)

**Steps to reproduce:**
1. Use ecommerce sample data set
2. Start editing one for `category.keyword` field
3. See no preview for such field

**Expected behavior:**

Preview should be there

**Screenshots (if relevant):**

![Screen Shot 2021-12-16 at 14 45 25](https://

[2021-12-16 13:49] elasticmachine commented on #121406
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-16 13:58] elasticmachine commented on #121405
Pinging @elastic/apm-ui (Team:apm)

[2021-12-16 13:59] Dosant opened #121408 "Field preview should use `fieldFormats` in field list in Edit field flyout"
We should probably use `fieldFormats` inside the field list in field preview here:

https://github.com/elastic/kibana/blob/d0cd05bccdc5b95072bccbf82158d6eb82d3f285/src/plugins/data_view_field_editor/public/components/preview/field_list/field_list.tsx#L71

Similar like we do for context value:

https://github.com/elastic/kibana/blob/7847bc8fe6eed1497af4ca57d3291eabe4588aee/src/plugins/data_view_fie

[2021-12-16 13:59] elasticmachine commented on #121408
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-16 14:03] juliaElastic commented on #108456
Checked with Josh about the Elastic Cloud agent policy, he pointed out that cloud preconfig has to be updated so that system package is not installed automatically (conditional, leave it in for version < 8.1)
https://github.com/elastic/cloud-assets/blob/master/stackpack/kibana/config/kibana.yml#L184

Make the same change in cloud repo as well (used as fallback): https://github.com/elastic/cloud/bl

[2021-12-16 14:08] neptunian commented on #117885
@miltonhultgren updated the description with more hopefully helpful information.

[2021-12-16 14:12] formgeist opened #121409 "[Logs UI] Bug: (Stream) Highlight shows options to go next or previous highlight, but both options are disabled"
Kibana version: master

# Summary

I noticed when trying out the highlight feature in the Logs UI stream that the options for next and previous appear to always be disabled.

<img width="495" alt="CleanShot 2021-12-16 at 15 09 03@2x" src="https://user-images.githubusercontent.com/4104278/146387396-4ed992b4-d234-4b38-93b9-7fe26e1618d7.png">

Here's a full picture of what I'm seeing on the screen

<

[2021-12-16 14:12] elasticmachine commented on #121409
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-16 14:18] formgeist opened #121413 "[Logs UI] Bug: (Anomalies) The embedded swimlane visualization shows a scrollable container when empty"
Kibana version: master

# Summary

As I was setting up anomaly detection jobs, I noticed when the job creation was complete that the swimlane chart was empty but with a scrollable container.

![CleanShot 2021-12-16 at 15 14 46@2x](https://user-images.githubusercontent.com/4104278/146388555-db7f9f04-199b-414a-a752-2925f919077b.png)

[2021-12-16 14:18] elasticmachine commented on #121413
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-16 14:53] kibanamachine commented on #90552
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5615#4e5b3c38-4848-48c9-b38b-bda76f052dfa)

[2021-12-16 14:56] azasypkin opened #121416 "Advanced organization capabilities for Kibana Spaces"
## Summary

Today Kibana Spaces allows you to organize your dashboards, visualizations, and other saved objects into meaningful categories. Each space is independent, so objects that exist in one space don’t clutter other spaces.

This one-layer organization works well in most of the cases, but at certain scale one layer is just not enough. For example, some users might want to have different top-

[2021-12-16 14:56] jasonrhodes commented on #120377
@miltonhultgren oh strange, conflicting ACs eh? Let me edit.

[2021-12-16 14:59] jasonrhodes commented on #119491
Please book an hour for after the new year, it can be during my "meeting block" / "focus time" if that works but likely it'll be before that anyway in order to work with other calendars. @matschaffer maybe if you can weigh in on some good times to target and work with @miltonhultgren to get an hour on the calendar? Thanks, all!

[2021-12-16 15:01] ryankeairns commented on #118443
Thanks Michael.

@sixstringcode @tsullivan I created this issue to track the UI work we discussed previously. As far as prioritization, we'll need your input, but I am going on the assumption that Runtime Fields work remains the current priority.

[2021-12-16 15:05] weltenwort commented on #121409
I hadn't noticed. It must have broken somewhere along the way. :grimacing: Thanks for reporting it!

[2021-12-16 15:27] monina-n commented on #118684
@r4zr32d3k1l that sounds like a good plan to me! can you make a separate issue to update the modal with the new "Create new flow", list every place it needs to be updated, and reference it in this issue? just so we can keep track

[2021-12-16 15:52] thompsongl commented on #103141
I haven't explored it at all, but there has been discussion about optionally rotating tick labels to better use space. However, I don't think any kind of automatic label distribution management (i.e., 30+ ticks are passed to EuiRangeSlider and it decides which and how to render based on space) will be built into EuiRangeSlider. As EuiRangeSlider takes an entirely configurable `ticks` prop, the tim

[2021-12-16 15:58] marshallmain commented on #121269
That's correct that arrays of objects won't be indexed independently with `flattened` the way they are with `nested`. This means the fields will be flattened out in the `fields` part of the `search` API response. However, the original structure of the array of objects is still available in `_source`, which was how I envisioned maintaining the independence of each object in the array for use cases

[2021-12-16 16:01] alexfrancoeur commented on #118967
It feels like we're in general agreement that the API key feature is the way to go. Would a good starting point be to think through the UX end to end so we can better understand the scope? I imagine that will help us weigh the pros and cons of waiting.

Brainstorming here. If we fast forward a few releases, we have user profiles in ES / Kibana. Maybe each user that has a certain minimal set of pri

[2021-12-16 16:10] jloleysens opened #121421 "[Drilldowns] Create/edit drilldown template editor inserts additional `{{`"
**Kibana version:** Tested on 8.1 (on 941b02085f4)

**Describe the bug:**

When using the `Add variable` menu you can end up adding additional `{{` when you are already inside of `{{}}` with your cursor.

**Steps to reproduce:**
1. Go to a Dashboard
2. Create a new drilldown for a vis.
3. Paste the following in the URL editor `https://my-url/?test={{}}`
4. Place your cursor inside the `{{` bars an

[2021-12-16 16:10] elasticmachine commented on #121421
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-16 16:11] #120999 closed

[2021-12-16 16:12] jsanz commented on #111982
OK instead of modifying dynamically attributions I opened a [PR](https://github.com/elastic/ems-file-service/pull/233) at the EMS File Service removing the © char on the vector layer source definitions.

[2021-12-16 16:13] #114480 closed

[2021-12-16 16:17] r4zr32d3k1l commented on #118684
@monina-n Totally makes sense! I'll handle it.

[2021-12-16 16:20] pgayvallet commented on #90552
Stacktrace fromt he additions in https://github.com/elastic/kibana/pull/90762:

[code]

[2021-12-16 16:25] th0ger commented on #121268
@flash1293 here is the visualization export.
I have formatted each ndjson line with linebreaks, and anonymized the content.
[code]

[code]

[code]

[2021-12-16 16:29] th0ger commented on #121268
The issue may revolve around having 2 metrics on left/right axis, with one of the metrics disabled.

[2021-12-16 16:31] hop-dev opened #121427 "[Fleet] "Upgrade integration" shown when editing APM package policy"
**Kibana version**: 7.16, 8.0, 8.1

**Description of the problem including expected versus actual behavior**:

Incorrect version of the package policy editor is shown when editing the APM package policy.

**Steps to reproduce**:
 1. Install the APM integration and add it to an agent policy
 2. Select edit integration from the agent policy view
 3. Notice the package policy editor shows the upgrade

[2021-12-16 16:31] elasticmachine commented on #121427
Pinging @elastic/fleet (Team:Fleet)

[2021-12-16 16:33] justinkambic opened #121428 "[Deprecation] [Uptime] Elastic Synthetics test setup logs a deprecation warning"
Related to https://github.com/elastic/uptime-dev/issues/80.

On the main branch I've found that during what looks like the setup phase of synthetics tests we are logging an Elasticsearch deprecation warning. You can see this by using [all-logs](https://github.com/elastic/kibana-buildkite/blob/main/tools/all-logs.js) script on https://buildkite.com/elastic/kibana-pull-request/builds/13478 and searc

[2021-12-16 16:33] elasticmachine commented on #121428
Pinging @elastic/uptime (Team:uptime)

[2021-12-16 16:48] 1Copenut opened #121429 "[CodeEditor][AXE-CORE]: The pink code snippets in our Document JSON flyout must have a contrast ratio of 4.5:1"
**Steps to reproduce**

1. Log into a Kibana instance with the new Discover data grid
2. Click on a cell expand button for a document
3. Use Chrome dev tools or other means to measure the color contrast ratio of pink text to light blue background

<img width="932" alt="Screen Shot 2021-12-16 at 10 43 15 AM" src="https://user-images.githubusercontent.com/934879/146413317-10eee173-a0d2-4702-8af3-4e2

[2021-12-16 16:48] elasticmachine commented on #121429
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-12-16 16:48] elasticmachine commented on #121429
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-16 16:49] joshdover commented on #121427
This is intentional and specific to custom editor UIs that opt in to this behavior: https://github.com/elastic/kibana/pull/114914

The point of this feature was to simplify custom editor UI implementations by allowing them to only have to support the schema for their latest package policy. This is acceptable for these editors because these packages are always upgraded on Kibana upgrade but the pac

[2021-12-16 16:49] #121427 closed

[2021-12-16 16:51] crob611 commented on #121039
We intentionally do not persist those settings with the workpad, because they are more of a single user preference than something actually related to the workpad.  Those settings are reflected in the url, so once your preferred settings are in place, copying the url and using that url should retain those settings.

[2021-12-16 16:51] #121039 closed

[2021-12-16 16:52] hop-dev commented on #121427
Ah you're right @joshdover, though looks like Kyle did identify further work here which is covered by this issue: https://github.com/elastic/kibana/issues/115638 Still correct to close this bug 👍

[2021-12-16 17:00] #102100 closed

[2021-12-16 17:08] michaelolo24 commented on #121381
related: https://github.com/elastic/kibana/issues/121168

[2021-12-16 17:37] stephmilovic commented on #121390
`Upgrade the build from 7.16 snapshot to 8.0.0 snapshot`

im not sure of this process when developing locally, could you please provide more specific instructions?

[2021-12-16 17:41] klacabane commented on #121346
Updated the link :) I naively replaced `nested` with `alias` and a path pointing to the property carrying the data.

Here's a query that won't return any results because it targets the `logstash_stats.pipelines` property which, according to the mappings, doesn't define anything besides being `nested`. Now replace any `logstash_stats.pipelines` occurrence with `logstash.node.stats.pipelines` (the p

[2021-12-16 17:44] joshdover opened #121436 "[Fleet] Add UI integration tests for Fleet app"
We've had a few recent breakages that likely could have been caught by automated UI integration tests. In https://github.com/elastic/kibana/pull/113106, we added support for writing tests in the Cypress test framework which greatly improves the test writing experience and reliability. We should start leveraging this new framework to cover some our most important flows.

We should not use these UI

[2021-12-16 17:44] elasticmachine commented on #121436
Pinging @elastic/fleet (Team:Fleet)

[2021-12-16 17:45] joshdover commented on #121436
@mostlyjason Would like some feedback on the priority here from a customer perspective. I think we will eventually cover all of this, but it would be good to prioritize the most important flows for customers + areas we expect to making changes in the near future.

[2021-12-16 17:55] qn895 commented on #77971
Revisiting this issue and the ML team thinks that we should escalate the impact level to something higher. As integration between different teams increases, having a one source of truth to build and generate the query expressions will provide better consistency, reduce brittle code (e.g. regex expressions 👀 ), and lead to less potential bugs.

[2021-12-16 17:56] mostlyjason commented on #121035
@Wout71 we are tracking that here https://github.com/elastic/kibana/issues/104987. I'm going to close this one as a duplicate, and feel free to subscribe to the other. I can't give an exact timeline but its a high priority for our team.

[2021-12-16 17:56] #121035 closed

[2021-12-16 18:02] liza-mae commented on #119064
Another error periodically showing up now:
[code]

[2021-12-16 18:25] afgomez opened #121439 "[Unified observability] Use `<KibanaThemeProvider>` in the observability plugin pages"
See https://github.com/elastic/kibana/issues/118866 for context

[2021-12-16 18:31] elasticmachine commented on #121439
Pinging @elastic/unified-observability (Team:Unified observability)

[2021-12-16 18:32] afgomez commented on #121439
Turns out this was done already in https://github.com/elastic/kibana/pull/120400, so nothing to do!

[2021-12-16 18:32] #121439 closed

[2021-12-16 18:32] TinaHeiligers commented on #114053
@tylersmalley these tests are still failing on CI but pass locally 😦 . I see your initial attempt at re-enabling them failed the build too.
Is there anything we can do to help here?

[2021-12-16 18:41] kibanamachine commented on #120782
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5627#b98de13e-0dfa-41d8-842b-14349b9f2efd)

[2021-12-16 18:43] jasonrhodes commented on #121269
I haven't been able to fully take in everything here, can we make sure we spell out why we don't want to use nested here? For later when we come back to this conversation? :)

[2021-12-16 18:46] jasonrhodes commented on #121269
I know @afgomez and @weltenwort both had interesting thoughts about this when we were storing params originally.

@jpountz has also mentioned some thoughts to me in the last re: nested and flattened field types.

We obviously need to make a decision here and move on so I'm ok with merging your PR as is but we should ASAP find out what others I've mentioned here think about the flattened decision.

[2021-12-16 18:50] ThomThomson commented on #115515
I think that when the session sharing feature was initially architected, the decision to place it inside `incomingEmbeddable` was made because the `searchSessionId` exists on the embeddable input already. Is that correct @flash1293?

It seems to me that the session sharing feature should be totally separated from the concept of `incomingEmbeddable`, because traveling around between different apps

[2021-12-16 18:56] #120263 closed

[2021-12-16 19:21] monina-n commented on #121287
@MadameSheema hello! We will need an engineer familiar with this flow from either the Rules or the Investigations to confirm which is the right pattern.

But the two possible patterns are:
- If we are only meant to use timeline templates, we need to update the language in the "Import query from saved timeline button" and in the modal, remove the tab for regular timelines.
- If we are allowed to us

[2021-12-16 19:28] monina-n commented on #121277
@MadameSheema @stephmilovic That's correct, when a user changes a modified data view to a new one, the modified badge should no longer be there because the newly selected data view has not been modified yet.

[2021-12-16 19:37] dominiqueclarke opened #121446 "[Uptime] UI Monitor Management - Add namespace field to Add and Edit monitor pages"
As a user of Uptime, I want to be able to set a namespace for each monitor, so I can segment data for my monitors into multiple data streams.

**Description**
Add a text field to the Add and Edit monitor flows via the `MonitorConfig` component and saves the field as `data_stream.namespace` on the resulting saved object.

[2021-12-16 19:37] elasticmachine commented on #121446
Pinging @elastic/uptime (Team:uptime)

[2021-12-16 19:55] 1Copenut opened #121449 "[CodeEditor][COGNITION]: Consider moving tooltip instructions into popovers"
**Summary**
Some of the popovers have a secondary tooltip that opens with instructions how to interact with content. I think it would be beneficial to bring those instructions forward so users have a cue that the content is not just read only.

<img width="772" alt="Screen Shot 2021-12-16 at 1 26 09 PM" src="https://user-images.githubusercontent.com/934879/146440233-a6155dca-d6fb-4c08-a8c0-3028031

[2021-12-16 19:55] elasticmachine commented on #121449
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-16 19:55] elasticmachine commented on #121449
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-12-16 19:55] thomasneirynck commented on #103141
@miukimiu

wrt

imho - I think having the user give the ability to select `15 minutes apply` (so _not_ just the common intervals), would be useful.

The main reason for this is that it would allow users to get to some manageable "tick-count" under the current limit. tbf - this is just a hunch.

-----

@thompsongl thx for outlook on likely not having the label-distribution in EuiRangeSlider. Agreed

[2021-12-16 19:59] thompsongl commented on #103141
Agreed, and it _might_ require an update to EuiRangeSlider to allow for "empty" labels, but we'd be more than happy to make that change.

[2021-12-16 20:24] 1Copenut opened #121452 "[Discover][KEYBOARD]: Would we consider adding a Select all / Deselect all control to the available fields for Discover?"
**Describe the feature:**
While auditing the Discover data grid feature for keyboard navigation and accessibility, I had to press `TAB` and `ENTER` a high number of times to build dense data grids with multiple columns. I found myself wondering if a Select all and Deselect all control might make sense for this UI.

**Describe a specific use case for the feature:**
* I have created a data grid with

[2021-12-16 20:24] elasticmachine commented on #121452
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-16 20:24] elasticmachine commented on #121452
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-12-16 20:26] alexfrancoeur commented on #115112
For integrations, where would you like to see this happen then? I'm more curious than anything. I had been thinking that if an integration has license dependencies, we need to do a check somewhere and blocking at the integrations browse view feels like an optimal solution for both discoverability and reducing confusion. We will eventually add alerting connectors to this view as well that are tied

[2021-12-16 20:27] mgiota commented on #121269
@marshallmain Thanks for clarifying! Looks like timelines plugin already has a method [`getDataFromSourceHits`](https://github.com/elastic/kibana/blob/main/x-pack/plugins/timelines/common/utils/field_formatters.ts#L41)

@jasonrhodes as @marshallmain explained above, if needed, we could use the original structure of the array of objects directly from the _source. And maybe that's one of the reasons

[2021-12-16 20:29] #120749 closed

[2021-12-16 20:32] 1Copenut opened #121453 "[EuiDataGrid][KEYBOARD]: Could we consider adding a shortcut key or chord to skip to the data grid from anywhere in the page?"
**Summary**
@zuhairmahd and @1Copenut have been auditing the Discover data grid for accessibility the last few week. Zuhair mentioned there are a lot of keypresses to move from the top of the page, through the column controls, to the data grid. We'd like to explore a shortcut key or chord that would allow users to jump to the data grid quickly from anywhere on the page.

Zuhair also mentioned he h

[2021-12-16 20:48] elasticmachine commented on #121453
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2021-12-16 20:48] elasticmachine commented on #121453
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-12-16 20:50] #118880 closed

[2021-12-16 20:56] #116939 closed

[2021-12-16 20:57] #89318 closed

[2021-12-16 20:57] #89319 closed

[2021-12-16 20:57] #89608 closed

[2021-12-16 21:09] YulNaumenko opened #121457 "[Alerting] Performance testing tool for alerting need to have the ability to create/clean `ecctl` Kibana deployment."
**Describe the feature:**
Based on the requirements for [kbn-alert-load](https://github.com/pmuellr/kbn-alert-load) performance testing tool the next configuration/deployment abilities is needed:

1. Create a special test account set up at https://cloud.elastic.co?
2. Create an API key at the cloud site for use with `ecctl`
3. Deploy Kibana to `ecctl` - https://www.elastic.co/guide/en/ecctl/curren

[2021-12-16 21:09] elasticmachine commented on #121457
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-16 21:09] elasticmachine commented on #121457
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-16 21:12] pgayvallet commented on #99736
There are distinct `ConnectionPool` and `agent` options when creating a client. However, you're probably right in the sense that different non-child instances of a Client probably instantiate their own `ConnectionPool`.

cc @delvedor could you help us here?
- Can you confirm that clients created via the `parent.child()` API are sharing the same connection pool as their parents and siblings (as lon

[2021-12-16 21:15] ymao1 commented on #121457
Thanks for opening the issue @YulNaumenko! The requirements for this may change as we evaluate whether we can leverage the QA environment in ML for automated performance testing. I will update this issue as we learn more but for right now, no immediate action is needed.

[2021-12-16 21:17] stephmilovic commented on #121390
seems like just the cloud upgrade? @angorayc can you please reproduce this?

[2021-12-16 21:22] tylersmalley commented on #121457
Thanks for opening the issue. A few questions:

Is there a timeline you're looking for to have this up and running?
Is the expectation that it uses a snapshot of Kibana in the Cloud-First Testing region?

[2021-12-16 21:38] jonasll commented on #115112
I think that we want these to be mostly responsible for sending people to the right integration or product area, and let those areas handle the very delicate and nuanced topic of license selection and limitations. As mentioned above, every connector on the Enterprise Search has _some_ features tied to various license levels (such as document-level security support), and therefore there is no simpl

[2021-12-16 21:55] pmuellr opened #121460 "[actions] add alerting rule execution id to action event log documents"
In PR [[RAC][Alerting][Security Solution] Adds Rule Execution UUID #113058](https://github.com/elastic/kibana/pull/113058), alerting rule event log docs will be populated with a field `kibana.alert.rule.execution.uuid` whose value is a UUID generated for the rule execution that generated the documents.

Action documents should also populate this field, which should be provided by the alerting fram

[2021-12-16 21:55] elasticmachine commented on #121460
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-16 22:17] pmuellr commented on #121457
So many QA environments to (potentially) choose from! :-) :elastic-heart:

Some thoughts on this, since I haven't given it a whole lot of thought before.

If we want to use `kbn-alert-load`, or something similar to it, then what we'll actually want is just a plain old node runtime env.  We could even pull the source for whatever we're going to run, do the yarn install there, and then run the node

[2021-12-16 22:20] pmuellr commented on #121457
Since we're talking about where to move `kbn-alert-load` **to** (right now it's here: https://github.com/pmuellr/kbn-alert-load), I happened to think that it may be more cumbersome to have this code in the Kibana repo, compared to having it in it's own small repo.  Especially for purposes like this, where we'd have to have a Kibana build or check Kibana out of git, just to run the tool :-)

[2021-12-16 22:40] dominiqueclarke commented on #118404
Post FF testing LGTM. Tested with `8.0` branch.

Created a Kibana user with only read access to All Kibana privileges and read access to the `heartbeat-*` and `synthetics-*` indices.

<img width="614" alt="Screen Shot 2021-12-16 at 5 36 15 PM" src="https://user-images.githubusercontent.com/11356435/146459614-a8553ff9-ac8c-4ed9-92d4-dda42f3a3053.png">

[2021-12-16 22:43] dmlemeshko opened #121464 "[QA] Run load testing simulation on PRs"
Presentation (Canvas) team shared a great idea to a have a possibility to trigger load testing job directly in PR, whenever it is needed.

QA team decided to go with the following approach:
- create a new load-testing Jenkins job for Kibana PRs
- add Jenkinsfile to Kibana repo that will handle load testing
- pipeline is triggered by adding "Jenkins load test this|it" comment in PR

pipeline logic:

[2021-12-16 22:43] elasticmachine commented on #121464
Pinging @elastic/kibana-qa (Team:QA)

[2021-12-16 23:03] nreese opened #121466 "[Maps] telemetry geoShapeAggLayersCount is not correct"
geoShapeAggLayersCount is supposed to report the number of layers using geo_tile aggregation with geo_shape fields. The [current logic](https://github.com/elastic/kibana/blob/main/x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.ts#L139) does not correctly check that a field is of type geo_shape

[2021-12-16 23:03] elasticmachine commented on #121466
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-16 23:10] tsullivan opened #121468 "[Reporting] Add more helpful job metrics to report output"
**Describe the feature:**
Contribute to observability in Reporting by returning a few additional metrics from Reporting's the job execute functions. These metrics will be shown in the report job info panel (Stack Management > Reporting) and can be used to correlate the contents of a report with system CPU/RAM consumed during report execution.

1. Number of rows in the CSV result.
2. Number of pixe

[2021-12-16 23:11] elasticmachine commented on #121468
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-12-16 23:38] #69783 closed

[2021-12-16 23:38] #70043 closed

[2021-12-16 23:40] lukeelmers commented on #115327
@352174109 I'm going to go ahead and close this issue as we do not have enough information to reproduce it. In a scenario like the screenshot you provided, there will almost certainly be errors in Kibana's server logs that provide more info.

If you continue to experience issues starting Kibana, my recommendation would be to open a thread in our [discuss forums](https://discuss.elastic.co/c/elasti

[2021-12-16 23:41] #115327 closed

[2021-12-16 23:42] ferullo opened #121475 "[Security Solution] Unable to create Endpoint alert exceptions until there is atleast one alert"
I reproduced this in 7.16.0.

Steps to reproduce:
1. Navigate to Security App -> Rules -> Endpoint Security -> Exceptions
2. Check "Add new exception"
3. In the model select Linux and try to make an exception. See that you can't. (this is the bug)
4. Cause an Endpoint exception and wait for it to appear in Kibana
5. Repeat steps 1-3 and see that now you can make a free form alert exception

An eas

[2021-12-16 23:42] elasticmachine commented on #121475
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-17 00:24] kibanamachine commented on #121050
New failure: [CI Build - 7.16](https://buildkite.com/elastic/kibana-daily/builds/416#d5fe3341-48bc-4e35-a01f-900f0dd99599)

[2021-12-17 00:56] dominiqueclarke opened #121477 "[Uptime] UI Monitor Management - Discard button on Add and Edit Pages does nothing"
As a user of Uptime, I'd like to be able discard my monitor configuration, whether I'm adding a new monitor or editing an old monitor.

When hitting the "Discard" button during the add or edit monitor flow, the user should be redirected back to the UI Monitor Management table.

[2021-12-17 00:56] elasticmachine commented on #121477
Pinging @elastic/uptime (Team:uptime)

[2021-12-17 00:57] tylersmalley commented on #121457
Thanks for the additional information.

Currently, @jbudz is working on rolling out manual Cloud-First Testing to PR's, which I believe we could leverage pieces of for this. With that, using the label `ci:deploy-cloud` will build the Cloud docker image and deploy it to the `gcp-us-west2` region. Subsequent pushes to the branch will re-build and update the existing deployment. The deployment will b

[2021-12-17 01:01] qcu266 opened #121478 "Lens && TSVB could not set order by "counter rate" aggregation result"
**Describe the feature:**
Lens && TSVB could not set order by  "counter rate" aggregation result

![image](https://user-images.githubusercontent.com/11624864/146470729-49a2efa0-344f-42a1-b057-2188e8572b63.png)

Howerver, the result of “average", "cardinality" , "count" ...  can use to set order by
![image](https://user-images.githubusercontent.com/11624864/146470768-6f21b06f-94eb-40d9-9bfc-ab8d3cc

[2021-12-17 02:16] QCU266 commented on #121478
mark: https://github.com/elastic/kibana/pull/84384

[2021-12-17 04:52] kibanamachine commented on #88796
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5656#25076086-569d-4953-b004-3ef223225afd)

[2021-12-17 04:59] kibanamachine opened #121482 "Failing test: X-Pack Security API Integration Tests (Session Idle Timeout).x-pack/test/security_api_integration/tests/session_idle/cleanup·ts - security APIs - Session Idle Session Idle cleanup should properly clean up session expired because of idle timeout"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5657#2105cff7-7b3a-47cb-b5ad-2633007693ab)

[2021-12-17 05:28] deepikakeshav-qasource commented on #121390
Hi @stephmilovic ,

We have upgraded the build and not performed any operation. It was the fresh environment after upgrade where we were able to see the issue. However, if we generate few alerts and do any other operation. "Data view" starts to show up on alerts tab.

**Additional Observation:** The same behavior is occurring when we create the new space on 8.0.0 snapshot without upgrade the build

[2021-12-17 06:46] ppisljar commented on #110926
sound similar to inspector, but available in more places ?

[2021-12-17 07:07] amolnater-qasource opened #121483 "[Fleet]: Status bar is not updated when no agents available on applying different `Status` filters."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. Few agents must be installed with various agent status available.[Healthy/Unhealthy/Inactive]

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab

[2021-12-17 07:07] elasticmachine commented on #121483
Pinging @elastic/fleet (Team:Fleet)

[2021-12-17 07:07] amolnater-qasource commented on #121483
@manishgupta-qasource Please review.

[2021-12-17 07:09] manishgupta-qasource commented on #121483
Reviewed & Assigned to @kpollich

[2021-12-17 07:14] #120358 closed

[2021-12-17 07:15] #116410 closed

[2021-12-17 07:31] kibanamachine opened #121484 "Failing test: Chrome UI Functional Tests.test/functional/apps/management/_index_pattern_popularity·js - management index result popularity can be saved"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5665#d928d631-1957-4497-a826-02ea382e7876)

[2021-12-17 07:36] mshustov commented on #99736
From the docs: `. To avoid this problem, the client offers a child API, which returns a new client instance that shares the connection pool with the parent client.` https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/master/child.html

They don't. https://github.com/elastic/elasticsearch-js/blob/main/src/client.ts#L220

Should we? Different clients can connect to different hosts, t

[2021-12-17 07:40] juliaElastic opened #121485 "[Fleet] Remove deprecated APIs"
In 8.0 we made changes to Fleet API and made some of them deprecated: https://github.com/elastic/obs-dc-team/issues/655
- Remove the deprecated fields e.g. `list` in `enrollment_api_keys` response.

Additionally, the deprecated path `/epm/packages/{pkgkey}` should be kept and renamed to `/epm/packages/{pkgName}`.
The reason is that in path `/epm/packages/{pkgName}/{pkgVersion}`, pkgVersion is opti

[2021-12-17 07:40] elasticmachine commented on #121485
Pinging @elastic/fleet (Team:Fleet)

[2021-12-17 08:02] stratoula commented on #121268
@th0ger thank you a lot for the information. I managed to replicate it. This happens indeed when the y axis are in different positions and one of them is hidden. @flash1293 I will create a PR to fix the problem and we will try to backport it in 7.17 and 7.16.2 (I think that we are also considering a new minor in 7.16.

If the customer deletes instead of hides, this work fine btw.

[2021-12-17 08:34] delvedor commented on #99736
Everything that @mshustov said.
Also,  want to clarify the naming, when you say "connection pool", you mean the client class that is used for keeping track of all the connected nodes. Every node (which is part of the client of the connection pool) then contains an agent instance, which has its own pool of sockets connected to the specific node.

As result, you will see an agent instance per each c

[2021-12-17 08:42] Kunzetsov opened #121489 "[Canvas] Expression input."
## Introduction

At this [PR](https://github.com/elastic/kibana/pull/119411) small regression has been introduced. `ExpressionInput` is not updated, if the expression, which is passed to it will be updated after the initialization of the `ExpressionInput`.

## How to reproduce

1. Open `Canvas`.
2. Add any element to the `workpad`.
3. Open the `expression editor`.
4. Update some fields at the side

[2021-12-17 08:46] #120483 closed

[2021-12-17 08:49] kibanamachine commented on #119787
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5670#f53a1d14-b8e2-4083-be0b-00a52f94bcb3)

[2021-12-17 08:54] deepikakeshav-qasource opened #121491 "[Security Solution] Multiple warning messages are displaying under preview result when custom rule contains the warning"
**Describe the bug**
Multiple warning messages are displaying under preview result when custom rule contains the warning

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running

**Steps to Reproduce**
1. Navigate to rules tab under security
2. Click on create the rule and create any rule lets say: custom rule
3. Enter any index that is not created.
4. No

[2021-12-17 08:54] elasticmachine commented on #121491
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-17 09:01] kibanamachine opened #121492 "Failing test: X-Pack Saved Object Tagging API Integration Tests.x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/usage_collection·ts - saved objects tagging API saved_object_tagging usage collector data collects the expected data"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5670#a7377427-8541-43fe-952b-a77db0871f19)

[2021-12-17 09:07] karanbirsingh-qasource opened #121494 "[Security Solution]Mention of Timeline instead of Template"
**Describe the bug**
Mention of Timeline instead of Template

**Build Details**

[code]

**Pre-Conditions**
- Few Alerts should be generated on Kibana

**Steps**
- Login to Kibana
- Navigate to Alert Page
- click on bottom and click on `+` icon
- change it to create **timeline template**
- untitled template opened up and close it
- click on investigate in timeline for any value
- value get added t

[2021-12-17 09:07] elasticmachine commented on #121494
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-17 09:15] Kunzetsov opened #121496 "[Canvas] Repeat image bug with image height."
## Introduction

Repeat image expression is not displaying correctly for the images with width, which is smaller than height.

![Screenshot 2021-12-17 at 11 10 11](https://user-images.githubusercontent.com/22456368/146519105-e0bb77a4-12f2-4df4-b803-cd79772ca0c0.png)

[2021-12-17 09:26] kertal commented on #121452
I think a `Deselect all` would make sense ... however given that we usually have a large number of fields, I would hesitate offering a `Select all` button because of the possible performance impact

[2021-12-17 09:31] kertal commented on #121449
this is provided by the used code editor in this case so it's not something we can offer in the popover ... what kind of interactions are possible in this case? is this information necessary?

[2021-12-17 09:36] pgayvallet commented on #116061
Failure is caused by the fact that we're expecting a vanilla Kibana install to only have one saved object by default (the `config` object.

However that's no longer the case for licensed distributions, as other objects are created during the initial startup:

<img width="1264" alt="Screenshot 2021-12-17 at 08 44 42" src="https://user-images.githubusercontent.com/1532934/146521722-41f91fc6-d277-46c

[2021-12-17 09:37] amolnater-qasource commented on #121157
Hi @joshdover
We have revalidated this issue on latest 8.0 Snapshot and found it still reproducible.

![15](https://user-images.githubusercontent.com/77374876/146512849-fffa0d6d-d09c-49ff-9149-c27daa0b5c3e.JPG)

Further just want to clarify, this issue is reported for not so descriptive error line on duplicating a same policy again due to same name conflict.
This error line is reproduced on duplic

[2021-12-17 09:37] kertal commented on #121429
ok, this is also given by the used code editor, and it's used also in other parts of Kibana, which color should we use? Or should there be another background color?

[2021-12-17 09:39] kertal commented on #121347
Thx, yes, let's fix this

[2021-12-17 10:14] karanbirsingh-qasource opened #121499 "[Security Solution]investigate in timeline for blank value have no response"
**Describe the bug**
investigate in timeline for blank value have no response

**Build Details**

[code]

**Pre-Conditions**
- Few Alerts should be generated on Kibana

**Steps**
- Login to Kibana
- Navigate to Alert Page
- Hover the mouse over the blank value
- click on investigate in timeline
- Observed that no response for investigate in timeline for blank value

**Whats-working**
- investigate

[2021-12-17 10:19] flash1293 commented on #115515
Agree with everything here @ThomThomson - I don't think the issue is sever enough to be worth a quick-n-dirty fix.

[2021-12-17 10:25] elasticmachine commented on #121496
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-17 10:26] elasticmachine commented on #121492
Pinging @elastic/kibana-core (Team:Core)

[2021-12-17 10:26] elasticmachine commented on #121489
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-17 10:27] elasticmachine commented on #121484
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-12-17 10:28] manishgupta-qasource commented on #121499
Reviewed & assigned to michaelolo24

[2021-12-17 10:28] elasticmachine commented on #121482
Pinging @elastic/kibana-security (Team:Security)

[2021-12-17 10:29] elasticmachine commented on #121478
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-17 10:30] formgeist commented on #120879
@molsza Thank you for creating this issue. I've already created an [issue](https://github.com/elastic/kibana/issues/119931) that should resolve the issue and show more than 5 we do today, so I'm closing this again.

[2021-12-17 10:30] #120879 closed

[2021-12-17 10:31] formgeist commented on #119931
Related to https://github.com/elastic/kibana/issues/120879

[2021-12-17 10:35] lucasfcosta commented on #121125
@paulb-elastic I'd say we should never actually use it for anything within the script, just for display purposes.

[2021-12-17 10:39] elasticmachine commented on #121158
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-17 10:40] afharo opened #121501 "`@kbn/es-query` does not have CODEOWNERS"
I think it should be @elastic/kibana-app-services. Is that correct?

[2021-12-17 11:00] afharo commented on #112109
@ryankeairns are you referring to the IndexPatternService's API [`hasUserDataView`](https://github.com/elastic/kibana/blob/main/src/plugins/home/public/application/components/home_app.js#L79)? Or anything else?

[2021-12-17 11:02] elasticmachine commented on #112303
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-12-17 11:03] elasticmachine commented on #114328
Pinging @elastic/kibana-core (Team:Core)

[2021-12-17 11:07] #116060 closed

[2021-12-17 11:17] weltenwort commented on #121269
The `flattened` field type docs state:

So it sounds like if we avoided the complicated post-processing of fields values that the `timeline` search strategy performs we would get the `_source` representation even using the `fields` parameter. In that sense it behaves similar to the field type `object` with `enabled: false` (except that the latter requires `include_unmapped`). That means the nested

[2021-12-17 11:18] shubhamkanwar-qasource opened #121504 "[Security Solution]A non favorite marked timeline gets reproduced under searched field when only favorites option is selected."
**Describe the bug**
A non favorite marked timeline gets reproduced under searched field when only favorites option is selected.

**Build Details:**
Version:8.0.0 snapshot
Build: 48754
COMMIT: 474d83d2bbc5dbe28ac4b4d2e9ddcecd434671fa

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**
1. Create a timeline

[2021-12-17 11:18] elasticmachine commented on #121504
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-17 11:37] muskangulati-qasource opened #121507 "[Security Solution] [Bug] The total count of Host Isolations Exceptions under the advanced tab is incorrect"
**Description:**
The total count of Host Isolations Exceptions under the advanced tab is incorrect

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Host Isolations Exceptions tab under the Security section from the left side navigation on Kibana
2. Add any 2-3 values
3. Navigate to the Integrati

[2021-12-17 11:37] elasticmachine commented on #121507
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-17 11:37] elasticmachine commented on #121507
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-12-17 11:45] dej611 opened #121508 "[Visualize] Percentage mode stack does not take into account whole sum of metrics anymore"
**Describe the bug:**

The #118525 PR introduced a regression bug which did change the behaviour for stacked percentage charts in both vertical and horizontal aggregation based charts.

**Steps to reproduce:**
1. Create a horizontal chart with Aggregation based editor using the log sample data
2. Create an `Average of bytes` metric
3. Create an `Average of memory` metric
4. Set both metric chart t

[2021-12-17 11:45] elasticmachine commented on #121508
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-17 11:47] angorayc commented on #121390
After having a chat with @deepikakeshav-qasource , here are the steps to deploy a 7.16 could instance and upgrade it to 8.0.0:
- Navigate to: https://cloud.elastic.co/
- Click on create deployment
- Create the build with below screenshot.
![image](https://user-images.githubusercontent.com/6295984/146539645-f8a6f362-96cd-4d83-be8c-323603b47a08.png)
- After created the build install the endpoint and

[2021-12-17 11:48] Dosant commented on #121501
Yes! this is us!

[2021-12-17 11:54] Dosant opened #121509 "Consider removing `resize-observer-polyfill`"
Is looks like we can safely remove `resize-observer-polyfill` and shave dozens of Kbs from bunch of async chunks:

* [Compatibility](https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver#browser_compatibility)
* [Kibana support matrix](https://www.elastic.co/support/matrix)

- [ ] x-pack/plugins/security_solution/public/resolver/types.ts @elastic/security-solution
- [ ] x-pack/plugins/se

[2021-12-17 11:59] Dosant commented on #91329
Didn't see this issue before creating this specifically for resize-observer-polyfill https://github.com/elastic/kibana/issues/121509

I think we can remove it? I listed all places it is used and tagged relevant teams

[2021-12-17 12:03] kertal commented on #94330
closing this, because it was fixed

[2021-12-17 12:03] #94330 closed

[2021-12-17 12:07] Dosant commented on #77971
`impact:low` was an integration issue. It was our default until triaged properly :(

Could you point me to that code as an example please?

[2021-12-17 12:13] manishgupta-qasource commented on #121507
Reviewed & assigned to @kevinlog

[2021-12-17 12:23] #57287 closed

[2021-12-17 12:32] muskangulati-qasource opened #121514 "[Security Solution] The events total count is wrong when network events have events for both authentication and session."
**Description:**
The events total count is wrong when network events have events for both authentication and session.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Alerts tab under the Security section from the left side navigation on Kibana
2. Click on the 'Manage Rules' and create a custom

[2021-12-17 12:32] elasticmachine commented on #121514
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-17 12:34] sagarnagpal-qasource opened #121515 "Edit icon displayed under 'Actions' column on Fleet>Settings tab is inconsistent with other pages Fleet UI in Kibana"
Kibana version: v8.0.0 snapshot Kibana cloud-staging environment

Browser version: Chrome
Host OS: n/a

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Build Details:**
BUILD 48754
COMMIT 474d83d2bbc5dbe28ac4b4d2e9ddcecd434671fa

**Preconditions:**
1. 8.0.0 snapshot Kibana cloud-staging environment should be available.

**Steps to reproduce:**
1. Login

[2021-12-17 12:36] muskangulati-qasource commented on #121514
@karanbirsingh-qasource please review!!

[2021-12-17 12:38] elasticmachine commented on #121515
Pinging @elastic/fleet (Team:Fleet)

[2021-12-17 12:40] kevinlog commented on #121475
@ferullo this has been this way since we first shipped Exceptions as far as I know.  The reason is that Exceptions are based on index patterns.  Until the Endpoint sends its first alert, the index doesn't exist, so there is no index pattern to populate the form.

I agree that this is confusing, but the fix is likely not straightforward.  Do you think this will be a common problem for customers?  I

[2021-12-17 12:53] ymao1 commented on #121457
@tylersmalley That sounds great and lines up with what we were hoping to have as well! We would want to run different scenarios with different configurations of rules and possibly different kibana configurations. Do you think it would make more sense to have a separate daily pipeline for each scenario (that deploys a separate cluster for each scenario) or try to serialize the scenarios into one pi

[2021-12-17 12:57] kevinlog commented on #121507
@academo can you take a look?

[2021-12-17 13:09] klacabane opened #121518 "Stack monitoring.beats - 8.0 compatibility"
This ticket tracks the changes required to make the SM beats section compatible with metricbeat 8.x.

- [x] beats stats metricset is missing the `elasticsearch.cluster.id` property https://github.com/elastic/beats/blob/master/metricbeat/module/beat/stats/data.go https://github.com/elastic/beats/pull/29577
- [x] beats state metricset has the cluster id but not in the expected path https://github.co

[2021-12-17 13:09] elasticmachine commented on #121518
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-17 13:12] formgeist opened #121520 "[APM] Add expected bounds from ML anomaly detection jobs as comparison option to Latency, Throughput, and Failed Transaction Rate charts"
# Summary

As a user, I'd like to compare my current latency, through, or failed transaction rate not only against previous periods but also against the expected bounds which essentially serves as a baseline for the application performance metrics.

# Solution

## Display expected bounds results from ML jobs for Latency, Throughput, and Failed Transaction Rate charts

This means throughout our vie

[2021-12-17 13:12] elasticmachine commented on #121520
Pinging @elastic/apm-ui (Team:apm)

[2021-12-17 13:17] manishgupta-qasource commented on #121515
Reviewed & mention to @kpollich

[2021-12-17 13:19] ferullo commented on #121475
@jamesspi probably has a better idea than me how common a problem this may be.

My hunch is it is a low or medium bug. It's easily worked around (create an alert using Eicar) and I'd expect most new users first try creating alerts before trying to create exceptions. When it did happen to me though I was pretty confused.

[2021-12-17 13:24] jamesspi commented on #121475
I haven't seen it come up before. We should probably add it somewhere in the docs though (the fact that at least 1 alert is needed for exceptions to be added for endpoint alerts).

[2021-12-17 13:28] azasypkin commented on #121482
I cannot think of any reason why we'd get error like that in this test. Here is the assertion that fails: https://github.com/elastic/kibana/blob/788db0dd9d662b75de9dfe581852323f6d645c77/x-pack/test/security_api_integration/tests/session_idle/cleanup.ts#L86-L95

It's a simple basic login API request with the credentials of the pre-populated admin test user. I'll keep eye on this issue and either di

[2021-12-17 13:33] nchaulet commented on #121515
Hi I think there is no bug here, the three dot button is used where we have multiple actions for an item, I think it's okay here to directly have the action.

[2021-12-17 13:35] kevinlog commented on #121475
Thanks @ferullo @jamesspi for the insight.  I created this docs ticket to add a note about this: https://github.com/elastic/security-docs/issues/1360

[2021-12-17 13:48] pgayvallet commented on #116059
I found a bug in `WebElementWrapper.findByTestSubject` that causes errors to be shallowed and replaced by such `Unable to locate element: {"method":"css selector","selector":"objectType"}` errors.

https://github.com/elastic/kibana/pull/121493 will fix the bug and unskip this test, to let us dig further once CI encounters a failure again.

[2021-12-17 14:04] jguay opened #121521 "[Maps] Ability to set precision_threshold or json_input"
**Describe the feature:**
Ability to set `precision_threshold` for cardinality [precision control](https://www.elastic.co/guide/en/elasticsearch/reference/7.16/search-aggregations-metrics-cardinality-aggregation.html#_precision_control)
**Describe a specific use case for the feature:**
Feature [exists](https://github.com/elastic/kibana/issues/3653#issuecomment-95649311) via `JSON Input` for other

[2021-12-17 14:05] academo commented on #120862
related PR https://github.com/elastic/kibana/pull/121522

[2021-12-17 14:08] cauemarcondes opened #121523 "[APM] Trace waterfall showing incorrect identantion"
### Kibana version

8.0

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/55978943/146556393-984d5c1d-cd09-46bc-be4c-dacc6059cc41.png)

### Expected Behavior

The `escalation` transaction should be aligned more to the left as it's the parent of the other two elements.

### Actual Behavior

_No response_

[2021-12-17 14:08] elasticmachine commented on #121523
Pinging @elastic/apm-ui (Team:apm)

[2021-12-17 14:14] kobelb commented on #99736
It's a good question. By default, all outbound HTTP requests that are made using the `http` library will use a singleton and global instance of the HTTP Agent. Based on this, we know that we can use an HTTP Agent connection pool for multiple hosts.

However, if the user has configured the monitoring ES hosts to be different than the normal ES hosts, it doesn't make much sense to reuse the same soc

[2021-12-17 14:34] Dosant commented on #118735
Not reproduced in main (8.1)
Probably implicitly fixed during refactorings

[2021-12-17 14:34] #118735 closed

[2021-12-17 14:40] #121130 closed

[2021-12-17 14:47] simitt opened #121534 "Add Tail Based Sampling configuration options to APM Integration"
**Kibana version**: 8.1

**Describe the feature**:
APM Server introduces a new feature Tail Based Sampling, which adds new configuration options to the APM Integration. The APM Integration Editor needs to expose these configuration options.

The definition of the configuration options can be found in https://github.com/elastic/apm-server/issues/6895#issue-1083223206.

**Depends On**
https://github

[2021-12-17 14:47] elasticmachine commented on #121534
Pinging @elastic/apm-ui (Team:apm)

[2021-12-17 14:50] janmonschke commented on #121509
Sounds like a great initiative to me 👏

[2021-12-17 14:56] jasonrhodes commented on #121269
Thanks, @mgiota and @weltenwort! LGTM

[2021-12-17 14:59] flash1293 opened #121536 "[TSVB] Entire time range is auto set for gauge/topn for rollups even if it doesn't work"
When looking at a TSVB time series vis based on a rollup index, switching to gauge/metric/topn will auto-switch to entire time range mode. However entire time range is not available for rollup indices, so just an error is shown and the user has to switch to panel options to manually make it work again.

When using rollups it should stay on last value mode instead of switching to entire time range

[2021-12-17 14:59] elasticmachine commented on #121536
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-17 15:01] flash1293 opened #121539 "[TSVB] Series agg, math and pipeline aggregations are not enabled for rollup indices"
When using rollup data, it's not possible to configure series aggs, math or pipeline aggregations, however it should be easy to enable them.

[2021-12-17 15:01] elasticmachine commented on #121539
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-17 15:01] miltonhultgren commented on #120377
After some initial work here is a status update:
Regarding the sparklines, both APM plugin and Observability plugin have built a thin wrapper around `@elastic/charts/AreaSeries` but neither plugin exposes it as part of their public API (even if Infra safely depends on Observability). I think it's best that we just create our own wrapper for `AreaSeries` inside of the Infra plugin and use that.

My

[2021-12-17 15:03] flash1293 opened #121540 "[TSVB] Overall pipeline aggs are enabled in entire time range mode"
When using entire time range mode, only a single large bucket is fetched from Elasticsearch. "Overall" pipeline aggs don't make any sense in this situation because they do calculations over all the buckets - if there is just a single one, their non-overall counterparts (e.g. sum instead of overall sum) will yield the same result. For this reason they should be disabled and existing usages being mi

[2021-12-17 15:03] elasticmachine commented on #121540
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-17 15:05] flash1293 opened #121541 "[TSVB] Metric and gauge broken if terms split contains colon"
**Kibana version:** 7.16

When doing a terms split on a field containing colon (like `geo.srcdest` of the logs sample data), the metric and terms visualizations do not show all of the series.

I suspect this is happening because TSVB uses the colon as an internal splitting character which is colliding with these names.

[2021-12-17 15:06] elasticmachine commented on #121541
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2021-12-17 15:06] joshdover opened #121542 "[Fleet] Do not allow plugins to specify Elasticsearch privileges on the server-side package policy service"
Today, the Fleet server-side plugin exposes a `packagePolicyService` API to other plugins which allows them to read and write to integration policies. These policies contain a field that specifies the required Elasticsearch privileges that Fleet Server should grant to Agents that are enrolled in the policy.

Instead of allowing any consumer of this service to specify the privilege definitions, we

[2021-12-17 15:06] elasticmachine commented on #121542
Pinging @elastic/fleet (Team:Fleet)

[2021-12-17 15:22] #121244 closed

[2021-12-17 15:25] flash1293 opened #121543 "Separate architecture for client side cache sharing"
Right now client side caching is piggy-backing on top of sessions. As client side caching needs to be shared across apps in some cases (especially going from dashboard to the visualization editor and back), sessions are shared between apps piggy-backing on embeddable state transfer.

Both of these things have been proven to be sub-optimal, so let's think about how this can be done in a more robust

[2021-12-17 15:25] elasticmachine commented on #121543
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-17 15:25] elasticmachine commented on #121543
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2021-12-17 15:25] flash1293 commented on #115515
Blocked on https://github.com/elastic/kibana/issues/121543

[2021-12-17 15:33] flash1293 opened #121545 "Relative per-panel time range"
Especially in observability use cases it's common to create dashboards which are showing the development of metrics over time as well as a separate visualization for the current state (because that's the most important part):
<img width="1087" alt="Screenshot 2021-12-17 at 16 28 11" src="https://user-images.githubusercontent.com/1508364/146567947-ca98c314-47c7-497c-8317-1ad9faf0ea9c.png">

Metrics

[2021-12-17 15:33] elasticmachine commented on #121545
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-12-17 15:47] gtback commented on #121395
Thanks, @claudiopro . I just updated this manually in GitHub, and confirmed with @mgreau that we won't be publishing any more Kibana releases from the `main` branch before all the docs are switch over to use `main` URLs, so there's no need to update any code.

[2021-12-17 15:47] #121395 closed

[2021-12-17 15:50] joeypoon commented on #118933
no failures since the initial. closing.

[2021-12-17 15:50] #118933 closed

[2021-12-17 15:55] mshustov commented on #91329
@Dosant it might be easier to remove all the places at once. I'm closing the current issue, let's use the one you created to track the effort

[2021-12-17 15:55] #91329 closed

[2021-12-17 16:01] paul-tavares commented on #121542
Hi @joshdover , are you thinking you would lock down the service? or lock down certain updates to the payload if**not** using a fleet scoped client?

[2021-12-17 16:03] elasticmachine commented on #100438
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-17 16:13] mikecote commented on #92419
Closing as Observability and Security solution rules provide alerts as data as of 7.16 and we have the preconfigured alert history connector option as well (https://www.elastic.co/guide/en/kibana/current/index-action-type.html#preconfigured-connector-alert-history).

[2021-12-17 16:13] #92419 closed

[2021-12-17 16:13] #96519 closed

[2021-12-17 16:13] #92420 closed

[2021-12-17 16:18] dominiqueclarke opened #121548 "[Uptime] Breadcrumbs are broken for UI Monitor Management"
As a user of Uptime, I'd like to be able to navigate UI Monitor Management with breadcrumbs.

Breadcrumbs are currently broken. We should append breadcrumbs for the pages visited from UI Monitor Management, including `manage-monitors`, `edit-monitors`, `add-monitors`.

[2021-12-17 16:18] elasticmachine commented on #121548
Pinging @elastic/uptime (Team:uptime)

[2021-12-17 16:21] mikecote commented on #94768
Closing as we now have a storage mechanism.

[2021-12-17 16:21] #94768 closed

[2021-12-17 16:24] joshdover commented on #74353
@amolnater-qasource

This part is not implemented yet and the final UX is still being discussed above.

The other items LGTM 👍

[2021-12-17 16:27] dominiqueclarke opened #121549 "[Uptime] UI Monitor Management - Links to monitor details page from monitor management table do not work for browser monitors"
As a user of Uptime, I want to be able to easily link back from UI Monitor Management to an individual monitor's details page.

Currently, the link is broken for Browser monitors. I think that *may* be because of some weirdness of how we are handling `ids` for browser based monitors, but further investigation is needed.

[2021-12-17 16:27] elasticmachine commented on #121549
Pinging @elastic/uptime (Team:uptime)

[2021-12-17 16:29] Dosant commented on #121543
Also there is currently a bug with session restoration due to client side cache: https://github.com/elastic/kibana/issues/106074#issuecomment-947598532

[2021-12-17 16:31] #121501 closed

[2021-12-17 16:49] tylersmalley opened #121552 "Investigate node-re2 download failures"
Multiple developers are reporting needing to run `npm rebuild re2`. We need to find a solution to this, probably by prebuilding for the various architectures needed.

[2021-12-17 16:49] elasticmachine commented on #121552
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-17 16:55] joshdover commented on #121238
AFAIK this has been fixed. Still waiting for someone from @elastic/apm-ui to confirm before we close. We also need to figure out why this wasn't caught in testing.

@simitt is it possible this wasn't caught because we aren't testing against production packages in the staging environment? I've been worried that that could cause issues like this that aren't caught until we promote a release to produ

[2021-12-17 17:07] #121268 closed

[2021-12-17 17:35] #120738 closed

[2021-12-17 17:37] elasticmachine commented on #121521
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-17 17:42] afharo commented on #117783
Same issue as in #117784:
[code]

Closing for now.

[2021-12-17 17:42] #117783 closed

[2021-12-17 17:43] cjcenizal commented on #110926
It's very similar, except it's for surfacing ES requests before they occur. Here's an example of this type of flyout, which we've reimplemented through many Stack Management UIs:

![image](https://user-images.githubusercontent.com/1238659/146586037-efc614d8-ac8a-4562-bef6-d98ef4314db4.png)

[2021-12-17 17:51] thomasneirynck commented on #121521
@jguay Can you provide some context on where you would want to set this?
- when using the "top hits" layer (?)
- when using the tracks layer (?)

Both are setting `precision_threshold: 1`

[2021-12-17 18:09] justinkambic commented on #114155
Post-FF testing LGTM

I performed both e2e steps described in the resolution PR:

Latency check result:
![image](https://user-images.githubusercontent.com/18429259/146587843-93a5369c-a907-472d-a520-75e7528890d9.png)

Throttling functionality on fast.com:
![image](https://user-images.githubusercontent.com/18429259/146587903-2caa8f71-8c29-4bf3-8366-12613dd3f16d.png)
![image](https://user-images.gith

[2021-12-17 18:14] justinkambic commented on #119519
Was this issue closed by one/all of the linked PRs? It's in the post-FF column but is still open, which is irregular. Can we close it and link to the work that resolved it?

[2021-12-17 18:36] stephmilovic commented on #121390
<img width="1263" alt="Screen Shot 2021-12-17 at 11 29 55 AM" src="https://user-images.githubusercontent.com/6935300/146591305-5041be5e-b568-4955-961a-d16ac010f41b.png">

i am still unable to reproduce

[2021-12-17 18:37] marshallmain opened #121559 "[Security Solution] Alerts can be written without scheduling actions afterwards"
## Summary
Discussion in https://github.com/elastic/security-team/issues/2401 exposed a problem where alert documents can be written and a subsequent ES query fails, throws an error, and causes the rule to fail. In this scenario, actions will not always be scheduled for alert documents that have already been written. We should ensure that when alert documents get written any rule actions are also

[2021-12-17 18:53] #116061 closed

[2021-12-17 18:58] madirey commented on #120906
Confirmed that disabling and re-enabling the rule fixes the issue. We just need to make sure the upgrade process is documented, as there's no easy way to do this programmatically (especially considering we're already late in the release).

[2021-12-17 18:59] paulb-elastic commented on #119519
That seems the case to me, I suspect it didn't auto close because of the 2 mentioned but not linked PRs.  I'm going to close it but leave it in `Post FF Testing`.

[2021-12-17 18:59] #119519 closed

[2021-12-17 19:01] justinkambic commented on #116334
POST-FF testing LGTM

Where practicable I manually pinged the endpoints, I also walked through the UX dashboard and most features of the Uptime UI.

[2021-12-17 19:07] #119562 closed

[2021-12-17 19:21] Zacqary commented on #120660
Trying to test this more thoroughly but I'm pretty sure we can replace all references to `ALERT_INSTANCE_ID` with `ALERT_UUID` and it'll all just work.

[2021-12-17 19:54] mikecote opened #121563 "[Alerting] Expensive queries by the alerting framework are causing unnecessary load and delays on Elasticsearch"
Based on https://github.com/elastic/kibana/issues/93770, we should convert https://github.com/elastic/kibana/blob/8.0/x-pack/plugins/triggers_actions_ui/public/common/lib/data_apis.ts#L66 to use _search_after instead of setting a large `size` value.

[2021-12-17 19:54] elasticmachine commented on #121563
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-12-17 19:56] nreese opened #121564 "[maps] vector tile double counting geo_shapes that cross tile boundaries"
counts are determined by summing totals from meta features returned for each tile. If a feature spans multiple tiles, then it will be double counted.

[2021-12-17 19:56] elasticmachine commented on #121564
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-17 19:59] deeTEEcee commented on #73863
wow, I needed to upgrade my kibana to 4 GB just to create a screenshot of a dashboard...

[2021-12-17 20:02] thomasneirynck opened #121565 "[Maps] Missing data outline not visible for shapes"
**Kibana version:**

8.1

**Describe the bug:**

The missing data outline (which is a dashed outline around the icon in the LayerTOC) is not visible when using shape-data

![image](https://user-images.githubusercontent.com/1833023/146600730-bf2e4c10-74df-4695-b2af-79d5473b8b91.png)

This is because the icon is already square, and the dashed SVG-border doesn't really show up. It's likely mostly a d

[2021-12-17 20:02] elasticmachine commented on #121565
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-17 20:07] thomasneirynck opened #121566 "[Maps] Doc-count is wrong when bounding-box has zero width or height"
**Kibana version:**

8.0

**Elasticsearch version:**

8.0

**Describe the bug:**

When the bounding-b

**Steps to reproduce:**
1.  Create index with single point, create data view
2. Add as layer in Maps, select "vector tiles" scaling
-> tooltip shows there is no data

![image](https://user-images.githubusercontent.com/1833023/146601737-bf269395-4268-477c-9514-2daac7e99047.png)

**Expected behavio

[2021-12-17 20:11] nreese opened #121567 "[maps] vector tile status showing no data when single point loaded"
To reproduce issue:
Run the following in console
[code]

Create data view for `test` index

create map for test index.

<img width="587" alt="Screen Shot 2021-12-17 at 1 08 50 PM" src="https://user-images.githubusercontent.com/373691/146602064-56e7ff8b-6368-4634-ab52-619ae2b845a2.png">

The problem is with https://github.com/elastic/kibana/blob/main/x-pack/plugins/maps/public/connected_components/

[2021-12-17 20:11] elasticmachine commented on #121567
Pinging @elastic/kibana-gis (Team:Geo)

[2021-12-17 20:12] #121566 closed

[2021-12-17 20:19] tylersmalley commented on #121457
@ymao1 do you have an idea for how long the tests would run for each configuration? If it's not much, I would say try to serialize them as there is overhead to brining up the cluster (~10 minutes). But if it's maybe more than 5-10 minutes I think creating a separate pipeline would make sense. It's really no difficult to do in Buildkite.

[2021-12-17 20:21] #83706 closed

[2021-12-17 20:33] andrewvc commented on #107994
Tested per the PR, looks good!

[2021-12-17 20:34] thomasneirynck commented on #121567
While we can patch on the Kibana-end,  the root of this bug might be in Elasticsearch. https://github.com/elastic/elasticsearch/issues/81891.

[2021-12-17 20:38] bfishel commented on #120277
I was going to attach a few I added last week, but one of my devs went in and fixed them all while I've been out! Will link below for reference. In the meantime, I will link another that still needs to be worked on and will find more when I am back from pto.

**Still needs fixing**
- [ ] [[UX Bug] Remove header from endpoint empty state #2154]( https://github.com/elastic/security-team/issues/2154

[2021-12-17 21:25] peluja1012 commented on #121491
PR for this here https://github.com/elastic/kibana/pull/121249

[2021-12-17 21:37] kibanamachine commented on #116058
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5707#904463bf-1b69-4756-b5a3-ef10e62c7dcb)

[2021-12-17 21:41] peluja1012 commented on #121387
Hi @deepikakeshav-qasource, could you please send us the configuration of your custom rule before AND after upgrade? Did the rule have the `Elastic Endpoint Exceptions` option checked?
![image](https://user-images.githubusercontent.com/616158/146611175-04cac438-0182-4376-ba89-7aaa9b78e3e7.png)

[2021-12-17 21:45] #109903 closed

[2021-12-17 21:47] stephmilovic commented on #121390
![ec1](https://user-images.githubusercontent.com/6935300/146611782-a7f4f8d4-b87d-4ca1-aca1-111691543d8a.gif)

The Data View selector will not show until the alerts index is defined. Once there is data, the Data View selector will show. Again, I'm not able to reproduce but I do think its possible this is expected behavior?

[2021-12-17 21:48] #109893 closed

[2021-12-17 21:49] dominiqueclarke opened #121572 "[Uptime] Clicking on Sha buttons on TLS Page does nothing"
**Kibana version**: 7.16.1, 8.0.0

**Elasticsearch version**: 7.16.1, 8.0.0

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

Clicking on the sha button on the TLS page does nothing. I don't think this should be a button, but ordinary text. Maybe we should include an icon to indicate that it's hove

[2021-12-17 21:49] elasticmachine commented on #121572
Pinging @elastic/uptime (Team:uptime)

[2021-12-17 21:53] kibanamachine commented on #116058
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5707#4627fb4b-30f4-409f-9e10-499288a3dd75)

[2021-12-17 21:58] #120221 closed

[2021-12-17 22:18] brianseeders commented on #116058
Skipped

main: e090fb1a7529f04a7202bd24e2618c1b19efe330
8.0: 06539478f66a8cb0c5ddc977b4e3920b045f46cc

[2021-12-17 22:19] brianseeders commented on #116058
@pgayvallet I had to re-skip these tests, they started failing again

[2021-12-17 23:23] tsullivan commented on #118484
Test is no longer facing a timeout. It fails with `TypeError: _pdfmake.default is not a constructor`

![image](https://user-images.githubusercontent.com/908371/146618773-547a9671-70e1-43a9-8631-032aace824fb.png)

[2021-12-17 23:51] tylersmalley commented on #114053
@TinaHeiligers, all the failures are regarding not being able to locate the index pattern as seen in the screenshots. I, too was unable to reproduce locally. I am prett sure it's timing related, so I will leave it up to your team how to proceed.

![image](https://user-images.githubusercontent.com/40265/146620305-7f45b07a-c579-473a-9b78-a2342731eeb7.png)

[2021-12-18 00:01] tsullivan opened #121588 "[Reporting] Remove log warnings for 3xx responses during screenshot capture"
**Kibana version:** 8.1.0

[code]

These warning logs simply mean the request was fulfilled from cache. In earlier versions of Puppeteer, that was not possible because browser cache was disabled.

[2021-12-18 00:01] elasticmachine commented on #121588
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-12-18 00:01] elasticmachine commented on #121588
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2021-12-18 01:39] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5721#76c9fc4d-349a-40e2-bb41-9cf14dfb8296)

[2021-12-18 04:58] kibanamachine commented on #119917
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5730#256ead81-16c2-4f96-b809-0530da3de411)

[2021-12-18 06:01] kibanamachine commented on #121208
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5732#9c9a1957-1ed3-4e1b-878b-ef0f92205a9e)

[2021-12-18 08:09] kibanamachine commented on #121492
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5737#43cdd506-783d-402b-ad5a-9dba8500cdb8)

[2021-12-18 12:44] kibanamachine commented on #120782
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5753#089bc4d0-b9a9-405c-8b22-3fcabd8b54c6)

[2021-12-18 16:51] kibanamachine commented on #120730
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5765#749b5f5e-821d-43db-a367-1ecd357f55c2)

[2021-12-18 17:38] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5767#8e2b91c3-49ef-41a6-bdb7-3fb297c047ff)

[2021-12-18 18:06] kibanamachine commented on #121492
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5767#1dca9eb5-e56d-425f-9f4b-fb17d066b9b3)

[2021-12-18 19:34] flash1293 commented on #121270
Changing impact to high as there is a workaround to fix affected visualizations: change to entire time range mode and set a custom interval of “1y” - in most cases this will behave like “entire time range” mode because there will be just a single date histogram bucket spanning the whole time range

[2021-12-18 22:03] kibanamachine commented on #121482
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/5781#60c44688-3d7e-4965-bfdf-cea5dd907b9a)

[2021-12-18 22:04] kibanamachine commented on #121492
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5779#77da5dd9-3759-477d-b3ac-40fe7f4c2b9f)

[2021-12-19 01:41] kibanamachine commented on #121172
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5793#04176576-989a-46e6-9e49-30371d0e46db)

[2021-12-19 07:41] kibanamachine commented on #116561
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5810#8107ebd1-2059-4b14-ae3e-3c6131b777dd)

[2021-12-19 14:38] kibanamachine commented on #119265
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/426#2135aacb-5246-4abd-9a9b-489d57655206)

[2021-12-19 14:52] kibanamachine commented on #118538
New failure: [CI Build - 7.15](https://buildkite.com/elastic/kibana-daily/builds/426#6d42236a-b340-42dc-b6c4-c92ba970a357)

[2021-12-19 19:08] mostlyjason opened #121599 "[Integrations] Error upgrading package when there is a name conflict"
**Kibana version:**
7.16

**Elasticsearch version:**
7.16

**Original install method (e.g. download page, yum, from source, etc.):**
Docker

**Describe the bug:**
When I attempt to upgrade one of my system integration policies, it shows me an error saying "There is already a package with the same name".

**Steps to reproduce:**
1. Install two integration policies with the name system-1 in a older

[2021-12-19 19:08] elasticmachine commented on #121599
Pinging @elastic/fleet (Team:Fleet)

[2021-12-19 22:00] kibanamachine commented on #121492
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5852#e1a9356d-52e7-4a60-880b-6b17924c19fe)

[2021-12-19 23:29] fockboi-lgtm opened #121603 "[Security] Workflow pr-project-assigner.yml is using vulnerable action elastic/github-actions/project-assigner"
The workflow pr-project-assigner.yml is referencing action elastic/github-actions/project-assigner using references v2.0.0. However this reference is missing the commit [1406a89cfe03d18273b129246736ede6f96888a0](https://github.com/elastic/github-actions/commits/1406a89cfe03d18273b129246736ede6f96888a0) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by action

[2021-12-19 23:29] Ale0x78 opened #121604 "[Security] Workflow project-assigner.yml is using vulnerable action elastic/github-actions/project-assigner"
The workflow project-assigner.yml is referencing action elastic/github-actions/project-assigner using references v2.0.0. However this reference is missing the commit [1406a89cfe03d18273b129246736ede6f96888a0](https://github.com/elastic/github-actions/commits/1406a89cfe03d18273b129246736ede6f96888a0) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions v

[2021-12-20 02:34] matschaffer opened #121605 "[Stack Monitoring] Ensure force re-render on cluster listing component is preserved"
@claudiopro caught this on https://github.com/elastic/kibana/pull/120713#discussion_r769569144

It's not clear to me what the breakage of lacking this might be, but we should probably update code to avoid unexpected side effects. Especially since this component has no tests.

**Note: when looking into this, please also look into https://github.com/elastic/kibana/issues/121261 in case these are the

[2021-12-20 02:34] elasticmachine commented on #121605
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2021-12-20 02:51] jscottnz opened #121606 "Anomaly detection swim lane says maximum anomaly score is 2 when is in fact 85"
**Kibana version:**
7.15.2

**Elasticsearch version:**
7.15.2

**Server OS version:**
Elastic Cloud

**Browser version:**
Chrome Version 96.0.4664.55 (Official Build) (arm64)

**Browser OS version:**
OSX

**Original install method (e.g. download page, yum, from source, etc.):**
Elastic Cloud

**Describe the bug:**
Anomaly detection swim lane says maximum anomaly score is 2 when is in fact 85
Also

[2021-12-20 03:07] matschaffer commented on #111668
Looks like on table views it's `{{event.values[0]}}` for the first column.

[2021-12-20 03:24] matschaffer commented on #121346
And setting `logstash_stats.pipelines` as an alias to `logstash.node.stats.pipelines` doesn't work I take it?

[2021-12-20 04:30] ayedem commented on #86560
Any update on this? This is functionality that is desperately needed.

[2021-12-20 05:27] deepikakeshav-qasource commented on #121387
Hi @peluja1012 ,

Yes, We configure the "Elastic Endpoint Exceptions" in both rules. Please find the below steps:

**Before Upgrade**
1. Generate the alerts [mimikatz] from "Endpoint security [Duplicate]". Note: "Elastic Endpoint Exceptions" in configured
2. Create the Endpoint exception in above rule.
![image](https://user-images.githubusercontent.com/61860752/146713131-fae39b16-107b-47e1-b644-ee

[2021-12-20 06:04] amolnater-qasource commented on #74353
Hi @joshdover
Thanks for confirmation.
We will be re-testing this when all the merges will be available.

Thanks

[2021-12-20 06:07] kibanamachine commented on #118432
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/5876#44562c3e-b9a1-4092-8ef4-87a422a2e98e)

[2021-12-20 06:09] akshay-saraswat commented on #118967
It's difficult to answer that because there are a lot of variables. For example, how much engineering bandwidth are we going to dedicate to the migration of integrations from beats to agents. And, for some integrations how feasible is it to create an agent-based integration (for example, Salesforce, PCF, etc.)

[2021-12-20 06:52] andrew-goldstein commented on #121168
Fixed by:

- `main` / `8.1` - https://github.com/elastic/kibana/pull/121590
- `8.0` - https://github.com/elastic/kibana/pull/121607
- `7.17` - https://github.com/elastic/kibana/pull/121608

[2021-12-20 06:55] andrew-goldstein commented on #121168
@deepikakeshav-qasource would you be willing to retest per the details [above](https://github.com/elastic/kibana/issues/121168#issuecomment-997644589)?

[2021-12-20 06:56] andrew-goldstein commented on #121381
Fixed by:

- `main` / `8.1` - https://github.com/elastic/kibana/pull/121590
- `8.0` - https://github.com/elastic/kibana/pull/121607
- `7.17` - https://github.com/elastic/kibana/pull/121608

[2021-12-20 06:57] andrew-goldstein commented on #121381
@karanbirsingh-qasource would you be willing to retest per the details [above](https://github.com/elastic/kibana/issues/121381#issuecomment-997646474)?

[2021-12-20 07:24] sagarnagpal-qasource commented on #121515
Hi Nicolas,

Thanks for your response.

Agreed that three dot button make more sense where multiple options are available.

As suggested in expected results, we can add two options i.e 'View Output' and 'Edit Output' under three dot menu option and make this 'Outputs' section consistent with other pages.

Please look into above suggestion and see if this can be considered as enhancement for future

[2021-12-20 07:52] pgayvallet commented on #116058
@brianseeders thanks for the head's up. But then I have no idea what's happening, because the fix was effective against 100 runs locally...

[2021-12-20 08:22] ghost opened #121613 "Unable to create CCS setup on 8_0_0-SNAPSHOT build."
**Describe the bug**
Unable to create CCS setup on  8_0_0-SNAPSHOT build.

**Build Details:**
Version:8.0.0-SNAPSHOT
Build: 48801
COMMIT:  b95154fae8450f79a4e79b603dc2f6eb86b59594

**Browser Details:**
N/A

**Preconditions**
1. Deploy 7.16.0-SNAPSHOT as parent build.
2. Deploy 8.0.0-SNAPSHOT as child build.

**Steps to Reproduce**
1. Select Proxy Address of the parent build under security tab.
2.

[2021-12-20 08:22] elasticmachine commented on #121613
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-20 08:33] deepikakeshav-qasource commented on #121613
Hi Team,

We are not sure about the exact person for this issue so assigning to you as per the last CCS issue reported by us.

Thanks!!

[2021-12-20 08:40] shubhamkanwar-qasource opened #121616 "[Security Solution]Delete button gets disable for Cases added under bulk action when refreshed action is performed."
**Describe the bug**
Delete button gets disable for Cases added under bulk action when refreshed action is performed.

**Build Details:**
Version:8.0.0-SNAPSHOT
Build: 48801
COMMIT:  b95154fae8450f79a4e79b603dc2f6eb86b59594

**Browser Details:**
N/A

**Preconditions**
1. Elasticsearch should be up and running
2. Kibana should be up and running

**Steps to Reproduce**
1. Create a case under Cases t

[2021-12-20 08:40] elasticmachine commented on #121616
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-20 08:58] sqren commented on #121238
@cauemarcondes Can you confirm if this is fixed?

[2021-12-20 09:00] #120871 closed

[2021-12-20 09:05] sqren commented on #121405
That has always been a source of monumental confusion to me.

I hope this happens. Would provide a lot more value than showing the last bucket.

[2021-12-20 09:06] sqren commented on #84478
Just noticed this is marked as stale. It popped up again in https://github.com/elastic/kibana/issues/121405.

[2021-12-20 09:09] amolnater-qasource opened #121619 "[Fleet]: View in logs/metrics gets removed from Agent details page when user disables logs/metrics for system integration."
**Kibana version:**  8.0.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana cloud environment should be available.
2. Agents must be installed with Policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agent details page and click `>` for sys

[2021-12-20 09:09] elasticmachine commented on #121619
Pinging @elastic/fleet (Team:Fleet)

[2021-12-20 09:10] amolnater-qasource commented on #121619
@manishgupta-qasource Please review.

[2021-12-20 09:18] kpatticha commented on #120908
@sqren for the `Manual Testing` , against which environment do you usually run the tests?

[2021-12-20 09:31] janmonschke commented on #121265
@karanverma-qasource If you have the time, could you check if this is fixed on the newest snapshot?

[2021-12-20 09:38] #120862 closed

[2021-12-20 09:50] #65538 closed

[2021-12-20 09:57] pgayvallet opened #121622 "Fleet packages/assets causing failures in savedObjects management FTR tests"
I'm opening this issue to discuss about the interactions of fleet assets and our SOM (savedObjects management) tests. The introduction of savedObjects automatically installed at startup by fleet is causing a lot of pain in our SOM FTR tests.

For example, in https://github.com/elastic/kibana/issues/116058, the test fails because it expect a fresh install of Kibana to only contains one object (the

[2021-12-20 09:57] elasticmachine commented on #121622
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-20 09:57] elasticmachine commented on #121622
Pinging @elastic/kibana-core (Team:Core)

[2021-12-20 10:01] gbanasiak opened #140533 "per-policy proxy setting in Elastic Agent in Fleet mode"

[2021-12-20 10:04] afharo opened #121624 "[SavedObjectsMigrations] Blocked migration to `_002` because `_001` did not exist"
We've been aware of a failing migration on `7.14.1` from `7.13.2`.

TL;DR, somehow the logic was not able to identify the existing index `.kibana_7.14.1_002` when `.kibana_7.14.1_001` did not exist.

It's unclear how the logic created `_002` before `_001`, but reports claim that manually creating `_001` unblocked the migration and successfully completed on `_002`.

cc @rachitakumar as the reporter

[2021-12-20 10:13] 007Akash007 opened #121625 "no root"
**Kibana version**:

**Elasticsearch version**:

**Server OS version**:

**Browser version**:

**Browser OS version**:

**Original install method (e.g. download page, yum, from source, etc.)**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Errors in browser console (if relevant)**:

**Provide logs and/or server output (if relevan

[2021-12-20 10:14] #121625 closed

[2021-12-20 10:18] elasticmachine commented on #121616
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-12-20 10:23] pgayvallet commented on #121492
@afharo @Bamieh Could this be caused by the introducing of the caching logic in telemetry somehow?

The failure is related to the data directly retrieved from telemetry:

https://github.com/elastic/kibana/blob/00cc5fef8e5ad66138740211f81dbaecdeff669d/x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/usage_collection.ts#L43-L48

[2021-12-20 10:28] afharo commented on #121492
yes! it looks like catching is the issue here. We can fix it by adding `refreshCache: true` in this test request

[2021-12-20 10:34] pgayvallet commented on #121624
The `versionIndex` seems to be hardcoded to `_001` here:

https://github.com/elastic/kibana/blob/f7163878c0f291ab11d2b3daa7ec9df19786198d/src/core/server/saved_objects/migrations/initial_state.ts#L74

Same for `targetIndex`

https://github.com/elastic/kibana/blob/e08c633156ed865010e12349ee767fbea8f72474/src/core/server/saved_objects/migrations/model/model.ts#L96

I couldn't really find a place whe

[2021-12-20 10:47] dosera opened #121627 "[Uptime] No monitors listed after upgrading beat to 7.16.2"
**Kibana version:** 7.16.2

**Elasticsearch version:** 7.16.2

**Server OS version:** CentOS /

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** yum

**Describe the bug:**
Since a change in the heartbeat (https://github.com/elastic/beats/pull/27535) the default `event.dataset` is no longer `uptime` but defaults to `mon

[2021-12-20 10:49] karanbirsingh-qasource commented on #121381
thanks @andrew-goldstein for updating us . please find below observation for different versions.

- ### Main/8.1 : ` issue is fixed` 🟢

https://user-images.githubusercontent.com/59917825/146738927-5d1ebc1e-41ef-4d9f-8872-fd96bcf3b65c.mp4

- ### 8.0 : ` issue is fixed` 🟢
https://user-images.githubusercontent.com/61860752/146747603-7d1b44fd-c923-40d3-afcc-e1628e197f98.mp4

we will be keeping this is

[2021-12-20 10:54] #121627 closed

[2021-12-20 11:03] deepikakeshav-qasource opened #121629 "[Security Solution] "Insert Timeline Link" icon is not displaying for description when create the case from alerts tab"
**Describe the bug**
"Insert Timeline Link" icon is not displaying for description when create the case from alerts tab

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana should be running
2. alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts tab under security
2. Click on more action icon of any alert
3. Click on create a new case
4. Observe th

[2021-12-20 11:03] elasticmachine commented on #121629
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-12-20 11:04] elasticmachine commented on #121629
Pinging @elastic/security-threat-hunting-cases (Team:Threat Hunting:Cases)

[2021-12-20 11:06] manishgupta-qasource commented on #121619
Reviewed and mention to kpollich

[2021-12-20 11:06] dosera commented on #121627
invalid

[2021-12-20 11:14] kibanamachine opened #121630 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrations/integration_tests - migration v2 migrates saved objects normally when multiple Kibana instances are started with an average interval"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/5892#0cb75b31-6a16-47d3-8ff8-795e7b383560)

[2021-12-20 11:20] muskangulati-qasource commented on #113820
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/34375

Thanks!

[2021-12-20 11:21] muskangulati-qasource commented on #113741
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150277

Thanks!

[2021-12-20 11:23] muskangulati-qasource commented on #111846
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/147396

Thanks!

[2021-12-20 11:32] muskangulati-qasource commented on #111210
## Bug Conversion

- Test-Case not required as this is a Dev Validation

Thanks!

[2021-12-20 11:35] muskangulati-qasource commented on #108509
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/150286

Thanks!

[2021-12-20 11:36] muskangulati-qasource commented on #86095
## Bug Conversion

- Test-Case not required as this particular checkpoint is already covered in the following test plan:
    - https://elastic.testrail.io/index.php?/cases/view/34375

Thanks!

[2021-12-20 11:36] deepikakeshav-qasource commented on #121168
Hi @andrew-goldstein ,

We have validated this ticket on **8.1.0 main branch and 8.0.0 PR**. We are unable to test on 7.17. Look like PR has been deleted.

Please find the below observations:

**8.1.0**
- We observed that no data is displayed under raw events. 🟢

**Screen-record**

https://user-images.githubusercontent.com/59917825/146738927-5d1ebc1e-41ef-4d9f-8872-fd96bcf3b65c.mp4

**8.0.0**
- We

[2021-12-20 11:47] pgayvallet commented on #89733
`xpack_legacy` has been removed, I'm going to close this.

[2021-12-20 11:47] #89733 closed

[2021-12-20 11:52] pgayvallet commented on #90563
Significant changes have been made to this part of the code since the failure, and given we did not encounter any new failures since, I'm going to close this.

[2021-12-20 11:52] #90563 closed

[2021-12-20 11:54] elasticmachine commented on #99583
Pinging @elastic/kibana-operations (Team:Operations)

[2021-12-20 11:58] Bamieh commented on #121492
Maybe it is a good idea to update the `usageAPI` service to set `refreshCache: true` by default inside tests:

https://github.com/elastic/kibana/blob/main/x-pack/test/api_integration/services/usage_api.ts#L42

[code]

[2021-12-20 12:08] deepikakeshav-qasource commented on #121390
Hi Team,

Once the rule is created, Data view is available on alerts tab and rule details page.

https://user-images.githubusercontent.com/61860752/146765007-b2619fd7-c3b0-4602-ba7c-48962e87fb84.mp4

Hence, We are closing this issue.

Thanks!!

[2021-12-20 12:13] pgayvallet commented on #111589
@liza-mae is this test flaky or does it fail consistently?

[2021-12-20 12:29] joshdover commented on #121622
No that doesn't solve our problem here but it would help with the situation where the number of objects changes due to the Fleet package that is being installed changing.

I think the best option is to just skip these tests until https://github.com/elastic/kibana/issues/108456 is implemented which will stop installing these Saved Objects on Kibana boot. This is scheduled for the next release and I

[2021-12-20 12:44] #120826 closed

[2021-12-20 13:00] vadimkibana commented on #114305
Looks good to me, we could add, say `content`, optional input to the error embeddable, which could be of type `UiComponent`, or maybe `React.FC`, when present the error embeddable would render the extra `content` below the title.

[2021-12-20 13:07] #121157 closed

[2021-12-20 13:24] simitt commented on #121238
We werent testing against production packages, but we were testing against the production like packages from staging, that then got promoted to production. I'm not sure I am following how this would have caused troubles here.

[2021-12-20 13:42] #117697 closed

[2021-12-20 13:42] #121271 closed

[2021-12-20 13:43] #120351 closed

[2021-12-20 13:59] joshdover opened #121639 "[Fleet] Improve performance of auto package upgrades"
We have suspicion that some customers are running into some performance problems on the `/api/fleet/setup` endpoint caused by the "keep policies up-to-date" logic in Fleet setup. This has some opportunity for some optimization improvements which would minimize the overhead of running this logic during Fleet setup.

### Current implementation

- Fetch the `id`s for all package policies https://gith

[2021-12-20 13:59] elasticmachine commented on #121639
Pinging @elastic/fleet (Feature:EPM)

[2021-12-20 13:59] elasticmachine commented on #121639
Pinging @elastic/fleet (Team:Fleet)

[2021-12-20 13:59] sqren opened #121640 "[APM] Warning in APM Integration Editor caused by invalid default duration"
Under the Advanced Options in the APM Integration Editor we display a warning "Must be greater than 1ms" for the option "Maximum duration for reading an entire request".

![image](https://user-images.githubusercontent.com/209966/146749037-cdd33f86-572e-4a0a-adda-5601c0f64a11.png)

The warning is displayed because the value (3600) doesn't contain a unit ("ms").

[2021-12-20 13:59] elasticmachine commented on #121640
Pinging @elastic/apm-ui (Team:apm)

[2021-12-20 14:00] joshdover commented on #121639
Before we do the implementation work above, we should validate with a large data set + APM instrumentation that this is indeed the area that is causing the slowdown.

[2021-12-20 14:01] elasticmachine commented on #121630
Pinging @elastic/kibana-core (Team:Core)

[2021-12-20 14:02] joshdover commented on #121599
Yeah I think this is the same as https://github.com/elastic/kibana/issues/121059 which was fixed in 7.16.2 which was released over the weekend.

[2021-12-20 14:06] joshdover commented on #121619
This feels like expected behavior, but I'm unsure. If we still have data, but the collection has been turned off, should we still show the links to view the data? We'd need to start querying for data on each stream that is disabled, which is likely to be a bit slow, especially if the documents for this agent have been moved to a slower data tier. IMO it's not worth the performance cost to fix this

[2021-12-20 14:08] mistic commented on #121172
This test keeps failing and looks flaky. Skipping for now.

main/8.1: c9055c7
8.0: 8406b9a
7.16: 4f4b4fc

[2021-12-20 14:17] Dosant commented on #94408
Note for someone fixing this (maybe future me):
this doesn't happen on other pages because Security Solution doesn't have a title in the inspector which would increase the height of the flyout header and would prevent an overlap.

[2021-12-20 14:37] jsanz commented on #111982
This issue should be solved as changes in EMS File Service manifests propagate to our CDN.

I've just tested Elastic Maps on an `8.0.0-SNAPSHOT` docker stack and the entry is not duplicated anymore.