[2021-07-26 11:02] #104449 closed

[2021-07-26 11:04] stratoula commented on #26438
We should have closed it when the new implementation was merged. This has been fixed

[2021-07-26 11:04] #26438 closed

[2021-07-26 11:07] stratoula commented on #22542
I cant replicate this on master, I am closing it

[2021-07-26 11:07] #22542 closed

[2021-07-26 11:07] Dosant commented on #106363
Duplicate of https://github.com/elastic/kibana/issues/104143, should be fixed in a later 7.14bc

[2021-07-26 11:07] #106363 closed

[2021-07-26 11:19] stratoula commented on #20915
I am closing it as I cant replicate it in master

[2021-07-26 11:19] #20915 closed

[2021-07-26 11:21] stratoula commented on #18612
Closing it as I can't replicate it in master

[2021-07-26 11:21] #18612 closed

[2021-07-26 11:21] stratoula commented on #18962
closing it as I can't replicate it in master

[2021-07-26 11:21] #18962 closed

[2021-07-26 11:31] mandeepkaur-qasource commented on #101867
Hi @MadameSheema,

We have validated the fix for this defect on 7.14.0 BC4 and found that the issue has been fixed as 'Inspect Icon' is now functional and on clicking at 'Inspect Icon' the Inspect modal window is getting popped up to the user. Inspect Icon is working fine for all the sections on Host detail page like Hosts, 'User Authentication , Unique IPs and Authentication and All Hosts' sectio

[2021-07-26 11:31] #101867 closed

[2021-07-26 11:33] kpollich commented on #106475
Fixed in https://github.com/elastic/kibana/commit/72c3949b62087105fe4a3e7a322abf5ce767f9a1.

I verified the beta text is removed on the latest 7.14 build on QA, so I'm closing this.

![Screen Shot 2021-07-26 at 7 32 32 AM](https://user-images.githubusercontent.com/6766512/126982267-e04a5206-94da-4a93-8a34-87360b70f1e8.png)

[2021-07-26 11:33] #106475 closed

[2021-07-26 11:34] Dosant opened #106706 "Remove redundant index pattern test plugin"
We have this index pattern test plugin https://github.com/elastic/kibana/tree/master/test/plugin_functional/plugins/index_patterns and it seems it replicates some of the index patterns REST API code? If so, can we use an API where this is used and remove the plugin?

[2021-07-26 11:34] elasticmachine commented on #106706
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-26 11:34] Dosant commented on #106706
@mattkime, could you take a look at this plugin? Does it seem tht this one isn't needed anymore at this point?

[2021-07-26 11:35] mandeepkaur-qasource commented on #99626
Hi @MadameSheema

We have validated the fix for this defect on 7.14.0 BC4 and found that the issue has been **fixed.** As correct search results are getting displayed on providing a partial keyword in search field under 'Table' tab on Alert Details flyout

Please find the below observation :
**Screen-Cast:**
![partial](https://user-images.githubusercontent.com/78949593/126982308-adb0a86a-d649-4a6c

[2021-07-26 11:35] #99626 closed

[2021-07-26 11:37] #106360 closed

[2021-07-26 11:38] stratoula commented on #17249
@tsullivan maybe you know, is this still valid?I cant replicate it tbh

[2021-07-26 11:39] monfera commented on #106372
We've already got a couple of very simple solvers in Charts, eg. a mixed integer, constrained gradient descent function, which could be used for identifying the minimal or maximal value for an acceptable column count; it demands a monotonic cost function (ie. it'll get stuck in a local optimum, if any). There's also a grid search function, though not yet in a PR, which would help with local optima

[2021-07-26 11:40] stratoula commented on #16825
![image](https://user-images.githubusercontent.com/17003240/126983043-564ec8cc-eb24-4739-9b43-3f179c92ec86.png)
I cant replicate it in master, I am closing it!

[2021-07-26 11:40] #16825 closed

[2021-07-26 11:42] stratoula commented on #16770
I am closing it as this has been fixed in master
![image](https://user-images.githubusercontent.com/17003240/126983266-92ebbfcf-2012-484f-8e27-4ca88ea8ecde.png)

[2021-07-26 11:42] #16770 closed

[2021-07-26 11:42] elasticmachine commented on #106696
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-26 11:43] elasticmachine commented on #106698
Pinging @elastic/kibana-security (Team:Security)

[2021-07-26 11:44] stratoula commented on #16760
@VladLasitsa can you check if this is still valid on our new implementation?

[2021-07-26 11:45] kbalys commented on #106097
Hi @cauemarcondes, looking at the description I think you resolved this issue as well. Thank you.

[2021-07-26 11:45] #106097 closed

[2021-07-26 11:47] stratoula commented on #16502
i am closing it as we dont support ES Query DSL on our filters aggregation

[2021-07-26 11:47] #16502 closed

[2021-07-26 11:49] #104850 closed

[2021-07-26 11:50] #96134 closed

[2021-07-26 11:56] stratoula commented on #14688
I am closing it as I cant replicate it in master

[2021-07-26 11:56] #14688 closed

[2021-07-26 11:58] muskangulati-qasource opened #106711 "[Security Solution] The Alerts Details flyout does not show the correct data for the case to which the alert is added under the host isolation flyout"
**Description:**
The Alerts Details flyout does not show the correct data for the case to which the alert is added under the host isolation flyout

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Endpoint should be deployed
3. Alert should be generated

**Steps to Reproduce:**
1. Create a case and add the alert to the case
2. Navigate

[2021-07-26 11:58] elasticmachine commented on #106711
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-26 11:58] elasticmachine commented on #106711
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-26 11:58] muskangulati-qasource opened #106712 "[Security Solution] The Trusted Apps does not work for Linux malware file"
**Description:**
The Trusted Apps does not work for Linux malware file

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Linux Endpoint should be deployed

**Steps to Reproduce:**
1. Get the hash for the Linux malware with the following command:
'sha1sum'
2. Navigate to the Trusted Apps & add the entry for the same
3. Trigger the malwar

[2021-07-26 11:58] elasticmachine commented on #106712
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-26 11:58] elasticmachine commented on #106712
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-26 11:58] muskangulati-qasource commented on #106711
@manishgupta-qasource please review!

[2021-07-26 11:58] muskangulati-qasource commented on #106712
@manishgupta-qasource please review!

[2021-07-26 11:59] stratoula commented on #15230
I am closing this as I cant replicate it in master

[2021-07-26 11:59] #15230 closed

[2021-07-26 12:01] stratoula commented on #14035
As this was reported for an old Kibana version I am closing it, I don't remember to have encountered this behavior in the latest 7.x minors

[2021-07-26 12:01] #14035 closed

[2021-07-26 12:03] manishgupta-qasource commented on #106676
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 12:03] manishgupta-qasource commented on #106677
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 12:03] manishgupta-qasource commented on #106680
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 12:04] ppisljar commented on #103988
migrateToLatest has been implemented on embeddables, but if i understand correctly dashboard url no longer contains any panel state ?

[2021-07-26 12:04] elasticmachine commented on #14607
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:05] stratoula commented on #14607
Let's evaluate this again when we replace the old heatmap implementation with the new elastic-charts one

[2021-07-26 12:06] stratoula commented on #14418
I cant replicate it on master, I am closing it

[2021-07-26 12:06] #14418 closed

[2021-07-26 12:07] manishgupta-qasource commented on #106711
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-07-26 12:07] manishgupta-qasource commented on #106712
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-07-26 12:07] stratoula commented on #14386
This is not reproducible in master

[2021-07-26 12:07] #14386 closed

[2021-07-26 12:08] stratoula commented on #13352
Let's evaluate this when we change the implementation to use elastic-charts instead

[2021-07-26 12:09] ymao1 commented on #106233
@spong Rules are not required to be disabled before upgrading.

We have discovered while working on https://github.com/elastic/kibana/issues/101582 that any error that occurs during the rule/connector migration process (decrypting, migrating, encrypting) will be caught, logged, and the unmigrated document returned. However, since there are no errors being logged during upgrade, it doesn't seem lik

[2021-07-26 12:09] stratoula commented on #13253
I can see the warning only once in the latest 7.x minor so I am closing this

[2021-07-26 12:09] #13253 closed

[2021-07-26 12:09] ppisljar commented on #104847
resolved by https://github.com/elastic/kibana/pull/104897
we will implement persistable state interfaces on query and timerange at a later time as we don't expect any migrations on them soon and they do not reference other saved objects.

[2021-07-26 12:09] #104847 closed

[2021-07-26 12:12] stratoula commented on #13545
I cant replicate it in the latest 7.x minor, please feel free to open it if you think that it is still valid

[2021-07-26 12:12] #13545 closed

[2021-07-26 12:15] vipulsrivastava-qasource opened #106713 "[Fleet] Integration filter selected value is not updated if select the integration first and remove all the values in one go in search field later."
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Agent is deployed having multiple integration.

[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet-> Data streams tab.
3. Select multiple integration under integration filter.
4. Now remove the

[2021-07-26 12:15] elasticmachine commented on #106713
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 12:16] vipulsrivastava-qasource commented on #106713
@manishgupta-qasource : Please review the Bug.

[2021-07-26 12:20] stratoula commented on #12998
I am closing it as I can't replicate it in the latest 7.x minor

[2021-07-26 12:20] #12998 closed

[2021-07-26 12:22] dej611 commented on #105410
Why the monospaced font is a requirement? I see it can speed things up a bit, but I guess it just an implementation optimization rather than a requirement.

[2021-07-26 12:22] stratoula commented on #12582
I cant replicate it on master, I am closing this

[2021-07-26 12:22] #12582 closed

[2021-07-26 12:23] elasticmachine commented on #12666
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:23] Dosant commented on #18452
Checked that not reproduced in newer versions

[2021-07-26 12:23] #18452 closed

[2021-07-26 12:23] stratoula commented on #12666
Let's evaluate it when we replace the current implementation with the elastic-charts one

[2021-07-26 12:28] stratoula commented on #12283
I am closing this as I can't replicate it in master

[2021-07-26 12:28] #12283 closed

[2021-07-26 12:29] elasticmachine commented on #12244
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:29] jasonrhodes opened #106714 "[RAC] "Add to case" turned on for o11y alerts table"
In the alerts table on the Observability Alerts page, a user should be able to add any alert to a case.

AC:
* The "overflow actions" button appears for each row of the alerts table
* Inside the overflow actions popover, one of the options is "Add to case"
* Choosing "Add to case" allows the user to add this alert to a case

Notes:
* All alerts, regardless of status, should be available to add to

[2021-07-26 12:30] elasticmachine commented on #106714
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-26 12:32] elasticmachine commented on #14291
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:33] stratoula commented on #14232
The legend color picker implementation has changed in the latest 7.x minors so this bug doesn't exist anymore

[2021-07-26 12:33] #14232 closed

[2021-07-26 12:34] manishgupta-qasource commented on #106713
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 12:36] stratoula commented on #14176
This is how the legacy palette worked. On 7.12 and after we are using the new palette service which solves this behavior. With that being said, I am closing this :)

[2021-07-26 12:36] #14176 closed

[2021-07-26 12:38] stratoula commented on #14173
We fixed that with the new implementation of the XY axis. I am closing this!

[2021-07-26 12:38] #14173 closed

[2021-07-26 12:38] stratoula commented on #13494
Not reproducible anymore

[2021-07-26 12:38] #13494 closed

[2021-07-26 12:39] stratoula commented on #13495
This has been solved in 7.x

[2021-07-26 12:39] #13495 closed

[2021-07-26 12:41] stratoula commented on #13499
I can't replicate it with the new XY charts implementation (introduced in 7.12). I am closing this but feel free to open it if you encounter it after 7.12

[2021-07-26 12:41] #13499 closed

[2021-07-26 12:43] mikecote commented on #106603
The bug seems severe enough to put in To-Do now, giving an opportunity to backport into the latest BC for 7.14 and 7.13 as early as possible.

[2021-07-26 12:44] ferullo commented on #105985
I unassigned myself because this looks like a purely server side issue. @kevinlog let me know if you disagree.

[2021-07-26 12:45] stratoula commented on #13463
I cant reproduce it in master

[2021-07-26 12:45] #13463 closed

[2021-07-26 12:45] elasticmachine commented on #106452
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-26 12:47] muskangulati-qasource opened #106717 "[Security Solution] Host Isolation action is not available if user with role having only read permission is created"
**Description:**
Host Isolation action is not available if the user with a role having only read permission is created

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Go to Kibana > Stack Management .
2. Create a New Role with any Name let say ( Security All Case All ).
3. Cluster privileges will be set to All

[2021-07-26 12:47] elasticmachine commented on #106717
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-26 12:47] elasticmachine commented on #106717
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-26 12:47] stratoula commented on #13248
This has been fixed in the elastic-charts implementation. Feel free to reopen it if you find any scenario that it still doesn't work

[2021-07-26 12:47] #13248 closed

[2021-07-26 12:49] ThomThomson commented on #103988
That's great news @ppisljar!

Dashboard URLs still contain panel state _only_ when a user explicitly generates a snapshot URL. We will be using `migrateToLatest` through the locator migrations to cover that use case. Are there any usage examples for `migrateToLatest` that we can look into?

[2021-07-26 12:49] elasticmachine commented on #12317
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:51] elasticmachine commented on #10648
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:51] dominiqueclarke commented on #94089
We are using the soon to be deprecated `/api/actions/list_action_types`. The route is defined in `x-pack/plugins/uptime/common/constants/rest_api.ts`

We'll need to update based on the new routes defined in the PR.

GET `/api/actions/list_action_types` => `/api/actions/list_connector_types`

[2021-07-26 12:52] stratoula commented on #10729
I am closing it as I cant reproduce it.

[2021-07-26 12:52] #10729 closed

[2021-07-26 12:53] muskangulati-qasource commented on #106717
@manishgupta-qasource please review!

[2021-07-26 12:53] stratoula commented on #10887
@VladLasitsa can we check if this is fixed with the elastic charts implementation and close it?

[2021-07-26 12:54] elasticmachine commented on #11109
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-07-26 12:55] stratoula commented on #11225
I can't replicate it in the latest 7.x minor. I am closing this

[2021-07-26 12:55] #11225 closed

[2021-07-26 12:56] stratoula commented on #8618
I am closing it as I can't reproduce it in the latest minor

[2021-07-26 12:56] #8618 closed

[2021-07-26 13:00] stratoula commented on #10354
I am closing it as this has been fixed in master

[2021-07-26 13:00] #10354 closed

[2021-07-26 13:02] dominiqueclarke commented on #95839
We are using 3 soon to be deprecated apis. The routes are defined in `x-pack/plugins/uptime/common/constants/rest_api.ts` and used in `x-pack/plugins/uptime/public/state/api/alerts.ts`.

POST `/api/alerts/alert`
DELETE `/api/alerts/alert/{id}`
GET `/api/alerts/_find`

We will need to update them according to the specs laid out in #90377

- POST `/api/alerts/alert` => `/api/alerting/rule`
- GET `/a

[2021-07-26 13:02] stratoula commented on #9977
I cant replicate it in master, I am closing this

[2021-07-26 13:02] #9977 closed

[2021-07-26 13:04] alisonelizabeth commented on #91875
Great! Thanks @axw. I will likely follow-up with you with questions once I'm able to start working on this.

[2021-07-26 13:05] stratoula commented on #11340
I am closing this as a duplicate of https://github.com/elastic/kibana/issues/13866

[2021-07-26 13:05] #11340 closed

[2021-07-26 13:07] stratoula commented on #11442
I am closing this, I dont think that this feature exists in the 7.x datatable viz

[2021-07-26 13:07] #11442 closed

[2021-07-26 13:08] stratoula commented on #11657
I am closing it as I can't replicate it in 7.x. Please feel free to reopen it if you encounter it and give us more information on how to replicate it!

[2021-07-26 13:08] #11657 closed

[2021-07-26 13:11] stratoula commented on #12178
I can sort with pipeline aggs in the latest 7.x datatable. I am closing it

[2021-07-26 13:11] #12178 closed

[2021-07-26 13:11] stratoula commented on #12059
I am closing it as we dont support IE in the latest kibana versions

[2021-07-26 13:11] #12059 closed

[2021-07-26 13:16] EricDavisX commented on #106668
JH I have seen it prior that we don't have input validation for all of the fields, if you can help categorize / summarize all of that together we can pass it on to the test team to help avoid duplicates (I think this is logged already maybe).

[2021-07-26 13:19] stratoula commented on #9423
I am closing it as is a very old issue

[2021-07-26 13:19] #9423 closed

[2021-07-26 13:28] kpollich commented on #106677
This was changed to "type:integration" in https://github.com/elastic/kibana/pull/104641 as part of this issue: https://github.com/elastic/kibana/issues/104549. Please update test plans to use "type:integration" instead of "type:package".

[2021-07-26 13:28] #106677 closed

[2021-07-26 13:29] manishgupta-qasource commented on #106717
Reviewed & assigned to @paul-tavares

CC: @kevinlog

[2021-07-26 13:30] dej611 commented on #97134
Next steps:

1. Register the expression functions in `common` on server
  * Mind `getDatatable` requires an async registration for the data formatter plugin
  * Add the timezone info to expression context, when in browser pick it using `moment`, or fallback to `UISettings` when not provided
    * Make `lens_time_scale` function to pick it up from context

2. Extend `render` function to log data in

[2021-07-26 13:34] legrego commented on #106656
Closing as this appears to be a transient failure

[2021-07-26 13:34] #106656 closed

[2021-07-26 13:37] weltenwort commented on #106452
@aleph-zero Do any log indices exist? The list of fields is extracted from their mappings via the `_field_caps` API.

[2021-07-26 13:37] kevinlog commented on #105985
@cavokz

It's expected that the Endpoint package cannot be uninstalled after it's installed.  The package will be installed automatically if the user visits the Security app or adds the Endpoint integration in Fleet.  Since you visited the Alerts tab, I would expect that the package is installed.

The error you're seeing regarding the alerts index is also a known issue right now until you generate

[2021-07-26 13:38] EricDavisX commented on #106677
thanks Kyle!  @dikshachauhan-qasource @amolnater-qasource one more issue down. :)  Thanks for the diligence.

[2021-07-26 13:39] kevinlog commented on #106717
@muskangulati-qasource it's expected that users with Read permissions only cannot use Host Isolation.  Currently, only the superuser role may use Host Isolation.

I'm going to close this one. Let me know if you have questions

Cc @caitlinbetz

[2021-07-26 13:39] timroes commented on #59588
I am not 100% sure if we decided to make this now a read-only view of the JSON or not? I wonder also if it's worth checking with some support engineers how commonly they might use the "edit" features on the saved object page. I'd still be in favor of making it a read-only JSON editor, and simplify the code a lot.

I think given that we'll need to work on this some time before 8.0 (or have to rewri

[2021-07-26 13:51] legrego commented on #98500
Currently, the access agreement is tied to a user session. We create a user session whenever a user logs in to Kibana. When authenticating via reverse-proxy, a user doesn't ever "login" from Kibana's perspective -- rather, they just present their credentials on each request, by virtue of the proxy injecting an `Authorization` header.

Tying the access agreement to the session makes sense because:

[2021-07-26 13:51] mdefazio commented on #106585
_Not sure if I labeled this correctly, so please feel free to update_

I know some of these items are already being worked on (or completed).  I'm happy to link up the PRs or mark off the checkbox if so.

I will create a separate issue for the flyouts.

cc/ @paulewing , @katrin-freihofner, @jasonrhodes , @XavierM

[2021-07-26 13:56] elasticmachine commented on #103365
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-26 14:08] mandeepkaur-qasource commented on #106233
Hi @ymao1,
Just want to make sure that we are on the right track.
Do you want us to share the exported rule json files with both activated and decativated status on 7.8.0 and Than upgrade to 7.14.0 and again export the same rule and share that json as well?

[2021-07-26 14:11] pmuellr opened #106724 "[alerting] allow rule types to provide feedback during create/update/delete calls"
Currently, alerting rule types are only invoked to execute the rule.  We've had some scenarios where it would be useful to allow rules to provide some feedback during create.  Specifically, to do some checking against 3rd party services (Swimlane and ServiceNow), and be able to "veto" the creation.  Think of it as an additional validation, that's done at the time of the create, given the rule para

[2021-07-26 14:11] elasticmachine commented on #106724
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-26 14:13] nickofthyme commented on #12317
https://github.com/elastic/elastic-charts/issues/1008

[2021-07-26 14:15] nickofthyme commented on #12244
See https://github.com/elastic/elastic-charts/issues/1008

[2021-07-26 14:18] ecezalp commented on #105573
the observed behavior is intentional and is partly relevant to the conversation [here](https://github.com/elastic/kibana/pull/103383#discussion_r660179082).

To summarize, the information convened in threat.indicator.matched.type is intentionally overridden with the name of the matching strategy used within the security_solution, and it can have the values `indicator_match_rule` or `investigation_

[2021-07-26 14:18] #105573 closed

[2021-07-26 14:19] pmuellr commented on #106724
I was unable to find a Swimlane issue / PR where we had mentioned this before, so will need to do some research on the exact needs.

I believe the story is similar to the ServiceNow one though - today, we can do this "additional work" in the alerting UI, and prevent the Save from occurring if we need to, by customizing the UI.  But we can't do this if the rule is being created by the HTTP API.  II

[2021-07-26 14:25] MadameSheema commented on #104049
@karanbirsingh-qasource please validate the fix of this issue on the next BC, thanks :)

[2021-07-26 14:26] ymao1 commented on #106233
@mandeepkaur-qasource Can we get the documents from the `.kibana` index (vs exporting via the detection rule ui)? That would allow us to see the full saved object

[2021-07-26 14:33] weltenwort opened #106727 "[APM] Index the reason field for lifecycle-aware alerting rules"
## :memo: Summary

In order to make a human-readable reason for an active alert across different UIs (Observability, Security and user-defined dashboards), we want to index a short description as part of the alerts-as-data documents.

## :heavy_check_mark: Acceptance criteria

- The executors of all APM rule types registered with the observability rule registry index a human-readable reason in the

[2021-07-26 14:33] elasticmachine commented on #106727
Pinging @elastic/apm-ui (Team:apm)

[2021-07-26 14:34] weltenwort opened #106729 "[Uptime] Index the reason field for lifecycle-aware alerting rules"
## :memo: Summary

In order to make a human-readable reason for an active alert across different UIs (Observability, Security and user-defined dashboards), we want to index a short description as part of the alerts-as-data documents.

## :heavy_check_mark: Acceptance criteria

- The executors of all Uptime rule types registered with the observability rule registry index a human-readable reason in

[2021-07-26 14:34] elasticmachine commented on #106729
Pinging @elastic/uptime (Team:uptime)

[2021-07-26 14:37] ghudgins commented on #82743
we plan on delivering this functionality to visualizations via this issue https://github.com/elastic/kibana/issues/101942

[2021-07-26 14:37] weltenwort opened #106730 "[Meta] [Observability] Index human-readable reason for alerting rules"
## :memo: Summary

In order to make a human-readable reason for an active alert across different UIs (Observability, Security and user-defined dashboards), we want to index a short description as part of the alerts-as-data documents.

## Task breakdown

- #106727
- #106729
- #106513
- #106291

[2021-07-26 15:02] kibanamachine opened #106736 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/anomaly_detection/single_metric_job·ts - machine learning anomaly detection single metric job creation navigates through the single metric wizard and sets all needed fields"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15666/)

[2021-07-26 15:07] elasticmachine commented on #106736
Pinging @elastic/ml-ui (:ml)

[2021-07-26 15:10] elasticmachine commented on #106653
Pinging @elastic/ml-ui (:ml)

[2021-07-26 15:20] kibanamachine commented on #105542
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/151/)

[2021-07-26 15:23] hendrikmuhs commented on #104624
I created https://github.com/elastic/elasticsearch/issues/75693 to work on the backend issue.

[2021-07-26 15:35] MadameSheema commented on #102904
@samratbhadra-qasource can you please try to put a long comment with spaces between them? thanks :)

[2021-07-26 15:37] cauemarcondes commented on #106622
Moving it to backlog since it's not a regression from `7.14`

[2021-07-26 15:47] jen-huang commented on #106668
@EricDavisX That pertains to the policy builder fields. Other places should have proper validation.

WRT to this field and `e`, this is an [number input](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number) field and this is default browser [behavior](https://stackoverflow.com/a/31706796). We ought to block any non-numeric input on the client side but I'm de-prioritizing this as

[2021-07-26 15:48] mgiota commented on #104348
@Kerry350 LGTM!

What kind of role should I assign to my user to not be able to see the logs app?

[2021-07-26 15:55] jen-huang commented on #106713
Closing as won't fix, this is an issue with the table component itself. I've filed https://github.com/elastic/eui/issues/4976 for the design team to look at.

[2021-07-26 15:55] #106713 closed

[2021-07-26 16:00] jbudz opened #106749 "Failing test: Package testing.assert_kibana_available : localhost:5601/api/status"
[code]

https://kibana-ci.elastic.co/job/elastic+kibana+package-testing-7.x/43
https://kibana-ci.elastic.co/job/elastic+kibana+package-testing/57

[2021-07-26 16:04] jen-huang commented on #106671
This one is interesting because technically we are navigating from Integrations "app" to Fleet "app" so we do need to perform some setup checks. I'm putting this in the backlog for now.

[2021-07-26 16:05] kibanamachine commented on #106052
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15667/)

[2021-07-26 16:05] kibanamachine commented on #103389
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15667/)

[2021-07-26 16:05] jen-huang commented on #106680
@kpollich @hop-dev Another breadcrumb one :)

[2021-07-26 16:06] jen-huang commented on #106676
This is new functionality that was added for 7.14 so is expected. It should just open the usual Add agent flyout.

[2021-07-26 16:08] jbudz commented on #106749
skipped
main: 08ef8da
7.x: a5e3de8

[2021-07-26 16:14] jen-huang commented on #106613
This is expected behavior as Fleet (and Integrations) only supports `superuser` for now, so this is a bit of a placeholder. Closing as we have other issues filed for revising our superuser requirement.

[2021-07-26 16:14] #106613 closed

[2021-07-26 16:15] kpollich commented on #106671
This is correct. The "add package policy" screen still lives within the Fleet app. It can likely be moved to integrations, but we'll want to be careful that any context/setup necessary to support that page is moved over as well. This was one of the more involved screens to move if I remember correctly, so we punted on moving it during the initial Integrations UI migration.

[2021-07-26 16:16] #79574 closed

[2021-07-26 16:18] jen-huang commented on #106495
This is expected behavior. We don't keep the user's form state around if they navigate away because we cannot retrieve the previously generated service token (it is shown once only).

[2021-07-26 16:18] #106495 closed

[2021-07-26 16:20] walterra commented on #106653
Turned out this is another occurrence of a known CI network issue: `ERROR browser[SEVERE] http://localhost:6171/api/apm/services/opbeans-go/dependencies?start=2019-07-28T00%3A00%3A00.000Z&end=2019-07-29T00%3A00%3A00.000Z&environment=ENVIRONMENT_ALL&numBuckets=20 - Failed to load resource: net::ERR_NETWORK_CHANGED`

So no issue in the the app or the test code, closing.

[2021-07-26 16:20] #106653 closed

[2021-07-26 16:28] Dosant opened #106754 "[FieldFormatters] Allows to register a formatter after setup"
Apparently, there is a typescript bug in field formats definition:

https://github.com/elastic/kibana/blob/4f5e2a675abfaaf84674772abc530d7dde874889/src/plugins/data/common/field_formats/types.ts#L97

And it should be:

[code]

instead.

Otherwise now it is possible to register a formatter in the start cycle a Lens uses this bug to register it in the start cycle.

[2021-07-26 16:28] elasticmachine commented on #106754
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-26 16:41] dominiqueclarke commented on #95839
@mikecote Do you have new `Rule` types defined for the new snake case rule parameters. I see the `Alert` type at `x-pack/plugins/alerting/common/alert.ts`, but I can't find a corresponding new type for the new terminology and schema.

[2021-07-26 16:44] mikecote commented on #95839
@dominiqueclarke

Not at this time, our first pass at the terminology change was to rename anything user-facing and breaking (like HTTP APIs). The renaming in the code will happen at a future time and most likely be done all at once as a search and replace. You can keep using AlertType TS definitions for now 👍

[2021-07-26 16:51] snide opened #106758 "Sub-privileges RBAC UX / UI Improvements"
Noted when Osquery was added over here https://github.com/elastic/kibana/pull/106669

## Confusion over sub-privileges vs. Base privileges

We likely need a better way than the alert warning to show sub-priviledges. This can read a little confusing, since "all" is not "all". Only option I can think of is to show "custom" as the option, and reask the base privilege within that custom role, along wi

[2021-07-26 16:51] elasticmachine commented on #106758
Pinging @elastic/kibana-security (Team:Security)

[2021-07-26 16:52] rylnd commented on #103365
@ecezalp since these dashboards work _now_, I think it would be sufficient simply to know if/when they stop working. I think this could be satisfied by having some kind of coverage (e.g. QA tests) to verify these dashboards work prior to a release.

[2021-07-26 16:59] Zacqary opened #106761 "[Stack Monitoring] Convert everything in server/lib to TS (Part 2)"
After https://github.com/elastic/kibana/pull/106327 converts roughly half of `monitoring/server/lib` from `.js` to `.ts`, finish the job with the rest of the folder.

All **non-test** files should be Typescript and pass all tests and checks.

**Also remove any `//@ts-ignore` lines and resolve whatever issues they were ignoring.**

- [x] https://github.com/elastic/kibana/issues/108275
- [x] https:/

[2021-07-26 16:59] elasticmachine commented on #106761
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-26 17:00] legrego commented on #42834
This was resolved when migrating the ESO plugin to the Kibana Platform in https://github.com/elastic/kibana/pull/49890

[2021-07-26 17:00] #42834 closed

[2021-07-26 17:06] legrego commented on #22603
We were previously blocked on our inability to search across spaces (https://github.com/elastic/kibana/issues/27003), but this has since been resolved (https://github.com/elastic/kibana/pull/67644).

With this out of the way, our next steps would be to collaborate on a design to effectively show index patterns ("data views") alongside indices and data streams in an understandable UX, and then prio

[2021-07-26 17:07] constancecchen commented on #74795
This issue has been resolved now that Enterprise Search is using the new KibanaPageTemplate instead of rolling our own! Going to go ahead and close this 🎉

[2021-07-26 17:07] #74795 closed

[2021-07-26 17:08] legrego commented on #18131
We have a similar discussion in https://github.com/elastic/kibana/issues/22603, where are are proposing an interface to show index patterns alongside the actual index names. Closing this out in favor of https://github.com/elastic/kibana/issues/22603 to consolidate the discussion.

[2021-07-26 17:08] #18131 closed

[2021-07-26 17:17] #98476 closed

[2021-07-26 17:22] ryankeairns commented on #106758
Note for when this gets picked up: there is a [Figma file containing this section of the UI ](https://www.figma.com/file/4N0Np3P0aSihitAqO1OLtJ/Spaces?node-id=3%3A13770) and it follows some things that Dave is requesting here (i.e. text alignment, placement of icon, padding, changing the group access level to reflect subpriveleges, etc.).

More to think through with regards to 'Custom', but it's a

[2021-07-26 17:29] constancecchen commented on #79359
👋 Apologies this took so dang long y'all :) I have a11y tests added for the scope we mentioned above (i.e., a very small portion of the actual full app): https://github.com/elastic/kibana/pull/106765

I'm honestly not super sure if that counts as closing/completing this ticket or if you would consider this completed only if the full app gets tested. This might be complex as we were planning on wri

[2021-07-26 17:29] alexfrancoeur commented on #59588
I'm not sure if we made a decision on this earlier. Adding @thesmallestduck for product related thoughts on this change.

[2021-07-26 17:41] myasonik commented on #79359
No worries! Your work is awesome!

Deque, the makers of axe, have written about [setting up axe with cypress](https://www.deque.com/blog/how-to-test-for-accessibility-with-cypress/) so you should be in good company.

There aren't strict requirements on how to test so whatever works for y'all will be good. This is ultimately your ticket so feel free to track however is best for your team.

[2021-07-26 17:44] elasticmachine commented on #79359
Pinging @elastic/workplace-search-frontend (Team:WorkplaceSearch)

[2021-07-26 17:49] alisonelizabeth commented on #101282
Hi @beiske! I've started working on this. The endpoint itself will remain the same, `GET /api/upgrade_assistant/status`. However, the response will no longer include the full list of ES deprecations. Instead, it will have a `details` field which indicates how many ES and Kibana deprecations you have.

For example:
[code]

[code]

[2021-07-26 17:53] ymao1 opened #106767 "[Draft] Followup issues for alerting saved object sharing"

[2021-07-26 17:53] #106767 closed

[2021-07-26 17:53] ymao1 commented on #106767
## [Maps][Alerting] Migrate to using Saved Object References array to reference index patterns from Rules

Currently, geo containment rules stores two index pattern Saved Object IDs inside the rule params inside `params.indexId` and `params.boundaryIndexId`:

<details>
<summary>Example geo containment rule</summary>

[code]
</details>

In 8.0, saved objects will be converted to share-capable ([met

[2021-07-26 17:56] #105651 closed

[2021-07-26 17:57] legrego commented on #55953
This test is no longer relevant, as the legacy platform no longer handles HTTP requests.

[2021-07-26 17:57] #55953 closed

[2021-07-26 18:03] legrego commented on #104804
The failed builds have disappeared. Attempting to retrigger this failure via https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/

[2021-07-26 18:06] ymao1 commented on #100667
Detection rules assign a `params.ruleId` value which defaults to the `_id` value if defined but is auto-generated if `_id` is not defined.

<details>
<summary>Example security solution rule SO:</summary>

[code]
</details>

This is also stored as a tag with the format `__internal_rule_id:${params.ruleId}`

Currently, it looks like `rule_id` is not pointing to any SO objects directly but is used in

[2021-07-26 18:08] YulNaumenko opened #106770 "[Connectors] Implement support for `Proxy-Authorization`."
**Describe the feature:**
Based on the [enhancement request](https://github.com/elastic/enhancements/issues/13443) and [SDH](https://github.com/elastic/sdh-kibana/issues/1789) information, we need to provide the possibility for the proxy authorization for Alerting connectors.
Research results:
Actions proxy functionality was build on top of the `HttpsProxyAgent` which is internally adding `Proxy-A

[2021-07-26 18:08] elasticmachine commented on #106770
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-26 18:12] ymao1 commented on #106767
## [Cases][Connectors] Migrate to using Saved Object References array to reference action saved objects from Cases

Currently, there are several cases saved object types that directly store the associated actions SO ID instead of utilizing the references array. With alerting planning to make [actions share-capable](https://github.com/elastic/kibana/issues/100067) in 8.0.0, the SO IDs for these act

[2021-07-26 18:26] YulNaumenko opened #106771 "[Actions] Add support for the retry logic on the failed action task execution."
**Describe the feature:**
Currently, if the action task was failed during its execution, it won't be rescheduled any more (it could happen by the different reasons like 404, proxy, Kibana/ES restart etc.) and we will lose this actions for the rule.
This is a pretty bad UX if the rules will continue executing but no expected actions won't be done as the result.
We need to implement the logic, where

[2021-07-26 18:26] elasticmachine commented on #106771
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-26 18:34] poffdeluxe commented on #91197
I've updated this issue to breakdown work a bit more

[2021-07-26 18:43] YulNaumenko commented on #102353
@joshdover this sounds great, I think this could cover a bunch of false 404's. How does this impact existing usage of the `SavedObjectsErrorHelpers.isEsUnavailableError()`? Should we just rely on your fix? For 7.15?

We actually have `SavedObjectsRepository.update` which give us this errors (when we are trying update the rule with the new execution status info) and adding this only for `get` metho

[2021-07-26 18:45] dborodyansky commented on #105803
@alisonelizabeth I touched base to get some input from other designers, and recommend option C.

[2021-07-26 19:03] #105262 closed

[2021-07-26 19:09] peluja1012 commented on #106233
@mandeepkaur-qasource you can get the documents from the `.kibana` index using Kibana Dev Tools as follows.

1. Export the rule using the UI
2. Grab the value for `id` in the exported ndjson file
3. Go to Dev tools and run the following command:
[code]

[2021-07-26 19:20] clintandrewhall commented on #91197
I'm pinging @ppisljar and @elastic/kibana-app-services because I would be interested to explore writing new data-fetching expressions in the Expressions plugin for everyone to use, (or at least placing them in a as-yet-defined package).  Committing to new functions means we can move to them in Canvas and deprecate the old easily.

[2021-07-26 19:23] ymao1 commented on #106767
## [Security Rules] Migrate to using Saved Object References array to reference alert saved objects from security saved objects

Currently, there are several security saved object types that directly store the associated rule (`alert`) SO ID instead of utilizing the references array. With alerting planning to make [alerts share-capable](https://github.com/elastic/kibana/issues/100067) in 8.0.0, th

[2021-07-26 19:28] kibanamachine opened #106780 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/graph/feature_controls/graph_spaces·ts - graph app feature controls spaces space with no features disabled allows creating a new graph"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/153/)

[2021-07-26 19:33] elasticmachine commented on #106780
Pinging @elastic/kibana-security (Team:Security)

[2021-07-26 19:45] yctercero opened #106782 "[Timeline][Search Strategy] - Authorization architecture around search strategy"
An awesome feature of search strategy is that it allows a user to continue interacting with the applciation while long running queries are conducted in the background. Part of that feature includes giving the user the ability to cancel their long running queries as well.

We figured out while implementing RBAC for alerts within our search strategy that in order for RBAC to work, we needed 1) the f

[2021-07-26 19:45] elasticmachine commented on #106782
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-26 19:45] elasticmachine commented on #106782
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-26 19:45] elasticmachine commented on #106782
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-26 19:50] elasticmachine commented on #106780
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-26 19:55] jfsiii commented on #79574
Regardless of where it originates, it should still be documented, IMO. The change is pretty straightforward https://github.com/elastic/kibana/issues/79574#issuecomment-885263811

What about the endpoints at the top of the description? Those are routes I saw in https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/common/constants/routes.ts but not the spec.  If they're no longer activ

[2021-07-26 20:11] smith opened #106786 "[APM] Add and edit alerts outside of APM UI"
In elastic/kibana#106598 we added the ability to edit rules, but not their service name, transaction type, or environment.

**Problem**
This means that it is not possible to edit these values for existing alerts, and it not possible to create new APM alerts outside APM UI.

**Solution**
We may want to allow free-form values with suggestions ([EuiCombobox](https://elastic.github.io/eui/#/forms/comb

[2021-07-26 20:11] elasticmachine commented on #106786
Pinging @elastic/apm-ui (Team:apm)

[2021-07-26 20:17] chrisronline opened #106787 "[Draft] Followup issues for alerting saved object sharing"

[2021-07-26 20:18] #106787 closed

[2021-07-26 20:18] mgiota commented on #104349
LGTM!

[2021-07-26 20:18] #104349 closed

[2021-07-26 20:18] mgiota commented on #104348
LGTM!

[2021-07-26 20:18] #104348 closed

[2021-07-26 20:41] timroes commented on #59588
I've pulled a PR up with a PoC how this will look like, in case you want to test it out: https://github.com/elastic/kibana/pull/106746

[2021-07-26 20:59] kibanamachine commented on #106627
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15672/)

[2021-07-26 21:00] chrisronline commented on #106787
[Actions] Convert all `savedObjectClient.get()` calls to use `savedObjectClient.resolve` and handle the response appropriately

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed)

[2021-07-26 21:08] kibanamachine opened #106790 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/dashboard·ts - lens app lens dashboard tests should show all data from all layers in the inspector"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:08] kibanamachine opened #106791 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/dashboard·ts - lens app lens dashboard tests "before all" hook for "metric should be embeddable""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:08] kibanamachine opened #106792 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/dashboard·ts - lens app lens dashboard tests "after all" hook for "should show validation messages if any error appears""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:08] kibanamachine opened #106793 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/dashboard·ts - lens app lens dashboard tests "after all" hook for "should show validation messages if any error appears""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:08] kibanamachine commented on #75961
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:08] kibanamachine commented on #75962
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:08] kibanamachine commented on #75962
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/)

[2021-07-26 21:15] #106011 closed

[2021-07-26 21:18] peluja1012 commented on #89960
Hi @leegengyu, could you please try executing the same EQL query using Kibana -> Dev Tools and let us know what error is reported? Also, what versions of Elasticsearch and Kibana are you running?

[code]

[2021-07-26 21:36] ecezalp opened #106797 "Multiple Inspect Modals open at the same time while inspecting investigation_time query on Alert Details Flyout"
Notes: I believe that the really dark background on inspect modal issue is happening in the scenario in which there are multiple investigation_time enrichments on an alert. since they all have the same queryId, I believe that when one of the modals is opened actually all of them get opened, which create the really dark shadow appearance when the semi-opaque layers are stacked on top of each other.

[2021-07-26 22:01] austinsonger commented on #95618
Weird... Now all of sudden it started to add my custom friendly URL right in front of the Elastic generated URL. It used to only generate the Elastic generated URL.

`https://<Custom>.kb.eastus2.azure.elastic-cloud.com:9243https://######################.eastus2.azure.elastic-cloud.com:9243/app/security/detections/rules/id/b03e2910-97e9-11eb-ab85-dfc1f6da9d3f?timerange=(global:(linkTo:!(timeline),t

[2021-07-26 22:07] austinsonger commented on #95618
When I actually click the link the I get this.

![](https://i.imgur.com/lco9rjv.png)

[2021-07-26 22:25] #106676 closed

[2021-07-26 22:34] tylersmalley commented on #95863
Currently 457,221 bytes. Anything we can do here would greatly benefit the Kibana performance as a whole.

[2021-07-26 22:35] elasticmachine commented on #95863
Pinging @elastic/fleet (Team:Fleet)

[2021-07-26 22:36] tylersmalley opened #106802 "[timelines] Reduce page load bundle to under 100kB"
For details, refer to the meta issue at https://github.com/elastic/kibana/issues/95853

The `timelines` plugin is currently 327,717 bytes. To consider this issue closed, the [limits.yml](https://github.com/elastic/kibana/blob/master/packages/kbn-optimizer/limits.yml) should be updated with the value under 100000.

[2021-07-26 22:36] elasticmachine commented on #106802
Pinging @elastic/siem (Team:SIEM)

[2021-07-26 22:37] tylersmalley commented on #95872
Currently 237,009 bytes. Anything we can do here would greatly benefit the Kibana performance as a whole.

[2021-07-26 22:38] peluja1012 commented on #94071
To reproduce this, the user to have to configure a long look-back time and detect something between upgrades that was already detected for it to show the duplicate signal being created. The chances of this happening are probably low and the impact when it does happen is that they would get a signal generated that has already been generated. They could mark it as "closed" and move on. For this reas

[2021-07-26 22:40] tylersmalley commented on #95870
Re-opening this issue as the plugin is now 213,163 bytes. cc @XavierM

[2021-07-26 23:21] kibanamachine commented on #106660
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15674/)

[2021-07-27 00:22] lukasolson commented on #92362
I'm not able to reproduce this. It looks to me like we're requesting `"stored_fields": ["*"]` even for rollup index patterns.

[2021-07-27 00:57] peluja1012 commented on #105378
Fixed by this PR https://github.com/elastic/kibana/pull/105382

[2021-07-27 02:02] #105378 closed

[2021-07-27 02:03] leegengyu commented on #89960
@peluja1012 Thanks for getting back to me.

This error did not appear anymore (somehow). But I'll be sure to get back to here if it does.

Thank you once again!

[2021-07-27 03:18] axw commented on #105923
AFAICS the opentelemetry-java-instrumentation code is using the same method as the Elastic APM agent:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/262feb17303544c99749e2324b68c83e5c464b85/instrumentation/runtime-metrics/library/src/main/java/io/opentelemetry/instrumentation/runtimemetrics/GarbageCollector.java#L35-L68

https://github.com/elastic/apm-agent-java/blob/c0

[2021-07-27 03:22] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15678/)

[2021-07-27 03:25] smith commented on #105923
@axw I think @dgieselaar mentioned this as a possibility. In this case I guess I don't have an explanation as to why the don't show up but they do not.

[2021-07-27 03:34] dgieselaar commented on #105923
I think that was Oliver. My only guess would be the fields are different.

On Tue, Jul 27, 2021, 05:25 Nathan L Smith ***@***.***> wrote:

[2021-07-27 04:31] karanbirsingh-qasource commented on #106717
Hi @kevinlog thanks for providing the input on the same.

However we have one suggestion to update the Kibana permission banner description to **_You are not authorized to access Fleet. Fleet requires superuser privileges_**, as current descripting that fleet is disabled is contradicting to the our Role configuration

- Role Configuration ( Fleet is set as Enabled in it)
![image](https://user-imag

[2021-07-27 05:33] samratbhadra-qasource commented on #102904
Hi @MadameSheema

We tested this ticket & found that if we try to put a long comment with spaces between them then the issue doesn't exist on the 7.14.0-BC4 environment . Please find below the testing details:

**Build Details:**

VERSION: 7.14.0-BC4
BUILD: 42656
COMMIT: 82a4f6a
ARTIFACT: https://staging.elastic.co/7.14.0-b3779639/summary-7.14.0.html

**Steps to Reproduce:**

1. Navigate to the En

[2021-07-27 05:42] kibanamachine commented on #106651
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15824/)

[2021-07-27 06:21] pheyos commented on #106736
Another occurrence of the known CI network issue: `ERROR browser[SEVERE] http://localhost:61131/api/ml/jobs/new_job_caps/ft_farequote - Failed to load resource: net::ERR_NETWORK_CHANGED`.

So no issue with the app or the tests, closing.

[2021-07-27 06:34] elasticmachine commented on #106792
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 06:35] stratoula commented on #106792
This doesn't seem to be a failure of the test itself, but something wrong with the CI. I am closing it for now

[2021-07-27 06:35] #106792 closed

[2021-07-27 06:35] elasticmachine commented on #106790
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 06:35] stratoula commented on #106790
This doesn't seem to be a problem with the test itself but a CI problem. I am closing it for now

[2021-07-27 06:35] #106790 closed

[2021-07-27 06:36] elasticmachine commented on #106694
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 06:39] stratoula commented on #105577
I think that this may related to it https://github.com/elastic/kibana/issues/101574.
@VladLasitsa can you please check if our fix PR, also fixes this problem?

[2021-07-27 06:40] elasticmachine commented on #105577
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 06:42] elasticmachine commented on #106791
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 06:43] elasticmachine commented on #106793
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 06:56] sunj1 commented on #105577
Yes I could also see conflicting filters in the search query.

[2021-07-27 07:02] deepikakeshav-qasource commented on #106663
Hi @peluja1012,

Please find the below details of file.Ext.code_signature.

**Malware Detection**
**Screenshot:**
![Malware_detection](https://user-images.githubusercontent.com/61860752/127095097-91daa184-1087-42c7-b987-836d18ec6b9f.jpg)

**JSON:**
[Malware_detection.txt](https://github.com/elastic/kibana/files/6882657/Malware_detection.txt)

**Malware Prevention**
**Screenshot:**
![Malware_preven

[2021-07-27 07:04] mgiota opened #106813 "[RAC] Index the value and threshold for Metrics rule types when only one condition is set"
## :memo: Summary

At the moment Inventory and Metrics rule types index only the reason, but not the value and threshold. It was initially implemented like that, because more than one conditions can be set up and it really doesn't make sense to index the value and the threshold in this case. On the other hand if only one condition has been set up, then we should index both value and threshold and

[2021-07-27 07:04] elasticmachine commented on #106813
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-27 07:22] vipulsrivastava-qasource opened #106815 "[Fleet] Agent with long host name is not truncated or the long host name break incorrectly under host column of Agent tab"
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available
2. Agent with long name is deployed.

[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet-> Agents tab.
3. Observe that agent with long host name is not truncated or the long host name break incorrec

[2021-07-27 07:22] elasticmachine commented on #106815
Pinging @elastic/fleet (Team:Fleet)

[2021-07-27 07:22] vipulsrivastava-qasource commented on #106815
@manishgupta-qasource : Please review the Bug.

[2021-07-27 07:24] elasticmachine commented on #106797
Pinging @elastic/siem (Team:SIEM)

[2021-07-27 07:30] vipulsrivastava-qasource opened #106816 "[Fleet] No tooltip on hovering is displayed for long host name on host name field under Overview of Agent details tab of selected agent."
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Agent with long name is deployed.

[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet -> Agents tab.
3. Click on prerequisite agent and user move to Agent details tab by default.
4. Hover on the

[2021-07-27 07:30] elasticmachine commented on #106816
Pinging @elastic/fleet (Team:Fleet)

[2021-07-27 07:31] vipulsrivastava-qasource commented on #106816
@manishgupta-qasource : Please review the Bug.

[2021-07-27 07:38] manishgupta-qasource commented on #106815
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-27 07:39] manishgupta-qasource commented on #106816
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-27 08:10] DziyanaDzeraviankina commented on #102606
Waiting for [elastic charts debug data to be extended with annotations data ](https://github.com/elastic/elastic-charts/issues/1260) to add some tests for annotations actual data

[2021-07-27 08:26] stratoula commented on #106657
This has been skipped due to https://github.com/elastic/kibana/issues/106352, let's re-enable it when the above issue is fixed

[2021-07-27 08:29] #106681 closed

[2021-07-27 08:35] karanbirsingh-qasource opened #106819 "[Security Solution]Alert Customize Event rendering is not persistent and reset to all disabled"
**Describe the bug**
Alert Customize Event rendering is not persistent and reset to all disabled

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Endpoint security should be installed on kibana.
- Few Detection alert should be triggered

**Steps to Reproduce**
1. Go to security app and Alert page.
2. Click on Setting icon and modify the event render

[2021-07-27 08:35] elasticmachine commented on #106819
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-27 08:36] stratoula commented on #106696
I could add a retry here but as it has only failed only one time, I will close it and deal with it again if it re-opens

[2021-07-27 08:36] #106696 closed

[2021-07-27 08:36] elasticmachine commented on #106819
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-27 08:52] timroes opened #106823 "[Lens] Show edit/delete button while field stats are loading"
When opening a field popover we currently show a loading spinner instead of any content in the popover while loading the distribution. This is especially annoying for runtime fields, where loading the stats takes quit some time, and you can't open the edit dialog (or press delete) while the loading still happens.

![screenshot-20210727-105059](https://user-images.githubusercontent.com/877229/12712

[2021-07-27 08:52] elasticmachine commented on #106823
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 08:56] mgiota opened #106824 "[Observability RAC] Better display of the reason field in the alerts flyout in case of multiple conditions"
## 📝  Summary
Metric threshold rule type can be setup using multiple conditions. By default metric threshold rule type gets created with 3 conditions, so the reason can get quite long. In this case the reason field is hard to read and there is no visual distinction between the multiple conditions. There is also no reason label as in the fields below.

<img width="408" alt="Screenshot 2021-07-26 at

[2021-07-27 08:58] ppisljar commented on #103988
for snapshot URLs you will be using locators which handle migrations internally, so that should not be an issue. for regular urls embeddable panels are no longer part of url so we do not need to use migrateToLatest there.

migrateToLatest is also available on filterManager so you should be migrating your filters from URL with it. Any other state that can appear in your (non snapshot) urls ?

[2021-07-27 09:11] elasticmachine commented on #106824
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-27 09:16] azasypkin commented on #103421
This test failed only 4 times for the last 6 months: 3 times it was just one failed test among tens of the other tests that failed too (likely Kibana either crashed or was stopped prematurely for some reason). I suspect it's just transient issue.

I'm closing the issue, but we'll take a closer look if we observe it more frequently.

[2021-07-27 09:16] #103421 closed

[2021-07-27 09:59] anmironov opened #106829 "api/alerting/rule/{id} responding with "Internal Server Error""
**Kibana version:** 7.13.3

**Elasticsearch version:** 7.13.3

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** ESS
**Describe the bug:**
If you use APIKey and update the rule API (which supports Token-based authentication only) you will get a status code 500 statusCode: 500,
error: 'Internal Server Err

[2021-07-27 10:08] stratoula commented on #90954
I am closing this as it hasn't failed again. If it reopens I will look into it

[2021-07-27 10:08] #90954 closed

[2021-07-27 10:10] stratoula commented on #90845
It hasn't failed again so I am closing it and I will deal with it if it re-opens

[2021-07-27 10:10] #90845 closed

[2021-07-27 10:13] stratoula commented on #94534
This hasn't failed the last 3 months, closing it for now and if it re-opens I will take a look

[2021-07-27 10:13] #94534 closed

[2021-07-27 10:16] cnasikas commented on #106724
Hi @pmuellr. That is correct. We need to get some field mappings from the Swimlane service in the UI so the user can configure the connector.

The connector's configuration has two steps: a) instance configuration b) mappings configuration. The user has to first fill in the username and password and then go to the second step. In the second step, the minimum requirement is to select the connector

[2021-07-27 10:24] dasansol92 commented on #106712
@paul-tavares @kevinlog I've been playing a bit with this and didn't see anything strange in the artifacts generation, maybe I miss something but I think this is on the agent side. Let's talk about this later.
Agent errors when updating policy:

[code]

[2021-07-27 10:32] amolnater-qasource commented on #91804
Hi @EricDavisX
We have reported **03** issues for the "errors" in logs which we were able to reproduce.
Below are the links to the reported tickets:

- [ ] https://github.com/elastic/beats/issues/27057
- [ ] https://github.com/elastic/beats/issues/27062
- [ ] https://github.com/elastic/beats/issues/27064

Please let us know if anything else is required from our end.
Thanks
QAS

[2021-07-27 10:34] elasticmachine commented on #40349
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-27 10:39] timroes commented on #78225
I am going to close this, since I can't reproduce this. The `id` on the element that has `.mgtAdvancedSettings__field--unsaved` classes applied to it is the unique identifier of the advanced setting itself. If you run into this again please leave a comment so we can investigate further what element is having duplicate ids.

[2021-07-27 10:39] #78225 closed

[2021-07-27 10:47] mandeepkaur-qasource commented on #106233
Hi @peluja1012,

As requested,Please find all the related ndjsons files of exported Rules and documents that we got from the .kibana index using above mentioned steps from Kibana Dev Tools:

**Please Find the observations listed below**
<details><summary>Dev Tool: [7.8.0]</summary>
<p>
[code]
</p>
</details>

**Dev Tool Result on 7.8.0:**
<details><summary>Dev tool Result: [7.8.0]</summary>
<p>
[c

[2021-07-27 10:56] timroes opened #106834 "Opening Sidenav is really slow"
Opening the sidenav is really slow (500ms+) especially on pages where there are a lot of DOM nodes. The following is from opening the sidenav on a discover page (large data grid table, with a lot of DOM nodes):

![screenshot-20210727-125359](https://user-images.githubusercontent.com/877229/127142476-9d6f08cf-ac21-4d86-b335-9a6f40cf3b08.png)

It seems there are happening at least 3 forced recalcula

[2021-07-27 10:56] elasticmachine commented on #106834
Pinging @elastic/eui-design (EUI)

[2021-07-27 10:56] elasticmachine commented on #106834
Pinging @elastic/kibana-core (Team:Core)

[2021-07-27 11:09] muskangulati-qasource commented on #102619
Thank you for the update @ferullo. Closing this issue!

Thanks!

[2021-07-27 11:09] #102619 closed

[2021-07-27 11:13] Dosant opened #106838 "[Lens] should register "suffix" field formatter in setup lifecycle"
Similar to https://github.com/elastic/kibana/issues/106510#issue-950481684, Lens should register field formatter in setup lifecycle since `register` is only exposed in setup (after the bug is fixed: https://github.com/elastic/kibana/pull/106828).

Common reasoning:

https://github.com/elastic/kibana/blob/61f1c90ce04e7406931418c0d08f6a97ed71daf3/x-pack/plugins/lens/public/indexpattern_datasource/in

[2021-07-27 11:13] elasticmachine commented on #106838
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 11:17] Dosant opened #106839 "[Lens] Suffix field format leaks to index pattern management"
Version: master and since suffix formatter was introduced in 7.11 (https://github.com/elastic/kibana/pull/82852)

After running lens app/embeddable and then navigating to field format editor in index pattern management "suffix" option is available:

![Screen Shot 2021-07-27 at 11 54 57](https://user-images.githubusercontent.com/7784120/127144831-27861545-b8d3-4d70-995b-eea4426212b8.png)

I assume

[2021-07-27 11:18] elasticmachine commented on #106839
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 11:23] elasticmachine commented on #106829
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 11:37] gmmorris commented on #106829
Seems this is a duplicate and a PR addressing it has been merged: https://github.com/elastic/kibana/issues/96683

Closing as it will hopefully be included in the upcoming release.

[2021-07-27 11:37] #106829 closed

[2021-07-27 11:58] ghost opened #106840 "[Security Solution] Values are not displayed in some fields on the alert table. However, the values are displaying in table tab when click on "view details" icon"
**Describe the bug**
Values are not displayed in some fields on the alert table. However, the values are displaying in table tab when click on "view details" icon

**Build Details:**
[code]
**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. Alerts should be created say: mimikatz

**Steps to Reproduce**
1. Navigate to Alerts tab of s

[2021-07-27 11:58] elasticmachine commented on #106840
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-27 11:59] deepikakeshav-qasource commented on #106840
@manishgupta-qasource Please review!!

[2021-07-27 12:00] kevinlog commented on #106712
@dasansol92 these logs look like diagnostic rules so I don't think they're related.

@muskangulati-qasource is using hashes `sha1sum` to denote the trusted application entry for the EICAR file on Linux.

We should verify that the hash is the same between tries.  We should also test with a specific file path since there won't be any variation there.

[2021-07-27 12:07] kevinlog commented on #106717
@karanbirsingh-qasource I see what you mean.  The behavior is expected here, but the verbiage can be improved.  I'm going to pull in @caitlinbetz to see if we can change that.

Also, lowering impact here and bumping out to the next release.

[2021-07-27 12:18] elasticmachine commented on #106840
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-27 12:24] dasansol92 commented on #106712
@kevinlog Yeah. This is what I tried this morning (using path and hash) and both are triggering the alert as well. I was talking with @muskangulati-qasource offline about how to test this malware alerts on my Linux VM.

[2021-07-27 12:26] mistic commented on #106651
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 8d30072
7.x/7.15: 0f0c3b7

[2021-07-27 12:37] kibanamachine opened #106843 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_discover_histogram·ts - discover app discover histogram "before all" hook for "should visualize monthly data with different day intervals""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/159/)

[2021-07-27 12:41] joshdover commented on #102353
If you're already handling specific error types differently, which I believe you are, then I don't think any changes should be necessary on the alerting side really.

Good to know, it does make sense to wrap every response with this check. I was just thinking we could limit the scope of the change to reduce risk for the 7.14.1 backport.

@TinaHeiligers I'll leave it up to you on whether or not we

[2021-07-27 12:47] #102904 closed

[2021-07-27 12:59] elasticmachine commented on #106350
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 13:01] joshdover commented on #106025
@legrego Should the Core team take any action here or will the Security team handle this? If Security team can handle, we can remove the Team:Core label. Do we just need to verify that this is fixed on 7.14+?

[2021-07-27 13:03] dgieselaar opened #106846 "[APM] Use kbn-archiver instead of es-archiver for FTR archives"
Our functional tests use an ES archive for .kibana, .ml and apm-* indices. [The recommendation is to use kbn-archiver for .kibana indices](https://github.com/elastic/kibana/issues/102552) as it uses saved object import/export. We should then also be able to re-enable SO v2 migration, which was disabled in https://github.com/elastic/kibana/pull/106837.

[2021-07-27 13:03] elasticmachine commented on #106846
Pinging @elastic/apm-ui (Team:apm)

[2021-07-27 13:14] byronhulcher commented on #79359
I agree if we could test for this in Cypress it would make a lot more sense (since we'll have to solve the "how do we run this in a test harness" problem for Cypress).

I like what you did in https://github.com/elastic/kibana/pull/106765 @constancecchen.  I think as much as much as its a bummer we should consider leaving this open until we implement this in Cypress (or solve the mock API problem i

[2021-07-27 13:14] #92574 closed

[2021-07-27 13:39] ymao1 commented on #106233
@mandeepkaur-qasource It looks like those rules are in a space named `new`? If that is the case, can you try this:

`GET .kibana*/_search { "query": { "match": { "_id": "new:alert:676c2dc4-ee78-4626-b074-a88536430877" } } }`

Rules are stored in the .kibana index with id: `${spaceId}:alert:${ruleId}`

[2021-07-27 13:39] formgeist opened #106851 "[APM] Align instances legend item style to the chart"
# Summary

As originally reported in https://github.com/elastic/elastic-charts/issues/1081, we want to align the current period and previous period styles in the chart to the legends in the Instances visualization. This is now available in the latest Elastic charts (https://github.com/elastic/elastic-charts/pull/1227) [pending Kibana availability].

![image](https://user-images.githubusercontent.c

[2021-07-27 13:39] elasticmachine commented on #106851
Pinging @elastic/apm-ui (Team:apm)

[2021-07-27 13:42] timroes opened #106852 "[Discover] Styling of "Document" when image field formatter is used"
When having a field configured using the image field formatter (URL > img), the way the summarized "Document" view is shown feels a bit off:

![screenshot-20210727-153436](https://user-images.githubusercontent.com/877229/127163526-0bce2d81-433a-432d-a47d-f2d9f30ed672.png)

Because currently the text is aligning to the bottom of the image it actually can "push" the text out of the clipped height le

[2021-07-27 13:42] elasticmachine commented on #106852
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-27 13:45] legrego commented on #106025
@joshdover I removed the core label, the Security team will handle this one. Yeah we just need to verify this was fixed on `7.14`+

[2021-07-27 13:47] legrego commented on #104804
I ran this 100 times via the flaky test runner, with no failures. Closing as transient, but we will investigate further if it fails again on a tracked branch, where we'll have a better stack trace and screenshots.

[2021-07-27 13:47] #104804 closed

[2021-07-27 13:49] legrego commented on #105997
I ran this 100 times via the [flaky test runner](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/), with no failures. Closing as transient, but we will investigate further if it fails again on a tracked branch, where we'll have a better stack trace and screenshots.

[2021-07-27 13:49] #105997 closed

[2021-07-27 13:54] chrisronline opened #106854 "[Task Manager] Potential performance problem log happens on startup"
Reported originally by @LeeDr

Some users are seeing this on cloud upgrade and it might lead users to not understand if there is a problem or not. We might need to consider changing the verbiage on the message:

to indicate that not all users need to worry about this, as this might happen if Kibana is stopped for some period of time.

Feel free to add more information to this.

[2021-07-27 13:54] elasticmachine commented on #106854
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 14:12] machadoum opened #106856 "[RAC] Alerts Table header UI updates"
**Describe the feature:**

Implement Table header UI changes including:
* Change manage rules button style and text
  * Remove gear icon from Rules button
  *  Change text of Rules button to 'Manage rules'
  *  Change to empty button
* Add horizontal bar
* Move status filter
  *  Move workflow status button group to left side above trend chart and change to sm, primary EuiButtonGroup
  *  Workflow

[2021-07-27 14:12] elasticmachine commented on #106856
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-27 14:12] elasticmachine commented on #106856
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-27 14:19] Bamieh opened #106857 "[Telemetry] throw if `telemetry` is in the name of SO and tasks"
## Summary

A lot of kibana errors are traced back to the `telemetry` team due to having these failures originating from tasks or saved object registries with `telemetry` in their name.

Ideally the term `telemetry` is only used for **sending** the usage payload to the cluster and not for **collecting** data. For collecting data we use the term **usage collection**.

## Impact and Concerns

Removi

[2021-07-27 14:19] elasticmachine commented on #106857
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-07-27 14:19] elasticmachine commented on #106857
Pinging @elastic/kibana-core (Team:Core)

[2021-07-27 14:49] kevinlog opened #106859 "[Security Solution] Linux Malware doesn't honor 'off' switch in Policy"
**Kibana version:**
7.14

**Elasticsearch version:**
7.14

**Describe the bug:**
When turning off the Malware switch, Linux doesn't honor the "off" mode.  Mac and Windows still do.

**Steps to reproduce:**
1. Create an Endpoint integration policy
2. Turn off Malware
3. Notice that Linux doesn't receive the "off" mode in the Policy config yaml.

**Expected behavior:**
Linux should honor the "off" m

[2021-07-27 14:49] elasticmachine commented on #106859
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-27 14:49] legrego commented on #106214
I ran this 100 times via the [flaky test runner](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1767/), with no failures. Closing as transient, but we will investigate further if it fails again on a tracked branch, where we'll have a better stack trace and screenshots.

[2021-07-27 14:49] #106214 closed

[2021-07-27 14:59] dasansol92 commented on #106712
Hi @muskangulati-qasource It seems we were using a wrong hash. Using the one listed in the alerts list `process.hash.sha256` works.
So we need to use the hash  of the malware itself, not the process that opened the malware for Linux OS.

CC: @ferullo @kevinlog @nfritts

[2021-07-27 15:01] jportner opened #106863 "Saved objects migrationsv2 creates extra documents when regenerating object IDs"
**Kibana version:** 7.14

**Describe the bug:**

When converting an object from a single-namespace type to a multi-namespace type, any objects not in the Default space have their IDs regenerated. This works as expected when using the old migration algorithm (`migrations.enableV2: false`).
However, when using the new migrationsv2 algorithm, it actually copies the old (unmigrated) document over to t

[2021-07-27 15:01] elasticmachine commented on #106863
Pinging @elastic/kibana-core (Team:Core)

[2021-07-27 15:05] #76316 closed

[2021-07-27 15:06] joshdover commented on #106569
I know there are some changes planned for this Home page UI related to the Getting Started initiative, so I hesitate to prioritize any effort to fix these problems without knowing the scope of those changes. For example, I believe much of the "Add data" catalog is soon to be replaced with the Fleet integrations UI.

@elastic/kibana-design Maybe you all can shed some light on the eventual end-state

[2021-07-27 15:09] smith commented on #106602
Changes in #104564 should take care of this.

[2021-07-27 15:09] #106602 closed

[2021-07-27 15:12] #105731 closed

[2021-07-27 15:18] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15834/)

[2021-07-27 15:19] kibanamachine opened #106870 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/colors·ts - lens app lens color palette tests should allow to pick color palette in xy chart"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1775/)

[2021-07-27 15:19] kibanamachine opened #106871 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/colors·ts - lens app lens color palette tests "after all" hook for "should carry palette back to the bar chart""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1775/)

[2021-07-27 15:19] kibanamachine commented on #75961
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1775/)

[2021-07-27 15:19] kibanamachine commented on #75962
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/kibana+flaky-test-suite-runner/1775/)

[2021-07-27 15:27] liza-mae opened #106873 "Reporting: Generating report for large dashboard fails"
**Kibana version**: 8.0.0-alpha1

**Elasticsearch version**: 8.0.0-alpha1

**Server OS version**: Linux

**Browser version**: Chrome

**Browser OS version**: Latest

**Original install method (e.g. download page, yum, from source, etc.)**:
Staging

**Description of the problem including expected versus actual behavior**:
Generate large dashboard report should work, however it returns error unexpec

[2021-07-27 15:27] elasticmachine commented on #106873
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-27 15:28] #101246 closed

[2021-07-27 15:30] elasticmachine commented on #72677
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-27 15:35] thesmallestduck commented on #105557
I talked with @skearns64 and @alexfrancoeur to confirm Kibana product is okay with deferring the change to 7.15

[2021-07-27 15:38] #106680 closed

[2021-07-27 15:40] stratoula commented on #29670
I am closing it, it seems that this is only flaky and skipped only in 6.8.

[2021-07-27 15:40] #29670 closed

[2021-07-27 15:41] dasansol92 commented on #106712
Regarding this, what Daniel said is:

[code]

So malware alerts work a bit different depending on the OS, this is why we were receiving the alerts even with the trusted app already created.

Let me know if you need something else about this.

[2021-07-27 16:13] pmuellr opened #106876 "[alerting][discuss] decrease the number of scenarios where we regenerate API keys"
Currently in Kibana alerting, API keys are regenerated when a rule is updated (parameters updated), and when a rule is enabled after previously being disabled.  There is also an explicit rules client method, and associated HTTP endpoint, to regenerate an API key for an existing rule - `updateApiKey()` / `POST /internal/alerting/rule/{id}/_update_api_key`.

In all of these cases, the new API key ge

[2021-07-27 16:13] elasticmachine commented on #106876
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 16:18] kevinlog commented on #106711
@muskangulati-qasource make sure you're trying to isolate from the same Alert.  You will only see Cases information for Alert associated with the same Case.

![image](https://user-images.githubusercontent.com/56395104/127190251-83c8862b-b51e-40fc-9f3c-fd9b7f6bfd1a.png)

If you do, then we can close this one as expected.

[2021-07-27 16:19] kevinlog commented on #106664
@muskangulati-qasource this one is expected for now because only Alerts are associated with Cases.  Right now, there's no connected between Endpoints themselves and Alerts.

I'm going to close this one as expected for now.

[2021-07-27 16:19] #106664 closed

[2021-07-27 16:21] kevinlog commented on #106142
Closing this one since the migration fix and test are added.  I haven't ever seen upgrade errors when using released versions and 7.14 BC builds.  Still, the fix and test should cover this corner case.

@LeeDr @powderr let me know if you encounter other issues.

[2021-07-27 16:21] #106142 closed

[2021-07-27 16:32] pmuellr opened #106878 "[alerting][discuss] support explicit API keys associated with rules"
Currently Kibana alerting creates an API key for each rule created, which it uses when the rule executor runs, to allow the elasticsearch client to perform queries based on the privileges of the user that created the API key.  This is done implicitly, users do not provide an API key when they create a rule - the rule framework creates it based on the user creating the rule.  The API key is also re

[2021-07-27 16:32] elasticmachine commented on #106878
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 16:58] darnautov opened #106880 "[Actions][Alerting] Better support for action variables holding collections"
**Describe the feature:**

It'd be useful for action variables in `context` to better handle entires that hold collections of objects.

- It should be possible to describe the properties of the object in the collection. [context.hits](https://github.com/elastic/kibana/blob/12c8d2dfcb1ad76d46adebca9663eafe55e58c6b/x-pack/plugins/stack_alerts/server/alert_types/es_query/alert_type.ts#L138) in the ES

[2021-07-27 16:58] elasticmachine commented on #106880
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 17:06] pmuellr commented on #106878
Looked through some of the other API key related issues, this one seems like the restriction it describes (can't use API key auth when creating/updating/enabling an alerting rule) here would no longer be a restriction if we made API key usage explicit, since we'd no longer be creating API keys in the alerting framework:

- https://github.com/elastic/kibana/issues/105296

[2021-07-27 17:06] mikecote commented on #106876
Let's keep in mind the security vulnerabilities this may bring if another user can update a rule (ex: relax the filter) and expose sensitive data by emailing it to themselves.

[2021-07-27 17:13] mshustov opened #106885 "Remove the legacy ES client from Core API"
Blocked by https://github.com/elastic/kibana/issues/83910
When all plugins and tests are migrated to the new client, we need to remove the legacy client from the Core public API and remove the dependency on `elasticsearch` package.
We can split the work into two stages: remove the legacy client from the Core public API and remove the dependency.
The legacy ES client has been deprecated for more th

[2021-07-27 17:13] elasticmachine commented on #106885
Pinging @elastic/kibana-core (Team:Core)

[2021-07-27 17:14] caitlinbetz commented on #106717
thanks @kevinlog agree this should probably be updated. We can probably just use the top message ("You do not have the required kibana permissions...") and specify that they must have fleet privileges to use these features.

[2021-07-27 17:14] smith commented on #103260
Links to backend pages on each row were added in #106223.

"View dependencies" link links to the dependencies tab which is not yet implemented, so this is blocked by #103257.

[2021-07-27 17:31] jasonrhodes opened #106887 "[Metrics UI] [Alerting] Metrics threshold rule evaluation window is sometimes confusing, based on how we handle partial buckets"
Metrics threshold rules are incorrectly calculating their time ranges and can be off by as much as 12 hours (possibly more, it may depend on the interval).

Updated AC (based on [this conversation](https://github.com/elastic/kibana/issues/106887#issuecomment-887839036)):
* In the Metrics threshold rule logic, remove offset application for all aggregations besides Average and 95th/99th Percentile,

[2021-07-27 17:31] mshustov commented on #83910
There are still several plugins importing types from `elasticsearch` package.
- [ ] data plugin
- [ ] data_enhanced
- [ ] fleet
- [ ] infra
- [ ] maps
- [ ] monitoring
- [ ] reporting
- [ ] lists
- [ ] security_solution

\These are blockers to remove the dependency on the package.

[2021-07-27 17:32] elasticmachine commented on #106887
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-27 17:37] businessK8T commented on #24463
anyone interested in helping figure out why this would resurface in an instance upgraded to 7.9.1?  the party is here:
https://discuss.elastic.co/t/add-panel-in-dashboard-edit-view-never-loads/277976/2

[2021-07-27 17:40] LucaWintergerst opened #106888 "[APM] add ability to customize machine learning severity threshold on APM Latency chart"
**Versions**
Kibana: 7.14 BC4

It would be great to have the ability to customize the threshold for machine learning anomalies in the `Latency` chart, or even display multiple severities similar to the ML UI.
Currently only anomalies with a score >75 get displayed as a red line/shade here.

<img width="1640" alt="Screenshot 2021-07-27 at 19 36 18" src="https://user-images.githubusercontent.com/116

[2021-07-27 17:40] elasticmachine commented on #106888
Pinging @elastic/apm-ui (Team:apm)

[2021-07-27 17:41] TinaHeiligers commented on #102353
I'd prefer to limit the scope for this to a few endpoints for now and follow up with a more general approach. To be clear, do we need to implement the header check in `update` _in addition to_ `get`?

[2021-07-27 17:53] kevinlog commented on #104624
Thanks for the change @hendrikmuhs

Spoke with @pzl on this, we think we should follow the mitigation suggested in your ticket and detect when transforms are in a failed state.  Following from that, we can alert users and give them an action to take from the UI.

[2021-07-27 17:54] formgeist commented on #106888
Related if not duplicate of https://github.com/elastic/kibana/issues/87673

[2021-07-27 18:08] kibanamachine opened #106891 "Failing test: X-Pack Accessibility Tests.x-pack/test/accessibility/apps/ml·ts - ml for user with full ML access with data loaded anomaly detection Anomaly Explorer page"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15693/)

[2021-07-27 18:10] LucaWintergerst commented on #106888
Sorry, I must have missed that. Closing this

[2021-07-27 18:10] #106888 closed

[2021-07-27 19:24] petrklapka opened #106900 "Audit of Tasking for AppSvc on Breaking Saved Object ID Type Conversions"
Conduct an audit of tasks that need to be performed within AppSvc Domains for the
[[Meta] Breaking saved object type conversions in 8.0 #100489](https://github.com/elastic/kibana/issues/100489
) project and break them out in Jira.

[2021-07-27 19:24] elasticmachine commented on #106900
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-27 19:27] formgeist commented on #106786
Free-form inputs are fine (and great for yet-to-be-collected services and/or environments) - as long as they're assisted by suggestions (as proposed in the linked issue)

[2021-07-27 19:34] smith commented on #106786
Yes to clarify I meant something like [`EuiComboBox` single selection with custom options](https://elastic.github.io/eui/#/forms/combo-box#single-selection-with-custom-options).

[2021-07-27 20:16] pmuellr commented on #101749
Taking another peek at this.  Looks like RAC creates the UUIDs for lifecycle alerts, here:

https://github.com/elastic/kibana/blob/b58054cf2621b4bd11a2e1c4317d5df926939aca/x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts#L259-L262

So it appears the UUIDs are created after running the executor, so I think we can create/manage the UUIDs when `scheduleActions()` is run (need to

[2021-07-27 20:16] kibanamachine commented on #106650
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15695/)

[2021-07-27 20:19] pmuellr commented on #101749
Happened to remember we had a similar issue we had open a while back: https://github.com/elastic/kibana/issues/64268

For that one, we realized that some rule types were already using UUIDs as their instance ids, so we thought we should add a new "human readable" to associate with an instance.  I think that ship has sailed at this point, since we now have an "official" UUID - we should continue to

[2021-07-27 20:41] paul-tavares commented on #106477
Fix for this is up for review: https://github.com/elastic/kibana/pull/106918

[2021-07-27 20:46] a03nikki opened #106919 "[Index Management] Add shrink index option"
**Describe the feature:**  Add the "Shrink" index management action to the Index Management > Indices UI

**Describe a specific use case for the feature:**

Other index actions such as force merge, close, refresh, and remove / add ILM policy are available in the UI.  It would be helpful if [`_shrink`](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/indices-shrink-index.html) was a val

[2021-07-27 21:01] tsullivan commented on #106873
@liza-mae

The `Cannot read property 'http' of undefined` comes from a bug in a refactoring PR that was merged for 7.15.

https://github.com/elastic/kibana/pull/103571

[2021-07-27 21:12] tsullivan opened #106924 "[Reporting] Need unit tests for diagnostic tool"
Currently, there are no tests that check the Reporting diagnostic tool. There recently was a regression bug where refactoring changes broke the buttons in the tool: https://github.com/elastic/kibana/issues/106873

[2021-07-27 21:12] elasticmachine commented on #106924
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-27 21:13] jasonrhodes commented on #106887
**Update** After a Zoom conversation with @phillipb and @Zacqary, we realized two things:

1. The decision to include or drop partial buckets should probably be given to the user, eventually, since this rule type is so flexible and people will be using it for wildly different purposes. We can do this by adding to our "advanced settings" section (not named that right now) which currently includes "

[2021-07-27 21:18] jasonrhodes opened #106926 "[Metrics UI] [Alerting] Metrics threshold rule should give user option to include partial buckets or not"
The decision to include or drop partial buckets should probably be given to the user, eventually, since this rule type is so flexible and people will be using it for wildly different purposes. We can do this by adding to our "advanced settings" section (not named that right now) which currently includes "alert on no data", and use a checkbox for "Include partial buckets" with an info icon that exp

[2021-07-27 21:19] elasticmachine commented on #106926
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-27 21:21] smith opened #106927 "[APM] Remove EuiCodeEditor from service map storybook"
`EuiCodeEditor` is deprecated. We're only using it in a storybook: https://github.com/elastic/kibana/blob/b17200a2e605e0e7d1a2e8dcb6268b0f02711ed2/x-pack/plugins/apm/public/components/app/service_map/__stories__/cytoscape_example_data.stories.tsx#L92-L99

Replace it with something else.

[2021-07-27 21:21] elasticmachine commented on #106927
Pinging @elastic/apm-ui (Team:apm)

[2021-07-27 21:28] LeeDr opened #106928 "taskManager error [WorkloadAggregator]: Error: Invalid workload:"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Server OS version:** CentOS 7

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** rpm packages from snapshot build

**Describe the bug:** I was trying to use esArchiver to load data from a 7.13 Cloud cluster into my local Elasticsearch cluster.  I didn't ge

[2021-07-27 21:28] elasticmachine commented on #106928
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-27 21:32] tsullivan commented on #103561
Related issue: https://github.com/elastic/kibana/issues/97904 Reporting fails the report if there is a missing saved object referenced in a dashboard panel. I think our conversation going on in this issue about `data-render-warning` will cover these cases as well.

[2021-07-27 21:32] tsullivan commented on #97904
Should be fixed by https://github.com/elastic/kibana/issues/103561#issuecomment-887848905

[2021-07-27 21:32] #106308 closed

[2021-07-27 21:40] poffdeluxe commented on #91197
I added a milestone line item to move the datasource functions to a shared plugin per our discussion in the expressions working group meeting this morning

[2021-07-27 21:52] Aloshi commented on #106887
Customer here :wave:, does this affect just previews as per the title or is the actual alert evaluation affected too? (I think I am seeing the latter...)

[2021-07-27 21:57] thompsongl opened #106931 "Migrate instances of `EuiCodeEditor` to `CodeEditor`"
The EUI team has deprecated the `EuiCodeEditor` component and requires that instances in Kibana be migrated to an alternative solution before it can be removed from the codebase. The current [recommendations can be found here](https://github.com/elastic/eui/issues/3807), but generally consist of:

* Using `EuiCodeBlock` for static code (virtualized rendering support will be available in Kibana bef

[2021-07-27 21:57] elasticmachine commented on #106931
Pinging @elastic/eui-design (EUI)

[2021-07-27 22:02] bhavyarm opened #106932 "Better ux for "include related objects" checkbox for copy saved objects between spaces panel"
**Kibana version:** 7.14.0

**Browser version:** Chrome latest

**Browser OS version:** OS X

**Describe the bug:** Can we either display a tooltip or remove the "include related objects" option from the copy saved objects between spaces UI. Its permanently checked and greyed out now and that's confusing as an user.

<img width="1792" alt="Screen Shot 2021-07-27 at 5 59 35 PM" src="https://user-im

[2021-07-27 22:02] elasticmachine commented on #106932
Pinging @elastic/kibana-security (Team:Security)

[2021-07-27 22:04] pmuellr commented on #106876
Yah, I forget about that :-)

One thing I mentioned in our off-line discussion about this, is that we make some of the "ownership" meta data available in the saved object, but don't currently expose it anywhere; perhaps we should:

https://github.com/elastic/kibana/blob/20c4716cedb67cab821907f2e3ba5c244d8a5905/x-pack/plugins/alerting/server/saved_objects/mappings.json#L56-L73

One thing we could t

[2021-07-27 22:16] pmuellr commented on #106292
I'm thinking that if we can cut down the number of "things" we are creating / destroying, over the various alerting rule lifecycle, we'll have fewer chances of race conditions.  Even if we can't do it over the whole lifecycle, just enable/disable, would probably be a win.

There's a separate issue open discussing changing how often we regenerate API keys - https://github.com/elastic/kibana/issues/

[2021-07-27 22:27] kibanamachine opened #106934 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/observability/exploratory_view·ts - ObservabilityApp ExploratoryView renders lens visualization"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15841/)

[2021-07-27 22:33] elasticmachine commented on #106891
Pinging @elastic/ml-ui (:ml)

[2021-07-27 22:35] tylersmalley commented on #106891
The first failure across all CI, just happened to happen on a tracked branch.

[2021-07-27 22:36] tylersmalley commented on #106650
Skipped

master: f46b96a367c154f7d6be227c2f0b45419025119b
7.x: 2a9853c02b4002cb8f7282d343239c15b51ea674

[2021-07-27 22:54] kevinlog commented on #106859
Waiting on backports before closing

[2021-07-28 00:13] kibanamachine opened #106941 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/security_solution/overview_network·ts - apis SecuritySolution Endpoints Overview Network With packetbeat Make sure that we get OverviewNetwork data"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/358/)

[2021-07-28 00:13] kibanamachine commented on #94535
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.13/358/)

[2021-07-28 01:16] kevinlog commented on #106859
PR and backports are merged.

https://github.com/elastic/kibana/pull/106861

[2021-07-28 01:16] #106859 closed

[2021-07-28 02:40] mdefazio commented on #106585
Added in Empty and Loading state mockups (for DataGrid—should apply to both solutions)

[2021-07-28 02:52] phillipb commented on #106887
This will affect the rule evaluation.

[2021-07-28 02:58] mdefazio commented on #58366
After seeing the updates on siem.estc.dev, I came across a few issues:
- There is extra spacing between the overflow menu and edit/delete icons
- Clicking the edit icon only worked on Kibana version mismatch rule it seemed.  Any others and I reached a blank screen where I had to click on a new page to do anything
- Same with selecting edit from popover

Happy to make specific issues if others also

[2021-07-28 03:57] #106274 closed

[2021-07-28 06:06] #105872 closed

[2021-07-28 06:15] #106871 closed

[2021-07-28 06:15] #106870 closed

[2021-07-28 06:18] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15849/)

[2021-07-28 06:18] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15849/)

[2021-07-28 06:39] mheiniger commented on #3189
+1

[2021-07-28 08:18] mgiota opened #106958 "[RAC] [Metrics UI] Link inventory alert to the specific inventory item"
## 📝 Summary
In the Alerts Observability table alerts generated from the inventory rule type link at the moment to the default inventory metrics page `'/app/metrics/inventory'`. The link that needs to constructed depends on the node type information (pod, container or host) and looks like:
- `app/metrics/link-to/pod-detail/pod123456abcdef`
- `app/metrics/link-to/container-detail/container123456abc

[2021-07-28 08:24] mtojek opened #106959 "Exported fields with wildcards not rendered correctly"
I just noticed that Fleet doesn't render fields correctly with wildcard (`*`):

<img width="881" alt="Zrzut ekranu 2021-07-28 o 10 24 06" src="https://user-images.githubusercontent.com/14044910/127289725-5bd7d1ef-8ee5-4ba2-881f-be20586401b1.png">

Behind the scenes it's:

[code]

[2021-07-28 08:25] elasticmachine commented on #106959
Pinging @elastic/fleet (Team:Fleet)

[2021-07-28 08:25] elasticmachine commented on #106958
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-28 08:26] mtojek commented on #106959
I understand that we may end up with improvements on the package side, but I'm wondering if this is something we should catch and handle with UI renderer.

[2021-07-28 08:27] mbondyra commented on #101621
It doesn't happen to me anymore, closing!

[2021-07-28 08:27] #101621 closed

[2021-07-28 08:33] pheyos commented on #106891
Another occurrence of the know CI network issue: `ERROR browser[SEVERE] http://localhost:61171/api/ml/jobs/jobs_with_time_range - Failed to load resource: net::ERR_NETWORK_CHANGED`

So no issue with the app or the tests, closing.

[2021-07-28 08:39] mgiota commented on #106813
This ticket needs further investigation and design input.  It is related to the output of this issue https://github.com/elastic/kibana/issues/106824

[2021-07-28 08:40] #106813 closed

[2021-07-28 08:42] #104695 closed

[2021-07-28 08:49] hendrikmuhs commented on #104624
@kevinlog @pzl I fully agree.

Although the fix is out, there are still old releases that can run into the issue and even if you do a rolling upgrade to `7.14` once released, it is likely it happens again, depending on the node where the code gets executed.

It's good if you work with the assumption that transform can fail. Although this is fixed I/we will introduce new bugs, you can be sure. ;-)

[2021-07-28 08:49] dej611 commented on #106839
Do you have more information on how to reproduce this bug? I've tried several routes but I couldn't reproduce it yet.

[2021-07-28 09:00] kibanamachine commented on #103389
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15708/)

[2021-07-28 09:03] stephanbinder commented on #72069
Are there any updates on this bug? We need to have the asa logs correctly showing up in Kibana (case was allready opened and led to this bug).

[2021-07-28 09:11] ghost opened #106963 "[Fleet] Cross icon(x) overlaps with long name under search field for (Agents, Agent policies, Enrollment tokens)"
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Agent with long name is deployed.
3. Long policy and Enrollment tokens name should exist.

[code]
**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet-> Agents tab.
3. Search for hostname having long name

[2021-07-28 09:11] elasticmachine commented on #106963
Pinging @elastic/fleet (Team:Fleet)

[2021-07-28 09:17] ghost opened #106964 "[Fleet] The long enrollment token name breaks the UI structure of 'revoke enrollment token' popup under Enrollment tokens tab."
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available
2. Enrollment token with long name should exist for default or newly created policy.

[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet-> Enrollment tokens tab.
3. Click on Delete icon under Action

[2021-07-28 09:17] elasticmachine commented on #106964
Pinging @elastic/fleet (Team:Fleet)

[2021-07-28 09:17] vipulsrivastava-qasource commented on #106964
@manishgupta-qasource : Please review the Bug.

[2021-07-28 09:17] vipulsrivastava-qasource commented on #106963
@manishgupta-qasource : Please review the Bug.

[2021-07-28 09:21] cnasikas opened #106965 "[Cases] Fix pushing API when using a different connector from the one assigned to case"
The push API of Cases supports pushing a case to different connectors. On the URL of the push endpoint, the user can set the case id and the connector id of her like.

`POST /api/cases/{case_id}/connector/{connector_id}/_push`

When you assign a connector to a case the connector is being saved to the case's SO. Example:

[code]

At the moment, when you push using the API the fields of the connecto

[2021-07-28 09:21] elasticmachine commented on #106965
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-28 09:21] elasticmachine commented on #106965
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 09:23] Dosant opened #106966 "[FieldFormats] Break from data plugin"
Part of https://github.com/elastic/kibana/issues/104367

The data plugin is too big and we are breaking it apart for smaller size and clearer separation of concerns.

- [x] https://github.com/elastic/kibana/issues/71967
- [x] Move kbn field types into packages https://github.com/elastic/kibana/pull/106973
- [ ] Break from data https://github.com/elastic/kibana/pull/107173
- [ ] (Maybe) break field

[2021-07-28 09:23] elasticmachine commented on #106966
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-28 09:25] manishgupta-qasource commented on #106963
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-28 09:25] manishgupta-qasource commented on #106964
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-28 09:32] stratoula opened #106967 "[Vega] Replace EUICodeEditor with Monaco"
The EUI Code editor is deprecated so we want to replace it with Monaco on our vega spec.
- It should give the same capabilities to the user as the old editor
- The tests should be updated

Part of https://github.com/elastic/kibana/issues/106931

[2021-07-28 09:32] elasticmachine commented on #106967
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-28 09:37] mandeepkaur-qasource commented on #106233
Hi @ymao1

Yes, the rule was created with in a Space named as 'New'.
Please find all the related jsons files of Rule exported from the space before and after upgrade and documents that we got from the .kibana index with id: ${spaceId}:alert:${ruleId}

**Please Find the observations listed below**
<details><summary>7.8.0 Dev Tool Results</summary>
<p>
[code]
</p>
</details>

<details><summary>7.14.

[2021-07-28 09:54] muskangulati-qasource commented on #106712
Hi @dasansol92,

Thank you for the information.

We tested with the sha hash as in the alert details and the alert did not come up.

Hence, closing this issue and marking it as "Validated".

Thanks!

[2021-07-28 09:54] #106712 closed

[2021-07-28 10:12] karanbirsingh-qasource opened #106970 "[Security Solution]value with is in list operator is not searchable under Event Filter"
**Describe the bug**
value with **is in list** operator is not searchable under Event Filter

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Audit beat should be installed on kibana environment
- Upload the value list under the Rule page with type keyword

How to create a Value List

- Create a CSV file with below information
[code]
- go to Rule pa

[2021-07-28 10:12] elasticmachine commented on #106970
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 10:15] elasticmachine commented on #106970
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-28 10:19] muskangulati-qasource commented on #106711
Hi @kevinlog,

Thank you for the information. We thought the scenario of isolation is Host dependent. So we were verifying it according to the host alert being added and not from the different alerts.

We are closing this issue and marking it as "Validated".

Thanks!

[2021-07-28 10:19] #106711 closed

[2021-07-28 10:20] dasansol92 commented on #106970
Hi @karanbirsingh-qasource , could you send me credentials for a cloud environment with this scenario? Thanks!

[2021-07-28 10:20] weltenwort commented on #106958
Good issue description, thanks. A few thoughts on how to actually index the node type:

From what I understand the intention behind the RAC schema is to index the information into ECS fields in the alerts document whenever possible to allow cross-docment correllation of these alerts with the other data sources. So in this case that would mean depending on whether the node is a host, container or p

[2021-07-28 10:28] karanbirsingh-qasource commented on #106970
Just to add even the event are not getting filtered for the added list that is the endpoint installed on kibana.

[code]
![image](https://user-images.githubusercontent.com/59917825/127307706-4f7b3164-08a5-4d2b-9fcb-f09acd38f3e1.png)

[2021-07-28 10:33] peteharverson opened #106976 "[ML] Check for calendars and filters lists during anomaly detection job export / import"
Follow-up to #101037, the import and export of anomaly detection jobs from the ML page under Stack Management should check if the jobs reference calendars or filter lists.

### Calendars
Consider warning on export if the job uses a calendar, as export of calendars is not currently supported. Once exported, the exported config contains no reference of any calendars which were previously attached, s

[2021-07-28 10:33] elasticmachine commented on #106976
Pinging @elastic/ml-ui (:ml)

[2021-07-28 10:34] Dosant commented on #106839
@dej611, sure these are my steps:

1. go to index pattern management,
2. try to add a field format on any **number** field. See there is no "suffix" option in the format dropdown
2. go to lens
3. Without a page reload navigate back to index pattern management.
4. Try to add a field format on any **number** field. **See there IS a"suffix" option in the format dropdown**

I think https://github.com/

[2021-07-28 10:40] weltenwort commented on #106958
Looks like kubernetes would be identified using

[code]

but I don't see a way to identify the specific pod.

[2021-07-28 10:41] mbondyra commented on #106436
Sorry for the late reply! I think it would be working fine if we add `user-select: initial` on the `.lnsVisualizationContainer` which is a child for lnsDragDrop. So basically, after a quick testing, I'd just add the above line here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/lens/public/visualization_container.scss#L2

Will double-check and test more thouroughly once I get to thi

[2021-07-28 10:54] dasansol92 commented on #106970
@karanbirsingh-qasource,  Operator list.id is not defined in the artifact.

Artifact:

[code]

Exception:

[code]

Not sure how that would be added to the entries array or if we need to add new entry type, maybe @paul-tavares or @ferullo have some thoughts? Is the endpoint ready for this?

[2021-07-28 11:01] dasansol92 commented on #106970
NOTE: If this is something expected (endpoint doesn't works with list values) we can disallow this operator in the frontend side easily

[2021-07-28 11:04] deepikakeshav-qasource opened #106980 "[Security Solution] "filter for value" and "filter out value" is not working under Timeline after created the timeline."
**Describe the bug**
"filter for value" and "filter out value" is not working for host.name under Timeline after created the timeline.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.
3. events should be exist.

**Steps to Reproduce**
1. Navigate to Timeline tab of security.
2. Create and save the timeline

[2021-07-28 11:04] elasticmachine commented on #106980
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 11:04] deepikakeshav-qasource commented on #106980
@manishgupta-qasource Please review!!

[2021-07-28 11:06] valeriy42 opened #106981 "[ML] DFA job cloning misses an analysis parameter"
**Kibana version:** 8.0.0

**Elasticsearch version:** 8.0.0

**Describe the bug:**

When cloning a DFA regression job, the parameter `loss_function` is not cloned. In particular, if the original job has the `loss_function` specified as `msle`, the cloned job has it specified as `mse`.

**Screenshots (if relevant):**
Original job
![image](https://user-images.githubusercontent.com/1292899/127312159-

[2021-07-28 11:06] elasticmachine commented on #106981
Pinging @elastic/ml-ui (:ml)

[2021-07-28 11:11] karanbirsingh-qasource commented on #106970
Checked that we have same operator available under the Rule exception and  there it is working correctly with same value list.
![image](https://user-images.githubusercontent.com/59917825/127312863-81364b86-c86c-4253-9f2a-68d5b3b437ce.png)

[2021-07-28 11:17] mtojek opened #106984 "Fleet: disable package cache for development purposes"
While developing integrations it's a bit irritating to restart Kibana instance as some parts of a package are being cached.

For example -
when modifying manifest's description, we don't have to restart Kibana. It's enough to reboot Package Registry with updated package.

But -
when modifying policy templates, we have to artificially bump up the package version to make sure Kibana won't cache it (

[2021-07-28 11:17] elasticmachine commented on #106984
Pinging @elastic/fleet (Team:Fleet)

[2021-07-28 11:17] ferullo commented on #106970
@intxgo can you see if Endpoint supports that filter operator?

[2021-07-28 11:30] mistic commented on #100437
This test keeps failing and looks flaky. Skipping for now.

master/8.0: 7f810cd
7.x/7.15: 9c72424

[2021-07-28 11:32] manishgupta-qasource commented on #106980
Reviewed & assigned to @MadameSheema

[2021-07-28 11:59] joshdover opened #106991 "Cleanup new `excludeOnUpgrade` Saved Object API"
As a follow up to #106534, there are several tasks we'd like to complete to "lock down" the API and improve the test coverage:

- Cleanup
  - [ ] Move integration test to actions plugin + add simple integration test for core + shrink test payload (https://github.com/elastic/kibana/pull/106534#discussion_r677435284 https://github.com/elastic/kibana/pull/106534#discussion_r677432508 https://github.c

[2021-07-28 11:59] elasticmachine commented on #106991
Pinging @elastic/kibana-core (Team:Core)

[2021-07-28 11:59] timroes commented on #106436
Given that we have the same behavior in all data grids, I think @LeeDr you might want to fill that issue also for EUI, since we otherwise just have a lens specific fix, but not in classical data table or discover (in the future), or all the other places using data grid.

[2021-07-28 11:59] #100366 closed

[2021-07-28 12:01] deepikakeshav-qasource opened #106992 "[Security Solution] Event filter is saved with deleted field when no field is added while creating the event filter"
**Describe the bug**
Event filter is saved with deleted field when no field is added while creating the event filter

**Build Details:**
[code]
**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. endpoint should be installed.

**Steps to Reproduce**
1. Navigate to Event filters tab of security.
2. Click on add event filters.
3. Add the event name and field say: agen

[2021-07-28 12:01] elasticmachine commented on #106992
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 12:02] deepikakeshav-qasource commented on #106992
@manishgupta-qasource Please

[2021-07-28 12:03] manishgupta-qasource commented on #106992
Reviewed & assigned to @kevinlog

[2021-07-28 12:05] #106754 closed

[2021-07-28 12:18] kibanamachine commented on #100437
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15855/)

[2021-07-28 12:18] kibanamachine commented on #103389
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15855/)

[2021-07-28 12:19] legrego commented on #106932
I think the best path forward would be to make this a message instead of a UI control. That way we can let users know that all related objects will be copied, and not let them think there is a scenario where the control would ever be toggle-able

[2021-07-28 12:24] joshdover commented on #106991
@elastic/kibana-alerting-services Would it make sense for you all to take the last item in this here, "Generate task & action types from task manager registry instead of using hard-coded ones"? I imagine it's a pretty small change and you all know better than I about how to do it in the most robust way.

[2021-07-28 12:26] mikecote commented on #106991
@joshdover, yup, that makes sense to me 👍 we can prioritize a separate issue on our side. Let me know if you want me to create it.

[2021-07-28 12:51] jasonrhodes commented on #104926
Duplicated by #106714

[2021-07-28 12:51] #104926 closed

[2021-07-28 12:54] jasonrhodes commented on #106727
@weltenwort this is truly a _beautiful_ ticket description, thank you for writing this up!

[2021-07-28 13:02] #69972 closed

[2021-07-28 13:03] muskangulati-qasource opened #107002 "[Security Solution] User can't see any values in the drop-down for 'is in list' and 'is not in the list' operators under the event filter"
**Description:**
User can't see any values in the drop-down for 'is in list' and 'is not in the list' operators under the event filter

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Endpoints Tab
2. Go the Event Filters tab
3. Select the operator as 'is in the list'
4. Observe all the values a

[2021-07-28 13:03] elasticmachine commented on #107002
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-28 13:03] elasticmachine commented on #107002
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 13:06] dasansol92 commented on #106992
PR: https://github.com/elastic/kibana/pull/107003

[2021-07-28 13:08] dasansol92 commented on #107002
Hi @muskangulati-qasource , there is an opened issue about this operator: https://github.com/elastic/kibana/issues/106970
It seems you need to do some prev steps in order to be able to add some values there.
However, we are not sure if this operator has to be displayed or not (more info in the other issue thread)

[2021-07-28 13:10] elasticmachine commented on #106992
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-28 13:14] muskangulati-qasource commented on #107002
Hi @dasansol92,

I had a meeting with @kevinlog and he confirmed to log an issue for this one!

Please keep us posted for any update and we can close this issue if its going to be removed!

Thanks!

[2021-07-28 13:21] dikshachauhan-qasource commented on #91804
Hi @EricDavisX ,

Today, we have checked out Charlie's environment and observed below error logs. Thus, reported issue for same.

https://github.com/elastic/beats/issues/27099

Thanks
QAS

[2021-07-28 13:22] mbondyra commented on #106436
@timroes the problem was caused by drag and drop implementation in Lens, it doesn't happen in eui/other data tables.

[2021-07-28 13:24] manishgupta-qasource commented on #107002
Reviewed & assigned to @kevinlog

[2021-07-28 13:26] XavierM commented on #106819
@elastic/security-docs Let 's add this bug in the release notes

[2021-07-28 13:27] XavierM commented on #106840
@elastic/security-docs Let 's add this bug in the release notes

[2021-07-28 13:28] chrisronline commented on #106787
[Alerting] Convert all `savedObjectClient.get()` calls to use `savedObjectClient.resolve` and handle the response appropriately

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed

[2021-07-28 13:29] XavierM commented on #106384
@deepikakeshav-qasource please check the new 7.14 BC5

[2021-07-28 13:30] chrisronline commented on #106787
[Cases] Convert all `savedObjectClient.get()` calls to use `savedObjectClient.resolve` and handle the response appropriately

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed).

[2021-07-28 13:31] elasticmachine commented on #106380
Pinging @elastic/eui-design (EUI)

[2021-07-28 13:32] elasticmachine commented on #106380
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-28 13:32] chrisronline commented on #106787
[ESO] Convert all `savedObjectClient.get()` calls to use `savedObjectClient.resolve` and handle the response appropriately

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed). Th

[2021-07-28 13:35] XavierM commented on #106364
@monina-n I am not an UX expert but what we have seems sufficient to know that the case has been created. However, if you thing that we need a toaster we will add this issue in the backlog.

[2021-07-28 13:40] XavierM commented on #105749
@muskangulati-qasource  can you please re-test on 7.14.0 BC5?

[2021-07-28 13:47] XavierM commented on #105399
yes, we should be consistent but it is not a bug in our eyes but more an enhancement of the feature on the list cases page.

[2021-07-28 13:49] XavierM commented on #105388
@kqualters-elastic how bad is this one?

[2021-07-28 13:50] ymao1 commented on #106233
@mandeepkaur-qasource @spong

Thanks for supplying the alerting saved object! I have loaded it into our framework tests and confirmed that all alerting migrations (we have ones for 7.10, 7.11 and 7.13) run successfully with no errors.

It seems like rules from 7.8 do not fill in the `params.author` field. Since none of the migrations add the `params.author` field, the detection rule is migrated to

[2021-07-28 13:51] XavierM commented on #104616
@deepikakeshav-qasource can you please test on master?

[2021-07-28 13:52] joshdover opened #107012 "Update getOldestActionTask and excludeOnUpgrade hook to read action types from task registry"
Related to #106991
Follow up to #106534

Right now the query and filters being used for the Task Manager's `excludeOnUpgrade` hook are using a hard-coded list of task action types. We should update this to pull all tasks from the task registry that begin with `taskType:actions:*`.

Discussion here: https://github.com/elastic/kibana/pull/106534#discussion_r677499153

[2021-07-28 13:52] elasticmachine commented on #107012
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-28 13:52] joshdover commented on #106991
@mikecote Created a new issue here: https://github.com/elastic/kibana/issues/107012

[2021-07-28 13:52] kibanamachine opened #107013 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table "before each" hook for "should display correct values on changing metrics aggregation""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15712/)

[2021-07-28 13:55] XavierM commented on #104391
we agree but we think the API is working as expected but we can improve the UX here to only enable the save button when we detected a changed in the description field.

[2021-07-28 13:56] elasticmachine commented on #107013
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-28 13:56] mistic commented on #103389
This test keeps failing and looks flaky. Skipping for now.

master/8.0: b84362e
7.x/7.15: 02fdf6c

[2021-07-28 14:00] cnasikas commented on #104053
We should use the Kibana breadcrumb instead of doing it ourselves.

[2021-07-28 14:01] stacey-gammon commented on #99515
Any update on this? This is an important step towards reducing the size of the data plugin's public API, which is comprised of 3716 items.

[2021-07-28 14:03] XavierM commented on #104049
@asnehalb Can you please ask. what @paulewing wants here? FYI -> technically, it will be easier to add the group like `Detect` and `manage` etc... in the breadcrumb than doing the other way around.

[2021-07-28 14:08] peluja1012 commented on #106663
Thanks, Deepika. It looks like the Endpoint is not populating values for `file.Ext.code_signature.trusted`. @ferullo is this expected?

[2021-07-28 14:12] cchaos commented on #106380
This is actually a completely custom built component in Kibana. I'm turning it over to @elastic/kibana-design.

[2021-07-28 14:18] alexfrancoeur opened #107020 "Missing Add Data welcome / interstitial page"
**Kibana version:**
7.14 - Cloud

**Elasticsearch version:**
7.14

**Describe the bug:**
The interstitial / welcome page seems to be missing on Cloud (and potentially self managed)

https://user-images.githubusercontent.com/25181823/127337308-9cca7e53-64cc-45de-823b-42778614935f.mp4

You are dropped directly in the home page when you should be seeing this view upon login. If there is no data (whic

[2021-07-28 14:34] alexfrancoeur commented on #82851
I think we need to prioritize solving this problem as soon as possible. This is impacting onboarding flows. I just ran through creating a net new deployment in Cloud and came across [this bug]( https://github.com/elastic/kibana/issues/107020). I then tried to take a path I imagine is not uncommon, Kibana => Dashboard => create visualization. In doing so, we typically have an empty state that leads

[2021-07-28 14:36] elasticmachine commented on #106980
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-28 14:37] MadameSheema commented on #106980
@XavierM @asnehalb I didn't have time to investigate this bug but, do you think we need to warn the users about the above behaviour on the release notes?

[2021-07-28 14:48] Zacqary opened #107026 "[Metrics UI] Add options to deal with partial buckets in metric threshold alerts"
Sometimes if an alert executes before completing a full bucket interval, we deal with only a partial bucket of data. For example, with a bucket interval of 5 minutes, if the alert executes after only 4 minutes and 15 seconds have passed since the last bucket, the most recent 4:15 bucket is a partial bucket.

Previously, the default behavior was to drop these partial buckets. This caused issues wit

[2021-07-28 14:48] elasticmachine commented on #107026
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-28 15:02] kibanamachine commented on #103389
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15714/)

[2021-07-28 15:03] kibanamachine opened #107028 "Failing test: Interpreter Functional Tests.test/interpreter_functional/test_suites/run_pipeline/esaggs_timeshift·ts - runPipeline esaggs timeshift tests shifts single percentile"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15714/)

[2021-07-28 15:05] mostlyjason commented on #106086
@nchaulet I was thinking we'd only apply these settings to the integrations output since its a requirement for integrations like APM. The user may wish to have different settings for the agent monitoring output. I can't think of a use case where a user would need different settings for agent monitoring on a per-agent policy basis.

[2021-07-28 15:07] joshdover commented on #107020
Just tested this on 7.12.1 and 7.13.4 on Cloud:
- 7.13.4: same behavior as @alexfrancoeur is seeing on the 7.14 BC
  - logs-* and metrics-* index patterns already exist, though no indices are created yet
  - apm indices exist
  - System package assets (dashboards, etc.) are installed
- 7.12.1: add data interstitial is shown, though maybe a bit broken
  - At first the interstitial wasn't show until

[2021-07-28 15:11] joshdover commented on #107020
Maybe we could fix this by making the "add data" logic actually check if there is any backing indices for the `logs-*` and `metrics-*` index patterns? I think we'd need to exclude `metrics-endpoint*` indices from that check since it's created by default?

[2021-07-28 15:12] #71967 closed

[2021-07-28 15:16] elasticmachine commented on #107020
Pinging @elastic/kibana-core (Team:Core)

[2021-07-28 15:16] elasticmachine commented on #107020
Pinging @elastic/fleet (Team:Fleet)

[2021-07-28 15:20] kibanamachine opened #107034 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/telemetry/telemetry·ts - telemetry Telemetry service detects that telemetry cannot be sent in screenshot mode"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15858/)

[2021-07-28 15:20] kibanamachine opened #107035 "Failing test: Plugin Functional Tests.test/plugin_functional/test_suites/telemetry/telemetry·ts - telemetry Telemetry service "after all" hook for "detects that telemetry cannot be sent in screenshot mode""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15858/)

[2021-07-28 15:20] kibanamachine commented on #107034
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15858/)

[2021-07-28 15:20] kibanamachine commented on #107035
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15858/)

[2021-07-28 15:23] elasticmachine commented on #54106
Pinging @elastic/kibana-security (Team:Security)

[2021-07-28 15:23] jportner commented on #90429
If we mark the import API as beta, perhaps we should tag the "createNewCopies" option as deprecated? (`createNewCopies: false` is the default right now, that is pseudo-copy mode which we _eventually_ want to get rid of: #81904)

[2021-07-28 15:24] kibanamachine commented on #92528
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15859/)

[2021-07-28 15:24] jportner commented on #90429
See also: #91615

[2021-07-28 15:25] ducttapecoder-vt commented on #30109
@TinaHeiligers I'm a little lost in the merges here. Is '0' the correct numeric value for 'infinity'? We are still on 7.10.

[2021-07-28 15:28] jportner commented on #81904
### Quick recap

Pseudo-copy mode (the "Check for existing objects" option) and true copy mode (the "Create new objects with random IDs" option) are mutually exclusive options in both the "Import saved objects" feature and the "Copy saved objects to space" feature.

The motivation behind removing pseudo-copy mode is so we can remove the underlying code and decrease our technical debt. However, all

[2021-07-28 15:28] #81904 closed

[2021-07-28 15:30] ferullo commented on #106663
@intxgo this looks like an Endpoint bug, right? `"code_signature": {"exists": false}` looks like nonsensical data. I'd expect Endpoint to just not include the code signature block when there is no signature. Or am I missing something?

@peluja1012 do you agree this is not a critical issue for 7.14.0? I want to make sure it is prioritized correctly.

cc @softengchick

[2021-07-28 15:34] MadameSheema commented on #104376
@mandeepkaur-qasource please remember to test this on BC5, thanks :)

[2021-07-28 15:39] MadameSheema commented on #106663
After a conversation with @peluja1012, we agree that this issue is not critical for 7.14 release.

[2021-07-28 15:41] mikecote commented on #106854
We'll keep this issue scoped to changing the message, if we can find a better one.

[2021-07-28 15:50] MadameSheema commented on #106233
@mandeepkaur-qasource is this happening just from 7.8 to 7.14? 7.10 to 7.14 works fine? thanks :)

[2021-07-28 15:51] jportner commented on #106932
+1, that's what we did for the "Share to space" flyout in #100424, we should converge the Import and Copy flyouts around this design as well:

![share-with-relatives](https://user-images.githubusercontent.com/5295965/122430112-4e750000-cf61-11eb-9969-6719d8dc3c01.gif)

[2021-07-28 15:56] ThomThomson opened #107041 "[Filter Manager] Decouple Empty Index Pattern From Show / Hide Filter Bar"
**Describe the feature:**
Currently, when an app passes `undefined` index patterns to the filter manager, the filter bar is hidden, even if there are filters defined _and_, `showFilterBar` is explicitly set to `true`. This has the potential to cause layout shifting and confusing behaviour in a number of places. The filter manager should show a disabled 'add filter' button, or at least show an empt

[2021-07-28 15:56] elasticmachine commented on #107041
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-28 16:00] kibanamachine opened #107043 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/permissions/full_transform_access·ts - transform permissions for user with full transform access with data loaded should display elements in the Transform list page correctly"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15715/)

[2021-07-28 16:00] mikecote commented on #106481
We'll scope this issue to doc / UI fix for now.

[2021-07-28 16:02] afgomez commented on #72069
@stephanbinder I don't think there has been any progress, but let me check that for you.

[2021-07-28 16:03] mikecote commented on #106492
Closing as it seems to have only happened once.

[2021-07-28 16:07] afgomez commented on #68113
Outdated. Closing

[2021-07-28 16:07] #68113 closed

[2021-07-28 16:08] afgomez commented on #68118
Outdated. Closing

[2021-07-28 16:08] #68118 closed

[2021-07-28 16:08] mikecote commented on #102888
cc @arisonl for product awareness on what we should do from a product perspective.

[2021-07-28 16:12] maihde opened #107044 "[Maps] Changing label of a geospatial filter on causes filter disappear from map."
**Kibana version:** 7.13

**Elasticsearch version:** 7.13

**Describe the bug:**

If you change the label on a Geo Spatial filter created on the map, it no longer renders.

**Steps to reproduce:**
1. Draw a filter on the map (either shape, bounds, distance)
2. Click on the created filter to open it's definition
3. Change the "Custom label" to something else
4. Press save

**Expected behavior:**

F

[2021-07-28 16:17] afgomez commented on #78844
Closing as outdated.

[2021-07-28 16:17] #78844 closed

[2021-07-28 16:23] afgomez commented on #74239
Closing as solved

[2021-07-28 16:23] #74239 closed

[2021-07-28 16:30] mdefazio commented on #104923
I think there's likely more we can do here, but these are at least cleaned up mocks from how the current loading / empty state is shown.

Some questions:
- What are our options with the virtualization of the EUIDataGrid?
  - Are we able to show the grid lines, and then perhaps the text loading component within the cell?
- Should this be better addressed at the component level in EUI?

[Figma file]

[2021-07-28 16:36] mbradley52 commented on #76433
+1 - This would also be very helpful for our Kibana use case.

Is there any ETA for this issue, or an issue like this? Wondering if we should restructure our indices to get around the issue that this Github issue would resolve.

[2021-07-28 16:47] elasticmachine commented on #107043
Pinging @elastic/ml-ui (:ml)

[2021-07-28 16:52] spalger commented on #107043
4 failures, starting in the last 24 hours, looks like these tests were just added by @peteharverson in https://github.com/elastic/kibana/pull/106693

![image](https://user-images.githubusercontent.com/1329312/127363374-d1119838-2020-48a7-b3ce-bb93322edf9e.png)

Skipped

master/8.0: https://github.com/elastic/kibana/commit/30a102028355ba2bb0e14e8354443d475623a26d
7.x/7.15: https://github.com/elasti

[2021-07-28 17:04] #101582 closed

[2021-07-28 17:12] Brian-Williams opened #107054 "'Uptime monitor status' rule type documentation link broken"
**Kibana version:** v7.13.3

**Elasticsearch version:** v7.13.3

**Describe the bug:**
Uptime monitor status rule documentation link 404s

**Steps to reproduce:**
1. Navigate Alerts and Insights > Rules and Connectors
2. Click new rule
3. Select Uptime monitor status
4. Click documentation link
5. 404 @ https://www.elastic.co/guide/en/uptime/7.13/uptime-alerting.html#_monitor_status_alerts

**Expe

[2021-07-28 17:17] kibanamachine opened #107057 "Failing test: Chrome UI Functional Tests.test/functional/apps/discover/_indexpattern_without_timefield·ts - discover app indexpattern without timefield should switch between with and without timefield using the browser back button"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/171/)

[2021-07-28 17:18] ghudgins opened #107059 "[Lens] Waffle visualization type"
**Describe the feature:**
Descriptions copied/tweaked from @monfera (more detail in this PR) https://github.com/elastic/elastic-charts/pull/1255
Add waffle chart as a Visualization Type to the set of partition visualizations in Lens (alongside Pie, Treemap, [Moasaic](https://github.com/elastic/kibana/issues/104223)). It shows a parts to whole relationship, like pie charts or treemaps, but sometime

[2021-07-28 17:18] elasticmachine commented on #107059
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-28 17:23] elasticmachine commented on #107057
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-28 17:25] spalger commented on #107057
I wonder if https://github.com/elastic/kibana/pull/106439 is related to this at all. This failed in two PRs, one is that PR and the other is a PR that merged master right after that was merged.

cc @Dosant

[2021-07-28 17:28] LeeDr commented on #106887
I didn't see any mention if this was a regression in 7.14.0?  Or it it new in 7.14.0?

[2021-07-28 17:32] #106513 closed

[2021-07-28 17:35] Aloshi commented on #106887
We were seeing this in 7.13.2, but it might be older than that.

[2021-07-28 17:42] BenB196 opened #107062 "[Detection Rules] Allow exceptions to be managed from a one-to-many perspective."
**Describe the feature:**
I'd like to be able to manage a single exception and assign it to multiple detection rules.

**Describe a specific use case for the feature:**
I have a set of similar detection rules that have some minor differences. Most of these rules can detect the same thing depending on the event. Currently I have to manage exceptions for each detection rule one at a time. I'd like t

[2021-07-28 17:45] monina-n commented on #106364
There doesn't need to be a toast when a user creates a case, since we automatically transport them to the newly created case page and that is enough of an indicator to let them know that the case has been created 👍

[2021-07-28 18:03] MadameSheema commented on #106364
Thanks @monina-n!

Closing as is the expected behaviour.

[2021-07-28 18:03] #106364 closed

[2021-07-28 18:10] peluja1012 commented on #78604
This is fixed by https://github.com/elastic/kibana/pull/103404

[2021-07-28 18:10] #78604 closed

[2021-07-28 18:28] ymao1 opened #107066 "[Maps][Alerting] Migrate to using Saved Object References array to reference index patterns from Rules"
Currently, geo containment rules stores two index pattern Saved Object IDs inside the rule params inside `params.indexId` and `params.boundaryIndexId`:

<details>
<summary>Example geo containment rule</summary>

[code]
</details>

In 8.0, index-pattern saved objects will be converted to share-capable ([meta issue](https://github.com/elastic/kibana/issues/100489)). This means all index pattern SO I

[2021-07-28 18:29] elasticmachine commented on #107066
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-28 18:35] ymao1 opened #107067 "[Cases][Connectors] Migrate to using Saved Object References array to reference action saved objects from Cases"
Currently, there are several cases saved object types that directly store the associated actions SO ID instead of utilizing the references array. With alerting planning to make [actions share-capable](https://github.com/elastic/kibana/issues/100067) in 8.0.0, the SO IDs for these actions will be re-generated, which will break the association in these cases saved objects.

### Cases SO
Stores the a

[2021-07-28 18:37] elasticmachine commented on #107067
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 18:37] elasticmachine commented on #107067
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-28 18:45] ymao1 opened #107068 "[Security Solution][Detections] Migrate to using Saved Object References array to reference alert saved objects from security saved objects"
Currently, there are several security saved object types that directly store the associated rule (`alert`) SO ID instead of utilizing the references array. With alerting planning to make [alerts share-capable](https://github.com/elastic/kibana/issues/100067) in 8.0.0, the SO IDs for these rules will be re-generated, which will break the association in these security saved objects.

### Detection E

[2021-07-28 18:45] elasticmachine commented on #107068
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-28 18:50] ymao1 commented on #100067
Created the following issues for our external dependencies:
* Maps rule type should use references array for index pattern references - https://github.com/elastic/kibana/issues/107066
* Cases should use references array for action references - https://github.com/elastic/kibana/issues/107067
* Security should use references array for alert references - https://github.com/elastic/kibana/issues/10706

[2021-07-28 18:54] chrisronline opened #107069 "[Actions] [7.x] Convert all savedObjectClient.get() calls to use savedObjectClient.resolve and handle the response appropriately"
## (No longer) Blocked

https://github.com/elastic/kibana/pull/106897 needs to be merged before this work can be finished. - has been merged!

## Summary

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which i

[2021-07-28 18:54] elasticmachine commented on #107069
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-28 18:55] chrisronline opened #107070 "[Alerting] [7.x] Convert all savedObjectClient.get() calls to use savedObjectClient.resolve and handle the response appropriately"
## Summary

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed). This affects existing saved objects, as every saved object will receive a new ID as part of this effort and the ne

[2021-07-28 18:55] elasticmachine commented on #107070
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-28 18:57] chrisronline opened #107071 "[Cases] Convert all savedObjectClient.get() calls to use savedObjectClient.resolve and handle the response appropriately"
## Summary

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed). This affects existing saved objects, as every saved object will receive a new ID as part of this effort and the ne

[2021-07-28 18:58] chrisronline opened #107072 "[ESO] Convert all savedObjectClient.get() calls to use savedObjectClient.resolve and handle the response appropriately"
## Summary

In https://github.com/elastic/kibana/issues/100067, we need to ensure that all rule and connector saved objects are shareable. Part of this effort involves needing to regenerate saved object IDs to guarantee uniqueness across all spaces (which is currently not guaranteed). This affects existing saved objects, as every saved object will receive a new ID as part of this effort and the ne

[2021-07-28 18:59] chrisronline commented on #100067
Created the following issues for refactoring `.get()` to `.resolve()`:

- Actions https://github.com/elastic/kibana/issues/107069
- Alerting https://github.com/elastic/kibana/issues/107070
- Cases https://github.com/elastic/kibana/issues/107071
- Encrypted saved objects https://github.com/elastic/kibana/issues/107072

[2021-07-28 19:01] TinaHeiligers commented on #30109
@ducttapecoder-vt At the moment, I don't think there is a "correct numeric value" for 'Infinity'. The UI's and underlying implementations are constantly being developed and we'll look into re-defining a definitive number in feature enhancements. That being said, I think it's best to use a [sufficiently large number](https://github.com/elastic/kibana/issues/30109#issuecomment-780740920) for your us

[2021-07-28 19:11] liza-mae commented on #107020
Hi @joshdover can you point me to the test for this? I can check if it is being run on cloud, if it is not being run currently, I can help in getting it added.

[2021-07-28 19:28] paul-tavares commented on #106477
Fix was merged.

[2021-07-28 19:28] #106477 closed

[2021-07-28 19:39] petrklapka opened #107077 "Petrs Sync Script Test"
testing 1,2,3

[2021-07-28 19:39] elasticmachine commented on #107077
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-28 19:40] ymao1 commented on #100067
Follow-up issues created so closing this research issue and moving to Done.

[2021-07-28 19:44] legrego opened #107078 "Migrate role mappings JSON editor to use the monaco-based editor"
`x-pack/plugins/security/public/management/role_mappings/edit_role_mapping/rule_editor_panel/json_rule_editor.tsx` uses the deprecated `EuiCodeEditor` component, which is slated for removal in the `7.16` timeframe.

Deprecation notice: https://github.com/elastic/eui/issues/3807
Meta issue: https://github.com/elastic/kibana/issues/106931

[2021-07-28 19:46] elasticmachine commented on #107078
Pinging @elastic/kibana-security (Team:Security)

[2021-07-28 20:14] qn895 opened #107082 "[Meta][ML] Remove deprecated `EuiCodeEditor` usage in Anomaly detection, Data frame analytics, Data visualizer, and Transforms"
Meta issue to keep track of the removal of the now deprecated `EuiCodeEditor` in several plugins maintained by ML team. Related to https://github.com/elastic/kibana/issues/106931.

- Anomaly detection
  - [x] public/application/jobs/jobs_list/components/ml_job_editor/ml_job_editor.tsx
      https://github.com/elastic/kibana/pull/169613
- Data Frame Analytics (https://github.com/elastic/kibana/pull

[2021-07-28 20:14] elasticmachine commented on #107082
Pinging @elastic/ml-ui (:ml)

[2021-07-28 20:19] chrisronline opened #107083 "[Actions] [8.0] Prepare for making action saved objects sharecapable"
Related to https://github.com/elastic/kibana/issues/107069

To prepare for shareable saved objects in 8.0, we need to make two changes that can only go into 8.0:

- Change all saved objects created by the actions plugin to use `namespaceType: 'multiple-isolated'` (instead of `namespaceType: 'single'`)
- Add an ESO migration for 8.0

Because we are able to get the current Kibana version from core,

[2021-07-28 20:19] elasticmachine commented on #107083
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-28 20:27] chrisronline opened #107084 "[Alerting] [8.0] Prepare for making alerting saved objects sharecapable"
Related to https://github.com/elastic/kibana/issues/107069

To prepare for shareable saved objects in 8.0, we need to make two changes that can only go into 8.0:

- Change all saved objects created by the alerting plugin to use `namespaceType: 'multiple-isolated'` (instead of `namespaceType: 'single'`)
- Add an ESO migration for 8.0

Because we are able to get the current Kibana version from core,

[2021-07-28 20:27] elasticmachine commented on #107084
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-28 20:27] tsullivan opened #107085 "[Reporting] job param types must be available on client"
Currently, job param types such as `JobParamsPDF`, `JobParamsCSV`, etc are defined in `x-pack/plugins/reporting/server/export_types/*/types.d.ts`

This makes it impossible for client-side integrations to use those types. See:
https://github.com/elastic/kibana/blob/3559d375b6795463f601c2362f29aa0fe6cadc8e/x-pack/plugins/canvas/public/components/workpad_header/share_menu/utils.ts#L20

## Requirement

[2021-07-28 20:27] elasticmachine commented on #105985
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-28 20:39] #105240 closed

[2021-07-28 20:43] legrego opened #107091 "[Console] Improve error handling when local storage quota is full"
I was using dev tools, and I must have exceeded my `localStorage` quota — I got a fairly descriptive error message, but it wasn’t clear to me what steps I should take as a user, or if this was something I should even be concerned about. As an engineer I understand that I need to clear out my local storage if I want the history saved, but I wouldn’t expect the typical end user to have to know about

[2021-07-28 20:43] elasticmachine commented on #107091
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-28 22:01] kibanamachine opened #107096 "Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table should render correctly after saving"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15720/)

[2021-07-28 22:06] elasticmachine commented on #107096
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-28 22:08] spalger commented on #107096
Only two failures, both very recently, one in a random Cases PR and one on 7.x. I suspect this is caused by a recent change to TSVB but this didn't fail in that PR so it's unclear which might be to blame

![image](https://user-images.githubusercontent.com/1329312/127402497-20ce79ed-6090-4663-a698-a2c6897aa280.png)

[2021-07-28 22:23] jen-huang opened #107097 "[Fleet] Replace usages of `EuiCodeEditor`"
See #106931 for details and guidance.

We have two instances that need to be replaced:
- [ ] x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/package_policy_input_var_field.tsx
- [ ]  x-pack/plugins/fleet/public/components/settings_flyout/index.tsx

[2021-07-28 22:23] elasticmachine commented on #107097
Pinging @elastic/fleet (Team:Fleet)

[2021-07-28 22:29] #106887 closed

[2021-07-28 22:43] jen-huang commented on #106959
@mtojek It's rendering like that since that is regular markdown syntax, even Github shows it in italics:

https://github.com/elastic/integrations/blob/master/packages/aws/docs/billing.md
![image](https://user-images.githubusercontent.com/1965714/127405499-2f674e35-23b2-48ee-99d5-0b776ef0d208.png)

Since it's just markdown, I don't think this is something to fix on Kibana side. I would recommend es

[2021-07-28 22:48] jen-huang commented on #106815
This is expected behavior.

[2021-07-28 22:48] #106815 closed

[2021-07-29 01:26] kibanamachine commented on #83386
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15724/)

[2021-07-29 03:27] karanbirsingh-qasource commented on #105399
ok thanks @XavierM for sharing the inputs.

[2021-07-29 04:23] kibanamachine opened #107109 "Failing test: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/correlations/latency_overall·ts - APM API tests trial apm_8.0.0 correlations latency overall with data and default args returns overall distribution"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15871/)

[2021-07-29 05:00] #67908 closed

[2021-07-29 05:01] peluja1012 commented on #106233
Thanks, @ymao1 for performing such a thorough investigation!

I was not able to reproduce this issue when upgrading from **7.9 -> 7.13**, from **7.10 -> 7.13**, or from **7.12 ->7.13**. I was only able to reproduce when upgrading from **7.8 -> 7.13**. When upgrading from **7.18 -> 7.13**, the reproduction steps are even simpler as you can see below:

1. In a 7.8 environment, navigate to the Securi

[2021-07-29 05:05] neil6323 opened #107111 "Restrict Access to Kibana based on IP addresses/Subnets"
**Describe the feature:**
Restrict access to Kibana on port 5601 based on source IP address.

**Describe a specific use case for the feature:**
Using a similar mechanism to Elasticsearch IP filters, allow access to Kibana on port 5601 to hosts located on certain subnets and deny all other connectivity as a layer of security.

[2021-07-29 05:08] ppisljar commented on #107085
could we move those types to `common` and export them in server and client ?

[2021-07-29 05:58] #77340 closed

[2021-07-29 06:29] deepikakeshav-qasource commented on #106384
Hi @XavierM ,

We have validated this ticket on **7.14.0 BC5** build and observed that issue is **Fixed**. BETA is not displaying under the resolver on Alerts page, Timeline, Events, External alerts page.

**Build Details:**

[code]

**Screenshot:**
![Beta_resolver](https://user-images.githubusercontent.com/61860752/127438738-6f885219-e9c6-47c9-b895-886f8cdb6c98.jpg)

Hence, we are closing this ti

[2021-07-29 06:29] #106384 closed

[2021-07-29 06:58] formgeist commented on #106851
The charts team made this a priority for release and will get this in Kibana within the week. I'll move this to 7.15 planned items cc @cauemarcondes

[2021-07-29 07:24] formgeist commented on #106552
One suggestion would be to move the `cold start` badge to the end of the description as we do for the other badges e.g. `async`. Not sure if there was any meaning behind the yellow badge color?

<img width="539" alt="Screenshot 2021-07-29 at 09 20 03" src="https://user-images.githubusercontent.com/4104278/127449052-4d306c32-5e1f-471f-ae06-d652cba13cd6.png">

Added a link to the design issue for ad

[2021-07-29 07:36] timroes commented on #106931
@thompsongl We currently use in a lot of of places that `CodeEditor` is already in place custom options and basically every place looks slightly different (we even don't have a shared `fontSize` between those instance). Since we're now heavily start using it in more places, could Design please take a pass on that, and make sure that the `CodeEditor` component itself has reasonable default stylings

[2021-07-29 07:57] dushyanthm opened #107117 "[APM]"
**Versions**
Kibana: (if relevant)
APM Server: (if relevant)
Elasticsearch: (if relevant)

[2021-07-29 07:57] elasticmachine commented on #107117
Pinging @elastic/apm-ui (Team:apm)

[2021-07-29 08:02] mbondyra commented on #106793
Looking at the stacktrace in Jenkins it looks like the same repetetive problem with CI that happened before and happens in other issues (only for KibanaApp, 3 open (13 in general): https://github.com/elastic/kibana/issues/75962, https://github.com/elastic/kibana/issues/91325,https://github.com/elastic/kibana/issues/75961, closed: https://github.com/elastic/kibana/issues?q=is%3Aissue+label%3ATeam%3

[2021-07-29 08:02] #106793 closed

[2021-07-29 08:06] mbondyra commented on #91325
Last time it happened on February so I think it's safe to close it for now (also, seems like CI networking issue)

[2021-07-29 08:06] #91325 closed

[2021-07-29 08:20] karanbirsingh-qasource opened #107123 "[Security Solution]unalike Group information showing for group names under Global Search for Security App"
**Describe the bug**
unalike Group information showing for group names under Global Search for Security App

**Build Details:**
[code]
**Browser Details:**
N/A

**Browser Details**
All

**Preconditions**
- Audit beat should be installed on kibana environment

**Steps to Reproduce**
1. Go to Security Application.
2. search for following keyword under the global search
[code]
3.Observed that global

[2021-07-29 08:20] elasticmachine commented on #107123
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-29 08:22] karanbirsingh-qasource commented on #104049
hi @XavierM we have logged an separate issue https://github.com/elastic/kibana/issues/107123 for above pointer as this main issue got fixed and closing the same

[2021-07-29 08:22] #101573 closed

[2021-07-29 08:22] karanbirsingh-qasource commented on #104049
Hi @MadameSheema and team,

we have validated this issue on 7.14.0 BC5 and found it Fixed 🟢 that is now user is navigated to correct external alert page on navigating to `Security /Host / External` Global Deep Link search.

**Build Details :**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/127457535-ea021fa7-1ab2-4649-9dba-9f0092036635.mp4

Hence we are closing this i

[2021-07-29 08:22] #104049 closed

[2021-07-29 08:24] darnautov commented on #104881
Also noticed that on the recent `master`. Even before selecting an alerting rule changing the name causes a re-render on each keystroke.

![image](https://user-images.githubusercontent.com/5236598/127457934-4dfcf3c3-dc87-4161-a029-9c327d6b737d.png)

[2021-07-29 08:25] dasansol92 commented on #106970
As it's not clear how we have to manage this and the release date is so close, I've created a draft PR just disallowing the `list` operator: https://github.com/elastic/kibana/pull/107122

If Endpoint supports this, we could add it in as a known entry type during artifact generation [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/endpoint/lib/artifacts/l

[2021-07-29 08:25] dej611 commented on #106793
I have a branch where I'm trying to speed up a bit tests here to avoid CI timeout. Will post it as PR hoping that will help in this case as well.

[2021-07-29 08:32] karanbirsingh-qasource commented on #104376
Hi @MadameSheema

we have validated this issue on 7.14.0 BC5 and found it Fixed 🟢 . Correct Description and text information is showing for checkox

**Build Details :**
[code]

**Screen-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/127459159-07e20d94-6e3b-46bd-89c1-10a609bfdb6f.png)

Hence we are closing this issue and adding "QA:Validated" to it .

thanks !!

[2021-07-29 08:32] #104376 closed

[2021-07-29 08:42] mshustov commented on #83910
functional tests with `'legacyEs'` service:
- [ ] https://github.com/elastic/kibana/blob/12271f3f5c2f980da81c5c6af6d5fda4d2415d7e/x-pack/test/alerting_api_integration/spaces_only/tests/alerting/ephemeral.ts#L27 @elastic/kibana-alerting-services
- [ ] https://github.com/elastic/kibana/blob/12271f3f5c2f980da81c5c6af6d5fda4d2415d7e/x-pack/test/api_integration/apis/uptime/rest/telemetry_collectors_fle

[2021-07-29 08:47] #40912 closed

[2021-07-29 08:48] formgeist opened #107127 "[Observability] Add Resources links to new quick-start video guides"
# Summary

We want to add a link in the Resources section in the Observability to the new quick-start videos available on the training page of elastic.co

<img width="729" alt="Screenshot 2021-07-29 at 10 43 05" src="https://user-images.githubusercontent.com/4104278/127461289-4c199306-c20c-4d6a-ac6f-38d11a692c26.png">

Link should go to https://www.elastic.co/training/free#quick-starts

Additional

[2021-07-29 08:48] elasticmachine commented on #107123
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-29 08:50] samratbhadra-qasource opened #107129 "The 'No Logged Actions' message blinks in the Activity Log."
**Describe the bug:**
The 'No Logged Actions' message blinks in the Activity Log.

**Build Details:**

VERSION: 7.14.0-BC5
BUILD: 42722
COMMIT:  fb2c86acb9cabd7e3eee7b91b38bdde3d3eda9b6
ARTIFACT: https://staging.elastic.co/7.14.0-20ebeb16/summary-7.14.0.html

**Preconditions:**
Elastic 7.14.0 environment should be deployed.

**Steps to Reproduce:**

1. Navigate to the Endpoints tab under security

[2021-07-29 08:50] elasticmachine commented on #107129
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-29 08:51] samratbhadra-qasource commented on #107129
@manishgupta-qasource Please review.

[2021-07-29 08:58] #100866 closed

[2021-07-29 09:10] Dosant commented on #107057
@spalger, I agree this could be related. I will take a closer look

[2021-07-29 09:34] cachedout commented on #106749
Hi @jbudz

I would like to bring some more attention to this issue because it seems quite similar to one that we're seeing.

This may be a problem which is actually affecting other teams in Elastic. For example, in Observability, we run APM Integration Tests which [have been failing quite frequently ](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-downstream/detail/maste

[2021-07-29 09:43] Dosant commented on #107057
Just checked, doesn't seem like this test touches index pattern editor so doesn't look like could be related to https://github.com/elastic/kibana/pull/106439. Could be a coincidence 🤷‍♂️

[2021-07-29 09:44] manishgupta-qasource commented on #107129
Reviewed & assigned to @kevinlog

[2021-07-29 09:48] kuisathaverat commented on #106749
This is the logs of the running @cachedout is talking about, there are no logs after 2021-07-29T03:24:35+00:00, we wait 5 min for kibana checking the `/api/status`, but Kibana is not available, after that we quit.

[code]

[2021-07-29 09:54] azasypkin commented on #66405
__UPDATE:__ we refactored Security plugin quite a bit since this issue was filled and moved start-specific APIs to `start`, but we still additionally expose some of these APIs from `setup` to support external consumers. These APIs are marked as deprecated and we'll remove them as soon as consumers migrate away (or we help them to migrate away).

[2021-07-29 09:57] estermv opened #107136 "[Stack monitoring] Improve functional tests and create tests for alerts modal"
### Summary
Since we added the alerts modal to allow the user if they want to create the default alerts or not we had to deal with the modal also in the functional tests that gave us [some problems](https://github.com/elastic/kibana/pull/107060). This issue is to create a proper solution to handle it.

My proposal is to modify the es_archives to include the alerts and all the existing tests should

[2021-07-29 09:57] elasticmachine commented on #107136
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-29 10:17] elasticmachine commented on #107129
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-07-29 10:17] kibanamachine commented on #106658
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/15732/)

[2021-07-29 10:24] #104244 closed

[2021-07-29 10:28] mshustov commented on #92933
https://github.com/elastic/kibana/pull/106534 added the ability to filter out SOs before the migration is started. That should reduce the number of SO to be migrated and speed the process up.

[2021-07-29 10:30] #106791 closed

[2021-07-29 11:05] melvynator commented on #107127
Thanks a lot for raising this issue @formgeist !  I think something along the line of: "Free Observability Course" would be great.

[2021-07-29 11:20] #94088 closed

[2021-07-29 11:27] kibanamachine commented on #107109
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/15878/)

[2021-07-29 11:32] kevinlog commented on #106970
@dasansol92 I don't this this is critical enough to put into `7.14.0`.  I marked this ticket as `7.14.1`.

I'm not sure what the use case would be for adding the `list` operator for Event Filters.  Users will still be able to properly filter events they don't want to stream with the other existing operators.  I think your fix is the right one and we can merge it for the next patch release.

let me

[2021-07-29 11:37] mgiota opened #107142 "[RAC][Observability] Unable to load alerts in Observability alerts table if custom feature privileges are set"
## :memo: Summary
If a user has no Kibana privileges to view an Observability app, when he goes to the Observability > Alerts table to see the alerts of the rest Observability apps he has access to, he gets an error and sees no alerts at all.

## Steps to reproduce
1. Make sure to create some rule types for different Observability apps,  Logs and Metrics in the example below.
<img width="1628" alt

[2021-07-29 11:38] dasansol92 commented on #107129
The Api call is done twice when it throws an error (there is no activity logs for host) and the view keeps inconsistent. We could display a loader until the data has been loaded or not properly and then show the data or the empty prompt.
@kevinlog let me know if this needs to be done for 7.14.0 or just tag this for 7.14.1

[2021-07-29 11:39] elasticmachine commented on #107068
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-29 11:46] elasticmachine commented on #107109
Pinging @elastic/apm-ui (Team:apm)

[2021-07-29 11:47] elasticmachine commented on #83386
Pinging @elastic/siem (Team:SIEM)

[2021-07-29 11:47] elasticmachine commented on #83386
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-29 11:48] elasticmachine commented on #107142
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-07-29 11:53] banderror commented on #107068
Yes, this shouldn't be a big issue. These custom SOs will be replaced by documents in `event_log` (see https://github.com/elastic/kibana/issues/101013), and migrations/fallbacks to the SOs are not required (https://github.com/elastic/kibana/issues/101013#issuecomment-879314491).

However, I think this can still be a problem for execution events in `event_log`. They will still need to reference rul

[2021-07-29 11:56] timroes opened #107145 "API doc generation removes children when function is optional"
There seems to be some edge-cases when generating the API docs, that are causing the `children` object in the output to vanish if the function itself is optional. See https://github.com/elastic/kibana/pull/107128/files for an example where this happened.

[2021-07-29 11:56] elasticmachine commented on #107145
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-29 11:57] ymao1 commented on #107068
@banderror Yes! We are doing the research for the event log association in this issue: https://github.com/elastic/kibana/issues/100666

[2021-07-29 12:07] jasonrhodes commented on #86441
Refinement update: ML tabs are not using async search.

[2021-07-29 12:11] jasonrhodes commented on #76511
Refinement update: @Kerry350 mentioned that @gmmorris and possibly @MikePaquette may have context on how we could help with a fix for this at the framework level, or something similar. We will check with them.

[2021-07-29 12:16] jasonrhodes commented on #76511
Refinement note: This is different than the absolute "no data" scenario (no data at all), it applies to groups because you don't know what groups are supposed to be there to know which ones disappeared.

Should we query alerts as data for this?

[2021-07-29 12:21] kibanamachine commented on #103389
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.14/178/)

[2021-07-29 12:22] jasonrhodes commented on #39575
Refinement update: we should update this description to reflect the AC we want to do right now, based on what's going on with event/log original values.

[2021-07-29 12:31] jasonrhodes commented on #20662
Related: https://github.com/elastic/kibana/issues/20662

Refinement update: We should combine into a single ticket.

[2021-07-29 12:31] muskangulati-qasource commented on #106385
Hi @MadameSheema,

We have validated this issue on 7.14.0-BC5 and found that we are getting the information to upgrade the license.

Please find below the testing details:

**Build details**:
[code]

**Screenshot**:
![Jira](https://user-images.githubusercontent.com/60252716/127483053-0d423c13-e09d-44a7-85c2-4824646451f8.JPG)

Please let us know if you want us to validate any other scenario too wit

[2021-07-29 12:31] muskangulati-qasource commented on #106386
Hi @MadameSheema,

We have validated this issue on 7.14.0-BC5 and found that we are getting the information to upgrade the license.

Please find below the testing details:

**Build details**:
[code]

**Screenshot**:
![IBM](https://user-images.githubusercontent.com/60252716/127483143-d2a428a8-1a3a-49d5-a004-fa236a9249b0.JPG)

Please let us know if you want us to validate any other scenario too with

[2021-07-29 12:31] muskangulati-qasource commented on #105749
Hi @XavierM,

We tested this ticket on 7.14.0-BC5 and found that the issue is fixed for 02 mac versions but exists for 01 mac version(

Please find below the testing details:

**Build Details**:
[code]

**Screenshot**:
- 11.0.1
![M2](https://user-images.githubusercontent.com/60252716/127484900-2d5ed4a2-9086-44fe-8632-8087fd85c3bf.JPG)
- 10.15.7
![M1](https://user-images.githubusercontent.com/60252

[2021-07-29 12:32] muskangulati-qasource commented on #106387
Hi @dasansol92,

We have validated this issue on 7.14.0-BC5 and found that the issue is now fixed.

Please find below the testing details:

**Build details**:
[code]

**Screenshot**:
- Event Filtering flyout:
![1](https://user-images.githubusercontent.com/60252716/127483386-751891a5-7b68-446f-8048-6966806b33ca.JPG)

- Event Filtering tab:
![2](https://user-images.githubusercontent.com/60252716/127

[2021-07-29 12:32] #106387 closed

[2021-07-29 12:32] MadameSheema commented on #106386
Thanks @muskangulati-qasource :)

[2021-07-29 12:32] #106386 closed

[2021-07-29 12:33] MadameSheema commented on #106385
Thanks @muskangulati-qasource :)

[2021-07-29 12:33] #106385 closed

[2021-07-29 12:36] vipulsrivastava-qasource commented on #106671
Hi @jen-huang and @kpollich

This issue is also occurring when adding integration from policy page.

Please find build and testing details.

[code]

**Screen Recording**

https://user-images.githubusercontent.com/69579402/127438936-721a555b-5e75-4240-8dbe-d270f2a4ec8c.mp4

Thanks!!

[2021-07-29 12:36] elasticmachine commented on #103016
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-07-29 12:36] elasticmachine commented on #103016
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-29 12:37] jasonrhodes commented on #53131
Refinement update: this would be nice to have but it's not clear which way is the best way to change this default message, and changing it won't "filter out the noise"

We should discuss whether we should include these types of "logs" (which are more like metrics) out of this view altogether, or give the user the option to do this.

[2021-07-29 12:37] elasticmachine commented on #103016
Pinging @elastic/kibana-security (Team:Security)

[2021-07-29 12:37] elasticmachine commented on #103016
Pinging @elastic/apm-ui (Team:apm)

[2021-07-29 12:39] ymao1 commented on #83910
PR for last alerting test: https://github.com/elastic/kibana/pull/107152

[2021-07-29 12:40] jasonrhodes commented on #47477
Refinement update: we no longer need to put the space ID in the index name, but we need to make sure we understand how to query with backwards compatibility, if we remove that.

[2021-07-29 12:44] jasonrhodes commented on #69156
Refinement update: if we want to go this way, we should investigate a way to create a focused rule type to do this. The more things we put in one rule type, the more performance issues and bugs we introduce.

[2021-07-29 12:45] #69156 closed

[2021-07-29 12:47] jasonrhodes commented on #66368
@katrin-freihofner do you have an opinion on this? (we can change it, but I want to make sure we change it the "right way")

[2021-07-29 12:47] jasonrhodes commented on #66368
@elastic/logs-ui can we add an up to date screenshot and ask design if they're ok with our proposed solution?

[2021-07-29 12:48] nchaulet opened #107154 "[Fleet] Missing migration"
## Description

When we introduced `install_version` and `install_source`  on the package policy saved object we missed the migration, we should probably provide it.

Currently we can fix that by running that workaround:
[code]

[2021-07-29 12:48] elasticmachine commented on #107154
Pinging @elastic/fleet (Team:Fleet)

[2021-07-29 12:51] jasonrhodes commented on #71851
@darnautov is this still a valid thing we could do? Gauging whether to keep this open or not, it sounds simple but we are not sure if this is still something wanted or if it would still work. Thanks!

[2021-07-29 12:58] formgeist commented on #106851
The latest release of the charts library is available in Kibana as per https://github.com/elastic/kibana/pull/106200

[2021-07-29 13:02] wayneseymour commented on #102552
@tylersmalley Are we doing this as I like this, perhaps naively :)

[2021-07-29 13:07] legrego commented on #103016
Removing `Team:Security` since I think we've already addressed our owned plugins (I don't see any in the list above)

[2021-07-29 13:10] elasticmachine commented on #103016
Pinging @elastic/kibana-core (Team:Core)

[2021-07-29 13:10] stacey-gammon commented on #103016
@legrego is `./x-pack/plugins/licensing/kibana.json` and `license_management` not your team?

[2021-07-29 13:10] elasticmachine commented on #103016
Pinging @elastic/kibana-gis (Team:Geo)

[2021-07-29 13:11] elasticmachine commented on #103016
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-29 13:15] legrego commented on #103016
We don't own any of those. If CODEOWNERS is accurate:
- `licensing` is @elastic/kibana-core
- `license_management` is @elastic/kibana-stack-management
- `dashboard_mode` is @elastic/kibana-presentation

[2021-07-29 13:18] mdefazio commented on #106758
Here's an attempt to clean up this UI based on the above comments.
I have limited insight into this view overall...and even moreso into the feature privileges themselves. So happy to update this if these changes don't reflect the functionality.

I was unsure about the value of the checkbox for 'Run saved queries only' and it's connection to Live queries (and not Saved queries).  So I think the pla

[2021-07-29 13:21] nchaulet opened #107160 "[Fleet] Make the preconfigure service more robust"
## Description

Sometime we are creating default policies without any inputs, this happen as we only install packages when we create the policy, if any call to the registry fail this will result in  a policy without any input

## How to reproduce

* from a fresh Kibana and ES instance
* in your kibana.dev.yml add `# xpack.fleet.registryUrl: 'http://localhost:9999' to make the calls to the package

[2021-07-29 13:21] elasticmachine commented on #107160
Pinging @elastic/fleet (Team:Fleet)

[2021-07-29 13:22] jonathan-buttner commented on #105749
Hey @nfritts sorry for the late reply. Do you have a system that you're seeing the issue on still up? This problem could happen if there are any cycles in the process chain not just within a single event/alert. Do you still have the system up where you were able to reproduce the issue?

[2021-07-29 13:26] chrisronline opened #107161 "Research approach for RAC when making rules and connectors share-capable"
Related to https://github.com/elastic/kibana/issues/100067

In 8.0, we plan to run a migration that removes the namespace from the saved-object serialized ID. To do so, new rule and connector IDs will be generated. With this issue, we should research the impacts this will have on the RAC "alerts as data" when documents reference old rule or connector IDs, draft a proposal and work / discuss with t

[2021-07-29 13:28] elasticmachine commented on #107161
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-07-29 13:28] elasticmachine commented on #107161
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-07-29 13:29] legrego commented on #106758
@mdefazio thanks for taking the time to clean up the design! I left a couple of comments within the Figma, but happy to discuss in person if that would be helpful

[2021-07-29 13:42] daronzwink commented on #8817
Having custom label support for filter aggregation would be much needed for us. Right now, it always shows "filters"

[2021-07-29 13:50] ferullo commented on #105749
Can you share the alert json for the alert that won't render?

[2021-07-29 14:02] jonathan-buttner commented on #105749
The alert looks like it has a valid entity id and parent entity id but the matching process start and end events have the same entity id and parent entity id.

@muskangulati-qasource confirmed the agent and endpoint version info:

[code]

<details><summary>Originating alert</summary>

[code]

</details>

<details><summary>Event with duplicate entity id and parent entity id</summary>

**entity id**

[2021-07-29 14:07] katrin-freihofner commented on #66368
@jasonrhodes @weltenwort stacking the form sounds good to me 👍

[2021-07-29 14:08] ymao1 commented on #58366
@mdefazio Can you create a new issue for your comment?

[2021-07-29 14:10] thompsongl commented on #106931
@cchaos Have we worked with any teams on code editor designs?

[2021-07-29 14:11] ymao1 commented on #58734
Closing as this looks like a dev only issue and there has been no activity for a long time.

[2021-07-29 14:11] #58734 closed

[2021-07-29 14:14] ymao1 commented on #58780
@XavierM Is this issue still a relevant requirement?

[2021-07-29 14:14] cchaos commented on #106931
I'll check in with @ryankeairns and his team, but no there hasn't been any designs done for a code editor that I know of. Since this lives in Kibana, it makes sense for the Kibana Design team to handle this one and may be a good on-boarding task but would likely need a team or person to pair with a designer to implement changes.

[2021-07-29 14:19] elasticmachine commented on #59363
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-29 14:19] ymao1 commented on #59363
cc @arisonl

[2021-07-29 14:21] jonathan-buttner opened #107168 "[Security Solution][Analyzer] Protect against cycles in the process tree"
If the endpoint sends cycles in the process tree this will result in a recursive call stack overflow in the frontend. The backend also produces undesirable behavior by returning the same events potentially hundreds of times.

For more background on this issue see here: https://github.com/elastic/kibana/issues/105749

We probably need the following improvements:

**Frontend**
- The recursive functi

[2021-07-29 14:21] elasticmachine commented on #107168
Pinging @elastic/security-threat-hunting (Feature:Resolver)

[2021-07-29 14:21] elasticmachine commented on #107168
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-07-29 14:25] #59696 closed

[2021-07-29 14:27] zanbel opened #107170 "[APM] Update text instructing users to enable APM in cloud hosted deployments"
In an Elastic Cloud hosted deployment, when navigating to APM set up instruction and APM is not enabled, the text in the guide can be updated to better instruct users how to enable APM and Fleet.

- Title:
Instead of: "Enable the APM Server in the ESS console".
Use: "Enable the APM Server in the Elastic Cloud user console".
- Description:
Instead of: "To enable the APM Server go to the [Elastic Cl

[2021-07-29 14:27] elasticmachine commented on #107170
Pinging @elastic/apm-ui (Team:apm)

[2021-07-29 14:35] ymao1 commented on #60157
@YulNaumenko Is this still a relevant issue?

[2021-07-29 14:37] banderror commented on #107161
Is it already possible to reference rules and connectors using the new SO ids (which don't include namespace)?

Since alerts-as-data documents are not released yet (so these are not existing objects which would require some sort of migration), what we could do is we could use the new SO ids when writing alerts, so there’s nothing to break and migrate in the future (data-wise). We would need to be

[2021-07-29 14:37] ghudgins commented on #77530
discussions from sync:
 - we should align the line/area stroke format across timelion / TSVB / lens (gray, solid stroke until @markov00 tells us otherwise)
 - time can be "global" with regard to highlighting across different index patterns on a dashboard
 - non-time fields are data / index pattern specific with regard to highlighting

[2021-07-29 14:38] ruflin commented on #107154
What affect does this missing migration have on existing users?

[2021-07-29 14:39] ymao1 commented on #60408
Duplicate of https://github.com/elastic/kibana/issues/59892

[2021-07-29 14:39] #60408 closed

[2021-07-29 14:39] ymao1 commented on #59892
Comment from duplicate issue:

There is some overlap between alerting and triggers_actions_ui and we should concentrate the client side APIs of the framework itself under the alerting plugin.

For example, there are two alert_api.ts across both plugins, and they can be merged (they aren't exactly the same, but could reside together).

[2021-07-29 14:44] kertal commented on #105312
for sure this is a flaky one, since the screen is showing it's loading, but it's not finished

![image](https://user-images.githubusercontent.com/463851/127512875-1a33f5a3-dc52-4e48-8cf6-f8600e0fbbe8.png)

[2021-07-29 14:45] #78277 closed

[2021-07-29 14:46] Bamieh opened #107172 "Kibana Dashboard top menu position changes when embedding in iFrame"
**Describe the feature:**

When embedding a dashboard in an iFrame, with `top menu` option selected:

![image](https://user-images.githubusercontent.com/6191849/127504880-ff2eceea-2055-45d4-9c2e-7eb14f2dc2ab.png)

The dashboard has the menu aligned to the right ("Full Screen", "Share", "Clone" and "Edit" options):

![image](https://user-images.githubusercontent.com/6191849/127504814-b5e87907-c871-

[2021-07-29 14:46] elasticmachine commented on #107172
Pinging @elastic/kibana-core (Team:Core)

[2021-07-29 14:47] mdefazio commented on #106758
After chatting with @legrego , here's an updated mockup:

**Updates:**
- Removed description: We felt this could provide some value, but had concerns as to how this scales and is maintained.
- Changed icon next to feature to `controlsHorizontal` so it's less like an error or warning, and simply an indication that settings are modified from the default
- Changed switch to checkbox (since this will

[2021-07-29 14:49] smith commented on #107170
The link was fixed in #104779 and will be shipped in 7.14.0. Leaving this open for the other text items, but @zanbel could you please update the issue description?

[2021-07-29 14:56] ymao1 commented on #62002
@FrankHassanabad @yctercero Is a tie breaker field still needed given the changes to the core's `SavedObjects.find` api detailed in https://github.com/elastic/kibana/issues/62002#issuecomment-783723717?

[2021-07-29 14:59] ymao1 commented on #62303
Closing as we'd prefer to receive requirements rather than speculating what might be needed.

[2021-07-29 14:59] #62303 closed

[2021-07-29 15:04] jen-huang opened #107179 "[Fleet] Clean up legacy `elasticsearch` imports"
There are two remaining `elasticsearch` imports in Fleet:
https://github.com/elastic/kibana/blob/e1e93eb1329acbba72d366fed63602e479684e41/x-pack/plugins/fleet/server/errors/handlers.ts#L10

https://github.com/elastic/kibana/blob/e1e93eb1329acbba72d366fed63602e479684e41/x-pack/plugins/fleet/server/errors/handlers.test.ts#L9

These should be removed or replaced with types from `/src/core/types/elast

[2021-07-29 15:04] elasticmachine commented on #107179
Pinging @elastic/fleet (Team:Fleet)

[2021-07-29 15:12] jen-huang commented on #107154
@ruflin Users who tried Fleet early will encounter errors when attempting to view integrations they've installed <= Kibana 7.9.

We did actually have a migration function for this, but was never called 😬 https://github.com/elastic/kibana/blob/75fd626c7aa2d3d4d8c874b600e982853c84c57f/x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_10_0.ts#L131

@nchaulet What do you think of moving the m

[2021-07-29 15:13] jportner commented on #107161
Unfortunately this is not possible. We plan to use `uuidv5` to deterministically regenerate existing object IDs in the 8.0 release:
https://github.com/elastic/kibana/blob/05616481564986d7f18cfbcefeba93887a9d04fe/src/core/server/saved_objects/migrations/core/document_migrator.ts#L856
However, that uses SHA1 hashing, there is no way to invert that.

You _could_ predict what the new ID will be, and s

[2021-07-29 15:13] LeeDr commented on #58796
This still fails on master.

July 13th 2021, 10:39:09.393 | - | master | FAILURE x-pack/test/api_integration/apis/metrics_ui/snapshot·ts apis MetricsUI Endpoints waffle nodes 6.6.0 should basically work | Build » | estf-cloud-kibana-tests/JOB=xpackExtGrp1,TASK=saas_run_kibana_tests,node=ess-testing | dkSGoHoB0jlsf6nhNYKP
-- | -- | -- | -- | -- | -- | --

  | July 12th 2021, 01:36:33.593 | - | mast

[2021-07-29 15:15] afgomez commented on #67976
This doesn't happen anymore. Closing as fixed

[2021-07-29 15:15] #67976 closed

[2021-07-29 15:17] nchaulet commented on #107154
I think moving that migration is not good enough we missed the `install_version` field in the migration, so we are probably better with a new migration that populate both field if there are not present (`install_version` and `install_source`)

[2021-07-29 15:19] afgomez commented on #66368
@jasonrhodes I've updated the screenshot with how it looks place inside a flyout.

[2021-07-29 15:24] afgomez commented on #66368
@katrin-freihofner et al., I did a quick test with the devtools. This is how it would look like

<img width="1396" alt="Screenshot 2021-07-29 at 17 22 06" src="https://user-images.githubusercontent.com/57448/127519808-06e9a531-fc1d-4cdc-9a7b-233b2294d80e.png">
<img width="544" alt="Screenshot 2021-07-29 at 17 24 16" src="https://user-images.githubusercontent.com/57448/127519812-ce241869-de93-480e-

[2021-07-29 15:38] intxgo commented on #106663
`code_signature` contains the primary signature, whilst `Ext.code_signature` contains an array with all code signatures (the primary and any secondary signatures). Obviously we should never see a case not to have a primary signature but have some secondary signatures (technically secondary signatures are attached as a metadata to the primary signature). Now the `{"exists": false}` was already ther

[2021-07-29 15:41] #100920 closed

[2021-07-29 15:41] #101574 closed

[2021-07-29 15:43] ferullo commented on #106663
But even the `code_signature` value (not `Ext.code_signature` contains just `{"exists": false}` as seen in this screenshot.

https://github.com/elastic/kibana/issues/106663#issuecomment-887264324

for this data I wonder why `code_signature` is there at all. Should it be? Is that how unsigned binaries are reported? Or is it an Endpoint bug?

[code]

[2021-07-29 15:45] intxgo commented on #106663
I think I may have an idea what it was useful for, I guess this `exists` boolean was convenient or was needed for filterlib, this may be the case of suppressing alerts. But yes, that's how they are reported.

[2021-07-29 15:49] ferullo commented on #106663
👍 Thanks @intxgo . In that case it sounds like Endpoint is working as designed.

@peluja1012 is this something Kibana can work around?

[2021-07-29 15:58] #106222 closed

[2021-07-29 16:02] #106567 closed

[2021-07-29 16:09] neptunian commented on #104094
Would be good to have the prototype.  The legend icon is also not in the screenshot.

[2021-07-29 16:15] daronzwink commented on #26737
This would be great to have support for.

[2021-07-29 16:17] shaunmcgough opened #107194 "[Discover] Change New Table field header from caret / chevron to a drawer / sandwich"
Currently, the menu for a field in the header of the New Table is a caret / chevron. We should change this to a drawer / sandwich icon.

<img width="235" alt="image" src="https://user-images.githubusercontent.com/6256687/127527886-2dd4b208-527d-4393-80ce-887096272f8e.png">

In this screenshot, it's the down caret / chevron on the right.

[2021-07-29 16:17] elasticmachine commented on #107194
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-07-29 16:22] #89704 closed

[2021-07-29 16:25] #106434 closed

[2021-07-29 16:25] peteharverson commented on #107043
This should have been addressed with the stability fixes on the tests for the content in the tabs in the expanded rows in the Transforms table included in https://github.com/elastic/kibana/pull/106990 (no failure in 3 x 50 runs of flaky test runner job).

[2021-07-29 16:25] #107043 closed

[2021-07-29 16:30] kertal commented on #107194
This is provided by EUIDataGrid, so it would be a feature request in the EUI repo.

[2021-07-29 16:36] oatkiller opened #107202 "When trying to setup Elastic Agent, the Fleet UI will ask you to add "xpack.security.authc.api_key.enabled: true" to your Kibana config. After doing so, Kibana will not be able to start."
**Kibana version:**
Built from master (using developer setup)

**Elasticsearch version:**
Nightly snapshot  (using developer setup)

**Server OS version:**
Mac OS 11.4

**Browser version:**
Chrome 92.0.4515.107

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**
Built using developer setup instructions

**Describe the bug:**
When trying to setup Elas

[2021-07-29 16:54] mikecote opened #107203 "Migrate actions JSON editor to use the monaco-based editor"
`x-pack/plugins/triggers_actions_ui/public/application/components/json_editor_with_message_variables.tsx` uses the deprecated `EuiCodeEditor` component, which is slated for removal in the `7.16` timeframe.

Deprecation notice: https://github.com/elastic/eui/issues/3807
Meta issue: https://github.com/elastic/kibana/issues/106931

[2021-07-29 16:54] elasticmachine commented on #107203
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-07-29 17:04] nchaulet commented on #107202
Hi @oatkiller the config for API key should be added to the elasticsearch config not the kibana one.
Looks like you are using Kibana from sources I personally run Elasticsearch like this for Fleet
[code]

[2021-07-29 17:19] mostlyjason commented on #102816
Another use case is that an integration package can define whether an input is beta or not. This means the badge we show should be the minimum of the integration package release status and the elastic agent input release status.

![image](https://user-images.githubusercontent.com/6370704/127536377-60500dc0-6a22-456a-90a4-db455c208852.png)

[2021-07-29 17:27] weltenwort commented on #58796
The circuit breaking exception looks like the ES instance doesn't have enough memory to execute the query. How is the cloud instance different from the one used in CI?

(pinging @elastic/metrics-ui)

[2021-07-29 17:53] stacey-gammon commented on #107145
Confirmed the bug with a test. Now to figure out why.

[code]

[2021-07-29 17:58] #107202 closed

[2021-07-29 17:58] weltenwort commented on #107142
@yctercero @dhurley14 could you help us figure out what might be the problem here?

[2021-07-29 18:01] alisonelizabeth opened #107215 "Stack Management EuiCodeEditor migration"
# Summary

Per https://github.com/elastic/kibana/issues/106931, the `EuiCodeEditor` is being deprecated and we need to migrate any usage in our apps to the Monaco-based [`CodeEditor` component](https://github.com/elastic/kibana/tree/master/src/plugins/kibana_react/public/code_editor).

## Plugins

### ES UI shared

- [x] src/plugins/es_ui_shared/public/components/json_editor/json_editor.tsx - Conv

[2021-07-29 18:01] elasticmachine commented on #107215
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-07-29 18:01] alisonelizabeth commented on #99732
Closing this in favor of https://github.com/elastic/kibana/issues/107215.

[2021-07-29 18:01] #99732 closed

[2021-07-29 18:12] dhurley14 commented on #107142
@mgiota @weltenwort Definitely. Can you export and post the JSON representation of the role for the user? It will be easier to determine exactly which privileges are missing if we see the full role.

[2021-07-29 18:19] alisonelizabeth commented on #59363
Hi @ymao1! Is the screenshot above (License Management) the only place where the terminology should change, or are there other instances within the apps the Kibana stack management team owns that need to be addressed?

[2021-07-29 18:24] LeeDr commented on #58796
Hmm, I'm confused if this test changed from;
`x-pack/test/api_integration/apis/infra/waffle.ts`

to;
`x-pack/test/api_integration/apis/metrics_ui/snapshot.ts`

I'm not finding any file named waffle.ts in master but the recent failure that looks similar is in that `snapshot.ts` file.

[2021-07-29 18:30] mattkime opened #107220 "[index patterns] Removal of IIndexPattern type"
The `IIndexPattern` type is too ambiguous - either `IndexPattern` or `IndexPatternBase` should be used instead.

Please feel free to reach out to @elastic/kibana-app-services if there's any difficulty in making this change.

[elastic/kibana-app-services]
- [ ] src/plugins/data/public - do after all others are resolved
- [x] examples/state_containers_examples https://github.com/elastic/kibana/pull/

[2021-07-29 18:32] ymao1 commented on #59363
I am honestly not sure! I tagged @arisonl so he can weigh in on where there might be other places in Kibana where Alerting is incorrectly used to reference Watcher.

[2021-07-29 18:53] cauemarcondes commented on #106851
@formgeist the legend's shape automatically changed to square.

<img width="1486" alt="Screen Shot 2021-07-29 at 14 51 12" src="https://user-images.githubusercontent.com/55978943/127549684-0f2f2e14-6356-4cf3-b7a4-c1573d2888b5.png">

Do you want to add the same style as the ticks? PS: I'm not sure if it is possible.

[2021-07-29 18:56] mikecote commented on #58244
I chatted with @tylersmalley on this topic. I'll leave these notes for whenever we pick this up.

It sounds like supporting this isn't too complex from an operations perspective. We need to find a way to connect credentials in the vault to our connectors and create a pipeline to periodically run the tests (nightly, on PRs when code in folder X changes, etc.).

[2021-07-29 18:56] pmuellr commented on #61998
I believe to implement this, we'll need to move to a more elaborate Slack API, as the one we use is pretty bare-bones. Keep in mind you can always refer to a person or channel via `@person` or `#channel` in the message itself, but there's a different way to be able to target a message to a specific person/channel directly.

And I believe we'd be moving to a Slack API that can support this, when we

[2021-07-29 18:58] rylnd commented on #83910
A few of the type imports were non-trivial in our plugins, so I tackled these in a separate PR, which removes those legacy imports for both list and security_solution. Hopefully that doesn't step on anyone's toes 😬 : https://github.com/elastic/kibana/pull/107226

[2021-07-29 19:03] #62221 closed

[2021-07-29 19:17] ymao1 commented on #100667
Rules with pre-defined IDs can be created one of two ways:
1. In a Kibana plugin via direct access to the rules client `create` function by specifing an `id` parameter in the `options`
2. Using the Alerting API by specifying an `id` parameter in the request

Reviewing the internal usages of both, there are currently no plugins that are creating rules with a pre-determined rule id. This leave poten

[2021-07-29 19:31] LeeDr commented on #58244
We have some tests in a private integration-test repo that are semi-automated.  For example, a watch that emails PDF and PNGs of a dashboard and we (QA team) visually check those emails.

[2021-07-29 20:13] stacey-gammon opened #107233 "Improve DX: auto-fix unused imports"
I'm not sure how difficult this would be to implement, and it takes a _small_ amount of time to remove those unused imports, but over the long haul, I think having this auto-fixed would really add up in time saved.

[2021-07-29 20:13] elasticmachine commented on #107233
Pinging @elastic/kibana-operations (Team:Operations)

[2021-07-29 20:18] mattkime opened #107235 "[index patterns] Removal of IFieldType type"
The `IFieldType` type is too ambiguous - either `IndexPatternField` or `IndexPatternFieldBase` should be used instead. You probably want `IndexPatternField` - its the class representation of a field. `IndexPatternFieldBase` is a simplified static version that primarily exists to be passed into a query.

Please feel free to reach out to @elastic/kibana-app-services if there's any difficulty in maki

[2021-07-29 20:23] tsullivan opened #107238 "[Reporting/Docs] Review the content changes made in #106184"
PR #106184 brought in content changes to the listing of reports in Stack Management > Reporting.

This issue is to track that the content changes are reviewed by a content writer in the @elastic/kibana-docs team .

[2021-07-29 20:24] #100363 closed

[2021-07-29 20:24] #106154 closed

[2021-07-29 20:28] pmuellr commented on #58244
Ya, I think we probably have an option of doing this via FT somehow (that doesn't run all the time), or the private integration test repo.  We can defer on picking one of those right now, and decide on which is best once we start working on the issue.

[2021-07-29 20:30] elasticmachine commented on #107238
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-07-29 20:30] elasticmachine commented on #107238
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-07-29 20:38] pmuellr commented on #58035
I don't _think_ we want to change the event log to a system index - they are more constrained than hidden indices.  And I'm worried, like Gidi, that since we're now using these indices for diagnostic purposes with users, we'll need to make sure they can still use these in ways we'd like them to be used.  For example, you should be able to create a Kibana index pattern for the event log, and then c

[2021-07-29 20:40] ymao1 commented on #100667
With https://github.com/elastic/kibana/issues/99741, security solutions is investigating the possibility of using a migration to use the static rule id as the rule saved object id. Assuming they are successful with this migration, what would be the implications of changing the `alert` SO to share-capable?

Current, security rules assign a separate `rule_id` field to each detection rule. This is ge