[2021-08-30 14:46] crob611 opened #110487 "[Canvas] Deleting first page breaks workpad"
**Kibana version:**
7.14.0

Deleting the first page of a workpad set the "active" page to 0 which causes problems.

[2021-08-30 14:46] elasticmachine commented on #110487
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-30 14:52] ravikesarwani commented on #79458
cc: @sayden

[2021-08-30 14:56] #110166 closed

[2021-08-30 15:04] jportner commented on #110423
The `ECONNREFUSED` is suspect. Looking at the logs, there are a ton of these messages
[code]
which indicate a transient failure / Jenkins problem, not a problem with this test.

I'll close this and investigate again if it reopens.

[2021-08-30 15:04] #110423 closed

[2021-08-30 15:10] #67525 closed

[2021-08-30 15:11] legrego opened #110492 "[Discuss] - Move Spaces functionality into `core`"
Spaces was first introduced in the `6.5` release as a free x-pack feature. It then became part of the `default` distribution when we distinguished between the two different build flavors.

Now that we only ship a single distribution, the Spaces plugin, and therefore its features, are always available. Furthermore, it will not be possible to disable the Spaces feature in the `8.0` release.

Given t

[2021-08-30 15:11] elasticmachine commented on #110492
Pinging @elastic/kibana-core (Team:Core)

[2021-08-30 15:11] elasticmachine commented on #110492
Pinging @elastic/kibana-security (Team:Security)

[2021-08-30 15:15] michaelolo24 commented on #108165
I was unable to reproduce this on master. Can you retest @karanbirsingh-qasource ?

[2021-08-30 15:17] kpollich commented on #109907
Sure. Here's a branch - it should be the same as your PR linked earlier: https://github.com/elastic/kibana/pull/110493

[2021-08-30 15:21] #109606 closed

[2021-08-30 15:23] elasticmachine commented on #110453
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-30 15:23] elasticmachine commented on #110453
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-30 15:24] jportner commented on #110492
With the introduction of #67644 and #109967, I'm not sure how we could remove the Spaces SOC wrapper in its current incarnation, since there are certain things we expect to be completed before the call to the Security SOC wrapper is made.

Perhaps #102957 could enable us to truly remove the Spaces SOC wrapper (depending on how it is implemented).

[2021-08-30 15:25] legrego commented on #108757
Other plugins (such as `security`) rely on the task manager, so disabling all tasks could end up causing other issues if we're not careful here.

---

I saw a user's configuration today that was taking advantage of `xpack.actions.enabled: false` in order to disable alerting features on a subset of their Kibana instances (other instances attached to the same `.kibana` index still had alerting enabl

[2021-08-30 15:28] #108742 closed

[2021-08-30 15:35] MadameSheema commented on #108889
@karanbirsingh-qasource can you please check the fix of this issue on 7.15BC3? Thanks

[2021-08-30 15:39] bradenlpreston commented on #105546
Question - is that a `.` in the word `computer.s` should it be `computer's` ?

[2021-08-30 15:40] #108904 closed

[2021-08-30 15:41] joshdover commented on #107020
While the logic for this has been fixed correctly, it seems this new logic is taking anywhere from 1-5s in my testing on Cloud. We currently have logic that skips showing this interstitial if the request takes more than 500ms to avoid blocking this UI. I propose increasing this timeout to 10s for the following reasons:
- Once a user is shown this UI once, we skip making this query in the first pla

[2021-08-30 15:47] MadameSheema commented on #99760
@deepikakeshav-qasource can you please check if this issue is still valid on 7.15BC3? Thanks

[2021-08-30 15:47] #95804 closed

[2021-08-30 15:49] MadameSheema commented on #110267
@karanbirsingh-qasource can you please validate this on 7.15BC4? Thanks

[2021-08-30 15:50] MadameSheema commented on #110043
@deepikakeshav-qasource can you please validate this ticket on 7.15BC4? Thanks

[2021-08-30 15:53] xcrzx opened #110499 "[RAC] [Rule Registry] Duplicated documents written after index bootstrapping"
**Parent ticket: https://github.com/elastic/kibana/issues/101016**

## Summary

When I am trying to mass write into uninitialized Rule Registry indices, some documents get duplicated.

### Steps to reproduce

1. Add a code snippet that writes 100 documents in parallel, e.g.:

[code]
2. Make sure indices and index templates do not exist yet. The issue seems to be reproducible only when namespace le

[2021-08-30 15:53] elasticmachine commented on #110499
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 15:53] elasticmachine commented on #110499
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-30 15:57] MadameSheema commented on #108917
@karanbirsingh-qasource @deepikakeshav-qasource can you please one of you check the broken button placement Exit Full screen? If the issue is fixed, can you please open a separate ticket with the mentioned enhancements? Thanks :)

[2021-08-30 15:58] legrego commented on #110492
Could we potentially have the security plugin expand the `*` into the set of authorized spaces? It won't be possible to disable spaces in the future, so we won't have to distinguish between those two scenarios anymore

[2021-08-30 15:59] joshdover opened #110500 "[Fleet] Improve performance of Fleet setup API / package installation"
We need to improve and continue to monitor the performance of the `/api/fleet/setup` endpoint. This API can take upwards of 40s, even on a local environment. More details TBD.

Related to #109072

[2021-08-30 15:59] elasticmachine commented on #110500
Pinging @elastic/fleet (Team:Fleet)

[2021-08-30 16:01] #103472 closed

[2021-08-30 16:02] MiriamAparicio commented on #110204
Check also the Backed page, we can add the "Loading..." message that is currently missing
![image.png](https://zube.io/files/elastic/ac91a3d95f6db70d7d2149c37e02292d-image.png)

[2021-08-30 16:06] mikecote commented on #110135
It should be fairly easy to make the alerting framework provide such uuid (PRs welcome! 🙂). I think adding some code [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/alerting/server/task_runner/task_runner.ts#L275-L312) is all that is necessary.

At the same time, if you want to add alert uuids to the framework (to align with alert as data ids), it can be done in [this](https://

[2021-08-30 16:07] jportner commented on #110492
I suppose we could, but then if the Security plugin is disabled, any "orphaned" saved objects (with a `namespace/s` field for a space that does not exist) would be returned for a search. It's admittedly an edge case, but I hope we could avoid it.

[2021-08-30 16:09] ymao1 commented on #109916
@elastic/kibana-security

Do you have a strong opinion about using or not using ROPC OAuth as a stepping stone implementation toward full Authorization Code Flow OAuth?

[2021-08-30 16:17] kibanamachine opened #110503 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/preserve_url·ts - discover preserve url remembers url after switching spaces"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16659/)

[2021-08-30 16:24] semd commented on #110043
@deepikakeshav-qasource @MadameSheema Not fixed yet. It will be when https://github.com/elastic/kibana/pull/110464 is merged

[2021-08-30 16:34] kpollich commented on #109907
Here's something that might be useful. I was able to reproduce errors when attempting to upgrade a policy from APM `0.3.0` to `0.4.0` through our new automated upgrade process. I produced these errors:

[code]

Throwing an error in this case results in an upgrade form that's "stuck", however, because the user can't actually edit the underlying policy to exclude these fields.

![image](https://user

[2021-08-30 16:45] kpollich commented on #109907
I implemented the above debug change to the validation process in https://github.com/elastic/kibana/pull/110505. I think this addresses the initial issue raised by the PR, and also fixes the automatic upgrade process for APM `0.3.0` -> `0.4.0`.

[2021-08-30 16:46] elasticmachine commented on #110503
Pinging @elastic/kibana-app (Team:KibanaApp)

[2021-08-30 16:57] smith opened #110507 "Request inspector dropdown cuts off with too many entries"
In #109696 we're enabling the inspector panel for APM. Some of these pages have large numbers of requests, so much so that the selection popover on the requests inspector cuts off many of these items.

The [RequestSelector](https://github.com/elastic/kibana/blob/f7db5592e437c201c0a814090ad024e2ccbb7fea/src/plugins/inspector/public/views/requests/components/request_selector.tsx) implements this as

[2021-08-30 16:57] elasticmachine commented on #110507
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-30 17:05] dplumlee opened #110508 "[Security Solution] Preconfigured action connectors are breaking on the rule creation page"
### Overview
Currently the action connector on the rule creation page is breaking when a user tries to select a [preconfigured action](https://www.elastic.co/guide/en/kibana/current/email-action-type.html#email-connector-configuration) such as an email. This bug seems to be occurring in the front end and is currently blocking the valid submission of preconfigured action connectors. Tests also need

[2021-08-30 17:05] elasticmachine commented on #110508
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 17:05] elasticmachine commented on #110508
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-30 17:07] th0ger opened #110509 "[Canvas] `switch` function skips `case` statements"
**Kibana version:** 7.14.0

**Describe the bug:**
The `switch` statement in Canvas is broken after upgrading to `7.14.0`.
It seems that if the first `case` is not matched, the `switch` statement jumps over all other `case`s, and returns the `default` statement.

**Steps to reproduce:**
[code]
returns
`{ "text": "default" }`

**Expected behavior:**
`{ "text": "case2" }`

**Any additional context:**

[2021-08-30 17:16] kibanamachine opened #110510 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts - discover feature controls discover feature controls security discover and visualize privileges "before all" hook for "shows the visualize button""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16660/)

[2021-08-30 17:26] cjcenizal commented on #109537
Fixed by https://github.com/elastic/kibana/pull/110435

[2021-08-30 17:26] #109537 closed

[2021-08-30 17:27] #110145 closed

[2021-08-30 17:39] ghudgins commented on #51227
working on the core of this problem area in elastic-charts - https://github.com/elastic/elastic-charts/issues/1310

[2021-08-30 17:39] dplumlee commented on #110508
dup of https://github.com/elastic/kibana/issues/105271

[2021-08-30 17:39] #110508 closed

[2021-08-30 17:47] pmuellr commented on #105271
Took a quick peek, to make sure this wasn't an actions plugin issue.

Appears that there's a validation that expects all connector id's to be UUID format, which isn't true for pre-configured connectors:

https://github.com/elastic/kibana/blob/30f197427654991e6cdbe3d4bd73303039edeb2a/x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/schema.tsx#L26-L38

[2021-08-30 17:49] tylersmalley opened #110511 "[@kbn/kbn-ui-shared-deps] Split up into internal and external packages"
In an effort to improve the developer experience by speeding up the individual package build times, we should split up `kbn-ui-shared-deps` between internal and external dependencies.

[2021-08-30 17:49] elasticmachine commented on #110511
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-30 17:57] tylersmalley opened #110512 "[performance testing] Validate timing consistancy"
We need to first know how stable the metrics are in order to determine if and how we can utilize and report on them.

- What is the standard deviation across 100 executions on bare metal?
- What is the standard deviation using Buildkite to execute across 100 VM's?

100 is a number I just threw out there. We can start with something lower if it makes sense.

We will ultimately want to understand wh

[2021-08-30 17:57] elasticmachine commented on #110512
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-30 17:59] joshdover commented on #78968
If you have a specific CA that you need Kibana's backend to trust, you should be able to use the [`NODE_EXTRA_CA_CERTS`](https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file) environment variable to allow Kibana's runtime to trust your proxy's public certificate authority. Note that this will cause to any request made from Kibana's backend to trust this CA and not only requests to the Flee

[2021-08-30 18:05] rylnd commented on #110002
I've also verified that a similar bug exists in 7.13.

[2021-08-30 18:06] joshdover commented on #109970
Makes sense to me 👍

[2021-08-30 18:08] jbudz opened #110513 "Second SIGTERM signal causes a fatal error"
**Kibana version:** 8.0.0-SNAPSHOT

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
[code]
**Steps to reproduce:**
1. bin/kibana
2. Ctrl+C
3. Ctrl+C

**Expected behavior:**  Catch this and log forcing shutdown?

**Screenshots (if relevant):**

**Errors

[2021-08-30 18:08] elasticmachine commented on #110513
Pinging @elastic/kibana-core (Team:Core)

[2021-08-30 18:10] liza-mae commented on #107020
On the test topic, the new functional test added fails on cloud: https://github.com/elastic/kibana/issues/110367

[2021-08-30 18:11] PhaedrusTheGreek opened #110514 "SO import/export: Improve JSON import experience"
Currently Kibana supports newline delimited JSON as a valid "Upload a File" import, however the usability experience had some friction.

1.  No more than 999 lines was supported, which maybe overly conservative.
2. A JSON array was not recognized as a valid file format.    e.g.:

[code]

In addition to newline delimited JSON, it seems logical to support array format as well.

[2021-08-30 18:17] joshdover commented on #107020
Well, glad to see the test works 😅

[2021-08-30 18:17] tsullivan commented on #110483
I took a bit of a look today, but could not figure out why the 404 is appearing.

@jloleysens would you mind checking this one out?

[2021-08-30 18:50] tylersmalley commented on #101654
I don't think this is still an issue.

[2021-08-30 18:50] #101654 closed

[2021-08-30 18:51] #110062 closed

[2021-08-30 18:55] #81704 closed

[2021-08-30 18:56] #109310 closed

[2021-08-30 19:00] weltenwort opened #110519 "[RAC] [Observability] Alert documents are not updated as expected when the write index changes"
## :lady_beetle: Problem description

The lifecycle-aware observability rule executors use the `RuleDataClient`'s `bulk()` method to both create and update the alert documents. Currently any updates targeting existing alerts will incorrectly duplicate the alert document when the write index of the alerts alias has changed (e.g. during a rollover).

The reason for that is that the rule data client

[2021-08-30 19:00] elasticmachine commented on #110519
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-30 19:02] #103426 closed

[2021-08-30 19:13] tylersmalley commented on #107908
This is done.

[2021-08-30 19:13] #107908 closed

[2021-08-30 19:20] andrew-goldstein opened #110524 "[Security Solution] [RAC] Local storage and the `Reset Fields` button are not working as expected for the `Security > Alerts` view"
**Describe the bug:**

Local storage and the `Reset Fields` button are not working as expected for the `Security > Alerts` view. As a result:

- The fields selected by a user in the `Security > Alerts` view are always (unexpectedly) reset to the defaults when a browser tab is closed and re-opened, because local storage is not working as-expected
- The only way to reset the `Security > Alerts` view

[2021-08-30 19:20] elasticmachine commented on #110524
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 19:20] elasticmachine commented on #110524
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-30 19:40] #98337 closed

[2021-08-30 19:45] dmbreakey opened #110529 "Negating a filter at the global scope on a Dashboard appears to cause locally-applied filters to be ignored."
**Kibana version:**
7.10.2, via OpenDistro 1.13.2 (from [here](https://opendistro.github.io/for-elasticsearch-docs/version-history/))

**Elasticsearch version:**
7.10.2, via OpenDistro 1.13.2

**Server OS version:**
Debian 10.9

**Browser version:**
Google Chrome 92.0.4515.159 (32-bit)

**Browser OS version:**
Windows 10 Pro

**Original install method (e.g. download page, yum, from source, etc.):*

[2021-08-30 20:02] #110076 closed

[2021-08-30 20:11] simianhacker commented on #101616
There is nothing to do on the "client side" for this issue.

[2021-08-30 20:11] #101616 closed

[2021-08-30 20:22] jportner opened #110532 "Security usage data"
This is an issue for multiple pieces of security usage data that we need to augment.

### Audit logging

In #82578, we originally planned to remove the legacy audit logger in 8.0. However, preliminary analysis of usage data revealed a not-insignificant number of clusters that support audit logging _and_ have it enabled. That, plus the low impact it takes for us to leave legacy audit logging in pla

[2021-08-30 20:22] elasticmachine commented on #110532
Pinging @elastic/kibana-security (Team:Security)

[2021-08-30 20:32] kibanamachine commented on #110396
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16662/)

[2021-08-30 21:06] #34880 closed

[2021-08-30 21:06] #92511 closed

[2021-08-30 21:06] #105775 closed

[2021-08-30 21:29] jonathan-buttner opened #110541 "[Security Solution] Alerts"
When the user does not have read privileges for indices needed by the alerts page the table will be shown like it is loading but never stops loading.

Here is an example of the roles I used for the user without indices privileges:
<details><summary>No Index privs</summary>

![image](https://user-images.githubusercontent.com/56361221/131407988-ae81bdd0-5e3b-4c9e-9159-ede9f975b066.png)

![image](htt

[2021-08-30 21:29] elasticmachine commented on #110541
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-30 21:55] thomasneirynck commented on #55520
discussed offline. There's a narrow way of looking at: ie. supporting the equivalent functionality of setting the `min_doc_count`-param in the legacy `tile_map` and `region_map` visualizations. Closing this is what triggered adding the 7.16/8.0 labels.

The other one - supporting any bucket-filtering script - is broader, and out of scope.

Given that the narrow-case is niche, removing the target v

[2021-08-30 21:59] cyrille-leclerc opened #110546 "`event.dataset` combines the Fleet Custom Logs dataset name with the dataset name of the ECS formatted json log message damaging visualization"
**Kibana version:**

7.15 BC3

**Elasticsearch version:**

7.15 BC3

**Original install method (e.g. download page, yum, from source, etc.):**

ESS

**Describe the bug:**

When using Elastic Agent + Fleet combined with a JSON application log file generated by an ECS compatible library
 the `event.dataset` contains 2 values which is confusing for the user and the readability of the "logs app" is da

[2021-08-30 21:59] elasticmachine commented on #110546
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-30 22:44] jethr0null opened #110549 "Duplicated rules should not share the same exceptions list"
When duplicating a rule, the original rule and any duplicates will reference the same exceptions list. This means that any changes to the exceptions list will affect all rules which reference the list. We should explore ways to allow detection engineers to manage exception lists independently for duplicated rules and confirm desired behavior when managing exceptions lists for duplicated rules.

[*

[2021-08-30 22:45] elasticmachine commented on #110549
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-30 22:48] elasticmachine commented on #110549
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 22:56] jethr0null opened #110550 "Expose index connector and action in custom security detection configuration"
Kibana alerting users are able to utilize the [index connector and action ](https://www.elastic.co/guide/en/kibana/current/index-action-type.html) when configuring alerts. We should explore exposing this capability when configuring custom security detections (rules).

This connector should index a document per alert (vs. a single document for all alerts generated by a rule execution).

Use cases f

[2021-08-30 22:56] elasticmachine commented on #110550
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-30 22:56] elasticmachine commented on #110550
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-30 23:20] LeeDr commented on #107785
@jasonrhodes Yes, that matches what I saw.  Again, some clusters have a LOT of spaces so this could really become a large problem.  I guess once they realize what happened they can go into each space and delete the rules(alerts).

[2021-08-30 23:36] #107246 closed

[2021-08-30 23:43] #85782 closed

[2021-08-31 00:01] LeeDr commented on #109521
Yes, I agree.  We found this in some logs.  Pinged kibana-operations team.

[code]

[2021-08-31 00:19] FrankHassanabad commented on #109169
The "platform developer" is one of our end-users. We have different security engineer types for our Personas for our end-users and the "platform developer" is one of them. I changed the wording to try to make it more clear that it is from the end-user's perspective.

[2021-08-31 00:39] alexfrancoeur commented on #107020
Thanks Josh. Quick question, does this also impact the no-data check for default Kibana assets from Fleet as referenced in https://github.com/elastic/kibana/issues/82851#issuecomment-903728138? As bad as the interstitial page is, I believe the Kibana assets experience is worse.

[2021-08-31 00:42] #108607 closed

[2021-08-31 00:50] ghudgins commented on #55902
resolved by https://github.com/elastic/kibana/pull/109656

[2021-08-31 00:50] #55902 closed

[2021-08-31 01:32] andrewvc commented on #109730
I've moved https://github.com/elastic/synthetics/issues/360 into in progress since I'm considering this to be a component of that

[2021-08-31 01:34] matschaffer commented on #110453
cc @cyrille-leclerc since I'm fairly sure this intersects with Actionable o11y

[2021-08-31 01:52] matschaffer commented on #109584
I have no idea what's feasible from the data, but that does seem like a reasonable way to go.

For context here's elasticsearch:

![Screen Shot 2021-08-31 at 10 49 54](https://user-images.githubusercontent.com/690/131428613-d1a4c7f0-98b7-4226-8ed2-32f9c8a04e0e.png)

kibana:

![Screen Shot 2021-08-31 at 10 49 26](https://user-images.githubusercontent.com/690/131428620-242f89ca-9c5d-40a0-bc75-926ce0

[2021-08-31 01:55] matschaffer opened #110564 "[Stack Monitoring] Add APM server details to overview page"
For context here's elasticsearch:

![Screen Shot 2021-08-31 at 10 49 54](https://user-images.githubusercontent.com/690/131428613-d1a4c7f0-98b7-4226-8ed2-32f9c8a04e0e.png)

kibana:

![Screen Shot 2021-08-31 at 10 49 26](https://user-images.githubusercontent.com/690/131428620-242f89ca-9c5d-40a0-bc75-926ce0e56cbd.png)

apm (which just looks broken):

![Screen Shot 2021-08-31 at 10 50 03](https://user

[2021-08-31 01:55] elasticmachine commented on #110564
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-08-31 01:55] elasticmachine commented on #110564
Pinging @elastic/apm-ui (Team:apm)

[2021-08-31 01:56] matschaffer commented on #109584
I opened https://github.com/elastic/kibana/issues/110564 and moved @ravikesarwani 's ask to that issue.

Closing this one since it doesn't make sense to remove the bar then reintroduce it later.

[2021-08-31 01:56] #109584 closed

[2021-08-31 02:29] snide commented on #108917
This has since been fixed. I unfortunately notice a new issues where opening the analyzer in full-screen, then closing the analyzer does not reset the page to it's previous state. Notice that the charts no longer show when you close the analyzer.

https://snid.es/2021AUG/6XTLn0tKYtI4LUa~.mp4

[2021-08-31 02:35] jasonrhodes commented on #109619
I started reading this and then I got too confused and scared and figured I need more context. Can someone walk me through what this problem was and how we are fixing it tomorrow?

[2021-08-31 03:02] kibanamachine commented on #89072
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16519/)

[2021-08-31 04:41] lukeelmers opened #110566 "[core.elasticsearch] Add deprecation warning when scripts are disabled"
In preparation for https://github.com/elastic/kibana/issues/96106, we should:
- Add a check for if a user has disabled inline scripts in ES (`script.allowed_types: none` or `script.allowed_types: stored` )
- Log an Upgrade Assistant deprecation warning in 7.x
- Document that using Kibana without scripts enabled in ES is not supported

Then in 8.0 we can go ahead and make the breaking change so tha

[2021-08-31 04:41] elasticmachine commented on #110566
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 04:42] lukeelmers commented on #96106
Created a separate task to track adding the deprecations: https://github.com/elastic/kibana/issues/110566

We will continue to use this issue to track the actual breaking change for 8.0

[2021-08-31 05:31] karanbirsingh-qasource commented on #109408
Hi @MadameSheema

This issue is still occuring on 7.15.0 BC3. 🔴
Creating Exception with Close All ticket for Acknowledge alert does not close all the alert and alert retained in the Acknowledged state.

**Build Details:**
[code]

**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/131447299-0faf3640-4f58-422c-8e93-48f97b06894c.mp4

[2021-08-31 05:45] ppisljar opened #110568 "remove forceNow hack"
Kibana accepts `forceNow` url parameter (which should be a date) which will change how our search infrastructure works and will not use the actual time in `datemath` but the value passed in over URL. This was implemented to allow reports generated with the fixed time at when the user requested the report (rather than the time at which report was generated).

This is quite a big tech depth spreadin

[2021-08-31 05:45] elasticmachine commented on #110568
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 05:58] karanbirsingh-qasource commented on #108165
Hi @michaelolo24

Thanks for looking into the issue.

we have validated this on 7.15.0 BC3 and found it this issue is still occuring at our end 🔴

Hover Action filter in and filter out (+) and (-) are not working on the timeline result and not in the whole security app if we close the timeline.

Additional the same issue is on 7.14.1 BC2

Please find below all there testing details and screen-cast

[2021-08-31 06:19] karanbirsingh-qasource commented on #108864
Hi @ashokaditya

we have validated this issue and found it fixed ✔️

**Build Details:**
[code]
**Snap-Shoot:**

![image](https://user-images.githubusercontent.com/59917825/131452009-05ec8381-1d0b-4150-aa1d-20e3af80e89a.png)
![image](https://user-images.githubusercontent.com/59917825/131452042-6a9970a8-95ae-4647-9a3b-5f800835f1f6.png)

Hence we are closing this issue and adding "QA:Validated" label

[2021-08-31 06:19] #108864 closed

[2021-08-31 06:24] karanbirsingh-qasource commented on #108889
HI @MadameSheema ,

we have validated this issue on 7.15.0 BC3 and found it fixed ✔️ Tool tip is now removed for the Reason column .

**Build Details:**
[code]

**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131452487-de819add-4147-4e2e-84cf-51e9636b3515.png)

Hence we are closing this issue .

thanks !!

[2021-08-31 06:24] #108889 closed

[2021-08-31 06:31] pheyos commented on #106736
It's the same `ERR_NETWORK_CHANGED` error again.

[2021-08-31 06:32] #108179 closed

[2021-08-31 06:32] #110242 closed

[2021-08-31 06:55] MadameSheema commented on #108917
@karanbirsingh-qasource @deepikakeshav-qasource can you please open 2 different tickets? one for the enhancements an a different one for the bug mentioned above? Thanks

[2021-08-31 06:56] formgeist commented on #110204
@MiriamAparicio Great spot! I've updated the description to include the Backends list (now Dependencies list) and in general make this about inconsistencies in our list table loading states.

[2021-08-31 06:59] karanbirsingh-qasource commented on #108917
Hi @MadameSheema

we have validated this issue on 7.15.0 BC3 . Exit Full Screen Button is no longer showing for Event analyzer.

Can you confirm if this is the expected fix done for this issue by removing it .

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/59917825/131457291-b7bc85f2-f3c2-434d-9a07-c2262e56d9bc.png)
![image](https://user-images.githubusercontent.com

[2021-08-31 07:01] MadameSheema commented on #109408
@dplumlee can you please take a look to the above comment? Thanks :)

[2021-08-31 07:01] kertal opened #110572 "[Field Formatter] Remove ng-non-bindable of html formatter"
The html content type of the field formatter is currently adding `ng-non-bindable` in a span. Due to recent progress in deangularization (Discover will be free of Angular with #109774) this should no longer be necessary. E.g. discover is stripping this attribute before it's rendered. So also client application should be cleaned up.

https://github.com/elastic/kibana/blob/af3a976e1779eb1907375fd1d5

[2021-08-31 07:01] elasticmachine commented on #110572
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 07:22] karanbirsingh-qasource opened #110573 "[Security Solution]Alert Page got broken on closing the full screen event analyzer"
**Describe the bug**
Alert Page got broken on closing the full screen event analyzer

**Build Details:**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate detection alert.
2. Click on Event Analyze.
3. Click on Full Screen.
4. Click on Close Event Analyze.
5. Validate that alert page got broken and does not return to its pr

[2021-08-31 07:22] elasticmachine commented on #110573
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 07:22] karanbirsingh-qasource commented on #108917
Issue Logged for this : https://github.com/elastic/kibana/issues/110573

[2021-08-31 07:31] karanbirsingh-qasource commented on #110573
Issue already reported for it , so closing it https://github.com/elastic/kibana/issues/110024

[2021-08-31 07:31] #110573 closed

[2021-08-31 07:32] kibanamachine commented on #110396
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16673/)

[2021-08-31 07:42] #108670 closed

[2021-08-31 07:42] karanbirsingh-qasource opened #110575 "[Security Solution][Enhancement]Analyze Event full screen elements alignment"
**Describe the bug**
[Enhancement]Analyze Event full screen elements alignment

**Build Details:**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate detection alert.
2. Click on Event Analyze.
3. Click on Full Screen.
4. Validate that highlighted area can be aligned to have better view

**Screen-Shoot**
![image](https://use

[2021-08-31 07:43] elasticmachine commented on #110575
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 07:43] karanbirsingh-qasource commented on #108917
Enhancement ticket : https://github.com/elastic/kibana/issues/110575

[2021-08-31 07:50] horvatal commented on #78968
@joshdover thank you for the hint. I have to check, if there is a possibility to inject such environment vars in ECE, and also the needed CA files.

[2021-08-31 08:14] ruflin commented on #108993
Having Kibana blocking on something that comes from a "remote source" (package registry) is risky. In Fleet we should add support to be able to ship the packages that are blocking Kibana directly with Kibana (@joshdover @jen-huang ). It is a feature we started to build but never completed.

At the moment, we only upgrade packages when the user first accesses Kibana. Now we have the option to upgra

[2021-08-31 08:24] azasypkin opened #110579 "[Dependencies Clean-up] Make `jsonwebtoken` a dev dependency or remove it completely"
Currently `jsonwebtoken` is defined as [a non-dev dependency](https://github.com/elastic/kibana/blob/b4415b78c1e56ba7dc44223447713c3ec47fb251/package.json#L281), but we use it [only in tests](https://github.com/elastic/kibana/blob/4a541883557bcee83baf09b2c0ddab702f780e45/x-pack/test/security_api_integration/fixtures/oidc/oidc_tools.ts#L11).

We should either try to  remove it completely or make it

[2021-08-31 08:24] elasticmachine commented on #110579
Pinging @elastic/kibana-security (Team:Security)

[2021-08-31 08:25] deepikakeshav-qasource commented on #99760
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC3** build and observed that issue is **Fixed**. Same value is displayed for _score field under the alerts table.

**Build Details:**

[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/131468828-c546fa7d-bcb1-40b7-af84-5cb94a8e5799.png)

Hence, we are closing this ticket and marking as "QA validated"

T

[2021-08-31 08:26] elasticmachine commented on #110430
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-08-31 08:35] amolnater-qasource commented on #109799
Hi @hop-dev
We have revalidated this issue and found it **fixed** on 7.15.0 BC-3 for which we have shared our feedback at https://github.com/elastic/kibana/pull/110066#issuecomment-908977720

Further while testing we have observed that this issue is also reproducible at Integrations>Nginx>Policies tab.
- Upgrade available for integrations with same version as installed version.

**Steps to reprodu

[2021-08-31 08:42] #101278 closed

[2021-08-31 08:42] marijatimovska commented on #101278
closing because of inactivity

[2021-08-31 08:50] samratbhadra-qasource opened #110582 "[Endpoint] Incorrect name shows for Memory Manipulation Protection in Policy status."
**Describe the bug:**
 Incorrect name shows for Memory Manipulation Protection in Policy status.

**Build Details:**
VERSION: 7.15.0-BC3
BUILD:  43818
COMMIT: 6f7562b1906dcfad65809da8fdec15df353d0252
ARTIFACT:  https://staging.elastic.co/7.15.0-642a73fa/summary-7.15.0.html

**Preconditions:**
Elastic 7.15.0-BC3 environment should be deployed.

**Steps to Reproduce:**

1. Log in to Kibana.
2. Navig

[2021-08-31 08:50] elasticmachine commented on #110582
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 08:50] elasticmachine commented on #110582
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-31 08:50] samratbhadra-qasource commented on #110582
@manishgupta-qasource please review.

[2021-08-31 08:51] mshustov opened #110583 "/status endpoint returns 503 when any plugin is unavailable"
#### Problem
https://github.com/elastic/kibana/pull/79012 added logic for `/api/status` endpoint to return `503` whenever any Kibana plugin has `unavailable` status.
This logic affects Beats module https://github.com/elastic/beats/issues/27036 (fixed in https://github.com/elastic/kibana/pull/109741 by lowering status from `unavailable` to `degraded`)

@joshdover said this logic was added because i

[2021-08-31 08:51] elasticmachine commented on #110583
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 08:56] formgeist commented on #110289
@katrin-freihofner I agree that placing the Reason column as the first (and primary) makes most sense. I know we've discussed this previously, but I reckon the actions would be better off placed on the right side. It's the most common practice in other use-cases throughout Kibana and typically where other tables are placing actions in general.

Also the two "time" columns would be better off being

[2021-08-31 09:01] rudolf commented on #108993
Good point, installing from disk removes one potential source of failures.

Can you clarify, should Core continue to add this API and if so by when? If not, would you please close the issue?

[2021-08-31 09:04] manishgupta-qasource commented on #110582
Reviewed & assigned to @kevinlog

[2021-08-31 09:06] rudolf commented on #110583
+1

[2021-08-31 09:12] elasticmachine commented on #81690
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-08-31 09:12] timroes commented on #81690
@ThomThomson Can this one be closed?

[2021-08-31 09:16] weltenwort commented on #102089
Yes, thank you!

[2021-08-31 09:16] #102089 closed

[2021-08-31 09:18] weltenwort commented on #104853
Hi @sabarasaba, we're tracking that separately in #104855.

[2021-08-31 09:22] weltenwort commented on #110546
@cyrille-leclerc the document you provide contains both values in `"event.dataset": [ "frontend", "frontend.log" ]`, so they are correctly displayed in discover and the logs ui. This looks like a problem somewhere in the ingestion pathway, that can't be solved in either discover or the logs ui.

Does that make sense? Should this be reported to the integrations team instead?

[2021-08-31 09:29] weltenwort commented on #110289
While I agree with most of the proposed changes I'm wondering where this leaves us in respect to the goal that this should have the same look and feel as the security alerts table. Is this a change that should happen on both pages?

[2021-08-31 09:29] semd commented on #108907
Hi @mdefazio @MadameSheema, can you retest this, I believe it is already solved.

[2021-08-31 09:36] muskangulati-qasource opened #110585 "[Security Solution] Memory alert should show as Memory Manipulation Alert."
**Description:**
Memory alert should show as Memory Manipulation Alert.

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Memory Manipulation alert should be generated

**Steps to Reproduce:**
1. Navigate to the Alerts tab.
2. Observe the details for the Memory Manipulation alert that shows wrong wordings as Memory only.

**Impacted Tes

[2021-08-31 09:36] elasticmachine commented on #110585
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-08-31 09:36] elasticmachine commented on #110585
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 09:37] muskangulati-qasource commented on #110585
@manishgupta-qasource please review!

[2021-08-31 09:37] formgeist commented on #110204
@MiriamAparicio Had another review of our various tables and found more inconsistencies to add to the list above ^ 😬 - also there's a missing loading state in the JVMs list in the Metrics tab that we might want to take a look at in the same process.

[2021-08-31 09:37] cyrille-leclerc opened #110586 "[Observability Alerting - Alert details flyout] Actual and Expected values are missing in the alert details flyout for Inventory CPU alerts"
**Kibana version:**

7.15 BC3 version deployed on ESS on Aug 30

**Original install method (e.g. download page, yum, from source, etc.):**

ESS

**Describe the bug:**

Actual and Expected values are missing in the alert details flyout for Inventory CPU alerts when they are properly reported by the "reason" field.

![image](https://user-images.githubusercontent.com/459691/131478721-dd6168cb-d0df-4a

[2021-08-31 09:40] muskangulati-qasource commented on #110585
Related issue: https://github.com/elastic/kibana/issues/110582

[2021-08-31 09:44] afharo commented on #109960
@ycombinator this is the new contract:
[code]

As you may have noticed, there is no concept of `timestamp`. This is because we could only provide historical data when the source of the telemetry stats was the monitoring indices. However, for _local_ telemetry (when Kibana actively runs the collectors), it's always `now` (the code has always dismissed the `timeRange` for this type of collection).

[2021-08-31 09:45] cyrille-leclerc opened #110587 "[Observability Alerting - Alerts Screen] The default filter `kibana.alert.status: "active"` prevents viewing some alerts"
**Kibana version:**

7.15 BC3 on ESS

**Describe the bug:**

My alert that is now recovered don't show up on the observability alerts screen whatever I choose "Opn", "Acknowledged", or "Closed" filter.

I have to remove `kibana.alert.status: "active"` from the KQL filter to see it.

![image](https://user-images.githubusercontent.com/459691/131480520-1bc38124-7540-4903-b9a1-6116fb64c672.png)

![ima

[2021-08-31 09:46] elasticmachine commented on #110587
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 09:46] elasticmachine commented on #110586
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 09:50] miltonhultgren commented on #110587
@cyrille-leclerc In this PR https://github.com/elastic/kibana/pull/110192 we've both updated the placeholder and removed the default search query, does that resolve this issue?

[2021-08-31 09:51] #110248 closed

[2021-08-31 09:53] manishgupta-qasource commented on #110585
Reviewed & assigned to @kevinlog

[2021-08-31 09:56] sabarasaba commented on #109587
Fixed with https://github.com/elastic/kibana/pull/109801

[2021-08-31 09:56] #109587 closed

[2021-08-31 10:19] jasonrhodes commented on #110587
Just for clarity, this isn't a bug, is it? This is by design because at one point earlier we said "open and active" is the right default view. So if the KQL filter is set to show active alerts, you shouldn't see recovered alerts.

Separately we've discussed whether open and active is the right default or if just open is, and I think Katrin and the eng team decided to change to just open.

[2021-08-31 10:36] katrin-freihofner commented on #110289
Thanks for your feedback @formgeist

We are going to discuss the action columns in a separate issue: https://github.com/elastic/kibana/issues/108240
There are action columns on the left in Kibana too. For example, Discover has the expand icon on the left - this was this template for the view.

<img width="1350" alt="Screenshot 2021-08-31 at 11 55 21" src="https://user-images.githubusercontent.com/

[2021-08-31 10:53] Kerry350 commented on #110062
I'm back from PTO, but it looks like this has been handled by @cauemarcondes. Thanks @cauemarcondes!

[2021-08-31 10:57] #109293 closed

[2021-08-31 10:59] banderror commented on #109293
Closed this one. Brandon's concerns regarding the index upgrade/rollover logic (https://github.com/elastic/kibana/pull/109276#issuecomment-909123667) will be addressed as part of the parent ticket (https://github.com/elastic/kibana/issues/101016) which will be updated accordingly.

[2021-08-31 11:19] cyrille-leclerc commented on #110587
@jasonrhodes  I guess it's a functional bug, a user experience bug.

[2021-08-31 11:20] banderror opened #110594 "[RAC][Rule Registry] Put index upgrade logic under a feature flag"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Add a feature flag around the logic that finds existing Alerts as Data indices and upgrades the mappings or rolls the index if the mappings can't be upgraded in place. Suggest that all devs enable this feature flag for development work so that their AAD indices will pull in any new changes to the schema intra-release.

[2021-08-31 11:30] elasticmachine commented on #110594
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 11:30] elasticmachine commented on #110594
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-31 11:31] #109619 closed

[2021-08-31 11:34] karanbirsingh-qasource commented on #108866
Hi @ashokaditya

we have validated this issue on `7.15.0 BC3` and found it fixed ✔️ .

**Build Details:**
[code]
**Snap-Shoot:**
![image](https://user-images.githubusercontent.com/59917825/131495504-2de9a22e-14ac-4f50-b696-dd8efaabc163.png)

Hence we are closing this issue.

thanks !!

[2021-08-31 11:34] #108866 closed

[2021-08-31 11:40] federicobertoldi commented on #68415
I add that currently the pagination is only on the interface side. This implies that for search with thousands of results the server payload is huge just to see 50 results. Pagination should be implemented on server side. Thanks

[2021-08-31 11:42] jasonrhodes commented on #110587
Do you mean that you consider it a UX bug that we defaulted to open/active instead of just to open? I think it's just a business logic decision. Just making sure I'm understanding the problem you saw and not missing something.

[2021-08-31 11:43] jasonrhodes commented on #110587
In my opinion we shouldn't show recovered alerts by default, but with everything going on, I'm not sure it's important enough to worry about.

[2021-08-31 11:46] elasticmachine commented on #110510
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-08-31 11:54] ycombinator commented on #109960
Thanks @afharo! I'll look into how this change will impact the Cloud Billing code and file any follow up issues if necessary. But for now, we're good to close this issue here.

[2021-08-31 11:54] #109960 closed

[2021-08-31 11:57] kevinlog commented on #110582
@softengchick @ferullo @caitlinbetz @bradenlpreston - should the name in the policy response be "Memory manipulation protection" as noted in the bug?

[2021-08-31 11:58] kevinlog commented on #110585
@ferullo @softengchick @caitlinbetz @bradenlpreston @threat-punter - what is is the expected text here?

[2021-08-31 12:04] banderror commented on #110519
I think we can’t know for sure when the first rollover will happen after a user upgrades Kibana to 7.15.0 and new RAC indices are created.

This is the default ILM policy that’s currently used for all the indices:

[code]

Depending on the amount of alerts being written, this 50gb threshold can be reached faster than we release 7.15.1.

I’d personally not take this risk and I feel like this issue

[2021-08-31 12:07] #110434 closed

[2021-08-31 12:11] banderror commented on #110519
Just for additional context

You can simulate this behavior in Kibana DevTools (queries provided by @weltenwort):

[code]

The 2nd `PUT` with "message 2" creates a duplicate instead of updating the existing document by its id ("1"). The `POST test/_update/1` fails with an error from Elasticsearch, because the document with id "1" is not in the write index.

The call to `ruleDataClient.bulk()` in t

[2021-08-31 12:16] Bamieh opened #110603 "[Deprecation service] Expose `level` field to config deprecations"
We assumed that all config deprecations are of level `critical` hence we did not expose this field to the deprecation factory.

A few configs are indeed not `critical` for 8.0 hence allowing devs to override the `level` make sense here. Examples:

1. Session timeout - starting in 8.0, the default timeout/lifespan will be 1h/30d (respectively). if a user does not have these values set, we advise th

[2021-08-31 12:16] elasticmachine commented on #110603
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 12:19] banderror commented on #110519
@weltenwort has an idea for a hotfix which makes sense to me:

### 1. Remove `require_alias: true` from `bulk()`

Remove `require_alias: true` from the `bulk()` method of RuleDataWriter.

See `x-pack/plugins/rule_registry/server/rule_data_client/rule_data_client.ts`.

### 2. Pass the concrete index as `_index` in each document's bulk header

`createLifecycleExecutor` needs to be adjusted. It combi

[2021-08-31 12:21] cyrille-leclerc opened #110604 "[Alerting - Rules and Connectors screen] The subtle nuance between status "active" and "ok" is not intuitive"
**Kibana version:**
7.15 BC

**Original install method (e.g. download page, yum, from source, etc.):**
ESS

**Describe the UX challenge:**

In the Rules and Connectors screen, the difference between status `OK` and `Active` is not intuitive. It's not intuitive that
* `OK` means the alerting system is executing this rule without any problem
* `Active` means that a violation of the rule condition is

[2021-08-31 12:21] elasticmachine commented on #110604
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 12:21] banderror commented on #110519
We also think that exposing a raw `bulk` method is not a good API for RuleDataWriter. There need to be more specific methods for writing new alerts and updating existing ones. I will create a ticket for that improvement.

[2021-08-31 12:22] azasypkin opened #110605 "Users grid is stuck in the loading state if there are no users found"
## Summary

When the users API doesn't return any users, users grid is stuck in the loading state (tested on 7.14.0):

![Peek 2021-08-31 09-29 (1)](https://user-images.githubusercontent.com/1713708/131501560-cd0c9673-089d-487d-886b-d4bdcf2dcd1c.gif)

[2021-08-31 12:29] cyrille-leclerc opened #110606 "[Observability Alerting - Flyout Details] The "View in App" button is hard to discover"
**Kibana version:**

7.15 BC

**Describe the UX Challenge:**

When viewing the details of an alerts using the Flyout, the button "View in App" is hard to discover because it's in an empty corner, far away from useful content

![image](https://user-images.githubusercontent.com/459691/131502327-74dd6260-e336-46ed-be3b-601a233073af.png)

[2021-08-31 12:29] elasticmachine commented on #110606
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 12:36] miltonhultgren commented on #110587
@katrin-freihofner maybe you can add more context on this request? :)

[2021-08-31 12:40] mbondyra commented on #59188
Setting terms aggregation on a timefield is not possible in Lens, so the problem can only happen for Visualize editors. Removing Lens label.

[2021-08-31 12:41] lzientek opened #110607 "Kibana APM Custom links creation don't work"
**Kibana version:**
7.14
**Elasticsearch version:**
7.14
**Server OS version:**
Elastic Cloud
**Browser version:**
 Chrome 92.0.4515.159
**Browser OS version:**
OS X BigSure
**Original install method (e.g. download page, yum, from source, etc.):**
Elastic cloud (AWS)
**Describe the bug:**
When I want to create a new custom url in APM settings but the save button doesn't do anything (no creation, n

[2021-08-31 12:42] pmuellr commented on #110583
Seems like the best / simplest behavior change that would be helpful here.

[2021-08-31 12:42] cyrille-leclerc commented on #110587
I feel we have UX challenges combining these 2 statuses: `status:active/recovered` and `workflow:open/acknowledged/close`. I think that the "auto close" capability when an alert resolves will make things much more easy.

[2021-08-31 12:43] sqren commented on #110292
@bmorelli25 I'm not sure if this is something we should document. APM currently require 9 plugins. Should we document them too?

https://github.com/elastic/kibana/blob/a49700f95d8b453696ac6886846fe314574dd076/x-pack/plugins/apm/kibana.json#L9-L19

[2021-08-31 13:00] joshdover commented on #107020
No, this only affects the interstitial.

[2021-08-31 13:02] afharo opened #110608 "[Index Patterns] Better alias handling"
**Describe the feature:**
When creating an Index Pattern, Kibana automatically adds the trailing `*` as the user starts typing.
![create-index-pattern](https://user-images.githubusercontent.com/5469006/131499327-fb15b248-821a-41bb-9561-d5c876f7296f.gif)

Ideally, Kibana should show a warning when the index pattern matches both: aliases and indices. Or it could even stop the automatic addition of t

[2021-08-31 13:02] elasticmachine commented on #110608
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 13:10] jportner commented on #109916
I'd really recommend against using the ROP flow as a stepping stone, considering that y'all would likely have to support it for 2+ years. I would just bite the bullet and use Authorization Code flow instead.

If this decision really makes a difference in your timeline/priorities, I'd say that ROP flow is _acceptable_ iff we encrypt the username+password.

[2021-08-31 13:14] liza-mae commented on #110583
Another case that was affected: https://github.com/elastic/elastic-stack-testing/issues/936

[2021-08-31 13:15] elasticmachine commented on #110575
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-31 13:15] ymao1 commented on #109916
Thanks for the feedback @jportner! Yes, the username and password would be encrypted, just like we currently do for basic auth, but agree that if timeline permits we would also prefer to do the full Authorization Code flow.

[2021-08-31 13:18] miltonhultgren opened #110611 "[Logs UI] Selecting field in Rule creation is hard when data contains lots of fields"
### Summary

When creating a new Rule we're required to select which field the rule should observe. In datasets with a lot of fields this step becomes difficult since we use a non-searchable list to display the options:
<img width="609" alt="Screenshot 2021-08-31 at 13 25 15" src="https://user-images.githubusercontent.com/2564140/131509011-f3aa82ef-fd5e-45ab-bbf3-b4505aee8ca3.png">
<img width="179

[2021-08-31 13:18] elasticmachine commented on #110611
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 13:23] #105133 closed

[2021-08-31 13:25] sqren commented on #18348
@formgeist Is this still a problem after we updated the charts for comparisons (removed the status codes)

[2021-08-31 13:26] sqren commented on #19111
This is no longer an issue.

[2021-08-31 13:26] #19111 closed

[2021-08-31 13:28] sqren commented on #22962
Closing due to inactivity. Re-open or create a new one if this comes up again.

[2021-08-31 13:28] #22962 closed

[2021-08-31 13:28] peteharverson commented on #97269
The alignment of the sorting arrow has been fixed for 7.15.0 by #110053. Leaving open as the second part of the issue `when enabling the histogram charts, the column options button (arrow down) to quick sort, hide or move the column is not displayed anymore.` still needs to be addressed.

[2021-08-31 13:31] alexfrancoeur commented on #107020
++ great to hear. Since this regression has been around for a few releases now, I do not think we can treat it as a blocker. I do think we should still backport and hope that it gets picked up by potentially a BC2 (seems unlikely) or 7.14.2 patch release.

[2021-08-31 13:31] alexfrancoeur commented on #82851
@joshdover can this now be closed with https://github.com/elastic/kibana/pull/108193?

[2021-08-31 13:37] MadameSheema commented on #110224
Closing this ticket since RBAC for alerts is not going to be released for now and will be redesigned.

[2021-08-31 13:37] #110224 closed

[2021-08-31 13:38] MadameSheema commented on #109668
Closing this ticket since RBAC for alerts is not going to be released for now and will be redesigned.

[2021-08-31 13:38] #109668 closed

[2021-08-31 13:39] lukeelmers commented on #89584
Thanks to all who took the time to update the list above. After comparing this list with the [list of implicitly disable-able plugins](https://github.com/elastic/kibana/issues/89584#issuecomment-895972225) and following up with teams, we ended up with the following plugins which need to *remain* disable-able:
- graph (@timroes @stratoula are we certain about this one too?)
- newsfeed
- reporting
-

[2021-08-31 13:39] Crazybus commented on #107283
Not that I know of. It doesn't look to be deprecated according to the documentation I linked in the original issue description. I'm sure there are use cases for wanting a particular exact shard count (like optimizing search load across a static set of X nodes) which would explain why it wasn't deprecated.

[2021-08-31 13:40] mikecote commented on #109916
One clarification regarding encrypting the username/password, I think this flow recommends releasing them from memory and never saving them after authorization. Leaving us with only the tokens to save with the connector.

[2021-08-31 13:41] formgeist commented on #108522
From a UX perspective this is more important now that we've fixed the loading indication in the tables where we're not showing it as we're loading the sparkline data.

[2021-08-31 13:42] lukeelmers opened #110614 "Log deprecation warnings when plugins are disabled but will no longer be disable-able in 8.0"
As a part of the effort in https://github.com/elastic/kibana/issues/89584 to remove the ability for plugins to be disable-able by default, we need to log deprecation warnings when the `myplugin.enabled` config option is used.

This change affects _all plugins_ except those outlined in https://github.com/elastic/kibana/issues/89584#issuecomment-909247281.

Since there are so many affected plugins,

[2021-08-31 13:42] elasticmachine commented on #110614
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 13:42] weltenwort opened #110615 "[RAC] [Observability][Meta] Create automated tests for re-used t-grid functionality"
## :notebook: Summary

This is meta issue to plan out the creation of functional UI tests of the Observability Alerts page.

## :heavy_check_mark: Task breakdown

- [x] #110627 @weltenwort
  - [x] #110640 @mgiota
  - [x] #110641 @weltenwort
  - [x] #110642 @mgiota
- [x] #110630 @Kerry350
- [x] #110632 @Kerry350
- [x] #110634 @Kerry350
- [x] #110636 @mgiota
- [x] #110637

[2021-08-31 13:42] elasticmachine commented on #110615
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 13:42] stratoula commented on #89584
@lukeelmers we discussed it again with Tim and we are fine if this one is not disableable. You can remove it from the list ;)

[2021-08-31 13:44] #109660 closed

[2021-08-31 13:45] ymao1 commented on #109916
Yes, that is the recommendation in the Microsoft docs.

[2021-08-31 13:49] jportner commented on #109916
Good point! That would be in keeping with the OAuth standard ([4.3.1](https://datatracker.ietf.org/doc/html/rfc6749#section-4.3.1)). My feedback was based on OAuth in general, and I'd caution that not all OAuth implementations are made equal, and you'll need to cater to how the Authorization Server behaves (whether or not your access token expires and/or whether you have a refresh token to use).

[2021-08-31 13:49] afharo opened #110618 "Trigger Server Counters usage API whenever a deprecation is triggered"
**Describe the feature:**
In order to help us with identifying when deprecated features are no longer used, it would be interesting to know how many times each deprecation warning is triggered.

A hook and a usage collector could help with this.

**Describe a specific use case for the feature:**
We may want to track deprecation notifications for
- [ ] HTTP Headers (related to #105692)
- [ ] Config

[2021-08-31 13:49] elasticmachine commented on #110618
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 13:49] elasticmachine commented on #110618
Pinging @elastic/kibana-telemetry (Team:KibanaTelemetry)

[2021-08-31 13:52] kaishenelastic opened #110619 "Filter on Rollup Indexes not possible"
**Kibana version: **

**Elasticsearch version:7.9

It is not possible to run a filter in Kibana on rollup indexes. The underlying reason seems to be that the KQL is generating a match query, which is not allowed on rollup indexes. But customers want to do exactly that.

**Any additional context: See all details here: https://discuss.elastic.co/t/can-t-filter-rollup-index-results/268775

[2021-08-31 13:52] formgeist commented on #88329
No longer relevant

[2021-08-31 13:52] #88329 closed

[2021-08-31 13:53] elasticmachine commented on #110619
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 13:57] #109609 closed

[2021-08-31 14:00] chrisronline commented on #109918
## Findings

The access and refresh tokens are very flexible - they don't automatically expire when new ones are requested and persist for a consistent period of time. The Microsoft API will return a specific error when the access token is invalid, which gives us a consistent hook to generate a new access token.

## Questions

When requesting an access token, the response includes the access and r

[2021-08-31 14:05] sqren commented on #110333
Good catch @cauemarcondes ! We've seen this problem before. I was hoping our types or API tests would've caught this.

[2021-08-31 14:13] weltenwort opened #110627 "[RAC] [Observability] Set up functional test service to provide preconfigured users"
## :notebook: Summary

Since several functional tests of the alerts page will need to use similar user/role/capabilities setups, we could pave the way for them by creating a functional test service that encapsulates the creation of users and role with common observability permission permutations.

## :heavy_check_mark: Acceptance criteria

- A test service exist in `x-pack/test/functional/services

[2021-08-31 14:13] elasticmachine commented on #110627
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:14] cauemarcondes commented on #110333
I think it's a bit difficult to get it with our types, since the `transactionName` is optional.

[2021-08-31 14:17] jonathan-buttner opened #110628 "[Security Solution][Timeline][Cases] Timeline overlay hides cases flyout when creating a new case"
When investigating an alert in timeline, when a user tries to add an alert to a case and tries to create a new case, the case flyout is hidden under the timeline page.

![image](https://user-images.githubusercontent.com/56361221/131519086-f8e93c0d-7f86-4970-a23b-7c399a387d56.png)

After Closing timeline
![image](https://user-images.githubusercontent.com/56361221/131519201-540b608b-4a90-4711-8b2a-4

[2021-08-31 14:17] elasticmachine commented on #110628
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-31 14:20] mistic commented on #110396
This test keeps failing. Skipping for now.

master/8.0: 560426e

[2021-08-31 14:21] weltenwort opened #110630 "[RAC] [Observability] Create functional tests for alerts table filter bar and date picker"
## :notebook: Summary

We should create functional tests for the filter bar and date picker on the Observability Alerts page.

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- "No data" message when no matches
- Filters bar completion works
- Filters are applied
- Date picker

[2021-08-31 14:21] lukeelmers commented on #108247
Scope for this issue:
- Log to root when Kibana stops
- Log to root when Kibana stops due to an exception

Outside of scope for this issue - will address separately:
- Improve status logging to point to which dependency is degraded

[2021-08-31 14:22] #102725 closed

[2021-08-31 14:24] elasticmachine commented on #110630
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:24] timroes commented on #110619
Duplicate of https://github.com/elastic/kibana/issues/36630

[2021-08-31 14:24] #110619 closed

[2021-08-31 14:28] weltenwort opened #110632 "[RAC] [Observability] Create functional tests for alerts table cell hover actions"
## :notebook: Summary

We should create functional tests for the cell hover actions on the Observability Alerts page.

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- "filter in" works
- "copy" works
- pop-out works

[2021-08-31 14:28] elasticmachine commented on #110632
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:29] rayafratkina commented on #101937
See also https://github.com/elastic/kibana/issues/58330

[2021-08-31 14:30] weltenwort opened #110634 "[RAC] [Observability] Create functional tests for alerts detail fly-out"
## :notebook: Summary

We should create functional tests for the alerts detail fly-out on the Observability Alerts page.

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- the flyout opens and closes correctly
- has the correct title and content
- has the action button at the

[2021-08-31 14:30] elasticmachine commented on #110634
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:31] sqren opened #110635 "[APM] Remove dependency on index_pattern.json"
Related to https://github.com/elastic/apm-server/issues/6059#issuecomment-909213665

When creating a (static) index pattern today we use the attributed from `index_pattern.json`:
https://github.com/elastic/kibana/blob/560426e7eed792bff3b4b3c4de076bff82de8831/x-pack/plugins/apm/server/tutorial/index_pattern.json

`index_pattern.json` is updated manually by the apm server folks. We can simplify thin

[2021-08-31 14:31] elasticmachine commented on #110635
Pinging @elastic/apm-ui (Team:apm)

[2021-08-31 14:31] weltenwort opened #110636 "[RAC] [Observability] Create functional tests for alerts table pagination"
## :notebook: Summary

We should create functional tests for the table pagination on the Observability Alerts page.

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- page size selector works
- pagination works
- table scrolls when page size large
- table doesn't scroll when p

[2021-08-31 14:31] elasticmachine commented on #110636
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:33] kaishenelastic commented on #36630
Yes, please add this feature, it's hard to explain to customers why there is a difference between regular and rollup indexes

[2021-08-31 14:33] sqren commented on #110333
Agree, that's why it keeps happening. If you have ideas how to catch this going forward I'm all ears.

[2021-08-31 14:37] ThomThomson commented on #81690
Seems to me that this contains a bit more info about the change than https://github.com/elastic/kibana/issues/67617 did, and it includes pieces about the upgrade assistant which may be better described in https://github.com/elastic/kibana/issues/54755. Maybe we should consolidate some of this information before closing? @azasypkin

[2021-08-31 14:38] weltenwort opened #110637 "[RAC] [Observability] Move rule registry tests from APM to rule_registry"
## :notebook: Summary

We should move the rule registry tests that currently live in the APM plugin into the functional test directory of the rule registry.

## :heavy_check_mark: Acceptance criteria

:warning: When you pick this up, please spend a minute to think about and expand on these ACs.

- The tests specific to the rule registry live in the rule_registry test directory.
- The tests don't d

[2021-08-31 14:38] elasticmachine commented on #110637
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:41] alexfrancoeur opened #110638 "Self-managed telemetry Privacy Statement notice shown in Cloud environment"
**Kibana version:**
7.15 BC3 on Cloud

**Describe the bug:**
The telemetry notice should not be shown in Cloud as it's covered in the EULA

We've [already removed](https://github.com/elastic/kibana/pull/116867) the `To stop collection, disable usage data here` link on the page portion of the notice

The remaining task is to remove the `To learn more about how usage data helps us manage and improve

[2021-08-31 14:41] elasticmachine commented on #110638
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 14:43] weltenwort opened #110640 "[RAC] [Observability] Create functional tests for alerts table bulk actions"
## :notebook: Summary

We should create functional tests for the bulk actions on the Observability Alerts page.

:link: makes use of the service created in #110627

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- Enabled with `all` permissions for the different observability

[2021-08-31 14:43] elasticmachine commented on #110640
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:47] weltenwort opened #110641 "[RAC] [Observability] Create functional tests for alerts table workflow status actions and filter"
## :notebook: Summary

We should create functional tests for the workflow status actions and filter on the Observability Alerts page.

:link: makes use of the service created in #110627

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- Workflow status filter button group is a

[2021-08-31 14:47] elasticmachine commented on #110641
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:48] weltenwort opened #110642 "[RAC] [Observability] Create functional tests for alerts table add-to-case actions"
## :notebook: Summary

We should create functional tests for the add-to-case actions on the Observability Alerts page.

:link: makes use of the service created in #110627

## :heavy_check_mark: Test cases

:warning: When you pick this up, please spend a minute to think about and expand on these test cases. This is just an initial proposal.

- add-to-case row actions are...
  - enabled with `all` p

[2021-08-31 14:48] elasticmachine commented on #110642
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 14:56] dgieselaar commented on #110333
@sqren @cauemarcondes preferably we make `transactionName` the lowest common denominator optional, and both branches on top of that (one for the service overview, one for the transaction detail view) should either omit the `transactionName` entirely, or make it required. E.g., there would be two separate endpoints, one where `transactionName` is required, and one where it's omitted, that call the

[2021-08-31 15:07] ghudgins commented on #94609
could be related to this request on XY https://github.com/elastic/kibana/issues/62385

[2021-08-31 15:13] Kerry350 commented on #109829
I've tested this against the latest 7.15 BC on Cloud and I just can't reproduce it (following the same steps from the other cluster).

With no other ML jobs created, I am able to complete the Logs ML setup.

Then, with an APM job created, but with no ML nodes available, I am still able to complete the logs ML setup.

![Screenshot 2021-08-31 at 15 29 37](https://user-images.githubusercontent.com/47

[2021-08-31 15:13] ghudgins commented on #62388
Closing - we are mixed on this issue - would this be confusing to the user as they redefine? Worry about the user interface not being predictable. We don't have a lot of evidence of the problem this is solving

That being said, selecting the right visualization automatically would be a cool as drill down (per the animation above)

[2021-08-31 15:13] #62388 closed

[2021-08-31 15:13] #107020 closed

[2021-08-31 15:16] katrin-freihofner opened #110652 "[RAC] Observability alerts table: remove sync alert functionality"
There is still the `sync alert status with case status` switch in the "create new case" flyout. We need to remove that, as it does not make sense for Observability alerts at the moment (this has also been removed from the case details view).
<img width="1792" alt="Screenshot 2021-08-31 at 10 56 34" src="https://user-images.githubusercontent.com/20965076/131529034-e269bbaf-7cf4-432b-9e25-3738ff7a69

[2021-08-31 15:16] elasticmachine commented on #110652
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 15:16] elasticmachine commented on #110652
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-31 15:17] ghudgins commented on #65538
This could also solve the problem users are having when they change over from legacy visualizations to elastic-charts....they see donuts with a smaller hole:
Before:
![image](https://user-images.githubusercontent.com/5465514/131529461-c34670ae-b7d5-4da4-b645-10d62ce8b745.png)
After:
![image](https://user-images.githubusercontent.com/5465514/131529507-ce96b627-cd4a-4377-a28a-3839904d1531.png)

[2021-08-31 15:17] ghudgins commented on #65538
there is also alignment issue in the above screenshots - need to probably file a separate charts issue as it relates to consistency

[2021-08-31 15:19] ghudgins commented on #65903
case identified during grooming: we would still need to fall back on the existing behavior if the user drops a field of a different data type

[2021-08-31 15:21] ghudgins commented on #66222
would be good to consider re-using time shifts as an input on the metric visualization. would need to think about how it would interact with a metric vis displaying 2 metrics (need to find/link issue for this TSVB-style functionality)

[2021-08-31 15:22] katrin-freihofner opened #110655 "[RAC] Alerts list: fullscreen mode looks broken"
**Kibana version**:
Screenshot from running Kibana (master branch) locally

I think that this view looks broken. I think the flyout - although consistent with other views - looks misplaced in this context. I guess this is because the table header gets highlighted but shouldn't in this context.

Also, we are missing the pagination and rows per page features here.

<img width="1680" alt="Screenshot

[2021-08-31 15:22] elasticmachine commented on #110655
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 15:25] katrin-freihofner opened #110656 "[RAC] Observability: "view in app" should navigate to specific host"
**Kibana version**:
Running Kibana locally (master branch)

**Describe the feature**:
I noticed that the "view in app" buttons link to the inventory view but not to a specific entity. As a user, I'd like to navigate to that specific entity.

<img width="630" alt="Screenshot 2021-08-31 at 11 06 32" src="https://user-images.githubusercontent.com/20965076/131530677-4a54c222-a6ed-4a88-9632-453c4131a59

[2021-08-31 15:25] elasticmachine commented on #110656
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 15:27] ghudgins commented on #66531
use case where this could be useful - error cases where we link users off to settings to do something

we had trouble thinking of more use cases where the legacy visualizations / tsvb functionality is desirable. we do have concerns that the behavior can be annoying and a bit unexpected

@AlonaNadler has anyone ever complained about this in lens from your standpoint? we're aren't convinced this is

[2021-08-31 15:28] ghudgins commented on #67206
+1 from someone on youtube

[2021-08-31 15:33] sophiec20 commented on #9202
+1 `created_by` and `date_last_viewed` and some kind of indicator of how much it has been recently used.

**Use case**
I'm currently browsing the visualisations on a kibana cluster with 100s of users. Everyone has created visualisations for their own needs. Spaces are used to separate stuff but there are still 100s of visualisations per space. Over time, the mappings of the source data have change

[2021-08-31 15:36] AlonaNadler commented on #66531
I haven't heard anything about this issue. Let's go with your judgment here

[2021-08-31 15:37] ghudgins commented on #88402
+1

[2021-08-31 15:38] ghudgins commented on #67224
we would like to do this - removing discuss label. tracking on vis types meta

[2021-08-31 15:40] ghudgins commented on #68303
stepped might need an extra input - need to confirm with elastic-charts

[2021-08-31 15:41] ThomThomson commented on #66531
It's currently pretty easy for users to lose unsaved changes in lens. I think this will start to become more annoying as more complicated features and settings are added to lens. Formulas for instance, could be a pain to re-write when lost because the user navigates to another page and back.

Dashboard uses a pattern where unsaved changes are saved to session storage based on the dashboard id, so

[2021-08-31 15:43] bradenlpreston commented on #110582
Hey @kevinlog - late breaking stuff form yesterday. Changed to "Memory Threat Protection."

[2021-08-31 15:44] peluja1012 commented on #108939
PR where we decided the current behavior is here https://github.com/elastic/kibana/pull/94010#issuecomment-796959452

[2021-08-31 15:45] joshdover opened #110660 "[Fleet] Add support for installing `tag` saved objects"
Fleet integrations are planning to add tags to installed Kibana assets like Dashboard and Visualizations to identify the specific integration they're related to and to tag them as "managed" by the system https://github.com/elastic/integrations/issues/327

We need to add support to the EPM installation and upgrade code to support install these SO types.

On the client side it's recommended to use t

[2021-08-31 15:45] elasticmachine commented on #110660
Pinging @elastic/fleet (Team:Fleet)

[2021-08-31 15:47] azasypkin commented on #89584
We've just discussed this during Kibana Platform Security Sync and agreed  that we'd like to keep [`interactiveSetup` plugin](https://github.com/elastic/kibana/tree/master/src/plugins/interactive_setup) disableable in 8.0. This plugin, when enabled, might have certain security implications and we'd like users to be able to completely disable it should they need to. The cost of maintaining of two p

[2021-08-31 15:52] stephmilovic commented on #109438
@samratbhadra-qasource can you please confirm the fix?

[2021-08-31 15:57] jonathan-buttner opened #110663 "[Security Solution][Timeline] RBAC"
To allow a user to create a readonly analyst role that can still create timelines and cases we'll need to add a sub feature privilege for timeline. Currently, when the Security Solution feature is marked as readonly it controls access to timeline as well which results in the user only being able to read timelines.

[2021-08-31 15:57] elasticmachine commented on #110663
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-08-31 15:58] weltenwort commented on #110656
This looks like a duplicate of #106958 and #106497, right?

[2021-08-31 15:59] kibanamachine commented on #107865
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16531/)

[2021-08-31 15:59] #103827 closed

[2021-08-31 16:00] MadameSheema commented on #109438
@samratbhadra-qasource please check it on 7.15 BC4, thanks :)

[2021-08-31 16:02] weltenwort commented on #110546
Ok, let's try to find the right team to assign, then. Would it be something to fix in fleet or in the integrations?

[2021-08-31 16:04] legrego commented on #101944
@mattkime I tested today, and other fields such as `toString` are also problematic. While you can't pollute the global prototype using this, it's possible to corrupt the individual objects:

## Index a document
[code]

## Create an index pattern
<img width="1062" alt="image" src="https://user-images.githubusercontent.com/3493255/131537043-285ac811-afb7-41ae-ab77-745ea7accc7b.png">

## View in Disc

[2021-08-31 16:08] mshustov commented on #89584
An implementation-wise question: as we want to enforce this rule for the internal plugins-only, can we add a dedicated flag to the manifest file to differentiate between 1st party and 3rd party plugins? It will help us in the future to add more strict / relax rules for the Elastic plugins (like this one https://github.com/elastic/kibana/issues/61087)

[2021-08-31 16:12] weltenwort commented on #110587
:information_source: Looks like the default filter for active alerts was already removed as part of #110192.

[2021-08-31 16:16] weltenwort commented on #110604
This screen is provided by the core alerting functionality in Kibana. I'll reassign the team.

[2021-08-31 16:16] elasticmachine commented on #110604
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-08-31 16:27] gchaps opened #110667 "[Discover] Improve copy in Save Search modal"
The Save Search modal could use a couple of tweaks:

- Add a period at the end of the description.
- Add space between the description text and the **Title** field.

<img width="407" alt="Screen Shot 2021-08-31 at 9 18 47 AM" src="https://user-images.githubusercontent.com/33642766/131539385-2a67c827-bc32-4281-b539-5d8e94667354.png">

[2021-08-31 16:27] elasticmachine commented on #110667
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-08-31 16:28] mostlyjason commented on #110533
@jen-huang It looks like https://github.com/elastic/kibana/issues/103187 allows for marking fields as `frozen`, and only accepting changes from kibana.yml when its not frozen. Am I understanding the existing logic correctly? Do you know if the agent monitoring and namespace inputs are marked as frozen? If not, they should not be overridden by kibana.yml?

[2021-08-31 16:29] gchaps opened #110668 "[Discover] The appearance of the Show chart button changes"
To reproduce:

1.  Click **Hide chart**.  The **Show chart** button looks like this:

<img width="1012" alt="Screen Shot 2021-08-31 at 9 17 16 AM" src="https://user-images.githubusercontent.com/33642766/131539161-5f0d0557-778e-4c31-8b42-12b7864e1709.png">

2.  Click anywhere.  The button now looks like this:

<img width="1013" alt="Screen Shot 2021-08-31 at 9 16 59 AM" src="https://user-images.git

[2021-08-31 16:29] elasticmachine commented on #110668
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-08-31 16:45] Dmitriynj opened #110673 "[Discover] Embeddable shows incorrect page after filtering"
### Steps to reproduce
- Open dashboard with discover classic table
- Navigate to the last page
- Filter in for a timefield value

https://user-images.githubusercontent.com/39378793/131542921-175023bd-58e0-444e-9299-9be2cf60f35d.mp4

[2021-08-31 16:45] elasticmachine commented on #110673
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-08-31 16:45] alexfrancoeur commented on #9202
cc: @elastic-jb as we begin to think through content management and governance ^^

[2021-08-31 16:55] afharo opened #110675 "[Elasticsearch] Handle Product Check in scoped clients"
After enabling `elasticsearch-js`'s product check (#107663), we noticed that our CI tests are flooded with the following warning:

[code]

This is an intentional behaviour of the client's Product Check. However, this is a sign that we are running the Product Check's logic for every client-scoped request. This is caused by how Kibana handles scoped clients:

Kibana internally [creates 2 clients](ht

[2021-08-31 16:55] elasticmachine commented on #110675
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 17:29] afharo opened #110677 "Root should handle its shutdown state"
The [Root class](https://github.com/elastic/kibana/blob/master/src/core/server/root/index.ts) calls `this.shutdown(e)` when any of the lifecycle steps breaks. This allows us to gracefully shutdown Kibana when any of those steps throw an error.

The problem is that it's also called externally when a `SIGTERM` or `SIGINT` signal are emitted. So there's the possibility that we receive that signal whi

[2021-08-31 17:29] elasticmachine commented on #110677
Pinging @elastic/kibana-operations (Team:Operations)

[2021-08-31 17:29] elasticmachine commented on #110677
Pinging @elastic/kibana-core (Team:Core)

[2021-08-31 17:42] cjcenizal opened #110678 "[SLM] Confusing relationship between selecting system indices and dis/enabling "Include global state""
## Problem

Users have reported confusion when they select specific indices, leave "Include global state" enabled, and then see their SLM policy capturing more indices than the ones they selected.

![image](https://user-images.githubusercontent.com/1238659/131542529-ccc1ce3f-3aaa-41b9-bc33-13d63c10687f.png)

## Suggested solutions

Off the top of my head, we can make this behavior clearer by addin

[2021-08-31 17:42] elasticmachine commented on #110678
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-08-31 17:44] tsullivan opened #110679 "[Reporting] CSV Export should use ESE search strategy"
**Kibana version:** 7.x

See https://github.com/elastic/kibana/issues/109167 and https://github.com/elastic/kibana/pull/109976 for background context.

Kibana Reporting had an issue that using a SearchSource object serialized on the client, the SearchSource service on the server did not automatically handle the user's preference to include frozen indices in a search. Since a fix was needed urgentl

[2021-08-31 17:44] cjcenizal commented on #110678
Relates to https://github.com/elastic/kibana/issues/71244 somewhat.

[2021-08-31 17:45] elasticmachine commented on #110679
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 17:47] formgeist commented on #18348
Most likely not a problem anymore (2018 😯)

[2021-08-31 17:47] #18348 closed

[2021-08-31 17:49] Mauro-Rizzi commented on #90215
+1 on this, considering how easy it is to create never again used visualizations we need better tools to clean up the backend.

I would propose letting us filter for orphan objects (aka objects with no parents) in the saved objects search bar to atleast simplify maintenance until this feature is implemented.

My saved objects store is up to 500 objects in a rather small deployment of which i'm sur

[2021-08-31 17:51] qn895 opened #110681 "[ML] [Transforms]: Add support for composite runtime field"
With the added support for composite field in the runtime field editor #110226, we should also add support for runtime field in Transform, ML, and Data Visualizer

- **Data visualizer**
  - [ ] Update definition for `runtimeMappingsSchema`, as well as `isRuntimeField` to support the new format
  - [ ]  Fix error on save (Currently, when saving a new composite field, the flyout is stuck on Save and

[2021-08-31 17:51] elasticmachine commented on #110681
Pinging @elastic/ml-ui (:ml)

[2021-08-31 17:54] #105919 closed

[2021-08-31 17:57] alisonelizabeth commented on #110292
👍 works for me. FWIW I believe the user would encountered this may have unintentionally disabled the `infra` plugin so this is probably an edge case.

[2021-08-31 17:57] #110292 closed

[2021-08-31 18:06] #101944 closed

[2021-08-31 18:09] #105842 closed

[2021-08-31 18:10] #110656 closed

[2021-08-31 18:15] kibanamachine commented on #110510
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16685/)

[2021-08-31 18:18] elasticmachine commented on #109949
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 18:20] katrin-freihofner opened #110696 "[RAC] Alert can be added to the same case multiple times"
As a user, I can add the same alert to a case multiple times. I think we want to prevent users from doing this.

<img width="994" alt="Screenshot 2021-08-31 at 20 18 18" src="https://user-images.githubusercontent.com/20965076/131555519-0b16e5d1-0323-41a4-9cc6-2f385d32c2aa.png">

@monina-n @mdefazio any thoughts?

**Kibana version**:
Tested running Kibana locally (master branch).

[2021-08-31 18:20] elasticmachine commented on #110696
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 18:31] #110594 closed

[2021-08-31 18:33] lukasolson opened #110699 "[KQL] Allow comparing the values for different fields"
**Describe the feature:**

It would be great if you could compare the values for different fields inside KQL, such as the following:

`geo.src = geo.dest` or `memory <= phpmemory`

This sort of thing should be possible using runtime fields.

[2021-08-31 18:33] elasticmachine commented on #110699
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 18:45] rylnd commented on #103944
@MikePaquette RE your performance concerns about PIT ([Keeping point in time alive](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/point-in-time-api.html#point-in-time-keep-alive)):

So it sounds like the impact here would be on storage and open handles. Reasonably small values (`1m` in general, rule.interval for rule executions) should minimize the impact here.

[2021-08-31 18:45] EricDavisX opened #110700 "[Security Solution] Pre-Built Rules are not auto-loaded into the stack in this case, of the O11y Team test clusters"
**Describe the bug:**
After the below issue was implemented,
https://github.com/elastic/security-team/issues/203
 ...we intend the Elastic org existing pre-built Rules to be auto-loaded into the stack when an Endpoint first connects to the stack, if they are not already.  It is not happening for the one Observability Team test clusters that I was working with today.  would love to help figure out

[2021-08-31 18:45] elasticmachine commented on #110700
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 18:55] elasticmachine commented on #110700
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-31 18:58] EricDavisX commented on #110700
@kevinlog mentions that @pzl worked it but he is out, I believe.

[2021-08-31 18:59] MadameSheema commented on #110700
@EricDavisX same issue was opened several days ago: https://github.com/elastic/kibana/issues/109385 and was closed as expected behavior.

@peluja1012 @rylnd can you please take a look at the ticket is pointing out elastic/security-team#203? We closed the same bug as the behavior was expected some days ago https://github.com/elastic/kibana/issues/109385, but taking into account that ticket looks li

[2021-08-31 19:22] EricDavisX commented on #110700
I think I was mis-understood.  The 'auto-enabling' vs 'auto-installing'... the terminology is similar but the intention is not and it is therefore hard to talk about.  I bet I just never noticed this is the way it has always worked.  I feel confident to close it myself reading into the linked tickets more.

Thanks @MadameSheema

[2021-08-31 19:22] #110700 closed

[2021-08-31 19:37] KSib opened #110707 "Dashboard iframe modal showing up in the wrong place"
**Steps to reproduce**

1. Embed an dashboard on a webpage with a large height. Let's say 5000px.
2. Have one of the visualizations near the top be a bar chart.
3. Click on one of the bars on the chart and the screen should appear to wash out. If you scroll down, surprise, there's a modal that says the following

![image](https://user-images.githubusercontent.com/1589238/131565050-e3a09995-87ae-49

[2021-08-31 19:43] tsullivan commented on #109949
Chromium provides Mac ARM builds for _nearly_ every revision of Chromium: https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Mac_Arm/

Currently the Reporting browser uses Puppeteer 8.2 which is targeted to Chromium revision 856583, which was build before Mac Arm builds were available.

In Puppeteer 10.0, the Chromium revision is 884014, which is probably similar

[2021-08-31 20:13] lukeelmers commented on #89584
@azasypkin Yeah, agreed it makes sense to keep `interactiveSetup` disable-able. I updated the list above.

@mshustov I'm not entirely sure this is the case -- once we remove the implicitly added `enabled` option that Josh mentions above, this would also affect 3rd party plugins too. But I'll move this thread over to https://github.com/elastic/kibana/issues/110614 and add some thoughts there for us

[2021-08-31 20:20] spalger commented on #110422
I figured the issue because `no-restricted-imports` is being overridden in a few places, but even when removing all the overwrites this still doesn't work... It seems there might be an actual issue with the rule definition, and the fact that some plugins what custom versions of the rule I think it might be a good idea to extend the `@kbn/eslint/module_migration` to support what we need.

[2021-08-31 20:21] jportner commented on #109544
We decided to move forward and merge #109425.

As @legrego mentioned in https://github.com/elastic/kibana/pull/109425#issuecomment-909357906, we need to prioritize a cohesive plan for addressing prototype pollution, and we'll do so in #58040.

[2021-08-31 20:21] #109544 closed

[2021-08-31 20:37] softengchick commented on #110582
Decided on:
Memory Threat Prevention
Memory Threat Detection
It will be in the next BC.

Discussion: https://github.com/elastic/endpoint-dev/pull/9567

https://github.com/elastic/endpoint-dev/issues/9509
https://github.com/elastic/endpoint-dev/issues/9510
https://github.com/elastic/endpoint-dev/issues/9508

[2021-08-31 20:39] softengchick commented on #110585
Decided on:
Memory Threat Prevention
Memory Threat Detection
It will be in the next BC.

Discussion: https://github.com/elastic/endpoint-dev/pull/9567

[2021-08-31 20:40] lukeelmers commented on #110614
Cross-posting @mshustov's comment from https://github.com/elastic/kibana/issues/89584#issuecomment-909375831:

These changes will still affect 3rd party plugin devs in that plugins without config schemas will no longer be disable-able. So ideally we are logging deprecation warnings for:
1. Plugins which currently define a config schema that has an `enabled` property. These will just be 1st party /

[2021-08-31 20:40] ferullo commented on #109376
@stanek-michal is this be fixed in the BC build today/yesterday?

[2021-08-31 21:00] tsullivan opened #110718 "[Reporting] the `timeouts.renderComplete` setting does not trigger while waiting for rendering"
Reporting has 3 settings that control how long Reporting waits for different stages of the page loading before capturing the screenshot:

## How the timeout settings are supposed to be used in the code
Stage 1: opening the URL: `xpack.reporting.capture.timeouts.openUrl`
  - Area of code:
  `x-pack/plugins/reporting/server/lib/screenshots/open_url.ts`

Stage 2: wait for visualization containers to

[2021-08-31 21:00] elasticmachine commented on #110718
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-08-31 21:06] neptunian opened #110719 "[Stack Monitoring] Clicking on pipelines tab from logstash node view responds with socket hangup error"
- Go to Logstash nodes page
- Click an individual node from the list
- Click on the pipelines tab

![Screen Shot 2021-08-25 at 11 14 42 AM](https://user-images.githubusercontent.com/1676003/131575482-f4b60436-5926-455b-b7c0-15e46a8b8b84.png)

[2021-08-31 21:06] elasticmachine commented on #110719
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-08-31 21:29] simianhacker commented on #96800
@ravikesarwani For the KQL auto complete fields, do we want to just get the fields from the SM index patterns? OR do we want to use a curated list of fields?

[2021-08-31 21:33] tylersmalley commented on #60528
Blocked, at least, on https://github.com/bazelbuild/rules_nodejs/issues/1599

[2021-08-31 21:39] stanek-michal commented on #109376
@ferullo It should be fixed in BC4. I'll test it again as soon as BC4 is available.

[2021-08-31 21:46] sqren opened #110726 "[APM] Fix bucket size in alert previews"
Currently when creating an alert the preview is misleading since it doesn't accurately depict the interval that is used to decide whether an alert should fire or not.

In the following screenshot the `FOR THE LAST` value is "1 minute" but the interval (bucket size) used in the histogram is 1 second.

![image.png](https://zube.io/files/elastic/77c5145c3d2da96adb97702148f1abc6-image.png)

**Solution

[2021-08-31 21:46] elasticmachine commented on #110726
Pinging @elastic/apm-ui (Team:apm)

[2021-08-31 21:46] jasonrhodes commented on #110519
Let me make sure I understand this with an example:

* 09:00 - Indices bootstrapped, "alerts-001" is the backing index for write alias "alerts"
* 09:45 - Alert triggered and created, written to "alerts" (backed by "alerts-001" with ID "A100")
* Every 5 min from 09:45-11:00, Alert A100 is still active and the document is updated inside the alerts-001 index
* 11:00 - For whatever reason, a rollover

[2021-08-31 22:05] poffdeluxe commented on #105036
Here's an additional video with console logging of the drag gesture output.
https://recordit.co/xIgP2YIvUq

[2021-08-31 22:41] sqren opened #110733 "[APM] `apm_oss.indexPattern` should be deprecated"
`apm_oss.indexPattern` is no longer needed since it can be automatically inferred from the other options:

[code]

Doing the above will also solve an issue some users were seeing, where they configured their APM indices (like `apm_oss.transactionIndices`) via the UI but forgot to update `apm_oss.indexPattern` (which is only configurable kibana.yml).

To preserve backwards compatibility `apm_oss.in

[2021-08-31 22:41] elasticmachine commented on #110733
Pinging @elastic/apm-ui (Team:apm)

[2021-08-31 22:41] sqren commented on #64768
Replaced by https://github.com/elastic/kibana/issues/110733

[2021-08-31 22:41] #64768 closed

[2021-08-31 22:51] lukeelmers commented on #109189
@FrankHassanabad @spong Any thoughts on the approach described above? Basically:
- Add an `onExport` transform to add some sort of `disabled` property to your objects
- Add an `onImport` hook looking for this property, and if it exists add a warning that directs to the security solution app
- Then in the security solution app, handle whatever business logic you need to address before removing the

[2021-08-31 23:00] #91885 closed

[2021-08-31 23:06] sqren commented on #110333
@dgieselaar Sounds like a plan 👍

[2021-08-31 23:12] ycombinator commented on #109960
@afharo I want to clarify this part a bit.

So Cloud Billing's use case for this API is to know which features, e.g. Reporting, were being used between a start and end timestamp. This is because there is a process we run (roughly every hour, but could vary) that calls this API and asks the question: give me the telemetry usage stats between the last time I ran (`timeRange.min`) and now (`timeRange

[2021-08-31 23:39] #107083 closed

[2021-08-31 23:39] #108084 closed

[2021-08-31 23:40] #107084 closed

[2021-08-31 23:44] marshallmain opened #110735 "[Security Solution] Build an API to run one-off rule executions"
The rule preview feature of the Security Solution is an immensely useful and popular tool. However, the previews are generated by making queries directly to Elasticsearch rather than using the rule executor logic, which requires us to reimplement rule logic for each rule type that we want to provide previews of. There's an [existing task](https://github.com/elastic/security-team/issues/1451) to pr

[2021-08-31 23:44] elasticmachine commented on #110735
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-08-31 23:44] elasticmachine commented on #110735
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-08-31 23:49] bellaxievmlyr opened #110736 "License is not available"
**Kibana version:**
It's the cloud version, part of the url to log in is https://e8d6******2e06785e4.ap-southeast-2.aws.found.io/

**Elasticsearch version:**

**Server OS version:**

**Browser version:**
Chrome Version 92.0.4515.159

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
When log in, go to Discover, I got pop up er

[2021-08-31 23:59] FrankHassanabad commented on #109189
Appreciate all the context and information everyone has provided here. Thank you. I read through the comments twice to make sure I understood the history and decisions behind why the choices were made.

Today we have an existing format for exports and imports that we use directly on the `security_solution` detections page as well as a REST API specific for it. We created the `security_solution` al

[2021-08-31 23:59] alisonelizabeth opened #110737 "[Upgrade Assistant] Support "success" state on overview page"
The "Overview" page in Upgrade Assistant currently displays a list of steps using the `EuiSteps` component, all of which hard-code the state to "incomplete".

We should be able to determine whether each step is complete and update the UI accordingly with the following logic:
- Back up step is completed on Cloud when there are snapshots
- Reindex system indices will be completed when they’ve all be

[2021-08-31 23:59] elasticmachine commented on #110737
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-01 00:58] yiyangliu9286 commented on #108939
The conclusion that has been decided in #94010 as using `Activated` as the toggle label works based on the `EuiSwitch` guideline. There is an updated [guideline PR](https://github.com/elastic/eui/pull/5119) specifically talks around when / how to apply label to `EuiSwitch`.

For fwiw, just an fyi, in the future there might be thinkings around keeping the label consistent in Stack Rules and Connect

[2021-09-01 01:49] marshallmain commented on #78599
Closed by https://github.com/elastic/kibana/pull/106494

[2021-09-01 01:49] #78599 closed

[2021-09-01 02:11] bradenlpreston commented on #110585
thanks @softengchick - naming is hard.

[2021-09-01 02:29] jbudz commented on #110675
This can be reproduced locally by hitting the login page with invalid credentials.

For a little more context on this, we've seen CI test logs go from 50 mb -> 170mb with about 80,000 auth failures.  It's not quite clear to me why we have so many forbidden requests attempted, but I do know a portion are intentional.

cc @elastic/kibana-operations

[2021-09-01 02:37] EricDavisX commented on #109799
@kpollich @hop-dev it looks like one use case is re-opened, if you still want to aim for 7.15 it is fine by me, same theory for now, if we understand the change and test it well and it is happily reviewed, might as well backport.

[2021-09-01 03:31] hilt86 opened #110746 "Threema Gateway notification support"
We're using Threema work for our organization and would like to request support for Threema Gateway (Basic mode) for notifications within Kibana.

See docs at https://gateway.threema.ch/en/developer/api

This would enable us to receive notifications from Elastic / Kibana through the Threema app.

[2021-09-01 03:56] #110607 closed

[2021-09-01 04:01] #110152 closed

[2021-09-01 05:51] YulNaumenko commented on #109917
The specification states that Client Credentials Grant SHOULD NOT return a refresh token: https://datatracker.ietf.org/doc/html/rfc6749#section-4.4
To get a new token simply initiate another Client Credentials Grant flow to the `/oauth/token endpoint`. There is no user interaction involved, so your application can do this at any time.
Here is definitely a benefit with no need to manage store for a

[2021-09-01 05:53] SirJonasStalder commented on #7499
+1

[2021-09-01 06:14] stratoula commented on #59188
We don't plan to male this change for the legacy visualizations so I am closing this

[2021-09-01 06:14] #59188 closed

[2021-09-01 06:41] #110333 closed

[2021-09-01 07:05] academo commented on #100296
This test is back as it was after running them several times manually and on CI it is working as expected https://github.com/elastic/kibana/pull/110494

[2021-09-01 07:14] katrin-freihofner opened #110758 "[RAC] Alerts view in Observability UI performance"
...probably also affects Security

**Kibana version**:
Internal edge cluster; Chrome Version 92.0.4515.159 on Mac

**Description of the problem including expected versus actual behavior**:
There is a noticeable lag when interacting with the UI.

This video shows that when scrolling and hovering one of the alerts, the hover state takes ~2 sec to show up.
![alerts-small](https://user-images.githubus

[2021-09-01 07:14] elasticmachine commented on #110758
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 07:14] elasticmachine commented on #110758
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-01 07:25] katrin-freihofner commented on #109384
Will be solved by https://github.com/elastic/kibana/issues/110655

[2021-09-01 07:25] #109384 closed

[2021-09-01 07:29] mgiota commented on #110586
@cyrille-leclerc This is not a bug. It is a known issue and there were discussions around the topic. At the moment we only have the option to index only one value for threshold and actual value. With inventory rule types we have multiple conditions so we need to change the way we index these values.

@weltenwort Created a proposal regarding indexing multiple thresholds and actual values. Can you p

[2021-09-01 07:30] jgowdyelastic commented on #110681
The datafeed preview all happens in elasticsearch now, so this would need to be a backend change to support composite runtime fields.
This issue just covers UI components, there is no mention of whether AD or DFA jobs or transforms can actually be created using these fields, is that outside of the scope of this issue?

[2021-09-01 07:46] stratoula opened #110761 "[Lens] Remove ts-ignore"
We get a TS error in the `indexpattern_datasource/operations/definitions/index.ts` file on `columnParams?: (IndexPatternColumn & C)['params']`. The error is:

`Expression produces a union type that is too complex to represent.`

For now we added a `ts-ignore` as this not exactly an error, TS can't dig into such depth but we should try to solve it and remove the @ts-ignore lines.

[2021-09-01 07:46] elasticmachine commented on #110761
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-01 08:05] jloleysens commented on #110483
@tsullivan yeah, I'll take a look!

[2021-09-01 08:05] elasticmachine commented on #110605
Pinging @elastic/kibana-security (Team:Security)

[2021-09-01 08:07] kibanamachine commented on #109518
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/91/)

[2021-09-01 08:11] muskangulati-qasource commented on #109248
Hi @kevinlog,

We tested this ticket & found that the issue is fixed on the 7.15.0-BC3 environment. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![Isolate](https://user-images.githubusercontent.com/60252716/131636295-f37d4524-7707-4380-a1fa-9594ebc10b8c.JPG)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-09-01 08:11] #109248 closed

[2021-09-01 08:12] ruflin commented on #108993
My understanding is, that we still need the API at one point the urgency is a bit lower. @joshdover Can you jump in here as you likely know both "sides" better.

[2021-09-01 08:13] mgiota commented on #110519
@jasonrhodes I was about to comment about this line https://github.com/elastic/kibana/blob/master/x-pack/plugins/rule_registry/server/rule_data_client/rule_data_client.ts#L124, where we explicitly specify the `alias` which would end up in problems and then I saw your message, which I guess confirms my thoughts as well.

Indeed if the write uses the `alerts` alias I think it will happen what you de

[2021-09-01 08:17] sqren commented on #110292
Related: [By default, a plugin should not be disable-able](https://github.com/elastic/kibana/issues/89584)

[2021-09-01 08:17] muskangulati-qasource opened #110762 "[ Enhancement ] Logs should be consistent for all the protection types"
**Description:**
Logs should be consistent for all the protection types

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions**
1. Elastic 7.15.0 environment should be deployed.

**Steps to Reproduce**
1. Navigate to the Endpoints Tab
2. Click on the status of the policy, say: success.
3. Observe the logs for different protections

**Impacted Test case:**
N/A

**Actual Result:**
Lo

[2021-09-01 08:17] elasticmachine commented on #110762
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-01 08:34] VladLasitsa commented on #105577
@stratoula , @sunj1 I think my PR(#101574) was fixed this problem. I cannot reproduce it on master. Should I close this issue?

[2021-09-01 08:40] stratoula commented on #105577
Yes it seems to have been fixed, let's close it

[2021-09-01 08:40] #105577 closed

[2021-09-01 08:41] mgiota commented on #110519
Before jumping into the implementation I did a bit of testing on Kibana Dev tools with the suggested queries. On purpose I tested the scenario that multiple indices were writable at the same time and as I would expect I got this error.

[code]

I don't know much about the internal implementation, so I was wondering if we already prevent having multiple write indices at the same time. My guess is t

[2021-09-01 09:06] weltenwort commented on #110758
:thinking: As a first guess this likely comes down to the way the table and cells are rendered. We should investigate the causes for superfluous re-renders and reduce them using memoization and similar optimizations.

[2021-09-01 09:07] weltenwort commented on #110758
What browser in which version were you using when making the recordings?

[2021-09-01 09:08] sqren commented on #110758
I can also reproduce this behaviour in latest version of Chrome. Ran the react profiler when clicking a single checkbox and got this flamegraph:

![image](https://user-images.githubusercontent.com/209966/131642030-4eed6262-2733-43dc-9669-a9aedd4cefab.png)

What stands out to me is the number of empty react commits which can be seen in the top left corner of the screenshot. There are 71 commits in

[2021-09-01 09:10] weltenwort commented on #110519
@jasonrhodes yes, that's correct

[2021-09-01 09:15] weltenwort commented on #110758
@sqren thanks for reproducing. We'll probably have to dig into how the t-grid performs state management internally.

[2021-09-01 09:23] afharo commented on #110675
I've implemented the option 3 in #110767, because it's the least _intrusive_ change.

However, I don't think that we should close this issue until we have a long-term solution (hacking an internal property it's very likely to break in the future).

[2021-09-01 09:40] machadoum commented on #109421
I couldn't reproduce it on master. I believe that it was fixed by https://github.com/elastic/kibana/pull/109269

[2021-09-01 09:53] machadoum commented on #109427
I am not able to reproduce it on master. I tested it on chrome 92.0.4515.159, safari 14.1.1, and Firefox 91.0.2.

[2021-09-01 10:01] dej611 opened #110771 "[Lens] Passing from default to custom palette, when using numeric stops, breaks the coloring"
**Describe the bug:**

Passing from default to custom palette, while in `Number` mode, makes all colored cells get the maximum color value (`above` continuity).

**Steps to reproduce:**
1. Enable conditional coloring for a table
2. Switch from `Percent` to `Number` mode
3. Change the current palette to `Custom` from the picker
4. 💥
5.
<img width="973" alt="Screenshot 2021-09-01 at 12 00 19" src="h

[2021-09-01 10:01] elasticmachine commented on #110771
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-01 10:07] karanbirsingh-qasource commented on #109427
HI @machadoum

we have retested and found it still occuring on our hardware machines.

The Horizontal scroll bar is not present in the full screen mode . Make to sure add more field on alert list let say 16 . That way you can check you were not able to read all 16 field data due to no horizontal bar , plus with browser zoom out field start showing but becomes unreadable.

we will re-test the issue

[2021-09-01 10:10] #99072 closed

[2021-09-01 10:10] #99625 closed

[2021-09-01 10:14] manishgupta-qasource commented on #110762
Reviewed & assigned to @ferullo

CC: @kevinlog

[2021-09-01 10:19] #107641 closed

[2021-09-01 10:38] konstantin-kornienko opened #110778 "Only superusers can search searches"
**Kibana version:**
7.14.0

**Elasticsearch version:**
7.14.0

**Server OS version:**
Ubuntu 18

**Browser version:**
Chrome latest

**Browser OS version:**
Windows 10

**Original install method (e.g. download page, yum, from source, etc.):**
apt

**Describe the bug:**
For regular users global search fails to find searches.
Actually it works, but only once.

**Steps to reproduce:**
1. Login to kib

[2021-09-01 10:41] mshustov commented on #110675
They are configured differently. The `non-scoped` client uses default credentials. https://github.com/elastic/kibana/blob/fca581697afacc4d4de00b1fd9f288e21abad3d4/src/core/server/elasticsearch/client/client_config.ts#L79-L88

This option is viable only if we perform a request to a route that doesn't require `authc` because `scoped` client doesn't use default credentials.

Option 3 looks like a cor

[2021-09-01 10:43] konstantin-kornienko commented on #110778
**Search works for superuser**
![search-works-for-superuser](https://user-images.githubusercontent.com/50887992/131657809-a9bd9dc8-0057-42c7-afdd-76b8bbf0782f.png)

**Same search for generic user**
Please note that backend responds correctly, but results aren't presented.
![image](https://user-images.githubusercontent.com/50887992/131658051-b683c0be-ec13-450e-9640-1c95d2e877a7.png)

[2021-09-01 10:47] afharo commented on #109960
That's kind of the reason we preferred to remove the concept of time from this API. AFAIK, this API has never returned the usage stats between `min` and `max` (as in the _delta_ between `min` and `max`). It always returns the full snapshot. In the Reporting use case: [the collector](https://github.com/elastic/kibana/blob/master/x-pack/plugins/reporting/server/usage/get_reporting_usage.ts) reports

[2021-09-01 11:03] afharo commented on #110675
In that case, I'll link this issue to the PR I raised, so when it's merged, it'll close this issue.

[2021-09-01 11:07] deepikakeshav-qasource opened #110780 "[Security Solution][Question] Threat.indicator fields are displaying after migrate the index when upgrade the build from 7.14.0 to 7.15.0"
**Describe the bug**
Threat.indicator fields are displaying after migrate the index when upgrade the build from 7.14.0 to 7.15.0

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Filebeat should be installed
3. Indicator alerts should be created in previous build 7.14.0

**Steps to Reproduce**
1. Upgrade the build to current build  7.15

[2021-09-01 11:07] elasticmachine commented on #110780
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 11:08] deepikakeshav-qasource commented on #110780
@manishgupta-qasource Please review

[2021-09-01 11:10] sqren commented on #89985
Parent issue closed.

[2021-09-01 11:10] #89985 closed

[2021-09-01 11:12] manishgupta-qasource commented on #110780
Reviewed & assigned to @MadameSheema

[2021-09-01 11:15] timroes commented on #110668
This is simply the focus state of the button. After clicking a button (or selecting it via keyboard), i.e. focusing it, it will show in it's focus state to indicate that this is the focused element (that will be tiiggered using <kbd>Enter</kbd>).

In rare cases we don't see that behavior because we move the focus to some other element, e.g. the very same button when "Showing the chart" we should f

[2021-09-01 11:15] #110668 closed

[2021-09-01 11:17] rudolf commented on #109189
Could this validation be performed by a synchronous function or would you need e.g. the saved objects client to run a query to enforce this?

[2021-09-01 11:18] kibanamachine commented on #60559
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16702/)

[2021-09-01 11:34] miltonhultgren commented on #110587
I guess we should also pair this with the kind of improvements Jason mentioned in one of our meetings, to work similar to Github where interacting with filters on the screen helps you build the query in the query bar.

[2021-09-01 12:04] katrin-freihofner commented on #110758
I tested on Chrome, I added the version to the issue description.

[2021-09-01 12:05] joshdover commented on #78968
@horvatal I believe the runtime will also respect any system-wide installed CAs, though in the context of ECE this would mean any CAs installed into the Kibana docker images.

We have [documentation here](https://www.elastic.co/guide/en/cloud-enterprise/current/ece-include-additional-kibana-plugin.html#ece-create-modified-docker-image) about how to add custom Kibana plugins to a custom docker imag

[2021-09-01 12:06] MiriamAparicio commented on #110204
@formgeist I'm finding also other small differences between table lists. I can add them here or put all together in a document. What do you prefer?

[2021-09-01 12:07] #110675 closed

[2021-09-01 12:07] kibanamachine commented on #51044
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16552/)

[2021-09-01 12:08] kertal commented on #110667
definitely!

[2021-09-01 12:09] mshustov commented on #110082
nodejs supports this functionality via [setSecureContext](https://nodejs.org/api/tls.html#tls_class_tls_server)
[code]
Although, an additional investigation is required to make sure Hapi supports this functionality. We might end up contributing this functionality to Hapi.

We could re-create a new client instance and update references to them https://github.com/elastic/kibana/blob/fca581697afacc4d

[2021-09-01 12:09] formgeist commented on #110204
I think if it pertains to the loading message or loading experience, we can put it in this issue. Otherwise, perhaps we should open a new issue for anything else that might have come up? How does that sound?

[2021-09-01 12:12] joshdover commented on #82851
@alexfrancoeur I don't believe so as we are still installing these assets by default. The difference is that now when a user opens one of these dashboards, if there isn't any data yet ingested, they'll be redirected to the index pattern setup flow (which will prompt them to add data).

I believe we still need to explore the UX options in #108456 before we will be able to close this issue.

[2021-09-01 12:21] kibanamachine opened #110789 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/delete·ts - alerting api integration security and spaces enabled Alerts alerts delete space_1_all_alerts_none_actions at space1 should handle delete alert request appropriately"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16703/)

[2021-09-01 12:30] pmuellr opened #110792 "[alerting] apiKey invalidation task gets "unable to decrypt" error"
**Kibana version:** 7.13.1

**Describe the bug:**

Seen in logs:

[code]

**Steps to reproduce:**
1. unknown

The task body is here: https://github.com/elastic/kibana/blob/3a434d710e14dcdac15f5b78cfac48d887502e60/x-pack/plugins/alerting/server/invalidate_pending_api_keys/task.ts#L118-L186

Not clear to me how this could happen, I guess we need to look for some race conditions?  Also checking if th

[2021-09-01 12:36] elasticmachine commented on #110792
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-01 12:40] afgomez commented on #109375
This was solved in #109269

[2021-09-01 12:40] #109375 closed

[2021-09-01 12:41] elasticmachine commented on #110789
Pinging @elastic/kibana-security (Team:Security)

[2021-09-01 12:41] afgomez commented on #108432
This was fixed in #109269

[2021-09-01 12:41] #108432 closed

[2021-09-01 12:42] snide commented on #110758
Just popping in to note that @XavierM and @andrew-goldstein and @kevino have been meeting with @chandlerprall since last week on this issue. I'm not certain about timing, but it's even more prevalent in the Security grid because of the larger amount of cells and actions they render. My understanding is that there's optimizations to be made around `tabable` and the actions hover state (also sounded

[2021-09-01 12:52] miltonhultgren commented on #110758
Didn't we recently remove the fixed height from our table? That might have broken the virtual scrolling that was in place.

From working on building a similar table at my last job the recommendation of trying to reduce the number of rows is all too familiar.

[2021-09-01 12:54] afharo commented on #13649
cc @mattkime as he's the expert in Index Patterns and was looking at this issue.

[2021-09-01 12:54] elasticmachine commented on #13649
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-01 12:56] mshustov commented on #110433
It looks like a plugin performing a request to the Elasticsearch server doesn't handle an exception.
It's hard to debug the problem without an error reproduction scenario or error stack. I'm not even sure we will get the error stack once the ES client drops callback-style API. (see https://github.com/elastic/elasticsearch-js/issues/1542)
Have you seen any other log records with `read ECONNRESET` b

[2021-09-01 13:03] elasticmachine commented on #110789
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-01 13:03] miltonhultgren commented on #110758
(Likely over-communicating, sorry)

Beyond fixing the bad data re-renders and enabling virtualization again, keeping the amount of rows and columns down was really key at my last job (we built a table like this). To do that we needed :
1. Data priority (allows smaller row counts by sorting on "do this first" use cases on page load, like high impact alerts, always nice to guide user action)
2. Sear

[2021-09-01 13:05] banderror opened #110795 "[RAC][Rule Registry] Index bootstrapping: make index upgrade logic compatible with adding field aliases and runtime fields to old indices for backwards compatibility"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016
**Related to:** https://github.com/elastic/kibana/issues/109293

## Summary

**(Address before the next release that makes any mapping changes, possibly as soon as  7.15.1)**

Work on improving the index upgrade logic because upgrading the mappings in place is potentially incompatible with the plan to add field aliases and runtime

[2021-09-01 13:05] elasticmachine commented on #110795
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 13:05] elasticmachine commented on #110795
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 13:06] #110652 closed

[2021-09-01 13:17] ghudgins commented on #94603
+1 https://discuss.elastic.co/t/how-can-kibana-compare-two-fields/282918/5

[2021-09-01 13:21] banderror opened #110798 "[RAC][Rule Registry] Add tests for changes in the schema"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016
**Related to:** https://github.com/elastic/kibana/issues/109293

## Summary

**(Immediately after 7.15.0)**

Add tests that compare the 7.15 shipped schema to the 7.16+ schema in development to ensure that the existing schema can be upgraded properly.

Ideas:

- there would be 1 test per 1 index (or in different words per rule regi

[2021-09-01 13:21] elasticmachine commented on #110798
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 13:21] elasticmachine commented on #110798
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 13:30] ravikesarwani commented on #96800
@simianhacker I think keeping it versatile but simple for the most common use cases maybe the best option here.
In that perspective I was thinking we get the fields from the SM index pattern (versatile) but also provide some way for the user to quickly be able to add include/exclude filter for cluster and node (at least that’s the most common use cases I have seen asks for).
Maybe we provide some

[2021-09-01 13:33] banderror opened #110800 "[RAC][Rule Registry] Write an RFC for index bootstrapping and backwards compatibility"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016
**Related to:** https://github.com/elastic/kibana/issues/109293

## Summary

Document the use case and desired behavior around index bootstrapping enhancements and solution for backwards compatibility in an RFC. Topics to cover:

- Index upgrade logic. When and how should we update existing concrete indices VS rolling over / creati

[2021-09-01 13:33] elasticmachine commented on #110800
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 13:33] elasticmachine commented on #110800
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 13:39] kibanamachine opened #110801 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update·ts - alerting api integration security and spaces enabled Alerts alerts update "after all" hook in "update""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16704/)

[2021-09-01 13:44] jonathan-buttner opened #110802 "[Security Solution][Detections] Exclude _ignored field when merging fields and _source"
The detection engine can be configured to merge the results for the `fields` and `_source` together when bulk creating the alerts. It is possible for Elasticsearch to populate a field called `_ignored` to indicate the fields in a document that were not indexed: https://www.elastic.co/guide/en/elasticsearch/reference/master/mapping-ignored-field.html

When this field is combined with `_source` the

[2021-09-01 13:45] elasticmachine commented on #110802
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 13:51] #109846 closed

[2021-09-01 13:52] banderror opened #110804 "[RAC][Rule Registry] Add tests for RuleDataService and RuleDataClient"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

The indexing logic of Rule Registry (RuleDataService and RuleDataClient) is not covered with tests, not well tested and its quality and stability is unknown.

We need to cover it with integration and unit tests, checking:

- initial index bootstrapping
- subsequent index bootstrapping with the same parameters
- subsequ

[2021-09-01 13:52] elasticmachine commented on #110804
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 13:52] elasticmachine commented on #110804
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 13:59] ogupte opened #110806 "[APM] Use default values defined in APM integration package for fleet"
The APM package in the integration package registry defines default values for input vars which become settings in when the user edits the integration in fleet. These defaults are not currently being used (https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/routes/fleet/get_apm_package_policy_definition.ts) and only default to an empty string currently for all values except `apm-

[2021-09-01 14:00] elasticmachine commented on #110806
Pinging @elastic/apm-ui (Team:apm)

[2021-09-01 14:00] banderror opened #110807 "[RAC][Rule Registry] Update README"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

`README` in `rule_registry` plugin is out of date and needs to reflect all the recent changes:

- made to the API of `RuleDataService`
- made to RBAC and RBAC-related endpoints
- in the schema
- in the behaviour that are important to know

If documenting some of these things would be too much of an effort (e.g. documen

[2021-09-01 14:00] elasticmachine commented on #110807
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 14:01] kibanamachine commented on #53442
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16553/)

[2021-09-01 14:01] kibanamachine commented on #53442
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16553/)

[2021-09-01 14:01] kibanamachine commented on #110038
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16555/)

[2021-09-01 14:04] banderror opened #110808 "[RAC][Rule Registry] Applying aliases/runtime fields to old indices for backwards compatibility"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016
**Related to:** https://github.com/elastic/kibana/issues/109293

## Summary

**(When we need it)**

Implement the logic to apply field aliases or runtime fields to old AAD indices per version. If the schema does not require major changes, this may not be needed for a while.

## Background

The background for this is our discussions

[2021-09-01 14:04] elasticmachine commented on #110808
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 14:04] elasticmachine commented on #110808
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-01 14:06] cyrille-leclerc opened #110809 "[APM] Bug with Transaction Latency Threshold rule"
### Kibana version

7.15 BC3 on ESS

### APM Server version (if applicable)

7.15 BC3

### Elasticsearch version (if applicable)

7.15 BC3

### Steps to Reproduce

* Create an APM Transaction Latency Threshold rule via the APM Transaction screen ensuring `environment:production` is specified and save it
* Navigate to Stack Management / Rules and Connectors
* Edit the rule and see the configuration

[2021-09-01 14:06] elasticmachine commented on #110809
Pinging @elastic/apm-ui (Team:apm)

[2021-09-01 14:08] nreese commented on #40401
Changing label from enhancement to bug and adding 7.16 label. This is causing a lot of confusion and should be fixed in the near term

[2021-09-01 14:10] afharo commented on #110433
I tried to hunt it and, unfortunately, I found too many places:
- Timelion's start method calls a promise that is not handled: https://github.com/elastic/kibana/blob/master/src/plugins/timelion/server/plugin.ts#L71
- APM uses `async/await` in the `.then` after `core.getStartServices()`: https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/server/plugin.ts#L215-L244
- Same type of usage

[2021-09-01 14:13] cyrille-leclerc opened #110810 "[APM - Error Count Threshold Rule] Exception"params invalid: [transactionType] definition for this key is missing" when creating an Error count threshold rule"
### Kibana version

7.15 BC3 on ESS

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

* Navigation to an APM Transaction screen specifying an environment (eg production)
* Create an "Error count threshold" rule and try to save it

### Expected Behavior

The rule is successfully saved

### Actual Behavior

Failu

[2021-09-01 14:13] elasticmachine commented on #110810
Pinging @elastic/apm-ui (Team:apm)

[2021-09-01 14:22] afharo commented on #110513
related to #110677

[2021-09-01 14:25] weltenwort commented on #110758
@snide thanks for the cross-team information. I assume any optimizations made by the security team in the shared underlying t-grid should benefit us too.

[2021-09-01 14:26] machadoum commented on #109427
You are absolutely right! It only showed up to me because I have a magic mouse, so I can scroll horizontally. I am taking a look at it.

[2021-09-01 14:30] elasticmachine commented on #53442
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-01 14:31] elasticmachine commented on #110801
Pinging @elastic/kibana-security (Team:Security)

[2021-09-01 14:34] elasticmachine commented on #110801
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-01 14:35] #110532 closed

[2021-09-01 14:41] #109888 closed

[2021-09-01 14:42] gmmorris commented on #101018
Thanks @Kushmaro , I don't know much about how these things are configured.... would this be specific to the monitoring deployment or the rule?
Could a _monitoring deployment_ monitor multiple other deployments? Or would all the rules in a single _monitoring deployment_ all monitor the same deployment?
If it's the latter, I assume we're still talking about something that's passed in via _kibana.ym

[2021-09-01 14:45] gmmorris commented on #55340
This would mean that failed actions appear in the Task Manager health stats as successful....
So if Email actions fail 100% of the time they will appear in the health stats as 100% successful.

Can we live with that?
I feel like doing this, while not having a proper Event Log UI, means we will make it even harder for ourselves when diagnosing issues in customer deployments. 😟

[2021-09-01 14:47] nchaulet commented on #108968
I started to implement the preconfigure API and I think we will have the same issues that preconfigured agent policies has here (https://github.com/elastic/kibana/issues/110533) once we have the UI to edit outputs.

I think we should agree on what behavior we should implement:
1. if the output is preconfigured it's not possible to edit through the UI, (I personally like that one it make things rea

[2021-09-01 14:52] mshustov commented on #110433
Yeah, I'm not sure we are able to find all such cases.
An email is a good start to draw attention to the problem. In the long run, we should provide recommendations on error handling https://github.com/elastic/kibana/issues/99568 IIRC @kobelb said he could do it later when he had some free time.

[2021-09-01 14:56] kpollich commented on #108968
On my first read, this seems like the best option to me. Seems like this option leaves the least room for breakage and complexity, and keeps thing as strict as possible.

[2021-09-01 15:00] cauemarcondes commented on #109946
Closing this in since it's going to be handled on https://github.com/elastic/kibana/issues/110806

[2021-09-01 15:00] #109946 closed

[2021-09-01 15:01] cyrille-leclerc opened #110821 "[APM - Alerting] Transaction Latency Threshold Rule never fires"
### Kibana version

7.15 BC3 on ESS

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

* Instrument a demo transaction with an average latency above 100ms
* Navigate to the APM transaction screen specifying the right environment
* Create an APM Latency threshold rule with a very low threshold (e.g. 10ms)
* Verif

[2021-09-01 15:01] elasticmachine commented on #110821
Pinging @elastic/apm-ui (Team:apm)

[2021-09-01 15:06] dasansol92 commented on #92693
PR to fix nested package object: https://github.com/elastic/kibana/pull/1108

[2021-09-01 15:07] mshustov commented on #109910
Do I understand correctly that we should keep the docs in both legacy `*.asciidoc` and new `*.mdx` formats? Because if we port the documentation from the legacy format to the new one, it will disappear from the elastic website. At the same time, https://docs.elastic.dev/  requires authentication and doesn't seem to be indexed by search engines. cc @stacey-gammon

[2021-09-01 15:11] #109468 closed

[2021-09-01 15:11] #109469 closed

[2021-09-01 15:16] andrew-goldstein commented on #110758
The EUI team is tracking the `tabable` and hover action state bottlenecks in datagrid identified by @chandlerprall and @snide last week in the following issues:

- [[EuiDataGrid] Optimize tabbable usage #5115](https://github.com/elastic/eui/issues/5115)
- [[EuiDataGrid] cell actions are always rendered #5116](https://github.com/elastic/eui/issues/5116)

@chandlerprall joined the Threat Hunting tea

[2021-09-01 15:16] kibanamachine opened #110827 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/delete·ts - alerting api integration spaces only Alerting delete should handle delete alert request appropriately"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16706/)

[2021-09-01 15:29] #108729 closed

[2021-09-01 15:35] mikecote commented on #110096
We should check with solution teams if this would become breaking behaviour.

[2021-09-01 15:36] mikecote commented on #110080
May relate to https://github.com/elastic/kibana/issues/110096

[2021-09-01 15:38] MadameSheema commented on #109419
@deepikakeshav-qasource can you please take a look to the fix of this issue on the current BC? Thanks

[2021-09-01 15:39] elasticmachine commented on #110827
Pinging @elastic/kibana-security (Team:Security)

[2021-09-01 15:40] elasticmachine commented on #110827
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-01 15:41] nchaulet commented on #107738
I think one of the easiest way to do this, will be to treat agent monitoring as other integrations = you can add elastic_agent integration to an agent policy to get agent monitoring.

[2021-09-01 15:52] ycombinator commented on #109960
Thanks for the detailed explanation and the summary table at the end, @afharo!

When you say "full snapshot", you mean the duration between when the Kibana server started up and the time of the API request (`now`), right?

[2021-09-01 15:57] FrankHassanabad commented on #110802
What I am going to do to fix this (see options below and why I choose this route):
* Create a new filterable `kibana.yml` key/value pair that is an array so we can filter these and any other new unexpected values out if we get any more SDH's. This array will be able to accept either plain strings or regular expressions
* Add to this filter all the keywords from [metadata fields](https://www.elasti

[2021-09-01 16:01] ravikesarwani commented on #101018
We recommend users to send their observability (logs and metrics) data to a separate monitoring cluster. In “production environments” most users will consolidate many production clusters observability data to a single monitoring cluster. Stack monitoring recommends and supports this scenario.

Having said that there are times when users still enable self monitoring (because of cost, simplicity or

[2021-09-01 16:02] spalger commented on #110038
4 failures in the last week, one in a PR to master and three in 7.x

![image](https://user-images.githubusercontent.com/1329312/131704564-fdf3a0d6-363b-46d3-9559-062c09cf32b4.png)

Skipping
master/8.0: https://github.com/elastic/kibana/commit/805706b8d546532b0a9a0116f66d57807611b4f9
7.x/7.16: https://github.com/elastic/kibana/commit/36c5e5d7ffc6f73859c2442c4183da5eede9d2a5

[2021-09-01 16:03] jonathan-buttner opened #110836 "[Cases] Extract timeline id from comment"
The core team has provided a way to build URLs to the kibana instance on the backend. To support this the user has to configure their kibana instance with a specific setting. This setting will be required in 8.x. To avoid having to resolve the timeline URL anytime the user clicks on the timeline in a case comment and to provide external services (jira, service now, etc) with the full URL we'll wan

[2021-09-01 16:09] jonathan-buttner commented on #110802
Yeah I agree this is probably the best path forward. @FrankHassanabad should we also make this option (and the `xpack.securitySolution.alertMergeStrategy` if it isn't already) available in cloud? I'm not sure how we'd work around this issue if it is a cloud customer right?

[2021-09-01 16:10] joshdover commented on #108968
+1 to this. Let's keep it simple to make it really easy to understand. Ideally, we'd have a tooltip or similar indicating that this output must be configured via the `kibana.yml` file.

I also think our first use case for this (the internal Cloud ES URL for the apm-server package) needs this output to not be editable anyways, so I think it makes sense to start with this behavior. I do wonder if we

[2021-09-01 16:15] dominiqueclarke opened #110839 "[Uptime] [Synthetics Integration] Add json option for heartbeat to Synthetics integration"
The `json` option is not currently supported by the Synthetics Integration.

The `json` key allows a list condition expressions executed against the body when parsed as JSON. Full documentation is available at https://www.elastic.co/guide/en/beats/heartbeat/current/monitor-http-options.html

We should add a UI component for users to configure these condition expressions, as well as add support in

[2021-09-01 16:25] spalger commented on #110827
Only two failures in the last 30 days, monitoring for now.

[2021-09-01 16:35] kibanamachine commented on #110801
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16707/)

[2021-09-01 16:45] TheRiffRafi opened #110844 "[Security Solution] Source.ip array values cause SIEM - Network - http tab to crash with ip.replace is not a function error"
**Describe the bug:**

If the source.ip field in an index being referenced by the "Network" section under SIEM contains an array value, the http tab causes the section to crash:

**Kibana/Elasticsearch Stack version:** 7.14.0

**Functional Area (e.g. Endpoint management, timelines, resolver, etc.):** SIEM

**Steps to reproduce:**

1. Create an index and document with the following config:

<detail

[2021-09-01 16:45] elasticmachine commented on #110844
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 16:47] dominiqueclarke commented on #106394
This comment will serve as a running summary of what has been resolved.

**Summary**
Some design issues I found in the exploratory view, the items in the list are in order of importance.

<hr>

- [ ] Show the Apply button permanently and remove the Autoapply

<hr>

- [ ] When the users add a new series, the accordion is missing, same for colors picker and chart type. How this should work is that w

[2021-09-01 17:06] #110628 closed

[2021-09-01 17:07] YulNaumenko commented on #109917
no need to have this dialog. Administrator can use a very nice button in the application configuration, which is doing basically the same stuff which described here https://docs.microsoft.com/en-us/graph/auth-v2-service#3-get-administrator-consent but for designing the own dialog.
<img width="1088" alt="Screen Shot 2021-09-01 at 10 04 50 AM" src="https://user-images.githubusercontent.com/55110838/

[2021-09-01 17:08] YulNaumenko commented on #109917
No need to provide a callback endpoint!

[2021-09-01 17:13] elasticmachine commented on #110844
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 17:14] FrankHassanabad commented on #110802
I agree. I will make this and the other key available for cloud and push it to docs as well.

[2021-09-01 17:14] stacey-gammon commented on #109910
We've been leaving the legacy docs as they are until the new docs are public.

[2021-09-01 17:24] jasonrhodes commented on #110719
Let's confirm if this is new or if it already exists in 7.14 -- if it isn't new, let's wait on fixing until we get Angular removed.

[2021-09-01 17:28] jonathan-buttner opened #110853 "[Cases] The configured Connector is not showing up in the detail view sometimes"
When navigating to a case's detail view, sometimes the configured connector's icon and information is not show.

![image](https://user-images.githubusercontent.com/56361221/131716623-be8a30e6-6249-43e7-98cf-a99b2dc8e7f2.png)

[2021-09-01 17:28] elasticmachine commented on #110853
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 17:29] jen-huang commented on #108968
+1, it's similar to the `is_managed` concept in agent policies

That's a fair question when we get to the UI part of this work, but I believe for 7.16 scope this output will definitely be hidden from the user.

[2021-09-01 17:32] jonathan-buttner opened #110854 "[Cases][Sharable SOs] Use resolve for deep links"
Background: https://github.com/elastic/kibana/issues/100489
Dev guide: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-q2
Meta issue: https://github.com/elastic/kibana/issues/105677

## Part 1
As part of the sharable saved objects work we'll need to switch a few of Cases' backend calls to the saved object client to the `resolve` API.

There are two sc

[2021-09-01 17:32] elasticmachine commented on #110854
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 17:58] jonathan-buttner commented on #110541
Fixed!

[2021-09-01 17:58] #110541 closed

[2021-09-01 17:58] cjcenizal commented on #110737
I noticed that the `es_stats.tsx` and `kibana_stats.tsx` components are fairly divergent in terms of their logic, which adds some maintenance friction given that they behave identically. As part of this scope, let's also extract out the common logic into a shared `stats_panel.tsx` component or something similar.

[2021-09-01 18:04] cjcenizal commented on #110737
@dborodyansky Are we also planning on putting links inside of the panels? If so could we update the mockup?

![image](https://user-images.githubusercontent.com/1238659/131721308-ad85a08c-2f32-4e12-90b4-939add81a63d.png)

[2021-09-01 18:09] FrankHassanabad commented on #109189
For this one it would be synchronous, @rudolf

[2021-09-01 18:14] mostlyjason commented on #108968
+1 users should not edit these settings in the UI or API. We should probably hide the service token in the UI too. I added a mockup for this use case in Whimsical and updated the google doc.

[2021-09-01 18:17] jonathan-buttner opened #110862 "[Security Solution][Timeline][Sharable SOs] Use resolve for deep links"
Background: https://github.com/elastic/kibana/issues/100489
Dev guide: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html#sharing-saved-objects-q2
Meta issue: https://github.com/elastic/kibana/issues/105677

## Part 1

As part of the sharable saved objects work we'll need to switch Timeline's backend calls to the saved object client to the `resolve` API.

The timeline id is s

[2021-09-01 18:17] elasticmachine commented on #110862
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 18:18] ymao1 commented on #58035
For a brand new event log index, we are able to set `index.hidden` index setting and set the `is_hidden` attribute on the index alias on index creation. By doing both of these, the index is properly hidden, and does not show up when you perform `_cat/indices`.

For existing event log indices, this is less straightforward. According to [the docs](https://www.elastic.co/guide/en/elasticsearch/refere

[2021-09-01 18:25] #109799 closed

[2021-09-01 18:34] jonathan-buttner opened #110863 "[Security Solution][Timeline] Migrate IDs to references"
Background: https://github.com/elastic/kibana/issues/100489
Dev guide: https://www.elastic.co/guide/en/kibana/master/sharing-saved-objects.html
Meta issue: https://github.com/elastic/kibana/issues/105677

The first step to preparing the timeline saved objects to be sharable across spaces is to migrating any ID fields to the references array within a saved object.

These are the _**known**_ places

[2021-09-01 18:34] elasticmachine commented on #110863
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 18:38] mikecote commented on #58035
@kobelb, I recall you mentioning we can "migrate" the existing event log indices to hidden via a single PUT HTTP request (via the upgrade assistant?). Do you have an example of how to do so?

[2021-09-01 18:38] jonathan-buttner commented on #110863
@angorayc do you know what `templateTimelineId` https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/lib/timeline/saved_object_mappings/timelines.ts#L266

is pointing to? Is it a reference to another saved object?

Also do you know what `savedQueryId` is? https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/server/lib/timeline/saved_object

[2021-09-01 18:51] tsullivan commented on #79905
# Phase 1 of Scheduled Reports: API endpoints

New APIs are needed for scheduled reports in Kibana. These will be similar to the APIs for requesting a report to be generated. Task Manager is the service that actually runs the reports on the schedule, and the underlying data being handled by the APIs are task saved objects.

## Problem statement

Automated reports exists today with a Watcher integr

[2021-09-01 18:54] #109730 closed

[2021-09-01 18:54] #109947 closed

[2021-09-01 19:02] kibanamachine commented on #106736
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16559/)

[2021-09-01 19:12] #109095 closed

[2021-09-01 19:12] #106854 closed

[2021-09-01 19:28] #108939 closed

[2021-09-01 19:30] spalger commented on #106736
`ERR_NETWORK_CHANGED`

[2021-09-01 19:42] nreese commented on #109307
Closed by https://github.com/elastic/kibana/pull/110701

[2021-09-01 19:52] jakelandis opened #110881 "Console support for REST API compatiblity"
**Describe the feature:**

Staring in 8.0.0, Elasticsearch will support a custom header to request supporting compatible requests and responses with the prior major version (i.e. 7.x). Ideally, the dev console would be able to support this custom header. To enable compatibility per request (for JSON), the header is value is `application/vnd.elasticsearch+json;compatible-with=7`. This value is used

[2021-09-01 19:52] elasticmachine commented on #110881
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-01 19:52] justinkambic commented on #106394
Do we want to change this? There is already a specific workflow in place that determines when to show these components.
![Sep-01-2021 15-51-00](https://user-images.githubusercontent.com/18429259/131735015-c6f75467-2ddb-4954-a4bc-39bb60d74622.gif)

[2021-09-01 19:54] stacey-gammon commented on #109910
I wouldn't worry about keeping the old docs updated, but I wouldn't go out of your way to remove them (unless they are wrong). I think it's fine to add new content via `*.mdx` only.

[2021-09-01 19:57] ymao1 commented on #108757
Task manager currently considers tasks registered with `maxConcurrency: 0` as a "skipped type" and will skip claiming them. I wonder if we could add a task manager config to explicitly skip alerting task types that then leverages this logic to include the specific config into the "skipped types". It would probably have to support wildcarding as alerting task types are registered as `alerting:${rul

[2021-09-01 19:58] kobelb commented on #58035
Very interesting... I did not read the documentation as closely as you did @ymao1, and I was able to use the ES APIs against 7.14 to change indices from non-hidden to hidden:

[code]

@elastic/es-data-management can you all confirm whether we should be able to update existing indices to be hidden?

[2021-09-01 20:10] pgayvallet commented on #91615
So, just when I thought https://github.com/elastic/kibana/pull/109196 was getting close to be ready-ish, I discovered that the whole conflict resolving logic is currently only supporting a single namespace as the target, which is not sufficient for the cross-space import where you can import shareable types into multiple spaces, and need to check for conflicts accordingly.

After discussing with @

[2021-09-01 20:19] #109892 closed

[2021-09-01 20:22] spalger commented on #109853
Search for `// TODO: https://github.com/elastic/kibana/issues/109853` to find instances which need fixing after https://github.com/elastic/kibana/pull/109357 is merged.

[2021-09-01 20:24] aag6z opened #110889 "Error in Asset Tracking tutorial documentation for Maps app"
**Kibana version:** 7.14

**Elasticsearch version:** 7.14

**Server OS version:**

**Browser version:** Chrome

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** ESS

**Describe the bug:** This is a doc bug in the following tutorial https://www.elastic.co/guide/en/kibana/current/asset-tracking-tutorial.html. Using the logstash pipeline to index `bea

[2021-09-01 20:24] smith opened #110890 "[APM] Review APIs that should be exported publicly but aren't"
In the [August 2021 Kibana Contributors newsletter](https://docs.elastic.dev/kibana-dev-docs/contributors-newsletter/august-2021) there's a table of "APIs that should be exported publicly but aren't".

Review these items and modify what we need to.

Running `env NODE_OPTIONS=--max-old-space-size=8192 node scripts/build_api_docs --plugin apm --stats exports` outputs:

[code]

[2021-09-01 20:25] elasticmachine commented on #110889
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-01 20:26] elasticmachine commented on #110889
Pinging @elastic/kibana-docs (Team:Docs)

[2021-09-01 20:26] spalger opened #110891 "[visEditors] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:29] spalger opened #110892 "[stackManagement] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:29] elasticmachine commented on #110892
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-01 20:30] spalger opened #110893 "[presentation] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:31] ymao1 commented on #58035
@kobelb That is interesting! I was using the ES Client through Kibana to update the settings and unable to have the updates show up, which is why I dug into the docs. It obviously works though, so I must have missed something. Thanks!

[2021-09-01 20:35] spalger opened #110895 "[alerting] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:35] elasticmachine commented on #110895
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-01 20:36] spalger opened #110896 "[securitySolutions/threatHunting] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:36] elasticmachine commented on #110896
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-01 20:37] spalger opened #110897 "[kibanaAppServices] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:37] elasticmachine commented on #110897
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-01 20:39] nreese commented on #110889
@aag6z Thanks for raising this issue. I am not sure its because the bearing is indexed as a float vs double. I have run the experiement below and both float and double fields are selectable for symbol orientation.

* Create index with float and double field

[code]
* Create `test` index pattern
* Create a map and add documents layer from test index. Notice how both bearing fields are selectable.
<

[2021-09-01 20:41] elasticmachine commented on #109898
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-01 20:45] spalger opened #110898 "[ML] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:46] spalger opened #110900 "[dataDiscovery] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:47] elasticmachine commented on #110900
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-01 20:47] spalger opened #110901 "[fleet] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:48] elasticmachine commented on #110901
Pinging @elastic/fleet (Team:Fleet)

[2021-09-01 20:49] spalger opened #110902 "[core] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:49] elasticmachine commented on #110902
Pinging @elastic/kibana-core (Team:Core)

[2021-09-01 20:50] spalger opened #110903 "[secuturitySolutions/detectionsResponse] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:51] spalger opened #110904 "[securitySolution] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:51] elasticmachine commented on #110904
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 20:52] spalger opened #110905 "[observability] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:53] spalger opened #110906 "[securitySolution/assetManagement] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:53] elasticmachine commented on #110906
Pinging @elastic/security-asset-management (Team:Asset Management)

[2021-09-01 20:53] ymao1 commented on #58035
Yeah, I wonder if it is different via the ES Client.

I'm using

[code]

which sends

[code]

and the changes are not reflected in the index settings. I did try it via Dev Tools using the same command you did and that did work though, although the index still shows up when you do a `_cat/indices`

[2021-09-01 20:54] qn895 commented on #110681
@jgowdyelastic We can definitely can add them to the issue. This current list was just a preliminary list of "unexpected" behaviors I ran into while testing composite runtime fields, so it can definitely grow. For the datafeed preview, I have removed the item now since it's not strictly UI related - thanks for the pointer!

[2021-09-01 20:55] spalger opened #110907 "[rac] Remove export* syntax from plugin index files"
See https://github.com/elastic/kibana/issues/57370 for reasoning, but the gist is that `export *` usage leads to unexpected and excessive exports from the plugin, leading the public API to grow and increasing the cost of maintaining backwards compatibility.

https://github.com/elastic/kibana/pull/109357 implements an ESLint rule to check for this that also assists in fixing the rule, though the au

[2021-09-01 20:55] elasticmachine commented on #110907
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-01 20:56] #109015 closed

[2021-09-01 21:06] simianhacker opened #110912 "[Metrics UI] Metrics Threshold Alert fails to trigger"
**Kibana version:**

7.15.0-SNAPSHOT

**Elasticsearch version:**

7.15.0-SNAPSHOT

**Server OS version:**

Docker

**Original install method (e.g. download page, yum, from source, etc.):**

Docker

**Describe the bug:**

The Metrics Threshold Alert fails to trigger even when there is verified data and the alert condition is set to `greater or equal to ZERO`

**Steps to reproduce:**
1. Load some Me

[2021-09-01 21:06] elasticmachine commented on #110912
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-01 21:22] elasticmachine commented on #94679
Pinging @elastic/kibana-security (Team:Security)

[2021-09-01 21:25] jportner commented on #94679
These keys were intentionally changed starting in 7.12 via #90764.
The docs in 7.11 are correct.
The docs in 7.12+ have been updated to reflect the new keys (`type`, `fileName`), but the old keys (`kind`, `path`) will continue to work.

[2021-09-01 21:25] #94679 closed

[2021-09-01 21:35] lukeelmers commented on #54123
I have [a draft PR](https://github.com/elastic/kibana/pull/110170) in progress for this and, unsurprisingly, the scope keeps growing:
- There's also core's `/_resolve_import_errors`, which we should probably update for consistency. I'm looking at this now.
- The spaces `/_copy_saved_objects` route uses these same request params (`destinationId`, `createNewCopy`, `ignoreMissingReferences`) as it us

[2021-09-01 21:42] #110311 closed

[2021-09-01 21:47] jportner commented on #54123
Yes, if you decide to go down this route, we should update the CTS routes accordingly :+1:

[2021-09-01 21:50] sqren opened #110916 "[APM] Create annotations index at startup instead of by end user"
Currently the annotations index is created with the end users credentials if it doesn't already exist:
https://github.com/elastic/kibana/blob/b77ca9392b659eac9836d0e3bbe17f333b95ee68/x-pack/plugins/observability/server/lib/annotations/create_annotations_client.ts#L59-L67

Because of this we require the user to have the `create_index` permission:
https://github.com/elastic/kibana/blob/b77ca9392b659

[2021-09-01 22:02] FrankHassanabad commented on #110802
This turns out to have a root issue within EQL which is why it is returning the `_ignored` in the `fields` API when it really never should. I wrote up an issue on it here: https://github.com/elastic/elasticsearch/issues/77152

I am still going to work on this but work on it now as a safety feature and not as a bug.

[2021-09-01 22:12] kibanamachine commented on #110801
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16713/)

[2021-09-01 22:12] kibanamachine commented on #110801
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16713/)

[2021-09-01 22:12] kibanamachine opened #110918 "Failing test: Jest Integration Tests.src/core/server/saved_objects/migrationsv2/integration_tests - migration v2 completes the migration even when a full batch would exceed ES http.max_content_length"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16713/)

[2021-09-01 22:30] spalger commented on #110918
Only one failure but seems to be related to recently merged PR https://github.com/elastic/kibana/pull/109540

cc @rudolf

[2021-09-01 22:30] elasticmachine commented on #110918
Pinging @elastic/kibana-core (Team:Core)

[2021-09-01 22:32] spalger commented on #110801
Loads of recent failures

![image](https://user-images.githubusercontent.com/1329312/131753825-1faa4b63-bb9e-40a0-b15f-9da8013e5c6b.png)

Skipped
master/8.0: https://github.com/elastic/kibana/commit/38d08c4008582475aa9721cf75e582dec80babdd
7.x/7.16: https://github.com/elastic/kibana/commit/8b26ec56eda6de674bdb808cff5e4de09262db7f

[2021-09-01 22:35] spalger commented on #110470
Only one failure on a tracked branch, but a bunch of failures in PRs in recent history. @tsullivan you were the author of some of those flaky PR commits, wondering if you might have an idea why this is happening on tracked branches now. Maybe a PR was being worked on around Aug 12 - Aug 18 and then merged in the last couple days?

![image](https://user-images.githubusercontent.com/1329312/13175427

[2021-09-01 22:35] elasticmachine commented on #110470
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-01 22:47] cjcenizal opened #110919 "UA deprecation terminology consistency"
CC @debadair, I'd love to hear your thought on this. This issue consists of a few topics -- apologies for hodge-podge. :)

## "Warning" vs. "issue"

I've noticed the UI currently uses both "warning" and "issue" terms to refer to the same thing. Whichever we decide to use, I think we should be consistent in using that term everywhere. In the screenshot below, I demonstrate this idea by consistently

[2021-09-01 22:47] elasticmachine commented on #110919
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-01 23:06] #20691 closed

[2021-09-01 23:07] YulNaumenko commented on #109917
Response for expired access_token:
[code]

[2021-09-01 23:08] tylersmalley commented on #41352
Going to close this issue. We have been working on migrating all archives with saved objects to use kbnArchiver, which uses the import/export under the hood. This work is tracked here https://github.com/elastic/kibana/issues/102552

[2021-09-01 23:08] #41352 closed

[2021-09-01 23:09] tylersmalley commented on #39595
We have since documented using arrays here https://www.elastic.co/guide/en/kibana/current/docker.html#environment-variable-config

[2021-09-01 23:09] #39595 closed

[2021-09-01 23:13] kibanamachine opened #110920 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/observability/alerts/index·ts - Observability specs Observability alerts Alerts table Renders the correct number of cells"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16714/)

[2021-09-01 23:14] kibanamachine opened #110921 "Failing test: Firefox XPack UI Functional Tests.x-pack/test/functional/apps/observability/alerts/index·ts - Observability specs Observability alerts Alerts table Renders the correct number of cells"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16714/)

[2021-09-01 23:14] kibanamachine commented on #110921
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16714/)

[2021-09-01 23:15] elasticmachine commented on #7104
Pinging @elastic/kibana-core (Team:Core)

[2021-09-01 23:32] spalger commented on #110920
Started failing consistently all of the sudden.

![image](https://user-images.githubusercontent.com/1329312/131758610-027a1230-b9f2-461f-999b-334747688788.png)

Skipped

master/8.0: https://github.com/elastic/kibana/commit/b127b57630f9f2f3271b23deb9e6cf6c440fbaba + https://github.com/elastic/kibana/commit/356954061a865285396da500e438e2a796df8d03
7.x/7.16: https://github.com/elastic/kibana/commit/d

[2021-09-01 23:33] cjcenizal opened #110923 "UA deprecation flyout information architecture"
CC @dborodyansky Could you weigh in on this?

I think we need to make a couple small changes to improve the information architecture of this flyout. It currently lacks "Level" and "Resolution status" information, which means that when the user opens the flyout they gain some new information but they also lose some information that was present in the table.

Also, I think that disabling the action

[2021-09-01 23:33] elasticmachine commented on #110923
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-01 23:43] alisonelizabeth commented on #110919
Thanks for bringing this up @cjcenizal! I had similar concerns around the use of "warning" in the UI and mentioned them on https://github.com/elastic/kibana/pull/106521#issuecomment-899758010.

[2021-09-01 23:45] mostlyjason opened #110924 "[Integrations] Second step of integration policy is active before first step"
**Kibana version**:
7.14

**Description of the problem including expected versus actual behavior**:
The second step in the integrations policy editor is active and the first step is greyed out. This happens when the default policy already has endpoint security, and I need to add it to another agent policy. I expected to be able to fill in step 1 before step 2.

![image](https://user-images.githubu

[2021-09-01 23:45] elasticmachine commented on #110924
Pinging @elastic/fleet (Team:Fleet)

[2021-09-02 00:04] kibanamachine commented on #110921
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16564/)

[2021-09-02 00:10] cjcenizal opened #110926 "Add generalized "View API request" flyout to es_ui_shared"
This flyout can be used anywhere we want to expose underlying ES API requests to the user. In addition to enabling the user to copy the request to their clipboard, we can also leverage https://github.com/elastic/kibana/pull/109923 to give users a link they can use to view the request in Console.

[2021-09-02 00:10] elasticmachine commented on #110926
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-02 00:12] kibanamachine commented on #110921
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16715/)

[2021-09-02 00:12] kibanamachine commented on #110921
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16715/)

[2021-09-02 00:12] kibanamachine commented on #110920
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16715/)

[2021-09-02 00:17] ghudgins commented on #90441
another angle on why this is important - it's the only way to get a mixed XY. would be nice as an option if the user has the same index pattern on the new panel (which is the default and definitely is useful for larger index patterns)

[2021-09-02 00:34] gwbrown commented on #58035
@ymao1 I'm pretty sure I know what's wrong: If that's the body of the settings update request, that request will error out 100% of the time. A number of settings there are static and cannot be updated via API, such as `index.creation_date`.

When I try to issue that command against a test cluster, I get a response like this:
[code]

When the update settings request errors out like this, none of th

[2021-09-02 01:24] wadsworthn commented on #106770
Hi there, I'm the customer who raised this issue with Elastic and is the first time I'm going through this process.
Can you please tell me what the timeline is for something such as this?
Thanks
Nigel Wadsworth

[2021-09-02 01:39] ymao1 commented on #58035
@gwbrown That makes so much sense. I was trying to make sure I didn't overwrite any existing settings but the API is smarter than that. Thank you!

[2021-09-02 02:12] karanbirsingh-qasource opened #110930 "[Security Solution]Next Page Checkbox not getting checked for "Selected All Alerts""
**Describe the bug**
Next Page Checkbox not getting checked for "Selected All Alerts"

**Build Details:**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana

**Steps to Reproduce**
1. Generate more than 10 detection alerts. let say 13 alerts.
2. Set per page to 10 alerts.
3. Click on bulk checkbox and then click on select all alerts..
4. move to next page.
5.

[2021-09-02 02:12] elasticmachine commented on #110930
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 02:14] dborodyansky commented on #110923
Displaying severity badge primarily in the flyout makes a lot of sense.

As far as "Resolved" status, my assumption was that issues are removed when resolved opposed to displaying as resolved. I believe this was an assumption from users we spoke to as well, but may warrant looking back. If there is a case for displaying resolved issues, is the intention that there is a limited duration or session

[2021-09-02 02:17] karanbirsingh-qasource opened #110931 "[Security Solution]User can not change Case State in Existing case modal opened up in Alert Page"
**Describe the bug**
User can not change Case State in Existing case modal opened up in Alert Page

**Build Details:**
[code]

**Browsers**
all

**Precondition**
- Install the Endpoint Security on the kibana
- Case should be present

**Steps to Reproduce**
1. Generate detection alert.
2. Click on more action and select existing case.
3. Existing case modal will appear.
4. Under status column , you

[2021-09-02 02:17] elasticmachine commented on #110931
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 03:51] YulNaumenko commented on #109917
The changes is hard to generalize, probably something like `axios` wrapper function which is already implemented for PagerDuty integration to include all proxy:
- need to provide a separate flow from the existing nodemailer https://github.com/elastic/kibana/blob/d971c2eb877dade957909bff2c0dcc33ebf59b7a/x-pack/plugins/actions/server/builtin_action_types/lib/send_mail_graph_api.ts
- we don't need a

[2021-09-02 04:36] FrankHassanabad commented on #110802
I decided to go with a slightly hybrid approach where I added a workaround for the EQL bug by filtering out manually the hard coded value of `_ignored` and once the EQL bug is fixed I will remove that manual hard coded value.

Then I expose an array called `xpack.securitySolution.alertIgnoreFields` whose default value is an empty array. I didn't want to go overboard adding exclusions that aren't p

[2021-09-02 05:06] amolnater-qasource opened #110932 "[Fleet]: Flickering "Add integration" page on clicking "Upgrade package policy" or "Upgrade" buttons available for lower version integrations."
**Kibana version:**  7.15.0 BC-4 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-3 Kibana Cloud environment should be available.
2. Lower version Nginx integration should be available, say `0.5.0`.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Lower version Nginx integration to Default Policy.
3. Obse

[2021-09-02 05:06] elasticmachine commented on #110932
Pinging @elastic/fleet (Team:Fleet)

[2021-09-02 05:06] amolnater-qasource commented on #110932
@manishgupta-qasource Please review.

[2021-09-02 05:21] muskangulati-qasource opened #110933 "[ Question ] Endpoint Security Integration version after upgrade from 7.14.0 --> 7.15.0 is inconsistently displayed on different tabs"
**Description:**
Endpoint Security Integration version after upgrade from 7.14.0 --> 7.15.0 is inconsistently displayed on different tabs

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. 7.14.0 build should exist.
3. Upgrade the build to 7.15.0

**Steps to Reproduce:**
1. Navigate to the Endpoint Security Integration
2. Observe the inc

[2021-09-02 05:21] elasticmachine commented on #110933
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 05:21] elasticmachine commented on #110933
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-02 05:22] muskangulati-qasource commented on #110933
@manishgupta-qasource please review!

[2021-09-02 05:24] kertal commented on #110900
thx, Spencer, will do

[2021-09-02 05:26] manishgupta-qasource commented on #110932
Reviewed & assigned to @jen-huang

[2021-09-02 05:27] manishgupta-qasource commented on #110933
Reviewed & assigned to @kevinlog

[2021-09-02 05:28] muskangulati-qasource commented on #110933
@kevinlog

Please share if the different versions on different tabs are expected and we can close this question ticket. Or if it's an issue, we can update this ticket as an issue ticket.

Thanks!

[2021-09-02 05:30] muskangulati-qasource opened #110935 "[Security Solution] The long rule name breaks the UI structure"
**Description:**
The long rule name breaks the UI structure

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.
2. Custom Rule should be created for a long name

**Steps to Reproduce:**
1. Navigate to the Alerts Tab
2. Hover on the rule name under the trend graph

**Impacted Test case:**
N/A

**Actual Result:**
The long rule name breaks the

[2021-09-02 05:30] elasticmachine commented on #110935
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 05:31] niteeshhegde commented on #48584
any further updates/timmelines?

[2021-09-02 05:33] muskangulati-qasource commented on #110935
@manishgupta-qasource please review!

[2021-09-02 05:36] manishgupta-qasource commented on #110935
Reviewed & Assigned to @MadameSheema

[2021-09-02 06:00] kertal commented on #91128
closed by #106587

[2021-09-02 06:00] #91128 closed

[2021-09-02 06:06] amolnater-qasource commented on #109808
Hi @EricDavisX
We are **not getting these warnings** for the lower version package upgrades now on 7.15.0 BC-4 and on latest snapshot build as per new fixes.
Hence we couldn't revalidate this issue, however we are **successfully** able to upgrade lower version packages to latest version without any errors.

**Build details:**
Build: 43886
Commit: 29a6969dc230abf16dc65a41c535cb534ae64fa7

Thanks

[2021-09-02 06:18] deepikakeshav-qasource commented on #108894
Hi @andrew-goldstein,

We have validated failed scenario on **7.15.0 BC4** and Observed that issue is **fixed**. Sorting of timestamp Column. Alerts are sorted as per the old to new or new to old

**Build Details:**
[code]

![image](https://user-images.githubusercontent.com/61860752/131791693-8d68b39b-8bbd-4a1c-80c0-805511eb9db6.png)

![image](https://user-images.githubusercontent.com/61860752/131

[2021-09-02 06:31] deepikakeshav-qasource commented on #109419
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC4** build and observed that issue is **Still Occurring**. Endpoint Exception is enable in "take action" under the alerts table for Custom Rules.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/131793643-c3c4e1c5-e12f-4271-b880-c19e19e8d121.mp4

Thanks!!

[2021-09-02 06:42] kertal commented on #106379
@Dmitriynj could you try again, it's actually not that bad on my machine (MacBook Pro 2019, Mojave 10.14.6, 2,6 GHZ Intel Core i7, 16 GB RAM),

[2021-09-02 06:48] th0ger commented on #110509
Anyone? This is a critical breaking change.

[2021-09-02 06:52] mgiota commented on #110519
When I removed `require_alias: true` from the `bulk()` I noticed that `.keyword` was appended to the field names. Also index name was `.alerts-observability.apm.alerts-default`, whereas when I had the require_alias option the index was`.internal.alerts-observability.apm.alerts-default-000001`.

[code]

Alerts table doesn't load any data in this case. Here's the error I get
[code]

[2021-09-02 06:59] deepikakeshav-qasource opened #110937 "[Security Solution] Host isolation option is disable inconsistently in take actions under alerts table"
**Describe the bug**
Host isolation option is disable inconsistently in take actions under alerts table

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts page
2. Add any alert to acknowledged
3. Click on view details icon on open ale

[2021-09-02 07:01] kibanamachine opened #110938 "Failing test: License plugin API Integration Tests.x-pack/test/licensing_plugin/server/updates·ts - Licensing plugin server client changes in license types provides changes in license types"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16571/)

[2021-09-02 07:04] deepikakeshav-qasource commented on #110937
@manishgupta-qasource Please review!!

[2021-09-02 07:21] azasypkin commented on #81690
That's correct, I'm going to cover "upgrade assistant" bit in a separate PR and will close this issue as soon as I merge it.

[2021-09-02 07:24] MadameSheema commented on #109419
@angorayc can you please take a look to this? looks like is still occurring on BC4

[2021-09-02 07:25] elasticmachine commented on #110935
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-02 07:26] MadameSheema commented on #110935
@muskangulati-qasource can you please check in BC4 if the same happens with a long name but with spaces instead of a long string? Thank you

[2021-09-02 07:26] dikshachauhan-qasource opened #110939 "+ icon is displayed instead of Refresh icon on Add integration button under Policy detail page."
**Kibana version:** 7.15 BC4 Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.15 BC4 Kibana Cloud-QA environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Policy tab.
	- Click on any policy say Default policy.
	- Observe, +icon is displayed instead of refresh icon on Add

[2021-09-02 07:27] deepikakeshav-qasource commented on #109421
Hi @machadoum,

We have validated this ticket on **7.15.0 BC4** build and observed that issue is **Fixed**.  Alert Table properly display when there are less alerts in open state on alert table.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/131800931-58e32f06-ff5a-4c25-acd9-1c6b6e69a1fe.mp4

Hence, we are closing this ticket and marking as QA Valid

[2021-09-02 07:27] #109421 closed

[2021-09-02 07:27] elasticmachine commented on #110931
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-02 07:28] liciavale commented on #106394
Hey @justinkambic @dominiqueclarke @drewpost.  As we are going with the new design and the flow is now slightly dfferent we don't need this anymore and this is now unnecessary. Let me know if you want me to update this issue with things I think we should update or if it is easier for you to build the new design straight away, we can also sync on this. Please refer to https://github.com/elastic/obs

[2021-09-02 07:28] dikshachauhan-qasource commented on #110939
@manishgupta-qasource Please review

[2021-09-02 07:28] elasticmachine commented on #110930
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-02 07:29] MadameSheema commented on #110930
@karanbirsingh-qasource can you please quickly check if this is happening on BC4 as well? Thanks

[2021-09-02 07:40] deepikakeshav-qasource commented on #110043
Hi @MadameSheema ,

We have validated this ticket on **7.15.0 BC4** build and observed that issue is **Fixed**.  All fields are added when click "view all threat fields" icon.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/131802811-4fb78558-e2d4-409b-96c9-203dede3228f.mp4

Hence, we are closing this ticket and marking as QA Validated.

Thanks!!

[2021-09-02 07:41] #110043 closed

[2021-09-02 07:45] pgayvallet commented on #109189
AFAIK, this is the case with most (all) of the exportable SO types. It's trivial to temper an exported file before re-importing it. We could eventually create a distinct issue for it. OTOH, it's functionally so close to the other part of the request (being able to mutate the object during import) that it's probably not worth it

I'm wondering: even if we do introduce validation during the import s

[2021-09-02 08:19] katrin-freihofner opened #110943 "[RAC] Alerts table: reason cell shows popover on click instead of flyout (+ z-index issue)"
**Kibana version**:
Internal edge cluster

**Steps to reproduce**:
 1. Navigate to the alerts view `/app/observability/alerts`
 2. Select one of the reasons
 3. Click the reason statement

**Describe the feature**:
When clicking the reason statement to get more details on the alert I instead get a popover. Additionally, the popover has some z-index issues with the flyout.
<img width="1412" alt="Sc

[2021-09-02 08:27] pgayvallet commented on #110614
Are we going to keep an hard-coded list inside core to handle these exceptions?

It would be doable to identify third party plugins and preserve the old behavior for them. We did that at some point to log deprecation warnings to legacy 3rd party plugins. At the time, we simply used the plugin's path to identify them (`src/plugin` and `x-pack/plugins` vs anywhere else). This is probably better than

[2021-09-02 08:37] banderror opened #110945 "[RAC][Rule Registry] Cache rule data writers and index bootstrapping"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016
**Depends on:** https://github.com/elastic/kibana/issues/108941

## Summary

When we move certain parts of the index bootstrapping logic to `IRuleDataClient.getWriter()` (https://github.com/elastic/kibana/issues/108941#issuecomment-905506575) this method call will become relatively expensive.

We could implement caching for writers

[2021-09-02 08:37] elasticmachine commented on #110945
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 08:37] elasticmachine commented on #110945
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-02 08:46] karanbirsingh-qasource commented on #110931
Hi @MadameSheema

we have checked the issue on BC4 and found it still occuring there.

**Build Details:**
[code]

[2021-09-02 08:47] fdartayre opened #110946 "Opening saved search is not working after index pattern change"
**Kibana version:** 7.14.1

**Describe the bug:**
In Discover, after changing the index pattern, clicking on a saved search does not work.

**Steps to reproduce:**
1. Import sample data "Sample eCommerce orders" and "Sample flight data" in Kibana
2. In Discover, open the "[eCommerce] Orders" saved search
3. Change the index pattern to "kibana_sample_data_flights
4. Open the "[eCommerce] Orders" sa

[2021-09-02 08:57] gmmorris commented on #55340
@mikecote @chrisronline and I discussed this synchronously.
Given the timelines for 7.16 and the risk added by changing TM at this point (this is a capacity risk, rather than a technical one. Working on this, means we don't work on other things), we've decided that we **can** live with the risk I mention above.

We agreed that:

1. Long term, failed Actions should appear as failed tasks in Task Ma

[2021-09-02 09:00] karanbirsingh-qasource commented on #110930
Hi @MadameSheema

we have checked the issue on BC4 and found it still occuring , event another issue got added to it.

On moving to next to next not just next page alert got unchecked event page alerts got unchecked too.

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/131815074-cb7eb593-633d-46ae-85d9-a8c3809acdc5.mp4

https://user-images.githubuserc

[2021-09-02 09:01] dikshachauhan-qasource opened #110947 "[Question:] Elastic-Agent package generate data streams even when not used in policy on agent installation."
While testing we have observed that, elastic agent package is installed by default on Kibana though not used in any policy.
Also as soon as agent is installed it also starts generating data events for filebeat and metricbeat logs and metrics.

Query: As per our understanding, it should also be used as default integrations whenever user creates any policy like system integration because it is shipp

[2021-09-02 09:03] elasticmachine commented on #110947
Pinging @elastic/fleet (Team:Fleet)

[2021-09-02 09:03] dikshachauhan-qasource commented on #110947
@manishgupta-qasource Please review

[2021-09-02 09:05] deepikakeshav-qasource opened #110948 "[Security Solution] UI get broken after click on analyzer event in more action when alert table is in full screen mode"
**Describe the bug**
UI get broken after click on analyzer event in more action when alert table is in full screen mode

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts page
2. Click on full screen icon
3. click on more action optio

[2021-09-02 09:05] elasticmachine commented on #110948
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 09:07] deepikakeshav-qasource commented on #110948
@manishgupta-qasource Please review!!

[2021-09-02 09:11] walterra opened #110949 "[ML] Increase Test Coverage 7.16"
Follow up to #106113.

Meta issue to summarize improvements to test coverage for `7.16`.

## Jest unit tests

## API integration tests

part of #63700

- [x]  GET /api/ml/datafeeds (including spaces test) https://github.com/elastic/kibana/pull/116133 (JG)
- [x] GET /api/ml/datafeeds/:datafeedId (including spaces test) https://github.com/elastic/kibana/pull/116133 (JG)
- [x]  GET /api/ml/datafeeds/

[2021-09-02 09:12] afharo commented on #110638
Thanks, @alexfrancoeur for opening this issue. I thought we had one somewhere, but I couldn't find it.

[2021-09-02 09:12] pgayvallet commented on #110618
It's more tracking the hits on any deprecated HTTP endpoint, right? This totally makes sense to me.

Ideally, we should automate this from core once we're allowed to flag an API as deprecated.

You mean everytime a config value is accessed? That may be very tricky, especially because some props are exposed to the browser, where it would be very hard to track (but even on the server, it's far from

[2021-09-02 09:16] angorayc commented on #109419
@MadameSheema I think the PR didn't make it to BC4's build, let's check again on the next BC.

[2021-09-02 09:16] manishgupta-qasource commented on #110937
Reviewed & assigned to @kevinlog

[2021-09-02 09:17] manishgupta-qasource commented on #110939
Reviewed & assigned to @kpollich

CC: @EricDavisX

[2021-09-02 09:17] elasticmachine commented on #110948
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-02 09:19] manishgupta-qasource commented on #110948
Reviewed this issue

[2021-09-02 09:22] afharo commented on #109960
As always, IT depends 🙃
In the snapshot, some metrics are kind of `size_of_the_index`/`saved objects count` (usually always growing ever since the cluster was created) and "last day/7/30/90 days". However, there are some others are only kept in memory (like the ops metrics' request statuses), so restarts may affect them.

[2021-09-02 09:24] cachedout commented on #110583
This may be the root cause of https://github.com/elastic/apm-integration-testing/issues/1188 which we originally filed with Kibana as https://github.com/elastic/kibana/issues/107300

If this is indeed the cause, it's been causing failures for test suites all across Observability.

[2021-09-02 09:32] deepikakeshav-qasource opened #110954 "[Security Solution] Inspect top modal is hidden on the event render modal of Reason column for show top field"
**Describe the bug**
Inspect top modal is hidden on the event render modal of Reason column for show top field

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Kibana users should be logged in.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Navigate to Alerts page
2. Click on the value under reason column.
3. Hover on any process

[2021-09-02 09:32] elasticmachine commented on #110954
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-02 09:32] deepikakeshav-qasource commented on #110954
@manishgupta-qasource Please review!!

[2021-09-02 09:36] elasticmachine commented on #110954
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-02 09:40] manishgupta-qasource commented on #110954
Reviewed this issue

[2021-09-02 09:40] machadoum commented on #109427
I was able to isolate the issue and trace the origin back to `EuiDataGrid`. So, I created this https://github.com/elastic/eui/issues/5131 issue for the Eui team.

[2021-09-02 09:42] ycombinator commented on #109960
That makes sense, thanks @afharo.

At the moment the only feature we're looking at from this API's response is Reporting. That will definitely change in the future. For reporting, are the metrics from the time the cluster was created or from the time of the latest restart?

[2021-09-02 09:43] pgayvallet commented on #96106
From [the doc](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-security.html#allowed-script-types-setting), the possible value are `both`, `inline`, `stored` and `none`. As Kibana relies on `inline` scripts, we should make sure that the value is either `inline` or `both`.

Now, this is a configuration option, so I'm not sure there is an API to retrieve this info fr

[2021-09-02 09:46] afharo commented on #109960
I'll defer on @elastic/kibana-reporting-services to fully confirm. But, looking at the implementation, I'd say it's for the entire life of the cluster.

[2021-09-02 09:49] pgayvallet commented on #110566
Should we use this issue or https://github.com/elastic/kibana/issues/96106 to discuss the technicals? (I opened the discussion in https://github.com/elastic/kibana/issues/96106#issuecomment-911464861)

[2021-09-02 09:50] mshustov commented on #110583
@cachedout we can prioritize the work on the fix. Do you experience the problem with Kibana `master` and the last releases?
Would you be able to test against `master` once the fix is landed?

[2021-09-02 09:50] sabarasaba commented on #110737
We indeed used to have a link on the top right corner. I think it looks **much** cleaner without any links, but the only problem I have with it is that the card is not treated as a link but as a div with an `onClick` event that navigates to a url. This means that when you hover the card you don't get a preview url from the browser and also breaks the cmd+click/ctrl+click to open the link in a new

[2021-09-02 09:55] cachedout commented on #110583
That's great news! Thanks, @mshustov !

We have been testing against nightly snapshots in 7.x and master. We have seen the problem in master but I don't think we've seen it at all in 7.x.

Yes. We consume nightly snapshots so we'd be able to test this for you as soon as a nightly snapshot is built. (We cannot replicate this locally at all so I think it is best to let this go through our regular CI

[2021-09-02 10:11] gmmorris commented on #101018
I'm sure this is something missing in *my* knowledge, but I don't understand how the Alerting framework could possibly do this automatically, given the framework **isn't querying anything**.

I suggest @arisonl, @ravikesarwani and @Kushmaro have a chat and figure out how these pieces are meant to fit together from a product perspective, because I get the feeling there's a piece missing in the midd

[2021-09-02 10:17] pgayvallet commented on #110239
Imho having an explicit error message is more important than an technical implementation detail, so id I had to choose, I'd say to keep the current code.

[2021-09-02 10:18] pgayvallet commented on #109970
@elastic/kibana-reporting-services may already be using it? @tsullivan could you confirm?

[2021-09-02 10:19] MadameSheema commented on #110780
@ecezalp @rylnd can you please take a look to this? Thanks :)

[2021-09-02 10:22] jiankunking opened #110959 "No matching indices found: No indices match pattern "*:mplat-login_status-*""
**Kibana version: 7.13.4   office image**

**Elasticsearch version:7.13.4 office image**

After I upgraded ES and Kibana from 7.6.2 to 7.13.4 and enabled user name + password, the user rights configured in Kibana were abnormal.

Es is a remote cluster

![1](https://user-images.githubusercontent.com/15723050/131826737-d4be2e74-a0e4-4cca-85c1-9c9fc4addb24.png)

[code]

![火狐截图_2021-09-02T10-15-23 447

[2021-09-02 10:24] joshdover commented on #110500
I spent some time investigating this yesterday and unfortunately, I've come to a preliminary conclusion that there are not any major opportunities for optimization from the Kibana side here.

The longest running operations during the setup (and general package install process) is creating the ingest assets in Elasticsearch: ingest pipelines, index templates, component templates, and data streams.

[2021-09-02 10:25] MadameSheema commented on #108165
@karanbirsingh-qasource can you please validate the fix of this issue on BC4? thanks

[2021-09-02 10:27] joshdover commented on #108993
It will remove a failure scenario, however the overall Fleet setup process is still slow. I did some investigation of this yesterday and unfortunately, bundling the packages is not going to make a significant improvement to performance. I believe we'll need to work with Elasticsearch to improve this: https://github.com/elastic/kibana/issues/110500#issuecomment-911505775

We plan to only begin bloc