[2021-09-07 13:48] PurpleV0id commented on #111134
Hi @dasansol92

It was actually trying to filter null/empty fields ie the file.extension snippet, its just that i found the exist/not exist issue in my testing.

"file": {
  "path": "C:\\Users\\someone\\AppData\\Roaming\\Microsoft\\Teams\\TransportSecurity",
  "extension": "",
  "size": 10917,
  "name": "TransportSecurity"
}

[2021-09-07 13:49] paulb-elastic opened #111389 "[Uptime] Implement “no data” check to drive the “no data screens” for Uptime"
This [PR](https://github.com/elastic/kibana/pull/107709) will add new “no data” screens across the various Observability solutions, however this relies on each solution implementing a check that there is no data, which is that this issue is covering.

ACs:
* Implement a check as described in https://github.com/elastic/kibana/pull/107709 that identifies when data has ever been ingested into Uptime

[2021-09-07 13:49] elasticmachine commented on #111389
Pinging @elastic/uptime (Team:uptime)

[2021-09-07 13:49] #110918 closed

[2021-09-07 13:51] ymao1 commented on #105747
@mdefazio, Yes the error is already shown in the edit rule flyout. Previously there was no indication on the rule details page that anything was wrong, but now there is this error banner. The banner pulls the wording directly from the error message thrown by the actions plugin, so the `unknown` reasons and and the `Saved object [action/uuid] not found` come from that.

[2021-09-07 13:52] #79813 closed

[2021-09-07 14:02] kibanamachine opened #111392 "Failing test: X-Pack Detection Engine API Integration Tests.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text_array·ts - detection engine api security and spaces enabled Detection exceptions data types and operators Rule exception operators for data type text "is in list" operator will return 3 results if we have a list that includes 1 text"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16698/)

[2021-09-07 14:02] chrisronline commented on #109918
Yes!

[2021-09-07 14:02] #109918 closed

[2021-09-07 14:04] #107898 closed

[2021-09-07 14:04] #107847 closed

[2021-09-07 14:04] #107918 closed

[2021-09-07 14:04] #107904 closed

[2021-09-07 14:08] weltenwort commented on #111386
:information_source: For the Logs UI indices this check already exists and the values is exposed as `sourceStatus.logIndexStatus` in the return value of the `useLogSourceContext()` hook:

https://github.com/elastic/kibana/blob/b1a81bb5e03104b9ec68238f658032c3bb2f3942/x-pack/plugins/infra/public/containers/logs/log_source/log_source.ts#L196-L200

It can be one of `missing`, `empty` or `available`.

[2021-09-07 14:09] markov00 commented on #14291
@stratoula I'm pretty sure this is no more a problem with the `@elastic/charts` implementation. Please check this back when the visualize heatmap implementation got replaced with the elastic-charts one

[2021-09-07 14:10] markov00 commented on #12666
yep, this should not be an issue with elastic-charts

[2021-09-07 14:17] markov00 commented on #69383
We are actually introducing the automatic behaviour of reducing the font size to fit on the cell: https://github.com/elastic/elastic-charts/pull/1352
This will not solve 100% the issue of displaying big values in small cells, but it alleviate the problem.
Do you @flash1293  think we should introduce also the warning in Lens? can this be part of the interface when specifying the fontsize constraint

[2021-09-07 14:17] joshdover commented on #96106
`GET _cluster/settings?include_defaults=true` will return this setting. Not sure how this behaves on multi-node clusters though.

[2021-09-07 14:35] tylersmalley commented on #111368
Four failures in the past week, leaving for now.

![image](https://user-images.githubusercontent.com/40265/132363176-c3ecbc3e-3922-4cae-bb3a-181ace72bbf9.png)

[2021-09-07 14:35] alisonelizabeth commented on #111255
@cjcenizal can you take a look at this?

[2021-09-07 14:40] an-tex opened #111401 "[Fleet] Preconfiguration API doesn't support updating / adding / removing package_policies"
**Kibana version: 7.14.1**

**Elasticsearch version: 7.14.1**

When using `kibana.yaml` to configure `agentPolicies` (https://www.elastic.co/guide/en/kibana/7.x/fleet-settings-kb.html) and using `is_managed: true` to force updates only through the configuration, any future changes to the `package_policies` field are ignored. Especially new `package_policies` can neither be added (or removed) by ch

[2021-09-07 14:40] joshdover commented on #109907
=It seems this specific error condition has been eliminated, but we may want some better high-level error messaging such as `Unexpected error during package policy validation: xxx`

[2021-09-07 14:43] MadameSheema commented on #94557
@deepikakeshav-qasource @samratbhadra-qasource please validate on 7.15BC5 thanks

Note that on the count table it is expected to don't be able to launch the `Top x behaviour`

[2021-09-07 14:44] mostlyjason commented on #110063
@jen-huang adding this a requirement in 7.16 as part of the larger empty state effort https://github.com/elastic/kibana/issues/111374. I'm hoping we can identify a better short term solution for 7.16.

[2021-09-07 14:44] MadameSheema commented on #108409
@karanbirsingh-qasource can you please validate this on 7.15BC5? Thanks

[2021-09-07 14:45] #108987 closed

[2021-09-07 14:47] stephmilovic commented on #107757
We've got an internal ticket for refactoring the Sourcerer to use the actual Kibana Index Patterns and with this we will get runtime fields: elastic/security-team#772
7.16

[2021-09-07 14:47] kibanamachine opened #111402 "Failing test: Jest Tests.x-pack/plugins/reporting/server/routes/diagnostic - POST /diagnose/browser returns a 200 when successful"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/128/)

[2021-09-07 14:47] kibanamachine commented on #110970
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/128/)

[2021-09-07 14:53] MadameSheema commented on #106980
@deepikakeshav-qasource can you please validate this on 7.15BC5? Thanks

[2021-09-07 14:55] rudolf commented on #110146
I agree about splitting these two very different things. My vote goes for `visibleInManagement` because the double negative in `hiddenFromManagement: false` makes it slightly harder to understand the option.

[2021-09-07 14:56] rudolf commented on #82533
Looks like this will be closed in https://github.com/elastic/kibana/pull/110148

[2021-09-07 14:57] cjcenizal commented on #111255
Skipped via d4dbce0e1e2deb59093cab2baf8eef1d3661f8a3

[2021-09-07 14:59] thomasneirynck commented on #111200
closing. this belongs in ES repo.

[2021-09-07 14:59] #111200 closed

[2021-09-07 15:00] mbondyra commented on #105808
There's this tiny [PR](https://github.com/elastic/kibana/pull/111403) that should be included in this task so I'll reopen this issue.

[2021-09-07 15:00] shahzad31 commented on #111389
Uptime already has an API to do that check. index_status api returns doc count and index exists flags.
Which can be used to differentiate between having no data in current date range and not having any indexes.

[2021-09-07 15:02] rudolf commented on #57313
In our experience, corrupt saved objects have always been created through writing directly to the `.kibana` index instead of using the saved objects API. And in all the support cases, these corrupt documents were part of testing so the best resolution was to delete them instead of trying to fix them.

[2021-09-07 15:02] #57313 closed

[2021-09-07 15:14] DanRoscigno commented on #23486
This came up again.  A customer asked during one of the weekly Cloud AMA sessions.  I popped open Kibana just now and went to the Logstash Pipeline entry.  I did not expect to be able to deploy Logstash in Elastic Cloud, but I did expect to be able to push out a pipeline that I created to a Logstash instance.  I could not figure out what to do next.

I then looked at the Ingest Node entry in the s

[2021-09-07 15:14] DanRoscigno commented on #23486
cc: @murrayleitch

[2021-09-07 15:18] mikecote commented on #60315
cc @arisonl and @elastic/kibana-alerting-services to update description with anything else we feel we should collect on telemetry this round.

The person picking up the issue can come up with a recommendation at the same time. Things like the count of email connectors split by server type? etc.

[2021-09-07 15:24] #110061 closed

[2021-09-07 15:26] mostlyjason commented on #111374
@snide I think we can mark "Address users running into empty assets" as complete with the work Josh and others have done to improve the empty state detection logic. If the user views the dashboard or visualizations page with adding data, they will see a flyout to add data. We'll consider longer term improvements to avoid installing these assets here https://github.com/elastic/kibana/issues/108456

[2021-09-07 15:30] kobelb commented on #110492
Agreed. The goals are:
1.  keep all proprietary and commercially licensed code in the `x-pack/` folder because it only has the Elastic License
2. prevent users from circumventing our license checks

[2021-09-07 15:43] jasonrhodes commented on #111260
I'm skeptical about whether we can prevent users from doing this, especially not within an advanced use case rule type such as the ones we offer in Metrics and Logs. We'd like to build more targeted rule types in these solutions that are significantly less flexible but allow us to control the queries much better, but I think these advanced ones will assume this kind of risk as a payment for the fl

[2021-09-07 15:55] Zacqary opened #111414 "[Metrics UI] Add warning on metric threshold alert when user tries to filter and group by the same thing"
Metric threshold alerts should inform the user that they shouldn't include the field in both the **Filter** and **Alert per** settings. For example:

<img width="620" alt="Screen Shot 2021-09-07 at 10 50 14 AM" src="https://user-images.githubusercontent.com/1445834/132374737-84b14e98-b704-42da-bed2-ac7803a1bfc3.png">

If possible we should only display this warning if the user enters an **exact ma

[2021-09-07 15:55] elasticmachine commented on #111414
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-07 15:57] chandlerprall commented on #110758
eui upgrade in `7.15` has merged

[2021-09-07 16:00] snide commented on #111374
@mostlyjason Partially. Can likely be improved by @ryankeairns' team as part of that empty page vs. flyouts issue. Clicking a link and then being redirected to another app is likely a bit confusing for the user, but the core logic check that @joshdover added should be enough for @ryankeairns' team to clean up that scenario (since it's the same problem happening all throughout the analytics app)

[2021-09-07 16:00] Zacqary opened #111415 "[Metrics UI] Investigate using Fleet data for No Data alerts"
Metricbeat may be an unreliable way of detecting a "No Data" scenario in alerts.

- When a host stops reporting data, there's no way to distinguish between it going offline by accident, or from it being intentionally removed from the infrastructure.
- Because alerts are stateless, a host that goes offline might fail to execute an alert instance at all.

We should investigate whether we can combine

[2021-09-07 16:00] elasticmachine commented on #111415
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-07 16:03] ppisljar opened #111416 "move expressions executor to the server"
expression executor is currently available on server and client. In order to reduce bundle sizes on client and align with how other `search strategies` work we should move execution to server only and only expose a wrapper on the client side which will send the expression to the server and get back result to the client.

[2021-09-07 16:03] elasticmachine commented on #111416
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 16:04] ppisljar commented on #95862
expressions plugin owns a registry of expression functions, registry of renderers and registry of types. We are suggesting people to async load function bodies but just the definitions themself are taking some space and with amount of expression functions constantly growing we are currently investigating our options to further improve this, one of them could be moving expression executor to sever

[2021-09-07 16:09] #105603 closed

[2021-09-07 16:10] ppisljar opened #111417 "implement searchsource as a search strategy"
implement searchsource as a search strategy to align the interface for doing different types of searches.

[2021-09-07 16:10] elasticmachine commented on #111417
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 16:11] ppisljar opened #111418 "abstract all types of searching behind search strategy interface"
To make it easier to work with different ways searching can be performed in kibana we should abstract all search types behind a common interface. This will allow us to transparently work with all search types in places like alerting, reporting, search sessions, etc.

- [ ] https://github.com/elastic/kibana/issues/111417
- [ ] https://github.com/elastic/kibana/issues/111423

[2021-09-07 16:11] elasticmachine commented on #111418
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 16:12] ppisljar commented on #97825
this is a possible pre-requirement for this: https://github.com/elastic/kibana/issues/111418

[2021-09-07 16:13] YulNaumenko commented on #93466
After considering two approaches to replace existing Basic Auth: OAuth 2.0 Authorization Code with current SMTP integration vs OAuth 2.0 Client Credentials with MS Exchange Graph API we identified next pros/cons for each.

**OAuth 2.0 Authorization Code with current SMTP:**
Pros:
- It is a generic approach - could be reused for the rest of email providers which supports OAuth, not only MS Exchange

[2021-09-07 16:14] timroes opened #111420 "Allow opening a saved search on Dashboard in Discover"
We should add a panel option on saved searches in a Dashboard to open them in Discover.

This should do the same as "Edit search" (for now), i.e. opening that saved search in Discover. In contrast to "Edit Search" this action should be visible also when the dashboard is in View mode and also when the user has only viewing permission on Discover.

[2021-09-07 16:14] elasticmachine commented on #111420
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-07 16:16] elasticmachine commented on #111374
Pinging @elastic/kibana-design (Team:Kibana-Design)

[2021-09-07 16:16] endorama opened #111421 "Misleading error message when a data stream name contains a trailing dot"
**Kibana version:** 7.15.0-SNAPSHOT

**Elasticsearch version:** 7.15.0-SNAPSHOT

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):** Running dev stack through `elastic-package stack` (Docker Compose based)

**Describe the bug:**
I'm working to [integrate a new data stream](https://github.com/elastic/integr

[2021-09-07 16:17] elasticmachine commented on #111421
Pinging @elastic/fleet (Team:Fleet)

[2021-09-07 16:17] jen-huang commented on #111318
@hop-dev Assigning to you while Kyle is on PTO as you have worked in this area :)

[2021-09-07 16:17] ppisljar opened #111422 "expression universal filtering approach"
Expressions are currently consumed from 1. visualizations and lens which use `Filter Bar`, `filterManager`  and 2. canvas where filterbar is not used and filtering is taking a different approach.

All expression consumers should implement filtering in the following manner:

- panels (renderers) or other components emit an UI action with kibana `Filter[]` structure
(possibly they emit other actions

[2021-09-07 16:17] elasticmachine commented on #111422
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 16:18] ppisljar opened #111423 "implement expressions search strategy"
expressions should be implemented as a search strategy

blocked by:
- [ ] https://github.com/elastic/kibana/issues/111416

[2021-09-07 16:19] elasticmachine commented on #111423
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 16:20] ppisljar commented on #111423
blocked by https://github.com/elastic/kibana/issues/111416

[2021-09-07 16:22] #110475 closed

[2021-09-07 16:23] ppisljar opened #111426 "[expressions] couple to UI Actions"
Currently expression renderer can use `handler.emit` to emit pretty much anything but it can't know what will actually be handled by the application consuming the expressions. Application could decide to do anything with the value, but most applications today handle the value to UIActions plugin.

To standardize the way expression events work we should couple expressions with UIActions:
- [ ] add

[2021-09-07 16:23] elasticmachine commented on #111426
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 16:34] jen-huang commented on #111421
I'm not sure that this is something to fix on Fleet's side as `gcp.` is almost certainly not a valid ES field name (I imagine it attempts to parse it as an object or nested field type but fails). @endorama did the `elastic-package` tooling validation catch this?

[2021-09-07 16:36] #111210 closed

[2021-09-07 16:38] pmuellr opened #111429 "[alerting][docs] add docs about using markdown link syntax to prevent broken links"
We've had a couple recent support issues where users had Kibana links used in emails sent from triggered rules, where the link was broken.  For example, here's a URL used in a email message template - you can see `{{alertInstanceId}}` interpolated into it - the interpolation isn't the problem, just wanted to show it.

`https://example.com/s/some-space/app/dashboards#/view/some-view?_g=(filters:!()

[2021-09-07 16:40] #40401 closed

[2021-09-07 16:58] jonathan-buttner opened #111436 "[SavedObjects] Import causes text field to have a newline character"
When I try importing these saved objects, a newline character is added to the `comment` field. The `comment` field is of type `text` in the mapping.

[code]

`"comment":"A comment for my case"` gets stored as `"comment":"A comment for my case\n"`

When I switch the migration version of that particular saved object to 7.16.0 instead of 7.15.0 the newline is no longer added.

This was from a test fi

[2021-09-07 16:58] elasticmachine commented on #111436
Pinging @elastic/kibana-core (Team:Core)

[2021-09-07 17:05] trentm commented on #104124
Nothing much at all, unfortunately.

The Node.js APM agent does no instrumentation specific to the `cluster` module or aggregation of metrics across separate `cluster` processes. Assuming the APM agent is started outside of `cluster.is{Master|Primary|Worker}` logic, there will be an APM agent in each process operating independently. Every `metricsInterval` (default 30s) the APM agent will report m

[2021-09-07 17:06] stephmilovic commented on #105677
Heads up, I'm adding a new reference to the Kibana data view saved object (`index-pattern`) on the timeline saved object as part of this work https://github.com/elastic/security-team/issues/772

[2021-09-07 17:17] cnasikas commented on #82533
cc @jonathan-buttner

[2021-09-07 17:39] elasticmachine commented on #82533
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-07 17:46] cjcenizal commented on #107391
@sabarasaba Should we close this, since we no longer have these requirements for the `LogStream` component?

[2021-09-07 17:47] cjcenizal commented on #104855
We'd love to use this in Upgrade Assistant (https://github.com/elastic/kibana/pull/111252). We'd like to be able to define `sourceId` and `logPosition` when linking to `/app/logs/stream`.

[2021-09-07 17:53] mostlyjason opened #111438 "[Integrations] Incorrect wording for integration upgrade"
**Kibana version**:
7.15

**Original install method (e.g. download page, yum, from source, etc.)**:
staging

**Description of the problem including expected versus actual behavior**:

The action menu for an integration policy says "Upgrade package policy". It should say "Upgrade integration policy". That's because we only expose the integration concept to users. Packages are an internal concept fo

[2021-09-07 17:53] elasticmachine commented on #111438
Pinging @elastic/fleet (Team:Fleet)

[2021-09-07 17:55] mostlyjason commented on #111438
Same thing on the agent policies page

![image](https://user-images.githubusercontent.com/6370704/132389558-b760b8bf-fa4a-4327-a044-0959001d9af2.png)

[2021-09-07 17:59] lukeelmers commented on #59588
Yep, I think the agreed-upon plan here is to:
- Make view read-only
- Ensure changes land in the same release as the app team's work (presumably 7.16)

[2021-09-07 18:01] YulNaumenko opened #111439 "[Actions][Connectors] Change email connector API for MS Exchange Online provider by replacing Basic Auth with OAuth 2.0 Client Credentials flow"
The goal of the current issue is to replace existing Basic Auth with OAuth 2.0 Client Credentials flow only for MS Exchange Online action connector provider. This is needed because of the upcoming Basic Auth drop by Microsoft for MS Exchange Online.
API changes that should be covered:

1. Extend email connector schema with the new properties to support OAuth 2.0 Client Credentials flow: clientId,

[2021-09-07 18:01] elasticmachine commented on #111439
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 18:04] #109910 closed

[2021-09-07 18:13] YulNaumenko opened #111443 "[Actions][Connectors] Modify email connector UI flyout to support OAuth 2.0 Client Credentials flow for MS Exchange provider"
Issue scope:
1. Based on the selected provider for MS Exchange, we need to replace existing Basic Auth UI fields under the Connector flyout Authentication section with the OAuth 2.0 Client Credentials flow inputs: clientId, clientSecret, tenantId:
<img width="883" alt="Screen Shot 2021-09-07 at 11 05 02 AM" src="https://user-images.githubusercontent.com/55110838/132390894-bb0b9c7e-f8cb-41e6-8e04-7

[2021-09-07 18:13] elasticmachine commented on #111443
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 18:15] lukeelmers commented on #109232
++ To both of these ideas. Even though we aren't currently considering the Plugin APIs as subject to semver, it would be nice to move toward a more formal deprecation strategy for these things. A combination of `@deprecatedIn` and `@example` feels like good place to start. And if we had a dedicated section of the docs for these, it would be something we could easily surface for other teams (like i

[2021-09-07 18:19] ymao1 commented on #111259
The description of the current behavior provided above is accurate. For recurring tasks (like all rules), task manager sets the `retryAt` date to whichever is larger, the configured schedule or 5 minutes. Note that this 5 minutes is the default timeout specified by task manager but it would be straightforward for the alerting framework to override this default value and even allow individual rule

[2021-09-07 18:20] #110999 closed

[2021-09-07 18:23] lukeelmers commented on #107421
I'll go ahead and close this as a duplicate of https://github.com/elastic/kibana/issues/106581, where we are discussing how to improve the UX for deleting hidden SOs.

@alexfrancoeur feel free to re-open if there's something which isn't captured in that issue

[2021-09-07 18:23] #107421 closed

[2021-09-07 18:23] YulNaumenko opened #111449 "[Actions][Docs] Modify connector documentation with the new MS Exchange online configuration requirements"
1. Based on the changes done in the https://github.com/elastic/kibana/issues/111439 and https://github.com/elastic/kibana/issues/111443 we need to update existing documentation with the information how to configure OAuth 2.0 Client Credentials flow and how to grant the administrator consent for the Graph API permissions for Kibana integration application.
<img width="1317" alt="Screen Shot 2021-09

[2021-09-07 18:23] elasticmachine commented on #111449
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 18:28] jbudz opened #111450 "[Buildkite] Condtional build for publishing artifacts for all platforms"
**Describe the feature:**
Currently we only build Linux X64 archives in CI.  This helps keep CI time down and covers most testing scenarios.  In pull requests with platform specific changes, it would be useful to be able to trigger a build with all artifacts for further testing.

**Describe a specific use case for the feature:**
Changes to kibana.bat

[2021-09-07 18:28] elasticmachine commented on #111450
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-07 18:33] mikecote opened #111452 "Leveraging event log data to provide better insights of the alerting framework"
Relates to https://github.com/elastic/kibana/issues/51548
Relates to https://github.com/elastic/kibana/issues/61018

We should research what UX and vision would give users better insight into the alerting framework and break it down into deliverables. It should benefit users by empowering and requiring less time to debug the alerting framework when it's not behaving in expected ways.

## Problem S

[2021-09-07 18:33] elasticmachine commented on #111452
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 18:36] elasticmachine commented on #109948
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 18:49] lukeelmers commented on #9202
`updated_by` and `updated_at` were also recently requested by @spong and @FrankHassanabad in https://github.com/elastic/kibana/issues/109189

[2021-09-07 18:50] bhavyarm opened #111453 "Filter panel doesn"
**Kibana version:**

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1.
2.
3.

**Expected behavior:**

**Screenshots (if relevant):**

**Errors in browser console (if relevant):**

**Provide logs and/or server output (if releva

[2021-09-07 18:50] #111453 closed

[2021-09-07 18:52] rylnd commented on #110780
@deepikakeshav-qasource your latest data and screenshots seem to indicate that everything is working as expected:
* all indices under the `.siem-signals-default` alias have the correct mappings
* No alerts under the `.siem-signals-default` alias have `threat.indicator` fields

Do you agree that this can be closed, or are you seeing errant behaviors?

The original screenshots seem to indicate that

[2021-09-07 18:58] bhavyarm opened #111454 "Filter panel doesn't get populated with fields on alias index for non-super user"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If a non-super user tries to build a filter using alias fields - Kibana displays empty for fields drop down.
Please note th

[2021-09-07 18:58] elasticmachine commented on #111454
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-07 19:01] pmuellr commented on #109919
# [Alerting] OAuth error paths for connectors

Many connectors today support some sort of basic authentication mechanism. However, many 3rd party services also support OAuth, and in some cases are moving to **ONLY** support OAuth. So, we're looking at how to support OAuth within the alerting framework's connector system. First up: supporting OAuth for usage with Microsoft Exchange, which is droppi

[2021-09-07 19:24] pmuellr commented on #111452
In my [event log dashboard](https://gist.github.com/pmuellr/e9ac5cda106589dc52477ede9accb20c), I have some graphs which were easy to build from the event log, and I think useful.  At least provides some more thought into what we _could_ do.  The dashboard queries events across the entire system, but you could imagine that in the product it would show events for all the rules / connectors in the cu

[2021-09-07 19:26] ymao1 commented on #100871
Resolve with https://github.com/elastic/kibana/pull/111137

[2021-09-07 19:26] #100871 closed

[2021-09-07 19:27] ymao1 commented on #100844
Alerting renaming is done in https://github.com/elastic/kibana/pull/111137

[2021-09-07 19:37] yctercero commented on #101975
@peluja1012 @MadameSheema Is this one on the list for QA to test?

[2021-09-07 19:38] paulb-elastic commented on #104758
Discussed in refinement, this solution will link directly into Uptime and not a filtered view of specific monitors.

[2021-09-07 19:39] paulb-elastic commented on #104758
This is already done, and will behave like this in 7.15.

[2021-09-07 19:39] #104758 closed

[2021-09-07 19:56] ymao1 commented on #111259
It seems to me like there are 2 issues here:

1. Sometimes a rule type is running unexpected long (too much data or the query is not optimized) and we want to be able to identify those unexpectedly long running rules so that improvements can be made. This can be done using telemetry to keep track of rule execution durations by rule type id.
2. Some rule types might be expected to take a long time

[2021-09-07 20:00] petrklapka commented on #111196
Sorry if this is a naive suggestion from someone who's never developed on Kibana, but...  Why not embed something in the ID string that identifies the "new" generation of IDs as new?  If I understand correctly from speaking with Peter P. and Stacey, the ID's are just strings.  Why not embed some meta data in the ID, like an ID version
(Example: `"IDRev:2.0.0:ID:TheActualIDString"`).  The resolve f

[2021-09-07 20:05] ymao1 commented on #111259
When the task manager is claiming tasks, it is looking for tasks where `status=idle & runAt has passed` OR `status=running|claiming & retryAt has passed`.

For recurring tasks, the first clause will claims those tasks whose previous runs have completed successfully. The second clause tries to handle the case where Kibana gets restarted or crashes mid task execution. The logic being if it's still r

[2021-09-07 20:14] kibanamachine opened #111457 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/get_all·ts - alerting api integration security and spaces enabled Actions getAll "after each" hook for "should handle get all request appropriately with proper referenced_by_count""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16855/)

[2021-09-07 20:16] jasonrhodes opened #111458 "[Alerting] Imported rules receive an error on re-save"
I'm running on 7.14 to test something for a customer and I exported rules from my Kibana, restarted ES (using yarn es snapshot), then re-imported my rules. When I went into the rule to make changes to the connectors, when I try to save, I receive an error message saying the ID is not found.

<img width="418" alt="Screen Shot 2021-09-07 at 4 13 28 PM" src="https://user-images.githubusercontent.com/

[2021-09-07 20:16] elasticmachine commented on #111458
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 20:24] lukeelmers commented on #41439
These are all good points, and I don't think the lack of support for these features was considered in the original discussion around not moving forward with the break.

@kobelb What are your thoughts on this?
- The API doesn't require any active "maintenance", however it isn't as feature complete or well-tested as the regular import/export API, which could lead to unexpected bugs or confusion for

[2021-09-07 20:30] jportner commented on #111196
@petrklapka we do deterministically generate new object IDs. However, the new ID isn't the problem here, it's the old ID.

Let's say that you have an object "123", and then you upgrade Kibana to 8.0, and the object's ID gets changed to "456". During the upgrade, Kibana also creates an alias for "456 -> 123". So, after upgrade, if you try to `get(123)`, the object is not found -- that object no lon

[2021-09-07 20:43] jen-huang commented on #109907
Going to close this one as #110505 is merged. @joshdover can you open an issue for improving the error message/handling in general?

[2021-09-07 20:43] #109907 closed

[2021-09-07 20:44] ymao1 commented on #111458
Details from offline:
* remained on 7.14 between import and export
* Default space for both, no custom spaces

I am unable to recreate this. Here's what I tried in 7.14 running locally:
* Created a connector, created a rule and added an action using connector. Exported my rule. Restarted ES & Kibana. Imported the rule. Tried modifying the rule by changing something about the action and saving. No

[2021-09-07 21:03] stacey-gammon commented on #105970
@jportner, @clintandrewhall - should this be labeled as an 8.0 blocker?

[2021-09-07 21:16] jbudz commented on #109064
I tried to reproduce this and was able to start the service on arm64.  My config looked like this:

[code]

When I changed the bind source to a path that didn't exist - I was able to reproduce the issue.  Can you verify that the user running docker has read access to kibana.yml?

[2021-09-07 21:32] elasticmachine commented on #111313
Pinging @elastic/kibana-gis (Team:Geo)

[2021-09-07 21:32] sqren commented on #111095
Related https://github.com/elastic/kibana/issues/108496

[2021-09-07 21:33] sqren commented on #108496
Related: https://github.com/elastic/kibana/issues/111095. Is this something that should be forwarded to the kibana alerting team or elastic charts team?

[2021-09-07 21:33] elasticmachine commented on #111095
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-07 21:34] sqren commented on #111095
@elastic/kibana-alerting-services Does this belong to you, the elastic-charts team or the apm team?

[2021-09-07 21:36] sqren commented on #110042
Yes, a screenshot of the existing page. Then using something as simple as MS Paint to draw on it to make it clear what information you want and where.

[2021-09-07 21:43] kobelb commented on #41439
Agreed.

Is my understanding correct that this API is undocumented? If so given the fact that there is a high-cost to keeping around the compatibility layer, I'm alright with us removing it in 8.0. However, I do think that we need to integrate it with the upgrade assistant deprecations in 7.16 so the user is aware that it's being removed and what HTTP API they should use instead.

[2021-09-07 21:51] kobelb commented on #41439
I'm checking with Mark to ensure he's comfortable adding this to the list of 8.0 breaking changes, and I'll reply here with his response.

[2021-09-07 21:54] kobelb commented on #41439
Mark is alright with us removing the HTTP API in 8.0. However, he'd like for us to add telemetry in 7.16. This will give us a window of time to measure whether our assumptions are correct that this HTTP API isn't used widely and potentially reverse coarse and reintroduce this HTTP API.

[2021-09-07 22:07] untergeek commented on #65706
Hi team. This is becoming a higher priority with some of our customers. I'm sharing some sanitized feedback. If necessary, I can tag some of the product manager names involved so that they can comment.

[2021-09-07 22:26] sqren commented on #111037
Currently most of the id is hardcoded on the ml side. He id prefix is specified here:

https://github.com/elastic/kibana/blob/14660994d2a37b56bd6bc45d0cc59d50494727d2/x-pack/plugins/apm/server/lib/anomaly_detection/create_anomaly_detection_jobs.ts#L84-L86

Then the suffix is specified by ml here:
https://github.com/elastic/kibana/blob/14660994d2a37b56bd6bc45d0cc59d50494727d2/x-pack/plugins/ml/serv

[2021-09-07 22:40] joshbressers opened #111469 "Using a GnuTLS cipher name causes Kibana to fail silently"
**Kibana version:**
7.14.1

**Elasticsearch version:**
7.14.1

**Server OS version:**
Linux something or other

**Describe the bug:**

I was doing some TLS testing earlier today and used a GnuTLS cipher name instead of an OpenSSL cipher name which caused Kibana to silently fail.

If I set
`server.ssl.cipherSuites: [TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256]`
instead of the correct
`server.ssl.cipherSu

[2021-09-07 22:41] banderror opened #111470 "[RAC][Rule Registry] Small clean-ups"
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

Address small miscellaneous clean-up ideas:

- [ ] Rename initializeIndex -> installIndexResources https://github.com/elastic/kibana/pull/108115#discussion_r688475718
- [ ] Suggestions from @weltenwort https://github.com/elastic/kibana/pull/109567#pullrequestreview-737073175

[2021-09-07 22:41] elasticmachine commented on #111470
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-07 22:45] joshbressers commented on #111469
I left it running for a while while filling out this bug and there is a warning from reporting not being able to connect to Kibana

[code]

[2021-09-07 22:48] joshbressers commented on #111469
No, I was mistaken. I get the error on every client connection now. My connection to Elasticsearch was broken which appears to have been suppressing the error

[2021-09-07 22:52] lukeelmers commented on #110638
Just took a look at this as well. I was able to reproduce on a fresh 7.14.1 cloud deployment, so I do not think it is a regression, however something is definitely broken in our logic.

This is true for the "to learn about usage data" section, but for the "to stop collection, disable usage data here" line, we are also checking `userCanChangeSettings`:
https://github.com/elastic/kibana/blob/61503fb

[2021-09-07 23:00] TinaHeiligers commented on #110638
The plan sounds reasonable to me. Aside: I wish we could clean this logic up a bit but I can't think of a cleaner way to implement it right now.

[2021-09-08 00:48] alisonelizabeth opened #111477 "[Upgrade Assistant] Remove duplicate EuiScreenReaderOnly from stats component"
I noticed while debugging some CITs that `EuiScreenReaderOnly` is getting rendered twice for the deprecation stat panels.

<img width="676" alt="Screen Shot 2021-09-07 at 8 42 42 PM" src="https://user-images.githubusercontent.com/5226211/132427600-b0decac1-3e8a-4898-acf6-39680317bfd4.png">
<img width="657" alt="Screen Shot 2021-09-07 at 8 42 52 PM" src="https://user-images.githubusercontent.com/52

[2021-09-08 00:48] elasticmachine commented on #111477
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-08 01:04] dedemorton opened #111478 "Movement of Integrations out of Fleet is not reflected in the docs"
**Kibana version:**

7.14, 7.15

**Describe the bug:**

The Fleet page in the Kibana Guide incorrectly shows the Integrations tab, which was removed from Fleet starting in 7.14 and made a separate app.  Also the Kibana docs do not have a page that describes the Integrations UI.

NOTE: There's a PR open to add more info about integrations to the Fleet docs. If we create a new Kibana page, it should

[2021-09-08 01:11] liza-mae opened #111479 "Functional test runner not working against cloud anymore"
Relates to https://github.com/elastic/elastic-stack-testing/issues/1000 - on latest master branch I am unable to run the kibana functional test runner against cloud.

Only impacts master branch.

The error returned is
[code]

To reproduce:
1. Create a cloud deployment
2.  export TEST_KIBANA_URL  and export TEST_ES_URL
3.  Run node ./scripts/functional_test_runner.js --config test/functional/config

[2021-09-08 01:29] peluja1012 commented on #110337
PR here: https://github.com/elastic/kibana/pull/111010

[2021-09-08 02:31] jportner commented on #111469
Yeah, Kibana just takes the list you give it and passes it to Node. I've never tried it, but I guess based on your results, if you pass it a cipher that it doesn't understand, it will just fail to establish a TLS handshake.

Here are the docs for TLS ciphers in Node 14: https://nodejs.org/docs/latest-v14.x/api/tls.html#tls_modifying_the_default_tls_cipher_suite

And here are the OpenSSL docs for t

[2021-09-08 02:34] andrewvc opened #111482 "[Uptime] Support HTTP Common options for synthetics integration"
With https://github.com/elastic/beats/pull/27699 we now support a variety of new options for TLS and proxies when using `zip_url` sources for synthetics. These options only affect the download of the zip, not the operation of the browser. We should add these options to the synthetics integration UI.

The needed fields are documented fully in the beats PR.  The short summary is as follows)

1. All

[2021-09-08 02:34] elasticmachine commented on #111482
Pinging @elastic/uptime (Team:uptime)

[2021-09-08 02:40] andrewvc commented on #111482
@liciavale @drewpost do we need any explicit design here?

[2021-09-08 03:03] matschaffer commented on #104124
Does the APM UI then represent each cluster process as it's own host? and if so how do they get named? I'd be curious to see it in the UI if possible.

On the kibana side do the workers have any sort of designation like maybe: web, worker, etc? Or are do we just get N generic kibana processes any time someone starts kibana?

Is there a way we can run kibana in cluster mode today to see what it loo

[2021-09-08 03:25] liza-mae commented on #111479
@jbudz I tested it and confirmed your PR resolves the issue.

[2021-09-08 03:52] pmuellr commented on #111259
We could have the framework recognize when the rule is "cancelled" by task manager, and write an event log entry indicating it went over the timeout, and try to nullify the rule's later effects, like queuing actions, updating state, etc.  What about rule registry - guessing we don't want that updated either.

Do we? ES will cancel searches if the connection that started them closes.  Could we clos

[2021-09-08 05:41] #105317 closed

[2021-09-08 06:54] timroes commented on #59588
We're not sure if we'll make 7.16 or 8.0 with them, but as long as you are "before us" I don't think there should be any problem with that.

[2021-09-08 06:55] deepikakeshav-qasource commented on #110029
Hi @rylnd ,

Any update on the same!! And also please let us know if any thing else is required from our end.

Thanks!!

[2021-09-08 07:02] timroes commented on #59588
My two cents: This json as string converted should only be an issue with old saved objects (mainly Visualizations, Discover, Dashboard). New SO types should never use that way of storing information at all, but instead use unmapped object fields (or `flattened` if we need to read something at some point from deep within the saved object). See also https://github.com/elastic/kibana/issues/43673. Th

[2021-09-08 07:04] pgayvallet commented on #111436
Hum. Given that we're not doing any kind of data transformation during the import process on the objects' attributes, my gut feeling would be that this field mutation is caused by a `7.15.0`->`7.16.0` migration registered for the type?

I don't see a `7.16.0` migration for `cases-comments`, but I see it's merged with the embeddable migrations

https://github.com/elastic/kibana/blob/d2fffdcca118b6c

[2021-09-08 07:08] pgayvallet commented on #104124
We're not planning yet on having specialized workers. We'll have one `coordinator`, and N `workers`, with each working having a unique identifier. E.g in a 2-worker instance, we'll have `coordinator`, `worker-1` and `worker-2`

[2021-09-08 07:10] pgayvallet commented on #110492
Thanks @legrego and @kobelb. Let's exclude this option then

[2021-09-08 07:12] timroes commented on #93938
In the past we often have seen Percentile Ranks being one of the more complex aggregations for users to understand without explanation. If we plan to add this to Lens, I think we should try to check if there are any more usability friendly ways of exposing it, than simply putting a "Percentile Rank" operation into Lens :) I have no good solutions for that, but might still be worth some investigati

[2021-09-08 07:13] kibanamachine commented on #107865
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16865/)

[2021-09-08 07:13] pgayvallet commented on #110970
@rudolf I think we gonna need to backport https://github.com/elastic/kibana/pull/111365 to `7.15`

[2021-09-08 07:15] stratoula commented on #109521
Closing it as it hasn't failed again and seems unrelated to this test

[2021-09-08 07:15] #109521 closed

[2021-09-08 07:15] stratoula commented on #109519
Closing it as it hasn't failed again and seems unrelated to this test

[2021-09-08 07:15] #109519 closed

[2021-09-08 07:15] #109022 closed

[2021-09-08 07:16] stratoula commented on #109518
Closing it as it seems unrelated to this test

[2021-09-08 07:16] #109518 closed

[2021-09-08 07:19] elasticmachine commented on #111469
Pinging @elastic/kibana-core (Team:Core)

[2021-09-08 07:19] elasticmachine commented on #111469
Pinging @elastic/kibana-security (Team:Security)

[2021-09-08 07:25] pgayvallet commented on #59588
Can't agree more on that. This whole stringified format is (well, one of) the root cause of the existence of the loaders in the first place (and imho doesn't make any sense compared to an unindexed nested field now), and trying to mimic the SO loaders to (properly) detect which fields are in JSON format may be complex and kinda go against one of the goal of this enhancement, which is the simplific

[2021-09-08 07:32] deepikakeshav-qasource commented on #108692
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Partially Fixed**. For fields having no data to be displayed are showing "Green" dot in Detection alerts

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/132465671-2e263509-3e20-40e7-817b-a48a1149618a.png)

**Issue not occurring for raw events

[2021-09-08 07:34] MadameSheema commented on #101975
@yctercero can we please sync about this when you are available? Thanks :)

[2021-09-08 07:44] deepikakeshav-qasource commented on #110462
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Fixed**. "Add filter" banner and additional filters are not displayed when click on Full screen icon

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/132467713-517e41cb-d2ca-4e7d-8b5e-c4fa040ad8eb.png)

Hence, We are closing this ticket and ma

[2021-09-08 07:44] #110462 closed

[2021-09-08 07:53] MadameSheema commented on #108692
@angorayc can you please take a look to the above? Thanks :)

[2021-09-08 07:57] pgayvallet commented on #106581
That's very close to the current behavior. Should the only modification be to rephrase the warning to include the number of objects that won't be deleted then?

May make sense, but as the `hidden` info is type-based and not object-based (all the objects of a given type are, or not, hidden), this kinda goes in conflict with the current 'type' filter/selector, so it may leads to user confusion too.

[2021-09-08 07:57] deepikakeshav-qasource commented on #109419
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Fixed**. Endpoint Exception is disable in "take action" under the alerts table for Custom Rules.

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/132469477-cad9442b-070a-4a0c-9e89-bec5fe02d2c4.mp4

Hence, We are closing this ticket and marking as QA V

[2021-09-08 07:58] #109419 closed

[2021-09-08 07:59] MadameSheema commented on #108917
@karanbirsingh-qasource can you please retest on the current BC? Thanks :)

[2021-09-08 08:01] MadameSheema commented on #109399
@deepikakeshav-qasource can you please validate the fix of this issue on the current BC? Thanks :)

[2021-09-08 08:07] MadameSheema commented on #105744
@samratbhadra-qasource can you please validate the fix of this issue on the current BC? Thanks :)

[2021-09-08 08:11] stratoula commented on #50338
I don't think that this is related to the test itself so I am closing it

[2021-09-08 08:11] #50338 closed

[2021-09-08 08:11] kibanamachine opened #111496 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get·ts - alerting api integration security and spaces enabled Alerts alerts get "after each" hook for "should handle get alert request appropriately""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16867/)

[2021-09-08 08:13] deepikakeshav-qasource commented on #94557
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Fixed**. Correct information is displayed for Raw events under Alerts table

**Build Details:**
[code]

**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/132471868-8767fad8-b993-4547-b96a-fc1ec363ffc0.png)

![image](https://user-images.githubusercontent.com/61860752/13247

[2021-09-08 08:14] #94557 closed

[2021-09-08 08:15] MadameSheema commented on #110337
@deepikakeshav-qasource can you please validate the fix of this issue on the current BC? Thanks :)

[2021-09-08 08:17] formgeist opened #111497 "[APM] Bug: Error annotation popover on Trace waterfall shows the wrong legend color for the given service"
Kibana version: master

# Summary

It appears the legend colors are not assigned correctly in the error annotation popover content. In this case it displays the `opbeans-java` service as the blue series, but in fact it should be magenta.

![CleanShot 2021-09-08 at 10 14 54@2x](https://user-images.githubusercontent.com/4104278/132472412-3adb2455-bb17-46cf-b17c-dfebd71fc500.png)

## Solution

Remove

[2021-09-08 08:17] elasticmachine commented on #111497
Pinging @elastic/apm-ui (Team:apm)

[2021-09-08 08:30] drewpost commented on #111482
I'm happy with re-using the patterns established elsewhere in the integration for this.

[2021-09-08 08:40] endorama commented on #111421
Thanks for the answer!

I run `elastic-package check` successfully, while `elastic-package test` was failing with the same error as the CI (and the user interface), so not sure if this is a yes or a no. I would say nothing complained about that naming until it really tried to use it.

[2021-09-08 08:45] karanbirsingh-qasource commented on #109408
Hi @MadameSheema

We have validated this issue on 7.15.0 BC5 and found it Fixed ✔️ . Acknowledge Alert moved to Close State on saving the exception with close all checkbox ticked.

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**

https://user-images.githubusercontent.com/59917825/132477013-58ff84af-c9d5-4bb4-8543-8b84f5097efc.mp4

Hence we are closing this issue .

thanks !!

[2021-09-08 08:45] #109408 closed

[2021-09-08 08:46] formgeist opened #111499 "[APM] Update Add data tutorial callouts for Fleet integration to reflect the changed status of the package"
# Summary

We need to update the tab labels and callout copy to reflect the promoted state of the APM integration package.

![CleanShot 2021-09-08 at 10 08 41@2x](https://user-images.githubusercontent.com/4104278/132477055-126c2817-e5f5-4658-8f7a-d65a7555f236.png)

[2021-09-08 08:46] elasticmachine commented on #111499
Pinging @elastic/apm-ui (Team:apm)

[2021-09-08 08:51] karanbirsingh-qasource commented on #108165
Hi @michaelolo24

We have validated this issue on 7.15.0 BC5 and found it Fixed ✔️ . Filter in and filter out is now working correctly under timeline.

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**
- Timeline result : hove actions

![image](https://user-images.githubusercontent.com/59917825/132478094-14f6dd67-2a4f-4cf5-8164-d6b5aae12ac7.png)

- Timeline host Flyout : hover actions

![image

[2021-09-08 08:51] #108165 closed

[2021-09-08 08:54] karanbirsingh-qasource commented on #110931
Hi @MadameSheema

We have validated this issue on 7.15.0 BC5 and found it Fixed ✔️ . Now user don't have the status column under existing case modal for alerts .

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**
![image](https://user-images.githubusercontent.com/59917825/132478449-500c4090-ae7a-402b-8d73-5b94e00450c5.png)

Hence we are closing this issue .

thanks !!

[2021-09-08 08:54] #110931 closed

[2021-09-08 08:55] karanbirsingh-qasource commented on #108409
Hi @MadameSheema

We have validated this issue on 7.15.0 BC5 and found it Fixed ✔️ . Filter in and filter out is now working correctly under timeline.

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**
- Timeline result : hove actions

![image](https://user-images.githubusercontent.com/59917825/132478094-14f6dd67-2a4f-4cf5-8164-d6b5aae12ac7.png)

- Timeline host Flyout : hover actions

![image

[2021-09-08 08:55] #108409 closed

[2021-09-08 08:59] banderror opened #111500 "[RAC][Rule Registry] Rename "rule registry" to "alerts as data""
**Parent ticket:** https://github.com/elastic/kibana/issues/101016

## Summary

As a plugin, `rule_registry` does not register rule types in Alerting Framework anymore, so the name is a little bit misleading.

There were conversations around renaming the plugin and some of its internal pieces, for example:

- Plugin: `alerts_as_data` (to eventually be pulled into the alerting plugin, so not a long

[2021-09-08 08:59] elasticmachine commented on #111500
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-08 08:59] elasticmachine commented on #111500
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-08 09:04] karanbirsingh-qasource commented on #110024
Hi @MadameSheema

We have validated this issue on 7.15.0 BC5 and found it Fixed ✔️ . UI dont distort after closing the analyzer opened in full screen.

**Build Details:**
[code]

**Snap-Shoot/Screen-Cast**

https://user-images.githubusercontent.com/59917825/132480153-01db5d8b-c57c-4f1a-8cff-1234becedf35.mp4

Hence we are closing this issue .

thanks !!

[2021-09-08 09:04] #110024 closed

[2021-09-08 09:07] watson commented on #54023
Today we only surface the deprecation notice if this setting is set to `false`. Since we want this to be controlled 100% by Elasticsearch, shouldn't we also surface the deprecation notice if this is set to `true` - i.e. just if it's present? cc @jportner

[2021-09-08 09:09] karanbirsingh-qasource commented on #108917
Hi @MadameSheema

we have retested the ticket and the issue https://github.com/elastic/kibana/issues/110024 is fixed but the enhancement ticket is still open.

**Build Details:**
[code]
**Snap-Shoots:**

![image](https://user-images.githubusercontent.com/59917825/132480805-69bc41d2-e486-4d17-a283-7698de2c0588.png)
![image](https://user-images.githubusercontent.com/59917825/132480832-514acabd-950b-

[2021-09-08 09:11] elasticmachine commented on #109703
Pinging @elastic/ml-ui (:ml)

[2021-09-08 09:16] #108917 closed

[2021-09-08 09:20] #111045 closed

[2021-09-08 09:27] deepikakeshav-qasource commented on #109399
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Fixed**. "Kibana feature privileges required " is not displayed on alert page when manually refresh the page

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/132483302-457f7dd9-ddac-4e49-950f-03b8d318532f.mp4

Hence, We are closing this ticket and mar

[2021-09-08 09:27] #109399 closed

[2021-09-08 09:33] #108496 closed

[2021-09-08 09:36] kertal commented on #108186
so when you switch index pattern without having changed the default sorting, the sorting field of the new index pattern is used. But when you have changed the sorting, and the sorted field is also available in the new index pattern, the last user sorting is used. So this is intended. However we could check if the user change of sorting was applied to the index pattern timefield, and therefore swit

[2021-09-08 09:39] afgomez commented on #111095
@sqren We had a similar error in logs, which was caused by treating the relevant value as falsy when checking for its presence instead of explicitly comparing it with `undefined`. Maybe something similar happens in APM.

For inspiration, the fix in logs lives in https://github.com/elastic/kibana/pull/111150

[2021-09-08 09:54] liciavale commented on #111482
Hey @andrewvc thanks for this. What does it happen when a user unselects the Enable TLS configuration? Do the settings below belong to this checkbox?

[2021-09-08 09:56] weltenwort commented on #104855
@cjcenizal that should already be possible with the `link-to/logs` route. Are you using that already?

[code]

or

[code]

[2021-09-08 10:06] elasticmachine commented on #111314
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-08 10:23] Dosant opened #111509 "[FieldFormats] Remove `SerializedFieldFormat` copy from expressions plugin"
Field formats plugin exports `SerializedFieldFormat` type, but expression plugin has its own copy of it and some other plugins use it.

We should remove the copy from the expression plugin and make sure plugins use a type from field formats plugin directly

to leave:

https://github.com/elastic/kibana/blob/77e25bedfb16dbd91914d53b961c69b4e2f0f18b/src/plugins/field_formats/common/types.ts#L119-L122

[2021-09-08 10:24] hop-dev commented on #111318
@jen-huang Should the fix for this be included in 7.15?

[2021-09-08 10:24] elasticmachine commented on #111509
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-08 10:36] alexfrancoeur commented on #111374
@snide @dborodyansky I saw in the RFC doc a decision to add the elasticsearch endpoint to details pages. I believe we have the cloud ID for beats. Is this necessary for fleet integrations? If we were able to prioritize client libraries, it makes sense to add there. It should be simple enough to add, just curious what ingestion mechanisms you were thinking we need to focus on.

cc: @joshdover @thom

[2021-09-08 10:43] Yv-o-rL commented on #62287
I'm okay with closing the ticket since ES+Kibana matured a lot since I opened it and OOM issues are in the past (at least for me). IMO, looking back, it was a Kibana+ES issue where I could throw the cluster to OOM easily while there were supposedly breakers built-in.

[2021-09-08 10:45] elasticmachine commented on #106315
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-08 10:49] elasticmachine commented on #103777
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-08 10:51] elasticmachine commented on #100452
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-08 10:52] elasticmachine commented on #100884
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-08 10:52] elasticmachine commented on #100884
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-08 10:53] amolnater-qasource opened #111511 "[Fleet]: Even after setting Unenrollment timeout field back to blank, installed agents get unenrolled after getting offline."
**Kibana version:**  7.15.0 BC-5 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-5 Kibana Cloud environment should be available.
2. Agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Set unenrollment timeout from Default Policy setting to 6

[2021-09-08 10:53] elasticmachine commented on #111511
Pinging @elastic/fleet (Team:Fleet)

[2021-09-08 11:12] sabarasaba opened #111512 "Refactor use_locator_url in order to define the dependencies more comprehensively"
We should refactor [use_locator_url](https://github.com/elastic/kibana/blob/master/src/plugins/share/common/url_service/locators/use_locator_url.ts#L42) to define the dependencies more comprehensively.

To address feedback mentioned in https://github.com/elastic/kibana/pull/111252#discussion_r703734423

[2021-09-08 11:12] elasticmachine commented on #111512
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-08 11:21] deepikakeshav-qasource commented on #110337
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Still occurring**. Loader is not displayed when click on refresh button.

FYI, that fixes are not yet merged to BC5

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/132500371-7ba6fe12-294d-41a8-8c91-6c9f667e9f03.mp4

Thanks!!

[2021-09-08 11:23] ppisljar commented on #111196
@jportner i guess what @petrklapka is suggesting is that the new objects would look like `new-456` instead of `456` and when you (re)create object `123` it will actually get id `new-123` thus conflict is not possible. `.resolve` can also know that if id does not start with `new-` it needs to look in alias.

and thanks for clarifying we don't need to do anything different for 8.0, regarding 8.x it

[2021-09-08 11:26] sabarasaba commented on #104855
Didn't know about the `link-to` route! For Upgrade Assistant we're directly linking to the logs app with:

[code]

[2021-09-08 11:31] sabarasaba commented on #107391
Indeed, since we've decided to no longer implement the `LogStream` component for Upgrade Assistant we no longer have a need for these requirements. Spoke to @paulb-elastic and the work to support this hasn't started yet. Sorry for not closing this earlier on 🙏🏼

[2021-09-08 11:31] #107391 closed

[2021-09-08 11:32] jasonrhodes commented on #101541
Done by @banderror

[2021-09-08 11:32] #101541 closed

[2021-09-08 11:36] deepikakeshav-qasource opened #111515 "[Security Solution] Full screen mode is automatically disable when close the analyzer."
**Describe the bug**
Full screen mode is automatically disable when close the analyzer.

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. Alerts should be generated say: mimikatz

**Steps to Reproduce**
1. Navigate to Alerts page of security
2. Click on more action
3. Click on the analyzer
4. Cli

[2021-09-08 11:36] elasticmachine commented on #111515
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-08 11:36] deepikakeshav-qasource commented on #111515
@karanbirsingh-qasource Please review!!

[2021-09-08 11:38] samratbhadra-qasource commented on #105744
Hi @MadameSheema ,

We tested this ticket on the latest 7.15.0-BC5 build & found that the issue is now **fixed**. Please find below the testing details:

**Build Details**:
[code]
**Screen-Recording**

https://user-images.githubusercontent.com/84007952/132501856-3b18e420-1279-4403-8182-83f8aa9fd1be.mp4

Hence, closing this issue and marking it as "Validated".

Thanks.

[2021-09-08 11:38] #105744 closed

[2021-09-08 11:38] deepikakeshav-qasource commented on #110948
Hi @MadameSheema,

We have validated this ticket on **7.15.0 BC5** build and observed that issue is **Fixed**. Resolver is displayed when click on analyzer event in more action when alert table is in full screen mode

**Build Details:**
[code]

**Screenshot:**

https://user-images.githubusercontent.com/61860752/132501043-a2689513-e303-43c8-bf2c-827d5a74fa2d.mp4

However, we have open the separate

[2021-09-08 11:38] #110948 closed

[2021-09-08 11:45] pgayvallet commented on #110146
Just to be sure we're all on the same page:

We're all aware that the suggested approach will only allow to exclude exportable objects from the SO management UI by specifying `importableAndExportable: true` and  `visibleInManagement: false`, and **not** to allow to display non-exportable objects in the SOM UI by configuring it's type with `importableAndExportable: false` and  `visibleInManagement:

[2021-09-08 11:50] #102475 closed

[2021-09-08 12:00] muskangulati-qasource opened #111517 "[Security Solution] Description for the Memory Threat Alert not updated to name Memory Protection as Memory Threat"
**Description:**
Description for the Memory Threat Alert not updated to name Memory Protection as Memory Threat

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Endpoints tab and select the policy.
2. Observe the details for the Memory Manipulation alert that shows wrong wordings as Memory Prote

[2021-09-08 12:00] elasticmachine commented on #111517
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-08 12:01] muskangulati-qasource commented on #111517
@karanbirsingh-qasource please review!

[2021-09-08 12:08] peteharverson commented on #111037
I am currently working on changes to the `apm_transaction` module, converting the job to work with metric (histogram) data and extending it for throughput and failed transactions. As part of that work, I will shorten the `id` which forms the suffix of the eventual job ID, from `high_mean_transaction_duration` to something like `apm_metric`, which would be 20 characters shorter. This provides a qui

[2021-09-08 12:16] rudolf commented on #109602
Confirmed that Node OOM logs are present in the docker logs, but not being indexed on ESS

[2021-09-08 12:18] tasneem-hyder opened #111520 "Kibana Monitoring Dashboard | Logstash pipelines version drop down list item not selectable"
**Kibana version:**
v 7.13.4

**Browser version:**
Chrome: Version 93.0.4577.63 (Official Build) (x86_64)
Safari: Version 13.0.5 (14608.5.12)

**Describe the bug:**
Kibana Monitoring Dashboard | Logstash pipelines version drop down list item not selectable

**Steps to reproduce:**
1. Navigate to Stack Monitoring in Kibana, Choose Logstash
2. Click Pipelines, then select any pipeline which has mult

[2021-09-08 12:19] muskangulati-qasource commented on #111106
Hi @ashokaditya , @kevinlog

We tested this ticket & found that the issue is fixed on the 7.15.0-BC5 environment. Please find below the testing details:

**Build Details:**
[code]

**Screen-Recording**:

https://user-images.githubusercontent.com/60252716/132505984-be0857a4-f1bb-4442-ae44-9b2a5bf2fb78.mp4

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-09-08 12:19] muskangulati-qasource commented on #110585
Hi @ashokaditya , @kevinlog

We tested this ticket & found that the issue is fixed on the 7.15.0-BC5 environment. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![memory](https://user-images.githubusercontent.com/60252716/132507564-70c319c6-9b19-47e2-bb17-d2a1d80a9ef4.JPG)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-09-08 12:19] #110585 closed

[2021-09-08 12:19] muskangulati-qasource commented on #109795
Hi @MadameSheema,

We tested this ticket & found that the issue is fixed on the 7.15.0-BC5 environment. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![RiskScore](https://user-images.githubusercontent.com/60252716/132507614-ae67e205-7a16-45b4-baf5-4086cbf0305b.JPG)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-09-08 12:19] #109795 closed

[2021-09-08 12:19] muskangulati-qasource commented on #109633
Hi @ferullo,

We tested this ticket & found that the issue is fixed on the 7.15.0-BC5 environment. Please find below the testing details:

**Build Details:**
[code]

**Screenshot**:
![image](https://user-images.githubusercontent.com/60252716/132507813-fc0a9e1e-5188-4330-8ee8-e4fe83c9d70d.png)

Hence, closing this ticket and marking it as "Validated".

Thanks!

[2021-09-08 12:19] #109633 closed

[2021-09-08 12:19] #111106 closed

[2021-09-08 12:21] dominiqueclarke commented on #111482
@liciavale To answer your questions, the settings below indeed belong to the checkbox and only appear when the checkbox is checked.

I think the "Advanced Zip Url" panel could work well, as we could only show the panel when zip url is selected.

[2021-09-08 12:21] snide commented on #111374
@alexfrancoeur I think it's much simpler. Because we now skip this page in the setup, we need to print out the ES endpoint on the page (using ES directly is still extremely common). I'd suggest putting it possibly in the header or somewhere prominent of the integrations view:

![image](https://user-images.githubusercontent.com/324519/132507292-a45a42ce-6d8c-4583-ab44-55e4488ff4fe.png)

I think we'

[2021-09-08 12:24] sqren commented on #111037
What about simply allowing the consumer to specify an id that must be less than 64 characters?

[2021-09-08 12:26] amolnater-qasource commented on #106048
Hi @EricDavisX
We have executed **10** testcases under [Ingest Manager new Feature Upgrade Package Policy 7.15](https://elastic.testrail.io/index.php?/runs/view/2245&group_by=cases:section_id&group_order=asc&group_id=30770) for this feature on 7.15.0 Snapshot Kibana cloud environment.

**Build details:**
BUILD: 43944
COMMIT: 951240e085cc4465167ab4d6bcdf6f267446a874

Thanks

[2021-09-08 12:30] stacey-gammon commented on #109232
@mshustov - the bug should be fixed now and all deprecated types should show up here: https://docs.elastic.dev/kibana-dev-docs/deprecated-api-list-by-api#referenced-deprecated-apis. Let me know if any are missing.

[2021-09-08 12:34] sqren commented on #111095
@afgomez Thanks! So it sounds like this is a problem in APM and not stack alerting. I'll update the labels then

[2021-09-08 12:38] shahzad31 commented on #110361
closing this since it's duplicate of https://github.com/elastic/kibana/issues/84992

[2021-09-08 12:38] pgayvallet commented on #103915
Looking at `src/core/server/config/deprecation/core_deprecations.ts`, what exactly should we handle here?

- All the deprecations targeting the legacy logging system can definitely be removed once https://github.com/elastic/kibana/issues/50660 lands:
  - 🔴 `opsLoggingEventDeprecation`
  - 🔴 `requestLoggingEventDeprecation`
  - 🔴 `destLoggingDeprecation`
  - 🔴 `quietLoggingDeprecation`
  - 🔴 `silen

[2021-09-08 12:38] #110361 closed

[2021-09-08 12:41] joshbressers commented on #111469
Strangely, it bails if I try anything other than GnuTLS strings.

This will be a self fixing problem in the near future then, awesome.

Nah, I'm going to close this, thanks for looking

[2021-09-08 12:41] #111469 closed

[2021-09-08 12:47] shahzad31 commented on #110418
looks like one off failure , also it's coming out of common page object security , uptime is just using login/logout feature from that.

[2021-09-08 12:48] #108360 closed

[2021-09-08 12:48] shahzad31 commented on #104249
looks like one off failure , also it's coming out of common page object security , uptime is just using login/logout feature from that.

[2021-09-08 12:53] alexfrancoeur commented on #111374
Ah wonderful, rough screens ftw. Makes sense to me! @dborodyansky please reach out  to myself and @mostlyjason if you'd like any product feedback on the updated designs.

[2021-09-08 13:01] ryankeairns commented on #106581
Correct. Short of more involved UI changes, this feels like a minimal approach.

[2021-09-08 13:01] jonathan-buttner commented on #110146
Yeah that's fine for Cases.

[2021-09-08 13:11] pgayvallet commented on #110583
and then after that always respond 200. Or only return 503 if any of the core services are unavailable or critical

+1 to only return 503 before Kibana becomes available and then only if any core service is unavailable/critical.

[2021-09-08 13:21] mikecote commented on #111259
I wonder if we can rely on conflicts (409 errors) to prevent this from happening? Like capturing the SO `version` when starting to run the task, and use it to update the task SO after running. We'd have to ensure there are no supported mutations to the task SO while they're running (which I don't think we have)..

In the case of a conflict, it would mean the task timed out and another (or the same

[2021-09-08 13:23] MadameSheema commented on #108692
@deepikakeshav-qasource can you please open a different ticket for the bug you are mentioning above and close this one as soon as the ticket is created? Thank you

[2021-09-08 13:23] sophiec20 commented on #111037
Out of the box, the modules allow the user to specify a prefix and the job suffix is hardcoded, defined in the module - this helps users who create modules in the ML UI to have jobs with a meaningful name. Remember that most modules contain multiple jobs so its simpler to setup groups of jobs that all share the same prefix. This applies to all ML modules, not just APM. At this stage, I propose we

[2021-09-08 13:24] #111479 closed

[2021-09-08 13:26] MadameSheema commented on #111089
Closing since this is the expected behaviour.

[2021-09-08 13:26] #111089 closed

[2021-09-08 13:32] nreese commented on #103915
This setting was added in https://github.com/elastic/kibana/pull/54399. @nickpeihl are there plans to remove manifestServiceUrl for 8.0? There are still 2 files containing manifestServiceUrl in maps_ems plugin. Looks like the setting is not wired up to anything as well so maybe the deprecation notice is no longer needed and can just be removed?

[2021-09-08 13:38] elasticmachine commented on #101870
Pinging @elastic/kibana-core (Team:Core)

[2021-09-08 13:40] elasticmachine commented on #101870
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-08 13:43] shahzad31 commented on #109467
closing this as duplicate of https://github.com/elastic/kibana/issues/57737

[2021-09-08 13:43] #109467 closed

[2021-09-08 13:44] dgieselaar opened #111534 "[APM] Improve state handling for APM rule flyouts"
As we have had a couple of bugs around creating/editing rules, specifically around rule parameters, we should consider rewriting the state management/flow for these components, in order to increase maintainability, and ultimately limit the amount of bugs.

## Current situation

There are two ways to create APM rules:

1. Via the header in the APM app
2. Outside of the APM app (create/edit)

In the

[2021-09-08 13:44] elasticmachine commented on #111534
Pinging @elastic/apm-ui (Team:apm)

[2021-09-08 13:45] mikecote commented on #90934
@kobelb @stacey-gammon @lukeelmers since deprecating the `.enabled` flags in our plugins (https://github.com/elastic/kibana/pull/108281), we've started hearing use-cases that our customers are using these flags for.

The most recent one is about preventing certain Kibana instances from running alerting or action plugin(s) because they don't want them running actions or alerting tasks. We've never

[2021-09-08 13:53] cjcenizal commented on #104855
@weltenwort Sorry, to clarify I was noting our requirements for when we consume the locator would be to be able to specify source and log position. The actual underlying URL was a red herring. :)

[2021-09-08 13:58] pgayvallet commented on #93755
Did we come to an agreement that the answer to the question was `no` and close this 😄 ?

[2021-09-08 14:00] ThunderM commented on #108186
Hi @kertal,

The problem we face, which is described by Frederic, does not completely match your description.

The default sorting field only changes if the default sorting field of the first index pattern does not exist in the new index pattern.

In our case we have two types of index patterns:
- `pattern1`: default sorting of `timestampfield1`, but does not have `timestampfield2`.
- `pattern2`:

[2021-09-08 14:06] kertal commented on #108186
thank you @ThunderM will have a closer look here!

[2021-09-08 14:08] jbudz commented on #103915
I opened https://github.com/elastic/kibana/pull/111535 for `CONFIG_PATH` and `DATA_PATH`.

[2021-09-08 14:10] jportner commented on #54023
Yeah, I think that makes sense. Let's change the deprecation in 7.x accordingly.

Note, the Core team has an open issue to prevent plugins from being disabled in 8.0+ (including spaces and security): #89584

[2021-09-08 14:15] jasonrhodes opened #111536 "[Stack Monitoring] [Angular Removal] Avoid multiple requests simulataneously"
Options to consider:

* Pull in `useTrackedPromise` functionality from the infra plugin
* Use existing code in SM that @estermv mentioned

[2021-09-08 14:15] elasticmachine commented on #111536
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-08 14:16] jportner commented on #104152
Reopening this, still need to get rid of `securityOss` plugin

[2021-09-08 14:17] TinaHeiligers commented on #59588
Thanks everyone, so glad I checked!

[2021-09-08 14:18] angorayc commented on #106980
https://github.com/elastic/kibana/pull/111435

[2021-09-08 14:20] watson commented on #54023
And in `master` as well, right? This deprecation notice is currently present both in `7.x` and `master`

[2021-09-08 14:28] elasticmachine commented on #111496
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-08 14:29] #17025 closed

[2021-09-08 14:29] jgowdyelastic commented on #111037
I think the real solution to APM's use of modules is for APM to not use modules at all.
Originally the use was appropriate, but as APM has needed to customise more and more of the single job that is in the module, using a module just is appropriate anymore. Especially as APM call the setup endpoint multiple times with various overrides.
APM should be changed to create/open/start the single job and

[2021-09-08 14:33] jbudz commented on #111496
Same failure mode as https://github.com/elastic/kibana/issues/111001 and https://github.com/elastic/kibana/issues/111001.  Skipped.

main: https://github.com/elastic/kibana/commit/55b0d535ff98723113fd72efe9f66365e7fa33d4
7.x: https://github.com/elastic/kibana/commit/f7ec6f174725b85edf5ab3c878f3dd0773f8c889

[2021-09-08 14:33] #110946 closed

[2021-09-08 14:45] jportner commented on #59555
Note from today's meeting: this is not well-defined, and some of the issue description is out of date from our old circular dependency. This issue needs some research and design work before implementation.

[2021-09-08 14:51] jportner commented on #110264
Current scenarios we can get unanticipated 401 errors:
* Server side token expiration bug (#104893)
* Multiple Kibanas connected to the same ES cluster
  * without sharing an encryption key (the cookie is dropped by Core before authentication pipeline)
  * with a different auth config

We should detect specific situations where able, and otherwise show a _different_ error message that doesn't impl

[2021-09-08 14:51] kertal commented on #103239
tested again with #111127 and works as expected. closing this

[2021-09-08 14:51] #103239 closed

[2021-09-08 15:04] gmmorris commented on #111260
I'm happy to kick off a cross-team discussion on previews, but I will say that doing this at framework level would be extremely difficult considering the framework has no understanding of what a rule is actually doing.
From our perspective it's "just a JS function" and whether you're running queries in there or transforming large data sets is rather opaque to the framework itself.

I suspect a gen

[2021-09-08 15:05] jportner commented on #54023
Ah, the deprecation can be removed from master. I doubt the Core team will be doing that for us in their PR, so we should probably do it.

[2021-09-08 15:11] dasansol92 opened #111543 "[Trusted Apps] User can search and filter trusted apps with a search bar"
Parent Issue: #685
Meta: #122
Feature: Trusted Applications per policy

## Description:
Below the header there is a search bar that allow users search and filter trusted apps inside the trusted apps list already filtered by policy.

Mock: https://www.figma.com/file/msfFXMLZcLZaDJ56Sf6ty1/Trusted-apps-per-policy-7.16?node-id=43%3A220798

## Acceptance Criteria:
- [ ] User can search and filter trus

[2021-09-08 15:11] elasticmachine commented on #111543
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-08 15:23] mikecote commented on #111384
Added another linked issue: https://github.com/elastic/kibana/issues/111496

[2021-09-08 15:23] jportner opened #111551 "All 401 errors result in `SESSION_EXPIRED` message"
The SessionExpired class provides a `logout()` method that is used in two places:

https://github.com/elastic/kibana/blob/4584a8b570402aa07832cf3e5b520e5d2cfa7166/x-pack/plugins/security/public/session/session_expired.ts#L32-L42

(1) When the SessionTimeout module detects that a user's session is about to expire:

https://github.com/elastic/kibana/blob/4e5df8cf20ec6ae6299d5f5b5bd6ca9fc92bc86f/x-pa

[2021-09-08 15:23] elasticmachine commented on #111551
Pinging @elastic/kibana-security (Team:Security)

[2021-09-08 15:23] mikecote commented on #111384
@ymao1 may have a new test to unskip after pulling master: https://github.com/elastic/kibana/issues/111496#issuecomment-915293039

[2021-09-08 15:35] #26752 closed

[2021-09-08 15:35] #31071 closed

[2021-09-08 15:35] #63685 closed

[2021-09-08 15:35] #78113 closed

[2021-09-08 15:35] #94314 closed

[2021-09-08 15:35] #103209 closed

[2021-09-08 15:39] elasticmachine commented on #108585
Pinging @elastic/fleet (Team:Fleet)

[2021-09-08 15:40] elasticmachine commented on #106690
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-08 15:40] weltenwort commented on #111173
The `RuleDataClient` usage in the `observability` plugin has been removed in #109346, so from that point of view it's not required anymore.

[2021-09-08 15:42] mikecote commented on #108147
Closing due to no recent activity

[2021-09-08 15:42] #108147 closed

[2021-09-08 15:43] mikecote commented on #85105
[code]

[2021-09-08 15:44] elasticmachine commented on #111429
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-08 15:51] XavierM commented on #109158
@jportner and @watson, if you both do not mind it, I can take this one and you can review it. what do you think?

[2021-09-08 16:11] jportner commented on #109158
That would be great, thanks!

As mentioned in the linked meta issue (#111160), we need to do separate things for 7.x and master:

We discussed this particular issue with Platform leadership, and decided that the upgrade assistant in 7.x should provide an automated remediation to "fix" existing roles that are impacted.

Here's how I think we should approach that:

Each role with **Custom Privileges

[2021-09-08 16:16] pmuellr commented on #110792
Was wondering - haven't really looked - to see if we can identify the source of the API key that fails decryption - specifically to the alerting rule.  We may not be providing that info today in the invalidation docs.  And not completely sure it would be actionable.  It was a previous API key for a rule.  The rule might not even exist :-).  I have a feeling like it could be useful in some sort of

[2021-09-08 16:31] elasticmachine commented on #111478
Pinging @elastic/kibana-docs (Team:Docs)

[2021-09-08 16:38] jportner commented on #105970
Yes, I think so.
Corey already has a PR open with the majority of the work done.

[2021-09-08 16:39] sabarasaba commented on #111477
Fixed with https://github.com/elastic/kibana/pull/111518

[2021-09-08 16:39] #111477 closed

[2021-09-08 16:40] smith opened #111577 "[APM] Improve table width breakpoint control"
We currently have some complex logic around when to show and hide sparklines on tables. Example: https://github.com/elastic/kibana/blob/66e88da97cb2248fab016cfe0f88a0cf19ccdd38/x-pack/plugins/apm/public/components/shared/transactions_table/index.tsx#L93-L95

Most of this logic is for the service overview page where we display tables in a single column or in two columns next to a chart, depending o

[2021-09-08 16:40] elasticmachine commented on #111577
Pinging @elastic/apm-ui (Team:apm)

[2021-09-08 16:44] jasonrhodes commented on #90254
Replaced by https://github.com/elastic/kibana/issues/109791

[2021-09-08 16:44] #110165 closed

[2021-09-08 16:45] #90254 closed

[2021-09-08 16:54] jonathan-buttner commented on #111436
Yep, sorry for the noise, that was the issue. Thanks for taking a look!

[2021-09-08 16:54] #111436 closed

[2021-09-08 16:54] kqualters-elastic opened #111581 "Timelines Plugin Tech Debt Cleanup"
As part of the Rules, Alerts, and Cases effort in 7.14/7.15, a new timelines plugin was created to share the alerts table and derivative workflows originally found in the security solution plugin. This issue will serve as a meta issue to track the effort to cleanup some of the tech debt incurred during this effort.

- [ ] Move or remove the various search strategies defined(and sometimes duplicate

[2021-09-08 16:55] elasticmachine commented on #111581
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-08 17:02] #111104 closed

[2021-09-08 17:10] omegahack0 opened #111587 "TSVB math attrubute"
**Describe the feature:**
Currently the TSVB visualizations math section doesn't allow the user to easily see what the usable variables/attributes of the variables. The feature I am suggesting would be an additional page within the TSVB section of the page and will give more visibility than the basic information about fields under the Expression text box. This feature could be something like an ob

[2021-09-08 17:14] liza-mae opened #111588 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/discover/_doc_table_newline·ts - discover app discover doc table newline handling should break text on newlines"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_doc_table_newline·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:14] liza-mae opened #111589 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/home/_newsfeed·ts - homepage app Newsfeed shows all news from newsfeed"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_newsfeed·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Newsfeed has red icon which is a sign of not checked news

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:15] liza-mae commented on #110367
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:15] liza-mae opened #111590 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts - saved objects management saved objects edition page allows to update the saved object when submitting"
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/saved_objects_management/edit_saved_object·ts**
**Stack Trace:**
[code]
**Other test failures:**
- saved objects management saved objects edition page allows to delete a saved object

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:15] liza-mae commented on #109458
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_timelion·ts**
**Stack Trace:**
[code]
**Other test failures:**
- visualize app new charts library visualize ciGroup7 Timelion visualization should display correct chart colors for multiple expressions
- visualize app new charts library visualize ciGroup7 Timelion visualization should display correct chart data

[2021-09-08 17:15] liza-mae commented on #105319
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_indexpattern_with_unmapped_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:15] liza-mae commented on #109459
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/visualize/_tsvb_time_series·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:15] liza-mae opened #111591 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/dashboard/copy_panel_to·ts - dashboard app using legacy data dashboard panel copy to "before all" hook for "does not show the new dashboard option when on a new dashboard""
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/dashboard/copy_panel_to·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:15] liza-mae commented on #111591
Relates to: elastic/kibana#96995

[2021-09-08 17:15] liza-mae commented on #92309
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/visualize_create_menu·js**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  visualize create menu aggregion based visualizations should not show legacy tilemap map visualizion in create menu

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-test

[2021-09-08 17:16] liza-mae opened #111592 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/apm/feature_controls/apm_security·ts - APM specs feature controls security global apm all privileges shows apm navlink"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/apm/feature_controls/apm_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- APM specs feature controls security global apm read-only privileges shows apm navlink

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:16] liza-mae commented on #110360
**Version: 7.15.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_runtime_fields_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover app discover integration with runtime fields editor allows creation of a new field
- discover app discover integration with runtime fields editor allows editing of a newly created field
- discover app discover integration wit

[2021-09-08 17:16] liza-mae opened #111593 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts - discover feature controls discover feature controls security global discover all privileges allow saving changes to a currently loaded query via the saved query management component"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/feature_controls/discover_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover feature controls discover feature controls security global discover all privileges allow saving currently loaded query as a copy
- discover feature controls discover feature controls security global

[2021-09-08 17:16] liza-mae commented on #109463
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/discover/reporting·ts**
**Stack Trace:**
[code]
**Other test failures:**
- discover Discover CSV Export Generate CSV: new search generates a report from a new search with data: discover:searchFieldsFromSource
- discover Discover CSV Export Generate CSV: new search generates a report with no data
- discover

[2021-09-08 17:16] liza-mae opened #111594 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts - lens app lens smokescreen tests should create an xy visualization with filters aggregation"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/lens/smokescreen·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:17] liza-mae commented on #109466
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/synthetics_integration·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with generated data When on the Synthetics Integration Policy Create Page create new policy allows saving browser monitor
- Uptime app with generated data When on the Synthetics Integration Policy Create Page cr

[2021-09-08 17:17] liza-mae opened #111595 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/overview·ts - Uptime app with real-world data overview page pagination is cleared when filter criteria changes"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/overview·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with real-world data overview page clears pagination parameters when size changes

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:17] liza-mae commented on #111595
Relates to: elastic/kibana#57737

[2021-09-08 17:17] liza-mae opened #111596 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts - Uptime app with real-world data feature controls security global uptime all privileges shows uptime navlink"
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/uptime/feature_controls/uptime_security·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Uptime app with real-world data feature controls security global uptime read-only privileges shows uptime navlink

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-te

[2021-09-08 17:17] liza-mae commented on #109470
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Dashboard Reporting Screenshots PNG Layout downloads a PNG file: large dashboard
- dashboard Reporting Dashboard Reporting Screenshots Preserve Layout downloads a PDF file: large dashboard

 _Test Rep

[2021-09-08 17:17] liza-mae commented on #109455
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dashboard/reporting/download_csv·ts**
**Stack Trace:**
[code]
**Other test failures:**
- dashboard Reporting Download CSV E-Commerce Data Downloads a filtered CSV export of a saved search panel

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testRep

[2021-09-08 17:17] liza-mae commented on #97559
**Version: 7.15.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/security/management·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:17] liza-mae commented on #98418
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:17] liza-mae commented on #105354
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #102008
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #105355
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #105356
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #98419
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #105357
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #98420
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae opened #111597 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/ml/job_audit_messages/get_job_audit_messages·ts - apis Machine Learning job_audit_messages get_job_audit_messages should fetch all audit messages"
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/ml/job_audit_messages/get_job_audit_messages·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis Machine Learning job_audit_messages get_job_audit_messages should fetch audit messages for specified job
- apis Machine Learning job_audit_messages get_job_audit_messages should fetch audit messages for

[2021-09-08 17:18] liza-mae opened #111598 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/ml/job_audit_messages/clear_messages·ts - apis Machine Learning job_audit_messages clear_messages should mark audit messages as cleared for provided job"
**Version: 7.15.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/ml/job_audit_messages/clear_messages·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #109456
**Version: 7.15.0**
**Class: X-Pack Reporting API Integration Tests1.x-pack/test/reporting_api_integration/reporting_and_security/ilm_migration_apis·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:18] liza-mae commented on #110365
**Version: 7.15.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  Generating signals from ml anomalies should create 7 alerts from ML rule when records meet anomaly_threshold
- detection engine api secur

[2021-09-08 17:18] liza-mae opened #111599 "[test-failed]: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/ignore_fields·ts - detection engine api security and spaces enabled ignore_fields should ignore the field of "testing_ignored""
**Version: 7.15.0**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/ignore_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  ignore_fields should ignore the field of "testing_regex"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elasti

[2021-09-08 17:18] liza-mae opened #111600 "[test-failed]: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_permissions·ts - endpoint Endpoint permissions: when running with user/role [hunter] "before all" hook for "should NOT allow access to endpoint management pages""
**Version: 7.15.0**
**Class: X-Pack Endpoint Functional Tests1.x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_permissions·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2305/testReport/_

[2021-09-08 17:31] liza-mae commented on #111588
Fixed here: https://github.com/elastic/kibana/issues/105317 but did not make latest BC, closing for now.

[2021-09-08 17:31] #111588 closed

[2021-09-08 17:32] yctercero commented on #110802
@FrankHassanabad can this be marked as `fixed`?

[2021-09-08 17:32] #111595 closed

[2021-09-08 17:33] elasticmachine commented on #111597
Pinging @elastic/ml-ui (:ml)

[2021-09-08 17:33] elasticmachine commented on #111598
Pinging @elastic/ml-ui (:ml)

[2021-09-08 17:33] elasticmachine commented on #111589
Pinging @elastic/kibana-core (Team:Core)

[2021-09-08 17:34] elasticmachine commented on #111596
Pinging @elastic/uptime (Team:uptime)

[2021-09-08 17:34] elasticmachine commented on #111592
Pinging @elastic/apm-ui (Team:apm)

[2021-09-08 17:36] elasticmachine commented on #111594
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-08 17:37] elasticmachine commented on #111590
Pinging @elastic/kibana-core (Team:Core)

[2021-09-08 17:37] elasticmachine commented on #111593
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-08 17:38] elasticmachine commented on #111591
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-08 17:39] elasticmachine commented on #111599
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2021-09-08 17:47] kobelb commented on #90934
Based on all of the information in this thread, it's my understanding that we do see benefit from preventing a specific Kibana node from executing alerts; however, we don't want to make all consumers of the alerting framework have to deal with the complexities of the plugin being entirely disabled. If this is this case, I think it'd make sense for us to remove `xpack.alerting.enabled` and `xpack.a

[2021-09-08 17:48] weltenwort commented on #104855
Yes, I just wanted to use this opportunity to point out that we have these stable `link-to` routes, that prevent you from having to know the internal representation of the page's state in the url.

[2021-09-08 17:51] chrisronline commented on #90934
@mikecote Does it feel possible that users might want to keep rule execution but disable action execution? A config like `xpack.task_manager.internal.exclude_task_types` gives us this flexibility out of the box - if we went down the route of `xpack.alerting.rule_execution.enabled`, we'd have to potentially duplicate this config across, at least, the actions plugin too (which is doable too)

[2021-09-08 18:15] kibanamachine commented on #111076
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16877/)

[2021-09-08 18:18] dborodyansky commented on #111374
@mostlyjason @snide @alexfrancoeur Thank you for the context around surfacing endpoint information. I added Dave's concept as well as some other potential ideas to the [design decision doc](https://docs.google.com/document/d/1eR6KzBra0c7XDZ9tsG5RcecVfPEFO9noR-IbregQ1KU/edit#heading=h.katgkqxnj2k2) to get further feedback.

[2021-09-08 18:24] lukeelmers commented on #37851
This should be the last blocker for this issue: https://github.com/elastic/kibana/issues/109791

Current ETA for that blocker to be addressed is 01 Oct.

[2021-09-08 18:25] tsullivan opened #111615 "[Reporting Tests] Reporting functional tests should not rely on non-default settings"
**Kibana version:** 7.14+

In https://github.com/elastic/kibana/blob/7.15/x-pack/test/functional/config.js#L85-L100, there are server settings that override defaults for Reporting in order to get specific behavior from the apps during testing. This makes the tests fail when they are run against default Cloud instances.

In order to smooth out the steps for testing Kibana code in Cloud, the functio

[2021-09-08 18:26] mbarretta commented on #17298
with https://github.com/elastic/kibana/pull/94449, I think phase 2 of this issue was completed. Any insight on plans for phase 3, the global footer?

[2021-09-08 18:26] elasticmachine commented on #111615
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-08 18:26] elasticmachine commented on #111615
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-08 18:28] tsullivan commented on #111615
cc @poffdeluxe @LeeDr

[2021-09-08 18:30] tsullivan commented on #105337
Could be related to https://github.com/elastic/kibana/issues/111615

[2021-09-08 18:42] kobelb commented on #101964
Just a friendly reminder that this is something we need to do for 8.0; however, it's still blocked by Observability's use for their dev environments. Given the fact that we're getting close to the 8.0 FF, it might be wise to get a PR together for this so it can be merged as soon as Observability no longer required it.

[2021-09-08 18:47] lukeelmers commented on #101964
ack: this is something that's on our radar & we already have in our queue for 2-3 weeks from now.

if the observability team isn't moved off it in the next week or two, we will plan to move forward on a draft PR.

[2021-09-08 18:56] kibanamachine commented on #53442
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16878/)

[2021-09-08 18:56] kibanamachine commented on #53442
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16878/)

[2021-09-08 18:57] kibanamachine opened #111628 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/lens/add_to_dashboard·ts - lens app lens add-to-dashboards tests should add a Lens heatmap to the dashboard"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16878/)

[2021-09-08 19:00] ravikesarwani opened #111629 "Remove deprecation warning for internal collection from the stack monitoring UI"
We should remove the "Internal collection detected" warning in the stack monitoring UI that indicates internal monitoring will no longer be supported in 8.0.0.

Based on our recent discussions and decision wherein internal monitoring will continue to be supported **at least the early part of 8.0** we would like to remove the nagging warning regarding "Internal collection detected" in the stack mon

[2021-09-08 19:00] elasticmachine commented on #111629
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-08 19:00] elasticmachine commented on #111629
Pinging @elastic/stack-monitoring (Team:Monitoring)

[2021-09-08 19:12] LeeDr opened #111631 "minimal_all in combination with the default xpack.reporting.roles.enabled: true setting doesn't give any privs"
**Kibana version:** 7.15.0 (but also 7.14 or earlier versions)

**Elasticsearch version:** 7.15.0

**Server OS version:** n/a

**Browser version:** n/a

**Browser OS version:** n/a

**Original install method (e.g. download page, yum, from source, etc.):** ESS Cloud

**Describe the bug:** If you create a role with Kibana Canvas privilege of `all` or `minimal_all` it should allow full access to Canv

[2021-09-08 19:14] cjcenizal commented on #51877
@chrisronline I see you're assigned to this -- is this on the roadmap for 7.16?

[2021-09-08 19:17] chrisronline commented on #51877
@cjcenizal Sorry, I'm no longer on the team. I will unassign.

[2021-09-08 19:17] darnautov commented on #111598
Fixed by https://github.com/elastic/kibana/pull/111529/

[2021-09-08 19:17] #111598 closed

[2021-09-08 19:18] kibanamachine commented on #108352
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/137/)

[2021-09-08 19:18] kibanamachine commented on #107849
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.15/137/)

[2021-09-08 19:19] darnautov commented on #111597
Fixed by https://github.com/elastic/kibana/pull/111529/

[2021-09-08 19:19] #111597 closed

[2021-09-08 19:23] #110809 closed

[2021-09-08 19:26] liza-mae commented on #108877
@MadameSheema yes it is still failing

[2021-09-08 19:30] elasticmachine commented on #111631
Pinging @elastic/kibana-security (Team:Security)

[2021-09-08 19:33] #109583 closed

[2021-09-08 19:33] #109703 closed

[2021-09-08 19:43] tsullivan commented on #111631
Note: I couldn't figure out where `minimal_all` is defined for Canvas, or defined anywhere at all. I believe it is a built-in from the Security Feature Controls side. I advised Lee to file this with the Team:Security label.

To add some background to Lee's description and how it involves Canvas & Reporting: the `xpack.reporting.roles.enabled` config setting causes Canvas to either have a sub-featu

[2021-09-08 19:44] bhavyarm opened #111642 "Filter panel doesn't get populated with fields on alias index for non-super user"
**Kibana version:** 7.15.0

**Elasticsearch version:** 7.15.0

**Server OS version:** darwin_x86_64

**Browser version:** chrome latest

**Browser OS version:** OS X

**Original install method (e.g. download page, yum, from source, etc.):** from staging

**Describe the bug:** If a non-super user tries to build a filter using alias fields - Kibana displays empty for fields drop down.
Please note th

[2021-09-08 19:44] elasticmachine commented on #111642
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-08 19:48] legrego commented on #111631
This is actually working as designed. Features only get a `minimal_all` privilege if there is at least 1 sub-feature privilege defined. Otherwise, we don't bother creating this, as it is indistinguishable from the `all` privilege from an authorization perspective.

I think we are open to changing this decision if needed, but this isn't a bug as it stands today

[2021-09-08 19:55] kibanamachine opened #111643 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/feature_controls/transform_security·ts - transform feature controls security global dashboard read with transform_user should show the Stack Management nav link"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16879/)

[2021-09-08 19:55] kibanamachine opened #111644 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/feature_controls/transform_security·ts - transform feature controls security global dashboard read with transform_user "after all" hook for "should render the "Data" section with Transform""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16879/)

[2021-09-08 19:55] kibanamachine opened #111645 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/transform/feature_controls/transform_security·ts - transform feature controls security "after all" hook in "security""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16879/)

[2021-09-08 19:55] kibanamachine commented on #93890
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16879/)

[2021-09-08 19:55] kibanamachine commented on #111628
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16879/)

[2021-09-08 19:55] spalger commented on #108352
After https://github.com/elastic/kibana/pull/111117 was merged we started to see failures both here and in https://github.com/elastic/kibana/issues/111628 (which failed several times in the PR as well) so skipping so that they can be fixed.

master/8.0: https://github.com/elastic/kibana/commit/b328fb39819167f95f0ae57f757ab3ff2d5f4d6d
7.x/7.16: https://github.com/elastic/kibana/commit/f15cc547ecc60

[2021-09-08 19:58] spalger commented on #111628
After https://github.com/elastic/kibana/pull/111117 was merged we started to see failures here, and these tests failed several times in the PR as well, so skipping as they are clearly flaky.

Started seeing failures in https://github.com/elastic/kibana/issues/108352 at the same time, which also adds things to dashboards, so guessing the flakiness comes from a shared location and skipped that suite

[2021-09-08 19:59] elasticmachine commented on #111628
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-08 20:06] sqren commented on #111037
It sounds like the id is both a human readable label and a unique identifier. Separating these two would make it easy to both add a good label, and have a unique identifier within the 64 byte limit.

If we had a human readable label/name I think that should be configurable. I can't think of any reasons for the id to be configurable though.

[2021-09-08 20:06] sqren commented on #111037
Agree, going forward I think we should move away from the modules.

[2021-09-08 20:08] kibanamachine commented on #111628
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16880/)

[2021-09-08 20:08] kibanamachine commented on #111628
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16880/)

[2021-09-08 20:21] rylnd commented on #110987
What can sometimes happen is that Rule saved objects can be run through migrations which then change during a release cycle; this invalidates these saved objects,  causing the 404 when the alerting task attempts to retrieve the stored SO.

If this reoccurs, let's try to note the circumstances so that we can dig in further. If this isn't happening consistently right now, I think we can chalk this u

[2021-09-08 20:30] lukeelmers commented on #82432
All of the above items are deprecated yml configs, which means they're already being surfaced by the deprecations service for use in the upgrade assistant. And the breaking change for this config has already been made in https://github.com/elastic/kibana/pull/51142

I'll go ahead and close this issue, but @cjcenizal feel free to re-open if it is needed for some other reason.

[2021-09-08 20:30] lukeelmers commented on #84363
All of the above items are deprecated yml configs, which means they're already being surfaced by the deprecations service for use in the upgrade assistant. And we already have https://github.com/elastic/kibana/issues/50660 to track the breaking changes which will be made to remove the legacy logging infrastructure.

I'll go ahead and close this issue, but @cjcenizal feel free to re-open if it is n

[2021-09-08 20:30] #84363 closed

[2021-09-08 20:31] LeeDr commented on #111631
I think this is a weird situation where the test creates a role via the Kibana API which has the minimal_all priv even though you couldn't do that through the UI in this case (when `xpack.reporting.roles.enabled: true`).

Maybe creating that role should fail?

[2021-09-08 20:32] kevinlog commented on #111270
@muskangulati-qasource this should be available for testing with the BC5 stack and BC5 Agent/Endpoint.

[2021-09-08 20:46] stacey-gammon commented on #111196
I may be misunderstanding this comment. Is the App Services team still planning to switch over usages of `.get` to `.resolve` where an un-migrated id may be encountered (e.g. URLs)?

Eliminating the need to handle conflict scenarios makes it seem like the team can use `resolve`, even if it will be called with migrated ids as well as un-migrated ids. Not ideal, but at least no errors will be encoun

[2021-09-08 21:10] kibanamachine commented on #111628
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16881/)

[2021-09-08 21:10] kibanamachine commented on #111628
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16881/)

[2021-09-08 21:34] rylnd commented on #109830
@zeuhl thanks for filing this! I dug into this briefly, and it looks like we're not properly encoding the index name when [issuing our EQL requests](https://github.com/elastic/kibana/blob/master/x-pack/plugins/security_solution/common/detection_engine/get_query_filter.ts#L119). It should be a simple fix to encode those; I think we can target this for a quick release.

[2021-09-08 21:37] #82299 closed

[2021-09-08 21:37] #109814 closed

[2021-09-08 21:43] ppf2 opened #111653 "Provide an option to hide Cloud ID from Add Data instructional pages"
Every add data page shows the Cloud ID.  While this string does not contain credentials, some users prefer not to display it to all Kibana users.

![image](https://user-images.githubusercontent.com/7216393/132589658-dbc1788d-8ab2-4b27-bfe9-b5517877231a.png)

[2021-09-08 21:54] liza-mae opened #111654 "How to disable elasticsearch warning message"
This relates to https://github.com/elastic/elasticsearch/issues/77461.

I am getting a warning message in the Kibana UI which fails in the scripts with ```ElementClickInterceptedError: element click intercepted: Element``` is there a way to disable this warning message?

![Screenshot from 2021-09-08 15-36-18](https://user-images.githubusercontent.com/23424008/132590823-d9887032-ae1c-4c27-9422-88bc

[2021-09-08 21:54] elasticmachine commented on #111654
Pinging @elastic/kibana-core (Team:Core)

[2021-09-08 21:58] nickpeihl commented on #103915
I've opened https://github.com/elastic/kibana/pull/111656 to remove the `map.manifestServiceUrl` setting in 8.0.

[2021-09-08 22:05] MikeatElastic opened #111659 "Filter for value and Filter out value doesn't work for a Saved Timeline [Security Solution]"
Elastic Security v 7.14.1

Area in question is Saved Timelines

**Steps to reproduce:**

1. Save a timeline with at least several events/event rows.
2. Hover over a field that shows the function pop-up menu offering the following options: Filter For Value, Filter Out Value, Add to Timeline Investigation, Show Top,  Copy to Clipboard
3. If you select either Filter For Value or Filter Out Value, not

[2021-09-08 22:06] elasticmachine commented on #111659
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-08 23:39] #111227 closed

[2021-09-09 00:06] MikeatElastic commented on #111659
Saw that this is the same as https://github.com/elastic/kibana/issues/106980  so closing this issue.

[2021-09-09 00:06] #111659 closed

[2021-09-09 01:12] kibanamachine opened #111667 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional_with_es_ssl/apps/uptime/anomaly_alert·ts - Uptime app with real-world data uptime anomaly alert has created a valid alert with expected parameters"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16885/)

[2021-09-09 01:25] matschaffer commented on #111629
Do we have anything that covers where the warnings are present today?

[2021-09-09 02:08] matschaffer opened #111668 "Make single point drill down on a lens line visualization simpler"
**Describe the feature:**

I was trying to add a drill down to jump from a lens line chart to the ECE admin UI and found it surprisingly difficult.

![Screen_Shot_2021-09-09_at_10_52_43](https://user-images.githubusercontent.com/690/132610667-5a2e7274-7e4d-423e-90e2-a799b83b6ca5.png)

![Screen_Shot_2021-09-09_at_10_53_02](https://user-images.githubusercontent.com/690/132610251-565bbcb2-f431-4ed7-a

[2021-09-09 03:03] kibanamachine opened #111669 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get_alert_state·ts - alerting api integration security and spaces enabled Alerts alerts getAlertState "after each" hook for "should handle getAlertState alert request appropriately when unauthorized""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16887/)

[2021-09-09 03:03] kibanamachine commented on #111368
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16887/)

[2021-09-09 03:05] #110041 closed

[2021-09-09 03:18] YulNaumenko commented on #110080
Yes, this issues describe the same problem.
I did the research and found the next happened after [this flow](https://github.com/elastic/kibana/issues/110080#issue-979254913):

Task Instance was created with state of the instances.

Task Instance was deleted with state of the instances.

Here we create a new task instance with the own state.

But the Event Log (which is giving us a rule summary wit

[2021-09-09 03:36] matschaffer commented on #104124
And (stepping back from APIs) how would an operator know if the memory usage of the coordinator and workers is reasonable?

Even just a bash example would be fine at this stage I think.

[2021-09-09 03:52] lukeelmers commented on #101870
duplicate of https://github.com/elastic/kibana/issues/106581

[2021-09-09 03:53] #101870 closed

[2021-09-09 04:29] deepikakeshav-qasource opened #111670 "[Security Solution] Fields having no data to be displayed are showing "Green" dot in Detection alerts"
**Describe the bug**
Fields having no data to be displayed are showing "Green" dot in Detection alerts

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. Alerts should be generated

**Steps to Reproduce**
1. Create and Activate any rule.
2. Once, alerts are generated, Navigate to alert detail flyo

[2021-09-09 04:29] elasticmachine commented on #111670
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-09 04:29] deepikakeshav-qasource commented on #111670
@manishgupta-qasource Please review!!

[2021-09-09 04:30] deepikakeshav-qasource commented on #108692
Hi @MadameSheema ,

Thanks for the update.

We have open the separate ticket for Fields having no data to be displayed are showing "Green" dot in Detection alerts. https://github.com/elastic/kibana/issues/111670

Hence, We are closing this ticket.

Thanks!!

[2021-09-09 04:30] #108692 closed

[2021-09-09 04:54] manishgupta-qasource commented on #111670
Reviewed  & assigned to @MadameSheema

[2021-09-09 05:02] deepikakeshav-qasource commented on #110780
Hi @rylnd,

We have validated this ticket on **7.15.0 BC5** and observed that only **threat.enrichments** fields are displaying when perform the migration after upgrade the build from **7.14.0** to **7.15.0 BC5**.

**Build Details:**
[code]
**Screenshots:**
![image](https://user-images.githubusercontent.com/61860752/132623298-df7be8ea-8761-478d-8787-cc2c3087998c.png)

![image](https://user-images.

[2021-09-09 05:02] #110780 closed

[2021-09-09 05:48] pheyos commented on #111645
This is the known `ECONNREFUSED` CI network issues.
No issue with with the app or the tests, closing.

[2021-09-09 05:48] #111645 closed

[2021-09-09 05:49] pheyos commented on #111644
This is the known `ECONNREFUSED` CI network issue.
No issue with with the app or the tests, closing.

[2021-09-09 05:58] tsullivan commented on #109455
@liza-mae I believe this PR should close this failure: https://github.com/elastic/kibana/pull/111626

It allows the Reporting tests to pass against a default instance of Cloud

[2021-09-09 05:59] tsullivan commented on #109463
@liza-mae I believe this PR should close this failure: https://github.com/elastic/kibana/pull/111626

It allows the Reporting tests to pass against a default instance of Cloud

[2021-09-09 06:04] elasticmachine commented on #110360
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-09 06:09] pheyos commented on #93890
It's the same `ECONNREFUSED` CI network issue again.

[2021-09-09 06:09] #93890 closed

[2021-09-09 06:11] elasticmachine commented on #111668
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-09 06:13] cachedout commented on #101964
@kobelb and @lukeelmers We've been focusing on this and we're making good progress. We've finished most of the moving pieces and just have a small CLI client and some docs left to write. Could you check back with us at the end of next week (Sept 17) for a status?

cc: @kuisathaverat @kseniia-kolpakova

[2021-09-09 06:18] pgayvallet commented on #101964
Ack. Should we ping you on https://github.com/elastic/observability-test-environments/issues/915 or on this issue?

[2021-09-09 06:19] cachedout commented on #101964
@pgayvallet  elastic/observability-test-environments#915  is our main tracking issue so that would be the best place. Thanks!

[2021-09-09 06:22] pgayvallet commented on #101964
@elastic/kibana-reporting-services do you have a dedicated issue for the removal of `xpack.reporting.index`?

[2021-09-09 06:25] stratoula opened #111673 "[Pie][Lens] Allow the labels to be displayed only outside the chart"
**Describe the feature:**
Currently both Lens and the agg-based pie allow the users to display the labels either inside the bar or inside/outside.
The second one automatically positions the labels outside if they don't fit inside the slice.
We would like to give a third option to only display the labels outside. Elastic-charts offers this https://elastic.github.io/elastic-charts/?path=/story/sunbu

[2021-09-09 06:25] elasticmachine commented on #111673
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-09 06:26] pgayvallet commented on #104124
As an operator, I'm not sure the memory usage of specific processes is really the first thing to monitor compared to the aggregated RSS from all processes? Which is why I was asking if it may make sense to expose **some** of the aggregated values (in https://github.com/elastic/kibana/issues/104124#issuecomment-911574023)

[2021-09-09 06:30] #111379 closed

[2021-09-09 06:33] elasticmachine commented on #111591
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-09 06:47] #111438 closed

[2021-09-09 06:59] pgayvallet commented on #111654
Similar to https://github.com/elastic/kibana/issues/109948

[2021-09-09 07:00] elasticmachine commented on #111654
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-09 07:27] samratbhadra-qasource opened #111679 "[Security Solution]Incorrect number of alerts shows under External alert trend."
**Describe the bug:**
Incorrect number of alerts shows under External alert trend.

**Build Details:**
VERSION: 7.15.0-BC5
BUILD: 43957
COMMIT: 0239ff6864dd9930cfe9bcd9a679272f2b7465c2
ARTIFACT: https://staging.elastic.co/7.15.0-edd09abf/summary-7.15.0.html

**Preconditions:**
Elastic 7.15.0-BC5 environment should be deployed.

**Steps to Reproduce:**

1. Log in to Kibana.
2. Navigate to Host tab

[2021-09-09 07:27] elasticmachine commented on #111679
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-09 07:28] samratbhadra-qasource commented on #111679
@manishgupta-qasource Please review.

[2021-09-09 07:32] formgeist commented on #85793
This issue has been resolved by the charts team https://github.com/elastic/elastic-charts/issues/950

[2021-09-09 07:32] pgayvallet commented on #70051
Should we close this, or is switching to another http lib still an option?

[2021-09-09 07:35] formgeist commented on #91861
This appears to no longer be an issue
<img width="488" alt="CleanShot 2021-09-09 at 09 34 25@2x" src="https://user-images.githubusercontent.com/4104278/132642868-747fb4bd-4cda-4dce-84c3-68ddbfb7d070.png">

[2021-09-09 07:35] #91861 closed

[2021-09-09 07:35] pgayvallet commented on #102272
Given that this occurred only once, and that the stack trace makes me pretty confident this was caused by an external interaction with the `/api/core/capabilities` route during or after the migration, I will go ahead and close this.

Feel free to reopen if the issue is encountered again.

[2021-09-09 07:35] #102272 closed

[2021-09-09 07:41] mbondyra commented on #103778
@MichaelMarcialis this comes from this CSS:
<img width="259" alt="Screenshot 2021-09-09 at 09 40 47" src="https://user-images.githubusercontent.com/4283304/132643906-aac42bd8-b4af-4f5f-a863-6d62185bccfd.png">

Do you know why it is there? 🤔

[2021-09-09 07:43] pgayvallet commented on #17298
https://github.com/elastic/kibana/issues/86528 is still a hard requirement to add support for a global/fixed footer. @elastic/kibana-design, any progress or visibility on that one?

[2021-09-09 07:46] formgeist commented on #84873
I'm not convinced that we should get rid of the tooltip sync. I find it more confusing that the legend item values are not displaying the average for the selected time range when you're not inspecting a specific time in the chart. The values are actually the last bucket in the series. I would actually much prefer to hide the legend item values instead to avoid having duplicate functionality.

@sqr

[2021-09-09 07:55] formgeist commented on #87449
Updated the description to focus on the error occurrence histogram which is the only chart missing the appropriate theming. The latency distribution histogram has been fixed in recent release with the new visualization.

<img width="1648" alt="CleanShot 2021-09-09 at 09 51 45@2x" src="https://user-images.githubusercontent.com/4104278/132646124-73f64614-789d-4234-b999-86daf3f3fec2.png">

[2021-09-09 08:00] Kunzetsov opened #111682 "[Canvas] Error 500 on the workpad update."
Branch: `master`.
OS version: `macOS Catalina, v10.15.7.`
Browser version: `Google Chrome: Version 91.0.4472.114 (Official Build) (x86_64)`
Original install method: `from source`.
Describe the bug:
When pasting any of `image` elements to the Canvas workpad, see the error `Could not update workpad. An internal server error`.

**Steps to reproduce:**
1. Open `Canvas` and select any element from `ima

[2021-09-09 08:00] elasticmachine commented on #111682
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-09 08:00] formgeist commented on #93903
No longer relevant in this latency correlations context

[2021-09-09 08:00] #93903 closed

[2021-09-09 08:02] formgeist commented on #97863
The charts [issue](https://github.com/elastic/elastic-charts/issues/1139) has been resolved so this is no longer blocked

[2021-09-09 08:10] formgeist commented on #84873
Related issue about adding the average value to the legend item (blocked by the charts team refactor of the legend component) https://github.com/elastic/kibana/issues/84478

[2021-09-09 08:15] pgayvallet commented on #109602
I don't think there's any trivial way to catch an OOM, as those are non-recoverable errors that don't simply bubble up.

Looking at https://github.com/blueconic/node-oom-heapdump's implementation, it requires either c bindings, or monitoring the GC.

Either way, it may be very tedious to be able to plug it into our logging system.

[2021-09-09 08:20] manishgupta-qasource commented on #111679
Reviewed & assigned to @MadameSheema

[2021-09-09 08:20] karanbirsingh-qasource commented on #110524
Hi @MadameSheema

we have validated this issue on 7.15.0 BC5 and found it Fixed . Timeline start getting under local storage dev section with the correct details of fields. reset button take back to default set of columns and all data of that default columns shows correctly.

**Build Details:**
[code]

Please find below details observation for each of the steps .

Steps | Actions | Remark
-- | --

[2021-09-09 08:20] #110524 closed

[2021-09-09 08:27] tuckson opened #111686 "Permanently visible main menu possibility"
**Kibana version:**
7.14 , 7.14.1

**Describe the bug:**
Appearantly since 7.14 a decision has been made to remove the option to pin the menu on the left to keep it open all te time (instead of sliding in and out). This led to several complaints from my users. Some people just want to be able to set it the way the stack mgt menu is presented, fixed.

I was hoping I could change this behaviour by a

[2021-09-09 08:30] timroes opened #111687 "Selecting last bar creates time filter in wrong order"
Dragging over just the last (partial) bar in a bar chart to filter down the timerange always will switch the "from" and "to" date in the filter, thus creating an invalid time picker state:

![Peek 2021-09-09 10-26](https://user-images.githubusercontent.com/877229/132651187-f946c0a2-d356-4728-ab3e-ad86638ce0f8.gif)

I can reproduce this behavior cross browser in Discover and at least Lens. It does

[2021-09-09 08:30] elasticmachine commented on #111687
Pinging @elastic/datavis (Feature:ElasticCharts)

[2021-09-09 08:30] elasticmachine commented on #111687
Pinging @elastic/datavis (Team:DataVis)

[2021-09-09 08:36] pgayvallet opened #111688 "Expose an API from `chrome` service to access the height of the top banner"
When css is not enough (such as in https://github.com/elastic/kibana/pull/111038), the height of the banner needs to be accessed in javascript. We currently only expose this variable from our sass mixins. We need to expose an API from the `chrome` service (or a constant from the public bundle) to allow consumers to retrieve this value

[2021-09-09 08:36] elasticmachine commented on #111688
Pinging @elastic/kibana-core (Team:Core)

[2021-09-09 08:40] hop-dev commented on #109047
Useful links:

PR for adding the field to APM: https://github.com/elastic/apm-server/pull/6139/files
PR for adding the field to the registry: https://github.com/elastic/package-registry/pull/713/files

[2021-09-09 09:03] muskangulati-qasource opened #111694 "[Security Solution] Description for the Malicious Behavior Alert is not correct for both Detect and Prevent alerts"
**Description:**
Description for the Malicious Behavior Alert is not correct for both Detect and Prevent alerts

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Trigger an alert for Malicious Behaviour
2. Observe the description

**Impacted Test case:**
N/A

**Actual Result:**
Description for the Malicious Beha

[2021-09-09 09:03] elasticmachine commented on #111694
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-09 09:03] muskangulati-qasource commented on #111694
@manishgupta-qasource please review!

[2021-09-09 09:04] manishgupta-qasource commented on #111694
Reviewed & assigned to @kevinlog

[2021-09-09 09:08] liciavale commented on #111482
sounds good! Thanks @dominiqueclarke

[2021-09-09 09:19] jloleysens opened #111696 "[Dashboard/Reporting] Dashboard controls rendered in page optimized report"
**Kibana version:** 7.15

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**

**Steps to reproduce:**
1. Open or create a dashboard
2. Click "Share", select "Optimize for printing" and generate the report
3. On the first page of the report "Create visualization" controls are visible

**Expected behavior:**

The generated report should not contain unnec

[2021-09-09 09:19] elasticmachine commented on #111696
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-09 09:19] elasticmachine commented on #111696
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-09 09:23] gmmorris commented on #111259
Love y'alll.
Great write up and POC @ymao1 , and great discussion and ideas @pmuellr and @mikecote :)

A couple of thoughts:

@ymao1

It would be worth while collecting all the telemetry we feel we're missing and slipping it into the 7.16 release.
I assume anything in TM itself will have to wait until 8.x, but if we can at least get the telemetry out there then we'll have a baseline to work off of

[2021-09-09 09:26] elasticmachine commented on #111679
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2021-09-09 09:26] jloleysens commented on #111696
After migrating to generating reports with locators in dashboard this issue was fixed for 7.16: https://github.com/elastic/kibana/pull/108553

[2021-09-09 09:30] kshitijbhaswar opened #111697 "[APM] Getting Internal Server Error on launching any service"
### Kibana version

v 7.13.4

### APM Server version (if applicable)

_No response_

### Elasticsearch version (if applicable)

_No response_

### Steps to Reproduce

Launch any service after login
![Uploading Screen Shot 2021-09-09 at 2.55.17 PM.png…]()

### Expected Behavior

Should open the desired pages

### Actual Behavior

Getting internal server error

[2021-09-09 09:30] elasticmachine commented on #111697
Pinging @elastic/apm-ui (Team:apm)

[2021-09-09 09:34] ManofWax opened #111699 "Kibana Discovery fails with "closed" when searching in an Index pattern that contains a closed index"
**Kibana version:**
7.14.1

**Elasticsearch version:**
7.14.1

**Server OS version:**
Ubuntu 20.04

**Browser version:**
Chrome 93

**Browser OS version:**
Ubuntu 20.04

**Original install method (e.g. download page, yum, from source, etc.):**
Official Docker images

**Describe the bug:**
When I search an index pattern that contains at least one closed index, even if the index does not contains da

[2021-09-09 09:46] sqren commented on #111592
This is most likely caused by the decision to disable rac and therefore the "Alerts" menu item is no longer available. Not sure why this wasn't when the PR to disable rac was merged.

[2021-09-09 09:53] weltenwort commented on #111592
This doesn't seem to use the normal functional test config, which contains the feature flag in enabled state. @liza-mae where can we find the FTR config for the cloud tests?

[2021-09-09 09:54] Dosant commented on #111654
@liza-mae, Don't think there is a way to mute the warnings, but this particular one is flexible: need to update index pattern: similar to https://github.com/elastic/kibana/pull/108825/

cc @lukasolson

[2021-09-09 09:55] matschaffer commented on #104124
For sure. I could see a case for both. On one side you want to make sure the whole package isn't using more ram than you're willing to give it. On the other wide we probably want to be able to get performance information for each worker (especially kibana devs trying to help customers root out performance issues).

[2021-09-09 10:02] kibanamachine opened #111702 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get_alert_instance_summary·ts - alerting api integration security and spaces enabled Alerts alerts getAlertInstanceSummary "after each" hook for "should handle getAlertInstanceSummary alert request appropriately""
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16894/)

[2021-09-09 10:40] Dosant opened #111705 "Dashboard auto-refresh doesn't work in some cases"
**Kibana version:** 7.13.0

**Describe the bug:**

Dashboard auto refresh doesn't work in some cases, because of how dashboard uses `search.session` service to confirm when it is time to start the next auto refresh cycle.

https://github.com/elastic/kibana/blob/2c7d13b7b985013a918461b99640f3e64b04bba4/src/plugins/dashboard/public/application/lib/sync_dashboard_filter_state.ts#L120-L123

In case da

[2021-09-09 10:40] elasticmachine commented on #111705
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-09 10:40] elasticmachine commented on #111705
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-09 10:59] banderror commented on #110987
Thanks @rylnd, I agree.

I'd expect however that no matter what happens during or after unsuccessful migration, this doesn't lead to a crash of the process. But that's a different story I guess. I'm not sure if I should create a separate ticket for task manager at this point, @gmmorris could you please comment on that observation?

[2021-09-09 11:03] samratbhadra-qasource commented on #102188
Hi @kevinlog

We tested this ticket on the latest 7.15.0-BC5 environment & found that the issue still exist . Please find below the testing details:

**Build Details:**
[code]
**Screen-Recording**:

https://user-images.githubusercontent.com/84007952/132673927-d625ff57-a329-4ac0-9574-507cf05f1041.mp4

Let me know if you need more information on this.
Thanks!!

[2021-09-09 11:28] estermv commented on #111629
@ravikesarwani is this the only warning that we have?
<img width="554" alt="Screenshot 2021-09-09 at 13 23 09" src="https://user-images.githubusercontent.com/2249229/132677367-af278dc9-d71c-4c0b-b201-f49bae5a8f41.png">

If this is the only warning, this could be done as part of the Angular migration, as the only thing we would have to do is not migrate the code that shows this toast.

[2021-09-09 11:33] kevinlog commented on #102188
@samratbhadra-qasource can you give more details on how you got the cards to look the way they do?  Did you put a lot of leading spaces in front of the Event filter name?

[2021-09-09 11:34] kevinlog commented on #102188
cc @dasansol92 - can you take a look when you get a chance?  We can fix this for `7.15.1`

[2021-09-09 11:48] dasansol92 commented on #102188
@kevinlog Following [this comment](https://github.com/elastic/kibana/issues/101376#issuecomment-860889936), I think we decided to let this as it is since the cards in Trusted apps and Event filters are different and are going to be unified with the new artifact card (when adding artifacts by policy). Let me know if this needs to be done before that.

[2021-09-09 11:51] monfera commented on #111673
Just to clarify, the labels with leader lines are an option intended for single layer pie charts, and not for multi-layer sunburst diagrams

[2021-09-09 11:52] muskangulati-qasource commented on #111517
Hi @kevinlog,

The same behaviour is seen in the other sections too:
![Issue1](https://user-images.githubusercontent.com/60252716/132680807-cbbb678b-b2a9-4892-b242-44c87fdf0d3b.JPG)

![IssueNotUpdatedProtections](https://user-images.githubusercontent.com/60252716/132680814-abb7c47b-e5af-42fd-9437-a657e9aab43c.JPG)

Thanks!!

[2021-09-09 11:52] legrego commented on #111631
Yeah I agree this is a weird situation. We _could_ fail with an error message, but that poses some interesting backwards compatibility concerns. We haven't enforced privilege names to date, and we wouldn't want to prevent existing roles with unknown privileges from being updated. We (and ES) don't make the distinction between `create` and `update` for roles today, so it would be tricky to get this

[2021-09-09 11:52] kevinlog commented on #102188
got it, thanks for the refresher @dasansol92 .

I want to understand how @samratbhadra-qasource produced the look of the cards in the video first, then we can reprioritize or just close this with the intention of introducing Event Filters by Policy soon with the new card.

[2021-09-09 11:57] samratbhadra-qasource commented on #102188
Hi @kevinlog No, I haven't entered any leading spaces in front of the Event filter name.

[2021-09-09 12:01] sqren commented on #84873
So keep the sync and hide the legend values?

[2021-09-09 12:03] sqren commented on #111697
Hi there,
The screenshot doesn't work, and there are not a lot of details to go off. Please add details like url where this happens; errors in the browser console; kibana logs etc. Thank you.

[2021-09-09 12:05] muskangulati-qasource commented on #111270
Hi @kevinlog,

We tested on 7.15.0 and saw the same issue still exists:

**Screen Recording**

https://user-images.githubusercontent.com/60252716/132682501-bd14d202-3270-4a58-82b3-81609834aa84.mp4

Thanks!

[2021-09-09 12:12] kshitijbhaswar commented on #111697
https://vm-systest-stage.kb.ap-south-1.aws.elastic-cloud.com:9243/app/apm/services/VMCSVRowProcessor/overview?rangeFrom=now-15m&rangeTo=now&latencyAggregationType=avg&transactionType=request&comparisonEnabled=true&comparisonType=day[image:
Screen Shot 2021-09-09 at 5.42.27 PM.png]

On Thu, 9 Sept 2021 at 17:33, Søren Louv-Jansen ***@***.***>
wrote:

--
*Warm Regards,*
Kshitij Bhaswar
Associate QA

[2021-09-09 12:17] stratoula commented on #111673
This is already available in the agg-based pie by switching on the `Show top level only` switch
![image](https://user-images.githubusercontent.com/17003240/132684042-3920d68c-64fd-4043-b701-9ecad3f9a26d.png)

[2021-09-09 12:31] monfera commented on #111673
Maybe it can be fixed as a bug

[2021-09-09 12:39] #111278 closed

[2021-09-09 12:41] dasansol92 commented on #102188
Oh, now I see what it looks in the video. So weird... This seems a regression.
It was fixed (it looked like [this](https://github.com/elastic/kibana/issues/101376#issuecomment-855827673)) in [this](https://github.com/elastic/kibana/pull/101481) pr

[2021-09-09 12:42] liciavale commented on #111482
@andrewvc @dominiqueclarke I found this pattern that we could reuse here:
![q1kcHifz6g](https://user-images.githubusercontent.com/8301088/132687549-498efcf7-5945-416d-a9d4-18b4853d127e.gif)
Wdyt?

[2021-09-09 12:46] mikecote commented on #110080
As a possible solution, maybe we can update Event Log before we deleted the task with the state?

The event log uses ILM to delete documents older than a certain amount of time, would the bug come back when the event log doc gets removed?

[2021-09-09 12:46] formgeist opened #111717 "[APM] Consider hiding the legend values from the charts since individual values are shown in tooltips"
# Summary

Considering that the individual plot values are already showing in the chart tooltip, having the legend values feel superfluous. Additionally, when not hovering the chart, the legend values represent the last bucket not the overall average of the selected time range. The charts team have an open issue to address the average value in the legend item https://github.com/elastic/kibana/issu

[2021-09-09 12:46] formgeist commented on #84873
Closing this issue. I've opened a new issue to address the hiding of the legend values https://github.com/elastic/kibana/issues/111717

[2021-09-09 12:46] #84873 closed

[2021-09-09 12:48] #110673 closed

[2021-09-09 12:50] kevinlog commented on #111270
@muskangulati-qasource the fix for this is actually in the Endpoint, can you confirm that you used a BC5 Endpoint?

fyi @ferullo @brian-mckinney - let us know what's expected here

[2021-09-09 12:53] turnUpTheChill commented on #109546
Hello @formgeist

Thank you for reaching out 👍🏾

This flow would start with users adding custom `labels` to their services, and then being able to use these `labels` to filter their services in the APM Kibana app. Ideally there would be a drop down where the `label` could be selected, and then the `value` for it subsequently could be selected.

Let me know if this needs any further clarification

[2021-09-09 12:59] #110603 closed

[2021-09-09 13:03] mikecote opened #111721 "Remove Transport Layer Security (TLS) requirement for alerting when security is enabled"
Once https://github.com/elastic/elasticsearch/pull/76801 merges, Elasticsearch no longer requires TLS to be enabled to use API keys. As a follow-up, we can remove the enforcement checks the alerting framework does and enable usage when TLS is disabled, and security is enabled.

cc @arisonl

[2021-09-09 13:03] elasticmachine commented on #111721
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-09 13:04] mikecote commented on #111721
Adding `blocked` label until https://github.com/elastic/elasticsearch/pull/76801 is merged.

[2021-09-09 13:15] ferullo commented on #111694
@paulewing @brian-mckinney @softengchick @kevinlog

We decided what to show in the pop up but forgot that Kibana basically always sends a config down to Endpoint that overrides the defaults hard coded into Endpoint...

Endpoint accepts the special strings `{filename}` and `{action}` in pop up message overrides from Kibana that are filled in with details from the actual alert. For instance with a m

[2021-09-09 13:22] banderror commented on #111173
Awesome, yeah, I can see it in the code 👍  Closing the ticket.

[2021-09-09 13:22] #111173 closed

[2021-09-09 13:22] mikecote commented on #111721
Since we are using `security?.authc.apiKeys.areAPIKeysEnabled()`, we may get this fix for free 🤔 might be worth validating. We still need to disable the usage of alerting if ever a customer sets `xpack.security.authc.api_key.enabled: false` in Elasticsearch.

[2021-09-09 13:24] LeeDr commented on #111642
Bhavya and I worked on this and figured out that the user needs `read` and `view_index_metadata` (or at least one of those) on the *index* itself, and also on the *alias*.  The expected behavior is that they only need permissions on the *alias*.

I don't really know if the issue is in Kibana or Elasticsearch.  It could be that Kibana is dereferencing the alias to the index name and querying Elasti

[2021-09-09 13:34] mikecote commented on #90934
Thanks @kobelb for input! After chatting with @chrisronline offline (chrisroffline?) we're still not sure how a customer could manage to make Kibana alerting work on dedicated instances. So we've decided to pursue the path of having an internal `xpack.task_manager.internal.exclude_task_types` configuration for now (for ourselves, debugging purposes, etc) and take space/time to properly develop `xp

[2021-09-09 13:43] #110789 closed

[2021-09-09 13:43] #110801 closed

[2021-09-09 13:43] #110827 closed

[2021-09-09 13:43] #111001 closed

[2021-09-09 13:43] #111022 closed

[2021-09-09 13:43] #111384 closed

[2021-09-09 13:43] #111496 closed

[2021-09-09 14:04] kibanamachine commented on #109564
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16898/)

[2021-09-09 14:12] ravikesarwani commented on #111629
Yes @estermv, this is the popup I am talking about. Makes sense to do this as part of Angular migration work.
@matschaffer This comes only in self-managed environment. We don't show this in ESS because users don't have any say in how the monitoring is setup in Cloud.

[2021-09-09 14:16] mikecote opened #111730 "Connector telemetry doesn't count pre-configured connectors"
I noticed the telemetry from the actions plugin doesn't count pre-configured connectors for `count_total`, `count_by_type`, `count_active_total`, and `count_active_by_type`.

Steps to reproduce:
(hack: set `runAt: new Date()` [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/actions/server/usage/task.ts#L106) to constantly calculate telemetry, it will be easier to evaluate the re

[2021-09-09 14:16] elasticmachine commented on #111730
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-09 14:17] mikecote commented on #111730
The active counts were relying on `references` which isn't an option anymore (https://github.com/elastic/kibana/pull/109437).

[2021-09-09 14:20] mikecote commented on #111031
We should investigate two things:
- What part(s) of alerting or task manager relies on `allow_expensive_queries`
- Should we require `allow_expensive_queries` for alerting or task manager to work

[2021-09-09 14:31] jbudz commented on #109564
skipped

main: 72dfb9c
7.x: 99b1d13

[2021-09-09 14:31] pmuellr commented on #111259
Yup.  +1 on an RFC.  I suspect there are some "quick wins" - more notification-y stuff when timeouts occur (telemetry, health, event log), but there's definitely a lot of work we're going to have to do to figure out the right long-term stuff - RFC seems right.

[2021-09-09 14:33] lukeelmers commented on #110614
This is the approach I am leaning towards -- 3rd party plugins which have `*.enabled` added by default can still preserve this behavior, it just requires them to create a config schema with the property.

So the approach I'm starting with now is:
- We log a deprecation warning from core for any plugin with an `.enabled` config that's **implicitly** added.
- We manually add a deprecation warning ou

[2021-09-09 15:05] joshdover opened #111737 "[Fleet] Add package information to `_meta` on Elasticsearch assets"
Ingest assets installed into Elasticsearch by Fleet do not all contain information about the package that was installed. We should add this to be sure that all assets are displayed as managed and are tied to the appropriate package that created them.

- Index templates
	- Current:
[code]
	- Should add:
		- nothing
- Component templates
	- Current:
[code]
	- Should add:
		- `managed`
		- `managed_b

[2021-09-09 15:05] elasticmachine commented on #111737
Pinging @elastic/fleet (Team:Fleet)

[2021-09-09 15:09] rudolf commented on #93029
Knowing the liveness of other Kibana instances is only required for intelligent clustering where we automatically balance the workload when the cluster size changes (due to instances having downtime or being removed permanently).

It provides a nice out-of-the-box experience for users, but an alternative is to implement dumb clustering where users configure each Kibana instance with the values nee

[2021-09-09 15:13] chrisronline commented on #90934
@YulNaumenko @ymao1 @pmuellr  Does anyone else have a strong opinion about the above direction?

[2021-09-09 15:29] bhavyarm commented on #111642
Please note this works fine if you change Autocomplete value suggestion method in advanced settings to terms_agg from terms_enum (terms_enum is default)

![Uploading Screen Shot 2021-09-09 at 11.27.46 AM.png…]()

[2021-09-09 15:36] nerophon opened #111743 "Pie chart using filters instead of terms displays slices when there is no data"
**Kibana version:** 7.14.0 and 7.14.1

**Elasticsearch version:** 7.14.0 and 7.14.1

**Server OS version:** Any

**Browser version:** Any

**Browser OS version:** Any

**Original install method (e.g. download page, yum, from source, etc.):** Any

**Describe the bug:** This is a regression, since it does not appear in 7.13.x, only in 7.14.x. The Pie chart visualisation should not display if there i

[2021-09-09 15:40] BenB196 opened #111744 "Role Mapping Clone Functionality"
**Describe the feature:**
Clone button for cloning role mappings under Management > Security > Role Mappings

**Describe a specific use case for the feature:**
Currently you can only add, edit, or delete a role mapping. I'd like to be able to clone a role mapping.

Use-cases:
1. Multiple Role Mappings with similar settings but minor changes. Being able to clone from a primary mapping will allow fo

[2021-09-09 15:45] elasticmachine commented on #111743
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-09 15:48] ghudgins opened #111745 "[Lens] multi field top values supports drag drop"
**Describe the feature:**
A follow-on from https://github.com/elastic/kibana/issues/95079, this feature implements the drag / drop support for "Combining" 2+ fields and was part of the original design.

**Describe a specific use case for the feature:**
**When** I am dragging a field that supports terms (number / text)
**And** Hovering an existing terms field (or using the keyboard navigational equ

[2021-09-09 15:48] elasticmachine commented on #111745
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-09 15:48] ghudgins commented on #95079
dropping drag/drop from scope in this issue in lieu of https://github.com/elastic/kibana/issues/111745 which we agreed we could do as a follow-on

[2021-09-09 15:49] dej611 opened #111747 "[Lens] Semicolon floating on empty chart workspace for no data"
**Describe the bug:**

<img width="676" alt="Screenshot 2021-09-09 at 17 46 23" src="https://user-images.githubusercontent.com/924948/132719111-82cca7e5-3753-4b65-95e0-525c86cc37dd.png">

**Steps to reproduce:**
1. Use the `Filters` aggregation for slices
2. Add any numeric field for `Size by`
3. Adjust the time range where you're sure there's no data (it can be also a very tiny time range)

[2021-09-09 15:49] elasticmachine commented on #111747
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-09 15:53] pmuellr commented on #90934
General direction seems fine to me.

w/r/t `xpack.task_manager.internal.exclude_task_types` - we already have [`xpack.actions.enabledActionTypes`](https://www.elastic.co/guide/en/kibana/current/alert-action-settings-kb.html#action-settings):

Would it make sense to have a similar setting for rule types?  Customers could then essentially disable running rules by setting the value to `[]`.

Then we'

[2021-09-09 15:55] spinscale opened #111748 "Dev Tools Console: Deprecations show a JSON parsing error message"
**Kibana version:** 7.14.0

**Elasticsearch version:** 7.14.0

**Steps to reproduce:**

1. Trigger any response in dev tools that contains a deprecation - i.e. running without security enabled
2. Check the error message label in the dev tools response - it is not helpful, what this refers to. Maybe just mention that this is a deprecation and you should take care of?

**Expected behavior:**

Provid

[2021-09-09 15:55] #109427 closed

[2021-09-09 15:58] #105884 closed

[2021-09-09 16:00] MadameSheema commented on #109427
@karanbirsingh-qasource please validate this issue on 7.15BC6? Thanks :)

[2021-09-09 16:05] mdefazio commented on #109427
I think the timeline bar should not be shown.  We are hiding the search bar and so I feel this should follow the same logic.  We also no longer have drag-n-drop, and when adding a field to the timeline, we show a toast (correct?).

Is this fixed in the provided PR that closes this?  My apologies for missing this mention until now.

cc/ @adamwdraper Just FYI as this is Security specific

[2021-09-09 16:07] estermv opened #111753 "[Stack Monitoring][Angular removal] Add breadcrumbs to react app"
Implement a mechanism so we can easily modify breadcrumbs when changing views

[2021-09-09 16:07] elasticmachine commented on #111753
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:08] joshdover opened #111755 "[Fleet] Switch to `kibana_system` user for setup & all package operations"
Blocked by elastic/elasticsearch#77294

In order to facilitate automatic setup and package upgrades on Kibana startup, we need to be switch all of our API calls to Elasticsearch and Saved Objects to use the internal `kibana_system` user instead of the user that calls the setup API.

We should still require superuser and Fleet Kibana privileges to install packages or call the setup API for the time

[2021-09-09 16:08] elasticmachine commented on #111755
Pinging @elastic/fleet (Team:Fleet)

[2021-09-09 16:09] estermv opened #111756 "[Stack Monitoring][Angular removal] Migrate Elasticssearch views"
Migrate all views under [views.elasticsearch](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/elasticsearch)

[2021-09-09 16:09] elasticmachine commented on #111756
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:11] estermv opened #111757 "[Stack Monitoring][Angular removal] Migrate Beats views"
Migrate views under [views/beats](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/beats)

- [x] Overview https://github.com/elastic/kibana/pull/112377
- [x] Instances listing (filtering just worked) https://github.com/elastic/kibana/pull/113086
- [x] Instances pagination & sorting https://github.com/elastic/kibana/pull/113284
- [x] Single instance view https://

[2021-09-09 16:11] elasticmachine commented on #111757
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:13] estermv opened #111759 "[Stack Monitoring][Angular removal] Migrate Logstash views"
Migrate views under [views/logstash](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/logstash)
- [ ] node
- [ ] nodes
- [ ] overview
- [ ] pipeline
- [ ] pipelines

[2021-09-09 16:13] elasticmachine commented on #111759
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:14] #58035 closed

[2021-09-09 16:15] estermv opened #111761 "[Stack Monitoring][Angular removal] Migrate cluster listing view"
Migrate [cluster listing view](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/cluster/listing)

[2021-09-09 16:35] stephmilovic opened #111762 "Search Strategy - return runtime fields when passed Data View id"
We are using `ISearchStrategy`  in [security solution and need to get runtime fields](https://github.com/elastic/kibana/pull/111461). Right now I need to request the runtime field `script` and pipe it through my front-end to pipe it to the back-end to pass to `ISearchStrategy`. I have the `index-pattern` id. It would be nice if when `indexPattern.id` is passed to `ISearchStrategy`, it automaticall

[2021-09-09 16:35] elasticmachine commented on #111762
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-09 16:42] estermv opened #111763 "[Stack Monitoring][Angular removal] Migrate access denied view"
Migrate [access denied view](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/access_denied).

I'm not really sure when a user ends up on this page. I only saw it once and it was unintentional (I was navigating through SM and I got redirected to access denied, after few seconds I got redirected to the view where I was).

Based on the code, a user is redirected t

[2021-09-09 16:42] elasticmachine commented on #111763
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:46] estermv opened #111766 "[Stack Monitoring][Angular removal] Migrate Apm views"
Migrate views under [views/apm](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/apm)
- [x] overview
- [x] instances
- [x] instance

[2021-09-09 16:47] elasticmachine commented on #111766
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:48] LeeDr commented on #111631
I *think* there could be a problem if someone creates roles with `xpack.reporting.roles.enabled: false` and then removes the config param (or changes it to the default `true`).  This would allow someone to initially create a Canvas role without reporting (minimal_all) and the when they change the config users with that role would no longer have access to Canvas.

I haven't tried this.

[2021-09-09 16:48] estermv opened #111767 "[Stack Monitoring][Angular removal] Migrate kibana views"
Migrate views under [views/kibana](https://github.com/elastic/kibana/tree/master/x-pack/plugins/monitoring/public/views/kibana)
- [x] overview https://github.com/elastic/kibana/pull/113604
- [x] instances https://github.com/elastic/kibana/pull/113874
- [x] instance https://github.com/elastic/kibana/pull/113962

[2021-09-09 16:48] elasticmachine commented on #111767
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 16:51] #55340 closed

[2021-09-09 16:54] alexfrancoeur commented on #111374
@snide assuming we get the unified integrations view in for 7.16, should be have a line item to update all empty states to point to it? We'll need to update the interstitial page and any other references to add data as well.

Thanks for updating the design doc @dborodyansky, it looks like there are some simple options we can explore. I'm going to play devils advocate for a moment. Given the priori

[2021-09-09 16:55] #108980 closed

[2021-09-09 16:57] #110726 closed

[2021-09-09 17:05] chrisronline opened #111771 "[Task Manager] Re-evaluate how to handle failed action tasks in 8.x"
With https://github.com/elastic/kibana/issues/55340, we decided to implement a quick fix that introduced some technical debt surrounding how accurate task manager health metrics are.

We'd like to revisit this in 8.x and spend more time researching possible issues.

[2021-09-09 17:05] elasticmachine commented on #111771
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-09 17:07] jasonrhodes opened #111772 "[Metrics UI] Metric threshold rule type: fix group by + 0 check"
Related: https://github.com/elastic/kibana/issues/76511

## Summary

When a Metric Threshold rule makes a comparison of "less than" / "less than or equal to" along with setting the "Alert per" setting, it creates a broken rule that will miss real alert scenarios. The reason for this is that when the number is actually 0 because there are no documents for a given group, we no longer have that group

[2021-09-09 17:07] elasticmachine commented on #111772
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 17:11] philkra commented on #111374
@alexfrancoeur , in-product tutorials would be a preference, my understanding was that initially the only option was a link to documentation. If that a richer UX for language clients is the table for 7.16, the team would happily commit to providing the necessary artefacts.

[2021-09-09 17:11] gmmorris commented on #90934
There's a potential unintended consequence to the ability of disabling specific task types on a Kibana instance - it can break features like "Run Now".

For example:
Say a customer has two Kibana:
1. **Kibana A** is configured to run all tasks
2. **Kibana B** is configured to disable all alerting task types

User uses Stack Management to update an existing rule from `interval:1h` to `interval:5m`.

[2021-09-09 17:13] estermv opened #111774 "[Stack Monitoring][Angular removal] Add alerts to react app"
Add all alerts related features to the react app for stack monitoring:
* Modal is shown when entering a page.
* Navbar button
* Badge in setup mode to configure alerts
* Badge that appears when an alert is active

#### Technical notes
* There is already [a context](https://github.com/elastic/kibana/blob/c51c92cd7a3e8748d55fb6d17f8d551ba3c754f6/x-pack/plugins/monitoring/public/views/base_controller

[2021-09-09 17:13] elasticmachine commented on #111774
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 17:14] jportner commented on #103921
@TinaHeiligers does this issue include removing the legacy import HTTP route? The description makes it sound like we are only making UI changes. Are we keeping that route around??

[2021-09-09 17:19] jasonrhodes opened #111775 "[Metrics UI] Consider splitting the Metric Threshold rule type into smaller rule types"
The Metric Threshold rule type is incredibly flexible and powerful, but because of this, it has a lot of overlapping concerns. We may avoid hard to predict bugs and allow ourselves to optimize queries better if we split this into smaller, more focused rule types. The main candidate for this break out seems to be something like a "Document count rule type (separate from the aggregations)", and poss

[2021-09-09 17:19] elasticmachine commented on #111775
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 17:24] pmuellr commented on #90934
Ya, it's complicated.  RFC?

Another thing I happened to think of, is that whatever we come up with here to "disable alerting", could also potentially be used to prevent the "rando Kibana with different encryption key screws up all the ESOs".  Like, you should really opt-in to alerting (or task manager) via some pre-arranged "id", so that rando Kibanas wouldn't actually upset alerting / task manag

[2021-09-09 17:29] rylnd commented on #110029
@deepikakeshav-qasource the presence of those fields in timeline indicates that one of your "data sources" (as timeline defines them) has mappings for them. I'm curious which indices have those mappings (`GET */_mapping/field/threat.indicator.as.number`), but I would not consider this a bug

[2021-09-09 17:29] #110029 closed

[2021-09-09 17:29] jportner commented on #82578
Sounds good, let's go with option 2.

[2021-09-09 17:30] sqren commented on #111697
Still no luck.

[2021-09-09 17:34] #78314 closed

[2021-09-09 17:37] jportner commented on #82578
According to this issue (#92082), the injected "default" legacy appender will be removed in 8.0. It hasn't been removed yet and I'm not sure what the user experience will be like as a result.
Either way, it sounds like we are in favor of adding our own custom default appender for the audit logger if users don't explicitly configure one. So it sounds like that won't impact us.

[2021-09-09 17:44] legrego commented on #82578
++. Based on https://github.com/elastic/kibana/pull/98213, this may need to be OS/package specific. @elastic/kibana-operations we are interested in writing Kibana's audit log to a dedicated file by default. Do you have any advice on where in the file system we should be writing these? I expect that the downloadable version is pretty simple (Kibana root?), but what about os packages, Docker, etc.?

[2021-09-09 17:45] tsullivan opened #111777 "[Reporting/Dashboard] Investigate causes of POST URL becoming too large to automate report with Watcher"
To [automate reports of a dashboard using Watcher](https://www.elastic.co/guide/en/kibana/7.x/automating-report-generation.html), a user copies a POST URL for a saved dashboard, which is generated from the sharing data provided by the dashboard application.

Since Watcher does not support specifying a POST body for the Kibana report URL, all of the info needed to automate a report job in Watcher m

[2021-09-09 17:45] elasticmachine commented on #111777
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-09 17:45] elasticmachine commented on #111777
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-09 17:45] elasticmachine commented on #111777
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-09 17:56] alisonelizabeth opened #111779 "[Upgrade Assistant] Improve error handling for GET /api/upgrade_assistant/reindex/<index>"
**Describe the bug:**
I've noticed a handful of issues with the error handling for `GET /api/upgrade_assistant/reindex/<indexName>`

**Steps to reproduce:**
You can reproduce an "index not found" error by mocking the ES deprecation data for an index that needs to be reindexed, but does not exist.
1. Update the [response to in `es_deprecations_status.ts`](https://github.com/elastic/kibana/blob/7.x/

[2021-09-09 17:56] elasticmachine commented on #111779
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-09 17:57] tsullivan opened #111780 "[Reporting] Re-introduce tests for Canvas & Dashboard's feature declarations when Reporting disables access-by-role"
Reporting configuration [is being removed from the functional test server](https://github.com/elastic/kibana/pull/111626) in order to run the tests entirely using reporting's defaults. This means tests with Reporting code that is not yet default needs to be shifted to another test suite.

**`x-pack/test/reporting_api_integration/reporting_and_security/`**
This has Reporting API Integration tests t

[2021-09-09 17:57] elasticmachine commented on #111780
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-09 17:57] elasticmachine commented on #111780
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2021-09-09 18:03] tylersmalley commented on #82578
@legrego we have to be careful with where we write to, and can't write to the root usually. We do have a configuration available for `path.data` which feels like it can be used here. @jbudz, do you foresee any issue with that?

[2021-09-09 18:04] cjcenizal commented on #111779
Does this mean that a 500 error will result in the "insufficient privileges" callout showing up in the flyout? And a 500 error will also result in a "Reindex failed" status in the table? If so then this also seems like incorrect 500 error handling. In both cases I think we should render an error state instead.

[2021-09-09 18:14] LeeDr commented on #111780
Here's another thought on this.  Maybe we let master have the new configuration and appropriate tests while keeping 7.15 (not sure on 7.x) with the current default behavior?
We're generally keeping tests the same on master and 7.x but when the default changes between branches maybe the tests should just change with them only in those branches?

[2021-09-09 18:15] alisonelizabeth commented on #111779
Correct. Although, I think the problem is more that we are not handling errors correctly in general for this request, and is not necessarily specific to a 500 error. The [permissions error in the flyout is rendered when `!hasRequiredPrivileges`](https://github.com/elastic/kibana/blob/master/x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/reindex/fly

[2021-09-09 18:38] ThomThomson commented on #111777
@jloleysens, I've been thinking about this, and have noticed that the reports using locators also use the entire dashboard state, as well as the saved object id even when there are no unsaved changes. Dashboard constantly tracks 'unsaved changes' by diffing its state against the last saved object, so I wonder if it would be good for us to work together to make the reporting URLs only put the unsav

[2021-09-09 18:48] chrisronline commented on #90934
I'd like to revisit the problem statement as I understand it.

## Problem
A user is experiencing a performance issue in Kibana and isn't sure where it's coming from. They'd like to disable various features of Kibana to isolate the issue. Because we [deprecated the ability to disable the various plugins alerting owns](https://github.com/elastic/kibana/pull/108281) (with the goal to remove this func

[2021-09-09 18:52] rudolf commented on #93029
# Cluster state algorithm (draft, definitely needs more scrutiny)

1. Node reads `kibana_cluster_state` document from the `.kibana` index
2. It sends a heartbeat every `heartbeat_interval` seconds by performing an update operation that adds it’s UUID to the `nodes` array and sets the `lastSeen` value to it’s current
    `process.hrtime()` (monotonically increasing clock)
3. . If the update fails d

[2021-09-09 18:57] cauemarcondes opened #111789 "[Observability] New no data screen"
Show the new "no data screen" on the Observability page

[2021-09-09 19:02] tobiasstadler commented on #110042
Ok, I will do that in the next days

[2021-09-09 19:03] ymao1 commented on #111259
Thanks for all the input! After research and some POCs, here's what I've come up with:

We should be trying to handle both the cases where a rule is taking an **unexpectedly** long time to execute due to cluster load (in which case we should be taking steps to prevent multiple parallel executions) AND the case where a rule **expectedly** takes a long time to execute.

### Rule occasionally takes a

[2021-09-09 19:32] jbudz commented on #82578
I'd recommend creating a logs folder in the project root [here](https://github.com/elastic/kibana/blob/3f83259db7ee8ec8069a034f7508859f4e30d08a/src/dev/build/tasks/create_empty_dirs_and_files_task.ts).

We can followup with a change [here](https://github.com/elastic/kibana/blob/master/src/dev/build/tasks/os_packages/create_os_package_kibana_yml.ts) to write to `/var/log/kibana` for debian and rpm

[2021-09-09 19:38] kobelb commented on #90934
I had a quick call with @chrisronline and @mikecote on Zoom, and I'll summarize my conclusions. I think that all of the proposed options are tolerable:
1) Add a `xpack.task_manager.internal.exclude_task_types` setting
2) Don't add new settings and tell users to configure `xpack.task_manager.poll_interval: 12345678901234567890` `xpack.task_manager.max_workers: 1`
3) Add `xpack.alerting.rule_executi

[2021-09-09 19:39] Zacqary commented on #111775
A document count rule type already exists in the form of the index threshold, it just lacks some of the filtering and grouping functionality we have on the Metric Threshold alert. We should improve that alert type rather than maintaining two redundant types.

I'd caution us against creating a specific alert type for No Data. IMO No Data ought to be a specific alert state independent from OK, Activ

[2021-09-09 19:41] elizobee opened #111792 "Request to be able to delete all the graph vertices for a particular field added to graph"
Currently you can deselect or disable a field from appearing in a graph.  However this option only applies to new vertices.  The old ones remain and can only be deleted one by one.  There is no option to remove a field and all associated vertices from a graph.  During the exploratory phase of graph creation, the user may be unsure which fields are best to display.  The ability to easily remove fie

[2021-09-09 19:56] neptunian opened #111798 "[Metrics UI] Increase metric threshold test coverage"
We need to improve test coverage around the Metric Threshold rule and alerting.  Here is our current state and an incomplete list of some scenarios we are missing.

- Unit tests
  - [metric_threshold_executor.test.ts](https://github.com/elastic/kibana/blob/master/x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts) Tests the correct actions are being created

[2021-09-09 19:56] elasticmachine commented on #111798
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-09 20:00] tylersmalley opened #111801 "[VSCode] Specify typescript.tsdk"
VS Code has been updated to TS 4.4, which has some incompatibilities with our codebase. We should use the Typescript defined in our package.json

[code]

I thought this would be quick to add, but there are issues with adding a simple string value.

[2021-09-09 20:00] elasticmachine commented on #111801
Pinging @elastic/kibana-operations (Team:Operations)

[2021-09-09 20:02] mikecote commented on #90934
We will be going with Option 1 as @kobelb mentioned above. The reason we are working on such a flag is what @chrisronline described here: https://github.com/elastic/kibana/issues/90934#issuecomment-916350093. The other discussion items provide use cases if this was an official feature but we don't have time or scope to develop an official feature for 7.16 as we remove the ability to make our plugi

[2021-09-09 20:24] Zacqary commented on #111798
https://github.com/elastic/kibana/pull/111465 adds at least some of these, testing specifically with a groupBy enabled. We can expand that for sure.

[2021-09-09 20:33] ymao1 opened #111804 "[Alerting] Allow rule types to specify custom timeout values"
The task manager has a default timeout value of `5m` for all tasks. This can be overridden in the task definition, but alerting currently does not take advantage of this ability. This issue is to allow rule type producers to specify a custom timeout value when registering a rule type and for the alerting framework to use these custom timeouts when registering the task.

We can also think about whe

[2021-09-09 20:34] elasticmachine commented on #111804
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-09 20:43] ymao1 opened #111805 "[Alerting] Surface rule execution durations in UI"
[POC here](https://github.com/elastic/kibana/pull/111728)

As part of the effort to address long-running rules, we would like to surface rule execution duration information (currently stored in the event log) in the UI.

We can surface it in two places:
* In the rule list view. We can add the latest execution duration to the rule execution status object so the latest duration is available when the

[2021-09-09 20:44] elasticmachine commented on #111805
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-09 20:47] ymao1 commented on #111259
I created issues for the items under `Rule always takes a long time to execute` but I think it might make sense to write up an RFC for the items under `Rule occasionally takes a long time to execute`. WDYT @mikecote?

[2021-09-09 21:47] kevinlog commented on #111694
@ferullo @brian-mckinney

Offline we decided that the default message will be `Elastic Security {action} {rule}` .

Here is the PR to do that https://github.com/elastic/kibana/pull/111806

fyi @paulewing @caitlinbetz

[2021-09-09 22:00] nickpeihl commented on #76144
Fixed by #107835

[2021-09-09 22:00] #76144 closed

[2021-09-09 22:09] cjcenizal opened #111808 "Add rolling upgrade interstitials to UA"
## Background

Per the [Stack upgrade instructions](https://www.elastic.co/guide/en/elastic-stack/master/upgrading-elastic-stack.html), users will first upgrade ES and then Kibana, which means at some point Kibana will be on 7.16 and ES will be on 8.  Originally, Upgrade Assistant handled this case by implementing interstitial states that would replace the standard UI (https://github.com/elastic/k

[2021-09-09 22:09] elasticmachine commented on #111808
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-09 22:46] justinkambic commented on #107054
This is already fixed by https://github.com/elastic/kibana/pull/111075. I don't think we will have another patch release for `7.13`, but I will see if I can get the change backported to `7.14` and `7.15` for future releases.

[2021-09-09 22:55] kibanamachine opened #111812 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/actions/enqueue·ts - alerting api integration spaces only Actions enqueue should never leaved a failed task, even if max attempts is reached"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16755/)

[2021-09-10 00:08] spong commented on #110550
Created a draft PR adding this functionality (it's a 1-liner 🙂) and in testing everything seems to be functional 👍.

Only thing of note here is that it doesn't appear to be possible to index multiple documents per action firing, so a rule execution could create 100 alerts (to `.siem-signals-default`), yet the user would only be able to index a single document using all the data from those 100 aler

[2021-09-10 00:29] kibanamachine commented on #107854
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16908/)

[2021-09-10 00:41] alisonelizabeth opened #111815 "[Upgrade Assistant] Inconsistent "success" state for logs step"
**Steps to reproduce:**
1. Enable deprecation logs on the Overview page. Note the step is marked as "success".
2. Disable deprecation logs. Note the logs step is still marked as "success".
3. Refresh the page. Note the logs step is now "incomplete".

**Expected behavior:**
I think if deprecation logs are disabled, the step should always be marked as "incomplete".

**Screenshots (if relevant):**
![

[2021-09-10 00:41] elasticmachine commented on #111815
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-10 00:56] pmuellr commented on #110080
My read of Yuliia's comment was to "finish up" the instances at that point, by writing a `recovered-instance` event, or maybe new event indicating it's "done" because the rule is disabled.  That would "fix" the problem of it not being recovered after re-enabling.

Just checked [Yuliia's POC](https://github.com/elastic/kibana/pull/111671), that's exactly what she did :-)  Super interesting it passe

[2021-09-10 01:40] #99916 closed

[2021-09-10 03:12] kibanamachine opened #111821 "Failing test: Jest Integration Tests.src/plugins/kibana_usage_collection/server/collectors/event_loop_delays/rollups/integration_tests - daily rollups integration test deletes documents older that 3 days from the saved objects repository"
A test failed on a tracked branch

[code]

First failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+master/16911/)

[2021-09-10 03:37] YulNaumenko commented on #110080
Yes, as @pmuellr mentioned above, my suggestion is an alternative "easy" solution before we decide to do something more complicated like moving the state to rule or stop deleting tasks.

[2021-09-10 04:16] muskangulati-qasource commented on #111270
Hey @kevinlog,

Yes, we have used BC5 endpoint only.

Thanks!

[2021-09-10 05:13] #109455 closed

[2021-09-10 05:13] #109463 closed

[2021-09-10 05:13] #111615 closed

[2021-09-10 05:35] tsullivan commented on #110470
This is on my radar. I am seeing a problem in the test runner logging that is making these failures hard to understand:
[code]

It's failing because it could not find the button that indicates the report completed successfully. It could be more helpful by also logging any errors from toast messages on the screen.

[2021-09-10 05:37] elasticmachine commented on #110470
Pinging @elastic/kibana-app-services (Team:AppServices)

[2021-09-10 05:41] kshitijbhaswar commented on #111697
No luck.

On Thu, 9 Sept 2021 at 23:00, Søren Louv-Jansen ***@***.***>
wrote:

--
*Warm Regards,*
Kshitij Bhaswar
Associate QA Manager

Trusted Vault of Digital Accomplishments

Email: ***@***.***
Website: www.validateme.online

[2021-09-10 06:02] pgayvallet commented on #108972
https://github.com/elastic/kibana/pull/110998 has been merged, we should be ready to start this one.

[2021-09-10 06:07] pgayvallet commented on #103921
Nope, the legacy (dashboard) import and the legacy import (format) are two distinct things. This issue is about removing support of the legacy import format from SOM, and https://github.com/elastic/kibana/issues/41439 is about the legacy dashboard import.

That's correct.

[2021-09-10 06:32] #111644 closed

[2021-09-10 06:35] pheyos commented on #111643
This is the known `ECONNREFUSED` CI network error.
No issue with the app or the tests, closing.

[2021-09-10 06:35] #111643 closed

[2021-09-10 06:45] kertal opened #111826 "[Discover] discover:searchOnPageLoad no longer works correctly"
**Kibana version:**
master, 7.15, 7.14

**Describe the bug:**
Disabling `discover:searchOnPageLoad` no longer works correctly

**Steps to reproduce:**
1. Go to Advanced Settings and set `discover:searchOnPageLoad` to `Off`, save this setting
2. Go to Discover, you should see the `Start searching` screen
3. Use the query bar to search for something
4. Reload Discover by reloading the page in the br

[2021-09-10 06:45] elasticmachine commented on #111826
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-10 07:33] matschaffer commented on #81377
Closing in favor of angular removal https://github.com/elastic/kibana/issues/111309

We're already using kibana http in the react versions of the angular views.

[2021-09-10 07:33] #81377 closed

[2021-09-10 07:43] sqren opened #111829 "[APM] Fleet: Show warning if apm package and Kibana is not the same version"
If a user upgrades Kibana from 7.15 to 7.16 the APM integration package is not automatically updated accordingly (this is expected to happen by 8.0).

Thus, for 7.16 a warning should be displayed to users, urging them to upgrade their APM package, if it is not aligned with their Kibana version.

[2021-09-10 07:43] elasticmachine commented on #111829
Pinging @elastic/apm-ui (Team:apm)

[2021-09-10 07:54] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16764/)

[2021-09-10 07:54] kibanamachine commented on #111812
New failure: [Jenkins Build](https://kibana-ci.elastic.co/job/elastic+kibana+7.x/16764/)

[2021-09-10 08:21] ManofWax commented on #111699
Anyone knows if this is a bug or an intended beheviour? In case this is intended is there a workaround?

[2021-09-10 08:50] pgayvallet commented on #93029
I feel like this is not going to be the only use case where we gonna need to use ES as a Kibana 'internal system' storage. First example coming to mind would (potentially, nothing is acted yet) to store per-type index version if we were to try to implement https://github.com/elastic/kibana/issues/104081.

For that reason, and even if `.kibana` is pointing to a system index, I feel like we could be

[2021-09-10 08:51] #106581 closed

[2021-09-10 08:57] pgayvallet commented on #110614
What 'manually' means exactly here? By adding deprecations in each plugin's descriptor?

[2021-09-10 09:05] gmmorris commented on #110987
hmm this is weird @banderror , we'll definitely take a closer look, thanks for bringing this to our attention.
Adding to our triage 👍

cc @mikecote

[2021-09-10 09:06] gmmorris commented on #110987
Wait, I'm confused @rylnd  - are you saying a migration changed the ID of the rule? That shouldn't happen.
I might be missing some context here.

[2021-09-10 09:09] OrlandoArcapix opened #111836 "Lens: Custom date range buckets"
Allow a date histogram to be created, in Lens, with custom bucket ranges and custom labels.

Lens can currently offer custom bucket ranges for numeric queries, but not for date histograms.

We'd like to be able to bucket items into "last week", "from 3 months ago to last week", etc, and present these in a bar graph with custom labels. We can do this outside of lens, but without the custom labels -

[2021-09-10 09:11] elasticmachine commented on #110987
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 09:19] katrin-freihofner opened #111837 "[User experience app] Header looks broken/not responsive"
**Kibana version:**
Local build of main branch

**Browser version:**
Version 92.0.4515.159 (Official Build) (x86_64)

**Browser OS version:**
MacOS

**Describe the bug:**

<img width="1537" alt="Screenshot 2021-09-10 at 11 16 16" src="https://user-images.githubusercontent.com/20965076/132831203-d947d973-1146-4703-b1a3-cce27d1e5028.png">

**Steps to reproduce:**
1. Navigate to the UX app in Observa

[2021-09-10 09:19] elasticmachine commented on #111837
Pinging @elastic/uptime (Team:uptime)

[2021-09-10 09:26] pgayvallet commented on #96106
I'm not sure we really have any way to retrieve the info from each node, and I guess it should be safe to assume that in a multi-node cluster configuration, all node should have this `script.allowed_types` set to the same value?

[2021-09-10 09:48] elasticmachine commented on #111587
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-10 09:51] formgeist commented on #109546
@turnUpTheChill Thanks for your elaboration. I can definitely see the use-case instead of doing a simple search query for the label and value every time or bookmarking that URL to have it easily accessible. We're not currently planning on bringing custom filter capabilities into the UI in the near future, but your feedback is valuable in designing the appropriate solution. I'll leave this enhancem

[2021-09-10 10:11] shahzad31 opened #111839 "[User Experience App] Implement “no data” check to drive the “no data screens” for User Experience App"
This [PR](https://github.com/elastic/kibana/pull/107709) will add new “no data” screens across the various Observability apps, however this relies on each solution implementing a check that there is no data, which is that this issue is covering.

ACs:
* Implement a check as described in https://github.com/elastic/kibana/pull/107709 that identifies when data has ever been ingested into User Experie

[2021-09-10 10:12] elasticmachine commented on #111839
Pinging @elastic/uptime (Team:uptime)

[2021-09-10 10:14] gmmorris commented on #111259
Great observations and recommendations @ymao1 ! :elasticheart:

Can we enforce this somehow?Or at least nudge teams into doing it?
If we can detect this sort of thing at compile time that's obviously the best, but I _assume_ we might only be able to do so at runtime. If we can detect at runtime that cancel has not actually canceled the request - Id like a warning (or event Error) to be logged and

[2021-09-10 10:23] kertal commented on #10682
closing this since it's nearly 4 years on, lots of changes and mostly angular is gone in the meantime #109774

[2021-09-10 10:23] #10682 closed

[2021-09-10 10:23] Kunzetsov opened #111841 "[Canvas] Advanced settings in Datasource recreate on any change."
Branch: `master`.
OS version: `macOS Catalina, v10.15.7.`
Browser version: `Google Chrome: Version 91.0.4472.114 (Official Build) (x86_64)`
Original install method: `from source`.
Describe the bug:
It is not possible to change the value in the `Advances settings -> Sort field` select.

**Steps to reproduce:**
1. Open `Canvas` and select any element from the `Chart` elements category.
2. Select `El

[2021-09-10 10:23] elasticmachine commented on #111841
Pinging @elastic/kibana-presentation (Team:Presentation)

[2021-09-10 10:33] estermv opened #111842 "[Stack Monitoring][Angular removal] Add error handling to requests"
Add error handling to stack monitoring requests.

#### Technical notes
In Angular we are using [this error handler](https://github.com/elastic/kibana/blob/master/x-pack/plugins/monitoring/public/lib/ajax_error_handler.tsx) to show some toast when there is an error in a request.
Since we still have the Legacy class in react, it could be easily migrated just replacing `history` with the `useHistory`

[2021-09-10 10:33] elasticmachine commented on #111842
Pinging @elastic/logs-metrics-ui (Team:logs-metrics-ui)

[2021-09-10 11:21] elasticmachine commented on #111836
Pinging @elastic/kibana-vis-editors (Team:VisEditors)

[2021-09-10 11:22] deepikakeshav-qasource opened #111846 "[Security Solution] Empty fields are displayed in "Add Endpoint Event Filter" modal when more action icon is disable under events tab"
**Describe the bug**
Empty fields are displayed in "Add Endpoint Event Filter" modal when more action icon is disable under events tab

**Build Details:**
[code]

**Browser Details:**
N/A

**Preconditions**
1. Deployed 7.15.0 on cloud production build.
2. Endpoint should be installed
3. events should be generated

**Steps to Reproduce**
1. Navigate to host tab of security
2. click on events tab
3.

[2021-09-10 11:22] elasticmachine commented on #111846
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-10 11:22] elasticmachine commented on #111846
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-10 11:22] deepikakeshav-qasource commented on #111846
@manishgupta-qasource Please review!!

[2021-09-10 11:27] elasticmachine commented on #111821
Pinging @elastic/kibana-core (Team:Core)

[2021-09-10 11:28] elasticmachine commented on #111812
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 11:34] dasansol92 commented on #111846
Hi @deepikakeshav-qasource , this seems a regression from this `investigate in timeline` feature.
Event filters are only available for Endpoint events, this is why the three dots menus appears disabled in those events. In the same way, this options should be disabled in the take action button menu.
Also I think the three dots button menu should be enabled and display the `investigate in timeline`

[2021-09-10 11:40] kevinlog commented on #111846
thanks @dasansol92 - I'll check with the threat hunting team.

My understanding is that we need to disable the Endpoint Event option if `agent.type === endpoint`, correct?

[2021-09-10 11:40] elasticmachine commented on #111748
Pinging @elastic/kibana-stack-management (Team:Stack Management)

[2021-09-10 11:41] dasansol92 commented on #111846
Disable that option when `agent.type !== endpoint` and `event.kind !== event`

[2021-09-10 11:41] manishgupta-qasource commented on #111846
Reviewed and assigned to @kevinlog

[2021-09-10 11:42] kevinlog commented on #111846
Got it, I typed too fast :)

[2021-09-10 11:50] samratbhadra-qasource commented on #111517
Hi @kevinlog

We tested this issue on the latest 7.15.0-BC5 environment & found that the same issue also exist in the advanced settings under policy. Please find below the testing details:

**Build Details:**
[code]
**Screenshot**:

![Screenshot (248)](https://user-images.githubusercontent.com/84007952/132849159-9de7aba3-478b-4423-a426-b89a7735879a.png)

Let me know if you need more information on

[2021-09-10 11:53] #10532 closed

[2021-09-10 11:53] #14624 closed

[2021-09-10 11:53] #71624 closed

[2021-09-10 11:53] #100987 closed

[2021-09-10 12:12] samratbhadra-qasource opened #111849 "[Question] In policy status under Behavior Protection the Configure Behavior Protection shows inconsistent data for Windows and Linux endpoint."
**Observation:**
We have noticed that in policy status under Behavior Protection the Configure Behavior Protection shows inconsistent data for Windows and Linux endpoint.
Could anyone please confirm, is this behavior expected.

**Build Details:**
VERSION: 7.15.0-BC5
BUILD: 43957
COMMIT: 0239ff6864dd9930cfe9bcd9a679272f2b7465c2
ARTIFACT: https://staging.elastic.co/7.15.0-edd09abf/summary-7.15.0.htm

[2021-09-10 12:12] elasticmachine commented on #111849
Pinging @elastic/security-solution (Team: SecuritySolution)

[2021-09-10 12:12] samratbhadra-qasource commented on #111849
@manishgupta-qasource Please review.

[2021-09-10 12:14] elasticmachine commented on #111849
Pinging @elastic/security-onboarding-and-lifecycle-mgt (Team:Onboarding and Lifecycle Mgt)

[2021-09-10 12:16] #109853 closed

[2021-09-10 12:36] alisonelizabeth commented on #111748
Thanks @spinscale! This looks like a duplicate of https://github.com/elastic/kibana/issues/99083, so I'm going to close.

[2021-09-10 12:36] #111748 closed

[2021-09-10 12:40] mdefazio commented on #111259
@gmmorris Yes, happy to do so.  We are currently working on the Rules page to get an Observability solution in place.  The current plan is to simply bring over the Security version.  However, I know monitoring/health are top concerns for Security as well and we have a task to update these screens.  It would definitely be helpful to know Stack's needs during this process.

[2021-09-10 12:44] manishgupta-qasource commented on #111849
Reviewed & assigned to @kevinlog

[2021-09-10 12:45] elasticmachine commented on #111792
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2021-09-10 12:46] pmuellr commented on #110987
I might be missing some context here.

My read on this was that it could have been from our persistent problem of changing SO shapes during a development cycle, folks running that code productively, and then the migrations end up not running because Kibana doesn't actually do the migration because the version hasn't actually changed, although the SO shapes have.

Or maybe there's another spin on t

[2021-09-10 12:46] elasticmachine commented on #111744
Pinging @elastic/kibana-security (Team:Security)

[2021-09-10 12:46] elasticmachine commented on #111702
Pinging @elastic/kibana-alerting-services (Team:Alerting Services)

[2021-09-10 12:48] alisonelizabeth opened #111854 "[Upgrade Assistant] De-dup plugin names in Kibana error message"
It's possible for the response to fetch Kibana deprecations to return a 200, but one or more plugins failed to return deprecation information. In this scenario, we show a warning message in the UI indicating the deprecation list may be incomplete and list the plugins that have errors.

More than one error could exist per plugin, which the current error message logic does not account for, resulting

[2021-09-10 12:48] elasticmachine commented on #111854
Pinging @elastic/kibana-stack-management (Team:Stack Management)