[2022-02-24 06:56] elasticmachine commented on #126312
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-24 07:10] manishgupta-qasource commented on #126311
Reviewed & assigned to @kevinlog

[2022-02-24 07:35] deepikakeshav-qasource opened #126313 "[Security Solution] Error message is showing while deleting the exception from exception list with `read Security privilege`"
**Describe the bug**
Error message is showing while deleting the exception from exception list with read Security privilege

**Build Details:**
[code]

**Preconditions**
1. Rule exception should be added

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
![image](https://user-images.githubusercontent.com/61860752/155478499-15537cc8-ef92-4220-9d

[2022-02-24 07:35] elasticmachine commented on #126313
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 08:00] deepikakeshav-qasource opened #126314 "[Security Solution] Check boxes are displayed under rules page for read Security privilege"
**Describe the bug**
Check boxes are displayed under rules page for read Security privilege

**Build Details:**
[code]

**Preconditions**
1. N/A

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
![image](https://user-images.githubusercontent.com/61860752/155482516-dd218d8c-2267-4411-bf77-f410c7377e8b.png)

![image](https://user-images.githubus

[2022-02-24 08:00] elasticmachine commented on #126314
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 08:13] amolnater-qasource opened #126316 "[Fleet]: Inappropriate error message on editing preinstalled integration that is no longer compatible."
**Kibana version:**  Upgraded 8.0.1 BC-2 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
BUILD: 49348
COMMIT: 28c513e163646ac0858d8c944414fb518f4ef940

**Preconditions:**
1. Upgraded 8.0.1 BC-2 Kibana cloud environment should be available.
2. Cyberark integration should be added to a policy before upgrade from 7.17>8.0.1

**Steps to reproduce:**
1. Upgrade 7

[2022-02-24 08:13] elasticmachine commented on #126316
Pinging @elastic/fleet (Team:Fleet)

[2022-02-24 08:14] amolnater-qasource commented on #126316
@manishgupta-qasource Please review.

[2022-02-24 08:28] formgeist opened #126317 "Exploratory View – Building out a visualization using Infrastructure metrics fails and returns error message"
**Kibana version**:

8.1.0-SNAPSHOT

**Description of the problem including expected versus actual behavior**:

Trying to build a new visualization using the Infrastructure Metrics will result in a failure and error message as the data types are loading.

https://user-images.githubusercontent.com/4104278/155486779-94eb47a2-a1bc-407d-83d8-744954f2330a.mp4

**Steps to reproduce**:
 1. Clear the canv

[2022-02-24 08:28] elasticmachine commented on #126317
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-24 08:36] juliaElastic commented on #125236
@criamico we are not using dockerized package registry with Cypress, you can force install earlier versions of packages to test conflicts.
I'm not sure if we want to use a docker registry or keep using the actual snapshot registry, maybe we should discuss https://github.com/elastic/kibana/issues/121436#issuecomment-999514966

[2022-02-24 08:38] manishgupta-qasource commented on #126316
Secondary Review is Done for this ticket

[2022-02-24 08:50] dikshachauhan-qasource commented on #126148
Hi @paul-tavares

As the user, here has only Read permissions, so we checked that he is unable to save changes on Edit page as save button remains disabled for integrations.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/155489113-e7ac0f09-23b2-45f4-8b3b-c4d2ed124bdd.png)

Further, for endpoint security, it currently behaves as
![image](https://user-images.githubuserc

[2022-02-24 09:10] katrin-freihofner opened #126319 "[Observability UI] empty states: remove all links from top bar (only keep settings)"
**Describe the feature:**
As a next step to improve our empty states we need to make sure users can focus on a single action. Therefore, we should remove all links/buttons from the top menu bar. It's necessary we keep the settings button, for now, to let users configure the index.
<img width="1191" alt="Screenshot 2022-02-22 at 15 51 04" src="https://user-images.githubusercontent.com/20965076/1554

[2022-02-24 09:10] elasticmachine commented on #126319
Pinging @elastic/apm-ui (Team:apm)

[2022-02-24 09:10] elasticmachine commented on #126319
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-24 09:10] elasticmachine commented on #126319
Pinging @elastic/uptime (Team:uptime)

[2022-02-24 09:10] katrin-freihofner commented on #126319
Resolves: https://github.com/elastic/kibana/issues/116293

[2022-02-24 09:11] katrin-freihofner commented on #116293
Solved by: https://github.com/elastic/kibana/issues/116293

[2022-02-24 09:11] dasansol92 commented on #126311
Hi @deepikakeshav-qasource , did you tried the same from the Event filters list? What about trusted apps? Want to be sure if this is something global under management tab or event filters specific. Thanks!

[2022-02-24 09:24] amolnater-qasource commented on #125481
Hi @juliaElastic
We have revalidated this on latest 8.1 BC-3 kibana cloud environment and found it **fixed** now.
- Agent policy name is incremented itself under Add Agent flyout.

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

Hence marking this as QA Validated.
Thanks

[2022-02-24 09:29] amolnater-qasource commented on #125339
Hi @juliaElastic
We have revalidated this on latest 8.1 BC-3 kibana cloud environment and found it **fixed** now.
- Respective policy is selected on clicking Add Agent button from Agent Policies tab.

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/155496892-32f36ce3-1649-472d-865c-733e0348f

[2022-02-24 09:42] dikshachauhan-qasource commented on #122152
Hi @kpollich Thanks for addressing it. We will validate related PR and will post our observations there.

[2022-02-24 09:45] amolnater-qasource commented on #124784
Hi @kpollich
We have revalidated this on latest 8.1 BC-3 kibana cloud environment and found it **fixed** now.
- Creating a policy on Add integration page and then adding integration navigates user to the respective Integrations policies page.

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/

[2022-02-24 09:51] criamico commented on #125236
Thanks Julia, I think it's worth exploring the different options. I'll check the other discussion.

[2022-02-24 09:57] deepikakeshav-qasource commented on #126311
Hi @dasansol92

Yes , We have tried that, event filters and trusted apps are working correctly i.e, they are displaying the banner of  `You do not have the required Kibana permissions to use Elastic Security Administration`. But Issue is only occurring for this specific flow mentioned in bug.

https://user-images.githubusercontent.com/61860752/155501583-303b29d7-5cd5-440b-aba1-14b7a0943d22.mp4

Th

[2022-02-24 10:00] formgeist commented on #125964
@sqren I believe that it makes sense to show in the index settings (and we should also propose to do this in Infrastructure and Uptime where applicable) because it means that the data access is scoped within a particular space but not in another. When it comes to space-aware objects that are created such as ML jobs, service groups, saved views (Infrastructure), I'd like to spend some time explorin

[2022-02-24 10:07] amolnater-qasource opened #126323 "[Fleet]: Unable to toggle any switched in Elastic APM integration inside Elastic Cloud agent policy"
**Kibana version:**  8.1 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.1 BC-3 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents policies tab and select Elastic Cloud agent policy.
3. Click edit Elastic APM integration.
4. Scroll down and cl

[2022-02-24 10:08] amolnater-qasource commented on #126323
@manishgupta-qasource Please review.

[2022-02-24 10:17] amolnater-qasource commented on #122436
Hi @joshdover
We are blocked to retest this on 8.1.0 BC-3 because of reported issue at https://github.com/elastic/kibana/issues/126323

Thanks

[2022-02-24 10:18] dasansol92 commented on #126311
@kevinlog I think we should hide the `Add Endpoint event filter` option when user doesn't has the right permissions, thoughts?

[2022-02-24 10:25] manishgupta-qasource commented on #126323
Secondary Review is Done for this ticket

[2022-02-24 10:29] deepikakeshav-qasource opened #126326 "[Security Solution] Upload value list is enabled for read Security privilege"
**Describe the bug**
Upload value list is enabled for read Security privilege

**Build Details:**
[code]

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration

![image](https://user-images.githubusercontent.com/61860752/155506798-41d86f9c-369d-4893-9e61-a85cf601da43.png)

![image](https://user-images.githubusercontent.com/61860752/155506826-73f889

[2022-02-24 10:29] elasticmachine commented on #126326
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 10:50] karanbirsingh-qasource opened #126328 "[Security Solution]Read Glasses missing for Read User navigating to Detect Group pages"
**Describe the bug**
Read Glasses missing for Read User navigating to Detect Group pages

**Build Details**
[code]

**Pre-Condition**
- Create a 8.1.0 BC3 Released Build
- Create Custom User and Assign custom Role to it
- Role Configuration
  - _Elasticsearch Privilege_

![image](https://user-images.githubusercontent.com/59917825/155509212-798fc7fb-4ea0-4f25-a0f0-45ee41bea32b.png)

  - _Kibana Pri

[2022-02-24 10:50] elasticmachine commented on #126328
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 10:50] joshdover commented on #126148
This could still be a problem. We do allow the user to view the edit integration form, but not actually make any saves/changes. @dikshachauhan-qasource would you be able to test the edit policy form on a Endpoint policy for a user who only has `read` access to Fleet and Integrations?

[2022-02-24 10:53] joshdover commented on #125661
Test instructions:
- Start an on-prem deployment of 8.0 or 8.1 with security on by default
- Go to Fleet settings flyout
- Verify the `Elasticsearch CA trusted fingerprint` field is already filled in and there is no validation error
- Paste in a hex-formatted fingerprint like `9F:0A:10:41:14:57:AD:DE:39:82:EF:01:DF:20:D2:E7:AA:53:A8:EF:29:C5:0B:CB:FA:3F:3E:93:AE:BF:63:1B` and verify there is a val

[2022-02-24 10:54] rudolf commented on #115217
This is still a problem on cloud I'll ask monitoring for their input

https://overview.elastic-cloud.com/app/lens#/edit/e85c5640-955f-11ec-96eb-7bbb33e84db0?_g=h@d7d2a59

[2022-02-24 10:58] dasansol92 commented on #126311
PR: https://github.com/elastic/kibana/pull/126329

[2022-02-24 11:00] joshdover commented on #121887
Test instructions:
- Spin up 7.17.0 deployment on Cloud staging
- Do the switch from APM standalone -> APM managed by Fleet by going to APM/Settings/Schema/Switch to Elastic Agent
- Edit the APM policy that was created (just changing the namespace would work)
- Run this API call:
[code]
- Refresh APM policy and see that verify that any changes made in prior step were reverted

[2022-02-24 11:00] dasansol92 commented on #126311
@deepikakeshav-qasource Thanks for the detailed information. Can you confirm if this is only in 8.1 or if this is already happening in older versions? Thanks!

[2022-02-24 11:01] deepikakeshav-qasource opened #126330 "[Security Solution] Banner for read user is missing under exception list page for read Security privilege"
**Describe the bug**
Banner for read user is missing under exception list page for read Security privilege

**Build Details:**
[code]

**Preconditions**
1. N/A

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration
![image](https://user-images.githubusercontent.com/61860752/155512123-8294e6bc-fc56-45eb-95fc-970789799353.png)

![image](https://user-

[2022-02-24 11:01] elasticmachine commented on #126330
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 11:03] karanbirsingh-qasource opened #126331 "[Security Solution]Read User for Security able to update Alert Status"
**Describe the bug**
Read User for Security able to update Alert Status

**Build Details**
[code]

**Pre-Condition**
- Create a 8.1.0 BC3 Released Build
- Create Custom User and Assign custom Role to it
- Role Configuration
  - Elasticsearch Privilege

![image](https://user-images.githubusercontent.com/59917825/155512130-b69e4ba0-2cd0-4f5c-b561-dd1a8b5c6262.png)

  - Kibana Privilege

![image](htt

[2022-02-24 11:03] elasticmachine commented on #126331
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 11:03] joshdover commented on #118899
Test instructions:
1. Setup two clusters, P = primary and R = replica.
2. On Cluster R, [setup a remote cluster](https://www.elastic.co/guide/en/cloud/current/ec-enable-ccs.html#ec-add-remotes-with-kibana) to point to Cluster P, named `primary`
3. On Cluster R, setup an auto-follow pattern to replicate some logs and metrics data streams from cluster P to cluster R by running this in dev tools:
[co

[2022-02-24 11:07] joshdover commented on #113921
Test instructions:
1. Start an on-prem 8.1 Kibana and ES cluster, add this to the kibana.yml config before starting Kibana:
[code]
2. Go to Fleet app and wait for UI to load
3. Stop Kibana
4. Change the kibana.yml to use these settings:
[code]
5. Start Kibana and go to Fleet app
6. Go to Elastic Cloud policy and verify that an APM integration policy was added

[2022-02-24 11:07] joshdover commented on #122015
@dikshachauhan-qasource The test instructions for this issue are in the repro steps below, let me know if there's any other information needed.

[2022-02-24 11:10] joshdover commented on #121640
Test instructions:
- Launch 8.1.0 cluster on Cloud staging (I think you're going to need to wait for BC4)
- Switch to managed APM by going to APM/Settings/Schema/Switch to Elastic Agent
- Open the edit form on the APM integration policy on the Elastic Cloud agent policy
- Expand the "Advanced options" accordion (not the one below the integration name, the one further down the page)
- Verify that t

[2022-02-24 11:13] deepikakeshav-qasource opened #126332 "[Security Solution] Export icon is enabled under exception list page for read Security privilege"
**Describe the bug**
Export icon is enabled under exception list page for read Security privilege

**Build Details:**
[code]

**Preconditions**
1. N/A

**Steps to Reproduce**
1. Navigate to Stack Management > Role
2. Create a Role with below configuration

![image](https://user-images.githubusercontent.com/61860752/155513619-611c7c28-9828-438f-90ee-67692e3da931.png)

![image](https://user-images.g

[2022-02-24 11:13] elasticmachine commented on #126332
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 11:15] joshdover commented on #126323
I tested this on the latest 8.1.0-SNAPSHOT and this issue does not appear to be there anymore. I expect BC4 should not have this problem.

That said, https://github.com/elastic/kibana/issues/124501 is still outstanding which allows some fields to be edited that shouldn't and doesn't block editing some field that should be.

I think we can close this once it's verified that this particular issue (w

[2022-02-24 11:15] elasticmachine commented on #126323
Pinging @elastic/apm-ui (Team:apm)

[2022-02-24 11:18] joshdover commented on #124501
Related to this, the fields that are frozen in this form are not being displayed as such. Input fields and toggles should be greyed out, such as this Fleet Server policy editor:

![image](https://user-images.githubusercontent.com/77374876/155503408-e56b0608-a97b-4672-818a-917f0bd23c1b.JPG)

[2022-02-24 11:23] karanbirsingh-qasource opened #126333 "[Security Solution]Pagination enabled for No data under Host risk tab of Host page and having error"
**Describe the bug**
Pagination enabled for No data under Host risk tab of Host page and having error

**Build Details**
[code]

**Pre-Condition**
- Create a 8.1.0 BC3 Released Build
- Add below xpack under kibana
`xpack.securitySolution.enableExperimental: ['riskyHostsEnabled']`

**Steps**
- Login to Kibana
- Navigate to Host > Hosts by risk tab
- Observed that next page pagination is enable even

[2022-02-24 11:23] elasticmachine commented on #126333
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 11:24] amolnater-qasource commented on #121887
Hi @joshdover
Thanks for the detailed steps.
We have revalidated this issue on 7.17.0 and we followed all the same steps.
After execution till step 3, we had Elastic APM integration available in Elastic cloud agent policy with namespace `test`.

Then we ran the API call.
After this step, we observed that Elastic APM integration is removed from Elastic cloud agent policy.

**Screenshots:**
![21](ht

[2022-02-24 11:43] manishgupta-qasource commented on #126328
Reviewed & assigned to @MadameSheema

[2022-02-24 11:43] manishgupta-qasource commented on #126331
Reviewed & assigned to @MadameSheema

[2022-02-24 11:44] manishgupta-qasource commented on #126333
Reviewed & assigned to @MadameSheema

[2022-02-24 11:47] joshdover commented on #121887
Looks great, thanks!

[2022-02-24 11:49] amolnater-qasource commented on #125661
Hi @joshdover
We have revalidated this on latest 8.1 BC-3 kibana self-managed environment and found it **fixed** now.
- There is no validation error observed for default `Elasticsearch CA trusted fingerprint`.
- Further on adding the provided string we get the required error.

**Build Details:**
BUILD: 50346
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e

**Screenshot:**
![22](https://user-image

[2022-02-24 11:52] deepikakeshav-qasource commented on #126311
Hi @dasansol92 ,

We have validated this issue on **7.17.0** and observed that non super user is able to create the Event filter without any error.

Please find the below screencast:

https://user-images.githubusercontent.com/61860752/155518568-db1ae417-f8f1-41cf-a262-fc7a98981f8c.mp4

Please let us know if anything else is required from our end.

Thanks!!

[2022-02-24 11:53] joshdover commented on #126067
Ah thanks for digging in, so we need to probably block this UI if the user does not have the `monitor` cluster privilege. I think we can follow the same design pattern that we have used for blocking the Fleet Server setup instructions.

[2022-02-24 11:54] joshdover commented on #126067
A fix for 8.1.0 would be ideal here, but if it slips to 8.1.1 that'd be ok.

[2022-02-24 11:58] ghost opened #126335 "[Security Solution]Security Privilege access conflicting between Read and None"
**Describe the bug**
Security Privilege access conflicting between Read and None

**Build Details**
[code]

**Pre-Condition**
- Create a 8.1.0 BC3 Released Build
- Create Custom User (_user1_) and Assign custom Role (_role1_) to it
[code]
- Create another Custom User (_user2_) and another custom Role (_role2_) to it

[code]

**Steps**
- Login with user1 and verify the user have there correct Privi

[2022-02-24 11:58] elasticmachine commented on #126335
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-24 11:59] joshdover commented on #116428
Hi @thunderwood19 we have this prioritized to be worked on soon but have not yet dug in further. In the meantime, I do suggest using the UI in Stack Management > Index Management > Data streams.

---

Related to this, in https://github.com/elastic/kibana/issues/126067 it was discovered that the user needs to have access to the `manage` cluster privilege in order to access the Data stream stats API

[2022-02-24 12:00] stratoula commented on #126241
I could reproduce it. Examples with the sample data that this happens:
<img width="1732" alt="image" src="https://user-images.githubusercontent.com/17003240/155518907-50eb7416-e7c8-475f-bdf4-1e861cfffa87.png">

<img width="1724" alt="image" src="https://user-images.githubusercontent.com/17003240/155518975-fc7ef0d1-d891-4115-a725-e2e0b5b31abc.png">

[2022-02-24 12:05] joshdover commented on #126113
Thanks for the info. My reproducible, I mean what happens if you try to re-install or upgrade these packages manually from the UI? If it is reproducible, it'd be helpful to get an export of your `index-pattern` and `alias` Saved Objects. We can coordinate this privately if you're open to it.

Ah for these other packages, I believe it's related to this upgrade logic that we have which will ensure t

[2022-02-24 12:08] joshdover commented on #116522
@dominiqueclarke Since we're no longer maintaining the 7.15 branch I think we can just close this now.

[2022-02-24 12:09] joshdover commented on #126130
Thanks for confirming, Julia. Going to close this as a wontfix.

[2022-02-24 12:09] #126130 closed

[2022-02-24 12:11] ghost opened #126336 "[Integration]: On installing integration wrong number of `Assets` count shows under `Assets tab`."
**Describe the bug:**
 On installing integration wrong number of `Assets` count shows under `Assets tab`.

**Build Details:**
VERSION: 8.1.0-BC3
COMMIT: 0335dd6a26ef29ae9021d0fae9347dc88f3b7d6e
BUILD: 50346
ARTIFACT LINK: https://staging.elastic.co/8.1.0-bee672a6/summary-8.1.0.html

**Preconditions:**
1. Elastic 8.1.0-BC3 environment should be deployed.

**Steps to Reproduce:**
1. Navigate to the

[2022-02-24 12:11] elasticmachine commented on #126336
Pinging @elastic/fleet (Team:Fleet)

[2022-02-24 12:11] deepikakeshav-qasource commented on #125492
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and observed that issue is **Fixed**. ✔️ .

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/155521527-5d4a392b-7f60-4352-bcd8-898f5398eaa1.png)

Hence, We are closing this issue and marking as QA Validated.

Thanks !!

[2022-02-24 12:12] manishgupta-qasource commented on #126335
Reviewed & assigned to @MadameSheema

[2022-02-24 12:14] joshdover opened #126337 "[Fleet] Rename `package_policies` to `integration_policies` in API and codebase"
In the Fleet UI, we have decided to call the individual integration instances "Integration policies" instead of "Package policies", but in the code this is still called `package_policies`. I propose we rename this to make the HTTP API easier to understand and our codebase more coherent with the UI.

This would be a breaking change to the API and kibana.yml configuration, so we should consider intr

[2022-02-24 12:14] elasticmachine commented on #126337
Pinging @elastic/fleet (Team:Fleet)

[2022-02-24 12:17] deepikakeshav-qasource commented on #126057
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and observed that issue is **Fixed**. ✔️ .

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

https://user-images.githubusercontent.com/61860752/155522309-40d01b22-8588-4a2c-b7f1-9cd17b41cc47.mp4

Hence, We are closing this issue and marking as QA Validated

Thanks !!

[2022-02-24 12:17] #126057 closed

[2022-02-24 12:18] formgeist commented on #125910
Happy to continue driving this as part of the enhancements which will be planned in our effort to improve the APM onboarding experience 👍

[2022-02-24 12:22] deepikakeshav-qasource commented on #125491
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and observed that issue is **Still Occurring**. 🔴

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/155523118-6a2b39ce-b207-4233-9bc7-4f3c02f1b768.png)

Thanks !!

[2022-02-24 12:27] dikshachauhan-qasource commented on #126148
@joshdover Even when user have "All" rights for Security tab, and attempts to navigate from there, He is still unable to make changes on edit integration form for Endpoint security.

Security page displays as:
![image](https://user-images.githubusercontent.com/72375798/155523653-5e3278d2-3f9a-4b6f-a973-d49b7bd1e808.png)

On Using "Add Integration" button at top right corner, when user attempts to

[2022-02-24 12:34] kevinlog commented on #126148
@dikshachauhan-qasource @joshdover

This sounds correct to me. The user needs superuser access to access the management pages in security right now

[2022-02-24 12:37] deepikakeshav-qasource commented on #125473
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and observed that issue is **Still Occurring**. 🔴

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/61860752/155525334-d0b1bc86-0bf2-4997-b8ab-61fdb9aa2609.png)

Thanks !!

[2022-02-24 12:39] janmonschke commented on #125491
Maybe the change wasn't included in the newest BC

[2022-02-24 12:40] karanbirsingh-qasource commented on #122207
Hi @MadameSheema

 we have validated this issue one `8.1.0 BC4` and found to fixed ✔️ .
**Build Details:**
[code]

**Snap-shoot:**

![image](https://user-images.githubusercontent.com/59917825/155525787-2bcaf9c8-03b9-4aea-a783-fcf95ed37485.png)

Hence we are closing this issue .

[2022-02-24 12:40] #122207 closed

[2022-02-24 12:44] sqren commented on #125964
Just fyi (in case you didn't know): It is our choice to make service groups space aware. We could have made them space agnostic. Therefore I think it's on us to make this clear to the user. I agree there should be consensus and alignment in Kibana how we show this.

[2022-02-24 12:45] karanbirsingh-qasource commented on #125609
Hi @MadameSheema

 we have validated this issue one `8.1.0 BC4` and found to fixed as per the discussion. No longer Isolated KPI showing under Case Details Page.

**Build Details:**
[code]

**Snap-shoot:**
![image](https://user-images.githubusercontent.com/59917825/155526485-e3311940-6e93-4a44-a99c-d0dc37f22c1d.png)

[2022-02-24 12:45] #125609 closed

[2022-02-24 12:46] #126310 closed

[2022-02-24 12:48] bhavyarm commented on #124984
can we please

[2022-02-24 12:50] dikshachauhan-qasource commented on #108252
Hi All

We have executed below feature run, on this PR at testrail for created testcases:

- [Remove SuperUser Access to Fleet](https://elastic.testrail.io/index.php?/runs/view/3602&group_by=cases:section_id&group_order=asc)

We will retest the failed testcases on BC4 and add the results once, reported issues are fixed.

Thanks
QAS

[2022-02-24 12:56] karanbirsingh-qasource commented on #120596
Hi @MadameSheema

 we have validated this issue one `8.1.0 BC4` and found to fixed ✔️ . User is Able to investigate Threshold Type Rule.

**Build Details:**
[code]
**Screen-Cast:**

![image](https://user-images.githubusercontent.com/59917825/155527389-4cb2ea97-0b50-4fb9-b2a0-7852a4f1667c.png)

https://user-images.githubusercontent.com/59917825/155528017-119a385e-ac20-4e73-ab28-2a15033106d7.mp4

He

[2022-02-24 12:56] #120596 closed

[2022-02-24 13:01] afgomez commented on #125394
I had a chat with @MiriamAparicio and @sqren about the work she did in #121519. Here's what I understood.

- The current embeddable has some duplicated code that APM will change in the future and is therefore not stable. If we use this component as-is there are no guarantees that it will keep working.
- They do want to make a stable component, but right now they don't have the capacity.
- They do

[2022-02-24 13:07] formgeist commented on #125964
I know, I think we see that as a feature 😄 Also, I think the common expectation is that most objects in Kibana are space aware, not agnostic, but I need to follow up with Kibana platform PMs if that's intention.

[2022-02-24 13:07] pgayvallet commented on #126191
Well, then FWIW I can say for sure that this is something that will **not** be supported for rolling upgrades.

[2022-02-24 13:15] simitt commented on #121184
I have investigated this a bit further and it seems that `mappings` configuration can be extended with new fields, and dynamic templates that haven't been set on the index template can be added, but existing mappings and meta information, set on the index template, cannot be overwritten.

## Example APM Traces
0. Fleet setup when installing APM Integration:
* index template `traces-apm`
[code]
* c

[2022-02-24 13:20] cyrille-leclerc opened #126342 "[APM] "Trace/Logs" screen not only displays log messages that have the `trace.id` fields matching but also log messages that contain the traceId value in their `message`"
**Kibana version:**
8.0.0
**Elasticsearch version:**
8.0.0

**Original install method (e.g. download page, yum, from source, etc.):**

Elastic Cloud

**Describe the bug:**

The APM Trace/Logs not only displays log messages that have the `trace.id` fields matching but also all log message that contain the traceId value in their `message`

**Steps to reproduce:**

* Instrument an application with El

[2022-02-24 13:20] elasticmachine commented on #126342
Pinging @elastic/apm-ui (Team:apm)

[2022-02-24 13:23] alexwizp opened #126343 "[Lens] [FieldInputs] user should not be able to select "disabled" fields"
**Kibana version:**
main branch

**Steps to reproduce:**
1. Create any Lens visualization with multi-field selection component
2. Press "Add field" and scroll to disabled item

**Expected behavior:**
In case of clicking on the disabled item, this item should not be selected

**Screenshots (if relevant):**

https://user-images.githubusercontent.com/20072247/155531827-8e6636b9-1a25-4bb3-aca1-e312f97

[2022-02-24 13:23] elasticmachine commented on #126343
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-24 13:45] prachigupta-qasource commented on #124742
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4 on-prem** and observed that issue is **Fixed**. ✔️ .

Please find below the testing details:

**Build Details:**
[code]
**Screenshot:**

![image](https://user-images.githubusercontent.com/97870262/155535590-d6af77b6-d5dd-4cbd-aab8-0282ad334369.png)

![image](https://user-images.githubusercontent.com/97870262/155535627-1b194342-498f-4ec3

[2022-02-24 13:45] alexwizp opened #126344 "[Lens] [Top values function] changing the field(s) should not affect the pre-populated name value"
**Kibana version:**
main branch

**Describe the bug:**
Changing the field(s) should not affect the pre-populated name value

**Steps to reproduce:**
1. Create Lens visualization and configure view with `Top Values` function
2. Set custom value for `Name` property
3. Set new value for Fields

**Expected behavior:**
If a custom name is used, this value should not be overridden when updating other pr

[2022-02-24 14:02] alisonelizabeth commented on #125987
I think it would be good to get in for the 8.1 patch.

Related PR which led to opening this issue - https://github.com/elastic/kibana/pull/125818

[2022-02-24 14:05] #126008 closed

[2022-02-24 14:19] kevinlog commented on #126311
@dasansol92 thanks for the investigation here.  Since we've only got one BC for 8.2 and we do block the user through API, it's OK to delay this fix to a patch or to `8.2`

[2022-02-24 14:21] manishgupta-qasource commented on #126336
Secondary Review is Done for this ticket

[2022-02-24 14:35] juliaElastic commented on #122973
we found another place where the release badges (beta/experimental) appear: https://docs.elastic.co/en/integrations

would it make sense to store the mapping logic centrally in registry? I'm not sure if kibana/fleet is the right place to store it, especially if it might be duplicated in other places.

[2022-02-24 14:41] juliaElastic opened #126348 "[Fleet] Evaluate impact of moving to package semver instead of release tag in labeling"
Evaluate impact of Add support for pre-release semver in packages [package-spec#225](https://github.com/elastic/package-spec/issues/225) on kibana/fleet.

Changes:
- `release` label in packages is deprecated (still populated for BWC)
- semantic versioning is used to determine if package is stable/prerelease
- no change in registries for now (snapshot, staging, production)

Required changes on Flee

[2022-02-24 14:41] elasticmachine commented on #126348
Pinging @elastic/fleet (Team:Fleet)

[2022-02-24 14:44] juliaElastic commented on #126348
Findings:

1. What is the impact on older versions of Kibana?

- Should have no impact, release tag is populated by registry API for BWC (only ga and beta)
- Impact could be when snapshot/staging and production registries are merged https://github.com/elastic/package-spec/issues/225#issuecomment-1048013791

2. What is the business impact? (Keep as tech debt vs fixing)

- Experimental/prerelease fl

[2022-02-24 15:05] #123915 closed

[2022-02-24 15:09] #123947 closed

[2022-02-24 15:11] #123609 closed

[2022-02-24 15:11] fkanout commented on #123609
Update Metrics reason message description  https://github.com/elastic/kibana/issues/126049

[2022-02-24 15:27] elasticmachine commented on #103365
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #106375
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #100510
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #106797
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #122502
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #124718
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #125765
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #124940
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:27] elasticmachine commented on #126092
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 15:29] mdefazio commented on #123982
I can't think of additional relevant examples. But I think the KQL example makes sense.  We could add `params:` as a hint like Ryan showed similar to `type:` and `tag:`.  This then makes the idea that params in general  are at least a bit more discoverable as a searchable key:value pair.  I'm not sure I understand the steps for a developer wanting additional params added to the mapped / searchable

[2022-02-24 15:38] lukasolson commented on #121158
We use GitHub to track feature requests and bug reports. Please do not submit issues for questions about how to use features of Kibana, how to set Kibana up, best practices, or development related help.

However, we do want to help! Head on over to our official Kibana forums and ask your questions there. In additional to awesome, knowledgeable community contributors, core Kibana developers are on

[2022-02-24 15:41] lukasolson commented on #121750
@Jolter, agreed that this would be a nice addition. Until it's added, as a workaround you can click "Edit as Query DSL", and then enter something like the following:

[code]

[2022-02-24 15:42] dej611 opened #126354 "[Lens] Metric Appereance popover overflow"
**Describe the bug:**

The Metric Appearance popover width is too short to contain the new text formatting composite field:

![metric_text](https://user-images.githubusercontent.com/924948/155557159-fe5f9e74-8305-45b6-a4b4-29d06bcaed3c.gif)

Tested in Chrome & Safari.

[2022-02-24 15:42] elasticmachine commented on #126354
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-24 15:46] nchaulet commented on #126204
@jen-huang @kpollich  What do you think is the right way to solve that? We can skip unique name verification for upgrade, but in my opinion if users solve that by updating the integration name (The copy has been updated to add `Please rename it or choose a different name` recently)

I found a bug in our search kuery explaining why it sometime work, sometimes not.

[2022-02-24 15:46] lukasolson commented on #118798
Would there be any benefit to this instead of keeping it as a range filter?

[2022-02-24 15:50] jportner opened #126355 "[Docs] Add developer documentation for Authorization Service"
Inspiration: https://github.com/elastic/kibana/pull/126238#discussion_r813949920

We currently have a single dev docs page that describes Kibana's role-based access control (RBAC): https://www.elastic.co/guide/en/kibana/current/development-security.html

The `security` plugin also exposes an Authorization Service to consumers which can be used to check privileges manually, but it isn't mentioned i

[2022-02-24 15:50] elasticmachine commented on #126355
Pinging @elastic/kibana-security (Team:Security)

[2022-02-24 16:07] kpollich commented on #126204
@nchaulet I think having users correct this is probably best. Renaming their previously existing records or using a name they didn't specify feels subversive. I think driving users to correct it themselves is the right approach.

[2022-02-24 16:09] kpatticha commented on #125789
The change was reverted back and merged into main https://github.com/elastic/kibana/pull/126325. The maximum number is back to 500 🥳

[2022-02-24 16:11] stephmilovic commented on #122117
This is resolved in https://github.com/elastic/kibana/pull/125178

@karanbirsingh-qasource can you please test this should be fixed in 8.0.1+

[2022-02-24 16:26] bfishel commented on #120287
Wanted to document all the elements that may make up a page header so we have them accounted for:

Page title (this will not be redundant for details pages, for example)
Page description
Last updated
(potential back breadcrumb at the top if it's a details page/drilldown)
___
buttons
KPIs

[2022-02-24 16:27] liza-mae commented on #125851
I  have also skipped these tests from the cloud and platform runs: ```test/detection_engine_api_integration/security_and_spaces```

[2022-02-24 16:33] liza-mae opened #126361 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ingest_pipelines/ingest_pipelines·ts - Ingest pipelines app Ingest Pipelines Creates a pipeline"
**Version: 7.17.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/ingest_pipelines/ingest_pipelines·ts**
**Stack Trace:**
[code]
**Other test failures:**
- Ingest pipelines app Ingest Pipelines Loads the app

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:33] liza-mae commented on #98418
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:33] liza-mae commented on #105354
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:33] liza-mae commented on #102008
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:33] liza-mae commented on #105355
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae commented on #98419
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae commented on #105357
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae commented on #98420
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae opened #126362 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/upgrade_assistant/remote_clusters·ts - apis Upgrade Assistant Remote clusters GET /api/upgrade_assistant/remote_clusters returns an array of remote clusters"
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/upgrade_assistant/remote_clusters·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae commented on #124610
**Version: 7.17.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_newsfeed·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Newsfeed shows all news from newsfeed

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae opened #126363 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples·ts - apis Machine Learning jobs Categorization example endpoint - invalid, too many tokens."
**Version: 7.17.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae commented on #126363
Relates to: elastic/kibana#121373

[2022-02-24 16:34] liza-mae commented on #111599
**Version: 7.17.1**
**Class: X-Pack Detection Engine API Integration Tests1.x-pack/test/detection_engine_api_integration/security_and_spaces/tests/ignore_fields·ts**
**Stack Trace:**
[code]
**Other test failures:**
- detection engine api security and spaces enabled  ignore_fields should ignore the field of "testing_regex"

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elasti

[2022-02-24 16:34] liza-mae commented on #110367
**Version: 7.17.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Welcome interstitial clicking on "Explore on my own" redirects to the "home" page

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:34] liza-mae commented on #120392
**Version: 7.17.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2945/testReport/_

[2022-02-24 16:35] elasticmachine commented on #126363
Pinging @elastic/ml-ui (:ml)

[2022-02-24 16:36] ashokaditya commented on #126036
Looking at the buildkite log and after running this test locally, I notice that the logs report a memory leak and point to the fact that the `QueryStringInputUI` component is being updated at a time when it's not mounted [here](https://github.com/elastic/kibana/blob/28bf2aaa264543e3112e309d69bf32d9c364f687/src/plugins/data/public/ui/query_string_input/query_string_input.tsx#L179).

Changing the co

[2022-02-24 16:37] #1511 closed

[2022-02-24 16:37] bfishel commented on #120287
also wondering how removing a title affects accessibility, particularly on screenreaders. I do think our title is quite big, but I'm a little worried about the ramifications of taking it out entirely.

[2022-02-24 16:38] elasticmachine commented on #126361
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-24 16:38] dasansol92 commented on #126311
Moving this to 8.2 as user is prevented to create an event filter without the sufficient permissions.

cc: @kevinlog @deepikakeshav-qasource

[2022-02-24 16:44] cauemarcondes commented on #125964
@formgeist do you want to use this issue to address the changes on the other pages? Because I've fixed it on the Indices page on this PR https://github.com/elastic/kibana/pull/126176

[2022-02-24 16:54] liza-mae commented on #124588
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_filter_editor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:54] liza-mae opened #126367 "[test-failed]: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/editing·ts - transform editing edit transform with latest configuration updates the transform and displays it correctly in the job list"
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/transform/editing·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:54] liza-mae commented on #125275
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**
- API Keys app Home page creates API key "after each" hook for "when submitting form, close dialog and displays new api key"
- API Keys app Home page deletes API key(s) "before each" hook for "one by one"

 _Test Report: https://interna

[2022-02-24 16:54] liza-mae commented on #125276
**Version: 8.1.0**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:54] liza-mae opened #126368 "[test-failed]: X-Pack Reporting Functional Tests1.x-pack/test/reporting_functional/reporting_and_security/security_roles_privileges·ts - Reporting Functional Tests with Security enabled Security with `reporting_user` built-in role Canvas: Generate PDF does allow user with reporting privileges"
**Version: 8.1.0**
**Class: X-Pack Reporting Functional Tests1.x-pack/test/reporting_functional/reporting_and_security/security_roles_privileges·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #102008
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #98419
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124593
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/elasticsearch/overview·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Monitoring Elasticsearch overview with shards relocating should summarize elasticsearch with metrics

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testRe

[2022-02-24 16:55] liza-mae commented on #124432
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_context_encoded_url_param·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #98420
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124596
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/index_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124597
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124598
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/multiple_clusters·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124599
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get many monitors with page params
- apis uptime uptime REST endpoints uptime CRUD routes [GET] /internal/uptime/service/monitors get on

[2022-02-24 16:55] liza-mae commented on #124601
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/add_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #110367
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Welcome interstitial clicking on "Explore on my own" redirects to the "home" page

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124604
**Version: 8.1.0**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae opened #126369 "[test-failed]: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·ts - management creating and deleting default index data view creation with exclusion"
**Version: 8.1.0**
**Class: Chrome UI Functional Tests1.test/functional/apps/management/_exclude_index_pattern·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #120392
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:55] liza-mae commented on #124602
**Version: 8.1.0**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/dev_tools/breadcrumbs·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2944/testReport/_

[2022-02-24 16:57] elasticmachine commented on #126369
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-24 16:57] elasticmachine commented on #126368
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-02-24 17:16] Kayak007 opened #126370 "[Vega] Visualisation based on EMS with multiple maps"
Hi,

The purpose of the new feature would be to be able to have multiple maps in the same Vega visualization.

Something like this:

![VegaMap (1)](https://user-images.githubusercontent.com/73903743/155568668-c492cc58-0297-4042-8692-a0011475e131.png)

At the moment, using _**type=map**_  in the kibana config creates a projection for the whole visualization.
If it could be set per marks group inste

[2022-02-24 17:19] #126103 closed

[2022-02-24 17:28] adamwdraper commented on #125949
@michaelolo24 This issue describes changes to existing UX workflows and will need UX design to determine if it is the correct path forward.   Is your last comment stating that we won't be making these changes?

[2022-02-24 17:43] michaelolo24 commented on #125949
@adamwdraper Yep, you're correct, we won't be making these changes at this time. Thanks for noting and apologies for not tagging UI/UX in here. This was an idea that we've had floating around, and I created this issue to keep track of the work we would want to do. I think we'd want to have a discussion about the options available to us for eventually doing something like this once timeline is a bi

[2022-02-24 18:00] BenB196 opened #126375 "[Observability][Rules] Ability to set a "score" on an Observability Rule"
**Describe the feature:**

When creating a rule under Observability, I would like to be able to give the rule a "score" that gets added to the backing alert when it triggers. This could be something similar to the Security Rules "Risk Score".

**Describe a specific use case for the feature:**

Within the world of observability/monitoring there are many different things that can be looked at the ga

[2022-02-24 18:04] #49647 closed

[2022-02-24 18:04] #125964 closed

[2022-02-24 18:10] #116611 closed

[2022-02-24 18:13] MichaelMarcialis opened #126376 "[Lens] "Text formatting" form row overflowing toolbar popover on metric visualizations"
**Describe the bug:**

When crafting a metric type visualization in Lens, the "Text formatting" form row in the "Appearance" toolbar menu is overflowing outside of its containing popover. It looks [my comment to adjust the width of the popover](https://github.com/elastic/kibana/pull/124124#pullrequestreview-879268922) got missed in the metric visualization text formatting PR.

**Steps to reproduce

[2022-02-24 18:13] elasticmachine commented on #126376
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-24 18:34] yiyangliu9286 commented on #101014
@spong @banderror updated the mvp design based on our discussion:

- Rule execution log view - default state UI:
<img width="662" alt="Screen Shot 2022-02-24 at 1 03 45 PM" src="https://user-images.githubusercontent.com/81987435/155581766-2d08a72d-ba8a-4495-8f3a-3d136364c6e7.png">
There will be a tooltip on "Show metrics columns" toggle:

- When users want to filter by “rule execution id”, adding

[2022-02-24 18:36] simianhacker commented on #96568
We discussed this and we've decided to defer this work until @XavierM has refactored the alerts table.

[2022-02-24 18:45] emma-raffenne commented on #125561
It looks like those fields appear when the columns are reset to the default fields, using the "reset" button in the field selector. TBC.

[2022-02-24 18:47] simianhacker commented on #125561
Please tackle https://github.com/elastic/kibana/issues/125191 when working on this issue.

[2022-02-24 18:48] emma-raffenne commented on #125191
To be addressed along with #125561

[2022-02-24 18:53] elasticmachine commented on #126369
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-24 18:53] elasticmachine commented on #126369
Pinging @elastic/kibana-app-services (Team:AppServicesUx)

[2022-02-24 18:54] cjcenizal commented on #126369
@liza-mae Anything index pattern related is under App Services, not Deployment Management.

[2022-02-24 18:56] liza-mae commented on #126369
Ok thanks @cjcenizal

[2022-02-24 19:16] spong commented on #101014
Awesome -- thank you @yiyangliu9286! 🙂  Will implement these in https://github.com/elastic/kibana/pull/126215 and ping you when ready for review!

[2022-02-24 19:25] ryankeairns commented on #125193
@cristina-eleonora which PM are you working with on this particular research effort? Lewis?

[2022-02-24 19:50] jen-huang commented on #126336
This mismatch is likely due to the fact that we only display Dashboards, Saved searches, and Visualizations in the list of assets, but the integration itself can contain more. Therefore, we don't expect the sum of those 3 types to equal the total amount in the modal.

We can probably improve the Assets page to account for this in general though, maybe by displaying a message about X other assets t

[2022-02-24 19:52] tylersmalley opened #126383 "Jira test"

[2022-02-24 19:56] #126383 closed

[2022-02-24 19:59] petrklapka opened #126385 "This is a test issue."
Nothing much to say.  Testing label shennanigans.

[2022-02-24 19:59] elasticmachine commented on #126385
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-24 19:59] jasonrhodes opened #126386 "[Stack Monitoring] Kibana should not report healthy when recent data is missing"
## Summary

Currently, if you shut down the Kibana you are monitoring while running the Metricbeat kibana monitoring module, Metricbeat will fill its logs with errors about not being able to connect, but Kibana will still report as "Healthy" or "Status: Green"

Metricbeat Logs:
[code]

Monitoring UI:
<img width="1191" alt="Screen Shot 2022-02-23 at 7 08 52 PM" src="https://user-images.githubuserco

[2022-02-24 19:59] elasticmachine commented on #126386
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-24 20:04] kibanamachine opened #126387 "Failing test: Chrome X-Pack UI Functional Tests Basic License.x-pack/test/functional/apps/transform/permissions/full_transform_access·ts - apps transform basic license transform permissions for user with full transform access with data loaded should display controls in the edit flyout correctly"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11188#21eba552-71a8-492b-96af-811d0230c450)

[2022-02-24 20:08] petrklapka opened #126388 "Testing Sync - LOE Label Shenanigans #2"
This is the original description.

Now let’s force a sync back from Jira to GH by adding this text.

[2022-02-24 20:08] elasticmachine commented on #126388
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-24 20:09] stephmilovic commented on #122990
To be clear - we are not disabling sort. It should work if the runtime field does not have errors. the PR #125178 updates the errors to be more helpful/correct. This fix is in 8.0.1

[2022-02-24 20:09] tylersmalley commented on #69962
@spalger and @brianseeders - have notes from your discussion a few months back to put down here (format, where, etc)?

[2022-02-24 20:11] tylersmalley commented on #43146
Closing, we have not had issues with this since so it doesn't seem like a high priority.

[2022-02-24 20:11] #43146 closed

[2022-02-24 20:11] stephmilovic commented on #122207
fixed in 8.1 only, backport was not in time

[2022-02-24 20:13] tylersmalley commented on #15562
Closing this as I would rather focus our effort on using a service to replace our home-brewed solution. We were hopeful that FOSSA was going to be it, but that didn't pan out.

[2022-02-24 20:13] #15562 closed

[2022-02-24 20:14] spalger commented on #69962
It's complicated, I think the only meaningful output from our meeting was "we don't have the answers right now"

[2022-02-24 20:17] tylersmalley commented on #103180
Closing this issue, thanks for everyones input. Seeing as the Github solution does not support squashed merges, we are going to continue with this. The next phase will be generating the project specification and we will ping those here once that's available.

[2022-02-24 20:21] madirey opened #126389 "[Security Solution] Create tool to generate fixtures from historical Kibana versions"
### Summary
The migration to AAD in 8.0 highlighted several shortcomings in our ability to reliably test backwards compatibility in the Security Solution. A large part of that problem stems from the fact that we have a severe lack of data fixtures used by our automated tests that are based on reproducible, representative data from historical versions. This issue will be used to track progress towa

[2022-02-24 20:21] elasticmachine commented on #126389
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 20:23] tylersmalley commented on #93962
Closing, we're tracking this at KO-464. Where we can commit other things, like Jest configs, @kbn/pm builds, etc.

[2022-02-24 20:24] #126388 closed

[2022-02-24 20:28] tylersmalley commented on #69953
Closing in favor of merge gating.

[2022-02-24 20:28] #69953 closed

[2022-02-24 20:28] tylersmalley commented on #69953
Brian had this working - but was blocked on a bug with the Github API.

[2022-02-24 20:30] tylersmalley commented on #46530
Closing for now. We're working towards using snapshots for datasets.

[2022-02-24 20:30] #46530 closed

[2022-02-24 20:49] #95714 closed

[2022-02-24 20:50] #95718 closed

[2022-02-24 20:50] #99125 closed

[2022-02-24 20:51] tylersmalley commented on #95715
@brianseeders - mind converting to separate issues?

[2022-02-24 20:51] #95711 closed

[2022-02-24 20:51] #95712 closed

[2022-02-24 20:51] #95710 closed

[2022-02-24 20:52] #95709 closed

[2022-02-24 21:21] cuff-links opened #126392 "[Meta] Add CCS Functionality to Functional Tests"
This issue is serving as a meta issue to track the work being done to migrate certain functional tests to utilize CCS and access data in a remote cluster. Some of these test suites will not be applicable but we will track that work here. This work was started with https://github.com/elastic/kibana/pull/124586 and will include a mixture of functional tests along with API Integration tests. At the m

[2022-02-24 21:24] spong opened #126393 "[Security Solution][Detections] Update Rule Schedule UI to support new minimum interval setting"
The alerting framework is introducing (https://github.com/elastic/kibana/pull/125396) a new `minimumScheduleInterval` `kibana.yml` config and setting a `1minute` interval as the minimum when creating new rules. The Security `Rule Schedule` UI currently supports setting any number of seconds as the rules interval. While the user should have the framework error bubbled up to them when creating a rul

[2022-02-24 21:24] elasticmachine commented on #126393
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-24 21:33] #124189 closed

[2022-02-24 21:39] kibanamachine opened #126394 "Failing test: Firefox UI Functional Tests.test/functional/apps/discover/_field_data·ts - discover app discover tab field data shows top-level object keys"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11211#ff8d771a-f272-4633-8573-6337d823448b)

[2022-02-24 21:42] cuff-links commented on #124990
Closing this issue. Was tested by https://github.com/elastic/kibana/pull/124586 and this test is no longer failing. Reopen if it starts again.

[2022-02-24 21:43] cuff-links commented on #124990
My mistake. It was the CCS version of this test that was passing. Looking into this test.

[2022-02-24 22:02] elasticforme commented on #123591
Last question. is it ever going to be merge with last version 7.17.0?
or do I have to use this snapshot version?

[2022-02-24 22:05] mitodrummer opened #126395 "SessionView: Details panel polish"
Issue 1)
Due to some confusion around the proposed designs, some fields were not included as part of the "leader" and "parent" sections. The following props should be displayed for the top level process, as well as all of the wide leader processes (including parent).

entity_id (currently labelled as 'id'. we should rename to 'entity_id'),
args,
executable,
interactive,
working_directory,
pid,
sta

[2022-02-24 22:06] mitodrummer commented on #126056
https://github.com/elastic/kibana/issues/126395

[2022-02-24 22:13] LeeDr commented on #126392
I'll add a reference here to the issue to track adding another Elasticsearch cluster to FTR; https://github.com/elastic/kibana/issues/124863

[2022-02-24 22:16] #114747 closed

[2022-02-24 22:41] lukeelmers commented on #125795
I think this issue mostly duplicates the features outlined in https://github.com/elastic/kibana/issues/9202 and https://github.com/elastic/kibana/issues/81130, however I'll go ahead and keep it open as this is more focused on some specific enhancements to the saved objects management UI, which would be unblocked by addressing the other two issues.

cc @sixstringcode @arisonl for awareness, as this

[2022-02-24 22:43] lukeelmers commented on #81130
Also related to https://github.com/elastic/kibana/issues/125795, which focuses on usage information we could surface in the saved objects management UI.

[2022-02-24 22:49] elasticmachine commented on #126370
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-24 22:49] elasticmachine commented on #126370
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-24 23:06] sqren commented on #125394
I might have misspoke: the APIs are subject to change between now and 8.2 release. After then we can look into stabilising them which should make it easier for you to build on top of them - or we can go the embeddable route where APM and metrics share the same UI component.

[2022-02-24 23:36] #125416 closed

[2022-02-24 23:44] hp0620 opened #126403 "[TSVB] Allow custom labels for X-Axis and Formatting Options for the TimeField"
**Describe the feature:**

Currently, TSVB locks down the X-axis value to use the time field and the labels for the interval is also not customizable as it is fed from the `Interval` setting in the UI.

![Screen Shot 2022-02-24 at 6 32 02 PM](https://user-images.githubusercontent.com/66258065/155625616-6b8e1859-a934-40f9-9596-850d9f874cb4.png)

**Feature Request 1:**
Red colored objects in the scr

[2022-02-25 00:03] liza-mae commented on #124432
**Version: 8.0.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/discover/_context_encoded_url_param·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:03] liza-mae commented on #125276
**Version: 8.0.1**
**Class: APM API Integration tests (trial).x-pack/test/apm_api_integration/tests/index·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:03] liza-mae commented on #98418
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:03] liza-mae commented on #105354
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/overview_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #102008
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #105355
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instances_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #105356
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/apm/instance_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #98419
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #105357
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/cluster/list_mb·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #124593
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/elasticsearch/overview·js**
**Stack Trace:**
[code]
**Other test failures:**
- apis Monitoring Elasticsearch overview with shards relocating should summarize elasticsearch with metrics

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testRe

[2022-02-25 00:04] liza-mae commented on #110367
**Version: 8.0.1**
**Class: Chrome UI Functional Tests1.test/functional/apps/home/_welcome·ts**
**Stack Trace:**
[code]
**Other test failures:**
- homepage app Welcome interstitial clicking on "Explore on my own" redirects to the "home" page

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #124594
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/elasticsearch/index_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #98420
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #124595
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/node_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #124596
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/index_detail·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #124597
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/cluster·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae commented on #124598
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/monitoring/logs/multiple_clusters·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae opened #126404 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts - apis uptime uptime REST endpoints uptime CRUD routes get synthetics monitor get all monitors"
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/get_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:04] liza-mae opened #126405 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/add_monitor·ts - apis uptime uptime REST endpoints uptime CRUD routes add synthetics monitor returns the newly added monitor"
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/add_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:05] liza-mae opened #126406 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/edit_monitor·ts - apis uptime uptime REST endpoints uptime CRUD routes edit synthetics monitor edits the monitor"
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/edit_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:05] liza-mae opened #126407 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts - apis uptime uptime REST endpoints uptime CRUD routes delete synthetics monitor deleted monitor by id"
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/uptime/rest/delete_monitor·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:06] liza-mae opened #126408 "[test-failed]: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/upgrade_assistant/cloud_backup_status·ts - apis Upgrade Assistant Cloud backup status get with backups present "before all" hook for "returns status based on most recent snapshot""
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/upgrade_assistant/cloud_backup_status·ts**
**Stack Trace:**
[code]
**Other test failures:**
- apis Upgrade Assistant Cloud backup status get with backups present "after all" hook for "returns status based on most recent snapshot"
- apis Upgrade Assistant Cloud backup status get without backups present return

[2022-02-25 00:06] liza-mae commented on #126362
**Version: 8.0.1**
**Class: X-Pack API Integration Tests1.x-pack/test/api_integration/apis/upgrade_assistant/remote_clusters·ts**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:06] liza-mae commented on #125277
**Version: 8.0.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/reports/index·ts**
**Stack Trace:**
[code]
**Other test failures:**
- maps app  dashboard reporting creates a map report using embeddable example

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:06] liza-mae commented on #120392
**Version: 8.0.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/maps/es_pew_pew_source·js**
**Stack Trace:**
[code]
**Other test failures:**

 _Test Report: https://internal-ci.elastic.co/view/Stack%20Tests/job/elastic+estf-cloud-kibana-tests/2951/testReport/_

[2022-02-25 00:06] liza-mae commented on #125275
**Version: 8.0.1**
**Class: Chrome X-Pack UI Functional Tests1.x-pack/test/functional/apps/api_keys/home_page·ts**
**Stack Trace:**
[code]
**Other test failures:**
- API Keys app Home page creates API key "after each" hook for "when submitting form, close dialog and displays new api key"
- API Keys app Home page deletes API key(s) "before each" hook for "one by one"

 _Test Report: https://interna

[2022-02-25 00:07] elasticmachine commented on #126407
Pinging @elastic/uptime (Team:uptime)

[2022-02-25 00:07] elasticmachine commented on #126406
Pinging @elastic/uptime (Team:uptime)

[2022-02-25 00:07] elasticmachine commented on #126405
Pinging @elastic/uptime (Team:uptime)

[2022-02-25 00:07] elasticmachine commented on #126404
Pinging @elastic/uptime (Team:uptime)

[2022-02-25 00:08] elasticmachine commented on #126408
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-25 00:09] ymao1 commented on #126081
@MadameSheema [This PR](https://github.com/elastic/kibana/pull/126129) was just merged that updates the ES client to use the fixed transport client. Can you re-run these skipped tests and see if you are still seeing this warning?

[2022-02-25 00:13] ymao1 commented on #126089
With [this PR](https://github.com/elastic/kibana/pull/126129), Kibana has been upgraded to use the latest ES transport client that correctly cleans up the abort controller listeners. Verified on `main` that I am able to run greater than 10 consecutive searches during the same rule execution (with the same AbortController) without seeing this warning in the logs.

Note that any rule that issues mor

[2022-02-25 00:16] ghudgins commented on #113140
+1 from https://discuss.elastic.co/t/last-value-of-syste-uptime-duration-ms/298119

[2022-02-25 00:24] ymao1 opened #126409 "[ResponseOps] UX for rules where interval is less than configured minimum"
The questions on the original issue have been answered so changing the issue description to reflect current scope, which is adding an indicator to the UI when a rule is below the configured minimum.

** Original Issue **
With [this PR](https://github.com/elastic/kibana/pull/125396) we have added a Kibana-wide configuration for the minimum schedule interval for a rule. This minimum will only apply

[2022-02-25 00:24] elasticmachine commented on #126409
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-25 00:29] marshallmain commented on #123859
On the Alerts area side we've discussed the implications of allowing rule type changes vs requiring a new rule in order to change the type. The 2 options can be summarized as:
- Support rule type changes by automatically deleting old rule and replace with new rule with same ID, rule ID, and exceptions (and any other settings that are common to all rule types)
- Don't support rule type changes at a

[2022-02-25 00:54] marshallmain commented on #125171
`@timestamp` is not always reliable from the detection engine's viewpoint, since it is typically set by the agent according to the system clock. `event.ingested` is generally the most reliable field to ensure that all arriving documents are queried, even if the documents arrive long after they were generated at the source or the source clock is inaccurate. With that said, there's an open [enhancem

[2022-02-25 01:50] brokensound77 commented on #123859
Can you reference these - we could probably push some constraints to the rules repo.

Also, would this be something specific that should also be exposed via API

[2022-02-25 05:03] #124104 closed

[2022-02-25 06:59] #123556 closed

[2022-02-25 07:00] #123456 closed

[2022-02-25 07:56] #125923 closed

[2022-02-25 08:22] rvalle commented on #58310
@tsullivan how did you fix this? I am getting it from another node client...

[2022-02-25 08:58] bczifra opened #126413 "Define custom source index pattern for Observability Use Experience"
**Describe the feature:**
Be able to specify a custom source index pattern used by Observability's ["User Experience"](https://www.elastic.co/guide/en/observability/current/user-experience.html) app.

**Describe a specific use case for the feature:**
This is needed to allow the app to work when writing to non-default indices/using a non-default index pattern.

[2022-02-25 09:37] kibanamachine opened #126414 "Failing test: Firefox UI Functional Tests.test/functional/apps/console/_autocomplete·ts - console app console autocomplete feature with a missing comma in query should add a comma after previous non empty line"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11261#5f8233eb-4ad5-46a3-ad9f-a96aacdeea08)

[2022-02-25 10:07] rudolf commented on #81130
I think it's important that we don't jump to solutions before exploring the problem sufficiently. I didn't read all enhancement requests but many of them are similar to this quote:

The problem isn't that this user wants to know usage information, the real problem is that they have too many dashboards/visualizations and want to clean it up. Why is having many dashboards a problem? We know very few

[2022-02-25 10:12] rudolf commented on #81130
If we do realize the real problem is understanding usage information I agree with pgayvallet's comments that this can't really be solved by just adding more metadata and counters to saved objects. We're already collecting audit logs and I think these provide a much better source of data to make the above kinds of analysis on. We could make it easy to ingest kibana audit logs and provide built-in d

[2022-02-25 11:11] fpytloun opened #126415 "Index pattern fields using old types after ES index mapping change"
**Describe the feature:**

When I change mapping that affects new indexes within datastream, Kibana index pattern fields are still using old mapping, so eg. once field type was changed from `text` to `keyword`, Kibana still things that field is not aggregatable and that it's text field.

This is not issue with field capabilities API as it returns both types properly:

[code]

Either Kibana should

[2022-02-25 11:58] fpytloun commented on #126415
Tried Kibana `7.16.x` and it works there.

[2022-02-25 11:58] #126415 closed

[2022-02-25 13:11] mbondyra opened #126416 "[Lens] Referenced formula column should not be displayed in Inspector"
**Kibana version:**
master

1. Create a Lens chart with a formula
2. Check out the inspector - it consists the final formula, but also shows the referenced columns:
![image](https://user-images.githubusercontent.com/4283304/155720867-6c8f1d76-9e20-4990-9ee3-20eb3fb68e03.png)

Not sure if we should address it by removing completely partial columns (they can be useful in some cases) or hiding it by

[2022-02-25 13:12] elasticmachine commented on #126416
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-25 15:28] dej611 commented on #126416
Duplicate of https://github.com/elastic/kibana/issues/121063 .

[2022-02-25 15:28] #126416 closed

[2022-02-25 15:33] kibanamachine commented on #126414
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11283#6e1cd5f1-69da-48f7-919d-1c1c89a514b7)

[2022-02-25 15:36] dominiqueclarke commented on #116522
Closing due to 7.15 no longer being maintained.

[2022-02-25 15:50] dej611 commented on #126354
Closing in favour of #126376 which holds more context

[2022-02-25 15:50] #126354 closed

[2022-02-25 15:50] dej611 commented on #126376
This was a duplicate of a previous identical issue, but I've decided to close the other as this one holds more context.

[2022-02-25 15:57] ghudgins commented on #113140
+1 https://discuss.elastic.co/t/last-value-no-result-found/297981

[2022-02-25 16:11] ryankeairns opened #126417 "[Research] Seamless UX: path to docs"
## Research plan
### Project details

| | |
| --- | --- |
| Themes | Reduce navigation by providing contextual information |
| Team | @ryankeairns @ghudgins |
| Related issues | https://github.com/elastic/kibana/issues/124745 part of https://github.com/elastic/kibana/issues/124584 |
| Design artifacts | [Wireframes](https://whimsical.com/seamless-flows-SbhNnsHeyF9kMpE78pGqdh) |
| Raw research | Li

[2022-02-25 17:43] kibanamachine opened #126418 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/visualize/reporting·ts - Visualize Visualize Reporting Screenshots Print PDF button downloaded PDF has OK status"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11290#364cbc78-fd74-4d74-84df-bb15cc7c557e)

[2022-02-25 17:45] kibanamachine opened #126419 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/reporting/screenshots·ts - dashboard Reporting Dashboard Reporting Screenshots Print Layout downloads a PDF file"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11290#4f6e6557-89c6-4653-bc46-f14f55ffe664)

[2022-02-25 17:51] kibanamachine opened #126420 "Failing test: X-Pack Reporting Functional Tests.x-pack/test/reporting_functional/reporting_and_security/security_roles_privileges·ts - Reporting Functional Tests with Security enabled Security with `reporting_user` built-in role Dashboard: Generate Screenshot does allow PDF generation user with reporting privileges"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11290#4e701c44-1c1b-4ac9-a82f-89be17235480)

[2022-02-25 18:09] kibanamachine commented on #126419
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11290#668e15e3-26a3-406b-9d7d-758a4525492b)

[2022-02-25 19:41] #125852 closed

[2022-02-26 01:28] kibanamachine opened #126421 "Failing test: Firefox UI Functional Tests.test/functional/apps/console/_autocomplete·ts - console app console autocomplete feature with a missing comma in query should add a comma after the triple quoted strings"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11323#10aada00-bc17-476d-a9f7-9a350628698f)

[2022-02-26 03:28] kibanamachine commented on #126421
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11331#142b16ea-0cec-43ba-b619-5a2e62cd7f84)

[2022-02-26 05:35] kibanamachine commented on #126421
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11341#8da02499-fffa-4c73-9d39-f7bce4aa06e4)

[2022-02-26 07:01] kunisen commented on #114699
Should we also expand this concept to ["Index privileges"](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-privileges.html#privileges-list-indices)?

Currently, the index privilege is defined as ALL spaces wide.
![image](https://user-images.githubusercontent.com/30574753/155833517-88185b33-dc6c-4a83-b05c-10b9803d5779.png)

It would be great if we could define the index pri

[2022-02-26 09:35] kibanamachine commented on #119770
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11356#ad3a983f-f43d-4669-85f4-a1cf53bd7c3d)

[2022-02-26 12:03] kibanamachine opened #126422 "Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/ml/data_frame_analytics/results_view_content·ts - machine learning data frame analytics results view content and total feature importance multi class classification job should display the total feature importance in the results view"
A test failed on a tracked branch

[code]

First failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11363#6670243d-5984-4a97-a58e-4d9e0a3058be)

[2022-02-26 13:28] kibanamachine commented on #126421
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11371#7b6bf9cf-94e6-43b5-8824-64d494c06aaf)

[2022-02-26 13:35] kibanamachine commented on #126414
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11373#b20e7ab0-c2fb-4cac-bc15-b0c37889018d)

[2022-02-26 14:02] nkammah commented on #103180
@tylersmalley given how many teams have expressed interest in such feature (Cloud Delivery cc @alpar-t @jeredding), O11y (cc @v1v @KseniaElastic), would you be opened to approaching this collaboratively ? If so, let's sync up offline on the best collaboration model.

[2022-02-26 14:26] elasticmachine commented on #126421
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-26 14:26] elasticmachine commented on #126420
Pinging @elastic/kibana-reporting-services (Team:Reporting Services)

[2022-02-26 14:28] elasticmachine commented on #126419
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-26 14:29] elasticmachine commented on #126418
Pinging @elastic/datavis (Team:DataVis)

[2022-02-26 14:29] elasticmachine commented on #126414
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-26 14:30] elasticmachine commented on #126394
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-02-26 14:31] elasticmachine commented on #126403
Pinging @elastic/datavis (Team:DataVis)

[2022-02-26 14:32] elasticmachine commented on #126392
Pinging @elastic/kibana-qa (Team:QA)

[2022-02-26 14:40] elasticmachine commented on #125604
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-26 15:46] kibanamachine opened #126423 "Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/monitoring·ts - alerting api integration spaces only Alerting monitoring should return an accurate history for multiple success"
A test failed on a tracked branch

[code]

First failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11381#01facedb-12be-4865-8738-34fbe45127db)

[2022-02-26 23:33] kibanamachine commented on #126421
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11412#a55e1a3d-8c65-4b54-8101-7e58389671eb)

[2022-02-27 00:36] kibanamachine commented on #116533
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11416#d3ddef9f-859f-4760-9314-561883e5b096)

[2022-02-27 05:27] kibanamachine commented on #126421
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11435#83173b07-2317-4acb-bd74-54a9d2c57947)

[2022-02-27 05:35] kibanamachine commented on #126421
New failure: [CI Build - main](https://buildkite.com/elastic/kibana-hourly/builds/11435#a0198090-b8f5-464b-b3a7-79e2acabf2ad)

[2022-02-27 05:36] kibanamachine commented on #116881
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11436#e45962e1-3147-400a-b994-b4626074353a)

[2022-02-27 05:54] brianseeders commented on #126421
/skip

[2022-02-27 05:55] kibanamachine commented on #126421
Skipped

main: d499ed533a5d744cabea76a3347b0a99d72de7a4
8.1: 96228e3fdd0c9b11141b672aeef0cf20469d4d5e

[2022-02-27 07:42] patodevilla commented on #83295
would love to see this!

[2022-02-27 08:40] patodevilla opened #126425 "Runtime field limit"
**Describe the feature:**
Encountered an issue with a dashboard and found out that the issue is that the bsearch request exceeded kibana's 1MB default limit.

[code]

Seems to me that the size of the payload is due to 2 facts:

1) I have an integration that automatically creates a relatively large amount of dynamic runtime fields in the index pattern  (around 300)
2) the `runtime_mappings` key is

[2022-02-27 13:18] kibanamachine commented on #92567
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11462#5152faf9-d8d6-44b6-9b3e-23a9f3df62b7)

[2022-02-27 23:31] kibanamachine opened #126426 "Failing test: X-Pack API Integration Tests.x-pack/test/api_integration/apis/search/search·ts - apis search search delete should delete a completed search"
A test failed on a tracked branch

[code]

First failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11508#00c12880-f25d-40b7-ae2e-57b7d10bf8ed)

[2022-02-28 00:48] kibanamachine commented on #122502
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11512#5260acab-f8a1-437d-84d0-a75f5e10e614)

[2022-02-28 02:22] matschaffer commented on #124594
Thanks @liza-mae - I think for this I'm going to need to be able to inspect the ES cluster used during the test. Ideally before/after the failed test runs.

I suspect the templates are set up in an unexpected way which is causing the test to fail. The failure is also such that the UI should be fine, but the API response doesn't 100% match with that's expected when run via FTR server as part of kib

[2022-02-28 04:33] mattkime commented on #83295
https://github.com/elastic/kibana/pull/124191

[2022-02-28 04:46] matschaffer commented on #124594
So in running the FTR against cloud (similar to what's in the ppt) the test passes fine.

Here's my run config for reference.

[code]

output:
[code]

So I guess I'll go back to trying to run the ESTF file again to see if I can get that basically going so I can see that fail in a way that allows me to inspect the state of the cluster before/after the test.

[2022-02-28 05:08] matschaffer commented on #124594
@liza-mae can you confirm that this is a consistent failure rather than a flakey test?

[2022-02-28 05:10] matschaffer commented on #124594
I guess one thing I could do in the short term is loosen the assertion. The section that differs is the `logs` section which this test isn't explicitly trying to assert anything against.

[2022-02-28 05:20] matschaffer commented on #124594
Assuming this is a consistent failure just from browsing jenkins output. Every test I can find has this marked as failed.

[2022-02-28 05:24] amolnater-qasource commented on #125908
Hi @jkakavas
We have revalidated this issue on 8.1 BC4 self-managed environment and found it **fixed** now.
- Kibana enrollment token is not already expired on fresh elasticsearch setup(before 30 minutes).
- Kibana setup is successful with enrollment token available in elasticsearch configuration.

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb
Arti

[2022-02-28 05:24] #125908 closed

[2022-02-28 05:30] amolnater-qasource commented on #118899
Hi @joshdover
Thanks for the detailed steps, we have validated the same on 8.1 Kibana cloud environment and found it working fine.
- After setting up cross cluster setup and running provided API, we are successfully able to install Apache integration on Cluster R.

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Screenshots:**
![1](https://user-im

[2022-02-28 05:36] amolnater-qasource commented on #120736
Hi @jen-huang
We have revalidated this issue on latest 8.1 BC-4 Kibana cloud environment and found it **fixed**.
- No `Application not found` error and user is redirected to Endpoints tab while adding an agent through newly created security integration

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Screen Recording:**

https://user-images.github

[2022-02-28 05:38] jkakavas commented on #125908
For the sake of clarity and future reference, the problem was **not** that the enrollment token was expired. It was created in a way that made it invalid (but not expired) due to a recent refactoring in Elasticsearch.

[2022-02-28 05:39] amolnater-qasource commented on #122015
Hi @joshdover
We have revalidated this issue on latest 8.1 BC-4 Kibana cloud environment and found it **fixed**.
- User is not able to install/add integrations with leading/trailing spaces.

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/155930129-e6e2f2cf-4977-40d9-9661-ee2de4

[2022-02-28 05:41] amolnater-qasource commented on #121640
Hi @joshdover
We have revalidated this issue on latest 8.1 BC-4 Kibana cloud environment and found it **working fine**.
- There is no validation warning on "Maximum duration for reading an entire request" and the value is set to `3600s`.

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Screenshot:**
![8](https://user-images.githubusercontent.com/7

[2022-02-28 05:47] amolnater-qasource commented on #113921
Hi @joshdover
We have revalidated this on self-managed 8.1 BC-4 and had below observations:
- We added the required configuration to `kibana.yml`, however we get below error on logging in to kibana.
![5](https://user-images.githubusercontent.com/77374876/155930523-4979cd3c-7661-455e-a295-fae4d0f08ffe.JPG)

Could you please confirm if we need to create any policy(manually) for this?

**Build detail

[2022-02-28 06:14] amolnater-qasource opened #126428 "[Fleet]: Existing command is not removed from Add Agent flyout on clicking Create new policy."
**Kibana version:**  8.1 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Preconditions:**
1. 8.1 BC-4 Kibana cloud environment should be available.
2. An Agent policy should exist.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Fleet>Agents tab>Add A

[2022-02-28 06:14] elasticmachine commented on #126428
Pinging @elastic/fleet (Team:Fleet)

[2022-02-28 06:14] amolnater-qasource commented on #126428
@manishgupta-qasource Please review.

[2022-02-28 06:24] deepikakeshav-qasource commented on #125492
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and observe that issue is **Fixed** on Upgrade scenario as well.

**Build Details:**
[code]
**After Upgrade**
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155934553-750a946e-beef-41eb-966d-5304e0ae5fc6.png)

Hence, We are closing this issue and marking as QA Validated

Thanks !!

[2022-02-28 06:24] #125492 closed

[2022-02-28 06:28] deepikakeshav-qasource commented on #125480
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and Please find the below observations:

Please find below the testing details:

**Build Details:**
[code]
**Observation 1**
**8.1.0 BC4** 🟢
**Screenshot:**
![image](https://user-images.githubusercontent.com/61860752/155934186-f9dbcd5c-d517-4952-850c-a028b4b09b66.png)

**Observation 2**
Upgrade scenario: Fields for ML rule are not dis

[2022-02-28 06:29] manishgupta-qasource commented on #126428
Secondary review for this ticket is Done

[2022-02-28 06:45] prachigupta-qasource commented on #124742
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4 Cloud Build** and observed that issue is **Fixed**. ✔️ .

Please find below the testing details:

**Build Details:**

[code]

**Screenshot**

https://user-images.githubusercontent.com/97870262/155934005-9bbbe2b3-08f1-4049-885d-40afd0842337.mp4

Hence, We are closing this issue and marking as QA Validated

Thanks!

[2022-02-28 06:45] #124742 closed

[2022-02-28 07:00] MadameSheema commented on #125480
@janmonschke @michaelolo24 can you please take a look at the above? Thanks!! :)

[2022-02-28 07:00] elasticmachine commented on #126367
Pinging @elastic/ml-ui (:ml)

[2022-02-28 07:01] elasticmachine commented on #126387
Pinging @elastic/ml-ui (:ml)

[2022-02-28 07:01] elasticmachine commented on #126422
Pinging @elastic/ml-ui (:ml)

[2022-02-28 07:18] dikshachauhan-qasource commented on #126148
Hi @joshdover @kevinlog

We have validated below ticket on BC4 and found it **working fine**.  Observations details are provided in related ticket PR at https://github.com/elastic/kibana/pull/125819.

Hence, we are marking it as "QA validated".

Thanks
QAS

[2022-02-28 07:44] kertal commented on #119356
DataDiscover.team migration to @kbn/es-query complete: https://github.com/elastic/kibana/pull/123052

[2022-02-28 07:45] matschaffer commented on #124594
Oh, nice today I seem to be getting some passes on the api tests under ESTF and I can see some tests failing with this `logs` mismatch.

![Screen Shot 2022-02-28 at 16 44 16](https://user-images.githubusercontent.com/690/155943808-d5be6e33-46a7-4ee2-a16c-67fe21ef1001.png)

[2022-02-28 08:15] amolnater-qasource commented on #125908
Thanks for the information!

[2022-02-28 08:15] karanverma-qasource commented on #123912
Hi @michaelolo24,

Apologies for late response, we have checked `observer.name` field sorting on `8.0.1` and `8.1.0` builds and there is no error toast in both the builds.
[code]

[code]

**Screen-records:**

**8.1.0**

https://user-images.githubusercontent.com/91867110/155946587-5a21b997-ab8e-40b0-af91-58a4304d799b.mp4

**8.0.1**

https://user-images.githubusercontent.com/91867110/155946616-43576

[2022-02-28 08:42] amolnater-qasource commented on #126323
Hi @joshdover
We have revalidated this issue on 8.1 BC-4 and found it **still reproducible**.
- Unable to edit Elastic APM integration inside Elastic Cloud agent policy.

**Build details:**
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/155951627-83ebab98-fc39-4678-af94-40e888f9d4b2.mp4

Thanks

[2022-02-28 08:49] #124588 closed

[2022-02-28 09:00] elasticmachine commented on #126403
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-28 09:02] MadameSheema commented on #126081
Thanks @ymao1!!!

In an environment like the CI one, we are facing the same behaviour regarding not having alerts generated for a second rule. Now the error I'm seeing is different:

[code]

Any idea @ymao1 @peluja1012 @marshallmain?

[2022-02-28 09:03] flash1293 commented on #123591
Just found time to check your prfile @elasticforme - the bottleneck I targeted is removed:

before:
<img width="1122" alt="Screenshot 2022-02-28 at 10 02 37" src="https://user-images.githubusercontent.com/1508364/155954640-26290362-2138-49e3-9773-03b00448a55e.png">

after:
<img width="714" alt="Screenshot 2022-02-28 at 10 02 33" src="https://user-images.githubusercontent.com/1508364/155954650-dd9d

[2022-02-28 09:05] flash1293 commented on #126403
This is a valid request, FWIW the second part (format of the x axis tick labels) can be controlled via advanced setting, but it's a global setting for all visualizations of the current space:
<img width="696" alt="Screenshot 2022-02-28 at 10 04 55" src="https://user-images.githubusercontent.com/1508364/155954979-6ab7b880-aaf8-49d0-8994-a527689ff675.png">

[2022-02-28 09:13] elasticmachine commented on #126418
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-28 09:19] markov00 commented on #126403
@flash1293 with the multilayer time axis the request 2) should probably be limited or rescoped. Adding the ability to change the date format at charts is not very easy and maintainable in the long run and can cause issues on dashboards where multiple charts use different date formats.

The request 1) looks instead valuable and the user should be able to change the axis title or remove it completel

[2022-02-28 09:20] gmmorris opened #126432 "It's too easy to cause a rule to error for running after being disabled"
**Kibana version:** 8.1.0

I find it is very easy to cause a rule to error for running after being disabled.
This tends to happen if your rule is configured to run every `3` seconds, so every task manager cycle tends to pick it up, and so it is very likely to run after being disabled as there isn't much time between the rule SO being disabled and the next execution.

I wonder if we can improve thi

[2022-02-28 09:20] elasticmachine commented on #126432
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-28 09:24] MadameSheema commented on #125491
@janmonschke if these are the expected changes: https://github.com/elastic/kibana/commit/81f308c2eec4902f2d0ccb923cd2b26adf0bde2f

Then your changes were included on the BC: https://github.com/elastic/kibana/commits/015578b81c26a5843747ba53b2fd92d40f0453cb

Can you please take a look? Thanks :)

[2022-02-28 09:25] pgayvallet commented on #82719
As a sidenote, exposing `retry_on_conflict` for `SOR.update` would, with current implementation, only solves the problem for `single` and `agnostic` types.

As discussed on slack, for shareable types, we're using the preflight check's `if_` fields for the `_update` operation:

https://github.com/elastic/kibana/blob/6627bd8b3ab49415e397495d8e076f9861fcc894/src/core/server/saved_objects/service/lib/

[2022-02-28 09:26] MadameSheema commented on #125473
@janmonschke can you please take a look at this? Thanks!

[2022-02-28 09:35] flash1293 commented on #118798
The benefit would be a less confusing behavior for such cases, but I agree it's an edge case.

[2022-02-28 09:49] #123186 closed

[2022-02-28 09:54] elasticmachine commented on #126333
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-28 09:55] elasticmachine commented on #126331
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 09:56] elasticmachine commented on #126328
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 09:58] elasticmachine commented on #126332
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 09:59] elasticmachine commented on #126330
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 09:59] elasticmachine commented on #126326
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 10:00] elasticmachine commented on #126314
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 10:05] elasticmachine commented on #126335
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 10:24] karanbirsingh-qasource opened #126438 "[Security Solution]Timestamp value not in format under count canvas under alert"
**Describe the bug**
Timestamp value not in format under count canvas under alert

**Build Details**
[code]

**Steps**
- Login to Kibana
- Navigate to Alert Page
- Click on Count drop down and select timestamp
- Observed that timestamp value is not in format

**Screen-Shoot**
![image](https://user-images.githubusercontent.com/59917825/155966652-150393b6-4976-42b3-b33a-b111cdeefa84.png)

[2022-02-28 10:24] elasticmachine commented on #126438
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-28 10:34] karanbirsingh-qasource commented on #126438
Additional we have observed there are other selection under drop-down for which count canvas is not populating.

few of the these fields are but there will be many more field for canvas not populates.

[code]

![image](https://user-images.githubusercontent.com/59917825/155967454-01fe59d2-4226-4cb2-a4f3-8cdeb6112e13.png)

[2022-02-28 10:44] manishgupta-qasource commented on #126438
Reviewed & assigned to @MadameSheema

[2022-02-28 10:51] AlexanderWert opened #126440 "AWS Lambda feature GA"
For the AWS Lambda feature going GA, we need to remove the `beta` label on that feature.

[2022-02-28 10:51] elasticmachine commented on #126440
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 10:54] janmonschke commented on #125480
Hey @deepikakeshav-qasource , thanks for testing this. Could you provide the JSON of the alert after the upgrade?

[2022-02-28 10:56] janmonschke commented on #125491
@deepikakeshav-qasource Could you provide the JSON of the alert please? Also, is this scenario testing the upgrade or new alerts?

[2022-02-28 10:57] janmonschke commented on #125473
@deepikakeshav-qasource Could you provide the JSON of the alert please? And could you confirm that this issue only occurs after an upgrade to 8.x?

[2022-02-28 11:04] deepikakeshav-qasource commented on #125480
Hi @janmonschke ,

Please find the below JSON of alert after upgrade:

[ML rule_after_upgrade.txt](https://github.com/elastic/kibana/files/8152755/ML.rule_after_upgrade.txt)

Please let us know if anything else is required from our end.

Thanks!!

[2022-02-28 11:26] sqren opened #126446 "[APM] Service inventory: Enable simple filtering of `service.name`"
Today it is not possible to filter by service name without know kql syntax and knowing the field name (`service.name`).

To make this easier the search bar should by default filter by `service.name`. If the user wants to take advantage of kql they should be able to switch back to the previous search bar

To change back to kql behaviour:

- Setting in Advanced Settings to set the default search beh

[2022-02-28 11:26] elasticmachine commented on #126446
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 11:32] elasticmachine commented on #125763
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-28 11:32] kibanamachine commented on #126426
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11555#712ea5d9-7901-452d-9b82-4b2d897cf646)

[2022-02-28 11:36] amolnater-qasource commented on #74353
Hi @hop-dev and @mostlyjason
Could you please update the [main comment](https://github.com/elastic/kibana/issues/74353#issue-673466399) with current expectations.

We need to know the exact implementations till 8.1 BC, so that we can prepare our test scenarios accordingly.

Thanks!

[2022-02-28 11:37] kibanamachine commented on #122838
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11555#a820c3a1-1566-4ad7-814b-8f0cff600a3a)

[2022-02-28 11:37] kibanamachine commented on #124413
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11555#a820c3a1-1566-4ad7-814b-8f0cff600a3a)

[2022-02-28 11:41] deepikakeshav-qasource commented on #125491
Hi @janmonschke ,

@janmonschke just new alerts and if you want we can check the upgrade scenario too

**Please find the below Alert JSON for DNS alerts.**

[dns alerts.txt](https://github.com/elastic/kibana/files/8152820/dns.alerts.txt)

![image](https://user-images.githubusercontent.com/61860752/155973705-4647e64d-cab3-4d4e-a193-ccbdf9179d16.png)

Please let us know if anything else is required

[2022-02-28 11:42] #125797 closed

[2022-02-28 11:42] deepikakeshav-qasource commented on #125473
Hi @janmonschke ,

@janmonschke This is occurring only for new build.

fields are displaying for indicator alerts after upgrade to 8.x https://github.com/elastic/kibana/issues/125473#issuecomment-1039932641

**Please find the below Alert JSON for Indicator alerts.**

[indicator alerts.txt](https://github.com/elastic/kibana/files/8152913/indicator.alerts.txt)

![image](https://user-images.githubuse

[2022-02-28 11:43] majagrubic opened #126448 "Order of displaying slices in pie chart"
**Kibana version:**
Latest

**Elasticsearch version:**
Latest

**Browser version:**
Chrome 98.0.4758

**Browser OS version:**
Mac OS 12.2.1

**Original install method (e.g. download page, yum, from source, etc.):**
Cloud

**Describe the bug:**
When creating a pie chart with buckets splitting slices with filters, the order of slices is according to the order of adding slices. This leads to confusio

[2022-02-28 11:43] elasticmachine commented on #126448
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-28 11:46] stratoula commented on #124263
This can be closed as it has been fixed in main and will be released on 8.2

[2022-02-28 11:46] #124263 closed

[2022-02-28 11:54] amolnater-qasource opened #126449 "[Fleet]: Agent policy with Fleet Server integration not available under Add Agent flyout."
**Kibana version:**  8.1 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
VERSION: 8.1.0
BUILD: 50428
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb

**Preconditions:**
1. 8.1 BC-4 Kibana cloud environment should be available.
2. An Agent policy should exist having fleet server integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Na

[2022-02-28 11:54] elasticmachine commented on #126449
Pinging @elastic/fleet (Team:Fleet)

[2022-02-28 11:55] amolnater-qasource commented on #126449
@manishgupta-qasource Please review.

[2022-02-28 12:32] joshdover commented on #115044
@nchaulet would you be able to add any additional tests you know we're missing to the list above? I know we've had some bugs around changes to policy names and ids, but I'm not sure what coverage we're still missing in this area.

[2022-02-28 12:34] banderror opened #126450 "[Security Solution][Detections] Server-side filtering and sorting POC"
**Epic:** https://github.com/elastic/security-team/issues/1972

## Summary

Create a POC to verify that we will be able to implement new filters and sorting in the Rules table in the server-side mode. No changes in the UI expected (like adding new filters). We just need some test code on the backend + some test Postman requests to the API to make sure it all works.

Fields we are interested in:

-

[2022-02-28 12:34] elasticmachine commented on #126450
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 12:34] elasticmachine commented on #126450
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-28 12:37] jsoriano commented on #122973
@juliaElastic yes, if we start finding more places where this is needed we may need a central place to maintain this convention, I have created https://github.com/elastic/package-spec/issues/286 to discuss this.

I am not sure though if the registry is the best place, because there are situations where the registry won't be available, for example with bundled packages, or with packages installed w

[2022-02-28 12:43] #126428 closed

[2022-02-28 12:47] manishgupta-qasource commented on #126449
Secondary review for this ticket is Done

[2022-02-28 12:51] ymao1 commented on #126089
Security solutions has confirmed that their tests are [not failing due to this particular issue ](https://github.com/elastic/kibana/issues/126081#issuecomment-1054033546). Closing this framework issue as resolved.

[2022-02-28 12:51] #126089 closed

[2022-02-28 12:59] elasticmachine commented on #126438
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-28 13:00] pgayvallet commented on #120485
@TinaHeiligers not sure what the bot did there. It should be closed by https://github.com/elastic/kibana/pull/124308, right?

[2022-02-28 13:07] juliaElastic commented on #126449
Are we saying that only managed or default fleet server policy should be filtered out from Agent policy selection?

[2022-02-28 13:15] mistic commented on #92567
Skipped.

main: [865c351](https://github.com/elastic/kibana/commit/865c351ecf179b68d99115d909040036f2d9af73)
8.1: [e910bcd](https://github.com/elastic/kibana/commit/e910bcdd6ad36ec04a847ef6531fea72d1af9496)

[2022-02-28 13:16] amolnater-qasource commented on #126449
@juliaElastic Thanks for looking into this.
If we create a policy and then add Fleet Server integration to it, its not visible under Add Agent flyout.
We were able to select policy like this till 8.0 released.

Please let us know if we are missing anything.
Thanks

[2022-02-28 13:22] mistic commented on #126414
Skipped.

main: [1ded153](https://github.com/elastic/kibana/commit/1ded153692d222b7f126767037d3bd7a5a55c917)
8.1: [08687f1](https://github.com/elastic/kibana/commit/08687f1a8f35cbab4294033fa46578d7f174212b)

[2022-02-28 13:23] elasticmachine commented on #126423
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-28 13:28] elasticmachine commented on #126426
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-28 13:33] deepikakeshav-qasource commented on #125491
Hi @janmonschke ,

Additionally as there are multiple observations and all are different from each other so to keep things clear please find below matrix with current issue state

Issue Id | Fresh 8.1.0 | Upgrade to 8.1.0
-- | -- | --
#125480 |  Fixed|  Still Occurring
#125491 |  Still Occurring  |  Still Occurring
#125473 |  Still Occurring  |  Fixed

Thanks!!

[2022-02-28 13:37] MadameSheema commented on #124287
@deepikakeshav-qasource can you please validate this issue on the current BC? Thanks! :)

[2022-02-28 13:39] MadameSheema commented on #125205
@karanbirsingh-qasource can you please validate the fix on the current BC?

[2022-02-28 13:40] juliaElastic commented on #126449
I was asking about the special cases, to confirm what needs to be filtered out.
I tested in https://release-oblt.elastic.dev/app/fleet/agents (8.0 version) where the managed policy is filtered out, and another policy with fleet server is not.
<img width="1458" alt="image" src="https://user-images.githubusercontent.com/90178898/155990602-02a887b1-7252-46e7-8c7c-7d63210fb6ff.png">

Checked as well o

[2022-02-28 13:42] MadameSheema commented on #125747
@karanbirsingh-qasource I think it is better to close this ticket, and then we can retest the behaviour once the functionality is available again ;)

[2022-02-28 13:44] nickpeihl opened #126459 "[Vega] Support `setMapView` expression for Vega Maps"
**Describe the feature:**
The leaflet-vega library exposed a [Vega expression function called `setMapView`](https://github.com/nyurik/leaflet-vega/blob/master/src/VegaLayer.js#L44-L54). When we switched Vega maps to use mapbox-gl, the `setMapView` expression function no longer works.

**Describe a specific use case for the feature:**
[Reported by a user in Discuss](https://discuss.elastic.co/t/veg

[2022-02-28 13:49] elasticmachine commented on #126459
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-28 13:49] elasticmachine commented on #126459
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-28 13:51] karanbirsingh-qasource commented on #125747
Agreed @MadameSheema 👍

[2022-02-28 13:51] #125747 closed

[2022-02-28 13:53] legrego commented on #114699
@kunisen I view that as a separate feature request. There is another issue or comment asking for something very similar, but I'm struggling to find it right now

[2022-02-28 13:56] mistic commented on #122838
Skipped.

main: [f3ec543](https://github.com/elastic/kibana/commit/f3ec5433411d8c0c57c6f4ac5b47f34c24d21160)
8.1: [19caa62](https://github.com/elastic/kibana/commit/19caa62849bad7a367f85ddeeab934f7af50587a)
8.0: [633934e](https://github.com/elastic/kibana/commit/633934ed32182999c85c17e998c1e02e8400839c)
7.17: [9f32c4d](https://github.com/elastic/kibana/commit/9f32c4d20a91b4af2c37cfa5b75f00e732ed31

[2022-02-28 13:56] mistic commented on #124413
Skipped.

main: [f3ec543](https://github.com/elastic/kibana/commit/f3ec5433411d8c0c57c6f4ac5b47f34c24d21160)
8.1: [19caa62](https://github.com/elastic/kibana/commit/19caa62849bad7a367f85ddeeab934f7af50587a)
8.0: [633934e](https://github.com/elastic/kibana/commit/633934ed32182999c85c17e998c1e02e8400839c)
7.17: [9f32c4d](https://github.com/elastic/kibana/commit/9f32c4d20a91b4af2c37cfa5b75f00e732ed31

[2022-02-28 14:02] simitt commented on #121833
@elastic/apm-ui not sure if this is still happening, could you take a look at this please?

[2022-02-28 14:07] elasticmachine commented on #125868
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-02-28 14:08] jportner opened #126461 "Dashboard panels for agg-based visualizations "by value" break on import"
**Kibana version:** 8.0

**Describe the bug:**

Dashboard panels can be loaded one of two ways, "by reference" or "by value".
With the former, each visualization panel is a separate saved object, and the dashboard simply contains a reference to it.
With the latter, each visualization panel is embedded into the dashboard itself.

The problem is that almost all visualizations depend on references to

[2022-02-28 14:08] elasticmachine commented on #126461
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-28 14:09] joshdover opened #126462 "Frozen fields in APM policy editor are not displayed as disabled"
Version: 8.1-BC4

Fields that are not allowed to be edited should be displayed as such so the user isn't confused on why they can't edit a field. In APM's policy editor, these fields are not being displayed as disabled. For example, the "Enable TLS" and "TLS certificate" fields are frozen and don't allow the user to edit them, however they are not displayed as disabled:

<img width="765" alt="imag

[2022-02-28 14:09] elasticmachine commented on #126462
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 14:13] joshdover commented on #126323
@amolnater-qasource Thanks for the reproduction. I was also able to reproduce on 8.1 BC4, but I can see that the impact of this is limited. Here's my detailed analysis:
- host, tls_enabled, tls_certificate, tls_key, url fields do not allow edits, nor should they as these are supposed to frozen values. One confusion here is that they are not being displayed as disabled inputs, even though editing i

[2022-02-28 14:16] dgieselaar opened #126463 "[APM] Load list of services from just ML data + terms enum when possible"
When the user opens the APM app, and they have not selected a specific environment or entered a search query, we should fetch and sort the list of services by combining ML anomaly data and a list of terms from the terms enum API. This will be significantly faster in most cases than looking at all the transaction data. If any environment _is_ selected and/or a search query is giving, we should fall

[2022-02-28 14:16] elasticmachine commented on #126463
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 14:17] afgomez commented on #125394
Oh! I guess I misunderstood. So there are no guarantees then of reliably making a service inventory component in the overview page before 8.2 ?

[2022-02-28 14:19] Evesy opened #126464 "Redirect Service - Cannot read properties of undefined"
**Kibana version:** 7.15.1

**Elasticsearch version:** 7.16.2

**Server OS version:** Rocky Linux

**Browser version:** Chrome Version 98.0.4758.80 (Official Build) (arm64)

**Browser OS version:** macOS Monterey Version 12.2

**Original install method (e.g. download page, yum, from source, etc.):** Tar

**Describe the bug:**
When using Kibana's redirect endpoint, for certain Discover locator para

[2022-02-28 14:29] mostlyjason commented on #126113
I was able to manually upgrade the docker and linux metrics integrations in Kibana the first time I tried. Apache was already the latest version.

However, upgrading Prebuilt Security Detection Rules required three tries to succeed. The first two times I saw the following errors:

[code]

I'll email you my index pattern export.

[2022-02-28 14:31] nchaulet commented on #126204
I think we can close that issue the error is expected we improved the error message to have actions on how to resolve it for the user here https://github.com/elastic/kibana/pull/126170

[2022-02-28 14:31] #126204 closed

[2022-02-28 14:38] #123577 closed

[2022-02-28 14:41] stacey-gammon commented on #59321
Yep!

[2022-02-28 14:41] #59321 closed

[2022-02-28 14:42] stacey-gammon commented on #28276
sgtm!

[2022-02-28 14:42] #28276 closed

[2022-02-28 14:44] #126449 closed

[2022-02-28 14:47] mostlyjason commented on #126228
When a user has no fleet server, we show instructions to install fleet server in the main page contents. We expect most Fleet users to follow the instructions to install Fleet Server. Standalone mode users don't want to use Fleet, so they'd ignore that and click "Add Agent". If we defaulted to Fleet, we'd force standalone mode users to make an extra click. It seems like it works as expected. We ca

[2022-02-28 14:49] kevinlog commented on #92567
PR: https://github.com/elastic/kibana/pull/126458

[2022-02-28 14:53] TinaHeiligers commented on #120485
@pgayvallet @rudolf reopened the issue manually. I'm not exactly sure what the extra scope is for this issue though. @rudolf what do we need to do to "update the dashboards (and mappings) the data"?

[2022-02-28 14:56] DijkstraPath opened #126467 "Kibana AWS integration assets not loading properly on ESS 8.0"
**Kibana version: 8.0

**Describe the bug: The AWS integration assets don’t seem to load properly in 8.0 on Elasticsearch Service. In 7.17 the loading of the AWS assets works properly.

**Steps to reproduce:**
1. Create new ESS deployment on 8.0
2. Go to AWS integration
3. Load assets - only the AWS RDS dashboard loads up

**Screenshots (if relevant):
![image](https://user-images.githubusercontent

[2022-02-28 14:56] kibanamachine commented on #119787
New failure: [CI Build - 7.17](https://buildkite.com/elastic/kibana-hourly/builds/11568#f6b126df-5920-4c11-9982-a011b419237f)

[2022-02-28 14:56] iamhowardtheduck opened #126468 "Include image instead of link for reports/dashboards/etc..."
**Describe the feature:**
Embed image within alert notification instead of a link to the image

**Describe a specific use case for the feature:**
This will prevent users from either having to log into a corporate VPN and/or access an insecure instance of our stack to view relevant reports, static dashboard images, or single visualizations.  Ideally, the option would be to include multiple formats

[2022-02-28 14:56] MichaelMarcialis opened #126469 "[Lens] Change toolbar popovers' disabled form rows to hidden instead"
Per my [previous comments](https://github.com/elastic/kibana/pull/126018#pullrequestreview-890020103), seeing as the settings within the Lens toolbar popovers continue to grow more robust and complex, I think now is a good time to revisit my previous suggestion to "disable form fields when the user has the ability to enable them in the current context." While that approach works in simpler situati

[2022-02-28 14:56] elasticmachine commented on #126469
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-02-28 15:02] mostlyjason commented on #122973
This is an interesting problem because we need to define a ranking algorithm for what we show in Integrations UI. It sounds like the existing algorithm is to show the highest package version? However, it should be to filter on the highest release type first (GA > Beta > Technical Preview), then filter on the highest version. So GA Apache 1.3.2 will outrank 1.4.0-rc1. Does that sound right?

There

[2022-02-28 15:03] rbr101 commented on #22261
Any update on this, this is still not resolved.
Changing the copy POST url manually is really crap, scheduling csv reports not possible without custom scripting.

Please do something about it.

[2022-02-28 15:18] mshustov opened #126472 "expressions.inject overwhelms CPU"
**Kibana version:** main branch

**Describe the bug:**
I'm working on Kibana Performance project and investigating APM data for Canvas plugin.
While running `DemoJourney` of https://github.com/elastic/kibana-load-testing with 200 concurrent requests to the Kibana server,  we noticed that the CPU is overwhelmed and event loop delay might reach several seconds.
I repeated load testing with `--cpu-pr

[2022-02-28 15:19] elasticmachine commented on #126472
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-28 15:29] marshallmain commented on #126081
The new error appears to be the same issue with Elasticsearch reported [here](https://github.com/elastic/elasticsearch/issues/84256). We'll need the ES team's input on that issue.

[2022-02-28 15:36] cauemarcondes commented on #126323
@joshdover I was looking into this, and I saw this error in the console

[code]

On this PR we added a new set of fields on APM integration related to `tail_sampling` https://github.com/elastic/kibana/pull/124025, It looks like the latest 8.1 is missing this field.

cc: @simitt

[2022-02-28 15:37] dominiqueclarke opened #126473 "[User Experience] Filters missing from UX app"
**Kibana version**: 8.2.0

**Elasticsearch version**: 8.2.0

**Original install method (e.g. download page, yum, from source, etc.)**: Source, connected via oblt-cli

**Description of the problem including expected versus actual behavior**:
Filters are missing in UX. The UX app should have a URL filter bar, as well as filters for location, device, OS, and browser.

This is NOT occurring in 8.1.

<

[2022-02-28 15:37] elasticmachine commented on #126473
Pinging @elastic/uptime (Team:uptime)

[2022-02-28 15:39] ecezalp commented on #126041
This is not a bug, but an expected behavior with Investigation Time Enrichments.

`Enriched with Threat Intelligence` section displays data that is queried from defaultThreatIndex UI setting in Kibana Advanced Settings under Stack Management. In 8.0, `filebeat-*` is replaced with `logs-ti_*` in the defaultThreatIndex. Therefore, the indicators in `filebeat-*` are no longer queried for investigatio

[2022-02-28 15:40] smith commented on #126045
@toby-sutor looks like there's a way to do this. Please comment and reopen if you need further assistance. We'll ensure the documentation is updated to make this easier to understand. Thank you!

[2022-02-28 15:40] #126045 closed

[2022-02-28 15:41] cauemarcondes commented on #126323
@joshdover I saw that APM integration version is `8.0.0` on latest 8.1. That is the problem, we should have it pointing to `8.1.0`

<img width="1372" alt="Screen Shot 2022-02-28 at 10 40 17 AM" src="https://user-images.githubusercontent.com/55978943/156012391-394fc6f9-bfc2-4c8f-bfc2-55a11f251b1b.png">

[2022-02-28 15:46] #125968 closed

[2022-02-28 15:51] smith commented on #126317
@Kerry350 will pick this up.

[2022-02-28 16:11] rayafratkina commented on #124786
Closing in favor of https://github.com/elastic/kibana-team/issues/475

[2022-02-28 16:11] #124786 closed

[2022-02-28 16:12] #103657 closed

[2022-02-28 16:20] kobelb commented on #126409
Ideally, yes. Does this add a lot of complexity?

I don't think so, no. What if on on import we change the interval to be the minimum interval if it's lower than the minimum interval and display a warning?

Ideally, yes. Adding some type of indicator would be great.

[2022-02-28 16:20] liza-mae commented on #117245
Although a fix was put in for this issue, I am still seeing it fail, so reopening.
cc: @ThomThomson

[2022-02-28 16:21] machadoum opened #126479 "[Security Solution] Host details page decoding error"
**Describe the bug:**
When a Hostname includes the '$' character, the host details page shows the encoded hostname and doesn't query the data correctly (it also uses the encoded hostname).

**Kibana/Elasticsearch Stack version:**
8.1.0 BC1

**Steps to reproduce:**

1. Add an event where the hostname includes `$`.
2. Go to the host page and click on the hostName.

**Current behavior:**
It displays

[2022-02-28 16:21] elasticmachine commented on #126479
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-28 16:21] elasticmachine commented on #126479
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-02-28 16:40] yctercero commented on #103944
@MadameSheema this one will need QA check but I'm working on breaking this out into individual tickets for each section that needs updating so that it'll be more clear exactly what to test. Adding `SecuritySolutionPlatform:QAAssist` tag here so that I don't forget.

[2022-02-28 16:41] #125106 closed

[2022-02-28 16:41] #125149 closed

[2022-02-28 16:47] ogupte commented on #121934
I'm also unable to reproduce this error in EC.

I'm curious to inspect your saved APM schema object via `GET .kibana/_doc/apm-server-schema:apm-server-schema`. There may be a particular setting that should be transformed before passing it to fleet to the new cloud policy.

We don't do any YAML conversions in this code in APM UI, but I'm guessing the YAML error originately from the compiled input a

[2022-02-28 16:49] jportner opened #126483 "Cannot read/write APM Settings Indices page with minimally-privileged user"
**Kibana version:**

Tested on 8.2 (unreleased), but it appears that APM has always had this bug

**Describe the bug:**

When creating a minimally-privileged APM user, they cannot read or write the "APM > Settings > Indices" page (`apm-indices` saved object) as expected.

**Steps to reproduce:**

1. Start Kibana and create a new space named "Second".
2. Create a new role named `minimal` and give t

[2022-02-28 16:50] elasticmachine commented on #126483
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 16:52] ymao1 commented on #126409
No! That is the existing behavior. Just verifying that it is expected.

We can display a warning on import if there are rules below the configured minimum but are unable to modify rule SO on import until [this issue](https://github.com/elastic/kibana/issues/109189) is resolved.

[2022-02-28 16:56] liza-mae commented on #117245
I was also able to reproduce the problem on cloud staging via the same path caught in CI testing and was able to see the same failure.

[2022-02-28 17:08] cjcenizal opened #126485 "Allow timeout specified in request body to override timeout from settings"
### Problem

Elasticsearch supports a [`timeout` parameter](https://www.elastic.co/guide/en/elasticsearch/guide/current/_search_options.html#_timeout_2). At the same time, Console configures requests with the `elasticsearch.requestTimeout` defined in `kibana.yml`. If the latter is shorter than the former, then requests sent in Console can time out unexpectedly. This behavior creates a discrepancy

[2022-02-28 17:08] elasticmachine commented on #126485
Pinging @elastic/platform-deployment-management (Team:Deployment Management)

[2022-02-28 17:11] cristina-eleonora commented on #125193
Yes, @lewissmithtong

[2022-02-28 17:25] joshdover opened #126487 "[Fleet] Fix `latest` behavior with bundled packages"
**Kibana version**: 8.1.0+

**Steps to reproduce**:
 1. EPM has 8.0.0
 2. Kibana has 8.1.0 bundled
 3. Kibana installs 8.0.0, not 8.1.0
 4. Testers can't test 8.1.0 installs before it's released have to upgrade manually, breaks UIs and tests

Good news, tests and testers caught something!

@joshdover: This is breaking behavior for 8.1.0 for testers and Cloud staging deployments using this [`latest

[2022-02-28 17:25] elasticmachine commented on #126487
Pinging @elastic/fleet (Team:Fleet)

[2022-02-28 17:33] kibanamachine commented on #111667
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/11581#be8a13c5-f0a0-4c7b-a0fd-989a323e61a1)

[2022-02-28 17:37] ThomThomson opened #126488 "[Presentation Util] Services Abstraction Last PluginService Cannot use DI"
**Kibana version:** 8.0.0

**Describe the bug:**
This is a bit of a weird issue with the Services Abstraction layer in presentation Util which I encountered when adding dependency injection to the Controls plugin services. I was able to reproduce this in Canvas as well.

If the **last** service to be registered in the providers array contains `requiredServices`  it won’t get included in the `depen

[2022-02-28 17:37] elasticmachine commented on #126488
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-02-28 17:53] kpollich commented on #126487
Workaround to force install a given version via the API, so long as a registry instance is accessible:

[code]

This API can be used to force install `apm-8.1.0`, and the Kibana UI can then be used to upgrade any related policies for testing.

The UI could also be used to install the latest version of APM from the integrations app, but the API approach is likely quicker to unblock, and could be au

[2022-02-28 18:02] joshdover commented on #126323
We've created https://github.com/elastic/kibana/issues/126487 to track this problem for preproduction workflows, of which bundled packages helps us with here. There is now an API work around for this problem, but we can change the default behavior to be more sensible when the registry is behind the bundled package version.

[2022-02-28 18:22] spong commented on #125868
Linking @dhurley14's POC around improving privilege checks in code: https://github.com/elastic/kibana/pull/126165.

[2022-02-28 18:29] estermv opened #126496 "[Stack monitoring] Timepicker doesn't correctly pick defaults values for refresh interval"
**Kibana version:**
main

**Describe the bug:**
When the user changes the default `pause` field for `timepicker:refreshIntervalDefaults` it gets ignored by the timepicker in Stack monitoring unless the `value` field is also changed

**Steps to reproduce:**
1. Go to Stack Management -> Advanced settings
2. Change the value for `timepicker:refreshIntervalDefaults` to

[code]

[2022-02-28 18:29] elasticmachine commented on #126496
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-28 18:35] joshdover commented on #115044
Related to https://github.com/elastic/kibana/pull/126492

[2022-02-28 18:41] simianhacker opened #126498 "[Actionable Observability] Change "mutted" to "snoozed" on for summary at on top of Alerts page."
We need to update the word "Muted" to "Snoozed" on the summary on the top of the alerting page.

![image](https://user-images.githubusercontent.com/41702/156039407-e889db94-7d6d-4e28-a659-16283f7e3c6a.png)

Relates to #124888

[2022-02-28 18:44] lucasfcosta commented on #124670
Hey Paul, indeed, I do think this is some weird setup that I did for the demo we were preparing. For that demo, I was using data coming from OpBeans and had to do many changes there to get data which looks like it's coming from plenty of real customers. Therefore, I think those changes might have caused the bug to appear due to unexpected data content/format.

In that case, do we want to investiga

[2022-02-28 18:46] elasticmachine commented on #126155
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-02-28 18:48] mshustov commented on #117102
Are they? `ElasticsearchClient` is a sub-type of `Client`. They aren't completely interchangeable.
https://github.com/elastic/kibana/blob/e87759181a02e801bc3445366aa8c59ef50da551/src/core/server/elasticsearch/client/types.ts#L16-L19

However, it's not a big deal after we removed `meta:true` from the Core client. Ok, let's close it for now.

[2022-02-28 18:48] #117102 closed

[2022-02-28 18:49] #126304 closed

[2022-02-28 19:04] mikecote commented on #124871
After chatting with @kobelb here's a few notes:
- We should validate the following with @arisonl on the UX when the circuit breaker is applied
  - The rule goes in `warning` (new) status and the UI will display the reason for warning (in this example, circuit breaker applied)
  - The rule `execute` event log document also contains status of warning with the reason
- We need to figure out the confi

[2022-02-28 19:16] ThomThomson commented on #117245
Okay, I can confirm that it works correctly on the 7.17 branch when run locally.

<img width="355" alt="Screen Shot 2022-02-28 at 2 15 18 PM" src="https://user-images.githubusercontent.com/14276393/156044560-df7c75d0-774c-4135-a0f4-e9d92e4454a4.png">

So it seems like this is either an issue with the upgrade path, _or_ this code didn't make it into 7.17.1 for some reason.

[2022-02-28 19:16] mikecote opened #126504 "Add circuit breaker for max number of actions by connector type a rule can schedule"
The system will soon have a global circuit breaker on the number of actions a rule can schedule per execution (https://github.com/elastic/kibana/issues/124871). We should expand this feature by connector type as well. This would prevent some alert storms from happening where users don't want to receive more than, for example, 100 emails but might be ok with 100,000 webhook calls.

We should provid

[2022-02-28 19:16] elasticmachine commented on #126504
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-28 19:17] stacey-gammon opened #126505 "Rename references to kibana-alerting-team github team"
kibana-alerting-team still is used in many places in the code base and is causing broken links in our dev docs. These should be renamed to point to the new `response-ops` teams.

<img width="849" alt="Screen Shot 2022-02-28 at 2 16 26 PM" src="https://user-images.githubusercontent.com/16563603/156044704-b112fc1c-dfe0-4b8d-9625-464c9475542a.png">

[2022-02-28 19:17] elasticmachine commented on #126505
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-28 19:22] alisonelizabeth commented on #124396
Fixed via https://github.com/elastic/kibana/pull/124544

[2022-02-28 19:22] #124396 closed

[2022-02-28 19:28] simianhacker opened #126508 "[Infrastructure UI] Refactor the use of reduces for the Metric Threshold Rule in 7.17"
As a follow up to https://github.com/elastic/kibana/pull/121904 we need to refactor the execution code to remove the reduces in 7.17 since the original PR only targets the 8.0 branch. For this ticket, we are ONLY refactoring the three places referred in the original PR to eliminate the event loop blocking. We shouldn't add the new configuration settings or anything beyond the scope of removing the

[2022-02-28 19:28] elasticmachine commented on #126508
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-02-28 19:30] stacey-gammon opened #126509 "Remove references to deprecated APIs due for removal in 8.2"
https://github.com/elastic/kibana/blob/main/api_docs/deprecations_by_team.mdx contains the full list updated February 28th.

<img width="343" alt="Screen Shot 2022-02-28 at 2 12 27 PM" src="https://user-images.githubusercontent.com/16563603/156044123-203c6dc4-9190-4328-bd3e-0f72a5996048.png">

Still referencing:
- @elastic/kibana-app-services
- @elastic/apm-ui
- @elastic/kibana-data-discovery
- @e

[2022-02-28 19:32] mikecote opened #126511 "Optimize the scheduling of rule actions so it can happen in bulk"
Currently, the alerting framework iterates over the alerts and schedules the associated actions in some places in series and others in parallel. This functionality doesn't scale well whenever we are dealing with a large number of alerts and/or actions. We should look at optimizing this area by creating and leveraging as many bulk calls as possible.

For example:
- The actions client could support

[2022-02-28 19:32] elasticmachine commented on #126511
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-28 19:37] #126323 closed

[2022-02-28 19:38] #126487 closed

[2022-02-28 19:38] XavierM opened #126512 "[E&C] add snoozing MVP in alerting framework"
As we MVP snoozing functionality in the RAM team, we need to make sure that the task manager is handling it as expected.

We should also create a new entry in the event log to tell that the snooze was on and that’s why the system did not trigger any actions.

[2022-02-28 19:38] elasticmachine commented on #126512
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-02-28 19:41] simianhacker opened #126514 "[Infrastructure UI] Backport timeUnit bug in Inventory Threshold Rule to 7.17"
We need to fix the `timerange` by adding the missing `condition.timeSize` to the `timerange.interval`  along with `timerange.forceInterval` to ensure the API uses the correct interval instead of looking it up from the data (default behavior).

[2022-02-28 20:04] ogupte commented on #124342
From APM UI perspective it would be best to always alight package versions with stack versions, including all prerelease versions and BCs. Since the package release is such a manual process today, it's currently unsustainable, but it would be ideal if we can always assume that any policy that comes through the custom APM integration settings editor is of the same version to avoid having to support

[2022-02-28 20:12] kobelb commented on #126505
Thanks for finding this @stacey-gammon, I'll throw up a PR to fix it.

[2022-02-28 20:33] dminovski0 opened #126521 "[Bar] Filter returning 0 values causes the entire visualization to be empty when the Y-axes mode is set to Percentage"
**Kibana version:** 7.17.0

**Elasticsearch version:** 7.17.0

**Server OS version:** Ubuntu 20.04

**Browser version:** Google Chrome 98.0.4758.102 (Official Build) (64-bit)

**Browser OS version:** Windows 10 Pro 10.0.19044 Build 19044

**Original install method (e.g. download page, yum, from source, etc.):** DEB

**Describe the bug:** When we use filters with the Vertical Bar visualization, som

[2022-02-28 20:43] mikecote commented on #124807
I believe security solution would like to change the default `5m` for their rule type while allowing users to change it further via kibana.yml? If so, we may have to think about what happens to that rule type if the user only changes `default-rule-task-timeout` in kibana.yml. I don't think users would know the security solution has a different default and users would assume it applies to all rule

[2022-02-28 20:53] mikecote commented on #75041
I think researching idea 2 and creating a "topic" only for alerting rules would be a great starting point for this issue. It is currently hard to have predictability in alerting rule execution because of the impacts other tasks can have. (ex: a surge of other tasks clogging the execution). By moving it into its own "topic", we should see a consistent drift regardless of other activity in Kibana (l

[2022-02-28 21:10] graphaelli opened #126529 "[APM] TBS marked beta, should be GA"
**Kibana version:** 8.1.0

**Describe the bug:**

tail based sampling is marked beta when it should be GA in 8.1.0

**Steps to reproduce:**
1. Vist the apm integration editor and observe:
![image](https://user-images.githubusercontent.com/83483/156059065-ddc8d0f2-c77d-4f74-b085-437c682dd3d8.png)

**Expected behavior:** no beta label

[2022-02-28 21:10] elasticmachine commented on #126529
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 21:36] lukasolson opened #126532 "[KQL] Support single-character wildcard"
**Describe the feature:**

KQL currently supports wildcard queries using the `*` character to denote "zero or more characters". It does not support `?` to denote "one character". It would be nice if it supported both.

**Describe a specific use case for the feature:**

For example, if I'm interested in all response codes from 400-409, I could do something like `40?`.

[2022-02-28 21:36] elasticmachine commented on #126532
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-28 21:38] lukasolson opened #126534 "[KQL] Support proximity searches"
**Describe the feature:**

Currently, KQL supports phrase searches (i.e. phrases surrounded by double-quotes, such as "quick brown fox"). It would be nice if it supported proximity searches, similar to Lucene [proximity-based searches](https://www.elastic.co/guide/en/elasticsearch/reference/8.0/query-dsl-query-string-query.html#_proximity_searches), so that users can search for exact terms that ma

[2022-02-28 21:38] elasticmachine commented on #126534
Pinging @elastic/kibana-app-services (Team:AppServicesSv)

[2022-02-28 21:45] ppf2 opened #126536 "Document Enterprise Search access check timeout settings"
**Kibana version**: 8.1

The above warning is reported when Kibana Enterprise Search fails to load due to Enterprise Search responding slower than within 300ms or if the network is slow, etc..

Some users may want to extend the timeout and make it more lenient.   It appears that we have these settings but they are [not documented](https://www.elastic.co/guide/en/kibana/master/settings.html) in the

[2022-02-28 21:45] elasticmachine commented on #126536
Pinging @elastic/kibana-docs (Team:Docs)

[2022-02-28 22:13] jasonrhodes commented on #126386
@ravikesarwani my instinct is to just change the health status to "Unknown" or "Unavailable" whenever there is no data -- I'm not sure what the query looks like but is that agreeable to you too, if we can figure out how to determine that?

[2022-02-28 22:37] #126529 closed

[2022-02-28 22:37] sqren commented on #125394
I think it'll be difficult for us to keep the service inventory APIs stable until 8.2.
@dgieselaar since you are working on this, do you agree?

[2022-02-28 22:45] sqren opened #126538 "[APM] Upgrading APM integration package from 7.16.0 to 7.16.2 fails"
While attempting to reproduce https://github.com/elastic/kibana/issues/121833 I created a 7.16.0 cluster on Elastic Cloud and tried upgrading the APM package from 7.16.0 to 7.16.2:

![image](https://user-images.githubusercontent.com/209966/156070768-845895d6-fef1-42fb-b12f-440fa1f700d1.png)

After clicking "Upgrade" I am getting the error `[request body.elasticsearch]: definition for this key is m

[2022-02-28 22:45] elasticmachine commented on #126538
Pinging @elastic/apm-ui (Team:apm)

[2022-02-28 22:47] sqren commented on #121833
Thanks for the thorough repro steps @bmorelli25 ! I tried doing this and ran into another problem while upgrading from 7.16.0 to 7.16.2. I've created a new issue in case it's not related to this issue:
https://github.com/elastic/kibana/issues/126538

@cauemarcondes / @ogupte : Is this something one of you have time to look into?

[2022-02-28 22:48] #124810 closed

[2022-02-28 23:00] bmorelli25 commented on #126538
Looks like https://github.com/elastic/kibana/issues/121238

[2022-02-28 23:07] ThomThomson opened #126540 "[Maps][Dashboard] Flights Demo Data Map Causing Unsaved Changes when Imported / Upgraded"
**Kibana version:** 7.17 and above

**Describe the bug:** As part of the explicit [diffing system](https://github.com/elastic/kibana/pull/121241/files) PR, some keys were added to the maps in the Kibana demo data. This was done so that when the dashboard diffs the current map input with the last saved map input there isn't a false positive caused by initialization of previously undefined values.

[2022-02-28 23:07] elasticmachine commented on #126540
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-28 23:08] ThomThomson commented on #117245
I found the specific issue and am closing this in favor of https://github.com/elastic/kibana/issues/126540

[2022-02-28 23:14] lcawl opened #126541 "ML Anomalies layer failure for multi-metric job on web logs sample data"
**Describe the bug:**

When I create some anomaly detection jobs that use the `lat_long` function per
https://www.elastic.co/guide/en/machine-learning/8.1/geographic-anomalies.html in 8.1.0, one of them fails to work in the Maps app and returns a "coordinates must contain numbers" message when I choose the "Typical to actual" option. That job is a multi-metric job; if I clone it and use a single d

[2022-02-28 23:14] elasticmachine commented on #126541
Pinging @elastic/kibana-gis (Team:Geo)

[2022-02-28 23:31] sqren commented on #126538
Ah, I see now that the fix was backported to 7.17 but not 7.16
https://github.com/elastic/kibana/issues/121238#issuecomment-1016521425

@ogupte Would it be difficult to backport to 7.16?

[2022-02-28 23:38] rayafratkina commented on #125384
cc @crob611 @jb1b84 @sixstringcode
I wonder if fixing time interval to round per https://github.com/elastic/kibana/issues/94280 will end up hitting the cached search session and improving the performance?

[2022-02-28 23:39] liza-mae commented on #126540
If it is an easy fix, let's do it.  If it is not, I can put a workaround in the testing to save dashboard before copying the URL.

[2022-02-28 23:40] rayafratkina commented on #94280
@stratoula @lukasolson when we take on the Unified Search bar we should fix this too!

[2022-02-28 23:54] Heenawter opened #126543 "[Dashboard] Toolbar popover remains open when adding Log Stream visualization"
**Description of bug:**
When creating a new `Log stream` visualization, the toolbar popover remains open even once the visualization is created.

**Video of bug:**

https://user-images.githubusercontent.com/8698078/156078344-440d60cf-aa22-4d09-aba8-328acbdd1a8a.mp4

**Expected behavior:**
The popover should close once the visualization type is clicked.

[2022-02-28 23:54] elasticmachine commented on #126543
Pinging @elastic/kibana-presentation (Team:Presentation)

[2022-03-01 00:14] marshallmain opened #126544 "[Security Solution][Alerts] Exceptions on nested fields cause rule failure if nested field isn't mapped"
https://github.com/elastic/kibana/issues/121387

The error message in this case is very verbose and hard to read. A quick enhancement would be to format the error message better and/or detect that the error is a duplicate repeated for each index and display a more readable summary.

It may be possible to detect exceptions that will cause failures like this and automatically remove them (and displa

[2022-03-01 00:14] elasticmachine commented on #126544
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-01 00:18] marshallmain commented on #121387
The rule failure in this case is expected behavior because the generated ES query (rule query + exceptions) is invalid for the indices the rule is querying. The queried indices don't have the specified `nested` field, which causes Elasticsearch to return an  error. The error message reflects that correctly, although it is difficult to read. I opened an enhancement issue to track future work on imp

[2022-03-01 00:18] #121387 closed

[2022-03-01 00:46] kibanamachine commented on #116561
New failure: [CI Build - 8.0](https://buildkite.com/elastic/kibana-hourly/builds/11606#516e5f61-dcd9-4096-b946-917596eedb34)

[2022-03-01 01:26] marshallmain commented on #123859
The example that could happen right now would be user defined value list exceptions that are supported for KQL rules but not for EQL. When the rule gets converted, the value list exceptions would no longer be evaluated for the rule and on execution users would get a warning that the rule has unsupported exceptions. Since the exceptions are user defined I don't know if we'd be able to implement. Va

[2022-03-01 01:59] jmp601 commented on #93432
How is this issue resolved with a self managed instance? I'm running ECK 2.0 on version 7.17.1 of Elastic/Kibana on an Azure AKS cluster.

[2022-03-01 02:42] ogupte commented on #126538
Yeah it's an easy backport, although I'm not sure if 7.16 will have another stack release.

[2022-03-01 02:50] ogupte commented on #126538
looks like it's already been backported to 7.16: https://github.com/elastic/kibana/pull/121412

[2022-03-01 03:33] mibragimov commented on #125365
Closing this issue as it was fixed by https://github.com/elastic/kibana/pull/119831 in v8.1

[2022-03-01 03:33] #125365 closed

[2022-03-01 03:44] ogupte commented on #121833
This banner displays when we set `useLatestPackageVersion: true` as an option for `fleet.registerExtension`: https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/plugin.ts#L288

Fleet UI then places a banner here after comparing the current policy's package version with the latest package version. Seems to be a bug in the [hasUpgrade and dry-run upgrade logic](https://github.com/e

[2022-03-01 03:48] matschaffer commented on #124594
Looks like the most recent build happened after https://github.com/elastic/kibana/pull/126427 was merged so I'll check again on those tomorrow.

In the mean time I'll see if I can get the failure to happen on the test cluster I got some test runs against yesterday.

[2022-03-01 04:08] matschaffer commented on #124594
Ah nice. Finally a local repro!

![Screen Shot 2022-03-01 at 13 08 28](https://user-images.githubusercontent.com/690/156103109-b3ff3c73-8ca4-4ea6-a481-0a2c1a3f2bec.png)

[2022-03-01 04:12] ogupte commented on #124785
Here's where we create the package policy object and set the agent policy id (and empty string for output_id),
https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/routes/fleet/get_apm_package_policy_definition.ts#L31-L55

which is ultimately pass to the fleet plugin API
https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/server/routes/fleet/create_cloud_apm_package_pol

[2022-03-01 04:18] karanbirsingh-qasource commented on #125205
Hi @MadameSheema

we have validated this issue on 8.1.0 BC4 and found to be fixed . Now no error of `Unauthorized to access user actions of any owner` is showing on navigating to case details page.

**Build Details:**
[code]
**Screen-Cast:**

https://user-images.githubusercontent.com/59917825/156103924-0bdd1dbb-2760-4e17-8d20-2e889dd593ef.mp4

Hence we are closing this issue with QA Validated labe

[2022-03-01 04:18] #125205 closed

[2022-03-01 04:49] deepikakeshav-qasource commented on #124287
Hi @MadameSheema

We have validated this issue on **8.1.0 BC4** and Observe that issue is **Fixed** 🟢

Please find below the testing details:

**Build Details:**
[code]
**Screen cast:**

https://user-images.githubusercontent.com/61860752/156106743-9a6f030a-aa8a-4888-8e8c-d41a48bb5c14.mp4

Hence, we are closing this issue and marking as QA Validated.

Thanks !!

[2022-03-01 04:50] #124287 closed

[2022-03-01 04:53] matschaffer commented on #124594
Unfortunately in the process of setting up APM for the launched kibana, the error changed.

But on the plus side I confirmed that my workaround will pass the test for now. Maybe good enough. Will keep working on it this afternoon and move along if I can't find anything better.

[2022-03-01 05:12] matschaffer commented on #124594
Hrm. I might not be able to enable APM since ESTF doesn't use `user_settings_override_yaml` which is where I think the settings need to go on ESS.

I confirmed from my own local cluster that the queries causing trouble should be one of these:

[code]

[code]

Based on the failure, I suspect it's the first. The msearch seems to kick in after the first filebeat.

[2022-03-01 05:16] brokensound77 commented on #123859
awesome, thanks for the update. Doesn't look there would be anything to tighten up within the rules repo wrt that scenario 👍

[2022-03-01 05:17] matschaffer commented on #124594
So on a fresh ESTF cluster, I'm noticing this issue.

![Screen Shot 2022-03-01 at 14 13 25](https://user-images.githubusercontent.com/690/156109120-16e8a3b6-80f2-4a87-86a7-2d1cc703e5ba.png)

When I attempted to enable APM on the first kibana instance I actually noticed `remote_cluster_client` get added to the node roles.

![Screen_Shot_2022-03-01_at_14_14_36](https://user-images.githubusercontent.

[2022-03-01 05:28] matschaffer opened #126555 "[Stack Monitoring] APM listing page shows N/A for rate values"
This `N/A` value is reproducible in production with a brand new `8.0.0` deployment:

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/7286993/156109777-941927ea-2d1a-47c1-8b0f-d5cd328850be.png">
<img width="1383" alt="image" src="https://user-images.githubusercontent.com/7286993/156109806-1a8df7fe-dca9-418b-abcf-aca526d1f720.png">

[2022-03-01 05:28] elasticmachine commented on #126555
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-01 05:32] matschaffer commented on #126555
Some code nodes:

- https://github.com/elastic/kibana/blob/f2b9acf67b421a530e011d12aa9386c488d829b9/x-pack/plugins/monitoring/public/application/pages/apm/instances.tsx#L62 - where the apm instances get loaded from server in client code
- https://github.com/elastic/kibana/blob/9d662b77bec867247421376ecb60a07202ed45f9/x-pack/plugins/monitoring/public/components/apm/instances/instances.js#L96-L109 -

[2022-03-01 05:53] marshallmain opened #126556 "[Security Solution][Alerts] Investigate ways to apply legacy alerts aliases without user action"
### Summary
As of 8.0, field and index aliases for legacy signals indices in a space are applied when a user with the necessary permissions visits the detections page for that space. This follows the pattern established for legacy signals indices where the indices were created for the first time when a user visited the detections page for the space. Some features, such as the Data View selector, r

[2022-03-01 05:54] elasticmachine commented on #126556
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-01 05:54] marshallmain commented on #121390
@MadameSheema We're not planning to work on this for 8.2 since the workaround only requires refreshing the page. I created https://github.com/elastic/kibana/issues/126556 to track future enhancements that could remove the need for this workaround.

[2022-03-01 05:54] #121390 closed

[2022-03-01 05:55] #118914 closed

[2022-03-01 05:58] marshallmain commented on #120279
Superseded by https://github.com/elastic/kibana/issues/126389

[2022-03-01 05:58] #120279 closed

[2022-03-01 06:03] elasticmachine commented on #126544
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-01 06:03] elasticmachine commented on #126556
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-01 06:10] marshallmain commented on #116586
@deepikakeshav-qasource Can you confirm if this issue is still occurring on 8.2?

[2022-03-01 06:51] marshallmain commented on #94071
This issue should be fixed now for 8.0+. If an alert generated on 8.0 exists, then after upgrading to 8.x a duplicate alert should not be generated. When upgrading from 7.17 -> 8.x though a duplicate alert may still be generated so you end up with 1 "legacy" alert and 1 "alerts-as-data" alert in that scenario. Once the alerts-as-data alert exists though, no more duplicates should be created.

[2022-03-01 06:51] #94071 closed

[2022-03-01 07:08] pgayvallet commented on #117102
Yea sorry, that's what I meant

[2022-03-01 07:10] ogupte commented on #121934
After working thru a known bad schema, i was finally able to consistently reproduce the issue.

## The setup
[code]

One of the fields in the saved schema object is `"apm-server.rum.allow_origins": [ "*" ],`. So APM UI sets `[ "*" ]` as the value for the [`rum_allow_origins` input var](https://github.com/elastic/apm-server/blob/main/apmpackage/apm/manifest.yml#L79-L82). It seems that a YAML conver

[2022-03-01 07:26] deepikakeshav-qasource commented on #116586
Hi @marshallmain,

We have validated this issue on **8.2.0 SNAPSHOT** and observed that issue is **Still Occurring** 🔴

Please find below the testing details:

**Build Details:**
[code]

**Screen cast:**

https://user-images.githubusercontent.com/61860752/156123872-1edc1a0d-5d44-4acf-9086-0631ce13c5f1.mp4

Thanks !!

[2022-03-01 07:34] matschaffer opened #126557 "[Stack Monitoring] All nodes get the "master" star on instance listing"
Rel: https://discuss.elastic.co/t/elastic-8-0-0-stack-monitoring-all-nodes-are-listed-as-master-nodes/298260/3

Observed on ESS: https://log-ingest.kb.asia-northeast1.gcp.cloud.es.io:9243/app/monitoring#/elasticsearch/nodes?_g=(cluster_uuid:c2PTxSM3Tc2DeWptmRAdKg,refreshInterval:(pause:!f,value:10000),time:(from:now-15m,to:now))

At first I thought it might be catching the "master eligible" status

[2022-03-01 07:34] elasticmachine commented on #126557
Pinging @elastic/infra-monitoring-ui (Team:Infra Monitoring UI)

[2022-03-01 07:38] dgieselaar commented on #125394
@sqren Yeah I agree, also not sure whether building something on top of our APIs rather than us publishing an embeddable is a good idea.

[2022-03-01 07:45] amolnater-qasource commented on #126316
Hi @joshdover
We have attempted to validate on 7.17.1 upgrade to 8.2.0-Snapshot and we had below observations:
- Installed `cyberark` integration and upgraded kibana to 8.2.0.

**Screenshots for Edit cyberark integration and Integration overview page:**
![2](https://user-images.githubusercontent.com/77374876/156125893-84c8c6f2-9f3e-47ef-8a54-a9d7a5af7326.JPG)
![3](https://user-images.githubusercon

[2022-03-01 07:56] matschaffer commented on #93432
@jmp601 you can set `monitoring.ui.css.enabled: false` which will stop stack monitoring from attempting to use CSS remotes.

[2022-03-01 07:57] mgiota commented on #126498
@simianhacker Is this ticket only about changing the label? This indeed is a super small change. My concern is that this field is currently getting its value from the `ruleMutedStatus` field[ from the API.](https://github.com/elastic/kibana/blob/main/x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx#L114). I would make current label change once snooze API is r

[2022-03-01 08:19] samratbhadra-qasource commented on #126336
@jen-huang Thanks for the feedback on the issue.

[2022-03-01 08:22] juliaElastic commented on #122973
This could be done with a UI toggle or config flag to show only GA packages / show all. The toggle value could be used when checking for latest package versions as well, e.g. not showing Upgrade button when there are no new GA versions available, only prerelease.

[2022-03-01 08:30] juliaElastic commented on #126228
I see, it makes sense. I think we can close this issue.

[2022-03-01 08:30] #126228 closed

[2022-03-01 08:42] #124806 closed

[2022-03-01 08:52] deepikakeshav-qasource opened #126561 "[Security Solution] Additional information is displayed in Tags under Stack management > rules and connectors"
**Describe the bug**
Additional information is displayed in Tags under Stack management > rules and connectors

**Build Details:**
[code]

**Preconditions**
1. Rule should be created and tag should be added in rule

**Steps to Reproduce**
1. Navigate to Stack Management > rules and connectors
2. Search the created rule
3. Click on tags icon.
4. Observe that additional information is displayed in T

[2022-03-01 08:53] elasticmachine commented on #126561
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-01 08:56] amolnater-qasource commented on #125904
Hi @juliaElastic
We have validated this issue on 8.1 BC-4 and found it **fixed** now.
- Descriptive error message for creating duplicate policy from Add Agent flyout is there.

Further testing details are shared on related PR at https://github.com/elastic/kibana/pull/125931#issuecomment-1055172476

Thanks

[2022-03-01 09:18] samratbhadra-qasource commented on #122529
Hi @jen-huang,
We have revalidated this issue on the latest 8.1.0-BC4 build and found that the issue is still **reproducible**. Please find below the testing details:

- No confirmation message is displayed while deleting an Enrollment token.1

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/156138077-88904210-8ab0-47c0-b307-d9d79516767d.mp4

**Build Details:**
VERSION: 8

[2022-03-01 09:21] flash1293 commented on #126418
I don't think this is an issue with visualize, it seems like something in the reporting layer is going wrong:
[code]

FYI @elastic/kibana-reporting-services

https://github.com/elastic/kibana/issues/126420 and https://github.com/elastic/kibana/issues/126419 show exactly the same behavior. As they all failed at the same time I'm suspecting something went wrong with CI.

Closing for now

Closing for

[2022-03-01 09:21] #126418 closed

[2022-03-01 09:27] ashokaditya commented on #121507
@muskangulati-qasource can you please verify this in 8.0.0 and close this ticket. Thanks.

[2022-03-01 09:31] endorama commented on #125655
Following up on [this comment](https://github.com/elastic/kibana/issues/125625#issuecomment-1040435715) by @juliaElastic :

To clarify naming for packages different variables "levels" (I've seen some confusion around this):
- "global" (or "root") variables are [`package` level](https://github.com/elastic/package-spec/blob/1e133808f85083d126830570033e68f17a409bce/versions/1/manifest.spec.yml#L268)

[2022-03-01 09:36] elasticmachine commented on #126541
Pinging @elastic/ml-ui (:ml)

[2022-03-01 09:46] afharo commented on #124610
It looks like these tests fail on Cloud when the versioned newsfeed (http://feeds.elastic.co/kibana/v{{version}}.json) is not published yet.

Do you think it's worth adding a step on Cloud tests to skip the test if the versioned-JSON is not published yet to avoid these issues?

Or probably ping the team responsible for this JSON file to remind them that this is not published yet?

[2022-03-01 10:13] #110441 closed

[2022-03-01 10:20] deepikakeshav-qasource opened #126563 "[Security Solution] Pagination is not working correctly for host by risk under hosts tab"
**Describe the bug**
Pagination is not working correctly for host by risk under hosts tab

**Build Details:**
[code]

**Preconditions**
1. Host risk score feature should be enabled
2. More than 5 hosts should be exist.

**Steps to Reproduce**
1. Navigate to hosts tab under security
2. click on host by risk tab
3. Select the row per page: 5
4. Observe that more 5 host are displaying even after sele

[2022-03-01 10:20] elasticmachine commented on #126563
Pinging @elastic/security-solution (Team: SecuritySolution)

[2022-03-01 10:24] muskangulati-qasource commented on #121507
Hi @ashokaditya,

Thank you for the update.

We tested this issue on both 8.0 and 8.1.0 and found that issue is fixed on both the builds.

**Screenshot**
![image](https://user-images.githubusercontent.com/60252716/156151796-e91bacf1-cda7-42cc-933c-0bbab9a344f3.png)

Hence, we are closing this issue and marking it as "Validated".

Thanks!

[2022-03-01 10:25] #121507 closed

[2022-03-01 10:26] #126461 closed

[2022-03-01 10:29] elasticmachine commented on #126521
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-01 10:30] weltenwort commented on #126508
Are you sure it's the `reduce` that's causing it? Or is it the fact that we're creating a new array in each iteration? Would mutating the accumulator yield the same speed-ups?

[2022-03-01 10:30] elasticmachine commented on #126464
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-01 10:33] flash1293 commented on #126521
@dminovski0 I tried to reproduce this issue, but I didn't manage to. Could you export your dashboard and share it here?

<img width="1289" alt="Screenshot 2022-03-01 at 11 32 38" src="https://user-images.githubusercontent.com/1508364/156153105-476aaa6b-121f-4a9f-9793-19ec562a52ee.png">

[2022-03-01 10:33] #46354 closed

[2022-03-01 10:36] joshdover commented on #121934
Interesting find, thanks for the very detailed investigation and write-up @ogupte.

This makes me think we should solve this on the Fleet side by wrapping all input string values in quotes when rendering the handlebar templates, before we parse the documents with YAML. I can't think of a reason not to do this.

@ogupte is there an extended stack trace that would show us where in the Fleet code thi

[2022-03-01 10:37] flash1293 commented on #125935
The "detach global time range" PR changed how these filters are propagated, I think it fixed this problem

[2022-03-01 10:37] #125935 closed

[2022-03-01 10:39] karanbirsingh-qasource commented on #126041
Hi @ecezalp

thanks for sharing the details although even after adding the `filebeat-*` under defaultThreatIndex UI  issue is still occuring. Please find below detailed observation.

**Build Details:**
[code]

After adding the `filebeat-*` under defaultThreatIndex UI

![image](https://user-images.githubusercontent.com/59917825/156111353-6a58d334-64ad-487d-9b82-682d3570de43.png)

- existing rule ol

[2022-03-01 10:40] afgomez commented on #125394
Alright, I'll park this until then.

/cc @danielkhan

[2022-03-01 10:40] flash1293 commented on #126448
Relabeling as this is the intended behavior for the time being - I will bring this to the team to discuss whether we want to make changes.

[2022-03-01 10:41] samratbhadra-qasource commented on #125919
Hi @joshdover
We have revalidated this issue on the latest 8.1.0-BC4 build and found that the Elastic APM integration version is updated to **v8.1.0** and the issue is **fixed** now. Please find below the testing details:

**Screenshot:**
![Screenshot (99)](https://user-images.githubusercontent.com/84007952/156154147-8e6b841f-e98c-4c6f-a958-73aa876f4ed8.png)

However, for Endpoint Security the int

[2022-03-01 10:41] flash1293 commented on #125129
Fixed by https://github.com/elastic/elastic-charts/pull/1585

[2022-03-01 10:41] #125129 closed

[2022-03-01 10:42] simitt commented on #121934
+1 on fixing this directly in Fleet;
for context there were some issues with the yaml parsing in Fleet before, that required escaping `*` - https://github.com/elastic/kibana/issues/91401

[2022-03-01 10:52] dminovski0 commented on #126521
@flash1293 I opened a ticket at https://support.elastic.co, uploaded the exported dashboard there, and asked them to contact you.

[2022-03-01 10:53] kibanamachine commented on #126387
New failure: [CI Build - 8.1](https://buildkite.com/elastic/kibana-hourly/builds/11649#e3f6f34e-d928-4332-a2ba-2da9b7ed9550)

[2022-03-01 11:00] elasticmachine commented on #126563
Pinging @elastic/security-threat-hunting (Team:Threat Hunting)

[2022-03-01 11:04] arunhk3 commented on #67688
Increasing the timeout solved the issue for me too!

Earlier it was showing a blank white screen and after posting the above timeout settings, it works fine now!

Thanks @novaksam

[2022-03-01 11:19] prachigupta-qasource commented on #123699
Hi @MadameSheema ,

We have encountered a loader issue related to Timeline on **8.1.0 BC4** build.

**Build info**

[code]

**Steps to reproduce:**

1. Navigate to Security > Timeline
2. Enter query in the Search tab.
3. Wait for the results to show.
4. Click on any column results other than 'message' column.
5. Click on 'Filter out' icon

**Screenshots**

https://user-images.githubusercontent.com

[2022-03-01 11:31] mshustov opened #126569 "Provide guidance for interpreting performance testing results"
Kibana is working on providing tooling for performance and scalability testing. The testing results will be provided as a set of artifacts: APM data, performance metrics,  etc.

We need to provide guidance on:
- interpreting the testing results
- using testing results for the investigation in the event of performance degradation
- using additional tooling for in-depth investigation (profiling node

[2022-03-01 11:50] samratbhadra-qasource opened #126570 "[Fleet]: ` Agent policy` drop down list is not fully visible in Agents tab when we add `long policy name`."
**Describe the bug:**
` Agent policy` drop down list is not fully visible in Agents tab when we add `long policy name`.

**Build Details:**
VERSION: 8.1.0-BC4
COMMIT: 015578b81c26a5843747ba53b2fd92d40f0453cb
BUILD: 50428
ARTIFACT LINK: https://staging.elastic.co/8.1.0-bb72bc41/summary-8.1.0.html

**Preconditions:**
1. Elastic 8.1.0-BC4 environment should be deployed.

**Steps to Reproduce:**
1. Na

[2022-03-01 11:50] elasticmachine commented on #126570
Pinging @elastic/fleet (Team:Fleet)

[2022-03-01 11:50] samratbhadra-qasource commented on #126570
@manishgupta-qasource Please review.

[2022-03-01 11:54] kertal commented on #126464
Thank you for reporting 👍 . Had a quick look at Discover's source gave me a potential reason why it failed, there should be no white screen for this.
[code]
Dear @vadimkibana, pinging you because it's locator related, seems there's a case then Discover get's invalid filters when using locators?

[2022-03-01 11:55] kertal commented on #126464
However ... this function should not be triggered, so I need to have closer look here..

[2022-03-01 11:59] mshustov opened #126571 "Collect single-user and scalability testing data in a single APM instance"
Single-user performance testing and scalability performance testing collect APM data for further analysis. However, their setup is a bit different.

1. They send data to different APM servers.
https://github.com/elastic/kibana/blob/main/x-pack/test/load/config.ts#L13-L15
https://github.com/elastic/kibana/blob/main/x-pack/test/performance/config.playwright.ts#L13-L15
It's not very developer-friendl

[2022-03-01 11:59] elasticmachine commented on #126571
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-01 12:04] kqualters-elastic opened #126574 "[Security Solution] Certain custom filters in a rule can cause the investigate in timeline action to throw an uncaught exception"
**Kibana version:**
7.14+

**Describe the bug:**
Certain combinations of filters can result in the investigate in timeline action throwing an exception, Cannot read properties of undefined (reading controlledBy). I'm not sure exactly what combination of filters cause the issue, but i think the problem is either here https://github.com/elastic/kibana/blob/main/x-pack/plugins/security_solution/publi

[2022-03-01 12:04] elasticmachine commented on #126574
Pinging @elastic/security-detections-response (Team:Detections and Resp)

[2022-03-01 12:16] sqren commented on #126538
Okay, closing

[2022-03-01 12:16] #126538 closed

[2022-03-01 12:22] mshustov commented on #103942
After consultations with the solution teams, we decided to start with the following 4 test cases:
- `Login` page load time
- `Home` page load time
- `Integrations` page load time
- Loading time of the `Discover` page with a dataset with lots of fields

You can find further details about testing setup, prerequisites, and a set of the collected metrics in [this document](https://docs.google.com/docu

[2022-03-01 12:34] gbamparop opened #126576 "[APM] Remove unused beta badge from apm integration editor"
The beta badge from tail based sampling setting in apm integration editor was removed in https://github.com/elastic/kibana/pull/126530. As this was the last place that it was used we can remove [the badge ](https://github.com/elastic/kibana/blob/25b97bbac1a4e37feac617ae2a68676f283f1661/x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings_form/index.tsx#L135) from the set

[2022-03-01 12:34] elasticmachine commented on #126576
Pinging @elastic/apm-ui (Team:apm)

[2022-03-01 12:42] afharo opened #126578 "`fleet` <-> `infra` circular dependencies"
We recently identified that circular dependencies in `requiredBundles` might affect Kibana's UI performance. Looking for any existing circular dependencies in Kibana #124860, we noticed that `fleet` requires on `infra` via the `requiredBundles`, while `infra` optionally depends `osquery`, which depends on `fleet`. Both via the `optionalPlugins`.

In the Core team we created #124923 to identify the

[2022-03-01 12:42] elasticmachine commented on #126578
Pinging @elastic/fleet (Team:Fleet)

[2022-03-01 12:43] mshustov commented on #103940
@spalger, what if we expand the scope of the current task to formalize the hardware requirement for Kibana performance testing?
I want to limit the number of CPUs and the V8 memory size allocated.

### CPU
Nodejs application runs on a single thread, v8 spawns other threads for internal needs: libuv, garbage collection, etc.
We should test for a worst-case scenario when the Kibana application is ru

[2022-03-01 12:44] afharo commented on #124923
Ideally, we should implement this issue so Kibana refuses to start. However, we depend on #126578 to be able to do so. I'm speaking with the @elastic/fleet team to get it sorted. If they don't have the bandwidth, we may want to print a warning for now.

[2022-03-01 12:47] formgeist opened #126580 "[APM] Change rule creation for anomaly detection detectors (latency, throughput, and failed transaction rate)"
# Summary

The current experience around creating anomaly detection rules for alerts is targeted only for the latency detector, but we have recently added new detectors for the anomaly detection jobs that include throughput and failed transaction rate.

We should decide whether we should include a single anomaly detection rule that will contain all three options as conditions or have separate rule

[2022-03-01 12:47] elasticmachine commented on #126580
Pinging @elastic/apm-ui (Team:apm)

[2022-03-01 12:50] #126091 closed

[2022-03-01 13:03] brsolomon-deloitte commented on #125365
@mibragimov thanks, do you know if this was included in 7.17.1 also?

[2022-03-01 13:22] joshdover commented on #126578
@afharo is there a transient dependency between infra -> fleet in `requiredPlugins`? I don't see a direct dependency in infra's kibana.json file today: https://github.com/elastic/kibana/blob/25b97bbac1a4e37feac617ae2a68676f283f1661/x-pack/plugins/infra/kibana.json#L5-L17

[2022-03-01 13:32] dej611 opened #126586 "[Lens][Visualize] Stacked behaviour for different series/chart types"
**Describe the bug:**

While investigating for a stacked behaviour I've noticed that in Visualize there's a universal stacked behaviour which let's the user combine different chart types into a single stacked visualization:
<img width="1255" alt="Screenshot 2022-03-01 at 14 23 18" src="https://user-images.githubusercontent.com/924948/156177131-50d81a55-112d-4640-8768-2b9888eb7ea4.png">

In the exa

[2022-03-01 13:32] elasticmachine commented on #126586
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-01 13:34] akshay-saraswat commented on #126101
Regarding this point in Phase-1, my suggestion would be to make Kibana fetch Public Key from a server instead of adding it into Kibana because if in the future we encounter a need to generate a new pair of keys, our customers will have to upgrade their stack just to get the new Public Key.

Yes, IMO, signature verification should be enforced by default. That's the recommended Elastic way. A new cu

[2022-03-01 13:34] mshustov opened #126587 "Run performance testing for Kibana in ECE setup"
The initial implementation of the Kibana single-user performance testing starts KIbana server with the default configuration https://github.com/elastic/kibana/pull/117861

Since we are a Cloud-first company, we must ensure that Kibana running on Elastic Cloud provides the best possible User Experience.

The way Elastic runs Kibana on Cloud is quite different from the on-prem configuration. Two mai

[2022-03-01 13:34] elasticmachine commented on #126587
Pinging @elastic/kibana-operations (Team:Operations)

[2022-03-01 13:36] ogupte commented on #121934
unfortunately not, The YAML exception must be wrapped, thrown out of band, or otherwise obscured. :(

[2022-03-01 13:37] mtojek commented on #126101
The idea is to have it configurable in Kibana, it won't be hardcoded, I guess.

[2022-03-01 13:38] MadameSheema commented on #123699
@prachigupta-qasource can you please report it into a different ticket? Thanks! :)

[2022-03-01 13:41] dej611 opened #126588 "[Lens] Chart workspace crashes for specific configuration"
**Describe the bug:**

The following configuration makes the chart workspace crash (driven by elastic-chart):
* Bar stacked layer with a `Count of Records`
* Area stacked layer with a `Count of Records` over time

<img width="961" alt="Screenshot 2022-03-01 at 14 37 56" src="https://user-images.githubusercontent.com/924948/156179255-602c809f-7088-448f-9fff-7cf404399d2c.png">

In the console it sho

[2022-03-01 13:41] elasticmachine commented on #126588
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-01 13:42] dej611 commented on #126588
The bug seems to not be related to specific chart types, rather more on where the date histogram gets defined: when defined in the first layer/series that works ok, but if the date histogram is only defined on the second layer, then it crashes.

[2022-03-01 13:44] #125792 closed

[2022-03-01 13:44] afharo commented on #126578
Oh! Sorry! Forgot to mention `infra` depends on `osquery` and `osquery` depends on `fleet`. Both dependencies are set via `optionalPlugins`. I'll update the description accordingly

[2022-03-01 13:49] fkanout commented on #126498
I prefer to align the codebase with the user UI as long as possible and when it makes sense, and I believe this is applicable here. I would suggest updating the related code alongside the wordings in the same PR. It will be easier and less tech debt.

[2022-03-01 13:59] dannycroft commented on #112976
@gayathrir1172 sorry to hear you are running into problems. I'll reach out to some of the team to see if we can support here. I know we are working on an update for synthtrace in https://github.com/elastic/kibana/pull/123454 so this might also fix your problem.

[2022-03-01 14:09] dgieselaar opened #126593 "[APM] Add experimental probability setting for aggregations"
with the `random_sampler` aggregation being available in ES (currently behind a feature flag), we can add a simple, experimental `probability` setting that takes any value between 0 and 1. In the future we can come up with something better, but to expose and test the feature a simple setting would be a good start.

We'd need to wrap our aggregations in a `random_sampler` aggregation where possible

[2022-03-01 14:09] elasticmachine commented on #126593
Pinging @elastic/apm-ui (Team:apm)

[2022-03-01 14:10] Dosant commented on #125384
This would help with starting fewer new searches in some Kibana usage scenarios, so I agree it would help with overall cluster load in some cases.
But with search sessions, we know that they are implemented in a way that when they are enabled, but not actually used, they still add additional overhead to Kibana and Elasticsearch (what this comparison shows). We are working on an RFC to change it an

[2022-03-01 14:15] cchaos opened #126594 "[Discover] Empty state's description can be completely blank"
**Kibana version:** `main`

**Describe the bug:**

The description in the empty state is based on the presence time, query, and filters. If none of these are available, the description is completely blank.

**Steps to reproduce:**
1. Open Discover
2. Switch data view to something that doesn't have a time field
3. See empty state

**Expected behavior:**

There needs to be a message accounting for i

[2022-03-01 14:15] elasticmachine commented on #126594
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-01 14:15] simianhacker commented on #126498
Yes, we need to change both, that was an oversight in the ticket's description. Please edit and add any additional requirements.

[2022-03-01 14:29] flash1293 commented on #126586
That makes sense to me @markov00 . In order to not break existing charts, what about re-interpreting the configuration and stacking area layers and bar layers separately, but not on top of each other? Do you think that would be a sensible behavior in this situation?

[2022-03-01 14:31] mgiota commented on #126498
I talked with @XavierM about this ticket. API response with label need to be in sync. They will provide us with the response of the API and then we can update the ticket accordingly

[2022-03-01 14:32] dej611 opened #126598 "[Visualize] Line fitting function does not work if Line is not the first metric defined"
**Describe the bug:**

Create an Agg based Bar chart and define a Date histogram on the X-Axis.
Now define two metrics:
* Max of `bytes` as dirst metric and leave the Bar chart type
* Average of `memory` as second metric and pick the Line chart type (Normal, not stacked)

Find a time range with some `memory` gaps in it (in my case 24 hours works).

<img width="1262" alt="Screenshot 2022-03-01 at 1

[2022-03-01 14:32] elasticmachine commented on #126598
Pinging @elastic/kibana-vis-editors @elastic/kibana-vis-editors-external (Team:VisEditors)

[2022-03-01 14:38] markov00 commented on #126586
I think it's fine to leave existing charts as they are and block the bad behavior for any new chart implementation.
Together with that, it will be great to:
- add telemetry on the number of cases of badly stacked charts
- introduce a deprecation strategy for such kind of behaviour, showing a warning in the Upgrade assistant about that with the reason and a possible resolution: use the same chart t

[2022-03-01 14:39] ogupte commented on #126060
The [tutorial link to the package details](https://github.com/elastic/kibana/blob/main/x-pack/plugins/apm/public/tutorial/config_agent/index.tsx#L77) uses [this const](https://github.com/elastic/kibana/blob/7.17/x-pack/plugins/apm/common/fleet.ts#L10) to build the URL. We could update this from `7.16.0` -> `7.17.0`, but at the time we didn't since there was no 7.17.0 published until much later in

[2022-03-01 14:41] liza-mae commented on #124610
Hi @afharo these were real failures and at least one was not fixed before release day 7.17.1, see slack: [misson-control](https://elastic.slack.com/archives/C0JFN9HJL/p1646067948784629)

I don't think we should skip the tests, but rather ping the team responsible to publish them (they have added a PR to help avoid this issue in the future, as noted in the slack conversation) but it is good to keep

[2022-03-01 14:48] jportner commented on #123550
@robcowart just FYI, this is in progress (see PR linked above) but it will not make the 8.0.1 or 8.1.0 releases, unfortunately.

[2022-03-01 14:51] rayafratkina commented on #125384
I think this is the scenario we should be optimizing for at this point - most real-world usage of solutions means dashboards are created by a subset of users and/or are rarely modified but many user/often need to view them. Anything we can do to help a dashboard "hit cache" by default is important

[2022-03-01 14:54] formgeist commented on #120377
@miltonhultgren @jasonrhodes Just wanted to follow up - do you have any update on this?

[2022-03-01 14:56] simianhacker commented on #126508
@weltenwort You're right, it's the spread... I just tested it between the for/of and reduce but modified the accumulator instead of using the spread and the performance gains are the same. I will update this PR to keep the reduces but eliminate the spread.

[2022-03-01 14:57] simianhacker commented on #126508
Although... I kind of prefer the for/of code because it's more concises.

[2022-03-01 15:01] mdefazio opened #126601 "[RAM] UX: Scheduled snoozing rules"
## Summary

Provide the ability to snooze a rule or set of rules for a period of time, starting at a specific time and date with the option to make it recurring.

**Latest video walkthroughs:**
[Video walkthrough Part I: Setting a schedule snooze on a rule](https://www.loom.com/share/8771efd94aec40bbb7ef556af89fa493)
[Video walkthrough Part II: Modifying a schedule and adding a relative snooze to

[2022-03-01 15:09] ogupte commented on #121934
here's the full stack trace from the logs for reference, it doesn't seem very helpful:
[code]

[2022-03-01 15:10] mdefazio commented on #124887
Duplicate issue...cleaning up meta issues

[2022-03-01 15:11] ogupte commented on #121934
here's the full stack trace from the logs for reference, it doesn't seem very helpful:
[code]

[2022-03-01 15:12] jasonrhodes commented on #126386
OK I'm thinking through this a bit more. I see a couple states we need to think through:

| Ref | State | Individual Status | Individual Color |
| --- | :--- | :--- | :--- |
| 1A | Reporting as green | Healthy | Green |
| 1B | Reporting as yellow | {Yellow Status} | Yellow |
| 1C | Reporting as red | {Red Status} | Red |
| 1D | Not reporting | {Unknown Status} | Grey |

| Ref | State | Overall Sta

[2022-03-01 15:31] sqren commented on #112976
Yes, the update to synthtrace should fix this. In the meantime you can try using `system_indices_superuser` instead of `elastic` user and see if that fixes the permission problem.

[2022-03-01 15:31] joshdover commented on #124785
It looks like we allow it as a separate option in the last parameter, so you should be able to add an `id` to the object of options on this line: https://github.com/elastic/kibana/blob/f125202d64e603a0a010ebf8267165b6801697e2/x-pack/plugins/apm/server/routes/fleet/create_cloud_apm_package_policy.ts?rgh-link-date=2022-03-01T04%3A12%3A03Z#L67

Does that sound reasonable to you, including backporting

[2022-03-01 15:37] ogupte commented on #124785
sounds easy enough! feel free to reassign.

[2022-03-01 15:37] shaunmcgough opened #126604 "[Discover] Add links to documentation for Document Explorer"
Advertise the new features in Discover:  Document Explorer, Field Statistics, and Alerting.  This will occur across three releases and requires the following input from dev, docs, design, and PM.

## 8.1.x

- [x] Add a "Learn more" link to the Document Explorer setting on the Advanced Settings page.  The link should use the docs link service and point to the [Document Explorer](https://www.elastic

[2022-03-01 15:37] elasticmachine commented on #126604
Pinging @elastic/kibana-data-discovery (Team:DataDiscovery)

[2022-03-01 15:38] MiriamAparicio opened #126606 "[APM] Fix accessibility failures"
As part of adding A11y test for APM https://github.com/elastic/kibana/issues/104692, failures on APM need to be fixed

### What is expected

Now we can see the errors logged when running the e2e with cypress, but the tests are not failing.
When accessibility violations are detected, tests will fail and an entry titled "A11Y ERROR!" will appear to the command log for each type of violation found (t

[2022-03-01 15:39] paulb-elastic commented on #124670
I'd be ok to hold off on this unless (until) we have other evidence of it, based on the other things we’re working on right now, and the future direction of the UX app.

[2022-03-01 15:39] elasticmachine commented on #126606
Pinging @elastic/apm-ui (Team:apm)

[2022-03-01 15:41] lukeelmers commented on #120485
Determined this was only reopened by accident. Closing again :)

[2022-03-01 15:41] #120485 closed

[2022-03-01 15:45] elasticmachine commented on #126606
Pinging @elastic/kibana-accessibility (Project:Accessibility)

[2022-03-01 16:04] hop-dev opened #126611 "[Fleet] 'conflict' creating `index-pattern` SO when installing package during 8.0.0 to 8.1.0 upgrade (docker only?)"
Linked to https://github.com/elastic/kibana/issues/126113.

We have had two occurrences reported to the fleet team where a conflict error is returned when creating saved objects during install of packages, e.g kubernetes:

[code]

In fleet we use the `import` method with `overwrite: true` to create our saved objects during package install [here](https://github.com/elastic/kibana/blob/main/x-pack/p

[2022-03-01 16:07] Dosant commented on #125384
For general performance, I agree that elasticsearch "cache hit" is definitely something we should optimize for (https://github.com/elastic/kibana/issues/94280)

But I think it is unrelated to the problem that current search session implementation adds additional load for every search run even until the session is saved by the user.

[2022-03-01 16:23] endorama commented on #125655
Not sure I'm following, no package use this because is not supported in Fleet. I was just pointing out that as you say is supported by `package-spec`, so is probably a meaningful case for validation.

[2022-03-01 16:26] cjcenizal commented on #121773
Closed by https://github.com/elastic/kibana/pull/126482

[2022-03-01 16:26] #121773 closed

[2022-03-01 16:26] cnasikas commented on #124494
We decided to not adopt Cypress and go with Kibana's e2e framework.

[2022-03-01 16:26] #124494 closed

[2022-03-01 16:35] michaelolo24 commented on #126077
@MikePaquette it seems to inconsistently happen and users have the ability to extend the time range manually, so we'll take a look into it, but will not block any releases for it.

[2022-03-01 16:42] cnasikas opened #126616 "[Cases] Telemetry: Saved Objects"
## Overview

Telemetry is needed to see how users are using cases. By collecting telemetry data we will be able to take decisions in the future with confidence. For example, it will help us decide if we can introduce breaking changes to one of our endpoints or in which part of the code needs to be optimized.
Architecture
Telemetry saved object
A new saved object type will be created specifically f

[2022-03-01 16:43] elasticmachine commented on #126616
Pinging @elastic/response-ops (Team:ResponseOps)

[2022-03-01 16:45] ymao1 opened #126617 "[Meta][Response Ops] Context on recovered alerts for each rule type"
The alerting framework has recently merged [a PR](https://github.com/elastic/kibana/pull/124972) to provide rule executors with the ability to specify context for recovered alerts. Details are available in the PR and in the [alerting README](https://github.com/elastic/kibana/blob/main/x-pack/plugins/alerting/README.md#recovered-alerts) but essentially,

1. Rule types should set `doesSetRecoveryCon

[2022-03-01 16:48] weltenwort commented on #126508
Thanks for investigating further :heart: `reduce` vs `for` is mostly a matter of taste and depends on whether a sequence of statement or a single expression is more appropriate. :shrug: Good to know we can choose either as long as we pay attention to the array creation.

[2022-03-01 16:48] #125465 closed

[2022-03-01 16:51] afharo commented on #114328
#121992 will already move the piece of logic to a package.

However, don't we need special configuration like the `org_id` for Fullstory to work?

[2022-03-01 16:54] elasticmachine commented on #126611
Pinging @elastic/fleet (Team:Fleet)

[2022-03-01 16:56] #126505 closed

[2022-03-01 16:57] afharo commented on #110638
@lukeelmers do you think it's worth changing the title and description so we know the remaining scope of the issue?

I think we are referring to:

[2022-03-01 16:59] brianmcgue commented on #126536
Probably need a PM to weigh in here. Doesn't seem like an issue to me, personally. Almost feels more like a Kibana decision than an Enterprise Search one.

[2022-03-01 17:05] lukeelmers commented on #110638
@afharo We've already removed the `To stop collection, disable usage data here` link on the page. The remaining task here from a UX perspective is to also remove the `To learn more about how usage data helps us manage and improve our products and services, see our Privacy Statement` link.

In order to do that, we need to align on the items you mention above (basically, designing a way to do this s